{
  "metadata": {
    "apiVersion": "2017-06-07",
    "endpointPrefix": "greengrass",
    "signingName": "greengrass",
    "serviceFullName": "AWS Greengrass",
    "serviceId": "Greengrass",
    "protocol": "rest-json",
    "jsonVersion": "1.1",
    "uid": "greengrass-2017-06-07",
    "signatureVersion": "v4",
    "auth": [
      "aws.auth#sigv4"
    ]
  },
  "operations": {
    "AssociateRoleToGroup": {
      "name": "AssociateRoleToGroup",
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/groups/{GroupId}/role",
        "responseCode": 200
      },
      "input": {
        "shape": "AssociateRoleToGroupRequest"
      },
      "output": {
        "shape": "AssociateRoleToGroupResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "server error"
        }
      ],
      "documentation": "Associates a role with a group. Your Greengrass core will use the role to access AWS cloud services. The role's permissions should allow Greengrass core Lambda functions to perform actions against the cloud."
    },
    "AssociateServiceRoleToAccount": {
      "name": "AssociateServiceRoleToAccount",
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/servicerole",
        "responseCode": 200
      },
      "input": {
        "shape": "AssociateServiceRoleToAccountRequest"
      },
      "output": {
        "shape": "AssociateServiceRoleToAccountResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "server error"
        }
      ],
      "documentation": "Associates a role with your account. AWS IoT Greengrass will use the role to access your Lambda functions and AWS IoT resources. This is necessary for deployments to succeed. The role must have at least minimum permissions in the policy ''AWSGreengrassResourceAccessRolePolicy''."
    },
    "CreateConnectorDefinition": {
      "name": "CreateConnectorDefinition",
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/definition/connectors",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateConnectorDefinitionRequest"
      },
      "output": {
        "shape": "CreateConnectorDefinitionResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Creates a connector definition. You may provide the initial version of the connector definition now or use ''CreateConnectorDefinitionVersion'' at a later time."
    },
    "CreateConnectorDefinitionVersion": {
      "name": "CreateConnectorDefinitionVersion",
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/definition/connectors/{ConnectorDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateConnectorDefinitionVersionRequest"
      },
      "output": {
        "shape": "CreateConnectorDefinitionVersionResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Creates a version of a connector definition which has already been defined."
    },
    "CreateCoreDefinition": {
      "name": "CreateCoreDefinition",
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/definition/cores",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateCoreDefinitionRequest"
      },
      "output": {
        "shape": "CreateCoreDefinitionResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Creates a core definition. You may provide the initial version of the core definition now or use ''CreateCoreDefinitionVersion'' at a later time. Greengrass groups must each contain exactly one Greengrass core."
    },
    "CreateCoreDefinitionVersion": {
      "name": "CreateCoreDefinitionVersion",
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/definition/cores/{CoreDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateCoreDefinitionVersionRequest"
      },
      "output": {
        "shape": "CreateCoreDefinitionVersionResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Creates a version of a core definition that has already been defined. Greengrass groups must each contain exactly one Greengrass core."
    },
    "CreateDeployment": {
      "name": "CreateDeployment",
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/groups/{GroupId}/deployments",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateDeploymentRequest"
      },
      "output": {
        "shape": "CreateDeploymentResponse",
        "documentation": "Success. The group was deployed."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Creates a deployment. ''CreateDeployment'' requests are idempotent with respect to the ''X-Amzn-Client-Token'' token and the request parameters."
    },
    "CreateDeviceDefinition": {
      "name": "CreateDeviceDefinition",
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/definition/devices",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateDeviceDefinitionRequest"
      },
      "output": {
        "shape": "CreateDeviceDefinitionResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Creates a device definition. You may provide the initial version of the device definition now or use ''CreateDeviceDefinitionVersion'' at a later time."
    },
    "CreateDeviceDefinitionVersion": {
      "name": "CreateDeviceDefinitionVersion",
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/definition/devices/{DeviceDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateDeviceDefinitionVersionRequest"
      },
      "output": {
        "shape": "CreateDeviceDefinitionVersionResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Creates a version of a device definition that has already been defined."
    },
    "CreateFunctionDefinition": {
      "name": "CreateFunctionDefinition",
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/definition/functions",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateFunctionDefinitionRequest"
      },
      "output": {
        "shape": "CreateFunctionDefinitionResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Creates a Lambda function definition which contains a list of Lambda functions and their configurations to be used in a group. You can create an initial version of the definition by providing a list of Lambda functions and their configurations now, or use ''CreateFunctionDefinitionVersion'' later."
    },
    "CreateFunctionDefinitionVersion": {
      "name": "CreateFunctionDefinitionVersion",
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/definition/functions/{FunctionDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateFunctionDefinitionVersionRequest"
      },
      "output": {
        "shape": "CreateFunctionDefinitionVersionResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Creates a version of a Lambda function definition that has already been defined."
    },
    "CreateGroup": {
      "name": "CreateGroup",
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/groups",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateGroupRequest"
      },
      "output": {
        "shape": "CreateGroupResponse",
        "documentation": "Success. The group was created."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Creates a group. You may provide the initial version of the group or use ''CreateGroupVersion'' at a later time. Tip: You can use the ''gg_group_setup'' package (https://github.com/awslabs/aws-greengrass-group-setup) as a library or command-line application to create and deploy Greengrass groups."
    },
    "CreateGroupCertificateAuthority": {
      "name": "CreateGroupCertificateAuthority",
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/groups/{GroupId}/certificateauthorities",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateGroupCertificateAuthorityRequest"
      },
      "output": {
        "shape": "CreateGroupCertificateAuthorityResponse",
        "documentation": "Success. The response body contains the new active CA ARN."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "server error"
        }
      ],
      "documentation": "Creates a CA for the group. If a CA already exists, it will rotate the existing CA."
    },
    "CreateGroupVersion": {
      "name": "CreateGroupVersion",
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/groups/{GroupId}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateGroupVersionRequest"
      },
      "output": {
        "shape": "CreateGroupVersionResponse",
        "documentation": "Success. The response contains information about the group version."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Creates a version of a group which has already been defined."
    },
    "CreateLoggerDefinition": {
      "name": "CreateLoggerDefinition",
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/definition/loggers",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateLoggerDefinitionRequest"
      },
      "output": {
        "shape": "CreateLoggerDefinitionResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Creates a logger definition. You may provide the initial version of the logger definition now or use ''CreateLoggerDefinitionVersion'' at a later time."
    },
    "CreateLoggerDefinitionVersion": {
      "name": "CreateLoggerDefinitionVersion",
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/definition/loggers/{LoggerDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateLoggerDefinitionVersionRequest"
      },
      "output": {
        "shape": "CreateLoggerDefinitionVersionResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Creates a version of a logger definition that has already been defined."
    },
    "CreateResourceDefinition": {
      "name": "CreateResourceDefinition",
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/definition/resources",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateResourceDefinitionRequest"
      },
      "output": {
        "shape": "CreateResourceDefinitionResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Creates a resource definition which contains a list of resources to be used in a group. You can create an initial version of the definition by providing a list of resources now, or use ''CreateResourceDefinitionVersion'' later."
    },
    "CreateResourceDefinitionVersion": {
      "name": "CreateResourceDefinitionVersion",
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/definition/resources/{ResourceDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateResourceDefinitionVersionRequest"
      },
      "output": {
        "shape": "CreateResourceDefinitionVersionResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Creates a version of a resource definition that has already been defined."
    },
    "CreateSoftwareUpdateJob": {
      "name": "CreateSoftwareUpdateJob",
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/updates",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateSoftwareUpdateJobRequest"
      },
      "output": {
        "shape": "CreateSoftwareUpdateJobResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "server error"
        }
      ],
      "documentation": "Creates a software update for a core or group of cores (specified as an IoT thing group.) Use this to update the OTA Agent as well as the Greengrass core software. It makes use of the IoT Jobs feature which provides additional commands to manage a Greengrass core software update job."
    },
    "CreateSubscriptionDefinition": {
      "name": "CreateSubscriptionDefinition",
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/definition/subscriptions",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateSubscriptionDefinitionRequest"
      },
      "output": {
        "shape": "CreateSubscriptionDefinitionResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Creates a subscription definition. You may provide the initial version of the subscription definition now or use ''CreateSubscriptionDefinitionVersion'' at a later time."
    },
    "CreateSubscriptionDefinitionVersion": {
      "name": "CreateSubscriptionDefinitionVersion",
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/definition/subscriptions/{SubscriptionDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateSubscriptionDefinitionVersionRequest"
      },
      "output": {
        "shape": "CreateSubscriptionDefinitionVersionResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Creates a version of a subscription definition which has already been defined."
    },
    "DeleteConnectorDefinition": {
      "name": "DeleteConnectorDefinition",
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/definition/connectors/{ConnectorDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteConnectorDefinitionRequest"
      },
      "output": {
        "shape": "DeleteConnectorDefinitionResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Deletes a connector definition."
    },
    "DeleteCoreDefinition": {
      "name": "DeleteCoreDefinition",
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/definition/cores/{CoreDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteCoreDefinitionRequest"
      },
      "output": {
        "shape": "DeleteCoreDefinitionResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Deletes a core definition."
    },
    "DeleteDeviceDefinition": {
      "name": "DeleteDeviceDefinition",
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/definition/devices/{DeviceDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteDeviceDefinitionRequest"
      },
      "output": {
        "shape": "DeleteDeviceDefinitionResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Deletes a device definition."
    },
    "DeleteFunctionDefinition": {
      "name": "DeleteFunctionDefinition",
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/definition/functions/{FunctionDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteFunctionDefinitionRequest"
      },
      "output": {
        "shape": "DeleteFunctionDefinitionResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Deletes a Lambda function definition."
    },
    "DeleteGroup": {
      "name": "DeleteGroup",
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/groups/{GroupId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteGroupRequest"
      },
      "output": {
        "shape": "DeleteGroupResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Deletes a group."
    },
    "DeleteLoggerDefinition": {
      "name": "DeleteLoggerDefinition",
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/definition/loggers/{LoggerDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteLoggerDefinitionRequest"
      },
      "output": {
        "shape": "DeleteLoggerDefinitionResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Deletes a logger definition."
    },
    "DeleteResourceDefinition": {
      "name": "DeleteResourceDefinition",
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/definition/resources/{ResourceDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteResourceDefinitionRequest"
      },
      "output": {
        "shape": "DeleteResourceDefinitionResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Deletes a resource definition."
    },
    "DeleteSubscriptionDefinition": {
      "name": "DeleteSubscriptionDefinition",
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/definition/subscriptions/{SubscriptionDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteSubscriptionDefinitionRequest"
      },
      "output": {
        "shape": "DeleteSubscriptionDefinitionResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Deletes a subscription definition."
    },
    "DisassociateRoleFromGroup": {
      "name": "DisassociateRoleFromGroup",
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/groups/{GroupId}/role",
        "responseCode": 200
      },
      "input": {
        "shape": "DisassociateRoleFromGroupRequest"
      },
      "output": {
        "shape": "DisassociateRoleFromGroupResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "server error"
        }
      ],
      "documentation": "Disassociates the role from a group."
    },
    "DisassociateServiceRoleFromAccount": {
      "name": "DisassociateServiceRoleFromAccount",
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/servicerole",
        "responseCode": 200
      },
      "input": {
        "shape": "DisassociateServiceRoleFromAccountRequest"
      },
      "output": {
        "shape": "DisassociateServiceRoleFromAccountResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "InternalServerErrorException",
          "documentation": "server error"
        }
      ],
      "documentation": "Disassociates the service role from your account. Without a service role, deployments will not work."
    },
    "GetAssociatedRole": {
      "name": "GetAssociatedRole",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/groups/{GroupId}/role",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAssociatedRoleRequest"
      },
      "output": {
        "shape": "GetAssociatedRoleResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "server error"
        }
      ],
      "documentation": "Retrieves the role associated with a particular group."
    },
    "GetBulkDeploymentStatus": {
      "name": "GetBulkDeploymentStatus",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/bulk/deployments/{BulkDeploymentId}/status",
        "responseCode": 200
      },
      "input": {
        "shape": "GetBulkDeploymentStatusRequest"
      },
      "output": {
        "shape": "GetBulkDeploymentStatusResponse",
        "documentation": "Success. The response body contains the status of the bulk deployment."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Returns the status of a bulk deployment."
    },
    "GetConnectivityInfo": {
      "name": "GetConnectivityInfo",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/things/{ThingName}/connectivityInfo",
        "responseCode": 200
      },
      "input": {
        "shape": "GetConnectivityInfoRequest"
      },
      "output": {
        "shape": "GetConnectivityInfoResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "server error"
        }
      ],
      "documentation": "Retrieves the connectivity information for a core."
    },
    "GetConnectorDefinition": {
      "name": "GetConnectorDefinition",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/connectors/{ConnectorDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetConnectorDefinitionRequest"
      },
      "output": {
        "shape": "GetConnectorDefinitionResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Retrieves information about a connector definition."
    },
    "GetConnectorDefinitionVersion": {
      "name": "GetConnectorDefinitionVersion",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/connectors/{ConnectorDefinitionId}/versions/{ConnectorDefinitionVersionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetConnectorDefinitionVersionRequest"
      },
      "output": {
        "shape": "GetConnectorDefinitionVersionResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Retrieves information about a connector definition version, including the connectors that the version contains. Connectors are prebuilt modules that interact with local infrastructure, device protocols, AWS, and other cloud services."
    },
    "GetCoreDefinition": {
      "name": "GetCoreDefinition",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/cores/{CoreDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetCoreDefinitionRequest"
      },
      "output": {
        "shape": "GetCoreDefinitionResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Retrieves information about a core definition version."
    },
    "GetCoreDefinitionVersion": {
      "name": "GetCoreDefinitionVersion",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/cores/{CoreDefinitionId}/versions/{CoreDefinitionVersionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetCoreDefinitionVersionRequest"
      },
      "output": {
        "shape": "GetCoreDefinitionVersionResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Retrieves information about a core definition version."
    },
    "GetDeploymentStatus": {
      "name": "GetDeploymentStatus",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/groups/{GroupId}/deployments/{DeploymentId}/status",
        "responseCode": 200
      },
      "input": {
        "shape": "GetDeploymentStatusRequest"
      },
      "output": {
        "shape": "GetDeploymentStatusResponse",
        "documentation": "Success. The response body contains the status of the deployment for the group."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Returns the status of a deployment."
    },
    "GetDeviceDefinition": {
      "name": "GetDeviceDefinition",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/devices/{DeviceDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetDeviceDefinitionRequest"
      },
      "output": {
        "shape": "GetDeviceDefinitionResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Retrieves information about a device definition."
    },
    "GetDeviceDefinitionVersion": {
      "name": "GetDeviceDefinitionVersion",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/devices/{DeviceDefinitionId}/versions/{DeviceDefinitionVersionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetDeviceDefinitionVersionRequest"
      },
      "output": {
        "shape": "GetDeviceDefinitionVersionResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Retrieves information about a device definition version."
    },
    "GetFunctionDefinition": {
      "name": "GetFunctionDefinition",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/functions/{FunctionDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFunctionDefinitionRequest"
      },
      "output": {
        "shape": "GetFunctionDefinitionResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Retrieves information about a Lambda function definition, including its creation time and latest version."
    },
    "GetFunctionDefinitionVersion": {
      "name": "GetFunctionDefinitionVersion",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/functions/{FunctionDefinitionId}/versions/{FunctionDefinitionVersionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFunctionDefinitionVersionRequest"
      },
      "output": {
        "shape": "GetFunctionDefinitionVersionResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Retrieves information about a Lambda function definition version, including which Lambda functions are included in the version and their configurations."
    },
    "GetGroup": {
      "name": "GetGroup",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/groups/{GroupId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetGroupRequest"
      },
      "output": {
        "shape": "GetGroupResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Retrieves information about a group."
    },
    "GetGroupCertificateAuthority": {
      "name": "GetGroupCertificateAuthority",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/groups/{GroupId}/certificateauthorities/{CertificateAuthorityId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetGroupCertificateAuthorityRequest"
      },
      "output": {
        "shape": "GetGroupCertificateAuthorityResponse",
        "documentation": "Success. The response body contains the PKI Configuration."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "server error"
        }
      ],
      "documentation": "Retreives the CA associated with a group. Returns the public key of the CA."
    },
    "GetGroupCertificateConfiguration": {
      "name": "GetGroupCertificateConfiguration",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/groups/{GroupId}/certificateauthorities/configuration/expiry",
        "responseCode": 200
      },
      "input": {
        "shape": "GetGroupCertificateConfigurationRequest"
      },
      "output": {
        "shape": "GetGroupCertificateConfigurationResponse",
        "documentation": "Success. The response body contains the PKI Configuration."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "server error"
        }
      ],
      "documentation": "Retrieves the current configuration for the CA used by the group."
    },
    "GetGroupVersion": {
      "name": "GetGroupVersion",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/groups/{GroupId}/versions/{GroupVersionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetGroupVersionRequest"
      },
      "output": {
        "shape": "GetGroupVersionResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Retrieves information about a group version."
    },
    "GetLoggerDefinition": {
      "name": "GetLoggerDefinition",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/loggers/{LoggerDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetLoggerDefinitionRequest"
      },
      "output": {
        "shape": "GetLoggerDefinitionResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Retrieves information about a logger definition."
    },
    "GetLoggerDefinitionVersion": {
      "name": "GetLoggerDefinitionVersion",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/loggers/{LoggerDefinitionId}/versions/{LoggerDefinitionVersionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetLoggerDefinitionVersionRequest"
      },
      "output": {
        "shape": "GetLoggerDefinitionVersionResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Retrieves information about a logger definition version."
    },
    "GetResourceDefinition": {
      "name": "GetResourceDefinition",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/resources/{ResourceDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetResourceDefinitionRequest"
      },
      "output": {
        "shape": "GetResourceDefinitionResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Retrieves information about a resource definition, including its creation time and latest version."
    },
    "GetResourceDefinitionVersion": {
      "name": "GetResourceDefinitionVersion",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/resources/{ResourceDefinitionId}/versions/{ResourceDefinitionVersionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetResourceDefinitionVersionRequest"
      },
      "output": {
        "shape": "GetResourceDefinitionVersionResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Retrieves information about a resource definition version, including which resources are included in the version."
    },
    "GetServiceRoleForAccount": {
      "name": "GetServiceRoleForAccount",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/servicerole",
        "responseCode": 200
      },
      "input": {
        "shape": "GetServiceRoleForAccountRequest"
      },
      "output": {
        "shape": "GetServiceRoleForAccountResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "InternalServerErrorException",
          "documentation": "server error"
        }
      ],
      "documentation": "Retrieves the service role that is attached to your account."
    },
    "GetSubscriptionDefinition": {
      "name": "GetSubscriptionDefinition",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/subscriptions/{SubscriptionDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSubscriptionDefinitionRequest"
      },
      "output": {
        "shape": "GetSubscriptionDefinitionResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Retrieves information about a subscription definition."
    },
    "GetSubscriptionDefinitionVersion": {
      "name": "GetSubscriptionDefinitionVersion",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/subscriptions/{SubscriptionDefinitionId}/versions/{SubscriptionDefinitionVersionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSubscriptionDefinitionVersionRequest"
      },
      "output": {
        "shape": "GetSubscriptionDefinitionVersionResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Retrieves information about a subscription definition version."
    },
    "GetThingRuntimeConfiguration": {
      "name": "GetThingRuntimeConfiguration",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/things/{ThingName}/runtimeconfig",
        "responseCode": 200
      },
      "input": {
        "shape": "GetThingRuntimeConfigurationRequest"
      },
      "output": {
        "shape": "GetThingRuntimeConfigurationResponse",
        "documentation": "Success. The response contains the runtime configuration for the given thing."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "server error"
        }
      ],
      "documentation": "Get the runtime configuration of a thing."
    },
    "ListBulkDeploymentDetailedReports": {
      "name": "ListBulkDeploymentDetailedReports",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/bulk/deployments/{BulkDeploymentId}/detailed-reports",
        "responseCode": 200
      },
      "input": {
        "shape": "ListBulkDeploymentDetailedReportsRequest"
      },
      "output": {
        "shape": "ListBulkDeploymentDetailedReportsResponse",
        "documentation": "Success. The response body contains the list of deployments for the given group."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Gets a paginated list of the deployments that have been started in a bulk deployment operation, and their current deployment status."
    },
    "ListBulkDeployments": {
      "name": "ListBulkDeployments",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/bulk/deployments",
        "responseCode": 200
      },
      "input": {
        "shape": "ListBulkDeploymentsRequest"
      },
      "output": {
        "shape": "ListBulkDeploymentsResponse",
        "documentation": "Success. The response body contains the list of bulk deployments."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Returns a list of bulk deployments."
    },
    "ListConnectorDefinitionVersions": {
      "name": "ListConnectorDefinitionVersions",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/connectors/{ConnectorDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListConnectorDefinitionVersionsRequest"
      },
      "output": {
        "shape": "ListConnectorDefinitionVersionsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Lists the versions of a connector definition, which are containers for connectors. Connectors run on the Greengrass core and contain built-in integration with local infrastructure, device protocols, AWS, and other cloud services."
    },
    "ListConnectorDefinitions": {
      "name": "ListConnectorDefinitions",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/connectors",
        "responseCode": 200
      },
      "input": {
        "shape": "ListConnectorDefinitionsRequest"
      },
      "output": {
        "shape": "ListConnectorDefinitionsResponse"
      },
      "errors": [],
      "documentation": "Retrieves a list of connector definitions."
    },
    "ListCoreDefinitionVersions": {
      "name": "ListCoreDefinitionVersions",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/cores/{CoreDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListCoreDefinitionVersionsRequest"
      },
      "output": {
        "shape": "ListCoreDefinitionVersionsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Lists the versions of a core definition."
    },
    "ListCoreDefinitions": {
      "name": "ListCoreDefinitions",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/cores",
        "responseCode": 200
      },
      "input": {
        "shape": "ListCoreDefinitionsRequest"
      },
      "output": {
        "shape": "ListCoreDefinitionsResponse"
      },
      "errors": [],
      "documentation": "Retrieves a list of core definitions."
    },
    "ListDeployments": {
      "name": "ListDeployments",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/groups/{GroupId}/deployments",
        "responseCode": 200
      },
      "input": {
        "shape": "ListDeploymentsRequest"
      },
      "output": {
        "shape": "ListDeploymentsResponse",
        "documentation": "Success. The response body contains the list of deployments for the given group."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Returns a history of deployments for the group."
    },
    "ListDeviceDefinitionVersions": {
      "name": "ListDeviceDefinitionVersions",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/devices/{DeviceDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListDeviceDefinitionVersionsRequest"
      },
      "output": {
        "shape": "ListDeviceDefinitionVersionsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Lists the versions of a device definition."
    },
    "ListDeviceDefinitions": {
      "name": "ListDeviceDefinitions",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/devices",
        "responseCode": 200
      },
      "input": {
        "shape": "ListDeviceDefinitionsRequest"
      },
      "output": {
        "shape": "ListDeviceDefinitionsResponse"
      },
      "errors": [],
      "documentation": "Retrieves a list of device definitions."
    },
    "ListFunctionDefinitionVersions": {
      "name": "ListFunctionDefinitionVersions",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/functions/{FunctionDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListFunctionDefinitionVersionsRequest"
      },
      "output": {
        "shape": "ListFunctionDefinitionVersionsResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Lists the versions of a Lambda function definition."
    },
    "ListFunctionDefinitions": {
      "name": "ListFunctionDefinitions",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/functions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListFunctionDefinitionsRequest"
      },
      "output": {
        "shape": "ListFunctionDefinitionsResponse",
        "documentation": "Success. The response contains the IDs of all the Greengrass Lambda function definitions in this account."
      },
      "errors": [],
      "documentation": "Retrieves a list of Lambda function definitions."
    },
    "ListGroupCertificateAuthorities": {
      "name": "ListGroupCertificateAuthorities",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/groups/{GroupId}/certificateauthorities",
        "responseCode": 200
      },
      "input": {
        "shape": "ListGroupCertificateAuthoritiesRequest"
      },
      "output": {
        "shape": "ListGroupCertificateAuthoritiesResponse",
        "documentation": "Success. The response body contains the PKI Configuration."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "server error"
        }
      ],
      "documentation": "Retrieves the current CAs for a group."
    },
    "ListGroupVersions": {
      "name": "ListGroupVersions",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/groups/{GroupId}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListGroupVersionsRequest"
      },
      "output": {
        "shape": "ListGroupVersionsResponse",
        "documentation": "Success. The response contains the list of versions and metadata for the given group."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Lists the versions of a group."
    },
    "ListGroups": {
      "name": "ListGroups",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/groups",
        "responseCode": 200
      },
      "input": {
        "shape": "ListGroupsRequest"
      },
      "output": {
        "shape": "ListGroupsResponse"
      },
      "errors": [],
      "documentation": "Retrieves a list of groups."
    },
    "ListLoggerDefinitionVersions": {
      "name": "ListLoggerDefinitionVersions",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/loggers/{LoggerDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListLoggerDefinitionVersionsRequest"
      },
      "output": {
        "shape": "ListLoggerDefinitionVersionsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Lists the versions of a logger definition."
    },
    "ListLoggerDefinitions": {
      "name": "ListLoggerDefinitions",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/loggers",
        "responseCode": 200
      },
      "input": {
        "shape": "ListLoggerDefinitionsRequest"
      },
      "output": {
        "shape": "ListLoggerDefinitionsResponse"
      },
      "errors": [],
      "documentation": "Retrieves a list of logger definitions."
    },
    "ListResourceDefinitionVersions": {
      "name": "ListResourceDefinitionVersions",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/resources/{ResourceDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListResourceDefinitionVersionsRequest"
      },
      "output": {
        "shape": "ListResourceDefinitionVersionsResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Lists the versions of a resource definition."
    },
    "ListResourceDefinitions": {
      "name": "ListResourceDefinitions",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/resources",
        "responseCode": 200
      },
      "input": {
        "shape": "ListResourceDefinitionsRequest"
      },
      "output": {
        "shape": "ListResourceDefinitionsResponse",
        "documentation": "The IDs of all the Greengrass resource definitions in this account."
      },
      "errors": [],
      "documentation": "Retrieves a list of resource definitions."
    },
    "ListSubscriptionDefinitionVersions": {
      "name": "ListSubscriptionDefinitionVersions",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/subscriptions/{SubscriptionDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListSubscriptionDefinitionVersionsRequest"
      },
      "output": {
        "shape": "ListSubscriptionDefinitionVersionsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Lists the versions of a subscription definition."
    },
    "ListSubscriptionDefinitions": {
      "name": "ListSubscriptionDefinitions",
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/subscriptions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListSubscriptionDefinitionsRequest"
      },
      "output": {
        "shape": "ListSubscriptionDefinitionsResponse"
      },
      "errors": [],
      "documentation": "Retrieves a list of subscription definitions."
    },
    "ListTagsForResource": {
      "name": "ListTagsForResource",
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resource-arn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "output": {
        "shape": "ListTagsForResourceResponse",
        "documentation": "HTTP Status Code 200: OK."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Retrieves a list of resource tags for a resource arn."
    },
    "ResetDeployments": {
      "name": "ResetDeployments",
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/groups/{GroupId}/deployments/$reset",
        "responseCode": 200
      },
      "input": {
        "shape": "ResetDeploymentsRequest"
      },
      "output": {
        "shape": "ResetDeploymentsResponse",
        "documentation": "Success. The group's deployments were reset."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Resets a group's deployments."
    },
    "StartBulkDeployment": {
      "name": "StartBulkDeployment",
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/bulk/deployments",
        "responseCode": 200
      },
      "input": {
        "shape": "StartBulkDeploymentRequest"
      },
      "output": {
        "shape": "StartBulkDeploymentResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Deploys multiple groups in one operation. This action starts the bulk deployment of a specified set of group versions. Each group version deployment will be triggered with an adaptive rate that has a fixed upper limit. We recommend that you include an ''X-Amzn-Client-Token'' token in every ''StartBulkDeployment'' request. These requests are idempotent with respect to the token and the request parameters."
    },
    "StopBulkDeployment": {
      "name": "StopBulkDeployment",
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/bulk/deployments/{BulkDeploymentId}/$stop",
        "responseCode": 200
      },
      "input": {
        "shape": "StopBulkDeploymentRequest"
      },
      "output": {
        "shape": "StopBulkDeploymentResponse",
        "documentation": "Success. The bulk deployment is being stopped."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Stops the execution of a bulk deployment. This action returns a status of ''Stopping'' until the deployment is stopped. You cannot start a new bulk deployment while a previous deployment is in the ''Stopping'' state. This action doesn't rollback completed deployments or cancel pending deployments."
    },
    "TagResource": {
      "name": "TagResource",
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Adds tags to a Greengrass resource. Valid resources are 'Group', 'ConnectorDefinition', 'CoreDefinition', 'DeviceDefinition', 'FunctionDefinition', 'LoggerDefinition', 'SubscriptionDefinition', 'ResourceDefinition', and 'BulkDeployment'."
    },
    "UntagResource": {
      "name": "UntagResource",
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Remove resource tags from a Greengrass Resource."
    },
    "UpdateConnectivityInfo": {
      "name": "UpdateConnectivityInfo",
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/things/{ThingName}/connectivityInfo",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateConnectivityInfoRequest"
      },
      "output": {
        "shape": "UpdateConnectivityInfoResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "server error"
        }
      ],
      "documentation": "Updates the connectivity information for the core. Any devices that belong to the group which has this core will receive this information in order to find the location of the core and connect to it."
    },
    "UpdateConnectorDefinition": {
      "name": "UpdateConnectorDefinition",
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/definition/connectors/{ConnectorDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateConnectorDefinitionRequest"
      },
      "output": {
        "shape": "UpdateConnectorDefinitionResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Updates a connector definition."
    },
    "UpdateCoreDefinition": {
      "name": "UpdateCoreDefinition",
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/definition/cores/{CoreDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateCoreDefinitionRequest"
      },
      "output": {
        "shape": "UpdateCoreDefinitionResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Updates a core definition."
    },
    "UpdateDeviceDefinition": {
      "name": "UpdateDeviceDefinition",
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/definition/devices/{DeviceDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateDeviceDefinitionRequest"
      },
      "output": {
        "shape": "UpdateDeviceDefinitionResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Updates a device definition."
    },
    "UpdateFunctionDefinition": {
      "name": "UpdateFunctionDefinition",
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/definition/functions/{FunctionDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateFunctionDefinitionRequest"
      },
      "output": {
        "shape": "UpdateFunctionDefinitionResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Updates a Lambda function definition."
    },
    "UpdateGroup": {
      "name": "UpdateGroup",
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/groups/{GroupId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateGroupRequest"
      },
      "output": {
        "shape": "UpdateGroupResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Updates a group."
    },
    "UpdateGroupCertificateConfiguration": {
      "name": "UpdateGroupCertificateConfiguration",
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/groups/{GroupId}/certificateauthorities/configuration/expiry",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateGroupCertificateConfigurationRequest"
      },
      "output": {
        "shape": "UpdateGroupCertificateConfigurationResponse",
        "documentation": "Success. The response body contains the PKI Configuration."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "server error"
        }
      ],
      "documentation": "Updates the Certificate expiry time for a group."
    },
    "UpdateLoggerDefinition": {
      "name": "UpdateLoggerDefinition",
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/definition/loggers/{LoggerDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateLoggerDefinitionRequest"
      },
      "output": {
        "shape": "UpdateLoggerDefinitionResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Updates a logger definition."
    },
    "UpdateResourceDefinition": {
      "name": "UpdateResourceDefinition",
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/definition/resources/{ResourceDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateResourceDefinitionRequest"
      },
      "output": {
        "shape": "UpdateResourceDefinitionResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Updates a resource definition."
    },
    "UpdateSubscriptionDefinition": {
      "name": "UpdateSubscriptionDefinition",
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/definition/subscriptions/{SubscriptionDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateSubscriptionDefinitionRequest"
      },
      "output": {
        "shape": "UpdateSubscriptionDefinitionResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        }
      ],
      "documentation": "Updates a subscription definition."
    },
    "UpdateThingRuntimeConfiguration": {
      "name": "UpdateThingRuntimeConfiguration",
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/things/{ThingName}/runtimeconfig",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateThingRuntimeConfigurationRequest"
      },
      "output": {
        "shape": "UpdateThingRuntimeConfigurationResponse",
        "documentation": "success"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "invalid request"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "server error"
        }
      ],
      "documentation": "Updates the runtime configuration of a thing."
    }
  },
  "shapes": {
    "AssociateRoleToGroupRequest": {
      "type": "structure",
      "members": {
        "GroupId": {
          "shape": "__string",
          "location": "uri",
          "locationName": "GroupId",
          "documentation": "The ID of the Greengrass group."
        },
        "RoleArn": {
          "shape": "__string",
          "documentation": "The ARN of the role you wish to associate with this group. The existence of the role is not validated."
        }
      },
      "required": [
        "GroupId",
        "RoleArn"
      ]
    },
    "AssociateRoleToGroupResponse": {
      "type": "structure",
      "members": {
        "AssociatedAt": {
          "shape": "__string",
          "documentation": "The time, in milliseconds since the epoch, when the role ARN was associated with the group."
        }
      }
    },
    "AssociateServiceRoleToAccountRequest": {
      "type": "structure",
      "members": {
        "RoleArn": {
          "shape": "__string",
          "documentation": "The ARN of the service role you wish to associate with your account."
        }
      },
      "required": [
        "RoleArn"
      ]
    },
    "AssociateServiceRoleToAccountResponse": {
      "type": "structure",
      "members": {
        "AssociatedAt": {
          "shape": "__string",
          "documentation": "The time when the service role was associated with the account."
        }
      }
    },
    "BadRequestException": {
      "type": "structure",
      "members": {
        "ErrorDetails": {
          "shape": "ErrorDetails",
          "documentation": "Details about the error."
        },
        "Message": {
          "shape": "__string",
          "documentation": "A message containing information about the error."
        }
      },
      "documentation": "General error information.",
      "exception": true,
      "error": {
        "httpStatusCode": 400
      }
    },
    "BulkDeployment": {
      "type": "structure",
      "members": {
        "BulkDeploymentArn": {
          "shape": "__string",
          "documentation": "The ARN of the bulk deployment."
        },
        "BulkDeploymentId": {
          "shape": "__string",
          "documentation": "The ID of the bulk deployment."
        },
        "CreatedAt": {
          "shape": "__string",
          "documentation": "The time, in ISO format, when the deployment was created."
        }
      },
      "documentation": "Information about a bulk deployment. You cannot start a new bulk deployment while another one is still running or in a non-terminal state."
    },
    "BulkDeploymentMetrics": {
      "type": "structure",
      "members": {
        "InvalidInputRecords": {
          "shape": "__integer",
          "documentation": "The total number of records that returned a non-retryable error. For example, this can occur if a group record from the input file uses an invalid format or specifies a nonexistent group version, or if the execution role doesn't grant permission to deploy a group or group version."
        },
        "RecordsProcessed": {
          "shape": "__integer",
          "documentation": "The total number of group records from the input file that have been processed so far, or attempted."
        },
        "RetryAttempts": {
          "shape": "__integer",
          "documentation": "The total number of deployment attempts that returned a retryable error. For example, a retry is triggered if the attempt to deploy a group returns a throttling error. ''StartBulkDeployment'' retries a group deployment up to five times."
        }
      },
      "documentation": "Relevant metrics on input records processed during bulk deployment."
    },
    "BulkDeploymentResult": {
      "type": "structure",
      "members": {
        "CreatedAt": {
          "shape": "__string",
          "documentation": "The time, in ISO format, when the deployment was created."
        },
        "DeploymentArn": {
          "shape": "__string",
          "documentation": "The ARN of the group deployment."
        },
        "DeploymentId": {
          "shape": "__string",
          "documentation": "The ID of the group deployment."
        },
        "DeploymentStatus": {
          "shape": "__string",
          "documentation": "The current status of the group deployment: ''InProgress'', ''Building'', ''Success'', or ''Failure''."
        },
        "DeploymentType": {
          "shape": "DeploymentType",
          "documentation": "The type of the deployment."
        },
        "ErrorDetails": {
          "shape": "ErrorDetails",
          "documentation": "Details about the error."
        },
        "ErrorMessage": {
          "shape": "__string",
          "documentation": "The error message for a failed deployment"
        },
        "GroupArn": {
          "shape": "__string",
          "documentation": "The ARN of the Greengrass group."
        }
      },
      "documentation": "Information about an individual group deployment in a bulk deployment operation."
    },
    "BulkDeploymentResults": {
      "type": "list",
      "member": {
        "shape": "BulkDeploymentResult"
      }
    },
    "BulkDeploymentStatus": {
      "type": "string",
      "documentation": "The current status of the bulk deployment.",
      "enum": [
        "Initializing",
        "Running",
        "Completed",
        "Stopping",
        "Stopped",
        "Failed"
      ]
    },
    "BulkDeployments": {
      "type": "list",
      "member": {
        "shape": "BulkDeployment"
      }
    },
    "ConfigurationSyncStatus": {
      "type": "string",
      "enum": [
        "InSync",
        "OutOfSync"
      ]
    },
    "ConnectivityInfo": {
      "type": "structure",
      "members": {
        "HostAddress": {
          "shape": "__string",
          "documentation": "The endpoint for the Greengrass core. Can be an IP address or DNS."
        },
        "Id": {
          "shape": "__string",
          "documentation": "The ID of the connectivity information."
        },
        "Metadata": {
          "shape": "__string",
          "documentation": "Metadata for this endpoint."
        },
        "PortNumber": {
          "shape": "__integer",
          "documentation": "The port of the Greengrass core. Usually 8883."
        }
      },
      "documentation": "Information about a Greengrass core's connectivity."
    },
    "Connector": {
      "type": "structure",
      "members": {
        "ConnectorArn": {
          "shape": "__string",
          "documentation": "The ARN of the connector."
        },
        "Id": {
          "shape": "__string",
          "documentation": "A descriptive or arbitrary ID for the connector. This value must be unique within the connector definition version. Max length is 128 characters with pattern [a-zA-Z0-9:_-]+."
        },
        "Parameters": {
          "shape": "__mapOf__string",
          "documentation": "The parameters or configuration that the connector uses."
        }
      },
      "documentation": "Information about a connector. Connectors run on the Greengrass core and contain built-in integration with local infrastructure, device protocols, AWS, and other cloud services.",
      "required": [
        "ConnectorArn",
        "Id"
      ]
    },
    "ConnectorDefinitionVersion": {
      "type": "structure",
      "members": {
        "Connectors": {
          "shape": "__listOfConnector",
          "documentation": "A list of references to connectors in this version, with their corresponding configuration settings."
        }
      },
      "documentation": "Information about the connector definition version, which is a container for connectors."
    },
    "Core": {
      "type": "structure",
      "members": {
        "CertificateArn": {
          "shape": "__string",
          "documentation": "The ARN of the certificate associated with the core."
        },
        "Id": {
          "shape": "__string",
          "documentation": "A descriptive or arbitrary ID for the core. This value must be unique within the core definition version. Max length is 128 characters with pattern ''[a-zA-Z0-9:_-]+''."
        },
        "SyncShadow": {
          "shape": "__boolean",
          "documentation": "If true, the core's local shadow is automatically synced with the cloud."
        },
        "ThingArn": {
          "shape": "__string",
          "documentation": "The ARN of the thing which is the core."
        }
      },
      "documentation": "Information about a core.",
      "required": [
        "ThingArn",
        "Id",
        "CertificateArn"
      ]
    },
    "CoreDefinitionVersion": {
      "type": "structure",
      "members": {
        "Cores": {
          "shape": "__listOfCore",
          "documentation": "A list of cores in the core definition version."
        }
      },
      "documentation": "Information about a core definition version."
    },
    "CreateConnectorDefinitionRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "shape": "__string",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "documentation": "A client token used to correlate requests and responses."
        },
        "InitialVersion": {
          "shape": "ConnectorDefinitionVersion",
          "documentation": "Information about the initial version of the connector definition."
        },
        "Name": {
          "shape": "__string",
          "documentation": "The name of the connector definition."
        },
        "tags": {
          "shape": "Tags",
          "documentation": "Tag(s) to add to the new resource."
        }
      }
    },
    "CreateConnectorDefinitionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "__string",
          "documentation": "The ARN of the definition."
        },
        "CreationTimestamp": {
          "shape": "__string",
          "documentation": "The time, in milliseconds since the epoch, when the definition was created."
        },
        "Id": {
          "shape": "__string",
          "documentation": "The ID of the definition."
        },
        "LastUpdatedTimestamp": {
          "shape": "__string",
          "documentation": "The time, in milliseconds since the epoch, when the definition was last updated."
        },
        "LatestVersion": {
          "shape": "__string",
          "documentation": "The ID of the latest version associated with the definition."
        },
        "LatestVersionArn": {
          "shape": "__string",
          "documentation": "The ARN of the latest version associated with the definition."
        },
        "Name": {
          "shape": "__string",
          "documentation": "The name of the definition."
        }
      }
    },
    "CreateConnectorDefinitionVersionRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "shape": "__string",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "documentation": "A client token used to correlate requests and responses."
        },
        "ConnectorDefinitionId": {
          "shape": "__string",
          "location": "uri",
          "locationName": "ConnectorDefinitionId",
          "documentation": "The ID of the connector definition."
        },
        "Connectors": {
          "shape": "__listOfConnector",
          "documentation": "A list of references to connectors in this version, with their corresponding configuration settings."
        }
      },
      "required": [
        "ConnectorDefinitionId"
      ]
    },
    "CreateConnectorDefinitionVersionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "__string",
          "documentation": "The ARN of the version."
        },
        "CreationTimestamp": {
          "shape": "__string",
          "documentation": "The time, in milliseconds since the epoch, when the version was created."
        },
        "Id": {
          "shape": "__string",
          "documentation": "The ID of the parent definition that the version is associated with."
        },
        "Version": {
          "shape": "__string",
          "documentation": "The ID of the version."
        }
      }
    },
    "CreateCoreDefinitionRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "shape": "__string",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "documentation": "A client token used to correlate requests and responses."
        },
        "InitialVersion": {
          "shape": "CoreDefinitionVersion",
          "documentation": "Information about the initial version of the core definition."
        },
        "Name": {
          "shape": "__string",
          "documentation": "The name of the core definition."
        },
        "tags": {
          "shape": "Tags",
          "documentation": "Tag(s) to add to the new resource."
        }
      },
      "documentation": "Information needed to create a core definition."
    },
    "CreateCoreDefinitionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "__string",
          "documentation": "The ARN of the definition."
        },
        "CreationTimestamp": {
          "shape": "__string",
          "documentation": "The time, in milliseconds since the epoch, when the definition was created."
        },
        "Id": {
          "shape": "__string",
          "documentation": "The ID of the definition."
        },
        "LastUpdatedTimestamp": {
          "shape": "__string",
          "documentation": "The time, in milliseconds since the epoch, when the definition was last updated."
        },
        "LatestVersion": {
          "shape": "__string",
          "documentation": "The ID of the latest version associated with the definition."
        },
        "LatestVersionArn": {
          "shape": "__string",
          "documentation": "The ARN of the latest version associated with the definition."
        },
        "Name": {
          "shape": "__string",
          "documentation": "The name of the definition."
        }
      }
    },
    "CreateCoreDefinitionVersionRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "shape": "__string",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "documentation": "A client token used to correlate requests and responses."
        },
        "CoreDefinitionId": {
          "shape": "__string",
          "location": "uri",
          "locationName": "CoreDefinitionId",
          "documentation": "The ID of the core definition."
        },
        "Cores": {
          "shape": "__listOfCore",
          "documentation": "A list of cores in the core definition version."
        }
      },
      "required": [
        "CoreDefinitionId"
      ]
    },
    "CreateCoreDefinitionVersionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "__string",
          "documentation": "The ARN of the version."
        },
        "CreationTimestamp": {
          "shape": "__string",
          "documentation": "The time, in milliseconds since the epoch, when the version was created."
        },
        "Id": {
          "shape": "__string",
          "documentation": "The ID of the parent definition that the version is associated with."
        },
        "Version": {
          "shape": "__string",
          "documentation": "The ID of the version."
        }
      }
    },
    "CreateDeploymentRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "shape": "__string",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "documentation": "A client token used to correlate requests and responses."
        },
        "DeploymentId": {
          "shape": "__string",
          "documentation": "The ID of the deployment if you wish to redeploy a previous deployment."
        },
        "DeploymentType": {
          "shape": "DeploymentType",
          "documentation": "The type of deployment. When used for ''CreateDeployment'', only ''NewDeployment'' and ''Redeployment'' are valid."
        },
        "GroupId": {
          "shape": "__string",
          "location": "uri",
          "locationName": "GroupId",
          "documentation": "The ID of the Greengrass group."
        },
        "GroupVersionId": {
          "shape": "__string",
          "documentation": "The ID of the group version to be deployed."
        }
      },
      "required": [
        "GroupId",
        "DeploymentType"
      ]
    },
    "CreateDeploymentResponse": {
      "type": "structure",
      "members": {
        "DeploymentArn": {
          "shape": "__string",
          "documentation": "The ARN of the deployment."
        },
        "DeploymentId": {
          "shape": "__string",
          "documentation": "The ID of the deployment."
        }
      }
    },
    "CreateDeviceDefinitionRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "shape": "__string",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "documentation": "A client token used to correlate requests and responses."
        },
        "InitialVersion": {
          "shape": "DeviceDefinitionVersion",
          "documentation": "Information about the initial version of the device definition."
        },
        "Name": {
          "shape": "__string",
          "documentation": "The name of the device definition."
        },
        "tags": {
          "shape": "Tags",
          "documentation": "Tag(s) to add to the new resource."
        }
      }
    },
    "CreateDeviceDefinitionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "__string",
          "documentation": "The ARN of the definition."
        },
        "CreationTimestamp": {
          "shape": "__string",
          "documentation": "The time, in milliseconds since the epoch, when the definition was created."
        },
        "Id": {
          "shape": "__string",
          "documentation": "The ID of the definition."
        },
        "LastUpdatedTimestamp": {
          "shape": "__string",
          "documentation": "The time, in milliseconds since the epoch, when the definition was last updated."
        },
        "LatestVersion": {
          "shape": "__string",
          "documentation": "The ID of the latest version associated with the definition."
        },
        "LatestVersionArn": {
          "shape": "__string",
          "documentation": "The ARN of the latest version associated with the definition."
        },
        "Name": {
          "shape": "__string",
          "documentation": "The name of the definition."
        }
      }
    },
    "CreateDeviceDefinitionVersionRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "shape": "__string",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "documentation": "A client token used to correlate requests and responses."
        },
        "DeviceDefinitionId": {
          "shape": "__string",
          "location": "uri",
          "locationName": "DeviceDefinitionId",
          "documentation": "The ID of the device definition."
        },
        "Devices": {
          "shape": "__listOfDevice",
          "documentation": "A list of devices in the definition version."
        }
      },
      "required": [
        "DeviceDefinitionId"
      ]
    },
    "CreateDeviceDefinitionVersionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "__string",
          "documentation": "The ARN of the version."
        },
        "CreationTimestamp": {
          "shape": "__string",
          "documentation": "The time, in milliseconds since the epoch, when the version was created."
        },
        "Id": {
          "shape": "__string",
          "documentation": "The ID of the parent definition that the version is associated with."
        },
        "Version": {
          "shape": "__string",
          "documentation": "The ID of the version."
        }
      }
    },
    "CreateFunctionDefinitionRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "shape": "__string",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "documentation": "A client token used to correlate requests and responses."
        },
        "InitialVersion": {
          "shape": "FunctionDefinitionVersion",
          "documentation": "Information about the initial version of the function definition."
        },
        "Name": {
          "shape": "__string",
          "documentation": "The name of the function definition."
        },
        "tags": {
          "shape": "Tags",
          "documentation": "Tag(s) to add to the new resource."
        }
      }
    },
    "CreateFunctionDefinitionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "__string",
          "documentation": "The ARN of the definition."
        },
        "CreationTimestamp": {
          "shape": "__string",
          "documentation": "The time, in milliseconds since the epoch, when the definition was created."
        },
        "Id": {
          "shape": "__string",
          "documentation": "The ID of the definition."
        },
        "LastUpdatedTimestamp": {
          "shape": "__string",
          "documentation": "The time, in milliseconds since the epoch, when the definition was last updated."
        },
        "LatestVersion": {
          "shape": "__string",
          "documentation": "The ID of the latest version associated with the definition."
        },
        "LatestVersionArn": {
          "shape": "__string",
          "documentation": "The ARN of the latest version associated with the definition."
        },
        "Name": {
          "shape": "__string",
          "documentation": "The name of the definition."
        }
      }
    },
    "CreateFunctionDefinitionVersionRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "shape": "__string",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "documentation": "A client token used to correlate requests and responses."
        },
        "DefaultConfig": {
          "shape": "FunctionDefaultConfig",
          "documentation": "The default configuration that applies to all Lambda functions in this function definition version. Individual Lambda functions can override these settings."
        },
        "FunctionDefinitionId": {
          "shape": "__string",
          "location": "uri",
          "locationName": "FunctionDefinitionId",
          "documentation": "The ID of the Lambda function definition."
        },
        "Functions": {
          "shape": "__listOfFunction",
          "documentation": "A list of Lambda functions in this function definition version."
        }
      },
      "documentation": "Information needed to create a function definition version.",
      "required": [
        "FunctionDefinitionId"
      ]
    },
    "CreateFunctionDefinitionVersionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "__string",
          "documentation": "The ARN of the version."
        },
        "CreationTimestamp": {
          "shape": "__string",
          "documentation": "The time, in milliseconds since the epoch, when the version was created."
        },
        "Id": {
          "shape": "__string",
          "documentation": "The ID of the parent definition that the version is associated with."
        },
        "Version": {
          "shape": "__string",
          "documentation": "The ID of the version."
        }
      }
    },
    "CreateGroupCertificateAuthorityRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "shape": "__string",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "documentation": "A client token used to correlate requests and responses."
        },
        "GroupId": {
          "shape": "__string",
          "location": "uri",
          "locationName": "GroupId",
          "documentation": "The ID of the Greengrass group."
        }
      },
      "required": [
        "GroupId"
      ]
    },
    "CreateGroupCertificateAuthorityResponse": {
      "type": "structure",
      "members": {
        "GroupCertificateAuthorityArn": {
          "shape": "__string",
          "documentation": "The ARN of the group certificate authority."
        }
      }
    },
    "CreateGroupRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "shape": "__string",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "documentation": "A client token used to correlate requests and responses."
        },
        "InitialVersion": {
          "shape": "GroupVersion",
          "documentation": "Information about the initial version of the group."
        },
        "Name": {
          "shape": "__string",
          "documentation": "The name of the group."
        },
        "tags": {
          "shape": "Tags",
          "documentation": "Tag(s) to add to the new resource."
        }
      },
      "required": [
        "Name"
      ]
    },
    "CreateGroupResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "__string",
          "documentation": "The ARN of the definition."
        },
        "CreationTimestamp": {
          "shape": "__string",
          "documentation": "The time, in milliseconds since the epoch, when the definition was created."
        },
        "Id": {
          "shape": "__string",
          "documentation": "The ID of the definition."
        },
        "LastUpdatedTimestamp": {
          "shape": "__string",
          "documentation": "The time, in milliseconds since the epoch, when the definition was last updated."
        },
        "LatestVersion": {
          "shape": "__string",
          "documentation": "The ID of the latest version associated with the definition."
        },
        "LatestVersionArn": {
          "shape": "__string",
          "documentation": "The ARN of the latest version associated with the definition."
        },
        "Name": {
          "shape": "__string",
          "documentation": "The name of the definition."
        }
      }
    },
    "CreateGroupVersionRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "shape": "__string",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "documentation": "A client token used to correlate requests and responses."
        },
        "ConnectorDefinitionVersionArn": {
          "shape": "__string",
          "documentation": "The ARN of the connector definition version for this group."
        },
        "CoreDefinitionVersionArn": {
          "shape": "__string",
          "documentation": "The ARN of the core definition version for this group."
        },
        "DeviceDefinitionVersionArn": {
          "shape": "__string",
          "documentation": "The ARN of the device definition version for this group."
        },
        "FunctionDefinitionVersionArn": {
          "shape": "__string",
          "documentation": "The ARN of the function definition version for this group."
        },
        "GroupId": {
          "shape": "__string",
          "location": "uri",
          "locationName": "GroupId",
          "documentation": "The ID of the Greengrass group."
        },
        "LoggerDefinitionVersionArn": {
          "shape": "__string",
          "documentation": "The ARN of the logger definition version for this group."
        },
        "ResourceDefinitionVersionArn": {
          "shape": "__string",
          "documentation": "The ARN of the resource definition version for this group."
        },
        "SubscriptionDefinitionVersionArn": {
          "shape": "__string",
          "documentation": "The ARN of the subscription definition version for this group."
        }
      },
      "required": [
        "GroupId"
      ]
    },
    "CreateGroupVersionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "__string",
          "documentation": "The ARN of the version."
        },
        "CreationTimestamp": {
          "shape": "__string",
          "documentation": "The time, in milliseconds since the epoch, when the version was created."
        },
        "Id": {
          "shape": "__string",
          "documentation": "The ID of the parent definition that the version is associated with."
        },
        "Version": {
          "shape": "__string",
          "documentation": "The ID of the version."
        }
      }
    },
    "CreateLoggerDefinitionRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "shape": "__string",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "documentation": "A client token used to correlate requests and responses."
        },
        "InitialVersion": {
          "shape": "LoggerDefinitionVersion",
          "documentation": "Information about the initial version of the logger definition."
        },
        "Name": {
          "shape": "__string",
          "documentation": "The name of the logger definition."
        },
        "tags": {
          "shape": "Tags",
          "documentation": "Tag(s) to add to the new resource."
        }
      }
    },
    "CreateLoggerDefinitionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "__string",
          "documentation": "The ARN of the definition."
        },
        "CreationTimestamp": {
          "shape": "__string",
          "documentation": "The time, in milliseconds since the epoch, when the definition was created."
        },
        "Id": {
          "shape": "__string",
          "documentation": "The ID of the definition."
        },
        "LastUpdatedTimestamp": {
          "shape": "__string",
          "documentation": "The time, in milliseconds since the epoch, when the definition was last updated."
        },
        "LatestVersion": {
          "shape": "__string",
          "documentation": "The ID of the latest version associated with the definition."
        },
        "LatestVersionArn": {
          "shape": "__string",
          "documentation": "The ARN of the latest version associated with the definition."
        },
        "Name": {
          "shape": "__string",
          "documentation": "The name of the definition."
        }
      }
    },
    "CreateLoggerDefinitionVersionRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "shape": "__string",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "documentation": "A client token used to correlate requests and responses."
        },
        "LoggerDefinitionId": {
          "shape": "__string",
          "location": "uri",
          "locationName": "LoggerDefinitionId",
          "documentation": "The ID of the logger definition."
        },
        "Loggers": {
          "shape": "__listOfLogger",
          "documentation": "A list of loggers."
        }
      },
      "required": [
        "LoggerDefinitionId"
      ]
    },
    "CreateLoggerDefinitionVersionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "__string",
          "documentation": "The ARN of the version."
        },
        "CreationTimestamp": {
          "shape": "__string",
          "documentation": "The time, in milliseconds since the epoch, when the version was created."
        },
        "Id": {
          "shape": "__string",
          "documentation": "The ID of the parent definition that the version is associated with."
        },
        "Version": {
          "shape": "__string",
          "documentation": "The ID of the version."
        }
      }
    },
    "CreateResourceDefinitionRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "shape": "__string",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "documentation": "A client token used to correlate requests and responses."
        },
        "InitialVersion": {
          "shape": "ResourceDefinitionVersion",
          "documentation": "Information about the initial version of the resource definition."
        },
        "Name": {
          "shape": "__string",
          "documentation": "The name of the resource definition."
        },
        "tags": {
          "shape": "Tags",
          "documentation": "Tag(s) to add to the new resource."
        }
      }
    },
    "CreateResourceDefinitionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "__string",
          "documentation": "The ARN of the definition."
        },
        "CreationTimestamp": {
          "shape": "__string",
          "documentation": "The time, in milliseconds since the epoch, when the definition was created."
        },
        "Id": {
          "shape": "__string",
          "documentation": "The ID of the definition."
        },
        "LastUpdatedTimestamp": {
          "shape": "__string",
          "documentation": "The time, in milliseconds since the epoch, when the definition was last updated."
        },
        "LatestVersion": {
          "shape": "__string",
          "documentation": "The ID of the latest version associated with the definition."
        },
        "LatestVersionArn": {
          "shape": "__string",
          "documentation": "The ARN of the latest version associated with the definition."
        },
        "Name": {
          "shape": "__string",
          "documentation": "The name of the definition."
        }
      }
    },
    "CreateResourceDefinitionVersionRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "shape": "__string",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "documentation": "A client token used to correlate requests and responses."
        },
        "ResourceDefinitionId": {
          "shape": "__string",
          "location": "uri",
          "locationName": "ResourceDefinitionId",
          "documentation": "The ID of the resource definition."
        },
        "Resources": {
          "shape": "__listOfResource",
          "documentation": "A list of resources."
        }
      },
      "required": [
        "ResourceDefinitionId"
      ]
    },
    "CreateResourceDefinitionVersionResponse": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "__string",
          "documentation": "The ARN of the version."
        },
        "CreationTimestamp": {
          "shape": "__string",
          "documentation": "The time, in milliseconds since the epoch, when the version was created."
        },
        "Id": {
          "shape": "__string",
          "documentation": "The ID of the parent definition that the version is associated with."
        },
        "Version": {
          "shape": "__string",
          "documentation": "The ID of the version."
        }
      }
    },
    "CreateSoftwareUpdateJobRequest": {
      "type": "structure",
      "members": {
        "AmznClientToken": {
          "shape": "__string",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "documentation": "A client token used to correlate requests and responses."
        },
        "S3UrlSignerRole": {
          "shape": "S3UrlSignerRole"
        },
        "SoftwareToUpdate": {
          "shape": "SoftwareToUpdate"
        },
        "UpdateAgentLogLevel": {
          "shape": "UpdateAgentLogLevel"
        },
        "UpdateTargets": {
          "shape": "UpdateTargets"
        },
        "UpdateTargetsArchitecture": {
          "shape": "UpdateTargetsArchitecture"
        },
        "UpdateTargetsOperatingSystem": {
          "shape": "UpdateTargetsOperatingSystem"
        }
      },
      "required": [
        "S3UrlSignerRole",
        "UpdateTargetsArchitecture",
        "SoftwareToUpdate",
        "UpdateTargets",
        "UpdateTargetsOperatingSystem"
      ]
    },
    "CreateSoftwareUpdateJobResponse": {
      "type": "structure",
      "members": {
        "IotJobArn": {
          "shape": "__string",
[...]
