{
  "metadata": {
    "apiVersion": "2020-01-01",
    "endpointPrefix": "macie2",
    "signingName": "macie2",
    "serviceFullName": "Amazon Macie 2",
    "serviceId": "Macie2",
    "protocol": "rest-json",
    "jsonVersion": "1.1",
    "uid": "macie2-2020-01-01",
    "signatureVersion": "v4",
    "auth": [
      "aws.auth#sigv4"
    ]
  },
  "operations": {
    "AcceptInvitation": {
      "name": "AcceptInvitation",
      "http": {
        "method": "POST",
        "requestUri": "/invitations/accept",
        "responseCode": 200
      },
      "input": {
        "shape": "AcceptInvitationRequest"
      },
      "output": {
        "shape": "AcceptInvitationResponse",
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Accepts an Amazon Macie membership invitation that was received from a specific account.</p>"
    },
    "BatchGetCustomDataIdentifiers": {
      "name": "BatchGetCustomDataIdentifiers",
      "http": {
        "method": "POST",
        "requestUri": "/custom-data-identifiers/get",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchGetCustomDataIdentifiersRequest"
      },
      "output": {
        "shape": "BatchGetCustomDataIdentifiersResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves information about one or more custom data identifiers.</p>"
    },
    "BatchUpdateAutomatedDiscoveryAccounts": {
      "name": "BatchUpdateAutomatedDiscoveryAccounts",
      "http": {
        "method": "PATCH",
        "requestUri": "/automated-discovery/accounts",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchUpdateAutomatedDiscoveryAccountsRequest"
      },
      "output": {
        "shape": "BatchUpdateAutomatedDiscoveryAccountsResponse",
        "documentation": "<p>The request succeeded. However, the update might have failed for one or more accounts.</p>"
      },
      "errors": [
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        }
      ],
      "documentation": "<p>Changes the status of automated sensitive data discovery for one or more accounts.</p>"
    },
    "CreateAllowList": {
      "name": "CreateAllowList",
      "http": {
        "method": "POST",
        "requestUri": "/allow-lists",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateAllowListRequest"
      },
      "output": {
        "shape": "CreateAllowListResponse",
        "documentation": "<p>The request succeeded. The specified allow list was created.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Creates and defines the settings for an allow list.</p>"
    },
    "CreateClassificationJob": {
      "name": "CreateClassificationJob",
      "http": {
        "method": "POST",
        "requestUri": "/jobs",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateClassificationJobRequest"
      },
      "output": {
        "shape": "CreateClassificationJobResponse",
        "documentation": "<p>The request succeeded. The specified job was created.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Creates and defines the settings for a classification job.</p>"
    },
    "CreateCustomDataIdentifier": {
      "name": "CreateCustomDataIdentifier",
      "http": {
        "method": "POST",
        "requestUri": "/custom-data-identifiers",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateCustomDataIdentifierRequest"
      },
      "output": {
        "shape": "CreateCustomDataIdentifierResponse",
        "documentation": "<p>The request succeeded. The specified custom data identifier was created.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Creates and defines the criteria and other settings for a custom data identifier.</p>"
    },
    "CreateFindingsFilter": {
      "name": "CreateFindingsFilter",
      "http": {
        "method": "POST",
        "requestUri": "/findingsfilters",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateFindingsFilterRequest"
      },
      "output": {
        "shape": "CreateFindingsFilterResponse"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Creates and defines the criteria and other settings for a findings filter.</p>"
    },
    "CreateInvitations": {
      "name": "CreateInvitations",
      "http": {
        "method": "POST",
        "requestUri": "/invitations",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateInvitationsRequest"
      },
      "output": {
        "shape": "CreateInvitationsResponse",
        "documentation": "<p>The request succeeded. Processing might not be complete.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Sends an Amazon Macie membership invitation to one or more accounts.</p>"
    },
    "CreateMember": {
      "name": "CreateMember",
      "http": {
        "method": "POST",
        "requestUri": "/members",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateMemberRequest"
      },
      "output": {
        "shape": "CreateMemberResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Associates an account with an Amazon Macie administrator account.</p>"
    },
    "CreateSampleFindings": {
      "name": "CreateSampleFindings",
      "http": {
        "method": "POST",
        "requestUri": "/findings/sample",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateSampleFindingsRequest"
      },
      "output": {
        "shape": "CreateSampleFindingsResponse",
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Creates sample findings.</p>"
    },
    "DeclineInvitations": {
      "name": "DeclineInvitations",
      "http": {
        "method": "POST",
        "requestUri": "/invitations/decline",
        "responseCode": 200
      },
      "input": {
        "shape": "DeclineInvitationsRequest"
      },
      "output": {
        "shape": "DeclineInvitationsResponse",
        "documentation": "<p>The request succeeded. Processing might not be complete.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Declines Amazon Macie membership invitations that were received from specific accounts.</p>"
    },
    "DeleteAllowList": {
      "name": "DeleteAllowList",
      "http": {
        "method": "DELETE",
        "requestUri": "/allow-lists/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteAllowListRequest"
      },
      "output": {
        "shape": "DeleteAllowListResponse",
        "documentation": "<p>The request succeeded. The allow list was deleted and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        }
      ],
      "documentation": "<p>Deletes an allow list.</p>"
    },
    "DeleteCustomDataIdentifier": {
      "name": "DeleteCustomDataIdentifier",
      "http": {
        "method": "DELETE",
        "requestUri": "/custom-data-identifiers/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteCustomDataIdentifierRequest"
      },
      "output": {
        "shape": "DeleteCustomDataIdentifierResponse",
        "documentation": "<p>The request succeeded. The specified custom data identifier was deleted and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Soft deletes a custom data identifier.</p>"
    },
    "DeleteFindingsFilter": {
      "name": "DeleteFindingsFilter",
      "http": {
        "method": "DELETE",
        "requestUri": "/findingsfilters/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteFindingsFilterRequest"
      },
      "output": {
        "shape": "DeleteFindingsFilterResponse",
        "documentation": "<p>The request succeeded. The specified findings filter was deleted and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Deletes a findings filter.</p>"
    },
    "DeleteInvitations": {
      "name": "DeleteInvitations",
      "http": {
        "method": "POST",
        "requestUri": "/invitations/delete",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteInvitationsRequest"
      },
      "output": {
        "shape": "DeleteInvitationsResponse",
        "documentation": "<p>The request succeeded. Processing might not be complete.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Deletes Amazon Macie membership invitations that were received from specific accounts.</p>"
    },
    "DeleteMember": {
      "name": "DeleteMember",
      "http": {
        "method": "DELETE",
        "requestUri": "/members/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteMemberRequest"
      },
      "output": {
        "shape": "DeleteMemberResponse",
        "documentation": "<p>The request succeeded. The association was deleted and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Deletes the association between an Amazon Macie administrator account and an account.</p>"
    },
    "DescribeBuckets": {
      "name": "DescribeBuckets",
      "http": {
        "method": "POST",
        "requestUri": "/datasources/s3",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeBucketsRequest"
      },
      "output": {
        "shape": "DescribeBucketsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves (queries) statistical data and other information about one or more S3 buckets that Amazon Macie monitors and analyzes for an account.</p>"
    },
    "DescribeClassificationJob": {
      "name": "DescribeClassificationJob",
      "http": {
        "method": "GET",
        "requestUri": "/jobs/{jobId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeClassificationJobRequest"
      },
      "output": {
        "shape": "DescribeClassificationJobResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves the status and settings for a classification job.</p>"
    },
    "DescribeOrganizationConfiguration": {
      "name": "DescribeOrganizationConfiguration",
      "http": {
        "method": "GET",
        "requestUri": "/admin/configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeOrganizationConfigurationRequest"
      },
      "output": {
        "shape": "DescribeOrganizationConfigurationResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves the Amazon Macie configuration settings for an organization in Organizations.</p>"
    },
    "DisableMacie": {
      "name": "DisableMacie",
      "http": {
        "method": "DELETE",
        "requestUri": "/macie",
        "responseCode": 200
      },
      "input": {
        "shape": "DisableMacieRequest"
      },
      "output": {
        "shape": "DisableMacieResponse",
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Disables Amazon Macie and deletes all settings and resources for a Macie account.</p>"
    },
    "DisableOrganizationAdminAccount": {
      "name": "DisableOrganizationAdminAccount",
      "http": {
        "method": "DELETE",
        "requestUri": "/admin",
        "responseCode": 200
      },
      "input": {
        "shape": "DisableOrganizationAdminAccountRequest"
      },
      "output": {
        "shape": "DisableOrganizationAdminAccountResponse",
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Disables an account as the delegated Amazon Macie administrator account for an organization in Organizations.</p>"
    },
    "DisassociateFromAdministratorAccount": {
      "name": "DisassociateFromAdministratorAccount",
      "http": {
        "method": "POST",
        "requestUri": "/administrator/disassociate",
        "responseCode": 200
      },
      "input": {
        "shape": "DisassociateFromAdministratorAccountRequest"
      },
      "output": {
        "shape": "DisassociateFromAdministratorAccountResponse"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Disassociates a member account from its Amazon Macie administrator account.</p>"
    },
    "DisassociateFromMasterAccount": {
      "name": "DisassociateFromMasterAccount",
      "http": {
        "method": "POST",
        "requestUri": "/master/disassociate",
        "responseCode": 200
      },
      "input": {
        "shape": "DisassociateFromMasterAccountRequest"
      },
      "output": {
        "shape": "DisassociateFromMasterAccountResponse",
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>(Deprecated) Disassociates a member account from its Amazon Macie administrator account. This operation has been replaced by the <link  linkend=\"DisassociateFromAdministratorAccount\">DisassociateFromAdministratorAccount</link> operation.</p>"
    },
    "DisassociateMember": {
      "name": "DisassociateMember",
      "http": {
        "method": "POST",
        "requestUri": "/members/disassociate/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "DisassociateMemberRequest"
      },
      "output": {
        "shape": "DisassociateMemberResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Disassociates an Amazon Macie administrator account from a member account.</p>"
    },
    "EnableMacie": {
      "name": "EnableMacie",
      "http": {
        "method": "POST",
        "requestUri": "/macie",
        "responseCode": 200
      },
      "input": {
        "shape": "EnableMacieRequest"
      },
      "output": {
        "shape": "EnableMacieResponse",
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Enables Amazon Macie and specifies the configuration settings for a Macie account.</p>"
    },
    "EnableOrganizationAdminAccount": {
      "name": "EnableOrganizationAdminAccount",
      "http": {
        "method": "POST",
        "requestUri": "/admin",
        "responseCode": 200
      },
      "input": {
        "shape": "EnableOrganizationAdminAccountRequest"
      },
      "output": {
        "shape": "EnableOrganizationAdminAccountResponse",
        "documentation": "<p>The request succeeded and there isn't any content to include in the body of the response (No Content).</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Designates an account as the delegated Amazon Macie administrator account for an organization in Organizations.</p>"
    },
    "GetAdministratorAccount": {
      "name": "GetAdministratorAccount",
      "http": {
        "method": "GET",
        "requestUri": "/administrator",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAdministratorAccountRequest"
      },
      "output": {
        "shape": "GetAdministratorAccountResponse"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves information about the Amazon Macie administrator account for an account.</p>"
    },
    "GetAllowList": {
      "name": "GetAllowList",
      "http": {
        "method": "GET",
        "requestUri": "/allow-lists/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAllowListRequest"
      },
      "output": {
        "shape": "GetAllowListResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves the settings and status of an allow list.</p>"
    },
    "GetAutomatedDiscoveryConfiguration": {
      "name": "GetAutomatedDiscoveryConfiguration",
      "http": {
        "method": "GET",
        "requestUri": "/automated-discovery/configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAutomatedDiscoveryConfigurationRequest"
      },
      "output": {
        "shape": "GetAutomatedDiscoveryConfigurationResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves the configuration settings and status of automated sensitive data discovery for an organization or standalone account.</p>"
    },
    "GetBucketStatistics": {
      "name": "GetBucketStatistics",
      "http": {
        "method": "POST",
        "requestUri": "/datasources/s3/statistics",
        "responseCode": 200
      },
      "input": {
        "shape": "GetBucketStatisticsRequest"
      },
      "output": {
        "shape": "GetBucketStatisticsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves (queries) aggregated statistical data about all the S3 buckets that Amazon Macie monitors and analyzes for an account.</p>"
    },
    "GetClassificationExportConfiguration": {
      "name": "GetClassificationExportConfiguration",
      "http": {
        "method": "GET",
        "requestUri": "/classification-export-configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "GetClassificationExportConfigurationRequest"
      },
      "output": {
        "shape": "GetClassificationExportConfigurationResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves the configuration settings for storing data classification results.</p>"
    },
    "GetClassificationScope": {
      "name": "GetClassificationScope",
      "http": {
        "method": "GET",
        "requestUri": "/classification-scopes/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetClassificationScopeRequest"
      },
      "output": {
        "shape": "GetClassificationScopeResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves the classification scope settings for an account.</p>"
    },
    "GetCustomDataIdentifier": {
      "name": "GetCustomDataIdentifier",
      "http": {
        "method": "GET",
        "requestUri": "/custom-data-identifiers/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetCustomDataIdentifierRequest"
      },
      "output": {
        "shape": "GetCustomDataIdentifierResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves the criteria and other settings for a custom data identifier.</p>"
    },
    "GetFindingStatistics": {
      "name": "GetFindingStatistics",
      "http": {
        "method": "POST",
        "requestUri": "/findings/statistics",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFindingStatisticsRequest"
      },
      "output": {
        "shape": "GetFindingStatisticsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves (queries) aggregated statistical data about findings.</p>"
    },
    "GetFindings": {
      "name": "GetFindings",
      "http": {
        "method": "POST",
        "requestUri": "/findings/describe",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFindingsRequest"
      },
      "output": {
        "shape": "GetFindingsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves the details of one or more findings.</p>"
    },
    "GetFindingsFilter": {
      "name": "GetFindingsFilter",
      "http": {
        "method": "GET",
        "requestUri": "/findingsfilters/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFindingsFilterRequest"
      },
      "output": {
        "shape": "GetFindingsFilterResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves the criteria and other settings for a findings filter.</p>"
    },
    "GetFindingsPublicationConfiguration": {
      "name": "GetFindingsPublicationConfiguration",
      "http": {
        "method": "GET",
        "requestUri": "/findings-publication-configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFindingsPublicationConfigurationRequest"
      },
      "output": {
        "shape": "GetFindingsPublicationConfigurationResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves the configuration settings for publishing findings to Security Hub.</p>"
    },
    "GetInvitationsCount": {
      "name": "GetInvitationsCount",
      "http": {
        "method": "GET",
        "requestUri": "/invitations/count",
        "responseCode": 200
      },
      "input": {
        "shape": "GetInvitationsCountRequest"
      },
      "output": {
        "shape": "GetInvitationsCountResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves the count of Amazon Macie membership invitations that were received by an account.</p>"
    },
    "GetMacieSession": {
      "name": "GetMacieSession",
      "http": {
        "method": "GET",
        "requestUri": "/macie",
        "responseCode": 200
      },
      "input": {
        "shape": "GetMacieSessionRequest"
      },
      "output": {
        "shape": "GetMacieSessionResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves the status and configuration settings for an Amazon Macie account.</p>"
    },
    "GetMasterAccount": {
      "name": "GetMasterAccount",
      "http": {
        "method": "GET",
        "requestUri": "/master",
        "responseCode": 200
      },
      "input": {
        "shape": "GetMasterAccountRequest"
      },
      "output": {
        "shape": "GetMasterAccountResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>(Deprecated) Retrieves information about the Amazon Macie administrator account for an account. This operation has been replaced by the <link  linkend=\"GetAdministratorAccount\">GetAdministratorAccount</link> operation.</p>"
    },
    "GetMember": {
      "name": "GetMember",
      "http": {
        "method": "GET",
        "requestUri": "/members/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetMemberRequest"
      },
      "output": {
        "shape": "GetMemberResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves information about an account that's associated with an Amazon Macie administrator account.</p>"
    },
    "GetResourceProfile": {
      "name": "GetResourceProfile",
      "http": {
        "method": "GET",
        "requestUri": "/resource-profiles",
        "responseCode": 200
      },
      "input": {
        "shape": "GetResourceProfileRequest"
      },
      "output": {
        "shape": "GetResourceProfileResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        }
      ],
      "documentation": "<p>Retrieves (queries) sensitive data discovery statistics and the sensitivity score for an S3 bucket.</p>"
    },
    "GetRevealConfiguration": {
      "name": "GetRevealConfiguration",
      "http": {
        "method": "GET",
        "requestUri": "/reveal-configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "GetRevealConfigurationRequest"
      },
      "output": {
        "shape": "GetRevealConfigurationResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves the status and configuration settings for retrieving occurrences of sensitive data reported by findings.</p>"
    },
    "GetSensitiveDataOccurrences": {
      "name": "GetSensitiveDataOccurrences",
      "http": {
        "method": "GET",
        "requestUri": "/findings/{findingId}/reveal",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSensitiveDataOccurrencesRequest"
      },
      "output": {
        "shape": "GetSensitiveDataOccurrencesResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "UnprocessableEntityException",
          "documentation": "<p>The request failed because it contains instructions that Amazon Macie can't process (Unprocessable Entity).</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        }
      ],
      "documentation": "<p>Retrieves occurrences of sensitive data reported by a finding.</p>"
    },
    "GetSensitiveDataOccurrencesAvailability": {
      "name": "GetSensitiveDataOccurrencesAvailability",
      "http": {
        "method": "GET",
        "requestUri": "/findings/{findingId}/reveal/availability",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSensitiveDataOccurrencesAvailabilityRequest"
      },
      "output": {
        "shape": "GetSensitiveDataOccurrencesAvailabilityResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        }
      ],
      "documentation": "<p>Checks whether occurrences of sensitive data can be retrieved for a finding.</p>"
    },
    "GetSensitivityInspectionTemplate": {
      "name": "GetSensitivityInspectionTemplate",
      "http": {
        "method": "GET",
        "requestUri": "/templates/sensitivity-inspections/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSensitivityInspectionTemplateRequest"
      },
      "output": {
        "shape": "GetSensitivityInspectionTemplateResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        }
      ],
      "documentation": " <p>Retrieves the settings for the sensitivity inspection template for an account.</p>"
    },
    "GetUsageStatistics": {
      "name": "GetUsageStatistics",
      "http": {
        "method": "POST",
        "requestUri": "/usage/statistics",
        "responseCode": 200
      },
      "input": {
        "shape": "GetUsageStatisticsRequest"
      },
      "output": {
        "shape": "GetUsageStatisticsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves (queries) quotas and aggregated usage data for one or more accounts.</p>"
    },
    "GetUsageTotals": {
      "name": "GetUsageTotals",
      "http": {
        "method": "GET",
        "requestUri": "/usage",
        "responseCode": 200
      },
      "input": {
        "shape": "GetUsageTotalsRequest"
      },
      "output": {
        "shape": "GetUsageTotalsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves (queries) aggregated usage data for an account.</p>"
    },
    "ListAllowLists": {
      "name": "ListAllowLists",
      "http": {
        "method": "GET",
        "requestUri": "/allow-lists",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAllowListsRequest"
      },
      "output": {
        "shape": "ListAllowListsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves a subset of information about all the allow lists for an account.</p>"
    },
    "ListAutomatedDiscoveryAccounts": {
      "name": "ListAutomatedDiscoveryAccounts",
      "http": {
        "method": "GET",
        "requestUri": "/automated-discovery/accounts",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAutomatedDiscoveryAccountsRequest"
      },
      "output": {
        "shape": "ListAutomatedDiscoveryAccountsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves the status of automated sensitive data discovery for one or more accounts.</p>"
    },
    "ListClassificationJobs": {
      "name": "ListClassificationJobs",
      "http": {
        "method": "POST",
        "requestUri": "/jobs/list",
        "responseCode": 200
      },
      "input": {
        "shape": "ListClassificationJobsRequest"
      },
      "output": {
        "shape": "ListClassificationJobsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves a subset of information about one or more classification jobs.</p>"
    },
    "ListClassificationScopes": {
      "name": "ListClassificationScopes",
      "http": {
        "method": "GET",
        "requestUri": "/classification-scopes",
        "responseCode": 200
      },
      "input": {
        "shape": "ListClassificationScopesRequest"
      },
      "output": {
        "shape": "ListClassificationScopesResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves a subset of information about the classification scope for an account.</p>"
    },
    "ListCustomDataIdentifiers": {
      "name": "ListCustomDataIdentifiers",
      "http": {
        "method": "POST",
        "requestUri": "/custom-data-identifiers/list",
        "responseCode": 200
      },
      "input": {
        "shape": "ListCustomDataIdentifiersRequest"
      },
      "output": {
        "shape": "ListCustomDataIdentifiersResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves a subset of information about the custom data identifiers for an account.</p>"
    },
    "ListFindings": {
      "name": "ListFindings",
      "http": {
        "method": "POST",
        "requestUri": "/findings",
        "responseCode": 200
      },
      "input": {
        "shape": "ListFindingsRequest"
      },
      "output": {
        "shape": "ListFindingsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves a subset of information about one or more findings.</p>"
    },
    "ListFindingsFilters": {
      "name": "ListFindingsFilters",
      "http": {
        "method": "GET",
        "requestUri": "/findingsfilters",
        "responseCode": 200
      },
      "input": {
        "shape": "ListFindingsFiltersRequest"
      },
      "output": {
        "shape": "ListFindingsFiltersResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
        },
        {
          "shape": "InternalServerException",
          "documentation": "<p>The request failed due to an unknown internal server error, exception, or failure.</p>"
        },
        {
          "shape": "ServiceQuotaExceededException",
          "documentation": "<p>The request failed because fulfilling the request would exceed one or more service quotas for your account.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>The request was denied because you don't have sufficient access to the specified resource.</p>"
        },
        {
          "shape": "ResourceNotFoundException",
          "documentation": "<p>The request failed because the specified resource wasn't found.</p>"
        },
        {
          "shape": "ThrottlingException",
          "documentation": "<p>The request failed because you sent too many requests during a certain amount of time.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The request failed because it conflicts with the current state of the specified resource.</p>"
        }
      ],
      "documentation": "<p>Retrieves a subset of information about all the findings filters for an account.</p>"
    },
    "ListInvitations": {
      "name": "ListInvitations",
      "http": {
        "method": "GET",
        "requestUri": "/invitations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListInvitationsRequest"
      },
      "output": {
        "shape": "ListInvitationsResponse",
        "documentation": "<p>The request succeeded.</p>"
      },
      "errors": [
        {
          "shape": "ValidationException",
          "documentation": "<p>The request failed because the input doesn't satisfy the constraints specified by the service.</p>"
[...]
