!**
.build
.dist
.tmp
Gruntfile.js
ghost-*.tgz
.eslintignore
.eslintrc.json
.eslintrc.js
.npmignore
.c8rc*.json
playwright.config.js
jsconfig.json
changelog.md*
coverage/**
docs/**
_site/**
content/adapters/**
!content/adapters/README.md
content/apps/**
!content/apps/README.md
content/public/**
!content/public/README.md
content/data/**
!content/data/README.md
content/images/**
!content/images/README.md
content/logs/**
!content/logs/README.md
content/settings/**
!content/settings/README.md
content/themes/**
!content/themes/casper/**
content/themes/casper/yarn.lock
!content/themes/source/**
content/themes/source/yarn.lock
node_modules/**
core/server/lib/members/static/auth/node_modules/**
**/*.db
**/*.db-journal
*.db
*.db-journal
.af*
.git*
.groc*
.jshintrc
.jscsrc
*.iml
core/built/**/*.map
core/built/**/test-*
core/built/**/tests-*
test/**
CONTRIBUTING.md
content/themes/casper/SECURITY.md
content/themes/source/SECURITY.md
SECURITY.md
renovate.json
*.html
!core/frontend/src/admin-auth/*.html
!core/built/admin/**/*.html
!core/server/views/**
!core/server/services/mail/templates/**
bower_components/**
.editorconfig
monobundle.js
!content/themes/casper/gulpfile.js
!content/themes/source/gulpfile.js
package-lock.json
content/themes/casper/config.*.json
content/themes/source/config.*.json
config.*.json
!core/shared/config/env/**
