!**
.build
.dist
.tmp
.eslintignore
.eslintrc.json
.eslintrc.js
.npmignore
.c8rc.json
jsconfig.json
changelog.md*
coverage/**
docs/**
_site/**
content/adapters/**
!content/adapters/README.md
content/apps/**
!content/apps/README.md
content/public/**
!content/public/README.md
content/data/**
!content/data/README.md
content/images/**
!content/images/README.md
content/logs/**
!content/logs/README.md
content/themes/**
!content/themes/casper/**
content/themes/casper/assets/css/.csscomb.json
content/themes/casper/.yarnrc
node_modules/**
core/server/lib/members/static/auth/node_modules/**
**/*.db*
*.db*
.af*
.git*
.groc*
.jshintrc
.jscsrc
*.iml
core/built/**/*.map
core/built/**/test-*
core/built/**/tests-*
core/admin/**
test/**
CONTRIBUTING.md
content/themes/casper/SECURITY.md
SECURITY.md
renovate.json
*.html
!core/server/views/**
!core/server/web/admin/views/**
core/server/web/admin/views/.gitkeep
!core/server/services/mail/templates/**
bower_components/**
.editorconfig
gulpfile.js
!content/themes/casper/gulpfile.js
package-lock.json
content/themes/casper/config.*.json
config.*.json
!core/shared/config/env/**
