{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2024-04-15",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"application-signals",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"Amazon CloudWatch Application Signals",
    "serviceId":"Application Signals",
    "signatureVersion":"v4",
    "signingName":"application-signals",
    "uid":"application-signals-2024-04-15"
  },
  "operations":{
    "BatchGetServiceLevelObjectiveBudgetReport":{
      "name":"BatchGetServiceLevelObjectiveBudgetReport",
      "http":{
        "method":"POST",
        "requestUri":"/budget-report",
        "responseCode":200
      },
      "input":{"shape":"BatchGetServiceLevelObjectiveBudgetReportInput"},
      "output":{"shape":"BatchGetServiceLevelObjectiveBudgetReportOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Use this operation to retrieve one or more <i>service level objective (SLO) budget reports</i>.</p> <p>An <i>error budget</i> is the amount of time or requests in an unhealthy state that your service can accumulate during an interval before your overall SLO budget health is breached and the SLO is considered to be unmet. For example, an SLO with a threshold of 99.95% and a monthly interval translates to an error budget of 21.9 minutes of downtime in a 30-day month.</p> <p>Budget reports include a health indicator, the attainment value, and remaining budget.</p> <p>For more information about SLO error budgets, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-ServiceLevelObjectives.html#CloudWatch-ServiceLevelObjectives-concepts\"> SLO concepts</a>.</p>"
    },
    "BatchUpdateExclusionWindows":{
      "name":"BatchUpdateExclusionWindows",
      "http":{
        "method":"PATCH",
        "requestUri":"/exclusion-windows",
        "responseCode":200
      },
      "input":{"shape":"BatchUpdateExclusionWindowsInput"},
      "output":{"shape":"BatchUpdateExclusionWindowsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Add or remove time window exclusions for one or more Service Level Objectives (SLOs).</p>"
    },
    "CreateServiceLevelObjective":{
      "name":"CreateServiceLevelObjective",
      "http":{
        "method":"POST",
        "requestUri":"/slo",
        "responseCode":200
      },
      "input":{"shape":"CreateServiceLevelObjectiveInput"},
      "output":{"shape":"CreateServiceLevelObjectiveOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Creates a service level objective (SLO), which can help you ensure that your critical business operations are meeting customer expectations. Use SLOs to set and track specific target levels for the reliability and availability of your applications and services. SLOs use service level indicators (SLIs) to calculate whether the application is performing at the level that you want.</p> <p>Create an SLO to set a target for a service or operation’s availability or latency. CloudWatch measures this target frequently you can find whether it has been breached. </p> <p>The target performance quality that is defined for an SLO is the <i>attainment goal</i>.</p> <p>You can set SLO targets for your applications that are discovered by Application Signals, using critical metrics such as latency and availability. You can also set SLOs against any CloudWatch metric or math expression that produces a time series.</p> <note> <p>You can't create an SLO for a service operation that was discovered by Application Signals until after that operation has reported standard metrics to Application Signals.</p> </note> <p>When you create an SLO, you specify whether it is a <i>period-based SLO</i> or a <i>request-based SLO</i>. Each type of SLO has a different way of evaluating your application's performance against its attainment goal.</p> <ul> <li> <p>A <i>period-based SLO</i> uses defined <i>periods</i> of time within a specified total time interval. For each period of time, Application Signals determines whether the application met its goal. The attainment rate is calculated as the <code>number of good periods/number of total periods</code>.</p> <p>For example, for a period-based SLO, meeting an attainment goal of 99.9% means that within your interval, your application must meet its performance goal during at least 99.9% of the time periods.</p> </li> <li> <p>A <i>request-based SLO</i> doesn't use pre-defined periods of time. Instead, the SLO measures <code>number of good requests/number of total requests</code> during the interval. At any time, you can find the ratio of good requests to total requests for the interval up to the time stamp that you specify, and measure that ratio against the goal set in your SLO.</p> </li> </ul> <p>After you have created an SLO, you can retrieve error budget reports for it. An <i>error budget</i> is the amount of time or amount of requests that your application can be non-compliant with the SLO's goal, and still have your application meet the goal.</p> <ul> <li> <p>For a period-based SLO, the error budget starts at a number defined by the highest number of periods that can fail to meet the threshold, while still meeting the overall goal. The <i>remaining error budget</i> decreases with every failed period that is recorded. The error budget within one interval can never increase.</p> <p>For example, an SLO with a threshold that 99.95% of requests must be completed under 2000ms every month translates to an error budget of 21.9 minutes of downtime per month.</p> </li> <li> <p>For a request-based SLO, the remaining error budget is dynamic and can increase or decrease, depending on the ratio of good requests to total requests.</p> </li> </ul> <p>For more information about SLOs, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-ServiceLevelObjectives.html\"> Service level objectives (SLOs)</a>. </p> <p>When you perform a <code>CreateServiceLevelObjective</code> operation, Application Signals creates the <i>AWSServiceRoleForCloudWatchApplicationSignals</i> service-linked role, if it doesn't already exist in your account. This service- linked role has the following permissions:</p> <ul> <li> <p> <code>xray:GetServiceGraph</code> </p> </li> <li> <p> <code>logs:StartQuery</code> </p> </li> <li> <p> <code>logs:GetQueryResults</code> </p> </li> <li> <p> <code>cloudwatch:GetMetricData</code> </p> </li> <li> <p> <code>cloudwatch:ListMetrics</code> </p> </li> <li> <p> <code>tag:GetResources</code> </p> </li> <li> <p> <code>autoscaling:DescribeAutoScalingGroups</code> </p> </li> </ul>"
    },
    "DeleteServiceLevelObjective":{
      "name":"DeleteServiceLevelObjective",
      "http":{
        "method":"DELETE",
        "requestUri":"/slo/{Id}",
        "responseCode":200
      },
      "input":{"shape":"DeleteServiceLevelObjectiveInput"},
      "output":{"shape":"DeleteServiceLevelObjectiveOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes the specified service level objective.</p>",
      "idempotent":true
    },
    "GetService":{
      "name":"GetService",
      "http":{
        "method":"POST",
        "requestUri":"/service",
        "responseCode":200
      },
      "input":{"shape":"GetServiceInput"},
      "output":{"shape":"GetServiceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns information about a service discovered by Application Signals.</p>"
    },
    "GetServiceLevelObjective":{
      "name":"GetServiceLevelObjective",
      "http":{
        "method":"GET",
        "requestUri":"/slo/{Id}",
        "responseCode":200
      },
      "input":{"shape":"GetServiceLevelObjectiveInput"},
      "output":{"shape":"GetServiceLevelObjectiveOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns information about one SLO created in the account. </p>"
    },
    "ListServiceDependencies":{
      "name":"ListServiceDependencies",
      "http":{
        "method":"POST",
        "requestUri":"/service-dependencies",
        "responseCode":200
      },
      "input":{"shape":"ListServiceDependenciesInput"},
      "output":{"shape":"ListServiceDependenciesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of service dependencies of the service that you specify. A dependency is an infrastructure component that an operation of this service connects with. Dependencies can include Amazon Web Services services, Amazon Web Services resources, and third-party services. </p>"
    },
    "ListServiceDependents":{
      "name":"ListServiceDependents",
      "http":{
        "method":"POST",
        "requestUri":"/service-dependents",
        "responseCode":200
      },
      "input":{"shape":"ListServiceDependentsInput"},
      "output":{"shape":"ListServiceDependentsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns the list of dependents that invoked the specified service during the provided time range. Dependents include other services, CloudWatch Synthetics canaries, and clients that are instrumented with CloudWatch RUM app monitors.</p>"
    },
    "ListServiceLevelObjectiveExclusionWindows":{
      "name":"ListServiceLevelObjectiveExclusionWindows",
      "http":{
        "method":"GET",
        "requestUri":"/slo/{Id}/exclusion-windows",
        "responseCode":200
      },
      "input":{"shape":"ListServiceLevelObjectiveExclusionWindowsInput"},
      "output":{"shape":"ListServiceLevelObjectiveExclusionWindowsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves all exclusion windows configured for a specific SLO.</p>"
    },
    "ListServiceLevelObjectives":{
      "name":"ListServiceLevelObjectives",
      "http":{
        "method":"POST",
        "requestUri":"/slos",
        "responseCode":200
      },
      "input":{"shape":"ListServiceLevelObjectivesInput"},
      "output":{"shape":"ListServiceLevelObjectivesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of SLOs created in this account.</p>"
    },
    "ListServiceOperations":{
      "name":"ListServiceOperations",
      "http":{
        "method":"POST",
        "requestUri":"/service-operations",
        "responseCode":200
      },
      "input":{"shape":"ListServiceOperationsInput"},
      "output":{"shape":"ListServiceOperationsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of the <i>operations</i> of this service that have been discovered by Application Signals. Only the operations that were invoked during the specified time range are returned.</p>"
    },
    "ListServices":{
      "name":"ListServices",
      "http":{
        "method":"GET",
        "requestUri":"/services",
        "responseCode":200
      },
      "input":{"shape":"ListServicesInput"},
      "output":{"shape":"ListServicesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of services that have been discovered by Application Signals. A service represents a minimum logical and transactional unit that completes a business function. Services are discovered through Application Signals instrumentation.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Displays the tags associated with a CloudWatch resource. Tags can be assigned to service level objectives.</p>"
    },
    "StartDiscovery":{
      "name":"StartDiscovery",
      "http":{
        "method":"POST",
        "requestUri":"/start-discovery",
        "responseCode":200
      },
      "input":{"shape":"StartDiscoveryInput"},
      "output":{"shape":"StartDiscoveryOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Enables this Amazon Web Services account to be able to use CloudWatch Application Signals by creating the <i>AWSServiceRoleForCloudWatchApplicationSignals</i> service-linked role. This service- linked role has the following permissions:</p> <ul> <li> <p> <code>xray:GetServiceGraph</code> </p> </li> <li> <p> <code>logs:StartQuery</code> </p> </li> <li> <p> <code>logs:GetQueryResults</code> </p> </li> <li> <p> <code>cloudwatch:GetMetricData</code> </p> </li> <li> <p> <code>cloudwatch:ListMetrics</code> </p> </li> <li> <p> <code>tag:GetResources</code> </p> </li> <li> <p> <code>autoscaling:DescribeAutoScalingGroups</code> </p> </li> </ul> <p>After completing this step, you still need to instrument your Java and Python applications to send data to Application Signals. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-Application-Signals-Enable.html\"> Enabling Application Signals</a>.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tag-resource",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Assigns one or more tags (key-value pairs) to the specified CloudWatch resource, such as a service level objective.</p> <p>Tags can help you organize and categorize your resources. You can also use them to scope user permissions by granting a user permission to access or change only resources with certain tag values.</p> <p>Tags don't have any semantic meaning to Amazon Web Services and are interpreted strictly as strings of characters.</p> <p>You can use the <code>TagResource</code> action with an alarm that already has tags. If you specify a new tag key for the alarm, this tag is appended to the list of tags associated with the alarm. If you specify a tag key that is already associated with the alarm, the new tag value that you specify replaces the previous value for that tag.</p> <p>You can associate as many as 50 tags with a CloudWatch resource.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/untag-resource",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Removes one or more tags from the specified resource.</p>"
    },
    "UpdateServiceLevelObjective":{
      "name":"UpdateServiceLevelObjective",
      "http":{
        "method":"PATCH",
        "requestUri":"/slo/{Id}",
        "responseCode":200
      },
      "input":{"shape":"UpdateServiceLevelObjectiveInput"},
      "output":{"shape":"UpdateServiceLevelObjectiveOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates an existing service level objective (SLO). If you omit parameters, the previous values of those parameters are retained. </p> <p>You cannot change from a period-based SLO to a request-based SLO, or change from a request-based SLO to a period-based SLO.</p>"
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ServiceErrorMessage"}
      },
      "documentation":"<p>You don't have sufficient permissions to perform this action.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AccountId":{
      "type":"string",
      "max":255,
      "min":1
    },
    "AmazonResourceName":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "Attainment":{
      "type":"double",
      "box":true
    },
    "AttainmentGoal":{
      "type":"double",
      "box":true
    },
    "AttributeMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"}
    },
    "AttributeMaps":{
      "type":"list",
      "member":{"shape":"AttributeMap"}
    },
    "Attributes":{
      "type":"map",
      "key":{"shape":"KeyAttributeName"},
      "value":{"shape":"KeyAttributeValue"},
      "max":4,
      "min":1
    },
    "AwsAccountId":{
      "type":"string",
      "pattern":"[0-9]{12}"
    },
    "BatchGetServiceLevelObjectiveBudgetReportInput":{
      "type":"structure",
      "required":[
        "Timestamp",
        "SloIds"
      ],
      "members":{
        "Timestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that you want the report to be for. It is expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC.</p>"
        },
        "SloIds":{
          "shape":"ServiceLevelObjectiveIds",
          "documentation":"<p>An array containing the IDs of the service level objectives that you want to include in the report.</p>"
        }
      }
    },
    "BatchGetServiceLevelObjectiveBudgetReportOutput":{
      "type":"structure",
      "required":[
        "Timestamp",
        "Reports",
        "Errors"
      ],
      "members":{
        "Timestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that the report is for. It is expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC.</p>"
        },
        "Reports":{
          "shape":"ServiceLevelObjectiveBudgetReports",
          "documentation":"<p>An array of structures, where each structure is one budget report.</p>"
        },
        "Errors":{
          "shape":"ServiceLevelObjectiveBudgetReportErrors",
          "documentation":"<p>An array of structures, where each structure includes an error indicating that one of the requests in the array was not valid.</p>"
        }
      }
    },
    "BatchUpdateExclusionWindowsError":{
      "type":"structure",
      "required":[
        "SloId",
        "ErrorCode",
        "ErrorMessage"
      ],
      "members":{
        "SloId":{
          "shape":"ServiceLevelObjectiveId",
          "documentation":"<p>The SLO ID in the error.</p>"
        },
        "ErrorCode":{
          "shape":"ExclusionWindowErrorCode",
          "documentation":"<p>The error code.</p>"
        },
        "ErrorMessage":{
          "shape":"ExclusionWindowErrorMessage",
          "documentation":"<p>The error message.</p>"
        }
      },
      "documentation":"<p>An array of structures, where each structure includes an error indicating that one of the requests in the array was not valid.</p>"
    },
    "BatchUpdateExclusionWindowsErrors":{
      "type":"list",
      "member":{"shape":"BatchUpdateExclusionWindowsError"},
      "max":10,
      "min":0
    },
    "BatchUpdateExclusionWindowsInput":{
      "type":"structure",
      "required":["SloIds"],
      "members":{
        "SloIds":{
          "shape":"ServiceLevelObjectiveIds",
          "documentation":"<p>The list of SLO IDs to add or remove exclusion windows from.</p>"
        },
        "AddExclusionWindows":{
          "shape":"ExclusionWindows",
          "documentation":"<p>A list of exclusion windows to add to the specified SLOs. You can add up to 10 exclusion windows per SLO.</p>"
        },
        "RemoveExclusionWindows":{
          "shape":"ExclusionWindows",
          "documentation":"<p>A list of exclusion windows to remove from the specified SLOs. The window configuration must match an existing exclusion window.</p>"
        }
      }
    },
    "BatchUpdateExclusionWindowsOutput":{
      "type":"structure",
      "required":[
        "SloIds",
        "Errors"
      ],
      "members":{
        "SloIds":{
          "shape":"ServiceLevelObjectiveIds",
          "documentation":"<p>The list of SLO IDs that were successfully processed.</p>"
        },
        "Errors":{
          "shape":"BatchUpdateExclusionWindowsErrors",
          "documentation":"<p>A list of errors that occurred while processing the request.</p>"
        }
      }
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "BudgetRequestsRemaining":{
      "type":"integer",
      "box":true
    },
    "BudgetSecondsRemaining":{
      "type":"integer",
      "box":true
    },
    "BurnRateConfiguration":{
      "type":"structure",
      "required":["LookBackWindowMinutes"],
      "members":{
        "LookBackWindowMinutes":{
          "shape":"BurnRateLookBackWindowMinutes",
          "documentation":"<p>The number of minutes to use as the look-back window.</p>"
        }
      },
      "documentation":"<p>This object defines the length of the look-back window used to calculate one burn rate metric for this SLO. The burn rate measures how fast the service is consuming the error budget, relative to the attainment goal of the SLO. A burn rate of exactly 1 indicates that the SLO goal will be met exactly.</p> <p>For example, if you specify 60 as the number of minutes in the look-back window, the burn rate is calculated as the following:</p> <p> <i>burn rate = error rate over the look-back window / (100% - attainment goal percentage)</i> </p> <p>For more information about burn rates, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-ServiceLevelObjectives.html#CloudWatch-ServiceLevelObjectives-burn\">Calculate burn rates</a>.</p>"
    },
    "BurnRateConfigurations":{
      "type":"list",
      "member":{"shape":"BurnRateConfiguration"},
      "max":10,
      "min":0
    },
    "BurnRateLookBackWindowMinutes":{
      "type":"integer",
      "box":true,
      "max":10080,
      "min":1
    },
    "CalendarInterval":{
      "type":"structure",
      "required":[
        "StartTime",
        "DurationUnit",
        "Duration"
      ],
      "members":{
        "StartTime":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time when you want the first interval to start. Be sure to choose a time that configures the intervals the way that you want. For example, if you want weekly intervals starting on Mondays at 6 a.m., be sure to specify a start time that is a Monday at 6 a.m.</p> <p>When used in a raw HTTP Query API, it is formatted as be epoch time in seconds. For example: <code>1698778057</code> </p> <p>As soon as one calendar interval ends, another automatically begins.</p>"
        },
        "DurationUnit":{
          "shape":"DurationUnit",
          "documentation":"<p>Specifies the calendar interval unit.</p>"
        },
        "Duration":{
          "shape":"CalendarIntervalDuration",
          "documentation":"<p>Specifies the duration of each calendar interval. For example, if <code>Duration</code> is <code>1</code> and <code>DurationUnit</code> is <code>MONTH</code>, each interval is one month, aligned with the calendar.</p>"
        }
      },
      "documentation":"<p>If the interval for this service level objective is a calendar interval, this structure contains the interval specifications.</p>"
    },
    "CalendarIntervalDuration":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "ConflictException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p>This operation attempted to create a resource that already exists.</p>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "CreateServiceLevelObjectiveInput":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"ServiceLevelObjectiveName",
          "documentation":"<p>A name for this SLO.</p>"
        },
        "Description":{
          "shape":"ServiceLevelObjectiveDescription",
          "documentation":"<p>An optional description for this SLO.</p>"
        },
        "SliConfig":{
          "shape":"ServiceLevelIndicatorConfig",
          "documentation":"<p>If this SLO is a period-based SLO, this structure defines the information about what performance metric this SLO will monitor.</p> <p>You can't specify both <code>RequestBasedSliConfig</code> and <code>SliConfig</code> in the same operation.</p>"
        },
        "RequestBasedSliConfig":{
          "shape":"RequestBasedServiceLevelIndicatorConfig",
          "documentation":"<p>If this SLO is a request-based SLO, this structure defines the information about what performance metric this SLO will monitor.</p> <p>You can't specify both <code>RequestBasedSliConfig</code> and <code>SliConfig</code> in the same operation.</p>"
        },
        "Goal":{
          "shape":"Goal",
          "documentation":"<p>This structure contains the attributes that determine the goal of the SLO.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>A list of key-value pairs to associate with the SLO. You can associate as many as 50 tags with an SLO. To be able to associate tags with the SLO when you create the SLO, you must have the <code>cloudwatch:TagResource</code> permission.</p> <p>Tags can help you organize and categorize your resources. You can also use them to scope user permissions by granting a user permission to access or change only resources with certain tag values.</p>"
        },
        "BurnRateConfigurations":{
          "shape":"BurnRateConfigurations",
          "documentation":"<p>Use this array to create <i>burn rates</i> for this SLO. Each burn rate is a metric that indicates how fast the service is consuming the error budget, relative to the attainment goal of the SLO.</p>"
        }
      }
    },
    "CreateServiceLevelObjectiveOutput":{
      "type":"structure",
      "required":["Slo"],
      "members":{
        "Slo":{
          "shape":"ServiceLevelObjective",
          "documentation":"<p>A structure that contains information about the SLO that you just created.</p>"
        }
      }
    },
    "DeleteServiceLevelObjectiveInput":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"ServiceLevelObjectiveId",
          "documentation":"<p>The ARN or name of the service level objective to delete.</p>",
          "location":"uri",
          "locationName":"Id"
        }
      }
    },
    "DeleteServiceLevelObjectiveOutput":{
      "type":"structure",
      "members":{
      }
    },
    "DependencyConfig":{
      "type":"structure",
      "required":[
        "DependencyKeyAttributes",
        "DependencyOperationName"
      ],
      "members":{
        "DependencyKeyAttributes":{
          "shape":"Attributes",
          "documentation":"<p>This is a string-to-string map. It can include the following fields.</p> <ul> <li> <p> <code>Type</code> designates the type of object this is.</p> </li> <li> <p> <code>ResourceType</code> specifies the type of the resource. This field is used only when the value of the <code>Type</code> field is <code>Resource</code> or <code>AWS::Resource</code>.</p> </li> <li> <p> <code>Name</code> specifies the name of the object. This is used only if the value of the <code>Type</code> field is <code>Service</code>, <code>RemoteService</code>, or <code>AWS::Service</code>.</p> </li> <li> <p> <code>Identifier</code> identifies the resource objects of this resource. This is used only if the value of the <code>Type</code> field is <code>Resource</code> or <code>AWS::Resource</code>.</p> </li> <li> <p> <code>Environment</code> specifies the location where this object is hosted, or what it belongs to.</p> </li> </ul>"
        },
        "DependencyOperationName":{
          "shape":"OperationName",
          "documentation":"<p>The name of the called operation in the dependency.</p>"
        }
      },
      "documentation":"<p>Identifies the dependency using the <code>DependencyKeyAttributes</code> and <code>DependencyOperationName</code>.</p> <p>When creating a service dependency SLO, you must specify the <code>KeyAttributes</code> of the service, and the <code>DependencyConfig</code> for the dependency. You can specify the <code>OperationName</code> of the service, from which it calls the dependency. Alternatively, you can exclude <code>OperationName</code> and the SLO will monitor all of the service's operations that call the dependency.</p>"
    },
    "Dimension":{
      "type":"structure",
      "required":[
        "Name",
        "Value"
      ],
      "members":{
        "Name":{
          "shape":"DimensionName",
          "documentation":"<p>The name of the dimension. Dimension names must contain only ASCII characters, must include at least one non-whitespace character, and cannot start with a colon (<code>:</code>). ASCII control characters are not supported as part of dimension names.</p>"
        },
        "Value":{
          "shape":"DimensionValue",
          "documentation":"<p>The value of the dimension. Dimension values must contain only ASCII characters and must include at least one non-whitespace character. ASCII control characters are not supported as part of dimension values.</p>"
        }
      },
      "documentation":"<p>A dimension is a name/value pair that is part of the identity of a metric. Because dimensions are part of the unique identifier for a metric, whenever you add a unique name/value pair to one of your metrics, you are creating a new variation of that metric. For example, many Amazon EC2 metrics publish <code>InstanceId</code> as a dimension name, and the actual instance ID as the value for that dimension.</p> <p>You can assign up to 30 dimensions to a metric.</p>"
    },
    "DimensionName":{
      "type":"string",
      "max":255,
      "min":1
    },
    "DimensionValue":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "Dimensions":{
      "type":"list",
      "member":{"shape":"Dimension"},
      "max":30,
      "min":0
    },
    "DurationUnit":{
      "type":"string",
      "enum":[
        "MINUTE",
        "HOUR",
        "DAY",
        "MONTH"
      ]
    },
    "EvaluationType":{
      "type":"string",
      "enum":[
        "PeriodBased",
        "RequestBased"
      ]
    },
    "ExclusionDuration":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "ExclusionReason":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "ExclusionWindow":{
      "type":"structure",
      "required":["Window"],
      "members":{
        "Window":{
          "shape":"Window",
          "documentation":"<p>The SLO time window exclusion .</p>"
        },
        "StartTime":{
          "shape":"Timestamp",
          "documentation":"<p>The start of the SLO time window exclusion. Defaults to current time if not specified.</p>"
        },
        "RecurrenceRule":{
          "shape":"RecurrenceRule",
          "documentation":"<p>The recurrence rule for the SLO time window exclusion. Supports both cron and rate expressions.</p>"
        },
        "Reason":{
          "shape":"ExclusionReason",
          "documentation":"<p>A description explaining why this time period should be excluded from SLO calculations.</p>"
        }
      },
      "documentation":"<p>The core SLO time window exclusion object that includes Window, StartTime, RecurrenceRule, and Reason.</p>"
    },
    "ExclusionWindowErrorCode":{"type":"string"},
    "ExclusionWindowErrorMessage":{"type":"string"},
    "ExclusionWindows":{
      "type":"list",
      "member":{"shape":"ExclusionWindow"},
      "max":10,
      "min":0
    },
    "Expression":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "FaultDescription":{"type":"string"},
    "GetServiceInput":{
      "type":"structure",
      "required":[
        "StartTime",
        "EndTime",
        "KeyAttributes"
      ],
      "members":{
        "StartTime":{
          "shape":"Timestamp",
          "documentation":"<p>The start of the time period to retrieve information about. When used in a raw HTTP Query API, it is formatted as be epoch time in seconds. For example: <code>1698778057</code> </p> <p>Your requested start time will be rounded to the nearest hour.</p>",
          "location":"querystring",
          "locationName":"StartTime"
        },
        "EndTime":{
          "shape":"Timestamp",
          "documentation":"<p>The end of the time period to retrieve information about. When used in a raw HTTP Query API, it is formatted as be epoch time in seconds. For example: <code>1698778057</code> </p> <p>Your requested start time will be rounded to the nearest hour.</p>",
          "location":"querystring",
          "locationName":"EndTime"
        },
        "KeyAttributes":{
          "shape":"Attributes",
          "documentation":"<p>Use this field to specify which service you want to retrieve information for. You must specify at least the <code>Type</code>, <code>Name</code>, and <code>Environment</code> attributes.</p> <p>This is a string-to-string map. It can include the following fields.</p> <ul> <li> <p> <code>Type</code> designates the type of object this is.</p> </li> <li> <p> <code>ResourceType</code> specifies the type of the resource. This field is used only when the value of the <code>Type</code> field is <code>Resource</code> or <code>AWS::Resource</code>.</p> </li> <li> <p> <code>Name</code> specifies the name of the object. This is used only if the value of the <code>Type</code> field is <code>Service</code>, <code>RemoteService</code>, or <code>AWS::Service</code>.</p> </li> <li> <p> <code>Identifier</code> identifies the resource objects of this resource. This is used only if the value of the <code>Type</code> field is <code>Resource</code> or <code>AWS::Resource</code>.</p> </li> <li> <p> <code>Environment</code> specifies the location where this object is hosted, or what it belongs to.</p> </li> </ul>"
        }
      }
    },
    "GetServiceLevelObjectiveInput":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"ServiceLevelObjectiveId",
          "documentation":"<p>The ARN or name of the SLO that you want to retrieve information about. You can find the ARNs of SLOs by using the <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_ListServiceLevelObjectives.html\">ListServiceLevelObjectives</a> operation.</p>",
          "location":"uri",
          "locationName":"Id"
        }
      }
    },
    "GetServiceLevelObjectiveOutput":{
      "type":"structure",
      "required":["Slo"],
      "members":{
        "Slo":{
          "shape":"ServiceLevelObjective",
          "documentation":"<p>A structure containing the information about the SLO.</p>"
        }
      }
    },
    "GetServiceOutput":{
      "type":"structure",
      "required":[
        "Service",
        "StartTime",
        "EndTime"
      ],
      "members":{
        "Service":{
          "shape":"Service",
          "documentation":"<p>A structure containing information about the service.</p>"
        },
        "StartTime":{
          "shape":"Timestamp",
          "documentation":"<p>The start time of the data included in the response. In a raw HTTP Query API, it is formatted as be epoch time in seconds. For example: <code>1698778057</code>.</p> <p>This displays the time that Application Signals used for the request. It might not match your request exactly, because it was rounded to the nearest hour.</p>"
        },
        "EndTime":{
          "shape":"Timestamp",
          "documentation":"<p>The end time of the data included in the response. In a raw HTTP Query API, it is formatted as be epoch time in seconds. For example: <code>1698778057</code>.</p> <p>This displays the time that Application Signals used for the request. It might not match your request exactly, because it was rounded to the nearest hour.</p>"
        },
        "LogGroupReferences":{
          "shape":"LogGroupReferences",
          "documentation":"<p>An array of string-to-string maps that each contain information about one log group associated with this service. Each string-to-string map includes the following fields:</p> <ul> <li> <p> <code>\"Type\": \"AWS::Resource\"</code> </p> </li> <li> <p> <code>\"ResourceType\": \"AWS::Logs::LogGroup\"</code> </p> </li> <li> <p> <code>\"Identifier\": \"<i>name-of-log-group</i>\"</code> </p> </li> </ul>"
        }
      }
    },
    "Goal":{
      "type":"structure",
      "members":{
        "Interval":{
          "shape":"Interval",
          "documentation":"<p>The time period used to evaluate the SLO. It can be either a calendar interval or rolling interval.</p> <p>If you omit this parameter, a rolling interval of 7 days is used.</p>"
        },
        "AttainmentGoal":{
          "shape":"AttainmentGoal",
          "documentation":"<p>The threshold that determines if the goal is being met.</p> <p>If this is a period-based SLO, the attainment goal is the percentage of good periods that meet the threshold requirements to the total periods within the interval. For example, an attainment goal of 99.9% means that within your interval, you are targeting 99.9% of the periods to be in healthy state.</p> <p>If this is a request-based SLO, the attainment goal is the percentage of requests that must be successful to meet the attainment goal.</p> <p>If you omit this parameter, 99 is used to represent 99% as the attainment goal.</p>"
        },
        "WarningThreshold":{
          "shape":"WarningThreshold",
          "documentation":"<p>The percentage of remaining budget over total budget that you want to get warnings for. If you omit this parameter, the default of 50.0 is used. </p>"
        }
      },
      "documentation":"<p>This structure contains the attributes that determine the goal of an SLO. This includes the time period for evaluation and the attainment threshold.</p>"
    },
    "Interval":{
      "type":"structure",
      "members":{
        "RollingInterval":{
          "shape":"RollingInterval",
          "documentation":"<p>If the interval is a rolling interval, this structure contains the interval specifications.</p>"
        },
        "CalendarInterval":{
          "shape":"CalendarInterval",
          "documentation":"<p>If the interval is a calendar interval, this structure contains the interval specifications.</p>"
        }
      },
      "documentation":"<p>The time period used to evaluate the SLO. It can be either a calendar interval or rolling interval.</p>",
      "union":true
    },
    "KeyAttributeName":{
      "type":"string",
      "pattern":"[a-zA-Z]{1,50}"
    },
    "KeyAttributeValue":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"[ -~]*[!-~]+[ -~]*"
    },
    "ListServiceDependenciesInput":{
      "type":"structure",
      "required":[
        "StartTime",
        "EndTime",
        "KeyAttributes"
      ],
      "members":{
        "StartTime":{
          "shape":"Timestamp",
          "documentation":"<p>The start of the time period to retrieve information about. When used in a raw HTTP Query API, it is formatted as be epoch time in seconds. For example: <code>1698778057</code> </p> <p>Your requested start time will be rounded to the nearest hour.</p>",
          "location":"querystring",
          "locationName":"StartTime"
        },
        "EndTime":{
          "shape":"Timestamp",
          "documentation":"<p>The end of the time period to retrieve information about. When used in a raw HTTP Query API, it is formatted as be epoch time in seconds. For example: <code>1698778057</code> </p> <p>Your requested end time will be rounded to the nearest hour.</p>",
          "location":"querystring",
          "locationName":"EndTime"
        },
        "KeyAttributes":{
          "shape":"Attributes",
          "documentation":"<p>Use this field to specify which service you want to retrieve information for. You must specify at least the <code>Type</code>, <code>Name</code>, and <code>Environment</code> attributes.</p> <p>This is a string-to-string map. It can include the following fields.</p> <ul> <li> <p> <code>Type</code> designates the type of object this is.</p> </li> <li> <p> <code>ResourceType</code> specifies the type of the resource. This field is used only when the value of the <code>Type</code> field is <code>Resource</code> or <code>AWS::Resource</code>.</p> </li> <li> <p> <code>Name</code> specifies the name of the object. This is used only if the value of the <code>Type</code> field is <code>Service</code>, <code>RemoteService</code>, or <code>AWS::Service</code>.</p> </li> <li> <p> <code>Identifier</code> identifies the resource objects of this resource. This is used only if the value of the <code>Type</code> field is <code>Resource</code> or <code>AWS::Resource</code>.</p> </li> <li> <p> <code>Environment</code> specifies the location where this object is hosted, or what it belongs to.</p> </li> </ul>"
        },
        "MaxResults":{
          "shape":"ListServiceDependenciesMaxResults",
          "documentation":"<p>The maximum number of results to return in one operation. If you omit this parameter, the default of 50 is used.</p>",
          "location":"querystring",
          "locationName":"MaxResults"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>Include this value, if it was returned by the previous operation, to get the next set of service dependencies.</p>",
          "location":"querystring",
          "locationName":"NextToken"
        }
      }
    },
    "ListServiceDependenciesMaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListServiceDependenciesOutput":{
      "type":"structure",
      "required":[
        "StartTime",
        "EndTime",
        "ServiceDependencies"
      ],
      "members":{
        "StartTime":{
          "shape":"Timestamp",
          "documentation":"<p>The start of the time period that the returned information applies to. When used in a raw HTTP Query API, it is formatted as be epoch time in seconds. For example: <code>1698778057</code> </p> <p>This displays the time that Application Signals used for the request. It might not match your request exactly, because it was rounded to the nearest hour.</p>"
        },
        "EndTime":{
          "shape":"Timestamp",
          "documentation":"<p>The end of the time period that the returned information applies to. When used in a raw HTTP Query API, it is formatted as be epoch time in seconds. For example: <code>1698778057</code> </p> <p>This displays the time that Application Signals used for the request. It might not match your request exactly, because it was rounded to the nearest hour.</p>"
        },
        "ServiceDependencies":{
          "shape":"ServiceDependencies",
          "documentation":"<p>An array, where each object in the array contains information about one of the dependencies of this service.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>Include this value in your next use of this API to get next set of service dependencies.</p>"
        }
      }
    },
    "ListServiceDependentsInput":{
      "type":"structure",
      "required":[
        "StartTime",
        "EndTime",
        "KeyAttributes"
      ],
      "members":{
        "StartTime":{
          "shape":"Timestamp",
          "documentation":"<p>The start of the time period to retrieve information about. When used in a raw HTTP Query API, it is formatted as be epoch time in seconds. For example: <code>1698778057</code> </p> <p>Your requested start time will be rounded to the nearest hour.</p>",
          "location":"querystring",
          "locationName":"StartTime"
        },
        "EndTime":{
          "shape":"Timestamp",
          "documentation":"<p>The end of the time period to retrieve information about. When used in a raw HTTP Query API, it is formatted as be epoch time in seconds. For example: <code>1698778057</code> </p> <p>Your requested start time will be rounded to the nearest hour.</p>",
          "location":"querystring",
          "locationName":"EndTime"
        },
        "KeyAttributes":{
          "shape":"Attributes",
          "documentation":"<p>Use this field to specify which service you want to retrieve information for. You must specify at least the <code>Type</code>, <code>Name</code>, and <code>Environment</code> attributes.</p> <p>This is a string-to-string map. It can include the following fields.</p> <ul> <li> <p> <code>Type</code> designates the type of object this is.</p> </li> <li> <p> <code>ResourceType</code> specifies the type of the resource. This field is used only when the value of the <code>Type</code> field is <code>Resource</code> or <code>AWS::Resource</code>.</p> </li> <li> <p> <code>Name</code> specifies the name of the object. This is used only if the value of the <code>Type</code> field is <code>Service</code>, <code>RemoteService</code>, or <code>AWS::Service</code>.</p> </li> <li> <p> <code>Identifier</code> identifies the resource objects of this resource. This is used only if the value of the <code>Type</code> field is <code>Resource</code> or <code>AWS::Resource</code>.</p> </li> <li> <p> <code>Environment</code> specifies the location where this object is hosted, or what it belongs to.</p> </li> </ul>"
        },
        "MaxResults":{
          "shape":"ListServiceDependentsMaxResults",
          "documentation":"<p>The maximum number of results to return in one operation. If you omit this parameter, the default of 50 is used.</p>",
          "location":"querystring",
          "locationName":"MaxResults"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>Include this value, if it was returned by the previous operation, to get the next set of service dependents.</p>",
          "location":"querystring",
          "locationName":"NextToken"
        }
      }
    },
    "ListServiceDependentsMaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListServiceDependentsOutput":{
      "type":"structure",
      "required":[
        "StartTime",
        "EndTime",
        "ServiceDependents"
      ],
      "members":{
        "StartTime":{
          "shape":"Timestamp",
          "documentation":"<p>The start of the time period that the returned information applies to. When used in a raw HTTP Query API, it is formatted as be epoch time in seconds. For example: <code>1698778057</code> </p> <p>This displays the time that Application Signals used for the request. It might not match your request exactly, because it was rounded to the nearest hour.</p>"
        },
        "EndTime":{
          "shape":"Timestamp",
          "documentation":"<p>The end of the time period that the returned information applies to. When used in a raw HTTP Query API, it is formatted as be epoch time in seconds. For example: <code>1698778057</code> </p> <p>This displays the time that Application Signals used for the request. It might not match your request exactly, because it was rounded to the nearest hour.</p>"
        },
        "ServiceDependents":{
          "shape":"ServiceDependents",
          "documentation":"<p>An array, where each object in the array contains information about one of the dependents of this service.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>Include this value in your next use of this API to get next set of service dependents.</p>"
        }
      }
    },
    "ListServiceLevelObjectiveExclusionWindowsInput":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"ServiceLevelObjectiveId",
          "documentation":"<p>The ID of the SLO to list exclusion windows for.</p>",
          "location":"uri",
          "locationName":"Id"
        },
        "MaxResults":{
          "shape":"ListServiceLevelObjectiveExclusionWindowsMaxResults",
          "documentation":"<p>The maximum number of results to return in one operation. If you omit this parameter, the default of 50 is used. <pre><code> &lt;/p&gt; </code></pre>",
          "location":"querystring",
          "locationName":"MaxResults"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>Include this value, if it was returned by the previous operation, to get the next set of service level objectives. <pre><code> &lt;/p&gt; </code></pre>",
          "location":"querystring",
          "locationName":"NextToken"
        }
      }
    },
    "ListServiceLevelObjectiveExclusionWindowsMaxResults":{
      "type":"integer",
      "box":true,
      "max":10,
      "min":1
    },
    "ListServiceLevelObjectiveExclusionWindowsOutput":{
      "type":"structure",
      "required":["ExclusionWindows"],
      "members":{
        "ExclusionWindows":{
          "shape":"ExclusionWindows",
          "documentation":"<p>A list of exclusion windows configured for the SLO.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>Include this value, if it was returned by the previous operation, to get the next set of service level objectives. <pre><code> &lt;/p&gt; </code></pre>"
        }
      }
    },
    "ListServiceLevelObjectivesInput":{
      "type":"structure",
      "members":{
        "KeyAttributes":{
          "shape":"Attributes",
          "documentation":"<p>You can use this optional field to specify which services you want to retrieve SLO information for.</p> <p>This is a string-to-string map. It can include the following fields.</p> <ul> <li> <p> <code>Type</code> designates the type of object this is.</p> </li> <li> <p> <code>ResourceType</code> specifies the type of the resource. This field is used only when the value of the <code>Type</code> field is <code>Resource</code> or <code>AWS::Resource</code>.</p> </li> <li> <p> <code>Name</code> specifies the name of the object. This is used only if the value of the <code>Type</code> field is <code>Service</code>, <code>RemoteService</code>, or <code>AWS::Service</code>.</p> </li> <li> <p> <code>Identifier</code> identifies the resource objects of this resource. This is used only if the value of the <code>Type</code> field is <code>Resource</code> or <code>AWS::Resource</code>.</p> </li> <li> <p> <code>Environment</code> specifies the location where this object is hosted, or what it belongs to.</p> </li> </ul>"
        },
        "OperationName":{
          "shape":"OperationName",
          "documentation":"<p>The name of the operation that this SLO is associated with.</p>",
          "location":"querystring",
          "locationName":"OperationName"
        },
        "DependencyConfig":{
          "shape":"DependencyConfig",
          "documentation":"<p>Identifies the dependency using the <code>DependencyKeyAttributes</code> and <code>DependencyOperationName</code>. </p>"
        },
        "MaxResults":{
          "shape":"ListServiceLevelObjectivesMaxResults",
          "documentation":"<p>The maximum number of results to return in one operation. If you omit this parameter, the default of 50 is used.</p>",
          "location":"querystring",
          "locationName":"MaxResults"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>Include this value, if it was returned by the previous operation, to get the next set of service level objectives.</p>",
          "location":"querystring",
          "locationName":"NextToken"
        },
        "MetricSourceTypes":{
          "shape":"MetricSourceTypes",
          "documentation":"<p>Use this optional field to only include SLOs with the specified metric source types in the output. Supported types are:</p> <ul> <li> <p>Service operation</p> </li> <li> <p>Service dependency</p> </li> <li> <p>CloudWatch metric</p> </li> </ul>"
        },
        "IncludeLinkedAccounts":{
          "shape":"Boolean",
          "documentation":"<p>If you are using this operation in a monitoring account, specify <code>true</code> to include SLO from source accounts in the returned data. <pre><code> &lt;/p&gt; &lt;p&gt;When you are monitoring an account, you can use Amazon Web Services account ID in &lt;code&gt;KeyAttribute&lt;/code&gt; filter for service source account and &lt;code&gt;SloOwnerawsaccountID&lt;/code&gt; for SLO source account with &lt;code&gt;IncludeLinkedAccounts&lt;/code&gt; to filter the returned data to only a single source account. &lt;/p&gt; </code></pre>",
          "location":"querystring",
          "locationName":"IncludeLinkedAccounts"
        },
        "SloOwnerAwsAccountId":{
          "shape":"AwsAccountId",
          "documentation":"<p>SLO's Amazon Web Services account ID.</p>",
          "location":"querystring",
          "locationName":"SloOwnerAwsAccountId"
        }
      }
    },
    "ListServiceLevelObjectivesMaxResults":{
      "type":"integer",
      "box":true,
      "max":50,
      "min":1
    },
    "ListServiceLevelObjectivesOutput":{
      "type":"structure",
      "members":{
        "SloSummaries":{
          "shape":"ServiceLevelObjectiveSummaries",
          "documentation":"<p>An array of structures, where each structure contains information about one SLO.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>Include this value in your next use of this API to get next set of service level objectives.</p>"
        }
      }
    },
    "ListServiceOperationMaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListServiceOperationsInput":{
      "type":"structure",
      "required":[
        "StartTime",
        "EndTime",
        "KeyAttributes"
      ],
      "members":{
        "StartTime":{
          "shape":"Timestamp",
          "documentation":"<p>The start of the time period to retrieve information about. When used in a raw HTTP Query API, it is formatted as be epoch time in seconds. For example: <code>1698778057</code> </p> <p>Your requested start time will be rounded to the nearest hour.</p>",
          "location":"querystring",
          "locationName":"StartTime"
        },
        "EndTime":{
          "shape":"Timestamp",
          "documentation":"<p>The end of the time period to retrieve information about. When used in a raw HTTP Query API, it is formatted as be epoch time in seconds. For example: <code>1698778057</code> </p> <p>Your requested end time will be rounded to the nearest hour.</p>",
          "location":"querystring",
          "locationName":"EndTime"
        },
        "KeyAttributes":{
          "shape":"Attributes",
          "documentation":"<p>Use this field to specify which service you want to retrieve information for. You must specify at least the <code>Type</code>, <code>Name</code>, and <code>Environment</code> attributes.</p> <p>This is a string-to-string map. It can include the following fields.</p> <ul> <li> <p> <code>Type</code> designates the type of object this is.</p> </li> <li> <p> <code>ResourceType</code> specifies the type of the resource. This field is used only when the value of the <code>Type</code> field is <code>Resource</code> or <code>AWS::Resource</code>.</p> </li> <li> <p> <code>Name</code> specifies the name of the object. This is used only if the value of the <code>Type</code> field is <code>Service</code>, <code>RemoteService</code>, or <code>AWS::Service</code>.</p> </li> <li> <p> <code>Identifier</code> identifies the resource objects of this resource. This is used only if the value of the <code>Type</code> field is <code>Resource</code> or <code>AWS::Resource</code>.</p> </li> <li> <p> <code>Environment</code> specifies the location where this object is hosted, or what it belongs to.</p> </li> </ul>"
        },
        "MaxResults":{
          "shape":"ListServiceOperationMaxResults",
          "documentation":"<p>The maximum number of results to return in one operation. If you omit this parameter, the default of 50 is used.</p>",
          "location":"querystring",
          "locationName":"MaxResults"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>Include this value, if it was returned by the previous operation, to get the next set of service operations.</p>",
          "location":"querystring",
          "locationName":"NextToken"
        }
      }
    },
    "ListServiceOperationsOutput":{
      "type":"structure",
      "required":[
        "StartTime",
        "EndTime",
        "ServiceOperations"
      ],
      "members":{
        "StartTime":{
          "shape":"Timestamp",
          "documentation":"<p>The start of the time period that the returned information applies to. When used in a raw HTTP Query API, it is formatted as be epoch time in seconds. For example: <code>1698778057</code> </p> <p>This displays the time that Application Signals used for the request. It might not match your request exactly, because it was rounded to the nearest hour.</p>"
        },
        "EndTime":{
          "shape":"Timestamp",
          "documentation":"<p>The end of the time period that the returned information applies to. When used in a raw HTTP Query API, it is formatted as be epoch time in seconds. For example: <code>1698778057</code> </p> <p>This displays the time that Application Signals used for the request. It might not match your request exactly, because it was rounded to the nearest hour.</p>"
        },
        "ServiceOperations":{
          "shape":"ServiceOperations",
          "documentation":"<p>An array of structures that each contain information about one operation of this service.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>Include this value in your next use of this API to get next set of service operations.</p>"
        }
      }
    },
    "ListServicesInput":{
      "type":"structure",
      "required":[
        "StartTime",
        "EndTime"
      ],
      "members":{
        "StartTime":{
          "shape":"Timestamp",
          "documentation":"<p>The start of the time period to retrieve information about. When used in a raw HTTP Query API, it is formatted as be epoch time in seconds. For example: <code>1698778057</code> </p> <p>Your requested start time will be rounded to the nearest hour.</p>",
          "location":"querystring",
          "locationName":"StartTime"
        },
        "EndTime":{
          "shape":"Timestamp",
          "documentation":"<p>The end of the time period to retrieve information about. When used in a raw HTTP Query API, it is formatted as be epoch time in seconds. For example: <code>1698778057</code> </p> <p>Your requested start time will be rounded to the nearest hour.</p>",
          "location":"querystring",
          "locationName":"EndTime"
        },
        "MaxResults":{
          "shape":"ListServicesMaxResults",
          "documentation":"<p> The maximum number of results to return in one operation. If you omit this parameter, the default of 50 is used. </p>",
          "location":"querystring",
          "locationName":"MaxResults"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>Include this value, if it was returned by the previous operation, to get the next set of services.</p>",
          "location":"querystring",
          "locationName":"NextToken"
        },
        "IncludeLinkedAccounts":{
          "shape":"Boolean",
          "documentation":"<p>If you are using this operation in a monitoring account, specify <code>true</code> to include services from source accounts in the returned data. <pre><code> &lt;/p&gt; </code></pre>",
          "location":"querystring",
          "locationName":"IncludeLinkedAccounts"
        },
        "AwsAccountId":{
          "shape":"AwsAccountId",
          "documentation":"<p>Amazon Web Services Account ID.</p>",
          "location":"querystring",
          "locationName":"AwsAccountId"
        }
      }
    },
    "ListServicesMaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListServicesOutput":{
      "type":"structure",
      "required":[
        "StartTime",
        "EndTime",
        "ServiceSummaries"
      ],
      "members":{
        "StartTime":{
          "shape":"Timestamp",
          "documentation":"<p>The start of the time period that the returned information applies to. When used in a raw HTTP Query API, it is formatted as be epoch time in seconds. For example: <code>1698778057</code> </p> <p>This displays the time that Application Signals used for the request. It might not match your request exactly, because it was rounded to the nearest hour.</p>"
        },
        "EndTime":{
          "shape":"Timestamp",
          "documentation":"<p>The end of the time period that the returned information applies to. When used in a raw HTTP Query API, it is formatted as be epoch time in seconds. For example: <code>1698778057</code> </p> <p>This displays the time that Application Signals used for the request. It might not match your request exactly, because it was rounded to the nearest hour.</p>"
        },
        "ServiceSummaries":{
          "shape":"ServiceSummaries",
          "documentation":"<p>An array of structures, where each structure contains some information about a service. To get complete information about a service, use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_GetService.html\">GetService</a>.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>Include this value in your next use of this API to get next set of services.</p>"
        }
      }
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":["ResourceArn"],
      "members":{
        "ResourceArn":{
          "shape":"AmazonResourceName",
          "documentation":"<p>The Amazon Resource Name (ARN) of the CloudWatch resource that you want to view tags for.</p> <p>The ARN format of an Application Signals SLO is <code>arn:aws:cloudwatch:<i>Region</i>:<i>account-id</i>:slo:<i>slo-name</i> </code> </p> <p>For more information about ARN format, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/list_amazoncloudwatch.html#amazoncloudwatch-resources-for-iam-policies\"> Resource Types Defined by Amazon CloudWatch</a> in the <i>Amazon Web Services General Reference</i>.</p>",
          "location":"querystring",
          "locationName":"ResourceArn"
        }
      }
    },
    "ListTagsForResourceResponse":{
      "type":"structure",
      "members":{
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The list of tag keys and values associated with the resource you specified.</p>"
        }
      }
    },
    "LogGroupReferences":{
      "type":"list",
      "member":{"shape":"Attributes"}
    },
    "Metric":{
      "type":"structure",
      "members":{
        "Namespace":{
          "shape":"Namespace",
          "documentation":"<p>The namespace of the metric. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_concepts.html#Namespace\">Namespaces</a>.</p>"
        },
        "MetricName":{
          "shape":"MetricName",
          "documentation":"<p>The name of the metric to use.</p>"
        },
        "Dimensions":{
          "shape":"Dimensions",
          "documentation":"<p>An array of one or more dimensions to use to define the metric that you want to use. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_concepts.html#Dimension\">Dimensions</a>.</p>"
        }
      },
      "documentation":"<p>This structure defines the metric used for a service level indicator, including the metric name, namespace, and dimensions</p>"
    },
    "MetricDataQueries":{
      "type":"list",
      "member":{"shape":"MetricDataQuery"}
    },
    "MetricDataQuery":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"MetricId",
          "documentation":"<p>A short name used to tie this object to the results in the response. This <code>Id</code> must be unique within a <code>MetricDataQueries</code> array. If you are performing math expressions on this set of data, this name represents that data and can serve as a variable in the metric math expression. The valid characters are letters, numbers, and underscore. The first character must be a lowercase letter.</p>"
        },
        "MetricStat":{
          "shape":"MetricStat",
          "documentation":"<p>A metric to be used directly for the SLO, or to be used in the math expression that will be used for the SLO.</p> <p>Within one <code>MetricDataQuery</code> object, you must specify either <code>Expression</code> or <code>MetricStat</code> but not both.</p>"
        },
        "Expression":{
          "shape":"MetricExpression",
          "documentation":"<p>This field can contain a metric math expression to be performed on the other metrics that you are retrieving within this <code>MetricDataQueries</code> structure. </p> <p>A math expression can use the <code>Id</code> of the other metrics or queries to refer to those metrics, and can also use the <code>Id</code> of other expressions to use the result of those expressions. For more information about metric math expressions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/using-metric-math.html#metric-math-syntax\">Metric Math Syntax and Functions</a> in the <i>Amazon CloudWatch User Guide</i>.</p> <p>Within each <code>MetricDataQuery</code> object, you must specify either <code>Expression</code> or <code>MetricStat</code> but not both.</p>"
        },
        "Label":{
          "shape":"MetricLabel",
          "documentation":"<p>A human-readable label for this metric or expression. This is especially useful if this is an expression, so that you know what the value represents. If the metric or expression is shown in a CloudWatch dashboard widget, the label is shown. If <code>Label</code> is omitted, CloudWatch generates a default.</p> <p>You can put dynamic expressions into a label, so that it is more descriptive. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/graph-dynamic-labels.html\">Using Dynamic Labels</a>.</p>"
        },
        "ReturnData":{
          "shape":"ReturnData",
          "documentation":"<p>Use this only if you are using a metric math expression for the SLO. Specify <code>true</code> for <code>ReturnData</code> for only the one expression result to use as the alarm. For all other metrics and expressions in the same <code>CreateServiceLevelObjective</code> operation, specify <code>ReturnData</code> as <code>false</code>.</p>"
        },
        "Period":{
          "shape":"Period",
          "documentation":"<p>The granularity, in seconds, of the returned data points for this metric. For metrics with regular resolution, a period can be as short as one minute (60 seconds) and must be a multiple of 60. For high-resolution metrics that are collected at intervals of less than one minute, the period can be 1, 5, 10, 30, 60, or any multiple of 60. High-resolution metrics are those metrics stored by a <code>PutMetricData</code> call that includes a <code>StorageResolution</code> of 1 second.</p> <p>If the <code>StartTime</code> parameter specifies a time stamp that is greater than 3 hours ago, you must specify the period as follows or no data points in that time range is returned:</p> <ul> <li> <p>Start time between 3 hours and 15 days ago - Use a multiple of 60 seconds (1 minute).</p> </li> <li> <p>Start time between 15 and 63 days ago - Use a multiple of 300 seconds (5 minutes).</p> </li> <li> <p>Start time greater than 63 days ago - Use a multiple of 3600 seconds (1 hour).</p> </li> </ul>"
        },
        "AccountId":{
          "shape":"AccountId",
          "documentation":"<p>The ID of the account where this metric is located. If you are performing this operation in a monitoring account, use this to specify which source account to retrieve this metric from.</p>"
        }
      },
      "documentation":"<p>Use this structure to define a metric or metric math expression that you want to use as for a service level objective. </p> <p>Each <code>MetricDataQuery</code> in the <code>MetricDataQueries</code> array specifies either a metric to retrieve, or a metric math expression to be performed on retrieved metrics. A single <code>MetricDataQueries</code> array can include as many as 20 <code>MetricDataQuery</code> structures in the array. The 20 structures can include as many as 10 structures that contain a <code>MetricStat</code> parameter to retrieve a metric, and as many as 10 structures that contain the <code>Expression</code> parameter to perform a math expression. Of those <code>Expression</code> structures, exactly one must have true as the value for <code>ReturnData</code>. The result of this expression used for the SLO.</p> <p>For more information about metric math expressions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/using-metric-math.html\">CloudWatchUse metric math</a>.</p> <p>Within each <code>MetricDataQuery</code> object, you must specify either <code>Expression</code> or <code>MetricStat</code> but not both.</p>"
    },
    "MetricExpression":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "MetricId":{
      "type":"string",
      "max":255,
      "min":1
    },
    "MetricLabel":{"type":"string"},
    "MetricName":{
      "type":"string",
      "max":255,
      "min":1
    },
    "MetricReference":{
      "type":"structure",
      "required":[
        "Namespace",
        "MetricType",
        "MetricName"
      ],
      "members":{
        "Namespace":{
          "shape":"Namespace",
          "documentation":"<p>The namespace of the metric. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_concepts.html#Namespace\">CloudWatchNamespaces</a>.</p>"
        },
        "MetricType":{
          "shape":"MetricType",
          "documentation":"<p>Used to display the appropriate statistics in the CloudWatch console.</p>"
        },
        "Dimensions":{
          "shape":"Dimensions",
          "documentation":"<p>An array of one or more dimensions that further define the metric. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_concepts.html#Dimension\">CloudWatchDimensions</a>.</p>"
        },
        "MetricName":{
          "shape":"MetricName",
          "documentation":"<p>The name of the metric.</p>"
        },
        "AccountId":{
          "shape":"AwsAccountId",
          "documentation":"<p>Amazon Web Services account ID.</p>"
        }
      },
      "documentation":"<p>This structure contains information about one CloudWatch metric associated with this entity discovered by Application Signals.</p>"
    },
    "MetricReferences":{
      "type":"list",
      "member":{"shape":"MetricReference"}
    },
    "MetricSourceType":{
      "type":"string",
      "enum":[
        "ServiceOperation",
        "CloudWatchMetric",
        "ServiceDependency"
      ]
    },
    "MetricSourceTypes":{
      "type":"list",
      "member":{"shape":"MetricSourceType"},
      "max":3,
      "min":1
    },
    "MetricStat":{
      "type":"structure",
      "required":[
        "Metric",
        "Period",
        "Stat"
      ],
      "members":{
        "Metric":{
          "shape":"Metric",
          "documentation":"<p>The metric to use as the service level indicator, including the metric name, namespace, and dimensions.</p>"
        },
        "Period":{
          "shape":"Period",
          "documentation":"<p>The granularity, in seconds, to be used for the metric. For metrics with regular resolution, a period can be as short as one minute (60 seconds) and must be a multiple of 60. For high-resolution metrics that are collected at intervals of less than one minute, the period can be 1, 5, 10, 30, 60, or any multiple of 60. High-resolution metrics are those metrics stored by a <code>PutMetricData</code> call that includes a <code>StorageResolution</code> of 1 second.</p>"
        },
        "Stat":{
          "shape":"Stat",
          "documentation":"<p>The statistic to use for comparison to the threshold. It can be any CloudWatch statistic or extended statistic. For more information about statistics, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/Statistics-definitions.html\">CloudWatch statistics definitions</a>.</p>"
        },
        "Unit":{
          "shape":"StandardUnit",
          "documentation":"<p>If you omit <code>Unit</code> then all data that was collected with any unit is returned, along with the corresponding units that were specified when the data was reported to CloudWatch. If you specify a unit, the operation returns only data that was collected with that unit specified. If you specify a unit that does not match the data collected, the results of the operation are null. CloudWatch does not perform unit conversions.</p>"
        }
      },
      "documentation":"<p>This structure defines the metric to be used as the service level indicator, along with the statistics, period, and unit.</p>"
    },
    "MetricType":{
      "type":"string",
      "pattern":"[A-Za-z0-9 -]+"
    },
    "MonitoredRequestCountMetricDataQueries":{
      "type":"structure",
      "members":{
        "GoodCountMetric":{
          "shape":"MetricDataQueries",
          "documentation":"<p>If you want to count \"good requests\" to determine the percentage of successful requests for this request-based SLO, specify the metric to use as \"good requests\" in this structure.</p>"
        },
        "BadCountMetric":{
          "shape":"MetricDataQueries",
          "documentation":"<p>If you want to count \"bad requests\" to determine the percentage of successful requests for this request-based SLO, specify the metric to use as \"bad requests\" in this structure.</p>"
        }
      },
      "documentation":"<p>This structure defines the metric that is used as the \"good request\" or \"bad request\" value for a request-based SLO. This value observed for the metric defined in <code>TotalRequestCountMetric</code> is divided by the number found for <code>MonitoredRequestCountMetric</code> to determine the percentage of successful requests that this SLO tracks.</p>",
      "union":true
    },
    "Namespace":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":".*[^:].*"
    },
    "NextToken":{"type":"string"},
    "OperationName":{
      "type":"string",
      "max":255,
      "min":1
    },
    "Period":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "RecurrenceRule":{
      "type":"structure",
      "required":["Expression"],
      "members":{
        "Expression":{
          "shape":"Expression",
          "documentation":"<p>A cron or rate expression that specifies the schedule for the exclusion window.</p>"
        }
      },
      "documentation":"<p>The recurrence rule for the SLO time window exclusion .</p>"
    },
    "RequestBasedServiceLevelIndicator":{
      "type":"structure",
      "required":["RequestBasedSliMetric"],
      "members":{
        "RequestBasedSliMetric":{
          "shape":"RequestBasedServiceLevelIndicatorMetric",
          "documentation":"<p>A structure that contains information about the metric that the SLO monitors. </p>"
        },
        "MetricThreshold":{
          "shape":"ServiceLevelIndicatorMetricThreshold",
          "documentation":"<p>This value is the threshold that the observed metric values of the SLI metric are compared to.</p>"
        },
        "ComparisonOperator":{
          "shape":"ServiceLevelIndicatorComparisonOperator",
          "documentation":"<p>The arithmetic operation used when comparing the specified metric to the threshold.</p>"
        }
      },
      "documentation":"<p>This structure contains information about the performance metric that a request-based SLO monitors.</p>"
    },
    "RequestBasedServiceLevelIndicatorConfig":{
      "type":"structure",
      "required":["RequestBasedSliMetricConfig"],
      "members":{
        "RequestBasedSliMetricConfig":{
          "shape":"RequestBasedServiceLevelIndicatorMetricConfig",
          "documentation":"<p>Use this structure to specify the metric to be used for the SLO.</p>"
        },
        "MetricThreshold":{
          "shape":"ServiceLevelIndicatorMetricThreshold",
          "documentation":"<p>The value that the SLI metric is compared to. This parameter is required if this SLO is tracking the <code>Latency</code> metric.</p>"
        },
        "ComparisonOperator":{
          "shape":"ServiceLevelIndicatorComparisonOperator",
          "documentation":"<p>The arithmetic operation to use when comparing the specified metric to the threshold. This parameter is required if this SLO is tracking the <code>Latency</code> metric.</p>"
        }
      },
      "documentation":"<p>This structure specifies the information about the service and the performance metric that a request-based SLO is to monitor.</p>"
    },
    "RequestBasedServiceLevelIndicatorMetric":{
      "type":"structure",
      "required":[
        "TotalRequestCountMetric",
        "MonitoredRequestCountMetric"
      ],
      "members":{
        "KeyAttributes":{
          "shape":"Attributes",
          "documentation":"<p>This is a string-to-string map that contains information about the type of object that this SLO is related to. It can include the following fields.</p> <ul> <li> <p> <code>Type</code> designates the type of object that this SLO is related to.</p> </li> <li> <p> <code>ResourceType</code> specifies the type of the resource. This field is used only when the value of the <code>Type</code> field is <code>Resource</code> or <code>AWS::Resource</code>.</p> </li> <li> <p> <code>Name</code> specifies the name of the object. This is used only if the value of the <code>Type</code> field is <code>Service</code>, <code>RemoteService</code>, or <code>AWS::Service</code>.</p> </li> <li> <p> <code>Identifier</code> identifies the resource objects of this resource. This is used only if the value of the <code>Type</code> field is <code>Resource</code> or <code>AWS::Resource</code>.</p> </li> <li> <p> <code>Environment</code> specifies the location where this object is hosted, or what it belongs to.</p> </li> </ul>"
        },
        "OperationName":{
          "shape":"OperationName",
          "documentation":"<p>If the SLO monitors a specific operation of the service, this field displays that operation name.</p>"
        },
        "MetricType":{
          "shape":"ServiceLevelIndicatorMetricType",
          "documentation":"<p>If the SLO monitors either the <code>LATENCY</code> or <code>AVAILABILITY</code> metric that Application Signals collects, this field displays which of those metrics is used.</p>"
        },
        "TotalRequestCountMetric":{
          "shape":"MetricDataQueries",
          "documentation":"<p>This structure defines the metric that is used as the \"total requests\" number for a request-based SLO. The number observed for this metric is divided by the number of \"good requests\" or \"bad requests\" that is observed for the metric defined in <code>MonitoredRequestCountMetric</code>.</p>"
        },
        "MonitoredRequestCountMetric":{
          "shape":"MonitoredRequestCountMetricDataQueries",
          "documentation":"<p>This structure defines the metric that is used as the \"good request\" or \"bad request\" value for a request-based SLO. This value observed for the metric defined in <code>TotalRequestCountMetric</code> is divided by the number found for <code>MonitoredRequestCountMetric</code> to determine the percentage of successful requests that this SLO tracks.</p>"
        },
        "DependencyConfig":{
          "shape":"DependencyConfig",
          "documentation":"<p>Identifies the dependency using the <code>DependencyKeyAttributes</code> and <code>DependencyOperationName</code>. </p>"
        }
      },
      "documentation":"<p>This structure contains the information about the metric that is used for a request-based SLO.</p>"
    },
    "RequestBasedServiceLevelIndicatorMetricConfig":{
      "type":"structure",
      "members":{
        "KeyAttributes":{
          "shape":"Attributes",
          "documentation":"<p>If this SLO is related to a metric collected by Application Signals, you must use this field to specify which service the SLO metric is related to. To do so, you must specify at least the <code>Type</code>, <code>Name</code>, and <code>Environment</code> attributes.</p> <p>This is a string-to-string map. It can include the following fields.</p> <ul> <li> <p> <code>Type</code> designates the type of object this is.</p> </li> <li> <p> <code>ResourceType</code> specifies the type of the resource. This field is used only when the value of the <code>Type</code> field is <code>Resource</code> or <code>AWS::Resource</code>.</p> </li> <li> <p> <code>Name</code> specifies the name of the object. This is used only if the value of the <code>Type</code> field is <code>Service</code>, <code>RemoteService</code>, or <code>AWS::Service</code>.</p> </li> <li> <p> <code>Identifier</code> identifies the resource objects of this resource. This is used only if the value of the <code>Type</code> field is <code>Resource</code> or <code>AWS::Resource</code>.</p> </li> <li> <p> <code>Environment</code> specifies the location where this object is hosted, or what it belongs to.</p> </li> </ul>"
        },
        "OperationName":{
          "shape":"OperationName",
          "documentation":"<p>If the SLO is to monitor a specific operation of the service, use this field to specify the name of that operation.</p>"
        },
        "MetricType":{
          "shape":"ServiceLevelIndicatorMetricType",
          "documentation":"<p>If the SLO is to monitor either the <code>LATENCY</code> or <code>AVAILABILITY</code> metric that Application Signals collects, use this field to specify which of those metrics is used.</p>"
        },
        "TotalRequestCountMetric":{
          "shape":"MetricDataQueries",
          "documentation":"<p>Use this structure to define the metric that you want to use as the \"total requests\" number for a request-based SLO. This result will be divided by the \"good request\" or \"bad request\" value defined in <code>MonitoredRequestCountMetric</code>.</p>"
        },
        "MonitoredRequestCountMetric":{
          "shape":"MonitoredRequestCountMetricDataQueries",
          "documentation":"<p>Use this structure to define the metric that you want to use as the \"good request\" or \"bad request\" value for a request-based SLO. This value observed for the metric defined in <code>TotalRequestCountMetric</code> will be divided by the number found for <code>MonitoredRequestCountMetric</code> to determine the percentage of successful requests that this SLO tracks.</p>"
        },
        "DependencyConfig":{
          "shape":"DependencyConfig",
          "documentation":"<p>Identifies the dependency using the <code>DependencyKeyAttributes</code> and <code>DependencyOperationName</code>. </p>"
        }
      },
      "documentation":"<p>Use this structure to specify the information for the metric that a period-based SLO will monitor.</p>"
    },
    "ResourceId":{"type":"string"},
    "ResourceNotFoundException":{
      "type":"structure",
      "required":[
        "ResourceType",
        "ResourceId",
        "Message"
      ],
      "members":{
        "ResourceType":{
          "shape":"ResourceType",
          "documentation":"<p>The resource type is not valid.</p>"
        },
        "ResourceId":{
          "shape":"ResourceId",
          "documentation":"<p>Can't find the resource id.</p>"
        },
        "Message":{"shape":"FaultDescription"}
      },
      "documentation":"<p>Resource not found.</p>",
      "error":{
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "ResourceType":{"type":"string"},
    "ReturnData":{
      "type":"boolean",
      "box":true
    },
    "RollingInterval":{
      "type":"structure",
      "required":[
        "DurationUnit",
        "Duration"
      ],
      "members":{
        "DurationUnit":{
          "shape":"DurationUnit",
          "documentation":"<p>Specifies the rolling interval unit.</p>"
        },
        "Duration":{
          "shape":"RollingIntervalDuration",
          "documentation":"<p>Specifies the duration of each rolling interval. For example, if <code>Duration</code> is <code>7</code> and <code>DurationUnit</code> is <code>DAY</code>, each rolling interval is seven days.</p>"
        }
      },
      "documentation":"<p>If the interval for this SLO is a rolling interval, this structure contains the interval specifications.</p>"
    },
    "RollingIntervalDuration":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "SLIPeriodSeconds":{
      "type":"integer",
      "box":true,
      "max":900,
      "min":60
    },
    "Service":{
      "type":"structure",
      "required":[
        "KeyAttributes",
        "MetricReferences"
      ],
      "members":{
        "KeyAttributes":{
          "shape":"Attributes",
          "documentation":"<p>This is a string-to-string map. It can include the following fields.</p> <ul> <li> <p> <code>Type</code> designates the type of object this is.</p> </li> <li> <p> <code>ResourceType</code> specifies the type of the resource. This field is used only when the value of the <code>Type</code> field is <code>Resource</code> or <code>AWS::Resource</code>.</p> </li> <li> <p> <code>Name</code> specifies the name of the object. This is used only if the value of the <code>Type</code> field is <code>Service</code>, <code>RemoteService</code>, or <code>AWS::Service</code>.</p> </li> <li> <p> <code>Identifier</code> identifies the resource objects of this resource. This is used only if the value of the <code>Type</code> field is <code>Resource</code> or <code>AWS::Resource</code>.</p> </li> <li> <p> <code>Environment</code> specifies the location where this object is hosted, or what it belongs to.</p> </li> </ul>"
        },
        "AttributeMaps":{
          "shape":"AttributeMaps",
          "documentation":"<p>This structure contains one or more string-to-string maps that help identify this service. It can include <i>platform attributes</i>, <i>application attributes</i>, and <i>telemetry attributes</i>.</p> <p>Platform attributes contain information the service's platform.</p> <ul> <li> <p> <code>PlatformType</code> defines the hosted-in platform.</p> </li> <li> <p> <code>EKS.Cluster</code> is the name of the Amazon EKS cluster.</p> </li> <li> <p> <code>K8s.Cluster</code> is the name of the self-hosted Kubernetes cluster.</p> </li> <li> <p> <code>K8s.Namespace</code> is the name of the Kubernetes namespace in either Amazon EKS or Kubernetes clusters.</p> </li> <li> <p> <code>K8s.Workload</code> is the name of the Kubernetes workload in either Amazon EKS or Kubernetes clusters.</p> </li> <li> <p> <code>K8s.Node</code> is the name of the Kubernetes node in either Amazon EKS or Kubernetes clusters.</p> </li> <li> <p> <code>K8s.Pod</code> is the name of the Kubernetes pod in either Amazon EKS or Kubernetes clusters.</p> </li> <li> <p> <code>EC2.AutoScalingGroup</code> is the name of the Amazon EC2 Auto Scaling group.</p> </li> <li> <p> <code>EC2.InstanceId</code> is the ID of the Amazon EC2 instance.</p> </li> <li> <p> <code>Host</code> is the name of the host, for all platform types.</p> </li> </ul> <p>Application attributes contain information about the application.</p> <ul> <li> <p> <code>AWS.Application</code> is the application's name in Amazon Web Services Service Catalog AppRegistry.</p> </li> <li> <p> <code>AWS.Application.ARN</code> is the application's ARN in Amazon Web Services Service Catalog AppRegistry.</p> </li> </ul> <p>Telemetry attributes contain telemetry information.</p> <ul> <li> <p> <code>Telemetry.SDK</code> is the fingerprint of the OpenTelemetry SDK version for instrumented services.</p> </li> <li> <p> <code>Telemetry.Agent</code> is the fingerprint of the agent used to collect and send telemetry data.</p> </li> <li> <p> <code>Telemetry.Source</code> Specifies the point of application where the telemetry was collected or specifies what was used for the source of telemetry data.</p> </li> </ul>"
        },
        "MetricReferences":{
          "shape":"MetricReferences",
          "documentation":"<p>An array of structures that each contain information about one metric associated with this service.</p>"
        },
        "LogGroupReferences":{
          "shape":"LogGroupReferences",
          "documentation":"<p>An array of string-to-string maps that each contain information about one log group associated with this service. Each string-to-string map includes the following fields:</p> <ul> <li> <p> <code>\"Type\": \"AWS::Resource\"</code> </p> </li> <li> <p> <code>\"ResourceType\": \"AWS::Logs::LogGroup\"</code> </p> </li> <li> <p> <code>\"Identifier\": \"<i>name-of-log-group</i>\"</code> </p> </li> </ul>"
        }
      },
      "documentation":"<p>This structure contains information about one of your services that was discovered by Application Signals. </p>"
    },
    "ServiceDependencies":{
      "type":"list",
      "member":{"shape":"ServiceDependency"},
      "max":100,
      "min":0
    },
    "ServiceDependency":{
      "type":"structure",
      "required":[
        "OperationName",
        "DependencyKeyAttributes",
        "DependencyOperationName",
        "MetricReferences"
      ],
      "members":{
        "OperationName":{
          "shape":"OperationName",
          "documentation":"<p>The name of the operation in this service that calls the dependency.</p>"
        },
        "DependencyKeyAttributes":{
          "shape":"Attributes",
          "documentation":"<p>This is a string-to-string map. It can include the following fields.</p> <ul> <li> <p> <code>Type</code> designates the type of object this is.</p> </li> <li> <p> <code>ResourceType</code> specifies the type of the resource. This field is used only when the value of the <code>Type</code> field is <code>Resource</code> or <code>AWS::Resource</code>.</p> </li> <li> <p> <code>Name</code> specifies the name of the object. This is used only if the value of the <code>Type</code> field is <code>Service</code>, <code>RemoteService</code>, or <code>AWS::Service</code>.</p> </li> <li> <p> <code>Identifier</code> identifies the resource objects of this resource. This is used only if the value of the <code>Type</code> field is <code>Resource</code> or <code>AWS::Resource</code>.</p> </li> <li> <p> <code>Environment</code> specifies the location where this object is hosted, or what it belongs to.</p> </li> </ul>"
        },
        "DependencyOperationName":{
          "shape":"OperationName",
          "documentation":"<p>The name of the called operation in the dependency.</p>"
        },
        "MetricReferences":{
          "shape":"MetricReferences",
          "documentation":"<p>An array of structures that each contain information about one metric associated with this service dependency that was discovered by Application Signals.</p>"
        }
      },
      "documentation":"<p>This structure contains information about one dependency of this service.</p>"
    },
    "ServiceDependent":{
      "type":"structure",
      "required":[
        "DependentKeyAttributes",
        "MetricReferences"
      ],
      "members":{
        "OperationName":{
          "shape":"OperationName",
          "documentation":"<p>If the invoked entity is an operation on an entity, the name of that dependent operation is displayed here.</p>"
        },
        "DependentKeyAttributes":{
          "shape":"Attributes",
          "documentation":"<p>This is a string-to-string map. It can include the following fields.</p> <ul> <li> <p> <code>Type</code> designates the type of object this is.</p> </li> <li> <p> <code>ResourceType</code> specifies the type of the resource. This field is used only when the value of the <code>Type</code> field is <code>Resource</code> or <code>AWS::Resource</code>.</p> </li> <li> <p> <code>Name</code> specifies the name of the object. This is used only if the value of the <code>Type</code> field is <code>Service</code>, <code>RemoteService</code>, or <code>AWS::Service</code>.</p> </li> <li> <p> <code>Identifier</code> identifies the resource objects of this resource. This is used only if the value of the <code>Type</code> field is <code>Resource</code> or <code>AWS::Resource</code>.</p> </li> <li> <p> <code>Environment</code> specifies the location where this object is hosted, or what it belongs to.</p> </li> </ul>"
        },
        "DependentOperationName":{
          "shape":"OperationName",
          "documentation":"<p>If the dependent invoker was a service that invoked it from an operation, the name of that dependent operation is displayed here.</p>"
        },
        "MetricReferences":{
          "shape":"MetricReferences",
          "documentation":"<p>An array of structures that each contain information about one metric associated with this service dependent that was discovered by Application Signals.</p>"
        }
      },
      "documentation":"<p>This structure contains information about a service dependent that was discovered by Application Signals. A dependent is an entity that invoked the specified service during the provided time range. Dependents include other services, CloudWatch Synthetics canaries, and clients that are instrumented with CloudWatch RUM app monitors.</p>"
    },
    "ServiceDependents":{
      "type":"list",
      "member":{"shape":"ServiceDependent"},
      "max":100,
      "min":0
    },
    "ServiceErrorMessage":{"type":"string"},
    "ServiceLevelIndicator":{
      "type":"structure",
      "required":[
        "SliMetric",
        "MetricThreshold",
        "ComparisonOperator"
      ],
      "members":{
        "SliMetric":{
          "shape":"ServiceLevelIndicatorMetric",
          "documentation":"<p>A structure that contains information about the metric that the SLO monitors. </p>"
        },
        "MetricThreshold":{
          "shape":"ServiceLevelIndicatorMetricThreshold",
          "documentation":"<p>The value that the SLI metric is compared to.</p>"
        },
        "ComparisonOperator":{
          "shape":"ServiceLevelIndicatorComparisonOperator",
          "documentation":"<p>The arithmetic operation used when comparing the specified metric to the threshold.</p>"
        }
      },
      "documentation":"<p>This structure contains information about the performance metric that a period-based SLO monitors.</p>"
    },
    "ServiceLevelIndicatorComparisonOperator":{
      "type":"string",
      "enum":[
        "GreaterThanOrEqualTo",
        "GreaterThan",
        "LessThan",
        "LessThanOrEqualTo"
      ]
    },
    "ServiceLevelIndicatorConfig":{
      "type":"structure",
      "required":[
        "SliMetricConfig",
        "MetricThreshold",
        "ComparisonOperator"
      ],
      "members":{
        "SliMetricConfig":{
          "shape":"ServiceLevelIndicatorMetricConfig",
          "documentation":"<p>Use this structure to specify the metric to be used for the SLO.</p>"
        },
        "MetricThreshold":{
          "shape":"ServiceLevelIndicatorMetricThreshold",
          "documentation":"<p>This parameter is used only when a request-based SLO tracks the <code>Latency</code> metric. Specify the threshold value that the observed <code>Latency</code> metric values are to be compared to.</p>"
        },
        "ComparisonOperator":{
          "shape":"ServiceLevelIndicatorComparisonOperator",
          "documentation":"<p>The arithmetic operation to use when comparing the specified metric to the threshold.</p>"
        }
      },
      "documentation":"<p>This structure specifies the information about the service and the performance metric that a period-based SLO is to monitor.</p>"
    },
    "ServiceLevelIndicatorMetric":{
      "type":"structure",
      "required":["MetricDataQueries"],
      "members":{
        "KeyAttributes":{
          "shape":"Attributes",
          "documentation":"<p>This is a string-to-string map that contains information about the type of object that this SLO is related to. It can include the following fields.</p> <ul> <li> <p> <code>Type</code> designates the type of object that this SLO is related to.</p> </li> <li> <p> <code>ResourceType</code> specifies the type of the resource. This field is used only when the value of the <code>Type</code> field is <code>Resource</code> or <code>AWS::Resource</code>.</p> </li> <li> <p> <code>Name</code> specifies the name of the object. This is used only if the value of the <code>Type</code> field is <code>Service</code>, <code>RemoteService</code>, or <code>AWS::Service</code>.</p> </li> <li> <p> <code>Identifier</code> identifies the resource objects of this resource. This is used only if the value of the <code>Type</code> field is <code>Resource</code> or <code>AWS::Resource</code>.</p> </li> <li> <p> <code>Environment</code> specifies the location where this object is hosted, or what it belongs to.</p> </li> </ul>"
        },
        "OperationName":{
          "shape":"OperationName",
          "documentation":"<p>If the SLO monitors a specific operation of the service, this field displays that operation name.</p>"
        },
        "MetricType":{
          "shape":"ServiceLevelIndicatorMetricType",
[...]
