<article class="post">
    <h1>{{title}}</h1>
    <div class="translation-test">
        <span class="translated">{{t "Top left Button"}}</span>
    </div>
    <div class="content">
        {{content}}
    </div>
</article>
