<header>
    <h1>Welcome to <strong>Ghost</strong>!</h1>
    <p>All over the world, people have started <em>2,000,000+</em> incredible sites with Ghost. Today, we’re starting yours.</p>
</header>

<figure class="gh-flow-screenshot">
    <img src="assets/img/install-welcome.png" alt="Ghost screenshot" />
</figure>

<LinkTo @route="setup.two" @classNames="gh-btn gh-btn-green gh-btn-lg gh-btn-icon gh-btn-icon-right">
    <span>Create your account &rarr;</span>
</LinkTo>
