<section class="markdown-help-container">
    <table class="modal-markdown-help-table">
        <thead>
            <tr>
                <th>Result</th>
                <th>Markdown</th>
                <th>Shortcut</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Bold</strong></td>
                <td>**text**</td>
                <td>Ctrl / Cmd + B</td>
            </tr>
            <tr>
                <td><em>Emphasize</em></td>
                <td>__text__</td>
                <td>Ctrl / Cmd + I</td>
            </tr>
            <tr>
                <td><code>Inline Code</code></td>
                <td>`code`</td>
                <td>Cmd + K / Ctrl + Shift + K</td>
            </tr>
            <tr>
                <td>Strike-through</td>
                <td>~~text~~</td>
                <td>Ctrl + Alt + U</td>
            </tr>
            <tr>
                <td><a href="#">Link</a></td>
                <td>[title](http://)</td>
                <td>Ctrl + Shift + L</td>
            </tr>
            <tr>
                <td>Image</td>
                <td>![alt](http://)</td>
                <td>Ctrl + Shift + I</td>
            </tr>
            <tr>
                <td>List</td>
                <td>* item</td>
                <td>Ctrl + L</td>
            </tr>
            <tr>
                <td>Blockquote</td>
                <td>> quote</td>
                <td>Ctrl + Q</td>
            </tr>
            <tr>
                <td>H1</td>
                <td># Heading</td>
                <td>Ctrl + Alt + 1</td>
            </tr>
            <tr>
                <td>H2</td>
                <td>## Heading</td>
                <td>Ctrl + Alt + 2</td>
            </tr>
            <tr>
                <td>H3</td>
                <td>### Heading</td>
                <td>Ctrl + Alt + 3</td>
            </tr>
            <tr>
                <td>H4</td>
                <td>#### Heading</td>
                <td>Ctrl + Alt + 4</td>
            </tr>
            <tr>
                <td>H5</td>
                <td>##### Heading</td>
                <td>Ctrl + Alt + 5</td>
            </tr>
            <tr>
                <td>H6</td>
                <td>###### Heading</td>
                <td>Ctrl + Alt + 6</td>
            </tr>
            <tr>
                <td>Select Word</td>
                <td></td>
                <td>Ctrl + Alt + W</td>
            </tr>
            <tr>
                <td>Uppercase</td>
                <td></td>
                <td>Ctrl + U</td>
            </tr>
            <tr>
                <td>Lowercase</td>
                <td></td>
                <td>Ctrl + Shift + U</td>
            </tr>
            <tr>
                <td>Titlecase</td>
                <td></td>
                <td>Ctrl + Alt + Shift + U</td>
            </tr>
            <tr>
                <td>Insert Current Date</td>
                <td></td>
                <td>Ctrl + Shift + 1</td>
            </tr>
        </tbody>
    </table>
    For further Markdown syntax reference: <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown Documentation</a>
</section>