<section class="js-drop-zone">
    <img class="js-upload-target" src="{{options.src}}"{{#unless options.src}} style="display: none"{{/unless}} alt="logo">
    <input data-url="upload" class="js-fileupload main" type="file" name="uploadimage">
</section>
