{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2020-11-12",
    "endpointPrefix":"network-firewall",
    "jsonVersion":"1.0",
    "protocol":"json",
    "protocols":["json"],
    "serviceAbbreviation":"Network Firewall",
    "serviceFullName":"AWS Network Firewall",
    "serviceId":"Network Firewall",
    "signatureVersion":"v4",
    "signingName":"network-firewall",
    "targetPrefix":"NetworkFirewall_20201112",
    "uid":"network-firewall-2020-11-12",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AcceptNetworkFirewallTransitGatewayAttachment":{
      "name":"AcceptNetworkFirewallTransitGatewayAttachment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AcceptNetworkFirewallTransitGatewayAttachmentRequest"},
      "output":{"shape":"AcceptNetworkFirewallTransitGatewayAttachmentResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Accepts a transit gateway attachment request for Network Firewall. When you accept the attachment request, Network Firewall creates the necessary routing components to enable traffic flow between the transit gateway and firewall endpoints.</p> <p>You must accept a transit gateway attachment to complete the creation of a transit gateway-attached firewall, unless auto-accept is enabled on the transit gateway. After acceptance, use <a>DescribeFirewall</a> to verify the firewall status.</p> <p>To reject an attachment instead of accepting it, use <a>RejectNetworkFirewallTransitGatewayAttachment</a>.</p> <note> <p>It can take several minutes for the attachment acceptance to complete and the firewall to become available.</p> </note>"
    },
    "AssociateAvailabilityZones":{
      "name":"AssociateAvailabilityZones",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateAvailabilityZonesRequest"},
      "output":{"shape":"AssociateAvailabilityZonesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidTokenException"},
        {"shape":"InvalidOperationException"},
        {"shape":"InsufficientCapacityException"}
      ],
      "documentation":"<p>Associates the specified Availability Zones with a transit gateway-attached firewall. For each Availability Zone, Network Firewall creates a firewall endpoint to process traffic. You can specify one or more Availability Zones where you want to deploy the firewall.</p> <p>After adding Availability Zones, you must update your transit gateway route tables to direct traffic through the new firewall endpoints. Use <a>DescribeFirewall</a> to monitor the status of the new endpoints.</p>"
    },
    "AssociateFirewallPolicy":{
      "name":"AssociateFirewallPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateFirewallPolicyRequest"},
      "output":{"shape":"AssociateFirewallPolicyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidTokenException"},
        {"shape":"InvalidOperationException"}
      ],
      "documentation":"<p>Associates a <a>FirewallPolicy</a> to a <a>Firewall</a>. </p> <p>A firewall policy defines how to monitor and manage your VPC network traffic, using a collection of inspection rule groups and other settings. Each firewall requires one firewall policy association, and you can use the same firewall policy for multiple firewalls. </p>"
    },
    "AssociateSubnets":{
      "name":"AssociateSubnets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateSubnetsRequest"},
      "output":{"shape":"AssociateSubnetsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidTokenException"},
        {"shape":"InvalidOperationException"},
        {"shape":"InsufficientCapacityException"}
      ],
      "documentation":"<p>Associates the specified subnets in the Amazon VPC to the firewall. You can specify one subnet for each of the Availability Zones that the VPC spans. </p> <p>This request creates an Network Firewall firewall endpoint in each of the subnets. To enable the firewall's protections, you must also modify the VPC's route tables for each subnet's Availability Zone, to redirect the traffic that's coming into and going out of the zone through the firewall endpoint. </p>"
    },
    "CreateFirewall":{
      "name":"CreateFirewall",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateFirewallRequest"},
      "output":{"shape":"CreateFirewallResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalServerError"},
        {"shape":"ThrottlingException"},
        {"shape":"InsufficientCapacityException"},
        {"shape":"InvalidOperationException"}
      ],
      "documentation":"<p>Creates an Network Firewall <a>Firewall</a> and accompanying <a>FirewallStatus</a> for a VPC. </p> <p>The firewall defines the configuration settings for an Network Firewall firewall. The settings that you can define at creation include the firewall policy, the subnets in your VPC to use for the firewall endpoints, and any tags that are attached to the firewall Amazon Web Services resource. </p> <p>After you create a firewall, you can provide additional settings, like the logging configuration. </p> <p>To update the settings for a firewall, you use the operations that apply to the settings themselves, for example <a>UpdateLoggingConfiguration</a>, <a>AssociateSubnets</a>, and <a>UpdateFirewallDeleteProtection</a>. </p> <p>To manage a firewall's tags, use the standard Amazon Web Services resource tagging operations, <a>ListTagsForResource</a>, <a>TagResource</a>, and <a>UntagResource</a>.</p> <p>To retrieve information about firewalls, use <a>ListFirewalls</a> and <a>DescribeFirewall</a>.</p> <p>To generate a report on the last 30 days of traffic monitored by a firewall, use <a>StartAnalysisReport</a>.</p>"
    },
    "CreateFirewallPolicy":{
      "name":"CreateFirewallPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateFirewallPolicyRequest"},
      "output":{"shape":"CreateFirewallPolicyResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerError"},
        {"shape":"InsufficientCapacityException"}
      ],
      "documentation":"<p>Creates the firewall policy for the firewall according to the specifications. </p> <p>An Network Firewall firewall policy defines the behavior of a firewall, in a collection of stateless and stateful rule groups and other settings. You can use one firewall policy for multiple firewalls. </p>"
    },
    "CreateRuleGroup":{
      "name":"CreateRuleGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateRuleGroupRequest"},
      "output":{"shape":"CreateRuleGroupResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerError"},
        {"shape":"InsufficientCapacityException"}
      ],
      "documentation":"<p>Creates the specified stateless or stateful rule group, which includes the rules for network traffic inspection, a capacity setting, and tags. </p> <p>You provide your rule group specification in your request using either <code>RuleGroup</code> or <code>Rules</code>.</p>"
    },
    "CreateTLSInspectionConfiguration":{
      "name":"CreateTLSInspectionConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTLSInspectionConfigurationRequest"},
      "output":{"shape":"CreateTLSInspectionConfigurationResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerError"},
        {"shape":"LimitExceededException"},
        {"shape":"InsufficientCapacityException"}
      ],
      "documentation":"<p>Creates an Network Firewall TLS inspection configuration. Network Firewall uses TLS inspection configurations to decrypt your firewall's inbound and outbound SSL/TLS traffic. After decryption, Network Firewall inspects the traffic according to your firewall policy's stateful rules, and then re-encrypts it before sending it to its destination. You can enable inspection of your firewall's inbound traffic, outbound traffic, or both. To use TLS inspection with your firewall, you must first import or provision certificates using ACM, create a TLS inspection configuration, add that configuration to a new firewall policy, and then associate that policy with your firewall.</p> <p>To update the settings for a TLS inspection configuration, use <a>UpdateTLSInspectionConfiguration</a>.</p> <p>To manage a TLS inspection configuration's tags, use the standard Amazon Web Services resource tagging operations, <a>ListTagsForResource</a>, <a>TagResource</a>, and <a>UntagResource</a>.</p> <p>To retrieve information about TLS inspection configurations, use <a>ListTLSInspectionConfigurations</a> and <a>DescribeTLSInspectionConfiguration</a>.</p> <p> For more information about TLS inspection configurations, see <a href=\"https://docs.aws.amazon.com/network-firewall/latest/developerguide/tls-inspection.html\">Inspecting SSL/TLS traffic with TLS inspection configurations</a> in the <i>Network Firewall Developer Guide</i>. </p>"
    },
    "CreateVpcEndpointAssociation":{
      "name":"CreateVpcEndpointAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVpcEndpointAssociationRequest"},
      "output":{"shape":"CreateVpcEndpointAssociationResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerError"},
        {"shape":"InsufficientCapacityException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidOperationException"}
      ],
      "documentation":"<p>Creates a firewall endpoint for an Network Firewall firewall. This type of firewall endpoint is independent of the firewall endpoints that you specify in the <code>Firewall</code> itself, and you define it in addition to those endpoints after the firewall has been created. You can define a VPC endpoint association using a different VPC than the one you used in the firewall specifications. </p>"
    },
    "DeleteFirewall":{
      "name":"DeleteFirewall",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteFirewallRequest"},
      "output":{"shape":"DeleteFirewallResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"InvalidOperationException"}
      ],
      "documentation":"<p>Deletes the specified <a>Firewall</a> and its <a>FirewallStatus</a>. This operation requires the firewall's <code>DeleteProtection</code> flag to be <code>FALSE</code>. You can't revert this operation. </p> <p>You can check whether a firewall is in use by reviewing the route tables for the Availability Zones where you have firewall subnet mappings. Retrieve the subnet mappings by calling <a>DescribeFirewall</a>. You define and update the route tables through Amazon VPC. As needed, update the route tables for the zones to remove the firewall endpoints. When the route tables no longer use the firewall endpoints, you can remove the firewall safely.</p> <p>To delete a firewall, remove the delete protection if you need to using <a>UpdateFirewallDeleteProtection</a>, then delete the firewall by calling <a>DeleteFirewall</a>. </p>"
    },
    "DeleteFirewallPolicy":{
      "name":"DeleteFirewallPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteFirewallPolicyRequest"},
      "output":{"shape":"DeleteFirewallPolicyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerError"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"InvalidOperationException"}
      ],
      "documentation":"<p>Deletes the specified <a>FirewallPolicy</a>. </p>"
    },
    "DeleteNetworkFirewallTransitGatewayAttachment":{
      "name":"DeleteNetworkFirewallTransitGatewayAttachment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteNetworkFirewallTransitGatewayAttachmentRequest"},
      "output":{"shape":"DeleteNetworkFirewallTransitGatewayAttachmentResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a transit gateway attachment from a Network Firewall. Either the firewall owner or the transit gateway owner can delete the attachment.</p> <important> <p>After you delete a transit gateway attachment, traffic will no longer flow through the firewall endpoints.</p> </important> <p>After you initiate the delete operation, use <a>DescribeFirewall</a> to monitor the deletion status.</p>"
    },
    "DeleteResourcePolicy":{
      "name":"DeleteResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteResourcePolicyRequest"},
      "output":{"shape":"DeleteResourcePolicyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidResourcePolicyException"}
      ],
      "documentation":"<p>Deletes a resource policy that you created in a <a>PutResourcePolicy</a> request. </p>"
    },
    "DeleteRuleGroup":{
      "name":"DeleteRuleGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRuleGroupRequest"},
      "output":{"shape":"DeleteRuleGroupResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerError"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"InvalidOperationException"}
      ],
      "documentation":"<p>Deletes the specified <a>RuleGroup</a>. </p>"
    },
    "DeleteTLSInspectionConfiguration":{
      "name":"DeleteTLSInspectionConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTLSInspectionConfigurationRequest"},
      "output":{"shape":"DeleteTLSInspectionConfigurationResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidOperationException"}
      ],
      "documentation":"<p>Deletes the specified <a>TLSInspectionConfiguration</a>.</p>"
    },
    "DeleteVpcEndpointAssociation":{
      "name":"DeleteVpcEndpointAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVpcEndpointAssociationRequest"},
      "output":{"shape":"DeleteVpcEndpointAssociationResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidOperationException"}
      ],
      "documentation":"<p>Deletes the specified <a>VpcEndpointAssociation</a>.</p> <p>You can check whether an endpoint association is in use by reviewing the route tables for the Availability Zones where you have the endpoint subnet mapping. You can retrieve the subnet mapping by calling <a>DescribeVpcEndpointAssociation</a>. You define and update the route tables through Amazon VPC. As needed, update the route tables for the Availability Zone to remove the firewall endpoint for the association. When the route tables no longer use the firewall endpoint, you can remove the endpoint association safely.</p>"
    },
    "DescribeFirewall":{
      "name":"DescribeFirewall",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFirewallRequest"},
      "output":{"shape":"DescribeFirewallResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns the data objects for the specified firewall. </p>"
    },
    "DescribeFirewallMetadata":{
      "name":"DescribeFirewallMetadata",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFirewallMetadataRequest"},
      "output":{"shape":"DescribeFirewallMetadataResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns the high-level information about a firewall, including the Availability Zones where the Firewall is currently in use. </p>"
    },
    "DescribeFirewallPolicy":{
      "name":"DescribeFirewallPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFirewallPolicyRequest"},
      "output":{"shape":"DescribeFirewallPolicyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Returns the data objects for the specified firewall policy. </p>"
    },
    "DescribeFlowOperation":{
      "name":"DescribeFlowOperation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFlowOperationRequest"},
      "output":{"shape":"DescribeFlowOperationResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns key information about a specific flow operation.</p>"
    },
    "DescribeLoggingConfiguration":{
      "name":"DescribeLoggingConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLoggingConfigurationRequest"},
      "output":{"shape":"DescribeLoggingConfigurationResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns the logging configuration for the specified firewall. </p>"
    },
    "DescribeResourcePolicy":{
      "name":"DescribeResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeResourcePolicyRequest"},
      "output":{"shape":"DescribeResourcePolicyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a resource policy that you created in a <a>PutResourcePolicy</a> request. </p>"
    },
    "DescribeRuleGroup":{
      "name":"DescribeRuleGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRuleGroupRequest"},
      "output":{"shape":"DescribeRuleGroupResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Returns the data objects for the specified rule group. </p>"
    },
    "DescribeRuleGroupMetadata":{
      "name":"DescribeRuleGroupMetadata",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRuleGroupMetadataRequest"},
      "output":{"shape":"DescribeRuleGroupMetadataResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>High-level information about a rule group, returned by operations like create and describe. You can use the information provided in the metadata to retrieve and manage a rule group. You can retrieve all objects for a rule group by calling <a>DescribeRuleGroup</a>. </p>"
    },
    "DescribeRuleGroupSummary":{
      "name":"DescribeRuleGroupSummary",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRuleGroupSummaryRequest"},
      "output":{"shape":"DescribeRuleGroupSummaryResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Returns detailed information for a stateful rule group.</p> <p>For active threat defense Amazon Web Services managed rule groups, this operation provides insight into the protections enabled by the rule group, based on Suricata rule metadata fields. Summaries are available for rule groups you manage and for active threat defense Amazon Web Services managed rule groups.</p> <p>To modify how threat information appears in summaries, use the <code>SummaryConfiguration</code> parameter in <a>UpdateRuleGroup</a>.</p>"
    },
    "DescribeTLSInspectionConfiguration":{
      "name":"DescribeTLSInspectionConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTLSInspectionConfigurationRequest"},
      "output":{"shape":"DescribeTLSInspectionConfigurationResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns the data objects for the specified TLS inspection configuration.</p>"
    },
    "DescribeVpcEndpointAssociation":{
      "name":"DescribeVpcEndpointAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVpcEndpointAssociationRequest"},
      "output":{"shape":"DescribeVpcEndpointAssociationResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns the data object for the specified VPC endpoint association. </p>"
    },
    "DisassociateAvailabilityZones":{
      "name":"DisassociateAvailabilityZones",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateAvailabilityZonesRequest"},
      "output":{"shape":"DisassociateAvailabilityZonesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidTokenException"},
        {"shape":"InvalidOperationException"}
      ],
      "documentation":"<p>Removes the specified Availability Zone associations from a transit gateway-attached firewall. This removes the firewall endpoints from these Availability Zones and stops traffic filtering in those zones. Before removing an Availability Zone, ensure you've updated your transit gateway route tables to redirect traffic appropriately.</p> <note> <p>If <code>AvailabilityZoneChangeProtection</code> is enabled, you must first disable it using <a>UpdateAvailabilityZoneChangeProtection</a>.</p> </note> <p>To verify the status of your Availability Zone changes, use <a>DescribeFirewall</a>.</p>"
    },
    "DisassociateSubnets":{
      "name":"DisassociateSubnets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateSubnetsRequest"},
      "output":{"shape":"DisassociateSubnetsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidTokenException"},
        {"shape":"InvalidOperationException"}
      ],
      "documentation":"<p>Removes the specified subnet associations from the firewall. This removes the firewall endpoints from the subnets and removes any network filtering protections that the endpoints were providing. </p>"
    },
    "GetAnalysisReportResults":{
      "name":"GetAnalysisReportResults",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAnalysisReportResultsRequest"},
      "output":{"shape":"GetAnalysisReportResultsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>The results of a <code>COMPLETED</code> analysis report generated with <a>StartAnalysisReport</a>.</p> <p>For more information, see <a>AnalysisTypeReportResult</a>. </p>"
    },
    "ListAnalysisReports":{
      "name":"ListAnalysisReports",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAnalysisReportsRequest"},
      "output":{"shape":"ListAnalysisReportsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of all traffic analysis reports generated within the last 30 days.</p>"
    },
    "ListFirewallPolicies":{
      "name":"ListFirewallPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListFirewallPoliciesRequest"},
      "output":{"shape":"ListFirewallPoliciesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Retrieves the metadata for the firewall policies that you have defined. Depending on your setting for max results and the number of firewall policies, a single call might not return the full list. </p>"
    },
    "ListFirewalls":{
      "name":"ListFirewalls",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListFirewallsRequest"},
      "output":{"shape":"ListFirewallsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the metadata for the firewalls that you have defined. If you provide VPC identifiers in your request, this returns only the firewalls for those VPCs.</p> <p>Depending on your setting for max results and the number of firewalls, a single call might not return the full list. </p>"
    },
    "ListFlowOperationResults":{
      "name":"ListFlowOperationResults",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListFlowOperationResultsRequest"},
      "output":{"shape":"ListFlowOperationResultsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns the results of a specific flow operation. </p> <p>Flow operations let you manage the flows tracked in the flow table, also known as the firewall table.</p> <p>A flow is network traffic that is monitored by a firewall, either by stateful or stateless rules. For traffic to be considered part of a flow, it must share Destination, DestinationPort, Direction, Protocol, Source, and SourcePort. </p>"
    },
    "ListFlowOperations":{
      "name":"ListFlowOperations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListFlowOperationsRequest"},
      "output":{"shape":"ListFlowOperationsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of all flow operations ran in a specific firewall. You can optionally narrow the request scope by specifying the operation type or Availability Zone associated with a firewall's flow operations. </p> <p>Flow operations let you manage the flows tracked in the flow table, also known as the firewall table.</p> <p>A flow is network traffic that is monitored by a firewall, either by stateful or stateless rules. For traffic to be considered part of a flow, it must share Destination, DestinationPort, Direction, Protocol, Source, and SourcePort. </p>"
    },
    "ListRuleGroups":{
      "name":"ListRuleGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListRuleGroupsRequest"},
      "output":{"shape":"ListRuleGroupsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Retrieves the metadata for the rule groups that you have defined. Depending on your setting for max results and the number of rule groups, a single call might not return the full list. </p>"
    },
    "ListTLSInspectionConfigurations":{
      "name":"ListTLSInspectionConfigurations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTLSInspectionConfigurationsRequest"},
      "output":{"shape":"ListTLSInspectionConfigurationsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the metadata for the TLS inspection configurations that you have defined. Depending on your setting for max results and the number of TLS inspection configurations, a single call might not return the full list.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Retrieves the tags associated with the specified resource. Tags are key:value pairs that you can use to categorize and manage your resources, for purposes like billing. For example, you might set the tag key to \"customer\" and the value to the customer name or ID. You can specify one or more tags to add to each Amazon Web Services resource, up to 50 tags for a resource.</p> <p>You can tag the Amazon Web Services resources that you manage through Network Firewall: firewalls, firewall policies, and rule groups. </p>"
    },
    "ListVpcEndpointAssociations":{
      "name":"ListVpcEndpointAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListVpcEndpointAssociationsRequest"},
      "output":{"shape":"ListVpcEndpointAssociationsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Retrieves the metadata for the VPC endpoint associations that you have defined. If you specify a fireawll, this returns only the endpoint associations for that firewall. </p> <p>Depending on your setting for max results and the number of associations, a single call might not return the full list. </p>"
    },
    "PutResourcePolicy":{
      "name":"PutResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutResourcePolicyRequest"},
      "output":{"shape":"PutResourcePolicyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidResourcePolicyException"}
      ],
      "documentation":"<p>Creates or updates an IAM policy for your rule group, firewall policy, or firewall. Use this to share these resources between accounts. This operation works in conjunction with the Amazon Web Services Resource Access Manager (RAM) service to manage resource sharing for Network Firewall. </p> <p>For information about using sharing with Network Firewall resources, see <a href=\"https://docs.aws.amazon.com/network-firewall/latest/developerguide/sharing.html\">Sharing Network Firewall resources</a> in the <i>Network Firewall Developer Guide</i>.</p> <p>Use this operation to create or update a resource policy for your Network Firewall rule group, firewall policy, or firewall. In the resource policy, you specify the accounts that you want to share the Network Firewall resource with and the operations that you want the accounts to be able to perform. </p> <p>When you add an account in the resource policy, you then run the following Resource Access Manager (RAM) operations to access and accept the shared resource. </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/ram/latest/APIReference/API_GetResourceShareInvitations.html\">GetResourceShareInvitations</a> - Returns the Amazon Resource Names (ARNs) of the resource share invitations. </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/ram/latest/APIReference/API_AcceptResourceShareInvitation.html\">AcceptResourceShareInvitation</a> - Accepts the share invitation for a specified resource share. </p> </li> </ul> <p>For additional information about resource sharing using RAM, see <a href=\"https://docs.aws.amazon.com/ram/latest/userguide/what-is.html\">Resource Access Manager User Guide</a>.</p>"
    },
    "RejectNetworkFirewallTransitGatewayAttachment":{
      "name":"RejectNetworkFirewallTransitGatewayAttachment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RejectNetworkFirewallTransitGatewayAttachmentRequest"},
      "output":{"shape":"RejectNetworkFirewallTransitGatewayAttachmentResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Rejects a transit gateway attachment request for Network Firewall. When you reject the attachment request, Network Firewall cancels the creation of routing components between the transit gateway and firewall endpoints.</p> <p>Only the transit gateway owner can reject the attachment. After rejection, no traffic will flow through the firewall endpoints for this attachment.</p> <p>Use <a>DescribeFirewall</a> to monitor the rejection status. To accept the attachment instead of rejecting it, use <a>AcceptNetworkFirewallTransitGatewayAttachment</a>.</p> <note> <p>Once rejected, you cannot reverse this action. To establish connectivity, you must create a new transit gateway-attached firewall.</p> </note>"
    },
    "StartAnalysisReport":{
      "name":"StartAnalysisReport",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartAnalysisReportRequest"},
      "output":{"shape":"StartAnalysisReportResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Generates a traffic analysis report for the timeframe and traffic type you specify.</p> <p>For information on the contents of a traffic analysis report, see <a>AnalysisReport</a>.</p>"
    },
    "StartFlowCapture":{
      "name":"StartFlowCapture",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartFlowCaptureRequest"},
      "output":{"shape":"StartFlowCaptureResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Begins capturing the flows in a firewall, according to the filters you define. Captures are similar, but not identical to snapshots. Capture operations provide visibility into flows that are not closed and are tracked by a firewall's flow table. Unlike snapshots, captures are a time-boxed view. </p> <p>A flow is network traffic that is monitored by a firewall, either by stateful or stateless rules. For traffic to be considered part of a flow, it must share Destination, DestinationPort, Direction, Protocol, Source, and SourcePort. </p> <note> <p>To avoid encountering operation limits, you should avoid starting captures with broad filters, like wide IP ranges. Instead, we recommend you define more specific criteria with <code>FlowFilters</code>, like narrow IP ranges, ports, or protocols.</p> </note>"
    },
    "StartFlowFlush":{
      "name":"StartFlowFlush",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartFlowFlushRequest"},
      "output":{"shape":"StartFlowFlushResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Begins the flushing of traffic from the firewall, according to the filters you define. When the operation starts, impacted flows are temporarily marked as timed out before the Suricata engine prunes, or flushes, the flows from the firewall table.</p> <important> <p>While the flush completes, impacted flows are processed as midstream traffic. This may result in a temporary increase in midstream traffic metrics. We recommend that you double check your stream exception policy before you perform a flush operation.</p> </important>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Adds the specified tags to the specified resource. Tags are key:value pairs that you can use to categorize and manage your resources, for purposes like billing. For example, you might set the tag key to \"customer\" and the value to the customer name or ID. You can specify one or more tags to add to each Amazon Web Services resource, up to 50 tags for a resource.</p> <p>You can tag the Amazon Web Services resources that you manage through Network Firewall: firewalls, firewall policies, and rule groups. </p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Removes the tags with the specified keys from the specified resource. Tags are key:value pairs that you can use to categorize and manage your resources, for purposes like billing. For example, you might set the tag key to \"customer\" and the value to the customer name or ID. You can specify one or more tags to add to each Amazon Web Services resource, up to 50 tags for a resource.</p> <p>You can manage tags for the Amazon Web Services resources that you manage through Network Firewall: firewalls, firewall policies, and rule groups. </p>"
    },
    "UpdateAvailabilityZoneChangeProtection":{
      "name":"UpdateAvailabilityZoneChangeProtection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateAvailabilityZoneChangeProtectionRequest"},
      "output":{"shape":"UpdateAvailabilityZoneChangeProtectionResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidTokenException"},
        {"shape":"ResourceOwnerCheckException"}
      ],
      "documentation":"<p>Modifies the <code>AvailabilityZoneChangeProtection</code> setting for a transit gateway-attached firewall. When enabled, this setting prevents accidental changes to the firewall's Availability Zone configuration. This helps protect against disrupting traffic flow in production environments.</p> <p>When enabled, you must disable this protection before using <a>AssociateAvailabilityZones</a> or <a>DisassociateAvailabilityZones</a> to modify the firewall's Availability Zone configuration.</p>"
    },
    "UpdateFirewallAnalysisSettings":{
      "name":"UpdateFirewallAnalysisSettings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateFirewallAnalysisSettingsRequest"},
      "output":{"shape":"UpdateFirewallAnalysisSettingsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Enables specific types of firewall analysis on a specific firewall you define.</p>"
    },
    "UpdateFirewallDeleteProtection":{
      "name":"UpdateFirewallDeleteProtection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateFirewallDeleteProtectionRequest"},
      "output":{"shape":"UpdateFirewallDeleteProtectionResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidTokenException"},
        {"shape":"ResourceOwnerCheckException"}
      ],
      "documentation":"<p>Modifies the flag, <code>DeleteProtection</code>, which indicates whether it is possible to delete the firewall. If the flag is set to <code>TRUE</code>, the firewall is protected against deletion. This setting helps protect against accidentally deleting a firewall that's in use. </p>"
    },
    "UpdateFirewallDescription":{
      "name":"UpdateFirewallDescription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateFirewallDescriptionRequest"},
      "output":{"shape":"UpdateFirewallDescriptionResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidTokenException"}
      ],
      "documentation":"<p>Modifies the description for the specified firewall. Use the description to help you identify the firewall when you're working with it. </p>"
    },
    "UpdateFirewallEncryptionConfiguration":{
      "name":"UpdateFirewallEncryptionConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateFirewallEncryptionConfigurationRequest"},
      "output":{"shape":"UpdateFirewallEncryptionConfigurationResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidTokenException"},
        {"shape":"ResourceOwnerCheckException"}
      ],
      "documentation":"<p>A complex type that contains settings for encryption of your firewall resources.</p>"
    },
    "UpdateFirewallPolicy":{
      "name":"UpdateFirewallPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateFirewallPolicyRequest"},
      "output":{"shape":"UpdateFirewallPolicyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerError"},
        {"shape":"InvalidTokenException"}
      ],
      "documentation":"<p>Updates the properties of the specified firewall policy.</p>"
    },
    "UpdateFirewallPolicyChangeProtection":{
      "name":"UpdateFirewallPolicyChangeProtection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateFirewallPolicyChangeProtectionRequest"},
      "output":{"shape":"UpdateFirewallPolicyChangeProtectionResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidTokenException"},
        {"shape":"ResourceOwnerCheckException"}
      ],
      "documentation":"<p>Modifies the flag, <code>ChangeProtection</code>, which indicates whether it is possible to change the firewall. If the flag is set to <code>TRUE</code>, the firewall is protected from changes. This setting helps protect against accidentally changing a firewall that's in use.</p>"
    },
    "UpdateLoggingConfiguration":{
      "name":"UpdateLoggingConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateLoggingConfigurationRequest"},
      "output":{"shape":"UpdateLoggingConfigurationResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidTokenException"},
        {"shape":"LogDestinationPermissionException"}
      ],
      "documentation":"<p>Sets the logging configuration for the specified firewall. </p> <p>To change the logging configuration, retrieve the <a>LoggingConfiguration</a> by calling <a>DescribeLoggingConfiguration</a>, then change it and provide the modified object to this update call. You must change the logging configuration one <a>LogDestinationConfig</a> at a time inside the retrieved <a>LoggingConfiguration</a> object. </p> <p>You can perform only one of the following actions in any call to <code>UpdateLoggingConfiguration</code>: </p> <ul> <li> <p>Create a new log destination object by adding a single <code>LogDestinationConfig</code> array element to <code>LogDestinationConfigs</code>.</p> </li> <li> <p>Delete a log destination object by removing a single <code>LogDestinationConfig</code> array element from <code>LogDestinationConfigs</code>.</p> </li> <li> <p>Change the <code>LogDestination</code> setting in a single <code>LogDestinationConfig</code> array element.</p> </li> </ul> <p>You can't change the <code>LogDestinationType</code> or <code>LogType</code> in a <code>LogDestinationConfig</code>. To change these settings, delete the existing <code>LogDestinationConfig</code> object and create a new one, using two separate calls to this update operation.</p>"
    },
    "UpdateRuleGroup":{
      "name":"UpdateRuleGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateRuleGroupRequest"},
      "output":{"shape":"UpdateRuleGroupResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerError"},
        {"shape":"InvalidTokenException"}
      ],
      "documentation":"<p>Updates the rule settings for the specified rule group. You use a rule group by reference in one or more firewall policies. When you modify a rule group, you modify all firewall policies that use the rule group. </p> <p>To update a rule group, first call <a>DescribeRuleGroup</a> to retrieve the current <a>RuleGroup</a> object, update the object as needed, and then provide the updated object to this call. </p>"
    },
    "UpdateSubnetChangeProtection":{
      "name":"UpdateSubnetChangeProtection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateSubnetChangeProtectionRequest"},
      "output":{"shape":"UpdateSubnetChangeProtectionResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidTokenException"},
        {"shape":"ResourceOwnerCheckException"}
      ],
      "documentation":"<p/>"
    },
    "UpdateTLSInspectionConfiguration":{
      "name":"UpdateTLSInspectionConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateTLSInspectionConfigurationRequest"},
      "output":{"shape":"UpdateTLSInspectionConfigurationResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerError"},
        {"shape":"InvalidTokenException"}
      ],
      "documentation":"<p>Updates the TLS inspection configuration settings for the specified TLS inspection configuration. You use a TLS inspection configuration by referencing it in one or more firewall policies. When you modify a TLS inspection configuration, you modify all firewall policies that use the TLS inspection configuration. </p> <p>To update a TLS inspection configuration, first call <a>DescribeTLSInspectionConfiguration</a> to retrieve the current <a>TLSInspectionConfiguration</a> object, update the object as needed, and then provide the updated object to this call. </p>"
    }
  },
  "shapes":{
    "AWSAccountId":{
      "type":"string",
      "max":12,
      "min":12,
      "pattern":"^\\d{12}$"
    },
    "AZSyncState":{
      "type":"structure",
      "members":{
        "Attachment":{"shape":"Attachment"}
      },
      "documentation":"<p>The status of the firewall endpoint defined by a <code>VpcEndpointAssociation</code>. </p>"
    },
    "AcceptNetworkFirewallTransitGatewayAttachmentRequest":{
      "type":"structure",
      "required":["TransitGatewayAttachmentId"],
      "members":{
        "TransitGatewayAttachmentId":{
          "shape":"TransitGatewayAttachmentId",
          "documentation":"<p>Required. The unique identifier of the transit gateway attachment to accept. This ID is returned in the response when creating a transit gateway-attached firewall.</p>"
        }
      }
    },
    "AcceptNetworkFirewallTransitGatewayAttachmentResponse":{
      "type":"structure",
      "required":[
        "TransitGatewayAttachmentId",
        "TransitGatewayAttachmentStatus"
      ],
      "members":{
        "TransitGatewayAttachmentId":{
          "shape":"TransitGatewayAttachmentId",
          "documentation":"<p>The unique identifier of the transit gateway attachment that was accepted.</p>"
        },
        "TransitGatewayAttachmentStatus":{
          "shape":"TransitGatewayAttachmentStatus",
          "documentation":"<p>The current status of the transit gateway attachment. Valid values are:</p> <ul> <li> <p> <code>CREATING</code> - The attachment is being created</p> </li> <li> <p> <code>DELETING</code> - The attachment is being deleted</p> </li> <li> <p> <code>DELETED</code> - The attachment has been deleted</p> </li> <li> <p> <code>FAILED</code> - The attachment creation has failed and cannot be recovered</p> </li> <li> <p> <code>ERROR</code> - The attachment is in an error state that might be recoverable</p> </li> <li> <p> <code>READY</code> - The attachment is active and processing traffic</p> </li> <li> <p> <code>PENDING_ACCEPTANCE</code> - The attachment is waiting to be accepted</p> </li> <li> <p> <code>REJECTING</code> - The attachment is in the process of being rejected</p> </li> <li> <p> <code>REJECTED</code> - The attachment has been rejected</p> </li> </ul>"
        }
      }
    },
    "ActionDefinition":{
      "type":"structure",
      "members":{
        "PublishMetricAction":{
          "shape":"PublishMetricAction",
          "documentation":"<p>Stateless inspection criteria that publishes the specified metrics to Amazon CloudWatch for the matching packet. This setting defines a CloudWatch dimension value to be published.</p> <p>You can pair this custom action with any of the standard stateless rule actions. For example, you could pair this in a rule action with the standard action that forwards the packet for stateful inspection. Then, when a packet matches the rule, Network Firewall publishes metrics for the packet and forwards it. </p>"
        }
      },
      "documentation":"<p>A custom action to use in stateless rule actions settings. This is used in <a>CustomAction</a>.</p>"
    },
    "ActionName":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"^[a-zA-Z0-9]+$"
    },
    "Address":{
      "type":"structure",
      "required":["AddressDefinition"],
      "members":{
        "AddressDefinition":{
          "shape":"AddressDefinition",
          "documentation":"<p>Specify an IP address or a block of IP addresses in Classless Inter-Domain Routing (CIDR) notation. Network Firewall supports all address ranges for IPv4 and IPv6. </p> <p>Examples: </p> <ul> <li> <p>To configure Network Firewall to inspect for the IP address 192.0.2.44, specify <code>192.0.2.44/32</code>.</p> </li> <li> <p>To configure Network Firewall to inspect for IP addresses from 192.0.2.0 to 192.0.2.255, specify <code>192.0.2.0/24</code>.</p> </li> <li> <p>To configure Network Firewall to inspect for the IP address 1111:0000:0000:0000:0000:0000:0000:0111, specify <code>1111:0000:0000:0000:0000:0000:0000:0111/128</code>.</p> </li> <li> <p>To configure Network Firewall to inspect for IP addresses from 1111:0000:0000:0000:0000:0000:0000:0000 to 1111:0000:0000:0000:ffff:ffff:ffff:ffff, specify <code>1111:0000:0000:0000:0000:0000:0000:0000/64</code>.</p> </li> </ul> <p>For more information about CIDR notation, see the Wikipedia entry <a href=\"https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing\">Classless Inter-Domain Routing</a>.</p>"
        }
      },
      "documentation":"<p>A single IP address specification. This is used in the <a>MatchAttributes</a> source and destination specifications.</p>"
    },
    "AddressDefinition":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^([a-fA-F\\d:\\.]+($|/\\d{1,3}))$"
    },
    "Addresses":{
      "type":"list",
      "member":{"shape":"Address"}
    },
    "Age":{"type":"integer"},
    "AnalysisReport":{
      "type":"structure",
      "members":{
        "AnalysisReportId":{
          "shape":"AnalysisReportId",
          "documentation":"<p>The unique ID of the query that ran when you requested an analysis report. </p>"
        },
        "AnalysisType":{
          "shape":"EnabledAnalysisType",
          "documentation":"<p>The type of traffic that will be used to generate a report. </p>"
        },
        "ReportTime":{
          "shape":"ReportTime",
          "documentation":"<p>The date and time the analysis report was ran. </p>"
        },
        "Status":{
          "shape":"Status",
          "documentation":"<p>The status of the analysis report you specify. Statuses include <code>RUNNING</code>, <code>COMPLETED</code>, or <code>FAILED</code>.</p>"
        }
      },
      "documentation":"<p>A report that captures key activity from the last 30 days of network traffic monitored by your firewall.</p> <p>You can generate up to one report per traffic type, per 30 day period. For example, when you successfully create an HTTP traffic report, you cannot create another HTTP traffic report until 30 days pass. Alternatively, if you generate a report that combines metrics on both HTTP and HTTPS traffic, you cannot create another report for either traffic type until 30 days pass.</p>"
    },
    "AnalysisReportId":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"\\S+"
    },
    "AnalysisReportNextToken":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "AnalysisReportResults":{
      "type":"list",
      "member":{"shape":"AnalysisTypeReportResult"}
    },
    "AnalysisReports":{
      "type":"list",
      "member":{"shape":"AnalysisReport"}
    },
    "AnalysisResult":{
      "type":"structure",
      "members":{
        "IdentifiedRuleIds":{
          "shape":"RuleIdList",
          "documentation":"<p>The priority number of the stateless rules identified in the analysis.</p>"
        },
        "IdentifiedType":{
          "shape":"IdentifiedType",
          "documentation":"<p>The types of rule configurations that Network Firewall analyzes your rule groups for. Network Firewall analyzes stateless rule groups for the following types of rule configurations:</p> <ul> <li> <p> <code>STATELESS_RULE_FORWARDING_ASYMMETRICALLY</code> </p> <p>Cause: One or more stateless rules with the action <code>pass</code> or <code>forward</code> are forwarding traffic asymmetrically. Specifically, the rule's set of source IP addresses or their associated port numbers, don't match the set of destination IP addresses or their associated port numbers.</p> <p>To mitigate: Make sure that there's an existing return path. For example, if the rule allows traffic from source 10.1.0.0/24 to destination 20.1.0.0/24, you should allow return traffic from source 20.1.0.0/24 to destination 10.1.0.0/24.</p> </li> <li> <p> <code>STATELESS_RULE_CONTAINS_TCP_FLAGS</code> </p> <p>Cause: At least one stateless rule with the action <code>pass</code> or<code>forward</code> contains TCP flags that are inconsistent in the forward and return directions.</p> <p>To mitigate: Prevent asymmetric routing issues caused by TCP flags by following these actions:</p> <ul> <li> <p>Remove unnecessary TCP flag inspections from the rules.</p> </li> <li> <p>If you need to inspect TCP flags, check that the rules correctly account for changes in TCP flags throughout the TCP connection cycle, for example <code>SYN</code> and <code>ACK</code> flags used in a 3-way TCP handshake.</p> </li> </ul> </li> </ul>"
        },
        "AnalysisDetail":{
          "shape":"CollectionMember_String",
          "documentation":"<p>Provides analysis details for the identified rule.</p>"
        }
      },
      "documentation":"<p>The analysis result for Network Firewall's stateless rule group analyzer. Every time you call <a>CreateRuleGroup</a>, <a>UpdateRuleGroup</a>, or <a>DescribeRuleGroup</a> on a stateless rule group, Network Firewall analyzes the stateless rule groups in your account and identifies the rules that might adversely effect your firewall's functionality. For example, if Network Firewall detects a rule that's routing traffic asymmetrically, which impacts the service's ability to properly process traffic, the service includes the rule in a list of analysis results.</p> <p>The <code>AnalysisResult</code> data type is not related to traffic analysis reports you generate using <a>StartAnalysisReport</a>. For information on traffic analysis report results, see <a>AnalysisTypeReportResult</a>.</p>"
    },
    "AnalysisResultList":{
      "type":"list",
      "member":{"shape":"AnalysisResult"}
    },
    "AnalysisTypeReportResult":{
      "type":"structure",
      "members":{
        "Protocol":{
          "shape":"CollectionMember_String",
          "documentation":"<p>The type of traffic captured by the analysis report.</p>"
        },
        "FirstAccessed":{
          "shape":"FirstAccessed",
          "documentation":"<p>The date and time any domain was first accessed (within the last 30 day period).</p>"
        },
        "LastAccessed":{
          "shape":"LastAccessed",
          "documentation":"<p>The date and time any domain was last accessed (within the last 30 day period).</p>"
        },
        "Domain":{
          "shape":"Domain",
          "documentation":"<p>The most frequently accessed domains.</p>"
        },
        "Hits":{
          "shape":"Hits",
          "documentation":"<p>The number of attempts made to access a observed domain.</p>"
        },
        "UniqueSources":{
          "shape":"UniqueSources",
          "documentation":"<p>The number of unique source IP addresses that connected to a domain.</p>"
        }
      },
      "documentation":"<p>The results of a <code>COMPLETED</code> analysis report generated with <a>StartAnalysisReport</a>.</p> <p>For an example of traffic analysis report results, see the response syntax of <a>GetAnalysisReportResults</a>.</p>"
    },
    "AssociateAvailabilityZonesRequest":{
      "type":"structure",
      "required":["AvailabilityZoneMappings"],
      "members":{
        "UpdateToken":{
          "shape":"UpdateToken",
          "documentation":"<p>An optional token that you can use for optimistic locking. Network Firewall returns a token to your requests that access the firewall. The token marks the state of the firewall resource at the time of the request. </p> <p>To make an unconditional change to the firewall, omit the token in your update request. Without the token, Network Firewall performs your updates regardless of whether the firewall has changed since you last retrieved it.</p> <p>To make a conditional change to the firewall, provide the token in your update request. Network Firewall uses the token to ensure that the firewall hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the firewall again to get a current copy of it with a new token. Reapply your changes as needed, then try the operation again using the new token. </p>"
        },
        "FirewallArn":{
          "shape":"ResourceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the firewall.</p> <p>You must specify the ARN or the name, and you can specify both. </p>"
        },
        "FirewallName":{
          "shape":"ResourceName",
          "documentation":"<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p> <p>You must specify the ARN or the name, and you can specify both. </p>"
        },
        "AvailabilityZoneMappings":{
          "shape":"AvailabilityZoneMappings",
          "documentation":"<p>Required. The Availability Zones where you want to create firewall endpoints. You must specify at least one Availability Zone.</p>"
        }
      }
    },
    "AssociateAvailabilityZonesResponse":{
      "type":"structure",
      "members":{
        "FirewallArn":{
          "shape":"ResourceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the firewall.</p>"
        },
        "FirewallName":{
          "shape":"ResourceName",
          "documentation":"<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p>"
        },
        "AvailabilityZoneMappings":{
          "shape":"AvailabilityZoneMappings",
          "documentation":"<p>The Availability Zones where Network Firewall created firewall endpoints. Each mapping specifies an Availability Zone where the firewall processes traffic.</p>"
        },
        "UpdateToken":{
          "shape":"UpdateToken",
          "documentation":"<p>An optional token that you can use for optimistic locking. Network Firewall returns a token to your requests that access the firewall. The token marks the state of the firewall resource at the time of the request. </p> <p>To make an unconditional change to the firewall, omit the token in your update request. Without the token, Network Firewall performs your updates regardless of whether the firewall has changed since you last retrieved it.</p> <p>To make a conditional change to the firewall, provide the token in your update request. Network Firewall uses the token to ensure that the firewall hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the firewall again to get a current copy of it with a new token. Reapply your changes as needed, then try the operation again using the new token. </p>"
        }
      }
    },
    "AssociateFirewallPolicyRequest":{
      "type":"structure",
      "required":["FirewallPolicyArn"],
      "members":{
        "UpdateToken":{
          "shape":"UpdateToken",
          "documentation":"<p>An optional token that you can use for optimistic locking. Network Firewall returns a token to your requests that access the firewall. The token marks the state of the firewall resource at the time of the request. </p> <p>To make an unconditional change to the firewall, omit the token in your update request. Without the token, Network Firewall performs your updates regardless of whether the firewall has changed since you last retrieved it.</p> <p>To make a conditional change to the firewall, provide the token in your update request. Network Firewall uses the token to ensure that the firewall hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the firewall again to get a current copy of it with a new token. Reapply your changes as needed, then try the operation again using the new token. </p>"
        },
        "FirewallArn":{
          "shape":"ResourceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the firewall.</p> <p>You must specify the ARN or the name, and you can specify both. </p>"
        },
        "FirewallName":{
          "shape":"ResourceName",
          "documentation":"<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p> <p>You must specify the ARN or the name, and you can specify both. </p>"
        },
        "FirewallPolicyArn":{
          "shape":"ResourceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the firewall policy.</p>"
        }
      }
    },
    "AssociateFirewallPolicyResponse":{
      "type":"structure",
      "members":{
        "FirewallArn":{
          "shape":"ResourceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the firewall.</p>"
        },
        "FirewallName":{
          "shape":"ResourceName",
          "documentation":"<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p>"
        },
        "FirewallPolicyArn":{
          "shape":"ResourceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the firewall policy.</p>"
        },
        "UpdateToken":{
          "shape":"UpdateToken",
          "documentation":"<p>An optional token that you can use for optimistic locking. Network Firewall returns a token to your requests that access the firewall. The token marks the state of the firewall resource at the time of the request. </p> <p>To make an unconditional change to the firewall, omit the token in your update request. Without the token, Network Firewall performs your updates regardless of whether the firewall has changed since you last retrieved it.</p> <p>To make a conditional change to the firewall, provide the token in your update request. Network Firewall uses the token to ensure that the firewall hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the firewall again to get a current copy of it with a new token. Reapply your changes as needed, then try the operation again using the new token. </p>"
        }
      }
    },
    "AssociateSubnetsRequest":{
      "type":"structure",
      "required":["SubnetMappings"],
      "members":{
        "UpdateToken":{
          "shape":"UpdateToken",
          "documentation":"<p>An optional token that you can use for optimistic locking. Network Firewall returns a token to your requests that access the firewall. The token marks the state of the firewall resource at the time of the request. </p> <p>To make an unconditional change to the firewall, omit the token in your update request. Without the token, Network Firewall performs your updates regardless of whether the firewall has changed since you last retrieved it.</p> <p>To make a conditional change to the firewall, provide the token in your update request. Network Firewall uses the token to ensure that the firewall hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the firewall again to get a current copy of it with a new token. Reapply your changes as needed, then try the operation again using the new token. </p>"
        },
        "FirewallArn":{
          "shape":"ResourceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the firewall.</p> <p>You must specify the ARN or the name, and you can specify both. </p>"
        },
        "FirewallName":{
          "shape":"ResourceName",
          "documentation":"<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p> <p>You must specify the ARN or the name, and you can specify both. </p>"
        },
        "SubnetMappings":{
          "shape":"SubnetMappings",
          "documentation":"<p>The IDs of the subnets that you want to associate with the firewall. </p>"
        }
      }
    },
    "AssociateSubnetsResponse":{
      "type":"structure",
      "members":{
        "FirewallArn":{
          "shape":"ResourceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the firewall.</p>"
        },
        "FirewallName":{
          "shape":"ResourceName",
          "documentation":"<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p>"
        },
        "SubnetMappings":{
          "shape":"SubnetMappings",
          "documentation":"<p>The IDs of the subnets that are associated with the firewall. </p>"
        },
        "UpdateToken":{
          "shape":"UpdateToken",
          "documentation":"<p>An optional token that you can use for optimistic locking. Network Firewall returns a token to your requests that access the firewall. The token marks the state of the firewall resource at the time of the request. </p> <p>To make an unconditional change to the firewall, omit the token in your update request. Without the token, Network Firewall performs your updates regardless of whether the firewall has changed since you last retrieved it.</p> <p>To make a conditional change to the firewall, provide the token in your update request. Network Firewall uses the token to ensure that the firewall hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the firewall again to get a current copy of it with a new token. Reapply your changes as needed, then try the operation again using the new token. </p>"
        }
      }
    },
    "AssociationSyncState":{
      "type":"map",
      "key":{"shape":"AvailabilityZone"},
      "value":{"shape":"AZSyncState"}
    },
    "Attachment":{
      "type":"structure",
      "members":{
        "SubnetId":{
          "shape":"AzSubnet",
          "documentation":"<p>The unique identifier of the subnet that you've specified to be used for a firewall endpoint. </p>"
        },
        "EndpointId":{
          "shape":"EndpointId",
          "documentation":"<p>The identifier of the firewall endpoint that Network Firewall has instantiated in the subnet. You use this to identify the firewall endpoint in the VPC route tables, when you redirect the VPC traffic through the endpoint. </p>"
        },
        "Status":{
          "shape":"AttachmentStatus",
          "documentation":"<p>The current status of the firewall endpoint instantiation in the subnet. </p> <p>When this value is <code>READY</code>, the endpoint is available to handle network traffic. Otherwise, this value reflects its state, for example <code>CREATING</code> or <code>DELETING</code>.</p>"
        },
        "StatusMessage":{
          "shape":"StatusMessage",
          "documentation":"<p>If Network Firewall fails to create or delete the firewall endpoint in the subnet, it populates this with the reason for the error or failure and how to resolve it. A <code>FAILED</code> status indicates a non-recoverable state, and a <code>ERROR</code> status indicates an issue that you can fix. Depending on the error, it can take as many as 15 minutes to populate this field. For more information about the causes for failiure or errors and solutions available for this field, see <a href=\"https://docs.aws.amazon.com/network-firewall/latest/developerguide/firewall-troubleshooting-endpoint-failures.html\">Troubleshooting firewall endpoint failures</a> in the <i>Network Firewall Developer Guide</i>.</p>"
        }
      },
      "documentation":"<p>The definition and status of the firewall endpoint for a single subnet. In each configured subnet, Network Firewall instantiates a firewall endpoint to handle network traffic. </p> <p>This data type is used for any firewall endpoint type: </p> <ul> <li> <p>For <code>Firewall.SubnetMappings</code>, this <code>Attachment</code> is part of the <code>FirewallStatus</code> sync states information. You define firewall subnets using <code>CreateFirewall</code> and <code>AssociateSubnets</code>. </p> </li> <li> <p>For <code>VpcEndpointAssociation</code>, this <code>Attachment</code> is part of the <code>VpcEndpointAssociationStatus</code> sync states information. You define these subnets using <code>CreateVpcEndpointAssociation</code>. </p> </li> </ul>"
    },
    "AttachmentId":{"type":"string"},
    "AttachmentStatus":{
      "type":"string",
      "enum":[
        "CREATING",
        "DELETING",
        "FAILED",
        "ERROR",
        "SCALING",
        "READY"
      ]
    },
    "AvailabilityZone":{"type":"string"},
    "AvailabilityZoneMapping":{
      "type":"structure",
      "required":["AvailabilityZone"],
      "members":{
        "AvailabilityZone":{
          "shape":"AvailabilityZoneMappingString",
          "documentation":"<p>The ID of the Availability Zone where the firewall endpoint is located. For example, <code>us-east-2a</code>. The Availability Zone must be in the same Region as the transit gateway.</p>"
        }
      },
      "documentation":"<p>Defines the mapping between an Availability Zone and a firewall endpoint for a transit gateway-attached firewall. Each mapping represents where the firewall can process traffic. You use these mappings when calling <a>CreateFirewall</a>, <a>AssociateAvailabilityZones</a>, and <a>DisassociateAvailabilityZones</a>.</p> <p>To retrieve the current Availability Zone mappings for a firewall, use <a>DescribeFirewall</a>.</p>"
    },
    "AvailabilityZoneMappingString":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"\\S+"
    },
    "AvailabilityZoneMappings":{
      "type":"list",
      "member":{"shape":"AvailabilityZoneMapping"}
    },
    "AvailabilityZoneMetadata":{
      "type":"structure",
      "members":{
        "IPAddressType":{
          "shape":"IPAddressType",
          "documentation":"<p>The IP address type of the Firewall subnet in the Availability Zone. You can't change the IP address type after you create the subnet.</p>"
        }
      },
      "documentation":"<p>High-level information about an Availability Zone where the firewall has an endpoint defined. </p>"
    },
    "AzSubnet":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"^subnet-[0-9a-f]+$"
    },
    "AzSubnets":{
      "type":"list",
      "member":{"shape":"AzSubnet"}
    },
    "Boolean":{"type":"boolean"},
    "ByteCount":{"type":"long"},
    "CIDRCount":{
      "type":"integer",
      "max":1000000,
      "min":0
    },
    "CIDRSummary":{
      "type":"structure",
      "members":{
        "AvailableCIDRCount":{
          "shape":"CIDRCount",
          "documentation":"<p>The number of CIDR blocks available for use by the IP set references in a firewall.</p>"
        },
        "UtilizedCIDRCount":{
          "shape":"CIDRCount",
          "documentation":"<p>The number of CIDR blocks used by the IP set references in a firewall.</p>"
        },
        "IPSetReferences":{
          "shape":"IPSetMetadataMap",
          "documentation":"<p>The list of the IP set references used by a firewall.</p>"
        }
      },
      "documentation":"<p>Summarizes the CIDR blocks used by the IP set references in a firewall. Network Firewall calculates the number of CIDRs by taking an aggregated count of all CIDRs used by the IP sets you are referencing.</p>"
    },
    "CapacityUsageSummary":{
      "type":"structure",
      "members":{
        "CIDRs":{
          "shape":"CIDRSummary",
          "documentation":"<p>Describes the capacity usage of the CIDR blocks used by the IP set references in a firewall.</p>"
        }
      },
      "documentation":"<p>The capacity usage summary of the resources used by the <a>ReferenceSets</a> in a firewall.</p>"
    },
    "Certificates":{
      "type":"list",
      "member":{"shape":"TlsCertificateData"}
    },
    "CheckCertificateRevocationStatusActions":{
      "type":"structure",
      "members":{
        "RevokedStatusAction":{
          "shape":"RevocationCheckAction",
          "documentation":"<p>Configures how Network Firewall processes traffic when it determines that the certificate presented by the server in the SSL/TLS connection has a revoked status.</p> <ul> <li> <p> <b>PASS</b> - Allow the connection to continue, and pass subsequent packets to the stateful engine for inspection.</p> </li> <li> <p> <b>DROP</b> - Network Firewall closes the connection and drops subsequent packets for that connection.</p> </li> <li> <p> <b>REJECT</b> - Network Firewall sends a TCP reject packet back to your client. The service closes the connection and drops subsequent packets for that connection. <code>REJECT</code> is available only for TCP traffic.</p> </li> </ul>"
        },
        "UnknownStatusAction":{
          "shape":"RevocationCheckAction",
          "documentation":"<p>Configures how Network Firewall processes traffic when it determines that the certificate presented by the server in the SSL/TLS connection has an unknown status, or a status that cannot be determined for any other reason, including when the service is unable to connect to the OCSP and CRL endpoints for the certificate.</p> <ul> <li> <p> <b>PASS</b> - Allow the connection to continue, and pass subsequent packets to the stateful engine for inspection.</p> </li> <li> <p> <b>DROP</b> - Network Firewall closes the connection and drops subsequent packets for that connection.</p> </li> <li> <p> <b>REJECT</b> - Network Firewall sends a TCP reject packet back to your client. The service closes the connection and drops subsequent packets for that connection. <code>REJECT</code> is available only for TCP traffic.</p> </li> </ul>"
        }
      },
      "documentation":"<p>Defines the actions to take on the SSL/TLS connection if the certificate presented by the server in the connection has a revoked or unknown status.</p>"
    },
    "CollectionMember_String":{"type":"string"},
    "ConfigurationSyncState":{
      "type":"string",
      "enum":[
        "PENDING",
        "IN_SYNC",
        "CAPACITY_CONSTRAINED"
      ]
    },
    "Count":{"type":"integer"},
    "CreateFirewallPolicyRequest":{
      "type":"structure",
      "required":[
        "FirewallPolicyName",
        "FirewallPolicy"
      ],
      "members":{
        "FirewallPolicyName":{
          "shape":"ResourceName",
          "documentation":"<p>The descriptive name of the firewall policy. You can't change the name of a firewall policy after you create it.</p>"
        },
        "FirewallPolicy":{
          "shape":"FirewallPolicy",
          "documentation":"<p>The rule groups and policy actions to use in the firewall policy.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>A description of the firewall policy.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The key:value pairs to associate with the resource.</p>"
        },
        "DryRun":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether you want Network Firewall to just check the validity of the request, rather than run the request. </p> <p>If set to <code>TRUE</code>, Network Firewall checks whether the request can run successfully, but doesn't actually make the requested changes. The call returns the value that the request would return if you ran it with dry run set to <code>FALSE</code>, but doesn't make additions or changes to your resources. This option allows you to make sure that you have the required permissions to run the request and that your request parameters are valid. </p> <p>If set to <code>FALSE</code>, Network Firewall makes the requested changes to your resources. </p>"
        },
        "EncryptionConfiguration":{
          "shape":"EncryptionConfiguration",
          "documentation":"<p>A complex type that contains settings for encryption of your firewall policy resources.</p>"
        }
      }
    },
    "CreateFirewallPolicyResponse":{
      "type":"structure",
      "required":[
        "UpdateToken",
        "FirewallPolicyResponse"
      ],
      "members":{
        "UpdateToken":{
          "shape":"UpdateToken",
          "documentation":"<p>A token used for optimistic locking. Network Firewall returns a token to your requests that access the firewall policy. The token marks the state of the policy resource at the time of the request. </p> <p>To make changes to the policy, you provide the token in your request. Network Firewall uses the token to ensure that the policy hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the firewall policy again to get a current copy of it with current token. Reapply your changes as needed, then try the operation again using the new token. </p>"
        },
        "FirewallPolicyResponse":{
          "shape":"FirewallPolicyResponse",
          "documentation":"<p>The high-level properties of a firewall policy. This, along with the <a>FirewallPolicy</a>, define the policy. You can retrieve all objects for a firewall policy by calling <a>DescribeFirewallPolicy</a>. </p>"
        }
      }
    },
    "CreateFirewallRequest":{
      "type":"structure",
      "required":[
        "FirewallName",
        "FirewallPolicyArn"
      ],
      "members":{
        "FirewallName":{
          "shape":"ResourceName",
          "documentation":"<p>The descriptive name of the firewall. You can't change the name of a firewall after you create it.</p>"
        },
        "FirewallPolicyArn":{
          "shape":"ResourceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the <a>FirewallPolicy</a> that you want to use for the firewall.</p>"
        },
        "VpcId":{
          "shape":"VpcId",
          "documentation":"<p>The unique identifier of the VPC where Network Firewall should create the firewall. </p> <p>You can't change this setting after you create the firewall. </p>"
        },
        "SubnetMappings":{
          "shape":"SubnetMappings",
          "documentation":"<p>The public subnets to use for your Network Firewall firewalls. Each subnet must belong to a different Availability Zone in the VPC. Network Firewall creates a firewall endpoint in each subnet. </p>"
        },
        "DeleteProtection":{
          "shape":"Boolean",
          "documentation":"<p>A flag indicating whether it is possible to delete the firewall. A setting of <code>TRUE</code> indicates that the firewall is protected against deletion. Use this setting to protect against accidentally deleting a firewall that is in use. When you create a firewall, the operation initializes this flag to <code>TRUE</code>.</p>"
        },
        "SubnetChangeProtection":{
          "shape":"Boolean",
          "documentation":"<p>A setting indicating whether the firewall is protected against changes to the subnet associations. Use this setting to protect against accidentally modifying the subnet associations for a firewall that is in use. When you create a firewall, the operation initializes this setting to <code>TRUE</code>.</p>"
        },
        "FirewallPolicyChangeProtection":{
          "shape":"Boolean",
          "documentation":"<p>A setting indicating whether the firewall is protected against a change to the firewall policy association. Use this setting to protect against accidentally modifying the firewall policy for a firewall that is in use. When you create a firewall, the operation initializes this setting to <code>TRUE</code>.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>A description of the firewall.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The key:value pairs to associate with the resource.</p>"
        },
        "EncryptionConfiguration":{
          "shape":"EncryptionConfiguration",
          "documentation":"<p>A complex type that contains settings for encryption of your firewall resources.</p>"
        },
        "EnabledAnalysisTypes":{
          "shape":"EnabledAnalysisTypes",
          "documentation":"<p>An optional setting indicating the specific traffic analysis types to enable on the firewall. </p>"
        },
        "TransitGatewayId":{
          "shape":"TransitGatewayId",
          "documentation":"<p>Required when creating a transit gateway-attached firewall. The unique identifier of the transit gateway to attach to this firewall. You can provide either a transit gateway from your account or one that has been shared with you through Resource Access Manager.</p> <important> <p>After creating the firewall, you cannot change the transit gateway association. To use a different transit gateway, you must create a new firewall.</p> </important> <p>For information about creating firewalls, see <a>CreateFirewall</a>. For specific guidance about transit gateway-attached firewalls, see <a href=\"https://docs.aws.amazon.com/network-firewall/latest/developerguide/tgw-firewall-considerations.html\">Considerations for transit gateway-attached firewalls</a> in the <i>Network Firewall Developer Guide</i>.</p>"
        },
        "AvailabilityZoneMappings":{
          "shape":"AvailabilityZoneMappings",
          "documentation":"<p>Required. The Availability Zones where you want to create firewall endpoints for a transit gateway-attached firewall. You must specify at least one Availability Zone. Consider enabling the firewall in every Availability Zone where you have workloads to maintain Availability Zone isolation.</p> <p>You can modify Availability Zones later using <a>AssociateAvailabilityZones</a> or <a>DisassociateAvailabilityZones</a>, but this may briefly disrupt traffic. The <code>AvailabilityZoneChangeProtection</code> setting controls whether you can make these modifications.</p>"
        },
        "AvailabilityZoneChangeProtection":{
          "shape":"Boolean",
          "documentation":"<p>Optional. A setting indicating whether the firewall is protected against changes to its Availability Zone configuration. When set to <code>TRUE</code>, you cannot add or remove Availability Zones without first disabling this protection using <a>UpdateAvailabilityZoneChangeProtection</a>.</p> <p>Default value: <code>FALSE</code> </p>"
        }
      }
    },
    "CreateFirewallResponse":{
      "type":"structure",
      "members":{
        "Firewall":{
          "shape":"Firewall",
          "documentation":"<p>The configuration settings for the firewall. These settings include the firewall policy and the subnets in your VPC to use for the firewall endpoints. </p>"
        },
        "FirewallStatus":{
          "shape":"FirewallStatus",
          "documentation":"<p>Detailed information about the current status of a <a>Firewall</a>. You can retrieve this for a firewall by calling <a>DescribeFirewall</a> and providing the firewall name and ARN.</p> <p>The firewall status indicates a combined status. It indicates whether all subnets are up-to-date with the latest firewall configurations, which is based on the sync states config values, and also whether all subnets have their endpoints fully enabled, based on their sync states attachment values. </p>"
        }
      }
    },
    "CreateRuleGroupRequest":{
      "type":"structure",
      "required":[
        "RuleGroupName",
        "Type",
        "Capacity"
      ],
      "members":{
        "RuleGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The descriptive name of the rule group. You can't change the name of a rule group after you create it.</p>"
        },
        "RuleGroup":{
          "shape":"RuleGroup",
          "documentation":"<p>An object that defines the rule group rules. </p> <note> <p>You must provide either this rule group setting or a <code>Rules</code> setting, but not both. </p> </note>"
        },
        "Rules":{
          "shape":"RulesString",
          "documentation":"<p>A string containing stateful rule group rules specifications in Suricata flat format, with one rule per line. Use this to import your existing Suricata compatible rule groups. </p> <note> <p>You must provide either this rules setting or a populated <code>RuleGroup</code> setting, but not both. </p> </note> <p>You can provide your rule group specification in Suricata flat format through this setting when you create or update your rule group. The call response returns a <a>RuleGroup</a> object that Network Firewall has populated from your string. </p>"
        },
        "Type":{
          "shape":"RuleGroupType",
          "documentation":"<p>Indicates whether the rule group is stateless or stateful. If the rule group is stateless, it contains stateless rules. If it is stateful, it contains stateful rules. </p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>A description of the rule group. </p>"
        },
        "Capacity":{
          "shape":"RuleCapacity",
          "documentation":"<p>The maximum operating resources that this rule group can use. Rule group capacity is fixed at creation. When you update a rule group, you are limited to this capacity. When you reference a rule group from a firewall policy, Network Firewall reserves this capacity for the rule group. </p> <p>You can retrieve the capacity that would be required for a rule group before you create the rule group by calling <a>CreateRuleGroup</a> with <code>DryRun</code> set to <code>TRUE</code>. </p> <note> <p>You can't change or exceed this capacity when you update the rule group, so leave room for your rule group to grow. </p> </note> <p> <b>Capacity for a stateless rule group</b> </p> <p>For a stateless rule group, the capacity required is the sum of the capacity requirements of the individual rules that you expect to have in the rule group. </p> <p>To calculate the capacity requirement of a single rule, multiply the capacity requirement values of each of the rule's match settings:</p> <ul> <li> <p>A match setting with no criteria specified has a value of 1. </p> </li> <li> <p>A match setting with <code>Any</code> specified has a value of 1. </p> </li> <li> <p>All other match settings have a value equal to the number of elements provided in the setting. For example, a protocol setting [\"UDP\"] and a source setting [\"10.0.0.0/24\"] each have a value of 1. A protocol setting [\"UDP\",\"TCP\"] has a value of 2. A source setting [\"10.0.0.0/24\",\"10.0.0.1/24\",\"10.0.0.2/24\"] has a value of 3. </p> </li> </ul> <p>A rule with no criteria specified in any of its match settings has a capacity requirement of 1. A rule with protocol setting [\"UDP\",\"TCP\"], source setting [\"10.0.0.0/24\",\"10.0.0.1/24\",\"10.0.0.2/24\"], and a single specification or no specification for each of the other match settings has a capacity requirement of 6. </p> <p> <b>Capacity for a stateful rule group</b> </p> <p>For a stateful rule group, the minimum capacity required is the number of individual rules that you expect to have in the rule group. </p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The key:value pairs to associate with the resource.</p>"
        },
        "DryRun":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether you want Network Firewall to just check the validity of the request, rather than run the request. </p> <p>If set to <code>TRUE</code>, Network Firewall checks whether the request can run successfully, but doesn't actually make the requested changes. The call returns the value that the request would return if you ran it with dry run set to <code>FALSE</code>, but doesn't make additions or changes to your resources. This option allows you to make sure that you have the required permissions to run the request and that your request parameters are valid. </p> <p>If set to <code>FALSE</code>, Network Firewall makes the requested changes to your resources. </p>"
        },
        "EncryptionConfiguration":{
          "shape":"EncryptionConfiguration",
          "documentation":"<p>A complex type that contains settings for encryption of your rule group resources.</p>"
        },
        "SourceMetadata":{
          "shape":"SourceMetadata",
          "documentation":"<p>A complex type that contains metadata about the rule group that your own rule group is copied from. You can use the metadata to keep track of updates made to the originating rule group.</p>"
        },
        "AnalyzeRuleGroup":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether you want Network Firewall to analyze the stateless rules in the rule group for rule behavior such as asymmetric routing. If set to <code>TRUE</code>, Network Firewall runs the analysis and then creates the rule group for you. To run the stateless rule group analyzer without creating the rule group, set <code>DryRun</code> to <code>TRUE</code>.</p>"
        },
        "SummaryConfiguration":{
          "shape":"SummaryConfiguration",
          "documentation":"<p>An object that contains a <code>RuleOptions</code> array of strings. You use <code>RuleOptions</code> to determine which of the following <a>RuleSummary</a> values are returned in response to <code>DescribeRuleGroupSummary</code>.</p> <ul> <li> <p> <code>Metadata</code> - returns</p> </li> <li> <p> <code>Msg</code> </p> </li> <li> <p> <code>SID</code> </p> </li> </ul>"
        }
      }
    },
    "CreateRuleGroupResponse":{
      "type":"structure",
      "required":[
        "UpdateToken",
        "RuleGroupResponse"
      ],
      "members":{
        "UpdateToken":{
          "shape":"UpdateToken",
          "documentation":"<p>A token used for optimistic locking. Network Firewall returns a token to your requests that access the rule group. The token marks the state of the rule group resource at the time of the request. </p> <p>To make changes to the rule group, you provide the token in your request. Network Firewall uses the token to ensure that the rule group hasn't changed since you last retrieved it. If it has changed, the operation fails with an <code>InvalidTokenException</code>. If this happens, retrieve the rule group again to get a current copy of it with a current token. Reapply your changes as needed, then try the operation again using the new token. </p>"
        },
        "RuleGroupResponse":{
          "shape":"RuleGroupResponse",
          "documentation":"<p>The high-level properties of a rule group. This, along with the <a>RuleGroup</a>, define the rule group. You can retrieve all objects for a rule group by calling <a>DescribeRuleGroup</a>. </p>"
        }
      }
    },
    "CreateTLSInspectionConfigurationRequest":{
      "type":"structure",
      "required":[
        "TLSInspectionConfigurationName",
        "TLSInspectionConfiguration"
      ],
      "members":{
        "TLSInspectionConfigurationName":{
          "shape":"ResourceName",
          "documentation":"<p>The descriptive name of the TLS inspection configuration. You can't change the name of a TLS inspection configuration after you create it.</p>"
        },
        "TLSInspectionConfiguration":{
          "shape":"TLSInspectionConfiguration",
[...]
