{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2023-04-20",
    "auth":[
      "aws.auth#sigv4",
      "smithy.api#httpBearerAuth"
    ],
    "endpointPrefix":"bedrock",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"Amazon Bedrock",
    "serviceId":"Bedrock",
    "signatureVersion":"v4",
    "signingName":"bedrock",
    "uid":"bedrock-2023-04-20"
  },
  "operations":{
    "BatchDeleteEvaluationJob":{
      "name":"BatchDeleteEvaluationJob",
      "http":{
        "method":"POST",
        "requestUri":"/evaluation-jobs/batch-delete",
        "responseCode":202
      },
      "input":{"shape":"BatchDeleteEvaluationJobRequest"},
      "output":{"shape":"BatchDeleteEvaluationJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a batch of evaluation jobs. An evaluation job can only be deleted if it has following status <code>FAILED</code>, <code>COMPLETED</code>, and <code>STOPPED</code>. You can request up to 25 model evaluation jobs be deleted in a single request.</p>"
    },
    "CancelAutomatedReasoningPolicyBuildWorkflow":{
      "name":"CancelAutomatedReasoningPolicyBuildWorkflow",
      "http":{
        "method":"POST",
        "requestUri":"/automated-reasoning-policies/{policyArn}/build-workflows/{buildWorkflowId}/cancel",
        "responseCode":202
      },
      "input":{"shape":"CancelAutomatedReasoningPolicyBuildWorkflowRequest"},
      "output":{"shape":"CancelAutomatedReasoningPolicyBuildWorkflowResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Cancels a running Automated Reasoning policy build workflow. This stops the policy generation process and prevents further processing of the source documents.</p>",
      "idempotent":true
    },
    "CreateAutomatedReasoningPolicy":{
      "name":"CreateAutomatedReasoningPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/automated-reasoning-policies",
        "responseCode":200
      },
      "input":{"shape":"CreateAutomatedReasoningPolicyRequest"},
      "output":{"shape":"CreateAutomatedReasoningPolicyResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"TooManyTagsException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates an Automated Reasoning policy for Amazon Bedrock Guardrails. Automated Reasoning policies use mathematical techniques to detect hallucinations, suggest corrections, and highlight unstated assumptions in the responses of your GenAI application.</p> <p>To create a policy, you upload a source document that describes the rules that you're encoding. Automated Reasoning extracts important concepts from the source document that will become variables in the policy and infers policy rules.</p>",
      "idempotent":true
    },
    "CreateAutomatedReasoningPolicyTestCase":{
      "name":"CreateAutomatedReasoningPolicyTestCase",
      "http":{
        "method":"POST",
        "requestUri":"/automated-reasoning-policies/{policyArn}/test-cases",
        "responseCode":200
      },
      "input":{"shape":"CreateAutomatedReasoningPolicyTestCaseRequest"},
      "output":{"shape":"CreateAutomatedReasoningPolicyTestCaseResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a test for an Automated Reasoning policy. Tests validate that your policy works as expected by providing sample inputs and expected outcomes. Use tests to verify policy behavior before deploying to production.</p>",
      "idempotent":true
    },
    "CreateAutomatedReasoningPolicyVersion":{
      "name":"CreateAutomatedReasoningPolicyVersion",
      "http":{
        "method":"POST",
        "requestUri":"/automated-reasoning-policies/{policyArn}/versions",
        "responseCode":200
      },
      "input":{"shape":"CreateAutomatedReasoningPolicyVersionRequest"},
      "output":{"shape":"CreateAutomatedReasoningPolicyVersionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"TooManyTagsException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a new version of an existing Automated Reasoning policy. This allows you to iterate on your policy rules while maintaining previous versions for rollback or comparison purposes.</p>",
      "idempotent":true
    },
    "CreateCustomModel":{
      "name":"CreateCustomModel",
      "http":{
        "method":"POST",
        "requestUri":"/custom-models/create-custom-model",
        "responseCode":202
      },
      "input":{"shape":"CreateCustomModelRequest"},
      "output":{"shape":"CreateCustomModelResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"TooManyTagsException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a new custom model in Amazon Bedrock. After the model is active, you can use it for inference.</p> <p>To use the model for inference, you must purchase Provisioned Throughput for it. You can't use On-demand inference with these custom models. For more information about Provisioned Throughput, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prov-throughput.html\">Provisioned Throughput</a>.</p> <p>The model appears in <code>ListCustomModels</code> with a <code>customizationType</code> of <code>imported</code>. To track the status of the new model, you use the <code>GetCustomModel</code> API operation. The model can be in the following states:</p> <ul> <li> <p> <code>Creating</code> - Initial state during validation and registration</p> </li> <li> <p> <code>Active</code> - Model is ready for use in inference</p> </li> <li> <p> <code>Failed</code> - Creation process encountered an error</p> </li> </ul> <p> <b>Related APIs</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_GetCustomModel.html\">GetCustomModel</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_ListCustomModels.html\">ListCustomModels</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_DeleteCustomModel.html\">DeleteCustomModel</a> </p> </li> </ul>",
      "idempotent":true
    },
    "CreateCustomModelDeployment":{
      "name":"CreateCustomModelDeployment",
      "http":{
        "method":"POST",
        "requestUri":"/model-customization/custom-model-deployments",
        "responseCode":202
      },
      "input":{"shape":"CreateCustomModelDeploymentRequest"},
      "output":{"shape":"CreateCustomModelDeploymentResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"TooManyTagsException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deploys a custom model for on-demand inference in Amazon Bedrock. After you deploy your custom model, you use the deployment's Amazon Resource Name (ARN) as the <code>modelId</code> parameter when you submit prompts and generate responses with model inference.</p> <p> For more information about setting up on-demand inference for custom models, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-customization-use.html\">Set up inference for a custom model</a>. </p> <p>The following actions are related to the <code>CreateCustomModelDeployment</code> operation:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_GetCustomModelDeployment.html\">GetCustomModelDeployment</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_ListCustomModelDeployments.html\">ListCustomModelDeployments</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_DeleteCustomModelDeployment.html\">DeleteCustomModelDeployment</a> </p> </li> </ul>",
      "idempotent":true
    },
    "CreateEvaluationJob":{
      "name":"CreateEvaluationJob",
      "http":{
        "method":"POST",
        "requestUri":"/evaluation-jobs",
        "responseCode":202
      },
      "input":{"shape":"CreateEvaluationJobRequest"},
      "output":{"shape":"CreateEvaluationJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates an evaluation job.</p>",
      "idempotent":true
    },
    "CreateFoundationModelAgreement":{
      "name":"CreateFoundationModelAgreement",
      "http":{
        "method":"POST",
        "requestUri":"/create-foundation-model-agreement",
        "responseCode":202
      },
      "input":{"shape":"CreateFoundationModelAgreementRequest"},
      "output":{"shape":"CreateFoundationModelAgreementResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Request a model access agreement for the specified model.</p>"
    },
    "CreateGuardrail":{
      "name":"CreateGuardrail",
      "http":{
        "method":"POST",
        "requestUri":"/guardrails",
        "responseCode":202
      },
      "input":{"shape":"CreateGuardrailRequest"},
      "output":{"shape":"CreateGuardrailResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"TooManyTagsException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a guardrail to block topics and to implement safeguards for your generative AI applications.</p> <p>You can configure the following policies in a guardrail to avoid undesirable and harmful content, filter out denied topics and words, and remove sensitive information for privacy protection.</p> <ul> <li> <p> <b>Content filters</b> - Adjust filter strengths to block input prompts or model responses containing harmful content.</p> </li> <li> <p> <b>Denied topics</b> - Define a set of topics that are undesirable in the context of your application. These topics will be blocked if detected in user queries or model responses.</p> </li> <li> <p> <b>Word filters</b> - Configure filters to block undesirable words, phrases, and profanity. Such words can include offensive terms, competitor names etc.</p> </li> <li> <p> <b>Sensitive information filters</b> - Block or mask sensitive information such as personally identifiable information (PII) or custom regex in user inputs and model responses.</p> </li> </ul> <p>In addition to the above policies, you can also configure the messages to be returned to the user if a user input or model response is in violation of the policies defined in the guardrail.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/guardrails.html\">Amazon Bedrock Guardrails</a> in the <i>Amazon Bedrock User Guide</i>.</p>"
    },
    "CreateGuardrailVersion":{
      "name":"CreateGuardrailVersion",
      "http":{
        "method":"POST",
        "requestUri":"/guardrails/{guardrailIdentifier}",
        "responseCode":202
      },
      "input":{"shape":"CreateGuardrailVersionRequest"},
      "output":{"shape":"CreateGuardrailVersionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a version of the guardrail. Use this API to create a snapshot of the guardrail when you are satisfied with a configuration, or to compare the configuration with another version.</p>"
    },
    "CreateInferenceProfile":{
      "name":"CreateInferenceProfile",
      "http":{
        "method":"POST",
        "requestUri":"/inference-profiles",
        "responseCode":201
      },
      "input":{"shape":"CreateInferenceProfileRequest"},
      "output":{"shape":"CreateInferenceProfileResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"TooManyTagsException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates an application inference profile to track metrics and costs when invoking a model. To create an application inference profile for a foundation model in one region, specify the ARN of the model in that region. To create an application inference profile for a foundation model across multiple regions, specify the ARN of the system-defined inference profile that contains the regions that you want to route requests to. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/cross-region-inference.html\">Increase throughput and resilience with cross-region inference in Amazon Bedrock</a>. in the Amazon Bedrock User Guide.</p>",
      "idempotent":true
    },
    "CreateMarketplaceModelEndpoint":{
      "name":"CreateMarketplaceModelEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/marketplace-model/endpoints",
        "responseCode":200
      },
      "input":{"shape":"CreateMarketplaceModelEndpointRequest"},
      "output":{"shape":"CreateMarketplaceModelEndpointResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates an endpoint for a model from Amazon Bedrock Marketplace. The endpoint is hosted by Amazon SageMaker.</p>"
    },
    "CreateModelCopyJob":{
      "name":"CreateModelCopyJob",
      "http":{
        "method":"POST",
        "requestUri":"/model-copy-jobs",
        "responseCode":201
      },
      "input":{"shape":"CreateModelCopyJobRequest"},
      "output":{"shape":"CreateModelCopyJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"TooManyTagsException"}
      ],
      "documentation":"<p>Copies a model to another region so that it can be used there. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/copy-model.html\">Copy models to be used in other regions</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>",
      "idempotent":true
    },
    "CreateModelCustomizationJob":{
      "name":"CreateModelCustomizationJob",
      "http":{
        "method":"POST",
        "requestUri":"/model-customization-jobs",
        "responseCode":201
      },
      "input":{"shape":"CreateModelCustomizationJobRequest"},
      "output":{"shape":"CreateModelCustomizationJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"TooManyTagsException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a fine-tuning job to customize a base model.</p> <p>You specify the base foundation model and the location of the training data. After the model-customization job completes successfully, your custom model resource will be ready to use. Amazon Bedrock returns validation loss metrics and output generations after the job completes. </p> <p>For information on the format of training and validation data, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-customization-prepare.html\">Prepare the datasets</a>.</p> <p> Model-customization jobs are asynchronous and the completion time depends on the base model and the training/validation data size. To monitor a job, use the <code>GetModelCustomizationJob</code> operation to retrieve the job status.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/custom-models.html\">Custom models</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>",
      "idempotent":true
    },
    "CreateModelImportJob":{
      "name":"CreateModelImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/model-import-jobs",
        "responseCode":201
      },
      "input":{"shape":"CreateModelImportJobRequest"},
      "output":{"shape":"CreateModelImportJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"TooManyTagsException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a model import job to import model that you have customized in other environments, such as Amazon SageMaker. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-customization-import-model.html\">Import a customized model</a> </p>",
      "idempotent":true
    },
    "CreateModelInvocationJob":{
      "name":"CreateModelInvocationJob",
      "http":{
        "method":"POST",
        "requestUri":"/model-invocation-job",
        "responseCode":200
      },
      "input":{"shape":"CreateModelInvocationJobRequest"},
      "output":{"shape":"CreateModelInvocationJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a batch inference job to invoke a model on multiple prompts. Format your data according to <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/batch-inference-data\">Format your inference data</a> and upload it to an Amazon S3 bucket. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/batch-inference.html\">Process multiple prompts with batch inference</a>.</p> <p>The response returns a <code>jobArn</code> that you can use to stop or get details about the job.</p>",
      "idempotent":true
    },
    "CreatePromptRouter":{
      "name":"CreatePromptRouter",
      "http":{
        "method":"POST",
        "requestUri":"/prompt-routers",
        "responseCode":200
      },
      "input":{"shape":"CreatePromptRouterRequest"},
      "output":{"shape":"CreatePromptRouterResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"TooManyTagsException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a prompt router that manages the routing of requests between multiple foundation models based on the routing criteria.</p>",
      "idempotent":true
    },
    "CreateProvisionedModelThroughput":{
      "name":"CreateProvisionedModelThroughput",
      "http":{
        "method":"POST",
        "requestUri":"/provisioned-model-throughput",
        "responseCode":201
      },
      "input":{"shape":"CreateProvisionedModelThroughputRequest"},
      "output":{"shape":"CreateProvisionedModelThroughputResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"TooManyTagsException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates dedicated throughput for a base or custom model with the model units and for the duration that you specify. For pricing details, see <a href=\"http://aws.amazon.com/bedrock/pricing/\">Amazon Bedrock Pricing</a>. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prov-throughput.html\">Provisioned Throughput</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>",
      "idempotent":true
    },
    "DeleteAutomatedReasoningPolicy":{
      "name":"DeleteAutomatedReasoningPolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/automated-reasoning-policies/{policyArn}",
        "responseCode":202
      },
      "input":{"shape":"DeleteAutomatedReasoningPolicyRequest"},
      "output":{"shape":"DeleteAutomatedReasoningPolicyResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes an Automated Reasoning policy or policy version. This operation is idempotent. If you delete a policy more than once, each call succeeds. Deleting a policy removes it permanently and cannot be undone.</p>",
      "idempotent":true
    },
    "DeleteAutomatedReasoningPolicyBuildWorkflow":{
      "name":"DeleteAutomatedReasoningPolicyBuildWorkflow",
      "http":{
        "method":"DELETE",
        "requestUri":"/automated-reasoning-policies/{policyArn}/build-workflows/{buildWorkflowId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteAutomatedReasoningPolicyBuildWorkflowRequest"},
      "output":{"shape":"DeleteAutomatedReasoningPolicyBuildWorkflowResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes an Automated Reasoning policy build workflow and its associated artifacts. This permanently removes the workflow history and any generated assets.</p>",
      "idempotent":true
    },
    "DeleteAutomatedReasoningPolicyTestCase":{
      "name":"DeleteAutomatedReasoningPolicyTestCase",
      "http":{
        "method":"DELETE",
        "requestUri":"/automated-reasoning-policies/{policyArn}/test-cases/{testCaseId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteAutomatedReasoningPolicyTestCaseRequest"},
      "output":{"shape":"DeleteAutomatedReasoningPolicyTestCaseResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes an Automated Reasoning policy test. This operation is idempotent; if you delete a test more than once, each call succeeds.</p>",
      "idempotent":true
    },
    "DeleteCustomModel":{
      "name":"DeleteCustomModel",
      "http":{
        "method":"DELETE",
        "requestUri":"/custom-models/{modelIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"DeleteCustomModelRequest"},
      "output":{"shape":"DeleteCustomModelResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a custom model that you created earlier. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/custom-models.html\">Custom models</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>",
      "idempotent":true
    },
    "DeleteCustomModelDeployment":{
      "name":"DeleteCustomModelDeployment",
      "http":{
        "method":"DELETE",
        "requestUri":"/model-customization/custom-model-deployments/{customModelDeploymentIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"DeleteCustomModelDeploymentRequest"},
      "output":{"shape":"DeleteCustomModelDeploymentResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a custom model deployment. This operation stops the deployment and removes it from your account. After deletion, the deployment ARN can no longer be used for inference requests.</p> <p>The following actions are related to the <code>DeleteCustomModelDeployment</code> operation:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_CreateCustomModelDeployment.html\">CreateCustomModelDeployment</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_GetCustomModelDeployment.html\">GetCustomModelDeployment</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_ListCustomModelDeployments.html\">ListCustomModelDeployments</a> </p> </li> </ul>",
      "idempotent":true
    },
    "DeleteFoundationModelAgreement":{
      "name":"DeleteFoundationModelAgreement",
      "http":{
        "method":"POST",
        "requestUri":"/delete-foundation-model-agreement",
        "responseCode":202
      },
      "input":{"shape":"DeleteFoundationModelAgreementRequest"},
      "output":{"shape":"DeleteFoundationModelAgreementResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Delete the model access agreement for the specified model.</p>"
    },
    "DeleteGuardrail":{
      "name":"DeleteGuardrail",
      "http":{
        "method":"DELETE",
        "requestUri":"/guardrails/{guardrailIdentifier}",
        "responseCode":202
      },
      "input":{"shape":"DeleteGuardrailRequest"},
      "output":{"shape":"DeleteGuardrailResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a guardrail.</p> <ul> <li> <p>To delete a guardrail, only specify the ARN of the guardrail in the <code>guardrailIdentifier</code> field. If you delete a guardrail, all of its versions will be deleted.</p> </li> <li> <p>To delete a version of a guardrail, specify the ARN of the guardrail in the <code>guardrailIdentifier</code> field and the version in the <code>guardrailVersion</code> field.</p> </li> </ul>",
      "idempotent":true
    },
    "DeleteImportedModel":{
      "name":"DeleteImportedModel",
      "http":{
        "method":"DELETE",
        "requestUri":"/imported-models/{modelIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"DeleteImportedModelRequest"},
      "output":{"shape":"DeleteImportedModelResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a custom model that you imported earlier. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-customization-import-model.html\">Import a customized model</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>. </p>",
      "idempotent":true
    },
    "DeleteInferenceProfile":{
      "name":"DeleteInferenceProfile",
      "http":{
        "method":"DELETE",
        "requestUri":"/inference-profiles/{inferenceProfileIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"DeleteInferenceProfileRequest"},
      "output":{"shape":"DeleteInferenceProfileResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes an application inference profile. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/cross-region-inference.html\">Increase throughput and resilience with cross-region inference in Amazon Bedrock</a>. in the Amazon Bedrock User Guide.</p>",
      "idempotent":true
    },
    "DeleteMarketplaceModelEndpoint":{
      "name":"DeleteMarketplaceModelEndpoint",
      "http":{
        "method":"DELETE",
        "requestUri":"/marketplace-model/endpoints/{endpointArn}",
        "responseCode":200
      },
      "input":{"shape":"DeleteMarketplaceModelEndpointRequest"},
      "output":{"shape":"DeleteMarketplaceModelEndpointResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes an endpoint for a model from Amazon Bedrock Marketplace.</p>",
      "idempotent":true
    },
    "DeleteModelInvocationLoggingConfiguration":{
      "name":"DeleteModelInvocationLoggingConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/logging/modelinvocations",
        "responseCode":200
      },
      "input":{"shape":"DeleteModelInvocationLoggingConfigurationRequest"},
      "output":{"shape":"DeleteModelInvocationLoggingConfigurationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Delete the invocation logging. </p>",
      "idempotent":true
    },
    "DeletePromptRouter":{
      "name":"DeletePromptRouter",
      "http":{
        "method":"DELETE",
        "requestUri":"/prompt-routers/{promptRouterArn}",
        "responseCode":200
      },
      "input":{"shape":"DeletePromptRouterRequest"},
      "output":{"shape":"DeletePromptRouterResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a specified prompt router. This action cannot be undone.</p>",
      "idempotent":true
    },
    "DeleteProvisionedModelThroughput":{
      "name":"DeleteProvisionedModelThroughput",
      "http":{
        "method":"DELETE",
        "requestUri":"/provisioned-model-throughput/{provisionedModelId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteProvisionedModelThroughputRequest"},
      "output":{"shape":"DeleteProvisionedModelThroughputResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a Provisioned Throughput. You can't delete a Provisioned Throughput before the commitment term is over. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prov-throughput.html\">Provisioned Throughput</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>",
      "idempotent":true
    },
    "DeregisterMarketplaceModelEndpoint":{
      "name":"DeregisterMarketplaceModelEndpoint",
      "http":{
        "method":"DELETE",
        "requestUri":"/marketplace-model/endpoints/{endpointArn}/registration",
        "responseCode":200
      },
      "input":{"shape":"DeregisterMarketplaceModelEndpointRequest"},
      "output":{"shape":"DeregisterMarketplaceModelEndpointResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deregisters an endpoint for a model from Amazon Bedrock Marketplace. This operation removes the endpoint's association with Amazon Bedrock but does not delete the underlying Amazon SageMaker endpoint.</p>"
    },
    "ExportAutomatedReasoningPolicyVersion":{
      "name":"ExportAutomatedReasoningPolicyVersion",
      "http":{
        "method":"GET",
        "requestUri":"/automated-reasoning-policies/{policyArn}/export",
        "responseCode":200
      },
      "input":{"shape":"ExportAutomatedReasoningPolicyVersionRequest"},
      "output":{"shape":"ExportAutomatedReasoningPolicyVersionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Exports the policy definition for an Automated Reasoning policy version. Returns the complete policy definition including rules, variables, and custom variable types in a structured format.</p>"
    },
    "GetAutomatedReasoningPolicy":{
      "name":"GetAutomatedReasoningPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/automated-reasoning-policies/{policyArn}",
        "responseCode":200
      },
      "input":{"shape":"GetAutomatedReasoningPolicyRequest"},
      "output":{"shape":"GetAutomatedReasoningPolicyResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves details about an Automated Reasoning policy or policy version. Returns information including the policy definition, metadata, and timestamps.</p>"
    },
    "GetAutomatedReasoningPolicyAnnotations":{
      "name":"GetAutomatedReasoningPolicyAnnotations",
      "http":{
        "method":"GET",
        "requestUri":"/automated-reasoning-policies/{policyArn}/build-workflows/{buildWorkflowId}/annotations",
        "responseCode":200
      },
      "input":{"shape":"GetAutomatedReasoningPolicyAnnotationsRequest"},
      "output":{"shape":"GetAutomatedReasoningPolicyAnnotationsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the current annotations for an Automated Reasoning policy build workflow. Annotations contain corrections to the rules, variables and types to be applied to the policy.</p>"
    },
    "GetAutomatedReasoningPolicyBuildWorkflow":{
      "name":"GetAutomatedReasoningPolicyBuildWorkflow",
      "http":{
        "method":"GET",
        "requestUri":"/automated-reasoning-policies/{policyArn}/build-workflows/{buildWorkflowId}",
        "responseCode":200
      },
      "input":{"shape":"GetAutomatedReasoningPolicyBuildWorkflowRequest"},
      "output":{"shape":"GetAutomatedReasoningPolicyBuildWorkflowResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves detailed information about an Automated Reasoning policy build workflow, including its status, configuration, and metadata.</p>"
    },
    "GetAutomatedReasoningPolicyBuildWorkflowResultAssets":{
      "name":"GetAutomatedReasoningPolicyBuildWorkflowResultAssets",
      "http":{
        "method":"GET",
        "requestUri":"/automated-reasoning-policies/{policyArn}/build-workflows/{buildWorkflowId}/result-assets",
        "responseCode":200
      },
      "input":{"shape":"GetAutomatedReasoningPolicyBuildWorkflowResultAssetsRequest"},
      "output":{"shape":"GetAutomatedReasoningPolicyBuildWorkflowResultAssetsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the resulting assets from a completed Automated Reasoning policy build workflow, including build logs, quality reports, and generated policy artifacts.</p>"
    },
    "GetAutomatedReasoningPolicyNextScenario":{
      "name":"GetAutomatedReasoningPolicyNextScenario",
      "http":{
        "method":"GET",
        "requestUri":"/automated-reasoning-policies/{policyArn}/build-workflows/{buildWorkflowId}/scenarios",
        "responseCode":200
      },
      "input":{"shape":"GetAutomatedReasoningPolicyNextScenarioRequest"},
      "output":{"shape":"GetAutomatedReasoningPolicyNextScenarioResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the next test scenario for validating an Automated Reasoning policy. This is used during the interactive policy refinement process to test policy behavior.</p>"
    },
    "GetAutomatedReasoningPolicyTestCase":{
      "name":"GetAutomatedReasoningPolicyTestCase",
      "http":{
        "method":"GET",
        "requestUri":"/automated-reasoning-policies/{policyArn}/test-cases/{testCaseId}",
        "responseCode":200
      },
      "input":{"shape":"GetAutomatedReasoningPolicyTestCaseRequest"},
      "output":{"shape":"GetAutomatedReasoningPolicyTestCaseResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves details about a specific Automated Reasoning policy test.</p>"
    },
    "GetAutomatedReasoningPolicyTestResult":{
      "name":"GetAutomatedReasoningPolicyTestResult",
      "http":{
        "method":"GET",
        "requestUri":"/automated-reasoning-policies/{policyArn}/build-workflows/{buildWorkflowId}/test-cases/{testCaseId}/test-results",
        "responseCode":200
      },
      "input":{"shape":"GetAutomatedReasoningPolicyTestResultRequest"},
      "output":{"shape":"GetAutomatedReasoningPolicyTestResultResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the test result for a specific Automated Reasoning policy test. Returns detailed validation findings and execution status.</p>"
    },
    "GetCustomModel":{
      "name":"GetCustomModel",
      "http":{
        "method":"GET",
        "requestUri":"/custom-models/{modelIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetCustomModelRequest"},
      "output":{"shape":"GetCustomModelResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get the properties associated with a Amazon Bedrock custom model that you have created. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/custom-models.html\">Custom models</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>"
    },
    "GetCustomModelDeployment":{
      "name":"GetCustomModelDeployment",
      "http":{
        "method":"GET",
        "requestUri":"/model-customization/custom-model-deployments/{customModelDeploymentIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetCustomModelDeploymentRequest"},
      "output":{"shape":"GetCustomModelDeploymentResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about a custom model deployment, including its status, configuration, and metadata. Use this operation to monitor the deployment status and retrieve details needed for inference requests.</p> <p>The following actions are related to the <code>GetCustomModelDeployment</code> operation:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_CreateCustomModelDeployment.html\">CreateCustomModelDeployment</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_ListCustomModelDeployments.html\">ListCustomModelDeployments</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_DeleteCustomModelDeployment.html\">DeleteCustomModelDeployment</a> </p> </li> </ul>"
    },
    "GetEvaluationJob":{
      "name":"GetEvaluationJob",
      "http":{
        "method":"GET",
        "requestUri":"/evaluation-jobs/{jobIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetEvaluationJobRequest"},
      "output":{"shape":"GetEvaluationJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets information about an evaluation job, such as the status of the job.</p>"
    },
    "GetFoundationModel":{
      "name":"GetFoundationModel",
      "http":{
        "method":"GET",
        "requestUri":"/foundation-models/{modelIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetFoundationModelRequest"},
      "output":{"shape":"GetFoundationModelResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get details about a Amazon Bedrock foundation model.</p>"
    },
    "GetFoundationModelAvailability":{
      "name":"GetFoundationModelAvailability",
      "http":{
        "method":"GET",
        "requestUri":"/foundation-model-availability/{modelId}",
        "responseCode":200
      },
      "input":{"shape":"GetFoundationModelAvailabilityRequest"},
      "output":{"shape":"GetFoundationModelAvailabilityResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get information about the Foundation model availability.</p>"
    },
    "GetGuardrail":{
      "name":"GetGuardrail",
      "http":{
        "method":"GET",
        "requestUri":"/guardrails/{guardrailIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetGuardrailRequest"},
      "output":{"shape":"GetGuardrailResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets details about a guardrail. If you don't specify a version, the response returns details for the <code>DRAFT</code> version.</p>"
    },
    "GetImportedModel":{
      "name":"GetImportedModel",
      "http":{
        "method":"GET",
        "requestUri":"/imported-models/{modelIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetImportedModelRequest"},
      "output":{"shape":"GetImportedModelResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets properties associated with a customized model you imported. </p>"
    },
    "GetInferenceProfile":{
      "name":"GetInferenceProfile",
      "http":{
        "method":"GET",
        "requestUri":"/inference-profiles/{inferenceProfileIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetInferenceProfileRequest"},
      "output":{"shape":"GetInferenceProfileResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets information about an inference profile. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/cross-region-inference.html\">Increase throughput and resilience with cross-region inference in Amazon Bedrock</a>. in the Amazon Bedrock User Guide.</p>"
    },
    "GetMarketplaceModelEndpoint":{
      "name":"GetMarketplaceModelEndpoint",
      "http":{
        "method":"GET",
        "requestUri":"/marketplace-model/endpoints/{endpointArn}",
        "responseCode":200
      },
      "input":{"shape":"GetMarketplaceModelEndpointRequest"},
      "output":{"shape":"GetMarketplaceModelEndpointResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves details about a specific endpoint for a model from Amazon Bedrock Marketplace.</p>"
    },
    "GetModelCopyJob":{
      "name":"GetModelCopyJob",
      "http":{
        "method":"GET",
        "requestUri":"/model-copy-jobs/{jobArn}",
        "responseCode":200
      },
      "input":{"shape":"GetModelCopyJobRequest"},
      "output":{"shape":"GetModelCopyJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about a model copy job. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/copy-model.html\">Copy models to be used in other regions</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>"
    },
    "GetModelCustomizationJob":{
      "name":"GetModelCustomizationJob",
      "http":{
        "method":"GET",
        "requestUri":"/model-customization-jobs/{jobIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetModelCustomizationJobRequest"},
      "output":{"shape":"GetModelCustomizationJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the properties associated with a model-customization job, including the status of the job. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/custom-models.html\">Custom models</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>"
    },
    "GetModelImportJob":{
      "name":"GetModelImportJob",
      "http":{
        "method":"GET",
        "requestUri":"/model-import-jobs/{jobIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetModelImportJobRequest"},
      "output":{"shape":"GetModelImportJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the properties associated with import model job, including the status of the job. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-customization-import-model.html\">Import a customized model</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>"
    },
    "GetModelInvocationJob":{
      "name":"GetModelInvocationJob",
      "http":{
        "method":"GET",
        "requestUri":"/model-invocation-job/{jobIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetModelInvocationJobRequest"},
      "output":{"shape":"GetModelInvocationJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets details about a batch inference job. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/batch-inference-monitor\">Monitor batch inference jobs</a> </p>"
    },
    "GetModelInvocationLoggingConfiguration":{
      "name":"GetModelInvocationLoggingConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/logging/modelinvocations",
        "responseCode":200
      },
      "input":{"shape":"GetModelInvocationLoggingConfigurationRequest"},
      "output":{"shape":"GetModelInvocationLoggingConfigurationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get the current configuration values for model invocation logging.</p>"
    },
    "GetPromptRouter":{
      "name":"GetPromptRouter",
      "http":{
        "method":"GET",
        "requestUri":"/prompt-routers/{promptRouterArn}",
        "responseCode":200
      },
      "input":{"shape":"GetPromptRouterRequest"},
      "output":{"shape":"GetPromptRouterResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves details about a prompt router.</p>"
    },
    "GetProvisionedModelThroughput":{
      "name":"GetProvisionedModelThroughput",
      "http":{
        "method":"GET",
        "requestUri":"/provisioned-model-throughput/{provisionedModelId}",
        "responseCode":200
      },
      "input":{"shape":"GetProvisionedModelThroughputRequest"},
      "output":{"shape":"GetProvisionedModelThroughputResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns details for a Provisioned Throughput. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prov-throughput.html\">Provisioned Throughput</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>"
    },
    "GetUseCaseForModelAccess":{
      "name":"GetUseCaseForModelAccess",
      "http":{
        "method":"GET",
        "requestUri":"/use-case-for-model-access",
        "responseCode":200
      },
      "input":{"shape":"GetUseCaseForModelAccessRequest"},
      "output":{"shape":"GetUseCaseForModelAccessResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get usecase for model access.</p>"
    },
    "ListAutomatedReasoningPolicies":{
      "name":"ListAutomatedReasoningPolicies",
      "http":{
        "method":"GET",
        "requestUri":"/automated-reasoning-policies",
        "responseCode":200
      },
      "input":{"shape":"ListAutomatedReasoningPoliciesRequest"},
      "output":{"shape":"ListAutomatedReasoningPoliciesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists all Automated Reasoning policies in your account, with optional filtering by policy ARN. This helps you manage and discover existing policies.</p>"
    },
    "ListAutomatedReasoningPolicyBuildWorkflows":{
      "name":"ListAutomatedReasoningPolicyBuildWorkflows",
      "http":{
        "method":"GET",
        "requestUri":"/automated-reasoning-policies/{policyArn}/build-workflows",
        "responseCode":200
      },
      "input":{"shape":"ListAutomatedReasoningPolicyBuildWorkflowsRequest"},
      "output":{"shape":"ListAutomatedReasoningPolicyBuildWorkflowsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists all build workflows for an Automated Reasoning policy, showing the history of policy creation and modification attempts.</p>"
    },
    "ListAutomatedReasoningPolicyTestCases":{
      "name":"ListAutomatedReasoningPolicyTestCases",
      "http":{
        "method":"GET",
        "requestUri":"/automated-reasoning-policies/{policyArn}/test-cases",
        "responseCode":200
      },
      "input":{"shape":"ListAutomatedReasoningPolicyTestCasesRequest"},
      "output":{"shape":"ListAutomatedReasoningPolicyTestCasesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists tests for an Automated Reasoning policy. We recommend using pagination to ensure that the operation returns quickly and successfully.</p>"
    },
    "ListAutomatedReasoningPolicyTestResults":{
      "name":"ListAutomatedReasoningPolicyTestResults",
      "http":{
        "method":"GET",
        "requestUri":"/automated-reasoning-policies/{policyArn}/build-workflows/{buildWorkflowId}/test-results",
        "responseCode":200
      },
      "input":{"shape":"ListAutomatedReasoningPolicyTestResultsRequest"},
      "output":{"shape":"ListAutomatedReasoningPolicyTestResultsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists test results for an Automated Reasoning policy, showing how the policy performed against various test scenarios and validation checks.</p>"
    },
    "ListCustomModelDeployments":{
      "name":"ListCustomModelDeployments",
      "http":{
        "method":"GET",
        "requestUri":"/model-customization/custom-model-deployments",
        "responseCode":200
      },
      "input":{"shape":"ListCustomModelDeploymentsRequest"},
      "output":{"shape":"ListCustomModelDeploymentsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists custom model deployments in your account. You can filter the results by creation time, name, status, and associated model. Use this operation to manage and monitor your custom model deployments.</p> <p>We recommend using pagination to ensure that the operation returns quickly and successfully.</p> <p>The following actions are related to the <code>ListCustomModelDeployments</code> operation:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_CreateCustomModelDeployment.html\">CreateCustomModelDeployment</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_GetCustomModelDeployment.html\">GetCustomModelDeployment</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_DeleteCustomModelDeployment.html\">DeleteCustomModelDeployment</a> </p> </li> </ul>"
    },
    "ListCustomModels":{
      "name":"ListCustomModels",
      "http":{
        "method":"GET",
        "requestUri":"/custom-models",
        "responseCode":200
      },
      "input":{"shape":"ListCustomModelsRequest"},
      "output":{"shape":"ListCustomModelsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of the custom models that you have created with the <code>CreateModelCustomizationJob</code> operation.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/custom-models.html\">Custom models</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>"
    },
    "ListEvaluationJobs":{
      "name":"ListEvaluationJobs",
      "http":{
        "method":"GET",
        "requestUri":"/evaluation-jobs",
        "responseCode":200
      },
      "input":{"shape":"ListEvaluationJobsRequest"},
      "output":{"shape":"ListEvaluationJobsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists all existing evaluation jobs.</p>"
    },
    "ListFoundationModelAgreementOffers":{
      "name":"ListFoundationModelAgreementOffers",
      "http":{
        "method":"GET",
        "requestUri":"/list-foundation-model-agreement-offers/{modelId}",
        "responseCode":200
      },
      "input":{"shape":"ListFoundationModelAgreementOffersRequest"},
      "output":{"shape":"ListFoundationModelAgreementOffersResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get the offers associated with the specified model.</p>"
    },
    "ListFoundationModels":{
      "name":"ListFoundationModels",
      "http":{
        "method":"GET",
        "requestUri":"/foundation-models",
        "responseCode":200
      },
      "input":{"shape":"ListFoundationModelsRequest"},
      "output":{"shape":"ListFoundationModelsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists Amazon Bedrock foundation models that you can use. You can filter the results with the request parameters. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/foundation-models.html\">Foundation models</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>"
    },
    "ListGuardrails":{
      "name":"ListGuardrails",
      "http":{
        "method":"GET",
        "requestUri":"/guardrails",
        "responseCode":200
      },
      "input":{"shape":"ListGuardrailsRequest"},
      "output":{"shape":"ListGuardrailsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists details about all the guardrails in an account. To list the <code>DRAFT</code> version of all your guardrails, don't specify the <code>guardrailIdentifier</code> field. To list all versions of a guardrail, specify the ARN of the guardrail in the <code>guardrailIdentifier</code> field.</p> <p>You can set the maximum number of results to return in a response in the <code>maxResults</code> field. If there are more results than the number you set, the response returns a <code>nextToken</code> that you can send in another <code>ListGuardrails</code> request to see the next batch of results.</p>"
    },
    "ListImportedModels":{
      "name":"ListImportedModels",
      "http":{
        "method":"GET",
        "requestUri":"/imported-models",
        "responseCode":200
      },
      "input":{"shape":"ListImportedModelsRequest"},
      "output":{"shape":"ListImportedModelsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of models you've imported. You can filter the results to return based on one or more criteria. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-customization-import-model.html\">Import a customized model</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>"
    },
    "ListInferenceProfiles":{
      "name":"ListInferenceProfiles",
      "http":{
        "method":"GET",
        "requestUri":"/inference-profiles",
        "responseCode":200
      },
      "input":{"shape":"ListInferenceProfilesRequest"},
      "output":{"shape":"ListInferenceProfilesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of inference profiles that you can use. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/cross-region-inference.html\">Increase throughput and resilience with cross-region inference in Amazon Bedrock</a>. in the Amazon Bedrock User Guide.</p>"
    },
    "ListMarketplaceModelEndpoints":{
      "name":"ListMarketplaceModelEndpoints",
      "http":{
        "method":"GET",
        "requestUri":"/marketplace-model/endpoints",
        "responseCode":200
      },
      "input":{"shape":"ListMarketplaceModelEndpointsRequest"},
      "output":{"shape":"ListMarketplaceModelEndpointsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists the endpoints for models from Amazon Bedrock Marketplace in your Amazon Web Services account.</p>"
    },
    "ListModelCopyJobs":{
      "name":"ListModelCopyJobs",
      "http":{
        "method":"GET",
        "requestUri":"/model-copy-jobs",
        "responseCode":200
      },
      "input":{"shape":"ListModelCopyJobsRequest"},
      "output":{"shape":"ListModelCopyJobsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of model copy jobs that you have submitted. You can filter the jobs to return based on one or more criteria. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/copy-model.html\">Copy models to be used in other regions</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>"
    },
    "ListModelCustomizationJobs":{
      "name":"ListModelCustomizationJobs",
      "http":{
        "method":"GET",
        "requestUri":"/model-customization-jobs",
        "responseCode":200
      },
      "input":{"shape":"ListModelCustomizationJobsRequest"},
      "output":{"shape":"ListModelCustomizationJobsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of model customization jobs that you have submitted. You can filter the jobs to return based on one or more criteria.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/custom-models.html\">Custom models</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>"
    },
    "ListModelImportJobs":{
      "name":"ListModelImportJobs",
      "http":{
        "method":"GET",
        "requestUri":"/model-import-jobs",
        "responseCode":200
      },
      "input":{"shape":"ListModelImportJobsRequest"},
      "output":{"shape":"ListModelImportJobsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of import jobs you've submitted. You can filter the results to return based on one or more criteria. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-customization-import-model.html\">Import a customized model</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>"
    },
    "ListModelInvocationJobs":{
      "name":"ListModelInvocationJobs",
      "http":{
        "method":"GET",
        "requestUri":"/model-invocation-jobs",
        "responseCode":200
      },
      "input":{"shape":"ListModelInvocationJobsRequest"},
      "output":{"shape":"ListModelInvocationJobsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists all batch inference jobs in the account. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/batch-inference-view.html\">View details about a batch inference job</a>.</p>"
    },
    "ListPromptRouters":{
      "name":"ListPromptRouters",
      "http":{
        "method":"GET",
        "requestUri":"/prompt-routers",
        "responseCode":200
      },
      "input":{"shape":"ListPromptRoutersRequest"},
      "output":{"shape":"ListPromptRoutersResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a list of prompt routers.</p>"
    },
    "ListProvisionedModelThroughputs":{
      "name":"ListProvisionedModelThroughputs",
      "http":{
        "method":"GET",
        "requestUri":"/provisioned-model-throughputs",
        "responseCode":200
      },
      "input":{"shape":"ListProvisionedModelThroughputsRequest"},
      "output":{"shape":"ListProvisionedModelThroughputsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists the Provisioned Throughputs in the account. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prov-throughput.html\">Provisioned Throughput</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/listTagsForResource",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List the tags associated with the specified resource.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Tagging resources</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>"
    },
    "PutModelInvocationLoggingConfiguration":{
      "name":"PutModelInvocationLoggingConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/logging/modelinvocations",
        "responseCode":200
      },
      "input":{"shape":"PutModelInvocationLoggingConfigurationRequest"},
      "output":{"shape":"PutModelInvocationLoggingConfigurationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Set the configuration values for model invocation logging.</p>",
      "idempotent":true
    },
    "PutUseCaseForModelAccess":{
      "name":"PutUseCaseForModelAccess",
      "http":{
        "method":"POST",
        "requestUri":"/use-case-for-model-access",
        "responseCode":201
      },
      "input":{"shape":"PutUseCaseForModelAccessRequest"},
      "output":{"shape":"PutUseCaseForModelAccessResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Put usecase for model access.</p>"
    },
    "RegisterMarketplaceModelEndpoint":{
      "name":"RegisterMarketplaceModelEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/marketplace-model/endpoints/{endpointIdentifier}/registration",
        "responseCode":200
      },
      "input":{"shape":"RegisterMarketplaceModelEndpointRequest"},
      "output":{"shape":"RegisterMarketplaceModelEndpointResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Registers an existing Amazon SageMaker endpoint with Amazon Bedrock Marketplace, allowing it to be used with Amazon Bedrock APIs.</p>"
    },
    "StartAutomatedReasoningPolicyBuildWorkflow":{
      "name":"StartAutomatedReasoningPolicyBuildWorkflow",
      "http":{
        "method":"POST",
        "requestUri":"/automated-reasoning-policies/{policyArn}/build-workflows/{buildWorkflowType}/start",
        "responseCode":200
      },
      "input":{"shape":"StartAutomatedReasoningPolicyBuildWorkflowRequest"},
      "output":{"shape":"StartAutomatedReasoningPolicyBuildWorkflowResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Starts a new build workflow for an Automated Reasoning policy. This initiates the process of analyzing source documents and generating policy rules, variables, and types.</p>"
    },
    "StartAutomatedReasoningPolicyTestWorkflow":{
      "name":"StartAutomatedReasoningPolicyTestWorkflow",
      "http":{
        "method":"POST",
        "requestUri":"/automated-reasoning-policies/{policyArn}/build-workflows/{buildWorkflowId}/test-workflows",
        "responseCode":200
      },
      "input":{"shape":"StartAutomatedReasoningPolicyTestWorkflowRequest"},
      "output":{"shape":"StartAutomatedReasoningPolicyTestWorkflowResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Initiates a test workflow to validate Automated Reasoning policy tests. The workflow executes the specified tests against the policy and generates validation results.</p>"
    },
    "StopEvaluationJob":{
      "name":"StopEvaluationJob",
      "http":{
        "method":"POST",
        "requestUri":"/evaluation-job/{jobIdentifier}/stop",
        "responseCode":200
      },
      "input":{"shape":"StopEvaluationJobRequest"},
      "output":{"shape":"StopEvaluationJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Stops an evaluation job that is current being created or running.</p>"
    },
    "StopModelCustomizationJob":{
      "name":"StopModelCustomizationJob",
      "http":{
        "method":"POST",
        "requestUri":"/model-customization-jobs/{jobIdentifier}/stop",
        "responseCode":200
      },
      "input":{"shape":"StopModelCustomizationJobRequest"},
      "output":{"shape":"StopModelCustomizationJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Stops an active model customization job. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/custom-models.html\">Custom models</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>",
      "idempotent":true
    },
    "StopModelInvocationJob":{
      "name":"StopModelInvocationJob",
      "http":{
        "method":"POST",
        "requestUri":"/model-invocation-job/{jobIdentifier}/stop",
        "responseCode":200
      },
      "input":{"shape":"StopModelInvocationJobRequest"},
      "output":{"shape":"StopModelInvocationJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Stops a batch inference job. You're only charged for tokens that were already processed. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/batch-inference-stop.html\">Stop a batch inference job</a>.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tagResource",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"TooManyTagsException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Associate tags with a resource. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Tagging resources</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/untagResource",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Remove one or more tags from a resource. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Tagging resources</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>"
    },
    "UpdateAutomatedReasoningPolicy":{
      "name":"UpdateAutomatedReasoningPolicy",
      "http":{
        "method":"PATCH",
        "requestUri":"/automated-reasoning-policies/{policyArn}",
        "responseCode":200
      },
      "input":{"shape":"UpdateAutomatedReasoningPolicyRequest"},
      "output":{"shape":"UpdateAutomatedReasoningPolicyResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"TooManyTagsException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates an existing Automated Reasoning policy with new rules, variables, or configuration. This creates a new version of the policy while preserving the previous version.</p>",
      "idempotent":true
    },
    "UpdateAutomatedReasoningPolicyAnnotations":{
      "name":"UpdateAutomatedReasoningPolicyAnnotations",
      "http":{
        "method":"PATCH",
        "requestUri":"/automated-reasoning-policies/{policyArn}/build-workflows/{buildWorkflowId}/annotations",
        "responseCode":200
      },
      "input":{"shape":"UpdateAutomatedReasoningPolicyAnnotationsRequest"},
      "output":{"shape":"UpdateAutomatedReasoningPolicyAnnotationsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates the annotations for an Automated Reasoning policy build workflow. This allows you to modify extracted rules, variables, and types before finalizing the policy.</p>"
    },
    "UpdateAutomatedReasoningPolicyTestCase":{
      "name":"UpdateAutomatedReasoningPolicyTestCase",
      "http":{
        "method":"PATCH",
        "requestUri":"/automated-reasoning-policies/{policyArn}/test-cases/{testCaseId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateAutomatedReasoningPolicyTestCaseRequest"},
      "output":{"shape":"UpdateAutomatedReasoningPolicyTestCaseResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates an existing Automated Reasoning policy test. You can modify the content, query, expected result, and confidence threshold.</p>",
      "idempotent":true
    },
    "UpdateGuardrail":{
      "name":"UpdateGuardrail",
      "http":{
        "method":"PUT",
        "requestUri":"/guardrails/{guardrailIdentifier}",
        "responseCode":202
      },
      "input":{"shape":"UpdateGuardrailRequest"},
      "output":{"shape":"UpdateGuardrailResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates a guardrail with the values you specify.</p> <ul> <li> <p>Specify a <code>name</code> and optional <code>description</code>.</p> </li> <li> <p>Specify messages for when the guardrail successfully blocks a prompt or a model response in the <code>blockedInputMessaging</code> and <code>blockedOutputsMessaging</code> fields.</p> </li> <li> <p>Specify topics for the guardrail to deny in the <code>topicPolicyConfig</code> object. Each <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_GuardrailTopicConfig.html\">GuardrailTopicConfig</a> object in the <code>topicsConfig</code> list pertains to one topic.</p> <ul> <li> <p>Give a <code>name</code> and <code>description</code> so that the guardrail can properly identify the topic.</p> </li> <li> <p>Specify <code>DENY</code> in the <code>type</code> field.</p> </li> <li> <p>(Optional) Provide up to five prompts that you would categorize as belonging to the topic in the <code>examples</code> list.</p> </li> </ul> </li> <li> <p>Specify filter strengths for the harmful categories defined in Amazon Bedrock in the <code>contentPolicyConfig</code> object. Each <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_GuardrailContentFilterConfig.html\">GuardrailContentFilterConfig</a> object in the <code>filtersConfig</code> list pertains to a harmful category. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/guardrails-content-filters\">Content filters</a>. For more information about the fields in a content filter, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_GuardrailContentFilterConfig.html\">GuardrailContentFilterConfig</a>.</p> <ul> <li> <p>Specify the category in the <code>type</code> field.</p> </li> <li> <p>Specify the strength of the filter for prompts in the <code>inputStrength</code> field and for model responses in the <code>strength</code> field of the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_GuardrailContentFilterConfig.html\">GuardrailContentFilterConfig</a>.</p> </li> </ul> </li> <li> <p>(Optional) For security, include the ARN of a KMS key in the <code>kmsKeyId</code> field.</p> </li> </ul>",
      "idempotent":true
    },
    "UpdateMarketplaceModelEndpoint":{
      "name":"UpdateMarketplaceModelEndpoint",
      "http":{
        "method":"PATCH",
        "requestUri":"/marketplace-model/endpoints/{endpointArn}",
        "responseCode":200
      },
      "input":{"shape":"UpdateMarketplaceModelEndpointRequest"},
      "output":{"shape":"UpdateMarketplaceModelEndpointResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates the configuration of an existing endpoint for a model from Amazon Bedrock Marketplace.</p>"
    },
    "UpdateProvisionedModelThroughput":{
      "name":"UpdateProvisionedModelThroughput",
      "http":{
        "method":"PATCH",
        "requestUri":"/provisioned-model-throughput/{provisionedModelId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateProvisionedModelThroughputRequest"},
      "output":{"shape":"UpdateProvisionedModelThroughputResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates the name or associated model for a Provisioned Throughput. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prov-throughput.html\">Provisioned Throughput</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>",
      "idempotent":true
    }
  },
  "shapes":{
    "AcceptEula":{"type":"boolean"},
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "documentation":"<p>The request is denied because of missing access permissions.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AccountId":{
      "type":"string",
      "pattern":"[0-9]{12}"
    },
    "AcknowledgementFormDataBody":{
      "type":"blob",
      "max":16384,
      "min":10
    },
    "AdditionalModelRequestFields":{
      "type":"map",
      "key":{"shape":"AdditionalModelRequestFieldsKey"},
      "value":{"shape":"AdditionalModelRequestFieldsValue"}
    },
    "AdditionalModelRequestFieldsKey":{
      "type":"string",
      "max":100,
      "min":1
    },
    "AdditionalModelRequestFieldsValue":{
      "type":"structure",
      "members":{
      },
      "document":true
    },
    "AgreementAvailability":{
      "type":"structure",
      "required":["status"],
      "members":{
        "status":{
          "shape":"AgreementStatus",
          "documentation":"<p>Status of the agreement.</p>"
        },
        "errorMessage":{
          "shape":"String",
          "documentation":"<p>Error message.</p>"
        }
      },
      "documentation":"<p>Information about the agreement availability</p>"
    },
    "AgreementStatus":{
      "type":"string",
      "enum":[
        "AVAILABLE",
        "PENDING",
        "NOT_AVAILABLE",
        "ERROR"
      ]
    },
    "ApplicationType":{
      "type":"string",
      "enum":[
        "ModelEvaluation",
        "RagEvaluation"
      ]
    },
    "Arn":{
      "type":"string",
      "max":2048,
      "min":0
    },
    "AttributeType":{
      "type":"string",
      "enum":[
        "STRING",
        "NUMBER",
        "BOOLEAN",
        "STRING_LIST"
      ]
    },
    "AuthorizationStatus":{
      "type":"string",
      "enum":[
        "AUTHORIZED",
        "NOT_AUTHORIZED"
      ]
    },
    "AutomatedEvaluationConfig":{
      "type":"structure",
      "required":["datasetMetricConfigs"],
      "members":{
        "datasetMetricConfigs":{
          "shape":"EvaluationDatasetMetricConfigs",
          "documentation":"<p>Configuration details of the prompt datasets and metrics you want to use for your evaluation job.</p>"
        },
        "evaluatorModelConfig":{
          "shape":"EvaluatorModelConfig",
          "documentation":"<p>Contains the evaluator model configuration details. <code>EvaluatorModelConfig</code> is required for evaluation jobs that use a knowledge base or in model evaluation job that use a model as judge. This model computes all evaluation related metrics.</p>"
        },
        "customMetricConfig":{
          "shape":"AutomatedEvaluationCustomMetricConfig",
          "documentation":"<p>Defines the configuration of custom metrics to be used in an evaluation job.</p>"
        }
      },
      "documentation":"<p>The configuration details of an automated evaluation job. The <code>EvaluationDatasetMetricConfig</code> object is used to specify the prompt datasets, task type, and metric names.</p>"
    },
    "AutomatedEvaluationCustomMetricConfig":{
      "type":"structure",
      "required":[
        "customMetrics",
        "evaluatorModelConfig"
      ],
      "members":{
        "customMetrics":{
          "shape":"AutomatedEvaluationCustomMetrics",
          "documentation":"<p>Defines a list of custom metrics to be used in an Amazon Bedrock evaluation job.</p>"
        },
        "evaluatorModelConfig":{
          "shape":"CustomMetricEvaluatorModelConfig",
          "documentation":"<p>Configuration of the evaluator model you want to use to evaluate custom metrics in an Amazon Bedrock evaluation job.</p>"
        }
      },
      "documentation":"<p>Defines the configuration of custom metrics to be used in an evaluation job. To learn more about using custom metrics in Amazon Bedrock evaluation jobs, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/model-evaluation-custom-metrics-prompt-formats.html\">Create a prompt for a custom metrics (LLM-as-a-judge model evaluations)</a> and <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/kb-evaluation-custom-metrics-prompt-formats.html\">Create a prompt for a custom metrics (RAG evaluations)</a>.</p>"
    },
    "AutomatedEvaluationCustomMetricSource":{
      "type":"structure",
      "members":{
        "customMetricDefinition":{
          "shape":"CustomMetricDefinition",
          "documentation":"<p>The definition of a custom metric for use in an Amazon Bedrock evaluation job.</p>"
        }
      },
      "documentation":"<p>An array item definining a single custom metric for use in an Amazon Bedrock evaluation job.</p>",
      "union":true
    },
    "AutomatedEvaluationCustomMetrics":{
      "type":"list",
      "member":{"shape":"AutomatedEvaluationCustomMetricSource"},
      "max":10,
      "min":1
    },
    "AutomatedReasoningCheckDifferenceScenarioList":{
      "type":"list",
      "member":{"shape":"AutomatedReasoningCheckScenario"},
      "max":2,
      "min":0
    },
    "AutomatedReasoningCheckFinding":{
      "type":"structure",
      "members":{
        "valid":{
          "shape":"AutomatedReasoningCheckValidFinding",
          "documentation":"<p>Indicates that the claims are true. The claims are implied by the premises and the Automated Reasoning policy. Given the Automated Reasoning policy and premises, it is not possible for these claims to be false.</p>"
        },
        "invalid":{
          "shape":"AutomatedReasoningCheckInvalidFinding",
          "documentation":"<p>Indicates that the claims are false. The claims are not implied by the premises and Automated Reasoning policy. Furthermore, there exist different claims that are consistent with the premises and Automated Reasoning policy.</p>"
        },
        "satisfiable":{
          "shape":"AutomatedReasoningCheckSatisfiableFinding",
          "documentation":"<p>Indicates that the claims can be true or false. It depends on what assumptions are made for the claim to be implied from the premises and Automated Reasoning policy rules. In this situation, different assumptions can make input claims false and alternative claims true.</p>"
        },
        "impossible":{
          "shape":"AutomatedReasoningCheckImpossibleFinding",
          "documentation":"<p>Indicates that Automated Reasoning cannot make a statement about the claims. This can happen if the premises are logically incorrect, or if there is a conflict within the Automated Reasoning policy itself.</p>"
        },
        "translationAmbiguous":{
          "shape":"AutomatedReasoningCheckTranslationAmbiguousFinding",
          "documentation":"<p>Indicates that an ambiguity was detected in the translation, making it unsound to continue with validity checking. Additional context or follow-up questions might be needed to get translation to succeed.</p>"
        },
        "tooComplex":{
          "shape":"AutomatedReasoningCheckTooComplexFinding",
          "documentation":"<p>Indicates that the input contains too much information for Automated Reasoning to process within its latency limits.</p>"
        },
        "noTranslations":{
          "shape":"AutomatedReasoningCheckNoTranslationsFinding",
          "documentation":"<p>Identifies that some or all of the input prompt wasn't translated into logic. This can happen if the input isn't relevant to the Automated Reasoning policy, or if the policy doesn't have variables to model relevant input.</p>"
        }
      },
      "documentation":"<p>Represents the result of an Automated Reasoning validation check, indicating whether the content is logically valid, invalid, or falls into other categories based on the policy rules.</p>",
      "union":true
    },
    "AutomatedReasoningCheckFindingList":{
      "type":"list",
      "member":{"shape":"AutomatedReasoningCheckFinding"},
      "max":20,
      "min":0
    },
    "AutomatedReasoningCheckImpossibleFinding":{
      "type":"structure",
      "members":{
        "translation":{
          "shape":"AutomatedReasoningCheckTranslation",
          "documentation":"<p>The logical translation of the input that this finding evaluates.</p>"
        },
        "contradictingRules":{
          "shape":"AutomatedReasoningCheckRuleList",
          "documentation":"<p>The automated reasoning policy rules that contradict the claims and/or premises in the input.</p>"
        },
        "logicWarning":{
          "shape":"AutomatedReasoningCheckLogicWarning",
          "documentation":"<p>Indication of a logic issue with the translation without needing to consider the automated reasoning policy rules.</p>"
        }
      },
      "documentation":"<p>Indicates that no valid claims can be made due to logical contradictions in the premises or rules.</p>"
    },
    "AutomatedReasoningCheckInputTextReference":{
      "type":"structure",
      "members":{
        "text":{
          "shape":"AutomatedReasoningNaturalLanguageStatementContent",
          "documentation":"<p>The specific text from the original input that this reference points to.</p>"
        }
      },
      "documentation":"<p>References a portion of the original input text that corresponds to logical elements.</p>"
    },
    "AutomatedReasoningCheckInputTextReferenceList":{
      "type":"list",
      "member":{"shape":"AutomatedReasoningCheckInputTextReference"}
    },
    "AutomatedReasoningCheckInvalidFinding":{
      "type":"structure",
      "members":{
        "translation":{
          "shape":"AutomatedReasoningCheckTranslation",
          "documentation":"<p>The logical translation of the input that this finding invalidates.</p>"
        },
        "contradictingRules":{
          "shape":"AutomatedReasoningCheckRuleList",
          "documentation":"<p>The automated reasoning policy rules that contradict the claims in the input.</p>"
        },
[...]
