@import "@tryghost/shade/styles.css";

/* Ensure the Ember app renders in the correct position */
body:not(.ember-application) #ember-app {
    width: 100%;
    height: 100%;
}

body:not(.ember-application) #ember-app .gh-app {
    position: static;
}


/* Hide the nav menu and tab bar on mobile when running in React admin shell */
body:not(.ember-application) #ember-app .gh-nav,
body:not(.ember-application) #ember-app .gh-mobile-nav-bar {
    display: none;
}

/* Temporary overrides until Ember transition is finished */
body:not(.ember-application) .gh-canvas-header {
    padding-top: 24px;
    padding-bottom: 24px;
}

body:not(.ember-application) .gh-canvas-breadcrumb+.gh-canvas-title {
    padding-top: 0px;
    margin-top: -4px;
}

body:not(.ember-application) .gh-canvas-title,
body:not(.ember-application) [data-header="header-title"] {
    font-size: 25px;
}

body:not(.ember-application) [data-header="header"] {
    padding-top: 24px;
}

body:not(.ember-application) [data-navbar="navbar"] {
    padding-top: 24px;
    padding-bottom: 24px;
}
