{
  "metadata": {
    "apiVersion": "2018-11-29",
    "endpointPrefix": "apigateway",
    "signingName": "apigateway",
    "serviceFullName": "AmazonApiGatewayV2",
    "serviceId": "ApiGatewayV2",
    "protocol": "rest-json",
    "jsonVersion": "1.1",
    "uid": "apigatewayv2-2018-11-29",
    "signatureVersion": "v4",
    "auth": [
      "aws.auth#sigv4"
    ]
  },
  "operations": {
    "CreateApi": {
      "name": "CreateApi",
      "http": {
        "method": "POST",
        "requestUri": "/v2/apis",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateApiRequest"
      },
      "output": {
        "shape": "CreateApiResponse",
        "documentation": "<p>The request has succeeded and has resulted in the creation of a resource.</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The resource already exists.</p>"
        }
      ],
      "documentation": "<p>Creates an Api resource.</p>"
    },
    "CreateApiMapping": {
      "name": "CreateApiMapping",
      "http": {
        "method": "POST",
        "requestUri": "/v2/domainnames/{domainName}/apimappings",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateApiMappingRequest"
      },
      "output": {
        "shape": "CreateApiMappingResponse",
        "documentation": "<p>The request has succeeded and has resulted in the creation of a resource.</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The resource already exists.</p>"
        }
      ],
      "documentation": "<p>Creates an API mapping.</p>"
    },
    "CreateAuthorizer": {
      "name": "CreateAuthorizer",
      "http": {
        "method": "POST",
        "requestUri": "/v2/apis/{apiId}/authorizers",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateAuthorizerRequest"
      },
      "output": {
        "shape": "CreateAuthorizerResponse",
        "documentation": "<p>The request has succeeded and has resulted in the creation of a resource.</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The resource already exists.</p>"
        }
      ],
      "documentation": "<p>Creates an Authorizer for an API.</p>"
    },
    "CreateDeployment": {
      "name": "CreateDeployment",
      "http": {
        "method": "POST",
        "requestUri": "/v2/apis/{apiId}/deployments",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateDeploymentRequest"
      },
      "output": {
        "shape": "CreateDeploymentResponse",
        "documentation": "<p>The request has succeeded and has resulted in the creation of a resource.</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The resource already exists.</p>"
        }
      ],
      "documentation": "<p>Creates a Deployment for an API.</p>"
    },
    "CreateDomainName": {
      "name": "CreateDomainName",
      "http": {
        "method": "POST",
        "requestUri": "/v2/domainnames",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateDomainNameRequest"
      },
      "output": {
        "shape": "CreateDomainNameResponse",
        "documentation": "<p>The request has succeeded and has resulted in the creation of a resource.</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The resource already exists.</p>"
        },
        {
          "shape": "AccessDeniedException",
          "documentation": "<p>403 response</p>"
        }
      ],
      "documentation": "<p>Creates a domain name.</p>"
    },
    "CreateIntegration": {
      "name": "CreateIntegration",
      "http": {
        "method": "POST",
        "requestUri": "/v2/apis/{apiId}/integrations",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateIntegrationRequest"
      },
      "output": {
        "shape": "CreateIntegrationResult",
        "documentation": "<p>The request has succeeded and has resulted in the creation of a resource.</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The resource already exists.</p>"
        }
      ],
      "documentation": "<p>Creates an Integration.</p>"
    },
    "CreateIntegrationResponse": {
      "name": "CreateIntegrationResponse",
      "http": {
        "method": "POST",
        "requestUri": "/v2/apis/{apiId}/integrations/{integrationId}/integrationresponses",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateIntegrationResponseRequest"
      },
      "output": {
        "shape": "CreateIntegrationResponseResponse",
        "documentation": "<p>The request has succeeded and has resulted in the creation of a resource.</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The resource already exists.</p>"
        }
      ],
      "documentation": "<p>Creates an IntegrationResponses.</p>"
    },
    "CreateModel": {
      "name": "CreateModel",
      "http": {
        "method": "POST",
        "requestUri": "/v2/apis/{apiId}/models",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateModelRequest"
      },
      "output": {
        "shape": "CreateModelResponse",
        "documentation": "<p>The request has succeeded and has resulted in the creation of a resource.</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The resource already exists.</p>"
        }
      ],
      "documentation": "<p>Creates a Model for an API.</p>"
    },
    "CreateRoute": {
      "name": "CreateRoute",
      "http": {
        "method": "POST",
        "requestUri": "/v2/apis/{apiId}/routes",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateRouteRequest"
      },
      "output": {
        "shape": "CreateRouteResult",
        "documentation": "<p>The request has succeeded and has resulted in the creation of a resource.</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The resource already exists.</p>"
        }
      ],
      "documentation": "<p>Creates a Route for an API.</p>"
    },
    "CreateRouteResponse": {
      "name": "CreateRouteResponse",
      "http": {
        "method": "POST",
        "requestUri": "/v2/apis/{apiId}/routes/{routeId}/routeresponses",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateRouteResponseRequest"
      },
      "output": {
        "shape": "CreateRouteResponseResponse",
        "documentation": "<p>The request has succeeded and has resulted in the creation of a resource.</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The resource already exists.</p>"
        }
      ],
      "documentation": "<p>Creates a RouteResponse for a Route.</p>"
    },
    "CreateRoutingRule": {
      "name": "CreateRoutingRule",
      "documentation": "<p>Creates a RoutingRule.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/v2/domainnames/{domainName}/routingrules",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateRoutingRuleRequest"
      },
      "output": {
        "shape": "CreateRoutingRuleResponse",
        "documentation": "<p>The request has succeeded and has resulted in the creation of a resource.</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The resource already exists.</p>"
        }
      ]
    },
    "CreateStage": {
      "name": "CreateStage",
      "http": {
        "method": "POST",
        "requestUri": "/v2/apis/{apiId}/stages",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateStageRequest"
      },
      "output": {
        "shape": "CreateStageResponse",
        "documentation": "<p>The request has succeeded and has resulted in the creation of a resource.</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The resource already exists.</p>"
        }
      ],
      "documentation": "<p>Creates a Stage for an API.</p>"
    },
    "CreateVpcLink": {
      "name": "CreateVpcLink",
      "http": {
        "method": "POST",
        "requestUri": "/v2/vpclinks",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateVpcLinkRequest"
      },
      "output": {
        "shape": "CreateVpcLinkResponse",
        "documentation": "<p>The request has succeeded and has resulted in the creation of a resource.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        }
      ],
      "documentation": "<p>Creates a VPC link.</p>"
    },
    "DeleteAccessLogSettings": {
      "name": "DeleteAccessLogSettings",
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/apis/{apiId}/stages/{stageName}/accesslogsettings",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteAccessLogSettingsRequest"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        }
      ],
      "documentation": "<p>Deletes the AccessLogSettings for a Stage. To disable access logging for a Stage, delete its AccessLogSettings.</p>"
    },
    "DeleteApi": {
      "name": "DeleteApi",
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/apis/{apiId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteApiRequest"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        }
      ],
      "documentation": "<p>Deletes an Api resource.</p>"
    },
    "DeleteApiMapping": {
      "name": "DeleteApiMapping",
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domainnames/{domainName}/apimappings/{apiMappingId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteApiMappingRequest"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        }
      ],
      "documentation": "<p>Deletes an API mapping.</p>"
    },
    "DeleteAuthorizer": {
      "name": "DeleteAuthorizer",
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/apis/{apiId}/authorizers/{authorizerId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteAuthorizerRequest"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        }
      ],
      "documentation": "<p>Deletes an Authorizer.</p>"
    },
    "DeleteCorsConfiguration": {
      "name": "DeleteCorsConfiguration",
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/apis/{apiId}/cors",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteCorsConfigurationRequest"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        }
      ],
      "documentation": "<p>Deletes a CORS configuration.</p>"
    },
    "DeleteDeployment": {
      "name": "DeleteDeployment",
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/apis/{apiId}/deployments/{deploymentId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteDeploymentRequest"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        }
      ],
      "documentation": "<p>Deletes a Deployment.</p>"
    },
    "DeleteDomainName": {
      "name": "DeleteDomainName",
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domainnames/{domainName}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteDomainNameRequest"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        }
      ],
      "documentation": "<p>Deletes a domain name.</p>"
    },
    "DeleteIntegration": {
      "name": "DeleteIntegration",
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/apis/{apiId}/integrations/{integrationId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteIntegrationRequest"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        }
      ],
      "documentation": "<p>Deletes an Integration.</p>"
    },
    "DeleteIntegrationResponse": {
      "name": "DeleteIntegrationResponse",
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/apis/{apiId}/integrations/{integrationId}/integrationresponses/{integrationResponseId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteIntegrationResponseRequest"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        }
      ],
      "documentation": "<p>Deletes an IntegrationResponses.</p>"
    },
    "DeleteModel": {
      "name": "DeleteModel",
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/apis/{apiId}/models/{modelId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteModelRequest"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        }
      ],
      "documentation": "<p>Deletes a Model.</p>"
    },
    "DeleteRoute": {
      "name": "DeleteRoute",
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/apis/{apiId}/routes/{routeId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteRouteRequest"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        }
      ],
      "documentation": "<p>Deletes a Route.</p>"
    },
    "DeleteRouteRequestParameter": {
      "name": "DeleteRouteRequestParameter",
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/apis/{apiId}/routes/{routeId}/requestparameters/{requestParameterKey}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteRouteRequestParameterRequest"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        }
      ],
      "documentation": "<p>Deletes a route request parameter. Supported only for WebSocket APIs.</p>"
    },
    "DeleteRouteResponse": {
      "name": "DeleteRouteResponse",
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/apis/{apiId}/routes/{routeId}/routeresponses/{routeResponseId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteRouteResponseRequest"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        }
      ],
      "documentation": "<p>Deletes a RouteResponse.</p>"
    },
    "DeleteRouteSettings": {
      "name": "DeleteRouteSettings",
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/apis/{apiId}/stages/{stageName}/routesettings/{routeKey}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteRouteSettingsRequest"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        }
      ],
      "documentation": "<p>Deletes the RouteSettings for a stage.</p>"
    },
    "DeleteRoutingRule": {
      "name": "DeleteRoutingRule",
      "documentation": "<p>Deletes a routing rule.</p>",
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domainnames/{domainName}/routingrules/{routingRuleId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteRoutingRuleRequest"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        }
      ],
      "idempotent": true
    },
    "DeleteStage": {
      "name": "DeleteStage",
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/apis/{apiId}/stages/{stageName}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteStageRequest"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        }
      ],
      "documentation": "<p>Deletes a Stage.</p>"
    },
    "DeleteVpcLink": {
      "name": "DeleteVpcLink",
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/vpclinks/{vpcLinkId}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteVpcLinkRequest"
      },
      "output": {
        "shape": "DeleteVpcLinkResponse",
        "documentation": "<p>202 response</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        }
      ],
      "documentation": "<p>Deletes a VPC link.</p>"
    },
    "ExportApi": {
      "name": "ExportApi",
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/exports/{specification}",
        "responseCode": 200
      },
      "input": {
        "shape": "ExportApiRequest"
      },
      "output": {
        "shape": "ExportApiResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        }
      ]
    },
    "ResetAuthorizersCache": {
      "name": "ResetAuthorizersCache",
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/apis/{apiId}/stages/{stageName}/cache/authorizers",
        "responseCode": 204
      },
      "input": {
        "shape": "ResetAuthorizersCacheRequest"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        }
      ],
      "documentation": "<p>Resets all authorizer cache entries on a stage. Supported only for HTTP APIs.</p>"
    },
    "GetApi": {
      "name": "GetApi",
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetApiRequest"
      },
      "output": {
        "shape": "GetApiResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        }
      ],
      "documentation": "<p>Gets an Api resource.</p>"
    },
    "GetApiMapping": {
      "name": "GetApiMapping",
      "http": {
        "method": "GET",
        "requestUri": "/v2/domainnames/{domainName}/apimappings/{apiMappingId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetApiMappingRequest"
      },
      "output": {
        "shape": "GetApiMappingResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        }
      ],
      "documentation": "<p>Gets an API mapping.</p>"
    },
    "GetApiMappings": {
      "name": "GetApiMappings",
      "http": {
        "method": "GET",
        "requestUri": "/v2/domainnames/{domainName}/apimappings",
        "responseCode": 200
      },
      "input": {
        "shape": "GetApiMappingsRequest"
      },
      "output": {
        "shape": "GetApiMappingsResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        }
      ],
      "documentation": "<p>Gets API mappings.</p>"
    },
    "GetApis": {
      "name": "GetApis",
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis",
        "responseCode": 200
      },
      "input": {
        "shape": "GetApisRequest"
      },
      "output": {
        "shape": "GetApisResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        }
      ],
      "documentation": "<p>Gets a collection of Api resources.</p>"
    },
    "GetAuthorizer": {
      "name": "GetAuthorizer",
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/authorizers/{authorizerId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAuthorizerRequest"
      },
      "output": {
        "shape": "GetAuthorizerResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        }
      ],
      "documentation": "<p>Gets an Authorizer.</p>"
    },
    "GetAuthorizers": {
      "name": "GetAuthorizers",
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/authorizers",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAuthorizersRequest"
      },
      "output": {
        "shape": "GetAuthorizersResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        }
      ],
      "documentation": "<p>Gets the Authorizers for an API.</p>"
    },
    "GetDeployment": {
      "name": "GetDeployment",
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/deployments/{deploymentId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetDeploymentRequest"
      },
      "output": {
        "shape": "GetDeploymentResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        }
      ],
      "documentation": "<p>Gets a Deployment.</p>"
    },
    "GetDeployments": {
      "name": "GetDeployments",
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/deployments",
        "responseCode": 200
      },
      "input": {
        "shape": "GetDeploymentsRequest"
      },
      "output": {
        "shape": "GetDeploymentsResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        }
      ],
      "documentation": "<p>Gets the Deployments for an API.</p>"
    },
    "GetDomainName": {
      "name": "GetDomainName",
      "http": {
        "method": "GET",
        "requestUri": "/v2/domainnames/{domainName}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetDomainNameRequest"
      },
      "output": {
        "shape": "GetDomainNameResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        }
      ],
      "documentation": "<p>Gets a domain name.</p>"
    },
    "GetDomainNames": {
      "name": "GetDomainNames",
      "http": {
        "method": "GET",
        "requestUri": "/v2/domainnames",
        "responseCode": 200
      },
      "input": {
        "shape": "GetDomainNamesRequest"
      },
      "output": {
        "shape": "GetDomainNamesResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        }
      ],
      "documentation": "<p>Gets the domain names for an AWS account.</p>"
    },
    "GetIntegration": {
      "name": "GetIntegration",
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/integrations/{integrationId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetIntegrationRequest"
      },
      "output": {
        "shape": "GetIntegrationResult",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        }
      ],
      "documentation": "<p>Gets an Integration.</p>"
    },
    "GetIntegrationResponse": {
      "name": "GetIntegrationResponse",
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/integrations/{integrationId}/integrationresponses/{integrationResponseId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetIntegrationResponseRequest"
      },
      "output": {
        "shape": "GetIntegrationResponseResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        }
      ],
      "documentation": "<p>Gets an IntegrationResponses.</p>"
    },
    "GetIntegrationResponses": {
      "name": "GetIntegrationResponses",
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/integrations/{integrationId}/integrationresponses",
        "responseCode": 200
      },
      "input": {
        "shape": "GetIntegrationResponsesRequest"
      },
      "output": {
        "shape": "GetIntegrationResponsesResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        }
      ],
      "documentation": "<p>Gets the IntegrationResponses for an Integration.</p>"
    },
    "GetIntegrations": {
      "name": "GetIntegrations",
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/integrations",
        "responseCode": 200
      },
      "input": {
        "shape": "GetIntegrationsRequest"
      },
      "output": {
        "shape": "GetIntegrationsResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        }
      ],
      "documentation": "<p>Gets the Integrations for an API.</p>"
    },
    "GetModel": {
      "name": "GetModel",
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/models/{modelId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetModelRequest"
      },
      "output": {
        "shape": "GetModelResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        }
      ],
      "documentation": "<p>Gets a Model.</p>"
    },
    "GetModelTemplate": {
      "name": "GetModelTemplate",
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/models/{modelId}/template",
        "responseCode": 200
      },
      "input": {
        "shape": "GetModelTemplateRequest"
      },
      "output": {
        "shape": "GetModelTemplateResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        }
      ],
      "documentation": "<p>Gets a model template.</p>"
    },
    "GetModels": {
      "name": "GetModels",
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/models",
        "responseCode": 200
      },
      "input": {
        "shape": "GetModelsRequest"
      },
      "output": {
        "shape": "GetModelsResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        }
      ],
      "documentation": "<p>Gets the Models for an API.</p>"
    },
    "GetRoute": {
      "name": "GetRoute",
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/routes/{routeId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetRouteRequest"
      },
      "output": {
        "shape": "GetRouteResult",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        }
      ],
      "documentation": "<p>Gets a Route.</p>"
    },
    "GetRouteResponse": {
      "name": "GetRouteResponse",
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/routes/{routeId}/routeresponses/{routeResponseId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetRouteResponseRequest"
      },
      "output": {
        "shape": "GetRouteResponseResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        }
      ],
      "documentation": "<p>Gets a RouteResponse.</p>"
    },
    "GetRouteResponses": {
      "name": "GetRouteResponses",
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/routes/{routeId}/routeresponses",
        "responseCode": 200
      },
      "input": {
        "shape": "GetRouteResponsesRequest"
      },
      "output": {
        "shape": "GetRouteResponsesResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        }
      ],
      "documentation": "<p>Gets the RouteResponses for a Route.</p>"
    },
    "GetRoutes": {
      "name": "GetRoutes",
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/routes",
        "responseCode": 200
      },
      "input": {
        "shape": "GetRoutesRequest"
      },
      "output": {
        "shape": "GetRoutesResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        }
      ],
      "documentation": "<p>Gets the Routes for an API.</p>"
    },
    "GetRoutingRule": {
      "name": "GetRoutingRule",
      "documentation": "<p>Gets a routing rule.</p>",
      "http": {
        "method": "GET",
        "requestUri": "/v2/domainnames/{domainName}/routingrules/{routingRuleId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetRoutingRuleRequest"
      },
      "output": {
        "shape": "GetRoutingRuleResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        }
      ]
    },
    "ListRoutingRules": {
      "name": "ListRoutingRules",
      "documentation": "<p>Lists routing rules.</p>",
      "http": {
        "method": "GET",
        "requestUri": "/v2/domainnames/{domainName}/routingrules",
        "responseCode": 200
      },
      "input": {
        "shape": "ListRoutingRulesRequest"
      },
      "output": {
        "shape": "ListRoutingRulesResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        }
      ]
    },
    "GetStage": {
      "name": "GetStage",
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/stages/{stageName}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetStageRequest"
      },
      "output": {
        "shape": "GetStageResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        }
      ],
      "documentation": "<p>Gets a Stage.</p>"
    },
    "GetStages": {
      "name": "GetStages",
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/stages",
        "responseCode": 200
      },
      "input": {
        "shape": "GetStagesRequest"
      },
      "output": {
        "shape": "GetStagesResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        }
      ],
      "documentation": "<p>Gets the Stages for an API.</p>"
    },
    "GetTags": {
      "name": "GetTags",
      "http": {
        "method": "GET",
        "requestUri": "/v2/tags/{resource-arn}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetTagsRequest"
      },
      "output": {
        "shape": "GetTagsResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The resource already exists.</p>"
        }
      ],
      "documentation": "<p>Gets a collection of Tag resources.</p>"
    },
    "GetVpcLink": {
      "name": "GetVpcLink",
      "http": {
        "method": "GET",
        "requestUri": "/v2/vpclinks/{vpcLinkId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetVpcLinkRequest"
      },
      "output": {
        "shape": "GetVpcLinkResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        }
      ],
      "documentation": "<p>Gets a VPC link.</p>"
    },
    "GetVpcLinks": {
      "name": "GetVpcLinks",
      "http": {
        "method": "GET",
        "requestUri": "/v2/vpclinks",
        "responseCode": 200
      },
      "input": {
        "shape": "GetVpcLinksRequest"
      },
      "output": {
        "shape": "GetVpcLinksResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        }
      ],
      "documentation": "<p>Gets a collection of VPC links.</p>"
    },
    "ImportApi": {
      "name": "ImportApi",
      "http": {
        "method": "PUT",
        "requestUri": "/v2/apis",
        "responseCode": 201
      },
      "input": {
        "shape": "ImportApiRequest"
      },
      "output": {
        "shape": "ImportApiResponse",
        "documentation": "<p>The request has succeeded and has resulted in the creation of a resource.</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The resource already exists.</p>"
        }
      ],
      "documentation": "<p>Imports an API.</p>"
    },
    "PutRoutingRule": {
      "name": "PutRoutingRule",
      "documentation": "<p>Updates a routing rule.</p>",
      "http": {
        "method": "PUT",
        "requestUri": "/v2/domainnames/{domainName}/routingrules/{routingRuleId}",
        "responseCode": 200
      },
      "input": {
        "shape": "PutRoutingRuleRequest"
      },
      "output": {
        "shape": "PutRoutingRuleResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The resource already exists.</p>"
        }
      ],
      "idempotent": true
    },
    "ReimportApi": {
      "name": "ReimportApi",
      "http": {
        "method": "PUT",
        "requestUri": "/v2/apis/{apiId}",
        "responseCode": 201
      },
      "input": {
        "shape": "ReimportApiRequest"
      },
      "output": {
        "shape": "ReimportApiResponse",
        "documentation": "<p>The request has succeeded and has resulted in the creation of a resource.</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The resource already exists.</p>"
        }
      ],
      "documentation": "<p>Puts an Api resource.</p>"
    },
    "TagResource": {
      "name": "TagResource",
      "http": {
        "method": "POST",
        "requestUri": "/v2/tags/{resource-arn}",
        "responseCode": 201
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "output": {
        "shape": "TagResourceResponse",
        "documentation": "<p>The request has succeeded and has resulted in the creation of a resource.</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The resource already exists.</p>"
        }
      ],
      "documentation": "<p>Creates a new Tag resource to represent a tag.</p>"
    },
    "UntagResource": {
      "name": "UntagResource",
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The resource already exists.</p>"
        }
      ],
      "documentation": "<p>Deletes a Tag.</p>"
    },
    "UpdateApi": {
      "name": "UpdateApi",
      "http": {
        "method": "PATCH",
        "requestUri": "/v2/apis/{apiId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateApiRequest"
      },
      "output": {
        "shape": "UpdateApiResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The resource already exists.</p>"
        }
      ],
      "documentation": "<p>Updates an Api resource.</p>"
    },
    "UpdateApiMapping": {
      "name": "UpdateApiMapping",
      "http": {
        "method": "PATCH",
        "requestUri": "/v2/domainnames/{domainName}/apimappings/{apiMappingId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateApiMappingRequest"
      },
      "output": {
        "shape": "UpdateApiMappingResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The resource already exists.</p>"
        }
      ],
      "documentation": "<p>The API mapping.</p>"
    },
    "UpdateAuthorizer": {
      "name": "UpdateAuthorizer",
      "http": {
        "method": "PATCH",
        "requestUri": "/v2/apis/{apiId}/authorizers/{authorizerId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateAuthorizerRequest"
      },
      "output": {
        "shape": "UpdateAuthorizerResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The resource already exists.</p>"
        }
      ],
      "documentation": "<p>Updates an Authorizer.</p>"
    },
    "UpdateDeployment": {
      "name": "UpdateDeployment",
      "http": {
        "method": "PATCH",
        "requestUri": "/v2/apis/{apiId}/deployments/{deploymentId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateDeploymentRequest"
      },
      "output": {
        "shape": "UpdateDeploymentResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The resource already exists.</p>"
        }
      ],
      "documentation": "<p>Updates a Deployment.</p>"
    },
    "UpdateDomainName": {
      "name": "UpdateDomainName",
      "http": {
        "method": "PATCH",
        "requestUri": "/v2/domainnames/{domainName}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateDomainNameRequest"
      },
      "output": {
        "shape": "UpdateDomainNameResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The resource already exists.</p>"
        }
      ],
      "documentation": "<p>Updates a domain name.</p>"
    },
    "UpdateIntegration": {
      "name": "UpdateIntegration",
      "http": {
        "method": "PATCH",
        "requestUri": "/v2/apis/{apiId}/integrations/{integrationId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateIntegrationRequest"
      },
      "output": {
        "shape": "UpdateIntegrationResult",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The resource already exists.</p>"
        }
      ],
      "documentation": "<p>Updates an Integration.</p>"
    },
    "UpdateIntegrationResponse": {
      "name": "UpdateIntegrationResponse",
      "http": {
        "method": "PATCH",
        "requestUri": "/v2/apis/{apiId}/integrations/{integrationId}/integrationresponses/{integrationResponseId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateIntegrationResponseRequest"
      },
      "output": {
        "shape": "UpdateIntegrationResponseResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The resource already exists.</p>"
        }
      ],
      "documentation": "<p>Updates an IntegrationResponses.</p>"
    },
    "UpdateModel": {
      "name": "UpdateModel",
      "http": {
        "method": "PATCH",
        "requestUri": "/v2/apis/{apiId}/models/{modelId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateModelRequest"
      },
      "output": {
        "shape": "UpdateModelResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The resource already exists.</p>"
        }
      ],
      "documentation": "<p>Updates a Model.</p>"
    },
    "UpdateRoute": {
      "name": "UpdateRoute",
      "http": {
        "method": "PATCH",
        "requestUri": "/v2/apis/{apiId}/routes/{routeId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateRouteRequest"
      },
      "output": {
        "shape": "UpdateRouteResult",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The resource already exists.</p>"
        }
      ],
      "documentation": "<p>Updates a Route.</p>"
    },
    "UpdateRouteResponse": {
      "name": "UpdateRouteResponse",
      "http": {
        "method": "PATCH",
        "requestUri": "/v2/apis/{apiId}/routes/{routeId}/routeresponses/{routeResponseId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateRouteResponseRequest"
      },
      "output": {
        "shape": "UpdateRouteResponseResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The resource already exists.</p>"
        }
      ],
      "documentation": "<p>Updates a RouteResponse.</p>"
    },
    "UpdateStage": {
      "name": "UpdateStage",
      "http": {
        "method": "PATCH",
        "requestUri": "/v2/apis/{apiId}/stages/{stageName}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateStageRequest"
      },
      "output": {
        "shape": "UpdateStageResponse",
        "documentation": "<p>Success</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>The resource already exists.</p>"
        }
      ],
      "documentation": "<p>Updates a Stage.</p>"
    },
    "UpdateVpcLink": {
      "name": "UpdateVpcLink",
      "http": {
        "method": "PATCH",
        "requestUri": "/v2/vpclinks/{vpcLinkId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateVpcLinkRequest"
      },
      "output": {
        "shape": "UpdateVpcLinkResponse",
        "documentation": "<p>200 response</p>"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "<p>The resource specified in the request was not found.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>"
        },
        {
          "shape": "BadRequestException",
          "documentation": "<p>One of the parameters in the request is invalid.</p>"
        }
      ],
      "documentation": "<p>Updates a VPC link.</p>"
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "type": "structure",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message"
        }
      },
      "exception": true,
      "error": {
        "httpStatusCode": 403
      }
    },
    "AccessLogSettings": {
      "type": "structure",
      "members": {
        "DestinationArn": {
          "shape": "Arn",
          "locationName": "destinationArn",
          "documentation": "<p>The ARN of the CloudWatch Logs log group to receive access logs.</p>"
        },
        "Format": {
          "shape": "StringWithLengthBetween1And1024",
          "locationName": "format",
          "documentation": "<p>A single line format of the access logs of data, as specified by selected $context variables. The format must include at least $context.requestId.</p>"
        }
      },
      "documentation": "<p>Settings for logging access in a stage.</p>"
    },
    "Api": {
      "type": "structure",
      "members": {
        "ApiEndpoint": {
          "shape": "__string",
          "locationName": "apiEndpoint",
          "documentation": "<p>The URI of the API, of the form {api-id}.execute-api.{region}.amazonaws.com. The stage name is typically appended to this URI to form a complete path to a deployed API stage.</p>"
        },
        "ApiGatewayManaged": {
          "shape": "__boolean",
          "locationName": "apiGatewayManaged",
          "documentation": "<p>Specifies whether an API is managed by API Gateway. You can't update or delete a managed API by using API Gateway. A managed API can be deleted only through the tooling or service that created it.</p>"
        },
        "ApiId": {
          "shape": "Id",
          "locationName": "apiId",
          "documentation": "<p>The API ID.</p>"
        },
        "ApiKeySelectionExpression": {
          "shape": "SelectionExpression",
          "locationName": "apiKeySelectionExpression",
          "documentation": "<p>An API key selection expression. Supported only for WebSocket APIs. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions\">API Key Selection Expressions</a>.</p>"
        },
        "CorsConfiguration": {
          "shape": "Cors",
          "locationName": "corsConfiguration",
          "documentation": "<p>A CORS configuration. Supported only for HTTP APIs.</p>"
        },
        "CreatedDate": {
          "shape": "__timestampIso8601",
          "locationName": "createdDate",
          "documentation": "<p>The timestamp when the API was created.</p>"
        },
        "Description": {
          "shape": "StringWithLengthBetween0And1024",
          "locationName": "description",
          "documentation": "<p>The description of the API.</p>"
        },
        "DisableSchemaValidation": {
          "shape": "__boolean",
          "locationName": "disableSchemaValidation",
          "documentation": "<p>Avoid validating models when creating a deployment. Supported only for WebSocket APIs.</p>"
        },
        "DisableExecuteApiEndpoint": {
          "shape": "__boolean",
          "locationName": "disableExecuteApiEndpoint",
          "documentation": "<p>Specifies whether clients can invoke your API by using the default execute-api endpoint. By default, clients can invoke your API with the default https://{api_id}.execute-api.{region}.amazonaws.com endpoint. To require that clients use a custom domain name to invoke your API, disable the default endpoint.</p>"
        },
        "ImportInfo": {
          "shape": "__listOf__string",
          "locationName": "importInfo",
          "documentation": "<p>The validation information during API import. This may include particular properties of your OpenAPI definition which are ignored during import. Supported only for HTTP APIs.</p>"
        },
        "IpAddressType": {
          "shape": "IpAddressType",
          "locationName": "ipAddressType",
          "documentation": "<p>The IP address types that can invoke the API.</p>"
        },
        "Name": {
          "shape": "StringWithLengthBetween1And128",
          "locationName": "name",
          "documentation": "<p>The name of the API.</p>"
        },
        "ProtocolType": {
          "shape": "ProtocolType",
          "locationName": "protocolType",
          "documentation": "<p>The API protocol.</p>"
        },
        "RouteSelectionExpression": {
          "shape": "SelectionExpression",
          "locationName": "routeSelectionExpression",
          "documentation": "<p>The route selection expression for the API. For HTTP APIs, the routeSelectionExpression must be ${request.method} ${request.path}. If not provided, this will be the default for HTTP APIs. This property is required for WebSocket APIs.</p>"
        },
        "Tags": {
          "shape": "Tags",
          "locationName": "tags",
          "documentation": "<p>A collection of tags associated with the API.</p>"
        },
        "Version": {
          "shape": "StringWithLengthBetween1And64",
          "locationName": "version",
          "documentation": "<p>A version identifier for the API.</p>"
        },
        "Warnings": {
          "shape": "__listOf__string",
          "locationName": "warnings",
          "documentation": "<p>The warning messages reported when failonwarnings is turned on during API import.</p>"
        }
      },
      "documentation": "<p>Represents an API.</p>",
      "required": [
        "RouteSelectionExpression",
        "Name",
        "ProtocolType"
      ]
    },
    "ApiMapping": {
      "type": "structure",
      "members": {
        "ApiId": {
          "shape": "Id",
          "locationName": "apiId",
          "documentation": "<p>The API identifier.</p>"
        },
        "ApiMappingId": {
          "shape": "Id",
          "locationName": "apiMappingId",
          "documentation": "<p>The API mapping identifier.</p>"
        },
        "ApiMappingKey": {
          "shape": "SelectionKey",
          "locationName": "apiMappingKey",
          "documentation": "<p>The API mapping key.</p>"
        },
        "Stage": {
          "shape": "StringWithLengthBetween1And128",
          "locationName": "stage",
          "documentation": "<p>The API stage.</p>"
        }
      },
      "documentation": "<p>Represents an API mapping.</p>",
      "required": [
        "Stage",
        "ApiId"
      ]
    },
    "ApiMappings": {
      "type": "structure",
      "members": {
        "Items": {
          "shape": "__listOfApiMapping",
          "locationName": "items",
          "documentation": "<p>The elements from this collection.</p>"
        },
        "NextToken": {
          "shape": "NextToken",
          "locationName": "nextToken",
          "documentation": "<p>The next page of elements from this collection. Not valid for the last element of the collection.</p>"
        }
      },
      "documentation": "<p>Represents a collection of ApiMappings resources.</p>"
    },
    "Apis": {
      "type": "structure",
      "members": {
        "Items": {
          "shape": "__listOfApi",
          "locationName": "items",
          "documentation": "<p>The elements from this collection.</p>"
        },
        "NextToken": {
          "shape": "NextToken",
          "locationName": "nextToken",
          "documentation": "<p>The next page of elements from this collection. Not valid for the last element of the collection.</p>"
        }
      },
      "documentation": "<p>Represents a collection of APIs.</p>"
    },
    "Arn": {
      "type": "string",
      "documentation": "<p>Represents an Amazon Resource Name (ARN).</p>"
    },
    "AuthorizationScopes": {
      "type": "list",
      "documentation": "<p>A list of authorization scopes configured on a route. The scopes are used with a JWT authorizer to authorize the method invocation. The authorization works by matching the route scopes against the scopes parsed from the access token in the incoming request. The method invocation is authorized if any route scope matches a claimed scope in the access token. Otherwise, the invocation is not authorized. When the route scope is configured, the client must provide an access token instead of an identity token for authorization purposes.</p>",
      "member": {
        "shape": "StringWithLengthBetween1And64"
      }
    },
    "AuthorizationType": {
      "type": "string",
      "documentation": "<p>The authorization type. For WebSocket APIs, valid values are NONE for open access, AWS_IAM for using AWS IAM permissions, and CUSTOM for using a Lambda authorizer. For HTTP APIs, valid values are NONE for open access, JWT for using JSON Web Tokens, AWS_IAM for using AWS IAM permissions, and CUSTOM for using a Lambda authorizer.</p>",
      "enum": [
        "NONE",
        "AWS_IAM",
        "CUSTOM",
        "JWT"
      ]
    },
    "Authorizer": {
      "type": "structure",
      "members": {
        "AuthorizerCredentialsArn": {
          "shape": "Arn",
          "locationName": "authorizerCredentialsArn",
          "documentation": "<p>Specifies the required credentials as an IAM role for API Gateway to invoke the authorizer. To specify an IAM role for API Gateway to assume, use the role's Amazon Resource Name (ARN). To use resource-based permissions on the Lambda function, don't specify this parameter. Supported only for REQUEST authorizers.</p>"
        },
        "AuthorizerId": {
          "shape": "Id",
          "locationName": "authorizerId",
          "documentation": "<p>The authorizer identifier.</p>"
        },
        "AuthorizerPayloadFormatVersion": {
          "shape": "StringWithLengthBetween1And64",
          "locationName": "authorizerPayloadFormatVersion",
          "documentation": "<p>Specifies the format of the payload sent to an HTTP API Lambda authorizer. Required for HTTP API Lambda authorizers. Supported values are 1.0 and 2.0. To learn more, see <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-lambda-authorizer.html\">Working with AWS Lambda authorizers for HTTP APIs</a>.</p>"
        },
        "AuthorizerResultTtlInSeconds": {
          "shape": "IntegerWithLengthBetween0And3600",
          "locationName": "authorizerResultTtlInSeconds",
          "documentation": "<p>The time to live (TTL) for cached authorizer results, in seconds. If it equals 0, authorization caching is disabled. If it is greater than 0, API Gateway caches authorizer responses. The maximum value is 3600, or 1 hour. Supported only for HTTP API Lambda authorizers.</p>"
        },
        "AuthorizerType": {
          "shape": "AuthorizerType",
          "locationName": "authorizerType",
          "documentation": "<p>The authorizer type. Specify REQUEST for a Lambda function using incoming request parameters. Specify JWT to use JSON Web Tokens (supported only for HTTP APIs).</p>"
        },
        "AuthorizerUri": {
          "shape": "UriWithLengthBetween1And2048",
          "locationName": "authorizerUri",
          "documentation": "<p>The authorizer's Uniform Resource Identifier (URI). For REQUEST authorizers, this must be a well-formed Lambda function URI, for example, arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:<replaceable>{account_id}</replaceable>:function:<replaceable>{lambda_function_name}</replaceable>/invocations. In general, the URI has this form: arn:aws:apigateway:<replaceable>{region}</replaceable>:lambda:path/<replaceable>{service_api}</replaceable>\n               , where <replaceable></replaceable>{region} is the same as the region hosting the Lambda function, path indicates that the remaining substring in the URI should be treated as the path to the resource, including the initial /. For Lambda functions, this is usually of the form /2015-03-31/functions/[FunctionARN]/invocations. Supported only for REQUEST authorizers.</p>"
        },
        "EnableSimpleResponses": {
          "shape": "__boolean",
          "locationName": "enableSimpleResponses",
          "documentation": "<p>Specifies whether a Lambda authorizer returns a response in a simple format. If enabled, the Lambda authorizer can return a boolean value instead of an IAM policy. Supported only for HTTP APIs. To learn more, see <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-lambda-authorizer.html\">Working with AWS Lambda authorizers for HTTP APIs</a></p>"
        },
        "IdentitySource": {
          "shape": "IdentitySourceList",
          "locationName": "identitySource",
          "documentation": "<p>The identity source for which authorization is requested.</p> <p>For a REQUEST authorizer, this is optional. The value is a set of one or more mapping expressions of the specified request parameters. The identity source can be headers, query string parameters, stage variables, and context parameters. For example, if an Auth header and a Name query string parameter are defined as identity sources, this value is route.request.header.Auth, route.request.querystring.Name for WebSocket APIs. For HTTP APIs, use selection expressions prefixed with $, for example, $request.header.Auth, $request.querystring.Name. These parameters are used to perform runtime validation for Lambda-based authorizers by verifying all of the identity-related request parameters are present in the request, not null, and non-empty. Only when this is true does the authorizer invoke the authorizer Lambda function. Otherwise, it returns a 401 Unauthorized response without calling the Lambda function. For HTTP APIs, identity sources are also used as the cache key when caching is enabled. To learn more, see <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-lambda-authorizer.html\">Working with AWS Lambda authorizers for HTTP APIs</a>.</p> <p>For JWT, a single entry that specifies where to extract the JSON Web Token (JWT) from inbound requests. Currently only header-based and query parameter-based selections are supported, for example $request.header.Authorization.</p>"
        },
        "IdentityValidationExpression": {
          "shape": "StringWithLengthBetween0And1024",
          "locationName": "identityValidationExpression",
          "documentation": "<p>The validation expression does not apply to the REQUEST authorizer.</p>"
        },
        "JwtConfiguration": {
          "shape": "JWTConfiguration",
          "locationName": "jwtConfiguration",
          "documentation": "<p>Represents the configuration of a JWT authorizer. Required for the JWT authorizer type. Supported only for HTTP APIs.</p>"
        },
        "Name": {
          "shape": "StringWithLengthBetween1And128",
          "locationName": "name",
          "documentation": "<p>The name of the authorizer.</p>"
        }
      },
      "documentation": "<p>Represents an authorizer.</p>",
      "required": [
        "Name"
      ]
    },
    "AuthorizerType": {
      "type": "string",
      "documentation": "<p>The authorizer type. Specify REQUEST for a Lambda function using incoming request parameters. Specify JWT to use JSON Web Tokens (supported only for HTTP APIs).</p>",
      "enum": [
        "REQUEST",
        "JWT"
      ]
    },
    "Authorizers": {
      "type": "structure",
      "members": {
        "Items": {
          "shape": "__listOfAuthorizer",
          "locationName": "items",
          "documentation": "<p>The elements from this collection.</p>"
        },
        "NextToken": {
          "shape": "NextToken",
          "locationName": "nextToken",
          "documentation": "<p>The next page of elements from this collection. Not valid for the last element of the collection.</p>"
        }
      },
      "documentation": "<p>Represents a collection of authorizers.</p>"
    },
    "BadRequestException": {
      "type": "structure",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message",
          "documentation": "<p>Describes the error encountered.</p>"
        }
      },
      "documentation": "<p>The request is not valid, for example, the input is incomplete or incorrect. See the accompanying error message for details.</p>",
      "exception": true,
      "error": {
        "httpStatusCode": 400
      }
    },
    "ConflictException": {
      "type": "structure",
      "members": {
        "Message": {
          "shape": "__string",
          "locationName": "message",
          "documentation": "<p>Describes the error encountered.</p>"
        }
      },
      "documentation": "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request. See the accompanying error message for details.</p>",
      "exception": true,
      "error": {
        "httpStatusCode": 409
      }
    },
    "ConnectionType": {
      "type": "string",
      "documentation": "<p>Represents a connection type.</p>",
      "enum": [
        "INTERNET",
        "VPC_LINK"
      ]
    },
    "ContentHandlingStrategy": {
      "type": "string",
      "documentation": "<p>Specifies how to handle response payload content type conversions. Supported only for WebSocket APIs.</p>",
      "enum": [
        "CONVERT_TO_BINARY",
        "CONVERT_TO_TEXT"
      ]
    },
    "Cors": {
      "type": "structure",
      "members": {
        "AllowCredentials": {
          "shape": "__boolean",
          "locationName": "allowCredentials",
          "documentation": "<p>Specifies whether credentials are included in the CORS request. Supported only for HTTP APIs.</p>"
        },
        "AllowHeaders": {
          "shape": "CorsHeaderList",
          "locationName": "allowHeaders",
          "documentation": "<p>Represents a collection of allowed headers. Supported only for HTTP APIs.</p>"
        },
        "AllowMethods": {
          "shape": "CorsMethodList",
          "locationName": "allowMethods",
          "documentation": "<p>Represents a collection of allowed HTTP methods. Supported only for HTTP APIs.</p>"
        },
        "AllowOrigins": {
          "shape": "CorsOriginList",
          "locationName": "allowOrigins",
          "documentation": "<p>Represents a collection of allowed origins. Supported only for HTTP APIs.</p>"
        },
        "ExposeHeaders": {
          "shape": "CorsHeaderList",
          "locationName": "exposeHeaders",
          "documentation": "<p>Represents a collection of exposed headers. Supported only for HTTP APIs.</p>"
        },
        "MaxAge": {
          "shape": "IntegerWithLengthBetweenMinus1And86400",
          "locationName": "maxAge",
          "documentation": "<p>The number of seconds that the browser should cache preflight request results. Supported only for HTTP APIs.</p>"
        }
      },
      "documentation": "<p>Represents a CORS configuration. Supported only for HTTP APIs. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-cors.html\">Configuring CORS</a> for more information.</p>"
    },
    "CorsHeaderList": {
      "type": "list",
      "documentation": "<p>Represents a collection of allowed headers. Supported only for HTTP APIs.</p>",
      "member": {
        "shape": "__string"
      }
    },
    "CorsMethodList": {
      "type": "list",
      "documentation": "<p>Represents a collection of methods. Supported only for HTTP APIs.</p>",
      "member": {
        "shape": "StringWithLengthBetween1And64"
      }
    },
    "CorsOriginList": {
      "type": "list",
      "documentation": "<p>Represents a collection of origins. Supported only for HTTP APIs.</p>",
      "member": {
        "shape": "__string"
      }
    },
    "CreateApiInput": {
      "type": "structure",
      "members": {
        "ApiKeySelectionExpression": {
          "shape": "SelectionExpression",
          "locationName": "apiKeySelectionExpression",
          "documentation": "<p>An API key selection expression. Supported only for WebSocket APIs. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions\">API Key Selection Expressions</a>.</p>"
        },
        "CorsConfiguration": {
          "shape": "Cors",
          "locationName": "corsConfiguration",
          "documentation": "<p>A CORS configuration. Supported only for HTTP APIs. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-cors.html\">Configuring CORS</a> for more information.</p>"
        },
        "CredentialsArn": {
          "shape": "Arn",
          "locationName": "credentialsArn",
          "documentation": "<p>This property is part of quick create. It specifies the credentials required for the integration, if any. For a Lambda integration, three options are available. To specify an IAM Role for API Gateway to assume, use the role's Amazon Resource Name (ARN). To require that the caller's identity be passed through from the request, specify arn:aws:iam::*:user/*. To use resource-based permissions on supported AWS services, specify null. Currently, this property is not used for HTTP integrations. Supported only for HTTP APIs.</p>"
        },
        "Description": {
          "shape": "StringWithLengthBetween0And1024",
          "locationName": "description",
          "documentation": "<p>The description of the API.</p>"
        },
        "DisableSchemaValidation": {
          "shape": "__boolean",
          "locationName": "disableSchemaValidation",
          "documentation": "<p>Avoid validating models when creating a deployment. Supported only for WebSocket APIs.</p>"
        },
        "DisableExecuteApiEndpoint": {
          "shape": "__boolean",
          "locationName": "disableExecuteApiEndpoint",
          "documentation": "<p>Specifies whether clients can invoke your API by using the default execute-api endpoint. By default, clients can invoke your API with the default https://{api_id}.execute-api.{region}.amazonaws.com endpoint. To require that clients use a custom domain name to invoke your API, disable the default endpoint.</p>"
        },
        "Name": {
          "shape": "StringWithLengthBetween1And128",
          "locationName": "name",
          "documentation": "<p>The name of the API.</p>"
        },
        "ProtocolType": {
          "shape": "ProtocolType",
          "locationName": "protocolType",
          "documentation": "<p>The API protocol.</p>"
        },
        "RouteKey": {
          "shape": "SelectionKey",
          "locationName": "routeKey",
          "documentation": "<p>This property is part of quick create. If you don't specify a routeKey, a default route of $default is created. The $default route acts as a catch-all for any request made to your API, for a particular stage. The $default route key can't be modified. You can add routes after creating the API, and you can update the route keys of additional routes. Supported only for HTTP APIs.</p>"
        },
        "RouteSelectionExpression": {
          "shape": "SelectionExpression",
          "locationName": "routeSelectionExpression",
          "documentation": "<p>The route selection expression for the API. For HTTP APIs, the routeSelectionExpression must be ${request.method} ${request.path}. If not provided, this will be the default for HTTP APIs. This property is required for WebSocket APIs.</p>"
        },
        "Tags": {
          "shape": "Tags",
          "locationName": "tags",
          "documentation": "<p>The collection of tags. Each tag element is associated with a given resource.</p>"
        },
        "Target": {
          "shape": "UriWithLengthBetween1And2048",
          "locationName": "target",
          "documentation": "<p>This property is part of quick create. Quick create produces an API with an integration, a default catch-all route, and a default stage which is configured to automatically deploy changes. For HTTP integrations, specify a fully qualified URL. For Lambda integrations, specify a function ARN. The type of the integration will be HTTP_PROXY or AWS_PROXY, respectively. Supported only for HTTP APIs.</p>"
        },
        "Version": {
          "shape": "StringWithLengthBetween1And64",
          "locationName": "version",
          "documentation": "<p>A version identifier for the API.</p>"
        }
      },
      "documentation": "<p>Represents the input parameters for a CreateApi request.</p>",
      "required": [
        "ProtocolType",
        "Name"
      ]
    },
    "CreateApiMappingInput": {
      "type": "structure",
      "members": {
        "ApiId": {
          "shape": "Id",
          "locationName": "apiId",
          "documentation": "<p>The API identifier.</p>"
        },
        "ApiMappingKey": {
          "shape": "SelectionKey",
          "locationName": "apiMappingKey",
          "documentation": "The API mapping key."
        },
        "Stage": {
          "shape": "StringWithLengthBetween1And128",
          "locationName": "stage",
          "documentation": "<p>The API stage.</p>"
        }
      },
      "documentation": "<p>Represents the input parameters for a CreateApiMapping request.</p>",
      "required": [
        "Stage",
        "ApiId"
      ]
    },
    "CreateApiMappingRequest": {
      "type": "structure",
      "members": {
        "ApiId": {
          "shape": "Id",
          "locationName": "apiId",
          "documentation": "<p>The API identifier.</p>"
        },
        "ApiMappingKey": {
          "shape": "SelectionKey",
          "locationName": "apiMappingKey",
          "documentation": "The API mapping key."
        },
        "DomainName": {
          "shape": "__string",
          "location": "uri",
          "locationName": "domainName",
          "documentation": "<p>The domain name.</p>"
        },
        "Stage": {
          "shape": "StringWithLengthBetween1And128",
          "locationName": "stage",
          "documentation": "<p>The API stage.</p>"
        }
      },
      "documentation": "<p>Creates a new ApiMapping resource to represent an API mapping.</p>",
      "required": [
        "DomainName",
        "Stage",
        "ApiId"
      ]
    },
    "CreateApiMappingResponse": {
      "type": "structure",
      "members": {
        "ApiId": {
          "shape": "Id",
          "locationName": "apiId",
          "documentation": "<p>The API identifier.</p>"
        },
        "ApiMappingId": {
          "shape": "Id",
          "locationName": "apiMappingId",
          "documentation": "<p>The API mapping identifier.</p>"
        },
        "ApiMappingKey": {
          "shape": "SelectionKey",
          "locationName": "apiMappingKey",
          "documentation": "<p>The API mapping key.</p>"
        },
        "Stage": {
          "shape": "StringWithLengthBetween1And128",
          "locationName": "stage",
          "documentation": "<p>The API stage.</p>"
        }
      }
    },
    "CreateApiRequest": {
      "type": "structure",
      "members": {
        "ApiKeySelectionExpression": {
          "shape": "SelectionExpression",
          "locationName": "apiKeySelectionExpression",
          "documentation": "<p>An API key selection expression. Supported only for WebSocket APIs. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions\">API Key Selection Expressions</a>.</p>"
        },
        "CorsConfiguration": {
[...]
