<div class="row">
  <div class="user-list-item-body col-sm-9">
    <span class="name">
      {{component.clientName}}
    </span>
    <br>
    <span class="description">Last seen: {{component.lastUsed}}</span>
  </div>
  <div class="client-revoke col-sm-3">
    <button class="btn btn-red">REVOKE ACCESS</button>
  </div>
</div>
