<section class="reset-box js-reset-box fade-in">
    <form id="reset" class="reset-form" method="post" novalidate="novalidate" {{action "submit" on="submit"}}>
        <div class="password-wrap">
            {{input value=newPassword class="password" type="password" placeholder="密码" name="newpassword" autofocus="autofocus" }}
        </div>
        <div class="password-wrap">
            {{input value=ne2Password class="password" type="password" placeholder="再输入一遍密码" name="ne2password" }}
        </div>
        <button class="btn btn-blue" type="submit" disabled={{submitting}}>重置密码</button>
    </form>
</section>
