<div class="gh-flow">

    <header class="gh-flow-head">
        <nav class="gh-flow-nav">
            {{!-- TODO: this should only appear on screens 2 & 3 --}}
            <a class="gh-flow-back" href="#"><i class="icon-arrow-left"></i> Back</a>
            <ol>
                {{#gh-activating-list-item route="setup.one" linkClasses="step"}}
                    <i class="icon-check"></i><span class="num">1</span>
                {{/gh-activating-list-item}}
                <li class="divider"></li>
                {{#gh-activating-list-item route="setup.two" linkClasses="step"}}
                    <i class="icon-check"></i><span class="num">2</span>
                {{/gh-activating-list-item}}
                <li class="divider"></li>
                {{#gh-activating-list-item route="setup.three" linkClasses="step"}}
                    <i class="icon-check"></i><span class="num">3</span>
                {{/gh-activating-list-item}}
            </ol>
        </nav>
    </header>

    <div class="gh-flow-content-wrap">
        {{outlet}}
    </div>

</div>
