<div class="gh-flow">
    <header class="gh-flow-head">
        <nav class="gh-flow-nav">
            {{#if showBackLink}}
                {{#link-to backRoute classNames="gh-flow-back"}}<i class="icon-arrow-left"></i> Back{{/link-to}}
            {{/if}}
            <ol>
                {{#gh-activating-list-item route="setup.one" linkClasses="step"}}
                    <i class="icon-check"></i><span class="num">1</span>
                {{/gh-activating-list-item}}
                <li class="divider"></li>
                {{#gh-activating-list-item route="setup.two" linkClasses="step"}}
                    <i class="icon-check"></i><span class="num">2</span>
                {{/gh-activating-list-item}}
                <li class="divider"></li>
                {{#gh-activating-list-item route="setup.three" linkClasses="step"}}
                    <i class="icon-check"></i><span class="num">3</span>
                {{/gh-activating-list-item}}
            </ol>
        </nav>
    </header>
    <div class="gh-flow-content-wrap">
        <section class="gh-flow-content">
            {{outlet}}
        </section>
    </div>
</div>
