<div class="gh-flow">
    <div class="gh-flow-content-wrap">
        <section class="gh-flow-content">
            <form id="login" class="gh-signin" method="post" novalidate="novalidate">
                {{#gh-validated-input-container valuePath="identification" model=model update=(action (mut model.identification)) as |value actions|}}
                    <span class="input-icon icon-mail">
                        {{gh-trim-focus-input-oneway value class="gh-input email" type="email" placeholder="Email Address" name="identification" autocapitalize="off" autocorrect="off" tabindex="1" onblur=actions.onblur update=actions.update}}
                    </span>
                {{/gh-validated-input-container}}

                {{#gh-validated-input-container valuePath="password" model=model update=(action (mut model.password)) as |value actions|}}
                    <span class="input-icon icon-lock forgotten-wrap">
                        {{one-way-input value class="gh-input password" type="password" placeholder="Password" name="password" tabindex="2" autocorrect="off" onblur=actions.onblur update=actions.update}}
                        {{#gh-spin-button class="forgotten-link btn btn-link" type="button" action="forgotten" tabindex="4" submitting=submitting autoWidth="true"}}Forgot?{{/gh-spin-button}}
                    </span>
                {{/gh-validated-input-container}}
                {{#gh-spin-button class="login btn btn-blue btn-block" type="submit" action="validateAndAuthenticate" tabindex="3" submitting=loggingIn autoWidth="false"}}Sign in{{/gh-spin-button}}
            </form>

            <p class="main-error">{{{flowErrors}}}</p>
        </section>
    </div>
</div>
