{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2010-12-01",
    "endpointPrefix":"email",
    "protocol":"query",
    "protocols":["query"],
    "serviceAbbreviation":"Amazon SES",
    "serviceFullName":"Amazon Simple Email Service",
    "serviceId":"SES",
    "signatureVersion":"v4",
    "signingName":"ses",
    "uid":"email-2010-12-01",
    "xmlNamespace":"http://ses.amazonaws.com/doc/2010-12-01/",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "CloneReceiptRuleSet":{
      "name":"CloneReceiptRuleSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CloneReceiptRuleSetRequest"},
      "output":{
        "shape":"CloneReceiptRuleSetResponse",
        "resultWrapper":"CloneReceiptRuleSetResult"
      },
      "errors":[
        {"shape":"RuleSetDoesNotExistException"},
        {"shape":"AlreadyExistsException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a receipt rule set by cloning an existing one. All receipt rules and configurations are copied to the new receipt rule set and are completely independent of the source rule set.</p> <p>For information about setting up rule sets, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/receiving-email-concepts.html#receiving-email-concepts-rules\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "CreateConfigurationSet":{
      "name":"CreateConfigurationSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateConfigurationSetRequest"},
      "output":{
        "shape":"CreateConfigurationSetResponse",
        "resultWrapper":"CreateConfigurationSetResult"
      },
      "errors":[
        {"shape":"ConfigurationSetAlreadyExistsException"},
        {"shape":"InvalidConfigurationSetException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a configuration set.</p> <p>Configuration sets enable you to publish email sending events. For information about using configuration sets, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/monitor-sending-activity.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "CreateConfigurationSetEventDestination":{
      "name":"CreateConfigurationSetEventDestination",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateConfigurationSetEventDestinationRequest"},
      "output":{
        "shape":"CreateConfigurationSetEventDestinationResponse",
        "resultWrapper":"CreateConfigurationSetEventDestinationResult"
      },
      "errors":[
        {"shape":"ConfigurationSetDoesNotExistException"},
        {"shape":"EventDestinationAlreadyExistsException"},
        {"shape":"InvalidCloudWatchDestinationException"},
        {"shape":"InvalidFirehoseDestinationException"},
        {"shape":"InvalidSNSDestinationException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a configuration set event destination.</p> <note> <p>When you create or update an event destination, you must provide one, and only one, destination. The destination can be CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS).</p> </note> <p>An event destination is the Amazon Web Services service to which Amazon SES publishes the email sending events associated with a configuration set. For information about using configuration sets, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/monitor-sending-activity.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "CreateConfigurationSetTrackingOptions":{
      "name":"CreateConfigurationSetTrackingOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateConfigurationSetTrackingOptionsRequest"},
      "output":{
        "shape":"CreateConfigurationSetTrackingOptionsResponse",
        "resultWrapper":"CreateConfigurationSetTrackingOptionsResult"
      },
      "errors":[
        {"shape":"ConfigurationSetDoesNotExistException"},
        {"shape":"TrackingOptionsAlreadyExistsException"},
        {"shape":"InvalidTrackingOptionsException"}
      ],
      "documentation":"<p>Creates an association between a configuration set and a custom domain for open and click event tracking. </p> <p>By default, images and links used for tracking open and click events are hosted on domains operated by Amazon SES. You can configure a subdomain of your own to handle these events. For information about using custom domains, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/configure-custom-open-click-domains.html\">Amazon SES Developer Guide</a>.</p>"
    },
    "CreateCustomVerificationEmailTemplate":{
      "name":"CreateCustomVerificationEmailTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCustomVerificationEmailTemplateRequest"},
      "errors":[
        {"shape":"CustomVerificationEmailTemplateAlreadyExistsException"},
        {"shape":"FromEmailAddressNotVerifiedException"},
        {"shape":"CustomVerificationEmailInvalidContentException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a new custom verification email template.</p> <p>For more information about custom verification email templates, see <a href=\"https://docs.aws.amazon.com/ses/latest/dg/creating-identities.html#send-email-verify-address-custom\">Using Custom Verification Email Templates</a> in the <i>Amazon SES Developer Guide</i>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "CreateReceiptFilter":{
      "name":"CreateReceiptFilter",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateReceiptFilterRequest"},
      "output":{
        "shape":"CreateReceiptFilterResponse",
        "resultWrapper":"CreateReceiptFilterResult"
      },
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"AlreadyExistsException"}
      ],
      "documentation":"<p>Creates a new IP address filter.</p> <p>For information about setting up IP address filters, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/receiving-email-ip-filtering-console-walkthrough.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "CreateReceiptRule":{
      "name":"CreateReceiptRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateReceiptRuleRequest"},
      "output":{
        "shape":"CreateReceiptRuleResponse",
        "resultWrapper":"CreateReceiptRuleResult"
      },
      "errors":[
        {"shape":"InvalidSnsTopicException"},
        {"shape":"InvalidS3ConfigurationException"},
        {"shape":"InvalidLambdaFunctionException"},
        {"shape":"AlreadyExistsException"},
        {"shape":"RuleDoesNotExistException"},
        {"shape":"RuleSetDoesNotExistException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a receipt rule.</p> <p>For information about setting up receipt rules, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/receiving-email-receipt-rules-console-walkthrough.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "CreateReceiptRuleSet":{
      "name":"CreateReceiptRuleSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateReceiptRuleSetRequest"},
      "output":{
        "shape":"CreateReceiptRuleSetResponse",
        "resultWrapper":"CreateReceiptRuleSetResult"
      },
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates an empty receipt rule set.</p> <p>For information about setting up receipt rule sets, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/receiving-email-concepts.html#receiving-email-concepts-rules\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "CreateTemplate":{
      "name":"CreateTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTemplateRequest"},
      "output":{
        "shape":"CreateTemplateResponse",
        "resultWrapper":"CreateTemplateResult"
      },
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"InvalidTemplateException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates an email template. Email templates enable you to send personalized email to one or more destinations in a single operation. For more information, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/send-personalized-email-api.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "DeleteConfigurationSet":{
      "name":"DeleteConfigurationSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteConfigurationSetRequest"},
      "output":{
        "shape":"DeleteConfigurationSetResponse",
        "resultWrapper":"DeleteConfigurationSetResult"
      },
      "errors":[
        {"shape":"ConfigurationSetDoesNotExistException"}
      ],
      "documentation":"<p>Deletes a configuration set. Configuration sets enable you to publish email sending events. For information about using configuration sets, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/monitor-sending-activity.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "DeleteConfigurationSetEventDestination":{
      "name":"DeleteConfigurationSetEventDestination",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteConfigurationSetEventDestinationRequest"},
      "output":{
        "shape":"DeleteConfigurationSetEventDestinationResponse",
        "resultWrapper":"DeleteConfigurationSetEventDestinationResult"
      },
      "errors":[
        {"shape":"ConfigurationSetDoesNotExistException"},
        {"shape":"EventDestinationDoesNotExistException"}
      ],
      "documentation":"<p>Deletes a configuration set event destination. Configuration set event destinations are associated with configuration sets, which enable you to publish email sending events. For information about using configuration sets, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/monitor-sending-activity.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "DeleteConfigurationSetTrackingOptions":{
      "name":"DeleteConfigurationSetTrackingOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteConfigurationSetTrackingOptionsRequest"},
      "output":{
        "shape":"DeleteConfigurationSetTrackingOptionsResponse",
        "resultWrapper":"DeleteConfigurationSetTrackingOptionsResult"
      },
      "errors":[
        {"shape":"ConfigurationSetDoesNotExistException"},
        {"shape":"TrackingOptionsDoesNotExistException"}
      ],
      "documentation":"<p>Deletes an association between a configuration set and a custom domain for open and click event tracking.</p> <p>By default, images and links used for tracking open and click events are hosted on domains operated by Amazon SES. You can configure a subdomain of your own to handle these events. For information about using custom domains, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/configure-custom-open-click-domains.html\">Amazon SES Developer Guide</a>.</p> <note> <p>Deleting this kind of association results in emails sent using the specified configuration set to capture open and click events using the standard, Amazon SES-operated domains.</p> </note>"
    },
    "DeleteCustomVerificationEmailTemplate":{
      "name":"DeleteCustomVerificationEmailTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCustomVerificationEmailTemplateRequest"},
      "documentation":"<p>Deletes an existing custom verification email template. </p> <p>For more information about custom verification email templates, see <a href=\"https://docs.aws.amazon.com/ses/latest/dg/creating-identities.html#send-email-verify-address-custom\">Using Custom Verification Email Templates</a> in the <i>Amazon SES Developer Guide</i>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "DeleteIdentity":{
      "name":"DeleteIdentity",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteIdentityRequest"},
      "output":{
        "shape":"DeleteIdentityResponse",
        "resultWrapper":"DeleteIdentityResult"
      },
      "documentation":"<p>Deletes the specified identity (an email address or a domain) from the list of verified identities.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "DeleteIdentityPolicy":{
      "name":"DeleteIdentityPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteIdentityPolicyRequest"},
      "output":{
        "shape":"DeleteIdentityPolicyResponse",
        "resultWrapper":"DeleteIdentityPolicyResult"
      },
      "documentation":"<p>Deletes the specified sending authorization policy for the given identity (an email address or a domain). This operation returns successfully even if a policy with the specified name does not exist.</p> <note> <p>This operation is for the identity owner only. If you have not verified the identity, it returns an error.</p> </note> <p>Sending authorization is a feature that enables an identity owner to authorize other senders to use its identities. For information about using sending authorization, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/sending-authorization.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "DeleteReceiptFilter":{
      "name":"DeleteReceiptFilter",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteReceiptFilterRequest"},
      "output":{
        "shape":"DeleteReceiptFilterResponse",
        "resultWrapper":"DeleteReceiptFilterResult"
      },
      "documentation":"<p>Deletes the specified IP address filter.</p> <p>For information about managing IP address filters, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/receiving-email-ip-filtering-console-walkthrough.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "DeleteReceiptRule":{
      "name":"DeleteReceiptRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteReceiptRuleRequest"},
      "output":{
        "shape":"DeleteReceiptRuleResponse",
        "resultWrapper":"DeleteReceiptRuleResult"
      },
      "errors":[
        {"shape":"RuleSetDoesNotExistException"}
      ],
      "documentation":"<p>Deletes the specified receipt rule.</p> <p>For information about managing receipt rules, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/receiving-email-receipt-rules-console-walkthrough.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "DeleteReceiptRuleSet":{
      "name":"DeleteReceiptRuleSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteReceiptRuleSetRequest"},
      "output":{
        "shape":"DeleteReceiptRuleSetResponse",
        "resultWrapper":"DeleteReceiptRuleSetResult"
      },
      "errors":[
        {"shape":"CannotDeleteException"}
      ],
      "documentation":"<p>Deletes the specified receipt rule set and all of the receipt rules it contains.</p> <note> <p>The currently active rule set cannot be deleted.</p> </note> <p>For information about managing receipt rule sets, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/receiving-email-receipt-rules-console-walkthrough.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "DeleteTemplate":{
      "name":"DeleteTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTemplateRequest"},
      "output":{
        "shape":"DeleteTemplateResponse",
        "resultWrapper":"DeleteTemplateResult"
      },
      "documentation":"<p>Deletes an email template.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "DeleteVerifiedEmailAddress":{
      "name":"DeleteVerifiedEmailAddress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVerifiedEmailAddressRequest"},
      "documentation":"<p>Deprecated. Use the <code>DeleteIdentity</code> operation to delete email addresses and domains.</p>"
    },
    "DescribeActiveReceiptRuleSet":{
      "name":"DescribeActiveReceiptRuleSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeActiveReceiptRuleSetRequest"},
      "output":{
        "shape":"DescribeActiveReceiptRuleSetResponse",
        "resultWrapper":"DescribeActiveReceiptRuleSetResult"
      },
      "documentation":"<p>Returns the metadata and receipt rules for the receipt rule set that is currently active.</p> <p>For information about setting up receipt rule sets, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/receiving-email-concepts.html#receiving-email-concepts-rules\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "DescribeConfigurationSet":{
      "name":"DescribeConfigurationSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeConfigurationSetRequest"},
      "output":{
        "shape":"DescribeConfigurationSetResponse",
        "resultWrapper":"DescribeConfigurationSetResult"
      },
      "errors":[
        {"shape":"ConfigurationSetDoesNotExistException"}
      ],
      "documentation":"<p>Returns the details of the specified configuration set. For information about using configuration sets, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/monitor-sending-activity.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "DescribeReceiptRule":{
      "name":"DescribeReceiptRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReceiptRuleRequest"},
      "output":{
        "shape":"DescribeReceiptRuleResponse",
        "resultWrapper":"DescribeReceiptRuleResult"
      },
      "errors":[
        {"shape":"RuleDoesNotExistException"},
        {"shape":"RuleSetDoesNotExistException"}
      ],
      "documentation":"<p>Returns the details of the specified receipt rule.</p> <p>For information about setting up receipt rules, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/receiving-email-receipt-rules-console-walkthrough.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "DescribeReceiptRuleSet":{
      "name":"DescribeReceiptRuleSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReceiptRuleSetRequest"},
      "output":{
        "shape":"DescribeReceiptRuleSetResponse",
        "resultWrapper":"DescribeReceiptRuleSetResult"
      },
      "errors":[
        {"shape":"RuleSetDoesNotExistException"}
      ],
      "documentation":"<p>Returns the details of the specified receipt rule set.</p> <p>For information about managing receipt rule sets, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/receiving-email-receipt-rules-console-walkthrough.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "GetAccountSendingEnabled":{
      "name":"GetAccountSendingEnabled",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"GetAccountSendingEnabledResponse",
        "resultWrapper":"GetAccountSendingEnabledResult"
      },
      "documentation":"<p>Returns the email sending status of the Amazon SES account for the current Region.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "GetCustomVerificationEmailTemplate":{
      "name":"GetCustomVerificationEmailTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCustomVerificationEmailTemplateRequest"},
      "output":{
        "shape":"GetCustomVerificationEmailTemplateResponse",
        "resultWrapper":"GetCustomVerificationEmailTemplateResult"
      },
      "errors":[
        {"shape":"CustomVerificationEmailTemplateDoesNotExistException"}
      ],
      "documentation":"<p>Returns the custom email verification template for the template name you specify.</p> <p>For more information about custom verification email templates, see <a href=\"https://docs.aws.amazon.com/ses/latest/dg/creating-identities.html#send-email-verify-address-custom\">Using Custom Verification Email Templates</a> in the <i>Amazon SES Developer Guide</i>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "GetIdentityDkimAttributes":{
      "name":"GetIdentityDkimAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetIdentityDkimAttributesRequest"},
      "output":{
        "shape":"GetIdentityDkimAttributesResponse",
        "resultWrapper":"GetIdentityDkimAttributesResult"
      },
      "documentation":"<p>Returns the current status of Easy DKIM signing for an entity. For domain name identities, this operation also returns the DKIM tokens that are required for Easy DKIM signing, and whether Amazon SES has successfully verified that these tokens have been published.</p> <p>This operation takes a list of identities as input and returns the following information for each:</p> <ul> <li> <p>Whether Easy DKIM signing is enabled or disabled.</p> </li> <li> <p>A set of DKIM tokens that represent the identity. If the identity is an email address, the tokens represent the domain of that address.</p> </li> <li> <p>Whether Amazon SES has successfully verified the DKIM tokens published in the domain's DNS. This information is only returned for domain name identities, not for email addresses.</p> </li> </ul> <p>This operation is throttled at one request per second and can only get DKIM attributes for up to 100 identities at a time.</p> <p>For more information about creating DNS records using DKIM tokens, go to the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/send-email-authentication-dkim-easy-managing.html\">Amazon SES Developer Guide</a>.</p>"
    },
    "GetIdentityMailFromDomainAttributes":{
      "name":"GetIdentityMailFromDomainAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetIdentityMailFromDomainAttributesRequest"},
      "output":{
        "shape":"GetIdentityMailFromDomainAttributesResponse",
        "resultWrapper":"GetIdentityMailFromDomainAttributesResult"
      },
      "documentation":"<p>Returns the custom MAIL FROM attributes for a list of identities (email addresses : domains).</p> <p>This operation is throttled at one request per second and can only get custom MAIL FROM attributes for up to 100 identities at a time.</p>"
    },
    "GetIdentityNotificationAttributes":{
      "name":"GetIdentityNotificationAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetIdentityNotificationAttributesRequest"},
      "output":{
        "shape":"GetIdentityNotificationAttributesResponse",
        "resultWrapper":"GetIdentityNotificationAttributesResult"
      },
      "documentation":"<p>Given a list of verified identities (email addresses and/or domains), returns a structure describing identity notification attributes.</p> <p>This operation is throttled at one request per second and can only get notification attributes for up to 100 identities at a time.</p> <p>For more information about using notifications with Amazon SES, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/monitor-sending-activity-using-notifications.html\">Amazon SES Developer Guide</a>.</p>"
    },
    "GetIdentityPolicies":{
      "name":"GetIdentityPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetIdentityPoliciesRequest"},
      "output":{
        "shape":"GetIdentityPoliciesResponse",
        "resultWrapper":"GetIdentityPoliciesResult"
      },
      "documentation":"<p>Returns the requested sending authorization policies for the given identity (an email address or a domain). The policies are returned as a map of policy names to policy contents. You can retrieve a maximum of 20 policies at a time.</p> <note> <p>This operation is for the identity owner only. If you have not verified the identity, it returns an error.</p> </note> <p>Sending authorization is a feature that enables an identity owner to authorize other senders to use its identities. For information about using sending authorization, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/sending-authorization.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "GetIdentityVerificationAttributes":{
      "name":"GetIdentityVerificationAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetIdentityVerificationAttributesRequest"},
      "output":{
        "shape":"GetIdentityVerificationAttributesResponse",
        "resultWrapper":"GetIdentityVerificationAttributesResult"
      },
      "documentation":"<p>Given a list of identities (email addresses and/or domains), returns the verification status and (for domain identities) the verification token for each identity.</p> <p>The verification status of an email address is \"Pending\" until the email address owner clicks the link within the verification email that Amazon SES sent to that address. If the email address owner clicks the link within 24 hours, the verification status of the email address changes to \"Success\". If the link is not clicked within 24 hours, the verification status changes to \"Failed.\" In that case, to verify the email address, you must restart the verification process from the beginning.</p> <p>For domain identities, the domain's verification status is \"Pending\" as Amazon SES searches for the required TXT record in the DNS settings of the domain. When Amazon SES detects the record, the domain's verification status changes to \"Success\". If Amazon SES is unable to detect the record within 72 hours, the domain's verification status changes to \"Failed.\" In that case, to verify the domain, you must restart the verification process from the beginning.</p> <p>This operation is throttled at one request per second and can only get verification attributes for up to 100 identities at a time.</p>"
    },
    "GetSendQuota":{
      "name":"GetSendQuota",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"GetSendQuotaResponse",
        "resultWrapper":"GetSendQuotaResult"
      },
      "documentation":"<p>Provides the sending limits for the Amazon SES account. </p> <p>You can execute this operation no more than once per second.</p>"
    },
    "GetSendStatistics":{
      "name":"GetSendStatistics",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"GetSendStatisticsResponse",
        "resultWrapper":"GetSendStatisticsResult"
      },
      "documentation":"<p>Provides sending statistics for the current Amazon Web Services Region. The result is a list of data points, representing the last two weeks of sending activity. Each data point in the list contains statistics for a 15-minute period of time.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "GetTemplate":{
      "name":"GetTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTemplateRequest"},
      "output":{
        "shape":"GetTemplateResponse",
        "resultWrapper":"GetTemplateResult"
      },
      "errors":[
        {"shape":"TemplateDoesNotExistException"}
      ],
      "documentation":"<p>Displays the template object (which includes the Subject line, HTML part and text part) for the template you specify.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "ListConfigurationSets":{
      "name":"ListConfigurationSets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListConfigurationSetsRequest"},
      "output":{
        "shape":"ListConfigurationSetsResponse",
        "resultWrapper":"ListConfigurationSetsResult"
      },
      "documentation":"<p>Provides a list of the configuration sets associated with your Amazon SES account in the current Amazon Web Services Region. For information about using configuration sets, see <a href=\"https://docs.aws.amazon.com/ses/latest/dg/monitor-sending-activity.html\">Monitoring Your Amazon SES Sending Activity</a> in the <i>Amazon SES Developer Guide.</i> </p> <p>You can execute this operation no more than once per second. This operation returns up to 1,000 configuration sets each time it is run. If your Amazon SES account has more than 1,000 configuration sets, this operation also returns <code>NextToken</code>. You can then execute the <code>ListConfigurationSets</code> operation again, passing the <code>NextToken</code> parameter and the value of the NextToken element to retrieve additional results.</p>"
    },
    "ListCustomVerificationEmailTemplates":{
      "name":"ListCustomVerificationEmailTemplates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCustomVerificationEmailTemplatesRequest"},
      "output":{
        "shape":"ListCustomVerificationEmailTemplatesResponse",
        "resultWrapper":"ListCustomVerificationEmailTemplatesResult"
      },
      "documentation":"<p>Lists the existing custom verification email templates for your account in the current Amazon Web Services Region.</p> <p>For more information about custom verification email templates, see <a href=\"https://docs.aws.amazon.com/ses/latest/dg/creating-identities.html#send-email-verify-address-custom\">Using Custom Verification Email Templates</a> in the <i>Amazon SES Developer Guide</i>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "ListIdentities":{
      "name":"ListIdentities",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListIdentitiesRequest"},
      "output":{
        "shape":"ListIdentitiesResponse",
        "resultWrapper":"ListIdentitiesResult"
      },
      "documentation":"<p>Returns a list containing all of the identities (email addresses and domains) for your Amazon Web Services account in the current Amazon Web Services Region, regardless of verification status.</p> <p>You can execute this operation no more than once per second.</p> <note> <p>It's recommended that for successive pagination calls of this API, you continue to the use the same parameter/value pairs as used in the original call, e.g., if you used <code>IdentityType=Domain</code> in the the original call and received a <code>NextToken</code> in the response, you should continue providing the <code>IdentityType=Domain</code> parameter for further <code>NextToken</code> calls; however, if you didn't provide the <code>IdentityType</code> parameter in the original call, then continue to not provide it for successive pagination calls. Using this protocol will ensure consistent results.</p> </note>"
    },
    "ListIdentityPolicies":{
      "name":"ListIdentityPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListIdentityPoliciesRequest"},
      "output":{
        "shape":"ListIdentityPoliciesResponse",
        "resultWrapper":"ListIdentityPoliciesResult"
      },
      "documentation":"<p>Returns a list of sending authorization policies that are attached to the given identity (an email address or a domain). This operation returns only a list. To get the actual policy content, use <code>GetIdentityPolicies</code>.</p> <note> <p>This operation is for the identity owner only. If you have not verified the identity, it returns an error.</p> </note> <p>Sending authorization is a feature that enables an identity owner to authorize other senders to use its identities. For information about using sending authorization, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/sending-authorization.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "ListReceiptFilters":{
      "name":"ListReceiptFilters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListReceiptFiltersRequest"},
      "output":{
        "shape":"ListReceiptFiltersResponse",
        "resultWrapper":"ListReceiptFiltersResult"
      },
      "documentation":"<p>Lists the IP address filters associated with your Amazon Web Services account in the current Amazon Web Services Region.</p> <p>For information about managing IP address filters, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/receiving-email-ip-filtering-console-walkthrough.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "ListReceiptRuleSets":{
      "name":"ListReceiptRuleSets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListReceiptRuleSetsRequest"},
      "output":{
        "shape":"ListReceiptRuleSetsResponse",
        "resultWrapper":"ListReceiptRuleSetsResult"
      },
      "documentation":"<p>Lists the receipt rule sets that exist under your Amazon Web Services account in the current Amazon Web Services Region. If there are additional receipt rule sets to be retrieved, you receive a <code>NextToken</code> that you can provide to the next call to <code>ListReceiptRuleSets</code> to retrieve the additional entries.</p> <p>For information about managing receipt rule sets, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/receiving-email-receipt-rules-console-walkthrough.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "ListTemplates":{
      "name":"ListTemplates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTemplatesRequest"},
      "output":{
        "shape":"ListTemplatesResponse",
        "resultWrapper":"ListTemplatesResult"
      },
      "documentation":"<p>Lists the email templates present in your Amazon SES account in the current Amazon Web Services Region.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "ListVerifiedEmailAddresses":{
      "name":"ListVerifiedEmailAddresses",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"ListVerifiedEmailAddressesResponse",
        "resultWrapper":"ListVerifiedEmailAddressesResult"
      },
      "documentation":"<p>Deprecated. Use the <code>ListIdentities</code> operation to list the email addresses and domains associated with your account.</p>"
    },
    "PutConfigurationSetDeliveryOptions":{
      "name":"PutConfigurationSetDeliveryOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutConfigurationSetDeliveryOptionsRequest"},
      "output":{
        "shape":"PutConfigurationSetDeliveryOptionsResponse",
        "resultWrapper":"PutConfigurationSetDeliveryOptionsResult"
      },
      "errors":[
        {"shape":"ConfigurationSetDoesNotExistException"},
        {"shape":"InvalidDeliveryOptionsException"}
      ],
      "documentation":"<p>Adds or updates the delivery options for a configuration set.</p>"
    },
    "PutIdentityPolicy":{
      "name":"PutIdentityPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutIdentityPolicyRequest"},
      "output":{
        "shape":"PutIdentityPolicyResponse",
        "resultWrapper":"PutIdentityPolicyResult"
      },
      "errors":[
        {"shape":"InvalidPolicyException"}
      ],
      "documentation":"<p>Adds or updates a sending authorization policy for the specified identity (an email address or a domain).</p> <note> <p>This operation is for the identity owner only. If you have not verified the identity, it returns an error.</p> </note> <p>Sending authorization is a feature that enables an identity owner to authorize other senders to use its identities. For information about using sending authorization, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/sending-authorization.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "ReorderReceiptRuleSet":{
      "name":"ReorderReceiptRuleSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ReorderReceiptRuleSetRequest"},
      "output":{
        "shape":"ReorderReceiptRuleSetResponse",
        "resultWrapper":"ReorderReceiptRuleSetResult"
      },
      "errors":[
        {"shape":"RuleSetDoesNotExistException"},
        {"shape":"RuleDoesNotExistException"}
      ],
      "documentation":"<p>Reorders the receipt rules within a receipt rule set.</p> <note> <p>All of the rules in the rule set must be represented in this request. That is, it is error if the reorder request doesn't explicitly position all of the rules.</p> </note> <p>For information about managing receipt rule sets, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/receiving-email-receipt-rules-console-walkthrough.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "SendBounce":{
      "name":"SendBounce",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SendBounceRequest"},
      "output":{
        "shape":"SendBounceResponse",
        "resultWrapper":"SendBounceResult"
      },
      "errors":[
        {"shape":"MessageRejected"}
      ],
      "documentation":"<p>Generates and sends a bounce message to the sender of an email you received through Amazon SES. You can only use this operation on an email up to 24 hours after you receive it.</p> <note> <p>You cannot use this operation to send generic bounces for mail that was not received by Amazon SES.</p> </note> <p>For information about receiving email through Amazon SES, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/receiving-email.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "SendBulkTemplatedEmail":{
      "name":"SendBulkTemplatedEmail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SendBulkTemplatedEmailRequest"},
      "output":{
        "shape":"SendBulkTemplatedEmailResponse",
        "resultWrapper":"SendBulkTemplatedEmailResult"
      },
      "errors":[
        {"shape":"MessageRejected"},
        {"shape":"MailFromDomainNotVerifiedException"},
        {"shape":"ConfigurationSetDoesNotExistException"},
        {"shape":"TemplateDoesNotExistException"},
        {"shape":"ConfigurationSetSendingPausedException"},
        {"shape":"AccountSendingPausedException"}
      ],
      "documentation":"<p>Composes an email message to multiple destinations. The message body is created using an email template.</p> <p>To send email using this operation, your call must meet the following requirements:</p> <ul> <li> <p>The call must refer to an existing email template. You can create email templates using <a>CreateTemplate</a>.</p> </li> <li> <p>The message must be sent from a verified email address or domain.</p> </li> <li> <p>If your account is still in the Amazon SES sandbox, you may send only to verified addresses or domains, or to email addresses associated with the Amazon SES Mailbox Simulator. For more information, see <a href=\"https://docs.aws.amazon.com/ses/latest/dg/verify-addresses-and-domains.html\">Verifying Email Addresses and Domains</a> in the <i>Amazon SES Developer Guide.</i> </p> </li> <li> <p>The maximum message size is 10 MB.</p> </li> <li> <p>Each <code>Destination</code> parameter must include at least one recipient email address. The recipient address can be a To: address, a CC: address, or a BCC: address. If a recipient email address is invalid (that is, it is not in the format <i>UserName@[SubDomain.]Domain.TopLevelDomain</i>), the entire message is rejected, even if the message contains other recipients that are valid.</p> </li> <li> <p>The message may not include more than 50 recipients, across the To:, CC: and BCC: fields. If you need to send an email message to a larger audience, you can divide your recipient list into groups of 50 or fewer, and then call the <code>SendBulkTemplatedEmail</code> operation several times to send the message to each group.</p> </li> <li> <p>The number of destinations you can contact in a single call can be limited by your account's maximum sending rate.</p> </li> </ul>"
    },
    "SendCustomVerificationEmail":{
      "name":"SendCustomVerificationEmail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SendCustomVerificationEmailRequest"},
      "output":{
        "shape":"SendCustomVerificationEmailResponse",
        "resultWrapper":"SendCustomVerificationEmailResult"
      },
      "errors":[
        {"shape":"MessageRejected"},
        {"shape":"ConfigurationSetDoesNotExistException"},
        {"shape":"CustomVerificationEmailTemplateDoesNotExistException"},
        {"shape":"FromEmailAddressNotVerifiedException"},
        {"shape":"ProductionAccessNotGrantedException"}
      ],
      "documentation":"<p>Adds an email address to the list of identities for your Amazon SES account in the current Amazon Web Services Region and attempts to verify it. As a result of executing this operation, a customized verification email is sent to the specified address.</p> <p>To use this operation, you must first create a custom verification email template. For more information about creating and using custom verification email templates, see <a href=\"https://docs.aws.amazon.com/ses/latest/dg/creating-identities.html#send-email-verify-address-custom\">Using Custom Verification Email Templates</a> in the <i>Amazon SES Developer Guide</i>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "SendEmail":{
      "name":"SendEmail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SendEmailRequest"},
      "output":{
        "shape":"SendEmailResponse",
        "resultWrapper":"SendEmailResult"
      },
      "errors":[
        {"shape":"MessageRejected"},
        {"shape":"MailFromDomainNotVerifiedException"},
        {"shape":"ConfigurationSetDoesNotExistException"},
        {"shape":"ConfigurationSetSendingPausedException"},
        {"shape":"AccountSendingPausedException"}
      ],
      "documentation":"<p>Composes an email message and immediately queues it for sending. To send email using this operation, your message must meet the following requirements:</p> <ul> <li> <p>The message must be sent from a verified email address or domain. If you attempt to send email using a non-verified address or domain, the operation results in an \"Email address not verified\" error. </p> </li> <li> <p>If your account is still in the Amazon SES sandbox, you may only send to verified addresses or domains, or to email addresses associated with the Amazon SES Mailbox Simulator. For more information, see <a href=\"https://docs.aws.amazon.com/ses/latest/dg/verify-addresses-and-domains.html\">Verifying Email Addresses and Domains</a> in the <i>Amazon SES Developer Guide.</i> </p> </li> <li> <p>The maximum message size is 10 MB.</p> </li> <li> <p>The message must include at least one recipient email address. The recipient address can be a To: address, a CC: address, or a BCC: address. If a recipient email address is invalid (that is, it is not in the format <i>UserName@[SubDomain.]Domain.TopLevelDomain</i>), the entire message is rejected, even if the message contains other recipients that are valid.</p> </li> <li> <p>The message may not include more than 50 recipients, across the To:, CC: and BCC: fields. If you need to send an email message to a larger audience, you can divide your recipient list into groups of 50 or fewer, and then call the <code>SendEmail</code> operation several times to send the message to each group.</p> </li> </ul> <important> <p>For every message that you send, the total number of recipients (including each recipient in the To:, CC: and BCC: fields) is counted against the maximum number of emails you can send in a 24-hour period (your <i>sending quota</i>). For more information about sending quotas in Amazon SES, see <a href=\"https://docs.aws.amazon.com/ses/latest/dg/manage-sending-quotas.html\">Managing Your Amazon SES Sending Limits</a> in the <i>Amazon SES Developer Guide.</i> </p> </important>"
    },
    "SendRawEmail":{
      "name":"SendRawEmail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SendRawEmailRequest"},
      "output":{
        "shape":"SendRawEmailResponse",
        "resultWrapper":"SendRawEmailResult"
      },
      "errors":[
        {"shape":"MessageRejected"},
        {"shape":"MailFromDomainNotVerifiedException"},
        {"shape":"ConfigurationSetDoesNotExistException"},
        {"shape":"ConfigurationSetSendingPausedException"},
        {"shape":"AccountSendingPausedException"}
      ],
      "documentation":"<p>Composes an email message and immediately queues it for sending.</p> <p>This operation is more flexible than the <code>SendEmail</code> operation. When you use the <code>SendRawEmail</code> operation, you can specify the headers of the message as well as its content. This flexibility is useful, for example, when you need to send a multipart MIME email (such a message that contains both a text and an HTML version). You can also use this operation to send messages that include attachments.</p> <p>The <code>SendRawEmail</code> operation has the following requirements:</p> <ul> <li> <p>You can only send email from <a href=\"https://docs.aws.amazon.com/ses/latest/dg/verify-addresses-and-domains.html\">verified email addresses or domains</a>. If you try to send email from an address that isn't verified, the operation results in an \"Email address not verified\" error.</p> </li> <li> <p>If your account is still in the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/request-production-access.html\">Amazon SES sandbox</a>, you can only send email to other verified addresses in your account, or to addresses that are associated with the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/send-an-email-from-console.html\">Amazon SES mailbox simulator</a>.</p> </li> <li> <p>The maximum message size, including attachments, is 10 MB.</p> </li> <li> <p>Each message has to include at least one recipient address. A recipient address includes any address on the To:, CC:, or BCC: lines.</p> </li> <li> <p>If you send a single message to more than one recipient address, and one of the recipient addresses isn't in a valid format (that is, it's not in the format <i>UserName@[SubDomain.]Domain.TopLevelDomain</i>), Amazon SES rejects the entire message, even if the other addresses are valid.</p> </li> <li> <p>Each message can include up to 50 recipient addresses across the To:, CC:, or BCC: lines. If you need to send a single message to more than 50 recipients, you have to split the list of recipient addresses into groups of less than 50 recipients, and send separate messages to each group.</p> </li> <li> <p>Amazon SES allows you to specify 8-bit Content-Transfer-Encoding for MIME message parts. However, if Amazon SES has to modify the contents of your message (for example, if you use open and click tracking), 8-bit content isn't preserved. For this reason, we highly recommend that you encode all content that isn't 7-bit ASCII. For more information, see <a href=\"https://docs.aws.amazon.com/ses/latest/dg/send-email-raw.html#send-email-mime-encoding\">MIME Encoding</a> in the <i>Amazon SES Developer Guide</i>.</p> </li> </ul> <p>Additionally, keep the following considerations in mind when using the <code>SendRawEmail</code> operation:</p> <ul> <li> <p>Although you can customize the message headers when using the <code>SendRawEmail</code> operation, Amazon SES automatically applies its own <code>Message-ID</code> and <code>Date</code> headers; if you passed these headers when creating the message, they are overwritten by the values that Amazon SES provides.</p> </li> <li> <p>If you are using sending authorization to send on behalf of another user, <code>SendRawEmail</code> enables you to specify the cross-account identity for the email's Source, From, and Return-Path parameters in one of two ways: you can pass optional parameters <code>SourceArn</code>, <code>FromArn</code>, and/or <code>ReturnPathArn</code>, or you can include the following X-headers in the header of your raw email:</p> <ul> <li> <p> <code>X-SES-SOURCE-ARN</code> </p> </li> <li> <p> <code>X-SES-FROM-ARN</code> </p> </li> <li> <p> <code>X-SES-RETURN-PATH-ARN</code> </p> </li> </ul> <important> <p>Don't include these X-headers in the DKIM signature. Amazon SES removes these before it sends the email.</p> </important> <p>If you only specify the <code>SourceIdentityArn</code> parameter, Amazon SES sets the From and Return-Path addresses to the same identity that you specified.</p> <p>For more information about sending authorization, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/sending-authorization.html\">Using Sending Authorization with Amazon SES</a> in the <i>Amazon SES Developer Guide.</i> </p> </li> <li> <p>For every message that you send, the total number of recipients (including each recipient in the To:, CC: and BCC: fields) is counted against the maximum number of emails you can send in a 24-hour period (your <i>sending quota</i>). For more information about sending quotas in Amazon SES, see <a href=\"https://docs.aws.amazon.com/ses/latest/dg/manage-sending-quotas.html\">Managing Your Amazon SES Sending Limits</a> in the <i>Amazon SES Developer Guide.</i> </p> </li> </ul>"
    },
    "SendTemplatedEmail":{
      "name":"SendTemplatedEmail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SendTemplatedEmailRequest"},
      "output":{
        "shape":"SendTemplatedEmailResponse",
        "resultWrapper":"SendTemplatedEmailResult"
      },
      "errors":[
        {"shape":"MessageRejected"},
        {"shape":"MailFromDomainNotVerifiedException"},
        {"shape":"ConfigurationSetDoesNotExistException"},
        {"shape":"TemplateDoesNotExistException"},
        {"shape":"ConfigurationSetSendingPausedException"},
        {"shape":"AccountSendingPausedException"}
      ],
      "documentation":"<p>Composes an email message using an email template and immediately queues it for sending.</p> <p>To send email using this operation, your call must meet the following requirements:</p> <ul> <li> <p>The call must refer to an existing email template. You can create email templates using the <a>CreateTemplate</a> operation.</p> </li> <li> <p>The message must be sent from a verified email address or domain.</p> </li> <li> <p>If your account is still in the Amazon SES sandbox, you may only send to verified addresses or domains, or to email addresses associated with the Amazon SES Mailbox Simulator. For more information, see <a href=\"https://docs.aws.amazon.com/ses/latest/dg/verify-addresses-and-domains.html\">Verifying Email Addresses and Domains</a> in the <i>Amazon SES Developer Guide.</i> </p> </li> <li> <p>The maximum message size is 10 MB.</p> </li> <li> <p>Calls to the <code>SendTemplatedEmail</code> operation may only include one <code>Destination</code> parameter. A destination is a set of recipients that receives the same version of the email. The <code>Destination</code> parameter can include up to 50 recipients, across the To:, CC: and BCC: fields.</p> </li> <li> <p>The <code>Destination</code> parameter must include at least one recipient email address. The recipient address can be a To: address, a CC: address, or a BCC: address. If a recipient email address is invalid (that is, it is not in the format <i>UserName@[SubDomain.]Domain.TopLevelDomain</i>), the entire message is rejected, even if the message contains other recipients that are valid.</p> </li> </ul> <important> <p>If your call to the <code>SendTemplatedEmail</code> operation includes all of the required parameters, Amazon SES accepts it and returns a Message ID. However, if Amazon SES can't render the email because the template contains errors, it doesn't send the email. Additionally, because it already accepted the message, Amazon SES doesn't return a message stating that it was unable to send the email.</p> <p>For these reasons, we highly recommend that you set up Amazon SES to send you notifications when Rendering Failure events occur. For more information, see <a href=\"https://docs.aws.amazon.com/ses/latest/dg/send-personalized-email-api.html\">Sending Personalized Email Using the Amazon SES API</a> in the <i>Amazon Simple Email Service Developer Guide</i>.</p> </important>"
    },
    "SetActiveReceiptRuleSet":{
      "name":"SetActiveReceiptRuleSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetActiveReceiptRuleSetRequest"},
      "output":{
        "shape":"SetActiveReceiptRuleSetResponse",
        "resultWrapper":"SetActiveReceiptRuleSetResult"
      },
      "errors":[
        {"shape":"RuleSetDoesNotExistException"}
      ],
      "documentation":"<p>Sets the specified receipt rule set as the active receipt rule set.</p> <note> <p>To disable your email-receiving through Amazon SES completely, you can call this operation with <code>RuleSetName</code> set to null.</p> </note> <p>For information about managing receipt rule sets, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/receiving-email-receipt-rules-console-walkthrough.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "SetIdentityDkimEnabled":{
      "name":"SetIdentityDkimEnabled",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetIdentityDkimEnabledRequest"},
      "output":{
        "shape":"SetIdentityDkimEnabledResponse",
        "resultWrapper":"SetIdentityDkimEnabledResult"
      },
      "documentation":"<p>Enables or disables Easy DKIM signing of email sent from an identity. If Easy DKIM signing is enabled for a domain, then Amazon SES uses DKIM to sign all email that it sends from addresses on that domain. If Easy DKIM signing is enabled for an email address, then Amazon SES uses DKIM to sign all email it sends from that address.</p> <note> <p>For email addresses (for example, <code>user@example.com</code>), you can only enable DKIM signing if the corresponding domain (in this case, <code>example.com</code>) has been set up to use Easy DKIM.</p> </note> <p>You can enable DKIM signing for an identity at any time after you start the verification process for the identity, even if the verification process isn't complete. </p> <p>You can execute this operation no more than once per second.</p> <p>For more information about Easy DKIM signing, go to the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/send-email-authentication-dkim-easy.html\">Amazon SES Developer Guide</a>.</p>"
    },
    "SetIdentityFeedbackForwardingEnabled":{
      "name":"SetIdentityFeedbackForwardingEnabled",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetIdentityFeedbackForwardingEnabledRequest"},
      "output":{
        "shape":"SetIdentityFeedbackForwardingEnabledResponse",
        "resultWrapper":"SetIdentityFeedbackForwardingEnabledResult"
      },
      "documentation":"<p>Given an identity (an email address or a domain), enables or disables whether Amazon SES forwards bounce and complaint notifications as email. Feedback forwarding can only be disabled when Amazon Simple Notification Service (Amazon SNS) topics are specified for both bounces and complaints.</p> <note> <p>Feedback forwarding does not apply to delivery notifications. Delivery notifications are only available through Amazon SNS.</p> </note> <p>You can execute this operation no more than once per second.</p> <p>For more information about using notifications with Amazon SES, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/monitor-sending-activity-using-notifications.html\">Amazon SES Developer Guide</a>.</p>"
    },
    "SetIdentityHeadersInNotificationsEnabled":{
      "name":"SetIdentityHeadersInNotificationsEnabled",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetIdentityHeadersInNotificationsEnabledRequest"},
      "output":{
        "shape":"SetIdentityHeadersInNotificationsEnabledResponse",
        "resultWrapper":"SetIdentityHeadersInNotificationsEnabledResult"
      },
      "documentation":"<p>Given an identity (an email address or a domain), sets whether Amazon SES includes the original email headers in the Amazon Simple Notification Service (Amazon SNS) notifications of a specified type.</p> <p>You can execute this operation no more than once per second.</p> <p>For more information about using notifications with Amazon SES, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/monitor-sending-activity-using-notifications.html\">Amazon SES Developer Guide</a>.</p>"
    },
    "SetIdentityMailFromDomain":{
      "name":"SetIdentityMailFromDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetIdentityMailFromDomainRequest"},
      "output":{
        "shape":"SetIdentityMailFromDomainResponse",
        "resultWrapper":"SetIdentityMailFromDomainResult"
      },
      "documentation":"<p>Enables or disables the custom MAIL FROM domain setup for a verified identity (an email address or a domain).</p> <important> <p>To send emails using the specified MAIL FROM domain, you must add an MX record to your MAIL FROM domain's DNS settings. To ensure that your emails pass Sender Policy Framework (SPF) checks, you must also add or update an SPF record. For more information, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/mail-from.html\">Amazon SES Developer Guide</a>.</p> </important> <p>You can execute this operation no more than once per second.</p>"
    },
    "SetIdentityNotificationTopic":{
      "name":"SetIdentityNotificationTopic",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetIdentityNotificationTopicRequest"},
      "output":{
        "shape":"SetIdentityNotificationTopicResponse",
        "resultWrapper":"SetIdentityNotificationTopicResult"
      },
      "documentation":"<p>Sets an Amazon Simple Notification Service (Amazon SNS) topic to use when delivering notifications. When you use this operation, you specify a verified identity, such as an email address or domain. When you send an email that uses the chosen identity in the Source field, Amazon SES sends notifications to the topic you specified. You can send bounce, complaint, or delivery notifications (or any combination of the three) to the Amazon SNS topic that you specify.</p> <p>You can execute this operation no more than once per second.</p> <p>For more information about feedback notification, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/monitor-sending-activity-using-notifications.html\">Amazon SES Developer Guide</a>.</p>"
    },
    "SetReceiptRulePosition":{
      "name":"SetReceiptRulePosition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetReceiptRulePositionRequest"},
      "output":{
        "shape":"SetReceiptRulePositionResponse",
        "resultWrapper":"SetReceiptRulePositionResult"
      },
      "errors":[
        {"shape":"RuleSetDoesNotExistException"},
        {"shape":"RuleDoesNotExistException"}
      ],
      "documentation":"<p>Sets the position of the specified receipt rule in the receipt rule set.</p> <p>For information about managing receipt rules, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/receiving-email-receipt-rules-console-walkthrough.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "TestRenderTemplate":{
      "name":"TestRenderTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TestRenderTemplateRequest"},
      "output":{
        "shape":"TestRenderTemplateResponse",
        "resultWrapper":"TestRenderTemplateResult"
      },
      "errors":[
        {"shape":"TemplateDoesNotExistException"},
        {"shape":"InvalidRenderingParameterException"},
        {"shape":"MissingRenderingAttributeException"}
      ],
      "documentation":"<p>Creates a preview of the MIME content of an email when provided with a template and a set of replacement data.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "UpdateAccountSendingEnabled":{
      "name":"UpdateAccountSendingEnabled",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateAccountSendingEnabledRequest"},
      "documentation":"<p>Enables or disables email sending across your entire Amazon SES account in the current Amazon Web Services Region. You can use this operation in conjunction with Amazon CloudWatch alarms to temporarily pause email sending across your Amazon SES account in a given Amazon Web Services Region when reputation metrics (such as your bounce or complaint rates) reach certain thresholds.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "UpdateConfigurationSetEventDestination":{
      "name":"UpdateConfigurationSetEventDestination",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateConfigurationSetEventDestinationRequest"},
      "output":{
        "shape":"UpdateConfigurationSetEventDestinationResponse",
        "resultWrapper":"UpdateConfigurationSetEventDestinationResult"
      },
      "errors":[
        {"shape":"ConfigurationSetDoesNotExistException"},
        {"shape":"EventDestinationDoesNotExistException"},
        {"shape":"InvalidCloudWatchDestinationException"},
        {"shape":"InvalidFirehoseDestinationException"},
        {"shape":"InvalidSNSDestinationException"}
      ],
      "documentation":"<p>Updates the event destination of a configuration set. Event destinations are associated with configuration sets, which enable you to publish email sending events to Amazon CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS). For information about using configuration sets, see <a href=\"https://docs.aws.amazon.com/ses/latest/dg/monitor-sending-activity.html\">Monitoring Your Amazon SES Sending Activity</a> in the <i>Amazon SES Developer Guide.</i> </p> <note> <p>When you create or update an event destination, you must provide one, and only one, destination. The destination can be Amazon CloudWatch, Amazon Kinesis Firehose, or Amazon Simple Notification Service (Amazon SNS).</p> </note> <p>You can execute this operation no more than once per second.</p>"
    },
    "UpdateConfigurationSetReputationMetricsEnabled":{
      "name":"UpdateConfigurationSetReputationMetricsEnabled",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateConfigurationSetReputationMetricsEnabledRequest"},
      "errors":[
        {"shape":"ConfigurationSetDoesNotExistException"}
      ],
      "documentation":"<p>Enables or disables the publishing of reputation metrics for emails sent using a specific configuration set in a given Amazon Web Services Region. Reputation metrics include bounce and complaint rates. These metrics are published to Amazon CloudWatch. By using CloudWatch, you can create alarms when bounce or complaint rates exceed certain thresholds.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "UpdateConfigurationSetSendingEnabled":{
      "name":"UpdateConfigurationSetSendingEnabled",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateConfigurationSetSendingEnabledRequest"},
      "errors":[
        {"shape":"ConfigurationSetDoesNotExistException"}
      ],
      "documentation":"<p>Enables or disables email sending for messages sent using a specific configuration set in a given Amazon Web Services Region. You can use this operation in conjunction with Amazon CloudWatch alarms to temporarily pause email sending for a configuration set when the reputation metrics for that configuration set (such as your bounce on complaint rate) exceed certain thresholds.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "UpdateConfigurationSetTrackingOptions":{
      "name":"UpdateConfigurationSetTrackingOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateConfigurationSetTrackingOptionsRequest"},
      "output":{
        "shape":"UpdateConfigurationSetTrackingOptionsResponse",
        "resultWrapper":"UpdateConfigurationSetTrackingOptionsResult"
      },
      "errors":[
        {"shape":"ConfigurationSetDoesNotExistException"},
        {"shape":"TrackingOptionsDoesNotExistException"},
        {"shape":"InvalidTrackingOptionsException"}
      ],
      "documentation":"<p>Modifies an association between a configuration set and a custom domain for open and click event tracking. </p> <p>By default, images and links used for tracking open and click events are hosted on domains operated by Amazon SES. You can configure a subdomain of your own to handle these events. For information about using custom domains, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/configure-custom-open-click-domains.html\">Amazon SES Developer Guide</a>.</p>"
    },
    "UpdateCustomVerificationEmailTemplate":{
      "name":"UpdateCustomVerificationEmailTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateCustomVerificationEmailTemplateRequest"},
      "errors":[
        {"shape":"CustomVerificationEmailTemplateDoesNotExistException"},
        {"shape":"FromEmailAddressNotVerifiedException"},
        {"shape":"CustomVerificationEmailInvalidContentException"}
      ],
      "documentation":"<p>Updates an existing custom verification email template.</p> <p>For more information about custom verification email templates, see <a href=\"https://docs.aws.amazon.com/ses/latest/dg/creating-identities.html#send-email-verify-address-custom\">Using Custom Verification Email Templates</a> in the <i>Amazon SES Developer Guide</i>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "UpdateReceiptRule":{
      "name":"UpdateReceiptRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateReceiptRuleRequest"},
      "output":{
        "shape":"UpdateReceiptRuleResponse",
        "resultWrapper":"UpdateReceiptRuleResult"
      },
      "errors":[
        {"shape":"InvalidSnsTopicException"},
        {"shape":"InvalidS3ConfigurationException"},
        {"shape":"InvalidLambdaFunctionException"},
        {"shape":"RuleSetDoesNotExistException"},
        {"shape":"RuleDoesNotExistException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Updates a receipt rule.</p> <p>For information about managing receipt rules, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/receiving-email-receipt-rules-console-walkthrough.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "UpdateTemplate":{
      "name":"UpdateTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateTemplateRequest"},
      "output":{
        "shape":"UpdateTemplateResponse",
        "resultWrapper":"UpdateTemplateResult"
      },
      "errors":[
        {"shape":"TemplateDoesNotExistException"},
        {"shape":"InvalidTemplateException"}
      ],
      "documentation":"<p>Updates an email template. Email templates enable you to send personalized email to one or more destinations in a single operation. For more information, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/send-personalized-email-api.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "VerifyDomainDkim":{
      "name":"VerifyDomainDkim",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"VerifyDomainDkimRequest"},
      "output":{
        "shape":"VerifyDomainDkimResponse",
        "resultWrapper":"VerifyDomainDkimResult"
      },
      "documentation":"<p>Returns a set of DKIM tokens for a domain identity.</p> <important> <p>When you execute the <code>VerifyDomainDkim</code> operation, the domain that you specify is added to the list of identities that are associated with your account. This is true even if you haven't already associated the domain with your account by using the <code>VerifyDomainIdentity</code> operation. However, you can't send email from the domain until you either successfully <a href=\"https://docs.aws.amazon.com/ses/latest/dg/creating-identities.html#verify-domain-procedure\">verify it</a> or you successfully <a href=\"https://docs.aws.amazon.com/ses/latest/dg/send-email-authentication-dkim-easy.html\">set up DKIM for it</a>.</p> </important> <p>You use the tokens that are generated by this operation to create CNAME records. When Amazon SES detects that you've added these records to the DNS configuration for a domain, you can start sending email from that domain. You can start sending email even if you haven't added the TXT record provided by the VerifyDomainIdentity operation to the DNS configuration for your domain. All email that you send from the domain is authenticated using DKIM.</p> <p>To create the CNAME records for DKIM authentication, use the following values:</p> <ul> <li> <p> <b>Name</b>: <i>token</i>._domainkey.<i>example.com</i> </p> </li> <li> <p> <b>Type</b>: CNAME</p> </li> <li> <p> <b>Value</b>: <i>token</i>.dkim.amazonses.com</p> </li> </ul> <p>In the preceding example, replace <i>token</i> with one of the tokens that are generated when you execute this operation. Replace <i>example.com</i> with your domain. Repeat this process for each token that's generated by this operation.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "VerifyDomainIdentity":{
      "name":"VerifyDomainIdentity",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"VerifyDomainIdentityRequest"},
      "output":{
        "shape":"VerifyDomainIdentityResponse",
        "resultWrapper":"VerifyDomainIdentityResult"
      },
      "documentation":"<p>Adds a domain to the list of identities for your Amazon SES account in the current Amazon Web Services Region and attempts to verify it. For more information about verifying domains, see <a href=\"https://docs.aws.amazon.com/ses/latest/dg/verify-addresses-and-domains.html\">Verifying Email Addresses and Domains</a> in the <i>Amazon SES Developer Guide.</i> </p> <p>You can execute this operation no more than once per second.</p>"
    },
    "VerifyEmailAddress":{
      "name":"VerifyEmailAddress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"VerifyEmailAddressRequest"},
      "documentation":"<p>Deprecated. Use the <code>VerifyEmailIdentity</code> operation to verify a new email address.</p>"
    },
    "VerifyEmailIdentity":{
      "name":"VerifyEmailIdentity",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"VerifyEmailIdentityRequest"},
      "output":{
        "shape":"VerifyEmailIdentityResponse",
        "resultWrapper":"VerifyEmailIdentityResult"
      },
      "documentation":"<p>Adds an email address to the list of identities for your Amazon SES account in the current Amazon Web Services Region and attempts to verify it. As a result of executing this operation, a verification email is sent to the specified address.</p> <p>You can execute this operation no more than once per second.</p>"
    }
  },
  "shapes":{
    "AccountSendingPausedException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>Indicates that email sending is disabled for your entire Amazon SES account.</p> <p>You can enable or disable email sending for your Amazon SES account using <a>UpdateAccountSendingEnabled</a>.</p>",
      "error":{
        "code":"AccountSendingPausedException",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "AddHeaderAction":{
      "type":"structure",
      "required":[
        "HeaderName",
        "HeaderValue"
      ],
      "members":{
        "HeaderName":{
          "shape":"HeaderName",
          "documentation":"<p>The name of the header to add to the incoming message. The name must contain at least one character, and can contain up to 50 characters. It consists of alphanumeric (a–z, A–Z, 0–9) characters and dashes.</p>"
        },
        "HeaderValue":{
          "shape":"HeaderValue",
          "documentation":"<p>The content to include in the header. This value can contain up to 2048 characters. It can't contain newline (<code>\\n</code>) or carriage return (<code>\\r</code>) characters.</p>"
        }
      },
      "documentation":"<p>When included in a receipt rule, this action adds a header to the received email.</p> <p>For information about adding a header using a receipt rule, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/receiving-email-action-add-header.html\">Amazon SES Developer Guide</a>.</p>"
    },
    "Address":{"type":"string"},
    "AddressList":{
      "type":"list",
      "member":{"shape":"Address"}
    },
    "AlreadyExistsException":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"RuleOrRuleSetName",
          "documentation":"<p>Indicates that a resource could not be created because the resource name already exists.</p>"
        }
      },
      "documentation":"<p>Indicates that a resource could not be created because of a naming conflict.</p>",
      "error":{
        "code":"AlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "AmazonResourceName":{"type":"string"},
    "ArrivalDate":{"type":"timestamp"},
    "BehaviorOnMXFailure":{
      "type":"string",
      "enum":[
        "UseDefaultValue",
        "RejectMessage"
      ]
    },
    "Body":{
      "type":"structure",
      "members":{
        "Text":{
          "shape":"Content",
          "documentation":"<p>The content of the message, in text format. Use this for text-based email clients, or clients on high-latency networks (such as mobile devices).</p>"
        },
        "Html":{
          "shape":"Content",
          "documentation":"<p>The content of the message, in HTML format. Use this for email clients that can process HTML. You can include clickable links, formatted text, and much more in an HTML message.</p>"
        }
      },
      "documentation":"<p>Represents the body of the message. You can specify text, HTML, or both. If you use both, then the message should display correctly in the widest variety of email clients.</p>"
    },
    "BounceAction":{
      "type":"structure",
      "required":[
        "SmtpReplyCode",
        "Message",
        "Sender"
      ],
      "members":{
        "TopicArn":{
          "shape":"AmazonResourceName",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon SNS topic to notify when the bounce action is taken. You can find the ARN of a topic by using the <a href=\"https://docs.aws.amazon.com/sns/latest/api/API_ListTopics.html\">ListTopics</a> operation in Amazon SNS.</p> <p>For more information about Amazon SNS topics, see the <a href=\"https://docs.aws.amazon.com/sns/latest/dg/CreateTopic.html\">Amazon SNS Developer Guide</a>.</p>"
        },
        "SmtpReplyCode":{
          "shape":"BounceSmtpReplyCode",
          "documentation":"<p>The SMTP reply code, as defined by <a href=\"https://tools.ietf.org/html/rfc5321\">RFC 5321</a>.</p>"
        },
        "StatusCode":{
          "shape":"BounceStatusCode",
          "documentation":"<p>The SMTP enhanced status code, as defined by <a href=\"https://tools.ietf.org/html/rfc3463\">RFC 3463</a>.</p>"
        },
        "Message":{
          "shape":"BounceMessage",
          "documentation":"<p>Human-readable text to include in the bounce message.</p>"
        },
        "Sender":{
          "shape":"Address",
          "documentation":"<p>The email address of the sender of the bounced email. This is the address from which the bounce message is sent.</p>"
        }
      },
      "documentation":"<p>When included in a receipt rule, this action rejects the received email by returning a bounce response to the sender and, optionally, publishes a notification to Amazon Simple Notification Service (Amazon SNS).</p> <p>For information about sending a bounce message in response to a received email, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/receiving-email-action-bounce.html\">Amazon SES Developer Guide</a>.</p>"
    },
    "BounceMessage":{"type":"string"},
    "BounceSmtpReplyCode":{"type":"string"},
    "BounceStatusCode":{"type":"string"},
    "BounceType":{
      "type":"string",
      "enum":[
        "DoesNotExist",
        "MessageTooLarge",
        "ExceededQuota",
        "ContentRejected",
        "Undefined",
        "TemporaryFailure"
      ]
    },
    "BouncedRecipientInfo":{
      "type":"structure",
      "required":["Recipient"],
      "members":{
        "Recipient":{
          "shape":"Address",
          "documentation":"<p>The email address of the recipient of the bounced email.</p>"
        },
        "RecipientArn":{
          "shape":"AmazonResourceName",
          "documentation":"<p>This parameter is used only for sending authorization. It is the ARN of the identity that is associated with the sending authorization policy that permits you to receive email for the recipient of the bounced email. For more information about sending authorization, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/sending-authorization.html\">Amazon SES Developer Guide</a>.</p>"
        },
        "BounceType":{
          "shape":"BounceType",
          "documentation":"<p>The reason for the bounce. You must provide either this parameter or <code>RecipientDsnFields</code>.</p>"
        },
        "RecipientDsnFields":{
          "shape":"RecipientDsnFields",
          "documentation":"<p>Recipient-related DSN fields, most of which would normally be filled in automatically when provided with a <code>BounceType</code>. You must provide either this parameter or <code>BounceType</code>.</p>"
        }
      },
      "documentation":"<p>Recipient-related information to include in the Delivery Status Notification (DSN) when an email that Amazon SES receives on your behalf bounces.</p> <p>For information about receiving email through Amazon SES, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/receiving-email.html\">Amazon SES Developer Guide</a>.</p>"
    },
    "BouncedRecipientInfoList":{
      "type":"list",
      "member":{"shape":"BouncedRecipientInfo"}
    },
    "BulkEmailDestination":{
      "type":"structure",
      "required":["Destination"],
      "members":{
        "Destination":{"shape":"Destination"},
        "ReplacementTags":{
          "shape":"MessageTagList",
          "documentation":"<p>A list of tags, in the form of name/value pairs, to apply to an email that you send using <code>SendBulkTemplatedEmail</code>. Tags correspond to characteristics of the email that you define, so that you can publish email sending events.</p>"
        },
        "ReplacementTemplateData":{
          "shape":"TemplateData",
          "documentation":"<p>A list of replacement values to apply to the template. This parameter is a JSON object, typically consisting of key-value pairs in which the keys correspond to replacement tags in the email template.</p>"
        }
      },
      "documentation":"<p>An array that contains one or more Destinations, as well as the tags and replacement data associated with each of those Destinations.</p>"
    },
    "BulkEmailDestinationList":{
      "type":"list",
      "member":{"shape":"BulkEmailDestination"}
    },
    "BulkEmailDestinationStatus":{
      "type":"structure",
      "members":{
        "Status":{
          "shape":"BulkEmailStatus",
          "documentation":"<p>The status of a message sent using the <code>SendBulkTemplatedEmail</code> operation.</p> <p>Possible values for this parameter include:</p> <ul> <li> <p> <code>Success</code>: Amazon SES accepted the message, and attempts to deliver it to the recipients.</p> </li> <li> <p> <code>MessageRejected</code>: The message was rejected because it contained a virus.</p> </li> <li> <p> <code>MailFromDomainNotVerified</code>: The sender's email address or domain was not verified.</p> </li> <li> <p> <code>ConfigurationSetDoesNotExist</code>: The configuration set you specified does not exist.</p> </li> <li> <p> <code>TemplateDoesNotExist</code>: The template you specified does not exist.</p> </li> <li> <p> <code>AccountSuspended</code>: Your account has been shut down because of issues related to your email sending practices.</p> </li> <li> <p> <code>AccountThrottled</code>: The number of emails you can send has been reduced because your account has exceeded its allocated sending limit.</p> </li> <li> <p> <code>AccountDailyQuotaExceeded</code>: You have reached or exceeded the maximum number of emails you can send from your account in a 24-hour period.</p> </li> <li> <p> <code>InvalidSendingPoolName</code>: The configuration set you specified refers to an IP pool that does not exist.</p> </li> <li> <p> <code>AccountSendingPaused</code>: Email sending for the Amazon SES account was disabled using the <a>UpdateAccountSendingEnabled</a> operation.</p> </li> <li> <p> <code>ConfigurationSetSendingPaused</code>: Email sending for this configuration set was disabled using the <a>UpdateConfigurationSetSendingEnabled</a> operation.</p> </li> <li> <p> <code>InvalidParameterValue</code>: One or more of the parameters you specified when calling this operation was invalid. See the error message for additional information.</p> </li> <li> <p> <code>TransientFailure</code>: Amazon SES was unable to process your request because of a temporary issue.</p> </li> <li> <p> <code>Failed</code>: Amazon SES was unable to process your request. See the error message for additional information.</p> </li> </ul>"
        },
        "Error":{
          "shape":"Error",
          "documentation":"<p>A description of an error that prevented a message being sent using the <code>SendBulkTemplatedEmail</code> operation.</p>"
        },
        "MessageId":{
          "shape":"MessageId",
          "documentation":"<p>The unique message identifier returned from the <code>SendBulkTemplatedEmail</code> operation.</p>"
        }
      },
      "documentation":"<p>An object that contains the response from the <code>SendBulkTemplatedEmail</code> operation.</p>"
    },
    "BulkEmailDestinationStatusList":{
      "type":"list",
      "member":{"shape":"BulkEmailDestinationStatus"}
    },
    "BulkEmailStatus":{
      "type":"string",
      "enum":[
        "Success",
        "MessageRejected",
        "MailFromDomainNotVerified",
        "ConfigurationSetDoesNotExist",
        "TemplateDoesNotExist",
        "AccountSuspended",
        "AccountThrottled",
        "AccountDailyQuotaExceeded",
        "InvalidSendingPoolName",
        "AccountSendingPaused",
        "ConfigurationSetSendingPaused",
        "InvalidParameterValue",
        "TransientFailure",
        "Failed"
      ]
    },
    "CannotDeleteException":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"RuleOrRuleSetName",
          "documentation":"<p>Indicates that a resource could not be deleted because no resource with the specified name exists.</p>"
        }
      },
      "documentation":"<p>Indicates that the delete operation could not be completed.</p>",
      "error":{
        "code":"CannotDelete",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "Charset":{"type":"string"},
    "Cidr":{"type":"string"},
    "CloneReceiptRuleSetRequest":{
      "type":"structure",
      "required":[
        "RuleSetName",
        "OriginalRuleSetName"
      ],
      "members":{
        "RuleSetName":{
          "shape":"ReceiptRuleSetName",
          "documentation":"<p>The name of the rule set to create. The name must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Start and end with a letter or number.</p> </li> <li> <p>Contain 64 characters or fewer.</p> </li> </ul>"
        },
        "OriginalRuleSetName":{
          "shape":"ReceiptRuleSetName",
          "documentation":"<p>The name of the rule set to clone.</p>"
        }
      },
      "documentation":"<p>Represents a request to create a receipt rule set by cloning an existing one. You use receipt rule sets to receive email with Amazon SES. For more information, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/receiving-email-concepts.html\">Amazon SES Developer Guide</a>.</p>"
    },
    "CloneReceiptRuleSetResponse":{
      "type":"structure",
      "members":{},
      "documentation":"<p>An empty element returned on a successful request.</p>"
    },
    "CloudWatchDestination":{
      "type":"structure",
      "required":["DimensionConfigurations"],
      "members":{
        "DimensionConfigurations":{
          "shape":"CloudWatchDimensionConfigurations",
          "documentation":"<p>A list of dimensions upon which to categorize your emails when you publish email sending events to Amazon CloudWatch.</p>"
        }
      },
      "documentation":"<p>Contains information associated with an Amazon CloudWatch event destination to which email sending events are published.</p> <p>Event destinations, such as Amazon CloudWatch, are associated with configuration sets, which enable you to publish email sending events. For information about using configuration sets, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/monitor-sending-activity.html\">Amazon SES Developer Guide</a>.</p>"
    },
    "CloudWatchDimensionConfiguration":{
      "type":"structure",
      "required":[
        "DimensionName",
        "DimensionValueSource",
        "DefaultDimensionValue"
      ],
      "members":{
        "DimensionName":{
          "shape":"DimensionName",
          "documentation":"<p>The name of an Amazon CloudWatch dimension associated with an email sending metric. The name must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), dashes (-), or colons (:).</p> </li> <li> <p>Contain 256 characters or fewer.</p> </li> </ul>"
        },
        "DimensionValueSource":{
          "shape":"DimensionValueSource",
          "documentation":"<p>The place where Amazon SES finds the value of a dimension to publish to Amazon CloudWatch. To use the message tags that you specify using an <code>X-SES-MESSAGE-TAGS</code> header or a parameter to the <code>SendEmail</code>/<code>SendRawEmail</code> API, specify <code>messageTag</code>. To use your own email headers, specify <code>emailHeader</code>. To put a custom tag on any link included in your email, specify <code>linkTag</code>.</p>"
        },
        "DefaultDimensionValue":{
          "shape":"DefaultDimensionValue",
          "documentation":"<p>The default value of the dimension that is published to Amazon CloudWatch if you do not provide the value of the dimension when you send an email. The default value must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), dashes (-), at signs (@), or periods (.).</p> </li> <li> <p>Contain 256 characters or fewer.</p> </li> </ul>"
        }
      },
      "documentation":"<p>Contains the dimension configuration to use when you publish email sending events to Amazon CloudWatch.</p> <p>For information about publishing email sending events to Amazon CloudWatch, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/monitor-sending-activity.html\">Amazon SES Developer Guide</a>.</p>"
    },
    "CloudWatchDimensionConfigurations":{
      "type":"list",
      "member":{"shape":"CloudWatchDimensionConfiguration"}
    },
    "ConfigurationSet":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"ConfigurationSetName",
          "documentation":"<p>The name of the configuration set. The name must meet the following requirements:</p> <ul> <li> <p>Contain only letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>Contain 64 characters or fewer.</p> </li> </ul>"
        }
      },
      "documentation":"<p>The name of the configuration set.</p> <p>Configuration sets let you create groups of rules that you can apply to the emails you send using Amazon SES. For more information about using configuration sets, see <a href=\"https://docs.aws.amazon.com/ses/latest/dg/using-configuration-sets.html\">Using Amazon SES Configuration Sets</a> in the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/\">Amazon SES Developer Guide</a>.</p>"
    },
    "ConfigurationSetAlreadyExistsException":{
      "type":"structure",
      "members":{
        "ConfigurationSetName":{
          "shape":"ConfigurationSetName",
          "documentation":"<p>Indicates that the configuration set does not exist.</p>"
        }
      },
      "documentation":"<p>Indicates that the configuration set could not be created because of a naming conflict.</p>",
      "error":{
        "code":"ConfigurationSetAlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ConfigurationSetAttribute":{
      "type":"string",
      "enum":[
        "eventDestinations",
        "trackingOptions",
        "deliveryOptions",
        "reputationOptions"
      ]
    },
    "ConfigurationSetAttributeList":{
      "type":"list",
      "member":{"shape":"ConfigurationSetAttribute"}
    },
    "ConfigurationSetDoesNotExistException":{
      "type":"structure",
      "members":{
        "ConfigurationSetName":{
          "shape":"ConfigurationSetName",
          "documentation":"<p>Indicates that the configuration set does not exist.</p>"
        }
      },
      "documentation":"<p>Indicates that the configuration set does not exist.</p>",
      "error":{
        "code":"ConfigurationSetDoesNotExist",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ConfigurationSetName":{"type":"string"},
    "ConfigurationSetSendingPausedException":{
      "type":"structure",
      "members":{
        "ConfigurationSetName":{
          "shape":"ConfigurationSetName",
          "documentation":"<p>The name of the configuration set for which email sending is disabled.</p>"
        }
      },
      "documentation":"<p>Indicates that email sending is disabled for the configuration set.</p> <p>You can enable or disable email sending for a configuration set using <a>UpdateConfigurationSetSendingEnabled</a>.</p>",
      "error":{
        "code":"ConfigurationSetSendingPausedException",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ConfigurationSets":{
      "type":"list",
      "member":{"shape":"ConfigurationSet"}
    },
    "ConnectAction":{
      "type":"structure",
      "required":[
        "InstanceARN",
        "IAMRoleARN"
      ],
      "members":{
        "InstanceARN":{
          "shape":"ConnectInstanceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) for the Amazon Connect instance that Amazon SES integrates with for starting email contacts.</p> <p>For more information about Amazon Connect instances, see the <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-instances.html\">Amazon Connect Administrator Guide</a> </p>"
        },
        "IAMRoleARN":{
          "shape":"IAMRoleARN",
          "documentation":"<p> The Amazon Resource Name (ARN) of the IAM role to be used by Amazon Simple Email Service while starting email contacts to the Amazon Connect instance. This role should have permission to invoke <code>connect:StartEmailContact</code> for the given Amazon Connect instance.</p>"
        }
      },
      "documentation":"<p>When included in a receipt rule, this action parses the received message and starts an email contact in Amazon Connect on your behalf.</p> <note> <p>When you receive emails, the maximum email size (including headers) is 40 MB. Additionally, emails may only have up to 10 attachments. Emails larger than 40 MB or with more than 10 attachments will be bounced.</p> </note> <p>We recommend that you configure this action via Amazon Connect.</p>"
    },
    "ConnectInstanceArn":{
      "type":"string",
      "pattern":"arn:(aws|aws-us-gov):connect:[a-z]{2}-[a-z]+-[0-9-]{1}:[0-9]{1,20}:instance/[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"
    },
    "Content":{
      "type":"structure",
      "required":["Data"],
      "members":{
        "Data":{
          "shape":"MessageData",
          "documentation":"<p>The textual data of the content.</p>"
        },
        "Charset":{
          "shape":"Charset",
          "documentation":"<p>The character set of the content.</p>"
        }
      },
      "documentation":"<p>Represents textual data, plus an optional character set specification.</p> <p>By default, the text must be 7-bit ASCII, due to the constraints of the SMTP protocol. If the text must contain any other characters, then you must also specify a character set. Examples include UTF-8, ISO-8859-1, and Shift_JIS.</p>"
    },
    "Counter":{"type":"long"},
    "CreateConfigurationSetEventDestinationRequest":{
      "type":"structure",
      "required":[
        "ConfigurationSetName",
        "EventDestination"
      ],
      "members":{
        "ConfigurationSetName":{
          "shape":"ConfigurationSetName",
          "documentation":"<p>The name of the configuration set that the event destination should be associated with.</p>"
        },
        "EventDestination":{
          "shape":"EventDestination",
          "documentation":"<p>An object that describes the Amazon Web Services service that email sending event where information is published.</p>"
        }
      },
      "documentation":"<p>Represents a request to create a configuration set event destination. A configuration set event destination, which can be either Amazon CloudWatch or Amazon Kinesis Firehose, describes an Amazon Web Services service in which Amazon SES publishes the email sending events associated with a configuration set. For information about using configuration sets, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/monitor-sending-activity.html\">Amazon SES Developer Guide</a>.</p>"
    },
    "CreateConfigurationSetEventDestinationResponse":{
      "type":"structure",
      "members":{},
      "documentation":"<p>An empty element returned on a successful request.</p>"
    },
    "CreateConfigurationSetRequest":{
      "type":"structure",
      "required":["ConfigurationSet"],
      "members":{
        "ConfigurationSet":{
          "shape":"ConfigurationSet",
          "documentation":"<p>A data structure that contains the name of the configuration set.</p>"
        }
      },
      "documentation":"<p>Represents a request to create a configuration set. Configuration sets enable you to publish email sending events. For information about using configuration sets, see the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/monitor-sending-activity.html\">Amazon SES Developer Guide</a>.</p>"
    },
    "CreateConfigurationSetResponse":{
      "type":"structure",
      "members":{},
      "documentation":"<p>An empty element returned on a successful request.</p>"
    },
    "CreateConfigurationSetTrackingOptionsRequest":{
      "type":"structure",
      "required":[
        "ConfigurationSetName",
        "TrackingOptions"
      ],
      "members":{
        "ConfigurationSetName":{
          "shape":"ConfigurationSetName",
          "documentation":"<p>The name of the configuration set that the tracking options should be associated with.</p>"
        },
        "TrackingOptions":{"shape":"TrackingOptions"}
      },
      "documentation":"<p>Represents a request to create an open and click tracking option object in a configuration set. </p>"
    },
    "CreateConfigurationSetTrackingOptionsResponse":{
      "type":"structure",
      "members":{},
      "documentation":"<p>An empty element returned on a successful request.</p>"
    },
    "CreateCustomVerificationEmailTemplateRequest":{
      "type":"structure",
      "required":[
        "TemplateName",
        "FromEmailAddress",
        "TemplateSubject",
        "TemplateContent",
        "SuccessRedirectionURL",
[...]
