{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2019-12-02",
    "endpointPrefix":"iotsitewise",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"AWS IoT SiteWise",
    "serviceId":"IoTSiteWise",
    "signatureVersion":"v4",
    "signingName":"iotsitewise",
    "uid":"iotsitewise-2019-12-02",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AssociateAssets":{
      "name":"AssociateAssets",
      "http":{
        "method":"POST",
        "requestUri":"/assets/{assetId}/associate"
      },
      "input":{"shape":"AssociateAssetsRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Associates a child asset with the given parent asset through a hierarchy defined in the parent asset's model. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/add-associated-assets.html\">Associating assets</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "AssociateTimeSeriesToAssetProperty":{
      "name":"AssociateTimeSeriesToAssetProperty",
      "http":{
        "method":"POST",
        "requestUri":"/timeseries/associate/"
      },
      "input":{"shape":"AssociateTimeSeriesToAssetPropertyRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Associates a time series (data stream) with an asset property.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "BatchAssociateProjectAssets":{
      "name":"BatchAssociateProjectAssets",
      "http":{
        "method":"POST",
        "requestUri":"/projects/{projectId}/assets/associate",
        "responseCode":200
      },
      "input":{"shape":"BatchAssociateProjectAssetsRequest"},
      "output":{"shape":"BatchAssociateProjectAssetsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Associates a group (batch) of assets with an IoT SiteWise Monitor project.</p>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "BatchDisassociateProjectAssets":{
      "name":"BatchDisassociateProjectAssets",
      "http":{
        "method":"POST",
        "requestUri":"/projects/{projectId}/assets/disassociate",
        "responseCode":200
      },
      "input":{"shape":"BatchDisassociateProjectAssetsRequest"},
      "output":{"shape":"BatchDisassociateProjectAssetsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Disassociates a group (batch) of assets from an IoT SiteWise Monitor project.</p>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "BatchGetAssetPropertyAggregates":{
      "name":"BatchGetAssetPropertyAggregates",
      "http":{
        "method":"POST",
        "requestUri":"/properties/batch/aggregates"
      },
      "input":{"shape":"BatchGetAssetPropertyAggregatesRequest"},
      "output":{"shape":"BatchGetAssetPropertyAggregatesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Gets aggregated values (for example, average, minimum, and maximum) for one or more asset properties. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/query-industrial-data.html#aggregates\">Querying aggregates</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"data."}
    },
    "BatchGetAssetPropertyValue":{
      "name":"BatchGetAssetPropertyValue",
      "http":{
        "method":"POST",
        "requestUri":"/properties/batch/latest"
      },
      "input":{"shape":"BatchGetAssetPropertyValueRequest"},
      "output":{"shape":"BatchGetAssetPropertyValueResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Gets the current value for one or more asset properties. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/query-industrial-data.html#current-values\">Querying current values</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"data."}
    },
    "BatchGetAssetPropertyValueHistory":{
      "name":"BatchGetAssetPropertyValueHistory",
      "http":{
        "method":"POST",
        "requestUri":"/properties/batch/history"
      },
      "input":{"shape":"BatchGetAssetPropertyValueHistoryRequest"},
      "output":{"shape":"BatchGetAssetPropertyValueHistoryResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Gets the historical values for one or more asset properties. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/query-industrial-data.html#historical-values\">Querying historical values</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"data."}
    },
    "BatchPutAssetPropertyValue":{
      "name":"BatchPutAssetPropertyValue",
      "http":{
        "method":"POST",
        "requestUri":"/properties"
      },
      "input":{"shape":"BatchPutAssetPropertyValueRequest"},
      "output":{"shape":"BatchPutAssetPropertyValueResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Sends a list of asset property values to IoT SiteWise. Each value is a timestamp-quality-value (TQV) data point. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/ingest-api.html\">Ingesting data using the API</a> in the <i>IoT SiteWise User Guide</i>.</p> <p>To identify an asset property, you must specify one of the following:</p> <ul> <li> <p>The <code>assetId</code> and <code>propertyId</code> of an asset property.</p> </li> <li> <p>A <code>propertyAlias</code>, which is a data stream alias (for example, <code>/company/windfarm/3/turbine/7/temperature</code>). To define an asset property's alias, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetProperty.html\">UpdateAssetProperty</a>.</p> </li> </ul> <important> <p>With respect to Unix epoch time, IoT SiteWise accepts only TQVs that have a timestamp of no more than 7 days in the past and no more than 10 minutes in the future. IoT SiteWise rejects timestamps outside of the inclusive range of [-7 days, +10 minutes] and returns a <code>TimestampOutOfRangeException</code> error.</p> <p>For each asset property, IoT SiteWise overwrites TQVs with duplicate timestamps unless the newer TQV has a different quality. For example, if you store a TQV <code>{T1, GOOD, V1}</code>, then storing <code>{T1, GOOD, V2}</code> replaces the existing TQV.</p> </important> <p>IoT SiteWise authorizes access to each <code>BatchPutAssetPropertyValue</code> entry individually. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/security_iam_service-with-iam.html#security_iam_service-with-iam-id-based-policies-batchputassetpropertyvalue-action\">BatchPutAssetPropertyValue authorization</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"data."}
    },
    "CreateAccessPolicy":{
      "name":"CreateAccessPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/access-policies",
        "responseCode":201
      },
      "input":{"shape":"CreateAccessPolicyRequest"},
      "output":{"shape":"CreateAccessPolicyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates an access policy that grants the specified identity (IAM Identity Center user, IAM Identity Center group, or IAM user) access to the specified IoT SiteWise Monitor portal or project resource.</p> <note> <p>Support for access policies that use an SSO Group as the identity is not supported at this time.</p> </note>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "CreateAsset":{
      "name":"CreateAsset",
      "http":{
        "method":"POST",
        "requestUri":"/assets",
        "responseCode":202
      },
      "input":{"shape":"CreateAssetRequest"},
      "output":{"shape":"CreateAssetResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Creates an asset from an existing asset model. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/create-assets.html\">Creating assets</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "CreateAssetModel":{
      "name":"CreateAssetModel",
      "http":{
        "method":"POST",
        "requestUri":"/asset-models",
        "responseCode":202
      },
      "input":{"shape":"CreateAssetModelRequest"},
      "output":{"shape":"CreateAssetModelResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Creates an asset model from specified property and hierarchy definitions. You create assets from asset models. With asset models, you can easily create assets of the same type that have standardized definitions. Each asset created from a model inherits the asset model's property and hierarchy definitions. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/define-models.html\">Defining asset models</a> in the <i>IoT SiteWise User Guide</i>.</p> <p>You can create three types of asset models, <code>ASSET_MODEL</code>, <code>COMPONENT_MODEL</code>, or an <code>INTERFACE</code>.</p> <ul> <li> <p> <b>ASSET_MODEL</b> – (default) An asset model that you can use to create assets. Can't be included as a component in another asset model.</p> </li> <li> <p> <b>COMPONENT_MODEL</b> – A reusable component that you can include in the composite models of other asset models. You can't create assets directly from this type of asset model. </p> </li> <li> <p> <b>INTERFACE</b> – An interface is a type of model that defines a standard structure that can be applied to different asset models.</p> </li> </ul>",
      "endpoint":{"hostPrefix":"api."}
    },
    "CreateAssetModelCompositeModel":{
      "name":"CreateAssetModelCompositeModel",
      "http":{
        "method":"POST",
        "requestUri":"/asset-models/{assetModelId}/composite-models",
        "responseCode":202
      },
      "input":{"shape":"CreateAssetModelCompositeModelRequest"},
      "output":{"shape":"CreateAssetModelCompositeModelResponse"},
      "errors":[
        {"shape":"ConflictingOperationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"InternalFailureException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a custom composite model from specified property and hierarchy definitions. There are two types of custom composite models, <code>inline</code> and <code>component-model-based</code>. </p> <p>Use component-model-based custom composite models to define standard, reusable components. A component-model-based custom composite model consists of a name, a description, and the ID of the component model it references. A component-model-based custom composite model has no properties of its own; its referenced component model provides its associated properties to any created assets. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/custom-composite-models.html\">Custom composite models (Components)</a> in the <i>IoT SiteWise User Guide</i>.</p> <p>Use inline custom composite models to organize the properties of an asset model. The properties of inline custom composite models are local to the asset model where they are included and can't be used to create multiple assets.</p> <p>To create a component-model-based model, specify the <code>composedAssetModelId</code> of an existing asset model with <code>assetModelType</code> of <code>COMPONENT_MODEL</code>.</p> <p>To create an inline model, specify the <code>assetModelCompositeModelProperties</code> and don't include an <code>composedAssetModelId</code>.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "CreateBulkImportJob":{
      "name":"CreateBulkImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/jobs",
        "responseCode":202
      },
      "input":{"shape":"CreateBulkImportJobRequest"},
      "output":{"shape":"CreateBulkImportJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Defines a job to ingest data to IoT SiteWise from Amazon S3. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/CreateBulkImportJob.html\">Create a bulk import job (CLI)</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> <important> <p>Before you create a bulk import job, you must enable IoT SiteWise warm tier or IoT SiteWise cold tier. For more information about how to configure storage settings, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_PutStorageConfiguration.html\">PutStorageConfiguration</a>.</p> <p>Bulk import is designed to store historical data to IoT SiteWise.</p> <ul> <li> <p>Newly ingested data in the hot tier triggers notifications and computations.</p> </li> <li> <p>After data moves from the hot tier to the warm or cold tier based on retention settings, it does not trigger computations or notifications.</p> </li> <li> <p>Data older than 7 days does not trigger computations or notifications.</p> </li> </ul> </important>",
      "endpoint":{"hostPrefix":"data."}
    },
    "CreateComputationModel":{
      "name":"CreateComputationModel",
      "http":{
        "method":"POST",
        "requestUri":"/computation-models",
        "responseCode":202
      },
      "input":{"shape":"CreateComputationModelRequest"},
      "output":{"shape":"CreateComputationModelResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Create a computation model with a configuration and data binding.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "CreateDashboard":{
      "name":"CreateDashboard",
      "http":{
        "method":"POST",
        "requestUri":"/dashboards",
        "responseCode":201
      },
      "input":{"shape":"CreateDashboardRequest"},
      "output":{"shape":"CreateDashboardResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a dashboard in an IoT SiteWise Monitor project.</p>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "CreateDataset":{
      "name":"CreateDataset",
      "http":{
        "method":"POST",
        "requestUri":"/datasets",
        "responseCode":202
      },
      "input":{"shape":"CreateDatasetRequest"},
      "output":{"shape":"CreateDatasetResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Creates a dataset to connect an external datasource.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "CreateGateway":{
      "name":"CreateGateway",
      "http":{
        "method":"POST",
        "requestUri":"/20200301/gateways",
        "responseCode":201
      },
      "input":{"shape":"CreateGatewayRequest"},
      "output":{"shape":"CreateGatewayResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a gateway, which is a virtual or edge device that delivers industrial data streams from local servers to IoT SiteWise. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/gateway-connector.html\">Ingesting data using a gateway</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "CreatePortal":{
      "name":"CreatePortal",
      "http":{
        "method":"POST",
        "requestUri":"/portals",
        "responseCode":202
      },
      "input":{"shape":"CreatePortalRequest"},
      "output":{"shape":"CreatePortalResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a portal, which can contain projects and dashboards. IoT SiteWise Monitor uses IAM Identity Center or IAM to authenticate portal users and manage user permissions.</p> <note> <p>Before you can sign in to a new portal, you must add at least one identity to that portal. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/administer-portals.html#portal-change-admins\">Adding or removing portal administrators</a> in the <i>IoT SiteWise User Guide</i>.</p> </note>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "CreateProject":{
      "name":"CreateProject",
      "http":{
        "method":"POST",
        "requestUri":"/projects",
        "responseCode":201
      },
      "input":{"shape":"CreateProjectRequest"},
      "output":{"shape":"CreateProjectResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a project in the specified portal.</p> <note> <p>Make sure that the project name and description don't contain confidential information.</p> </note>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "DeleteAccessPolicy":{
      "name":"DeleteAccessPolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/access-policies/{accessPolicyId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteAccessPolicyRequest"},
      "output":{"shape":"DeleteAccessPolicyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes an access policy that grants the specified identity access to the specified IoT SiteWise Monitor resource. You can use this operation to revoke access to an IoT SiteWise Monitor resource.</p>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "DeleteAsset":{
      "name":"DeleteAsset",
      "http":{
        "method":"DELETE",
        "requestUri":"/assets/{assetId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteAssetRequest"},
      "output":{"shape":"DeleteAssetResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Deletes an asset. This action can't be undone. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/delete-assets-and-models.html\">Deleting assets and models</a> in the <i>IoT SiteWise User Guide</i>.</p> <note> <p>You can't delete an asset that's associated to another asset. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_DisassociateAssets.html\">DisassociateAssets</a>.</p> </note>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DeleteAssetModel":{
      "name":"DeleteAssetModel",
      "http":{
        "method":"DELETE",
        "requestUri":"/asset-models/{assetModelId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteAssetModelRequest"},
      "output":{"shape":"DeleteAssetModelResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"},
        {"shape":"PreconditionFailedException"}
      ],
      "documentation":"<p>Deletes an asset model. This action can't be undone. You must delete all assets created from an asset model before you can delete the model. Also, you can't delete an asset model if a parent asset model exists that contains a property formula expression that depends on the asset model that you want to delete. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/delete-assets-and-models.html\">Deleting assets and models</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DeleteAssetModelCompositeModel":{
      "name":"DeleteAssetModelCompositeModel",
      "http":{
        "method":"DELETE",
        "requestUri":"/asset-models/{assetModelId}/composite-models/{assetModelCompositeModelId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteAssetModelCompositeModelRequest"},
      "output":{"shape":"DeleteAssetModelCompositeModelResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"},
        {"shape":"PreconditionFailedException"}
      ],
      "documentation":"<p>Deletes a composite model. This action can't be undone. You must delete all assets created from a composite model before you can delete the model. Also, you can't delete a composite model if a parent asset model exists that contains a property formula expression that depends on the asset model that you want to delete. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/delete-assets-and-models.html\">Deleting assets and models</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DeleteAssetModelInterfaceRelationship":{
      "name":"DeleteAssetModelInterfaceRelationship",
      "http":{
        "method":"DELETE",
        "requestUri":"/asset-models/{assetModelId}/interface/{interfaceAssetModelId}/asset-model-interface-relationship",
        "responseCode":202
      },
      "input":{"shape":"DeleteAssetModelInterfaceRelationshipRequest"},
      "output":{"shape":"DeleteAssetModelInterfaceRelationshipResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Deletes an interface relationship between an asset model and an interface asset model.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DeleteComputationModel":{
      "name":"DeleteComputationModel",
      "http":{
        "method":"DELETE",
        "requestUri":"/computation-models/{computationModelId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteComputationModelRequest"},
      "output":{"shape":"DeleteComputationModelResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Deletes a computation model. This action can't be undone.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DeleteDashboard":{
      "name":"DeleteDashboard",
      "http":{
        "method":"DELETE",
        "requestUri":"/dashboards/{dashboardId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteDashboardRequest"},
      "output":{"shape":"DeleteDashboardResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a dashboard from IoT SiteWise Monitor.</p>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "DeleteDataset":{
      "name":"DeleteDataset",
      "http":{
        "method":"DELETE",
        "requestUri":"/datasets/{datasetId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteDatasetRequest"},
      "output":{"shape":"DeleteDatasetResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Deletes a dataset. This cannot be undone.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DeleteGateway":{
      "name":"DeleteGateway",
      "http":{
        "method":"DELETE",
        "requestUri":"/20200301/gateways/{gatewayId}"
      },
      "input":{"shape":"DeleteGatewayRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictingOperationException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a gateway from IoT SiteWise. When you delete a gateway, some of the gateway's files remain in your gateway's file system.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DeletePortal":{
      "name":"DeletePortal",
      "http":{
        "method":"DELETE",
        "requestUri":"/portals/{portalId}",
        "responseCode":202
      },
      "input":{"shape":"DeletePortalRequest"},
      "output":{"shape":"DeletePortalResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Deletes a portal from IoT SiteWise Monitor.</p>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "DeleteProject":{
      "name":"DeleteProject",
      "http":{
        "method":"DELETE",
        "requestUri":"/projects/{projectId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteProjectRequest"},
      "output":{"shape":"DeleteProjectResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a project from IoT SiteWise Monitor.</p>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "DeleteTimeSeries":{
      "name":"DeleteTimeSeries",
      "http":{
        "method":"POST",
        "requestUri":"/timeseries/delete/"
      },
      "input":{"shape":"DeleteTimeSeriesRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Deletes a time series (data stream). If you delete a time series that's associated with an asset property, the asset property still exists, but the time series will no longer be associated with this asset property.</p> <p>To identify a time series, do one of the following:</p> <ul> <li> <p>If the time series isn't associated with an asset property, specify the <code>alias</code> of the time series.</p> </li> <li> <p>If the time series is associated with an asset property, specify one of the following: </p> <ul> <li> <p>The <code>alias</code> of the time series.</p> </li> <li> <p>The <code>assetId</code> and <code>propertyId</code> that identifies the asset property.</p> </li> </ul> </li> </ul>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribeAccessPolicy":{
      "name":"DescribeAccessPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/access-policies/{accessPolicyId}",
        "responseCode":200
      },
      "input":{"shape":"DescribeAccessPolicyRequest"},
      "output":{"shape":"DescribeAccessPolicyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Describes an access policy, which specifies an identity's access to an IoT SiteWise Monitor portal or project.</p>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "DescribeAction":{
      "name":"DescribeAction",
      "http":{
        "method":"GET",
        "requestUri":"/actions/{actionId}"
      },
      "input":{"shape":"DescribeActionRequest"},
      "output":{"shape":"DescribeActionResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about an action.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribeAsset":{
      "name":"DescribeAsset",
      "http":{
        "method":"GET",
        "requestUri":"/assets/{assetId}"
      },
      "input":{"shape":"DescribeAssetRequest"},
      "output":{"shape":"DescribeAssetResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about an asset.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribeAssetCompositeModel":{
      "name":"DescribeAssetCompositeModel",
      "http":{
        "method":"GET",
        "requestUri":"/assets/{assetId}/composite-models/{assetCompositeModelId}"
      },
      "input":{"shape":"DescribeAssetCompositeModelRequest"},
      "output":{"shape":"DescribeAssetCompositeModelResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about an asset composite model (also known as an asset component). An <code>AssetCompositeModel</code> is an instance of an <code>AssetModelCompositeModel</code>. If you want to see information about the model this is based on, call <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_DescribeAssetModelCompositeModel.html\">DescribeAssetModelCompositeModel</a>.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribeAssetModel":{
      "name":"DescribeAssetModel",
      "http":{
        "method":"GET",
        "requestUri":"/asset-models/{assetModelId}"
      },
      "input":{"shape":"DescribeAssetModelRequest"},
      "output":{"shape":"DescribeAssetModelResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about an asset model. This includes details about the asset model's properties, hierarchies, composite models, and any interface relationships if the asset model implements interfaces.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribeAssetModelCompositeModel":{
      "name":"DescribeAssetModelCompositeModel",
      "http":{
        "method":"GET",
        "requestUri":"/asset-models/{assetModelId}/composite-models/{assetModelCompositeModelId}"
      },
      "input":{"shape":"DescribeAssetModelCompositeModelRequest"},
      "output":{"shape":"DescribeAssetModelCompositeModelResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about an asset model composite model (also known as an asset model component). For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/custom-composite-models.html\">Custom composite models (Components)</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribeAssetModelInterfaceRelationship":{
      "name":"DescribeAssetModelInterfaceRelationship",
      "http":{
        "method":"GET",
        "requestUri":"/asset-models/{assetModelId}/interface/{interfaceAssetModelId}/asset-model-interface-relationship"
      },
      "input":{"shape":"DescribeAssetModelInterfaceRelationshipRequest"},
      "output":{"shape":"DescribeAssetModelInterfaceRelationshipResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about an interface relationship between an asset model and an interface asset model.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribeAssetProperty":{
      "name":"DescribeAssetProperty",
      "http":{
        "method":"GET",
        "requestUri":"/assets/{assetId}/properties/{propertyId}"
      },
      "input":{"shape":"DescribeAssetPropertyRequest"},
      "output":{"shape":"DescribeAssetPropertyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about an asset property.</p> <note> <p>When you call this operation for an attribute property, this response includes the default attribute value that you define in the asset model. If you update the default value in the model, this operation's response includes the new default value.</p> </note> <p>This operation doesn't return the value of the asset property. To get the value of an asset property, use <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_GetAssetPropertyValue.html\">GetAssetPropertyValue</a>.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribeBulkImportJob":{
      "name":"DescribeBulkImportJob",
      "http":{
        "method":"GET",
        "requestUri":"/jobs/{jobId}"
      },
      "input":{"shape":"DescribeBulkImportJobRequest"},
      "output":{"shape":"DescribeBulkImportJobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about a bulk import job request. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/DescribeBulkImportJob.html\">Describe a bulk import job (CLI)</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"data."}
    },
    "DescribeComputationModel":{
      "name":"DescribeComputationModel",
      "http":{
        "method":"GET",
        "requestUri":"/computation-models/{computationModelId}"
      },
      "input":{"shape":"DescribeComputationModelRequest"},
      "output":{"shape":"DescribeComputationModelResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about a computation model.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribeComputationModelExecutionSummary":{
      "name":"DescribeComputationModelExecutionSummary",
      "http":{
        "method":"GET",
        "requestUri":"/computation-models/{computationModelId}/execution-summary"
      },
      "input":{"shape":"DescribeComputationModelExecutionSummaryRequest"},
      "output":{"shape":"DescribeComputationModelExecutionSummaryResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about the execution summary of a computation model.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribeDashboard":{
      "name":"DescribeDashboard",
      "http":{
        "method":"GET",
        "requestUri":"/dashboards/{dashboardId}",
        "responseCode":200
      },
      "input":{"shape":"DescribeDashboardRequest"},
      "output":{"shape":"DescribeDashboardResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about a dashboard.</p>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "DescribeDataset":{
      "name":"DescribeDataset",
      "http":{
        "method":"GET",
        "requestUri":"/datasets/{datasetId}"
      },
      "input":{"shape":"DescribeDatasetRequest"},
      "output":{"shape":"DescribeDatasetResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about a dataset.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribeDefaultEncryptionConfiguration":{
      "name":"DescribeDefaultEncryptionConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/configuration/account/encryption"
      },
      "input":{"shape":"DescribeDefaultEncryptionConfigurationRequest"},
      "output":{"shape":"DescribeDefaultEncryptionConfigurationResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about the default encryption configuration for the Amazon Web Services account in the default or specified Region. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/key-management.html\">Key management</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribeExecution":{
      "name":"DescribeExecution",
      "http":{
        "method":"GET",
        "requestUri":"/executions/{executionId}"
      },
      "input":{"shape":"DescribeExecutionRequest"},
      "output":{"shape":"DescribeExecutionResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about the execution.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribeGateway":{
      "name":"DescribeGateway",
      "http":{
        "method":"GET",
        "requestUri":"/20200301/gateways/{gatewayId}"
      },
      "input":{"shape":"DescribeGatewayRequest"},
      "output":{"shape":"DescribeGatewayResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about a gateway.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribeGatewayCapabilityConfiguration":{
      "name":"DescribeGatewayCapabilityConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/20200301/gateways/{gatewayId}/capability/{capabilityNamespace}"
      },
      "input":{"shape":"DescribeGatewayCapabilityConfigurationRequest"},
      "output":{"shape":"DescribeGatewayCapabilityConfigurationResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Each gateway capability defines data sources for a gateway. This is the namespace of the gateway capability.</p> <p>. The namespace follows the format <code>service:capability:version</code>, where:</p> <ul> <li> <p> <code>service</code> - The service providing the capability, or <code>iotsitewise</code>.</p> </li> <li> <p> <code>capability</code> - The specific capability type. Options include: <code>opcuacollector</code> for the OPC UA data source collector, or <code>publisher</code> for data publisher capability.</p> </li> <li> <p> <code>version</code> - The version number of the capability. Option include <code>2</code> for Classic streams, V2 gateways, and <code>3</code> for MQTT-enabled, V3 gateways.</p> </li> </ul> <p>After updating a capability configuration, the sync status becomes <code>OUT_OF_SYNC</code> until the gateway processes the configuration.Use <code>DescribeGatewayCapabilityConfiguration</code> to check the sync status and verify the configuration was applied.</p> <p>A gateway can have multiple capability configurations with different namespaces.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribeLoggingOptions":{
      "name":"DescribeLoggingOptions",
      "http":{
        "method":"GET",
        "requestUri":"/logging"
      },
      "input":{"shape":"DescribeLoggingOptionsRequest"},
      "output":{"shape":"DescribeLoggingOptionsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves the current IoT SiteWise logging options.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribePortal":{
      "name":"DescribePortal",
      "http":{
        "method":"GET",
        "requestUri":"/portals/{portalId}",
        "responseCode":200
      },
      "input":{"shape":"DescribePortalRequest"},
      "output":{"shape":"DescribePortalResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about a portal.</p>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "DescribeProject":{
      "name":"DescribeProject",
      "http":{
        "method":"GET",
        "requestUri":"/projects/{projectId}",
        "responseCode":200
      },
      "input":{"shape":"DescribeProjectRequest"},
      "output":{"shape":"DescribeProjectResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about a project.</p>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "DescribeStorageConfiguration":{
      "name":"DescribeStorageConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/configuration/account/storage"
      },
      "input":{"shape":"DescribeStorageConfigurationRequest"},
      "output":{"shape":"DescribeStorageConfigurationResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Retrieves information about the storage configuration for IoT SiteWise.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DescribeTimeSeries":{
      "name":"DescribeTimeSeries",
      "http":{
        "method":"GET",
        "requestUri":"/timeseries/describe/"
      },
      "input":{"shape":"DescribeTimeSeriesRequest"},
      "output":{"shape":"DescribeTimeSeriesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves information about a time series (data stream).</p> <p>To identify a time series, do one of the following:</p> <ul> <li> <p>If the time series isn't associated with an asset property, specify the <code>alias</code> of the time series.</p> </li> <li> <p>If the time series is associated with an asset property, specify one of the following: </p> <ul> <li> <p>The <code>alias</code> of the time series.</p> </li> <li> <p>The <code>assetId</code> and <code>propertyId</code> that identifies the asset property.</p> </li> </ul> </li> </ul>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DisassociateAssets":{
      "name":"DisassociateAssets",
      "http":{
        "method":"POST",
        "requestUri":"/assets/{assetId}/disassociate"
      },
      "input":{"shape":"DisassociateAssetsRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Disassociates a child asset from the given parent asset through a hierarchy defined in the parent asset's model.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "DisassociateTimeSeriesFromAssetProperty":{
      "name":"DisassociateTimeSeriesFromAssetProperty",
      "http":{
        "method":"POST",
        "requestUri":"/timeseries/disassociate/"
      },
      "input":{"shape":"DisassociateTimeSeriesFromAssetPropertyRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Disassociates a time series (data stream) from an asset property.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "ExecuteAction":{
      "name":"ExecuteAction",
      "http":{
        "method":"POST",
        "requestUri":"/actions",
        "responseCode":202
      },
      "input":{"shape":"ExecuteActionRequest"},
      "output":{"shape":"ExecuteActionResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Executes an action on a target resource.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "ExecuteQuery":{
      "name":"ExecuteQuery",
      "http":{
        "method":"POST",
        "requestUri":"/queries/execution"
      },
      "input":{"shape":"ExecuteQueryRequest"},
      "output":{"shape":"ExecuteQueryResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"QueryTimeoutException"},
        {"shape":"InternalFailureException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Run SQL queries to retrieve metadata and time-series data from asset models, assets, measurements, metrics, transforms, and aggregates.</p>",
      "endpoint":{"hostPrefix":"data."}
    },
    "GetAssetPropertyAggregates":{
      "name":"GetAssetPropertyAggregates",
      "http":{
        "method":"GET",
        "requestUri":"/properties/aggregates"
      },
      "input":{"shape":"GetAssetPropertyAggregatesRequest"},
      "output":{"shape":"GetAssetPropertyAggregatesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Gets aggregated values for an asset property. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/query-industrial-data.html#aggregates\">Querying aggregates</a> in the <i>IoT SiteWise User Guide</i>.</p> <p>To identify an asset property, you must specify one of the following:</p> <ul> <li> <p>The <code>assetId</code> and <code>propertyId</code> of an asset property.</p> </li> <li> <p>A <code>propertyAlias</code>, which is a data stream alias (for example, <code>/company/windfarm/3/turbine/7/temperature</code>). To define an asset property's alias, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetProperty.html\">UpdateAssetProperty</a>.</p> </li> </ul>",
      "endpoint":{"hostPrefix":"data."}
    },
    "GetAssetPropertyValue":{
      "name":"GetAssetPropertyValue",
      "http":{
        "method":"GET",
        "requestUri":"/properties/latest"
      },
      "input":{"shape":"GetAssetPropertyValueRequest"},
      "output":{"shape":"GetAssetPropertyValueResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Gets an asset property's current value. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/query-industrial-data.html#current-values\">Querying current values</a> in the <i>IoT SiteWise User Guide</i>.</p> <p>To identify an asset property, you must specify one of the following:</p> <ul> <li> <p>The <code>assetId</code> and <code>propertyId</code> of an asset property.</p> </li> <li> <p>A <code>propertyAlias</code>, which is a data stream alias (for example, <code>/company/windfarm/3/turbine/7/temperature</code>). To define an asset property's alias, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetProperty.html\">UpdateAssetProperty</a>.</p> </li> </ul>",
      "endpoint":{"hostPrefix":"data."}
    },
    "GetAssetPropertyValueHistory":{
      "name":"GetAssetPropertyValueHistory",
      "http":{
        "method":"GET",
        "requestUri":"/properties/history"
      },
      "input":{"shape":"GetAssetPropertyValueHistoryRequest"},
      "output":{"shape":"GetAssetPropertyValueHistoryResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Gets the history of an asset property's values. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/query-industrial-data.html#historical-values\">Querying historical values</a> in the <i>IoT SiteWise User Guide</i>.</p> <p>To identify an asset property, you must specify one of the following:</p> <ul> <li> <p>The <code>assetId</code> and <code>propertyId</code> of an asset property.</p> </li> <li> <p>A <code>propertyAlias</code>, which is a data stream alias (for example, <code>/company/windfarm/3/turbine/7/temperature</code>). To define an asset property's alias, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetProperty.html\">UpdateAssetProperty</a>.</p> </li> </ul>",
      "endpoint":{"hostPrefix":"data."}
    },
    "GetInterpolatedAssetPropertyValues":{
      "name":"GetInterpolatedAssetPropertyValues",
      "http":{
        "method":"GET",
        "requestUri":"/properties/interpolated"
      },
      "input":{"shape":"GetInterpolatedAssetPropertyValuesRequest"},
      "output":{"shape":"GetInterpolatedAssetPropertyValuesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Get interpolated values for an asset property for a specified time interval, during a period of time. If your time series is missing data points during the specified time interval, you can use interpolation to estimate the missing data.</p> <p>For example, you can use this operation to return the interpolated temperature values for a wind turbine every 24 hours over a duration of 7 days.</p> <p>To identify an asset property, you must specify one of the following:</p> <ul> <li> <p>The <code>assetId</code> and <code>propertyId</code> of an asset property.</p> </li> <li> <p>A <code>propertyAlias</code>, which is a data stream alias (for example, <code>/company/windfarm/3/turbine/7/temperature</code>). To define an asset property's alias, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_UpdateAssetProperty.html\">UpdateAssetProperty</a>.</p> </li> </ul>",
      "endpoint":{"hostPrefix":"data."}
    },
    "InvokeAssistant":{
      "name":"InvokeAssistant",
      "http":{
        "method":"POST",
        "requestUri":"/assistant/invocation",
        "responseCode":200
      },
      "input":{"shape":"InvokeAssistantRequest"},
      "output":{"shape":"InvokeAssistantResponse"},
      "errors":[
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Invokes SiteWise Assistant to start or continue a conversation.</p>",
      "endpoint":{"hostPrefix":"data."}
    },
    "ListAccessPolicies":{
      "name":"ListAccessPolicies",
      "http":{
        "method":"GET",
        "requestUri":"/access-policies",
        "responseCode":200
      },
      "input":{"shape":"ListAccessPoliciesRequest"},
      "output":{"shape":"ListAccessPoliciesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a paginated list of access policies for an identity (an IAM Identity Center user, an IAM Identity Center group, or an IAM user) or an IoT SiteWise Monitor resource (a portal or project).</p>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "ListActions":{
      "name":"ListActions",
      "http":{
        "method":"GET",
        "requestUri":"/actions"
      },
      "input":{"shape":"ListActionsRequest"},
      "output":{"shape":"ListActionsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a paginated list of actions for a specific target resource.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "ListAssetModelCompositeModels":{
      "name":"ListAssetModelCompositeModels",
      "http":{
        "method":"GET",
        "requestUri":"/asset-models/{assetModelId}/composite-models"
      },
      "input":{"shape":"ListAssetModelCompositeModelsRequest"},
      "output":{"shape":"ListAssetModelCompositeModelsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves a paginated list of composite models associated with the asset model</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "ListAssetModelProperties":{
      "name":"ListAssetModelProperties",
      "http":{
        "method":"GET",
        "requestUri":"/asset-models/{assetModelId}/properties"
      },
      "input":{"shape":"ListAssetModelPropertiesRequest"},
      "output":{"shape":"ListAssetModelPropertiesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a paginated list of properties associated with an asset model. If you update properties associated with the model before you finish listing all the properties, you need to start all over again.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "ListAssetModels":{
      "name":"ListAssetModels",
      "http":{
        "method":"GET",
        "requestUri":"/asset-models"
      },
      "input":{"shape":"ListAssetModelsRequest"},
      "output":{"shape":"ListAssetModelsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a paginated list of summaries of all asset models.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "ListAssetProperties":{
      "name":"ListAssetProperties",
      "http":{
        "method":"GET",
        "requestUri":"/assets/{assetId}/properties"
      },
      "input":{"shape":"ListAssetPropertiesRequest"},
      "output":{"shape":"ListAssetPropertiesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a paginated list of properties associated with an asset. If you update properties associated with the model before you finish listing all the properties, you need to start all over again.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "ListAssetRelationships":{
      "name":"ListAssetRelationships",
      "http":{
        "method":"GET",
        "requestUri":"/assets/{assetId}/assetRelationships"
      },
      "input":{"shape":"ListAssetRelationshipsRequest"},
      "output":{"shape":"ListAssetRelationshipsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a paginated list of asset relationships for an asset. You can use this operation to identify an asset's root asset and all associated assets between that asset and its root.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "ListAssets":{
      "name":"ListAssets",
      "http":{
        "method":"GET",
        "requestUri":"/assets"
      },
      "input":{"shape":"ListAssetsRequest"},
      "output":{"shape":"ListAssetsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a paginated list of asset summaries.</p> <p>You can use this operation to do the following:</p> <ul> <li> <p>List assets based on a specific asset model.</p> </li> <li> <p>List top-level assets.</p> </li> </ul> <p>You can't use this operation to list all assets. To retrieve summaries for all of your assets, use <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_ListAssetModels.html\">ListAssetModels</a> to get all of your asset model IDs. Then, use ListAssets to get all assets for each asset model.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "ListAssociatedAssets":{
      "name":"ListAssociatedAssets",
      "http":{
        "method":"GET",
        "requestUri":"/assets/{assetId}/hierarchies"
      },
      "input":{"shape":"ListAssociatedAssetsRequest"},
      "output":{"shape":"ListAssociatedAssetsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a paginated list of associated assets.</p> <p>You can use this operation to do the following:</p> <ul> <li> <p> <code>CHILD</code> - List all child assets associated to the asset.</p> </li> <li> <p> <code>PARENT</code> - List the asset's parent asset.</p> </li> </ul>",
      "endpoint":{"hostPrefix":"api."}
    },
    "ListBulkImportJobs":{
      "name":"ListBulkImportJobs",
      "http":{
        "method":"GET",
        "requestUri":"/jobs"
      },
      "input":{"shape":"ListBulkImportJobsRequest"},
      "output":{"shape":"ListBulkImportJobsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a paginated list of bulk import job requests. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/ListBulkImportJobs.html\">List bulk import jobs (CLI)</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"data."}
    },
    "ListCompositionRelationships":{
      "name":"ListCompositionRelationships",
      "http":{
        "method":"GET",
        "requestUri":"/asset-models/{assetModelId}/composition-relationships"
      },
      "input":{"shape":"ListCompositionRelationshipsRequest"},
      "output":{"shape":"ListCompositionRelationshipsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a paginated list of composition relationships for an asset model of type <code>COMPONENT_MODEL</code>.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "ListComputationModelDataBindingUsages":{
      "name":"ListComputationModelDataBindingUsages",
      "http":{
        "method":"POST",
        "requestUri":"/computation-models/data-binding-usages"
      },
      "input":{"shape":"ListComputationModelDataBindingUsagesRequest"},
      "output":{"shape":"ListComputationModelDataBindingUsagesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p> Lists all data binding usages for computation models. This allows to identify where specific data bindings are being utilized across the computation models. This track dependencies between data sources and computation models. </p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "ListComputationModelResolveToResources":{
      "name":"ListComputationModelResolveToResources",
      "http":{
        "method":"GET",
        "requestUri":"/computation-models/{computationModelId}/resolve-to-resources"
      },
      "input":{"shape":"ListComputationModelResolveToResourcesRequest"},
      "output":{"shape":"ListComputationModelResolveToResourcesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists all distinct resources that are resolved from the executed actions of the computation model.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "ListComputationModels":{
      "name":"ListComputationModels",
      "http":{
        "method":"GET",
        "requestUri":"/computation-models"
      },
      "input":{"shape":"ListComputationModelsRequest"},
      "output":{"shape":"ListComputationModelsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a paginated list of summaries of all computation models.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "ListDashboards":{
      "name":"ListDashboards",
      "http":{
        "method":"GET",
        "requestUri":"/dashboards",
        "responseCode":200
      },
      "input":{"shape":"ListDashboardsRequest"},
      "output":{"shape":"ListDashboardsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a paginated list of dashboards for an IoT SiteWise Monitor project.</p>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "ListDatasets":{
      "name":"ListDatasets",
      "http":{
        "method":"GET",
        "requestUri":"/datasets"
      },
      "input":{"shape":"ListDatasetsRequest"},
      "output":{"shape":"ListDatasetsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a paginated list of datasets for a specific target resource.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "ListExecutions":{
      "name":"ListExecutions",
      "http":{
        "method":"GET",
        "requestUri":"/executions"
      },
      "input":{"shape":"ListExecutionsRequest"},
      "output":{"shape":"ListExecutionsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a paginated list of summaries of all executions.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "ListGateways":{
      "name":"ListGateways",
      "http":{
        "method":"GET",
        "requestUri":"/20200301/gateways"
      },
      "input":{"shape":"ListGatewaysRequest"},
      "output":{"shape":"ListGatewaysResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a paginated list of gateways.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "ListInterfaceRelationships":{
      "name":"ListInterfaceRelationships",
      "http":{
        "method":"GET",
        "requestUri":"/interface/{interfaceAssetModelId}/asset-models"
      },
      "input":{"shape":"ListInterfaceRelationshipsRequest"},
      "output":{"shape":"ListInterfaceRelationshipsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a paginated list of asset models that have a specific interface asset model applied to them.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "ListPortals":{
      "name":"ListPortals",
      "http":{
        "method":"GET",
        "requestUri":"/portals",
        "responseCode":200
      },
      "input":{"shape":"ListPortalsRequest"},
      "output":{"shape":"ListPortalsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a paginated list of IoT SiteWise Monitor portals.</p>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "ListProjectAssets":{
      "name":"ListProjectAssets",
      "http":{
        "method":"GET",
        "requestUri":"/projects/{projectId}/assets",
        "responseCode":200
      },
      "input":{"shape":"ListProjectAssetsRequest"},
      "output":{"shape":"ListProjectAssetsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a paginated list of assets associated with an IoT SiteWise Monitor project.</p>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "ListProjects":{
      "name":"ListProjects",
      "http":{
        "method":"GET",
        "requestUri":"/projects",
        "responseCode":200
      },
      "input":{"shape":"ListProjectsRequest"},
      "output":{"shape":"ListProjectsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a paginated list of projects for an IoT SiteWise Monitor portal.</p>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictingOperationException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Retrieves the list of tags for an IoT SiteWise resource.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "ListTimeSeries":{
      "name":"ListTimeSeries",
      "http":{
        "method":"GET",
        "requestUri":"/timeseries/"
      },
      "input":{"shape":"ListTimeSeriesRequest"},
      "output":{"shape":"ListTimeSeriesResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a paginated list of time series (data streams).</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "PutAssetModelInterfaceRelationship":{
      "name":"PutAssetModelInterfaceRelationship",
      "http":{
        "method":"PUT",
        "requestUri":"/asset-models/{assetModelId}/interface/{interfaceAssetModelId}/asset-model-interface-relationship",
        "responseCode":202
      },
      "input":{"shape":"PutAssetModelInterfaceRelationshipRequest"},
      "output":{"shape":"PutAssetModelInterfaceRelationshipResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Creates or updates an interface relationship between an asset model and an interface asset model. This operation applies an interface to an asset model.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "PutDefaultEncryptionConfiguration":{
      "name":"PutDefaultEncryptionConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/configuration/account/encryption"
      },
      "input":{"shape":"PutDefaultEncryptionConfigurationRequest"},
      "output":{"shape":"PutDefaultEncryptionConfigurationResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Sets the default encryption configuration for the Amazon Web Services account. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/key-management.html\">Key management</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "PutLoggingOptions":{
      "name":"PutLoggingOptions",
      "http":{
        "method":"PUT",
        "requestUri":"/logging"
      },
      "input":{"shape":"PutLoggingOptionsRequest"},
      "output":{"shape":"PutLoggingOptionsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ConflictingOperationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Sets logging options for IoT SiteWise.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "PutStorageConfiguration":{
      "name":"PutStorageConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/configuration/account/storage"
      },
      "input":{"shape":"PutStorageConfigurationRequest"},
      "output":{"shape":"PutStorageConfigurationResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Configures storage settings for IoT SiteWise.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictingOperationException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnauthorizedException"},
        {"shape":"TooManyTagsException"}
      ],
      "documentation":"<p>Adds tags to an IoT SiteWise resource. If a tag already exists for the resource, this operation updates the tag's value.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictingOperationException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Removes a tag from an IoT SiteWise resource.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "UpdateAccessPolicy":{
      "name":"UpdateAccessPolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/access-policies/{accessPolicyId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateAccessPolicyRequest"},
      "output":{"shape":"UpdateAccessPolicyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates an existing access policy that specifies an identity's access to an IoT SiteWise Monitor portal or project resource.</p>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "UpdateAsset":{
      "name":"UpdateAsset",
      "http":{
        "method":"PUT",
        "requestUri":"/assets/{assetId}",
        "responseCode":202
      },
      "input":{"shape":"UpdateAssetRequest"},
      "output":{"shape":"UpdateAssetResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Updates an asset's name. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/update-assets-and-models.html\">Updating assets and models</a> in the <i>IoT SiteWise User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "UpdateAssetModel":{
      "name":"UpdateAssetModel",
      "http":{
        "method":"PUT",
        "requestUri":"/asset-models/{assetModelId}",
        "responseCode":202
      },
      "input":{"shape":"UpdateAssetModelRequest"},
      "output":{"shape":"UpdateAssetModelResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"},
        {"shape":"PreconditionFailedException"}
      ],
      "documentation":"<p>Updates an asset model and all of the assets that were created from the model. Each asset created from the model inherits the updated asset model's property and hierarchy definitions. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/update-assets-and-models.html\">Updating assets and models</a> in the <i>IoT SiteWise User Guide</i>.</p> <important> <p>If you remove a property from an asset model, IoT SiteWise deletes all previous data for that property. You can’t change the type or data type of an existing property.</p> <p>To replace an existing asset model property with a new one with the same <code>name</code>, do the following:</p> <ol> <li> <p>Submit an <code>UpdateAssetModel</code> request with the entire existing property removed.</p> </li> <li> <p>Submit a second <code>UpdateAssetModel</code> request that includes the new property. The new asset property will have the same <code>name</code> as the previous one and IoT SiteWise will generate a new unique <code>id</code>.</p> </li> </ol> </important>",
      "endpoint":{"hostPrefix":"api."}
    },
    "UpdateAssetModelCompositeModel":{
      "name":"UpdateAssetModelCompositeModel",
      "http":{
        "method":"PUT",
        "requestUri":"/asset-models/{assetModelId}/composite-models/{assetModelCompositeModelId}",
        "responseCode":202
      },
      "input":{"shape":"UpdateAssetModelCompositeModelRequest"},
      "output":{"shape":"UpdateAssetModelCompositeModelResponse"},
      "errors":[
        {"shape":"ConflictingOperationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"InternalFailureException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Updates a composite model and all of the assets that were created from the model. Each asset created from the model inherits the updated asset model's property and hierarchy definitions. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/update-assets-and-models.html\">Updating assets and models</a> in the <i>IoT SiteWise User Guide</i>.</p> <important> <p>If you remove a property from a composite asset model, IoT SiteWise deletes all previous data for that property. You can’t change the type or data type of an existing property.</p> <p>To replace an existing composite asset model property with a new one with the same <code>name</code>, do the following:</p> <ol> <li> <p>Submit an <code>UpdateAssetModelCompositeModel</code> request with the entire existing property removed.</p> </li> <li> <p>Submit a second <code>UpdateAssetModelCompositeModel</code> request that includes the new property. The new asset property will have the same <code>name</code> as the previous one and IoT SiteWise will generate a new unique <code>id</code>.</p> </li> </ol> </important>",
      "endpoint":{"hostPrefix":"api."}
    },
    "UpdateAssetProperty":{
      "name":"UpdateAssetProperty",
      "http":{
        "method":"PUT",
        "requestUri":"/assets/{assetId}/properties/{propertyId}"
      },
      "input":{"shape":"UpdateAssetPropertyRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Updates an asset property's alias and notification state.</p> <important> <p>This operation overwrites the property's existing alias and notification state. To keep your existing property's alias or notification state, you must include the existing values in the UpdateAssetProperty request. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/APIReference/API_DescribeAssetProperty.html\">DescribeAssetProperty</a>.</p> </important>",
      "endpoint":{"hostPrefix":"api."}
    },
    "UpdateComputationModel":{
      "name":"UpdateComputationModel",
      "http":{
        "method":"POST",
        "requestUri":"/computation-models/{computationModelId}",
        "responseCode":202
      },
      "input":{"shape":"UpdateComputationModelRequest"},
      "output":{"shape":"UpdateComputationModelResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Updates the computation model.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "UpdateDashboard":{
      "name":"UpdateDashboard",
      "http":{
        "method":"PUT",
        "requestUri":"/dashboards/{dashboardId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateDashboardRequest"},
      "output":{"shape":"UpdateDashboardResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates an IoT SiteWise Monitor dashboard.</p>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "UpdateDataset":{
      "name":"UpdateDataset",
      "http":{
        "method":"PUT",
        "requestUri":"/datasets/{datasetId}",
        "responseCode":202
      },
      "input":{"shape":"UpdateDatasetRequest"},
      "output":{"shape":"UpdateDatasetResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Updates a dataset.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "UpdateGateway":{
      "name":"UpdateGateway",
      "http":{
        "method":"PUT",
        "requestUri":"/20200301/gateways/{gatewayId}"
      },
      "input":{"shape":"UpdateGatewayRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictingOperationException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates a gateway's name.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "UpdateGatewayCapabilityConfiguration":{
      "name":"UpdateGatewayCapabilityConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/20200301/gateways/{gatewayId}/capability",
        "responseCode":201
      },
      "input":{"shape":"UpdateGatewayCapabilityConfigurationRequest"},
      "output":{"shape":"UpdateGatewayCapabilityConfigurationResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictingOperationException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Updates a gateway capability configuration or defines a new capability configuration. Each gateway capability defines data sources for a gateway.</p> <p>Important workflow notes:</p> <p>Each gateway capability defines data sources for a gateway. This is the namespace of the gateway capability.</p> <p>. The namespace follows the format <code>service:capability:version</code>, where:</p> <ul> <li> <p> <code>service</code> - The service providing the capability, or <code>iotsitewise</code>.</p> </li> <li> <p> <code>capability</code> - The specific capability type. Options include: <code>opcuacollector</code> for the OPC UA data source collector, or <code>publisher</code> for data publisher capability.</p> </li> <li> <p> <code>version</code> - The version number of the capability. Option include <code>2</code> for Classic streams, V2 gateways, and <code>3</code> for MQTT-enabled, V3 gateways.</p> </li> </ul> <p>After updating a capability configuration, the sync status becomes <code>OUT_OF_SYNC</code> until the gateway processes the configuration.Use <code>DescribeGatewayCapabilityConfiguration</code> to check the sync status and verify the configuration was applied.</p> <p>A gateway can have multiple capability configurations with different namespaces.</p>",
      "endpoint":{"hostPrefix":"api."}
    },
    "UpdatePortal":{
      "name":"UpdatePortal",
      "http":{
        "method":"PUT",
        "requestUri":"/portals/{portalId}",
        "responseCode":202
      },
      "input":{"shape":"UpdatePortalRequest"},
      "output":{"shape":"UpdatePortalResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictingOperationException"}
      ],
      "documentation":"<p>Updates an IoT SiteWise Monitor portal.</p>",
      "endpoint":{"hostPrefix":"monitor."}
    },
    "UpdateProject":{
      "name":"UpdateProject",
      "http":{
        "method":"PUT",
        "requestUri":"/projects/{projectId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateProjectRequest"},
      "output":{"shape":"UpdateProjectResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates an IoT SiteWise Monitor project.</p>",
      "endpoint":{"hostPrefix":"monitor."}
    }
  },
  "shapes":{
    "ARN":{
      "type":"string",
      "max":1600,
      "min":1,
      "pattern":"^arn:aws(-cn|-us-gov)?:[a-zA-Z0-9-:\\/_\\.]+$"
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>Access is denied.</p>",
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "AccessPolicySummaries":{
      "type":"list",
      "member":{"shape":"AccessPolicySummary"}
    },
    "AccessPolicySummary":{
      "type":"structure",
      "required":[
        "id",
        "identity",
        "resource",
        "permission"
      ],
      "members":{
        "id":{
          "shape":"ID",
          "documentation":"<p>The ID of the access policy.</p>"
        },
        "identity":{
          "shape":"Identity",
          "documentation":"<p>The identity (an IAM Identity Center user, an IAM Identity Center group, or an IAM user).</p>"
        },
        "resource":{
          "shape":"Resource",
          "documentation":"<p>The IoT SiteWise Monitor resource (a portal or project).</p>"
        },
        "permission":{
          "shape":"Permission",
          "documentation":"<p>The permissions for the access policy. Note that a project <code>ADMINISTRATOR</code> is also known as a project owner.</p>"
        },
        "creationDate":{
          "shape":"Timestamp",
          "documentation":"<p>The date the access policy was created, in Unix epoch time.</p>"
        },
        "lastUpdateDate":{
          "shape":"Timestamp",
          "documentation":"<p>The date the access policy was last updated, in Unix epoch time.</p>"
        }
      },
      "documentation":"<p>Contains an access policy that defines an identity's access to an IoT SiteWise Monitor resource.</p>"
    },
    "ActionDefinition":{
      "type":"structure",
      "required":[
        "actionDefinitionId",
        "actionName",
        "actionType"
      ],
      "members":{
        "actionDefinitionId":{
          "shape":"ID",
          "documentation":"<p>The ID of the action definition.</p>"
        },
        "actionName":{
          "shape":"Name",
          "documentation":"<p>The name of the action definition.</p>"
        },
        "actionType":{
          "shape":"Name",
          "documentation":"<p>The type of the action definition.</p>"
        }
      },
      "documentation":"<p>Contains a definition for an action.</p>"
    },
    "ActionDefinitions":{
      "type":"list",
      "member":{"shape":"ActionDefinition"}
    },
    "ActionPayload":{
      "type":"structure",
      "required":["stringValue"],
      "members":{
        "stringValue":{
          "shape":"ActionPayloadString",
          "documentation":"<p>The payload of the action in a JSON string.</p>"
        }
      },
      "documentation":"<p>The JSON payload of the action.</p>"
    },
    "ActionPayloadString":{
      "type":"string",
      "pattern":"[^\\u0000-\\u001F\\u007F]+"
    },
    "ActionSummaries":{
      "type":"list",
      "member":{"shape":"ActionSummary"}
    },
    "ActionSummary":{
      "type":"structure",
      "members":{
        "actionId":{
          "shape":"ID",
          "documentation":"<p>The ID of the action.</p>"
        },
        "actionDefinitionId":{
          "shape":"ID",
          "documentation":"<p>The ID of the action definition.</p>"
        },
        "targetResource":{
          "shape":"TargetResource",
          "documentation":"<p>The resource the action will be taken on.</p>"
        },
        "resolveTo":{
          "shape":"ResolveTo",
          "documentation":"<p>The detailed resource this action resolves to.</p>"
        }
      },
      "documentation":"<p>Contains the summary of the actions, including information about where the action resolves to.</p>"
    },
    "AdaptiveIngestion":{"type":"boolean"},
    "AggregateType":{
      "type":"string",
      "enum":[
        "AVERAGE",
        "COUNT",
        "MAXIMUM",
        "MINIMUM",
        "SUM",
        "STANDARD_DEVIATION"
      ]
    },
    "AggregateTypes":{
      "type":"list",
      "member":{"shape":"AggregateType"},
      "min":1
    },
    "AggregatedDoubleValue":{"type":"double"},
    "AggregatedValue":{
      "type":"structure",
      "required":[
        "timestamp",
        "value"
      ],
      "members":{
        "timestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The date the aggregating computations occurred, in Unix epoch time.</p>"
        },
        "quality":{
          "shape":"Quality",
          "documentation":"<p>The quality of the aggregated data.</p>"
        },
        "value":{
          "shape":"Aggregates",
          "documentation":"<p>The value of the aggregates.</p>"
        }
      },
      "documentation":"<p>Contains aggregated asset property values (for example, average, minimum, and maximum).</p>"
    },
    "AggregatedValues":{
      "type":"list",
      "member":{"shape":"AggregatedValue"}
    },
    "Aggregates":{
      "type":"structure",
      "members":{
        "average":{
          "shape":"AggregatedDoubleValue",
          "documentation":"<p>The average (mean) value of the time series over a time interval window.</p>"
        },
        "count":{
          "shape":"AggregatedDoubleValue",
          "documentation":"<p>The count of data points in the time series over a time interval window.</p>"
        },
        "maximum":{
          "shape":"AggregatedDoubleValue",
          "documentation":"<p>The maximum value of the time series over a time interval window.</p>"
        },
        "minimum":{
          "shape":"AggregatedDoubleValue",
          "documentation":"<p>The minimum value of the time series over a time interval window.</p>"
        },
        "sum":{
          "shape":"AggregatedDoubleValue",
          "documentation":"<p>The sum of the time series over a time interval window.</p>"
        },
        "standardDeviation":{
          "shape":"AggregatedDoubleValue",
          "documentation":"<p>The standard deviation of the time series over a time interval window.</p>"
        }
      },
      "documentation":"<p>Contains the (pre-calculated) aggregate values for an asset property.</p>"
    },
    "Alarms":{
      "type":"structure",
      "required":["alarmRoleArn"],
      "members":{
        "alarmRoleArn":{
          "shape":"IamArn",
          "documentation":"<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the IAM role that allows the alarm to perform actions and access Amazon Web Services resources and services, such as IoT Events.</p>"
        },
        "notificationLambdaArn":{
          "shape":"ARN",
          "documentation":"<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">ARN</a> of the Lambda function that manages alarm notifications. For more information, see <a href=\"https://docs.aws.amazon.com/iotevents/latest/developerguide/lambda-support.html\">Managing alarm notifications</a> in the <i>IoT Events Developer Guide</i>.</p>"
        }
      },
      "documentation":"<p>Contains the configuration information of an alarm created in an IoT SiteWise Monitor portal. You can use the alarm to monitor an asset property and get notified when the asset property value is outside a specified range. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/appguide/monitor-alarms.html\">Monitoring with alarms</a> in the <i>IoT SiteWise Application Guide</i>.</p>"
    },
    "AmazonResourceName":{
      "type":"string",
      "max":1011,
      "min":1
    },
    "AssetBindingValueFilter":{
      "type":"structure",
      "required":["assetId"],
      "members":{
        "assetId":{
          "shape":"ID",
          "documentation":"<p>The ID of the asset to filter data bindings by. Only data bindings referencing this specific asset are matched.</p>"
        }
      },
      "documentation":"<p>A filter used to match data bindings based on a specific asset. This filter identifies all computation models referencing a particular asset in their data bindings.</p>"
    },
    "AssetCompositeModel":{
      "type":"structure",
      "required":[
        "name",
        "type",
        "properties"
      ],
      "members":{
        "name":{
          "shape":"Name",
[...]
