<section id="appearance" class="settings-content">
    <header>
        <h2 class="title">Appearance</h2>
    </header>
    <section class="content">
        <h6 class="sub">Raw json be here</h6>
        <p>Active theme: {{json settings.activeTheme}}</p>
        <p>Available themes: {{json availableThemes}}</p>
        <p>Available plugins: {{json availablePlugins}}</p>
    </section>
</section>