<header>
    <button class="button-back">Back</button>
    <h2 class="title">Code Injection</h2>
    <section class="page-actions">
        <button class="button-save">Save</button>
    </section>
</header>

<section class="content">
    <p>Ghost allows you to inject code to the top and bottom of your template files without editing them. This allows for quick modifications to insert useful things like tracking codes and meta data</p>

    <h3>Blog Header</h3>
    <p class='description'>Code here will be injected to the \{{ghost_head}} helper at the top of each page of your blog</p>
    <textarea id="entry-header"></textarea>

    <h3>Blog Footer</h3>
    <p class='description'>Code here will be injected to the \{{ghost_foot}} helper at the bottom of each page of your blog</p>
    <textarea id="entry-footer"></textarea>
</section>
