<section id="users" class="settings-content">
    <header>
        <h2 class="title">Users</h2>
        <section class="page-actions">
            <button class="button-add">New User</button>
        </section>
    </header>
    <section class="content">
        <section id="users-pending" class="user-group">
            <header class="user-group-header"><h3>Invited Users</h3></header>
            <ul class="users">
                <li class="user">
                    <figure class="user-image invite"></figure>
                    <section class="user-meta">
                        <h4 class="user-name">Some Name</h4>
                        <span class="user-last-seen">Invitation Sent: 7 hours ago</span>
                    </section>
                </li>
            </ul>
        </section>
        <section id="users-active" class="user-group">
            <header class="user-group-header">
                <h3>Active Users</h3>

                <form class="user-search">
                    <label>
                        <i class="search-icon"></i>
                        <input class="user-search-input" type="text"/>
                    </label>
                </form>
            </header>

            <ul class="users">
                <li class="user">
                    <figure class="user-image">
                        <img src="/public/img/user.jpg" alt="user"/>
                    </figure>
                    <section class="user-meta">
                        <h4 class="user-name">Some Name</h4>
                        <span class="user-last-seen">Last Seen: 7 hours ago</span>
                    </section>
                    <span class="user-role admin">Admin</span>
                </li>
                <li class="user">
                    <figure class="user-image">
                        <img src="/public/img/user.jpg" alt="user"/>
                    </figure>
                    <section class="user-meta">
                        <h4 class="user-name">Some Name</h4>
                        <span class="user-last-seen">Last Seen: 2 days ago</span>
                    </section>
                    <span class="user-role editor">Editor</span>
                </li>
            </ul>
        </section>
    </section>
</section>