<!-- banner section begin -->
<div class="banner" id="home">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-8 col-lg-8 col-sm-8">
                <div class="banner-txt">
                    <h1>play free games in your browser</h1>
                    <a href="/games" class="def-btn">play now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner section end -->
