<!-- FILTERS ROW -->
<div class="filters-row">
  <!-- DROPDOWN SIMPLE WRAP -->
  <div class="dropdown-simple-wrap">
    <!-- DP CURRENT OPTION -->
    <div id="filter-01-dropdown-trigger" class="dp-current-option">
      <!-- DP CURRENT OPTION VALUE -->
      <div id="filter-01-dropdown-option-value" class="dp-current-option-value">
        <p class="dp-option-text">All Categories</p>
      </div>
      <!-- /DP CURRENT OPTION VALUE -->

      <!-- ARROW ICON -->
      <svg class="arrow-icon">
        <use xlink:href="#svg-arrow"></use>
      </svg>
      <!-- /ARROW ICON -->
    </div>
    <!-- /DP CURRENT OPTION -->

    <!-- DP OPTIONS -->
    <div id="filter-01-dropdown" class="dp-options small">
      <!-- DP OPTION -->
      <div class="dp-option">
        <p class="dp-option-text">All Categories</p>
      </div>
      <!-- /DP OPTION -->

      <!-- DP OPTION -->
      <div class="dp-option">
        <p class="dp-option-text">News</p>
      </div>
      <!-- /DP OPTION -->

      <!-- DP OPTION -->
      <div class="dp-option">
        <p class="dp-option-text">Reviews</p>
      </div>
      <!-- /DP OPTION -->
    </div>
    <!-- /DP OPTIONS -->
  </div>
  <!-- /DROPDOWN SIMPLE WRAP -->

  <!-- DROPDOWN SIMPLE WRAP -->
  <div class="dropdown-simple-wrap">
    <!-- DP CURRENT OPTION -->
    <div id="filter-02-dropdown-trigger" class="dp-current-option">
      <!-- DP CURRENT OPTION VALUE -->
      <div id="filter-02-dropdown-option-value" class="dp-current-option-value">
        <p class="dp-option-text">All Authors</p>
      </div>
      <!-- /DP CURRENT OPTION VALUE -->

      <!-- ARROW ICON -->
      <svg class="arrow-icon">
        <use xlink:href="#svg-arrow"></use>
      </svg>
      <!-- /ARROW ICON -->
    </div>
    <!-- /DP CURRENT OPTION -->

    <!-- DP OPTIONS -->
    <div id="filter-02-dropdown" class="dp-options small">
      <!-- DP OPTION -->
      <div class="dp-option">
        <p class="dp-option-text">All Authors</p>
      </div>
      <!-- /DP OPTION -->

      <!-- DP OPTION -->
      <div class="dp-option">
        <p class="dp-option-text">Vellatrix</p>
      </div>
      <!-- /DP OPTION -->

      <!-- DP OPTION -->
      <div class="dp-option">
        <p class="dp-option-text">Dexter</p>
      </div>
      <!-- /DP OPTION -->
    </div>
    <!-- /DP OPTIONS -->
  </div>
  <!-- /DROPDOWN SIMPLE WRAP -->

  <!-- DROPDOWN SIMPLE WRAP -->
  <div class="dropdown-simple-wrap">
    <!-- DP CURRENT OPTION -->
    <div id="filter-03-dropdown-trigger" class="dp-current-option">
      <!-- DP CURRENT OPTION VALUE -->
      <div id="filter-03-dropdown-option-value" class="dp-current-option-value">
        <p class="dp-option-text">Order By Date</p>
      </div>
      <!-- /DP CURRENT OPTION VALUE -->

      <!-- ARROW ICON -->
      <svg class="arrow-icon">
        <use xlink:href="#svg-arrow"></use>
      </svg>
      <!-- /ARROW ICON -->
    </div>
    <!-- /DP CURRENT OPTION -->

    <!-- DP OPTIONS -->
    <div id="filter-03-dropdown" class="dp-options small">
      <!-- DP OPTION -->
      <div class="dp-option">
        <p class="dp-option-text">Order By Date</p>
      </div>
      <!-- /DP OPTION -->

      <!-- DP OPTION -->
      <div class="dp-option">
        <p class="dp-option-text">Order By Popularity</p>
      </div>
      <!-- /DP OPTION -->
    </div>
    <!-- /DP OPTIONS -->
  </div>
  <!-- /DROPDOWN SIMPLE WRAP -->

  <!-- DROPDOWN SIMPLE WRAP -->
  <div class="dropdown-simple-wrap">
    <!-- DP CURRENT OPTION -->
    <div id="filter-04-dropdown-trigger" class="dp-current-option">
      <!-- DP CURRENT OPTION VALUE -->
      <div id="filter-04-dropdown-option-value" class="dp-current-option-value">
        <p class="dp-option-text">Descending</p>
      </div>
      <!-- /DP CURRENT OPTION VALUE -->

      <!-- ARROW ICON -->
      <svg class="arrow-icon">
        <use xlink:href="#svg-arrow"></use>
      </svg>
      <!-- /ARROW ICON -->
    </div>
    <!-- /DP CURRENT OPTION -->

    <!-- DP OPTIONS -->
    <div id="filter-04-dropdown" class="dp-options small">
      <!-- DP OPTION -->
      <div class="dp-option">
        <p class="dp-option-text">Descending</p>
      </div>
      <!-- /DP OPTION -->

      <!-- DP OPTION -->
      <div class="dp-option">
        <p class="dp-option-text">Ascending</p>
      </div>
      <!-- /DP OPTION -->
    </div>
    <!-- /DP OPTIONS -->
  </div>
  <!-- /DROPDOWN SIMPLE WRAP -->
</div>
<!-- /FILTERS ROW -->
