<div class="social-links">
  <ul>
    <li>
      <a href="https://www.youtube.com/channel/UCW7TRqEAjqmuaJq5RArZ08A" class="single-link">
        <i class="fab fa-youtube"></i>
      </a>
    </li>
    <li>
      <a href="#0" class="single-link">
        <i class="fab fa-facebook-f"></i>
      </a>
    </li>
    <li>
      <a href="#0" class="single-link">
        <i class="fab fa-twitter"></i>
      </a>
    </li>
    <li>
      <a href="#0" class="single-link">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
  </ul>
</div>
