{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2021-01-01",
    "endpointPrefix":"es",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"Amazon OpenSearch Service",
    "serviceId":"OpenSearch",
    "signatureVersion":"v4",
    "uid":"opensearch-2021-01-01",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AcceptInboundConnection":{
      "name":"AcceptInboundConnection",
      "http":{
        "method":"PUT",
        "requestUri":"/2021-01-01/opensearch/cc/inboundConnection/{ConnectionId}/accept"
      },
      "input":{"shape":"AcceptInboundConnectionRequest"},
      "output":{"shape":"AcceptInboundConnectionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p>Allows the destination Amazon OpenSearch Service domain owner to accept an inbound cross-cluster search connection request. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/cross-cluster-search.html\">Cross-cluster search for Amazon OpenSearch Service</a>.</p>"
    },
    "AddDataSource":{
      "name":"AddDataSource",
      "http":{
        "method":"POST",
        "requestUri":"/2021-01-01/opensearch/domain/{DomainName}/dataSource"
      },
      "input":{"shape":"AddDataSourceRequest"},
      "output":{"shape":"AddDataSourceResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"DisabledOperationException"},
        {"shape":"DependencyFailureException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a new direct-query data source to the specified domain. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/direct-query-s3-creating.html\">Creating Amazon OpenSearch Service data source integrations with Amazon S3</a>.</p>"
    },
    "AddDirectQueryDataSource":{
      "name":"AddDirectQueryDataSource",
      "http":{
        "method":"POST",
        "requestUri":"/2021-01-01/opensearch/directQueryDataSource"
      },
      "input":{"shape":"AddDirectQueryDataSourceRequest"},
      "output":{"shape":"AddDirectQueryDataSourceResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"DisabledOperationException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p> Adds a new data source in Amazon OpenSearch Service so that you can perform direct queries on external data. </p>"
    },
    "AddTags":{
      "name":"AddTags",
      "http":{
        "method":"POST",
        "requestUri":"/2021-01-01/tags"
      },
      "input":{"shape":"AddTagsRequest"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"LimitExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Attaches tags to an existing Amazon OpenSearch Service domain, data source, or application. </p> <p>Tags are a set of case-sensitive key-value pairs. A domain, data source, or application can have up to 10 tags. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/managedomains-awsresourcetagging.html\">Tagging Amazon OpenSearch Service resources</a>. </p>"
    },
    "AssociatePackage":{
      "name":"AssociatePackage",
      "http":{
        "method":"POST",
        "requestUri":"/2021-01-01/packages/associate/{PackageID}/{DomainName}"
      },
      "input":{"shape":"AssociatePackageRequest"},
      "output":{"shape":"AssociatePackageResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Associates a package with an Amazon OpenSearch Service domain. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/custom-packages.html\">Custom packages for Amazon OpenSearch Service</a>.</p>"
    },
    "AssociatePackages":{
      "name":"AssociatePackages",
      "http":{
        "method":"POST",
        "requestUri":"/2021-01-01/packages/associateMultiple"
      },
      "input":{"shape":"AssociatePackagesRequest"},
      "output":{"shape":"AssociatePackagesResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p>Operation in the Amazon OpenSearch Service API for associating multiple packages with a domain simultaneously.</p>"
    },
    "AuthorizeVpcEndpointAccess":{
      "name":"AuthorizeVpcEndpointAccess",
      "http":{
        "method":"POST",
        "requestUri":"/2021-01-01/opensearch/domain/{DomainName}/authorizeVpcEndpointAccess"
      },
      "input":{"shape":"AuthorizeVpcEndpointAccessRequest"},
      "output":{"shape":"AuthorizeVpcEndpointAccessResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"DisabledOperationException"},
        {"shape":"LimitExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalException"},
        {"shape":"BaseException"}
      ],
      "documentation":"<p>Provides access to an Amazon OpenSearch Service domain through the use of an interface VPC endpoint.</p>"
    },
    "CancelDomainConfigChange":{
      "name":"CancelDomainConfigChange",
      "http":{
        "method":"POST",
        "requestUri":"/2021-01-01/opensearch/domain/{DomainName}/config/cancel"
      },
      "input":{"shape":"CancelDomainConfigChangeRequest"},
      "output":{"shape":"CancelDomainConfigChangeResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p>Cancels a pending configuration change on an Amazon OpenSearch Service domain.</p>"
    },
    "CancelServiceSoftwareUpdate":{
      "name":"CancelServiceSoftwareUpdate",
      "http":{
        "method":"POST",
        "requestUri":"/2021-01-01/opensearch/serviceSoftwareUpdate/cancel"
      },
      "input":{"shape":"CancelServiceSoftwareUpdateRequest"},
      "output":{"shape":"CancelServiceSoftwareUpdateResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Cancels a scheduled service software update for an Amazon OpenSearch Service domain. You can only perform this operation before the <code>AutomatedUpdateDate</code> and when the domain's <code>UpdateStatus</code> is <code>PENDING_UPDATE</code>. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/service-software.html\">Service software updates in Amazon OpenSearch Service</a>.</p>"
    },
    "CreateApplication":{
      "name":"CreateApplication",
      "http":{
        "method":"POST",
        "requestUri":"/2021-01-01/opensearch/application",
        "responseCode":200
      },
      "input":{"shape":"CreateApplicationRequest"},
      "output":{"shape":"CreateApplicationResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p>Creates an OpenSearch UI application. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/application.html\">Using the OpenSearch user interface in Amazon OpenSearch Service</a>.</p>"
    },
    "CreateDomain":{
      "name":"CreateDomain",
      "http":{
        "method":"POST",
        "requestUri":"/2021-01-01/opensearch/domain"
      },
      "input":{"shape":"CreateDomainRequest"},
      "output":{"shape":"CreateDomainResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"DisabledOperationException"},
        {"shape":"InternalException"},
        {"shape":"InvalidTypeException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Creates an Amazon OpenSearch Service domain. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/createupdatedomains.html\">Creating and managing Amazon OpenSearch Service domains</a>.</p>"
    },
    "CreateOutboundConnection":{
      "name":"CreateOutboundConnection",
      "http":{
        "method":"POST",
        "requestUri":"/2021-01-01/opensearch/cc/outboundConnection"
      },
      "input":{"shape":"CreateOutboundConnectionRequest"},
      "output":{"shape":"CreateOutboundConnectionResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"InternalException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p>Creates a new cross-cluster search connection from a source Amazon OpenSearch Service domain to a destination domain. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/cross-cluster-search.html\">Cross-cluster search for Amazon OpenSearch Service</a>.</p>"
    },
    "CreatePackage":{
      "name":"CreatePackage",
      "http":{
        "method":"POST",
        "requestUri":"/2021-01-01/packages"
      },
      "input":{"shape":"CreatePackageRequest"},
      "output":{"shape":"CreatePackageResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidTypeException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Creates a package for use with Amazon OpenSearch Service domains. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/custom-packages.html\">Custom packages for Amazon OpenSearch Service</a>.</p>"
    },
    "CreateVpcEndpoint":{
      "name":"CreateVpcEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/2021-01-01/opensearch/vpcEndpoints"
      },
      "input":{"shape":"CreateVpcEndpointRequest"},
      "output":{"shape":"CreateVpcEndpointResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalException"},
        {"shape":"DisabledOperationException"},
        {"shape":"BaseException"}
      ],
      "documentation":"<p>Creates an Amazon OpenSearch Service-managed VPC endpoint.</p>"
    },
    "DeleteApplication":{
      "name":"DeleteApplication",
      "http":{
        "method":"DELETE",
        "requestUri":"/2021-01-01/opensearch/application/{id}",
        "responseCode":200
      },
      "input":{"shape":"DeleteApplicationRequest"},
      "output":{"shape":"DeleteApplicationResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p>Deletes a specified OpenSearch application.</p>"
    },
    "DeleteDataSource":{
      "name":"DeleteDataSource",
      "http":{
        "method":"DELETE",
        "requestUri":"/2021-01-01/opensearch/domain/{DomainName}/dataSource/{DataSourceName}"
      },
      "input":{"shape":"DeleteDataSourceRequest"},
      "output":{"shape":"DeleteDataSourceResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"DisabledOperationException"},
        {"shape":"DependencyFailureException"}
      ],
      "documentation":"<p>Deletes a direct-query data source. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/direct-query-s3-delete.html\">Deleting an Amazon OpenSearch Service data source with Amazon S3</a>.</p>"
    },
    "DeleteDirectQueryDataSource":{
      "name":"DeleteDirectQueryDataSource",
      "http":{
        "method":"DELETE",
        "requestUri":"/2021-01-01/opensearch/directQueryDataSource/{DataSourceName}"
      },
      "input":{"shape":"DeleteDirectQueryDataSourceRequest"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p> Deletes a previously configured direct query data source from Amazon OpenSearch Service. </p>"
    },
    "DeleteDomain":{
      "name":"DeleteDomain",
      "http":{
        "method":"DELETE",
        "requestUri":"/2021-01-01/opensearch/domain/{DomainName}"
      },
      "input":{"shape":"DeleteDomainRequest"},
      "output":{"shape":"DeleteDomainResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes an Amazon OpenSearch Service domain and all of its data. You can't recover a domain after you delete it.</p>"
    },
    "DeleteInboundConnection":{
      "name":"DeleteInboundConnection",
      "http":{
        "method":"DELETE",
        "requestUri":"/2021-01-01/opensearch/cc/inboundConnection/{ConnectionId}"
      },
      "input":{"shape":"DeleteInboundConnectionRequest"},
      "output":{"shape":"DeleteInboundConnectionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p>Allows the destination Amazon OpenSearch Service domain owner to delete an existing inbound cross-cluster search connection. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/cross-cluster-search.html\">Cross-cluster search for Amazon OpenSearch Service</a>.</p>"
    },
    "DeleteOutboundConnection":{
      "name":"DeleteOutboundConnection",
      "http":{
        "method":"DELETE",
        "requestUri":"/2021-01-01/opensearch/cc/outboundConnection/{ConnectionId}"
      },
      "input":{"shape":"DeleteOutboundConnectionRequest"},
      "output":{"shape":"DeleteOutboundConnectionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p>Allows the source Amazon OpenSearch Service domain owner to delete an existing outbound cross-cluster search connection. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/cross-cluster-search.html\">Cross-cluster search for Amazon OpenSearch Service</a>.</p>"
    },
    "DeletePackage":{
      "name":"DeletePackage",
      "http":{
        "method":"DELETE",
        "requestUri":"/2021-01-01/packages/{PackageID}"
      },
      "input":{"shape":"DeletePackageRequest"},
      "output":{"shape":"DeletePackageResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes an Amazon OpenSearch Service package. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/custom-packages.html\">Custom packages for Amazon OpenSearch Service</a>.</p>"
    },
    "DeleteVpcEndpoint":{
      "name":"DeleteVpcEndpoint",
      "http":{
        "method":"DELETE",
        "requestUri":"/2021-01-01/opensearch/vpcEndpoints/{VpcEndpointId}"
      },
      "input":{"shape":"DeleteVpcEndpointRequest"},
      "output":{"shape":"DeleteVpcEndpointResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"DisabledOperationException"},
        {"shape":"InternalException"},
        {"shape":"BaseException"}
      ],
      "documentation":"<p>Deletes an Amazon OpenSearch Service-managed interface VPC endpoint.</p>"
    },
    "DescribeDomain":{
      "name":"DescribeDomain",
      "http":{
        "method":"GET",
        "requestUri":"/2021-01-01/opensearch/domain/{DomainName}"
      },
      "input":{"shape":"DescribeDomainRequest"},
      "output":{"shape":"DescribeDomainResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Describes the domain configuration for the specified Amazon OpenSearch Service domain, including the domain ID, domain service endpoint, and domain ARN.</p>"
    },
    "DescribeDomainAutoTunes":{
      "name":"DescribeDomainAutoTunes",
      "http":{
        "method":"GET",
        "requestUri":"/2021-01-01/opensearch/domain/{DomainName}/autoTunes"
      },
      "input":{"shape":"DescribeDomainAutoTunesRequest"},
      "output":{"shape":"DescribeDomainAutoTunesResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns the list of optimizations that Auto-Tune has made to an Amazon OpenSearch Service domain. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\">Auto-Tune for Amazon OpenSearch Service</a>.</p>"
    },
    "DescribeDomainChangeProgress":{
      "name":"DescribeDomainChangeProgress",
      "http":{
        "method":"GET",
        "requestUri":"/2021-01-01/opensearch/domain/{DomainName}/progress"
      },
      "input":{"shape":"DescribeDomainChangeProgressRequest"},
      "output":{"shape":"DescribeDomainChangeProgressResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns information about the current blue/green deployment happening on an Amazon OpenSearch Service domain. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/managedomains-configuration-changes.html\">Making configuration changes in Amazon OpenSearch Service</a>.</p>"
    },
    "DescribeDomainConfig":{
      "name":"DescribeDomainConfig",
      "http":{
        "method":"GET",
        "requestUri":"/2021-01-01/opensearch/domain/{DomainName}/config"
      },
      "input":{"shape":"DescribeDomainConfigRequest"},
      "output":{"shape":"DescribeDomainConfigResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns the configuration of an Amazon OpenSearch Service domain.</p>"
    },
    "DescribeDomainHealth":{
      "name":"DescribeDomainHealth",
      "http":{
        "method":"GET",
        "requestUri":"/2021-01-01/opensearch/domain/{DomainName}/health"
      },
      "input":{"shape":"DescribeDomainHealthRequest"},
      "output":{"shape":"DescribeDomainHealthResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p>Returns information about domain and node health, the standby Availability Zone, number of nodes per Availability Zone, and shard count per node.</p>"
    },
    "DescribeDomainNodes":{
      "name":"DescribeDomainNodes",
      "http":{
        "method":"GET",
        "requestUri":"/2021-01-01/opensearch/domain/{DomainName}/nodes"
      },
      "input":{"shape":"DescribeDomainNodesRequest"},
      "output":{"shape":"DescribeDomainNodesResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"DisabledOperationException"},
        {"shape":"DependencyFailureException"}
      ],
      "documentation":"<p>Returns information about domain and nodes, including data nodes, master nodes, ultrawarm nodes, Availability Zone(s), standby nodes, node configurations, and node states.</p>"
    },
    "DescribeDomains":{
      "name":"DescribeDomains",
      "http":{
        "method":"POST",
        "requestUri":"/2021-01-01/opensearch/domain-info"
      },
      "input":{"shape":"DescribeDomainsRequest"},
      "output":{"shape":"DescribeDomainsResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns domain configuration information about the specified Amazon OpenSearch Service domains.</p>"
    },
    "DescribeDryRunProgress":{
      "name":"DescribeDryRunProgress",
      "http":{
        "method":"GET",
        "requestUri":"/2021-01-01/opensearch/domain/{DomainName}/dryRun"
      },
      "input":{"shape":"DescribeDryRunProgressRequest"},
      "output":{"shape":"DescribeDryRunProgressResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p>Describes the progress of a pre-update dry run analysis on an Amazon OpenSearch Service domain. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/managedomains-configuration-changes#dryrun\">Determining whether a change will cause a blue/green deployment</a>.</p>"
    },
    "DescribeInboundConnections":{
      "name":"DescribeInboundConnections",
      "http":{
        "method":"POST",
        "requestUri":"/2021-01-01/opensearch/cc/inboundConnection/search"
      },
      "input":{"shape":"DescribeInboundConnectionsRequest"},
      "output":{"shape":"DescribeInboundConnectionsResponse"},
      "errors":[
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p>Lists all the inbound cross-cluster search connections for a destination (remote) Amazon OpenSearch Service domain. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/cross-cluster-search.html\">Cross-cluster search for Amazon OpenSearch Service</a>.</p>"
    },
    "DescribeInstanceTypeLimits":{
      "name":"DescribeInstanceTypeLimits",
      "http":{
        "method":"GET",
        "requestUri":"/2021-01-01/opensearch/instanceTypeLimits/{EngineVersion}/{InstanceType}"
      },
      "input":{"shape":"DescribeInstanceTypeLimitsRequest"},
      "output":{"shape":"DescribeInstanceTypeLimitsResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"InvalidTypeException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Describes the instance count, storage, and master node limits for a given OpenSearch or Elasticsearch version and instance type.</p>"
    },
    "DescribeOutboundConnections":{
      "name":"DescribeOutboundConnections",
      "http":{
        "method":"POST",
        "requestUri":"/2021-01-01/opensearch/cc/outboundConnection/search"
      },
      "input":{"shape":"DescribeOutboundConnectionsRequest"},
      "output":{"shape":"DescribeOutboundConnectionsResponse"},
      "errors":[
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p>Lists all the outbound cross-cluster connections for a local (source) Amazon OpenSearch Service domain. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/cross-cluster-search.html\">Cross-cluster search for Amazon OpenSearch Service</a>.</p>"
    },
    "DescribePackages":{
      "name":"DescribePackages",
      "http":{
        "method":"POST",
        "requestUri":"/2021-01-01/packages/describe"
      },
      "input":{"shape":"DescribePackagesRequest"},
      "output":{"shape":"DescribePackagesResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Describes all packages available to OpenSearch Service. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/custom-packages.html\">Custom packages for Amazon OpenSearch Service</a>.</p>"
    },
    "DescribeReservedInstanceOfferings":{
      "name":"DescribeReservedInstanceOfferings",
      "http":{
        "method":"GET",
        "requestUri":"/2021-01-01/opensearch/reservedInstanceOfferings"
      },
      "input":{"shape":"DescribeReservedInstanceOfferingsRequest"},
      "output":{"shape":"DescribeReservedInstanceOfferingsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"DisabledOperationException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Describes the available Amazon OpenSearch Service Reserved Instance offerings for a given Region. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/ri.html\">Reserved Instances in Amazon OpenSearch Service</a>.</p>"
    },
    "DescribeReservedInstances":{
      "name":"DescribeReservedInstances",
      "http":{
        "method":"GET",
        "requestUri":"/2021-01-01/opensearch/reservedInstances"
      },
      "input":{"shape":"DescribeReservedInstancesRequest"},
      "output":{"shape":"DescribeReservedInstancesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalException"},
        {"shape":"ValidationException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p>Describes the Amazon OpenSearch Service instances that you have reserved in a given Region. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/ri.html\">Reserved Instances in Amazon OpenSearch Service</a>.</p>"
    },
    "DescribeVpcEndpoints":{
      "name":"DescribeVpcEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/2021-01-01/opensearch/vpcEndpoints/describe"
      },
      "input":{"shape":"DescribeVpcEndpointsRequest"},
      "output":{"shape":"DescribeVpcEndpointsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalException"},
        {"shape":"DisabledOperationException"},
        {"shape":"BaseException"}
      ],
      "documentation":"<p>Describes one or more Amazon OpenSearch Service-managed VPC endpoints.</p>"
    },
    "DissociatePackage":{
      "name":"DissociatePackage",
      "http":{
        "method":"POST",
        "requestUri":"/2021-01-01/packages/dissociate/{PackageID}/{DomainName}"
      },
      "input":{"shape":"DissociatePackageRequest"},
      "output":{"shape":"DissociatePackageResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Removes a package from the specified Amazon OpenSearch Service domain. The package can't be in use with any OpenSearch index for the dissociation to succeed. The package is still available in OpenSearch Service for association later. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/custom-packages.html\">Custom packages for Amazon OpenSearch Service</a>.</p>"
    },
    "DissociatePackages":{
      "name":"DissociatePackages",
      "http":{
        "method":"POST",
        "requestUri":"/2021-01-01/packages/dissociateMultiple"
      },
      "input":{"shape":"DissociatePackagesRequest"},
      "output":{"shape":"DissociatePackagesResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p>Dissociates multiple packages from a domain simulatneously.</p>"
    },
    "GetApplication":{
      "name":"GetApplication",
      "http":{
        "method":"GET",
        "requestUri":"/2021-01-01/opensearch/application/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetApplicationRequest"},
      "output":{"shape":"GetApplicationResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p>Retrieves the configuration and status of an existing OpenSearch application.</p>"
    },
    "GetCompatibleVersions":{
      "name":"GetCompatibleVersions",
      "http":{
        "method":"GET",
        "requestUri":"/2021-01-01/opensearch/compatibleVersions"
      },
      "input":{"shape":"GetCompatibleVersionsRequest"},
      "output":{"shape":"GetCompatibleVersionsResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DisabledOperationException"},
        {"shape":"ValidationException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns a map of OpenSearch or Elasticsearch versions and the versions you can upgrade them to.</p>"
    },
    "GetDataSource":{
      "name":"GetDataSource",
      "http":{
        "method":"GET",
        "requestUri":"/2021-01-01/opensearch/domain/{DomainName}/dataSource/{DataSourceName}"
      },
      "input":{"shape":"GetDataSourceRequest"},
      "output":{"shape":"GetDataSourceResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"DisabledOperationException"},
        {"shape":"DependencyFailureException"}
      ],
      "documentation":"<p>Retrieves information about a direct query data source.</p>"
    },
    "GetDirectQueryDataSource":{
      "name":"GetDirectQueryDataSource",
      "http":{
        "method":"GET",
        "requestUri":"/2021-01-01/opensearch/directQueryDataSource/{DataSourceName}"
      },
      "input":{"shape":"GetDirectQueryDataSourceRequest"},
      "output":{"shape":"GetDirectQueryDataSourceResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p> Returns detailed configuration information for a specific direct query data source in Amazon OpenSearch Service. </p>"
    },
    "GetDomainMaintenanceStatus":{
      "name":"GetDomainMaintenanceStatus",
      "http":{
        "method":"GET",
        "requestUri":"/2021-01-01/opensearch/domain/{DomainName}/domainMaintenance"
      },
      "input":{"shape":"GetDomainMaintenanceStatusRequest"},
      "output":{"shape":"GetDomainMaintenanceStatusResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p>The status of the maintenance action.</p>"
    },
    "GetPackageVersionHistory":{
      "name":"GetPackageVersionHistory",
      "http":{
        "method":"GET",
        "requestUri":"/2021-01-01/packages/{PackageID}/history"
      },
      "input":{"shape":"GetPackageVersionHistoryRequest"},
      "output":{"shape":"GetPackageVersionHistoryResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns a list of Amazon OpenSearch Service package versions, along with their creation time, commit message, and plugin properties (if the package is a zip plugin package). For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/custom-packages.html\">Custom packages for Amazon OpenSearch Service</a>.</p>"
    },
    "GetUpgradeHistory":{
      "name":"GetUpgradeHistory",
      "http":{
        "method":"GET",
        "requestUri":"/2021-01-01/opensearch/upgradeDomain/{DomainName}/history"
      },
      "input":{"shape":"GetUpgradeHistoryRequest"},
      "output":{"shape":"GetUpgradeHistoryResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DisabledOperationException"},
        {"shape":"ValidationException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Retrieves the complete history of the last 10 upgrades performed on an Amazon OpenSearch Service domain.</p>"
    },
    "GetUpgradeStatus":{
      "name":"GetUpgradeStatus",
      "http":{
        "method":"GET",
        "requestUri":"/2021-01-01/opensearch/upgradeDomain/{DomainName}/status"
      },
      "input":{"shape":"GetUpgradeStatusRequest"},
      "output":{"shape":"GetUpgradeStatusResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DisabledOperationException"},
        {"shape":"ValidationException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns the most recent status of the last upgrade or upgrade eligibility check performed on an Amazon OpenSearch Service domain.</p>"
    },
    "ListApplications":{
      "name":"ListApplications",
      "http":{
        "method":"GET",
        "requestUri":"/2021-01-01/opensearch/list-applications",
        "responseCode":200
      },
      "input":{"shape":"ListApplicationsRequest"},
      "output":{"shape":"ListApplicationsResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p>Lists all OpenSearch applications under your account.</p>"
    },
    "ListDataSources":{
      "name":"ListDataSources",
      "http":{
        "method":"GET",
        "requestUri":"/2021-01-01/opensearch/domain/{DomainName}/dataSource"
      },
      "input":{"shape":"ListDataSourcesRequest"},
      "output":{"shape":"ListDataSourcesResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"DisabledOperationException"},
        {"shape":"DependencyFailureException"}
      ],
      "documentation":"<p>Lists direct-query data sources for a specific domain. For more information, see For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/direct-query-s3.html\">Working with Amazon OpenSearch Service direct queries with Amazon S3</a>.</p>"
    },
    "ListDirectQueryDataSources":{
      "name":"ListDirectQueryDataSources",
      "http":{
        "method":"GET",
        "requestUri":"/2021-01-01/opensearch/directQueryDataSource"
      },
      "input":{"shape":"ListDirectQueryDataSourcesRequest"},
      "output":{"shape":"ListDirectQueryDataSourcesResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p> Lists an inventory of all the direct query data sources that you have configured within Amazon OpenSearch Service. </p>"
    },
    "ListDomainMaintenances":{
      "name":"ListDomainMaintenances",
      "http":{
        "method":"GET",
        "requestUri":"/2021-01-01/opensearch/domain/{DomainName}/domainMaintenances"
      },
      "input":{"shape":"ListDomainMaintenancesRequest"},
      "output":{"shape":"ListDomainMaintenancesResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p>A list of maintenance actions for the domain.</p>"
    },
    "ListDomainNames":{
      "name":"ListDomainNames",
      "http":{
        "method":"GET",
        "requestUri":"/2021-01-01/domain"
      },
      "input":{"shape":"ListDomainNamesRequest"},
      "output":{"shape":"ListDomainNamesResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns the names of all Amazon OpenSearch Service domains owned by the current user in the active Region.</p>"
    },
    "ListDomainsForPackage":{
      "name":"ListDomainsForPackage",
      "http":{
        "method":"GET",
        "requestUri":"/2021-01-01/packages/{PackageID}/domains"
      },
      "input":{"shape":"ListDomainsForPackageRequest"},
      "output":{"shape":"ListDomainsForPackageResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists all Amazon OpenSearch Service domains associated with a given package. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/custom-packages.html\">Custom packages for Amazon OpenSearch Service</a>.</p>"
    },
    "ListInstanceTypeDetails":{
      "name":"ListInstanceTypeDetails",
      "http":{
        "method":"GET",
        "requestUri":"/2021-01-01/opensearch/instanceTypeDetails/{EngineVersion}"
      },
      "input":{"shape":"ListInstanceTypeDetailsRequest"},
      "output":{"shape":"ListInstanceTypeDetailsResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists all instance types and available features for a given OpenSearch or Elasticsearch version.</p>"
    },
    "ListPackagesForDomain":{
      "name":"ListPackagesForDomain",
      "http":{
        "method":"GET",
        "requestUri":"/2021-01-01/domain/{DomainName}/packages"
      },
      "input":{"shape":"ListPackagesForDomainRequest"},
      "output":{"shape":"ListPackagesForDomainResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists all packages associated with an Amazon OpenSearch Service domain. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/custom-packages.html\">Custom packages for Amazon OpenSearch Service</a>.</p>"
    },
    "ListScheduledActions":{
      "name":"ListScheduledActions",
      "http":{
        "method":"GET",
        "requestUri":"/2021-01-01/opensearch/domain/{DomainName}/scheduledActions"
      },
      "input":{"shape":"ListScheduledActionsRequest"},
      "output":{"shape":"ListScheduledActionsResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidPaginationTokenException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Retrieves a list of configuration changes that are scheduled for a domain. These changes can be <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/service-software.html\">service software updates</a> or <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html#auto-tune-types\">blue/green Auto-Tune enhancements</a>.</p>"
    },
    "ListTags":{
      "name":"ListTags",
      "http":{
        "method":"GET",
        "requestUri":"/2021-01-01/tags/"
      },
      "input":{"shape":"ListTagsRequest"},
      "output":{"shape":"ListTagsResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns all resource tags for an Amazon OpenSearch Service domain, data source, or application. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/managedomains-awsresourcetagging.html\">Tagging Amazon OpenSearch Service resources</a>.</p>"
    },
    "ListVersions":{
      "name":"ListVersions",
      "http":{
        "method":"GET",
        "requestUri":"/2021-01-01/opensearch/versions"
      },
      "input":{"shape":"ListVersionsRequest"},
      "output":{"shape":"ListVersionsResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists all versions of OpenSearch and Elasticsearch that Amazon OpenSearch Service supports.</p>"
    },
    "ListVpcEndpointAccess":{
      "name":"ListVpcEndpointAccess",
      "http":{
        "method":"GET",
        "requestUri":"/2021-01-01/opensearch/domain/{DomainName}/listVpcEndpointAccess"
      },
      "input":{"shape":"ListVpcEndpointAccessRequest"},
      "output":{"shape":"ListVpcEndpointAccessResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"DisabledOperationException"},
        {"shape":"InternalException"},
        {"shape":"BaseException"}
      ],
      "documentation":"<p>Retrieves information about each Amazon Web Services principal that is allowed to access a given Amazon OpenSearch Service domain through the use of an interface VPC endpoint.</p>"
    },
    "ListVpcEndpoints":{
      "name":"ListVpcEndpoints",
      "http":{
        "method":"GET",
        "requestUri":"/2021-01-01/opensearch/vpcEndpoints"
      },
      "input":{"shape":"ListVpcEndpointsRequest"},
      "output":{"shape":"ListVpcEndpointsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"DisabledOperationException"},
        {"shape":"BaseException"}
      ],
      "documentation":"<p>Retrieves all Amazon OpenSearch Service-managed VPC endpoints in the current Amazon Web Services account and Region.</p>"
    },
    "ListVpcEndpointsForDomain":{
      "name":"ListVpcEndpointsForDomain",
      "http":{
        "method":"GET",
        "requestUri":"/2021-01-01/opensearch/domain/{DomainName}/vpcEndpoints"
      },
      "input":{"shape":"ListVpcEndpointsForDomainRequest"},
      "output":{"shape":"ListVpcEndpointsForDomainResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"DisabledOperationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"BaseException"}
      ],
      "documentation":"<p>Retrieves all Amazon OpenSearch Service-managed VPC endpoints associated with a particular domain.</p>"
    },
    "PurchaseReservedInstanceOffering":{
      "name":"PurchaseReservedInstanceOffering",
      "http":{
        "method":"POST",
        "requestUri":"/2021-01-01/opensearch/purchaseReservedInstanceOffering"
      },
      "input":{"shape":"PurchaseReservedInstanceOfferingRequest"},
      "output":{"shape":"PurchaseReservedInstanceOfferingResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"LimitExceededException"},
        {"shape":"DisabledOperationException"},
        {"shape":"ValidationException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Allows you to purchase Amazon OpenSearch Service Reserved Instances.</p>"
    },
    "RejectInboundConnection":{
      "name":"RejectInboundConnection",
      "http":{
        "method":"PUT",
        "requestUri":"/2021-01-01/opensearch/cc/inboundConnection/{ConnectionId}/reject"
      },
      "input":{"shape":"RejectInboundConnectionRequest"},
      "output":{"shape":"RejectInboundConnectionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p>Allows the remote Amazon OpenSearch Service domain owner to reject an inbound cross-cluster connection request.</p>"
    },
    "RemoveTags":{
      "name":"RemoveTags",
      "http":{
        "method":"POST",
        "requestUri":"/2021-01-01/tags-removal"
      },
      "input":{"shape":"RemoveTagsRequest"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"ValidationException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Removes the specified set of tags from an Amazon OpenSearch Service domain, data source, or application. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/managedomains.html#managedomains-awsresorcetagging\"> Tagging Amazon OpenSearch Service resources</a>.</p>"
    },
    "RevokeVpcEndpointAccess":{
      "name":"RevokeVpcEndpointAccess",
      "http":{
        "method":"POST",
        "requestUri":"/2021-01-01/opensearch/domain/{DomainName}/revokeVpcEndpointAccess"
      },
      "input":{"shape":"RevokeVpcEndpointAccessRequest"},
      "output":{"shape":"RevokeVpcEndpointAccessResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"DisabledOperationException"},
        {"shape":"InternalException"},
        {"shape":"BaseException"}
      ],
      "documentation":"<p>Revokes access to an Amazon OpenSearch Service domain that was provided through an interface VPC endpoint.</p>"
    },
    "StartDomainMaintenance":{
      "name":"StartDomainMaintenance",
      "http":{
        "method":"POST",
        "requestUri":"/2021-01-01/opensearch/domain/{DomainName}/domainMaintenance"
      },
      "input":{"shape":"StartDomainMaintenanceRequest"},
      "output":{"shape":"StartDomainMaintenanceResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p>Starts the node maintenance process on the data node. These processes can include a node reboot, an Opensearch or Elasticsearch process restart, or a Dashboard or Kibana restart.</p>"
    },
    "StartServiceSoftwareUpdate":{
      "name":"StartServiceSoftwareUpdate",
      "http":{
        "method":"POST",
        "requestUri":"/2021-01-01/opensearch/serviceSoftwareUpdate/start"
      },
      "input":{"shape":"StartServiceSoftwareUpdateRequest"},
      "output":{"shape":"StartServiceSoftwareUpdateResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Schedules a service software update for an Amazon OpenSearch Service domain. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/service-software.html\">Service software updates in Amazon OpenSearch Service</a>.</p>"
    },
    "UpdateApplication":{
      "name":"UpdateApplication",
      "http":{
        "method":"PUT",
        "requestUri":"/2021-01-01/opensearch/application/{id}",
        "responseCode":200
      },
      "input":{"shape":"UpdateApplicationRequest"},
      "output":{"shape":"UpdateApplicationResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p>Updates the configuration and settings of an existing OpenSearch application.</p>"
    },
    "UpdateDataSource":{
      "name":"UpdateDataSource",
      "http":{
        "method":"PUT",
        "requestUri":"/2021-01-01/opensearch/domain/{DomainName}/dataSource/{DataSourceName}"
      },
      "input":{"shape":"UpdateDataSourceRequest"},
      "output":{"shape":"UpdateDataSourceResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"DisabledOperationException"},
        {"shape":"DependencyFailureException"}
      ],
      "documentation":"<p>Updates a direct-query data source. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/direct-query-s3-creating.html\">Working with Amazon OpenSearch Service data source integrations with Amazon S3</a>.</p>"
    },
    "UpdateDirectQueryDataSource":{
      "name":"UpdateDirectQueryDataSource",
      "http":{
        "method":"PUT",
        "requestUri":"/2021-01-01/opensearch/directQueryDataSource/{DataSourceName}"
      },
      "input":{"shape":"UpdateDirectQueryDataSourceRequest"},
      "output":{"shape":"UpdateDirectQueryDataSourceResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p> Updates the configuration or properties of an existing direct query data source in Amazon OpenSearch Service. </p>"
    },
    "UpdateDomainConfig":{
      "name":"UpdateDomainConfig",
      "http":{
        "method":"POST",
        "requestUri":"/2021-01-01/opensearch/domain/{DomainName}/config"
      },
      "input":{"shape":"UpdateDomainConfigRequest"},
      "output":{"shape":"UpdateDomainConfigResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"InvalidTypeException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Modifies the cluster configuration of the specified Amazon OpenSearch Service domain.</p>"
    },
    "UpdatePackage":{
      "name":"UpdatePackage",
      "http":{
        "method":"POST",
        "requestUri":"/2021-01-01/packages/update"
      },
      "input":{"shape":"UpdatePackageRequest"},
      "output":{"shape":"UpdatePackageResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates a package for use with Amazon OpenSearch Service domains. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/custom-packages.html\">Custom packages for Amazon OpenSearch Service</a>.</p>"
    },
    "UpdatePackageScope":{
      "name":"UpdatePackageScope",
      "http":{
        "method":"POST",
        "requestUri":"/2021-01-01/packages/updateScope"
      },
      "input":{"shape":"UpdatePackageScopeRequest"},
      "output":{"shape":"UpdatePackageScopeResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"DisabledOperationException"}
      ],
      "documentation":"<p>Updates the scope of a package. Scope of the package defines users who can view and associate a package.</p>"
    },
    "UpdateScheduledAction":{
      "name":"UpdateScheduledAction",
      "http":{
        "method":"PUT",
        "requestUri":"/2021-01-01/opensearch/domain/{DomainName}/scheduledAction/update"
      },
      "input":{"shape":"UpdateScheduledActionRequest"},
      "output":{"shape":"UpdateScheduledActionResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"SlotNotAvailableException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Reschedules a planned domain configuration change for a later time. This change can be a scheduled <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/service-software.html\">service software update</a> or a <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html#auto-tune-types\">blue/green Auto-Tune enhancement</a>.</p>"
    },
    "UpdateVpcEndpoint":{
      "name":"UpdateVpcEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/2021-01-01/opensearch/vpcEndpoints/update"
      },
      "input":{"shape":"UpdateVpcEndpointRequest"},
      "output":{"shape":"UpdateVpcEndpointResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"DisabledOperationException"},
        {"shape":"InternalException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"BaseException"}
      ],
      "documentation":"<p>Modifies an Amazon OpenSearch Service-managed interface VPC endpoint.</p>"
    },
    "UpgradeDomain":{
      "name":"UpgradeDomain",
      "http":{
        "method":"POST",
        "requestUri":"/2021-01-01/opensearch/upgradeDomain"
      },
      "input":{"shape":"UpgradeDomainRequest"},
      "output":{"shape":"UpgradeDomainResponse"},
      "errors":[
        {"shape":"BaseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"DisabledOperationException"},
        {"shape":"ValidationException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Allows you to either upgrade your Amazon OpenSearch Service domain or perform an upgrade eligibility check to a compatible version of OpenSearch or Elasticsearch.</p>"
    }
  },
  "shapes":{
    "AIMLOptionsInput":{
      "type":"structure",
      "members":{
        "NaturalLanguageQueryGenerationOptions":{
          "shape":"NaturalLanguageQueryGenerationOptionsInput",
          "documentation":"<p>Container for parameters required for natural language query generation on the specified domain.</p>"
        },
        "S3VectorsEngine":{
          "shape":"S3VectorsEngine",
          "documentation":"<p>Container for parameters required to enable S3 vectors engine features on the specified domain.</p>"
        }
      },
      "documentation":"<p>Container for parameters required to enable all machine learning features.</p>"
    },
    "AIMLOptionsOutput":{
      "type":"structure",
      "members":{
        "NaturalLanguageQueryGenerationOptions":{
          "shape":"NaturalLanguageQueryGenerationOptionsOutput",
          "documentation":"<p>Container for parameters required for natural language query generation on the specified domain.</p>"
        },
        "S3VectorsEngine":{
          "shape":"S3VectorsEngine",
          "documentation":"<p>Container for parameters representing the state of S3 vectors engine features on the specified domain.</p>"
        }
      },
      "documentation":"<p>Container for parameters representing the state of machine learning features on the specified domain.</p>"
    },
    "AIMLOptionsStatus":{
      "type":"structure",
      "members":{
        "Options":{
          "shape":"AIMLOptionsOutput",
          "documentation":"<p>Machine learning options on the specified domain.</p>"
        },
        "Status":{"shape":"OptionStatus"}
      },
      "documentation":"<p>The status of machine learning options on the specified domain.</p>"
    },
    "ARN":{
      "type":"string",
      "documentation":"<p>The Amazon Resource Name (ARN) of the domain. See <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/index.html\">Identifiers for IAM Entities </a> in <i>Using Amazon Web Services Identity and Access Management</i> for more information. </p>",
      "max":2048,
      "min":20,
      "pattern":".*"
    },
    "AWSAccount":{
      "type":"string",
      "pattern":"^[0-9]+$"
    },
    "AWSDomainInformation":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "OwnerId":{
          "shape":"OwnerId",
          "documentation":"<p>The Amazon Web Services account ID of the domain owner.</p>"
        },
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>Name of the domain.</p>"
        },
        "Region":{
          "shape":"Region",
          "documentation":"<p>The Amazon Web Services Region in which the domain is located.</p>"
        }
      },
      "documentation":"<p>Information about an Amazon OpenSearch Service domain.</p>"
    },
    "AWSServicePrincipal":{
      "type":"string",
      "enum":["application.opensearchservice.amazonaws.com"]
    },
    "AcceptInboundConnectionRequest":{
      "type":"structure",
      "required":["ConnectionId"],
      "members":{
        "ConnectionId":{
          "shape":"ConnectionId",
          "documentation":"<p>The ID of the inbound connection to accept.</p>",
          "location":"uri",
          "locationName":"ConnectionId"
        }
      },
      "documentation":"<p>Container for the parameters to the <code>AcceptInboundConnection</code> operation.</p>"
    },
    "AcceptInboundConnectionResponse":{
      "type":"structure",
      "members":{
        "Connection":{
          "shape":"InboundConnection",
          "documentation":"<p>Information about the accepted inbound connection.</p>"
        }
      },
      "documentation":"<p>Contains details about the accepted inbound connection.</p>"
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>An error occurred because you don't have permissions to access the resource.</p>",
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "AccessPoliciesStatus":{
      "type":"structure",
      "required":[
        "Options",
        "Status"
      ],
      "members":{
        "Options":{
          "shape":"PolicyDocument",
          "documentation":"<p>The access policy configured for the domain. Access policies can be resource-based, IP-based, or IAM-based. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/createupdatedomains.html#createdomain-configure-access-policies\">Configuring access policies</a>.</p>"
        },
        "Status":{
          "shape":"OptionStatus",
          "documentation":"<p>The status of the access policy for the domain.</p>"
        }
      },
      "documentation":"<p>The configured access rules for the domain's search endpoint, and the current status of those rules.</p>"
    },
    "ActionSeverity":{
      "type":"string",
      "enum":[
        "HIGH",
        "MEDIUM",
        "LOW"
      ]
    },
    "ActionStatus":{
      "type":"string",
      "enum":[
        "PENDING_UPDATE",
        "IN_PROGRESS",
        "FAILED",
        "COMPLETED",
        "NOT_ELIGIBLE",
        "ELIGIBLE"
      ]
    },
    "ActionType":{
      "type":"string",
      "enum":[
        "SERVICE_SOFTWARE_UPDATE",
        "JVM_HEAP_SIZE_TUNING",
        "JVM_YOUNG_GEN_TUNING"
      ]
    },
    "AddDataSourceRequest":{
      "type":"structure",
      "required":[
        "DomainName",
        "Name",
        "DataSourceType"
      ],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of the domain to add the data source to.</p>",
          "location":"uri",
          "locationName":"DomainName"
        },
        "Name":{
          "shape":"DataSourceName",
          "documentation":"<p>A name for the data source.</p>"
        },
        "DataSourceType":{
          "shape":"DataSourceType",
          "documentation":"<p>The type of data source.</p>"
        },
        "Description":{
          "shape":"DataSourceDescription",
          "documentation":"<p>A description of the data source.</p>"
        }
      },
      "documentation":"<p>Container for the parameters to the <code>AddDataSource</code> operation.</p>"
    },
    "AddDataSourceResponse":{
      "type":"structure",
      "members":{
        "Message":{
          "shape":"String",
          "documentation":"<p>A message associated with creation of the data source.</p>"
        }
      },
      "documentation":"<p>The result of an <code>AddDataSource</code> operation.</p>"
    },
    "AddDirectQueryDataSourceRequest":{
      "type":"structure",
      "required":[
        "DataSourceName",
        "DataSourceType",
        "OpenSearchArns"
      ],
      "members":{
        "DataSourceName":{
          "shape":"DirectQueryDataSourceName",
          "documentation":"<p> A unique, user-defined label to identify the data source within your OpenSearch Service environment. </p>"
        },
        "DataSourceType":{
          "shape":"DirectQueryDataSourceType",
          "documentation":"<p> The supported Amazon Web Services service that you want to use as the source for direct queries in OpenSearch Service. </p>"
        },
        "Description":{
          "shape":"DirectQueryDataSourceDescription",
          "documentation":"<p> An optional text field for providing additional context and details about the data source. </p>"
        },
        "OpenSearchArns":{
          "shape":"DirectQueryOpenSearchARNList",
          "documentation":"<p> A list of Amazon Resource Names (ARNs) for the OpenSearch collections that are associated with the direct query data source. </p>"
        },
        "TagList":{"shape":"TagList"}
      }
    },
    "AddDirectQueryDataSourceResponse":{
      "type":"structure",
      "members":{
        "DataSourceArn":{
          "shape":"String",
          "documentation":"<p> The unique, system-generated identifier that represents the data source. </p>"
        }
      }
    },
    "AddTagsRequest":{
      "type":"structure",
      "required":[
        "ARN",
        "TagList"
      ],
      "members":{
        "ARN":{
          "shape":"ARN",
          "documentation":"<p>Amazon Resource Name (ARN) for the OpenSearch Service domain, data source, or application to which you want to attach resource tags.</p>"
        },
        "TagList":{
          "shape":"TagList",
          "documentation":"<p>List of resource tags.</p>"
        }
      },
      "documentation":"<p>Container for the parameters to the <code>AddTags</code> operation. Specifies the tags to attach to the domain, data source, or application.</p>"
    },
    "AdditionalLimit":{
      "type":"structure",
      "members":{
        "LimitName":{
          "shape":"LimitName",
          "documentation":"<ul> <li> <p> <code>MaximumNumberOfDataNodesSupported</code> - This attribute only applies to master nodes and specifies the maximum number of data nodes of a given instance type a master node can support.</p> </li> <li> <p> <code>MaximumNumberOfDataNodesWithoutMasterNode</code> - This attribute only applies to data nodes and specifies the maximum number of data nodes of a given instance type can exist without a master node governing them.</p> </li> </ul>"
        },
        "LimitValues":{
          "shape":"LimitValueList",
          "documentation":"<p> The values of the additional instance type limits.</p>"
        }
      },
      "documentation":"<p> List of limits that are specific to a given instance type.</p>"
    },
    "AdditionalLimitList":{
      "type":"list",
      "member":{"shape":"AdditionalLimit"}
    },
    "AdvancedOptions":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"},
      "documentation":"<p>Exposes native OpenSearch configuration values from <code>opensearch.yml</code>. The following advanced options are available: </p> <ul> <li> <p>Allows references to indexes in an HTTP request body. Must be <code>false</code> when configuring access to individual sub-resources. Default is <code>true</code>.</p> </li> <li> <p>Specifies the percentage of heap space allocated to field data. Default is unbounded.</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/createupdatedomains.html#createdomain-configure-advanced-options\">Advanced cluster parameters</a>.</p>"
    },
    "AdvancedOptionsStatus":{
      "type":"structure",
      "required":[
        "Options",
        "Status"
      ],
      "members":{
        "Options":{
          "shape":"AdvancedOptions",
          "documentation":"<p>The status of advanced options for the specified domain.</p>"
        },
        "Status":{
          "shape":"OptionStatus",
          "documentation":"<p>The status of advanced options for the specified domain.</p>"
        }
      },
      "documentation":"<p>Status of the advanced options for the specified domain. The following options are available: </p> <ul> <li> <p> <code>\"rest.action.multi.allow_explicit_index\": \"true\" | \"false\"</code> - Note the use of a string rather than a boolean. Specifies whether explicit references to indexes are allowed inside the body of HTTP requests. If you want to configure access policies for domain sub-resources, such as specific indexes and domain APIs, you must disable this property. Default is true.</p> </li> <li> <p> <code>\"indices.fielddata.cache.size\": \"80\" </code> - Note the use of a string rather than a boolean. Specifies the percentage of heap space allocated to field data. Default is unbounded.</p> </li> <li> <p> <code>\"indices.query.bool.max_clause_count\": \"1024\"</code> - Note the use of a string rather than a boolean. Specifies the maximum number of clauses allowed in a Lucene boolean query. Default is 1,024. Queries with more than the permitted number of clauses result in a <code>TooManyClauses</code> error.</p> </li> <li> <p> <code>\"override_main_response_version\": \"true\" | \"false\"</code> - Note the use of a string rather than a boolean. Specifies whether the domain reports its version as 7.10 to allow Elasticsearch OSS clients and plugins to continue working with it. Default is false when creating a domain and true when upgrading a domain.</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/createupdatedomains.html#createdomain-configure-advanced-options\">Advanced cluster parameters</a>.</p>"
    },
    "AdvancedSecurityOptions":{
      "type":"structure",
      "members":{
        "Enabled":{
          "shape":"Boolean",
          "documentation":"<p>True if fine-grained access control is enabled.</p>"
        },
        "InternalUserDatabaseEnabled":{
          "shape":"Boolean",
          "documentation":"<p>True if the internal user database is enabled.</p>"
        },
        "SAMLOptions":{
          "shape":"SAMLOptionsOutput",
          "documentation":"<p>Container for information about the SAML configuration for OpenSearch Dashboards.</p>"
        },
        "JWTOptions":{
          "shape":"JWTOptionsOutput",
          "documentation":"<p>Container for information about the JWT configuration of the Amazon OpenSearch Service.</p>"
        },
        "IAMFederationOptions":{
          "shape":"IAMFederationOptionsOutput",
          "documentation":"<p>Container for information about the IAM federation configuration for an OpenSearch UI application.</p>"
        },
        "AnonymousAuthDisableDate":{
          "shape":"DisableTimestamp",
          "documentation":"<p>Date and time when the migration period will be disabled. Only necessary when <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/fgac.html#fgac-enabling-existing\">enabling fine-grained access control on an existing domain</a>.</p>"
        },
        "AnonymousAuthEnabled":{
          "shape":"Boolean",
          "documentation":"<p>True if a 30-day migration period is enabled, during which administrators can create role mappings. Only necessary when <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/fgac.html#fgac-enabling-existing\">enabling fine-grained access control on an existing domain</a>.</p>"
        }
      },
      "documentation":"<p>Container for fine-grained access control settings.</p>"
    },
    "AdvancedSecurityOptionsInput":{
      "type":"structure",
      "members":{
        "Enabled":{
          "shape":"Boolean",
          "documentation":"<p>True to enable fine-grained access control.</p>"
        },
        "InternalUserDatabaseEnabled":{
          "shape":"Boolean",
          "documentation":"<p>True to enable the internal user database.</p>"
        },
        "MasterUserOptions":{
          "shape":"MasterUserOptions",
          "documentation":"<p>Container for information about the master user.</p>"
        },
        "SAMLOptions":{
          "shape":"SAMLOptionsInput",
          "documentation":"<p>Container for information about the SAML configuration for OpenSearch Dashboards.</p>"
        },
        "JWTOptions":{
          "shape":"JWTOptionsInput",
          "documentation":"<p>Container for information about the JWT configuration of the Amazon OpenSearch Service. </p>"
        },
        "IAMFederationOptions":{
          "shape":"IAMFederationOptionsInput",
          "documentation":"<p>Container for information about the IAM federation configuration for an OpenSearch UI application.</p>"
        },
        "AnonymousAuthEnabled":{
          "shape":"Boolean",
          "documentation":"<p>True to enable a 30-day migration period during which administrators can create role mappings. Only necessary when <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/fgac.html#fgac-enabling-existing\">enabling fine-grained access control on an existing domain</a>.</p>"
        }
      },
      "documentation":"<p>Options for enabling and configuring fine-grained access control. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/fgac.html\">Fine-grained access control in Amazon OpenSearch Service</a>.</p>"
    },
    "AdvancedSecurityOptionsStatus":{
      "type":"structure",
      "required":[
        "Options",
        "Status"
      ],
      "members":{
        "Options":{
          "shape":"AdvancedSecurityOptions",
          "documentation":"<p>Container for fine-grained access control settings.</p>"
        },
        "Status":{
          "shape":"OptionStatus",
          "documentation":"<p>Status of the fine-grained access control settings for a domain.</p>"
        }
      },
      "documentation":"<p>The status of fine-grained access control settings for a domain.</p>"
    },
    "AppConfig":{
      "type":"structure",
      "members":{
        "key":{
          "shape":"AppConfigType",
          "documentation":"<p>The configuration item to set, such as the admin role for the OpenSearch application.</p>"
        },
        "value":{
          "shape":"AppConfigValue",
          "documentation":"<p>The value assigned to the configuration key, such as an IAM user ARN.</p>"
        }
      },
      "documentation":"<p>Configuration settings for an OpenSearch application. For more information, see see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/application.html\">Using the OpenSearch user interface in Amazon OpenSearch Service</a>.</p>"
    },
    "AppConfigType":{
      "type":"string",
      "enum":[
        "opensearchDashboards.dashboardAdmin.users",
        "opensearchDashboards.dashboardAdmin.groups"
      ]
    },
    "AppConfigValue":{
      "type":"string",
      "max":4096,
      "min":1
    },
    "AppConfigs":{
      "type":"list",
      "member":{"shape":"AppConfig"},
      "max":200
    },
    "ApplicationName":{
      "type":"string",
      "max":30,
      "min":3,
      "pattern":"[a-z][a-z0-9\\-]+"
    },
    "ApplicationStatus":{
      "type":"string",
      "enum":[
        "CREATING",
        "UPDATING",
        "DELETING",
        "ACTIVE",
        "FAILED"
      ]
    },
    "ApplicationStatuses":{
      "type":"list",
      "member":{"shape":"ApplicationStatus"}
    },
    "ApplicationSummaries":{
      "type":"list",
      "member":{"shape":"ApplicationSummary"}
    },
    "ApplicationSummary":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"Id",
          "documentation":"<p>The unique identifier of an OpenSearch application.</p>"
        },
        "arn":{"shape":"ARN"},
        "name":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of an OpenSearch application.</p>"
        },
        "endpoint":{
          "shape":"String",
          "documentation":"<p>The endpoint URL of an OpenSearch application.</p>"
        },
        "status":{
          "shape":"ApplicationStatus",
          "documentation":"<p>The current status of an OpenSearch application. Possible values: <code>CREATING</code>, <code>UPDATING</code>, <code>DELETING</code>, <code>FAILED</code>, <code>ACTIVE</code>, and <code>DELETED</code>.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp when an OpenSearch application was created.</p>"
        },
        "lastUpdatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of the last update to an OpenSearch application.</p>"
        }
      },
      "documentation":"<p>Basic details of an OpenSearch application.</p>"
    },
    "AssociatePackageRequest":{
      "type":"structure",
      "required":[
        "PackageID",
        "DomainName"
      ],
      "members":{
        "PackageID":{
          "shape":"PackageID",
          "documentation":"<p>Internal ID of the package to associate with a domain. Use <code>DescribePackages</code> to find this value. </p>",
          "location":"uri",
          "locationName":"PackageID"
        },
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>Name of the domain to associate the package with.</p>",
          "location":"uri",
          "locationName":"DomainName"
        },
        "PrerequisitePackageIDList":{
          "shape":"PackageIDList",
          "documentation":"<p>A list of package IDs that must be associated with the domain before the package specified in the request can be associated.</p>"
        },
        "AssociationConfiguration":{
          "shape":"PackageAssociationConfiguration",
          "documentation":"<p>The configuration for associating a package with an Amazon OpenSearch Service domain.</p>"
        }
      },
      "documentation":"<p>Container for the request parameters to the <code>AssociatePackage</code> operation.</p>"
    },
    "AssociatePackageResponse":{
      "type":"structure",
      "members":{
        "DomainPackageDetails":{
          "shape":"DomainPackageDetails",
          "documentation":"<p>Information about a package that is associated with a domain.</p>"
        }
      },
      "documentation":"<p>Container for the response returned by the <code>AssociatePackage</code> operation.</p>"
    },
    "AssociatePackagesRequest":{
      "type":"structure",
      "required":[
        "PackageList",
        "DomainName"
      ],
      "members":{
        "PackageList":{
          "shape":"PackageDetailsForAssociationList",
          "documentation":"<p>A list of packages and their prerequisites to be associated with a domain.</p>"
        },
        "DomainName":{"shape":"DomainName"}
      }
    },
    "AssociatePackagesResponse":{
      "type":"structure",
      "members":{
        "DomainPackageDetailsList":{
          "shape":"DomainPackageDetailsList",
          "documentation":"<p>List of information about packages that are associated with a domain. </p>"
        }
      }
    },
    "AuthorizeVpcEndpointAccessRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of the OpenSearch Service domain to provide access to.</p>",
          "location":"uri",
          "locationName":"DomainName"
        },
        "Account":{
          "shape":"AWSAccount",
          "documentation":"<p>The Amazon Web Services account ID to grant access to.</p>"
        },
        "Service":{
          "shape":"AWSServicePrincipal",
          "documentation":"<p>The Amazon Web Services service SP to grant access to.</p>"
        }
      }
    },
    "AuthorizeVpcEndpointAccessResponse":{
      "type":"structure",
      "required":["AuthorizedPrincipal"],
      "members":{
        "AuthorizedPrincipal":{
          "shape":"AuthorizedPrincipal",
          "documentation":"<p>Information about the Amazon Web Services account or service that was provided access to the domain.</p>"
        }
      }
    },
    "AuthorizedPrincipal":{
      "type":"structure",
      "members":{
        "PrincipalType":{
          "shape":"PrincipalType",
          "documentation":"<p>The type of principal.</p>"
        },
        "Principal":{
          "shape":"String",
          "documentation":"<p>The <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements_principal.html\">IAM principal</a> that is allowed access to the domain.</p>"
        }
      },
      "documentation":"<p>Information about an Amazon Web Services account or service that has access to an Amazon OpenSearch Service domain through the use of an interface VPC endpoint.</p>"
    },
    "AuthorizedPrincipalList":{
      "type":"list",
      "member":{"shape":"AuthorizedPrincipal"}
    },
    "AutoTune":{
      "type":"structure",
      "members":{
        "AutoTuneType":{
          "shape":"AutoTuneType",
          "documentation":"<p>The type of Auto-Tune action.</p>"
        },
        "AutoTuneDetails":{
          "shape":"AutoTuneDetails",
          "documentation":"<p>Details about an Auto-Tune action.</p>"
        }
      },
      "documentation":"<p>Information about an Auto-Tune action. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\">Auto-Tune for Amazon OpenSearch Service</a>.</p>"
    },
    "AutoTuneDate":{
      "type":"timestamp",
      "documentation":"<p>The timestamp of the Auto-Tune action scheduled for the domain.</p>"
    },
    "AutoTuneDesiredState":{
      "type":"string",
      "documentation":"<p>The Auto-Tune desired state. Valid values are ENABLED and DISABLED.</p>",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "AutoTuneDetails":{
      "type":"structure",
      "members":{
        "ScheduledAutoTuneDetails":{
          "shape":"ScheduledAutoTuneDetails",
          "documentation":"<p>Container for details about a scheduled Auto-Tune action.</p>"
        }
      },
      "documentation":"<p>Specifies details about a scheduled Auto-Tune action. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\">Auto-Tune for Amazon OpenSearch Service</a>.</p>"
    },
    "AutoTuneList":{
      "type":"list",
      "member":{"shape":"AutoTune"}
    },
    "AutoTuneMaintenanceSchedule":{
      "type":"structure",
      "members":{
        "StartAt":{
          "shape":"StartAt",
          "documentation":"<p>The Epoch timestamp at which the Auto-Tune maintenance schedule starts.</p>"
        },
        "Duration":{
          "shape":"Duration",
          "documentation":"<p>The duration of the maintenance schedule. For example, <code>\"Duration\": {\"Value\": 2, \"Unit\": \"HOURS\"}</code>.</p>"
        },
        "CronExpressionForRecurrence":{
          "shape":"String",
          "documentation":"<p>A cron expression for a recurring maintenance schedule during which Auto-Tune can deploy changes.</p>"
        }
      },
      "documentation":"<note> <p>This object is deprecated. Use the domain's <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/off-peak.html\">off-peak window</a> to schedule Auto-Tune optimizations. For migration instructions, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/off-peak.html#off-peak-migrate\">Migrating from Auto-Tune maintenance windows</a>.</p> </note> <p>The Auto-Tune maintenance schedule. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\">Auto-Tune for Amazon OpenSearch Service</a>.</p>"
    },
    "AutoTuneMaintenanceScheduleList":{
      "type":"list",
      "member":{"shape":"AutoTuneMaintenanceSchedule"},
      "max":100
    },
    "AutoTuneOptions":{
      "type":"structure",
      "members":{
        "DesiredState":{
          "shape":"AutoTuneDesiredState",
          "documentation":"<p>Whether Auto-Tune is enabled or disabled.</p>"
        },
        "RollbackOnDisable":{
          "shape":"RollbackOnDisable",
          "documentation":"<p>When disabling Auto-Tune, specify <code>NO_ROLLBACK</code> to retain all prior Auto-Tune settings or <code>DEFAULT_ROLLBACK</code> to revert to the OpenSearch Service defaults. If you specify <code>DEFAULT_ROLLBACK</code>, you must include a <code>MaintenanceSchedule</code> in the request. Otherwise, OpenSearch Service is unable to perform the rollback.</p>"
        },
        "MaintenanceSchedules":{
          "shape":"AutoTuneMaintenanceScheduleList",
          "documentation":"<p>DEPRECATED. Use <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/off-peak.html\">off-peak window</a> instead.</p> <p>A list of maintenance schedules during which Auto-Tune can deploy changes.</p>"
        },
        "UseOffPeakWindow":{
          "shape":"Boolean",
          "documentation":"<p>Whether to use the domain's <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/APIReference/API_OffPeakWindow.html\">off-peak window</a> to deploy configuration changes on the domain rather than a maintenance schedule.</p>"
        }
      },
      "documentation":"<p>Auto-Tune settings when updating a domain. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\">Auto-Tune for Amazon OpenSearch Service</a>.</p>"
    },
    "AutoTuneOptionsInput":{
      "type":"structure",
      "members":{
        "DesiredState":{
          "shape":"AutoTuneDesiredState",
          "documentation":"<p>Whether Auto-Tune is enabled or disabled.</p>"
        },
        "MaintenanceSchedules":{
          "shape":"AutoTuneMaintenanceScheduleList",
          "documentation":"<p>A list of maintenance schedules during which Auto-Tune can deploy changes. Maintenance windows are deprecated and have been replaced with <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/off-peak.html\">off-peak windows</a>.</p>"
        },
        "UseOffPeakWindow":{
          "shape":"Boolean",
          "documentation":"<p>Whether to schedule Auto-Tune optimizations that require blue/green deployments during the domain's configured daily off-peak window.</p>"
        }
      },
      "documentation":"<p>Options for configuring Auto-Tune. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\">Auto-Tune for Amazon OpenSearch Service</a> </p>"
    },
    "AutoTuneOptionsOutput":{
      "type":"structure",
      "members":{
        "State":{
          "shape":"AutoTuneState",
          "documentation":"<p>The current state of Auto-Tune on the domain.</p>"
        },
        "ErrorMessage":{
          "shape":"String",
          "documentation":"<p>Any errors that occurred while enabling or disabling Auto-Tune.</p>"
        },
        "UseOffPeakWindow":{
          "shape":"Boolean",
          "documentation":"<p>Whether the domain's off-peak window will be used to deploy Auto-Tune changes rather than a maintenance schedule.</p>"
        }
      },
      "documentation":"<p>The Auto-Tune settings for a domain, displayed when enabling or disabling Auto-Tune.</p>"
    },
    "AutoTuneOptionsStatus":{
      "type":"structure",
      "members":{
        "Options":{
          "shape":"AutoTuneOptions",
          "documentation":"<p>Auto-Tune settings for updating a domain.</p>"
        },
        "Status":{
          "shape":"AutoTuneStatus",
          "documentation":"<p>The current status of Auto-Tune for a domain.</p>"
        }
      },
      "documentation":"<p>The Auto-Tune status for the domain.</p>"
    },
    "AutoTuneState":{
      "type":"string",
      "documentation":"<p>The Auto-Tune state for the domain. For valid states see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\">Auto-Tune for Amazon OpenSearch Service</a>. </p>",
      "enum":[
        "ENABLED",
        "DISABLED",
        "ENABLE_IN_PROGRESS",
        "DISABLE_IN_PROGRESS",
        "DISABLED_AND_ROLLBACK_SCHEDULED",
        "DISABLED_AND_ROLLBACK_IN_PROGRESS",
        "DISABLED_AND_ROLLBACK_COMPLETE",
        "DISABLED_AND_ROLLBACK_ERROR",
        "ERROR"
      ]
    },
    "AutoTuneStatus":{
      "type":"structure",
      "required":[
        "CreationDate",
        "UpdateDate",
        "State"
      ],
      "members":{
        "CreationDate":{
          "shape":"UpdateTimestamp",
          "documentation":"<p>Date and time when Auto-Tune was enabled for the domain.</p>"
        },
        "UpdateDate":{
          "shape":"UpdateTimestamp",
          "documentation":"<p>Date and time when the Auto-Tune options were last updated for the domain.</p>"
        },
        "UpdateVersion":{
          "shape":"UIntValue",
          "documentation":"<p>The latest version of the Auto-Tune options.</p>"
        },
        "State":{
          "shape":"AutoTuneState",
          "documentation":"<p>The current state of Auto-Tune on the domain.</p>"
        },
        "ErrorMessage":{
          "shape":"String",
          "documentation":"<p>Any errors that occurred while enabling or disabling Auto-Tune.</p>"
        },
        "PendingDeletion":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the domain is being deleted.</p>"
        }
      },
      "documentation":"<p>The current status of Auto-Tune for the domain. For more information, see <a href=\"https://docs.aws.amazon.com/opensearch-service/latest/developerguide/auto-tune.html\">Auto-Tune for Amazon OpenSearch Service</a>.</p>"
    },
    "AutoTuneType":{
      "type":"string",
      "documentation":"<p>Specifies the Auto-Tune type. Valid value is SCHEDULED_ACTION.</p>",
      "enum":["SCHEDULED_ACTION"]
    },
    "AvailabilityZone":{
      "type":"string",
      "max":15,
      "min":1
    },
    "AvailabilityZoneInfo":{
      "type":"structure",
      "members":{
        "AvailabilityZoneName":{
          "shape":"AvailabilityZone",
          "documentation":"<p>The name of the Availability Zone.</p>"
        },
        "ZoneStatus":{
          "shape":"ZoneStatus",
          "documentation":"<p>The current state of the Availability Zone. Current options are <code>Active</code> and <code>StandBy</code>.</p> <ul> <li> <p> <code>Active</code> - Data nodes in the Availability Zone are in use.</p> </li> <li> <p> <code>StandBy</code> - Data nodes in the Availability Zone are in a standby state.</p> </li> <li> <p> <code>NotAvailable</code> - Unable to retrieve information.</p> </li> </ul>"
        },
        "ConfiguredDataNodeCount":{
          "shape":"NumberOfNodes",
          "documentation":"<p>The total number of data nodes configured in the Availability Zone.</p>"
        },
        "AvailableDataNodeCount":{
          "shape":"NumberOfNodes",
          "documentation":"<p>The number of data nodes active in the Availability Zone.</p>"
        },
        "TotalShards":{
          "shape":"NumberOfShards",
          "documentation":"<p>The total number of primary and replica shards in the Availability Zone.</p>"
        },
        "TotalUnAssignedShards":{
          "shape":"NumberOfShards",
          "documentation":"<p>The total number of primary and replica shards that aren't allocated to any of the nodes in the Availability Zone.</p>"
        }
      },
      "documentation":"<p>Information about an Availability Zone on a domain.</p>"
    },
    "AvailabilityZoneInfoList":{
      "type":"list",
      "member":{"shape":"AvailabilityZoneInfo"}
    },
    "AvailabilityZoneList":{
      "type":"list",
      "member":{"shape":"AvailabilityZone"}
    },
    "BackendRole":{
      "type":"string",
      "max":256,
      "min":1
    },
    "BaseException":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"ErrorMessage",
          "documentation":"<p>A description of the error.</p>"
        }
      },
      "documentation":"<p>An error occurred while processing the request.</p>",
      "exception":true
    },
    "Boolean":{"type":"boolean"},
    "CancelDomainConfigChangeRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "location":"uri",
          "locationName":"DomainName"
        },
        "DryRun":{
          "shape":"DryRun",
          "documentation":"<p>When set to <code>True</code>, returns the list of change IDs and properties that will be cancelled without actually cancelling the change.</p>"
        }
      }
    },
    "CancelDomainConfigChangeResponse":{
      "type":"structure",
      "members":{
        "CancelledChangeIds":{
          "shape":"GUIDList",
          "documentation":"<p>The unique identifiers of the changes that were cancelled.</p>"
        },
        "CancelledChangeProperties":{
          "shape":"CancelledChangePropertyList",
          "documentation":"<p>The domain change properties that were cancelled.</p>"
        },
        "DryRun":{
          "shape":"DryRun",
          "documentation":"<p>Whether or not the request was a dry run. If <code>True</code>, the changes were not actually cancelled. </p>"
        }
      }
    },
    "CancelServiceSoftwareUpdateRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>Name of the OpenSearch Service domain that you want to cancel the service software update on.</p>"
        }
      },
      "documentation":"<p>Container for the request parameters to cancel a service software update.</p>"
    },
    "CancelServiceSoftwareUpdateResponse":{
      "type":"structure",
      "members":{
        "ServiceSoftwareOptions":{
          "shape":"ServiceSoftwareOptions",
          "documentation":"<p>Container for the state of your domain relative to the latest service software.</p>"
        }
      },
      "documentation":"<p>Container for the response to a <code>CancelServiceSoftwareUpdate</code> operation. Contains the status of the update.</p>"
    },
    "CancelledChangeProperty":{
      "type":"structure",
      "members":{
        "PropertyName":{
          "shape":"String",
          "documentation":"<p>The name of the property whose change was cancelled.</p>"
        },
        "CancelledValue":{
          "shape":"String",
          "documentation":"<p>The pending value of the property that was cancelled. This would have been the eventual value of the property if the chance had not been cancelled.</p>"
        },
        "ActiveValue":{
          "shape":"String",
          "documentation":"<p>The current value of the property, after the change was cancelled.</p>"
        }
      },
      "documentation":"<p>A property change that was cancelled for an Amazon OpenSearch Service domain.</p>"
    },
    "CancelledChangePropertyList":{
      "type":"list",
      "member":{"shape":"CancelledChangeProperty"}
    },
    "ChangeProgressDetails":{
      "type":"structure",
      "members":{
        "ChangeId":{
          "shape":"GUID",
          "documentation":"<p>The ID of the configuration change.</p>"
        },
        "Message":{
          "shape":"Message",
          "documentation":"<p>A message corresponding to the status of the configuration change.</p>"
        },
        "ConfigChangeStatus":{
          "shape":"ConfigChangeStatus",
          "documentation":"<p>The current status of the configuration change.</p>"
        },
        "InitiatedBy":{
          "shape":"InitiatedBy",
          "documentation":"<p>The IAM principal who initiated the configuration change.</p>"
        },
        "StartTime":{
          "shape":"UpdateTimestamp",
          "documentation":"<p>The time that the configuration change was initiated, in Universal Coordinated Time (UTC).</p>"
        },
        "LastUpdatedTime":{
          "shape":"UpdateTimestamp",
          "documentation":"<p>The last time that the configuration change was updated.</p>"
        }
      },
      "documentation":"<p>Container for information about a configuration change happening on a domain.</p>"
    },
    "ChangeProgressStage":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"ChangeProgressStageName",
          "documentation":"<p>The name of the stage.</p>"
        },
        "Status":{
          "shape":"ChangeProgressStageStatus",
          "documentation":"<p>The status of the stage.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>The description of the stage.</p>"
        },
        "LastUpdated":{
          "shape":"LastUpdated",
          "documentation":"<p>The most recent updated timestamp of the stage.</p>"
        }
      },
      "documentation":"<p>Progress details for each stage of a domain update.</p>"
    },
    "ChangeProgressStageList":{
      "type":"list",
      "member":{"shape":"ChangeProgressStage"},
      "documentation":"<p>The list of progress stages of a specific domain configuration change.</p>"
    },
    "ChangeProgressStageName":{
      "type":"string",
      "max":64,
      "min":1
    },
    "ChangeProgressStageStatus":{
      "type":"string",
      "max":256,
      "min":1
    },
    "ChangeProgressStatusDetails":{
      "type":"structure",
      "members":{
        "ChangeId":{
          "shape":"GUID",
          "documentation":"<p>The unique change identifier associated with a specific domain configuration change.</p>"
        },
        "StartTime":{
          "shape":"UpdateTimestamp",
          "documentation":"<p>The time at which the configuration change is made on the domain.</p>"
        },
        "Status":{
          "shape":"OverallChangeStatus",
          "documentation":"<p>The overall status of the domain configuration change.</p>"
        },
        "PendingProperties":{
          "shape":"StringList",
          "documentation":"<p>The list of properties in the domain configuration change that are still pending.</p>"
        },
        "CompletedProperties":{
          "shape":"StringList",
          "documentation":"<p>The list of properties in the domain configuration change that have completed.</p>"
        },
        "TotalNumberOfStages":{
          "shape":"TotalNumberOfStages",
          "documentation":"<p>The total number of stages required for the configuration change.</p>"
        },
        "ChangeProgressStages":{
          "shape":"ChangeProgressStageList",
          "documentation":"<p>The specific stages that the domain is going through to perform the configuration change.</p>"
        },
        "LastUpdatedTime":{
          "shape":"UpdateTimestamp",
          "documentation":"<p>The last time that the status of the configuration change was updated.</p>"
        },
        "ConfigChangeStatus":{
          "shape":"ConfigChangeStatus",
          "documentation":"<p>The current status of the configuration change.</p>"
        },
        "InitiatedBy":{
          "shape":"InitiatedBy",
          "documentation":"<p>The IAM principal who initiated the configuration change.</p>"
        }
      },
      "documentation":"<p>The progress details of a specific domain configuration change.</p>"
    },
    "ClientToken":{
      "type":"string",
      "max":64,
      "min":1
    },
    "CloudWatchDirectQueryDataSource":{
      "type":"structure",
      "required":["RoleArn"],
      "members":{
        "RoleArn":{
          "shape":"DirectQueryDataSourceRoleArn",
[...]
