{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2019-07-05",
    "endpointPrefix":"networkmanager",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceAbbreviation":"NetworkManager",
    "serviceFullName":"AWS Network Manager",
    "serviceId":"NetworkManager",
    "signatureVersion":"v4",
    "signingName":"networkmanager",
    "uid":"networkmanager-2019-07-05",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AcceptAttachment":{
      "name":"AcceptAttachment",
      "http":{
        "method":"POST",
        "requestUri":"/attachments/{attachmentId}/accept"
      },
      "input":{"shape":"AcceptAttachmentRequest"},
      "output":{"shape":"AcceptAttachmentResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Accepts a core network attachment request. </p> <p>Once the attachment request is accepted by a core network owner, the attachment is created and connected to a core network.</p>"
    },
    "AssociateConnectPeer":{
      "name":"AssociateConnectPeer",
      "http":{
        "method":"POST",
        "requestUri":"/global-networks/{globalNetworkId}/connect-peer-associations"
      },
      "input":{"shape":"AssociateConnectPeerRequest"},
      "output":{"shape":"AssociateConnectPeerResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Associates a core network Connect peer with a device and optionally, with a link. </p> <p>If you specify a link, it must be associated with the specified device. You can only associate core network Connect peers that have been created on a core network Connect attachment on a core network. </p>"
    },
    "AssociateCustomerGateway":{
      "name":"AssociateCustomerGateway",
      "http":{
        "method":"POST",
        "requestUri":"/global-networks/{globalNetworkId}/customer-gateway-associations"
      },
      "input":{"shape":"AssociateCustomerGatewayRequest"},
      "output":{"shape":"AssociateCustomerGatewayResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Associates a customer gateway with a device and optionally, with a link. If you specify a link, it must be associated with the specified device. </p> <p>You can only associate customer gateways that are connected to a VPN attachment on a transit gateway or core network registered in your global network. When you register a transit gateway or core network, customer gateways that are connected to the transit gateway are automatically included in the global network. To list customer gateways that are connected to a transit gateway, use the <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeVpnConnections.html\">DescribeVpnConnections</a> EC2 API and filter by <code>transit-gateway-id</code>.</p> <p>You cannot associate a customer gateway with more than one device and link. </p>"
    },
    "AssociateLink":{
      "name":"AssociateLink",
      "http":{
        "method":"POST",
        "requestUri":"/global-networks/{globalNetworkId}/link-associations"
      },
      "input":{"shape":"AssociateLinkRequest"},
      "output":{"shape":"AssociateLinkResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Associates a link to a device. A device can be associated to multiple links and a link can be associated to multiple devices. The device and link must be in the same global network and the same site.</p>"
    },
    "AssociateTransitGatewayConnectPeer":{
      "name":"AssociateTransitGatewayConnectPeer",
      "http":{
        "method":"POST",
        "requestUri":"/global-networks/{globalNetworkId}/transit-gateway-connect-peer-associations"
      },
      "input":{"shape":"AssociateTransitGatewayConnectPeerRequest"},
      "output":{"shape":"AssociateTransitGatewayConnectPeerResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Associates a transit gateway Connect peer with a device, and optionally, with a link. If you specify a link, it must be associated with the specified device. </p> <p>You can only associate transit gateway Connect peers that have been created on a transit gateway that's registered in your global network.</p> <p>You cannot associate a transit gateway Connect peer with more than one device and link. </p>"
    },
    "CreateConnectAttachment":{
      "name":"CreateConnectAttachment",
      "http":{
        "method":"POST",
        "requestUri":"/connect-attachments"
      },
      "input":{"shape":"CreateConnectAttachmentRequest"},
      "output":{"shape":"CreateConnectAttachmentResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a core network Connect attachment from a specified core network attachment. </p> <p>A core network Connect attachment is a GRE-based tunnel attachment that you can use to establish a connection between a core network and an appliance. A core network Connect attachment uses an existing VPC attachment as the underlying transport mechanism.</p>"
    },
    "CreateConnectPeer":{
      "name":"CreateConnectPeer",
      "http":{
        "method":"POST",
        "requestUri":"/connect-peers"
      },
      "input":{"shape":"CreateConnectPeerRequest"},
      "output":{"shape":"CreateConnectPeerResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a core network Connect peer for a specified core network connect attachment between a core network and an appliance. The peer address and transit gateway address must be the same IP address family (IPv4 or IPv6).</p>"
    },
    "CreateConnection":{
      "name":"CreateConnection",
      "http":{
        "method":"POST",
        "requestUri":"/global-networks/{globalNetworkId}/connections"
      },
      "input":{"shape":"CreateConnectionRequest"},
      "output":{"shape":"CreateConnectionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a connection between two devices. The devices can be a physical or virtual appliance that connects to a third-party appliance in a VPC, or a physical appliance that connects to another physical appliance in an on-premises network.</p>"
    },
    "CreateCoreNetwork":{
      "name":"CreateCoreNetwork",
      "http":{
        "method":"POST",
        "requestUri":"/core-networks"
      },
      "input":{"shape":"CreateCoreNetworkRequest"},
      "output":{"shape":"CreateCoreNetworkResponse"},
      "errors":[
        {"shape":"CoreNetworkPolicyException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a core network as part of your global network, and optionally, with a core network policy.</p>"
    },
    "CreateDevice":{
      "name":"CreateDevice",
      "http":{
        "method":"POST",
        "requestUri":"/global-networks/{globalNetworkId}/devices"
      },
      "input":{"shape":"CreateDeviceRequest"},
      "output":{"shape":"CreateDeviceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a new device in a global network. If you specify both a site ID and a location, the location of the site is used for visualization in the Network Manager console.</p>"
    },
    "CreateDirectConnectGatewayAttachment":{
      "name":"CreateDirectConnectGatewayAttachment",
      "http":{
        "method":"POST",
        "requestUri":"/direct-connect-gateway-attachments"
      },
      "input":{"shape":"CreateDirectConnectGatewayAttachmentRequest"},
      "output":{"shape":"CreateDirectConnectGatewayAttachmentResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates an Amazon Web Services Direct Connect gateway attachment </p>"
    },
    "CreateGlobalNetwork":{
      "name":"CreateGlobalNetwork",
      "http":{
        "method":"POST",
        "requestUri":"/global-networks"
      },
      "input":{"shape":"CreateGlobalNetworkRequest"},
      "output":{"shape":"CreateGlobalNetworkResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a new, empty global network.</p>"
    },
    "CreateLink":{
      "name":"CreateLink",
      "http":{
        "method":"POST",
        "requestUri":"/global-networks/{globalNetworkId}/links"
      },
      "input":{"shape":"CreateLinkRequest"},
      "output":{"shape":"CreateLinkResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a new link for a specified site.</p>"
    },
    "CreateSite":{
      "name":"CreateSite",
      "http":{
        "method":"POST",
        "requestUri":"/global-networks/{globalNetworkId}/sites"
      },
      "input":{"shape":"CreateSiteRequest"},
      "output":{"shape":"CreateSiteResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a new site in a global network.</p>"
    },
    "CreateSiteToSiteVpnAttachment":{
      "name":"CreateSiteToSiteVpnAttachment",
      "http":{
        "method":"POST",
        "requestUri":"/site-to-site-vpn-attachments"
      },
      "input":{"shape":"CreateSiteToSiteVpnAttachmentRequest"},
      "output":{"shape":"CreateSiteToSiteVpnAttachmentResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates an Amazon Web Services site-to-site VPN attachment on an edge location of a core network.</p>"
    },
    "CreateTransitGatewayPeering":{
      "name":"CreateTransitGatewayPeering",
      "http":{
        "method":"POST",
        "requestUri":"/transit-gateway-peerings"
      },
      "input":{"shape":"CreateTransitGatewayPeeringRequest"},
      "output":{"shape":"CreateTransitGatewayPeeringResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a transit gateway peering connection.</p>"
    },
    "CreateTransitGatewayRouteTableAttachment":{
      "name":"CreateTransitGatewayRouteTableAttachment",
      "http":{
        "method":"POST",
        "requestUri":"/transit-gateway-route-table-attachments"
      },
      "input":{"shape":"CreateTransitGatewayRouteTableAttachmentRequest"},
      "output":{"shape":"CreateTransitGatewayRouteTableAttachmentResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a transit gateway route table attachment.</p>"
    },
    "CreateVpcAttachment":{
      "name":"CreateVpcAttachment",
      "http":{
        "method":"POST",
        "requestUri":"/vpc-attachments"
      },
      "input":{"shape":"CreateVpcAttachmentRequest"},
      "output":{"shape":"CreateVpcAttachmentResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a VPC attachment on an edge location of a core network.</p>"
    },
    "DeleteAttachment":{
      "name":"DeleteAttachment",
      "http":{
        "method":"DELETE",
        "requestUri":"/attachments/{attachmentId}"
      },
      "input":{"shape":"DeleteAttachmentRequest"},
      "output":{"shape":"DeleteAttachmentResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes an attachment. Supports all attachment types.</p>"
    },
    "DeleteConnectPeer":{
      "name":"DeleteConnectPeer",
      "http":{
        "method":"DELETE",
        "requestUri":"/connect-peers/{connectPeerId}"
      },
      "input":{"shape":"DeleteConnectPeerRequest"},
      "output":{"shape":"DeleteConnectPeerResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes a Connect peer.</p>"
    },
    "DeleteConnection":{
      "name":"DeleteConnection",
      "http":{
        "method":"DELETE",
        "requestUri":"/global-networks/{globalNetworkId}/connections/{connectionId}"
      },
      "input":{"shape":"DeleteConnectionRequest"},
      "output":{"shape":"DeleteConnectionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes the specified connection in your global network.</p>"
    },
    "DeleteCoreNetwork":{
      "name":"DeleteCoreNetwork",
      "http":{
        "method":"DELETE",
        "requestUri":"/core-networks/{coreNetworkId}"
      },
      "input":{"shape":"DeleteCoreNetworkRequest"},
      "output":{"shape":"DeleteCoreNetworkResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes a core network along with all core network policies. This can only be done if there are no attachments on a core network.</p>"
    },
    "DeleteCoreNetworkPolicyVersion":{
      "name":"DeleteCoreNetworkPolicyVersion",
      "http":{
        "method":"DELETE",
        "requestUri":"/core-networks/{coreNetworkId}/core-network-policy-versions/{policyVersionId}"
      },
      "input":{"shape":"DeleteCoreNetworkPolicyVersionRequest"},
      "output":{"shape":"DeleteCoreNetworkPolicyVersionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes a policy version from a core network. You can't delete the current LIVE policy.</p>"
    },
    "DeleteDevice":{
      "name":"DeleteDevice",
      "http":{
        "method":"DELETE",
        "requestUri":"/global-networks/{globalNetworkId}/devices/{deviceId}"
      },
      "input":{"shape":"DeleteDeviceRequest"},
      "output":{"shape":"DeleteDeviceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes an existing device. You must first disassociate the device from any links and customer gateways.</p>"
    },
    "DeleteGlobalNetwork":{
      "name":"DeleteGlobalNetwork",
      "http":{
        "method":"DELETE",
        "requestUri":"/global-networks/{globalNetworkId}"
      },
      "input":{"shape":"DeleteGlobalNetworkRequest"},
      "output":{"shape":"DeleteGlobalNetworkResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes an existing global network. You must first delete all global network objects (devices, links, and sites), deregister all transit gateways, and delete any core networks.</p>"
    },
    "DeleteLink":{
      "name":"DeleteLink",
      "http":{
        "method":"DELETE",
        "requestUri":"/global-networks/{globalNetworkId}/links/{linkId}"
      },
      "input":{"shape":"DeleteLinkRequest"},
      "output":{"shape":"DeleteLinkResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes an existing link. You must first disassociate the link from any devices and customer gateways.</p>"
    },
    "DeletePeering":{
      "name":"DeletePeering",
      "http":{
        "method":"DELETE",
        "requestUri":"/peerings/{peeringId}"
      },
      "input":{"shape":"DeletePeeringRequest"},
      "output":{"shape":"DeletePeeringResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes an existing peering connection.</p>"
    },
    "DeleteResourcePolicy":{
      "name":"DeleteResourcePolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/resource-policy/{resourceArn}"
      },
      "input":{"shape":"DeleteResourcePolicyRequest"},
      "output":{"shape":"DeleteResourcePolicyResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes a resource policy for the specified resource. This revokes the access of the principals specified in the resource policy.</p>"
    },
    "DeleteSite":{
      "name":"DeleteSite",
      "http":{
        "method":"DELETE",
        "requestUri":"/global-networks/{globalNetworkId}/sites/{siteId}"
      },
      "input":{"shape":"DeleteSiteRequest"},
      "output":{"shape":"DeleteSiteResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes an existing site. The site cannot be associated with any device or link.</p>"
    },
    "DeregisterTransitGateway":{
      "name":"DeregisterTransitGateway",
      "http":{
        "method":"DELETE",
        "requestUri":"/global-networks/{globalNetworkId}/transit-gateway-registrations/{transitGatewayArn}"
      },
      "input":{"shape":"DeregisterTransitGatewayRequest"},
      "output":{"shape":"DeregisterTransitGatewayResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deregisters a transit gateway from your global network. This action does not delete your transit gateway, or modify any of its attachments. This action removes any customer gateway associations.</p>"
    },
    "DescribeGlobalNetworks":{
      "name":"DescribeGlobalNetworks",
      "http":{
        "method":"GET",
        "requestUri":"/global-networks"
      },
      "input":{"shape":"DescribeGlobalNetworksRequest"},
      "output":{"shape":"DescribeGlobalNetworksResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Describes one or more global networks. By default, all global networks are described. To describe the objects in your global network, you must use the appropriate <code>Get*</code> action. For example, to list the transit gateways in your global network, use <a>GetTransitGatewayRegistrations</a>.</p>"
    },
    "DisassociateConnectPeer":{
      "name":"DisassociateConnectPeer",
      "http":{
        "method":"DELETE",
        "requestUri":"/global-networks/{globalNetworkId}/connect-peer-associations/{connectPeerId}"
      },
      "input":{"shape":"DisassociateConnectPeerRequest"},
      "output":{"shape":"DisassociateConnectPeerResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Disassociates a core network Connect peer from a device and a link. </p>"
    },
    "DisassociateCustomerGateway":{
      "name":"DisassociateCustomerGateway",
      "http":{
        "method":"DELETE",
        "requestUri":"/global-networks/{globalNetworkId}/customer-gateway-associations/{customerGatewayArn}"
      },
      "input":{"shape":"DisassociateCustomerGatewayRequest"},
      "output":{"shape":"DisassociateCustomerGatewayResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Disassociates a customer gateway from a device and a link.</p>"
    },
    "DisassociateLink":{
      "name":"DisassociateLink",
      "http":{
        "method":"DELETE",
        "requestUri":"/global-networks/{globalNetworkId}/link-associations"
      },
      "input":{"shape":"DisassociateLinkRequest"},
      "output":{"shape":"DisassociateLinkResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Disassociates an existing device from a link. You must first disassociate any customer gateways that are associated with the link.</p>"
    },
    "DisassociateTransitGatewayConnectPeer":{
      "name":"DisassociateTransitGatewayConnectPeer",
      "http":{
        "method":"DELETE",
        "requestUri":"/global-networks/{globalNetworkId}/transit-gateway-connect-peer-associations/{transitGatewayConnectPeerArn}"
      },
      "input":{"shape":"DisassociateTransitGatewayConnectPeerRequest"},
      "output":{"shape":"DisassociateTransitGatewayConnectPeerResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Disassociates a transit gateway Connect peer from a device and link.</p>"
    },
    "ExecuteCoreNetworkChangeSet":{
      "name":"ExecuteCoreNetworkChangeSet",
      "http":{
        "method":"POST",
        "requestUri":"/core-networks/{coreNetworkId}/core-network-change-sets/{policyVersionId}/execute"
      },
      "input":{"shape":"ExecuteCoreNetworkChangeSetRequest"},
      "output":{"shape":"ExecuteCoreNetworkChangeSetResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Executes a change set on your core network. Deploys changes globally based on the policy submitted..</p>"
    },
    "GetConnectAttachment":{
      "name":"GetConnectAttachment",
      "http":{
        "method":"GET",
        "requestUri":"/connect-attachments/{attachmentId}"
      },
      "input":{"shape":"GetConnectAttachmentRequest"},
      "output":{"shape":"GetConnectAttachmentResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns information about a core network Connect attachment.</p>"
    },
    "GetConnectPeer":{
      "name":"GetConnectPeer",
      "http":{
        "method":"GET",
        "requestUri":"/connect-peers/{connectPeerId}"
      },
      "input":{"shape":"GetConnectPeerRequest"},
      "output":{"shape":"GetConnectPeerResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns information about a core network Connect peer.</p>"
    },
    "GetConnectPeerAssociations":{
      "name":"GetConnectPeerAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/global-networks/{globalNetworkId}/connect-peer-associations"
      },
      "input":{"shape":"GetConnectPeerAssociationsRequest"},
      "output":{"shape":"GetConnectPeerAssociationsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns information about a core network Connect peer associations.</p>"
    },
    "GetConnections":{
      "name":"GetConnections",
      "http":{
        "method":"GET",
        "requestUri":"/global-networks/{globalNetworkId}/connections"
      },
      "input":{"shape":"GetConnectionsRequest"},
      "output":{"shape":"GetConnectionsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets information about one or more of your connections in a global network.</p>"
    },
    "GetCoreNetwork":{
      "name":"GetCoreNetwork",
      "http":{
        "method":"GET",
        "requestUri":"/core-networks/{coreNetworkId}"
      },
      "input":{"shape":"GetCoreNetworkRequest"},
      "output":{"shape":"GetCoreNetworkResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns information about the LIVE policy for a core network.</p>"
    },
    "GetCoreNetworkChangeEvents":{
      "name":"GetCoreNetworkChangeEvents",
      "http":{
        "method":"GET",
        "requestUri":"/core-networks/{coreNetworkId}/core-network-change-events/{policyVersionId}"
      },
      "input":{"shape":"GetCoreNetworkChangeEventsRequest"},
      "output":{"shape":"GetCoreNetworkChangeEventsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns information about a core network change event.</p>"
    },
    "GetCoreNetworkChangeSet":{
      "name":"GetCoreNetworkChangeSet",
      "http":{
        "method":"GET",
        "requestUri":"/core-networks/{coreNetworkId}/core-network-change-sets/{policyVersionId}"
      },
      "input":{"shape":"GetCoreNetworkChangeSetRequest"},
      "output":{"shape":"GetCoreNetworkChangeSetResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns a change set between the LIVE core network policy and a submitted policy.</p>"
    },
    "GetCoreNetworkPolicy":{
      "name":"GetCoreNetworkPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/core-networks/{coreNetworkId}/core-network-policy"
      },
      "input":{"shape":"GetCoreNetworkPolicyRequest"},
      "output":{"shape":"GetCoreNetworkPolicyResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns details about a core network policy. You can get details about your current live policy or any previous policy version.</p>"
    },
    "GetCustomerGatewayAssociations":{
      "name":"GetCustomerGatewayAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/global-networks/{globalNetworkId}/customer-gateway-associations"
      },
      "input":{"shape":"GetCustomerGatewayAssociationsRequest"},
      "output":{"shape":"GetCustomerGatewayAssociationsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the association information for customer gateways that are associated with devices and links in your global network.</p>"
    },
    "GetDevices":{
      "name":"GetDevices",
      "http":{
        "method":"GET",
        "requestUri":"/global-networks/{globalNetworkId}/devices"
      },
      "input":{"shape":"GetDevicesRequest"},
      "output":{"shape":"GetDevicesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets information about one or more of your devices in a global network.</p>"
    },
    "GetDirectConnectGatewayAttachment":{
      "name":"GetDirectConnectGatewayAttachment",
      "http":{
        "method":"GET",
        "requestUri":"/direct-connect-gateway-attachments/{attachmentId}"
      },
      "input":{"shape":"GetDirectConnectGatewayAttachmentRequest"},
      "output":{"shape":"GetDirectConnectGatewayAttachmentResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns information about a specific Amazon Web Services Direct Connect gateway attachment.</p>"
    },
    "GetLinkAssociations":{
      "name":"GetLinkAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/global-networks/{globalNetworkId}/link-associations"
      },
      "input":{"shape":"GetLinkAssociationsRequest"},
      "output":{"shape":"GetLinkAssociationsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the link associations for a device or a link. Either the device ID or the link ID must be specified.</p>"
    },
    "GetLinks":{
      "name":"GetLinks",
      "http":{
        "method":"GET",
        "requestUri":"/global-networks/{globalNetworkId}/links"
      },
      "input":{"shape":"GetLinksRequest"},
      "output":{"shape":"GetLinksResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets information about one or more links in a specified global network.</p> <p>If you specify the site ID, you cannot specify the type or provider in the same request. You can specify the type and provider in the same request.</p>"
    },
    "GetNetworkResourceCounts":{
      "name":"GetNetworkResourceCounts",
      "http":{
        "method":"GET",
        "requestUri":"/global-networks/{globalNetworkId}/network-resource-count"
      },
      "input":{"shape":"GetNetworkResourceCountsRequest"},
      "output":{"shape":"GetNetworkResourceCountsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the count of network resources, by resource type, for the specified global network.</p>"
    },
    "GetNetworkResourceRelationships":{
      "name":"GetNetworkResourceRelationships",
      "http":{
        "method":"GET",
        "requestUri":"/global-networks/{globalNetworkId}/network-resource-relationships"
      },
      "input":{"shape":"GetNetworkResourceRelationshipsRequest"},
      "output":{"shape":"GetNetworkResourceRelationshipsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the network resource relationships for the specified global network.</p>"
    },
    "GetNetworkResources":{
      "name":"GetNetworkResources",
      "http":{
        "method":"GET",
        "requestUri":"/global-networks/{globalNetworkId}/network-resources"
      },
      "input":{"shape":"GetNetworkResourcesRequest"},
      "output":{"shape":"GetNetworkResourcesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Describes the network resources for the specified global network.</p> <p>The results include information from the corresponding Describe call for the resource, minus any sensitive information such as pre-shared keys.</p>"
    },
    "GetNetworkRoutes":{
      "name":"GetNetworkRoutes",
      "http":{
        "method":"POST",
        "requestUri":"/global-networks/{globalNetworkId}/network-routes"
      },
      "input":{"shape":"GetNetworkRoutesRequest"},
      "output":{"shape":"GetNetworkRoutesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the network routes of the specified global network.</p>"
    },
    "GetNetworkTelemetry":{
      "name":"GetNetworkTelemetry",
      "http":{
        "method":"GET",
        "requestUri":"/global-networks/{globalNetworkId}/network-telemetry"
      },
      "input":{"shape":"GetNetworkTelemetryRequest"},
      "output":{"shape":"GetNetworkTelemetryResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the network telemetry of the specified global network.</p>"
    },
    "GetResourcePolicy":{
      "name":"GetResourcePolicy",
      "http":{
        "method":"GET",
        "requestUri":"/resource-policy/{resourceArn}"
      },
      "input":{"shape":"GetResourcePolicyRequest"},
      "output":{"shape":"GetResourcePolicyResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns information about a resource policy.</p>"
    },
    "GetRouteAnalysis":{
      "name":"GetRouteAnalysis",
      "http":{
        "method":"GET",
        "requestUri":"/global-networks/{globalNetworkId}/route-analyses/{routeAnalysisId}"
      },
      "input":{"shape":"GetRouteAnalysisRequest"},
      "output":{"shape":"GetRouteAnalysisResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets information about the specified route analysis.</p>"
    },
    "GetSiteToSiteVpnAttachment":{
      "name":"GetSiteToSiteVpnAttachment",
      "http":{
        "method":"GET",
        "requestUri":"/site-to-site-vpn-attachments/{attachmentId}"
      },
      "input":{"shape":"GetSiteToSiteVpnAttachmentRequest"},
      "output":{"shape":"GetSiteToSiteVpnAttachmentResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns information about a site-to-site VPN attachment.</p>"
    },
    "GetSites":{
      "name":"GetSites",
      "http":{
        "method":"GET",
        "requestUri":"/global-networks/{globalNetworkId}/sites"
      },
      "input":{"shape":"GetSitesRequest"},
      "output":{"shape":"GetSitesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets information about one or more of your sites in a global network.</p>"
    },
    "GetTransitGatewayConnectPeerAssociations":{
      "name":"GetTransitGatewayConnectPeerAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/global-networks/{globalNetworkId}/transit-gateway-connect-peer-associations"
      },
      "input":{"shape":"GetTransitGatewayConnectPeerAssociationsRequest"},
      "output":{"shape":"GetTransitGatewayConnectPeerAssociationsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets information about one or more of your transit gateway Connect peer associations in a global network.</p>"
    },
    "GetTransitGatewayPeering":{
      "name":"GetTransitGatewayPeering",
      "http":{
        "method":"GET",
        "requestUri":"/transit-gateway-peerings/{peeringId}"
      },
      "input":{"shape":"GetTransitGatewayPeeringRequest"},
      "output":{"shape":"GetTransitGatewayPeeringResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns information about a transit gateway peer.</p>"
    },
    "GetTransitGatewayRegistrations":{
      "name":"GetTransitGatewayRegistrations",
      "http":{
        "method":"GET",
        "requestUri":"/global-networks/{globalNetworkId}/transit-gateway-registrations"
      },
      "input":{"shape":"GetTransitGatewayRegistrationsRequest"},
      "output":{"shape":"GetTransitGatewayRegistrationsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets information about the transit gateway registrations in a specified global network.</p>"
    },
    "GetTransitGatewayRouteTableAttachment":{
      "name":"GetTransitGatewayRouteTableAttachment",
      "http":{
        "method":"GET",
        "requestUri":"/transit-gateway-route-table-attachments/{attachmentId}"
      },
      "input":{"shape":"GetTransitGatewayRouteTableAttachmentRequest"},
      "output":{"shape":"GetTransitGatewayRouteTableAttachmentResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns information about a transit gateway route table attachment.</p>"
    },
    "GetVpcAttachment":{
      "name":"GetVpcAttachment",
      "http":{
        "method":"GET",
        "requestUri":"/vpc-attachments/{attachmentId}"
      },
      "input":{"shape":"GetVpcAttachmentRequest"},
      "output":{"shape":"GetVpcAttachmentResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns information about a VPC attachment.</p>"
    },
    "ListAttachments":{
      "name":"ListAttachments",
      "http":{
        "method":"GET",
        "requestUri":"/attachments"
      },
      "input":{"shape":"ListAttachmentsRequest"},
      "output":{"shape":"ListAttachmentsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns a list of core network attachments.</p>"
    },
    "ListConnectPeers":{
      "name":"ListConnectPeers",
      "http":{
        "method":"GET",
        "requestUri":"/connect-peers"
      },
      "input":{"shape":"ListConnectPeersRequest"},
      "output":{"shape":"ListConnectPeersResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns a list of core network Connect peers.</p>"
    },
    "ListCoreNetworkPolicyVersions":{
      "name":"ListCoreNetworkPolicyVersions",
      "http":{
        "method":"GET",
        "requestUri":"/core-networks/{coreNetworkId}/core-network-policy-versions"
      },
      "input":{"shape":"ListCoreNetworkPolicyVersionsRequest"},
      "output":{"shape":"ListCoreNetworkPolicyVersionsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns a list of core network policy versions.</p>"
    },
    "ListCoreNetworks":{
      "name":"ListCoreNetworks",
      "http":{
        "method":"GET",
        "requestUri":"/core-networks"
      },
      "input":{"shape":"ListCoreNetworksRequest"},
      "output":{"shape":"ListCoreNetworksResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns a list of owned and shared core networks.</p>"
    },
    "ListOrganizationServiceAccessStatus":{
      "name":"ListOrganizationServiceAccessStatus",
      "http":{
        "method":"GET",
        "requestUri":"/organizations/service-access"
      },
      "input":{"shape":"ListOrganizationServiceAccessStatusRequest"},
      "output":{"shape":"ListOrganizationServiceAccessStatusResponse"},
      "documentation":"<p>Gets the status of the Service Linked Role (SLR) deployment for the accounts in a given Amazon Web Services Organization.</p>"
    },
    "ListPeerings":{
      "name":"ListPeerings",
      "http":{
        "method":"GET",
        "requestUri":"/peerings"
      },
      "input":{"shape":"ListPeeringsRequest"},
      "output":{"shape":"ListPeeringsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists the peerings for a core network.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists the tags for a specified resource.</p>"
    },
    "PutCoreNetworkPolicy":{
      "name":"PutCoreNetworkPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/core-networks/{coreNetworkId}/core-network-policy"
      },
      "input":{"shape":"PutCoreNetworkPolicyRequest"},
      "output":{"shape":"PutCoreNetworkPolicyResponse"},
      "errors":[
        {"shape":"CoreNetworkPolicyException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Creates a new, immutable version of a core network policy. A subsequent change set is created showing the differences between the LIVE policy and the submitted policy.</p>"
    },
    "PutResourcePolicy":{
      "name":"PutResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/resource-policy/{resourceArn}"
      },
      "input":{"shape":"PutResourcePolicyRequest"},
      "output":{"shape":"PutResourcePolicyResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates or updates a resource policy.</p>"
    },
    "RegisterTransitGateway":{
      "name":"RegisterTransitGateway",
      "http":{
        "method":"POST",
        "requestUri":"/global-networks/{globalNetworkId}/transit-gateway-registrations"
      },
      "input":{"shape":"RegisterTransitGatewayRequest"},
      "output":{"shape":"RegisterTransitGatewayResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Registers a transit gateway in your global network. Not all Regions support transit gateways for global networks. For a list of the supported Regions, see <a href=\"https://docs.aws.amazon.com/network-manager/latest/tgwnm/what-are-global-networks.html#nm-available-regions\">Region Availability</a> in the <i>Amazon Web Services Transit Gateways for Global Networks User Guide</i>. The transit gateway can be in any of the supported Amazon Web Services Regions, but it must be owned by the same Amazon Web Services account that owns the global network. You cannot register a transit gateway in more than one global network.</p>"
    },
    "RejectAttachment":{
      "name":"RejectAttachment",
      "http":{
        "method":"POST",
        "requestUri":"/attachments/{attachmentId}/reject"
      },
      "input":{"shape":"RejectAttachmentRequest"},
      "output":{"shape":"RejectAttachmentResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Rejects a core network attachment request.</p>"
    },
    "RestoreCoreNetworkPolicyVersion":{
      "name":"RestoreCoreNetworkPolicyVersion",
      "http":{
        "method":"POST",
        "requestUri":"/core-networks/{coreNetworkId}/core-network-policy-versions/{policyVersionId}/restore"
      },
      "input":{"shape":"RestoreCoreNetworkPolicyVersionRequest"},
      "output":{"shape":"RestoreCoreNetworkPolicyVersionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Restores a previous policy version as a new, immutable version of a core network policy. A subsequent change set is created showing the differences between the LIVE policy and restored policy.</p>"
    },
    "StartOrganizationServiceAccessUpdate":{
      "name":"StartOrganizationServiceAccessUpdate",
      "http":{
        "method":"POST",
        "requestUri":"/organizations/service-access"
      },
      "input":{"shape":"StartOrganizationServiceAccessUpdateRequest"},
      "output":{"shape":"StartOrganizationServiceAccessUpdateResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Enables the Network Manager service for an Amazon Web Services Organization. This can only be called by a management account within the organization. </p>"
    },
    "StartRouteAnalysis":{
      "name":"StartRouteAnalysis",
      "http":{
        "method":"POST",
        "requestUri":"/global-networks/{globalNetworkId}/route-analyses"
      },
      "input":{"shape":"StartRouteAnalysisRequest"},
      "output":{"shape":"StartRouteAnalysisResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Starts analyzing the routing path between the specified source and destination. For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/tgw/route-analyzer.html\">Route Analyzer</a>.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Tags a specified resource.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Removes tags from a specified resource.</p>"
    },
    "UpdateConnection":{
      "name":"UpdateConnection",
      "http":{
        "method":"PATCH",
        "requestUri":"/global-networks/{globalNetworkId}/connections/{connectionId}"
      },
      "input":{"shape":"UpdateConnectionRequest"},
      "output":{"shape":"UpdateConnectionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates the information for an existing connection. To remove information for any of the parameters, specify an empty string.</p>"
    },
    "UpdateCoreNetwork":{
      "name":"UpdateCoreNetwork",
      "http":{
        "method":"PATCH",
        "requestUri":"/core-networks/{coreNetworkId}"
      },
      "input":{"shape":"UpdateCoreNetworkRequest"},
      "output":{"shape":"UpdateCoreNetworkResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates the description of a core network.</p>"
    },
    "UpdateDevice":{
      "name":"UpdateDevice",
      "http":{
        "method":"PATCH",
        "requestUri":"/global-networks/{globalNetworkId}/devices/{deviceId}"
      },
      "input":{"shape":"UpdateDeviceRequest"},
      "output":{"shape":"UpdateDeviceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates the details for an existing device. To remove information for any of the parameters, specify an empty string.</p>"
    },
    "UpdateDirectConnectGatewayAttachment":{
      "name":"UpdateDirectConnectGatewayAttachment",
      "http":{
        "method":"PATCH",
        "requestUri":"/direct-connect-gateway-attachments/{attachmentId}"
      },
      "input":{"shape":"UpdateDirectConnectGatewayAttachmentRequest"},
      "output":{"shape":"UpdateDirectConnectGatewayAttachmentResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates the edge locations associated with an Amazon Web Services Direct Connect gateway attachment. </p>"
    },
    "UpdateGlobalNetwork":{
      "name":"UpdateGlobalNetwork",
      "http":{
        "method":"PATCH",
        "requestUri":"/global-networks/{globalNetworkId}"
      },
      "input":{"shape":"UpdateGlobalNetworkRequest"},
      "output":{"shape":"UpdateGlobalNetworkResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates an existing global network. To remove information for any of the parameters, specify an empty string.</p>"
    },
    "UpdateLink":{
      "name":"UpdateLink",
      "http":{
        "method":"PATCH",
        "requestUri":"/global-networks/{globalNetworkId}/links/{linkId}"
      },
      "input":{"shape":"UpdateLinkRequest"},
      "output":{"shape":"UpdateLinkResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates the details for an existing link. To remove information for any of the parameters, specify an empty string.</p>"
    },
    "UpdateNetworkResourceMetadata":{
      "name":"UpdateNetworkResourceMetadata",
      "http":{
        "method":"PATCH",
        "requestUri":"/global-networks/{globalNetworkId}/network-resources/{resourceArn}/metadata"
      },
      "input":{"shape":"UpdateNetworkResourceMetadataRequest"},
      "output":{"shape":"UpdateNetworkResourceMetadataResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates the resource metadata for the specified global network.</p>"
    },
    "UpdateSite":{
      "name":"UpdateSite",
      "http":{
        "method":"PATCH",
        "requestUri":"/global-networks/{globalNetworkId}/sites/{siteId}"
      },
      "input":{"shape":"UpdateSiteRequest"},
      "output":{"shape":"UpdateSiteResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates the information for an existing site. To remove information for any of the parameters, specify an empty string.</p>"
    },
    "UpdateVpcAttachment":{
      "name":"UpdateVpcAttachment",
      "http":{
        "method":"PATCH",
        "requestUri":"/vpc-attachments/{attachmentId}"
      },
      "input":{"shape":"UpdateVpcAttachmentRequest"},
      "output":{"shape":"UpdateVpcAttachmentResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates a VPC attachment.</p>"
    }
  },
  "shapes":{
    "AWSAccountId":{
      "type":"string",
      "max":12,
      "min":12,
      "pattern":"[\\s\\S]*"
    },
    "AWSLocation":{
      "type":"structure",
      "members":{
        "Zone":{
          "shape":"ConstrainedString",
          "documentation":"<p>The Zone that the device is located in. Specify the ID of an Availability Zone, Local Zone, Wavelength Zone, or an Outpost.</p>"
        },
        "SubnetArn":{
          "shape":"SubnetArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the subnet that the device is located in.</p>"
        }
      },
      "documentation":"<p>Specifies a location in Amazon Web Services.</p>"
    },
    "AcceptAttachmentRequest":{
      "type":"structure",
      "required":["AttachmentId"],
      "members":{
        "AttachmentId":{
          "shape":"AttachmentId",
          "documentation":"<p>The ID of the attachment. </p>",
          "location":"uri",
          "locationName":"attachmentId"
        }
      }
    },
    "AcceptAttachmentResponse":{
      "type":"structure",
      "members":{
        "Attachment":{
          "shape":"Attachment",
          "documentation":"<p>The response to the attachment request. </p>"
        }
      }
    },
    "AccessDeniedException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"ServerSideString"}
      },
      "documentation":"<p>You do not have sufficient access to perform this action.</p>",
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "AccountId":{
      "type":"string",
      "max":50,
      "min":0
    },
    "AccountStatus":{
      "type":"structure",
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "documentation":"<p>The ID of an account within the Amazon Web Services Organization.</p>"
        },
        "SLRDeploymentStatus":{
          "shape":"SLRDeploymentStatus",
          "documentation":"<p>The status of SLR deployment for the account.</p>"
        }
      },
      "documentation":"<p>Describes the current status of an account within an Amazon Web Services Organization, including service-linked roles (SLRs).</p>"
    },
    "AccountStatusList":{
      "type":"list",
      "member":{"shape":"AccountStatus"}
    },
    "Action":{
      "type":"string",
      "max":50,
      "min":0
    },
    "AssociateConnectPeerRequest":{
      "type":"structure",
      "required":[
        "GlobalNetworkId",
        "ConnectPeerId",
        "DeviceId"
      ],
      "members":{
        "GlobalNetworkId":{
          "shape":"GlobalNetworkId",
          "documentation":"<p>The ID of your global network.</p>",
          "location":"uri",
          "locationName":"globalNetworkId"
        },
        "ConnectPeerId":{
          "shape":"ConnectPeerId",
          "documentation":"<p>The ID of the Connect peer.</p>"
        },
        "DeviceId":{
          "shape":"DeviceId",
          "documentation":"<p>The ID of the device.</p>"
        },
        "LinkId":{
          "shape":"LinkId",
          "documentation":"<p>The ID of the link.</p>"
        }
      }
    },
    "AssociateConnectPeerResponse":{
      "type":"structure",
      "members":{
        "ConnectPeerAssociation":{
          "shape":"ConnectPeerAssociation",
          "documentation":"<p>The response to the Connect peer request.</p>"
        }
      }
    },
    "AssociateCustomerGatewayRequest":{
      "type":"structure",
      "required":[
        "CustomerGatewayArn",
        "GlobalNetworkId",
        "DeviceId"
      ],
      "members":{
        "CustomerGatewayArn":{
          "shape":"CustomerGatewayArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the customer gateway.</p>"
        },
        "GlobalNetworkId":{
          "shape":"GlobalNetworkId",
          "documentation":"<p>The ID of the global network.</p>",
          "location":"uri",
          "locationName":"globalNetworkId"
        },
        "DeviceId":{
          "shape":"DeviceId",
          "documentation":"<p>The ID of the device.</p>"
        },
        "LinkId":{
          "shape":"LinkId",
          "documentation":"<p>The ID of the link.</p>"
        }
      }
    },
    "AssociateCustomerGatewayResponse":{
      "type":"structure",
      "members":{
        "CustomerGatewayAssociation":{
          "shape":"CustomerGatewayAssociation",
          "documentation":"<p>The customer gateway association.</p>"
        }
      }
    },
    "AssociateLinkRequest":{
      "type":"structure",
      "required":[
        "GlobalNetworkId",
        "DeviceId",
        "LinkId"
      ],
      "members":{
        "GlobalNetworkId":{
          "shape":"GlobalNetworkId",
          "documentation":"<p>The ID of the global network.</p>",
          "location":"uri",
          "locationName":"globalNetworkId"
        },
        "DeviceId":{
          "shape":"DeviceId",
          "documentation":"<p>The ID of the device.</p>"
        },
        "LinkId":{
          "shape":"LinkId",
          "documentation":"<p>The ID of the link.</p>"
        }
      }
    },
    "AssociateLinkResponse":{
      "type":"structure",
      "members":{
        "LinkAssociation":{
          "shape":"LinkAssociation",
          "documentation":"<p>The link association.</p>"
        }
      }
    },
    "AssociateTransitGatewayConnectPeerRequest":{
      "type":"structure",
      "required":[
        "GlobalNetworkId",
        "TransitGatewayConnectPeerArn",
        "DeviceId"
      ],
      "members":{
        "GlobalNetworkId":{
          "shape":"GlobalNetworkId",
          "documentation":"<p>The ID of the global network.</p>",
          "location":"uri",
          "locationName":"globalNetworkId"
        },
        "TransitGatewayConnectPeerArn":{
          "shape":"TransitGatewayConnectPeerArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Connect peer.</p>"
        },
        "DeviceId":{
          "shape":"DeviceId",
          "documentation":"<p>The ID of the device.</p>"
        },
        "LinkId":{
          "shape":"LinkId",
          "documentation":"<p>The ID of the link.</p>"
        }
      }
    },
    "AssociateTransitGatewayConnectPeerResponse":{
      "type":"structure",
      "members":{
        "TransitGatewayConnectPeerAssociation":{
          "shape":"TransitGatewayConnectPeerAssociation",
          "documentation":"<p>The transit gateway Connect peer association.</p>"
        }
      }
    },
    "Attachment":{
      "type":"structure",
      "members":{
        "CoreNetworkId":{
          "shape":"CoreNetworkId",
          "documentation":"<p>The ID of a core network.</p>"
        },
        "CoreNetworkArn":{
          "shape":"CoreNetworkArn",
          "documentation":"<p>The ARN of a core network.</p>"
        },
        "AttachmentId":{
          "shape":"AttachmentId",
          "documentation":"<p>The ID of the attachment.</p>"
        },
        "OwnerAccountId":{
          "shape":"AWSAccountId",
          "documentation":"<p>The ID of the attachment account owner.</p>"
        },
        "AttachmentType":{
          "shape":"AttachmentType",
          "documentation":"<p>The type of attachment.</p>"
        },
        "State":{
          "shape":"AttachmentState",
          "documentation":"<p>The state of the attachment.</p>"
        },
        "EdgeLocation":{
          "shape":"ExternalRegionCode",
          "documentation":"<p>The Region where the edge is located. This is returned for all attachment types except a Direct Connect gateway attachment, which instead returns <code>EdgeLocations</code>.</p>"
        },
        "EdgeLocations":{
          "shape":"ExternalRegionCodeList",
          "documentation":"<p>The edge locations that the Direct Connect gateway is associated with. This is returned only for Direct Connect gateway attachments. All other attachment types retrun <code>EdgeLocation</code>.</p>"
        },
        "ResourceArn":{
          "shape":"ResourceArn",
          "documentation":"<p>The attachment resource ARN.</p>"
        },
        "AttachmentPolicyRuleNumber":{
          "shape":"Integer",
          "documentation":"<p>The policy rule number associated with the attachment.</p>"
        },
        "SegmentName":{
          "shape":"ConstrainedString",
          "documentation":"<p>The name of the segment attachment.</p>"
        },
        "NetworkFunctionGroupName":{
          "shape":"NetworkFunctionGroupName",
          "documentation":"<p>The name of the network function group.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The tags associated with the attachment.</p>"
        },
        "ProposedSegmentChange":{
          "shape":"ProposedSegmentChange",
          "documentation":"<p>The attachment to move from one segment to another.</p>"
        },
        "ProposedNetworkFunctionGroupChange":{
          "shape":"ProposedNetworkFunctionGroupChange",
          "documentation":"<p>Describes a proposed change to a network function group associated with the attachment.</p>"
        },
        "CreatedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the attachment was created.</p>"
        },
        "UpdatedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the attachment was last updated.</p>"
        },
        "LastModificationErrors":{
          "shape":"AttachmentErrorList",
          "documentation":"<p>Describes the error associated with the attachment request.</p>"
        }
      },
      "documentation":"<p>Describes a core network attachment.</p>"
    },
    "AttachmentError":{
      "type":"structure",
      "members":{
        "Code":{
          "shape":"AttachmentErrorCode",
          "documentation":"<p>The error code for the attachment request. </p>"
        },
        "Message":{
          "shape":"ServerSideString",
          "documentation":"<p>The message associated with the error <code>code</code>.</p>"
        },
        "ResourceArn":{
          "shape":"ResourceArn",
          "documentation":"<p>The ARN of the requested attachment resource.</p>"
        },
        "RequestId":{
          "shape":"ServerSideString",
          "documentation":"<p>The ID of the attachment request.</p>"
        }
      },
      "documentation":"<p>Describes the error associated with an attachment request.</p>"
    },
    "AttachmentErrorCode":{
      "type":"string",
      "enum":[
        "VPC_NOT_FOUND",
        "SUBNET_NOT_FOUND",
        "SUBNET_DUPLICATED_IN_AVAILABILITY_ZONE",
        "SUBNET_NO_FREE_ADDRESSES",
        "SUBNET_UNSUPPORTED_AVAILABILITY_ZONE",
        "SUBNET_NO_IPV6_CIDRS",
        "VPN_CONNECTION_NOT_FOUND",
        "MAXIMUM_NO_ENCAP_LIMIT_EXCEEDED",
        "DIRECT_CONNECT_GATEWAY_NOT_FOUND",
        "DIRECT_CONNECT_GATEWAY_EXISTING_ATTACHMENTS",
        "DIRECT_CONNECT_GATEWAY_NO_PRIVATE_VIF"
      ]
    },
    "AttachmentErrorList":{
      "type":"list",
      "member":{"shape":"AttachmentError"},
      "max":20,
      "min":0
    },
    "AttachmentId":{
      "type":"string",
      "max":50,
      "min":0,
      "pattern":"^attachment-([0-9a-f]{8,17})$"
    },
    "AttachmentList":{
      "type":"list",
      "member":{"shape":"Attachment"}
    },
    "AttachmentState":{
      "type":"string",
      "enum":[
        "REJECTED",
        "PENDING_ATTACHMENT_ACCEPTANCE",
        "CREATING",
        "FAILED",
        "AVAILABLE",
        "UPDATING",
        "PENDING_NETWORK_UPDATE",
        "PENDING_TAG_ACCEPTANCE",
        "DELETING"
      ]
    },
    "AttachmentType":{
      "type":"string",
      "enum":[
        "CONNECT",
        "SITE_TO_SITE_VPN",
        "VPC",
        "DIRECT_CONNECT_GATEWAY",
        "TRANSIT_GATEWAY_ROUTE_TABLE"
      ]
    },
    "Bandwidth":{
      "type":"structure",
      "members":{
        "UploadSpeed":{
          "shape":"Integer",
          "documentation":"<p>Upload speed in Mbps.</p>"
        },
        "DownloadSpeed":{
          "shape":"Integer",
          "documentation":"<p>Download speed in Mbps.</p>"
        }
      },
      "documentation":"<p>Describes bandwidth information.</p>"
    },
    "BgpOptions":{
      "type":"structure",
      "members":{
        "PeerAsn":{
          "shape":"Long",
          "documentation":"<p>The Peer ASN of the BGP.</p>"
        }
      },
      "documentation":"<p>Describes the BGP options.</p>"
    },
    "Boolean":{"type":"boolean"},
    "ChangeAction":{
      "type":"string",
      "enum":[
        "ADD",
        "MODIFY",
        "REMOVE"
      ]
    },
    "ChangeSetState":{
      "type":"string",
      "enum":[
        "PENDING_GENERATION",
        "FAILED_GENERATION",
        "READY_TO_EXECUTE",
        "EXECUTING",
        "EXECUTION_SUCCEEDED",
        "OUT_OF_DATE"
      ]
    },
    "ChangeStatus":{
      "type":"string",
      "enum":[
        "NOT_STARTED",
        "IN_PROGRESS",
        "COMPLETE",
        "FAILED"
      ]
    },
    "ChangeType":{
      "type":"string",
      "enum":[
        "CORE_NETWORK_SEGMENT",
        "NETWORK_FUNCTION_GROUP",
        "CORE_NETWORK_EDGE",
        "ATTACHMENT_MAPPING",
        "ATTACHMENT_ROUTE_PROPAGATION",
        "ATTACHMENT_ROUTE_STATIC",
        "CORE_NETWORK_CONFIGURATION",
        "SEGMENTS_CONFIGURATION",
        "SEGMENT_ACTIONS_CONFIGURATION",
        "ATTACHMENT_POLICIES_CONFIGURATION"
      ]
    },
    "ClientToken":{
      "type":"string",
      "max":256,
      "min":0,
      "pattern":"[\\s\\S]*"
    },
    "ConflictException":{
      "type":"structure",
      "required":[
        "Message",
        "ResourceId",
        "ResourceType"
      ],
      "members":{
        "Message":{"shape":"ServerSideString"},
        "ResourceId":{
          "shape":"ServerSideString",
          "documentation":"<p>The ID of the resource.</p>"
        },
        "ResourceType":{
          "shape":"ServerSideString",
          "documentation":"<p>The resource type.</p>"
        }
      },
      "documentation":"<p>There was a conflict processing the request. Updating or deleting the resource can cause an inconsistent state.</p>",
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "ConnectAttachment":{
      "type":"structure",
      "members":{
        "Attachment":{
          "shape":"Attachment",
          "documentation":"<p>The attachment details.</p>"
        },
        "TransportAttachmentId":{
          "shape":"AttachmentId",
          "documentation":"<p>The ID of the transport attachment.</p>"
        },
        "Options":{
          "shape":"ConnectAttachmentOptions",
          "documentation":"<p>Options for connecting an attachment.</p>"
        }
      },
      "documentation":"<p>Describes a core network Connect attachment.</p>"
    },
    "ConnectAttachmentOptions":{
      "type":"structure",
      "members":{
        "Protocol":{
          "shape":"TunnelProtocol",
          "documentation":"<p>The protocol used for the attachment connection.</p>"
        }
      },
      "documentation":"<p>Describes a core network Connect attachment options.</p>"
    },
    "ConnectPeer":{
      "type":"structure",
      "members":{
        "CoreNetworkId":{
          "shape":"CoreNetworkId",
          "documentation":"<p>The ID of a core network.</p>"
        },
        "ConnectAttachmentId":{
          "shape":"AttachmentId",
          "documentation":"<p>The ID of the attachment to connect.</p>"
        },
        "ConnectPeerId":{
          "shape":"ConnectPeerId",
          "documentation":"<p>The ID of the Connect peer.</p>"
        },
        "EdgeLocation":{
          "shape":"ExternalRegionCode",
          "documentation":"<p>The Connect peer Regions where edges are located.</p>"
        },
        "State":{
          "shape":"ConnectPeerState",
          "documentation":"<p>The state of the Connect peer.</p>"
        },
        "CreatedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when the Connect peer was created.</p>"
        },
        "Configuration":{
          "shape":"ConnectPeerConfiguration",
          "documentation":"<p>The configuration of the Connect peer.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The list of key-value tags associated with the Connect peer.</p>"
        },
        "SubnetArn":{
          "shape":"SubnetArn",
          "documentation":"<p>The subnet ARN for the Connect peer. This only applies only when the protocol is NO_ENCAP.</p>"
        },
        "LastModificationErrors":{
          "shape":"ConnectPeerErrorList",
          "documentation":"<p>Describes the error associated with the attachment request.</p>"
        }
      },
      "documentation":"<p>Describes a core network Connect peer.</p>"
    },
    "ConnectPeerAssociation":{
      "type":"structure",
      "members":{
        "ConnectPeerId":{
          "shape":"ConnectPeerId",
          "documentation":"<p>The ID of the Connect peer.</p>"
        },
        "GlobalNetworkId":{
          "shape":"GlobalNetworkId",
          "documentation":"<p>The ID of the global network.</p>"
        },
        "DeviceId":{
          "shape":"DeviceId",
          "documentation":"<p>The ID of the device to connect to.</p>"
        },
        "LinkId":{
          "shape":"LinkId",
          "documentation":"<p>The ID of the link.</p>"
        },
        "State":{
          "shape":"ConnectPeerAssociationState",
          "documentation":"<p>The state of the Connect peer association.</p>"
        }
      },
      "documentation":"<p>Describes a core network Connect peer association.</p>"
    },
    "ConnectPeerAssociationList":{
      "type":"list",
      "member":{"shape":"ConnectPeerAssociation"}
    },
    "ConnectPeerAssociationState":{
      "type":"string",
      "enum":[
        "PENDING",
        "AVAILABLE",
        "DELETING",
        "DELETED"
      ]
    },
    "ConnectPeerBgpConfiguration":{
      "type":"structure",
      "members":{
        "CoreNetworkAsn":{
          "shape":"Long",
          "documentation":"<p>The ASN of the Coret Network.</p>"
        },
        "PeerAsn":{
          "shape":"Long",
          "documentation":"<p>The ASN of the Connect peer.</p>"
        },
        "CoreNetworkAddress":{
          "shape":"IPAddress",
          "documentation":"<p>The address of a core network.</p>"
        },
        "PeerAddress":{
          "shape":"IPAddress",
          "documentation":"<p>The address of a core network Connect peer.</p>"
        }
      },
      "documentation":"<p>Describes a core network BGP configuration.</p>"
    },
    "ConnectPeerBgpConfigurationList":{
      "type":"list",
      "member":{"shape":"ConnectPeerBgpConfiguration"}
    },
    "ConnectPeerConfiguration":{
      "type":"structure",
      "members":{
        "CoreNetworkAddress":{
          "shape":"IPAddress",
          "documentation":"<p>The IP address of a core network.</p>"
        },
        "PeerAddress":{
          "shape":"IPAddress",
          "documentation":"<p>The IP address of the Connect peer.</p>"
        },
        "InsideCidrBlocks":{
          "shape":"ConstrainedStringList",
          "documentation":"<p>The inside IP addresses used for a Connect peer configuration.</p>"
        },
        "Protocol":{
          "shape":"TunnelProtocol",
          "documentation":"<p>The protocol used for a Connect peer configuration.</p>"
        },
        "BgpConfigurations":{
          "shape":"ConnectPeerBgpConfigurationList",
          "documentation":"<p>The Connect peer BGP configurations.</p>"
        }
      },
      "documentation":"<p>Describes a core network Connect peer configuration.</p>"
    },
    "ConnectPeerError":{
      "type":"structure",
      "members":{
        "Code":{
          "shape":"ConnectPeerErrorCode",
          "documentation":"<p>The error code for the Connect peer request.</p>"
        },
        "Message":{
          "shape":"ServerSideString",
          "documentation":"<p>The message associated with the error <code>code</code>.</p>"
        },
        "ResourceArn":{
          "shape":"ResourceArn",
          "documentation":"<p>The ARN of the requested Connect peer resource.</p>"
        },
        "RequestId":{
          "shape":"ServerSideString",
          "documentation":"<p>The ID of the Connect peer request.</p>"
        }
      },
      "documentation":"<p>Describes an error associated with a Connect peer request</p>"
    },
    "ConnectPeerErrorCode":{
      "type":"string",
      "enum":[
        "EDGE_LOCATION_NO_FREE_IPS",
        "EDGE_LOCATION_PEER_DUPLICATE",
        "SUBNET_NOT_FOUND",
        "IP_OUTSIDE_SUBNET_CIDR_RANGE",
        "INVALID_INSIDE_CIDR_BLOCK",
        "NO_ASSOCIATED_CIDR_BLOCK"
      ]
    },
    "ConnectPeerErrorList":{
      "type":"list",
      "member":{"shape":"ConnectPeerError"},
      "max":20,
      "min":0
    },
    "ConnectPeerId":{
      "type":"string",
      "max":50,
      "min":0,
      "pattern":"^connect-peer-([0-9a-f]{8,17})$"
    },
    "ConnectPeerIdList":{
      "type":"list",
      "member":{"shape":"ConnectPeerId"}
    },
    "ConnectPeerState":{
      "type":"string",
      "enum":[
        "CREATING",
        "FAILED",
        "AVAILABLE",
        "DELETING"
      ]
    },
    "ConnectPeerSummary":{
      "type":"structure",
      "members":{
        "CoreNetworkId":{
          "shape":"CoreNetworkId",
          "documentation":"<p>The ID of a core network.</p>"
        },
        "ConnectAttachmentId":{
          "shape":"AttachmentId",
          "documentation":"<p>The ID of a Connect peer attachment.</p>"
        },
        "ConnectPeerId":{
          "shape":"ConnectPeerId",
          "documentation":"<p>The ID of a Connect peer.</p>"
        },
        "EdgeLocation":{
          "shape":"ExternalRegionCode",
          "documentation":"<p>The Region where the edge is located.</p>"
        },
        "ConnectPeerState":{
          "shape":"ConnectPeerState",
          "documentation":"<p>The state of a Connect peer.</p>"
        },
        "CreatedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when a Connect peer was created.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The list of key-value tags associated with the Connect peer summary.</p>"
        },
        "SubnetArn":{
          "shape":"SubnetArn",
          "documentation":"<p>The subnet ARN for the Connect peer summary.</p>"
        }
      },
      "documentation":"<p>Summary description of a Connect peer.</p>"
    },
    "ConnectPeerSummaryList":{
      "type":"list",
      "member":{"shape":"ConnectPeerSummary"}
    },
    "Connection":{
      "type":"structure",
      "members":{
        "ConnectionId":{
          "shape":"ConnectionId",
          "documentation":"<p>The ID of the connection.</p>"
        },
        "ConnectionArn":{
          "shape":"ConnectionArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the connection.</p>"
        },
        "GlobalNetworkId":{
          "shape":"GlobalNetworkId",
          "documentation":"<p>The ID of the global network.</p>"
        },
        "DeviceId":{
          "shape":"DeviceId",
          "documentation":"<p>The ID of the first device in the connection.</p>"
        },
        "ConnectedDeviceId":{
          "shape":"DeviceId",
          "documentation":"<p>The ID of the second device in the connection.</p>"
        },
        "LinkId":{
          "shape":"LinkId",
          "documentation":"<p>The ID of the link for the first device in the connection.</p>"
        },
        "ConnectedLinkId":{
          "shape":"LinkId",
          "documentation":"<p>The ID of the link for the second device in the connection.</p>"
        },
        "Description":{
          "shape":"ConstrainedString",
          "documentation":"<p>The description of the connection.</p>"
        },
        "CreatedAt":{
          "shape":"DateTime",
          "documentation":"<p>The date and time that the connection was created.</p>"
        },
        "State":{
          "shape":"ConnectionState",
          "documentation":"<p>The state of the connection.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The tags for the connection.</p>"
        }
      },
      "documentation":"<p>Describes a connection.</p>"
    },
    "ConnectionArn":{
      "type":"string",
      "max":500,
      "min":0,
      "pattern":"[\\s\\S]*"
    },
    "ConnectionHealth":{
      "type":"structure",
      "members":{
        "Type":{
          "shape":"ConnectionType",
          "documentation":"<p>The connection type.</p>"
        },
        "Status":{
          "shape":"ConnectionStatus",
          "documentation":"<p>The connection status.</p>"
        },
        "Timestamp":{
          "shape":"DateTime",
          "documentation":"<p>The time the status was last updated.</p>"
        }
      },
      "documentation":"<p>Describes connection health.</p>"
    },
    "ConnectionId":{
      "type":"string",
      "max":50,
      "min":0,
      "pattern":"[\\s\\S]*"
    },
    "ConnectionIdList":{
      "type":"list",
      "member":{"shape":"ConnectionId"}
    },
    "ConnectionList":{
      "type":"list",
      "member":{"shape":"Connection"}
    },
    "ConnectionState":{
      "type":"string",
      "enum":[
        "PENDING",
        "AVAILABLE",
        "DELETING",
        "UPDATING"
      ]
    },
    "ConnectionStatus":{
      "type":"string",
      "enum":[
        "UP",
        "DOWN"
      ]
    },
    "ConnectionType":{
      "type":"string",
      "enum":[
        "BGP",
        "IPSEC"
      ]
    },
    "ConstrainedString":{
      "type":"string",
      "max":256,
      "min":0,
      "pattern":"[\\s\\S]*"
    },
    "ConstrainedStringList":{
      "type":"list",
      "member":{"shape":"ConstrainedString"}
    },
    "CoreNetwork":{
      "type":"structure",
      "members":{
        "GlobalNetworkId":{
          "shape":"GlobalNetworkId",
          "documentation":"<p>The ID of the global network that your core network is a part of. </p>"
        },
        "CoreNetworkId":{
          "shape":"CoreNetworkId",
          "documentation":"<p>The ID of a core network.</p>"
        },
        "CoreNetworkArn":{
          "shape":"CoreNetworkArn",
          "documentation":"<p>The ARN of a core network.</p>"
        },
        "Description":{
          "shape":"ConstrainedString",
          "documentation":"<p>The description of a core network.</p>"
        },
        "CreatedAt":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp when a core network was created.</p>"
        },
        "State":{
          "shape":"CoreNetworkState",
          "documentation":"<p>The current state of a core network.</p>"
        },
        "Segments":{
          "shape":"CoreNetworkSegmentList",
          "documentation":"<p>The segments within a core network.</p>"
        },
        "NetworkFunctionGroups":{
          "shape":"CoreNetworkNetworkFunctionGroupList",
          "documentation":"<p>The network function groups associated with a core network.</p>"
        },
        "Edges":{
          "shape":"CoreNetworkEdgeList",
          "documentation":"<p>The edges within a core network.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The list of key-value tags associated with a core network.</p>"
        }
      },
      "documentation":"<p>Describes a core network.</p>"
    },
    "CoreNetworkArn":{
      "type":"string",
      "max":500,
      "min":0,
      "pattern":"[\\s\\S]*"
    },
    "CoreNetworkChange":{
      "type":"structure",
      "members":{
        "Type":{
          "shape":"ChangeType",
          "documentation":"<p>The type of change.</p>"
        },
        "Action":{
          "shape":"ChangeAction",
          "documentation":"<p>The action to take for a core network.</p>"
        },
        "Identifier":{
          "shape":"ConstrainedString",
          "documentation":"<p>The resource identifier.</p>"
        },
        "PreviousValues":{
          "shape":"CoreNetworkChangeValues",
          "documentation":"<p>The previous values for a core network.</p>"
        },
        "NewValues":{
          "shape":"CoreNetworkChangeValues",
          "documentation":"<p>The new value for a core network</p>"
        },
        "IdentifierPath":{
          "shape":"ConstrainedString",
          "documentation":"<p>Uniquely identifies the path for a change within the changeset. For example, the <code>IdentifierPath</code> for a core network segment change might be <code>\"CORE_NETWORK_SEGMENT/us-east-1/devsegment\"</code>.</p>"
        }
      },
      "documentation":"<p>Details describing a core network change.</p>"
    },
    "CoreNetworkChangeEvent":{
      "type":"structure",
      "members":{
        "Type":{
          "shape":"ChangeType",
          "documentation":"<p>Describes the type of change event. </p>"
        },
        "Action":{
          "shape":"ChangeAction",
          "documentation":"<p>The action taken for the change event.</p>"
        },
        "IdentifierPath":{
          "shape":"ConstrainedString",
          "documentation":"<p>Uniquely identifies the path for a change within the changeset. For example, the <code>IdentifierPath</code> for a core network segment change might be <code>\"CORE_NETWORK_SEGMENT/us-east-1/devsegment\"</code>.</p>"
        },
        "EventTime":{
          "shape":"DateTime",
          "documentation":"<p>The timestamp for an event change in status.</p>"
        },
        "Status":{
          "shape":"ChangeStatus",
          "documentation":"<p>The status of the core network change event.</p>"
        },
        "Values":{
          "shape":"CoreNetworkChangeEventValues",
          "documentation":"<p>Details of the change event.</p>"
        }
      },
      "documentation":"<p>Describes a core network change event. This can be a change to a segment, attachment, route, etc.</p>"
    },
    "CoreNetworkChangeEventList":{
      "type":"list",
      "member":{"shape":"CoreNetworkChangeEvent"}
    },
    "CoreNetworkChangeEventValues":{
      "type":"structure",
      "members":{
        "EdgeLocation":{
          "shape":"ExternalRegionCode",
          "documentation":"<p>The edge location for the core network change event.</p>"
        },
        "SegmentName":{
          "shape":"ConstrainedString",
          "documentation":"<p>The segment name if the change event is associated with a segment.</p>"
        },
        "NetworkFunctionGroupName":{
          "shape":"ConstrainedString",
          "documentation":"<p>The changed network function group name.</p>"
        },
        "AttachmentId":{
          "shape":"AttachmentId",
          "documentation":"<p>The ID of the attachment if the change event is associated with an attachment. </p>"
        },
        "Cidr":{
          "shape":"ConstrainedString",
          "documentation":"<p>For a <code>STATIC_ROUTE</code> event, this is the IP address.</p>"
        }
      },
      "documentation":"<p>Describes a core network change event.</p>"
    },
    "CoreNetworkChangeList":{
      "type":"list",
      "member":{"shape":"CoreNetworkChange"}
    },
    "CoreNetworkChangeValues":{
      "type":"structure",
      "members":{
        "SegmentName":{
          "shape":"ConstrainedString",
          "documentation":"<p>The names of the segments in a core network.</p>"
        },
        "NetworkFunctionGroupName":{
          "shape":"ConstrainedString",
          "documentation":"<p>The network function group name if the change event is associated with a network function group.</p>"
        },
        "EdgeLocations":{
          "shape":"ExternalRegionCodeList",
          "documentation":"<p>The Regions where edges are located in a core network. </p>"
        },
        "Asn":{
          "shape":"Long",
          "documentation":"<p>The ASN of a core network.</p>"
        },
        "Cidr":{
          "shape":"ConstrainedString",
          "documentation":"<p>The IP addresses used for a core network.</p>"
        },
        "DestinationIdentifier":{
          "shape":"ConstrainedString",
          "documentation":"<p>The ID of the destination.</p>"
        },
        "InsideCidrBlocks":{
          "shape":"ConstrainedStringList",
          "documentation":"<p>The inside IP addresses used for core network change values.</p>"
        },
        "SharedSegments":{
          "shape":"ConstrainedStringList",
          "documentation":"<p>The shared segments for a core network change value. </p>"
        },
        "ServiceInsertionActions":{
          "shape":"ServiceInsertionActionList",
          "documentation":"<p>Describes the service insertion action. </p>"
        },
        "VpnEcmpSupport":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether Equal Cost Multipath (ECMP) is enabled for the core network.</p>"
        },
        "DnsSupport":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether public DNS support is supported. The default is <code>true</code>. </p>"
        },
        "SecurityGroupReferencingSupport":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether security group referencing is enabled for the core network.</p>"
        }
      },
      "documentation":"<p>Describes a core network change.</p>"
    },
    "CoreNetworkEdge":{
      "type":"structure",
      "members":{
        "EdgeLocation":{
          "shape":"ExternalRegionCode",
          "documentation":"<p>The Region where a core network edge is located.</p>"
        },
        "Asn":{
          "shape":"Long",
          "documentation":"<p>The ASN of a core network edge.</p>"
        },
        "InsideCidrBlocks":{
          "shape":"ConstrainedStringList",
          "documentation":"<p>The inside IP addresses used for core network edges.</p>"
        }
      },
      "documentation":"<p>Describes a core network edge.</p>"
    },
    "CoreNetworkEdgeList":{
      "type":"list",
      "member":{"shape":"CoreNetworkEdge"}
    },
    "CoreNetworkId":{
      "type":"string",
      "max":50,
      "min":0,
      "pattern":"^core-network-([0-9a-f]{8,17})$"
    },
    "CoreNetworkNetworkFunctionGroup":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"ConstrainedString",
          "documentation":"<p>The name of the network function group.</p>"
        },
        "EdgeLocations":{
          "shape":"ExternalRegionCodeList",
          "documentation":"<p>The core network edge locations.</p>"
        },
        "Segments":{
          "shape":"ServiceInsertionSegments",
          "documentation":"<p>The segments associated with the network function group.</p>"
        }
      },
      "documentation":"<p>Describes a network function group.</p>"
    },
    "CoreNetworkNetworkFunctionGroupIdentifier":{
      "type":"structure",
      "members":{
        "CoreNetworkId":{
          "shape":"CoreNetworkId",
          "documentation":"<p>The ID of the core network.</p>"
        },
        "NetworkFunctionGroupName":{
          "shape":"ConstrainedString",
          "documentation":"<p>The network function group name.</p>"
        },
        "EdgeLocation":{
          "shape":"ExternalRegionCode",
          "documentation":"<p>The location for the core network edge.</p>"
        }
      },
      "documentation":"<p>Describes a core network </p>"
    },
    "CoreNetworkNetworkFunctionGroupList":{
      "type":"list",
      "member":{"shape":"CoreNetworkNetworkFunctionGroup"}
    },
    "CoreNetworkPolicy":{
      "type":"structure",
      "members":{
        "CoreNetworkId":{
          "shape":"CoreNetworkId",
          "documentation":"<p>The ID of a core network.</p>"
        },
        "PolicyVersionId":{
          "shape":"Integer",
[...]
