<header class="modal-header">
    <h1>Generated HTML</h1>
</header>
<a class="close icon-x" href="" title="Close" {{action "closeModal"}}><span class="hidden">Close</span></a>

<div class="modal-body">
    {{textarea value=generatedHtml rows="6"}}
</div>
