<div class="no-posts-box">
    <div class="no-posts">
        <h3>You haven't added any Tags yet!</h3>
        {{#link-to "settings.tags.new"}}<button type="button" class="btn btn-green btn-lg" title="New Tag">Add a Tag</button>{{/link-to}}
    </div>
</div>
