<div class="modal-body modal-preview-email-content gh-pe-mobile-container gh-post-preview-container h-auto overflow-auto {{unless @skipAnimation "fade-in"}}">
    <div class="gh-pe-mobile-bezel">
        <div class="gh-pe-mobile-screen">
            <iframe class="gh-post-preview-iframe" src={{@post.previewUrl}} title="Mobile browser post preview"></iframe>
        </div>
    </div>
</div>