{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-05-23",
    "endpointPrefix":"kinesisanalytics",
    "jsonVersion":"1.1",
    "protocol":"json",
    "protocols":["json"],
    "serviceAbbreviation":"Kinesis Analytics V2",
    "serviceFullName":"Amazon Kinesis Analytics",
    "serviceId":"Kinesis Analytics V2",
    "signatureVersion":"v4",
    "signingName":"kinesisanalytics",
    "targetPrefix":"KinesisAnalytics_20180523",
    "uid":"kinesisanalyticsv2-2018-05-23",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AddApplicationCloudWatchLoggingOption":{
      "name":"AddApplicationCloudWatchLoggingOption",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddApplicationCloudWatchLoggingOptionRequest"},
      "output":{"shape":"AddApplicationCloudWatchLoggingOptionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidApplicationConfigurationException"}
      ],
      "documentation":"<p>Adds an Amazon CloudWatch log stream to monitor application configuration errors.</p>"
    },
    "AddApplicationInput":{
      "name":"AddApplicationInput",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddApplicationInputRequest"},
      "output":{"shape":"AddApplicationInputResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"CodeValidationException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p> Adds a streaming source to your SQL-based Kinesis Data Analytics application. </p> <p>You can add a streaming source when you create an application, or you can use this operation to add a streaming source after you create an application. For more information, see <a>CreateApplication</a>.</p> <p>Any configuration update, including adding a streaming source using this operation, results in a new version of the application. You can use the <a>DescribeApplication</a> operation to find the current application version. </p>"
    },
    "AddApplicationInputProcessingConfiguration":{
      "name":"AddApplicationInputProcessingConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddApplicationInputProcessingConfigurationRequest"},
      "output":{"shape":"AddApplicationInputProcessingConfigurationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Adds an <a>InputProcessingConfiguration</a> to a SQL-based Kinesis Data Analytics application. An input processor pre-processes records on the input stream before the application's SQL code executes. Currently, the only input processor available is <a href=\"https://docs.aws.amazon.com/lambda/\">Amazon Lambda</a>.</p>"
    },
    "AddApplicationOutput":{
      "name":"AddApplicationOutput",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddApplicationOutputRequest"},
      "output":{"shape":"AddApplicationOutputResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Adds an external destination to your SQL-based Kinesis Data Analytics application.</p> <p>If you want Kinesis Data Analytics to deliver data from an in-application stream within your application to an external destination (such as an Kinesis data stream, a Kinesis Data Firehose delivery stream, or an Amazon Lambda function), you add the relevant configuration to your application using this operation. You can configure one or more outputs for your application. Each output configuration maps an in-application stream and an external destination.</p> <p> You can use one of the output configurations to deliver data from your in-application error stream to an external destination so that you can analyze the errors. </p> <p> Any configuration update, including adding a streaming source using this operation, results in a new version of the application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>"
    },
    "AddApplicationReferenceDataSource":{
      "name":"AddApplicationReferenceDataSource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddApplicationReferenceDataSourceRequest"},
      "output":{"shape":"AddApplicationReferenceDataSourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Adds a reference data source to an existing SQL-based Kinesis Data Analytics application.</p> <p>Kinesis Data Analytics reads reference data (that is, an Amazon S3 object) and creates an in-application table within your application. In the request, you provide the source (S3 bucket name and object key name), name of the in-application table to create, and the necessary mapping information that describes how data in an Amazon S3 object maps to columns in the resulting in-application table.</p>"
    },
    "AddApplicationVpcConfiguration":{
      "name":"AddApplicationVpcConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddApplicationVpcConfigurationRequest"},
      "output":{"shape":"AddApplicationVpcConfigurationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidApplicationConfigurationException"}
      ],
      "documentation":"<p>Adds a Virtual Private Cloud (VPC) configuration to the application. Applications can use VPCs to store and access resources securely.</p> <p>Note the following about VPC configurations for Managed Service for Apache Flink applications:</p> <ul> <li> <p>VPC configurations are not supported for SQL applications.</p> </li> <li> <p>When a VPC is added to a Managed Service for Apache Flink application, the application can no longer be accessed from the Internet directly. To enable Internet access to the application, add an Internet gateway to your VPC.</p> </li> </ul>"
    },
    "CreateApplication":{
      "name":"CreateApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateApplicationRequest"},
      "output":{"shape":"CreateApplicationResponse"},
      "errors":[
        {"shape":"CodeValidationException"},
        {"shape":"ResourceInUseException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyTagsException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Creates a Managed Service for Apache Flink application. For information about creating a Managed Service for Apache Flink application, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/java/getting-started.html\">Creating an Application</a>.</p>"
    },
    "CreateApplicationPresignedUrl":{
      "name":"CreateApplicationPresignedUrl",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateApplicationPresignedUrlRequest"},
      "output":{"shape":"CreateApplicationPresignedUrlResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidArgumentException"}
      ],
      "documentation":"<p>Creates and returns a URL that you can use to connect to an application's extension.</p> <p>The IAM role or user used to call this API defines the permissions to access the extension. After the presigned URL is created, no additional permission is required to access this URL. IAM authorization policies for this API are also enforced for every HTTP request that attempts to connect to the extension. </p> <p>You control the amount of time that the URL will be valid using the <code>SessionExpirationDurationInSeconds</code> parameter. If you do not provide this parameter, the returned URL is valid for twelve hours.</p> <note> <p>The URL that you get from a call to CreateApplicationPresignedUrl must be used within 3 minutes to be valid. If you first try to use the URL after the 3-minute limit expires, the service returns an HTTP 403 Forbidden error.</p> </note>"
    },
    "CreateApplicationSnapshot":{
      "name":"CreateApplicationSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateApplicationSnapshotRequest"},
      "output":{"shape":"CreateApplicationSnapshotResponse"},
      "errors":[
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidApplicationConfigurationException"}
      ],
      "documentation":"<p>Creates a snapshot of the application's state data.</p>"
    },
    "DeleteApplication":{
      "name":"DeleteApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteApplicationRequest"},
      "output":{"shape":"DeleteApplicationResponse"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidApplicationConfigurationException"}
      ],
      "documentation":"<p>Deletes the specified application. Managed Service for Apache Flink halts application execution and deletes the application.</p>"
    },
    "DeleteApplicationCloudWatchLoggingOption":{
      "name":"DeleteApplicationCloudWatchLoggingOption",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteApplicationCloudWatchLoggingOptionRequest"},
      "output":{"shape":"DeleteApplicationCloudWatchLoggingOptionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidApplicationConfigurationException"}
      ],
      "documentation":"<p>Deletes an Amazon CloudWatch log stream from an SQL-based Kinesis Data Analytics application. </p>"
    },
    "DeleteApplicationInputProcessingConfiguration":{
      "name":"DeleteApplicationInputProcessingConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteApplicationInputProcessingConfigurationRequest"},
      "output":{"shape":"DeleteApplicationInputProcessingConfigurationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Deletes an <a>InputProcessingConfiguration</a> from an input.</p>"
    },
    "DeleteApplicationOutput":{
      "name":"DeleteApplicationOutput",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteApplicationOutputRequest"},
      "output":{"shape":"DeleteApplicationOutputResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Deletes the output destination configuration from your SQL-based Kinesis Data Analytics application's configuration. Kinesis Data Analytics will no longer write data from the corresponding in-application stream to the external output destination.</p>"
    },
    "DeleteApplicationReferenceDataSource":{
      "name":"DeleteApplicationReferenceDataSource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteApplicationReferenceDataSourceRequest"},
      "output":{"shape":"DeleteApplicationReferenceDataSourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Deletes a reference data source configuration from the specified SQL-based Kinesis Data Analytics application's configuration.</p> <p>If the application is running, Kinesis Data Analytics immediately removes the in-application table that you created using the <a>AddApplicationReferenceDataSource</a> operation. </p>"
    },
    "DeleteApplicationSnapshot":{
      "name":"DeleteApplicationSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteApplicationSnapshotRequest"},
      "output":{"shape":"DeleteApplicationSnapshotResponse"},
      "errors":[
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Deletes a snapshot of application state.</p>"
    },
    "DeleteApplicationVpcConfiguration":{
      "name":"DeleteApplicationVpcConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteApplicationVpcConfigurationRequest"},
      "output":{"shape":"DeleteApplicationVpcConfigurationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidApplicationConfigurationException"}
      ],
      "documentation":"<p>Removes a VPC configuration from a Managed Service for Apache Flink application.</p>"
    },
    "DescribeApplication":{
      "name":"DescribeApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeApplicationRequest"},
      "output":{"shape":"DescribeApplicationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Returns information about a specific Managed Service for Apache Flink application.</p> <p>If you want to retrieve a list of all applications in your account, use the <a>ListApplications</a> operation.</p>"
    },
    "DescribeApplicationOperation":{
      "name":"DescribeApplicationOperation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeApplicationOperationRequest"},
      "output":{"shape":"DescribeApplicationOperationResponse"},
      "errors":[
        {"shape":"InvalidArgumentException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Provides a detailed description of a specified application operation. To see a list of all the operations of an application, invoke the <a>ListApplicationOperations</a> operation.</p> <note> <p>This operation is supported only for Managed Service for Apache Flink.</p> </note>"
    },
    "DescribeApplicationSnapshot":{
      "name":"DescribeApplicationSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeApplicationSnapshotRequest"},
      "output":{"shape":"DescribeApplicationSnapshotResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Returns information about a snapshot of application state data.</p>"
    },
    "DescribeApplicationVersion":{
      "name":"DescribeApplicationVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeApplicationVersionRequest"},
      "output":{"shape":"DescribeApplicationVersionResponse"},
      "errors":[
        {"shape":"InvalidArgumentException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Provides a detailed description of a specified version of the application. To see a list of all the versions of an application, invoke the <a>ListApplicationVersions</a> operation.</p> <note> <p>This operation is supported only for Managed Service for Apache Flink.</p> </note>"
    },
    "DiscoverInputSchema":{
      "name":"DiscoverInputSchema",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DiscoverInputSchemaRequest"},
      "output":{"shape":"DiscoverInputSchemaResponse"},
      "errors":[
        {"shape":"InvalidArgumentException"},
        {"shape":"UnableToDetectSchemaException"},
        {"shape":"ResourceProvisionedThroughputExceededException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Infers a schema for a SQL-based Kinesis Data Analytics application by evaluating sample records on the specified streaming source (Kinesis data stream or Kinesis Data Firehose delivery stream) or Amazon S3 object. In the response, the operation returns the inferred schema and also the sample records that the operation used to infer the schema.</p> <p> You can use the inferred schema when configuring a streaming source for your application. When you create an application using the Kinesis Data Analytics console, the console uses this operation to infer a schema and show it in the console user interface. </p>"
    },
    "ListApplicationOperations":{
      "name":"ListApplicationOperations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListApplicationOperationsRequest"},
      "output":{"shape":"ListApplicationOperationsResponse"},
      "errors":[
        {"shape":"InvalidArgumentException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Lists all the operations performed for the specified application such as UpdateApplication, StartApplication etc. The response also includes a summary of the operation.</p> <p>To get the complete description of a specific operation, invoke the <a>DescribeApplicationOperation</a> operation.</p> <note> <p>This operation is supported only for Managed Service for Apache Flink.</p> </note>"
    },
    "ListApplicationSnapshots":{
      "name":"ListApplicationSnapshots",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListApplicationSnapshotsRequest"},
      "output":{"shape":"ListApplicationSnapshotsResponse"},
      "errors":[
        {"shape":"InvalidArgumentException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Lists information about the current application snapshots.</p>"
    },
    "ListApplicationVersions":{
      "name":"ListApplicationVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListApplicationVersionsRequest"},
      "output":{"shape":"ListApplicationVersionsResponse"},
      "errors":[
        {"shape":"InvalidArgumentException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Lists all the versions for the specified application, including versions that were rolled back. The response also includes a summary of the configuration associated with each version.</p> <p>To get the complete description of a specific application version, invoke the <a>DescribeApplicationVersion</a> operation.</p> <note> <p>This operation is supported only for Managed Service for Apache Flink.</p> </note>"
    },
    "ListApplications":{
      "name":"ListApplications",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListApplicationsRequest"},
      "output":{"shape":"ListApplicationsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Returns a list of Managed Service for Apache Flink applications in your account. For each application, the response includes the application name, Amazon Resource Name (ARN), and status. </p> <p>If you want detailed information about a specific application, use <a>DescribeApplication</a>.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Retrieves the list of key-value tags assigned to the application. For more information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/java/how-tagging.html\">Using Tagging</a>.</p>"
    },
    "RollbackApplication":{
      "name":"RollbackApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RollbackApplicationRequest"},
      "output":{"shape":"RollbackApplicationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Reverts the application to the previous running version. You can roll back an application if you suspect it is stuck in a transient status or in the running status. </p> <p>You can roll back an application only if it is in the <code>UPDATING</code>, <code>AUTOSCALING</code>, or <code>RUNNING</code> statuses.</p> <p>When you rollback an application, it loads state data from the last successful snapshot. If the application has no snapshots, Managed Service for Apache Flink rejects the rollback request.</p>"
    },
    "StartApplication":{
      "name":"StartApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartApplicationRequest"},
      "output":{"shape":"StartApplicationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"InvalidApplicationConfigurationException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Starts the specified Managed Service for Apache Flink application. After creating an application, you must exclusively call this operation to start your application.</p>"
    },
    "StopApplication":{
      "name":"StopApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopApplicationRequest"},
      "output":{"shape":"StopApplicationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidApplicationConfigurationException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Stops the application from processing data. You can stop an application only if it is in the running status, unless you set the <code>Force</code> parameter to <code>true</code>.</p> <p>You can use the <a>DescribeApplication</a> operation to find the application status. </p> <p>Managed Service for Apache Flink takes a snapshot when the application is stopped, unless <code>Force</code> is set to <code>true</code>.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"TooManyTagsException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Adds one or more key-value tags to a Managed Service for Apache Flink application. Note that the maximum number of application tags includes system tags. The maximum number of user-defined application tags is 50. For more information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/java/how-tagging.html\">Using Tagging</a>.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"TooManyTagsException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Removes one or more tags from a Managed Service for Apache Flink application. For more information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/java/how-tagging.html\">Using Tagging</a>.</p>"
    },
    "UpdateApplication":{
      "name":"UpdateApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateApplicationRequest"},
      "output":{"shape":"UpdateApplicationResponse"},
      "errors":[
        {"shape":"CodeValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidApplicationConfigurationException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Updates an existing Managed Service for Apache Flink application. Using this operation, you can update application code, input configuration, and output configuration. </p> <p>Managed Service for Apache Flink updates the <code>ApplicationVersionId</code> each time you update your application. </p>"
    },
    "UpdateApplicationMaintenanceConfiguration":{
      "name":"UpdateApplicationMaintenanceConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateApplicationMaintenanceConfigurationRequest"},
      "output":{"shape":"UpdateApplicationMaintenanceConfigurationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Updates the maintenance configuration of the Managed Service for Apache Flink application. </p> <p>You can invoke this operation on an application that is in one of the two following states: <code>READY</code> or <code>RUNNING</code>. If you invoke it when the application is in a state other than these two states, it throws a <code>ResourceInUseException</code>. The service makes use of the updated configuration the next time it schedules maintenance for the application. If you invoke this operation after the service schedules maintenance, the service will apply the configuration update the next time it schedules maintenance for the application. This means that you might not see the maintenance configuration update applied to the maintenance process that follows a successful invocation of this operation, but to the following maintenance process instead.</p> <p>To see the current maintenance configuration of your application, invoke the <a>DescribeApplication</a> operation.</p> <p>For information about application maintenance, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/java/maintenance.html\">Managed Service for Apache Flink for Apache Flink Maintenance</a>.</p> <note> <p>This operation is supported only for Managed Service for Apache Flink.</p> </note>"
    }
  },
  "shapes":{
    "AddApplicationCloudWatchLoggingOptionRequest":{
      "type":"structure",
      "required":[
        "ApplicationName",
        "CloudWatchLoggingOption"
      ],
      "members":{
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The Kinesis Data Analytics application name.</p>"
        },
        "CurrentApplicationVersionId":{
          "shape":"ApplicationVersionId",
          "documentation":"<p>The version ID of the SQL-based Kinesis Data Analytics application. You must provide the <code>CurrentApplicationVersionId</code> or the <code>ConditionalToken</code>.You can retrieve the application version ID using <a>DescribeApplication</a>. For better concurrency support, use the <code>ConditionalToken</code> parameter instead of <code>CurrentApplicationVersionId</code>.</p>"
        },
        "CloudWatchLoggingOption":{
          "shape":"CloudWatchLoggingOption",
          "documentation":"<p>Provides the Amazon CloudWatch log stream Amazon Resource Name (ARN). </p>"
        },
        "ConditionalToken":{
          "shape":"ConditionalToken",
          "documentation":"<p>A value you use to implement strong concurrency for application updates. You must provide the <code>CurrentApplicationVersionId</code> or the <code>ConditionalToken</code>. You get the application's current <code>ConditionalToken</code> using <a>DescribeApplication</a>. For better concurrency support, use the <code>ConditionalToken</code> parameter instead of <code>CurrentApplicationVersionId</code>.</p>"
        }
      }
    },
    "AddApplicationCloudWatchLoggingOptionResponse":{
      "type":"structure",
      "members":{
        "ApplicationARN":{
          "shape":"ResourceARN",
          "documentation":"<p>The application's ARN.</p>"
        },
        "ApplicationVersionId":{
          "shape":"ApplicationVersionId",
          "documentation":"<p>The new version ID of the SQL-based Kinesis Data Analytics application. Kinesis Data Analytics updates the <code>ApplicationVersionId</code> each time you change the CloudWatch logging options. </p>"
        },
        "CloudWatchLoggingOptionDescriptions":{
          "shape":"CloudWatchLoggingOptionDescriptions",
          "documentation":"<p>The descriptions of the current CloudWatch logging options for the SQL-based Kinesis Data Analytics application.</p>"
        },
        "OperationId":{
          "shape":"OperationId",
          "documentation":"<p>The operation ID that can be used to track the request.</p>"
        }
      }
    },
    "AddApplicationInputProcessingConfigurationRequest":{
      "type":"structure",
      "required":[
        "ApplicationName",
        "CurrentApplicationVersionId",
        "InputId",
        "InputProcessingConfiguration"
      ],
      "members":{
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of the application to which you want to add the input processing configuration.</p>"
        },
        "CurrentApplicationVersionId":{
          "shape":"ApplicationVersionId",
          "documentation":"<p>The version of the application to which you want to add the input processing configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.</p>"
        },
        "InputId":{
          "shape":"Id",
          "documentation":"<p>The ID of the input configuration to add the input processing configuration to. You can get a list of the input IDs for an application using the <a>DescribeApplication</a> operation.</p>"
        },
        "InputProcessingConfiguration":{
          "shape":"InputProcessingConfiguration",
          "documentation":"<p>The <a>InputProcessingConfiguration</a> to add to the application.</p>"
        }
      }
    },
    "AddApplicationInputProcessingConfigurationResponse":{
      "type":"structure",
      "members":{
        "ApplicationARN":{
          "shape":"ResourceARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the application.</p>"
        },
        "ApplicationVersionId":{
          "shape":"ApplicationVersionId",
          "documentation":"<p>Provides the current application version. </p>"
        },
        "InputId":{
          "shape":"Id",
          "documentation":"<p>The input ID that is associated with the application input. This is the ID that Kinesis Data Analytics assigns to each input configuration that you add to your application.</p>"
        },
        "InputProcessingConfigurationDescription":{
          "shape":"InputProcessingConfigurationDescription",
          "documentation":"<p>The description of the preprocessor that executes on records in this input before the application's code is run.</p>"
        }
      }
    },
    "AddApplicationInputRequest":{
      "type":"structure",
      "required":[
        "ApplicationName",
        "CurrentApplicationVersionId",
        "Input"
      ],
      "members":{
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of your existing application to which you want to add the streaming source.</p>"
        },
        "CurrentApplicationVersionId":{
          "shape":"ApplicationVersionId",
          "documentation":"<p>The current version of your application. You must provide the <code>ApplicationVersionID</code> or the <code>ConditionalToken</code>.You can use the <a>DescribeApplication</a> operation to find the current application version.</p>"
        },
        "Input":{
          "shape":"Input",
          "documentation":"<p>The <a>Input</a> to add.</p>"
        }
      }
    },
    "AddApplicationInputResponse":{
      "type":"structure",
      "members":{
        "ApplicationARN":{
          "shape":"ResourceARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the application.</p>"
        },
        "ApplicationVersionId":{
          "shape":"ApplicationVersionId",
          "documentation":"<p>Provides the current application version.</p>"
        },
        "InputDescriptions":{
          "shape":"InputDescriptions",
          "documentation":"<p>Describes the application input configuration. </p>"
        }
      }
    },
    "AddApplicationOutputRequest":{
      "type":"structure",
      "required":[
        "ApplicationName",
        "CurrentApplicationVersionId",
        "Output"
      ],
      "members":{
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of the application to which you want to add the output configuration.</p>"
        },
        "CurrentApplicationVersionId":{
          "shape":"ApplicationVersionId",
          "documentation":"<p>The version of the application to which you want to add the output configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. </p>"
        },
        "Output":{
          "shape":"Output",
          "documentation":"<p>An array of objects, each describing one output configuration. In the output configuration, you specify the name of an in-application stream, a destination (that is, a Kinesis data stream, a Kinesis Data Firehose delivery stream, or an Amazon Lambda function), and record the formation to use when writing to the destination.</p>"
        }
      }
    },
    "AddApplicationOutputResponse":{
      "type":"structure",
      "members":{
        "ApplicationARN":{
          "shape":"ResourceARN",
          "documentation":"<p>The application Amazon Resource Name (ARN).</p>"
        },
        "ApplicationVersionId":{
          "shape":"ApplicationVersionId",
          "documentation":"<p>The updated application version ID. Kinesis Data Analytics increments this ID when the application is updated.</p>"
        },
        "OutputDescriptions":{
          "shape":"OutputDescriptions",
          "documentation":"<p>Describes the application output configuration. For more information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-output.html\">Configuring Application Output</a>. </p>"
        }
      }
    },
    "AddApplicationReferenceDataSourceRequest":{
      "type":"structure",
      "required":[
        "ApplicationName",
        "CurrentApplicationVersionId",
        "ReferenceDataSource"
      ],
      "members":{
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of an existing application.</p>"
        },
        "CurrentApplicationVersionId":{
          "shape":"ApplicationVersionId",
          "documentation":"<p>The version of the application for which you are adding the reference data source. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.</p>"
        },
        "ReferenceDataSource":{
          "shape":"ReferenceDataSource",
          "documentation":"<p>The reference data source can be an object in your Amazon S3 bucket. Kinesis Data Analytics reads the object and copies the data into the in-application table that is created. You provide an S3 bucket, object key name, and the resulting in-application table that is created. </p>"
        }
      }
    },
    "AddApplicationReferenceDataSourceResponse":{
      "type":"structure",
      "members":{
        "ApplicationARN":{
          "shape":"ResourceARN",
          "documentation":"<p>The application Amazon Resource Name (ARN).</p>"
        },
        "ApplicationVersionId":{
          "shape":"ApplicationVersionId",
          "documentation":"<p>The updated application version ID. Kinesis Data Analytics increments this ID when the application is updated.</p>"
        },
        "ReferenceDataSourceDescriptions":{
          "shape":"ReferenceDataSourceDescriptions",
          "documentation":"<p>Describes reference data sources configured for the application. </p>"
        }
      }
    },
    "AddApplicationVpcConfigurationRequest":{
      "type":"structure",
      "required":[
        "ApplicationName",
        "VpcConfiguration"
      ],
      "members":{
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of an existing application.</p>"
        },
        "CurrentApplicationVersionId":{
          "shape":"ApplicationVersionId",
          "documentation":"<p>The version of the application to which you want to add the VPC configuration. You must provide the <code>CurrentApplicationVersionId</code> or the <code>ConditionalToken</code>. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. For better concurrency support, use the <code>ConditionalToken</code> parameter instead of <code>CurrentApplicationVersionId</code>.</p>"
        },
        "VpcConfiguration":{
          "shape":"VpcConfiguration",
          "documentation":"<p>Description of the VPC to add to the application.</p>"
        },
        "ConditionalToken":{
          "shape":"ConditionalToken",
          "documentation":"<p>A value you use to implement strong concurrency for application updates. You must provide the <code>ApplicationVersionID</code> or the <code>ConditionalToken</code>. You get the application's current <code>ConditionalToken</code> using <a>DescribeApplication</a>. For better concurrency support, use the <code>ConditionalToken</code> parameter instead of <code>CurrentApplicationVersionId</code>.</p>"
        }
      }
    },
    "AddApplicationVpcConfigurationResponse":{
      "type":"structure",
      "members":{
        "ApplicationARN":{
          "shape":"ResourceARN",
          "documentation":"<p>The ARN of the application.</p>"
        },
        "ApplicationVersionId":{
          "shape":"ApplicationVersionId",
          "documentation":"<p>Provides the current application version. Managed Service for Apache Flink updates the ApplicationVersionId each time you update the application.</p>"
        },
        "VpcConfigurationDescription":{
          "shape":"VpcConfigurationDescription",
          "documentation":"<p>The parameters of the new VPC configuration.</p>"
        },
        "OperationId":{
          "shape":"OperationId",
          "documentation":"<p>The operation ID that can be used to track the request.</p>"
        }
      }
    },
    "ApplicationCodeConfiguration":{
      "type":"structure",
      "required":["CodeContentType"],
      "members":{
        "CodeContent":{
          "shape":"CodeContent",
          "documentation":"<p>The location and type of the application code.</p>"
        },
        "CodeContentType":{
          "shape":"CodeContentType",
          "documentation":"<p>Specifies whether the code content is in text or zip format.</p>"
        }
      },
      "documentation":"<p>Describes code configuration for an application.</p>"
    },
    "ApplicationCodeConfigurationDescription":{
      "type":"structure",
      "required":["CodeContentType"],
      "members":{
        "CodeContentType":{
          "shape":"CodeContentType",
          "documentation":"<p>Specifies whether the code content is in text or zip format.</p>"
        },
        "CodeContentDescription":{
          "shape":"CodeContentDescription",
          "documentation":"<p>Describes details about the location and format of the application code.</p>"
        }
      },
      "documentation":"<p>Describes code configuration for an application.</p>"
    },
    "ApplicationCodeConfigurationUpdate":{
      "type":"structure",
      "members":{
        "CodeContentTypeUpdate":{
          "shape":"CodeContentType",
          "documentation":"<p>Describes updates to the code content type.</p>"
        },
        "CodeContentUpdate":{
          "shape":"CodeContentUpdate",
          "documentation":"<p>Describes updates to the code content of an application.</p>"
        }
      },
      "documentation":"<p>Describes code configuration updates for an application. This is supported for a Managed Service for Apache Flink application or a SQL-based Kinesis Data Analytics application.</p>"
    },
    "ApplicationConfiguration":{
      "type":"structure",
      "members":{
        "SqlApplicationConfiguration":{
          "shape":"SqlApplicationConfiguration",
          "documentation":"<p>The creation and update parameters for a SQL-based Kinesis Data Analytics application.</p>"
        },
        "FlinkApplicationConfiguration":{
          "shape":"FlinkApplicationConfiguration",
          "documentation":"<p>The creation and update parameters for a Managed Service for Apache Flink application.</p>"
        },
        "EnvironmentProperties":{
          "shape":"EnvironmentProperties",
          "documentation":"<p>Describes execution properties for a Managed Service for Apache Flink application.</p>"
        },
        "ApplicationCodeConfiguration":{
          "shape":"ApplicationCodeConfiguration",
          "documentation":"<p>The code location and type parameters for a Managed Service for Apache Flink application.</p>"
        },
        "ApplicationSnapshotConfiguration":{
          "shape":"ApplicationSnapshotConfiguration",
          "documentation":"<p>Describes whether snapshots are enabled for a Managed Service for Apache Flink application.</p>"
        },
        "ApplicationSystemRollbackConfiguration":{
          "shape":"ApplicationSystemRollbackConfiguration",
          "documentation":"<p>Describes whether system rollbacks are enabled for a Managed Service for Apache Flink application.</p>"
        },
        "VpcConfigurations":{
          "shape":"VpcConfigurations",
          "documentation":"<p>The array of descriptions of VPC configurations available to the application.</p>"
        },
        "ZeppelinApplicationConfiguration":{
          "shape":"ZeppelinApplicationConfiguration",
          "documentation":"<p>The configuration parameters for a Managed Service for Apache Flink Studio notebook.</p>"
        },
        "ApplicationEncryptionConfiguration":{
          "shape":"ApplicationEncryptionConfiguration",
          "documentation":"<p>The configuration to manage encryption at rest.</p>"
        }
      },
      "documentation":"<p>Specifies the creation parameters for a Managed Service for Apache Flink application.</p>"
    },
    "ApplicationConfigurationDescription":{
      "type":"structure",
      "members":{
        "SqlApplicationConfigurationDescription":{
          "shape":"SqlApplicationConfigurationDescription",
          "documentation":"<p>The details about inputs, outputs, and reference data sources for a SQL-based Kinesis Data Analytics application.</p>"
        },
        "ApplicationCodeConfigurationDescription":{
          "shape":"ApplicationCodeConfigurationDescription",
          "documentation":"<p>The details about the application code for a Managed Service for Apache Flink application.</p>"
        },
        "RunConfigurationDescription":{
          "shape":"RunConfigurationDescription",
          "documentation":"<p>The details about the starting properties for a Managed Service for Apache Flink application.</p>"
        },
        "FlinkApplicationConfigurationDescription":{
          "shape":"FlinkApplicationConfigurationDescription",
          "documentation":"<p>The details about a Managed Service for Apache Flink application.</p>"
        },
        "EnvironmentPropertyDescriptions":{
          "shape":"EnvironmentPropertyDescriptions",
          "documentation":"<p>Describes execution properties for a Managed Service for Apache Flink application.</p>"
        },
        "ApplicationSnapshotConfigurationDescription":{
          "shape":"ApplicationSnapshotConfigurationDescription",
          "documentation":"<p>Describes whether snapshots are enabled for a Managed Service for Apache Flink application.</p>"
        },
        "ApplicationSystemRollbackConfigurationDescription":{
          "shape":"ApplicationSystemRollbackConfigurationDescription",
          "documentation":"<p>Describes whether system rollbacks are enabled for a Managed Service for Apache Flink application.</p>"
        },
        "VpcConfigurationDescriptions":{
          "shape":"VpcConfigurationDescriptions",
          "documentation":"<p>The array of descriptions of VPC configurations available to the application.</p>"
        },
        "ZeppelinApplicationConfigurationDescription":{
          "shape":"ZeppelinApplicationConfigurationDescription",
          "documentation":"<p>The configuration parameters for a Managed Service for Apache Flink Studio notebook.</p>"
        },
        "ApplicationEncryptionConfigurationDescription":{
          "shape":"ApplicationEncryptionConfigurationDescription",
          "documentation":"<p>Describes the encryption at rest configuration.</p>"
        }
      },
      "documentation":"<p>Describes details about the application code and starting parameters for a Managed Service for Apache Flink application.</p>"
    },
    "ApplicationConfigurationUpdate":{
      "type":"structure",
      "members":{
        "SqlApplicationConfigurationUpdate":{
          "shape":"SqlApplicationConfigurationUpdate",
          "documentation":"<p>Describes updates to a SQL-based Kinesis Data Analytics application's configuration.</p>"
        },
        "ApplicationCodeConfigurationUpdate":{
          "shape":"ApplicationCodeConfigurationUpdate",
          "documentation":"<p>Describes updates to an application's code configuration.</p>"
        },
        "FlinkApplicationConfigurationUpdate":{
          "shape":"FlinkApplicationConfigurationUpdate",
          "documentation":"<p>Describes updates to a Managed Service for Apache Flink application's configuration.</p>"
        },
        "EnvironmentPropertyUpdates":{
          "shape":"EnvironmentPropertyUpdates",
          "documentation":"<p>Describes updates to the environment properties for a Managed Service for Apache Flink application.</p>"
        },
        "ApplicationSnapshotConfigurationUpdate":{
          "shape":"ApplicationSnapshotConfigurationUpdate",
          "documentation":"<p>Describes whether snapshots are enabled for a Managed Service for Apache Flink application.</p>"
        },
        "ApplicationSystemRollbackConfigurationUpdate":{
          "shape":"ApplicationSystemRollbackConfigurationUpdate",
          "documentation":"<p>Describes whether system rollbacks are enabled for a Managed Service for Apache Flink application.</p>"
        },
        "VpcConfigurationUpdates":{
          "shape":"VpcConfigurationUpdates",
          "documentation":"<p>Updates to the array of descriptions of VPC configurations available to the application.</p>"
        },
        "ZeppelinApplicationConfigurationUpdate":{
          "shape":"ZeppelinApplicationConfigurationUpdate",
          "documentation":"<p>Updates to the configuration of a Managed Service for Apache Flink Studio notebook.</p>"
        },
        "ApplicationEncryptionConfigurationUpdate":{
          "shape":"ApplicationEncryptionConfigurationUpdate",
          "documentation":"<p>Represents an update for encryption at rest configuration.</p>"
        }
      },
      "documentation":"<p>Describes updates to an application's configuration.</p>"
    },
    "ApplicationDescription":{
      "type":"string",
      "max":1024,
      "min":0
    },
    "ApplicationDetail":{
      "type":"structure",
      "required":[
        "ApplicationARN",
        "ApplicationName",
        "RuntimeEnvironment",
        "ApplicationStatus",
        "ApplicationVersionId"
      ],
      "members":{
        "ApplicationARN":{
          "shape":"ResourceARN",
          "documentation":"<p>The ARN of the application.</p>"
        },
        "ApplicationDescription":{
          "shape":"ApplicationDescription",
          "documentation":"<p>The description of the application.</p>"
        },
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of the application.</p>"
        },
        "RuntimeEnvironment":{
          "shape":"RuntimeEnvironment",
          "documentation":"<p>The runtime environment for the application.</p>"
        },
        "ServiceExecutionRole":{
          "shape":"RoleARN",
          "documentation":"<p>Specifies the IAM role that the application uses to access external resources.</p>"
        },
        "ApplicationStatus":{
          "shape":"ApplicationStatus",
          "documentation":"<p>The status of the application.</p>"
        },
        "ApplicationVersionId":{
          "shape":"ApplicationVersionId",
          "documentation":"<p>Provides the current application version. Managed Service for Apache Flink updates the <code>ApplicationVersionId</code> each time you update the application.</p>"
        },
        "CreateTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The current timestamp when the application was created.</p>"
        },
        "LastUpdateTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The current timestamp when the application was last updated.</p>"
        },
        "ApplicationConfigurationDescription":{
          "shape":"ApplicationConfigurationDescription",
          "documentation":"<p>Describes details about the application code and starting parameters for a Managed Service for Apache Flink application.</p>"
        },
        "CloudWatchLoggingOptionDescriptions":{
          "shape":"CloudWatchLoggingOptionDescriptions",
          "documentation":"<p>Describes the application Amazon CloudWatch logging options.</p>"
        },
        "ApplicationMaintenanceConfigurationDescription":{
          "shape":"ApplicationMaintenanceConfigurationDescription",
          "documentation":"<p>The details of the maintenance configuration for the application.</p>"
        },
        "ApplicationVersionUpdatedFrom":{
          "shape":"ApplicationVersionId",
          "documentation":"<p>The previous application version before the latest application update. <a>RollbackApplication</a> reverts the application to this version.</p>"
        },
        "ApplicationVersionRolledBackFrom":{
          "shape":"ApplicationVersionId",
          "documentation":"<p>If you reverted the application using <a>RollbackApplication</a>, the application version when <code>RollbackApplication</code> was called.</p>"
        },
        "ApplicationVersionCreateTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp that indicates when the application version was created.</p>"
        },
        "ConditionalToken":{
          "shape":"ConditionalToken",
          "documentation":"<p>A value you use to implement strong concurrency for application updates.</p>"
        },
        "ApplicationVersionRolledBackTo":{
          "shape":"ApplicationVersionId",
          "documentation":"<p>The version to which you want to roll back the application.</p>"
        },
        "ApplicationMode":{
          "shape":"ApplicationMode",
          "documentation":"<p>To create a Managed Service for Apache Flink Studio notebook, you must set the mode to <code>INTERACTIVE</code>. However, for a Managed Service for Apache Flink application, the mode is optional.</p>"
        }
      },
      "documentation":"<p>Describes the application, including the application Amazon Resource Name (ARN), status, latest version, and input and output configurations.</p>"
    },
    "ApplicationEncryptionConfiguration":{
      "type":"structure",
      "required":["KeyType"],
      "members":{
        "KeyId":{
          "shape":"KeyId",
          "documentation":"<p>The key ARN, key ID, alias ARN, or alias name of the KMS key used for encryption at rest.</p>"
        },
        "KeyType":{
          "shape":"KeyType",
          "documentation":"<p>Specifies the type of key used for encryption at rest.</p>"
        }
      },
      "documentation":"<p>Specifies the configuration to manage encryption at rest.</p>"
    },
    "ApplicationEncryptionConfigurationDescription":{
      "type":"structure",
      "required":["KeyType"],
      "members":{
        "KeyId":{
          "shape":"KeyId",
          "documentation":"<p>The key ARN, key ID, alias ARN, or alias name of the KMS key used for encryption at rest.</p>"
        },
        "KeyType":{
          "shape":"KeyType",
          "documentation":"<p>Specifies the type of key used for encryption at rest.</p>"
        }
      },
      "documentation":"<p>Describes the encryption at rest configuration.</p>"
    },
    "ApplicationEncryptionConfigurationUpdate":{
      "type":"structure",
      "required":["KeyTypeUpdate"],
      "members":{
        "KeyIdUpdate":{
          "shape":"KeyId",
          "documentation":"<p>The key ARN, key ID, alias ARN, or alias name of the KMS key to be used for encryption at rest.</p>"
        },
        "KeyTypeUpdate":{
          "shape":"KeyType",
          "documentation":"<p>Specifies the type of key to be used for encryption at rest.</p>"
        }
      },
      "documentation":"<p>Describes configuration updates to encryption at rest.</p>"
    },
    "ApplicationMaintenanceConfigurationDescription":{
      "type":"structure",
      "required":[
        "ApplicationMaintenanceWindowStartTime",
        "ApplicationMaintenanceWindowEndTime"
      ],
      "members":{
        "ApplicationMaintenanceWindowStartTime":{
          "shape":"ApplicationMaintenanceWindowStartTime",
          "documentation":"<p>The start time for the maintenance window.</p>"
        },
        "ApplicationMaintenanceWindowEndTime":{
          "shape":"ApplicationMaintenanceWindowEndTime",
          "documentation":"<p>The end time for the maintenance window.</p>"
        }
      },
      "documentation":"<p>The details of the maintenance configuration for the application.</p>"
    },
    "ApplicationMaintenanceConfigurationUpdate":{
      "type":"structure",
      "required":["ApplicationMaintenanceWindowStartTimeUpdate"],
      "members":{
        "ApplicationMaintenanceWindowStartTimeUpdate":{
          "shape":"ApplicationMaintenanceWindowStartTime",
          "documentation":"<p>The updated start time for the maintenance window.</p>"
        }
      },
      "documentation":"<p>Describes the updated maintenance configuration for the application.</p>"
    },
    "ApplicationMaintenanceWindowEndTime":{
      "type":"string",
      "max":5,
      "min":5,
      "pattern":"([01][0-9]|2[0-3]):[0-5][0-9]"
    },
    "ApplicationMaintenanceWindowStartTime":{
      "type":"string",
      "max":5,
      "min":5,
      "pattern":"([01][0-9]|2[0-3]):[0-5][0-9]"
    },
    "ApplicationMode":{
      "type":"string",
      "enum":[
        "STREAMING",
        "INTERACTIVE"
      ]
    },
    "ApplicationName":{
      "type":"string",
      "documentation":"<p>The name of the application.</p>",
      "max":128,
      "min":1,
      "pattern":"[a-zA-Z0-9_.-]+"
    },
    "ApplicationOperationInfo":{
      "type":"structure",
      "members":{
        "Operation":{"shape":"Operation"},
        "OperationId":{"shape":"OperationId"},
        "StartTime":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp that indicates when the operation was created.</p>"
        },
        "EndTime":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp that indicates when the operation finished.</p>"
        },
        "OperationStatus":{"shape":"OperationStatus"}
      },
      "documentation":"<p>A description of the aplication operation that provides information about the updates that were made to the application.</p>"
    },
    "ApplicationOperationInfoDetails":{
      "type":"structure",
      "required":[
        "Operation",
        "StartTime",
        "EndTime",
        "OperationStatus"
      ],
      "members":{
        "Operation":{"shape":"Operation"},
        "StartTime":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp that indicates when the operation was created.</p>"
        },
        "EndTime":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp that indicates when the operation finished.</p>"
        },
        "OperationStatus":{"shape":"OperationStatus"},
        "ApplicationVersionChangeDetails":{"shape":"ApplicationVersionChangeDetails"},
        "OperationFailureDetails":{"shape":"OperationFailureDetails"}
      },
      "documentation":"<p>A description of the application operation that provides information about the updates that were made to the application.</p>"
    },
    "ApplicationOperationInfoList":{
      "type":"list",
      "member":{"shape":"ApplicationOperationInfo"},
      "documentation":"<p>A list of <code>ApplicationOperationInfo</code> objects that are associated with an application.</p>"
    },
    "ApplicationRestoreConfiguration":{
      "type":"structure",
      "required":["ApplicationRestoreType"],
      "members":{
        "ApplicationRestoreType":{
          "shape":"ApplicationRestoreType",
          "documentation":"<p>Specifies how the application should be restored.</p>"
        },
        "SnapshotName":{
          "shape":"SnapshotName",
          "documentation":"<p>The identifier of an existing snapshot of application state to use to restart an application. The application uses this value if <code>RESTORE_FROM_CUSTOM_SNAPSHOT</code> is specified for the <code>ApplicationRestoreType</code>.</p>"
        }
      },
      "documentation":"<p>Specifies the method and snapshot to use when restarting an application using previously saved application state.</p>"
    },
    "ApplicationRestoreType":{
      "type":"string",
      "enum":[
        "SKIP_RESTORE_FROM_SNAPSHOT",
        "RESTORE_FROM_LATEST_SNAPSHOT",
        "RESTORE_FROM_CUSTOM_SNAPSHOT"
      ]
    },
    "ApplicationSnapshotConfiguration":{
      "type":"structure",
      "required":["SnapshotsEnabled"],
      "members":{
        "SnapshotsEnabled":{
          "shape":"BooleanObject",
          "documentation":"<p>Describes whether snapshots are enabled for a Managed Service for Apache Flink application.</p>"
        }
      },
      "documentation":"<p>Describes whether snapshots are enabled for a Managed Service for Apache Flink application.</p>"
    },
    "ApplicationSnapshotConfigurationDescription":{
      "type":"structure",
      "required":["SnapshotsEnabled"],
      "members":{
        "SnapshotsEnabled":{
          "shape":"BooleanObject",
          "documentation":"<p>Describes whether snapshots are enabled for a Managed Service for Apache Flink application.</p>"
        }
      },
      "documentation":"<p>Describes whether snapshots are enabled for a Managed Service for Apache Flink application.</p>"
    },
    "ApplicationSnapshotConfigurationUpdate":{
      "type":"structure",
      "required":["SnapshotsEnabledUpdate"],
      "members":{
        "SnapshotsEnabledUpdate":{
          "shape":"BooleanObject",
          "documentation":"<p>Describes updates to whether snapshots are enabled for an application.</p>"
        }
      },
      "documentation":"<p>Describes updates to whether snapshots are enabled for a Managed Service for Apache Flink application.</p>"
    },
    "ApplicationStatus":{
      "type":"string",
      "enum":[
        "DELETING",
        "STARTING",
        "STOPPING",
        "READY",
        "RUNNING",
        "UPDATING",
        "AUTOSCALING",
        "FORCE_STOPPING",
        "ROLLING_BACK",
        "MAINTENANCE",
        "ROLLED_BACK"
      ]
    },
    "ApplicationSummaries":{
      "type":"list",
      "member":{"shape":"ApplicationSummary"}
    },
    "ApplicationSummary":{
      "type":"structure",
      "required":[
        "ApplicationName",
        "ApplicationARN",
        "ApplicationStatus",
        "ApplicationVersionId",
        "RuntimeEnvironment"
      ],
      "members":{
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of the application.</p>"
        },
        "ApplicationARN":{
          "shape":"ResourceARN",
          "documentation":"<p>The ARN of the application.</p>"
        },
        "ApplicationStatus":{
          "shape":"ApplicationStatus",
          "documentation":"<p>The status of the application.</p>"
        },
        "ApplicationVersionId":{
          "shape":"ApplicationVersionId",
          "documentation":"<p>Provides the current application version.</p>"
        },
        "RuntimeEnvironment":{
          "shape":"RuntimeEnvironment",
          "documentation":"<p>The runtime environment for the application.</p>"
        },
        "ApplicationMode":{
          "shape":"ApplicationMode",
          "documentation":"<p>For a Managed Service for Apache Flink application, the mode is <code>STREAMING</code>. For a Managed Service for Apache Flink Studio notebook, it is <code>INTERACTIVE</code>.</p>"
        }
      },
      "documentation":"<p>Provides application summary information, including the application Amazon Resource Name (ARN), name, and status.</p>"
    },
    "ApplicationSystemRollbackConfiguration":{
      "type":"structure",
      "required":["RollbackEnabled"],
      "members":{
        "RollbackEnabled":{
          "shape":"BooleanObject",
          "documentation":"<p>Describes whether system rollbacks are enabled for a Managed Service for Apache Flink application.</p>"
        }
      },
      "documentation":"<p>Describes the system rollback configuration for a Managed Service for Apache Flink application.</p>"
    },
    "ApplicationSystemRollbackConfigurationDescription":{
      "type":"structure",
      "required":["RollbackEnabled"],
      "members":{
        "RollbackEnabled":{
          "shape":"BooleanObject",
          "documentation":"<p>Describes whether system rollbacks are enabled for a Managed Service for Apache Flink application.</p>"
        }
      },
      "documentation":"<p>Describes the system rollback configuration for a Managed Service for Apache Flink application.</p>"
    },
    "ApplicationSystemRollbackConfigurationUpdate":{
      "type":"structure",
      "required":["RollbackEnabledUpdate"],
      "members":{
        "RollbackEnabledUpdate":{
          "shape":"BooleanObject",
          "documentation":"<p>Describes whether system rollbacks are enabled for a Managed Service for Apache Flink application.</p>"
        }
      },
      "documentation":"<p>Describes the system rollback configuration for a Managed Service for Apache Flink application.</p>"
    },
    "ApplicationVersionChangeDetails":{
      "type":"structure",
      "required":[
        "ApplicationVersionUpdatedFrom",
        "ApplicationVersionUpdatedTo"
      ],
      "members":{
        "ApplicationVersionUpdatedFrom":{
          "shape":"ApplicationVersionId",
          "documentation":"<p>The new version that the application was updated to.</p>"
        },
        "ApplicationVersionUpdatedTo":{
          "shape":"ApplicationVersionId",
          "documentation":"<p>The version that the operation execution applied to the applicartion.</p>"
        }
      },
      "documentation":"<p>Contains information about the version changes that the operation applied to the application.</p>"
    },
    "ApplicationVersionId":{
      "type":"long",
      "max":999999999,
      "min":1
    },
    "ApplicationVersionSummaries":{
      "type":"list",
      "member":{"shape":"ApplicationVersionSummary"}
    },
    "ApplicationVersionSummary":{
      "type":"structure",
      "required":[
        "ApplicationVersionId",
        "ApplicationStatus"
      ],
      "members":{
        "ApplicationVersionId":{
          "shape":"ApplicationVersionId",
          "documentation":"<p>The ID of the application version. Managed Service for Apache Flink updates the <code>ApplicationVersionId</code> each time you update the application.</p>"
        },
        "ApplicationStatus":{
          "shape":"ApplicationStatus",
          "documentation":"<p>The status of the application.</p>"
        }
      },
      "documentation":"<p>The summary of the application version.</p>"
    },
    "ArtifactType":{
      "type":"string",
      "enum":[
        "UDF",
        "DEPENDENCY_JAR"
      ]
    },
    "AuthorizedUrl":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "BasePath":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"[a-zA-Z0-9/!-_.*'()]+"
    },
    "BooleanObject":{"type":"boolean"},
    "BucketARN":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"arn:.*"
    },
    "CSVMappingParameters":{
      "type":"structure",
      "required":[
        "RecordRowDelimiter",
        "RecordColumnDelimiter"
      ],
      "members":{
        "RecordRowDelimiter":{
          "shape":"RecordRowDelimiter",
          "documentation":"<p>The row delimiter. For example, in a CSV format, <i>'\\n'</i> is the typical row delimiter.</p>"
        },
        "RecordColumnDelimiter":{
          "shape":"RecordColumnDelimiter",
          "documentation":"<p>The column delimiter. For example, in a CSV format, a comma (\",\") is the typical column delimiter.</p>"
        }
      },
      "documentation":"<p>For a SQL-based Kinesis Data Analytics application, provides additional mapping information when the record format uses delimiters, such as CSV. For example, the following sample records use CSV format, where the records use the <i>'\\n'</i> as the row delimiter and a comma (\",\") as the column delimiter: </p> <p> <code>\"name1\", \"address1\"</code> </p> <p> <code>\"name2\", \"address2\"</code> </p>"
    },
    "CatalogConfiguration":{
      "type":"structure",
      "required":["GlueDataCatalogConfiguration"],
      "members":{
        "GlueDataCatalogConfiguration":{
          "shape":"GlueDataCatalogConfiguration",
          "documentation":"<p>The configuration parameters for the default Amazon Glue database. You use this database for Apache Flink SQL queries and table API transforms that you write in a Managed Service for Apache Flink Studio notebook.</p>"
        }
      },
      "documentation":"<p>The configuration parameters for the default Amazon Glue database. You use this database for SQL queries that you write in a Managed Service for Apache Flink Studio notebook.</p>"
    },
    "CatalogConfigurationDescription":{
      "type":"structure",
      "required":["GlueDataCatalogConfigurationDescription"],
      "members":{
        "GlueDataCatalogConfigurationDescription":{
          "shape":"GlueDataCatalogConfigurationDescription",
          "documentation":"<p>The configuration parameters for the default Amazon Glue database. You use this database for SQL queries that you write in a Managed Service for Apache Flink Studio notebook.</p>"
        }
      },
      "documentation":"<p>The configuration parameters for the default Amazon Glue database. You use this database for Apache Flink SQL queries and table API transforms that you write in a Managed Service for Apache Flink Studio notebook.</p>"
    },
    "CatalogConfigurationUpdate":{
      "type":"structure",
      "required":["GlueDataCatalogConfigurationUpdate"],
      "members":{
        "GlueDataCatalogConfigurationUpdate":{
          "shape":"GlueDataCatalogConfigurationUpdate",
          "documentation":"<p>Updates to the configuration parameters for the default Amazon Glue database. You use this database for SQL queries that you write in a Managed Service for Apache Flink Studio notebook.</p>"
        }
      },
      "documentation":"<p>Updates to the configuration parameters for the default Amazon Glue database. You use this database for SQL queries that you write in a Managed Service for Apache Flink Studio notebook.</p>"
    },
    "CheckpointConfiguration":{
      "type":"structure",
      "required":["ConfigurationType"],
      "members":{
        "ConfigurationType":{
          "shape":"ConfigurationType",
          "documentation":"<p>Describes whether the application uses Managed Service for Apache Flink' default checkpointing behavior. You must set this property to <code>CUSTOM</code> in order to set the <code>CheckpointingEnabled</code>, <code>CheckpointInterval</code>, or <code>MinPauseBetweenCheckpoints</code> parameters.</p> <note> <p>If this value is set to <code>DEFAULT</code>, the application will use the following values, even if they are set to other values using APIs or application code:</p> <ul> <li> <p> <b>CheckpointingEnabled:</b> true</p> </li> <li> <p> <b>CheckpointInterval:</b> 60000</p> </li> <li> <p> <b>MinPauseBetweenCheckpoints:</b> 5000</p> </li> </ul> </note>"
        },
        "CheckpointingEnabled":{
          "shape":"BooleanObject",
          "documentation":"<p>Describes whether checkpointing is enabled for a Managed Service for Apache Flink application.</p> <note> <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>, the application will use a <code>CheckpointingEnabled</code> value of <code>true</code>, even if this value is set to another value using this API or in application code.</p> </note>"
        },
        "CheckpointInterval":{
          "shape":"CheckpointInterval",
          "documentation":"<p>Describes the interval in milliseconds between checkpoint operations. </p> <note> <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>, the application will use a <code>CheckpointInterval</code> value of 60000, even if this value is set to another value using this API or in application code.</p> </note>"
        },
        "MinPauseBetweenCheckpoints":{
          "shape":"MinPauseBetweenCheckpoints",
          "documentation":"<p>Describes the minimum time in milliseconds after a checkpoint operation completes that a new checkpoint operation can start. If a checkpoint operation takes longer than the <code>CheckpointInterval</code>, the application otherwise performs continual checkpoint operations. For more information, see <a href=\"https://nightlies.apache.org/flink/flink-docs-release-1.20/docs/ops/state/large_state_tuning/#tuning-checkpointing\"> Tuning Checkpointing</a> in the <a href=\"https://nightlies.apache.org/flink/flink-docs-release-1.20/\">Apache Flink Documentation</a>.</p> <note> <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>, the application will use a <code>MinPauseBetweenCheckpoints</code> value of 5000, even if this value is set using this API or in application code.</p> </note>"
        }
      },
      "documentation":"<p>Describes an application's checkpointing configuration. Checkpointing is the process of persisting application state for fault tolerance. For more information, see <a href=\"https://nightlies.apache.org/flink/flink-docs-release-1.20/docs/dev/datastream/fault-tolerance/checkpointing/#enabling-and-configuring-checkpointing\"> Checkpoints for Fault Tolerance</a> in the <a href=\"https://nightlies.apache.org/flink/flink-docs-release-1.20/\">Apache Flink Documentation</a>.</p>"
    },
    "CheckpointConfigurationDescription":{
      "type":"structure",
      "members":{
        "ConfigurationType":{
          "shape":"ConfigurationType",
          "documentation":"<p>Describes whether the application uses the default checkpointing behavior in Managed Service for Apache Flink. </p> <note> <p>If this value is set to <code>DEFAULT</code>, the application will use the following values, even if they are set to other values using APIs or application code:</p> <ul> <li> <p> <b>CheckpointingEnabled:</b> true</p> </li> <li> <p> <b>CheckpointInterval:</b> 60000</p> </li> <li> <p> <b>MinPauseBetweenCheckpoints:</b> 5000</p> </li> </ul> </note>"
        },
        "CheckpointingEnabled":{
          "shape":"BooleanObject",
          "documentation":"<p>Describes whether checkpointing is enabled for a Managed Service for Apache Flink application.</p> <note> <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>, the application will use a <code>CheckpointingEnabled</code> value of <code>true</code>, even if this value is set to another value using this API or in application code.</p> </note>"
        },
        "CheckpointInterval":{
          "shape":"CheckpointInterval",
          "documentation":"<p>Describes the interval in milliseconds between checkpoint operations. </p> <note> <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>, the application will use a <code>CheckpointInterval</code> value of 60000, even if this value is set to another value using this API or in application code.</p> </note>"
        },
        "MinPauseBetweenCheckpoints":{
          "shape":"MinPauseBetweenCheckpoints",
          "documentation":"<p>Describes the minimum time in milliseconds after a checkpoint operation completes that a new checkpoint operation can start. </p> <note> <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>, the application will use a <code>MinPauseBetweenCheckpoints</code> value of 5000, even if this value is set using this API or in application code.</p> </note>"
        }
      },
      "documentation":"<p>Describes checkpointing parameters for a Managed Service for Apache Flink application.</p>"
    },
    "CheckpointConfigurationUpdate":{
      "type":"structure",
      "members":{
        "ConfigurationTypeUpdate":{
          "shape":"ConfigurationType",
          "documentation":"<p>Describes updates to whether the application uses the default checkpointing behavior of Managed Service for Apache Flink. You must set this property to <code>CUSTOM</code> in order to set the <code>CheckpointingEnabled</code>, <code>CheckpointInterval</code>, or <code>MinPauseBetweenCheckpoints</code> parameters. </p> <note> <p>If this value is set to <code>DEFAULT</code>, the application will use the following values, even if they are set to other values using APIs or application code:</p> <ul> <li> <p> <b>CheckpointingEnabled:</b> true</p> </li> <li> <p> <b>CheckpointInterval:</b> 60000</p> </li> <li> <p> <b>MinPauseBetweenCheckpoints:</b> 5000</p> </li> </ul> </note>"
        },
        "CheckpointingEnabledUpdate":{
          "shape":"BooleanObject",
          "documentation":"<p>Describes updates to whether checkpointing is enabled for an application.</p> <note> <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>, the application will use a <code>CheckpointingEnabled</code> value of <code>true</code>, even if this value is set to another value using this API or in application code.</p> </note>"
        },
        "CheckpointIntervalUpdate":{
          "shape":"CheckpointInterval",
          "documentation":"<p>Describes updates to the interval in milliseconds between checkpoint operations.</p> <note> <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>, the application will use a <code>CheckpointInterval</code> value of 60000, even if this value is set to another value using this API or in application code.</p> </note>"
        },
        "MinPauseBetweenCheckpointsUpdate":{
          "shape":"MinPauseBetweenCheckpoints",
          "documentation":"<p>Describes updates to the minimum time in milliseconds after a checkpoint operation completes that a new checkpoint operation can start.</p> <note> <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>, the application will use a <code>MinPauseBetweenCheckpoints</code> value of 5000, even if this value is set using this API or in application code.</p> </note>"
        }
      },
      "documentation":"<p>Describes updates to the checkpointing parameters for a Managed Service for Apache Flink application.</p>"
    },
    "CheckpointInterval":{
      "type":"long",
      "min":1
    },
    "CloudWatchLoggingOption":{
      "type":"structure",
      "required":["LogStreamARN"],
      "members":{
        "LogStreamARN":{
          "shape":"LogStreamARN",
          "documentation":"<p>The ARN of the CloudWatch log to receive application messages.</p>"
        }
      },
      "documentation":"<p>Provides a description of Amazon CloudWatch logging options, including the log stream Amazon Resource Name (ARN). </p>"
    },
    "CloudWatchLoggingOptionDescription":{
      "type":"structure",
      "required":["LogStreamARN"],
      "members":{
        "CloudWatchLoggingOptionId":{
          "shape":"Id",
          "documentation":"<p>The ID of the CloudWatch logging option description.</p>"
        },
        "LogStreamARN":{
          "shape":"LogStreamARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the CloudWatch log to receive application messages.</p>"
        },
        "RoleARN":{
          "shape":"RoleARN",
          "documentation":"<p>The IAM ARN of the role to use to send application messages. </p> <note> <p>Provided for backward compatibility. Applications created with the current API version have an application-level service execution role rather than a resource-level role.</p> </note>"
        }
      },
      "documentation":"<p>Describes the Amazon CloudWatch logging option.</p>"
    },
    "CloudWatchLoggingOptionDescriptions":{
      "type":"list",
      "member":{"shape":"CloudWatchLoggingOptionDescription"}
    },
    "CloudWatchLoggingOptionUpdate":{
      "type":"structure",
      "required":["CloudWatchLoggingOptionId"],
      "members":{
        "CloudWatchLoggingOptionId":{
          "shape":"Id",
          "documentation":"<p>The ID of the CloudWatch logging option to update</p>"
        },
        "LogStreamARNUpdate":{
          "shape":"LogStreamARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the CloudWatch log to receive application messages.</p>"
        }
      },
      "documentation":"<p>Describes the Amazon CloudWatch logging option updates.</p>"
    },
    "CloudWatchLoggingOptionUpdates":{
      "type":"list",
      "member":{"shape":"CloudWatchLoggingOptionUpdate"}
    },
    "CloudWatchLoggingOptions":{
      "type":"list",
      "member":{"shape":"CloudWatchLoggingOption"}
    },
    "CodeContent":{
      "type":"structure",
      "members":{
        "TextContent":{
          "shape":"TextContent",
          "documentation":"<p>The text-format code for a Managed Service for Apache Flink application.</p>"
        },
        "ZipFileContent":{
          "shape":"ZipFileContent",
          "documentation":"<p>The zip-format code for a Managed Service for Apache Flink application.</p>"
        },
        "S3ContentLocation":{
          "shape":"S3ContentLocation",
          "documentation":"<p>Information about the Amazon S3 bucket that contains the application code.</p>"
        }
      },
      "documentation":"<p>Specifies either the application code, or the location of the application code, for a Managed Service for Apache Flink application. </p>"
    },
    "CodeContentDescription":{
      "type":"structure",
      "members":{
        "TextContent":{
          "shape":"TextContent",
          "documentation":"<p>The text-format code</p>"
        },
        "CodeMD5":{
          "shape":"CodeMD5",
          "documentation":"<p>The checksum that can be used to validate zip-format code.</p>"
        },
        "CodeSize":{
          "shape":"CodeSize",
          "documentation":"<p>The size in bytes of the application code. Can be used to validate zip-format code.</p>"
        },
        "S3ApplicationCodeLocationDescription":{
          "shape":"S3ApplicationCodeLocationDescription",
          "documentation":"<p>The S3 bucket Amazon Resource Name (ARN), file key, and object version of the application code stored in Amazon S3.</p>"
        }
      },
      "documentation":"<p>Describes details about the code of a Managed Service for Apache Flink application.</p>"
    },
    "CodeContentType":{
      "type":"string",
      "enum":[
        "PLAINTEXT",
        "ZIPFILE"
      ]
    },
    "CodeContentUpdate":{
      "type":"structure",
      "members":{
        "TextContentUpdate":{
          "shape":"TextContent",
          "documentation":"<p>Describes an update to the text code for an application.</p>"
        },
        "ZipFileContentUpdate":{
          "shape":"ZipFileContent",
          "documentation":"<p>Describes an update to the zipped code for an application.</p>"
        },
        "S3ContentLocationUpdate":{
          "shape":"S3ContentLocationUpdate",
          "documentation":"<p>Describes an update to the location of code for an application.</p>"
        }
      },
      "documentation":"<p>Describes an update to the code of an application. Not supported for Apache Zeppelin.</p>"
    },
    "CodeMD5":{
      "type":"string",
      "max":128,
      "min":128
    },
    "CodeSize":{
      "type":"long",
      "max":52428800,
      "min":0
    },
    "CodeValidationException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>The user-provided application code (query) is not valid. This can be a simple syntax error.</p>",
      "exception":true
    },
    "ConcurrentModificationException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>Exception thrown as a result of concurrent modifications to an application. This error can be the result of attempting to modify an application without using the current application ID.</p>",
      "exception":true
    },
    "ConditionalToken":{
      "type":"string",
      "max":512,
      "min":1,
      "pattern":"[a-zA-Z0-9-_+/=]+"
    },
    "ConfigurationType":{
      "type":"string",
      "enum":[
        "DEFAULT",
        "CUSTOM"
      ]
    },
    "CreateApplicationPresignedUrlRequest":{
      "type":"structure",
      "required":[
        "ApplicationName",
        "UrlType"
      ],
      "members":{
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of the application.</p>"
        },
        "UrlType":{
          "shape":"UrlType",
          "documentation":"<p>The type of the extension for which to create and return a URL. Currently, the only valid extension URL type is <code>FLINK_DASHBOARD_URL</code>. </p>"
        },
        "SessionExpirationDurationInSeconds":{
          "shape":"SessionExpirationDurationInSeconds",
          "documentation":"<p>The duration in seconds for which the returned URL will be valid.</p>"
        }
      }
    },
    "CreateApplicationPresignedUrlResponse":{
      "type":"structure",
      "members":{
        "AuthorizedUrl":{
          "shape":"AuthorizedUrl",
          "documentation":"<p>The URL of the extension.</p>"
        }
      }
    },
    "CreateApplicationRequest":{
      "type":"structure",
      "required":[
        "ApplicationName",
        "RuntimeEnvironment",
        "ServiceExecutionRole"
      ],
      "members":{
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of your application (for example, <code>sample-app</code>).</p>"
        },
        "ApplicationDescription":{
          "shape":"ApplicationDescription",
          "documentation":"<p>A summary description of the application.</p>"
        },
        "RuntimeEnvironment":{
          "shape":"RuntimeEnvironment",
          "documentation":"<p>The runtime environment for the application.</p>"
        },
        "ServiceExecutionRole":{
          "shape":"RoleARN",
          "documentation":"<p>The IAM role used by the application to access Kinesis data streams, Kinesis Data Firehose delivery streams, Amazon S3 objects, and other external resources.</p>"
        },
        "ApplicationConfiguration":{
          "shape":"ApplicationConfiguration",
          "documentation":"<p>Use this parameter to configure the application.</p>"
        },
        "CloudWatchLoggingOptions":{
          "shape":"CloudWatchLoggingOptions",
          "documentation":"<p>Use this parameter to configure an Amazon CloudWatch log stream to monitor application configuration errors. </p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>A list of one or more tags to assign to the application. A tag is a key-value pair that identifies an application. Note that the maximum number of application tags includes system tags. The maximum number of user-defined application tags is 50. For more information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/java/how-tagging.html\">Using Tagging</a>.</p>"
        },
        "ApplicationMode":{
          "shape":"ApplicationMode",
          "documentation":"<p>Use the <code>STREAMING</code> mode to create a Managed Service for Apache Flink application. To create a Managed Service for Apache Flink Studio notebook, use the <code>INTERACTIVE</code> mode.</p>"
        }
      }
    },
    "CreateApplicationResponse":{
      "type":"structure",
      "required":["ApplicationDetail"],
      "members":{
        "ApplicationDetail":{
          "shape":"ApplicationDetail",
          "documentation":"<p>In response to your <code>CreateApplication</code> request, Managed Service for Apache Flink returns a response with details of the application it created.</p>"
        }
      }
    },
    "CreateApplicationSnapshotRequest":{
      "type":"structure",
      "required":[
        "ApplicationName",
        "SnapshotName"
      ],
      "members":{
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of an existing application</p>"
        },
        "SnapshotName":{
          "shape":"SnapshotName",
          "documentation":"<p>An identifier for the application snapshot.</p>"
        }
      }
    },
    "CreateApplicationSnapshotResponse":{
      "type":"structure",
      "members":{}
    },
    "CustomArtifactConfiguration":{
      "type":"structure",
      "required":["ArtifactType"],
      "members":{
        "ArtifactType":{
          "shape":"ArtifactType",
          "documentation":"<p> <code>UDF</code> stands for user-defined functions. This type of artifact must be in an S3 bucket. A <code>DEPENDENCY_JAR</code> can be in either Maven or an S3 bucket.</p>"
        },
        "S3ContentLocation":{"shape":"S3ContentLocation"},
        "MavenReference":{
          "shape":"MavenReference",
          "documentation":"<p>The parameters required to fully specify a Maven reference.</p>"
        }
      },
      "documentation":"<p>Specifies dependency JARs, as well as JAR files that contain user-defined functions (UDF).</p>"
    },
    "CustomArtifactConfigurationDescription":{
      "type":"structure",
      "members":{
        "ArtifactType":{
          "shape":"ArtifactType",
          "documentation":"<p> <code>UDF</code> stands for user-defined functions. This type of artifact must be in an S3 bucket. A <code>DEPENDENCY_JAR</code> can be in either Maven or an S3 bucket.</p>"
        },
        "S3ContentLocationDescription":{"shape":"S3ContentLocation"},
        "MavenReferenceDescription":{
          "shape":"MavenReference",
          "documentation":"<p>The parameters that are required to specify a Maven dependency.</p>"
        }
      },
      "documentation":"<p>Specifies a dependency JAR or a JAR of user-defined functions.</p>"
    },
    "CustomArtifactsConfigurationDescriptionList":{
      "type":"list",
      "member":{"shape":"CustomArtifactConfigurationDescription"},
      "max":50
    },
    "CustomArtifactsConfigurationList":{
      "type":"list",
      "member":{"shape":"CustomArtifactConfiguration"},
      "max":50
    },
    "DatabaseARN":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"arn:.*"
    },
    "DeleteApplicationCloudWatchLoggingOptionRequest":{
      "type":"structure",
      "required":[
        "ApplicationName",
        "CloudWatchLoggingOptionId"
      ],
      "members":{
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The application name.</p>"
        },
        "CurrentApplicationVersionId":{
          "shape":"ApplicationVersionId",
          "documentation":"<p>The version ID of the application. You must provide the <code>CurrentApplicationVersionId</code> or the <code>ConditionalToken</code>. You can retrieve the application version ID using <a>DescribeApplication</a>. For better concurrency support, use the <code>ConditionalToken</code> parameter instead of <code>CurrentApplicationVersionId</code>.</p>"
        },
        "CloudWatchLoggingOptionId":{
          "shape":"Id",
          "documentation":"<p>The <code>CloudWatchLoggingOptionId</code> of the Amazon CloudWatch logging option to delete. You can get the <code>CloudWatchLoggingOptionId</code> by using the <a>DescribeApplication</a> operation. </p>"
        },
        "ConditionalToken":{
          "shape":"ConditionalToken",
          "documentation":"<p>A value you use to implement strong concurrency for application updates. You must provide the <code>CurrentApplicationVersionId</code> or the <code>ConditionalToken</code>. You get the application's current <code>ConditionalToken</code> using <a>DescribeApplication</a>. For better concurrency support, use the <code>ConditionalToken</code> parameter instead of <code>CurrentApplicationVersionId</code>.</p>"
        }
      }
    },
    "DeleteApplicationCloudWatchLoggingOptionResponse":{
      "type":"structure",
      "members":{
        "ApplicationARN":{
          "shape":"ResourceARN",
          "documentation":"<p>The application's Amazon Resource Name (ARN).</p>"
        },
        "ApplicationVersionId":{
          "shape":"ApplicationVersionId",
          "documentation":"<p>The version ID of the application. Kinesis Data Analytics updates the <code>ApplicationVersionId</code> each time you change the CloudWatch logging options.</p>"
        },
        "CloudWatchLoggingOptionDescriptions":{
          "shape":"CloudWatchLoggingOptionDescriptions",
          "documentation":"<p>The descriptions of the remaining CloudWatch logging options for the application.</p>"
        },
        "OperationId":{
          "shape":"OperationId",
          "documentation":"<p>The operation ID that can be used to track the request.</p>"
        }
      }
    },
    "DeleteApplicationInputProcessingConfigurationRequest":{
      "type":"structure",
      "required":[
        "ApplicationName",
        "CurrentApplicationVersionId",
        "InputId"
      ],
      "members":{
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of the application.</p>"
        },
        "CurrentApplicationVersionId":{
          "shape":"ApplicationVersionId",
          "documentation":"<p>The application version. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. </p>"
        },
        "InputId":{
          "shape":"Id",
          "documentation":"<p>The ID of the input configuration from which to delete the input processing configuration. You can get a list of the input IDs for an application by using the <a>DescribeApplication</a> operation.</p>"
        }
      }
    },
    "DeleteApplicationInputProcessingConfigurationResponse":{
      "type":"structure",
      "members":{
        "ApplicationARN":{
          "shape":"ResourceARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the application.</p>"
        },
        "ApplicationVersionId":{
          "shape":"ApplicationVersionId",
          "documentation":"<p>The current application version ID.</p>"
        }
      }
    },
    "DeleteApplicationOutputRequest":{
      "type":"structure",
      "required":[
        "ApplicationName",
        "CurrentApplicationVersionId",
        "OutputId"
      ],
      "members":{
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The application name.</p>"
        },
        "CurrentApplicationVersionId":{
          "shape":"ApplicationVersionId",
          "documentation":"<p>The application version. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. </p>"
        },
        "OutputId":{
          "shape":"Id",
          "documentation":"<p>The ID of the configuration to delete. Each output configuration that is added to the application (either when the application is created or later) using the <a>AddApplicationOutput</a> operation has a unique ID. You need to provide the ID to uniquely identify the output configuration that you want to delete from the application configuration. You can use the <a>DescribeApplication</a> operation to get the specific <code>OutputId</code>. </p>"
        }
      }
    },
    "DeleteApplicationOutputResponse":{
      "type":"structure",
      "members":{
        "ApplicationARN":{
          "shape":"ResourceARN",
          "documentation":"<p>The application Amazon Resource Name (ARN).</p>"
        },
        "ApplicationVersionId":{
          "shape":"ApplicationVersionId",
          "documentation":"<p>The current application version ID.</p>"
        }
      }
    },
    "DeleteApplicationReferenceDataSourceRequest":{
      "type":"structure",
      "required":[
        "ApplicationName",
        "CurrentApplicationVersionId",
        "ReferenceId"
      ],
      "members":{
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of an existing application.</p>"
        },
        "CurrentApplicationVersionId":{
          "shape":"ApplicationVersionId",
          "documentation":"<p>The current application version. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.</p>"
        },
        "ReferenceId":{
          "shape":"Id",
          "documentation":"<p>The ID of the reference data source. When you add a reference data source to your application using the <a>AddApplicationReferenceDataSource</a>, Kinesis Data Analytics assigns an ID. You can use the <a>DescribeApplication</a> operation to get the reference ID. </p>"
        }
      }
    },
    "DeleteApplicationReferenceDataSourceResponse":{
      "type":"structure",
      "members":{
        "ApplicationARN":{
          "shape":"ResourceARN",
          "documentation":"<p>The application Amazon Resource Name (ARN).</p>"
        },
        "ApplicationVersionId":{
          "shape":"ApplicationVersionId",
          "documentation":"<p>The updated version ID of the application.</p>"
        }
      }
    },
    "DeleteApplicationRequest":{
      "type":"structure",
      "required":[
        "ApplicationName",
        "CreateTimestamp"
      ],
[...]
