<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{subject}}</title>
    <style>
      a { color: {{accentColor}}; }
    </style>
  </head>
  <body style="background-color: #F5F8FA; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; -webkit-font-smoothing: antialiased; font-size: 14px; line-height: 1.5em; margin: 0; padding: 0;">
    <table border="0" cellpadding="0" cellspacing="0" class="body" style="border-collapse: separate; width: 100%; background-color: #F5F8FA;">
      <tr>
        <td style="vertical-align: top;">&nbsp;</td>
        <td class="container" style="vertical-align: top; display: block; margin: 0 auto; max-width: 540px; padding: 10px; width: 540px;">
          <div class="content" style="box-sizing: border-box; display: block; margin: 0 auto; max-width: 600px; padding: 30px 20px;">
            <table class="main" style="border-collapse: separate; width: 100%; background: #ffffff; border-radius: 8px;">
              <tr>
                <td class="wrapper" style="box-sizing: border-box; padding: 40px;">
                  <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; width: 100%;">
                    <tr>
                      <td style="font-size: 16px; color: #3A464C; font-weight: normal; line-height: 24px;">
                        {{{content}}}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <div class="footer" style="clear: both; margin-top: 20px; text-align: center; width: 100%;">
              <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; width: 100%;">
                <tr>
                  <td class="content-block" style="color: #738A94; font-size: 13px; line-height: 16px; padding-bottom: 10px; padding-top: 10px; text-align: center;">
                    <span class="recipient-link">{{siteTitle}}</span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </td>
        <td style="vertical-align: top;">&nbsp;</td>
      </tr>
    </table>
  </body>
</html>

