{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2022-03-31",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"sms-voice",
    "jsonVersion":"1.0",
    "protocol":"json",
    "protocols":["json"],
    "serviceFullName":"Amazon Pinpoint SMS Voice V2",
    "serviceId":"Pinpoint SMS Voice V2",
    "signatureVersion":"v4",
    "signingName":"sms-voice",
    "targetPrefix":"PinpointSMSVoiceV2",
    "uid":"pinpoint-sms-voice-v2-2022-03-31"
  },
  "operations":{
    "AssociateOriginationIdentity":{
      "name":"AssociateOriginationIdentity",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateOriginationIdentityRequest"},
      "output":{"shape":"AssociateOriginationIdentityResult"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Associates the specified origination identity with a pool.</p> <p>If the origination identity is a phone number and is already associated with another pool, an error is returned. A sender ID can be associated with multiple pools.</p> <p>If the origination identity configuration doesn't match the pool's configuration, an error is returned.</p>"
    },
    "AssociateProtectConfiguration":{
      "name":"AssociateProtectConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateProtectConfigurationRequest"},
      "output":{"shape":"AssociateProtectConfigurationResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Associate a protect configuration with a configuration set. This replaces the configuration sets current protect configuration. A configuration set can only be associated with one protect configuration at a time. A protect configuration can be associated with multiple configuration sets.</p>"
    },
    "CreateConfigurationSet":{
      "name":"CreateConfigurationSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateConfigurationSetRequest"},
      "output":{"shape":"CreateConfigurationSetResult"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a new configuration set. After you create the configuration set, you can add one or more event destinations to it.</p> <p>A configuration set is a set of rules that you apply to the SMS and voice messages that you send.</p> <p>When you send a message, you can optionally specify a single configuration set.</p>"
    },
    "CreateEventDestination":{
      "name":"CreateEventDestination",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEventDestinationRequest"},
      "output":{"shape":"CreateEventDestinationResult"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a new event destination in a configuration set.</p> <p>An event destination is a location where you send message events. The event options are Amazon CloudWatch, Amazon Data Firehose, or Amazon SNS. For example, when a message is delivered successfully, you can send information about that event to an event destination, or send notifications to endpoints that are subscribed to an Amazon SNS topic. </p> <p>You can only create one event destination at a time. You must provide a value for a single event destination using either <code>CloudWatchLogsDestination</code>, <code>KinesisFirehoseDestination</code> or <code>SnsDestination</code>. If an event destination isn't provided then an exception is returned.</p> <p>Each configuration set can contain between 0 and 5 event destinations. Each event destination can contain a reference to a single destination, such as a CloudWatch or Firehose destination.</p>"
    },
    "CreateOptOutList":{
      "name":"CreateOptOutList",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateOptOutListRequest"},
      "output":{"shape":"CreateOptOutListResult"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a new opt-out list.</p> <p>If the opt-out list name already exists, an error is returned.</p> <p>An opt-out list is a list of phone numbers that are opted out, meaning you can't send SMS or voice messages to them. If end user replies with the keyword \"STOP,\" an entry for the phone number is added to the opt-out list. In addition to STOP, your recipients can use any supported opt-out keyword, such as CANCEL or OPTOUT. For a list of supported opt-out keywords, see <a href=\"https://docs.aws.amazon.com/pinpoint/latest/userguide/channels-sms-manage.html#channels-sms-manage-optout\"> SMS opt out </a> in the <i>AWS End User Messaging SMS User Guide</i>.</p>"
    },
    "CreatePool":{
      "name":"CreatePool",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePoolRequest"},
      "output":{"shape":"CreatePoolResult"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a new pool and associates the specified origination identity to the pool. A pool can include one or more phone numbers and SenderIds that are associated with your Amazon Web Services account.</p> <p>The new pool inherits its configuration from the specified origination identity. This includes keywords, message type, opt-out list, two-way configuration, and self-managed opt-out configuration. Deletion protection isn't inherited from the origination identity and defaults to false.</p> <p>If the origination identity is a phone number and is already associated with another pool, an error is returned. A sender ID can be associated with multiple pools.</p>"
    },
    "CreateProtectConfiguration":{
      "name":"CreateProtectConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateProtectConfigurationRequest"},
      "output":{"shape":"CreateProtectConfigurationResult"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Create a new protect configuration. By default all country rule sets for each capability are set to <code>ALLOW</code>. Update the country rule sets using <code>UpdateProtectConfigurationCountryRuleSet</code>. A protect configurations name is stored as a Tag with the key set to <code>Name</code> and value as the name of the protect configuration.</p>"
    },
    "CreateRegistration":{
      "name":"CreateRegistration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateRegistrationRequest"},
      "output":{"shape":"CreateRegistrationResult"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a new registration based on the <b>RegistrationType</b> field. </p>"
    },
    "CreateRegistrationAssociation":{
      "name":"CreateRegistrationAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateRegistrationAssociationRequest"},
      "output":{"shape":"CreateRegistrationAssociationResult"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Associate the registration with an origination identity such as a phone number or sender ID.</p>"
    },
    "CreateRegistrationAttachment":{
      "name":"CreateRegistrationAttachment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateRegistrationAttachmentRequest"},
      "output":{"shape":"CreateRegistrationAttachmentResult"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Create a new registration attachment to use for uploading a file or a URL to a file. The maximum file size is 500KB and valid file extensions are PDF, JPEG and PNG. For example, many sender ID registrations require a signed “letter of authorization” (LOA) to be submitted.</p> <p>Use either <code>AttachmentUrl</code> or <code>AttachmentBody</code> to upload your attachment. If both are specified then an exception is returned.</p>"
    },
    "CreateRegistrationVersion":{
      "name":"CreateRegistrationVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateRegistrationVersionRequest"},
      "output":{"shape":"CreateRegistrationVersionResult"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Create a new version of the registration and increase the <b>VersionNumber</b>. The previous version of the registration becomes read-only.</p>"
    },
    "CreateVerifiedDestinationNumber":{
      "name":"CreateVerifiedDestinationNumber",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVerifiedDestinationNumberRequest"},
      "output":{"shape":"CreateVerifiedDestinationNumberResult"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>You can only send messages to verified destination numbers when your account is in the sandbox. You can add up to 10 verified destination numbers.</p>"
    },
    "DeleteAccountDefaultProtectConfiguration":{
      "name":"DeleteAccountDefaultProtectConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAccountDefaultProtectConfigurationRequest"},
      "output":{"shape":"DeleteAccountDefaultProtectConfigurationResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Removes the current account default protect configuration.</p>"
    },
    "DeleteConfigurationSet":{
      "name":"DeleteConfigurationSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteConfigurationSetRequest"},
      "output":{"shape":"DeleteConfigurationSetResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes an existing configuration set.</p> <p>A configuration set is a set of rules that you apply to voice and SMS messages that you send. In a configuration set, you can specify a destination for specific types of events related to voice and SMS messages. </p>"
    },
    "DeleteDefaultMessageType":{
      "name":"DeleteDefaultMessageType",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDefaultMessageTypeRequest"},
      "output":{"shape":"DeleteDefaultMessageTypeResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes an existing default message type on a configuration set.</p> <p> A message type is a type of messages that you plan to send. If you send account-related messages or time-sensitive messages such as one-time passcodes, choose <b>Transactional</b>. If you plan to send messages that contain marketing material or other promotional content, choose <b>Promotional</b>. This setting applies to your entire Amazon Web Services account. </p>"
    },
    "DeleteDefaultSenderId":{
      "name":"DeleteDefaultSenderId",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDefaultSenderIdRequest"},
      "output":{"shape":"DeleteDefaultSenderIdResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes an existing default sender ID on a configuration set.</p> <p>A default sender ID is the identity that appears on recipients' devices when they receive SMS messages. Support for sender ID capabilities varies by country or region.</p>"
    },
    "DeleteEventDestination":{
      "name":"DeleteEventDestination",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEventDestinationRequest"},
      "output":{"shape":"DeleteEventDestinationResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes an existing event destination.</p> <p>An event destination is a location where you send response information about the messages that you send. For example, when a message is delivered successfully, you can send information about that event to an Amazon CloudWatch destination, or send notifications to endpoints that are subscribed to an Amazon SNS topic.</p>"
    },
    "DeleteKeyword":{
      "name":"DeleteKeyword",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteKeywordRequest"},
      "output":{"shape":"DeleteKeywordResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes an existing keyword from an origination phone number or pool.</p> <p>A keyword is a word that you can search for on a particular phone number or pool. It is also a specific word or phrase that an end user can send to your number to elicit a response, such as an informational message or a special offer. When your number receives a message that begins with a keyword, AWS End User Messaging SMS and Voice responds with a customizable message.</p> <p>Keywords \"HELP\" and \"STOP\" can't be deleted or modified.</p>"
    },
    "DeleteMediaMessageSpendLimitOverride":{
      "name":"DeleteMediaMessageSpendLimitOverride",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteMediaMessageSpendLimitOverrideRequest"},
      "output":{"shape":"DeleteMediaMessageSpendLimitOverrideResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes an account-level monthly spending limit override for sending multimedia messages (MMS). Deleting a spend limit override will set the <code>EnforcedLimit</code> to equal the <code>MaxLimit</code>, which is controlled by Amazon Web Services. For more information on spend limits (quotas) see <a href=\"https://docs.aws.amazon.com/sms-voice/latest/userguide/quotas.html\">Quotas for Server Migration Service</a> in the <i>Server Migration Service User Guide</i>.</p>"
    },
    "DeleteOptOutList":{
      "name":"DeleteOptOutList",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteOptOutListRequest"},
      "output":{"shape":"DeleteOptOutListResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes an existing opt-out list. All opted out phone numbers in the opt-out list are deleted.</p> <p>If the specified opt-out list name doesn't exist or is in-use by an origination phone number or pool, an error is returned.</p>"
    },
    "DeleteOptedOutNumber":{
      "name":"DeleteOptedOutNumber",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteOptedOutNumberRequest"},
      "output":{"shape":"DeleteOptedOutNumberResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes an existing opted out destination phone number from the specified opt-out list.</p> <p>Each destination phone number can only be deleted once every 30 days.</p> <p>If the specified destination phone number doesn't exist or if the opt-out list doesn't exist, an error is returned.</p>"
    },
    "DeletePool":{
      "name":"DeletePool",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePoolRequest"},
      "output":{"shape":"DeletePoolResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes an existing pool. Deleting a pool disassociates all origination identities from that pool.</p> <p>If the pool status isn't active or if deletion protection is enabled, an error is returned.</p> <p>A pool is a collection of phone numbers and SenderIds. A pool can include one or more phone numbers and SenderIds that are associated with your Amazon Web Services account.</p>"
    },
    "DeleteProtectConfiguration":{
      "name":"DeleteProtectConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteProtectConfigurationRequest"},
      "output":{"shape":"DeleteProtectConfigurationResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Permanently delete the protect configuration. The protect configuration must have deletion protection disabled and must not be associated as the account default protect configuration or associated with a configuration set.</p>"
    },
    "DeleteProtectConfigurationRuleSetNumberOverride":{
      "name":"DeleteProtectConfigurationRuleSetNumberOverride",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteProtectConfigurationRuleSetNumberOverrideRequest"},
      "output":{"shape":"DeleteProtectConfigurationRuleSetNumberOverrideResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Permanently delete the protect configuration rule set number override.</p>"
    },
    "DeleteRegistration":{
      "name":"DeleteRegistration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRegistrationRequest"},
      "output":{"shape":"DeleteRegistrationResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Permanently delete an existing registration from your account.</p>"
    },
    "DeleteRegistrationAttachment":{
      "name":"DeleteRegistrationAttachment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRegistrationAttachmentRequest"},
      "output":{"shape":"DeleteRegistrationAttachmentResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Permanently delete the specified registration attachment.</p>"
    },
    "DeleteRegistrationFieldValue":{
      "name":"DeleteRegistrationFieldValue",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRegistrationFieldValueRequest"},
      "output":{"shape":"DeleteRegistrationFieldValueResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Delete the value in a registration form field.</p>"
    },
    "DeleteResourcePolicy":{
      "name":"DeleteResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteResourcePolicyRequest"},
      "output":{"shape":"DeleteResourcePolicyResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes the resource-based policy document attached to the AWS End User Messaging SMS and Voice resource. A shared resource can be a Pool, Opt-out list, Sender Id, or Phone number.</p>"
    },
    "DeleteTextMessageSpendLimitOverride":{
      "name":"DeleteTextMessageSpendLimitOverride",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTextMessageSpendLimitOverrideRequest"},
      "output":{"shape":"DeleteTextMessageSpendLimitOverrideResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes an account-level monthly spending limit override for sending text messages. Deleting a spend limit override will set the <code>EnforcedLimit</code> to equal the <code>MaxLimit</code>, which is controlled by Amazon Web Services. For more information on spend limits (quotas) see <a href=\"https://docs.aws.amazon.com/sms-voice/latest/userguide/quotas.html\">Quotas </a> in the <i>AWS End User Messaging SMS User Guide</i>.</p>"
    },
    "DeleteVerifiedDestinationNumber":{
      "name":"DeleteVerifiedDestinationNumber",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVerifiedDestinationNumberRequest"},
      "output":{"shape":"DeleteVerifiedDestinationNumberResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Delete a verified destination phone number.</p>"
    },
    "DeleteVoiceMessageSpendLimitOverride":{
      "name":"DeleteVoiceMessageSpendLimitOverride",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVoiceMessageSpendLimitOverrideRequest"},
      "output":{"shape":"DeleteVoiceMessageSpendLimitOverrideResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes an account level monthly spend limit override for sending voice messages. Deleting a spend limit override sets the <code>EnforcedLimit</code> equal to the <code>MaxLimit</code>, which is controlled by Amazon Web Services. For more information on spending limits (quotas) see <a href=\"https://docs.aws.amazon.com/sms-voice/latest/userguide/quotas.html\">Quotas </a> in the <i>AWS End User Messaging SMS User Guide</i>.</p>"
    },
    "DescribeAccountAttributes":{
      "name":"DescribeAccountAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAccountAttributesRequest"},
      "output":{"shape":"DescribeAccountAttributesResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Describes attributes of your Amazon Web Services account. The supported account attributes include account tier, which indicates whether your account is in the sandbox or production environment. When you're ready to move your account out of the sandbox, create an Amazon Web Services Support case for a service limit increase request.</p> <p>New accounts are placed into an SMS or voice sandbox. The sandbox protects both Amazon Web Services end recipients and SMS or voice recipients from fraud and abuse. </p>"
    },
    "DescribeAccountLimits":{
      "name":"DescribeAccountLimits",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAccountLimitsRequest"},
      "output":{"shape":"DescribeAccountLimitsResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Describes the current AWS End User Messaging SMS and Voice SMS Voice V2 resource quotas for your account. The description for a quota includes the quota name, current usage toward that quota, and the quota's maximum value.</p> <p>When you establish an Amazon Web Services account, the account has initial quotas on the maximum number of configuration sets, opt-out lists, phone numbers, and pools that you can create in a given Region. For more information see <a href=\"https://docs.aws.amazon.com/sms-voice/latest/userguide/quotas.html\">Quotas </a> in the <i>AWS End User Messaging SMS User Guide</i>.</p>"
    },
    "DescribeConfigurationSets":{
      "name":"DescribeConfigurationSets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeConfigurationSetsRequest"},
      "output":{"shape":"DescribeConfigurationSetsResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Describes the specified configuration sets or all in your account.</p> <p>If you specify configuration set names, the output includes information for only the specified configuration sets. If you specify filters, the output includes information for only those configuration sets that meet the filter criteria. If you don't specify configuration set names or filters, the output includes information for all configuration sets.</p> <p>If you specify a configuration set name that isn't valid, an error is returned.</p>"
    },
    "DescribeKeywords":{
      "name":"DescribeKeywords",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeKeywordsRequest"},
      "output":{"shape":"DescribeKeywordsResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Describes the specified keywords or all keywords on your origination phone number or pool.</p> <p>A keyword is a word that you can search for on a particular phone number or pool. It is also a specific word or phrase that an end user can send to your number to elicit a response, such as an informational message or a special offer. When your number receives a message that begins with a keyword, AWS End User Messaging SMS and Voice responds with a customizable message.</p> <p>If you specify a keyword that isn't valid, an error is returned.</p>"
    },
    "DescribeOptOutLists":{
      "name":"DescribeOptOutLists",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeOptOutListsRequest"},
      "output":{"shape":"DescribeOptOutListsResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Describes the specified opt-out list or all opt-out lists in your account.</p> <p>If you specify opt-out list names, the output includes information for only the specified opt-out lists. Opt-out lists include only those that meet the filter criteria. If you don't specify opt-out list names or filters, the output includes information for all opt-out lists.</p> <p>If you specify an opt-out list name that isn't valid, an error is returned.</p>"
    },
    "DescribeOptedOutNumbers":{
      "name":"DescribeOptedOutNumbers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeOptedOutNumbersRequest"},
      "output":{"shape":"DescribeOptedOutNumbersResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Describes the specified opted out destination numbers or all opted out destination numbers in an opt-out list.</p> <p>If you specify opted out numbers, the output includes information for only the specified opted out numbers. If you specify filters, the output includes information for only those opted out numbers that meet the filter criteria. If you don't specify opted out numbers or filters, the output includes information for all opted out destination numbers in your opt-out list.</p> <p>If you specify an opted out number that isn't valid, an exception is returned.</p>"
    },
    "DescribePhoneNumbers":{
      "name":"DescribePhoneNumbers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePhoneNumbersRequest"},
      "output":{"shape":"DescribePhoneNumbersResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Describes the specified origination phone number, or all the phone numbers in your account.</p> <p>If you specify phone number IDs, the output includes information for only the specified phone numbers. If you specify filters, the output includes information for only those phone numbers that meet the filter criteria. If you don't specify phone number IDs or filters, the output includes information for all phone numbers.</p> <p>If you specify a phone number ID that isn't valid, an error is returned.</p>"
    },
    "DescribePools":{
      "name":"DescribePools",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePoolsRequest"},
      "output":{"shape":"DescribePoolsResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves the specified pools or all pools associated with your Amazon Web Services account.</p> <p>If you specify pool IDs, the output includes information for only the specified pools. If you specify filters, the output includes information for only those pools that meet the filter criteria. If you don't specify pool IDs or filters, the output includes information for all pools.</p> <p>If you specify a pool ID that isn't valid, an error is returned.</p> <p>A pool is a collection of phone numbers and SenderIds. A pool can include one or more phone numbers and SenderIds that are associated with your Amazon Web Services account.</p>"
    },
    "DescribeProtectConfigurations":{
      "name":"DescribeProtectConfigurations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeProtectConfigurationsRequest"},
      "output":{"shape":"DescribeProtectConfigurationsResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves the protect configurations that match any of filters. If a filter isn’t provided then all protect configurations are returned.</p>"
    },
    "DescribeRegistrationAttachments":{
      "name":"DescribeRegistrationAttachments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRegistrationAttachmentsRequest"},
      "output":{"shape":"DescribeRegistrationAttachmentsResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves the specified registration attachments or all registration attachments associated with your Amazon Web Services account.</p>"
    },
    "DescribeRegistrationFieldDefinitions":{
      "name":"DescribeRegistrationFieldDefinitions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRegistrationFieldDefinitionsRequest"},
      "output":{"shape":"DescribeRegistrationFieldDefinitionsResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves the specified registration type field definitions. You can use DescribeRegistrationFieldDefinitions to view the requirements for creating, filling out, and submitting each registration type.</p>"
    },
    "DescribeRegistrationFieldValues":{
      "name":"DescribeRegistrationFieldValues",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRegistrationFieldValuesRequest"},
      "output":{"shape":"DescribeRegistrationFieldValuesResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves the specified registration field values.</p>"
    },
    "DescribeRegistrationSectionDefinitions":{
      "name":"DescribeRegistrationSectionDefinitions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRegistrationSectionDefinitionsRequest"},
      "output":{"shape":"DescribeRegistrationSectionDefinitionsResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves the specified registration section definitions. You can use DescribeRegistrationSectionDefinitions to view the requirements for creating, filling out, and submitting each registration type.</p>"
    },
    "DescribeRegistrationTypeDefinitions":{
      "name":"DescribeRegistrationTypeDefinitions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRegistrationTypeDefinitionsRequest"},
      "output":{"shape":"DescribeRegistrationTypeDefinitionsResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves the specified registration type definitions. You can use DescribeRegistrationTypeDefinitions to view the requirements for creating, filling out, and submitting each registration type.</p>"
    },
    "DescribeRegistrationVersions":{
      "name":"DescribeRegistrationVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRegistrationVersionsRequest"},
      "output":{"shape":"DescribeRegistrationVersionsResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves the specified registration version.</p>"
    },
    "DescribeRegistrations":{
      "name":"DescribeRegistrations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRegistrationsRequest"},
      "output":{"shape":"DescribeRegistrationsResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves the specified registrations.</p>"
    },
    "DescribeSenderIds":{
      "name":"DescribeSenderIds",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSenderIdsRequest"},
      "output":{"shape":"DescribeSenderIdsResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Describes the specified SenderIds or all SenderIds associated with your Amazon Web Services account.</p> <p>If you specify SenderIds, the output includes information for only the specified SenderIds. If you specify filters, the output includes information for only those SenderIds that meet the filter criteria. If you don't specify SenderIds or filters, the output includes information for all SenderIds.</p> <p>f you specify a sender ID that isn't valid, an error is returned.</p>"
    },
    "DescribeSpendLimits":{
      "name":"DescribeSpendLimits",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSpendLimitsRequest"},
      "output":{"shape":"DescribeSpendLimitsResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Describes the current monthly spend limits for sending voice and text messages.</p> <p>When you establish an Amazon Web Services account, the account has initial monthly spend limit in a given Region. For more information on increasing your monthly spend limit, see <a href=\"https://docs.aws.amazon.com/sms-voice/latest/userguide/awssupport-spend-threshold.html\"> Requesting increases to your monthly SMS, MMS, or Voice spending quota </a> in the <i>AWS End User Messaging SMS User Guide</i>.</p>"
    },
    "DescribeVerifiedDestinationNumbers":{
      "name":"DescribeVerifiedDestinationNumbers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVerifiedDestinationNumbersRequest"},
      "output":{"shape":"DescribeVerifiedDestinationNumbersResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves the specified verified destination numbers.</p>"
    },
    "DisassociateOriginationIdentity":{
      "name":"DisassociateOriginationIdentity",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateOriginationIdentityRequest"},
      "output":{"shape":"DisassociateOriginationIdentityResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Removes the specified origination identity from an existing pool.</p> <p>If the origination identity isn't associated with the specified pool, an error is returned.</p>"
    },
    "DisassociateProtectConfiguration":{
      "name":"DisassociateProtectConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateProtectConfigurationRequest"},
      "output":{"shape":"DisassociateProtectConfigurationResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Disassociate a protect configuration from a configuration set.</p>"
    },
    "DiscardRegistrationVersion":{
      "name":"DiscardRegistrationVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DiscardRegistrationVersionRequest"},
      "output":{"shape":"DiscardRegistrationVersionResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Discard the current version of the registration.</p>"
    },
    "GetProtectConfigurationCountryRuleSet":{
      "name":"GetProtectConfigurationCountryRuleSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetProtectConfigurationCountryRuleSetRequest"},
      "output":{"shape":"GetProtectConfigurationCountryRuleSetResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieve the CountryRuleSet for the specified NumberCapability from a protect configuration.</p>"
    },
    "GetResourcePolicy":{
      "name":"GetResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetResourcePolicyRequest"},
      "output":{"shape":"GetResourcePolicyResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves the JSON text of the resource-based policy document attached to the AWS End User Messaging SMS and Voice resource. A shared resource can be a Pool, Opt-out list, Sender Id, or Phone number.</p>"
    },
    "ListPoolOriginationIdentities":{
      "name":"ListPoolOriginationIdentities",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPoolOriginationIdentitiesRequest"},
      "output":{"shape":"ListPoolOriginationIdentitiesResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists all associated origination identities in your pool.</p> <p>If you specify filters, the output includes information for only those origination identities that meet the filter criteria.</p>"
    },
    "ListProtectConfigurationRuleSetNumberOverrides":{
      "name":"ListProtectConfigurationRuleSetNumberOverrides",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListProtectConfigurationRuleSetNumberOverridesRequest"},
      "output":{"shape":"ListProtectConfigurationRuleSetNumberOverridesResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieve all of the protect configuration rule set number overrides that match the filters.</p>"
    },
    "ListRegistrationAssociations":{
      "name":"ListRegistrationAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListRegistrationAssociationsRequest"},
      "output":{"shape":"ListRegistrationAssociationsResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieve all of the origination identities that are associated with a registration.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>List all tags associated with a resource.</p>"
    },
    "PutKeyword":{
      "name":"PutKeyword",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutKeywordRequest"},
      "output":{"shape":"PutKeywordResult"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates or updates a keyword configuration on an origination phone number or pool.</p> <p> A keyword is a word that you can search for on a particular phone number or pool. It is also a specific word or phrase that an end user can send to your number to elicit a response, such as an informational message or a special offer. When your number receives a message that begins with a keyword, AWS End User Messaging SMS and Voice responds with a customizable message.</p> <p>If you specify a keyword that isn't valid, an error is returned.</p>"
    },
    "PutMessageFeedback":{
      "name":"PutMessageFeedback",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutMessageFeedbackRequest"},
      "output":{"shape":"PutMessageFeedbackResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Set the MessageFeedbackStatus as <code>RECEIVED</code> or <code>FAILED</code> for the passed in MessageId. </p> <p>If you use message feedback then you must update message feedback record. When you receive a signal that a user has received the message you must use <code>PutMessageFeedback</code> to set the message feedback record as <code>RECEIVED</code>; Otherwise, an hour after the message feedback record is set to <code>FAILED</code>.</p>"
    },
    "PutOptedOutNumber":{
      "name":"PutOptedOutNumber",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutOptedOutNumberRequest"},
      "output":{"shape":"PutOptedOutNumberResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates an opted out destination phone number in the opt-out list.</p> <p>If the destination phone number isn't valid or if the specified opt-out list doesn't exist, an error is returned.</p>"
    },
    "PutProtectConfigurationRuleSetNumberOverride":{
      "name":"PutProtectConfigurationRuleSetNumberOverride",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutProtectConfigurationRuleSetNumberOverrideRequest"},
      "output":{"shape":"PutProtectConfigurationRuleSetNumberOverrideResult"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Create or update a phone number rule override and associate it with a protect configuration.</p>"
    },
    "PutRegistrationFieldValue":{
      "name":"PutRegistrationFieldValue",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutRegistrationFieldValueRequest"},
      "output":{"shape":"PutRegistrationFieldValueResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates or updates a field value for a registration.</p>"
    },
    "PutResourcePolicy":{
      "name":"PutResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutResourcePolicyRequest"},
      "output":{"shape":"PutResourcePolicyResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Attaches a resource-based policy to a AWS End User Messaging SMS and Voice resource(phone number, sender Id, phone poll, or opt-out list) that is used for sharing the resource. A shared resource can be a Pool, Opt-out list, Sender Id, or Phone number. For more information about resource-based policies, see <a href=\"https://docs.aws.amazon.com/sms-voice/latest/userguide/shared-resources.html\">Working with shared resources</a> in the <i>AWS End User Messaging SMS User Guide</i>. </p>"
    },
    "ReleasePhoneNumber":{
      "name":"ReleasePhoneNumber",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ReleasePhoneNumberRequest"},
      "output":{"shape":"ReleasePhoneNumberResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Releases an existing origination phone number in your account. Once released, a phone number is no longer available for sending messages.</p> <p>If the origination phone number has deletion protection enabled or is associated with a pool, an error is returned.</p>"
    },
    "ReleaseSenderId":{
      "name":"ReleaseSenderId",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ReleaseSenderIdRequest"},
      "output":{"shape":"ReleaseSenderIdResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Releases an existing sender ID in your account.</p>"
    },
    "RequestPhoneNumber":{
      "name":"RequestPhoneNumber",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RequestPhoneNumberRequest"},
      "output":{"shape":"RequestPhoneNumberResult"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Request an origination phone number for use in your account. For more information on phone number request see <a href=\"https://docs.aws.amazon.com/sms-voice/latest/userguide/phone-numbers-request.html\">Request a phone number</a> in the <i>AWS End User Messaging SMS User Guide</i>.</p>"
    },
    "RequestSenderId":{
      "name":"RequestSenderId",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RequestSenderIdRequest"},
      "output":{"shape":"RequestSenderIdResult"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Request a new sender ID that doesn't require registration. </p>"
    },
    "SendDestinationNumberVerificationCode":{
      "name":"SendDestinationNumberVerificationCode",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SendDestinationNumberVerificationCodeRequest"},
      "output":{"shape":"SendDestinationNumberVerificationCodeResult"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Before you can send test messages to a verified destination phone number you need to opt-in the verified destination phone number. Creates a new text message with a verification code and send it to a verified destination phone number. Once you have the verification code use <a>VerifyDestinationNumber</a> to opt-in the verified destination phone number to receive messages.</p>"
    },
    "SendMediaMessage":{
      "name":"SendMediaMessage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SendMediaMessageRequest"},
      "output":{"shape":"SendMediaMessageResult"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a new multimedia message (MMS) and sends it to a recipient's phone number. </p>"
    },
    "SendTextMessage":{
      "name":"SendTextMessage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SendTextMessageRequest"},
      "output":{"shape":"SendTextMessageResult"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a new text message and sends it to a recipient's phone number. SendTextMessage only sends an SMS message to one recipient each time it is invoked.</p> <p>SMS throughput limits are measured in Message Parts per Second (MPS). Your MPS limit depends on the destination country of your messages, as well as the type of phone number (origination number) that you use to send the message. For more information about MPS, see <a href=\"https://docs.aws.amazon.com/sms-voice/latest/userguide/sms-limitations-mps.html\">Message Parts per Second (MPS) limits</a> in the <i>AWS End User Messaging SMS User Guide</i>.</p>"
    },
    "SendVoiceMessage":{
      "name":"SendVoiceMessage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SendVoiceMessageRequest"},
      "output":{"shape":"SendVoiceMessageResult"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Allows you to send a request that sends a voice message. This operation uses <a href=\"http://aws.amazon.com/polly/\">Amazon Polly</a> to convert a text script into a voice message.</p>"
    },
    "SetAccountDefaultProtectConfiguration":{
      "name":"SetAccountDefaultProtectConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetAccountDefaultProtectConfigurationRequest"},
      "output":{"shape":"SetAccountDefaultProtectConfigurationResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Set a protect configuration as your account default. You can only have one account default protect configuration at a time. The current account default protect configuration is replaced with the provided protect configuration.</p>"
    },
    "SetDefaultMessageFeedbackEnabled":{
      "name":"SetDefaultMessageFeedbackEnabled",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetDefaultMessageFeedbackEnabledRequest"},
      "output":{"shape":"SetDefaultMessageFeedbackEnabledResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Sets a configuration set's default for message feedback. </p>"
    },
    "SetDefaultMessageType":{
      "name":"SetDefaultMessageType",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetDefaultMessageTypeRequest"},
      "output":{"shape":"SetDefaultMessageTypeResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Sets the default message type on a configuration set.</p> <p>Choose the category of SMS messages that you plan to send from this account. If you send account-related messages or time-sensitive messages such as one-time passcodes, choose <b>Transactional</b>. If you plan to send messages that contain marketing material or other promotional content, choose <b>Promotional</b>. This setting applies to your entire Amazon Web Services account.</p>"
    },
    "SetDefaultSenderId":{
      "name":"SetDefaultSenderId",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetDefaultSenderIdRequest"},
      "output":{"shape":"SetDefaultSenderIdResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Sets default sender ID on a configuration set.</p> <p>When sending a text message to a destination country that supports sender IDs, the default sender ID on the configuration set specified will be used if no dedicated origination phone numbers or registered sender IDs are available in your account.</p>"
    },
    "SetMediaMessageSpendLimitOverride":{
      "name":"SetMediaMessageSpendLimitOverride",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetMediaMessageSpendLimitOverrideRequest"},
      "output":{"shape":"SetMediaMessageSpendLimitOverrideResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Sets an account level monthly spend limit override for sending MMS messages. The requested spend limit must be less than or equal to the <code>MaxLimit</code>, which is set by Amazon Web Services. </p>"
    },
    "SetTextMessageSpendLimitOverride":{
      "name":"SetTextMessageSpendLimitOverride",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetTextMessageSpendLimitOverrideRequest"},
      "output":{"shape":"SetTextMessageSpendLimitOverrideResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Sets an account level monthly spend limit override for sending text messages. The requested spend limit must be less than or equal to the <code>MaxLimit</code>, which is set by Amazon Web Services. </p>"
    },
    "SetVoiceMessageSpendLimitOverride":{
      "name":"SetVoiceMessageSpendLimitOverride",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetVoiceMessageSpendLimitOverrideRequest"},
      "output":{"shape":"SetVoiceMessageSpendLimitOverrideResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Sets an account level monthly spend limit override for sending voice messages. The requested spend limit must be less than or equal to the <code>MaxLimit</code>, which is set by Amazon Web Services. </p>"
    },
    "SubmitRegistrationVersion":{
      "name":"SubmitRegistrationVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SubmitRegistrationVersionRequest"},
      "output":{"shape":"SubmitRegistrationVersionResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Submit the specified registration for review and approval.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResult"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Adds or overwrites only the specified tags for the specified resource. When you specify an existing tag key, the value is overwritten with the new value. Each tag consists of a key and an optional value. Tag keys must be unique per resource. For more information about tags, see <a href=\"https://docs.aws.amazon.com/sms-voice/latest/userguide/phone-numbers-tags.html\">Tags </a> in the <i>AWS End User Messaging SMS User Guide</i>.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Removes the association of the specified tags from a resource. For more information on tags see <a href=\"https://docs.aws.amazon.com/sms-voice/latest/userguide/phone-numbers-tags.html\">Tags </a> in the <i>AWS End User Messaging SMS User Guide</i>.</p>"
    },
    "UpdateEventDestination":{
      "name":"UpdateEventDestination",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEventDestinationRequest"},
      "output":{"shape":"UpdateEventDestinationResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates an existing event destination in a configuration set. You can update the IAM role ARN for CloudWatch Logs and Firehose. You can also enable or disable the event destination.</p> <p>You may want to update an event destination to change its matching event types or updating the destination resource ARN. You can't change an event destination's type between CloudWatch Logs, Firehose, and Amazon SNS.</p>"
    },
    "UpdatePhoneNumber":{
      "name":"UpdatePhoneNumber",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePhoneNumberRequest"},
      "output":{"shape":"UpdatePhoneNumberResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates the configuration of an existing origination phone number. You can update the opt-out list, enable or disable two-way messaging, change the TwoWayChannelArn, enable or disable self-managed opt-outs, and enable or disable deletion protection.</p> <p>If the origination phone number is associated with a pool, an error is returned.</p>"
    },
    "UpdatePool":{
      "name":"UpdatePool",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePoolRequest"},
      "output":{"shape":"UpdatePoolResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates the configuration of an existing pool. You can update the opt-out list, enable or disable two-way messaging, change the <code>TwoWayChannelArn</code>, enable or disable self-managed opt-outs, enable or disable deletion protection, and enable or disable shared routes.</p>"
    },
    "UpdateProtectConfiguration":{
      "name":"UpdateProtectConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateProtectConfigurationRequest"},
      "output":{"shape":"UpdateProtectConfigurationResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Update the setting for an existing protect configuration.</p>"
    },
    "UpdateProtectConfigurationCountryRuleSet":{
      "name":"UpdateProtectConfigurationCountryRuleSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateProtectConfigurationCountryRuleSetRequest"},
      "output":{"shape":"UpdateProtectConfigurationCountryRuleSetResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Update a country rule set to <code>ALLOW</code>, <code>BLOCK</code>, <code>MONITOR</code>, or <code>FILTER</code> messages to be sent to the specified destination counties. You can update one or multiple countries at a time. The updates are only applied to the specified NumberCapability type.</p>"
    },
    "UpdateSenderId":{
      "name":"UpdateSenderId",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateSenderIdRequest"},
      "output":{"shape":"UpdateSenderIdResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates the configuration of an existing sender ID.</p>"
    },
    "VerifyDestinationNumber":{
      "name":"VerifyDestinationNumber",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"VerifyDestinationNumberRequest"},
      "output":{"shape":"VerifyDestinationNumberResult"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Use the verification code that was received by the verified destination phone number to opt-in the verified destination phone number to receive more messages.</p>"
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"},
        "Reason":{
          "shape":"AccessDeniedExceptionReason",
          "documentation":"<p>The reason for the exception.</p>"
        }
      },
      "documentation":"<p>The request was denied because you don't have sufficient permissions to access the resource.</p>",
      "exception":true
    },
    "AccessDeniedExceptionReason":{
      "type":"string",
      "enum":[
        "INSUFFICIENT_ACCOUNT_REPUTATION",
        "ACCOUNT_DISABLED"
      ]
    },
    "AccountAttribute":{
      "type":"structure",
      "required":[
        "Name",
        "Value"
      ],
      "members":{
        "Name":{
          "shape":"AccountAttributeName",
          "documentation":"<p>The name of the account attribute.</p>"
        },
        "Value":{
          "shape":"String",
          "documentation":"<p>The value associated with the account attribute name.</p>"
        }
      },
      "documentation":"<p>Displays the attributes associated with a single Amazon Web Services account.</p>"
    },
    "AccountAttributeList":{
      "type":"list",
      "member":{"shape":"AccountAttribute"}
    },
    "AccountAttributeName":{
      "type":"string",
      "enum":[
        "ACCOUNT_TIER",
        "DEFAULT_PROTECT_CONFIGURATION_ID"
      ]
    },
    "AccountLimit":{
      "type":"structure",
      "required":[
        "Name",
        "Used",
        "Max"
      ],
      "members":{
        "Name":{
          "shape":"AccountLimitName",
          "documentation":"<p>The name of the attribute to apply the account limit to.</p>"
        },
        "Used":{
          "shape":"PrimitiveLong",
          "documentation":"<p>The current amount that has been spent, in US dollars.</p>"
        },
        "Max":{
          "shape":"PrimitiveLong",
          "documentation":"<p>The Amazon Web Services set limit for that resource type, in US dollars.</p>"
        }
      },
      "documentation":"<p>The current resource quotas associated with an Amazon Web Services account.</p>"
    },
    "AccountLimitList":{
      "type":"list",
      "member":{"shape":"AccountLimit"}
    },
    "AccountLimitName":{
      "type":"string",
      "enum":[
        "PHONE_NUMBERS",
        "POOLS",
        "CONFIGURATION_SETS",
        "OPT_OUT_LISTS",
        "SENDER_IDS",
        "REGISTRATIONS",
        "REGISTRATION_ATTACHMENTS",
        "VERIFIED_DESTINATION_NUMBERS"
      ]
    },
    "AmazonResourceName":{
      "type":"string",
      "max":256,
      "min":20,
      "pattern":"arn:[A-Za-z0-9_:/-]+"
    },
    "AssociateOriginationIdentityRequest":{
      "type":"structure",
      "required":[
        "PoolId",
        "OriginationIdentity",
        "IsoCountryCode"
      ],
      "members":{
        "PoolId":{
          "shape":"PoolIdOrArn",
          "documentation":"<p>The pool to update with the new Identity. This value can be either the PoolId or PoolArn, and you can find these values using <a>DescribePools</a>.</p> <important> <p>If you are using a shared AWS End User Messaging SMS and Voice resource then you must use the full Amazon Resource Name(ARN).</p> </important>"
        },
        "OriginationIdentity":{
          "shape":"PhoneOrSenderIdOrArn",
          "documentation":"<p>The origination identity to use, such as PhoneNumberId, PhoneNumberArn, SenderId, or SenderIdArn. You can use <a>DescribePhoneNumbers</a> to find the values for PhoneNumberId and PhoneNumberArn, while <a>DescribeSenderIds</a> can be used to get the values for SenderId and SenderIdArn.</p> <important> <p>If you are using a shared AWS End User Messaging SMS and Voice resource then you must use the full Amazon Resource Name(ARN).</p> </important>"
        },
        "IsoCountryCode":{
          "shape":"IsoCountryCode",
          "documentation":"<p>The new two-character code, in ISO 3166-1 alpha-2 format, for the country or region of the origination identity.</p>"
        },
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don't specify a client token, a randomly generated token is used for the request to ensure idempotency.</p>",
          "idempotencyToken":true
        }
      }
    },
    "AssociateOriginationIdentityResult":{
      "type":"structure",
      "members":{
        "PoolArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the pool that is now associated with the origination identity.</p>"
        },
        "PoolId":{
          "shape":"String",
          "documentation":"<p>The PoolId of the pool that is now associated with the origination identity.</p>"
        },
        "OriginationIdentityArn":{
          "shape":"String",
          "documentation":"<p>The PhoneNumberArn or SenderIdArn of the origination identity.</p>"
        },
        "OriginationIdentity":{
          "shape":"String",
          "documentation":"<p>The PhoneNumberId or SenderId of the origination identity.</p>"
        },
        "IsoCountryCode":{
          "shape":"IsoCountryCode",
          "documentation":"<p>The two-character code, in ISO 3166-1 alpha-2 format, for the country or region. </p>"
        }
      }
    },
    "AssociateProtectConfigurationRequest":{
      "type":"structure",
      "required":[
        "ProtectConfigurationId",
        "ConfigurationSetName"
      ],
      "members":{
        "ProtectConfigurationId":{
          "shape":"ProtectConfigurationIdOrArn",
          "documentation":"<p>The unique identifier for the protect configuration.</p>"
        },
        "ConfigurationSetName":{
          "shape":"ConfigurationSetNameOrArn",
          "documentation":"<p>The name of the ConfigurationSet.</p>"
        }
      }
    },
    "AssociateProtectConfigurationResult":{
      "type":"structure",
      "required":[
        "ConfigurationSetArn",
        "ConfigurationSetName",
        "ProtectConfigurationArn",
        "ProtectConfigurationId"
      ],
      "members":{
        "ConfigurationSetArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the configuration set.</p>"
        },
        "ConfigurationSetName":{
          "shape":"ConfigurationSetName",
          "documentation":"<p>The name of the ConfigurationSet.</p>"
        },
        "ProtectConfigurationArn":{
          "shape":"ProtectConfigurationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the protect configuration.</p>"
        },
        "ProtectConfigurationId":{
          "shape":"ProtectConfigurationId",
          "documentation":"<p>The unique identifier for the protect configuration.</p>"
        }
      }
    },
    "AttachmentBody":{
      "type":"blob",
      "max":1572864,
      "min":1
    },
    "AttachmentStatus":{
      "type":"string",
      "enum":[
        "UPLOAD_IN_PROGRESS",
        "UPLOAD_COMPLETE",
        "UPLOAD_FAILED",
        "DELETED"
      ]
    },
    "AttachmentUploadErrorReason":{
      "type":"string",
      "enum":["INTERNAL_ERROR"]
    },
    "AttachmentUrl":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"\\S+"
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "ClientToken":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[!-~]+"
    },
    "CloudWatchLogsDestination":{
      "type":"structure",
      "required":[
        "IamRoleArn",
        "LogGroupArn"
      ],
      "members":{
        "IamRoleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of an Identity and Access Management role that is able to write event data to an Amazon CloudWatch destination.</p>"
        },
        "LogGroupArn":{
          "shape":"LogGroupArn",
          "documentation":"<p>The name of the Amazon CloudWatch log group that you want to record events in. </p>"
        }
      },
      "documentation":"<p>Contains the destination configuration to use when publishing message sending events. </p>"
    },
    "ConfigurationSetFilter":{
      "type":"structure",
      "required":[
        "Name",
        "Values"
      ],
      "members":{
        "Name":{
          "shape":"ConfigurationSetFilterName",
          "documentation":"<p>The name of the attribute to filter on.</p>"
        },
        "Values":{
          "shape":"FilterValueList",
          "documentation":"<p>An array values to filter for.</p>"
        }
      },
      "documentation":"<p>The information for configuration sets that meet a specified criteria.</p>"
    },
    "ConfigurationSetFilterList":{
      "type":"list",
      "member":{"shape":"ConfigurationSetFilter"},
      "max":20,
      "min":0
    },
    "ConfigurationSetFilterName":{
      "type":"string",
      "enum":[
        "event-destination-name",
        "matching-event-types",
        "default-message-type",
        "default-sender-id",
        "default-message-feedback-enabled",
        "protect-configuration-id"
      ]
    },
    "ConfigurationSetInformation":{
      "type":"structure",
      "required":[
        "ConfigurationSetArn",
        "ConfigurationSetName",
        "EventDestinations",
        "CreatedTimestamp"
      ],
      "members":{
        "ConfigurationSetArn":{
          "shape":"String",
          "documentation":"<p>The Resource Name (ARN) of the ConfigurationSet.</p>"
        },
        "ConfigurationSetName":{
          "shape":"ConfigurationSetName",
          "documentation":"<p>The name of the ConfigurationSet.</p>"
        },
        "EventDestinations":{
          "shape":"EventDestinationList",
          "documentation":"<p>An array of EventDestination objects that describe any events to log and where to log them.</p>"
        },
        "DefaultMessageType":{
          "shape":"MessageType",
          "documentation":"<p>The type of message. Valid values are TRANSACTIONAL for messages that are critical or time-sensitive and PROMOTIONAL for messages that aren't critical or time-sensitive.</p>"
        },
        "DefaultSenderId":{
          "shape":"SenderId",
          "documentation":"<p>The default sender ID used by the ConfigurationSet.</p>"
        },
        "DefaultMessageFeedbackEnabled":{
          "shape":"Boolean",
          "documentation":"<p>True if message feedback is enabled.</p>"
        },
        "CreatedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The time when the ConfigurationSet was created, in <a href=\"https://www.epochconverter.com/\">UNIX epoch time</a> format.</p>"
        },
        "ProtectConfigurationId":{
          "shape":"ProtectConfigurationIdOrArn",
          "documentation":"<p>The unique identifier for the protect configuration.</p>"
        }
      },
      "documentation":"<p>Information related to a given configuration set in your Amazon Web Services account.</p>"
    },
    "ConfigurationSetInformationList":{
      "type":"list",
      "member":{"shape":"ConfigurationSetInformation"}
    },
    "ConfigurationSetName":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[A-Za-z0-9_-]+"
    },
    "ConfigurationSetNameList":{
      "type":"list",
      "member":{"shape":"ConfigurationSetNameOrArn"},
      "max":5,
      "min":0
    },
    "ConfigurationSetNameOrArn":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[A-Za-z0-9_:/-]+"
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"},
        "Reason":{
          "shape":"ConflictExceptionReason",
          "documentation":"<p>The reason for the exception.</p>"
        },
        "ResourceType":{
          "shape":"ResourceType",
          "documentation":"<p>The type of resource that caused the exception.</p>"
        },
        "ResourceId":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the request.</p>"
        }
      },
      "documentation":"<p>Your request has conflicting operations. This can occur if you're trying to perform more than one operation on the same resource at the same time or it could be that the requested action isn't valid for the current state or configuration of the resource.</p>",
      "exception":true
    },
    "ConflictExceptionReason":{
      "type":"string",
      "enum":[
        "CREATE_REGISTRATION_VERSION_NOT_ALLOWED",
        "DELETION_PROTECTION_ENABLED",
        "DESTINATION_PHONE_NUMBER_NOT_VERIFIED",
        "DESTINATION_PHONE_NUMBER_OPTED_OUT",
        "DISASSOCIATE_REGISTRATION_NOT_ALLOWED",
        "DISCARD_REGISTRATION_VERSION_NOT_ALLOWED",
        "EDIT_REGISTRATION_FIELD_VALUES_NOT_ALLOWED",
        "EVENT_DESTINATION_MISMATCH",
        "KEYWORD_MISMATCH",
        "LAST_PHONE_NUMBER",
        "NUMBER_CAPABILITIES_MISMATCH",
        "MESSAGE_TYPE_MISMATCH",
        "NO_ORIGINATION_IDENTITIES_FOUND",
        "OPT_OUT_LIST_MISMATCH",
        "PHONE_NUMBER_ASSOCIATED_TO_POOL",
        "PHONE_NUMBER_ASSOCIATED_TO_REGISTRATION",
        "PHONE_NUMBER_NOT_ASSOCIATED_TO_POOL",
        "PHONE_NUMBER_NOT_IN_REGISTRATION_REGION",
        "REGISTRATION_ALREADY_SUBMITTED",
        "REGISTRATION_NOT_COMPLETE",
        "SENDER_ID_ASSOCIATED_TO_POOL",
        "RESOURCE_ALREADY_EXISTS",
        "RESOURCE_DELETION_NOT_ALLOWED",
        "RESOURCE_MODIFICATION_NOT_ALLOWED",
        "RESOURCE_NOT_ACTIVE",
        "RESOURCE_NOT_EMPTY",
        "SELF_MANAGED_OPT_OUTS_MISMATCH",
        "SUBMIT_REGISTRATION_VERSION_NOT_ALLOWED",
        "TWO_WAY_CONFIG_MISMATCH",
        "VERIFICATION_CODE_EXPIRED",
        "VERIFICATION_ALREADY_COMPLETE",
        "PROTECT_CONFIGURATION_IS_ACCOUNT_DEFAULT",
        "PROTECT_CONFIGURATION_ASSOCIATED_WITH_CONFIGURATION_SET",
        "PROTECT_CONFIGURATION_NOT_ASSOCIATED_WITH_CONFIGURATION_SET",
        "DESTINATION_COUNTRY_BLOCKED_BY_PROTECT_CONFIGURATION",
        "DESTINATION_PHONE_NUMBER_BLOCKED_BY_PROTECT_NUMBER_OVERRIDE"
      ]
    },
    "ContextKey":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"\\S+"
    },
    "ContextMap":{
      "type":"map",
      "key":{"shape":"ContextKey"},
      "value":{"shape":"ContextValue"},
      "max":5,
      "min":0
    },
    "ContextValue":{
      "type":"string",
      "max":800,
      "min":1,
      "pattern":"(?!\\s)^[\\s\\S]+(?<!\\s)"
    },
    "CreateConfigurationSetRequest":{
      "type":"structure",
      "required":["ConfigurationSetName"],
      "members":{
        "ConfigurationSetName":{
          "shape":"ConfigurationSetName",
          "documentation":"<p>The name to use for the new configuration set.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>An array of key and value pair tags that's associated with the new configuration set. </p>"
        },
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don't specify a client token, a randomly generated token is used for the request to ensure idempotency.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateConfigurationSetResult":{
      "type":"structure",
      "members":{
        "ConfigurationSetArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the newly created configuration set.</p>"
        },
        "ConfigurationSetName":{
          "shape":"ConfigurationSetName",
          "documentation":"<p>The name of the new configuration set.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>An array of key and value pair tags that's associated with the configuration set.</p>"
        },
        "CreatedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The time when the configuration set was created, in <a href=\"https://www.epochconverter.com/\">UNIX epoch time</a> format.</p>"
        }
      }
    },
    "CreateEventDestinationRequest":{
      "type":"structure",
      "required":[
        "ConfigurationSetName",
        "EventDestinationName",
        "MatchingEventTypes"
      ],
      "members":{
        "ConfigurationSetName":{
          "shape":"ConfigurationSetNameOrArn",
          "documentation":"<p>Either the name of the configuration set or the configuration set ARN to apply event logging to. The ConfigurateSetName and ConfigurationSetArn can be found using the <a>DescribeConfigurationSets</a> action.</p>"
        },
        "EventDestinationName":{
          "shape":"EventDestinationName",
          "documentation":"<p>The name that identifies the event destination.</p>"
        },
        "MatchingEventTypes":{
          "shape":"EventTypeList",
          "documentation":"<p>An array of event types that determine which events to log. If \"ALL\" is used, then AWS End User Messaging SMS and Voice logs every event type.</p> <note> <p>The <code>TEXT_SENT</code> event type is not supported.</p> </note>"
        },
        "CloudWatchLogsDestination":{
          "shape":"CloudWatchLogsDestination",
          "documentation":"<p>An object that contains information about an event destination for logging to Amazon CloudWatch Logs.</p>"
        },
        "KinesisFirehoseDestination":{
          "shape":"KinesisFirehoseDestination",
          "documentation":"<p>An object that contains information about an event destination for logging to Amazon Data Firehose.</p>"
        },
        "SnsDestination":{
          "shape":"SnsDestination",
          "documentation":"<p>An object that contains information about an event destination for logging to Amazon SNS.</p>"
        },
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don't specify a client token, a randomly generated token is used for the request to ensure idempotency.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateEventDestinationResult":{
      "type":"structure",
      "members":{
        "ConfigurationSetArn":{
          "shape":"String",
          "documentation":"<p>The ARN of the configuration set.</p>"
        },
        "ConfigurationSetName":{
          "shape":"ConfigurationSetName",
          "documentation":"<p>The name of the configuration set.</p>"
        },
        "EventDestination":{
          "shape":"EventDestination",
          "documentation":"<p>The details of the destination where events are logged.</p>"
        }
      }
    },
    "CreateOptOutListRequest":{
      "type":"structure",
      "required":["OptOutListName"],
      "members":{
        "OptOutListName":{
          "shape":"OptOutListName",
          "documentation":"<p>The name of the new OptOutList.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>An array of tags (key and value pairs) to associate with the new OptOutList.</p>"
        },
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don't specify a client token, a randomly generated token is used for the request to ensure idempotency.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateOptOutListResult":{
      "type":"structure",
      "members":{
        "OptOutListArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) for the OptOutList.</p>"
        },
        "OptOutListName":{
          "shape":"OptOutListName",
          "documentation":"<p>The name of the new OptOutList.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>An array of tags (key and value pairs) associated with the new OptOutList.</p>"
        },
        "CreatedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The time when the pool was created, in <a href=\"https://www.epochconverter.com/\">UNIX epoch time</a> format.</p>"
        }
      }
    },
    "CreatePoolRequest":{
      "type":"structure",
      "required":[
        "OriginationIdentity",
        "IsoCountryCode",
        "MessageType"
      ],
      "members":{
        "OriginationIdentity":{
          "shape":"PhoneOrSenderIdOrArn",
          "documentation":"<p>The origination identity to use such as a PhoneNumberId, PhoneNumberArn, SenderId or SenderIdArn. You can use <a>DescribePhoneNumbers</a> to find the values for PhoneNumberId and PhoneNumberArn while <a>DescribeSenderIds</a> can be used to get the values for SenderId and SenderIdArn.</p> <p>After the pool is created you can add more origination identities to the pool by using <a href=\"https://docs.aws.amazon.com/pinpoint/latest/apireference_smsvoicev2/API_AssociateOriginationIdentity.html\">AssociateOriginationIdentity</a>.</p> <important> <p>If you are using a shared AWS End User Messaging SMS and Voice resource then you must use the full Amazon Resource Name(ARN).</p> </important>"
        },
        "IsoCountryCode":{
          "shape":"IsoCountryCode",
          "documentation":"<p>The new two-character code, in ISO 3166-1 alpha-2 format, for the country or region of the new pool.</p>"
        },
        "MessageType":{
          "shape":"MessageType",
          "documentation":"<p>The type of message. Valid values are TRANSACTIONAL for messages that are critical or time-sensitive and PROMOTIONAL for messages that aren't critical or time-sensitive. After the pool is created the MessageType can't be changed.</p>"
        },
        "DeletionProtectionEnabled":{
          "shape":"Boolean",
          "documentation":"<p>By default this is set to false. When set to true the pool can't be deleted. You can change this value using the <a>UpdatePool</a> action.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>An array of tags (key and value pairs) associated with the pool.</p>"
        },
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don't specify a client token, a randomly generated token is used for the request to ensure idempotency.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreatePoolResult":{
      "type":"structure",
      "members":{
        "PoolArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) for the pool.</p>"
        },
        "PoolId":{
          "shape":"String",
          "documentation":"<p>The unique identifier for the pool.</p>"
        },
        "Status":{
          "shape":"PoolStatus",
          "documentation":"<p>The current status of the pool.</p> <ul> <li> <p>CREATING: The pool is currently being created and isn't yet available for use.</p> </li> <li> <p>ACTIVE: The pool is active and available for use.</p> </li> <li> <p>DELETING: The pool is being deleted.</p> </li> </ul>"
        },
        "MessageType":{
          "shape":"MessageType",
          "documentation":"<p>The type of message for the pool to use.</p>"
        },
        "TwoWayEnabled":{
          "shape":"PrimitiveBoolean",
          "documentation":"<p>By default this is set to false. When set to true you can receive incoming text messages from your end recipients.</p>"
        },
        "TwoWayChannelArn":{
          "shape":"TwoWayChannelArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the two way channel.</p>"
        },
        "TwoWayChannelRole":{
          "shape":"IamRoleArn",
          "documentation":"<p>An optional IAM Role Arn for a service to assume, to be able to post inbound SMS messages.</p>"
        },
        "SelfManagedOptOutsEnabled":{
          "shape":"PrimitiveBoolean",
[...]
