/* Unmodified Inter v4.1 variable fonts. */

@font-face {
  font-family: 'Inter Admin';
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url('./InterVariable.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter Admin';
  font-style: italic;
  font-display: swap;
  font-weight: 100 900;
  src: url('./InterVariable-Italic.woff2') format('woff2');
}
