{{!< default}}
<section class="content-view-container">
    <section class="content-list js-content-list">
      <header class="floatingheader">
          <section class="content-filter">
              <span>All Posts</span>
          </section>
          <a href="/ghost/editor/" class="button button-add"><span class="hidden">New Post</span></a>
      </header>
      <section class="content-list-content">
          <ol></ol>
      </section>
    </section>

    <section class="content-preview js-content-preview">
    </section>
</section>