{{#contentFor 'bodyScripts'}}
    <script src="{{assetPath '/public/assets/vendor/chart.min'}}"></script>
    <script>
    $(document).ready(function(){
          var ctx = $("#poststats").get(0).getContext("2d");
          var data = [
            {
              value: 9,
              color:"#9ec14a"
            },
            {
              value : 4,
              color : "#f9e15d"
            },
            {
              value : 2,
              color : "#EB5700"
            }
          ];
          var options = {
            animationEasing: 'easeOutQuart',
            percentageInnerCutout: 60,
            segmentStrokeColor : "#efefef"
          };
          var poststats = new Chart(ctx).Doughnut(data, options);
    });
    </script>
{{/contentFor}}

{{!< default}}
<section class="js-widget-container">
</section>