{{!< default}}
<div id="debug-page" class="wrapper">
    <aside class="settings-sidebar" role="complementary">
        <header>
            <h1 class="title">Ugly Debug Tools</h1>
        </header>
        <nav class="settings-menu">
            <ul>
                <li><a class="general" href="javascript:void(0);">General</a></li>
            </ul>
        </nav>
    </aside>
    <section id="debug-general" class="settings-content" style="display: block">
        <header>
            <h2 class="title">General</h2>
        </header>
        <section class="content">
            <form id="settings-export">
                <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                <fieldset>
                    <div class="form-group">
                        <label>Export</label>
                        <a href="{{adminUrl}}/api/v0.1/db/" class="button-save">Export</a>
                        <p>Export the blog settings and data.</p>
                    </div>
                </fieldset>
            </form>
            <form id="settings-import" enctype="multipart/form-data">
                <fieldset>
                    <div class="form-group">
                        <label>Import</label>
                        <input type="file" class="button-add" name="importfile" id="importfile" />
                        <button type="submit" class="button-save" value="Import" id="startupload" >Import</button>
                        <p>Import from another Ghost installation. If you import a user, this will replace the current user & log you out.</p>
                    </div>
                </fieldset>
            </form>
            <form id="settings-resetdb">
                <fieldset>
                    <div class="form-group">
                        <label>Delete all Content</label>
                        <a href="javascript:void(0);" class="button-delete js-delete">Delete</a>
                        <p>Delete all posts and tags from the database.</p>
                    </div>
                </fieldset>
            </form>
        </section>
    </section>
</div>
