{{!< default}}
<div id="debug-page" class="wrapper">
    <aside class="settings-sidebar" role="complementary">
        <header>
            <h1 class="title">Ugly Debug Tools</h1>
        </header>
        <nav class="settings-menu">
            <ul>
                <li><a class="general" href="javascript:void(0);">General</a></li>
            </ul>
        </nav>
    </aside>
    <section id="debug-general" class="settings-content" style="display: block">
        <header>
            <h2 class="title">General</h2>
        </header>
        <section class="content">
            <form id="settings-export">
                <fieldset>
                    <div class="form-group">
                        <label>Export</label>
                        <a href="/ghost/debug/db/export/" class="button-save">Export</a>
                        <p>Export the blog settings and data.</p>
                    </div>
                </fieldset>
            </form>
            <form id="settings-import" method="post" action="/ghost/debug/db/import/" enctype="multipart/form-data">
                <fieldset>
                    <div class="form-group">
                        <label>Import</label>
                        <input type="file" class="button-add" name="importfile"></input>
                        <input type="submit" class="button-save" value="Import"></input>
                        <p>Import from another Ghost installation. If you import a user, this will replace the current user & log you out.</p>
                    </div>
                </fieldset>
            </form>
            <form id="settings-resetdb">
                <fieldset>
                    <div class="form-group">
                        <label>Reset Database</label>
                        <a href="/ghost/debug/db/reset/" class="button-delete">Reset</a>
                        <p>Delete the entire database so you can start again with empty tables</p>
                    </div>
                </fieldset>
            </form>
        </section>
    </section>
</div>