{{!< default}}
{{! TODO: Add "scrolling" class only when one of the panels is scrolled down by 5px or more }}
<section class="entry-container">
    <header>
        <section class="box entry-title">
            <input type="text" id="entry-title"
                   placeholder="Your Post Title"
                   value="" tabindex="1">
        </section>
    </header>

    <section class="entry-markdown active">
        <header class="floatingheader">
            Markdown
            <a class="markdown-help" href="#"><span class="hidden">What is Markdown?</span></a>
        </header>
        <section class="entry-markdown-content">
            <textarea id="entry-markdown"></textarea>
        </section>
    </section>{{!.entry-markdown}}

    <section class="entry-preview">
        <header class="floatingheader">
            Preview <span class="entry-word-count js-entry-word-count">0 words</span>
        </header>
        <section class="entry-preview-content">
            <div class="rendered-markdown">
                {{!The content gets inserted in here, bitches!}}
            </div>
        </section>
    </section>{{!.entry-preview}}
</section>
<footer id="publish-bar">
    <nav>
        <section id="entry-tags" href="#" class="left">
            <label class="tag-label" for="tags"><span class="hidden">Tags</span></label>
            <div class="tags"></div>
            <input type="hidden" class="tags-holder" id="tags-holder">
            <input class="tag-input" id="tags" type="text" data-input-behaviour="tag" />
            <ul class="suggestions overlay"></ul>
        </section>
        <div class="right">

            <section id="entry-controls">
                <a class="entry-settings" href="#" data-toggle=".entry-settings-menu"><span class="hidden">Post Settings</span></a>
                <ul class="entry-settings-menu menu-right overlay">
                    <li class="post-setting">
                        <div class="post-setting-label">
                            <label for="url">URL</label>
                        </div>
                        <div class="post-setting-field">
                            <input id="url" class="post-setting-slug" type="text" value="" />
                        </div>
                    </li>
                    <li class="post-setting">
                        <div class="post-setting-label">
                            <label for="pub-date">Pub Date</label>
                        </div>
                        <div class="post-setting-field">
                            <input id="pub-date" class="post-setting-date" type="text" value=""><!--<span class="post-setting-calendar"></span>-->
                        </div>
                    </li>
                    <li><a href="#" class="delete hidden">Delete This Post</a></li>
                </ul>
            </section>

            <section id="entry-actions" class="js-publish-splitbutton splitbutton-save">
                <button type="button" class="js-publish-button button-save"></button>
                <a class="options up" data-toggle="ul" href="#"><span class="hidden">Options</span></a>
                <ul class="editor-options overlay" style="display:none">
                    <li data-set-status="published"><a href="#"></a></li>
                    <li data-set-status="draft"><a href="#"></a></li>
                </ul>
            </section>
        </div>
    </nav>
</footer>
