{{!< default}}
<section class="entry-container">
    <header>
        <section class="box entry-title">
            <input type="text" id="entry-title"
                   placeholder="Your Post Title"
                   value="" tabindex="1">
        </section>
    </header>

    <section class="entry-markdown active">
        <header class="floatingheader">
            <small>Markdown</small>
            <a class="markdown-help" href="#"><span class="hidden">What is Markdown?</span></a>
        </header>
        <section id="entry-markdown-content" class="entry-markdown-content" data-filestorage={{fileStorage}}>
            <textarea id="entry-markdown"></textarea>
        </section>
    </section>{{!.entry-markdown}}

    <section class="entry-preview">
        <header class="floatingheader">
            <small>Preview <span class="entry-word-count js-entry-word-count">0 words</span></small>
        </header>
        <section class="entry-preview-content">
            <div class="rendered-markdown">
                {{!The content gets inserted in here, fuckers!}}
            </div>
        </section>
    </section>{{!.entry-preview}}
</section>
<footer id="publish-bar">
    <nav>
        <section id="entry-tags" href="#" class="left">
            <label class="tag-label" for="tags" title="Tags"><span class="hidden">Tags</span></label>
            <div class="tags"></div>
            <input type="hidden" class="tags-holder" id="tags-holder">
            <input class="tag-input" id="tags" type="text" data-input-behaviour="tag" />
            <ul class="suggestions overlay"></ul>
        </section>
        <div class="right">

            <section id="entry-controls">
                <a class="post-settings" href="#" data-toggle=".post-settings-menu" title="Post Settings"><span class="hidden">Post Settings</span></a>
                <div class="post-settings-menu menu-right overlay">
                    <form>
                        <table class="plain">
                            <tr class="post-setting">
                                <td class="post-setting-label">
                                    <label for="url">URL</label>
                                </td>
                                <td class="post-setting-field">
                                    <input id="url" class="post-setting-slug" type="text" placeholder="" value="" />
                                </td>
                            </tr>
                            <tr class="post-setting">
                                <td class="post-setting-label">
                                    <label for="pub-date">Pub Date</label>
                                </td>
                                <td class="post-setting-field">
                                    <input id="pub-date" class="post-setting-date" type="text" placeholder="Now" value=""><!--<span class="post-setting-calendar"></span>-->
                                </td>
                            </tr>
                            <tr class="post-setting">
                                <td class="post-setting-label">
                                    <span class="label">Static Page</span>
                                </td>
                                <td class="post-setting-item">
                                    <input id="static-page" class="post-setting-static-page" type="checkbox" value="">
                                    <label class="checkbox" for="static-page"></label>
                                </td>
                            </tr>
                        </table>
                    </form>
                    <a class="delete" href="#">Delete This Post</a>
                </div>
            </section>

            <section id="entry-actions" class="js-publish-splitbutton splitbutton-save">
                <button type="button" class="js-publish-button button-save"></button>
                <a class="options up" data-toggle="ul" href="#" title="Post Settings"><span class="hidden">Post Settings</span></a>
                <ul class="editor-options overlay" style="display:none">
                    <li data-set-status="published"><a href="#"></a></li>
                    <li data-set-status="draft"><a href="#"></a></li>
                </ul>
            </section>
        </div>
    </nav>
</footer>
