{{!< default}}
<div class="wrapper">
    <aside class="settings-sidebar" role="complementary" data-apps={{apps}}>

    </aside>

    <section class="settings-content" data-filestorage={{file_storage}}></section>
</div>