<button type="button" class="absolute top-6 left-6 w6" title="Previous step" {{on "click" this.goBack}} data-test-button="wizard-back">
    {{svg-jar "arrow-left"}}
    <span class="hidden">Go to previous step</span>
</button>

<section class="ma19">
    <h2>Congrats</h2>
    <div class="flex mb4 br3 bg-white">
        <div class="pa4">You're all set up!</div>
    </div>
    <button type="button" class="right gh-btn gh-btn-blue" {{on "click" this.finish}} data-test-button="wizard-next"><span>Start publishing</span></button>
</section>