{{!< default}}

{{#post}}
{{> "breadcrumb" heading=title}}

<!-- blog details begin -->
<div class="blog-details">
  <div class="container">
    <div class="part-post">
      <div class="part-text">
        <h2 class="title">{{title}}</h2>
        {{content}}
      </div>
    </div>
  </div>
</div>

{{/post}}
