<div class="modal-content" data-test-modal="get-started">
    <button type="button" class="close" role="button" title="Close" {{on "click" @close}}>{{svg-jar "close"}}<span class="hidden">Close</span></button>

    <div class="tc f4">
        <h1>You're all set!</h1>
        <p>Your site is ready to start publishing content and sending newsletters.</p>
        <p><LinkTo @route="editor.new" @model="post" @classNames="gh-btn gh-btn-black" {{on "click" @close}}><span>Start writing</span></LinkTo></p>
    </div>

    <div class="flex flex-row f8">
        <div class="pa4 w-50 br">
            <h3 class="tc">Paid memberships?</h3>
            <p>
                Allowing your audience to subscribe is fast and simple through Stripe. Not sure?
                <a href="https://docs.ghost.org"><span>Learn more.</span></a>
            </p>
            <p class="tc"><LinkTo @route="settings.membership" @classNames="gh-btn" {{on "click" @close}}><span>Connect Stripe</span></LinkTo></p>
        </div>
        <div class="pa4 w-50">
            <h3 class="tc">Migrating data?</h3>
            <p>Our migration tools make it quick and painless to import your content and readers from other platforms.</p>
            <p class="tc"><a href="https://docs.ghost.org" class="gh-btn" target="_blank" rel="noopener noreferer"><span>Learn more</span></a></p>
        </div>
    </div>
</div>