<div class="modal-content gh-about-modal">
    <header class="modal-header">
        <h1>Theme errors</h1>
    </header>
    <button type="button" class="close" title="Close" {{on "click" @close}}>{{svg-jar "close"}}<span class="hidden">Close</span></button>

    <div class="modal-body">
        <div>
            <h2 class="mb0 mt4 f5 fw6">Fatal Errors</h2>
            <p class="mb2">Must-fix to activate theme</p>
        </div>

        <div>[fatal errors placeholder]</div>

        <div>
            <h2 class="mb0 mt4 f5 fw6">Errors</h2>
            <p class="mb2">Highly recommended to fix, functionality <strong>could</strong> be restricted</p>
        </div>

        <div>[errors placeholder]</div>
    </div>
</div>
