<div class="modal-content" data-test-modal="delete-webhook">
    <header class="modal-header">
        <h1>Are you sure?</h1>
    </header>
    <button type="button" class="close" title="Close" {{on "click" @close}}>{{svg-jar "close"}}<span class="hidden">Close</span></button>

    <div class="modal-body">
        <p>
            Deleting this webhook may prevent the integration from functioning.
        </p>
    </div>

    <div class="modal-footer">
        <button class="gh-btn" type="button" {{on "click" @close}}><span>Cancel</span></button>
        <GhTaskButton @buttonText="Delete Webhook" @successText="Deleted" @task={{this.deleteWebhookTask}} @class="gh-btn gh-btn-red gh-btn-icon" />
    </div>
</div>