{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2009-03-31",
    "endpointPrefix":"elasticmapreduce",
    "jsonVersion":"1.1",
    "protocol":"json",
    "protocols":["json"],
    "serviceAbbreviation":"Amazon EMR",
    "serviceFullName":"Amazon EMR",
    "serviceId":"EMR",
    "signatureVersion":"v4",
    "targetPrefix":"ElasticMapReduce",
    "uid":"elasticmapreduce-2009-03-31",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AddInstanceFleet":{
      "name":"AddInstanceFleet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddInstanceFleetInput"},
      "output":{"shape":"AddInstanceFleetOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Adds an instance fleet to a running cluster.</p> <note> <p>The instance fleet configuration is available only in Amazon EMR releases 4.8.0 and later, excluding 5.0.x.</p> </note>"
    },
    "AddInstanceGroups":{
      "name":"AddInstanceGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddInstanceGroupsInput"},
      "output":{"shape":"AddInstanceGroupsOutput"},
      "errors":[
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Adds one or more instance groups to a running cluster.</p>"
    },
    "AddJobFlowSteps":{
      "name":"AddJobFlowSteps",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddJobFlowStepsInput"},
      "output":{"shape":"AddJobFlowStepsOutput"},
      "errors":[
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>AddJobFlowSteps adds new steps to a running cluster. A maximum of 256 steps are allowed in each job flow.</p> <p>If your cluster is long-running (such as a Hive data warehouse) or complex, you may require more than 256 steps to process your data. You can bypass the 256-step limitation in various ways, including using SSH to connect to the master node and submitting queries directly to the software running on the master node, such as Hive and Hadoop.</p> <p>A step specifies the location of a JAR file stored either on the master node of the cluster or in Amazon S3. Each step is performed by the main function of the main class of the JAR file. The main class can be specified either in the manifest of the JAR or by using the MainFunction parameter of the step.</p> <p>Amazon EMR executes each step in the order listed. For a step to be considered complete, the main function must exit with a zero exit code and all Hadoop jobs started while the step was running must have completed and run successfully.</p> <p>You can only add steps to a cluster that is in one of the following states: STARTING, BOOTSTRAPPING, RUNNING, or WAITING.</p> <note> <p>The string values passed into <code>HadoopJarStep</code> object cannot exceed a total of 10240 characters.</p> </note>"
    },
    "AddTags":{
      "name":"AddTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddTagsInput"},
      "output":{"shape":"AddTagsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Adds tags to an Amazon EMR resource, such as a cluster or an Amazon EMR Studio. Tags make it easier to associate resources in various ways, such as grouping clusters to track your Amazon EMR resource allocation costs. For more information, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-plan-tags.html\">Tag Clusters</a>. </p>"
    },
    "CancelSteps":{
      "name":"CancelSteps",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelStepsInput"},
      "output":{"shape":"CancelStepsOutput"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Cancels a pending step or steps in a running cluster. Available only in Amazon EMR versions 4.8.0 and later, excluding version 5.0.0. A maximum of 256 steps are allowed in each CancelSteps request. CancelSteps is idempotent but asynchronous; it does not guarantee that a step will be canceled, even if the request is successfully submitted. When you use Amazon EMR releases 5.28.0 and later, you can cancel steps that are in a <code>PENDING</code> or <code>RUNNING</code> state. In earlier versions of Amazon EMR, you can only cancel steps that are in a <code>PENDING</code> state. </p>"
    },
    "CreatePersistentAppUI":{
      "name":"CreatePersistentAppUI",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePersistentAppUIInput"},
      "output":{"shape":"CreatePersistentAppUIOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Creates a persistent application user interface.</p>"
    },
    "CreateSecurityConfiguration":{
      "name":"CreateSecurityConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSecurityConfigurationInput"},
      "output":{"shape":"CreateSecurityConfigurationOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Creates a security configuration, which is stored in the service and can be specified when a cluster is created.</p>"
    },
    "CreateStudio":{
      "name":"CreateStudio",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateStudioInput"},
      "output":{"shape":"CreateStudioOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Creates a new Amazon EMR Studio.</p>"
    },
    "CreateStudioSessionMapping":{
      "name":"CreateStudioSessionMapping",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateStudioSessionMappingInput"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Maps a user or group to the Amazon EMR Studio specified by <code>StudioId</code>, and applies a session policy to refine Studio permissions for that user or group. Use <code>CreateStudioSessionMapping</code> to assign users to a Studio when you use IAM Identity Center authentication. For instructions on how to assign users to a Studio when you use IAM authentication, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-studio-manage-users.html#emr-studio-assign-users-groups\">Assign a user or group to your EMR Studio</a>.</p>"
    },
    "DeleteSecurityConfiguration":{
      "name":"DeleteSecurityConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSecurityConfigurationInput"},
      "output":{"shape":"DeleteSecurityConfigurationOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Deletes a security configuration.</p>"
    },
    "DeleteStudio":{
      "name":"DeleteStudio",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteStudioInput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Removes an Amazon EMR Studio from the Studio metadata store.</p>"
    },
    "DeleteStudioSessionMapping":{
      "name":"DeleteStudioSessionMapping",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteStudioSessionMappingInput"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Removes a user or group from an Amazon EMR Studio.</p>"
    },
    "DescribeCluster":{
      "name":"DescribeCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClusterInput"},
      "output":{"shape":"DescribeClusterOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Provides cluster-level details including status, hardware and software configuration, VPC settings, and so on.</p>"
    },
    "DescribeJobFlows":{
      "name":"DescribeJobFlows",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeJobFlowsInput"},
      "output":{"shape":"DescribeJobFlowsOutput"},
      "errors":[
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>This API is no longer supported and will eventually be removed. We recommend you use <a>ListClusters</a>, <a>DescribeCluster</a>, <a>ListSteps</a>, <a>ListInstanceGroups</a> and <a>ListBootstrapActions</a> instead.</p> <p>DescribeJobFlows returns a list of job flows that match all of the supplied parameters. The parameters can include a list of job flow IDs, job flow states, and restrictions on job flow creation date and time.</p> <p>Regardless of supplied parameters, only job flows created within the last two months are returned.</p> <p>If no parameters are supplied, then job flows matching either of the following criteria are returned:</p> <ul> <li> <p>Job flows created and completed in the last two weeks</p> </li> <li> <p> Job flows created within the last two months that are in one of the following states: <code>RUNNING</code>, <code>WAITING</code>, <code>SHUTTING_DOWN</code>, <code>STARTING</code> </p> </li> </ul> <p>Amazon EMR can return a maximum of 512 job flow descriptions.</p>",
      "deprecated":true
    },
    "DescribeNotebookExecution":{
      "name":"DescribeNotebookExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeNotebookExecutionInput"},
      "output":{"shape":"DescribeNotebookExecutionOutput"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Provides details of a notebook execution.</p>"
    },
    "DescribePersistentAppUI":{
      "name":"DescribePersistentAppUI",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePersistentAppUIInput"},
      "output":{"shape":"DescribePersistentAppUIOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Describes a persistent application user interface.</p>"
    },
    "DescribeReleaseLabel":{
      "name":"DescribeReleaseLabel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReleaseLabelInput"},
      "output":{"shape":"DescribeReleaseLabelOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Provides Amazon EMR release label details, such as the releases available the Region where the API request is run, and the available applications for a specific Amazon EMR release label. Can also list Amazon EMR releases that support a specified version of Spark.</p>"
    },
    "DescribeSecurityConfiguration":{
      "name":"DescribeSecurityConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSecurityConfigurationInput"},
      "output":{"shape":"DescribeSecurityConfigurationOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Provides the details of a security configuration by returning the configuration JSON.</p>"
    },
    "DescribeStep":{
      "name":"DescribeStep",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStepInput"},
      "output":{"shape":"DescribeStepOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Provides more detail about the cluster step.</p>"
    },
    "DescribeStudio":{
      "name":"DescribeStudio",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStudioInput"},
      "output":{"shape":"DescribeStudioOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Returns details for the specified Amazon EMR Studio including ID, Name, VPC, Studio access URL, and so on.</p>"
    },
    "GetAutoTerminationPolicy":{
      "name":"GetAutoTerminationPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAutoTerminationPolicyInput"},
      "output":{"shape":"GetAutoTerminationPolicyOutput"},
      "documentation":"<p>Returns the auto-termination policy for an Amazon EMR cluster.</p>"
    },
    "GetBlockPublicAccessConfiguration":{
      "name":"GetBlockPublicAccessConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetBlockPublicAccessConfigurationInput"},
      "output":{"shape":"GetBlockPublicAccessConfigurationOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Returns the Amazon EMR block public access configuration for your Amazon Web Services account in the current Region. For more information see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/configure-block-public-access.html\">Configure Block Public Access for Amazon EMR</a> in the <i>Amazon EMR Management Guide</i>.</p>"
    },
    "GetClusterSessionCredentials":{
      "name":"GetClusterSessionCredentials",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetClusterSessionCredentialsInput"},
      "output":{"shape":"GetClusterSessionCredentialsOutput"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Provides temporary, HTTP basic credentials that are associated with a given runtime IAM role and used by a cluster with fine-grained access control activated. You can use these credentials to connect to cluster endpoints that support username and password authentication.</p>"
    },
    "GetManagedScalingPolicy":{
      "name":"GetManagedScalingPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetManagedScalingPolicyInput"},
      "output":{"shape":"GetManagedScalingPolicyOutput"},
      "documentation":"<p>Fetches the attached managed scaling policy for an Amazon EMR cluster. </p>"
    },
    "GetOnClusterAppUIPresignedURL":{
      "name":"GetOnClusterAppUIPresignedURL",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetOnClusterAppUIPresignedURLInput"},
      "output":{"shape":"GetOnClusterAppUIPresignedURLOutput"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>The presigned URL properties for the cluster's application user interface.</p>"
    },
    "GetPersistentAppUIPresignedURL":{
      "name":"GetPersistentAppUIPresignedURL",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPersistentAppUIPresignedURLInput"},
      "output":{"shape":"GetPersistentAppUIPresignedURLOutput"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>The presigned URL properties for the cluster's application user interface.</p>"
    },
    "GetStudioSessionMapping":{
      "name":"GetStudioSessionMapping",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetStudioSessionMappingInput"},
      "output":{"shape":"GetStudioSessionMappingOutput"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Fetches mapping details for the specified Amazon EMR Studio and identity (user or group).</p>"
    },
    "ListBootstrapActions":{
      "name":"ListBootstrapActions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListBootstrapActionsInput"},
      "output":{"shape":"ListBootstrapActionsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Provides information about the bootstrap actions associated with a cluster.</p>"
    },
    "ListClusters":{
      "name":"ListClusters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListClustersInput"},
      "output":{"shape":"ListClustersOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Provides the status of all clusters visible to this Amazon Web Services account. Allows you to filter the list of clusters based on certain criteria; for example, filtering by cluster creation date and time or by status. This call returns a maximum of 50 clusters in unsorted order per call, but returns a marker to track the paging of the cluster list across multiple ListClusters calls.</p>"
    },
    "ListInstanceFleets":{
      "name":"ListInstanceFleets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListInstanceFleetsInput"},
      "output":{"shape":"ListInstanceFleetsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Lists all available details about the instance fleets in a cluster.</p> <note> <p>The instance fleet configuration is available only in Amazon EMR releases 4.8.0 and later, excluding 5.0.x versions.</p> </note>"
    },
    "ListInstanceGroups":{
      "name":"ListInstanceGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListInstanceGroupsInput"},
      "output":{"shape":"ListInstanceGroupsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Provides all available details about the instance groups in a cluster.</p>"
    },
    "ListInstances":{
      "name":"ListInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListInstancesInput"},
      "output":{"shape":"ListInstancesOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Provides information for all active Amazon EC2 instances and Amazon EC2 instances terminated in the last 30 days, up to a maximum of 2,000. Amazon EC2 instances in any of the following states are considered active: AWAITING_FULFILLMENT, PROVISIONING, BOOTSTRAPPING, RUNNING.</p>"
    },
    "ListNotebookExecutions":{
      "name":"ListNotebookExecutions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListNotebookExecutionsInput"},
      "output":{"shape":"ListNotebookExecutionsOutput"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Provides summaries of all notebook executions. You can filter the list based on multiple criteria such as status, time range, and editor id. Returns a maximum of 50 notebook executions and a marker to track the paging of a longer notebook execution list across multiple <code>ListNotebookExecutions</code> calls.</p>"
    },
    "ListReleaseLabels":{
      "name":"ListReleaseLabels",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListReleaseLabelsInput"},
      "output":{"shape":"ListReleaseLabelsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Retrieves release labels of Amazon EMR services in the Region where the API is called.</p>"
    },
    "ListSecurityConfigurations":{
      "name":"ListSecurityConfigurations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSecurityConfigurationsInput"},
      "output":{"shape":"ListSecurityConfigurationsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Lists all the security configurations visible to this account, providing their creation dates and times, and their names. This call returns a maximum of 50 clusters per call, but returns a marker to track the paging of the cluster list across multiple ListSecurityConfigurations calls.</p>"
    },
    "ListSteps":{
      "name":"ListSteps",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListStepsInput"},
      "output":{"shape":"ListStepsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Provides a list of steps for the cluster in reverse order unless you specify <code>stepIds</code> with the request or filter by <code>StepStates</code>. You can specify a maximum of 10 <code>stepIDs</code>. The CLI automatically paginates results to return a list greater than 50 steps. To return more than 50 steps using the CLI, specify a <code>Marker</code>, which is a pagination token that indicates the next set of steps to retrieve.</p>"
    },
    "ListStudioSessionMappings":{
      "name":"ListStudioSessionMappings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListStudioSessionMappingsInput"},
      "output":{"shape":"ListStudioSessionMappingsOutput"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Returns a list of all user or group session mappings for the Amazon EMR Studio specified by <code>StudioId</code>.</p>"
    },
    "ListStudios":{
      "name":"ListStudios",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListStudiosInput"},
      "output":{"shape":"ListStudiosOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Returns a list of all Amazon EMR Studios associated with the Amazon Web Services account. The list includes details such as ID, Studio Access URL, and creation time for each Studio.</p>"
    },
    "ListSupportedInstanceTypes":{
      "name":"ListSupportedInstanceTypes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSupportedInstanceTypesInput"},
      "output":{"shape":"ListSupportedInstanceTypesOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>A list of the instance types that Amazon EMR supports. You can filter the list by Amazon Web Services Region and Amazon EMR release. </p>"
    },
    "ModifyCluster":{
      "name":"ModifyCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyClusterInput"},
      "output":{"shape":"ModifyClusterOutput"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Modifies the number of steps that can be executed concurrently for the cluster specified using ClusterID.</p>"
    },
    "ModifyInstanceFleet":{
      "name":"ModifyInstanceFleet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyInstanceFleetInput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Modifies the target On-Demand and target Spot capacities for the instance fleet with the specified InstanceFleetID within the cluster specified using ClusterID. The call either succeeds or fails atomically.</p> <note> <p>The instance fleet configuration is available only in Amazon EMR releases 4.8.0 and later, excluding 5.0.x versions.</p> </note>"
    },
    "ModifyInstanceGroups":{
      "name":"ModifyInstanceGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyInstanceGroupsInput"},
      "errors":[
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>ModifyInstanceGroups modifies the number of nodes and configuration settings of an instance group. The input parameters include the new target instance count for the group and the instance group ID. The call will either succeed or fail atomically.</p>"
    },
    "PutAutoScalingPolicy":{
      "name":"PutAutoScalingPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutAutoScalingPolicyInput"},
      "output":{"shape":"PutAutoScalingPolicyOutput"},
      "documentation":"<p>Creates or updates an automatic scaling policy for a core instance group or task instance group in an Amazon EMR cluster. The automatic scaling policy defines how an instance group dynamically adds and terminates Amazon EC2 instances in response to the value of a CloudWatch metric.</p>"
    },
    "PutAutoTerminationPolicy":{
      "name":"PutAutoTerminationPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutAutoTerminationPolicyInput"},
      "output":{"shape":"PutAutoTerminationPolicyOutput"},
      "documentation":"<note> <p>Auto-termination is supported in Amazon EMR releases 5.30.0 and 6.1.0 and later. For more information, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-auto-termination-policy.html\">Using an auto-termination policy</a>.</p> </note> <p>Creates or updates an auto-termination policy for an Amazon EMR cluster. An auto-termination policy defines the amount of idle time in seconds after which a cluster automatically terminates. For alternative cluster termination options, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-plan-termination.html\">Control cluster termination</a>.</p>"
    },
    "PutBlockPublicAccessConfiguration":{
      "name":"PutBlockPublicAccessConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutBlockPublicAccessConfigurationInput"},
      "output":{"shape":"PutBlockPublicAccessConfigurationOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Creates or updates an Amazon EMR block public access configuration for your Amazon Web Services account in the current Region. For more information see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/configure-block-public-access.html\">Configure Block Public Access for Amazon EMR</a> in the <i>Amazon EMR Management Guide</i>.</p>"
    },
    "PutManagedScalingPolicy":{
      "name":"PutManagedScalingPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutManagedScalingPolicyInput"},
      "output":{"shape":"PutManagedScalingPolicyOutput"},
      "documentation":"<p>Creates or updates a managed scaling policy for an Amazon EMR cluster. The managed scaling policy defines the limits for resources, such as Amazon EC2 instances that can be added or terminated from a cluster. The policy only applies to the core and task nodes. The master node cannot be scaled after initial configuration. </p>"
    },
    "RemoveAutoScalingPolicy":{
      "name":"RemoveAutoScalingPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveAutoScalingPolicyInput"},
      "output":{"shape":"RemoveAutoScalingPolicyOutput"},
      "documentation":"<p>Removes an automatic scaling policy from a specified instance group within an Amazon EMR cluster.</p>"
    },
    "RemoveAutoTerminationPolicy":{
      "name":"RemoveAutoTerminationPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveAutoTerminationPolicyInput"},
      "output":{"shape":"RemoveAutoTerminationPolicyOutput"},
      "documentation":"<p>Removes an auto-termination policy from an Amazon EMR cluster.</p>"
    },
    "RemoveManagedScalingPolicy":{
      "name":"RemoveManagedScalingPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveManagedScalingPolicyInput"},
      "output":{"shape":"RemoveManagedScalingPolicyOutput"},
      "documentation":"<p> Removes a managed scaling policy from a specified Amazon EMR cluster. </p>"
    },
    "RemoveTags":{
      "name":"RemoveTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveTagsInput"},
      "output":{"shape":"RemoveTagsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Removes tags from an Amazon EMR resource, such as a cluster or Amazon EMR Studio. Tags make it easier to associate resources in various ways, such as grouping clusters to track your Amazon EMR resource allocation costs. For more information, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-plan-tags.html\">Tag Clusters</a>. </p> <p>The following example removes the stack tag with value Prod from a cluster:</p>"
    },
    "RunJobFlow":{
      "name":"RunJobFlow",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RunJobFlowInput"},
      "output":{"shape":"RunJobFlowOutput"},
      "errors":[
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>RunJobFlow creates and starts running a new cluster (job flow). The cluster runs the steps specified. After the steps complete, the cluster stops and the HDFS partition is lost. To prevent loss of data, configure the last step of the job flow to store results in Amazon S3. If the <a>JobFlowInstancesConfig</a> <code>KeepJobFlowAliveWhenNoSteps</code> parameter is set to <code>TRUE</code>, the cluster transitions to the WAITING state rather than shutting down after the steps have completed. </p> <p>For additional protection, you can set the <a>JobFlowInstancesConfig</a> <code>TerminationProtected</code> parameter to <code>TRUE</code> to lock the cluster and prevent it from being terminated by API call, user intervention, or in the event of a job flow error.</p> <p>A maximum of 256 steps are allowed in each job flow.</p> <p>If your cluster is long-running (such as a Hive data warehouse) or complex, you may require more than 256 steps to process your data. You can bypass the 256-step limitation in various ways, including using the SSH shell to connect to the master node and submitting queries directly to the software running on the master node, such as Hive and Hadoop.</p> <p>For long-running clusters, we recommend that you periodically store your results.</p> <note> <p>The instance fleets configuration is available only in Amazon EMR releases 4.8.0 and later, excluding 5.0.x versions. The RunJobFlow request can contain InstanceFleets parameters or InstanceGroups parameters, but not both.</p> </note>"
    },
    "SetKeepJobFlowAliveWhenNoSteps":{
      "name":"SetKeepJobFlowAliveWhenNoSteps",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetKeepJobFlowAliveWhenNoStepsInput"},
      "errors":[
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>You can use the <code>SetKeepJobFlowAliveWhenNoSteps</code> to configure a cluster (job flow) to terminate after the step execution, i.e., all your steps are executed. If you want a transient cluster that shuts down after the last of the current executing steps are completed, you can configure <code>SetKeepJobFlowAliveWhenNoSteps</code> to false. If you want a long running cluster, configure <code>SetKeepJobFlowAliveWhenNoSteps</code> to true.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/UsingEMR_TerminationProtection.html\">Managing Cluster Termination</a> in the <i>Amazon EMR Management Guide</i>.</p>"
    },
    "SetTerminationProtection":{
      "name":"SetTerminationProtection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetTerminationProtectionInput"},
      "errors":[
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>SetTerminationProtection locks a cluster (job flow) so the Amazon EC2 instances in the cluster cannot be terminated by user intervention, an API call, or in the event of a job-flow error. The cluster still terminates upon successful completion of the job flow. Calling <code>SetTerminationProtection</code> on a cluster is similar to calling the Amazon EC2 <code>DisableAPITermination</code> API on all Amazon EC2 instances in a cluster.</p> <p> <code>SetTerminationProtection</code> is used to prevent accidental termination of a cluster and to ensure that in the event of an error, the instances persist so that you can recover any data stored in their ephemeral instance storage.</p> <p> To terminate a cluster that has been locked by setting <code>SetTerminationProtection</code> to <code>true</code>, you must first unlock the job flow by a subsequent call to <code>SetTerminationProtection</code> in which you set the value to <code>false</code>. </p> <p> For more information, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/UsingEMR_TerminationProtection.html\">Managing Cluster Termination</a> in the <i>Amazon EMR Management Guide</i>. </p>"
    },
    "SetUnhealthyNodeReplacement":{
      "name":"SetUnhealthyNodeReplacement",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetUnhealthyNodeReplacementInput"},
      "errors":[
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Specify whether to enable unhealthy node replacement, which lets Amazon EMR gracefully replace core nodes on a cluster if any nodes become unhealthy. For example, a node becomes unhealthy if disk usage is above 90%. If unhealthy node replacement is on and <code>TerminationProtected</code> are off, Amazon EMR immediately terminates the unhealthy core nodes. To use unhealthy node replacement and retain unhealthy core nodes, use to turn on termination protection. In such cases, Amazon EMR adds the unhealthy nodes to a denylist, reducing job interruptions and failures.</p> <p>If unhealthy node replacement is on, Amazon EMR notifies YARN and other applications on the cluster to stop scheduling tasks with these nodes, moves the data, and then terminates the nodes.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-plan-node-replacement.html\">graceful node replacement</a> in the <i>Amazon EMR Management Guide</i>.</p>"
    },
    "SetVisibleToAllUsers":{
      "name":"SetVisibleToAllUsers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetVisibleToAllUsersInput"},
      "errors":[
        {"shape":"InternalServerError"}
      ],
      "documentation":"<important> <p>The SetVisibleToAllUsers parameter is no longer supported. Your cluster may be visible to all users in your account. To restrict cluster access using an IAM policy, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-plan-access-IAM.html\">Identity and Access Management for Amazon EMR</a>. </p> </important> <p>Sets the <a>Cluster$VisibleToAllUsers</a> value for an Amazon EMR cluster. When <code>true</code>, IAM principals in the Amazon Web Services account can perform Amazon EMR cluster actions that their IAM policies allow. When <code>false</code>, only the IAM principal that created the cluster and the Amazon Web Services account root user can perform Amazon EMR actions on the cluster, regardless of IAM permissions policies attached to other IAM principals.</p> <p>This action works on running clusters. When you create a cluster, use the <a>RunJobFlowInput$VisibleToAllUsers</a> parameter.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/security_IAM_emr-with-IAM.html#security_set_visible_to_all_users\">Understanding the Amazon EMR Cluster VisibleToAllUsers Setting</a> in the <i>Amazon EMR Management Guide</i>.</p>"
    },
    "StartNotebookExecution":{
      "name":"StartNotebookExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartNotebookExecutionInput"},
      "output":{"shape":"StartNotebookExecutionOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Starts a notebook execution.</p>"
    },
    "StopNotebookExecution":{
      "name":"StopNotebookExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopNotebookExecutionInput"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Stops a notebook execution.</p>"
    },
    "TerminateJobFlows":{
      "name":"TerminateJobFlows",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TerminateJobFlowsInput"},
      "errors":[
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>TerminateJobFlows shuts a list of clusters (job flows) down. When a job flow is shut down, any step not yet completed is canceled and the Amazon EC2 instances on which the cluster is running are stopped. Any log files not already saved are uploaded to Amazon S3 if a LogUri was specified when the cluster was created.</p> <p>The maximum number of clusters allowed is 10. The call to <code>TerminateJobFlows</code> is asynchronous. Depending on the configuration of the cluster, it may take up to 1-5 minutes for the cluster to completely terminate and release allocated resources, such as Amazon EC2 instances.</p>"
    },
    "UpdateStudio":{
      "name":"UpdateStudio",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateStudioInput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Updates an Amazon EMR Studio configuration, including attributes such as name, description, and subnets.</p>"
    },
    "UpdateStudioSessionMapping":{
      "name":"UpdateStudioSessionMapping",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateStudioSessionMappingInput"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Updates the session policy attached to the user or group for the specified Amazon EMR Studio.</p>"
    }
  },
  "shapes":{
    "ActionOnFailure":{
      "type":"string",
      "enum":[
        "TERMINATE_JOB_FLOW",
        "TERMINATE_CLUSTER",
        "CANCEL_AND_WAIT",
        "CONTINUE"
      ]
    },
    "AddInstanceFleetInput":{
      "type":"structure",
      "required":[
        "ClusterId",
        "InstanceFleet"
      ],
      "members":{
        "ClusterId":{
          "shape":"XmlStringMaxLen256",
          "documentation":"<p>The unique identifier of the cluster.</p>"
        },
        "InstanceFleet":{
          "shape":"InstanceFleetConfig",
          "documentation":"<p>Specifies the configuration of the instance fleet.</p>"
        }
      }
    },
    "AddInstanceFleetOutput":{
      "type":"structure",
      "members":{
        "ClusterId":{
          "shape":"XmlStringMaxLen256",
          "documentation":"<p>The unique identifier of the cluster.</p>"
        },
        "InstanceFleetId":{
          "shape":"InstanceFleetId",
          "documentation":"<p>The unique identifier of the instance fleet.</p>"
        },
        "ClusterArn":{
          "shape":"ArnType",
          "documentation":"<p>The Amazon Resource Name of the cluster.</p>"
        }
      }
    },
    "AddInstanceGroupsInput":{
      "type":"structure",
      "required":[
        "InstanceGroups",
        "JobFlowId"
      ],
      "members":{
        "InstanceGroups":{
          "shape":"InstanceGroupConfigList",
          "documentation":"<p>Instance groups to add.</p>"
        },
        "JobFlowId":{
          "shape":"XmlStringMaxLen256",
          "documentation":"<p>Job flow in which to add the instance groups.</p>"
        }
      },
      "documentation":"<p>Input to an AddInstanceGroups call.</p>"
    },
    "AddInstanceGroupsOutput":{
      "type":"structure",
      "members":{
        "JobFlowId":{
          "shape":"XmlStringMaxLen256",
          "documentation":"<p>The job flow ID in which the instance groups are added.</p>"
        },
        "InstanceGroupIds":{
          "shape":"InstanceGroupIdsList",
          "documentation":"<p>Instance group IDs of the newly created instance groups.</p>"
        },
        "ClusterArn":{
          "shape":"ArnType",
          "documentation":"<p>The Amazon Resource Name of the cluster.</p>"
        }
      },
      "documentation":"<p>Output from an AddInstanceGroups call.</p>"
    },
    "AddJobFlowStepsInput":{
      "type":"structure",
      "required":[
        "JobFlowId",
        "Steps"
      ],
      "members":{
        "JobFlowId":{
          "shape":"XmlStringMaxLen256",
          "documentation":"<p>A string that uniquely identifies the job flow. This identifier is returned by <a>RunJobFlow</a> and can also be obtained from <a>ListClusters</a>. </p>"
        },
        "Steps":{
          "shape":"StepConfigList",
          "documentation":"<p> A list of <a>StepConfig</a> to be executed by the job flow. </p>"
        },
        "ExecutionRoleArn":{
          "shape":"ArnType",
          "documentation":"<p>The Amazon Resource Name (ARN) of the runtime role for a step on the cluster. The runtime role can be a cross-account IAM role. The runtime role ARN is a combination of account ID, role name, and role type using the following format: <code>arn:partition:service:region:account:resource</code>. </p> <p>For example, <code>arn:aws:IAM::1234567890:role/ReadOnly</code> is a correctly formatted runtime role ARN.</p>"
        }
      },
      "documentation":"<p> The input argument to the <a>AddJobFlowSteps</a> operation. </p>"
    },
    "AddJobFlowStepsOutput":{
      "type":"structure",
      "members":{
        "StepIds":{
          "shape":"StepIdsList",
          "documentation":"<p>The identifiers of the list of steps added to the job flow.</p>"
        }
      },
      "documentation":"<p> The output for the <a>AddJobFlowSteps</a> operation. </p>"
    },
    "AddTagsInput":{
      "type":"structure",
      "required":[
        "ResourceId",
        "Tags"
      ],
      "members":{
        "ResourceId":{
          "shape":"ResourceId",
          "documentation":"<p>The Amazon EMR resource identifier to which tags will be added. For example, a cluster identifier or an Amazon EMR Studio ID.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>A list of tags to associate with a resource. Tags are user-defined key-value pairs that consist of a required key string with a maximum of 128 characters, and an optional value string with a maximum of 256 characters.</p>"
        }
      },
      "documentation":"<p>This input identifies an Amazon EMR resource and a list of tags to attach.</p>"
    },
    "AddTagsOutput":{
      "type":"structure",
      "members":{},
      "documentation":"<p>This output indicates the result of adding tags to a resource.</p>"
    },
    "AdjustmentType":{
      "type":"string",
      "enum":[
        "CHANGE_IN_CAPACITY",
        "PERCENT_CHANGE_IN_CAPACITY",
        "EXACT_CAPACITY"
      ]
    },
    "Application":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>The name of the application.</p>"
        },
        "Version":{
          "shape":"String",
          "documentation":"<p>The version of the application.</p>"
        },
        "Args":{
          "shape":"StringList",
          "documentation":"<p>Arguments for Amazon EMR to pass to the application.</p>"
        },
        "AdditionalInfo":{
          "shape":"StringMap",
          "documentation":"<p>This option is for advanced users only. This is meta information about third-party applications that third-party vendors use for testing purposes.</p>"
        }
      },
      "documentation":"<p>With Amazon EMR release version 4.0 and later, the only accepted parameter is the application name. To pass arguments to applications, you use configuration classifications specified using configuration JSON objects. For more information, see <a href=\"https://docs.aws.amazon.com/emr/latest/ReleaseGuide/emr-configure-apps.html\">Configuring Applications</a>.</p> <p>With earlier Amazon EMR releases, the application is any Amazon or third-party software that you can add to the cluster. This structure contains a list of strings that indicates the software to use with the cluster and accepts a user argument list. Amazon EMR accepts and forwards the argument list to the corresponding installation script as bootstrap action argument.</p>"
    },
    "ApplicationList":{
      "type":"list",
      "member":{"shape":"Application"}
    },
    "ArnType":{
      "type":"string",
      "max":2048,
      "min":20
    },
    "AuthMode":{
      "type":"string",
      "enum":[
        "SSO",
        "IAM"
      ]
    },
    "AutoScalingPolicy":{
      "type":"structure",
      "required":[
        "Constraints",
        "Rules"
      ],
      "members":{
        "Constraints":{
          "shape":"ScalingConstraints",
          "documentation":"<p>The upper and lower Amazon EC2 instance limits for an automatic scaling policy. Automatic scaling activity will not cause an instance group to grow above or below these limits.</p>"
        },
        "Rules":{
          "shape":"ScalingRuleList",
          "documentation":"<p>The scale-in and scale-out rules that comprise the automatic scaling policy.</p>"
        }
      },
      "documentation":"<p>An automatic scaling policy for a core instance group or task instance group in an Amazon EMR cluster. An automatic scaling policy defines how an instance group dynamically adds and terminates Amazon EC2 instances in response to the value of a CloudWatch metric. See <a>PutAutoScalingPolicy</a>.</p>"
    },
    "AutoScalingPolicyDescription":{
      "type":"structure",
      "members":{
        "Status":{
          "shape":"AutoScalingPolicyStatus",
          "documentation":"<p>The status of an automatic scaling policy. </p>"
        },
        "Constraints":{
          "shape":"ScalingConstraints",
          "documentation":"<p>The upper and lower Amazon EC2 instance limits for an automatic scaling policy. Automatic scaling activity will not cause an instance group to grow above or below these limits.</p>"
        },
        "Rules":{
          "shape":"ScalingRuleList",
          "documentation":"<p>The scale-in and scale-out rules that comprise the automatic scaling policy.</p>"
        }
      },
      "documentation":"<p>An automatic scaling policy for a core instance group or task instance group in an Amazon EMR cluster. The automatic scaling policy defines how an instance group dynamically adds and terminates Amazon EC2 instances in response to the value of a CloudWatch metric. See <a>PutAutoScalingPolicy</a>.</p>"
    },
    "AutoScalingPolicyState":{
      "type":"string",
      "enum":[
        "PENDING",
        "ATTACHING",
        "ATTACHED",
        "DETACHING",
        "DETACHED",
        "FAILED"
      ]
    },
    "AutoScalingPolicyStateChangeReason":{
      "type":"structure",
      "members":{
        "Code":{
          "shape":"AutoScalingPolicyStateChangeReasonCode",
          "documentation":"<p>The code indicating the reason for the change in status.<code>USER_REQUEST</code> indicates that the scaling policy status was changed by a user. <code>PROVISION_FAILURE</code> indicates that the status change was because the policy failed to provision. <code>CLEANUP_FAILURE</code> indicates an error.</p>"
        },
        "Message":{
          "shape":"String",
          "documentation":"<p>A friendly, more verbose message that accompanies an automatic scaling policy state change.</p>"
        }
      },
      "documentation":"<p>The reason for an <a>AutoScalingPolicyStatus</a> change.</p>"
    },
    "AutoScalingPolicyStateChangeReasonCode":{
      "type":"string",
      "enum":[
        "USER_REQUEST",
        "PROVISION_FAILURE",
        "CLEANUP_FAILURE"
      ]
    },
    "AutoScalingPolicyStatus":{
      "type":"structure",
      "members":{
        "State":{
          "shape":"AutoScalingPolicyState",
          "documentation":"<p>Indicates the status of the automatic scaling policy.</p>"
        },
        "StateChangeReason":{
          "shape":"AutoScalingPolicyStateChangeReason",
          "documentation":"<p>The reason for a change in status.</p>"
        }
      },
      "documentation":"<p>The status of an automatic scaling policy. </p>"
    },
    "AutoTerminationPolicy":{
      "type":"structure",
      "members":{
        "IdleTimeout":{
          "shape":"Long",
          "documentation":"<p>Specifies the amount of idle time in seconds after which the cluster automatically terminates. You can specify a minimum of 60 seconds and a maximum of 604800 seconds (seven days).</p>"
        }
      },
      "documentation":"<p>An auto-termination policy for an Amazon EMR cluster. An auto-termination policy defines the amount of idle time in seconds after which a cluster automatically terminates. For alternative cluster termination options, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-plan-termination.html\">Control cluster termination</a>.</p>"
    },
    "BlockPublicAccessConfiguration":{
      "type":"structure",
      "required":["BlockPublicSecurityGroupRules"],
      "members":{
        "BlockPublicSecurityGroupRules":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether Amazon EMR block public access is enabled (<code>true</code>) or disabled (<code>false</code>). By default, the value is <code>false</code> for accounts that have created Amazon EMR clusters before July 2019. For accounts created after this, the default is <code>true</code>.</p>"
        },
        "PermittedPublicSecurityGroupRuleRanges":{
          "shape":"PortRanges",
          "documentation":"<p>Specifies ports and port ranges that are permitted to have security group rules that allow inbound traffic from all public sources. For example, if Port 23 (Telnet) is specified for <code>PermittedPublicSecurityGroupRuleRanges</code>, Amazon EMR allows cluster creation if a security group associated with the cluster has a rule that allows inbound traffic on Port 23 from IPv4 0.0.0.0/0 or IPv6 port ::/0 as the source.</p> <p>By default, Port 22, which is used for SSH access to the cluster Amazon EC2 instances, is in the list of <code>PermittedPublicSecurityGroupRuleRanges</code>.</p>"
        }
      },
      "documentation":"<p>A configuration for Amazon EMR block public access. When <code>BlockPublicSecurityGroupRules</code> is set to <code>true</code>, Amazon EMR prevents cluster creation if one of the cluster's security groups has a rule that allows inbound traffic from 0.0.0.0/0 or ::/0 on a port, unless the port is specified as an exception using <code>PermittedPublicSecurityGroupRuleRanges</code>.</p>"
    },
    "BlockPublicAccessConfigurationMetadata":{
      "type":"structure",
      "required":[
        "CreationDateTime",
        "CreatedByArn"
      ],
      "members":{
        "CreationDateTime":{
          "shape":"Date",
          "documentation":"<p>The date and time that the configuration was created.</p>"
        },
        "CreatedByArn":{
          "shape":"ArnType",
          "documentation":"<p>The Amazon Resource Name that created or last modified the configuration.</p>"
        }
      },
      "documentation":"<p>Properties that describe the Amazon Web Services principal that created the <code>BlockPublicAccessConfiguration</code> using the <code>PutBlockPublicAccessConfiguration</code> action as well as the date and time that the configuration was created. Each time a configuration for block public access is updated, Amazon EMR updates this metadata.</p>"
    },
    "Boolean":{"type":"boolean"},
    "BooleanObject":{"type":"boolean"},
    "BootstrapActionConfig":{
      "type":"structure",
      "required":[
        "Name",
        "ScriptBootstrapAction"
      ],
      "members":{
        "Name":{
          "shape":"XmlStringMaxLen256",
          "documentation":"<p>The name of the bootstrap action.</p>"
        },
        "ScriptBootstrapAction":{
          "shape":"ScriptBootstrapActionConfig",
          "documentation":"<p>The script run by the bootstrap action.</p>"
        }
      },
      "documentation":"<p>Configuration of a bootstrap action.</p>"
    },
    "BootstrapActionConfigList":{
      "type":"list",
      "member":{"shape":"BootstrapActionConfig"}
    },
    "BootstrapActionDetail":{
      "type":"structure",
      "members":{
        "BootstrapActionConfig":{
          "shape":"BootstrapActionConfig",
          "documentation":"<p>A description of the bootstrap action.</p>"
        }
      },
      "documentation":"<p>Reports the configuration of a bootstrap action in a cluster (job flow).</p>"
    },
    "BootstrapActionDetailList":{
      "type":"list",
      "member":{"shape":"BootstrapActionDetail"}
    },
    "CancelStepsInfo":{
      "type":"structure",
      "members":{
        "StepId":{
          "shape":"StepId",
          "documentation":"<p>The encrypted StepId of a step.</p>"
        },
        "Status":{
          "shape":"CancelStepsRequestStatus",
          "documentation":"<p>The status of a CancelSteps Request. The value may be SUBMITTED or FAILED.</p>"
        },
        "Reason":{
          "shape":"String",
          "documentation":"<p>The reason for the failure if the CancelSteps request fails.</p>"
        }
      },
      "documentation":"<p>Specification of the status of a CancelSteps request. Available only in Amazon EMR version 4.8.0 and later, excluding version 5.0.0.</p>"
    },
    "CancelStepsInfoList":{
      "type":"list",
      "member":{"shape":"CancelStepsInfo"}
    },
    "CancelStepsInput":{
      "type":"structure",
      "required":[
        "ClusterId",
        "StepIds"
      ],
      "members":{
        "ClusterId":{
          "shape":"XmlStringMaxLen256",
          "documentation":"<p>The <code>ClusterID</code> for the specified steps that will be canceled. Use <a>RunJobFlow</a> and <a>ListClusters</a> to get ClusterIDs. </p>"
        },
        "StepIds":{
          "shape":"StepIdsList",
          "documentation":"<p>The list of <code>StepIDs</code> to cancel. Use <a>ListSteps</a> to get steps and their states for the specified cluster.</p>"
        },
        "StepCancellationOption":{
          "shape":"StepCancellationOption",
          "documentation":"<p>The option to choose to cancel <code>RUNNING</code> steps. By default, the value is <code>SEND_INTERRUPT</code>.</p>"
        }
      },
      "documentation":"<p>The input argument to the <a>CancelSteps</a> operation.</p>"
    },
    "CancelStepsOutput":{
      "type":"structure",
      "members":{
        "CancelStepsInfoList":{
          "shape":"CancelStepsInfoList",
          "documentation":"<p>A list of <a>CancelStepsInfo</a>, which shows the status of specified cancel requests for each <code>StepID</code> specified.</p>"
        }
      },
      "documentation":"<p> The output for the <a>CancelSteps</a> operation. </p>"
    },
    "CancelStepsRequestStatus":{
      "type":"string",
      "enum":[
        "SUBMITTED",
        "FAILED"
      ]
    },
    "CloudWatchAlarmDefinition":{
      "type":"structure",
      "required":[
        "ComparisonOperator",
        "MetricName",
        "Period",
        "Threshold"
      ],
      "members":{
        "ComparisonOperator":{
          "shape":"ComparisonOperator",
          "documentation":"<p>Determines how the metric specified by <code>MetricName</code> is compared to the value specified by <code>Threshold</code>.</p>"
        },
        "EvaluationPeriods":{
          "shape":"Integer",
          "documentation":"<p>The number of periods, in five-minute increments, during which the alarm condition must exist before the alarm triggers automatic scaling activity. The default value is <code>1</code>.</p>"
        },
        "MetricName":{
          "shape":"String",
          "documentation":"<p>The name of the CloudWatch metric that is watched to determine an alarm condition.</p>"
        },
        "Namespace":{
          "shape":"String",
          "documentation":"<p>The namespace for the CloudWatch metric. The default is <code>AWS/ElasticMapReduce</code>.</p>"
        },
        "Period":{
          "shape":"Integer",
          "documentation":"<p>The period, in seconds, over which the statistic is applied. CloudWatch metrics for Amazon EMR are emitted every five minutes (300 seconds), so if you specify a CloudWatch metric, specify <code>300</code>.</p>"
        },
        "Statistic":{
          "shape":"Statistic",
          "documentation":"<p>The statistic to apply to the metric associated with the alarm. The default is <code>AVERAGE</code>.</p>"
        },
        "Threshold":{
          "shape":"NonNegativeDouble",
          "documentation":"<p>The value against which the specified statistic is compared.</p>"
        },
        "Unit":{
          "shape":"Unit",
          "documentation":"<p>The unit of measure associated with the CloudWatch metric being watched. The value specified for <code>Unit</code> must correspond to the units specified in the CloudWatch metric.</p>"
        },
        "Dimensions":{
          "shape":"MetricDimensionList",
          "documentation":"<p>A CloudWatch metric dimension.</p>"
        }
      },
      "documentation":"<p>The definition of a CloudWatch metric alarm, which determines when an automatic scaling activity is triggered. When the defined alarm conditions are satisfied, scaling activity begins.</p>"
    },
    "Cluster":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"ClusterId",
          "documentation":"<p>The unique identifier for the cluster.</p>"
        },
        "Name":{
          "shape":"String",
          "documentation":"<p>The name of the cluster. This parameter can't contain the characters &lt;, &gt;, $, |, or ` (backtick).</p>"
        },
        "Status":{
          "shape":"ClusterStatus",
          "documentation":"<p>The current status details about the cluster.</p>"
        },
        "Ec2InstanceAttributes":{
          "shape":"Ec2InstanceAttributes",
          "documentation":"<p>Provides information about the Amazon EC2 instances in a cluster grouped by category. For example, key name, subnet ID, IAM instance profile, and so on.</p>"
        },
        "InstanceCollectionType":{
          "shape":"InstanceCollectionType",
          "documentation":"<note> <p>The instance fleet configuration is available only in Amazon EMR releases 4.8.0 and later, excluding 5.0.x versions.</p> </note> <p>The instance group configuration of the cluster. A value of <code>INSTANCE_GROUP</code> indicates a uniform instance group configuration. A value of <code>INSTANCE_FLEET</code> indicates an instance fleets configuration.</p>"
        },
        "LogUri":{
          "shape":"String",
          "documentation":"<p>The path to the Amazon S3 location where logs for this cluster are stored.</p>"
        },
        "LogEncryptionKmsKeyId":{
          "shape":"String",
          "documentation":"<p> The KMS key used for encrypting log files. This attribute is only available with Amazon EMR 5.30.0 and later, excluding Amazon EMR 6.0.0. </p>"
        },
        "RequestedAmiVersion":{
          "shape":"String",
          "documentation":"<p>The AMI version requested for this cluster.</p>"
        },
        "RunningAmiVersion":{
          "shape":"String",
          "documentation":"<p>The AMI version running on this cluster.</p>"
        },
        "ReleaseLabel":{
          "shape":"String",
          "documentation":"<p>The Amazon EMR release label, which determines the version of open-source application packages installed on the cluster. Release labels are in the form <code>emr-x.x.x</code>, where x.x.x is an Amazon EMR release version such as <code>emr-5.14.0</code>. For more information about Amazon EMR release versions and included application versions and features, see <a href=\"https://docs.aws.amazon.com/emr/latest/ReleaseGuide/\">https://docs.aws.amazon.com/emr/latest/ReleaseGuide/</a>. The release label applies only to Amazon EMR releases version 4.0 and later. Earlier versions use <code>AmiVersion</code>.</p>"
        },
        "AutoTerminate":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the cluster should terminate after completing all steps.</p>"
        },
        "TerminationProtected":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether Amazon EMR will lock the cluster to prevent the Amazon EC2 instances from being terminated by an API call or user intervention, or in the event of a cluster error.</p>"
        },
        "UnhealthyNodeReplacement":{
          "shape":"BooleanObject",
          "documentation":"<p>Indicates whether Amazon EMR should gracefully replace Amazon EC2 core instances that have degraded within the cluster.</p>"
        },
        "VisibleToAllUsers":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the cluster is visible to IAM principals in the Amazon Web Services account associated with the cluster. When <code>true</code>, IAM principals in the Amazon Web Services account can perform Amazon EMR cluster actions on the cluster that their IAM policies allow. When <code>false</code>, only the IAM principal that created the cluster and the Amazon Web Services account root user can perform Amazon EMR actions, regardless of IAM permissions policies attached to other IAM principals.</p> <p>The default value is <code>true</code> if a value is not provided when creating a cluster using the Amazon EMR API <a>RunJobFlow</a> command, the CLI <a href=\"https://docs.aws.amazon.com/cli/latest/reference/emr/create-cluster.html\">create-cluster</a> command, or the Amazon Web Services Management Console.</p>"
        },
        "Applications":{
          "shape":"ApplicationList",
          "documentation":"<p>The applications installed on this cluster.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>A list of tags associated with a cluster.</p>"
        },
        "ServiceRole":{
          "shape":"String",
          "documentation":"<p>The IAM role that Amazon EMR assumes in order to access Amazon Web Services resources on your behalf.</p>"
        },
        "NormalizedInstanceHours":{
          "shape":"Integer",
          "documentation":"<p>An approximation of the cost of the cluster, represented in m1.small/hours. This value is incremented one time for every hour an m1.small instance runs. Larger instances are weighted more, so an Amazon EC2 instance that is roughly four times more expensive would result in the normalized instance hours being incremented by four. This result is only an approximation and does not reflect the actual billing rate.</p>"
        },
        "MasterPublicDnsName":{
          "shape":"String",
          "documentation":"<p>The DNS name of the master node. If the cluster is on a private subnet, this is the private DNS name. On a public subnet, this is the public DNS name.</p>"
        },
        "Configurations":{
          "shape":"ConfigurationList",
          "documentation":"<p>Applies only to Amazon EMR releases 4.x and later. The list of configurations that are supplied to the Amazon EMR cluster.</p>"
        },
        "SecurityConfiguration":{
          "shape":"XmlString",
          "documentation":"<p>The name of the security configuration applied to the cluster.</p>"
        },
        "AutoScalingRole":{
          "shape":"XmlString",
          "documentation":"<p>An IAM role for automatic scaling policies. The default role is <code>EMR_AutoScaling_DefaultRole</code>. The IAM role provides permissions that the automatic scaling feature requires to launch and terminate Amazon EC2 instances in an instance group.</p>"
        },
        "ScaleDownBehavior":{
          "shape":"ScaleDownBehavior",
          "documentation":"<p>The way that individual Amazon EC2 instances terminate when an automatic scale-in activity occurs or an instance group is resized. <code>TERMINATE_AT_INSTANCE_HOUR</code> indicates that Amazon EMR terminates nodes at the instance-hour boundary, regardless of when the request to terminate the instance was submitted. This option is only available with Amazon EMR 5.1.0 and later and is the default for clusters created using that version. <code>TERMINATE_AT_TASK_COMPLETION</code> indicates that Amazon EMR adds nodes to a deny list and drains tasks from nodes before terminating the Amazon EC2 instances, regardless of the instance-hour boundary. With either behavior, Amazon EMR removes the least active nodes first and blocks instance termination if it could lead to HDFS corruption. <code>TERMINATE_AT_TASK_COMPLETION</code> is available only in Amazon EMR releases 4.1.0 and later, and is the default for versions of Amazon EMR earlier than 5.1.0.</p>"
        },
        "CustomAmiId":{
          "shape":"XmlStringMaxLen256",
          "documentation":"<p>Available only in Amazon EMR releases 5.7.0 and later. The ID of a custom Amazon EBS-backed Linux AMI if the cluster uses a custom AMI.</p>"
        },
        "EbsRootVolumeSize":{
          "shape":"Integer",
          "documentation":"<p>The size, in GiB, of the Amazon EBS root device volume of the Linux AMI that is used for each Amazon EC2 instance. Available in Amazon EMR releases 4.x and later.</p>"
        },
        "RepoUpgradeOnBoot":{
          "shape":"RepoUpgradeOnBoot",
          "documentation":"<p>Applies only when <code>CustomAmiID</code> is used. Specifies the type of updates that the Amazon Linux AMI package repositories apply when an instance boots using the AMI.</p>"
        },
        "KerberosAttributes":{
          "shape":"KerberosAttributes",
          "documentation":"<p>Attributes for Kerberos configuration when Kerberos authentication is enabled using a security configuration. For more information see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-kerberos.html\">Use Kerberos Authentication</a> in the <i>Amazon EMR Management Guide</i>.</p>"
        },
        "ClusterArn":{
          "shape":"ArnType",
          "documentation":"<p>The Amazon Resource Name of the cluster.</p>"
        },
        "OutpostArn":{
          "shape":"OptionalArnType",
          "documentation":"<p> The Amazon Resource Name (ARN) of the Outpost where the cluster is launched. </p>"
        },
        "StepConcurrencyLevel":{
          "shape":"Integer",
          "documentation":"<p>Specifies the number of steps that can be executed concurrently.</p>"
        },
        "PlacementGroups":{
          "shape":"PlacementGroupConfigList",
          "documentation":"<p>Placement group configured for an Amazon EMR cluster.</p>"
        },
        "OSReleaseLabel":{
          "shape":"String",
          "documentation":"<p>The Amazon Linux release specified in a cluster launch RunJobFlow request. If no Amazon Linux release was specified, the default Amazon Linux release is shown in the response.</p>"
        },
        "EbsRootVolumeIops":{
          "shape":"Integer",
          "documentation":"<p>The IOPS, of the Amazon EBS root device volume of the Linux AMI that is used for each Amazon EC2 instance. Available in Amazon EMR releases 6.15.0 and later.</p>"
        },
        "EbsRootVolumeThroughput":{
          "shape":"Integer",
          "documentation":"<p>The throughput, in MiB/s, of the Amazon EBS root device volume of the Linux AMI that is used for each Amazon EC2 instance. Available in Amazon EMR releases 6.15.0 and later.</p>"
        },
        "ExtendedSupport":{
          "shape":"BooleanObject",
          "documentation":"<p>Reserved.</p>"
        }
      },
      "documentation":"<p>The detailed description of the cluster.</p>"
    },
    "ClusterId":{"type":"string"},
    "ClusterState":{
      "type":"string",
      "enum":[
        "STARTING",
        "BOOTSTRAPPING",
        "RUNNING",
        "WAITING",
        "TERMINATING",
        "TERMINATED",
        "TERMINATED_WITH_ERRORS"
      ]
    },
    "ClusterStateChangeReason":{
      "type":"structure",
      "members":{
        "Code":{
          "shape":"ClusterStateChangeReasonCode",
          "documentation":"<p>The programmatic code for the state change reason.</p>"
        },
        "Message":{
          "shape":"String",
          "documentation":"<p>The descriptive message for the state change reason.</p>"
        }
      },
      "documentation":"<p>The reason that the cluster changed to its current state.</p>"
    },
    "ClusterStateChangeReasonCode":{
      "type":"string",
      "enum":[
        "INTERNAL_ERROR",
        "VALIDATION_ERROR",
        "INSTANCE_FAILURE",
        "INSTANCE_FLEET_TIMEOUT",
        "BOOTSTRAP_FAILURE",
        "USER_REQUEST",
        "STEP_FAILURE",
        "ALL_STEPS_COMPLETED"
      ]
    },
    "ClusterStateList":{
      "type":"list",
      "member":{"shape":"ClusterState"}
    },
    "ClusterStatus":{
      "type":"structure",
      "members":{
        "State":{
          "shape":"ClusterState",
          "documentation":"<p>The current state of the cluster.</p>"
        },
        "StateChangeReason":{
          "shape":"ClusterStateChangeReason",
          "documentation":"<p>The reason for the cluster status change.</p>"
        },
        "Timeline":{
          "shape":"ClusterTimeline",
          "documentation":"<p>A timeline that represents the status of a cluster over the lifetime of the cluster.</p>"
        },
        "ErrorDetails":{
          "shape":"ErrorDetailList",
          "documentation":"<p>A list of tuples that provides information about the errors that caused a cluster to terminate. This structure can contain up to 10 different <code>ErrorDetail</code> tuples.</p>"
        }
      },
      "documentation":"<p>The detailed status of the cluster.</p>"
    },
    "ClusterSummary":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"ClusterId",
          "documentation":"<p>The unique identifier for the cluster.</p>"
        },
        "Name":{
          "shape":"String",
          "documentation":"<p>The name of the cluster.</p>"
        },
        "Status":{
          "shape":"ClusterStatus",
          "documentation":"<p>The details about the current status of the cluster.</p>"
        },
        "NormalizedInstanceHours":{
          "shape":"Integer",
          "documentation":"<p>An approximation of the cost of the cluster, represented in m1.small/hours. This value is incremented one time for every hour an m1.small instance runs. Larger instances are weighted more, so an Amazon EC2 instance that is roughly four times more expensive would result in the normalized instance hours being incremented by four. This result is only an approximation and does not reflect the actual billing rate.</p>"
        },
        "ClusterArn":{
          "shape":"ArnType",
          "documentation":"<p>The Amazon Resource Name of the cluster.</p>"
        },
        "OutpostArn":{
          "shape":"OptionalArnType",
          "documentation":"<p> The Amazon Resource Name (ARN) of the Outpost where the cluster is launched. </p>"
        }
      },
      "documentation":"<p>The summary description of the cluster.</p>"
    },
    "ClusterSummaryList":{
      "type":"list",
      "member":{"shape":"ClusterSummary"}
    },
    "ClusterTimeline":{
      "type":"structure",
      "members":{
        "CreationDateTime":{
          "shape":"Date",
          "documentation":"<p>The creation date and time of the cluster.</p>"
        },
        "ReadyDateTime":{
          "shape":"Date",
          "documentation":"<p>The date and time when the cluster was ready to run steps.</p>"
        },
        "EndDateTime":{
          "shape":"Date",
          "documentation":"<p>The date and time when the cluster was terminated.</p>"
        }
      },
      "documentation":"<p>Represents the timeline of the cluster's lifecycle.</p>"
    },
    "Command":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>The name of the command.</p>"
        },
        "ScriptPath":{
          "shape":"String",
          "documentation":"<p>The Amazon S3 location of the command script.</p>"
        },
        "Args":{
          "shape":"StringList",
          "documentation":"<p>Arguments for Amazon EMR to pass to the command for execution.</p>"
        }
      },
      "documentation":"<p>An entity describing an executable that runs on a cluster.</p>"
    },
    "CommandList":{
      "type":"list",
      "member":{"shape":"Command"}
    },
    "ComparisonOperator":{
      "type":"string",
      "enum":[
        "GREATER_THAN_OR_EQUAL",
        "GREATER_THAN",
        "LESS_THAN",
        "LESS_THAN_OR_EQUAL"
      ]
    },
    "ComputeLimits":{
      "type":"structure",
      "required":[
        "UnitType",
        "MinimumCapacityUnits",
        "MaximumCapacityUnits"
      ],
      "members":{
        "UnitType":{
          "shape":"ComputeLimitsUnitType",
          "documentation":"<p> The unit type used for specifying a managed scaling policy. </p>"
        },
        "MinimumCapacityUnits":{
          "shape":"Integer",
          "documentation":"<p> The lower boundary of Amazon EC2 units. It is measured through vCPU cores or instances for instance groups and measured through units for instance fleets. Managed scaling activities are not allowed beyond this boundary. The limit only applies to the core and task nodes. The master node cannot be scaled after initial configuration. </p>"
        },
        "MaximumCapacityUnits":{
          "shape":"Integer",
          "documentation":"<p> The upper boundary of Amazon EC2 units. It is measured through vCPU cores or instances for instance groups and measured through units for instance fleets. Managed scaling activities are not allowed beyond this boundary. The limit only applies to the core and task nodes. The master node cannot be scaled after initial configuration. </p>"
        },
        "MaximumOnDemandCapacityUnits":{
          "shape":"Integer",
          "documentation":"<p> The upper boundary of On-Demand Amazon EC2 units. It is measured through vCPU cores or instances for instance groups and measured through units for instance fleets. The On-Demand units are not allowed to scale beyond this boundary. The parameter is used to split capacity allocation between On-Demand and Spot Instances. </p>"
        },
        "MaximumCoreCapacityUnits":{
          "shape":"Integer",
          "documentation":"<p> The upper boundary of Amazon EC2 units for core node type in a cluster. It is measured through vCPU cores or instances for instance groups and measured through units for instance fleets. The core units are not allowed to scale beyond this boundary. The parameter is used to split capacity allocation between core and task nodes. </p>"
        }
      },
      "documentation":"<p> The Amazon EC2 unit limits for a managed scaling policy. The managed scaling activity of a cluster can not be above or below these limits. The limit only applies to the core and task nodes. The master node cannot be scaled after initial configuration. </p>"
    },
    "ComputeLimitsUnitType":{
      "type":"string",
      "enum":[
        "InstanceFleetUnits",
        "Instances",
        "VCPU"
      ]
    },
    "Configuration":{
      "type":"structure",
      "members":{
        "Classification":{
          "shape":"String",
          "documentation":"<p>The classification within a configuration.</p>"
        },
        "Configurations":{
          "shape":"ConfigurationList",
          "documentation":"<p>A list of additional configurations to apply within a configuration object.</p>"
        },
        "Properties":{
          "shape":"StringMap",
          "documentation":"<p>A set of properties specified within a configuration classification.</p>"
        }
      },
      "documentation":"<note> <p>Amazon EMR releases 4.x or later.</p> </note> <p>An optional configuration specification to be used when provisioning cluster instances, which can include configurations for applications and software bundled with Amazon EMR. A configuration consists of a classification, properties, and optional nested configurations. A classification refers to an application-specific configuration file. Properties are the settings you want to change in that file. For more information, see <a href=\"https://docs.aws.amazon.com/emr/latest/ReleaseGuide/emr-configure-apps.html\">Configuring Applications</a>.</p>"
    },
    "ConfigurationList":{
      "type":"list",
      "member":{"shape":"Configuration"}
    },
    "CreatePersistentAppUIInput":{
      "type":"structure",
      "required":["TargetResourceArn"],
      "members":{
        "TargetResourceArn":{
          "shape":"ArnType",
          "documentation":"<p>The unique Amazon Resource Name (ARN) of the target resource.</p>"
        },
        "EMRContainersConfig":{
          "shape":"EMRContainersConfig",
          "documentation":"<p>The EMR containers configuration.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>Tags for the persistent application user interface.</p>"
        },
        "XReferer":{
          "shape":"String",
          "documentation":"<p>The cross reference for the persistent application user interface.</p>"
        },
        "ProfilerType":{
          "shape":"ProfilerType",
          "documentation":"<p>The profiler type for the persistent application user interface.</p>"
        }
      }
    },
    "CreatePersistentAppUIOutput":{
      "type":"structure",
      "members":{
        "PersistentAppUIId":{
          "shape":"XmlStringMaxLen256",
          "documentation":"<p>The persistent application user interface identifier.</p>"
        },
        "RuntimeRoleEnabledCluster":{
          "shape":"Boolean",
          "documentation":"<p>Represents if the EMR on EC2 cluster that the persisent application user interface is created for is a runtime role enabled cluster or not.</p>"
        }
      }
    },
    "CreateSecurityConfigurationInput":{
      "type":"structure",
      "required":[
        "Name",
        "SecurityConfiguration"
      ],
      "members":{
        "Name":{
          "shape":"XmlString",
          "documentation":"<p>The name of the security configuration.</p>"
        },
        "SecurityConfiguration":{
          "shape":"String",
          "documentation":"<p>The security configuration details in JSON format. For JSON parameters and examples, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-security-configurations.html\">Use Security Configurations to Set Up Cluster Security</a> in the <i>Amazon EMR Management Guide</i>.</p>"
        }
      }
    },
    "CreateSecurityConfigurationOutput":{
      "type":"structure",
      "required":[
        "Name",
        "CreationDateTime"
      ],
      "members":{
        "Name":{
          "shape":"XmlString",
          "documentation":"<p>The name of the security configuration.</p>"
        },
        "CreationDateTime":{
          "shape":"Date",
          "documentation":"<p>The date and time the security configuration was created.</p>"
        }
      }
    },
    "CreateStudioInput":{
      "type":"structure",
      "required":[
        "Name",
        "AuthMode",
        "VpcId",
        "SubnetIds",
        "ServiceRole",
        "WorkspaceSecurityGroupId",
        "EngineSecurityGroupId",
        "DefaultS3Location"
      ],
      "members":{
        "Name":{
          "shape":"XmlStringMaxLen256",
          "documentation":"<p>A descriptive name for the Amazon EMR Studio.</p>"
        },
        "Description":{
          "shape":"XmlStringMaxLen256",
          "documentation":"<p>A detailed description of the Amazon EMR Studio.</p>"
        },
        "AuthMode":{
          "shape":"AuthMode",
          "documentation":"<p>Specifies whether the Studio authenticates users using IAM or IAM Identity Center.</p>"
        },
        "VpcId":{
          "shape":"XmlStringMaxLen256",
          "documentation":"<p>The ID of the Amazon Virtual Private Cloud (Amazon VPC) to associate with the Studio.</p>"
        },
        "SubnetIds":{
          "shape":"SubnetIdList",
          "documentation":"<p>A list of subnet IDs to associate with the Amazon EMR Studio. A Studio can have a maximum of 5 subnets. The subnets must belong to the VPC specified by <code>VpcId</code>. Studio users can create a Workspace in any of the specified subnets.</p>"
        },
        "ServiceRole":{
          "shape":"XmlString",
          "documentation":"<p>The IAM role that the Amazon EMR Studio assumes. The service role provides a way for Amazon EMR Studio to interoperate with other Amazon Web Services services.</p>"
        },
        "UserRole":{
          "shape":"XmlString",
          "documentation":"<p>The IAM user role that users and groups assume when logged in to an Amazon EMR Studio. Only specify a <code>UserRole</code> when you use IAM Identity Center authentication. The permissions attached to the <code>UserRole</code> can be scoped down for each user or group using session policies.</p>"
        },
        "WorkspaceSecurityGroupId":{
          "shape":"XmlStringMaxLen256",
          "documentation":"<p>The ID of the Amazon EMR Studio Workspace security group. The Workspace security group allows outbound network traffic to resources in the Engine security group, and it must be in the same VPC specified by <code>VpcId</code>.</p>"
        },
        "EngineSecurityGroupId":{
          "shape":"XmlStringMaxLen256",
          "documentation":"<p>The ID of the Amazon EMR Studio Engine security group. The Engine security group allows inbound network traffic from the Workspace security group, and it must be in the same VPC specified by <code>VpcId</code>.</p>"
        },
        "DefaultS3Location":{
          "shape":"XmlString",
          "documentation":"<p>The Amazon S3 location to back up Amazon EMR Studio Workspaces and notebook files.</p>"
        },
        "IdpAuthUrl":{
          "shape":"XmlString",
          "documentation":"<p>The authentication endpoint of your identity provider (IdP). Specify this value when you use IAM authentication and want to let federated users log in to a Studio with the Studio URL and credentials from your IdP. Amazon EMR Studio redirects users to this endpoint to enter credentials.</p>"
        },
        "IdpRelayStateParameterName":{
          "shape":"XmlStringMaxLen256",
          "documentation":"<p>The name that your identity provider (IdP) uses for its <code>RelayState</code> parameter. For example, <code>RelayState</code> or <code>TargetSource</code>. Specify this value when you use IAM authentication and want to let federated users log in to a Studio using the Studio URL. The <code>RelayState</code> parameter differs by IdP.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>A list of tags to associate with the Amazon EMR Studio. Tags are user-defined key-value pairs that consist of a required key string with a maximum of 128 characters, and an optional value string with a maximum of 256 characters.</p>"
        },
        "TrustedIdentityPropagationEnabled":{
          "shape":"BooleanObject",
          "documentation":"<p> A Boolean indicating whether to enable Trusted identity propagation for the Studio. The default value is <code>false</code>. </p>"
        },
        "IdcUserAssignment":{
          "shape":"IdcUserAssignment",
          "documentation":"<p> Specifies whether IAM Identity Center user assignment is <code>REQUIRED</code> or <code>OPTIONAL</code>. If the value is set to <code>REQUIRED</code>, users must be explicitly assigned to the Studio application to access the Studio. </p>"
        },
        "IdcInstanceArn":{
          "shape":"ArnType",
          "documentation":"<p> The ARN of the IAM Identity Center instance to create the Studio application. </p>"
        },
        "EncryptionKeyArn":{
          "shape":"XmlString",
          "documentation":"<p>The KMS key identifier (ARN) used to encrypt Amazon EMR Studio workspace and notebook files when backed up to Amazon S3.</p>"
        }
      }
    },
    "CreateStudioOutput":{
      "type":"structure",
      "members":{
        "StudioId":{
          "shape":"XmlStringMaxLen256",
          "documentation":"<p>The ID of the Amazon EMR Studio.</p>"
        },
        "Url":{
          "shape":"XmlString",
          "documentation":"<p>The unique Studio access URL.</p>"
        }
      }
    },
    "CreateStudioSessionMappingInput":{
      "type":"structure",
      "required":[
        "StudioId",
        "IdentityType",
        "SessionPolicyArn"
      ],
      "members":{
        "StudioId":{
          "shape":"XmlStringMaxLen256",
          "documentation":"<p>The ID of the Amazon EMR Studio to which the user or group will be mapped.</p>"
        },
        "IdentityId":{
          "shape":"XmlStringMaxLen256",
          "documentation":"<p>The globally unique identifier (GUID) of the user or group from the IAM Identity Center Identity Store. For more information, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/IdentityStoreAPIReference/API_User.html#singlesignon-Type-User-UserId\">UserId</a> and <a href=\"https://docs.aws.amazon.com/singlesignon/latest/IdentityStoreAPIReference/API_Group.html#singlesignon-Type-Group-GroupId\">GroupId</a> in the <i>IAM Identity Center Identity Store API Reference</i>. Either <code>IdentityName</code> or <code>IdentityId</code> must be specified, but not both.</p>"
        },
        "IdentityName":{
          "shape":"XmlStringMaxLen256",
          "documentation":"<p>The name of the user or group. For more information, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/IdentityStoreAPIReference/API_User.html#singlesignon-Type-User-UserName\">UserName</a> and <a href=\"https://docs.aws.amazon.com/singlesignon/latest/IdentityStoreAPIReference/API_Group.html#singlesignon-Type-Group-DisplayName\">DisplayName</a> in the <i>IAM Identity Center Identity Store API Reference</i>. Either <code>IdentityName</code> or <code>IdentityId</code> must be specified, but not both.</p>"
        },
        "IdentityType":{
          "shape":"IdentityType",
          "documentation":"<p>Specifies whether the identity to map to the Amazon EMR Studio is a user or a group.</p>"
        },
        "SessionPolicyArn":{
          "shape":"XmlStringMaxLen256",
          "documentation":"<p>The Amazon Resource Name (ARN) for the session policy that will be applied to the user or group. You should specify the ARN for the session policy that you want to apply, not the ARN of your user role. For more information, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-studio-user-role.html\">Create an Amazon EMR Studio User Role with Session Policies</a>.</p>"
        }
      }
    },
    "Credentials":{
      "type":"structure",
      "members":{
        "UsernamePassword":{
          "shape":"UsernamePassword",
          "documentation":"<p>The username and password that you use to connect to cluster endpoints.</p>"
        }
      },
      "documentation":"<p>The credentials that you can use to connect to cluster endpoints. Credentials consist of a username and a password.</p>",
      "union":true
    },
    "Date":{"type":"timestamp"},
    "DeleteSecurityConfigurationInput":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"XmlString",
          "documentation":"<p>The name of the security configuration.</p>"
        }
      }
    },
    "DeleteSecurityConfigurationOutput":{
      "type":"structure",
      "members":{}
    },
    "DeleteStudioInput":{
      "type":"structure",
      "required":["StudioId"],
      "members":{
        "StudioId":{
          "shape":"XmlStringMaxLen256",
          "documentation":"<p>The ID of the Amazon EMR Studio.</p>"
        }
      }
    },
    "DeleteStudioSessionMappingInput":{
      "type":"structure",
      "required":[
        "StudioId",
        "IdentityType"
      ],
      "members":{
        "StudioId":{
          "shape":"XmlStringMaxLen256",
          "documentation":"<p>The ID of the Amazon EMR Studio.</p>"
        },
        "IdentityId":{
          "shape":"XmlStringMaxLen256",
          "documentation":"<p>The globally unique identifier (GUID) of the user or group to remove from the Amazon EMR Studio. For more information, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/IdentityStoreAPIReference/API_User.html#singlesignon-Type-User-UserId\">UserId</a> and <a href=\"https://docs.aws.amazon.com/singlesignon/latest/IdentityStoreAPIReference/API_Group.html#singlesignon-Type-Group-GroupId\">GroupId</a> in the <i>IAM Identity Center Identity Store API Reference</i>. Either <code>IdentityName</code> or <code>IdentityId</code> must be specified.</p>"
        },
        "IdentityName":{
          "shape":"XmlStringMaxLen256",
          "documentation":"<p>The name of the user name or group to remove from the Amazon EMR Studio. For more information, see <a href=\"https://docs.aws.amazon.com/singlesignon/latest/IdentityStoreAPIReference/API_User.html#singlesignon-Type-User-UserName\">UserName</a> and <a href=\"https://docs.aws.amazon.com/singlesignon/latest/IdentityStoreAPIReference/API_Group.html#singlesignon-Type-Group-DisplayName\">DisplayName</a> in the <i>IAM Identity Center Store API Reference</i>. Either <code>IdentityName</code> or <code>IdentityId</code> must be specified.</p>"
        },
        "IdentityType":{
          "shape":"IdentityType",
          "documentation":"<p>Specifies whether the identity to delete from the Amazon EMR Studio is a user or a group.</p>"
        }
      }
    },
    "DescribeClusterInput":{
      "type":"structure",
      "required":["ClusterId"],
      "members":{
        "ClusterId":{
          "shape":"ClusterId",
          "documentation":"<p>The identifier of the cluster to describe.</p>"
        }
      },
      "documentation":"<p>This input determines which cluster to describe.</p>"
    },
    "DescribeClusterOutput":{
      "type":"structure",
      "members":{
        "Cluster":{
          "shape":"Cluster",
          "documentation":"<p>This output contains the details for the requested cluster.</p>"
        }
      },
      "documentation":"<p>This output contains the description of the cluster.</p>"
    },
    "DescribeJobFlowsInput":{
      "type":"structure",
      "members":{
        "CreatedAfter":{
          "shape":"Date",
          "documentation":"<p>Return only job flows created after this date and time.</p>"
        },
        "CreatedBefore":{
          "shape":"Date",
          "documentation":"<p>Return only job flows created before this date and time.</p>"
        },
        "JobFlowIds":{
          "shape":"XmlStringList",
          "documentation":"<p>Return only job flows whose job flow ID is contained in this list.</p>"
        },
        "JobFlowStates":{
          "shape":"JobFlowExecutionStateList",
          "documentation":"<p>Return only job flows whose state is contained in this list.</p>"
        }
      },
      "documentation":"<p> The input for the <a>DescribeJobFlows</a> operation. </p>"
    },
    "DescribeJobFlowsOutput":{
      "type":"structure",
      "members":{
        "JobFlows":{
          "shape":"JobFlowDetailList",
          "documentation":"<p>A list of job flows matching the parameters supplied.</p>"
        }
      },
      "documentation":"<p> The output for the <a>DescribeJobFlows</a> operation. </p>"
    },
    "DescribeNotebookExecutionInput":{
      "type":"structure",
      "required":["NotebookExecutionId"],
      "members":{
        "NotebookExecutionId":{
          "shape":"XmlStringMaxLen256",
          "documentation":"<p>The unique identifier of the notebook execution.</p>"
        }
      }
    },
    "DescribeNotebookExecutionOutput":{
      "type":"structure",
      "members":{
        "NotebookExecution":{
          "shape":"NotebookExecution",
          "documentation":"<p>Properties of the notebook execution.</p>"
        }
      }
    },
    "DescribePersistentAppUIInput":{
      "type":"structure",
      "required":["PersistentAppUIId"],
      "members":{
        "PersistentAppUIId":{
          "shape":"XmlStringMaxLen256",
          "documentation":"<p>The identifier for the persistent application user interface.</p>"
        }
      }
    },
    "DescribePersistentAppUIOutput":{
      "type":"structure",
      "members":{
        "PersistentAppUI":{
          "shape":"PersistentAppUI",
          "documentation":"<p>The persistent application user interface.</p>"
        }
      }
    },
    "DescribeReleaseLabelInput":{
      "type":"structure",
      "members":{
        "ReleaseLabel":{
          "shape":"String",
          "documentation":"<p>The target release label to be described.</p>"
        },
        "NextToken":{
          "shape":"String",
          "documentation":"<p>The pagination token. Reserved for future use. Currently set to null.</p>"
        },
        "MaxResults":{
          "shape":"MaxResultsNumber",
          "documentation":"<p>Reserved for future use. Currently set to null.</p>"
        }
      }
    },
    "DescribeReleaseLabelOutput":{
      "type":"structure",
      "members":{
        "ReleaseLabel":{
          "shape":"String",
          "documentation":"<p>The target release label described in the response.</p>"
        },
        "Applications":{
          "shape":"SimplifiedApplicationList",
          "documentation":"<p>The list of applications available for the target release label. <code>Name</code> is the name of the application. <code>Version</code> is the concise version of the application.</p>"
        },
        "NextToken":{
          "shape":"String",
          "documentation":"<p>The pagination token. Reserved for future use. Currently set to null.</p>"
        },
        "AvailableOSReleases":{
          "shape":"OSReleaseList",
          "documentation":"<p>The list of available Amazon Linux release versions for an Amazon EMR release. Contains a Label field that is formatted as shown in <a href=\"https://docs.aws.amazon.com/AL2/latest/relnotes/relnotes-al2.html\"> <i>Amazon Linux 2 Release Notes</i> </a>. For example, <a href=\"https://docs.aws.amazon.com/AL2/latest/relnotes/relnotes-20220218.html\">2.0.20220218.1</a>.</p>"
        }
      }
    },
    "DescribeSecurityConfigurationInput":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"XmlString",
          "documentation":"<p>The name of the security configuration.</p>"
        }
      }
    },
    "DescribeSecurityConfigurationOutput":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"XmlString",
          "documentation":"<p>The name of the security configuration.</p>"
        },
        "SecurityConfiguration":{
          "shape":"String",
          "documentation":"<p>The security configuration details in JSON format.</p>"
        },
        "CreationDateTime":{
          "shape":"Date",
          "documentation":"<p>The date and time the security configuration was created</p>"
        }
      }
    },
    "DescribeStepInput":{
      "type":"structure",
      "required":[
        "ClusterId",
        "StepId"
      ],
      "members":{
        "ClusterId":{
          "shape":"ClusterId",
          "documentation":"<p>The identifier of the cluster with steps to describe.</p>"
        },
        "StepId":{
          "shape":"StepId",
          "documentation":"<p>The identifier of the step to describe.</p>"
        }
      },
      "documentation":"<p>This input determines which step to describe.</p>"
    },
    "DescribeStepOutput":{
      "type":"structure",
      "members":{
        "Step":{
          "shape":"Step",
          "documentation":"<p>The step details for the requested step identifier.</p>"
        }
      },
      "documentation":"<p>This output contains the description of the cluster step.</p>"
    },
    "DescribeStudioInput":{
      "type":"structure",
      "required":["StudioId"],
      "members":{
        "StudioId":{
          "shape":"XmlStringMaxLen256",
          "documentation":"<p>The Amazon EMR Studio ID.</p>"
        }
      }
    },
    "DescribeStudioOutput":{
      "type":"structure",
      "members":{
        "Studio":{
          "shape":"Studio",
          "documentation":"<p>The Amazon EMR Studio details.</p>"
        }
      }
    },
    "EC2InstanceIdsList":{
      "type":"list",
      "member":{"shape":"InstanceId"}
    },
    "EC2InstanceIdsToTerminateList":{
      "type":"list",
      "member":{"shape":"InstanceId"}
    },
    "EMRContainersConfig":{
      "type":"structure",
      "members":{
        "JobRunId":{
          "shape":"XmlStringMaxLen256",
          "documentation":"<p>The Job run ID for the container configuration.</p>"
        }
      },
      "documentation":"<p>The EMR container configuration.</p>"
    },
    "EbsBlockDevice":{
      "type":"structure",
      "members":{
        "VolumeSpecification":{
[...]
