{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2019-11-01",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"access-analyzer",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"Access Analyzer",
    "serviceId":"AccessAnalyzer",
    "signatureVersion":"v4",
    "signingName":"access-analyzer",
    "uid":"accessanalyzer-2019-11-01"
  },
  "operations":{
    "ApplyArchiveRule":{
      "name":"ApplyArchiveRule",
      "http":{
        "method":"PUT",
        "requestUri":"/archive-rule",
        "responseCode":200
      },
      "input":{"shape":"ApplyArchiveRuleRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retroactively applies the archive rule to existing findings that meet the archive rule criteria.</p>",
      "idempotent":true
    },
    "CancelPolicyGeneration":{
      "name":"CancelPolicyGeneration",
      "http":{
        "method":"PUT",
        "requestUri":"/policy/generation/{jobId}",
        "responseCode":200
      },
      "input":{"shape":"CancelPolicyGenerationRequest"},
      "output":{"shape":"CancelPolicyGenerationResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Cancels the requested policy generation.</p>",
      "idempotent":true
    },
    "CheckAccessNotGranted":{
      "name":"CheckAccessNotGranted",
      "http":{
        "method":"POST",
        "requestUri":"/policy/check-access-not-granted",
        "responseCode":200
      },
      "input":{"shape":"CheckAccessNotGrantedRequest"},
      "output":{"shape":"CheckAccessNotGrantedResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"InvalidParameterException"},
        {"shape":"UnprocessableEntityException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Checks whether the specified access isn't allowed by a policy.</p>"
    },
    "CheckNoNewAccess":{
      "name":"CheckNoNewAccess",
      "http":{
        "method":"POST",
        "requestUri":"/policy/check-no-new-access",
        "responseCode":200
      },
      "input":{"shape":"CheckNoNewAccessRequest"},
      "output":{"shape":"CheckNoNewAccessResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"InvalidParameterException"},
        {"shape":"UnprocessableEntityException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Checks whether new access is allowed for an updated policy when compared to the existing policy.</p> <p>You can find examples for reference policies and learn how to set up and run a custom policy check for new access in the <a href=\"https://github.com/aws-samples/iam-access-analyzer-custom-policy-check-samples\">IAM Access Analyzer custom policy checks samples</a> repository on GitHub. The reference policies in this repository are meant to be passed to the <code>existingPolicyDocument</code> request parameter.</p>"
    },
    "CheckNoPublicAccess":{
      "name":"CheckNoPublicAccess",
      "http":{
        "method":"POST",
        "requestUri":"/policy/check-no-public-access",
        "responseCode":200
      },
      "input":{"shape":"CheckNoPublicAccessRequest"},
      "output":{"shape":"CheckNoPublicAccessResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"InvalidParameterException"},
        {"shape":"UnprocessableEntityException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Checks whether a resource policy can grant public access to the specified resource type.</p>"
    },
    "CreateAccessPreview":{
      "name":"CreateAccessPreview",
      "http":{
        "method":"PUT",
        "requestUri":"/access-preview",
        "responseCode":200
      },
      "input":{"shape":"CreateAccessPreviewRequest"},
      "output":{"shape":"CreateAccessPreviewResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates an access preview that allows you to preview IAM Access Analyzer findings for your resource before deploying resource permissions.</p>",
      "idempotent":true
    },
    "CreateAnalyzer":{
      "name":"CreateAnalyzer",
      "http":{
        "method":"PUT",
        "requestUri":"/analyzer",
        "responseCode":200
      },
      "input":{"shape":"CreateAnalyzerRequest"},
      "output":{"shape":"CreateAnalyzerResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates an analyzer for your account.</p>",
      "idempotent":true
    },
    "CreateArchiveRule":{
      "name":"CreateArchiveRule",
      "http":{
        "method":"PUT",
        "requestUri":"/analyzer/{analyzerName}/archive-rule",
        "responseCode":200
      },
      "input":{"shape":"CreateArchiveRuleRequest"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates an archive rule for the specified analyzer. Archive rules automatically archive new findings that meet the criteria you define when you create the rule.</p> <p>To learn about filter keys that you can use to create an archive rule, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-reference-filter-keys.html\">IAM Access Analyzer filter keys</a> in the <b>IAM User Guide</b>.</p>",
      "idempotent":true
    },
    "DeleteAnalyzer":{
      "name":"DeleteAnalyzer",
      "http":{
        "method":"DELETE",
        "requestUri":"/analyzer/{analyzerName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteAnalyzerRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes the specified analyzer. When you delete an analyzer, IAM Access Analyzer is disabled for the account or organization in the current or specific Region. All findings that were generated by the analyzer are deleted. You cannot undo this action.</p>",
      "idempotent":true
    },
    "DeleteArchiveRule":{
      "name":"DeleteArchiveRule",
      "http":{
        "method":"DELETE",
        "requestUri":"/analyzer/{analyzerName}/archive-rule/{ruleName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteArchiveRuleRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes the specified archive rule.</p>",
      "idempotent":true
    },
    "GenerateFindingRecommendation":{
      "name":"GenerateFindingRecommendation",
      "http":{
        "method":"POST",
        "requestUri":"/recommendation/{id}",
        "responseCode":200
      },
      "input":{"shape":"GenerateFindingRecommendationRequest"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a recommendation for an unused permissions finding.</p>"
    },
    "GetAccessPreview":{
      "name":"GetAccessPreview",
      "http":{
        "method":"GET",
        "requestUri":"/access-preview/{accessPreviewId}",
        "responseCode":200
      },
      "input":{"shape":"GetAccessPreviewRequest"},
      "output":{"shape":"GetAccessPreviewResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves information about an access preview for the specified analyzer.</p>"
    },
    "GetAnalyzedResource":{
      "name":"GetAnalyzedResource",
      "http":{
        "method":"GET",
        "requestUri":"/analyzed-resource",
        "responseCode":200
      },
      "input":{"shape":"GetAnalyzedResourceRequest"},
      "output":{"shape":"GetAnalyzedResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves information about a resource that was analyzed.</p>"
    },
    "GetAnalyzer":{
      "name":"GetAnalyzer",
      "http":{
        "method":"GET",
        "requestUri":"/analyzer/{analyzerName}",
        "responseCode":200
      },
      "input":{"shape":"GetAnalyzerRequest"},
      "output":{"shape":"GetAnalyzerResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves information about the specified analyzer.</p>"
    },
    "GetArchiveRule":{
      "name":"GetArchiveRule",
      "http":{
        "method":"GET",
        "requestUri":"/analyzer/{analyzerName}/archive-rule/{ruleName}",
        "responseCode":200
      },
      "input":{"shape":"GetArchiveRuleRequest"},
      "output":{"shape":"GetArchiveRuleResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves information about an archive rule.</p> <p>To learn about filter keys that you can use to create an archive rule, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-reference-filter-keys.html\">IAM Access Analyzer filter keys</a> in the <b>IAM User Guide</b>.</p>"
    },
    "GetFinding":{
      "name":"GetFinding",
      "http":{
        "method":"GET",
        "requestUri":"/finding/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetFindingRequest"},
      "output":{"shape":"GetFindingResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves information about the specified finding. GetFinding and GetFindingV2 both use <code>access-analyzer:GetFinding</code> in the <code>Action</code> element of an IAM policy statement. You must have permission to perform the <code>access-analyzer:GetFinding</code> action.</p>"
    },
    "GetFindingRecommendation":{
      "name":"GetFindingRecommendation",
      "http":{
        "method":"GET",
        "requestUri":"/recommendation/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetFindingRecommendationRequest"},
      "output":{"shape":"GetFindingRecommendationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves information about a finding recommendation for the specified analyzer.</p>"
    },
    "GetFindingV2":{
      "name":"GetFindingV2",
      "http":{
        "method":"GET",
        "requestUri":"/findingv2/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetFindingV2Request"},
      "output":{"shape":"GetFindingV2Response"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves information about the specified finding. GetFinding and GetFindingV2 both use <code>access-analyzer:GetFinding</code> in the <code>Action</code> element of an IAM policy statement. You must have permission to perform the <code>access-analyzer:GetFinding</code> action.</p>"
    },
    "GetFindingsStatistics":{
      "name":"GetFindingsStatistics",
      "http":{
        "method":"POST",
        "requestUri":"/analyzer/findings/statistics",
        "responseCode":200
      },
      "input":{"shape":"GetFindingsStatisticsRequest"},
      "output":{"shape":"GetFindingsStatisticsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a list of aggregated finding statistics for an external access or unused access analyzer.</p>"
    },
    "GetGeneratedPolicy":{
      "name":"GetGeneratedPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/policy/generation/{jobId}",
        "responseCode":200
      },
      "input":{"shape":"GetGeneratedPolicyRequest"},
      "output":{"shape":"GetGeneratedPolicyResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves the policy that was generated using <code>StartPolicyGeneration</code>. </p>"
    },
    "ListAccessPreviewFindings":{
      "name":"ListAccessPreviewFindings",
      "http":{
        "method":"POST",
        "requestUri":"/access-preview/{accessPreviewId}",
        "responseCode":200
      },
      "input":{"shape":"ListAccessPreviewFindingsRequest"},
      "output":{"shape":"ListAccessPreviewFindingsResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a list of access preview findings generated by the specified access preview.</p>"
    },
    "ListAccessPreviews":{
      "name":"ListAccessPreviews",
      "http":{
        "method":"GET",
        "requestUri":"/access-preview",
        "responseCode":200
      },
      "input":{"shape":"ListAccessPreviewsRequest"},
      "output":{"shape":"ListAccessPreviewsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a list of access previews for the specified analyzer.</p>"
    },
    "ListAnalyzedResources":{
      "name":"ListAnalyzedResources",
      "http":{
        "method":"POST",
        "requestUri":"/analyzed-resource",
        "responseCode":200
      },
      "input":{"shape":"ListAnalyzedResourcesRequest"},
      "output":{"shape":"ListAnalyzedResourcesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a list of resources of the specified type that have been analyzed by the specified analyzer.</p>"
    },
    "ListAnalyzers":{
      "name":"ListAnalyzers",
      "http":{
        "method":"GET",
        "requestUri":"/analyzer",
        "responseCode":200
      },
      "input":{"shape":"ListAnalyzersRequest"},
      "output":{"shape":"ListAnalyzersResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a list of analyzers.</p>"
    },
    "ListArchiveRules":{
      "name":"ListArchiveRules",
      "http":{
        "method":"GET",
        "requestUri":"/analyzer/{analyzerName}/archive-rule",
        "responseCode":200
      },
      "input":{"shape":"ListArchiveRulesRequest"},
      "output":{"shape":"ListArchiveRulesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a list of archive rules created for the specified analyzer.</p>"
    },
    "ListFindings":{
      "name":"ListFindings",
      "http":{
        "method":"POST",
        "requestUri":"/finding",
        "responseCode":200
      },
      "input":{"shape":"ListFindingsRequest"},
      "output":{"shape":"ListFindingsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a list of findings generated by the specified analyzer. ListFindings and ListFindingsV2 both use <code>access-analyzer:ListFindings</code> in the <code>Action</code> element of an IAM policy statement. You must have permission to perform the <code>access-analyzer:ListFindings</code> action.</p> <p>To learn about filter keys that you can use to retrieve a list of findings, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-reference-filter-keys.html\">IAM Access Analyzer filter keys</a> in the <b>IAM User Guide</b>.</p>"
    },
    "ListFindingsV2":{
      "name":"ListFindingsV2",
      "http":{
        "method":"POST",
        "requestUri":"/findingv2",
        "responseCode":200
      },
      "input":{"shape":"ListFindingsV2Request"},
      "output":{"shape":"ListFindingsV2Response"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a list of findings generated by the specified analyzer. ListFindings and ListFindingsV2 both use <code>access-analyzer:ListFindings</code> in the <code>Action</code> element of an IAM policy statement. You must have permission to perform the <code>access-analyzer:ListFindings</code> action.</p> <p>To learn about filter keys that you can use to retrieve a list of findings, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-reference-filter-keys.html\">IAM Access Analyzer filter keys</a> in the <b>IAM User Guide</b>.</p>"
    },
    "ListPolicyGenerations":{
      "name":"ListPolicyGenerations",
      "http":{
        "method":"GET",
        "requestUri":"/policy/generation",
        "responseCode":200
      },
      "input":{"shape":"ListPolicyGenerationsRequest"},
      "output":{"shape":"ListPolicyGenerationsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists all of the policy generations requested in the last seven days.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a list of tags applied to the specified resource.</p>"
    },
    "StartPolicyGeneration":{
      "name":"StartPolicyGeneration",
      "http":{
        "method":"PUT",
        "requestUri":"/policy/generation",
        "responseCode":200
      },
      "input":{"shape":"StartPolicyGenerationRequest"},
      "output":{"shape":"StartPolicyGenerationResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Starts the policy generation request.</p>",
      "idempotent":true
    },
    "StartResourceScan":{
      "name":"StartResourceScan",
      "http":{
        "method":"POST",
        "requestUri":"/resource/scan",
        "responseCode":200
      },
      "input":{"shape":"StartResourceScanRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Immediately starts a scan of the policies applied to the specified resource.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Adds a tag to the specified resource.</p>",
      "idempotent":true
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Removes a tag from the specified resource.</p>",
      "idempotent":true
    },
    "UpdateAnalyzer":{
      "name":"UpdateAnalyzer",
      "http":{
        "method":"PUT",
        "requestUri":"/analyzer/{analyzerName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateAnalyzerRequest"},
      "output":{"shape":"UpdateAnalyzerResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Modifies the configuration of an existing analyzer.</p>",
      "idempotent":true
    },
    "UpdateArchiveRule":{
      "name":"UpdateArchiveRule",
      "http":{
        "method":"PUT",
        "requestUri":"/analyzer/{analyzerName}/archive-rule/{ruleName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateArchiveRuleRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates the criteria and values for the specified archive rule.</p>",
      "idempotent":true
    },
    "UpdateFindings":{
      "name":"UpdateFindings",
      "http":{
        "method":"PUT",
        "requestUri":"/finding",
        "responseCode":200
      },
      "input":{"shape":"UpdateFindingsRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates the status for the specified findings.</p>",
      "idempotent":true
    },
    "ValidatePolicy":{
      "name":"ValidatePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/policy/validation",
        "responseCode":200
      },
      "input":{"shape":"ValidatePolicyRequest"},
      "output":{"shape":"ValidatePolicyResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Requests the validation of a policy and returns a list of findings. The findings help you identify issues and provide actionable recommendations to resolve the issue and enable you to author functional policies that meet security best practices. </p>"
    }
  },
  "shapes":{
    "Access":{
      "type":"structure",
      "members":{
        "actions":{
          "shape":"AccessActionsList",
          "documentation":"<p>A list of actions for the access permissions. Any strings that can be used as an action in an IAM policy can be used in the list of actions to check.</p>"
        },
        "resources":{
          "shape":"AccessResourcesList",
          "documentation":"<p>A list of resources for the access permissions. Any strings that can be used as an Amazon Resource Name (ARN) in an IAM policy can be used in the list of resources to check. You can only use a wildcard in the portion of the ARN that specifies the resource ID.</p>"
        }
      },
      "documentation":"<p>Contains information about actions and resources that define permissions to check against a policy.</p>"
    },
    "AccessActionsList":{
      "type":"list",
      "member":{"shape":"Action"},
      "max":100,
      "min":0
    },
    "AccessCheckPolicyDocument":{
      "type":"string",
      "sensitive":true
    },
    "AccessCheckPolicyType":{
      "type":"string",
      "enum":[
        "IDENTITY_POLICY",
        "RESOURCE_POLICY"
      ]
    },
    "AccessCheckResourceType":{
      "type":"string",
      "enum":[
        "AWS::DynamoDB::Table",
        "AWS::DynamoDB::Stream",
        "AWS::EFS::FileSystem",
        "AWS::OpenSearchService::Domain",
        "AWS::Kinesis::Stream",
        "AWS::Kinesis::StreamConsumer",
        "AWS::KMS::Key",
        "AWS::Lambda::Function",
        "AWS::S3::Bucket",
        "AWS::S3::AccessPoint",
        "AWS::S3Express::DirectoryBucket",
        "AWS::S3::Glacier",
        "AWS::S3Outposts::Bucket",
        "AWS::S3Outposts::AccessPoint",
        "AWS::SecretsManager::Secret",
        "AWS::SNS::Topic",
        "AWS::SQS::Queue",
        "AWS::IAM::AssumeRolePolicyDocument",
        "AWS::S3Tables::TableBucket",
        "AWS::ApiGateway::RestApi",
        "AWS::CodeArtifact::Domain",
        "AWS::Backup::BackupVault",
        "AWS::CloudTrail::Dashboard",
        "AWS::CloudTrail::EventDataStore",
        "AWS::S3Tables::Table",
        "AWS::S3Express::AccessPoint"
      ]
    },
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>You do not have sufficient access to perform this action.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AccessPointArn":{
      "type":"string",
      "pattern":"arn:[^:]*:s3:[^:]*:[^:]*:accesspoint/.*"
    },
    "AccessPointPolicy":{"type":"string"},
    "AccessPreview":{
      "type":"structure",
      "required":[
        "id",
        "analyzerArn",
        "configurations",
        "createdAt",
        "status"
      ],
      "members":{
        "id":{
          "shape":"AccessPreviewId",
          "documentation":"<p>The unique ID for the access preview.</p>"
        },
        "analyzerArn":{
          "shape":"AnalyzerArn",
          "documentation":"<p>The ARN of the analyzer used to generate the access preview.</p>"
        },
        "configurations":{
          "shape":"ConfigurationsMap",
          "documentation":"<p>A map of resource ARNs for the proposed resource configuration.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the access preview was created.</p>"
        },
        "status":{
          "shape":"AccessPreviewStatus",
          "documentation":"<p>The status of the access preview.</p> <ul> <li> <p> <code>Creating</code> - The access preview creation is in progress.</p> </li> <li> <p> <code>Completed</code> - The access preview is complete. You can preview findings for external access to the resource.</p> </li> <li> <p> <code>Failed</code> - The access preview creation has failed.</p> </li> </ul>"
        },
        "statusReason":{
          "shape":"AccessPreviewStatusReason",
          "documentation":"<p>Provides more details about the current status of the access preview.</p> <p>For example, if the creation of the access preview fails, a <code>Failed</code> status is returned. This failure can be due to an internal issue with the analysis or due to an invalid resource configuration.</p>"
        }
      },
      "documentation":"<p>Contains information about an access preview.</p>"
    },
    "AccessPreviewFinding":{
      "type":"structure",
      "required":[
        "id",
        "resourceType",
        "createdAt",
        "changeType",
        "status",
        "resourceOwnerAccount"
      ],
      "members":{
        "id":{
          "shape":"AccessPreviewFindingId",
          "documentation":"<p>The ID of the access preview finding. This ID uniquely identifies the element in the list of access preview findings and is not related to the finding ID in Access Analyzer.</p>"
        },
        "existingFindingId":{
          "shape":"FindingId",
          "documentation":"<p>The existing ID of the finding in IAM Access Analyzer, provided only for existing findings.</p>"
        },
        "existingFindingStatus":{
          "shape":"FindingStatus",
          "documentation":"<p>The existing status of the finding, provided only for existing findings.</p>"
        },
        "principal":{
          "shape":"PrincipalMap",
          "documentation":"<p>The external principal that has access to a resource within the zone of trust.</p>"
        },
        "action":{
          "shape":"ActionList",
          "documentation":"<p>The action in the analyzed policy statement that an external principal has permission to perform.</p>"
        },
        "condition":{
          "shape":"ConditionKeyMap",
          "documentation":"<p>The condition in the analyzed policy statement that resulted in a finding.</p>"
        },
        "resource":{
          "shape":"String",
          "documentation":"<p>The resource that an external principal has access to. This is the resource associated with the access preview.</p>"
        },
        "isPublic":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the policy that generated the finding allows public access to the resource.</p>"
        },
        "resourceType":{
          "shape":"ResourceType",
          "documentation":"<p>The type of the resource that can be accessed in the finding.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the access preview finding was created.</p>"
        },
        "changeType":{
          "shape":"FindingChangeType",
          "documentation":"<p>Provides context on how the access preview finding compares to existing access identified in IAM Access Analyzer.</p> <ul> <li> <p> <code>New</code> - The finding is for newly-introduced access.</p> </li> <li> <p> <code>Unchanged</code> - The preview finding is an existing finding that would remain unchanged.</p> </li> <li> <p> <code>Changed</code> - The preview finding is an existing finding with a change in status.</p> </li> </ul> <p>For example, a <code>Changed</code> finding with preview status <code>Resolved</code> and existing status <code>Active</code> indicates the existing <code>Active</code> finding would become <code>Resolved</code> as a result of the proposed permissions change.</p>"
        },
        "status":{
          "shape":"FindingStatus",
          "documentation":"<p>The preview status of the finding. This is what the status of the finding would be after permissions deployment. For example, a <code>Changed</code> finding with preview status <code>Resolved</code> and existing status <code>Active</code> indicates the existing <code>Active</code> finding would become <code>Resolved</code> as a result of the proposed permissions change.</p>"
        },
        "resourceOwnerAccount":{
          "shape":"String",
          "documentation":"<p>The Amazon Web Services account ID that owns the resource. For most Amazon Web Services resources, the owning account is the account in which the resource was created.</p>"
        },
        "error":{
          "shape":"String",
          "documentation":"<p>An error.</p>"
        },
        "sources":{
          "shape":"FindingSourceList",
          "documentation":"<p>The sources of the finding. This indicates how the access that generated the finding is granted. It is populated for Amazon S3 bucket findings.</p>"
        },
        "resourceControlPolicyRestriction":{
          "shape":"ResourceControlPolicyRestriction",
          "documentation":"<p>The type of restriction applied to the finding by the resource owner with an Organizations resource control policy (RCP).</p>"
        }
      },
      "documentation":"<p>An access preview finding generated by the access preview.</p>"
    },
    "AccessPreviewFindingId":{"type":"string"},
    "AccessPreviewFindingsList":{
      "type":"list",
      "member":{"shape":"AccessPreviewFinding"}
    },
    "AccessPreviewId":{
      "type":"string",
      "pattern":"[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"
    },
    "AccessPreviewStatus":{
      "type":"string",
      "enum":[
        "COMPLETED",
        "CREATING",
        "FAILED"
      ]
    },
    "AccessPreviewStatusReason":{
      "type":"structure",
      "required":["code"],
      "members":{
        "code":{
          "shape":"AccessPreviewStatusReasonCode",
          "documentation":"<p>The reason code for the current status of the access preview.</p>"
        }
      },
      "documentation":"<p>Provides more details about the current status of the access preview. For example, if the creation of the access preview fails, a <code>Failed</code> status is returned. This failure can be due to an internal issue with the analysis or due to an invalid proposed resource configuration.</p>"
    },
    "AccessPreviewStatusReasonCode":{
      "type":"string",
      "enum":[
        "INTERNAL_ERROR",
        "INVALID_CONFIGURATION"
      ]
    },
    "AccessPreviewSummary":{
      "type":"structure",
      "required":[
        "id",
        "analyzerArn",
        "createdAt",
        "status"
      ],
      "members":{
        "id":{
          "shape":"AccessPreviewId",
          "documentation":"<p>The unique ID for the access preview.</p>"
        },
        "analyzerArn":{
          "shape":"AnalyzerArn",
          "documentation":"<p>The ARN of the analyzer used to generate the access preview.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the access preview was created.</p>"
        },
        "status":{
          "shape":"AccessPreviewStatus",
          "documentation":"<p>The status of the access preview.</p> <ul> <li> <p> <code>Creating</code> - The access preview creation is in progress.</p> </li> <li> <p> <code>Completed</code> - The access preview is complete and previews the findings for external access to the resource.</p> </li> <li> <p> <code>Failed</code> - The access preview creation has failed.</p> </li> </ul>"
        },
        "statusReason":{"shape":"AccessPreviewStatusReason"}
      },
      "documentation":"<p>Contains a summary of information about an access preview.</p>"
    },
    "AccessPreviewsList":{
      "type":"list",
      "member":{"shape":"AccessPreviewSummary"}
    },
    "AccessResourcesList":{
      "type":"list",
      "member":{"shape":"Resource"},
      "max":100,
      "min":0
    },
    "AccountAggregations":{
      "type":"list",
      "member":{"shape":"FindingAggregationAccountDetails"},
      "max":10,
      "min":1
    },
    "AccountIdsList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "AclCanonicalId":{"type":"string"},
    "AclGrantee":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"AclCanonicalId",
          "documentation":"<p>The value specified is the canonical user ID of an Amazon Web Services account.</p>"
        },
        "uri":{
          "shape":"AclUri",
          "documentation":"<p>Used for granting permissions to a predefined group.</p>"
        }
      },
      "documentation":"<p>You specify each grantee as a type-value pair using one of these types. You can specify only one type of grantee. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutBucketAcl.html\">PutBucketAcl</a>.</p>",
      "union":true
    },
    "AclPermission":{
      "type":"string",
      "enum":[
        "READ",
        "WRITE",
        "READ_ACP",
        "WRITE_ACP",
        "FULL_CONTROL"
      ]
    },
    "AclUri":{"type":"string"},
    "Action":{"type":"string"},
    "ActionList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "AnalysisRule":{
      "type":"structure",
      "members":{
        "exclusions":{
          "shape":"AnalysisRuleCriteriaList",
          "documentation":"<p>A list of rules for the analyzer containing criteria to exclude from analysis. Entities that meet the rule criteria will not generate findings.</p>"
        }
      },
      "documentation":"<p>Contains information about analysis rules for the analyzer. Analysis rules determine which entities will generate findings based on the criteria you define when you create the rule.</p>"
    },
    "AnalysisRuleCriteria":{
      "type":"structure",
      "members":{
        "accountIds":{
          "shape":"AccountIdsList",
          "documentation":"<p>A list of Amazon Web Services account IDs to apply to the analysis rule criteria. The accounts cannot include the organization analyzer owner account. Account IDs can only be applied to the analysis rule criteria for organization-level analyzers. The list cannot include more than 2,000 account IDs.</p>"
        },
        "resourceTags":{
          "shape":"TagsList",
          "documentation":"<p>An array of key-value pairs to match for your resources. You can use the set of Unicode letters, digits, whitespace, <code>_</code>, <code>.</code>, <code>/</code>, <code>=</code>, <code>+</code>, and <code>-</code>.</p> <p>For the tag key, you can specify a value that is 1 to 128 characters in length and cannot be prefixed with <code>aws:</code>.</p> <p>For the tag value, you can specify a value that is 0 to 256 characters in length. If the specified tag value is 0 characters, the rule is applied to all principals with the specified tag key.</p>"
        }
      },
      "documentation":"<p>The criteria for an analysis rule for an analyzer. The criteria determine which entities will generate findings.</p>"
    },
    "AnalysisRuleCriteriaList":{
      "type":"list",
      "member":{"shape":"AnalysisRuleCriteria"}
    },
    "AnalyzedResource":{
      "type":"structure",
      "required":[
        "resourceArn",
        "resourceType",
        "createdAt",
        "analyzedAt",
        "updatedAt",
        "isPublic",
        "resourceOwnerAccount"
      ],
      "members":{
        "resourceArn":{
          "shape":"ResourceArn",
          "documentation":"<p>The ARN of the resource that was analyzed.</p>"
        },
        "resourceType":{
          "shape":"ResourceType",
          "documentation":"<p>The type of the resource that was analyzed.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the finding was created.</p>"
        },
        "analyzedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the resource was analyzed.</p>"
        },
        "updatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the finding was updated.</p>"
        },
        "isPublic":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the policy that generated the finding grants public access to the resource.</p>"
        },
        "actions":{
          "shape":"ActionList",
          "documentation":"<p>The actions that an external principal is granted permission to use by the policy that generated the finding.</p>"
        },
        "sharedVia":{
          "shape":"SharedViaList",
          "documentation":"<p>Indicates how the access that generated the finding is granted. This is populated for Amazon S3 bucket findings.</p>"
        },
        "status":{
          "shape":"FindingStatus",
          "documentation":"<p>The current status of the finding generated from the analyzed resource.</p>"
        },
        "resourceOwnerAccount":{
          "shape":"String",
          "documentation":"<p>The Amazon Web Services account ID that owns the resource.</p>"
        },
        "error":{
          "shape":"String",
          "documentation":"<p>An error message.</p>"
        }
      },
      "documentation":"<p>Contains details about the analyzed resource.</p>"
    },
    "AnalyzedResourceSummary":{
      "type":"structure",
      "required":[
        "resourceArn",
        "resourceOwnerAccount",
        "resourceType"
      ],
      "members":{
        "resourceArn":{
          "shape":"ResourceArn",
          "documentation":"<p>The ARN of the analyzed resource.</p>"
        },
        "resourceOwnerAccount":{
          "shape":"String",
          "documentation":"<p>The Amazon Web Services account ID that owns the resource.</p>"
        },
        "resourceType":{
          "shape":"ResourceType",
          "documentation":"<p>The type of resource that was analyzed.</p>"
        }
      },
      "documentation":"<p>Contains the ARN of the analyzed resource.</p>"
    },
    "AnalyzedResourcesList":{
      "type":"list",
      "member":{"shape":"AnalyzedResourceSummary"}
    },
    "AnalyzerArn":{
      "type":"string",
      "pattern":"[^:]*:[^:]*:[^:]*:[^:]*:[^:]*:analyzer/.{1,255}"
    },
    "AnalyzerConfiguration":{
      "type":"structure",
      "members":{
        "unusedAccess":{
          "shape":"UnusedAccessConfiguration",
          "documentation":"<p>Specifies the configuration of an unused access analyzer for an Amazon Web Services organization or account.</p>"
        },
        "internalAccess":{
          "shape":"InternalAccessConfiguration",
          "documentation":"<p>Specifies the configuration of an internal access analyzer for an Amazon Web Services organization or account. This configuration determines how the analyzer evaluates access within your Amazon Web Services environment.</p>"
        }
      },
      "documentation":"<p>Contains information about the configuration of an analyzer for an Amazon Web Services organization or account.</p>",
      "union":true
    },
    "AnalyzerStatus":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "CREATING",
        "DISABLED",
        "FAILED"
      ]
    },
    "AnalyzerSummary":{
      "type":"structure",
      "required":[
        "arn",
        "name",
        "type",
        "createdAt",
        "status"
      ],
      "members":{
        "arn":{
          "shape":"AnalyzerArn",
          "documentation":"<p>The ARN of the analyzer.</p>"
        },
        "name":{
          "shape":"Name",
          "documentation":"<p>The name of the analyzer.</p>"
        },
        "type":{
          "shape":"Type",
          "documentation":"<p>The type of analyzer, which corresponds to the zone of trust chosen for the analyzer.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>A timestamp for the time at which the analyzer was created.</p>"
        },
        "lastResourceAnalyzed":{
          "shape":"String",
          "documentation":"<p>The resource that was most recently analyzed by the analyzer.</p>"
        },
        "lastResourceAnalyzedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the most recently analyzed resource was analyzed.</p>"
        },
        "tags":{
          "shape":"TagsMap",
          "documentation":"<p>The tags added to the analyzer.</p>"
        },
        "status":{
          "shape":"AnalyzerStatus",
          "documentation":"<p>The status of the analyzer. An <code>Active</code> analyzer successfully monitors supported resources and generates new findings. The analyzer is <code>Disabled</code> when a user action, such as removing trusted access for Identity and Access Management Access Analyzer from Organizations, causes the analyzer to stop generating new findings. The status is <code>Creating</code> when the analyzer creation is in progress and <code>Failed</code> when the analyzer creation has failed. </p>"
        },
        "statusReason":{
          "shape":"StatusReason",
          "documentation":"<p>The <code>statusReason</code> provides more details about the current status of the analyzer. For example, if the creation for the analyzer fails, a <code>Failed</code> status is returned. For an analyzer with organization as the type, this failure can be due to an issue with creating the service-linked roles required in the member accounts of the Amazon Web Services organization.</p>"
        },
        "configuration":{
          "shape":"AnalyzerConfiguration",
          "documentation":"<p>Specifies if the analyzer is an external access, unused access, or internal access analyzer.</p>"
        }
      },
      "documentation":"<p>Contains information about the analyzer.</p>"
    },
    "AnalyzersList":{
      "type":"list",
      "member":{"shape":"AnalyzerSummary"}
    },
    "ApplyArchiveRuleRequest":{
      "type":"structure",
      "required":[
        "analyzerArn",
        "ruleName"
      ],
      "members":{
        "analyzerArn":{
          "shape":"AnalyzerArn",
          "documentation":"<p>The Amazon resource name (ARN) of the analyzer.</p>"
        },
        "ruleName":{
          "shape":"Name",
          "documentation":"<p>The name of the rule to apply.</p>"
        },
        "clientToken":{
          "shape":"String",
          "documentation":"<p>A client token.</p>",
          "idempotencyToken":true
        }
      },
      "documentation":"<p>Retroactively applies an archive rule.</p>"
    },
    "ArchiveRuleSummary":{
      "type":"structure",
      "required":[
        "ruleName",
        "filter",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "ruleName":{
          "shape":"Name",
          "documentation":"<p>The name of the archive rule.</p>"
        },
        "filter":{
          "shape":"FilterCriteriaMap",
          "documentation":"<p>A filter used to define the archive rule.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the archive rule was created.</p>"
        },
        "updatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the archive rule was last updated.</p>"
        }
      },
      "documentation":"<p>Contains information about an archive rule. Archive rules automatically archive new findings that meet the criteria you define when you create the rule.</p>"
    },
    "ArchiveRulesList":{
      "type":"list",
      "member":{"shape":"ArchiveRuleSummary"}
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "CancelPolicyGenerationRequest":{
      "type":"structure",
      "required":["jobId"],
      "members":{
        "jobId":{
          "shape":"JobId",
          "documentation":"<p>The <code>JobId</code> that is returned by the <code>StartPolicyGeneration</code> operation. The <code>JobId</code> can be used with <code>GetGeneratedPolicy</code> to retrieve the generated policies or used with <code>CancelPolicyGeneration</code> to cancel the policy generation request.</p>",
          "location":"uri",
          "locationName":"jobId"
        }
      }
    },
    "CancelPolicyGenerationResponse":{
      "type":"structure",
      "members":{
      }
    },
    "CheckAccessNotGrantedRequest":{
      "type":"structure",
      "required":[
        "policyDocument",
        "access",
        "policyType"
      ],
      "members":{
        "policyDocument":{
          "shape":"AccessCheckPolicyDocument",
          "documentation":"<p>The JSON policy document to use as the content for the policy.</p>"
        },
        "access":{
          "shape":"CheckAccessNotGrantedRequestAccessList",
          "documentation":"<p>An access object containing the permissions that shouldn't be granted by the specified policy. If only actions are specified, IAM Access Analyzer checks for access to peform at least one of the actions on any resource in the policy. If only resources are specified, then IAM Access Analyzer checks for access to perform any action on at least one of the resources. If both actions and resources are specified, IAM Access Analyzer checks for access to perform at least one of the specified actions on at least one of the specified resources.</p>"
        },
        "policyType":{
          "shape":"AccessCheckPolicyType",
          "documentation":"<p>The type of policy. Identity policies grant permissions to IAM principals. Identity policies include managed and inline policies for IAM roles, users, and groups.</p> <p>Resource policies grant permissions on Amazon Web Services resources. Resource policies include trust policies for IAM roles and bucket policies for Amazon S3 buckets.</p>"
        }
      }
    },
    "CheckAccessNotGrantedRequestAccessList":{
      "type":"list",
      "member":{"shape":"Access"},
      "max":1,
      "min":0
    },
    "CheckAccessNotGrantedResponse":{
      "type":"structure",
      "members":{
        "result":{
          "shape":"CheckAccessNotGrantedResult",
          "documentation":"<p>The result of the check for whether the access is allowed. If the result is <code>PASS</code>, the specified policy doesn't allow any of the specified permissions in the access object. If the result is <code>FAIL</code>, the specified policy might allow some or all of the permissions in the access object.</p>"
        },
        "message":{
          "shape":"String",
          "documentation":"<p>The message indicating whether the specified access is allowed.</p>"
        },
        "reasons":{
          "shape":"ReasonSummaryList",
          "documentation":"<p>A description of the reasoning of the result.</p>"
        }
      }
    },
    "CheckAccessNotGrantedResult":{
      "type":"string",
      "enum":[
        "PASS",
        "FAIL"
      ]
    },
    "CheckNoNewAccessRequest":{
      "type":"structure",
      "required":[
        "newPolicyDocument",
        "existingPolicyDocument",
        "policyType"
      ],
      "members":{
        "newPolicyDocument":{
          "shape":"AccessCheckPolicyDocument",
          "documentation":"<p>The JSON policy document to use as the content for the updated policy.</p>"
        },
        "existingPolicyDocument":{
          "shape":"AccessCheckPolicyDocument",
          "documentation":"<p>The JSON policy document to use as the content for the existing policy.</p>"
        },
        "policyType":{
          "shape":"AccessCheckPolicyType",
          "documentation":"<p>The type of policy to compare. Identity policies grant permissions to IAM principals. Identity policies include managed and inline policies for IAM roles, users, and groups.</p> <p>Resource policies grant permissions on Amazon Web Services resources. Resource policies include trust policies for IAM roles and bucket policies for Amazon S3 buckets. You can provide a generic input such as identity policy or resource policy or a specific input such as managed policy or Amazon S3 bucket policy.</p>"
        }
      }
    },
    "CheckNoNewAccessResponse":{
      "type":"structure",
      "members":{
        "result":{
          "shape":"CheckNoNewAccessResult",
          "documentation":"<p>The result of the check for new access. If the result is <code>PASS</code>, no new access is allowed by the updated policy. If the result is <code>FAIL</code>, the updated policy might allow new access.</p>"
        },
        "message":{
          "shape":"String",
          "documentation":"<p>The message indicating whether the updated policy allows new access.</p>"
        },
        "reasons":{
          "shape":"ReasonSummaryList",
          "documentation":"<p>A description of the reasoning of the result.</p>"
        }
      }
    },
    "CheckNoNewAccessResult":{
      "type":"string",
      "enum":[
        "PASS",
        "FAIL"
      ]
    },
    "CheckNoPublicAccessRequest":{
      "type":"structure",
      "required":[
        "policyDocument",
        "resourceType"
      ],
      "members":{
        "policyDocument":{
          "shape":"AccessCheckPolicyDocument",
          "documentation":"<p>The JSON policy document to evaluate for public access.</p>"
        },
        "resourceType":{
          "shape":"AccessCheckResourceType",
          "documentation":"<p>The type of resource to evaluate for public access. For example, to check for public access to Amazon S3 buckets, you can choose <code>AWS::S3::Bucket</code> for the resource type.</p> <p>For resource types not supported as valid values, IAM Access Analyzer will return an error.</p>"
        }
      }
    },
    "CheckNoPublicAccessResponse":{
      "type":"structure",
      "members":{
        "result":{
          "shape":"CheckNoPublicAccessResult",
          "documentation":"<p>The result of the check for public access to the specified resource type. If the result is <code>PASS</code>, the policy doesn't allow public access to the specified resource type. If the result is <code>FAIL</code>, the policy might allow public access to the specified resource type.</p>"
        },
        "message":{
          "shape":"String",
          "documentation":"<p>The message indicating whether the specified policy allows public access to resources.</p>"
        },
        "reasons":{
          "shape":"ReasonSummaryList",
          "documentation":"<p>A list of reasons why the specified resource policy grants public access for the resource type.</p>"
        }
      }
    },
    "CheckNoPublicAccessResult":{
      "type":"string",
      "enum":[
        "PASS",
        "FAIL"
      ]
    },
    "CloudTrailArn":{
      "type":"string",
      "pattern":"arn:[^:]*:cloudtrail:[^:]*:[^:]*:trail/.{1,576}"
    },
    "CloudTrailDetails":{
      "type":"structure",
      "required":[
        "trails",
        "accessRole",
        "startTime"
      ],
      "members":{
        "trails":{
          "shape":"TrailList",
          "documentation":"<p>A <code>Trail</code> object that contains settings for a trail.</p>"
        },
        "accessRole":{
          "shape":"RoleArn",
          "documentation":"<p>The ARN of the service role that IAM Access Analyzer uses to access your CloudTrail trail and service last accessed information.</p>"
        },
        "startTime":{
          "shape":"Timestamp",
          "documentation":"<p>The start of the time range for which IAM Access Analyzer reviews your CloudTrail events. Events with a timestamp before this time are not considered to generate a policy.</p>"
        },
        "endTime":{
          "shape":"Timestamp",
          "documentation":"<p>The end of the time range for which IAM Access Analyzer reviews your CloudTrail events. Events with a timestamp after this time are not considered to generate a policy. If this is not included in the request, the default value is the current time.</p>"
        }
      },
      "documentation":"<p>Contains information about CloudTrail access.</p>"
    },
    "CloudTrailProperties":{
      "type":"structure",
      "required":[
        "trailProperties",
        "startTime",
        "endTime"
      ],
      "members":{
        "trailProperties":{
          "shape":"TrailPropertiesList",
          "documentation":"<p>A <code>TrailProperties</code> object that contains settings for trail properties.</p>"
        },
        "startTime":{
          "shape":"Timestamp",
          "documentation":"<p>The start of the time range for which IAM Access Analyzer reviews your CloudTrail events. Events with a timestamp before this time are not considered to generate a policy.</p>"
        },
        "endTime":{
          "shape":"Timestamp",
          "documentation":"<p>The end of the time range for which IAM Access Analyzer reviews your CloudTrail events. Events with a timestamp after this time are not considered to generate a policy. If this is not included in the request, the default value is the current time.</p>"
        }
      },
      "documentation":"<p>Contains information about CloudTrail access.</p>"
    },
    "ConditionKeyMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"}
    },
    "Configuration":{
      "type":"structure",
      "members":{
        "ebsSnapshot":{
          "shape":"EbsSnapshotConfiguration",
          "documentation":"<p>The access control configuration is for an Amazon EBS volume snapshot.</p>"
        },
        "ecrRepository":{
          "shape":"EcrRepositoryConfiguration",
          "documentation":"<p>The access control configuration is for an Amazon ECR repository.</p>"
        },
        "iamRole":{
          "shape":"IamRoleConfiguration",
          "documentation":"<p>The access control configuration is for an IAM role. </p>"
        },
        "efsFileSystem":{
          "shape":"EfsFileSystemConfiguration",
          "documentation":"<p>The access control configuration is for an Amazon EFS file system.</p>"
        },
        "kmsKey":{
          "shape":"KmsKeyConfiguration",
          "documentation":"<p>The access control configuration is for a KMS key. </p>"
        },
        "rdsDbClusterSnapshot":{
          "shape":"RdsDbClusterSnapshotConfiguration",
          "documentation":"<p>The access control configuration is for an Amazon RDS DB cluster snapshot.</p>"
        },
        "rdsDbSnapshot":{
          "shape":"RdsDbSnapshotConfiguration",
          "documentation":"<p>The access control configuration is for an Amazon RDS DB snapshot.</p>"
        },
        "secretsManagerSecret":{
          "shape":"SecretsManagerSecretConfiguration",
          "documentation":"<p>The access control configuration is for a Secrets Manager secret.</p>"
        },
        "s3Bucket":{
          "shape":"S3BucketConfiguration",
          "documentation":"<p>The access control configuration is for an Amazon S3 bucket. </p>"
        },
        "snsTopic":{
          "shape":"SnsTopicConfiguration",
          "documentation":"<p>The access control configuration is for an Amazon SNS topic</p>"
        },
        "sqsQueue":{
          "shape":"SqsQueueConfiguration",
          "documentation":"<p>The access control configuration is for an Amazon SQS queue. </p>"
        },
        "s3ExpressDirectoryBucket":{
          "shape":"S3ExpressDirectoryBucketConfiguration",
          "documentation":"<p>The access control configuration is for an Amazon S3 directory bucket.</p>"
        },
        "dynamodbStream":{
          "shape":"DynamodbStreamConfiguration",
          "documentation":"<p>The access control configuration is for a DynamoDB stream.</p>"
        },
        "dynamodbTable":{
          "shape":"DynamodbTableConfiguration",
          "documentation":"<p>The access control configuration is for a DynamoDB table or index.</p>"
        }
      },
      "documentation":"<p>Access control configuration structures for your resource. You specify the configuration as a type-value pair. You can specify only one type of access control configuration.</p>",
      "union":true
    },
    "ConfigurationsMap":{
      "type":"map",
      "key":{"shape":"ConfigurationsMapKey"},
      "value":{"shape":"Configuration"}
    },
    "ConfigurationsMapKey":{"type":"string"},
    "ConflictException":{
      "type":"structure",
      "required":[
        "message",
        "resourceId",
        "resourceType"
      ],
      "members":{
        "message":{"shape":"String"},
        "resourceId":{
          "shape":"String",
          "documentation":"<p>The ID of the resource.</p>"
        },
        "resourceType":{
          "shape":"String",
          "documentation":"<p>The resource type.</p>"
        }
      },
      "documentation":"<p>A conflict exception error.</p>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "CreateAccessPreviewRequest":{
      "type":"structure",
      "required":[
        "analyzerArn",
        "configurations"
      ],
      "members":{
        "analyzerArn":{
          "shape":"AnalyzerArn",
          "documentation":"<p>The <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-getting-started.html#permission-resources\">ARN of the account analyzer</a> used to generate the access preview. You can only create an access preview for analyzers with an <code>Account</code> type and <code>Active</code> status.</p>"
        },
        "configurations":{
          "shape":"ConfigurationsMap",
          "documentation":"<p>Access control configuration for your resource that is used to generate the access preview. The access preview includes findings for external access allowed to the resource with the proposed access control configuration. The configuration must contain exactly one element.</p>"
        },
        "clientToken":{
          "shape":"String",
          "documentation":"<p>A client token.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateAccessPreviewResponse":{
      "type":"structure",
      "required":["id"],
      "members":{
        "id":{
          "shape":"AccessPreviewId",
          "documentation":"<p>The unique ID for the access preview.</p>"
        }
      }
    },
    "CreateAnalyzerRequest":{
      "type":"structure",
      "required":[
        "analyzerName",
        "type"
      ],
      "members":{
        "analyzerName":{
          "shape":"Name",
          "documentation":"<p>The name of the analyzer to create.</p>"
        },
        "type":{
          "shape":"Type",
          "documentation":"<p>The type of analyzer to create. You can create only one analyzer per account per Region. You can create up to 5 analyzers per organization per Region.</p>"
        },
        "archiveRules":{
          "shape":"InlineArchiveRulesList",
          "documentation":"<p>Specifies the archive rules to add for the analyzer. Archive rules automatically archive findings that meet the criteria you define for the rule.</p>"
        },
        "tags":{
          "shape":"TagsMap",
          "documentation":"<p>An array of key-value pairs to apply to the analyzer. You can use the set of Unicode letters, digits, whitespace, <code>_</code>, <code>.</code>, <code>/</code>, <code>=</code>, <code>+</code>, and <code>-</code>.</p> <p>For the tag key, you can specify a value that is 1 to 128 characters in length and cannot be prefixed with <code>aws:</code>.</p> <p>For the tag value, you can specify a value that is 0 to 256 characters in length.</p>"
        },
        "clientToken":{
          "shape":"String",
          "documentation":"<p>A client token.</p>",
          "idempotencyToken":true
        },
        "configuration":{
          "shape":"AnalyzerConfiguration",
          "documentation":"<p>Specifies the configuration of the analyzer. If the analyzer is an unused access analyzer, the specified scope of unused access is used for the configuration. If the analyzer is an internal access analyzer, the specified internal access analysis rules are used for the configuration.</p>"
        }
      },
      "documentation":"<p>Creates an analyzer.</p>"
    },
    "CreateAnalyzerResponse":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"AnalyzerArn",
          "documentation":"<p>The ARN of the analyzer that was created by the request.</p>"
        }
      },
      "documentation":"<p>The response to the request to create an analyzer.</p>"
    },
    "CreateArchiveRuleRequest":{
      "type":"structure",
      "required":[
        "analyzerName",
        "ruleName",
        "filter"
      ],
      "members":{
        "analyzerName":{
          "shape":"Name",
          "documentation":"<p>The name of the created analyzer.</p>",
          "location":"uri",
          "locationName":"analyzerName"
        },
        "ruleName":{
          "shape":"Name",
          "documentation":"<p>The name of the rule to create.</p>"
        },
        "filter":{
          "shape":"FilterCriteriaMap",
          "documentation":"<p>The criteria for the rule.</p>"
        },
        "clientToken":{
          "shape":"String",
          "documentation":"<p>A client token.</p>",
          "idempotencyToken":true
        }
      },
      "documentation":"<p>Creates an archive rule.</p>"
    },
    "Criterion":{
      "type":"structure",
      "members":{
        "eq":{
          "shape":"ValueList",
          "documentation":"<p>An \"equals\" operator to match for the filter used to create the rule.</p>"
        },
        "neq":{
          "shape":"ValueList",
          "documentation":"<p>A \"not equals\" operator to match for the filter used to create the rule.</p>"
        },
        "contains":{
          "shape":"ValueList",
          "documentation":"<p>A \"contains\" operator to match for the filter used to create the rule.</p>"
        },
        "exists":{
          "shape":"Boolean",
          "documentation":"<p>An \"exists\" operator to match for the filter used to create the rule. </p>"
        }
      },
      "documentation":"<p>The criteria to use in the filter that defines the archive rule. For more information on available filter keys, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-reference-filter-keys.html\">IAM Access Analyzer filter keys</a>.</p>"
    },
    "DeleteAnalyzerRequest":{
      "type":"structure",
      "required":["analyzerName"],
      "members":{
        "analyzerName":{
          "shape":"Name",
          "documentation":"<p>The name of the analyzer to delete.</p>",
          "location":"uri",
          "locationName":"analyzerName"
        },
        "clientToken":{
          "shape":"String",
          "documentation":"<p>A client token.</p>",
          "idempotencyToken":true,
          "location":"querystring",
          "locationName":"clientToken"
        }
      },
      "documentation":"<p>Deletes an analyzer.</p>"
    },
    "DeleteArchiveRuleRequest":{
      "type":"structure",
      "required":[
        "analyzerName",
        "ruleName"
      ],
      "members":{
        "analyzerName":{
          "shape":"Name",
          "documentation":"<p>The name of the analyzer that associated with the archive rule to delete.</p>",
          "location":"uri",
          "locationName":"analyzerName"
        },
        "ruleName":{
          "shape":"Name",
          "documentation":"<p>The name of the rule to delete.</p>",
          "location":"uri",
          "locationName":"ruleName"
        },
        "clientToken":{
          "shape":"String",
          "documentation":"<p>A client token.</p>",
          "idempotencyToken":true,
          "location":"querystring",
          "locationName":"clientToken"
        }
      },
      "documentation":"<p>Deletes an archive rule.</p>"
    },
    "DynamodbStreamConfiguration":{
      "type":"structure",
      "members":{
        "streamPolicy":{
          "shape":"DynamodbStreamPolicy",
          "documentation":"<p>The proposed resource policy defining who can access or manage the DynamoDB stream.</p>"
        }
      },
      "documentation":"<p>The proposed access control configuration for a DynamoDB stream. You can propose a configuration for a new DynamoDB stream or an existing DynamoDB stream that you own by specifying the policy for the DynamoDB stream. For more information, see <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_PutResourcePolicy.html\">PutResourcePolicy</a>.</p> <ul> <li> <p>If the configuration is for an existing DynamoDB stream and you do not specify the DynamoDB policy, then the access preview uses the existing DynamoDB policy for the stream.</p> </li> <li> <p>If the access preview is for a new resource and you do not specify the policy, then the access preview assumes a DynamoDB stream without a policy.</p> </li> <li> <p>To propose deletion of an existing DynamoDB stream policy, you can specify an empty string for the DynamoDB policy.</p> </li> </ul>"
    },
    "DynamodbStreamPolicy":{"type":"string"},
    "DynamodbTableConfiguration":{
      "type":"structure",
      "members":{
        "tablePolicy":{
          "shape":"DynamodbTablePolicy",
          "documentation":"<p>The proposed resource policy defining who can access or manage the DynamoDB table.</p>"
        }
      },
      "documentation":"<p>The proposed access control configuration for a DynamoDB table or index. You can propose a configuration for a new DynamoDB table or index or an existing DynamoDB table or index that you own by specifying the policy for the DynamoDB table or index. For more information, see <a href=\"https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_PutResourcePolicy.html\">PutResourcePolicy</a>.</p> <ul> <li> <p>If the configuration is for an existing DynamoDB table or index and you do not specify the DynamoDB policy, then the access preview uses the existing DynamoDB policy for the table or index.</p> </li> <li> <p>If the access preview is for a new resource and you do not specify the policy, then the access preview assumes a DynamoDB table without a policy.</p> </li> <li> <p>To propose deletion of an existing DynamoDB table or index policy, you can specify an empty string for the DynamoDB policy.</p> </li> </ul>"
    },
    "DynamodbTablePolicy":{"type":"string"},
    "EbsGroup":{"type":"string"},
    "EbsGroupList":{
      "type":"list",
      "member":{"shape":"EbsGroup"}
    },
    "EbsSnapshotConfiguration":{
      "type":"structure",
      "members":{
        "userIds":{
          "shape":"EbsUserIdList",
          "documentation":"<p>The IDs of the Amazon Web Services accounts that have access to the Amazon EBS volume snapshot.</p> <ul> <li> <p>If the configuration is for an existing Amazon EBS volume snapshot and you do not specify the <code>userIds</code>, then the access preview uses the existing shared <code>userIds</code> for the snapshot.</p> </li> <li> <p>If the access preview is for a new resource and you do not specify the <code>userIds</code>, then the access preview considers the snapshot without any <code>userIds</code>.</p> </li> <li> <p>To propose deletion of existing shared <code>accountIds</code>, you can specify an empty list for <code>userIds</code>.</p> </li> </ul>"
        },
        "groups":{
          "shape":"EbsGroupList",
          "documentation":"<p>The groups that have access to the Amazon EBS volume snapshot. If the value <code>all</code> is specified, then the Amazon EBS volume snapshot is public.</p> <ul> <li> <p>If the configuration is for an existing Amazon EBS volume snapshot and you do not specify the <code>groups</code>, then the access preview uses the existing shared <code>groups</code> for the snapshot.</p> </li> <li> <p>If the access preview is for a new resource and you do not specify the <code>groups</code>, then the access preview considers the snapshot without any <code>groups</code>.</p> </li> <li> <p>To propose deletion of existing shared <code>groups</code>, you can specify an empty list for <code>groups</code>.</p> </li> </ul>"
        },
        "kmsKeyId":{
          "shape":"EbsSnapshotDataEncryptionKeyId",
          "documentation":"<p>The KMS key identifier for an encrypted Amazon EBS volume snapshot. The KMS key identifier is the key ARN, key ID, alias ARN, or alias name for the KMS key.</p> <ul> <li> <p>If the configuration is for an existing Amazon EBS volume snapshot and you do not specify the <code>kmsKeyId</code>, or you specify an empty string, then the access preview uses the existing <code>kmsKeyId</code> of the snapshot.</p> </li> <li> <p>If the access preview is for a new resource and you do not specify the <code>kmsKeyId</code>, the access preview considers the snapshot as unencrypted.</p> </li> </ul>"
        }
      },
      "documentation":"<p>The proposed access control configuration for an Amazon EBS volume snapshot. You can propose a configuration for a new Amazon EBS volume snapshot or an Amazon EBS volume snapshot that you own by specifying the user IDs, groups, and optional KMS encryption key. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_ModifySnapshotAttribute.html\">ModifySnapshotAttribute</a>.</p>"
    },
    "EbsSnapshotDataEncryptionKeyId":{"type":"string"},
    "EbsUserId":{"type":"string"},
    "EbsUserIdList":{
      "type":"list",
      "member":{"shape":"EbsUserId"}
    },
    "EcrRepositoryConfiguration":{
      "type":"structure",
      "members":{
        "repositoryPolicy":{
          "shape":"EcrRepositoryPolicy",
          "documentation":"<p>The JSON repository policy text to apply to the Amazon ECR repository. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/repository-policy-examples.html\">Private repository policy examples</a> in the <i>Amazon ECR User Guide</i>.</p>"
        }
      },
      "documentation":"<p>The proposed access control configuration for an Amazon ECR repository. You can propose a configuration for a new Amazon ECR repository or an existing Amazon ECR repository that you own by specifying the Amazon ECR policy. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/APIReference/API_Repository.html\">Repository</a>.</p> <ul> <li> <p>If the configuration is for an existing Amazon ECR repository and you do not specify the Amazon ECR policy, then the access preview uses the existing Amazon ECR policy for the repository.</p> </li> <li> <p>If the access preview is for a new resource and you do not specify the policy, then the access preview assumes an Amazon ECR repository without a policy.</p> </li> <li> <p>To propose deletion of an existing Amazon ECR repository policy, you can specify an empty string for the Amazon ECR policy.</p> </li> </ul>"
    },
    "EcrRepositoryPolicy":{"type":"string"},
    "EfsFileSystemConfiguration":{
      "type":"structure",
      "members":{
        "fileSystemPolicy":{
          "shape":"EfsFileSystemPolicy",
          "documentation":"<p>The JSON policy definition to apply to the Amazon EFS file system. For more information on the elements that make up a file system policy, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/access-control-overview.html#access-control-manage-access-intro-resource-policies\">Amazon EFS Resource-based policies</a>.</p>"
        }
      },
      "documentation":"<p>The proposed access control configuration for an Amazon EFS file system. You can propose a configuration for a new Amazon EFS file system or an existing Amazon EFS file system that you own by specifying the Amazon EFS policy. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/using-fs.html\">Using file systems in Amazon EFS</a>.</p> <ul> <li> <p>If the configuration is for an existing Amazon EFS file system and you do not specify the Amazon EFS policy, then the access preview uses the existing Amazon EFS policy for the file system.</p> </li> <li> <p>If the access preview is for a new resource and you do not specify the policy, then the access preview assumes an Amazon EFS file system without a policy.</p> </li> <li> <p>To propose deletion of an existing Amazon EFS file system policy, you can specify an empty string for the Amazon EFS policy.</p> </li> </ul>"
    },
    "EfsFileSystemPolicy":{"type":"string"},
    "ExternalAccessDetails":{
      "type":"structure",
      "required":["condition"],
      "members":{
        "action":{
          "shape":"ActionList",
          "documentation":"<p>The action in the analyzed policy statement that an external principal has permission to use.</p>"
        },
        "condition":{
          "shape":"ConditionKeyMap",
          "documentation":"<p>The condition in the analyzed policy statement that resulted in an external access finding.</p>"
        },
        "isPublic":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the external access finding is public.</p>"
        },
        "principal":{
          "shape":"PrincipalMap",
          "documentation":"<p>The external principal that has access to a resource within the zone of trust.</p>"
        },
        "sources":{
          "shape":"FindingSourceList",
          "documentation":"<p>The sources of the external access finding. This indicates how the access that generated the finding is granted. It is populated for Amazon S3 bucket findings.</p>"
        },
        "resourceControlPolicyRestriction":{
          "shape":"ResourceControlPolicyRestriction",
          "documentation":"<p>The type of restriction applied to the finding by the resource owner with an Organizations resource control policy (RCP).</p> <ul> <li> <p> <code>APPLICABLE</code>: There is an RCP present in the organization but IAM Access Analyzer does not include it in the evaluation of effective permissions. For example, if <code>s3:DeleteObject</code> is blocked by the RCP and the restriction is <code>APPLICABLE</code>, then <code>s3:DeleteObject</code> would still be included in the list of actions for the finding.</p> </li> <li> <p> <code>FAILED_TO_EVALUATE_RCP</code>: There was an error evaluating the RCP.</p> </li> <li> <p> <code>NOT_APPLICABLE</code>: There was no RCP present in the organization, or there was no RCP applicable to the resource. For example, the resource being analyzed is an Amazon RDS snapshot and there is an RCP in the organization, but the RCP only impacts Amazon S3 buckets.</p> </li> <li> <p> <code>APPLIED</code>: This restriction is not currently available for external access findings. </p> </li> </ul>"
        }
      },
      "documentation":"<p>Contains information about an external access finding.</p>"
    },
    "ExternalAccessFindingsStatistics":{
      "type":"structure",
      "members":{
        "resourceTypeStatistics":{
          "shape":"ResourceTypeStatisticsMap",
          "documentation":"<p>The total number of active cross-account and public findings for each resource type of the specified external access analyzer.</p>"
        },
        "totalActiveFindings":{
          "shape":"Integer",
          "documentation":"<p>The number of active findings for the specified external access analyzer.</p>"
        },
        "totalArchivedFindings":{
          "shape":"Integer",
          "documentation":"<p>The number of archived findings for the specified external access analyzer.</p>"
        },
        "totalResolvedFindings":{
          "shape":"Integer",
          "documentation":"<p>The number of resolved findings for the specified external access analyzer.</p>"
        }
      },
      "documentation":"<p>Provides aggregate statistics about the findings for the specified external access analyzer.</p>"
    },
    "FilterCriteriaMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"Criterion"}
    },
    "Finding":{
      "type":"structure",
      "required":[
        "id",
        "resourceType",
        "condition",
        "createdAt",
        "analyzedAt",
        "updatedAt",
        "status",
        "resourceOwnerAccount"
      ],
      "members":{
        "id":{
          "shape":"FindingId",
          "documentation":"<p>The ID of the finding.</p>"
        },
        "principal":{
          "shape":"PrincipalMap",
          "documentation":"<p>The external principal that has access to a resource within the zone of trust.</p>"
        },
        "action":{
          "shape":"ActionList",
          "documentation":"<p>The action in the analyzed policy statement that an external principal has permission to use.</p>"
        },
        "resource":{
          "shape":"String",
          "documentation":"<p>The resource that an external principal has access to.</p>"
        },
        "isPublic":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the policy that generated the finding allows public access to the resource.</p>"
        },
        "resourceType":{
          "shape":"ResourceType",
          "documentation":"<p>The type of the resource identified in the finding.</p>"
        },
        "condition":{
          "shape":"ConditionKeyMap",
          "documentation":"<p>The condition in the analyzed policy statement that resulted in a finding.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the finding was generated.</p>"
        },
        "analyzedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the resource was analyzed.</p>"
        },
        "updatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the finding was updated.</p>"
        },
        "status":{
          "shape":"FindingStatus",
          "documentation":"<p>The current status of the finding.</p>"
        },
        "resourceOwnerAccount":{
          "shape":"String",
          "documentation":"<p>The Amazon Web Services account ID that owns the resource.</p>"
        },
        "error":{
          "shape":"String",
          "documentation":"<p>An error.</p>"
        },
        "sources":{
          "shape":"FindingSourceList",
          "documentation":"<p>The sources of the finding. This indicates how the access that generated the finding is granted. It is populated for Amazon S3 bucket findings.</p>"
        },
        "resourceControlPolicyRestriction":{
          "shape":"ResourceControlPolicyRestriction",
          "documentation":"<p>The type of restriction applied to the finding by the resource owner with an Organizations resource control policy (RCP).</p>"
        }
      },
      "documentation":"<p>Contains information about a finding.</p>"
    },
    "FindingAggregationAccountDetails":{
      "type":"structure",
      "members":{
        "account":{
          "shape":"String",
          "documentation":"<p>The ID of the Amazon Web Services account for which unused access finding details are provided.</p>"
        },
        "numberOfActiveFindings":{
          "shape":"Integer",
          "documentation":"<p>The number of active unused access findings for the specified Amazon Web Services account.</p>"
        },
        "details":{
          "shape":"FindingAggregationAccountDetailsMap",
          "documentation":"<p>Provides the number of active findings for each type of unused access for the specified Amazon Web Services account.</p>"
        }
      },
      "documentation":"<p>Contains information about the findings for an Amazon Web Services account in an organization unused access analyzer.</p>"
    },
    "FindingAggregationAccountDetailsMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"Integer"}
    },
    "FindingChangeType":{
      "type":"string",
      "enum":[
        "CHANGED",
        "NEW",
        "UNCHANGED"
      ]
    },
    "FindingDetails":{
      "type":"structure",
      "members":{
        "internalAccessDetails":{
          "shape":"InternalAccessDetails",
          "documentation":"<p>The details for an internal access analyzer finding. This contains information about access patterns identified within your Amazon Web Services organization or account.</p>"
        },
        "externalAccessDetails":{
          "shape":"ExternalAccessDetails",
          "documentation":"<p>The details for an external access analyzer finding.</p>"
        },
        "unusedPermissionDetails":{
          "shape":"UnusedPermissionDetails",
          "documentation":"<p>The details for an unused access analyzer finding with an unused permission finding type.</p>"
        },
        "unusedIamUserAccessKeyDetails":{
          "shape":"UnusedIamUserAccessKeyDetails",
          "documentation":"<p>The details for an unused access analyzer finding with an unused IAM user access key finding type.</p>"
        },
        "unusedIamRoleDetails":{
          "shape":"UnusedIamRoleDetails",
          "documentation":"<p>The details for an unused access analyzer finding with an unused IAM role finding type.</p>"
        },
        "unusedIamUserPasswordDetails":{
          "shape":"UnusedIamUserPasswordDetails",
          "documentation":"<p>The details for an unused access analyzer finding with an unused IAM user password finding type.</p>"
        }
      },
      "documentation":"<p>Contains information about an external access or unused access finding. Only one parameter can be used in a <code>FindingDetails</code> object.</p>",
      "union":true
    },
    "FindingDetailsList":{
      "type":"list",
      "member":{"shape":"FindingDetails"}
    },
    "FindingId":{"type":"string"},
    "FindingIdList":{
      "type":"list",
      "member":{"shape":"FindingId"}
    },
    "FindingSource":{
      "type":"structure",
      "required":["type"],
      "members":{
        "type":{
          "shape":"FindingSourceType",
          "documentation":"<p>Indicates the type of access that generated the finding.</p>"
        },
        "detail":{
          "shape":"FindingSourceDetail",
          "documentation":"<p>Includes details about how the access that generated the finding is granted. This is populated for Amazon S3 bucket findings.</p>"
        }
      },
      "documentation":"<p>The source of the finding. This indicates how the access that generated the finding is granted. It is populated for Amazon S3 bucket findings.</p>"
    },
    "FindingSourceDetail":{
      "type":"structure",
      "members":{
        "accessPointArn":{
          "shape":"String",
          "documentation":"<p>The ARN of the access point that generated the finding. The ARN format depends on whether the ARN represents an access point or a multi-region access point.</p>"
        },
        "accessPointAccount":{
          "shape":"String",
          "documentation":"<p>The account of the cross-account access point that generated the finding.</p>"
        }
      },
      "documentation":"<p>Includes details about how the access that generated the finding is granted. This is populated for Amazon S3 bucket findings.</p>"
    },
    "FindingSourceList":{
      "type":"list",
      "member":{"shape":"FindingSource"}
    },
    "FindingSourceType":{
      "type":"string",
      "enum":[
        "POLICY",
        "BUCKET_ACL",
        "S3_ACCESS_POINT",
        "S3_ACCESS_POINT_ACCOUNT"
      ]
    },
    "FindingStatus":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "ARCHIVED",
        "RESOLVED"
      ]
    },
    "FindingStatusUpdate":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "ARCHIVED"
      ]
    },
    "FindingSummary":{
      "type":"structure",
      "required":[
        "id",
        "resourceType",
        "condition",
        "createdAt",
        "analyzedAt",
        "updatedAt",
        "status",
        "resourceOwnerAccount"
      ],
      "members":{
        "id":{
          "shape":"FindingId",
          "documentation":"<p>The ID of the finding.</p>"
        },
        "principal":{
          "shape":"PrincipalMap",
          "documentation":"<p>The external principal that has access to a resource within the zone of trust.</p>"
        },
        "action":{
          "shape":"ActionList",
          "documentation":"<p>The action in the analyzed policy statement that an external principal has permission to use.</p>"
        },
        "resource":{
          "shape":"String",
          "documentation":"<p>The resource that the external principal has access to.</p>"
        },
        "isPublic":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the finding reports a resource that has a policy that allows public access.</p>"
        },
        "resourceType":{
          "shape":"ResourceType",
          "documentation":"<p>The type of the resource that the external principal has access to.</p>"
        },
        "condition":{
          "shape":"ConditionKeyMap",
          "documentation":"<p>The condition in the analyzed policy statement that resulted in a finding.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the finding was created.</p>"
        },
        "analyzedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the resource-based policy that generated the finding was analyzed.</p>"
        },
        "updatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the finding was most recently updated.</p>"
        },
        "status":{
          "shape":"FindingStatus",
          "documentation":"<p>The status of the finding.</p>"
        },
        "resourceOwnerAccount":{
          "shape":"String",
          "documentation":"<p>The Amazon Web Services account ID that owns the resource.</p>"
        },
        "error":{
          "shape":"String",
          "documentation":"<p>The error that resulted in an Error finding.</p>"
        },
        "sources":{
          "shape":"FindingSourceList",
          "documentation":"<p>The sources of the finding. This indicates how the access that generated the finding is granted. It is populated for Amazon S3 bucket findings.</p>"
        },
        "resourceControlPolicyRestriction":{
          "shape":"ResourceControlPolicyRestriction",
          "documentation":"<p>The type of restriction applied to the finding by the resource owner with an Organizations resource control policy (RCP).</p>"
        }
      },
      "documentation":"<p>Contains information about a finding.</p>"
    },
    "FindingSummaryV2":{
      "type":"structure",
      "required":[
        "analyzedAt",
        "createdAt",
        "id",
        "resourceType",
        "resourceOwnerAccount",
        "status",
        "updatedAt"
      ],
      "members":{
        "analyzedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the resource-based policy or IAM entity that generated the finding was analyzed.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the finding was created.</p>"
        },
        "error":{
          "shape":"String",
          "documentation":"<p>The error that resulted in an Error finding.</p>"
        },
        "id":{
          "shape":"FindingId",
          "documentation":"<p>The ID of the finding.</p>"
        },
        "resource":{
          "shape":"String",
          "documentation":"<p>The resource that the external principal has access to.</p>"
        },
        "resourceType":{
          "shape":"ResourceType",
          "documentation":"<p>The type of the resource that the external principal has access to.</p>"
        },
        "resourceOwnerAccount":{
          "shape":"String",
          "documentation":"<p>The Amazon Web Services account ID that owns the resource.</p>"
        },
        "status":{
          "shape":"FindingStatus",
          "documentation":"<p>The status of the finding.</p>"
        },
        "updatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the finding was most recently updated.</p>"
        },
        "findingType":{
          "shape":"FindingType",
          "documentation":"<p>The type of the access finding. For external access analyzers, the type is <code>ExternalAccess</code>. For unused access analyzers, the type can be <code>UnusedIAMRole</code>, <code>UnusedIAMUserAccessKey</code>, <code>UnusedIAMUserPassword</code>, or <code>UnusedPermission</code>. For internal access analyzers, the type is <code>InternalAccess</code>.</p>"
        }
      },
      "documentation":"<p>Contains information about a finding.</p>"
    },
    "FindingType":{
      "type":"string",
      "enum":[
        "ExternalAccess",
        "UnusedIAMRole",
        "UnusedIAMUserAccessKey",
        "UnusedIAMUserPassword",
        "UnusedPermission",
        "InternalAccess"
      ]
    },
    "FindingsList":{
      "type":"list",
      "member":{"shape":"FindingSummary"}
    },
    "FindingsListV2":{
      "type":"list",
      "member":{"shape":"FindingSummaryV2"}
    },
    "FindingsStatistics":{
      "type":"structure",
      "members":{
        "externalAccessFindingsStatistics":{
          "shape":"ExternalAccessFindingsStatistics",
          "documentation":"<p>The aggregate statistics for an external access analyzer.</p>"
        },
        "internalAccessFindingsStatistics":{
          "shape":"InternalAccessFindingsStatistics",
          "documentation":"<p>The aggregate statistics for an internal access analyzer. This includes information about active, archived, and resolved findings related to internal access within your Amazon Web Services organization or account.</p>"
        },
        "unusedAccessFindingsStatistics":{
          "shape":"UnusedAccessFindingsStatistics",
          "documentation":"<p>The aggregate statistics for an unused access analyzer.</p>"
        }
      },
      "documentation":"<p>Contains information about the aggregate statistics for an external or unused access analyzer. Only one parameter can be used in a <code>FindingsStatistics</code> object.</p>",
      "union":true
    },
    "FindingsStatisticsList":{
      "type":"list",
      "member":{"shape":"FindingsStatistics"}
    },
    "GenerateFindingRecommendationRequest":{
      "type":"structure",
      "required":[
        "analyzerArn",
        "id"
      ],
      "members":{
        "analyzerArn":{
          "shape":"AnalyzerArn",
          "documentation":"<p>The <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access-analyzer-getting-started.html#permission-resources\">ARN of the analyzer</a> used to generate the finding recommendation.</p>",
          "location":"querystring",
          "locationName":"analyzerArn"
        },
        "id":{
          "shape":"GenerateFindingRecommendationRequestIdString",
          "documentation":"<p>The unique ID for the finding recommendation.</p>",
          "location":"uri",
          "locationName":"id"
        }
      }
    },
    "GenerateFindingRecommendationRequestIdString":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "GeneratedPolicy":{
      "type":"structure",
      "required":["policy"],
      "members":{
        "policy":{
          "shape":"String",
          "documentation":"<p>The text to use as the content for the new policy. The policy is created using the <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_CreatePolicy.html\">CreatePolicy</a> action.</p>"
        }
      },
      "documentation":"<p>Contains the text for the generated policy.</p>"
    },
    "GeneratedPolicyList":{
      "type":"list",
      "member":{"shape":"GeneratedPolicy"}
    },
    "GeneratedPolicyProperties":{
      "type":"structure",
      "required":["principalArn"],
      "members":{
        "isComplete":{
          "shape":"Boolean",
          "documentation":"<p>This value is set to <code>true</code> if the generated policy contains all possible actions for a service that IAM Access Analyzer identified from the CloudTrail trail that you specified, and <code>false</code> otherwise.</p>"
        },
        "principalArn":{
          "shape":"PrincipalArn",
          "documentation":"<p>The ARN of the IAM entity (user or role) for which you are generating a policy.</p>"
        },
        "cloudTrailProperties":{
          "shape":"CloudTrailProperties",
          "documentation":"<p>Lists details about the <code>Trail</code> used to generated policy.</p>"
        }
      },
      "documentation":"<p>Contains the generated policy details.</p>"
    },
    "GeneratedPolicyResult":{
      "type":"structure",
      "required":["properties"],
      "members":{
        "properties":{
          "shape":"GeneratedPolicyProperties",
          "documentation":"<p>A <code>GeneratedPolicyProperties</code> object that contains properties of the generated policy.</p>"
        },
        "generatedPolicies":{
          "shape":"GeneratedPolicyList",
          "documentation":"<p>The text to use as the content for the new policy. The policy is created using the <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_CreatePolicy.html\">CreatePolicy</a> action.</p>"
        }
      },
      "documentation":"<p>Contains the text for the generated policy and its details.</p>"
    },
    "GetAccessPreviewRequest":{
[...]
