{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2022-02-17",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"cleanrooms",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"AWS Clean Rooms Service",
    "serviceId":"CleanRooms",
    "signatureVersion":"v4",
    "signingName":"cleanrooms",
    "uid":"cleanrooms-2022-02-17"
  },
  "operations":{
    "BatchGetCollaborationAnalysisTemplate":{
      "name":"BatchGetCollaborationAnalysisTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/collaborations/{collaborationIdentifier}/batch-analysistemplates",
        "responseCode":200
      },
      "input":{"shape":"BatchGetCollaborationAnalysisTemplateInput"},
      "output":{"shape":"BatchGetCollaborationAnalysisTemplateOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves multiple analysis templates within a collaboration by their Amazon Resource Names (ARNs).</p>"
    },
    "BatchGetSchema":{
      "name":"BatchGetSchema",
      "http":{
        "method":"POST",
        "requestUri":"/collaborations/{collaborationIdentifier}/batch-schema",
        "responseCode":200
      },
      "input":{"shape":"BatchGetSchemaInput"},
      "output":{"shape":"BatchGetSchemaOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves multiple schemas by their identifiers.</p>"
    },
    "BatchGetSchemaAnalysisRule":{
      "name":"BatchGetSchemaAnalysisRule",
      "http":{
        "method":"POST",
        "requestUri":"/collaborations/{collaborationIdentifier}/batch-schema-analysis-rule",
        "responseCode":200
      },
      "input":{"shape":"BatchGetSchemaAnalysisRuleInput"},
      "output":{"shape":"BatchGetSchemaAnalysisRuleOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves multiple analysis rule schemas.</p>"
    },
    "CreateAnalysisTemplate":{
      "name":"CreateAnalysisTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/memberships/{membershipIdentifier}/analysistemplates",
        "responseCode":200
      },
      "input":{"shape":"CreateAnalysisTemplateInput"},
      "output":{"shape":"CreateAnalysisTemplateOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a new analysis template.</p>"
    },
    "CreateCollaboration":{
      "name":"CreateCollaboration",
      "http":{
        "method":"POST",
        "requestUri":"/collaborations",
        "responseCode":200
      },
      "input":{"shape":"CreateCollaborationInput"},
      "output":{"shape":"CreateCollaborationOutput"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a new collaboration.</p>"
    },
    "CreateCollaborationChangeRequest":{
      "name":"CreateCollaborationChangeRequest",
      "http":{
        "method":"POST",
        "requestUri":"/collaborations/{collaborationIdentifier}/changeRequests",
        "responseCode":200
      },
      "input":{"shape":"CreateCollaborationChangeRequestInput"},
      "output":{"shape":"CreateCollaborationChangeRequestOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a new change request to modify an existing collaboration. This enables post-creation modifications to collaborations through a structured API-driven approach.</p>"
    },
    "CreateConfiguredAudienceModelAssociation":{
      "name":"CreateConfiguredAudienceModelAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/memberships/{membershipIdentifier}/configuredaudiencemodelassociations",
        "responseCode":200
      },
      "input":{"shape":"CreateConfiguredAudienceModelAssociationInput"},
      "output":{"shape":"CreateConfiguredAudienceModelAssociationOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Provides the details necessary to create a configured audience model association.</p>"
    },
    "CreateConfiguredTable":{
      "name":"CreateConfiguredTable",
      "http":{
        "method":"POST",
        "requestUri":"/configuredTables",
        "responseCode":200
      },
      "input":{"shape":"CreateConfiguredTableInput"},
      "output":{"shape":"CreateConfiguredTableOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a new configured table resource.</p>",
      "idempotent":true
    },
    "CreateConfiguredTableAnalysisRule":{
      "name":"CreateConfiguredTableAnalysisRule",
      "http":{
        "method":"POST",
        "requestUri":"/configuredTables/{configuredTableIdentifier}/analysisRule",
        "responseCode":200
      },
      "input":{"shape":"CreateConfiguredTableAnalysisRuleInput"},
      "output":{"shape":"CreateConfiguredTableAnalysisRuleOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a new analysis rule for a configured table. Currently, only one analysis rule can be created for a given configured table.</p>",
      "idempotent":true
    },
    "CreateConfiguredTableAssociation":{
      "name":"CreateConfiguredTableAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/memberships/{membershipIdentifier}/configuredTableAssociations",
        "responseCode":200
      },
      "input":{"shape":"CreateConfiguredTableAssociationInput"},
      "output":{"shape":"CreateConfiguredTableAssociationOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a configured table association. A configured table association links a configured table with a collaboration.</p>"
    },
    "CreateConfiguredTableAssociationAnalysisRule":{
      "name":"CreateConfiguredTableAssociationAnalysisRule",
      "http":{
        "method":"POST",
        "requestUri":"/memberships/{membershipIdentifier}/configuredTableAssociations/{configuredTableAssociationIdentifier}/analysisRule",
        "responseCode":200
      },
      "input":{"shape":"CreateConfiguredTableAssociationAnalysisRuleInput"},
      "output":{"shape":"CreateConfiguredTableAssociationAnalysisRuleOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Creates a new analysis rule for an associated configured table.</p>",
      "idempotent":true
    },
    "CreateIdMappingTable":{
      "name":"CreateIdMappingTable",
      "http":{
        "method":"POST",
        "requestUri":"/memberships/{membershipIdentifier}/idmappingtables",
        "responseCode":200
      },
      "input":{"shape":"CreateIdMappingTableInput"},
      "output":{"shape":"CreateIdMappingTableOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates an ID mapping table.</p>"
    },
    "CreateIdNamespaceAssociation":{
      "name":"CreateIdNamespaceAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/memberships/{membershipIdentifier}/idnamespaceassociations",
        "responseCode":200
      },
      "input":{"shape":"CreateIdNamespaceAssociationInput"},
      "output":{"shape":"CreateIdNamespaceAssociationOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates an ID namespace association.</p>"
    },
    "CreateMembership":{
      "name":"CreateMembership",
      "http":{
        "method":"POST",
        "requestUri":"/memberships",
        "responseCode":200
      },
      "input":{"shape":"CreateMembershipInput"},
      "output":{"shape":"CreateMembershipOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a membership for a specific collaboration identifier and joins the collaboration.</p>"
    },
    "CreatePrivacyBudgetTemplate":{
      "name":"CreatePrivacyBudgetTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/memberships/{membershipIdentifier}/privacybudgettemplates",
        "responseCode":200
      },
      "input":{"shape":"CreatePrivacyBudgetTemplateInput"},
      "output":{"shape":"CreatePrivacyBudgetTemplateOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a privacy budget template for a specified collaboration. Each collaboration can have only one privacy budget template. If you need to change the privacy budget template, use the <a>UpdatePrivacyBudgetTemplate</a> operation.</p>"
    },
    "DeleteAnalysisTemplate":{
      "name":"DeleteAnalysisTemplate",
      "http":{
        "method":"DELETE",
        "requestUri":"/memberships/{membershipIdentifier}/analysistemplates/{analysisTemplateIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteAnalysisTemplateInput"},
      "output":{"shape":"DeleteAnalysisTemplateOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes an analysis template.</p>",
      "idempotent":true
    },
    "DeleteCollaboration":{
      "name":"DeleteCollaboration",
      "http":{
        "method":"DELETE",
        "requestUri":"/collaborations/{collaborationIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteCollaborationInput"},
      "output":{"shape":"DeleteCollaborationOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a collaboration. It can only be called by the collaboration owner.</p>",
      "idempotent":true
    },
    "DeleteConfiguredAudienceModelAssociation":{
      "name":"DeleteConfiguredAudienceModelAssociation",
      "http":{
        "method":"DELETE",
        "requestUri":"/memberships/{membershipIdentifier}/configuredaudiencemodelassociations/{configuredAudienceModelAssociationIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteConfiguredAudienceModelAssociationInput"},
      "output":{"shape":"DeleteConfiguredAudienceModelAssociationOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Provides the information necessary to delete a configured audience model association.</p>",
      "idempotent":true
    },
    "DeleteConfiguredTable":{
      "name":"DeleteConfiguredTable",
      "http":{
        "method":"DELETE",
        "requestUri":"/configuredTables/{configuredTableIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteConfiguredTableInput"},
      "output":{"shape":"DeleteConfiguredTableOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a configured table.</p>",
      "idempotent":true
    },
    "DeleteConfiguredTableAnalysisRule":{
      "name":"DeleteConfiguredTableAnalysisRule",
      "http":{
        "method":"DELETE",
        "requestUri":"/configuredTables/{configuredTableIdentifier}/analysisRule/{analysisRuleType}",
        "responseCode":204
      },
      "input":{"shape":"DeleteConfiguredTableAnalysisRuleInput"},
      "output":{"shape":"DeleteConfiguredTableAnalysisRuleOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a configured table analysis rule.</p>",
      "idempotent":true
    },
    "DeleteConfiguredTableAssociation":{
      "name":"DeleteConfiguredTableAssociation",
      "http":{
        "method":"DELETE",
        "requestUri":"/memberships/{membershipIdentifier}/configuredTableAssociations/{configuredTableAssociationIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteConfiguredTableAssociationInput"},
      "output":{"shape":"DeleteConfiguredTableAssociationOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a configured table association.</p>",
      "idempotent":true
    },
    "DeleteConfiguredTableAssociationAnalysisRule":{
      "name":"DeleteConfiguredTableAssociationAnalysisRule",
      "http":{
        "method":"DELETE",
        "requestUri":"/memberships/{membershipIdentifier}/configuredTableAssociations/{configuredTableAssociationIdentifier}/analysisRule/{analysisRuleType}",
        "responseCode":204
      },
      "input":{"shape":"DeleteConfiguredTableAssociationAnalysisRuleInput"},
      "output":{"shape":"DeleteConfiguredTableAssociationAnalysisRuleOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes an analysis rule for a configured table association.</p>",
      "idempotent":true
    },
    "DeleteIdMappingTable":{
      "name":"DeleteIdMappingTable",
      "http":{
        "method":"DELETE",
        "requestUri":"/memberships/{membershipIdentifier}/idmappingtables/{idMappingTableIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteIdMappingTableInput"},
      "output":{"shape":"DeleteIdMappingTableOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes an ID mapping table.</p>",
      "idempotent":true
    },
    "DeleteIdNamespaceAssociation":{
      "name":"DeleteIdNamespaceAssociation",
      "http":{
        "method":"DELETE",
        "requestUri":"/memberships/{membershipIdentifier}/idnamespaceassociations/{idNamespaceAssociationIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteIdNamespaceAssociationInput"},
      "output":{"shape":"DeleteIdNamespaceAssociationOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes an ID namespace association.</p>",
      "idempotent":true
    },
    "DeleteMember":{
      "name":"DeleteMember",
      "http":{
        "method":"DELETE",
        "requestUri":"/collaborations/{collaborationIdentifier}/member/{accountId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteMemberInput"},
      "output":{"shape":"DeleteMemberOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Removes the specified member from a collaboration. The removed member is placed in the Removed status and can't interact with the collaboration. The removed member's data is inaccessible to active members of the collaboration.</p>",
      "idempotent":true
    },
    "DeleteMembership":{
      "name":"DeleteMembership",
      "http":{
        "method":"DELETE",
        "requestUri":"/memberships/{membershipIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteMembershipInput"},
      "output":{"shape":"DeleteMembershipOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a specified membership. All resources under a membership must be deleted.</p>",
      "idempotent":true
    },
    "DeletePrivacyBudgetTemplate":{
      "name":"DeletePrivacyBudgetTemplate",
      "http":{
        "method":"DELETE",
        "requestUri":"/memberships/{membershipIdentifier}/privacybudgettemplates/{privacyBudgetTemplateIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"DeletePrivacyBudgetTemplateInput"},
      "output":{"shape":"DeletePrivacyBudgetTemplateOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a privacy budget template for a specified collaboration.</p>",
      "idempotent":true
    },
    "GetAnalysisTemplate":{
      "name":"GetAnalysisTemplate",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/analysistemplates/{analysisTemplateIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetAnalysisTemplateInput"},
      "output":{"shape":"GetAnalysisTemplateOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves an analysis template.</p>"
    },
    "GetCollaboration":{
      "name":"GetCollaboration",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetCollaborationInput"},
      "output":{"shape":"GetCollaborationOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns metadata about a collaboration.</p>"
    },
    "GetCollaborationAnalysisTemplate":{
      "name":"GetCollaborationAnalysisTemplate",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/analysistemplates/{analysisTemplateArn}",
        "responseCode":200
      },
      "input":{"shape":"GetCollaborationAnalysisTemplateInput"},
      "output":{"shape":"GetCollaborationAnalysisTemplateOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves an analysis template within a collaboration.</p>"
    },
    "GetCollaborationChangeRequest":{
      "name":"GetCollaborationChangeRequest",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/changeRequests/{changeRequestIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetCollaborationChangeRequestInput"},
      "output":{"shape":"GetCollaborationChangeRequestOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves detailed information about a specific collaboration change request.</p>"
    },
    "GetCollaborationConfiguredAudienceModelAssociation":{
      "name":"GetCollaborationConfiguredAudienceModelAssociation",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/configuredaudiencemodelassociations/{configuredAudienceModelAssociationIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetCollaborationConfiguredAudienceModelAssociationInput"},
      "output":{"shape":"GetCollaborationConfiguredAudienceModelAssociationOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a configured audience model association within a collaboration.</p>"
    },
    "GetCollaborationIdNamespaceAssociation":{
      "name":"GetCollaborationIdNamespaceAssociation",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/idnamespaceassociations/{idNamespaceAssociationIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetCollaborationIdNamespaceAssociationInput"},
      "output":{"shape":"GetCollaborationIdNamespaceAssociationOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves an ID namespace association from a specific collaboration.</p>"
    },
    "GetCollaborationPrivacyBudgetTemplate":{
      "name":"GetCollaborationPrivacyBudgetTemplate",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/privacybudgettemplates/{privacyBudgetTemplateIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetCollaborationPrivacyBudgetTemplateInput"},
      "output":{"shape":"GetCollaborationPrivacyBudgetTemplateOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns details about a specified privacy budget template.</p>"
    },
    "GetConfiguredAudienceModelAssociation":{
      "name":"GetConfiguredAudienceModelAssociation",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/configuredaudiencemodelassociations/{configuredAudienceModelAssociationIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetConfiguredAudienceModelAssociationInput"},
      "output":{"shape":"GetConfiguredAudienceModelAssociationOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns information about a configured audience model association.</p>"
    },
    "GetConfiguredTable":{
      "name":"GetConfiguredTable",
      "http":{
        "method":"GET",
        "requestUri":"/configuredTables/{configuredTableIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetConfiguredTableInput"},
      "output":{"shape":"GetConfiguredTableOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a configured table.</p>"
    },
    "GetConfiguredTableAnalysisRule":{
      "name":"GetConfiguredTableAnalysisRule",
      "http":{
        "method":"GET",
        "requestUri":"/configuredTables/{configuredTableIdentifier}/analysisRule/{analysisRuleType}",
        "responseCode":200
      },
      "input":{"shape":"GetConfiguredTableAnalysisRuleInput"},
      "output":{"shape":"GetConfiguredTableAnalysisRuleOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a configured table analysis rule.</p>"
    },
    "GetConfiguredTableAssociation":{
      "name":"GetConfiguredTableAssociation",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/configuredTableAssociations/{configuredTableAssociationIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetConfiguredTableAssociationInput"},
      "output":{"shape":"GetConfiguredTableAssociationOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a configured table association.</p>"
    },
    "GetConfiguredTableAssociationAnalysisRule":{
      "name":"GetConfiguredTableAssociationAnalysisRule",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/configuredTableAssociations/{configuredTableAssociationIdentifier}/analysisRule/{analysisRuleType}",
        "responseCode":200
      },
      "input":{"shape":"GetConfiguredTableAssociationAnalysisRuleInput"},
      "output":{"shape":"GetConfiguredTableAssociationAnalysisRuleOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Retrieves the analysis rule for a configured table association.</p>"
    },
    "GetIdMappingTable":{
      "name":"GetIdMappingTable",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/idmappingtables/{idMappingTableIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetIdMappingTableInput"},
      "output":{"shape":"GetIdMappingTableOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves an ID mapping table.</p>"
    },
    "GetIdNamespaceAssociation":{
      "name":"GetIdNamespaceAssociation",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/idnamespaceassociations/{idNamespaceAssociationIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetIdNamespaceAssociationInput"},
      "output":{"shape":"GetIdNamespaceAssociationOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves an ID namespace association.</p>"
    },
    "GetMembership":{
      "name":"GetMembership",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetMembershipInput"},
      "output":{"shape":"GetMembershipOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a specified membership for an identifier.</p>"
    },
    "GetPrivacyBudgetTemplate":{
      "name":"GetPrivacyBudgetTemplate",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/privacybudgettemplates/{privacyBudgetTemplateIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetPrivacyBudgetTemplateInput"},
      "output":{"shape":"GetPrivacyBudgetTemplateOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns details for a specified privacy budget template.</p>"
    },
    "GetProtectedJob":{
      "name":"GetProtectedJob",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/protectedJobs/{protectedJobIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetProtectedJobInput"},
      "output":{"shape":"GetProtectedJobOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns job processing metadata.</p>"
    },
    "GetProtectedQuery":{
      "name":"GetProtectedQuery",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/protectedQueries/{protectedQueryIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetProtectedQueryInput"},
      "output":{"shape":"GetProtectedQueryOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns query processing metadata.</p>"
    },
    "GetSchema":{
      "name":"GetSchema",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/schemas/{name}",
        "responseCode":200
      },
      "input":{"shape":"GetSchemaInput"},
      "output":{"shape":"GetSchemaOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves the schema for a relation within a collaboration.</p>"
    },
    "GetSchemaAnalysisRule":{
      "name":"GetSchemaAnalysisRule",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/schemas/{name}/analysisRule/{type}",
        "responseCode":200
      },
      "input":{"shape":"GetSchemaAnalysisRuleInput"},
      "output":{"shape":"GetSchemaAnalysisRuleOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a schema analysis rule.</p>"
    },
    "ListAnalysisTemplates":{
      "name":"ListAnalysisTemplates",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/analysistemplates",
        "responseCode":200
      },
      "input":{"shape":"ListAnalysisTemplatesInput"},
      "output":{"shape":"ListAnalysisTemplatesOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists analysis templates that the caller owns.</p>"
    },
    "ListCollaborationAnalysisTemplates":{
      "name":"ListCollaborationAnalysisTemplates",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/analysistemplates",
        "responseCode":200
      },
      "input":{"shape":"ListCollaborationAnalysisTemplatesInput"},
      "output":{"shape":"ListCollaborationAnalysisTemplatesOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists analysis templates within a collaboration.</p>"
    },
    "ListCollaborationChangeRequests":{
      "name":"ListCollaborationChangeRequests",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/changeRequests",
        "responseCode":200
      },
      "input":{"shape":"ListCollaborationChangeRequestsInput"},
      "output":{"shape":"ListCollaborationChangeRequestsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists all change requests for a collaboration with pagination support. Returns change requests sorted by creation time.</p>"
    },
    "ListCollaborationConfiguredAudienceModelAssociations":{
      "name":"ListCollaborationConfiguredAudienceModelAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/configuredaudiencemodelassociations",
        "responseCode":200
      },
      "input":{"shape":"ListCollaborationConfiguredAudienceModelAssociationsInput"},
      "output":{"shape":"ListCollaborationConfiguredAudienceModelAssociationsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists configured audience model associations within a collaboration.</p>"
    },
    "ListCollaborationIdNamespaceAssociations":{
      "name":"ListCollaborationIdNamespaceAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/idnamespaceassociations",
        "responseCode":200
      },
      "input":{"shape":"ListCollaborationIdNamespaceAssociationsInput"},
      "output":{"shape":"ListCollaborationIdNamespaceAssociationsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns a list of the ID namespace associations in a collaboration.</p>"
    },
    "ListCollaborationPrivacyBudgetTemplates":{
      "name":"ListCollaborationPrivacyBudgetTemplates",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/privacybudgettemplates",
        "responseCode":200
      },
      "input":{"shape":"ListCollaborationPrivacyBudgetTemplatesInput"},
      "output":{"shape":"ListCollaborationPrivacyBudgetTemplatesOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns an array that summarizes each privacy budget template in a specified collaboration.</p>"
    },
    "ListCollaborationPrivacyBudgets":{
      "name":"ListCollaborationPrivacyBudgets",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/privacybudgets",
        "responseCode":200
      },
      "input":{"shape":"ListCollaborationPrivacyBudgetsInput"},
      "output":{"shape":"ListCollaborationPrivacyBudgetsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns an array that summarizes each privacy budget in a specified collaboration. The summary includes the collaboration ARN, creation time, creating account, and privacy budget details.</p>"
    },
    "ListCollaborations":{
      "name":"ListCollaborations",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations",
        "responseCode":200
      },
      "input":{"shape":"ListCollaborationsInput"},
      "output":{"shape":"ListCollaborationsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists collaborations the caller owns, is active in, or has been invited to.</p>"
    },
    "ListConfiguredAudienceModelAssociations":{
      "name":"ListConfiguredAudienceModelAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/configuredaudiencemodelassociations",
        "responseCode":200
      },
      "input":{"shape":"ListConfiguredAudienceModelAssociationsInput"},
      "output":{"shape":"ListConfiguredAudienceModelAssociationsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists information about requested configured audience model associations.</p>"
    },
    "ListConfiguredTableAssociations":{
      "name":"ListConfiguredTableAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/configuredTableAssociations",
        "responseCode":200
      },
      "input":{"shape":"ListConfiguredTableAssociationsInput"},
      "output":{"shape":"ListConfiguredTableAssociationsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists configured table associations for a membership.</p>"
    },
    "ListConfiguredTables":{
      "name":"ListConfiguredTables",
      "http":{
        "method":"GET",
        "requestUri":"/configuredTables",
        "responseCode":200
      },
      "input":{"shape":"ListConfiguredTablesInput"},
      "output":{"shape":"ListConfiguredTablesOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists configured tables.</p>"
    },
    "ListIdMappingTables":{
      "name":"ListIdMappingTables",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/idmappingtables",
        "responseCode":200
      },
      "input":{"shape":"ListIdMappingTablesInput"},
      "output":{"shape":"ListIdMappingTablesOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns a list of ID mapping tables.</p>"
    },
    "ListIdNamespaceAssociations":{
      "name":"ListIdNamespaceAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/idnamespaceassociations",
        "responseCode":200
      },
      "input":{"shape":"ListIdNamespaceAssociationsInput"},
      "output":{"shape":"ListIdNamespaceAssociationsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns a list of ID namespace associations.</p>"
    },
    "ListMembers":{
      "name":"ListMembers",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/members",
        "responseCode":200
      },
      "input":{"shape":"ListMembersInput"},
      "output":{"shape":"ListMembersOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists all members within a collaboration.</p>"
    },
    "ListMemberships":{
      "name":"ListMemberships",
      "http":{
        "method":"GET",
        "requestUri":"/memberships",
        "responseCode":200
      },
      "input":{"shape":"ListMembershipsInput"},
      "output":{"shape":"ListMembershipsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists all memberships resources within the caller's account.</p>"
    },
    "ListPrivacyBudgetTemplates":{
      "name":"ListPrivacyBudgetTemplates",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/privacybudgettemplates",
        "responseCode":200
      },
      "input":{"shape":"ListPrivacyBudgetTemplatesInput"},
      "output":{"shape":"ListPrivacyBudgetTemplatesOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns detailed information about the privacy budget templates in a specified membership.</p>"
    },
    "ListPrivacyBudgets":{
      "name":"ListPrivacyBudgets",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/privacybudgets",
        "responseCode":200
      },
      "input":{"shape":"ListPrivacyBudgetsInput"},
      "output":{"shape":"ListPrivacyBudgetsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns detailed information about the privacy budgets in a specified membership.</p>"
    },
    "ListProtectedJobs":{
      "name":"ListProtectedJobs",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/protectedJobs",
        "responseCode":200
      },
      "input":{"shape":"ListProtectedJobsInput"},
      "output":{"shape":"ListProtectedJobsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists protected jobs, sorted by most recent job.</p>"
    },
    "ListProtectedQueries":{
      "name":"ListProtectedQueries",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/protectedQueries",
        "responseCode":200
      },
      "input":{"shape":"ListProtectedQueriesInput"},
      "output":{"shape":"ListProtectedQueriesOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists protected queries, sorted by the most recent query.</p>"
    },
    "ListSchemas":{
      "name":"ListSchemas",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/schemas",
        "responseCode":200
      },
      "input":{"shape":"ListSchemasInput"},
      "output":{"shape":"ListSchemasOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists the schemas for relations within a collaboration.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceInput"},
      "output":{"shape":"ListTagsForResourceOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists all of the tags that have been added to a resource.</p>"
    },
    "PopulateIdMappingTable":{
      "name":"PopulateIdMappingTable",
      "http":{
        "method":"POST",
        "requestUri":"/memberships/{membershipIdentifier}/idmappingtables/{idMappingTableIdentifier}/populate",
        "responseCode":200
      },
      "input":{"shape":"PopulateIdMappingTableInput"},
      "output":{"shape":"PopulateIdMappingTableOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Defines the information that's necessary to populate an ID mapping table.</p>"
    },
    "PreviewPrivacyImpact":{
      "name":"PreviewPrivacyImpact",
      "http":{
        "method":"POST",
        "requestUri":"/memberships/{membershipIdentifier}/previewprivacyimpact",
        "responseCode":200
      },
      "input":{"shape":"PreviewPrivacyImpactInput"},
      "output":{"shape":"PreviewPrivacyImpactOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>An estimate of the number of aggregation functions that the member who can query can run given epsilon and noise parameters.</p>"
    },
    "StartProtectedJob":{
      "name":"StartProtectedJob",
      "http":{
        "method":"POST",
        "requestUri":"/memberships/{membershipIdentifier}/protectedJobs",
        "responseCode":200
      },
      "input":{"shape":"StartProtectedJobInput"},
      "output":{"shape":"StartProtectedJobOutput"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a protected job that is started by Clean Rooms.</p>"
    },
    "StartProtectedQuery":{
      "name":"StartProtectedQuery",
      "http":{
        "method":"POST",
        "requestUri":"/memberships/{membershipIdentifier}/protectedQueries",
        "responseCode":200
      },
      "input":{"shape":"StartProtectedQueryInput"},
      "output":{"shape":"StartProtectedQueryOutput"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a protected query that is started by Clean Rooms.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceInput"},
      "output":{"shape":"TagResourceOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Tags a resource.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceInput"},
      "output":{"shape":"UntagResourceOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Removes a tag or list of tags from a resource.</p>"
    },
    "UpdateAnalysisTemplate":{
      "name":"UpdateAnalysisTemplate",
      "http":{
        "method":"PATCH",
        "requestUri":"/memberships/{membershipIdentifier}/analysistemplates/{analysisTemplateIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateAnalysisTemplateInput"},
      "output":{"shape":"UpdateAnalysisTemplateOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates the analysis template metadata.</p>"
    },
    "UpdateCollaboration":{
      "name":"UpdateCollaboration",
      "http":{
        "method":"PATCH",
        "requestUri":"/collaborations/{collaborationIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateCollaborationInput"},
      "output":{"shape":"UpdateCollaborationOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates collaboration metadata and can only be called by the collaboration owner.</p>"
    },
    "UpdateConfiguredAudienceModelAssociation":{
      "name":"UpdateConfiguredAudienceModelAssociation",
      "http":{
        "method":"PATCH",
        "requestUri":"/memberships/{membershipIdentifier}/configuredaudiencemodelassociations/{configuredAudienceModelAssociationIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateConfiguredAudienceModelAssociationInput"},
      "output":{"shape":"UpdateConfiguredAudienceModelAssociationOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Provides the details necessary to update a configured audience model association.</p>"
    },
    "UpdateConfiguredTable":{
      "name":"UpdateConfiguredTable",
      "http":{
        "method":"PATCH",
        "requestUri":"/configuredTables/{configuredTableIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateConfiguredTableInput"},
      "output":{"shape":"UpdateConfiguredTableOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates a configured table.</p>"
    },
    "UpdateConfiguredTableAnalysisRule":{
      "name":"UpdateConfiguredTableAnalysisRule",
      "http":{
        "method":"PATCH",
        "requestUri":"/configuredTables/{configuredTableIdentifier}/analysisRule/{analysisRuleType}",
        "responseCode":200
      },
      "input":{"shape":"UpdateConfiguredTableAnalysisRuleInput"},
      "output":{"shape":"UpdateConfiguredTableAnalysisRuleOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates a configured table analysis rule.</p>"
    },
    "UpdateConfiguredTableAssociation":{
      "name":"UpdateConfiguredTableAssociation",
      "http":{
        "method":"PATCH",
        "requestUri":"/memberships/{membershipIdentifier}/configuredTableAssociations/{configuredTableAssociationIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateConfiguredTableAssociationInput"},
      "output":{"shape":"UpdateConfiguredTableAssociationOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates a configured table association.</p>"
    },
    "UpdateConfiguredTableAssociationAnalysisRule":{
      "name":"UpdateConfiguredTableAssociationAnalysisRule",
      "http":{
        "method":"PATCH",
        "requestUri":"/memberships/{membershipIdentifier}/configuredTableAssociations/{configuredTableAssociationIdentifier}/analysisRule/{analysisRuleType}",
        "responseCode":200
      },
      "input":{"shape":"UpdateConfiguredTableAssociationAnalysisRuleInput"},
      "output":{"shape":"UpdateConfiguredTableAssociationAnalysisRuleOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Updates the analysis rule for a configured table association.</p>"
    },
    "UpdateIdMappingTable":{
      "name":"UpdateIdMappingTable",
      "http":{
        "method":"PATCH",
        "requestUri":"/memberships/{membershipIdentifier}/idmappingtables/{idMappingTableIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateIdMappingTableInput"},
      "output":{"shape":"UpdateIdMappingTableOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Provides the details that are necessary to update an ID mapping table.</p>"
    },
    "UpdateIdNamespaceAssociation":{
      "name":"UpdateIdNamespaceAssociation",
      "http":{
        "method":"PATCH",
        "requestUri":"/memberships/{membershipIdentifier}/idnamespaceassociations/{idNamespaceAssociationIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateIdNamespaceAssociationInput"},
      "output":{"shape":"UpdateIdNamespaceAssociationOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Provides the details that are necessary to update an ID namespace association.</p>"
    },
    "UpdateMembership":{
      "name":"UpdateMembership",
      "http":{
        "method":"PATCH",
        "requestUri":"/memberships/{membershipIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateMembershipInput"},
      "output":{"shape":"UpdateMembershipOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates a membership.</p>"
    },
    "UpdatePrivacyBudgetTemplate":{
      "name":"UpdatePrivacyBudgetTemplate",
      "http":{
        "method":"PATCH",
        "requestUri":"/memberships/{membershipIdentifier}/privacybudgettemplates/{privacyBudgetTemplateIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdatePrivacyBudgetTemplateInput"},
      "output":{"shape":"UpdatePrivacyBudgetTemplateOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates the privacy budget template for the specified collaboration.</p>"
    },
    "UpdateProtectedJob":{
      "name":"UpdateProtectedJob",
      "http":{
        "method":"PATCH",
        "requestUri":"/memberships/{membershipIdentifier}/protectedJobs/{protectedJobIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateProtectedJobInput"},
      "output":{"shape":"UpdateProtectedJobOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates the processing of a currently running job.</p>",
      "idempotent":true
    },
    "UpdateProtectedQuery":{
      "name":"UpdateProtectedQuery",
      "http":{
        "method":"PATCH",
        "requestUri":"/memberships/{membershipIdentifier}/protectedQueries/{protectedQueryIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateProtectedQueryInput"},
      "output":{"shape":"UpdateProtectedQueryOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates the processing of a currently running query.</p>",
      "idempotent":true
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"},
        "reason":{
          "shape":"AccessDeniedExceptionReason",
          "documentation":"<p>A reason code for the exception.</p>"
        }
      },
      "documentation":"<p>Caller does not have sufficient access to perform this action.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AccessDeniedExceptionReason":{
      "type":"string",
      "enum":["INSUFFICIENT_PERMISSIONS"]
    },
    "AccountId":{
      "type":"string",
      "max":12,
      "min":12,
      "pattern":"\\d+"
    },
    "AdditionalAnalyses":{
      "type":"string",
      "enum":[
        "ALLOWED",
        "REQUIRED",
        "NOT_ALLOWED"
      ]
    },
    "AdditionalAnalysesResourceArn":{
      "type":"string",
      "max":256,
      "min":0,
      "pattern":"arn:aws:cleanrooms:[\\w]{2}-[\\w]{4,9}-[\\d]:([\\d]{12}|\\*):membership\\/[\\*\\d\\w-]+\\/configuredaudiencemodelassociation\\/[\\*\\d\\w-]+$|^arn:aws[-a-z]*:cleanrooms-ml:[-a-z0-9]+:([0-9]{12}|\\*):membership\\/[\\*\\d\\w-]+\\/configured-model-algorithm-association\\/([-a-zA-Z0-9_\\/.]+|\\*)"
    },
    "AggregateColumn":{
      "type":"structure",
      "required":[
        "columnNames",
        "function"
      ],
      "members":{
        "columnNames":{
          "shape":"AggregateColumnColumnNamesList",
          "documentation":"<p>Column names in configured table of aggregate columns.</p>"
        },
        "function":{
          "shape":"AggregateFunctionName",
          "documentation":"<p>Aggregation function that can be applied to aggregate column in query.</p>"
        }
      },
      "documentation":"<p>Column in configured table that can be used in aggregate function in query.</p>"
    },
    "AggregateColumnColumnNamesList":{
      "type":"list",
      "member":{"shape":"AnalysisRuleColumnName"},
      "min":1
    },
    "AggregateFunctionName":{
      "type":"string",
      "enum":[
        "SUM",
        "SUM_DISTINCT",
        "COUNT",
        "COUNT_DISTINCT",
        "AVG"
      ]
    },
    "AggregationConstraint":{
      "type":"structure",
      "required":[
        "columnName",
        "minimum",
        "type"
      ],
      "members":{
        "columnName":{
          "shape":"AnalysisRuleColumnName",
          "documentation":"<p>Column in aggregation constraint for which there must be a minimum number of distinct values in an output row for it to be in the query output.</p>"
        },
        "minimum":{
          "shape":"AggregationConstraintMinimumInteger",
          "documentation":"<p>The minimum number of distinct values that an output row must be an aggregation of. Minimum threshold of distinct values for a specified column that must exist in an output row for it to be in the query output.</p>"
        },
        "type":{
          "shape":"AggregationType",
          "documentation":"<p>The type of aggregation the constraint allows. The only valid value is currently `COUNT_DISTINCT`.</p>"
        }
      },
      "documentation":"<p>Constraint on query output removing output rows that do not meet a minimum number of distinct values of a specified column.</p>"
    },
    "AggregationConstraintMinimumInteger":{
      "type":"integer",
      "box":true,
      "max":100000,
      "min":2
    },
    "AggregationConstraints":{
      "type":"list",
      "member":{"shape":"AggregationConstraint"},
      "min":1
    },
    "AggregationType":{
      "type":"string",
      "enum":["COUNT_DISTINCT"]
    },
    "AllowedAdditionalAnalyses":{
      "type":"list",
      "member":{"shape":"AdditionalAnalysesResourceArn"},
      "max":25,
      "min":0
    },
    "AllowedColumnList":{
      "type":"list",
      "member":{"shape":"ColumnName"},
      "min":1
    },
    "AllowedResultReceivers":{
      "type":"list",
      "member":{"shape":"AccountId"}
    },
    "AnalysisFormat":{
      "type":"string",
      "enum":[
        "SQL",
        "PYSPARK_1_0"
      ]
    },
    "AnalysisMethod":{
      "type":"string",
      "enum":[
        "DIRECT_QUERY",
        "DIRECT_JOB",
        "MULTIPLE"
      ]
    },
    "AnalysisParameter":{
      "type":"structure",
      "required":[
        "name",
        "type"
      ],
      "members":{
        "name":{
          "shape":"ParameterName",
          "documentation":"<p>The name of the parameter. The name must use only alphanumeric, underscore (_), or hyphen (-) characters but cannot start or end with a hyphen.</p>"
        },
        "type":{
          "shape":"ParameterType",
          "documentation":"<p>The type of parameter.</p>"
        },
        "defaultValue":{
          "shape":"ParameterValue",
          "documentation":"<p>Optional. The default value that is applied in the analysis template. The member who can query can override this value in the query editor.</p>"
        }
      },
      "documentation":"<p>Optional. The member who can query can provide this placeholder for a literal data value in an analysis template.</p>",
      "sensitive":true
    },
    "AnalysisParameterList":{
      "type":"list",
      "member":{"shape":"AnalysisParameter"},
      "max":10,
      "min":0
    },
    "AnalysisRule":{
      "type":"structure",
      "required":[
        "collaborationId",
        "type",
        "name",
        "createTime",
        "updateTime",
        "policy"
      ],
      "members":{
        "collaborationId":{
          "shape":"CollaborationIdentifier",
          "documentation":"<p>The unique ID for the associated collaboration.</p>"
        },
        "type":{
          "shape":"AnalysisRuleType",
          "documentation":"<p>The type of analysis rule.</p>"
        },
        "name":{
          "shape":"TableAlias",
          "documentation":"<p>The name for the analysis rule.</p>"
        },
        "createTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time the analysis rule was created.</p>"
        },
        "updateTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time the analysis rule was last updated.</p>"
        },
        "policy":{
          "shape":"AnalysisRulePolicy",
          "documentation":"<p>A policy that describes the associated data usage limitations.</p>"
        },
        "collaborationPolicy":{"shape":"ConfiguredTableAssociationAnalysisRulePolicy"},
        "consolidatedPolicy":{
          "shape":"ConsolidatedPolicy",
          "documentation":"<p> The consolidated policy for the analysis rule.</p>"
        }
      },
      "documentation":"<p>A specification about how data from the configured table can be used in a query.</p>"
    },
    "AnalysisRuleAggregation":{
      "type":"structure",
      "required":[
        "aggregateColumns",
        "joinColumns",
        "dimensionColumns",
        "scalarFunctions",
        "outputConstraints"
      ],
      "members":{
        "aggregateColumns":{
          "shape":"AnalysisRuleAggregationAggregateColumnsList",
          "documentation":"<p>The columns that query runners are allowed to use in aggregation queries.</p>"
        },
        "joinColumns":{
          "shape":"AnalysisRuleColumnList",
          "documentation":"<p>Columns in configured table that can be used in join statements and/or as aggregate columns. They can never be outputted directly.</p>"
        },
        "joinRequired":{
          "shape":"JoinRequiredOption",
          "documentation":"<p>Control that requires member who runs query to do a join with their configured table and/or other configured table in query.</p>"
        },
        "allowedJoinOperators":{
          "shape":"JoinOperatorsList",
          "documentation":"<p>Which logical operators (if any) are to be used in an INNER JOIN match condition. Default is <code>AND</code>.</p>"
        },
        "dimensionColumns":{
          "shape":"AnalysisRuleColumnList",
          "documentation":"<p>The columns that query runners are allowed to select, group by, or filter by.</p>"
        },
        "scalarFunctions":{
          "shape":"ScalarFunctionsList",
          "documentation":"<p>Set of scalar functions that are allowed to be used on dimension columns and the output of aggregation of metrics.</p>"
        },
        "outputConstraints":{
          "shape":"AggregationConstraints",
          "documentation":"<p>Columns that must meet a specific threshold value (after an aggregation function is applied to it) for each output row to be returned.</p>"
        },
        "additionalAnalyses":{
          "shape":"AdditionalAnalyses",
          "documentation":"<p> An indicator as to whether additional analyses (such as Clean Rooms ML) can be applied to the output of the direct query. </p> <p>The <code>additionalAnalyses</code> parameter is currently supported for the list analysis rule (<code>AnalysisRuleList</code>) and the custom analysis rule (<code>AnalysisRuleCustom</code>).</p>"
        }
      },
      "documentation":"<p>A type of analysis rule that enables query structure and specified queries that produce aggregate statistics.</p>"
    },
    "AnalysisRuleAggregationAggregateColumnsList":{
      "type":"list",
      "member":{"shape":"AggregateColumn"},
      "min":1
    },
    "AnalysisRuleColumnList":{
      "type":"list",
      "member":{"shape":"AnalysisRuleColumnName"}
    },
    "AnalysisRuleColumnName":{
      "type":"string",
      "max":127,
      "min":1,
      "pattern":"[a-z0-9_](([a-z0-9_ ]+-)*([a-z0-9_ ]+))?"
    },
    "AnalysisRuleCustom":{
      "type":"structure",
      "required":["allowedAnalyses"],
      "members":{
        "allowedAnalyses":{
          "shape":"AnalysisRuleCustomAllowedAnalysesList",
          "documentation":"<p>The ARN of the analysis templates that are allowed by the custom analysis rule.</p>"
        },
        "allowedAnalysisProviders":{
          "shape":"AnalysisRuleCustomAllowedAnalysisProvidersList",
          "documentation":"<p>The IDs of the Amazon Web Services accounts that are allowed to query by the custom analysis rule. Required when <code>allowedAnalyses</code> is <code>ANY_QUERY</code>.</p>"
        },
        "additionalAnalyses":{
          "shape":"AdditionalAnalyses",
          "documentation":"<p> An indicator as to whether additional analyses (such as Clean Rooms ML) can be applied to the output of the direct query.</p>"
        },
        "disallowedOutputColumns":{
          "shape":"AnalysisRuleColumnList",
          "documentation":"<p> A list of columns that aren't allowed to be shown in the query output.</p>"
        },
        "differentialPrivacy":{
          "shape":"DifferentialPrivacyConfiguration",
          "documentation":"<p>The differential privacy configuration.</p>"
        }
      },
      "documentation":"<p>A type of analysis rule that enables the table owner to approve custom SQL queries on their configured tables. It supports differential privacy.</p>"
    },
    "AnalysisRuleCustomAllowedAnalysesList":{
      "type":"list",
      "member":{"shape":"AnalysisTemplateArnOrQueryWildcard"},
      "min":0
    },
    "AnalysisRuleCustomAllowedAnalysisProvidersList":{
      "type":"list",
      "member":{"shape":"AccountId"},
      "min":0
    },
    "AnalysisRuleIdMappingTable":{
      "type":"structure",
      "required":[
        "joinColumns",
        "queryConstraints"
      ],
      "members":{
        "joinColumns":{
          "shape":"AnalysisRuleIdMappingTableJoinColumnsList",
          "documentation":"<p>The columns that query runners are allowed to use in an INNER JOIN statement.</p>"
        },
        "queryConstraints":{
          "shape":"QueryConstraintList",
          "documentation":"<p>The query constraints of the analysis rule ID mapping table.</p>"
        },
        "dimensionColumns":{
          "shape":"AnalysisRuleColumnList",
          "documentation":"<p>The columns that query runners are allowed to select, group by, or filter by.</p>"
        }
      },
      "documentation":"<p>Defines details for the analysis rule ID mapping table.</p>"
    },
    "AnalysisRuleIdMappingTableJoinColumnsList":{
      "type":"list",
      "member":{"shape":"AnalysisRuleColumnName"},
      "max":2,
      "min":2
    },
    "AnalysisRuleList":{
      "type":"structure",
      "required":[
        "joinColumns",
        "listColumns"
      ],
      "members":{
        "joinColumns":{
          "shape":"AnalysisRuleListJoinColumnsList",
          "documentation":"<p>Columns that can be used to join a configured table with the table of the member who can query and other members' configured tables.</p>"
        },
        "allowedJoinOperators":{
          "shape":"JoinOperatorsList",
          "documentation":"<p>The logical operators (if any) that are to be used in an INNER JOIN match condition. Default is <code>AND</code>.</p>"
        },
        "listColumns":{
          "shape":"AnalysisRuleColumnList",
          "documentation":"<p>Columns that can be listed in the output.</p>"
        },
        "additionalAnalyses":{
          "shape":"AdditionalAnalyses",
          "documentation":"<p> An indicator as to whether additional analyses (such as Clean Rooms ML) can be applied to the output of the direct query.</p>"
        }
      },
      "documentation":"<p>A type of analysis rule that enables row-level analysis.</p>"
    },
    "AnalysisRuleListJoinColumnsList":{
      "type":"list",
      "member":{"shape":"AnalysisRuleColumnName"},
      "min":1
    },
    "AnalysisRulePolicy":{
      "type":"structure",
      "members":{
        "v1":{
          "shape":"AnalysisRulePolicyV1",
          "documentation":"<p>Controls on the query specifications that can be run on configured table.</p>"
        }
      },
      "documentation":"<p>Controls on the query specifications that can be run on configured table.</p>",
      "union":true
    },
    "AnalysisRulePolicyV1":{
      "type":"structure",
      "members":{
        "list":{
          "shape":"AnalysisRuleList",
          "documentation":"<p>Analysis rule type that enables only list queries on a configured table.</p>"
        },
        "aggregation":{
          "shape":"AnalysisRuleAggregation",
          "documentation":"<p>Analysis rule type that enables only aggregation queries on a configured table.</p>"
        },
        "custom":{
          "shape":"AnalysisRuleCustom",
          "documentation":"<p>Analysis rule type that enables custom SQL queries on a configured table.</p>"
        },
        "idMappingTable":{
          "shape":"AnalysisRuleIdMappingTable",
          "documentation":"<p>The ID mapping table.</p>"
        }
      },
      "documentation":"<p>Controls on the query specifications that can be run on configured table.</p>",
      "union":true
    },
    "AnalysisRuleType":{
      "type":"string",
      "enum":[
        "AGGREGATION",
        "LIST",
        "CUSTOM",
        "ID_MAPPING_TABLE"
      ]
    },
    "AnalysisRuleTypeList":{
      "type":"list",
      "member":{"shape":"AnalysisRuleType"}
    },
    "AnalysisSchema":{
      "type":"structure",
      "members":{
        "referencedTables":{
          "shape":"QueryTables",
          "documentation":"<p>The tables referenced in the analysis schema.</p>"
        }
      },
      "documentation":"<p>A relation within an analysis.</p>"
    },
    "AnalysisSource":{
      "type":"structure",
      "members":{
        "text":{
          "shape":"AnalysisTemplateText",
          "documentation":"<p>The query text.</p>"
        },
        "artifacts":{
          "shape":"AnalysisTemplateArtifacts",
          "documentation":"<p> The artifacts of the analysis source.</p>"
        }
      },
      "documentation":"<p>The structure that defines the body of the analysis template.</p>",
      "union":true
    },
    "AnalysisSourceMetadata":{
      "type":"structure",
      "members":{
        "artifacts":{
          "shape":"AnalysisTemplateArtifactMetadata",
          "documentation":"<p> The artifacts of the analysis source metadata.</p>"
        }
      },
      "documentation":"<p>The analysis source metadata.</p>",
      "union":true
    },
    "AnalysisTemplate":{
      "type":"structure",
      "required":[
        "id",
        "arn",
        "collaborationId",
        "collaborationArn",
        "membershipId",
        "membershipArn",
        "name",
        "createTime",
        "updateTime",
        "schema",
        "format",
        "source"
      ],
      "members":{
        "id":{
          "shape":"AnalysisTemplateIdentifier",
          "documentation":"<p>The identifier for the analysis template.</p>"
        },
        "arn":{
          "shape":"AnalysisTemplateArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the analysis template.</p>"
        },
        "collaborationId":{
          "shape":"UUID",
          "documentation":"<p>The unique ID for the associated collaboration of the analysis template.</p>"
        },
        "collaborationArn":{
          "shape":"CollaborationArn",
          "documentation":"<p>The unique ARN for the analysis template’s associated collaboration.</p>"
        },
        "membershipId":{
          "shape":"UUID",
          "documentation":"<p>The identifier of a member who created the analysis template.</p>"
        },
        "membershipArn":{
          "shape":"MembershipArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the member who created the analysis template.</p>"
        },
        "description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description of the analysis template.</p>"
        },
        "name":{
          "shape":"ResourceAlias",
          "documentation":"<p>The name of the analysis template.</p>"
        },
        "createTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time that the analysis template was created.</p>"
        },
        "updateTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time that the analysis template was last updated.</p>"
        },
        "schema":{
          "shape":"AnalysisSchema",
          "documentation":"<p>The entire schema object.</p>"
        },
        "format":{
          "shape":"AnalysisFormat",
          "documentation":"<p>The format of the analysis template.</p>"
        },
        "source":{
          "shape":"AnalysisSource",
          "documentation":"<p>The source of the analysis template.</p>"
        },
        "sourceMetadata":{
          "shape":"AnalysisSourceMetadata",
          "documentation":"<p> The source metadata for the analysis template.</p>"
        },
        "analysisParameters":{
          "shape":"AnalysisParameterList",
          "documentation":"<p>The parameters of the analysis template.</p>"
        },
        "validations":{
          "shape":"AnalysisTemplateValidationStatusDetailList",
          "documentation":"<p>Information about the validations performed on the analysis template.</p>"
        },
        "errorMessageConfiguration":{
          "shape":"ErrorMessageConfiguration",
          "documentation":"<p>The configuration that specifies the level of detail in error messages returned by analyses using this template. When set to <code>DETAILED</code>, error messages include more information to help troubleshoot issues with PySpark jobs. Detailed error messages may expose underlying data, including sensitive information. Recommended for faster troubleshooting in development and testing environments.</p>"
        }
      },
      "documentation":"<p>The analysis template.</p>"
    },
    "AnalysisTemplateArn":{
      "type":"string",
      "max":200,
      "min":0,
      "pattern":"arn:aws:cleanrooms:[\\w]{2}-[\\w]{4,9}-[\\d]:[\\d]{12}:membership/[\\d\\w-]+/analysistemplate/[\\d\\w-]+"
    },
    "AnalysisTemplateArnList":{
      "type":"list",
      "member":{"shape":"AnalysisTemplateArn"},
      "max":10,
      "min":1
    },
    "AnalysisTemplateArnOrQueryWildcard":{
      "type":"string",
      "max":200,
      "min":0,
      "pattern":"(ANY_QUERY|ANY_JOB|arn:aws:cleanrooms:[\\w]{2}-[\\w]{4,9}-[\\d]:[\\d]{12}:membership/[\\d\\w-]+/analysistemplate/[\\d\\w-]+)"
    },
    "AnalysisTemplateArtifact":{
      "type":"structure",
      "required":["location"],
      "members":{
        "location":{
          "shape":"S3Location",
          "documentation":"<p> The artifact location.</p>"
        }
      },
      "documentation":"<p>The analysis template artifact.</p>"
    },
    "AnalysisTemplateArtifactList":{
      "type":"list",
      "member":{"shape":"AnalysisTemplateArtifact"},
      "max":1,
      "min":1
    },
    "AnalysisTemplateArtifactMetadata":{
      "type":"structure",
      "required":["entryPointHash"],
      "members":{
        "entryPointHash":{
          "shape":"Hash",
          "documentation":"<p> The hash of the entry point for the analysis template artifact metadata.</p>"
        },
        "additionalArtifactHashes":{
          "shape":"HashList",
          "documentation":"<p> Additional artifact hashes for the analysis template.</p>"
        }
      },
      "documentation":"<p>The analysis template artifact metadata.</p>"
    },
    "AnalysisTemplateArtifacts":{
      "type":"structure",
      "required":[
        "entryPoint",
        "roleArn"
      ],
      "members":{
        "entryPoint":{
          "shape":"AnalysisTemplateArtifact",
          "documentation":"<p> The entry point for the analysis template artifacts.</p>"
        },
        "additionalArtifacts":{
          "shape":"AnalysisTemplateArtifactList",
          "documentation":"<p> Additional artifacts for the analysis template.</p>"
        },
        "roleArn":{
          "shape":"RoleArn",
          "documentation":"<p> The role ARN for the analysis template artifacts.</p>"
        }
      },
      "documentation":"<p>The analysis template artifacts.</p>"
    },
    "AnalysisTemplateIdentifier":{
      "type":"string",
      "max":36,
      "min":36,
      "pattern":"[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}"
    },
    "AnalysisTemplateSummary":{
      "type":"structure",
      "required":[
        "arn",
        "createTime",
        "id",
        "name",
        "updateTime",
        "membershipArn",
        "membershipId",
        "collaborationArn",
        "collaborationId"
      ],
      "members":{
        "arn":{
          "shape":"AnalysisTemplateArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the analysis template.</p>"
        },
        "createTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time that the analysis template summary was created.</p>"
        },
        "id":{
          "shape":"AnalysisTemplateIdentifier",
          "documentation":"<p>The identifier of the analysis template.</p>"
        },
        "name":{
          "shape":"ResourceAlias",
          "documentation":"<p>The name of the analysis template. </p>"
        },
        "updateTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time that the analysis template summary was last updated.</p>"
        },
        "membershipArn":{
          "shape":"MembershipArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the member who created the analysis template.</p>"
        },
        "membershipId":{
          "shape":"UUID",
          "documentation":"<p>The identifier for a membership resource.</p>"
        },
        "collaborationArn":{
          "shape":"CollaborationArn",
          "documentation":"<p>The unique ARN for the analysis template summary’s associated collaboration.</p>"
        },
        "collaborationId":{
          "shape":"UUID",
          "documentation":"<p>A unique identifier for the collaboration that the analysis template summary belongs to. Currently accepts collaboration ID.</p>"
        },
        "description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description of the analysis template.</p>"
        }
      },
      "documentation":"<p>The metadata of the analysis template.</p>"
    },
    "AnalysisTemplateSummaryList":{
      "type":"list",
      "member":{"shape":"AnalysisTemplateSummary"}
    },
    "AnalysisTemplateText":{
      "type":"string",
      "max":90000,
      "min":0,
      "sensitive":true
    },
    "AnalysisTemplateValidationStatus":{
      "type":"string",
      "enum":[
        "VALID",
        "INVALID",
        "UNABLE_TO_VALIDATE"
      ]
    },
    "AnalysisTemplateValidationStatusDetail":{
      "type":"structure",
      "required":[
        "type",
        "status"
      ],
      "members":{
        "type":{
          "shape":"AnalysisTemplateValidationType",
          "documentation":"<p>The type of validation that was performed.</p>"
        },
        "status":{
          "shape":"AnalysisTemplateValidationStatus",
          "documentation":"<p>The status of the validation.</p>"
        },
        "reasons":{
          "shape":"AnalysisTemplateValidationStatusReasonList",
          "documentation":"<p>The reasons for the validation results.</p>"
        }
      },
      "documentation":"<p>The status details of the analysis template validation. Clean Rooms Differential Privacy uses a general-purpose query structure to support complex SQL queries and validates whether an analysis template fits that general-purpose query structure. Validation is performed when analysis templates are created and fetched. Because analysis templates are immutable by design, we recommend that you create analysis templates after you associate the configured tables with their analysis rule to your collaboration.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/clean-rooms/latest/userguide/analysis-rules-custom.html#custom-diff-privacy\">https://docs.aws.amazon.com/clean-rooms/latest/userguide/analysis-rules-custom.html#custom-diff-privacy</a>.</p>"
    },
    "AnalysisTemplateValidationStatusDetailList":{
      "type":"list",
      "member":{"shape":"AnalysisTemplateValidationStatusDetail"}
    },
    "AnalysisTemplateValidationStatusReason":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>The validation message.</p>"
        }
      },
      "documentation":"<p>The reasons for the validation results.</p>"
    },
    "AnalysisTemplateValidationStatusReasonList":{
      "type":"list",
      "member":{"shape":"AnalysisTemplateValidationStatusReason"}
    },
    "AnalysisTemplateValidationType":{
      "type":"string",
      "enum":["DIFFERENTIAL_PRIVACY"]
    },
    "AnalysisType":{
      "type":"string",
      "enum":[
        "DIRECT_ANALYSIS",
        "ADDITIONAL_ANALYSIS"
      ]
    },
    "AnalyticsEngine":{
      "type":"string",
      "enum":[
        "SPARK",
        "CLEAN_ROOMS_SQL"
      ]
    },
    "AthenaDatabaseName":{
      "type":"string",
      "max":128,
      "min":0,
      "pattern":"[a-zA-Z0-9_](([a-zA-Z0-9_]+-)*([a-zA-Z0-9_]+))?"
    },
    "AthenaOutputLocation":{
      "type":"string",
      "max":1024,
      "min":8,
      "pattern":"s3://[a-z0-9.-]{3,63}(.*)"
    },
    "AthenaTableName":{
      "type":"string",
      "max":128,
      "min":0,
      "pattern":"[a-zA-Z0-9_](([a-zA-Z0-9_]+)*([a-zA-Z0-9_]+))?"
    },
    "AthenaTableReference":{
      "type":"structure",
      "required":[
        "workGroup",
        "databaseName",
        "tableName"
      ],
      "members":{
        "workGroup":{
          "shape":"AthenaWorkGroup",
          "documentation":"<p> The workgroup of the Athena table reference.</p>"
        },
        "outputLocation":{
          "shape":"AthenaOutputLocation",
          "documentation":"<p> The output location for the Athena table.</p>"
        },
        "databaseName":{
          "shape":"AthenaDatabaseName",
          "documentation":"<p> The database name.</p>"
        },
        "tableName":{
          "shape":"AthenaTableName",
          "documentation":"<p> The table reference.</p>"
        }
      },
      "documentation":"<p> A reference to a table within Athena.</p>"
    },
    "AthenaWorkGroup":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"([a-zA-Z0-9._-])*"
    },
    "AutoApprovedChangeType":{
      "type":"string",
      "enum":["ADD_MEMBER"]
    },
    "AutoApprovedChangeTypeList":{
      "type":"list",
      "member":{"shape":"AutoApprovedChangeType"}
    },
    "BatchGetCollaborationAnalysisTemplateError":{
      "type":"structure",
      "required":[
        "arn",
        "code",
        "message"
      ],
      "members":{
        "arn":{
          "shape":"AnalysisTemplateArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the analysis template.</p>"
        },
        "code":{
          "shape":"String",
          "documentation":"<p>An error code for the error.</p>"
        },
        "message":{
          "shape":"String",
          "documentation":"<p>A description of why the call failed.</p>"
        }
      },
      "documentation":"<p>Details of errors thrown by the call to retrieve multiple analysis templates within a collaboration by their identifiers.</p>"
    },
    "BatchGetCollaborationAnalysisTemplateErrorList":{
      "type":"list",
      "member":{"shape":"BatchGetCollaborationAnalysisTemplateError"},
      "max":10,
      "min":0
    },
    "BatchGetCollaborationAnalysisTemplateInput":{
      "type":"structure",
      "required":[
        "collaborationIdentifier",
        "analysisTemplateArns"
      ],
      "members":{
        "collaborationIdentifier":{
          "shape":"CollaborationIdentifier",
          "documentation":"<p>A unique identifier for the collaboration that the analysis templates belong to. Currently accepts collaboration ID.</p>",
          "location":"uri",
          "locationName":"collaborationIdentifier"
        },
        "analysisTemplateArns":{
          "shape":"AnalysisTemplateArnList",
          "documentation":"<p>The Amazon Resource Name (ARN) associated with the analysis template within a collaboration.</p>"
        }
      }
    },
    "BatchGetCollaborationAnalysisTemplateOutput":{
      "type":"structure",
      "required":[
        "collaborationAnalysisTemplates",
        "errors"
      ],
      "members":{
        "collaborationAnalysisTemplates":{
          "shape":"CollaborationAnalysisTemplateList",
          "documentation":"<p>The retrieved list of analysis templates within a collaboration.</p>"
        },
        "errors":{
          "shape":"BatchGetCollaborationAnalysisTemplateErrorList",
          "documentation":"<p>Error reasons for collaboration analysis templates that could not be retrieved. One error is returned for every collaboration analysis template that could not be retrieved.</p>"
        }
      }
    },
    "BatchGetSchemaAnalysisRuleError":{
      "type":"structure",
      "required":[
        "name",
        "type",
        "code",
        "message"
      ],
      "members":{
        "name":{
          "shape":"TableAlias",
          "documentation":"<p>An error name for the error.</p>"
        },
        "type":{
          "shape":"AnalysisRuleType",
          "documentation":"<p>The analysis rule type.</p>"
        },
        "code":{
          "shape":"String",
          "documentation":"<p>An error code for the error.</p>"
        },
        "message":{
          "shape":"String",
          "documentation":"<p>A description of why the call failed.</p>"
        }
      },
      "documentation":"<p>An error that describes why a schema could not be fetched.</p>"
    },
    "BatchGetSchemaAnalysisRuleErrorList":{
      "type":"list",
      "member":{"shape":"BatchGetSchemaAnalysisRuleError"},
      "max":25,
      "min":0
    },
    "BatchGetSchemaAnalysisRuleInput":{
      "type":"structure",
      "required":[
        "collaborationIdentifier",
        "schemaAnalysisRuleRequests"
      ],
      "members":{
        "collaborationIdentifier":{
          "shape":"CollaborationIdentifier",
          "documentation":"<p>The unique identifier of the collaboration that contains the schema analysis rule.</p>",
          "location":"uri",
          "locationName":"collaborationIdentifier"
        },
        "schemaAnalysisRuleRequests":{
          "shape":"SchemaAnalysisRuleRequestList",
          "documentation":"<p>The information that's necessary to retrieve a schema analysis rule.</p>"
        }
      }
    },
    "BatchGetSchemaAnalysisRuleOutput":{
      "type":"structure",
      "required":[
        "analysisRules",
        "errors"
      ],
      "members":{
        "analysisRules":{
          "shape":"SchemaAnalysisRuleList",
          "documentation":"<p>The retrieved list of analysis rules.</p>"
        },
        "errors":{
          "shape":"BatchGetSchemaAnalysisRuleErrorList",
          "documentation":"<p>Error reasons for schemas that could not be retrieved. One error is returned for every schema that could not be retrieved.</p>"
        }
      }
    },
    "BatchGetSchemaError":{
      "type":"structure",
      "required":[
        "name",
        "code",
        "message"
      ],
      "members":{
        "name":{
          "shape":"TableAlias",
          "documentation":"<p>An error name for the error.</p>"
        },
        "code":{
          "shape":"String",
          "documentation":"<p>An error code for the error. </p>"
        },
        "message":{
          "shape":"String",
          "documentation":"<p>An error message for the error.</p>"
        }
      },
      "documentation":"<p>An error describing why a schema could not be fetched.</p>"
    },
    "BatchGetSchemaErrorList":{
      "type":"list",
      "member":{"shape":"BatchGetSchemaError"},
      "max":25,
      "min":0
    },
    "BatchGetSchemaInput":{
      "type":"structure",
      "required":[
        "collaborationIdentifier",
        "names"
      ],
      "members":{
        "collaborationIdentifier":{
          "shape":"CollaborationIdentifier",
          "documentation":"<p>A unique identifier for the collaboration that the schemas belong to. Currently accepts collaboration ID.</p>",
          "location":"uri",
          "locationName":"collaborationIdentifier"
        },
        "names":{
          "shape":"TableAliasList",
          "documentation":"<p>The names for the schema objects to retrieve.</p>"
        }
      }
    },
    "BatchGetSchemaOutput":{
      "type":"structure",
      "required":[
        "schemas",
        "errors"
      ],
      "members":{
        "schemas":{
          "shape":"SchemaList",
          "documentation":"<p>The retrieved list of schemas.</p>"
        },
        "errors":{
          "shape":"BatchGetSchemaErrorList",
          "documentation":"<p>Error reasons for schemas that could not be retrieved. One error is returned for every schema that could not be retrieved.</p>"
        }
      }
    },
    "BilledJobResourceUtilization":{
      "type":"structure",
      "required":["units"],
      "members":{
        "units":{
          "shape":"Double",
          "documentation":"<p> The number of Clean Rooms Processing Unit (CRPU) hours that have been billed.</p>"
        }
      },
      "documentation":"<p> Information related to the utilization of resources that have been billed or charged for in a given context, such as a protected job.</p>"
    },
    "BilledResourceUtilization":{
      "type":"structure",
      "required":["units"],
      "members":{
        "units":{
          "shape":"Double",
          "documentation":"<p> The number of Clean Rooms Processing Unit (CRPU) hours that have been billed.</p>"
        }
      },
      "documentation":"<p> Information related to the utilization of resources that have been billed or charged for in a given context, such as a protected query.</p>"
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "Change":{
      "type":"structure",
      "required":[
        "specificationType",
        "specification",
        "types"
      ],
      "members":{
        "specificationType":{
          "shape":"ChangeSpecificationType",
          "documentation":"<p>The type of specification for this change.</p>"
        },
        "specification":{
          "shape":"ChangeSpecification",
[...]
