<table class="gh-list">
    <thead>
        <tr>
            <th>Member</th>
            <th>Event</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        {{#each @events as |event|}}
            <MembersActivity::TableRow @event={{event}} />
        {{/each}}
    </tbody>
</table>