<table class="gh-list">
    <thead>
        <tr>
            {{#unless @hideMemberColumn}}
                <th>Member</th>
            {{/unless}}
            <th>Event</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        {{#each @events as |event|}}
            <MembersActivity::TableRow @hideMemberColumn={{@hideMemberColumn}} @event={{event}} @hasMultipleNewsletters={{@hasMultipleNewsletters}} />
        {{/each}}
    </tbody>
</table>
