<tr>
    <div class="gh-list-data">{{@activity.member.name}}</div>
    <div class="gh-list-data">{{@activity.event}}</div>
    <div class="gh-list-data">{{moment-format @activity.timestamp "D MMM YYYY HH:MM"}}</div>
</tr>