{{!< default}}
{{!-- The tag above means: insert everything in this file into the body of the default.hbs template --}}

<main class="gh-main gh-outer">

    {{#tag}}
        <section class="gh-archive{{#if feature_image}} has-image{{/if}}{{#if @custom.show_publication_info_sidebar}} has-sidebar{{/if}} gh-inner">
            <div class="gh-archive-inner">
                <header class="gh-archive-wrapper">
                    <h1 class="gh-article-title is-title">{{name}}</h1>
                    {{#if description}}
                        <p class="gh-article-excerpt">{{description}}</p>
                    {{/if}}
                </header>
                {{> "feature-image"}}
            </div>
        </section>
    {{/tag}}

    {{> "components/post-list" feed="archive" postFeedStyle=@custom.post_feed_style showTitle=false showSidebar=@custom.show_publication_info_sidebar}}

</main>