{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2023-07-26",
    "endpointPrefix":"bedrock-agent-runtime",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"Agents for Amazon Bedrock Runtime",
    "serviceId":"Bedrock Agent Runtime",
    "signatureVersion":"v4",
    "signingName":"bedrock",
    "uid":"bedrock-agent-runtime-2023-07-26",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "CreateInvocation":{
      "name":"CreateInvocation",
      "http":{
        "method":"PUT",
        "requestUri":"/sessions/{sessionIdentifier}/invocations/",
        "responseCode":201
      },
      "input":{"shape":"CreateInvocationRequest"},
      "output":{"shape":"CreateInvocationResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a new invocation within a session. An invocation groups the related invocation steps that store the content from a conversation. For more information about sessions, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/sessions.html\">Store and retrieve conversation history and context with Amazon Bedrock sessions</a>.</p> <p>Related APIs</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_ListInvocations.html\">ListInvocations</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_ListSessions.html\">ListSessions</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_GetSession.html\">GetSession</a> </p> </li> </ul>",
      "idempotent":true
    },
    "CreateSession":{
      "name":"CreateSession",
      "http":{
        "method":"PUT",
        "requestUri":"/sessions/",
        "responseCode":201
      },
      "input":{"shape":"CreateSessionRequest"},
      "output":{"shape":"CreateSessionResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a session to temporarily store conversations for generative AI (GenAI) applications built with open-source frameworks such as LangGraph and LlamaIndex. Sessions enable you to save the state of conversations at checkpoints, with the added security and infrastructure of Amazon Web Services. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/sessions.html\">Store and retrieve conversation history and context with Amazon Bedrock sessions</a>.</p> <p>By default, Amazon Bedrock uses Amazon Web Services-managed keys for session encryption, including session metadata, or you can use your own KMS key. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/session-encryption.html\">Amazon Bedrock session encryption</a>.</p> <note> <p> You use a session to store state and conversation history for generative AI applications built with open-source frameworks. For Amazon Bedrock Agents, the service automatically manages conversation context and associates them with the agent-specific sessionId you specify in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html\">InvokeAgent</a> API operation. </p> </note> <p>Related APIs:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_ListSessions.html\">ListSessions</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_GetSession.html\">GetSession</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_EndSession.html\">EndSession</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_DeleteSession.html\">DeleteSession</a> </p> </li> </ul>",
      "idempotent":true
    },
    "DeleteAgentMemory":{
      "name":"DeleteAgentMemory",
      "http":{
        "method":"DELETE",
        "requestUri":"/agents/{agentId}/agentAliases/{agentAliasId}/memories",
        "responseCode":202
      },
      "input":{"shape":"DeleteAgentMemoryRequest"},
      "output":{"shape":"DeleteAgentMemoryResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"DependencyFailedException"},
        {"shape":"BadGatewayException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Deletes memory from the specified memory identifier.</p>",
      "idempotent":true
    },
    "DeleteSession":{
      "name":"DeleteSession",
      "http":{
        "method":"DELETE",
        "requestUri":"/sessions/{sessionIdentifier}/",
        "responseCode":200
      },
      "input":{"shape":"DeleteSessionRequest"},
      "output":{"shape":"DeleteSessionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a session that you ended. You can't delete a session with an <code>ACTIVE</code> status. To delete an active session, you must first end it with the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_EndSession.html\">EndSession</a> API operation. For more information about sessions, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/sessions.html\">Store and retrieve conversation history and context with Amazon Bedrock sessions</a>.</p>",
      "idempotent":true
    },
    "EndSession":{
      "name":"EndSession",
      "http":{
        "method":"PATCH",
        "requestUri":"/sessions/{sessionIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"EndSessionRequest"},
      "output":{"shape":"EndSessionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Ends the session. After you end a session, you can still access its content but you can’t add to it. To delete the session and it's content, you use the DeleteSession API operation. For more information about sessions, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/sessions.html\">Store and retrieve conversation history and context with Amazon Bedrock sessions</a>.</p>",
      "idempotent":true
    },
    "GenerateQuery":{
      "name":"GenerateQuery",
      "http":{
        "method":"POST",
        "requestUri":"/generateQuery",
        "responseCode":200
      },
      "input":{"shape":"GenerateQueryRequest"},
      "output":{"shape":"GenerateQueryResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"DependencyFailedException"},
        {"shape":"BadGatewayException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Generates an SQL query from a natural language query. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/knowledge-base-generate-query.html\">Generate a query for structured data</a> in the Amazon Bedrock User Guide.</p>"
    },
    "GetAgentMemory":{
      "name":"GetAgentMemory",
      "http":{
        "method":"GET",
        "requestUri":"/agents/{agentId}/agentAliases/{agentAliasId}/memories",
        "responseCode":200
      },
      "input":{"shape":"GetAgentMemoryRequest"},
      "output":{"shape":"GetAgentMemoryResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"DependencyFailedException"},
        {"shape":"BadGatewayException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Gets the sessions stored in the memory of the agent.</p>"
    },
    "GetExecutionFlowSnapshot":{
      "name":"GetExecutionFlowSnapshot",
      "http":{
        "method":"GET",
        "requestUri":"/flows/{flowIdentifier}/aliases/{flowAliasIdentifier}/executions/{executionIdentifier}/flowsnapshot",
        "responseCode":200
      },
      "input":{"shape":"GetExecutionFlowSnapshotRequest"},
      "output":{"shape":"GetExecutionFlowSnapshotResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves the flow definition snapshot used for a flow execution. The snapshot represents the flow metadata and definition as it existed at the time the execution was started. Note that even if the flow is edited after an execution starts, the snapshot connected to the execution remains unchanged.</p> <note> <p>Flow executions is in preview release for Amazon Bedrock and is subject to change.</p> </note>"
    },
    "GetFlowExecution":{
      "name":"GetFlowExecution",
      "http":{
        "method":"GET",
        "requestUri":"/flows/{flowIdentifier}/aliases/{flowAliasIdentifier}/executions/{executionIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetFlowExecutionRequest"},
      "output":{"shape":"GetFlowExecutionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves details about a specific flow execution, including its status, start and end times, and any errors that occurred during execution.</p>"
    },
    "GetInvocationStep":{
      "name":"GetInvocationStep",
      "http":{
        "method":"POST",
        "requestUri":"/sessions/{sessionIdentifier}/invocationSteps/{invocationStepId}",
        "responseCode":200
      },
      "input":{"shape":"GetInvocationStepRequest"},
      "output":{"shape":"GetInvocationStepResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves the details of a specific invocation step within an invocation in a session. For more information about sessions, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/sessions.html\">Store and retrieve conversation history and context with Amazon Bedrock sessions</a>.</p>"
    },
    "GetSession":{
      "name":"GetSession",
      "http":{
        "method":"GET",
        "requestUri":"/sessions/{sessionIdentifier}/",
        "responseCode":200
      },
      "input":{"shape":"GetSessionRequest"},
      "output":{"shape":"GetSessionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves details about a specific session. For more information about sessions, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/sessions.html\">Store and retrieve conversation history and context with Amazon Bedrock sessions</a>.</p>"
    },
    "InvokeAgent":{
      "name":"InvokeAgent",
      "http":{
        "method":"POST",
        "requestUri":"/agents/{agentId}/agentAliases/{agentAliasId}/sessions/{sessionId}/text",
        "responseCode":200
      },
      "input":{"shape":"InvokeAgentRequest"},
      "output":{"shape":"InvokeAgentResponse"},
      "errors":[
        {"shape":"ModelNotReadyException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"DependencyFailedException"},
        {"shape":"BadGatewayException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p><note> </note> <p>Sends a prompt for the agent to process and respond to. Note the following fields for the request:</p> <ul> <li> <p>To continue the same conversation with an agent, use the same <code>sessionId</code> value in the request.</p> </li> <li> <p>To activate trace enablement, turn <code>enableTrace</code> to <code>true</code>. Trace enablement helps you follow the agent's reasoning process that led it to the information it processed, the actions it took, and the final result it yielded. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/agents-test.html#trace-events\">Trace enablement</a>.</p> </li> <li> <p>End a conversation by setting <code>endSession</code> to <code>true</code>.</p> </li> <li> <p>In the <code>sessionState</code> object, you can include attributes for the session or prompt or, if you configured an action group to return control, results from invocation of the action group.</p> </li> </ul> <p>The response contains both <b>chunk</b> and <b>trace</b> attributes.</p> <p>The final response is returned in the <code>bytes</code> field of the <code>chunk</code> object. The <code>InvokeAgent</code> returns one chunk for the entire interaction.</p> <ul> <li> <p>The <code>attribution</code> object contains citations for parts of the response.</p> </li> <li> <p>If you set <code>enableTrace</code> to <code>true</code> in the request, you can trace the agent's steps and reasoning process that led it to the response.</p> </li> <li> <p>If the action predicted was configured to return control, the response returns parameters for the action, elicited from the user, in the <code>returnControl</code> field.</p> </li> <li> <p>Errors are also surfaced in the response.</p> </li> </ul></p>"
    },
    "InvokeFlow":{
      "name":"InvokeFlow",
      "http":{
        "method":"POST",
        "requestUri":"/flows/{flowIdentifier}/aliases/{flowAliasIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"InvokeFlowRequest"},
      "output":{"shape":"InvokeFlowResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"DependencyFailedException"},
        {"shape":"BadGatewayException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Invokes an alias of a flow to run the inputs that you specify and return the output of each node as a stream. If there's an error, the error is returned. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-test.html\">Test a flow in Amazon Bedrock</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p> <note> <p>The CLI doesn't support streaming operations in Amazon Bedrock, including <code>InvokeFlow</code>.</p> </note>"
    },
    "InvokeInlineAgent":{
      "name":"InvokeInlineAgent",
      "http":{
        "method":"POST",
        "requestUri":"/agents/{sessionId}",
        "responseCode":200
      },
      "input":{"shape":"InvokeInlineAgentRequest"},
      "output":{"shape":"InvokeInlineAgentResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"DependencyFailedException"},
        {"shape":"BadGatewayException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p> Invokes an inline Amazon Bedrock agent using the configurations you provide with the request. </p> <ul> <li> <p>Specify the following fields for security purposes.</p> <ul> <li> <p>(Optional) <code>customerEncryptionKeyArn</code> – The Amazon Resource Name (ARN) of a KMS key to encrypt the creation of the agent.</p> </li> <li> <p>(Optional) <code>idleSessionTTLinSeconds</code> – Specify the number of seconds for which the agent should maintain session information. After this time expires, the subsequent <code>InvokeInlineAgent</code> request begins a new session.</p> </li> </ul> </li> <li> <p>To override the default prompt behavior for agent orchestration and to use advanced prompts, include a <code>promptOverrideConfiguration</code> object. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/advanced-prompts.html\">Advanced prompts</a>.</p> </li> <li> <p>The agent instructions will not be honored if your agent has only one knowledge base, uses default prompts, has no action group, and user input is disabled.</p> </li> </ul> <note> </note>"
    },
    "ListFlowExecutionEvents":{
      "name":"ListFlowExecutionEvents",
      "http":{
        "method":"GET",
        "requestUri":"/flows/{flowIdentifier}/aliases/{flowAliasIdentifier}/executions/{executionIdentifier}/events",
        "responseCode":200
      },
      "input":{"shape":"ListFlowExecutionEventsRequest"},
      "output":{"shape":"ListFlowExecutionEventsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists events that occurred during a flow execution. Events provide detailed information about the execution progress, including node inputs and outputs, flow inputs and outputs, condition results, and failure events.</p> <note> <p>Flow executions is in preview release for Amazon Bedrock and is subject to change.</p> </note>"
    },
    "ListFlowExecutions":{
      "name":"ListFlowExecutions",
      "http":{
        "method":"GET",
        "requestUri":"/flows/{flowIdentifier}/executions",
        "responseCode":200
      },
      "input":{"shape":"ListFlowExecutionsRequest"},
      "output":{"shape":"ListFlowExecutionsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists all executions of a flow. Results can be paginated and include summary information about each execution, such as status, start and end times, and the execution's Amazon Resource Name (ARN).</p> <note> <p>Flow executions is in preview release for Amazon Bedrock and is subject to change.</p> </note>"
    },
    "ListInvocationSteps":{
      "name":"ListInvocationSteps",
      "http":{
        "method":"POST",
        "requestUri":"/sessions/{sessionIdentifier}/invocationSteps/",
        "responseCode":200
      },
      "input":{"shape":"ListInvocationStepsRequest"},
      "output":{"shape":"ListInvocationStepsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists all invocation steps associated with a session and optionally, an invocation within the session. For more information about sessions, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/sessions.html\">Store and retrieve conversation history and context with Amazon Bedrock sessions</a>.</p>"
    },
    "ListInvocations":{
      "name":"ListInvocations",
      "http":{
        "method":"POST",
        "requestUri":"/sessions/{sessionIdentifier}/invocations/",
        "responseCode":200
      },
      "input":{"shape":"ListInvocationsRequest"},
      "output":{"shape":"ListInvocationsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists all invocations associated with a specific session. For more information about sessions, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/sessions.html\">Store and retrieve conversation history and context with Amazon Bedrock sessions</a>.</p>"
    },
    "ListSessions":{
      "name":"ListSessions",
      "http":{
        "method":"POST",
        "requestUri":"/sessions/",
        "responseCode":200
      },
      "input":{"shape":"ListSessionsRequest"},
      "output":{"shape":"ListSessionsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists all sessions in your Amazon Web Services account. For more information about sessions, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/sessions.html\">Store and retrieve conversation history and context with Amazon Bedrock sessions</a>.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>List all the tags for the resource you specify.</p>"
    },
    "OptimizePrompt":{
      "name":"OptimizePrompt",
      "http":{
        "method":"POST",
        "requestUri":"/optimize-prompt",
        "responseCode":200
      },
      "input":{"shape":"OptimizePromptRequest"},
      "output":{"shape":"OptimizePromptResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"DependencyFailedException"},
        {"shape":"BadGatewayException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Optimizes a prompt for the task that you specify. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prompt-management-optimize.html\">Optimize a prompt</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>"
    },
    "PutInvocationStep":{
      "name":"PutInvocationStep",
      "http":{
        "method":"PUT",
        "requestUri":"/sessions/{sessionIdentifier}/invocationSteps/",
        "responseCode":201
      },
      "input":{"shape":"PutInvocationStepRequest"},
      "output":{"shape":"PutInvocationStepResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Add an invocation step to an invocation in a session. An invocation step stores fine-grained state checkpoints, including text and images, for each interaction. For more information about sessions, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/sessions.html\">Store and retrieve conversation history and context with Amazon Bedrock sessions</a>.</p> <p>Related APIs:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_GetInvocationStep.html\">GetInvocationStep</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_ListInvocationSteps.html\">ListInvocationSteps</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_ListInvocations.html\">ListInvocations</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_ListInvocations.html\">ListSessions</a> </p> </li> </ul>",
      "idempotent":true
    },
    "Rerank":{
      "name":"Rerank",
      "http":{
        "method":"POST",
        "requestUri":"/rerank",
        "responseCode":200
      },
      "input":{"shape":"RerankRequest"},
      "output":{"shape":"RerankResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"DependencyFailedException"},
        {"shape":"BadGatewayException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Reranks the relevance of sources based on queries. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/rerank.html\">Improve the relevance of query responses with a reranker model</a>.</p>"
    },
    "Retrieve":{
      "name":"Retrieve",
      "http":{
        "method":"POST",
        "requestUri":"/knowledgebases/{knowledgeBaseId}/retrieve",
        "responseCode":200
      },
      "input":{"shape":"RetrieveRequest"},
      "output":{"shape":"RetrieveResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"DependencyFailedException"},
        {"shape":"BadGatewayException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Queries a knowledge base and retrieves information from it.</p>"
    },
    "RetrieveAndGenerate":{
      "name":"RetrieveAndGenerate",
      "http":{
        "method":"POST",
        "requestUri":"/retrieveAndGenerate",
        "responseCode":200
      },
      "input":{"shape":"RetrieveAndGenerateRequest"},
      "output":{"shape":"RetrieveAndGenerateResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"DependencyFailedException"},
        {"shape":"BadGatewayException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Queries a knowledge base and generates responses based on the retrieved results and using the specified foundation model or <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/cross-region-inference.html\">inference profile</a>. The response only cites sources that are relevant to the query.</p>"
    },
    "RetrieveAndGenerateStream":{
      "name":"RetrieveAndGenerateStream",
      "http":{
        "method":"POST",
        "requestUri":"/retrieveAndGenerateStream",
        "responseCode":200
      },
      "input":{"shape":"RetrieveAndGenerateStreamRequest"},
      "output":{"shape":"RetrieveAndGenerateStreamResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"DependencyFailedException"},
        {"shape":"BadGatewayException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Queries a knowledge base and generates responses based on the retrieved results, with output in streaming format.</p> <note> <p>The CLI doesn't support streaming operations in Amazon Bedrock, including <code>InvokeModelWithResponseStream</code>.</p> </note> <p>This operation requires permission for the <code> bedrock:RetrieveAndGenerate</code> action.</p>"
    },
    "StartFlowExecution":{
      "name":"StartFlowExecution",
      "http":{
        "method":"POST",
        "requestUri":"/flows/{flowIdentifier}/aliases/{flowAliasIdentifier}/executions",
        "responseCode":200
      },
      "input":{"shape":"StartFlowExecutionRequest"},
      "output":{"shape":"StartFlowExecutionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"DependencyFailedException"},
        {"shape":"BadGatewayException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Starts an execution of an Amazon Bedrock flow. Unlike flows that run until completion or time out after five minutes, flow executions let you run flows asynchronously for longer durations. Flow executions also yield control so that your application can perform other tasks.</p> <p>This operation returns an Amazon Resource Name (ARN) that you can use to track and manage your flow execution.</p> <note> <p>Flow executions is in preview release for Amazon Bedrock and is subject to change.</p> </note>"
    },
    "StopFlowExecution":{
      "name":"StopFlowExecution",
      "http":{
        "method":"POST",
        "requestUri":"/flows/{flowIdentifier}/aliases/{flowAliasIdentifier}/executions/{executionIdentifier}/stop",
        "responseCode":200
      },
      "input":{"shape":"StopFlowExecutionRequest"},
      "output":{"shape":"StopFlowExecutionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"DependencyFailedException"},
        {"shape":"BadGatewayException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Stops an Amazon Bedrock flow's execution. This operation prevents further processing of the flow and changes the execution status to <code>Aborted</code>.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Associate tags with a resource. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Tagging resources</a> in the Amazon Bedrock User Guide.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Remove tags from a resource.</p>",
      "idempotent":true
    },
    "UpdateSession":{
      "name":"UpdateSession",
      "http":{
        "method":"PUT",
        "requestUri":"/sessions/{sessionIdentifier}/",
        "responseCode":200
      },
      "input":{"shape":"UpdateSessionRequest"},
      "output":{"shape":"UpdateSessionResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates the metadata or encryption settings of a session. For more information about sessions, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/sessions.html\">Store and retrieve conversation history and context with Amazon Bedrock sessions</a>.</p>",
      "idempotent":true
    }
  },
  "shapes":{
    "APISchema":{
      "type":"structure",
      "members":{
        "payload":{
          "shape":"Payload",
          "documentation":"<p> The JSON or YAML-formatted payload defining the OpenAPI schema for the action group. </p>"
        },
        "s3":{
          "shape":"S3Identifier",
          "documentation":"<p> Contains details about the S3 object containing the OpenAPI schema for the action group. </p>"
        }
      },
      "documentation":"<p> Contains details about the OpenAPI schema for the action group. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/agents-api-schema.html\">Action group OpenAPI schemas</a>. You can either include the schema directly in the payload field or you can upload it to an S3 bucket and specify the S3 bucket location in the s3 field. </p>",
      "union":true
    },
    "AWSResourceARN":{
      "type":"string",
      "max":2048,
      "min":0,
      "pattern":"^arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:agent/[0-9a-zA-Z]{10}$"
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "documentation":"<p>The request is denied because of missing access permissions. Check your permissions and retry your request.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "ActionGroupExecutor":{
      "type":"structure",
      "members":{
        "customControl":{
          "shape":"CustomControlMethod",
          "documentation":"<p> To return the action group invocation results directly in the <code>InvokeInlineAgent</code> response, specify <code>RETURN_CONTROL</code>. </p>"
        },
        "lambda":{
          "shape":"LambdaResourceArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the Lambda function containing the business logic that is carried out upon invoking the action. </p>"
        }
      },
      "documentation":"<p> Contains details about the Lambda function containing the business logic that is carried out upon invoking the action or the custom control method for handling the information elicited from the user. </p>",
      "union":true
    },
    "ActionGroupInvocationInput":{
      "type":"structure",
      "members":{
        "actionGroupName":{
          "shape":"ActionGroupName",
          "documentation":"<p>The name of the action group.</p>"
        },
        "apiPath":{
          "shape":"ApiPath",
          "documentation":"<p>The path to the API to call, based off the action group.</p>"
        },
        "executionType":{
          "shape":"ExecutionType",
          "documentation":"<p>How fulfillment of the action is handled. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/action-handle.html\">Handling fulfillment of the action</a>.</p>"
        },
        "function":{
          "shape":"Function",
          "documentation":"<p>The function in the action group to call.</p>"
        },
        "invocationId":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the invocation. Only returned if the <code>executionType</code> is <code>RETURN_CONTROL</code>.</p>"
        },
        "parameters":{
          "shape":"Parameters",
          "documentation":"<p>The parameters in the Lambda input event.</p>"
        },
        "requestBody":{
          "shape":"RequestBody",
          "documentation":"<p>The parameters in the request body for the Lambda input event.</p>"
        },
        "verb":{
          "shape":"Verb",
          "documentation":"<p>The API method being used, based off the action group.</p>"
        }
      },
      "documentation":"<p>Contains information about the action group being invoked. For more information about the possible structures, see the InvocationInput tab in <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/trace-orchestration.html\">OrchestrationTrace</a> in the <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Amazon Bedrock User Guide</a>.</p>"
    },
    "ActionGroupInvocationOutput":{
      "type":"structure",
      "members":{
        "metadata":{
          "shape":"Metadata",
          "documentation":"<p>Contains information about the action group output.</p>"
        },
        "text":{
          "shape":"ActionGroupOutputString",
          "documentation":"<p>The JSON-formatted string returned by the API invoked by the action group.</p>"
        }
      },
      "documentation":"<p>Contains the JSON-formatted string returned by the API invoked by the action group.</p>"
    },
    "ActionGroupName":{
      "type":"string",
      "sensitive":true
    },
    "ActionGroupOutputString":{
      "type":"string",
      "sensitive":true
    },
    "ActionGroupSignature":{
      "type":"string",
      "enum":[
        "AMAZON.UserInput",
        "AMAZON.CodeInterpreter",
        "ANTHROPIC.Computer",
        "ANTHROPIC.Bash",
        "ANTHROPIC.TextEditor"
      ]
    },
    "ActionGroupSignatureParams":{
      "type":"map",
      "key":{"shape":"ActionGroupSignatureParamsKeyString"},
      "value":{"shape":"ActionGroupSignatureParamsValueString"}
    },
    "ActionGroupSignatureParamsKeyString":{
      "type":"string",
      "max":100,
      "min":0
    },
    "ActionGroupSignatureParamsValueString":{
      "type":"string",
      "max":100,
      "min":0
    },
    "ActionInvocationType":{
      "type":"string",
      "enum":[
        "RESULT",
        "USER_CONFIRMATION",
        "USER_CONFIRMATION_AND_RESULT"
      ]
    },
    "AdditionalModelRequestFields":{
      "type":"map",
      "key":{"shape":"AdditionalModelRequestFieldsKey"},
      "value":{"shape":"AdditionalModelRequestFieldsValue"}
    },
    "AdditionalModelRequestFieldsKey":{
      "type":"string",
      "max":100,
      "min":1
    },
    "AdditionalModelRequestFieldsValue":{
      "type":"structure",
      "members":{
      },
      "document":true
    },
    "AgentActionGroup":{
      "type":"structure",
      "required":["actionGroupName"],
      "members":{
        "actionGroupExecutor":{
          "shape":"ActionGroupExecutor",
          "documentation":"<p> The Amazon Resource Name (ARN) of the Lambda function containing the business logic that is carried out upon invoking the action or the custom control method for handling the information elicited from the user. </p>"
        },
        "actionGroupName":{
          "shape":"ResourceName",
          "documentation":"<p> The name of the action group. </p>"
        },
        "apiSchema":{
          "shape":"APISchema",
          "documentation":"<p> Contains either details about the S3 object containing the OpenAPI schema for the action group or the JSON or YAML-formatted payload defining the schema. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/agents-api-schema.html\">Action group OpenAPI schemas</a>. </p>"
        },
        "description":{
          "shape":"ResourceDescription",
          "documentation":"<p> A description of the action group. </p>"
        },
        "functionSchema":{
          "shape":"FunctionSchema",
          "documentation":"<p> Contains details about the function schema for the action group or the JSON or YAML-formatted payload defining the schema. </p>"
        },
        "parentActionGroupSignature":{
          "shape":"ActionGroupSignature",
          "documentation":"<p>Specify a built-in or computer use action for this action group. If you specify a value, you must leave the <code>description</code>, <code>apiSchema</code>, and <code>actionGroupExecutor</code> fields empty for this action group. </p> <ul> <li> <p>To allow your agent to request the user for additional information when trying to complete a task, set this field to <code>AMAZON.UserInput</code>. </p> </li> <li> <p>To allow your agent to generate, run, and troubleshoot code when trying to complete a task, set this field to <code>AMAZON.CodeInterpreter</code>.</p> </li> <li> <p>To allow your agent to use an Anthropic computer use tool, specify one of the following values. </p> <important> <p> Computer use is a new Anthropic Claude model capability (in beta) available with Anthropic Claude 3.7 Sonnet and Claude 3.5 Sonnet v2 only. When operating computer use functionality, we recommend taking additional security precautions, such as executing computer actions in virtual environments with restricted data access and limited internet connectivity. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/agent-computer-use.html\">Configure an Amazon Bedrock Agent to complete tasks with computer use tools</a>. </p> </important> <ul> <li> <p> <code>ANTHROPIC.Computer</code> - Gives the agent permission to use the mouse and keyboard and take screenshots.</p> </li> <li> <p> <code>ANTHROPIC.TextEditor</code> - Gives the agent permission to view, create and edit files.</p> </li> <li> <p> <code>ANTHROPIC.Bash</code> - Gives the agent permission to run commands in a bash shell.</p> </li> </ul> </li> </ul>"
        },
        "parentActionGroupSignatureParams":{
          "shape":"ActionGroupSignatureParams",
          "documentation":"<p> The configuration settings for a computer use action. </p> <important> <p>Computer use is a new Anthropic Claude model capability (in beta) available with Claude 3.7 Sonnet and Claude 3.5 Sonnet v2 only. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/agent-computer-use.html\">Configure an Amazon Bedrock Agent to complete tasks with computer use tools</a>.</p> </important>"
        }
      },
      "documentation":"<p> Contains details of the inline agent's action group. </p>"
    },
    "AgentActionGroups":{
      "type":"list",
      "member":{"shape":"AgentActionGroup"}
    },
    "AgentAliasArn":{
      "type":"string",
      "max":2048,
      "min":0,
      "pattern":"^arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:agent-alias/[0-9a-zA-Z]{10}/[0-9a-zA-Z]{10}$"
    },
    "AgentAliasId":{
      "type":"string",
      "max":10,
      "min":0,
      "pattern":"^[0-9a-zA-Z]+$"
    },
    "AgentCollaboration":{
      "type":"string",
      "enum":[
        "SUPERVISOR",
        "SUPERVISOR_ROUTER",
        "DISABLED"
      ]
    },
    "AgentCollaboratorInputPayload":{
      "type":"structure",
      "members":{
        "returnControlResults":{
          "shape":"ReturnControlResults",
          "documentation":"<p>An action invocation result.</p>"
        },
        "text":{
          "shape":"AgentCollaboratorPayloadString",
          "documentation":"<p>Input text.</p>"
        },
        "type":{
          "shape":"PayloadType",
          "documentation":"<p>The input type.</p>"
        }
      },
      "documentation":"<p>Input for an agent collaborator. The input can be text or an action invocation result.</p>"
    },
    "AgentCollaboratorInvocationInput":{
      "type":"structure",
      "members":{
        "agentCollaboratorAliasArn":{
          "shape":"AgentAliasArn",
          "documentation":"<p>The collaborator's alias ARN.</p>"
        },
        "agentCollaboratorName":{
          "shape":"String",
          "documentation":"<p>The collaborator's name.</p>"
        },
        "input":{
          "shape":"AgentCollaboratorInputPayload",
          "documentation":"<p>Text or action invocation result input for the collaborator.</p>"
        }
      },
      "documentation":"<p>An agent collaborator invocation input.</p>"
    },
    "AgentCollaboratorInvocationOutput":{
      "type":"structure",
      "members":{
        "agentCollaboratorAliasArn":{
          "shape":"AgentAliasArn",
          "documentation":"<p>The output's agent collaborator alias ARN.</p>"
        },
        "agentCollaboratorName":{
          "shape":"String",
          "documentation":"<p>The output's agent collaborator name.</p>"
        },
        "metadata":{
          "shape":"Metadata",
          "documentation":"<p>Contains information about the output from the agent collaborator.</p>"
        },
        "output":{
          "shape":"AgentCollaboratorOutputPayload",
          "documentation":"<p>The output's output.</p>"
        }
      },
      "documentation":"<p>Output from an agent collaborator.</p>"
    },
    "AgentCollaboratorOutputPayload":{
      "type":"structure",
      "members":{
        "returnControlPayload":{
          "shape":"ReturnControlPayload",
          "documentation":"<p>An action invocation result.</p>"
        },
        "text":{
          "shape":"AgentCollaboratorPayloadString",
          "documentation":"<p>Text output.</p>"
        },
        "type":{
          "shape":"PayloadType",
          "documentation":"<p>The type of output.</p>"
        }
      },
      "documentation":"<p>Output from an agent collaborator. The output can be text or an action invocation result.</p>"
    },
    "AgentCollaboratorPayloadString":{
      "type":"string",
      "sensitive":true
    },
    "AgentId":{
      "type":"string",
      "max":10,
      "min":0,
      "pattern":"^[0-9a-zA-Z]+$"
    },
    "AgentVersion":{
      "type":"string",
      "max":5,
      "min":1,
      "pattern":"^(DRAFT|[0-9]{0,4}[1-9][0-9]{0,4})$"
    },
    "AnalyzePromptEvent":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>A message describing the analysis of the prompt.</p>"
        }
      },
      "documentation":"<p>An event in which the prompt was analyzed in preparation for optimization.</p>",
      "event":true,
      "sensitive":true
    },
    "ApiContentMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"PropertyParameters"}
    },
    "ApiInvocationInput":{
      "type":"structure",
      "required":["actionGroup"],
      "members":{
        "actionGroup":{
          "shape":"String",
          "documentation":"<p>The action group that the API operation belongs to.</p>"
        },
        "actionInvocationType":{
          "shape":"ActionInvocationType",
          "documentation":"<p>Contains information about the API operation to invoke.</p>"
        },
        "agentId":{
          "shape":"String",
          "documentation":"<p>The agent's ID.</p>"
        },
        "apiPath":{
          "shape":"ApiPath",
          "documentation":"<p>The path to the API operation.</p>"
        },
        "collaboratorName":{
          "shape":"Name",
          "documentation":"<p>The agent collaborator's name.</p>"
        },
        "httpMethod":{
          "shape":"String",
          "documentation":"<p>The HTTP method of the API operation.</p>"
        },
        "parameters":{
          "shape":"ApiParameters",
          "documentation":"<p>The parameters to provide for the API request, as the agent elicited from the user.</p>"
        },
        "requestBody":{
          "shape":"ApiRequestBody",
          "documentation":"<p>The request body to provide for the API request, as the agent elicited from the user.</p>"
        }
      },
      "documentation":"<p>Contains information about the API operation that the agent predicts should be called.</p> <p>This data type is used in the following API operations:</p> <ul> <li> <p>In the <code>returnControl</code> field of the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html#API_agent-runtime_InvokeAgent_ResponseSyntax\">InvokeAgent response</a> </p> </li> </ul>"
    },
    "ApiParameter":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the parameter.</p>"
        },
        "type":{
          "shape":"String",
          "documentation":"<p>The data type for the parameter.</p>"
        },
        "value":{
          "shape":"String",
          "documentation":"<p>The value of the parameter.</p>"
        }
      },
      "documentation":"<p>Information about a parameter to provide to the API request.</p> <p>This data type is used in the following API operations:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html#API_agent-runtime_InvokeAgent_ResponseSyntax\">InvokeAgent response</a> </p> </li> </ul>"
    },
    "ApiParameters":{
      "type":"list",
      "member":{"shape":"ApiParameter"}
    },
    "ApiPath":{
      "type":"string",
      "sensitive":true
    },
    "ApiRequestBody":{
      "type":"structure",
      "members":{
        "content":{
          "shape":"ApiContentMap",
          "documentation":"<p>The content of the request body. The key of the object in this field is a media type defining the format of the request body.</p>"
        }
      },
      "documentation":"<p>The request body to provide for the API request, as the agent elicited from the user.</p> <p>This data type is used in the following API operations:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html#API_agent-runtime_InvokeAgent_ResponseSyntax\">InvokeAgent response</a> </p> </li> </ul>"
    },
    "ApiResult":{
      "type":"structure",
      "required":["actionGroup"],
      "members":{
        "actionGroup":{
          "shape":"String",
          "documentation":"<p>The action group that the API operation belongs to.</p>"
        },
        "agentId":{
          "shape":"String",
          "documentation":"<p>The agent's ID.</p>"
        },
        "apiPath":{
          "shape":"ApiPath",
          "documentation":"<p>The path to the API operation.</p>"
        },
        "confirmationState":{
          "shape":"ConfirmationState",
          "documentation":"<p>Controls the API operations or functions to invoke based on the user confirmation.</p>"
        },
        "httpMethod":{
          "shape":"String",
          "documentation":"<p>The HTTP method for the API operation.</p>"
        },
        "httpStatusCode":{
          "shape":"Integer",
          "documentation":"<p>http status code from API execution response (for example: 200, 400, 500).</p>"
        },
        "responseBody":{
          "shape":"ResponseBody",
          "documentation":"<p>The response body from the API operation. The key of the object is the content type (currently, only <code>TEXT</code> is supported). The response may be returned directly or from the Lambda function.</p>"
        },
        "responseState":{
          "shape":"ResponseState",
          "documentation":"<p>Controls the final response state returned to end user when API/Function execution failed. When this state is FAILURE, the request would fail with dependency failure exception. When this state is REPROMPT, the API/function response will be sent to model for re-prompt</p>"
        }
      },
      "documentation":"<p>Contains information about the API operation that was called from the action group and the response body that was returned.</p> <p>This data type is used in the following API operations:</p> <ul> <li> <p>In the <code>returnControlInvocationResults</code> of the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html#API_agent-runtime_InvokeAgent_RequestSyntax\">InvokeAgent request</a> </p> </li> </ul>"
    },
    "AttributeType":{
      "type":"string",
      "enum":[
        "STRING",
        "NUMBER",
        "BOOLEAN",
        "STRING_LIST"
      ]
    },
    "Attribution":{
      "type":"structure",
      "members":{
        "citations":{
          "shape":"Citations",
          "documentation":"<p>A list of citations and related information for a part of an agent response.</p>"
        }
      },
      "documentation":"<p>Contains citations for a part of an agent response.</p>"
    },
    "BadGatewayException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"},
        "resourceName":{
          "shape":"NonBlankString",
          "documentation":"<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>"
        }
      },
      "documentation":"<p>There was an issue with a dependency due to a server issue. Retry your request.</p>",
      "error":{"httpStatusCode":502},
      "exception":true,
      "fault":true
    },
    "BasePromptTemplate":{
      "type":"string",
      "max":100000,
      "min":1,
      "sensitive":true
    },
    "BedrockModelArn":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"^(arn:aws(-[^:]+)?:(bedrock|sagemaker):[a-z0-9-]{1,20}:([0-9]{12})?:([a-z-]+/)?)?([a-z0-9.-]{1,63}){0,2}(([:][a-z0-9-]{1,63}){0,2})?(/[a-z0-9]{1,12})?$"
    },
    "BedrockModelConfigurations":{
      "type":"structure",
      "members":{
        "performanceConfig":{
          "shape":"PerformanceConfiguration",
          "documentation":"<p>The performance configuration for the model.</p>"
        }
      },
      "documentation":"<p>Settings for a model called with <a>InvokeAgent</a>.</p>"
    },
    "BedrockRerankingConfiguration":{
      "type":"structure",
      "required":["modelConfiguration"],
      "members":{
        "modelConfiguration":{
          "shape":"BedrockRerankingModelConfiguration",
          "documentation":"<p>Contains configurations for a reranker model.</p>"
        },
        "numberOfResults":{
          "shape":"BedrockRerankingConfigurationNumberOfResultsInteger",
          "documentation":"<p>The number of results to return after reranking.</p>"
        }
      },
      "documentation":"<p>Contains configurations for an Amazon Bedrock reranker model.</p>"
    },
    "BedrockRerankingConfigurationNumberOfResultsInteger":{
      "type":"integer",
      "box":true,
      "max":1000,
      "min":1
    },
    "BedrockRerankingModelArn":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"^(arn:aws(-[^:]+)?:bedrock:[a-z0-9-]{1,20}::foundation-model/(.*))?$"
    },
    "BedrockRerankingModelConfiguration":{
      "type":"structure",
      "required":["modelArn"],
      "members":{
        "additionalModelRequestFields":{
          "shape":"AdditionalModelRequestFields",
          "documentation":"<p>A JSON object whose keys are request fields for the model and whose values are values for those fields.</p>"
        },
        "modelArn":{
          "shape":"BedrockModelArn",
          "documentation":"<p>The ARN of the reranker model.</p>"
        }
      },
      "documentation":"<p>Contains configurations for a reranker model.</p>"
    },
    "BedrockSessionContentBlock":{
      "type":"structure",
      "members":{
        "image":{
          "shape":"ImageBlock",
          "documentation":"<p>The image in the invocation step.</p>"
        },
        "text":{
          "shape":"BedrockSessionContentBlockTextString",
          "documentation":"<p>The text in the invocation step.</p>"
        }
      },
      "documentation":"<p>A block of content that you pass to, or receive from, a Amazon Bedrock session in an invocation step. You pass the content to a session in the <code>payLoad</code> of the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_PutInvocationStep.html\">PutInvocationStep</a> API operation. You retrieve the content with the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_GetInvocationStep.html\">GetInvocationStep</a> API operation.</p> <p>For more information about sessions, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/sessions.html\">Store and retrieve conversation history and context with Amazon Bedrock sessions</a>.</p>",
      "sensitive":true,
      "union":true
    },
    "BedrockSessionContentBlockTextString":{
      "type":"string",
      "min":1
    },
    "BedrockSessionContentBlocks":{
      "type":"list",
      "member":{"shape":"BedrockSessionContentBlock"},
      "min":1
    },
    "Blob":{"type":"blob"},
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "ByteContentBlob":{
      "type":"blob",
      "max":10485760,
      "min":1,
      "sensitive":true
    },
    "ByteContentDoc":{
      "type":"structure",
      "required":[
        "contentType",
        "data",
        "identifier"
      ],
      "members":{
        "contentType":{
          "shape":"ContentType",
          "documentation":"<p>The MIME type of the document contained in the wrapper object.</p>"
        },
        "data":{
          "shape":"ByteContentBlob",
          "documentation":"<p>The byte value of the file to upload, encoded as a Base-64 string.</p>"
        },
        "identifier":{
          "shape":"Identifier",
          "documentation":"<p>The file name of the document contained in the wrapper object.</p>"
        }
      },
      "documentation":"<p>This property contains the document to chat with, along with its attributes.</p>"
    },
    "ByteContentFile":{
      "type":"structure",
      "required":[
        "data",
        "mediaType"
      ],
      "members":{
        "data":{
          "shape":"ByteContentBlob",
          "documentation":"<p>The raw bytes of the file to attach. The maximum size of all files that is attached is 10MB. You can attach a maximum of 5 files. </p>"
        },
        "mediaType":{
          "shape":"MimeType",
          "documentation":"<p>The MIME type of data contained in the file used for chat.</p>"
        }
      },
      "documentation":"<p>The property contains the file to chat with, along with its attributes.</p>"
    },
    "Caller":{
      "type":"structure",
      "members":{
        "agentAliasArn":{
          "shape":"AgentAliasArn",
          "documentation":"<p>The caller's agent alias ARN.</p>"
        }
      },
      "documentation":"<p>Details about a caller.</p>",
      "union":true
    },
    "CallerChain":{
      "type":"list",
      "member":{"shape":"Caller"}
    },
    "Citation":{
      "type":"structure",
      "members":{
        "generatedResponsePart":{
          "shape":"GeneratedResponsePart",
          "documentation":"<p>Contains the generated response and metadata </p>"
        },
        "retrievedReferences":{
          "shape":"RetrievedReferences",
          "documentation":"<p>Contains metadata about the sources cited for the generated response.</p>"
        }
      },
      "documentation":"<p>An object containing a segment of the generated response that is based on a source in the knowledge base, alongside information about the source.</p> <p>This data type is used in the following API operations:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html#API_agent-runtime_InvokeAgent_ResponseSyntax\">InvokeAgent response</a> – in the <code>citations</code> field</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_RetrieveAndGenerate.html#API_agent-runtime_RetrieveAndGenerate_ResponseSyntax\">RetrieveAndGenerate response</a> – in the <code>citations</code> field</p> </li> </ul>"
    },
    "CitationEvent":{
      "type":"structure",
      "members":{
        "citation":{
          "shape":"Citation",
          "documentation":"<p>The citation.</p>",
          "deprecated":true,
          "deprecatedMessage":"Citation is deprecated. Please use GeneratedResponsePart and RetrievedReferences for citation event."
        },
        "generatedResponsePart":{
          "shape":"GeneratedResponsePart",
          "documentation":"<p>The generated response to the citation event.</p>"
        },
        "retrievedReferences":{
          "shape":"RetrievedReferences",
          "documentation":"<p>The retrieved references of the citation event.</p>"
        }
      },
      "documentation":"<p>A citation event.</p>",
      "event":true
    },
    "Citations":{
      "type":"list",
      "member":{"shape":"Citation"}
    },
    "CodeInterpreterInvocationInput":{
      "type":"structure",
      "members":{
        "code":{
          "shape":"String",
          "documentation":"<p>The code for the code interpreter to use.</p>"
        },
        "files":{
          "shape":"Files",
          "documentation":"<p>Files that are uploaded for code interpreter to use.</p>"
        }
      },
      "documentation":"<p>Contains information about the code interpreter being invoked.</p>"
    },
    "CodeInterpreterInvocationOutput":{
      "type":"structure",
      "members":{
        "executionError":{
          "shape":"String",
          "documentation":"<p>Contains the error returned from code execution.</p>"
        },
        "executionOutput":{
          "shape":"String",
          "documentation":"<p>Contains the successful output returned from code execution</p>"
        },
        "executionTimeout":{
          "shape":"Boolean",
          "documentation":"<p>Indicates if the execution of the code timed out.</p>"
        },
        "files":{
          "shape":"Files",
          "documentation":"<p>Contains output files, if generated by code execution.</p>"
        },
        "metadata":{
          "shape":"Metadata",
          "documentation":"<p>Contains information about the output from the code interpreter.</p>"
        }
      },
      "documentation":"<p>Contains the JSON-formatted string returned by the API invoked by the code interpreter.</p>"
    },
    "CollaborationInstruction":{
      "type":"string",
      "max":4000,
      "min":1,
      "sensitive":true
    },
    "Collaborator":{
      "type":"structure",
      "required":[
        "foundationModel",
        "instruction"
      ],
      "members":{
        "actionGroups":{
          "shape":"AgentActionGroups",
          "documentation":"<p> List of action groups with each action group defining tasks the inline collaborator agent needs to carry out. </p>"
        },
        "agentCollaboration":{
          "shape":"AgentCollaboration",
          "documentation":"<p> Defines how the inline supervisor agent handles information across multiple collaborator agents to coordinate a final response. </p>"
        },
        "agentName":{
          "shape":"Name",
          "documentation":"<p> Name of the inline collaborator agent which must be the same name as specified for <code>collaboratorName</code>. </p>"
        },
        "collaboratorConfigurations":{
          "shape":"CollaboratorConfigurations",
          "documentation":"<p> Settings of the collaborator agent. </p>"
        },
        "customerEncryptionKeyArn":{
          "shape":"KmsKeyArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the AWS KMS key that encrypts the inline collaborator. </p>"
        },
        "foundationModel":{
          "shape":"ModelIdentifier",
          "documentation":"<p> The foundation model used by the inline collaborator agent. </p>"
        },
        "guardrailConfiguration":{
          "shape":"GuardrailConfigurationWithArn",
          "documentation":"<p> Details of the guardwrail associated with the inline collaborator. </p>"
        },
        "idleSessionTTLInSeconds":{
          "shape":"SessionTTL",
          "documentation":"<p> The number of seconds for which the Amazon Bedrock keeps information about the user's conversation with the inline collaborator agent.</p> <p>A user interaction remains active for the amount of time specified. If no conversation occurs during this time, the session expires and Amazon Bedrock deletes any data provided before the timeout. </p>"
        },
        "instruction":{
          "shape":"Instruction",
          "documentation":"<p> Instruction that tell the inline collaborator agent what it should do and how it should interact with users. </p>"
        },
        "knowledgeBases":{
          "shape":"KnowledgeBases",
          "documentation":"<p> Knowledge base associated with the inline collaborator agent. </p>"
        },
        "promptOverrideConfiguration":{
          "shape":"PromptOverrideConfiguration",
          "documentation":"<p> Contains configurations to override prompt templates in different parts of an inline collaborator sequence. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/advanced-prompts.html\">Advanced prompts</a>. </p>"
        }
      },
      "documentation":"<p> List of inline collaborators. </p>"
    },
    "CollaboratorConfiguration":{
      "type":"structure",
      "required":[
        "collaboratorInstruction",
        "collaboratorName"
      ],
      "members":{
        "agentAliasArn":{
          "shape":"AgentAliasArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the inline collaborator agent. </p>"
        },
        "collaboratorInstruction":{
          "shape":"CollaborationInstruction",
          "documentation":"<p> Instructions that tell the inline collaborator agent what it should do and how it should interact with users. </p>"
        },
        "collaboratorName":{
          "shape":"Name",
          "documentation":"<p> Name of the inline collaborator agent which must be the same name as specified for <code>agentName</code>. </p>"
        },
        "relayConversationHistory":{
          "shape":"RelayConversationHistory",
          "documentation":"<p> A relay conversation history for the inline collaborator agent. </p>"
        }
      },
      "documentation":"<p> Settings of an inline collaborator agent. </p>"
    },
    "CollaboratorConfigurations":{
      "type":"list",
      "member":{"shape":"CollaboratorConfiguration"}
    },
    "Collaborators":{
      "type":"list",
      "member":{"shape":"Collaborator"}
    },
    "ConditionResultEvent":{
      "type":"structure",
      "required":[
        "nodeName",
        "satisfiedConditions",
        "timestamp"
      ],
      "members":{
        "nodeName":{
          "shape":"NodeName",
          "documentation":"<p>The name of the condition node that evaluated the conditions.</p>"
        },
        "satisfiedConditions":{
          "shape":"SatisfiedConditions",
          "documentation":"<p>A list of conditions that were satisfied during the evaluation.</p>"
        },
        "timestamp":{
          "shape":"DateTimestamp",
          "documentation":"<p>The timestamp when the condition evaluation occurred.</p>"
        }
      },
      "documentation":"<p>Contains information about a condition evaluation result during a flow execution. This event is generated when a condition node in the flow evaluates its conditions.</p> <note> <p>Flow executions is in preview release for Amazon Bedrock and is subject to change.</p> </note>",
      "sensitive":true
    },
    "ConfirmationState":{
      "type":"string",
      "enum":[
        "CONFIRM",
        "DENY"
      ]
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "documentation":"<p>There was a conflict performing an operation. Resolve the conflict and retry your request.</p>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "ContentBlock":{
      "type":"structure",
      "members":{
        "text":{
          "shape":"String",
          "documentation":"<p>The block's text.</p>"
        }
      },
      "documentation":"<p>A content block.</p>",
      "sensitive":true,
      "union":true
    },
    "ContentBlocks":{
      "type":"list",
      "member":{"shape":"ContentBlock"}
    },
    "ContentBody":{
      "type":"structure",
      "members":{
        "body":{
          "shape":"String",
          "documentation":"<p>The body of the API response.</p>"
        },
        "images":{
          "shape":"ImageInputs",
          "documentation":"<p>Lists details, including format and source, for the image in the response from the function call. You can specify only one image and the function in the <code>returnControlInvocationResults</code> must be a computer use action. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/agent-computer-use.html\">Configure an Amazon Bedrock Agent to complete tasks with computer use tools</a>. </p>"
        }
      },
      "documentation":"<p>Contains the body of the API response.</p> <p>This data type is used in the following API operations:</p> <ul> <li> <p>In the <code>returnControlInvocationResults</code> field of the <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html#API_agent-runtime_InvokeAgent_RequestSyntax\">InvokeAgent request</a> </p> </li> </ul>"
    },
    "ContentMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"Parameters"}
    },
    "ContentType":{
      "type":"string",
      "pattern":"[a-z]{1,20}/.{1,20}"
    },
    "ConversationHistory":{
      "type":"structure",
      "members":{
        "messages":{
          "shape":"Messages",
          "documentation":"<p>The conversation's messages.</p>"
        }
      },
      "documentation":"<p>A conversation history.</p>"
    },
    "ConversationRole":{
      "type":"string",
      "enum":[
        "user",
        "assistant"
      ]
    },
    "CreateInvocationRequest":{
      "type":"structure",
      "required":["sessionIdentifier"],
      "members":{
        "description":{
          "shape":"InvocationDescription",
          "documentation":"<p>A description for the interactions in the invocation. For example, \"User asking about weather in Seattle\".</p>"
        },
        "invocationId":{
          "shape":"Uuid",
          "documentation":"<p>A unique identifier for the invocation in UUID format.</p>"
        },
        "sessionIdentifier":{
          "shape":"SessionIdentifier",
          "documentation":"<p>The unique identifier for the associated session for the invocation. You can specify either the session's <code>sessionId</code> or its Amazon Resource Name (ARN). </p>",
          "location":"uri",
          "locationName":"sessionIdentifier"
        }
      }
    },
    "CreateInvocationResponse":{
      "type":"structure",
      "required":[
        "createdAt",
        "invocationId",
        "sessionId"
      ],
      "members":{
        "createdAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The timestamp for when the invocation was created.</p>"
        },
        "invocationId":{
          "shape":"Uuid",
          "documentation":"<p>The unique identifier for the invocation.</p>"
        },
        "sessionId":{
          "shape":"Uuid",
          "documentation":"<p>The unique identifier for the session associated with the invocation.</p>"
        }
      }
    },
    "CreateSessionRequest":{
      "type":"structure",
      "members":{
        "encryptionKeyArn":{
          "shape":"KmsKeyArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the KMS key to use to encrypt the session data. The user or role creating the session must have permission to use the key. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/session-encryption.html\">Amazon Bedrock session encryption</a>. </p>"
        },
        "sessionMetadata":{
          "shape":"SessionMetadataMap",
          "documentation":"<p>A map of key-value pairs containing attributes to be persisted across the session. For example, the user's ID, their language preference, and the type of device they are using.</p>"
        },
        "tags":{
          "shape":"TagsMap",
          "documentation":"<p>Specify the key-value pairs for the tags that you want to attach to the session.</p>"
        }
      }
    },
    "CreateSessionResponse":{
      "type":"structure",
      "required":[
        "createdAt",
        "sessionArn",
        "sessionId",
        "sessionStatus"
      ],
      "members":{
        "createdAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The timestamp for when the session was created.</p>"
        },
        "sessionArn":{
          "shape":"SessionArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the created session.</p>"
        },
        "sessionId":{
          "shape":"Uuid",
          "documentation":"<p>The unique identifier for the session.</p>"
        },
        "sessionStatus":{
          "shape":"SessionStatus",
          "documentation":"<p>The current status of the session.</p>"
        }
      }
    },
    "CreationMode":{
      "type":"string",
      "enum":[
        "DEFAULT",
        "OVERRIDDEN"
      ]
    },
    "CustomControlMethod":{
      "type":"string",
      "enum":["RETURN_CONTROL"]
    },
    "CustomOrchestration":{
      "type":"structure",
      "members":{
        "executor":{
          "shape":"OrchestrationExecutor",
          "documentation":"<p>The structure of the executor invoking the actions in custom orchestration. </p>"
        }
      },
      "documentation":"<p>Contains details of the custom orchestration configured for the agent. </p>"
    },
    "CustomOrchestrationTrace":{
      "type":"structure",
      "members":{
        "event":{
          "shape":"CustomOrchestrationTraceEvent",
          "documentation":"<p> The event details used with the custom orchestration. </p>"
        },
        "traceId":{
          "shape":"TraceId",
          "documentation":"<p> The unique identifier of the trace. </p>"
        }
      },
      "documentation":"<p> The trace behavior for the custom orchestration. </p>",
      "sensitive":true
    },
    "CustomOrchestrationTraceEvent":{
      "type":"structure",
      "members":{
        "text":{
          "shape":"String",
          "documentation":"<p> The text that prompted the event at this step. </p>"
        }
      },
      "documentation":"<p> The event in the custom orchestration sequence. Events are the responses which the custom orchestration Lambda function sends as response to the agent. </p>",
      "sensitive":true
    },
    "DateTimestamp":{
      "type":"timestamp",
      "documentation":"<p>Time Stamp.</p>",
      "timestampFormat":"iso8601"
    },
    "DeleteAgentMemoryRequest":{
      "type":"structure",
      "required":[
        "agentAliasId",
        "agentId"
      ],
      "members":{
        "agentAliasId":{
          "shape":"AgentAliasId",
          "documentation":"<p>The unique identifier of an alias of an agent.</p>",
          "location":"uri",
          "locationName":"agentAliasId"
        },
        "agentId":{
          "shape":"AgentId",
          "documentation":"<p>The unique identifier of the agent to which the alias belongs.</p>",
          "location":"uri",
          "locationName":"agentId"
        },
        "memoryId":{
          "shape":"MemoryId",
          "documentation":"<p>The unique identifier of the memory.</p>",
          "location":"querystring",
          "locationName":"memoryId"
        },
        "sessionId":{
          "shape":"SessionId",
          "documentation":"<p>The unique session identifier of the memory.</p>",
          "location":"querystring",
          "locationName":"sessionId"
        }
      }
    },
    "DeleteAgentMemoryResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteSessionRequest":{
      "type":"structure",
      "required":["sessionIdentifier"],
      "members":{
        "sessionIdentifier":{
          "shape":"SessionIdentifier",
          "documentation":"<p>The unique identifier for the session to be deleted. You can specify either the session's <code>sessionId</code> or its Amazon Resource Name (ARN).</p>",
          "location":"uri",
          "locationName":"sessionIdentifier"
        }
      }
    },
    "DeleteSessionResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DependencyFailedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"},
        "resourceName":{
          "shape":"NonBlankString",
          "documentation":"<p>The name of the dependency that caused the issue, such as Amazon Bedrock, Lambda, or STS.</p>"
        }
      },
      "documentation":"<p>There was an issue with a dependency. Check the resource configurations and retry the request.</p>",
      "error":{
        "httpStatusCode":424,
        "senderFault":true
      },
      "exception":true
    },
    "Document":{
      "type":"structure",
      "members":{
      },
      "document":true
    },
    "Double":{
      "type":"double",
      "box":true
    },
    "EndSessionRequest":{
      "type":"structure",
      "required":["sessionIdentifier"],
      "members":{
        "sessionIdentifier":{
          "shape":"SessionIdentifier",
          "documentation":"<p>The unique identifier for the session to end. You can specify either the session's <code>sessionId</code> or its Amazon Resource Name (ARN).</p>",
          "location":"uri",
          "locationName":"sessionIdentifier"
        }
      }
    },
    "EndSessionResponse":{
      "type":"structure",
      "required":[
        "sessionArn",
        "sessionId",
        "sessionStatus"
      ],
      "members":{
        "sessionArn":{
          "shape":"SessionArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the session you ended.</p>"
        },
        "sessionId":{
          "shape":"Uuid",
          "documentation":"<p>The unique identifier of the session you ended.</p>"
        },
        "sessionStatus":{
          "shape":"SessionStatus",
          "documentation":"<p>The current status of the session you ended.</p>"
        }
      }
    },
    "ExecutionType":{
      "type":"string",
      "enum":[
        "LAMBDA",
        "RETURN_CONTROL"
      ]
    },
    "ExternalSource":{
      "type":"structure",
      "required":["sourceType"],
      "members":{
        "byteContent":{
          "shape":"ByteContentDoc",
          "documentation":"<p>The identifier, contentType, and data of the external source wrapper object.</p>"
        },
        "s3Location":{
          "shape":"S3ObjectDoc",
          "documentation":"<p>The S3 location of the external source wrapper object.</p>"
        },
        "sourceType":{
          "shape":"ExternalSourceType",
          "documentation":"<p>The source type of the external source wrapper object.</p>"
        }
      },
      "documentation":"<p>The unique external source of the content contained in the wrapper object.</p>"
    },
    "ExternalSourceType":{
      "type":"string",
      "enum":[
        "S3",
        "BYTE_CONTENT"
      ]
    },
    "ExternalSources":{
      "type":"list",
      "member":{"shape":"ExternalSource"},
      "max":1,
      "min":1
    },
    "ExternalSourcesGenerationConfiguration":{
      "type":"structure",
      "members":{
        "additionalModelRequestFields":{
          "shape":"AdditionalModelRequestFields",
          "documentation":"<p> Additional model parameters and their corresponding values not included in the textInferenceConfig structure for an external source. Takes in custom model parameters specific to the language model being used. </p>"
        },
        "guardrailConfiguration":{
          "shape":"GuardrailConfiguration",
          "documentation":"<p>The configuration details for the guardrail.</p>"
        },
        "inferenceConfig":{
          "shape":"InferenceConfig",
          "documentation":"<p> Configuration settings for inference when using RetrieveAndGenerate to generate responses while using an external source.</p>"
        },
        "performanceConfig":{
          "shape":"PerformanceConfiguration",
          "documentation":"<p>The latency configuration for the model.</p>"
        },
        "promptTemplate":{
          "shape":"PromptTemplate",
          "documentation":"<p>Contain the textPromptTemplate string for the external source wrapper object.</p>"
        }
      },
      "documentation":"<p>Contains the generation configuration of the external source wrapper object.</p>"
    },
    "ExternalSourcesRetrieveAndGenerateConfiguration":{
      "type":"structure",
      "required":[
        "modelArn",
        "sources"
      ],
      "members":{
        "generationConfiguration":{
          "shape":"ExternalSourcesGenerationConfiguration",
          "documentation":"<p>The prompt used with the external source wrapper object with the <code>retrieveAndGenerate</code> function.</p>"
        },
        "modelArn":{
          "shape":"BedrockModelArn",
          "documentation":"<p>The model Amazon Resource Name (ARN) for the external source wrapper object in the <code>retrieveAndGenerate</code> function.</p>"
        },
        "sources":{
          "shape":"ExternalSources",
          "documentation":"<p>The document for the external source wrapper object in the <code>retrieveAndGenerate</code> function.</p>"
        }
      },
      "documentation":"<p>The configurations of the external source wrapper object in the <code>retrieveAndGenerate</code> function.</p>"
    },
    "FailureReasonString":{
      "type":"string",
      "sensitive":true
    },
    "FailureTrace":{
      "type":"structure",
      "members":{
        "failureCode":{
          "shape":"Integer",
          "documentation":"<p>The failure code for the trace.</p>"
        },
        "failureReason":{
          "shape":"FailureReasonString",
          "documentation":"<p>The reason the interaction failed.</p>"
        },
        "metadata":{
          "shape":"Metadata",
          "documentation":"<p>Information about the failure that occurred.</p>"
        },
        "traceId":{
          "shape":"TraceId",
          "documentation":"<p>The unique identifier of the trace.</p>"
        }
      },
      "documentation":"<p>Contains information about the failure of the interaction.</p>",
      "sensitive":true
    },
    "FieldForReranking":{
      "type":"structure",
      "required":["fieldName"],
      "members":{
        "fieldName":{
          "shape":"FieldForRerankingFieldNameString",
          "documentation":"<p>The name of a metadata field to include in or exclude from consideration when reranking.</p>"
        }
      },
      "documentation":"<p>Contains information for a metadata field to include in or exclude from consideration when reranking.</p>"
    },
    "FieldForRerankingFieldNameString":{
      "type":"string",
      "max":2000,
      "min":1
    },
    "FieldsForReranking":{
      "type":"list",
      "member":{"shape":"FieldForReranking"},
      "max":100,
      "min":1,
      "sensitive":true
    },
    "FileBody":{
      "type":"blob",
      "max":1000000,
      "min":0,
      "sensitive":true
    },
    "FilePart":{
      "type":"structure",
      "members":{
        "files":{
          "shape":"OutputFiles",
          "documentation":"<p>Files containing intermediate response for the user.</p>"
        }
      },
      "documentation":"<p>Contains intermediate response for code interpreter if any files have been generated.</p>",
      "event":true
    },
    "FileSource":{
      "type":"structure",
      "required":["sourceType"],
      "members":{
        "byteContent":{
          "shape":"ByteContentFile",
          "documentation":"<p>The data and the text of the attached files.</p>"
        },
        "s3Location":{
          "shape":"S3ObjectFile",
          "documentation":"<p>The s3 location of the files to attach.</p>"
        },
        "sourceType":{
          "shape":"FileSourceType",
          "documentation":"<p>The source type of the files to attach.</p>"
        }
      },
      "documentation":"<p>The source file of the content contained in the wrapper object.</p>"
    },
    "FileSourceType":{
      "type":"string",
      "enum":[
        "S3",
        "BYTE_CONTENT"
      ]
    },
    "FileUseCase":{
      "type":"string",
      "enum":[
        "CODE_INTERPRETER",
        "CHAT"
      ]
    },
    "Files":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "FilterAttribute":{
      "type":"structure",
      "required":[
        "key",
        "value"
      ],
      "members":{
        "key":{
          "shape":"FilterKey",
          "documentation":"<p>The name that the metadata attribute must match.</p>"
        },
        "value":{
          "shape":"FilterValue",
          "documentation":"<p>The value to whcih to compare the value of the metadata attribute.</p>"
        }
      },
      "documentation":"<p>Specifies the name that the metadata attribute must match and the value to which to compare the value of the metadata attribute. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/kb-test-config.html\">Query configurations</a>.</p> <p>This data type is used in the following API operations:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_RetrieveAndGenerate.html#API_agent-runtime_RetrieveAndGenerate_RequestSyntax\">RetrieveAndGenerate request</a> </p> </li> </ul>"
    },
    "FilterKey":{
      "type":"string",
      "max":100,
      "min":1
    },
    "FilterValue":{
      "type":"structure",
      "members":{
      },
      "document":true
    },
    "FinalResponse":{
      "type":"structure",
      "members":{
        "metadata":{
          "shape":"Metadata",
          "documentation":"<p>Contains information about the invoke agent operation.</p>"
        },
        "text":{
          "shape":"FinalResponseString",
          "documentation":"<p>The text in the response to the user.</p>"
        }
      },
      "documentation":"<p>Contains details about the response to the user.</p>"
    },
    "FinalResponseString":{
      "type":"string",
      "sensitive":true
    },
    "Float":{
      "type":"float",
      "box":true
    },
    "FlowAliasIdentifier":{
      "type":"string",
      "max":2048,
      "min":0,
      "pattern":"^(arn:aws:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:flow/[0-9a-zA-Z]{10}/alias/[0-9a-zA-Z]{10})|(\\bTSTALIASID\\b|[0-9a-zA-Z]+)$"
    },
    "FlowCompletionEvent":{
      "type":"structure",
      "required":["completionReason"],
      "members":{
        "completionReason":{
          "shape":"FlowCompletionReason",
          "documentation":"<p>The reason that the flow completed.</p>"
        }
      },
      "documentation":"<p>Contains information about why a flow completed.</p>",
      "event":true,
      "sensitive":true
    },
    "FlowCompletionReason":{
      "type":"string",
      "enum":[
        "SUCCESS",
        "INPUT_REQUIRED"
      ]
    },
    "FlowErrorCode":{
      "type":"string",
      "enum":[
        "VALIDATION",
        "INTERNAL_SERVER",
        "NODE_EXECUTION_FAILED"
      ]
    },
    "FlowExecutionContent":{
      "type":"structure",
      "members":{
        "document":{
          "shape":"Document",
          "documentation":"<p>The document content of the field, which can contain text or structured data.</p>"
        }
      },
      "documentation":"<p>Contains the content of an flow execution input or output field.</p> <note> <p>Flow executions is in preview release for Amazon Bedrock and is subject to change.</p> </note>",
      "sensitive":true,
      "union":true
    },
    "FlowExecutionError":{
      "type":"structure",
      "members":{
        "error":{
          "shape":"FlowExecutionErrorType",
          "documentation":"<p>The error code for the type of error that occurred.</p>"
        },
        "message":{
          "shape":"String",
          "documentation":"<p>A descriptive message that provides details about the error.</p>"
        },
        "nodeName":{
          "shape":"NodeName",
          "documentation":"<p>The name of the node in the flow where the error occurred (if applicable).</p>"
        }
      },
      "documentation":"<p>Contains information about an error that occurred during an flow execution.</p> <note> <p>Flow executions is in preview release for Amazon Bedrock and is subject to change.</p> </note>"
    },
    "FlowExecutionErrorType":{
      "type":"string",
      "enum":["ExecutionTimedOut"]
    },
    "FlowExecutionErrors":{
      "type":"list",
      "member":{"shape":"FlowExecutionError"}
    },
    "FlowExecutionEvent":{
      "type":"structure",
      "members":{
        "conditionResultEvent":{
          "shape":"ConditionResultEvent",
          "documentation":"<p>Contains information about a condition evaluation result during the flow execution. This event is generated when a condition node in the flow evaluates its conditions.</p>"
        },
        "flowFailureEvent":{
          "shape":"FlowFailureEvent",
          "documentation":"<p>Contains information about a failure that occurred at the flow level during execution.</p>"
        },
        "flowInputEvent":{
          "shape":"FlowExecutionInputEvent",
          "documentation":"<p>Contains information about the inputs provided to the flow at the start of execution.</p>"
        },
        "flowOutputEvent":{
          "shape":"FlowExecutionOutputEvent",
          "documentation":"<p>Contains information about the outputs produced by the flow at the end of execution.</p>"
        },
        "nodeFailureEvent":{
          "shape":"NodeFailureEvent",
          "documentation":"<p>Contains information about a failure that occurred at a specific node during execution.</p>"
        },
        "nodeInputEvent":{
          "shape":"NodeInputEvent",
          "documentation":"<p>Contains information about the inputs provided to a specific node during execution.</p>"
        },
        "nodeOutputEvent":{
          "shape":"NodeOutputEvent",
          "documentation":"<p>Contains information about the outputs produced by a specific node during execution.</p>"
        }
      },
      "documentation":"<p>Represents an event that occurred during an flow execution. This is a union type that can contain one of several event types, such as node input and output events; flow input and output events; condition node result events, or failure events.</p> <note> <p>Flow executions is in preview release for Amazon Bedrock and is subject to change.</p> </note>",
      "union":true
    },
    "FlowExecutionEventType":{
      "type":"string",
      "enum":[
        "Node",
        "Flow"
      ]
    },
    "FlowExecutionEvents":{
      "type":"list",
      "member":{"shape":"FlowExecutionEvent"},
      "max":10,
      "min":0
    },
    "FlowExecutionId":{
      "type":"string",
      "max":100,
      "min":2,
      "pattern":"^[0-9a-zA-Z._:-]+$"
    },
    "FlowExecutionIdentifier":{
      "type":"string",
      "max":2048,
      "min":0,
      "pattern":"^[a-zA-Z0-9-]{1,36}$|^(arn:aws:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:flow/[0-9a-zA-Z]{10}/alias/[0-9a-zA-Z]{10}/execution/[a-zA-Z0-9-]{1,36})$"
    },
    "FlowExecutionInputEvent":{
      "type":"structure",
      "required":[
        "fields",
        "nodeName",
        "timestamp"
      ],
      "members":{
        "fields":{
          "shape":"FlowInputFields",
          "documentation":"<p>A list of input fields provided to the flow.</p>"
        },
        "nodeName":{
          "shape":"NodeName",
          "documentation":"<p>The name of the node that receives the inputs.</p>"
        },
        "timestamp":{
          "shape":"DateTimestamp",
          "documentation":"<p>The timestamp when the inputs are provided.</p>"
        }
      },
      "documentation":"<p>Contains information about the inputs provided to the flow at the start of a flow execution.</p> <note> <p>Flow executions is in preview release for Amazon Bedrock and is subject to change.</p> </note>",
      "sensitive":true
    },
    "FlowExecutionName":{
      "type":"string",
      "max":36,
      "min":0,
      "pattern":"^[a-zA-Z0-9-]{1,36}$"
    },
    "FlowExecutionOutputEvent":{
      "type":"structure",
      "required":[
        "fields",
        "nodeName",
        "timestamp"
      ],
      "members":{
        "fields":{
          "shape":"FlowOutputFields",
          "documentation":"<p>A list of output fields produced by the flow.</p>"
        },
        "nodeName":{
          "shape":"NodeName",
          "documentation":"<p>The name of the node that produces the outputs.</p>"
        },
        "timestamp":{
          "shape":"DateTimestamp",
          "documentation":"<p>The timestamp when the outputs are produced.</p>"
        }
      },
      "documentation":"<p>Contains information about the outputs produced by the flow during a flow execution.</p> <note> <p>Flow executions is in preview release for Amazon Bedrock and is subject to change.</p> </note>",
      "sensitive":true
    },
    "FlowExecutionRoleArn":{
      "type":"string",
      "max":2048,
      "min":0,
      "pattern":"^arn:aws(-[^:]+)?:iam::([0-9]{12})?:role/(service-role/)?.+$"
    },
    "FlowExecutionStatus":{
      "type":"string",
      "enum":[
        "Running",
        "Succeeded",
        "Failed",
        "TimedOut",
        "Aborted"
      ]
    },
    "FlowExecutionSummaries":{
      "type":"list",
      "member":{"shape":"FlowExecutionSummary"},
      "max":10,
      "min":0
    },
    "FlowExecutionSummary":{
      "type":"structure",
      "required":[
        "createdAt",
        "executionArn",
        "flowAliasIdentifier",
        "flowIdentifier",
        "flowVersion",
        "status"
      ],
      "members":{
        "createdAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The timestamp when the flow execution was created.</p>"
        },
        "endedAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The timestamp when the flow execution ended. This field is only populated when the execution has completed, failed, timed out, or been aborted.</p>"
        },
        "executionArn":{
          "shape":"FlowExecutionIdentifier",
          "documentation":"<p>The Amazon Resource Name (ARN) that uniquely identifies the flow execution.</p>"
        },
        "flowAliasIdentifier":{
          "shape":"FlowAliasIdentifier",
          "documentation":"<p>The unique identifier of the flow alias used for the execution.</p>"
        },
        "flowIdentifier":{
          "shape":"FlowIdentifier",
          "documentation":"<p>The unique identifier of the flow.</p>"
        },
        "flowVersion":{
          "shape":"Version",
          "documentation":"<p>The version of the flow used for the execution.</p>"
        },
        "status":{
          "shape":"FlowExecutionStatus",
          "documentation":"<p>The current status of the flow execution.</p> <p>Flow executions time out after 24 hours.</p>"
        }
      },
      "documentation":"<p>Contains summary information about a flow execution, including its status, timestamps, and identifiers.</p> <note> <p>Flow executions is in preview release for Amazon Bedrock and is subject to change.</p> </note>"
    },
    "FlowFailureEvent":{
      "type":"structure",
      "required":[
        "errorCode",
        "errorMessage",
        "timestamp"
      ],
      "members":{
        "errorCode":{
          "shape":"FlowErrorCode",
          "documentation":"<p>The error code that identifies the type of failure that occurred.</p>"
        },
        "errorMessage":{
          "shape":"String",
          "documentation":"<p>A descriptive message that provides details about the failure.</p>"
        },
        "timestamp":{
          "shape":"DateTimestamp",
          "documentation":"<p>The timestamp when the failure occurred.</p>"
        }
      },
      "documentation":"<p>Contains information about a failure that occurred at the flow level during a flow execution.</p> <note> <p>Flow executions is in preview release for Amazon Bedrock and is subject to change.</p> </note>",
      "sensitive":true
    },
    "FlowIdentifier":{
      "type":"string",
      "max":2048,
      "min":0,
      "pattern":"^(arn:aws:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:flow/[0-9a-zA-Z]{10})|([0-9a-zA-Z]{10})$"
    },
    "FlowInput":{
      "type":"structure",
      "required":[
        "content",
        "nodeName"
      ],
      "members":{
        "content":{
          "shape":"FlowInputContent",
          "documentation":"<p>Contains information about an input into the prompt flow.</p>"
        },
        "nodeInputName":{
          "shape":"NodeInputName",
          "documentation":"<p>The name of the input from the flow input node.</p>"
        },
        "nodeName":{
          "shape":"NodeName",
          "documentation":"<p>The name of the flow input node that begins the prompt flow.</p>"
        },
        "nodeOutputName":{
          "shape":"NodeOutputName",
          "documentation":"<p>The name of the output from the flow input node that begins the prompt flow.</p>"
        }
      },
      "documentation":"<p>Contains information about an input into the prompt flow and where to send it.</p>"
    },
    "FlowInputContent":{
      "type":"structure",
      "members":{
        "document":{
          "shape":"Document",
          "documentation":"<p>The input to send to the prompt flow input node.</p>"
        }
      },
      "documentation":"<p>Contains information about an input into the flow.</p>",
      "sensitive":true,
      "union":true
    },
    "FlowInputField":{
      "type":"structure",
      "required":[
        "content",
        "name"
      ],
[...]
