/* Koenig overrides for dark theme
/* -------------------------------------------------------------------- */


/* Action bar */

.kg-action-bar {
    background: var(--whitegrey-l2);
    border: 1px solid var(--whitegrey-l2);
}

.kg-action-bar:after {
    border-top-color: var(--whitegrey-l2);
}

.kg-action-bar:before {
    position: absolute;
    top: 36px;
    left: calc(50% - 10px);
    width: 0;
    border-top: 10px solid var(--whitegrey-l2);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    content: "";
    font-size: 0;
    line-height: 0;
}

.kg-action-bar-divider {
    background: color-mod(var(--lightgrey) l(+5%));;
}

.kg-action-bar .fill-white g,
.kg-action-bar .fill-white path {
    fill: var(--darkgrey);
}

.kg-action-bar .fill-white-no-conflict g,
.kg-action-bar .fill-white-no-conflict path {
    fill: #fff;
}


/* Card styles */

.koenig-editor__editor pre {
    border: none;
}

.kg-input-bar:after {
    border-top-color: var(--lightgrey);
}

.kg-link-toolbar {
    background: var(--lightgrey);
}

.kg-link-toolbar a {
    color: var(--middarkgrey);
}

.kg-link-toolbar svg g,
.kg-link-toolbar svg path {
    fill: var(--middarkgrey);
}
