/* Content Styles
/*
/* We use only margin-top to set the vertical spacings. The styles below
/* set up the margin for content pairs (e.g. paragraph preceded by a heading).
/* -------------------------------------------------------------------- */

/* Global Koenig content styles
/* -------------------------------------------------------------------- */
.koenig-editor__editor {
    font-family: var(--font-family);
    font-size: 1.7rem;
    font-weight: 300;
    letter-spacing: 0.1px;
    color: var(--darkgrey);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

.koenig-editor__editor.__has-no-content:after,
.koenig-text-replacement-html-input__editor.__has-no-content:after,
.koenig-basic-html-textarea__editor.__has-no-content:after {
    font-family: georgia,serif;
    font-weight: 300;
    letter-spacing: .02rem;
    line-height: 1.6em;
    font-size: 2rem;
    color: var(--midgrey-l2);
}

.koenig-editor__editor video {
    max-width: 100%;
}

/* Reset margins */

.koenig-editor__editor p,
.koenig-editor__editor h1,
.koenig-editor__editor h2,
.koenig-editor__editor h3,
.koenig-editor__editor h4,
.koenig-editor__editor h5,
.koenig-editor__editor h6,
.koenig-editor__editor blockquote,
.koenig-editor__editor aside {
    margin: 1.6rem 0 0;
    min-width: 100%;
    max-width: 100%;
}


/* Heading
/* -------------------------------------------------------------------- */

.koenig-editor__editor h1,
.koenig-editor__editor h2,
.koenig-editor__editor h3,
.koenig-editor__editor h4,
.koenig-editor__editor h5,
.koenig-editor__editor h6 {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    font-weight: 700;
    color: var(--black);
}

.koenig-editor__editor h1 strong,
.koenig-editor__editor h2 strong,
.koenig-editor__editor h3 strong,
.koenig-editor__editor h4 strong,
.koenig-editor__editor h5 strong,
.koenig-editor__editor h6 strong {
    font-weight: 800;
}

/* H1 should be almost the same size as the post title to suggest avoid using it */
.koenig-editor__editor h1 {
    font-size: 4.4rem;
    line-height: 1.15em;
    letter-spacing: -0.015em;
}

.koenig-editor__editor h2 {
    font-size: 3.2rem;
    line-height: 1.2em;
    letter-spacing: -0.014em;
}

.koenig-editor__editor h3 {
    font-size: 2.5rem;
    line-height: 1.3em;
    letter-spacing: -0.013em;
}

/* H4 is almost the same size as H3 to discourage using it */
.koenig-editor__editor h4 {
    font-size: 2.2rem;
    line-height: 1.35em;
    letter-spacing: -0.011em;
}

.koenig-editor__editor h5 {
    font-size: 2.0rem;
    line-height: 1.35em;
    font-weight: 700;
    letter-spacing: -0.011em;
}

.koenig-editor__editor h6 {
    font-size: 1.85rem;
    line-height: 1.4em;
    font-weight: 700;
    letter-spacing: -0.008em;
}

.koenig-editor__editor p + h1,
.koenig-editor__editor p + h2,
.koenig-editor__editor p + h3,
.koenig-editor__editor p + h4,
.koenig-editor__editor p + h5,
.koenig-editor__editor p + h6,

.koenig-editor__editor blockquote + h1,
.koenig-editor__editor blockquote + h2,
.koenig-editor__editor blockquote + h3,
.koenig-editor__editor blockquote + h4,
.koenig-editor__editor blockquote + h5,
.koenig-editor__editor blockquote + h6,

.koenig-editor__editor aside + h1,
.koenig-editor__editor aside + h2,
.koenig-editor__editor aside + h3,
.koenig-editor__editor aside + h4,
.koenig-editor__editor aside + h5,
.koenig-editor__editor aside + h6,

.koenig-editor__editor ul + h1,
.koenig-editor__editor ul + h2,
.koenig-editor__editor ul + h3,
.koenig-editor__editor ul + h4,
.koenig-editor__editor ul + h5,
.koenig-editor__editor ul + h6,

.koenig-editor__editor ol + h1,
.koenig-editor__editor ol + h2,
.koenig-editor__editor ol + h3,
.koenig-editor__editor ol + h4,
.koenig-editor__editor ol + h5,
.koenig-editor__editor ol + h6 {
    margin: 4.8rem 0 0;
}

/* Heading 1 vertical rhythm */

.koenig-editor__editor h1 + h1 {
    margin: 1.4rem 0 0;
}

.koenig-editor__editor h2 + h1,
.koenig-editor__editor h3 + h1 {
    margin: 1.0rem 0 0;
}

.koenig-editor__editor h4 + h1,
.koenig-editor__editor h5 + h1 {
    margin: 0.8rem 0 0;
}

.koenig-editor__editor h6 + h1 {
    margin: 0.6rem 0 0;
}

.koenig-editor__editor div + h1 {
    margin: 4.8rem 0 0;
}


/* Heading 2 */

.koenig-editor__editor h1 + h2 {
    margin: 1.6rem 0 0;
}

.koenig-editor__editor h2 + h2,
.koenig-editor__editor h3 + h2,
.koenig-editor__editor h4 + h2,
.koenig-editor__editor h5 + h2 {
    margin: 0.8rem 0 0;
}

.koenig-editor__editor h6 + h2 {
    margin: 0.4rem 0 0;
}

.koenig-editor__editor div + h2 {
    margin: 4.8rem 0 0;
}


/* Heading 3 - 6 (share common styles) */

.koenig-editor__editor h1 + h3,
.koenig-editor__editor h2 + h3,

.koenig-editor__editor h1 + h4,
.koenig-editor__editor h2 + h4,

.koenig-editor__editor h1 + h5,
.koenig-editor__editor h2 + h5,

.koenig-editor__editor h1 + h6,
.koenig-editor__editor h2 + h6 {
    margin: 1.2rem 0 0;
}

.koenig-editor__editor h3 + h4 {
    margin: 0.8rem 0 0;
}

.koenig-editor__editor h3 + h3,
.koenig-editor__editor h4 + h3,
.koenig-editor__editor h5 + h3,

.koenig-editor__editor h4 + h4,
.koenig-editor__editor h5 + h4,

.koenig-editor__editor h3 + h5,
.koenig-editor__editor h4 + h5,
.koenig-editor__editor h5 + h5,

.koenig-editor__editor h3 + h6,
.koenig-editor__editor h4 + h6 {
    margin: 0.8rem 0 0;
}

.koenig-editor__editor h5 + h6 {
    margin: 0.4rem 0 0;
}

.koenig-editor__editor h6 + h3,
.koenig-editor__editor h6 + h4,
.koenig-editor__editor h6 + h5,
.koenig-editor__editor h6 + h6 {
    margin: 0.4rem 0 0;
}

.koenig-editor__editor div + h3,
.koenig-editor__editor div + h4,
.koenig-editor__editor div + h5,
.koenig-editor__editor div + h6 {
    margin: 4.8rem 0 0;
}

/* Headings right after post title */
.koenig-editor__editor h1:first-child,
.koenig-editor__editor h2:first-child,
.koenig-editor__editor h3:first-child,
.koenig-editor__editor h4:first-child,
.koenig-editor__editor h5:first-child,
.koenig-editor__editor h6:first-child {
    margin-top: 0rem;
}

@media (max-width: 500px) {
    .koenig-editor__editor h1 {
        font-size: 3.2rem;
    }

    .koenig-editor__editor h2 {
        font-size: 2.8rem;
    }

    .koenig-editor__editor h3 {
        font-size: 2.4rem;
    }

    .koenig-editor__editor h4 {
        font-size: 2.3rem;
    }

    .koenig-editor__editor h5 {
        font-size: 2.0rem;
    }

    .koenig-editor__editor h6 {
        font-size: 1.9rem;
    }
}


/* Paragraph
/* -------------------------------------------------------------------- */

.koenig-editor__editor p,
.koenig-editor__editor blockquote,
.koenig-editor__editor aside,
.koenig-editor__editor ul:not(.kg-action-bar):not(.kg-link-toolbar),
.koenig-editor__editor ol
 {
    font-family: georgia,serif;
    font-weight: 400;
    line-height: 1.6em;
    font-size: 2.0rem;
}

.koenig-editor__editor h1 + p {
    margin: 1.0rem 0 0;
}

.koenig-editor__editor h2 + p {
    margin: 0.8rem 0 0;
}

.koenig-editor__editor h3 + p,
.koenig-editor__editor h4 + p,
.koenig-editor__editor h5 + p,
.koenig-editor__editor h6 + p {
    margin: 0.8rem 0 0;
}

.koenig-editor__editor p + p,
.koenig-editor__editor blockquote + p,
.koenig-editor__editor aside + p,
.koenig-editor__editor ul + p,
.koenig-editor__editor ol + p
 {
    margin: 3.2rem 0 0;
}

.koenig-editor__editor div + p { /* Mobiledoc cards can be addressed by their wrapper div element */
    margin: 2.8rem 0 0;
}

/* Paragraph right after title */
.koenig-editor__editor p:first-child {
    margin-top: 0rem;
}

@media (max-width: 500px) {
    .koenig-editor__editor p,
    .koenig-editor__editor blockquote,
    .koenig-editor__editor aside,
    .koenig-editor__editor ul:not(.kg-action-bar):not(.kg-link-toolbar),
    .koenig-editor__editor ol
    {
        font-size: 1.8rem;
    }
}


/* Lists
/* -------------------------------------------------------------------- */

.koenig-editor__editor ul:not(.kg-action-bar):not(.kg-link-toolbar),
.koenig-editor__editor ol {
    margin: 1.6rem 0 0;
    padding: 0;
    min-width: 100%;
    max-width: 100%;
}

.koenig-editor__editor ul:not(.kg-action-bar):not(.kg-link-toolbar) li {
    margin: 1.0rem 0 0 2.4rem;
    padding: 0 0 0 0.6rem;
    line-height: 3.2rem;
}

.koenig-editor__editor ul:not(.kg-action-bar):not(.kg-link-toolbar) li:first-child {
    margin: 0 0 0 2.4rem;
}

.koenig-editor__editor ol li {
    margin: 1.0rem 0 0 2.2rem;
    padding: 0 0 0 0.8rem;
    line-height: 3.2rem;
}

.koenig-editor__editor ol li:first-child {
    margin: 0 0 0 2.2rem;
}

.koenig-editor__editor p + ul:not(.kg-action-bar):not(.kg-link-toolbar),
.koenig-editor__editor p + ol {
    margin: 3.0rem 0 0;
}

.koenig-editor__editor ul:not(.kg-action-bar):not(.kg-link-toolbar) + ul:not(.kg-action-bar):not(.kg-link-toolbar),
.koenig-editor__editor ul:not(.kg-action-bar):not(.kg-link-toolbar) + ol,
.koenig-editor__editor ol + ul:not(.kg-action-bar):not(.kg-link-toolbar),
.koenig-editor__editor ol + ol,
.koenig-editor__editor blockquote + ul:not(.kg-action-bar):not(.kg-link-toolbar),
.koenig-editor__editor blockquote + ol,
.koenig-editor__editor aside + ul:not(.kg-action-bar):not(.kg-link-toolbar),
.koenig-editor__editor aside + ol {
    margin: 3.0rem 0 0;
}

.koenig-editor__editor h1 + ul:not(.kg-action-bar):not(.kg-link-toolbar),
.koenig-editor__editor h1 + ol,
.koenig-editor__editor h2 + ul:not(.kg-action-bar):not(.kg-link-toolbar),
.koenig-editor__editor h2 + ol {
    margin: .8rem 0 0;
}
.koenig-editor__editor h3 + ul:not(.kg-action-bar):not(.kg-link-toolbar),
.koenig-editor__editor h3 + ol,
.koenig-editor__editor h4 + ul:not(.kg-action-bar):not(.kg-link-toolbar),
.koenig-editor__editor h4 + ol,
.koenig-editor__editor h5 + ul:not(.kg-action-bar):not(.kg-link-toolbar),
.koenig-editor__editor h5 + ol,
.koenig-editor__editor h6 + ul:not(.kg-action-bar):not(.kg-link-toolbar),
.koenig-editor__editor h6 + ol {
    margin: 1.2rem 0 0;
}

.koenig-editor__editor div + ul:not(.kg-action-bar):not(.kg-link-toolbar),
.koenig-editor__editor div + ol {
    margin: 2.8rem 0 0;
}

.koenig-editor__editor ul:not(.kg-action-bar):not(.kg-link-toolbar) ul:not(.kg-action-bar):not(.kg-link-toolbar),
.koenig-editor__editor ul:not(.kg-action-bar):not(.kg-link-toolbar) ol,
.koenig-editor__editor ol ul:not(.kg-action-bar):not(.kg-link-toolbar),
.koenig-editor__editor ol ol {
    margin: 1.0rem 0 2rem;
}

/* Lists right after title */
.koenig-editor__editor ul:not(.kg-action-bar):not(.kg-link-toolbar):first-child,
.koenig-editor__editor ol:first-child,
.koenig-editor__editor ul:not(.kg-action-bar):not(.kg-link-toolbar):first-child,
.koenig-editor__editor ol:first-child {
    margin-top: 0rem;
}


/* Cards in general
/* -------------------------------------------------------------------- */

.koenig-editor__editor > div {
    line-height: 0;
    min-width: 100%;
}

.koenig-editor__editor > div + div {
    margin: 3.2rem 0 0;
}

.koenig-editor__editor > p + div,
.koenig-editor__editor > blockquote + div,
.koenig-editor__editor > aside + div,
.koenig-editor__editor > ul + div,
.koenig-editor__editor > ol + div {
    margin: 3.2rem 0 0;
}

.koenig-editor__editor > h1 + div {
    margin: 2.8rem 0 0;
}

.koenig-editor__editor > h2 + div,
.koenig-editor__editor > h3 + div,
.koenig-editor__editor > h4 + div,
.koenig-editor__editor > h5 + div,
.koenig-editor__editor > h6 + div {
    margin: 1.6rem 0 0;
}

.koenig-editor__editor hr {
    margin: 1.6rem 0;
}

/* First card right after post title */

.koenig-editor__editor > div:first-child {
    margin-top: 3.2rem;
}

/* Links
/* -------------------------------------------------------------------- */

.koenig-editor__editor a:not([class]) {
    color: var(--darkgrey-d2);
    text-decoration: underline;
}


/* Blockquote
/* -------------------------------------------------------------------- */

.koenig-editor__editor blockquote p {
    margin: 0;
}

.koenig-editor__editor blockquote {
    border-left: 0.25rem solid var(--blue);
    padding-left: 2.0rem;
    font-style: italic;
}

.koenig-editor__editor h1 + blockquote,
.koenig-editor__editor h2 + blockquote {
    margin: .8rem 0 0;
}

.koenig-editor__editor h3 + blockquote,
.koenig-editor__editor h4 + blockquote,
.koenig-editor__editor h5 + blockquote,
.koenig-editor__editor h6 + blockquote {
    margin: .4rem 0 0;
}

.koenig-editor__editor p + blockquote,
.koenig-editor__editor blockquote + blockquote {
    margin: 3.2rem 0 0;
}


/* Mobiledoc cards can be selected by their wrapper div element */
.koenig-editor__editor div + blockquote {
    margin: 2.8rem 0 0;
}


/* Aside, Blockquote Alternative
/* -------------------------------------------------------------------- */

.koenig-editor__editor aside p {
    margin: 0;
}

.koenig-editor__editor aside {
    margin: 3.2rem 0 0;
    padding: 1rem 6rem 1.25rem;
    font-style: italic;
    text-align: center;
    font-size: 2.4rem;
    color: var(--midgrey-l1);
}

.koenig-editor__editor h1 + aside,
.koenig-editor__editor h2 + aside {
    margin: .8rem 0 0;
}

.koenig-editor__editor h3 + aside,
.koenig-editor__editor h4 + aside,
.koenig-editor__editor h5 + aside,
.koenig-editor__editor h6 + aside {
    margin: .4rem 0 0;
}

.koenig-editor__editor p + aside,
.koenig-editor__editor blockquote + aside {
    margin: 3.2rem 0 0;
}

@media (max-width: 800px) {
    .koenig-editor__editor aside {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}

@media (max-width: 500px) {
    .koenig-editor__editor aside {
        font-size: 2.2rem;
    }
}

/* Mobiledoc cards can be selected by their wrapper div element */
.koenig-editor__editor div + aside {
    margin: 2.8rem 0 0;
}


/* Code
/* ------------------------------------------------------------------ */
.koenig-editor__editor code,
.koenig-editor__editor pre {
    font-family: Consolas,Liberation Mono,Menlo,Courier,monospace;
    background: color-mod(var(--whitegrey) lightness(+4%));
    border: 1px solid var(--whitegrey);
}

.koenig-editor__editor code {
    border-radius: 2px;
    color: var(--darkgrey-d2);
    font-size: .8em;
    line-height: 1em;
    padding: .4rem .4rem .2rem;
    vertical-align: middle;
    white-space: pre-wrap;
}

.koenig-editor__editor pre code {
    border: none;
    font-size: 1.6rem;
    color: var(--darkgrey-d2);
    padding: 0;
}

.koenig-editor__editor pre {
    line-height: 1.4em;
    padding: .8rem .8rem .4rem;
    border-radius: .4rem;
    font-size: 1.6rem;
    overflow: auto;
    white-space: pre;
    width: 100%;
    color: var(--darkgrey-d2);
}

.koenig-editor__editor pre.js-embed-placeholder,
.koenig-editor__editor pre.iframe-embed-placeholder {
    margin: 0.4rem 0 !important;
    color: var(--midgrey);
}

.koenig-basic-html-input__editor code {
    font-size: 1.4rem;
}

/*
/* UI Styles
/*
/* Styles that extend Spirit classes.
/* -------------------------------------------------------------------- */

/* Link hover tooltip - override inherited styles from .koenig-editor__editor */
.kg-link-toolbar a {
    color: inherit;
    -webkit-font-smoothing: initial;
}

/* Link input bar */
.kg-link-input {
    min-width: 225px; /* Same width as text toolbar */
    padding: 4px 28px 4px 8px;
    caret-color: auto;
    border: 1px solid var(--green);
    font-size: 1.4rem;
    background-color: var(--white);
}

.kg-input-bar-close {
    position: absolute;
    top: 22px;
    right: 10px;
    left: auto;
    line-height: 1.2rem;
    z-index: 100;
    cursor: pointer;
}

.kg-input-bar:before,
.kg-input-bar:after {
    position: absolute;
    top: 47px;
    left: calc(50% - 8px);
    width: 0;
    content: "";
    font-size: 0;
    line-height: 0;
}

.kg-input-bar:before {
    border-top: 9px solid var(--green);
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
}

.kg-input-bar:after {
    border-top: 8px solid var(--white);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    margin-left: 1px;
}

/* Action bar styles */
.kg-action-bar {
    top: 8px;
}

.kg-action-bar a {
    min-height: 34px;
}

.kg-action-bar:after {
    position: absolute;
    top: 36px;
    left: calc(50% - 8px);
    width: 0;
    border-top: 8px solid var(--darkgrey-d1);
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    content: "";
    font-size: 0;
    line-height: 0;
    transition: left ease 0.06s;
}

.kg-action-bar-divider {
    width: 1px;
}

/* Scroll container for the editor canvas */
.gh-koenig-editor {
    width: 100%;
    height: 100dvh;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Padded container housing title + editor canvas, scrollable content */
.gh-koenig-editor-pane {
    padding: 11vw 92px;
}

@media (min-width: 500px) and (max-width: 960px) {
    .gh-koenig-editor-pane {
        padding: 15vw 92px;
    }
}

@media (max-width: 500px) {
    .gh-koenig-editor-pane {
        padding: 20vw 32px;
    }
}

/* Use flex-grow to fill the available vertical space so clicks outside the
   editor content can trigger focus */
.gh-koenig-editor-pane .koenig-editor {
    cursor: text;
}

.koenig-editor {
    max-width: 740px;
}

.kg-settings-panel-control-input .gh-input,
.kg-settings-panel-control-input .gh-select,
.kg-settings-panel-control-input .ember-power-select-trigger {
    font-size: 1.4rem !important;
    padding: 5px 10px;
    font-weight: 500;
}

.kg-settings-panel-control-input .ember-power-select-trigger svg {
    position: absolute;
    top: 18px;
    right: 12px;
}

/* Cards
/* --------------------------------------------------------------- */

.gh-member-segment-select-dropdown {
    border-top: 1px solid var(--input-border-color) !important;
    border-radius: 3px !important;
}

.kg-settings-headerstyle-btn-group {
    background: none !important;
}

.kg-settings-headerstyle-btn-group .gh-btn {
    background: var(--white) !important;
    width: 26px;
    height: 26px;
    border: 1px solid var(--whitegrey);
    border-radius: 999px;
    margin-right: 5px;
}

.kg-settings-headerstyle-btn-group .kg-headerstyle-btn-dark {
    background: #08090c !important;
}

.kg-settings-headerstyle-btn-group .kg-headerstyle-btn-light {
    background: #F9F9F9 !important;
}

.kg-settings-headerstyle-btn-group .kg-headerstyle-btn-accent {
    background: var(--accent-color) !important;
}

.kg-settings-headerstyle-btn-group .kg-headerstyle-btn-image {
    background: transparent !important;
    margin-right: 0;
}

.kg-settings-headerstyle-btn-group .kg-headerstyle-btn-image svg {
    width: 12px;
    height: 12px;
}

.kg-settings-headerstyle-btn-group .kg-headerstyle-btn-image svg path {
    stroke-width: 1.5;
}

.kg-settings-headerstyle-btn-group .gh-btn-group-selected {
    position: relative;
}

.kg-settings-headerstyle-btn-group .gh-btn-group-selected::before {
    position: absolute;
    content: "";
    display: block;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    border: 2px solid var(--green);
    border-radius: 999px;
}

/* Mobiledoc-kit base styles
/* NOTE: adapted from https://github.com/bustle/mobiledoc-kit/blob/master/src/css/mobiledoc-kit.css
/* --------------------------------------------------------------- */

.__mobiledoc-editor {
    position: relative;
    resize: none;
    min-height: 1em;
}

.__mobiledoc-editor:focus {
    outline: none;
}

.__mobiledoc-editor > * {
    position: relative;
}

.__mobiledoc-editor i {
    display: inline;
}

.__mobiledoc-card {
    display: inline-block;
    width: 100%;
}

.__mobiledoc-editor.__has-no-content:after {
    min-width: 100%;
    content: attr(data-placeholder);
    cursor: text;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--midlightgrey);
}


/* Lexical editor
/* --------------------------------------------------------------- */

.koenig-react-editor {
    max-width: 740px;
    margin: 0 auto;
}

.koenig-react-editor-loading,
.koenig-react-editor-error {
    font-family: Georgia, Times, serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.6em;
    letter-spacing: .1px;
}

.koenig-react-editor-loading {
    color: #AEB7C1;
}
