/* Publish Menu
/* ---------------------------------------------------------- */

.gh-publishmenu-trigger {
    color: var(--blue);
    border: none;
    cursor: pointer;
}

.gh-publishmenu-trigger svg {
    height: 8px;
    width: 8px;
}

.gh-publishmenu-trigger svg path {
    stroke: var(--blue);
    stroke-width: 1px;
}

.gh-publishmenu-trigger:focus {
    outline: 0;
}

.gh-publishmenu {
    position: relative;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.gh-publishmenu-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    margin: 5px 0 20px 0;
    padding: 20px;
    width: 300px;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(99,114,130,0.16), 0 8px 16px rgba(27,39,51,0.08);
    list-style: none;
    text-align: left;
    text-transform: none;
    font-size: 1.4rem;
    font-weight: normal;
    will-change: transform, opacity;
}

.gh-publishmenu-dropdown.ember-basic-dropdown--transitioning-in {
    animation: fade-in-scale 0.2s;
    animation-fill-mode: forwards;
}

.gh-publishmenu-dropdown.ember-basic-dropdown--transitioning-out {
    animation: fade-out 0.5s;
    animation-fill-mode: forwards;
}

.gh-publishmenu-heading {
    margin: 0 0 15px 0;
    font-size: 1.8rem;
    line-height: 1.15em;
}

.gh-publishmenu-content {
    margin: 17px 0;
    border-top: var(--lightgrey) 1px solid;
    border-bottom: var(--lightgrey) 1px solid;
}

.gh-publishmenu-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 15px 0 0 0;
}

.gh-publishmenu-button {
    float: right;
}

.gh-publishmenu-radio {
    display: flex;
    margin: 25px 0;
}

.gh-publishmenu-radio-button {
    flex-shrink: 0;
    position: relative;
    width: 15px;
    height: 15px;
    border: color(var(--lightgrey) l(-10%)) 1px solid;
    border-radius: 100%;
    background: #fff;
}

.gh-publishmenu-radio-content {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 15px;
    width: 100%;
}

.gh-publishmenu-radio-label {
    font-size: 1.4rem;
    line-height: 1.2em;
    font-weight: 500;
}

.gh-publishmenu-radio-desc {
    font-size: 1.3rem;
    line-height: 1.4em;
    font-weight: 200;
    color: color(var(--midgrey) l(+10%));
}

.gh-publishmenu-radio-label:hover,
.gh-publishmenu-radio-button:hover {
    cursor: pointer;
}

.gh-publishmenu-radio.active .gh-publishmenu-radio-button {
    border-color: color(var(--blue) l(-12%));
    background: var(--blue);
}

.gh-publishmenu-radio.active .gh-publishmenu-radio-button:before {
    display: block;
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
    background: #fff;
    border-radius: 100%;
    box-shadow: rgba(0,0,0,0.25) 0 1px 3px;
}

.gh-date-time-picker {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gh-date-time-picker .ember-basic-dropdown{
    width: 100%;
}

.gh-date-time-picker-date,
.gh-date-time-picker-time {
    display: flex;
    align-items: center;
    position: relative;
    margin: 7px 0 4px;
    padding: 6px 8px;
    border: color(var(--lightgrey) l(-5%) s(-10%)) 1px solid;
    border-radius: 3px;
    transition: border-color 0.15s linear;
    background: #fff;
}

.gh-date-time-picker-time {
    margin-left: 10px;
    width: calc(100% - 4px);
}

.gh-date-time-picker-date.error,
.gh-date-time-picker-time.error {
    border-color: var(--red);
}

.gh-date-time-picker input {
    display: block;
    padding: 0;
    width: 100%;
    border: none;
    color: color(var(--midgrey) l(-18%));
    font-size: 1.3rem;
    line-height: 1em;
    font-weight: 400;
    user-select: text;

    -webkit-appearance: none;
}

.gh-date-time-picker input:focus {
    outline: 0;
}

.gh-date-time-picker-date:focus,
.gh-date-time-picker-time:focus {
    border-color: color(var(--lightgrey) l(-15%) s(-10%));
}

.gh-date-time-picker-date svg {
    width: 14px;
    height: 14px;
    fill: color(var(--midgrey) l(+15%));
}

.gh-date-time-picker-timezone {
    font-size: 1.1rem;
    font-weight: 200;
    color: color(var(--midgrey) l(+17%));
    margin-left: -30px;
}

.gh-date-time-picker-error {
    display: block;
    font-size: 1.3rem;
    line-height: 1.4em;
    font-weight: 200;
    color: var(--red);
}
