.gh-editor-title {
    padding:0 0 0 1px; /* need some left padding otherwise the cursor isn't visible on the left hand side */
    margin:0;
    outline:none;
    position:relative;
    width:100%;
    letter-spacing:0.8px;
    font-weight: bold;
    font-size: 3.2rem;
    line-height: 150%;
}

/* Place holder content that displays in the title if it is empty */
.gh-editor-title.no-content:after {
    content: attr(data-placeholder);
    color: #bbb;
    cursor: text;
    position:absolute;
    top:0;
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 110%;
    min-width: 30rem; /* hack it's defaulting just to enough width for the 'Your' in 'Your Post Title' */
}
