node_modules

.nxcache
.nx

**/*.log

build
dist

coverage

.eslintcache

test-results

tsconfig.tsbuildinfo

Dockerfile
.dockerignore

.git
.vscode
.editorconfig
compose.yml

.docker
!.docker/development.entrypoint.sh
