# shellcheck shell=bash
if ! has nix_direnv_version || ! nix_direnv_version 3.1.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.0/direnvrc" "sha256-yMJ2OVMzrFaDPn7q8nCBZFRYpL/f0RcHzhmw/i6btJM="
fi

if [ -f .envrc.local ]; then
  source_env .envrc.local
fi

use flake . --accept-flake-config --show-trace
