# Environment variables for Ghost development with docker compose
## Use this file by running `cp .env.example .env` and then editing the values as needed

# Docker Compose profiles to enable
## Run `docker compose config --profiles` to see all available profiles
## See https://docs.docker.com/compose/how-tos/profiles/ for more information
# COMPOSE_PROFILES=stripe

# Debug level to pass to Ghost
# DEBUG=

# Stripe keys - used to forward Stripe webhooks to Ghost
## Stripe Secret Key: sk_test_*******
# STRIPE_SECRET_KEY=
## Stripe Publishable Key: pk_test_*******
#STRIPE_PUBLISHABLE_KEY=
## Stripe Account ID: acct_1*******
#STRIPE_ACCOUNT_ID=

# Mailgun API credentials - used with `pnpm dev:mailgun`
## Mailgun sending domain
# MAILGUN_DOMAIN=
## From address for transactional emails. Defaults to postmaster@MAILGUN_DOMAIN.
# MAILGUN_FROM=
## Mailgun API key
# MAILGUN_API_KEY=
## Mailgun API origin for transactional emails. Use https://api.eu.mailgun.net for EU domains.
# MAILGUN_API_URL=https://api.mailgun.net
## Mailgun API base URL for newsletter/bulk emails. Use https://api.eu.mailgun.net/v3 for EU domains.
# MAILGUN_BASE_URL=https://api.mailgun.net/v3
