[submodule "ghost/core/content/themes/casper"]
	path = ghost/core/content/themes/casper
	url = https://github.com/TryGhost/Casper/
[submodule "ghost/core/core/admin"]
	path = ghost/core/core/admin
	url = https://github.com/TryGhost/Admin/
