b-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

.idea/*
*.iml
projectFilesBackup

.DS_Store

# Ghost DB file
*.db

/core/admin/assets/css
.sass-cache/
/core/admin/assets/sass/config.rb
/core/admin/assets/sass/layouts/config.rb
/core/admin/assets/sass/modules/config.rb
/ghost/.idea/