[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/TryGhost/Casper.git
[submodule "content/themes/uno"]
	path = content/themes/uno
	url = git@github.com:GoOz/Uno.git
