!**
.build
.dist
.tmp
docs/**
_site/**
content/images/**
!content/images/README.md
content/themes/**
!content/themes/casper/**
content/apps/**
!content/apps/README.md
content/data/**
!content/data/README.md
node_modules/**
**/*.db*
*.db*
.af*
.git*
.groc*
.jshintrc
*.iml
config.js
core/built/**/*.map
core/built/**/test-*
core/client/**
core/test/**
CONTRIBUTING.md
SECURITY.md
.travis.yml
*.html
!core/server/mail/templates/**
bower_components/**
.editorconfig
