!**
.build
.dist
.tmp
docs/**
_site/**
content/images/**
!content/images/README.md
content/themes/**
!content/themes/casper/**
content/apps/**
!content/apps/README.md
content/data/**
!content/data/README.md
node_modules/**
core/test/**
**/*.db*
*.db*
.sass*
.af*
.git*
.groc*
.jshintrc
*.iml
config.js
core/built/scripts/templates.js
core/built/scripts/vendor.js
core/built/scripts/templates.js
core/built/scripts/ghost.js
core/built/**/*.map
core/client/**
!core/client/assets/**
core/client/assets/sass/**
core/client/assets/css/**
!core/client/assets/css/ghost.min.css
core/client/docs/**
CONTRIBUTING.md
SECURITY.md
.travis.yml
*.html
!core/server/email-templates/**
bower_components/**