!**
.build
.dist
.tmp
docs/**
_site/**
content/images/**
!content/images/README.md
content/themes/**
!content/themes/casper/**
content/apps/**
!content/apps/README.md
node_modules/**
core/test/**
core/server/data/export/exported*
**/*.db*
*.db*
.sass*
.af*
.git*
.groc*
.jshintrc
*.iml
config.js
core/client/config-dev.js
core/client/config-prod.js
CONTRIBUTING.md
SECURITY.md
.travis.yml
*.html
bower_components/**