{{#if this.tier.active}}
    {{#unless this.tier.isNew}}
        <button
            type="button"
            {{on "click" this.handleArchiveTier}}
        >
            <span>Archive</span>
        </button>
    {{/unless}}
{{else}}
    <button
        type="button"
        {{on "click" this.handleUnarchiveTier}}
    >
        <span>Reactivate</span>
    </button>
{{/if}}