{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2015-04-16",
    "endpointPrefix":"ds",
    "jsonVersion":"1.1",
    "protocol":"json",
    "protocols":["json"],
    "serviceAbbreviation":"Directory Service",
    "serviceFullName":"AWS Directory Service",
    "serviceId":"Directory Service",
    "signatureVersion":"v4",
    "targetPrefix":"DirectoryService_20150416",
    "uid":"ds-2015-04-16",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AcceptSharedDirectory":{
      "name":"AcceptSharedDirectory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AcceptSharedDirectoryRequest"},
      "output":{"shape":"AcceptSharedDirectoryResult"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"EntityDoesNotExistException"},
        {"shape":"DirectoryAlreadySharedException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Accepts a directory sharing request that was sent from the directory owner account.</p>"
    },
    "AddIpRoutes":{
      "name":"AddIpRoutes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddIpRoutesRequest"},
      "output":{"shape":"AddIpRoutesResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"EntityAlreadyExistsException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"IpRouteLimitExceededException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>If the DNS server for your self-managed domain uses a publicly addressable IP address, you must add a CIDR address block to correctly route traffic to and from your Microsoft AD on Amazon Web Services. <i>AddIpRoutes</i> adds this address block. You can also use <i>AddIpRoutes</i> to facilitate routing traffic that uses public IP ranges from your Microsoft AD on Amazon Web Services to a peer VPC. </p> <p>Before you call <i>AddIpRoutes</i>, ensure that all of the required permissions have been explicitly granted through a policy. For details about what permissions are required to run the <i>AddIpRoutes</i> operation, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html\">Directory Service API Permissions: Actions, Resources, and Conditions Reference</a>.</p>"
    },
    "AddRegion":{
      "name":"AddRegion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddRegionRequest"},
      "output":{"shape":"AddRegionResult"},
      "errors":[
        {"shape":"DirectoryUnavailableException"},
        {"shape":"InvalidParameterException"},
        {"shape":"EntityDoesNotExistException"},
        {"shape":"DirectoryAlreadyInRegionException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"DirectoryDoesNotExistException"},
        {"shape":"RegionLimitExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Adds two domain controllers in the specified Region for the specified directory.</p>"
    },
    "AddTagsToResource":{
      "name":"AddTagsToResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddTagsToResourceRequest"},
      "output":{"shape":"AddTagsToResourceResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"InvalidParameterException"},
        {"shape":"TagLimitExceededException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Adds or overwrites one or more tags for the specified directory. Each directory can have a maximum of 50 tags. Each tag consists of a key and optional value. Tag keys must be unique to each resource.</p>"
    },
    "CancelSchemaExtension":{
      "name":"CancelSchemaExtension",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelSchemaExtensionRequest"},
      "output":{"shape":"CancelSchemaExtensionResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Cancels an in-progress schema extension to a Microsoft AD directory. Once a schema extension has started replicating to all domain controllers, the task can no longer be canceled. A schema extension can be canceled during any of the following states; <code>Initializing</code>, <code>CreatingSnapshot</code>, and <code>UpdatingSchema</code>.</p>"
    },
    "ConnectDirectory":{
      "name":"ConnectDirectory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ConnectDirectoryRequest"},
      "output":{"shape":"ConnectDirectoryResult"},
      "errors":[
        {"shape":"DirectoryLimitExceededException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Creates an AD Connector to connect to a self-managed directory.</p> <p>Before you call <code>ConnectDirectory</code>, ensure that all of the required permissions have been explicitly granted through a policy. For details about what permissions are required to run the <code>ConnectDirectory</code> operation, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html\">Directory Service API Permissions: Actions, Resources, and Conditions Reference</a>.</p>"
    },
    "CreateAlias":{
      "name":"CreateAlias",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAliasRequest"},
      "output":{"shape":"CreateAliasResult"},
      "errors":[
        {"shape":"EntityAlreadyExistsException"},
        {"shape":"EntityDoesNotExistException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Creates an alias for a directory and assigns the alias to the directory. The alias is used to construct the access URL for the directory, such as <code>http://&lt;alias&gt;.awsapps.com</code>.</p> <important> <p>After an alias has been created, it cannot be deleted or reused, so this operation should only be used when absolutely necessary.</p> </important>"
    },
    "CreateComputer":{
      "name":"CreateComputer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateComputerRequest"},
      "output":{"shape":"CreateComputerResult"},
      "errors":[
        {"shape":"AuthenticationFailedException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"EntityAlreadyExistsException"},
        {"shape":"EntityDoesNotExistException"},
        {"shape":"InvalidParameterException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Creates an Active Directory computer object in the specified directory.</p>"
    },
    "CreateConditionalForwarder":{
      "name":"CreateConditionalForwarder",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateConditionalForwarderRequest"},
      "output":{"shape":"CreateConditionalForwarderResult"},
      "errors":[
        {"shape":"EntityAlreadyExistsException"},
        {"shape":"EntityDoesNotExistException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"InvalidParameterException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Creates a conditional forwarder associated with your Amazon Web Services directory. Conditional forwarders are required in order to set up a trust relationship with another domain. The conditional forwarder points to the trusted domain.</p>"
    },
    "CreateDirectory":{
      "name":"CreateDirectory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDirectoryRequest"},
      "output":{"shape":"CreateDirectoryResult"},
      "errors":[
        {"shape":"DirectoryLimitExceededException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Creates a Simple AD directory. For more information, see <a href=\"https://docs.aws.amazon.com/directoryservice/latest/admin-guide/directory_simple_ad.html\">Simple Active Directory</a> in the <i>Directory Service Admin Guide</i>.</p> <p>Before you call <code>CreateDirectory</code>, ensure that all of the required permissions have been explicitly granted through a policy. For details about what permissions are required to run the <code>CreateDirectory</code> operation, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html\">Directory Service API Permissions: Actions, Resources, and Conditions Reference</a>.</p>"
    },
    "CreateHybridAD":{
      "name":"CreateHybridAD",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateHybridADRequest"},
      "output":{"shape":"CreateHybridADResult"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServiceException"},
        {"shape":"InvalidParameterException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"DirectoryLimitExceededException"},
        {"shape":"ADAssessmentLimitExceededException"},
        {"shape":"EntityDoesNotExistException"}
      ],
      "documentation":"<p>Creates a hybrid directory that connects your self-managed Active Directory (AD) infrastructure and Amazon Web Services.</p> <p>You must have a successful directory assessment using <a>StartADAssessment</a> to validate your environment compatibility before you use this operation.</p> <p>Updates are applied asynchronously. Use <a>DescribeDirectories</a> to monitor the progress of directory creation.</p>"
    },
    "CreateLogSubscription":{
      "name":"CreateLogSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLogSubscriptionRequest"},
      "output":{"shape":"CreateLogSubscriptionResult"},
      "errors":[
        {"shape":"EntityAlreadyExistsException"},
        {"shape":"EntityDoesNotExistException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"InsufficientPermissionsException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Creates a subscription to forward real-time Directory Service domain controller security logs to the specified Amazon CloudWatch log group in your Amazon Web Services account.</p>"
    },
    "CreateMicrosoftAD":{
      "name":"CreateMicrosoftAD",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateMicrosoftADRequest"},
      "output":{"shape":"CreateMicrosoftADResult"},
      "errors":[
        {"shape":"DirectoryLimitExceededException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Creates a Microsoft AD directory in the Amazon Web Services Cloud. For more information, see <a href=\"https://docs.aws.amazon.com/directoryservice/latest/admin-guide/directory_microsoft_ad.html\">Managed Microsoft AD</a> in the <i>Directory Service Admin Guide</i>.</p> <p>Before you call <i>CreateMicrosoftAD</i>, ensure that all of the required permissions have been explicitly granted through a policy. For details about what permissions are required to run the <i>CreateMicrosoftAD</i> operation, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html\">Directory Service API Permissions: Actions, Resources, and Conditions Reference</a>.</p>"
    },
    "CreateSnapshot":{
      "name":"CreateSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSnapshotRequest"},
      "output":{"shape":"CreateSnapshotResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"InvalidParameterException"},
        {"shape":"SnapshotLimitExceededException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Creates a snapshot of a Simple AD or Microsoft AD directory in the Amazon Web Services cloud.</p> <note> <p>You cannot take snapshots of AD Connector directories.</p> </note>"
    },
    "CreateTrust":{
      "name":"CreateTrust",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTrustRequest"},
      "output":{"shape":"CreateTrustResult"},
      "errors":[
        {"shape":"EntityAlreadyExistsException"},
        {"shape":"EntityDoesNotExistException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Directory Service for Microsoft Active Directory allows you to configure trust relationships. For example, you can establish a trust between your Managed Microsoft AD directory, and your existing self-managed Microsoft Active Directory. This would allow you to provide users and groups access to resources in either domain, with a single set of credentials.</p> <p>This action initiates the creation of the Amazon Web Services side of a trust relationship between an Managed Microsoft AD directory and an external domain. You can create either a forest trust or an external trust.</p>"
    },
    "DeleteADAssessment":{
      "name":"DeleteADAssessment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteADAssessmentRequest"},
      "output":{"shape":"DeleteADAssessmentResult"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServiceException"},
        {"shape":"InvalidParameterException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"EntityDoesNotExistException"}
      ],
      "documentation":"<p>Deletes a directory assessment and all associated data. This operation permanently removes the assessment results, validation reports, and configuration information.</p> <p>You cannot delete system-initiated assessments. You can delete customer-created assessments even if they are in progress.</p>"
    },
    "DeleteConditionalForwarder":{
      "name":"DeleteConditionalForwarder",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteConditionalForwarderRequest"},
      "output":{"shape":"DeleteConditionalForwarderResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"InvalidParameterException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Deletes a conditional forwarder that has been set up for your Amazon Web Services directory.</p>"
    },
    "DeleteDirectory":{
      "name":"DeleteDirectory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDirectoryRequest"},
      "output":{"shape":"DeleteDirectoryResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Deletes an Directory Service directory.</p> <p>Before you call <code>DeleteDirectory</code>, ensure that all of the required permissions have been explicitly granted through a policy. For details about what permissions are required to run the <code>DeleteDirectory</code> operation, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html\">Directory Service API Permissions: Actions, Resources, and Conditions Reference</a>.</p>"
    },
    "DeleteLogSubscription":{
      "name":"DeleteLogSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteLogSubscriptionRequest"},
      "output":{"shape":"DeleteLogSubscriptionResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Deletes the specified log subscription.</p>"
    },
    "DeleteSnapshot":{
      "name":"DeleteSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSnapshotRequest"},
      "output":{"shape":"DeleteSnapshotResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Deletes a directory snapshot.</p>"
    },
    "DeleteTrust":{
      "name":"DeleteTrust",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTrustRequest"},
      "output":{"shape":"DeleteTrustResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Deletes an existing trust relationship between your Managed Microsoft AD directory and an external domain.</p>"
    },
    "DeregisterCertificate":{
      "name":"DeregisterCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterCertificateRequest"},
      "output":{"shape":"DeregisterCertificateResult"},
      "errors":[
        {"shape":"DirectoryUnavailableException"},
        {"shape":"DirectoryDoesNotExistException"},
        {"shape":"CertificateDoesNotExistException"},
        {"shape":"CertificateInUseException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Deletes from the system the certificate that was registered for secure LDAP or client certificate authentication.</p>"
    },
    "DeregisterEventTopic":{
      "name":"DeregisterEventTopic",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterEventTopicRequest"},
      "output":{"shape":"DeregisterEventTopicResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Removes the specified directory as a publisher to the specified Amazon SNS topic.</p>"
    },
    "DescribeADAssessment":{
      "name":"DescribeADAssessment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeADAssessmentRequest"},
      "output":{"shape":"DescribeADAssessmentResult"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServiceException"},
        {"shape":"InvalidParameterException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"EntityDoesNotExistException"}
      ],
      "documentation":"<p>Retrieves detailed information about a directory assessment, including its current status, validation results, and configuration details. Use this operation to monitor assessment progress and review results.</p>"
    },
    "DescribeCAEnrollmentPolicy":{
      "name":"DescribeCAEnrollmentPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCAEnrollmentPolicyRequest"},
      "output":{"shape":"DescribeCAEnrollmentPolicyResult"},
      "errors":[
        {"shape":"DirectoryDoesNotExistException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Retrieves detailed information about the certificate authority (CA) enrollment policy for the specified directory. This policy determines how client certificates are automatically enrolled and managed through Amazon Web Services Private Certificate Authority. </p>"
    },
    "DescribeCertificate":{
      "name":"DescribeCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCertificateRequest"},
      "output":{"shape":"DescribeCertificateResult"},
      "errors":[
        {"shape":"DirectoryDoesNotExistException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"CertificateDoesNotExistException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Displays information about the certificate registered for secure LDAP or client certificate authentication.</p>"
    },
    "DescribeClientAuthenticationSettings":{
      "name":"DescribeClientAuthenticationSettings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClientAuthenticationSettingsRequest"},
      "output":{"shape":"DescribeClientAuthenticationSettingsResult"},
      "errors":[
        {"shape":"DirectoryDoesNotExistException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Retrieves information about the type of client authentication for the specified directory, if the type is specified. If no type is specified, information about all client authentication types that are supported for the specified directory is retrieved. Currently, only <code>SmartCard</code> is supported. </p>"
    },
    "DescribeConditionalForwarders":{
      "name":"DescribeConditionalForwarders",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeConditionalForwardersRequest"},
      "output":{"shape":"DescribeConditionalForwardersResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"InvalidParameterException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Obtains information about the conditional forwarders for this account.</p> <p>If no input parameters are provided for RemoteDomainNames, this request describes all conditional forwarders for the specified directory ID.</p>"
    },
    "DescribeDirectories":{
      "name":"DescribeDirectories",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDirectoriesRequest"},
      "output":{"shape":"DescribeDirectoriesResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Obtains information about the directories that belong to this account.</p> <p>You can retrieve information about specific directories by passing the directory identifiers in the <code>DirectoryIds</code> parameter. Otherwise, all directories that belong to the current account are returned.</p> <p>This operation supports pagination with the use of the <code>NextToken</code> request and response parameters. If more results are available, the <code>DescribeDirectoriesResult.NextToken</code> member contains a token that you pass in the next call to <a>DescribeDirectories</a> to retrieve the next set of items.</p> <p>You can also specify a maximum number of return results with the <code>Limit</code> parameter.</p>"
    },
    "DescribeDirectoryDataAccess":{
      "name":"DescribeDirectoryDataAccess",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDirectoryDataAccessRequest"},
      "output":{"shape":"DescribeDirectoryDataAccessResult"},
      "errors":[
        {"shape":"DirectoryDoesNotExistException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Obtains status of directory data access enablement through the Directory Service Data API for the specified directory.</p>"
    },
    "DescribeDomainControllers":{
      "name":"DescribeDomainControllers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDomainControllersRequest"},
      "output":{"shape":"DescribeDomainControllersResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Provides information about any domain controllers in your directory.</p>"
    },
    "DescribeEventTopics":{
      "name":"DescribeEventTopics",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventTopicsRequest"},
      "output":{"shape":"DescribeEventTopicsResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Obtains information about which Amazon SNS topics receive status messages from the specified directory.</p> <p>If no input parameters are provided, such as DirectoryId or TopicName, this request describes all of the associations in the account.</p>"
    },
    "DescribeHybridADUpdate":{
      "name":"DescribeHybridADUpdate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeHybridADUpdateRequest"},
      "output":{"shape":"DescribeHybridADUpdateResult"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServiceException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"DirectoryDoesNotExistException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Retrieves information about update activities for a hybrid directory. This operation provides details about configuration changes, administrator account updates, and self-managed instance settings (IDs and DNS IPs).</p>"
    },
    "DescribeLDAPSSettings":{
      "name":"DescribeLDAPSSettings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLDAPSSettingsRequest"},
      "output":{"shape":"DescribeLDAPSSettingsResult"},
      "errors":[
        {"shape":"DirectoryDoesNotExistException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Describes the status of LDAP security for the specified directory.</p>"
    },
    "DescribeRegions":{
      "name":"DescribeRegions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRegionsRequest"},
      "output":{"shape":"DescribeRegionsResult"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"DirectoryDoesNotExistException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Provides information about the Regions that are configured for multi-Region replication.</p>"
    },
    "DescribeSettings":{
      "name":"DescribeSettings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSettingsRequest"},
      "output":{"shape":"DescribeSettingsResult"},
      "errors":[
        {"shape":"DirectoryDoesNotExistException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Retrieves information about the configurable settings for the specified directory.</p>"
    },
    "DescribeSharedDirectories":{
      "name":"DescribeSharedDirectories",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSharedDirectoriesRequest"},
      "output":{"shape":"DescribeSharedDirectoriesResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidParameterException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Returns the shared directories in your account. </p>"
    },
    "DescribeSnapshots":{
      "name":"DescribeSnapshots",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSnapshotsRequest"},
      "output":{"shape":"DescribeSnapshotsResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Obtains information about the directory snapshots that belong to this account.</p> <p>This operation supports pagination with the use of the <i>NextToken</i> request and response parameters. If more results are available, the <i>DescribeSnapshots.NextToken</i> member contains a token that you pass in the next call to <a>DescribeSnapshots</a> to retrieve the next set of items.</p> <p>You can also specify a maximum number of return results with the <i>Limit</i> parameter.</p>"
    },
    "DescribeTrusts":{
      "name":"DescribeTrusts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTrustsRequest"},
      "output":{"shape":"DescribeTrustsResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Obtains information about the trust relationships for this account.</p> <p>If no input parameters are provided, such as DirectoryId or TrustIds, this request describes all the trust relationships belonging to the account.</p>"
    },
    "DescribeUpdateDirectory":{
      "name":"DescribeUpdateDirectory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeUpdateDirectoryRequest"},
      "output":{"shape":"DescribeUpdateDirectoryResult"},
      "errors":[
        {"shape":"DirectoryDoesNotExistException"},
        {"shape":"InvalidParameterException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"},
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p> Describes the updates of a directory for a particular update type. </p>"
    },
    "DisableCAEnrollmentPolicy":{
      "name":"DisableCAEnrollmentPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableCAEnrollmentPolicyRequest"},
      "output":{"shape":"DisableCAEnrollmentPolicyResult"},
      "errors":[
        {"shape":"DirectoryDoesNotExistException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DisableAlreadyInProgressException"},
        {"shape":"EntityDoesNotExistException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Disables the certificate authority (CA) enrollment policy for the specified directory. This stops automatic certificate enrollment and management for domain-joined clients, but does not affect existing certificates.</p> <important> <p>Disabling the CA enrollment policy prevents new certificates from being automatically enrolled, but existing certificates remain valid and functional until they expire.</p> </important>"
    },
    "DisableClientAuthentication":{
      "name":"DisableClientAuthentication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableClientAuthenticationRequest"},
      "output":{"shape":"DisableClientAuthenticationResult"},
      "errors":[
        {"shape":"DirectoryDoesNotExistException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"InvalidClientAuthStatusException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Disables alternative client authentication methods for the specified directory. </p>"
    },
    "DisableDirectoryDataAccess":{
      "name":"DisableDirectoryDataAccess",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableDirectoryDataAccessRequest"},
      "output":{"shape":"DisableDirectoryDataAccessResult"},
      "errors":[
        {"shape":"DirectoryDoesNotExistException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"DirectoryInDesiredStateException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Deactivates access to directory data via the Directory Service Data API for the specified directory. For more information, see <a href=\"https://docs.aws.amazon.com/directoryservicedata/latest/DirectoryServiceDataAPIReference/Welcome.html\">Directory Service Data API Reference</a>.</p>"
    },
    "DisableLDAPS":{
      "name":"DisableLDAPS",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableLDAPSRequest"},
      "output":{"shape":"DisableLDAPSResult"},
      "errors":[
        {"shape":"DirectoryUnavailableException"},
        {"shape":"DirectoryDoesNotExistException"},
        {"shape":"InvalidLDAPSStatusException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Deactivates LDAP secure calls for the specified directory.</p>"
    },
    "DisableRadius":{
      "name":"DisableRadius",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableRadiusRequest"},
      "output":{"shape":"DisableRadiusResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Disables multi-factor authentication (MFA) with the Remote Authentication Dial In User Service (RADIUS) server for an AD Connector or Microsoft AD directory.</p>"
    },
    "DisableSso":{
      "name":"DisableSso",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableSsoRequest"},
      "output":{"shape":"DisableSsoResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"InsufficientPermissionsException"},
        {"shape":"AuthenticationFailedException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Disables single-sign on for a directory.</p>"
    },
    "EnableCAEnrollmentPolicy":{
      "name":"EnableCAEnrollmentPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableCAEnrollmentPolicyRequest"},
      "output":{"shape":"EnableCAEnrollmentPolicyResult"},
      "errors":[
        {"shape":"DirectoryDoesNotExistException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"InvalidParameterException"},
        {"shape":"EntityAlreadyExistsException"},
        {"shape":"EntityDoesNotExistException"},
        {"shape":"EnableAlreadyInProgressException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Enables certificate authority (CA) enrollment policy for the specified directory. This allows domain-joined clients to automatically request and receive certificates from the specified Amazon Web Services Private Certificate Authority.</p> <note> <p>Before enabling CA enrollment, ensure that the PCA connector is properly configured and accessible from the directory. The connector must be in an active state and have the necessary permissions.</p> </note>"
    },
    "EnableClientAuthentication":{
      "name":"EnableClientAuthentication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableClientAuthenticationRequest"},
      "output":{"shape":"EnableClientAuthenticationResult"},
      "errors":[
        {"shape":"DirectoryDoesNotExistException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"InvalidClientAuthStatusException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NoAvailableCertificateException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Enables alternative client authentication methods for the specified directory.</p>"
    },
    "EnableDirectoryDataAccess":{
      "name":"EnableDirectoryDataAccess",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableDirectoryDataAccessRequest"},
      "output":{"shape":"EnableDirectoryDataAccessResult"},
      "errors":[
        {"shape":"DirectoryDoesNotExistException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"DirectoryInDesiredStateException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Enables access to directory data via the Directory Service Data API for the specified directory. For more information, see <a href=\"https://docs.aws.amazon.com/directoryservicedata/latest/DirectoryServiceDataAPIReference/Welcome.html\">Directory Service Data API Reference</a>.</p>"
    },
    "EnableLDAPS":{
      "name":"EnableLDAPS",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableLDAPSRequest"},
      "output":{"shape":"EnableLDAPSResult"},
      "errors":[
        {"shape":"DirectoryUnavailableException"},
        {"shape":"DirectoryDoesNotExistException"},
        {"shape":"NoAvailableCertificateException"},
        {"shape":"InvalidLDAPSStatusException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Activates the switch for the specific directory to always use LDAP secure calls.</p>"
    },
    "EnableRadius":{
      "name":"EnableRadius",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableRadiusRequest"},
      "output":{"shape":"EnableRadiusResult"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"EntityAlreadyExistsException"},
        {"shape":"EntityDoesNotExistException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Enables multi-factor authentication (MFA) with the Remote Authentication Dial In User Service (RADIUS) server for an AD Connector or Microsoft AD directory.</p>"
    },
    "EnableSso":{
      "name":"EnableSso",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableSsoRequest"},
      "output":{"shape":"EnableSsoResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"InsufficientPermissionsException"},
        {"shape":"AuthenticationFailedException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Enables single sign-on for a directory. Single sign-on allows users in your directory to access certain Amazon Web Services services from a computer joined to the directory without having to enter their credentials separately.</p>"
    },
    "GetDirectoryLimits":{
      "name":"GetDirectoryLimits",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDirectoryLimitsRequest"},
      "output":{"shape":"GetDirectoryLimitsResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Obtains directory limit information for the current Region.</p>"
    },
    "GetSnapshotLimits":{
      "name":"GetSnapshotLimits",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSnapshotLimitsRequest"},
      "output":{"shape":"GetSnapshotLimitsResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Obtains the manual snapshot limits for a directory.</p>"
    },
    "ListADAssessments":{
      "name":"ListADAssessments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListADAssessmentsRequest"},
      "output":{"shape":"ListADAssessmentsResult"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServiceException"},
        {"shape":"InvalidParameterException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"DirectoryDoesNotExistException"}
      ],
      "documentation":"<p>Retrieves a list of directory assessments for the specified directory or all assessments in your account. Use this operation to monitor assessment status and manage multiple assessments.</p>"
    },
    "ListCertificates":{
      "name":"ListCertificates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCertificatesRequest"},
      "output":{"shape":"ListCertificatesResult"},
      "errors":[
        {"shape":"DirectoryDoesNotExistException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>For the specified directory, lists all the certificates registered for a secure LDAP or client certificate authentication.</p>"
    },
    "ListIpRoutes":{
      "name":"ListIpRoutes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListIpRoutesRequest"},
      "output":{"shape":"ListIpRoutesResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Lists the address blocks that you have added to a directory.</p>"
    },
    "ListLogSubscriptions":{
      "name":"ListLogSubscriptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListLogSubscriptionsRequest"},
      "output":{"shape":"ListLogSubscriptionsResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Lists the active log subscriptions for the Amazon Web Services account.</p>"
    },
    "ListSchemaExtensions":{
      "name":"ListSchemaExtensions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSchemaExtensionsRequest"},
      "output":{"shape":"ListSchemaExtensionsResult"},
      "errors":[
        {"shape":"InvalidNextTokenException"},
        {"shape":"EntityDoesNotExistException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Lists all schema extensions applied to a Microsoft AD Directory.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Lists all tags on a directory.</p>"
    },
    "RegisterCertificate":{
      "name":"RegisterCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterCertificateRequest"},
      "output":{"shape":"RegisterCertificateResult"},
      "errors":[
        {"shape":"DirectoryUnavailableException"},
        {"shape":"DirectoryDoesNotExistException"},
        {"shape":"InvalidCertificateException"},
        {"shape":"CertificateLimitExceededException"},
        {"shape":"CertificateAlreadyExistsException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Registers a certificate for a secure LDAP or client certificate authentication.</p>"
    },
    "RegisterEventTopic":{
      "name":"RegisterEventTopic",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterEventTopicRequest"},
      "output":{"shape":"RegisterEventTopicResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Associates a directory with an Amazon SNS topic. This establishes the directory as a publisher to the specified Amazon SNS topic. You can then receive email or text (SMS) messages when the status of your directory changes. You get notified if your directory goes from an Active status to an Impaired or Inoperable status. You also receive a notification when the directory returns to an Active status.</p>"
    },
    "RejectSharedDirectory":{
      "name":"RejectSharedDirectory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RejectSharedDirectoryRequest"},
      "output":{"shape":"RejectSharedDirectoryResult"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"EntityDoesNotExistException"},
        {"shape":"DirectoryAlreadySharedException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Rejects a directory sharing request that was sent from the directory owner account.</p>"
    },
    "RemoveIpRoutes":{
      "name":"RemoveIpRoutes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveIpRoutesRequest"},
      "output":{"shape":"RemoveIpRoutesResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Removes IP address blocks from a directory.</p>"
    },
    "RemoveRegion":{
      "name":"RemoveRegion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveRegionRequest"},
      "output":{"shape":"RemoveRegionResult"},
      "errors":[
        {"shape":"DirectoryUnavailableException"},
        {"shape":"DirectoryDoesNotExistException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Stops all replication and removes the domain controllers from the specified Region. You cannot remove the primary Region with this operation. Instead, use the <code>DeleteDirectory</code> API.</p>"
    },
    "RemoveTagsFromResource":{
      "name":"RemoveTagsFromResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveTagsFromResourceRequest"},
      "output":{"shape":"RemoveTagsFromResourceResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Removes tags from a directory.</p>"
    },
    "ResetUserPassword":{
      "name":"ResetUserPassword",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResetUserPasswordRequest"},
      "output":{"shape":"ResetUserPasswordResult"},
      "errors":[
        {"shape":"DirectoryUnavailableException"},
        {"shape":"UserDoesNotExistException"},
        {"shape":"InvalidPasswordException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"EntityDoesNotExistException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Resets the password for any user in your Managed Microsoft AD or Simple AD directory. Disabled users will become enabled and can be authenticated following the API call.</p> <p>You can reset the password for any user in your directory with the following exceptions:</p> <ul> <li> <p>For Simple AD, you cannot reset the password for any user that is a member of either the <b>Domain Admins</b> or <b>Enterprise Admins</b> group except for the administrator user.</p> </li> <li> <p>For Managed Microsoft AD, you can only reset the password for a user that is in an OU based off of the NetBIOS name that you typed when you created your directory. For example, you cannot reset the password for a user in the <b>Amazon Web Services Reserved</b> OU. For more information about the OU structure for an Managed Microsoft AD directory, see <a href=\"https://docs.aws.amazon.com/directoryservice/latest/admin-guide/ms_ad_getting_started_what_gets_created.html\">What Gets Created</a> in the <i>Directory Service Administration Guide</i>.</p> </li> </ul>"
    },
    "RestoreFromSnapshot":{
      "name":"RestoreFromSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RestoreFromSnapshotRequest"},
      "output":{"shape":"RestoreFromSnapshotResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Restores a directory using an existing directory snapshot.</p> <p>When you restore a directory from a snapshot, any changes made to the directory after the snapshot date are overwritten.</p> <p>This action returns as soon as the restore operation is initiated. You can monitor the progress of the restore operation by calling the <a>DescribeDirectories</a> operation with the directory identifier. When the <b>DirectoryDescription.Stage</b> value changes to <code>Active</code>, the restore operation is complete.</p>"
    },
    "ShareDirectory":{
      "name":"ShareDirectory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ShareDirectoryRequest"},
      "output":{"shape":"ShareDirectoryResult"},
      "errors":[
        {"shape":"DirectoryAlreadySharedException"},
        {"shape":"EntityDoesNotExistException"},
        {"shape":"InvalidTargetException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ShareLimitExceededException"},
        {"shape":"OrganizationsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Shares a specified directory (<code>DirectoryId</code>) in your Amazon Web Services account (directory owner) with another Amazon Web Services account (directory consumer). With this operation you can use your directory from any Amazon Web Services account and from any Amazon VPC within an Amazon Web Services Region.</p> <p>When you share your Managed Microsoft AD directory, Directory Service creates a shared directory in the directory consumer account. This shared directory contains the metadata to provide access to the directory within the directory owner account. The shared directory is visible in all VPCs in the directory consumer account.</p> <p>The <code>ShareMethod</code> parameter determines whether the specified directory can be shared between Amazon Web Services accounts inside the same Amazon Web Services organization (<code>ORGANIZATIONS</code>). It also determines whether you can share the directory with any other Amazon Web Services account either inside or outside of the organization (<code>HANDSHAKE</code>).</p> <p>The <code>ShareNotes</code> parameter is only used when <code>HANDSHAKE</code> is called, which sends a directory sharing request to the directory consumer. </p>"
    },
    "StartADAssessment":{
      "name":"StartADAssessment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartADAssessmentRequest"},
      "output":{"shape":"StartADAssessmentResult"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServiceException"},
        {"shape":"InvalidParameterException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"DirectoryDoesNotExistException"},
        {"shape":"ADAssessmentLimitExceededException"}
      ],
      "documentation":"<p>Initiates a directory assessment to validate your self-managed AD environment for hybrid domain join. The assessment checks compatibility and connectivity of the self-managed AD environment.</p> <p>A directory assessment is automatically created when you create a hybrid directory. There are two types of assessments: <code>CUSTOMER</code> and <code>SYSTEM</code>. Your Amazon Web Services account has a limit of 100 <code>CUSTOMER</code> directory assessments.</p> <p>The assessment process typically takes 30 minutes or more to complete. The assessment process is asynchronous and you can monitor it with <code>DescribeADAssessment</code>.</p> <p>The <code>InstanceIds</code> must have a one-to-one correspondence with <code>CustomerDnsIps</code>, meaning that if the IP address for instance i-10243410 is 10.24.34.100 and the IP address for instance i-10243420 is 10.24.34.200, then the input arrays must maintain the same order relationship, either [10.24.34.100, 10.24.34.200] paired with [i-10243410, i-10243420] or [10.24.34.200, 10.24.34.100] paired with [i-10243420, i-10243410].</p> <p>Note: You must provide exactly one <code>DirectoryId</code> or <code>AssessmentConfiguration</code>.</p>"
    },
    "StartSchemaExtension":{
      "name":"StartSchemaExtension",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartSchemaExtensionRequest"},
      "output":{"shape":"StartSchemaExtensionResult"},
      "errors":[
        {"shape":"DirectoryUnavailableException"},
        {"shape":"EntityDoesNotExistException"},
        {"shape":"InvalidParameterException"},
        {"shape":"SnapshotLimitExceededException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Applies a schema extension to a Microsoft AD directory.</p>"
    },
    "UnshareDirectory":{
      "name":"UnshareDirectory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UnshareDirectoryRequest"},
      "output":{"shape":"UnshareDirectoryResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"InvalidTargetException"},
        {"shape":"DirectoryNotSharedException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Stops the directory sharing between the directory owner and consumer accounts. </p>"
    },
    "UpdateConditionalForwarder":{
      "name":"UpdateConditionalForwarder",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateConditionalForwarderRequest"},
      "output":{"shape":"UpdateConditionalForwarderResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"InvalidParameterException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Updates a conditional forwarder that has been set up for your Amazon Web Services directory.</p>"
    },
    "UpdateDirectorySetup":{
      "name":"UpdateDirectorySetup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDirectorySetupRequest"},
      "output":{"shape":"UpdateDirectorySetupResult"},
      "errors":[
        {"shape":"UnsupportedOperationException"},
        {"shape":"DirectoryInDesiredStateException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"SnapshotLimitExceededException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DirectoryDoesNotExistException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p> Updates the directory for a particular update type. </p>"
    },
    "UpdateHybridAD":{
      "name":"UpdateHybridAD",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateHybridADRequest"},
      "output":{"shape":"UpdateHybridADResult"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServiceException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DirectoryDoesNotExistException"},
        {"shape":"ADAssessmentLimitExceededException"}
      ],
      "documentation":"<p>Updates the configuration of an existing hybrid directory. You can recover hybrid directory administrator account or modify self-managed instance settings.</p> <p>Updates are applied asynchronously. Use <a>DescribeHybridADUpdate</a> to monitor the progress of configuration changes.</p> <p>The <code>InstanceIds</code> must have a one-to-one correspondence with <code>CustomerDnsIps</code>, meaning that if the IP address for instance i-10243410 is 10.24.34.100 and the IP address for instance i-10243420 is 10.24.34.200, then the input arrays must maintain the same order relationship, either [10.24.34.100, 10.24.34.200] paired with [i-10243410, i-10243420] or [10.24.34.200, 10.24.34.100] paired with [i-10243420, i-10243410].</p> <note> <p>You must provide at least one update to <a>UpdateHybridADRequest$HybridAdministratorAccountUpdate</a> or <a>UpdateHybridADRequest$SelfManagedInstancesSettings</a>.</p> </note>"
    },
    "UpdateNumberOfDomainControllers":{
      "name":"UpdateNumberOfDomainControllers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateNumberOfDomainControllersRequest"},
      "output":{"shape":"UpdateNumberOfDomainControllersResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"DomainControllerLimitExceededException"},
        {"shape":"InvalidParameterException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Adds or removes domain controllers to or from the directory. Based on the difference between current value and new value (provided through this API call), domain controllers will be added or removed. It may take up to 45 minutes for any new domain controllers to become fully active once the requested number of domain controllers is updated. During this time, you cannot make another update request.</p>"
    },
    "UpdateRadius":{
      "name":"UpdateRadius",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateRadiusRequest"},
      "output":{"shape":"UpdateRadiusResult"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"EntityDoesNotExistException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Updates the Remote Authentication Dial In User Service (RADIUS) server information for an AD Connector or Microsoft AD directory.</p>"
    },
    "UpdateSettings":{
      "name":"UpdateSettings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateSettingsRequest"},
      "output":{"shape":"UpdateSettingsResult"},
      "errors":[
        {"shape":"DirectoryDoesNotExistException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"IncompatibleSettingsException"},
        {"shape":"UnsupportedSettingsException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Updates the configurable settings for the specified directory.</p>"
    },
    "UpdateTrust":{
      "name":"UpdateTrust",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateTrustRequest"},
      "output":{"shape":"UpdateTrustResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Updates the trust that has been set up between your Managed Microsoft AD directory and an self-managed Active Directory.</p>"
    },
    "VerifyTrust":{
      "name":"VerifyTrust",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"VerifyTrustRequest"},
      "output":{"shape":"VerifyTrustResult"},
      "errors":[
        {"shape":"EntityDoesNotExistException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServiceException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Directory Service for Microsoft Active Directory allows you to configure and verify trust relationships.</p> <p>This action verifies a trust relationship between your Managed Microsoft AD directory and an external domain.</p>"
    }
  },
  "shapes":{
    "ADAssessmentLimitExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ExceptionMessage"},
        "RequestId":{"shape":"RequestId"}
      },
      "documentation":"<p>A directory assessment is automatically created when you create a hybrid directory. There are two types of assessments: <code>CUSTOMER</code> and <code>SYSTEM</code>. Your Amazon Web Services account has a limit of 100 <code>CUSTOMER</code> directory assessments.</p> <p>If you attempt to create a hybrid directory; and you already have 100 <code>CUSTOMER</code> directory assessments;, you will encounter an error. Delete assessments to free up capacity before trying again.</p> <p>You can request an increase to your <code>CUSTOMER</code> directory assessment quota by contacting customer support or delete existing CUSTOMER directory assessments; to free up capacity.</p>",
      "exception":true
    },
    "AcceptSharedDirectoryRequest":{
      "type":"structure",
      "required":["SharedDirectoryId"],
      "members":{
        "SharedDirectoryId":{
          "shape":"DirectoryId",
          "documentation":"<p>Identifier of the shared directory in the directory consumer account. This identifier is different for each directory owner account. </p>"
        }
      }
    },
    "AcceptSharedDirectoryResult":{
      "type":"structure",
      "members":{
        "SharedDirectory":{
          "shape":"SharedDirectory",
          "documentation":"<p>The shared directory in the directory consumer account.</p>"
        }
      }
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ExceptionMessage"},
        "RequestId":{"shape":"RequestId"}
      },
      "documentation":"<p>You do not have sufficient access to perform this action.</p>",
      "exception":true
    },
    "AccessUrl":{
      "type":"string",
      "max":128,
      "min":1
    },
    "AddIpRoutesRequest":{
      "type":"structure",
      "required":[
        "DirectoryId",
        "IpRoutes"
      ],
      "members":{
        "DirectoryId":{
          "shape":"DirectoryId",
          "documentation":"<p>Identifier (ID) of the directory to which to add the address block.</p>"
        },
        "IpRoutes":{
          "shape":"IpRoutes",
          "documentation":"<p>IP address blocks, using CIDR format, of the traffic to route. This is often the IP address block of the DNS server used for your self-managed domain.</p>"
        },
        "UpdateSecurityGroupForDirectoryControllers":{
          "shape":"UpdateSecurityGroupForDirectoryControllers",
          "documentation":"<p>If set to true, updates the inbound and outbound rules of the security group that has the description: \"Amazon Web Services created security group for <i>directory ID</i> directory controllers.\" Following are the new rules: </p> <p>Inbound:</p> <ul> <li> <p>Type: Custom UDP Rule, Protocol: UDP, Range: 88, Source: Managed Microsoft AD VPC IPv4 CIDR</p> </li> <li> <p>Type: Custom UDP Rule, Protocol: UDP, Range: 123, Source: Managed Microsoft AD VPC IPv4 CIDR</p> </li> <li> <p>Type: Custom UDP Rule, Protocol: UDP, Range: 138, Source: Managed Microsoft AD VPC IPv4 CIDR</p> </li> <li> <p>Type: Custom UDP Rule, Protocol: UDP, Range: 389, Source: Managed Microsoft AD VPC IPv4 CIDR</p> </li> <li> <p>Type: Custom UDP Rule, Protocol: UDP, Range: 464, Source: Managed Microsoft AD VPC IPv4 CIDR</p> </li> <li> <p>Type: Custom UDP Rule, Protocol: UDP, Range: 445, Source: Managed Microsoft AD VPC IPv4 CIDR</p> </li> <li> <p>Type: Custom TCP Rule, Protocol: TCP, Range: 88, Source: Managed Microsoft AD VPC IPv4 CIDR</p> </li> <li> <p>Type: Custom TCP Rule, Protocol: TCP, Range: 135, Source: Managed Microsoft AD VPC IPv4 CIDR</p> </li> <li> <p>Type: Custom TCP Rule, Protocol: TCP, Range: 445, Source: Managed Microsoft AD VPC IPv4 CIDR</p> </li> <li> <p>Type: Custom TCP Rule, Protocol: TCP, Range: 464, Source: Managed Microsoft AD VPC IPv4 CIDR</p> </li> <li> <p>Type: Custom TCP Rule, Protocol: TCP, Range: 636, Source: Managed Microsoft AD VPC IPv4 CIDR</p> </li> <li> <p>Type: Custom TCP Rule, Protocol: TCP, Range: 1024-65535, Source: Managed Microsoft AD VPC IPv4 CIDR</p> </li> <li> <p>Type: Custom TCP Rule, Protocol: TCP, Range: 3268-33269, Source: Managed Microsoft AD VPC IPv4 CIDR</p> </li> <li> <p>Type: DNS (UDP), Protocol: UDP, Range: 53, Source: Managed Microsoft AD VPC IPv4 CIDR</p> </li> <li> <p>Type: DNS (TCP), Protocol: TCP, Range: 53, Source: Managed Microsoft AD VPC IPv4 CIDR</p> </li> <li> <p>Type: LDAP, Protocol: TCP, Range: 389, Source: Managed Microsoft AD VPC IPv4 CIDR</p> </li> <li> <p>Type: All ICMP, Protocol: All, Range: N/A, Source: Managed Microsoft AD VPC IPv4 CIDR</p> </li> </ul> <p/> <p>Outbound:</p> <ul> <li> <p>Type: All traffic, Protocol: All, Range: All, Destination: 0.0.0.0/0</p> </li> </ul> <p>These security rules impact an internal network interface that is not exposed publicly.</p>"
        }
      }
    },
    "AddIpRoutesResult":{
      "type":"structure",
      "members":{}
    },
    "AddRegionRequest":{
      "type":"structure",
      "required":[
        "DirectoryId",
        "RegionName",
        "VPCSettings"
      ],
      "members":{
        "DirectoryId":{
          "shape":"DirectoryId",
          "documentation":"<p>The identifier of the directory to which you want to add Region replication.</p>"
        },
        "RegionName":{
          "shape":"RegionName",
          "documentation":"<p>The name of the Region where you want to add domain controllers for replication. For example, <code>us-east-1</code>.</p>"
        },
        "VPCSettings":{"shape":"DirectoryVpcSettings"}
      }
    },
    "AddRegionResult":{
      "type":"structure",
      "members":{}
    },
    "AddTagsToResourceRequest":{
      "type":"structure",
      "required":[
        "ResourceId",
        "Tags"
      ],
      "members":{
        "ResourceId":{
          "shape":"ResourceId",
          "documentation":"<p>Identifier (ID) for the directory to which to add the tag.</p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>The tags to be assigned to the directory.</p>"
        }
      }
    },
    "AddTagsToResourceResult":{
      "type":"structure",
      "members":{}
    },
    "AddedDateTime":{"type":"timestamp"},
    "AdditionalRegions":{
      "type":"list",
      "member":{"shape":"RegionName"}
    },
    "AliasName":{
      "type":"string",
      "max":62,
      "min":1,
      "pattern":"^(?!D-|d-)([\\da-zA-Z]+)([-]*[\\da-zA-Z])*"
    },
    "Assessment":{
      "type":"structure",
      "members":{
        "AssessmentId":{
          "shape":"AssessmentId",
          "documentation":"<p>The unique identifier of the directory assessment.</p>"
        },
        "DirectoryId":{
          "shape":"DirectoryId",
          "documentation":"<p>The identifier of the directory associated with this assessment.</p>"
        },
        "DnsName":{
          "shape":"DirectoryName",
          "documentation":"<p>The fully qualified domain name (FQDN) of the Active Directory domain being assessed.</p>"
        },
        "StartTime":{
          "shape":"AssessmentStartTime",
          "documentation":"<p>The date and time when the assessment was initiated.</p>"
        },
        "LastUpdateDateTime":{
          "shape":"LastUpdateDateTime",
          "documentation":"<p>The date and time when the assessment status was last updated.</p>"
        },
        "Status":{
          "shape":"AssessmentStatus",
          "documentation":"<p>The current status of the assessment. Valid values include <code>SUCCESS</code>, <code>FAILED</code>, <code>PENDING</code>, and <code>IN_PROGRESS</code>.</p>"
        },
        "StatusCode":{
          "shape":"AssessmentStatusCode",
          "documentation":"<p>A detailed status code providing additional information about the assessment state.</p>"
        },
        "StatusReason":{
          "shape":"AssessmentStatusReason",
          "documentation":"<p>A human-readable description of the current assessment status, including any error details or progress information.</p>"
        },
        "CustomerDnsIps":{
          "shape":"CustomerDnsIps",
          "documentation":"<p>The IP addresses of the DNS servers or domain controllers in your self-managed AD environment.</p>"
        },
        "VpcId":{
          "shape":"VpcId",
          "documentation":"<p>Contains Amazon VPC information for the <code>StartADAssessment</code> operation. </p>"
        },
        "SubnetIds":{
          "shape":"SubnetIds",
          "documentation":"<p>A list of subnet identifiers in the Amazon VPC in which the hybrid directory is created.</p>"
        },
        "SecurityGroupIds":{
          "shape":"SecurityGroupIds",
          "documentation":"<p>The security groups identifiers attached to the network interfaces.</p>"
        },
        "SelfManagedInstanceIds":{
          "shape":"AssessmentInstanceIds",
          "documentation":"<p>The identifiers of the self-managed AD instances used to perform the assessment.</p>"
        },
        "ReportType":{
          "shape":"AssessmentReportType",
          "documentation":"<p>The type of assessment report generated. Valid values are <code>CUSTOMER</code> and <code>SYSTEM</code>.</p>"
        },
        "Version":{
          "shape":"AssessmentVersion",
          "documentation":"<p>The version of the assessment framework used to evaluate your self-managed AD environment.</p>"
        }
      },
      "documentation":"<p>Contains detailed information about a directory assessment, including configuration parameters, status, and validation results.</p>"
    },
    "AssessmentConfiguration":{
      "type":"structure",
      "required":[
        "CustomerDnsIps",
        "DnsName",
        "VpcSettings",
        "InstanceIds"
      ],
      "members":{
        "CustomerDnsIps":{
          "shape":"CustomerDnsIps",
          "documentation":"<p>A list of IP addresses for the DNS servers or domain controllers in your self-managed AD that are tested during the assessment.</p>"
        },
        "DnsName":{
          "shape":"DirectoryName",
          "documentation":"<p>The fully qualified domain name (FQDN) of the self-managed AD domain to assess.</p>"
        },
        "VpcSettings":{"shape":"DirectoryVpcSettings"},
        "InstanceIds":{
          "shape":"AssessmentInstanceIds",
          "documentation":"<p>The identifiers of the self-managed instances with SSM that are used to perform connectivity and validation tests.</p>"
        },
        "SecurityGroupIds":{
          "shape":"SecurityGroupIds",
          "documentation":"<p>By default, the service attaches a security group to allow network access to the self-managed nodes in your Amazon VPC. You can optionally supply your own security group that allows network traffic to and from your self-managed domain controllers outside of your Amazon VPC. </p>"
        }
      },
      "documentation":"<p>Contains configuration parameters required to perform a directory assessment.</p>"
    },
    "AssessmentId":{
      "type":"string",
      "pattern":"^da-[0-9a-f]{18}$"
    },
    "AssessmentInstanceId":{
      "type":"string",
      "pattern":"^(i-[0-9a-f]{8}|i-[0-9a-f]{17}|mi-[0-9a-f]{8}|mi-[0-9a-f]{17})$"
    },
    "AssessmentInstanceIds":{
      "type":"list",
      "member":{"shape":"AssessmentInstanceId"},
      "max":2,
      "min":2
    },
    "AssessmentLimit":{
      "type":"integer",
      "max":100,
      "min":1
    },
    "AssessmentReport":{
      "type":"structure",
      "members":{
        "DomainControllerIp":{
          "shape":"IpAddr",
          "documentation":"<p>The IP address of the domain controller that was tested during the assessment.</p>"
        },
        "Validations":{
          "shape":"AssessmentValidations",
          "documentation":"<p>A list of validation results for different test categories performed against this domain controller.</p>"
        }
      },
      "documentation":"<p>Contains the results of validation tests performed against a specific domain controller during a directory assessment.</p>"
    },
    "AssessmentReportType":{"type":"string"},
    "AssessmentReports":{
      "type":"list",
      "member":{"shape":"AssessmentReport"}
    },
    "AssessmentStartTime":{"type":"timestamp"},
    "AssessmentStatus":{"type":"string"},
    "AssessmentStatusCode":{"type":"string"},
    "AssessmentStatusReason":{"type":"string"},
    "AssessmentSummary":{
      "type":"structure",
      "members":{
        "AssessmentId":{
          "shape":"AssessmentId",
          "documentation":"<p>The unique identifier of the directory assessment.</p>"
        },
        "DirectoryId":{
          "shape":"DirectoryId",
          "documentation":"<p>The identifier of the directory associated with this assessment.</p>"
        },
        "DnsName":{
          "shape":"DirectoryName",
          "documentation":"<p>The fully qualified domain name (FQDN) of the Active Directory domain being assessed.</p>"
        },
        "StartTime":{
          "shape":"AssessmentStartTime",
          "documentation":"<p>The date and time when the assessment was initiated.</p>"
        },
        "LastUpdateDateTime":{
          "shape":"LastUpdateDateTime",
          "documentation":"<p>The date and time when the assessment status was last updated.</p>"
        },
        "Status":{
          "shape":"AssessmentStatus",
          "documentation":"<p>The current status of the assessment. Valid values include <code>SUCCESS</code>, <code>FAILED</code>, <code>PENDING</code>, and <code>IN_PROGRESS</code>.</p>"
        },
        "CustomerDnsIps":{
          "shape":"CustomerDnsIps",
          "documentation":"<p>The IP addresses of the DNS servers or domain controllers in your self-managed AD environment.</p>"
        },
        "ReportType":{
          "shape":"AssessmentReportType",
          "documentation":"<p>The type of assessment report generated. Valid values include <code>CUSTOMER</code> and <code>SYSTEM</code>.</p>"
        }
      },
      "documentation":"<p>Contains summary information about a directory assessment, providing a high-level overview without detailed validation results.</p>"
    },
    "AssessmentValidation":{
      "type":"structure",
      "members":{
        "Category":{
          "shape":"AssessmentValidationCategory",
          "documentation":"<p>The category of the validation test.</p>"
        },
        "Name":{
          "shape":"AssessmentValidationName",
          "documentation":"<p>The name of the specific validation test performed within the category.</p>"
        },
        "Status":{
          "shape":"AssessmentValidationStatus",
          "documentation":"<p>The result status of the validation test. Valid values include <code>SUCCESS</code>, <code>FAILED</code>, <code>PENDING</code>, and <code>IN_PROGRESS</code>.</p>"
        },
        "StatusCode":{
          "shape":"AssessmentValidationStatusCode",
          "documentation":"<p>A detailed status code providing additional information about the validation result.</p>"
        },
        "StatusReason":{
          "shape":"AssessmentValidationStatusReason",
          "documentation":"<p>A human-readable description of the validation result, including any error details or recommendations.</p>"
        },
        "StartTime":{
          "shape":"AssessmentValidationTimeStamp",
          "documentation":"<p>The date and time when the validation test was started.</p>"
        },
        "LastUpdateDateTime":{
          "shape":"AssessmentValidationTimeStamp",
          "documentation":"<p>The date and time when the validation test was completed or last updated.</p>"
        }
      },
      "documentation":"<p>Contains information about a specific validation test performed during a directory assessment.</p>"
    },
    "AssessmentValidationCategory":{"type":"string"},
    "AssessmentValidationName":{"type":"string"},
    "AssessmentValidationStatus":{"type":"string"},
    "AssessmentValidationStatusCode":{"type":"string"},
    "AssessmentValidationStatusReason":{"type":"string"},
    "AssessmentValidationTimeStamp":{"type":"timestamp"},
    "AssessmentValidations":{
      "type":"list",
      "member":{"shape":"AssessmentValidation"}
    },
    "AssessmentVersion":{"type":"string"},
    "Assessments":{
      "type":"list",
      "member":{"shape":"AssessmentSummary"}
    },
    "Attribute":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"AttributeName",
          "documentation":"<p>The name of the attribute.</p>"
        },
        "Value":{
          "shape":"AttributeValue",
          "documentation":"<p>The value of the attribute.</p>"
        }
      },
      "documentation":"<p>Represents a named directory attribute.</p>"
    },
    "AttributeName":{
      "type":"string",
      "min":1
    },
    "AttributeValue":{"type":"string"},
    "Attributes":{
      "type":"list",
      "member":{"shape":"Attribute"}
    },
    "AuthenticationFailedException":{
      "type":"structure",
      "members":{
        "Message":{
          "shape":"ExceptionMessage",
          "documentation":"<p>The textual message for the exception.</p>"
        },
        "RequestId":{
          "shape":"RequestId",
          "documentation":"<p>The identifier of the request that caused the exception.</p>"
        }
      },
      "documentation":"<p>An authentication error occurred.</p>",
      "exception":true
    },
    "AvailabilityZone":{"type":"string"},
    "AvailabilityZones":{
      "type":"list",
      "member":{"shape":"AvailabilityZone"}
    },
    "CaEnrollmentPolicyStatus":{
      "type":"string",
      "enum":[
        "InProgress",
        "Success",
        "Failed",
        "Disabling",
        "Disabled",
        "Impaired"
      ]
    },
    "CaEnrollmentPolicyStatusReason":{"type":"string"},
    "CancelSchemaExtensionRequest":{
      "type":"structure",
      "required":[
        "DirectoryId",
        "SchemaExtensionId"
      ],
      "members":{
        "DirectoryId":{
          "shape":"DirectoryId",
          "documentation":"<p>The identifier of the directory whose schema extension will be canceled.</p>"
        },
        "SchemaExtensionId":{
          "shape":"SchemaExtensionId",
          "documentation":"<p>The identifier of the schema extension that will be canceled.</p>"
        }
      }
    },
    "CancelSchemaExtensionResult":{
      "type":"structure",
      "members":{}
    },
    "Certificate":{
      "type":"structure",
      "members":{
        "CertificateId":{
          "shape":"CertificateId",
          "documentation":"<p>The identifier of the certificate.</p>"
        },
        "State":{
          "shape":"CertificateState",
          "documentation":"<p>The state of the certificate.</p>"
        },
        "StateReason":{
          "shape":"CertificateStateReason",
          "documentation":"<p>Describes a state change for the certificate.</p>"
        },
        "CommonName":{
          "shape":"CertificateCN",
          "documentation":"<p>The common name for the certificate.</p>"
        },
        "RegisteredDateTime":{
          "shape":"CertificateRegisteredDateTime",
          "documentation":"<p>The date and time that the certificate was registered.</p>"
        },
        "ExpiryDateTime":{
          "shape":"CertificateExpiryDateTime",
          "documentation":"<p>The date and time when the certificate will expire.</p>"
        },
        "Type":{
          "shape":"CertificateType",
          "documentation":"<p>The function that the registered certificate performs. Valid values include <code>ClientLDAPS</code> or <code>ClientCertAuth</code>. The default value is <code>ClientLDAPS</code>.</p>"
        },
        "ClientCertAuthSettings":{
          "shape":"ClientCertAuthSettings",
          "documentation":"<p>A <code>ClientCertAuthSettings</code> object that contains client certificate authentication settings.</p>"
        }
      },
      "documentation":"<p>Information about the certificate.</p>"
    },
    "CertificateAlreadyExistsException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ExceptionMessage"},
        "RequestId":{"shape":"RequestId"}
      },
      "documentation":"<p>The certificate has already been registered into the system.</p>",
      "exception":true
    },
    "CertificateCN":{"type":"string"},
    "CertificateData":{
      "type":"string",
      "max":8192,
      "min":1
    },
    "CertificateDoesNotExistException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ExceptionMessage"},
        "RequestId":{"shape":"RequestId"}
      },
      "documentation":"<p>The certificate is not present in the system for describe or deregister activities.</p>",
      "exception":true
    },
    "CertificateExpiryDateTime":{"type":"timestamp"},
    "CertificateId":{
      "type":"string",
      "pattern":"^c-[0-9a-f]{10}$"
    },
    "CertificateInUseException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ExceptionMessage"},
        "RequestId":{"shape":"RequestId"}
      },
      "documentation":"<p>The certificate is being used for the LDAP security connection and cannot be removed without disabling LDAP security.</p>",
      "exception":true
    },
    "CertificateInfo":{
      "type":"structure",
      "members":{
        "CertificateId":{
          "shape":"CertificateId",
          "documentation":"<p>The identifier of the certificate.</p>"
        },
        "CommonName":{
          "shape":"CertificateCN",
          "documentation":"<p>The common name for the certificate.</p>"
        },
        "State":{
          "shape":"CertificateState",
          "documentation":"<p>The state of the certificate.</p>"
        },
        "ExpiryDateTime":{
          "shape":"CertificateExpiryDateTime",
          "documentation":"<p>The date and time when the certificate will expire.</p>"
        },
        "Type":{
          "shape":"CertificateType",
          "documentation":"<p>The function that the registered certificate performs. Valid values include <code>ClientLDAPS</code> or <code>ClientCertAuth</code>. The default value is <code>ClientLDAPS</code>.</p>"
        }
      },
      "documentation":"<p>Contains general information about a certificate.</p>"
    },
    "CertificateLimitExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ExceptionMessage"},
        "RequestId":{"shape":"RequestId"}
      },
      "documentation":"<p>The certificate could not be added because the certificate limit has been reached.</p>",
      "exception":true
    },
    "CertificateRegisteredDateTime":{"type":"timestamp"},
    "CertificateState":{
      "type":"string",
      "enum":[
        "Registering",
        "Registered",
        "RegisterFailed",
        "Deregistering",
        "Deregistered",
        "DeregisterFailed"
      ]
    },
    "CertificateStateReason":{"type":"string"},
    "CertificateType":{
      "type":"string",
      "enum":[
        "ClientCertAuth",
        "ClientLDAPS"
      ]
    },
    "CertificatesInfo":{
      "type":"list",
      "member":{"shape":"CertificateInfo"}
    },
    "CidrIp":{
      "type":"string",
      "pattern":"^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\/([1-9]|[1-2][0-9]|3[0-2]))$"
    },
    "CidrIps":{
      "type":"list",
      "member":{"shape":"CidrIp"}
    },
    "ClientAuthenticationSettingInfo":{
      "type":"structure",
      "members":{
        "Type":{
          "shape":"ClientAuthenticationType",
          "documentation":"<p>The type of client authentication for the specified directory. If no type is specified, a list of all client authentication types that are supported for the directory is retrieved. </p>"
        },
        "Status":{
          "shape":"ClientAuthenticationStatus",
          "documentation":"<p>Whether the client authentication type is enabled or disabled for the specified directory.</p>"
        },
        "LastUpdatedDateTime":{
          "shape":"LastUpdatedDateTime",
          "documentation":"<p>The date and time when the status of the client authentication type was last updated.</p>"
        }
      },
      "documentation":"<p>Contains information about a client authentication method for a directory.</p>"
    },
    "ClientAuthenticationSettingsInfo":{
      "type":"list",
      "member":{"shape":"ClientAuthenticationSettingInfo"}
    },
    "ClientAuthenticationStatus":{
      "type":"string",
      "enum":[
        "Enabled",
        "Disabled"
      ]
    },
    "ClientAuthenticationType":{
      "type":"string",
      "enum":[
        "SmartCard",
        "SmartCardOrPassword"
      ]
    },
    "ClientCertAuthSettings":{
      "type":"structure",
      "members":{
        "OCSPUrl":{
          "shape":"OCSPUrl",
          "documentation":"<p>Specifies the URL of the default OCSP server used to check for revocation status. A secondary value to any OCSP address found in the AIA extension of the user certificate.</p>"
        }
      },
      "documentation":"<p>Contains information about the client certificate authentication settings for the <code>RegisterCertificate</code> and <code>DescribeCertificate</code> operations. </p>"
    },
    "ClientException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ExceptionMessage"},
        "RequestId":{"shape":"RequestId"}
      },
      "documentation":"<p>A client exception has occurred.</p>",
      "exception":true
    },
    "CloudOnlyDirectoriesLimitReached":{"type":"boolean"},
    "Computer":{
      "type":"structure",
      "members":{
        "ComputerId":{
          "shape":"SID",
          "documentation":"<p>The identifier of the computer.</p>"
        },
        "ComputerName":{
          "shape":"ComputerName",
          "documentation":"<p>The computer name.</p>"
        },
        "ComputerAttributes":{
          "shape":"Attributes",
          "documentation":"<p>An array of <a>Attribute</a> objects containing the LDAP attributes that belong to the computer account.</p>"
        }
      },
      "documentation":"<p>Contains information about a computer account in a directory.</p>"
    },
    "ComputerName":{
      "type":"string",
      "max":15,
      "min":1
    },
    "ComputerPassword":{
      "type":"string",
      "max":64,
      "min":8,
      "pattern":"[\\u0020-\\u00FF]+",
      "sensitive":true
    },
    "ConditionalForwarder":{
      "type":"structure",
      "members":{
        "RemoteDomainName":{
          "shape":"RemoteDomainName",
          "documentation":"<p>The fully qualified domain name (FQDN) of the remote domains pointed to by the conditional forwarder.</p>"
        },
        "DnsIpAddrs":{
          "shape":"DnsIpAddrs",
          "documentation":"<p>The IP addresses of the remote DNS server associated with RemoteDomainName. This is the IP address of the DNS server that your conditional forwarder points to.</p>"
        },
        "ReplicationScope":{
          "shape":"ReplicationScope",
          "documentation":"<p>The replication scope of the conditional forwarder. The only allowed value is <code>Domain</code>, which will replicate the conditional forwarder to all of the domain controllers for your Amazon Web Services directory.</p>"
        }
      },
      "documentation":"<p>Points to a remote domain with which you are setting up a trust relationship. Conditional forwarders are required in order to set up a trust relationship with another domain.</p>"
    },
    "ConditionalForwarders":{
      "type":"list",
      "member":{"shape":"ConditionalForwarder"}
    },
    "ConnectDirectoryRequest":{
      "type":"structure",
      "required":[
        "Name",
        "Password",
        "Size",
        "ConnectSettings"
      ],
      "members":{
        "Name":{
          "shape":"DirectoryName",
          "documentation":"<p>The fully qualified name of your self-managed directory, such as <code>corp.example.com</code>.</p>"
        },
        "ShortName":{
          "shape":"DirectoryShortName",
          "documentation":"<p>The NetBIOS name of your self-managed directory, such as <code>CORP</code>.</p>"
        },
        "Password":{
          "shape":"ConnectPassword",
          "documentation":"<p>The password for your self-managed user account.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>A description for the directory.</p>"
        },
        "Size":{
          "shape":"DirectorySize",
          "documentation":"<p>The size of the directory.</p>"
        },
        "ConnectSettings":{
          "shape":"DirectoryConnectSettings",
          "documentation":"<p>A <a>DirectoryConnectSettings</a> object that contains additional information for the operation.</p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>The tags to be assigned to AD Connector.</p>"
        }
      },
      "documentation":"<p>Contains the inputs for the <a>ConnectDirectory</a> operation.</p>"
    },
    "ConnectDirectoryResult":{
      "type":"structure",
      "members":{
        "DirectoryId":{
          "shape":"DirectoryId",
          "documentation":"<p>The identifier of the new directory.</p>"
        }
      },
      "documentation":"<p>Contains the results of the <a>ConnectDirectory</a> operation.</p>"
    },
    "ConnectPassword":{
      "type":"string",
      "max":128,
      "min":1,
      "sensitive":true
    },
    "ConnectedDirectoriesLimitReached":{"type":"boolean"},
    "CreateAliasRequest":{
      "type":"structure",
      "required":[
        "DirectoryId",
        "Alias"
      ],
      "members":{
        "DirectoryId":{
          "shape":"DirectoryId",
          "documentation":"<p>The identifier of the directory for which to create the alias.</p>"
        },
        "Alias":{
          "shape":"AliasName",
          "documentation":"<p>The requested alias.</p> <p>The alias must be unique amongst all aliases in Amazon Web Services. This operation throws an <code>EntityAlreadyExistsException</code> error if the alias already exists.</p>"
        }
      },
      "documentation":"<p>Contains the inputs for the <a>CreateAlias</a> operation.</p>"
    },
    "CreateAliasResult":{
      "type":"structure",
      "members":{
        "DirectoryId":{
          "shape":"DirectoryId",
          "documentation":"<p>The identifier of the directory.</p>"
        },
        "Alias":{
          "shape":"AliasName",
          "documentation":"<p>The alias for the directory.</p>"
        }
      },
      "documentation":"<p>Contains the results of the <a>CreateAlias</a> operation.</p>"
    },
    "CreateComputerRequest":{
      "type":"structure",
      "required":[
        "DirectoryId",
        "ComputerName",
        "Password"
      ],
      "members":{
        "DirectoryId":{
          "shape":"DirectoryId",
          "documentation":"<p>The identifier of the directory in which to create the computer account.</p>"
        },
        "ComputerName":{
          "shape":"ComputerName",
          "documentation":"<p>The name of the computer account.</p>"
        },
        "Password":{
          "shape":"ComputerPassword",
          "documentation":"<p>A one-time password that is used to join the computer to the directory. You should generate a random, strong password to use for this parameter.</p>"
        },
        "OrganizationalUnitDistinguishedName":{
          "shape":"OrganizationalUnitDN",
          "documentation":"<p>The fully-qualified distinguished name of the organizational unit to place the computer account in.</p>"
        },
        "ComputerAttributes":{
          "shape":"Attributes",
          "documentation":"<p>An array of <a>Attribute</a> objects that contain any LDAP attributes to apply to the computer account.</p>"
        }
      },
      "documentation":"<p>Contains the inputs for the <a>CreateComputer</a> operation.</p>"
    },
    "CreateComputerResult":{
      "type":"structure",
      "members":{
        "Computer":{
          "shape":"Computer",
          "documentation":"<p>A <a>Computer</a> object that represents the computer account.</p>"
        }
      },
      "documentation":"<p>Contains the results for the <a>CreateComputer</a> operation.</p>"
    },
    "CreateConditionalForwarderRequest":{
      "type":"structure",
      "required":[
        "DirectoryId",
        "RemoteDomainName",
        "DnsIpAddrs"
      ],
      "members":{
        "DirectoryId":{
          "shape":"DirectoryId",
          "documentation":"<p>The directory ID of the Amazon Web Services directory for which you are creating the conditional forwarder.</p>"
        },
        "RemoteDomainName":{
          "shape":"RemoteDomainName",
          "documentation":"<p>The fully qualified domain name (FQDN) of the remote domain with which you will set up a trust relationship.</p>"
        },
        "DnsIpAddrs":{
          "shape":"DnsIpAddrs",
          "documentation":"<p>The IP addresses of the remote DNS server associated with RemoteDomainName.</p>"
        }
      },
      "documentation":"<p>Initiates the creation of a conditional forwarder for your Directory Service for Microsoft Active Directory. Conditional forwarders are required in order to set up a trust relationship with another domain.</p>"
    },
    "CreateConditionalForwarderResult":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The result of a CreateConditinalForwarder request.</p>"
    },
    "CreateDirectoryRequest":{
      "type":"structure",
      "required":[
        "Name",
        "Password",
        "Size"
      ],
      "members":{
        "Name":{
          "shape":"DirectoryName",
          "documentation":"<p>The fully qualified name for the directory, such as <code>corp.example.com</code>.</p>"
        },
        "ShortName":{
          "shape":"DirectoryShortName",
          "documentation":"<p>The NetBIOS name of the directory, such as <code>CORP</code>.</p>"
        },
        "Password":{
          "shape":"Password",
[...]
