<section class="view-content">

{{gh-edit-client
    isEditing=isEditing
    client = model
    changeClientStatus=(action 'changeClientStatus')
    refreshSecret=(action 'refreshSecret')
    saveClient=(action 'saveClient')
    addUrl=(action 'addUrl')
    deleteUrl=(action 'deleteUrl')
}}
</section>
