<section class="view-content">

  <h4 class="user-list active-users">Clients</h4>
  <span>The are services which connect to Ghost - for example a desktop editor which
    allows you to send content into your Ghost account</span>

    {{#each model as |client|}}
      {{#gh-client-list-item client=client as |component|}}
        {{partial 'client-list-item'}}
      {{/gh-client-list-item}}
    {{/each}}

</section>
