<section class="view-content">
    {{#if formError}}<div class="form-error">{{formError}}</div>{{/if}}

    <div class="client-settings-panel">
      <h3 class="view-title">Clients</h3>
      <p>The are services which connect to Ghost - for example a desktop editor which
        allows you to send content into your Ghost account</p>
    </div>

    {{#each model as |client|}}
      {{gh-client-list-item
        logo=client.logo
        status=client.status
        name=client.name
        slug=client.slug
        lastUsed=client.updated_at
        id=client.id
        deleteClient=(action 'deleteClient')}}
    {{/each}}

</section>
