<section class="view-content">

{{gh-edit-client
    isEditing=isEditing
    trustedDomains=trustedDomains
    saveClient=(action 'saveClient')
    addUrl=(action 'addUrl')
    deleteUrl=(action 'deleteUrl')}}
</section>
