{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2025-03-03",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"api.iotmanagedintegrations",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"Managed integrations for AWS IoT Device Management",
    "serviceId":"IoT Managed Integrations",
    "signatureVersion":"v4",
    "signingName":"iotmanagedintegrations",
    "uid":"iot-managed-integrations-2025-03-03"
  },
  "operations":{
    "CreateAccountAssociation":{
      "name":"CreateAccountAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/account-associations",
        "responseCode":201
      },
      "input":{"shape":"CreateAccountAssociationRequest"},
      "output":{"shape":"CreateAccountAssociationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Creates a new account association via the destination id.</p>"
    },
    "CreateCloudConnector":{
      "name":"CreateCloudConnector",
      "http":{
        "method":"POST",
        "requestUri":"/cloud-connectors",
        "responseCode":201
      },
      "input":{"shape":"CreateCloudConnectorRequest"},
      "output":{"shape":"CreateCloudConnectorResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a C2C (cloud-to-cloud) connector.</p>"
    },
    "CreateConnectorDestination":{
      "name":"CreateConnectorDestination",
      "http":{
        "method":"POST",
        "requestUri":"/connector-destinations",
        "responseCode":201
      },
      "input":{"shape":"CreateConnectorDestinationRequest"},
      "output":{"shape":"CreateConnectorDestinationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Create a connector destination for connecting a cloud-to-cloud (C2C) connector to the customer's Amazon Web Services account.</p>"
    },
    "CreateCredentialLocker":{
      "name":"CreateCredentialLocker",
      "http":{
        "method":"POST",
        "requestUri":"/credential-lockers",
        "responseCode":201
      },
      "input":{"shape":"CreateCredentialLockerRequest"},
      "output":{"shape":"CreateCredentialLockerResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Create a product credential locker. This operation will trigger the creation of all the manufacturing resources including the Wi-Fi setup key pair and device certificate.</p>"
    },
    "CreateDestination":{
      "name":"CreateDestination",
      "http":{
        "method":"POST",
        "requestUri":"/destinations",
        "responseCode":201
      },
      "input":{"shape":"CreateDestinationRequest"},
      "output":{"shape":"CreateDestinationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p> Create a destination. IoT managed integrations uses the destination to determine where to deliver notifications for a device. </p>"
    },
    "CreateEventLogConfiguration":{
      "name":"CreateEventLogConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/event-log-configurations",
        "responseCode":201
      },
      "input":{"shape":"CreateEventLogConfigurationRequest"},
      "output":{"shape":"CreateEventLogConfigurationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Set the event log configuration for the account, resource type, or specific resource.</p>"
    },
    "CreateManagedThing":{
      "name":"CreateManagedThing",
      "http":{
        "method":"POST",
        "requestUri":"/managed-things",
        "responseCode":201
      },
      "input":{"shape":"CreateManagedThingRequest"},
      "output":{"shape":"CreateManagedThingResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a managed thing. A managed thing contains the device identifier, protocol supported, and capabilities of the device in a protocol-specific format.</p>"
    },
    "CreateNotificationConfiguration":{
      "name":"CreateNotificationConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/notification-configurations",
        "responseCode":201
      },
      "input":{"shape":"CreateNotificationConfigurationRequest"},
      "output":{"shape":"CreateNotificationConfigurationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a notification configuration. A configuration is a connection between an event type and a destination that you have already created. </p>"
    },
    "CreateOtaTask":{
      "name":"CreateOtaTask",
      "http":{
        "method":"POST",
        "requestUri":"/ota-tasks",
        "responseCode":201
      },
      "input":{"shape":"CreateOtaTaskRequest"},
      "output":{"shape":"CreateOtaTaskResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Create an over-the-air (OTA) task to update a device.</p>"
    },
    "CreateOtaTaskConfiguration":{
      "name":"CreateOtaTaskConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/ota-task-configurations",
        "responseCode":201
      },
      "input":{"shape":"CreateOtaTaskConfigurationRequest"},
      "output":{"shape":"CreateOtaTaskConfigurationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Create a configuraiton for the over-the-air (OTA) task.</p>"
    },
    "CreateProvisioningProfile":{
      "name":"CreateProvisioningProfile",
      "http":{
        "method":"POST",
        "requestUri":"/provisioning-profiles",
        "responseCode":201
      },
      "input":{"shape":"CreateProvisioningProfileRequest"},
      "output":{"shape":"CreateProvisioningProfileResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Create a provisioning profile for a device to execute the provisioning flows using a provisioning template. The provisioning template is a document that defines the set of resources and policies applied to a device during the provisioning process.</p>"
    },
    "DeleteAccountAssociation":{
      "name":"DeleteAccountAssociation",
      "http":{
        "method":"DELETE",
        "requestUri":"/account-associations/{AccountAssociationId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteAccountAssociationRequest"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Remove a third party account and related devices from an end user.</p>",
      "idempotent":true
    },
    "DeleteCloudConnector":{
      "name":"DeleteCloudConnector",
      "http":{
        "method":"DELETE",
        "requestUri":"/cloud-connectors/{Identifier}",
        "responseCode":200
      },
      "input":{"shape":"DeleteCloudConnectorRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Delete a cloud connector.</p>",
      "idempotent":true
    },
    "DeleteConnectorDestination":{
      "name":"DeleteConnectorDestination",
      "http":{
        "method":"DELETE",
        "requestUri":"/connector-destinations/{Identifier}",
        "responseCode":200
      },
      "input":{"shape":"DeleteConnectorDestinationRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Delete a connector destination for connecting a cloud-to-cloud (C2C) connector to the customer's Amazon Web Services account.</p>",
      "idempotent":true
    },
    "DeleteCredentialLocker":{
      "name":"DeleteCredentialLocker",
      "http":{
        "method":"DELETE",
        "requestUri":"/credential-lockers/{Identifier}",
        "responseCode":200
      },
      "input":{"shape":"DeleteCredentialLockerRequest"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Delete a credential locker. </p> <note> <p>This operation can't be undone and any existing device won't be able to use IoT managed integrations.</p> </note>",
      "idempotent":true
    },
    "DeleteDestination":{
      "name":"DeleteDestination",
      "http":{
        "method":"DELETE",
        "requestUri":"/destinations/{Name}",
        "responseCode":200
      },
      "input":{"shape":"DeleteDestinationRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a customer-managed destination specified by id. </p>",
      "idempotent":true
    },
    "DeleteEventLogConfiguration":{
      "name":"DeleteEventLogConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/event-log-configurations/{Id}",
        "responseCode":200
      },
      "input":{"shape":"DeleteEventLogConfigurationRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Delete an event log configuration.</p>",
      "idempotent":true
    },
    "DeleteManagedThing":{
      "name":"DeleteManagedThing",
      "http":{
        "method":"DELETE",
        "requestUri":"/managed-things/{Identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteManagedThingRequest"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Delete a managed thing. If a controller is deleted, all of the devices connected to it will have their status changed to <code>PENDING</code>. It is not possible to remove a cloud device.</p>",
      "idempotent":true
    },
    "DeleteNotificationConfiguration":{
      "name":"DeleteNotificationConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/notification-configurations/{EventType}",
        "responseCode":200
      },
      "input":{"shape":"DeleteNotificationConfigurationRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a notification configuration. </p>",
      "idempotent":true
    },
    "DeleteOtaTask":{
      "name":"DeleteOtaTask",
      "http":{
        "method":"DELETE",
        "requestUri":"/ota-tasks/{Identifier}",
        "responseCode":200
      },
      "input":{"shape":"DeleteOtaTaskRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Delete the over-the-air (OTA) task.</p>",
      "idempotent":true
    },
    "DeleteOtaTaskConfiguration":{
      "name":"DeleteOtaTaskConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/ota-task-configurations/{Identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteOtaTaskConfigurationRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Delete the over-the-air (OTA) task configuration.</p>",
      "idempotent":true
    },
    "DeleteProvisioningProfile":{
      "name":"DeleteProvisioningProfile",
      "http":{
        "method":"DELETE",
        "requestUri":"/provisioning-profiles/{Identifier}",
        "responseCode":200
      },
      "input":{"shape":"DeleteProvisioningProfileRequest"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Delete a provisioning profile.</p>",
      "idempotent":true
    },
    "DeregisterAccountAssociation":{
      "name":"DeregisterAccountAssociation",
      "http":{
        "method":"PUT",
        "requestUri":"/managed-thing-associations/deregister",
        "responseCode":200
      },
      "input":{"shape":"DeregisterAccountAssociationRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deregisters an account association, removing the connection between a managed thing and a third-party account.</p>",
      "idempotent":true
    },
    "GetAccountAssociation":{
      "name":"GetAccountAssociation",
      "http":{
        "method":"GET",
        "requestUri":"/account-associations/{AccountAssociationId}",
        "responseCode":200
      },
      "input":{"shape":"GetAccountAssociationRequest"},
      "output":{"shape":"GetAccountAssociationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get an account association for an Amazon Web Services account linked to a customer-managed destination.</p>"
    },
    "GetCloudConnector":{
      "name":"GetCloudConnector",
      "http":{
        "method":"GET",
        "requestUri":"/cloud-connectors/{Identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetCloudConnectorRequest"},
      "output":{"shape":"GetCloudConnectorResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets all the information about a connector for a connector developer.</p>"
    },
    "GetConnectorDestination":{
      "name":"GetConnectorDestination",
      "http":{
        "method":"GET",
        "requestUri":"/connector-destinations/{Identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetConnectorDestinationRequest"},
      "output":{"shape":"GetConnectorDestinationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get a connector destination of a cloud-to-cloud (C2C) connector connecting to a customer's Amazon Web Services account.</p>"
    },
    "GetCredentialLocker":{
      "name":"GetCredentialLocker",
      "http":{
        "method":"GET",
        "requestUri":"/credential-lockers/{Identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetCredentialLockerRequest"},
      "output":{"shape":"GetCredentialLockerResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get information on an existing credential locker</p>"
    },
    "GetCustomEndpoint":{
      "name":"GetCustomEndpoint",
      "http":{
        "method":"GET",
        "requestUri":"/custom-endpoint",
        "responseCode":200
      },
      "input":{"shape":"GetCustomEndpointRequest"},
      "output":{"shape":"GetCustomEndpointResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns the IoT managed integrations custom endpoint.</p>"
    },
    "GetDefaultEncryptionConfiguration":{
      "name":"GetDefaultEncryptionConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/configuration/account/encryption",
        "responseCode":200
      },
      "input":{"shape":"GetDefaultEncryptionConfigurationRequest"},
      "output":{"shape":"GetDefaultEncryptionConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalFailureException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p> Retrieves information about the default encryption configuration for the Amazon Web Services account in the default or specified region. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/key-management.html\">Key management</a> in the <i>AWS IoT SiteWise User Guide</i>.</p>"
    },
    "GetDestination":{
      "name":"GetDestination",
      "http":{
        "method":"GET",
        "requestUri":"/destinations/{Name}",
        "responseCode":200
      },
      "input":{"shape":"GetDestinationRequest"},
      "output":{"shape":"GetDestinationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets a destination by ID. </p>"
    },
    "GetDeviceDiscovery":{
      "name":"GetDeviceDiscovery",
      "http":{
        "method":"GET",
        "requestUri":"/device-discoveries/{Identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetDeviceDiscoveryRequest"},
      "output":{"shape":"GetDeviceDiscoveryResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p> Get the current state of a device discovery.</p>"
    },
    "GetEventLogConfiguration":{
      "name":"GetEventLogConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/event-log-configurations/{Id}",
        "responseCode":200
      },
      "input":{"shape":"GetEventLogConfigurationRequest"},
      "output":{"shape":"GetEventLogConfigurationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get an event log configuration.</p>"
    },
    "GetHubConfiguration":{
      "name":"GetHubConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/hub-configuration",
        "responseCode":200
      },
      "input":{"shape":"GetHubConfigurationRequest"},
      "output":{"shape":"GetHubConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get a hub configuration.</p>"
    },
    "GetManagedThing":{
      "name":"GetManagedThing",
      "http":{
        "method":"GET",
        "requestUri":"/managed-things/{Identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetManagedThingRequest"},
      "output":{"shape":"GetManagedThingResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p> Get the attributes and capabilities associated with a managed thing.</p>"
    },
    "GetManagedThingCapabilities":{
      "name":"GetManagedThingCapabilities",
      "http":{
        "method":"GET",
        "requestUri":"/managed-things-capabilities/{Identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetManagedThingCapabilitiesRequest"},
      "output":{"shape":"GetManagedThingCapabilitiesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get the capabilities for a managed thing using the device ID.</p>"
    },
    "GetManagedThingConnectivityData":{
      "name":"GetManagedThingConnectivityData",
      "http":{
        "method":"POST",
        "requestUri":"/managed-things-connectivity-data/{Identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetManagedThingConnectivityDataRequest"},
      "output":{"shape":"GetManagedThingConnectivityDataResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get the connectivity status of a managed thing.</p>"
    },
    "GetManagedThingMetaData":{
      "name":"GetManagedThingMetaData",
      "http":{
        "method":"GET",
        "requestUri":"/managed-things-metadata/{Identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetManagedThingMetaDataRequest"},
      "output":{"shape":"GetManagedThingMetaDataResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get the metadata information for a managed thing.</p> <note> <p>The <code>managedThing</code> <code>metadata</code> parameter is used for associating attributes with a <code>managedThing</code> that can be used for grouping over-the-air (OTA) tasks. Name value pairs in <code>metadata</code> can be used in the <code>OtaTargetQueryString</code> parameter for the <code>CreateOtaTask</code> API operation.</p> </note>"
    },
    "GetManagedThingState":{
      "name":"GetManagedThingState",
      "http":{
        "method":"GET",
        "requestUri":"/managed-thing-states/{ManagedThingId}",
        "responseCode":200
      },
      "input":{"shape":"GetManagedThingStateRequest"},
      "output":{"shape":"GetManagedThingStateResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalFailureException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p> Returns the managed thing state for the given device Id.</p>"
    },
    "GetNotificationConfiguration":{
      "name":"GetNotificationConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/notification-configurations/{EventType}",
        "responseCode":200
      },
      "input":{"shape":"GetNotificationConfigurationRequest"},
      "output":{"shape":"GetNotificationConfigurationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p> Get a notification configuration.</p>"
    },
    "GetOtaTask":{
      "name":"GetOtaTask",
      "http":{
        "method":"GET",
        "requestUri":"/ota-tasks/{Identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetOtaTaskRequest"},
      "output":{"shape":"GetOtaTaskResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get the over-the-air (OTA) task.</p>"
    },
    "GetOtaTaskConfiguration":{
      "name":"GetOtaTaskConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/ota-task-configurations/{Identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetOtaTaskConfigurationRequest"},
      "output":{"shape":"GetOtaTaskConfigurationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get a configuraiton for the over-the-air (OTA) task.</p>"
    },
    "GetProvisioningProfile":{
      "name":"GetProvisioningProfile",
      "http":{
        "method":"GET",
        "requestUri":"/provisioning-profiles/{Identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetProvisioningProfileRequest"},
      "output":{"shape":"GetProvisioningProfileResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get a provisioning profile by template name.</p>"
    },
    "GetRuntimeLogConfiguration":{
      "name":"GetRuntimeLogConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/runtime-log-configurations/{ManagedThingId}",
        "responseCode":200
      },
      "input":{"shape":"GetRuntimeLogConfigurationRequest"},
      "output":{"shape":"GetRuntimeLogConfigurationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get the runtime log configuration for a specific managed thing or for all managed things as a group.</p>"
    },
    "GetSchemaVersion":{
      "name":"GetSchemaVersion",
      "http":{
        "method":"GET",
        "requestUri":"/schema-versions/{Type}/{SchemaVersionedId}",
        "responseCode":200
      },
      "input":{"shape":"GetSchemaVersionRequest"},
      "output":{"shape":"GetSchemaVersionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets a schema version with the provided information.</p>"
    },
    "ListAccountAssociations":{
      "name":"ListAccountAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/account-associations",
        "responseCode":200
      },
      "input":{"shape":"ListAccountAssociationsRequest"},
      "output":{"shape":"ListAccountAssociationsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists all account associations, with optional filtering by connector destination ID.</p>"
    },
    "ListCloudConnectors":{
      "name":"ListCloudConnectors",
      "http":{
        "method":"GET",
        "requestUri":"/cloud-connectors",
        "responseCode":200
      },
      "input":{"shape":"ListCloudConnectorsRequest"},
      "output":{"shape":"ListCloudConnectorsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of connectors based on permissions. </p>"
    },
    "ListConnectorDestinations":{
      "name":"ListConnectorDestinations",
      "http":{
        "method":"GET",
        "requestUri":"/connector-destinations",
        "responseCode":200
      },
      "input":{"shape":"ListConnectorDestinationsRequest"},
      "output":{"shape":"ListConnectorDestinationsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists all connector destinations, with optional filtering by cloud connector ID.</p>"
    },
    "ListCredentialLockers":{
      "name":"ListCredentialLockers",
      "http":{
        "method":"GET",
        "requestUri":"/credential-lockers",
        "responseCode":200
      },
      "input":{"shape":"ListCredentialLockersRequest"},
      "output":{"shape":"ListCredentialLockersResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List information on an existing credential locker.</p>"
    },
    "ListDestinations":{
      "name":"ListDestinations",
      "http":{
        "method":"GET",
        "requestUri":"/destinations",
        "responseCode":200
      },
      "input":{"shape":"ListDestinationsRequest"},
      "output":{"shape":"ListDestinationsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p> List all destination names under one Amazon Web Services account.</p>"
    },
    "ListDeviceDiscoveries":{
      "name":"ListDeviceDiscoveries",
      "http":{
        "method":"GET",
        "requestUri":"/device-discoveries",
        "responseCode":200
      },
      "input":{"shape":"ListDeviceDiscoveriesRequest"},
      "output":{"shape":"ListDeviceDiscoveriesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists all device discovery tasks, with optional filtering by type and status.</p>"
    },
    "ListDiscoveredDevices":{
      "name":"ListDiscoveredDevices",
      "http":{
        "method":"GET",
        "requestUri":"/device-discoveries/{Identifier}/devices",
        "responseCode":200
      },
      "input":{"shape":"ListDiscoveredDevicesRequest"},
      "output":{"shape":"ListDiscoveredDevicesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists all devices discovered during a specific device discovery task.</p>"
    },
    "ListEventLogConfigurations":{
      "name":"ListEventLogConfigurations",
      "http":{
        "method":"GET",
        "requestUri":"/event-log-configurations",
        "responseCode":200
      },
      "input":{"shape":"ListEventLogConfigurationsRequest"},
      "output":{"shape":"ListEventLogConfigurationsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List all event log configurations for an account.</p>"
    },
    "ListManagedThingAccountAssociations":{
      "name":"ListManagedThingAccountAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/managed-thing-associations",
        "responseCode":200
      },
      "input":{"shape":"ListManagedThingAccountAssociationsRequest"},
      "output":{"shape":"ListManagedThingAccountAssociationsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists all account associations for a specific managed thing.</p>"
    },
    "ListManagedThingSchemas":{
      "name":"ListManagedThingSchemas",
      "http":{
        "method":"GET",
        "requestUri":"/managed-thing-schemas/{Identifier}",
        "responseCode":200
      },
      "input":{"shape":"ListManagedThingSchemasRequest"},
      "output":{"shape":"ListManagedThingSchemasResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List schemas associated with a managed thing.</p>"
    },
    "ListManagedThings":{
      "name":"ListManagedThings",
      "http":{
        "method":"GET",
        "requestUri":"/managed-things",
        "responseCode":200
      },
      "input":{"shape":"ListManagedThingsRequest"},
      "output":{"shape":"ListManagedThingsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Listing all managed things with provision for filters.</p>"
    },
    "ListNotificationConfigurations":{
      "name":"ListNotificationConfigurations",
      "http":{
        "method":"GET",
        "requestUri":"/notification-configurations",
        "responseCode":200
      },
      "input":{"shape":"ListNotificationConfigurationsRequest"},
      "output":{"shape":"ListNotificationConfigurationsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p> List all notification configurations.</p>"
    },
    "ListOtaTaskConfigurations":{
      "name":"ListOtaTaskConfigurations",
      "http":{
        "method":"GET",
        "requestUri":"/ota-task-configurations",
        "responseCode":200
      },
      "input":{"shape":"ListOtaTaskConfigurationsRequest"},
      "output":{"shape":"ListOtaTaskConfigurationsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List all of the over-the-air (OTA) task configurations.</p>"
    },
    "ListOtaTaskExecutions":{
      "name":"ListOtaTaskExecutions",
      "http":{
        "method":"GET",
        "requestUri":"/ota-tasks/{Identifier}/devices",
        "responseCode":200
      },
      "input":{"shape":"ListOtaTaskExecutionsRequest"},
      "output":{"shape":"ListOtaTaskExecutionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>List all of the over-the-air (OTA) task executions.</p>"
    },
    "ListOtaTasks":{
      "name":"ListOtaTasks",
      "http":{
        "method":"GET",
        "requestUri":"/ota-tasks",
        "responseCode":200
      },
      "input":{"shape":"ListOtaTasksRequest"},
      "output":{"shape":"ListOtaTasksResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>List all of the over-the-air (OTA) tasks.</p>"
    },
    "ListProvisioningProfiles":{
      "name":"ListProvisioningProfiles",
      "http":{
        "method":"GET",
        "requestUri":"/provisioning-profiles",
        "responseCode":200
      },
      "input":{"shape":"ListProvisioningProfilesRequest"},
      "output":{"shape":"ListProvisioningProfilesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List the provisioning profiles within the Amazon Web Services account.</p>"
    },
    "ListSchemaVersions":{
      "name":"ListSchemaVersions",
      "http":{
        "method":"GET",
        "requestUri":"/schema-versions/{Type}",
        "responseCode":200
      },
      "input":{"shape":"ListSchemaVersionsRequest"},
      "output":{"shape":"ListSchemaVersionsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists schema versions with the provided information.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{ResourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List tags for the specified resource.</p>"
    },
    "PutDefaultEncryptionConfiguration":{
      "name":"PutDefaultEncryptionConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/configuration/account/encryption",
        "responseCode":201
      },
      "input":{"shape":"PutDefaultEncryptionConfigurationRequest"},
      "output":{"shape":"PutDefaultEncryptionConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalFailureException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Sets the default encryption configuration for the Amazon Web Services account. For more information, see <a href=\"https://docs.aws.amazon.com/iot-sitewise/latest/userguide/key-management.html\">Key management</a> in the AWS IoT SiteWise User Guide.</p>"
    },
    "PutHubConfiguration":{
      "name":"PutHubConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/hub-configuration",
        "responseCode":201
      },
      "input":{"shape":"PutHubConfigurationRequest"},
      "output":{"shape":"PutHubConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update a hub configuration.</p>",
      "idempotent":true
    },
    "PutRuntimeLogConfiguration":{
      "name":"PutRuntimeLogConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/runtime-log-configurations/{ManagedThingId}",
        "responseCode":200
      },
      "input":{"shape":"PutRuntimeLogConfigurationRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Set the runtime log configuration for a specific managed thing or for all managed things as a group.</p>",
      "idempotent":true
    },
    "RegisterAccountAssociation":{
      "name":"RegisterAccountAssociation",
      "http":{
        "method":"PUT",
        "requestUri":"/managed-thing-associations/register",
        "responseCode":201
      },
      "input":{"shape":"RegisterAccountAssociationRequest"},
      "output":{"shape":"RegisterAccountAssociationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Registers an account association with a managed thing, establishing a connection between a device and a third-party account.</p>",
      "idempotent":true
    },
    "RegisterCustomEndpoint":{
      "name":"RegisterCustomEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/custom-endpoint",
        "responseCode":201
      },
      "input":{"shape":"RegisterCustomEndpointRequest"},
      "output":{"shape":"RegisterCustomEndpointResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Customers can request IoT managed integrations to manage the server trust for them or bring their own external server trusts for the custom domain. Returns an IoT managed integrations endpoint.</p>"
    },
    "ResetRuntimeLogConfiguration":{
      "name":"ResetRuntimeLogConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/runtime-log-configurations/{ManagedThingId}",
        "responseCode":200
      },
      "input":{"shape":"ResetRuntimeLogConfigurationRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Reset a runtime log configuration for a specific managed thing or for all managed things as a group.</p>",
      "idempotent":true
    },
    "SendConnectorEvent":{
      "name":"SendConnectorEvent",
      "http":{
        "method":"POST",
        "requestUri":"/connector-event/{ConnectorId}",
        "responseCode":202
      },
      "input":{"shape":"SendConnectorEventRequest"},
      "output":{"shape":"SendConnectorEventResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Relays third-party device events for a connector such as a new device or a device state change event.</p>",
      "idempotent":true
    },
    "SendManagedThingCommand":{
      "name":"SendManagedThingCommand",
      "http":{
        "method":"POST",
        "requestUri":"/managed-things-command/{ManagedThingId}",
        "responseCode":202
      },
      "input":{"shape":"SendManagedThingCommandRequest"},
      "output":{"shape":"SendManagedThingCommandResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Send the command to the device represented by the managed thing. </p>"
    },
    "StartAccountAssociationRefresh":{
      "name":"StartAccountAssociationRefresh",
      "http":{
        "method":"POST",
        "requestUri":"/account-associations/{AccountAssociationId}/refresh",
        "responseCode":200
      },
      "input":{"shape":"StartAccountAssociationRefreshRequest"},
      "output":{"shape":"StartAccountAssociationRefreshResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Initiates a refresh of an existing account association to update its authorization and connection status.</p>"
    },
    "StartDeviceDiscovery":{
      "name":"StartDeviceDiscovery",
      "http":{
        "method":"POST",
        "requestUri":"/device-discoveries",
        "responseCode":201
      },
      "input":{"shape":"StartDeviceDiscoveryRequest"},
      "output":{"shape":"StartDeviceDiscoveryResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p> This API is used to start device discovery for hub-connected and third-party-connected devices. The authentication material (install code) is passed as a message to the controller telling it to start the discovery.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{ResourceArn}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Add tags for the specified resource.</p>",
      "idempotent":true
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{ResourceArn}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Remove tags for the specified resource.</p>",
      "idempotent":true
    },
    "UpdateAccountAssociation":{
      "name":"UpdateAccountAssociation",
      "http":{
        "method":"PUT",
        "requestUri":"/account-associations/{AccountAssociationId}",
        "responseCode":204
      },
      "input":{"shape":"UpdateAccountAssociationRequest"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates the properties of an existing account association.</p>",
      "idempotent":true
    },
    "UpdateCloudConnector":{
      "name":"UpdateCloudConnector",
      "http":{
        "method":"PUT",
        "requestUri":"/cloud-connectors/{Identifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateCloudConnectorRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update an existing cloud connector.</p>",
      "idempotent":true
    },
    "UpdateConnectorDestination":{
      "name":"UpdateConnectorDestination",
      "http":{
        "method":"PUT",
        "requestUri":"/connector-destinations/{Identifier}",
        "responseCode":204
      },
      "input":{"shape":"UpdateConnectorDestinationRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates the properties of an existing connector destination.</p>",
      "idempotent":true
    },
    "UpdateDestination":{
      "name":"UpdateDestination",
      "http":{
        "method":"PUT",
        "requestUri":"/destinations/{Name}",
        "responseCode":201
      },
      "input":{"shape":"UpdateDestinationRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p> Update a destination specified by id. </p>",
      "idempotent":true
    },
    "UpdateEventLogConfiguration":{
      "name":"UpdateEventLogConfiguration",
      "http":{
        "method":"PATCH",
        "requestUri":"/event-log-configurations/{Id}",
        "responseCode":200
      },
      "input":{"shape":"UpdateEventLogConfigurationRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update an event log configuration by log configuration ID.</p>",
      "idempotent":true
    },
    "UpdateManagedThing":{
      "name":"UpdateManagedThing",
      "http":{
        "method":"PUT",
        "requestUri":"/managed-things/{Identifier}",
        "responseCode":204
      },
      "input":{"shape":"UpdateManagedThingRequest"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update the attributes and capabilities associated with a managed thing.</p>",
      "idempotent":true
    },
    "UpdateNotificationConfiguration":{
      "name":"UpdateNotificationConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/notification-configurations/{EventType}",
        "responseCode":201
      },
      "input":{"shape":"UpdateNotificationConfigurationRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p> Update a notification configuration.</p>",
      "idempotent":true
    },
    "UpdateOtaTask":{
      "name":"UpdateOtaTask",
      "http":{
        "method":"PUT",
        "requestUri":"/ota-tasks/{Identifier}",
        "responseCode":204
      },
      "input":{"shape":"UpdateOtaTaskRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update an over-the-air (OTA) task.</p>",
      "idempotent":true
    }
  },
  "shapes":{
    "AbortConfigCriteria":{
      "type":"structure",
      "members":{
        "Action":{
          "shape":"AbortCriteriaAction",
          "documentation":"<p>The action taken by the abort configuration.</p>"
        },
        "FailureType":{
          "shape":"AbortCriteriaFailureType",
          "documentation":"<p>Over-the-air (OTA) task abort criteria failure type.</p>"
        },
        "MinNumberOfExecutedThings":{
          "shape":"MinNumberOfExecutedThings",
          "documentation":"<p>The minimum number of things that must receive task execution notifications before the task can be aborted.</p>"
        },
        "ThresholdPercentage":{
          "shape":"ThresholdPercentage",
          "documentation":"<p>The minimum percentage of over-the-air (OTA) task execution failures that must occur to initiate the last abort.</p>"
        }
      },
      "documentation":"<p>Structure representing one abort config criteria.</p>"
    },
    "AbortConfigCriteriaList":{
      "type":"list",
      "member":{"shape":"AbortConfigCriteria"}
    },
    "AbortCriteriaAction":{
      "type":"string",
      "enum":["CANCEL"]
    },
    "AbortCriteriaFailureType":{
      "type":"string",
      "enum":[
        "FAILED",
        "REJECTED",
        "TIMED_OUT",
        "ALL"
      ]
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>User is not authorized.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AccountAssociationArn":{
      "type":"string",
      "max":1011,
      "min":67,
      "pattern":"arn:aws:iotmanagedintegrations:[0-9a-zA-Z-]+:[0-9]+:account-association/[0-9a-zA-Z]+"
    },
    "AccountAssociationDescription":{
      "type":"string",
      "max":4096,
      "min":1,
      "pattern":"[A-Za-z0-9-_ ]+"
    },
    "AccountAssociationErrorMessage":{
      "type":"string",
      "max":4096,
      "min":1,
      "pattern":"[A-Za-z0-9-_ ]+"
    },
    "AccountAssociationId":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[0-9a-zA-Z]+"
    },
    "AccountAssociationItem":{
      "type":"structure",
      "required":[
        "AccountAssociationId",
        "AssociationState"
      ],
      "members":{
        "AccountAssociationId":{
          "shape":"AccountAssociationId",
          "documentation":"<p>The unique identifier of the account association.</p>"
        },
        "AssociationState":{
          "shape":"AssociationState",
          "documentation":"<p>The current state of the account association, indicating its status in the association lifecycle.</p>"
        },
        "ErrorMessage":{
          "shape":"AccountAssociationErrorMessage",
          "documentation":"<p>The error message explaining any issues with the account association, if applicable.</p>"
        },
        "ConnectorDestinationId":{
          "shape":"ConnectorDestinationId",
          "documentation":"<p>The identifier of the connector destination associated with this account association.</p>"
        },
        "Name":{
          "shape":"AccountAssociationName",
          "documentation":"<p>The name of the account association.</p>"
        },
        "Description":{
          "shape":"AccountAssociationDescription",
          "documentation":"<p>A description of the account association.</p>"
        },
        "Arn":{
          "shape":"AccountAssociationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the account association.</p>"
        }
      },
      "documentation":"<p>Structure containing information about an account association, including its identifier, state, and related metadata.</p>"
    },
    "AccountAssociationListDefinition":{
      "type":"list",
      "member":{"shape":"AccountAssociationItem"}
    },
    "AccountAssociationName":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[A-Za-z0-9-_ ]+"
    },
    "ActionName":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[/a-zA-Z0-9\\._ ]+"
    },
    "ActionReference":{
      "type":"string",
      "pattern":"[a-zA-Z.]+"
    },
    "ActionTraceId":{
      "type":"string",
      "max":20,
      "min":16,
      "pattern":"[a-zA-Z0-9]+=(?:_[0-9]+)?"
    },
    "AdvertisedProductId":{
      "type":"string",
      "max":5,
      "min":5,
      "pattern":"([A-Za-z0-9!#$%&()*\\+\\-;<=>?@^_`{|}~])+"
    },
    "AssociationState":{
      "type":"string",
      "enum":[
        "ASSOCIATION_IN_PROGRESS",
        "ASSOCIATION_FAILED",
        "ASSOCIATION_SUCCEEDED",
        "ASSOCIATION_DELETING",
        "REFRESH_TOKEN_EXPIRED"
      ]
    },
    "AttributeName":{
      "type":"string",
      "max":128,
      "min":0,
      "pattern":".*[a-zA-Z0-9_.,@/:#-]+.*"
    },
    "AttributeValue":{
      "type":"string",
      "max":800,
      "min":0,
      "pattern":".*[a-zA-Z0-9_.,@/:#-]*.*"
    },
    "AuthConfig":{
      "type":"structure",
      "members":{
        "oAuth":{
          "shape":"OAuthConfig",
          "documentation":"<p>The OAuth configuration settings used for authentication with the third-party service.</p>"
        }
      },
      "documentation":"<p>The authentication configuration details for a connector destination, including OAuth settings and other authentication parameters.</p>"
    },
    "AuthConfigUpdate":{
      "type":"structure",
      "members":{
        "oAuthUpdate":{
          "shape":"OAuthUpdate",
          "documentation":"<p>The updated OAuth configuration settings for the authentication configuration.</p>"
        }
      },
      "documentation":"<p>The updated authentication configuration details for a connector destination.</p>"
    },
    "AuthMaterialString":{
      "type":"string",
      "max":512,
      "min":1,
      "pattern":"[0-9A-Za-z!#$%&()*\\+\\-;<=>?@^_`{|}~\\/: {},\\\\\"]+",
      "sensitive":true
    },
    "AuthMaterialType":{
      "type":"string",
      "enum":[
        "CUSTOM_PROTOCOL_QR_BAR_CODE",
        "WIFI_SETUP_QR_BAR_CODE",
        "ZWAVE_QR_BAR_CODE",
        "ZIGBEE_QR_BAR_CODE",
        "DISCOVERED_DEVICE"
      ]
    },
    "AuthType":{
      "type":"string",
      "enum":["OAUTH"]
    },
    "AuthUrl":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"https?:\\/\\/(www\\.)?[-a-zA-Z0-9@:%._\\+~#=]{1,256}\\.[a-zA-Z0-9()]{1,6}([-a-zA-Z0-9()@:%_\\+.~#?&\\/=]*)"
    },
    "BaseRatePerMinute":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "Brand":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[A-Za-z0-9-_ ]+",
      "sensitive":true
    },
    "CaCertificate":{
      "type":"string",
      "pattern":"-----BEGIN CERTIFICATE-----.*(.|\\n)*-----END CERTIFICATE-----\\n?",
      "sensitive":true
    },
    "Capabilities":{
      "type":"string",
      "max":65535,
      "min":1,
      "pattern":"[a-zA-Z0-9\\s'\\x{0022},.:\\\\\\/{$}\\[\\]=_\\-\\+]+"
    },
    "CapabilityAction":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"CapabilityActionName",
          "documentation":"<p>Describe a capability action with a name.</p>"
        },
        "ref":{
          "shape":"ActionReference",
          "documentation":"<p>Describe a capability action with an reference.</p>"
        },
        "actionTraceId":{
          "shape":"ActionTraceId",
          "documentation":"<p>Describe a capability action with an <code>actionTraceId</code> for a response command.</p>"
        },
        "parameters":{
          "shape":"CapabilityProperties",
          "documentation":"<p>Describe a capability action with a capability property.</p>"
        }
      },
      "documentation":"<p>Action for an Amazon Web Services capability, containing the action parameters for control.</p>"
    },
    "CapabilityActionName":{
      "type":"string",
      "pattern":"[/a-zA-Z]+"
    },
    "CapabilityActions":{
      "type":"list",
      "member":{"shape":"CapabilityAction"},
      "max":5,
      "min":1
    },
    "CapabilityId":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[a-zA-Z0-9./]+(@\\d+\\.\\d+)?"
    },
    "CapabilityName":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[/a-zA-Z0-9\\._ ]+"
    },
    "CapabilityProperties":{
      "type":"structure",
      "members":{
      },
      "document":true,
      "sensitive":true
    },
    "CapabilityReport":{
      "type":"structure",
      "required":[
        "version",
        "endpoints"
      ],
      "members":{
        "version":{
          "shape":"CapabilityReportVersion",
          "documentation":"<p>The version of the capability report.</p>"
        },
        "nodeId":{
          "shape":"NodeId",
          "documentation":"<p>The numeric identifier of the node.</p>"
        },
        "endpoints":{
          "shape":"CapabilityReportEndpoints",
          "documentation":"<p>The endpoints used in the capability report.</p>"
        }
      },
      "documentation":"<p>Report of all capabilities supported by the device.</p>"
    },
    "CapabilityReportActions":{
      "type":"list",
      "member":{"shape":"ActionName"},
      "max":100,
      "min":0
    },
    "CapabilityReportCapabilities":{
      "type":"list",
      "member":{"shape":"CapabilityReportCapability"},
      "max":40,
      "min":0
    },
    "CapabilityReportCapability":{
      "type":"structure",
      "required":[
        "id",
        "name",
        "version",
        "properties",
        "actions",
        "events"
      ],
      "members":{
        "id":{
          "shape":"SchemaVersionedId",
          "documentation":"<p>The id of the schema version.</p>"
        },
        "name":{
          "shape":"CapabilityName",
          "documentation":"<p>The name of the capability.</p>"
        },
        "version":{
          "shape":"CapabilityVersion",
          "documentation":"<p>The version of the capability.</p>"
        },
        "properties":{
          "shape":"CapabilityReportProperties",
          "documentation":"<p>The capability properties used in the capability report.</p>"
        },
        "actions":{
          "shape":"CapabilityReportActions",
          "documentation":"<p>The capability actions used in the capability report.</p>"
        },
        "events":{
          "shape":"CapabilityReportEvents",
          "documentation":"<p>The capability events used in the capability report.</p>"
        }
      },
      "documentation":"<p>The capability used in capability report.</p>"
    },
    "CapabilityReportEndpoint":{
      "type":"structure",
      "required":[
        "id",
        "deviceTypes",
        "capabilities"
      ],
      "members":{
        "id":{
          "shape":"EndpointId",
          "documentation":"<p>The id of the endpoint used in the capability report.</p>"
        },
        "deviceTypes":{
          "shape":"DeviceTypes",
          "documentation":"<p>The type of device.</p>"
        },
        "capabilities":{
          "shape":"CapabilityReportCapabilities",
          "documentation":"<p>The capabilities used in the capability report.</p>"
        }
      },
      "documentation":"<p>The endpoint used in the capability report.</p>"
    },
    "CapabilityReportEndpoints":{
      "type":"list",
      "member":{"shape":"CapabilityReportEndpoint"},
      "max":40,
      "min":0
    },
    "CapabilityReportEvents":{
      "type":"list",
      "member":{"shape":"EventName"},
      "max":100,
      "min":0
    },
    "CapabilityReportProperties":{
      "type":"list",
      "member":{"shape":"PropertyName"},
      "max":100,
      "min":0
    },
    "CapabilityReportVersion":{
      "type":"string",
      "max":10,
      "min":1,
      "pattern":"1\\.0\\.0"
    },
    "CapabilitySchemaItem":{
      "type":"structure",
      "required":[
        "Format",
        "CapabilityId",
        "ExtrinsicId",
        "ExtrinsicVersion",
        "Schema"
      ],
      "members":{
        "Format":{
          "shape":"SchemaVersionFormat",
          "documentation":"<p>The format of the capability schema, which defines how the schema is structured and interpreted.</p>"
        },
        "CapabilityId":{
          "shape":"SchemaVersionedId",
          "documentation":"<p>The unique identifier of the capability defined in the schema.</p>"
        },
        "ExtrinsicId":{
          "shape":"ExtrinsicSchemaId",
          "documentation":"<p>The external identifier for the capability, used when referencing the capability outside of the AWS ecosystem.</p>"
        },
        "ExtrinsicVersion":{
          "shape":"MatterCapabilityReportClusterRevisionId",
          "documentation":"<p>The version of the external capability definition, used to track compatibility with external systems.</p>"
        },
        "Schema":{
          "shape":"ValidationSchema",
          "documentation":"<p>The actual schema definition that describes the capability's properties, actions, and events.</p>"
        }
      },
      "documentation":"<p>Structure representing a capability schema item that defines the functionality and features supported by a managed thing.</p>"
    },
    "CapabilitySchemas":{
      "type":"list",
      "member":{"shape":"CapabilitySchemaItem"},
      "max":40,
      "min":0
    },
    "CapabilityVersion":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"(0|[1-9][0-9]*)"
    },
    "ClaimCertificate":{
      "type":"string",
      "sensitive":true
    },
    "ClaimCertificatePrivateKey":{
      "type":"string",
      "sensitive":true
    },
    "Classification":{
      "type":"string",
      "max":64,
      "min":1,
      "sensitive":true
    },
    "ClientToken":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-zA-Z0-9=_-]+"
    },
    "CloudConnectorDescription":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[0-9A-Za-z_\\- ]+"
    },
    "CloudConnectorId":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[A-Za-z0-9-_]+"
    },
    "CloudConnectorType":{
      "type":"string",
      "enum":[
        "LISTED",
        "UNLISTED"
      ]
    },
    "ClusterId":{
      "type":"string",
      "max":24,
      "min":1,
      "pattern":"0[xX][0-9a-fA-F]+$|^[0-9]+"
    },
    "CommandCapabilities":{
      "type":"list",
      "member":{"shape":"CommandCapability"},
      "max":5,
      "min":1
    },
    "CommandCapability":{
      "type":"structure",
      "required":[
        "id",
        "name",
        "version",
        "actions"
      ],
      "members":{
        "id":{
          "shape":"SchemaVersionedId",
          "documentation":"<p>Describe the capability with an id.</p>"
        },
        "name":{
          "shape":"CapabilityName",
          "documentation":"<p>Describe the capability with an name.</p>"
        },
        "version":{
          "shape":"CapabilityVersion",
          "documentation":"<p>Describe the capability with a version.</p>"
        },
        "actions":{
          "shape":"CapabilityActions",
          "documentation":"<p>Describe the command capability with the actions it supports.</p>"
        }
      },
      "documentation":"<p>The command capabilities added for the managed thing</p>"
    },
    "CommandEndpoint":{
      "type":"structure",
      "required":[
        "endpointId",
        "capabilities"
      ],
      "members":{
        "endpointId":{
          "shape":"EndpointId",
          "documentation":"<p>The id of the endpoint for a managed thing.</p>"
        },
        "capabilities":{
          "shape":"CommandCapabilities",
          "documentation":"<p>Describe the endpoint with an id, a name, and the relevant capabilities for sending commands.</p>"
        }
      },
      "documentation":"<p>The endpoint for a managed thing when sending a command.</p>"
    },
    "CommandEndpoints":{
      "type":"list",
      "member":{"shape":"CommandEndpoint"},
      "max":5,
      "min":1
    },
    "ConfigurationError":{
      "type":"structure",
      "members":{
        "code":{
          "shape":"ConfigurationErrorCode",
          "documentation":"<p>The error code returned when the default encryption configuration update fails.</p>"
        },
        "message":{
          "shape":"ConfigurationErrorMessage",
          "documentation":"<p>The error message returned when the default encryption configuration update fails.</p>"
        }
      },
      "documentation":"<p>Provides the default encryption configuration error update details.</p>"
    },
    "ConfigurationErrorCode":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[a-zA-Z0-9_-]+"
    },
    "ConfigurationErrorMessage":{
      "type":"string",
      "max":65535,
      "min":1,
      "pattern":"[a-zA-Z0-9\\-._,]+"
    },
    "ConfigurationState":{
      "type":"string",
      "enum":[
        "ENABLED",
        "UPDATE_IN_PROGRESS",
        "UPDATE_FAILED"
      ]
    },
    "ConfigurationStatus":{
      "type":"structure",
      "required":["state"],
      "members":{
        "error":{
          "shape":"ConfigurationError",
          "documentation":"<p>The error details describing a failed default encryption configuration update.</p>"
        },
        "state":{
          "shape":"ConfigurationState",
          "documentation":"<p>The status state describing the default encryption configuration update.</p>"
        }
      },
      "documentation":"<p>Provides the status of the default encryption configuration for an Amazon Web Services account.</p>"
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>There is a conflict with the request.</p>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "ConnectivityStatus":{
      "type":"boolean",
      "box":true
    },
    "ConnectivityTimestamp":{"type":"timestamp"},
    "ConnectorAssociationId":{
      "type":"string",
      "deprecated":true,
      "deprecatedMessage":"ConnectorAssociationId is deprecated",
      "deprecatedSince":"2025-06-25",
      "max":64,
      "min":1,
      "pattern":"[0-9a-zA-Z]+"
    },
    "ConnectorDestinationDescription":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[0-9A-Za-z_\\- ]+"
    },
    "ConnectorDestinationId":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[A-Za-z0-9-_]+"
    },
    "ConnectorDestinationListDefinition":{
      "type":"list",
      "member":{"shape":"ConnectorDestinationSummary"}
    },
    "ConnectorDestinationName":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[A-Za-z0-9-_ ]+"
    },
    "ConnectorDestinationSummary":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"ConnectorDestinationName",
          "documentation":"<p>The display name of the connector destination.</p>"
        },
        "Description":{
          "shape":"ConnectorDestinationDescription",
          "documentation":"<p>A description of the connector destination.</p>"
        },
        "CloudConnectorId":{
          "shape":"CloudConnectorId",
          "documentation":"<p>The identifier of the cloud connector associated with this connector destination.</p>"
        },
        "Id":{
          "shape":"ConnectorDestinationId",
          "documentation":"<p>The unique identifier of the connector destination.</p>"
        }
      },
      "documentation":"<p>Structure containing summary information about a connector destination, which defines how a cloud-to-cloud connector connects to a customer's AWS account.</p>"
    },
    "ConnectorDeviceId":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[a-zA-Z0-9_.,@-]+",
      "sensitive":true
    },
    "ConnectorDeviceName":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[\\p{L}\\p{N} ._-]+",
      "sensitive":true
    },
    "ConnectorEventMessage":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[\\sa-zA-Z0-9_.,@-]+",
      "sensitive":true
    },
    "ConnectorEventOperation":{
      "type":"string",
      "enum":[
        "DEVICE_COMMAND_RESPONSE",
        "DEVICE_DISCOVERY",
        "DEVICE_EVENT",
        "DEVICE_COMMAND_REQUEST"
      ]
    },
    "ConnectorEventOperationVersion":{
      "type":"string",
      "max":6,
      "min":1,
      "pattern":"[0-9.]+",
      "sensitive":true
    },
    "ConnectorEventStatusCode":{
      "type":"integer",
      "box":true,
      "max":550,
      "min":100,
      "sensitive":true
    },
    "ConnectorId":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[A-Za-z0-9-_]+"
    },
    "ConnectorItem":{
      "type":"structure",
      "required":[
        "Name",
        "EndpointConfig"
      ],
      "members":{
        "Name":{
          "shape":"DisplayName",
          "documentation":"<p>The display name of the C2C connector.</p>"
        },
        "EndpointConfig":{
          "shape":"EndpointConfig",
          "documentation":"<p>The configuration details for the cloud connector endpoint, including connection parameters and authentication requirements.</p>"
        },
        "Description":{
          "shape":"CloudConnectorDescription",
          "documentation":"<p>A description of the C2C connector.</p>"
        },
        "EndpointType":{
          "shape":"EndpointType",
          "documentation":"<p>The type of endpoint used for the C2C connector.</p>"
        },
        "Id":{
          "shape":"CloudConnectorId",
          "documentation":"<p>The identifier of the C2C connector.</p>"
        },
        "Type":{
          "shape":"CloudConnectorType",
          "documentation":"<p>The type of cloud connector created.</p>"
        }
      },
      "documentation":"<p>Structure describing a connector.</p>"
    },
    "ConnectorList":{
      "type":"list",
      "member":{"shape":"ConnectorItem"}
    },
    "ConnectorPolicyId":{
      "type":"string",
      "deprecated":true,
      "deprecatedMessage":"ConnectorPolicyId is deprecated",
      "deprecatedSince":"2025-06-25",
      "max":64,
      "min":1,
      "pattern":"[A-Za-z0-9-_]+"
    },
    "CreateAccountAssociationRequest":{
      "type":"structure",
      "required":["ConnectorDestinationId"],
      "members":{
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>An idempotency token. If you retry a request that completed successfully initially using the same client token and parameters, then the retry attempt will succeed without performing any further actions.</p>",
          "idempotencyToken":true
        },
        "ConnectorDestinationId":{
          "shape":"ConnectorDestinationId",
          "documentation":"<p>The identifier of the connector destination.</p>"
        },
        "Name":{
          "shape":"AccountAssociationName",
          "documentation":"<p>The name of the destination for the new account association.</p>"
        },
        "Description":{
          "shape":"AccountAssociationDescription",
          "documentation":"<p>A description of the account association request.</p>"
        },
        "Tags":{
          "shape":"TagsMap",
          "documentation":"<p>A set of key/value pairs that are used to manage the account association.</p>"
        }
      }
    },
    "CreateAccountAssociationResponse":{
      "type":"structure",
      "required":[
        "OAuthAuthorizationUrl",
        "AccountAssociationId",
        "AssociationState"
      ],
      "members":{
        "OAuthAuthorizationUrl":{
          "shape":"OAuthAuthorizationUrl",
          "documentation":"<p>Third-party IoT platform OAuth authorization server URL backed with all the required parameters to perform end-user authentication.</p>"
        },
        "AccountAssociationId":{
          "shape":"AccountAssociationId",
          "documentation":"<p>The identifier for the account association request.</p>"
        },
        "AssociationState":{
          "shape":"AssociationState",
          "documentation":"<p>The current state of the account association request.</p>"
        },
        "Arn":{
          "shape":"AccountAssociationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the account association.</p>"
        }
      }
    },
    "CreateCloudConnectorRequest":{
      "type":"structure",
      "required":[
        "Name",
        "EndpointConfig"
      ],
      "members":{
        "Name":{
          "shape":"DisplayName",
          "documentation":"<p>The display name of the C2C connector.</p>"
        },
        "EndpointConfig":{
          "shape":"EndpointConfig",
          "documentation":"<p>The configuration details for the cloud connector endpoint, including connection parameters and authentication requirements.</p>"
        },
        "Description":{
          "shape":"CloudConnectorDescription",
          "documentation":"<p>A description of the C2C connector.</p>"
        },
        "EndpointType":{
          "shape":"EndpointType",
          "documentation":"<p>The type of endpoint used for the cloud connector, which defines how the connector communicates with external services.</p>"
        },
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>An idempotency token. If you retry a request that completed successfully initially using the same client token and parameters, then the retry attempt will succeed without performing any further actions.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateCloudConnectorResponse":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"CloudConnectorId",
          "documentation":"<p>The unique identifier assigned to the newly created cloud connector.</p>"
        }
      }
    },
    "CreateConnectorDestinationRequest":{
      "type":"structure",
      "required":[
        "CloudConnectorId",
        "AuthType",
        "AuthConfig",
        "SecretsManager"
      ],
      "members":{
        "Name":{
          "shape":"ConnectorDestinationName",
          "documentation":"<p>The display name of the connector destination.</p>"
        },
        "Description":{
          "shape":"ConnectorDestinationDescription",
          "documentation":"<p>A description of the connector destination.</p>"
        },
        "CloudConnectorId":{
          "shape":"CloudConnectorId",
          "documentation":"<p>The identifier of the C2C connector.</p>"
        },
        "AuthType":{
          "shape":"AuthType",
          "documentation":"<p>The authentication type used for the connector destination, which determines how credentials and access are managed.</p>"
        },
        "AuthConfig":{
          "shape":"AuthConfig",
          "documentation":"<p>The authentication configuration details for the connector destination, including OAuth settings and other authentication parameters.</p>"
        },
        "SecretsManager":{
          "shape":"SecretsManager",
          "documentation":"<p>The AWS Secrets Manager configuration used to securely store and manage sensitive information for the connector destination.</p>"
        },
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>An idempotency token. If you retry a request that completed successfully initially using the same client token and parameters, then the retry attempt will succeed without performing any further actions.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateConnectorDestinationResponse":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"ConnectorDestinationId",
          "documentation":"<p>The identifier of the C2C connector destination creation request.</p>"
        }
      }
    },
    "CreateCredentialLockerRequest":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"CredentialLockerName",
          "documentation":"<p>The name of the credential locker.</p>"
        },
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>An idempotency token. If you retry a request that completed successfully initially using the same client token and parameters, then the retry attempt will succeed without performing any further actions.</p>",
          "idempotencyToken":true
        },
        "Tags":{
          "shape":"TagsMap",
          "documentation":"<p>A set of key/value pairs that are used to manage the credential locker.</p>"
        }
      }
    },
    "CreateCredentialLockerResponse":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"CredentialLockerId",
          "documentation":"<p>The identifier of the credential locker creation request.</p>"
        },
        "Arn":{
          "shape":"CredentialLockerArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the credential locker.</p>"
        },
        "CreatedAt":{
          "shape":"CredentialLockerCreatedAt",
          "documentation":"<p>The timestamp value of when the credential locker request occurred.</p>"
        }
      }
    },
    "CreateDestinationRequest":{
      "type":"structure",
      "required":[
        "DeliveryDestinationArn",
        "DeliveryDestinationType",
        "Name",
        "RoleArn"
      ],
      "members":{
        "DeliveryDestinationArn":{
          "shape":"DeliveryDestinationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the customer-managed destination.</p>"
        },
        "DeliveryDestinationType":{
          "shape":"DeliveryDestinationType",
          "documentation":"<p>The destination type for the customer-managed destination.</p>"
        },
        "Name":{
          "shape":"DestinationName",
          "documentation":"<p>The name of the customer-managed destination.</p>"
        },
        "RoleArn":{
          "shape":"DeliveryDestinationRoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the delivery destination role.</p>"
        },
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>An idempotency token. If you retry a request that completed successfully initially using the same client token and parameters, then the retry attempt will succeed without performing any further actions.</p>",
          "idempotencyToken":true
        },
        "Description":{
          "shape":"DestinationDescription",
          "documentation":"<p>The description of the customer-managed destination.</p>"
        },
        "Tags":{
          "shape":"TagsMap",
          "documentation":"<p>A set of key/value pairs that are used to manage the destination.</p>",
          "deprecated":true,
          "deprecatedMessage":"Tags have been deprecated from this api",
          "deprecatedSince":"06-25-2025"
        }
      }
    },
    "CreateDestinationResponse":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"DestinationName",
          "documentation":"<p>The name of the customer-managed destination.</p>"
        }
      }
    },
    "CreateEventLogConfigurationRequest":{
      "type":"structure",
      "required":[
        "ResourceType",
        "EventLogLevel"
      ],
      "members":{
        "ResourceType":{
          "shape":"SmartHomeResourceType",
          "documentation":"<p>The type of resource for the event log configuration.</p>"
        },
        "ResourceId":{
          "shape":"SmartHomeResourceId",
          "documentation":"<p>The identifier of the resource for the event log configuration.</p>"
        },
        "EventLogLevel":{
          "shape":"LogLevel",
          "documentation":"<p>The logging level for the event log configuration.</p>"
        },
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>An idempotency token. If you retry a request that completed successfully initially using the same client token and parameters, then the retry attempt will succeed without performing any further actions.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateEventLogConfigurationResponse":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"LogConfigurationId",
          "documentation":"<p>The identifier of the event log configuration request.</p>"
        }
      }
    },
    "CreateManagedThingRequest":{
      "type":"structure",
      "required":[
        "Role",
        "AuthenticationMaterial",
        "AuthenticationMaterialType"
      ],
      "members":{
        "Role":{
          "shape":"Role",
          "documentation":"<p>The type of device used. This will be the hub controller, cloud device, or AWS IoT device.</p>"
        },
        "Owner":{
          "shape":"Owner",
          "documentation":"<p>Owner of the device, usually an indication of whom the device belongs to. This value should not contain personal identifiable information.</p>"
        },
        "CredentialLockerId":{
          "shape":"CredentialLockerId",
          "documentation":"<p>The identifier of the credential for the managed thing.</p>"
        },
        "AuthenticationMaterial":{
          "shape":"AuthMaterialString",
          "documentation":"<p>The authentication material defining the device connectivity setup requests. The authentication materials used are the device bar code.</p>"
        },
        "AuthenticationMaterialType":{
          "shape":"AuthMaterialType",
          "documentation":"<p>The type of authentication material used for device connectivity setup requests.</p>"
        },
        "SerialNumber":{
          "shape":"SerialNumber",
          "documentation":"<p>The serial number of the device.</p>"
        },
        "Brand":{
          "shape":"Brand",
          "documentation":"<p>The brand of the device.</p>"
        },
        "Model":{
          "shape":"Model",
          "documentation":"<p>The model of the device.</p>"
        },
        "Name":{
          "shape":"Name",
          "documentation":"<p>The name of the managed thing representing the physical device.</p>"
        },
        "CapabilityReport":{
          "shape":"CapabilityReport",
          "documentation":"<p>A report of the capabilities for the managed thing.</p>"
        },
        "CapabilitySchemas":{
          "shape":"CapabilitySchemas",
          "documentation":"<p>The capability schemas that define the functionality and features supported by the managed thing, including device capabilities and their associated properties.</p>"
        },
        "Capabilities":{
          "shape":"Capabilities",
          "documentation":"<p>The capabilities of the device such as light bulb.</p>"
        },
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>An idempotency token. If you retry a request that completed successfully initially using the same client token and parameters, then the retry attempt will succeed without performing any further actions.</p>",
          "idempotencyToken":true
        },
        "Classification":{
          "shape":"Classification",
          "documentation":"<p>The classification of the managed thing such as light bulb or thermostat.</p>"
        },
        "Tags":{
          "shape":"TagsMap",
          "documentation":"<p>A set of key/value pairs that are used to manage the managed thing.</p>"
        },
        "MetaData":{
          "shape":"MetaData",
          "documentation":"<p>The metadata for the managed thing.</p> <note> <p>The <code>managedThing</code> <code>metadata</code> parameter is used for associating attributes with a <code>managedThing</code> that can be used for grouping over-the-air (OTA) tasks. Name value pairs in <code>metadata</code> can be used in the <code>OtaTargetQueryString</code> parameter for the <code>CreateOtaTask</code> API operation.</p> </note>"
        }
      }
    },
    "CreateManagedThingResponse":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"ManagedThingId",
          "documentation":"<p>The id of the managed thing.</p>"
        },
        "Arn":{
          "shape":"ManagedThingArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the managed thing.</p>"
        },
        "CreatedAt":{
          "shape":"CreatedAt",
          "documentation":"<p>The timestamp value of when the device creation request occurred.</p>"
        }
      }
    },
    "CreateNotificationConfigurationRequest":{
      "type":"structure",
      "required":[
        "EventType",
        "DestinationName"
      ],
      "members":{
        "EventType":{
          "shape":"EventType",
          "documentation":"<p>The type of event triggering a device notification to the customer-managed destination.</p>"
        },
        "DestinationName":{
          "shape":"DestinationName",
          "documentation":"<p>The name of the destination for the notification configuration.</p>"
        },
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>An idempotency token. If you retry a request that completed successfully initially using the same client token and parameters, then the retry attempt will succeed without performing any further actions.</p>",
          "idempotencyToken":true
        },
        "Tags":{
          "shape":"TagsMap",
          "documentation":"<p>A set of key/value pairs that are used to manage the notification configuration.</p>",
          "deprecated":true,
          "deprecatedMessage":"Tags has been deprecated from this api",
          "deprecatedSince":"06-25-2025"
        }
      }
    },
    "CreateNotificationConfigurationResponse":{
      "type":"structure",
      "members":{
        "EventType":{
          "shape":"EventType",
          "documentation":"<p>The type of event triggering a device notification to the customer-managed destination.</p>"
        }
      }
    },
    "CreateOtaTaskConfigurationRequest":{
      "type":"structure",
      "members":{
        "Description":{
          "shape":"OtaDescription",
          "documentation":"<p>A description of the over-the-air (OTA) task configuration.</p>"
        },
        "Name":{
          "shape":"OtaTaskConfigurationName",
          "documentation":"<p>The name of the over-the-air (OTA) task.</p>"
        },
        "PushConfig":{
          "shape":"PushConfig",
          "documentation":"<p>Describes the type of configuration used for the over-the-air (OTA) task.</p>"
        },
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>An idempotency token. If you retry a request that completed successfully initially using the same client token and parameters, then the retry attempt will succeed without performing any further actions.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateOtaTaskConfigurationResponse":{
      "type":"structure",
      "members":{
        "TaskConfigurationId":{
          "shape":"OtaTaskConfigurationId",
          "documentation":"<p>The identifier of the over-the-air (OTA) task configuration.</p>"
        }
      }
    },
    "CreateOtaTaskRequest":{
      "type":"structure",
      "required":[
        "S3Url",
        "OtaType"
      ],
      "members":{
        "Description":{
          "shape":"OtaDescription",
          "documentation":"<p>The description of the over-the-air (OTA) task.</p>"
        },
        "S3Url":{
          "shape":"S3Url",
          "documentation":"<p>The URL to the Amazon S3 bucket where the over-the-air (OTA) task is stored.</p>"
        },
        "Protocol":{
          "shape":"OtaProtocol",
          "documentation":"<p>The connection protocol the over-the-air (OTA) task uses to update the device.</p>"
        },
        "Target":{
          "shape":"Target",
          "documentation":"<p>The device targeted for the over-the-air (OTA) task.</p>"
        },
        "TaskConfigurationId":{
          "shape":"OtaTaskConfigurationId",
          "documentation":"<p>The identifier for the over-the-air (OTA) task configuration.</p>"
        },
        "OtaMechanism":{
          "shape":"OtaMechanism",
          "documentation":"<p>The deployment mechanism for the over-the-air (OTA) task.</p>"
        },
        "OtaType":{
          "shape":"OtaType",
          "documentation":"<p>The frequency type for the over-the-air (OTA) task.</p>"
        },
        "OtaTargetQueryString":{
          "shape":"OtaTargetQueryString",
          "documentation":"<p>The query string to add things to the thing group.</p>"
        },
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>An idempotency token. If you retry a request that completed successfully initially using the same client token and parameters, then the retry attempt will succeed without performing any further actions.</p>",
          "idempotencyToken":true
        },
        "OtaSchedulingConfig":{"shape":"OtaTaskSchedulingConfig"},
        "OtaTaskExecutionRetryConfig":{"shape":"OtaTaskExecutionRetryConfig"},
        "Tags":{
          "shape":"TagsMap",
          "documentation":"<p>A set of key/value pairs that are used to manage the over-the-air (OTA) task.</p>"
        }
      }
    },
    "CreateOtaTaskResponse":{
      "type":"structure",
[...]
