{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2019-09-27",
    "endpointPrefix":"email",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceAbbreviation":"Amazon SES V2",
    "serviceFullName":"Amazon Simple Email Service",
    "serviceId":"SESv2",
    "signatureVersion":"v4",
    "signingName":"ses",
    "uid":"sesv2-2019-09-27",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "BatchGetMetricData":{
      "name":"BatchGetMetricData",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/metrics/batch"
      },
      "input":{"shape":"BatchGetMetricDataRequest"},
      "output":{"shape":"BatchGetMetricDataResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"InternalServiceErrorException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Retrieves batches of metric data collected based on your sending activity.</p> <p>You can execute this operation no more than 16 times per second, and with at most 160 queries from the batches per second (cumulative).</p>"
    },
    "CancelExportJob":{
      "name":"CancelExportJob",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/email/export-jobs/{JobId}/cancel"
      },
      "input":{"shape":"CancelExportJobRequest"},
      "output":{"shape":"CancelExportJobResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Cancels an export job.</p>"
    },
    "CreateConfigurationSet":{
      "name":"CreateConfigurationSet",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/configuration-sets"
      },
      "input":{"shape":"CreateConfigurationSetRequest"},
      "output":{"shape":"CreateConfigurationSetResponse"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"LimitExceededException"},
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Create a configuration set. <i>Configuration sets</i> are groups of rules that you can apply to the emails that you send. You apply a configuration set to an email by specifying the name of the configuration set when you call the Amazon SES API v2. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email. </p>"
    },
    "CreateConfigurationSetEventDestination":{
      "name":"CreateConfigurationSetEventDestination",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/configuration-sets/{ConfigurationSetName}/event-destinations"
      },
      "input":{"shape":"CreateConfigurationSetEventDestinationRequest"},
      "output":{"shape":"CreateConfigurationSetEventDestinationResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"AlreadyExistsException"},
        {"shape":"LimitExceededException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Create an event destination. <i>Events</i> include message sends, deliveries, opens, clicks, bounces, and complaints. <i>Event destinations</i> are places that you can send information about these events to. For example, you can send event data to Amazon EventBridge and associate a rule to send the event to the specified target.</p> <p>A single configuration set can include more than one event destination.</p>"
    },
    "CreateContact":{
      "name":"CreateContact",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/contact-lists/{ContactListName}/contacts"
      },
      "input":{"shape":"CreateContactRequest"},
      "output":{"shape":"CreateContactResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotFoundException"},
        {"shape":"AlreadyExistsException"}
      ],
      "documentation":"<p>Creates a contact, which is an end-user who is receiving the email, and adds them to a contact list.</p>"
    },
    "CreateContactList":{
      "name":"CreateContactList",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/contact-lists"
      },
      "input":{"shape":"CreateContactListRequest"},
      "output":{"shape":"CreateContactListResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"AlreadyExistsException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a contact list.</p>"
    },
    "CreateCustomVerificationEmailTemplate":{
      "name":"CreateCustomVerificationEmailTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/custom-verification-email-templates"
      },
      "input":{"shape":"CreateCustomVerificationEmailTemplateRequest"},
      "output":{"shape":"CreateCustomVerificationEmailTemplateResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"AlreadyExistsException"},
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a new custom verification email template.</p> <p>For more information about custom verification email templates, see <a href=\"https://docs.aws.amazon.com/ses/latest/dg/creating-identities.html#send-email-verify-address-custom\">Using custom verification email templates</a> in the <i>Amazon SES Developer Guide</i>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "CreateDedicatedIpPool":{
      "name":"CreateDedicatedIpPool",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/dedicated-ip-pools"
      },
      "input":{"shape":"CreateDedicatedIpPoolRequest"},
      "output":{"shape":"CreateDedicatedIpPoolResponse"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"LimitExceededException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Create a new pool of dedicated IP addresses. A pool can include one or more dedicated IP addresses that are associated with your Amazon Web Services account. You can associate a pool with a configuration set. When you send an email that uses that configuration set, the message is sent from one of the addresses in the associated pool.</p>"
    },
    "CreateDeliverabilityTestReport":{
      "name":"CreateDeliverabilityTestReport",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/deliverability-dashboard/test"
      },
      "input":{"shape":"CreateDeliverabilityTestReportRequest"},
      "output":{"shape":"CreateDeliverabilityTestReportResponse"},
      "errors":[
        {"shape":"AccountSuspendedException"},
        {"shape":"SendingPausedException"},
        {"shape":"MessageRejected"},
        {"shape":"MailFromDomainNotVerifiedException"},
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"LimitExceededException"},
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Create a new predictive inbox placement test. Predictive inbox placement tests can help you predict how your messages will be handled by various email providers around the world. When you perform a predictive inbox placement test, you provide a sample message that contains the content that you plan to send to your customers. Amazon SES then sends that message to special email addresses spread across several major email providers. After about 24 hours, the test is complete, and you can use the <code>GetDeliverabilityTestReport</code> operation to view the results of the test.</p>"
    },
    "CreateEmailIdentity":{
      "name":"CreateEmailIdentity",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/identities"
      },
      "input":{"shape":"CreateEmailIdentityRequest"},
      "output":{"shape":"CreateEmailIdentityResponse"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"LimitExceededException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Starts the process of verifying an email identity. An <i>identity</i> is an email address or domain that you use when you send email. Before you can use an identity to send email, you first have to verify it. By verifying an identity, you demonstrate that you're the owner of the identity, and that you've given Amazon SES API v2 permission to send email from the identity.</p> <p>When you verify an email address, Amazon SES sends an email to the address. Your email address is verified as soon as you follow the link in the verification email. </p> <p>When you verify a domain without specifying the <code>DkimSigningAttributes</code> object, this operation provides a set of DKIM tokens. You can convert these tokens into CNAME records, which you then add to the DNS configuration for your domain. Your domain is verified when Amazon SES detects these records in the DNS configuration for your domain. This verification method is known as <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/easy-dkim.html\">Easy DKIM</a>.</p> <p>Alternatively, you can perform the verification process by providing your own public-private key pair. This verification method is known as Bring Your Own DKIM (BYODKIM). To use BYODKIM, your call to the <code>CreateEmailIdentity</code> operation has to include the <code>DkimSigningAttributes</code> object. When you specify this object, you provide a selector (a component of the DNS record name that identifies the public key to use for DKIM authentication) and a private key.</p> <p>When you verify a domain, this operation provides a set of DKIM tokens, which you can convert into CNAME tokens. You add these CNAME tokens to the DNS configuration for your domain. Your domain is verified when Amazon SES detects these records in the DNS configuration for your domain. For some DNS providers, it can take 72 hours or more to complete the domain verification process.</p> <p>Additionally, you can associate an existing configuration set with the email identity that you're verifying.</p>"
    },
    "CreateEmailIdentityPolicy":{
      "name":"CreateEmailIdentityPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/identities/{EmailIdentity}/policies/{PolicyName}"
      },
      "input":{"shape":"CreateEmailIdentityPolicyRequest"},
      "output":{"shape":"CreateEmailIdentityPolicyResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"AlreadyExistsException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"LimitExceededException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Creates the specified sending authorization policy for the given identity (an email address or a domain).</p> <note> <p>This API is for the identity owner only. If you have not verified the identity, this API will return an error.</p> </note> <p>Sending authorization is a feature that enables an identity owner to authorize other senders to use its identities. For information about using sending authorization, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "CreateEmailTemplate":{
      "name":"CreateEmailTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/templates"
      },
      "input":{"shape":"CreateEmailTemplateRequest"},
      "output":{"shape":"CreateEmailTemplateResponse"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates an email template. Email templates enable you to send personalized email to one or more destinations in a single API operation. For more information, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/send-personalized-email-api.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "CreateExportJob":{
      "name":"CreateExportJob",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/export-jobs"
      },
      "input":{"shape":"CreateExportJobRequest"},
      "output":{"shape":"CreateExportJobResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates an export job for a data source and destination.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "CreateImportJob":{
      "name":"CreateImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/import-jobs"
      },
      "input":{"shape":"CreateImportJobRequest"},
      "output":{"shape":"CreateImportJobResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Creates an import job for a data destination.</p>"
    },
    "CreateMultiRegionEndpoint":{
      "name":"CreateMultiRegionEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/multi-region-endpoints"
      },
      "input":{"shape":"CreateMultiRegionEndpointRequest"},
      "output":{"shape":"CreateMultiRegionEndpointResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"AlreadyExistsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Creates a multi-region endpoint (global-endpoint).</p> <p>The primary region is going to be the AWS-Region where the operation is executed. The secondary region has to be provided in request's parameters. From the data flow standpoint there is no difference between primary and secondary regions - sending traffic will be split equally between the two. The primary region is the region where the resource has been created and where it can be managed. </p>"
    },
    "CreateTenant":{
      "name":"CreateTenant",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/tenants"
      },
      "input":{"shape":"CreateTenantRequest"},
      "output":{"shape":"CreateTenantResponse"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"LimitExceededException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Create a tenant.</p> <p> <i>Tenants</i> are logical containers that group related SES resources together. Each tenant can have its own set of resources like email identities, configuration sets, and templates, along with reputation metrics and sending status. This helps isolate and manage email sending for different customers or business units within your Amazon SES API v2 account.</p>"
    },
    "CreateTenantResourceAssociation":{
      "name":"CreateTenantResourceAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/tenants/resources"
      },
      "input":{"shape":"CreateTenantResourceAssociationRequest"},
      "output":{"shape":"CreateTenantResourceAssociationResponse"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Associate a resource with a tenant.</p> <p> <i>Resources</i> can be email identities, configuration sets, or email templates. When you associate a resource with a tenant, you can use that resource when sending emails on behalf of that tenant.</p> <p>A single resource can be associated with multiple tenants, allowing for resource sharing across different tenants while maintaining isolation in email sending operations.</p>"
    },
    "DeleteConfigurationSet":{
      "name":"DeleteConfigurationSet",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/email/configuration-sets/{ConfigurationSetName}"
      },
      "input":{"shape":"DeleteConfigurationSetRequest"},
      "output":{"shape":"DeleteConfigurationSetResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Delete an existing configuration set.</p> <p> <i>Configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>"
    },
    "DeleteConfigurationSetEventDestination":{
      "name":"DeleteConfigurationSetEventDestination",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/email/configuration-sets/{ConfigurationSetName}/event-destinations/{EventDestinationName}"
      },
      "input":{"shape":"DeleteConfigurationSetEventDestinationRequest"},
      "output":{"shape":"DeleteConfigurationSetEventDestinationResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Delete an event destination.</p> <p> <i>Events</i> include message sends, deliveries, opens, clicks, bounces, and complaints. <i>Event destinations</i> are places that you can send information about these events to. For example, you can send event data to Amazon EventBridge and associate a rule to send the event to the specified target.</p>"
    },
    "DeleteContact":{
      "name":"DeleteContact",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/email/contact-lists/{ContactListName}/contacts/{EmailAddress}"
      },
      "input":{"shape":"DeleteContactRequest"},
      "output":{"shape":"DeleteContactResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Removes a contact from a contact list.</p>"
    },
    "DeleteContactList":{
      "name":"DeleteContactList",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/email/contact-lists/{ContactListName}"
      },
      "input":{"shape":"DeleteContactListRequest"},
      "output":{"shape":"DeleteContactListResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Deletes a contact list and all of the contacts on that list.</p>"
    },
    "DeleteCustomVerificationEmailTemplate":{
      "name":"DeleteCustomVerificationEmailTemplate",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/email/custom-verification-email-templates/{TemplateName}"
      },
      "input":{"shape":"DeleteCustomVerificationEmailTemplateRequest"},
      "output":{"shape":"DeleteCustomVerificationEmailTemplateResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Deletes an existing custom verification email template.</p> <p>For more information about custom verification email templates, see <a href=\"https://docs.aws.amazon.com/ses/latest/dg/creating-identities.html#send-email-verify-address-custom\">Using custom verification email templates</a> in the <i>Amazon SES Developer Guide</i>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "DeleteDedicatedIpPool":{
      "name":"DeleteDedicatedIpPool",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/email/dedicated-ip-pools/{PoolName}"
      },
      "input":{"shape":"DeleteDedicatedIpPoolRequest"},
      "output":{"shape":"DeleteDedicatedIpPoolResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Delete a dedicated IP pool.</p>"
    },
    "DeleteEmailIdentity":{
      "name":"DeleteEmailIdentity",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/email/identities/{EmailIdentity}"
      },
      "input":{"shape":"DeleteEmailIdentityRequest"},
      "output":{"shape":"DeleteEmailIdentityResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Deletes an email identity. An identity can be either an email address or a domain name.</p>"
    },
    "DeleteEmailIdentityPolicy":{
      "name":"DeleteEmailIdentityPolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/email/identities/{EmailIdentity}/policies/{PolicyName}"
      },
      "input":{"shape":"DeleteEmailIdentityPolicyRequest"},
      "output":{"shape":"DeleteEmailIdentityPolicyResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Deletes the specified sending authorization policy for the given identity (an email address or a domain). This API returns successfully even if a policy with the specified name does not exist.</p> <note> <p>This API is for the identity owner only. If you have not verified the identity, this API will return an error.</p> </note> <p>Sending authorization is a feature that enables an identity owner to authorize other senders to use its identities. For information about using sending authorization, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "DeleteEmailTemplate":{
      "name":"DeleteEmailTemplate",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/email/templates/{TemplateName}"
      },
      "input":{"shape":"DeleteEmailTemplateRequest"},
      "output":{"shape":"DeleteEmailTemplateResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Deletes an email template.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "DeleteMultiRegionEndpoint":{
      "name":"DeleteMultiRegionEndpoint",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/email/multi-region-endpoints/{EndpointName}"
      },
      "input":{"shape":"DeleteMultiRegionEndpointRequest"},
      "output":{"shape":"DeleteMultiRegionEndpointResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Deletes a multi-region endpoint (global-endpoint).</p> <p>Only multi-region endpoints (global-endpoints) whose primary region is the AWS-Region where operation is executed can be deleted.</p>"
    },
    "DeleteSuppressedDestination":{
      "name":"DeleteSuppressedDestination",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/email/suppression/addresses/{EmailAddress}"
      },
      "input":{"shape":"DeleteSuppressedDestinationRequest"},
      "output":{"shape":"DeleteSuppressedDestinationResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Removes an email address from the suppression list for your account.</p>"
    },
    "DeleteTenant":{
      "name":"DeleteTenant",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/tenants/delete"
      },
      "input":{"shape":"DeleteTenantRequest"},
      "output":{"shape":"DeleteTenantResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Delete an existing tenant.</p> <p>When you delete a tenant, its associations with resources are removed, but the resources themselves are not deleted.</p>"
    },
    "DeleteTenantResourceAssociation":{
      "name":"DeleteTenantResourceAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/tenants/resources/delete"
      },
      "input":{"shape":"DeleteTenantResourceAssociationRequest"},
      "output":{"shape":"DeleteTenantResourceAssociationResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Delete an association between a tenant and a resource.</p> <p>When you delete a tenant-resource association, the resource itself is not deleted, only its association with the specific tenant is removed. After removal, the resource will no longer be available for use with that tenant's email sending operations.</p>"
    },
    "GetAccount":{
      "name":"GetAccount",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/account"
      },
      "input":{"shape":"GetAccountRequest"},
      "output":{"shape":"GetAccountResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Obtain information about the email-sending status and capabilities of your Amazon SES account in the current Amazon Web Services Region.</p>"
    },
    "GetBlacklistReports":{
      "name":"GetBlacklistReports",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/deliverability-dashboard/blacklist-report"
      },
      "input":{"shape":"GetBlacklistReportsRequest"},
      "output":{"shape":"GetBlacklistReportsResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Retrieve a list of the blacklists that your dedicated IP addresses appear on.</p>"
    },
    "GetConfigurationSet":{
      "name":"GetConfigurationSet",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/configuration-sets/{ConfigurationSetName}"
      },
      "input":{"shape":"GetConfigurationSetRequest"},
      "output":{"shape":"GetConfigurationSetResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Get information about an existing configuration set, including the dedicated IP pool that it's associated with, whether or not it's enabled for sending email, and more.</p> <p> <i>Configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>"
    },
    "GetConfigurationSetEventDestinations":{
      "name":"GetConfigurationSetEventDestinations",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/configuration-sets/{ConfigurationSetName}/event-destinations"
      },
      "input":{"shape":"GetConfigurationSetEventDestinationsRequest"},
      "output":{"shape":"GetConfigurationSetEventDestinationsResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Retrieve a list of event destinations that are associated with a configuration set.</p> <p> <i>Events</i> include message sends, deliveries, opens, clicks, bounces, and complaints. <i>Event destinations</i> are places that you can send information about these events to. For example, you can send event data to Amazon EventBridge and associate a rule to send the event to the specified target.</p>"
    },
    "GetContact":{
      "name":"GetContact",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/contact-lists/{ContactListName}/contacts/{EmailAddress}"
      },
      "input":{"shape":"GetContactRequest"},
      "output":{"shape":"GetContactResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Returns a contact from a contact list.</p>"
    },
    "GetContactList":{
      "name":"GetContactList",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/contact-lists/{ContactListName}"
      },
      "input":{"shape":"GetContactListRequest"},
      "output":{"shape":"GetContactListResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Returns contact list metadata. It does not return any information about the contacts present in the list.</p>"
    },
    "GetCustomVerificationEmailTemplate":{
      "name":"GetCustomVerificationEmailTemplate",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/custom-verification-email-templates/{TemplateName}"
      },
      "input":{"shape":"GetCustomVerificationEmailTemplateRequest"},
      "output":{"shape":"GetCustomVerificationEmailTemplateResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Returns the custom email verification template for the template name you specify.</p> <p>For more information about custom verification email templates, see <a href=\"https://docs.aws.amazon.com/ses/latest/dg/creating-identities.html#send-email-verify-address-custom\">Using custom verification email templates</a> in the <i>Amazon SES Developer Guide</i>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "GetDedicatedIp":{
      "name":"GetDedicatedIp",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/dedicated-ips/{IP}"
      },
      "input":{"shape":"GetDedicatedIpRequest"},
      "output":{"shape":"GetDedicatedIpResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Get information about a dedicated IP address, including the name of the dedicated IP pool that it's associated with, as well information about the automatic warm-up process for the address.</p>"
    },
    "GetDedicatedIpPool":{
      "name":"GetDedicatedIpPool",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/dedicated-ip-pools/{PoolName}"
      },
      "input":{"shape":"GetDedicatedIpPoolRequest"},
      "output":{"shape":"GetDedicatedIpPoolResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Retrieve information about the dedicated pool.</p>"
    },
    "GetDedicatedIps":{
      "name":"GetDedicatedIps",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/dedicated-ips"
      },
      "input":{"shape":"GetDedicatedIpsRequest"},
      "output":{"shape":"GetDedicatedIpsResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>List the dedicated IP addresses that are associated with your Amazon Web Services account.</p>"
    },
    "GetDeliverabilityDashboardOptions":{
      "name":"GetDeliverabilityDashboardOptions",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/deliverability-dashboard"
      },
      "input":{"shape":"GetDeliverabilityDashboardOptionsRequest"},
      "output":{"shape":"GetDeliverabilityDashboardOptionsResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"LimitExceededException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Retrieve information about the status of the Deliverability dashboard for your account. When the Deliverability dashboard is enabled, you gain access to reputation, deliverability, and other metrics for the domains that you use to send email. You also gain the ability to perform predictive inbox placement tests.</p> <p>When you use the Deliverability dashboard, you pay a monthly subscription charge, in addition to any other fees that you accrue by using Amazon SES and other Amazon Web Services services. For more information about the features and cost of a Deliverability dashboard subscription, see <a href=\"http://aws.amazon.com/ses/pricing/\">Amazon SES Pricing</a>.</p>"
    },
    "GetDeliverabilityTestReport":{
      "name":"GetDeliverabilityTestReport",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/deliverability-dashboard/test-reports/{ReportId}"
      },
      "input":{"shape":"GetDeliverabilityTestReportRequest"},
      "output":{"shape":"GetDeliverabilityTestReportResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Retrieve the results of a predictive inbox placement test.</p>"
    },
    "GetDomainDeliverabilityCampaign":{
      "name":"GetDomainDeliverabilityCampaign",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/deliverability-dashboard/campaigns/{CampaignId}"
      },
      "input":{"shape":"GetDomainDeliverabilityCampaignRequest"},
      "output":{"shape":"GetDomainDeliverabilityCampaignResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Retrieve all the deliverability data for a specific campaign. This data is available for a campaign only if the campaign sent email by using a domain that the Deliverability dashboard is enabled for.</p>"
    },
    "GetDomainStatisticsReport":{
      "name":"GetDomainStatisticsReport",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/deliverability-dashboard/statistics-report/{Domain}"
      },
      "input":{"shape":"GetDomainStatisticsReportRequest"},
      "output":{"shape":"GetDomainStatisticsReportResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Retrieve inbox placement and engagement rates for the domains that you use to send email.</p>"
    },
    "GetEmailIdentity":{
      "name":"GetEmailIdentity",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/identities/{EmailIdentity}"
      },
      "input":{"shape":"GetEmailIdentityRequest"},
      "output":{"shape":"GetEmailIdentityResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Provides information about a specific identity, including the identity's verification status, sending authorization policies, its DKIM authentication status, and its custom Mail-From settings.</p>"
    },
    "GetEmailIdentityPolicies":{
      "name":"GetEmailIdentityPolicies",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/identities/{EmailIdentity}/policies"
      },
      "input":{"shape":"GetEmailIdentityPoliciesRequest"},
      "output":{"shape":"GetEmailIdentityPoliciesResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Returns the requested sending authorization policies for the given identity (an email address or a domain). The policies are returned as a map of policy names to policy contents. You can retrieve a maximum of 20 policies at a time.</p> <note> <p>This API is for the identity owner only. If you have not verified the identity, this API will return an error.</p> </note> <p>Sending authorization is a feature that enables an identity owner to authorize other senders to use its identities. For information about using sending authorization, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "GetEmailTemplate":{
      "name":"GetEmailTemplate",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/templates/{TemplateName}"
      },
      "input":{"shape":"GetEmailTemplateRequest"},
      "output":{"shape":"GetEmailTemplateResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Displays the template object (which includes the subject line, HTML part and text part) for the template you specify.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "GetExportJob":{
      "name":"GetExportJob",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/export-jobs/{JobId}"
      },
      "input":{"shape":"GetExportJobRequest"},
      "output":{"shape":"GetExportJobResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Provides information about an export job.</p>"
    },
    "GetImportJob":{
      "name":"GetImportJob",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/import-jobs/{JobId}"
      },
      "input":{"shape":"GetImportJobRequest"},
      "output":{"shape":"GetImportJobResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Provides information about an import job.</p>"
    },
    "GetMessageInsights":{
      "name":"GetMessageInsights",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/insights/{MessageId}/"
      },
      "input":{"shape":"GetMessageInsightsRequest"},
      "output":{"shape":"GetMessageInsightsResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Provides information about a specific message, including the from address, the subject, the recipient address, email tags, as well as events associated with the message.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "GetMultiRegionEndpoint":{
      "name":"GetMultiRegionEndpoint",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/multi-region-endpoints/{EndpointName}"
      },
      "input":{"shape":"GetMultiRegionEndpointRequest"},
      "output":{"shape":"GetMultiRegionEndpointResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Displays the multi-region endpoint (global-endpoint) configuration.</p> <p>Only multi-region endpoints (global-endpoints) whose primary region is the AWS-Region where operation is executed can be displayed.</p>"
    },
    "GetReputationEntity":{
      "name":"GetReputationEntity",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/reputation/entities/{ReputationEntityType}/{ReputationEntityReference}"
      },
      "input":{"shape":"GetReputationEntityRequest"},
      "output":{"shape":"GetReputationEntityResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Retrieve information about a specific reputation entity, including its reputation management policy, customer-managed status, Amazon Web Services Amazon SES-managed status, and aggregate sending status.</p> <p> <i>Reputation entities</i> represent resources in your Amazon SES account that have reputation tracking and management capabilities. The reputation impact reflects the highest impact reputation finding for the entity. Reputation findings can be retrieved using the <code>ListRecommendations</code> operation.</p>"
    },
    "GetSuppressedDestination":{
      "name":"GetSuppressedDestination",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/suppression/addresses/{EmailAddress}"
      },
      "input":{"shape":"GetSuppressedDestinationRequest"},
      "output":{"shape":"GetSuppressedDestinationResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Retrieves information about a specific email address that's on the suppression list for your account.</p>"
    },
    "GetTenant":{
      "name":"GetTenant",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/tenants/get"
      },
      "input":{"shape":"GetTenantRequest"},
      "output":{"shape":"GetTenantResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Get information about a specific tenant, including the tenant's name, ID, ARN, creation timestamp, tags, and sending status.</p>"
    },
    "ListConfigurationSets":{
      "name":"ListConfigurationSets",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/configuration-sets"
      },
      "input":{"shape":"ListConfigurationSetsRequest"},
      "output":{"shape":"ListConfigurationSetsResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>List all of the configuration sets associated with your account in the current region.</p> <p> <i>Configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>"
    },
    "ListContactLists":{
      "name":"ListContactLists",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/contact-lists"
      },
      "input":{"shape":"ListContactListsRequest"},
      "output":{"shape":"ListContactListsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Lists all of the contact lists available.</p> <p>If your output includes a \"NextToken\" field with a string value, this indicates there may be additional contacts on the filtered list - regardless of the number of contacts returned.</p>"
    },
    "ListContacts":{
      "name":"ListContacts",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/contact-lists/{ContactListName}/contacts/list"
      },
      "input":{"shape":"ListContactsRequest"},
      "output":{"shape":"ListContactsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Lists the contacts present in a specific contact list.</p>"
    },
    "ListCustomVerificationEmailTemplates":{
      "name":"ListCustomVerificationEmailTemplates",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/custom-verification-email-templates"
      },
      "input":{"shape":"ListCustomVerificationEmailTemplatesRequest"},
      "output":{"shape":"ListCustomVerificationEmailTemplatesResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Lists the existing custom verification email templates for your account in the current Amazon Web Services Region.</p> <p>For more information about custom verification email templates, see <a href=\"https://docs.aws.amazon.com/ses/latest/dg/creating-identities.html#send-email-verify-address-custom\">Using custom verification email templates</a> in the <i>Amazon SES Developer Guide</i>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "ListDedicatedIpPools":{
      "name":"ListDedicatedIpPools",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/dedicated-ip-pools"
      },
      "input":{"shape":"ListDedicatedIpPoolsRequest"},
      "output":{"shape":"ListDedicatedIpPoolsResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>List all of the dedicated IP pools that exist in your Amazon Web Services account in the current Region.</p>"
    },
    "ListDeliverabilityTestReports":{
      "name":"ListDeliverabilityTestReports",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/deliverability-dashboard/test-reports"
      },
      "input":{"shape":"ListDeliverabilityTestReportsRequest"},
      "output":{"shape":"ListDeliverabilityTestReportsResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Show a list of the predictive inbox placement tests that you've performed, regardless of their statuses. For predictive inbox placement tests that are complete, you can use the <code>GetDeliverabilityTestReport</code> operation to view the results.</p>"
    },
    "ListDomainDeliverabilityCampaigns":{
      "name":"ListDomainDeliverabilityCampaigns",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/deliverability-dashboard/domains/{SubscribedDomain}/campaigns"
      },
      "input":{"shape":"ListDomainDeliverabilityCampaignsRequest"},
      "output":{"shape":"ListDomainDeliverabilityCampaignsResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Retrieve deliverability data for all the campaigns that used a specific domain to send email during a specified time range. This data is available for a domain only if you enabled the Deliverability dashboard for the domain.</p>"
    },
    "ListEmailIdentities":{
      "name":"ListEmailIdentities",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/identities"
      },
      "input":{"shape":"ListEmailIdentitiesRequest"},
      "output":{"shape":"ListEmailIdentitiesResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Returns a list of all of the email identities that are associated with your Amazon Web Services account. An identity can be either an email address or a domain. This operation returns identities that are verified as well as those that aren't. This operation returns identities that are associated with Amazon SES and Amazon Pinpoint.</p>"
    },
    "ListEmailTemplates":{
      "name":"ListEmailTemplates",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/templates"
      },
      "input":{"shape":"ListEmailTemplatesRequest"},
      "output":{"shape":"ListEmailTemplatesResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Lists the email templates present in your Amazon SES account in the current Amazon Web Services Region.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "ListExportJobs":{
      "name":"ListExportJobs",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/list-export-jobs"
      },
      "input":{"shape":"ListExportJobsRequest"},
      "output":{"shape":"ListExportJobsResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Lists all of the export jobs.</p>"
    },
    "ListImportJobs":{
      "name":"ListImportJobs",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/import-jobs/list"
      },
      "input":{"shape":"ListImportJobsRequest"},
      "output":{"shape":"ListImportJobsResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Lists all of the import jobs.</p>"
    },
    "ListMultiRegionEndpoints":{
      "name":"ListMultiRegionEndpoints",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/multi-region-endpoints"
      },
      "input":{"shape":"ListMultiRegionEndpointsRequest"},
      "output":{"shape":"ListMultiRegionEndpointsResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>List the multi-region endpoints (global-endpoints).</p> <p>Only multi-region endpoints (global-endpoints) whose primary region is the AWS-Region where operation is executed will be listed.</p>"
    },
    "ListRecommendations":{
      "name":"ListRecommendations",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/vdm/recommendations"
      },
      "input":{"shape":"ListRecommendationsRequest"},
      "output":{"shape":"ListRecommendationsResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Lists the recommendations present in your Amazon SES account in the current Amazon Web Services Region.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "ListReputationEntities":{
      "name":"ListReputationEntities",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/reputation/entities"
      },
      "input":{"shape":"ListReputationEntitiesRequest"},
      "output":{"shape":"ListReputationEntitiesResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>List reputation entities in your Amazon SES account in the current Amazon Web Services Region. You can filter the results by entity type, reputation impact, sending status, or entity reference prefix.</p> <p> <i>Reputation entities</i> represent resources in your account that have reputation tracking and management capabilities. Use this operation to get an overview of all entities and their current reputation status.</p>"
    },
    "ListResourceTenants":{
      "name":"ListResourceTenants",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/resources/tenants/list"
      },
      "input":{"shape":"ListResourceTenantsRequest"},
      "output":{"shape":"ListResourceTenantsResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>List all tenants associated with a specific resource.</p> <p>This operation returns a list of tenants that are associated with the specified resource. This is useful for understanding which tenants are currently using a particular resource such as an email identity, configuration set, or email template.</p>"
    },
    "ListSuppressedDestinations":{
      "name":"ListSuppressedDestinations",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/suppression/addresses"
      },
      "input":{"shape":"ListSuppressedDestinationsRequest"},
      "output":{"shape":"ListSuppressedDestinationsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Retrieves a list of email addresses that are on the suppression list for your account.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/v2/email/tags"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Retrieve a list of the tags (keys and values) that are associated with a specified resource. A <i>tag</i> is a label that you optionally define and associate with a resource. Each tag consists of a required <i>tag key</i> and an optional associated <i>tag value</i>. A tag key is a general label that acts as a category for more specific tag values. A tag value acts as a descriptor within a tag key.</p>"
    },
    "ListTenantResources":{
      "name":"ListTenantResources",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/tenants/resources/list"
      },
      "input":{"shape":"ListTenantResourcesRequest"},
      "output":{"shape":"ListTenantResourcesResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>List all resources associated with a specific tenant.</p> <p>This operation returns a list of resources (email identities, configuration sets, or email templates) that are associated with the specified tenant. You can optionally filter the results by resource type.</p>"
    },
    "ListTenants":{
      "name":"ListTenants",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/tenants/list"
      },
      "input":{"shape":"ListTenantsRequest"},
      "output":{"shape":"ListTenantsResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>List all tenants associated with your account in the current Amazon Web Services Region.</p> <p>This operation returns basic information about each tenant, such as tenant name, ID, ARN, and creation timestamp.</p>"
    },
    "PutAccountDedicatedIpWarmupAttributes":{
      "name":"PutAccountDedicatedIpWarmupAttributes",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/email/account/dedicated-ips/warmup"
      },
      "input":{"shape":"PutAccountDedicatedIpWarmupAttributesRequest"},
      "output":{"shape":"PutAccountDedicatedIpWarmupAttributesResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Enable or disable the automatic warm-up feature for dedicated IP addresses.</p>"
    },
    "PutAccountDetails":{
      "name":"PutAccountDetails",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/account/details"
      },
      "input":{"shape":"PutAccountDetailsRequest"},
      "output":{"shape":"PutAccountDetailsResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Update your Amazon SES account details.</p>"
    },
    "PutAccountSendingAttributes":{
      "name":"PutAccountSendingAttributes",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/email/account/sending"
      },
      "input":{"shape":"PutAccountSendingAttributesRequest"},
      "output":{"shape":"PutAccountSendingAttributesResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Enable or disable the ability of your account to send email.</p>"
    },
    "PutAccountSuppressionAttributes":{
      "name":"PutAccountSuppressionAttributes",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/email/account/suppression"
      },
      "input":{"shape":"PutAccountSuppressionAttributesRequest"},
      "output":{"shape":"PutAccountSuppressionAttributesResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Change the settings for the account-level suppression list.</p>"
    },
    "PutAccountVdmAttributes":{
      "name":"PutAccountVdmAttributes",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/email/account/vdm"
      },
      "input":{"shape":"PutAccountVdmAttributesRequest"},
      "output":{"shape":"PutAccountVdmAttributesResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Update your Amazon SES account VDM attributes.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "PutConfigurationSetArchivingOptions":{
      "name":"PutConfigurationSetArchivingOptions",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/email/configuration-sets/{ConfigurationSetName}/archiving-options"
      },
      "input":{"shape":"PutConfigurationSetArchivingOptionsRequest"},
      "output":{"shape":"PutConfigurationSetArchivingOptionsResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Associate the configuration set with a MailManager archive. When you send email using the <code>SendEmail</code> or <code>SendBulkEmail</code> operations the message as it will be given to the receiving SMTP server will be archived, along with the recipient information.</p>",
      "idempotent":true
    },
    "PutConfigurationSetDeliveryOptions":{
      "name":"PutConfigurationSetDeliveryOptions",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/email/configuration-sets/{ConfigurationSetName}/delivery-options"
      },
      "input":{"shape":"PutConfigurationSetDeliveryOptionsRequest"},
      "output":{"shape":"PutConfigurationSetDeliveryOptionsResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Associate a configuration set with a dedicated IP pool. You can use dedicated IP pools to create groups of dedicated IP addresses for sending specific types of email.</p>"
    },
    "PutConfigurationSetReputationOptions":{
      "name":"PutConfigurationSetReputationOptions",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/email/configuration-sets/{ConfigurationSetName}/reputation-options"
      },
      "input":{"shape":"PutConfigurationSetReputationOptionsRequest"},
      "output":{"shape":"PutConfigurationSetReputationOptionsResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Enable or disable collection of reputation metrics for emails that you send using a particular configuration set in a specific Amazon Web Services Region.</p>"
    },
    "PutConfigurationSetSendingOptions":{
      "name":"PutConfigurationSetSendingOptions",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/email/configuration-sets/{ConfigurationSetName}/sending"
      },
      "input":{"shape":"PutConfigurationSetSendingOptionsRequest"},
      "output":{"shape":"PutConfigurationSetSendingOptionsResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Enable or disable email sending for messages that use a particular configuration set in a specific Amazon Web Services Region.</p>"
    },
    "PutConfigurationSetSuppressionOptions":{
      "name":"PutConfigurationSetSuppressionOptions",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/email/configuration-sets/{ConfigurationSetName}/suppression-options"
      },
      "input":{"shape":"PutConfigurationSetSuppressionOptionsRequest"},
      "output":{"shape":"PutConfigurationSetSuppressionOptionsResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Specify the account suppression list preferences for a configuration set.</p>"
    },
    "PutConfigurationSetTrackingOptions":{
      "name":"PutConfigurationSetTrackingOptions",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/email/configuration-sets/{ConfigurationSetName}/tracking-options"
      },
      "input":{"shape":"PutConfigurationSetTrackingOptionsRequest"},
      "output":{"shape":"PutConfigurationSetTrackingOptionsResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Specify a custom domain to use for open and click tracking elements in email that you send.</p>"
    },
    "PutConfigurationSetVdmOptions":{
      "name":"PutConfigurationSetVdmOptions",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/email/configuration-sets/{ConfigurationSetName}/vdm-options"
      },
      "input":{"shape":"PutConfigurationSetVdmOptionsRequest"},
      "output":{"shape":"PutConfigurationSetVdmOptionsResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Specify VDM preferences for email that you send using the configuration set.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "PutDedicatedIpInPool":{
      "name":"PutDedicatedIpInPool",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/email/dedicated-ips/{IP}/pool"
      },
      "input":{"shape":"PutDedicatedIpInPoolRequest"},
      "output":{"shape":"PutDedicatedIpInPoolResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Move a dedicated IP address to an existing dedicated IP pool.</p> <note> <p>The dedicated IP address that you specify must already exist, and must be associated with your Amazon Web Services account. </p> <p>The dedicated IP pool you specify must already exist. You can create a new pool by using the <code>CreateDedicatedIpPool</code> operation.</p> </note>"
    },
    "PutDedicatedIpPoolScalingAttributes":{
      "name":"PutDedicatedIpPoolScalingAttributes",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/email/dedicated-ip-pools/{PoolName}/scaling"
      },
      "input":{"shape":"PutDedicatedIpPoolScalingAttributesRequest"},
      "output":{"shape":"PutDedicatedIpPoolScalingAttributesResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Used to convert a dedicated IP pool to a different scaling mode.</p> <note> <p> <code>MANAGED</code> pools cannot be converted to <code>STANDARD</code> scaling mode.</p> </note>",
      "idempotent":true
    },
    "PutDedicatedIpWarmupAttributes":{
      "name":"PutDedicatedIpWarmupAttributes",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/email/dedicated-ips/{IP}/warmup"
      },
      "input":{"shape":"PutDedicatedIpWarmupAttributesRequest"},
      "output":{"shape":"PutDedicatedIpWarmupAttributesResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p/>"
    },
    "PutDeliverabilityDashboardOption":{
      "name":"PutDeliverabilityDashboardOption",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/email/deliverability-dashboard"
      },
      "input":{"shape":"PutDeliverabilityDashboardOptionRequest"},
      "output":{"shape":"PutDeliverabilityDashboardOptionResponse"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"LimitExceededException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Enable or disable the Deliverability dashboard. When you enable the Deliverability dashboard, you gain access to reputation, deliverability, and other metrics for the domains that you use to send email. You also gain the ability to perform predictive inbox placement tests.</p> <p>When you use the Deliverability dashboard, you pay a monthly subscription charge, in addition to any other fees that you accrue by using Amazon SES and other Amazon Web Services services. For more information about the features and cost of a Deliverability dashboard subscription, see <a href=\"http://aws.amazon.com/ses/pricing/\">Amazon SES Pricing</a>.</p>"
    },
    "PutEmailIdentityConfigurationSetAttributes":{
      "name":"PutEmailIdentityConfigurationSetAttributes",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/email/identities/{EmailIdentity}/configuration-set"
      },
      "input":{"shape":"PutEmailIdentityConfigurationSetAttributesRequest"},
      "output":{"shape":"PutEmailIdentityConfigurationSetAttributesResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Used to associate a configuration set with an email identity.</p>"
    },
    "PutEmailIdentityDkimAttributes":{
      "name":"PutEmailIdentityDkimAttributes",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/email/identities/{EmailIdentity}/dkim"
      },
      "input":{"shape":"PutEmailIdentityDkimAttributesRequest"},
      "output":{"shape":"PutEmailIdentityDkimAttributesResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Used to enable or disable DKIM authentication for an email identity.</p>"
    },
    "PutEmailIdentityDkimSigningAttributes":{
      "name":"PutEmailIdentityDkimSigningAttributes",
      "http":{
        "method":"PUT",
        "requestUri":"/v1/email/identities/{EmailIdentity}/dkim/signing"
      },
      "input":{"shape":"PutEmailIdentityDkimSigningAttributesRequest"},
      "output":{"shape":"PutEmailIdentityDkimSigningAttributesResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Used to configure or change the DKIM authentication settings for an email domain identity. You can use this operation to do any of the following:</p> <ul> <li> <p>Update the signing attributes for an identity that uses Bring Your Own DKIM (BYODKIM).</p> </li> <li> <p>Update the key length that should be used for Easy DKIM.</p> </li> <li> <p>Change from using no DKIM authentication to using Easy DKIM.</p> </li> <li> <p>Change from using no DKIM authentication to using BYODKIM.</p> </li> <li> <p>Change from using Easy DKIM to using BYODKIM.</p> </li> <li> <p>Change from using BYODKIM to using Easy DKIM.</p> </li> </ul>"
    },
    "PutEmailIdentityFeedbackAttributes":{
      "name":"PutEmailIdentityFeedbackAttributes",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/email/identities/{EmailIdentity}/feedback"
      },
      "input":{"shape":"PutEmailIdentityFeedbackAttributesRequest"},
      "output":{"shape":"PutEmailIdentityFeedbackAttributesResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Used to enable or disable feedback forwarding for an identity. This setting determines what happens when an identity is used to send an email that results in a bounce or complaint event.</p> <p>If the value is <code>true</code>, you receive email notifications when bounce or complaint events occur. These notifications are sent to the address that you specified in the <code>Return-Path</code> header of the original email.</p> <p>You're required to have a method of tracking bounces and complaints. If you haven't set up another mechanism for receiving bounce or complaint notifications (for example, by setting up an event destination), you receive an email notification when these events occur (even if this setting is disabled).</p>"
    },
    "PutEmailIdentityMailFromAttributes":{
      "name":"PutEmailIdentityMailFromAttributes",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/email/identities/{EmailIdentity}/mail-from"
      },
      "input":{"shape":"PutEmailIdentityMailFromAttributesRequest"},
      "output":{"shape":"PutEmailIdentityMailFromAttributesResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Used to enable or disable the custom Mail-From domain configuration for an email identity.</p>"
    },
    "PutSuppressedDestination":{
      "name":"PutSuppressedDestination",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/email/suppression/addresses"
      },
      "input":{"shape":"PutSuppressedDestinationRequest"},
      "output":{"shape":"PutSuppressedDestinationResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Adds an email address to the suppression list for your account.</p>"
    },
    "SendBulkEmail":{
      "name":"SendBulkEmail",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/outbound-bulk-emails"
      },
      "input":{"shape":"SendBulkEmailRequest"},
      "output":{"shape":"SendBulkEmailResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"LimitExceededException"},
        {"shape":"AccountSuspendedException"},
        {"shape":"SendingPausedException"},
        {"shape":"MessageRejected"},
        {"shape":"MailFromDomainNotVerifiedException"},
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Composes an email message to multiple destinations.</p>"
    },
    "SendCustomVerificationEmail":{
      "name":"SendCustomVerificationEmail",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/outbound-custom-verification-emails"
      },
      "input":{"shape":"SendCustomVerificationEmailRequest"},
      "output":{"shape":"SendCustomVerificationEmailResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"LimitExceededException"},
        {"shape":"MessageRejected"},
        {"shape":"SendingPausedException"},
        {"shape":"MailFromDomainNotVerifiedException"},
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Adds an email address to the list of identities for your Amazon SES account in the current Amazon Web Services Region and attempts to verify it. As a result of executing this operation, a customized verification email is sent to the specified address.</p> <p>To use this operation, you must first create a custom verification email template. For more information about creating and using custom verification email templates, see <a href=\"https://docs.aws.amazon.com/ses/latest/dg/creating-identities.html#send-email-verify-address-custom\">Using custom verification email templates</a> in the <i>Amazon SES Developer Guide</i>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "SendEmail":{
      "name":"SendEmail",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/outbound-emails"
      },
      "input":{"shape":"SendEmailRequest"},
      "output":{"shape":"SendEmailResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"LimitExceededException"},
        {"shape":"AccountSuspendedException"},
        {"shape":"SendingPausedException"},
        {"shape":"MessageRejected"},
        {"shape":"MailFromDomainNotVerifiedException"},
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Sends an email message. You can use the Amazon SES API v2 to send the following types of messages:</p> <ul> <li> <p> <b>Simple</b> – A standard email message. When you create this type of message, you specify the sender, the recipient, and the message body, and Amazon SES assembles the message for you.</p> </li> <li> <p> <b>Raw</b> – A raw, MIME-formatted email message. When you send this type of email, you have to specify all of the message headers, as well as the message body. You can use this message type to send messages that contain attachments. The message that you specify has to be a valid MIME message.</p> </li> <li> <p> <b>Templated</b> – A message that contains personalization tags. When you send this type of email, Amazon SES API v2 automatically replaces the tags with values that you specify.</p> </li> </ul>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/tags"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Add one or more tags (keys and values) to a specified resource. A <i>tag</i> is a label that you optionally define and associate with a resource. Tags can help you categorize and manage resources in different ways, such as by purpose, owner, environment, or other criteria. A resource can have as many as 50 tags.</p> <p>Each tag consists of a required <i>tag key</i> and an associated <i>tag value</i>, both of which you define. A tag key is a general label that acts as a category for more specific tag values. A tag value acts as a descriptor within a tag key.</p>"
    },
    "TestRenderEmailTemplate":{
      "name":"TestRenderEmailTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/v2/email/templates/{TemplateName}/render"
      },
      "input":{"shape":"TestRenderEmailTemplateRequest"},
      "output":{"shape":"TestRenderEmailTemplateResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Creates a preview of the MIME content of an email when provided with a template and a set of replacement data.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/email/tags"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Remove one or more tags (keys and values) from a specified resource.</p>"
    },
    "UpdateConfigurationSetEventDestination":{
      "name":"UpdateConfigurationSetEventDestination",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/email/configuration-sets/{ConfigurationSetName}/event-destinations/{EventDestinationName}"
      },
      "input":{"shape":"UpdateConfigurationSetEventDestinationRequest"},
      "output":{"shape":"UpdateConfigurationSetEventDestinationResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Update the configuration of an event destination for a configuration set.</p> <p> <i>Events</i> include message sends, deliveries, opens, clicks, bounces, and complaints. <i>Event destinations</i> are places that you can send information about these events to. For example, you can send event data to Amazon EventBridge and associate a rule to send the event to the specified target.</p>"
    },
    "UpdateContact":{
      "name":"UpdateContact",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/email/contact-lists/{ContactListName}/contacts/{EmailAddress}"
      },
      "input":{"shape":"UpdateContactRequest"},
      "output":{"shape":"UpdateContactResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotFoundException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Updates a contact's preferences for a list.</p> <note> <p>You must specify all existing topic preferences in the <code>TopicPreferences</code> object, not just the ones that need updating; otherwise, all your existing preferences will be removed.</p> </note>"
    },
    "UpdateContactList":{
      "name":"UpdateContactList",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/email/contact-lists/{ContactListName}"
      },
      "input":{"shape":"UpdateContactListRequest"},
      "output":{"shape":"UpdateContactListResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"NotFoundException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Updates contact list metadata. This operation does a complete replacement.</p>"
    },
    "UpdateCustomVerificationEmailTemplate":{
      "name":"UpdateCustomVerificationEmailTemplate",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/email/custom-verification-email-templates/{TemplateName}"
      },
      "input":{"shape":"UpdateCustomVerificationEmailTemplateRequest"},
      "output":{"shape":"UpdateCustomVerificationEmailTemplateResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Updates an existing custom verification email template.</p> <p>For more information about custom verification email templates, see <a href=\"https://docs.aws.amazon.com/ses/latest/dg/creating-identities.html#send-email-verify-address-custom\">Using custom verification email templates</a> in the <i>Amazon SES Developer Guide</i>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "UpdateEmailIdentityPolicy":{
      "name":"UpdateEmailIdentityPolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/email/identities/{EmailIdentity}/policies/{PolicyName}"
      },
      "input":{"shape":"UpdateEmailIdentityPolicyRequest"},
      "output":{"shape":"UpdateEmailIdentityPolicyResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Updates the specified sending authorization policy for the given identity (an email address or a domain). This API returns successfully even if a policy with the specified name does not exist.</p> <note> <p>This API is for the identity owner only. If you have not verified the identity, this API will return an error.</p> </note> <p>Sending authorization is a feature that enables an identity owner to authorize other senders to use its identities. For information about using sending authorization, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/sending-authorization.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "UpdateEmailTemplate":{
      "name":"UpdateEmailTemplate",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/email/templates/{TemplateName}"
      },
      "input":{"shape":"UpdateEmailTemplateRequest"},
      "output":{"shape":"UpdateEmailTemplateResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Updates an email template. Email templates enable you to send personalized email to one or more destinations in a single API operation. For more information, see the <a href=\"https://docs.aws.amazon.com/ses/latest/DeveloperGuide/send-personalized-email-api.html\">Amazon SES Developer Guide</a>.</p> <p>You can execute this operation no more than once per second.</p>"
    },
    "UpdateReputationEntityCustomerManagedStatus":{
      "name":"UpdateReputationEntityCustomerManagedStatus",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/email/reputation/entities/{ReputationEntityType}/{ReputationEntityReference}/customer-managed-status"
      },
      "input":{"shape":"UpdateReputationEntityCustomerManagedStatusRequest"},
      "output":{"shape":"UpdateReputationEntityCustomerManagedStatusResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Update the customer-managed sending status for a reputation entity. This allows you to enable, disable, or reinstate sending for the entity.</p> <p>The customer-managed status works in conjunction with the Amazon Web Services Amazon SES-managed status to determine the overall sending capability. When you update the customer-managed status, the Amazon Web Services Amazon SES-managed status remains unchanged. If Amazon Web Services Amazon SES has disabled the entity, it will not be allowed to send regardless of the customer-managed status setting. When you reinstate an entity through the customer-managed status, it can continue sending only if the Amazon Web Services Amazon SES-managed status also permits sending, even if there are active reputation findings, until the findings are resolved or new violations occur.</p>"
    },
    "UpdateReputationEntityPolicy":{
      "name":"UpdateReputationEntityPolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/email/reputation/entities/{ReputationEntityType}/{ReputationEntityReference}/policy"
      },
      "input":{"shape":"UpdateReputationEntityPolicyRequest"},
      "output":{"shape":"UpdateReputationEntityPolicyResponse"},
      "errors":[
        {"shape":"TooManyRequestsException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Update the reputation management policy for a reputation entity. The policy determines how the entity responds to reputation findings, such as automatically pausing sending when certain thresholds are exceeded.</p> <p>Reputation management policies are Amazon Web Services Amazon SES-managed (predefined policies). You can select from none, standard, and strict policies.</p>"
    }
  },
  "shapes":{
    "AccountDetails":{
      "type":"structure",
      "members":{
        "MailType":{
          "shape":"MailType",
          "documentation":"<p>The type of email your account is sending. The mail type can be one of the following:</p> <ul> <li> <p> <code>MARKETING</code> – Most of your sending traffic is to keep your customers informed of your latest offering.</p> </li> <li> <p> <code>TRANSACTIONAL</code> – Most of your sending traffic is to communicate during a transaction with a customer.</p> </li> </ul>"
        },
        "WebsiteURL":{
          "shape":"WebsiteURL",
          "documentation":"<p>The URL of your website. This information helps us better understand the type of content that you plan to send.</p>"
        },
        "ContactLanguage":{
          "shape":"ContactLanguage",
          "documentation":"<p>The language you would prefer for the case. The contact language can be one of <code>ENGLISH</code> or <code>JAPANESE</code>.</p>"
        },
        "UseCaseDescription":{
          "shape":"UseCaseDescription",
          "documentation":"<p>A description of the types of email that you plan to send.</p>"
        },
        "AdditionalContactEmailAddresses":{
          "shape":"AdditionalContactEmailAddresses",
          "documentation":"<p>Additional email addresses where updates are sent about your account review process.</p>"
        },
        "ReviewDetails":{
          "shape":"ReviewDetails",
          "documentation":"<p>Information about the review of the latest details you submitted.</p>"
        }
      },
      "documentation":"<p>An object that contains information about your account details.</p>"
    },
    "AccountSuspendedException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The message can't be sent because the account's ability to send email has been permanently restricted.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "AdditionalContactEmailAddress":{
      "type":"string",
      "max":254,
      "min":6,
      "pattern":"^(.+)@(.+)$",
      "sensitive":true
    },
    "AdditionalContactEmailAddresses":{
      "type":"list",
      "member":{"shape":"AdditionalContactEmailAddress"},
      "max":4,
      "min":1,
      "sensitive":true
    },
    "AdminEmail":{"type":"string"},
    "AlreadyExistsException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The resource specified in your request already exists.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "AmazonResourceName":{
      "type":"string",
      "min":1
    },
    "ArchiveArn":{
      "type":"string",
      "max":1011,
      "min":20,
      "pattern":"arn:(aws|aws-[a-z-]+):ses:[a-z]{2}-[a-z-]+-[0-9]:[0-9]{1,20}:mailmanager-archive/a-[a-z0-9]{24,62}"
    },
    "ArchivingOptions":{
      "type":"structure",
      "members":{
        "ArchiveArn":{
          "shape":"ArchiveArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the MailManager archive where the Amazon SES API v2 will archive sent emails.</p>"
        }
      },
      "documentation":"<p>Used to associate a configuration set with a MailManager archive.</p>"
    },
    "Attachment":{
      "type":"structure",
      "required":[
        "RawContent",
        "FileName"
      ],
      "members":{
        "RawContent":{
          "shape":"RawAttachmentData",
          "documentation":"<p> The raw data of the attachment. It needs to be base64-encoded if you are accessing Amazon SES directly through the HTTPS interface. If you are accessing Amazon SES using an Amazon Web Services SDK, the SDK takes care of the base 64-encoding for you.</p>"
        },
        "ContentDisposition":{
          "shape":"AttachmentContentDisposition",
          "documentation":"<p> A standard descriptor indicating how the attachment should be rendered in the email. Supported values: <code>ATTACHMENT</code> or <code>INLINE</code>.</p>"
        },
        "FileName":{
          "shape":"AttachmentFileName",
          "documentation":"<p>The file name for the attachment as it will appear in the email. Amazon SES restricts certain file extensions. To ensure attachments are accepted, check the <a href=\"https://docs.aws.amazon.com/ses/latest/dg/mime-types.html\">Unsupported attachment types</a> in the Amazon SES Developer Guide.</p>"
        },
        "ContentDescription":{
          "shape":"AttachmentContentDescription",
          "documentation":"<p> A brief description of the attachment content.</p>"
        },
        "ContentId":{
          "shape":"AttachmentContentId",
          "documentation":"<p> Unique identifier for the attachment, used for referencing attachments with INLINE disposition in HTML content.</p>"
        },
        "ContentTransferEncoding":{
          "shape":"AttachmentContentTransferEncoding",
          "documentation":"<p> Specifies how the attachment is encoded. Supported values: <code>BASE64</code>, <code>QUOTED_PRINTABLE</code>, <code>SEVEN_BIT</code>.</p>"
        },
        "ContentType":{
          "shape":"AttachmentContentType",
          "documentation":"<p> The MIME type of the attachment.</p> <note> <p>Example: <code>application/pdf</code>, <code>image/jpeg</code> </p> </note>"
        }
      },
      "documentation":"<p> Contains metadata and attachment raw content.</p>"
    },
    "AttachmentContentDescription":{
      "type":"string",
      "max":1000
    },
    "AttachmentContentDisposition":{
      "type":"string",
      "enum":[
        "ATTACHMENT",
        "INLINE"
      ]
    },
    "AttachmentContentId":{
      "type":"string",
      "max":78,
      "min":1
    },
    "AttachmentContentTransferEncoding":{
      "type":"string",
      "enum":[
        "BASE64",
        "QUOTED_PRINTABLE",
        "SEVEN_BIT"
      ]
    },
    "AttachmentContentType":{
      "type":"string",
      "max":78,
      "min":1
    },
    "AttachmentFileName":{
      "type":"string",
      "max":255
    },
    "AttachmentList":{
      "type":"list",
      "member":{"shape":"Attachment"}
    },
    "AttributesData":{"type":"string"},
    "BadRequestException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The input you provided is invalid.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "BatchGetMetricDataQueries":{
      "type":"list",
      "member":{"shape":"BatchGetMetricDataQuery"},
      "max":10,
      "min":1
    },
    "BatchGetMetricDataQuery":{
      "type":"structure",
      "required":[
        "Id",
        "Namespace",
        "Metric",
        "StartDate",
        "EndDate"
      ],
      "members":{
        "Id":{
          "shape":"QueryIdentifier",
          "documentation":"<p>The query identifier.</p>"
        },
        "Namespace":{
          "shape":"MetricNamespace",
          "documentation":"<p>The query namespace - e.g. <code>VDM</code> </p>"
        },
        "Metric":{
          "shape":"Metric",
          "documentation":"<p>The queried metric. This can be one of the following:</p> <ul> <li> <p> <code>SEND</code> – Emails sent eligible for tracking in the VDM dashboard. This excludes emails sent to the mailbox simulator and emails addressed to more than one recipient.</p> </li> <li> <p> <code>COMPLAINT</code> – Complaints received for your account. This excludes complaints from the mailbox simulator, those originating from your account-level suppression list (if enabled), and those for emails addressed to more than one recipient</p> </li> <li> <p> <code>PERMANENT_BOUNCE</code> – Permanent bounces - i.e. feedback received for emails sent to non-existent mailboxes. Excludes bounces from the mailbox simulator, those originating from your account-level suppression list (if enabled), and those for emails addressed to more than one recipient.</p> </li> <li> <p> <code>TRANSIENT_BOUNCE</code> – Transient bounces - i.e. feedback received for delivery failures excluding issues with non-existent mailboxes. Excludes bounces from the mailbox simulator, and those for emails addressed to more than one recipient.</p> </li> <li> <p> <code>OPEN</code> – Unique open events for emails including open trackers. Excludes opens for emails addressed to more than one recipient.</p> </li> <li> <p> <code>CLICK</code> – Unique click events for emails including wrapped links. Excludes clicks for emails addressed to more than one recipient.</p> </li> <li> <p> <code>DELIVERY</code> – Successful deliveries for email sending attempts. Excludes deliveries to the mailbox simulator and for emails addressed to more than one recipient.</p> </li> <li> <p> <code>DELIVERY_OPEN</code> – Successful deliveries for email sending attempts. Excludes deliveries to the mailbox simulator, for emails addressed to more than one recipient, and emails without open trackers.</p> </li> <li> <p> <code>DELIVERY_CLICK</code> – Successful deliveries for email sending attempts. Excludes deliveries to the mailbox simulator, for emails addressed to more than one recipient, and emails without click trackers.</p> </li> <li> <p> <code>DELIVERY_COMPLAINT</code> – Successful deliveries for email sending attempts. Excludes deliveries to the mailbox simulator, for emails addressed to more than one recipient, and emails addressed to recipients hosted by ISPs with which Amazon SES does not have a feedback loop agreement.</p> </li> </ul>"
        },
        "Dimensions":{
          "shape":"Dimensions",
          "documentation":"<p>An object that contains mapping between <code>MetricDimensionName</code> and <code>MetricDimensionValue</code> to filter metrics by.</p>"
        },
        "StartDate":{
          "shape":"Timestamp",
          "documentation":"<p>Represents the start date for the query interval.</p>"
        },
        "EndDate":{
          "shape":"Timestamp",
          "documentation":"<p>Represents the end date for the query interval.</p>"
        }
      },
      "documentation":"<p>Represents a single metric data query to include in a batch.</p>"
    },
    "BatchGetMetricDataRequest":{
      "type":"structure",
      "required":["Queries"],
      "members":{
        "Queries":{
          "shape":"BatchGetMetricDataQueries",
          "documentation":"<p>A list of queries for metrics to be retrieved.</p>"
        }
      },
      "documentation":"<p>Represents a request to retrieve a batch of metric data.</p>"
    },
    "BatchGetMetricDataResponse":{
      "type":"structure",
      "members":{
        "Results":{
          "shape":"MetricDataResultList",
          "documentation":"<p>A list of successfully retrieved <code>MetricDataResult</code>.</p>"
        },
        "Errors":{
          "shape":"MetricDataErrorList",
          "documentation":"<p>A list of <code>MetricDataError</code> encountered while processing your metric data batch request.</p>"
        }
      },
      "documentation":"<p>Represents the result of processing your metric data batch request</p>"
    },
    "BehaviorOnMxFailure":{
      "type":"string",
      "documentation":"<p>The action to take if the required MX record can't be found when you send an email. When you set this value to <code>UseDefaultValue</code>, the mail is sent using <i>amazonses.com</i> as the MAIL FROM domain. When you set this value to <code>RejectMessage</code>, the Amazon SES API v2 returns a <code>MailFromDomainNotVerified</code> error, and doesn't attempt to deliver the email.</p> <p>These behaviors are taken when the custom MAIL FROM domain configuration is in the <code>Pending</code>, <code>Failed</code>, and <code>TemporaryFailure</code> states.</p>",
      "enum":[
        "USE_DEFAULT_VALUE",
        "REJECT_MESSAGE"
      ]
    },
    "BlacklistEntries":{
      "type":"list",
      "member":{"shape":"BlacklistEntry"}
    },
    "BlacklistEntry":{
      "type":"structure",
      "members":{
        "RblName":{
          "shape":"RblName",
          "documentation":"<p>The name of the blacklist that the IP address appears on.</p>"
        },
        "ListingTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time when the blacklisting event occurred.</p>"
        },
        "Description":{
          "shape":"BlacklistingDescription",
          "documentation":"<p>Additional information about the blacklisting event, as provided by the blacklist maintainer.</p>"
        }
      },
      "documentation":"<p>An object that contains information about a blacklisting event that impacts one of the dedicated IP addresses that is associated with your account.</p>"
    },
    "BlacklistItemName":{
      "type":"string",
      "documentation":"<p>An IP address that you want to obtain blacklist information for.</p>"
    },
    "BlacklistItemNames":{
      "type":"list",
      "member":{"shape":"BlacklistItemName"}
    },
    "BlacklistReport":{
      "type":"map",
      "key":{"shape":"BlacklistItemName"},
      "value":{"shape":"BlacklistEntries"}
    },
    "BlacklistingDescription":{
      "type":"string",
      "documentation":"<p>A description of the blacklisting event.</p>"
    },
    "Body":{
      "type":"structure",
      "members":{
        "Text":{
          "shape":"Content",
          "documentation":"<p>An object that represents the version of the message that is displayed in email clients that don't support HTML, or clients where the recipient has disabled HTML rendering.</p>"
        },
        "Html":{
          "shape":"Content",
          "documentation":"<p>An object that represents the version of the message that is displayed in email clients that support HTML. HTML messages can include formatted text, hyperlinks, images, and more. </p>"
        }
      },
      "documentation":"<p>Represents the body of the email message.</p>"
    },
    "Bounce":{
      "type":"structure",
      "members":{
        "BounceType":{
          "shape":"BounceType",
          "documentation":"<p>The type of the bounce, as determined by SES. Can be one of <code>UNDETERMINED</code>, <code>TRANSIENT</code>, or <code>PERMANENT</code> </p>"
[...]
