{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2020-10-19",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"wisdom",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"Amazon Q Connect",
    "serviceId":"QConnect",
    "signatureVersion":"v4",
    "signingName":"wisdom",
    "uid":"qconnect-2020-10-19"
  },
  "operations":{
    "ActivateMessageTemplate":{
      "name":"ActivateMessageTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/messageTemplates/{messageTemplateId}/activate",
        "responseCode":200
      },
      "input":{"shape":"ActivateMessageTemplateRequest"},
      "output":{"shape":"ActivateMessageTemplateResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Activates a specific version of the Amazon Q in Connect message template. After the version is activated, the previous active version will be deactivated automatically. You can use the <code>$ACTIVE_VERSION</code> qualifier later to reference the version that is in active status.</p>"
    },
    "CreateAIAgent":{
      "name":"CreateAIAgent",
      "http":{
        "method":"POST",
        "requestUri":"/assistants/{assistantId}/aiagents",
        "responseCode":200
      },
      "input":{"shape":"CreateAIAgentRequest"},
      "output":{"shape":"CreateAIAgentResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates an Amazon Q in Connect AI Agent.</p>",
      "idempotent":true
    },
    "CreateAIAgentVersion":{
      "name":"CreateAIAgentVersion",
      "http":{
        "method":"POST",
        "requestUri":"/assistants/{assistantId}/aiagents/{aiAgentId}/versions",
        "responseCode":200
      },
      "input":{"shape":"CreateAIAgentVersionRequest"},
      "output":{"shape":"CreateAIAgentVersionResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Creates and Amazon Q in Connect AI Agent version.</p>",
      "idempotent":true
    },
    "CreateAIGuardrail":{
      "name":"CreateAIGuardrail",
      "http":{
        "method":"POST",
        "requestUri":"/assistants/{assistantId}/aiguardrails",
        "responseCode":200
      },
      "input":{"shape":"CreateAIGuardrailRequest"},
      "output":{"shape":"CreateAIGuardrailResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates an Amazon Q in Connect AI Guardrail.</p>",
      "idempotent":true
    },
    "CreateAIGuardrailVersion":{
      "name":"CreateAIGuardrailVersion",
      "http":{
        "method":"POST",
        "requestUri":"/assistants/{assistantId}/aiguardrails/{aiGuardrailId}/versions",
        "responseCode":200
      },
      "input":{"shape":"CreateAIGuardrailVersionRequest"},
      "output":{"shape":"CreateAIGuardrailVersionResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Creates an Amazon Q in Connect AI Guardrail version.</p>",
      "idempotent":true
    },
    "CreateAIPrompt":{
      "name":"CreateAIPrompt",
      "http":{
        "method":"POST",
        "requestUri":"/assistants/{assistantId}/aiprompts",
        "responseCode":200
      },
      "input":{"shape":"CreateAIPromptRequest"},
      "output":{"shape":"CreateAIPromptResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates an Amazon Q in Connect AI Prompt.</p> <note> <p>For more information on supported models, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/create-ai-prompts.html#cli-create-aiprompt\">Supported models for system and custom prompts</a>.</p> </note>",
      "idempotent":true
    },
    "CreateAIPromptVersion":{
      "name":"CreateAIPromptVersion",
      "http":{
        "method":"POST",
        "requestUri":"/assistants/{assistantId}/aiprompts/{aiPromptId}/versions",
        "responseCode":200
      },
      "input":{"shape":"CreateAIPromptVersionRequest"},
      "output":{"shape":"CreateAIPromptVersionResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Creates an Amazon Q in Connect AI Prompt version.</p>",
      "idempotent":true
    },
    "CreateAssistant":{
      "name":"CreateAssistant",
      "http":{
        "method":"POST",
        "requestUri":"/assistants",
        "responseCode":200
      },
      "input":{"shape":"CreateAssistantRequest"},
      "output":{"shape":"CreateAssistantResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates an Amazon Q in Connect assistant.</p>",
      "idempotent":true
    },
    "CreateAssistantAssociation":{
      "name":"CreateAssistantAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/assistants/{assistantId}/associations",
        "responseCode":200
      },
      "input":{"shape":"CreateAssistantAssociationRequest"},
      "output":{"shape":"CreateAssistantAssociationResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Creates an association between an Amazon Q in Connect assistant and another resource. Currently, the only supported association is with a knowledge base. An assistant can have only a single association.</p>",
      "idempotent":true
    },
    "CreateContent":{
      "name":"CreateContent",
      "http":{
        "method":"POST",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/contents",
        "responseCode":200
      },
      "input":{"shape":"CreateContentRequest"},
      "output":{"shape":"CreateContentResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Creates Amazon Q in Connect content. Before to calling this API, use <a href=\"https://docs.aws.amazon.com/amazon-q-connect/latest/APIReference/API_StartContentUpload.html\">StartContentUpload</a> to upload an asset.</p>",
      "idempotent":true
    },
    "CreateContentAssociation":{
      "name":"CreateContentAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/contents/{contentId}/associations",
        "responseCode":200
      },
      "input":{"shape":"CreateContentAssociationRequest"},
      "output":{"shape":"CreateContentAssociationResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates an association between a content resource in a knowledge base and <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/step-by-step-guided-experiences.html\">step-by-step guides</a>. Step-by-step guides offer instructions to agents for resolving common customer issues. You create a content association to integrate Amazon Q in Connect and step-by-step guides. </p> <p>After you integrate Amazon Q and step-by-step guides, when Amazon Q provides a recommendation to an agent based on the intent that it's detected, it also provides them with the option to start the step-by-step guide that you have associated with the content.</p> <p>Note the following limitations:</p> <ul> <li> <p>You can create only one content association for each content resource in a knowledge base.</p> </li> <li> <p>You can associate a step-by-step guide with multiple content resources.</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/integrate-q-with-guides.html\">Integrate Amazon Q in Connect with step-by-step guides</a> in the <i>Amazon Connect Administrator Guide</i>. </p>"
    },
    "CreateKnowledgeBase":{
      "name":"CreateKnowledgeBase",
      "http":{
        "method":"POST",
        "requestUri":"/knowledgeBases",
        "responseCode":200
      },
      "input":{"shape":"CreateKnowledgeBaseRequest"},
      "output":{"shape":"CreateKnowledgeBaseResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a knowledge base.</p> <note> <p>When using this API, you cannot reuse <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/Welcome.html\">Amazon AppIntegrations</a> DataIntegrations with external knowledge bases such as Salesforce and ServiceNow. If you do, you'll get an <code>InvalidRequestException</code> error. </p> <p>For example, you're programmatically managing your external knowledge base, and you want to add or remove one of the fields that is being ingested from Salesforce. Do the following:</p> <ol> <li> <p>Call <a href=\"https://docs.aws.amazon.com/amazon-q-connect/latest/APIReference/API_DeleteKnowledgeBase.html\">DeleteKnowledgeBase</a>.</p> </li> <li> <p>Call <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/API_DeleteDataIntegration.html\">DeleteDataIntegration</a>.</p> </li> <li> <p>Call <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/API_CreateDataIntegration.html\">CreateDataIntegration</a> to recreate the DataIntegration or a create different one.</p> </li> <li> <p>Call CreateKnowledgeBase.</p> </li> </ol> </note>",
      "idempotent":true
    },
    "CreateMessageTemplate":{
      "name":"CreateMessageTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/messageTemplates",
        "responseCode":200
      },
      "input":{"shape":"CreateMessageTemplateRequest"},
      "output":{"shape":"CreateMessageTemplateResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates an Amazon Q in Connect message template. The name of the message template has to be unique for each knowledge base. The channel subtype of the message template is immutable and cannot be modified after creation. After the message template is created, you can use the <code>$LATEST</code> qualifier to reference the created message template.</p>",
      "idempotent":true
    },
    "CreateMessageTemplateAttachment":{
      "name":"CreateMessageTemplateAttachment",
      "http":{
        "method":"POST",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/messageTemplates/{messageTemplateId}/attachments",
        "responseCode":200
      },
      "input":{"shape":"CreateMessageTemplateAttachmentRequest"},
      "output":{"shape":"CreateMessageTemplateAttachmentResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Uploads an attachment file to the specified Amazon Q in Connect message template. The name of the message template attachment has to be unique for each message template referenced by the <code>$LATEST</code> qualifier. The body of the attachment file should be encoded using base64 encoding. After the file is uploaded, you can use the pre-signed Amazon S3 URL returned in response to download the uploaded file.</p>",
      "idempotent":true
    },
    "CreateMessageTemplateVersion":{
      "name":"CreateMessageTemplateVersion",
      "http":{
        "method":"POST",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/messageTemplates/{messageTemplateId}/versions",
        "responseCode":200
      },
      "input":{"shape":"CreateMessageTemplateVersionRequest"},
      "output":{"shape":"CreateMessageTemplateVersionResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a new Amazon Q in Connect message template version from the current content and configuration of a message template. Versions are immutable and monotonically increasing. Once a version is created, you can reference a specific version of the message template by passing in <code>&lt;message-template-id&gt;:&lt;versionNumber&gt;</code> as the message template identifier. An error is displayed if the supplied <code>messageTemplateContentSha256</code> is different from the <code>messageTemplateContentSha256</code> of the message template with <code>$LATEST</code> qualifier. If multiple <code>CreateMessageTemplateVersion</code> requests are made while the message template remains the same, only the first invocation creates a new version and the succeeding requests will return the same response as the first invocation.</p>"
    },
    "CreateQuickResponse":{
      "name":"CreateQuickResponse",
      "http":{
        "method":"POST",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/quickResponses",
        "responseCode":200
      },
      "input":{"shape":"CreateQuickResponseRequest"},
      "output":{"shape":"CreateQuickResponseResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Creates an Amazon Q in Connect quick response.</p>",
      "idempotent":true
    },
    "CreateSession":{
      "name":"CreateSession",
      "http":{
        "method":"POST",
        "requestUri":"/assistants/{assistantId}/sessions",
        "responseCode":200
      },
      "input":{"shape":"CreateSessionRequest"},
      "output":{"shape":"CreateSessionResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Creates a session. A session is a contextual container used for generating recommendations. Amazon Connect creates a new Amazon Q in Connect session for each contact on which Amazon Q in Connect is enabled.</p>",
      "idempotent":true
    },
    "DeactivateMessageTemplate":{
      "name":"DeactivateMessageTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/messageTemplates/{messageTemplateId}/deactivate",
        "responseCode":200
      },
      "input":{"shape":"DeactivateMessageTemplateRequest"},
      "output":{"shape":"DeactivateMessageTemplateResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deactivates a specific version of the Amazon Q in Connect message template . After the version is deactivated, you can no longer use the <code>$ACTIVE_VERSION</code> qualifier to reference the version in active status.</p>"
    },
    "DeleteAIAgent":{
      "name":"DeleteAIAgent",
      "http":{
        "method":"DELETE",
        "requestUri":"/assistants/{assistantId}/aiagents/{aiAgentId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteAIAgentRequest"},
      "output":{"shape":"DeleteAIAgentResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes an Amazon Q in Connect AI Agent.</p>",
      "idempotent":true
    },
    "DeleteAIAgentVersion":{
      "name":"DeleteAIAgentVersion",
      "http":{
        "method":"DELETE",
        "requestUri":"/assistants/{assistantId}/aiagents/{aiAgentId}/versions/{versionNumber}",
        "responseCode":204
      },
      "input":{"shape":"DeleteAIAgentVersionRequest"},
      "output":{"shape":"DeleteAIAgentVersionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes an Amazon Q in Connect AI Agent Version.</p>",
      "idempotent":true
    },
    "DeleteAIGuardrail":{
      "name":"DeleteAIGuardrail",
      "http":{
        "method":"DELETE",
        "requestUri":"/assistants/{assistantId}/aiguardrails/{aiGuardrailId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteAIGuardrailRequest"},
      "output":{"shape":"DeleteAIGuardrailResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes an Amazon Q in Connect AI Guardrail.</p>",
      "idempotent":true
    },
    "DeleteAIGuardrailVersion":{
      "name":"DeleteAIGuardrailVersion",
      "http":{
        "method":"DELETE",
        "requestUri":"/assistants/{assistantId}/aiguardrails/{aiGuardrailId}/versions/{versionNumber}",
        "responseCode":202
      },
      "input":{"shape":"DeleteAIGuardrailVersionRequest"},
      "output":{"shape":"DeleteAIGuardrailVersionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Delete and Amazon Q in Connect AI Guardrail version.</p>",
      "idempotent":true
    },
    "DeleteAIPrompt":{
      "name":"DeleteAIPrompt",
      "http":{
        "method":"DELETE",
        "requestUri":"/assistants/{assistantId}/aiprompts/{aiPromptId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteAIPromptRequest"},
      "output":{"shape":"DeleteAIPromptResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes an Amazon Q in Connect AI Prompt.</p>",
      "idempotent":true
    },
    "DeleteAIPromptVersion":{
      "name":"DeleteAIPromptVersion",
      "http":{
        "method":"DELETE",
        "requestUri":"/assistants/{assistantId}/aiprompts/{aiPromptId}/versions/{versionNumber}",
        "responseCode":204
      },
      "input":{"shape":"DeleteAIPromptVersionRequest"},
      "output":{"shape":"DeleteAIPromptVersionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Delete and Amazon Q in Connect AI Prompt version.</p>",
      "idempotent":true
    },
    "DeleteAssistant":{
      "name":"DeleteAssistant",
      "http":{
        "method":"DELETE",
        "requestUri":"/assistants/{assistantId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteAssistantRequest"},
      "output":{"shape":"DeleteAssistantResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes an assistant.</p>",
      "idempotent":true
    },
    "DeleteAssistantAssociation":{
      "name":"DeleteAssistantAssociation",
      "http":{
        "method":"DELETE",
        "requestUri":"/assistants/{assistantId}/associations/{assistantAssociationId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteAssistantAssociationRequest"},
      "output":{"shape":"DeleteAssistantAssociationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes an assistant association.</p>",
      "idempotent":true
    },
    "DeleteContent":{
      "name":"DeleteContent",
      "http":{
        "method":"DELETE",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/contents/{contentId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteContentRequest"},
      "output":{"shape":"DeleteContentResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes the content.</p>",
      "idempotent":true
    },
    "DeleteContentAssociation":{
      "name":"DeleteContentAssociation",
      "http":{
        "method":"DELETE",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/contents/{contentId}/associations/{contentAssociationId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteContentAssociationRequest"},
      "output":{"shape":"DeleteContentAssociationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes the content association. </p> <p>For more information about content associations--what they are and when they are used--see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/integrate-q-with-guides.html\">Integrate Amazon Q in Connect with step-by-step guides</a> in the <i>Amazon Connect Administrator Guide</i>. </p>",
      "idempotent":true
    },
    "DeleteImportJob":{
      "name":"DeleteImportJob",
      "http":{
        "method":"DELETE",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/importJobs/{importJobId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteImportJobRequest"},
      "output":{"shape":"DeleteImportJobResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes the quick response import job.</p>",
      "idempotent":true
    },
    "DeleteKnowledgeBase":{
      "name":"DeleteKnowledgeBase",
      "http":{
        "method":"DELETE",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteKnowledgeBaseRequest"},
      "output":{"shape":"DeleteKnowledgeBaseResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes the knowledge base.</p> <note> <p>When you use this API to delete an external knowledge base such as Salesforce or ServiceNow, you must also delete the <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/Welcome.html\">Amazon AppIntegrations</a> DataIntegration. This is because you can't reuse the DataIntegration after it's been associated with an external knowledge base. However, you can delete and recreate it. See <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/API_DeleteDataIntegration.html\">DeleteDataIntegration</a> and <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/API_CreateDataIntegration.html\">CreateDataIntegration</a> in the <i>Amazon AppIntegrations API Reference</i>.</p> </note>",
      "idempotent":true
    },
    "DeleteMessageTemplate":{
      "name":"DeleteMessageTemplate",
      "http":{
        "method":"DELETE",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/messageTemplates/{messageTemplateId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteMessageTemplateRequest"},
      "output":{"shape":"DeleteMessageTemplateResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes an Amazon Q in Connect message template entirely or a specific version of the message template if version is supplied in the request. You can provide the message template identifier as <code>&lt;message-template-id&gt;:&lt;versionNumber&gt;</code> to delete a specific version of the message template. If it is not supplied, the message template and all available versions will be deleted.</p>",
      "idempotent":true
    },
    "DeleteMessageTemplateAttachment":{
      "name":"DeleteMessageTemplateAttachment",
      "http":{
        "method":"DELETE",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/messageTemplates/{messageTemplateId}/attachments/{attachmentId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteMessageTemplateAttachmentRequest"},
      "output":{"shape":"DeleteMessageTemplateAttachmentResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes the attachment file from the Amazon Q in Connect message template that is referenced by <code>$LATEST</code> qualifier. Attachments on available message template versions will remain unchanged.</p>",
      "idempotent":true
    },
    "DeleteQuickResponse":{
      "name":"DeleteQuickResponse",
      "http":{
        "method":"DELETE",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/quickResponses/{quickResponseId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteQuickResponseRequest"},
      "output":{"shape":"DeleteQuickResponseResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes a quick response.</p>",
      "idempotent":true
    },
    "GetAIAgent":{
      "name":"GetAIAgent",
      "http":{
        "method":"GET",
        "requestUri":"/assistants/{assistantId}/aiagents/{aiAgentId}",
        "responseCode":200
      },
      "input":{"shape":"GetAIAgentRequest"},
      "output":{"shape":"GetAIAgentResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets an Amazon Q in Connect AI Agent.</p>"
    },
    "GetAIGuardrail":{
      "name":"GetAIGuardrail",
      "http":{
        "method":"GET",
        "requestUri":"/assistants/{assistantId}/aiguardrails/{aiGuardrailId}",
        "responseCode":200
      },
      "input":{"shape":"GetAIGuardrailRequest"},
      "output":{"shape":"GetAIGuardrailResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets the Amazon Q in Connect AI Guardrail.</p>"
    },
    "GetAIPrompt":{
      "name":"GetAIPrompt",
      "http":{
        "method":"GET",
        "requestUri":"/assistants/{assistantId}/aiprompts/{aiPromptId}",
        "responseCode":200
      },
      "input":{"shape":"GetAIPromptRequest"},
      "output":{"shape":"GetAIPromptResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets and Amazon Q in Connect AI Prompt.</p>"
    },
    "GetAssistant":{
      "name":"GetAssistant",
      "http":{
        "method":"GET",
        "requestUri":"/assistants/{assistantId}",
        "responseCode":200
      },
      "input":{"shape":"GetAssistantRequest"},
      "output":{"shape":"GetAssistantResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves information about an assistant.</p>"
    },
    "GetAssistantAssociation":{
      "name":"GetAssistantAssociation",
      "http":{
        "method":"GET",
        "requestUri":"/assistants/{assistantId}/associations/{assistantAssociationId}",
        "responseCode":200
      },
      "input":{"shape":"GetAssistantAssociationRequest"},
      "output":{"shape":"GetAssistantAssociationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves information about an assistant association.</p>"
    },
    "GetContent":{
      "name":"GetContent",
      "http":{
        "method":"GET",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/contents/{contentId}",
        "responseCode":200
      },
      "input":{"shape":"GetContentRequest"},
      "output":{"shape":"GetContentResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves content, including a pre-signed URL to download the content.</p>"
    },
    "GetContentAssociation":{
      "name":"GetContentAssociation",
      "http":{
        "method":"GET",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/contents/{contentId}/associations/{contentAssociationId}",
        "responseCode":200
      },
      "input":{"shape":"GetContentAssociationRequest"},
      "output":{"shape":"GetContentAssociationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns the content association.</p> <p>For more information about content associations--what they are and when they are used--see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/integrate-q-with-guides.html\">Integrate Amazon Q in Connect with step-by-step guides</a> in the <i>Amazon Connect Administrator Guide</i>.</p>"
    },
    "GetContentSummary":{
      "name":"GetContentSummary",
      "http":{
        "method":"GET",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/contents/{contentId}/summary",
        "responseCode":200
      },
      "input":{"shape":"GetContentSummaryRequest"},
      "output":{"shape":"GetContentSummaryResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves summary information about the content.</p>"
    },
    "GetImportJob":{
      "name":"GetImportJob",
      "http":{
        "method":"GET",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/importJobs/{importJobId}",
        "responseCode":200
      },
      "input":{"shape":"GetImportJobRequest"},
      "output":{"shape":"GetImportJobResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves the started import job.</p>"
    },
    "GetKnowledgeBase":{
      "name":"GetKnowledgeBase",
      "http":{
        "method":"GET",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}",
        "responseCode":200
      },
      "input":{"shape":"GetKnowledgeBaseRequest"},
      "output":{"shape":"GetKnowledgeBaseResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves information about the knowledge base.</p>"
    },
    "GetMessageTemplate":{
      "name":"GetMessageTemplate",
      "http":{
        "method":"GET",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/messageTemplates/{messageTemplateId}",
        "responseCode":200
      },
      "input":{"shape":"GetMessageTemplateRequest"},
      "output":{"shape":"GetMessageTemplateResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the Amazon Q in Connect message template. The message template identifier can contain an optional qualifier, for example, <code>&lt;message-template-id&gt;:&lt;qualifier&gt;</code>, which is either an actual version number or an Amazon Q Connect managed qualifier <code>$ACTIVE_VERSION</code> | <code>$LATEST</code>. If it is not supplied, then <code>$LATEST</code> is assumed implicitly.</p>"
    },
    "GetNextMessage":{
      "name":"GetNextMessage",
      "http":{
        "method":"GET",
        "requestUri":"/assistants/{assistantId}/sessions/{sessionId}/messages/next",
        "responseCode":200
      },
      "input":{"shape":"GetNextMessageRequest"},
      "output":{"shape":"GetNextMessageResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves next message on an Amazon Q in Connect session.</p>"
    },
    "GetQuickResponse":{
      "name":"GetQuickResponse",
      "http":{
        "method":"GET",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/quickResponses/{quickResponseId}",
        "responseCode":200
      },
      "input":{"shape":"GetQuickResponseRequest"},
      "output":{"shape":"GetQuickResponseResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves the quick response.</p>"
    },
    "GetRecommendations":{
      "name":"GetRecommendations",
      "http":{
        "method":"GET",
        "requestUri":"/assistants/{assistantId}/sessions/{sessionId}/recommendations",
        "responseCode":200
      },
      "input":{"shape":"GetRecommendationsRequest"},
      "output":{"shape":"GetRecommendationsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p><important> <p>This API will be discontinued starting June 1, 2024. To receive generative responses after March 1, 2024, you will need to create a new Assistant in the Amazon Connect console and integrate the Amazon Q in Connect JavaScript library (amazon-q-connectjs) into your applications.</p> </important> <p>Retrieves recommendations for the specified session. To avoid retrieving the same recommendations in subsequent calls, use <a href=\"https://docs.aws.amazon.com/amazon-q-connect/latest/APIReference/API_NotifyRecommendationsReceived.html\">NotifyRecommendationsReceived</a>. This API supports long-polling behavior with the <code>waitTimeSeconds</code> parameter. Short poll is the default behavior and only returns recommendations already available. To perform a manual query against an assistant, use <a href=\"https://docs.aws.amazon.com/amazon-q-connect/latest/APIReference/API_QueryAssistant.html\">QueryAssistant</a>.</p></p>",
      "deprecated":true,
      "deprecatedMessage":"GetRecommendations API will be discontinued starting June 1, 2024. To receive generative responses after March 1, 2024 you will need to create a new Assistant in the Connect console and integrate the Amazon Q in Connect JavaScript library (amazon-q-connectjs) into your applications."
    },
    "GetSession":{
      "name":"GetSession",
      "http":{
        "method":"GET",
        "requestUri":"/assistants/{assistantId}/sessions/{sessionId}",
        "responseCode":200
      },
      "input":{"shape":"GetSessionRequest"},
      "output":{"shape":"GetSessionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves information for a specified session.</p>"
    },
    "ListAIAgentVersions":{
      "name":"ListAIAgentVersions",
      "http":{
        "method":"GET",
        "requestUri":"/assistants/{assistantId}/aiagents/{aiAgentId}/versions",
        "responseCode":200
      },
      "input":{"shape":"ListAIAgentVersionsRequest"},
      "output":{"shape":"ListAIAgentVersionsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>List AI Agent versions.</p>"
    },
    "ListAIAgents":{
      "name":"ListAIAgents",
      "http":{
        "method":"GET",
        "requestUri":"/assistants/{assistantId}/aiagents",
        "responseCode":200
      },
      "input":{"shape":"ListAIAgentsRequest"},
      "output":{"shape":"ListAIAgentsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists AI Agents.</p>"
    },
    "ListAIGuardrailVersions":{
      "name":"ListAIGuardrailVersions",
      "http":{
        "method":"GET",
        "requestUri":"/assistants/{assistantId}/aiguardrails/{aiGuardrailId}/versions",
        "responseCode":200
      },
      "input":{"shape":"ListAIGuardrailVersionsRequest"},
      "output":{"shape":"ListAIGuardrailVersionsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists AI Guardrail versions.</p>"
    },
    "ListAIGuardrails":{
      "name":"ListAIGuardrails",
      "http":{
        "method":"GET",
        "requestUri":"/assistants/{assistantId}/aiguardrails",
        "responseCode":200
      },
      "input":{"shape":"ListAIGuardrailsRequest"},
      "output":{"shape":"ListAIGuardrailsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists the AI Guardrails available on the Amazon Q in Connect assistant.</p>"
    },
    "ListAIPromptVersions":{
      "name":"ListAIPromptVersions",
      "http":{
        "method":"GET",
        "requestUri":"/assistants/{assistantId}/aiprompts/{aiPromptId}/versions",
        "responseCode":200
      },
      "input":{"shape":"ListAIPromptVersionsRequest"},
      "output":{"shape":"ListAIPromptVersionsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists AI Prompt versions.</p>"
    },
    "ListAIPrompts":{
      "name":"ListAIPrompts",
      "http":{
        "method":"GET",
        "requestUri":"/assistants/{assistantId}/aiprompts",
        "responseCode":200
      },
      "input":{"shape":"ListAIPromptsRequest"},
      "output":{"shape":"ListAIPromptsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists the AI Prompts available on the Amazon Q in Connect assistant.</p>"
    },
    "ListAssistantAssociations":{
      "name":"ListAssistantAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/assistants/{assistantId}/associations",
        "responseCode":200
      },
      "input":{"shape":"ListAssistantAssociationsRequest"},
      "output":{"shape":"ListAssistantAssociationsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists information about assistant associations.</p>"
    },
    "ListAssistants":{
      "name":"ListAssistants",
      "http":{
        "method":"GET",
        "requestUri":"/assistants",
        "responseCode":200
      },
      "input":{"shape":"ListAssistantsRequest"},
      "output":{"shape":"ListAssistantsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists information about assistants.</p>"
    },
    "ListContentAssociations":{
      "name":"ListContentAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/contents/{contentId}/associations",
        "responseCode":200
      },
      "input":{"shape":"ListContentAssociationsRequest"},
      "output":{"shape":"ListContentAssociationsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists the content associations.</p> <p>For more information about content associations--what they are and when they are used--see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/integrate-q-with-guides.html\">Integrate Amazon Q in Connect with step-by-step guides</a> in the <i>Amazon Connect Administrator Guide</i>.</p>"
    },
    "ListContents":{
      "name":"ListContents",
      "http":{
        "method":"GET",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/contents",
        "responseCode":200
      },
      "input":{"shape":"ListContentsRequest"},
      "output":{"shape":"ListContentsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists the content.</p>"
    },
    "ListImportJobs":{
      "name":"ListImportJobs",
      "http":{
        "method":"GET",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/importJobs",
        "responseCode":200
      },
      "input":{"shape":"ListImportJobsRequest"},
      "output":{"shape":"ListImportJobsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists information about import jobs.</p>"
    },
    "ListKnowledgeBases":{
      "name":"ListKnowledgeBases",
      "http":{
        "method":"GET",
        "requestUri":"/knowledgeBases",
        "responseCode":200
      },
      "input":{"shape":"ListKnowledgeBasesRequest"},
      "output":{"shape":"ListKnowledgeBasesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists the knowledge bases.</p>"
    },
    "ListMessageTemplateVersions":{
      "name":"ListMessageTemplateVersions",
      "http":{
        "method":"GET",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/messageTemplates/{messageTemplateId}/versions",
        "responseCode":200
      },
      "input":{"shape":"ListMessageTemplateVersionsRequest"},
      "output":{"shape":"ListMessageTemplateVersionsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists all the available versions for the specified Amazon Q in Connect message template.</p>"
    },
    "ListMessageTemplates":{
      "name":"ListMessageTemplates",
      "http":{
        "method":"GET",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/messageTemplates",
        "responseCode":200
      },
      "input":{"shape":"ListMessageTemplatesRequest"},
      "output":{"shape":"ListMessageTemplatesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists all the available Amazon Q in Connect message templates for the specified knowledge base.</p>"
    },
    "ListMessages":{
      "name":"ListMessages",
      "http":{
        "method":"GET",
        "requestUri":"/assistants/{assistantId}/sessions/{sessionId}/messages",
        "responseCode":200
      },
      "input":{"shape":"ListMessagesRequest"},
      "output":{"shape":"ListMessagesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists messages on an Amazon Q in Connect session.</p>"
    },
    "ListQuickResponses":{
      "name":"ListQuickResponses",
      "http":{
        "method":"GET",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/quickResponses",
        "responseCode":200
      },
      "input":{"shape":"ListQuickResponsesRequest"},
      "output":{"shape":"ListQuickResponsesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists information about quick response.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists the tags for the specified resource.</p>"
    },
    "NotifyRecommendationsReceived":{
      "name":"NotifyRecommendationsReceived",
      "http":{
        "method":"POST",
        "requestUri":"/assistants/{assistantId}/sessions/{sessionId}/recommendations/notify",
        "responseCode":200
      },
      "input":{"shape":"NotifyRecommendationsReceivedRequest"},
      "output":{"shape":"NotifyRecommendationsReceivedResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Removes the specified recommendations from the specified assistant's queue of newly available recommendations. You can use this API in conjunction with <a href=\"https://docs.aws.amazon.com/amazon-q-connect/latest/APIReference/API_GetRecommendations.html\">GetRecommendations</a> and a <code>waitTimeSeconds</code> input for long-polling behavior and avoiding duplicate recommendations.</p>",
      "idempotent":true
    },
    "PutFeedback":{
      "name":"PutFeedback",
      "http":{
        "method":"PUT",
        "requestUri":"/assistants/{assistantId}/feedback",
        "responseCode":200
      },
      "input":{"shape":"PutFeedbackRequest"},
      "output":{"shape":"PutFeedbackResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Provides feedback against the specified assistant for the specified target. This API only supports generative targets.</p>",
      "idempotent":true
    },
    "QueryAssistant":{
      "name":"QueryAssistant",
      "http":{
        "method":"POST",
        "requestUri":"/assistants/{assistantId}/query",
        "responseCode":200
      },
      "input":{"shape":"QueryAssistantRequest"},
      "output":{"shape":"QueryAssistantResponse"},
      "errors":[
        {"shape":"RequestTimeoutException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p><important> <p>This API will be discontinued starting June 1, 2024. To receive generative responses after March 1, 2024, you will need to create a new Assistant in the Amazon Connect console and integrate the Amazon Q in Connect JavaScript library (amazon-q-connectjs) into your applications.</p> </important> <p>Performs a manual search against the specified assistant. To retrieve recommendations for an assistant, use <a href=\"https://docs.aws.amazon.com/amazon-q-connect/latest/APIReference/API_GetRecommendations.html\">GetRecommendations</a>. </p></p>",
      "deprecated":true,
      "deprecatedMessage":"QueryAssistant API will be discontinued starting June 1, 2024. To receive generative responses after March 1, 2024 you will need to create a new Assistant in the Connect console and integrate the Amazon Q in Connect JavaScript library (amazon-q-connectjs) into your applications."
    },
    "RemoveAssistantAIAgent":{
      "name":"RemoveAssistantAIAgent",
      "http":{
        "method":"DELETE",
        "requestUri":"/assistants/{assistantId}/aiagentConfiguration",
        "responseCode":204
      },
      "input":{"shape":"RemoveAssistantAIAgentRequest"},
      "output":{"shape":"RemoveAssistantAIAgentResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Removes the AI Agent that is set for use by default on an Amazon Q in Connect Assistant.</p>",
      "idempotent":true
    },
    "RemoveKnowledgeBaseTemplateUri":{
      "name":"RemoveKnowledgeBaseTemplateUri",
      "http":{
        "method":"DELETE",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/templateUri",
        "responseCode":204
      },
      "input":{"shape":"RemoveKnowledgeBaseTemplateUriRequest"},
      "output":{"shape":"RemoveKnowledgeBaseTemplateUriResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Removes a URI template from a knowledge base.</p>"
    },
    "RenderMessageTemplate":{
      "name":"RenderMessageTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/messageTemplates/{messageTemplateId}/render",
        "responseCode":200
      },
      "input":{"shape":"RenderMessageTemplateRequest"},
      "output":{"shape":"RenderMessageTemplateResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Renders the Amazon Q in Connect message template based on the attribute values provided and generates the message content. For any variable present in the message template, if the attribute value is neither provided in the attribute request parameter nor the default attribute of the message template, the rendered message content will keep the variable placeholder as it is and return the attribute keys that are missing.</p>"
    },
    "SearchContent":{
      "name":"SearchContent",
      "http":{
        "method":"POST",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/search",
        "responseCode":200
      },
      "input":{"shape":"SearchContentRequest"},
      "output":{"shape":"SearchContentResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Searches for content in a specified knowledge base. Can be used to get a specific content resource by its name.</p>"
    },
    "SearchMessageTemplates":{
      "name":"SearchMessageTemplates",
      "http":{
        "method":"POST",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/search/messageTemplates",
        "responseCode":200
      },
      "input":{"shape":"SearchMessageTemplatesRequest"},
      "output":{"shape":"SearchMessageTemplatesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Searches for Amazon Q in Connect message templates in the specified knowledge base.</p>"
    },
    "SearchQuickResponses":{
      "name":"SearchQuickResponses",
      "http":{
        "method":"POST",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/search/quickResponses",
        "responseCode":200
      },
      "input":{"shape":"SearchQuickResponsesRequest"},
      "output":{"shape":"SearchQuickResponsesResponse"},
      "errors":[
        {"shape":"RequestTimeoutException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Searches existing Amazon Q in Connect quick responses in an Amazon Q in Connect knowledge base.</p>"
    },
    "SearchSessions":{
      "name":"SearchSessions",
      "http":{
        "method":"POST",
        "requestUri":"/assistants/{assistantId}/searchSessions",
        "responseCode":200
      },
      "input":{"shape":"SearchSessionsRequest"},
      "output":{"shape":"SearchSessionsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Searches for sessions.</p>"
    },
    "SendMessage":{
      "name":"SendMessage",
      "http":{
        "method":"POST",
        "requestUri":"/assistants/{assistantId}/sessions/{sessionId}/message",
        "responseCode":200
      },
      "input":{"shape":"SendMessageRequest"},
      "output":{"shape":"SendMessageResponse"},
      "errors":[
        {"shape":"RequestTimeoutException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Submits a message to the Amazon Q in Connect session.</p>",
      "idempotent":true
    },
    "StartContentUpload":{
      "name":"StartContentUpload",
      "http":{
        "method":"POST",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/upload",
        "responseCode":200
      },
      "input":{"shape":"StartContentUploadRequest"},
      "output":{"shape":"StartContentUploadResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Get a URL to upload content to a knowledge base. To upload content, first make a PUT request to the returned URL with your file, making sure to include the required headers. Then use <a href=\"https://docs.aws.amazon.com/amazon-q-connect/latest/APIReference/API_CreateContent.html\">CreateContent</a> to finalize the content creation process or <a href=\"https://docs.aws.amazon.com/amazon-q-connect/latest/APIReference/API_UpdateContent.html\">UpdateContent</a> to modify an existing resource. You can only upload content to a knowledge base of type CUSTOM.</p>"
    },
    "StartImportJob":{
      "name":"StartImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/importJobs",
        "responseCode":200
      },
      "input":{"shape":"StartImportJobRequest"},
      "output":{"shape":"StartImportJobResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Start an asynchronous job to import Amazon Q in Connect resources from an uploaded source file. Before calling this API, use <a href=\"https://docs.aws.amazon.com/wisdom/latest/APIReference/API_StartContentUpload.html\">StartContentUpload</a> to upload an asset that contains the resource data.</p> <ul> <li> <p>For importing Amazon Q in Connect quick responses, you need to upload a csv file including the quick responses. For information about how to format the csv file for importing quick responses, see <a href=\"https://docs.aws.amazon.com/console/connect/quick-responses/add-data\">Import quick responses</a>.</p> </li> </ul>",
      "idempotent":true
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"TooManyTagsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Adds the specified tags to the specified resource.</p>",
      "idempotent":true
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Removes the specified tags from the specified resource.</p>",
      "idempotent":true
    },
    "UpdateAIAgent":{
      "name":"UpdateAIAgent",
      "http":{
        "method":"POST",
        "requestUri":"/assistants/{assistantId}/aiagents/{aiAgentId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateAIAgentRequest"},
      "output":{"shape":"UpdateAIAgentResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates an AI Agent.</p>",
      "idempotent":true
    },
    "UpdateAIGuardrail":{
      "name":"UpdateAIGuardrail",
      "http":{
        "method":"POST",
        "requestUri":"/assistants/{assistantId}/aiguardrails/{aiGuardrailId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateAIGuardrailRequest"},
      "output":{"shape":"UpdateAIGuardrailResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates an AI Guardrail.</p>",
      "idempotent":true
    },
    "UpdateAIPrompt":{
      "name":"UpdateAIPrompt",
      "http":{
        "method":"POST",
        "requestUri":"/assistants/{assistantId}/aiprompts/{aiPromptId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateAIPromptRequest"},
      "output":{"shape":"UpdateAIPromptResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates an AI Prompt.</p>",
      "idempotent":true
    },
    "UpdateAssistantAIAgent":{
      "name":"UpdateAssistantAIAgent",
      "http":{
        "method":"POST",
        "requestUri":"/assistants/{assistantId}/aiagentConfiguration",
        "responseCode":200
      },
      "input":{"shape":"UpdateAssistantAIAgentRequest"},
      "output":{"shape":"UpdateAssistantAIAgentResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates the AI Agent that is set for use by default on an Amazon Q in Connect Assistant.</p>"
    },
    "UpdateContent":{
      "name":"UpdateContent",
      "http":{
        "method":"POST",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/contents/{contentId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateContentRequest"},
      "output":{"shape":"UpdateContentResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Updates information about the content.</p>"
    },
    "UpdateKnowledgeBaseTemplateUri":{
      "name":"UpdateKnowledgeBaseTemplateUri",
      "http":{
        "method":"POST",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/templateUri",
        "responseCode":200
      },
      "input":{"shape":"UpdateKnowledgeBaseTemplateUriRequest"},
      "output":{"shape":"UpdateKnowledgeBaseTemplateUriResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Updates the template URI of a knowledge base. This is only supported for knowledge bases of type EXTERNAL. Include a single variable in <code>${variable}</code> format; this interpolated by Amazon Q in Connect using ingested content. For example, if you ingest a Salesforce article, it has an <code>Id</code> value, and you can set the template URI to <code>https://myInstanceName.lightning.force.com/lightning/r/Knowledge__kav/*${Id}*/view</code>. </p>"
    },
    "UpdateMessageTemplate":{
      "name":"UpdateMessageTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/messageTemplates/{messageTemplateId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateMessageTemplateRequest"},
      "output":{"shape":"UpdateMessageTemplateResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates the Amazon Q in Connect message template. Partial update is supported. If any field is not supplied, it will remain unchanged for the message template that is referenced by the <code>$LATEST</code> qualifier. Any modification will only apply to the message template that is referenced by the <code>$LATEST</code> qualifier. The fields for all available versions will remain unchanged.</p>"
    },
    "UpdateMessageTemplateMetadata":{
      "name":"UpdateMessageTemplateMetadata",
      "http":{
        "method":"POST",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/messageTemplates/{messageTemplateId}/metadata",
        "responseCode":200
      },
      "input":{"shape":"UpdateMessageTemplateMetadataRequest"},
      "output":{"shape":"UpdateMessageTemplateMetadataResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates the Amazon Q in Connect message template metadata. Note that any modification to the message template’s name, description and grouping configuration will applied to the message template pointed by the <code>$LATEST</code> qualifier and all available versions. Partial update is supported. If any field is not supplied, it will remain unchanged for the message template.</p>"
    },
    "UpdateQuickResponse":{
      "name":"UpdateQuickResponse",
      "http":{
        "method":"POST",
        "requestUri":"/knowledgeBases/{knowledgeBaseId}/quickResponses/{quickResponseId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateQuickResponseRequest"},
      "output":{"shape":"UpdateQuickResponseResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Updates an existing Amazon Q in Connect quick response.</p>"
    },
    "UpdateSession":{
      "name":"UpdateSession",
      "http":{
        "method":"POST",
        "requestUri":"/assistants/{assistantId}/sessions/{sessionId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateSessionRequest"},
      "output":{"shape":"UpdateSessionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Updates a session. A session is a contextual container used for generating recommendations. Amazon Connect updates the existing Amazon Q in Connect session for each contact on which Amazon Q in Connect is enabled.</p>"
    },
    "UpdateSessionData":{
      "name":"UpdateSessionData",
      "http":{
        "method":"PATCH",
        "requestUri":"/assistants/{assistantId}/sessions/{sessionId}/data",
        "responseCode":200
      },
      "input":{"shape":"UpdateSessionDataRequest"},
      "output":{"shape":"UpdateSessionDataResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Updates the data stored on an Amazon Q in Connect Session.</p>"
    }
  },
  "shapes":{
    "AIAgentAssociationConfigurationType":{
      "type":"string",
      "enum":["KNOWLEDGE_BASE"]
    },
    "AIAgentConfiguration":{
      "type":"structure",
      "members":{
        "manualSearchAIAgentConfiguration":{
          "shape":"ManualSearchAIAgentConfiguration",
          "documentation":"<p>The configuration for AI Agents of type <code>MANUAL_SEARCH</code>.</p>"
        },
        "answerRecommendationAIAgentConfiguration":{
          "shape":"AnswerRecommendationAIAgentConfiguration",
          "documentation":"<p>The configuration for AI Agents of type <code>ANSWER_RECOMMENDATION</code>.</p>"
        },
        "selfServiceAIAgentConfiguration":{
          "shape":"SelfServiceAIAgentConfiguration",
          "documentation":"<p>The configuration for AI Agents of type SELF_SERVICE.</p>"
        }
      },
      "documentation":"<p>A typed union that specifies the configuration based on the type of AI Agent.</p>",
      "union":true
    },
    "AIAgentConfigurationData":{
      "type":"structure",
      "required":["aiAgentId"],
      "members":{
        "aiAgentId":{
          "shape":"UuidWithQualifier",
          "documentation":"<p>The ID of the AI Agent to be configured.</p>"
        }
      },
      "documentation":"<p>A type that specifies the AI Agent ID configuration data when mapping an AI Agents to be used for an AI Agent type on a session or assistant.</p>"
    },
    "AIAgentConfigurationMap":{
      "type":"map",
      "key":{"shape":"AIAgentType"},
      "value":{"shape":"AIAgentConfigurationData"}
    },
    "AIAgentData":{
      "type":"structure",
      "required":[
        "assistantId",
        "assistantArn",
        "aiAgentId",
        "aiAgentArn",
        "name",
        "type",
        "configuration",
        "visibilityStatus"
      ],
      "members":{
        "assistantId":{
          "shape":"Uuid",
          "documentation":"<p>The identifier of the Amazon Q in Connect assistant. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>"
        },
        "assistantArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon Q in Connect assistant.</p>"
        },
        "aiAgentId":{
          "shape":"Uuid",
          "documentation":"<p>The identifier of the AI Agent.</p>"
        },
        "aiAgentArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the AI agent.</p>"
        },
        "name":{
          "shape":"Name",
          "documentation":"<p>The name of the AI Agent.</p>"
        },
        "type":{
          "shape":"AIAgentType",
          "documentation":"<p>The type of the AI Agent.</p>"
        },
        "configuration":{
          "shape":"AIAgentConfiguration",
          "documentation":"<p>Configuration for the AI Agent.</p>"
        },
        "modifiedTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time the AI Agent was last modified.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>The description of the AI Agent.</p>"
        },
        "visibilityStatus":{
          "shape":"VisibilityStatus",
          "documentation":"<p>The visibility status of the AI Agent.</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>The tags used to organize, track, or control access for this resource.</p>"
        },
        "origin":{
          "shape":"Origin",
          "documentation":"<p>Specifies the origin of the AI Agent. <code>SYSTEM</code> for a default AI Agent created by Q in Connect or <code>CUSTOMER</code> for an AI Agent created by calling AI Agent creation APIs. </p>"
        },
        "status":{
          "shape":"Status",
          "documentation":"<p>The status of the AI Agent.</p>"
        }
      },
      "documentation":"<p>The data for the AI Agent.</p>"
    },
    "AIAgentSummary":{
      "type":"structure",
      "required":[
        "name",
        "assistantId",
        "assistantArn",
        "aiAgentId",
        "type",
        "aiAgentArn",
        "visibilityStatus"
      ],
      "members":{
        "name":{
          "shape":"Name",
          "documentation":"<p>The name of the AI Agent.</p>"
        },
        "assistantId":{
          "shape":"Uuid",
          "documentation":"<p>The identifier of the Amazon Q in Connect assistant. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>"
        },
        "assistantArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon Q in Connect assistant.</p>"
        },
        "aiAgentId":{
          "shape":"Uuid",
          "documentation":"<p>The identifier of the AI Agent.</p>"
        },
        "type":{
          "shape":"AIAgentType",
          "documentation":"<p>The type of the AI Agent.</p>"
        },
        "aiAgentArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the AI agent.</p>"
        },
        "modifiedTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time the AI Agent was last modified.</p>"
        },
        "visibilityStatus":{
          "shape":"VisibilityStatus",
          "documentation":"<p>The visibility status of the AI Agent.</p>"
        },
        "configuration":{
          "shape":"AIAgentConfiguration",
          "documentation":"<p>The configuration for the AI Agent.</p>"
        },
        "origin":{
          "shape":"Origin",
          "documentation":"<p>The origin of the AI Agent. <code>SYSTEM</code> for a default AI Agent created by Q in Connect or <code>CUSTOMER</code> for an AI Agent created by calling AI Agent creation APIs.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>The description of the AI Agent.</p>"
        },
        "status":{
          "shape":"Status",
          "documentation":"<p>The status of the AI Agent.</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>The tags used to organize, track, or control access for this resource.</p>"
        }
      },
      "documentation":"<p>The summary of the AI Agent.</p>"
    },
    "AIAgentSummaryList":{
      "type":"list",
      "member":{"shape":"AIAgentSummary"}
    },
    "AIAgentType":{
      "type":"string",
      "enum":[
        "MANUAL_SEARCH",
        "ANSWER_RECOMMENDATION",
        "SELF_SERVICE"
      ]
    },
    "AIAgentVersionSummariesList":{
      "type":"list",
      "member":{"shape":"AIAgentVersionSummary"}
    },
    "AIAgentVersionSummary":{
      "type":"structure",
      "members":{
        "aiAgentSummary":{
          "shape":"AIAgentSummary",
          "documentation":"<p>The data for the summary of the AI Agent version.</p>"
        },
        "versionNumber":{
          "shape":"Version",
          "documentation":"<p>The version number for this AI Agent version.</p>"
        }
      },
      "documentation":"<p>The summary of the AI Agent version.</p>"
    },
    "AIGuardrailBlockedMessaging":{
      "type":"string",
      "documentation":"<p>Messaging for when violations are detected in text</p>",
      "max":500,
      "min":1,
      "sensitive":true
    },
    "AIGuardrailContentPolicyConfig":{
      "type":"structure",
      "required":["filtersConfig"],
      "members":{
        "filtersConfig":{
          "shape":"GuardrailContentFiltersConfig",
          "documentation":"<p>Contains the type of the content filter and how strongly it should apply to prompts and model responses.</p>"
        }
      },
      "documentation":"<p>Contains details about how to handle harmful content.</p>"
    },
    "AIGuardrailContextualGroundingPolicyConfig":{
      "type":"structure",
      "required":["filtersConfig"],
      "members":{
        "filtersConfig":{
          "shape":"GuardrailContextualGroundingFiltersConfig",
          "documentation":"<p>The filter configuration details for the AI Guardrails contextual grounding policy.</p>"
        }
      },
      "documentation":"<p>The policy configuration details for the AI Guardrail's contextual grounding policy.</p>"
    },
    "AIGuardrailData":{
      "type":"structure",
      "required":[
        "assistantId",
        "assistantArn",
        "aiGuardrailArn",
        "aiGuardrailId",
        "name",
        "visibilityStatus",
        "blockedInputMessaging",
        "blockedOutputsMessaging"
      ],
      "members":{
        "assistantId":{
          "shape":"Uuid",
          "documentation":"<p>The identifier of the Amazon Q in Connect assistant. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>"
        },
        "assistantArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon Q in Connect assistant.</p>"
        },
        "aiGuardrailArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the AI Guardrail.</p>"
        },
        "aiGuardrailId":{
          "shape":"Uuid",
          "documentation":"<p>The identifier of the Amazon Q in Connect AI Guardrail.</p>"
        },
        "name":{
          "shape":"Name",
          "documentation":"<p>The name of the AI Guardrail.</p>"
        },
        "visibilityStatus":{
          "shape":"VisibilityStatus",
          "documentation":"<p>The visibility status of the AI Guardrail.</p>"
        },
        "blockedInputMessaging":{
          "shape":"AIGuardrailBlockedMessaging",
          "documentation":"<p>The message to return when the AI Guardrail blocks a prompt.</p>"
        },
        "blockedOutputsMessaging":{
          "shape":"AIGuardrailBlockedMessaging",
          "documentation":"<p>The message to return when the AI Guardrail blocks a model response.</p>"
        },
        "description":{
          "shape":"AIGuardrailDescription",
          "documentation":"<p>A description of the AI Guardrail.</p>"
        },
        "topicPolicyConfig":{
          "shape":"AIGuardrailTopicPolicyConfig",
          "documentation":"<p>Contains details about topics that the AI Guardrail should identify and deny.</p>"
        },
        "contentPolicyConfig":{
          "shape":"AIGuardrailContentPolicyConfig",
          "documentation":"<p>Contains details about how to handle harmful content.</p>"
        },
        "wordPolicyConfig":{
          "shape":"AIGuardrailWordPolicyConfig",
          "documentation":"<p>Contains details about the word policy to configured for the AI Guardrail.</p>"
        },
        "sensitiveInformationPolicyConfig":{
          "shape":"AIGuardrailSensitiveInformationPolicyConfig",
          "documentation":"<p>Contains details about PII entities and regular expressions to configure for the AI Guardrail.</p>"
        },
        "contextualGroundingPolicyConfig":{
          "shape":"AIGuardrailContextualGroundingPolicyConfig",
          "documentation":"<p>The policy configuration details for the AI Guardrail's contextual grounding policy.</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>The tags used to organize, track, or control access for this resource.</p>"
        },
        "status":{
          "shape":"Status",
          "documentation":"<p>The status of the AI Guardrail.</p>"
        },
        "modifiedTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time the AI Guardrail was last modified.</p>"
        }
      },
      "documentation":"<p>The data for the AI Guardrail</p>"
    },
    "AIGuardrailDescription":{
      "type":"string",
      "documentation":"<p>Description of the guardrail or its version</p>",
      "max":200,
      "min":1,
      "sensitive":true
    },
    "AIGuardrailSensitiveInformationPolicyConfig":{
      "type":"structure",
      "members":{
        "piiEntitiesConfig":{
          "shape":"GuardrailPiiEntitiesConfig",
          "documentation":"<p>A list of PII entities to configure to the AI Guardrail.</p>"
        },
        "regexesConfig":{
          "shape":"GuardrailRegexesConfig",
          "documentation":"<p>A list of regular expressions to configure to the AI Guardrail.</p>"
        }
      },
      "documentation":"<p>Contains details about PII entities and regular expressions to configure for the AI Guardrail.</p>"
    },
    "AIGuardrailSummariesList":{
      "type":"list",
      "member":{"shape":"AIGuardrailSummary"}
    },
    "AIGuardrailSummary":{
      "type":"structure",
      "required":[
        "name",
        "assistantId",
        "assistantArn",
        "aiGuardrailId",
        "aiGuardrailArn",
        "visibilityStatus"
      ],
      "members":{
        "name":{
          "shape":"Name",
          "documentation":"<p>The name of the AI Guardrail.</p>"
        },
        "assistantId":{
          "shape":"Uuid",
          "documentation":"<p>The identifier of the Amazon Q in Connect assistant. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>"
        },
        "assistantArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon Q in Connect assistant.</p>"
        },
        "aiGuardrailId":{
          "shape":"Uuid",
          "documentation":"<p>The identifier of the Amazon Q in Connect AI Guardrail.</p>"
        },
        "aiGuardrailArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the AI Guardrail.</p>"
        },
        "modifiedTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time the AI Guardrail was last modified.</p>"
        },
        "visibilityStatus":{
          "shape":"VisibilityStatus",
          "documentation":"<p>The visibility status of the AI Guardrail.</p>"
        },
        "description":{
          "shape":"AIGuardrailDescription",
          "documentation":"<p>A description of the AI Guardrail.</p>"
        },
        "status":{
          "shape":"Status",
          "documentation":"<p>The status of the AI Guardrail.</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>The tags used to organize, track, or control access for this resource.</p>"
        }
      },
      "documentation":"<p>The summary of the AI Guardrail.</p>"
    },
    "AIGuardrailTopicPolicyConfig":{
      "type":"structure",
      "required":["topicsConfig"],
      "members":{
        "topicsConfig":{
          "shape":"GuardrailTopicsConfig",
          "documentation":"<p>A list of policies related to topics that the AI Guardrail should deny.</p>"
        }
      },
      "documentation":"<p>Contains details about topics that the AI Guardrail should identify and deny.</p>"
    },
    "AIGuardrailVersionSummariesList":{
      "type":"list",
      "member":{"shape":"AIGuardrailVersionSummary"}
    },
    "AIGuardrailVersionSummary":{
      "type":"structure",
      "members":{
        "aiGuardrailSummary":{
          "shape":"AIGuardrailSummary",
          "documentation":"<p>The data for the summary of the AI Guardrail version.</p>"
        },
        "versionNumber":{
          "shape":"Version",
          "documentation":"<p>The version number for this AI Guardrail version.</p>"
        }
      },
      "documentation":"<p>The summary of the AI Guardrail version.</p>"
    },
    "AIGuardrailWordPolicyConfig":{
      "type":"structure",
      "members":{
        "wordsConfig":{
          "shape":"GuardrailWordsConfig",
          "documentation":"<p>A list of words to configure for the AI Guardrail.</p>"
        },
        "managedWordListsConfig":{
          "shape":"GuardrailManagedWordListsConfig",
          "documentation":"<p>A list of managed words to configure for the AI Guardrail.</p>"
        }
      },
      "documentation":"<p>Contains details about the word policy to configured for the AI Guardrail.</p>"
    },
    "AIPromptAPIFormat":{
      "type":"string",
      "enum":[
        "ANTHROPIC_CLAUDE_MESSAGES",
        "ANTHROPIC_CLAUDE_TEXT_COMPLETIONS",
        "MESSAGES",
        "TEXT_COMPLETIONS"
      ]
    },
    "AIPromptData":{
      "type":"structure",
      "required":[
        "assistantId",
        "assistantArn",
        "aiPromptId",
        "aiPromptArn",
        "name",
        "type",
        "templateType",
        "modelId",
        "apiFormat",
        "templateConfiguration",
        "visibilityStatus"
      ],
      "members":{
        "assistantId":{
          "shape":"Uuid",
          "documentation":"<p>The identifier of the Amazon Q in Connect assistant. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>"
        },
        "assistantArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon Q in Connect assistant.</p>"
        },
        "aiPromptId":{
          "shape":"Uuid",
          "documentation":"<p>The identifier of the Amazon Q in Connect AI prompt.</p>"
        },
        "aiPromptArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the AI Prompt.</p>"
        },
        "name":{
          "shape":"Name",
          "documentation":"<p>The name of the AI Prompt</p>"
        },
        "type":{
          "shape":"AIPromptType",
          "documentation":"<p>The type of this AI Prompt.</p>"
        },
        "templateType":{
          "shape":"AIPromptTemplateType",
          "documentation":"<p>The type of the prompt template for this AI Prompt.</p>"
        },
        "modelId":{
          "shape":"AIPromptModelIdentifier",
          "documentation":"<p>The identifier of the model used for this AI Prompt. The following model Ids are supported:</p> <ul> <li> <p> <code>anthropic.claude-3-haiku--v1:0</code> </p> </li> <li> <p> <code>apac.amazon.nova-lite-v1:0</code> </p> </li> <li> <p> <code>apac.amazon.nova-micro-v1:0</code> </p> </li> <li> <p> <code>apac.amazon.nova-pro-v1:0</code> </p> </li> <li> <p> <code>apac.anthropic.claude-3-5-sonnet--v2:0</code> </p> </li> <li> <p> <code>apac.anthropic.claude-3-haiku-20240307-v1:0</code> </p> </li> <li> <p> <code>eu.amazon.nova-lite-v1:0</code> </p> </li> <li> <p> <code>eu.amazon.nova-micro-v1:0</code> </p> </li> <li> <p> <code>eu.amazon.nova-pro-v1:0</code> </p> </li> <li> <p> <code>eu.anthropic.claude-3-7-sonnet-20250219-v1:0</code> </p> </li> <li> <p> <code>eu.anthropic.claude-3-haiku-20240307-v1:0</code> </p> </li> <li> <p> <code>us.amazon.nova-lite-v1:0</code> </p> </li> <li> <p> <code>us.amazon.nova-micro-v1:0</code> </p> </li> <li> <p> <code>us.amazon.nova-pro-v1:0</code> </p> </li> <li> <p> <code>us.anthropic.claude-3-5-haiku-20241022-v1:0</code> </p> </li> <li> <p> <code>us.anthropic.claude-3-7-sonnet-20250219-v1:0</code> </p> </li> <li> <p> <code>us.anthropic.claude-3-haiku-20240307-v1:0</code> </p> </li> </ul>"
        },
        "apiFormat":{
          "shape":"AIPromptAPIFormat",
          "documentation":"<p>The API format used for this AI Prompt.</p>"
        },
        "templateConfiguration":{
          "shape":"AIPromptTemplateConfiguration",
          "documentation":"<p>The configuration of the prompt template for this AI Prompt.</p>"
        },
        "modifiedTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time the AI Prompt was last modified.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>The description of the AI Prompt.</p>"
        },
        "visibilityStatus":{
          "shape":"VisibilityStatus",
          "documentation":"<p>The visibility status of the AI Prompt.</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>The tags used to organize, track, or control access for this resource.</p>"
        },
        "origin":{
          "shape":"Origin",
          "documentation":"<p>The origin of the AI Prompt. <code>SYSTEM</code> for a default AI Prompt created by Q in Connect or <code>CUSTOMER</code> for an AI Prompt created by calling AI Prompt creation APIs. </p>"
        },
        "status":{
          "shape":"Status",
          "documentation":"<p>The status of the AI Prompt.</p>"
        }
      },
      "documentation":"<p>The data for the AI Prompt</p>"
    },
    "AIPromptModelIdentifier":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "AIPromptSummary":{
      "type":"structure",
      "required":[
        "name",
        "assistantId",
        "assistantArn",
        "aiPromptId",
        "type",
        "aiPromptArn",
        "templateType",
        "modelId",
        "apiFormat",
        "visibilityStatus"
      ],
      "members":{
        "name":{
          "shape":"Name",
          "documentation":"<p>The name of the AI Prompt.</p>"
        },
        "assistantId":{
          "shape":"Uuid",
          "documentation":"<p>The identifier of the Amazon Q in Connect assistant. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>"
        },
        "assistantArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon Q in Connect assistant.</p>"
        },
        "aiPromptId":{
          "shape":"Uuid",
          "documentation":"<p>The identifier of the Amazon Q in Connect AI prompt.</p>"
        },
        "type":{
          "shape":"AIPromptType",
          "documentation":"<p>The type of this AI Prompt.</p>"
        },
        "aiPromptArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the AI Prompt.</p>"
        },
        "modifiedTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time the AI Prompt was last modified.</p>"
        },
        "templateType":{
          "shape":"AIPromptTemplateType",
          "documentation":"<p>The type of the prompt template for this AI Prompt.</p>"
        },
        "modelId":{
          "shape":"AIPromptModelIdentifier",
          "documentation":"<p>The identifier of the model used for this AI Prompt. Model Ids supported are: <code>anthropic.claude-3-haiku-20240307-v1:0</code>.</p>"
        },
        "apiFormat":{
          "shape":"AIPromptAPIFormat",
          "documentation":"<p>The API format used for this AI Prompt.</p>"
        },
        "visibilityStatus":{
          "shape":"VisibilityStatus",
          "documentation":"<p>The visibility status of the AI Prompt.</p>"
        },
        "origin":{
          "shape":"Origin",
          "documentation":"<p>The origin of the AI Prompt. <code>SYSTEM</code> for a default AI Prompt created by Q in Connect or <code>CUSTOMER</code> for an AI Prompt created by calling AI Prompt creation APIs. </p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>The description of the AI Prompt.</p>"
        },
        "status":{
          "shape":"Status",
          "documentation":"<p>The status of the AI Prompt.</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>The tags used to organize, track, or control access for this resource.</p>"
        }
      },
      "documentation":"<p>The summary of the AI Prompt.</p>"
    },
    "AIPromptSummaryList":{
      "type":"list",
      "member":{"shape":"AIPromptSummary"}
    },
    "AIPromptTemplateConfiguration":{
      "type":"structure",
      "members":{
        "textFullAIPromptEditTemplateConfiguration":{
          "shape":"TextFullAIPromptEditTemplateConfiguration",
          "documentation":"<p>The configuration for a prompt template that supports full textual prompt configuration using a YAML prompt.</p>"
        }
      },
      "documentation":"<p>A typed union that specifies the configuration for a prompt template based on its type.</p>",
      "union":true
    },
    "AIPromptTemplateType":{
      "type":"string",
      "enum":["TEXT"]
    },
    "AIPromptType":{
      "type":"string",
      "enum":[
        "ANSWER_GENERATION",
        "INTENT_LABELING_GENERATION",
        "QUERY_REFORMULATION",
        "SELF_SERVICE_PRE_PROCESSING",
        "SELF_SERVICE_ANSWER_GENERATION"
      ]
    },
    "AIPromptVersionSummariesList":{
      "type":"list",
      "member":{"shape":"AIPromptVersionSummary"}
    },
    "AIPromptVersionSummary":{
      "type":"structure",
      "members":{
        "aiPromptSummary":{
          "shape":"AIPromptSummary",
          "documentation":"<p>The date for the summary of the AI Prompt version.</p>"
        },
        "versionNumber":{
          "shape":"Version",
          "documentation":"<p>The version number for this AI Prompt version.</p>"
        }
      },
      "documentation":"<p>The summary of the AI Prompt version.</p>"
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>You do not have sufficient access to perform this action.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "ActivateMessageTemplateRequest":{
      "type":"structure",
      "required":[
        "knowledgeBaseId",
        "messageTemplateId",
        "versionNumber"
      ],
      "members":{
        "knowledgeBaseId":{
          "shape":"UuidOrArn",
          "documentation":"<p>The identifier of the knowledge base. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
          "location":"uri",
          "locationName":"knowledgeBaseId"
        },
        "messageTemplateId":{
          "shape":"UuidOrArnOrEitherWithQualifier",
          "documentation":"<p>The identifier of the message template. Can be either the ID or the ARN. It cannot contain any qualifier.</p>",
          "location":"uri",
          "locationName":"messageTemplateId"
        },
        "versionNumber":{
          "shape":"Version",
          "documentation":"<p>The version number of the message template version to activate.</p>"
        }
      }
    },
    "ActivateMessageTemplateResponse":{
      "type":"structure",
      "required":[
        "messageTemplateArn",
        "messageTemplateId",
        "versionNumber"
      ],
      "members":{
        "messageTemplateArn":{
          "shape":"ArnWithQualifier",
          "documentation":"<p>The Amazon Resource Name (ARN) of the message template.</p>"
        },
        "messageTemplateId":{
          "shape":"Uuid",
          "documentation":"<p>The identifier of the message template.</p>"
        },
        "versionNumber":{
          "shape":"Version",
          "documentation":"<p>The version number of the message template version that is activated.</p>"
        }
      }
    },
    "AgentAttributes":{
      "type":"structure",
      "members":{
        "firstName":{
          "shape":"MessageTemplateAttributeValue",
          "documentation":"<p>The agent’s first name as entered in their Amazon Connect user account.</p>"
        },
        "lastName":{
          "shape":"MessageTemplateAttributeValue",
          "documentation":"<p>The agent’s last name as entered in their Amazon Connect user account.</p>"
        }
      },
      "documentation":"<p>Information about an agent.</p>"
    },
    "AmazonConnectGuideAssociationData":{
      "type":"structure",
      "members":{
        "flowId":{
          "shape":"GenericArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of an Amazon Connect flow. Step-by-step guides are a type of flow.</p>"
        }
      },
      "documentation":"<p>Content association data for a <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/step-by-step-guided-experiences.html\">step-by-step guide</a>.</p>"
    },
    "AndConditions":{
      "type":"list",
      "member":{"shape":"TagCondition"}
    },
    "AnswerRecommendationAIAgentConfiguration":{
      "type":"structure",
      "members":{
        "intentLabelingGenerationAIPromptId":{
          "shape":"UuidWithQualifier",
          "documentation":"<p>The AI Prompt identifier for the Intent Labeling prompt used by the <code>ANSWER_RECOMMENDATION</code> AI Agent.</p>"
        },
        "queryReformulationAIPromptId":{
          "shape":"UuidWithQualifier",
          "documentation":"<p>The AI Prompt identifier for the Query Reformulation prompt used by the <code>ANSWER_RECOMMENDATION</code> AI Agent.</p>"
        },
        "answerGenerationAIPromptId":{
          "shape":"UuidWithQualifier",
[...]
