{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-11-14",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"mediaconnect",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"AWS MediaConnect",
    "serviceId":"MediaConnect",
    "signatureVersion":"v4",
    "signingName":"mediaconnect",
    "uid":"mediaconnect-2018-11-14"
  },
  "operations":{
    "AddBridgeOutputs":{
      "name":"AddBridgeOutputs",
      "http":{
        "method":"POST",
        "requestUri":"/v1/bridges/{BridgeArn}/outputs",
        "responseCode":202
      },
      "input":{"shape":"AddBridgeOutputsRequest"},
      "output":{"shape":"AddBridgeOutputsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ConflictException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Adds outputs to an existing bridge.</p>"
    },
    "AddBridgeSources":{
      "name":"AddBridgeSources",
      "http":{
        "method":"POST",
        "requestUri":"/v1/bridges/{BridgeArn}/sources",
        "responseCode":202
      },
      "input":{"shape":"AddBridgeSourcesRequest"},
      "output":{"shape":"AddBridgeSourcesResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ConflictException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Adds sources to an existing bridge.</p>"
    },
    "AddFlowMediaStreams":{
      "name":"AddFlowMediaStreams",
      "http":{
        "method":"POST",
        "requestUri":"/v1/flows/{FlowArn}/mediaStreams",
        "responseCode":201
      },
      "input":{"shape":"AddFlowMediaStreamsRequest"},
      "output":{"shape":"AddFlowMediaStreamsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Adds media streams to an existing flow. After you add a media stream to a flow, you can associate it with a source and/or an output that uses the ST 2110 JPEG XS or CDI protocol.</p>"
    },
    "AddFlowOutputs":{
      "name":"AddFlowOutputs",
      "http":{
        "method":"POST",
        "requestUri":"/v1/flows/{FlowArn}/outputs",
        "responseCode":201
      },
      "input":{"shape":"AddFlowOutputsRequest"},
      "output":{"shape":"AddFlowOutputsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"AddFlowOutputs420Exception"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Adds outputs to an existing flow. You can create up to 50 outputs per flow.</p>"
    },
    "AddFlowSources":{
      "name":"AddFlowSources",
      "http":{
        "method":"POST",
        "requestUri":"/v1/flows/{FlowArn}/source",
        "responseCode":201
      },
      "input":{"shape":"AddFlowSourcesRequest"},
      "output":{"shape":"AddFlowSourcesResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Adds sources to a flow.</p>"
    },
    "AddFlowVpcInterfaces":{
      "name":"AddFlowVpcInterfaces",
      "http":{
        "method":"POST",
        "requestUri":"/v1/flows/{FlowArn}/vpcInterfaces",
        "responseCode":201
      },
      "input":{"shape":"AddFlowVpcInterfacesRequest"},
      "output":{"shape":"AddFlowVpcInterfacesResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Adds VPC interfaces to a flow.</p>"
    },
    "CreateBridge":{
      "name":"CreateBridge",
      "http":{
        "method":"POST",
        "requestUri":"/v1/bridges",
        "responseCode":201
      },
      "input":{"shape":"CreateBridgeRequest"},
      "output":{"shape":"CreateBridgeResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"CreateBridge420Exception"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ConflictException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Creates a new bridge. The request must include one source.</p>"
    },
    "CreateFlow":{
      "name":"CreateFlow",
      "http":{
        "method":"POST",
        "requestUri":"/v1/flows",
        "responseCode":201
      },
      "input":{"shape":"CreateFlowRequest"},
      "output":{"shape":"CreateFlowResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"CreateFlow420Exception"}
      ],
      "documentation":"<p> Creates a new flow. The request must include one source. The request optionally can include outputs (up to 50) and entitlements (up to 50).</p>"
    },
    "CreateGateway":{
      "name":"CreateGateway",
      "http":{
        "method":"POST",
        "requestUri":"/v1/gateways",
        "responseCode":201
      },
      "input":{"shape":"CreateGatewayRequest"},
      "output":{"shape":"CreateGatewayResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ConflictException"},
        {"shape":"CreateGateway420Exception"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Creates a new gateway. The request must include at least one network (up to four).</p>"
    },
    "DeleteBridge":{
      "name":"DeleteBridge",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/bridges/{BridgeArn}",
        "responseCode":200
      },
      "input":{"shape":"DeleteBridgeRequest"},
      "output":{"shape":"DeleteBridgeResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ConflictException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Deletes a bridge. Before you can delete a bridge, you must stop the bridge.</p>",
      "idempotent":true
    },
    "DeleteFlow":{
      "name":"DeleteFlow",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/flows/{FlowArn}",
        "responseCode":202
      },
      "input":{"shape":"DeleteFlowRequest"},
      "output":{"shape":"DeleteFlowResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Deletes a flow. Before you can delete a flow, you must stop the flow.</p>",
      "idempotent":true
    },
    "DeleteGateway":{
      "name":"DeleteGateway",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/gateways/{GatewayArn}",
        "responseCode":200
      },
      "input":{"shape":"DeleteGatewayRequest"},
      "output":{"shape":"DeleteGatewayResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ConflictException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Deletes a gateway. Before you can delete a gateway, you must deregister its instances and delete its bridges.</p>",
      "idempotent":true
    },
    "DeregisterGatewayInstance":{
      "name":"DeregisterGatewayInstance",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/gateway-instances/{GatewayInstanceArn}",
        "responseCode":202
      },
      "input":{"shape":"DeregisterGatewayInstanceRequest"},
      "output":{"shape":"DeregisterGatewayInstanceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ConflictException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Deregisters an instance. Before you deregister an instance, all bridges running on the instance must be stopped. If you want to deregister an instance without stopping the bridges, you must use the --force option.</p>",
      "idempotent":true
    },
    "DescribeBridge":{
      "name":"DescribeBridge",
      "http":{
        "method":"GET",
        "requestUri":"/v1/bridges/{BridgeArn}",
        "responseCode":200
      },
      "input":{"shape":"DescribeBridgeRequest"},
      "output":{"shape":"DescribeBridgeResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ConflictException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Displays the details of a bridge.</p>"
    },
    "DescribeFlow":{
      "name":"DescribeFlow",
      "http":{
        "method":"GET",
        "requestUri":"/v1/flows/{FlowArn}",
        "responseCode":200
      },
      "input":{"shape":"DescribeFlowRequest"},
      "output":{"shape":"DescribeFlowResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Displays the details of a flow. The response includes the flow Amazon Resource Name (ARN), name, and Availability Zone, as well as details about the source, outputs, and entitlements.</p>"
    },
    "DescribeFlowSourceMetadata":{
      "name":"DescribeFlowSourceMetadata",
      "http":{
        "method":"GET",
        "requestUri":"/v1/flows/{FlowArn}/source-metadata",
        "responseCode":200
      },
      "input":{"shape":"DescribeFlowSourceMetadataRequest"},
      "output":{"shape":"DescribeFlowSourceMetadataResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> The <code>DescribeFlowSourceMetadata</code> API is used to view information about the flow's source transport stream and programs. This API displays status messages about the flow's source as well as details about the program's video, audio, and other data. </p>"
    },
    "DescribeFlowSourceThumbnail":{
      "name":"DescribeFlowSourceThumbnail",
      "http":{
        "method":"GET",
        "requestUri":"/v1/flows/{FlowArn}/source-thumbnail",
        "responseCode":200
      },
      "input":{"shape":"DescribeFlowSourceThumbnailRequest"},
      "output":{"shape":"DescribeFlowSourceThumbnailResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Describes the thumbnail for the flow source. </p>"
    },
    "DescribeGateway":{
      "name":"DescribeGateway",
      "http":{
        "method":"GET",
        "requestUri":"/v1/gateways/{GatewayArn}",
        "responseCode":200
      },
      "input":{"shape":"DescribeGatewayRequest"},
      "output":{"shape":"DescribeGatewayResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ConflictException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Displays the details of a gateway. The response includes the gateway Amazon Resource Name (ARN), name, and CIDR blocks, as well as details about the networks.</p>"
    },
    "DescribeGatewayInstance":{
      "name":"DescribeGatewayInstance",
      "http":{
        "method":"GET",
        "requestUri":"/v1/gateway-instances/{GatewayInstanceArn}",
        "responseCode":200
      },
      "input":{"shape":"DescribeGatewayInstanceRequest"},
      "output":{"shape":"DescribeGatewayInstanceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ConflictException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Displays the details of an instance. </p>"
    },
    "DescribeOffering":{
      "name":"DescribeOffering",
      "http":{
        "method":"GET",
        "requestUri":"/v1/offerings/{OfferingArn}",
        "responseCode":200
      },
      "input":{"shape":"DescribeOfferingRequest"},
      "output":{"shape":"DescribeOfferingResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Displays the details of an offering. The response includes the offering description, duration, outbound bandwidth, price, and Amazon Resource Name (ARN).</p>"
    },
    "DescribeReservation":{
      "name":"DescribeReservation",
      "http":{
        "method":"GET",
        "requestUri":"/v1/reservations/{ReservationArn}",
        "responseCode":200
      },
      "input":{"shape":"DescribeReservationRequest"},
      "output":{"shape":"DescribeReservationResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Displays the details of a reservation. The response includes the reservation name, state, start date and time, and the details of the offering that make up the rest of the reservation (such as price, duration, and outbound bandwidth).</p>"
    },
    "GrantFlowEntitlements":{
      "name":"GrantFlowEntitlements",
      "http":{
        "method":"POST",
        "requestUri":"/v1/flows/{FlowArn}/entitlements",
        "responseCode":200
      },
      "input":{"shape":"GrantFlowEntitlementsRequest"},
      "output":{"shape":"GrantFlowEntitlementsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"GrantFlowEntitlements420Exception"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Grants entitlements to an existing flow.</p>"
    },
    "ListBridges":{
      "name":"ListBridges",
      "http":{
        "method":"GET",
        "requestUri":"/v1/bridges",
        "responseCode":200
      },
      "input":{"shape":"ListBridgesRequest"},
      "output":{"shape":"ListBridgesResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Displays a list of bridges that are associated with this account and an optionally specified Amazon Resource Name (ARN). This request returns a paginated result.</p>"
    },
    "ListEntitlements":{
      "name":"ListEntitlements",
      "http":{
        "method":"GET",
        "requestUri":"/v1/entitlements",
        "responseCode":200
      },
      "input":{"shape":"ListEntitlementsRequest"},
      "output":{"shape":"ListEntitlementsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Displays a list of all entitlements that have been granted to this account. This request returns 20 results per page.</p>"
    },
    "ListFlows":{
      "name":"ListFlows",
      "http":{
        "method":"GET",
        "requestUri":"/v1/flows",
        "responseCode":200
      },
      "input":{"shape":"ListFlowsRequest"},
      "output":{"shape":"ListFlowsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Displays a list of flows that are associated with this account. This request returns a paginated result.</p>"
    },
    "ListGatewayInstances":{
      "name":"ListGatewayInstances",
      "http":{
        "method":"GET",
        "requestUri":"/v1/gateway-instances",
        "responseCode":200
      },
      "input":{"shape":"ListGatewayInstancesRequest"},
      "output":{"shape":"ListGatewayInstancesResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Displays a list of instances associated with the Amazon Web Services account. This request returns a paginated result. You can use the filterArn property to display only the instances associated with the selected Gateway Amazon Resource Name (ARN).</p>"
    },
    "ListGateways":{
      "name":"ListGateways",
      "http":{
        "method":"GET",
        "requestUri":"/v1/gateways",
        "responseCode":200
      },
      "input":{"shape":"ListGatewaysRequest"},
      "output":{"shape":"ListGatewaysResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Displays a list of gateways that are associated with this account. This request returns a paginated result.</p>"
    },
    "ListOfferings":{
      "name":"ListOfferings",
      "http":{
        "method":"GET",
        "requestUri":"/v1/offerings",
        "responseCode":200
      },
      "input":{"shape":"ListOfferingsRequest"},
      "output":{"shape":"ListOfferingsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Displays a list of all offerings that are available to this account in the current Amazon Web Services Region. If you have an active reservation (which means you've purchased an offering that has already started and hasn't expired yet), your account isn't eligible for other offerings.</p>"
    },
    "ListReservations":{
      "name":"ListReservations",
      "http":{
        "method":"GET",
        "requestUri":"/v1/reservations",
        "responseCode":200
      },
      "input":{"shape":"ListReservationsRequest"},
      "output":{"shape":"ListReservationsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Displays a list of all reservations that have been purchased by this account in the current Amazon Web Services Region. This list includes all reservations in all states (such as active and expired).</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{ResourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p> List all tags on a MediaConnect resource.</p>"
    },
    "PurchaseOffering":{
      "name":"PurchaseOffering",
      "http":{
        "method":"POST",
        "requestUri":"/v1/offerings/{OfferingArn}",
        "responseCode":201
      },
      "input":{"shape":"PurchaseOfferingRequest"},
      "output":{"shape":"PurchaseOfferingResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Submits a request to purchase an offering. If you already have an active reservation, you can't purchase another offering.</p>"
    },
    "RemoveBridgeOutput":{
      "name":"RemoveBridgeOutput",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/bridges/{BridgeArn}/outputs/{OutputName}",
        "responseCode":202
      },
      "input":{"shape":"RemoveBridgeOutputRequest"},
      "output":{"shape":"RemoveBridgeOutputResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ConflictException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Removes an output from a bridge.</p>",
      "idempotent":true
    },
    "RemoveBridgeSource":{
      "name":"RemoveBridgeSource",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/bridges/{BridgeArn}/sources/{SourceName}",
        "responseCode":202
      },
      "input":{"shape":"RemoveBridgeSourceRequest"},
      "output":{"shape":"RemoveBridgeSourceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ConflictException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Removes a source from a bridge.</p>",
      "idempotent":true
    },
    "RemoveFlowMediaStream":{
      "name":"RemoveFlowMediaStream",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/flows/{FlowArn}/mediaStreams/{MediaStreamName}",
        "responseCode":200
      },
      "input":{"shape":"RemoveFlowMediaStreamRequest"},
      "output":{"shape":"RemoveFlowMediaStreamResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Removes a media stream from a flow. This action is only available if the media stream is not associated with a source or output.</p>",
      "idempotent":true
    },
    "RemoveFlowOutput":{
      "name":"RemoveFlowOutput",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/flows/{FlowArn}/outputs/{OutputArn}",
        "responseCode":202
      },
      "input":{"shape":"RemoveFlowOutputRequest"},
      "output":{"shape":"RemoveFlowOutputResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Removes an output from an existing flow. This request can be made only on an output that does not have an entitlement associated with it. If the output has an entitlement, you must revoke the entitlement instead. When an entitlement is revoked from a flow, the service automatically removes the associated output.</p>",
      "idempotent":true
    },
    "RemoveFlowSource":{
      "name":"RemoveFlowSource",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/flows/{FlowArn}/source/{SourceArn}",
        "responseCode":202
      },
      "input":{"shape":"RemoveFlowSourceRequest"},
      "output":{"shape":"RemoveFlowSourceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Removes a source from an existing flow. This request can be made only if there is more than one source on the flow. </p>",
      "idempotent":true
    },
    "RemoveFlowVpcInterface":{
      "name":"RemoveFlowVpcInterface",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/flows/{FlowArn}/vpcInterfaces/{VpcInterfaceName}",
        "responseCode":200
      },
      "input":{"shape":"RemoveFlowVpcInterfaceRequest"},
      "output":{"shape":"RemoveFlowVpcInterfaceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Removes a VPC Interface from an existing flow. This request can be made only on a VPC interface that does not have a Source or Output associated with it. If the VPC interface is referenced by a Source or Output, you must first delete or update the Source or Output to no longer reference the VPC interface.</p>",
      "idempotent":true
    },
    "RevokeFlowEntitlement":{
      "name":"RevokeFlowEntitlement",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/flows/{FlowArn}/entitlements/{EntitlementArn}",
        "responseCode":202
      },
      "input":{"shape":"RevokeFlowEntitlementRequest"},
      "output":{"shape":"RevokeFlowEntitlementResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Revokes an entitlement from a flow. Once an entitlement is revoked, the content becomes unavailable to the subscriber and the associated output is removed.</p>",
      "idempotent":true
    },
    "StartFlow":{
      "name":"StartFlow",
      "http":{
        "method":"POST",
        "requestUri":"/v1/flows/start/{FlowArn}",
        "responseCode":202
      },
      "input":{"shape":"StartFlowRequest"},
      "output":{"shape":"StartFlowResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Starts a flow.</p>"
    },
    "StopFlow":{
      "name":"StopFlow",
      "http":{
        "method":"POST",
        "requestUri":"/v1/flows/stop/{FlowArn}",
        "responseCode":202
      },
      "input":{"shape":"StopFlowRequest"},
      "output":{"shape":"StopFlowResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Stops a flow.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{ResourceArn}",
        "responseCode":204
      },
      "input":{"shape":"TagResourceRequest"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p> Associates the specified tags to a resource with the specified <code>resourceArn</code>. If existing tags on a resource are not specified in the request parameters, they are not changed. When a resource is deleted, the tags associated with that resource are deleted as well.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{ResourceArn}",
        "responseCode":204
      },
      "input":{"shape":"UntagResourceRequest"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p> Deletes specified tags from a resource.</p>",
      "idempotent":true
    },
    "UpdateBridge":{
      "name":"UpdateBridge",
      "http":{
        "method":"PUT",
        "requestUri":"/v1/bridges/{BridgeArn}",
        "responseCode":202
      },
      "input":{"shape":"UpdateBridgeRequest"},
      "output":{"shape":"UpdateBridgeResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ConflictException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Updates the bridge.</p>",
      "idempotent":true
    },
    "UpdateBridgeOutput":{
      "name":"UpdateBridgeOutput",
      "http":{
        "method":"PUT",
        "requestUri":"/v1/bridges/{BridgeArn}/outputs/{OutputName}",
        "responseCode":202
      },
      "input":{"shape":"UpdateBridgeOutputRequest"},
      "output":{"shape":"UpdateBridgeOutputResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ConflictException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Updates an existing bridge output.</p>",
      "idempotent":true
    },
    "UpdateBridgeSource":{
      "name":"UpdateBridgeSource",
      "http":{
        "method":"PUT",
        "requestUri":"/v1/bridges/{BridgeArn}/sources/{SourceName}",
        "responseCode":202
      },
      "input":{"shape":"UpdateBridgeSourceRequest"},
      "output":{"shape":"UpdateBridgeSourceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ConflictException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Updates an existing bridge source.</p>",
      "idempotent":true
    },
    "UpdateBridgeState":{
      "name":"UpdateBridgeState",
      "http":{
        "method":"PUT",
        "requestUri":"/v1/bridges/{BridgeArn}/state",
        "responseCode":202
      },
      "input":{"shape":"UpdateBridgeStateRequest"},
      "output":{"shape":"UpdateBridgeStateResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ConflictException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Updates the bridge state. </p>",
      "idempotent":true
    },
    "UpdateFlow":{
      "name":"UpdateFlow",
      "http":{
        "method":"PUT",
        "requestUri":"/v1/flows/{FlowArn}",
        "responseCode":202
      },
      "input":{"shape":"UpdateFlowRequest"},
      "output":{"shape":"UpdateFlowResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Updates an existing flow.</p>",
      "idempotent":true
    },
    "UpdateFlowEntitlement":{
      "name":"UpdateFlowEntitlement",
      "http":{
        "method":"PUT",
        "requestUri":"/v1/flows/{FlowArn}/entitlements/{EntitlementArn}",
        "responseCode":202
      },
      "input":{"shape":"UpdateFlowEntitlementRequest"},
      "output":{"shape":"UpdateFlowEntitlementResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Updates an entitlement. You can change an entitlement's description, subscribers, and encryption. If you change the subscribers, the service will remove the outputs that are are used by the subscribers that are removed.</p>",
      "idempotent":true
    },
    "UpdateFlowMediaStream":{
      "name":"UpdateFlowMediaStream",
      "http":{
        "method":"PUT",
        "requestUri":"/v1/flows/{FlowArn}/mediaStreams/{MediaStreamName}",
        "responseCode":202
      },
      "input":{"shape":"UpdateFlowMediaStreamRequest"},
      "output":{"shape":"UpdateFlowMediaStreamResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Updates an existing media stream.</p>",
      "idempotent":true
    },
    "UpdateFlowOutput":{
      "name":"UpdateFlowOutput",
      "http":{
        "method":"PUT",
        "requestUri":"/v1/flows/{FlowArn}/outputs/{OutputArn}",
        "responseCode":202
      },
      "input":{"shape":"UpdateFlowOutputRequest"},
      "output":{"shape":"UpdateFlowOutputResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Updates an existing flow output.</p>",
      "idempotent":true
    },
    "UpdateFlowSource":{
      "name":"UpdateFlowSource",
      "http":{
        "method":"PUT",
        "requestUri":"/v1/flows/{FlowArn}/source/{SourceArn}",
        "responseCode":202
      },
      "input":{"shape":"UpdateFlowSourceRequest"},
      "output":{"shape":"UpdateFlowSourceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p> Updates the source of a flow.</p>",
      "idempotent":true
    },
    "UpdateGatewayInstance":{
      "name":"UpdateGatewayInstance",
      "http":{
        "method":"PUT",
        "requestUri":"/v1/gateway-instances/{GatewayInstanceArn}",
        "responseCode":200
      },
      "input":{"shape":"UpdateGatewayInstanceRequest"},
      "output":{"shape":"UpdateGatewayInstanceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ConflictException"},
        {"shape":"ForbiddenException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Updates an existing gateway instance. </p>",
      "idempotent":true
    }
  },
  "shapes":{
    "AddBridgeFlowSourceRequest":{
      "type":"structure",
      "required":[
        "FlowArn",
        "Name"
      ],
      "members":{
        "FlowArn":{
          "shape":"AddBridgeFlowSourceRequestFlowArnString",
          "documentation":"<p> The Amazon Resource Number (ARN) of the flow to use as a source of this bridge. </p>",
          "locationName":"flowArn"
        },
        "FlowVpcInterfaceAttachment":{
          "shape":"VpcInterfaceAttachment",
          "documentation":"<p>The name of the VPC interface attachment to use for this source. </p>",
          "locationName":"flowVpcInterfaceAttachment"
        },
        "Name":{
          "shape":"String",
          "documentation":"<p> The name of the flow source. This name is used to reference the source and must be unique among sources in this bridge. </p>",
          "locationName":"name"
        }
      },
      "documentation":"<p> Add a flow source to an existing bridge. </p>"
    },
    "AddBridgeFlowSourceRequestFlowArnString":{
      "type":"string",
      "pattern":"arn:.+:mediaconnect.+:flow:.+"
    },
    "AddBridgeNetworkOutputRequest":{
      "type":"structure",
      "required":[
        "IpAddress",
        "Name",
        "NetworkName",
        "Port",
        "Protocol",
        "Ttl"
      ],
      "members":{
        "IpAddress":{
          "shape":"String",
          "documentation":"<p> The network output IP Address. </p>",
          "locationName":"ipAddress"
        },
        "Name":{
          "shape":"String",
          "documentation":"<p> The network output name. This name is used to reference the output and must be unique among outputs in this bridge. </p>",
          "locationName":"name"
        },
        "NetworkName":{
          "shape":"String",
          "documentation":"<p> The network output's gateway network name. </p>",
          "locationName":"networkName"
        },
        "Port":{
          "shape":"Integer",
          "documentation":"<p> The network output port. </p>",
          "locationName":"port"
        },
        "Protocol":{
          "shape":"Protocol",
          "documentation":"<p> The network output protocol. </p> <note> <p>Elemental MediaConnect no longer supports the Fujitsu QoS protocol. This reference is maintained for legacy purposes only.</p> </note>",
          "locationName":"protocol"
        },
        "Ttl":{
          "shape":"Integer",
          "documentation":"<p> The network output TTL. </p>",
          "locationName":"ttl"
        }
      },
      "documentation":"<p>Add a network output to an existing bridge. </p>"
    },
    "AddBridgeNetworkSourceRequest":{
      "type":"structure",
      "required":[
        "MulticastIp",
        "Name",
        "NetworkName",
        "Port",
        "Protocol"
      ],
      "members":{
        "MulticastIp":{
          "shape":"String",
          "documentation":"<p> The network source multicast IP.</p>",
          "locationName":"multicastIp"
        },
        "MulticastSourceSettings":{
          "shape":"MulticastSourceSettings",
          "documentation":"<p> The settings related to the multicast source. </p>",
          "locationName":"multicastSourceSettings"
        },
        "Name":{
          "shape":"String",
          "documentation":"<p> The name of the network source. This name is used to reference the source and must be unique among sources in this bridge.</p>",
          "locationName":"name"
        },
        "NetworkName":{
          "shape":"String",
          "documentation":"<p> The network source's gateway network name.</p>",
          "locationName":"networkName"
        },
        "Port":{
          "shape":"Integer",
          "documentation":"<p> The network source port.</p>",
          "locationName":"port"
        },
        "Protocol":{
          "shape":"Protocol",
          "documentation":"<p> The network source protocol.</p> <note> <p>Elemental MediaConnect no longer supports the Fujitsu QoS protocol. This reference is maintained for legacy purposes only.</p> </note>",
          "locationName":"protocol"
        }
      },
      "documentation":"<p> Add a network source to an existing bridge. </p>"
    },
    "AddBridgeOutputRequest":{
      "type":"structure",
      "members":{
        "NetworkOutput":{
          "shape":"AddBridgeNetworkOutputRequest",
          "documentation":"<p> The network output of the bridge. A network output is delivered to your premises. </p>",
          "locationName":"networkOutput"
        }
      },
      "documentation":"<p> Add outputs to the specified bridge.</p>"
    },
    "AddBridgeOutputsRequest":{
      "type":"structure",
      "required":[
        "BridgeArn",
        "Outputs"
      ],
      "members":{
        "BridgeArn":{
          "shape":"AddBridgeOutputsRequestBridgeArnString",
          "documentation":"<p> The Amazon Resource Name (ARN) of the bridge that you want to update.</p>",
          "location":"uri",
          "locationName":"BridgeArn"
        },
        "Outputs":{
          "shape":"__listOfAddBridgeOutputRequest",
          "documentation":"<p> The outputs that you want to add to this bridge.</p>",
          "locationName":"outputs"
        }
      }
    },
    "AddBridgeOutputsRequestBridgeArnString":{
      "type":"string",
      "pattern":"arn:.+:mediaconnect.+:bridge:.+"
    },
    "AddBridgeOutputsResponse":{
      "type":"structure",
      "members":{
        "BridgeArn":{
          "shape":"String",
          "documentation":"<p> The ARN of the bridge that you added outputs to.</p>",
          "locationName":"bridgeArn"
        },
        "Outputs":{
          "shape":"__listOfBridgeOutput",
          "documentation":"<p> The outputs that you added to this bridge.</p>",
          "locationName":"outputs"
        }
      }
    },
    "AddBridgeSourceRequest":{
      "type":"structure",
      "members":{
        "FlowSource":{
          "shape":"AddBridgeFlowSourceRequest",
          "documentation":"<p> The source of the flow. </p>",
          "locationName":"flowSource"
        },
        "NetworkSource":{
          "shape":"AddBridgeNetworkSourceRequest",
          "documentation":"<p> The source of the network. </p>",
          "locationName":"networkSource"
        }
      },
      "documentation":"<p> Add an output to a bridge. </p>"
    },
    "AddBridgeSourcesRequest":{
      "type":"structure",
      "required":[
        "BridgeArn",
        "Sources"
      ],
      "members":{
        "BridgeArn":{
          "shape":"BridgeArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the bridge that you want to update.</p>",
          "location":"uri",
          "locationName":"BridgeArn"
        },
        "Sources":{
          "shape":"__listOfAddBridgeSourceRequest",
          "documentation":"<p> The sources that you want to add to this bridge.</p>",
          "locationName":"sources"
        }
      }
    },
    "AddBridgeSourcesResponse":{
      "type":"structure",
      "members":{
        "BridgeArn":{
          "shape":"String",
          "documentation":"<p> The ARN of the bridge that you added sources to.</p>",
          "locationName":"bridgeArn"
        },
        "Sources":{
          "shape":"__listOfBridgeSource",
          "documentation":"<p> The sources that you added to this bridge.</p>",
          "locationName":"sources"
        }
      }
    },
    "AddEgressGatewayBridgeRequest":{
      "type":"structure",
      "required":["MaxBitrate"],
      "members":{
        "MaxBitrate":{
          "shape":"Integer",
          "documentation":"<p> The maximum expected bitrate (in bps) of the egress bridge.</p>",
          "locationName":"maxBitrate"
        }
      },
      "documentation":"<p> Create a bridge with the egress bridge type. An egress bridge is a cloud-to-ground bridge. The content comes from an existing MediaConnect flow and is delivered to your premises. </p>"
    },
    "AddFlowMediaStreamsRequest":{
      "type":"structure",
      "required":[
        "FlowArn",
        "MediaStreams"
      ],
      "members":{
        "FlowArn":{
          "shape":"AddFlowMediaStreamsRequestFlowArnString",
          "documentation":"<p> The Amazon Resource Name (ARN) of the flow.</p>",
          "location":"uri",
          "locationName":"FlowArn"
        },
        "MediaStreams":{
          "shape":"__listOfAddMediaStreamRequest",
          "documentation":"<p> The media streams that you want to add to the flow.</p>",
          "locationName":"mediaStreams"
        }
      }
    },
    "AddFlowMediaStreamsRequestFlowArnString":{
      "type":"string",
      "pattern":"arn:.+:mediaconnect.+:flow:.+"
    },
    "AddFlowMediaStreamsResponse":{
      "type":"structure",
      "members":{
        "FlowArn":{
          "shape":"String",
          "documentation":"<p> The ARN of the flow that you added media streams to.</p>",
          "locationName":"flowArn"
        },
        "MediaStreams":{
          "shape":"__listOfMediaStream",
          "documentation":"<p> The media streams that you added to the flow.</p>",
          "locationName":"mediaStreams"
        }
      }
    },
    "AddFlowOutputs420Exception":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{
          "shape":"String",
          "locationName":"message"
        }
      },
      "documentation":"<p>Exception raised by Elemental MediaConnect when adding the flow output. See the error message for the operation for more information on the cause of this exception. </p>",
      "error":{
        "httpStatusCode":420,
        "senderFault":true
      },
      "exception":true
    },
    "AddFlowOutputsRequest":{
      "type":"structure",
      "required":[
        "FlowArn",
        "Outputs"
      ],
      "members":{
        "FlowArn":{
          "shape":"AddFlowOutputsRequestFlowArnString",
          "documentation":"<p> The Amazon Resource Name (ARN) of the flow that you want to add outputs to.</p>",
          "location":"uri",
          "locationName":"FlowArn"
        },
        "Outputs":{
          "shape":"__listOfAddOutputRequest",
          "documentation":"<p> A list of outputs that you want to add to the flow.</p>",
          "locationName":"outputs"
        }
      }
    },
    "AddFlowOutputsRequestFlowArnString":{
      "type":"string",
      "pattern":"arn:.+:mediaconnect.+:flow:.+"
    },
    "AddFlowOutputsResponse":{
      "type":"structure",
      "members":{
        "FlowArn":{
          "shape":"String",
          "documentation":"<p> The ARN of the flow that these outputs were added to.</p>",
          "locationName":"flowArn"
        },
        "Outputs":{
          "shape":"__listOfOutput",
          "documentation":"<p> The details of the newly added outputs.</p>",
          "locationName":"outputs"
        }
      }
    },
    "AddFlowSourcesRequest":{
      "type":"structure",
      "required":[
        "FlowArn",
        "Sources"
      ],
      "members":{
        "FlowArn":{
          "shape":"AddFlowSourcesRequestFlowArnString",
          "documentation":"<p> The Amazon Resource Name (ARN) of the flow that you want to update.</p>",
          "location":"uri",
          "locationName":"FlowArn"
        },
        "Sources":{
          "shape":"__listOfSetSourceRequest",
          "documentation":"<p> A list of sources that you want to add to the flow.</p>",
          "locationName":"sources"
        }
      }
    },
    "AddFlowSourcesRequestFlowArnString":{
      "type":"string",
      "pattern":"arn:.+:mediaconnect.+:flow:.+"
    },
    "AddFlowSourcesResponse":{
      "type":"structure",
      "members":{
        "FlowArn":{
          "shape":"String",
          "documentation":"<p> The ARN of the flow that these sources were added to.</p>",
          "locationName":"flowArn"
        },
        "Sources":{
          "shape":"__listOfSource",
          "documentation":"<p> The details of the newly added sources.</p>",
          "locationName":"sources"
        }
      }
    },
    "AddFlowVpcInterfacesRequest":{
      "type":"structure",
      "required":[
        "FlowArn",
        "VpcInterfaces"
      ],
      "members":{
        "FlowArn":{
          "shape":"AddFlowVpcInterfacesRequestFlowArnString",
          "documentation":"<p> The Amazon Resource Name (ARN) of the flow that you want to update.</p>",
          "location":"uri",
          "locationName":"FlowArn"
        },
        "VpcInterfaces":{
          "shape":"__listOfVpcInterfaceRequest",
          "documentation":"<p> A list of VPC interfaces that you want to add to the flow.</p>",
          "locationName":"vpcInterfaces"
        }
      }
    },
    "AddFlowVpcInterfacesRequestFlowArnString":{
      "type":"string",
      "pattern":"arn:.+:mediaconnect.+:flow:.+"
    },
    "AddFlowVpcInterfacesResponse":{
      "type":"structure",
      "members":{
        "FlowArn":{
          "shape":"String",
          "documentation":"<p> The ARN of the flow that these VPC interfaces were added to.</p>",
          "locationName":"flowArn"
        },
        "VpcInterfaces":{
          "shape":"__listOfVpcInterface",
          "documentation":"<p> The details of the newly added VPC interfaces.</p>",
          "locationName":"vpcInterfaces"
        }
      }
    },
    "AddIngressGatewayBridgeRequest":{
      "type":"structure",
      "required":[
        "MaxBitrate",
        "MaxOutputs"
      ],
      "members":{
        "MaxBitrate":{
          "shape":"Integer",
          "documentation":"<p> The maximum expected bitrate (in bps) of the ingress bridge. </p>",
          "locationName":"maxBitrate"
        },
        "MaxOutputs":{
          "shape":"Integer",
          "documentation":"<p> The maximum number of expected outputs on the ingress bridge. </p>",
          "locationName":"maxOutputs"
        }
      },
      "documentation":"<p>Create a bridge with the ingress bridge type. An ingress bridge is a ground-to-cloud bridge. The content originates at your premises and is delivered to the cloud. </p>"
    },
    "AddMaintenance":{
      "type":"structure",
      "required":[
        "MaintenanceDay",
        "MaintenanceStartHour"
      ],
      "members":{
        "MaintenanceDay":{
          "shape":"MaintenanceDay",
          "documentation":"<p> A day of a week when the maintenance will happen. </p>",
          "locationName":"maintenanceDay"
        },
        "MaintenanceStartHour":{
          "shape":"String",
          "documentation":"<p> UTC time when the maintenance will happen. </p> <p>Use 24-hour HH:MM format. </p> <p>Minutes must be 00. </p> <p>Example: 13:00. </p> <p>The default value is 02:00.</p>",
          "locationName":"maintenanceStartHour"
        }
      },
      "documentation":"<p> Create a maintenance setting for a flow.</p>"
    },
    "AddMediaStreamRequest":{
      "type":"structure",
      "required":[
        "MediaStreamId",
        "MediaStreamName",
        "MediaStreamType"
      ],
      "members":{
        "Attributes":{
          "shape":"MediaStreamAttributesRequest",
          "documentation":"<p> The attributes that you want to assign to the new media stream.</p>",
          "locationName":"attributes"
        },
        "ClockRate":{
          "shape":"Integer",
          "documentation":"<p> The sample rate (in Hz) for the stream. If the media stream type is video or ancillary data, set this value to 90000. If the media stream type is audio, set this value to either 48000 or 96000.</p>",
          "locationName":"clockRate"
        },
        "Description":{
          "shape":"String",
          "documentation":"<p> A description that can help you quickly identify what your media stream is used for.</p>",
          "locationName":"description"
        },
        "MediaStreamId":{
          "shape":"Integer",
          "documentation":"<p> A unique identifier for the media stream. </p>",
          "locationName":"mediaStreamId"
        },
        "MediaStreamName":{
          "shape":"String",
          "documentation":"<p> A name that helps you distinguish one media stream from another.</p>",
          "locationName":"mediaStreamName"
        },
        "MediaStreamType":{
          "shape":"MediaStreamType",
          "documentation":"<p> The type of media stream.</p>",
          "locationName":"mediaStreamType"
        },
        "VideoFormat":{
          "shape":"String",
          "documentation":"<p> The resolution of the video.</p>",
          "locationName":"videoFormat"
        }
      },
      "documentation":"<p> The media stream that you want to add to the flow. </p>"
    },
    "AddOutputRequest":{
      "type":"structure",
      "required":["Protocol"],
      "members":{
        "CidrAllowList":{
          "shape":"__listOfString",
          "documentation":"<p> The range of IP addresses that should be allowed to initiate output requests to this flow. These IP addresses should be in the form of a Classless Inter-Domain Routing (CIDR) block; for example, 10.0.0.0/16.</p>",
          "locationName":"cidrAllowList"
        },
        "Description":{
          "shape":"String",
          "documentation":"<p> A description of the output. This description appears only on the Audit Manager console and will not be seen by the end user.</p>",
          "locationName":"description"
        },
        "Destination":{
          "shape":"String",
          "documentation":"<p> The IP address from which video will be sent to output destinations.</p>",
          "locationName":"destination"
        },
        "Encryption":{
          "shape":"Encryption",
          "documentation":"<p> The type of key used for the encryption. If no keyType is provided, the service will use the default setting (static-key). Allowable encryption types: static-key.</p>",
          "locationName":"encryption"
        },
        "MaxLatency":{
          "shape":"Integer",
          "documentation":"<p> The maximum latency in milliseconds. This parameter applies only to RIST-based and Zixi-based streams.</p>",
          "locationName":"maxLatency"
        },
        "MediaStreamOutputConfigurations":{
          "shape":"__listOfMediaStreamOutputConfigurationRequest",
          "documentation":"<p> The media streams that are associated with the output, and the parameters for those associations.</p>",
          "locationName":"mediaStreamOutputConfigurations"
        },
        "MinLatency":{
          "shape":"Integer",
          "documentation":"<p> The minimum latency in milliseconds for SRT-based streams. In streams that use the SRT protocol, this value that you set on your MediaConnect source or output represents the minimal potential latency of that connection. The latency of the stream is set to the highest number between the sender’s minimum latency and the receiver’s minimum latency.</p>",
          "locationName":"minLatency"
        },
        "Name":{
          "shape":"String",
          "documentation":"<p> The name of the output. This value must be unique within the current flow.</p>",
          "locationName":"name"
        },
        "Port":{
          "shape":"Integer",
          "documentation":"<p> The port to use when content is distributed to this output.</p>",
          "locationName":"port"
        },
        "Protocol":{
          "shape":"Protocol",
          "documentation":"<p> The protocol to use for the output.</p> <note> <p>Elemental MediaConnect no longer supports the Fujitsu QoS protocol. This reference is maintained for legacy purposes only.</p> </note>",
          "locationName":"protocol"
        },
        "RemoteId":{
          "shape":"String",
          "documentation":"<p> The remote ID for the Zixi-pull output stream.</p>",
          "locationName":"remoteId"
        },
        "SenderControlPort":{
          "shape":"Integer",
          "documentation":"<p> The port that the flow uses to send outbound requests to initiate connection with the sender.</p>",
          "locationName":"senderControlPort"
        },
        "SmoothingLatency":{
          "shape":"Integer",
          "documentation":"<p> The smoothing latency in milliseconds for RIST, RTP, and RTP-FEC streams.</p>",
          "locationName":"smoothingLatency"
        },
        "StreamId":{
          "shape":"String",
          "documentation":"<p> The stream ID that you want to use for this transport. This parameter applies only to Zixi and SRT caller-based streams.</p>",
          "locationName":"streamId"
        },
        "VpcInterfaceAttachment":{
          "shape":"VpcInterfaceAttachment",
          "documentation":"<p> The name of the VPC interface attachment to use for this output.</p>",
          "locationName":"vpcInterfaceAttachment"
        },
        "OutputStatus":{
          "shape":"OutputStatus",
          "documentation":"<p> An indication of whether the new output should be enabled or disabled as soon as it is created. If you don't specify the outputStatus field in your request, MediaConnect sets it to ENABLED.</p>",
          "locationName":"outputStatus"
        },
        "NdiSpeedHqQuality":{
          "shape":"Integer",
          "documentation":"<p>A quality setting for the NDI Speed HQ encoder. </p>",
          "locationName":"ndiSpeedHqQuality"
        },
        "NdiProgramName":{
          "shape":"String",
          "documentation":"<p> A suffix for the names of the NDI sources that the flow creates. If a custom name isn't specified, MediaConnect uses the output name. </p>",
          "locationName":"ndiProgramName"
        }
      },
      "documentation":"<p> A request to add an output to a flow.</p>"
    },
    "Algorithm":{
      "type":"string",
      "enum":[
        "aes128",
        "aes192",
        "aes256"
      ]
    },
    "AudioMonitoringSetting":{
      "type":"structure",
      "members":{
        "SilentAudio":{
          "shape":"SilentAudio",
          "documentation":"<p> Detects periods of silence. </p>",
          "locationName":"silentAudio"
        }
      },
      "documentation":"<p> Specifies the configuration for audio stream metrics monitoring.</p>"
    },
    "BadRequestException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{
          "shape":"String",
          "locationName":"message"
        }
      },
      "documentation":"<p>This exception is thrown if the request contains a semantic error. The precise meaning depends on the API, and is documented in the error message. </p>",
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "BlackFrames":{
      "type":"structure",
      "members":{
        "State":{
          "shape":"State",
          "documentation":"<p> Indicates whether the <code>BlackFrames</code> metric is enabled or disabled..</p>",
          "locationName":"state"
        },
        "ThresholdSeconds":{
          "shape":"Integer",
          "documentation":"<p> Specifies the number of consecutive seconds of black frames that triggers an event or alert.</p>",
          "locationName":"thresholdSeconds"
        }
      },
      "documentation":"<p> Configures settings for the <code>BlackFrames</code> metric.</p>"
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "Bridge":{
      "type":"structure",
      "required":[
        "BridgeArn",
        "BridgeState",
        "Name",
        "PlacementArn"
      ],
      "members":{
        "BridgeArn":{
          "shape":"String",
          "documentation":"<p> The Amazon Resource Number (ARN) of the bridge.</p>",
          "locationName":"bridgeArn"
        },
        "BridgeMessages":{
          "shape":"__listOfMessageDetail",
          "documentation":"<p> Messages with details about the bridge. </p>",
          "locationName":"bridgeMessages"
        },
        "BridgeState":{
          "shape":"BridgeState",
          "documentation":"<p>The state of the bridge. </p>",
          "locationName":"bridgeState"
        },
        "EgressGatewayBridge":{
          "shape":"EgressGatewayBridge",
          "documentation":"<p> An egress bridge is a cloud-to-ground bridge. The content comes from an existing MediaConnect flow and is delivered to your premises. </p>",
          "locationName":"egressGatewayBridge"
        },
        "IngressGatewayBridge":{
          "shape":"IngressGatewayBridge",
          "documentation":"<p> An ingress bridge is a ground-to-cloud bridge. The content originates at your premises and is delivered to the cloud. </p>",
          "locationName":"ingressGatewayBridge"
        },
        "Name":{
          "shape":"String",
          "documentation":"<p> The name of the bridge.</p>",
          "locationName":"name"
        },
        "Outputs":{
          "shape":"__listOfBridgeOutput",
          "documentation":"<p> The outputs on this bridge.</p>",
          "locationName":"outputs"
        },
        "PlacementArn":{
          "shape":"String",
          "documentation":"<p> The placement Amazon Resource Number (ARN) of the bridge.</p>",
          "locationName":"placementArn"
        },
        "SourceFailoverConfig":{
          "shape":"FailoverConfig",
          "documentation":"<p> The settings for source failover. </p>",
          "locationName":"sourceFailoverConfig"
        },
        "Sources":{
          "shape":"__listOfBridgeSource",
          "documentation":"<p> The sources on this bridge.</p>",
          "locationName":"sources"
        }
      },
      "documentation":"<p> A Bridge is the connection between your data center's Instances and the Amazon Web Services cloud. A bridge can be used to send video from the Amazon Web Services cloud to your data center or from your data center to the Amazon Web Services cloud.</p>"
    },
    "BridgeArn":{"type":"string"},
    "BridgeFlowOutput":{
      "type":"structure",
      "required":[
        "FlowArn",
        "FlowSourceArn",
        "Name"
      ],
      "members":{
        "FlowArn":{
          "shape":"String",
          "documentation":"<p> The Amazon Resource Number (ARN) of the cloud flow.</p>",
          "locationName":"flowArn"
        },
        "FlowSourceArn":{
          "shape":"String",
          "documentation":"<p> The Amazon Resource Number (ARN) of the flow source.</p>",
          "locationName":"flowSourceArn"
        },
        "Name":{
          "shape":"String",
          "documentation":"<p> The name of the bridge's output.</p>",
          "locationName":"name"
        }
      },
      "documentation":"<p> The output of the bridge. A flow output is delivered to the Amazon Web Services cloud. </p>"
    },
    "BridgeFlowSource":{
      "type":"structure",
      "required":[
        "FlowArn",
        "Name"
      ],
      "members":{
        "FlowArn":{
          "shape":"String",
          "documentation":"<p> The ARN of the cloud flow used as a source of this bridge.</p>",
          "locationName":"flowArn"
        },
        "FlowVpcInterfaceAttachment":{
          "shape":"VpcInterfaceAttachment",
          "documentation":"<p> The name of the VPC interface attachment to use for this source.</p>",
          "locationName":"flowVpcInterfaceAttachment"
        },
        "Name":{
          "shape":"String",
          "documentation":"<p> The name of the flow source.</p>",
          "locationName":"name"
        },
        "OutputArn":{
          "shape":"String",
          "documentation":"<p> The Amazon Resource Number (ARN) of the output.</p>",
          "locationName":"outputArn"
        }
      },
      "documentation":"<p> The source of the bridge. A flow source originates in MediaConnect as an existing cloud flow.</p>"
    },
    "BridgeNetworkOutput":{
      "type":"structure",
      "required":[
        "IpAddress",
        "Name",
        "NetworkName",
        "Port",
        "Protocol",
        "Ttl"
      ],
      "members":{
        "IpAddress":{
          "shape":"String",
          "documentation":"<p> The network output IP address.</p>",
          "locationName":"ipAddress"
        },
        "Name":{
          "shape":"String",
          "documentation":"<p> The network output name.</p>",
          "locationName":"name"
        },
        "NetworkName":{
          "shape":"String",
          "documentation":"<p> The network output's gateway network name.</p>",
          "locationName":"networkName"
        },
        "Port":{
          "shape":"Integer",
          "documentation":"<p> The network output's port.</p>",
          "locationName":"port"
        },
        "Protocol":{
          "shape":"Protocol",
          "documentation":"<p> The network output protocol.</p> <note> <p>Elemental MediaConnect no longer supports the Fujitsu QoS protocol. This reference is maintained for legacy purposes only.</p> </note>",
          "locationName":"protocol"
        },
        "Ttl":{
          "shape":"Integer",
          "documentation":"<p> The network output TTL.</p>",
          "locationName":"ttl"
        }
      },
      "documentation":"<p> The output of the bridge. A network output is delivered to your premises.</p>"
    },
    "BridgeNetworkSource":{
      "type":"structure",
      "required":[
        "MulticastIp",
        "Name",
        "NetworkName",
        "Port",
        "Protocol"
      ],
      "members":{
        "MulticastIp":{
          "shape":"String",
          "documentation":"<p> The network source multicast IP.</p>",
          "locationName":"multicastIp"
        },
        "MulticastSourceSettings":{
          "shape":"MulticastSourceSettings",
          "documentation":"<p>The settings related to the multicast source. </p>",
          "locationName":"multicastSourceSettings"
        },
        "Name":{
          "shape":"String",
          "documentation":"<p> The name of the network source.</p>",
          "locationName":"name"
        },
        "NetworkName":{
          "shape":"String",
          "documentation":"<p> The network source's gateway network name.</p>",
          "locationName":"networkName"
        },
        "Port":{
          "shape":"Integer",
          "documentation":"<p> The network source port.</p>",
          "locationName":"port"
        },
        "Protocol":{
          "shape":"Protocol",
          "documentation":"<p> The network source protocol.</p> <note> <p>Elemental MediaConnect no longer supports the Fujitsu QoS protocol. This reference is maintained for legacy purposes only.</p> </note>",
          "locationName":"protocol"
        }
      },
      "documentation":"<p> The source of the bridge. A network source originates at your premises.</p>"
    },
    "BridgeOutput":{
      "type":"structure",
      "members":{
        "FlowOutput":{
          "shape":"BridgeFlowOutput",
          "documentation":"<p> The output of the associated flow. </p>",
          "locationName":"flowOutput"
        },
        "NetworkOutput":{
          "shape":"BridgeNetworkOutput",
          "documentation":"<p> The network output for the bridge. </p>",
          "locationName":"networkOutput"
        }
      },
      "documentation":"<p> The output of the bridge.</p>"
    },
    "BridgePlacement":{
      "type":"string",
      "enum":[
        "AVAILABLE",
        "LOCKED"
      ]
    },
    "BridgeSource":{
      "type":"structure",
      "members":{
        "FlowSource":{
          "shape":"BridgeFlowSource",
          "documentation":"<p> The source of the associated flow. </p>",
          "locationName":"flowSource"
        },
        "NetworkSource":{
          "shape":"BridgeNetworkSource",
          "documentation":"<p> The network source for the bridge. </p>",
          "locationName":"networkSource"
        }
      },
      "documentation":"<p> The bridge's source.</p>"
    },
    "BridgeState":{
      "type":"string",
      "enum":[
        "CREATING",
        "STANDBY",
        "STARTING",
        "DEPLOYING",
        "ACTIVE",
        "STOPPING",
        "DELETING",
        "DELETED",
        "START_FAILED",
        "START_PENDING",
        "STOP_FAILED",
        "UPDATING"
      ]
    },
    "Colorimetry":{
      "type":"string",
      "enum":[
        "BT601",
        "BT709",
        "BT2020",
        "BT2100",
        "ST2065-1",
        "ST2065-3",
        "XYZ"
      ]
    },
    "ConflictException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{
          "shape":"String",
          "locationName":"message"
        }
      },
      "documentation":"<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request. </p>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true,
      "retryable":{"throttling":false}
    },
    "ConnectionStatus":{
      "type":"string",
      "enum":[
        "CONNECTED",
        "DISCONNECTED"
      ]
    },
    "ContentQualityAnalysisState":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "CreateBridge420Exception":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{
          "shape":"String",
          "locationName":"message"
        }
      },
      "documentation":"<p>Exception raised by Elemental MediaConnect when creating the bridge. See the error message for the operation for more information on the cause of this exception. </p>",
      "error":{
        "httpStatusCode":420,
        "senderFault":true
      },
      "exception":true
    },
    "CreateBridgeRequest":{
      "type":"structure",
      "required":[
        "Name",
        "PlacementArn",
        "Sources"
      ],
      "members":{
        "EgressGatewayBridge":{
          "shape":"AddEgressGatewayBridgeRequest",
          "documentation":"<p>An egress bridge is a cloud-to-ground bridge. The content comes from an existing MediaConnect flow and is delivered to your premises. </p>",
          "locationName":"egressGatewayBridge"
        },
        "IngressGatewayBridge":{
          "shape":"AddIngressGatewayBridgeRequest",
          "documentation":"<p>An ingress bridge is a ground-to-cloud bridge. The content originates at your premises and is delivered to the cloud. </p>",
          "locationName":"ingressGatewayBridge"
        },
        "Name":{
          "shape":"String",
          "documentation":"<p> The name of the bridge. This name can not be modified after the bridge is created.</p>",
          "locationName":"name"
        },
        "Outputs":{
          "shape":"__listOfAddBridgeOutputRequest",
          "documentation":"<p> The outputs that you want to add to this bridge.</p>",
          "locationName":"outputs"
        },
        "PlacementArn":{
          "shape":"String",
          "documentation":"<p> The bridge placement Amazon Resource Number (ARN).</p>",
          "locationName":"placementArn"
        },
        "SourceFailoverConfig":{
          "shape":"FailoverConfig",
          "documentation":"<p> The settings for source failover.</p>",
          "locationName":"sourceFailoverConfig"
        },
        "Sources":{
          "shape":"__listOfAddBridgeSourceRequest",
          "documentation":"<p> The sources that you want to add to this bridge.</p>",
          "locationName":"sources"
        }
      }
    },
    "CreateBridgeResponse":{
      "type":"structure",
      "members":{
        "Bridge":{
          "shape":"Bridge",
          "documentation":"<p> The name of the bridge that was created.</p>",
          "locationName":"bridge"
        }
      }
    },
    "CreateFlow420Exception":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{
          "shape":"String",
          "locationName":"message"
        }
      },
      "documentation":"<p>Exception raised by Elemental MediaConnect when creating the flow. See the error message for the operation for more information on the cause of this exception. </p>",
      "error":{
        "httpStatusCode":420,
        "senderFault":true
      },
      "exception":true
    },
    "CreateFlowRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "AvailabilityZone":{
          "shape":"String",
          "documentation":"<p> The Availability Zone that you want to create the flow in. These options are limited to the Availability Zones within the current Amazon Web Services Region.</p>",
          "locationName":"availabilityZone"
        },
        "Entitlements":{
          "shape":"__listOfGrantEntitlementRequest",
          "documentation":"<p> The entitlements that you want to grant on a flow.</p>",
          "locationName":"entitlements"
        },
        "MediaStreams":{
          "shape":"__listOfAddMediaStreamRequest",
          "documentation":"<p> The media streams that you want to add to the flow. You can associate these media streams with sources and outputs on the flow.</p>",
          "locationName":"mediaStreams"
        },
        "Name":{
          "shape":"String",
          "documentation":"<p> The name of the flow.</p>",
          "locationName":"name"
        },
        "Outputs":{
          "shape":"__listOfAddOutputRequest",
          "documentation":"<p> The outputs that you want to add to this flow.</p>",
          "locationName":"outputs"
        },
        "Source":{
          "shape":"SetSourceRequest",
          "documentation":"<p> The settings for the source that you want to use for the new flow. </p>",
          "locationName":"source"
        },
        "SourceFailoverConfig":{
          "shape":"FailoverConfig",
          "documentation":"<p> The settings for source failover. </p>",
          "locationName":"sourceFailoverConfig"
        },
        "Sources":{
          "shape":"__listOfSetSourceRequest",
          "documentation":"<p>The sources that are assigned to the flow. </p>",
          "locationName":"sources"
        },
        "VpcInterfaces":{
          "shape":"__listOfVpcInterfaceRequest",
          "documentation":"<p> The VPC interfaces you want on the flow.</p>",
          "locationName":"vpcInterfaces"
        },
        "Maintenance":{
          "shape":"AddMaintenance",
          "documentation":"<p> The maintenance settings you want to use for the flow. </p>",
          "locationName":"maintenance"
        },
        "SourceMonitoringConfig":{
          "shape":"MonitoringConfig",
          "documentation":"<p> The settings for source monitoring. </p>",
          "locationName":"sourceMonitoringConfig"
        },
        "FlowSize":{
          "shape":"FlowSize",
          "documentation":"<p> Determines the processing capacity and feature set of the flow. Set this optional parameter to <code>LARGE</code> if you want to enable NDI outputs on the flow. </p>",
          "locationName":"flowSize"
        },
        "NdiConfig":{
          "shape":"NdiConfig",
          "documentation":"<p> Specifies the configuration settings for NDI outputs. Required when the flow includes NDI outputs. </p>",
          "locationName":"ndiConfig"
        }
      }
    },
    "CreateFlowResponse":{
      "type":"structure",
      "members":{
        "Flow":{
          "shape":"Flow",
          "documentation":"<p> The flow that you created. </p>",
          "locationName":"flow"
        }
      }
    },
    "CreateGateway420Exception":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{
          "shape":"String",
          "locationName":"message"
        }
      },
      "documentation":"<p>Exception raised by Elemental MediaConnect when creating the gateway. See the error message for the operation for more information on the cause of this exception. </p>",
      "error":{
        "httpStatusCode":420,
        "senderFault":true
      },
      "exception":true
    },
    "CreateGatewayRequest":{
      "type":"structure",
      "required":[
        "EgressCidrBlocks",
        "Name",
        "Networks"
      ],
      "members":{
        "EgressCidrBlocks":{
          "shape":"__listOfString",
          "documentation":"<p> The range of IP addresses that are allowed to contribute content or initiate output requests for flows communicating with this gateway. These IP addresses should be in the form of a Classless Inter-Domain Routing (CIDR) block; for example, 10.0.0.0/16.</p>",
          "locationName":"egressCidrBlocks"
        },
        "Name":{
          "shape":"String",
          "documentation":"<p> The name of the gateway. This name can not be modified after the gateway is created.</p>",
          "locationName":"name"
        },
        "Networks":{
          "shape":"__listOfGatewayNetwork",
          "documentation":"<p> The list of networks that you want to add to the gateway.</p>",
          "locationName":"networks"
        }
      }
    },
    "CreateGatewayResponse":{
      "type":"structure",
      "members":{
        "Gateway":{
          "shape":"Gateway",
          "documentation":"<p> The gateway that you created. </p>",
          "locationName":"gateway"
        }
      }
    },
    "DeleteBridgeRequest":{
      "type":"structure",
      "required":["BridgeArn"],
      "members":{
        "BridgeArn":{
          "shape":"DeleteBridgeRequestBridgeArnString",
          "documentation":"<p> The Amazon Resource Name (ARN) of the bridge that you want to delete.</p>",
          "location":"uri",
          "locationName":"BridgeArn"
        }
      }
    },
    "DeleteBridgeRequestBridgeArnString":{
      "type":"string",
      "pattern":"arn:.+:mediaconnect.+:bridge:.+"
    },
    "DeleteBridgeResponse":{
      "type":"structure",
      "members":{
        "BridgeArn":{
          "shape":"String",
          "documentation":"<p> The ARN of the deleted bridge.</p>",
          "locationName":"bridgeArn"
        }
      }
    },
    "DeleteFlowRequest":{
      "type":"structure",
      "required":["FlowArn"],
      "members":{
        "FlowArn":{
          "shape":"DeleteFlowRequestFlowArnString",
          "documentation":"<p> The Amazon Resource Name (ARN) of the flow that you want to delete.</p>",
          "location":"uri",
          "locationName":"FlowArn"
        }
      }
    },
    "DeleteFlowRequestFlowArnString":{
      "type":"string",
      "pattern":"arn:.+:mediaconnect.+:flow:.+"
    },
    "DeleteFlowResponse":{
      "type":"structure",
      "members":{
        "FlowArn":{
          "shape":"String",
          "documentation":"<p> The ARN of the flow that was deleted.</p>",
          "locationName":"flowArn"
        },
        "Status":{
          "shape":"Status",
          "documentation":"<p> The status of the flow when the <code>DeleteFlow</code> process begins.</p>",
          "locationName":"status"
        }
      }
    },
    "DeleteGatewayRequest":{
      "type":"structure",
      "required":["GatewayArn"],
      "members":{
        "GatewayArn":{
          "shape":"DeleteGatewayRequestGatewayArnString",
          "documentation":"<p> The Amazon Resource Name (ARN) of the gateway that you want to delete.</p>",
          "location":"uri",
          "locationName":"GatewayArn"
        }
      }
    },
    "DeleteGatewayRequestGatewayArnString":{
      "type":"string",
      "pattern":"arn:.+:mediaconnect.+:gateway:.+"
    },
    "DeleteGatewayResponse":{
      "type":"structure",
      "members":{
        "GatewayArn":{
          "shape":"String",
          "documentation":"<p> The ARN of the gateway that was deleted.</p>",
          "locationName":"gatewayArn"
        }
      }
    },
    "DeregisterGatewayInstanceRequest":{
      "type":"structure",
      "required":["GatewayInstanceArn"],
      "members":{
        "Force":{
          "shape":"Boolean",
          "documentation":"<p> Force the deregistration of an instance. Force will deregister an instance, even if there are bridges running on it.</p>",
          "location":"querystring",
          "locationName":"force"
        },
        "GatewayInstanceArn":{
          "shape":"DeregisterGatewayInstanceRequestGatewayInstanceArnString",
          "documentation":"<p> The Amazon Resource Name (ARN) of the gateway that contains the instance that you want to deregister.</p>",
          "location":"uri",
          "locationName":"GatewayInstanceArn"
        }
      }
    },
    "DeregisterGatewayInstanceRequestGatewayInstanceArnString":{
      "type":"string",
      "pattern":"arn:.+:mediaconnect.+:gateway:.+:instance:.+"
    },
    "DeregisterGatewayInstanceResponse":{
      "type":"structure",
      "members":{
        "GatewayInstanceArn":{
          "shape":"String",
          "documentation":"<p> The ARN of the instance.</p>",
          "locationName":"gatewayInstanceArn"
        },
        "InstanceState":{
          "shape":"InstanceState",
          "documentation":"<p> The status of the instance.</p>",
          "locationName":"instanceState"
        }
      }
    },
    "DescribeBridgeRequest":{
      "type":"structure",
      "required":["BridgeArn"],
      "members":{
        "BridgeArn":{
          "shape":"DescribeBridgeRequestBridgeArnString",
          "documentation":"<p> The Amazon Resource Name (ARN) of the bridge that you want to describe.</p>",
          "location":"uri",
          "locationName":"BridgeArn"
        }
      }
    },
    "DescribeBridgeRequestBridgeArnString":{
      "type":"string",
      "pattern":"arn:.+:mediaconnect.+:bridge:.+"
    },
    "DescribeBridgeResponse":{
      "type":"structure",
      "members":{
        "Bridge":{
          "shape":"Bridge",
          "documentation":"<p>The bridge that you requested a description of. </p>",
          "locationName":"bridge"
        }
      }
    },
    "DescribeFlowRequest":{
      "type":"structure",
      "required":["FlowArn"],
      "members":{
        "FlowArn":{
          "shape":"DescribeFlowRequestFlowArnString",
          "documentation":"<p> The ARN of the flow that you want to describe.</p>",
          "location":"uri",
          "locationName":"FlowArn"
        }
      }
    },
    "DescribeFlowRequestFlowArnString":{
      "type":"string",
      "pattern":"arn:.+:mediaconnect.+:flow:.+"
    },
    "DescribeFlowResponse":{
      "type":"structure",
      "members":{
        "Flow":{
          "shape":"Flow",
          "documentation":"<p>The flow that you requested a description of. </p>",
          "locationName":"flow"
        },
        "Messages":{
          "shape":"Messages",
          "documentation":"<p> Any errors that apply currently to the flow. If there are no errors, MediaConnect will not include this field in the response. </p>",
          "locationName":"messages"
        }
      }
    },
    "DescribeFlowSourceMetadataRequest":{
      "type":"structure",
      "required":["FlowArn"],
      "members":{
        "FlowArn":{
          "shape":"FlowArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the flow.</p>",
          "location":"uri",
          "locationName":"FlowArn"
        }
      }
    },
    "DescribeFlowSourceMetadataResponse":{
      "type":"structure",
      "members":{
        "FlowArn":{
          "shape":"String",
          "documentation":"<p> The ARN of the flow that DescribeFlowSourceMetadata was performed on.</p>",
          "locationName":"flowArn"
        },
        "Messages":{
          "shape":"__listOfMessageDetail",
          "documentation":"<p> Provides a status code and message regarding issues found with the flow source metadata.</p>",
          "locationName":"messages"
        },
        "Timestamp":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p> The timestamp of the most recent change in metadata for this flow’s source.</p>",
          "locationName":"timestamp"
        },
        "TransportMediaInfo":{
          "shape":"TransportMediaInfo",
          "documentation":"<p> Information about the flow's transport media. </p>",
          "locationName":"transportMediaInfo"
        }
      }
    },
    "DescribeFlowSourceThumbnailRequest":{
      "type":"structure",
      "required":["FlowArn"],
      "members":{
        "FlowArn":{
          "shape":"FlowArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the flow.</p>",
          "location":"uri",
          "locationName":"FlowArn"
        }
      }
    },
    "DescribeFlowSourceThumbnailResponse":{
      "type":"structure",
      "members":{
        "ThumbnailDetails":{
          "shape":"ThumbnailDetails",
          "documentation":"<p>The details of the thumbnail, including thumbnail base64 string, timecode and the time when thumbnail was generated. </p>",
          "locationName":"thumbnailDetails"
        }
      }
    },
    "DescribeGatewayInstanceRequest":{
      "type":"structure",
      "required":["GatewayInstanceArn"],
      "members":{
        "GatewayInstanceArn":{
          "shape":"DescribeGatewayInstanceRequestGatewayInstanceArnString",
          "documentation":"<p> The Amazon Resource Name (ARN) of the gateway instance that you want to describe.</p>",
          "location":"uri",
          "locationName":"GatewayInstanceArn"
        }
      }
    },
    "DescribeGatewayInstanceRequestGatewayInstanceArnString":{
      "type":"string",
      "pattern":"arn:.+:mediaconnect.+:gateway:.+:instance:.+"
    },
    "DescribeGatewayInstanceResponse":{
      "type":"structure",
      "members":{
        "GatewayInstance":{
          "shape":"GatewayInstance",
          "documentation":"<p>The gateway instance that you requested a description of. </p>",
          "locationName":"gatewayInstance"
        }
      }
    },
    "DescribeGatewayRequest":{
      "type":"structure",
      "required":["GatewayArn"],
      "members":{
        "GatewayArn":{
          "shape":"DescribeGatewayRequestGatewayArnString",
          "documentation":"<p> The ARN of the gateway that you want to describe.</p>",
          "location":"uri",
          "locationName":"GatewayArn"
        }
      }
    },
    "DescribeGatewayRequestGatewayArnString":{
      "type":"string",
      "pattern":"arn:.+:mediaconnect.+:gateway:.+"
    },
    "DescribeGatewayResponse":{
      "type":"structure",
      "members":{
        "Gateway":{
          "shape":"Gateway",
          "documentation":"<p>The gateway that you wanted to describe. </p>",
          "locationName":"gateway"
        }
      }
    },
    "DescribeOfferingRequest":{
      "type":"structure",
      "required":["OfferingArn"],
      "members":{
        "OfferingArn":{
          "shape":"OfferingArn",
          "documentation":"<p> The ARN of the offering.</p>",
          "location":"uri",
          "locationName":"OfferingArn"
        }
      }
    },
    "DescribeOfferingResponse":{
      "type":"structure",
      "members":{
        "Offering":{
          "shape":"Offering",
          "documentation":"<p>The offering that you requested a description of. </p>",
          "locationName":"offering"
        }
      }
    },
    "DescribeReservationRequest":{
      "type":"structure",
      "required":["ReservationArn"],
      "members":{
        "ReservationArn":{
          "shape":"ReservationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the offering. </p>",
          "location":"uri",
          "locationName":"ReservationArn"
        }
      }
    },
    "DescribeReservationResponse":{
      "type":"structure",
      "members":{
        "Reservation":{
          "shape":"Reservation",
          "documentation":"<p> A pricing agreement for a discounted rate for a specific outbound bandwidth that your MediaConnect account will use each month over a specific time period. The discounted rate in the reservation applies to outbound bandwidth for all flows from your account until your account reaches the amount of bandwidth in your reservation. If you use more outbound bandwidth than the agreed upon amount in a single month, the overage is charged at the on-demand rate. </p>",
          "locationName":"reservation"
        }
      }
    },
    "DesiredState":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "STANDBY",
        "DELETED"
      ]
    },
    "DestinationConfiguration":{
      "type":"structure",
      "required":[
        "DestinationIp",
        "DestinationPort",
        "Interface",
        "OutboundIp"
      ],
      "members":{
        "DestinationIp":{
          "shape":"String",
          "documentation":"<p>The IP address where you want MediaConnect to send contents of the media stream.</p>",
          "locationName":"destinationIp"
        },
        "DestinationPort":{
          "shape":"Integer",
          "documentation":"<p> The port that you want MediaConnect to use when it distributes the media stream to the output.</p>",
          "locationName":"destinationPort"
        },
        "Interface":{
          "shape":"Interface",
          "documentation":"<p> The VPC interface that you want to use for the media stream associated with the output.</p>",
          "locationName":"interface"
        },
        "OutboundIp":{
          "shape":"String",
          "documentation":"<p>The IP address that the receiver requires in order to establish a connection with the flow. This value is represented by the elastic network interface IP address of the VPC. This field applies only to outputs that use the CDI or ST 2110 JPEG XS or protocol. </p>",
          "locationName":"outboundIp"
        }
      },
      "documentation":"<p> The transport parameters that you want to associate with an outbound media stream.</p>"
    },
    "DestinationConfigurationRequest":{
      "type":"structure",
      "required":[
        "DestinationIp",
        "DestinationPort",
        "Interface"
      ],
      "members":{
        "DestinationIp":{
          "shape":"String",
          "documentation":"<p>The IP address where you want MediaConnect to send contents of the media stream.</p>",
          "locationName":"destinationIp"
        },
        "DestinationPort":{
          "shape":"Integer",
          "documentation":"<p> The port that you want MediaConnect to use when it distributes the media stream to the output.</p>",
          "locationName":"destinationPort"
        },
        "Interface":{
          "shape":"InterfaceRequest",
          "documentation":"<p> The VPC interface that you want to use for the media stream associated with the output.</p>",
          "locationName":"interface"
        }
      },
      "documentation":"<p>The definition of a media stream that you want to associate with the output. </p>"
    },
    "Double":{
      "type":"double",
      "box":true
    },
    "DurationUnits":{
      "type":"string",
      "enum":["MONTHS"]
    },
    "EgressGatewayBridge":{
      "type":"structure",
      "required":["MaxBitrate"],
      "members":{
        "InstanceId":{
          "shape":"String",
          "documentation":"<p> The ID of the instance running this bridge.</p>",
          "locationName":"instanceId"
        },
        "MaxBitrate":{
          "shape":"Integer",
          "documentation":"<p> The maximum expected bitrate (in bps) of the egress bridge.</p>",
          "locationName":"maxBitrate"
        }
      },
      "documentation":"<p> Create a bridge with the egress bridge type. An egress bridge is a cloud-to-ground bridge. The content comes from an existing MediaConnect flow and is delivered to your premises. </p>"
    },
    "EncoderProfile":{
      "type":"string",
      "enum":[
        "main",
        "high"
      ]
    },
    "EncodingName":{
      "type":"string",
      "enum":[
        "jxsv",
        "raw",
        "smpte291",
        "pcm"
      ]
    },
    "EncodingParameters":{
      "type":"structure",
      "required":[
        "CompressionFactor",
        "EncoderProfile"
      ],
      "members":{
        "CompressionFactor":{
          "shape":"Double",
          "documentation":"<p> A value that is used to calculate compression for an output. The bitrate of the output is calculated as follows: Output bitrate = (1 / compressionFactor) * (source bitrate) This property only applies to outputs that use the ST 2110 JPEG XS protocol, with a flow source that uses the CDI protocol. Valid values are floating point numbers in the range of 3.0 to 10.0, inclusive.</p>",
          "locationName":"compressionFactor"
        },
        "EncoderProfile":{
          "shape":"EncoderProfile",
          "documentation":"<p> A setting on the encoder that drives compression settings. This property only applies to video media streams associated with outputs that use the ST 2110 JPEG XS protocol, with a flow source that uses the CDI protocol.</p>",
          "locationName":"encoderProfile"
        }
      },
      "documentation":"<p> A collection of parameters that determine how MediaConnect will convert the content. These fields only apply to outputs on flows that have a CDI source.</p>"
    },
    "EncodingParametersRequest":{
      "type":"structure",
      "required":[
        "CompressionFactor",
        "EncoderProfile"
      ],
      "members":{
        "CompressionFactor":{
          "shape":"Double",
          "documentation":"<p> A value that is used to calculate compression for an output. The bitrate of the output is calculated as follows: Output bitrate = (1 / compressionFactor) * (source bitrate) This property only applies to outputs that use the ST 2110 JPEG XS protocol, with a flow source that uses the CDI protocol. Valid values are floating point numbers in the range of 3.0 to 10.0, inclusive.</p>",
          "locationName":"compressionFactor"
        },
        "EncoderProfile":{
          "shape":"EncoderProfile",
          "documentation":"<p> A setting on the encoder that drives compression settings. This property only applies to video media streams associated with outputs that use the ST 2110 JPEG XS protocol, if at least one source on the flow uses the CDI protocol.</p>",
          "locationName":"encoderProfile"
        }
      },
      "documentation":"<p> A collection of parameters that determine how MediaConnect will convert the content. These fields only apply to outputs on flows that have a CDI source.</p>"
    },
    "Encryption":{
      "type":"structure",
      "required":["RoleArn"],
      "members":{
        "Algorithm":{
          "shape":"Algorithm",
          "documentation":"<p> The type of algorithm that is used for the encryption (such as aes128, aes192, or aes256).</p>",
          "locationName":"algorithm"
        },
        "ConstantInitializationVector":{
          "shape":"String",
          "documentation":"<p> A 128-bit, 16-byte hex value represented by a 32-character string, to be used with the key for encrypting content. This parameter is not valid for static key encryption.</p>",
          "locationName":"constantInitializationVector"
        },
        "DeviceId":{
          "shape":"String",
          "documentation":"<p> The value of one of the devices that you configured with your digital rights management (DRM) platform key provider. This parameter is required for SPEKE encryption and is not valid for static key encryption.</p>",
          "locationName":"deviceId"
        },
        "KeyType":{
          "shape":"KeyType",
          "documentation":"<p> The type of key that is used for the encryption. If no keyType is provided, the service will use the default setting (static-key).</p>",
          "locationName":"keyType"
        },
        "Region":{
          "shape":"String",
          "documentation":"<p> The Amazon Web Services Region that the API Gateway proxy endpoint was created in. This parameter is required for SPEKE encryption and is not valid for static key encryption.</p>",
          "locationName":"region"
        },
        "ResourceId":{
          "shape":"String",
          "documentation":"<p> An identifier for the content. The service sends this value to the key server to identify the current endpoint. The resource ID is also known as the content ID. This parameter is required for SPEKE encryption and is not valid for static key encryption.</p>",
          "locationName":"resourceId"
        },
        "RoleArn":{
          "shape":"String",
          "documentation":"<p> The ARN of the role that you created during setup (when you set up MediaConnect as a trusted entity).</p>",
          "locationName":"roleArn"
        },
        "SecretArn":{
          "shape":"String",
          "documentation":"<p> The ARN of the secret that you created in Secrets Manager to store the encryption key. This parameter is required for static key encryption and is not valid for SPEKE encryption.</p>",
          "locationName":"secretArn"
        },
        "Url":{
          "shape":"String",
          "documentation":"<p> The URL from the API Gateway proxy that you set up to talk to your key server. This parameter is required for SPEKE encryption and is not valid for static key encryption.</p>",
          "locationName":"url"
        }
      },
      "documentation":"<p> Information about the encryption of the flow.</p>"
    },
[...]
