@import "@tryghost/shade/styles.css";

.admin-x-base.shade-stats {
    animation-name: none;
}

.map-chart-base-fill {
    fill: #006DAB;
}

.svg-map-container .svg-map {
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    outline: none !important;
}

.svg-map-container .svg-map path {
    outline: none !important;
}