<article class="gh-alert {{this.typeClass}}" ...attributes>
    <div class="gh-alert-content">
        {{@message.message}}
    </div>
    <button class="gh-alert-close" data-test-button="close-notification" type="button" {{on "click" this.closeNotification}}>
        {{svg-jar "close-stroke"}}<span class="hidden">Close</span>
    </button>
</article>