<div class="gh-alert-content">
    {{this.message.message}}
</div>
<button class="gh-alert-close" data-test-button="close-notification" type="button" {{action "closeNotification"}}>
    {{svg-jar "close-stroke"}}<span class="hidden">Close</span>
</button>
