<div class="{{this.visibilityClass}}">
    <div class="gh-billing-container">
        <div class="gh-billing-close">
            <button class="close" href title="Close" {{on "click" (action "closeModal")}}>
                {{svg-jar "close"}}
            </button>
        </div>

        <GhBillingIframe></GhBillingIframe>
    </div>
</div>