<iframe id="billing-frame-global" src={{this.billing.endpoint}}></iframe>

{{#if this.showUpgradeButton}}
    <button class="gh-btn gh-btn-green" {{action "openBilling"}}><span>Upgrade</span></button>
{{/if}}
