<input class="gh-input gh-input-file q" data-url="upload" type="file" name="importfile" accept="{{this.acceptEncoding}}">
<button id="startupload" class="gh-btn gh-btn-hover-blue" type="submit" disabled={{this.uploadButtonDisabled}} {{action "upload"}}>
    <span>{{this.uploadButtonText}}</span>
</button>
