<span class="gh-select">
    <OneWaySelect 
        @options={{this.availablePrices}}
        @optionValuePath="price"
        @optionLabelPath="label"
        @optionTargetPath="price"
    />
    {{svg-jar "arrow-down-small"}}
</span>