<div class="flex flex-column items-stretch">
    {{!-- <p class="">Get started with one of the following options</p> --}}
    <button class="gh-btn gh-btn-green" {{on "click" this.addYourself}}>
        <span>Add yourself as a member to test</span>
    </button>

    <div class="flex flex-column items-stretch mt5 pt5">
        <LinkTo @route="member.new" class="gh-btn gh-btn-outline mb3">
            <span>Manually add a member</span>
        </LinkTo>

        <LinkTo @route="members.import" class="gh-btn gh-btn-outline">
            <span>Import members from CSV</span>
        </LinkTo>
    </div>
</div>