<div
    role="button"
    class="gh-mobile-nav-bar-more"
    {{on "click" this.ui.toggleMobileMenu}}
    data-test-mobile-nav="more"
>
    <div class="segment-1"></div>
    <div class="segment-2"></div>
    <div class="segment-3"></div>
</div>
{{yield}}
