<span class="gh-select">
    <OneWaySelect 
        @options={{this.availableProducts}}
        @optionValuePath="product"
        @optionLabelPath="label"
        @optionTargetPath="product"
    />
    {{svg-jar "arrow-down-small"}}
</span>