<div class="gh-members-empty">
    {{svg-jar "members-placeholder" class="gh-members-placeholder"}}
    <h4>Start building your audience</h4>
    {{#if (not-eq this.settings.membersSignupAccess "none")}}
        <p>Use memberships to allow your readers to sign up and subscribe to your content.</p>
        <button class="gh-btn gh-btn-green" type="button" {{on "click" this.addYourself}} data-test-button="add-yourself">
            <span>Add yourself as a member to test</span>
        </button>
        <p class="gh-members-empty-secondary-cta">Have members already? <LinkTo @route="member.new">Add them manually</LinkTo> or <LinkTo @route="members.import">import from CSV</LinkTo></p>
    {{else}}
        <p>Memberships have been disabled. Adjust your Subscription Access settings to start adding members.</p>
        <LinkTo @route="settings-x.settings-x" @model="members" class="gh-btn gh-btn-green">
            <span>Membership settings</span>
        </LinkTo>
    {{/if}}
</div>