{{#if this.session.user.isOwnerOrAdmin}}
<span
    class="segment-totals"
    {{did-insert (perform this.fetchTotalsTask)}}
    {{did-update (perform this.fetchSegmentTotalTask) @segment}}
>
    <strong>{{format-number this.segmentTotal}}</strong> members
</span>
{{/if}}