<nav class="gh-nav" ...attributes>
    {{#if this.ui.contextualNavMenu}}
        {{component (concat "gh-nav-menu/" ui.contextualNavMenu)}}
    {{else}}
        <GhNavMenu::Main @icon={{this.settings.settledIcon}} />
    {{/if}}
</nav>