{{#if this.showOffersNotification}}
<a class="gh-footer-toast gh-generic-toast" href="#/settings/offers" {{on "click" this.dismissOffersNotification}}>
    <span class="gh-footer-toast-title gh-notification-title">Offers moved to Settings</span>
    <span class="gh-footer-toast-p">Click to explore the changes &rarr;</span>
</a>
{{/if}}