<span class="gh-select">
    <OneWaySelect 
        @options={{this.availablePeriods}}
        @optionValuePath="period"
        @optionLabelPath="label"
        @optionTargetPath="period"
    />
    {{svg-jar "arrow-down-small"}}
</span>