<span class="gh-select">
    <OneWaySelect @value={{this.selectedVisibility}}
        @options={{this.availableVisibilities}}
        @optionValuePath="name"
        @optionLabelPath="label"
        @optionTargetPath="name"
        @update={{action "updateVisibility"}}
        @data-test-select="post-visibility"
    />
    {{svg-jar "arrow-down-small"}}
</span>