<button class="gh-mobilemenu-button" role="presentation" type="button" {{action "openMobileMenu" target=this.ui}}>{{svg-jar "icon" class="icon-gh"}}<span class="sr-only">Menu</span></button>
{{yield}}
