{{#if this.isEditorEnabled}}
    <GhUploader
        @onComplete={{this.onUploadComplete}}
        as |uploader|
    >
        <button
            type="button"
            class="{{if @className @className "image-action image-edit"}}"
            data-tooltip="Edit"
            {{on "click" (fn this.handleClick uploader)}}
        >
            {{svg-jar "koenig/kg-wand"}}
        </button>
    </GhUploader>
{{/if}}
