<div class="modal-content">
    <header class="modal-header">
        <h1>Lexical Beta Feedback</h1>
    </header>
    <a class="close" href="" role="button" title="Close" {{action "closeModal" }}>{{svg-jar "close"}}<span
            class="hidden">Close</span></a>

    <div class="modal-body gh-modal-reset-passwords">
        <p>Have any issues? Feedback? Let us know!</p>
        <div class="flex mt2 mb2">

        </div>
    </div>

    <div class="modal-footer">
        <GhTaskButton @buttonText="Submit" @task={{this.submitFeedback}} @class="gh-btn gh-btn-icon" />
    </div>
</div>