<header class="modal-header">
    <h1>Check your Inbox</h1>
</header>
<a class="close" href="" role="button" title="Close" {{action "closeModal"}}>{{svg-jar "close"}}<span class="hidden">Close</span></a>

<div class="modal-body">
    We have sent an email to confirm you own <b>{{this.fromAddress}}</b>.
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>Close</span></button>
</div>
