{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2016-10-06",
    "endpointPrefix":"codebuild",
    "jsonVersion":"1.1",
    "protocol":"json",
    "protocols":["json"],
    "serviceFullName":"AWS CodeBuild",
    "serviceId":"CodeBuild",
    "signatureVersion":"v4",
    "targetPrefix":"CodeBuild_20161006",
    "uid":"codebuild-2016-10-06",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "BatchDeleteBuilds":{
      "name":"BatchDeleteBuilds",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDeleteBuildsInput"},
      "output":{"shape":"BatchDeleteBuildsOutput"},
      "errors":[
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p>Deletes one or more builds.</p>"
    },
    "BatchGetBuildBatches":{
      "name":"BatchGetBuildBatches",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetBuildBatchesInput"},
      "output":{"shape":"BatchGetBuildBatchesOutput"},
      "errors":[
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p>Retrieves information about one or more batch builds.</p>"
    },
    "BatchGetBuilds":{
      "name":"BatchGetBuilds",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetBuildsInput"},
      "output":{"shape":"BatchGetBuildsOutput"},
      "errors":[
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p>Gets information about one or more builds.</p>"
    },
    "BatchGetCommandExecutions":{
      "name":"BatchGetCommandExecutions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetCommandExecutionsInput"},
      "output":{"shape":"BatchGetCommandExecutionsOutput"},
      "errors":[
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p>Gets information about the command executions.</p>"
    },
    "BatchGetFleets":{
      "name":"BatchGetFleets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetFleetsInput"},
      "output":{"shape":"BatchGetFleetsOutput"},
      "errors":[
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p>Gets information about one or more compute fleets.</p>"
    },
    "BatchGetProjects":{
      "name":"BatchGetProjects",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetProjectsInput"},
      "output":{"shape":"BatchGetProjectsOutput"},
      "errors":[
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p>Gets information about one or more build projects.</p>"
    },
    "BatchGetReportGroups":{
      "name":"BatchGetReportGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetReportGroupsInput"},
      "output":{"shape":"BatchGetReportGroupsOutput"},
      "errors":[
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p> Returns an array of report groups. </p>"
    },
    "BatchGetReports":{
      "name":"BatchGetReports",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetReportsInput"},
      "output":{"shape":"BatchGetReportsOutput"},
      "errors":[
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p> Returns an array of reports. </p>"
    },
    "BatchGetSandboxes":{
      "name":"BatchGetSandboxes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetSandboxesInput"},
      "output":{"shape":"BatchGetSandboxesOutput"},
      "errors":[
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p>Gets information about the sandbox status.</p>"
    },
    "CreateFleet":{
      "name":"CreateFleet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateFleetInput"},
      "output":{"shape":"CreateFleetOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"AccountLimitExceededException"}
      ],
      "documentation":"<p>Creates a compute fleet.</p>"
    },
    "CreateProject":{
      "name":"CreateProject",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateProjectInput"},
      "output":{"shape":"CreateProjectOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"AccountLimitExceededException"}
      ],
      "documentation":"<p>Creates a build project.</p>"
    },
    "CreateReportGroup":{
      "name":"CreateReportGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateReportGroupInput"},
      "output":{"shape":"CreateReportGroupOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"AccountLimitExceededException"}
      ],
      "documentation":"<p> Creates a report group. A report group contains a collection of reports. </p>"
    },
    "CreateWebhook":{
      "name":"CreateWebhook",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateWebhookInput"},
      "output":{"shape":"CreateWebhookOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"OAuthProviderException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>For an existing CodeBuild build project that has its source code stored in a GitHub or Bitbucket repository, enables CodeBuild to start rebuilding the source code every time a code change is pushed to the repository.</p> <important> <p>If you enable webhooks for an CodeBuild project, and the project is used as a build step in CodePipeline, then two identical builds are created for each commit. One build is triggered through webhooks, and one through CodePipeline. Because billing is on a per-build basis, you are billed for both builds. Therefore, if you are using CodePipeline, we recommend that you disable webhooks in CodeBuild. In the CodeBuild console, clear the Webhook box. For more information, see step 5 in <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/change-project.html#change-project-console\">Change a Build Project's Settings</a>.</p> </important>"
    },
    "DeleteBuildBatch":{
      "name":"DeleteBuildBatch",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteBuildBatchInput"},
      "output":{"shape":"DeleteBuildBatchOutput"},
      "errors":[
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p>Deletes a batch build.</p>"
    },
    "DeleteFleet":{
      "name":"DeleteFleet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteFleetInput"},
      "output":{"shape":"DeleteFleetOutput"},
      "errors":[
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p>Deletes a compute fleet. When you delete a compute fleet, its builds are not deleted.</p>"
    },
    "DeleteProject":{
      "name":"DeleteProject",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteProjectInput"},
      "output":{"shape":"DeleteProjectOutput"},
      "errors":[
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p> Deletes a build project. When you delete a project, its builds are not deleted. </p>"
    },
    "DeleteReport":{
      "name":"DeleteReport",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteReportInput"},
      "output":{"shape":"DeleteReportOutput"},
      "errors":[
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p> Deletes a report. </p>"
    },
    "DeleteReportGroup":{
      "name":"DeleteReportGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteReportGroupInput"},
      "output":{"shape":"DeleteReportGroupOutput"},
      "errors":[
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p>Deletes a report group. Before you delete a report group, you must delete its reports. </p>"
    },
    "DeleteResourcePolicy":{
      "name":"DeleteResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteResourcePolicyInput"},
      "output":{"shape":"DeleteResourcePolicyOutput"},
      "errors":[
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p> Deletes a resource policy that is identified by its resource ARN. </p>"
    },
    "DeleteSourceCredentials":{
      "name":"DeleteSourceCredentials",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSourceCredentialsInput"},
      "output":{"shape":"DeleteSourceCredentialsOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Deletes a set of GitHub, GitHub Enterprise, or Bitbucket source credentials. </p>"
    },
    "DeleteWebhook":{
      "name":"DeleteWebhook",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteWebhookInput"},
      "output":{"shape":"DeleteWebhookOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"OAuthProviderException"}
      ],
      "documentation":"<p>For an existing CodeBuild build project that has its source code stored in a GitHub or Bitbucket repository, stops CodeBuild from rebuilding the source code every time a code change is pushed to the repository.</p>"
    },
    "DescribeCodeCoverages":{
      "name":"DescribeCodeCoverages",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCodeCoveragesInput"},
      "output":{"shape":"DescribeCodeCoveragesOutput"},
      "errors":[
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p>Retrieves one or more code coverage reports.</p>"
    },
    "DescribeTestCases":{
      "name":"DescribeTestCases",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTestCasesInput"},
      "output":{"shape":"DescribeTestCasesOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Returns a list of details about test cases for a report. </p>"
    },
    "GetReportGroupTrend":{
      "name":"GetReportGroupTrend",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetReportGroupTrendInput"},
      "output":{"shape":"GetReportGroupTrendOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Analyzes and accumulates test report values for the specified test reports.</p>"
    },
    "GetResourcePolicy":{
      "name":"GetResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetResourcePolicyInput"},
      "output":{"shape":"GetResourcePolicyOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p> Gets a resource policy that is identified by its resource ARN. </p>"
    },
    "ImportSourceCredentials":{
      "name":"ImportSourceCredentials",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ImportSourceCredentialsInput"},
      "output":{"shape":"ImportSourceCredentialsOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"AccountLimitExceededException"},
        {"shape":"ResourceAlreadyExistsException"}
      ],
      "documentation":"<p> Imports the source repository credentials for an CodeBuild project that has its source code stored in a GitHub, GitHub Enterprise, GitLab, GitLab Self Managed, or Bitbucket repository. </p>"
    },
    "InvalidateProjectCache":{
      "name":"InvalidateProjectCache",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"InvalidateProjectCacheInput"},
      "output":{"shape":"InvalidateProjectCacheOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Resets the cache for a project.</p>"
    },
    "ListBuildBatches":{
      "name":"ListBuildBatches",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListBuildBatchesInput"},
      "output":{"shape":"ListBuildBatchesOutput"},
      "errors":[
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p>Retrieves the identifiers of your build batches in the current region.</p>"
    },
    "ListBuildBatchesForProject":{
      "name":"ListBuildBatchesForProject",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListBuildBatchesForProjectInput"},
      "output":{"shape":"ListBuildBatchesForProjectOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves the identifiers of the build batches for a specific project.</p>"
    },
    "ListBuilds":{
      "name":"ListBuilds",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListBuildsInput"},
      "output":{"shape":"ListBuildsOutput"},
      "errors":[
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p>Gets a list of build IDs, with each build ID representing a single build.</p>"
    },
    "ListBuildsForProject":{
      "name":"ListBuildsForProject",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListBuildsForProjectInput"},
      "output":{"shape":"ListBuildsForProjectOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets a list of build identifiers for the specified build project, with each build identifier representing a single build.</p>"
    },
    "ListCommandExecutionsForSandbox":{
      "name":"ListCommandExecutionsForSandbox",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCommandExecutionsForSandboxInput"},
      "output":{"shape":"ListCommandExecutionsForSandboxOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets a list of command executions for a sandbox.</p>"
    },
    "ListCuratedEnvironmentImages":{
      "name":"ListCuratedEnvironmentImages",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCuratedEnvironmentImagesInput"},
      "output":{"shape":"ListCuratedEnvironmentImagesOutput"},
      "documentation":"<p>Gets information about Docker images that are managed by CodeBuild.</p>"
    },
    "ListFleets":{
      "name":"ListFleets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListFleetsInput"},
      "output":{"shape":"ListFleetsOutput"},
      "errors":[
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p>Gets a list of compute fleet names with each compute fleet name representing a single compute fleet.</p>"
    },
    "ListProjects":{
      "name":"ListProjects",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListProjectsInput"},
      "output":{"shape":"ListProjectsOutput"},
      "errors":[
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p>Gets a list of build project names, with each build project name representing a single build project.</p>"
    },
    "ListReportGroups":{
      "name":"ListReportGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListReportGroupsInput"},
      "output":{"shape":"ListReportGroupsOutput"},
      "errors":[
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p> Gets a list ARNs for the report groups in the current Amazon Web Services account. </p>"
    },
    "ListReports":{
      "name":"ListReports",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListReportsInput"},
      "output":{"shape":"ListReportsOutput"},
      "errors":[
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p> Returns a list of ARNs for the reports in the current Amazon Web Services account. </p>"
    },
    "ListReportsForReportGroup":{
      "name":"ListReportsForReportGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListReportsForReportGroupInput"},
      "output":{"shape":"ListReportsForReportGroupOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Returns a list of ARNs for the reports that belong to a <code>ReportGroup</code>. </p>"
    },
    "ListSandboxes":{
      "name":"ListSandboxes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSandboxesInput"},
      "output":{"shape":"ListSandboxesOutput"},
      "errors":[
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p>Gets a list of sandboxes.</p>"
    },
    "ListSandboxesForProject":{
      "name":"ListSandboxesForProject",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSandboxesForProjectInput"},
      "output":{"shape":"ListSandboxesForProjectOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets a list of sandboxes for a given project.</p>"
    },
    "ListSharedProjects":{
      "name":"ListSharedProjects",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSharedProjectsInput"},
      "output":{"shape":"ListSharedProjectsOutput"},
      "errors":[
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p> Gets a list of projects that are shared with other Amazon Web Services accounts or users. </p>"
    },
    "ListSharedReportGroups":{
      "name":"ListSharedReportGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSharedReportGroupsInput"},
      "output":{"shape":"ListSharedReportGroupsOutput"},
      "errors":[
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p> Gets a list of report groups that are shared with other Amazon Web Services accounts or users. </p>"
    },
    "ListSourceCredentials":{
      "name":"ListSourceCredentials",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSourceCredentialsInput"},
      "output":{"shape":"ListSourceCredentialsOutput"},
      "errors":[
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p> Returns a list of <code>SourceCredentialsInfo</code> objects. </p>"
    },
    "PutResourcePolicy":{
      "name":"PutResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutResourcePolicyInput"},
      "output":{"shape":"PutResourcePolicyOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p> Stores a resource policy for the ARN of a <code>Project</code> or <code>ReportGroup</code> object. </p>"
    },
    "RetryBuild":{
      "name":"RetryBuild",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RetryBuildInput"},
      "output":{"shape":"RetryBuildOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccountLimitExceededException"}
      ],
      "documentation":"<p>Restarts a build.</p>"
    },
    "RetryBuildBatch":{
      "name":"RetryBuildBatch",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RetryBuildBatchInput"},
      "output":{"shape":"RetryBuildBatchOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Restarts a failed batch build. Only batch builds that have failed can be retried.</p>"
    },
    "StartBuild":{
      "name":"StartBuild",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartBuildInput"},
      "output":{"shape":"StartBuildOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccountLimitExceededException"}
      ],
      "documentation":"<p>Starts running a build with the settings defined in the project. These setting include: how to run a build, where to get the source code, which build environment to use, which build commands to run, and where to store the build output.</p> <p>You can also start a build run by overriding some of the build settings in the project. The overrides only apply for that specific start build request. The settings in the project are unaltered.</p>"
    },
    "StartBuildBatch":{
      "name":"StartBuildBatch",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartBuildBatchInput"},
      "output":{"shape":"StartBuildBatchOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Starts a batch build for a project.</p>"
    },
    "StartCommandExecution":{
      "name":"StartCommandExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartCommandExecutionInput"},
      "output":{"shape":"StartCommandExecutionOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Starts a command execution.</p>"
    },
    "StartSandbox":{
      "name":"StartSandbox",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartSandboxInput"},
      "output":{"shape":"StartSandboxOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccountSuspendedException"}
      ],
      "documentation":"<p>Starts a sandbox.</p>"
    },
    "StartSandboxConnection":{
      "name":"StartSandboxConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartSandboxConnectionInput"},
      "output":{"shape":"StartSandboxConnectionOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Starts a sandbox connection.</p>"
    },
    "StopBuild":{
      "name":"StopBuild",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopBuildInput"},
      "output":{"shape":"StopBuildOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Attempts to stop running a build.</p>"
    },
    "StopBuildBatch":{
      "name":"StopBuildBatch",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopBuildBatchInput"},
      "output":{"shape":"StopBuildBatchOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Stops a running batch build.</p>"
    },
    "StopSandbox":{
      "name":"StopSandbox",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopSandboxInput"},
      "output":{"shape":"StopSandboxOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Stops a sandbox.</p>"
    },
    "UpdateFleet":{
      "name":"UpdateFleet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateFleetInput"},
      "output":{"shape":"UpdateFleetOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccountLimitExceededException"}
      ],
      "documentation":"<p>Updates a compute fleet.</p>"
    },
    "UpdateProject":{
      "name":"UpdateProject",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateProjectInput"},
      "output":{"shape":"UpdateProjectOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Changes the settings of a build project.</p>"
    },
    "UpdateProjectVisibility":{
      "name":"UpdateProjectVisibility",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateProjectVisibilityInput"},
      "output":{"shape":"UpdateProjectVisibilityOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Changes the public visibility for a project. The project's build results, logs, and artifacts are available to the general public. For more information, see <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/public-builds.html\">Public build projects</a> in the <i>CodeBuild User Guide</i>.</p> <important> <p>The following should be kept in mind when making your projects public:</p> <ul> <li> <p>All of a project's build results, logs, and artifacts, including builds that were run when the project was private, are available to the general public.</p> </li> <li> <p>All build logs and artifacts are available to the public. Environment variables, source code, and other sensitive information may have been output to the build logs and artifacts. You must be careful about what information is output to the build logs. Some best practice are:</p> <ul> <li> <p>Do not store sensitive values in environment variables. We recommend that you use an Amazon EC2 Systems Manager Parameter Store or Secrets Manager to store sensitive values.</p> </li> <li> <p>Follow <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/webhooks.html#webhook-best-practices\">Best practices for using webhooks</a> in the <i>CodeBuild User Guide</i> to limit which entities can trigger a build, and do not store the buildspec in the project itself, to ensure that your webhooks are as secure as possible.</p> </li> </ul> </li> <li> <p>A malicious user can use public builds to distribute malicious artifacts. We recommend that you review all pull requests to verify that the pull request is a legitimate change. We also recommend that you validate any artifacts with their checksums to make sure that the correct artifacts are being downloaded.</p> </li> </ul> </important>"
    },
    "UpdateReportGroup":{
      "name":"UpdateReportGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateReportGroupInput"},
      "output":{"shape":"UpdateReportGroupOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Updates a report group. </p>"
    },
    "UpdateWebhook":{
      "name":"UpdateWebhook",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateWebhookInput"},
      "output":{"shape":"UpdateWebhookOutput"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"OAuthProviderException"}
      ],
      "documentation":"<p> Updates the webhook associated with an CodeBuild build project. </p> <note> <p> If you use Bitbucket for your repository, <code>rotateSecret</code> is ignored. </p> </note>"
    }
  },
  "shapes":{
    "AccountLimitExceededException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>An Amazon Web Services service limit was exceeded for the calling Amazon Web Services account.</p>",
      "exception":true
    },
    "AccountSuspendedException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The CodeBuild access has been suspended for the calling Amazon Web Services account.</p>",
      "exception":true
    },
    "ArtifactNamespace":{
      "type":"string",
      "enum":[
        "NONE",
        "BUILD_ID"
      ]
    },
    "ArtifactPackaging":{
      "type":"string",
      "enum":[
        "NONE",
        "ZIP"
      ]
    },
    "ArtifactsType":{
      "type":"string",
      "enum":[
        "CODEPIPELINE",
        "S3",
        "NO_ARTIFACTS"
      ]
    },
    "AuthType":{
      "type":"string",
      "enum":[
        "OAUTH",
        "BASIC_AUTH",
        "PERSONAL_ACCESS_TOKEN",
        "CODECONNECTIONS",
        "SECRETS_MANAGER"
      ]
    },
    "AutoRetryConfig":{
      "type":"structure",
      "members":{
        "autoRetryLimit":{
          "shape":"WrapperInt",
          "documentation":"<p>The maximum number of additional automatic retries after a failed build. For example, if the auto-retry limit is set to 2, CodeBuild will call the <code>RetryBuild</code> API to automatically retry your build for up to 2 additional times.</p>"
        },
        "autoRetryNumber":{
          "shape":"WrapperInt",
          "documentation":"<p>The number of times that the build has been retried. The initial build will have an auto-retry number of 0.</p>"
        },
        "nextAutoRetry":{
          "shape":"String",
          "documentation":"<p>The build ARN of the auto-retried build triggered by the current build. The next auto-retry will be <code>null</code> for builds that don't trigger an auto-retry.</p>"
        },
        "previousAutoRetry":{
          "shape":"String",
          "documentation":"<p>The build ARN of the build that triggered the current auto-retry build. The previous auto-retry will be <code>null</code> for the initial build.</p>"
        }
      },
      "documentation":"<p>Information about the auto-retry configuration for the build.</p>"
    },
    "BatchDeleteBuildsInput":{
      "type":"structure",
      "required":["ids"],
      "members":{
        "ids":{
          "shape":"BuildIds",
          "documentation":"<p>The IDs of the builds to delete.</p>"
        }
      }
    },
    "BatchDeleteBuildsOutput":{
      "type":"structure",
      "members":{
        "buildsDeleted":{
          "shape":"BuildIds",
          "documentation":"<p>The IDs of the builds that were successfully deleted.</p>"
        },
        "buildsNotDeleted":{
          "shape":"BuildsNotDeleted",
          "documentation":"<p>Information about any builds that could not be successfully deleted.</p>"
        }
      }
    },
    "BatchGetBuildBatchesInput":{
      "type":"structure",
      "required":["ids"],
      "members":{
        "ids":{
          "shape":"BuildBatchIds",
          "documentation":"<p>An array that contains the batch build identifiers to retrieve.</p>"
        }
      }
    },
    "BatchGetBuildBatchesOutput":{
      "type":"structure",
      "members":{
        "buildBatches":{
          "shape":"BuildBatches",
          "documentation":"<p>An array of <code>BuildBatch</code> objects that represent the retrieved batch builds.</p>"
        },
        "buildBatchesNotFound":{
          "shape":"BuildBatchIds",
          "documentation":"<p>An array that contains the identifiers of any batch builds that are not found.</p>"
        }
      }
    },
    "BatchGetBuildsInput":{
      "type":"structure",
      "required":["ids"],
      "members":{
        "ids":{
          "shape":"BuildIds",
          "documentation":"<p>The IDs of the builds.</p>"
        }
      }
    },
    "BatchGetBuildsOutput":{
      "type":"structure",
      "members":{
        "builds":{
          "shape":"Builds",
          "documentation":"<p>Information about the requested builds.</p>"
        },
        "buildsNotFound":{
          "shape":"BuildIds",
          "documentation":"<p>The IDs of builds for which information could not be found.</p>"
        }
      }
    },
    "BatchGetCommandExecutionsInput":{
      "type":"structure",
      "required":[
        "sandboxId",
        "commandExecutionIds"
      ],
      "members":{
        "sandboxId":{
          "shape":"NonEmptyString",
          "documentation":"<p>A <code>sandboxId</code> or <code>sandboxArn</code>.</p>"
        },
        "commandExecutionIds":{
          "shape":"CommandExecutionIds",
          "documentation":"<p>A comma separated list of <code>commandExecutionIds</code>.</p>"
        }
      }
    },
    "BatchGetCommandExecutionsOutput":{
      "type":"structure",
      "members":{
        "commandExecutions":{
          "shape":"CommandExecutions",
          "documentation":"<p>Information about the requested command executions.</p>"
        },
        "commandExecutionsNotFound":{
          "shape":"CommandExecutionIds",
          "documentation":"<p>The IDs of command executions for which information could not be found.</p>"
        }
      }
    },
    "BatchGetFleetsInput":{
      "type":"structure",
      "required":["names"],
      "members":{
        "names":{
          "shape":"FleetNames",
          "documentation":"<p>The names or ARNs of the compute fleets.</p>"
        }
      }
    },
    "BatchGetFleetsOutput":{
      "type":"structure",
      "members":{
        "fleets":{
          "shape":"Fleets",
          "documentation":"<p>Information about the requested compute fleets.</p>"
        },
        "fleetsNotFound":{
          "shape":"FleetNames",
          "documentation":"<p>The names of compute fleets for which information could not be found.</p>"
        }
      }
    },
    "BatchGetProjectsInput":{
      "type":"structure",
      "required":["names"],
      "members":{
        "names":{
          "shape":"ProjectNames",
          "documentation":"<p>The names or ARNs of the build projects. To get information about a project shared with your Amazon Web Services account, its ARN must be specified. You cannot specify a shared project using its name.</p>"
        }
      }
    },
    "BatchGetProjectsOutput":{
      "type":"structure",
      "members":{
        "projects":{
          "shape":"Projects",
          "documentation":"<p>Information about the requested build projects.</p>"
        },
        "projectsNotFound":{
          "shape":"ProjectNames",
          "documentation":"<p>The names of build projects for which information could not be found.</p>"
        }
      }
    },
    "BatchGetReportGroupsInput":{
      "type":"structure",
      "required":["reportGroupArns"],
      "members":{
        "reportGroupArns":{
          "shape":"ReportGroupArns",
          "documentation":"<p> An array of report group ARNs that identify the report groups to return. </p>"
        }
      }
    },
    "BatchGetReportGroupsOutput":{
      "type":"structure",
      "members":{
        "reportGroups":{
          "shape":"ReportGroups",
          "documentation":"<p> The array of report groups returned by <code>BatchGetReportGroups</code>. </p>"
        },
        "reportGroupsNotFound":{
          "shape":"ReportGroupArns",
          "documentation":"<p> An array of ARNs passed to <code>BatchGetReportGroups</code> that are not associated with a <code>ReportGroup</code>. </p>"
        }
      }
    },
    "BatchGetReportsInput":{
      "type":"structure",
      "required":["reportArns"],
      "members":{
        "reportArns":{
          "shape":"ReportArns",
          "documentation":"<p> An array of ARNs that identify the <code>Report</code> objects to return. </p>"
        }
      }
    },
    "BatchGetReportsOutput":{
      "type":"structure",
      "members":{
        "reports":{
          "shape":"Reports",
          "documentation":"<p> The array of <code>Report</code> objects returned by <code>BatchGetReports</code>. </p>"
        },
        "reportsNotFound":{
          "shape":"ReportArns",
          "documentation":"<p> An array of ARNs passed to <code>BatchGetReportGroups</code> that are not associated with a <code>Report</code>. </p>"
        }
      }
    },
    "BatchGetSandboxesInput":{
      "type":"structure",
      "required":["ids"],
      "members":{
        "ids":{
          "shape":"SandboxIds",
          "documentation":"<p>A comma separated list of <code>sandboxIds</code> or <code>sandboxArns</code>.</p>"
        }
      }
    },
    "BatchGetSandboxesOutput":{
      "type":"structure",
      "members":{
        "sandboxes":{
          "shape":"Sandboxes",
          "documentation":"<p>Information about the requested sandboxes.</p>"
        },
        "sandboxesNotFound":{
          "shape":"SandboxIds",
          "documentation":"<p>The IDs of sandboxes for which information could not be found.</p>"
        }
      }
    },
    "BatchReportModeType":{
      "type":"string",
      "enum":[
        "REPORT_INDIVIDUAL_BUILDS",
        "REPORT_AGGREGATED_BATCH"
      ]
    },
    "BatchRestrictions":{
      "type":"structure",
      "members":{
        "maximumBuildsAllowed":{
          "shape":"WrapperInt",
          "documentation":"<p>Specifies the maximum number of builds allowed.</p>"
        },
        "computeTypesAllowed":{
          "shape":"ComputeTypesAllowed",
          "documentation":"<p>An array of strings that specify the compute types that are allowed for the batch build. See <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/build-env-ref-compute-types.html\">Build environment compute types</a> in the <i>CodeBuild User Guide</i> for these values. </p>"
        },
        "fleetsAllowed":{
          "shape":"FleetsAllowed",
          "documentation":"<p>An array of strings that specify the fleets that are allowed for the batch build. See <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/fleets.html\">Run builds on reserved capacity fleets</a> in the <i>CodeBuild User Guide</i> for more information. </p>"
        }
      },
      "documentation":"<p>Specifies restrictions for the batch build.</p>"
    },
    "Boolean":{"type":"boolean"},
    "BucketOwnerAccess":{
      "type":"string",
      "documentation":"<p>Specifies the bucket owner's access for objects that another account uploads to their Amazon S3 bucket. By default, only the account that uploads the objects to the bucket has access to these objects. This property allows you to give the bucket owner access to these objects.</p> <note> <p>To use this property, your CodeBuild service role must have the <code>s3:PutBucketAcl</code> permission. This permission allows CodeBuild to modify the access control list for the bucket.</p> </note> <p>This property can be one of the following values:</p> <dl> <dt>NONE</dt> <dd> <p>The bucket owner does not have access to the objects. This is the default.</p> </dd> <dt>READ_ONLY</dt> <dd> <p>The bucket owner has read-only access to the objects. The uploading account retains ownership of the objects.</p> </dd> <dt>FULL</dt> <dd> <p>The bucket owner has full access to the objects. Object ownership is determined by the following criteria:</p> <ul> <li> <p>If the bucket is configured with the <b>Bucket owner preferred</b> setting, the bucket owner owns the objects. The uploading account will have object access as specified by the bucket's policy.</p> </li> <li> <p>Otherwise, the uploading account retains ownership of the objects.</p> </li> </ul> <p>For more information about Amazon S3 object ownership, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/about-object-ownership.html\">Controlling ownership of uploaded objects using S3 Object Ownership</a> in the <i>Amazon Simple Storage Service User Guide</i>.</p> </dd> </dl>",
      "enum":[
        "NONE",
        "READ_ONLY",
        "FULL"
      ]
    },
    "Build":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"NonEmptyString",
          "documentation":"<p>The unique ID for the build.</p>"
        },
        "arn":{
          "shape":"NonEmptyString",
          "documentation":"<p>The Amazon Resource Name (ARN) of the build.</p>"
        },
        "buildNumber":{
          "shape":"WrapperLong",
          "documentation":"<p>The number of the build. For each project, the <code>buildNumber</code> of its first build is <code>1</code>. The <code>buildNumber</code> of each subsequent build is incremented by <code>1</code>. If a build is deleted, the <code>buildNumber</code> of other builds does not change.</p>"
        },
        "startTime":{
          "shape":"Timestamp",
          "documentation":"<p>When the build process started, expressed in Unix time format.</p>"
        },
        "endTime":{
          "shape":"Timestamp",
          "documentation":"<p>When the build process ended, expressed in Unix time format.</p>"
        },
        "currentPhase":{
          "shape":"String",
          "documentation":"<p>The current build phase.</p>"
        },
        "buildStatus":{
          "shape":"StatusType",
          "documentation":"<p>The current status of the build. Valid values include:</p> <ul> <li> <p> <code>FAILED</code>: The build failed.</p> </li> <li> <p> <code>FAULT</code>: The build faulted.</p> </li> <li> <p> <code>IN_PROGRESS</code>: The build is still in progress.</p> </li> <li> <p> <code>STOPPED</code>: The build stopped.</p> </li> <li> <p> <code>SUCCEEDED</code>: The build succeeded.</p> </li> <li> <p> <code>TIMED_OUT</code>: The build timed out.</p> </li> </ul>"
        },
        "sourceVersion":{
          "shape":"NonEmptyString",
          "documentation":"<p>Any version identifier for the version of the source code to be built. If <code>sourceVersion</code> is specified at the project level, then this <code>sourceVersion</code> (at the build level) takes precedence. </p> <p> For more information, see <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/sample-source-version.html\">Source Version Sample with CodeBuild</a> in the <i>CodeBuild User Guide</i>. </p>"
        },
        "resolvedSourceVersion":{
          "shape":"NonEmptyString",
          "documentation":"<p> An identifier for the version of this build's source code. </p> <ul> <li> <p> For CodeCommit, GitHub, GitHub Enterprise, and BitBucket, the commit ID. </p> </li> <li> <p> For CodePipeline, the source revision provided by CodePipeline. </p> </li> <li> <p> For Amazon S3, this does not apply. </p> </li> </ul>"
        },
        "projectName":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of the CodeBuild project.</p>"
        },
        "phases":{
          "shape":"BuildPhases",
          "documentation":"<p>Information about all previous build phases that are complete and information about any current build phase that is not yet complete.</p>"
        },
        "source":{
          "shape":"ProjectSource",
          "documentation":"<p>Information about the source code to be built.</p>"
        },
        "secondarySources":{
          "shape":"ProjectSources",
          "documentation":"<p> An array of <code>ProjectSource</code> objects. </p>"
        },
        "secondarySourceVersions":{
          "shape":"ProjectSecondarySourceVersions",
          "documentation":"<p> An array of <code>ProjectSourceVersion</code> objects. Each <code>ProjectSourceVersion</code> must be one of: </p> <ul> <li> <p>For CodeCommit: the commit ID, branch, or Git tag to use.</p> </li> <li> <p>For GitHub: the commit ID, pull request ID, branch name, or tag name that corresponds to the version of the source code you want to build. If a pull request ID is specified, it must use the format <code>pr/pull-request-ID</code> (for example, <code>pr/25</code>). If a branch name is specified, the branch's HEAD commit ID is used. If not specified, the default branch's HEAD commit ID is used.</p> </li> <li> <p>For Bitbucket: the commit ID, branch name, or tag name that corresponds to the version of the source code you want to build. If a branch name is specified, the branch's HEAD commit ID is used. If not specified, the default branch's HEAD commit ID is used.</p> </li> <li> <p>For Amazon S3: the version ID of the object that represents the build input ZIP file to use.</p> </li> </ul>"
        },
        "artifacts":{
          "shape":"BuildArtifacts",
          "documentation":"<p>Information about the output artifacts for the build.</p>"
        },
        "secondaryArtifacts":{
          "shape":"BuildArtifactsList",
          "documentation":"<p> An array of <code>ProjectArtifacts</code> objects. </p>"
        },
        "cache":{
          "shape":"ProjectCache",
          "documentation":"<p>Information about the cache for the build.</p>"
        },
        "environment":{
          "shape":"ProjectEnvironment",
          "documentation":"<p>Information about the build environment for this build.</p>"
        },
        "serviceRole":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of a service role used for this build.</p>"
        },
        "logs":{
          "shape":"LogsLocation",
          "documentation":"<p>Information about the build's logs in CloudWatch Logs.</p>"
        },
        "timeoutInMinutes":{
          "shape":"WrapperInt",
          "documentation":"<p>How long, in minutes, from 5 to 2160 (36 hours), for CodeBuild to wait before timing out this build if it does not get marked as completed.</p>"
        },
        "queuedTimeoutInMinutes":{
          "shape":"WrapperInt",
          "documentation":"<p> The number of minutes a build is allowed to be queued before it times out. </p>"
        },
        "buildComplete":{
          "shape":"Boolean",
          "documentation":"<p>Whether the build is complete. True if complete; otherwise, false.</p>"
        },
        "initiator":{
          "shape":"String",
          "documentation":"<p>The entity that started the build. Valid values include:</p> <ul> <li> <p>If CodePipeline started the build, the pipeline's name (for example, <code>codepipeline/my-demo-pipeline</code>).</p> </li> <li> <p>If a user started the build, the user's name (for example, <code>MyUserName</code>).</p> </li> <li> <p>If the Jenkins plugin for CodeBuild started the build, the string <code>CodeBuild-Jenkins-Plugin</code>.</p> </li> </ul>"
        },
        "vpcConfig":{
          "shape":"VpcConfig",
          "documentation":"<p>If your CodeBuild project accesses resources in an Amazon VPC, you provide this parameter that identifies the VPC ID and the list of security group IDs and subnet IDs. The security groups and subnets must belong to the same VPC. You must provide at least one security group and one subnet ID.</p>"
        },
        "networkInterface":{
          "shape":"NetworkInterface",
          "documentation":"<p>Describes a network interface.</p>"
        },
        "encryptionKey":{
          "shape":"NonEmptyString",
          "documentation":"<p>The Key Management Service customer master key (CMK) to be used for encrypting the build output artifacts.</p> <note> <p> You can use a cross-account KMS key to encrypt the build output artifacts if your service role has permission to that key. </p> </note> <p>You can specify either the Amazon Resource Name (ARN) of the CMK or, if available, the CMK's alias (using the format <code>alias/&lt;alias-name&gt;</code>).</p>"
        },
        "exportedEnvironmentVariables":{
          "shape":"ExportedEnvironmentVariables",
          "documentation":"<p>A list of exported environment variables for this build.</p> <p>Exported environment variables are used in conjunction with CodePipeline to export environment variables from the current build stage to subsequent stages in the pipeline. For more information, see <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/actions-variables.html\">Working with variables</a> in the <i>CodePipeline User Guide</i>.</p>"
        },
        "reportArns":{
          "shape":"BuildReportArns",
          "documentation":"<p> An array of the ARNs associated with this build's reports. </p>"
        },
        "fileSystemLocations":{
          "shape":"ProjectFileSystemLocations",
          "documentation":"<p> An array of <code>ProjectFileSystemLocation</code> objects for a CodeBuild build project. A <code>ProjectFileSystemLocation</code> object specifies the <code>identifier</code>, <code>location</code>, <code>mountOptions</code>, <code>mountPoint</code>, and <code>type</code> of a file system created using Amazon Elastic File System. </p>"
        },
        "debugSession":{
          "shape":"DebugSession",
          "documentation":"<p>Contains information about the debug session for this build.</p>"
        },
        "buildBatchArn":{
          "shape":"String",
          "documentation":"<p>The ARN of the batch build that this build is a member of, if applicable.</p>"
        },
        "autoRetryConfig":{
          "shape":"AutoRetryConfig",
          "documentation":"<p>Information about the auto-retry configuration for the build.</p>"
        }
      },
      "documentation":"<p>Information about a build.</p>"
    },
    "BuildArtifacts":{
      "type":"structure",
      "members":{
        "location":{
          "shape":"String",
          "documentation":"<p>Information about the location of the build artifacts.</p>"
        },
        "sha256sum":{
          "shape":"String",
          "documentation":"<p>The SHA-256 hash of the build artifact.</p> <p>You can use this hash along with a checksum tool to confirm file integrity and authenticity.</p> <note> <p>This value is available only if the build project's <code>packaging</code> value is set to <code>ZIP</code>.</p> </note>"
        },
        "md5sum":{
          "shape":"String",
          "documentation":"<p>The MD5 hash of the build artifact.</p> <p>You can use this hash along with a checksum tool to confirm file integrity and authenticity.</p> <note> <p>This value is available only if the build project's <code>packaging</code> value is set to <code>ZIP</code>.</p> </note>"
        },
        "overrideArtifactName":{
          "shape":"WrapperBoolean",
          "documentation":"<p> If this flag is set, a name specified in the buildspec file overrides the artifact name. The name specified in a buildspec file is calculated at build time and uses the Shell Command Language. For example, you can append a date and time to your artifact name so that it is always unique. </p>"
        },
        "encryptionDisabled":{
          "shape":"WrapperBoolean",
          "documentation":"<p> Information that tells you if encryption for build artifacts is disabled. </p>"
        },
        "artifactIdentifier":{
          "shape":"String",
          "documentation":"<p> An identifier for this artifact definition. </p>"
        },
        "bucketOwnerAccess":{"shape":"BucketOwnerAccess"}
      },
      "documentation":"<p>Information about build output artifacts.</p>"
    },
    "BuildArtifactsList":{
      "type":"list",
      "member":{"shape":"BuildArtifacts"},
      "max":12,
      "min":0
    },
    "BuildBatch":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"NonEmptyString",
          "documentation":"<p>The identifier of the batch build.</p>"
        },
        "arn":{
          "shape":"NonEmptyString",
          "documentation":"<p>The ARN of the batch build.</p>"
        },
        "startTime":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that the batch build started.</p>"
        },
        "endTime":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that the batch build ended.</p>"
        },
        "currentPhase":{
          "shape":"String",
          "documentation":"<p>The current phase of the batch build.</p>"
        },
        "buildBatchStatus":{
          "shape":"StatusType",
          "documentation":"<p>The status of the batch build.</p>"
        },
        "sourceVersion":{
          "shape":"NonEmptyString",
          "documentation":"<p>The identifier of the version of the source code to be built.</p>"
        },
        "resolvedSourceVersion":{
          "shape":"NonEmptyString",
          "documentation":"<p>The identifier of the resolved version of this batch build's source code.</p> <ul> <li> <p>For CodeCommit, GitHub, GitHub Enterprise, and BitBucket, the commit ID.</p> </li> <li> <p>For CodePipeline, the source revision provided by CodePipeline.</p> </li> <li> <p>For Amazon S3, this does not apply.</p> </li> </ul>"
        },
        "projectName":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of the batch build project.</p>"
        },
        "phases":{
          "shape":"BuildBatchPhases",
          "documentation":"<p>An array of <code>BuildBatchPhase</code> objects the specify the phases of the batch build.</p>"
        },
        "source":{"shape":"ProjectSource"},
        "secondarySources":{
          "shape":"ProjectSources",
          "documentation":"<p>An array of <code>ProjectSource</code> objects that define the sources for the batch build.</p>"
        },
        "secondarySourceVersions":{
          "shape":"ProjectSecondarySourceVersions",
          "documentation":"<p>An array of <code>ProjectSourceVersion</code> objects. Each <code>ProjectSourceVersion</code> must be one of: </p> <ul> <li> <p>For CodeCommit: the commit ID, branch, or Git tag to use.</p> </li> <li> <p>For GitHub: the commit ID, pull request ID, branch name, or tag name that corresponds to the version of the source code you want to build. If a pull request ID is specified, it must use the format <code>pr/pull-request-ID</code> (for example, <code>pr/25</code>). If a branch name is specified, the branch's HEAD commit ID is used. If not specified, the default branch's HEAD commit ID is used.</p> </li> <li> <p>For Bitbucket: the commit ID, branch name, or tag name that corresponds to the version of the source code you want to build. If a branch name is specified, the branch's HEAD commit ID is used. If not specified, the default branch's HEAD commit ID is used.</p> </li> <li> <p>For Amazon S3: the version ID of the object that represents the build input ZIP file to use.</p> </li> </ul>"
        },
        "artifacts":{
          "shape":"BuildArtifacts",
          "documentation":"<p>A <code>BuildArtifacts</code> object the defines the build artifacts for this batch build.</p>"
        },
        "secondaryArtifacts":{
          "shape":"BuildArtifactsList",
          "documentation":"<p>An array of <code>BuildArtifacts</code> objects the define the build artifacts for this batch build.</p>"
        },
        "cache":{"shape":"ProjectCache"},
        "environment":{"shape":"ProjectEnvironment"},
        "serviceRole":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of a service role used for builds in the batch.</p>"
        },
        "logConfig":{"shape":"LogsConfig"},
        "buildTimeoutInMinutes":{
          "shape":"WrapperInt",
          "documentation":"<p>Specifies the maximum amount of time, in minutes, that the build in a batch must be completed in.</p>"
        },
        "queuedTimeoutInMinutes":{
          "shape":"WrapperInt",
          "documentation":"<p>Specifies the amount of time, in minutes, that the batch build is allowed to be queued before it times out.</p>"
        },
        "complete":{
          "shape":"Boolean",
          "documentation":"<p>Indicates if the batch build is complete.</p>"
        },
        "initiator":{
          "shape":"String",
          "documentation":"<p>The entity that started the batch build. Valid values include:</p> <ul> <li> <p>If CodePipeline started the build, the pipeline's name (for example, <code>codepipeline/my-demo-pipeline</code>).</p> </li> <li> <p>If a user started the build, the user's name.</p> </li> <li> <p>If the Jenkins plugin for CodeBuild started the build, the string <code>CodeBuild-Jenkins-Plugin</code>.</p> </li> </ul>"
        },
        "vpcConfig":{"shape":"VpcConfig"},
        "encryptionKey":{
          "shape":"NonEmptyString",
          "documentation":"<p>The Key Management Service customer master key (CMK) to be used for encrypting the batch build output artifacts.</p> <note> <p>You can use a cross-account KMS key to encrypt the build output artifacts if your service role has permission to that key. </p> </note> <p>You can specify either the Amazon Resource Name (ARN) of the CMK or, if available, the CMK's alias (using the format <code>alias/&lt;alias-name&gt;</code>).</p>"
        },
        "buildBatchNumber":{
          "shape":"WrapperLong",
          "documentation":"<p>The number of the batch build. For each project, the <code>buildBatchNumber</code> of its first batch build is <code>1</code>. The <code>buildBatchNumber</code> of each subsequent batch build is incremented by <code>1</code>. If a batch build is deleted, the <code>buildBatchNumber</code> of other batch builds does not change.</p>"
        },
        "fileSystemLocations":{
          "shape":"ProjectFileSystemLocations",
          "documentation":"<p>An array of <code>ProjectFileSystemLocation</code> objects for the batch build project. A <code>ProjectFileSystemLocation</code> object specifies the <code>identifier</code>, <code>location</code>, <code>mountOptions</code>, <code>mountPoint</code>, and <code>type</code> of a file system created using Amazon Elastic File System. </p>"
        },
        "buildBatchConfig":{"shape":"ProjectBuildBatchConfig"},
        "buildGroups":{
          "shape":"BuildGroups",
          "documentation":"<p>An array of <code>BuildGroup</code> objects that define the build groups for the batch build.</p>"
        },
        "debugSessionEnabled":{
          "shape":"WrapperBoolean",
          "documentation":"<p>Specifies if session debugging is enabled for this batch build. For more information, see <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/session-manager.html\">Viewing a running build in Session Manager</a>. Batch session debugging is not supported for matrix batch builds.</p>"
        },
        "reportArns":{
          "shape":"BuildReportArns",
          "documentation":"<p>An array that contains the ARNs of reports created by merging reports from builds associated with this batch build.</p>"
        }
      },
      "documentation":"<p>Contains information about a batch build.</p>"
    },
    "BuildBatchFilter":{
      "type":"structure",
      "members":{
        "status":{
          "shape":"StatusType",
          "documentation":"<p>The status of the batch builds to retrieve. Only batch builds that have this status will be retrieved.</p>"
        }
      },
      "documentation":"<p>Specifies filters when retrieving batch builds.</p>"
    },
    "BuildBatchIds":{
      "type":"list",
      "member":{"shape":"NonEmptyString"},
      "max":100,
      "min":0
    },
    "BuildBatchPhase":{
      "type":"structure",
      "members":{
        "phaseType":{
          "shape":"BuildBatchPhaseType",
          "documentation":"<p>The name of the batch build phase. Valid values include:</p> <dl> <dt>COMBINE_ARTIFACTS</dt> <dd> <p>Build output artifacts are being combined and uploaded to the output location.</p> </dd> <dt>DOWNLOAD_BATCHSPEC</dt> <dd> <p>The batch build specification is being downloaded.</p> </dd> <dt>FAILED</dt> <dd> <p>One or more of the builds failed.</p> </dd> <dt>IN_PROGRESS</dt> <dd> <p>The batch build is in progress.</p> </dd> <dt>STOPPED</dt> <dd> <p>The batch build was stopped.</p> </dd> <dt>SUBMITTED</dt> <dd> <p>The btach build has been submitted.</p> </dd> <dt>SUCCEEDED</dt> <dd> <p>The batch build succeeded.</p> </dd> </dl>"
        },
        "phaseStatus":{
          "shape":"StatusType",
          "documentation":"<p>The current status of the batch build phase. Valid values include:</p> <dl> <dt>FAILED</dt> <dd> <p>The build phase failed.</p> </dd> <dt>FAULT</dt> <dd> <p>The build phase faulted.</p> </dd> <dt>IN_PROGRESS</dt> <dd> <p>The build phase is still in progress.</p> </dd> <dt>STOPPED</dt> <dd> <p>The build phase stopped.</p> </dd> <dt>SUCCEEDED</dt> <dd> <p>The build phase succeeded.</p> </dd> <dt>TIMED_OUT</dt> <dd> <p>The build phase timed out.</p> </dd> </dl>"
        },
        "startTime":{
          "shape":"Timestamp",
          "documentation":"<p>When the batch build phase started, expressed in Unix time format.</p>"
        },
        "endTime":{
          "shape":"Timestamp",
          "documentation":"<p>When the batch build phase ended, expressed in Unix time format.</p>"
        },
        "durationInSeconds":{
          "shape":"WrapperLong",
          "documentation":"<p>How long, in seconds, between the starting and ending times of the batch build's phase.</p>"
        },
        "contexts":{
          "shape":"PhaseContexts",
          "documentation":"<p>Additional information about the batch build phase. Especially to help troubleshoot a failed batch build.</p>"
        }
      },
      "documentation":"<p>Contains information about a stage for a batch build.</p>"
    },
    "BuildBatchPhaseType":{
      "type":"string",
      "enum":[
        "SUBMITTED",
        "DOWNLOAD_BATCHSPEC",
        "IN_PROGRESS",
        "COMBINE_ARTIFACTS",
        "SUCCEEDED",
        "FAILED",
        "STOPPED"
      ]
    },
    "BuildBatchPhases":{
      "type":"list",
      "member":{"shape":"BuildBatchPhase"}
    },
    "BuildBatches":{
      "type":"list",
      "member":{"shape":"BuildBatch"},
      "max":100,
      "min":0
    },
    "BuildGroup":{
      "type":"structure",
      "members":{
        "identifier":{
          "shape":"String",
          "documentation":"<p>Contains the identifier of the build group.</p>"
        },
        "dependsOn":{
          "shape":"Identifiers",
          "documentation":"<p>An array of strings that contain the identifiers of the build groups that this build group depends on.</p>"
        },
        "ignoreFailure":{
          "shape":"Boolean",
          "documentation":"<p>Specifies if failures in this build group can be ignored.</p>"
        },
        "currentBuildSummary":{
          "shape":"BuildSummary",
          "documentation":"<p>A <code>BuildSummary</code> object that contains a summary of the current build group.</p>"
        },
        "priorBuildSummaryList":{
          "shape":"BuildSummaries",
          "documentation":"<p>An array of <code>BuildSummary</code> objects that contain summaries of previous build groups.</p>"
        }
      },
      "documentation":"<p>Contains information about a batch build build group. Build groups are used to combine builds that can run in parallel, while still being able to set dependencies on other build groups.</p>"
    },
    "BuildGroups":{
      "type":"list",
      "member":{"shape":"BuildGroup"}
    },
    "BuildIds":{
      "type":"list",
      "member":{"shape":"NonEmptyString"},
      "max":100,
      "min":1
    },
    "BuildNotDeleted":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"NonEmptyString",
          "documentation":"<p>The ID of the build that could not be successfully deleted.</p>"
        },
        "statusCode":{
          "shape":"String",
          "documentation":"<p>Additional information about the build that could not be successfully deleted.</p>"
        }
      },
      "documentation":"<p>Information about a build that could not be successfully deleted.</p>"
    },
    "BuildPhase":{
      "type":"structure",
      "members":{
        "phaseType":{
          "shape":"BuildPhaseType",
          "documentation":"<p>The name of the build phase. Valid values include:</p> <dl> <dt>BUILD</dt> <dd> <p>Core build activities typically occur in this build phase.</p> </dd> <dt>COMPLETED</dt> <dd> <p>The build has been completed.</p> </dd> <dt>DOWNLOAD_SOURCE</dt> <dd> <p>Source code is being downloaded in this build phase.</p> </dd> <dt>FINALIZING</dt> <dd> <p>The build process is completing in this build phase.</p> </dd> <dt>INSTALL</dt> <dd> <p>Installation activities typically occur in this build phase.</p> </dd> <dt>POST_BUILD</dt> <dd> <p>Post-build activities typically occur in this build phase.</p> </dd> <dt>PRE_BUILD</dt> <dd> <p>Pre-build activities typically occur in this build phase.</p> </dd> <dt>PROVISIONING</dt> <dd> <p>The build environment is being set up.</p> </dd> <dt>QUEUED</dt> <dd> <p>The build has been submitted and is queued behind other submitted builds.</p> </dd> <dt>SUBMITTED</dt> <dd> <p>The build has been submitted.</p> </dd> <dt>UPLOAD_ARTIFACTS</dt> <dd> <p>Build output artifacts are being uploaded to the output location.</p> </dd> </dl>"
        },
        "phaseStatus":{
          "shape":"StatusType",
          "documentation":"<p>The current status of the build phase. Valid values include:</p> <dl> <dt>FAILED</dt> <dd> <p>The build phase failed.</p> </dd> <dt>FAULT</dt> <dd> <p>The build phase faulted.</p> </dd> <dt>IN_PROGRESS</dt> <dd> <p>The build phase is still in progress.</p> </dd> <dt>STOPPED</dt> <dd> <p>The build phase stopped.</p> </dd> <dt>SUCCEEDED</dt> <dd> <p>The build phase succeeded.</p> </dd> <dt>TIMED_OUT</dt> <dd> <p>The build phase timed out.</p> </dd> </dl>"
        },
        "startTime":{
          "shape":"Timestamp",
          "documentation":"<p>When the build phase started, expressed in Unix time format.</p>"
        },
        "endTime":{
          "shape":"Timestamp",
          "documentation":"<p>When the build phase ended, expressed in Unix time format.</p>"
        },
        "durationInSeconds":{
          "shape":"WrapperLong",
          "documentation":"<p>How long, in seconds, between the starting and ending times of the build's phase.</p>"
        },
        "contexts":{
          "shape":"PhaseContexts",
          "documentation":"<p>Additional information about a build phase, especially to help troubleshoot a failed build.</p>"
        }
      },
      "documentation":"<p>Information about a stage for a build.</p>"
    },
    "BuildPhaseType":{
      "type":"string",
      "enum":[
        "SUBMITTED",
        "QUEUED",
        "PROVISIONING",
        "DOWNLOAD_SOURCE",
        "INSTALL",
        "PRE_BUILD",
        "BUILD",
        "POST_BUILD",
        "UPLOAD_ARTIFACTS",
        "FINALIZING",
        "COMPLETED"
      ]
    },
    "BuildPhases":{
      "type":"list",
      "member":{"shape":"BuildPhase"}
    },
    "BuildReportArns":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "BuildStatusConfig":{
      "type":"structure",
      "members":{
        "context":{
          "shape":"String",
          "documentation":"<p>Specifies the context of the build status CodeBuild sends to the source provider. The usage of this parameter depends on the source provider.</p> <dl> <dt>Bitbucket</dt> <dd> <p>This parameter is used for the <code>name</code> parameter in the Bitbucket commit status. For more information, see <a href=\"https://developer.atlassian.com/bitbucket/api/2/reference/resource/repositories/%7Bworkspace%7D/%7Brepo_slug%7D/commit/%7Bnode%7D/statuses/build\">build</a> in the Bitbucket API documentation.</p> </dd> <dt>GitHub/GitHub Enterprise Server</dt> <dd> <p>This parameter is used for the <code>context</code> parameter in the GitHub commit status. For more information, see <a href=\"https://developer.github.com/v3/repos/statuses/#create-a-commit-status\">Create a commit status</a> in the GitHub developer guide.</p> </dd> </dl>"
        },
        "targetUrl":{
          "shape":"String",
          "documentation":"<p>Specifies the target url of the build status CodeBuild sends to the source provider. The usage of this parameter depends on the source provider.</p> <dl> <dt>Bitbucket</dt> <dd> <p>This parameter is used for the <code>url</code> parameter in the Bitbucket commit status. For more information, see <a href=\"https://developer.atlassian.com/bitbucket/api/2/reference/resource/repositories/%7Bworkspace%7D/%7Brepo_slug%7D/commit/%7Bnode%7D/statuses/build\">build</a> in the Bitbucket API documentation.</p> </dd> <dt>GitHub/GitHub Enterprise Server</dt> <dd> <p>This parameter is used for the <code>target_url</code> parameter in the GitHub commit status. For more information, see <a href=\"https://developer.github.com/v3/repos/statuses/#create-a-commit-status\">Create a commit status</a> in the GitHub developer guide.</p> </dd> </dl>"
        }
      },
      "documentation":"<p>Contains information that defines how the CodeBuild build project reports the build status to the source provider. </p>"
    },
    "BuildSummaries":{
      "type":"list",
      "member":{"shape":"BuildSummary"}
    },
    "BuildSummary":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"String",
          "documentation":"<p>The batch build ARN.</p>"
        },
        "requestedOn":{
          "shape":"Timestamp",
          "documentation":"<p>When the build was started, expressed in Unix time format.</p>"
        },
        "buildStatus":{
          "shape":"StatusType",
          "documentation":"<p>The status of the build group.</p> <dl> <dt>FAILED</dt> <dd> <p>The build group failed.</p> </dd> <dt>FAULT</dt> <dd> <p>The build group faulted.</p> </dd> <dt>IN_PROGRESS</dt> <dd> <p>The build group is still in progress.</p> </dd> <dt>STOPPED</dt> <dd> <p>The build group stopped.</p> </dd> <dt>SUCCEEDED</dt> <dd> <p>The build group succeeded.</p> </dd> <dt>TIMED_OUT</dt> <dd> <p>The build group timed out.</p> </dd> </dl>"
        },
        "primaryArtifact":{
          "shape":"ResolvedArtifact",
          "documentation":"<p>A <code>ResolvedArtifact</code> object that represents the primary build artifacts for the build group.</p>"
        },
        "secondaryArtifacts":{
          "shape":"ResolvedSecondaryArtifacts",
          "documentation":"<p>An array of <code>ResolvedArtifact</code> objects that represents the secondary build artifacts for the build group.</p>"
        }
      },
      "documentation":"<p>Contains summary information about a batch build group.</p>"
    },
    "BuildTimeOut":{
      "type":"integer",
      "max":2160,
      "min":5
    },
    "Builds":{
      "type":"list",
      "member":{"shape":"Build"}
    },
    "BuildsNotDeleted":{
      "type":"list",
      "member":{"shape":"BuildNotDeleted"}
    },
    "CacheMode":{
      "type":"string",
      "enum":[
        "LOCAL_DOCKER_LAYER_CACHE",
        "LOCAL_SOURCE_CACHE",
        "LOCAL_CUSTOM_CACHE"
      ]
    },
    "CacheType":{
      "type":"string",
      "enum":[
        "NO_CACHE",
        "S3",
        "LOCAL"
      ]
    },
    "CloudWatchLogsConfig":{
      "type":"structure",
      "required":["status"],
      "members":{
        "status":{
          "shape":"LogsConfigStatusType",
          "documentation":"<p>The current status of the logs in CloudWatch Logs for a build project. Valid values are:</p> <ul> <li> <p> <code>ENABLED</code>: CloudWatch Logs are enabled for this build project.</p> </li> <li> <p> <code>DISABLED</code>: CloudWatch Logs are not enabled for this build project.</p> </li> </ul>"
        },
        "groupName":{
          "shape":"String",
          "documentation":"<p> The group name of the logs in CloudWatch Logs. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/Working-with-log-groups-and-streams.html\">Working with Log Groups and Log Streams</a>. </p>"
        },
        "streamName":{
          "shape":"String",
          "documentation":"<p> The prefix of the stream name of the CloudWatch Logs. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/Working-with-log-groups-and-streams.html\">Working with Log Groups and Log Streams</a>. </p>"
        }
      },
      "documentation":"<p> Information about CloudWatch Logs for a build project. </p>"
    },
    "CodeCoverage":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"NonEmptyString",
          "documentation":"<p>The identifier of the code coverage report.</p>"
        },
        "reportARN":{
          "shape":"NonEmptyString",
          "documentation":"<p>The ARN of the report.</p>"
        },
        "filePath":{
          "shape":"NonEmptyString",
          "documentation":"<p>The path of the test report file.</p>"
        },
        "lineCoveragePercentage":{
          "shape":"Percentage",
          "documentation":"<p>The percentage of lines that are covered by your tests.</p>"
        },
        "linesCovered":{
          "shape":"NonNegativeInt",
          "documentation":"<p>The number of lines that are covered by your tests.</p>"
        },
        "linesMissed":{
          "shape":"NonNegativeInt",
          "documentation":"<p>The number of lines that are not covered by your tests.</p>"
        },
        "branchCoveragePercentage":{
          "shape":"Percentage",
          "documentation":"<p>The percentage of branches that are covered by your tests.</p>"
        },
        "branchesCovered":{
          "shape":"NonNegativeInt",
          "documentation":"<p>The number of conditional branches that are covered by your tests.</p>"
        },
        "branchesMissed":{
          "shape":"NonNegativeInt",
          "documentation":"<p>The number of conditional branches that are not covered by your tests.</p>"
        },
        "expired":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that the tests were run.</p>"
        }
      },
      "documentation":"<p>Contains code coverage report information.</p> <p>Line coverage measures how many statements your tests cover. A statement is a single instruction, not including comments, conditionals, etc.</p> <p>Branch coverage determines if your tests cover every possible branch of a control structure, such as an <code>if</code> or <code>case</code> statement.</p>"
    },
    "CodeCoverageReportSummary":{
      "type":"structure",
      "members":{
        "lineCoveragePercentage":{
          "shape":"Percentage",
          "documentation":"<p>The percentage of lines that are covered by your tests.</p>"
        },
        "linesCovered":{
          "shape":"NonNegativeInt",
          "documentation":"<p>The number of lines that are covered by your tests.</p>"
        },
        "linesMissed":{
          "shape":"NonNegativeInt",
          "documentation":"<p>The number of lines that are not covered by your tests.</p>"
        },
        "branchCoveragePercentage":{
          "shape":"Percentage",
          "documentation":"<p>The percentage of branches that are covered by your tests.</p>"
        },
        "branchesCovered":{
          "shape":"NonNegativeInt",
          "documentation":"<p>The number of conditional branches that are covered by your tests.</p>"
        },
        "branchesMissed":{
          "shape":"NonNegativeInt",
          "documentation":"<p>The number of conditional branches that are not covered by your tests.</p>"
        }
      },
      "documentation":"<p>Contains a summary of a code coverage report.</p> <p>Line coverage measures how many statements your tests cover. A statement is a single instruction, not including comments, conditionals, etc.</p> <p>Branch coverage determines if your tests cover every possible branch of a control structure, such as an <code>if</code> or <code>case</code> statement.</p>"
    },
    "CodeCoverages":{
      "type":"list",
      "member":{"shape":"CodeCoverage"}
    },
    "CommandExecution":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"NonEmptyString",
          "documentation":"<p>The ID of the command execution.</p>"
        },
        "sandboxId":{
          "shape":"NonEmptyString",
          "documentation":"<p>A <code>sandboxId</code>.</p>"
        },
        "submitTime":{
          "shape":"Timestamp",
          "documentation":"<p>When the command execution process was initially submitted, expressed in Unix time format.</p>"
        },
        "startTime":{
          "shape":"Timestamp",
          "documentation":"<p>When the command execution process started, expressed in Unix time format.</p>"
        },
        "endTime":{
          "shape":"Timestamp",
          "documentation":"<p>When the command execution process ended, expressed in Unix time format.</p>"
        },
        "status":{
          "shape":"NonEmptyString",
          "documentation":"<p>The status of the command execution.</p>"
        },
        "command":{
          "shape":"SensitiveNonEmptyString",
          "documentation":"<p>The command that needs to be executed.</p>"
        },
        "type":{
          "shape":"CommandType",
          "documentation":"<p>The command type.</p>"
        },
        "exitCode":{
          "shape":"NonEmptyString",
          "documentation":"<p>The exit code to return upon completion.</p>"
        },
        "standardOutputContent":{
          "shape":"SensitiveNonEmptyString",
          "documentation":"<p>The text written by the command to stdout.</p>"
        },
        "standardErrContent":{
          "shape":"SensitiveNonEmptyString",
          "documentation":"<p>The text written by the command to stderr.</p>"
        },
        "logs":{"shape":"LogsLocation"},
        "sandboxArn":{
          "shape":"NonEmptyString",
          "documentation":"<p>A <code>sandboxArn</code>.</p>"
        }
      },
      "documentation":"<p>Contains command execution information.</p>"
    },
    "CommandExecutionIds":{
      "type":"list",
      "member":{"shape":"NonEmptyString"},
      "max":100,
      "min":1
    },
    "CommandExecutions":{
      "type":"list",
      "member":{"shape":"CommandExecution"}
    },
    "CommandType":{
      "type":"string",
      "enum":["SHELL"]
    },
    "ComputeConfiguration":{
      "type":"structure",
      "members":{
        "vCpu":{
          "shape":"WrapperLong",
          "documentation":"<p>The number of vCPUs of the instance type included in your fleet.</p>"
        },
        "memory":{
          "shape":"WrapperLong",
          "documentation":"<p>The amount of memory of the instance type included in your fleet.</p>"
        },
        "disk":{
          "shape":"WrapperLong",
          "documentation":"<p>The amount of disk space of the instance type included in your fleet.</p>"
        },
        "machineType":{
          "shape":"MachineType",
          "documentation":"<p>The machine type of the instance type included in your fleet.</p>"
        },
        "instanceType":{
          "shape":"NonEmptyString",
          "documentation":"<p>The EC2 instance type to be launched in your fleet.</p>"
        }
      },
      "documentation":"<p>Contains compute attributes. These attributes only need be specified when your project's or fleet's <code>computeType</code> is set to <code>ATTRIBUTE_BASED_COMPUTE</code> or <code>CUSTOM_INSTANCE_TYPE</code>.</p>"
    },
    "ComputeType":{
      "type":"string",
      "enum":[
        "BUILD_GENERAL1_SMALL",
        "BUILD_GENERAL1_MEDIUM",
        "BUILD_GENERAL1_LARGE",
        "BUILD_GENERAL1_XLARGE",
        "BUILD_GENERAL1_2XLARGE",
        "BUILD_LAMBDA_1GB",
        "BUILD_LAMBDA_2GB",
        "BUILD_LAMBDA_4GB",
        "BUILD_LAMBDA_8GB",
        "BUILD_LAMBDA_10GB",
        "ATTRIBUTE_BASED_COMPUTE",
        "CUSTOM_INSTANCE_TYPE"
      ]
    },
    "ComputeTypesAllowed":{
      "type":"list",
      "member":{"shape":"NonEmptyString"}
    },
    "CreateFleetInput":{
      "type":"structure",
      "required":[
        "name",
        "baseCapacity",
        "environmentType",
        "computeType"
      ],
      "members":{
        "name":{
          "shape":"FleetName",
          "documentation":"<p>The name of the compute fleet.</p>"
        },
        "baseCapacity":{
          "shape":"FleetCapacity",
          "documentation":"<p>The initial number of machines allocated to the ﬂeet, which deﬁnes the number of builds that can run in parallel.</p>"
        },
        "environmentType":{
          "shape":"EnvironmentType",
          "documentation":"<p>The environment type of the compute fleet.</p> <ul> <li> <p>The environment type <code>ARM_CONTAINER</code> is available only in regions US East (N. Virginia), US East (Ohio), US West (Oregon), EU (Ireland), Asia Pacific (Mumbai), Asia Pacific (Tokyo), Asia Pacific (Singapore), Asia Pacific (Sydney), EU (Frankfurt), and South America (São Paulo).</p> </li> <li> <p>The environment type <code>ARM_EC2</code> is available only in regions US East (N. Virginia), US East (Ohio), US West (Oregon), EU (Ireland), EU (Frankfurt), Asia Pacific (Tokyo), Asia Pacific (Singapore), Asia Pacific (Sydney), South America (São Paulo), and Asia Pacific (Mumbai).</p> </li> <li> <p>The environment type <code>LINUX_CONTAINER</code> is available only in regions US East (N. Virginia), US East (Ohio), US West (Oregon), EU (Ireland), EU (Frankfurt), Asia Pacific (Tokyo), Asia Pacific (Singapore), Asia Pacific (Sydney), South America (São Paulo), and Asia Pacific (Mumbai).</p> </li> <li> <p>The environment type <code>LINUX_EC2</code> is available only in regions US East (N. Virginia), US East (Ohio), US West (Oregon), EU (Ireland), EU (Frankfurt), Asia Pacific (Tokyo), Asia Pacific (Singapore), Asia Pacific (Sydney), South America (São Paulo), and Asia Pacific (Mumbai).</p> </li> <li> <p>The environment type <code>LINUX_GPU_CONTAINER</code> is available only in regions US East (N. Virginia), US East (Ohio), US West (Oregon), EU (Ireland), EU (Frankfurt), Asia Pacific (Tokyo), and Asia Pacific (Sydney).</p> </li> <li> <p>The environment type <code>MAC_ARM</code> is available for Medium fleets only in regions US East (N. Virginia), US East (Ohio), US West (Oregon), Asia Pacific (Sydney), and EU (Frankfurt)</p> </li> <li> <p>The environment type <code>MAC_ARM</code> is available for Large fleets only in regions US East (N. Virginia), US East (Ohio), US West (Oregon), and Asia Pacific (Sydney).</p> </li> <li> <p>The environment type <code>WINDOWS_EC2</code> is available only in regions US East (N. Virginia), US East (Ohio), US West (Oregon), EU (Ireland), EU (Frankfurt), Asia Pacific (Tokyo), Asia Pacific (Singapore), Asia Pacific (Sydney), South America (São Paulo), and Asia Pacific (Mumbai).</p> </li> <li> <p>The environment type <code>WINDOWS_SERVER_2019_CONTAINER</code> is available only in regions US East (N. Virginia), US East (Ohio), US West (Oregon), Asia Pacific (Sydney), Asia Pacific (Tokyo), Asia Pacific (Mumbai) and EU (Ireland).</p> </li> <li> <p>The environment type <code>WINDOWS_SERVER_2022_CONTAINER</code> is available only in regions US East (N. Virginia), US East (Ohio), US West (Oregon), EU (Ireland), EU (Frankfurt), Asia Pacific (Sydney), Asia Pacific (Singapore), Asia Pacific (Tokyo), South America (São Paulo) and Asia Pacific (Mumbai).</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/build-env-ref-compute-types.html\">Build environment compute types</a> in the <i>CodeBuild user guide</i>.</p>"
        },
        "computeType":{
          "shape":"ComputeType",
          "documentation":"<p>Information about the compute resources the compute fleet uses. Available values include:</p> <ul> <li> <p> <code>ATTRIBUTE_BASED_COMPUTE</code>: Specify the amount of vCPUs, memory, disk space, and the type of machine.</p> <note> <p> If you use <code>ATTRIBUTE_BASED_COMPUTE</code>, you must define your attributes by using <code>computeConfiguration</code>. CodeBuild will select the cheapest instance that satisfies your specified attributes. For more information, see <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/build-env-ref-compute-types.html#environment-reserved-capacity.types\">Reserved capacity environment types</a> in the <i>CodeBuild User Guide</i>.</p> </note> </li> <li> <p> <code>CUSTOM_INSTANCE_TYPE</code>: Specify the instance type for your compute fleet. For a list of supported instance types, see <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/build-env-ref-compute-types.html#environment-reserved-capacity.instance-types\">Supported instance families </a> in the <i>CodeBuild User Guide</i>.</p> </li> <li> <p> <code>BUILD_GENERAL1_SMALL</code>: Use up to 4 GiB memory and 2 vCPUs for builds.</p> </li> <li> <p> <code>BUILD_GENERAL1_MEDIUM</code>: Use up to 8 GiB memory and 4 vCPUs for builds.</p> </li> <li> <p> <code>BUILD_GENERAL1_LARGE</code>: Use up to 16 GiB memory and 8 vCPUs for builds, depending on your environment type.</p> </li> <li> <p> <code>BUILD_GENERAL1_XLARGE</code>: Use up to 72 GiB memory and 36 vCPUs for builds, depending on your environment type.</p> </li> <li> <p> <code>BUILD_GENERAL1_2XLARGE</code>: Use up to 144 GiB memory, 72 vCPUs, and 824 GB of SSD storage for builds. This compute type supports Docker images up to 100 GB uncompressed.</p> </li> <li> <p> <code>BUILD_LAMBDA_1GB</code>: Use up to 1 GiB memory for builds. Only available for environment type <code>LINUX_LAMBDA_CONTAINER</code> and <code>ARM_LAMBDA_CONTAINER</code>.</p> </li> <li> <p> <code>BUILD_LAMBDA_2GB</code>: Use up to 2 GiB memory for builds. Only available for environment type <code>LINUX_LAMBDA_CONTAINER</code> and <code>ARM_LAMBDA_CONTAINER</code>.</p> </li> <li> <p> <code>BUILD_LAMBDA_4GB</code>: Use up to 4 GiB memory for builds. Only available for environment type <code>LINUX_LAMBDA_CONTAINER</code> and <code>ARM_LAMBDA_CONTAINER</code>.</p> </li> <li> <p> <code>BUILD_LAMBDA_8GB</code>: Use up to 8 GiB memory for builds. Only available for environment type <code>LINUX_LAMBDA_CONTAINER</code> and <code>ARM_LAMBDA_CONTAINER</code>.</p> </li> <li> <p> <code>BUILD_LAMBDA_10GB</code>: Use up to 10 GiB memory for builds. Only available for environment type <code>LINUX_LAMBDA_CONTAINER</code> and <code>ARM_LAMBDA_CONTAINER</code>.</p> </li> </ul> <p> If you use <code>BUILD_GENERAL1_SMALL</code>: </p> <ul> <li> <p> For environment type <code>LINUX_CONTAINER</code>, you can use up to 4 GiB memory and 2 vCPUs for builds. </p> </li> <li> <p> For environment type <code>LINUX_GPU_CONTAINER</code>, you can use up to 16 GiB memory, 4 vCPUs, and 1 NVIDIA A10G Tensor Core GPU for builds.</p> </li> <li> <p> For environment type <code>ARM_CONTAINER</code>, you can use up to 4 GiB memory and 2 vCPUs on ARM-based processors for builds.</p> </li> </ul> <p> If you use <code>BUILD_GENERAL1_LARGE</code>: </p> <ul> <li> <p> For environment type <code>LINUX_CONTAINER</code>, you can use up to 16 GiB memory and 8 vCPUs for builds. </p> </li> <li> <p> For environment type <code>LINUX_GPU_CONTAINER</code>, you can use up to 255 GiB memory, 32 vCPUs, and 4 NVIDIA Tesla V100 GPUs for builds.</p> </li> <li> <p> For environment type <code>ARM_CONTAINER</code>, you can use up to 16 GiB memory and 8 vCPUs on ARM-based processors for builds.</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/build-env-ref-compute-types.html#environment.types\">On-demand environment types</a> in the <i>CodeBuild User Guide.</i> </p>"
        },
        "computeConfiguration":{
          "shape":"ComputeConfiguration",
          "documentation":"<p>The compute configuration of the compute fleet. This is only required if <code>computeType</code> is set to <code>ATTRIBUTE_BASED_COMPUTE</code> or <code>CUSTOM_INSTANCE_TYPE</code>.</p>"
        },
        "scalingConfiguration":{
          "shape":"ScalingConfigurationInput",
          "documentation":"<p>The scaling configuration of the compute fleet.</p>"
        },
        "overflowBehavior":{
          "shape":"FleetOverflowBehavior",
          "documentation":"<p>The compute fleet overflow behavior.</p> <ul> <li> <p>For overflow behavior <code>QUEUE</code>, your overflow builds need to wait on the existing fleet instance to become available.</p> </li> <li> <p>For overflow behavior <code>ON_DEMAND</code>, your overflow builds run on CodeBuild on-demand.</p> <note> <p>If you choose to set your overflow behavior to on-demand while creating a VPC-connected fleet, make sure that you add the required VPC permissions to your project service role. For more information, see <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/auth-and-access-control-iam-identity-based-access-control.html#customer-managed-policies-example-create-vpc-network-interface\">Example policy statement to allow CodeBuild access to Amazon Web Services services required to create a VPC network interface</a>.</p> </note> </li> </ul>"
        },
        "vpcConfig":{"shape":"VpcConfig"},
        "proxyConfiguration":{
          "shape":"ProxyConfiguration",
          "documentation":"<p>The proxy configuration of the compute fleet.</p>"
        },
        "imageId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The Amazon Machine Image (AMI) of the compute fleet.</p>"
        },
        "fleetServiceRole":{
          "shape":"NonEmptyString",
          "documentation":"<p>The service role associated with the compute fleet. For more information, see <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/auth-and-access-control-iam-identity-based-access-control.html#customer-managed-policies-example-permission-policy-fleet-service-role.html\"> Allow a user to add a permission policy for a fleet service role</a> in the <i>CodeBuild User Guide</i>.</p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>A list of tag key and value pairs associated with this compute fleet.</p> <p>These tags are available for use by Amazon Web Services services that support CodeBuild build project tags.</p>"
        }
      }
    },
    "CreateFleetOutput":{
      "type":"structure",
      "members":{
        "fleet":{
          "shape":"Fleet",
          "documentation":"<p>Information about the compute fleet</p>"
        }
      }
    },
    "CreateProjectInput":{
      "type":"structure",
      "required":[
        "name",
        "source",
        "artifacts",
        "environment",
        "serviceRole"
      ],
      "members":{
        "name":{
          "shape":"ProjectName",
          "documentation":"<p>The name of the build project.</p>"
        },
        "description":{
          "shape":"ProjectDescription",
          "documentation":"<p>A description that makes the build project easy to identify.</p>"
        },
        "source":{
          "shape":"ProjectSource",
          "documentation":"<p>Information about the build input source code for the build project.</p>"
        },
        "secondarySources":{
          "shape":"ProjectSources",
          "documentation":"<p>An array of <code>ProjectSource</code> objects. </p>"
        },
        "sourceVersion":{
          "shape":"String",
          "documentation":"<p>A version of the build input to be built for this project. If not specified, the latest version is used. If specified, it must be one of: </p> <ul> <li> <p>For CodeCommit: the commit ID, branch, or Git tag to use.</p> </li> <li> <p>For GitHub: the commit ID, pull request ID, branch name, or tag name that corresponds to the version of the source code you want to build. If a pull request ID is specified, it must use the format <code>pr/pull-request-ID</code> (for example <code>pr/25</code>). If a branch name is specified, the branch's HEAD commit ID is used. If not specified, the default branch's HEAD commit ID is used.</p> </li> <li> <p>For GitLab: the commit ID, branch, or Git tag to use.</p> </li> <li> <p>For Bitbucket: the commit ID, branch name, or tag name that corresponds to the version of the source code you want to build. If a branch name is specified, the branch's HEAD commit ID is used. If not specified, the default branch's HEAD commit ID is used.</p> </li> <li> <p>For Amazon S3: the version ID of the object that represents the build input ZIP file to use.</p> </li> </ul> <p>If <code>sourceVersion</code> is specified at the build level, then that version takes precedence over this <code>sourceVersion</code> (at the project level). </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/sample-source-version.html\">Source Version Sample with CodeBuild</a> in the <i>CodeBuild User Guide</i>. </p>"
        },
        "secondarySourceVersions":{
          "shape":"ProjectSecondarySourceVersions",
          "documentation":"<p>An array of <code>ProjectSourceVersion</code> objects. If <code>secondarySourceVersions</code> is specified at the build level, then they take precedence over these <code>secondarySourceVersions</code> (at the project level). </p>"
        },
        "artifacts":{
          "shape":"ProjectArtifacts",
          "documentation":"<p>Information about the build output artifacts for the build project.</p>"
        },
        "secondaryArtifacts":{
          "shape":"ProjectArtifactsList",
          "documentation":"<p>An array of <code>ProjectArtifacts</code> objects. </p>"
        },
        "cache":{
          "shape":"ProjectCache",
          "documentation":"<p>Stores recently used information so that it can be quickly accessed at a later time.</p>"
        },
        "environment":{
          "shape":"ProjectEnvironment",
          "documentation":"<p>Information about the build environment for the build project.</p>"
        },
        "serviceRole":{
          "shape":"NonEmptyString",
          "documentation":"<p>The ARN of the IAM role that enables CodeBuild to interact with dependent Amazon Web Services services on behalf of the Amazon Web Services account.</p>"
        },
        "timeoutInMinutes":{
          "shape":"BuildTimeOut",
          "documentation":"<p>How long, in minutes, from 5 to 2160 (36 hours), for CodeBuild to wait before it times out any build that has not been marked as completed. The default is 60 minutes.</p>"
        },
        "queuedTimeoutInMinutes":{
          "shape":"TimeOut",
          "documentation":"<p>The number of minutes a build is allowed to be queued before it times out. </p>"
        },
        "encryptionKey":{
          "shape":"NonEmptyString",
          "documentation":"<p>The Key Management Service customer master key (CMK) to be used for encrypting the build output artifacts.</p> <note> <p>You can use a cross-account KMS key to encrypt the build output artifacts if your service role has permission to that key. </p> </note> <p>You can specify either the Amazon Resource Name (ARN) of the CMK or, if available, the CMK's alias (using the format <code>alias/&lt;alias-name&gt;</code>). </p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>A list of tag key and value pairs associated with this build project.</p> <p>These tags are available for use by Amazon Web Services services that support CodeBuild build project tags.</p>"
        },
        "vpcConfig":{
          "shape":"VpcConfig",
          "documentation":"<p>VpcConfig enables CodeBuild to access resources in an Amazon VPC.</p> <note> <p>If you're using compute fleets during project creation, do not provide vpcConfig.</p> </note>"
        },
        "badgeEnabled":{
          "shape":"WrapperBoolean",
          "documentation":"<p>Set this to true to generate a publicly accessible URL for your project's build badge.</p>"
        },
        "logsConfig":{
          "shape":"LogsConfig",
          "documentation":"<p>Information about logs for the build project. These can be logs in CloudWatch Logs, logs uploaded to a specified S3 bucket, or both. </p>"
        },
        "fileSystemLocations":{
          "shape":"ProjectFileSystemLocations",
          "documentation":"<p> An array of <code>ProjectFileSystemLocation</code> objects for a CodeBuild build project. A <code>ProjectFileSystemLocation</code> object specifies the <code>identifier</code>, <code>location</code>, <code>mountOptions</code>, <code>mountPoint</code>, and <code>type</code> of a file system created using Amazon Elastic File System. </p>"
        },
        "buildBatchConfig":{
          "shape":"ProjectBuildBatchConfig",
          "documentation":"<p>A <a>ProjectBuildBatchConfig</a> object that defines the batch build options for the project.</p>"
        },
        "concurrentBuildLimit":{
          "shape":"WrapperInt",
          "documentation":"<p>The maximum number of concurrent builds that are allowed for this project.</p> <p>New builds are only started if the current number of builds is less than or equal to this limit. If the current build count meets this limit, new builds are throttled and are not run.</p>"
        },
        "autoRetryLimit":{
          "shape":"WrapperInt",
          "documentation":"<p>The maximum number of additional automatic retries after a failed build. For example, if the auto-retry limit is set to 2, CodeBuild will call the <code>RetryBuild</code> API to automatically retry your build for up to 2 additional times.</p>"
        }
      }
    },
    "CreateProjectOutput":{
      "type":"structure",
      "members":{
        "project":{
          "shape":"Project",
          "documentation":"<p>Information about the build project that was created.</p>"
        }
      }
    },
    "CreateReportGroupInput":{
      "type":"structure",
      "required":[
        "name",
        "type",
        "exportConfig"
      ],
      "members":{
        "name":{
          "shape":"ReportGroupName",
          "documentation":"<p> The name of the report group. </p>"
        },
        "type":{
          "shape":"ReportType",
          "documentation":"<p> The type of report group. </p>"
        },
        "exportConfig":{
          "shape":"ReportExportConfig",
          "documentation":"<p> A <code>ReportExportConfig</code> object that contains information about where the report group test results are exported. </p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p> A list of tag key and value pairs associated with this report group. </p> <p>These tags are available for use by Amazon Web Services services that support CodeBuild report group tags.</p>"
        }
      }
    },
    "CreateReportGroupOutput":{
      "type":"structure",
      "members":{
        "reportGroup":{
[...]
