node_modules/
assets/bower_components
.sass-cache
.DS_Store
assets/css/compiled_sass.css
assets/css/bastard.css
assets/css/bastard.min.css
assets/js/scripts.js
assets/js/scripts.min.js
image_sources
myfiles/
