//
// Globals
// --------------------------------------------------

*, *:before, *:after {
    @include box-sizing(border-box);
}

html {
    font: 62.5%/1.65 "Open Sans", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    width: 100%;
    color: lighten($darkgrey, 10%);
    font-size: 1.4rem;
    -webkit-font-feature-settings: 'kern' 1;
    -moz-font-feature-settings: 'kern' 1;
    font-feature-settings: 'kern' 1;
    overflow-x: hidden; // Never have horizontal scrollbars
}

::-moz-selection {
    color: $darkgrey;
    background: lighten($blue, 20%);
    text-shadow: none;
}

::selection {
    color: $darkgrey;
    background: lighten($blue, 20%);
    text-shadow: none;
}

h1, h2, h3,
h4, h5, h6 {
    -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    line-height: 1.15em;
    margin: 0 0 0.3em 0;
}

p, ul, ol, dl {
    -webkit-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
    -moz-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
    font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
    margin: 0 0 1.7em 0;
}

a, a:active {
    text-decoration: none;
}

//
// Utilities
// --------------------------------------------------

.clearfix {
    @include clearfix;
}

.wrapper {
    position: relative;
}

.show {
    display: block !important;
}

.hidden {
    display: none !important;
    visibility: hidden !important;
}

.invisible {
    visibility: hidden;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;

    &:active,
    &:focus {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        clip: auto;
    }
}

.right {
    float: right;
}
.left {
    float: left;
}

.vertical {
  display: table-cell;
  vertical-align: middle;
}