{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-03-01",
    "endpointPrefix":"fsx",
    "jsonVersion":"1.1",
    "protocol":"json",
    "protocols":["json"],
    "serviceFullName":"Amazon FSx",
    "serviceId":"FSx",
    "signatureVersion":"v4",
    "signingName":"fsx",
    "targetPrefix":"AWSSimbaAPIService_v20180301",
    "uid":"fsx-2018-03-01",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AssociateFileSystemAliases":{
      "name":"AssociateFileSystemAliases",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateFileSystemAliasesRequest"},
      "output":{"shape":"AssociateFileSystemAliasesResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"FileSystemNotFound"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Use this action to associate one or more Domain Name Server (DNS) aliases with an existing Amazon FSx for Windows File Server file system. A file system can have a maximum of 50 DNS aliases associated with it at any one time. If you try to associate a DNS alias that is already associated with the file system, FSx takes no action on that alias in the request. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-dns-aliases.html\">Working with DNS Aliases</a> and <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/walkthrough05-file-system-custom-CNAME.html\">Walkthrough 5: Using DNS aliases to access your file system</a>, including additional steps you must take to be able to access your file system using a DNS alias.</p> <p>The system response shows the DNS aliases that Amazon FSx is attempting to associate with the file system. Use the API operation to monitor the status of the aliases Amazon FSx is associating with the file system.</p>"
    },
    "CancelDataRepositoryTask":{
      "name":"CancelDataRepositoryTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelDataRepositoryTaskRequest"},
      "output":{"shape":"CancelDataRepositoryTaskResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"UnsupportedOperation"},
        {"shape":"DataRepositoryTaskNotFound"},
        {"shape":"DataRepositoryTaskEnded"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Cancels an existing Amazon FSx for Lustre data repository task if that task is in either the <code>PENDING</code> or <code>EXECUTING</code> state. When you cancel an export task, Amazon FSx does the following.</p> <ul> <li> <p>Any files that FSx has already exported are not reverted.</p> </li> <li> <p>FSx continues to export any files that are in-flight when the cancel operation is received.</p> </li> <li> <p>FSx does not export any files that have not yet been exported.</p> </li> </ul> <p>For a release task, Amazon FSx will stop releasing files upon cancellation. Any files that have already been released will remain in the released state.</p>",
      "idempotent":true
    },
    "CopyBackup":{
      "name":"CopyBackup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopyBackupRequest"},
      "output":{"shape":"CopyBackupResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"BackupNotFound"},
        {"shape":"ServiceLimitExceeded"},
        {"shape":"UnsupportedOperation"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"InternalServerError"},
        {"shape":"InvalidSourceKmsKey"},
        {"shape":"InvalidDestinationKmsKey"},
        {"shape":"InvalidRegion"},
        {"shape":"SourceBackupUnavailable"},
        {"shape":"IncompatibleRegionForMultiAZ"}
      ],
      "documentation":"<p>Copies an existing backup within the same Amazon Web Services account to another Amazon Web Services Region (cross-Region copy) or within the same Amazon Web Services Region (in-Region copy). You can have up to five backup copy requests in progress to a single destination Region per account.</p> <p>You can use cross-Region backup copies for cross-Region disaster recovery. You can periodically take backups and copy them to another Region so that in the event of a disaster in the primary Region, you can restore from backup and recover availability quickly in the other Region. You can make cross-Region copies only within your Amazon Web Services partition. A partition is a grouping of Regions. Amazon Web Services currently has three partitions: <code>aws</code> (Standard Regions), <code>aws-cn</code> (China Regions), and <code>aws-us-gov</code> (Amazon Web Services GovCloud [US] Regions).</p> <p>You can also use backup copies to clone your file dataset to another Region or within the same Region.</p> <p>You can use the <code>SourceRegion</code> parameter to specify the Amazon Web Services Region from which the backup will be copied. For example, if you make the call from the <code>us-west-1</code> Region and want to copy a backup from the <code>us-east-2</code> Region, you specify <code>us-east-2</code> in the <code>SourceRegion</code> parameter to make a cross-Region copy. If you don't specify a Region, the backup copy is created in the same Region where the request is sent from (in-Region copy).</p> <p>For more information about creating backup copies, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/using-backups.html#copy-backups\"> Copying backups</a> in the <i>Amazon FSx for Windows User Guide</i>, <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/using-backups-fsx.html#copy-backups\">Copying backups</a> in the <i>Amazon FSx for Lustre User Guide</i>, and <a href=\"https://docs.aws.amazon.com/fsx/latest/OpenZFSGuide/using-backups.html#copy-backups\">Copying backups</a> in the <i>Amazon FSx for OpenZFS User Guide</i>.</p>",
      "idempotent":true
    },
    "CopySnapshotAndUpdateVolume":{
      "name":"CopySnapshotAndUpdateVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopySnapshotAndUpdateVolumeRequest"},
      "output":{"shape":"CopySnapshotAndUpdateVolumeResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"InternalServerError"},
        {"shape":"ServiceLimitExceeded"}
      ],
      "documentation":"<p>Updates an existing volume by using a snapshot from another Amazon FSx for OpenZFS file system. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/OpenZFSGuide/on-demand-replication.html\">on-demand data replication</a> in the Amazon FSx for OpenZFS User Guide.</p>",
      "idempotent":true
    },
    "CreateAndAttachS3AccessPoint":{
      "name":"CreateAndAttachS3AccessPoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAndAttachS3AccessPointRequest"},
      "output":{"shape":"CreateAndAttachS3AccessPointResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"InternalServerError"},
        {"shape":"UnsupportedOperation"},
        {"shape":"VolumeNotFound"},
        {"shape":"InvalidAccessPoint"},
        {"shape":"InvalidRequest"},
        {"shape":"AccessPointAlreadyOwnedByYou"},
        {"shape":"TooManyAccessPoints"}
      ],
      "documentation":"<p>Creates an S3 access point and attaches it to an Amazon FSx volume. For FSx for OpenZFS file systems, the volume must be hosted on a high-availability file system, either Single-AZ or Multi-AZ. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/OpenZFSGuide/s3accesspoints-for-FSx.html\">Accessing your data using Amazon S3 access points</a>. in the Amazon FSx for OpenZFS User Guide. </p> <p>The requester requires the following permissions to perform these actions:</p> <ul> <li> <p> <code>fsx:CreateAndAttachS3AccessPoint</code> </p> </li> <li> <p> <code>s3:CreateAccessPoint</code> </p> </li> <li> <p> <code>s3:GetAccessPoint</code> </p> </li> <li> <p> <code>s3:PutAccessPointPolicy</code> </p> </li> <li> <p> <code>s3:DeleteAccessPoint</code> </p> </li> </ul> <p>The following actions are related to <code>CreateAndAttachS3AccessPoint</code>:</p> <ul> <li> <p> <a>DescribeS3AccessPointAttachments</a> </p> </li> <li> <p> <a>DetachAndDeleteS3AccessPoint</a> </p> </li> </ul>"
    },
    "CreateBackup":{
      "name":"CreateBackup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateBackupRequest"},
      "output":{"shape":"CreateBackupResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"UnsupportedOperation"},
        {"shape":"FileSystemNotFound"},
        {"shape":"VolumeNotFound"},
        {"shape":"BackupInProgress"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"ServiceLimitExceeded"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Creates a backup of an existing Amazon FSx for Windows File Server file system, Amazon FSx for Lustre file system, Amazon FSx for NetApp ONTAP volume, or Amazon FSx for OpenZFS file system. We recommend creating regular backups so that you can restore a file system or volume from a backup if an issue arises with the original file system or volume.</p> <p>For Amazon FSx for Lustre file systems, you can create a backup only for file systems that have the following configuration:</p> <ul> <li> <p>A Persistent deployment type</p> </li> <li> <p>Are <i>not</i> linked to a data repository</p> </li> </ul> <p>For more information about backups, see the following:</p> <ul> <li> <p>For Amazon FSx for Lustre, see <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/using-backups-fsx.html\">Working with FSx for Lustre backups</a>.</p> </li> <li> <p>For Amazon FSx for Windows, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/using-backups.html\">Working with FSx for Windows backups</a>.</p> </li> <li> <p>For Amazon FSx for NetApp ONTAP, see <a href=\"https://docs.aws.amazon.com/fsx/latest/ONTAPGuide/using-backups.html\">Working with FSx for NetApp ONTAP backups</a>.</p> </li> <li> <p>For Amazon FSx for OpenZFS, see <a href=\"https://docs.aws.amazon.com/fsx/latest/OpenZFSGuide/using-backups.html\">Working with FSx for OpenZFS backups</a>.</p> </li> </ul> <p>If a backup with the specified client request token exists and the parameters match, this operation returns the description of the existing backup. If a backup with the specified client request token exists and the parameters don't match, this operation returns <code>IncompatibleParameterError</code>. If a backup with the specified client request token doesn't exist, <code>CreateBackup</code> does the following: </p> <ul> <li> <p>Creates a new Amazon FSx backup with an assigned ID, and an initial lifecycle state of <code>CREATING</code>.</p> </li> <li> <p>Returns the description of the backup.</p> </li> </ul> <p>By using the idempotent operation, you can retry a <code>CreateBackup</code> operation without the risk of creating an extra backup. This approach can be useful when an initial call fails in a way that makes it unclear whether a backup was created. If you use the same client request token and the initial call created a backup, the operation returns a successful result because all the parameters are the same.</p> <p>The <code>CreateBackup</code> operation returns while the backup's lifecycle state is still <code>CREATING</code>. You can check the backup creation status by calling the <a href=\"https://docs.aws.amazon.com/fsx/latest/APIReference/API_DescribeBackups.html\">DescribeBackups</a> operation, which returns the backup state along with other information.</p>",
      "idempotent":true
    },
    "CreateDataRepositoryAssociation":{
      "name":"CreateDataRepositoryAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDataRepositoryAssociationRequest"},
      "output":{"shape":"CreateDataRepositoryAssociationResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"UnsupportedOperation"},
        {"shape":"FileSystemNotFound"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"ServiceLimitExceeded"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Creates an Amazon FSx for Lustre data repository association (DRA). A data repository association is a link between a directory on the file system and an Amazon S3 bucket or prefix. You can have a maximum of 8 data repository associations on a file system. Data repository associations are supported on all FSx for Lustre 2.12 and 2.15 file systems, excluding <code>scratch_1</code> deployment type.</p> <p>Each data repository association must have a unique Amazon FSx file system directory and a unique S3 bucket or prefix associated with it. You can configure a data repository association for automatic import only, for automatic export only, or for both. To learn more about linking a data repository to your file system, see <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/create-dra-linked-data-repo.html\">Linking your file system to an S3 bucket</a>.</p> <note> <p> <code>CreateDataRepositoryAssociation</code> isn't supported on Amazon File Cache resources. To create a DRA on Amazon File Cache, use the <code>CreateFileCache</code> operation.</p> </note>",
      "idempotent":true
    },
    "CreateDataRepositoryTask":{
      "name":"CreateDataRepositoryTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDataRepositoryTaskRequest"},
      "output":{"shape":"CreateDataRepositoryTaskResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"UnsupportedOperation"},
        {"shape":"FileSystemNotFound"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"ServiceLimitExceeded"},
        {"shape":"InternalServerError"},
        {"shape":"DataRepositoryTaskExecuting"}
      ],
      "documentation":"<p>Creates an Amazon FSx for Lustre data repository task. A <code>CreateDataRepositoryTask</code> operation will fail if a data repository is not linked to the FSx file system.</p> <p>You use import and export data repository tasks to perform bulk operations between your FSx for Lustre file system and its linked data repositories. An example of a data repository task is exporting any data and metadata changes, including POSIX metadata, to files, directories, and symbolic links (symlinks) from your FSx file system to a linked data repository.</p> <p>You use release data repository tasks to release data from your file system for files that are exported to S3. The metadata of released files remains on the file system so users or applications can still access released files by reading the files again, which will restore data from Amazon S3 to the FSx for Lustre file system.</p> <p>To learn more about data repository tasks, see <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/data-repository-tasks.html\">Data Repository Tasks</a>. To learn more about linking a data repository to your file system, see <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/create-dra-linked-data-repo.html\">Linking your file system to an S3 bucket</a>.</p>",
      "idempotent":true
    },
    "CreateFileCache":{
      "name":"CreateFileCache",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateFileCacheRequest"},
      "output":{"shape":"CreateFileCacheResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"InvalidNetworkSettings"},
        {"shape":"InvalidPerUnitStorageThroughput"},
        {"shape":"ServiceLimitExceeded"},
        {"shape":"InternalServerError"},
        {"shape":"MissingFileCacheConfiguration"}
      ],
      "documentation":"<p>Creates a new Amazon File Cache resource.</p> <p>You can use this operation with a client request token in the request that Amazon File Cache uses to ensure idempotent creation. If a cache with the specified client request token exists and the parameters match, <code>CreateFileCache</code> returns the description of the existing cache. If a cache with the specified client request token exists and the parameters don't match, this call returns <code>IncompatibleParameterError</code>. If a file cache with the specified client request token doesn't exist, <code>CreateFileCache</code> does the following: </p> <ul> <li> <p>Creates a new, empty Amazon File Cache resource with an assigned ID, and an initial lifecycle state of <code>CREATING</code>.</p> </li> <li> <p>Returns the description of the cache in JSON format.</p> </li> </ul> <note> <p>The <code>CreateFileCache</code> call returns while the cache's lifecycle state is still <code>CREATING</code>. You can check the cache creation status by calling the <a href=\"https://docs.aws.amazon.com/fsx/latest/APIReference/API_DescribeFileCaches.html\">DescribeFileCaches</a> operation, which returns the cache state along with other information.</p> </note>",
      "idempotent":true
    },
    "CreateFileSystem":{
      "name":"CreateFileSystem",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateFileSystemRequest"},
      "output":{"shape":"CreateFileSystemResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"ActiveDirectoryError"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"InvalidImportPath"},
        {"shape":"InvalidExportPath"},
        {"shape":"InvalidNetworkSettings"},
        {"shape":"InvalidPerUnitStorageThroughput"},
        {"shape":"ServiceLimitExceeded"},
        {"shape":"InternalServerError"},
        {"shape":"MissingFileSystemConfiguration"}
      ],
      "documentation":"<p>Creates a new, empty Amazon FSx file system. You can create the following supported Amazon FSx file systems using the <code>CreateFileSystem</code> API operation:</p> <ul> <li> <p>Amazon FSx for Lustre</p> </li> <li> <p>Amazon FSx for NetApp ONTAP</p> </li> <li> <p>Amazon FSx for OpenZFS</p> </li> <li> <p>Amazon FSx for Windows File Server</p> </li> </ul> <p>This operation requires a client request token in the request that Amazon FSx uses to ensure idempotent creation. This means that calling the operation multiple times with the same client request token has no effect. By using the idempotent operation, you can retry a <code>CreateFileSystem</code> operation without the risk of creating an extra file system. This approach can be useful when an initial call fails in a way that makes it unclear whether a file system was created. Examples are if a transport level timeout occurred, or your connection was reset. If you use the same client request token and the initial call created a file system, the client receives success as long as the parameters are the same.</p> <p>If a file system with the specified client request token exists and the parameters match, <code>CreateFileSystem</code> returns the description of the existing file system. If a file system with the specified client request token exists and the parameters don't match, this call returns <code>IncompatibleParameterError</code>. If a file system with the specified client request token doesn't exist, <code>CreateFileSystem</code> does the following:</p> <ul> <li> <p>Creates a new, empty Amazon FSx file system with an assigned ID, and an initial lifecycle state of <code>CREATING</code>.</p> </li> <li> <p>Returns the description of the file system in JSON format.</p> </li> </ul> <note> <p>The <code>CreateFileSystem</code> call returns while the file system's lifecycle state is still <code>CREATING</code>. You can check the file-system creation status by calling the <a href=\"https://docs.aws.amazon.com/fsx/latest/APIReference/API_DescribeFileSystems.html\">DescribeFileSystems</a> operation, which returns the file system state along with other information.</p> </note>"
    },
    "CreateFileSystemFromBackup":{
      "name":"CreateFileSystemFromBackup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateFileSystemFromBackupRequest"},
      "output":{"shape":"CreateFileSystemFromBackupResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"ActiveDirectoryError"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"InvalidNetworkSettings"},
        {"shape":"InvalidPerUnitStorageThroughput"},
        {"shape":"ServiceLimitExceeded"},
        {"shape":"BackupNotFound"},
        {"shape":"InternalServerError"},
        {"shape":"MissingFileSystemConfiguration"}
      ],
      "documentation":"<p>Creates a new Amazon FSx for Lustre, Amazon FSx for Windows File Server, or Amazon FSx for OpenZFS file system from an existing Amazon FSx backup.</p> <p>If a file system with the specified client request token exists and the parameters match, this operation returns the description of the file system. If a file system with the specified client request token exists but the parameters don't match, this call returns <code>IncompatibleParameterError</code>. If a file system with the specified client request token doesn't exist, this operation does the following:</p> <ul> <li> <p>Creates a new Amazon FSx file system from backup with an assigned ID, and an initial lifecycle state of <code>CREATING</code>.</p> </li> <li> <p>Returns the description of the file system.</p> </li> </ul> <p>Parameters like the Active Directory, default share name, automatic backup, and backup settings default to the parameters of the file system that was backed up, unless overridden. You can explicitly supply other settings.</p> <p>By using the idempotent operation, you can retry a <code>CreateFileSystemFromBackup</code> call without the risk of creating an extra file system. This approach can be useful when an initial call fails in a way that makes it unclear whether a file system was created. Examples are if a transport level timeout occurred, or your connection was reset. If you use the same client request token and the initial call created a file system, the client receives a success message as long as the parameters are the same.</p> <note> <p>The <code>CreateFileSystemFromBackup</code> call returns while the file system's lifecycle state is still <code>CREATING</code>. You can check the file-system creation status by calling the <a href=\"https://docs.aws.amazon.com/fsx/latest/APIReference/API_DescribeFileSystems.html\"> DescribeFileSystems</a> operation, which returns the file system state along with other information.</p> </note>"
    },
    "CreateSnapshot":{
      "name":"CreateSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSnapshotRequest"},
      "output":{"shape":"CreateSnapshotResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"VolumeNotFound"},
        {"shape":"ServiceLimitExceeded"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Creates a snapshot of an existing Amazon FSx for OpenZFS volume. With snapshots, you can easily undo file changes and compare file versions by restoring the volume to a previous version.</p> <p>If a snapshot with the specified client request token exists, and the parameters match, this operation returns the description of the existing snapshot. If a snapshot with the specified client request token exists, and the parameters don't match, this operation returns <code>IncompatibleParameterError</code>. If a snapshot with the specified client request token doesn't exist, <code>CreateSnapshot</code> does the following:</p> <ul> <li> <p>Creates a new OpenZFS snapshot with an assigned ID, and an initial lifecycle state of <code>CREATING</code>.</p> </li> <li> <p>Returns the description of the snapshot.</p> </li> </ul> <p>By using the idempotent operation, you can retry a <code>CreateSnapshot</code> operation without the risk of creating an extra snapshot. This approach can be useful when an initial call fails in a way that makes it unclear whether a snapshot was created. If you use the same client request token and the initial call created a snapshot, the operation returns a successful result because all the parameters are the same.</p> <p>The <code>CreateSnapshot</code> operation returns while the snapshot's lifecycle state is still <code>CREATING</code>. You can check the snapshot creation status by calling the <a href=\"https://docs.aws.amazon.com/fsx/latest/APIReference/API_DescribeSnapshots.html\">DescribeSnapshots</a> operation, which returns the snapshot state along with other information.</p>",
      "idempotent":true
    },
    "CreateStorageVirtualMachine":{
      "name":"CreateStorageVirtualMachine",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateStorageVirtualMachineRequest"},
      "output":{"shape":"CreateStorageVirtualMachineResponse"},
      "errors":[
        {"shape":"ActiveDirectoryError"},
        {"shape":"BadRequest"},
        {"shape":"FileSystemNotFound"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"InternalServerError"},
        {"shape":"ServiceLimitExceeded"},
        {"shape":"UnsupportedOperation"}
      ],
      "documentation":"<p>Creates a storage virtual machine (SVM) for an Amazon FSx for ONTAP file system.</p>"
    },
    "CreateVolume":{
      "name":"CreateVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVolumeRequest"},
      "output":{"shape":"CreateVolumeResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"FileSystemNotFound"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"InternalServerError"},
        {"shape":"MissingVolumeConfiguration"},
        {"shape":"ServiceLimitExceeded"},
        {"shape":"StorageVirtualMachineNotFound"},
        {"shape":"UnsupportedOperation"}
      ],
      "documentation":"<p>Creates an FSx for ONTAP or Amazon FSx for OpenZFS storage volume.</p>"
    },
    "CreateVolumeFromBackup":{
      "name":"CreateVolumeFromBackup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVolumeFromBackupRequest"},
      "output":{"shape":"CreateVolumeFromBackupResponse"},
      "errors":[
        {"shape":"BackupNotFound"},
        {"shape":"BadRequest"},
        {"shape":"FileSystemNotFound"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"InternalServerError"},
        {"shape":"MissingVolumeConfiguration"},
        {"shape":"ServiceLimitExceeded"},
        {"shape":"StorageVirtualMachineNotFound"}
      ],
      "documentation":"<p>Creates a new Amazon FSx for NetApp ONTAP volume from an existing Amazon FSx volume backup.</p>"
    },
    "DeleteBackup":{
      "name":"DeleteBackup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteBackupRequest"},
      "output":{"shape":"DeleteBackupResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"BackupInProgress"},
        {"shape":"BackupNotFound"},
        {"shape":"BackupRestoring"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"InternalServerError"},
        {"shape":"BackupBeingCopied"}
      ],
      "documentation":"<p>Deletes an Amazon FSx backup. After deletion, the backup no longer exists, and its data is gone.</p> <p>The <code>DeleteBackup</code> call returns instantly. The backup won't show up in later <code>DescribeBackups</code> calls.</p> <important> <p>The data in a deleted backup is also deleted and can't be recovered by any means.</p> </important>",
      "idempotent":true
    },
    "DeleteDataRepositoryAssociation":{
      "name":"DeleteDataRepositoryAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDataRepositoryAssociationRequest"},
      "output":{"shape":"DeleteDataRepositoryAssociationResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"DataRepositoryAssociationNotFound"},
        {"shape":"ServiceLimitExceeded"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Deletes a data repository association on an Amazon FSx for Lustre file system. Deleting the data repository association unlinks the file system from the Amazon S3 bucket. When deleting a data repository association, you have the option of deleting the data in the file system that corresponds to the data repository association. Data repository associations are supported on all FSx for Lustre 2.12 and 2.15 file systems, excluding <code>scratch_1</code> deployment type.</p>",
      "idempotent":true
    },
    "DeleteFileCache":{
      "name":"DeleteFileCache",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteFileCacheRequest"},
      "output":{"shape":"DeleteFileCacheResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"FileCacheNotFound"},
        {"shape":"ServiceLimitExceeded"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Deletes an Amazon File Cache resource. After deletion, the cache no longer exists, and its data is gone.</p> <p>The <code>DeleteFileCache</code> operation returns while the cache has the <code>DELETING</code> status. You can check the cache deletion status by calling the <a href=\"https://docs.aws.amazon.com/fsx/latest/APIReference/API_DescribeFileCaches.html\">DescribeFileCaches</a> operation, which returns a list of caches in your account. If you pass the cache ID for a deleted cache, the <code>DescribeFileCaches</code> operation returns a <code>FileCacheNotFound</code> error.</p> <important> <p>The data in a deleted cache is also deleted and can't be recovered by any means.</p> </important>",
      "idempotent":true
    },
    "DeleteFileSystem":{
      "name":"DeleteFileSystem",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteFileSystemRequest"},
      "output":{"shape":"DeleteFileSystemResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"FileSystemNotFound"},
        {"shape":"ServiceLimitExceeded"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Deletes a file system. After deletion, the file system no longer exists, and its data is gone. Any existing automatic backups and snapshots are also deleted.</p> <p>To delete an Amazon FSx for NetApp ONTAP file system, first delete all the volumes and storage virtual machines (SVMs) on the file system. Then provide a <code>FileSystemId</code> value to the <code>DeleteFileSystem</code> operation.</p> <p>Before deleting an Amazon FSx for OpenZFS file system, make sure that there aren't any Amazon S3 access points attached to any volume. For more information on how to list S3 access points that are attached to volumes, see <a href=\"https://docs.aws.amazon.com/fsx/latest/OpenZFSGuide/access-points-list.html\">Listing S3 access point attachments</a>. For more information on how to delete S3 access points, see <a href=\"https://docs.aws.amazon.com/fsx/latest/OpenZFSGuide/delete-access-point.html\">Deleting an S3 access point attachment</a>.</p> <p>By default, when you delete an Amazon FSx for Windows File Server file system, a final backup is created upon deletion. This final backup isn't subject to the file system's retention policy, and must be manually deleted.</p> <p>To delete an Amazon FSx for Lustre file system, first <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/unmounting-fs.html\">unmount</a> it from every connected Amazon EC2 instance, then provide a <code>FileSystemId</code> value to the <code>DeleteFileSystem</code> operation. By default, Amazon FSx will not take a final backup when the <code>DeleteFileSystem</code> operation is invoked. On file systems not linked to an Amazon S3 bucket, set <code>SkipFinalBackup</code> to <code>false</code> to take a final backup of the file system you are deleting. Backups cannot be enabled on S3-linked file systems. To ensure all of your data is written back to S3 before deleting your file system, you can either monitor for the <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/monitoring-cloudwatch.html#auto-import-export-metrics\">AgeOfOldestQueuedMessage</a> metric to be zero (if using automatic export) or you can run an <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/export-data-repo-task-dra.html\">export data repository task</a>. If you have automatic export enabled and want to use an export data repository task, you have to disable automatic export before executing the export data repository task.</p> <p>The <code>DeleteFileSystem</code> operation returns while the file system has the <code>DELETING</code> status. You can check the file system deletion status by calling the <a href=\"https://docs.aws.amazon.com/fsx/latest/APIReference/API_DescribeFileSystems.html\">DescribeFileSystems</a> operation, which returns a list of file systems in your account. If you pass the file system ID for a deleted file system, the <code>DescribeFileSystems</code> operation returns a <code>FileSystemNotFound</code> error.</p> <note> <p>If a data repository task is in a <code>PENDING</code> or <code>EXECUTING</code> state, deleting an Amazon FSx for Lustre file system will fail with an HTTP status code 400 (Bad Request).</p> </note> <important> <p>The data in a deleted file system is also deleted and can't be recovered by any means.</p> </important>",
      "idempotent":true
    },
    "DeleteSnapshot":{
      "name":"DeleteSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSnapshotRequest"},
      "output":{"shape":"DeleteSnapshotResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"SnapshotNotFound"}
      ],
      "documentation":"<p>Deletes an Amazon FSx for OpenZFS snapshot. After deletion, the snapshot no longer exists, and its data is gone. Deleting a snapshot doesn't affect snapshots stored in a file system backup. </p> <p>The <code>DeleteSnapshot</code> operation returns instantly. The snapshot appears with the lifecycle status of <code>DELETING</code> until the deletion is complete.</p>",
      "idempotent":true
    },
    "DeleteStorageVirtualMachine":{
      "name":"DeleteStorageVirtualMachine",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteStorageVirtualMachineRequest"},
      "output":{"shape":"DeleteStorageVirtualMachineResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"InternalServerError"},
        {"shape":"StorageVirtualMachineNotFound"}
      ],
      "documentation":"<p>Deletes an existing Amazon FSx for ONTAP storage virtual machine (SVM). Prior to deleting an SVM, you must delete all non-root volumes in the SVM, otherwise the operation will fail.</p>"
    },
    "DeleteVolume":{
      "name":"DeleteVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVolumeRequest"},
      "output":{"shape":"DeleteVolumeResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"InternalServerError"},
        {"shape":"VolumeNotFound"},
        {"shape":"ServiceLimitExceeded"}
      ],
      "documentation":"<p>Deletes an Amazon FSx for NetApp ONTAP or Amazon FSx for OpenZFS volume.</p>"
    },
    "DescribeBackups":{
      "name":"DescribeBackups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeBackupsRequest"},
      "output":{"shape":"DescribeBackupsResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"FileSystemNotFound"},
        {"shape":"VolumeNotFound"},
        {"shape":"BackupNotFound"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Returns the description of a specific Amazon FSx backup, if a <code>BackupIds</code> value is provided for that backup. Otherwise, it returns all backups owned by your Amazon Web Services account in the Amazon Web Services Region of the endpoint that you're calling.</p> <p>When retrieving all backups, you can optionally specify the <code>MaxResults</code> parameter to limit the number of backups in a response. If more backups remain, Amazon FSx returns a <code>NextToken</code> value in the response. In this case, send a later request with the <code>NextToken</code> request parameter set to the value of the <code>NextToken</code> value from the last response.</p> <p>This operation is used in an iterative process to retrieve a list of your backups. <code>DescribeBackups</code> is called first without a <code>NextToken</code> value. Then the operation continues to be called with the <code>NextToken</code> parameter set to the value of the last <code>NextToken</code> value until a response has no <code>NextToken</code> value.</p> <p>When using this operation, keep the following in mind:</p> <ul> <li> <p>The operation might return fewer than the <code>MaxResults</code> value of backup descriptions while still including a <code>NextToken</code> value.</p> </li> <li> <p>The order of the backups returned in the response of one <code>DescribeBackups</code> call and the order of the backups returned across the responses of a multi-call iteration is unspecified.</p> </li> </ul>"
    },
    "DescribeDataRepositoryAssociations":{
      "name":"DescribeDataRepositoryAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDataRepositoryAssociationsRequest"},
      "output":{"shape":"DescribeDataRepositoryAssociationsResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"FileSystemNotFound"},
        {"shape":"DataRepositoryAssociationNotFound"},
        {"shape":"InvalidDataRepositoryType"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Returns the description of specific Amazon FSx for Lustre or Amazon File Cache data repository associations, if one or more <code>AssociationIds</code> values are provided in the request, or if filters are used in the request. Data repository associations are supported on Amazon File Cache resources and all FSx for Lustre 2.12 and 2,15 file systems, excluding <code>scratch_1</code> deployment type.</p> <p>You can use filters to narrow the response to include just data repository associations for specific file systems (use the <code>file-system-id</code> filter with the ID of the file system) or caches (use the <code>file-cache-id</code> filter with the ID of the cache), or data repository associations for a specific repository type (use the <code>data-repository-type</code> filter with a value of <code>S3</code> or <code>NFS</code>). If you don't use filters, the response returns all data repository associations owned by your Amazon Web Services account in the Amazon Web Services Region of the endpoint that you're calling.</p> <p>When retrieving all data repository associations, you can paginate the response by using the optional <code>MaxResults</code> parameter to limit the number of data repository associations returned in a response. If more data repository associations remain, a <code>NextToken</code> value is returned in the response. In this case, send a later request with the <code>NextToken</code> request parameter set to the value of <code>NextToken</code> from the last response.</p>",
      "idempotent":true
    },
    "DescribeDataRepositoryTasks":{
      "name":"DescribeDataRepositoryTasks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDataRepositoryTasksRequest"},
      "output":{"shape":"DescribeDataRepositoryTasksResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"FileSystemNotFound"},
        {"shape":"DataRepositoryTaskNotFound"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Returns the description of specific Amazon FSx for Lustre or Amazon File Cache data repository tasks, if one or more <code>TaskIds</code> values are provided in the request, or if filters are used in the request. You can use filters to narrow the response to include just tasks for specific file systems or caches, or tasks in a specific lifecycle state. Otherwise, it returns all data repository tasks owned by your Amazon Web Services account in the Amazon Web Services Region of the endpoint that you're calling.</p> <p>When retrieving all tasks, you can paginate the response by using the optional <code>MaxResults</code> parameter to limit the number of tasks returned in a response. If more tasks remain, a <code>NextToken</code> value is returned in the response. In this case, send a later request with the <code>NextToken</code> request parameter set to the value of <code>NextToken</code> from the last response.</p>"
    },
    "DescribeFileCaches":{
      "name":"DescribeFileCaches",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFileCachesRequest"},
      "output":{"shape":"DescribeFileCachesResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"FileCacheNotFound"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Returns the description of a specific Amazon File Cache resource, if a <code>FileCacheIds</code> value is provided for that cache. Otherwise, it returns descriptions of all caches owned by your Amazon Web Services account in the Amazon Web Services Region of the endpoint that you're calling.</p> <p>When retrieving all cache descriptions, you can optionally specify the <code>MaxResults</code> parameter to limit the number of descriptions in a response. If more cache descriptions remain, the operation returns a <code>NextToken</code> value in the response. In this case, send a later request with the <code>NextToken</code> request parameter set to the value of <code>NextToken</code> from the last response.</p> <p>This operation is used in an iterative process to retrieve a list of your cache descriptions. <code>DescribeFileCaches</code> is called first without a <code>NextToken</code>value. Then the operation continues to be called with the <code>NextToken</code> parameter set to the value of the last <code>NextToken</code> value until a response has no <code>NextToken</code>.</p> <p>When using this operation, keep the following in mind:</p> <ul> <li> <p>The implementation might return fewer than <code>MaxResults</code> cache descriptions while still including a <code>NextToken</code> value.</p> </li> <li> <p>The order of caches returned in the response of one <code>DescribeFileCaches</code> call and the order of caches returned across the responses of a multicall iteration is unspecified.</p> </li> </ul>",
      "idempotent":true
    },
    "DescribeFileSystemAliases":{
      "name":"DescribeFileSystemAliases",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFileSystemAliasesRequest"},
      "output":{"shape":"DescribeFileSystemAliasesResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"FileSystemNotFound"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Returns the DNS aliases that are associated with the specified Amazon FSx for Windows File Server file system. A history of all DNS aliases that have been associated with and disassociated from the file system is available in the list of <a>AdministrativeAction</a> provided in the <a>DescribeFileSystems</a> operation response.</p>"
    },
    "DescribeFileSystems":{
      "name":"DescribeFileSystems",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFileSystemsRequest"},
      "output":{"shape":"DescribeFileSystemsResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"FileSystemNotFound"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Returns the description of specific Amazon FSx file systems, if a <code>FileSystemIds</code> value is provided for that file system. Otherwise, it returns descriptions of all file systems owned by your Amazon Web Services account in the Amazon Web Services Region of the endpoint that you're calling.</p> <p>When retrieving all file system descriptions, you can optionally specify the <code>MaxResults</code> parameter to limit the number of descriptions in a response. If more file system descriptions remain, Amazon FSx returns a <code>NextToken</code> value in the response. In this case, send a later request with the <code>NextToken</code> request parameter set to the value of <code>NextToken</code> from the last response.</p> <p>This operation is used in an iterative process to retrieve a list of your file system descriptions. <code>DescribeFileSystems</code> is called first without a <code>NextToken</code>value. Then the operation continues to be called with the <code>NextToken</code> parameter set to the value of the last <code>NextToken</code> value until a response has no <code>NextToken</code>.</p> <p>When using this operation, keep the following in mind:</p> <ul> <li> <p>The implementation might return fewer than <code>MaxResults</code> file system descriptions while still including a <code>NextToken</code> value.</p> </li> <li> <p>The order of file systems returned in the response of one <code>DescribeFileSystems</code> call and the order of file systems returned across the responses of a multicall iteration is unspecified.</p> </li> </ul>"
    },
    "DescribeS3AccessPointAttachments":{
      "name":"DescribeS3AccessPointAttachments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeS3AccessPointAttachmentsRequest"},
      "output":{"shape":"DescribeS3AccessPointAttachmentsResponse"},
      "errors":[
        {"shape":"S3AccessPointAttachmentNotFound"},
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"UnsupportedOperation"}
      ],
      "documentation":"<p>Describes one or more S3 access points attached to Amazon FSx volumes.</p> <p>The requester requires the following permission to perform this action:</p> <ul> <li> <p> <code>fsx:DescribeS3AccessPointAttachments</code> </p> </li> </ul>"
    },
    "DescribeSharedVpcConfiguration":{
      "name":"DescribeSharedVpcConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSharedVpcConfigurationRequest"},
      "output":{"shape":"DescribeSharedVpcConfigurationResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Indicates whether participant accounts in your organization can create Amazon FSx for NetApp ONTAP Multi-AZ file systems in subnets that are shared by a virtual private cloud (VPC) owner. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/ONTAPGuide/creating-file-systems.html#fsxn-vpc-shared-subnets\">Creating FSx for ONTAP file systems in shared subnets</a>. </p>"
    },
    "DescribeSnapshots":{
      "name":"DescribeSnapshots",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSnapshotsRequest"},
      "output":{"shape":"DescribeSnapshotsResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"SnapshotNotFound"}
      ],
      "documentation":"<p>Returns the description of specific Amazon FSx for OpenZFS snapshots, if a <code>SnapshotIds</code> value is provided. Otherwise, this operation returns all snapshots owned by your Amazon Web Services account in the Amazon Web Services Region of the endpoint that you're calling.</p> <p>When retrieving all snapshots, you can optionally specify the <code>MaxResults</code> parameter to limit the number of snapshots in a response. If more backups remain, Amazon FSx returns a <code>NextToken</code> value in the response. In this case, send a later request with the <code>NextToken</code> request parameter set to the value of <code>NextToken</code> from the last response. </p> <p>Use this operation in an iterative process to retrieve a list of your snapshots. <code>DescribeSnapshots</code> is called first without a <code>NextToken</code> value. Then the operation continues to be called with the <code>NextToken</code> parameter set to the value of the last <code>NextToken</code> value until a response has no <code>NextToken</code> value.</p> <p>When using this operation, keep the following in mind:</p> <ul> <li> <p>The operation might return fewer than the <code>MaxResults</code> value of snapshot descriptions while still including a <code>NextToken</code> value.</p> </li> <li> <p>The order of snapshots returned in the response of one <code>DescribeSnapshots</code> call and the order of backups returned across the responses of a multi-call iteration is unspecified. </p> </li> </ul>"
    },
    "DescribeStorageVirtualMachines":{
      "name":"DescribeStorageVirtualMachines",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStorageVirtualMachinesRequest"},
      "output":{"shape":"DescribeStorageVirtualMachinesResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"StorageVirtualMachineNotFound"}
      ],
      "documentation":"<p>Describes one or more Amazon FSx for NetApp ONTAP storage virtual machines (SVMs).</p>"
    },
    "DescribeVolumes":{
      "name":"DescribeVolumes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVolumesRequest"},
      "output":{"shape":"DescribeVolumesResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"VolumeNotFound"}
      ],
      "documentation":"<p>Describes one or more Amazon FSx for NetApp ONTAP or Amazon FSx for OpenZFS volumes.</p>"
    },
    "DetachAndDeleteS3AccessPoint":{
      "name":"DetachAndDeleteS3AccessPoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachAndDeleteS3AccessPointRequest"},
      "output":{"shape":"DetachAndDeleteS3AccessPointResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"InternalServerError"},
        {"shape":"UnsupportedOperation"},
        {"shape":"S3AccessPointAttachmentNotFound"}
      ],
      "documentation":"<p>Detaches an S3 access point from an Amazon FSx volume and deletes the S3 access point.</p> <p>The requester requires the following permission to perform this action:</p> <ul> <li> <p> <code>fsx:DetachAndDeleteS3AccessPoint</code> </p> </li> <li> <p> <code>s3:DeleteAccessPoint</code> </p> </li> </ul>"
    },
    "DisassociateFileSystemAliases":{
      "name":"DisassociateFileSystemAliases",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateFileSystemAliasesRequest"},
      "output":{"shape":"DisassociateFileSystemAliasesResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"FileSystemNotFound"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Use this action to disassociate, or remove, one or more Domain Name Service (DNS) aliases from an Amazon FSx for Windows File Server file system. If you attempt to disassociate a DNS alias that is not associated with the file system, Amazon FSx responds with an HTTP status code 400 (Bad Request). For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-dns-aliases.html\">Working with DNS Aliases</a>.</p> <p>The system generated response showing the DNS aliases that Amazon FSx is attempting to disassociate from the file system. Use the API operation to monitor the status of the aliases Amazon FSx is disassociating with the file system.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFound"},
        {"shape":"NotServiceResourceError"},
        {"shape":"ResourceDoesNotSupportTagging"}
      ],
      "documentation":"<p>Lists tags for Amazon FSx resources.</p> <p>When retrieving all tags, you can optionally specify the <code>MaxResults</code> parameter to limit the number of tags in a response. If more tags remain, Amazon FSx returns a <code>NextToken</code> value in the response. In this case, send a later request with the <code>NextToken</code> request parameter set to the value of <code>NextToken</code> from the last response.</p> <p>This action is used in an iterative process to retrieve a list of your tags. <code>ListTagsForResource</code> is called first without a <code>NextToken</code>value. Then the action continues to be called with the <code>NextToken</code> parameter set to the value of the last <code>NextToken</code> value until a response has no <code>NextToken</code>.</p> <p>When using this action, keep the following in mind:</p> <ul> <li> <p>The implementation might return fewer than <code>MaxResults</code> file system descriptions while still including a <code>NextToken</code> value.</p> </li> <li> <p>The order of tags returned in the response of one <code>ListTagsForResource</code> call and the order of tags returned across the responses of a multi-call iteration is unspecified.</p> </li> </ul>"
    },
    "ReleaseFileSystemNfsV3Locks":{
      "name":"ReleaseFileSystemNfsV3Locks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ReleaseFileSystemNfsV3LocksRequest"},
      "output":{"shape":"ReleaseFileSystemNfsV3LocksResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"FileSystemNotFound"},
        {"shape":"ServiceLimitExceeded"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Releases the file system lock from an Amazon FSx for OpenZFS file system.</p>",
      "idempotent":true
    },
    "RestoreVolumeFromSnapshot":{
      "name":"RestoreVolumeFromSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RestoreVolumeFromSnapshotRequest"},
      "output":{"shape":"RestoreVolumeFromSnapshotResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"VolumeNotFound"}
      ],
      "documentation":"<p>Returns an Amazon FSx for OpenZFS volume to the state saved by the specified snapshot.</p>",
      "idempotent":true
    },
    "StartMisconfiguredStateRecovery":{
      "name":"StartMisconfiguredStateRecovery",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartMisconfiguredStateRecoveryRequest"},
      "output":{"shape":"StartMisconfiguredStateRecoveryResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"FileSystemNotFound"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>After performing steps to repair the Active Directory configuration of an FSx for Windows File Server file system, use this action to initiate the process of Amazon FSx attempting to reconnect to the file system.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFound"},
        {"shape":"NotServiceResourceError"},
        {"shape":"ResourceDoesNotSupportTagging"}
      ],
      "documentation":"<p>Tags an Amazon FSx resource.</p>",
      "idempotent":true
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"ResourceNotFound"},
        {"shape":"NotServiceResourceError"},
        {"shape":"ResourceDoesNotSupportTagging"}
      ],
      "documentation":"<p>This action removes a tag from an Amazon FSx resource.</p>",
      "idempotent":true
    },
    "UpdateDataRepositoryAssociation":{
      "name":"UpdateDataRepositoryAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDataRepositoryAssociationRequest"},
      "output":{"shape":"UpdateDataRepositoryAssociationResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"DataRepositoryAssociationNotFound"},
        {"shape":"ServiceLimitExceeded"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Updates the configuration of an existing data repository association on an Amazon FSx for Lustre file system. Data repository associations are supported on all FSx for Lustre 2.12 and 2.15 file systems, excluding <code>scratch_1</code> deployment type.</p>",
      "idempotent":true
    },
    "UpdateFileCache":{
      "name":"UpdateFileCache",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateFileCacheRequest"},
      "output":{"shape":"UpdateFileCacheResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"UnsupportedOperation"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"InternalServerError"},
        {"shape":"FileCacheNotFound"},
        {"shape":"MissingFileCacheConfiguration"},
        {"shape":"ServiceLimitExceeded"}
      ],
      "documentation":"<p>Updates the configuration of an existing Amazon File Cache resource. You can update multiple properties in a single request.</p>",
      "idempotent":true
    },
    "UpdateFileSystem":{
      "name":"UpdateFileSystem",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateFileSystemRequest"},
      "output":{"shape":"UpdateFileSystemResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"UnsupportedOperation"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"InvalidNetworkSettings"},
        {"shape":"InternalServerError"},
        {"shape":"FileSystemNotFound"},
        {"shape":"MissingFileSystemConfiguration"},
        {"shape":"ServiceLimitExceeded"}
      ],
      "documentation":"<p>Use this operation to update the configuration of an existing Amazon FSx file system. You can update multiple properties in a single request.</p> <p>For FSx for Windows File Server file systems, you can update the following properties:</p> <ul> <li> <p> <code>AuditLogConfiguration</code> </p> </li> <li> <p> <code>AutomaticBackupRetentionDays</code> </p> </li> <li> <p> <code>DailyAutomaticBackupStartTime</code> </p> </li> <li> <p> <code>DiskIopsConfiguration</code> </p> </li> <li> <p> <code>SelfManagedActiveDirectoryConfiguration</code> </p> </li> <li> <p> <code>StorageCapacity</code> </p> </li> <li> <p> <code>StorageType</code> </p> </li> <li> <p> <code>ThroughputCapacity</code> </p> </li> <li> <p> <code>WeeklyMaintenanceStartTime</code> </p> </li> </ul> <p>For FSx for Lustre file systems, you can update the following properties:</p> <ul> <li> <p> <code>AutoImportPolicy</code> </p> </li> <li> <p> <code>AutomaticBackupRetentionDays</code> </p> </li> <li> <p> <code>DailyAutomaticBackupStartTime</code> </p> </li> <li> <p> <code>DataCompressionType</code> </p> </li> <li> <p> <code>FileSystemTypeVersion</code> </p> </li> <li> <p> <code>LogConfiguration</code> </p> </li> <li> <p> <code>LustreReadCacheConfiguration</code> </p> </li> <li> <p> <code>LustreRootSquashConfiguration</code> </p> </li> <li> <p> <code>MetadataConfiguration</code> </p> </li> <li> <p> <code>PerUnitStorageThroughput</code> </p> </li> <li> <p> <code>StorageCapacity</code> </p> </li> <li> <p> <code>ThroughputCapacity</code> </p> </li> <li> <p> <code>WeeklyMaintenanceStartTime</code> </p> </li> </ul> <p>For FSx for ONTAP file systems, you can update the following properties:</p> <ul> <li> <p> <code>AddRouteTableIds</code> </p> </li> <li> <p> <code>AutomaticBackupRetentionDays</code> </p> </li> <li> <p> <code>DailyAutomaticBackupStartTime</code> </p> </li> <li> <p> <code>DiskIopsConfiguration</code> </p> </li> <li> <p> <code>FsxAdminPassword</code> </p> </li> <li> <p> <code>HAPairs</code> </p> </li> <li> <p> <code>RemoveRouteTableIds</code> </p> </li> <li> <p> <code>StorageCapacity</code> </p> </li> <li> <p> <code>ThroughputCapacity</code> </p> </li> <li> <p> <code>ThroughputCapacityPerHAPair</code> </p> </li> <li> <p> <code>WeeklyMaintenanceStartTime</code> </p> </li> </ul> <p>For FSx for OpenZFS file systems, you can update the following properties:</p> <ul> <li> <p> <code>AddRouteTableIds</code> </p> </li> <li> <p> <code>AutomaticBackupRetentionDays</code> </p> </li> <li> <p> <code>CopyTagsToBackups</code> </p> </li> <li> <p> <code>CopyTagsToVolumes</code> </p> </li> <li> <p> <code>DailyAutomaticBackupStartTime</code> </p> </li> <li> <p> <code>DiskIopsConfiguration</code> </p> </li> <li> <p> <code>EndpointIpv6AddressRange</code> </p> </li> <li> <p> <code>ReadCacheConfiguration</code> </p> </li> <li> <p> <code>RemoveRouteTableIds</code> </p> </li> <li> <p> <code>StorageCapacity</code> </p> </li> <li> <p> <code>ThroughputCapacity</code> </p> </li> <li> <p> <code>WeeklyMaintenanceStartTime</code> </p> </li> </ul>"
    },
    "UpdateSharedVpcConfiguration":{
      "name":"UpdateSharedVpcConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateSharedVpcConfigurationRequest"},
      "output":{"shape":"UpdateSharedVpcConfigurationResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Configures whether participant accounts in your organization can create Amazon FSx for NetApp ONTAP Multi-AZ file systems in subnets that are shared by a virtual private cloud (VPC) owner. For more information, see the <a href=\"https://docs.aws.amazon.com/fsx/latest/ONTAPGuide/maz-shared-vpc.html\">Amazon FSx for NetApp ONTAP User Guide</a>.</p> <note> <p>We strongly recommend that participant-created Multi-AZ file systems in the shared VPC are deleted before you disable this feature. Once the feature is disabled, these file systems will enter a <code>MISCONFIGURED</code> state and behave like Single-AZ file systems. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/ONTAPGuide/maz-shared-vpc.html#disabling-maz-vpc-sharing\">Important considerations before disabling shared VPC support for Multi-AZ file systems</a>.</p> </note>"
    },
    "UpdateSnapshot":{
      "name":"UpdateSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateSnapshotRequest"},
      "output":{"shape":"UpdateSnapshotResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"SnapshotNotFound"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Updates the name of an Amazon FSx for OpenZFS snapshot.</p>",
      "idempotent":true
    },
    "UpdateStorageVirtualMachine":{
      "name":"UpdateStorageVirtualMachine",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateStorageVirtualMachineRequest"},
      "output":{"shape":"UpdateStorageVirtualMachineResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"InternalServerError"},
        {"shape":"StorageVirtualMachineNotFound"},
        {"shape":"UnsupportedOperation"}
      ],
      "documentation":"<p>Updates an FSx for ONTAP storage virtual machine (SVM).</p>"
    },
    "UpdateVolume":{
      "name":"UpdateVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateVolumeRequest"},
      "output":{"shape":"UpdateVolumeResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"IncompatibleParameterError"},
        {"shape":"InternalServerError"},
        {"shape":"MissingVolumeConfiguration"},
        {"shape":"VolumeNotFound"}
      ],
      "documentation":"<p>Updates the configuration of an Amazon FSx for NetApp ONTAP or Amazon FSx for OpenZFS volume.</p>"
    }
  },
  "shapes":{
    "AWSAccountId":{
      "type":"string",
      "documentation":"<p>An Amazon Web Services account ID. This ID is a 12-digit number that you use to construct Amazon Resource Names (ARNs) for resources.</p>",
      "max":12,
      "min":12,
      "pattern":"^\\d{12}$"
    },
    "AccessPointAlreadyOwnedByYou":{
      "type":"structure",
      "members":{
        "ErrorCode":{
          "shape":"ErrorCode",
          "documentation":"<p>An error code indicating that an access point with that name already exists in the Amazon Web Services Region in your Amazon Web Services account.</p>"
        },
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>An access point with that name already exists in the Amazon Web Services Region in your Amazon Web Services account.</p>",
      "exception":true
    },
    "AccessPointPolicy":{
      "type":"string",
      "max":200000,
      "min":1
    },
    "ActiveDirectoryBackupAttributes":{
      "type":"structure",
      "members":{
        "DomainName":{
          "shape":"ActiveDirectoryFullyQualifiedName",
          "documentation":"<p>The fully qualified domain name of the self-managed Active Directory directory.</p>"
        },
        "ActiveDirectoryId":{
          "shape":"DirectoryId",
          "documentation":"<p>The ID of the Amazon Web Services Managed Microsoft Active Directory instance to which the file system is joined.</p>"
        },
        "ResourceARN":{"shape":"ResourceARN"}
      },
      "documentation":"<p>The Microsoft Active Directory attributes of the Amazon FSx for Windows File Server file system.</p>"
    },
    "ActiveDirectoryError":{
      "type":"structure",
      "required":["ActiveDirectoryId"],
      "members":{
        "ActiveDirectoryId":{
          "shape":"DirectoryId",
          "documentation":"<p>The directory ID of the directory that an error pertains to.</p>"
        },
        "Type":{
          "shape":"ActiveDirectoryErrorType",
          "documentation":"<p>The type of Active Directory error.</p>"
        },
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>An Active Directory error.</p>",
      "exception":true
    },
    "ActiveDirectoryErrorType":{
      "type":"string",
      "documentation":"<p>The type of error relating to Microsoft Active Directory. NOT_FOUND means that no directory was found by specifying the given directory. INCOMPATIBLE_MODE means that the directory specified is not a Microsoft AD directory. WRONG_VPC means that the specified directory isn't accessible from the specified VPC. WRONG_STAGE means that the specified directory isn't currently in the ACTIVE state.</p>",
      "enum":[
        "DOMAIN_NOT_FOUND",
        "INCOMPATIBLE_DOMAIN_MODE",
        "WRONG_VPC",
        "INVALID_DOMAIN_STAGE"
      ]
    },
    "ActiveDirectoryFullyQualifiedName":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^[^\\u0000\\u0085\\u2028\\u2029\\r\\n]{1,255}$"
    },
    "AdminPassword":{
      "type":"string",
      "max":50,
      "min":8,
      "pattern":"^[^\\u0000\\u0085\\u2028\\u2029\\r\\n]{8,50}$",
      "sensitive":true
    },
    "AdministrativeAction":{
      "type":"structure",
      "members":{
        "AdministrativeActionType":{"shape":"AdministrativeActionType"},
        "ProgressPercent":{
          "shape":"ProgressPercent",
          "documentation":"<p>The percentage-complete status of a <code>STORAGE_OPTIMIZATION</code> or <code>DOWNLOAD_DATA_FROM_BACKUP</code> administrative action. Does not apply to any other administrative action type.</p>"
        },
        "RequestTime":{
          "shape":"RequestTime",
          "documentation":"<p>The time that the administrative action request was received.</p>"
        },
        "Status":{
          "shape":"Status",
          "documentation":"<p>The status of the administrative action, as follows:</p> <ul> <li> <p> <code>FAILED</code> - Amazon FSx failed to process the administrative action successfully.</p> </li> <li> <p> <code>IN_PROGRESS</code> - Amazon FSx is processing the administrative action.</p> </li> <li> <p> <code>PENDING</code> - Amazon FSx is waiting to process the administrative action.</p> </li> <li> <p> <code>COMPLETED</code> - Amazon FSx has finished processing the administrative task.</p> <p>For a backup restore to a second-generation FSx for ONTAP file system, indicates that all data has been downloaded to the volume, and clients now have read-write access to volume.</p> </li> <li> <p> <code>UPDATED_OPTIMIZING</code> - For a storage-capacity increase update, Amazon FSx has updated the file system with the new storage capacity, and is now performing the storage-optimization process.</p> </li> <li> <p> <code>PENDING</code> - For a backup restore to a second-generation FSx for ONTAP file system, indicates that the file metadata is being downloaded onto the volume. The volume's Lifecycle state is CREATING.</p> </li> <li> <p> <code>IN_PROGRESS</code> - For a backup restore to a second-generation FSx for ONTAP file system, indicates that all metadata has been downloaded to the new volume and client can access data with read-only access while Amazon FSx downloads the file data to the volume. Track the progress of this process with the <code>ProgressPercent</code> element.</p> </li> </ul>"
        },
        "TargetFileSystemValues":{
          "shape":"FileSystem",
          "documentation":"<p>The target value for the administration action, provided in the <code>UpdateFileSystem</code> operation. Returned for <code>FILE_SYSTEM_UPDATE</code> administrative actions. </p>"
        },
        "FailureDetails":{"shape":"AdministrativeActionFailureDetails"},
        "TargetVolumeValues":{"shape":"Volume"},
        "TargetSnapshotValues":{"shape":"Snapshot"},
        "TotalTransferBytes":{
          "shape":"TotalTransferBytes",
          "documentation":"<p>The number of bytes that have transferred for the FSx for OpenZFS snapshot that you're copying.</p>"
        },
        "RemainingTransferBytes":{
          "shape":"RemainingTransferBytes",
          "documentation":"<p>The remaining bytes to transfer for the FSx for OpenZFS snapshot that you're copying.</p>"
        },
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>Describes a specific Amazon FSx administrative action for the current Windows, Lustre, OpenZFS, or ONTAP file system or volume.</p>"
    },
    "AdministrativeActionFailureDetails":{
      "type":"structure",
      "members":{
        "Message":{
          "shape":"ErrorMessage",
          "documentation":"<p>Error message providing details about the failed administrative action.</p>"
        }
      },
      "documentation":"<p>Provides information about a failed administrative action.</p>"
    },
    "AdministrativeActionType":{
      "type":"string",
      "documentation":"<p>Describes the type of administrative action, as follows:</p> <ul> <li> <p> <code>FILE_SYSTEM_UPDATE</code> - A file system update administrative action initiated from the Amazon FSx console, API (<code>UpdateFileSystem</code>), or CLI (<code>update-file-system</code>).</p> </li> <li> <p> <code>THROUGHPUT_OPTIMIZATION</code> - After the <code>FILE_SYSTEM_UPDATE</code> task to increase a file system's throughput capacity has been completed successfully, a <code>THROUGHPUT_OPTIMIZATION</code> task starts.</p> <p>You can track the storage-optimization progress using the <code>ProgressPercent</code> property. When <code>THROUGHPUT_OPTIMIZATION</code> has been completed successfully, the parent <code>FILE_SYSTEM_UPDATE</code> action status changes to <code>COMPLETED</code>. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-throughput-capacity.html\">Managing throughput capacity</a> in the <i>Amazon FSx for Windows File Server User Guide</i>.</p> </li> <li> <p> <code>STORAGE_OPTIMIZATION</code> - After the <code>FILE_SYSTEM_UPDATE</code> task to increase a file system's storage capacity has completed successfully, a <code>STORAGE_OPTIMIZATION</code> task starts. </p> <ul> <li> <p>For Windows and ONTAP, storage optimization is the process of migrating the file system data to newer larger disks.</p> </li> <li> <p>For Lustre, storage optimization consists of rebalancing the data across the existing and newly added file servers.</p> </li> </ul> <p>You can track the storage-optimization progress using the <code>ProgressPercent</code> property. When <code>STORAGE_OPTIMIZATION</code> has been completed successfully, the parent <code>FILE_SYSTEM_UPDATE</code> action status changes to <code>COMPLETED</code>. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-storage-capacity.html\">Managing storage capacity</a> in the <i>Amazon FSx for Windows File Server User Guide</i>, <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/managing-storage-capacity.html\">Managing storage capacity</a> in the <i>Amazon FSx for Lustre User Guide</i>, and <a href=\"https://docs.aws.amazon.com/fsx/latest/ONTAPGuide/managing-storage-capacity.html\">Managing storage capacity and provisioned IOPS</a> in the <i>Amazon FSx for NetApp ONTAP User Guide</i>.</p> </li> <li> <p> <code>FILE_SYSTEM_ALIAS_ASSOCIATION</code> - A file system update to associate a new Domain Name System (DNS) alias with the file system. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/APIReference/API_AssociateFileSystemAliases.html\"> AssociateFileSystemAliases</a>.</p> </li> <li> <p> <code>FILE_SYSTEM_ALIAS_DISASSOCIATION</code> - A file system update to disassociate a DNS alias from the file system. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/APIReference/API_DisassociateFileSystemAliases.html\">DisassociateFileSystemAliases</a>.</p> </li> <li> <p> <code>IOPS_OPTIMIZATION</code> - After the <code>FILE_SYSTEM_UPDATE</code> task to increase a file system's throughput capacity has been completed successfully, a <code>IOPS_OPTIMIZATION</code> task starts.</p> <p>You can track the storage-optimization progress using the <code>ProgressPercent</code> property. When <code>IOPS_OPTIMIZATION</code> has been completed successfully, the parent <code>FILE_SYSTEM_UPDATE</code> action status changes to <code>COMPLETED</code>. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-provisioned-ssd-iops.html\">Managing provisioned SSD IOPS</a> in the Amazon FSx for Windows File Server User Guide.</p> </li> <li> <p> <code>STORAGE_TYPE_OPTIMIZATION</code> - After the <code>FILE_SYSTEM_UPDATE</code> task to increase a file system's throughput capacity has been completed successfully, a <code>STORAGE_TYPE_OPTIMIZATION</code> task starts.</p> <p>You can track the storage-optimization progress using the <code>ProgressPercent</code> property. When <code>STORAGE_TYPE_OPTIMIZATION</code> has been completed successfully, the parent <code>FILE_SYSTEM_UPDATE</code> action status changes to <code>COMPLETED</code>.</p> </li> <li> <p> <code>VOLUME_UPDATE</code> - A volume update to an Amazon FSx for OpenZFS volume initiated from the Amazon FSx console, API (<code>UpdateVolume</code>), or CLI (<code>update-volume</code>).</p> </li> <li> <p> <code>VOLUME_RESTORE</code> - An Amazon FSx for OpenZFS volume is returned to the state saved by the specified snapshot, initiated from an API (<code>RestoreVolumeFromSnapshot</code>) or CLI (<code>restore-volume-from-snapshot</code>).</p> </li> <li> <p> <code>SNAPSHOT_UPDATE</code> - A snapshot update to an Amazon FSx for OpenZFS volume initiated from the Amazon FSx console, API (<code>UpdateSnapshot</code>), or CLI (<code>update-snapshot</code>).</p> </li> <li> <p> <code>RELEASE_NFS_V3_LOCKS</code> - Tracks the release of Network File System (NFS) V3 locks on an Amazon FSx for OpenZFS file system.</p> </li> <li> <p> <code>DOWNLOAD_DATA_FROM_BACKUP</code> - An FSx for ONTAP backup is being restored to a new volume on a second-generation file system. Once the all the file metadata is loaded onto the volume, you can mount the volume with read-only access. during this process.</p> </li> <li> <p> <code>VOLUME_INITIALIZE_WITH_SNAPSHOT</code> - A volume is being created from a snapshot on a different FSx for OpenZFS file system. You can initiate this from the Amazon FSx console, API (<code>CreateVolume</code>), or CLI (<code>create-volume</code>) when using the using the <code>FULL_COPY</code> strategy.</p> </li> <li> <p> <code>VOLUME_UPDATE_WITH_SNAPSHOT</code> - A volume is being updated from a snapshot on a different FSx for OpenZFS file system. You can initiate this from the Amazon FSx console, API (<code>CopySnapshotAndUpdateVolume</code>), or CLI (<code>copy-snapshot-and-update-volume</code>).</p> </li> </ul>",
      "enum":[
        "FILE_SYSTEM_UPDATE",
        "STORAGE_OPTIMIZATION",
        "FILE_SYSTEM_ALIAS_ASSOCIATION",
        "FILE_SYSTEM_ALIAS_DISASSOCIATION",
        "VOLUME_UPDATE",
        "SNAPSHOT_UPDATE",
        "RELEASE_NFS_V3_LOCKS",
        "VOLUME_RESTORE",
        "THROUGHPUT_OPTIMIZATION",
        "IOPS_OPTIMIZATION",
        "STORAGE_TYPE_OPTIMIZATION",
        "MISCONFIGURED_STATE_RECOVERY",
        "VOLUME_UPDATE_WITH_SNAPSHOT",
        "VOLUME_INITIALIZE_WITH_SNAPSHOT",
        "DOWNLOAD_DATA_FROM_BACKUP"
      ]
    },
    "AdministrativeActions":{
      "type":"list",
      "member":{"shape":"AdministrativeAction"},
      "max":50
    },
    "Aggregate":{
      "type":"string",
      "max":6,
      "min":5,
      "pattern":"^(aggr[0-9]{1,2})$"
    },
    "AggregateConfiguration":{
      "type":"structure",
      "members":{
        "Aggregates":{
          "shape":"Aggregates",
          "documentation":"<p>The list of aggregates that this volume resides on. Aggregates are storage pools which make up your primary storage tier. Each high-availability (HA) pair has one aggregate. The names of the aggregates map to the names of the aggregates in the ONTAP CLI and REST API. For FlexVols, there will always be a single entry.</p> <p>Amazon FSx responds with an HTTP status code 400 (Bad Request) for the following conditions:</p> <ul> <li> <p>The strings in the value of <code>Aggregates</code> are not are not formatted as <code>aggrX</code>, where X is a number between 1 and 12.</p> </li> <li> <p>The value of <code>Aggregates</code> contains aggregates that are not present.</p> </li> <li> <p>One or more of the aggregates supplied are too close to the volume limit to support adding more volumes.</p> </li> </ul>"
        },
        "TotalConstituents":{
          "shape":"TotalConstituents",
          "documentation":"<p>The total number of constituents this FlexGroup volume has. Not applicable for FlexVols.</p>"
        }
      },
      "documentation":"<p>Used to specify configuration options for a volume’s storage aggregate or aggregates.</p>"
    },
    "AggregateListMultiplier":{
      "type":"integer",
      "max":200,
      "min":1
    },
    "Aggregates":{
      "type":"list",
      "member":{"shape":"Aggregate"},
      "max":6
    },
    "Alias":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"AlternateDNSName",
          "documentation":"<p>The name of the DNS alias. The alias name has to meet the following requirements:</p> <ul> <li> <p>Formatted as a fully-qualified domain name (FQDN), <code>hostname.domain</code>, for example, <code>accounting.example.com</code>.</p> </li> <li> <p>Can contain alphanumeric characters, the underscore (_), and the hyphen (-).</p> </li> <li> <p>Cannot start or end with a hyphen.</p> </li> <li> <p>Can start with a numeric.</p> </li> </ul> <p>For DNS names, Amazon FSx stores alphabetic characters as lowercase letters (a-z), regardless of how you specify them: as uppercase letters, lowercase letters, or the corresponding letters in escape codes.</p>"
        },
        "Lifecycle":{
          "shape":"AliasLifecycle",
          "documentation":"<p>Describes the state of the DNS alias.</p> <ul> <li> <p>AVAILABLE - The DNS alias is associated with an Amazon FSx file system.</p> </li> <li> <p>CREATING - Amazon FSx is creating the DNS alias and associating it with the file system.</p> </li> <li> <p>CREATE_FAILED - Amazon FSx was unable to associate the DNS alias with the file system.</p> </li> <li> <p>DELETING - Amazon FSx is disassociating the DNS alias from the file system and deleting it.</p> </li> <li> <p>DELETE_FAILED - Amazon FSx was unable to disassociate the DNS alias from the file system.</p> </li> </ul>"
        }
      },
      "documentation":"<p>A DNS alias that is associated with the file system. You can use a DNS alias to access a file system using user-defined DNS names, in addition to the default DNS name that Amazon FSx assigns to the file system. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-dns-aliases.html\">DNS aliases</a> in the <i>FSx for Windows File Server User Guide</i>.</p>"
    },
    "AliasLifecycle":{
      "type":"string",
      "enum":[
        "AVAILABLE",
        "CREATING",
        "DELETING",
        "CREATE_FAILED",
        "DELETE_FAILED"
      ]
    },
    "Aliases":{
      "type":"list",
      "member":{"shape":"Alias"},
      "documentation":"<p>An array of one or more DNS aliases that are currently associated with the Amazon FSx file system. Aliases allow you to use existing DNS names to access the data in your Amazon FSx file system. You can associate up to 50 aliases with a file system at any time. You can associate additional DNS aliases after you create the file system using the AssociateFileSystemAliases operation. You can remove DNS aliases from the file system after it is created using the DisassociateFileSystemAliases operation. You only need to specify the alias name in the request payload. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/managing-dns-aliases.html\">DNS aliases</a>.</p>",
      "max":50
    },
    "AlternateDNSName":{
      "type":"string",
      "max":253,
      "min":4,
      "pattern":"^[^\\u0000\\u0085\\u2028\\u2029\\r\\n]{4,253}$"
    },
    "AlternateDNSNames":{
      "type":"list",
      "member":{"shape":"AlternateDNSName"},
      "max":50
    },
    "ArchivePath":{
      "type":"string",
      "max":4357,
      "min":3,
      "pattern":"^[^\\u0000\\u0085\\u2028\\u2029\\r\\n]{3,4357}$"
    },
    "AssociateFileSystemAliasesRequest":{
      "type":"structure",
      "required":[
        "FileSystemId",
        "Aliases"
      ],
      "members":{
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true
        },
        "FileSystemId":{
          "shape":"FileSystemId",
          "documentation":"<p>Specifies the file system with which you want to associate one or more DNS aliases.</p>"
        },
        "Aliases":{
          "shape":"AlternateDNSNames",
          "documentation":"<p>An array of one or more DNS alias names to associate with the file system. The alias name has to comply with the following formatting requirements:</p> <ul> <li> <p>Formatted as a fully-qualified domain name (FQDN), <i> <code>hostname.domain</code> </i>, for example, <code>accounting.corp.example.com</code>.</p> </li> <li> <p>Can contain alphanumeric characters and the hyphen (-).</p> </li> <li> <p>Cannot start or end with a hyphen.</p> </li> <li> <p>Can start with a numeric.</p> </li> </ul> <p>For DNS alias names, Amazon FSx stores alphabetic characters as lowercase letters (a-z), regardless of how you specify them: as uppercase letters, lowercase letters, or the corresponding letters in escape codes.</p>"
        }
      },
      "documentation":"<p>The request object specifying one or more DNS alias names to associate with an Amazon FSx for Windows File Server file system.</p>"
    },
    "AssociateFileSystemAliasesResponse":{
      "type":"structure",
      "members":{
        "Aliases":{
          "shape":"Aliases",
          "documentation":"<p>An array of the DNS aliases that Amazon FSx is associating with the file system.</p>"
        }
      },
      "documentation":"<p>The system generated response showing the DNS aliases that Amazon FSx is attempting to associate with the file system. Use the API operation to monitor the status of the aliases Amazon FSx is associating with the file system. It can take up to 2.5 minutes for the alias status to change from <code>CREATING</code> to <code>AVAILABLE</code>. </p>"
    },
    "AutoExportPolicy":{
      "type":"structure",
      "members":{
        "Events":{
          "shape":"EventTypes",
          "documentation":"<p>The <code>AutoExportPolicy</code> can have the following event values:</p> <ul> <li> <p> <code>NEW</code> - New files and directories are automatically exported to the data repository as they are added to the file system.</p> </li> <li> <p> <code>CHANGED</code> - Changes to files and directories on the file system are automatically exported to the data repository.</p> </li> <li> <p> <code>DELETED</code> - Files and directories are automatically deleted on the data repository when they are deleted on the file system.</p> </li> </ul> <p>You can define any combination of event types for your <code>AutoExportPolicy</code>.</p>"
        }
      },
      "documentation":"<p>Describes a data repository association's automatic export policy. The <code>AutoExportPolicy</code> defines the types of updated objects on the file system that will be automatically exported to the data repository. As you create, modify, or delete files, Amazon FSx for Lustre automatically exports the defined changes asynchronously once your application finishes modifying the file.</p> <p>The <code>AutoExportPolicy</code> is only supported on Amazon FSx for Lustre file systems with a data repository association.</p>"
    },
    "AutoImportPolicy":{
      "type":"structure",
      "members":{
        "Events":{
          "shape":"EventTypes",
          "documentation":"<p>The <code>AutoImportPolicy</code> can have the following event values:</p> <ul> <li> <p> <code>NEW</code> - Amazon FSx automatically imports metadata of files added to the linked S3 bucket that do not currently exist in the FSx file system.</p> </li> <li> <p> <code>CHANGED</code> - Amazon FSx automatically updates file metadata and invalidates existing file content on the file system as files change in the data repository.</p> </li> <li> <p> <code>DELETED</code> - Amazon FSx automatically deletes files on the file system as corresponding files are deleted in the data repository.</p> </li> </ul> <p>You can define any combination of event types for your <code>AutoImportPolicy</code>.</p>"
        }
      },
      "documentation":"<p>Describes the data repository association's automatic import policy. The AutoImportPolicy defines how Amazon FSx keeps your file metadata and directory listings up to date by importing changes to your Amazon FSx for Lustre file system as you modify objects in a linked S3 bucket.</p> <p>The <code>AutoImportPolicy</code> is only supported on Amazon FSx for Lustre file systems with a data repository association.</p>"
    },
    "AutoImportPolicyType":{
      "type":"string",
      "enum":[
        "NONE",
        "NEW",
        "NEW_CHANGED",
        "NEW_CHANGED_DELETED"
      ]
    },
    "AutocommitPeriod":{
      "type":"structure",
      "required":["Type"],
      "members":{
        "Type":{
          "shape":"AutocommitPeriodType",
          "documentation":"<p>Defines the type of time for the autocommit period of a file in an FSx for ONTAP SnapLock volume. Setting this value to <code>NONE</code> disables autocommit. The default value is <code>NONE</code>. </p>"
        },
        "Value":{
          "shape":"AutocommitPeriodValue",
          "documentation":"<p>Defines the amount of time for the autocommit period of a file in an FSx for ONTAP SnapLock volume. The following ranges are valid: </p> <ul> <li> <p> <code>Minutes</code>: 5 - 65,535</p> </li> <li> <p> <code>Hours</code>: 1 - 65,535</p> </li> <li> <p> <code>Days</code>: 1 - 3,650</p> </li> <li> <p> <code>Months</code>: 1 - 120</p> </li> <li> <p> <code>Years</code>: 1 - 10</p> </li> </ul>"
        }
      },
      "documentation":"<p>Sets the autocommit period of files in an FSx for ONTAP SnapLock volume, which determines how long the files must remain unmodified before they're automatically transitioned to the write once, read many (WORM) state. </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/ONTAPGuide/worm-state.html#worm-state-autocommit\">Autocommit</a>. </p>"
    },
    "AutocommitPeriodType":{
      "type":"string",
      "enum":[
        "MINUTES",
        "HOURS",
        "DAYS",
        "MONTHS",
        "YEARS",
        "NONE"
      ]
    },
    "AutocommitPeriodValue":{
      "type":"integer",
      "max":65535,
      "min":1
    },
    "AutomaticBackupRetentionDays":{
      "type":"integer",
      "documentation":"<p>The number of days to retain automatic backups. Setting this property to <code>0</code> disables automatic backups. You can retain automatic backups for a maximum of 90 days. The default is <code>30</code>.</p>",
      "max":90,
      "min":0
    },
    "Backup":{
      "type":"structure",
      "required":[
        "BackupId",
        "Lifecycle",
        "Type",
        "CreationTime",
        "FileSystem"
      ],
      "members":{
        "BackupId":{
          "shape":"BackupId",
          "documentation":"<p>The ID of the backup.</p>"
        },
        "Lifecycle":{
          "shape":"BackupLifecycle",
          "documentation":"<p>The lifecycle status of the backup.</p> <ul> <li> <p> <code>AVAILABLE</code> - The backup is fully available.</p> </li> <li> <p> <code>PENDING</code> - For user-initiated backups on Lustre file systems only; Amazon FSx hasn't started creating the backup.</p> </li> <li> <p> <code>CREATING</code> - Amazon FSx is creating the backup.</p> </li> <li> <p> <code>TRANSFERRING</code> - For user-initiated backups on Lustre file systems only; Amazon FSx is transferring the backup to Amazon S3.</p> </li> <li> <p> <code>COPYING</code> - Amazon FSx is copying the backup.</p> </li> <li> <p> <code>DELETED</code> - Amazon FSx deleted the backup and it's no longer available.</p> </li> <li> <p> <code>FAILED</code> - Amazon FSx couldn't finish the backup.</p> </li> </ul>"
        },
        "FailureDetails":{
          "shape":"BackupFailureDetails",
          "documentation":"<p>Details explaining any failures that occurred when creating a backup.</p>"
        },
        "Type":{
          "shape":"BackupType",
          "documentation":"<p>The type of the file-system backup.</p>"
        },
        "ProgressPercent":{"shape":"ProgressPercent"},
        "CreationTime":{
          "shape":"CreationTime",
          "documentation":"<p>The time when a particular backup was created.</p>"
        },
        "KmsKeyId":{
          "shape":"KmsKeyId",
          "documentation":"<p>The ID of the Key Management Service (KMS) key used to encrypt the backup of the Amazon FSx file system's data at rest. </p>"
        },
        "ResourceARN":{
          "shape":"ResourceARN",
          "documentation":"<p>The Amazon Resource Name (ARN) for the backup resource.</p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>The tags associated with a particular file system.</p>"
        },
        "FileSystem":{
          "shape":"FileSystem",
          "documentation":"<p>The metadata of the file system associated with the backup. This metadata is persisted even if the file system is deleted.</p>"
        },
        "DirectoryInformation":{
          "shape":"ActiveDirectoryBackupAttributes",
          "documentation":"<p>The configuration of the self-managed Microsoft Active Directory directory to which the Windows File Server instance is joined.</p>"
        },
        "OwnerId":{"shape":"AWSAccountId"},
        "SourceBackupId":{"shape":"BackupId"},
        "SourceBackupRegion":{
          "shape":"Region",
          "documentation":"<p>The source Region of the backup. Specifies the Region from where this backup is copied.</p>"
        },
        "ResourceType":{
          "shape":"ResourceType",
          "documentation":"<p>Specifies the resource type that's backed up.</p>"
        },
        "Volume":{"shape":"Volume"},
        "SizeInBytes":{
          "shape":"SizeInBytes",
          "documentation":"<p> The size of the backup in bytes. This represents the amount of data that the file system would contain if you restore this backup. </p>"
        }
      },
      "documentation":"<p>A backup of an Amazon FSx for Windows File Server, Amazon FSx for Lustre file system, Amazon FSx for NetApp ONTAP volume, or Amazon FSx for OpenZFS file system.</p>"
    },
    "BackupBeingCopied":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"},
        "BackupId":{"shape":"BackupId"}
      },
      "documentation":"<p>You can't delete a backup while it's being copied.</p>",
      "exception":true
    },
    "BackupFailureDetails":{
      "type":"structure",
      "members":{
        "Message":{
          "shape":"ErrorMessage",
          "documentation":"<p>A message describing the backup-creation failure.</p>"
        }
      },
      "documentation":"<p>If backup creation fails, this structure contains the details of that failure.</p>"
    },
    "BackupId":{
      "type":"string",
      "documentation":"<p>The ID of the source backup. Specifies the backup that you are copying.</p>",
      "max":128,
      "min":12,
      "pattern":"^(backup-[0-9a-f]{8,})$"
    },
    "BackupIds":{
      "type":"list",
      "member":{"shape":"BackupId"},
      "documentation":"<p>A list of backup IDs.</p>",
      "max":50
    },
    "BackupInProgress":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>Another backup is already under way. Wait for completion before initiating additional backups of this file system.</p>",
      "exception":true
    },
    "BackupLifecycle":{
      "type":"string",
      "documentation":"<p>The lifecycle status of the backup.</p> <ul> <li> <p> <code>AVAILABLE</code> - The backup is fully available.</p> </li> <li> <p> <code>PENDING</code> - For user-initiated backups on Lustre file systems only; Amazon FSx hasn't started creating the backup.</p> </li> <li> <p> <code>CREATING</code> - Amazon FSx is creating the new user-initiated backup.</p> </li> <li> <p> <code>TRANSFERRING</code> - For user-initiated backups on Lustre file systems only; Amazon FSx is backing up the file system.</p> </li> <li> <p> <code>COPYING</code> - Amazon FSx is copying the backup.</p> </li> <li> <p> <code>DELETED</code> - Amazon FSx deleted the backup and it's no longer available.</p> </li> <li> <p> <code>FAILED</code> - Amazon FSx couldn't finish the backup.</p> </li> </ul>",
      "enum":[
        "AVAILABLE",
        "CREATING",
        "TRANSFERRING",
        "DELETED",
        "FAILED",
        "PENDING",
        "COPYING"
      ]
    },
    "BackupNotFound":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>No Amazon FSx backups were found based upon the supplied parameters.</p>",
      "exception":true
    },
    "BackupRestoring":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"},
        "FileSystemId":{
          "shape":"FileSystemId",
          "documentation":"<p>The ID of a file system being restored from the backup.</p>"
        }
      },
      "documentation":"<p>You can't delete a backup while it's being used to restore a file system.</p>",
      "exception":true
    },
    "BackupType":{
      "type":"string",
      "documentation":"<p>The type of the backup.</p>",
      "enum":[
        "AUTOMATIC",
        "USER_INITIATED",
        "AWS_BACKUP"
      ]
    },
    "Backups":{
      "type":"list",
      "member":{"shape":"Backup"},
      "documentation":"<p>A list of file system backups.</p>",
      "max":50
    },
    "BadRequest":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>A generic error indicating a failure with a client request.</p>",
      "exception":true
    },
    "BatchImportMetaDataOnCreate":{"type":"boolean"},
    "CancelDataRepositoryTaskRequest":{
      "type":"structure",
      "required":["TaskId"],
      "members":{
        "TaskId":{
          "shape":"TaskId",
          "documentation":"<p>Specifies the data repository task to cancel.</p>"
        }
      },
      "documentation":"<p>Cancels a data repository task.</p>"
    },
    "CancelDataRepositoryTaskResponse":{
      "type":"structure",
      "members":{
        "Lifecycle":{
          "shape":"DataRepositoryTaskLifecycle",
          "documentation":"<p>The lifecycle status of the data repository task, as follows:</p> <ul> <li> <p> <code>PENDING</code> - Amazon FSx has not started the task.</p> </li> <li> <p> <code>EXECUTING</code> - Amazon FSx is processing the task.</p> </li> <li> <p> <code>FAILED</code> - Amazon FSx was not able to complete the task. For example, there may be files the task failed to process. The <a>DataRepositoryTaskFailureDetails</a> property provides more information about task failures.</p> </li> <li> <p> <code>SUCCEEDED</code> - FSx completed the task successfully.</p> </li> <li> <p> <code>CANCELED</code> - Amazon FSx canceled the task and it did not complete.</p> </li> <li> <p> <code>CANCELING</code> - FSx is in process of canceling the task.</p> </li> </ul>"
        },
        "TaskId":{
          "shape":"TaskId",
          "documentation":"<p>The ID of the task being canceled.</p>"
        }
      }
[...]
