{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-04-01",
    "endpointPrefix":"quicksight",
    "jsonVersion":"1.0",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"Amazon QuickSight",
    "serviceId":"QuickSight",
    "signatureVersion":"v4",
    "uid":"quicksight-2018-04-01",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "BatchCreateTopicReviewedAnswer":{
      "name":"BatchCreateTopicReviewedAnswer",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/topics/{TopicId}/batch-create-reviewed-answers"
      },
      "input":{"shape":"BatchCreateTopicReviewedAnswerRequest"},
      "output":{"shape":"BatchCreateTopicReviewedAnswerResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates new reviewed answers for a Q Topic.</p>"
    },
    "BatchDeleteTopicReviewedAnswer":{
      "name":"BatchDeleteTopicReviewedAnswer",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/topics/{TopicId}/batch-delete-reviewed-answers"
      },
      "input":{"shape":"BatchDeleteTopicReviewedAnswerRequest"},
      "output":{"shape":"BatchDeleteTopicReviewedAnswerResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes reviewed answers for Q Topic.</p>"
    },
    "CancelIngestion":{
      "name":"CancelIngestion",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input":{"shape":"CancelIngestionRequest"},
      "output":{"shape":"CancelIngestionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Cancels an ongoing ingestion of data into SPICE.</p>"
    },
    "CreateAccountCustomization":{
      "name":"CreateAccountCustomization",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/customizations"
      },
      "input":{"shape":"CreateAccountCustomizationRequest"},
      "output":{"shape":"CreateAccountCustomizationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Creates Amazon QuickSight customizations for the current Amazon Web Services Region. Currently, you can add a custom default theme by using the <code>CreateAccountCustomization</code> or <code>UpdateAccountCustomization</code> API operation. To further customize QuickSight by removing QuickSight sample assets and videos for all new users, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/customizing-quicksight.html\">Customizing QuickSight</a> in the <i>Amazon QuickSight User Guide.</i> </p> <p>You can create customizations for your Amazon Web Services account or, if you specify a namespace, for a QuickSight namespace instead. Customizations that apply to a namespace always override customizations that apply to an Amazon Web Services account. To find out which customizations apply, use the <code>DescribeAccountCustomization</code> API operation.</p> <p>Before you use the <code>CreateAccountCustomization</code> API operation to add a theme as the namespace default, make sure that you first share the theme with the namespace. If you don't share it with the namespace, the theme isn't visible to your users even if you make it the default theme. To check if the theme is shared, view the current permissions by using the <code> <a href=\"https://docs.aws.amazon.com/quicksight/latest/APIReference/API_DescribeThemePermissions.html\">DescribeThemePermissions</a> </code> API operation. To share the theme, grant permissions by using the <code> <a href=\"https://docs.aws.amazon.com/quicksight/latest/APIReference/API_UpdateThemePermissions.html\">UpdateThemePermissions</a> </code> API operation. </p>"
    },
    "CreateAccountSubscription":{
      "name":"CreateAccountSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/account/{AwsAccountId}"
      },
      "input":{"shape":"CreateAccountSubscriptionRequest"},
      "output":{"shape":"CreateAccountSubscriptionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Creates an QuickSight account, or subscribes to QuickSight Q.</p> <p>The Amazon Web Services Region for the account is derived from what is configured in the CLI or SDK.</p> <p>Before you use this operation, make sure that you can connect to an existing Amazon Web Services account. If you don't have an Amazon Web Services account, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/setting-up-aws-sign-up.html\">Sign up for Amazon Web Services</a> in the <i>Amazon QuickSight User Guide</i>. The person who signs up for QuickSight needs to have the correct Identity and Access Management (IAM) permissions. For more information, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/iam-policy-examples.html\">IAM Policy Examples for QuickSight</a> in the <i>QuickSight User Guide</i>.</p> <p>If your IAM policy includes both the <code>Subscribe</code> and <code>CreateAccountSubscription</code> actions, make sure that both actions are set to <code>Allow</code>. If either action is set to <code>Deny</code>, the <code>Deny</code> action prevails and your API call fails.</p> <p>You can't pass an existing IAM role to access other Amazon Web Services services using this API operation. To pass your existing IAM role to QuickSight, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/security_iam_service-with-iam.html#security-create-iam-role\">Passing IAM roles to QuickSight</a> in the <i>QuickSight User Guide</i>.</p> <p>You can't set default resource access on the new account from the QuickSight API. Instead, add default resource access from the QuickSight console. For more information about setting default resource access to Amazon Web Services services, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/scoping-policies-defaults.html\">Setting default resource access to Amazon Web Services services</a> in the <i>QuickSight User Guide</i>.</p>"
    },
    "CreateAnalysis":{
      "name":"CreateAnalysis",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input":{"shape":"CreateAnalysisRequest"},
      "output":{"shape":"CreateAnalysisResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates an analysis in Amazon QuickSight. Analyses can be created either from a template or from an <code>AnalysisDefinition</code>.</p>"
    },
    "CreateBrand":{
      "name":"CreateBrand",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/brands/{BrandId}",
        "responseCode":200
      },
      "input":{"shape":"CreateBrandRequest"},
      "output":{"shape":"CreateBrandResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates an QuickSight brand.</p>"
    },
    "CreateCustomPermissions":{
      "name":"CreateCustomPermissions",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/custom-permissions"
      },
      "input":{"shape":"CreateCustomPermissionsRequest"},
      "output":{"shape":"CreateCustomPermissionsResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceExistsException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Creates a custom permissions profile.</p>"
    },
    "CreateDashboard":{
      "name":"CreateDashboard",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input":{"shape":"CreateDashboardRequest"},
      "output":{"shape":"CreateDashboardResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates a dashboard from either a template or directly with a <code>DashboardDefinition</code>. To first create a template, see the <code> <a href=\"https://docs.aws.amazon.com/quicksight/latest/APIReference/API_CreateTemplate.html\">CreateTemplate</a> </code> API operation.</p> <p>A dashboard is an entity in QuickSight that identifies QuickSight reports, created from analyses. You can share QuickSight dashboards. With the right permissions, you can create scheduled email reports from them. If you have the correct permissions, you can create a dashboard from a template that exists in a different Amazon Web Services account.</p>"
    },
    "CreateDataSet":{
      "name":"CreateDataSet",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/data-sets"
      },
      "input":{"shape":"CreateDataSetRequest"},
      "output":{"shape":"CreateDataSetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates a dataset. This operation doesn't support datasets that include uploaded files as a source.</p>"
    },
    "CreateDataSource":{
      "name":"CreateDataSource",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/data-sources"
      },
      "input":{"shape":"CreateDataSourceRequest"},
      "output":{"shape":"CreateDataSourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ThrottlingException"},
        {"shape":"CustomerManagedKeyUnavailableException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates a data source.</p>"
    },
    "CreateFolder":{
      "name":"CreateFolder",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}"
      },
      "input":{"shape":"CreateFolderRequest"},
      "output":{"shape":"CreateFolderResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"AccessDeniedException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates an empty shared folder.</p>"
    },
    "CreateFolderMembership":{
      "name":"CreateFolderMembership",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}/members/{MemberType}/{MemberId}"
      },
      "input":{"shape":"CreateFolderMembershipRequest"},
      "output":{"shape":"CreateFolderMembershipResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Adds an asset, such as a dashboard, analysis, or dataset into a folder.</p>"
    },
    "CreateGroup":{
      "name":"CreateGroup",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups"
      },
      "input":{"shape":"CreateGroupRequest"},
      "output":{"shape":"CreateGroupResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Use the <code>CreateGroup</code> operation to create a group in QuickSight. You can create up to 10,000 groups in a namespace. If you want to create more than 10,000 groups in a namespace, contact Amazon Web Services Support.</p> <p>The permissions resource is <code>arn:aws:quicksight:&lt;your-region&gt;:<i>&lt;relevant-aws-account-id&gt;</i>:group/default/<i>&lt;group-name&gt;</i> </code>.</p> <p>The response is a group object.</p>"
    },
    "CreateGroupMembership":{
      "name":"CreateGroupMembership",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
      },
      "input":{"shape":"CreateGroupMembershipRequest"},
      "output":{"shape":"CreateGroupMembershipResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Adds an Amazon QuickSight user to an Amazon QuickSight group. </p>"
    },
    "CreateIAMPolicyAssignment":{
      "name":"CreateIAMPolicyAssignment",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments/"
      },
      "input":{"shape":"CreateIAMPolicyAssignmentRequest"},
      "output":{"shape":"CreateIAMPolicyAssignmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConcurrentUpdatingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates an assignment with one specified IAM policy, identified by its Amazon Resource Name (ARN). This policy assignment is attached to the specified groups or users of Amazon QuickSight. Assignment names are unique per Amazon Web Services account. To avoid overwriting rules in other namespaces, use assignment names that are unique.</p>"
    },
    "CreateIngestion":{
      "name":"CreateIngestion",
      "http":{
        "method":"PUT",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input":{"shape":"CreateIngestionRequest"},
      "output":{"shape":"CreateIngestionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates and starts a new SPICE ingestion for a dataset. You can manually refresh datasets in an Enterprise edition account 32 times in a 24-hour period. You can manually refresh datasets in a Standard edition account 8 times in a 24-hour period. Each 24-hour period is measured starting 24 hours before the current date and time.</p> <p>Any ingestions operating on tagged datasets inherit the same tags automatically for use in access control. For an example, see <a href=\"http://aws.amazon.com/premiumsupport/knowledge-center/iam-ec2-resource-tags/\">How do I create an IAM policy to control access to Amazon EC2 resources using tags?</a> in the Amazon Web Services Knowledge Center. Tags are visible on the tagged dataset, but not on the ingestion resource.</p>"
    },
    "CreateNamespace":{
      "name":"CreateNamespace",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}"
      },
      "input":{"shape":"CreateNamespaceRequest"},
      "output":{"shape":"CreateNamespaceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>(Enterprise edition only) Creates a new namespace for you to use with Amazon QuickSight.</p> <p>A namespace allows you to isolate the QuickSight users and groups that are registered for that namespace. Users that access the namespace can share assets only with other users or groups in the same namespace. They can't see users and groups in other namespaces. You can create a namespace after your Amazon Web Services account is subscribed to QuickSight. The namespace must be unique within the Amazon Web Services account. By default, there is a limit of 100 namespaces per Amazon Web Services account. To increase your limit, create a ticket with Amazon Web Services Support. </p>"
    },
    "CreateRefreshSchedule":{
      "name":"CreateRefreshSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/refresh-schedules"
      },
      "input":{"shape":"CreateRefreshScheduleRequest"},
      "output":{"shape":"CreateRefreshScheduleResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates a refresh schedule for a dataset. You can create up to 5 different schedules for a single dataset.</p>"
    },
    "CreateRoleMembership":{
      "name":"CreateRoleMembership",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/roles/{Role}/members/{MemberName}"
      },
      "input":{"shape":"CreateRoleMembershipRequest"},
      "output":{"shape":"CreateRoleMembershipResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Use <code>CreateRoleMembership</code> to add an existing QuickSight group to an existing role.</p>"
    },
    "CreateTemplate":{
      "name":"CreateTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input":{"shape":"CreateTemplateRequest"},
      "output":{"shape":"CreateTemplateResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates a template either from a <code>TemplateDefinition</code> or from an existing QuickSight analysis or template. You can use the resulting template to create additional dashboards, templates, or analyses.</p> <p>A <i>template</i> is an entity in QuickSight that encapsulates the metadata required to create an analysis and that you can use to create s dashboard. A template adds a layer of abstraction by using placeholders to replace the dataset associated with the analysis. You can use templates to create dashboards by replacing dataset placeholders with datasets that follow the same schema that was used to create the source analysis and template.</p>"
    },
    "CreateTemplateAlias":{
      "name":"CreateTemplateAlias",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input":{"shape":"CreateTemplateAliasRequest"},
      "output":{"shape":"CreateTemplateAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceExistsException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates a template alias for a template.</p>"
    },
    "CreateTheme":{
      "name":"CreateTheme",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input":{"shape":"CreateThemeRequest"},
      "output":{"shape":"CreateThemeResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates a theme.</p> <p>A <i>theme</i> is set of configuration options for color and layout. Themes apply to analyses and dashboards. For more information, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/themes-in-quicksight.html\">Using Themes in Amazon QuickSight</a> in the <i>Amazon QuickSight User Guide</i>.</p>"
    },
    "CreateThemeAlias":{
      "name":"CreateThemeAlias",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input":{"shape":"CreateThemeAliasRequest"},
      "output":{"shape":"CreateThemeAliasResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates a theme alias for a theme.</p>"
    },
    "CreateTopic":{
      "name":"CreateTopic",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/topics"
      },
      "input":{"shape":"CreateTopicRequest"},
      "output":{"shape":"CreateTopicResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates a new Q topic.</p>"
    },
    "CreateTopicRefreshSchedule":{
      "name":"CreateTopicRefreshSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/topics/{TopicId}/schedules"
      },
      "input":{"shape":"CreateTopicRefreshScheduleRequest"},
      "output":{"shape":"CreateTopicRefreshScheduleResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates a topic refresh schedule.</p>"
    },
    "CreateVPCConnection":{
      "name":"CreateVPCConnection",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/vpc-connections"
      },
      "input":{"shape":"CreateVPCConnectionRequest"},
      "output":{"shape":"CreateVPCConnectionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates a new VPC connection.</p>"
    },
    "DeleteAccountCustomPermission":{
      "name":"DeleteAccountCustomPermission",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/custom-permission"
      },
      "input":{"shape":"DeleteAccountCustomPermissionRequest"},
      "output":{"shape":"DeleteAccountCustomPermissionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Unapplies a custom permissions profile from an account.</p>"
    },
    "DeleteAccountCustomization":{
      "name":"DeleteAccountCustomization",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/customizations"
      },
      "input":{"shape":"DeleteAccountCustomizationRequest"},
      "output":{"shape":"DeleteAccountCustomizationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Deletes all Amazon QuickSight customizations in this Amazon Web Services Region for the specified Amazon Web Services account and QuickSight namespace.</p>"
    },
    "DeleteAccountSubscription":{
      "name":"DeleteAccountSubscription",
      "http":{
        "method":"DELETE",
        "requestUri":"/account/{AwsAccountId}"
      },
      "input":{"shape":"DeleteAccountSubscriptionRequest"},
      "output":{"shape":"DeleteAccountSubscriptionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Use the <code>DeleteAccountSubscription</code> operation to delete an QuickSight account. This operation will result in an error message if you have configured your account termination protection settings to <code>True</code>. To change this setting and delete your account, call the <code>UpdateAccountSettings</code> API and set the value of the <code>TerminationProtectionEnabled</code> parameter to <code>False</code>, then make another call to the <code>DeleteAccountSubscription</code> API.</p>"
    },
    "DeleteAnalysis":{
      "name":"DeleteAnalysis",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input":{"shape":"DeleteAnalysisRequest"},
      "output":{"shape":"DeleteAnalysisResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes an analysis from Amazon QuickSight. You can optionally include a recovery window during which you can restore the analysis. If you don't specify a recovery window value, the operation defaults to 30 days. QuickSight attaches a <code>DeletionTime</code> stamp to the response that specifies the end of the recovery window. At the end of the recovery window, QuickSight deletes the analysis permanently.</p> <p>At any time before recovery window ends, you can use the <code>RestoreAnalysis</code> API operation to remove the <code>DeletionTime</code> stamp and cancel the deletion of the analysis. The analysis remains visible in the API until it's deleted, so you can describe it but you can't make a template from it.</p> <p>An analysis that's scheduled for deletion isn't accessible in the QuickSight console. To access it in the console, restore it. Deleting an analysis doesn't delete the dashboards that you publish from it.</p>"
    },
    "DeleteBrand":{
      "name":"DeleteBrand",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/brands/{BrandId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteBrandRequest"},
      "output":{"shape":"DeleteBrandResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes an QuickSight brand.</p>",
      "idempotent":true
    },
    "DeleteBrandAssignment":{
      "name":"DeleteBrandAssignment",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/brandassignments",
        "responseCode":200
      },
      "input":{"shape":"DeleteBrandAssignmentRequest"},
      "output":{"shape":"DeleteBrandAssignmentResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes a brand assignment.</p>",
      "idempotent":true
    },
    "DeleteCustomPermissions":{
      "name":"DeleteCustomPermissions",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/custom-permissions/{CustomPermissionsName}"
      },
      "input":{"shape":"DeleteCustomPermissionsRequest"},
      "output":{"shape":"DeleteCustomPermissionsResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceExistsException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Deletes a custom permissions profile.</p>"
    },
    "DeleteDashboard":{
      "name":"DeleteDashboard",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input":{"shape":"DeleteDashboardRequest"},
      "output":{"shape":"DeleteDashboardResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a dashboard.</p>"
    },
    "DeleteDataSet":{
      "name":"DeleteDataSet",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}"
      },
      "input":{"shape":"DeleteDataSetRequest"},
      "output":{"shape":"DeleteDataSetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a dataset.</p>"
    },
    "DeleteDataSetRefreshProperties":{
      "name":"DeleteDataSetRefreshProperties",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/refresh-properties"
      },
      "input":{"shape":"DeleteDataSetRefreshPropertiesRequest"},
      "output":{"shape":"DeleteDataSetRefreshPropertiesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes the dataset refresh properties of the dataset.</p>"
    },
    "DeleteDataSource":{
      "name":"DeleteDataSource",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}"
      },
      "input":{"shape":"DeleteDataSourceRequest"},
      "output":{"shape":"DeleteDataSourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes the data source permanently. This operation breaks all the datasets that reference the deleted data source.</p>"
    },
    "DeleteDefaultQBusinessApplication":{
      "name":"DeleteDefaultQBusinessApplication",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/default-qbusiness-application"
      },
      "input":{"shape":"DeleteDefaultQBusinessApplicationRequest"},
      "output":{"shape":"DeleteDefaultQBusinessApplicationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a linked Amazon Q Business application from an QuickSight account</p>"
    },
    "DeleteFolder":{
      "name":"DeleteFolder",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}"
      },
      "input":{"shape":"DeleteFolderRequest"},
      "output":{"shape":"DeleteFolderResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes an empty folder.</p>"
    },
    "DeleteFolderMembership":{
      "name":"DeleteFolderMembership",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}/members/{MemberType}/{MemberId}"
      },
      "input":{"shape":"DeleteFolderMembershipRequest"},
      "output":{"shape":"DeleteFolderMembershipResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Removes an asset, such as a dashboard, analysis, or dataset, from a folder.</p>"
    },
    "DeleteGroup":{
      "name":"DeleteGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}"
      },
      "input":{"shape":"DeleteGroupRequest"},
      "output":{"shape":"DeleteGroupResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Removes a user group from Amazon QuickSight. </p>"
    },
    "DeleteGroupMembership":{
      "name":"DeleteGroupMembership",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
      },
      "input":{"shape":"DeleteGroupMembershipRequest"},
      "output":{"shape":"DeleteGroupMembershipResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Removes a user from a group so that the user is no longer a member of the group.</p>"
    },
    "DeleteIAMPolicyAssignment":{
      "name":"DeleteIAMPolicyAssignment",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespace/{Namespace}/iam-policy-assignments/{AssignmentName}"
      },
      "input":{"shape":"DeleteIAMPolicyAssignmentRequest"},
      "output":{"shape":"DeleteIAMPolicyAssignmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConcurrentUpdatingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes an existing IAM policy assignment.</p>"
    },
    "DeleteIdentityPropagationConfig":{
      "name":"DeleteIdentityPropagationConfig",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/identity-propagation-config/{Service}"
      },
      "input":{"shape":"DeleteIdentityPropagationConfigRequest"},
      "output":{"shape":"DeleteIdentityPropagationConfigResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes all access scopes and authorized targets that are associated with a service from the QuickSight IAM Identity Center application.</p> <p>This operation is only supported for QuickSight accounts that use IAM Identity Center.</p>"
    },
    "DeleteNamespace":{
      "name":"DeleteNamespace",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}"
      },
      "input":{"shape":"DeleteNamespaceRequest"},
      "output":{"shape":"DeleteNamespaceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Deletes a namespace and the users and groups that are associated with the namespace. This is an asynchronous process. Assets including dashboards, analyses, datasets and data sources are not deleted. To delete these assets, you use the API operations for the relevant asset. </p>"
    },
    "DeleteRefreshSchedule":{
      "name":"DeleteRefreshSchedule",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/refresh-schedules/{ScheduleId}"
      },
      "input":{"shape":"DeleteRefreshScheduleRequest"},
      "output":{"shape":"DeleteRefreshScheduleResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a refresh schedule from a dataset.</p>"
    },
    "DeleteRoleCustomPermission":{
      "name":"DeleteRoleCustomPermission",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/roles/{Role}/custom-permission"
      },
      "input":{"shape":"DeleteRoleCustomPermissionRequest"},
      "output":{"shape":"DeleteRoleCustomPermissionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Removes custom permissions from the role.</p>"
    },
    "DeleteRoleMembership":{
      "name":"DeleteRoleMembership",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/roles/{Role}/members/{MemberName}"
      },
      "input":{"shape":"DeleteRoleMembershipRequest"},
      "output":{"shape":"DeleteRoleMembershipResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Removes a group from a role.</p>"
    },
    "DeleteTemplate":{
      "name":"DeleteTemplate",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input":{"shape":"DeleteTemplateRequest"},
      "output":{"shape":"DeleteTemplateResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a template.</p>"
    },
    "DeleteTemplateAlias":{
      "name":"DeleteTemplateAlias",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input":{"shape":"DeleteTemplateAliasRequest"},
      "output":{"shape":"DeleteTemplateAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes the item that the specified template alias points to. If you provide a specific alias, you delete the version of the template that the alias points to.</p>"
    },
    "DeleteTheme":{
      "name":"DeleteTheme",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input":{"shape":"DeleteThemeRequest"},
      "output":{"shape":"DeleteThemeResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a theme.</p>"
    },
    "DeleteThemeAlias":{
      "name":"DeleteThemeAlias",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input":{"shape":"DeleteThemeAliasRequest"},
      "output":{"shape":"DeleteThemeAliasResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes the version of the theme that the specified theme alias points to. If you provide a specific alias, you delete the version of the theme that the alias points to.</p>"
    },
    "DeleteTopic":{
      "name":"DeleteTopic",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/topics/{TopicId}"
      },
      "input":{"shape":"DeleteTopicRequest"},
      "output":{"shape":"DeleteTopicResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a topic.</p>"
    },
    "DeleteTopicRefreshSchedule":{
      "name":"DeleteTopicRefreshSchedule",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/topics/{TopicId}/schedules/{DatasetId}"
      },
      "input":{"shape":"DeleteTopicRefreshScheduleRequest"},
      "output":{"shape":"DeleteTopicRefreshScheduleResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a topic refresh schedule.</p>"
    },
    "DeleteUser":{
      "name":"DeleteUser",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}"
      },
      "input":{"shape":"DeleteUserRequest"},
      "output":{"shape":"DeleteUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Deletes the Amazon QuickSight user that is associated with the identity of the IAM user or role that's making the call. The IAM user isn't deleted as a result of this call. </p>"
    },
    "DeleteUserByPrincipalId":{
      "name":"DeleteUserByPrincipalId",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/user-principals/{PrincipalId}"
      },
      "input":{"shape":"DeleteUserByPrincipalIdRequest"},
      "output":{"shape":"DeleteUserByPrincipalIdResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Deletes a user identified by its principal ID. </p>"
    },
    "DeleteUserCustomPermission":{
      "name":"DeleteUserCustomPermission",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}/custom-permission"
      },
      "input":{"shape":"DeleteUserCustomPermissionRequest"},
      "output":{"shape":"DeleteUserCustomPermissionResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Deletes a custom permissions profile from a user.</p>"
    },
    "DeleteVPCConnection":{
      "name":"DeleteVPCConnection",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts/{AwsAccountId}/vpc-connections/{VPCConnectionId}"
      },
      "input":{"shape":"DeleteVPCConnectionRequest"},
      "output":{"shape":"DeleteVPCConnectionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a VPC connection.</p>"
    },
    "DescribeAccountCustomPermission":{
      "name":"DescribeAccountCustomPermission",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/custom-permission"
      },
      "input":{"shape":"DescribeAccountCustomPermissionRequest"},
      "output":{"shape":"DescribeAccountCustomPermissionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes the custom permissions profile that is applied to an account.</p>"
    },
    "DescribeAccountCustomization":{
      "name":"DescribeAccountCustomization",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/customizations"
      },
      "input":{"shape":"DescribeAccountCustomizationRequest"},
      "output":{"shape":"DescribeAccountCustomizationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Describes the customizations associated with the provided Amazon Web Services account and Amazon QuickSight namespace in an Amazon Web Services Region. The QuickSight console evaluates which customizations to apply by running this API operation with the <code>Resolved</code> flag included. </p> <p>To determine what customizations display when you run this command, it can help to visualize the relationship of the entities involved. </p> <ul> <li> <p> <code>Amazon Web Services account</code> - The Amazon Web Services account exists at the top of the hierarchy. It has the potential to use all of the Amazon Web Services Regions and Amazon Web Services Services. When you subscribe to QuickSight, you choose one Amazon Web Services Region to use as your home Region. That's where your free SPICE capacity is located. You can use QuickSight in any supported Amazon Web Services Region. </p> </li> <li> <p> <code>Amazon Web Services Region</code> - In each Amazon Web Services Region where you sign in to QuickSight at least once, QuickSight acts as a separate instance of the same service. If you have a user directory, it resides in us-east-1, which is the US East (N. Virginia). Generally speaking, these users have access to QuickSight in any Amazon Web Services Region, unless they are constrained to a namespace. </p> <p>To run the command in a different Amazon Web Services Region, you change your Region settings. If you're using the CLI, you can use one of the following options:</p> <ul> <li> <p>Use <a href=\"https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-options.html\">command line options</a>. </p> </li> <li> <p>Use <a href=\"https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-profiles.html\">named profiles</a>. </p> </li> <li> <p>Run <code>aws configure</code> to change your default Amazon Web Services Region. Use Enter to key the same settings for your keys. For more information, see <a href=\"https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-configure.html\">Configuring the CLI</a>.</p> </li> </ul> </li> <li> <p> <code>Namespace</code> - A QuickSight namespace is a partition that contains users and assets (data sources, datasets, dashboards, and so on). To access assets that are in a specific namespace, users and groups must also be part of the same namespace. People who share a namespace are completely isolated from users and assets in other namespaces, even if they are in the same Amazon Web Services account and Amazon Web Services Region.</p> </li> <li> <p> <code>Applied customizations</code> - Within an Amazon Web Services Region, a set of QuickSight customizations can apply to an Amazon Web Services account or to a namespace. Settings that you apply to a namespace override settings that you apply to an Amazon Web Services account. All settings are isolated to a single Amazon Web Services Region. To apply them in other Amazon Web Services Regions, run the <code>CreateAccountCustomization</code> command in each Amazon Web Services Region where you want to apply the same customizations. </p> </li> </ul>"
    },
    "DescribeAccountSettings":{
      "name":"DescribeAccountSettings",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/settings"
      },
      "input":{"shape":"DescribeAccountSettingsRequest"},
      "output":{"shape":"DescribeAccountSettingsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Describes the settings that were used when your QuickSight subscription was first created in this Amazon Web Services account.</p>"
    },
    "DescribeAccountSubscription":{
      "name":"DescribeAccountSubscription",
      "http":{
        "method":"GET",
        "requestUri":"/account/{AwsAccountId}"
      },
      "input":{"shape":"DescribeAccountSubscriptionRequest"},
      "output":{"shape":"DescribeAccountSubscriptionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Use the DescribeAccountSubscription operation to receive a description of an QuickSight account's subscription. A successful API call returns an <code>AccountInfo</code> object that includes an account's name, subscription status, authentication type, edition, and notification email address.</p>"
    },
    "DescribeAnalysis":{
      "name":"DescribeAnalysis",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}"
      },
      "input":{"shape":"DescribeAnalysisRequest"},
      "output":{"shape":"DescribeAnalysisResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Provides a summary of the metadata for an analysis.</p>"
    },
    "DescribeAnalysisDefinition":{
      "name":"DescribeAnalysisDefinition",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}/definition"
      },
      "input":{"shape":"DescribeAnalysisDefinitionRequest"},
      "output":{"shape":"DescribeAnalysisDefinitionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Provides a detailed description of the definition of an analysis.</p> <note> <p>If you do not need to know details about the content of an Analysis, for instance if you are trying to check the status of a recently created or updated Analysis, use the <a href=\"https://docs.aws.amazon.com/quicksight/latest/APIReference/API_DescribeAnalysis.html\"> <code>DescribeAnalysis</code> </a> instead. </p> </note>"
    },
    "DescribeAnalysisPermissions":{
      "name":"DescribeAnalysisPermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/analyses/{AnalysisId}/permissions"
      },
      "input":{"shape":"DescribeAnalysisPermissionsRequest"},
      "output":{"shape":"DescribeAnalysisPermissionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Provides the read and write permissions for an analysis.</p>"
    },
    "DescribeAssetBundleExportJob":{
      "name":"DescribeAssetBundleExportJob",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/asset-bundle-export-jobs/{AssetBundleExportJobId}"
      },
      "input":{"shape":"DescribeAssetBundleExportJobRequest"},
      "output":{"shape":"DescribeAssetBundleExportJobResponse"},
      "errors":[
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Describes an existing export job.</p> <p>Poll job descriptions after a job starts to know the status of the job. When a job succeeds, a URL is provided to download the exported assets' data from. Download URLs are valid for five minutes after they are generated. You can call the <code>DescribeAssetBundleExportJob</code> API for a new download URL as needed.</p> <p>Job descriptions are available for 14 days after the job starts.</p>"
    },
    "DescribeAssetBundleImportJob":{
      "name":"DescribeAssetBundleImportJob",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/asset-bundle-import-jobs/{AssetBundleImportJobId}"
      },
      "input":{"shape":"DescribeAssetBundleImportJobRequest"},
      "output":{"shape":"DescribeAssetBundleImportJobResponse"},
      "errors":[
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Describes an existing import job.</p> <p>Poll job descriptions after starting a job to know when it has succeeded or failed. Job descriptions are available for 14 days after job starts.</p>"
    },
    "DescribeBrand":{
      "name":"DescribeBrand",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/brands/{BrandId}",
        "responseCode":200
      },
      "input":{"shape":"DescribeBrandRequest"},
      "output":{"shape":"DescribeBrandResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Describes a brand.</p>"
    },
    "DescribeBrandAssignment":{
      "name":"DescribeBrandAssignment",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/brandassignments",
        "responseCode":200
      },
      "input":{"shape":"DescribeBrandAssignmentRequest"},
      "output":{"shape":"DescribeBrandAssignmentResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Describes a brand assignment.</p>"
    },
    "DescribeBrandPublishedVersion":{
      "name":"DescribeBrandPublishedVersion",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/brands/{BrandId}/publishedversion",
        "responseCode":200
      },
      "input":{"shape":"DescribeBrandPublishedVersionRequest"},
      "output":{"shape":"DescribeBrandPublishedVersionResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Describes the published version of the brand.</p>"
    },
    "DescribeCustomPermissions":{
      "name":"DescribeCustomPermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/custom-permissions/{CustomPermissionsName}"
      },
      "input":{"shape":"DescribeCustomPermissionsRequest"},
      "output":{"shape":"DescribeCustomPermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Describes a custom permissions profile.</p>"
    },
    "DescribeDashboard":{
      "name":"DescribeDashboard",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}"
      },
      "input":{"shape":"DescribeDashboardRequest"},
      "output":{"shape":"DescribeDashboardResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Provides a summary for a dashboard.</p>"
    },
    "DescribeDashboardDefinition":{
      "name":"DescribeDashboardDefinition",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/definition"
      },
      "input":{"shape":"DescribeDashboardDefinitionRequest"},
      "output":{"shape":"DescribeDashboardDefinitionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Provides a detailed description of the definition of a dashboard.</p> <note> <p>If you do not need to know details about the content of a dashboard, for instance if you are trying to check the status of a recently created or updated dashboard, use the <a href=\"https://docs.aws.amazon.com/quicksight/latest/APIReference/API_DescribeDashboard.html\"> <code>DescribeDashboard</code> </a> instead. </p> </note>"
    },
    "DescribeDashboardPermissions":{
      "name":"DescribeDashboardPermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/permissions"
      },
      "input":{"shape":"DescribeDashboardPermissionsRequest"},
      "output":{"shape":"DescribeDashboardPermissionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes read and write permissions for a dashboard.</p>"
    },
    "DescribeDashboardSnapshotJob":{
      "name":"DescribeDashboardSnapshotJob",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/snapshot-jobs/{SnapshotJobId}"
      },
      "input":{"shape":"DescribeDashboardSnapshotJobRequest"},
      "output":{"shape":"DescribeDashboardSnapshotJobResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes an existing snapshot job.</p> <p>Poll job descriptions after a job starts to know the status of the job. For information on available status codes, see <code>JobStatus</code>.</p>"
    },
    "DescribeDashboardSnapshotJobResult":{
      "name":"DescribeDashboardSnapshotJobResult",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards/{DashboardId}/snapshot-jobs/{SnapshotJobId}/result"
      },
      "input":{"shape":"DescribeDashboardSnapshotJobResultRequest"},
      "output":{"shape":"DescribeDashboardSnapshotJobResultResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes the result of an existing snapshot job that has finished running.</p> <p>A finished snapshot job will return a <code>COMPLETED</code> or <code>FAILED</code> status when you poll the job with a <code>DescribeDashboardSnapshotJob</code> API call.</p> <p>If the job has not finished running, this operation returns a message that says <code>Dashboard Snapshot Job with id &lt;SnapshotjobId&gt; has not reached a terminal state.</code>.</p>"
    },
    "DescribeDashboardsQAConfiguration":{
      "name":"DescribeDashboardsQAConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/dashboards-qa-configuration"
      },
      "input":{"shape":"DescribeDashboardsQAConfigurationRequest"},
      "output":{"shape":"DescribeDashboardsQAConfigurationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes an existing dashboard QA configuration.</p>"
    },
    "DescribeDataSet":{
      "name":"DescribeDataSet",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}"
      },
      "input":{"shape":"DescribeDataSetRequest"},
      "output":{"shape":"DescribeDataSetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes a dataset. This operation doesn't support datasets that include uploaded files as a source.</p>"
    },
    "DescribeDataSetPermissions":{
      "name":"DescribeDataSetPermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/permissions"
      },
      "input":{"shape":"DescribeDataSetPermissionsRequest"},
      "output":{"shape":"DescribeDataSetPermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes the permissions on a dataset.</p> <p>The permissions resource is <code>arn:aws:quicksight:region:aws-account-id:dataset/data-set-id</code>.</p>"
    },
    "DescribeDataSetRefreshProperties":{
      "name":"DescribeDataSetRefreshProperties",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/refresh-properties"
      },
      "input":{"shape":"DescribeDataSetRefreshPropertiesRequest"},
      "output":{"shape":"DescribeDataSetRefreshPropertiesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes the refresh properties of a dataset.</p>"
    },
    "DescribeDataSource":{
      "name":"DescribeDataSource",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}"
      },
      "input":{"shape":"DescribeDataSourceRequest"},
      "output":{"shape":"DescribeDataSourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes a data source.</p>"
    },
    "DescribeDataSourcePermissions":{
      "name":"DescribeDataSourcePermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sources/{DataSourceId}/permissions"
      },
      "input":{"shape":"DescribeDataSourcePermissionsRequest"},
      "output":{"shape":"DescribeDataSourcePermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes the resource permissions for a data source.</p>"
    },
    "DescribeDefaultQBusinessApplication":{
      "name":"DescribeDefaultQBusinessApplication",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/default-qbusiness-application"
      },
      "input":{"shape":"DescribeDefaultQBusinessApplicationRequest"},
      "output":{"shape":"DescribeDefaultQBusinessApplicationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes a Amazon Q Business application that is linked to an QuickSight account.</p>"
    },
    "DescribeFolder":{
      "name":"DescribeFolder",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}"
      },
      "input":{"shape":"DescribeFolderRequest"},
      "output":{"shape":"DescribeFolderResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes a folder.</p>"
    },
    "DescribeFolderPermissions":{
      "name":"DescribeFolderPermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}/permissions"
      },
      "input":{"shape":"DescribeFolderPermissionsRequest"},
      "output":{"shape":"DescribeFolderPermissionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes permissions for a folder.</p>"
    },
    "DescribeFolderResolvedPermissions":{
      "name":"DescribeFolderResolvedPermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/folders/{FolderId}/resolved-permissions"
      },
      "input":{"shape":"DescribeFolderResolvedPermissionsRequest"},
      "output":{"shape":"DescribeFolderResolvedPermissionsResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes the folder resolved permissions. Permissions consists of both folder direct permissions and the inherited permissions from the ancestor folders.</p>"
    },
    "DescribeGroup":{
      "name":"DescribeGroup",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}"
      },
      "input":{"shape":"DescribeGroupRequest"},
      "output":{"shape":"DescribeGroupResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Returns an Amazon QuickSight group's description and Amazon Resource Name (ARN). </p>"
    },
    "DescribeGroupMembership":{
      "name":"DescribeGroupMembership",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/groups/{GroupName}/members/{MemberName}"
      },
      "input":{"shape":"DescribeGroupMembershipRequest"},
      "output":{"shape":"DescribeGroupMembershipResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Use the <code>DescribeGroupMembership</code> operation to determine if a user is a member of the specified group. If the user exists and is a member of the specified group, an associated <code>GroupMember</code> object is returned.</p>"
    },
    "DescribeIAMPolicyAssignment":{
      "name":"DescribeIAMPolicyAssignment",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/iam-policy-assignments/{AssignmentName}"
      },
      "input":{"shape":"DescribeIAMPolicyAssignmentRequest"},
      "output":{"shape":"DescribeIAMPolicyAssignmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes an existing IAM policy assignment, as specified by the assignment name.</p>"
    },
    "DescribeIngestion":{
      "name":"DescribeIngestion",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/ingestions/{IngestionId}"
      },
      "input":{"shape":"DescribeIngestionRequest"},
      "output":{"shape":"DescribeIngestionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceExistsException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes a SPICE ingestion.</p>"
    },
    "DescribeIpRestriction":{
      "name":"DescribeIpRestriction",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/ip-restriction"
      },
      "input":{"shape":"DescribeIpRestrictionRequest"},
      "output":{"shape":"DescribeIpRestrictionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Provides a summary and status of IP rules.</p>"
    },
    "DescribeKeyRegistration":{
      "name":"DescribeKeyRegistration",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/key-registration"
      },
      "input":{"shape":"DescribeKeyRegistrationRequest"},
      "output":{"shape":"DescribeKeyRegistrationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes all customer managed key registrations in a QuickSight account.</p>"
    },
    "DescribeNamespace":{
      "name":"DescribeNamespace",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}"
      },
      "input":{"shape":"DescribeNamespaceRequest"},
      "output":{"shape":"DescribeNamespaceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Describes the current namespace.</p>"
    },
    "DescribeQPersonalizationConfiguration":{
      "name":"DescribeQPersonalizationConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/q-personalization-configuration"
      },
      "input":{"shape":"DescribeQPersonalizationConfigurationRequest"},
      "output":{"shape":"DescribeQPersonalizationConfigurationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes a personalization configuration.</p>"
    },
    "DescribeQuickSightQSearchConfiguration":{
      "name":"DescribeQuickSightQSearchConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/quicksight-q-search-configuration"
      },
      "input":{"shape":"DescribeQuickSightQSearchConfigurationRequest"},
      "output":{"shape":"DescribeQuickSightQSearchConfigurationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes the state of a QuickSight Q Search configuration.</p>"
    },
    "DescribeRefreshSchedule":{
      "name":"DescribeRefreshSchedule",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/data-sets/{DataSetId}/refresh-schedules/{ScheduleId}"
      },
      "input":{"shape":"DescribeRefreshScheduleRequest"},
      "output":{"shape":"DescribeRefreshScheduleResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Provides a summary of a refresh schedule.</p>"
    },
    "DescribeRoleCustomPermission":{
      "name":"DescribeRoleCustomPermission",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/roles/{Role}/custom-permission"
      },
      "input":{"shape":"DescribeRoleCustomPermissionRequest"},
      "output":{"shape":"DescribeRoleCustomPermissionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Describes all custom permissions that are mapped to a role.</p>"
    },
    "DescribeTemplate":{
      "name":"DescribeTemplate",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}"
      },
      "input":{"shape":"DescribeTemplateRequest"},
      "output":{"shape":"DescribeTemplateResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes a template's metadata.</p>"
    },
    "DescribeTemplateAlias":{
      "name":"DescribeTemplateAlias",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/aliases/{AliasName}"
      },
      "input":{"shape":"DescribeTemplateAliasRequest"},
      "output":{"shape":"DescribeTemplateAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes the template alias for a template.</p>"
    },
    "DescribeTemplateDefinition":{
      "name":"DescribeTemplateDefinition",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/definition"
      },
      "input":{"shape":"DescribeTemplateDefinitionRequest"},
      "output":{"shape":"DescribeTemplateDefinitionResponse"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Provides a detailed description of the definition of a template.</p> <note> <p>If you do not need to know details about the content of a template, for instance if you are trying to check the status of a recently created or updated template, use the <a href=\"https://docs.aws.amazon.com/quicksight/latest/APIReference/API_DescribeTemplate.html\"> <code>DescribeTemplate</code> </a> instead. </p> </note>"
    },
    "DescribeTemplatePermissions":{
      "name":"DescribeTemplatePermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/templates/{TemplateId}/permissions"
      },
      "input":{"shape":"DescribeTemplatePermissionsRequest"},
      "output":{"shape":"DescribeTemplatePermissionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes read and write permissions on a template.</p>"
    },
    "DescribeTheme":{
      "name":"DescribeTheme",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}"
      },
      "input":{"shape":"DescribeThemeRequest"},
      "output":{"shape":"DescribeThemeResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes a theme.</p>"
    },
    "DescribeThemeAlias":{
      "name":"DescribeThemeAlias",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/aliases/{AliasName}"
      },
      "input":{"shape":"DescribeThemeAliasRequest"},
      "output":{"shape":"DescribeThemeAliasResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes the alias for a theme.</p>"
    },
    "DescribeThemePermissions":{
      "name":"DescribeThemePermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/themes/{ThemeId}/permissions"
      },
      "input":{"shape":"DescribeThemePermissionsRequest"},
      "output":{"shape":"DescribeThemePermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes the read and write permissions for a theme.</p>"
    },
    "DescribeTopic":{
      "name":"DescribeTopic",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/topics/{TopicId}"
      },
      "input":{"shape":"DescribeTopicRequest"},
      "output":{"shape":"DescribeTopicResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes a topic.</p>"
    },
    "DescribeTopicPermissions":{
      "name":"DescribeTopicPermissions",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/topics/{TopicId}/permissions"
      },
      "input":{"shape":"DescribeTopicPermissionsRequest"},
      "output":{"shape":"DescribeTopicPermissionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes the permissions of a topic.</p>"
    },
    "DescribeTopicRefresh":{
      "name":"DescribeTopicRefresh",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/topics/{TopicId}/refresh/{RefreshId}"
      },
      "input":{"shape":"DescribeTopicRefreshRequest"},
      "output":{"shape":"DescribeTopicRefreshResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes the status of a topic refresh.</p>"
    },
    "DescribeTopicRefreshSchedule":{
      "name":"DescribeTopicRefreshSchedule",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/topics/{TopicId}/schedules/{DatasetId}"
      },
      "input":{"shape":"DescribeTopicRefreshScheduleRequest"},
      "output":{"shape":"DescribeTopicRefreshScheduleResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceExistsException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a topic refresh schedule.</p>"
    },
    "DescribeUser":{
      "name":"DescribeUser",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/namespaces/{Namespace}/users/{UserName}"
      },
      "input":{"shape":"DescribeUserRequest"},
      "output":{"shape":"DescribeUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"PreconditionNotMetException"},
        {"shape":"InternalFailureException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Returns information about a user, given the user name. </p>"
    },
    "DescribeVPCConnection":{
      "name":"DescribeVPCConnection",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/{AwsAccountId}/vpc-connections/{VPCConnectionId}"
      },
      "input":{"shape":"DescribeVPCConnectionRequest"},
      "output":{"shape":"DescribeVPCConnectionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Describes a VPC connection.</p>"
    },
    "GenerateEmbedUrlForAnonymousUser":{
      "name":"GenerateEmbedUrlForAnonymousUser",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/embed-url/anonymous-user"
      },
      "input":{"shape":"GenerateEmbedUrlForAnonymousUserRequest"},
      "output":{"shape":"GenerateEmbedUrlForAnonymousUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"SessionLifetimeInMinutesInvalidException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"UnsupportedPricingPlanException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Generates an embed URL that you can use to embed an Amazon QuickSight dashboard or visual in your website, without having to register any reader users. Before you use this action, make sure that you have configured the dashboards and permissions.</p> <p>The following rules apply to the generated URL:</p> <ul> <li> <p>It contains a temporary bearer token. It is valid for 5 minutes after it is generated. Once redeemed within this period, it cannot be re-used again.</p> </li> <li> <p>The URL validity period should not be confused with the actual session lifetime that can be customized using the <code> <a href=\"https://docs.aws.amazon.com/quicksight/latest/APIReference/API_GenerateEmbedUrlForAnonymousUser.html#QS-GenerateEmbedUrlForAnonymousUser-request-SessionLifetimeInMinutes\">SessionLifetimeInMinutes</a> </code> parameter. The resulting user session is valid for 15 minutes (minimum) to 10 hours (maximum). The default session duration is 10 hours.</p> </li> <li> <p>You are charged only when the URL is used or there is interaction with Amazon QuickSight.</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/embedded-analytics.html\">Embedded Analytics</a> in the <i>Amazon QuickSight User Guide</i>.</p> <p>For more information about the high-level steps for embedding and for an interactive demo of the ways you can customize embedding, visit the <a href=\"https://docs.aws.amazon.com/quicksight/latest/user/quicksight-dev-portal.html\">Amazon QuickSight Developer Portal</a>.</p>"
    },
    "GenerateEmbedUrlForRegisteredUser":{
      "name":"GenerateEmbedUrlForRegisteredUser",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/{AwsAccountId}/embed-url/registered-user"
      },
      "input":{"shape":"GenerateEmbedUrlForRegisteredUserRequest"},
      "output":{"shape":"GenerateEmbedUrlForRegisteredUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"QuickSightUserNotFoundException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"SessionLifetimeInMinutesInvalidException"},
        {"shape":"ThrottlingException"},
        {"shape":"UnsupportedUserEditionException"},
        {"shape":"UnsupportedPricingPlanException"},
        {"shape":"InternalFailureException"}
      ],
[...]
