<img class="cover" src="{{content.data.cover}}" />
<section class="banner">
    <span class="song-artist">{{content.data.artist}}</span>
    <span class="song-title">{{oontent.data.title}}</span>
</section>