<div class="chart">
    <canvas id="poststats" width="250" height="250"></canvas>
    <div class="sheen"></div>
    <ul class="data">
        <li><span class="ready">{{content.data.ready}}</span> Ready</li>
        <li><span class="pending">{{content.data.pending}}</span> Pending</li>
        <li><span class="draft">{{content.data.draft}}</span> Draft</li>
    </ul>
</div>