{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-09-22",
    "endpointPrefix":"codeartifact",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"CodeArtifact",
    "serviceId":"codeartifact",
    "signatureVersion":"v4",
    "signingName":"codeartifact",
    "uid":"codeartifact-2018-09-22",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AssociateExternalConnection":{
      "name":"AssociateExternalConnection",
      "http":{
        "method":"POST",
        "requestUri":"/v1/repository/external-connection"
      },
      "input":{"shape":"AssociateExternalConnectionRequest"},
      "output":{"shape":"AssociateExternalConnectionResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Adds an existing external connection to a repository. One external connection is allowed per repository.</p> <note> <p>A repository can have one or more upstream repositories, or an external connection.</p> </note>"
    },
    "CopyPackageVersions":{
      "name":"CopyPackageVersions",
      "http":{
        "method":"POST",
        "requestUri":"/v1/package/versions/copy"
      },
      "input":{"shape":"CopyPackageVersionsRequest"},
      "output":{"shape":"CopyPackageVersionsResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Copies package versions from one repository to another repository in the same domain. </p> <note> <p> You must specify <code>versions</code> or <code>versionRevisions</code>. You cannot specify both. </p> </note>"
    },
    "CreateDomain":{
      "name":"CreateDomain",
      "http":{
        "method":"POST",
        "requestUri":"/v1/domain"
      },
      "input":{"shape":"CreateDomainRequest"},
      "output":{"shape":"CreateDomainResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Creates a domain. CodeArtifact <i>domains</i> make it easier to manage multiple repositories across an organization. You can use a domain to apply permissions across many repositories owned by different Amazon Web Services accounts. An asset is stored only once in a domain, even if it's in multiple repositories. </p> <p>Although you can have multiple domains, we recommend a single production domain that contains all published artifacts so that your development teams can find and share packages. You can use a second pre-production domain to test changes to the production domain configuration. </p>"
    },
    "CreatePackageGroup":{
      "name":"CreatePackageGroup",
      "http":{
        "method":"POST",
        "requestUri":"/v1/package-group"
      },
      "input":{"shape":"CreatePackageGroupRequest"},
      "output":{"shape":"CreatePackageGroupResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Creates a package group. For more information about creating package groups, including example CLI commands, see <a href=\"https://docs.aws.amazon.com/codeartifact/latest/ug/create-package-group.html\">Create a package group</a> in the <i>CodeArtifact User Guide</i>. </p>"
    },
    "CreateRepository":{
      "name":"CreateRepository",
      "http":{
        "method":"POST",
        "requestUri":"/v1/repository"
      },
      "input":{"shape":"CreateRepositoryRequest"},
      "output":{"shape":"CreateRepositoryResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Creates a repository. </p>"
    },
    "DeleteDomain":{
      "name":"DeleteDomain",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/domain"
      },
      "input":{"shape":"DeleteDomainRequest"},
      "output":{"shape":"DeleteDomainResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Deletes a domain. You cannot delete a domain that contains repositories. If you want to delete a domain with repositories, first delete its repositories. </p>"
    },
    "DeleteDomainPermissionsPolicy":{
      "name":"DeleteDomainPermissionsPolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/domain/permissions/policy"
      },
      "input":{"shape":"DeleteDomainPermissionsPolicyRequest"},
      "output":{"shape":"DeleteDomainPermissionsPolicyResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Deletes the resource policy set on a domain. </p>"
    },
    "DeletePackage":{
      "name":"DeletePackage",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/package"
      },
      "input":{"shape":"DeletePackageRequest"},
      "output":{"shape":"DeletePackageResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes a package and all associated package versions. A deleted package cannot be restored. To delete one or more package versions, use the <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_DeletePackageVersions.html\">DeletePackageVersions</a> API.</p>"
    },
    "DeletePackageGroup":{
      "name":"DeletePackageGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/package-group"
      },
      "input":{"shape":"DeletePackageGroupRequest"},
      "output":{"shape":"DeletePackageGroupResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes a package group. Deleting a package group does not delete packages or package versions associated with the package group. When a package group is deleted, the direct child package groups will become children of the package group's direct parent package group. Therefore, if any of the child groups are inheriting any settings from the parent, those settings could change.</p>",
      "idempotent":true
    },
    "DeletePackageVersions":{
      "name":"DeletePackageVersions",
      "http":{
        "method":"POST",
        "requestUri":"/v1/package/versions/delete"
      },
      "input":{"shape":"DeletePackageVersionsRequest"},
      "output":{"shape":"DeletePackageVersionsResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Deletes one or more versions of a package. A deleted package version cannot be restored in your repository. If you want to remove a package version from your repository and be able to restore it later, set its status to <code>Archived</code>. Archived packages cannot be downloaded from a repository and don't show up with list package APIs (for example, <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_ListPackageVersions.html\">ListPackageVersions</a>), but you can restore them using <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_UpdatePackageVersionsStatus.html\">UpdatePackageVersionsStatus</a>. </p>"
    },
    "DeleteRepository":{
      "name":"DeleteRepository",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/repository"
      },
      "input":{"shape":"DeleteRepositoryRequest"},
      "output":{"shape":"DeleteRepositoryResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Deletes a repository. </p>"
    },
    "DeleteRepositoryPermissionsPolicy":{
      "name":"DeleteRepositoryPermissionsPolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/repository/permissions/policies"
      },
      "input":{"shape":"DeleteRepositoryPermissionsPolicyRequest"},
      "output":{"shape":"DeleteRepositoryPermissionsPolicyResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Deletes the resource policy that is set on a repository. After a resource policy is deleted, the permissions allowed and denied by the deleted policy are removed. The effect of deleting a resource policy might not be immediate. </p> <important> <p> Use <code>DeleteRepositoryPermissionsPolicy</code> with caution. After a policy is deleted, Amazon Web Services users, roles, and accounts lose permissions to perform the repository actions granted by the deleted policy. </p> </important>"
    },
    "DescribeDomain":{
      "name":"DescribeDomain",
      "http":{
        "method":"GET",
        "requestUri":"/v1/domain"
      },
      "input":{"shape":"DescribeDomainRequest"},
      "output":{"shape":"DescribeDomainResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Returns a <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_DomainDescription.html\">DomainDescription</a> object that contains information about the requested domain. </p>"
    },
    "DescribePackage":{
      "name":"DescribePackage",
      "http":{
        "method":"GET",
        "requestUri":"/v1/package"
      },
      "input":{"shape":"DescribePackageRequest"},
      "output":{"shape":"DescribePackageResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Returns a <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_PackageDescription.html\">PackageDescription</a> object that contains information about the requested package.</p>"
    },
    "DescribePackageGroup":{
      "name":"DescribePackageGroup",
      "http":{
        "method":"GET",
        "requestUri":"/v1/package-group"
      },
      "input":{"shape":"DescribePackageGroupRequest"},
      "output":{"shape":"DescribePackageGroupResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns a <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_PackageGroupDescription.html\">PackageGroupDescription</a> object that contains information about the requested package group.</p>"
    },
    "DescribePackageVersion":{
      "name":"DescribePackageVersion",
      "http":{
        "method":"GET",
        "requestUri":"/v1/package/version"
      },
      "input":{"shape":"DescribePackageVersionRequest"},
      "output":{"shape":"DescribePackageVersionResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Returns a <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_PackageVersionDescription.html\">PackageVersionDescription</a> object that contains information about the requested package version. </p>"
    },
    "DescribeRepository":{
      "name":"DescribeRepository",
      "http":{
        "method":"GET",
        "requestUri":"/v1/repository"
      },
      "input":{"shape":"DescribeRepositoryRequest"},
      "output":{"shape":"DescribeRepositoryResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Returns a <code>RepositoryDescription</code> object that contains detailed information about the requested repository. </p>"
    },
    "DisassociateExternalConnection":{
      "name":"DisassociateExternalConnection",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/repository/external-connection"
      },
      "input":{"shape":"DisassociateExternalConnectionRequest"},
      "output":{"shape":"DisassociateExternalConnectionResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Removes an existing external connection from a repository. </p>"
    },
    "DisposePackageVersions":{
      "name":"DisposePackageVersions",
      "http":{
        "method":"POST",
        "requestUri":"/v1/package/versions/dispose"
      },
      "input":{"shape":"DisposePackageVersionsRequest"},
      "output":{"shape":"DisposePackageVersionsResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Deletes the assets in package versions and sets the package versions' status to <code>Disposed</code>. A disposed package version cannot be restored in your repository because its assets are deleted. </p> <p> To view all disposed package versions in a repository, use <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_ListPackageVersions.html\">ListPackageVersions</a> and set the <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_ListPackageVersions.html#API_ListPackageVersions_RequestSyntax\">status</a> parameter to <code>Disposed</code>. </p> <p> To view information about a disposed package version, use <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_DescribePackageVersion.html\">DescribePackageVersion</a>. </p>"
    },
    "GetAssociatedPackageGroup":{
      "name":"GetAssociatedPackageGroup",
      "http":{
        "method":"GET",
        "requestUri":"/v1/get-associated-package-group"
      },
      "input":{"shape":"GetAssociatedPackageGroupRequest"},
      "output":{"shape":"GetAssociatedPackageGroupResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns the most closely associated package group to the specified package. This API does not require that the package exist in any repository in the domain. As such, <code>GetAssociatedPackageGroup</code> can be used to see which package group's origin configuration applies to a package before that package is in a repository. This can be helpful to check if public packages are blocked without ingesting them.</p> <p>For information package group association and matching, see <a href=\"https://docs.aws.amazon.com/codeartifact/latest/ug/package-group-definition-syntax-matching-behavior.html\">Package group definition syntax and matching behavior</a> in the <i>CodeArtifact User Guide</i>.</p>"
    },
    "GetAuthorizationToken":{
      "name":"GetAuthorizationToken",
      "http":{
        "method":"POST",
        "requestUri":"/v1/authorization-token"
      },
      "input":{"shape":"GetAuthorizationTokenRequest"},
      "output":{"shape":"GetAuthorizationTokenResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Generates a temporary authorization token for accessing repositories in the domain. This API requires the <code>codeartifact:GetAuthorizationToken</code> and <code>sts:GetServiceBearerToken</code> permissions. For more information about authorization tokens, see <a href=\"https://docs.aws.amazon.com/codeartifact/latest/ug/tokens-authentication.html\">CodeArtifact authentication and tokens</a>. </p> <note> <p>CodeArtifact authorization tokens are valid for a period of 12 hours when created with the <code>login</code> command. You can call <code>login</code> periodically to refresh the token. When you create an authorization token with the <code>GetAuthorizationToken</code> API, you can set a custom authorization period, up to a maximum of 12 hours, with the <code>durationSeconds</code> parameter.</p> <p>The authorization period begins after <code>login</code> or <code>GetAuthorizationToken</code> is called. If <code>login</code> or <code>GetAuthorizationToken</code> is called while assuming a role, the token lifetime is independent of the maximum session duration of the role. For example, if you call <code>sts assume-role</code> and specify a session duration of 15 minutes, then generate a CodeArtifact authorization token, the token will be valid for the full authorization period even though this is longer than the 15-minute session duration.</p> <p>See <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use.html\">Using IAM Roles</a> for more information on controlling session duration. </p> </note>"
    },
    "GetDomainPermissionsPolicy":{
      "name":"GetDomainPermissionsPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/v1/domain/permissions/policy"
      },
      "input":{"shape":"GetDomainPermissionsPolicyRequest"},
      "output":{"shape":"GetDomainPermissionsPolicyResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Returns the resource policy attached to the specified domain. </p> <note> <p> The policy is a resource-based policy, not an identity-based policy. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_identity-vs-resource.html\">Identity-based policies and resource-based policies </a> in the <i>IAM User Guide</i>. </p> </note>"
    },
    "GetPackageVersionAsset":{
      "name":"GetPackageVersionAsset",
      "http":{
        "method":"GET",
        "requestUri":"/v1/package/version/asset"
      },
      "input":{"shape":"GetPackageVersionAssetRequest"},
      "output":{"shape":"GetPackageVersionAssetResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p> Returns an asset (or file) that is in a package. For example, for a Maven package version, use <code>GetPackageVersionAsset</code> to download a <code>JAR</code> file, a <code>POM</code> file, or any other assets in the package version. </p>"
    },
    "GetPackageVersionReadme":{
      "name":"GetPackageVersionReadme",
      "http":{
        "method":"GET",
        "requestUri":"/v1/package/version/readme"
      },
      "input":{"shape":"GetPackageVersionReadmeRequest"},
      "output":{"shape":"GetPackageVersionReadmeResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Gets the readme file or descriptive text for a package version. </p> <p> The returned text might contain formatting. For example, it might contain formatting for Markdown or reStructuredText. </p>"
    },
    "GetRepositoryEndpoint":{
      "name":"GetRepositoryEndpoint",
      "http":{
        "method":"GET",
        "requestUri":"/v1/repository/endpoint"
      },
      "input":{"shape":"GetRepositoryEndpointRequest"},
      "output":{"shape":"GetRepositoryEndpointResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Returns the endpoint of a repository for a specific package format. A repository has one endpoint for each package format: </p> <ul> <li> <p> <code>cargo</code> </p> </li> <li> <p> <code>generic</code> </p> </li> <li> <p> <code>maven</code> </p> </li> <li> <p> <code>npm</code> </p> </li> <li> <p> <code>nuget</code> </p> </li> <li> <p> <code>pypi</code> </p> </li> <li> <p> <code>ruby</code> </p> </li> <li> <p> <code>swift</code> </p> </li> </ul>"
    },
    "GetRepositoryPermissionsPolicy":{
      "name":"GetRepositoryPermissionsPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/v1/repository/permissions/policy"
      },
      "input":{"shape":"GetRepositoryPermissionsPolicyRequest"},
      "output":{"shape":"GetRepositoryPermissionsPolicyResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Returns the resource policy that is set on a repository. </p>"
    },
    "ListAllowedRepositoriesForGroup":{
      "name":"ListAllowedRepositoriesForGroup",
      "http":{
        "method":"GET",
        "requestUri":"/v1/package-group-allowed-repositories"
      },
      "input":{"shape":"ListAllowedRepositoriesForGroupRequest"},
      "output":{"shape":"ListAllowedRepositoriesForGroupResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists the repositories in the added repositories list of the specified restriction type for a package group. For more information about restriction types and added repository lists, see <a href=\"https://docs.aws.amazon.com/codeartifact/latest/ug/package-group-origin-controls.html\">Package group origin controls</a> in the <i>CodeArtifact User Guide</i>. </p>"
    },
    "ListAssociatedPackages":{
      "name":"ListAssociatedPackages",
      "http":{
        "method":"GET",
        "requestUri":"/v1/list-associated-packages"
      },
      "input":{"shape":"ListAssociatedPackagesRequest"},
      "output":{"shape":"ListAssociatedPackagesResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns a list of packages associated with the requested package group. For information package group association and matching, see <a href=\"https://docs.aws.amazon.com/codeartifact/latest/ug/package-group-definition-syntax-matching-behavior.html\">Package group definition syntax and matching behavior</a> in the <i>CodeArtifact User Guide</i>.</p>"
    },
    "ListDomains":{
      "name":"ListDomains",
      "http":{
        "method":"POST",
        "requestUri":"/v1/domains"
      },
      "input":{"shape":"ListDomainsRequest"},
      "output":{"shape":"ListDomainsResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Returns a list of <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_PackageVersionDescription.html\">DomainSummary</a> objects for all domains owned by the Amazon Web Services account that makes this call. Each returned <code>DomainSummary</code> object contains information about a domain. </p>"
    },
    "ListPackageGroups":{
      "name":"ListPackageGroups",
      "http":{
        "method":"POST",
        "requestUri":"/v1/package-groups"
      },
      "input":{"shape":"ListPackageGroupsRequest"},
      "output":{"shape":"ListPackageGroupsResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns a list of package groups in the requested domain.</p>"
    },
    "ListPackageVersionAssets":{
      "name":"ListPackageVersionAssets",
      "http":{
        "method":"POST",
        "requestUri":"/v1/package/version/assets"
      },
      "input":{"shape":"ListPackageVersionAssetsRequest"},
      "output":{"shape":"ListPackageVersionAssetsResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Returns a list of <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_AssetSummary.html\">AssetSummary</a> objects for assets in a package version. </p>"
    },
    "ListPackageVersionDependencies":{
      "name":"ListPackageVersionDependencies",
      "http":{
        "method":"POST",
        "requestUri":"/v1/package/version/dependencies"
      },
      "input":{"shape":"ListPackageVersionDependenciesRequest"},
      "output":{"shape":"ListPackageVersionDependenciesResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Returns the direct dependencies for a package version. The dependencies are returned as <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_PackageDependency.html\">PackageDependency</a> objects. CodeArtifact extracts the dependencies for a package version from the metadata file for the package format (for example, the <code>package.json</code> file for npm packages and the <code>pom.xml</code> file for Maven). Any package version dependencies that are not listed in the configuration file are not returned. </p>"
    },
    "ListPackageVersions":{
      "name":"ListPackageVersions",
      "http":{
        "method":"POST",
        "requestUri":"/v1/package/versions"
      },
      "input":{"shape":"ListPackageVersionsRequest"},
      "output":{"shape":"ListPackageVersionsResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Returns a list of <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_PackageVersionSummary.html\">PackageVersionSummary</a> objects for package versions in a repository that match the request parameters. Package versions of all statuses will be returned by default when calling <code>list-package-versions</code> with no <code>--status</code> parameter. </p>"
    },
    "ListPackages":{
      "name":"ListPackages",
      "http":{
        "method":"POST",
        "requestUri":"/v1/packages"
      },
      "input":{"shape":"ListPackagesRequest"},
      "output":{"shape":"ListPackagesResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Returns a list of <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_PackageSummary.html\">PackageSummary</a> objects for packages in a repository that match the request parameters. </p>"
    },
    "ListRepositories":{
      "name":"ListRepositories",
      "http":{
        "method":"POST",
        "requestUri":"/v1/repositories"
      },
      "input":{"shape":"ListRepositoriesRequest"},
      "output":{"shape":"ListRepositoriesResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Returns a list of <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_RepositorySummary.html\">RepositorySummary</a> objects. Each <code>RepositorySummary</code> contains information about a repository in the specified Amazon Web Services account and that matches the input parameters. </p>"
    },
    "ListRepositoriesInDomain":{
      "name":"ListRepositoriesInDomain",
      "http":{
        "method":"POST",
        "requestUri":"/v1/domain/repositories"
      },
      "input":{"shape":"ListRepositoriesInDomainRequest"},
      "output":{"shape":"ListRepositoriesInDomainResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Returns a list of <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_RepositorySummary.html\">RepositorySummary</a> objects. Each <code>RepositorySummary</code> contains information about a repository in the specified domain and that matches the input parameters. </p>"
    },
    "ListSubPackageGroups":{
      "name":"ListSubPackageGroups",
      "http":{
        "method":"POST",
        "requestUri":"/v1/package-groups/sub-groups"
      },
      "input":{"shape":"ListSubPackageGroupsRequest"},
      "output":{"shape":"ListSubPackageGroupsResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns a list of direct children of the specified package group.</p> <p>For information package group hierarchy, see <a href=\"https://docs.aws.amazon.com/codeartifact/latest/ug/package-group-definition-syntax-matching-behavior.html\">Package group definition syntax and matching behavior</a> in the <i>CodeArtifact User Guide</i>.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/v1/tags"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets information about Amazon Web Services tags for a specified Amazon Resource Name (ARN) in CodeArtifact.</p>"
    },
    "PublishPackageVersion":{
      "name":"PublishPackageVersion",
      "http":{
        "method":"POST",
        "requestUri":"/v1/package/version/publish"
      },
      "input":{"shape":"PublishPackageVersionRequest"},
      "output":{"shape":"PublishPackageVersionResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Creates a new package version containing one or more assets (or files).</p> <p>The <code>unfinished</code> flag can be used to keep the package version in the <code>Unfinished</code> state until all of its assets have been uploaded (see <a href=\"https://docs.aws.amazon.com/codeartifact/latest/ug/packages-overview.html#package-version-status.html#package-version-status\">Package version status</a> in the <i>CodeArtifact user guide</i>). To set the package version’s status to <code>Published</code>, omit the <code>unfinished</code> flag when uploading the final asset, or set the status using <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_UpdatePackageVersionsStatus.html\">UpdatePackageVersionStatus</a>. Once a package version’s status is set to <code>Published</code>, it cannot change back to <code>Unfinished</code>.</p> <note> <p>Only generic packages can be published using this API. For more information, see <a href=\"https://docs.aws.amazon.com/codeartifact/latest/ug/using-generic.html\">Using generic packages</a> in the <i>CodeArtifact User Guide</i>.</p> </note>"
    },
    "PutDomainPermissionsPolicy":{
      "name":"PutDomainPermissionsPolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/v1/domain/permissions/policy"
      },
      "input":{"shape":"PutDomainPermissionsPolicyRequest"},
      "output":{"shape":"PutDomainPermissionsPolicyResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Sets a resource policy on a domain that specifies permissions to access it. </p> <p> When you call <code>PutDomainPermissionsPolicy</code>, the resource policy on the domain is ignored when evaluting permissions. This ensures that the owner of a domain cannot lock themselves out of the domain, which would prevent them from being able to update the resource policy. </p>"
    },
    "PutPackageOriginConfiguration":{
      "name":"PutPackageOriginConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/v1/package"
      },
      "input":{"shape":"PutPackageOriginConfigurationRequest"},
      "output":{"shape":"PutPackageOriginConfigurationResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Sets the package origin configuration for a package.</p> <p>The package origin configuration determines how new versions of a package can be added to a repository. You can allow or block direct publishing of new package versions, or ingestion and retaining of new package versions from an external connection or upstream source. For more information about package origin controls and configuration, see <a href=\"https://docs.aws.amazon.com/codeartifact/latest/ug/package-origin-controls.html\">Editing package origin controls</a> in the <i>CodeArtifact User Guide</i>.</p> <p> <code>PutPackageOriginConfiguration</code> can be called on a package that doesn't yet exist in the repository. When called on a package that does not exist, a package is created in the repository with no versions and the requested restrictions are set on the package. This can be used to preemptively block ingesting or retaining any versions from external connections or upstream repositories, or to block publishing any versions of the package into the repository before connecting any package managers or publishers to the repository.</p>"
    },
    "PutRepositoryPermissionsPolicy":{
      "name":"PutRepositoryPermissionsPolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/v1/repository/permissions/policy"
      },
      "input":{"shape":"PutRepositoryPermissionsPolicyRequest"},
      "output":{"shape":"PutRepositoryPermissionsPolicyResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Sets the resource policy on a repository that specifies permissions to access it. </p> <p> When you call <code>PutRepositoryPermissionsPolicy</code>, the resource policy on the repository is ignored when evaluting permissions. This ensures that the owner of a repository cannot lock themselves out of the repository, which would prevent them from being able to update the resource policy. </p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/v1/tag"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Adds or updates tags for a resource in CodeArtifact.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/v1/untag"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Removes tags from a resource in CodeArtifact.</p>"
    },
    "UpdatePackageGroup":{
      "name":"UpdatePackageGroup",
      "http":{
        "method":"PUT",
        "requestUri":"/v1/package-group"
      },
      "input":{"shape":"UpdatePackageGroupRequest"},
      "output":{"shape":"UpdatePackageGroupResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Updates a package group. This API cannot be used to update a package group's origin configuration or pattern. To update a package group's origin configuration, use <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_UpdatePackageGroupOriginConfiguration.html\">UpdatePackageGroupOriginConfiguration</a>.</p>",
      "idempotent":true
    },
    "UpdatePackageGroupOriginConfiguration":{
      "name":"UpdatePackageGroupOriginConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/v1/package-group-origin-configuration"
      },
      "input":{"shape":"UpdatePackageGroupOriginConfigurationRequest"},
      "output":{"shape":"UpdatePackageGroupOriginConfigurationResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Updates the package origin configuration for a package group.</p> <p>The package origin configuration determines how new versions of a package can be added to a repository. You can allow or block direct publishing of new package versions, or ingestion and retaining of new package versions from an external connection or upstream source. For more information about package group origin controls and configuration, see <a href=\"https://docs.aws.amazon.com/codeartifact/latest/ug/package-group-origin-controls.html\">Package group origin controls</a> in the <i>CodeArtifact User Guide</i>.</p>",
      "idempotent":true
    },
    "UpdatePackageVersionsStatus":{
      "name":"UpdatePackageVersionsStatus",
      "http":{
        "method":"POST",
        "requestUri":"/v1/package/versions/update_status"
      },
      "input":{"shape":"UpdatePackageVersionsStatusRequest"},
      "output":{"shape":"UpdatePackageVersionsStatusResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Updates the status of one or more versions of a package. Using <code>UpdatePackageVersionsStatus</code>, you can update the status of package versions to <code>Archived</code>, <code>Published</code>, or <code>Unlisted</code>. To set the status of a package version to <code>Disposed</code>, use <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_DisposePackageVersions.html\">DisposePackageVersions</a>. </p>"
    },
    "UpdateRepository":{
      "name":"UpdateRepository",
      "http":{
        "method":"PUT",
        "requestUri":"/v1/repository"
      },
      "input":{"shape":"UpdateRepositoryRequest"},
      "output":{"shape":"UpdateRepositoryResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Update the properties of a repository. </p>"
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p> The operation did not succeed because of an unauthorized access attempt. </p>",
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "AccountId":{
      "type":"string",
      "max":12,
      "min":12,
      "pattern":"[0-9]{12}"
    },
    "AllowPublish":{
      "type":"string",
      "enum":[
        "ALLOW",
        "BLOCK"
      ]
    },
    "AllowUpstream":{
      "type":"string",
      "enum":[
        "ALLOW",
        "BLOCK"
      ]
    },
    "Arn":{
      "type":"string",
      "max":1011,
      "min":1,
      "pattern":"\\S+"
    },
    "Asset":{
      "type":"blob",
      "streaming":true
    },
    "AssetHashes":{
      "type":"map",
      "key":{"shape":"HashAlgorithm"},
      "value":{"shape":"HashValue"}
    },
    "AssetName":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"\\P{C}+"
    },
    "AssetSummary":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"AssetName",
          "documentation":"<p> The name of the asset. </p>"
        },
        "size":{
          "shape":"LongOptional",
          "documentation":"<p> The size of the asset. </p>"
        },
        "hashes":{
          "shape":"AssetHashes",
          "documentation":"<p> The hashes of the asset. </p>"
        }
      },
      "documentation":"<p> Contains details about a package version asset. </p>"
    },
    "AssetSummaryList":{
      "type":"list",
      "member":{"shape":"AssetSummary"}
    },
    "AssociateExternalConnectionRequest":{
      "type":"structure",
      "required":[
        "domain",
        "repository",
        "externalConnection"
      ],
      "members":{
        "domain":{
          "shape":"DomainName",
          "documentation":"<p>The name of the domain that contains the repository.</p>",
          "location":"querystring",
          "locationName":"domain"
        },
        "domainOwner":{
          "shape":"AccountId",
          "documentation":"<p> The 12-digit account number of the Amazon Web Services account that owns the domain. It does not include dashes or spaces. </p>",
          "location":"querystring",
          "locationName":"domain-owner"
        },
        "repository":{
          "shape":"RepositoryName",
          "documentation":"<p> The name of the repository to which the external connection is added. </p>",
          "location":"querystring",
          "locationName":"repository"
        },
        "externalConnection":{
          "shape":"ExternalConnectionName",
          "documentation":"<p> The name of the external connection to add to the repository. The following values are supported: </p> <ul> <li> <p> <code>public:npmjs</code> - for the npm public repository. </p> </li> <li> <p> <code>public:nuget-org</code> - for the NuGet Gallery. </p> </li> <li> <p> <code>public:pypi</code> - for the Python Package Index. </p> </li> <li> <p> <code>public:maven-central</code> - for Maven Central. </p> </li> <li> <p> <code>public:maven-googleandroid</code> - for the Google Android repository. </p> </li> <li> <p> <code>public:maven-gradleplugins</code> - for the Gradle plugins repository. </p> </li> <li> <p> <code>public:maven-commonsware</code> - for the CommonsWare Android repository. </p> </li> <li> <p> <code>public:maven-clojars</code> - for the Clojars repository. </p> </li> <li> <p> <code>public:ruby-gems-org</code> - for RubyGems.org. </p> </li> <li> <p> <code>public:crates-io</code> - for Crates.io. </p> </li> </ul>",
          "location":"querystring",
          "locationName":"external-connection"
        }
      }
    },
    "AssociateExternalConnectionResult":{
      "type":"structure",
      "members":{
        "repository":{
          "shape":"RepositoryDescription",
          "documentation":"<p> Information about the connected repository after processing the request. </p>"
        }
      }
    },
    "AssociatedPackage":{
      "type":"structure",
      "members":{
        "format":{
          "shape":"PackageFormat",
          "documentation":"<p>A format that specifies the type of the associated package.</p>"
        },
        "namespace":{
          "shape":"PackageNamespace",
          "documentation":"<p>The namespace of the associated package. The package component that specifies its namespace depends on its type. For example:</p> <ul> <li> <p> The namespace of a Maven package version is its <code>groupId</code>. </p> </li> <li> <p> The namespace of an npm or Swift package version is its <code>scope</code>. </p> </li> <li> <p>The namespace of a generic package is its <code>namespace</code>.</p> </li> <li> <p> Python, NuGet, Ruby, and Cargo package versions do not contain a corresponding component, package versions of those formats do not have a namespace. </p> </li> </ul>"
        },
        "package":{
          "shape":"PackageName",
          "documentation":"<p> The name of the associated package. </p>"
        },
        "associationType":{
          "shape":"PackageGroupAssociationType",
          "documentation":"<p>Describes the strength of the association between the package and package group. A strong match can be thought of as an exact match, and a weak match can be thought of as a variation match, for example, the package name matches a variation of the package group pattern. For more information about package group pattern matching, including strong and weak matches, see <a href=\"https://docs.aws.amazon.com/codeartifact/latest/ug/package-group-definition-syntax-matching-behavior.html\">Package group definition syntax and matching behavior</a> in the <i>CodeArtifact User Guide</i>.</p>"
        }
      },
      "documentation":"<p> A package associated with a package group. </p>"
    },
    "AssociatedPackageList":{
      "type":"list",
      "member":{"shape":"AssociatedPackage"}
    },
    "AuthorizationTokenDurationSeconds":{
      "type":"long",
      "max":43200,
      "min":0
    },
    "BooleanOptional":{"type":"boolean"},
    "ConflictException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "resourceId":{
          "shape":"String",
          "documentation":"<p> The ID of the resource. </p>"
        },
        "resourceType":{
          "shape":"ResourceType",
          "documentation":"<p> The type of Amazon Web Services resource. </p>"
        }
      },
      "documentation":"<p> The operation did not succeed because prerequisites are not met. </p>",
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "CopyPackageVersionsRequest":{
      "type":"structure",
      "required":[
        "domain",
        "sourceRepository",
        "destinationRepository",
        "format",
        "package"
      ],
      "members":{
        "domain":{
          "shape":"DomainName",
          "documentation":"<p> The name of the domain that contains the source and destination repositories. </p>",
          "location":"querystring",
          "locationName":"domain"
        },
        "domainOwner":{
          "shape":"AccountId",
          "documentation":"<p> The 12-digit account number of the Amazon Web Services account that owns the domain. It does not include dashes or spaces. </p>",
          "location":"querystring",
          "locationName":"domain-owner"
        },
        "sourceRepository":{
          "shape":"RepositoryName",
          "documentation":"<p> The name of the repository that contains the package versions to be copied. </p>",
          "location":"querystring",
          "locationName":"source-repository"
        },
        "destinationRepository":{
          "shape":"RepositoryName",
          "documentation":"<p> The name of the repository into which package versions are copied. </p>",
          "location":"querystring",
          "locationName":"destination-repository"
        },
        "format":{
          "shape":"PackageFormat",
          "documentation":"<p> The format of the package versions to be copied. </p>",
          "location":"querystring",
          "locationName":"format"
        },
        "namespace":{
          "shape":"PackageNamespace",
          "documentation":"<p>The namespace of the package versions to be copied. The package component that specifies its namespace depends on its type. For example:</p> <note> <p>The namespace is required when copying package versions of the following formats:</p> <ul> <li> <p>Maven</p> </li> <li> <p>Swift</p> </li> <li> <p>generic</p> </li> </ul> </note> <ul> <li> <p> The namespace of a Maven package version is its <code>groupId</code>. </p> </li> <li> <p> The namespace of an npm or Swift package version is its <code>scope</code>. </p> </li> <li> <p>The namespace of a generic package is its <code>namespace</code>.</p> </li> <li> <p> Python, NuGet, Ruby, and Cargo package versions do not contain a corresponding component, package versions of those formats do not have a namespace. </p> </li> </ul>",
          "location":"querystring",
          "locationName":"namespace"
        },
        "package":{
          "shape":"PackageName",
          "documentation":"<p> The name of the package that contains the versions to be copied. </p>",
          "location":"querystring",
          "locationName":"package"
        },
        "versions":{
          "shape":"PackageVersionList",
          "documentation":"<p> The versions of the package to be copied. </p> <note> <p> You must specify <code>versions</code> or <code>versionRevisions</code>. You cannot specify both. </p> </note>"
        },
        "versionRevisions":{
          "shape":"PackageVersionRevisionMap",
          "documentation":"<p> A list of key-value pairs. The keys are package versions and the values are package version revisions. A <code>CopyPackageVersion</code> operation succeeds if the specified versions in the source repository match the specified package version revision. </p> <note> <p> You must specify <code>versions</code> or <code>versionRevisions</code>. You cannot specify both. </p> </note>"
        },
        "allowOverwrite":{
          "shape":"BooleanOptional",
          "documentation":"<p> Set to true to overwrite a package version that already exists in the destination repository. If set to false and the package version already exists in the destination repository, the package version is returned in the <code>failedVersions</code> field of the response with an <code>ALREADY_EXISTS</code> error code. </p>"
        },
        "includeFromUpstream":{
          "shape":"BooleanOptional",
          "documentation":"<p> Set to true to copy packages from repositories that are upstream from the source repository to the destination repository. The default setting is false. For more information, see <a href=\"https://docs.aws.amazon.com/codeartifact/latest/ug/repos-upstream.html\">Working with upstream repositories</a>. </p>"
        }
      }
    },
    "CopyPackageVersionsResult":{
      "type":"structure",
      "members":{
        "successfulVersions":{
          "shape":"SuccessfulPackageVersionInfoMap",
          "documentation":"<p> A list of the package versions that were successfully copied to your repository. </p>"
        },
        "failedVersions":{
          "shape":"PackageVersionErrorMap",
          "documentation":"<p> A map of package versions that failed to copy and their error codes. The possible error codes are in the <code>PackageVersionError</code> data type. They are: </p> <ul> <li> <p> <code>ALREADY_EXISTS</code> </p> </li> <li> <p> <code>MISMATCHED_REVISION</code> </p> </li> <li> <p> <code>MISMATCHED_STATUS</code> </p> </li> <li> <p> <code>NOT_ALLOWED</code> </p> </li> <li> <p> <code>NOT_FOUND</code> </p> </li> <li> <p> <code>SKIPPED</code> </p> </li> </ul>"
        }
      }
    },
    "CreateDomainRequest":{
      "type":"structure",
      "required":["domain"],
      "members":{
        "domain":{
          "shape":"DomainName",
          "documentation":"<p> The name of the domain to create. All domain names in an Amazon Web Services Region that are in the same Amazon Web Services account must be unique. The domain name is used as the prefix in DNS hostnames. Do not use sensitive information in a domain name because it is publicly discoverable. </p>",
          "location":"querystring",
          "locationName":"domain"
        },
        "encryptionKey":{
          "shape":"Arn",
          "documentation":"<p> The encryption key for the domain. This is used to encrypt content stored in a domain. An encryption key can be a key ID, a key Amazon Resource Name (ARN), a key alias, or a key alias ARN. To specify an <code>encryptionKey</code>, your IAM role must have <code>kms:DescribeKey</code> and <code>kms:CreateGrant</code> permissions on the encryption key that is used. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_DescribeKey.html#API_DescribeKey_RequestSyntax\">DescribeKey</a> in the <i>Key Management Service API Reference</i> and <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/kms-api-permissions-reference.html\">Key Management Service API Permissions Reference</a> in the <i>Key Management Service Developer Guide</i>. </p> <important> <p> CodeArtifact supports only symmetric CMKs. Do not associate an asymmetric CMK with your domain. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/symmetric-asymmetric.html\">Using symmetric and asymmetric keys</a> in the <i>Key Management Service Developer Guide</i>. </p> </important>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>One or more tag key-value pairs for the domain.</p>"
        }
      }
    },
    "CreateDomainResult":{
      "type":"structure",
      "members":{
        "domain":{
          "shape":"DomainDescription",
          "documentation":"<p> Contains information about the created domain after processing the request. </p>"
        }
      }
    },
    "CreatePackageGroupRequest":{
      "type":"structure",
      "required":[
        "domain",
        "packageGroup"
      ],
      "members":{
        "domain":{
          "shape":"DomainName",
          "documentation":"<p> The name of the domain in which you want to create a package group. </p>",
          "location":"querystring",
          "locationName":"domain"
        },
        "domainOwner":{
          "shape":"AccountId",
          "documentation":"<p> The 12-digit account number of the Amazon Web Services account that owns the domain. It does not include dashes or spaces. </p>",
          "location":"querystring",
          "locationName":"domain-owner"
        },
        "packageGroup":{
          "shape":"PackageGroupPattern",
          "documentation":"<p>The pattern of the package group to create. The pattern is also the identifier of the package group. </p>"
        },
        "contactInfo":{
          "shape":"PackageGroupContactInfo",
          "documentation":"<p> The contact information for the created package group. </p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p> A description of the package group. </p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>One or more tag key-value pairs for the package group.</p>"
        }
      }
    },
    "CreatePackageGroupResult":{
      "type":"structure",
      "members":{
        "packageGroup":{
          "shape":"PackageGroupDescription",
          "documentation":"<p> Information about the created package group after processing the request. </p>"
        }
      }
    },
    "CreateRepositoryRequest":{
      "type":"structure",
      "required":[
        "domain",
        "repository"
      ],
      "members":{
        "domain":{
          "shape":"DomainName",
          "documentation":"<p> The name of the domain that contains the created repository. </p>",
          "location":"querystring",
          "locationName":"domain"
        },
        "domainOwner":{
          "shape":"AccountId",
          "documentation":"<p> The 12-digit account number of the Amazon Web Services account that owns the domain. It does not include dashes or spaces. </p>",
          "location":"querystring",
          "locationName":"domain-owner"
        },
        "repository":{
          "shape":"RepositoryName",
          "documentation":"<p>The name of the repository to create. </p>",
          "location":"querystring",
          "locationName":"repository"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p> A description of the created repository. </p>"
        },
        "upstreams":{
          "shape":"UpstreamRepositoryList",
          "documentation":"<p> A list of upstream repositories to associate with the repository. The order of the upstream repositories in the list determines their priority order when CodeArtifact looks for a requested package version. For more information, see <a href=\"https://docs.aws.amazon.com/codeartifact/latest/ug/repos-upstream.html\">Working with upstream repositories</a>. </p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>One or more tag key-value pairs for the repository.</p>"
        }
      }
    },
    "CreateRepositoryResult":{
      "type":"structure",
      "members":{
        "repository":{
          "shape":"RepositoryDescription",
          "documentation":"<p> Information about the created repository after processing the request. </p>"
        }
      }
    },
    "DeleteDomainPermissionsPolicyRequest":{
      "type":"structure",
      "required":["domain"],
      "members":{
        "domain":{
          "shape":"DomainName",
          "documentation":"<p> The name of the domain associated with the resource policy to be deleted. </p>",
          "location":"querystring",
          "locationName":"domain"
        },
        "domainOwner":{
          "shape":"AccountId",
          "documentation":"<p> The 12-digit account number of the Amazon Web Services account that owns the domain. It does not include dashes or spaces. </p>",
          "location":"querystring",
          "locationName":"domain-owner"
        },
        "policyRevision":{
          "shape":"PolicyRevision",
          "documentation":"<p> The current revision of the resource policy to be deleted. This revision is used for optimistic locking, which prevents others from overwriting your changes to the domain's resource policy. </p>",
          "location":"querystring",
          "locationName":"policy-revision"
        }
      }
    },
    "DeleteDomainPermissionsPolicyResult":{
      "type":"structure",
      "members":{
        "policy":{
          "shape":"ResourcePolicy",
          "documentation":"<p> Information about the deleted resource policy after processing the request. </p>"
        }
      }
    },
    "DeleteDomainRequest":{
      "type":"structure",
      "required":["domain"],
      "members":{
        "domain":{
          "shape":"DomainName",
          "documentation":"<p> The name of the domain to delete. </p>",
          "location":"querystring",
          "locationName":"domain"
        },
        "domainOwner":{
          "shape":"AccountId",
          "documentation":"<p> The 12-digit account number of the Amazon Web Services account that owns the domain. It does not include dashes or spaces. </p>",
          "location":"querystring",
          "locationName":"domain-owner"
        }
      }
    },
    "DeleteDomainResult":{
      "type":"structure",
      "members":{
        "domain":{
          "shape":"DomainDescription",
          "documentation":"<p> Contains information about the deleted domain after processing the request. </p>"
        }
      }
    },
    "DeletePackageGroupRequest":{
      "type":"structure",
      "required":[
        "domain",
        "packageGroup"
      ],
      "members":{
        "domain":{
          "shape":"DomainName",
          "documentation":"<p> The domain that contains the package group to be deleted. </p>",
          "location":"querystring",
          "locationName":"domain"
        },
        "domainOwner":{
          "shape":"AccountId",
          "documentation":"<p> The 12-digit account number of the Amazon Web Services account that owns the domain. It does not include dashes or spaces. </p>",
          "location":"querystring",
          "locationName":"domain-owner"
        },
        "packageGroup":{
          "shape":"String",
          "documentation":"<p>The pattern of the package group to be deleted.</p>",
          "location":"querystring",
          "locationName":"package-group"
        }
      }
    },
    "DeletePackageGroupResult":{
      "type":"structure",
      "members":{
        "packageGroup":{
          "shape":"PackageGroupDescription",
          "documentation":"<p> Information about the deleted package group after processing the request. </p>"
        }
      }
    },
    "DeletePackageRequest":{
      "type":"structure",
      "required":[
        "domain",
        "repository",
        "format",
        "package"
      ],
      "members":{
        "domain":{
          "shape":"DomainName",
          "documentation":"<p>The name of the domain that contains the package to delete.</p>",
          "location":"querystring",
          "locationName":"domain"
        },
        "domainOwner":{
          "shape":"AccountId",
          "documentation":"<p> The 12-digit account number of the Amazon Web Services account that owns the domain. It does not include dashes or spaces. </p>",
          "location":"querystring",
          "locationName":"domain-owner"
        },
        "repository":{
          "shape":"RepositoryName",
          "documentation":"<p>The name of the repository that contains the package to delete.</p>",
          "location":"querystring",
          "locationName":"repository"
        },
        "format":{
          "shape":"PackageFormat",
          "documentation":"<p>The format of the requested package to delete.</p>",
          "location":"querystring",
          "locationName":"format"
        },
        "namespace":{
          "shape":"PackageNamespace",
          "documentation":"<p>The namespace of the package to delete. The package component that specifies its namespace depends on its type. For example:</p> <note> <p>The namespace is required when deleting packages of the following formats:</p> <ul> <li> <p>Maven</p> </li> <li> <p>Swift</p> </li> <li> <p>generic</p> </li> </ul> </note> <ul> <li> <p> The namespace of a Maven package version is its <code>groupId</code>. </p> </li> <li> <p> The namespace of an npm or Swift package version is its <code>scope</code>. </p> </li> <li> <p>The namespace of a generic package is its <code>namespace</code>.</p> </li> <li> <p> Python, NuGet, Ruby, and Cargo package versions do not contain a corresponding component, package versions of those formats do not have a namespace. </p> </li> </ul>",
          "location":"querystring",
          "locationName":"namespace"
        },
        "package":{
          "shape":"PackageName",
          "documentation":"<p>The name of the package to delete.</p>",
          "location":"querystring",
          "locationName":"package"
        }
      }
    },
    "DeletePackageResult":{
      "type":"structure",
      "members":{
        "deletedPackage":{"shape":"PackageSummary"}
      }
    },
    "DeletePackageVersionsRequest":{
      "type":"structure",
      "required":[
        "domain",
        "repository",
        "format",
        "package",
        "versions"
      ],
      "members":{
        "domain":{
          "shape":"DomainName",
          "documentation":"<p> The name of the domain that contains the package to delete. </p>",
          "location":"querystring",
          "locationName":"domain"
        },
        "domainOwner":{
          "shape":"AccountId",
          "documentation":"<p> The 12-digit account number of the Amazon Web Services account that owns the domain. It does not include dashes or spaces. </p>",
          "location":"querystring",
          "locationName":"domain-owner"
        },
        "repository":{
          "shape":"RepositoryName",
          "documentation":"<p> The name of the repository that contains the package versions to delete. </p>",
          "location":"querystring",
          "locationName":"repository"
        },
        "format":{
          "shape":"PackageFormat",
          "documentation":"<p> The format of the package versions to delete. </p>",
          "location":"querystring",
          "locationName":"format"
        },
        "namespace":{
          "shape":"PackageNamespace",
          "documentation":"<p>The namespace of the package versions to be deleted. The package component that specifies its namespace depends on its type. For example:</p> <note> <p>The namespace is required when deleting package versions of the following formats:</p> <ul> <li> <p>Maven</p> </li> <li> <p>Swift</p> </li> <li> <p>generic</p> </li> </ul> </note> <ul> <li> <p> The namespace of a Maven package version is its <code>groupId</code>. </p> </li> <li> <p> The namespace of an npm or Swift package version is its <code>scope</code>. </p> </li> <li> <p>The namespace of a generic package is its <code>namespace</code>.</p> </li> <li> <p> Python, NuGet, Ruby, and Cargo package versions do not contain a corresponding component, package versions of those formats do not have a namespace. </p> </li> </ul>",
          "location":"querystring",
          "locationName":"namespace"
        },
        "package":{
          "shape":"PackageName",
          "documentation":"<p> The name of the package with the versions to delete. </p>",
          "location":"querystring",
          "locationName":"package"
        },
        "versions":{
          "shape":"PackageVersionList",
          "documentation":"<p> An array of strings that specify the versions of the package to delete. </p>"
        },
        "expectedStatus":{
          "shape":"PackageVersionStatus",
          "documentation":"<p> The expected status of the package version to delete. </p>"
        }
      }
    },
    "DeletePackageVersionsResult":{
      "type":"structure",
      "members":{
        "successfulVersions":{
          "shape":"SuccessfulPackageVersionInfoMap",
          "documentation":"<p> A list of the package versions that were successfully deleted. The status of every successful version will be <code>Deleted</code>. </p>"
        },
        "failedVersions":{
          "shape":"PackageVersionErrorMap",
          "documentation":"<p> A <code>PackageVersionError</code> object that contains a map of errors codes for the deleted package that failed. The possible error codes are: </p> <ul> <li> <p> <code>ALREADY_EXISTS</code> </p> </li> <li> <p> <code>MISMATCHED_REVISION</code> </p> </li> <li> <p> <code>MISMATCHED_STATUS</code> </p> </li> <li> <p> <code>NOT_ALLOWED</code> </p> </li> <li> <p> <code>NOT_FOUND</code> </p> </li> <li> <p> <code>SKIPPED</code> </p> </li> </ul>"
        }
      }
    },
    "DeleteRepositoryPermissionsPolicyRequest":{
      "type":"structure",
      "required":[
        "domain",
        "repository"
      ],
      "members":{
        "domain":{
          "shape":"DomainName",
          "documentation":"<p> The name of the domain that contains the repository associated with the resource policy to be deleted. </p>",
          "location":"querystring",
          "locationName":"domain"
        },
        "domainOwner":{
          "shape":"AccountId",
          "documentation":"<p> The 12-digit account number of the Amazon Web Services account that owns the domain. It does not include dashes or spaces. </p>",
          "location":"querystring",
          "locationName":"domain-owner"
        },
        "repository":{
          "shape":"RepositoryName",
          "documentation":"<p> The name of the repository that is associated with the resource policy to be deleted </p>",
          "location":"querystring",
          "locationName":"repository"
        },
        "policyRevision":{
          "shape":"PolicyRevision",
          "documentation":"<p> The revision of the repository's resource policy to be deleted. This revision is used for optimistic locking, which prevents others from accidentally overwriting your changes to the repository's resource policy. </p>",
          "location":"querystring",
          "locationName":"policy-revision"
        }
      }
    },
    "DeleteRepositoryPermissionsPolicyResult":{
      "type":"structure",
      "members":{
        "policy":{
          "shape":"ResourcePolicy",
          "documentation":"<p> Information about the deleted policy after processing the request. </p>"
        }
      }
    },
    "DeleteRepositoryRequest":{
      "type":"structure",
      "required":[
        "domain",
        "repository"
      ],
      "members":{
        "domain":{
          "shape":"DomainName",
          "documentation":"<p> The name of the domain that contains the repository to delete. </p>",
          "location":"querystring",
          "locationName":"domain"
        },
        "domainOwner":{
          "shape":"AccountId",
          "documentation":"<p> The 12-digit account number of the Amazon Web Services account that owns the domain. It does not include dashes or spaces. </p>",
          "location":"querystring",
          "locationName":"domain-owner"
        },
        "repository":{
          "shape":"RepositoryName",
          "documentation":"<p> The name of the repository to delete. </p>",
          "location":"querystring",
          "locationName":"repository"
        }
      }
    },
    "DeleteRepositoryResult":{
      "type":"structure",
      "members":{
        "repository":{
          "shape":"RepositoryDescription",
          "documentation":"<p> Information about the deleted repository after processing the request. </p>"
        }
      }
    },
    "DescribeDomainRequest":{
      "type":"structure",
      "required":["domain"],
      "members":{
        "domain":{
          "shape":"DomainName",
          "documentation":"<p> A string that specifies the name of the requested domain. </p>",
          "location":"querystring",
          "locationName":"domain"
        },
        "domainOwner":{
          "shape":"AccountId",
          "documentation":"<p> The 12-digit account number of the Amazon Web Services account that owns the domain. It does not include dashes or spaces. </p>",
          "location":"querystring",
          "locationName":"domain-owner"
        }
      }
    },
    "DescribeDomainResult":{
      "type":"structure",
      "members":{
        "domain":{"shape":"DomainDescription"}
      }
    },
    "DescribePackageGroupRequest":{
      "type":"structure",
      "required":[
        "domain",
        "packageGroup"
      ],
      "members":{
        "domain":{
          "shape":"DomainName",
          "documentation":"<p> The name of the domain that contains the package group. </p>",
          "location":"querystring",
          "locationName":"domain"
        },
        "domainOwner":{
          "shape":"AccountId",
          "documentation":"<p> The 12-digit account number of the Amazon Web Services account that owns the domain. It does not include dashes or spaces. </p>",
          "location":"querystring",
          "locationName":"domain-owner"
        },
        "packageGroup":{
          "shape":"PackageGroupPattern",
          "documentation":"<p>The pattern of the requested package group.</p>",
          "location":"querystring",
          "locationName":"package-group"
        }
      }
    },
    "DescribePackageGroupResult":{
      "type":"structure",
      "members":{
        "packageGroup":{
          "shape":"PackageGroupDescription",
          "documentation":"<p>A <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_PackageGroupDescription.html\">PackageGroupDescription</a> object that contains information about the requested package group.</p>"
        }
      }
    },
    "DescribePackageRequest":{
      "type":"structure",
      "required":[
        "domain",
        "repository",
        "format",
        "package"
      ],
      "members":{
        "domain":{
          "shape":"DomainName",
          "documentation":"<p>The name of the domain that contains the repository that contains the package.</p>",
          "location":"querystring",
          "locationName":"domain"
        },
        "domainOwner":{
          "shape":"AccountId",
          "documentation":"<p> The 12-digit account number of the Amazon Web Services account that owns the domain. It does not include dashes or spaces. </p>",
          "location":"querystring",
          "locationName":"domain-owner"
        },
        "repository":{
          "shape":"RepositoryName",
          "documentation":"<p>The name of the repository that contains the requested package. </p>",
          "location":"querystring",
          "locationName":"repository"
        },
        "format":{
          "shape":"PackageFormat",
          "documentation":"<p>A format that specifies the type of the requested package.</p>",
          "location":"querystring",
          "locationName":"format"
        },
        "namespace":{
          "shape":"PackageNamespace",
          "documentation":"<p>The namespace of the requested package. The package component that specifies its namespace depends on its type. For example:</p> <note> <p>The namespace is required when requesting packages of the following formats:</p> <ul> <li> <p>Maven</p> </li> <li> <p>Swift</p> </li> <li> <p>generic</p> </li> </ul> </note> <ul> <li> <p> The namespace of a Maven package version is its <code>groupId</code>. </p> </li> <li> <p> The namespace of an npm or Swift package version is its <code>scope</code>. </p> </li> <li> <p>The namespace of a generic package is its <code>namespace</code>.</p> </li> <li> <p> Python, NuGet, Ruby, and Cargo package versions do not contain a corresponding component, package versions of those formats do not have a namespace. </p> </li> </ul>",
          "location":"querystring",
          "locationName":"namespace"
        },
        "package":{
          "shape":"PackageName",
          "documentation":"<p>The name of the requested package.</p>",
          "location":"querystring",
          "locationName":"package"
        }
      }
    },
    "DescribePackageResult":{
      "type":"structure",
      "required":["package"],
      "members":{
        "package":{
          "shape":"PackageDescription",
          "documentation":"<p>A <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_PackageDescription.html\">PackageDescription</a> object that contains information about the requested package.</p>"
        }
      }
    },
    "DescribePackageVersionRequest":{
      "type":"structure",
      "required":[
        "domain",
        "repository",
        "format",
        "package",
        "packageVersion"
      ],
      "members":{
        "domain":{
          "shape":"DomainName",
          "documentation":"<p> The name of the domain that contains the repository that contains the package version. </p>",
          "location":"querystring",
          "locationName":"domain"
        },
        "domainOwner":{
          "shape":"AccountId",
          "documentation":"<p> The 12-digit account number of the Amazon Web Services account that owns the domain. It does not include dashes or spaces. </p>",
          "location":"querystring",
          "locationName":"domain-owner"
        },
        "repository":{
          "shape":"RepositoryName",
          "documentation":"<p> The name of the repository that contains the package version. </p>",
          "location":"querystring",
          "locationName":"repository"
        },
        "format":{
          "shape":"PackageFormat",
          "documentation":"<p> A format that specifies the type of the requested package version. </p>",
          "location":"querystring",
          "locationName":"format"
        },
        "namespace":{
          "shape":"PackageNamespace",
          "documentation":"<p>The namespace of the requested package version. The package component that specifies its namespace depends on its type. For example:</p> <note> <p>The namespace is required when requesting package versions of the following formats:</p> <ul> <li> <p>Maven</p> </li> <li> <p>Swift</p> </li> <li> <p>generic</p> </li> </ul> </note> <ul> <li> <p> The namespace of a Maven package version is its <code>groupId</code>. </p> </li> <li> <p> The namespace of an npm or Swift package version is its <code>scope</code>. </p> </li> <li> <p>The namespace of a generic package is its <code>namespace</code>.</p> </li> <li> <p> Python, NuGet, Ruby, and Cargo package versions do not contain a corresponding component, package versions of those formats do not have a namespace. </p> </li> </ul>",
          "location":"querystring",
          "locationName":"namespace"
        },
        "package":{
          "shape":"PackageName",
          "documentation":"<p> The name of the requested package version. </p>",
          "location":"querystring",
          "locationName":"package"
        },
        "packageVersion":{
          "shape":"PackageVersion",
          "documentation":"<p> A string that contains the package version (for example, <code>3.5.2</code>). </p>",
          "location":"querystring",
          "locationName":"version"
        }
      }
    },
    "DescribePackageVersionResult":{
      "type":"structure",
      "required":["packageVersion"],
      "members":{
        "packageVersion":{
          "shape":"PackageVersionDescription",
          "documentation":"<p> A <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_PackageVersionDescription.html\">PackageVersionDescription</a> object that contains information about the requested package version. </p>"
        }
      }
    },
    "DescribeRepositoryRequest":{
      "type":"structure",
      "required":[
        "domain",
        "repository"
      ],
      "members":{
        "domain":{
          "shape":"DomainName",
          "documentation":"<p> The name of the domain that contains the repository to describe. </p>",
          "location":"querystring",
          "locationName":"domain"
        },
        "domainOwner":{
          "shape":"AccountId",
          "documentation":"<p> The 12-digit account number of the Amazon Web Services account that owns the domain. It does not include dashes or spaces. </p>",
          "location":"querystring",
          "locationName":"domain-owner"
        },
        "repository":{
          "shape":"RepositoryName",
          "documentation":"<p> A string that specifies the name of the requested repository. </p>",
          "location":"querystring",
          "locationName":"repository"
        }
      }
    },
    "DescribeRepositoryResult":{
      "type":"structure",
      "members":{
        "repository":{
          "shape":"RepositoryDescription",
          "documentation":"<p> A <code>RepositoryDescription</code> object that contains the requested repository information. </p>"
        }
      }
    },
    "Description":{
      "type":"string",
      "max":1000,
      "pattern":"\\P{C}*"
    },
    "DisassociateExternalConnectionRequest":{
      "type":"structure",
      "required":[
        "domain",
        "repository",
        "externalConnection"
      ],
      "members":{
        "domain":{
          "shape":"DomainName",
          "documentation":"<p>The name of the domain that contains the repository from which to remove the external repository. </p>",
          "location":"querystring",
          "locationName":"domain"
        },
        "domainOwner":{
          "shape":"AccountId",
          "documentation":"<p> The 12-digit account number of the Amazon Web Services account that owns the domain. It does not include dashes or spaces. </p>",
          "location":"querystring",
          "locationName":"domain-owner"
        },
        "repository":{
          "shape":"RepositoryName",
          "documentation":"<p>The name of the repository from which the external connection will be removed. </p>",
          "location":"querystring",
          "locationName":"repository"
        },
        "externalConnection":{
          "shape":"ExternalConnectionName",
          "documentation":"<p>The name of the external connection to be removed from the repository. </p>",
          "location":"querystring",
          "locationName":"external-connection"
        }
      }
    },
    "DisassociateExternalConnectionResult":{
      "type":"structure",
      "members":{
        "repository":{
          "shape":"RepositoryDescription",
          "documentation":"<p> The repository associated with the removed external connection. </p>"
        }
      }
    },
    "DisposePackageVersionsRequest":{
      "type":"structure",
      "required":[
        "domain",
        "repository",
        "format",
        "package",
        "versions"
      ],
      "members":{
        "domain":{
          "shape":"DomainName",
          "documentation":"<p> The name of the domain that contains the repository you want to dispose. </p>",
          "location":"querystring",
          "locationName":"domain"
        },
        "domainOwner":{
          "shape":"AccountId",
          "documentation":"<p> The 12-digit account number of the Amazon Web Services account that owns the domain. It does not include dashes or spaces. </p>",
          "location":"querystring",
          "locationName":"domain-owner"
        },
        "repository":{
          "shape":"RepositoryName",
          "documentation":"<p> The name of the repository that contains the package versions you want to dispose. </p>",
          "location":"querystring",
          "locationName":"repository"
        },
        "format":{
          "shape":"PackageFormat",
          "documentation":"<p> A format that specifies the type of package versions you want to dispose. </p>",
          "location":"querystring",
          "locationName":"format"
        },
        "namespace":{
          "shape":"PackageNamespace",
          "documentation":"<p>The namespace of the package versions to be disposed. The package component that specifies its namespace depends on its type. For example:</p> <note> <p>The namespace is required when disposing package versions of the following formats:</p> <ul> <li> <p>Maven</p> </li> <li> <p>Swift</p> </li> <li> <p>generic</p> </li> </ul> </note> <ul> <li> <p> The namespace of a Maven package version is its <code>groupId</code>. </p> </li> <li> <p> The namespace of an npm or Swift package version is its <code>scope</code>. </p> </li> <li> <p>The namespace of a generic package is its <code>namespace</code>.</p> </li> <li> <p> Python, NuGet, Ruby, and Cargo package versions do not contain a corresponding component, package versions of those formats do not have a namespace. </p> </li> </ul>",
          "location":"querystring",
          "locationName":"namespace"
        },
        "package":{
          "shape":"PackageName",
          "documentation":"<p> The name of the package with the versions you want to dispose. </p>",
          "location":"querystring",
          "locationName":"package"
        },
        "versions":{
          "shape":"PackageVersionList",
          "documentation":"<p> The versions of the package you want to dispose. </p>"
        },
        "versionRevisions":{
          "shape":"PackageVersionRevisionMap",
          "documentation":"<p> The revisions of the package versions you want to dispose. </p>"
        },
        "expectedStatus":{
          "shape":"PackageVersionStatus",
          "documentation":"<p> The expected status of the package version to dispose. </p>"
        }
      }
    },
    "DisposePackageVersionsResult":{
      "type":"structure",
      "members":{
        "successfulVersions":{
          "shape":"SuccessfulPackageVersionInfoMap",
          "documentation":"<p> A list of the package versions that were successfully disposed. </p>"
        },
        "failedVersions":{
          "shape":"PackageVersionErrorMap",
          "documentation":"<p> A <code>PackageVersionError</code> object that contains a map of errors codes for the disposed package versions that failed. The possible error codes are: </p> <ul> <li> <p> <code>ALREADY_EXISTS</code> </p> </li> <li> <p> <code>MISMATCHED_REVISION</code> </p> </li> <li> <p> <code>MISMATCHED_STATUS</code> </p> </li> <li> <p> <code>NOT_ALLOWED</code> </p> </li> <li> <p> <code>NOT_FOUND</code> </p> </li> <li> <p> <code>SKIPPED</code> </p> </li> </ul>"
        }
      }
    },
    "DomainDescription":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"DomainName",
          "documentation":"<p> The name of the domain. </p>"
        },
        "owner":{
          "shape":"AccountId",
          "documentation":"<p> The Amazon Web Services account ID that owns the domain. </p>"
        },
        "arn":{
          "shape":"Arn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the domain. </p>"
        },
        "status":{
          "shape":"DomainStatus",
          "documentation":"<p> The current status of a domain. </p>"
        },
        "createdTime":{
          "shape":"Timestamp",
          "documentation":"<p> A timestamp that represents the date and time the domain was created. </p>"
        },
        "encryptionKey":{
          "shape":"Arn",
          "documentation":"<p> The ARN of an Key Management Service (KMS) key associated with a domain. </p>"
        },
        "repositoryCount":{
          "shape":"Integer",
          "documentation":"<p> The number of repositories in the domain. </p>"
        },
        "assetSizeBytes":{
          "shape":"Long",
          "documentation":"<p> The total size of all assets in the domain. </p>"
        },
        "s3BucketArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon S3 bucket that is used to store package assets in the domain.</p>"
        }
      },
      "documentation":"<p> Information about a domain. A domain is a container for repositories. When you create a domain, it is empty until you add one or more repositories. </p>"
    },
    "DomainEntryPoint":{
      "type":"structure",
      "members":{
        "repositoryName":{
          "shape":"RepositoryName",
          "documentation":"<p>The name of the repository that a package was originally published to.</p>"
        },
        "externalConnectionName":{
          "shape":"ExternalConnectionName",
          "documentation":"<p>The name of the external connection that a package was ingested from.</p>"
        }
      },
      "documentation":"<p>Information about how a package originally entered the CodeArtifact domain. For packages published directly to CodeArtifact, the entry point is the repository it was published to. For packages ingested from an external repository, the entry point is the external connection that it was ingested from. An external connection is a CodeArtifact repository that is connected to an external repository such as the npm registry or NuGet gallery.</p> <note> <p>If a package version exists in a repository and is updated, for example if a package of the same version is added with additional assets, the package version's <code>DomainEntryPoint</code> will not change from the original package version's value.</p> </note>"
    },
    "DomainName":{
      "type":"string",
      "max":50,
      "min":2,
      "pattern":"[a-z][a-z0-9\\-]{0,48}[a-z0-9]"
    },
    "DomainStatus":{
      "type":"string",
      "enum":[
        "Active",
        "Deleted"
      ]
    },
    "DomainSummary":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"DomainName",
          "documentation":"<p> The name of the domain. </p>"
        },
        "owner":{
          "shape":"AccountId",
          "documentation":"<p> The 12-digit account number of the Amazon Web Services account that owns the domain. It does not include dashes or spaces. </p>"
        },
        "arn":{
          "shape":"Arn",
          "documentation":"<p> The ARN of the domain. </p>"
        },
        "status":{
          "shape":"DomainStatus",
          "documentation":"<p> A string that contains the status of the domain. </p>"
        },
        "createdTime":{
          "shape":"Timestamp",
          "documentation":"<p> A timestamp that contains the date and time the domain was created. </p>"
        },
        "encryptionKey":{
          "shape":"Arn",
          "documentation":"<p> The key used to encrypt the domain. </p>"
        }
      },
      "documentation":"<p> Information about a domain, including its name, Amazon Resource Name (ARN), and status. The <a href=\"https://docs.aws.amazon.com/codeartifact/latest/APIReference/API_ListDomains.html\">ListDomains</a> operation returns a list of <code>DomainSummary</code> objects. </p>"
    },
    "DomainSummaryList":{
      "type":"list",
      "member":{"shape":"DomainSummary"}
    },
    "EndpointType":{
      "type":"string",
      "enum":[
        "dualstack",
        "ipv4"
      ]
    },
    "ErrorMessage":{"type":"string"},
    "ExternalConnectionName":{
      "type":"string",
      "max":100,
      "min":2,
      "pattern":"[A-Za-z0-9][A-Za-z0-9._\\-:]{1,99}"
    },
    "ExternalConnectionStatus":{
      "type":"string",
      "enum":["Available"]
    },
    "GetAssociatedPackageGroupRequest":{
      "type":"structure",
      "required":[
        "domain",
        "format",
        "package"
      ],
      "members":{
        "domain":{
          "shape":"DomainName",
          "documentation":"<p> The name of the domain that contains the package from which to get the associated package group. </p>",
          "location":"querystring",
          "locationName":"domain"
        },
        "domainOwner":{
          "shape":"AccountId",
          "documentation":"<p> The 12-digit account number of the Amazon Web Services account that owns the domain. It does not include dashes or spaces. </p>",
          "location":"querystring",
          "locationName":"domain-owner"
        },
        "format":{
          "shape":"PackageFormat",
          "documentation":"<p> The format of the package from which to get the associated package group. </p>",
          "location":"querystring",
          "locationName":"format"
        },
        "namespace":{
          "shape":"PackageNamespace",
          "documentation":"<p>The namespace of the package from which to get the associated package group. The package component that specifies its namespace depends on its type. For example:</p> <note> <p>The namespace is required when getting associated package groups from packages of the following formats:</p> <ul> <li> <p>Maven</p> </li> <li> <p>Swift</p> </li> <li> <p>generic</p> </li> </ul> </note> <ul> <li> <p> The namespace of a Maven package version is its <code>groupId</code>. </p> </li> <li> <p> The namespace of an npm or Swift package version is its <code>scope</code>. </p> </li> <li> <p>The namespace of a generic package is its <code>namespace</code>.</p> </li> <li> <p> Python, NuGet, Ruby, and Cargo package versions do not contain a corresponding component, package versions of those formats do not have a namespace. </p> </li> </ul>",
          "location":"querystring",
          "locationName":"namespace"
        },
        "package":{
          "shape":"PackageName",
          "documentation":"<p> The package from which to get the associated package group. </p>",
          "location":"querystring",
          "locationName":"package"
        }
      }
    },
    "GetAssociatedPackageGroupResult":{
      "type":"structure",
      "members":{
        "packageGroup":{
          "shape":"PackageGroupDescription",
          "documentation":"<p>The package group that is associated with the requested package.</p>"
        },
        "associationType":{
          "shape":"PackageGroupAssociationType",
          "documentation":"<p>Describes the strength of the association between the package and package group. A strong match is also known as an exact match, and a weak match is known as a relative match.</p>"
        }
      }
    },
    "GetAuthorizationTokenRequest":{
      "type":"structure",
      "required":["domain"],
      "members":{
        "domain":{
          "shape":"DomainName",
          "documentation":"<p> The name of the domain that is in scope for the generated authorization token. </p>",
          "location":"querystring",
          "locationName":"domain"
        },
        "domainOwner":{
          "shape":"AccountId",
          "documentation":"<p> The 12-digit account number of the Amazon Web Services account that owns the domain. It does not include dashes or spaces. </p>",
          "location":"querystring",
          "locationName":"domain-owner"
        },
        "durationSeconds":{
          "shape":"AuthorizationTokenDurationSeconds",
          "documentation":"<p>The time, in seconds, that the generated authorization token is valid. Valid values are <code>0</code> and any number between <code>900</code> (15 minutes) and <code>43200</code> (12 hours). A value of <code>0</code> will set the expiration of the authorization token to the same expiration of the user's role's temporary credentials.</p>",
          "location":"querystring",
          "locationName":"duration"
        }
      }
    },
    "GetAuthorizationTokenResult":{
      "type":"structure",
      "members":{
        "authorizationToken":{
          "shape":"String",
          "documentation":"<p> The returned authentication token. </p>"
        },
        "expiration":{
          "shape":"Timestamp",
          "documentation":"<p> A timestamp that specifies the date and time the authorization token expires. </p>"
        }
      },
      "sensitive":true
    },
    "GetDomainPermissionsPolicyRequest":{
      "type":"structure",
      "required":["domain"],
      "members":{
        "domain":{
          "shape":"DomainName",
          "documentation":"<p> The name of the domain to which the resource policy is attached. </p>",
          "location":"querystring",
          "locationName":"domain"
        },
        "domainOwner":{
          "shape":"AccountId",
          "documentation":"<p> The 12-digit account number of the Amazon Web Services account that owns the domain. It does not include dashes or spaces. </p>",
          "location":"querystring",
[...]
