/* Apps
/* ---------------------------------------------------------- */

.apps-filter {
    border-radius: 5px;
}
@media (max-width: 1460px) {
    .apps-filter {
        max-width: 700px;
    }
}

/* Main Layout
/* ---------------------------------------------------------- */

.apps-grid-container {
    margin: 2vw 0;
}

.apps-grid-title {
    display: block;
    margin-bottom: 5px;
    color: var(--midgrey);
}

.apps-grid {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    max-width: 1200px;
    border: var(--lightgrey) 1px solid;
    border-radius: 5px;
}

.apps-grid-note {
    display: block;
    margin-top: 5px;
    color: var(--midgrey);
    font-size: 1.2rem;
    font-style: italic;
}

/* Apps Card
/* ---------------------------------------------------------- */

.apps-grid-cell {
    flex: 1 1 100%;
}
.apps-grid-cell:hover {
    background: color(var(--lightgrey) l(+5%));
}

.apps-card-app {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 14px;
    height: 75px;
    border-top: var(--lightgrey) 1px solid;
    transition: background 0.3s ease;
}

@media (max-width: 500px) {
    .apps-card-app {
        min-height: 75px;
        height: auto;
    }
}

.apps-grid-cell:first-child .apps-card-app {
    border-top: none;
}

.apps-card-left {
    display: flex;
    align-items: center;
}

@media (max-width: 500px) {
    .apps-card-left {
        flex-basis: 70%;
    }
}

.apps-card-right {
    display: flex;
    align-items: center;
}

.apps-configured {
    display: flex;
    align-items: center;
    color: var(--midgrey);
    font-weight: 300;
}

.apps-configured svg {
    margin-left: 15px;
    height: 14px;
}

.apps-configured svg path {
    fill: var(--midgrey);
}

.apps-configured a {
    text-decoration: underline;
}

.apps-configured-action {
    margin-left: 15px;
    text-transform: uppercase;
    font-size: 11px;
}

.apps-card-app-icon {
    flex: 0 0 47px;
    margin: 0 15px 0 0;
    width: 47px;
    height: 47px;
    background-position: center center;
    background-size: cover;
    border-radius: 15%;
}

.apps-card-meta {
    display: flex;
    flex-direction: column;
    padding-right: 70px;
}
@media (max-width: 500px) {
    .apps-card-meta {
        flex-basis: 70%;
        padding-right: 10px;
    }
}

.apps-card-app-title {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.7rem;
    line-height: 1.15em;
    font-weight: bold;
}
@media (max-width: 500px) {
    .apps-card-app-title {
        white-space: normal;
        font-size: 1.5rem;
    }
}


/* Apps Card Meta
/* ---------------------------------------------------------- */

.apps-card-app-desc {
    display: -webkit-box;
    overflow: hidden;
    margin: 0;
    padding: 0;
    max-height: 4.2rem;
    color: var(--midgrey);
    text-overflow: ellipsis;
    font-size: 1.4rem;
    line-height: 1.3em;
    font-weight: 200;

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
@media (min-width: 600px) and (max-width: 1460px) {
    .apps-card-app-desc {
        padding-right: 80px;
    }
}


/* Apps Card Footer
/* ---------------------------------------------------------- */

.apps-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    width: 100%;
}
/* Slack
/* ---------------------------------------------------------- */

.app-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    margin-bottom: 30px;
}
.app-icon {
    position: relative;
    flex: 0 0 60px;
    margin: 0 15px 0 0;
    width: 60px;
    height: 60px;
    background-position: center center;
    background-size: cover;
    border-radius: 10%;
}

.app-cell h3 {
    margin: 0;
    color: var(--darkgrey);
    font-size: 2.4rem;
}

.app-cell p {
    margin: 0;
    margin-bottom: 5px;
    color: var(--midgrey);
    font-size: 1.6rem;
    line-height: 1.4em;
}

.app-subtitle {
    max-width: 550px;
    color: var(--midgrey);
    font-size: 1.6rem;
}
.app-config-form .gh-btn-grey {
    margin-top: 1.6em;
    background-color: #e8e8e8;
    box-shadow: none;
    font-size: 1.1rem;
}

.app-config-form > .gh-btn-grey:hover,
.app-config-form > .gh-btn-grey:focus {
    border-color: rgb(223, 225, 227);
}
