/* Sign in
/* ---------------------------------------------------------- */
.gh-signin, .gh-auth-email {
    position: relative;
    width: 100%;
}

.gh-flow-content header,
.gh-signin header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gh-flow-content .gh-site-icon,
.gh-signin .gh-site-icon {
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
    background-color: transparent;
    background-size: 70px;
    border-radius: 3px;
}

.gh-signin h1 {
    font-size: 4.1rem;
    font-weight: 600;
    letter-spacing: -.025em;
    line-height: 1.15em;
    font-weight: 700;
    color: var(--black);
    max-width: 620px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.gh-signin .form-group {
    margin-bottom: 1.5rem;
}

.gh-signin .gh-btn {
    margin: 0;
}

.gh-signin .gh-btn-login,
.gh-signin .gh-btn-reset,
.gh-setup .gh-btn-signup,
.gh-signup .gh-btn-signup {
    height: 54px;
    border-radius: 8px;
    line-height: 54px;
    margin-top: 40px;
    max-width: unset;
    font-weight: 300;
    transition: all 0.4s ease;
    -webkit-font-smoothing: subpixel-antialiased;
}

.gh-signin .gh-btn-login span,
.gh-signin .gh-btn-reset span,
.gh-setup .gh-btn-signup span,
.gh-signup .gh-btn-signup span {
    font-size: 1.8rem;
    color: #fff;
}

.gh-signin .gh-btn-reset {
    background: var(--black) !important;
    margin-top: 20px;
}

.gh-signin .gh-btn-login svg.gh-icon-spinner rect {
    fill: #fff !important;
}

.gh-signin .gh-btn-login:hover,
.gh-signup .gh-btn-signup:hover {
    opacity: 0.9;
}

.gh-signin label {
    font-size: 1.3rem;
    font-weight: 600 !important;
}

.forgotten-wrap {
    position: relative;
}

.forgotten-wrap input {
    padding-right: 7rem;
}

.forgotten-wrap .forgotten-link {
    position: absolute;
    top: 12px;
    right: 1px;
    bottom: 12px;
    border-left: color-mod(var(--lightgrey) l(-5%) s(-10%)) 1px solid;
    border-radius: 0;
}

.forgotten-link span {
    height: 19px;
    font-size: 1.4rem;
    line-height: 19px;
    padding: 0 15px 0 16px;
    margin-top: -1px;
    color: var(--midlightgrey);
}

.forgotten-link:hover {
    border-left: color-mod(var(--lightgrey) l(-15%) s(-10%)) 1px solid;
    text-decoration: none;
}

.forgotten-link:hover span {
    color: var(--black);
}

.forgotten-link:active {
    box-shadow: none;
    text-decoration: underline;
}

.gh-signin input,
.gh-signin input:-webkit-autofill::first-line {
    padding: 12px 16px;
    height: 54px;
    border-radius: 8px;
    font-size: 1.8rem;
}

.gh-signin .gh-input:focus:not(.gh-signin .gh-input.reset-password:focus),
.gh-signup .gh-input:focus {
    border-color: var(--midgrey) !important;
    box-shadow: none !important;
}

/* Email notification */
/* ---------------------------------------------------------- */

.gh-auth-email header {
    text-align: center;
}

.gh-auth-email p {
    color: var(--midgrey);
}