.fullscreen-modal-billing {
    margin: 0;
    max-width: 100%;
}

.fullscreen-modal-billing .modal-content {
    position: relative;
    height: 100%;
    padding: 0;
}

.fullscreen-modal-billing .modal-body {
    margin: 0;
}

.fullscreen-modal-billing .billing-frame {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    transform: translate3d(0, 0, 0);
}

.gh-billing-close {
    width: calc(50vw - 200px)
}

.gh-billing-close button {
    stroke: var(--midgrey);
    opacity: 0.6;
    transition: all 0.2s ease-in-out;
    top: 25px;
}
