/* Content /ghost/

/* Header
/* ---------------------------------------------------------- */

.gh-contentfilter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 8px;
    padding: 0;
    list-style: none;
}

.gh-contentfilter li {
    position: relative;
    display: inline-block;
    margin: 0 25px 0 0;
}

.gh-contentfilter li.active:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: var(--darkgrey);
    position: absolute;
    top: -1px;
    opacity: 0.5;
}

.gh-contentfilter li a {
    display: block;
    padding: 13px 1px 0;
    color: color-mod(var(--midgrey) l(+8%));
    font-size: 1.5rem;
    letter-spacing: 0;
    font-weight: 400;
    letter-spacing: 0.3px;
}

.gh-contentfilter a.active {
    font-weight: 500;
    color: var(--darkgrey);
}

.gh-contentfilter-menu-trigger {
    display: flex;
    align-items: center;
    gap: 4px;
    background: var(--white);
    font-size: 1.3rem;
    font-weight: 500;
    height: 34px;
    padding: 6px 12px 6px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 5px !important;
    white-space: nowrap;
    transition: all 0.25s ease;
    overflow: hidden;
}

.gh-contentfilter-menu-trigger.ember-power-select-trigger[aria-expanded="true"] {
    border: 1px solid transparent !important;
}

.gh-contentfilter-menu-trigger:focus,
.gh-contentfilter-menu-trigger--active {
    border: 1px solid transparent;
    background: var(--whitegrey-l1);
}

.gh-contentfilter-menu-trigger.bordered {
    border: 1px solid var(--whitegrey);
}

.gh-contentfilter-menu-trigger:hover {
    cursor: pointer;
    color: var(--darkgrey);
    background: var(--whitegrey-l1);
}

.gh-contentfilter-selected .gh-contentfilter-menu-trigger,
.gh-contentfilter-selected .gh-contentfilter-menu-trigger:hover {
    border: 1px solid var(--whitegrey);
}

.gh-contentfilter-selected:not(.no-highlight) .gh-contentfilter-menu-trigger,
.gh-contentfilter-selected:not(.no-highlight) .gh-contentfilter-menu-trigger:hover {
    color: var(--green)
}

.gh-canvas-header.grey .gh-contentfilter-menu-trigger,
.gh-canvas-header.grey .gh-contentfilter-menu-trigger:focus,
.gh-canvas-header.grey .gh-contentfilter-menu-trigger--active {
    background: var(--main-color-content-greybg);
}

.gh-contentfilter-menu-trigger svg path {
    stroke: var(--black);
}

.gh-btn-save-view {
    border: 1px solid var(--whitegrey) !important;
}

.gh-btn-save-view svg {
    margin-top: 3px !important;
}

.gh-contentfilter .ember-power-select-selected-item,
.gh-contentfilter .ember-power-select-placeholder {
    margin-left: 0;
}

.gh-contentfilter-menu-dropdown {
    width: 180px;
    margin-top: 6px;
    padding: 4px 0;
    border: none !important;
    font-size: 1.35rem;
    box-shadow: 0 0 0 1px rgba(0,0,0,.04), 0 7px 20px -5px rgba(0,0,0,.15);
    border-radius: 5px !important;
}

.gh-contentfilter-menu-dropdown .ember-power-select-search input {
    display: block !important;
    margin: 0 14px !important;
    border-bottom: 1px solid var(--lightgrey) !important;
    width: calc(100% - 28px) !important;
}

.gh-contentfilter-menu-dropdown .ember-power-select-option {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 7px 10px;
    margin: 0 4px;
    border-radius: 3px;
    font-size: 1.3rem;
}

.gh-contentfilter-sort .gh-contentfilter-menu-trigger {
    margin: 0;
}

.gh-contentfilter-actions svg {
    width: 18px;
    height: 18px;
    margin: 2px 0 0;
    color: var(--black);
}

.gh-contentfilter-actions svg g {
    stroke: var(--black);
}

.gh-contentfilter-button {
    display: flex;
    height: 33px;
    margin: 0 0 0 6px;
    line-height: 33px;
    border: 1px solid var(--whitegrey);
}

.gh-contentfilter-divider {
    width: 1px;
    height: 16px;
    background: var(--lightgrey);
}


/* Content List
/* ---------------------------------------------------------- */

.content-list {
    position: relative;
}

/* START Temporary styles to move post list to use flex instead of tables */
.gh-posts-list-item-group .gh-list-row {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 0;
}

.gh-posts-list-item-group .gh-list-row .gh-list-data {
    display: block;
    min-width: 0;
}

.gh-posts-list-item-group .gh-list-row .gh-list-data:first-child {
    flex-grow: 1;
}

.posts-list[data-ctrl] {
    cursor: default !important; /* Hide pointer */
}

.posts-list[data-ctrl] .gh-posts-list-item-group * {
    cursor: default !important; /* Hide pointer */
    pointer-events: none;
}

.posts-list[data-ctrl] .gh-posts-list-item-group * [data-ignore-select]{
    pointer-events: all;
    cursor: pointer !important;
}

.gh-posts-list-item-group > * {
    position: relative;
    z-index: 10;
}

.gh-posts-list-item-group:before {
    opacity: 0;
    display: block;
    position: absolute;
    content: "";
    top: -1px;
    right: -16px;
    bottom: -1px;
    left: -16px;
    background-color: var(--whitegrey-l2);
    z-index: 0;
    border-radius: 7px;
}

.gh-posts-list-item::after {
    display: none !important;
}

.gh-posts-list-item-group:hover:before {
    opacity: 1;
}

.posts-list .gh-posts-list-item-group:hover {
    border-color: transparent;
}

.posts-list[data-ctrl] .gh-posts-list-item-group:hover {
    border-color: transparent;
}

.gh-posts-list-item-group[data-selected] {
    user-select: none;
    border-color: transparent;
}

.posts-list[data-ctrl] .gh-posts-list-item-group:hover::before {
    opacity: 0.05;
    background: #6E78E5;
}

.gh-posts-list-item-group[data-selected]::before {
    opacity: 0.1 !important;
    background: #6E78E5;
}

.gh-posts-list-item-group .gh-posts-list-item:hover .gh-list-data {
    background: transparent !important;
}

.gh-posts-list-item-group .gh-list-data {
    border-top: 0 !important;
}

.gh-posts-list-item-group {
    border-color: var(--whitegrey-l1);
    border-style: solid;
    border-left: none;
    border-right: none;
}

.gh-posts-list-item-group {
    position: relative;
    border-top-width: 1px;
    border-bottom-width: 0;
}

.gh-posts-list-item-group:last-of-type {
    border-bottom-width: 1px;
}

.gh-posts-list-item-group:hover + .gh-posts-list-item-group {
    border-color: transparent;
}

.gh-posts-list-item-group[data-selected]:not(:first-of-type),
.gh-posts-list-item-group[data-selected] + .gh-posts-list-item-group:hover {
    border-top: 1px solid var(--transparent) !important;
}
/* END Temporary styles to move post list to use flex instead of tables */

.gh-posts-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gh-posts-list-item a:hover {
    text-decoration: none;
}

.content-list .gh-list-header.no-padding {
    padding: 0 !important;
}

.gh-posts-title-header {
    padding-left: 10px;
}

.gh-posts-status-header {
    width: 140px;
}

.gh-posts-signups-header,
.gh-posts-conversions-header,
.gh-posts-sends-header,
.gh-posts-opens-header {
    width: 90px;
    padding-right: 8px;
}

.feature-memberAttribution .gh-posts-opens-header {
    width: 150px;
}

.gh-list.feature-memberAttribution .gh-posts-status-header {
    width: 180px;
}

.gh-list:not(.feature-memberAttribution) .gh-posts-status-header {
    width: 140px;
}

.pages-list .gh-posts-conversions-header,
.pages-list .gh-posts-sends-header {
    width: 140px;
}

.gh-post-list-title {
    flex: 0 1 auto;
    min-width: 0;
    max-width: 80%;
    overflow: hidden;
}

.gh-post-list-title .gh-lexical-indicator {
    margin: 2px 8px 0;
    padding: 0 8px;
    font-size: 1.2rem;
}

.gh-post-list-title .gh-featured-post {
    flex-shrink: 0;
    width: 11px;
    height: 11px;
    margin: -2px 6px 0 0;
    color: var(--black);
}

.gh-post-list-external {
    width: 13px;
    height: 13px;
    margin-left: 6px;
    opacity: 0;
}

.gh-post-with-feature-image {
    display: flex !important;
    align-items: flex-start;
    gap: 20px;
}

.gh-post-list-feature-image {
    flex-shrink: 0;
    background-color: #F8F8FA;
    width: 100px;
    aspect-ratio: 16/10;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 16px;
    background-size: cover;
    background-position: center;
}

.gh-posts-list-item-group:hover .gh-post-list-feature-image {
    background-color: var(--whitegrey-l1);
}

.gh-post-list-feature-image-placeholder {
    position: relative;
    height: auto;
    width: 100%;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--midgrey);
}

.gh-post-list-feature-image-placeholder svg {
    width: 18px;
    height: 18px;
}

/* .gh-post-list-feature-image-placeholder:before,
.gh-post-list-feature-image-placeholder:after {
    position: absolute;
    display: block;
    content: "";
    height: 3px;
    left: 0;
    background-color: var(--lightgrey);
}

.gh-posts-list-item-group:hover .gh-post-list-feature-image-placeholder {
    opacity: 1.0;
}

.gh-post-list-feature-image-placeholder:before {
    top: 8px;
    right: 12px;
}

.gh-post-list-feature-image-placeholder:after {
    top: 16px;
    right: 8px;
} */

.gh-post-list-external path {
    fill: var(--midgrey);
}

.gh-list-row:hover .gh-post-list-external {
    opacity: 1;
}

.gh-post-list-featured {
    padding: 15px 0px 20px 10px;
    width: 1px;
    vertical-align: top;
}

.gh-post-list-updated,
.gh-post-list-author,
.gh-post-list-metrics {
    color: var(--middarkgrey);
    font-size: 1.3rem;
}

.gh-list-data.gh-post-list-metrics,
.gh-list-data.gh-post-list-button {
    vertical-align: top;
    padding-left: 0;
    padding-right: 0;
}

.gh-list .gh-content-entry-title {
    display: flex;
    align-items: center;
    margin: 0 0 2px;
    font-size: 1.6rem;
    font-weight: 600;
    max-width: 100%;
    overflow: hidden;
}

.gh-content-entry-title a {
    color: var(--darkgrey);
}

.gh-posts-list-item p {
    margin: 0 0 2px;
}

.gh-schedule-plan {
    color: var(--green-d1);
}

.gh-schedule-subtext {
    max-width: 200px;
}

.gh-content-email-stats-mobile {
    display: none;
}

.gh-content-attribution-stats-mobile {
    display: none;
}

.gh-content-status-draft,
.gh-content-status-published,
.gh-content-status-scheduled,
.gh-content-status-emailed {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    padding: 0 9px;
}

.gh-content-status-published {
    color: var(--midgrey-d1);
    background: var(--whitegrey);
    border-radius: 999px;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
}

.gh-content-status-featured {
    color: var(--blue);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0 3px 0 0;
}

.gh-content-status-featured svg {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: -4px;
}

.gh-content-status-featured svg path {
    fill: var(--blue);
}

.gh-content-status-emailed {
    margin: 0;
    color: var(--midgrey-d1);
    background: var(--whitegrey);
    border-radius: 999px;
}

.feature-memberAttribution .gh-content-status-emailed {
    margin: 0px 6px;
}

.gh-content-status-emailed svg,
.gh-content-status-published svg,
.gh-content-status-scheduled svg {
    width: 12px;
    height: 12px;
}

.gh-content-status-emailed svg path,
.gh-content-status-published svg path {
    stroke: var(--midgrey-d1);
    stroke-width: 2;
}

.gh-content-status-scheduled svg path {
    stroke: var(--green-d2);
    stroke-width: 2;
}

.gh-content-status-published svg,
.gh-content-status-scheduled svg {
    margin-left: 6px;
}

.gh-content-status-emailed.error {
    background: color-mod(var(--red) a(10%));
}

.gh-content-status-emailed.scheduled {
    background: color-mod(var(--green) a(20%));
}

.gh-post-list-plain-status .gh-content-status-draft,
.gh-post-list-plain-status .gh-content-status-published,
.gh-post-list-plain-status .gh-content-status-scheduled,
.gh-post-list-plain-status .gh-content-status-emailed {
    background: none;
    color: var(--darkgrey);
    text-transform: unset;
    font-size: 1.3rem;
    font-weight: 500;
}

.gh-post-list-plain-status .gh-post-status-email {
    margin-bottom: -1px;
    margin-left: 4px;
}

.gh-post-list-plain-status .gh-post-status-email path {
    stroke: var(--darkgrey) !important;
}

.gh-post-list-plain-status .gh-post-status-icon {
    width: 16px;
    height: 16px;
    margin: 0 7px 0 0;
}

.gh-post-list-plain-status .gh-content-status-published .gh-post-status-icon {
    width: 12px;
    height: 12px;
}

.gh-post-list-plain-status .gh-content-status-scheduled .gh-post-status-icon path {
    stroke: var(--purple) !important;
}

.gh-post-list-plain-status .gh-content-status-draft .gh-post-status-icon path {
    stroke: var(--pink) !important;
}

.gh-post-list-plain-status .gh-content-status-published .gh-post-status-icon path {
    stroke: var(--midgrey-l1) !important;
}

.gh-post-list-plain-status .gh-content-status-published,
.gh-post-list-plain-status .gh-content-status-emailed {
    color: var(--midgrey-l1);
    margin: 0;
}

.gh-post-list-plain-status .gh-content-status-published .gh-post-status-email path {
    stroke: var(--midgrey-l1) !important;
}

.gh-post-list-plain-status .gh-content-status-emailed path {
    stroke: var(--midgrey-l1) !important;
    stroke-width: 1.5;
}

.gh-posts-placeholder {
    width: 60px;
    fill: var(--lightgrey);
}

.gh-pages-placeholder {
    width: 60px;
    fill: var(--lightgrey);
}

.gh-post-list-email {
    padding: 0 15px 2px;
    width: 1px;
}

@media (max-width: 1600px) {
    .feature-memberAttribution .gh-post-list-status,
    .feature-memberAttribution .gh-post-list-metrics {
        padding-left: 12px;
        padding-right: 12px;
    }

    .gh-post-list-analytics .gh-post-list-status,
    .gh-post-list-analytics .gh-post-list-metrics {
        padding-left: 0px;
    }

    .feature-memberAttribution .gh-posts-signups-header,
    .feature-memberAttribution .gh-posts-conversions-header,
    .feature-memberAttribution .gh-posts-sends-header {
        width: 80px;
    }

    .feature-memberAttribution .gh-posts-opens-header {
        width: 100px;
    }
}


/* Mobile style of post list */
@media (max-width: 1200px) {
    .feature-memberAttribution .gh-post-list-status,
    .feature-memberAttribution .gh-post-list-metrics {
        padding-left: 0;
        padding-right: 0;
    }

    .feature-memberAttribution .gh-content-status-draft,
    .feature-memberAttribution .gh-content-status-published,
    .feature-memberAttribution .gh-content-status-scheduled,
    .feature-memberAttribution .gh-content-status-emailed {
        padding-left: 0;
        padding-right: 12px;
    }

    .gh-posts-list-item .gh-post-list-metrics {
        width: 0;
    }

    .gh-post-list-analytics .gh-post-list-metrics-container {
        display: none;
    }

    .gh-posts-list-item .gh-post-list-metrics > * {
        display: none;
    }

    .gh-post-list-updated {
        display: inline-block;
        order: 6;
        border: none;
        padding: 0 4px 20px;
        font-size: 1.3rem;
        max-width: calc((100% - 140px) * 1/4);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .gh-post-list-author {
        display: inline-block;
        order: 7;
        border: none;
        padding: 0 4px 20px 0;
        font-size: 1.3rem;
        max-width: calc((100% - 140px) * 3/4);;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .gh-post-list-author:before {
        content: "- by";
    }

    .gh-post-headers,
    .gh-post-list-actions {
        display: none;
    }

    .gh-list-data a.gh-post-list-metrics {
        display: none;
    }

    .gh-content-email-stats-mobile {
        display: inherit;
        padding: 0 0.33em;
    }

    .gh-content-attribution-stats {
        display: none;
    }

    .gh-content-attribution-stats-mobile {
        display: inherit;
        padding: 0 0.33em;
    }

    .posts-list .gh-list-nodata,
    .pages-list .gh-list-nodata {
        display: none;
    }

    .hide-when-small {
        display: none;
    }

    .visible-when-small::first-letter{
        display: inline-block;
        text-transform: uppercase;
    }
}

@media (max-width: 800px) {
    .post-header {
        left: 0;
    }

    .post-header .gh-canvas-title {
        left: 25px;
    }

    .gh-post-list-updated {
        display: none;
    }

    .gh-post-list-author {
        max-width: calc(100% - 140px);
    }
}

@media (max-width: 430px) {
    .post-header .view-actions .gh-contentfilter {
        border-right: 1px solid var(--whitegrey-d1);
    }

    .gh-contentfilter-menu:last-of-type {
        padding-right: 8px;
    }

    .gh-post-list-title {
        flex: 1 1 auto;
        max-width: 100%;
        overflow: hidden;
        padding-right: 0;
    }

    .gh-post-list-metrics-container a {
        padding: 0!important;
    }

}

@media (min-width: 901px) {
    .gh-posts-list-item a:after {
        display: none;
    }
}


/* Empty State
/* ---------------------------------------------------------- */
.no-posts {
    background: none;
    box-shadow: none;
    border: none !important;
}

.no-posts + .infinity-loader {
    padding: 0 !important;
}

.no-posts-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 0 24px;
    height: calc(100vh - 200px);
}

.no-posts-box .no-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -32px;
}

.no-posts-box .no-posts h4 {
    margin: 32px 0;
}


/* Keyboard Focus Effects
/* ---------------------------------------------------------- */


/* This has to be a pseudo element to sit over the top of everything else in the content list */
.tag-list-content.keyboard-focused:before,
.tag-settings.keyboard-focused:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 500;
    animation: keyboard-focus-style-fade-out 1.5s 1 forwards;
    pointer-events: none;
}


/* Post analytics
/* --------------------------------------------------------- */

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.gh-loading-spinner-outer {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: .25s fadeIn .5s normal forwards;
}

.gh-post-analytics-header .gh-canvas-header-content {
    padding-bottom: 1.6rem;
    border-bottom: 1px solid var(--whitegrey);
}

.gh-canvas-title.gh-post-title {
    max-width: 880px;
    padding: 0;
    font-size: 2.8rem;
    line-height: 1.2em;
    overflow: inherit;
    white-space: inherit;
}

.post-header .gh-canvas-title.gh-post-title {
    display: block;
    padding: 0;
    overflow: hidden;
    white-space: initial;
}

@media (max-width: 1280px) {
    .post-header .gh-canvas-title.gh-post-title {
        white-space: nowrap;
        padding-top: 8px;
    }
}

.gh-post-analytics-meta {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gh-post-analytics-meta-text {
    color: var(--midgrey-l2);
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.gh-attribution-box {
    margin: 0;
    padding: 24px;
    background: var(--white);
    box-shadow: 0 1px 4px -1px rgba(0,0,0,0.1);
    border-radius: var(--border-radius);
    display: flex;
    gap: 0;
}

.gh-attribution-box .gh-dashboard-list-item-sub-source {
    position: relative;
}

.gh-attribution-chart-column {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.gh-attribution-chart-column-inner {
    padding: 0 24px;
    max-width: 296px;
    position: relative;
}

.gh-attribution-table-column {
    flex: 1;
    padding: 1rem 0;
}

.gh-attribution-table-column .gh-attribution-box .gh-dashboard-list-item-sub-source:after {
    display: none;
}

.gh-attribution-box .gh-dashboard-list-title:not(.sorted-by) {
    cursor: pointer;
}

.gh-posts-list-item:nth-of-type(2) .gh-list-data {
    border-top: var(--whitegrey) 1px solid;
}

.gh-content-entry-title {
    margin: 0 0 2px;
    font-size: 1.55rem;
    font-weight: 600;
}

.gh-content-entry-meta,
.gh-content-entry-status {
    max-width: max-content;
    font-size: 1.35rem;
    color: #99a3ad;
}

.gh-content-entry-meta .gh-badge {
    margin-right: 3px;
}

.gh-content-entry-status .draft {
    display: flex;
    align-items: center;
    color: var(--pink);
    font-weight: 500;
}

.gh-content-entry-status .scheduled {
    display: flex;
    align-items: center;
    color: var(--green);
    font-weight: 500;
}

.gh-content-entry-status .status-dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 1px 6px 0 0;
    border-radius: 999px;
}

.gh-content-entry-status .scheduled .status-dot {
    border-color: var(--green);
    background: var(--green);
}

.gh-content-entry-status .draft .status-dot {
    border-color: var(--pink);
    background: var(--pink);
}

.gh-content-entry-status .error {
    color: var(--red);
    font-weight: 500;
}

.schedule-details {
    margin-left: 3px;
    color: var(--midlightgrey-d1);
}

.schedule-details.absolute {
    position: absolute;
    transform: translateX(-100%);
    min-width: max-content;
}

.gh-content-entry-author,
.gh-content-entry-date {
    display: inline-block;
    transition: all 1s ease;
}

.gh-content-email-stats,
.gh-post-list-cta {
    margin: 0 0 3px;
    color: var(--midlightgrey-d2);
    font-size: 1.35rem;
    font-weight: 400;
}

.gh-content-email-stats {
    margin-top: -1px;
}

.gh-content-email-stats-value {
    display: block;
    color: var(--black);
    font-size: 1.55rem;
    font-weight: 600;
    margin: 0 0 3px;
}

.gh-content-email-stats-value sup {
    top: -0.225em;
    font-size: 75%;
    padding: 0 0 0 1px;
}

.gh-post-list-cta {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 1px 12px;
    border: 1px solid var(--whitegrey-d1);
    background: var(--white);
    color: var(--darkgrey);
    border-radius: var(--border-radius);
    transition: all .2s ease;
    white-space: nowrap;
    height: 34px;
    overflow: hidden;
    transition: all .1s linear;
}

.gh-post-list-cta:hover {
    border-color: var(--lightgrey-l2);
}

.gh-list-data .gh-post-list-cta {
    justify-content: center;
    width: 52px;
}

.gh-post-list-cta.is-hovered {
    border-color: var(--whitegrey-d2);
}

.gh-post-list-cta.stats.is-hovered:hover {
    border-color: var(--lightgrey-l2);
}

.gh-post-list-cta.edit.is-hovered:hover,
.gh-post-list-cta.edit:not(.is-hovered):hover {
    border-color: var(--lightgrey-l2);
}

.gh-post-list-cta > svg {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--darkgrey);
    stroke: var(--darkgrey);
    transition: all .1s linear;
}

.gh-post-list-cta > svg path {
    stroke-width: 1.75;
}

.gh-post-list-cta > span {
    line-height: 36px;
    font-weight: 600;
    padding: 0 0 0 0.75rem;
    color: var(--darkgrey-l1);
    transition: all .1s linear;
}

span.dropdown .gh-post-list-cta > span {
    padding: 0;
}

@media screen and (max-width: 1000px) {
    .gh-attribution-box {
        flex-direction: column;
    }

    .gh-attribution-chart-column-inner {
        padding: 8px;
        max-width: 300px;
    }
}

.gh-tabs-analytics {
    margin-bottom: 22px;
    border-radius: 5px;
    border: 1px solid #ECEEF0;
}

.gh-tabs-analytics.no-tabs {
    padding: 28px 24px;
}

.gh-tabs-analytics .tab {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid transparent;
    border-bottom: none;
    padding: 12px 14px 22px;
    text-align: left;
}

.gh-tabs-analytics .tab-selected {
    box-sizing: border-box;
    background: #ffffff;
    border: 1px solid #E7E9EB;
    border-bottom: none;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.05), 0 1px 0 0 #ffffff;
    border-radius: 5px 5px 0 0;
}

.gh-tabs-analytics.no-tabs .tab-selected {
    padding: 0 0 20px;
    border: 0;
    border-bottom: 1px solid #eceef0;
    box-shadow: none;
}

.gh-tabs-analytics .tab-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    padding: 8px 8px 0px;
    background: linear-gradient(360deg, #F7F8F9 -6.38%, rgba(247, 248, 249, 0) 159.57%);
    box-shadow: inset 0 -1px 0 #eceef0;
}

.gh-tabs-analytics.no-tabs .tab-list {
    padding: 0;
    background: transparent;
}

.gh-tabs-analytics .tab-panel {
    display: none;
}

.gh-tabs-analytics .tab-panel-selected {
    display: block;
    padding: 8px 26px 0;
    /* help to hide shadow from selected tab */
    opacity: 0.99999;
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    min-height: 121px;
}

.gh-tabs-analytics.no-tabs .tab-panel-selected {
    padding: 0;
}

.gh-tabs-analytics .tab-list h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    padding: 0 0 0 1px;
    margin: 0 0 8px;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 1em;
    letter-spacing: -0.05em;
    color: var(--black);
    white-space: nowrap;
}

.gh-tabs-analytics.no-tabs .tab-list h3 {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -0.5px;
}

.gh-tabs-analytics .tab-list h3 svg {
    display: none;
    width: 20px;
    height: 20px;
    color: var(--black);
}

.gh-tabs-analytics .tab-list p {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    line-height: 1em;
    white-space: nowrap;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: .03em;
    color: var(--midgrey);
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.gh-tabs-analytics.no-tabs .tab-list p {
    display: none;
}

.gh-tabs-analytics .tab-list p svg {
    width: 16px;
    height: 16px;
}

.gh-tabs-analytics .animated-number {
    position: relative;
}

.gh-tabs-analytics .animated-number .new-number {
    position: absolute;
    top: 0;
    left: 0;
}

.gh-tabs-analytics .animated-number .new-char,
.gh-tabs-analytics .animated-number .old-char {
    display: inline-block;
}

.gh-tabs-analytics .animated-number .new-char {
    opacity: 0;
    transform: translateY(10px);
}

.gh-tabs-analytics .gh-dashboard-list-item {
    grid-template-columns: 40% 40% 20%;
}

.gh-tabs-analytics .gh-dashboard-list-cols-conversion .gh-dashboard-list-item {
    grid-template-columns: 28% 28% 24% 20%;
}

@media (max-width: 1200px) {
    .gh-tabs-analytics .tab {
        padding: 8px 7px 14px;
    }

    .gh-tabs-analytics .tab .analytics-tab-percentage {
        display: none;
    }

    .gh-tabs-analytics .tab-panel-selected {
        padding: 12px 18px 0;
    }

    .gh-tabs-analytics .tab-list {
        grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    }

    .gh-tabs-analytics h3 {
        font-size: 1.2rem;
    }

    .gh-tabs-analytics p {
        font-size: 1.6rem;
    }
}

@media (max-width: 1000px) {
    .gh-tabs-analytics .tab-list h3 {
        margin-bottom: 0;
        font-size: 1.8rem;
    }

    .gh-tabs-analytics .tab-list h3 svg {
        display: block;
    }

    .gh-tabs-analytics .tab-list p {
        display: none;
    }
}

@media (max-width: 440px) {
    .gh-tabs-analytics .tab-list {
        padding: 4px 4px 0px;
    }

    .gh-tabs-analytics .tab-panel-selected {
        padding: 12px 14px 0;
    }

    .gh-tabs-analytics p {
        font-size: 1.2rem;
    }

    .gh-tabs-analytics strong {
        font-size: 1.2rem;
    }
}

.gh-post-list-button {
    flex: 0 0 auto;
}

.gh-post-list-metrics-container {
    display: flex;
    flex: 0 0 auto;
}

.gh-post-list-metrics {
    width: 100px;
    flex-shrink: 0;
    display: grid;
    grid-template-rows: auto auto;
}

.gh-list-analytics-icon {
    width: 16px;
    height: 16px;
}

.gh-post-list-button {
    flex: 0 0 auto;
}

/* Post list with analytics */
.gh-posts-list-item-group .gh-list-row.gh-post-list-analytics .gh-list-data:not(.gh-post-list-title) {
    display: flex;
    align-items: center;
}

.gh-post-list-analytics-right {
    display: flex;
    align-items: center;
}

.gh-post-list-analytics-metric {
    display: flex;
    gap: 5px;
    align-items: center;
    color: var(--midgrey);
    padding: 3px 8px;
    border-radius: 5px;
}

.gh-post-list-analytics-metric:hover {
    background-color: var(--whitegrey);
}

.gh-posts-list-item-group:hover .gh-post-list-analytics-metric {
    color: var(--black) !important;
}

.gh-list .gh-post-list-analytics .gh-content-entry-title {
    font-size: 1.5rem;
}

.gh-post-list-analytics .gh-content-email-stats-value {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
    color: var(--middarkgrey);
    font-family: var(--font-family-mono);
}

.gh-posts-list-item-group:hover .gh-post-list-analytics .gh-content-email-stats-value {
    color: var(--black);
}

.gh-post-list-analytics .gh-post-list-metrics {
    width: 92px;
}

.gh-post-list-analytics-tt-container {
    position: relative;
}

.gh-post-list-analytics-tooltip {
    position: absolute;
    left: 50%;
    transform: translateX(calc(-50%));
    background: var(--white);
    padding: 12px;
    border-radius: 7px;
    transition: all 0.2s ease;
    opacity: 0;
    pointer-events: none;
    font-size: 1.3rem;
    min-width: 160px;
    z-index: 9999;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.28), 0px 100px 80px 0px rgba(0, 0, 0, 0.01), 0px 41.778px 33.422px 0px rgba(0, 0, 0, 0.02), 0px 22.336px 17.869px 0px rgba(0, 0, 0, 0.02), 0px 12.522px 10.017px 0px rgba(0, 0, 0, 0.02), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 2.767px 2.214px 0px rgba(0, 0, 0, 0.04);
}

/* Above positioning (default) */
.gh-post-list-analytics-tooltip.above {
    bottom: calc(100% - 10px);
}

.gh-post-list-analytics-tt-container:hover .gh-post-list-analytics-tooltip.above {
    bottom: calc(100% - 2px);
    opacity: 1.0;
}

/* Below positioning */
.gh-post-list-analytics-tooltip.below {
    top: calc(100%);
}

.gh-post-list-analytics-tt-container:hover .gh-post-list-analytics-tooltip.below {
    top: calc(100% - 8px);
    opacity: 1.0;
}

.gh-post-list-analytics-tooltip h3 {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--middarkgrey);
    padding-bottom: 10px;
    padding-right: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--whitegrey);
    white-space: nowrap;
}

.gh-post-list-analytics-tooltip .metrics {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.gh-post-list-analytics-tooltip .metric {
    height: 20px;
    display: flex;
    justify-content: space-between;
}

.gh-post-list-analytics-tooltip .metric .data {
    display: flex;
    align-items: center;
    gap: 6px;
}

.gh-post-list-analytics-tooltip .metric svg {
    width: 16px;
    height: 16px;
    color: var(--midgrey);
}

.gh-post-list-analytics-tooltip .metric span {
    font-family: var(--font-family-mono);
}

.gh-post-analytics-email-metrics {
    display: flex;
    align-items: center;
}

.gh-post-list-analytics {
    z-index: unset;
}

.gh-post-list-analytics > * {
    z-index: unset;
}
