/* --------------------------------- 
Dashboard v5 Prototype */

.prototype-control-panel {
    margin-top: 50vh; /* Keep it out of view */
}

.prototype-states-buttons {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.prototype-paid-mix-dropdown {
    position: absolute;
    right: 0px;
    top: 8px;
}

.prototype-counts {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 28px;
}

.prototype-section {
    margin-bottom: 40px;
}

.prototype-section > h2 {
    font-size: 1.65rem;
    font-weight: 600;
    line-height: 1.4em;
    margin-bottom: 8px;
    color: var(--black);
}

.prototype-counts.col {
    flex-direction: column;
}

.prototype-counts > * {
    flex-grow: 1;
    min-width: 0;
    flex-basis: 0;
}

.prototype-box {
    border: 1px solid var(--whitegrey);
    padding: 28px;
    position: relative;
}

.prototype-box .number {
    font-size: 24px;
}


/* --------------------------------- 
Dashboard v5 Layout */

.gh-dashboard5 {

}

.gh-dashboard5-layout {
    max-width: 1230px;
    min-width: 850px;
    margin: 0 auto;
}

.gh-dashboard5-rows {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.gh-dashboard5-row {
    flex: 1;
    padding: 0 0 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.gh-dashboard5-row:last-child {
    padding-top: 32px;
}

.gh-dashboard5-section {
    display: flex;
    margin-bottom: 24px;
}

.gh-dashboard5-section-main {
    margin-right: 8px; /* grid layout adjustments */
}

.gh-dashboard5-section-aside {
    margin-left: -8px; /* grid layout adjustments */
}

.gh-dashboard5-split {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 2fr 1fr;
}

.gh-dashboard5-thirds {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.gh-dashboard5-thirds .gh-dashboard5-thirds-main {
    flex: 70%;
    padding-right: 32px;
    display: flex;
    flex-direction: column;
}

.gh-dashboard5-thirds .gh-dashboard5-thirds-sub {
    flex: 30%;
    display: flex;
    flex-direction: column;
}

.gh-dashboard5-title {
    display: flex;
    flex-direction: row;
    margin: 0 0 20px;
}

.gh-dashboard5-title h4 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--black);
    margin: 0;
    padding: 0;
}

.gh-dashboard5-subtitle {
    display: flex;
    flex-direction: row;
    margin: 0 0 20px;
}

.gh-dashboard5-subtitle h4 {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--black);
    margin: 0;
    padding: 0;
    transition: color .3s;
}

.gh-dashboard5-box {
    flex: 1;
    border: 1px solid var(--whitegrey);
    padding: 28px 24px 24px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: stretch;
}

.gh-dashboard5-box.is-secondary {
    background: var(--main-color-content-greybg);
    border: transparent;
}

.gh-dashboard5-box.is-faded {
    background: rgb(240,240,240);
    background: linear-gradient(310deg, rgba(249,249,249,1) 0%, rgba(254,254,254,1) 100%);
}

.gh-dashboard5-columns {
    flex: 1;
    padding: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: stretch;
    background: transparent;
}

.gh-dashboard5-columns > .gh-dashboard5-column {
    flex: 1;
    border-left: 1px solid var(--whitegrey);
    padding: 4px 24px;
    position: relative;
}

.gh-dashboard5-columns > .gh-dashboard5-column:first-child {
    padding-left: 0;
    border-left: 0 none;
}

.gh-dashboard5-columns > .gh-dashboard5-column:last-child {
    padding-right: 0;
}

.gh-dashboard5-minicharts {
    flex: 1;
    padding: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: stretch;
    background: transparent;
}

.gh-dashboard5-minichart {
    flex: 1;
    border-left: 1px solid var(--whitegrey);
    padding: 4px 24px;
    position: relative;
    height: 130px;
}

.gh-dashboard5-minichart .gh-dashboard5-data {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 24px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.gh-dashboard5-minichart:first-child .gh-dashboard5-data {
    left: 0;
}

.gh-dashboard5-minichart:first-child {
    padding-left: 0;
    border-left: 0 none;
}

.gh-dashboard5-minichart:last-child {
    padding-right: 0;
}

.gh-dashboard5-minichart.is-tiers {
    flex-direction: column;
}

.gh-dashboard5-minichart.is-tiers .gh-dashboard5-chart {
    padding: 0;
}

.gh-dashboard5-legend {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center
}

.gh-dashboard5-legend-item {
    font-size: 1.3rem;
    font-weight: 600;
    color: #626d79;
    padding: 0 0 0 18px;
    position: relative;   
}

.gh-dashboard5-legend-item::after {
    content: '';
    width: 9px;
    height: 9px;
    border-radius: 8px;
    background: #8E42FF;
    position: absolute;
    top: 6px;
    left: 0;
}

.gh-dashboard5-legend-item:last-child::after {
    background: #FB76B4;
}

.gh-dashboard5-tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.gh-dashboard5-tab {
    opacity: 0.33;
    margin: 0 24px 0 0;
}

.gh-dashboard5-tab.is-selected {
    opacity: 1;
}

.gh-dashboard5-hero {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: stretch;
}

.gh-dashboard5-hero.is-solo .gh-dashboard5-metric {
    margin-top: 4px;
    margin-bottom: 12px;
}

.gh-dashboard5 .gh-members-help {
    margin-top: 0;
}

.gh-dashboard5-select {
    position: absolute;
    top: 16px;
    right: 4px;
}

.gh-dashboard5-select .ember-power-select-selected-item {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: .3px;
    line-height: 1em;
    padding: 0;
    color: var(--middarkgrey);
    white-space: nowrap;
}

.gh-dashboard5-select-title {
    display: flex;
    justify-content: flex-start;
    margin: -12px 0 -12px -12px;
}

.gh-dashboard5-select-title .ember-power-select-selected-item {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1em;
    margin: 0;
    padding: 0;
    letter-spacing: .2px;
    white-space: nowrap;
    color: var(--black);
}

.gh-dashboard5 .ember-power-select-trigger {
    transition: none;
}

.gh-dashboard5-triple {
    display: flex;
    flex-direction: column;
}

.gh-dashboard5-articles {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.gh-dashboard5-breakout {
    width: calc(100% + 48px + 48px);
    background: #fcfcfc;
    padding: 24px 0 50vh;
    margin-left: -48px;
    margin-right: -48px;
}

.gh-dashboard5-inner {
    max-width: 1230px;
    min-width: 850px;
    margin: 0 auto;
}

.gh-dashboard5-subhead {
    padding: 0 24px 24px;
}


/* --------------------------------- 
Dashboard v5 Chart */

.gh-dashboard5-chart {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.gh-dashboard5-chart-loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gh-dashboard5-chart-ticks {
    flex: none;
    padding: 8px 24px 16px 0;
    font-size: 1.2rem;
    text-transform: none;
    font-weight: 500;
    letter-spacing: .2px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.1rem;
    letter-spacing: .2px;
    color: var(--midgrey);
    line-height: 1em;
}

.gh-dashboard5-chart-container {
    flex: 1;
    position: relative;
}

.gh-dashboard5-chart-box {
    position: relative;
    height: 200px;
    width: 99%; /* ChartJS hack to resize with window */
}

.gh-dashboard5-chart-gradient {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(270deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.gh-dashboard5-chart-box canvas {
    height: 100% !important;
}

.gh-dashboard5-minicharts .gh-dashboard5-chart {
    width: 100%;
    height: 100%;
    padding: 0 0 0 30%;
}

.gh-dashboard5-minicharts .gh-dashboard5-chart-box {
    height: 130px;
}


/* --------------------------------- 
Dashboard v5 Percentage */

.gh-dashboard5-percentage {
    flex: 0;
    background: var(--whitegrey-d1);
    border-radius: 3px;
    font-size: 1.2rem;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 0;
    color: var(--midgrey);
    padding: 2px 4px;
    margin: 5px 0 3px 0;
}

.gh-dashboard5-percentage.is-positive {
    background: color-mod(var(--green) a(13%));
    color: color-mod(var(--green) l(-5%));
}

.gh-dashboard5-percentage.is-negative {
    background: color-mod(var(--yellow) a(20%));
    color: color-mod(var(--yellow) l(-8%));
}


/* --------------------------------- 
Dashboard v5 Metric */

.gh-dashboard5-metric {
    display: flex;
    flex-direction: column;
}

.gh-dashboard5-metric.is-center {
    align-items: center;
}

.gh-dashboard5-metric.is-stretch {
    flex: 1;
    justify-content: space-between;
}

.gh-dashboard5-metric-data {
    display: flex;
    flex-direction: column;
}

.gh-dashboard5-metric-label {
    align-items: center;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1em;
    margin: 0 0 10px;
    padding: 0;
    color: var(--black);
    white-space: nowrap;
    letter-spacing: .2px;
}

.gh-dashboard5-metric.is-reverse .gh-dashboard5-metric-label {
    margin: 2px 0 0;
}

.gh-dashboard5-metric.is-center .gh-dashboard5-metric-label {
    text-align: center;
    margin-top: 4px;
}

.gh-dashboard5-metric-label.is-secondary {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--middarkgrey);
}

.gh-dashboard5-metric-value {
    display: flex;
    align-items: flex-end;
    font-size: 2.6rem;
    font-weight: 700;
    letter-spacing: -.1px;
    line-height: 1em;
    white-space: nowrap;
    margin: 0 0 12px;
    gap: 10px;
    color: var(--black);
}

.gh-dashboard5-metric.is-large .gh-dashboard5-metric-value {
    font-size: 3rem;
    margin-bottom: 0;
}

.gh-dashboard5-metric.is-center .gh-dashboard5-metric-value {
    justify-content: center;
}

.gh-dashboard5-metric.is-reverse.is-large .gh-dashboard5-metric-value {
    margin-bottom: 8px;
}

.gh-dashboard5-metric-value.is-secondary {
    margin: 0 0 8px;
}

.gh-dashboard5-metric.is-tooltip .gh-dashboard5-metric-label {
    font-size: 1.3rem;   
    margin-bottom: 8px;
}

.gh-dashboard5-metric.is-tooltip .gh-dashboard5-metric-value{
    font-size: 2rem;
}

.gh-dashboard5-metric-minivalue {
    font-size: 1.5rem;
    font-weight: 700;
}

.gh-dashboard5-metric-extra {
    text-transform: none;
    font-weight: 500;
    letter-spacing: .2px;
    font-size: 1.1rem;
    letter-spacing: .2px;
    color: var(--midlightgrey);
    line-height: 1em;
}


/* --------------------------------- 
Dashboard v5 List */

.gh-dashboard5-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gh-dashboard5-list-header {
    display: grid;
    grid-template-columns: 55% 15% 30%;
    padding: 0 0 8px;
    border-bottom: 1px solid var(--whitegrey);
}

.gh-dashboard5-list-title {
    align-items: center;
    line-height: 1em;
    white-space: nowrap;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: var(--black);
    padding: 0 20px 8px 0;
    text-transform: uppercase;
    white-space: nowrap;
}

.gh-dashboard5-list-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 8px 0;
}

.gh-dashboard5-list-item {
    padding: 14px 0;
    display: grid;
    grid-template-columns: 55% 15% 30%;
    padding: 4px 0;
}

.gh-dashboard5-list-item:nth-child(3) {
    border-bottom: 0 none;
}

.gh-dashboard5-list-item:last-child {
    border-bottom: 0;
}

.gh-dashboard5-list-item a {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--darkgrey);
    padding: 0 64px 0 0;
    display: flex;
    align-items: center;
}

.gh-dashboard5-list-item svg {
    width: 26px;
    height: 26px;
    margin: 0 0.5rem 0 -4px;
}

.gh-dashboard5-list-item-sub {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    min-height: 32px;
}

.gh-dashboard5-list-footer {
    border-top: 1px solid var(--whitegrey);
    padding: 20px 0 0;
}

.gh-dashboard5-list-date {
    font-size: 1.3rem;
    color: var(--midlightgrey);
    text-align: right;
    padding: 3px 0 0 0;
    white-space: nowrap;
}

.gh-dashboard5-list-author {
    font-size: 1.3rem;
    color: var(--midlightgrey);
    text-align: right;
    padding: 1px 0 0 0;
    white-space: nowrap;
}


/* --------------------------------- 
Dashboard v5 Overview */

.gh-dashboard5-overview {
    position: relative;
}

.gh-dashboard5-overview .gh-dashboard5-area {
    flex-direction: row;
    padding: 24px;
}

.gh-dashboard5-overview .gh-dashboard5-box {
    padding-top: 20px;
    padding-bottom: 20px;
}

.gh-dashboard5-overview .gh-dashboard5-area > div {
    flex: 1;
    border-right: 1px solid var(--whitegrey);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 24px;
}

.gh-dashboard5-overview .gh-dashboard5-area > div:first-child {
    padding-left: 0;
}


/* --------------------------------- 
Dashboard v5 Anchor */

.gh-dashboard5-anchor {
    position: relative;
}

.gh-dashboard5-anchor .gh-dashboard5-box {
    padding-bottom: 8px;
}

.gh-dashboard5-anchor .gh-dashboard5-stats {
    display: flex;
    flex-direction: row;
    width: calc(100% + 48px);
    padding: 8px;
    margin: 4px -24px -8px;
    border-radius: 0 0 4px 4px;
    background: rgba(253,253,253,1);
    border-top: 1px solid var(--whitegrey);
}

.gh-dashboard5-anchor.is-top .gh-dashboard5-stats {
    margin-top: 0;
    margin-bottom: 20px;
    border-width: 0 0 1px;
}

.gh-dashboard5-anchor .gh-dashboard5-stats-button {
    cursor: pointer;
    position: relative;
    flex: 1;
    padding: 14px 24px 18px;
    margin: 2px 8px 2px 2px;
    text-align: left;
    background: transparent;
    border-radius: 5px;
    color: var(--black);
    border: 1px solid transparent;
}

.gh-dashboard5-anchor .gh-dashboard5-stats-button:last-child {
    margin-right: 2px;
}

.gh-dashboard5-anchor .gh-dashboard5-stats-button.is-selected { 
    color: var(--black);
    background: var(--white);
    box-shadow: 0 2px 4px rgb(0 0 0 / 2%);
    border-color: rgb(235 235 235);
}

.gh-dashboard5-anchor .gh-dashboard5-stats.is-solo .gh-dashboard5-stats-button.is-selected {
    background: transparent;
    box-shadow: 0 none;
    border: 0 none;
}

.gh-dashboard5-anchor .gh-dashboard5-stats-highlight {
    width: 1px;
    height: 3px;
    border-radius: 5px;
    background: var(--whitegrey);
    margin: 8px 0 0;
    background: #5B98F2;
    opacity: 0;
    transition: width 175ms ease-out, opacity 125ms linear;
}

.gh-dashboard5-anchor .gh-dashboard5-stats-button.is-selected .gh-dashboard5-stats-highlight {
    width: 25px;
    opacity: 1;
}

.gh-dashboard5-anchor .gh-dashboard5-chart {
    flex-direction: column;
}

.gh-dashboard5-anchor .gh-dashboard5-chart-ticks {
    flex-direction: row;
    padding: 10px 0;
    font-size: 1.2rem;
    color: var(--midlightgrey);
}

.gh-dashboard5-anchor .gh-dashboard5-minicharts {
    margin-top: 48px;
}

.gh-dashboard5-mix .gh-dashboard5-select {
    top: -8px;
    right: -18px;
}


/* --------------------------------- 
Dashboard v5 Engagement */

.gh-dashboard5-engagement {
    position: relative;
}

.gh-dashboard5-engagement .gh-dashboard5-columns {
    padding-top: 24px;
}

.gh-dashboard5-engagement .gh-dashboard5-select {
    right: 6px;
}


/* --------------------------------- 
Dashboard v5 Recent Posts */

.gh-dashboard5-recent-posts {
    position: relative;
}

.gh-dashboard5-recent-posts .gh-dashboard5-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.gh-dashboard5-recent-posts .gh-dashboard5-title {
    margin-bottom: 24px;
}

.gh-dashboard5-recent-posts .gh-dashboard5-list-item {
    height: 100%;
}

.gh-dashboard5-recent-posts .gh-dashboard5-list-item a > span {
    width: 80%;
    overflow: hidden;
    color: var(--darkgrey);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gh-dashboard5-recent-posts .gh-dashboard5-list-item a > span {
    display: inline-block;
    height: 57px;
}

.gh-dashboard5-recent-posts .gh-content-entry-title {
    font-weight: 600;
    font-size: 14px !important;
    color: rgb(21, 23, 26);
}

.gh-dashboard5-recent-posts .footer {
    padding-top: 12px;
}

.gh-dashboard5-recent-posts .gh-dashboard5-list-item > span {
    font-size: 1.8rem;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 24px 4px 0;
}

.gh-dashboard5-recent-posts .gh-dashboard5-list-header {
    margin-top: 24px;
}


/* --------------------------------- 
Dashboard v5 Recent Activity */

.gh-dashboard5-recent-activity {
    position: relative;
}

.gh-dashboard5-recent-activity .gh-dashboard5-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.gh-dashboard5-recent-activity .gh-dashboard5-title {
    margin-bottom: 20px;
}

.gh-dashboard5-recent-activity .gh-dashboard5-list-item {
    display: flex;
    flex-direction: row;
    padding: 10px 0;
    border-bottom: 0 none;
}

.gh-dashboard5-recent-activity .gh-dashboard5-list-item .member-details {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

.gh-dashboard5-recent-activity .gh-dashboard5-list-item .member-avatar {
    width: 28px;
    height: 28px;
    background: #70DEB1;
    border-radius: 24px;
    margin: 0 12px 0 0;
}

.gh-dashboard5-recent-activity .gh-dashboard5-list-header,
.gh-dashboard5-recent-activity .gh-dashboard5-list-item {
    grid-template-columns: 80% 20%;
}

.gh-dashboard5-recent-activity .gh-dashboard5-list-item > a > span {
    color: var(--midgrey);
    padding: 0 0 0 0.5rem;
    white-space: nowrap;
}


/* --------------------------------- 
Dashboard v5 Recents */

.gh-dashboard5-recents {
    position: relative;
}

.gh-dashboard5-recents .gh-dashboard5-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.gh-dashboard5-recents .gh-dashboard5-title {
    margin-bottom: 24px;
}

.gh-dashboard5-recents .gh-dashboard5-list-item {
    height: 100%;
}

.gh-dashboard5-recents .gh-dashboard5-list-item a > span {
    width: 80%;
    overflow: hidden;
    color: var(--darkgrey);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gh-dashboard5-recents .gh-dashboard5-list-item a > span {
    display: inline-block;
    height: 57px;
}

.gh-dashboard5-recents .gh-dashboard5-list-title:last-child,
.gh-dashboard5-recents .gh-dashboard5-list-item .gh-dashboard5-list-item-sub:last-child {
    margin-left: -6px; /* grid layout adjustments */
}

.gh-dashboard5-recents .gh-content-entry-title {
    font-weight: 600;
    font-size: 14px !important;
    color: rgb(21, 23, 26);
}

.gh-dashboard5-recents .footer {
    padding-top: 12px;
}

.gh-dashboard5-recents .gh-dashboard5-list-item > span {
    font-size: 1.8rem;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 24px 4px 0;
}

.gh-dashboard5-recents .gh-dashboard5-list-header {
    margin-top: 32px;
}

.gh-dashboard5-recents .gh-dashboard5-list-loading {
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gh-dashboard5-recents .gh-dashboard5-list-title:last-child,
.gh-dashboard5-recents .gh-dashboard5-list-item .gh-dashboard5-list-item-sub:last-child {
    margin-left: -6px; /* grid layout adjustments */
}

.gh-dashboard5-recents-activity .gh-dashboard5-list-header,
.gh-dashboard5-recents-activity .gh-dashboard5-list-item {
    grid-template-columns: 35% 35% 30%;
}

.gh-dashboard5-recents-activity .gh-dashboard5-list-title:nth-child(2),
.gh-dashboard5-recents-activity .gh-dashboard5-list-item .gh-dashboard5-list-item-sub:nth-child(2) {
    margin-left: -4px; /* grid layout adjustments */
}

.gh-dashboard5-recents-activity .gh-dashboard5-list-item-sub:nth-child(2) > span {
    text-transform: lowercase;
    color: #626d79;
    font-weight: 500;
}

.gh-dashboard5-recents-activity .gh-dashboard5-list-item-sub:nth-child(2) > span:first-letter {
    text-transform: uppercase;
}


/* --------------------------------- 
Dashboard v5 What's New */

.gh-dashboard5-whats-new {
    position: relative;
    margin-left: -12px; /* layout adjustment */
}

.gh-dashboard5-whats-new .gh-dashboard5-list-header,
.gh-dashboard5-whats-new .gh-dashboard5-list-item {
    grid-template-columns: 100%;
}

.gh-dashboard5-whats-new .gh-dashboard5-list-item a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.65rem;
    font-weight: 600;
    line-height: 1.4em;
    margin-bottom: 8px;
    color: var(--black);
}

.gh-dashboard5-whats-new .gh-dashboard5-list-date {
    padding-top: 3px;
}

.gh-dashboard5-whats-new .gh-dashboard5-list-item:first-child .gh-dashboard5-list-link::after {
    display: inline-block;
    content: "New";
    font-size: 1.2rem;
    white-space: nowrap;
    background: #30cf43;
    text-transform: uppercase;
    color: #fff;
    line-height: 1;
    border-radius: 2px;
    margin-left: 8px;
    margin-top: 1px;
    padding: 3px 4px;
}


/* --------------------------------- 
Dashboard v5 Resources */

.gh-dashboard5-resources {
    position: relative;
    margin-right: 12px; /* layout adjustment */
}

.gh-dashboard5-resources .gh-dashboard5-articles {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 16px;
}

.gh-dashboard5-resources .gh-dashboard5-articles-footer {
    margin-top: 20px;
}

.gh-dashboard5-resources .gh-members-help-card {
    padding: 24px;
}

.gh-dashboard5-resources .gh-dashboare5-article-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    font-size: 1.4rem;
    padding: 24px 0;
}

.gh-dashboard5-resources .gh-dashboare5-article-thumbnail {
    flex: 2;
    height: auto;
    overflow: hidden;
    border-radius: 3px;
}

.gh-dashboard5-resources .gh-dashboare5-article-text {
    flex: 3;
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


/* --------------------------------- 
Dashboard v5 Multi */

.gh-dashboard5-multi {
    position: relative;
}

.gh-dashboard5-multi .gh-dashboard5-articles {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 16px;
}

.gh-dashboard5-multi .gh-dashboard5-articles-footer {
    margin-top: 20px;
}

.gh-dashboard5-multi .gh-members-help-card {
    flex: 1;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background: var(--white);
    border-radius: 3px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
    color: #7c8b9a;
    font-size: 1.4rem;
    transition: none;
    margin-right: 16px;
}

.gh-dashboard5-multi .gh-members-help-card:hover {
    transform: translate(0);
}

.gh-dashboard5-multi .gh-dashboard5-list-header {
    padding-bottom: 12px;
}

.gh-dashboard5-multi .gh-dashboard5-subtitle h4 {
    color: var(--darkgrey);
}

.gh-dashboard5-multi .gh-dashboard5-box {
    padding-top: 32px;
}

.gh-dashboard5-multi .gh-dashboard5-thirds-main .gh-dashboard5-list-header {
    border-bottom: 0 none;
}


/* --------------------------------- 
Dashboard v5 Staff Picks */

.gh-dashboard5-staff-picks {
    position: relative;
    margin-left: -12px; /* layout adjustment */
}

.gh-dashboard5-staff-picks .gh-dashboard5-list-header,
.gh-dashboard5-staff-picks .gh-dashboard5-list-item {
    grid-template-columns: 100%;
}

.gh-dashboard5-staff-picks .gh-dashboard5-list-item {
    padding-top: 8px;
    padding-bottom: 8px;
}

.gh-dashboard5-staff-picks .gh-dashboard5-list-item:first-child {
    padding-top: 8px;
}

.gh-dashboard5-staff-picks .gh-dashboard5-list-item:last-child {
    padding-bottom: 0;
}

.gh-dashboard5-staff-picks .gh-dashboard5-list-item a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.65rem;
    font-weight: 600;
    line-height: 1.4em;
    margin-bottom: 8px;
    color: var(--black);
    padding: 0;
}

.gh-dashboard5-staff-picks .gh-dashboard5-list-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: #7c8b9a;
    font-size: 1.4rem;
    padding: 8px 24px 16px 0;
    transition: all .3s ease-in-out;
}


/* --------------------------------- 
Dashboard v5 Latest Newsletters */

.gh-dashboard5-newsletter {
    position: relative;
    margin-right: 12px; /* layout adjustment */
}

.gh-dashboard5-newsletter .gh-dashboard5-newsletter-items {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    flex: 1;
}

.gh-dashboard5-newsletter .gh-dashboard5-newsletter-item h5 {
    font-size: 1.4rem;
    padding: 0 32px 0 0;
}


/* --------------------------------- 
Dashboard v5 Community */

.gh-dashboard5-community {
    position: relative;
}

.gh-dashboard5-community .gh-dashboard5-resource-box {
    background: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(img/community-background.jpg);
    color: var(--white);
    padding-top: 32px;
}

.gh-dashboard5-community .gh-dashboard5-list-body p {
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 1.3em;
    padding: 0 64px 0 0;
    transition: color .3s;
    color: #fff;
}

.gh-dashboard5-community .gh-dashboard5-resource-footer {
    border-color: transparent;
}

.gh-dashboard5-community .gh-dashboard5-resource-footer a {
    color: #fff;
}

.gh-dashboard5-community .gh-dashboard5-resource-title h4 {
    color: #fff;
}


/* --------------------------------- 
Dashboard v5 Misc */

.gh-dashboard5 .gh-offers-help {
    margin: 0;
}

.gh-dashboard5 .gh-list-header {
    border-bottom: 0;
}

.gh-dashboard5-list-footer a,
.gh-dashboard5-articles-footer a {
    font-weight: 600;
}


/* --------------------------------- 
Dashboard v5 Resources */

.gh-dashboard5-resource {
    display: flex;
    margin-bottom: 24px;
}

.gh-dashboard5-resource-main {
    margin-right: 8px; /* grid layout adjustments */
}

.gh-dashboard5-resource-aside {
    margin-left: -8px; /* grid layout adjustments */
}

.gh-dashboard5-resource-box {
    flex: 1;
    border: 1px solid var(--whitegrey);
    padding: 28px 24px 24px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: stretch;
    background: var(--white);
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.02);
}

.gh-dashboard5-resource-box.is-secondary {
    background: var(--main-color-content-greybg);
    border-color: transparent;
    box-shadow: none;
}

.gh-dashboard5-resource-title {
    display: flex;
    flex-direction: row;
    margin: 0 0 20px;
}

.gh-dashboard5-resource-title h4 {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--black);
    margin: 0;
    padding: 0;
    transition: color .3s;
}

.gh-dashboard5-resource-body {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.gh-dashboard5-resource-footer {
    border-top: 1px solid var(--whitegrey);
    padding: 20px 0 0;
}

.gh-dashboard5-resource-footer a {
    font-weight: 600;
}

.gh-dashboard5-resource-thumbnail {
    border-radius: 4px;
    width: 100%;
    height: auto;
}

.gh-dashboard5-resource-bigarticle {
    display: flex;
    flex-direction: row;
    padding: 0 0 24px;
}

.gh-dashboard5-resource-bigarticle .gh-dashboard5-resource-thumbnail {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gh-dashboard5-resource-smallarticles {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.gh-dashboard5-resource-smallarticle {
    flex: 1;
    margin: 0 24px 0 0;
    padding: 0 0 32px 0;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.gh-dashboard5-resource-smallarticle .gh-dashboard5-resource-thumbnail {
    width: 100%;
    margin: 0 0 12px;
}

.gh-dashboard5-resource-smallarticle:last-child {
    margin-right: 0;
}

.gh-dashboard5-resource-bigarticle .gh-dashboard5-resource-text {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px;
}

.gh-dashboard5-resource-secondary {
    font-size: 1.3rem;
    line-height: 1.5em;
    font-weight: 600;
    color: var(--midlightgrey);
    padding: 3px 0 0 0;
    white-space: nowrap;
}


/* --------------------------------- 
Dashboard v5 Tooltips */

.gh-dashboard5-tooltip {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--white);
    border: 1px solid var(--whitegrey);
    border-radius: 8px;
    padding: 12px;
    box-shadow: 0 2px 12px rgba(0,0,0,0.05);
    z-index: 9999;
    pointer-events: none;
    transition: top 50ms ease-out, left 50ms ease-out;
}

.gh-dashboard5-tooltip .gh-dashboard5-metric-value {
    margin: 0;
}

.gh-dashboard5-tooltip-label {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1em;
    color: var(--midlightgrey);
    white-space: nowrap;
    letter-spacing: .2px;
    margin: 0 0 8px;
}

.gh-dashboard5-tooltip-value {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: -.1px;
    line-height: 1em;
    white-space: nowrap;
    color: var(--black);
}

.gh-dashboard5-breakdown .gh-dashboard5-tooltip-value {
    font-size: 1.4rem;
}

.gh-dashboard5-breakdown .gh-dashboard5-tooltip-value-1 {
    margin: 0 0 4px;
}

.gh-dashboard5-mix .gh-dashboard5-tooltip-value {
    font-size: 1.4rem;
}

.gh-dashboard5-totals {
    margin-top: 24px;
}
