/* Error /ghost/404/
/* ---------------------------------------------------------- */

.error-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: text;
    height: 100svh;
}

.error-details {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
}

.error-ghost {
    margin: 15px;
    height: 115px;
}

@media (max-width: 630px) {
    .error-ghost {
        display: none;
    }
}

.error-code {
    margin: 0;
    font-size: 1.8rem;
    color: var(--midgrey);
}


.error-description {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--midgrey);
}

.error-message {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 15px;
    color: var(--midgrey);
}

/* Stack trace
/* ---------------------------------------------------------- */

.error-stack {
    margin: 1rem auto;
    padding: 2rem;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.3);
}

.error-stack-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.error-stack-list li {
    display: block;
}

.error-stack-list li:before {
    content: "\21AA";
    display: inline-block;
    margin-right: 0.5rem;
    color: #bbb;
    font-size: 1.2rem;
}

.error-stack-function {
    font-weight: bold;
}
