.fullscreen-wizard-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    height: 100vh;
    background: var(--white);
    overflow: auto;
}

.gh-launch-wizard-step-indicator {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: var(--midgrey);
    text-transform: uppercase;
}

.gh-launch-wizard-preview {
    box-shadow: 
        0 0 0 1px rgba(0,0,0,0.02),
        0 2.8px 2.2px rgba(0, 0, 0, 0.02),
        0 6.7px 5.3px rgba(0, 0, 0, 0.028),
        0 12.5px 10px rgba(0, 0, 0, 0.035),
        0 22.3px 17.9px rgba(0, 0, 0, 0.042),
        0 41.8px 33.4px rgba(0, 0, 0, 0.05),
        0 100px 80px rgba(0, 0, 0, 0.07);
    ;
}

.gh-launch-wizard-settings-design {
    min-width: 320px;
    margin: 20px 0 -20px;
    padding: 24px 80px 24px 0;
    height: calc(100vh - 136px);
}

.gh-launch-wizard-settings-design .gh-setting-action-largeimg-delete,
.gh-launch-wizard-settings-design .gh-setting-action-smallimg-delete {
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 5px;
    margin: 0;
    border-radius: 3px;
    opacity: 0;
}

.gh-launch-wizard-settings-design .gh-setting-action-largeimg-delete:hover,
.gh-launch-wizard-settings-design .gh-setting-action-smallimg-delete:hover {
    background: var(--red);
    border-color: transparent;
}