.gh-labs-price-label input::-webkit-outer-spin-button, .gh-labs-price-label input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
}

.gh-labs-price-label input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

.gh-labs-toggle-wrapper {
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 5px;
}

.gh-btn-labs-toggle {
    border: none !important;
    display: flex;
    align-items: center;
    color: var(--blue) !important;
    background: transparent !important;
}

.gh-btn-labs-toggle,
.gh-btn-labs-toggle:hover {
    box-shadow: none !important;
}

.gh-btn-labs-toggle svg {
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.gh-btn-labs-toggle svg path {
    stroke: var(--blue);
}

.gh-labs-disabled .for-checkbox label,
.gh-labs-disabled .for-checkbox .input-toggle-component,
.gh-labs-disabled .for-switch label,
.gh-labs-disabled .for-switch .input-toggle-component
.gh-labs-disabled .for-radio label,
.gh-labs-disabled .for-radio .input-toggle-component {
    cursor: default;
}

/* Members settings */
/* ------------------------------------------------ */

.gh-labs-members-radio {
    cursor: pointer;
    margin: 0 8px;
}

.gh-labs-members-radio.active {
    background: color-mod(var(--blue) alpha(6%));
    border-color: var(--blue);
}

.gh-labs-disabled .gh-setting-content, .gh-labs-disabled .gh-setting-action {
    opacity: 0.25;
}

.gh-labs-members-emaildropdown {
    min-width: 208px;
    margin-left: 8px;
}

.gh-labs-members-emaildropdown[disabled] {
    background: var(--whitegrey-d2);
    color: var(--darkgrey);
}

.gh-labs-sso-settings svg {
    position: relative;
    bottom: 1px;
    width: 18px;
    margin-right: 8px;
}

/* Import modal
/* ---------------------------------------------------------- */

.fullscreen-modal-import-content {
    max-width: unset !important;
}

.gh-content-import-wrapper {
    width: 420px;
}

.gh-content-import-wrapper .gh-btn.disabled,
.gh-content-import-wrapper .gh-btn.disabled:hover {
    cursor: auto !important;
    opacity: 0.6 !important;
}

.gh-content-import-wrapper .gh-btn.disabled span,
.gh-content-import-wrapper .gh-btn.disabled span:hover {
    cursor: auto !important;
    pointer-events: none;
}

.gh-content-import-wrapper .gh-token-input .ember-power-select-trigger[aria-disabled=true],
.gh-content-import-wrapper .gh-token-input .ember-power-select-trigger-multiple-input:disabled {
    background: var(--whitegrey-l2);
}

@media (max-width: 600px) {
    .gh-content-import-wrapper,
    .gh-content-import-wrapper.wide {
        width: calc(100vw - 128px);
    }
}

.gh-content-import-uploader {
    width: 100%;
    min-height: 180px;
}

.gh-content-import-uploader svg {
    width: 3.2rem;
    height: 3.2rem;
    margin-bottom: 1rem;
}

.gh-content-import-uploader svg path {
    stroke: var(--midlightgrey);
}

.gh-content-import-uploader:hover svg path {
    stroke: var(--midgrey-l1);
}

.gh-content-import-uploader .description {
    color: var(--midgrey);
    font-size: 1.4rem;
    font-weight: 500;
}

.gh-content-import-uploader:hover .description {
    color: var(--midgrey-d2);
}

.gh-content-import-file {
    min-height: 180px;
}

.gh-content-import-spinner {
    position: relative;
    display: flex;
    min-height: 182px;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
}

.gh-content-import-spinner .gh-loading-content {
    padding-bottom: 0px;
}

.gh-content-import-spinner .description {
    padding-top: 46px;
}

.gh-content-upload-errorcontainer {
    border: 1px solid var(--whitegrey);
    border-radius: 4px;
    padding: 12px;
    margin-bottom: 24px;
    color: var(--middarkgrey);
}

.gh-content-upload-errorcontainer.warning {
    border-left: 4px solid var(--yellow);
}


.gh-content-upload-errorcontainer.warning p a {
    color: color-mod(var(--yellow) l(-12%));
    text-decoration: underline;
}

.gh-content-upload-errorcontainer.error {
    border-left: 4px solid var(--red);
}

.gh-content-upload-errorcontainer.error p a {
    color: var(--red);
    text-decoration: underline;
}

.gh-content-import-errormessage {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 12px 0 0;
}

p.gh-content-import-errorcontext {
    font-size: 1.25rem;
    line-height: 1.3em;
    margin: 0;
    font-weight: 400;
}

.gh-content-import-mapping .error {
    color: var(--red);
}

.gh-content-import-mappingwrapper.error {
    position: relative;
}

.gh-content-import-mappingwrapper.error::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid red;
    z-index: 9999;
    pointer-events: none;
}

.gh-content-import-scrollarea {
    position: relative;
    max-height: calc(100vh - 350px - 12vw);
    overflow-y: scroll;
    margin: 0 -32px;
    padding: 0 32px;
    background:
        /* Shadow covers */
        linear-gradient(var(--white) 30%, rgba(255,255,255,0)),
        linear-gradient(rgba(255,255,255,0), var(--white) 70%) 0 100%,

        /* Shadows */
        /* radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.12), rgba(0,0,0,0)) -64px 0,
        radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.12), rgba(0,0,0,0)) -64px 100%; */
        linear-gradient(rgba(0,0,0,0.08), rgba(0,0,0,0)),
        linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.08)) 0 100%;
	background-repeat: no-repeat;
	background-color: var(--white);
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

	/* Opera doesn't support this in the shorthand */
    background-attachment: local, local, scroll, scroll;
    margin-top: 4px;
}

.gh-content-import-errorheading {
    font-size: 1.4rem;
    line-height: 1.55em;
    margin-top: 2px;
}

p.gh-content-import-errordetailtext {
    font-size: 1.3rem;
    line-height: 1.4em;
    color: var(--midgrey);
}

.gh-content-import-errordetailtext:first-of-type {
    border-top: 1px solid var(--lightgrey);
    padding-top: 8px;
    margin-top: 8px;
}

.gh-content-import-errordetailtext:not(:last-of-type) {
    padding-bottom: 4px;
    margin-bottom: 6px;
}

.gh-content-import-table {
    position: relative;
    margin-bottom: 1px;
}

.gh-content-import-table::before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: -33px;
    bottom: 0;
    height: 100%;
    width: 32px;
    background: var(--white);
}

.gh-content-import-table::after {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    right: -32px;
    bottom: 0;
    height: 100%;
    width: 32px;
    background: var(--white);
}

.gh-content-import-table th {
    padding: 3px 8px;
    background: color-mod(var(--darkgrey) a(5%) s(+50%));
    border-left: 1px solid var(--content-import-table-border);
    border-top: 1px solid var(--content-import-table-outline);
    border-bottom: 1px solid var(--content-import-table-border);
}

.gh-content-import-table tr th:first-of-type {
    border-left: 1px solid var(--content-import-table-outline);
    width: 180px;
}

.gh-content-import-table tr th:last-of-type {
    border-right: 1px solid var(--content-import-table-outline);
}

.gh-content-import-table td.empty-cell {
    background: color-mod(var(--darkgrey) a(3%) s(+50%));
}

.gh-content-import-table td {
    padding: 7px 8px 6px;
    border-left: 1px solid var(--content-import-table-border);
    border-bottom: 1px solid var(--content-import-table-border);
    vertical-align: top;
}

.gh-content-import-table tr td:first-of-type {
    border-left: 1px solid var(--content-import-table-outline);
    width: 180px;
}

.gh-content-import-table tr td:last-of-type {
    padding: 0;
    border-right: 1px solid var(--content-import-table-outline);
}

.gh-content-import-table tr:last-of-type td {
    border-bottom: 1px solid var(--content-import-table-outline);
}

.gh-content-import-table td span,
.gh-content-import-table th span {
    user-select: none !important;
}

.gh-content-import-datanav {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.01), 0 1px 2px rgba(0, 0, 0, 0.05);
}

p.gh-content-import-errordetail {
    font-size: 1.2rem;
    line-height: 1.4em;
    margin: 10px 0 0 24px;
}

p.gh-content-import-errordetail:first-of-type {
    border-top: 1px solid var(--whitegrey);
    padding-top: 8px;
    margin-top: 8px;
}

.gh-import-content-select {
    height: auto;
    border: none;
    background: none;
    border-radius: 0;
}

.gh-import-content-select select {
    height: 34px;
    border: none;
    font-size: 1.3rem;
    line-height: 1em;
    padding: 4px 4px 4px 8px;
    background: none;
    color: var(--middarkgrey);
    font-weight: 600;
    border-radius: 0;
}

.gh-import-content-select select option {
    font-weight: 400;
    color: var(--darkgrey);
}

.gh-import-content-select select:focus {
    background: none;
    color: var(--middarkgrey);
}

.gh-import-content-select.unmapped select,
.gh-import-content-select.unmapped select:focus {
    color: var(--midlightgrey);
    font-weight: 400;
}

.gh-import-content-select svg {
    right: 9px;
}

.gh-content-import-table th.table-cell-field,
.gh-content-import-table td.table-cell-field,
.gh-content-import-table th.table-cell-data,
.gh-content-import-table td.table-cell-data {
    max-width: 180px;
    overflow-wrap: break-word;
}

.gh-content-import-resultcontainer {
    margin-bottom: 28px;
}

.gh-content-import-result-summary {
    flex-basis: 50%;
}

.gh-content-import-result-summary h2 {
    font-size: 3.6rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.gh-content-import-result-summary p {
    color: var(--darkgrey);
    margin: 0;
    padding: 0;
    line-height: 1.6em;
    margin-bottom: 12px;
}

.gh-content-import-result-summary p strong {
    font-size: 1.5rem;
    letter-spacing: 0;
}

.gh-content-import-errorlist {
    width: 100%;
    margin: 8px 0 28px;
}

.gh-content-import-errorlist h4 {
    font-size: 13px;
    font-weight: 500;
    border-bottom: 1px solid var(--whitegrey);
    padding-bottom: 8px;
    margin-top: 0px;
    color: var(--midgrey);
}

.gh-content-import-errorlist ul li {
    font-size: 13px;
    font-weight: 400;
    color: var(--midlightgrey-d2);
    padding: 0;
    margin-bottom: 6px;
}

.gh-content-import-resultcontainer hr {
    margin: 24px -32px;
    border-color: var(--whitegrey);
}

.gh-content-import-nodata span {
    display: flex;
    min-height: 144px;
    align-items: center;
    justify-content: center;
    color: var(--midgrey);
}

.gh-content-import-icon-content path,
.gh-content-import-icon-content circle {
    stroke-width: 0.85px;
}

.gh-content-import-icon-confetti {
    color: var(--pink);
    margin-left: 12px;
}

.gh-content-import-icon-confetti path,
.gh-content-import-icon-confetti circle,
.gh-content-import-icon-confetti ellipse {
    stroke-width: 0.85px;
}

.gh-import-content-icon {
    color: var(--darkgrey);
    width: 54px !important;
    height: 54px !important;
    margin-right: -8px;
}

.gh-import-content-icon * {
    stroke-width: 0.8px !important;
}

/* Fixing Firefox's select padding */
@-moz-document url-prefix() {
    .gh-import-content-select select {
        padding: 4px;
    }
}

.fullscreen-modal-import-content {
    max-width: unset !important;
}

.gh-import-content-spinner {
    min-height: 120px;
}

.gh-import-content-spinner .gh-loading-content {
    padding-bottom: 0;
}

.gh-feedback-lexical-labs .form-group {
    margin: 10px 0;
}