.gh-labs-price-label input::-webkit-outer-spin-button, .gh-labs-price-label input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
}

.gh-labs-price-label input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

.gh-labs-toggle-wrapper {
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 5px;
}

.gh-btn-labs-toggle {
    border: none !important;
    display: flex;
    align-items: center;
    color: var(--blue) !important;
    background: transparent !important;
}

.gh-btn-labs-toggle,
.gh-btn-labs-toggle:hover {
    box-shadow: none !important;
}

.gh-btn-labs-toggle svg {
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.gh-btn-labs-toggle svg path {
    stroke: var(--blue);
}

.gh-labs-disabled .for-checkbox label,
.gh-labs-disabled .for-checkbox .input-toggle-component,
.gh-labs-disabled .for-switch label,
.gh-labs-disabled .for-switch .input-toggle-component
.gh-labs-disabled .for-radio label,
.gh-labs-disabled .for-radio .input-toggle-component {
    cursor: default;
}

/* Members settings */
/* ------------------------------------------------ */

.gh-labs-members-radio {
    cursor: pointer;
    margin: 0 8px;
}

.gh-labs-members-radio.active {
    background: color-mod(var(--blue) alpha(6%));
    border-color: var(--blue);
}

.gh-labs-disabled .gh-setting-content, .gh-labs-disabled .gh-setting-action {
    opacity: 0.25;
}


/* Stripe settings */

.gh-members-stripe-info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gh-members-stripe-info-header h4 {
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.gh-members-stripe-info {
    border-radius: 0.9rem;
    border: 1px solid var(--whitegrey);
    background: var(--white);
    padding: 12px;
    width: 380px;
}

.gh-members-stripe-badge {
    width: 180px;
}

.gh-members-stripe-link {
    color: #555ABF;
}

.gh-members-connectbutton-container {
    max-width: 380px;
}

.gh-members-connectbutton-container .for-switch {
    line-height: 1em;
}

.gh-members-connectbutton-container .for-switch label {
    width: 36px !important
}

.gh-members-connectbutton-container .for-switch input:checked + .input-toggle-component {
    background: #F1946A;
}

.gh-members-connect-testmodeon {
    color: #F1946A;
}

.gh-members-stripe-connect-token {
    background: var(--whitegrey-l2);
    min-height: unset;
    height: 73px;
    max-width: 380px;
    font-family: var(--font-family-mono);
    font-size: 1.3rem;
    resize: none;
}

.gh-members-connect-testmodelabel {
    display: inline-block;
    background: #f8e5b9;
    color: #983705;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1em;
    border-radius: 999px;
    padding: 4px 8px;
}

.gh-members-connect-savecontainer {
    height: 0px;
    overflow-y: hidden;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    margin-top: 16px;
    margin-bottom: 0;
}

.gh-members-connect-savecontainer.expanded {
    margin-bottom: 20px;
}

.gh-members-connect-savecontainer.expanded {
    height: 36px;
    opacity: 1.0;
}

@media (max-width: 500px) {
    .gh-members-stripe-info-header {
        flex-direction: column;
        align-items: stretch;
    }

    .gh-members-stripe-info-header h4 {
        order: 2;
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid var(--whitegrey);
    }

    .gh-members-stripe-badge {
        order: 1;
        /* margin: -10px 0 0 -10px; */
    }

    .gh-members-stripe-info {
        width: 100%;
    }
}

.gh-labs-members-emaildropdown {
    min-width: 208px;
    margin-left: 8px;
}

.gh-labs-members-emaildropdown[disabled] {
    background: var(--whitegrey-d2);
    color: var(--darkgrey);
}

.gh-labs-members-defaultemaildd {
    padding-right: 216px;
}

.gh-labs-mailgun-region {
    width: 140px !important;
    margin-right: 12px;
}

.gh-labs-mailgun-region .ember-power-select-trigger {
    white-space: nowrap;
}

.gh-labs-mailgun-region .ember-power-select-trigger svg {
    margin-left: 23px;
    width: 10px;
    height: 6px;
}