.gh-labs-price-label input::-webkit-outer-spin-button, .gh-labs-price-label input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
}

.gh-labs-price-label input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}

.gh-labs-toggle-wrapper {
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 5px;
}

.gh-btn-labs-toggle {
    border: none !important;
    display: flex;
    align-items: center;
    color: var(--blue) !important;
    background: transparent !important;
}

.gh-btn-labs-toggle,
.gh-btn-labs-toggle:hover {
    box-shadow: none !important;
}

.gh-btn-labs-toggle svg {
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.gh-btn-labs-toggle svg path {
    stroke: var(--blue);
}

.gh-labs-members-radio {
    cursor: pointer;
    margin: 0 8px;
}

.gh-labs-members-radio.active {
    background: color-mod(var(--blue) alpha(6%));
    border-color: var(--blue);
}

.gh-labs-disabled .gh-setting-content, .gh-labs-disabled .gh-setting-action {
    opacity: 0.25;
}

.gh-members-stripe-info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gh-members-stripe-info-header h4 {
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.gh-members-stripe-info {
    border-radius: 0.9rem;
    border: 1px solid var(--whitegrey);
    background: var(--whitegrey-l2);
    padding: 12px;
    width: 380px;
}

.gh-members-stripe-badge {
    width: 180px;
}

.gh-members-stripe-link {
    color: #555ABF;
}

@media (max-width: 500px) {
    .gh-members-stripe-info-header {
        flex-direction: column;
        align-items: stretch;
    }

    .gh-members-stripe-info-header h4 {
        order: 2;
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid var(--whitegrey);
    }

    .gh-members-stripe-badge {
        order: 1;
        /* margin: -10px 0 0 -10px; */
    }

    .gh-members-stripe-info {
        width: 100%;
    }
}

.gh-labs-disabled .for-checkbox label,
.gh-labs-disabled .for-checkbox .input-toggle-component,
.gh-labs-disabled .for-switch label,
.gh-labs-disabled .for-switch .input-toggle-component
.gh-labs-disabled .for-radio label,
.gh-labs-disabled .for-radio .input-toggle-component {
    cursor: default;
}

.gh-labs-mailgun-region {
    width: 140px !important;
    margin-right: 12px;
}

.gh-labs-mailgun-region .ember-power-select-trigger {
    white-space: nowrap;
}

.gh-labs-mailgun-region .ember-power-select-trigger svg {
    margin-left: 23px;
    width: 10px;
    height: 6px;
}