.gh-members-activity .gh-member-detail-overview {
    padding: 0 0 32px;
}

.gh-members-activity .gh-list-scrolling thead th:last-child {
    width: 25%;
}

.gh-members-activity-single .gh-list-scrolling {
    height: calc(100vh - 208px);
}

.gh-list-data-event {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gh-members-activity-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.25rem 0;
}

.gh-members-activity-detail {
    display: flex;
    flex-direction: column;
}

.gh-members-activity-description {
    display: inline-block;
    text-transform: lowercase;
    color: var(--middarkgrey);
}

.gh-members-activity-description:first-letter {
    text-transform: uppercase;
}

.gh-members-activity-single .gh-members-activity-description {
    font-weight: 500;
    font-size: 14px;
    color: var(--black);
}

.gh-members-activity-icon {
    width: 24px;
    height: 24px;
    margin: 0 1rem 1rem 0;
}

.gh-members-activity-single .gh-members-activity-icon {
    margin-bottom: 0;
}

.gh-members-activity-icon svg {
    width: 100%;
    height: 100%;
}

.gh-members-activity-name {
    font-weight: 600;
    font-size: 14px;
    color: var(--black);
}

.gh-members-activity-event {
    font-weight: 400;
    font-size: 13px;
    color:  var(--middarkgrey);
}

@media (max-width: 1450px) {
    .gh-members-activity .gh-canvas-header.break.tablet .gh-canvas-header-content {
        height: 95px;
        border-bottom: 0;
        align-items: center;
    }
    .gh-members-activity .gh-canvas-header.break.tablet .gh-canvas-title {
        margin-top: -3px;
    }
}

.gh-member-activity-actions-menu {
    top: calc(100% + 12px);
    left: auto;
    right: 10px;
    padding: 2rem;
}

.gh-member-activity-actions-menu h3 {
    margin-bottom: 0.75rem;
}

.gh-member-activity-actions-menu h3 {
    margin-bottom: 0.75rem;
}

.gh-member-activity-actions-menu .ember-power-select-option {
    padding: 4px 0;
    min-width: 240px;
}

.gh-member-activity-actions-menu .ember-power-select-option label {
    padding: 0.75rem 2rem 0.75rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.gh-member-activity-actions-menu .ember-power-select-option input {
    visibility: hidden;
    width: 0;
}

.gh-member-activity-actions-menu.dropdown-menu svg {
    margin-right: 1.5rem;
    height: 24px;
    width: 24px;
    line-height: 1em;
    fill: none;
}

.gh-member-activity-actions-menu .ember-power-select-option.selected label {
    font-weight: 600;
    color: var(--black);
}

.gh-member-activity-actions-menu.dropdown-menu .ember-power-select-option.selected svg path {
    stroke: var(--darkgrey);
}
