/* Members list
/* ----------------------------------------- */

.view-actions input.gh-members-list-searchfield {
    min-width: 220px;
    padding-left: 30px;
}

p.gh-members-list-email {
    margin: -2px 0 -1px;
}

.gh-members-list-subscribed-at {
    margin-right: -8px;
    padding-right: 0;
}

.gh-members-placeholder {
    width: 118px;
    margin: -30px 0 15px;
}


/* Member details
/* ----------------------------------------- */

label[for="member-description"] + p {
    margin: 0 0 4px;
}

textarea.gh-member-details-textarea {
    max-width: 100%;
    height: 123px;
}

.gh-member-info-icon {
    width: 18px;
    height: 18px;
}

.gh-member-stripe-info {
    border-bottom: 1px solid var(--whitegrey);
}

.gh-member-stripe-info:last-of-type {
    border-bottom: none;
}

.gh-member-stripe-table {
    width: 100%;
    margin: 10px 0 12px;
}

.gh-member-stripe-table td {
    vertical-align: top;
    font-size: 1.4rem;
    padding: 6px 12px 6px 0;
}

.gh-member-stripe-label {
    color: var(--midgrey-d1);
    white-space: nowrap;
    width: 200px;
}

/* Import modal
/* ---------------------------------------------------------- */

.gh-members-import-results {
    margin: 0;
    width: auto;
}