/* Global
/* ----------------------------------------- */

/* Members avatar
/* ----------------------------------------- */
.gh-member-gravatar {
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    box-shadow: 0 0 0 2px var(--white);
}

.gh-member-detail-avatar {
    box-shadow: none;
}

.gh-member-avatar-label {
    display: block;
    color: #fff;
}

.gh-member-avatar-image {
    display: block;
    position: absolute;
    display: block;
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    opacity: 1.0;
    max-width: unset;
}

.gh-member-initials {
    border: none;
}

.gh-member-detail-avatar .gh-member-initials {
    box-shadow: 0 0 0 1px var(--main-bg-color);
}

/* Members list
/* ----------------------------------------- */

.view-actions input.gh-members-list-searchfield {
    min-width: 220px;
    padding-left: 30px;
}

.gh-members-list-searchfield.active {
    border-color: #3eb0ef;
    box-shadow: inset 0 0 0 1px #3eb0ef;
}

p.gh-members-list-email {
    margin: -2px 0 -1px;
}

.gh-members-list-subscribed-at {
    margin-right: -8px;
    padding-right: 0;
}

.gh-members-placeholder {
    width: 118px;
    margin: -30px 0 15px;
}

.gh-member-list-avatar {
    font-size: 1.65rem;
    font-weight: 500;
    line-height: 0;
    letter-spacing: -0.6px;
}

.gh-member-actions-menu {
    top: calc(100% + 6px);
}

.gh-member-actions-menu.fade-out {
    animation-duration: .001s;
    pointer-events: none;
}

.members-header .gh-members-header-search {
    margin-right: 12px;
    border-right: 1px solid var(--lightgrey-d2);
    padding-right: 12px;
}

@media (max-width: 1000px) {
    .members-list .gh-list-header, .gh-list-hidecell-m {
        display: table-cell;
    }
}

@media (max-width: 900px) {
    .members-list .gh-list-header, .gh-list-hidecell-m {
        display: none;
    }

    .gh-members-list-item {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        border-bottom: 1px solid var(--lightgrey);
        margin: 0;
    }

    .gh-members-list-item:nth-of-type(2) {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .gh-members-list-item .gh-list-data {
        border-top: none !important;
    }

    .gh-members-list-item:hover {
        background: var(--whitegrey-l2);
    }

    .gh-members-list-item:hover .gh-list-data {
        background: none !important;
    }

    .gh-members-list-basic {
        display: block;
        flex: 1 1 100%;
    }

    .gh-members-list-subscribed-at {
        display: inline-block;
        width: unset;
        padding: 0 0 16px 64px;
        margin-top: -7px;
        font-size: 1.2rem;
    }

    .gh-members-list-chevron {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .gh-list h3.gh-members-name-noname {
        margin-top: -14px;
    }

    .gh-members-subscribed-noname {
        display: inline-block;
        margin-top: -32px;
        padding-bottom: 16px;
    }
}

@media (max-width: 450px) {
    .members-header {
        justify-content: flex-end;
        min-height: 120px;
    }

    .members-header .gh-canvas-title {
        position: absolute;
        top: 29px;
        left: 21px;
    }

    .members-header .view-actions {
        margin-top: 62px;
        width: 100%;
    }

    .members-header .view-actions .gh-members-header-search {
        width: 100%;
    }

    .view-actions input.gh-members-list-searchfield {
        min-width: 0;
    }
}


/* Member details
/* ----------------------------------------- */

label[for="member-description"] + p {
    margin: 0 0 4px;
}

textarea.gh-member-details-textarea {
    max-width: 100%;
    height: 123px;
}

.gh-member-info-icon {
    width: 18px;
    height: 18px;
}

.gh-member-stripe-info {
    border-bottom: 1px solid var(--whitegrey);
}

.gh-member-stripe-info:last-of-type {
    border-bottom: none;
}

.gh-member-stripe-table {
    width: 100%;
    margin: 10px 0 12px;
}

.gh-member-stripe-table td {
    vertical-align: top;
    font-size: 1.4rem;
    padding: 6px 12px 6px 0;
}

.gh-member-stripe-label {
    color: var(--midgrey-d1);
    white-space: nowrap;
    width: 200px;
}

.gh-members-subscribed-checkbox {
    max-width: 100%;
}

.gh-new-member-avatar {
    background: var(--midlightgrey-l1);
}

.gh-member-cancels-on-label {
    display: inline-block;
    background: var(--lightgrey-d1);
    border-radius: 4px;
    padding: 1px 6px;
    margin: -2px 0 -2px -6px;
    color: var(--darkgrey);
    font-size: 1.4rem;
    font-weight: 500;
}

.gh-member-stripe-status {
    text-transform: capitalize;
}

/* Import modal
/* ---------------------------------------------------------- */

.gh-members-import-results {
    margin: 0;
    width: auto;
}
