.gh-migrate {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999;
    background: var(--main-bg-color);
}

.gh-migrate-container {
    position: relative;
    height: 100%;
    width: 100%;
}

.gh-migrate-fullscreen-container {
    position: relative;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    height: 100vh;
    background: var(--main-bg-color);
    overflow: hidden;
}

.gh-migrate .migrate-frame {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 10;
    transform: translate3d(0, 0, 0);
}

.gh-migrate-close {
    /* Other styles are classes form the design system */
    z-index: 10000; /* One more than the iframe wrapper */
}

.gh-migrate-close a svg {
    display: block;
    width: 2rem;
    height: 2rem;
}
