.fullscreen-modal-edit-offer {
    max-width: 1220px;
}

.gh-offer-modal-content {
    margin: -32px -32px 0;
    padding: 32px 32px 0;
    max-height: calc(100vh - 16vw);
    overflow: scroll;
}

.gh-offer-modal-content .gh-main-section.columns-3 {
    grid-template-columns: 0.8fr 0.8fr 1.2fr;
}

.gh-offers-list-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vw;
}

.gh-offers-list-cta h4 {
    color: var(--darkgrey);
    text-align: center;
    font-weight: 600;
    margin-bottom: 8px;
} 

.gh-offers-list-cta p {
    max-width: 390px;
    color: var(--midgrey);
    text-align: center;
    line-height: 1.45em;
    margin: 0 0 20px;
    padding: 0;
}

.gh-offers-list-cta .discount-bubble {
    color: var(--lightgrey);
    width: 72px;
    height: 72px;
    margin-bottom: 16px;
}

.gh-offers-list-cta .discount-bubble path,
.gh-offers-list-cta .discount-bubble circle {
    stroke-width: 0.8px;
}

.gh-offers-list-cta button {
    min-width: 140px;
}

.gh-offers-list {
    padding: 0;
}

.gh-offers-list-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
}

.gh-offers-list-footer a svg path {
    stroke-width: 1.5px;
}

.gh-offer-modal-content .form-group:last-of-type {
    margin-bottom: 0;
}

.gh-offer-type {
    display: grid;
    grid-template-columns: 160px auto;
    grid-gap: 24px;
    white-space: nowrap;
    margin-top: -8px;
}

.gh-offer-type .gh-radio {
    margin-bottom: 0;
    align-items: center;
}

.gh-offer-type .gh-radio-content {
    margin-left: 6px;
}

.gh-offer-type .gh-radio-label {
    font-size: 1.3rem;
}

.gh-offer-value {
    position: relative;
}

.gh-offer-value .unit {
    display: block;
    position: absolute;
    top: 7px;
    left: 8px;
    color: var(--midgrey);
}

.gh-offer-value .gh-input {
    padding-left: 20px;
}

.gh-offer-value.percentage .unit {
    left: unset;
    right: 11px;
}

.gh-offer-value.gh-offer-value.percentage .gh-input {
    padding-left: 12px;
    padding-right: 28px;
}

.gh-offer-form textarea {
    max-width: unset;
}

.gh-offer-form .form-group {
    max-width: unset;
}

/* Offers – Portal preview */
.gh-offer-portal-preview {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.gh-offer-portal-preview-mock {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--midgrey);
    border-radius: 5px;
    height: 640px;
    width: 420px;
    background: #fff;
    box-shadow: var(--box-shadow-preview-box);
}

.gh-offers-help {
    margin-top: 5vmin;
}

.gh-offers-help .gh-main-section-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
    padding: 32px;
}

.gh-offers-help-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background: var(--white);
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
    color: var(--midgrey);
    font-size: 1.3rem;
    padding: 32px;
}