.fullscreen-modal-edit-offer {
    max-width: 1220px;
}

.gh-offers .view-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0;
    min-height: calc(100vh - 195px);
}

.gh-offers-list-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vw;
}

.gh-offers-list-cta h4 {
    color: var(--black);
    text-align: center;
    font-weight: 600;
    margin-bottom: 8px;
}

.gh-offers-list-cta p {
    max-width: 390px;
    color: var(--midgrey);
    text-align: center;
    line-height: 1.45em;
    margin: 0 0 20px;
    padding: 0;
}

.gh-offers-list-cta .discount-bubble {
    color: var(--lightgrey);
    width: 72px;
    height: 72px;
    margin-bottom: 16px;
}

.gh-offers-list-cta .discount-bubble path,
.gh-offers-list-cta .discount-bubble circle {
    stroke-width: 0.8px;
}

.gh-offers-list-cta button {
    min-width: 140px;
}

.gh-offers-list {
    padding: 0;
}

.gh-offers-list .offer-value {
    display: flex;
    align-items: center;
    white-space: nowrap;
    color: var(--green);
}

.gh-offers-list .offer-value svg {
    width: 11px;
    height: 11px;
    margin-right: 6px;
}

.gh-offers-list .offer-value svg path {
    stroke-width: 2px;
}

.gh-offers-list-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
}

.gh-offers-list-footer a svg path {
    stroke-width: 1.5px;
}

.gh-offer-link-button {
    opacity: 0;
    cursor: pointer;
}

.gh-offers .gh-list-row:hover .gh-offer-link-button {
    opacity: 1;
}

.gh-offer-link-button,
.gh-offer-link-button:hover {
    margin-right: 16px;
}

.gh-offer-link-button svg {
    width: 18px;
    height: 18px;
}

.gh-offer-link-button svg path {
    stroke: var(--darkgrey);
    stroke-width: 1.4px;
}

.gh-offer-link-button:hover svg path {
    stroke: var(--black);
}

.gh-offer-discount {
    display: flex;
    align-items: flex-end;
}

.gh-offer-type {
    width: 160px;
    margin-bottom: 23px;
}

.gh-offer-type select {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none !important;
}

.gh-offer-value {
    position: relative;
}

.gh-offer-value .gh-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.gh-offer-form {
    max-width: 680px;
}

.gh-offer-form textarea {
    max-width: unset;
}

.gh-offer-form .form-group {
    max-width: unset;
}

.gh-offer-duration {
    display: flex;
}

.gh-offer-duration .form-group {
    position: relative;
    margin-bottom: 0;
}

.gh-offer-duration .form-group:not(:first-of-type) {
    margin-left: 24px;
}

.gh-offer-duration .duration-months::before {
    position: absolute;
    content: "months";
    bottom: 7px;
    right: 12px;
    color: var(--midgrey);
    font-size: 1.5rem;
}

.gh-offer-url .gh-input {
    background: color-mod(var(--input-bg-color) l(-1%)) !important;
    color: var(--midgrey-l2) !important;
}

/* Offers – Portal preview */
.gh-offer-portal-preview {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.gh-offer-portal-preview-mock {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--midgrey);
    border-radius: 5px;
    height: 640px;
    width: 420px;
    background: #fff;
    box-shadow: var(--box-shadow-preview-box);
}

.gh-offers-help {
    margin-top: 5vmin;
    margin-bottom: 0;
}

.gh-offers-help .gh-main-section-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 32px;
    padding: 32px;
}

.gh-offers-help-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background: var(--white);
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.07);
    color: var(--midgrey);
    font-size: 1.4rem;
    padding: 32px;
    transition: all 0.3s ease-in-out;
}

.gh-offers-help-card .thumbnail {
    width: 100%;
    height: 120px;
    background-size: cover;
    margin-bottom: 16px;
}

.gh-offers-help-card .gh-btn {
    width: 100%;
}

.gh-offers-help-card:hover {
    box-shadow:
        0px 54px 80px rgba(0, 0, 0, 0.07),
        0px 19.7109px 29.2013px rgba(0, 0, 0, 0.0482987),
        0px 9.56927px 14.1767px rgba(0, 0, 0, 0.0389404),
        0px 4.69103px 6.94968px rgba(0, 0, 0, 0.0310596),
        0px 1.85484px 2.74791px rgba(0, 0, 0, 0.0217013);
    transition: all 0.3s ease-in-out;
}
