.fullscreen-modal-edit-offer {
    max-width: 1220px;
}

.gh-offer-modal-content {
    margin: -32px -32px 0;
    padding: 32px 32px 0;
    max-height: calc(100vh - 16vw);
    overflow: scroll;
}

.gh-offer-modal-content .gh-main-section.columns-3 {
    grid-template-columns: 0.8fr 0.8fr 1.2fr;
}

.gh-offers-list-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vw;
}

.gh-offers-list-cta h4 {
    color: var(--darkgrey);
    text-align: center;
    font-weight: 600;
    margin-bottom: 8px;
} 

.gh-offers-list-cta p {
    max-width: 390px;
    color: var(--midgrey);
    text-align: center;
    line-height: 1.45em;
    margin: 0 0 20px;
    padding: 0;
}

.gh-offers-list-cta .discount-bubble {
    color: var(--lightgrey);
    width: 72px;
    height: 72px;
    margin-bottom: 16px;
}

.gh-offers-list-cta .discount-bubble path,
.gh-offers-list-cta .discount-bubble circle {
    stroke-width: 0.8px;
}

.gh-offers-list-cta button {
    min-width: 140px;
}

.gh-offers-list {
    padding: 0;
}

.gh-offers-list-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;
}

.gh-offers-list-footer a svg path {
    stroke-width: 1.5px;
}

.gh-offer-modal-content .form-group:last-of-type {
    margin-bottom: 0;
}

.gh-offer-type {
    white-space: nowrap;
    margin-top: 3px;
}

.gh-offer-type .gh-radio {
    margin-bottom: 16px;
}

.gh-offer-type .gh-radio-label {
    font-size: 1.3rem;
}

.gh-offer-modal-content textarea {
    max-width: unset;
}