.gh-post-preview-modal {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: var(--grey-75);
}

.gh-post-preview-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: 0;
    padding: 1.2rem 2rem;
    background: var(--grey-75);
}

.gh-post-preview-header .left {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
}

.gh-post-preview-header h2 {
    margin: 0;
    font-size: 2rem;
}

.gh-post-preview-header .right {
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.gh-post-preview-header .gh-btn-editor {
    background: none;
}

.gh-post-preview-header .gh-btn-editor:hover {
    background: var(--whitegrey);
}

@media (max-width: 1024px) {
    .gh-post-preview-header {
        z-index: 100;
        height: 64px;
        margin: 0;
        padding: 0;
        padding-left: 15px;
        background-color: var(--white);
        border-radius: 0;
    }
}

.gh-post-preview-btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.gh-post-preview-btn-group .gh-btn-group {
    gap: .2rem;
    margin: 0 4px;
    background: transparent;
}

.gh-post-preview-btn-group .gh-btn-group span {
    height: 34px;
    padding: 0 10px;
    line-height: 34px;
    background: none !important;
    box-shadow: none;
}

.gh-post-preview-btn-group .gh-btn-group span:hover {
    background: var(--whitegrey) !important;
}

.gh-post-preview-btn-group .gh-btn {
    margin: 0;
}

.gh-web-preview-segment {
    height: 34px;
    margin: 0 4px;
    background: transparent;
}

.gh-preview-segment-dropdown.ember-power-select-dropdown.ember-basic-dropdown-content--below {
    min-width: 200px;
    margin: 2px 0 0;
    padding: 4px 0;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.04),0 8px 20px -3px rgba(0,0,0,.2);
}

.gh-preview-segment-dropdown .ember-power-select-options li.ember-power-select-option {
    width: calc(100% - 8px);
    margin: 0 4px;
    padding: 7px 10px;
    color: var(--darkgrey);
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.4;
    border-radius: 6px;
}

.gh-web-preview-segment .gh-preview-segment-trigger {
    height: 34px;
    padding: 0 28px 0 14px;
    background: transparent;
    border: none;
    color: var(--black);
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 34px;
    border-radius: 5px;
}

.gh-web-preview-segment:hover .gh-preview-segment-trigger {
    background: var(--whitegrey);
}

.gh-web-preview-segment .ember-basic-dropdown-trigger--below.ember-power-select-trigger[aria-expanded=true] {
    background: var(--whitegrey);
}

.gh-select.gh-web-preview-segment .gh-preview-segment-trigger svg {
    height: 5px;
    margin-top: -.1em;
}

.gh-select.gh-web-preview-segment svg path {
    stroke-width: 4px;
    stroke: var(--black);
}

.gh-post-preview-mode svg {
    height: 18px;
    width: 18px;
    vertical-align: middle;
    color: var(--midgrey);
}

/* Preview animation */

.gh-post-preview-container {
    opacity: 1;
}

.gh-post-preview-container.fade-in {
    transform-origin: center;
    animation: fade-in-pulse .35s forwards cubic-bezier(.8,.02,.45,.91);
}
.epm-out .gh-post-preview-container.fade-in {
    transform-origin: center;
    animation: fade-out-pulse .35s forwards cubic-bezier(.8,.02,.45,.91);
}


/* Browser preview */

.gh-post-preview-browser-container {
    z-index: 999;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 .8rem;
    border-radius: 8px 8px 0 0;
    box-shadow: var(--shadow-1);
}

.gh-post-preview-browser-container .gh-pe-iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.gh-post-preview-browser-container .tabs div {
    width: 360px;
    color: var(--middarkgrey);
    font-weight: 400;
}

.gh-post-preview-email:not(.gh-pe-mobile-bezel) {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.gh-post-preview-url,
.gh-post-preview-email-trigger {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 34px;
    border: none;
    color: var(--darkgrey);
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: .2px;
}

.gh-post-preview-url span,
.gh-post-preview-email-trigger span {
    padding: 0 10px;
}

.gh-post-preview-url:hover,
.gh-post-preview-email-trigger:hover {
    background: var(--whitegrey);
}

.gh-post-preview-email-trigger.open {
    background: var(--whitegrey);
}

.gh-post-preview-url svg {
    width: 18px;
    height: 18px;
    margin-bottom: 3px;
}

.gh-post-preview-email-trigger svg {
    width: 18px;
    height: 18px;
    margin-bottom: 1px;
}

.gh-post-preview-url .check {
    width: 14px;
    margin-top: -1px;
}

.gh-post-preview-url .check path {
    stroke-width: 2.4px;
    stroke: var(--green-d1);
}

.gh-post-preview-url-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 38px;
    max-width: 520px;
    padding: 5px 4px 5px 8px;
    color: var(--midgrey);
    font-size: 1.4rem;
    border: 1px solid var(--whitegrey);
    background: var(--whitegrey-l2);
    border-radius: 4px;
}

.gh-post-preview-share {
    display: flex;
    flex-direction: column;
}

.gh-btn.gh-post-copy-url,
.gh-publish-preview-newtab {
    width: calc(100% - 8px);
    margin: 0 4px;
    border: none;
    color: var(--darkgrey);
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.4;
    border-radius: 6px;
}

.gh-btn.gh-post-copy-url span,
.gh-publish-preview-newtab span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.gh-post-copy-url svg {
    margin-right: .6rem;
    fill: none;
}

.gh-post-preview-copy {
    position: absolute;
    top: 2px;
    right: 2px;
    display: flex;
    align-items: center;
    height: 32px;
    padding: 0 8px 0 9px;
}

.gh-post-preview-copy span {
    margin-top: -2px;
}

.gh-post-preview-email-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--whitegrey);
    padding: 2.8rem 2rem;
}

.gh-post-preview-email-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.gh-post-preview-email-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 1px solid var(--whitegrey);
    padding: 1rem 2rem;
    background: var(--white);
}

.gh-post-preview-email-mockup-mobile .gh-post-preview-email-header {
    gap: 0;
    padding: 1rem;
}

.gh-post-preview-email-mockup-mobile .gh-post-preview-multiple-newsletters.gh-post-preview-email-header {
    gap: .8rem;
}


.gh-post-preview-email-header label {
    min-width: 52px;
}

.gh-post-preview-email-header .gh-input-x {
    cursor: pointer;
    background: var(--grey-100);
    transition: all .15s ease;
}

.gh-post-preview-email-header .gh-email-subject .gh-input-x:focus,
.gh-post-preview-email-header .gh-post-preview-email-input.gh-input-x:focus {
    background: var(--white);
    cursor: text;
}

.gh-post-preview-email-header .gh-input-x:hover:not(:focus) {
    background: var(--whitegrey);
}

.gh-post-preview-email-header hr {
    margin: 0;
    border-color: var(--whitegrey);
}

.gh-post-preview-email-mockup-mobile .gh-post-preview-email-header hr {
    display: none;
}

.gh-post-preview-email-columns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.gh-email-preview-newsletter-select {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.gh-post-preview-email-mockup-mobile .gh-email-preview-newsletter-select {
    gap: .2rem;
}

.gh-email-preview-newsletter-select label {
    width: 52px;
}

.gh-preview-newsletter-trigger svg {
    width: 8px;
    margin-left: 8px;
    vertical-align: middle;
}

.gh-preview-newsletter-trigger svg path {
    stroke-width: 4px;
}

.gh-preview-newsletter-dropdown .ember-power-select-option {
    white-space: nowrap;
}

.gh-email-preview-newsletter-select .ember-power-select-selected-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Mobile preview */
.gh-post-preview-iframe {
    transform: scale(0.8);
    transform-origin: 0 0;
    width: 368px;
    height: 786px;
    padding: 0;
    border: 0;
}

.gh-post-preview-iframe .left-col {
    display: none;
}


/* Email preview */
.gh-post-preview-email-container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--grey-75);
    padding: 0 30px;
}

@media (max-width: 1024px) {
    .gh-post-preview-email-container {
        height: calc(100vh - 64px);
    }
}

.gh-post-preview-email-mockup:not(.gh-pe-mobile-screen) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    max-width: 740px;
    width: 100%;
    margin: 0 0 2rem;
    padding: 0;
    background: var(--white);
    border-radius: 8px;
    box-shadow: var(--shadow-1);
}

.gh-post-preview-email-mockup-mobile {
    max-width: 360px;
}

.gh-post-preview-email-container iframe {
    flex-grow: 1;
    border: none;
    width: 100%;
}

.gh-post-preview-email-test {
    display: flex;
    gap: .8rem;
}

.gh-post-preview-share svg {
    fill: none;
    margin-right: .6rem;
    width: 16px;
    height: 16px;
}

.gh-post-preview-email-test .form-group,
.gh-post-preview-share .form-group {
    margin: 0;
}

.gh-post-preview-email-test button {
    width: 100%;
    min-width: 72px;
    margin: 1.2rem 0 .4rem;
    border-radius: 8px;
}

.gh-post-preview-email-test .gh-btn-group .gh-btn span {
    height: 34px;
    line-height: 34px;
}

.gh-post-preview-share-dropdown {
    top: calc(100% + 6px);
    right: 0;
    left: auto;
    min-width: 200px;
    margin: 2px 0 0;
    padding: 4px 0;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.04),0 8px 20px -3px rgba(0,0,0,.2);
    animation: fade-out .0s;
    animation-fill-mode: forwards;
}


.gh-post-preview-email-test-dropdown {
    top: calc(100% + 6px);
    right: 0;
    left: auto;
    padding: 1.6rem;
    border-radius: 8px;
    box-shadow: var(--shadow-3);
    animation: fade-out .0s;
    animation-fill-mode: forwards;
}

.gh-post-preview-email-test-dropdown.closed,
.gh-post-preview-share-dropdown.closed {
    z-index: -1;
}

.gh-post-preview-email-test-dropdown.fade-in-scale,
.gh-post-preview-share-dropdown.fade-in-scale {
    animation: fade-in-scale .2s;
    animation-fill-mode: forwards;
}

.gh-post-preview-email-input {
    width: 220px;
}

.gh-post-preview-copy-url-trigger {
    height: 38px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.gh-post-test-email-group {
    position: relative;
}

.gh-post-preview-email-mockup-mobile .gh-post-test-email-group {
    display: none;
}

.gh-post-preview-email-error {
    padding-top: 4px;
    color: var(--red);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.3em;
    user-select: text;
}

/* Social preview */
.gh-post-preview-social-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100vh - 94px);
    padding: 1rem 3.2rem 3rem;
    background: var(--white);
    overflow-y: auto;
}

.gh-post-preview-social-container:after {
    content: "";
    display: block;
    width: 100%;
    height: 2.4rem;
  }

  .gh-post-preview-social-container p {
      width: 100%;
      text-align: center;
  }

@media (max-width: 1120px) {
    .gh-social-container-responsive {
        flex-direction: column;
        align-items: center;
    }
}

.social-icon {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.gh-twitter-container .social-icon,
.gh-social-twitter-container .social-icon {
    width: 34px;
    height: 34px;
    margin-right: 12px;
}

.gh-social-og-container {
    width: 476px;
    margin-bottom: 2.4rem;
    border: 1px solid var(--whitegrey-d1);
    background: #fff;
    border-radius: var(--border-radius);
}

@media (min-width: 1120px) {
    .gh-social-og-container {
        margin-right: 1.2rem;
    }
}

.gh-social-og-title {
    color: #385898;
    font-size: 14;
    line-height: 1.38;
    font-weight: 600;
}

.gh-social-og-time {
    color: #616770;
    font-size: 12px;
    line-height: 1.34;
    font-weight: 400;
}

.gh-social-og-desc {
    display: inline-block;
    height: 10px;
    background: #E9EBEE;
    border-radius: 5px;
}

.gh-social-og-preview {
    background: #f2f3f5;
}

.gh-social-og-preview.no-container {
    border-left: 1px solid #dddfe2;
    border-right: 1px solid #dddfe2;
}

.gh-social-og-preview-image {
    width: 100%;
    height: 247px;
    border-top: 1px solid #dddfe2;
    background-size: cover;
    background-position: center center;
}

.gh-social-og-preview-img-add {
    width: 100%;
    padding: .6rem 0;
    color: var(--green-d1);
    font-weight: 500;
    letter-spacing: 0.2px;
    border: 1px dashed var(--lightgrey-d1);
}

.gh-social-og-preview-bookmark {
    padding: 10px 12px 8px;
    border-bottom: 1px solid #dddfe2;
}

.gh-social-og-preview-content {
    height: 69px;
    overflow: hidden;
    margin: 0 -1px 0 -4px;
    padding: 0 1px 0 4px;
}

.gh-social-og-preview-content.edit-mode {
    height: auto;
    overflow-y: visible;
}

.gh-social-og-preview-meta {
    overflow: hidden;
    color: #606770;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gh-social-og-preview-title {
    max-height: 110px;
    overflow: hidden;
    margin: 3px 0 0;
    padding-top: 2px;
    color: #1d2129;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    word-wrap: break-word;
}

.gh-social-og-preview-title.editable:hover {
    margin: 2px -1px -1px -4px;
    padding-left: 3px;
    border: 1px solid var(--lightgrey-l1);
    background: var(--white);
    border-radius: 3px;
}

.gh-social-og-preview-title .gh-input {
    margin: -2px 0 0 -3px !important;
}

.gh-social-og-preview-desc {
    max-height: 20px;
    overflow: hidden;
    margin-top: 3px;
    color: #4b4f56;
    font-size: 14px;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    word-break: break-word;
}

.gh-social-og-preview-desc.editable:hover {
    max-height: 24px;
    margin: 2px 0 -3px -4px;
    padding: 0 0 2px 3px;
    padding-bottom: 2px;
    border: 1px solid var(--lightgrey-l1);
    background: var(--white);
    border-radius: 3px;
}

.gh-social-og-reactions {
    display: flex;
    align-items: center;
    margin: 12px;
}

.gh-social-og-likes {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    color: #606770;
    font-size: 13px;
    line-height: 20px;
}

.gh-social-og-likes svg {
    width: 20px;
    height: 20px;
}

.gh-social-og-comments {
    display: flex;
    flex-shrink: 0;
    color: #606770;
    font-size: 13px;
    line-height: 20px;
    word-wrap: break-word;
}

.gh-social-twitter-container {
    width: 591px;
    margin-bottom: 2.4rem;
    border: 1px solid var(--whitegrey-d1);
    background: #fff;
    border-radius: var(--border-radius);
}

@media (min-width: 1120px) {
    .gh-social-twitter-container {
        margin-left: 1.2rem;
    }
}

.gh-social-twitter-post-preview {
    overflow: hidden;
    color: #292f33;
    font-size: 1.4rem;
    line-height: 1.3em;
    border: 1px solid #c4cfd6;
    background: #fff;
    border-radius: 16px;
    -webkit-font-smoothing: antialiased;
}

.gh-social-twitter-preview-image {
    width: 100%;
    height: 265px;
    border-bottom: solid 1px #c4cfd6;
    background-size: cover;
    background-position: center center;
}

.gh-social-twitter-preview-img-add {
    width: 100%;
    padding: .6rem 0;
    color: var(--green-d1);
    font-weight: 500;
    letter-spacing: 0.2px;
    border-bottom: 1px dashed var(--lightgrey-d1);
}

.gh-social-twitter-preview-content {
    padding: 10px;
}

.gh-social-twitter-preview-title {
    width: 487px;
    max-height: 20px;
    overflow: hidden;
    overflow-wrap: break-word;
    margin: 0 0 2px;
    color: #0f1419;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.gh-social-twitter-preview-title.editable:hover {
    max-height: 25px;
    margin: -2px 0 -3px -5px;
    padding: 1px 0 4px 4px;
    border: 1px solid var(--lightgrey);
    background: var(--white);
    border-radius: 3px;
}

.gh-social-twitter-preview-desc {
    width: 100%;
    max-width: 487px;
    max-height: 40px;
    overflow: hidden;
    overflow-wrap: break-word;
    margin-top: 5px;
    color: #5b7083;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}

.gh-social-twitter-preview-desc.editable:hover {
    max-height: 42px;
    margin: 4px 0 -1px -5px;
    padding: 0 0 1px 4px;
    border: 1px solid var(--lightgrey);
    background: var(--white);
    border-radius: 3px;
}

.gh-social-twitter-preview-meta {
    display: flex;
    align-items: center;
    overflow: hidden;
    overflow-wrap: break-word;
    width: 487px;
    margin-top: 2px;
    color: #5b7083;
    font-size: 15px;
    line-height: 1.3125;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 1080px) {
    .gh-social-twitter-preview-title,
    .gh-social-twitter-preview-desc,
    .gh-social-twitter-preview-meta {
        width: 100%;
        max-width: 487px;
    }
}

.gh-social-twitter-preview-meta svg {
    width: 16px;
    height: 16px;
    margin-right: 2px;
}

.gh-social-twitter-reactions {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-shrink: 0;
    max-width: 425px;
    margin-top: 10px;
    color: #5b7083;
    font-size: 13px;
    font-weight: 400;
}

.gh-social-twitter-reactions svg {
    width: 18px;
    height: 18px;
    margin-right: 12px;
    fill: #5b7083;
}

.gh-social-preview-img-delete {
    margin-left: 1.2rem;
}

.gh-social-preview-img-delete:hover {
    background: var(--red) !important;
}

.gh-social-preview-img-delete svg {
    margin: 0 !important;
}

.gh-seo-preview-container {
    display: flex;
    width: 100%;
    max-width: 1091px;
    padding: 20px 30px;
    border: 1px solid var(--whitegrey-d1);
    font-family: Arial, sans-serif;
    background: #fff;
    border-radius: var(--border-radius);
}

.gh-seo-preview-container svg {
    width: 92px;
    height: 30px;
    margin-right: 48px;
}

.gh-seo-preview {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-bottom: 28px;
}

@media (max-width: 1080px) {
    .gh-seo-preview {
        width: 100%;
    }
}

.gh-seo-search-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 28px;
    background: #f4f5f6;
    border-radius: 14px;
}

.gh-seo-search-bar svg {
    width: 20px;
    height: auto;
    margin-right: 12px;
    fill: #80868b;
}

.gh-seo-preview-link {
    max-width: 340px;
    overflow: hidden;
    margin: 2px 0;
    color: #202124;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
}

.gh-seo-preview-title {
    display: inline-block;
    overflow: hidden;
    margin-bottom: 3px;
    padding-top: 4px;
    color: #1a0dab;
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    -webkit-text-overflow: ellipsis;
}

.gh-seo-preview-title.editable:hover {
    margin: 0 0 2px -6px;
    padding: 3px 0 0 5px;
    background: var(--white);
    border: 1px solid var(--lightgrey);
    border-radius: 3px;
}

.gh-seo-preview-title .gh-input {
    margin-top: -3px;
}

.gh-seo-preview-desc {
    color: #4d5156;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
}

.gh-seo-preview-desc.editable:hover {
    max-height: 47px;
    margin: -1px 0 -2px -6px;
    padding: 0 0 2px 5px;
    background: var(--white);
    border: 1px solid var(--lightgrey);
    border-radius: 3px;
}

.gh-seo-preview .gh-input {
    max-width: 100%;
}
