/* Modal */

.gh-post-history {
    display: flex;
    height: 100%;
}

.fullscreen-modal-post-history .modal-content {
    padding: 0;
}

/* Sidebar */

.gh-post-history .nav-list-item.active {
    background: var(--whitegrey-l2);
}

.nav-list-item .gh-post-history-version {
    margin-bottom: 2px;
}

.nav-list-item .gh-post-history-version-meta {
    color: var(--midgrey);
    font-weight: 400;
}

.nav-list-item .gh-post-history-version-current {
    margin-left: 1rem;
    padding: 0 4px;
    background: var(--lightgrey-l2);
    color: var(--darkgrey);
    font-size: 1.1rem;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
    letter-spacing: .2px;
    border-radius: var(--border-radius);
}

/* .nav-list-item .gh-post-history-version-wordcount {
    color: var(--green-d1);
    margin-left: auto;
}

.nav-list-item .gh-post-history-version-wordcount .subtracted {
    color: var(--red-d1);
    margin-left: .8rem;
} */

.nav-list-item .gh-post-history-version-restore {
    margin-left: auto;
    padding: 0;
}

.nav-list-item .gh-post-history-version-restore span {
    color: var(--red);
    font-size: 1.35rem;
    font-weight: 400;
}


/* Main content */

.gh-post-history-main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

/* .gh-post-history .read-only-banner {
    position: absolute;
    top: 20px;
    left: 0;
    right: 420px;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 788px;
    margin: 0 auto;
    padding: 16px 24px;
    background: var(--white);
    border: 1px solid var(--whitegrey-d1);
    color: var(--black);
    font-weight: 500;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-m);
}

.gh-post-history .read-only-banner a {
    margin-left: auto;
    color: var(--black);
    text-decoration: underline;
} */

.gh-post-history .gh-editor-title {
    height: initial;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    color: rgba(21, 23, 26, 0.4);
}

.gh-post-history-main .koenig-lexical h1,
.gh-post-history-main .koenig-lexical h2,
.gh-post-history-main .koenig-lexical h3,
.gh-post-history-main .koenig-lexical h4,
.gh-post-history-main .koenig-lexical h5,
.gh-post-history-main .koenig-lexical p {
    color: rgba(21, 23, 26, 0.4);
}

.gh-post-history-main .koenig-lexical a:not(.gh-post-history-main .koenig-lexical del a):not(.gh-post-history-main .koenig-lexical ins a) {
    opacity: .4;
}

.gh-post-history-main .koenig-lexical del {
    color: var(--red-d1) !important;
}

.gh-post-history-main .koenig-lexical ins {
    color: var(--black) !important;
    text-decoration: none !important;
    background-color: rgba(48, 207, 67, 0.15) !important;
}

.gh-post-history-hidden-lexical {
    display: none;
}
