/* Modal */

.gh-post-history {
    display: flex;
    height: 100%;
}

.fullscreen-modal-post-history .modal-content {
    padding: 0;
}

/* Sidebar */

.gh-post-history .settings-menu-header-wrapper {
    position: fixed;
    width: 100%;
    max-width: 420px;
    z-index: 3;
    background: var(--white);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 0px 0px 1px, rgba(0, 0, 0, 0.15) 0px 12px 16px -16px;
}

.gh-post-history .settings-menu-header.subview {
    position: relative;
    max-width: 420px;
}

.settings-menu-header-wrapper .nav-list {
    margin: 0;
}

.nav-list-item.compare-versions:hover {
    background: var(--white);
}

.gh-post-history .settings-menu-header-wrapper .gh-toggle-featured {
    position: relative;
    width: 34px;
    height: 20px;
}

.gh-post-history .settings-menu-content {
    padding: 144px 0 0;
}

.gh-post-history .nav-list-item.active {
    background: var(--whitegrey-l2);
}

.nav-list-item .gh-post-history-version-meta {
    margin-top: 4px;
    color: var(--midgrey);
    font-size: 1.35rem;
    font-weight: 400;
}

.nav-list-item .gh-post-history-version-current {
    margin-left: .8rem;
    padding: 0 4px;
    background: var(--lightgrey-l2);
    color: var(--darkgrey);
    font-size: 1.1rem;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
    letter-spacing: .2px;
    border-radius: var(--border-radius);
}

.nav-list-item .gh-post-history-version-restore {
    position: absolute;
    top: 20px;
    right: 24px;
    width: inherit;
    padding: 0;
}

.nav-list-item .gh-post-history-version-restore span {
    color: var(--red);
    font-size: 1.35rem;
    font-weight: 500;
}

/* Main content */

.gh-post-history-main {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.gh-post-history .gh-editor-title {
    height: initial;
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
    color: rgba(21, 23, 26, 0.4);
}

.gh-post-history-main .koenig-lexical h1,
.gh-post-history-main .koenig-lexical h2,
.gh-post-history-main .koenig-lexical h3,
.gh-post-history-main .koenig-lexical h4,
.gh-post-history-main .koenig-lexical h5,
.gh-post-history-main .koenig-lexical p {
    color: rgba(21, 23, 26, 0.4);
}

.gh-post-history-main .koenig-lexical a:not(.gh-post-history-main .koenig-lexical del a):not(.gh-post-history-main .koenig-lexical ins a) {
    opacity: .4;
}

.gh-post-history-main .koenig-lexical del {
    color: var(--red-d1) !important;
}

.gh-post-history-main .koenig-lexical ins {
    color: var(--black) !important;
    text-decoration: none !important;
    background-color: rgba(48, 207, 67, 0.15) !important;
}

.gh-post-history-hidden-lexical {
    display: none;
}
