.modal-preview-email-content {
    height: calc(100vh - 170px);
}

.gh-pe-header {
    position: relative;
    display: flex;
    align-items: center;
    margin: -32px -32px 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: var(--white);
    padding: 18px 32px;
}

.gh-pe-header h2 {
    position: absolute;
    top: 23px;
    left: 24px;
}

.gh-pe-header-border {
    border-bottom: 1px solid var(--whitegrey-l1);
}

.modal-content .gh-pe-close {
    stroke: var(--midgrey);
    opacity: 0.6;
    transition: all 0.2s ease-in-out;
    top: 23px;
}

.gh-pe-close:hover {
    opacity: 1.0;
}

.gh-pe-btn-group button {
    width: 100px;
}

.gh-pe-btn-group button span {
    border: 1px solid var(--whitegrey);
}

.gh-pe-btn-group button:first-of-type span {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.gh-pe-btn-group button:last-of-type span {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}