/* Product list */
.gh-product-list .gh-list-row.header .gh-list-header {
    margin: 0;
    padding: 0;
    height: 0;
    line-height: 0;
}

.gh-product-list-chevron {
    padding-right: 0;
}

.gh-product-chevron {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: var(--midgrey);
}

.gh-product-chevron span {
    line-height: 0;
}

/* Product details */
.gh-product-details {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 32px;
    margin-bottom: 3vw;
}

.gh-product-details .max-width {
    max-width: 620px;
}

.gh-product-details-form {
    display: flex;
    align-items: flex-start;
    padding-top: 20px !important;
}

.gh-product-icon-container {
    width: unset;
    padding-bottom: 0;
    margin-bottom: 0;
}

.gh-product-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    width: 124px;
    height: 124px;
    margin-right: 24px;
    border: 1px solid var(--whitegrey);
    border-radius: 3px;
}

.gh-product-details-fields {
    width: 100%;
}

.gh-product-description-container {
    padding-bottom: 0;
    margin-bottom: 0;
}

.gh-product-details section {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

/* Product stats */
.gh-product-stat-container {
    display: flex;
    flex-direction: column;
}

.gh-product-stat-details .data {
    white-space: nowrap;
    font-size: 3.1rem;
    line-height: 1em;
    font-weight: 700;
    letter-spacing: 0;
    margin: 0 0 2px;
    padding: 0;
}

.gh-product-stat-details .info {
    color: var(--midgrey);
    margin: 0 0 10px;
    padding: 0;
}

.gh-product-chart {
    color: var(--whitegrey);
    border: 1px solid var(--whitegrey);
    border-top-color: transparent;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 12px;
}

/* Price list */
.gh-price-list {
    margin-bottom: 24px;
}

.gh-price-list a span {
    color: var(--midgrey);
    font-size: 1.3rem;
}

.gh-price-list-actionlist {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    opacity: 0;
}

.gh-price-list .gh-list-row:hover .gh-price-list-actionlist {
    opacity: 1;
}

.gh-price-list-actionlist a,
.gh-price-list-actionlist button {
    line-height: 0;
    margin-left: 24px;
    color: var(--darkgrey);
    font-weight: 500;
}

.gh-price-list-actionlist button.archive {
    color: var(--red);
}

.gh-price-list-title,
.gh-price-list-price {
    width: 35%;
}

.gh-price-list-name span.archived {
    background: var(--midgrey);
    color: #fff;
    font-size: 1.2rem;
}

.gh-price-list-archived .gh-price-list-name,
.gh-price-list-archived .gh-price-list-description,
.gh-price-list-archived .gh-price-list-price span,
.gh-price-list-archived .gh-price-list-subscriptions span {
    opacity: 0.5;
}

.product-actions-menu {
    top: calc(100% + 6px);
    right: 10px;
    left: auto;
}

.product-actions-menu.fade-out {
    animation-duration: 0.01s;
    pointer-events: none;
}

/* Price details */
.gh-product-priceform-block {
    margin-bottom: 32px;
}

.gh-product-priceform-period {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}