/* Product list */
.gh-product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
}

@media (max-width: 980px) {
    .gh-product-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

.gh-product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid var(--whitegrey);
    border-radius: 2px;
    padding: 24px 48px;
    background: white;
    margin-bottom: 12px;
}

@media (max-width: 980px) {
    .gh-product-card {
        padding: 4vmin 48px;
    }
}

.gh-product-card-name {
    font-size: 1.75rem;
    margin: 0;
}

.gh-product-card-description {
    margin: 0 0 16px;
    color: var(--midgrey);
}

.gh-product-list-icon {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: var(--green);
    margin-bottom: 8px;
    height: 72px;
}

.gh-product-list-icon svg {
    width: 60px;
    height: 60px;
}

.gh-product-list-siteicon {
    width: 54px;
    height: 54px;
    background-color: transparent;
    background-size: 54px;
    border-radius: 3px;
    margin-bottom: 6px;
}

.gh-product-list-icon svg circle,
.gh-product-list-icon svg path {
    stroke-width: 1px !important;
}

/* Product details */
.gh-product-details {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 32px;
    margin-bottom: 3vw;
}

.gh-product-details-form {
    display: flex;
    align-items: flex-start;
    padding-top: 20px !important;
}

.gh-product-icon-container {
    width: unset;
    padding-bottom: 0;
    margin-bottom: 0;
}

.gh-product-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    width: 124px;
    height: 124px;
    margin-right: 24px;
    border: 1px solid var(--whitegrey);
    border-radius: 3px;
}

.gh-product-details-fields {
    width: 100%;
}

.gh-product-details-fields .max-width {
    max-width: 840px;
}

.gh-product-details-fields .form-group:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
}

.gh-product-details section {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

/* Product stats */
.gh-product-stat-container {
    display: flex;
    flex-direction: column;
}

.gh-product-stat-details .data {
    white-space: nowrap;
    font-size: 3.1rem;
    line-height: 1em;
    font-weight: 700;
    letter-spacing: 0;
    margin: 0 0 2px;
    padding: 0;
}

.gh-product-stat-details .info {
    color: var(--midgrey);
    margin: 0 0 10px;
    padding: 0;
}

.gh-product-chart {
    color: var(--whitegrey);
    border: 1px solid var(--whitegrey);
    border-top-color: transparent;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 12px;
}

/* Price list */
.gh-price-list {
    margin-bottom: 24px;
}

.gh-price-list a span {
    color: var(--midgrey);
    font-size: 1.3rem;
}

.gh-price-list-actionlist {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    line-height: 1;
}

.gh-price-list .gh-list-row:hover .gh-price-list-actionlist {
    opacity: 1;
}

.gh-price-list-actionlist a,
.gh-price-list-actionlist button {
    margin-left: 15px;
    padding: 0;
    line-height: 0;
}

.gh-price-list-actionlist a span,
.gh-price-list-actionlist button span {
    display: inline-block;
    line-height: 1;
    height: unset;
    border-radius: 3px;
    padding: 4px 6px;
    color: var(--darkgrey);
    font-weight: 500;
    font-size: 1.2rem !important;
    text-transform: uppercase;
}

.gh-price-list-actionlist a:hover span,
.gh-price-list-actionlist button:hover span {
    background: var(--whitegrey);
}

.gh-price-list-actionlist a.archived:hover span,
.gh-price-list-actionlist button.archived:hover span {
    background: color-mod(var(--red) a(10%));
    color: var(--red);
}

.gh-price-list-title,
.gh-price-list-price {
    width: 50%;
}

.gh-price-list-name span.archived {
    background: var(--lightgrey-l2);
    color: var(--midgrey);
    font-size: 1.2rem;
}

.gh-price-list-archived .gh-price-list-name .name,
.gh-price-list-archived .gh-price-list-description,
.gh-price-list-archived .gh-price-list-price span,
.gh-price-list-archived .gh-price-list-subscriptions span {
    opacity: 0.5;
}

.gh-price-list-noprices {
    text-align: center;
    padding: 48px 0;
    color: var(--midgrey);
}

.product-actions-menu {
    top: calc(100% + 6px);
    right: 10px;
    left: auto;
}

.gh-btn-archive-toggle {
    width: 80px;
}

.product-actions-menu.fade-out {
    animation-duration: 0.01s;
    pointer-events: none;
}

/* Price details */
.gh-product-priceform-block {
    margin-bottom: 32px;
}

.gh-product-priceform-pricecurrency {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}
