/* Settings
/* ---------------------------------------------------------- */
.gh-settings-main-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: var(--white);
    box-shadow: 0 0 1px rgba(0,0,0,.12), 0 1px 6px rgba(0,0,0,0.03), 0 6px 10px -8px rgba(0,0,0,.1);
    border-radius: .5rem;;
}

.gh-settings-main-grid .gh-setting-group {
    display: flex;
    color: var(--darkgrey);
    border-top: 1px solid var(--whitegrey);
    border-left: 1px solid var(--whitegrey);
    padding: 20px;
}

.gh-settings-main-grid .gh-setting-group:nth-child(3n-2) {
    border-left: none;
}

.gh-settings-main-grid .gh-setting-group:nth-child(-n+3) {
    border-top: none;
}

.gh-settings-main-grid .gh-setting-group svg {
    margin-top: 3px;
    flex-basis: 48px;
    max-width: 28px;
    width: 28px;
    height: 28px;
}

.gh-settings-main-grid .gh-setting-group svg path {
    fill: var(--midgrey);
}

.gh-settings-main-grid .gh-setting-group div {
    margin-left: 14px;
    flex-shrink: 1;
}

.gh-settings-main-grid .gh-setting-group h4 {
    font-size: 1.5rem;
    font-weight: 600;
}

.gh-settings-main-grid .gh-setting-group p {
    color: var(--midgrey);
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}

.gh-setting-header {
    margin: 4vw 0 5px 1px;
    color: var(--midlightgrey);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.35px;
    font-size: 1.2rem;
}

.gh-first-header {
    margin-top: 0;
}

.gh-setting,
.gh-setting-first,
.gh-setting-last {
    display: flex;
    justify-content: space-between;
    padding: 18px 20px;
    margin: 0 -20px;
    border-top: var(--lightgrey) 1px solid;
}

.gh-setting-first {
    border: none;
    padding-top: 0px;
}

.gh-setting-last {
    padding-bottom: 0px;
}

.gh-setting-content {
    width: 100%;
    margin: 0 50px 0 0;
}

.gh-members-setting-content {
    width: 100%;
    margin: 0;
}

.gh-setting-content--no-action {
    margin: 0;
}

.gh-setting-title {
    margin-bottom: 2px;
    font-size: 1.5rem;
    line-height: 1.15em;
    font-weight: 600;
    color: var(--darkgrey);
}

.gh-setting-desc {
    line-height: 1.3em;
    color: var(--midgrey);
    letter-spacing: 0.3px;
    font-size: 1.3rem;
}

.gh-setting-error {
    margin-top: 1em;
    line-height: 1.3em;
    color: var(--red);
    font-weight: 300;
    letter-spacing: 0.3px;
}

.gh-setting-action {
    flex-shrink: 0;
    margin: 1px 0 0 0;
}

.gh-setting-content-extended label {
    display: block;
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--darkgrey);
    margin-bottom: 4px;
}

.gh-setting-content-extended textarea {
    font-size: 1.5rem;
    line-height: 1.4em;
    max-width: initial;
}

.gh-setting-content-extended .gh-image-uploader {
    margin: 0;
    border: 1px solid var(--lightgrey);
}

.gh-setting-liquid-section .liquid-container,
.gh-setting-liquid-section .liquid-child {
    padding: 0 20px;
    margin: 0 -20px;
}

.gh-settings-portal-section {
    box-shadow:
        0 0 1px rgba(0,0,0,.07),
        0 1.5px 1.2px -11px rgba(0, 0, 0, 0.028),
        0 5.1px 4px -11px rgba(0, 0, 0, 0.042),
        0 23px 18px -16px rgba(0, 0, 0, 0.07)
    ;
}

.gh-settings-portal-border {
    position: absolute;
    content: "";
    top: -5px;
    right: -5px;
    left: -5px;
    bottom: -5px;
    border: 1px solid var(--blue);
    border-radius: 8px;
}


/* Images */

.gh-setting-action-smallimg {
    position: relative;
}

.gh-setting-action-smallimg img {
    height: 50px;
    width: auto;
    max-width: 250px;
}

.gh-setting-action-largeimg img {
    min-height: 80px;
    width: auto;
    max-width: 250px;
}

@media (max-width: 500px) {
    .gh-setting-action-largeimg img {
        max-width: 190px;
    }
}

.gh-setting-action-smallimg img:hover,
.gh-setting-action-largeimg img:hover {
    cursor: pointer;
}

.gh-setting-action-smallimg-delete,
.gh-setting-action-largeimg-delete {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: var(--midgrey);
    text-decoration: none;
    font-size: 13px;
    line-height: 10px;
}

.gh-setting-action-smallimg-delete:hover,
.gh-setting-action-largeimg-delete:hover {
    color: var(--red);
    text-decoration: underline;
}

.gh-setting-action .gh-progress-container {
    width: 113px;
    height: 100%;
}

.gh-setting-action .gh-progress-container-progress {
    width: 100%;
}

.gh-setting-action .gh-progress-bar {
    height: 9px;
}

/* Checkboxes */

.gh-setting-action .input-toggle-component {
    float: none;
    margin-right: 0;
    width: 24px;
    height: 24px;
}

.gh-setting-action .input-toggle-component:before {
    top: 6px;
    left: 5px;
    width: 12px;
    height: 7px;
}

.gh-setting-content-extended {
    width: 100%;
    margin-top: 25px;
}

/* Theme Directory
/* ---------------------------------------------------------- */

.gh-theme-directory-container {
    border-top: var(--lightgrey) 1px solid;
    padding: 25px 0 0;
}

.theme-directory {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
    max-width: 1320px;
    margin: 0 0 4vw;
}

.td-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--darkgrey);
    transition: all .8s ease;
}

.td-item:nth-child(6) {
    display: none;
}

.td-item img {
    box-shadow: 0 0 1px rgba(0,0,0,.02), 0 9px 25px -12px rgba(0,0,0,0.5);
    transition: all .8s ease;
}

.td-item:hover {
    transform: translateY(-1.5%);
    transition: all .3s ease;
}

.td-item:hover img {
    box-shadow: 0 0 1px rgba(0,0,0,.02), 0 19px 35px -18px rgba(0,0,0,.4);
    transition: all .3s ease;
}

.td-item-desc {
    display: flex;
    width: 100%;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.td-item-desc span {
    display: inline-flex;
    align-items: center;
    text-transform: none;
    font-weight: 400;
    font-size: 0.9em;
    color: color-mod(var(--midgrey) l(-5%));
}

.td-cta {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    margin: 2vw 0 4vw;
}

.td-cta-box {
    display: flex;
    width: 100%;
    padding: 14px;
    text-decoration: none;
    color: var(--darkgrey);
    border-radius: 5px;
    box-shadow: 0 3px 6px -2px rgba(0,0,0,.1);
    background: var(--white);
    transition: all .8s ease;
}

.td-cta-box:hover {
    transform: translateY(-2%);
    box-shadow: 0 0 1px rgba(0,0,0,.02), 0 10px 10px -10px rgba(0,0,0,.12);
    transition: all .3s ease;
}

.td-cta-icon {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    background: var(--midgrey);
    border-radius: 6px;
}

.td-cta-icon svg {
    height: 28px;
    width: 28px;
    fill: #fff;
}

.td-cta-marketplace .td-cta-icon {
    background: var(--purple);
}

.td-cta-docs .td-cta-icon {
    background: var(--blue);
}

.td-cta-content-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.td-cta-content {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 14px;
}

.td-cta-content p {
    margin: 0;
    color: color-mod(var(--midgrey) l(-5%));
    line-height: 1.3em;
}

.td-cta-arrow {
    flex-shrink: 0;
    align-self: center;
    display: flex;
    align-items: center;
    height: 100%;
}

.td-cta-arrow svg {
    margin-left: 20px;
    height: 20px;
    opacity: 0.5;
}

.td-cta-arrow svg path {
    fill: var(--midgrey);
}

@media (max-width: 1400px) {
    .theme-directory {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .td-item:nth-child(5),
    .td-item:nth-child(6) {
        display: none;
    }
}

@media (max-width: 1200px) {
    .td-cta {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1100px) {
    .theme-directory {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .td-item:nth-child(4) {
        display: none;
    }
}

@media (max-width: 1000px) {
    .theme-directory {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .td-item:nth-child(4),
    .td-item:nth-child(5),
    .td-item:nth-child(6) {
        display: flex;
    }
}

@media (max-width: 600px) {
    .theme-directory {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 25px;
    }
    .td-item:nth-child(5),
    .td-item:nth-child(6) {
        display: none;
    }
    .td-cta {
        margin: 50px 0;
    }
}


/* Navigation
/* ---------------------------------------------------------- */

.gh-blognav-container {
    padding: 25px 0;
    border-top: var(--lightgrey) 1px solid;
}

.gh-blognav {
    margin: 0 20px;
}

.gh-blognav-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.gh-blognav-item--error {
    margin-bottom: calc(1em + 10px);
}

.gh-blognav-item .response {
    position: absolute;
    margin-bottom: 0;
}

.gh-blognav-grab {
    padding: 6px 16px 0 0;
    width: 16px;
    text-indent: -4px;
    cursor: move;
}

.gh-blognav-grab svg {
    width: 16px;
    height: 16px;
    fill: color-mod(var(--midgrey) l(+15%));
}

.gh-blognav-line {
    display: flex;
    width: 100%;
}

.gh-blognav-label {
    flex-grow: 1;
    margin-right: 10px;
}

.gh-blognav-url {
    flex-grow: 3;
}

.gh-blognav-delete {
    padding: 8px 0 8px 10px;
    display: flex;
    align-items: center;
}

.gh-blognav-delete svg {
    fill: color-mod(var(--midgrey) l(+15%));
    height: 14px;
    width: 14px;
    transition: fill 0.1s linear;
}

.gh-blognav-delete svg:hover,
.gh-blognav-delete svg:focus {
    fill: var(--red);
}

.gh-blognav-add {
    margin-right: -1px;
    margin-left: 9px;
    width: 16px;
    height: 16px;
    background: var(--green);
    border-radius: 2px;
    transition: background 0.1s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gh-blognav-add svg {
    fill: #fff;
    height: 9px;
    width: 9px;
}

.gh-blognav-add:hover,
.gh-blognav-add:focus {
    background: color-mod(var(--green) lightness(-10%));
}

.gh-blognav-item:not(.gh-blognav-item--sortable) {
    padding-left: 16px;
    margin-bottom: 0;
}

/* Remove space between inputs on smaller screens */
@media (max-width: 800px) {
    .gh-blognav-label {
        margin-right: -1px;
    }
    .gh-blognav-label input {
        border-right-color: color-mod(var(--lightgrey) l(-5%) s(-10%));
        border-radius: 4px 0 0 4px;
    }
    .gh-blognav-url input {
        border-left-color: color-mod(var(--lightgrey) l(-5%) s(-10%));
        border-radius: 0 4px 4px 0;
    }
    .gh-blognav-item input:focus {
        position: relative;
        z-index: 100;
    }
}


/* Code injection
/* ---------------------------------------------------------- */

.settings-code {
    max-width: 100%;
}

.settings-code label {
    font-size: 1.5rem;
    margin-bottom: 2px;
}

.settings-code p {
    margin: 0 0 8px;
    font-size: 1.3rem;
}

.settings-code code {
    background-color: rgb(242, 244, 247);
    border: 1px solid var(--lightgrey);
    vertical-align: middle;
    font-size: 1.2rem;
}

.settings-code-editor {
    padding: 0;
    min-width: 250px;
    min-height: 300px;
    max-width: 1130px;
    width: calc(100vw - 360px);
    height: auto;
    line-height: 22px;
    border: 1px solid var(--lightgrey);
}

.settings-code-editor:hover {
    cursor: text;
}

.settings-code-editor textarea {
    width: 100%;
    max-width: none;
    min-height: 300px;
    line-height: 22px;
    border: none;
}

.settings-code-editor .CodeMirror {
    padding: 0;
    border: none;
    border-radius: inherit;
    background: var(--white);
    color: var(--darkgrey);
}

.settings-code-editor .CodeMirror-gutters {
    background-color: rgb(242, 244, 247);
    border-right: 1px solid var(--lightgrey);
}

.settings-code-editor .cm-s-xq-light span.cm-meta {
    color: #000;
}

@media (max-width: 800px) {
    .settings-code-editor {
        width: calc(100vw - 8vw - 40px);
    }
}



/* Labs
/* ---------------------------------------------------------- */

#startupload {
    line-height: inherit;
}

@media (max-width: 500px) {
    #importfile {
        flex-direction: column;
    }
    #importfile input {
        width: 150px;
    }

    #startupload {
        margin-left: 0;
        margin-top: 5px;
    }
}

.gh-import-errors {
    position: relative;
    padding: 12px 10px 14px 10px;
    border: 1px solid var(--lightgrey);
    border-left-width: 5px;
    border-left-color: var(--red);
    color: var(--midgrey);
    line-height: 1.4em;
    letter-spacing: 0.2px;
    background: #fff;
    border-radius: 5px;
    margin-bottom: 25px;
}

.gh-import-errors-alert {
    border-left-color: color-mod(var(--yellow) l(-8%) s(+10%));
}

.gh-import-errors-title {
    margin-bottom: 1em;
    font-size: 1.8rem;
    line-height: 1.15em;
    font-weight: 600;
    color: var(--red);
}

.gh-import-errors-alert .gh-import-errors-title {
    color: color-mod(var(--yellow) l(-8%) s(+10%));
}

.gh-import-error {
    margin-bottom: 1.75em;
}

.gh-import-error:last-of-type {
    margin-bottom: 0;
}

.gh-import-error-message {
    margin-bottom: 0.5em;
    font-weight: 300;
}

.gh-import-error-entry pre {
    margin: 0;
    font-size: 10px;
}

.gh-setting-linkrow:hover {
    background: var(--whitegrey-l2);
}

/* Themes
/* ---------------------------------------------------------- */

.gh-themes-container {
    padding: 5px 0;
}

@media (max-width: 500px) {
    .gh-themes-container .apps-configured {
        justify-content: flex-end;
    }
    .gh-themes-container .apps-card-meta {
        flex-basis: auto;
    }
}

.gh-themes-uploadbtn {
    margin-top: 25px;
}

/*Errors */
.theme-validation-container {
    max-height: calc(100vh - 12vw - 110px);
    overflow-y: scroll;
    margin: -32px -32px 0;
    padding: 32px 32px 0;
}

.theme-validation-item {
    margin: 12px 0 0;
    padding: 12px 16px;
    border: 1px solid #e5eff5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background: var(--whitegrey);
    border: 1px solid var(--lightgrey);
}

.theme-validation-item h4 {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5em;
}

.theme-validation-rule-text {
    flex-grow: 1;
}

.theme-validation-item.theme-fatal-error {
    background: color-mod(var(--red) alpha(0.04));
    border: 1px solid color-mod(var(--red) alpha(0.4));
}

.theme-validation-item.theme-fatal-error .theme-validation-rule-text::before,
.theme-validation-item.theme-error .theme-validation-rule-text::before,
.theme-validation-item.theme-warning .theme-validation-rule-text::before
{
    font-weight: 600;
}

.theme-validation-item.theme-fatal-error .theme-validation-rule-text::before {
    content: "Fatal error:";
    color: var(--red);
}

.theme-validation-item.theme-error .theme-validation-rule-text::before {
    content: "Error:";
}

.theme-validation-item.theme-warning .theme-validation-rule-text::before {
    content: "Warning:";
}

.theme-fatal-error .theme-validation-type-label::before,
.theme-error .theme-validation-type-label::before,
.theme-warning .theme-validation-type-label::before {
    content: "";
    display: block;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    width: 8px;
    height: 16px;
    margin-top: 3px;
    margin-left: -17px;
}

.theme-fatal-error .theme-validation-type-label::before,
.theme-error .theme-validation-type-label::before {
    background: color-mod(var(--red) alpha(0.85));
}

.theme-warning .theme-validation-type-label::before {
    background: color-mod(var(--yellow));
}

.theme-validation-list ul {
    list-style: disc;
}

.theme-validation-list code,
.theme-validation-rule-text code {
    font-size: 0.9em;
}

.theme-validation-item h6 {
    font-size: 1.3rem;
    font-weight: 500;
}

.theme-validation-item {
    background: var(--whitegrey-l2);
}

.theme-validation-toggle-details {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: flex-start;
    padding: 0;
    color: var(--darkgrey);
    text-decoration: none!important;
    font-size: 1.3rem;
}

.theme-validation-rule-icon {
    flex-shrink: 0;
    margin-left: 5px;
    width: 13px;
    color: var(--midgrey);
    transition: all 0.1s ease-out;
}

.theme-validation-rule-icon svg {
    margin-top: 3px;
}

.theme-validation-rule-icon svg path {
    fill: var(--midgrey);
}

.theme-validation-details {
    margin-top: 12px;
    padding-top: 12px;
    font-size: 1.3rem;
    border-top: 1px solid var(--lightgrey);
}

p.theme-validation-details {
    font-size: 1.3rem;
}


/* Publication identity
/* ---------------------------------------------------------- */
.blog-logo,
.blog-icon {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle%3ERectangle%3C/title%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23E6EEF2' d='M0 0h24v24H0z'/%3E%3Cpath fill='%23D8E2E8' d='M0 0h12v12H0zM12 12h12v12H12z'/%3E%3C/g%3E%3C/svg%3E");
    max-height: 50px;
    height: auto !important;
}

/** CSS for accent color */
.input-color-form-group {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-bottom: 0;
}

.input-color {
    display: flex;
    position: relative;
}

.input-color:after {
    content: "#";
    position: absolute;
    top: 9px;
    left: 43px;
    color: var(--midlightgrey);
    font-family: "Consolas", monaco, monospace;
    font-size: 13px;
}

.input-color:focus {
    border: none;
}

.input-color input {
    padding-left: 52px;
    width: 112px;
    height: 38px;
    padding-right: 8px;
    font-family: "Consolas", monaco, monospace;
    font-size: 13px;
}

.input-color .color-box {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 36px;
    height: 36px;
    display: inline-block;
    background-color: var(--lightgrey);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 1px solid var(--input-border);
    box-shadow: inset 0 0 0 1px var(--white);
}

.input-color input:focus + .color-box {
    top: 2px;
    left: 2px;
    width: 35px;
    height: 34px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.gh-setting-amp-liquid {
    padding-left: 40px;
    padding-right: 40px;
}

.gh-setting-firstpromoter-liquid {
    padding-left: 40px;
    padding-right: 40px;
}

.gh-setting-unsplash-checkbox {
    margin-bottom: 0;
}