/* Subscribers Management /ghost/subscribers/
/* ---------------------------------------------------------- */

.view-subscribers .view-container {
    display: flex;
    flex-direction: row;
}


/* Table (left pane)
/* ---------------------------------------------------------- */

.subscribers-table {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 100%;
}

.subscribers-table table {
    margin: 0;
}

.subscribers-table th {
    padding: 8px 0 15px;
}

.subscribers-table td {
    padding: 0;
    border-top: var(--lightgrey) 1px solid;
}

.subscribers-table table .gh-btn {
    visibility: hidden;
}

.subscribers-table table .gh-btn svg {
    height: 13px;
    width: 13px;
}

.subscribers-table table tr:hover .gh-btn {
    visibility: visible;
}

.subscribers-table tbody td:last-of-type {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.gh-subscribers-table-email-cell {
    width: auto;
}

.gh-subscribers-table-date-cell {
    width: 194px;
}

.gh-subscribers-table-status-cell {
    width: 114px;
}

.gh-subscribers-table-delete-cell {
    width: 52px;
}



/* Sidebar (right pane)
/* ---------------------------------------------------------- */

.subscribers-sidebar {
    width: 350px;
    border-left: 1px solid #dfe1e3;
}

.subscribers-import-buttons {
    display: flex;
    flex-direction: row;
}

.subscribers-import-buttons .gh-btn {
    flex-grow: 1;
    margin-right: 10px;
}

.subscribers-import-buttons .gh-btn:last-of-type {
    margin-right: 0;
}


/* Import modal
/* ---------------------------------------------------------- */

.subscribers-import-results {
    margin: 0;
    width: auto;
}
