/* Tag list
/* ---------------------------------------------------------- */

.gh-tags-count:hover {
    color: color-mod(var(--blue) l(-25%) s(+15%));
    font-weight: 500;
}

textarea.gh-tag-details-textarea {
    max-width: 100%;
}

.gh-tag-image-uploader .gh-image-uploader {
    margin: 4px 0 0;
    border: 1px solid var(--lightgrey);
    min-height: 147px;
}

.gh-tags-placeholder {
    width: 118px;
    margin: -30px 0 15px;
}

.gh-tag-list-slug {
    white-space: nowrap;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tags-view {
    max-width: 1220px;
    margin: 0 auto;
}