/* Tag list
/* ---------------------------------------------------------- */
a.gh-tag-list-posts-count:hover {
    color: color-mod(var(--green) l(-25%) s(+15%));
}

.gh-tags-placeholder {
    width: 60px;
    fill: var(--lightgrey);
}

.gh-tag-list-slug {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.gh-tag-list-description {
    max-width: 320px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Mobile style of tag list */
@media (max-width: 1000px) {
    .gh-tags-list-item {
        display: flex;
        position: relative;
        flex-wrap: wrap;
        border-bottom: 1px solid var(--lightgrey);
        margin: 0;
    }

    .gh-tags-list-item:nth-of-type(2) {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .gh-tags-list-item .gh-list-data {
        border-top: none !important;
    }

    .gh-tags-list-item:hover {
        background: var(--whitegrey-l2);
    }

    .gh-tags-list-item:hover .gh-list-data {
        background: none !important;
    }

    .gh-tag-list-title {
        display: block;
        flex: 1 1 100%;
        padding-bottom: 0;
    }

    .gh-tag-list-slug {
        display: inline-block;
        width: unset;
        padding: 2px 0 20px 16px;
    }

    .gh-tag-list-posts-count {
        display: inline-block;
        flex: 1 1 auto;
        width: unset;
        padding: 2px 0 20px 0;
    }

    .gh-tag-list-slug:after {
        content: "\2022";
        display: inline-block;
        margin-right: 4px;
        color: var(--midgrey-l2);
    }

    .gh-tag-list-chevron {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
    }
}

@media (max-width: 450px) {
    .tags-header {
        justify-content: flex-end;
        min-height: 120px;
    }

    .tags-header .gh-canvas-title {
        position: absolute;
        top: 29px;
        left: 21px;
    }

    .tags-header .view-actions {
        flex-direction: column;
        align-items: flex-end;
        margin-top: 18px;
        overflow-y: hidden;
        width: 100%;
    }

    .tags-header .view-actions .gh-contentfilter {
        order: 2;
        margin: 10px 0 -20px;
        padding: 6px 0 26px;
        max-width: calc(100vw - 10px);
        overflow-x: auto;
        align-self: stretch;
    }

    .tags-header .view-actions .gh-contentfilter button {
        flex: 1 1 50%;
    }

    .gh-tag-list-description {
        max-width: 200px;
    }
}

/* Tag details
/* ---------------------------------------------------------- */

.gh-tag-basic-settings-form {
    display: flex;
    align-items: flex-start;
    padding: 20px 0;
}

.gh-tag-image-uploader .gh-image-uploader {
    min-height: 147px;
    margin: 4px 0 0;
    background: var(--grey-75);
    border: 1px solid var(--grey-100);
    border-radius: var(--border-radius);
}

.gh-tag-setting-codeinjection .CodeMirror {
    padding: 0 !important;
    min-height: 240px;
    background: var(--white);
    color: var(--darkgrey);
    border: 1px solid var(--grey-500);
    border-radius: 4px;
    margin-bottom: 24px;
}

.gh-tag-setting-codeinjection .CodeMirror-gutters {
    background-color: var(--whitegrey-l2);
    border-right: 1px solid var(--grey-500);
}

.gh-tag-setting-codeinjection .CodeMirror-scroll {
    min-height: 240px;
}

.gh-tag-setting-codeinjection .CodeMirror-cursor {
    border: 1px solid var(--midgrey);
}

label.gh-tag-setting-codeheader {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}

.gh-tag-settings-multiprop {
    display: flex;
    max-width: 620px;
    width: 100%;
}

.input-color {
    display: flex;
    position: relative;
}

.input-color:after {
    content: "#";
    position: absolute;
    top: 9px;
    left: 43px;
    color: var(--black);
    font-family: "Consolas", monaco, monospace;
    font-size: 13px;
}

.input-color:focus {
    border: none;
}

.input-color input {
    padding-left: 52px;
    width: 112px;
    height: 38px;
    padding-right: 8px;
    font-family: "Consolas", monaco, monospace;
    font-size: 13px;
}

.input-color .color-box {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 36px;
    height: 36px;
    display: inline-block;
    background-color: var(--lightgrey);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: 1px solid var(--input-border);
    box-shadow: inset 0 0 0 1px var(--white);
}

.input-color input:focus + .color-box {
    top: 2px;
    left: 2px;
    width: 35px;
    height: 34px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.gh-tag-settings-colorcontainer .input-color input {
    position: relative;
    width: 112px;
    padding: 3px 4px 3px 54px;
    font-size: 1.3rem;
}

.gh-tag-settings-colorcontainer .input-color::after {
    left: 44px;
}

.gh-tag-settings-colorcontainer .color-box-container {
    height: 32px;
    width: 32px;
    position: absolute;
    overflow: hidden;
    top: 2px;
    left: 2px;
    margin: 1px;
    border: 1px solid var(--grey-150);
    border-radius: 6px;
}

.gh-tag-settings-colorcontainer .color-box-container .color-picker {
    position: absolute;
    top: -10px;
    left: -10px;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    width: 50px;
    height: 50px;
}


.gh-tag-settings-colorcontainer {
    flex-basis: 112px;
}

@media (max-width: 1080px) {
    .gh-tag-settings-multiprop {
        flex-direction: column;
    }

    .gh-tag-settings-colorcontainer {
        flex-basis: unset;
    }
}

.gh-view-tag-link {
    font-size: 1.3rem;
    color: var(--midgrey);
}

.gh-view-tag-link:hover {
    color: var(--darkgrey);
}

.gh-view-tag-link svg {
    display: inline;
    width: 12px;
    height: 12px;
    vertical-align: middle;
    margin-bottom: 2px;
    fill: var(--midgrey);
}

.gh-view-tag-link:hover svg {
    fill: var(--darkgrey);
}

.gh-setting-content-extended label {
    display: block;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--darkgrey);
    margin-bottom: 4px;
}

.gh-setting-content-extended textarea {
    font-size: 1.5rem;
    letter-spacing: 0;
    line-height: 1.4em;
    max-width: initial;
}

.gh-setting-content-extended .gh-image-uploader {
    margin: 0;
}

.gh-setting-content-extended .gh-btn span {
    height: 36px;
    line-height: 36px;
}

.gh-setting-content-extended {
    width: 100%;
}

/* Code injection
/* ---------------------------------------------------------- */

.settings-code {
    max-width: 100%;
}

.settings-code label {
    font-size: 1.5rem;
    letter-spacing: 0;
    margin-bottom: 2px;
}

.settings-code p {
    margin: 0 0 8px;
    font-size: 1.3rem;
}

.settings-code code {
    background-color: rgb(242, 244, 247);
    border: 1px solid var(--lightgrey);
    vertical-align: middle;
    font-size: 1.2rem;
}

.settings-code-editor {
    padding: 0;
    min-width: 250px;
    min-height: 300px;
    max-width: 1224px;
    width: calc(100vw - 416px) !important;
    height: auto;
    line-height: 22px;
    border: 1px solid var(--lightgrey);
}

.settings-code-editor:hover {
    cursor: text;
}

.settings-code-editor textarea {
    width: 100%;
    max-width: none;
    min-height: 300px;
    line-height: 22px;
    border: none;
}

.settings-code-editor .CodeMirror {
    padding: 0;
    border: none;
    border-radius: inherit;
    background: var(--white);
    color: var(--darkgrey);
}

.settings-code-editor .CodeMirror-gutters {
    background-color: var(--whitegrey-l2);
    border-right: 1px solid var(--lightgrey);
}

.settings-code-editor .CodeMirror-cursor {
    border: 1px solid var(--midgrey);
}

.settings-code-editor .cm-s-xq-light span.cm-meta {
    color: #000;
}

@media (max-width: 800px) {
    .settings-code-editor {
        width: calc(100vw - 8vw - 40px) !important;
    }
}

.gh-seo-container {
    display: flex;
    width: 100%;
    margin-bottom: 2.4rem;
    padding: 20px 30px 16px;
    border: 1px solid var(--whitegrey-d1);
    font-family: Arial, sans-serif;
    background: #fff;
    border-radius: 3px;
}

.gh-seo-container svg {
    width: 92px;
    height: 30px;
    margin-right: 32px;
}

@media (max-width: 1360px) {
    .gh-seo-settings {
        flex-direction: column;
    }

    .gh-seo-settings .form-group {
        max-width: 100%;
    }

    .gh-seo-settings-left,
    .gh-seo-container {
        max-width: 591px;
    }
}

@media (min-width: 1360px) {
    .gh-seo-settings-left {
        margin-right: 2.4rem;
    }

    .gh-seo-container {
        max-width: 1091px;
    }
}

.gh-og-container {
    width: 476px;
    margin-bottom: 2.4rem;
    border: 1px solid var(--whitegrey-d1);
    background: #fff;
    border-radius: 3px;
}

@media (max-width: 1080px) {
    .gh-og-container {
        width: 100%;
        max-width: 476px;
    }
}

.gh-twitter-container {
    width: 591px;
    margin-bottom: 2.4rem;
    border: 1px solid var(--whitegrey-d1);
    background: #fff;
    border-radius: 3px;
}

@media (max-width: 1080px) {
    .gh-twitter-container {
        width: 100%;
        max-width: 591px;
    }
}
