/* Tier list */
.gh-tier-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
}

@media (max-width: 980px) {
    .gh-tier-list {
        grid-template-columns: repeat(1, 1fr);
    }
}

.gh-contentfilter-menu-trigger-tiers {
    margin-right: 0 !important;
    background: transparent !important;
}

.gh-contentfilter-menu-trigger-tiers .ember-power-select-selected-item {
    font-weight: 400 !important;
    color: var(--darkgrey) !important;
}

.gh-tier-cards {
    margin: 0 0 24px;
}

.gh-tier-card {
    position:relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

@media (max-width: 980px) {
    .gh-tier-card {
        padding: 4vmin 48px;
    }
}

.gh-tier-card-button-container {
    position: absolute;
    right: 24px;
    top: 24px;
    margin-right: 0;
}

.gh-tier-card-actions-button, .gh-tier-card-edit-button {
    margin-right: 0;
    cursor: pointer;
}

.gh-tier-card-actions-button.gh-btn span, .gh-tier-card-edit-button.gh-btn span {
    height: 24px;
}

.gh-tier-actions-menu {
    top: calc(100% + 6px);
    left: auto;
    right: 0;
}

.gh-tier-actions-menu.closed {
    display: none;
}

.gh-tier-card-block {
    flex-basis: 30%;
}

.gh-tier-card-block:not(:first-of-type) {
    padding-left: 16px;
}

.gh-tier-card-block h4 {
    font-size: 1.3rem;
    font-weight: 500;
}

.gh-tier-card-block h4 .counter {
    font-weight: 400;
    color: var(--midgrey);
}

.gh-tier-card-name {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
}

.gh-tier-card-empty-state {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gh-tier-card-empty-state p {
    margin-bottom: 0;
    padding: 3.2rem;
    color: var(--midgrey);
}

.gh-tier-card-description {
    font-size: 1.3rem;
    line-height: 1.45em;
    margin: 4px 20px 4px 0;
    color: var(--midgrey);
}

.gh-tier-card-block.title-block {
    flex-basis: 40%;
}

.gh-tier-card-block.benefits-block .gh-tier-card-description {
    margin-top: 9px;
}

.gh-tier-card-block ul.benefits {
    list-style: none;
    margin: 10px 0 0;
    padding: 0;
}

.gh-tier-card-block ul.benefits li {
    display: flex;
    align-items: flex-start;
    font-size: 1.3rem;
    line-height: 1.45em;
    color: var(--middarkgrey);
}

.gh-tier-card-block ul.benefits li svg {
    flex-basis: 18px;
    width: 14px;
    height: 14px;
    min-width: 18px;
    margin-top: 3px;
    margin-right: 4px;
    color: var(--black);
}

.gh-tier-card-block ul.benefits li span {
    flex-grow: 1;
}

.gh-tier-card-block.price-block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 70px 0 20px;
}

.gh-tier-price-container {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--whitegrey);
}

.gh-expendable-free-membership .gh-tier-price-container {
    margin: 0 60px 0 20px;
}

.gh-expendable-free-membership .gh-tier-card-price {
    border-right: none !important;
}

.gh-expendable-free-membership .gh-tier-card-block{
    flex-basis: auto;
}

.gh-tier-price-cards {
    display: inline-flex;
    justify-content: flex-end;
}

.gh-tier-card-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    color: var(--midgrey);
    padding: 12px 8px;
    border-radius: 3px;
    min-width: 90px;
    min-height: 66px;
}

.gh-tier-free-trial-label {
    text-align: center;
    font-size: 1.25rem;
    color: var(--midgrey);
    padding: 4px;
    border-top: 1px solid var(--whitegrey);
}

.gh-tier-free-trial-days {
    font-weight: 600;
    color: var(--darkgrey);
}

.gh-tier-card-price:first-of-type {
    border-right: 1px solid var(--whitegrey);
}

.gh-tier-card-price .currency-symbol,
.gh-tier-card-price .amount,
.gh-tier-card-price .currency,
.gh-tier-card-price .currency-code {
    font-weight: 600;
    color: var(--darkgrey);
}

.gh-tier-card-price .currency-symbol {
    margin-top: -3px;
}

.gh-tier-card-price .amount {
    letter-spacing: -.7px;
    line-height: 1;
    margin-right: 2px;
    margin-left: 1px;
    font-size: 2.2rem;
}

.gh-tier-card-price .currency {
    text-transform: uppercase;
    position: relative;
    top: 2px;
    font-size: 1.4rem;
    letter-spacing: 0.4px;
    line-height: 1;
}

.gh-tier-card-price .currency-code {
    text-transform: uppercase;
    position: relative;
    top: 0;
    font-weight: 600;
    line-height: 1;
    font-size: 1.25rem;
    letter-spacing: -.2px;
}

.gh-tier-card-price .period {
    font-size: 1.25rem;
    text-transform: lowercase;
    line-height: 1.2em;
    margin-top: 2px;
}

.gh-tier-cards-footer {
    display: flex;
    align-items: center;
    margin-top: -7px;
    color: var(--midgrey);
    font-size: 1.35rem;
}

.gh-btn-add-tier,
.gh-btn-add-tier:hover {
    margin-right: 5px;
}

.gh-btn-add-tier svg {
    width: 1rem;
    height: 1rem;
    margin: 1px 4px 0 0;
}

.gh-tier-list-icon {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: var(--green);
    margin-bottom: 8px;
    height: 72px;
}

.gh-tier-list-icon svg {
    width: 60px;
    height: 60px;
}

.gh-tier-list-siteicon {
    width: 54px;
    height: 54px;
    background-color: transparent;
    background-size: 54px;
    border-radius: 3px;
    margin-bottom: 6px;
}

.gh-tier-list-icon svg circle,
.gh-tier-list-icon svg path {
    stroke-width: 1px !important;
}

/* Tier details */
.gh-tier-details {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 32px;
    margin-bottom: 3vw;
}

.gh-tier-details-form {
    display: flex;
    align-items: flex-start;
    padding-top: 20px !important;
}

.gh-tier-icon-container {
    width: unset;
    padding-bottom: 0;
    margin-bottom: 0;
}

.gh-tier-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    width: 124px;
    height: 124px;
    margin-right: 24px;
    border: 1px solid var(--whitegrey);
    border-radius: 3px;
}

.gh-tier-details-fields {
    width: 100%;
}

.gh-tier-details-fields .max-width {
    max-width: 840px;
}

.gh-tier-details-fields .form-group:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
}

.gh-tier-details section {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

/* Tier stats */
.gh-tier-stat-container {
    display: flex;
    flex-direction: column;
}

.gh-tier-stat-details .data {
    white-space: nowrap;
    font-size: 3.1rem;
    line-height: 1em;
    font-weight: 700;
    letter-spacing: 0;
    margin: 0 0 2px;
    padding: 0;
}

.gh-tier-stat-details .info {
    color: var(--midgrey);
    margin: 0 0 10px;
    padding: 0;
}

.gh-tier-chart {
    color: var(--whitegrey);
    border: 1px solid var(--whitegrey);
    border-top-color: transparent;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 12px;
}

/* Price list */
.gh-price-list {
    margin-bottom: 24px;
}

.gh-price-list a span {
    color: var(--midgrey);
    font-size: 1.3rem;
}

.gh-price-list-actionlist {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    line-height: 1;
}

.gh-price-list .gh-list-row:hover .gh-price-list-actionlist {
    opacity: 1;
}

.gh-price-list-actionlist a,
.gh-price-list-actionlist button {
    margin-left: 15px;
    padding: 0;
    line-height: 0;
}

.gh-price-list-actionlist a span,
.gh-price-list-actionlist button span {
    display: inline-block;
    line-height: 1;
    height: unset;
    border-radius: 3px;
    padding: 4px 6px;
    color: var(--darkgrey);
    font-weight: 500;
    font-size: 1.2rem !important;
    text-transform: uppercase;
}

.gh-price-list-actionlist a:hover span,
.gh-price-list-actionlist button:hover span {
    background: var(--whitegrey);
}

.gh-price-list-actionlist a.archived:hover span,
.gh-price-list-actionlist button.archived:hover span {
    background: color-mod(var(--red) a(10%));
    color: var(--red);
}

.gh-price-list-title,
.gh-price-list-price {
    width: 50%;
}

.gh-price-list-name span.archived {
    background: var(--lightgrey-l2);
    color: var(--midgrey);
    font-size: 1.2rem;
}

.gh-price-list-archived .gh-price-list-name .name,
.gh-price-list-archived .gh-price-list-description,
.gh-price-list-archived .gh-price-list-price span,
.gh-price-list-archived .gh-price-list-subscriptions span {
    opacity: 0.5;
}

.gh-price-list-noprices {
    text-align: center;
    padding: 48px 0;
    color: var(--midgrey);
}

.gh-btn-archive-toggle {
    width: 80px;
}

.tier-actions-menu.fade-out {
    animation-duration: 0.01s;
    pointer-events: none;
}

/* Add/edit tier modal */
.fullscreen-modal-edit-tier {
    max-width: 1080px;
}

.gh-tier-modal-content {
    margin: -32px -32px 0;
    padding: 32px 32px 0;
    max-height: calc(100vh - 16vw);
    overflow-y: auto;
}

.gh-form-edit-tier .gh-main-section {
    margin-bottom: 32px;
    grid-template-columns: 1fr 0.8fr 1.2fr;
}

.gh-form-edit-tier .gh-main-section-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.gh-form-edit-tier .gh-main-section-content {
    padding-top: 16px;
    margin-bottom: 0;
}

.gh-tier-priceform-block {
    margin-bottom: 32px;
}

.gh-tier-priceform-block .form-group:last-of-type {
    margin-bottom: 0;
}

.gh-tier-priceform-pricecurrency {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}

.gh-form-edit-tier .gh-main-section-content.gh-tier-form-benefits {
    padding-left: 8px;
    margin-bottom: 0;
}

.gh-tier-benefits .gh-input {
    padding: 6px 28px 6px 30px;
}

.gh-tier-benefits .gh-blognav-line {
    position: relative;
}

.gh-tier-benefits .gh-blognav-line svg {
    position: absolute;
    width: 12px;
    height: 12px;
    top: 13px;
    left: 11px;
}

.gh-tier-benefits .gh-blognav-line.placeholder {
    color: var(--midlightgrey);
}

.gh-tier-benefits .gh-blognav-line svg path {
    stroke-width: 3px;
}

.gh-tier-benefits .gh-blognav-item {
    position: relative;
    align-items: center;
}

.gh-tier-benefits .gh-blognav-item.gh-blognav-item--error {
    align-items: flex-start;
}

.gh-blognav-item--error button.gh-blognav-add {
    margin-top: 12px;
}

.gh-tier-benefits .gh-blognav-label {
    margin-right: 0;
}

.gh-tier-benefits .gh-blognav-label .response {
    position: relative;
    font-size: 1.25rem;
    margin: 2px 0 6px;
}

.gh-tier-benefits .gh-blognav-delete {
    position: absolute;
    top: 4px;
    right: 8px;
    opacity: 0;
    color: var(--midgrey);
}

.gh-tier-benefits .gh-blognav-delete:hover {
    color: var(--red);
}

.gh-tier-benefits .gh-blognav-add {
    margin-top: 2px;
}

.gh-tier-benefits .gh-blognav-grab {
    text-indent: 0px;
    opacity: 0;
}

.gh-tier-benefits .gh-blognav-item:hover .gh-blognav-delete,
.gh-tier-benefits .gh-blognav-item:hover .gh-blognav-grab {
    opacity: 1;
}

.gh-tier-benefits .gh-blognav-item:not(.gh-blognav-item--sortable):not(:last-of-type) {
    margin-bottom: 16px;
}

.gh-tier-benefit-hint {
    color: var(--midgrey-d2);
    font-size: 1.25rem !important;
    font-weight: 400;
    padding: 0 16px;
    margin-top: -12px;
}

.gh-tier-form-tierpreview-content {
    position: sticky;
    top: 45px;
    height: max-content;
}

.gh-tier-form-tierpreview .gh-main-section-content {
    flex: 1;
    max-width: 420px;
    min-width: 320px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    background: white;
    padding: 32px;
    border-radius: 7px;
    border: 1px solid #e1e1e1;
    min-height: 200px;
    letter-spacing: normal;
}

.gh-portal-tier-card-header {
    width: 100%;
    min-height: 56px;
}

.gh-tier-form-tierpreview .gh-main-section-content .gh-portal-tier-name {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.3em;
    letter-spacing: 0px;
    margin-top: -4px;
    margin-bottom: 0;
    word-break: break-word;
    width: 100%;
}

.gh-tier-form-tierpreview .gh-main-section-content .gh-portal-tier-description {
    font-size: 1.55rem;
    font-weight: 600;
    line-height: 1.4em;
    width: 100%;
    margin-top: 16px;
    color: #3d3d3d;
}

.gh-portal-tier-card-pricecontainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 4px;
    width: 100%;
    margin-top: 16px;
}

.gh-portal-tier-price {
    display: flex;
    justify-content: center;
    color: #1d1d1d;
}

.gh-portal-tier-card-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.gh-portal-tier-card-detaildata {
    flex: 1;
}

.gh-portal-tier-price .amount {
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 1em;
    letter-spacing: -1.3px;
}

.gh-tier-form-tierpreivew-cadence {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.gh-tier-form-tierpreivew-cadence .gh-btn,
.gh-tier-form-tierpreivew-cadence .gh-btn span {
    background: transparent !important;
    padding: 0;
    line-height: 1em;
    height: auto;
    font-size: 1.3rem;
    color: var(--midlightgrey);
    margin-left: 4px;
    font-weight: 400;
    overflow: unset;
}

.gh-tier-form-tierpreivew-cadence .gh-btn:hover span {
    color: var(--middarkgrey);
}

.gh-tier-form-tierpreivew-cadence .gh-btn.selected span {
    font-weight: 500;
    color: var(--darkgrey);
}

.gh-tier-form-tierpreview .monthly-price {
    display: flex;
    align-items: baseline;
    font-size: 3.3rem;
    font-weight: 500;
    line-height: 1em;
    color: #3d3d3d;
}

.gh-tier-form-tierpreview .currency-sign {
    align-self: flex-start;
    font-size: 2.7rem;
    font-weight: 700;
    line-height: 1.115em;
    text-transform: uppercase;
}

.gh-tier-form-tierpreview .billing-period {
    align-self: flex-end;
    font-size: 1.5rem;
    letter-spacing: 0;
    line-height: 1.4em;
    color: #686868;
    margin-left: 5px;
    font-weight: 400;
}

.gh-portal-discount-label {
    position: relative;
    font-size: 1.25rem;
    line-height: 1em;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #1d1d1d;
    padding: 6px 9px;
    text-align: center;
    white-space: nowrap;
    border-radius: 999px;
    margin-right: -4px;
    margin-top: -4px;
    max-height: 24.5px;
}

.gh-portal-discount-label span {
    position: absolute;
    content: "";
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 999px;
    opacity: 0.2;
}

.gh-tier-form-tierpreview .gh-portal-tier-benefits {
    font-size: 1.5rem;
    letter-spacing: 0;
    line-height: 1.4em;
    width: 100%;
    margin-top: 16px;
}

.gh-tier-form-tierpreview .gh-portal-tier-benefit {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    color: #3d3d3d;
}

.gh-portal-tier-benefit svg {
    width: 14px;
    height: 14px;
    min-width: 14px;
    margin: 3px 10px 0 0;
    overflow: visible;
}

.gh-tier-form-tierpreview .gh-portal-tier-benefit polyline,
.gh-tier-form-tierpreview .gh-portal-tier-benefit g,
.gh-tier-form-tierpreview .gh-portal-tier-benefit path {
    stroke-width: 3px;
}

.gh-tier-form-tierpreview .gh-portal-benefit-title {
    letter-spacing: normal;
}

.gh-tier-form-tierpreview .placeholder {
    opacity: 0.35;
}

.gh-tier-form-tierpreview .gh-portal-discount-label-trial {
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1;
    margin-top: 4px;
}

.gh-tier-setting-title {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0;
}

.gh-tier-settings .for-switch.small {
    width: 36px !important;
    height: 22px !important;
}

.gh-tier-settings .gh-tier-settings-hide {
    display: none !important;
}

.gh-tier-settings .gh-tier-settings-show {
    display: flex !important;
}