.gh-wn-header {
    position: relative;
    display: flex;
    align-items: center;
    margin: -32px -32px 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: var(--purple);
    background: linear-gradient(135deg, color-mod(var(--purple) h(-10) s(+5%) l(-10%)) 0%, rgba(173,38,180,1) 100%);
    padding: 18px 32px 12px;
}

.gh-wn-header .background-img {
    position: absolute;
    top: -30px;
    left: 0;
}

.gh-wn-header h2 {
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFF;
    margin: 0 8px 4px;
}

.gh-wn-content {
    margin: 0px -32px;
    padding: 0px 32px;
    max-height: calc(100vh - 170px);
    overflow-y: scroll;
}

.gh-wn-close {
    stroke: #FFF;
    opacity: 0.6;
    transition: all 0.2s ease-in-out;
}

.gh-wn-close:hover {
    opacity: 1.0;
}

.gh-wn-entry {
    margin: 0 -32px;
    padding: 0 32px;
    border-bottom: 1px solid var(--whitegrey);
}

.gh-wn-entry:last-of-type {
    margin-bottom: 0px;
    border-bottom: none;
    padding-bottom: 0px;
}

.gh-wn-entry h4 {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    margin: 24px 0 4px;
    color: var(--midlightgrey);
}

.gh-wn-entry p {
    margin: 0 0 20px;
    padding: 0;
}

.gh-wn-footer {
    margin: 0 -32px -32px;
    padding: 14px 32px 16px;
    border-top: 1px solid var(--whitegrey);
    justify-content: space-between;
}