{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2016-12-01",
    "endpointPrefix":"appstream2",
    "jsonVersion":"1.1",
    "protocol":"json",
    "protocols":["json"],
    "serviceFullName":"Amazon AppStream",
    "serviceId":"AppStream",
    "signatureVersion":"v4",
    "signingName":"appstream",
    "targetPrefix":"PhotonAdminProxyService",
    "uid":"appstream-2016-12-01",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AssociateAppBlockBuilderAppBlock":{
      "name":"AssociateAppBlockBuilderAppBlock",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateAppBlockBuilderAppBlockRequest"},
      "output":{"shape":"AssociateAppBlockBuilderAppBlockResult"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Associates the specified app block builder with the specified app block.</p>"
    },
    "AssociateApplicationFleet":{
      "name":"AssociateApplicationFleet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateApplicationFleetRequest"},
      "output":{"shape":"AssociateApplicationFleetResult"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Associates the specified application with the specified fleet. This is only supported for Elastic fleets.</p>"
    },
    "AssociateApplicationToEntitlement":{
      "name":"AssociateApplicationToEntitlement",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateApplicationToEntitlementRequest"},
      "output":{"shape":"AssociateApplicationToEntitlementResult"},
      "errors":[
        {"shape":"OperationNotPermittedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"EntitlementNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Associates an application to entitle.</p>"
    },
    "AssociateFleet":{
      "name":"AssociateFleet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateFleetRequest"},
      "output":{"shape":"AssociateFleetResult"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccountStatusException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"IncompatibleImageException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Associates the specified fleet with the specified stack.</p>"
    },
    "BatchAssociateUserStack":{
      "name":"BatchAssociateUserStack",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchAssociateUserStackRequest"},
      "output":{"shape":"BatchAssociateUserStackResult"},
      "errors":[
        {"shape":"OperationNotPermittedException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Associates the specified users with the specified stacks. Users in a user pool cannot be assigned to stacks with fleets that are joined to an Active Directory domain.</p>"
    },
    "BatchDisassociateUserStack":{
      "name":"BatchDisassociateUserStack",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDisassociateUserStackRequest"},
      "output":{"shape":"BatchDisassociateUserStackResult"},
      "errors":[
        {"shape":"OperationNotPermittedException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Disassociates the specified users from the specified stacks.</p>"
    },
    "CopyImage":{
      "name":"CopyImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopyImageRequest"},
      "output":{"shape":"CopyImageResponse"},
      "errors":[
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceNotAvailableException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccountStatusException"},
        {"shape":"IncompatibleImageException"}
      ],
      "documentation":"<p>Copies the image within the same region or to a new region within the same AWS account. Note that any tags you added to the image will not be copied.</p>"
    },
    "CreateAppBlock":{
      "name":"CreateAppBlock",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAppBlockRequest"},
      "output":{"shape":"CreateAppBlockResult"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"LimitExceededException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"ResourceAlreadyExistsException"}
      ],
      "documentation":"<p>Creates an app block.</p> <p>App blocks are an Amazon AppStream 2.0 resource that stores the details about the virtual hard disk in an S3 bucket. It also stores the setup script with details about how to mount the virtual hard disk. The virtual hard disk includes the application binaries and other files necessary to launch your applications. Multiple applications can be assigned to a single app block.</p> <p>This is only supported for Elastic fleets.</p>"
    },
    "CreateAppBlockBuilder":{
      "name":"CreateAppBlockBuilder",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAppBlockBuilderRequest"},
      "output":{"shape":"CreateAppBlockBuilderResult"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"RequestLimitExceededException"},
        {"shape":"InvalidAccountStatusException"},
        {"shape":"InvalidRoleException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotAvailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Creates an app block builder.</p>"
    },
    "CreateAppBlockBuilderStreamingURL":{
      "name":"CreateAppBlockBuilderStreamingURL",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAppBlockBuilderStreamingURLRequest"},
      "output":{"shape":"CreateAppBlockBuilderStreamingURLResult"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Creates a URL to start a create app block builder streaming session.</p>"
    },
    "CreateApplication":{
      "name":"CreateApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateApplicationRequest"},
      "output":{"shape":"CreateApplicationResult"},
      "errors":[
        {"shape":"OperationNotPermittedException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Creates an application.</p> <p>Applications are an Amazon AppStream 2.0 resource that stores the details about how to launch applications on Elastic fleet streaming instances. An application consists of the launch details, icon, and display name. Applications are associated with an app block that contains the application binaries and other files. The applications assigned to an Elastic fleet are the applications users can launch. </p> <p>This is only supported for Elastic fleets.</p>"
    },
    "CreateDirectoryConfig":{
      "name":"CreateDirectoryConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDirectoryConfigRequest"},
      "output":{"shape":"CreateDirectoryConfigResult"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccountStatusException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"InvalidRoleException"}
      ],
      "documentation":"<p>Creates a Directory Config object in AppStream 2.0. This object includes the configuration information required to join fleets and image builders to Microsoft Active Directory domains.</p>"
    },
    "CreateEntitlement":{
      "name":"CreateEntitlement",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEntitlementRequest"},
      "output":{"shape":"CreateEntitlementResult"},
      "errors":[
        {"shape":"OperationNotPermittedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"EntitlementAlreadyExistsException"}
      ],
      "documentation":"<p>Creates a new entitlement. Entitlements control access to specific applications within a stack, based on user attributes. Entitlements apply to SAML 2.0 federated user identities. Amazon AppStream 2.0 user pool and streaming URL users are entitled to all applications in a stack. Entitlements don't apply to the desktop stream view application, or to applications managed by a dynamic app provider using the Dynamic Application Framework.</p>"
    },
    "CreateFleet":{
      "name":"CreateFleet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateFleetRequest"},
      "output":{"shape":"CreateFleetResult"},
      "errors":[
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotAvailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"RequestLimitExceededException"},
        {"shape":"InvalidAccountStatusException"},
        {"shape":"InvalidRoleException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"IncompatibleImageException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Creates a fleet. A fleet consists of streaming instances that your users access for their applications and desktops.</p>"
    },
    "CreateImageBuilder":{
      "name":"CreateImageBuilder",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateImageBuilderRequest"},
      "output":{"shape":"CreateImageBuilderResult"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"RequestLimitExceededException"},
        {"shape":"InvalidAccountStatusException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotAvailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRoleException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"IncompatibleImageException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Creates an image builder. An image builder is a virtual machine that is used to create an image.</p> <p>The initial state of the builder is <code>PENDING</code>. When it is ready, the state is <code>RUNNING</code>.</p>"
    },
    "CreateImageBuilderStreamingURL":{
      "name":"CreateImageBuilderStreamingURL",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateImageBuilderStreamingURLRequest"},
      "output":{"shape":"CreateImageBuilderStreamingURLResult"},
      "errors":[
        {"shape":"OperationNotPermittedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Creates a URL to start an image builder streaming session.</p>"
    },
    "CreateStack":{
      "name":"CreateStack",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateStackRequest"},
      "output":{"shape":"CreateStackResult"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccountStatusException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidRoleException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Creates a stack to start streaming applications to users. A stack consists of an associated fleet, user access policies, and storage configurations. </p>"
    },
    "CreateStreamingURL":{
      "name":"CreateStreamingURL",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateStreamingURLRequest"},
      "output":{"shape":"CreateStreamingURLResult"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceNotAvailableException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Creates a temporary URL to start an AppStream 2.0 streaming session for the specified user. A streaming URL enables application streaming to be tested without user setup. </p>"
    },
    "CreateThemeForStack":{
      "name":"CreateThemeForStack",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateThemeForStackRequest"},
      "output":{"shape":"CreateThemeForStackResult"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccountStatusException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Creates custom branding that customizes the appearance of the streaming application catalog page.</p>"
    },
    "CreateUpdatedImage":{
      "name":"CreateUpdatedImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateUpdatedImageRequest"},
      "output":{"shape":"CreateUpdatedImageResult"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccountStatusException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"IncompatibleImageException"}
      ],
      "documentation":"<p>Creates a new image with the latest Windows operating system updates, driver updates, and AppStream 2.0 agent software.</p> <p>For more information, see the \"Update an Image by Using Managed AppStream 2.0 Image Updates\" section in <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/administer-images.html\">Administer Your AppStream 2.0 Images</a>, in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>"
    },
    "CreateUsageReportSubscription":{
      "name":"CreateUsageReportSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateUsageReportSubscriptionRequest"},
      "output":{"shape":"CreateUsageReportSubscriptionResult"},
      "errors":[
        {"shape":"InvalidRoleException"},
        {"shape":"InvalidAccountStatusException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a usage report subscription. Usage reports are generated daily.</p>"
    },
    "CreateUser":{
      "name":"CreateUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateUserRequest"},
      "output":{"shape":"CreateUserResult"},
      "errors":[
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InvalidAccountStatusException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"LimitExceededException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Creates a new user in the user pool.</p>"
    },
    "DeleteAppBlock":{
      "name":"DeleteAppBlock",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAppBlockRequest"},
      "output":{"shape":"DeleteAppBlockResult"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes an app block.</p>"
    },
    "DeleteAppBlockBuilder":{
      "name":"DeleteAppBlockBuilder",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAppBlockBuilderRequest"},
      "output":{"shape":"DeleteAppBlockBuilderResult"},
      "errors":[
        {"shape":"OperationNotPermittedException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes an app block builder.</p> <p>An app block builder can only be deleted when it has no association with an app block.</p>"
    },
    "DeleteApplication":{
      "name":"DeleteApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteApplicationRequest"},
      "output":{"shape":"DeleteApplicationResult"},
      "errors":[
        {"shape":"OperationNotPermittedException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Deletes an application.</p>"
    },
    "DeleteDirectoryConfig":{
      "name":"DeleteDirectoryConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDirectoryConfigRequest"},
      "output":{"shape":"DeleteDirectoryConfigResult"},
      "errors":[
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes the specified Directory Config object from AppStream 2.0. This object includes the information required to join streaming instances to an Active Directory domain.</p>"
    },
    "DeleteEntitlement":{
      "name":"DeleteEntitlement",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEntitlementRequest"},
      "output":{"shape":"DeleteEntitlementResult"},
      "errors":[
        {"shape":"OperationNotPermittedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"EntitlementNotFoundException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Deletes the specified entitlement.</p>"
    },
    "DeleteFleet":{
      "name":"DeleteFleet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteFleetRequest"},
      "output":{"shape":"DeleteFleetResult"},
      "errors":[
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Deletes the specified fleet.</p>"
    },
    "DeleteImage":{
      "name":"DeleteImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteImageRequest"},
      "output":{"shape":"DeleteImageResult"},
      "errors":[
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Deletes the specified image. You cannot delete an image when it is in use. After you delete an image, you cannot provision new capacity using the image.</p>"
    },
    "DeleteImageBuilder":{
      "name":"DeleteImageBuilder",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteImageBuilderRequest"},
      "output":{"shape":"DeleteImageBuilderResult"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Deletes the specified image builder and releases the capacity.</p>"
    },
    "DeleteImagePermissions":{
      "name":"DeleteImagePermissions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteImagePermissionsRequest"},
      "output":{"shape":"DeleteImagePermissionsResult"},
      "errors":[
        {"shape":"ResourceNotAvailableException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes permissions for the specified private image. After you delete permissions for an image, AWS accounts to which you previously granted these permissions can no longer use the image.</p>"
    },
    "DeleteStack":{
      "name":"DeleteStack",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteStackRequest"},
      "output":{"shape":"DeleteStackResult"},
      "errors":[
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Deletes the specified stack. After the stack is deleted, the application streaming environment provided by the stack is no longer available to users. Also, any reservations made for application streaming sessions for the stack are released.</p>"
    },
    "DeleteThemeForStack":{
      "name":"DeleteThemeForStack",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteThemeForStackRequest"},
      "output":{"shape":"DeleteThemeForStackResult"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Deletes custom branding that customizes the appearance of the streaming application catalog page.</p>"
    },
    "DeleteUsageReportSubscription":{
      "name":"DeleteUsageReportSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteUsageReportSubscriptionRequest"},
      "output":{"shape":"DeleteUsageReportSubscriptionResult"},
      "errors":[
        {"shape":"InvalidAccountStatusException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Disables usage report generation.</p>"
    },
    "DeleteUser":{
      "name":"DeleteUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteUserRequest"},
      "output":{"shape":"DeleteUserResult"},
      "errors":[
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes a user from the user pool.</p>"
    },
    "DescribeAppBlockBuilderAppBlockAssociations":{
      "name":"DescribeAppBlockBuilderAppBlockAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAppBlockBuilderAppBlockAssociationsRequest"},
      "output":{"shape":"DescribeAppBlockBuilderAppBlockAssociationsResult"},
      "errors":[
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Retrieves a list that describes one or more app block builder associations.</p>"
    },
    "DescribeAppBlockBuilders":{
      "name":"DescribeAppBlockBuilders",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAppBlockBuildersRequest"},
      "output":{"shape":"DescribeAppBlockBuildersResult"},
      "errors":[
        {"shape":"OperationNotPermittedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves a list that describes one or more app block builders.</p>"
    },
    "DescribeAppBlocks":{
      "name":"DescribeAppBlocks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAppBlocksRequest"},
      "output":{"shape":"DescribeAppBlocksResult"},
      "errors":[
        {"shape":"OperationNotPermittedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves a list that describes one or more app blocks.</p>"
    },
    "DescribeApplicationFleetAssociations":{
      "name":"DescribeApplicationFleetAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeApplicationFleetAssociationsRequest"},
      "output":{"shape":"DescribeApplicationFleetAssociationsResult"},
      "errors":[
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Retrieves a list that describes one or more application fleet associations. Either ApplicationArn or FleetName must be specified.</p>"
    },
    "DescribeApplications":{
      "name":"DescribeApplications",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeApplicationsRequest"},
      "output":{"shape":"DescribeApplicationsResult"},
      "errors":[
        {"shape":"OperationNotPermittedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves a list that describes one or more applications.</p>"
    },
    "DescribeDirectoryConfigs":{
      "name":"DescribeDirectoryConfigs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDirectoryConfigsRequest"},
      "output":{"shape":"DescribeDirectoryConfigsResult"},
      "errors":[
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves a list that describes one or more specified Directory Config objects for AppStream 2.0, if the names for these objects are provided. Otherwise, all Directory Config objects in the account are described. These objects include the configuration information required to join fleets and image builders to Microsoft Active Directory domains. </p> <p>Although the response syntax in this topic includes the account password, this password is not returned in the actual response.</p>"
    },
    "DescribeEntitlements":{
      "name":"DescribeEntitlements",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEntitlementsRequest"},
      "output":{"shape":"DescribeEntitlementsResult"},
      "errors":[
        {"shape":"OperationNotPermittedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"EntitlementNotFoundException"}
      ],
      "documentation":"<p>Retrieves a list that describes one of more entitlements.</p>"
    },
    "DescribeFleets":{
      "name":"DescribeFleets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFleetsRequest"},
      "output":{"shape":"DescribeFleetsResult"},
      "errors":[
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves a list that describes one or more specified fleets, if the fleet names are provided. Otherwise, all fleets in the account are described.</p>"
    },
    "DescribeImageBuilders":{
      "name":"DescribeImageBuilders",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeImageBuildersRequest"},
      "output":{"shape":"DescribeImageBuildersResult"},
      "errors":[
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves a list that describes one or more specified image builders, if the image builder names are provided. Otherwise, all image builders in the account are described.</p>"
    },
    "DescribeImagePermissions":{
      "name":"DescribeImagePermissions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeImagePermissionsRequest"},
      "output":{"shape":"DescribeImagePermissionsResult"},
      "errors":[
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves a list that describes the permissions for shared AWS account IDs on a private image that you own. </p>"
    },
    "DescribeImages":{
      "name":"DescribeImages",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeImagesRequest"},
      "output":{"shape":"DescribeImagesResult"},
      "errors":[
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves a list that describes one or more specified images, if the image names or image ARNs are provided. Otherwise, all images in the account are described.</p>"
    },
    "DescribeSessions":{
      "name":"DescribeSessions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSessionsRequest"},
      "output":{"shape":"DescribeSessionsResult"},
      "errors":[
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Retrieves a list that describes the streaming sessions for a specified stack and fleet. If a UserId is provided for the stack and fleet, only streaming sessions for that user are described. If an authentication type is not provided, the default is to authenticate users using a streaming URL.</p>"
    },
    "DescribeStacks":{
      "name":"DescribeStacks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStacksRequest"},
      "output":{"shape":"DescribeStacksResult"},
      "errors":[
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves a list that describes one or more specified stacks, if the stack names are provided. Otherwise, all stacks in the account are described.</p>"
    },
    "DescribeThemeForStack":{
      "name":"DescribeThemeForStack",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeThemeForStackRequest"},
      "output":{"shape":"DescribeThemeForStackResult"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Retrieves a list that describes the theme for a specified stack. A theme is custom branding that customizes the appearance of the streaming application catalog page.</p>"
    },
    "DescribeUsageReportSubscriptions":{
      "name":"DescribeUsageReportSubscriptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeUsageReportSubscriptionsRequest"},
      "output":{"shape":"DescribeUsageReportSubscriptionsResult"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidAccountStatusException"}
      ],
      "documentation":"<p>Retrieves a list that describes one or more usage report subscriptions.</p>"
    },
    "DescribeUserStackAssociations":{
      "name":"DescribeUserStackAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeUserStackAssociationsRequest"},
      "output":{"shape":"DescribeUserStackAssociationsResult"},
      "errors":[
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Retrieves a list that describes the UserStackAssociation objects. You must specify either or both of the following:</p> <ul> <li> <p>The stack name</p> </li> <li> <p>The user name (email address of the user associated with the stack) and the authentication type for the user</p> </li> </ul>"
    },
    "DescribeUsers":{
      "name":"DescribeUsers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeUsersRequest"},
      "output":{"shape":"DescribeUsersResult"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Retrieves a list that describes one or more specified users in the user pool.</p>"
    },
    "DisableUser":{
      "name":"DisableUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableUserRequest"},
      "output":{"shape":"DisableUserResult"},
      "errors":[
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Disables the specified user in the user pool. Users can't sign in to AppStream 2.0 until they are re-enabled. This action does not delete the user. </p>"
    },
    "DisassociateAppBlockBuilderAppBlock":{
      "name":"DisassociateAppBlockBuilderAppBlock",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateAppBlockBuilderAppBlockRequest"},
      "output":{"shape":"DisassociateAppBlockBuilderAppBlockResult"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Disassociates a specified app block builder from a specified app block.</p>"
    },
    "DisassociateApplicationFleet":{
      "name":"DisassociateApplicationFleet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateApplicationFleetRequest"},
      "output":{"shape":"DisassociateApplicationFleetResult"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Disassociates the specified application from the fleet.</p>"
    },
    "DisassociateApplicationFromEntitlement":{
      "name":"DisassociateApplicationFromEntitlement",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateApplicationFromEntitlementRequest"},
      "output":{"shape":"DisassociateApplicationFromEntitlementResult"},
      "errors":[
        {"shape":"OperationNotPermittedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"EntitlementNotFoundException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Deletes the specified application from the specified entitlement.</p>"
    },
    "DisassociateFleet":{
      "name":"DisassociateFleet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateFleetRequest"},
      "output":{"shape":"DisassociateFleetResult"},
      "errors":[
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Disassociates the specified fleet from the specified stack.</p>"
    },
    "EnableUser":{
      "name":"EnableUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableUserRequest"},
      "output":{"shape":"EnableUserResult"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidAccountStatusException"}
      ],
      "documentation":"<p>Enables a user in the user pool. After being enabled, users can sign in to AppStream 2.0 and open applications from the stacks to which they are assigned.</p>"
    },
    "ExpireSession":{
      "name":"ExpireSession",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ExpireSessionRequest"},
      "output":{"shape":"ExpireSessionResult"},
      "documentation":"<p>Immediately stops the specified streaming session.</p>"
    },
    "ListAssociatedFleets":{
      "name":"ListAssociatedFleets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAssociatedFleetsRequest"},
      "output":{"shape":"ListAssociatedFleetsResult"},
      "documentation":"<p>Retrieves the name of the fleet that is associated with the specified stack.</p>"
    },
    "ListAssociatedStacks":{
      "name":"ListAssociatedStacks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAssociatedStacksRequest"},
      "output":{"shape":"ListAssociatedStacksResult"},
      "documentation":"<p>Retrieves the name of the stack with which the specified fleet is associated.</p>"
    },
    "ListEntitledApplications":{
      "name":"ListEntitledApplications",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEntitledApplicationsRequest"},
      "output":{"shape":"ListEntitledApplicationsResult"},
      "errors":[
        {"shape":"OperationNotPermittedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"EntitlementNotFoundException"}
      ],
      "documentation":"<p>Retrieves a list of entitled applications.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves a list of all tags for the specified AppStream 2.0 resource. You can tag AppStream 2.0 image builders, images, fleets, and stacks.</p> <p>For more information about tags, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic.html\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>"
    },
    "StartAppBlockBuilder":{
      "name":"StartAppBlockBuilder",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartAppBlockBuilderRequest"},
      "output":{"shape":"StartAppBlockBuilderResult"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidAccountStatusException"},
        {"shape":"LimitExceededException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"RequestLimitExceededException"},
        {"shape":"ResourceNotAvailableException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Starts an app block builder.</p> <p>An app block builder can only be started when it's associated with an app block.</p> <p>Starting an app block builder starts a new instance, which is equivalent to an elastic fleet instance with application builder assistance functionality.</p>"
    },
    "StartFleet":{
      "name":"StartFleet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartFleetRequest"},
      "output":{"shape":"StartFleetResult"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"LimitExceededException"},
        {"shape":"RequestLimitExceededException"},
        {"shape":"InvalidAccountStatusException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ResourceNotAvailableException"},
        {"shape":"InvalidRoleException"}
      ],
      "documentation":"<p>Starts the specified fleet.</p>"
    },
    "StartImageBuilder":{
      "name":"StartImageBuilder",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartImageBuilderRequest"},
      "output":{"shape":"StartImageBuilderResult"},
      "errors":[
        {"shape":"ResourceNotAvailableException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidAccountStatusException"},
        {"shape":"IncompatibleImageException"}
      ],
      "documentation":"<p>Starts the specified image builder.</p>"
    },
    "StopAppBlockBuilder":{
      "name":"StopAppBlockBuilder",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopAppBlockBuilderRequest"},
      "output":{"shape":"StopAppBlockBuilderResult"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Stops an app block builder.</p> <p>Stopping an app block builder terminates the instance, and the instance state is not persisted.</p>"
    },
    "StopFleet":{
      "name":"StopFleet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopFleetRequest"},
      "output":{"shape":"StopFleetResult"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Stops the specified fleet.</p>"
    },
    "StopImageBuilder":{
      "name":"StopImageBuilder",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopImageBuilderRequest"},
      "output":{"shape":"StopImageBuilderResult"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Stops the specified image builder.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccountStatusException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Adds or overwrites one or more tags for the specified AppStream 2.0 resource. You can tag AppStream 2.0 image builders, images, fleets, and stacks.</p> <p>Each tag consists of a key and an optional value. If a resource already has a tag with the same key, this operation updates its value.</p> <p>To list the current tags for your resources, use <a>ListTagsForResource</a>. To disassociate tags from your resources, use <a>UntagResource</a>.</p> <p>For more information about tags, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic.html\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Disassociates one or more specified tags from the specified AppStream 2.0 resource.</p> <p>To list the current tags for your resources, use <a>ListTagsForResource</a>.</p> <p>For more information about tags, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic.html\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>"
    },
    "UpdateAppBlockBuilder":{
      "name":"UpdateAppBlockBuilder",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateAppBlockBuilderRequest"},
      "output":{"shape":"UpdateAppBlockBuilderResult"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidAccountStatusException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"InvalidRoleException"},
        {"shape":"LimitExceededException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"RequestLimitExceededException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotAvailableException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Updates an app block builder.</p> <p>If the app block builder is in the <code>STARTING</code> or <code>STOPPING</code> state, you can't update it. If the app block builder is in the <code>RUNNING</code> state, you can only update the DisplayName and Description. If the app block builder is in the <code>STOPPED</code> state, you can update any attribute except the Name.</p>"
    },
    "UpdateApplication":{
      "name":"UpdateApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateApplicationRequest"},
      "output":{"shape":"UpdateApplicationResult"},
      "errors":[
        {"shape":"OperationNotPermittedException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Updates the specified application.</p>"
    },
    "UpdateDirectoryConfig":{
      "name":"UpdateDirectoryConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDirectoryConfigRequest"},
      "output":{"shape":"UpdateDirectoryConfigResult"},
      "errors":[
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"InvalidRoleException"},
        {"shape":"IncompatibleImageException"}
      ],
      "documentation":"<p>Updates the specified Directory Config object in AppStream 2.0. This object includes the configuration information required to join fleets and image builders to Microsoft Active Directory domains.</p>"
    },
    "UpdateEntitlement":{
      "name":"UpdateEntitlement",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEntitlementRequest"},
      "output":{"shape":"UpdateEntitlementResult"},
      "errors":[
        {"shape":"OperationNotPermittedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"EntitlementNotFoundException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Updates the specified entitlement.</p>"
    },
    "UpdateFleet":{
      "name":"UpdateFleet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateFleetRequest"},
      "output":{"shape":"UpdateFleetResult"},
      "errors":[
        {"shape":"ResourceInUseException"},
        {"shape":"LimitExceededException"},
        {"shape":"RequestLimitExceededException"},
        {"shape":"InvalidAccountStatusException"},
        {"shape":"InvalidRoleException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceNotAvailableException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"IncompatibleImageException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Updates the specified fleet.</p> <p>If the fleet is in the <code>STOPPED</code> state, you can update any attribute except the fleet name.</p> <p>If the fleet is in the <code>RUNNING</code> state, you can update the following based on the fleet type:</p> <ul> <li> <p>Always-On and On-Demand fleet types</p> <p>You can update the <code>DisplayName</code>, <code>ComputeCapacity</code>, <code>ImageARN</code>, <code>ImageName</code>, <code>IdleDisconnectTimeoutInSeconds</code>, and <code>DisconnectTimeoutInSeconds</code> attributes.</p> </li> <li> <p>Elastic fleet type</p> <p>You can update the <code>DisplayName</code>, <code>IdleDisconnectTimeoutInSeconds</code>, <code>DisconnectTimeoutInSeconds</code>, <code>MaxConcurrentSessions</code>, <code>SessionScriptS3Location</code> and <code>UsbDeviceFilterStrings</code> attributes.</p> </li> </ul> <p>If the fleet is in the <code>STARTING</code> or <code>STOPPED</code> state, you can't update it.</p>"
    },
    "UpdateImagePermissions":{
      "name":"UpdateImagePermissions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateImagePermissionsRequest"},
      "output":{"shape":"UpdateImagePermissionsResult"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceNotAvailableException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Adds or updates permissions for the specified private image. </p>"
    },
    "UpdateStack":{
      "name":"UpdateStack",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateStackRequest"},
      "output":{"shape":"UpdateStackResult"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidRoleException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccountStatusException"},
        {"shape":"IncompatibleImageException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Updates the specified fields for the specified stack.</p>"
    },
    "UpdateThemeForStack":{
      "name":"UpdateThemeForStack",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateThemeForStackRequest"},
      "output":{"shape":"UpdateThemeForStackResult"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccountStatusException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Updates custom branding that customizes the appearance of the streaming application catalog page.</p>"
    }
  },
  "shapes":{
    "AccessEndpoint":{
      "type":"structure",
      "required":["EndpointType"],
      "members":{
        "EndpointType":{
          "shape":"AccessEndpointType",
          "documentation":"<p>The type of interface endpoint.</p>"
        },
        "VpceId":{
          "shape":"String",
          "documentation":"<p>The identifier (ID) of the VPC in which the interface endpoint is used.</p>"
        }
      },
      "documentation":"<p>Describes an interface VPC endpoint (interface endpoint) that lets you create a private connection between the virtual private cloud (VPC) that you specify and AppStream 2.0. When you specify an interface endpoint for a stack, users of the stack can connect to AppStream 2.0 only through that endpoint. When you specify an interface endpoint for an image builder, administrators can connect to the image builder only through that endpoint.</p>"
    },
    "AccessEndpointList":{
      "type":"list",
      "member":{"shape":"AccessEndpoint"},
      "max":4,
      "min":1
    },
    "AccessEndpointType":{
      "type":"string",
      "enum":["STREAMING"]
    },
    "AccountName":{
      "type":"string",
      "min":1,
      "sensitive":true
    },
    "AccountPassword":{
      "type":"string",
      "max":127,
      "min":1,
      "sensitive":true
    },
    "Action":{
      "type":"string",
      "enum":[
        "CLIPBOARD_COPY_FROM_LOCAL_DEVICE",
        "CLIPBOARD_COPY_TO_LOCAL_DEVICE",
        "FILE_UPLOAD",
        "FILE_DOWNLOAD",
        "PRINTING_TO_LOCAL_DEVICE",
        "DOMAIN_PASSWORD_SIGNIN",
        "DOMAIN_SMART_CARD_SIGNIN",
        "AUTO_TIME_ZONE_REDIRECTION"
      ]
    },
    "AppBlock":{
      "type":"structure",
      "required":[
        "Name",
        "Arn"
      ],
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>The name of the app block.</p>"
        },
        "Arn":{
          "shape":"Arn",
          "documentation":"<p>The ARN of the app block.</p>"
        },
        "Description":{
          "shape":"String",
          "documentation":"<p>The description of the app block.</p>"
        },
        "DisplayName":{
          "shape":"String",
          "documentation":"<p>The display name of the app block.</p>"
        },
        "SourceS3Location":{
          "shape":"S3Location",
          "documentation":"<p>The source S3 location of the app block.</p>"
        },
        "SetupScriptDetails":{
          "shape":"ScriptDetails",
          "documentation":"<p>The setup script details of the app block.</p> <p>This only applies to app blocks with PackagingType <code>CUSTOM</code>.</p>"
        },
        "CreatedTime":{
          "shape":"Timestamp",
          "documentation":"<p>The created time of the app block.</p>"
        },
        "PostSetupScriptDetails":{
          "shape":"ScriptDetails",
          "documentation":"<p>The post setup script details of the app block.</p> <p>This only applies to app blocks with PackagingType <code>APPSTREAM2</code>.</p>"
        },
        "PackagingType":{
          "shape":"PackagingType",
          "documentation":"<p>The packaging type of the app block.</p>"
        },
        "State":{
          "shape":"AppBlockState",
          "documentation":"<p>The state of the app block.</p> <p>An app block with AppStream 2.0 packaging will be in the <code>INACTIVE</code> state if no application package (VHD) is assigned to it. After an application package (VHD) is created by an app block builder for an app block, it becomes <code>ACTIVE</code>. </p> <p>Custom app blocks are always in the <code>ACTIVE</code> state and no action is required to use them.</p>"
        },
        "AppBlockErrors":{
          "shape":"ErrorDetailsList",
          "documentation":"<p>The errors of the app block.</p>"
        }
      },
      "documentation":"<p>Describes an app block.</p> <p>App blocks are an Amazon AppStream 2.0 resource that stores the details about the virtual hard disk in an S3 bucket. It also stores the setup script with details about how to mount the virtual hard disk. The virtual hard disk includes the application binaries and other files necessary to launch your applications. Multiple applications can be assigned to a single app block.</p> <p>This is only supported for Elastic fleets.</p>"
    },
    "AppBlockBuilder":{
      "type":"structure",
      "required":[
        "Arn",
        "Name",
        "Platform",
        "InstanceType",
        "VpcConfig",
        "State"
      ],
      "members":{
        "Arn":{
          "shape":"Arn",
          "documentation":"<p>The ARN of the app block builder.</p>"
        },
        "Name":{
          "shape":"String",
          "documentation":"<p>The name of the app block builder.</p>"
        },
        "DisplayName":{
          "shape":"String",
          "documentation":"<p>The display name of the app block builder.</p>"
        },
        "Description":{
          "shape":"String",
          "documentation":"<p>The description of the app block builder.</p>"
        },
        "Platform":{
          "shape":"AppBlockBuilderPlatformType",
          "documentation":"<p>The platform of the app block builder.</p> <p> <code>WINDOWS_SERVER_2019</code> is the only valid value.</p>"
        },
        "InstanceType":{
          "shape":"String",
          "documentation":"<p>The instance type of the app block builder.</p>"
        },
        "EnableDefaultInternetAccess":{
          "shape":"BooleanObject",
          "documentation":"<p>Indicates whether default internet access is enabled for the app block builder.</p>"
        },
        "IamRoleArn":{
          "shape":"Arn",
          "documentation":"<p>The ARN of the IAM role that is applied to the app block builder.</p>"
        },
        "VpcConfig":{
          "shape":"VpcConfig",
          "documentation":"<p>The VPC configuration for the app block builder.</p>"
        },
        "State":{
          "shape":"AppBlockBuilderState",
          "documentation":"<p>The state of the app block builder.</p>"
        },
        "CreatedTime":{
          "shape":"Timestamp",
          "documentation":"<p>The creation time of the app block builder.</p>"
        },
        "AppBlockBuilderErrors":{
          "shape":"ResourceErrors",
          "documentation":"<p>The app block builder errors.</p>"
        },
        "StateChangeReason":{
          "shape":"AppBlockBuilderStateChangeReason",
          "documentation":"<p>The state change reason.</p>"
        },
        "AccessEndpoints":{
          "shape":"AccessEndpointList",
          "documentation":"<p>The list of interface VPC endpoint (interface endpoint) objects. Administrators can connect to the app block builder only through the specified endpoints.</p>"
        }
      },
      "documentation":"<p>Describes an app block builder.</p>"
    },
    "AppBlockBuilderAppBlockAssociation":{
      "type":"structure",
      "required":[
        "AppBlockArn",
        "AppBlockBuilderName"
      ],
      "members":{
        "AppBlockArn":{
          "shape":"Arn",
          "documentation":"<p>The ARN of the app block.</p>"
        },
        "AppBlockBuilderName":{
          "shape":"Name",
          "documentation":"<p>The name of the app block builder.</p>"
        }
      },
      "documentation":"<p>Describes an association between an app block builder and app block.</p>"
    },
    "AppBlockBuilderAppBlockAssociationsList":{
      "type":"list",
      "member":{"shape":"AppBlockBuilderAppBlockAssociation"},
      "max":25,
      "min":1
    },
    "AppBlockBuilderAttribute":{
      "type":"string",
      "enum":[
        "IAM_ROLE_ARN",
        "ACCESS_ENDPOINTS",
        "VPC_CONFIGURATION_SECURITY_GROUP_IDS"
      ]
    },
    "AppBlockBuilderAttributes":{
      "type":"list",
      "member":{"shape":"AppBlockBuilderAttribute"}
    },
    "AppBlockBuilderList":{
      "type":"list",
      "member":{"shape":"AppBlockBuilder"}
    },
    "AppBlockBuilderPlatformType":{
      "type":"string",
      "enum":["WINDOWS_SERVER_2019"]
    },
    "AppBlockBuilderState":{
      "type":"string",
      "enum":[
        "STARTING",
        "RUNNING",
        "STOPPING",
        "STOPPED"
      ]
    },
    "AppBlockBuilderStateChangeReason":{
      "type":"structure",
      "members":{
        "Code":{
          "shape":"AppBlockBuilderStateChangeReasonCode",
          "documentation":"<p>The state change reason code.</p>"
        },
        "Message":{
          "shape":"String",
          "documentation":"<p>The state change reason message.</p>"
        }
      },
      "documentation":"<p>Describes the reason why the last app block builder state change occurred.</p>"
    },
    "AppBlockBuilderStateChangeReasonCode":{
      "type":"string",
      "enum":["INTERNAL_ERROR"]
    },
    "AppBlockState":{
      "type":"string",
      "enum":[
        "INACTIVE",
        "ACTIVE"
      ]
    },
    "AppBlocks":{
      "type":"list",
      "member":{"shape":"AppBlock"}
    },
    "AppVisibility":{
      "type":"string",
      "enum":[
        "ALL",
        "ASSOCIATED"
      ]
    },
    "Application":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>The name of the application.</p>"
        },
        "DisplayName":{
          "shape":"String",
          "documentation":"<p>The application name to display.</p>"
        },
        "IconURL":{
          "shape":"String",
          "documentation":"<p>The URL for the application icon. This URL might be time-limited.</p>"
        },
        "LaunchPath":{
          "shape":"String",
          "documentation":"<p>The path to the application executable in the instance.</p>"
        },
        "LaunchParameters":{
          "shape":"String",
          "documentation":"<p>The arguments that are passed to the application at launch.</p>"
        },
        "Enabled":{
          "shape":"Boolean",
          "documentation":"<p>If there is a problem, the application can be disabled after image creation.</p>"
        },
        "Metadata":{
          "shape":"Metadata",
          "documentation":"<p>Additional attributes that describe the application.</p>"
        },
        "WorkingDirectory":{
          "shape":"String",
          "documentation":"<p>The working directory for the application.</p>"
        },
        "Description":{
          "shape":"String",
          "documentation":"<p>The description of the application.</p>"
        },
        "Arn":{
          "shape":"Arn",
          "documentation":"<p>The ARN of the application.</p>"
        },
        "AppBlockArn":{
          "shape":"Arn",
          "documentation":"<p>The app block ARN of the application.</p>"
        },
        "IconS3Location":{
          "shape":"S3Location",
          "documentation":"<p>The S3 location of the application icon.</p>"
        },
        "Platforms":{
          "shape":"Platforms",
          "documentation":"<p>The platforms on which the application can run.</p>"
        },
        "InstanceFamilies":{
          "shape":"StringList",
          "documentation":"<p>The instance families for the application.</p>"
        },
        "CreatedTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the application was created within the app block.</p>"
        }
      },
      "documentation":"<p>Describes an application in the application catalog.</p>"
    },
    "ApplicationAttribute":{
      "type":"string",
      "enum":[
        "LAUNCH_PARAMETERS",
        "WORKING_DIRECTORY"
      ]
    },
    "ApplicationAttributes":{
      "type":"list",
      "member":{"shape":"ApplicationAttribute"},
      "max":2
    },
    "ApplicationFleetAssociation":{
      "type":"structure",
      "required":[
        "FleetName",
        "ApplicationArn"
      ],
      "members":{
        "FleetName":{
          "shape":"String",
          "documentation":"<p>The name of the fleet associated with the application.</p>"
        },
        "ApplicationArn":{
          "shape":"Arn",
          "documentation":"<p>The ARN of the application associated with the fleet.</p>"
        }
      },
      "documentation":"<p>Describes the application fleet association.</p>"
    },
    "ApplicationFleetAssociationList":{
      "type":"list",
      "member":{"shape":"ApplicationFleetAssociation"},
      "max":25,
      "min":1
    },
    "ApplicationSettings":{
      "type":"structure",
      "required":["Enabled"],
      "members":{
        "Enabled":{
          "shape":"Boolean",
          "documentation":"<p>Enables or disables persistent application settings for users during their streaming sessions. </p>"
        },
        "SettingsGroup":{
          "shape":"SettingsGroup",
          "documentation":"<p>The path prefix for the S3 bucket where users’ persistent application settings are stored. You can allow the same persistent application settings to be used across multiple stacks by specifying the same settings group for each stack. </p>"
        }
      },
      "documentation":"<p>The persistent application settings for users of a stack.</p>"
    },
    "ApplicationSettingsResponse":{
      "type":"structure",
      "members":{
        "Enabled":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether persistent application settings are enabled for users during their streaming sessions.</p>"
        },
        "SettingsGroup":{
          "shape":"SettingsGroup",
          "documentation":"<p>The path prefix for the S3 bucket where users’ persistent application settings are stored.</p>"
        },
        "S3BucketName":{
          "shape":"String",
          "documentation":"<p>The S3 bucket where users’ persistent application settings are stored. When persistent application settings are enabled for the first time for an account in an AWS Region, an S3 bucket is created. The bucket is unique to the AWS account and the Region. </p>"
        }
      },
      "documentation":"<p>Describes the persistent application settings for users of a stack.</p>"
    },
    "Applications":{
      "type":"list",
      "member":{"shape":"Application"}
    },
    "AppstreamAgentVersion":{
      "type":"string",
      "max":100,
      "min":1
    },
    "Arn":{
      "type":"string",
      "pattern":"^arn:aws(?:\\-cn|\\-iso\\-b|\\-iso|\\-us\\-gov)?:[A-Za-z0-9][A-Za-z0-9_/.-]{0,62}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-Za-z0-9:_/+=,@.\\\\-]{0,1023}$"
    },
    "ArnList":{
      "type":"list",
      "member":{"shape":"Arn"}
    },
    "AssociateAppBlockBuilderAppBlockRequest":{
      "type":"structure",
      "required":[
        "AppBlockArn",
        "AppBlockBuilderName"
      ],
      "members":{
        "AppBlockArn":{
          "shape":"Arn",
          "documentation":"<p>The ARN of the app block.</p>"
        },
        "AppBlockBuilderName":{
          "shape":"Name",
          "documentation":"<p>The name of the app block builder.</p>"
        }
      }
    },
    "AssociateAppBlockBuilderAppBlockResult":{
      "type":"structure",
      "members":{
        "AppBlockBuilderAppBlockAssociation":{
          "shape":"AppBlockBuilderAppBlockAssociation",
          "documentation":"<p>The list of app block builders associated with app blocks.</p>"
        }
      }
    },
    "AssociateApplicationFleetRequest":{
      "type":"structure",
      "required":[
        "FleetName",
        "ApplicationArn"
      ],
      "members":{
        "FleetName":{
          "shape":"Name",
          "documentation":"<p>The name of the fleet.</p>"
        },
        "ApplicationArn":{
          "shape":"Arn",
          "documentation":"<p>The ARN of the application.</p>"
        }
      }
    },
    "AssociateApplicationFleetResult":{
      "type":"structure",
      "members":{
        "ApplicationFleetAssociation":{
          "shape":"ApplicationFleetAssociation",
          "documentation":"<p>If fleet name is specified, this returns the list of applications that are associated to it. If application ARN is specified, this returns the list of fleets to which it is associated.</p>"
        }
      }
    },
    "AssociateApplicationToEntitlementRequest":{
      "type":"structure",
      "required":[
        "StackName",
        "EntitlementName",
        "ApplicationIdentifier"
      ],
      "members":{
        "StackName":{
          "shape":"Name",
          "documentation":"<p>The name of the stack.</p>"
        },
        "EntitlementName":{
          "shape":"Name",
          "documentation":"<p>The name of the entitlement.</p>"
        },
        "ApplicationIdentifier":{
          "shape":"String",
          "documentation":"<p>The identifier of the application.</p>"
        }
      }
    },
    "AssociateApplicationToEntitlementResult":{
      "type":"structure",
      "members":{}
    },
    "AssociateFleetRequest":{
      "type":"structure",
      "required":[
        "FleetName",
        "StackName"
      ],
      "members":{
        "FleetName":{
          "shape":"String",
          "documentation":"<p>The name of the fleet. </p>"
        },
        "StackName":{
          "shape":"String",
          "documentation":"<p>The name of the stack.</p>"
        }
      }
    },
    "AssociateFleetResult":{
      "type":"structure",
      "members":{}
    },
    "AuthenticationType":{
      "type":"string",
      "enum":[
        "API",
        "SAML",
        "USERPOOL",
        "AWS_AD"
      ]
    },
    "AwsAccountId":{
      "type":"string",
      "pattern":"^\\d+$"
    },
    "AwsAccountIdList":{
      "type":"list",
      "member":{"shape":"AwsAccountId"},
      "max":5,
      "min":1
    },
    "BatchAssociateUserStackRequest":{
      "type":"structure",
      "required":["UserStackAssociations"],
      "members":{
        "UserStackAssociations":{
          "shape":"UserStackAssociationList",
          "documentation":"<p>The list of UserStackAssociation objects.</p>"
        }
      }
    },
    "BatchAssociateUserStackResult":{
      "type":"structure",
      "members":{
        "errors":{
          "shape":"UserStackAssociationErrorList",
          "documentation":"<p>The list of UserStackAssociationError objects.</p>"
        }
      }
    },
    "BatchDisassociateUserStackRequest":{
      "type":"structure",
      "required":["UserStackAssociations"],
      "members":{
        "UserStackAssociations":{
          "shape":"UserStackAssociationList",
          "documentation":"<p>The list of UserStackAssociation objects.</p>"
        }
      }
    },
    "BatchDisassociateUserStackResult":{
      "type":"structure",
      "members":{
        "errors":{
          "shape":"UserStackAssociationErrorList",
          "documentation":"<p>The list of UserStackAssociationError objects.</p>"
        }
      }
    },
    "Boolean":{"type":"boolean"},
    "BooleanObject":{"type":"boolean"},
    "CertificateBasedAuthProperties":{
      "type":"structure",
      "members":{
        "Status":{
          "shape":"CertificateBasedAuthStatus",
          "documentation":"<p>The status of the certificate-based authentication properties.</p>"
        },
        "CertificateAuthorityArn":{
          "shape":"Arn",
          "documentation":"<p>The ARN of the AWS Certificate Manager Private CA resource.</p>"
        }
      },
      "documentation":"<p>The certificate-based authentication properties used to authenticate SAML 2.0 Identity Provider (IdP) user identities to Active Directory domain-joined streaming instances. Fallback is turned on by default when certificate-based authentication is <b>Enabled</b> . Fallback allows users to log in using their AD domain password if certificate-based authentication is unsuccessful, or to unlock a desktop lock screen. <b>Enabled_no_directory_login_fallback</b> enables certificate-based authentication, but does not allow users to log in using their AD domain password. Users will be disconnected to re-authenticate using certificates.</p>"
    },
    "CertificateBasedAuthStatus":{
      "type":"string",
      "enum":[
        "DISABLED",
        "ENABLED",
        "ENABLED_NO_DIRECTORY_LOGIN_FALLBACK"
      ]
    },
    "ComputeCapacity":{
      "type":"structure",
      "members":{
        "DesiredInstances":{
          "shape":"Integer",
          "documentation":"<p>The desired number of streaming instances.</p>"
        },
        "DesiredSessions":{
          "shape":"Integer",
          "documentation":"<p>The desired number of user sessions for a multi-session fleet. This is not allowed for single-session fleets.</p> <p>When you create a fleet, you must set either the DesiredSessions or DesiredInstances attribute, based on the type of fleet you create. You can’t define both attributes or leave both attributes blank.</p>"
        }
      },
      "documentation":"<p>Describes the capacity for a fleet.</p>"
    },
    "ComputeCapacityStatus":{
      "type":"structure",
      "required":["Desired"],
      "members":{
        "Desired":{
          "shape":"Integer",
          "documentation":"<p>The desired number of streaming instances.</p>"
        },
        "Running":{
          "shape":"Integer",
          "documentation":"<p>The total number of simultaneous streaming instances that are running.</p>"
        },
        "InUse":{
          "shape":"Integer",
          "documentation":"<p>The number of instances in use for streaming.</p>"
        },
        "Available":{
          "shape":"Integer",
          "documentation":"<p>The number of currently available instances that can be used to stream sessions.</p>"
        },
        "DesiredUserSessions":{
          "shape":"Integer",
          "documentation":"<p>The total number of sessions slots that are either running or pending. This represents the total number of concurrent streaming sessions your fleet can support in a steady state.</p> <p>DesiredUserSessionCapacity = ActualUserSessionCapacity + PendingUserSessionCapacity</p> <p>This only applies to multi-session fleets.</p>"
        },
        "AvailableUserSessions":{
          "shape":"Integer",
          "documentation":"<p>The number of idle session slots currently available for user sessions.</p> <p>AvailableUserSessionCapacity = ActualUserSessionCapacity - ActiveUserSessions</p> <p>This only applies to multi-session fleets.</p>"
        },
        "ActiveUserSessions":{
          "shape":"Integer",
          "documentation":"<p>The number of user sessions currently being used for streaming sessions. This only applies to multi-session fleets.</p>"
        },
        "ActualUserSessions":{
          "shape":"Integer",
          "documentation":"<p>The total number of session slots that are available for streaming or are currently streaming.</p> <p>ActualUserSessionCapacity = AvailableUserSessionCapacity + ActiveUserSessions</p> <p>This only applies to multi-session fleets.</p>"
        }
      },
      "documentation":"<p>Describes the capacity status for a fleet.</p>"
    },
    "ConcurrentModificationException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>An API error occurred. Wait a few minutes and try again.</p>",
      "exception":true
    },
    "CopyImageRequest":{
      "type":"structure",
      "required":[
        "SourceImageName",
        "DestinationImageName",
        "DestinationRegion"
      ],
      "members":{
        "SourceImageName":{
          "shape":"Name",
          "documentation":"<p>The name of the image to copy.</p>"
        },
        "DestinationImageName":{
          "shape":"Name",
          "documentation":"<p>The name that the image will have when it is copied to the destination.</p>"
        },
        "DestinationRegion":{
          "shape":"RegionName",
          "documentation":"<p>The destination region to which the image will be copied. This parameter is required, even if you are copying an image within the same region.</p>"
        },
        "DestinationImageDescription":{
          "shape":"Description",
          "documentation":"<p>The description that the image will have when it is copied to the destination.</p>"
        }
      }
    },
    "CopyImageResponse":{
      "type":"structure",
      "members":{
        "DestinationImageName":{
          "shape":"Name",
          "documentation":"<p>The name of the destination image.</p>"
        }
      }
    },
    "CreateAppBlockBuilderRequest":{
      "type":"structure",
      "required":[
        "Name",
        "Platform",
        "InstanceType",
        "VpcConfig"
      ],
      "members":{
        "Name":{
          "shape":"Name",
          "documentation":"<p>The unique name for the app block builder.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>The description of the app block builder.</p>"
        },
        "DisplayName":{
          "shape":"DisplayName",
          "documentation":"<p>The display name of the app block builder.</p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>The tags to associate with the app block builder. A tag is a key-value pair, and the value is optional. For example, Environment=Test. If you do not specify a value, Environment=. </p> <p>If you do not specify a value, the value is set to an empty string.</p> <p>Generally allowed characters are: letters, numbers, and spaces representable in UTF-8, and the following special characters: </p> <p>_ . : / = + \\ - @</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic.html\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>"
        },
        "Platform":{
          "shape":"AppBlockBuilderPlatformType",
          "documentation":"<p>The platform of the app block builder.</p> <p> <code>WINDOWS_SERVER_2019</code> is the only valid value.</p>"
        },
        "InstanceType":{
          "shape":"String",
          "documentation":"<p>The instance type to use when launching the app block builder. The following instance types are available:</p> <ul> <li> <p>stream.standard.small</p> </li> <li> <p>stream.standard.medium</p> </li> <li> <p>stream.standard.large</p> </li> <li> <p>stream.standard.xlarge</p> </li> <li> <p>stream.standard.2xlarge</p> </li> </ul>"
        },
        "VpcConfig":{
          "shape":"VpcConfig",
          "documentation":"<p>The VPC configuration for the app block builder.</p> <p>App block builders require that you specify at least two subnets in different availability zones.</p>"
        },
        "EnableDefaultInternetAccess":{
          "shape":"BooleanObject",
          "documentation":"<p>Enables or disables default internet access for the app block builder.</p>"
        },
        "IamRoleArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role to apply to the app block builder. To assume a role, the app block builder calls the AWS Security Token Service (STS) <code>AssumeRole</code> API operation and passes the ARN of the role to use. The operation creates a new session with temporary credentials. AppStream 2.0 retrieves the temporary credentials and creates the <b>appstream_machine_role</b> credential profile on the instance.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/using-iam-roles-to-grant-permissions-to-applications-scripts-streaming-instances.html\">Using an IAM Role to Grant Permissions to Applications and Scripts Running on AppStream 2.0 Streaming Instances</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>"
        },
        "AccessEndpoints":{
          "shape":"AccessEndpointList",
          "documentation":"<p>The list of interface VPC endpoint (interface endpoint) objects. Administrators can connect to the app block builder only through the specified endpoints.</p>"
        }
      }
    },
    "CreateAppBlockBuilderResult":{
      "type":"structure",
      "members":{
        "AppBlockBuilder":{"shape":"AppBlockBuilder"}
      }
    },
    "CreateAppBlockBuilderStreamingURLRequest":{
      "type":"structure",
      "required":["AppBlockBuilderName"],
      "members":{
        "AppBlockBuilderName":{
          "shape":"Name",
          "documentation":"<p>The name of the app block builder.</p>"
        },
        "Validity":{
          "shape":"Long",
          "documentation":"<p>The time that the streaming URL will be valid, in seconds. Specify a value between 1 and 604800 seconds. The default is 3600 seconds.</p>"
        }
      }
    },
    "CreateAppBlockBuilderStreamingURLResult":{
      "type":"structure",
      "members":{
        "StreamingURL":{
          "shape":"String",
          "documentation":"<p>The URL to start the streaming session.</p>"
        },
        "Expires":{
          "shape":"Timestamp",
          "documentation":"<p>The elapsed time, in seconds after the Unix epoch, when this URL expires.</p>"
        }
      }
    },
    "CreateAppBlockRequest":{
      "type":"structure",
      "required":[
        "Name",
        "SourceS3Location"
      ],
      "members":{
        "Name":{
          "shape":"Name",
          "documentation":"<p>The name of the app block.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>The description of the app block.</p>"
        },
        "DisplayName":{
          "shape":"DisplayName",
          "documentation":"<p>The display name of the app block. This is not displayed to the user.</p>"
        },
        "SourceS3Location":{
          "shape":"S3Location",
          "documentation":"<p>The source S3 location of the app block.</p>"
        },
        "SetupScriptDetails":{
          "shape":"ScriptDetails",
          "documentation":"<p>The setup script details of the app block. This must be provided for the <code>CUSTOM</code> PackagingType.</p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>The tags assigned to the app block.</p>"
        },
        "PostSetupScriptDetails":{
          "shape":"ScriptDetails",
          "documentation":"<p>The post setup script details of the app block. This can only be provided for the <code>APPSTREAM2</code> PackagingType.</p>"
        },
        "PackagingType":{
          "shape":"PackagingType",
          "documentation":"<p>The packaging type of the app block.</p>"
        }
      }
    },
    "CreateAppBlockResult":{
      "type":"structure",
      "members":{
        "AppBlock":{
          "shape":"AppBlock",
          "documentation":"<p>The app block.</p>"
        }
      }
    },
    "CreateApplicationRequest":{
      "type":"structure",
      "required":[
        "Name",
        "IconS3Location",
        "LaunchPath",
        "Platforms",
        "InstanceFamilies",
        "AppBlockArn"
      ],
      "members":{
        "Name":{
          "shape":"Name",
          "documentation":"<p>The name of the application. This name is visible to users when display name is not specified.</p>"
        },
        "DisplayName":{
          "shape":"DisplayName",
          "documentation":"<p>The display name of the application. This name is visible to users in the application catalog.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>The description of the application.</p>"
        },
        "IconS3Location":{
          "shape":"S3Location",
          "documentation":"<p>The location in S3 of the application icon.</p>"
        },
        "LaunchPath":{
          "shape":"String",
          "documentation":"<p>The launch path of the application.</p>"
        },
        "WorkingDirectory":{
          "shape":"String",
          "documentation":"<p>The working directory of the application.</p>"
        },
        "LaunchParameters":{
          "shape":"String",
          "documentation":"<p>The launch parameters of the application.</p>"
        },
        "Platforms":{
          "shape":"Platforms",
          "documentation":"<p>The platforms the application supports. WINDOWS_SERVER_2019 and AMAZON_LINUX2 are supported for Elastic fleets.</p>"
        },
        "InstanceFamilies":{
          "shape":"StringList",
          "documentation":"<p>The instance families the application supports. Valid values are GENERAL_PURPOSE and GRAPHICS_G4.</p>"
        },
        "AppBlockArn":{
          "shape":"Arn",
          "documentation":"<p>The app block ARN to which the application should be associated</p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>The tags assigned to the application.</p>"
        }
      }
    },
    "CreateApplicationResult":{
      "type":"structure",
      "members":{
        "Application":{"shape":"Application"}
      }
    },
    "CreateDirectoryConfigRequest":{
      "type":"structure",
      "required":[
        "DirectoryName",
        "OrganizationalUnitDistinguishedNames"
      ],
      "members":{
        "DirectoryName":{
          "shape":"DirectoryName",
          "documentation":"<p>The fully qualified name of the directory (for example, corp.example.com).</p>"
        },
        "OrganizationalUnitDistinguishedNames":{
          "shape":"OrganizationalUnitDistinguishedNamesList",
          "documentation":"<p>The distinguished names of the organizational units for computer accounts.</p>"
        },
        "ServiceAccountCredentials":{
          "shape":"ServiceAccountCredentials",
          "documentation":"<p>The credentials for the service account used by the fleet or image builder to connect to the directory.</p>"
        },
        "CertificateBasedAuthProperties":{
          "shape":"CertificateBasedAuthProperties",
          "documentation":"<p>The certificate-based authentication properties used to authenticate SAML 2.0 Identity Provider (IdP) user identities to Active Directory domain-joined streaming instances. Fallback is turned on by default when certificate-based authentication is <b>Enabled</b> . Fallback allows users to log in using their AD domain password if certificate-based authentication is unsuccessful, or to unlock a desktop lock screen. <b>Enabled_no_directory_login_fallback</b> enables certificate-based authentication, but does not allow users to log in using their AD domain password. Users will be disconnected to re-authenticate using certificates.</p>"
        }
      }
    },
    "CreateDirectoryConfigResult":{
      "type":"structure",
      "members":{
        "DirectoryConfig":{
          "shape":"DirectoryConfig",
          "documentation":"<p>Information about the directory configuration.</p>"
        }
      }
    },
    "CreateEntitlementRequest":{
      "type":"structure",
      "required":[
        "Name",
        "StackName",
        "AppVisibility",
        "Attributes"
      ],
      "members":{
        "Name":{
          "shape":"Name",
          "documentation":"<p>The name of the entitlement.</p>"
        },
        "StackName":{
          "shape":"Name",
          "documentation":"<p>The name of the stack with which the entitlement is associated.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>The description of the entitlement.</p>"
        },
        "AppVisibility":{
          "shape":"AppVisibility",
          "documentation":"<p>Specifies whether all or selected apps are entitled.</p>"
        },
        "Attributes":{
          "shape":"EntitlementAttributeList",
          "documentation":"<p>The attributes of the entitlement.</p>"
        }
      }
    },
    "CreateEntitlementResult":{
      "type":"structure",
      "members":{
        "Entitlement":{
          "shape":"Entitlement",
          "documentation":"<p>The entitlement.</p>"
        }
      }
    },
    "CreateFleetRequest":{
      "type":"structure",
      "required":[
        "Name",
        "InstanceType"
      ],
      "members":{
        "Name":{
          "shape":"Name",
          "documentation":"<p>A unique name for the fleet.</p>"
        },
        "ImageName":{
          "shape":"Name",
          "documentation":"<p>The name of the image used to create the fleet.</p>"
        },
        "ImageArn":{
          "shape":"Arn",
          "documentation":"<p>The ARN of the public, private, or shared image to use.</p>"
        },
        "InstanceType":{
          "shape":"String",
          "documentation":"<p>The instance type to use when launching fleet instances. The following instance types are available:</p> <ul> <li> <p>stream.standard.small</p> </li> <li> <p>stream.standard.medium</p> </li> <li> <p>stream.standard.large</p> </li> <li> <p>stream.standard.xlarge</p> </li> <li> <p>stream.standard.2xlarge</p> </li> <li> <p>stream.compute.large</p> </li> <li> <p>stream.compute.xlarge</p> </li> <li> <p>stream.compute.2xlarge</p> </li> <li> <p>stream.compute.4xlarge</p> </li> <li> <p>stream.compute.8xlarge</p> </li> <li> <p>stream.memory.large</p> </li> <li> <p>stream.memory.xlarge</p> </li> <li> <p>stream.memory.2xlarge</p> </li> <li> <p>stream.memory.4xlarge</p> </li> <li> <p>stream.memory.8xlarge</p> </li> <li> <p>stream.memory.z1d.large</p> </li> <li> <p>stream.memory.z1d.xlarge</p> </li> <li> <p>stream.memory.z1d.2xlarge</p> </li> <li> <p>stream.memory.z1d.3xlarge</p> </li> <li> <p>stream.memory.z1d.6xlarge</p> </li> <li> <p>stream.memory.z1d.12xlarge</p> </li> <li> <p>stream.graphics-design.large</p> </li> <li> <p>stream.graphics-design.xlarge</p> </li> <li> <p>stream.graphics-design.2xlarge</p> </li> <li> <p>stream.graphics-design.4xlarge</p> </li> <li> <p>stream.graphics-desktop.2xlarge</p> </li> <li> <p>stream.graphics.g4dn.xlarge</p> </li> <li> <p>stream.graphics.g4dn.2xlarge</p> </li> <li> <p>stream.graphics.g4dn.4xlarge</p> </li> <li> <p>stream.graphics.g4dn.8xlarge</p> </li> <li> <p>stream.graphics.g4dn.12xlarge</p> </li> <li> <p>stream.graphics.g4dn.16xlarge</p> </li> <li> <p>stream.graphics.g5.xlarge</p> </li> <li> <p>stream.graphics.g5.2xlarge</p> </li> <li> <p>stream.graphics.g5.4xlarge</p> </li> <li> <p>stream.graphics.g5.8xlarge</p> </li> <li> <p>stream.graphics.g5.12xlarge</p> </li> <li> <p>stream.graphics.g5.16xlarge</p> </li> <li> <p>stream.graphics.g5.24xlarge</p> </li> <li> <p>stream.graphics-pro.4xlarge</p> </li> <li> <p>stream.graphics-pro.8xlarge</p> </li> <li> <p>stream.graphics-pro.16xlarge</p> </li> <li> <p>stream.graphics.g6.xlarge</p> </li> <li> <p>stream.graphics.g6.2xlarge</p> </li> <li> <p>stream.graphics.g6.4xlarge</p> </li> <li> <p>stream.graphics.g6.8xlarge</p> </li> <li> <p>stream.graphics.g6.16xlarge</p> </li> <li> <p>stream.graphics.g6.12xlarge</p> </li> <li> <p>stream.graphics.g6.24xlarge</p> </li> <li> <p>stream.graphics.gr6.4xlarge</p> </li> <li> <p>stream.graphics.gr6.8xlarge</p> </li> </ul> <p>The following instance types are available for Elastic fleets:</p> <ul> <li> <p>stream.standard.small</p> </li> <li> <p>stream.standard.medium</p> </li> <li> <p>stream.standard.large</p> </li> <li> <p>stream.standard.xlarge</p> </li> <li> <p>stream.standard.2xlarge</p> </li> </ul>"
        },
        "FleetType":{
          "shape":"FleetType",
          "documentation":"<p>The fleet type.</p> <dl> <dt>ALWAYS_ON</dt> <dd> <p>Provides users with instant-on access to their apps. You are charged for all running instances in your fleet, even if no users are streaming apps.</p> </dd> <dt>ON_DEMAND</dt> <dd> <p>Provide users with access to applications after they connect, which takes one to two minutes. You are charged for instance streaming when users are connected and a small hourly fee for instances that are not streaming apps.</p> </dd> </dl>"
        },
        "ComputeCapacity":{
          "shape":"ComputeCapacity",
          "documentation":"<p>The desired capacity for the fleet. This is not allowed for Elastic fleets. For Elastic fleets, specify MaxConcurrentSessions instead.</p>"
        },
        "VpcConfig":{
          "shape":"VpcConfig",
          "documentation":"<p>The VPC configuration for the fleet. This is required for Elastic fleets, but not required for other fleet types. Elastic fleets require that you specify at least two subnets in different availability zones.</p>"
        },
        "MaxUserDurationInSeconds":{
          "shape":"Integer",
          "documentation":"<p>The maximum amount of time that a streaming session can remain active, in seconds. If users are still connected to a streaming instance five minutes before this limit is reached, they are prompted to save any open documents before being disconnected. After this time elapses, the instance is terminated and replaced by a new instance.</p> <p>Specify a value between 600 and 432000.</p>"
        },
        "DisconnectTimeoutInSeconds":{
          "shape":"Integer",
          "documentation":"<p>The amount of time that a streaming session remains active after users disconnect. If users try to reconnect to the streaming session after a disconnection or network interruption within this time interval, they are connected to their previous session. Otherwise, they are connected to a new session with a new streaming instance. </p> <p>Specify a value between 60 and 36000.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>The description to display.</p>"
        },
        "DisplayName":{
          "shape":"DisplayName",
          "documentation":"<p>The fleet name to display.</p>"
        },
        "EnableDefaultInternetAccess":{
          "shape":"BooleanObject",
          "documentation":"<p>Enables or disables default internet access for the fleet.</p>"
        },
        "DomainJoinInfo":{
          "shape":"DomainJoinInfo",
          "documentation":"<p>The name of the directory and organizational unit (OU) to use to join the fleet to a Microsoft Active Directory domain. This is not allowed for Elastic fleets. </p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>The tags to associate with the fleet. A tag is a key-value pair, and the value is optional. For example, Environment=Test. If you do not specify a value, Environment=. </p> <p>If you do not specify a value, the value is set to an empty string.</p> <p>Generally allowed characters are: letters, numbers, and spaces representable in UTF-8, and the following special characters: </p> <p>_ . : / = + \\ - @</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic.html\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>"
        },
        "IdleDisconnectTimeoutInSeconds":{
          "shape":"Integer",
          "documentation":"<p>The amount of time that users can be idle (inactive) before they are disconnected from their streaming session and the <code>DisconnectTimeoutInSeconds</code> time interval begins. Users are notified before they are disconnected due to inactivity. If they try to reconnect to the streaming session before the time interval specified in <code>DisconnectTimeoutInSeconds</code> elapses, they are connected to their previous session. Users are considered idle when they stop providing keyboard or mouse input during their streaming session. File uploads and downloads, audio in, audio out, and pixels changing do not qualify as user activity. If users continue to be idle after the time interval in <code>IdleDisconnectTimeoutInSeconds</code> elapses, they are disconnected.</p> <p>To prevent users from being disconnected due to inactivity, specify a value of 0. Otherwise, specify a value between 60 and 36000. The default value is 0.</p> <note> <p>If you enable this feature, we recommend that you specify a value that corresponds exactly to a whole number of minutes (for example, 60, 120, and 180). If you don't do this, the value is rounded to the nearest minute. For example, if you specify a value of 70, users are disconnected after 1 minute of inactivity. If you specify a value that is at the midpoint between two different minutes, the value is rounded up. For example, if you specify a value of 90, users are disconnected after 2 minutes of inactivity. </p> </note>"
        },
        "IamRoleArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role to apply to the fleet. To assume a role, a fleet instance calls the AWS Security Token Service (STS) <code>AssumeRole</code> API operation and passes the ARN of the role to use. The operation creates a new session with temporary credentials. AppStream 2.0 retrieves the temporary credentials and creates the <b>appstream_machine_role</b> credential profile on the instance.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/using-iam-roles-to-grant-permissions-to-applications-scripts-streaming-instances.html\">Using an IAM Role to Grant Permissions to Applications and Scripts Running on AppStream 2.0 Streaming Instances</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>"
        },
        "StreamView":{
          "shape":"StreamView",
          "documentation":"<p>The AppStream 2.0 view that is displayed to your users when they stream from the fleet. When <code>APP</code> is specified, only the windows of applications opened by users display. When <code>DESKTOP</code> is specified, the standard desktop that is provided by the operating system displays.</p> <p>The default value is <code>APP</code>.</p>"
        },
        "Platform":{
          "shape":"PlatformType",
          "documentation":"<p>The fleet platform. WINDOWS_SERVER_2019 and AMAZON_LINUX2 are supported for Elastic fleets. </p>"
        },
        "MaxConcurrentSessions":{
          "shape":"Integer",
          "documentation":"<p>The maximum concurrent sessions of the Elastic fleet. This is required for Elastic fleets, and not allowed for other fleet types.</p>"
        },
        "UsbDeviceFilterStrings":{
          "shape":"UsbDeviceFilterStrings",
          "documentation":"<p>The USB device filter strings that specify which USB devices a user can redirect to the fleet streaming session, when using the Windows native client. This is allowed but not required for Elastic fleets.</p>"
        },
        "SessionScriptS3Location":{
          "shape":"S3Location",
          "documentation":"<p>The S3 location of the session scripts configuration zip file. This only applies to Elastic fleets.</p>"
        },
        "MaxSessionsPerInstance":{
          "shape":"Integer",
          "documentation":"<p>The maximum number of user sessions on an instance. This only applies to multi-session fleets.</p>"
        }
      }
    },
    "CreateFleetResult":{
      "type":"structure",
      "members":{
        "Fleet":{
          "shape":"Fleet",
          "documentation":"<p>Information about the fleet.</p>"
        }
      }
    },
    "CreateImageBuilderRequest":{
      "type":"structure",
      "required":[
        "Name",
        "InstanceType"
      ],
      "members":{
        "Name":{
          "shape":"Name",
          "documentation":"<p>A unique name for the image builder.</p>"
        },
        "ImageName":{
          "shape":"String",
          "documentation":"<p>The name of the image used to create the image builder.</p>"
        },
        "ImageArn":{
          "shape":"Arn",
          "documentation":"<p>The ARN of the public, private, or shared image to use.</p>"
        },
        "InstanceType":{
          "shape":"String",
[...]
