{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2024-08-20",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"odb",
    "jsonVersion":"1.0",
    "protocol":"json",
    "protocols":["json"],
    "serviceFullName":"odb",
    "serviceId":"odb",
    "signatureVersion":"v4",
    "signingName":"odb",
    "targetPrefix":"Odb",
    "uid":"odb-2024-08-20"
  },
  "operations":{
    "AcceptMarketplaceRegistration":{
      "name":"AcceptMarketplaceRegistration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AcceptMarketplaceRegistrationInput"},
      "output":{"shape":"AcceptMarketplaceRegistrationOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Registers the Amazon Web Services Marketplace token for your Amazon Web Services account to activate your Oracle Database@Amazon Web Services subscription.</p>",
      "idempotent":true
    },
    "CreateCloudAutonomousVmCluster":{
      "name":"CreateCloudAutonomousVmCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCloudAutonomousVmClusterInput"},
      "output":{"shape":"CreateCloudAutonomousVmClusterOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Creates a new Autonomous VM cluster in the specified Exadata infrastructure.</p>",
      "idempotent":true
    },
    "CreateCloudExadataInfrastructure":{
      "name":"CreateCloudExadataInfrastructure",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCloudExadataInfrastructureInput"},
      "output":{"shape":"CreateCloudExadataInfrastructureOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates an Exadata infrastructure.</p>",
      "idempotent":true
    },
    "CreateCloudVmCluster":{
      "name":"CreateCloudVmCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCloudVmClusterInput"},
      "output":{"shape":"CreateCloudVmClusterOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Creates a VM cluster on the specified Exadata infrastructure.</p>",
      "idempotent":true
    },
    "CreateOdbNetwork":{
      "name":"CreateOdbNetwork",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateOdbNetworkInput"},
      "output":{"shape":"CreateOdbNetworkOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates an ODB network.</p>",
      "idempotent":true
    },
    "CreateOdbPeeringConnection":{
      "name":"CreateOdbPeeringConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateOdbPeeringConnectionInput"},
      "output":{"shape":"CreateOdbPeeringConnectionOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Creates a peering connection between an ODB network and either another ODB network or a customer-owned VPC.</p> <p>A peering connection enables private connectivity between the networks for application-tier communication.</p>",
      "idempotent":true
    },
    "DeleteCloudAutonomousVmCluster":{
      "name":"DeleteCloudAutonomousVmCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCloudAutonomousVmClusterInput"},
      "output":{"shape":"DeleteCloudAutonomousVmClusterOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes an Autonomous VM cluster.</p>",
      "idempotent":true
    },
    "DeleteCloudExadataInfrastructure":{
      "name":"DeleteCloudExadataInfrastructure",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCloudExadataInfrastructureInput"},
      "output":{"shape":"DeleteCloudExadataInfrastructureOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes the specified Exadata infrastructure. Before you use this operation, make sure to delete all of the VM clusters that are hosted on this Exadata infrastructure.</p>",
      "idempotent":true
    },
    "DeleteCloudVmCluster":{
      "name":"DeleteCloudVmCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCloudVmClusterInput"},
      "output":{"shape":"DeleteCloudVmClusterOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes the specified VM cluster.</p>",
      "idempotent":true
    },
    "DeleteOdbNetwork":{
      "name":"DeleteOdbNetwork",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteOdbNetworkInput"},
      "output":{"shape":"DeleteOdbNetworkOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes the specified ODB network.</p>",
      "idempotent":true
    },
    "DeleteOdbPeeringConnection":{
      "name":"DeleteOdbPeeringConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteOdbPeeringConnectionInput"},
      "output":{"shape":"DeleteOdbPeeringConnectionOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes an ODB peering connection.</p> <p>When you delete an ODB peering connection, the underlying VPC peering connection is also deleted.</p>",
      "idempotent":true
    },
    "GetCloudAutonomousVmCluster":{
      "name":"GetCloudAutonomousVmCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCloudAutonomousVmClusterInput"},
      "output":{"shape":"GetCloudAutonomousVmClusterOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets information about a specific Autonomous VM cluster.</p>"
    },
    "GetCloudExadataInfrastructure":{
      "name":"GetCloudExadataInfrastructure",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCloudExadataInfrastructureInput"},
      "output":{"shape":"GetCloudExadataInfrastructureOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns information about the specified Exadata infrastructure.</p>"
    },
    "GetCloudExadataInfrastructureUnallocatedResources":{
      "name":"GetCloudExadataInfrastructureUnallocatedResources",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCloudExadataInfrastructureUnallocatedResourcesInput"},
      "output":{"shape":"GetCloudExadataInfrastructureUnallocatedResourcesOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves information about unallocated resources in a specified Cloud Exadata Infrastructure.</p>"
    },
    "GetCloudVmCluster":{
      "name":"GetCloudVmCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCloudVmClusterInput"},
      "output":{"shape":"GetCloudVmClusterOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns information about the specified VM cluster.</p>"
    },
    "GetDbNode":{
      "name":"GetDbNode",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDbNodeInput"},
      "output":{"shape":"GetDbNodeOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns information about the specified DB node.</p>"
    },
    "GetDbServer":{
      "name":"GetDbServer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDbServerInput"},
      "output":{"shape":"GetDbServerOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns information about the specified database server.</p>"
    },
    "GetOciOnboardingStatus":{
      "name":"GetOciOnboardingStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetOciOnboardingStatusInput"},
      "output":{"shape":"GetOciOnboardingStatusOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns the tenancy activation link and onboarding status for your Amazon Web Services account.</p>"
    },
    "GetOdbNetwork":{
      "name":"GetOdbNetwork",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetOdbNetworkInput"},
      "output":{"shape":"GetOdbNetworkOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns information about the specified ODB network.</p>"
    },
    "GetOdbPeeringConnection":{
      "name":"GetOdbPeeringConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetOdbPeeringConnectionInput"},
      "output":{"shape":"GetOdbPeeringConnectionOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves information about an ODB peering connection.</p>"
    },
    "InitializeService":{
      "name":"InitializeService",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"InitializeServiceInput"},
      "output":{"shape":"InitializeServiceOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Initializes the ODB service for the first time in an account.</p>",
      "idempotent":true
    },
    "ListAutonomousVirtualMachines":{
      "name":"ListAutonomousVirtualMachines",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAutonomousVirtualMachinesInput"},
      "output":{"shape":"ListAutonomousVirtualMachinesOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists all Autonomous VMs in an Autonomous VM cluster.</p>"
    },
    "ListCloudAutonomousVmClusters":{
      "name":"ListCloudAutonomousVmClusters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCloudAutonomousVmClustersInput"},
      "output":{"shape":"ListCloudAutonomousVmClustersOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists all Autonomous VM clusters in a specified Cloud Exadata infrastructure.</p>"
    },
    "ListCloudExadataInfrastructures":{
      "name":"ListCloudExadataInfrastructures",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCloudExadataInfrastructuresInput"},
      "output":{"shape":"ListCloudExadataInfrastructuresOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns information about the Exadata infrastructures owned by your Amazon Web Services account.</p>"
    },
    "ListCloudVmClusters":{
      "name":"ListCloudVmClusters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCloudVmClustersInput"},
      "output":{"shape":"ListCloudVmClustersOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns information about the VM clusters owned by your Amazon Web Services account or only the ones on the specified Exadata infrastructure.</p>"
    },
    "ListDbNodes":{
      "name":"ListDbNodes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDbNodesInput"},
      "output":{"shape":"ListDbNodesOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns information about the DB nodes for the specified VM cluster.</p>"
    },
    "ListDbServers":{
      "name":"ListDbServers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDbServersInput"},
      "output":{"shape":"ListDbServersOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns information about the database servers that belong to the specified Exadata infrastructure.</p>"
    },
    "ListDbSystemShapes":{
      "name":"ListDbSystemShapes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDbSystemShapesInput"},
      "output":{"shape":"ListDbSystemShapesOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns information about the shapes that are available for an Exadata infrastructure.</p>"
    },
    "ListGiVersions":{
      "name":"ListGiVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListGiVersionsInput"},
      "output":{"shape":"ListGiVersionsOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns information about Oracle Grid Infrastructure (GI) software versions that are available for a VM cluster for the specified shape.</p>"
    },
    "ListOdbNetworks":{
      "name":"ListOdbNetworks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListOdbNetworksInput"},
      "output":{"shape":"ListOdbNetworksOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns information about the ODB networks owned by your Amazon Web Services account.</p>"
    },
    "ListOdbPeeringConnections":{
      "name":"ListOdbPeeringConnections",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListOdbPeeringConnectionsInput"},
      "output":{"shape":"ListOdbPeeringConnectionsOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists all ODB peering connections or those associated with a specific ODB network.</p>"
    },
    "ListSystemVersions":{
      "name":"ListSystemVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSystemVersionsInput"},
      "output":{"shape":"ListSystemVersionsOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns information about the system versions that are available for a VM cluster for the specified <code>giVersion</code> and <code>shape</code>.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns information about the tags applied to this resource.</p>"
    },
    "RebootDbNode":{
      "name":"RebootDbNode",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RebootDbNodeInput"},
      "output":{"shape":"RebootDbNodeOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Reboots the specified DB node in a VM cluster.</p>"
    },
    "StartDbNode":{
      "name":"StartDbNode",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartDbNodeInput"},
      "output":{"shape":"StartDbNodeOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Starts the specified DB node in a VM cluster.</p>"
    },
    "StopDbNode":{
      "name":"StopDbNode",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopDbNodeInput"},
      "output":{"shape":"StopDbNodeOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Stops the specified DB node in a VM cluster.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Applies tags to the specified resource.</p>",
      "idempotent":true
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Removes tags from the specified resource.</p>",
      "idempotent":true
    },
    "UpdateCloudExadataInfrastructure":{
      "name":"UpdateCloudExadataInfrastructure",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateCloudExadataInfrastructureInput"},
      "output":{"shape":"UpdateCloudExadataInfrastructureOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Updates the properties of an Exadata infrastructure resource.</p>"
    },
    "UpdateOdbNetwork":{
      "name":"UpdateOdbNetwork",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateOdbNetworkInput"},
      "output":{"shape":"UpdateOdbNetworkOutput"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Updates properties of a specified ODB network.</p>"
    }
  },
  "shapes":{
    "AcceptMarketplaceRegistrationInput":{
      "type":"structure",
      "required":["marketplaceRegistrationToken"],
      "members":{
        "marketplaceRegistrationToken":{
          "shape":"String",
          "documentation":"<p>The registration token that's generated by Amazon Web Services Marketplace and sent to Oracle Database@Amazon Web Services.</p>"
        }
      }
    },
    "AcceptMarketplaceRegistrationOutput":{
      "type":"structure",
      "members":{}
    },
    "Access":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>You don't have sufficient access to perform this action. Make sure you have the required permissions and try again.</p>",
      "exception":true
    },
    "AutonomousVirtualMachineList":{
      "type":"list",
      "member":{"shape":"AutonomousVirtualMachineSummary"}
    },
    "AutonomousVirtualMachineSummary":{
      "type":"structure",
      "members":{
        "autonomousVirtualMachineId":{
          "shape":"ResourceId",
          "documentation":"<p>The unique identifier of the Autonomous VM.</p>"
        },
        "status":{
          "shape":"ResourceStatus",
          "documentation":"<p>The current status of the Autonomous VM.</p>"
        },
        "statusReason":{
          "shape":"String",
          "documentation":"<p>Additional information about the current status of the Autonomous VM, if applicable.</p>"
        },
        "vmName":{
          "shape":"String",
          "documentation":"<p>The name of the Autonomous VM.</p>"
        },
        "dbServerId":{
          "shape":"ResourceId",
          "documentation":"<p>The unique identifier of the database server hosting this Autonomous VM.</p>"
        },
        "dbServerDisplayName":{
          "shape":"String",
          "documentation":"<p>The display name of the database server hosting this Autonomous VM.</p>"
        },
        "cpuCoreCount":{
          "shape":"Integer",
          "documentation":"<p>The number of CPU cores allocated to this Autonomous VM.</p>"
        },
        "memorySizeInGBs":{
          "shape":"Integer",
          "documentation":"<p>The amount of memory allocated to this Autonomous VM, in gigabytes (GB).</p>"
        },
        "dbNodeStorageSizeInGBs":{
          "shape":"Integer",
          "documentation":"<p>The amount of storage allocated to this Autonomous Virtual Machine, in gigabytes (GB).</p>"
        },
        "clientIpAddress":{
          "shape":"String",
          "documentation":"<p>The IP address used by clients to connect to this Autonomous VM.</p>"
        },
        "cloudAutonomousVmClusterId":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the Autonomous VM cluster containing this Autonomous VM.</p>"
        },
        "ocid":{
          "shape":"String",
          "documentation":"<p>The Oracle Cloud Identifier (OCID) of the Autonomous VM.</p>"
        },
        "ociResourceAnchorName":{
          "shape":"String",
          "documentation":"<p>The name of the Oracle Cloud Infrastructure (OCI) resource anchor associated with this Autonomous VM.</p>"
        }
      },
      "documentation":"<p>A summary of an Autonomous Virtual Machine (VM) within an Autonomous VM cluster.</p>"
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "CloudAutonomousVmCluster":{
      "type":"structure",
      "required":["cloudAutonomousVmClusterId"],
      "members":{
        "cloudAutonomousVmClusterId":{
          "shape":"ResourceId",
          "documentation":"<p>The unique identifier of the Autonomous VM cluster.</p>"
        },
        "cloudAutonomousVmClusterArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) for the Autonomous VM cluster.</p>"
        },
        "odbNetworkId":{
          "shape":"ResourceIdOrArn",
          "documentation":"<p>The unique identifier of the ODB network associated with this Autonomous VM cluster.</p>"
        },
        "ociResourceAnchorName":{
          "shape":"String",
          "documentation":"<p>The name of the OCI resource anchor associated with this Autonomous VM cluster.</p>"
        },
        "percentProgress":{
          "shape":"Float",
          "documentation":"<p>The progress of the current operation on the Autonomous VM cluster, as a percentage.</p>"
        },
        "displayName":{
          "shape":"ResourceDisplayName",
          "documentation":"<p>The display name of the Autonomous VM cluster.</p>"
        },
        "status":{
          "shape":"ResourceStatus",
          "documentation":"<p>The current state of the Autonomous VM cluster. Possible values include <code>CREATING</code>, <code>AVAILABLE</code>, <code>UPDATING</code>, <code>DELETING</code>, <code>DELETED</code>, <code>FAILED</code>.</p>"
        },
        "statusReason":{
          "shape":"String",
          "documentation":"<p>Additional information about the current status of the Autonomous VM cluster.</p>"
        },
        "cloudExadataInfrastructureId":{
          "shape":"ResourceIdOrArn",
          "documentation":"<p>The unique identifier of the Cloud Exadata Infrastructure containing this Autonomous VM cluster.</p>"
        },
        "autonomousDataStoragePercentage":{
          "shape":"Float",
          "documentation":"<p>The percentage of data storage currently in use for Autonomous Databases in the Autonomous VM cluster.</p>"
        },
        "autonomousDataStorageSizeInTBs":{
          "shape":"Double",
          "documentation":"<p>The data storage size allocated for Autonomous Databases in the Autonomous VM cluster, in TB.</p>"
        },
        "availableAutonomousDataStorageSizeInTBs":{
          "shape":"Double",
          "documentation":"<p>The available data storage space for Autonomous Databases in the Autonomous VM cluster, in TB.</p>"
        },
        "availableContainerDatabases":{
          "shape":"Integer",
          "documentation":"<p>The number of Autonomous CDBs that you can create with the currently available storage.</p>"
        },
        "availableCpus":{
          "shape":"Float",
          "documentation":"<p>The number of CPU cores available for allocation to Autonomous Databases.</p>"
        },
        "computeModel":{
          "shape":"ComputeModel",
          "documentation":"<p>The compute model of the Autonomous VM cluster: ECPU or OCPU.</p>"
        },
        "cpuCoreCount":{
          "shape":"Integer",
          "documentation":"<p>The total number of CPU cores in the Autonomous VM cluster.</p>"
        },
        "cpuCoreCountPerNode":{
          "shape":"Integer",
          "documentation":"<p>The number of CPU cores enabled per node in the Autonomous VM cluster.</p>"
        },
        "cpuPercentage":{
          "shape":"Float",
          "documentation":"<p>The percentage of total CPU cores currently in use in the Autonomous VM cluster.</p>"
        },
        "dataStorageSizeInGBs":{
          "shape":"Double",
          "documentation":"<p>The total data storage allocated to the Autonomous VM cluster, in GB.</p>"
        },
        "dataStorageSizeInTBs":{
          "shape":"Double",
          "documentation":"<p>The total data storage allocated to the Autonomous VM cluster, in TB.</p>"
        },
        "dbNodeStorageSizeInGBs":{
          "shape":"Integer",
          "documentation":"<p>The local node storage allocated to the Autonomous VM cluster, in gigabytes (GB).</p>"
        },
        "dbServers":{
          "shape":"StringList",
          "documentation":"<p>The list of database servers associated with the Autonomous VM cluster.</p>"
        },
        "description":{
          "shape":"String",
          "documentation":"<p>The user-provided description of the Autonomous VM cluster.</p>"
        },
        "domain":{
          "shape":"String",
          "documentation":"<p>The domain name for the Autonomous VM cluster.</p>"
        },
        "exadataStorageInTBsLowestScaledValue":{
          "shape":"Double",
          "documentation":"<p>The minimum value to which you can scale down the Exadata storage, in TB.</p>"
        },
        "hostname":{
          "shape":"String",
          "documentation":"<p>The hostname for the Autonomous VM cluster.</p>"
        },
        "ocid":{
          "shape":"String",
          "documentation":"<p>The Oracle Cloud Identifier (OCID) of the Autonomous VM cluster.</p>"
        },
        "ociUrl":{
          "shape":"String",
          "documentation":"<p>The URL for accessing the OCI console page for this Autonomous VM cluster.</p>"
        },
        "isMtlsEnabledVmCluster":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether mutual TLS (mTLS) authentication is enabled for the Autonomous VM cluster.</p>"
        },
        "licenseModel":{
          "shape":"LicenseModel",
          "documentation":"<p>The Oracle license model that applies to the Autonomous VM cluster. Valid values are <code>LICENSE_INCLUDED</code> or <code>BRING_YOUR_OWN_LICENSE</code>.</p>"
        },
        "maintenanceWindow":{
          "shape":"MaintenanceWindow",
          "documentation":"<p>The scheduling details for the maintenance window. Patching and system updates take place during the maintenance window.</p>"
        },
        "maxAcdsLowestScaledValue":{
          "shape":"Integer",
          "documentation":"<p>The minimum value to which you can scale down the maximum number of Autonomous CDBs.</p>"
        },
        "memoryPerOracleComputeUnitInGBs":{
          "shape":"Integer",
          "documentation":"<p>The amount of memory allocated per Oracle Compute Unit, in GB.</p>"
        },
        "memorySizeInGBs":{
          "shape":"Integer",
          "documentation":"<p>The total amount of memory allocated to the Autonomous VM cluster, in gigabytes (GB).</p>"
        },
        "nodeCount":{
          "shape":"Integer",
          "documentation":"<p>The number of database server nodes in the Autonomous VM cluster.</p>"
        },
        "nonProvisionableAutonomousContainerDatabases":{
          "shape":"Integer",
          "documentation":"<p>The number of Autonomous CDBs that can't be provisioned because of resource constraints.</p>"
        },
        "provisionableAutonomousContainerDatabases":{
          "shape":"Integer",
          "documentation":"<p>The number of Autonomous CDBs that can be provisioned in the Autonomous VM cluster.</p>"
        },
        "provisionedAutonomousContainerDatabases":{
          "shape":"Integer",
          "documentation":"<p>The number of Autonomous CDBs currently provisioned in the Autonomous VM cluster.</p>"
        },
        "provisionedCpus":{
          "shape":"Float",
          "documentation":"<p>The number of CPU cores currently provisioned in the Autonomous VM cluster.</p>"
        },
        "reclaimableCpus":{
          "shape":"Float",
          "documentation":"<p>The number of CPU cores that can be reclaimed from terminated or scaled-down Autonomous Databases.</p>"
        },
        "reservedCpus":{
          "shape":"Float",
          "documentation":"<p>The number of CPU cores reserved for system operations and redundancy.</p>"
        },
        "scanListenerPortNonTls":{
          "shape":"Integer",
          "documentation":"<p>The SCAN listener port for non-TLS (TCP) protocol. The default is 1521.</p>"
        },
        "scanListenerPortTls":{
          "shape":"Integer",
          "documentation":"<p>The SCAN listener port for TLS (TCP) protocol. The default is 2484.</p>"
        },
        "shape":{
          "shape":"String",
          "documentation":"<p>The shape of the Exadata infrastructure for the Autonomous VM cluster.</p>"
        },
        "createdAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The date and time when the Autonomous VM cluster was created.</p>"
        },
        "timeDatabaseSslCertificateExpires":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The expiration date and time of the database SSL certificate.</p>"
        },
        "timeOrdsCertificateExpires":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The expiration date and time of the Oracle REST Data Services (ORDS) certificate.</p>"
        },
        "timeZone":{
          "shape":"String",
          "documentation":"<p>The time zone of the Autonomous VM cluster.</p>"
        },
        "totalContainerDatabases":{
          "shape":"Integer",
          "documentation":"<p>The total number of Autonomous Container Databases that can be created with the allocated local storage.</p>"
        }
      },
      "documentation":"<p>Information about an Autonomous VM cluster resource.</p>"
    },
    "CloudAutonomousVmClusterList":{
      "type":"list",
      "member":{"shape":"CloudAutonomousVmClusterSummary"}
    },
    "CloudAutonomousVmClusterResourceDetails":{
      "type":"structure",
      "members":{
        "cloudAutonomousVmClusterId":{
          "shape":"ResourceId",
          "documentation":"<p>The unique identifier of the Autonomous VM cluster.</p>"
        },
        "unallocatedAdbStorageInTBs":{
          "shape":"Double",
          "documentation":"<p>The amount of unallocated Autonomous Database storage in the Autonomous VM cluster, in terabytes.</p>"
        }
      },
      "documentation":"<p>Resource details of an Autonomous VM cluster.</p>"
    },
    "CloudAutonomousVmClusterResourceDetailsList":{
      "type":"list",
      "member":{"shape":"CloudAutonomousVmClusterResourceDetails"}
    },
    "CloudAutonomousVmClusterSummary":{
      "type":"structure",
      "required":["cloudAutonomousVmClusterId"],
      "members":{
        "cloudAutonomousVmClusterId":{
          "shape":"ResourceId",
          "documentation":"<p>The unique identifier of the Autonomous VM cluster.</p>"
        },
        "cloudAutonomousVmClusterArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) for the Autonomous VM cluster.</p>"
        },
        "odbNetworkId":{
          "shape":"ResourceIdOrArn",
          "documentation":"<p>The unique identifier of the ODB network associated with this Autonomous VM cluster.</p>"
        },
        "ociResourceAnchorName":{
          "shape":"String",
          "documentation":"<p>The name of the OCI resource anchor associated with this Autonomous VM cluster.</p>"
        },
        "percentProgress":{
          "shape":"Float",
          "documentation":"<p>The progress of the current operation on the Autonomous VM cluster, as a percentage.</p>"
        },
        "displayName":{
          "shape":"ResourceDisplayName",
          "documentation":"<p>The user-friendly name for the Autonomous VM cluster.</p>"
        },
        "status":{
          "shape":"ResourceStatus",
          "documentation":"<p>The current status of the Autonomous VM cluster.</p>"
        },
        "statusReason":{
          "shape":"String",
          "documentation":"<p>Additional information about the current status of the Autonomous VM cluster, if applicable.</p>"
        },
        "cloudExadataInfrastructureId":{
          "shape":"ResourceIdOrArn",
          "documentation":"<p>The unique identifier of the Exadata infrastructure containing this Autonomous VM cluster.</p>"
        },
        "autonomousDataStoragePercentage":{
          "shape":"Float",
          "documentation":"<p>The percentage of data storage currently in use for Autonomous Databases in the Autonomous VM cluster.</p>"
        },
        "autonomousDataStorageSizeInTBs":{
          "shape":"Double",
          "documentation":"<p>The total data storage allocated for Autonomous Databases in the Autonomous VM cluster, in TB.</p>"
        },
        "availableAutonomousDataStorageSizeInTBs":{
          "shape":"Double",
          "documentation":"<p>The available data storage for Autonomous Databases in the Autonomous VM cluster, in TB.</p>"
        },
        "availableContainerDatabases":{
          "shape":"Integer",
          "documentation":"<p>The number of Autonomous Container Databases that you can create with the currently available storage.</p>"
        },
        "availableCpus":{
          "shape":"Float",
          "documentation":"<p>The number of CPU cores available for allocation to Autonomous Databases.</p>"
        },
        "computeModel":{
          "shape":"ComputeModel",
          "documentation":"<p>The compute model of the Autonomous VM cluster: ECPU or OCPU.</p>"
        },
        "cpuCoreCount":{
          "shape":"Integer",
          "documentation":"<p>The total number of CPU cores in the Autonomous VM cluster.</p>"
        },
        "cpuCoreCountPerNode":{
          "shape":"Integer",
          "documentation":"<p>The number of CPU cores per node in the Autonomous VM cluster.</p>"
        },
        "cpuPercentage":{
          "shape":"Float",
          "documentation":"<p>The percentage of total CPU cores currently in use in the Autonomous VM cluster.</p>"
        },
        "dataStorageSizeInGBs":{
          "shape":"Double",
          "documentation":"<p>The total data storage allocated to the Autonomous VM cluster, in GB.</p>"
        },
        "dataStorageSizeInTBs":{
          "shape":"Double",
          "documentation":"<p>The total data storage allocated to the Autonomous VM cluster, in TB.</p>"
        },
        "dbNodeStorageSizeInGBs":{
          "shape":"Integer",
          "documentation":"<p>The local node storage allocated to the Autonomous VM cluster, in GB.</p>"
        },
        "dbServers":{
          "shape":"StringList",
          "documentation":"<p>The list of database servers associated with the Autonomous VM cluster.</p>"
        },
        "description":{
          "shape":"String",
          "documentation":"<p>The user-provided description of the Autonomous VM cluster.</p>"
        },
        "domain":{
          "shape":"String",
          "documentation":"<p>The domain name for the Autonomous VM cluster.</p>"
        },
        "exadataStorageInTBsLowestScaledValue":{
          "shape":"Double",
          "documentation":"<p>The lowest value to which Exadata storage can be scaled down, in TB.</p>"
        },
        "hostname":{
          "shape":"String",
          "documentation":"<p>The host name for the Autonomous VM cluster.</p>"
        },
        "ocid":{
          "shape":"String",
          "documentation":"<p>The Oracle Cloud Identifier (OCID) of the Autonomous VM cluster.</p>"
        },
        "ociUrl":{
          "shape":"String",
          "documentation":"<p>The URL for accessing the OCI console page for this Autonomous VM cluster.</p>"
        },
        "isMtlsEnabledVmCluster":{
          "shape":"Boolean",
          "documentation":"<p>Indicates if mutual TLS (mTLS) authentication is enabled for the Autonomous VM cluster.</p>"
        },
        "licenseModel":{
          "shape":"LicenseModel",
          "documentation":"<p>The Oracle license model that applies to the Autonomous VM cluster.</p>"
        },
        "maintenanceWindow":{
          "shape":"MaintenanceWindow",
          "documentation":"<p>The scheduling details for the maintenance window. Patching and system updates take place during the maintenance window.</p>"
        },
        "maxAcdsLowestScaledValue":{
          "shape":"Integer",
          "documentation":"<p>The lowest value to which you can scale down the maximum number of Autonomous CDBs.</p>"
        },
        "memoryPerOracleComputeUnitInGBs":{
          "shape":"Integer",
          "documentation":"<p>The amount of memory allocated per Oracle Compute Unit (OCU), in GB.</p>"
        },
        "memorySizeInGBs":{
          "shape":"Integer",
          "documentation":"<p>The total amount of memory allocated to the Autonomous VM cluster, in GB.</p>"
        },
        "nodeCount":{
          "shape":"Integer",
          "documentation":"<p>The number of database server nodes in the Autonomous VM cluster.</p>"
        },
        "nonProvisionableAutonomousContainerDatabases":{
          "shape":"Integer",
          "documentation":"<p>The number of Autonomous CDBs that can't be provisioned because of resource constraints.</p>"
        },
        "provisionableAutonomousContainerDatabases":{
          "shape":"Integer",
          "documentation":"<p>The number of Autonomous CDBs that you can provision in the Autonomous VM cluster.</p>"
        },
        "provisionedAutonomousContainerDatabases":{
          "shape":"Integer",
          "documentation":"<p>The number of Autonomous Container Databases currently provisioned in the Autonomous VM cluster.</p>"
        },
        "provisionedCpus":{
          "shape":"Float",
          "documentation":"<p>The number of CPUs currently provisioned in the Autonomous VM cluster.</p>"
        },
        "reclaimableCpus":{
          "shape":"Float",
          "documentation":"<p>The number of CPUs that can be reclaimed from terminated or scaled-down Autonomous Databases.</p>"
        },
        "reservedCpus":{
          "shape":"Float",
          "documentation":"<p>The number of CPUs reserved for system operations and redundancy.</p>"
        },
        "scanListenerPortNonTls":{
          "shape":"Integer",
          "documentation":"<p>The SCAN listener port for non-TLS (TCP) protocol.</p>"
        },
        "scanListenerPortTls":{
          "shape":"Integer",
          "documentation":"<p>The SCAN listener port for TLS (TCP) protocol.</p>"
        },
        "shape":{
          "shape":"String",
          "documentation":"<p>The shape of the Exadata infrastructure for the Autonomous VM cluster.</p>"
        },
        "createdAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The date and time when the Autonomous VM cluster was created.</p>"
        },
        "timeDatabaseSslCertificateExpires":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The expiration date and time of the database SSL certificate.</p>"
        },
        "timeOrdsCertificateExpires":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The expiration date and time of the Oracle REST Data Services (ORDS) certificate.</p>"
        },
        "timeZone":{
          "shape":"String",
          "documentation":"<p>The time zone of the Autonomous VM cluster.</p>"
        },
        "totalContainerDatabases":{
          "shape":"Integer",
          "documentation":"<p>The total number of Autonomous Container Databases that can be created in the Autonomous VM cluster.</p>"
        }
      },
      "documentation":"<p>A summary of an Autonomous VM cluster.</p>"
    },
    "CloudExadataInfrastructure":{
      "type":"structure",
      "required":["cloudExadataInfrastructureId"],
      "members":{
        "cloudExadataInfrastructureId":{
          "shape":"ResourceIdOrArn",
          "documentation":"<p>The unique identifier for the Exadata infrastructure.</p>"
        },
        "displayName":{
          "shape":"String",
          "documentation":"<p>The user-friendly name for the Exadata infrastructure.</p>"
        },
        "status":{
          "shape":"ResourceStatus",
          "documentation":"<p>The current status of the Exadata infrastructure.</p>"
        },
        "statusReason":{
          "shape":"String",
          "documentation":"<p>Additional information about the status of the Exadata infrastructure.</p>"
        },
        "cloudExadataInfrastructureArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) for the Exadata infrastructure.</p>"
        },
        "activatedStorageCount":{
          "shape":"Integer",
          "documentation":"<p>The number of storage servers requested for the Exadata infrastructure.</p>"
        },
        "additionalStorageCount":{
          "shape":"Integer",
          "documentation":"<p>The number of storage servers requested for the Exadata infrastructure.</p>"
        },
        "availableStorageSizeInGBs":{
          "shape":"Integer",
          "documentation":"<p>The amount of available storage, in gigabytes (GB), for the Exadata infrastructure.</p>"
        },
        "availabilityZone":{
          "shape":"String",
          "documentation":"<p>The name of the Availability Zone (AZ) where the Exadata infrastructure is located.</p>"
        },
        "availabilityZoneId":{
          "shape":"String",
          "documentation":"<p>The AZ ID of the AZ where the Exadata infrastructure is located.</p>"
        },
        "computeCount":{
          "shape":"Integer",
          "documentation":"<p>The number of database servers for the Exadata infrastructure.</p>"
        },
        "cpuCount":{
          "shape":"Integer",
          "documentation":"<p>The total number of CPU cores that are allocated to the Exadata infrastructure.</p>"
        },
        "customerContactsToSendToOCI":{
          "shape":"CustomerContacts",
          "documentation":"<p>The email addresses of contacts to receive notification from Oracle about maintenance updates for the Exadata infrastructure.</p>"
        },
        "dataStorageSizeInTBs":{
          "shape":"Double",
          "documentation":"<p>The size of the Exadata infrastructure's data disk group, in terabytes (TB).</p>"
        },
        "dbNodeStorageSizeInGBs":{
          "shape":"Integer",
          "documentation":"<p>The size of the Exadata infrastructure's local node storage, in gigabytes (GB).</p>"
        },
        "dbServerVersion":{
          "shape":"String",
          "documentation":"<p>The software version of the database servers (dom0) in the Exadata infrastructure.</p>"
        },
        "lastMaintenanceRunId":{
          "shape":"String",
          "documentation":"<p>The Oracle Cloud Identifier (OCID) of the last maintenance run for the Exadata infrastructure.</p>"
        },
        "maintenanceWindow":{
          "shape":"MaintenanceWindow",
          "documentation":"<p>The scheduling details for the maintenance window. Patching and system updates take place during the maintenance window.</p>"
        },
        "maxCpuCount":{
          "shape":"Integer",
          "documentation":"<p>The total number of CPU cores available on the Exadata infrastructure.</p>"
        },
        "maxDataStorageInTBs":{
          "shape":"Double",
          "documentation":"<p>The total amount of data disk group storage, in terabytes (TB), that's available on the Exadata infrastructure.</p>"
        },
        "maxDbNodeStorageSizeInGBs":{
          "shape":"Integer",
          "documentation":"<p>The total amount of local node storage, in gigabytes (GB), that's available on the Exadata infrastructure.</p>"
        },
        "maxMemoryInGBs":{
          "shape":"Integer",
          "documentation":"<p>The total amount of memory, in gigabytes (GB), that's available on the Exadata infrastructure.</p>"
        },
        "memorySizeInGBs":{
          "shape":"Integer",
          "documentation":"<p>The amount of memory, in gigabytes (GB), that's allocated on the Exadata infrastructure.</p>"
        },
        "monthlyDbServerVersion":{
          "shape":"String",
          "documentation":"<p>The monthly software version of the database servers installed on the Exadata infrastructure.</p>"
        },
        "monthlyStorageServerVersion":{
          "shape":"String",
          "documentation":"<p>The monthly software version of the storage servers installed on the Exadata infrastructure.</p>"
        },
        "nextMaintenanceRunId":{
          "shape":"String",
          "documentation":"<p>The OCID of the next maintenance run for the Exadata infrastructure.</p>"
        },
        "ociResourceAnchorName":{
          "shape":"String",
          "documentation":"<p>The name of the OCI resource anchor for the Exadata infrastructure.</p>"
        },
        "ociUrl":{
          "shape":"String",
          "documentation":"<p>The HTTPS link to the Exadata infrastructure in OCI.</p>"
        },
        "ocid":{
          "shape":"String",
          "documentation":"<p>The OCID of the Exadata infrastructure.</p>"
        },
        "shape":{
          "shape":"String",
          "documentation":"<p>The model name of the Exadata infrastructure.</p>"
        },
        "storageCount":{
          "shape":"Integer",
          "documentation":"<p>The number of storage servers that are activated for the Exadata infrastructure.</p>"
        },
        "storageServerVersion":{
          "shape":"String",
          "documentation":"<p>The software version of the storage servers on the Exadata infrastructure.</p>"
        },
        "createdAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The date and time when the Exadata infrastructure was created.</p>"
        },
        "totalStorageSizeInGBs":{
          "shape":"Integer",
          "documentation":"<p>The total amount of storage, in gigabytes (GB), on the the Exadata infrastructure.</p>"
        },
        "percentProgress":{
          "shape":"Float",
          "documentation":"<p>The amount of progress made on the current operation on the Exadata infrastructure, expressed as a percentage.</p>"
        },
        "databaseServerType":{
          "shape":"String",
          "documentation":"<p>The database server model type of the Exadata infrastructure. For the list of valid model names, use the <code>ListDbSystemShapes</code> operation.</p>"
        },
        "storageServerType":{
          "shape":"String",
          "documentation":"<p>The storage server model type of the Exadata infrastructure. For the list of valid model names, use the <code>ListDbSystemShapes</code> operation.</p>"
        },
        "computeModel":{
          "shape":"ComputeModel",
          "documentation":"<p>The OCI model compute model used when you create or clone an instance: ECPU or OCPU. An ECPU is an abstracted measure of compute resources. ECPUs are based on the number of cores elastically allocated from a pool of compute and storage servers. An OCPU is a legacy physical measure of compute resources. OCPUs are based on the physical core of a processor with hyper-threading enabled. </p>"
        }
      },
      "documentation":"<p>Information about an Exadata infrastructure.</p>"
    },
    "CloudExadataInfrastructureList":{
      "type":"list",
      "member":{"shape":"CloudExadataInfrastructureSummary"}
    },
    "CloudExadataInfrastructureSummary":{
      "type":"structure",
      "required":["cloudExadataInfrastructureId"],
      "members":{
        "cloudExadataInfrastructureId":{
          "shape":"ResourceIdOrArn",
          "documentation":"<p>The unique identifier for the Exadata infrastructure.</p>"
        },
        "displayName":{
          "shape":"String",
          "documentation":"<p>The user-friendly name for the Exadata infrastructure.</p>"
        },
        "status":{
          "shape":"ResourceStatus",
          "documentation":"<p>The current status of the Exadata infrastructure.</p>"
        },
        "statusReason":{
          "shape":"String",
          "documentation":"<p>Additional information about the status of the Exadata infrastructure.</p>"
        },
        "cloudExadataInfrastructureArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) for the Exadata infrastructure.</p>"
        },
        "activatedStorageCount":{
          "shape":"Integer",
          "documentation":"<p>The number of storage servers requested for the Exadata infrastructure.</p>"
        },
        "additionalStorageCount":{
          "shape":"Integer",
          "documentation":"<p>The number of storage servers requested for the Exadata infrastructure.</p>"
        },
        "availableStorageSizeInGBs":{
          "shape":"Integer",
          "documentation":"<p>The amount of available storage, in gigabytes (GB), for the Exadata infrastructure.</p>"
        },
        "availabilityZone":{
          "shape":"String",
          "documentation":"<p>The name of the Availability Zone (AZ) where the Exadata infrastructure is located.</p>"
        },
        "availabilityZoneId":{
          "shape":"String",
          "documentation":"<p>The AZ ID of the AZ where the Exadata infrastructure is located.</p>"
        },
        "computeCount":{
          "shape":"Integer",
          "documentation":"<p>The number of database servers for the Exadata infrastructure.</p>"
        },
        "cpuCount":{
          "shape":"Integer",
          "documentation":"<p>The total number of CPU cores that are allocated to the Exadata infrastructure.</p>"
        },
        "customerContactsToSendToOCI":{
          "shape":"CustomerContacts",
          "documentation":"<p>The email addresses of contacts to receive notification from Oracle about maintenance updates for the Exadata infrastructure.</p>"
        },
        "dataStorageSizeInTBs":{
          "shape":"Double",
          "documentation":"<p>The size of the Exadata infrastructure's data disk group, in terabytes (TB).</p>"
        },
        "dbNodeStorageSizeInGBs":{
          "shape":"Integer",
          "documentation":"<p>The size of the Exadata infrastructure's local node storage, in gigabytes (GB).</p>"
        },
        "dbServerVersion":{
          "shape":"String",
          "documentation":"<p>The software version of the database servers on the Exadata infrastructure.</p>"
        },
        "lastMaintenanceRunId":{
          "shape":"String",
          "documentation":"<p>The Oracle Cloud Identifier (OCID) of the last maintenance run for the Exadata infrastructure.</p>"
        },
        "maintenanceWindow":{
          "shape":"MaintenanceWindow",
          "documentation":"<p>The scheduling details for the maintenance window. Patching and system updates take place during the maintenance window.</p>"
        },
        "maxCpuCount":{
          "shape":"Integer",
          "documentation":"<p>The total number of CPU cores available on the Exadata infrastructure.</p>"
        },
        "maxDataStorageInTBs":{
          "shape":"Double",
          "documentation":"<p>The total amount of data disk group storage, in terabytes (TB), that's available on the Exadata infrastructure.</p>"
        },
        "maxDbNodeStorageSizeInGBs":{
          "shape":"Integer",
          "documentation":"<p>The total amount of local node storage, in gigabytes (GB), that's available on the Exadata infrastructure.</p>"
        },
        "maxMemoryInGBs":{
          "shape":"Integer",
          "documentation":"<p>The total amount of memory, in gigabytes (GB), that's available on the Exadata infrastructure.</p>"
        },
        "memorySizeInGBs":{
          "shape":"Integer",
          "documentation":"<p>The amount of memory, in gigabytes (GB), that's allocated on the Exadata infrastructure.</p>"
        },
        "monthlyDbServerVersion":{
          "shape":"String",
          "documentation":"<p>The monthly software version of the database servers (dom0) installed on the Exadata infrastructure.</p>"
        },
        "monthlyStorageServerVersion":{
          "shape":"String",
          "documentation":"<p>The monthly software version of the storage servers installed on the Exadata infrastructure.</p>"
        },
        "nextMaintenanceRunId":{
          "shape":"String",
          "documentation":"<p>The OCID of the next maintenance run for the Exadata infrastructure.</p>"
        },
        "ociResourceAnchorName":{
          "shape":"String",
          "documentation":"<p>The name of the OCI resource anchor for the Exadata infrastructure.</p>"
        },
        "ociUrl":{
          "shape":"String",
          "documentation":"<p>The HTTPS link to the Exadata infrastructure in OCI.</p>"
        },
        "ocid":{
          "shape":"String",
          "documentation":"<p>The OCID of the Exadata infrastructure.</p>"
        },
        "shape":{
          "shape":"String",
          "documentation":"<p>The model name of the Exadata infrastructure.</p>"
        },
        "storageCount":{
          "shape":"Integer",
          "documentation":"<p>The number of storage servers that are activated for the Exadata infrastructure.</p>"
        },
        "storageServerVersion":{
          "shape":"String",
          "documentation":"<p>The software version of the storage servers on the Exadata infrastructure.</p>"
        },
        "createdAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The date and time when the Exadata infrastructure was created.</p>"
        },
        "totalStorageSizeInGBs":{
          "shape":"Integer",
          "documentation":"<p>The total amount of storage, in gigabytes (GB), on the the Exadata infrastructure.</p>"
        },
        "percentProgress":{
          "shape":"Float",
          "documentation":"<p>The amount of progress made on the current operation on the Exadata infrastructure, expressed as a percentage.</p>"
        },
        "databaseServerType":{
          "shape":"String",
          "documentation":"<p>The database server model type of the Exadata infrastructure. For the list of valid model names, use the <code>ListDbSystemShapes</code> operation.</p>"
        },
        "storageServerType":{
          "shape":"String",
          "documentation":"<p>The storage server model type of the Exadata infrastructure. For the list of valid model names, use the <code>ListDbSystemShapes</code> operation.</p>"
        },
        "computeModel":{
          "shape":"ComputeModel",
          "documentation":"<p>The OCI model compute model used when you create or clone an instance: ECPU or OCPU. An ECPU is an abstracted measure of compute resources. ECPUs are based on the number of cores elastically allocated from a pool of compute and storage servers. An OCPU is a legacy physical measure of compute resources. OCPUs are based on the physical core of a processor with hyper-threading enabled. </p>"
        }
      },
      "documentation":"<p>Information about an Exadata infrastructure.</p>"
    },
    "CloudExadataInfrastructureUnallocatedResources":{
      "type":"structure",
      "members":{
        "cloudAutonomousVmClusters":{
          "shape":"CloudAutonomousVmClusterResourceDetailsList",
          "documentation":"<p>A list of Autonomous VM clusters associated with this Cloud Exadata Infrastructure.</p>"
        },
        "cloudExadataInfrastructureDisplayName":{
          "shape":"String",
          "documentation":"<p>The display name of the Cloud Exadata infrastructure.</p>"
        },
        "exadataStorageInTBs":{
          "shape":"Double",
          "documentation":"<p>The amount of unallocated Exadata storage available, in terabytes (TB).</p>"
        },
        "cloudExadataInfrastructureId":{
          "shape":"ResourceIdOrArn",
          "documentation":"<p>The unique identifier of the Cloud Exadata infrastructure.</p>"
        },
        "localStorageInGBs":{
          "shape":"Integer",
          "documentation":"<p>The amount of unallocated local storage available, in gigabytes (GB).</p>"
        },
        "memoryInGBs":{
          "shape":"Integer",
          "documentation":"<p>The amount of unallocated memory available, in gigabytes (GB).</p>"
        },
        "ocpus":{
          "shape":"Integer",
          "documentation":"<p>The number of unallocated Oracle CPU Units (OCPUs) available.</p>"
        }
      },
      "documentation":"<p>Information about unallocated resources in the Cloud Exadata infrastructure.</p>"
    },
    "CloudVmCluster":{
      "type":"structure",
      "required":["cloudVmClusterId"],
      "members":{
        "cloudVmClusterId":{
          "shape":"ResourceId",
          "documentation":"<p>The unique identifier of the VM cluster.</p>"
        },
        "displayName":{
          "shape":"String",
          "documentation":"<p>The user-friendly name for the VM cluster.</p>"
        },
        "status":{
          "shape":"ResourceStatus",
          "documentation":"<p>The current status of the VM cluster.</p>"
        },
        "statusReason":{
          "shape":"String",
          "documentation":"<p>Additional information about the status of the VM cluster.</p>"
        },
        "cloudVmClusterArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the VM cluster.</p>"
        },
        "cloudExadataInfrastructureId":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the Exadata infrastructure that this VM cluster belongs to.</p>"
        },
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of the Grid Infrastructure (GI) cluster.</p>"
        },
        "cpuCoreCount":{
          "shape":"Integer",
          "documentation":"<p>The number of CPU cores enabled on the VM cluster.</p>"
        },
        "dataCollectionOptions":{
          "shape":"DataCollectionOptions",
          "documentation":"<p>The set of diagnostic collection options enabled for the VM cluster.</p>"
        },
        "dataStorageSizeInTBs":{
          "shape":"Double",
          "documentation":"<p>The size of the data disk group, in terabytes (TB), that's allocated for the VM cluster.</p>"
        },
        "dbNodeStorageSizeInGBs":{
          "shape":"Integer",
          "documentation":"<p>The amount of local node storage, in gigabytes (GB), that's allocated for the VM cluster.</p>"
        },
        "dbServers":{
          "shape":"StringList",
          "documentation":"<p>The list of database servers for the VM cluster.</p>"
        },
        "diskRedundancy":{
          "shape":"DiskRedundancy",
          "documentation":"<p>The type of redundancy configured for the VM cluster. <code>NORMAL</code> is 2-way redundancy. <code>HIGH</code> is 3-way redundancy.</p>"
        },
        "giVersion":{
          "shape":"String",
          "documentation":"<p>The software version of the Oracle Grid Infrastructure (GI) for the VM cluster.</p>"
        },
        "hostname":{
          "shape":"String",
          "documentation":"<p>The host name for the VM cluster.</p>"
        },
        "iormConfigCache":{
          "shape":"ExadataIormConfig",
          "documentation":"<p>The ExadataIormConfig cache details for the VM cluster.</p>"
        },
        "isLocalBackupEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether database backups to local Exadata storage is enabled for the VM cluster.</p>"
        },
        "isSparseDiskgroupEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the VM cluster is configured with a sparse disk group.</p>"
        },
        "lastUpdateHistoryEntryId":{
          "shape":"String",
          "documentation":"<p>The Oracle Cloud ID (OCID) of the last maintenance update history entry.</p>"
        },
        "licenseModel":{
          "shape":"LicenseModel",
          "documentation":"<p>The Oracle license model applied to the VM cluster.</p>"
        },
        "listenerPort":{
          "shape":"Integer",
          "documentation":"<p>The port number configured for the listener on the VM cluster.</p>"
        },
        "memorySizeInGBs":{
          "shape":"Integer",
          "documentation":"<p>The amount of memory, in gigabytes (GB), that's allocated for the VM cluster.</p>"
        },
        "nodeCount":{
          "shape":"Integer",
          "documentation":"<p>The number of nodes in the VM cluster.</p>"
        },
        "ocid":{
          "shape":"String",
          "documentation":"<p>The OCID of the VM cluster.</p>"
        },
        "ociResourceAnchorName":{
          "shape":"String",
          "documentation":"<p>The name of the OCI resource anchor for the VM cluster.</p>"
        },
        "ociUrl":{
          "shape":"String",
          "documentation":"<p>The HTTPS link to the VM cluster in OCI.</p>"
        },
        "domain":{
          "shape":"String",
          "documentation":"<p>The domain of the VM cluster.</p>"
        },
        "scanDnsName":{
          "shape":"String",
          "documentation":"<p>The FQDN of the DNS record for the Single Client Access Name (SCAN) IP addresses that are associated with the VM cluster.</p>"
        },
        "scanDnsRecordId":{
          "shape":"String",
          "documentation":"<p>The OCID of the DNS record for the SCAN IP addresses that are associated with the VM cluster.</p>"
        },
        "scanIpIds":{
          "shape":"StringList",
          "documentation":"<p>The OCID of the SCAN IP addresses that are associated with the VM cluster.</p>"
        },
        "shape":{
          "shape":"String",
          "documentation":"<p>The hardware model name of the Exadata infrastructure that's running the VM cluster.</p>"
        },
        "sshPublicKeys":{
          "shape":"SensitiveStringList",
          "documentation":"<p>The public key portion of one or more key pairs used for SSH access to the VM cluster.</p>"
        },
        "storageSizeInGBs":{
          "shape":"Integer",
          "documentation":"<p>The amount of local node storage, in gigabytes (GB), that's allocated to the VM cluster.</p>"
        },
        "systemVersion":{
          "shape":"String",
          "documentation":"<p>The operating system version of the image chosen for the VM cluster.</p>"
        },
        "createdAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The date and time when the VM cluster was created.</p>"
        },
        "timeZone":{
          "shape":"String",
          "documentation":"<p>The time zone of the VM cluster.</p>"
        },
        "vipIds":{
          "shape":"StringList",
          "documentation":"<p>The virtual IP (VIP) addresses that are associated with the VM cluster. Oracle's Cluster Ready Services (CRS) creates and maintains one VIP address for each node in the VM cluster to enable failover. If one node fails, the VIP is reassigned to another active node in the cluster.</p>"
        },
        "odbNetworkId":{
          "shape":"ResourceIdOrArn",
          "documentation":"<p>The unique identifier of the ODB network for the VM cluster.</p>"
        },
        "percentProgress":{
          "shape":"Float",
          "documentation":"<p>The amount of progress made on the current operation on the VM cluster, expressed as a percentage.</p>"
        },
        "computeModel":{
          "shape":"ComputeModel",
          "documentation":"<p>The OCI model compute model used when you create or clone an instance: ECPU or OCPU. An ECPU is an abstracted measure of compute resources. ECPUs are based on the number of cores elastically allocated from a pool of compute and storage servers. An OCPU is a legacy physical measure of compute resources. OCPUs are based on the physical core of a processor with hyper-threading enabled. </p>"
        }
      },
      "documentation":"<p>Information about a VM cluster.</p>"
    },
    "CloudVmClusterList":{
      "type":"list",
      "member":{"shape":"CloudVmClusterSummary"}
    },
    "CloudVmClusterSummary":{
      "type":"structure",
      "required":["cloudVmClusterId"],
      "members":{
        "cloudVmClusterId":{
          "shape":"ResourceId",
          "documentation":"<p>The unique identifier of the VM cluster.</p>"
        },
        "displayName":{
          "shape":"String",
          "documentation":"<p>The user-friendly name for the VM cluster.</p>"
        },
        "status":{
          "shape":"ResourceStatus",
          "documentation":"<p>The current status of the VM cluster.</p>"
        },
        "statusReason":{
          "shape":"String",
          "documentation":"<p>Additional information about the status of the VM cluster.</p>"
        },
        "cloudVmClusterArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the VM cluster.</p>"
        },
        "cloudExadataInfrastructureId":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the Exadata infrastructure that this VM cluster belongs to.</p>"
        },
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of the Grid Infrastructure (GI) cluster.</p>"
        },
        "cpuCoreCount":{
          "shape":"Integer",
          "documentation":"<p>The number of CPU cores enabled on the VM cluster.</p>"
        },
        "dataCollectionOptions":{"shape":"DataCollectionOptions"},
        "dataStorageSizeInTBs":{
          "shape":"Double",
          "documentation":"<p>The size of the data disk group, in terabytes (TB), that's allocated for the VM cluster.</p>"
        },
        "dbNodeStorageSizeInGBs":{
          "shape":"Integer",
          "documentation":"<p>The amount of local node storage, in gigabytes (GB), that's allocated for the VM cluster.</p>"
        },
        "dbServers":{
          "shape":"StringList",
          "documentation":"<p>The list of database servers for the VM cluster.</p>"
        },
        "diskRedundancy":{
          "shape":"DiskRedundancy",
          "documentation":"<p>The type of redundancy configured for the VM cluster. <code>NORMAL</code> is 2-way redundancy. <code>HIGH</code> is 3-way redundancy.</p>"
        },
        "giVersion":{
          "shape":"String",
          "documentation":"<p>The software version of the Oracle Grid Infrastructure (GI) for the VM cluster.</p>"
        },
        "hostname":{
          "shape":"String",
          "documentation":"<p>The host name for the VM cluster.</p>"
        },
        "iormConfigCache":{"shape":"ExadataIormConfig"},
        "isLocalBackupEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether database backups to local Exadata storage is enabled for the VM cluster.</p>"
        },
        "isSparseDiskgroupEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the VM cluster is configured with a sparse disk group.</p>"
        },
        "lastUpdateHistoryEntryId":{
          "shape":"String",
          "documentation":"<p>The Oracle Cloud ID (OCID) of the last maintenance update history entry.</p>"
        },
        "licenseModel":{
          "shape":"LicenseModel",
          "documentation":"<p>The Oracle license model applied to the VM cluster.</p>"
        },
        "listenerPort":{
          "shape":"Integer",
          "documentation":"<p>The port number configured for the listener on the VM cluster.</p>"
        },
        "memorySizeInGBs":{
          "shape":"Integer",
          "documentation":"<p>The amount of memory, in gigabytes (GB), that's allocated for the VM cluster.</p>"
        },
        "nodeCount":{
          "shape":"Integer",
          "documentation":"<p>The number of nodes in the VM cluster.</p>"
        },
        "ocid":{
          "shape":"String",
          "documentation":"<p>The OCID of the VM cluster.</p>"
        },
        "ociResourceAnchorName":{
          "shape":"String",
          "documentation":"<p>The name of the OCI resource anchor for the VM cluster.</p>"
        },
        "ociUrl":{
          "shape":"String",
          "documentation":"<p>The HTTPS link to the VM cluster in OCI.</p>"
        },
        "domain":{
          "shape":"String",
          "documentation":"<p>The domain of the VM cluster.</p>"
        },
        "scanDnsName":{
          "shape":"String",
          "documentation":"<p>The FQDN of the DNS record for the Single Client Access Name (SCAN) IP addresses that are associated with the VM cluster.</p>"
        },
        "scanDnsRecordId":{
          "shape":"String",
          "documentation":"<p>The OCID of the DNS record for the SCAN IP addresses that are associated with the VM cluster.</p>"
        },
        "scanIpIds":{
          "shape":"StringList",
          "documentation":"<p>The OCID of the SCAN IP addresses that are associated with the VM cluster.</p>"
        },
        "shape":{
          "shape":"String",
          "documentation":"<p>The hardware model name of the Exadata infrastructure that's running the VM cluster.</p>"
        },
        "sshPublicKeys":{
          "shape":"SensitiveStringList",
          "documentation":"<p>The public key portion of one or more key pairs used for SSH access to the VM cluster.</p>"
        },
        "storageSizeInGBs":{
          "shape":"Integer",
          "documentation":"<p>The amount of local node storage, in gigabytes (GB), that's allocated to the VM cluster.</p>"
        },
        "systemVersion":{
          "shape":"String",
          "documentation":"<p>The operating system version of the image chosen for the VM cluster.</p>"
        },
        "createdAt":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The date and time when the VM cluster was created.</p>"
        },
        "timeZone":{
          "shape":"String",
          "documentation":"<p>The time zone of the VM cluster.</p>"
        },
        "vipIds":{
          "shape":"StringList",
          "documentation":"<p>The virtual IP (VIP) addresses that are associated with the VM cluster. Oracle's Cluster Ready Services (CRS) creates and maintains one VIP address for each node in the VM cluster to enable failover. If one node fails, the VIP is reassigned to another active node in the cluster.</p>"
        },
        "odbNetworkId":{
          "shape":"ResourceIdOrArn",
          "documentation":"<p>The unique identifier of the ODB network for the VM cluster.</p>"
        },
        "percentProgress":{
          "shape":"Float",
          "documentation":"<p>The amount of progress made on the current operation on the VM cluster, expressed as a percentage.</p>"
        },
        "computeModel":{
          "shape":"ComputeModel",
          "documentation":"<p>The OCI model compute model used when you create or clone an instance: ECPU or OCPU. An ECPU is an abstracted measure of compute resources. ECPUs are based on the number of cores elastically allocated from a pool of compute and storage servers. An OCPU is a legacy physical measure of compute resources. OCPUs are based on the physical core of a processor with hyper-threading enabled. </p>"
        }
      },
      "documentation":"<p>Information about a VM cluster.</p>"
    },
    "ComputeModel":{
      "type":"string",
      "enum":[
        "ECPU",
        "OCPU"
      ]
    },
    "ConflictException":{
      "type":"structure",
      "required":[
        "message",
        "resourceId",
        "resourceType"
      ],
      "members":{
        "message":{"shape":"String"},
        "resourceId":{
          "shape":"String",
          "documentation":"<p>The identifier of the resource that caused the conflict.</p>"
        },
        "resourceType":{
          "shape":"String",
          "documentation":"<p>The type of resource that caused the conflict.</p>"
        }
      },
      "documentation":"<p>Occurs when a conflict with the current status of your resource. Fix any inconsistencies with your resource and try again.</p>",
      "exception":true
    },
    "CreateCloudAutonomousVmClusterInput":{
      "type":"structure",
      "required":[
        "cloudExadataInfrastructureId",
        "odbNetworkId",
        "displayName",
        "autonomousDataStorageSizeInTBs",
        "cpuCoreCountPerNode",
        "memoryPerOracleComputeUnitInGBs",
        "totalContainerDatabases"
      ],
      "members":{
        "cloudExadataInfrastructureId":{
          "shape":"ResourceIdOrArn",
          "documentation":"<p>The unique identifier of the Exadata infrastructure where the VM cluster will be created.</p>"
        },
        "odbNetworkId":{
          "shape":"ResourceIdOrArn",
          "documentation":"<p>The unique identifier of the ODB network to be used for the VM cluster.</p>"
        },
        "displayName":{
          "shape":"ResourceDisplayName",
          "documentation":"<p>The display name for the Autonomous VM cluster. The name does not need to be unique.</p>"
        },
        "clientToken":{
          "shape":"CreateCloudAutonomousVmClusterInputClientTokenString",
          "documentation":"<p>A client-provided token to ensure idempotency of the request.</p>",
          "idempotencyToken":true
        },
        "autonomousDataStorageSizeInTBs":{
          "shape":"CreateCloudAutonomousVmClusterInputAutonomousDataStorageSizeInTBsDouble",
          "documentation":"<p>The data disk group size to be allocated for Autonomous Databases, in terabytes (TB).</p>"
        },
        "cpuCoreCountPerNode":{
          "shape":"CreateCloudAutonomousVmClusterInputCpuCoreCountPerNodeInteger",
          "documentation":"<p>The number of CPU cores to be enabled per VM cluster node.</p>"
        },
        "dbServers":{
          "shape":"StringList",
          "documentation":"<p>The list of database servers to be used for the Autonomous VM cluster.</p>"
        },
        "description":{
          "shape":"CreateCloudAutonomousVmClusterInputDescriptionString",
          "documentation":"<p>A user-provided description of the Autonomous VM cluster.</p>"
        },
        "isMtlsEnabledVmCluster":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether to enable mutual TLS (mTLS) authentication for the Autonomous VM cluster.</p>"
        },
        "licenseModel":{
          "shape":"LicenseModel",
          "documentation":"<p>The Oracle license model to apply to the Autonomous VM cluster.</p>"
        },
        "maintenanceWindow":{
          "shape":"MaintenanceWindow",
          "documentation":"<p>The scheduling details for the maintenance window. Patching and system updates take place during the maintenance window.</p>"
        },
        "memoryPerOracleComputeUnitInGBs":{
          "shape":"CreateCloudAutonomousVmClusterInputMemoryPerOracleComputeUnitInGBsInteger",
          "documentation":"<p>The amount of memory to be allocated per OCPU, in GB.</p>"
        },
        "scanListenerPortNonTls":{
          "shape":"CreateCloudAutonomousVmClusterInputScanListenerPortNonTlsInteger",
          "documentation":"<p>The SCAN listener port for non-TLS (TCP) protocol.</p>"
        },
        "scanListenerPortTls":{
          "shape":"CreateCloudAutonomousVmClusterInputScanListenerPortTlsInteger",
          "documentation":"<p>The SCAN listener port for TLS (TCP) protocol.</p>"
        },
        "tags":{
          "shape":"RequestTagMap",
          "documentation":"<p>Free-form tags for this resource. Each tag is a key-value pair with no predefined name, type, or namespace.</p>"
        },
        "timeZone":{
          "shape":"CreateCloudAutonomousVmClusterInputTimeZoneString",
          "documentation":"<p>The time zone to use for the Autonomous VM cluster.</p>"
        },
        "totalContainerDatabases":{
          "shape":"CreateCloudAutonomousVmClusterInputTotalContainerDatabasesInteger",
          "documentation":"<p>The total number of Autonomous CDBs that you can create in the Autonomous VM cluster.</p>"
        }
      }
    },
    "CreateCloudAutonomousVmClusterInputAutonomousDataStorageSizeInTBsDouble":{
      "type":"double",
      "box":true,
      "min":0
    },
    "CreateCloudAutonomousVmClusterInputClientTokenString":{
      "type":"string",
      "max":64,
      "min":8,
      "pattern":"[a-zA-Z0-9_\\/.=-]+"
    },
    "CreateCloudAutonomousVmClusterInputCpuCoreCountPerNodeInteger":{
      "type":"integer",
      "box":true,
      "min":0
    },
    "CreateCloudAutonomousVmClusterInputDescriptionString":{
      "type":"string",
      "max":400,
      "min":1
    },
    "CreateCloudAutonomousVmClusterInputMemoryPerOracleComputeUnitInGBsInteger":{
      "type":"integer",
      "box":true,
      "min":0
    },
    "CreateCloudAutonomousVmClusterInputScanListenerPortNonTlsInteger":{
      "type":"integer",
      "box":true,
      "max":8999,
      "min":1024
    },
    "CreateCloudAutonomousVmClusterInputScanListenerPortTlsInteger":{
      "type":"integer",
      "box":true,
      "max":8999,
      "min":1024
    },
    "CreateCloudAutonomousVmClusterInputTimeZoneString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "CreateCloudAutonomousVmClusterInputTotalContainerDatabasesInteger":{
      "type":"integer",
      "box":true,
      "min":0
    },
    "CreateCloudAutonomousVmClusterOutput":{
      "type":"structure",
      "required":["cloudAutonomousVmClusterId"],
      "members":{
        "displayName":{
          "shape":"String",
          "documentation":"<p>The display name of the created Autonomous VM cluster.</p>"
        },
        "status":{
          "shape":"ResourceStatus",
          "documentation":"<p>The current status of the Autonomous VM cluster creation process.</p>"
        },
        "statusReason":{
          "shape":"String",
          "documentation":"<p>Additional information about the current status of the Autonomous VM cluster creation process, if applicable.</p>"
        },
        "cloudAutonomousVmClusterId":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the created Autonomous VM cluster.</p>"
        }
      }
    },
    "CreateCloudExadataInfrastructureInput":{
      "type":"structure",
      "required":[
        "displayName",
        "shape",
        "computeCount",
        "storageCount"
      ],
      "members":{
        "displayName":{
          "shape":"ResourceDisplayName",
          "documentation":"<p>A user-friendly name for the Exadata infrastructure.</p>"
        },
        "shape":{
          "shape":"CreateCloudExadataInfrastructureInputShapeString",
          "documentation":"<p>The model name of the Exadata infrastructure. For the list of valid model names, use the <code>ListDbSystemShapes</code> operation.</p>"
        },
        "availabilityZone":{
          "shape":"CreateCloudExadataInfrastructureInputAvailabilityZoneString",
          "documentation":"<p>The name of the Availability Zone (AZ) where the Exadata infrastructure is located.</p> <p>This operation requires that you specify a value for either <code>availabilityZone</code> or <code>availabilityZoneId</code>.</p> <p>Example: <code>us-east-1a</code> </p>"
        },
        "availabilityZoneId":{
          "shape":"CreateCloudExadataInfrastructureInputAvailabilityZoneIdString",
          "documentation":"<p>The AZ ID of the AZ where the Exadata infrastructure is located.</p> <p>This operation requires that you specify a value for either <code>availabilityZone</code> or <code>availabilityZoneId</code>.</p> <p>Example: <code>use1-az1</code> </p>"
        },
        "tags":{
          "shape":"RequestTagMap",
          "documentation":"<p>The list of resource tags to apply to the Exadata infrastructure.</p>"
        },
        "computeCount":{
          "shape":"Integer",
          "documentation":"<p>The number of database servers for the Exadata infrastructure. Valid values for this parameter depend on the shape. To get information about the minimum and maximum values, use the <code>ListDbSystemShapes</code> operation.</p>"
        },
        "customerContactsToSendToOCI":{
          "shape":"CustomerContacts",
          "documentation":"<p>The email addresses of contacts to receive notification from Oracle about maintenance updates for the Exadata infrastructure.</p>"
        },
        "maintenanceWindow":{
          "shape":"MaintenanceWindow",
          "documentation":"<p>The maintenance window configuration for the Exadata Cloud infrastructure.</p> <p>This allows you to define when maintenance operations such as patching and updates can be performed on the infrastructure.</p>"
        },
        "storageCount":{
          "shape":"Integer",
          "documentation":"<p>The number of storage servers to activate for this Exadata infrastructure. Valid values for this parameter depend on the shape. To get information about the minimum and maximum values, use the <code>ListDbSystemShapes</code> operation.</p>"
        },
        "clientToken":{
          "shape":"CreateCloudExadataInfrastructureInputClientTokenString",
          "documentation":"<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don't specify a client token, the Amazon Web Services SDK automatically generates a client token and uses it for the request to ensure idempotency. The client token is valid for up to 24 hours after it's first used.</p>",
          "idempotencyToken":true
        },
        "databaseServerType":{
          "shape":"CreateCloudExadataInfrastructureInputDatabaseServerTypeString",
          "documentation":"<p>The database server model type of the Exadata infrastructure. For the list of valid model names, use the <code>ListDbSystemShapes</code> operation.</p>"
        },
        "storageServerType":{
          "shape":"CreateCloudExadataInfrastructureInputStorageServerTypeString",
          "documentation":"<p>The storage server model type of the Exadata infrastructure. For the list of valid model names, use the <code>ListDbSystemShapes</code> operation.</p>"
        }
      }
    },
    "CreateCloudExadataInfrastructureInputAvailabilityZoneIdString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "CreateCloudExadataInfrastructureInputAvailabilityZoneString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "CreateCloudExadataInfrastructureInputClientTokenString":{
      "type":"string",
      "max":64,
      "min":8,
      "pattern":"[a-zA-Z0-9_\\/.=-]+"
    },
    "CreateCloudExadataInfrastructureInputDatabaseServerTypeString":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"[a-zA-Z0-9_\\/.=-]+"
    },
    "CreateCloudExadataInfrastructureInputShapeString":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"[a-zA-Z0-9_\\/.=-]+"
    },
    "CreateCloudExadataInfrastructureInputStorageServerTypeString":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"[a-zA-Z0-9_\\/.=-]+"
    },
    "CreateCloudExadataInfrastructureOutput":{
      "type":"structure",
      "required":["cloudExadataInfrastructureId"],
      "members":{
        "displayName":{
          "shape":"String",
          "documentation":"<p>The user-friendly name for the Exadata infrastructure.</p>"
        },
        "status":{
          "shape":"ResourceStatus",
          "documentation":"<p>The current status of the Exadata infrastructure.</p>"
        },
        "statusReason":{
          "shape":"String",
          "documentation":"<p>Additional information about the status of the Exadata infrastructure.</p>"
        },
        "cloudExadataInfrastructureId":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the Exadata infrastructure.</p>"
        }
      }
    },
    "CreateCloudVmClusterInput":{
      "type":"structure",
      "required":[
        "cloudExadataInfrastructureId",
        "cpuCoreCount",
        "displayName",
        "giVersion",
        "hostname",
        "sshPublicKeys",
        "odbNetworkId"
      ],
      "members":{
        "cloudExadataInfrastructureId":{
          "shape":"ResourceIdOrArn",
          "documentation":"<p>The unique identifier of the Exadata infrastructure for this VM cluster.</p>"
        },
        "cpuCoreCount":{
          "shape":"CreateCloudVmClusterInputCpuCoreCountInteger",
          "documentation":"<p>The number of CPU cores to enable on the VM cluster.</p>"
        },
        "displayName":{
          "shape":"ResourceDisplayName",
          "documentation":"<p>A user-friendly name for the VM cluster.</p>"
        },
        "giVersion":{
          "shape":"CreateCloudVmClusterInputGiVersionString",
          "documentation":"<p>A valid software version of Oracle Grid Infrastructure (GI). To get the list of valid values, use the <code>ListGiVersions</code> operation and specify the shape of the Exadata infrastructure.</p> <p>Example: <code>19.0.0.0</code> </p>"
        },
        "hostname":{
          "shape":"CreateCloudVmClusterInputHostnameString",
          "documentation":"<p>The host name for the VM cluster.</p> <p>Constraints:</p> <ul> <li> <p>Can't be \"localhost\" or \"hostname\".</p> </li> <li> <p>Can't contain \"-version\".</p> </li> <li> <p>The maximum length of the combined hostname and domain is 63 characters.</p> </li> <li> <p>The hostname must be unique within the subnet.</p> </li> </ul>"
        },
        "sshPublicKeys":{
          "shape":"StringList",
          "documentation":"<p>The public key portion of one or more key pairs used for SSH access to the VM cluster.</p>"
        },
        "odbNetworkId":{
          "shape":"ResourceIdOrArn",
          "documentation":"<p>The unique identifier of the ODB network for the VM cluster.</p>"
        },
        "clusterName":{
          "shape":"CreateCloudVmClusterInputClusterNameString",
          "documentation":"<p>A name for the Grid Infrastructure cluster. The name isn't case sensitive.</p>"
        },
        "dataCollectionOptions":{
          "shape":"DataCollectionOptions",
          "documentation":"<p>The set of preferences for the various diagnostic collection options for the VM cluster.</p>"
        },
        "dataStorageSizeInTBs":{
          "shape":"Double",
          "documentation":"<p>The size of the data disk group, in terabytes (TBs), to allocate for the VM cluster.</p>"
        },
        "dbNodeStorageSizeInGBs":{
          "shape":"Integer",
          "documentation":"<p>The amount of local node storage, in gigabytes (GBs), to allocate for the VM cluster.</p>"
        },
        "dbServers":{
          "shape":"StringList",
          "documentation":"<p>The list of database servers for the VM cluster.</p>"
        },
        "tags":{
          "shape":"RequestTagMap",
          "documentation":"<p>The list of resource tags to apply to the VM cluster.</p>"
        },
        "isLocalBackupEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether to enable database backups to local Exadata storage for the VM cluster.</p>"
        },
        "isSparseDiskgroupEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether to create a sparse disk group for the VM cluster.</p>"
        },
        "licenseModel":{
          "shape":"LicenseModel",
          "documentation":"<p>The Oracle license model to apply to the VM cluster.</p> <p>Default: <code>LICENSE_INCLUDED</code> </p>"
        },
        "memorySizeInGBs":{
          "shape":"Integer",
          "documentation":"<p>The amount of memory, in gigabytes (GBs), to allocate for the VM cluster.</p>"
        },
        "systemVersion":{
          "shape":"CreateCloudVmClusterInputSystemVersionString",
          "documentation":"<p>The version of the operating system of the image for the VM cluster.</p>"
        },
        "timeZone":{
          "shape":"CreateCloudVmClusterInputTimeZoneString",
          "documentation":"<p>The time zone for the VM cluster. For a list of valid values for time zone, you can check the options in the console.</p> <p>Default: UTC</p>"
        },
        "clientToken":{
          "shape":"CreateCloudVmClusterInputClientTokenString",
          "documentation":"<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If you don't specify a client token, the Amazon Web Services SDK automatically generates a client token and uses it for the request to ensure idempotency. The client token is valid for up to 24 hours after it's first used.</p>",
          "idempotencyToken":true
        },
        "scanListenerPortTcp":{
          "shape":"CreateCloudVmClusterInputScanListenerPortTcpInteger",
          "documentation":"<p>The port number for TCP connections to the single client access name (SCAN) listener. </p> <p>Valid values: <code>1024–8999</code> with the following exceptions: <code>2484</code>, <code>6100</code>, <code>6200</code>, <code>7060</code>, <code>7070</code>, <code>7085</code>, and <code>7879</code> </p> <p>Default: <code>1521</code> </p>"
        }
      }
    },
    "CreateCloudVmClusterInputClientTokenString":{
      "type":"string",
      "max":64,
      "min":8,
      "pattern":"[a-zA-Z0-9_\\/.=-]+"
    },
    "CreateCloudVmClusterInputClusterNameString":{
      "type":"string",
      "max":11,
      "min":1,
      "pattern":"[a-zA-Z][a-zA-Z0-9-]*"
    },
    "CreateCloudVmClusterInputCpuCoreCountInteger":{
      "type":"integer",
      "box":true,
      "max":368,
      "min":0
    },
    "CreateCloudVmClusterInputGiVersionString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "CreateCloudVmClusterInputHostnameString":{
      "type":"string",
      "max":12,
      "min":1,
      "pattern":"[a-zA-Z][a-zA-Z0-9-]*[a-zA-Z0-9]"
    },
    "CreateCloudVmClusterInputScanListenerPortTcpInteger":{
      "type":"integer",
      "box":true,
      "max":8999,
      "min":1024
    },
    "CreateCloudVmClusterInputSystemVersionString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "CreateCloudVmClusterInputTimeZoneString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "CreateCloudVmClusterOutput":{
      "type":"structure",
      "required":["cloudVmClusterId"],
      "members":{
        "displayName":{
          "shape":"String",
          "documentation":"<p>The user-friendly name for the VM cluster.</p>"
        },
        "status":{
          "shape":"ResourceStatus",
          "documentation":"<p>The current status of the VM cluster.</p>"
        },
        "statusReason":{
          "shape":"String",
          "documentation":"<p>Additional information about the status of the VM cluster.</p>"
        },
        "cloudVmClusterId":{
          "shape":"String",
          "documentation":"<p>The unique identifier for the VM cluster.</p>"
        }
      }
    },
    "CreateOdbNetworkInput":{
      "type":"structure",
      "required":[
        "displayName",
        "clientSubnetCidr"
      ],
      "members":{
        "displayName":{
          "shape":"ResourceDisplayName",
          "documentation":"<p>A user-friendly name for the ODB network.</p>"
        },
        "availabilityZone":{
          "shape":"CreateOdbNetworkInputAvailabilityZoneString",
          "documentation":"<p>The Amazon Web Services Availability Zone (AZ) where the ODB network is located.</p> <p>This operation requires that you specify a value for either <code>availabilityZone</code> or <code>availabilityZoneId</code>.</p>"
[...]
