<div class='koenig-menu'>
    <ul>
    {{#each toolbar as |tool index|}}
        {{koenig-menu-item tool=tool iconURL=iconURL editor=editor range=range selected=tool.selected}}
    {{/each}}
    </ul>
</div>

<div id="koenig-menu-button">+</div>