<div class="modal-content">
    <div class="gh-nav-search-modal" {{on "click" this.focusFirstInput}}>
        <GhSearchInput class="gh-nav-search-input" @onSelected={{@close}} />
        <div class="gh-search-tips">Open with Ctrl/⌘ + K</div>
    </div>
</div>