{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-07-25",
    "endpointPrefix":"auditmanager",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"AWS Audit Manager",
    "serviceId":"AuditManager",
    "signatureVersion":"v4",
    "signingName":"auditmanager",
    "uid":"auditmanager-2017-07-25",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AssociateAssessmentReportEvidenceFolder":{
      "name":"AssociateAssessmentReportEvidenceFolder",
      "http":{
        "method":"PUT",
        "requestUri":"/assessments/{assessmentId}/associateToAssessmentReport"
      },
      "input":{"shape":"AssociateAssessmentReportEvidenceFolderRequest"},
      "output":{"shape":"AssociateAssessmentReportEvidenceFolderResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Associates an evidence folder to an assessment report in an Audit Manager assessment. </p>"
    },
    "BatchAssociateAssessmentReportEvidence":{
      "name":"BatchAssociateAssessmentReportEvidence",
      "http":{
        "method":"PUT",
        "requestUri":"/assessments/{assessmentId}/batchAssociateToAssessmentReport"
      },
      "input":{"shape":"BatchAssociateAssessmentReportEvidenceRequest"},
      "output":{"shape":"BatchAssociateAssessmentReportEvidenceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Associates a list of evidence to an assessment report in an Audit Manager assessment. </p>"
    },
    "BatchCreateDelegationByAssessment":{
      "name":"BatchCreateDelegationByAssessment",
      "http":{
        "method":"POST",
        "requestUri":"/assessments/{assessmentId}/delegations"
      },
      "input":{"shape":"BatchCreateDelegationByAssessmentRequest"},
      "output":{"shape":"BatchCreateDelegationByAssessmentResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Creates a batch of delegations for an assessment in Audit Manager. </p>"
    },
    "BatchDeleteDelegationByAssessment":{
      "name":"BatchDeleteDelegationByAssessment",
      "http":{
        "method":"PUT",
        "requestUri":"/assessments/{assessmentId}/delegations"
      },
      "input":{"shape":"BatchDeleteDelegationByAssessmentRequest"},
      "output":{"shape":"BatchDeleteDelegationByAssessmentResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Deletes a batch of delegations for an assessment in Audit Manager. </p>"
    },
    "BatchDisassociateAssessmentReportEvidence":{
      "name":"BatchDisassociateAssessmentReportEvidence",
      "http":{
        "method":"PUT",
        "requestUri":"/assessments/{assessmentId}/batchDisassociateFromAssessmentReport"
      },
      "input":{"shape":"BatchDisassociateAssessmentReportEvidenceRequest"},
      "output":{"shape":"BatchDisassociateAssessmentReportEvidenceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Disassociates a list of evidence from an assessment report in Audit Manager. </p>"
    },
    "BatchImportEvidenceToAssessmentControl":{
      "name":"BatchImportEvidenceToAssessmentControl",
      "http":{
        "method":"POST",
        "requestUri":"/assessments/{assessmentId}/controlSets/{controlSetId}/controls/{controlId}/evidence"
      },
      "input":{"shape":"BatchImportEvidenceToAssessmentControlRequest"},
      "output":{"shape":"BatchImportEvidenceToAssessmentControlResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Adds one or more pieces of evidence to a control in an Audit Manager assessment. </p> <p>You can import manual evidence from any S3 bucket by specifying the S3 URI of the object. You can also upload a file from your browser, or enter plain text in response to a risk assessment question. </p> <p>The following restrictions apply to this action:</p> <ul> <li> <p> <code>manualEvidence</code> can be only one of the following: <code>evidenceFileName</code>, <code>s3ResourcePath</code>, or <code>textResponse</code> </p> </li> <li> <p>Maximum size of an individual evidence file: 100 MB</p> </li> <li> <p>Number of daily manual evidence uploads per control: 100</p> </li> <li> <p>Supported file formats: See <a href=\"https://docs.aws.amazon.com/audit-manager/latest/userguide/upload-evidence.html#supported-manual-evidence-files\">Supported file types for manual evidence</a> in the <i>Audit Manager User Guide</i> </p> </li> </ul> <p>For more information about Audit Manager service restrictions, see <a href=\"https://docs.aws.amazon.com/audit-manager/latest/userguide/service-quotas.html\">Quotas and restrictions for Audit Manager</a>.</p>"
    },
    "CreateAssessment":{
      "name":"CreateAssessment",
      "http":{
        "method":"POST",
        "requestUri":"/assessments"
      },
      "input":{"shape":"CreateAssessmentRequest"},
      "output":{"shape":"CreateAssessmentResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p> Creates an assessment in Audit Manager. </p>"
    },
    "CreateAssessmentFramework":{
      "name":"CreateAssessmentFramework",
      "http":{
        "method":"POST",
        "requestUri":"/assessmentFrameworks"
      },
      "input":{"shape":"CreateAssessmentFrameworkRequest"},
      "output":{"shape":"CreateAssessmentFrameworkResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p> Creates a custom framework in Audit Manager. </p>"
    },
    "CreateAssessmentReport":{
      "name":"CreateAssessmentReport",
      "http":{
        "method":"POST",
        "requestUri":"/assessments/{assessmentId}/reports"
      },
      "input":{"shape":"CreateAssessmentReportRequest"},
      "output":{"shape":"CreateAssessmentReportResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Creates an assessment report for the specified assessment. </p>"
    },
    "CreateControl":{
      "name":"CreateControl",
      "http":{
        "method":"POST",
        "requestUri":"/controls"
      },
      "input":{"shape":"CreateControlRequest"},
      "output":{"shape":"CreateControlResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p> Creates a new custom control in Audit Manager. </p>"
    },
    "DeleteAssessment":{
      "name":"DeleteAssessment",
      "http":{
        "method":"DELETE",
        "requestUri":"/assessments/{assessmentId}"
      },
      "input":{"shape":"DeleteAssessmentRequest"},
      "output":{"shape":"DeleteAssessmentResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Deletes an assessment in Audit Manager. </p>"
    },
    "DeleteAssessmentFramework":{
      "name":"DeleteAssessmentFramework",
      "http":{
        "method":"DELETE",
        "requestUri":"/assessmentFrameworks/{frameworkId}"
      },
      "input":{"shape":"DeleteAssessmentFrameworkRequest"},
      "output":{"shape":"DeleteAssessmentFrameworkResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Deletes a custom framework in Audit Manager. </p>"
    },
    "DeleteAssessmentFrameworkShare":{
      "name":"DeleteAssessmentFrameworkShare",
      "http":{
        "method":"DELETE",
        "requestUri":"/assessmentFrameworkShareRequests/{requestId}"
      },
      "input":{"shape":"DeleteAssessmentFrameworkShareRequest"},
      "output":{"shape":"DeleteAssessmentFrameworkShareResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Deletes a share request for a custom framework in Audit Manager. </p>"
    },
    "DeleteAssessmentReport":{
      "name":"DeleteAssessmentReport",
      "http":{
        "method":"DELETE",
        "requestUri":"/assessments/{assessmentId}/reports/{assessmentReportId}"
      },
      "input":{"shape":"DeleteAssessmentReportRequest"},
      "output":{"shape":"DeleteAssessmentReportResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes an assessment report in Audit Manager. </p> <p>When you run the <code>DeleteAssessmentReport</code> operation, Audit Manager attempts to delete the following data:</p> <ol> <li> <p>The specified assessment report that’s stored in your S3 bucket</p> </li> <li> <p>The associated metadata that’s stored in Audit Manager</p> </li> </ol> <p>If Audit Manager can’t access the assessment report in your S3 bucket, the report isn’t deleted. In this event, the <code>DeleteAssessmentReport</code> operation doesn’t fail. Instead, it proceeds to delete the associated metadata only. You must then delete the assessment report from the S3 bucket yourself. </p> <p>This scenario happens when Audit Manager receives a <code>403 (Forbidden)</code> or <code>404 (Not Found)</code> error from Amazon S3. To avoid this, make sure that your S3 bucket is available, and that you configured the correct permissions for Audit Manager to delete resources in your S3 bucket. For an example permissions policy that you can use, see <a href=\"https://docs.aws.amazon.com/audit-manager/latest/userguide/security_iam_id-based-policy-examples.html#full-administrator-access-assessment-report-destination\">Assessment report destination permissions</a> in the <i>Audit Manager User Guide</i>. For information about the issues that could cause a <code>403 (Forbidden)</code> or <code>404 (Not Found</code>) error from Amazon S3, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/ErrorResponses.html#ErrorCodeList\">List of Error Codes</a> in the <i>Amazon Simple Storage Service API Reference</i>. </p>"
    },
    "DeleteControl":{
      "name":"DeleteControl",
      "http":{
        "method":"DELETE",
        "requestUri":"/controls/{controlId}"
      },
      "input":{"shape":"DeleteControlRequest"},
      "output":{"shape":"DeleteControlResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Deletes a custom control in Audit Manager. </p> <important> <p>When you invoke this operation, the custom control is deleted from any frameworks or assessments that it’s currently part of. As a result, Audit Manager will stop collecting evidence for that custom control in all of your assessments. This includes assessments that you previously created before you deleted the custom control.</p> </important>"
    },
    "DeregisterAccount":{
      "name":"DeregisterAccount",
      "http":{
        "method":"POST",
        "requestUri":"/account/deregisterAccount"
      },
      "input":{"shape":"DeregisterAccountRequest"},
      "output":{"shape":"DeregisterAccountResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Deregisters an account in Audit Manager. </p> <note> <p>Before you deregister, you can use the <a href=\"https://docs.aws.amazon.com/audit-manager/latest/APIReference/API_UpdateSettings.html\">UpdateSettings</a> API operation to set your preferred data retention policy. By default, Audit Manager retains your data. If you want to delete your data, you can use the <code>DeregistrationPolicy</code> attribute to request the deletion of your data. </p> <p>For more information about data retention, see <a href=\"https://docs.aws.amazon.com/audit-manager/latest/userguide/data-protection.html\">Data Protection</a> in the <i>Audit Manager User Guide</i>. </p> </note>"
    },
    "DeregisterOrganizationAdminAccount":{
      "name":"DeregisterOrganizationAdminAccount",
      "http":{
        "method":"POST",
        "requestUri":"/account/deregisterOrganizationAdminAccount"
      },
      "input":{"shape":"DeregisterOrganizationAdminAccountRequest"},
      "output":{"shape":"DeregisterOrganizationAdminAccountResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Removes the specified Amazon Web Services account as a delegated administrator for Audit Manager. </p> <p>When you remove a delegated administrator from your Audit Manager settings, you continue to have access to the evidence that you previously collected under that account. This is also the case when you deregister a delegated administrator from Organizations. However, Audit Manager stops collecting and attaching evidence to that delegated administrator account moving forward.</p> <important> <p>Keep in mind the following cleanup task if you use evidence finder:</p> <p>Before you use your management account to remove a delegated administrator, make sure that the current delegated administrator account signs in to Audit Manager and disables evidence finder first. Disabling evidence finder automatically deletes the event data store that was created in their account when they enabled evidence finder. If this task isn’t completed, the event data store remains in their account. In this case, we recommend that the original delegated administrator goes to CloudTrail Lake and manually <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/query-eds-disable-termination.html\">deletes the event data store</a>.</p> <p>This cleanup task is necessary to ensure that you don't end up with multiple event data stores. Audit Manager ignores an unused event data store after you remove or change a delegated administrator account. However, the unused event data store continues to incur storage costs from CloudTrail Lake if you don't delete it.</p> </important> <p>When you deregister a delegated administrator account for Audit Manager, the data for that account isn’t deleted. If you want to delete resource data for a delegated administrator account, you must perform that task separately before you deregister the account. Either, you can do this in the Audit Manager console. Or, you can use one of the delete API operations that are provided by Audit Manager. </p> <p>To delete your Audit Manager resource data, see the following instructions: </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/audit-manager/latest/APIReference/API_DeleteAssessment.html\">DeleteAssessment</a> (see also: <a href=\"https://docs.aws.amazon.com/audit-manager/latest/userguide/delete-assessment.html\">Deleting an assessment</a> in the <i>Audit Manager User Guide</i>)</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/audit-manager/latest/APIReference/API_DeleteAssessmentFramework.html\">DeleteAssessmentFramework</a> (see also: <a href=\"https://docs.aws.amazon.com/audit-manager/latest/userguide/delete-custom-framework.html\">Deleting a custom framework</a> in the <i>Audit Manager User Guide</i>)</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/audit-manager/latest/APIReference/API_DeleteAssessmentFrameworkShare.html\">DeleteAssessmentFrameworkShare</a> (see also: <a href=\"https://docs.aws.amazon.com/audit-manager/latest/userguide/deleting-shared-framework-requests.html\">Deleting a share request</a> in the <i>Audit Manager User Guide</i>)</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/audit-manager/latest/APIReference/API_DeleteAssessmentReport.html\">DeleteAssessmentReport</a> (see also: <a href=\"https://docs.aws.amazon.com/audit-manager/latest/userguide/generate-assessment-report.html#delete-assessment-report-steps\">Deleting an assessment report</a> in the <i>Audit Manager User Guide</i>)</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/audit-manager/latest/APIReference/API_DeleteControl.html\">DeleteControl</a> (see also: <a href=\"https://docs.aws.amazon.com/audit-manager/latest/userguide/delete-controls.html\">Deleting a custom control</a> in the <i>Audit Manager User Guide</i>)</p> </li> </ul> <p>At this time, Audit Manager doesn't provide an option to delete evidence for a specific delegated administrator. Instead, when your management account deregisters Audit Manager, we perform a cleanup for the current delegated administrator account at the time of deregistration.</p>"
    },
    "DisassociateAssessmentReportEvidenceFolder":{
      "name":"DisassociateAssessmentReportEvidenceFolder",
      "http":{
        "method":"PUT",
        "requestUri":"/assessments/{assessmentId}/disassociateFromAssessmentReport"
      },
      "input":{"shape":"DisassociateAssessmentReportEvidenceFolderRequest"},
      "output":{"shape":"DisassociateAssessmentReportEvidenceFolderResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Disassociates an evidence folder from the specified assessment report in Audit Manager. </p>"
    },
    "GetAccountStatus":{
      "name":"GetAccountStatus",
      "http":{
        "method":"GET",
        "requestUri":"/account/status"
      },
      "input":{"shape":"GetAccountStatusRequest"},
      "output":{"shape":"GetAccountStatusResponse"},
      "errors":[
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Gets the registration status of an account in Audit Manager. </p>"
    },
    "GetAssessment":{
      "name":"GetAssessment",
      "http":{
        "method":"GET",
        "requestUri":"/assessments/{assessmentId}"
      },
      "input":{"shape":"GetAssessmentRequest"},
      "output":{"shape":"GetAssessmentResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets information about a specified assessment. </p>"
    },
    "GetAssessmentFramework":{
      "name":"GetAssessmentFramework",
      "http":{
        "method":"GET",
        "requestUri":"/assessmentFrameworks/{frameworkId}"
      },
      "input":{"shape":"GetAssessmentFrameworkRequest"},
      "output":{"shape":"GetAssessmentFrameworkResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets information about a specified framework.</p>"
    },
    "GetAssessmentReportUrl":{
      "name":"GetAssessmentReportUrl",
      "http":{
        "method":"GET",
        "requestUri":"/assessments/{assessmentId}/reports/{assessmentReportId}/url"
      },
      "input":{"shape":"GetAssessmentReportUrlRequest"},
      "output":{"shape":"GetAssessmentReportUrlResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Gets the URL of an assessment report in Audit Manager. </p>"
    },
    "GetChangeLogs":{
      "name":"GetChangeLogs",
      "http":{
        "method":"GET",
        "requestUri":"/assessments/{assessmentId}/changelogs"
      },
      "input":{"shape":"GetChangeLogsRequest"},
      "output":{"shape":"GetChangeLogsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Gets a list of changelogs from Audit Manager. </p>"
    },
    "GetControl":{
      "name":"GetControl",
      "http":{
        "method":"GET",
        "requestUri":"/controls/{controlId}"
      },
      "input":{"shape":"GetControlRequest"},
      "output":{"shape":"GetControlResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Gets information about a specified control.</p>"
    },
    "GetDelegations":{
      "name":"GetDelegations",
      "http":{
        "method":"GET",
        "requestUri":"/delegations"
      },
      "input":{"shape":"GetDelegationsRequest"},
      "output":{"shape":"GetDelegationsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Gets a list of delegations from an audit owner to a delegate. </p>"
    },
    "GetEvidence":{
      "name":"GetEvidence",
      "http":{
        "method":"GET",
        "requestUri":"/assessments/{assessmentId}/controlSets/{controlSetId}/evidenceFolders/{evidenceFolderId}/evidence/{evidenceId}"
      },
      "input":{"shape":"GetEvidenceRequest"},
      "output":{"shape":"GetEvidenceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Gets information about a specified evidence item.</p>"
    },
    "GetEvidenceByEvidenceFolder":{
      "name":"GetEvidenceByEvidenceFolder",
      "http":{
        "method":"GET",
        "requestUri":"/assessments/{assessmentId}/controlSets/{controlSetId}/evidenceFolders/{evidenceFolderId}/evidence"
      },
      "input":{"shape":"GetEvidenceByEvidenceFolderRequest"},
      "output":{"shape":"GetEvidenceByEvidenceFolderResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Gets all evidence from a specified evidence folder in Audit Manager. </p>"
    },
    "GetEvidenceFileUploadUrl":{
      "name":"GetEvidenceFileUploadUrl",
      "http":{
        "method":"GET",
        "requestUri":"/evidenceFileUploadUrl"
      },
      "input":{"shape":"GetEvidenceFileUploadUrlRequest"},
      "output":{"shape":"GetEvidenceFileUploadUrlResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a presigned Amazon S3 URL that can be used to upload a file as manual evidence. For instructions on how to use this operation, see <a href=\"https://docs.aws.amazon.com/audit-manager/latest/userguide/upload-evidence.html#how-to-upload-manual-evidence-files\">Upload a file from your browser </a> in the <i>Audit Manager User Guide</i>.</p> <p>The following restrictions apply to this operation:</p> <ul> <li> <p>Maximum size of an individual evidence file: 100 MB</p> </li> <li> <p>Number of daily manual evidence uploads per control: 100</p> </li> <li> <p>Supported file formats: See <a href=\"https://docs.aws.amazon.com/audit-manager/latest/userguide/upload-evidence.html#supported-manual-evidence-files\">Supported file types for manual evidence</a> in the <i>Audit Manager User Guide</i> </p> </li> </ul> <p>For more information about Audit Manager service restrictions, see <a href=\"https://docs.aws.amazon.com/audit-manager/latest/userguide/service-quotas.html\">Quotas and restrictions for Audit Manager</a>.</p>"
    },
    "GetEvidenceFolder":{
      "name":"GetEvidenceFolder",
      "http":{
        "method":"GET",
        "requestUri":"/assessments/{assessmentId}/controlSets/{controlSetId}/evidenceFolders/{evidenceFolderId}"
      },
      "input":{"shape":"GetEvidenceFolderRequest"},
      "output":{"shape":"GetEvidenceFolderResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Gets an evidence folder from a specified assessment in Audit Manager. </p>"
    },
    "GetEvidenceFoldersByAssessment":{
      "name":"GetEvidenceFoldersByAssessment",
      "http":{
        "method":"GET",
        "requestUri":"/assessments/{assessmentId}/evidenceFolders"
      },
      "input":{"shape":"GetEvidenceFoldersByAssessmentRequest"},
      "output":{"shape":"GetEvidenceFoldersByAssessmentResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Gets the evidence folders from a specified assessment in Audit Manager. </p>"
    },
    "GetEvidenceFoldersByAssessmentControl":{
      "name":"GetEvidenceFoldersByAssessmentControl",
      "http":{
        "method":"GET",
        "requestUri":"/assessments/{assessmentId}/evidenceFolders-by-assessment-control/{controlSetId}/{controlId}"
      },
      "input":{"shape":"GetEvidenceFoldersByAssessmentControlRequest"},
      "output":{"shape":"GetEvidenceFoldersByAssessmentControlResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Gets a list of evidence folders that are associated with a specified control in an Audit Manager assessment. </p>"
    },
    "GetInsights":{
      "name":"GetInsights",
      "http":{
        "method":"GET",
        "requestUri":"/insights"
      },
      "input":{"shape":"GetInsightsRequest"},
      "output":{"shape":"GetInsightsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the latest analytics data for all your current active assessments. </p>"
    },
    "GetInsightsByAssessment":{
      "name":"GetInsightsByAssessment",
      "http":{
        "method":"GET",
        "requestUri":"/insights/assessments/{assessmentId}"
      },
      "input":{"shape":"GetInsightsByAssessmentRequest"},
      "output":{"shape":"GetInsightsByAssessmentResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the latest analytics data for a specific active assessment. </p>"
    },
    "GetOrganizationAdminAccount":{
      "name":"GetOrganizationAdminAccount",
      "http":{
        "method":"GET",
        "requestUri":"/account/organizationAdminAccount"
      },
      "input":{"shape":"GetOrganizationAdminAccountRequest"},
      "output":{"shape":"GetOrganizationAdminAccountResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Gets the name of the delegated Amazon Web Services administrator account for a specified organization. </p>"
    },
    "GetServicesInScope":{
      "name":"GetServicesInScope",
      "http":{
        "method":"GET",
        "requestUri":"/services"
      },
      "input":{"shape":"GetServicesInScopeRequest"},
      "output":{"shape":"GetServicesInScopeResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of the Amazon Web Services services from which Audit Manager can collect evidence. </p> <p>Audit Manager defines which Amazon Web Services services are in scope for an assessment. Audit Manager infers this scope by examining the assessment’s controls and their data sources, and then mapping this information to one or more of the corresponding Amazon Web Services services that are in this list.</p> <note> <p>For information about why it's no longer possible to specify services in scope manually, see <a href=\"https://docs.aws.amazon.com/audit-manager/latest/userguide/evidence-collection-issues.html#unable-to-edit-services\">I can't edit the services in scope for my assessment</a> in the <i>Troubleshooting</i> section of the Audit Manager user guide.</p> </note>"
    },
    "GetSettings":{
      "name":"GetSettings",
      "http":{
        "method":"GET",
        "requestUri":"/settings/{attribute}"
      },
      "input":{"shape":"GetSettingsRequest"},
      "output":{"shape":"GetSettingsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Gets the settings for a specified Amazon Web Services account. </p>"
    },
    "ListAssessmentControlInsightsByControlDomain":{
      "name":"ListAssessmentControlInsightsByControlDomain",
      "http":{
        "method":"GET",
        "requestUri":"/insights/controls-by-assessment"
      },
      "input":{"shape":"ListAssessmentControlInsightsByControlDomainRequest"},
      "output":{"shape":"ListAssessmentControlInsightsByControlDomainResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists the latest analytics data for controls within a specific control domain and a specific active assessment.</p> <note> <p>Control insights are listed only if the control belongs to the control domain and assessment that was specified. Moreover, the control must have collected evidence on the <code>lastUpdated</code> date of <code>controlInsightsByAssessment</code>. If neither of these conditions are met, no data is listed for that control. </p> </note>"
    },
    "ListAssessmentFrameworkShareRequests":{
      "name":"ListAssessmentFrameworkShareRequests",
      "http":{
        "method":"GET",
        "requestUri":"/assessmentFrameworkShareRequests"
      },
      "input":{"shape":"ListAssessmentFrameworkShareRequestsRequest"},
      "output":{"shape":"ListAssessmentFrameworkShareRequestsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Returns a list of sent or received share requests for custom frameworks in Audit Manager. </p>"
    },
    "ListAssessmentFrameworks":{
      "name":"ListAssessmentFrameworks",
      "http":{
        "method":"GET",
        "requestUri":"/assessmentFrameworks"
      },
      "input":{"shape":"ListAssessmentFrameworksRequest"},
      "output":{"shape":"ListAssessmentFrameworksResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Returns a list of the frameworks that are available in the Audit Manager framework library. </p>"
    },
    "ListAssessmentReports":{
      "name":"ListAssessmentReports",
      "http":{
        "method":"GET",
        "requestUri":"/assessmentReports"
      },
      "input":{"shape":"ListAssessmentReportsRequest"},
      "output":{"shape":"ListAssessmentReportsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Returns a list of assessment reports created in Audit Manager. </p>"
    },
    "ListAssessments":{
      "name":"ListAssessments",
      "http":{
        "method":"GET",
        "requestUri":"/assessments"
      },
      "input":{"shape":"ListAssessmentsRequest"},
      "output":{"shape":"ListAssessmentsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Returns a list of current and past assessments from Audit Manager. </p>"
    },
    "ListControlDomainInsights":{
      "name":"ListControlDomainInsights",
      "http":{
        "method":"GET",
        "requestUri":"/insights/control-domains"
      },
      "input":{"shape":"ListControlDomainInsightsRequest"},
      "output":{"shape":"ListControlDomainInsightsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists the latest analytics data for control domains across all of your active assessments. </p> <p>Audit Manager supports the control domains that are provided by Amazon Web Services Control Catalog. For information about how to find a list of available control domains, see <a href=\"https://docs.aws.amazon.com/controlcatalog/latest/APIReference/API_ListDomains.html\"> <code>ListDomains</code> </a> in the Amazon Web Services Control Catalog API Reference.</p> <note> <p>A control domain is listed only if at least one of the controls within that domain collected evidence on the <code>lastUpdated</code> date of <code>controlDomainInsights</code>. If this condition isn’t met, no data is listed for that control domain.</p> </note>"
    },
    "ListControlDomainInsightsByAssessment":{
      "name":"ListControlDomainInsightsByAssessment",
      "http":{
        "method":"GET",
        "requestUri":"/insights/control-domains-by-assessment"
      },
      "input":{"shape":"ListControlDomainInsightsByAssessmentRequest"},
      "output":{"shape":"ListControlDomainInsightsByAssessmentResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists analytics data for control domains within a specified active assessment.</p> <p>Audit Manager supports the control domains that are provided by Amazon Web Services Control Catalog. For information about how to find a list of available control domains, see <a href=\"https://docs.aws.amazon.com/controlcatalog/latest/APIReference/API_ListDomains.html\"> <code>ListDomains</code> </a> in the Amazon Web Services Control Catalog API Reference.</p> <note> <p>A control domain is listed only if at least one of the controls within that domain collected evidence on the <code>lastUpdated</code> date of <code>controlDomainInsights</code>. If this condition isn’t met, no data is listed for that domain.</p> </note>"
    },
    "ListControlInsightsByControlDomain":{
      "name":"ListControlInsightsByControlDomain",
      "http":{
        "method":"GET",
        "requestUri":"/insights/controls"
      },
      "input":{"shape":"ListControlInsightsByControlDomainRequest"},
      "output":{"shape":"ListControlInsightsByControlDomainResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists the latest analytics data for controls within a specific control domain across all active assessments.</p> <note> <p>Control insights are listed only if the control belongs to the control domain that was specified and the control collected evidence on the <code>lastUpdated</code> date of <code>controlInsightsMetadata</code>. If neither of these conditions are met, no data is listed for that control. </p> </note>"
    },
    "ListControls":{
      "name":"ListControls",
      "http":{
        "method":"GET",
        "requestUri":"/controls"
      },
      "input":{"shape":"ListControlsRequest"},
      "output":{"shape":"ListControlsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Returns a list of controls from Audit Manager. </p>"
    },
    "ListKeywordsForDataSource":{
      "name":"ListKeywordsForDataSource",
      "http":{
        "method":"GET",
        "requestUri":"/dataSourceKeywords"
      },
      "input":{"shape":"ListKeywordsForDataSourceRequest"},
      "output":{"shape":"ListKeywordsForDataSourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns a list of keywords that are pre-mapped to the specified control data source.</p>"
    },
    "ListNotifications":{
      "name":"ListNotifications",
      "http":{
        "method":"GET",
        "requestUri":"/notifications"
      },
      "input":{"shape":"ListNotificationsRequest"},
      "output":{"shape":"ListNotificationsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Returns a list of all Audit Manager notifications. </p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Returns a list of tags for the specified resource in Audit Manager. </p>"
    },
    "RegisterAccount":{
      "name":"RegisterAccount",
      "http":{
        "method":"POST",
        "requestUri":"/account/registerAccount"
      },
      "input":{"shape":"RegisterAccountRequest"},
      "output":{"shape":"RegisterAccountResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p> Enables Audit Manager for the specified Amazon Web Services account. </p>"
    },
    "RegisterOrganizationAdminAccount":{
      "name":"RegisterOrganizationAdminAccount",
      "http":{
        "method":"POST",
        "requestUri":"/account/registerOrganizationAdminAccount"
      },
      "input":{"shape":"RegisterOrganizationAdminAccountRequest"},
      "output":{"shape":"RegisterOrganizationAdminAccountResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p> Enables an Amazon Web Services account within the organization as the delegated administrator for Audit Manager. </p>"
    },
    "StartAssessmentFrameworkShare":{
      "name":"StartAssessmentFrameworkShare",
      "http":{
        "method":"POST",
        "requestUri":"/assessmentFrameworks/{frameworkId}/shareRequests"
      },
      "input":{"shape":"StartAssessmentFrameworkShareRequest"},
      "output":{"shape":"StartAssessmentFrameworkShareResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Creates a share request for a custom framework in Audit Manager. </p> <p>The share request specifies a recipient and notifies them that a custom framework is available. Recipients have 120 days to accept or decline the request. If no action is taken, the share request expires.</p> <p>When you create a share request, Audit Manager stores a snapshot of your custom framework in the US East (N. Virginia) Amazon Web Services Region. Audit Manager also stores a backup of the same snapshot in the US West (Oregon) Amazon Web Services Region.</p> <p>Audit Manager deletes the snapshot and the backup snapshot when one of the following events occurs:</p> <ul> <li> <p>The sender revokes the share request.</p> </li> <li> <p>The recipient declines the share request.</p> </li> <li> <p>The recipient encounters an error and doesn't successfully accept the share request.</p> </li> <li> <p>The share request expires before the recipient responds to the request.</p> </li> </ul> <p>When a sender <a href=\"https://docs.aws.amazon.com/audit-manager/latest/userguide/framework-sharing.html#framework-sharing-resend\">resends a share request</a>, the snapshot is replaced with an updated version that corresponds with the latest version of the custom framework. </p> <p>When a recipient accepts a share request, the snapshot is replicated into their Amazon Web Services account under the Amazon Web Services Region that was specified in the share request. </p> <important> <p>When you invoke the <code>StartAssessmentFrameworkShare</code> API, you are about to share a custom framework with another Amazon Web Services account. You may not share a custom framework that is derived from a standard framework if the standard framework is designated as not eligible for sharing by Amazon Web Services, unless you have obtained permission to do so from the owner of the standard framework. To learn more about which standard frameworks are eligible for sharing, see <a href=\"https://docs.aws.amazon.com/audit-manager/latest/userguide/share-custom-framework-concepts-and-terminology.html#eligibility\">Framework sharing eligibility</a> in the <i>Audit Manager User Guide</i>.</p> </important>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Tags the specified resource in Audit Manager. </p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Removes a tag from a resource in Audit Manager. </p>"
    },
    "UpdateAssessment":{
      "name":"UpdateAssessment",
      "http":{
        "method":"PUT",
        "requestUri":"/assessments/{assessmentId}"
      },
      "input":{"shape":"UpdateAssessmentRequest"},
      "output":{"shape":"UpdateAssessmentResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p> Edits an Audit Manager assessment. </p>"
    },
    "UpdateAssessmentControl":{
      "name":"UpdateAssessmentControl",
      "http":{
        "method":"PUT",
        "requestUri":"/assessments/{assessmentId}/controlSets/{controlSetId}/controls/{controlId}"
      },
      "input":{"shape":"UpdateAssessmentControlRequest"},
      "output":{"shape":"UpdateAssessmentControlResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Updates a control within an assessment in Audit Manager. </p>"
    },
    "UpdateAssessmentControlSetStatus":{
      "name":"UpdateAssessmentControlSetStatus",
      "http":{
        "method":"PUT",
        "requestUri":"/assessments/{assessmentId}/controlSets/{controlSetId}/status"
      },
      "input":{"shape":"UpdateAssessmentControlSetStatusRequest"},
      "output":{"shape":"UpdateAssessmentControlSetStatusResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Updates the status of a control set in an Audit Manager assessment. </p>"
    },
    "UpdateAssessmentFramework":{
      "name":"UpdateAssessmentFramework",
      "http":{
        "method":"PUT",
        "requestUri":"/assessmentFrameworks/{frameworkId}"
      },
      "input":{"shape":"UpdateAssessmentFrameworkRequest"},
      "output":{"shape":"UpdateAssessmentFrameworkResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p> Updates a custom framework in Audit Manager. </p>"
    },
    "UpdateAssessmentFrameworkShare":{
      "name":"UpdateAssessmentFrameworkShare",
      "http":{
        "method":"PUT",
        "requestUri":"/assessmentFrameworkShareRequests/{requestId}"
      },
      "input":{"shape":"UpdateAssessmentFrameworkShareRequest"},
      "output":{"shape":"UpdateAssessmentFrameworkShareResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p> Updates a share request for a custom framework in Audit Manager. </p>"
    },
    "UpdateAssessmentStatus":{
      "name":"UpdateAssessmentStatus",
      "http":{
        "method":"PUT",
        "requestUri":"/assessments/{assessmentId}/status"
      },
      "input":{"shape":"UpdateAssessmentStatusRequest"},
      "output":{"shape":"UpdateAssessmentStatusResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p> Updates the status of an assessment in Audit Manager. </p>"
    },
    "UpdateControl":{
      "name":"UpdateControl",
      "http":{
        "method":"PUT",
        "requestUri":"/controls/{controlId}"
      },
      "input":{"shape":"UpdateControlRequest"},
      "output":{"shape":"UpdateControlResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Updates a custom control in Audit Manager. </p>"
    },
    "UpdateSettings":{
      "name":"UpdateSettings",
      "http":{
        "method":"PUT",
        "requestUri":"/settings"
      },
      "input":{"shape":"UpdateSettingsRequest"},
      "output":{"shape":"UpdateSettingsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Updates Audit Manager settings for the current account. </p>"
    },
    "ValidateAssessmentReportIntegrity":{
      "name":"ValidateAssessmentReportIntegrity",
      "http":{
        "method":"POST",
        "requestUri":"/assessmentReports/integrity"
      },
      "input":{"shape":"ValidateAssessmentReportIntegrityRequest"},
      "output":{"shape":"ValidateAssessmentReportIntegrityResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Validates the integrity of an assessment report in Audit Manager. </p>"
    }
  },
  "shapes":{
    "AWSAccount":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"AccountId",
          "documentation":"<p> The identifier for the Amazon Web Services account. </p>"
        },
        "emailAddress":{
          "shape":"EmailAddress",
          "documentation":"<p> The email address that's associated with the Amazon Web Services account. </p>"
        },
        "name":{
          "shape":"AccountName",
          "documentation":"<p> The name of the Amazon Web Services account. </p>"
        }
      },
      "documentation":"<p> The wrapper of Amazon Web Services account details, such as account ID or email address. </p>"
    },
    "AWSAccounts":{
      "type":"list",
      "member":{"shape":"AWSAccount"},
      "max":200,
      "min":1,
      "sensitive":true
    },
    "AWSService":{
      "type":"structure",
      "members":{
        "serviceName":{
          "shape":"AWSServiceName",
          "documentation":"<p> The name of the Amazon Web Services service. </p>"
        }
      },
      "documentation":"<p> An Amazon Web Services service such as Amazon S3 or CloudTrail. </p> <p>For an example of how to find an Amazon Web Services service name and how to define it in your assessment scope, see the following:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/audit-manager/latest/APIReference/API_GetServicesInScope.html#API_GetServicesInScope_Example_2\">Finding an Amazon Web Services service name to use in your assessment scope</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/audit-manager/latest/APIReference/API_GetServicesInScope.html#API_GetServicesInScope_Example_3\">Defining an Amazon Web Services service name in your assessment scope</a> </p> </li> </ul>"
    },
    "AWSServiceName":{
      "type":"string",
      "max":40,
      "min":1,
      "pattern":"^[a-zA-Z0-9-\\s().]+$"
    },
    "AWSServices":{
      "type":"list",
      "member":{"shape":"AWSService"}
    },
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p> Your account isn't registered with Audit Manager. Check the delegated administrator setup on the Audit Manager settings page, and try again. </p>",
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "AccountId":{
      "type":"string",
      "max":12,
      "min":12,
      "pattern":"^[0-9]{12}$"
    },
    "AccountName":{
      "type":"string",
      "max":50,
      "min":1,
      "pattern":"^[\\u0020-\\u007E]+$"
    },
    "AccountStatus":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "INACTIVE",
        "PENDING_ACTIVATION"
      ]
    },
    "ActionEnum":{
      "type":"string",
      "enum":[
        "CREATE",
        "UPDATE_METADATA",
        "ACTIVE",
        "INACTIVE",
        "DELETE",
        "UNDER_REVIEW",
        "REVIEWED",
        "IMPORT_EVIDENCE"
      ]
    },
    "ActionPlanInstructions":{
      "type":"string",
      "max":1000,
      "pattern":"^[\\w\\W\\s\\S]*$",
      "sensitive":true
    },
    "ActionPlanTitle":{
      "type":"string",
      "max":300,
      "pattern":"^[\\w\\W\\s\\S]*$",
      "sensitive":true
    },
    "Assessment":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"AuditManagerArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the assessment. </p>"
        },
        "awsAccount":{
          "shape":"AWSAccount",
          "documentation":"<p> The Amazon Web Services account that's associated with the assessment. </p>"
        },
        "metadata":{
          "shape":"AssessmentMetadata",
          "documentation":"<p> The metadata for the assessment. </p>"
        },
        "framework":{
          "shape":"AssessmentFramework",
          "documentation":"<p> The framework that the assessment was created from. </p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p> The tags that are associated with the assessment. </p>"
        }
      },
      "documentation":"<p> An entity that defines the scope of audit evidence collected by Audit Manager. An Audit Manager assessment is an implementation of an Audit Manager framework. </p>"
    },
    "AssessmentControl":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the control. </p>"
        },
        "name":{
          "shape":"ControlName",
          "documentation":"<p> The name of the control. </p>"
        },
        "description":{
          "shape":"ControlDescription",
          "documentation":"<p> The description of the control. </p>",
          "deprecated":true,
          "deprecatedMessage":"This data type will be deprecated on May 19, 2025. To view the assessment control description, use GetControl.",
          "deprecatedSince":"2025-05-19"
        },
        "status":{
          "shape":"ControlStatus",
          "documentation":"<p> The status of the control. </p>"
        },
        "response":{
          "shape":"ControlResponse",
          "documentation":"<p> The response of the control. </p>"
        },
        "comments":{
          "shape":"ControlComments",
          "documentation":"<p> The list of comments that's attached to the control. </p>"
        },
        "evidenceSources":{
          "shape":"EvidenceSources",
          "documentation":"<p> The list of data sources for the evidence. </p>"
        },
        "evidenceCount":{
          "shape":"Integer",
          "documentation":"<p> The amount of evidence that's collected for the control. </p>"
        },
        "assessmentReportEvidenceCount":{
          "shape":"Integer",
          "documentation":"<p> The amount of evidence in the assessment report. </p>"
        }
      },
      "documentation":"<p> The control entity that represents a standard control or a custom control in an Audit Manager assessment. </p>"
    },
    "AssessmentControlSet":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"ControlSetId",
          "documentation":"<p> The identifier of the control set in the assessment. This is the control set name in a plain string format. </p>"
        },
        "description":{
          "shape":"NonEmptyString",
          "documentation":"<p> The description for the control set. </p>"
        },
        "status":{
          "shape":"ControlSetStatus",
          "documentation":"<p> The current status of the control set. </p>"
        },
        "roles":{
          "shape":"Roles",
          "documentation":"<p> The roles that are associated with the control set. </p>"
        },
        "controls":{
          "shape":"AssessmentControls",
          "documentation":"<p> The list of controls that's contained with the control set. </p>"
        },
        "delegations":{
          "shape":"Delegations",
          "documentation":"<p> The delegations that are associated with the control set. </p>"
        },
        "systemEvidenceCount":{
          "shape":"Integer",
          "documentation":"<p> The total number of evidence objects that are retrieved automatically for the control set. </p>"
        },
        "manualEvidenceCount":{
          "shape":"Integer",
          "documentation":"<p> The total number of evidence objects that are uploaded manually to the control set. </p>"
        }
      },
      "documentation":"<p> Represents a set of controls in an Audit Manager assessment. </p>"
    },
    "AssessmentControlSets":{
      "type":"list",
      "member":{"shape":"AssessmentControlSet"}
    },
    "AssessmentControls":{
      "type":"list",
      "member":{"shape":"AssessmentControl"}
    },
    "AssessmentDescription":{
      "type":"string",
      "max":1000,
      "pattern":"^[\\w\\W\\s\\S]*$",
      "sensitive":true
    },
    "AssessmentEvidenceFolder":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"AssessmentEvidenceFolderName",
          "documentation":"<p> The name of the evidence folder. </p>"
        },
        "date":{
          "shape":"Timestamp",
          "documentation":"<p> The date when the first evidence was added to the evidence folder. </p>"
        },
        "assessmentId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the assessment. </p>"
        },
        "controlSetId":{
          "shape":"ControlSetId",
          "documentation":"<p> The identifier for the control set. </p>"
        },
        "controlId":{
          "shape":"UUID",
          "documentation":"<p> The unique identifier for the control. </p>"
        },
        "id":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the folder that the evidence is stored in. </p>"
        },
        "dataSource":{
          "shape":"String",
          "documentation":"<p> The Amazon Web Services service that the evidence was collected from. </p>"
        },
        "author":{
          "shape":"String",
          "documentation":"<p> The name of the user who created the evidence folder. </p>"
        },
        "totalEvidence":{
          "shape":"Integer",
          "documentation":"<p> The total amount of evidence in the evidence folder. </p>"
        },
        "assessmentReportSelectionCount":{
          "shape":"Integer",
          "documentation":"<p> The total count of evidence that's included in the assessment report. </p>"
        },
        "controlName":{
          "shape":"ControlName",
          "documentation":"<p> The name of the control. </p>"
        },
        "evidenceResourcesIncludedCount":{
          "shape":"Integer",
          "documentation":"<p> The amount of evidence that's included in the evidence folder. </p>"
        },
        "evidenceByTypeConfigurationDataCount":{
          "shape":"Integer",
          "documentation":"<p> The number of evidence that falls under the configuration data category. This evidence is collected from configuration snapshots of other Amazon Web Services services such as Amazon EC2, Amazon S3, or IAM. </p>"
        },
        "evidenceByTypeManualCount":{
          "shape":"Integer",
          "documentation":"<p> The number of evidence that falls under the manual category. This evidence is imported manually. </p>"
        },
        "evidenceByTypeComplianceCheckCount":{
          "shape":"Integer",
          "documentation":"<p> The number of evidence that falls under the compliance check category. This evidence is collected from Config or Security Hub. </p>"
        },
        "evidenceByTypeComplianceCheckIssuesCount":{
          "shape":"Integer",
          "documentation":"<p> The total number of issues that were reported directly from Security Hub, Config, or both. </p>"
        },
        "evidenceByTypeUserActivityCount":{
          "shape":"Integer",
          "documentation":"<p> The number of evidence that falls under the user activity category. This evidence is collected from CloudTrail logs. </p>"
        },
        "evidenceAwsServiceSourceCount":{
          "shape":"Integer",
          "documentation":"<p> The total number of Amazon Web Services resources that were assessed to generate the evidence. </p>"
        }
      },
      "documentation":"<p> The folder where Audit Manager stores evidence for an assessment. </p>"
    },
    "AssessmentEvidenceFolderName":{
      "type":"string",
      "max":300,
      "min":1,
      "pattern":"^[\\w\\W\\s\\S]*$"
    },
    "AssessmentEvidenceFolders":{
      "type":"list",
      "member":{"shape":"AssessmentEvidenceFolder"}
    },
    "AssessmentFramework":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"UUID",
          "documentation":"<p> The unique identifier for the framework. </p>"
        },
        "arn":{
          "shape":"AuditManagerArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the framework. </p>"
        },
        "metadata":{"shape":"FrameworkMetadata"},
        "controlSets":{
          "shape":"AssessmentControlSets",
          "documentation":"<p> The control sets that are associated with the framework. </p>"
        }
      },
      "documentation":"<p> The file used to structure and automate Audit Manager assessments for a given compliance standard. </p>",
      "sensitive":true
    },
    "AssessmentFrameworkDescription":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"^[\\w\\W\\s\\S]*$"
    },
    "AssessmentFrameworkMetadata":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"AuditManagerArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the framework. </p>"
        },
        "id":{
          "shape":"UUID",
          "documentation":"<p> The unique identifier for the framework. </p>"
        },
        "type":{
          "shape":"FrameworkType",
          "documentation":"<p> The framework type, such as a standard framework or a custom framework. </p>"
        },
        "name":{
          "shape":"FrameworkName",
          "documentation":"<p> The name of the framework. </p>"
        },
        "description":{
          "shape":"FrameworkDescription",
          "documentation":"<p> The description of the framework. </p>"
        },
        "logo":{
          "shape":"Filename",
          "documentation":"<p> The logo that's associated with the framework. </p>"
        },
        "complianceType":{
          "shape":"ComplianceType",
          "documentation":"<p> The compliance type that the new custom framework supports, such as CIS or HIPAA. </p>"
        },
        "controlsCount":{
          "shape":"ControlsCount",
          "documentation":"<p> The number of controls that are associated with the framework. </p>"
        },
        "controlSetsCount":{
          "shape":"ControlSetsCount",
          "documentation":"<p> The number of control sets that are associated with the framework. </p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p> The time when the framework was created. </p>"
        },
        "lastUpdatedAt":{
          "shape":"Timestamp",
          "documentation":"<p> The time when the framework was most recently updated. </p>"
        }
      },
      "documentation":"<p> The metadata that's associated with a standard framework or a custom framework. </p>"
    },
    "AssessmentFrameworkShareRequest":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"UUID",
          "documentation":"<p> The unique identifier for the share request. </p>"
        },
        "frameworkId":{
          "shape":"UUID",
          "documentation":"<p>The unique identifier for the shared custom framework. </p>"
        },
        "frameworkName":{
          "shape":"FrameworkName",
          "documentation":"<p> The name of the custom framework that the share request is for. </p>"
        },
        "frameworkDescription":{
          "shape":"FrameworkDescription",
          "documentation":"<p>The description of the shared custom framework.</p>"
        },
        "status":{
          "shape":"ShareRequestStatus",
          "documentation":"<p> The status of the share request. </p>"
        },
        "sourceAccount":{
          "shape":"AccountId",
          "documentation":"<p> The Amazon Web Services account of the sender. </p>"
        },
        "destinationAccount":{
          "shape":"AccountId",
          "documentation":"<p> The Amazon Web Services account of the recipient. </p>"
        },
        "destinationRegion":{
          "shape":"Region",
          "documentation":"<p> The Amazon Web Services Region of the recipient. </p>"
        },
        "expirationTime":{
          "shape":"Timestamp",
          "documentation":"<p> The time when the share request expires. </p>"
        },
        "creationTime":{
          "shape":"Timestamp",
          "documentation":"<p> The time when the share request was created. </p>"
        },
        "lastUpdated":{
          "shape":"Timestamp",
          "documentation":"<p> Specifies when the share request was last updated. </p>"
        },
        "comment":{
          "shape":"ShareRequestComment",
          "documentation":"<p> An optional comment from the sender about the share request. </p>"
        },
        "standardControlsCount":{
          "shape":"NullableInteger",
          "documentation":"<p>The number of standard controls that are part of the shared custom framework. </p>"
        },
        "customControlsCount":{
          "shape":"NullableInteger",
          "documentation":"<p>The number of custom controls that are part of the shared custom framework.</p>"
        },
        "complianceType":{
          "shape":"ComplianceType",
          "documentation":"<p>The compliance type that the shared custom framework supports, such as CIS or HIPAA.</p>"
        }
      },
      "documentation":"<p> Represents a share request for a custom framework in Audit Manager. </p>"
    },
    "AssessmentFrameworkShareRequestList":{
      "type":"list",
      "member":{"shape":"AssessmentFrameworkShareRequest"}
    },
    "AssessmentMetadata":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"AssessmentName",
          "documentation":"<p> The name of the assessment. </p>"
        },
        "id":{
          "shape":"UUID",
          "documentation":"<p> The unique identifier for the assessment. </p>"
        },
        "description":{
          "shape":"AssessmentDescription",
          "documentation":"<p> The description of the assessment. </p>"
        },
        "complianceType":{
          "shape":"ComplianceType",
          "documentation":"<p> The name of the compliance standard that's related to the assessment, such as PCI-DSS. </p>"
        },
        "status":{
          "shape":"AssessmentStatus",
          "documentation":"<p> The overall status of the assessment. </p>"
        },
        "assessmentReportsDestination":{
          "shape":"AssessmentReportsDestination",
          "documentation":"<p> The destination that evidence reports are stored in for the assessment. </p>"
        },
        "scope":{
          "shape":"Scope",
          "documentation":"<p> The wrapper of Amazon Web Services accounts and services that are in scope for the assessment. </p>"
        },
        "roles":{
          "shape":"Roles",
          "documentation":"<p> The roles that are associated with the assessment. </p>"
        },
        "delegations":{
          "shape":"Delegations",
          "documentation":"<p> The delegations that are associated with the assessment. </p>"
        },
        "creationTime":{
          "shape":"Timestamp",
          "documentation":"<p> Specifies when the assessment was created. </p>"
        },
        "lastUpdated":{
          "shape":"Timestamp",
          "documentation":"<p> The time of the most recent update. </p>"
        }
      },
      "documentation":"<p> The metadata that's associated with the specified assessment. </p>"
    },
    "AssessmentMetadataItem":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"AssessmentName",
          "documentation":"<p> The name of the assessment. </p>"
        },
        "id":{
          "shape":"UUID",
          "documentation":"<p> The unique identifier for the assessment. </p>"
        },
        "complianceType":{
          "shape":"ComplianceType",
          "documentation":"<p> The name of the compliance standard that's related to the assessment, such as PCI-DSS. </p>"
        },
        "status":{
          "shape":"AssessmentStatus",
          "documentation":"<p> The current status of the assessment. </p>"
        },
        "roles":{
          "shape":"Roles",
          "documentation":"<p> The roles that are associated with the assessment. </p>"
        },
        "delegations":{
          "shape":"Delegations",
          "documentation":"<p> The delegations that are associated with the assessment. </p>"
        },
        "creationTime":{
          "shape":"Timestamp",
          "documentation":"<p> Specifies when the assessment was created. </p>"
        },
        "lastUpdated":{
          "shape":"Timestamp",
          "documentation":"<p> The time of the most recent update. </p>"
        }
      },
      "documentation":"<p> A metadata object that's associated with an assessment in Audit Manager. </p>"
    },
    "AssessmentName":{
      "type":"string",
      "max":300,
      "min":1,
      "pattern":"^[^\\\\]*$",
      "sensitive":true
    },
    "AssessmentReport":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"UUID",
          "documentation":"<p> The unique identifier for the assessment report. </p>"
        },
        "name":{
          "shape":"AssessmentReportName",
          "documentation":"<p> The name that's given to the assessment report. </p>"
        },
        "description":{
          "shape":"AssessmentReportDescription",
          "documentation":"<p> The description of the specified assessment report. </p>"
        },
        "awsAccountId":{
          "shape":"AccountId",
          "documentation":"<p> The identifier for the specified Amazon Web Services account. </p>"
        },
        "assessmentId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the specified assessment. </p>"
        },
        "assessmentName":{
          "shape":"AssessmentName",
          "documentation":"<p> The name of the associated assessment. </p>"
        },
        "author":{
          "shape":"Username",
          "documentation":"<p> The name of the user who created the assessment report. </p>"
        },
        "status":{
          "shape":"AssessmentReportStatus",
          "documentation":"<p> The current status of the specified assessment report. </p>"
        },
        "creationTime":{
          "shape":"Timestamp",
          "documentation":"<p> Specifies when the assessment report was created. </p>"
        }
      },
      "documentation":"<p> A finalized document that's generated from an Audit Manager assessment. These reports summarize the relevant evidence that was collected for your audit, and link to the relevant evidence folders. These evidence folders are named and organized according to the controls that are specified in your assessment. </p>"
    },
    "AssessmentReportDescription":{
      "type":"string",
      "max":1000,
      "pattern":"^[\\w\\W\\s\\S]*$",
      "sensitive":true
    },
    "AssessmentReportDestinationType":{
      "type":"string",
      "enum":["S3"]
    },
    "AssessmentReportEvidenceError":{
      "type":"structure",
      "members":{
        "evidenceId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the evidence. </p>"
        },
        "errorCode":{
          "shape":"ErrorCode",
          "documentation":"<p> The error code that was returned. </p>"
        },
        "errorMessage":{
          "shape":"ErrorMessage",
          "documentation":"<p> The error message that was returned. </p>"
        }
      },
      "documentation":"<p> An error entity for assessment report evidence errors. This is used to provide more meaningful errors than a simple string message. </p>"
    },
    "AssessmentReportEvidenceErrors":{
      "type":"list",
      "member":{"shape":"AssessmentReportEvidenceError"}
    },
    "AssessmentReportMetadata":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"UUID",
          "documentation":"<p> The unique identifier for the assessment report. </p>"
        },
        "name":{
          "shape":"AssessmentReportName",
          "documentation":"<p> The name of the assessment report. </p>"
        },
        "description":{
          "shape":"AssessmentReportDescription",
          "documentation":"<p> The description of the assessment report. </p>"
        },
        "assessmentId":{
          "shape":"UUID",
          "documentation":"<p> The unique identifier for the associated assessment. </p>"
        },
        "assessmentName":{
          "shape":"AssessmentName",
          "documentation":"<p>The name of the associated assessment. </p>"
        },
        "author":{
          "shape":"Username",
          "documentation":"<p> The name of the user who created the assessment report. </p>"
        },
        "status":{
          "shape":"AssessmentReportStatus",
          "documentation":"<p> The current status of the assessment report. </p>"
        },
        "creationTime":{
          "shape":"Timestamp",
          "documentation":"<p> Specifies when the assessment report was created. </p>"
        }
      },
      "documentation":"<p> The metadata objects that are associated with the specified assessment report. </p>"
    },
    "AssessmentReportName":{
      "type":"string",
      "max":300,
      "min":1,
      "pattern":"^[a-zA-Z0-9-_\\.]+$"
    },
    "AssessmentReportStatus":{
      "type":"string",
      "enum":[
        "COMPLETE",
        "IN_PROGRESS",
        "FAILED"
      ]
    },
    "AssessmentReportsDestination":{
      "type":"structure",
      "members":{
        "destinationType":{
          "shape":"AssessmentReportDestinationType",
          "documentation":"<p> The destination type, such as Amazon S3. </p>"
        },
        "destination":{
          "shape":"S3Url",
          "documentation":"<p> The destination bucket where Audit Manager stores assessment reports. </p>"
        }
      },
      "documentation":"<p> The location where Audit Manager saves assessment reports for the given assessment. </p>",
      "sensitive":true
    },
    "AssessmentReportsMetadata":{
      "type":"list",
      "member":{"shape":"AssessmentReportMetadata"}
    },
    "AssessmentStatus":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "INACTIVE"
      ]
    },
    "AssociateAssessmentReportEvidenceFolderRequest":{
      "type":"structure",
      "required":[
        "assessmentId",
        "evidenceFolderId"
      ],
      "members":{
        "assessmentId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the assessment. </p>",
          "location":"uri",
          "locationName":"assessmentId"
        },
        "evidenceFolderId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the folder that the evidence is stored in. </p>"
        }
      }
    },
    "AssociateAssessmentReportEvidenceFolderResponse":{
      "type":"structure",
      "members":{}
    },
    "AuditManagerArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"^arn:.*:auditmanager:.*"
    },
    "BatchAssociateAssessmentReportEvidenceRequest":{
      "type":"structure",
      "required":[
        "assessmentId",
        "evidenceFolderId",
        "evidenceIds"
      ],
      "members":{
        "assessmentId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the assessment. </p>",
          "location":"uri",
          "locationName":"assessmentId"
        },
        "evidenceFolderId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the folder that the evidence is stored in. </p>"
        },
        "evidenceIds":{
          "shape":"EvidenceIds",
          "documentation":"<p> The list of evidence identifiers. </p>"
        }
      }
    },
    "BatchAssociateAssessmentReportEvidenceResponse":{
      "type":"structure",
      "members":{
        "evidenceIds":{
          "shape":"EvidenceIds",
          "documentation":"<p> The list of evidence identifiers. </p>"
        },
        "errors":{
          "shape":"AssessmentReportEvidenceErrors",
          "documentation":"<p> A list of errors that the <code>BatchAssociateAssessmentReportEvidence</code> API returned. </p>"
        }
      }
    },
    "BatchCreateDelegationByAssessmentError":{
      "type":"structure",
      "members":{
        "createDelegationRequest":{
          "shape":"CreateDelegationRequest",
          "documentation":"<p> The API request to batch create delegations in Audit Manager. </p>"
        },
        "errorCode":{
          "shape":"ErrorCode",
          "documentation":"<p> The error code that the <code>BatchCreateDelegationByAssessment</code> API returned. </p>"
        },
        "errorMessage":{
          "shape":"ErrorMessage",
          "documentation":"<p> The error message that the <code>BatchCreateDelegationByAssessment</code> API returned. </p>"
        }
      },
      "documentation":"<p> An error entity for the <code>BatchCreateDelegationByAssessment</code> API. This is used to provide more meaningful errors than a simple string message. </p>"
    },
    "BatchCreateDelegationByAssessmentErrors":{
      "type":"list",
      "member":{"shape":"BatchCreateDelegationByAssessmentError"},
      "sensitive":true
    },
    "BatchCreateDelegationByAssessmentRequest":{
      "type":"structure",
      "required":[
        "createDelegationRequests",
        "assessmentId"
      ],
      "members":{
        "createDelegationRequests":{
          "shape":"CreateDelegationRequests",
          "documentation":"<p> The API request to batch create delegations in Audit Manager. </p>"
        },
        "assessmentId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the assessment. </p>",
          "location":"uri",
          "locationName":"assessmentId"
        }
      }
    },
    "BatchCreateDelegationByAssessmentResponse":{
      "type":"structure",
      "members":{
        "delegations":{
          "shape":"Delegations",
          "documentation":"<p> The delegations that are associated with the assessment. </p>"
        },
        "errors":{
          "shape":"BatchCreateDelegationByAssessmentErrors",
          "documentation":"<p> A list of errors that the <code>BatchCreateDelegationByAssessment</code> API returned. </p>"
        }
      }
    },
    "BatchDeleteDelegationByAssessmentError":{
      "type":"structure",
      "members":{
        "delegationId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the delegation. </p>"
        },
        "errorCode":{
          "shape":"ErrorCode",
          "documentation":"<p> The error code that the <code>BatchDeleteDelegationByAssessment</code> API returned. </p>"
        },
        "errorMessage":{
          "shape":"ErrorMessage",
          "documentation":"<p> The error message that the <code>BatchDeleteDelegationByAssessment</code> API returned. </p>"
        }
      },
      "documentation":"<p> An error entity for the <code>BatchDeleteDelegationByAssessment</code> API. This is used to provide more meaningful errors than a simple string message. </p>"
    },
    "BatchDeleteDelegationByAssessmentErrors":{
      "type":"list",
      "member":{"shape":"BatchDeleteDelegationByAssessmentError"},
      "sensitive":true
    },
    "BatchDeleteDelegationByAssessmentRequest":{
      "type":"structure",
      "required":[
        "delegationIds",
        "assessmentId"
      ],
      "members":{
        "delegationIds":{
          "shape":"DelegationIds",
          "documentation":"<p> The identifiers for the delegations. </p>"
        },
        "assessmentId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the assessment. </p>",
          "location":"uri",
          "locationName":"assessmentId"
        }
      }
    },
    "BatchDeleteDelegationByAssessmentResponse":{
      "type":"structure",
      "members":{
        "errors":{
          "shape":"BatchDeleteDelegationByAssessmentErrors",
          "documentation":"<p> A list of errors that the <code>BatchDeleteDelegationByAssessment</code> API returned. </p>"
        }
      }
    },
    "BatchDisassociateAssessmentReportEvidenceRequest":{
      "type":"structure",
      "required":[
        "assessmentId",
        "evidenceFolderId",
        "evidenceIds"
      ],
      "members":{
        "assessmentId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the assessment. </p>",
          "location":"uri",
          "locationName":"assessmentId"
        },
        "evidenceFolderId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the folder that the evidence is stored in. </p>"
        },
        "evidenceIds":{
          "shape":"EvidenceIds",
          "documentation":"<p> The list of evidence identifiers. </p>"
        }
      }
    },
    "BatchDisassociateAssessmentReportEvidenceResponse":{
      "type":"structure",
      "members":{
        "evidenceIds":{
          "shape":"EvidenceIds",
          "documentation":"<p> The identifier for the evidence. </p>"
        },
        "errors":{
          "shape":"AssessmentReportEvidenceErrors",
          "documentation":"<p> A list of errors that the <code>BatchDisassociateAssessmentReportEvidence</code> API returned. </p>"
        }
      }
    },
    "BatchImportEvidenceToAssessmentControlError":{
      "type":"structure",
      "members":{
        "manualEvidence":{
          "shape":"ManualEvidence",
          "documentation":"<p> Manual evidence that can't be collected automatically by Audit Manager. </p>"
        },
        "errorCode":{
          "shape":"ErrorCode",
          "documentation":"<p> The error code that the <code>BatchImportEvidenceToAssessmentControl</code> API returned. </p>"
        },
        "errorMessage":{
          "shape":"ErrorMessage",
          "documentation":"<p> The error message that the <code>BatchImportEvidenceToAssessmentControl</code> API returned. </p>"
        }
      },
      "documentation":"<p> An error entity for the <code>BatchImportEvidenceToAssessmentControl</code> API. This is used to provide more meaningful errors than a simple string message. </p>"
    },
    "BatchImportEvidenceToAssessmentControlErrors":{
      "type":"list",
      "member":{"shape":"BatchImportEvidenceToAssessmentControlError"}
    },
    "BatchImportEvidenceToAssessmentControlRequest":{
      "type":"structure",
      "required":[
        "assessmentId",
        "controlSetId",
        "controlId",
        "manualEvidence"
      ],
      "members":{
        "assessmentId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the assessment. </p>",
          "location":"uri",
          "locationName":"assessmentId"
        },
        "controlSetId":{
          "shape":"ControlSetId",
          "documentation":"<p> The identifier for the control set. </p>",
          "location":"uri",
          "locationName":"controlSetId"
        },
        "controlId":{
          "shape":"UUID",
          "documentation":"<p> The identifier for the control. </p>",
          "location":"uri",
          "locationName":"controlId"
        },
        "manualEvidence":{
          "shape":"ManualEvidenceList",
          "documentation":"<p> The list of manual evidence objects. </p>"
        }
      }
    },
    "BatchImportEvidenceToAssessmentControlResponse":{
      "type":"structure",
      "members":{
        "errors":{
          "shape":"BatchImportEvidenceToAssessmentControlErrors",
          "documentation":"<p> A list of errors that the <code>BatchImportEvidenceToAssessmentControl</code> API returned. </p>"
        }
      }
    },
    "Boolean":{"type":"boolean"},
    "ChangeLog":{
      "type":"structure",
      "members":{
        "objectType":{
          "shape":"ObjectTypeEnum",
          "documentation":"<p> The object that was changed, such as an assessment, control, or control set. </p>"
        },
        "objectName":{
          "shape":"NonEmptyString",
          "documentation":"<p> The name of the object that changed. This could be the name of an assessment, control, or control set.</p>"
        },
        "action":{
          "shape":"ActionEnum",
          "documentation":"<p> The action that was performed. </p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p> The time when the action was performed and the changelog record was created. </p>"
        },
        "createdBy":{
          "shape":"IamArn",
          "documentation":"<p> The user or role that performed the action. </p>"
        }
      },
      "documentation":"<p> The record of a change within Audit Manager. For example, this could be the status change of an assessment or the delegation of a control set. </p>"
    },
    "ChangeLogs":{
      "type":"list",
      "member":{"shape":"ChangeLog"}
    },
    "CloudTrailArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"^arn:.*:cloudtrail:.*"
    },
    "ComplianceType":{
      "type":"string",
      "max":100,
      "pattern":"^[\\w\\W\\s\\S]*$",
      "sensitive":true
    },
    "Control":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"AuditManagerArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the control. </p>"
        },
        "id":{
          "shape":"UUID",
          "documentation":"<p> The unique identifier for the control. </p>"
        },
        "type":{
          "shape":"ControlType",
          "documentation":"<p> Specifies whether the control is a standard control or a custom control.</p>"
        },
        "name":{
          "shape":"ControlName",
          "documentation":"<p> The name of the control. </p>"
        },
        "description":{
          "shape":"ControlDescription",
          "documentation":"<p> The description of the control. </p>"
        },
        "testingInformation":{
          "shape":"TestingInformation",
          "documentation":"<p> The steps that you should follow to determine if the control has been satisfied. </p>"
        },
        "actionPlanTitle":{
          "shape":"ActionPlanTitle",
          "documentation":"<p> The title of the action plan for remediating the control. </p>"
        },
        "actionPlanInstructions":{
          "shape":"ActionPlanInstructions",
          "documentation":"<p> The recommended actions to carry out if the control isn't fulfilled. </p>"
        },
        "controlSources":{
          "shape":"ControlSources",
          "documentation":"<p> The data source types that determine where Audit Manager collects evidence from for the control. </p>"
        },
        "controlMappingSources":{
          "shape":"ControlMappingSources",
          "documentation":"<p> The data mapping sources for the control. </p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p> The time when the control was created. </p>"
        },
        "lastUpdatedAt":{
          "shape":"Timestamp",
          "documentation":"<p> The time when the control was most recently updated. </p>"
        },
        "createdBy":{
          "shape":"CreatedBy",
          "documentation":"<p> The user or role that created the control. </p>"
        },
        "lastUpdatedBy":{
          "shape":"LastUpdatedBy",
          "documentation":"<p> The user or role that most recently updated the control. </p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p> The tags associated with the control. </p>"
        },
        "state":{
          "shape":"ControlState",
          "documentation":"<p>The state of the control. The <code>END_OF_SUPPORT</code> state is applicable to standard controls only. This state indicates that the standard control can still be used to collect evidence, but Audit Manager is no longer updating or maintaining that control.</p>"
        }
      },
      "documentation":"<p> A control in Audit Manager. </p>"
    },
    "ControlCatalogId":{
      "type":"string",
      "max":2048,
      "min":13,
      "pattern":"^arn:.*:controlcatalog:.*|UNCATEGORIZED"
    },
    "ControlComment":{
      "type":"structure",
      "members":{
        "authorName":{
          "shape":"Username",
          "documentation":"<p> The name of the user who authored the comment. </p>"
        },
        "commentBody":{
          "shape":"ControlCommentBody",
          "documentation":"<p> The body text of a control comment. </p>"
        },
        "postedDate":{
          "shape":"Timestamp",
          "documentation":"<p> The time when the comment was posted. </p>"
        }
      },
      "documentation":"<p> A comment that's posted by a user on a control. This includes the author's name, the comment text, and a timestamp. </p>"
    },
    "ControlCommentBody":{
      "type":"string",
      "max":500,
      "pattern":"^[\\w\\W\\s\\S]*$",
      "sensitive":true
    },
    "ControlComments":{
      "type":"list",
      "member":{"shape":"ControlComment"}
    },
    "ControlDescription":{
      "type":"string",
      "max":1000,
      "pattern":"^[\\w\\W\\s\\S]*$",
      "sensitive":true
    },
    "ControlDomainId":{
      "type":"string",
      "max":2048,
      "min":13,
      "pattern":"^arn:.*:controlcatalog:.*:.*:domain/.*|UNCATEGORIZED|^[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}$"
    },
    "ControlDomainInsights":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the control domain. </p>"
        },
        "id":{
          "shape":"ControlDomainId",
          "documentation":"<p>The unique identifier for the control domain. Audit Manager supports the control domains that are provided by Amazon Web Services Control Catalog. For information about how to find a list of available control domains, see <a href=\"https://docs.aws.amazon.com/controlcatalog/latest/APIReference/API_ListDomains.html\"> <code>ListDomains</code> </a> in the Amazon Web Services Control Catalog API Reference.</p>"
        },
        "controlsCountByNoncompliantEvidence":{
          "shape":"NullableInteger",
          "documentation":"<p>The number of controls in the control domain that collected non-compliant evidence on the <code>lastUpdated</code> date. </p>"
        },
        "totalControlsCount":{
          "shape":"NullableInteger",
          "documentation":"<p>The total number of controls in the control domain. </p>"
        },
        "evidenceInsights":{
          "shape":"EvidenceInsights",
          "documentation":"<p>A breakdown of the compliance check status for the evidence that’s associated with the control domain. </p>"
        },
        "lastUpdated":{
          "shape":"Timestamp",
          "documentation":"<p>The time when the control domain insights were last updated. </p>"
        }
      },
      "documentation":"<p>A summary of the latest analytics data for a specific control domain.</p> <p>Control domain insights are grouped by control domain, and ranked by the highest total count of non-compliant evidence.</p>"
    },
    "ControlDomainInsightsList":{
      "type":"list",
      "member":{"shape":"ControlDomainInsights"}
    },
    "ControlInsightsMetadata":{
      "type":"list",
      "member":{"shape":"ControlInsightsMetadataItem"}
    },
    "ControlInsightsMetadataByAssessment":{
      "type":"list",
      "member":{"shape":"ControlInsightsMetadataByAssessmentItem"}
    },
    "ControlInsightsMetadataByAssessmentItem":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the assessment control. </p>"
        },
        "id":{
          "shape":"ControlDomainId",
          "documentation":"<p>The unique identifier for the assessment control. </p>"
        },
        "evidenceInsights":{
          "shape":"EvidenceInsights",
          "documentation":"<p>A breakdown of the compliance check status for the evidence that’s associated with the assessment control. </p>"
        },
        "controlSetName":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of the control set that the assessment control belongs to. </p>"
        },
        "lastUpdated":{
          "shape":"Timestamp",
          "documentation":"<p>The time when the assessment control insights were last updated. </p>"
        }
      },
      "documentation":"<p>A summary of the latest analytics data for a specific control in a specific active assessment.</p> <p>Control insights are grouped by control domain, and ranked by the highest total count of non-compliant evidence. </p>"
    },
    "ControlInsightsMetadataItem":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the control. </p>"
        },
        "id":{
          "shape":"ControlDomainId",
          "documentation":"<p>The unique identifier for the control. </p>"
        },
        "evidenceInsights":{
          "shape":"EvidenceInsights",
          "documentation":"<p>A breakdown of the compliance check status for the evidence that’s associated with the control. </p>"
        },
        "lastUpdated":{
          "shape":"Timestamp",
          "documentation":"<p>The time when the control insights were last updated. </p>"
        }
      },
      "documentation":"<p>A summary of the latest analytics data for a specific control. </p> <p>This data reflects the total counts for the specified control across all active assessments. Control insights are grouped by control domain, and ranked by the highest total count of non-compliant evidence.</p>"
    },
    "ControlMappingSource":{
      "type":"structure",
      "members":{
        "sourceId":{
          "shape":"UUID",
          "documentation":"<p> The unique identifier for the source. </p>"
        },
        "sourceName":{
          "shape":"SourceName",
          "documentation":"<p> The name of the source. </p>"
        },
        "sourceDescription":{
          "shape":"SourceDescription",
          "documentation":"<p> The description of the source. </p>"
        },
        "sourceSetUpOption":{
          "shape":"SourceSetUpOption",
          "documentation":"<p>The setup option for the data source. This option reflects if the evidence collection method is automated or manual. If you don’t provide a value for <code>sourceSetUpOption</code>, Audit Manager automatically infers and populates the correct value based on the <code>sourceType</code> that you specify.</p>"
        },
        "sourceType":{
          "shape":"SourceType",
          "documentation":"<p> Specifies which type of data source is used to collect evidence. </p> <ul> <li> <p>The source can be an individual data source type, such as <code>AWS_Cloudtrail</code>, <code>AWS_Config</code>, <code>AWS_Security_Hub</code>, <code>AWS_API_Call</code>, or <code>MANUAL</code>. </p> </li> <li> <p>The source can also be a managed grouping of data sources, such as a <code>Core_Control</code> or a <code>Common_Control</code>.</p> </li> </ul>"
        },
        "sourceKeyword":{"shape":"SourceKeyword"},
        "sourceFrequency":{
          "shape":"SourceFrequency",
          "documentation":"<p>Specifies how often evidence is collected from the control mapping source. </p>"
        },
        "troubleshootingText":{
          "shape":"TroubleshootingText",
          "documentation":"<p> The instructions for troubleshooting the control. </p>"
        }
      },
      "documentation":"<p> The data source that determines where Audit Manager collects evidence from for the control. </p>"
    },
    "ControlMappingSources":{
      "type":"list",
      "member":{"shape":"ControlMappingSource"},
      "min":1
    },
    "ControlMetadata":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"AuditManagerArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the control. </p>"
        },
        "id":{
          "shape":"UUID",
          "documentation":"<p> The unique identifier for the control. </p>"
        },
        "name":{
          "shape":"ControlName",
          "documentation":"<p> The name of the control. </p>"
        },
        "controlSources":{
          "shape":"ControlSources",
          "documentation":"<p> The data source that determines where Audit Manager collects evidence from for the control. </p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p> The time when the control was created. </p>"
        },
        "lastUpdatedAt":{
          "shape":"Timestamp",
          "documentation":"<p> The time when the control was most recently updated. </p>"
        }
      },
      "documentation":"<p> The metadata that's associated with the standard control or custom control. </p>"
    },
    "ControlMetadataList":{
      "type":"list",
      "member":{"shape":"ControlMetadata"}
    },
    "ControlName":{
      "type":"string",
      "max":300,
      "min":1,
      "pattern":"^[^\\\\]*$"
    },
[...]
