<section class="gh-canvasg">
    
    <h1>{{this.post.title}}</h1>
    <p>This is the analytics page for post {{this.post.id}}</p>
    <p>Sends: {{this.post.email.emailCount}}</p>
    <p>Opened: {{this.post.email.openedCount}}</p>
</section>
