<section class="gh-canvas">

    <GhCanvasHeader class="gh-canvas-header stacked gh-post-analytics-header">
        <div class="gh-canvas-breadcrumb">
            <LinkTo @route="posts">
                Posts
            </LinkTo>
            {{svg-jar "arrow-right-small"}}Analytics
        </div>
        <h2 class="gh-canvas-title gh-post-title">
            {{this.post.title}}
        </h2>
        <p class="gh-post-analytics-meta">Published and sent on 12 Feb 2022 at 11:57 to free subscribers</p>
    </GhCanvasHeader>

    <h4 class="gh-main-section-header small bn">
        Engagement
    </h4>
    <div class="gh-post-analytics-box">
        <div class="gh-post-analytics-item">
            <h3>20.251</h3>
            <p>Sent</p>
        </div>
        <div class="gh-post-analytics-item">
            <h3>60%</h3>
            <p><strong>12.200</strong> opened</p>
        </div>
        <div class="gh-post-analytics-item">
            <h3>15%</h3>
            <p><strong>3.038</strong> clicked</p>
        </div>
        <div class="gh-post-analytics-item">
            <h3>16</h3>
            <p>Free signups</p>
        </div>
        <div class="gh-post-analytics-item">
            <h3>10</h3>
            <p>Paid conversions</p>
        </div>
    </div>

    <h4 class="gh-main-section-header small bn">
        Link clicks
    </h4>
    <div class="gh-post-analytics-box column">
        <div class="gh-links-list">
            <div class="gh-links-list-item">
                <a href="#">https://vanschneider.com/blog/#/portal/signup</a>
                <p class="gh-links-list-clicks">18</p>
            </div>
            <div class="gh-links-list-item">
                <a href="#">https://vanschneider.com/blog/an-unsolicited-portfolio-review-featuring-2/</a>
                <p class="gh-links-list-clicks">16</p>
            </div>
            <div class="gh-links-list-item">
                <a href="#">https://vanschneider.com/blog/#/portal/unsubscribe</a>
                <p class="gh-links-list-clicks">3</p>
            </div>
            <div class="gh-links-list-item">
                <a href="#">https://vanschneider.com/blog/#/portal/signin</a>
                <p class="gh-links-list-clicks">0</p>
            </div>
        </div>
    </div>

    <h4 class="gh-main-section-header small bn">
        Get started with analytics
    </h4>
    <div class="gh-post-analytics-box resources">
        <div class="gh-post-analytics-resource">
            <div class="thumbnail" style="background-image: url(assets/img/marketing/analytics-1.jpg);"></div>
            <div class="flex flex-column justify-between">
                <div>
                    <h3>📈 Understand analytics in Ghost</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="gh-btn gh-btn-link">Become an expert &rarr;</div>
            </div>
        </div>
        <div class="gh-post-analytics-resource">
            <div class="thumbnail" style="background-image: url(assets/img/marketing/analytics-2.jpg);"></div>
            <div class="flex flex-column justify-between">
                <div>
                    <h3>How to best share your shiz</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="gh-btn gh-btn-link">Sharing is caring &rarr;</div>
            </div>
        </div>
    </div>
    
</section>
