<div class="kg-paywall align-center">
    <table class="kg-paywall-hr" role="presentation" width="100%" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>
                    <!--[if !mso]><!-- -->
                    <hr style="display: none;" />
                    <!--<![endif]-->
                    <table class="kg-hr" role="presentation" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <h3>{{t 'Upgrade to continue reading.'}}</h3>
    <p>{{{t 'Become a paid member of {site} to get access to all premium content.' site=site.title}}}</p>
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <table class="btn" border="0" cellspacing="0" cellpadding="0" align="center">
                        <tr>
                            <td align="center">
                                <a href="{{paywall.signupUrl}}">{{t 'Upgrade'}}</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    <p></p>
</div>