@import "koenig-toolbar.css";
@import "koenig-menu.css";
@import "../ghost-editor/cardmenu.css";

.editor-holder {
    height: 100%;
}
.gh-koenig {
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

.__mobiledoc-editor {
    width: 100%;
    height: 100%;
    min-height: 300px;
    padding-bottom: 10vw;
    outline: none;
    font-family: var(--font-family);
    font-size: 1.7rem;
    resize: none;
    font-weight: 200;
    letter-spacing: 0.1px;
}

.dropper-bottom {
    border-bottom: 66px solid #5ba4e5;
}

.dropper-top {
    border-top: 66px solid #5ba4e5;
}

.dropper-left {
    border-left: 66px solid #5ba4e5;
}

.dropper-right {
    border-right: 66px solid #5ba4e5;
}

.__mobiledoc-editor div {

}

.kg-card {
    position: relative;
    display: block; /* required for cursor movement around card */
    width: 100%;
}

.kg-card:hover {
    box-shadow: var(--blue) 0 0 0 1px;
}

.kg-card .card-handle {
    position: absolute;
    right: 0px;
    top: 0px;
    margin-top: -25px;
    height: 20px;
    display: none;
}

.kg-card:hover .card-handle {
    display: block;
}

.kg-card .card-handle label {
    font-size: 10px;
}


.kg-card .card-handle button {
    background-color: var(--lightgrey);
    border: 1px solid var(--midgrey);
    font-size: 10px;
    min-width: 80px;
}

.kg-card textarea {
    min-height: 333px;
    max-width: 900px;
    outline: none;
    border: none;
    resize: none;
}

.card-handle button:hover {
    background-color: #718087;
    color: #fff;
}

.card-handle button.confirm {
    animation-duration: 1s;
    animation-name: rotate;
    background-color: red;
    color: #e9e8dd;
}

.card-handle button.move {
    background-image: url('http: //localhost: 4200/assets/move.png');
    background-color: #9fbb58;
    margin-left: -10px;
    margin-right: 20px;

    cursor: -webkit-grab;
    cursor: -moz-grab;
}



textarea.ed_code {
    width: 100%;
    height: 100%;
    border: none;
}



/**
 * Tooltip
 */


@keyframes tooltip-fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.__mobiledoc-tooltip {
    white-space: nowrap;
    position: absolute;
    background-color: #5ba4e5;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    color: #FFF;
    -webkit-animation: tooltip-fadein 0.333s;
    animation: tooltip-fadein 0.333s;
}
.__mobiledoc-tooltip a {
    color: #FFF;
}
.__mobiledoc-tooltip:before {
    content: '';
    position: absolute;

    left: 50%;
    top: -9px;

    margin-left: -10px;

    border-bottom: 10px solid #5ba4e5;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}


.kg-card .gh-image-uploader .upload-form {
    width: 100%;
    height: 350px;
    background: color(var(--lightgrey) l(+4%));
    box-shadow: var(--lightgrey) 0 0 0 1px inset, #fff 0 0 0 15px inset;
    border-radius: 3px;
}
