<div class="modal-content">
    <header class="modal-header">
        <h1>Are you sure you want to suspend this user?</h1>
    </header>
    <button type="button" class="close" title="Close" {{on "click" @close}}>{{svg-jar "close"}}<span class="hidden">Close</span></button>

    <div class="modal-body">
        <strong>WARNING:</strong> This user will no longer be able to log in but their posts will be kept.
    </div>

    <div class="modal-footer">
        <button class="gh-btn" type="button" {{on "click" @close}}><span>Cancel</span></button>
        <GhTaskButton
            @buttonText="Suspend"
            @successText="Suspended"
            @task={{this.suspendUserTask}}
            @class="gh-btn gh-btn-red gh-btn-icon"
            data-test-modal-confirm="true"
        />
    </div>
</div>