<div class="modal-content" data-test-modal="transfer-owner">
    <header class="modal-header">
        <h1>Transfer Ownership</h1>
    </header>
    <button type="button" class="close" title="Close" {{on "click" @close}}>{{svg-jar "close"}}<span class="hidden">Close</span></button>

    <div class="modal-body">
        <p>
            Are you sure you want to transfer the ownership of this blog?
            You will not be able to undo this action.
        </p>
    </div>

    <div class="modal-footer">
        <button class="gh-btn" type="button" {{on "click" @close}}><span>Cancel</span></button>
        <GhTaskButton
            @buttonText="Yep - I'm sure"
            @task={{this.transferOwnershipTask}}
            @class="gh-btn gh-btn-red gh-btn-icon"
        />
    </div>
</div>