{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2023-08-01",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"neptune-db",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"Amazon NeptuneData",
    "serviceId":"neptunedata",
    "signatureVersion":"v4",
    "signingName":"neptune-db",
    "uid":"neptunedata-2023-08-01"
  },
  "operations":{
    "CancelGremlinQuery":{
      "name":"CancelGremlinQuery",
      "http":{
        "method":"DELETE",
        "requestUri":"/gremlin/status/{queryId}",
        "responseCode":200
      },
      "input":{"shape":"CancelGremlinQueryInput"},
      "output":{"shape":"CancelGremlinQueryOutput"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"FailureByQueryException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ParsingException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"TimeLimitExceededException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"MissingParameterException"}
      ],
      "documentation":"<p>Cancels a Gremlin query. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/gremlin-api-status-cancel.html\">Gremlin query cancellation</a> for more information.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#cancelquery\">neptune-db:CancelQuery</a> IAM action in that cluster.</p>",
      "idempotent":true
    },
    "CancelLoaderJob":{
      "name":"CancelLoaderJob",
      "http":{
        "method":"DELETE",
        "requestUri":"/loader/{loadId}",
        "responseCode":200
      },
      "input":{"shape":"CancelLoaderJobInput"},
      "output":{"shape":"CancelLoaderJobOutput"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"BulkLoadIdNotFoundException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"LoadUrlAccessDeniedException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"InternalFailureException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"MissingParameterException"}
      ],
      "documentation":"<p>Cancels a specified load job. This is an HTTP <code>DELETE</code> request. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/load-api-reference-status.htm\">Neptune Loader Get-Status API</a> for more information.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#cancelloaderjob\">neptune-db:CancelLoaderJob</a> IAM action in that cluster..</p>",
      "idempotent":true
    },
    "CancelMLDataProcessingJob":{
      "name":"CancelMLDataProcessingJob",
      "http":{
        "method":"DELETE",
        "requestUri":"/ml/dataprocessing/{id}",
        "responseCode":200
      },
      "input":{"shape":"CancelMLDataProcessingJobInput"},
      "output":{"shape":"CancelMLDataProcessingJobOutput"},
      "errors":[
        {"shape":"UnsupportedOperationException"},
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"MLResourceNotFoundException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"MissingParameterException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Cancels a Neptune ML data processing job. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-api-dataprocessing.html\">The <code>dataprocessing</code> command</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#cancelmldataprocessingjob\">neptune-db:CancelMLDataProcessingJob</a> IAM action in that cluster.</p>",
      "idempotent":true
    },
    "CancelMLModelTrainingJob":{
      "name":"CancelMLModelTrainingJob",
      "http":{
        "method":"DELETE",
        "requestUri":"/ml/modeltraining/{id}",
        "responseCode":200
      },
      "input":{"shape":"CancelMLModelTrainingJobInput"},
      "output":{"shape":"CancelMLModelTrainingJobOutput"},
      "errors":[
        {"shape":"UnsupportedOperationException"},
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"MLResourceNotFoundException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"MissingParameterException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Cancels a Neptune ML model training job. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-api-modeltraining.html\">Model training using the <code>modeltraining</code> command</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#cancelmlmodeltrainingjob\">neptune-db:CancelMLModelTrainingJob</a> IAM action in that cluster.</p>",
      "idempotent":true
    },
    "CancelMLModelTransformJob":{
      "name":"CancelMLModelTransformJob",
      "http":{
        "method":"DELETE",
        "requestUri":"/ml/modeltransform/{id}",
        "responseCode":200
      },
      "input":{"shape":"CancelMLModelTransformJobInput"},
      "output":{"shape":"CancelMLModelTransformJobOutput"},
      "errors":[
        {"shape":"UnsupportedOperationException"},
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"MLResourceNotFoundException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"MissingParameterException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Cancels a specified model transform job. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-model-transform.html\">Use a trained model to generate new model artifacts</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#cancelmlmodeltransformjob\">neptune-db:CancelMLModelTransformJob</a> IAM action in that cluster.</p>",
      "idempotent":true
    },
    "CancelOpenCypherQuery":{
      "name":"CancelOpenCypherQuery",
      "http":{
        "method":"DELETE",
        "requestUri":"/opencypher/status/{queryId}",
        "responseCode":200
      },
      "input":{"shape":"CancelOpenCypherQueryInput"},
      "output":{"shape":"CancelOpenCypherQueryOutput"},
      "errors":[
        {"shape":"InvalidNumericDataException"},
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"FailureByQueryException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ParsingException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"TimeLimitExceededException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"MissingParameterException"}
      ],
      "documentation":"<p>Cancels a specified openCypher query. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/access-graph-opencypher-status.html\">Neptune openCypher status endpoint</a> for more information.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#cancelquery\">neptune-db:CancelQuery</a> IAM action in that cluster.</p>",
      "idempotent":true
    },
    "CreateMLEndpoint":{
      "name":"CreateMLEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/ml/endpoints",
        "responseCode":200
      },
      "input":{"shape":"CreateMLEndpointInput"},
      "output":{"shape":"CreateMLEndpointOutput"},
      "errors":[
        {"shape":"UnsupportedOperationException"},
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"MLResourceNotFoundException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"MissingParameterException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Creates a new Neptune ML inference endpoint that lets you query one specific model that the model-training process constructed. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-api-endpoints.html\">Managing inference endpoints using the endpoints command</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#createmlendpoint\">neptune-db:CreateMLEndpoint</a> IAM action in that cluster.</p>"
    },
    "DeleteMLEndpoint":{
      "name":"DeleteMLEndpoint",
      "http":{
        "method":"DELETE",
        "requestUri":"/ml/endpoints/{id}",
        "responseCode":200
      },
      "input":{"shape":"DeleteMLEndpointInput"},
      "output":{"shape":"DeleteMLEndpointOutput"},
      "errors":[
        {"shape":"UnsupportedOperationException"},
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"MLResourceNotFoundException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"MissingParameterException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Cancels the creation of a Neptune ML inference endpoint. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-api-endpoints.html\">Managing inference endpoints using the endpoints command</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#deletemlendpoint\">neptune-db:DeleteMLEndpoint</a> IAM action in that cluster.</p>",
      "idempotent":true
    },
    "DeletePropertygraphStatistics":{
      "name":"DeletePropertygraphStatistics",
      "http":{
        "method":"DELETE",
        "requestUri":"/propertygraph/statistics",
        "responseCode":200
      },
      "output":{"shape":"DeletePropertygraphStatisticsOutput"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"StatisticsNotAvailableException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"AccessDeniedException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ReadOnlyViolationException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"MissingParameterException"}
      ],
      "documentation":"<p>Deletes statistics for Gremlin and openCypher (property graph) data.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#deletestatistics\">neptune-db:DeleteStatistics</a> IAM action in that cluster.</p>",
      "idempotent":true
    },
    "DeleteSparqlStatistics":{
      "name":"DeleteSparqlStatistics",
      "http":{
        "method":"DELETE",
        "requestUri":"/sparql/statistics",
        "responseCode":200
      },
      "output":{"shape":"DeleteSparqlStatisticsOutput"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"StatisticsNotAvailableException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"AccessDeniedException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ReadOnlyViolationException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"MissingParameterException"}
      ],
      "documentation":"<p>Deletes SPARQL statistics</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#deletestatistics\">neptune-db:DeleteStatistics</a> IAM action in that cluster.</p>",
      "idempotent":true
    },
    "ExecuteFastReset":{
      "name":"ExecuteFastReset",
      "http":{
        "method":"POST",
        "requestUri":"/system",
        "responseCode":200
      },
      "input":{"shape":"ExecuteFastResetInput"},
      "output":{"shape":"ExecuteFastResetOutput"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"AccessDeniedException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"MethodNotAllowedException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ServerShutdownException"},
        {"shape":"ReadOnlyViolationException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"MissingParameterException"}
      ],
      "documentation":"<p>The fast reset REST API lets you reset a Neptune graph quicky and easily, removing all of its data.</p> <p>Neptune fast reset is a two-step process. First you call <code>ExecuteFastReset</code> with <code>action</code> set to <code>initiateDatabaseReset</code>. This returns a UUID token which you then include when calling <code>ExecuteFastReset</code> again with <code>action</code> set to <code>performDatabaseReset</code>. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/manage-console-fast-reset.html\">Empty an Amazon Neptune DB cluster using the fast reset API</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#resetdatabase\">neptune-db:ResetDatabase</a> IAM action in that cluster.</p>",
      "idempotent":true
    },
    "ExecuteGremlinExplainQuery":{
      "name":"ExecuteGremlinExplainQuery",
      "http":{
        "method":"POST",
        "requestUri":"/gremlin/explain",
        "responseCode":200
      },
      "input":{"shape":"ExecuteGremlinExplainQueryInput"},
      "output":{"shape":"ExecuteGremlinExplainQueryOutput"},
      "errors":[
        {"shape":"QueryTooLargeException"},
        {"shape":"BadRequestException"},
        {"shape":"QueryLimitExceededException"},
        {"shape":"InvalidParameterException"},
        {"shape":"QueryLimitException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"CancelledByUserException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"FailureByQueryException"},
        {"shape":"MemoryLimitExceededException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"MalformedQueryException"},
        {"shape":"ParsingException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"TimeLimitExceededException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"MissingParameterException"}
      ],
      "documentation":"<p>Executes a Gremlin Explain query.</p> <p>Amazon Neptune has added a Gremlin feature named <code>explain</code> that provides is a self-service tool for understanding the execution approach being taken by the Neptune engine for the query. You invoke it by adding an <code>explain</code> parameter to an HTTP call that submits a Gremlin query.</p> <p>The explain feature provides information about the logical structure of query execution plans. You can use this information to identify potential evaluation and execution bottlenecks and to tune your query, as explained in <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/gremlin-traversal-tuning.html\">Tuning Gremlin queries</a>. You can also use query hints to improve query execution plans.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows one of the following IAM actions in that cluster, depending on the query:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#readdataviaquery\">neptune-db:ReadDataViaQuery</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#writedataviaquery\">neptune-db:WriteDataViaQuery</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#deletedataviaquery\">neptune-db:DeleteDataViaQuery</a> </p> </li> </ul> <p>Note that the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html#iam-neptune-condition-keys\">neptune-db:QueryLanguage:Gremlin</a> IAM condition key can be used in the policy document to restrict the use of Gremlin queries (see <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html\">Condition keys available in Neptune IAM data-access policy statements</a>).</p>"
    },
    "ExecuteGremlinProfileQuery":{
      "name":"ExecuteGremlinProfileQuery",
      "http":{
        "method":"POST",
        "requestUri":"/gremlin/profile",
        "responseCode":200
      },
      "input":{"shape":"ExecuteGremlinProfileQueryInput"},
      "output":{"shape":"ExecuteGremlinProfileQueryOutput"},
      "errors":[
        {"shape":"QueryTooLargeException"},
        {"shape":"BadRequestException"},
        {"shape":"QueryLimitExceededException"},
        {"shape":"InvalidParameterException"},
        {"shape":"QueryLimitException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"CancelledByUserException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"FailureByQueryException"},
        {"shape":"MemoryLimitExceededException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"MalformedQueryException"},
        {"shape":"ParsingException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"TimeLimitExceededException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"MissingParameterException"}
      ],
      "documentation":"<p>Executes a Gremlin Profile query, which runs a specified traversal, collects various metrics about the run, and produces a profile report as output. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/gremlin-profile-api.html\">Gremlin profile API in Neptune</a> for details.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#readdataviaquery\">neptune-db:ReadDataViaQuery</a> IAM action in that cluster.</p> <p>Note that the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html#iam-neptune-condition-keys\">neptune-db:QueryLanguage:Gremlin</a> IAM condition key can be used in the policy document to restrict the use of Gremlin queries (see <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html\">Condition keys available in Neptune IAM data-access policy statements</a>).</p>"
    },
    "ExecuteGremlinQuery":{
      "name":"ExecuteGremlinQuery",
      "http":{
        "method":"POST",
        "requestUri":"/gremlin",
        "responseCode":200
      },
      "input":{"shape":"ExecuteGremlinQueryInput"},
      "output":{"shape":"ExecuteGremlinQueryOutput"},
      "errors":[
        {"shape":"QueryTooLargeException"},
        {"shape":"BadRequestException"},
        {"shape":"QueryLimitExceededException"},
        {"shape":"InvalidParameterException"},
        {"shape":"QueryLimitException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"CancelledByUserException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"FailureByQueryException"},
        {"shape":"MemoryLimitExceededException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"MalformedQueryException"},
        {"shape":"ParsingException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"TimeLimitExceededException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"MissingParameterException"}
      ],
      "documentation":"<p>This commands executes a Gremlin query. Amazon Neptune is compatible with Apache TinkerPop3 and Gremlin, so you can use the Gremlin traversal language to query the graph, as described under <a href=\"https://tinkerpop.apache.org/docs/current/reference/#graph\">The Graph</a> in the Apache TinkerPop3 documentation. More details can also be found in <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/access-graph-gremlin.html\">Accessing a Neptune graph with Gremlin</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that enables one of the following IAM actions in that cluster, depending on the query:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#readdataviaquery\">neptune-db:ReadDataViaQuery</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#writedataviaquery\">neptune-db:WriteDataViaQuery</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#deletedataviaquery\">neptune-db:DeleteDataViaQuery</a> </p> </li> </ul> <p>Note that the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html#iam-neptune-condition-keys\">neptune-db:QueryLanguage:Gremlin</a> IAM condition key can be used in the policy document to restrict the use of Gremlin queries (see <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html\">Condition keys available in Neptune IAM data-access policy statements</a>).</p>"
    },
    "ExecuteOpenCypherExplainQuery":{
      "name":"ExecuteOpenCypherExplainQuery",
      "http":{
        "method":"POST",
        "requestUri":"/opencypher/explain",
        "responseCode":200
      },
      "input":{"shape":"ExecuteOpenCypherExplainQueryInput"},
      "output":{"shape":"ExecuteOpenCypherExplainQueryOutput"},
      "errors":[
        {"shape":"QueryTooLargeException"},
        {"shape":"InvalidNumericDataException"},
        {"shape":"BadRequestException"},
        {"shape":"QueryLimitExceededException"},
        {"shape":"InvalidParameterException"},
        {"shape":"QueryLimitException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"CancelledByUserException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"FailureByQueryException"},
        {"shape":"MemoryLimitExceededException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"MalformedQueryException"},
        {"shape":"ParsingException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"TimeLimitExceededException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"MissingParameterException"}
      ],
      "documentation":"<p>Executes an openCypher <code>explain</code> request. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/access-graph-opencypher-explain.html\">The openCypher explain feature</a> for more information.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#readdataviaquery\">neptune-db:ReadDataViaQuery</a> IAM action in that cluster.</p> <p>Note that the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html#iam-neptune-condition-keys\">neptune-db:QueryLanguage:OpenCypher</a> IAM condition key can be used in the policy document to restrict the use of openCypher queries (see <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html\">Condition keys available in Neptune IAM data-access policy statements</a>).</p>"
    },
    "ExecuteOpenCypherQuery":{
      "name":"ExecuteOpenCypherQuery",
      "http":{
        "method":"POST",
        "requestUri":"/opencypher",
        "responseCode":200
      },
      "input":{"shape":"ExecuteOpenCypherQueryInput"},
      "output":{"shape":"ExecuteOpenCypherQueryOutput"},
      "errors":[
        {"shape":"QueryTooLargeException"},
        {"shape":"InvalidNumericDataException"},
        {"shape":"BadRequestException"},
        {"shape":"QueryLimitExceededException"},
        {"shape":"InvalidParameterException"},
        {"shape":"QueryLimitException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"CancelledByUserException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"FailureByQueryException"},
        {"shape":"MemoryLimitExceededException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"MalformedQueryException"},
        {"shape":"ParsingException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"TimeLimitExceededException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"MissingParameterException"}
      ],
      "documentation":"<p>Executes an openCypher query. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/access-graph-opencypher.html\">Accessing the Neptune Graph with openCypher</a> for more information.</p> <p>Neptune supports building graph applications using openCypher, which is currently one of the most popular query languages among developers working with graph databases. Developers, business analysts, and data scientists like openCypher's declarative, SQL-inspired syntax because it provides a familiar structure in which to querying property graphs.</p> <p>The openCypher language was originally developed by Neo4j, then open-sourced in 2015 and contributed to the <a href=\"https://opencypher.org/\">openCypher project</a> under an Apache 2 open-source license.</p> <p>Note that when invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows one of the following IAM actions in that cluster, depending on the query:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#readdataviaquery\">neptune-db:ReadDataViaQuery</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#writedataviaquery\">neptune-db:WriteDataViaQuery</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#deletedataviaquery\">neptune-db:DeleteDataViaQuery</a> </p> </li> </ul> <p>Note also that the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html#iam-neptune-condition-keys\">neptune-db:QueryLanguage:OpenCypher</a> IAM condition key can be used in the policy document to restrict the use of openCypher queries (see <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html\">Condition keys available in Neptune IAM data-access policy statements</a>).</p>"
    },
    "GetEngineStatus":{
      "name":"GetEngineStatus",
      "http":{
        "method":"GET",
        "requestUri":"/status",
        "responseCode":200
      },
      "output":{"shape":"GetEngineStatusOutput"},
      "errors":[
        {"shape":"UnsupportedOperationException"},
        {"shape":"InternalFailureException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Retrieves the status of the graph database on the host.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#getenginestatus\">neptune-db:GetEngineStatus</a> IAM action in that cluster.</p>"
    },
    "GetGremlinQueryStatus":{
      "name":"GetGremlinQueryStatus",
      "http":{
        "method":"GET",
        "requestUri":"/gremlin/status/{queryId}",
        "responseCode":200
      },
      "input":{"shape":"GetGremlinQueryStatusInput"},
      "output":{"shape":"GetGremlinQueryStatusOutput"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"AccessDeniedException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"FailureByQueryException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ParsingException"},
        {"shape":"ReadOnlyViolationException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"TimeLimitExceededException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"MissingParameterException"}
      ],
      "documentation":"<p>Gets the status of a specified Gremlin query.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#getquerystatus\">neptune-db:GetQueryStatus</a> IAM action in that cluster.</p> <p>Note that the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html#iam-neptune-condition-keys\">neptune-db:QueryLanguage:Gremlin</a> IAM condition key can be used in the policy document to restrict the use of Gremlin queries (see <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html\">Condition keys available in Neptune IAM data-access policy statements</a>).</p>"
    },
    "GetLoaderJobStatus":{
      "name":"GetLoaderJobStatus",
      "http":{
        "method":"GET",
        "requestUri":"/loader/{loadId}",
        "responseCode":200
      },
      "input":{"shape":"GetLoaderJobStatusInput"},
      "output":{"shape":"GetLoaderJobStatusOutput"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"BulkLoadIdNotFoundException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"LoadUrlAccessDeniedException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"InternalFailureException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"MissingParameterException"}
      ],
      "documentation":"<p>Gets status information about a specified load job. Neptune keeps track of the most recent 1,024 bulk load jobs, and stores the last 10,000 error details per job.</p> <p>See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/load-api-reference-status.htm\">Neptune Loader Get-Status API</a> for more information.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#getloaderjobstatus\">neptune-db:GetLoaderJobStatus</a> IAM action in that cluster..</p>"
    },
    "GetMLDataProcessingJob":{
      "name":"GetMLDataProcessingJob",
      "http":{
        "method":"GET",
        "requestUri":"/ml/dataprocessing/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetMLDataProcessingJobInput"},
      "output":{"shape":"GetMLDataProcessingJobOutput"},
      "errors":[
        {"shape":"UnsupportedOperationException"},
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"MLResourceNotFoundException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"MissingParameterException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Retrieves information about a specified data processing job. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-api-dataprocessing.html\">The <code>dataprocessing</code> command</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#getmldataprocessingjobstatus\">neptune-db:neptune-db:GetMLDataProcessingJobStatus</a> IAM action in that cluster.</p>"
    },
    "GetMLEndpoint":{
      "name":"GetMLEndpoint",
      "http":{
        "method":"GET",
        "requestUri":"/ml/endpoints/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetMLEndpointInput"},
      "output":{"shape":"GetMLEndpointOutput"},
      "errors":[
        {"shape":"UnsupportedOperationException"},
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"MLResourceNotFoundException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"MissingParameterException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Retrieves details about an inference endpoint. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-api-endpoints.html\">Managing inference endpoints using the endpoints command</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#getmlendpointstatus\">neptune-db:GetMLEndpointStatus</a> IAM action in that cluster.</p>"
    },
    "GetMLModelTrainingJob":{
      "name":"GetMLModelTrainingJob",
      "http":{
        "method":"GET",
        "requestUri":"/ml/modeltraining/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetMLModelTrainingJobInput"},
      "output":{"shape":"GetMLModelTrainingJobOutput"},
      "errors":[
        {"shape":"UnsupportedOperationException"},
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"MLResourceNotFoundException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"MissingParameterException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Retrieves information about a Neptune ML model training job. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-api-modeltraining.html\">Model training using the <code>modeltraining</code> command</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#getmlmodeltrainingjobstatus\">neptune-db:GetMLModelTrainingJobStatus</a> IAM action in that cluster.</p>"
    },
    "GetMLModelTransformJob":{
      "name":"GetMLModelTransformJob",
      "http":{
        "method":"GET",
        "requestUri":"/ml/modeltransform/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetMLModelTransformJobInput"},
      "output":{"shape":"GetMLModelTransformJobOutput"},
      "errors":[
        {"shape":"UnsupportedOperationException"},
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"MLResourceNotFoundException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"MissingParameterException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Gets information about a specified model transform job. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-model-transform.html\">Use a trained model to generate new model artifacts</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#getmlmodeltransformjobstatus\">neptune-db:GetMLModelTransformJobStatus</a> IAM action in that cluster.</p>"
    },
    "GetOpenCypherQueryStatus":{
      "name":"GetOpenCypherQueryStatus",
      "http":{
        "method":"GET",
        "requestUri":"/opencypher/status/{queryId}",
        "responseCode":200
      },
      "input":{"shape":"GetOpenCypherQueryStatusInput"},
      "output":{"shape":"GetOpenCypherQueryStatusOutput"},
      "errors":[
        {"shape":"InvalidNumericDataException"},
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"AccessDeniedException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"FailureByQueryException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ParsingException"},
        {"shape":"ReadOnlyViolationException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"TimeLimitExceededException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"MissingParameterException"}
      ],
      "documentation":"<p>Retrieves the status of a specified openCypher query.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#getquerystatus\">neptune-db:GetQueryStatus</a> IAM action in that cluster.</p> <p>Note that the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html#iam-neptune-condition-keys\">neptune-db:QueryLanguage:OpenCypher</a> IAM condition key can be used in the policy document to restrict the use of openCypher queries (see <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html\">Condition keys available in Neptune IAM data-access policy statements</a>).</p>"
    },
    "GetPropertygraphStatistics":{
      "name":"GetPropertygraphStatistics",
      "http":{
        "method":"GET",
        "requestUri":"/propertygraph/statistics",
        "responseCode":200
      },
      "output":{"shape":"GetPropertygraphStatisticsOutput"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"StatisticsNotAvailableException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"AccessDeniedException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ReadOnlyViolationException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"MissingParameterException"}
      ],
      "documentation":"<p>Gets property graph statistics (Gremlin and openCypher).</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#getstatisticsstatus\">neptune-db:GetStatisticsStatus</a> IAM action in that cluster.</p>"
    },
    "GetPropertygraphStream":{
      "name":"GetPropertygraphStream",
      "http":{
        "method":"GET",
        "requestUri":"/propertygraph/stream",
        "responseCode":200
      },
      "input":{"shape":"GetPropertygraphStreamInput"},
      "output":{"shape":"GetPropertygraphStreamOutput"},
      "errors":[
        {"shape":"UnsupportedOperationException"},
        {"shape":"ExpiredStreamException"},
        {"shape":"InvalidParameterException"},
        {"shape":"MemoryLimitExceededException"},
        {"shape":"StreamRecordsNotFoundException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Gets a stream for a property graph.</p> <p>With the Neptune Streams feature, you can generate a complete sequence of change-log entries that record every change made to your graph data as it happens. <code>GetPropertygraphStream</code> lets you collect these change-log entries for a property graph.</p> <p>The Neptune streams feature needs to be enabled on your Neptune DBcluster. To enable streams, set the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/parameters.html#parameters-db-cluster-parameters-neptune_streams\">neptune_streams</a> DB cluster parameter to <code>1</code>.</p> <p>See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/streams.html\">Capturing graph changes in real time using Neptune streams</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#getstreamrecords\">neptune-db:GetStreamRecords</a> IAM action in that cluster.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that enables one of the following IAM actions, depending on the query:</p> <p>Note that you can restrict property-graph queries using the following IAM context keys:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html#iam-neptune-condition-keys\">neptune-db:QueryLanguage:Gremlin</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html#iam-neptune-condition-keys\">neptune-db:QueryLanguage:OpenCypher</a> </p> </li> </ul> <p>See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html\">Condition keys available in Neptune IAM data-access policy statements</a>).</p>"
    },
    "GetPropertygraphSummary":{
      "name":"GetPropertygraphSummary",
      "http":{
        "method":"GET",
        "requestUri":"/propertygraph/statistics/summary",
        "responseCode":200
      },
      "input":{"shape":"GetPropertygraphSummaryInput"},
      "output":{"shape":"GetPropertygraphSummaryOutput"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"StatisticsNotAvailableException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"AccessDeniedException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ReadOnlyViolationException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"MissingParameterException"}
      ],
      "documentation":"<p>Gets a graph summary for a property graph.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#getgraphsummary\">neptune-db:GetGraphSummary</a> IAM action in that cluster.</p>"
    },
    "GetRDFGraphSummary":{
      "name":"GetRDFGraphSummary",
      "http":{
        "method":"GET",
        "requestUri":"/rdf/statistics/summary",
        "responseCode":200
      },
      "input":{"shape":"GetRDFGraphSummaryInput"},
      "output":{"shape":"GetRDFGraphSummaryOutput"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"StatisticsNotAvailableException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"AccessDeniedException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ReadOnlyViolationException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"MissingParameterException"}
      ],
      "documentation":"<p>Gets a graph summary for an RDF graph.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#getgraphsummary\">neptune-db:GetGraphSummary</a> IAM action in that cluster.</p>"
    },
    "GetSparqlStatistics":{
      "name":"GetSparqlStatistics",
      "http":{
        "method":"GET",
        "requestUri":"/sparql/statistics",
        "responseCode":200
      },
      "output":{"shape":"GetSparqlStatisticsOutput"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"StatisticsNotAvailableException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"AccessDeniedException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ReadOnlyViolationException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"MissingParameterException"}
      ],
      "documentation":"<p>Gets RDF statistics (SPARQL).</p>"
    },
    "GetSparqlStream":{
      "name":"GetSparqlStream",
      "http":{
        "method":"GET",
        "requestUri":"/sparql/stream",
        "responseCode":200
      },
      "input":{"shape":"GetSparqlStreamInput"},
      "output":{"shape":"GetSparqlStreamOutput"},
      "errors":[
        {"shape":"UnsupportedOperationException"},
        {"shape":"ExpiredStreamException"},
        {"shape":"InvalidParameterException"},
        {"shape":"MemoryLimitExceededException"},
        {"shape":"StreamRecordsNotFoundException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Gets a stream for an RDF graph.</p> <p>With the Neptune Streams feature, you can generate a complete sequence of change-log entries that record every change made to your graph data as it happens. <code>GetSparqlStream</code> lets you collect these change-log entries for an RDF graph.</p> <p>The Neptune streams feature needs to be enabled on your Neptune DBcluster. To enable streams, set the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/parameters.html#parameters-db-cluster-parameters-neptune_streams\">neptune_streams</a> DB cluster parameter to <code>1</code>.</p> <p>See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/streams.html\">Capturing graph changes in real time using Neptune streams</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#getstreamrecords\">neptune-db:GetStreamRecords</a> IAM action in that cluster.</p> <p>Note that the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html#iam-neptune-condition-keys\">neptune-db:QueryLanguage:Sparql</a> IAM condition key can be used in the policy document to restrict the use of SPARQL queries (see <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html\">Condition keys available in Neptune IAM data-access policy statements</a>).</p>"
    },
    "ListGremlinQueries":{
      "name":"ListGremlinQueries",
      "http":{
        "method":"GET",
        "requestUri":"/gremlin/status",
        "responseCode":200
      },
      "input":{"shape":"ListGremlinQueriesInput"},
      "output":{"shape":"ListGremlinQueriesOutput"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"AccessDeniedException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"FailureByQueryException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ParsingException"},
        {"shape":"ReadOnlyViolationException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"TimeLimitExceededException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"MissingParameterException"}
      ],
      "documentation":"<p>Lists active Gremlin queries. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/gremlin-api-status.html\">Gremlin query status API</a> for details about the output.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#getquerystatus\">neptune-db:GetQueryStatus</a> IAM action in that cluster.</p> <p>Note that the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html#iam-neptune-condition-keys\">neptune-db:QueryLanguage:Gremlin</a> IAM condition key can be used in the policy document to restrict the use of Gremlin queries (see <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html\">Condition keys available in Neptune IAM data-access policy statements</a>).</p>"
    },
    "ListLoaderJobs":{
      "name":"ListLoaderJobs",
      "http":{
        "method":"GET",
        "requestUri":"/loader",
        "responseCode":200
      },
      "input":{"shape":"ListLoaderJobsInput"},
      "output":{"shape":"ListLoaderJobsOutput"},
      "errors":[
        {"shape":"UnsupportedOperationException"},
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"BulkLoadIdNotFoundException"},
        {"shape":"InternalFailureException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"LoadUrlAccessDeniedException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Retrieves a list of the <code>loadIds</code> for all active loader jobs.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#listloaderjobs\">neptune-db:ListLoaderJobs</a> IAM action in that cluster..</p>"
    },
    "ListMLDataProcessingJobs":{
      "name":"ListMLDataProcessingJobs",
      "http":{
        "method":"GET",
        "requestUri":"/ml/dataprocessing",
        "responseCode":200
      },
      "input":{"shape":"ListMLDataProcessingJobsInput"},
      "output":{"shape":"ListMLDataProcessingJobsOutput"},
      "errors":[
        {"shape":"UnsupportedOperationException"},
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"MLResourceNotFoundException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"MissingParameterException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Returns a list of Neptune ML data processing jobs. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-api-dataprocessing.html#machine-learning-api-dataprocessing-list-jobs\">Listing active data-processing jobs using the Neptune ML dataprocessing command</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#listmldataprocessingjobs\">neptune-db:ListMLDataProcessingJobs</a> IAM action in that cluster.</p>"
    },
    "ListMLEndpoints":{
      "name":"ListMLEndpoints",
      "http":{
        "method":"GET",
        "requestUri":"/ml/endpoints",
        "responseCode":200
      },
      "input":{"shape":"ListMLEndpointsInput"},
      "output":{"shape":"ListMLEndpointsOutput"},
      "errors":[
        {"shape":"UnsupportedOperationException"},
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"MLResourceNotFoundException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"MissingParameterException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Lists existing inference endpoints. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-api-endpoints.html\">Managing inference endpoints using the endpoints command</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#listmlendpoints\">neptune-db:ListMLEndpoints</a> IAM action in that cluster.</p>"
    },
    "ListMLModelTrainingJobs":{
      "name":"ListMLModelTrainingJobs",
      "http":{
        "method":"GET",
        "requestUri":"/ml/modeltraining",
        "responseCode":200
      },
      "input":{"shape":"ListMLModelTrainingJobsInput"},
      "output":{"shape":"ListMLModelTrainingJobsOutput"},
      "errors":[
        {"shape":"UnsupportedOperationException"},
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"MLResourceNotFoundException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"MissingParameterException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Lists Neptune ML model-training jobs. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-api-modeltraining.html\">Model training using the <code>modeltraining</code> command</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#neptune-db:listmlmodeltrainingjobs\">neptune-db:neptune-db:ListMLModelTrainingJobs</a> IAM action in that cluster.</p>"
    },
    "ListMLModelTransformJobs":{
      "name":"ListMLModelTransformJobs",
      "http":{
        "method":"GET",
        "requestUri":"/ml/modeltransform",
        "responseCode":200
      },
      "input":{"shape":"ListMLModelTransformJobsInput"},
      "output":{"shape":"ListMLModelTransformJobsOutput"},
      "errors":[
        {"shape":"UnsupportedOperationException"},
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"MLResourceNotFoundException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"MissingParameterException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Returns a list of model transform job IDs. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-model-transform.html\">Use a trained model to generate new model artifacts</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#listmlmodeltransformjobs\">neptune-db:ListMLModelTransformJobs</a> IAM action in that cluster.</p>"
    },
    "ListOpenCypherQueries":{
      "name":"ListOpenCypherQueries",
      "http":{
        "method":"GET",
        "requestUri":"/opencypher/status",
        "responseCode":200
      },
      "input":{"shape":"ListOpenCypherQueriesInput"},
      "output":{"shape":"ListOpenCypherQueriesOutput"},
      "errors":[
        {"shape":"InvalidNumericDataException"},
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"AccessDeniedException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"FailureByQueryException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ParsingException"},
        {"shape":"ReadOnlyViolationException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"TimeLimitExceededException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"MissingParameterException"}
      ],
      "documentation":"<p>Lists active openCypher queries. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/access-graph-opencypher-status.html\">Neptune openCypher status endpoint</a> for more information.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#getquerystatus\">neptune-db:GetQueryStatus</a> IAM action in that cluster.</p> <p>Note that the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html#iam-neptune-condition-keys\">neptune-db:QueryLanguage:OpenCypher</a> IAM condition key can be used in the policy document to restrict the use of openCypher queries (see <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-data-condition-keys.html\">Condition keys available in Neptune IAM data-access policy statements</a>).</p>"
    },
    "ManagePropertygraphStatistics":{
      "name":"ManagePropertygraphStatistics",
      "http":{
        "method":"POST",
        "requestUri":"/propertygraph/statistics",
        "responseCode":200
      },
      "input":{"shape":"ManagePropertygraphStatisticsInput"},
      "output":{"shape":"ManagePropertygraphStatisticsOutput"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"StatisticsNotAvailableException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"AccessDeniedException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ReadOnlyViolationException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"MissingParameterException"}
      ],
      "documentation":"<p>Manages the generation and use of property graph statistics.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#managestatistics\">neptune-db:ManageStatistics</a> IAM action in that cluster.</p>",
      "idempotent":true
    },
    "ManageSparqlStatistics":{
      "name":"ManageSparqlStatistics",
      "http":{
        "method":"POST",
        "requestUri":"/sparql/statistics",
        "responseCode":200
      },
      "input":{"shape":"ManageSparqlStatisticsInput"},
      "output":{"shape":"ManageSparqlStatisticsOutput"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"StatisticsNotAvailableException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"AccessDeniedException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ReadOnlyViolationException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"MissingParameterException"}
      ],
      "documentation":"<p>Manages the generation and use of RDF graph statistics.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#managestatistics\">neptune-db:ManageStatistics</a> IAM action in that cluster.</p>",
      "idempotent":true
    },
    "StartLoaderJob":{
      "name":"StartLoaderJob",
      "http":{
        "method":"POST",
        "requestUri":"/loader",
        "responseCode":200
      },
      "input":{"shape":"StartLoaderJobInput"},
      "output":{"shape":"StartLoaderJobOutput"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"BulkLoadIdNotFoundException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"LoadUrlAccessDeniedException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"InternalFailureException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"S3Exception"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"MissingParameterException"}
      ],
      "documentation":"<p>Starts a Neptune bulk loader job to load data from an Amazon S3 bucket into a Neptune DB instance. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/bulk-load.html\">Using the Amazon Neptune Bulk Loader to Ingest Data</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#startloaderjob\">neptune-db:StartLoaderJob</a> IAM action in that cluster.</p>",
      "idempotent":true
    },
    "StartMLDataProcessingJob":{
      "name":"StartMLDataProcessingJob",
      "http":{
        "method":"POST",
        "requestUri":"/ml/dataprocessing",
        "responseCode":200
      },
      "input":{"shape":"StartMLDataProcessingJobInput"},
      "output":{"shape":"StartMLDataProcessingJobOutput"},
      "errors":[
        {"shape":"UnsupportedOperationException"},
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"MLResourceNotFoundException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"MissingParameterException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Creates a new Neptune ML data processing job for processing the graph data exported from Neptune for training. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-api-dataprocessing.html\">The <code>dataprocessing</code> command</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#startmlmodeldataprocessingjob\">neptune-db:StartMLModelDataProcessingJob</a> IAM action in that cluster.</p>"
    },
    "StartMLModelTrainingJob":{
      "name":"StartMLModelTrainingJob",
      "http":{
        "method":"POST",
        "requestUri":"/ml/modeltraining",
        "responseCode":200
      },
      "input":{"shape":"StartMLModelTrainingJobInput"},
      "output":{"shape":"StartMLModelTrainingJobOutput"},
      "errors":[
        {"shape":"UnsupportedOperationException"},
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"MLResourceNotFoundException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"MissingParameterException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Creates a new Neptune ML model training job. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-api-modeltraining.html\">Model training using the <code>modeltraining</code> command</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#startmlmodeltrainingjob\">neptune-db:StartMLModelTrainingJob</a> IAM action in that cluster.</p>"
    },
    "StartMLModelTransformJob":{
      "name":"StartMLModelTransformJob",
      "http":{
        "method":"POST",
        "requestUri":"/ml/modeltransform",
        "responseCode":200
      },
      "input":{"shape":"StartMLModelTransformJobInput"},
      "output":{"shape":"StartMLModelTransformJobOutput"},
      "errors":[
        {"shape":"UnsupportedOperationException"},
        {"shape":"BadRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"MLResourceNotFoundException"},
        {"shape":"ClientTimeoutException"},
        {"shape":"PreconditionsFailedException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"MissingParameterException"},
        {"shape":"IllegalArgumentException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Creates a new model transform job. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-model-transform.html\">Use a trained model to generate new model artifacts</a>.</p> <p>When invoking this operation in a Neptune cluster that has IAM authentication enabled, the IAM user or role making the request must have a policy attached that allows the <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/iam-dp-actions.html#startmlmodeltransformjob\">neptune-db:StartMLModelTransformJob</a> IAM action in that cluster.</p>"
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":[
        "detailedMessage",
        "requestId",
        "code"
      ],
      "members":{
        "detailedMessage":{
          "shape":"String",
          "documentation":"<p>A detailed message describing the problem.</p>"
        },
        "requestId":{
          "shape":"String",
          "documentation":"<p>The ID of the request in question.</p>"
        },
        "code":{
          "shape":"String",
          "documentation":"<p>The HTTP status code returned with the exception.</p>"
        }
      },
      "documentation":"<p>Raised in case of an authentication or authorization failure.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "Action":{
      "type":"string",
      "enum":[
        "initiateDatabaseReset",
        "performDatabaseReset"
      ]
    },
    "BadRequestException":{
      "type":"structure",
      "required":[
        "detailedMessage",
        "requestId",
        "code"
      ],
      "members":{
        "detailedMessage":{
          "shape":"String",
          "documentation":"<p>A detailed message describing the problem.</p>"
        },
        "requestId":{
          "shape":"String",
          "documentation":"<p>The ID of the bad request.</p>"
        },
        "code":{
          "shape":"String",
          "documentation":"<p>The HTTP status code returned with the exception.</p>"
        }
      },
      "documentation":"<p>Raised when a request is submitted that cannot be processed.</p>",
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "Blob":{"type":"blob"},
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "BulkLoadIdNotFoundException":{
      "type":"structure",
      "required":[
        "detailedMessage",
        "requestId",
        "code"
      ],
      "members":{
        "detailedMessage":{
          "shape":"String",
          "documentation":"<p>A detailed message describing the problem.</p>"
        },
        "requestId":{
          "shape":"String",
          "documentation":"<p>The bulk-load job ID that could not be found.</p>"
        },
        "code":{
          "shape":"String",
          "documentation":"<p>The HTTP status code returned with the exception.</p>"
        }
      },
      "documentation":"<p>Raised when a specified bulk-load job ID cannot be found.</p>",
      "error":{
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true,
      "retryable":{"throttling":false}
    },
    "CancelGremlinQueryInput":{
      "type":"structure",
      "required":["queryId"],
      "members":{
        "queryId":{
          "shape":"String",
          "documentation":"<p>The unique identifier that identifies the query to be canceled.</p>",
          "location":"uri",
          "locationName":"queryId"
        }
      }
    },
    "CancelGremlinQueryOutput":{
      "type":"structure",
      "members":{
        "status":{
          "shape":"String",
          "documentation":"<p>The status of the cancelation</p>"
        }
      }
    },
    "CancelLoaderJobInput":{
      "type":"structure",
      "required":["loadId"],
      "members":{
        "loadId":{
          "shape":"String",
          "documentation":"<p>The ID of the load job to be deleted.</p>",
          "location":"uri",
          "locationName":"loadId"
        }
      }
    },
    "CancelLoaderJobOutput":{
      "type":"structure",
      "members":{
        "status":{
          "shape":"String",
          "documentation":"<p>The cancellation status.</p>"
        }
      }
    },
    "CancelMLDataProcessingJobInput":{
      "type":"structure",
      "required":["id"],
      "members":{
        "id":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the data-processing job.</p>",
          "location":"uri",
          "locationName":"id"
        },
        "neptuneIamRoleArn":{
          "shape":"String",
          "documentation":"<p>The ARN of an IAM role that provides Neptune access to SageMaker and Amazon S3 resources. This must be listed in your DB cluster parameter group or an error will occur.</p>",
          "location":"querystring",
          "locationName":"neptuneIamRoleArn"
        },
        "clean":{
          "shape":"Boolean",
          "documentation":"<p>If set to <code>TRUE</code>, this flag specifies that all Neptune ML S3 artifacts should be deleted when the job is stopped. The default is <code>FALSE</code>.</p>",
          "location":"querystring",
          "locationName":"clean"
        }
      }
    },
    "CancelMLDataProcessingJobOutput":{
      "type":"structure",
      "members":{
        "status":{
          "shape":"String",
          "documentation":"<p>The status of the cancellation request.</p>"
        }
      }
    },
    "CancelMLModelTrainingJobInput":{
      "type":"structure",
      "required":["id"],
      "members":{
        "id":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the model-training job to be canceled.</p>",
          "location":"uri",
          "locationName":"id"
        },
        "neptuneIamRoleArn":{
          "shape":"String",
          "documentation":"<p>The ARN of an IAM role that provides Neptune access to SageMaker and Amazon S3 resources. This must be listed in your DB cluster parameter group or an error will occur.</p>",
          "location":"querystring",
          "locationName":"neptuneIamRoleArn"
        },
        "clean":{
          "shape":"Boolean",
          "documentation":"<p>If set to <code>TRUE</code>, this flag specifies that all Amazon S3 artifacts should be deleted when the job is stopped. The default is <code>FALSE</code>.</p>",
          "location":"querystring",
          "locationName":"clean"
        }
      }
    },
    "CancelMLModelTrainingJobOutput":{
      "type":"structure",
      "members":{
        "status":{
          "shape":"String",
          "documentation":"<p>The status of the cancellation.</p>"
        }
      }
    },
    "CancelMLModelTransformJobInput":{
      "type":"structure",
      "required":["id"],
      "members":{
        "id":{
          "shape":"String",
          "documentation":"<p>The unique ID of the model transform job to be canceled.</p>",
          "location":"uri",
          "locationName":"id"
        },
        "neptuneIamRoleArn":{
          "shape":"String",
          "documentation":"<p>The ARN of an IAM role that provides Neptune access to SageMaker and Amazon S3 resources. This must be listed in your DB cluster parameter group or an error will occur.</p>",
          "location":"querystring",
          "locationName":"neptuneIamRoleArn"
        },
        "clean":{
          "shape":"Boolean",
          "documentation":"<p>If this flag is set to <code>TRUE</code>, all Neptune ML S3 artifacts should be deleted when the job is stopped. The default is <code>FALSE</code>.</p>",
          "location":"querystring",
          "locationName":"clean"
        }
      }
    },
    "CancelMLModelTransformJobOutput":{
      "type":"structure",
      "members":{
        "status":{
          "shape":"String",
          "documentation":"<p>the status of the cancelation.</p>"
        }
      }
    },
    "CancelOpenCypherQueryInput":{
      "type":"structure",
      "required":["queryId"],
      "members":{
        "queryId":{
          "shape":"String",
          "documentation":"<p>The unique ID of the openCypher query to cancel.</p>",
          "location":"uri",
          "locationName":"queryId"
        },
        "silent":{
          "shape":"Boolean",
          "documentation":"<p>If set to <code>TRUE</code>, causes the cancelation of the openCypher query to happen silently.</p>",
          "location":"querystring",
          "locationName":"silent"
        }
      }
    },
    "CancelOpenCypherQueryOutput":{
      "type":"structure",
      "members":{
        "status":{
          "shape":"String",
          "documentation":"<p>The cancellation status of the openCypher query.</p>"
        },
        "payload":{
          "shape":"Boolean",
          "documentation":"<p>The cancelation payload for the openCypher query.</p>"
        }
      }
    },
    "CancelledByUserException":{
      "type":"structure",
      "required":[
        "detailedMessage",
        "requestId",
        "code"
      ],
      "members":{
        "detailedMessage":{
          "shape":"String",
          "documentation":"<p>A detailed message describing the problem.</p>"
        },
        "requestId":{
          "shape":"String",
          "documentation":"<p>The ID of the request in question.</p>"
        },
        "code":{
          "shape":"String",
          "documentation":"<p>The HTTP status code returned with the exception.</p>"
        }
      },
      "documentation":"<p>Raised when a user cancelled a request.</p>",
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true
    },
    "Classes":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "ClientTimeoutException":{
      "type":"structure",
      "required":[
        "detailedMessage",
        "requestId",
        "code"
      ],
      "members":{
        "detailedMessage":{
          "shape":"String",
          "documentation":"<p>A detailed message describing the problem.</p>"
        },
        "requestId":{
          "shape":"String",
          "documentation":"<p>The ID of the request in question.</p>"
        },
        "code":{
          "shape":"String",
          "documentation":"<p>The HTTP status code returned with the exception.</p>"
        }
      },
      "documentation":"<p>Raised when a request timed out in the client.</p>",
      "error":{
        "httpStatusCode":408,
        "senderFault":true
      },
      "exception":true,
      "retryable":{"throttling":false}
    },
    "ConcurrentModificationException":{
      "type":"structure",
      "required":[
        "detailedMessage",
        "requestId",
        "code"
      ],
      "members":{
        "detailedMessage":{
          "shape":"String",
          "documentation":"<p>A detailed message describing the problem.</p>"
        },
        "requestId":{
          "shape":"String",
          "documentation":"<p>The ID of the request in question.</p>"
        },
        "code":{
          "shape":"String",
          "documentation":"<p>The HTTP status code returned with the exception.</p>"
        }
      },
      "documentation":"<p>Raised when a request attempts to modify data that is concurrently being modified by another process.</p>",
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true,
      "retryable":{"throttling":false}
    },
    "ConstraintViolationException":{
      "type":"structure",
      "required":[
        "detailedMessage",
        "requestId",
        "code"
      ],
      "members":{
        "detailedMessage":{
          "shape":"String",
          "documentation":"<p>A detailed message describing the problem.</p>"
        },
        "requestId":{
          "shape":"String",
          "documentation":"<p>The ID of the request in question.</p>"
        },
        "code":{
          "shape":"String",
          "documentation":"<p>The HTTP status code returned with the exception.</p>"
        }
      },
      "documentation":"<p>Raised when a value in a request field did not satisfy required constraints.</p>",
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "retryable":{"throttling":false}
    },
    "CreateMLEndpointInput":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"String",
          "documentation":"<p>A unique identifier for the new inference endpoint. The default is an autogenerated timestamped name.</p>"
        },
        "mlModelTrainingJobId":{
          "shape":"String",
          "documentation":"<p>The job Id of the completed model-training job that has created the model that the inference endpoint will point to. You must supply either the <code>mlModelTrainingJobId</code> or the <code>mlModelTransformJobId</code>.</p>"
        },
        "mlModelTransformJobId":{
          "shape":"String",
          "documentation":"<p>The job Id of the completed model-transform job. You must supply either the <code>mlModelTrainingJobId</code> or the <code>mlModelTransformJobId</code>.</p>"
        },
        "update":{
          "shape":"Boolean",
          "documentation":"<p>If set to <code>true</code>, <code>update</code> indicates that this is an update request. The default is <code>false</code>. You must supply either the <code>mlModelTrainingJobId</code> or the <code>mlModelTransformJobId</code>.</p>"
        },
        "neptuneIamRoleArn":{
          "shape":"String",
          "documentation":"<p>The ARN of an IAM role providing Neptune access to SageMaker and Amazon S3 resources. This must be listed in your DB cluster parameter group or an error will be thrown.</p>"
        },
        "modelName":{
          "shape":"String",
          "documentation":"<p>Model type for training. By default the Neptune ML model is automatically based on the <code>modelType</code> used in data processing, but you can specify a different model type here. The default is <code>rgcn</code> for heterogeneous graphs and <code>kge</code> for knowledge graphs. The only valid value for heterogeneous graphs is <code>rgcn</code>. Valid values for knowledge graphs are: <code>kge</code>, <code>transe</code>, <code>distmult</code>, and <code>rotate</code>.</p>"
        },
        "instanceType":{
          "shape":"String",
          "documentation":"<p>The type of Neptune ML instance to use for online servicing. The default is <code>ml.m5.xlarge</code>. Choosing the ML instance for an inference endpoint depends on the task type, the graph size, and your budget.</p>"
        },
        "instanceCount":{
          "shape":"Integer",
          "documentation":"<p>The minimum number of Amazon EC2 instances to deploy to an endpoint for prediction. The default is 1</p>"
        },
        "volumeEncryptionKMSKey":{
          "shape":"String",
          "documentation":"<p>The Amazon Key Management Service (Amazon KMS) key that SageMaker uses to encrypt data on the storage volume attached to the ML compute instances that run the training job. The default is None.</p>"
        }
      }
    },
    "CreateMLEndpointOutput":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"String",
          "documentation":"<p>The unique ID of the new inference endpoint.</p>"
        },
        "arn":{
          "shape":"String",
          "documentation":"<p>The ARN for the new inference endpoint.</p>"
        },
        "creationTimeInMillis":{
          "shape":"Long",
          "documentation":"<p>The endpoint creation time, in milliseconds.</p>"
        }
      }
    },
    "CustomModelTrainingParameters":{
      "type":"structure",
      "required":["sourceS3DirectoryPath"],
      "members":{
        "sourceS3DirectoryPath":{
          "shape":"String",
          "documentation":"<p>The path to the Amazon S3 location where the Python module implementing your model is located. This must point to a valid existing Amazon S3 location that contains, at a minimum, a training script, a transform script, and a <code>model-hpo-configuration.json</code> file.</p>"
        },
        "trainingEntryPointScript":{
          "shape":"String",
          "documentation":"<p>The name of the entry point in your module of a script that performs model training and takes hyperparameters as command-line arguments, including fixed hyperparameters. The default is <code>training.py</code>.</p>"
        },
        "transformEntryPointScript":{
          "shape":"String",
          "documentation":"<p>The name of the entry point in your module of a script that should be run after the best model from the hyperparameter search has been identified, to compute the model artifacts necessary for model deployment. It should be able to run with no command-line arguments.The default is <code>transform.py</code>.</p>"
        }
      },
      "documentation":"<p>Contains custom model training parameters. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-custom-models.html\">Custom models in Neptune ML</a>.</p>"
    },
    "CustomModelTransformParameters":{
      "type":"structure",
      "required":["sourceS3DirectoryPath"],
      "members":{
        "sourceS3DirectoryPath":{
          "shape":"String",
          "documentation":"<p>The path to the Amazon S3 location where the Python module implementing your model is located. This must point to a valid existing Amazon S3 location that contains, at a minimum, a training script, a transform script, and a <code>model-hpo-configuration.json</code> file.</p>"
        },
        "transformEntryPointScript":{
          "shape":"String",
          "documentation":"<p>The name of the entry point in your module of a script that should be run after the best model from the hyperparameter search has been identified, to compute the model artifacts necessary for model deployment. It should be able to run with no command-line arguments. The default is <code>transform.py</code>.</p>"
        }
      },
      "documentation":"<p>Contains custom model transform parameters. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/machine-learning-model-transform.html\">Use a trained model to generate new model artifacts</a>.</p>"
    },
    "DeleteMLEndpointInput":{
      "type":"structure",
      "required":["id"],
      "members":{
        "id":{
          "shape":"String",
          "documentation":"<p>The unique identifier of the inference endpoint.</p>",
          "location":"uri",
          "locationName":"id"
        },
        "neptuneIamRoleArn":{
          "shape":"String",
          "documentation":"<p>The ARN of an IAM role providing Neptune access to SageMaker and Amazon S3 resources. This must be listed in your DB cluster parameter group or an error will be thrown.</p>",
          "location":"querystring",
          "locationName":"neptuneIamRoleArn"
        },
        "clean":{
          "shape":"Boolean",
          "documentation":"<p>If this flag is set to <code>TRUE</code>, all Neptune ML S3 artifacts should be deleted when the job is stopped. The default is <code>FALSE</code>.</p>",
          "location":"querystring",
          "locationName":"clean"
        }
      }
    },
    "DeleteMLEndpointOutput":{
      "type":"structure",
      "members":{
        "status":{
          "shape":"String",
          "documentation":"<p>The status of the cancellation.</p>"
        }
      }
    },
    "DeletePropertygraphStatisticsOutput":{
      "type":"structure",
      "members":{
        "statusCode":{
          "shape":"Integer",
          "documentation":"<p>The HTTP response code: 200 if the delete was successful, or 204 if there were no statistics to delete.</p>",
          "location":"statusCode"
        },
        "status":{
          "shape":"String",
          "documentation":"<p>The cancel status.</p>"
        },
        "payload":{
          "shape":"DeleteStatisticsValueMap",
          "documentation":"<p>The deletion payload.</p>"
        }
      }
    },
    "DeleteSparqlStatisticsOutput":{
      "type":"structure",
      "members":{
        "statusCode":{
          "shape":"Integer",
          "documentation":"<p>The HTTP response code: 200 if the delete was successful, or 204 if there were no statistics to delete.</p>",
          "location":"statusCode"
        },
        "status":{
          "shape":"String",
          "documentation":"<p>The cancel status.</p>"
        },
        "payload":{
          "shape":"DeleteStatisticsValueMap",
          "documentation":"<p>The deletion payload.</p>"
        }
      }
    },
    "DeleteStatisticsValueMap":{
      "type":"structure",
      "members":{
        "active":{
          "shape":"Boolean",
          "documentation":"<p>The current status of the statistics.</p>"
        },
        "statisticsId":{
          "shape":"String",
          "documentation":"<p>The ID of the statistics generation run that is currently occurring.</p>"
        }
      },
      "documentation":"<p>The payload for DeleteStatistics.</p>"
    },
    "Document":{
      "type":"structure",
      "members":{},
      "document":true
    },
    "DocumentValuedMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"Document"}
    },
    "EdgeLabels":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "EdgeProperties":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "EdgeStructure":{
      "type":"structure",
      "members":{
        "count":{
          "shape":"Long",
          "documentation":"<p>The number of edges that have this specific structure.</p>"
        },
        "edgeProperties":{
          "shape":"EdgeProperties",
          "documentation":"<p>A list of edge properties present in this specific structure.</p>"
        }
      },
      "documentation":"<p>An edge structure.</p>"
    },
    "EdgeStructures":{
      "type":"list",
      "member":{"shape":"EdgeStructure"}
    },
    "Encoding":{
      "type":"string",
      "enum":["gzip"]
    },
    "ExecuteFastResetInput":{
      "type":"structure",
      "required":["action"],
      "members":{
        "action":{
          "shape":"Action",
          "documentation":"<p>The fast reset action. One of the following values:</p> <ul> <li> <p> <b> <code>initiateDatabaseReset</code> </b>   –   This action generates a unique token needed to actually perform the fast reset.</p> </li> <li> <p> <b> <code>performDatabaseReset</code> </b>   –   This action uses the token generated by the <code>initiateDatabaseReset</code> action to actually perform the fast reset.</p> <p/> </li> </ul>"
        },
        "token":{
          "shape":"String",
          "documentation":"<p>The fast-reset token to initiate the reset.</p>"
        }
      }
    },
    "ExecuteFastResetOutput":{
      "type":"structure",
      "required":["status"],
      "members":{
        "status":{
          "shape":"String",
          "documentation":"<p>The <code>status</code> is only returned for the <code>performDatabaseReset</code> action, and indicates whether or not the fast reset rquest is accepted.</p>"
        },
        "payload":{
          "shape":"FastResetToken",
          "documentation":"<p>The <code>payload</code> is only returned by the <code>initiateDatabaseReset</code> action, and contains the unique token to use with the <code>performDatabaseReset</code> action to make the reset occur.</p>"
        }
      }
    },
    "ExecuteGremlinExplainQueryInput":{
      "type":"structure",
      "required":["gremlinQuery"],
      "members":{
        "gremlinQuery":{
          "shape":"String",
          "documentation":"<p>The Gremlin explain query string.</p>",
          "locationName":"gremlin"
        }
      }
    },
    "ExecuteGremlinExplainQueryOutput":{
      "type":"structure",
      "members":{
        "output":{
          "shape":"ReportAsText",
          "documentation":"<p>A text blob containing the Gremlin explain result, as described in <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/gremlin-traversal-tuning.html\">Tuning Gremlin queries</a>.</p>"
        }
      },
      "payload":"output"
    },
    "ExecuteGremlinProfileQueryInput":{
      "type":"structure",
      "required":["gremlinQuery"],
      "members":{
        "gremlinQuery":{
          "shape":"String",
          "documentation":"<p>The Gremlin query string to profile.</p>",
          "locationName":"gremlin"
        },
        "results":{
          "shape":"Boolean",
          "documentation":"<p>If this flag is set to <code>TRUE</code>, the query results are gathered and displayed as part of the profile report. If <code>FALSE</code>, only the result count is displayed.</p>",
          "locationName":"profile.results"
        },
        "chop":{
          "shape":"Integer",
          "documentation":"<p>If non-zero, causes the results string to be truncated at that number of characters. If set to zero, the string contains all the results.</p>",
          "locationName":"profile.chop"
        },
        "serializer":{
          "shape":"String",
          "documentation":"<p>If non-null, the gathered results are returned in a serialized response message in the format specified by this parameter. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/gremlin-profile-api.html\">Gremlin profile API in Neptune</a> for more information.</p>",
          "locationName":"profile.serializer"
        },
        "indexOps":{
          "shape":"Boolean",
          "documentation":"<p>If this flag is set to <code>TRUE</code>, the results include a detailed report of all index operations that took place during query execution and serialization.</p>",
          "locationName":"profile.indexOps"
        }
      }
    },
    "ExecuteGremlinProfileQueryOutput":{
      "type":"structure",
      "members":{
        "output":{
          "shape":"ReportAsText",
          "documentation":"<p>A text blob containing the Gremlin Profile result. See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/gremlin-profile-api.html\">Gremlin profile API in Neptune</a> for details.</p>"
        }
      },
      "payload":"output"
    },
[...]
