<form method="post" action="{{action}}" class="{{class}}">
    <div class="form-group">
        <span class="input-icon icon-mail">
            <input type="email" name="email" class="gh-input">
        </span>
    </div>
    <button class="btn btn-blue btn-block" type="submit">Subscribe</button>
</form>