<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}">&larr; 上一页</a>
    {{/if}}
    <span class="page-number">{{page}} / {{pages}}</span>
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">下一页 &rarr;</a>
    {{/if}}
</nav>