<nav class="pagination" role="pagination">
    {{#if prev}}
        <a class="newer-posts" href="{{pageUrl prev}}">&larr; Новые посты</a>
    {{/if}}
    <span class="page-number">Страница {{page}} из {{pages}}</span>
    {{#if next}}
        <a class="older-posts" href="{{pageUrl next}}">Старые посты &rarr;</a>
    {{/if}}
</nav>