<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev post_type}}">&larr; 上一页</a>
    {{/if}}
	{{{pageArray}}}
    {{#if next}}
        <a class="older-posts" href="{{page_url next post_type}}">下一页 &rarr;</a>
    {{/if}}
</nav>