{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2019-01-25",
    "endpointPrefix":"appmesh",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "serviceFullName":"AWS App Mesh",
    "serviceId":"App Mesh",
    "signatureVersion":"v4",
    "signingName":"appmesh",
    "uid":"appmesh-2019-01-25"
  },
  "operations":{
    "CreateGatewayRoute":{
      "name":"CreateGatewayRoute",
      "http":{
        "method":"PUT",
        "requestUri":"/v20190125/meshes/{meshName}/virtualGateway/{virtualGatewayName}/gatewayRoutes",
        "responseCode":200
      },
      "input":{"shape":"CreateGatewayRouteInput"},
      "output":{"shape":"CreateGatewayRouteOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a gateway route.</p> <p>A gateway route is attached to a virtual gateway and routes traffic to an existing virtual service. If a route matches a request, it can distribute traffic to a target virtual service.</p> <p>For more information about gateway routes, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/gateway-routes.html\">Gateway routes</a>.</p>",
      "idempotent":true
    },
    "CreateMesh":{
      "name":"CreateMesh",
      "http":{
        "method":"PUT",
        "requestUri":"/v20190125/meshes",
        "responseCode":200
      },
      "input":{"shape":"CreateMeshInput"},
      "output":{"shape":"CreateMeshOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a service mesh.</p> <p> A service mesh is a logical boundary for network traffic between services that are represented by resources within the mesh. After you create your service mesh, you can create virtual services, virtual nodes, virtual routers, and routes to distribute traffic between the applications in your mesh.</p> <p>For more information about service meshes, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/meshes.html\">Service meshes</a>.</p>",
      "idempotent":true
    },
    "CreateRoute":{
      "name":"CreateRoute",
      "http":{
        "method":"PUT",
        "requestUri":"/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes",
        "responseCode":200
      },
      "input":{"shape":"CreateRouteInput"},
      "output":{"shape":"CreateRouteOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a route that is associated with a virtual router.</p> <p> You can route several different protocols and define a retry policy for a route. Traffic can be routed to one or more virtual nodes.</p> <p>For more information about routes, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/routes.html\">Routes</a>.</p>",
      "idempotent":true
    },
    "CreateVirtualGateway":{
      "name":"CreateVirtualGateway",
      "http":{
        "method":"PUT",
        "requestUri":"/v20190125/meshes/{meshName}/virtualGateways",
        "responseCode":200
      },
      "input":{"shape":"CreateVirtualGatewayInput"},
      "output":{"shape":"CreateVirtualGatewayOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a virtual gateway.</p> <p>A virtual gateway allows resources outside your mesh to communicate to resources that are inside your mesh. The virtual gateway represents an Envoy proxy running in an Amazon ECS task, in a Kubernetes service, or on an Amazon EC2 instance. Unlike a virtual node, which represents an Envoy running with an application, a virtual gateway represents Envoy deployed by itself.</p> <p>For more information about virtual gateways, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/virtual_gateways.html\">Virtual gateways</a>. </p>",
      "idempotent":true
    },
    "CreateVirtualNode":{
      "name":"CreateVirtualNode",
      "http":{
        "method":"PUT",
        "requestUri":"/v20190125/meshes/{meshName}/virtualNodes",
        "responseCode":200
      },
      "input":{"shape":"CreateVirtualNodeInput"},
      "output":{"shape":"CreateVirtualNodeOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a virtual node within a service mesh.</p> <p> A virtual node acts as a logical pointer to a particular task group, such as an Amazon ECS service or a Kubernetes deployment. When you create a virtual node, you can specify the service discovery information for your task group, and whether the proxy running in a task group will communicate with other proxies using Transport Layer Security (TLS).</p> <p>You define a <code>listener</code> for any inbound traffic that your virtual node expects. Any virtual service that your virtual node expects to communicate to is specified as a <code>backend</code>.</p> <p>The response metadata for your new virtual node contains the <code>arn</code> that is associated with the virtual node. Set this value to the full ARN; for example, <code>arn:aws:appmesh:us-west-2:123456789012:myMesh/default/virtualNode/myApp</code>) as the <code>APPMESH_RESOURCE_ARN</code> environment variable for your task group's Envoy proxy container in your task definition or pod spec. This is then mapped to the <code>node.id</code> and <code>node.cluster</code> Envoy parameters.</p> <note> <p>By default, App Mesh uses the name of the resource you specified in <code>APPMESH_RESOURCE_ARN</code> when Envoy is referring to itself in metrics and traces. You can override this behavior by setting the <code>APPMESH_RESOURCE_CLUSTER</code> environment variable with your own name.</p> </note> <p>For more information about virtual nodes, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/virtual_nodes.html\">Virtual nodes</a>. You must be using <code>1.15.0</code> or later of the Envoy image when setting these variables. For more information aboutApp Mesh Envoy variables, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/envoy.html\">Envoy image</a> in the App Mesh User Guide.</p>",
      "idempotent":true
    },
    "CreateVirtualRouter":{
      "name":"CreateVirtualRouter",
      "http":{
        "method":"PUT",
        "requestUri":"/v20190125/meshes/{meshName}/virtualRouters",
        "responseCode":200
      },
      "input":{"shape":"CreateVirtualRouterInput"},
      "output":{"shape":"CreateVirtualRouterOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a virtual router within a service mesh.</p> <p>Specify a <code>listener</code> for any inbound traffic that your virtual router receives. Create a virtual router for each protocol and port that you need to route. Virtual routers handle traffic for one or more virtual services within your mesh. After you create your virtual router, create and associate routes for your virtual router that direct incoming requests to different virtual nodes.</p> <p>For more information about virtual routers, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/virtual_routers.html\">Virtual routers</a>.</p>",
      "idempotent":true
    },
    "CreateVirtualService":{
      "name":"CreateVirtualService",
      "http":{
        "method":"PUT",
        "requestUri":"/v20190125/meshes/{meshName}/virtualServices",
        "responseCode":200
      },
      "input":{"shape":"CreateVirtualServiceInput"},
      "output":{"shape":"CreateVirtualServiceOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a virtual service within a service mesh.</p> <p>A virtual service is an abstraction of a real service that is provided by a virtual node directly or indirectly by means of a virtual router. Dependent services call your virtual service by its <code>virtualServiceName</code>, and those requests are routed to the virtual node or virtual router that is specified as the provider for the virtual service.</p> <p>For more information about virtual services, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/virtual_services.html\">Virtual services</a>.</p>",
      "idempotent":true
    },
    "DeleteGatewayRoute":{
      "name":"DeleteGatewayRoute",
      "http":{
        "method":"DELETE",
        "requestUri":"/v20190125/meshes/{meshName}/virtualGateway/{virtualGatewayName}/gatewayRoutes/{gatewayRouteName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteGatewayRouteInput"},
      "output":{"shape":"DeleteGatewayRouteOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"}
      ],
      "documentation":"<p>Deletes an existing gateway route.</p>",
      "idempotent":true
    },
    "DeleteMesh":{
      "name":"DeleteMesh",
      "http":{
        "method":"DELETE",
        "requestUri":"/v20190125/meshes/{meshName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteMeshInput"},
      "output":{"shape":"DeleteMeshOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"}
      ],
      "documentation":"<p>Deletes an existing service mesh.</p> <p>You must delete all resources (virtual services, routes, virtual routers, and virtual nodes) in the service mesh before you can delete the mesh itself.</p>",
      "idempotent":true
    },
    "DeleteRoute":{
      "name":"DeleteRoute",
      "http":{
        "method":"DELETE",
        "requestUri":"/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteRouteInput"},
      "output":{"shape":"DeleteRouteOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"}
      ],
      "documentation":"<p>Deletes an existing route.</p>",
      "idempotent":true
    },
    "DeleteVirtualGateway":{
      "name":"DeleteVirtualGateway",
      "http":{
        "method":"DELETE",
        "requestUri":"/v20190125/meshes/{meshName}/virtualGateways/{virtualGatewayName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteVirtualGatewayInput"},
      "output":{"shape":"DeleteVirtualGatewayOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"}
      ],
      "documentation":"<p>Deletes an existing virtual gateway. You cannot delete a virtual gateway if any gateway routes are associated to it.</p>",
      "idempotent":true
    },
    "DeleteVirtualNode":{
      "name":"DeleteVirtualNode",
      "http":{
        "method":"DELETE",
        "requestUri":"/v20190125/meshes/{meshName}/virtualNodes/{virtualNodeName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteVirtualNodeInput"},
      "output":{"shape":"DeleteVirtualNodeOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"}
      ],
      "documentation":"<p>Deletes an existing virtual node.</p> <p>You must delete any virtual services that list a virtual node as a service provider before you can delete the virtual node itself.</p>",
      "idempotent":true
    },
    "DeleteVirtualRouter":{
      "name":"DeleteVirtualRouter",
      "http":{
        "method":"DELETE",
        "requestUri":"/v20190125/meshes/{meshName}/virtualRouters/{virtualRouterName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteVirtualRouterInput"},
      "output":{"shape":"DeleteVirtualRouterOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"}
      ],
      "documentation":"<p>Deletes an existing virtual router.</p> <p>You must delete any routes associated with the virtual router before you can delete the router itself.</p>",
      "idempotent":true
    },
    "DeleteVirtualService":{
      "name":"DeleteVirtualService",
      "http":{
        "method":"DELETE",
        "requestUri":"/v20190125/meshes/{meshName}/virtualServices/{virtualServiceName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteVirtualServiceInput"},
      "output":{"shape":"DeleteVirtualServiceOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"}
      ],
      "documentation":"<p>Deletes an existing virtual service.</p>",
      "idempotent":true
    },
    "DescribeGatewayRoute":{
      "name":"DescribeGatewayRoute",
      "http":{
        "method":"GET",
        "requestUri":"/v20190125/meshes/{meshName}/virtualGateway/{virtualGatewayName}/gatewayRoutes/{gatewayRouteName}",
        "responseCode":200
      },
      "input":{"shape":"DescribeGatewayRouteInput"},
      "output":{"shape":"DescribeGatewayRouteOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"}
      ],
      "documentation":"<p>Describes an existing gateway route.</p>"
    },
    "DescribeMesh":{
      "name":"DescribeMesh",
      "http":{
        "method":"GET",
        "requestUri":"/v20190125/meshes/{meshName}",
        "responseCode":200
      },
      "input":{"shape":"DescribeMeshInput"},
      "output":{"shape":"DescribeMeshOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"}
      ],
      "documentation":"<p>Describes an existing service mesh.</p>"
    },
    "DescribeRoute":{
      "name":"DescribeRoute",
      "http":{
        "method":"GET",
        "requestUri":"/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
        "responseCode":200
      },
      "input":{"shape":"DescribeRouteInput"},
      "output":{"shape":"DescribeRouteOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"}
      ],
      "documentation":"<p>Describes an existing route.</p>"
    },
    "DescribeVirtualGateway":{
      "name":"DescribeVirtualGateway",
      "http":{
        "method":"GET",
        "requestUri":"/v20190125/meshes/{meshName}/virtualGateways/{virtualGatewayName}",
        "responseCode":200
      },
      "input":{"shape":"DescribeVirtualGatewayInput"},
      "output":{"shape":"DescribeVirtualGatewayOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"}
      ],
      "documentation":"<p>Describes an existing virtual gateway.</p>"
    },
    "DescribeVirtualNode":{
      "name":"DescribeVirtualNode",
      "http":{
        "method":"GET",
        "requestUri":"/v20190125/meshes/{meshName}/virtualNodes/{virtualNodeName}",
        "responseCode":200
      },
      "input":{"shape":"DescribeVirtualNodeInput"},
      "output":{"shape":"DescribeVirtualNodeOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"}
      ],
      "documentation":"<p>Describes an existing virtual node.</p>"
    },
    "DescribeVirtualRouter":{
      "name":"DescribeVirtualRouter",
      "http":{
        "method":"GET",
        "requestUri":"/v20190125/meshes/{meshName}/virtualRouters/{virtualRouterName}",
        "responseCode":200
      },
      "input":{"shape":"DescribeVirtualRouterInput"},
      "output":{"shape":"DescribeVirtualRouterOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"}
      ],
      "documentation":"<p>Describes an existing virtual router.</p>"
    },
    "DescribeVirtualService":{
      "name":"DescribeVirtualService",
      "http":{
        "method":"GET",
        "requestUri":"/v20190125/meshes/{meshName}/virtualServices/{virtualServiceName}",
        "responseCode":200
      },
      "input":{"shape":"DescribeVirtualServiceInput"},
      "output":{"shape":"DescribeVirtualServiceOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"}
      ],
      "documentation":"<p>Describes an existing virtual service.</p>"
    },
    "ListGatewayRoutes":{
      "name":"ListGatewayRoutes",
      "http":{
        "method":"GET",
        "requestUri":"/v20190125/meshes/{meshName}/virtualGateway/{virtualGatewayName}/gatewayRoutes",
        "responseCode":200
      },
      "input":{"shape":"ListGatewayRoutesInput"},
      "output":{"shape":"ListGatewayRoutesOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"}
      ],
      "documentation":"<p>Returns a list of existing gateway routes that are associated to a virtual gateway.</p>"
    },
    "ListMeshes":{
      "name":"ListMeshes",
      "http":{
        "method":"GET",
        "requestUri":"/v20190125/meshes",
        "responseCode":200
      },
      "input":{"shape":"ListMeshesInput"},
      "output":{"shape":"ListMeshesOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"}
      ],
      "documentation":"<p>Returns a list of existing service meshes.</p>"
    },
    "ListRoutes":{
      "name":"ListRoutes",
      "http":{
        "method":"GET",
        "requestUri":"/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes",
        "responseCode":200
      },
      "input":{"shape":"ListRoutesInput"},
      "output":{"shape":"ListRoutesOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"}
      ],
      "documentation":"<p>Returns a list of existing routes in a service mesh.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/v20190125/tags",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceInput"},
      "output":{"shape":"ListTagsForResourceOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"}
      ],
      "documentation":"<p>List the tags for an App Mesh resource.</p>"
    },
    "ListVirtualGateways":{
      "name":"ListVirtualGateways",
      "http":{
        "method":"GET",
        "requestUri":"/v20190125/meshes/{meshName}/virtualGateways",
        "responseCode":200
      },
      "input":{"shape":"ListVirtualGatewaysInput"},
      "output":{"shape":"ListVirtualGatewaysOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"}
      ],
      "documentation":"<p>Returns a list of existing virtual gateways in a service mesh.</p>"
    },
    "ListVirtualNodes":{
      "name":"ListVirtualNodes",
      "http":{
        "method":"GET",
        "requestUri":"/v20190125/meshes/{meshName}/virtualNodes",
        "responseCode":200
      },
      "input":{"shape":"ListVirtualNodesInput"},
      "output":{"shape":"ListVirtualNodesOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"}
      ],
      "documentation":"<p>Returns a list of existing virtual nodes.</p>"
    },
    "ListVirtualRouters":{
      "name":"ListVirtualRouters",
      "http":{
        "method":"GET",
        "requestUri":"/v20190125/meshes/{meshName}/virtualRouters",
        "responseCode":200
      },
      "input":{"shape":"ListVirtualRoutersInput"},
      "output":{"shape":"ListVirtualRoutersOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"}
      ],
      "documentation":"<p>Returns a list of existing virtual routers in a service mesh.</p>"
    },
    "ListVirtualServices":{
      "name":"ListVirtualServices",
      "http":{
        "method":"GET",
        "requestUri":"/v20190125/meshes/{meshName}/virtualServices",
        "responseCode":200
      },
      "input":{"shape":"ListVirtualServicesInput"},
      "output":{"shape":"ListVirtualServicesOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"}
      ],
      "documentation":"<p>Returns a list of existing virtual services in a service mesh.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"PUT",
        "requestUri":"/v20190125/tag",
        "responseCode":200
      },
      "input":{"shape":"TagResourceInput"},
      "output":{"shape":"TagResourceOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"TooManyTagsException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"}
      ],
      "documentation":"<p>Associates the specified tags to a resource with the specified <code>resourceArn</code>. If existing tags on a resource aren't specified in the request parameters, they aren't changed. When a resource is deleted, the tags associated with that resource are also deleted.</p>",
      "idempotent":true
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"PUT",
        "requestUri":"/v20190125/untag",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceInput"},
      "output":{"shape":"UntagResourceOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"}
      ],
      "documentation":"<p>Deletes specified tags from a resource.</p>",
      "idempotent":true
    },
    "UpdateGatewayRoute":{
      "name":"UpdateGatewayRoute",
      "http":{
        "method":"PUT",
        "requestUri":"/v20190125/meshes/{meshName}/virtualGateway/{virtualGatewayName}/gatewayRoutes/{gatewayRouteName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateGatewayRouteInput"},
      "output":{"shape":"UpdateGatewayRouteOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Updates an existing gateway route that is associated to a specified virtual gateway in a service mesh.</p>",
      "idempotent":true
    },
    "UpdateMesh":{
      "name":"UpdateMesh",
      "http":{
        "method":"PUT",
        "requestUri":"/v20190125/meshes/{meshName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateMeshInput"},
      "output":{"shape":"UpdateMeshOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"}
      ],
      "documentation":"<p>Updates an existing service mesh.</p>",
      "idempotent":true
    },
    "UpdateRoute":{
      "name":"UpdateRoute",
      "http":{
        "method":"PUT",
        "requestUri":"/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateRouteInput"},
      "output":{"shape":"UpdateRouteOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Updates an existing route for a specified service mesh and virtual router.</p>",
      "idempotent":true
    },
    "UpdateVirtualGateway":{
      "name":"UpdateVirtualGateway",
      "http":{
        "method":"PUT",
        "requestUri":"/v20190125/meshes/{meshName}/virtualGateways/{virtualGatewayName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateVirtualGatewayInput"},
      "output":{"shape":"UpdateVirtualGatewayOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Updates an existing virtual gateway in a specified service mesh.</p>",
      "idempotent":true
    },
    "UpdateVirtualNode":{
      "name":"UpdateVirtualNode",
      "http":{
        "method":"PUT",
        "requestUri":"/v20190125/meshes/{meshName}/virtualNodes/{virtualNodeName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateVirtualNodeInput"},
      "output":{"shape":"UpdateVirtualNodeOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Updates an existing virtual node in a specified service mesh.</p>",
      "idempotent":true
    },
    "UpdateVirtualRouter":{
      "name":"UpdateVirtualRouter",
      "http":{
        "method":"PUT",
        "requestUri":"/v20190125/meshes/{meshName}/virtualRouters/{virtualRouterName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateVirtualRouterInput"},
      "output":{"shape":"UpdateVirtualRouterOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Updates an existing virtual router in a specified service mesh.</p>",
      "idempotent":true
    },
    "UpdateVirtualService":{
      "name":"UpdateVirtualService",
      "http":{
        "method":"PUT",
        "requestUri":"/v20190125/meshes/{meshName}/virtualServices/{virtualServiceName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateVirtualServiceInput"},
      "output":{"shape":"UpdateVirtualServiceOutput"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ForbiddenException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Updates an existing virtual service in a specified service mesh.</p>",
      "idempotent":true
    }
  },
  "shapes":{
    "AccessLog":{
      "type":"structure",
      "members":{
        "file":{
          "shape":"FileAccessLog",
          "documentation":"<p>The file object to send virtual node access logs to.</p>"
        }
      },
      "documentation":"<p>An object that represents the access logging information for a virtual node.</p>",
      "union":true
    },
    "AccountId":{
      "type":"string",
      "max":12,
      "min":12
    },
    "Arn":{"type":"string"},
    "AwsCloudMapInstanceAttribute":{
      "type":"structure",
      "required":[
        "key",
        "value"
      ],
      "members":{
        "key":{
          "shape":"AwsCloudMapInstanceAttributeKey",
          "documentation":"<p>The name of an Cloud Map service instance attribute key. Any Cloud Map service instance that contains the specified key and value is returned.</p>"
        },
        "value":{
          "shape":"AwsCloudMapInstanceAttributeValue",
          "documentation":"<p>The value of an Cloud Map service instance attribute key. Any Cloud Map service instance that contains the specified key and value is returned.</p>"
        }
      },
      "documentation":"<p>An object that represents the Cloud Map attribute information for your virtual node.</p> <note> <p>Cloud Map is not available in the eu-south-1 Region.</p> </note>"
    },
    "AwsCloudMapInstanceAttributeKey":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^[a-zA-Z0-9!-~]+$"
    },
    "AwsCloudMapInstanceAttributeValue":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"^([a-zA-Z0-9!-~][  a-zA-Z0-9!-~]*){0,1}[a-zA-Z0-9!-~]{0,1}$"
    },
    "AwsCloudMapInstanceAttributes":{
      "type":"list",
      "member":{"shape":"AwsCloudMapInstanceAttribute"}
    },
    "AwsCloudMapName":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "AwsCloudMapServiceDiscovery":{
      "type":"structure",
      "required":[
        "namespaceName",
        "serviceName"
      ],
      "members":{
        "attributes":{
          "shape":"AwsCloudMapInstanceAttributes",
          "documentation":"<p>A string map that contains attributes with values that you can use to filter instances by any custom attribute that you specified when you registered the instance. Only instances that match all of the specified key/value pairs will be returned.</p>"
        },
        "ipPreference":{
          "shape":"IpPreference",
          "documentation":"<p>The preferred IP version that this virtual node uses. Setting the IP preference on the virtual node only overrides the IP preference set for the mesh on this specific node.</p>"
        },
        "namespaceName":{
          "shape":"AwsCloudMapName",
          "documentation":"<p>The name of the Cloud Map namespace to use.</p>"
        },
        "serviceName":{
          "shape":"AwsCloudMapName",
          "documentation":"<p>The name of the Cloud Map service to use.</p>"
        }
      },
      "documentation":"<p>An object that represents the Cloud Map service discovery information for your virtual node.</p> <note> <p>Cloud Map is not available in the eu-south-1 Region.</p> </note>"
    },
    "Backend":{
      "type":"structure",
      "members":{
        "virtualService":{
          "shape":"VirtualServiceBackend",
          "documentation":"<p>Specifies a virtual service to use as a backend. </p>"
        }
      },
      "documentation":"<p>An object that represents the backends that a virtual node is expected to send outbound traffic to.</p>",
      "union":true
    },
    "BackendDefaults":{
      "type":"structure",
      "members":{
        "clientPolicy":{
          "shape":"ClientPolicy",
          "documentation":"<p>A reference to an object that represents a client policy.</p>"
        }
      },
      "documentation":"<p>An object that represents the default properties for a backend.</p>"
    },
    "Backends":{
      "type":"list",
      "member":{"shape":"Backend"}
    },
    "BadRequestException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>The request syntax was malformed. Check your request syntax and try again.</p>",
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "CertificateAuthorityArns":{
      "type":"list",
      "member":{"shape":"Arn"},
      "max":3,
      "min":1
    },
    "ClientPolicy":{
      "type":"structure",
      "members":{
        "tls":{
          "shape":"ClientPolicyTls",
          "documentation":"<p>A reference to an object that represents a Transport Layer Security (TLS) client policy.</p>"
        }
      },
      "documentation":"<p>An object that represents a client policy.</p>"
    },
    "ClientPolicyTls":{
      "type":"structure",
      "required":["validation"],
      "members":{
        "certificate":{
          "shape":"ClientTlsCertificate",
          "documentation":"<p>A reference to an object that represents a client's TLS certificate.</p>"
        },
        "enforce":{
          "shape":"Boolean",
          "documentation":"<p>Whether the policy is enforced. The default is <code>True</code>, if a value isn't specified.</p>"
        },
        "ports":{
          "shape":"PortSet",
          "documentation":"<p>One or more ports that the policy is enforced for.</p>"
        },
        "validation":{
          "shape":"TlsValidationContext",
          "documentation":"<p>A reference to an object that represents a TLS validation context.</p>"
        }
      },
      "documentation":"<p>A reference to an object that represents a Transport Layer Security (TLS) client policy.</p>"
    },
    "ClientTlsCertificate":{
      "type":"structure",
      "members":{
        "file":{
          "shape":"ListenerTlsFileCertificate",
          "documentation":"<p>An object that represents a local file certificate. The certificate must meet specific requirements and you must have proxy authorization enabled. For more information, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/tls.html\">Transport Layer Security (TLS)</a>.</p>"
        },
        "sds":{
          "shape":"ListenerTlsSdsCertificate",
          "documentation":"<p>A reference to an object that represents a client's TLS Secret Discovery Service certificate.</p>"
        }
      },
      "documentation":"<p>An object that represents the client's certificate.</p>",
      "union":true
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>The request contains a client token that was used for a previous update resource call with different specifications. Try the request again with a new client token.</p>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "CreateGatewayRouteInput":{
      "type":"structure",
      "required":[
        "gatewayRouteName",
        "meshName",
        "spec",
        "virtualGatewayName"
      ],
      "members":{
        "clientToken":{
          "shape":"String",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken":true
        },
        "gatewayRouteName":{
          "shape":"ResourceName",
          "documentation":"<p>The name to use for the gateway route.</p>"
        },
        "meshName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the service mesh to create the gateway route in.</p>",
          "location":"uri",
          "locationName":"meshName"
        },
        "meshOwner":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then the account that you specify must share the mesh with your account before you can create the resource in the service mesh. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location":"querystring",
          "locationName":"meshOwner"
        },
        "spec":{
          "shape":"GatewayRouteSpec",
          "documentation":"<p>The gateway route specification to apply.</p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>Optional metadata that you can apply to the gateway route to assist with categorization and organization. Each tag consists of a key and an optional value, both of which you define. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.</p>"
        },
        "virtualGatewayName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the virtual gateway to associate the gateway route with. If the virtual gateway is in a shared mesh, then you must be the owner of the virtual gateway resource.</p>",
          "location":"uri",
          "locationName":"virtualGatewayName"
        }
      }
    },
    "CreateGatewayRouteOutput":{
      "type":"structure",
      "required":["gatewayRoute"],
      "members":{
        "gatewayRoute":{
          "shape":"GatewayRouteData",
          "documentation":"<p>The full description of your gateway route following the create call.</p>"
        }
      },
      "payload":"gatewayRoute"
    },
    "CreateMeshInput":{
      "type":"structure",
      "required":["meshName"],
      "members":{
        "clientToken":{
          "shape":"String",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken":true
        },
        "meshName":{
          "shape":"ResourceName",
          "documentation":"<p>The name to use for the service mesh.</p>"
        },
        "spec":{
          "shape":"MeshSpec",
          "documentation":"<p>The service mesh specification to apply.</p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>Optional metadata that you can apply to the service mesh to assist with categorization and organization. Each tag consists of a key and an optional value, both of which you define. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "CreateMeshOutput":{
      "type":"structure",
      "required":["mesh"],
      "members":{
        "mesh":{
          "shape":"MeshData",
          "documentation":"<p>The full description of your service mesh following the create call.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>",
      "payload":"mesh"
    },
    "CreateRouteInput":{
      "type":"structure",
      "required":[
        "meshName",
        "routeName",
        "spec",
        "virtualRouterName"
      ],
      "members":{
        "clientToken":{
          "shape":"String",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken":true
        },
        "meshName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the service mesh to create the route in.</p>",
          "location":"uri",
          "locationName":"meshName"
        },
        "meshOwner":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then the account that you specify must share the mesh with your account before you can create the resource in the service mesh. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location":"querystring",
          "locationName":"meshOwner"
        },
        "routeName":{
          "shape":"ResourceName",
          "documentation":"<p>The name to use for the route.</p>"
        },
        "spec":{
          "shape":"RouteSpec",
          "documentation":"<p>The route specification to apply.</p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>Optional metadata that you can apply to the route to assist with categorization and organization. Each tag consists of a key and an optional value, both of which you define. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.</p>"
        },
        "virtualRouterName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the virtual router in which to create the route. If the virtual router is in a shared mesh, then you must be the owner of the virtual router resource.</p>",
          "location":"uri",
          "locationName":"virtualRouterName"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "CreateRouteOutput":{
      "type":"structure",
      "required":["route"],
      "members":{
        "route":{
          "shape":"RouteData",
          "documentation":"<p>The full description of your mesh following the create call.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>",
      "payload":"route"
    },
    "CreateVirtualGatewayInput":{
      "type":"structure",
      "required":[
        "meshName",
        "spec",
        "virtualGatewayName"
      ],
      "members":{
        "clientToken":{
          "shape":"String",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken":true
        },
        "meshName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the service mesh to create the virtual gateway in.</p>",
          "location":"uri",
          "locationName":"meshName"
        },
        "meshOwner":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then the account that you specify must share the mesh with your account before you can create the resource in the service mesh. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location":"querystring",
          "locationName":"meshOwner"
        },
        "spec":{
          "shape":"VirtualGatewaySpec",
          "documentation":"<p>The virtual gateway specification to apply.</p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>Optional metadata that you can apply to the virtual gateway to assist with categorization and organization. Each tag consists of a key and an optional value, both of which you define. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.</p>"
        },
        "virtualGatewayName":{
          "shape":"ResourceName",
          "documentation":"<p>The name to use for the virtual gateway.</p>"
        }
      }
    },
    "CreateVirtualGatewayOutput":{
      "type":"structure",
      "required":["virtualGateway"],
      "members":{
        "virtualGateway":{
          "shape":"VirtualGatewayData",
          "documentation":"<p>The full description of your virtual gateway following the create call.</p>"
        }
      },
      "payload":"virtualGateway"
    },
    "CreateVirtualNodeInput":{
      "type":"structure",
      "required":[
        "meshName",
        "spec",
        "virtualNodeName"
      ],
      "members":{
        "clientToken":{
          "shape":"String",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken":true
        },
        "meshName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the service mesh to create the virtual node in.</p>",
          "location":"uri",
          "locationName":"meshName"
        },
        "meshOwner":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then the account that you specify must share the mesh with your account before you can create the resource in the service mesh. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location":"querystring",
          "locationName":"meshOwner"
        },
        "spec":{
          "shape":"VirtualNodeSpec",
          "documentation":"<p>The virtual node specification to apply.</p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>Optional metadata that you can apply to the virtual node to assist with categorization and organization. Each tag consists of a key and an optional value, both of which you define. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.</p>"
        },
        "virtualNodeName":{
          "shape":"ResourceName",
          "documentation":"<p>The name to use for the virtual node.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "CreateVirtualNodeOutput":{
      "type":"structure",
      "required":["virtualNode"],
      "members":{
        "virtualNode":{
          "shape":"VirtualNodeData",
          "documentation":"<p>The full description of your virtual node following the create call.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>",
      "payload":"virtualNode"
    },
    "CreateVirtualRouterInput":{
      "type":"structure",
      "required":[
        "meshName",
        "spec",
        "virtualRouterName"
      ],
      "members":{
        "clientToken":{
          "shape":"String",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken":true
        },
        "meshName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the service mesh to create the virtual router in.</p>",
          "location":"uri",
          "locationName":"meshName"
        },
        "meshOwner":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then the account that you specify must share the mesh with your account before you can create the resource in the service mesh. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location":"querystring",
          "locationName":"meshOwner"
        },
        "spec":{
          "shape":"VirtualRouterSpec",
          "documentation":"<p>The virtual router specification to apply.</p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>Optional metadata that you can apply to the virtual router to assist with categorization and organization. Each tag consists of a key and an optional value, both of which you define. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.</p>"
        },
        "virtualRouterName":{
          "shape":"ResourceName",
          "documentation":"<p>The name to use for the virtual router.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "CreateVirtualRouterOutput":{
      "type":"structure",
      "required":["virtualRouter"],
      "members":{
        "virtualRouter":{
          "shape":"VirtualRouterData",
          "documentation":"<p>The full description of your virtual router following the create call.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>",
      "payload":"virtualRouter"
    },
    "CreateVirtualServiceInput":{
      "type":"structure",
      "required":[
        "meshName",
        "spec",
        "virtualServiceName"
      ],
      "members":{
        "clientToken":{
          "shape":"String",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken":true
        },
        "meshName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the service mesh to create the virtual service in.</p>",
          "location":"uri",
          "locationName":"meshName"
        },
        "meshOwner":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then the account that you specify must share the mesh with your account before you can create the resource in the service mesh. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location":"querystring",
          "locationName":"meshOwner"
        },
        "spec":{
          "shape":"VirtualServiceSpec",
          "documentation":"<p>The virtual service specification to apply.</p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>Optional metadata that you can apply to the virtual service to assist with categorization and organization. Each tag consists of a key and an optional value, both of which you define. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.</p>"
        },
        "virtualServiceName":{
          "shape":"ServiceName",
          "documentation":"<p>The name to use for the virtual service.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "CreateVirtualServiceOutput":{
      "type":"structure",
      "required":["virtualService"],
      "members":{
        "virtualService":{
          "shape":"VirtualServiceData",
          "documentation":"<p>The full description of your virtual service following the create call.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>",
      "payload":"virtualService"
    },
    "DefaultGatewayRouteRewrite":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "DeleteGatewayRouteInput":{
      "type":"structure",
      "required":[
        "gatewayRouteName",
        "meshName",
        "virtualGatewayName"
      ],
      "members":{
        "gatewayRouteName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the gateway route to delete.</p>",
          "location":"uri",
          "locationName":"gatewayRouteName"
        },
        "meshName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the service mesh to delete the gateway route from.</p>",
          "location":"uri",
          "locationName":"meshName"
        },
        "meshOwner":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then it's the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location":"querystring",
          "locationName":"meshOwner"
        },
        "virtualGatewayName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the virtual gateway to delete the route from.</p>",
          "location":"uri",
          "locationName":"virtualGatewayName"
        }
      }
    },
    "DeleteGatewayRouteOutput":{
      "type":"structure",
      "required":["gatewayRoute"],
      "members":{
        "gatewayRoute":{
          "shape":"GatewayRouteData",
          "documentation":"<p>The gateway route that was deleted.</p>"
        }
      },
      "payload":"gatewayRoute"
    },
    "DeleteMeshInput":{
      "type":"structure",
      "required":["meshName"],
      "members":{
        "meshName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the service mesh to delete.</p>",
          "location":"uri",
          "locationName":"meshName"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "DeleteMeshOutput":{
      "type":"structure",
      "required":["mesh"],
      "members":{
        "mesh":{
          "shape":"MeshData",
          "documentation":"<p>The service mesh that was deleted.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>",
      "payload":"mesh"
    },
    "DeleteRouteInput":{
      "type":"structure",
      "required":[
        "meshName",
        "routeName",
        "virtualRouterName"
      ],
      "members":{
        "meshName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the service mesh to delete the route in.</p>",
          "location":"uri",
          "locationName":"meshName"
        },
        "meshOwner":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then it's the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location":"querystring",
          "locationName":"meshOwner"
        },
        "routeName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the route to delete.</p>",
          "location":"uri",
          "locationName":"routeName"
        },
        "virtualRouterName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the virtual router to delete the route in.</p>",
          "location":"uri",
          "locationName":"virtualRouterName"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "DeleteRouteOutput":{
      "type":"structure",
      "required":["route"],
      "members":{
        "route":{
          "shape":"RouteData",
          "documentation":"<p>The route that was deleted.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>",
      "payload":"route"
    },
    "DeleteVirtualGatewayInput":{
      "type":"structure",
      "required":[
        "meshName",
        "virtualGatewayName"
      ],
      "members":{
        "meshName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the service mesh to delete the virtual gateway from.</p>",
          "location":"uri",
          "locationName":"meshName"
        },
        "meshOwner":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then it's the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location":"querystring",
          "locationName":"meshOwner"
        },
        "virtualGatewayName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the virtual gateway to delete.</p>",
          "location":"uri",
          "locationName":"virtualGatewayName"
        }
      }
    },
    "DeleteVirtualGatewayOutput":{
      "type":"structure",
      "required":["virtualGateway"],
      "members":{
        "virtualGateway":{
          "shape":"VirtualGatewayData",
          "documentation":"<p>The virtual gateway that was deleted.</p>"
        }
      },
      "payload":"virtualGateway"
    },
    "DeleteVirtualNodeInput":{
      "type":"structure",
      "required":[
        "meshName",
        "virtualNodeName"
      ],
      "members":{
        "meshName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the service mesh to delete the virtual node in.</p>",
          "location":"uri",
          "locationName":"meshName"
        },
        "meshOwner":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then it's the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location":"querystring",
          "locationName":"meshOwner"
        },
        "virtualNodeName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the virtual node to delete.</p>",
          "location":"uri",
          "locationName":"virtualNodeName"
        }
      },
      "documentation":"<p>Deletes a virtual node input.</p>"
    },
    "DeleteVirtualNodeOutput":{
      "type":"structure",
      "required":["virtualNode"],
      "members":{
        "virtualNode":{
          "shape":"VirtualNodeData",
          "documentation":"<p>The virtual node that was deleted.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>",
      "payload":"virtualNode"
    },
    "DeleteVirtualRouterInput":{
      "type":"structure",
      "required":[
        "meshName",
        "virtualRouterName"
      ],
      "members":{
        "meshName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the service mesh to delete the virtual router in.</p>",
          "location":"uri",
          "locationName":"meshName"
        },
        "meshOwner":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then it's the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location":"querystring",
          "locationName":"meshOwner"
        },
        "virtualRouterName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the virtual router to delete.</p>",
          "location":"uri",
          "locationName":"virtualRouterName"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "DeleteVirtualRouterOutput":{
      "type":"structure",
      "required":["virtualRouter"],
      "members":{
        "virtualRouter":{
          "shape":"VirtualRouterData",
          "documentation":"<p>The virtual router that was deleted.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>",
      "payload":"virtualRouter"
    },
    "DeleteVirtualServiceInput":{
      "type":"structure",
      "required":[
        "meshName",
        "virtualServiceName"
      ],
      "members":{
        "meshName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the service mesh to delete the virtual service in.</p>",
          "location":"uri",
          "locationName":"meshName"
        },
        "meshOwner":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then it's the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location":"querystring",
          "locationName":"meshOwner"
        },
        "virtualServiceName":{
          "shape":"ServiceName",
          "documentation":"<p>The name of the virtual service to delete.</p>",
          "location":"uri",
          "locationName":"virtualServiceName"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "DeleteVirtualServiceOutput":{
      "type":"structure",
      "required":["virtualService"],
      "members":{
        "virtualService":{
          "shape":"VirtualServiceData",
          "documentation":"<p>The virtual service that was deleted.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>",
      "payload":"virtualService"
    },
    "DescribeGatewayRouteInput":{
      "type":"structure",
      "required":[
        "gatewayRouteName",
        "meshName",
        "virtualGatewayName"
      ],
      "members":{
        "gatewayRouteName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the gateway route to describe.</p>",
          "location":"uri",
          "locationName":"gatewayRouteName"
        },
        "meshName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the service mesh that the gateway route resides in.</p>",
          "location":"uri",
          "locationName":"meshName"
        },
        "meshOwner":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then it's the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location":"querystring",
          "locationName":"meshOwner"
        },
        "virtualGatewayName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the virtual gateway that the gateway route is associated with.</p>",
          "location":"uri",
          "locationName":"virtualGatewayName"
        }
      }
    },
    "DescribeGatewayRouteOutput":{
      "type":"structure",
      "required":["gatewayRoute"],
      "members":{
        "gatewayRoute":{
          "shape":"GatewayRouteData",
          "documentation":"<p>The full description of your gateway route.</p>"
        }
      },
      "payload":"gatewayRoute"
    },
    "DescribeMeshInput":{
      "type":"structure",
      "required":["meshName"],
      "members":{
        "meshName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the service mesh to describe.</p>",
          "location":"uri",
          "locationName":"meshName"
        },
        "meshOwner":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then it's the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location":"querystring",
          "locationName":"meshOwner"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "DescribeMeshOutput":{
      "type":"structure",
      "required":["mesh"],
      "members":{
        "mesh":{
          "shape":"MeshData",
          "documentation":"<p>The full description of your service mesh.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>",
      "payload":"mesh"
    },
    "DescribeRouteInput":{
      "type":"structure",
      "required":[
        "meshName",
        "routeName",
        "virtualRouterName"
      ],
      "members":{
        "meshName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the service mesh that the route resides in.</p>",
          "location":"uri",
          "locationName":"meshName"
        },
        "meshOwner":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then it's the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location":"querystring",
          "locationName":"meshOwner"
        },
        "routeName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the route to describe.</p>",
          "location":"uri",
          "locationName":"routeName"
        },
        "virtualRouterName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the virtual router that the route is associated with.</p>",
          "location":"uri",
          "locationName":"virtualRouterName"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "DescribeRouteOutput":{
      "type":"structure",
      "required":["route"],
      "members":{
        "route":{
          "shape":"RouteData",
          "documentation":"<p>The full description of your route.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>",
      "payload":"route"
    },
    "DescribeVirtualGatewayInput":{
      "type":"structure",
      "required":[
        "meshName",
        "virtualGatewayName"
      ],
      "members":{
        "meshName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the service mesh that the gateway route resides in.</p>",
          "location":"uri",
          "locationName":"meshName"
        },
        "meshOwner":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then it's the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location":"querystring",
          "locationName":"meshOwner"
        },
        "virtualGatewayName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the virtual gateway to describe.</p>",
          "location":"uri",
          "locationName":"virtualGatewayName"
        }
      }
    },
    "DescribeVirtualGatewayOutput":{
      "type":"structure",
      "required":["virtualGateway"],
      "members":{
        "virtualGateway":{
          "shape":"VirtualGatewayData",
          "documentation":"<p>The full description of your virtual gateway.</p>"
        }
      },
      "payload":"virtualGateway"
    },
    "DescribeVirtualNodeInput":{
      "type":"structure",
      "required":[
        "meshName",
        "virtualNodeName"
      ],
      "members":{
        "meshName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the service mesh that the virtual node resides in.</p>",
          "location":"uri",
          "locationName":"meshName"
        },
        "meshOwner":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then it's the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location":"querystring",
          "locationName":"meshOwner"
        },
        "virtualNodeName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the virtual node to describe.</p>",
          "location":"uri",
          "locationName":"virtualNodeName"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "DescribeVirtualNodeOutput":{
      "type":"structure",
      "required":["virtualNode"],
      "members":{
        "virtualNode":{
          "shape":"VirtualNodeData",
          "documentation":"<p>The full description of your virtual node.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>",
      "payload":"virtualNode"
    },
    "DescribeVirtualRouterInput":{
      "type":"structure",
      "required":[
        "meshName",
        "virtualRouterName"
      ],
      "members":{
        "meshName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the service mesh that the virtual router resides in.</p>",
          "location":"uri",
          "locationName":"meshName"
        },
        "meshOwner":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then it's the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location":"querystring",
          "locationName":"meshOwner"
        },
        "virtualRouterName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the virtual router to describe.</p>",
          "location":"uri",
          "locationName":"virtualRouterName"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "DescribeVirtualRouterOutput":{
      "type":"structure",
      "required":["virtualRouter"],
      "members":{
        "virtualRouter":{
          "shape":"VirtualRouterData",
          "documentation":"<p>The full description of your virtual router.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>",
      "payload":"virtualRouter"
    },
    "DescribeVirtualServiceInput":{
      "type":"structure",
      "required":[
        "meshName",
        "virtualServiceName"
      ],
      "members":{
        "meshName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the service mesh that the virtual service resides in.</p>",
          "location":"uri",
          "locationName":"meshName"
        },
        "meshOwner":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then it's the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>",
          "location":"querystring",
          "locationName":"meshOwner"
        },
        "virtualServiceName":{
          "shape":"ServiceName",
          "documentation":"<p>The name of the virtual service to describe.</p>",
          "location":"uri",
          "locationName":"virtualServiceName"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>"
    },
    "DescribeVirtualServiceOutput":{
      "type":"structure",
      "required":["virtualService"],
      "members":{
        "virtualService":{
          "shape":"VirtualServiceData",
          "documentation":"<p>The full description of your virtual service.</p>"
        }
      },
      "documentation":"<zonbook></zonbook><xhtml></xhtml>",
      "payload":"virtualService"
    },
    "DnsResponseType":{
      "type":"string",
      "enum":[
        "LOADBALANCER",
        "ENDPOINTS"
      ]
    },
    "DnsServiceDiscovery":{
      "type":"structure",
      "required":["hostname"],
      "members":{
        "hostname":{
          "shape":"Hostname",
          "documentation":"<p>Specifies the DNS service discovery hostname for the virtual node. </p>"
        },
        "ipPreference":{
          "shape":"IpPreference",
          "documentation":"<p>The preferred IP version that this virtual node uses. Setting the IP preference on the virtual node only overrides the IP preference set for the mesh on this specific node.</p>"
        },
        "responseType":{
          "shape":"DnsResponseType",
          "documentation":"<p>Specifies the DNS response type for the virtual node.</p>"
        }
      },
      "documentation":"<p>An object that represents the DNS service discovery information for your virtual node.</p>"
    },
    "Duration":{
      "type":"structure",
      "members":{
        "unit":{
          "shape":"DurationUnit",
          "documentation":"<p>A unit of time.</p>"
        },
        "value":{
          "shape":"DurationValue",
          "documentation":"<p>A number of time units.</p>"
        }
      },
      "documentation":"<p>An object that represents a duration of time.</p>"
    },
    "DurationUnit":{
      "type":"string",
      "enum":[
        "s",
        "ms"
      ]
    },
    "DurationValue":{
      "type":"long",
      "box":true,
      "min":0
    },
    "EgressFilter":{
      "type":"structure",
      "required":["type"],
      "members":{
        "type":{
          "shape":"EgressFilterType",
          "documentation":"<p>The egress filter type. By default, the type is <code>DROP_ALL</code>, which allows egress only from virtual nodes to other defined resources in the service mesh (and any traffic to <code>*.amazonaws.com</code> for Amazon Web Services API calls). You can set the egress filter type to <code>ALLOW_ALL</code> to allow egress to any endpoint inside or outside of the service mesh.</p>"
        }
      },
      "documentation":"<p>An object that represents the egress filter rules for a service mesh.</p>"
    },
    "EgressFilterType":{
      "type":"string",
      "enum":[
        "ALLOW_ALL",
        "DROP_ALL"
      ]
    },
    "ExactHostName":{
      "type":"string",
      "max":253,
      "min":1
    },
    "FileAccessLog":{
      "type":"structure",
      "required":["path"],
      "members":{
        "format":{
          "shape":"LoggingFormat",
          "documentation":"<p>The specified format for the logs. The format is either <code>json_format</code> or <code>text_format</code>.</p>"
        },
        "path":{
          "shape":"FilePath",
          "documentation":"<p>The file path to write access logs to. You can use <code>/dev/stdout</code> to send access logs to standard out and configure your Envoy container to use a log driver, such as <code>awslogs</code>, to export the access logs to a log storage service such as Amazon CloudWatch Logs. You can also specify a path in the Envoy container's file system to write the files to disk.</p> <note> <p>The Envoy process must have write permissions to the path that you specify here. Otherwise, Envoy fails to bootstrap properly.</p> </note>"
        }
      },
      "documentation":"<p>An object that represents an access log file.</p>"
    },
    "FilePath":{
      "type":"string",
      "max":255,
      "min":1
    },
    "ForbiddenException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>You don't have permissions to perform this action.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "GatewayRouteData":{
      "type":"structure",
      "required":[
        "gatewayRouteName",
        "meshName",
        "metadata",
        "spec",
        "status",
        "virtualGatewayName"
      ],
      "members":{
        "gatewayRouteName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the gateway route.</p>"
        },
        "meshName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the service mesh that the resource resides in. </p>"
        },
        "metadata":{"shape":"ResourceMetadata"},
        "spec":{
          "shape":"GatewayRouteSpec",
          "documentation":"<p>The specifications of the gateway route.</p>"
        },
        "status":{
          "shape":"GatewayRouteStatus",
          "documentation":"<p>The status of the gateway route.</p>"
        },
        "virtualGatewayName":{
          "shape":"ResourceName",
          "documentation":"<p>The virtual gateway that the gateway route is associated with.</p>"
        }
      },
      "documentation":"<p>An object that represents a gateway route returned by a describe operation.</p>"
    },
    "GatewayRouteHostnameMatch":{
      "type":"structure",
      "members":{
        "exact":{
          "shape":"ExactHostName",
          "documentation":"<p>The exact host name to match on.</p>"
        },
        "suffix":{
          "shape":"SuffixHostname",
          "documentation":"<p>The specified ending characters of the host name to match on.</p>"
        }
      },
      "documentation":"<p>An object representing the gateway route host name to match.</p>"
    },
    "GatewayRouteHostnameRewrite":{
      "type":"structure",
      "members":{
        "defaultTargetHostname":{
          "shape":"DefaultGatewayRouteRewrite",
          "documentation":"<p>The default target host name to write to.</p>"
        }
      },
      "documentation":"<p>An object representing the gateway route host name to rewrite.</p>"
    },
    "GatewayRouteList":{
      "type":"list",
      "member":{"shape":"GatewayRouteRef"}
    },
    "GatewayRoutePriority":{
      "type":"integer",
      "box":true,
      "max":1000,
      "min":0
    },
    "GatewayRouteRef":{
      "type":"structure",
      "required":[
        "arn",
        "createdAt",
        "gatewayRouteName",
        "lastUpdatedAt",
        "meshName",
        "meshOwner",
        "resourceOwner",
        "version",
        "virtualGatewayName"
      ],
      "members":{
        "arn":{
          "shape":"Arn",
          "documentation":"<p>The full Amazon Resource Name (ARN) for the gateway route.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix epoch timestamp in seconds for when the resource was created.</p>"
        },
        "gatewayRouteName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the gateway route.</p>"
        },
        "lastUpdatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix epoch timestamp in seconds for when the resource was last updated.</p>"
        },
        "meshName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the service mesh that the resource resides in. </p>"
        },
        "meshOwner":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services IAM account ID of the service mesh owner. If the account ID is not your own, then it's the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>"
        },
        "resourceOwner":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services IAM account ID of the resource owner. If the account ID is not your own, then it's the ID of the mesh owner or of another account that the mesh is shared with. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with shared meshes</a>.</p>"
        },
        "version":{
          "shape":"Long",
          "documentation":"<p>The version of the resource. Resources are created at version 1, and this version is incremented each time that they're updated.</p>"
        },
        "virtualGatewayName":{
          "shape":"ResourceName",
          "documentation":"<p>The virtual gateway that the gateway route is associated with.</p>"
        }
      },
      "documentation":"<p>An object that represents a gateway route returned by a list operation.</p>"
    },
    "GatewayRouteSpec":{
      "type":"structure",
      "members":{
        "grpcRoute":{
          "shape":"GrpcGatewayRoute",
          "documentation":"<p>An object that represents the specification of a gRPC gateway route.</p>"
        },
        "http2Route":{
          "shape":"HttpGatewayRoute",
          "documentation":"<p>An object that represents the specification of an HTTP/2 gateway route.</p>"
        },
        "httpRoute":{
          "shape":"HttpGatewayRoute",
          "documentation":"<p>An object that represents the specification of an HTTP gateway route.</p>"
        },
        "priority":{
          "shape":"GatewayRoutePriority",
          "documentation":"<p>The ordering of the gateway routes spec.</p>"
        }
      },
      "documentation":"<p>An object that represents a gateway route specification. Specify one gateway route type.</p>"
    },
    "GatewayRouteStatus":{
      "type":"structure",
      "required":["status"],
      "members":{
        "status":{
          "shape":"GatewayRouteStatusCode",
          "documentation":"<p>The current status for the gateway route.</p>"
        }
      },
      "documentation":"<p>An object that represents the current status of a gateway route.</p>"
    },
    "GatewayRouteStatusCode":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "INACTIVE",
        "DELETED"
      ]
    },
    "GatewayRouteTarget":{
      "type":"structure",
      "required":["virtualService"],
      "members":{
        "port":{
          "shape":"ListenerPort",
          "documentation":"<p>The port number of the gateway route target.</p>"
        },
        "virtualService":{
          "shape":"GatewayRouteVirtualService",
          "documentation":"<p>An object that represents a virtual service gateway route target.</p>"
        }
      },
      "documentation":"<p>An object that represents a gateway route target.</p>"
    },
    "GatewayRouteVirtualService":{
      "type":"structure",
      "required":["virtualServiceName"],
      "members":{
        "virtualServiceName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the virtual service that traffic is routed to.</p>"
        }
      },
      "documentation":"<p>An object that represents the virtual service that traffic is routed to.</p>"
    },
    "GrpcGatewayRoute":{
      "type":"structure",
      "required":[
        "action",
        "match"
      ],
      "members":{
        "action":{
          "shape":"GrpcGatewayRouteAction",
          "documentation":"<p>An object that represents the action to take if a match is determined.</p>"
        },
        "match":{
          "shape":"GrpcGatewayRouteMatch",
          "documentation":"<p>An object that represents the criteria for determining a request match.</p>"
        }
      },
      "documentation":"<p>An object that represents a gRPC gateway route.</p>"
    },
    "GrpcGatewayRouteAction":{
      "type":"structure",
      "required":["target"],
      "members":{
        "rewrite":{
          "shape":"GrpcGatewayRouteRewrite",
          "documentation":"<p>The gateway route action to rewrite.</p>"
        },
        "target":{
          "shape":"GatewayRouteTarget",
          "documentation":"<p>An object that represents the target that traffic is routed to when a request matches the gateway route.</p>"
        }
      },
      "documentation":"<p>An object that represents the action to take if a match is determined.</p>"
    },
    "GrpcGatewayRouteMatch":{
      "type":"structure",
      "members":{
        "hostname":{
          "shape":"GatewayRouteHostnameMatch",
          "documentation":"<p>The gateway route host name to be matched on.</p>"
        },
        "metadata":{
          "shape":"GrpcGatewayRouteMetadataList",
          "documentation":"<p>The gateway route metadata to be matched on.</p>"
        },
        "port":{
          "shape":"ListenerPort",
          "documentation":"<p>The gateway route port to be matched on.</p>"
        },
        "serviceName":{
          "shape":"ServiceName",
          "documentation":"<p>The fully qualified domain name for the service to match from the request.</p>"
        }
      },
      "documentation":"<p>An object that represents the criteria for determining a request match.</p>"
    },
    "GrpcGatewayRouteMetadata":{
      "type":"structure",
      "required":["name"],
      "members":{
        "invert":{
          "shape":"Boolean",
          "documentation":"<p>Specify <code>True</code> to match anything except the match criteria. The default value is <code>False</code>.</p>"
        },
        "match":{
          "shape":"GrpcMetadataMatchMethod",
          "documentation":"<p>The criteria for determining a metadata match.</p>"
        },
        "name":{
          "shape":"HeaderName",
          "documentation":"<p>A name for the gateway route metadata.</p>"
        }
      },
      "documentation":"<p>An object representing the metadata of the gateway route.</p>"
    },
    "GrpcGatewayRouteMetadataList":{
      "type":"list",
      "member":{"shape":"GrpcGatewayRouteMetadata"},
      "max":10,
      "min":1
    },
    "GrpcGatewayRouteRewrite":{
      "type":"structure",
      "members":{
        "hostname":{
          "shape":"GatewayRouteHostnameRewrite",
          "documentation":"<p>The host name of the gateway route to rewrite.</p>"
        }
      },
      "documentation":"<p>An object that represents the gateway route to rewrite.</p>"
    },
    "GrpcMetadataMatchMethod":{
      "type":"structure",
      "members":{
        "exact":{
          "shape":"HeaderMatch",
          "documentation":"<p>The exact method header to be matched on.</p>"
        },
        "prefix":{
          "shape":"HeaderMatch",
          "documentation":"<p>The specified beginning characters of the method header to be matched on.</p>"
        },
        "range":{"shape":"MatchRange"},
        "regex":{
          "shape":"HeaderMatch",
          "documentation":"<p>The regex used to match the method header.</p>"
        },
        "suffix":{
          "shape":"HeaderMatch",
          "documentation":"<p>The specified ending characters of the method header to match on.</p>"
        }
      },
      "documentation":"<p>An object representing the method header to be matched.</p>",
      "union":true
    },
    "GrpcRetryPolicy":{
      "type":"structure",
      "required":[
        "maxRetries",
        "perRetryTimeout"
      ],
      "members":{
        "grpcRetryEvents":{
          "shape":"GrpcRetryPolicyEvents",
          "documentation":"<p>Specify at least one of the valid values.</p>"
        },
        "httpRetryEvents":{
          "shape":"HttpRetryPolicyEvents",
          "documentation":"<p>Specify at least one of the following values.</p> <ul> <li> <p> <b>server-error</b> – HTTP status codes 500, 501, 502, 503, 504, 505, 506, 507, 508, 510, and 511</p> </li> <li> <p> <b>gateway-error</b> – HTTP status codes 502, 503, and 504</p> </li> <li> <p> <b>client-error</b> – HTTP status code 409</p> </li> <li> <p> <b>stream-error</b> – Retry on refused stream</p> </li> </ul>"
        },
        "maxRetries":{
          "shape":"MaxRetries",
          "documentation":"<p>The maximum number of retry attempts.</p>"
        },
        "perRetryTimeout":{
          "shape":"Duration",
          "documentation":"<p>The timeout for each retry attempt.</p>"
        },
        "tcpRetryEvents":{
          "shape":"TcpRetryPolicyEvents",
          "documentation":"<p>Specify a valid value. The event occurs before any processing of a request has started and is encountered when the upstream is temporarily or permanently unavailable.</p>"
        }
      },
      "documentation":"<p>An object that represents a retry policy. Specify at least one value for at least one of the types of <code>RetryEvents</code>, a value for <code>maxRetries</code>, and a value for <code>perRetryTimeout</code>. Both <code>server-error</code> and <code>gateway-error</code> under <code>httpRetryEvents</code> include the Envoy <code>reset</code> policy. For more information on the <code>reset</code> policy, see the <a href=\"https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_filters/router_filter#x-envoy-retry-on\">Envoy documentation</a>.</p>"
    },
    "GrpcRetryPolicyEvent":{
      "type":"string",
      "enum":[
        "cancelled",
        "deadline-exceeded",
        "internal",
        "resource-exhausted",
        "unavailable"
      ]
    },
    "GrpcRetryPolicyEvents":{
      "type":"list",
      "member":{"shape":"GrpcRetryPolicyEvent"},
      "max":5,
      "min":1
    },
    "GrpcRoute":{
      "type":"structure",
      "required":[
        "action",
        "match"
      ],
      "members":{
        "action":{
          "shape":"GrpcRouteAction",
          "documentation":"<p>An object that represents the action to take if a match is determined.</p>"
        },
        "match":{
          "shape":"GrpcRouteMatch",
          "documentation":"<p>An object that represents the criteria for determining a request match.</p>"
        },
        "retryPolicy":{
          "shape":"GrpcRetryPolicy",
          "documentation":"<p>An object that represents a retry policy.</p>"
        },
        "timeout":{
          "shape":"GrpcTimeout",
          "documentation":"<p>An object that represents types of timeouts. </p>"
        }
      },
      "documentation":"<p>An object that represents a gRPC route type.</p>"
    },
    "GrpcRouteAction":{
      "type":"structure",
      "required":["weightedTargets"],
      "members":{
        "weightedTargets":{
          "shape":"WeightedTargets",
          "documentation":"<p>An object that represents the targets that traffic is routed to when a request matches the route.</p>"
        }
      },
      "documentation":"<p>An object that represents the action to take if a match is determined.</p>"
    },
    "GrpcRouteMatch":{
      "type":"structure",
      "members":{
        "metadata":{
          "shape":"GrpcRouteMetadataList",
          "documentation":"<p>An object that represents the data to match from the request.</p>"
        },
        "methodName":{
          "shape":"MethodName",
          "documentation":"<p>The method name to match from the request. If you specify a name, you must also specify a <code>serviceName</code>.</p>"
        },
        "port":{
          "shape":"ListenerPort",
          "documentation":"<p>The port number to match on.</p>"
        },
        "serviceName":{
          "shape":"ServiceName",
          "documentation":"<p>The fully qualified domain name for the service to match from the request.</p>"
        }
      },
      "documentation":"<p>An object that represents the criteria for determining a request match.</p>"
    },
    "GrpcRouteMetadata":{
      "type":"structure",
      "required":["name"],
      "members":{
        "invert":{
          "shape":"Boolean",
          "documentation":"<p>Specify <code>True</code> to match anything except the match criteria. The default value is <code>False</code>.</p>"
        },
        "match":{
          "shape":"GrpcRouteMetadataMatchMethod",
          "documentation":"<p>An object that represents the data to match from the request.</p>"
        },
        "name":{
          "shape":"HeaderName",
          "documentation":"<p>The name of the route.</p>"
        }
      },
      "documentation":"<p>An object that represents the match metadata for the route.</p>"
    },
    "GrpcRouteMetadataList":{
      "type":"list",
      "member":{"shape":"GrpcRouteMetadata"},
      "max":10,
      "min":1
    },
    "GrpcRouteMetadataMatchMethod":{
      "type":"structure",
      "members":{
        "exact":{
          "shape":"HeaderMatch",
          "documentation":"<p>The value sent by the client must match the specified value exactly.</p>"
        },
        "prefix":{
          "shape":"HeaderMatch",
          "documentation":"<p>The value sent by the client must begin with the specified characters.</p>"
        },
        "range":{
          "shape":"MatchRange",
          "documentation":"<p>An object that represents the range of values to match on.</p>"
        },
        "regex":{
          "shape":"HeaderMatch",
          "documentation":"<p>The value sent by the client must include the specified characters.</p>"
        },
        "suffix":{
          "shape":"HeaderMatch",
          "documentation":"<p>The value sent by the client must end with the specified characters.</p>"
        }
      },
      "documentation":"<p>An object that represents the match method. Specify one of the match values.</p>",
      "union":true
    },
    "GrpcTimeout":{
      "type":"structure",
      "members":{
        "idle":{
          "shape":"Duration",
          "documentation":"<p>An object that represents an idle timeout. An idle timeout bounds the amount of time that a connection may be idle. The default value is none.</p>"
        },
        "perRequest":{
          "shape":"Duration",
[...]
