<div class="gh-stack">
    <div class="gh-stack-item gh-setting-first">
        <div class="flex-grow-1">
            <div class="gh-setting-title gh-theme-setting-title">Title font</div>

                <select class="ember-select">
                    <option value="Inter">Inter</option>
                    <option value="Open Sans">Open Sans</option>
                    <option value="Georgia">Georgia</option>
                    <option value="Source Serif Pro">Source Serif Pro</option>
                </select>
        </div>
    </div>
</div>