{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2015-12-08",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"acm",
    "jsonVersion":"1.1",
    "protocol":"json",
    "protocols":["json"],
    "serviceAbbreviation":"ACM",
    "serviceFullName":"AWS Certificate Manager",
    "serviceId":"ACM",
    "signatureVersion":"v4",
    "signingName":"acm",
    "targetPrefix":"CertificateManager",
    "uid":"acm-2015-12-08"
  },
  "operations":{
    "AddTagsToCertificate":{
      "name":"AddTagsToCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddTagsToCertificateRequest"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"TagPolicyException"},
        {"shape":"TooManyTagsException"},
        {"shape":"InvalidArnException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidTagException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Adds one or more tags to an ACM certificate. Tags are labels that you can use to identify and organize your Amazon Web Services resources. Each tag consists of a <code>key</code> and an optional <code>value</code>. You specify the certificate on input by its Amazon Resource Name (ARN). You specify the tag by using a key-value pair. </p> <p>You can apply a tag to just one certificate if you want to identify a specific characteristic of that certificate, or you can apply the same tag to multiple certificates if you want to filter for a common relationship among those certificates. Similarly, you can apply the same tag to multiple resources if you want to specify a relationship among those resources. For example, you can add the same tag to an ACM certificate and an Elastic Load Balancing load balancer to indicate that they are both used by the same website. For more information, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/tags.html\">Tagging ACM certificates</a>. </p> <p>To remove one or more tags, use the <a>RemoveTagsFromCertificate</a> action. To view all of the tags that have been applied to the certificate, use the <a>ListTagsForCertificate</a> action. </p>"
    },
    "DeleteCertificate":{
      "name":"DeleteCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCertificateRequest"},
      "errors":[
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidArnException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes a certificate and its associated private key. If this action succeeds, the certificate no longer appears in the list that can be displayed by calling the <a>ListCertificates</a> action or be retrieved by calling the <a>GetCertificate</a> action. The certificate will not be available for use by Amazon Web Services services integrated with ACM. </p> <note> <p>You cannot delete an ACM certificate that is being used by another Amazon Web Services service. To delete a certificate that is in use, the certificate association must first be removed.</p> </note>"
    },
    "DescribeCertificate":{
      "name":"DescribeCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCertificateRequest"},
      "output":{"shape":"DescribeCertificateResponse"},
      "errors":[
        {"shape":"InvalidArnException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns detailed metadata about the specified ACM certificate.</p> <p>If you have just created a certificate using the <code>RequestCertificate</code> action, there is a delay of several seconds before you can retrieve information about it.</p>"
    },
    "ExportCertificate":{
      "name":"ExportCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ExportCertificateRequest"},
      "output":{"shape":"ExportCertificateResponse"},
      "errors":[
        {"shape":"InvalidArnException"},
        {"shape":"RequestInProgressException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Exports a private certificate issued by a private certificate authority (CA) or public certificate for use anywhere. The exported file contains the certificate, the certificate chain, and the encrypted private key associated with the public key that is embedded in the certificate. For security, you must assign a passphrase for the private key when exporting it. </p> <p>For information about exporting and formatting a certificate using the ACM console or CLI, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/export-private.html\">Export a private certificate</a> and <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/export-public-certificate\">Export a public certificate</a>.</p>"
    },
    "GetAccountConfiguration":{
      "name":"GetAccountConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{"shape":"GetAccountConfigurationResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns the account configuration options associated with an Amazon Web Services account.</p>"
    },
    "GetCertificate":{
      "name":"GetCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCertificateRequest"},
      "output":{"shape":"GetCertificateResponse"},
      "errors":[
        {"shape":"InvalidArnException"},
        {"shape":"RequestInProgressException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves a certificate and its certificate chain. The certificate may be either a public or private certificate issued using the ACM <code>RequestCertificate</code> action, or a certificate imported into ACM using the <code>ImportCertificate</code> action. The chain consists of the certificate of the issuing CA and the intermediate certificates of any other subordinate CAs. All of the certificates are base64 encoded. You can use <a href=\"https://wiki.openssl.org/index.php/Command_Line_Utilities\">OpenSSL</a> to decode the certificates and inspect individual fields.</p>"
    },
    "ImportCertificate":{
      "name":"ImportCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ImportCertificateRequest"},
      "output":{"shape":"ImportCertificateResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"TagPolicyException"},
        {"shape":"TooManyTagsException"},
        {"shape":"InvalidArnException"},
        {"shape":"InvalidTagException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Imports a certificate into Certificate Manager (ACM) to use with services that are integrated with ACM. Note that <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-services.html\">integrated services</a> allow only certificate types and keys they support to be associated with their resources. Further, their support differs depending on whether the certificate is imported into IAM or into ACM. For more information, see the documentation for each service. For more information about importing certificates into ACM, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/import-certificate.html\">Importing Certificates</a> in the <i>Certificate Manager User Guide</i>. </p> <note> <p>ACM does not provide <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-renewal.html\">managed renewal</a> for certificates that you import.</p> </note> <p>Note the following guidelines when importing third party certificates:</p> <ul> <li> <p>You must enter the private key that matches the certificate you are importing.</p> </li> <li> <p>The private key must be unencrypted. You cannot import a private key that is protected by a password or a passphrase.</p> </li> <li> <p>The private key must be no larger than 5 KB (5,120 bytes).</p> </li> <li> <p>The certificate, private key, and certificate chain must be PEM-encoded.</p> </li> <li> <p>The current time must be between the <code>Not Before</code> and <code>Not After</code> certificate fields.</p> </li> <li> <p>The <code>Issuer</code> field must not be empty.</p> </li> <li> <p>The OCSP authority URL, if present, must not exceed 1000 characters.</p> </li> <li> <p>To import a new certificate, omit the <code>CertificateArn</code> argument. Include this argument only when you want to replace a previously imported certificate.</p> </li> <li> <p>When you import a certificate by using the CLI, you must specify the certificate, the certificate chain, and the private key by their file names preceded by <code>fileb://</code>. For example, you can specify a certificate saved in the <code>C:\\temp</code> folder as <code>fileb://C:\\temp\\certificate_to_import.pem</code>. If you are making an HTTP or HTTPS Query request, include these arguments as BLOBs. </p> </li> <li> <p>When you import a certificate by using an SDK, you must specify the certificate, the certificate chain, and the private key files in the manner required by the programming language you're using. </p> </li> <li> <p>The cryptographic algorithm of an imported certificate must match the algorithm of the signing CA. For example, if the signing CA key type is RSA, then the certificate key type must also be RSA.</p> </li> </ul> <p>This operation returns the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of the imported certificate.</p>"
    },
    "ListCertificates":{
      "name":"ListCertificates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCertificatesRequest"},
      "output":{"shape":"ListCertificatesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InvalidArgsException"}
      ],
      "documentation":"<p>Retrieves a list of certificate ARNs and domain names. You can request that only certificates that match a specific status be listed. You can also filter by specific attributes of the certificate. Default filtering returns only <code>RSA_2048</code> certificates. For more information, see <a>Filters</a>.</p>"
    },
    "ListTagsForCertificate":{
      "name":"ListTagsForCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForCertificateRequest"},
      "output":{"shape":"ListTagsForCertificateResponse"},
      "errors":[
        {"shape":"InvalidArnException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists the tags that have been applied to the ACM certificate. Use the certificate's Amazon Resource Name (ARN) to specify the certificate. To add a tag to an ACM certificate, use the <a>AddTagsToCertificate</a> action. To delete a tag, use the <a>RemoveTagsFromCertificate</a> action. </p>"
    },
    "PutAccountConfiguration":{
      "name":"PutAccountConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutAccountConfigurationRequest"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Adds or modifies account-level configurations in ACM. </p> <p>The supported configuration option is <code>DaysBeforeExpiry</code>. This option specifies the number of days prior to certificate expiration when ACM starts generating <code>EventBridge</code> events. ACM sends one event per day per certificate until the certificate expires. By default, accounts receive events starting 45 days before certificate expiration.</p>"
    },
    "RemoveTagsFromCertificate":{
      "name":"RemoveTagsFromCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveTagsFromCertificateRequest"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"TagPolicyException"},
        {"shape":"InvalidArnException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidTagException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Remove one or more tags from an ACM certificate. A tag consists of a key-value pair. If you do not specify the value portion of the tag when calling this function, the tag will be removed regardless of value. If you specify a value, the tag is removed only if it is associated with the specified value. </p> <p>To add tags to a certificate, use the <a>AddTagsToCertificate</a> action. To view all of the tags that have been applied to a specific ACM certificate, use the <a>ListTagsForCertificate</a> action. </p>"
    },
    "RenewCertificate":{
      "name":"RenewCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RenewCertificateRequest"},
      "errors":[
        {"shape":"InvalidArnException"},
        {"shape":"RequestInProgressException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Renews an <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/managed-renewal.html\">eligible ACM certificate</a>. In order to renew your Amazon Web Services Private CA certificates with ACM, you must first <a href=\"https://docs.aws.amazon.com/privateca/latest/userguide/PcaPermissions.html\">grant the ACM service principal permission to do so</a>. For more information, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/manual-renewal.html\">Testing Managed Renewal</a> in the ACM User Guide.</p>"
    },
    "RequestCertificate":{
      "name":"RequestCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RequestCertificateRequest"},
      "output":{"shape":"RequestCertificateResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"TagPolicyException"},
        {"shape":"TooManyTagsException"},
        {"shape":"InvalidArnException"},
        {"shape":"InvalidTagException"},
        {"shape":"InvalidDomainValidationOptionsException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Requests an ACM certificate for use with other Amazon Web Services services. To request an ACM certificate, you must specify a fully qualified domain name (FQDN) in the <code>DomainName</code> parameter. You can also specify additional FQDNs in the <code>SubjectAlternativeNames</code> parameter. </p> <p>If you are requesting a private certificate, domain validation is not required. If you are requesting a public certificate, each domain name that you specify must be validated to verify that you own or control the domain. You can use <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/gs-acm-validate-dns.html\">DNS validation</a> or <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/gs-acm-validate-email.html\">email validation</a>. We recommend that you use DNS validation.</p> <note> <p>ACM behavior differs from the <a href=\"https://datatracker.ietf.org/doc/html/rfc6125#appendix-B.2\">RFC 6125</a> specification of the certificate validation process. ACM first checks for a Subject Alternative Name, and, if it finds one, ignores the common name (CN).</p> </note> <p>After successful completion of the <code>RequestCertificate</code> action, there is a delay of several seconds before you can retrieve information about the new certificate.</p>"
    },
    "ResendValidationEmail":{
      "name":"ResendValidationEmail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResendValidationEmailRequest"},
      "errors":[
        {"shape":"InvalidArnException"},
        {"shape":"InvalidDomainValidationOptionsException"},
        {"shape":"InvalidStateException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Resends the email that requests domain ownership validation. The domain owner or an authorized representative must approve the ACM certificate before it can be issued. The certificate can be approved by clicking a link in the mail to navigate to the Amazon certificate approval website and then clicking <b>I Approve</b>. However, the validation email can be blocked by spam filters. Therefore, if you do not receive the original mail, you can request that the mail be resent within 72 hours of requesting the ACM certificate. If more than 72 hours have elapsed since your original request or since your last attempt to resend validation mail, you must request a new certificate. For more information about setting up your contact email addresses, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/setup-email.html\">Configure Email for your Domain</a>. </p>"
    },
    "RevokeCertificate":{
      "name":"RevokeCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RevokeCertificateRequest"},
      "output":{"shape":"RevokeCertificateResponse"},
      "errors":[
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidArnException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Revokes a public ACM certificate. You can only revoke certificates that have been previously exported.</p>"
    },
    "UpdateCertificateOptions":{
      "name":"UpdateCertificateOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateCertificateOptionsRequest"},
      "errors":[
        {"shape":"InvalidArnException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidStateException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Updates a certificate. You can use this function to specify whether to opt in to or out of recording your certificate in a certificate transparency log and exporting. For more information, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-bestpractices.html#best-practices-transparency\"> Opting Out of Certificate Transparency Logging</a> and <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-exportable-certificates.html\">Certificate Manager Exportable Managed Certificates</a>.</p>"
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ServiceErrorMessage"}
      },
      "documentation":"<p>You do not have access required to perform this action.</p>",
      "exception":true
    },
    "AddTagsToCertificateRequest":{
      "type":"structure",
      "required":[
        "CertificateArn",
        "Tags"
      ],
      "members":{
        "CertificateArn":{
          "shape":"Arn",
          "documentation":"<p>String that contains the ARN of the ACM certificate to which the tag is to be applied. This must be of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a>.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The key-value pair that defines the tag. The tag value is optional.</p>"
        }
      }
    },
    "Arn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:[\\w+=/,.@-]+:acm:[\\w+=/,.@-]*:[0-9]+:[\\w+=,.@-]+(/[\\w+=,.@-]+)*"
    },
    "AvailabilityErrorMessage":{"type":"string"},
    "CertificateBody":{
      "type":"string",
      "max":32768,
      "min":1,
      "pattern":"-{5}BEGIN CERTIFICATE-{5}\\u000D?\\u000A([A-Za-z0-9/+]{64}\\u000D?\\u000A)*[A-Za-z0-9/+]{1,64}={0,2}\\u000D?\\u000A-{5}END CERTIFICATE-{5}(\\u000D?\\u000A)?"
    },
    "CertificateBodyBlob":{
      "type":"blob",
      "max":32768,
      "min":1
    },
    "CertificateChain":{
      "type":"string",
      "max":2097152,
      "min":1,
      "pattern":"(-{5}BEGIN CERTIFICATE-{5}\\u000D?\\u000A([A-Za-z0-9/+]{64}\\u000D?\\u000A)*[A-Za-z0-9/+]{1,64}={0,2}\\u000D?\\u000A-{5}END CERTIFICATE-{5}\\u000D?\\u000A)*-{5}BEGIN CERTIFICATE-{5}\\u000D?\\u000A([A-Za-z0-9/+]{64}\\u000D?\\u000A)*[A-Za-z0-9/+]{1,64}={0,2}\\u000D?\\u000A-{5}END CERTIFICATE-{5}(\\u000D?\\u000A)?"
    },
    "CertificateChainBlob":{
      "type":"blob",
      "max":2097152,
      "min":1
    },
    "CertificateDetail":{
      "type":"structure",
      "members":{
        "CertificateArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the certificate. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i>.</p>"
        },
        "DomainName":{
          "shape":"DomainNameString",
          "documentation":"<p>The fully qualified domain name for the certificate, such as www.example.com or example.com.</p>"
        },
        "SubjectAlternativeNames":{
          "shape":"DomainList",
          "documentation":"<p>One or more domain names (subject alternative names) included in the certificate. This list contains the domain names that are bound to the public key that is contained in the certificate. The subject alternative names include the canonical domain name (CN) of the certificate and additional domain names that can be used to connect to the website. </p>"
        },
        "ManagedBy":{
          "shape":"CertificateManagedBy",
          "documentation":"<p>Identifies the Amazon Web Services service that manages the certificate issued by ACM.</p>"
        },
        "DomainValidationOptions":{
          "shape":"DomainValidationList",
          "documentation":"<p>Contains information about the initial validation of each domain name that occurs as a result of the <a>RequestCertificate</a> request. This field exists only when the certificate type is <code>AMAZON_ISSUED</code>. </p>"
        },
        "Serial":{
          "shape":"String",
          "documentation":"<p>The serial number of the certificate.</p>"
        },
        "Subject":{
          "shape":"String",
          "documentation":"<p>The name of the entity that is associated with the public key contained in the certificate.</p>"
        },
        "Issuer":{
          "shape":"String",
          "documentation":"<p>The name of the certificate authority that issued and signed the certificate.</p>"
        },
        "CreatedAt":{
          "shape":"TStamp",
          "documentation":"<p>The time at which the certificate was requested.</p>"
        },
        "IssuedAt":{
          "shape":"TStamp",
          "documentation":"<p>The time at which the certificate was issued. This value exists only when the certificate type is <code>AMAZON_ISSUED</code>. </p>"
        },
        "ImportedAt":{
          "shape":"TStamp",
          "documentation":"<p>The date and time when the certificate was imported. This value exists only when the certificate type is <code>IMPORTED</code>. </p>"
        },
        "Status":{
          "shape":"CertificateStatus",
          "documentation":"<p>The status of the certificate.</p> <p>A certificate enters status PENDING_VALIDATION upon being requested, unless it fails for any of the reasons given in the troubleshooting topic <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/troubleshooting-failed.html\">Certificate request fails</a>. ACM makes repeated attempts to validate a certificate for 72 hours and then times out. If a certificate shows status FAILED or VALIDATION_TIMED_OUT, delete the request, correct the issue with <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/dns-validation.html\">DNS validation</a> or <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/email-validation.html\">Email validation</a>, and try again. If validation succeeds, the certificate enters status ISSUED. </p>"
        },
        "RevokedAt":{
          "shape":"TStamp",
          "documentation":"<p>The time at which the certificate was revoked. This value exists only when the certificate status is <code>REVOKED</code>. </p>"
        },
        "RevocationReason":{
          "shape":"RevocationReason",
          "documentation":"<p>The reason the certificate was revoked. This value exists only when the certificate status is <code>REVOKED</code>. </p>"
        },
        "NotBefore":{
          "shape":"TStamp",
          "documentation":"<p>The time before which the certificate is not valid.</p>"
        },
        "NotAfter":{
          "shape":"TStamp",
          "documentation":"<p>The time after which the certificate is not valid.</p>"
        },
        "KeyAlgorithm":{
          "shape":"KeyAlgorithm",
          "documentation":"<p>The algorithm that was used to generate the public-private key pair.</p>"
        },
        "SignatureAlgorithm":{
          "shape":"String",
          "documentation":"<p>The algorithm that was used to sign the certificate.</p>"
        },
        "InUseBy":{
          "shape":"InUseList",
          "documentation":"<p>A list of ARNs for the Amazon Web Services resources that are using the certificate. A certificate can be used by multiple Amazon Web Services resources. </p>"
        },
        "FailureReason":{
          "shape":"FailureReason",
          "documentation":"<p>The reason the certificate request failed. This value exists only when the certificate status is <code>FAILED</code>. For more information, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/troubleshooting.html#troubleshooting-failed\">Certificate Request Failed</a> in the <i>Certificate Manager User Guide</i>. </p>"
        },
        "Type":{
          "shape":"CertificateType",
          "documentation":"<p>The source of the certificate. For certificates provided by ACM, this value is <code>AMAZON_ISSUED</code>. For certificates that you imported with <a>ImportCertificate</a>, this value is <code>IMPORTED</code>. ACM does not provide <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-renewal.html\">managed renewal</a> for imported certificates. For more information about the differences between certificates that you import and those that ACM provides, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/import-certificate.html\">Importing Certificates</a> in the <i>Certificate Manager User Guide</i>. </p>"
        },
        "RenewalSummary":{
          "shape":"RenewalSummary",
          "documentation":"<p>Contains information about the status of ACM's <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-renewal.html\">managed renewal</a> for the certificate. This field exists only when the certificate type is <code>AMAZON_ISSUED</code>.</p>"
        },
        "KeyUsages":{
          "shape":"KeyUsageList",
          "documentation":"<p>A list of Key Usage X.509 v3 extension objects. Each object is a string value that identifies the purpose of the public key contained in the certificate. Possible extension values include DIGITAL_SIGNATURE, KEY_ENCHIPHERMENT, NON_REPUDIATION, and more.</p>"
        },
        "ExtendedKeyUsages":{
          "shape":"ExtendedKeyUsageList",
          "documentation":"<p>Contains a list of Extended Key Usage X.509 v3 extension objects. Each object specifies a purpose for which the certificate public key can be used and consists of a name and an object identifier (OID). </p>"
        },
        "CertificateAuthorityArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the private certificate authority (CA) that issued the certificate. This has the following format: </p> <p> <code>arn:aws:acm-pca:region:account:certificate-authority/12345678-1234-1234-1234-123456789012</code> </p>"
        },
        "RenewalEligibility":{
          "shape":"RenewalEligibility",
          "documentation":"<p>Specifies whether the certificate is eligible for renewal. At this time, only exported private certificates can be renewed with the <a>RenewCertificate</a> command.</p>"
        },
        "Options":{
          "shape":"CertificateOptions",
          "documentation":"<p>Value that specifies whether to add the certificate to a transparency log. Certificate transparency makes it possible to detect SSL certificates that have been mistakenly or maliciously issued. A browser might respond to certificate that has not been logged by showing an error message. The logs are cryptographically secure. </p>"
        }
      },
      "documentation":"<p>Contains metadata about an ACM certificate. This structure is returned in the response to a <a>DescribeCertificate</a> request. </p>"
    },
    "CertificateExport":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "CertificateManagedBy":{
      "type":"string",
      "enum":["CLOUDFRONT"]
    },
    "CertificateOptions":{
      "type":"structure",
      "members":{
        "CertificateTransparencyLoggingPreference":{
          "shape":"CertificateTransparencyLoggingPreference",
          "documentation":"<p>You can opt out of certificate transparency logging by specifying the <code>DISABLED</code> option. Opt in by specifying <code>ENABLED</code>. </p>"
        },
        "Export":{
          "shape":"CertificateExport",
          "documentation":"<p>You can opt in to allow the export of your certificates by specifying <code>ENABLED</code>.</p>"
        }
      },
      "documentation":"<p>Structure that contains options for your certificate. You can use this structure to specify whether to opt in to or out of certificate transparency logging and export your certificate. </p> <p>Some browsers require that public certificates issued for your domain be recorded in a log. Certificates that are not logged typically generate a browser error. Transparency makes it possible for you to detect SSL/TLS certificates that have been mistakenly or maliciously issued for your domain. For general information, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-concepts.html#concept-transparency\">Certificate Transparency Logging</a>.</p> <p>You can export public ACM certificates to use with Amazon Web Services services as well as outside Amazon Web Services Cloud. For more information, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-exportable-certificates.html\">Certificate Manager exportable public certificate</a>.</p>"
    },
    "CertificateStatus":{
      "type":"string",
      "enum":[
        "PENDING_VALIDATION",
        "ISSUED",
        "INACTIVE",
        "EXPIRED",
        "VALIDATION_TIMED_OUT",
        "REVOKED",
        "FAILED"
      ]
    },
    "CertificateStatuses":{
      "type":"list",
      "member":{"shape":"CertificateStatus"}
    },
    "CertificateSummary":{
      "type":"structure",
      "members":{
        "CertificateArn":{
          "shape":"Arn",
          "documentation":"<p>Amazon Resource Name (ARN) of the certificate. This is of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a>.</p>"
        },
        "DomainName":{
          "shape":"DomainNameString",
          "documentation":"<p>Fully qualified domain name (FQDN), such as www.example.com or example.com, for the certificate.</p>"
        },
        "SubjectAlternativeNameSummaries":{
          "shape":"DomainList",
          "documentation":"<p>One or more domain names (subject alternative names) included in the certificate. This list contains the domain names that are bound to the public key that is contained in the certificate. The subject alternative names include the canonical domain name (CN) of the certificate and additional domain names that can be used to connect to the website. </p> <p>When called by <a href=\"https://docs.aws.amazon.com/acm/latestAPIReference/API_ListCertificates.html\">ListCertificates</a>, this parameter will only return the first 100 subject alternative names included in the certificate. To display the full list of subject alternative names, use <a href=\"https://docs.aws.amazon.com/acm/latestAPIReference/API_DescribeCertificate.html\">DescribeCertificate</a>.</p>"
        },
        "HasAdditionalSubjectAlternativeNames":{
          "shape":"NullableBoolean",
          "documentation":"<p>When called by <a href=\"https://docs.aws.amazon.com/acm/latestAPIReference/API_ListCertificates.html\">ListCertificates</a>, indicates whether the full list of subject alternative names has been included in the response. If false, the response includes all of the subject alternative names included in the certificate. If true, the response only includes the first 100 subject alternative names included in the certificate. To display the full list of subject alternative names, use <a href=\"https://docs.aws.amazon.com/acm/latestAPIReference/API_DescribeCertificate.html\">DescribeCertificate</a>.</p>"
        },
        "Status":{
          "shape":"CertificateStatus",
          "documentation":"<p>The status of the certificate.</p> <p>A certificate enters status PENDING_VALIDATION upon being requested, unless it fails for any of the reasons given in the troubleshooting topic <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/troubleshooting-failed.html\">Certificate request fails</a>. ACM makes repeated attempts to validate a certificate for 72 hours and then times out. If a certificate shows status FAILED or VALIDATION_TIMED_OUT, delete the request, correct the issue with <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/dns-validation.html\">DNS validation</a> or <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/email-validation.html\">Email validation</a>, and try again. If validation succeeds, the certificate enters status ISSUED. </p>"
        },
        "Type":{
          "shape":"CertificateType",
          "documentation":"<p>The source of the certificate. For certificates provided by ACM, this value is <code>AMAZON_ISSUED</code>. For certificates that you imported with <a>ImportCertificate</a>, this value is <code>IMPORTED</code>. ACM does not provide <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-renewal.html\">managed renewal</a> for imported certificates. For more information about the differences between certificates that you import and those that ACM provides, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/import-certificate.html\">Importing Certificates</a> in the <i>Certificate Manager User Guide</i>. </p>"
        },
        "KeyAlgorithm":{
          "shape":"KeyAlgorithm",
          "documentation":"<p>The algorithm that was used to generate the public-private key pair.</p>"
        },
        "KeyUsages":{
          "shape":"KeyUsageNames",
          "documentation":"<p>A list of Key Usage X.509 v3 extension objects. Each object is a string value that identifies the purpose of the public key contained in the certificate. Possible extension values include DIGITAL_SIGNATURE, KEY_ENCHIPHERMENT, NON_REPUDIATION, and more.</p>"
        },
        "ExtendedKeyUsages":{
          "shape":"ExtendedKeyUsageNames",
          "documentation":"<p>Contains a list of Extended Key Usage X.509 v3 extension objects. Each object specifies a purpose for which the certificate public key can be used and consists of a name and an object identifier (OID). </p>"
        },
        "ExportOption":{
          "shape":"CertificateExport",
          "documentation":"<p>Indicates if export is enabled for the certificate.</p>"
        },
        "InUse":{
          "shape":"NullableBoolean",
          "documentation":"<p>Indicates whether the certificate is currently in use by any Amazon Web Services resources.</p>"
        },
        "Exported":{
          "shape":"NullableBoolean",
          "documentation":"<p>Indicates whether the certificate has been exported. This value exists only when the certificate type is <code>PRIVATE</code>.</p>"
        },
        "RenewalEligibility":{
          "shape":"RenewalEligibility",
          "documentation":"<p>Specifies whether the certificate is eligible for renewal. At this time, only exported private certificates can be renewed with the <a>RenewCertificate</a> command.</p>"
        },
        "NotBefore":{
          "shape":"TStamp",
          "documentation":"<p>The time before which the certificate is not valid.</p>"
        },
        "NotAfter":{
          "shape":"TStamp",
          "documentation":"<p>The time after which the certificate is not valid.</p>"
        },
        "CreatedAt":{
          "shape":"TStamp",
          "documentation":"<p>The time at which the certificate was requested.</p>"
        },
        "IssuedAt":{
          "shape":"TStamp",
          "documentation":"<p>The time at which the certificate was issued. This value exists only when the certificate type is <code>AMAZON_ISSUED</code>. </p>"
        },
        "ImportedAt":{
          "shape":"TStamp",
          "documentation":"<p>The date and time when the certificate was imported. This value exists only when the certificate type is <code>IMPORTED</code>. </p>"
        },
        "RevokedAt":{
          "shape":"TStamp",
          "documentation":"<p>The time at which the certificate was revoked. This value exists only when the certificate status is <code>REVOKED</code>. </p>"
        },
        "ManagedBy":{
          "shape":"CertificateManagedBy",
          "documentation":"<p>Identifies the Amazon Web Services service that manages the certificate issued by ACM.</p>"
        }
      },
      "documentation":"<p>This structure is returned in the response object of <a>ListCertificates</a> action. </p>"
    },
    "CertificateSummaryList":{
      "type":"list",
      "member":{"shape":"CertificateSummary"}
    },
    "CertificateTransparencyLoggingPreference":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "CertificateType":{
      "type":"string",
      "enum":[
        "IMPORTED",
        "AMAZON_ISSUED",
        "PRIVATE"
      ]
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>You are trying to update a resource or configuration that is already being created or updated. Wait for the previous operation to finish and try again.</p>",
      "exception":true
    },
    "DeleteCertificateRequest":{
      "type":"structure",
      "required":["CertificateArn"],
      "members":{
        "CertificateArn":{
          "shape":"Arn",
          "documentation":"<p>String that contains the ARN of the ACM certificate to be deleted. This must be of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a>.</p>"
        }
      }
    },
    "DescribeCertificateRequest":{
      "type":"structure",
      "required":["CertificateArn"],
      "members":{
        "CertificateArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the ACM certificate. The ARN must have the following form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a>.</p>"
        }
      }
    },
    "DescribeCertificateResponse":{
      "type":"structure",
      "members":{
        "Certificate":{
          "shape":"CertificateDetail",
          "documentation":"<p>Metadata about an ACM certificate.</p>"
        }
      }
    },
    "DomainList":{
      "type":"list",
      "member":{"shape":"DomainNameString"},
      "max":100,
      "min":1
    },
    "DomainNameString":{
      "type":"string",
      "max":253,
      "min":1,
      "pattern":"(\\*\\.)?(((?!-)[A-Za-z0-9-]{0,62}[A-Za-z0-9])\\.)+((?!-)[A-Za-z0-9-]{1,62}[A-Za-z0-9])"
    },
    "DomainStatus":{
      "type":"string",
      "enum":[
        "PENDING_VALIDATION",
        "SUCCESS",
        "FAILED"
      ]
    },
    "DomainValidation":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{
          "shape":"DomainNameString",
          "documentation":"<p>A fully qualified domain name (FQDN) in the certificate. For example, <code>www.example.com</code> or <code>example.com</code>. </p>"
        },
        "ValidationEmails":{
          "shape":"ValidationEmailList",
          "documentation":"<p>A list of email addresses that ACM used to send domain validation emails.</p>"
        },
        "ValidationDomain":{
          "shape":"DomainNameString",
          "documentation":"<p>The domain name that ACM used to send domain validation emails.</p>"
        },
        "ValidationStatus":{
          "shape":"DomainStatus",
          "documentation":"<p>The validation status of the domain name. This can be one of the following values:</p> <ul> <li> <p> <code>PENDING_VALIDATION</code> </p> </li> <li> <p> <code/>SUCCESS</p> </li> <li> <p> <code/>FAILED</p> </li> </ul>"
        },
        "ResourceRecord":{
          "shape":"ResourceRecord",
          "documentation":"<p>Contains the CNAME record that you add to your DNS database for domain validation. For more information, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/gs-acm-validate-dns.html\">Use DNS to Validate Domain Ownership</a>.</p> <note> <p>The CNAME information that you need does not include the name of your domain. If you include your domain name in the DNS database CNAME record, validation fails. For example, if the name is <code>_a79865eb4cd1a6ab990a45779b4e0b96.yourdomain.com</code>, only <code>_a79865eb4cd1a6ab990a45779b4e0b96</code> must be used.</p> </note>"
        },
        "HttpRedirect":{
          "shape":"HttpRedirect",
          "documentation":"<p>Contains information for HTTP-based domain validation of certificates requested through Amazon CloudFront and issued by ACM. This field exists only when the certificate type is <code>AMAZON_ISSUED</code> and the validation method is <code>HTTP</code>.</p>"
        },
        "ValidationMethod":{
          "shape":"ValidationMethod",
          "documentation":"<p>Specifies the domain validation method.</p>"
        }
      },
      "documentation":"<p>Contains information about the validation of each domain name in the certificate.</p>"
    },
    "DomainValidationList":{
      "type":"list",
      "member":{"shape":"DomainValidation"},
      "max":1000,
      "min":1
    },
    "DomainValidationOption":{
      "type":"structure",
      "required":[
        "DomainName",
        "ValidationDomain"
      ],
      "members":{
        "DomainName":{
          "shape":"DomainNameString",
          "documentation":"<p>A fully qualified domain name (FQDN) in the certificate request.</p>"
        },
        "ValidationDomain":{
          "shape":"DomainNameString",
          "documentation":"<p>The domain name that you want ACM to use to send you validation emails. This domain name is the suffix of the email addresses that you want ACM to use. This must be the same as the <code>DomainName</code> value or a superdomain of the <code>DomainName</code> value. For example, if you request a certificate for <code>testing.example.com</code>, you can specify <code>example.com</code> for this value. In that case, ACM sends domain validation emails to the following five addresses:</p> <ul> <li> <p>admin@example.com</p> </li> <li> <p>administrator@example.com</p> </li> <li> <p>hostmaster@example.com</p> </li> <li> <p>postmaster@example.com</p> </li> <li> <p>webmaster@example.com</p> </li> </ul>"
        }
      },
      "documentation":"<p>Contains information about the domain names that you want ACM to use to send you emails that enable you to validate domain ownership.</p>"
    },
    "DomainValidationOptionList":{
      "type":"list",
      "member":{"shape":"DomainValidationOption"},
      "max":100,
      "min":1
    },
    "ExpiryEventsConfiguration":{
      "type":"structure",
      "members":{
        "DaysBeforeExpiry":{
          "shape":"PositiveInteger",
          "documentation":"<p>Specifies the number of days prior to certificate expiration when ACM starts generating <code>EventBridge</code> events. ACM sends one event per day per certificate until the certificate expires. By default, accounts receive events starting 45 days before certificate expiration.</p>"
        }
      },
      "documentation":"<p>Object containing expiration events options associated with an Amazon Web Services account.</p>"
    },
    "ExportCertificateRequest":{
      "type":"structure",
      "required":[
        "CertificateArn",
        "Passphrase"
      ],
      "members":{
        "CertificateArn":{
          "shape":"Arn",
          "documentation":"<p>An Amazon Resource Name (ARN) of the issued certificate. This must be of the form:</p> <p> <code>arn:aws:acm:region:account:certificate/12345678-1234-1234-1234-123456789012</code> </p>"
        },
        "Passphrase":{
          "shape":"PassphraseBlob",
          "documentation":"<p>Passphrase to associate with the encrypted exported private key. </p> <note> <p>When creating your passphrase, you can use any ASCII character except #, $, or %.</p> </note> <p>If you want to later decrypt the private key, you must have the passphrase. You can use the following OpenSSL command to decrypt a private key. After entering the command, you are prompted for the passphrase.</p> <p> <code>openssl rsa -in encrypted_key.pem -out decrypted_key.pem</code> </p>"
        }
      }
    },
    "ExportCertificateResponse":{
      "type":"structure",
      "members":{
        "Certificate":{
          "shape":"CertificateBody",
          "documentation":"<p>The base64 PEM-encoded certificate.</p>"
        },
        "CertificateChain":{
          "shape":"CertificateChain",
          "documentation":"<p>The base64 PEM-encoded certificate chain. This does not include the certificate that you are exporting.</p>"
        },
        "PrivateKey":{
          "shape":"PrivateKey",
          "documentation":"<p>The encrypted private key associated with the public key in the certificate. The key is output in PKCS #8 format and is base64 PEM-encoded. </p>"
        }
      }
    },
    "ExtendedKeyUsage":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"ExtendedKeyUsageName",
          "documentation":"<p>The name of an Extended Key Usage value.</p>"
        },
        "OID":{
          "shape":"String",
          "documentation":"<p>An object identifier (OID) for the extension value. OIDs are strings of numbers separated by periods. The following OIDs are defined in RFC 3280 and RFC 5280. </p> <ul> <li> <p> <code>1.3.6.1.5.5.7.3.1 (TLS_WEB_SERVER_AUTHENTICATION)</code> </p> </li> <li> <p> <code>1.3.6.1.5.5.7.3.2 (TLS_WEB_CLIENT_AUTHENTICATION)</code> </p> </li> <li> <p> <code>1.3.6.1.5.5.7.3.3 (CODE_SIGNING)</code> </p> </li> <li> <p> <code>1.3.6.1.5.5.7.3.4 (EMAIL_PROTECTION)</code> </p> </li> <li> <p> <code>1.3.6.1.5.5.7.3.8 (TIME_STAMPING)</code> </p> </li> <li> <p> <code>1.3.6.1.5.5.7.3.9 (OCSP_SIGNING)</code> </p> </li> <li> <p> <code>1.3.6.1.5.5.7.3.5 (IPSEC_END_SYSTEM)</code> </p> </li> <li> <p> <code>1.3.6.1.5.5.7.3.6 (IPSEC_TUNNEL)</code> </p> </li> <li> <p> <code>1.3.6.1.5.5.7.3.7 (IPSEC_USER)</code> </p> </li> </ul>"
        }
      },
      "documentation":"<p>The Extended Key Usage X.509 v3 extension defines one or more purposes for which the public key can be used. This is in addition to or in place of the basic purposes specified by the Key Usage extension. </p>"
    },
    "ExtendedKeyUsageFilterList":{
      "type":"list",
      "member":{"shape":"ExtendedKeyUsageName"}
    },
    "ExtendedKeyUsageList":{
      "type":"list",
      "member":{"shape":"ExtendedKeyUsage"}
    },
    "ExtendedKeyUsageName":{
      "type":"string",
      "enum":[
        "TLS_WEB_SERVER_AUTHENTICATION",
        "TLS_WEB_CLIENT_AUTHENTICATION",
        "CODE_SIGNING",
        "EMAIL_PROTECTION",
        "TIME_STAMPING",
        "OCSP_SIGNING",
        "IPSEC_END_SYSTEM",
        "IPSEC_TUNNEL",
        "IPSEC_USER",
        "ANY",
        "NONE",
        "CUSTOM"
      ]
    },
    "ExtendedKeyUsageNames":{
      "type":"list",
      "member":{"shape":"ExtendedKeyUsageName"}
    },
    "FailureReason":{
      "type":"string",
      "enum":[
        "NO_AVAILABLE_CONTACTS",
        "ADDITIONAL_VERIFICATION_REQUIRED",
        "DOMAIN_NOT_ALLOWED",
        "INVALID_PUBLIC_DOMAIN",
        "DOMAIN_VALIDATION_DENIED",
        "CAA_ERROR",
        "PCA_LIMIT_EXCEEDED",
        "PCA_INVALID_ARN",
        "PCA_INVALID_STATE",
        "PCA_REQUEST_FAILED",
        "PCA_NAME_CONSTRAINTS_VALIDATION",
        "PCA_RESOURCE_NOT_FOUND",
        "PCA_INVALID_ARGS",
        "PCA_INVALID_DURATION",
        "PCA_ACCESS_DENIED",
        "SLR_NOT_FOUND",
        "OTHER"
      ]
    },
    "Filters":{
      "type":"structure",
      "members":{
        "extendedKeyUsage":{
          "shape":"ExtendedKeyUsageFilterList",
          "documentation":"<p>Specify one or more <a>ExtendedKeyUsage</a> extension values.</p>"
        },
        "keyUsage":{
          "shape":"KeyUsageFilterList",
          "documentation":"<p>Specify one or more <a>KeyUsage</a> extension values.</p>"
        },
        "keyTypes":{
          "shape":"KeyAlgorithmList",
          "documentation":"<p>Specify one or more algorithms that can be used to generate key pairs.</p> <p>Default filtering returns only <code>RSA_1024</code> and <code>RSA_2048</code> certificates that have at least one domain. To return other certificate types, provide the desired type signatures in a comma-separated list. For example, <code>\"keyTypes\": [\"RSA_2048\",\"RSA_4096\"]</code> returns both <code>RSA_2048</code> and <code>RSA_4096</code> certificates.</p>"
        },
        "exportOption":{
          "shape":"CertificateExport",
          "documentation":"<p>Specify <code>ENABLED</code> or <code>DISABLED</code> to identify certificates that can be exported.</p>"
        },
        "managedBy":{
          "shape":"CertificateManagedBy",
          "documentation":"<p>Identifies the Amazon Web Services service that manages the certificate issued by ACM.</p>"
        }
      },
      "documentation":"<p>This structure can be used in the <a>ListCertificates</a> action to filter the output of the certificate list. </p>"
    },
    "GetAccountConfigurationResponse":{
      "type":"structure",
      "members":{
        "ExpiryEvents":{
          "shape":"ExpiryEventsConfiguration",
          "documentation":"<p>Expiration events configuration options associated with the Amazon Web Services account.</p>"
        }
      }
    },
    "GetCertificateRequest":{
      "type":"structure",
      "required":["CertificateArn"],
      "members":{
        "CertificateArn":{
          "shape":"Arn",
          "documentation":"<p>String that contains a certificate ARN in the following format:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a>.</p>"
        }
      }
    },
    "GetCertificateResponse":{
      "type":"structure",
      "members":{
        "Certificate":{
          "shape":"CertificateBody",
          "documentation":"<p>The ACM-issued certificate corresponding to the ARN specified as input.</p>"
        },
        "CertificateChain":{
          "shape":"CertificateChain",
          "documentation":"<p>Certificates forming the requested certificate's chain of trust. The chain consists of the certificate of the issuing CA and the intermediate certificates of any other subordinate CAs. </p>"
        }
      }
    },
    "HttpRedirect":{
      "type":"structure",
      "members":{
        "RedirectFrom":{
          "shape":"String",
          "documentation":"<p>The URL including the domain to be validated. The certificate authority sends <code>GET</code> requests here during validation.</p>"
        },
        "RedirectTo":{
          "shape":"String",
          "documentation":"<p>The URL hosting the validation token. <code>RedirectFrom</code> must return this content or redirect here.</p>"
        }
      },
      "documentation":"<p>Contains information for HTTP-based domain validation of certificates requested through Amazon CloudFront and issued by ACM. This field exists only when the certificate type is <code>AMAZON_ISSUED</code> and the validation method is <code>HTTP</code>.</p>"
    },
    "IdempotencyToken":{
      "type":"string",
      "max":32,
      "min":1,
      "pattern":"\\w+"
    },
    "ImportCertificateRequest":{
      "type":"structure",
      "required":[
        "Certificate",
        "PrivateKey"
      ],
      "members":{
        "CertificateArn":{
          "shape":"Arn",
          "documentation":"<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of an imported certificate to replace. To import a new certificate, omit this field. </p>"
        },
        "Certificate":{
          "shape":"CertificateBodyBlob",
          "documentation":"<p>The certificate to import.</p>"
        },
        "PrivateKey":{
          "shape":"PrivateKeyBlob",
          "documentation":"<p>The private key that matches the public key in the certificate.</p>"
        },
        "CertificateChain":{
          "shape":"CertificateChainBlob",
          "documentation":"<p>The PEM encoded certificate chain.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>One or more resource tags to associate with the imported certificate. </p> <p>Note: You cannot apply tags when reimporting a certificate.</p>"
        }
      }
    },
    "ImportCertificateResponse":{
      "type":"structure",
      "members":{
        "CertificateArn":{
          "shape":"Arn",
          "documentation":"<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of the imported certificate.</p>"
        }
      }
    },
    "InUseList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "InvalidArgsException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>One or more of request parameters specified is not valid.</p>",
      "exception":true
    },
    "InvalidArnException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>The requested Amazon Resource Name (ARN) does not refer to an existing resource.</p>",
      "exception":true
    },
    "InvalidDomainValidationOptionsException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>One or more values in the <a>DomainValidationOption</a> structure is incorrect.</p>",
      "exception":true
    },
    "InvalidParameterException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>An input parameter was invalid.</p>",
      "exception":true
    },
    "InvalidStateException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>Processing has reached an invalid state.</p>",
      "exception":true
    },
    "InvalidTagException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>One or both of the values that make up the key-value pair is not valid. For example, you cannot specify a tag value that begins with <code>aws:</code>.</p>",
      "exception":true
    },
    "KeyAlgorithm":{
      "type":"string",
      "enum":[
        "RSA_1024",
        "RSA_2048",
        "RSA_3072",
        "RSA_4096",
        "EC_prime256v1",
        "EC_secp384r1",
        "EC_secp521r1"
      ]
    },
    "KeyAlgorithmList":{
      "type":"list",
      "member":{"shape":"KeyAlgorithm"}
    },
    "KeyUsage":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"KeyUsageName",
          "documentation":"<p>A string value that contains a Key Usage extension name.</p>"
        }
      },
      "documentation":"<p>The Key Usage X.509 v3 extension defines the purpose of the public key contained in the certificate.</p>"
    },
    "KeyUsageFilterList":{
      "type":"list",
      "member":{"shape":"KeyUsageName"}
    },
    "KeyUsageList":{
      "type":"list",
      "member":{"shape":"KeyUsage"}
    },
    "KeyUsageName":{
      "type":"string",
      "enum":[
        "DIGITAL_SIGNATURE",
        "NON_REPUDIATION",
        "KEY_ENCIPHERMENT",
        "DATA_ENCIPHERMENT",
        "KEY_AGREEMENT",
        "CERTIFICATE_SIGNING",
        "CRL_SIGNING",
        "ENCIPHER_ONLY",
        "DECIPHER_ONLY",
        "ANY",
        "CUSTOM"
      ]
    },
    "KeyUsageNames":{
      "type":"list",
      "member":{"shape":"KeyUsageName"}
    },
    "LimitExceededException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>An ACM quota has been exceeded.</p>",
      "exception":true
    },
    "ListCertificatesRequest":{
      "type":"structure",
      "members":{
        "CertificateStatuses":{
          "shape":"CertificateStatuses",
          "documentation":"<p>Filter the certificate list by status value.</p>"
        },
        "Includes":{
          "shape":"Filters",
          "documentation":"<p>Filter the certificate list. For more information, see the <a>Filters</a> structure.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>Use this parameter only when paginating results and only in a subsequent request after you receive a response with truncated results. Set it to the value of <code>NextToken</code> from the response you just received.</p>"
        },
        "MaxItems":{
          "shape":"MaxItems",
          "documentation":"<p>Use this parameter when paginating results to specify the maximum number of items to return in the response. If additional items exist beyond the number you specify, the <code>NextToken</code> element is sent in the response. Use this <code>NextToken</code> value in a subsequent request to retrieve additional items.</p>"
        },
        "SortBy":{
          "shape":"SortBy",
          "documentation":"<p>Specifies the field to sort results by. If you specify <code>SortBy</code>, you must also specify <code>SortOrder</code>.</p>"
        },
        "SortOrder":{
          "shape":"SortOrder",
          "documentation":"<p>Specifies the order of sorted results. If you specify <code>SortOrder</code>, you must also specify <code>SortBy</code>.</p>"
        }
      }
    },
    "ListCertificatesResponse":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>When the list is truncated, this value is present and contains the value to use for the <code>NextToken</code> parameter in a subsequent pagination request.</p>"
        },
        "CertificateSummaryList":{
          "shape":"CertificateSummaryList",
          "documentation":"<p>A list of ACM certificates.</p>"
        }
      }
    },
    "ListTagsForCertificateRequest":{
      "type":"structure",
      "required":["CertificateArn"],
      "members":{
        "CertificateArn":{
          "shape":"Arn",
          "documentation":"<p>String that contains the ARN of the ACM certificate for which you want to list the tags. This must have the following form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a>.</p>"
        }
      }
    },
    "ListTagsForCertificateResponse":{
      "type":"structure",
      "members":{
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The key-value pairs that define the applied tags.</p>"
        }
      }
    },
    "MaxItems":{
      "type":"integer",
      "box":true,
      "max":1000,
      "min":1
    },
    "NextToken":{
      "type":"string",
      "max":10000,
      "min":1,
      "pattern":"[\\u0009\\u000A\\u000D\\u0020-\\u00FF]*"
    },
    "NullableBoolean":{
      "type":"boolean",
      "box":true
    },
    "PassphraseBlob":{
      "type":"blob",
      "max":128,
      "min":4,
      "sensitive":true
    },
    "PcaArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:[\\w+=/,.@-]+:acm-pca:[\\w+=/,.@-]*:[0-9]+:[\\w+=,.@-]+(/[\\w+=,.@-]+)*"
    },
    "PositiveInteger":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "PrivateKey":{
      "type":"string",
      "max":524288,
      "min":1,
      "pattern":"-{5}BEGIN PRIVATE KEY-{5}\\u000D?\\u000A([A-Za-z0-9/+]{64}\\u000D?\\u000A)*[A-Za-z0-9/+]{1,64}={0,2}\\u000D?\\u000A-{5}END PRIVATE KEY-{5}(\\u000D?\\u000A)?",
      "sensitive":true
    },
    "PrivateKeyBlob":{
      "type":"blob",
      "max":5120,
      "min":1,
      "sensitive":true
    },
    "PutAccountConfigurationRequest":{
      "type":"structure",
      "required":["IdempotencyToken"],
      "members":{
        "ExpiryEvents":{
          "shape":"ExpiryEventsConfiguration",
          "documentation":"<p>Specifies expiration events associated with an account.</p>"
        },
        "IdempotencyToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>Customer-chosen string used to distinguish between calls to <code>PutAccountConfiguration</code>. Idempotency tokens time out after one hour. If you call <code>PutAccountConfiguration</code> multiple times with the same unexpired idempotency token, ACM treats it as the same request and returns the original result. If you change the idempotency token for each call, ACM treats each call as a new request.</p>"
        }
      }
    },
    "RecordType":{
      "type":"string",
      "enum":["CNAME"]
    },
    "RemoveTagsFromCertificateRequest":{
      "type":"structure",
      "required":[
        "CertificateArn",
        "Tags"
      ],
      "members":{
        "CertificateArn":{
          "shape":"Arn",
          "documentation":"<p>String that contains the ARN of the ACM Certificate with one or more tags that you want to remove. This must be of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a>.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The key-value pair that defines the tag to remove.</p>"
        }
      }
    },
    "RenewCertificateRequest":{
      "type":"structure",
      "required":["CertificateArn"],
      "members":{
        "CertificateArn":{
          "shape":"Arn",
          "documentation":"<p>String that contains the ARN of the ACM certificate to be renewed. This must be of the form:</p> <p> <code>arn:aws:acm:region:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p> <p>For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a>.</p>"
        }
      }
    },
    "RenewalEligibility":{
      "type":"string",
      "enum":[
        "ELIGIBLE",
        "INELIGIBLE"
      ]
    },
    "RenewalStatus":{
      "type":"string",
      "enum":[
        "PENDING_AUTO_RENEWAL",
        "PENDING_VALIDATION",
        "SUCCESS",
        "FAILED"
      ]
    },
    "RenewalSummary":{
      "type":"structure",
      "required":[
        "RenewalStatus",
        "DomainValidationOptions",
        "UpdatedAt"
      ],
      "members":{
        "RenewalStatus":{
          "shape":"RenewalStatus",
          "documentation":"<p>The status of ACM's <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-renewal.html\">managed renewal</a> of the certificate.</p>"
        },
        "DomainValidationOptions":{
          "shape":"DomainValidationList",
          "documentation":"<p>Contains information about the validation of each domain name in the certificate, as it pertains to ACM's <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-renewal.html\">managed renewal</a>. This is different from the initial validation that occurs as a result of the <a>RequestCertificate</a> request. This field exists only when the certificate type is <code>AMAZON_ISSUED</code>.</p>"
        },
        "RenewalStatusReason":{
          "shape":"FailureReason",
          "documentation":"<p>The reason that a renewal request was unsuccessful.</p>"
        },
        "UpdatedAt":{
          "shape":"TStamp",
          "documentation":"<p>The time at which the renewal summary was last updated.</p>"
        }
      },
      "documentation":"<p>Contains information about the status of ACM's <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-renewal.html\">managed renewal</a> for the certificate. This structure exists only when the certificate type is <code>AMAZON_ISSUED</code>.</p>"
    },
    "RequestCertificateRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{
          "shape":"DomainNameString",
          "documentation":"<p>Fully qualified domain name (FQDN), such as www.example.com, that you want to secure with an ACM certificate. Use an asterisk (*) to create a wildcard certificate that protects several sites in the same domain. For example, *.example.com protects www.example.com, site.example.com, and images.example.com. </p> <p>In compliance with <a href=\"https://datatracker.ietf.org/doc/html/rfc5280\">RFC 5280</a>, the length of the domain name (technically, the Common Name) that you provide cannot exceed 64 octets (characters), including periods. To add a longer domain name, specify it in the Subject Alternative Name field, which supports names up to 253 octets in length. </p>"
        },
        "ValidationMethod":{
          "shape":"ValidationMethod",
          "documentation":"<p>The method you want to use if you are requesting a public certificate to validate that you own or control domain. You can <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/gs-acm-validate-dns.html\">validate with DNS</a> or <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/gs-acm-validate-email.html\">validate with email</a>. We recommend that you use DNS validation. </p>"
        },
        "SubjectAlternativeNames":{
          "shape":"DomainList",
          "documentation":"<p>Additional FQDNs to be included in the Subject Alternative Name extension of the ACM certificate. For example, add the name www.example.net to a certificate for which the <code>DomainName</code> field is www.example.com if users can reach your site by using either name. The maximum number of domain names that you can add to an ACM certificate is 100. However, the initial quota is 10 domain names. If you need more than 10 names, you must request a quota increase. For more information, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-limits.html\">Quotas</a>.</p> <p> The maximum length of a SAN DNS name is 253 octets. The name is made up of multiple labels separated by periods. No label can be longer than 63 octets. Consider the following examples: </p> <ul> <li> <p> <code>(63 octets).(63 octets).(63 octets).(61 octets)</code> is legal because the total length is 253 octets (63+1+63+1+63+1+61) and no label exceeds 63 octets.</p> </li> <li> <p> <code>(64 octets).(63 octets).(63 octets).(61 octets)</code> is not legal because the total length exceeds 253 octets (64+1+63+1+63+1+61) and the first label exceeds 63 octets.</p> </li> <li> <p> <code>(63 octets).(63 octets).(63 octets).(62 octets)</code> is not legal because the total length of the DNS name (63+1+63+1+63+1+62) exceeds 253 octets.</p> </li> </ul>"
        },
        "IdempotencyToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>Customer chosen string that can be used to distinguish between calls to <code>RequestCertificate</code>. Idempotency tokens time out after one hour. Therefore, if you call <code>RequestCertificate</code> multiple times with the same idempotency token within one hour, ACM recognizes that you are requesting only one certificate and will issue only one. If you change the idempotency token for each call, ACM recognizes that you are requesting multiple certificates.</p>"
        },
        "DomainValidationOptions":{
          "shape":"DomainValidationOptionList",
          "documentation":"<p>The domain name that you want ACM to use to send you emails so that you can validate domain ownership.</p>"
        },
        "Options":{
          "shape":"CertificateOptions",
          "documentation":"<p>You can use this parameter to specify whether to add the certificate to a certificate transparency log and export your certificate.</p> <p>Certificate transparency makes it possible to detect SSL/TLS certificates that have been mistakenly or maliciously issued. Certificates that have not been logged typically produce an error message in a browser. For more information, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-bestpractices.html#best-practices-transparency\">Opting Out of Certificate Transparency Logging</a>.</p> <p>You can export public ACM certificates to use with Amazon Web Services services as well as outside the Amazon Web Services Cloud. For more information, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-exportable-certificates.html\">Certificate Manager exportable public certificate</a>.</p>"
        },
        "CertificateAuthorityArn":{
          "shape":"PcaArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the private certificate authority (CA) that will be used to issue the certificate. If you do not provide an ARN and you are trying to request a private certificate, ACM will attempt to issue a public certificate. For more information about private CAs, see the <a href=\"https://docs.aws.amazon.com/privateca/latest/userguide/PcaWelcome.html\">Amazon Web Services Private Certificate Authority</a> user guide. The ARN must have the following form: </p> <p> <code>arn:aws:acm-pca:region:account:certificate-authority/12345678-1234-1234-1234-123456789012</code> </p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>One or more resource tags to associate with the certificate.</p>"
        },
        "KeyAlgorithm":{
          "shape":"KeyAlgorithm",
          "documentation":"<p>Specifies the algorithm of the public and private key pair that your certificate uses to encrypt data. RSA is the default key algorithm for ACM certificates. Elliptic Curve Digital Signature Algorithm (ECDSA) keys are smaller, offering security comparable to RSA keys but with greater computing efficiency. However, ECDSA is not supported by all network clients. Some Amazon Web Services services may require RSA keys, or only support ECDSA keys of a particular size, while others allow the use of either RSA and ECDSA keys to ensure that compatibility is not broken. Check the requirements for the Amazon Web Services service where you plan to deploy your certificate. For more information about selecting an algorithm, see <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/acm-certificate.html#algorithms\">Key algorithms</a>.</p> <note> <p>Algorithms supported for an ACM certificate request include: </p> <ul> <li> <p> <code>RSA_2048</code> </p> </li> <li> <p> <code>EC_prime256v1</code> </p> </li> <li> <p> <code>EC_secp384r1</code> </p> </li> </ul> <p>Other listed algorithms are for imported certificates only. </p> </note> <note> <p>When you request a private PKI certificate signed by a CA from Amazon Web Services Private CA, the specified signing algorithm family (RSA or ECDSA) must match the algorithm family of the CA's secret key.</p> </note> <p>Default: RSA_2048</p>"
        },
        "ManagedBy":{
          "shape":"CertificateManagedBy",
          "documentation":"<p>Identifies the Amazon Web Services service that manages the certificate issued by ACM.</p>"
        }
      }
    },
    "RequestCertificateResponse":{
      "type":"structure",
      "members":{
        "CertificateArn":{
          "shape":"Arn",
          "documentation":"<p>String that contains the ARN of the issued certificate. This must be of the form:</p> <p> <code>arn:aws:acm:us-east-1:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p>"
        }
      }
    },
    "RequestInProgressException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>The certificate request is in process and the certificate in your account has not yet been issued.</p>",
      "exception":true
    },
    "ResendValidationEmailRequest":{
      "type":"structure",
      "required":[
        "CertificateArn",
        "Domain",
        "ValidationDomain"
      ],
      "members":{
        "CertificateArn":{
          "shape":"Arn",
          "documentation":"<p>String that contains the ARN of the requested certificate. The certificate ARN is generated and returned by the <a>RequestCertificate</a> action as soon as the request is made. By default, using this parameter causes email to be sent to all top-level domains you specified in the certificate request. The ARN must be of the form: </p> <p> <code>arn:aws:acm:us-east-1:123456789012:certificate/12345678-1234-1234-1234-123456789012</code> </p>"
        },
        "Domain":{
          "shape":"DomainNameString",
          "documentation":"<p>The fully qualified domain name (FQDN) of the certificate that needs to be validated.</p>"
        },
        "ValidationDomain":{
          "shape":"DomainNameString",
          "documentation":"<p>The base validation domain that will act as the suffix of the email addresses that are used to send the emails. This must be the same as the <code>Domain</code> value or a superdomain of the <code>Domain</code> value. For example, if you requested a certificate for <code>site.subdomain.example.com</code> and specify a <b>ValidationDomain</b> of <code>subdomain.example.com</code>, ACM sends email to the domain registrant, technical contact, and administrative contact in WHOIS and the following five addresses:</p> <ul> <li> <p>admin@subdomain.example.com</p> </li> <li> <p>administrator@subdomain.example.com</p> </li> <li> <p>hostmaster@subdomain.example.com</p> </li> <li> <p>postmaster@subdomain.example.com</p> </li> <li> <p>webmaster@subdomain.example.com</p> </li> </ul>"
        }
      }
    },
    "ResourceInUseException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>The certificate is in use by another Amazon Web Services service in the caller's account. Remove the association and try again.</p>",
      "exception":true
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>The specified certificate cannot be found in the caller's account or the caller's account cannot be found.</p>",
      "exception":true
    },
    "ResourceRecord":{
      "type":"structure",
      "required":[
        "Name",
        "Type",
        "Value"
      ],
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>The name of the DNS record to create in your domain. This is supplied by ACM.</p>"
        },
        "Type":{
          "shape":"RecordType",
          "documentation":"<p>The type of DNS record. Currently this can be <code>CNAME</code>.</p>"
        },
        "Value":{
          "shape":"String",
          "documentation":"<p>The value of the CNAME record to add to your DNS database. This is supplied by ACM.</p>"
        }
      },
      "documentation":"<p>Contains a DNS record value that you can use to validate ownership or control of a domain. This is used by the <a>DescribeCertificate</a> action. </p>"
    },
    "RevocationReason":{
      "type":"string",
      "enum":[
        "UNSPECIFIED",
        "KEY_COMPROMISE",
        "CA_COMPROMISE",
        "AFFILIATION_CHANGED",
        "SUPERCEDED",
        "SUPERSEDED",
        "CESSATION_OF_OPERATION",
        "CERTIFICATE_HOLD",
        "REMOVE_FROM_CRL",
        "PRIVILEGE_WITHDRAWN",
        "A_A_COMPROMISE"
      ]
    },
    "RevokeCertificateRequest":{
      "type":"structure",
      "required":[
        "CertificateArn",
        "RevocationReason"
      ],
      "members":{
        "CertificateArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the public or private certificate that will be revoked. The ARN must have the following form: </p> <p> <code>arn:aws:acm:region:account:certificate/12345678-1234-1234-1234-123456789012</code> </p>"
        },
        "RevocationReason":{
          "shape":"RevocationReason",
          "documentation":"<p>Specifies why you revoked the certificate.</p>"
        }
      }
    },
    "RevokeCertificateResponse":{
      "type":"structure",
      "members":{
        "CertificateArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the public or private certificate that was revoked.</p>"
        }
      }
    },
    "ServiceErrorMessage":{"type":"string"},
    "SortBy":{
      "type":"string",
      "enum":["CREATED_AT"]
    },
    "SortOrder":{
      "type":"string",
      "enum":[
        "ASCENDING",
        "DESCENDING"
      ]
    },
    "String":{"type":"string"},
    "TStamp":{"type":"timestamp"},
    "Tag":{
      "type":"structure",
      "required":["Key"],
      "members":{
        "Key":{
          "shape":"TagKey",
          "documentation":"<p>The key of the tag.</p>"
        },
        "Value":{
          "shape":"TagValue",
          "documentation":"<p>The value of the tag.</p>"
        }
      },
      "documentation":"<p>A key-value pair that identifies or specifies metadata about an ACM resource.</p>"
    },
    "TagKey":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[\\p{L}\\p{Z}\\p{N}_.:\\/=+\\-@]*"
    },
    "TagList":{
      "type":"list",
      "member":{"shape":"Tag"},
      "max":50,
      "min":1
    },
    "TagPolicyException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>A specified tag did not comply with an existing tag policy and was rejected.</p>",
      "exception":true
    },
    "TagValue":{
      "type":"string",
      "max":256,
      "min":0,
      "pattern":"[\\p{L}\\p{Z}\\p{N}_.:\\/=+\\-@]*"
    },
    "ThrottlingException":{
      "type":"structure",
      "members":{
        "message":{"shape":"AvailabilityErrorMessage"}
      },
      "documentation":"<p>The request was denied because it exceeded a quota.</p>",
      "exception":true
    },
    "TooManyTagsException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>The request contains too many tags. Try the request again with fewer tags.</p>",
      "exception":true
    },
    "UpdateCertificateOptionsRequest":{
      "type":"structure",
      "required":[
        "CertificateArn",
        "Options"
      ],
      "members":{
        "CertificateArn":{
          "shape":"Arn",
          "documentation":"<p>ARN of the requested certificate to update. This must be of the form:</p> <p> <code>arn:aws:acm:us-east-1:<i>account</i>:certificate/<i>12345678-1234-1234-1234-123456789012</i> </code> </p>"
        },
        "Options":{
          "shape":"CertificateOptions",
          "documentation":"<p>Use to update the options for your certificate. Currently, you can specify whether to add your certificate to a transparency log or export your certificate. Certificate transparency makes it possible to detect SSL/TLS certificates that have been mistakenly or maliciously issued. Certificates that have not been logged typically produce an error message in a browser. </p>"
        }
      }
    },
    "ValidationEmailList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "ValidationException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ValidationExceptionMessage"}
      },
      "documentation":"<p>The supplied input failed to satisfy constraints of an Amazon Web Services service.</p>",
      "exception":true
    },
    "ValidationExceptionMessage":{"type":"string"},
    "ValidationMethod":{
      "type":"string",
      "enum":[
        "EMAIL",
        "DNS",
        "HTTP"
      ]
    }
  },
  "documentation":"<p><fullname>Certificate Manager</fullname> <p>You can use Certificate Manager (ACM) to manage SSL/TLS certificates for your Amazon Web Services-based websites and applications. For more information about using ACM, see the <a href=\"https://docs.aws.amazon.com/acm/latest/userguide/\">Certificate Manager User Guide</a>.</p></p>"
}
