<div class="gh-dashboard-zero">
    <div class="gh-dashboard-zero-message">
        {{svg-jar "analytics"}}
        <h4>Welcome to your Dashboard</h4>
        <p>You'll find member analytics here once<br />someone signs up.</p>
        <p><LinkTo @route="members">Add or import members &rarr;</LinkTo></p>
    </div>
</div>
