/* Reset
/* ---------------------------------------------------------- */

.gh-reset {
	position: relative;
	margin: 30px auto;
	padding: 40px;
	max-width: 400px;
	width: 100%;
	border: #dae1e3 1px solid;
	background: #f8fbfd;
	border-radius: 5px;
	text-align: left;
}

.gh-reset .form-group {
	margin-bottom: 1.5rem;
}

.gh-reset .btn {
	margin: 0;
	padding: 12px;
}
