// ------------------------------------------------------------
// Setup
//
// Slug: /ghost/setup/
//
// * Page
// * Wrapper
// * Form
// ------------------------------------------------------------


//
// Layout
// ------------------------------------------------------------

.gh-setup {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.gh-setup-head {
    display: flex;
    justify-content: space-between;
    padding-top: 4vh;
    padding-bottom: 20px;
}

.gh-setup-content-wrap {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 8vh;
    margin: 0 5%;
}

//
// Header
// ------------------------------------------------------------
.gh-setup-back {
    position: absolute;
    top: 0;
    left: 0;
    border: transparent 1px solid;
    padding: 2px 9px 2px 5px;
    margin: 0 0 0 3%;
    font-weight: 100;
    color: #7d878a;
    border-radius: 4px;
    transition: all 0.3s ease;

    &:hover {
        border: #DAE1E3 1px solid;
    }
}

.gh-setup-nav {
    position: relative;
    flex: 1;

    ol {
        width: 160px;
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0 auto;
        padding: 0;
    }

    li {
        margin: 0;
    }

    // Set the default divider to green, and then override it to
    // grey using the next~sibling selector. Means that all
    // dividers before .current will be automatically green.
    .divider {
        align-self: center;
        width: 22px;
        height: 2px;
        background-image: linear-gradient(to right, $green 33%, rgba(255,255,255,0) 0%);
        background-position: bottom;
        background-size: 6px 2px;
        background-repeat: repeat-x;
    }
    .current ~ .divider {
        background-image: linear-gradient(to right, #E3E3E3 33%, rgba(255,255,255,0) 0%);
    }

    .step {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        width: 30px;
        height: 30px;
        border: transparent 2px solid;
        font-size: 1.3rem;
        text-align: center;
        color: #fff;
        background: $green;
        border-radius: 100%;

        .num {
            display: none;
        }
    }

    .current ~ li:not(divider) .step {
        border: #E3E3E3 2px solid;
        color: #CDCDCD;
        background: transparent;

        .num {
            display: block;
        }
        i {
            display: none;
        }
    }

    .current .step {
        border: $green 2px solid;
        color: $green;
        font-weight: bold;
        background: transparent;
        cursor: default;

        .num {
            display: block;
        }
        i {
            display: none;
        }
    }

    .done {
        background: $green;
        border: none;
        color: #fff;
    }

}

.gh-setup-content {
    width: 100%;
    max-width: 700px;
    font-size: 1.9rem;
    line-height: 1.5em;
    font-weight: 100;
    color: $midgrey;
    text-align: center;

    @media (max-width: 500px) {
        font-size: 4vw;
    }

    header {
        max-width: 520px;
        margin: 0 auto;
    }

    h1 {
        font-size: 4.2rem;
        font-weight: 100;
        letter-spacing: -1px;

        @media (max-width: 600px) {
            font-size: 7vw;
        }
    }

    strong {
        font-weight: 400;
    }

    em {
        color: $blue;
        font-weight: 400;
        font-style: normal;
    }

    img {
        max-width: 100%;
    }

    .gh-setup-screenshot {
        position: relative;
        left: -38px;

        @media (max-width: 860px) {
            left: 0;
        }

    }

    .btn {
        display: block;
        max-width: 400px;
        margin: 20px auto 0;
    }

    //
    // Create your account
    // ------------------------------------------------------------

    .gh-setup-create {
        position: relative;
        max-width: 400px;
        padding: 50px 40px 25px;
        margin: 70px auto 30px;
        border: #DAE1E3 1px solid;
        text-align: left;
        background: #F8FBFD;
        border-radius: 5px;
    }

    .account-image {
        position: absolute;
        top: -50px;
        left: 50%;
        margin: 0;
        margin-left: -50px;
        width: 100px;
        height: 100px;
        padding: 4px;
        border: #D1D9DB 1px solid;
        text-align: center;
        background: #fff;
        border-radius: 100%;
        overflow: hidden;

        &:hover {
            .edit-account-image {
                opacity: 1;
            }
        }
    }

    .edit-account-image {
        position: absolute;
        top: 4px;
        right: 4px;
        bottom: 4px;
        left: 4px;
        border-radius: 100%;
        width: calc(100% - 8px);
        background: rgba(87,163,232,0.7);
        opacity: 0;
        color: #fff;
        font-size: 3rem;
        line-height: 90px;
        text-transform: uppercase;
        text-decoration: none;
        transition: opacity 0.3s ease;
    }

    .img {
        display: block;
        width: 90px;
        height: 90px;
        background-color: #F8FBFD;
        background-size: cover;
        background-position: center center;
        border-radius: 100%;
        animation: fade-in 1s;
    }

    .form-group {
        margin-bottom: 2.5rem;

        label {
            margin: 0;
            font-size: 1.4rem;
            font-weight: 400;
        }

        a {
            text-decoration: underline;
        }
    }


    input {
        padding: 10px;
        border: #DAE1E3 1px solid;
        font-size: 1.6rem;
        line-height: 1.4em;
        font-weight: 100;
    }

    .pw-strength {
        padding: 0 10px;
        height: 24px;
        position: absolute;
        top: 50%;
        right: 1px;
        margin-top: -11px;
        background: rgba(255,255,255,0.9);
    }

    .pw-strength-dot {
        display: block;
        height: 3px;
        width: 3px;
        margin-top: 2px;
        background-color: #D9E0E3;
        border-radius: 100%;

        &:first-child {
            margin-top: 0;
        }
    }

    .pw-strength-activedot {
        background-color: $red;
    }

    // @TODO hack - replace with proper icon input
    .input-icon[class*='icon-']:before {
        transform: translateY(-49%);
    }

    .gh-setup-invite {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        text-align: left;

        @media (max-width: 460px) {
            label i {display: none;}
        }
    }

    .gh-setup-faces {
        margin-bottom: 3vw;
    }

    textarea {
        width: 100%;
        height: 160px;
        margin-bottom: 40px;
        font-size: 1.6rem;
        font-weight: 100;

        @media (max-width: 1200px) {
            margin-bottom: 3vw;
        }
    }


    //
    // Validation
    // ------------------------------------------------------------

    .response {
        position: absolute;
        bottom: -25px;
        right: 0;
        margin: 0;
        text-align: right;
        font-size: 1.2rem;
        color: #A6B0B3;
    }

    .success {
        .input-icon:before {
            color: $green;
        }
    }

    .error {
        input {
            border-color: $red;
        }
        .input-icon:before {
            color: $red;
        }
        .response {
            color: $red;
        }
    }

    // Appears under submit button
    .main-error {
        color: $red;
        font-size: 1.3rem;
        margin-top: 5px;
    }
}
