{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2015-12-01",
    "endpointPrefix":"elasticloadbalancing",
    "protocol":"query",
    "protocols":["query"],
    "serviceAbbreviation":"Elastic Load Balancing v2",
    "serviceFullName":"Elastic Load Balancing",
    "serviceId":"Elastic Load Balancing v2",
    "signatureVersion":"v4",
    "uid":"elasticloadbalancingv2-2015-12-01",
    "xmlNamespace":"http://elasticloadbalancing.amazonaws.com/doc/2015-12-01/",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AddListenerCertificates":{
      "name":"AddListenerCertificates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddListenerCertificatesInput"},
      "output":{
        "shape":"AddListenerCertificatesOutput",
        "resultWrapper":"AddListenerCertificatesResult"
      },
      "errors":[
        {"shape":"ListenerNotFoundException"},
        {"shape":"TooManyCertificatesException"},
        {"shape":"CertificateNotFoundException"}
      ],
      "documentation":"<p>Adds the specified SSL server certificate to the certificate list for the specified HTTPS or TLS listener.</p> <p>If the certificate in already in the certificate list, the call is successful but the certificate is not added again.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/https-listener-certificates.html\">SSL certificates</a> in the <i>Application Load Balancers Guide</i> or <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/tls-listener-certificates.html\">Server certificates</a> in the <i>Network Load Balancers Guide</i>.</p>"
    },
    "AddTags":{
      "name":"AddTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddTagsInput"},
      "output":{
        "shape":"AddTagsOutput",
        "resultWrapper":"AddTagsResult"
      },
      "errors":[
        {"shape":"DuplicateTagKeysException"},
        {"shape":"TooManyTagsException"},
        {"shape":"LoadBalancerNotFoundException"},
        {"shape":"TargetGroupNotFoundException"},
        {"shape":"ListenerNotFoundException"},
        {"shape":"RuleNotFoundException"},
        {"shape":"TrustStoreNotFoundException"}
      ],
      "documentation":"<p>Adds the specified tags to the specified Elastic Load Balancing resource. You can tag your Application Load Balancers, Network Load Balancers, Gateway Load Balancers, target groups, trust stores, listeners, and rules.</p> <p>Each tag consists of a key and an optional value. If a resource already has a tag with the same key, <code>AddTags</code> updates its value.</p>"
    },
    "AddTrustStoreRevocations":{
      "name":"AddTrustStoreRevocations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddTrustStoreRevocationsInput"},
      "output":{
        "shape":"AddTrustStoreRevocationsOutput",
        "resultWrapper":"AddTrustStoreRevocationsResult"
      },
      "errors":[
        {"shape":"TrustStoreNotFoundException"},
        {"shape":"InvalidRevocationContentException"},
        {"shape":"TooManyTrustStoreRevocationEntriesException"},
        {"shape":"RevocationContentNotFoundException"}
      ],
      "documentation":"<p>Adds the specified revocation file to the specified trust store.</p>"
    },
    "CreateListener":{
      "name":"CreateListener",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateListenerInput"},
      "output":{
        "shape":"CreateListenerOutput",
        "resultWrapper":"CreateListenerResult"
      },
      "errors":[
        {"shape":"DuplicateListenerException"},
        {"shape":"TooManyListenersException"},
        {"shape":"TooManyCertificatesException"},
        {"shape":"LoadBalancerNotFoundException"},
        {"shape":"TargetGroupNotFoundException"},
        {"shape":"TargetGroupAssociationLimitException"},
        {"shape":"InvalidConfigurationRequestException"},
        {"shape":"IncompatibleProtocolsException"},
        {"shape":"SSLPolicyNotFoundException"},
        {"shape":"CertificateNotFoundException"},
        {"shape":"UnsupportedProtocolException"},
        {"shape":"TooManyRegistrationsForTargetIdException"},
        {"shape":"TooManyTargetsException"},
        {"shape":"TooManyActionsException"},
        {"shape":"InvalidLoadBalancerActionException"},
        {"shape":"TooManyUniqueTargetGroupsPerLoadBalancerException"},
        {"shape":"ALPNPolicyNotSupportedException"},
        {"shape":"TooManyTagsException"},
        {"shape":"TrustStoreNotFoundException"},
        {"shape":"TrustStoreNotReadyException"}
      ],
      "documentation":"<p>Creates a listener for the specified Application Load Balancer, Network Load Balancer, or Gateway Load Balancer.</p> <p>For more information, see the following:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html\">Listeners for your Application Load Balancers</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-listeners.html\">Listeners for your Network Load Balancers</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/gateway/gateway-listeners.html\">Listeners for your Gateway Load Balancers</a> </p> </li> </ul> <p>This operation is idempotent, which means that it completes at most one time. If you attempt to create multiple listeners with the same settings, each call succeeds.</p>"
    },
    "CreateLoadBalancer":{
      "name":"CreateLoadBalancer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLoadBalancerInput"},
      "output":{
        "shape":"CreateLoadBalancerOutput",
        "resultWrapper":"CreateLoadBalancerResult"
      },
      "errors":[
        {"shape":"DuplicateLoadBalancerNameException"},
        {"shape":"TooManyLoadBalancersException"},
        {"shape":"InvalidConfigurationRequestException"},
        {"shape":"SubnetNotFoundException"},
        {"shape":"InvalidSubnetException"},
        {"shape":"InvalidSecurityGroupException"},
        {"shape":"InvalidSchemeException"},
        {"shape":"TooManyTagsException"},
        {"shape":"DuplicateTagKeysException"},
        {"shape":"ResourceInUseException"},
        {"shape":"AllocationIdNotFoundException"},
        {"shape":"AvailabilityZoneNotSupportedException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Creates an Application Load Balancer, Network Load Balancer, or Gateway Load Balancer.</p> <p>For more information, see the following:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/application-load-balancers.html\">Application Load Balancers</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/network-load-balancers.html\">Network Load Balancers</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/gateway/gateway-load-balancers.html\">Gateway Load Balancers</a> </p> </li> </ul> <p>This operation is idempotent, which means that it completes at most one time. If you attempt to create multiple load balancers with the same settings, each call succeeds.</p>"
    },
    "CreateRule":{
      "name":"CreateRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateRuleInput"},
      "output":{
        "shape":"CreateRuleOutput",
        "resultWrapper":"CreateRuleResult"
      },
      "errors":[
        {"shape":"PriorityInUseException"},
        {"shape":"TooManyTargetGroupsException"},
        {"shape":"TooManyRulesException"},
        {"shape":"TargetGroupAssociationLimitException"},
        {"shape":"IncompatibleProtocolsException"},
        {"shape":"ListenerNotFoundException"},
        {"shape":"TargetGroupNotFoundException"},
        {"shape":"InvalidConfigurationRequestException"},
        {"shape":"TooManyRegistrationsForTargetIdException"},
        {"shape":"TooManyTargetsException"},
        {"shape":"UnsupportedProtocolException"},
        {"shape":"TooManyActionsException"},
        {"shape":"InvalidLoadBalancerActionException"},
        {"shape":"TooManyUniqueTargetGroupsPerLoadBalancerException"},
        {"shape":"TooManyTagsException"}
      ],
      "documentation":"<p>Creates a rule for the specified listener. The listener must be associated with an Application Load Balancer.</p> <p>Each rule consists of a priority, one or more actions, and one or more conditions. Rules are evaluated in priority order, from the lowest value to the highest value. When the conditions for a rule are met, its actions are performed. If the conditions for no rules are met, the actions for the default rule are performed. For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html#listener-rules\">Listener rules</a> in the <i>Application Load Balancers Guide</i>.</p>"
    },
    "CreateTargetGroup":{
      "name":"CreateTargetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTargetGroupInput"},
      "output":{
        "shape":"CreateTargetGroupOutput",
        "resultWrapper":"CreateTargetGroupResult"
      },
      "errors":[
        {"shape":"DuplicateTargetGroupNameException"},
        {"shape":"TooManyTargetGroupsException"},
        {"shape":"InvalidConfigurationRequestException"},
        {"shape":"TooManyTagsException"}
      ],
      "documentation":"<p>Creates a target group.</p> <p>For more information, see the following:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-target-groups.html\">Target groups for your Application Load Balancers</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-target-groups.html\">Target groups for your Network Load Balancers</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/gateway/target-groups.html\">Target groups for your Gateway Load Balancers</a> </p> </li> </ul> <p>This operation is idempotent, which means that it completes at most one time. If you attempt to create multiple target groups with the same settings, each call succeeds.</p>"
    },
    "CreateTrustStore":{
      "name":"CreateTrustStore",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTrustStoreInput"},
      "output":{
        "shape":"CreateTrustStoreOutput",
        "resultWrapper":"CreateTrustStoreResult"
      },
      "errors":[
        {"shape":"DuplicateTrustStoreNameException"},
        {"shape":"TooManyTrustStoresException"},
        {"shape":"InvalidCaCertificatesBundleException"},
        {"shape":"CaCertificatesBundleNotFoundException"},
        {"shape":"TooManyTagsException"},
        {"shape":"DuplicateTagKeysException"}
      ],
      "documentation":"<p>Creates a trust store.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/mutual-authentication.html\">Mutual TLS for Application Load Balancers</a>.</p>"
    },
    "DeleteListener":{
      "name":"DeleteListener",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteListenerInput"},
      "output":{
        "shape":"DeleteListenerOutput",
        "resultWrapper":"DeleteListenerResult"
      },
      "errors":[
        {"shape":"ListenerNotFoundException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Deletes the specified listener.</p> <p>Alternatively, your listener is deleted when you delete the load balancer to which it is attached.</p>"
    },
    "DeleteLoadBalancer":{
      "name":"DeleteLoadBalancer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteLoadBalancerInput"},
      "output":{
        "shape":"DeleteLoadBalancerOutput",
        "resultWrapper":"DeleteLoadBalancerResult"
      },
      "errors":[
        {"shape":"LoadBalancerNotFoundException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Deletes the specified Application Load Balancer, Network Load Balancer, or Gateway Load Balancer. Deleting a load balancer also deletes its listeners.</p> <p>You can't delete a load balancer if deletion protection is enabled. If the load balancer does not exist or has already been deleted, the call succeeds.</p> <p>Deleting a load balancer does not affect its registered targets. For example, your EC2 instances continue to run and are still registered to their target groups. If you no longer need these EC2 instances, you can stop or terminate them.</p>"
    },
    "DeleteRule":{
      "name":"DeleteRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRuleInput"},
      "output":{
        "shape":"DeleteRuleOutput",
        "resultWrapper":"DeleteRuleResult"
      },
      "errors":[
        {"shape":"RuleNotFoundException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Deletes the specified rule.</p> <p>You can't delete the default rule.</p>"
    },
    "DeleteSharedTrustStoreAssociation":{
      "name":"DeleteSharedTrustStoreAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSharedTrustStoreAssociationInput"},
      "output":{
        "shape":"DeleteSharedTrustStoreAssociationOutput",
        "resultWrapper":"DeleteSharedTrustStoreAssociationResult"
      },
      "errors":[
        {"shape":"TrustStoreNotFoundException"},
        {"shape":"DeleteAssociationSameAccountException"},
        {"shape":"TrustStoreAssociationNotFoundException"}
      ],
      "documentation":"<p>Deletes a shared trust store association.</p>"
    },
    "DeleteTargetGroup":{
      "name":"DeleteTargetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTargetGroupInput"},
      "output":{
        "shape":"DeleteTargetGroupOutput",
        "resultWrapper":"DeleteTargetGroupResult"
      },
      "errors":[
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Deletes the specified target group.</p> <p>You can delete a target group if it is not referenced by any actions. Deleting a target group also deletes any associated health checks. Deleting a target group does not affect its registered targets. For example, any EC2 instances continue to run until you stop or terminate them.</p>"
    },
    "DeleteTrustStore":{
      "name":"DeleteTrustStore",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTrustStoreInput"},
      "output":{
        "shape":"DeleteTrustStoreOutput",
        "resultWrapper":"DeleteTrustStoreResult"
      },
      "errors":[
        {"shape":"TrustStoreNotFoundException"},
        {"shape":"TrustStoreInUseException"}
      ],
      "documentation":"<p>Deletes a trust store.</p>"
    },
    "DeregisterTargets":{
      "name":"DeregisterTargets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterTargetsInput"},
      "output":{
        "shape":"DeregisterTargetsOutput",
        "resultWrapper":"DeregisterTargetsResult"
      },
      "errors":[
        {"shape":"TargetGroupNotFoundException"},
        {"shape":"InvalidTargetException"}
      ],
      "documentation":"<p>Deregisters the specified targets from the specified target group. After the targets are deregistered, they no longer receive traffic from the load balancer.</p> <p>The load balancer stops sending requests to targets that are deregistering, but uses connection draining to ensure that in-flight traffic completes on the existing connections. This deregistration delay is configured by default but can be updated for each target group.</p> <p>For more information, see the following:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/edit-target-group-attributes.html#deregistration-delay\"> Deregistration delay</a> in the <i>Application Load Balancers User Guide</i> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/edit-target-group-attributes.html#deregistration-delay\"> Deregistration delay</a> in the <i>Network Load Balancers User Guide</i> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/gateway/edit-target-group-attributes.html#deregistration-delay\"> Deregistration delay</a> in the <i>Gateway Load Balancers User Guide</i> </p> </li> </ul> <p>Note: If the specified target does not exist, the action returns successfully.</p>"
    },
    "DescribeAccountLimits":{
      "name":"DescribeAccountLimits",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAccountLimitsInput"},
      "output":{
        "shape":"DescribeAccountLimitsOutput",
        "resultWrapper":"DescribeAccountLimitsResult"
      },
      "documentation":"<p>Describes the current Elastic Load Balancing resource limits for your Amazon Web Services account.</p> <p>For more information, see the following:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-limits.html\">Quotas for your Application Load Balancers</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-limits.html\">Quotas for your Network Load Balancers</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/gateway/quotas-limits.html\">Quotas for your Gateway Load Balancers</a> </p> </li> </ul>"
    },
    "DescribeCapacityReservation":{
      "name":"DescribeCapacityReservation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCapacityReservationInput"},
      "output":{
        "shape":"DescribeCapacityReservationOutput",
        "resultWrapper":"DescribeCapacityReservationResult"
      },
      "errors":[
        {"shape":"LoadBalancerNotFoundException"}
      ],
      "documentation":"<p>Describes the capacity reservation status for the specified load balancer.</p>"
    },
    "DescribeListenerAttributes":{
      "name":"DescribeListenerAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeListenerAttributesInput"},
      "output":{
        "shape":"DescribeListenerAttributesOutput",
        "resultWrapper":"DescribeListenerAttributesResult"
      },
      "errors":[
        {"shape":"ListenerNotFoundException"}
      ],
      "documentation":"<p>Describes the attributes for the specified listener.</p>"
    },
    "DescribeListenerCertificates":{
      "name":"DescribeListenerCertificates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeListenerCertificatesInput"},
      "output":{
        "shape":"DescribeListenerCertificatesOutput",
        "resultWrapper":"DescribeListenerCertificatesResult"
      },
      "errors":[
        {"shape":"ListenerNotFoundException"}
      ],
      "documentation":"<p>Describes the default certificate and the certificate list for the specified HTTPS or TLS listener.</p> <p>If the default certificate is also in the certificate list, it appears twice in the results (once with <code>IsDefault</code> set to true and once with <code>IsDefault</code> set to false).</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/https-listener-certificates.html\">SSL certificates</a> in the <i>Application Load Balancers Guide</i> or <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/tls-listener-certificates.html\">Server certificates</a> in the <i>Network Load Balancers Guide</i>.</p>"
    },
    "DescribeListeners":{
      "name":"DescribeListeners",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeListenersInput"},
      "output":{
        "shape":"DescribeListenersOutput",
        "resultWrapper":"DescribeListenersResult"
      },
      "errors":[
        {"shape":"ListenerNotFoundException"},
        {"shape":"LoadBalancerNotFoundException"},
        {"shape":"UnsupportedProtocolException"}
      ],
      "documentation":"<p>Describes the specified listeners or the listeners for the specified Application Load Balancer, Network Load Balancer, or Gateway Load Balancer. You must specify either a load balancer or one or more listeners.</p>"
    },
    "DescribeLoadBalancerAttributes":{
      "name":"DescribeLoadBalancerAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLoadBalancerAttributesInput"},
      "output":{
        "shape":"DescribeLoadBalancerAttributesOutput",
        "resultWrapper":"DescribeLoadBalancerAttributesResult"
      },
      "errors":[
        {"shape":"LoadBalancerNotFoundException"}
      ],
      "documentation":"<p>Describes the attributes for the specified Application Load Balancer, Network Load Balancer, or Gateway Load Balancer.</p> <p>For more information, see the following:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/application-load-balancers.html#load-balancer-attributes\">Load balancer attributes</a> in the <i>Application Load Balancers Guide</i> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/network-load-balancers.html#load-balancer-attributes\">Load balancer attributes</a> in the <i>Network Load Balancers Guide</i> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/gateway/gateway-load-balancers.html#load-balancer-attributes\">Load balancer attributes</a> in the <i>Gateway Load Balancers Guide</i> </p> </li> </ul>"
    },
    "DescribeLoadBalancers":{
      "name":"DescribeLoadBalancers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLoadBalancersInput"},
      "output":{
        "shape":"DescribeLoadBalancersOutput",
        "resultWrapper":"DescribeLoadBalancersResult"
      },
      "errors":[
        {"shape":"LoadBalancerNotFoundException"}
      ],
      "documentation":"<p>Describes the specified load balancers or all of your load balancers.</p>"
    },
    "DescribeRules":{
      "name":"DescribeRules",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRulesInput"},
      "output":{
        "shape":"DescribeRulesOutput",
        "resultWrapper":"DescribeRulesResult"
      },
      "errors":[
        {"shape":"ListenerNotFoundException"},
        {"shape":"RuleNotFoundException"},
        {"shape":"UnsupportedProtocolException"}
      ],
      "documentation":"<p>Describes the specified rules or the rules for the specified listener. You must specify either a listener or one or more rules.</p>"
    },
    "DescribeSSLPolicies":{
      "name":"DescribeSSLPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSSLPoliciesInput"},
      "output":{
        "shape":"DescribeSSLPoliciesOutput",
        "resultWrapper":"DescribeSSLPoliciesResult"
      },
      "errors":[
        {"shape":"SSLPolicyNotFoundException"}
      ],
      "documentation":"<p>Describes the specified policies or all policies used for SSL negotiation.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/describe-ssl-policies.html\">Security policies</a> in the <i>Application Load Balancers Guide</i> and <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/describe-ssl-policies.html\">Security policies</a> in the <i>Network Load Balancers Guide</i>.</p>"
    },
    "DescribeTags":{
      "name":"DescribeTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTagsInput"},
      "output":{
        "shape":"DescribeTagsOutput",
        "resultWrapper":"DescribeTagsResult"
      },
      "errors":[
        {"shape":"LoadBalancerNotFoundException"},
        {"shape":"TargetGroupNotFoundException"},
        {"shape":"ListenerNotFoundException"},
        {"shape":"RuleNotFoundException"},
        {"shape":"TrustStoreNotFoundException"}
      ],
      "documentation":"<p>Describes the tags for the specified Elastic Load Balancing resources. You can describe the tags for one or more Application Load Balancers, Network Load Balancers, Gateway Load Balancers, target groups, listeners, or rules.</p>"
    },
    "DescribeTargetGroupAttributes":{
      "name":"DescribeTargetGroupAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTargetGroupAttributesInput"},
      "output":{
        "shape":"DescribeTargetGroupAttributesOutput",
        "resultWrapper":"DescribeTargetGroupAttributesResult"
      },
      "errors":[
        {"shape":"TargetGroupNotFoundException"}
      ],
      "documentation":"<p>Describes the attributes for the specified target group.</p> <p>For more information, see the following:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-target-groups.html#target-group-attributes\">Target group attributes</a> in the <i>Application Load Balancers Guide</i> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-target-groups.html#target-group-attributes\">Target group attributes</a> in the <i>Network Load Balancers Guide</i> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/gateway/target-groups.html#target-group-attributes\">Target group attributes</a> in the <i>Gateway Load Balancers Guide</i> </p> </li> </ul>"
    },
    "DescribeTargetGroups":{
      "name":"DescribeTargetGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTargetGroupsInput"},
      "output":{
        "shape":"DescribeTargetGroupsOutput",
        "resultWrapper":"DescribeTargetGroupsResult"
      },
      "errors":[
        {"shape":"LoadBalancerNotFoundException"},
        {"shape":"TargetGroupNotFoundException"}
      ],
      "documentation":"<p>Describes the specified target groups or all of your target groups. By default, all target groups are described. Alternatively, you can specify one of the following to filter the results: the ARN of the load balancer, the names of one or more target groups, or the ARNs of one or more target groups.</p>"
    },
    "DescribeTargetHealth":{
      "name":"DescribeTargetHealth",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTargetHealthInput"},
      "output":{
        "shape":"DescribeTargetHealthOutput",
        "resultWrapper":"DescribeTargetHealthResult"
      },
      "errors":[
        {"shape":"InvalidTargetException"},
        {"shape":"TargetGroupNotFoundException"},
        {"shape":"HealthUnavailableException"}
      ],
      "documentation":"<p>Describes the health of the specified targets or all of your targets.</p>"
    },
    "DescribeTrustStoreAssociations":{
      "name":"DescribeTrustStoreAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTrustStoreAssociationsInput"},
      "output":{
        "shape":"DescribeTrustStoreAssociationsOutput",
        "resultWrapper":"DescribeTrustStoreAssociationsResult"
      },
      "errors":[
        {"shape":"TrustStoreNotFoundException"}
      ],
      "documentation":"<p>Describes all resources associated with the specified trust store.</p>"
    },
    "DescribeTrustStoreRevocations":{
      "name":"DescribeTrustStoreRevocations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTrustStoreRevocationsInput"},
      "output":{
        "shape":"DescribeTrustStoreRevocationsOutput",
        "resultWrapper":"DescribeTrustStoreRevocationsResult"
      },
      "errors":[
        {"shape":"TrustStoreNotFoundException"},
        {"shape":"RevocationIdNotFoundException"}
      ],
      "documentation":"<p>Describes the revocation files in use by the specified trust store or revocation files.</p>"
    },
    "DescribeTrustStores":{
      "name":"DescribeTrustStores",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTrustStoresInput"},
      "output":{
        "shape":"DescribeTrustStoresOutput",
        "resultWrapper":"DescribeTrustStoresResult"
      },
      "errors":[
        {"shape":"TrustStoreNotFoundException"}
      ],
      "documentation":"<p>Describes all trust stores for the specified account.</p>"
    },
    "GetResourcePolicy":{
      "name":"GetResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetResourcePolicyInput"},
      "output":{
        "shape":"GetResourcePolicyOutput",
        "resultWrapper":"GetResourcePolicyResult"
      },
      "errors":[
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves the resource policy for a specified resource.</p>"
    },
    "GetTrustStoreCaCertificatesBundle":{
      "name":"GetTrustStoreCaCertificatesBundle",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTrustStoreCaCertificatesBundleInput"},
      "output":{
        "shape":"GetTrustStoreCaCertificatesBundleOutput",
        "resultWrapper":"GetTrustStoreCaCertificatesBundleResult"
      },
      "errors":[
        {"shape":"TrustStoreNotFoundException"}
      ],
      "documentation":"<p>Retrieves the ca certificate bundle.</p> <p>This action returns a pre-signed S3 URI which is active for ten minutes.</p>"
    },
    "GetTrustStoreRevocationContent":{
      "name":"GetTrustStoreRevocationContent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTrustStoreRevocationContentInput"},
      "output":{
        "shape":"GetTrustStoreRevocationContentOutput",
        "resultWrapper":"GetTrustStoreRevocationContentResult"
      },
      "errors":[
        {"shape":"TrustStoreNotFoundException"},
        {"shape":"RevocationIdNotFoundException"}
      ],
      "documentation":"<p>Retrieves the specified revocation file.</p> <p>This action returns a pre-signed S3 URI which is active for ten minutes.</p>"
    },
    "ModifyCapacityReservation":{
      "name":"ModifyCapacityReservation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyCapacityReservationInput"},
      "output":{
        "shape":"ModifyCapacityReservationOutput",
        "resultWrapper":"ModifyCapacityReservationResult"
      },
      "errors":[
        {"shape":"LoadBalancerNotFoundException"},
        {"shape":"InvalidConfigurationRequestException"},
        {"shape":"CapacityUnitsLimitExceededException"},
        {"shape":"CapacityReservationPendingException"},
        {"shape":"InsufficientCapacityException"},
        {"shape":"CapacityDecreaseRequestsLimitExceededException"},
        {"shape":"PriorRequestNotCompleteException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Modifies the capacity reservation of the specified load balancer.</p> <p>When modifying capacity reservation, you must include at least one <code>MinimumLoadBalancerCapacity</code> or <code>ResetCapacityReservation</code>.</p>"
    },
    "ModifyIpPools":{
      "name":"ModifyIpPools",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyIpPoolsInput"},
      "output":{
        "shape":"ModifyIpPoolsOutput",
        "resultWrapper":"ModifyIpPoolsResult"
      },
      "errors":[
        {"shape":"LoadBalancerNotFoundException"}
      ],
      "documentation":"<p>[Application Load Balancers] Modify the IP pool associated to a load balancer.</p>"
    },
    "ModifyListener":{
      "name":"ModifyListener",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyListenerInput"},
      "output":{
        "shape":"ModifyListenerOutput",
        "resultWrapper":"ModifyListenerResult"
      },
      "errors":[
        {"shape":"DuplicateListenerException"},
        {"shape":"TooManyListenersException"},
        {"shape":"TooManyCertificatesException"},
        {"shape":"ListenerNotFoundException"},
        {"shape":"TargetGroupNotFoundException"},
        {"shape":"TargetGroupAssociationLimitException"},
        {"shape":"IncompatibleProtocolsException"},
        {"shape":"SSLPolicyNotFoundException"},
        {"shape":"CertificateNotFoundException"},
        {"shape":"InvalidConfigurationRequestException"},
        {"shape":"UnsupportedProtocolException"},
        {"shape":"TooManyRegistrationsForTargetIdException"},
        {"shape":"TooManyTargetsException"},
        {"shape":"TooManyActionsException"},
        {"shape":"InvalidLoadBalancerActionException"},
        {"shape":"TooManyUniqueTargetGroupsPerLoadBalancerException"},
        {"shape":"ALPNPolicyNotSupportedException"},
        {"shape":"TrustStoreNotFoundException"},
        {"shape":"TrustStoreNotReadyException"}
      ],
      "documentation":"<p>Replaces the specified properties of the specified listener. Any properties that you do not specify remain unchanged.</p> <p>Changing the protocol from HTTPS to HTTP, or from TLS to TCP, removes the security policy and default certificate properties. If you change the protocol from HTTP to HTTPS, or from TCP to TLS, you must add the security policy and default certificate properties.</p> <p>To add an item to a list, remove an item from a list, or update an item in a list, you must provide the entire list. For example, to add an action, specify a list with the current actions plus the new action.</p>"
    },
    "ModifyListenerAttributes":{
      "name":"ModifyListenerAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyListenerAttributesInput"},
      "output":{
        "shape":"ModifyListenerAttributesOutput",
        "resultWrapper":"ModifyListenerAttributesResult"
      },
      "errors":[
        {"shape":"ListenerNotFoundException"},
        {"shape":"InvalidConfigurationRequestException"}
      ],
      "documentation":"<p>Modifies the specified attributes of the specified listener.</p>"
    },
    "ModifyLoadBalancerAttributes":{
      "name":"ModifyLoadBalancerAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyLoadBalancerAttributesInput"},
      "output":{
        "shape":"ModifyLoadBalancerAttributesOutput",
        "resultWrapper":"ModifyLoadBalancerAttributesResult"
      },
      "errors":[
        {"shape":"LoadBalancerNotFoundException"},
        {"shape":"InvalidConfigurationRequestException"}
      ],
      "documentation":"<p>Modifies the specified attributes of the specified Application Load Balancer, Network Load Balancer, or Gateway Load Balancer.</p> <p>If any of the specified attributes can't be modified as requested, the call fails. Any existing attributes that you do not modify retain their current values.</p>"
    },
    "ModifyRule":{
      "name":"ModifyRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyRuleInput"},
      "output":{
        "shape":"ModifyRuleOutput",
        "resultWrapper":"ModifyRuleResult"
      },
      "errors":[
        {"shape":"TargetGroupAssociationLimitException"},
        {"shape":"IncompatibleProtocolsException"},
        {"shape":"RuleNotFoundException"},
        {"shape":"OperationNotPermittedException"},
        {"shape":"TooManyRegistrationsForTargetIdException"},
        {"shape":"TooManyTargetsException"},
        {"shape":"TargetGroupNotFoundException"},
        {"shape":"UnsupportedProtocolException"},
        {"shape":"TooManyActionsException"},
        {"shape":"InvalidLoadBalancerActionException"},
        {"shape":"TooManyUniqueTargetGroupsPerLoadBalancerException"}
      ],
      "documentation":"<p>Replaces the specified properties of the specified rule. Any properties that you do not specify are unchanged.</p> <p>To add an item to a list, remove an item from a list, or update an item in a list, you must provide the entire list. For example, to add an action, specify a list with the current actions plus the new action.</p>"
    },
    "ModifyTargetGroup":{
      "name":"ModifyTargetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyTargetGroupInput"},
      "output":{
        "shape":"ModifyTargetGroupOutput",
        "resultWrapper":"ModifyTargetGroupResult"
      },
      "errors":[
        {"shape":"TargetGroupNotFoundException"},
        {"shape":"InvalidConfigurationRequestException"}
      ],
      "documentation":"<p>Modifies the health checks used when evaluating the health state of the targets in the specified target group.</p>"
    },
    "ModifyTargetGroupAttributes":{
      "name":"ModifyTargetGroupAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyTargetGroupAttributesInput"},
      "output":{
        "shape":"ModifyTargetGroupAttributesOutput",
        "resultWrapper":"ModifyTargetGroupAttributesResult"
      },
      "errors":[
        {"shape":"TargetGroupNotFoundException"},
        {"shape":"InvalidConfigurationRequestException"}
      ],
      "documentation":"<p>Modifies the specified attributes of the specified target group.</p>"
    },
    "ModifyTrustStore":{
      "name":"ModifyTrustStore",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyTrustStoreInput"},
      "output":{
        "shape":"ModifyTrustStoreOutput",
        "resultWrapper":"ModifyTrustStoreResult"
      },
      "errors":[
        {"shape":"TrustStoreNotFoundException"},
        {"shape":"InvalidCaCertificatesBundleException"},
        {"shape":"CaCertificatesBundleNotFoundException"}
      ],
      "documentation":"<p>Update the ca certificate bundle for the specified trust store.</p>"
    },
    "RegisterTargets":{
      "name":"RegisterTargets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterTargetsInput"},
      "output":{
        "shape":"RegisterTargetsOutput",
        "resultWrapper":"RegisterTargetsResult"
      },
      "errors":[
        {"shape":"TargetGroupNotFoundException"},
        {"shape":"TooManyTargetsException"},
        {"shape":"InvalidTargetException"},
        {"shape":"TooManyRegistrationsForTargetIdException"}
      ],
      "documentation":"<p>Registers the specified targets with the specified target group.</p> <p>If the target is an EC2 instance, it must be in the <code>running</code> state when you register it.</p> <p>By default, the load balancer routes requests to registered targets using the protocol and port for the target group. Alternatively, you can override the port for a target when you register it. You can register each EC2 instance or IP address with the same target group multiple times using different ports.</p> <p>For more information, see the following:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/target-group-register-targets.html\">Register targets for your Application Load Balancer</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/target-group-register-targets.html\">Register targets for your Network Load Balancer</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/gateway/target-group-register-targets.html\">Register targets for your Gateway Load Balancer</a> </p> </li> </ul>"
    },
    "RemoveListenerCertificates":{
      "name":"RemoveListenerCertificates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveListenerCertificatesInput"},
      "output":{
        "shape":"RemoveListenerCertificatesOutput",
        "resultWrapper":"RemoveListenerCertificatesResult"
      },
      "errors":[
        {"shape":"ListenerNotFoundException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Removes the specified certificate from the certificate list for the specified HTTPS or TLS listener.</p>"
    },
    "RemoveTags":{
      "name":"RemoveTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveTagsInput"},
      "output":{
        "shape":"RemoveTagsOutput",
        "resultWrapper":"RemoveTagsResult"
      },
      "errors":[
        {"shape":"LoadBalancerNotFoundException"},
        {"shape":"TargetGroupNotFoundException"},
        {"shape":"ListenerNotFoundException"},
        {"shape":"RuleNotFoundException"},
        {"shape":"TooManyTagsException"},
        {"shape":"TrustStoreNotFoundException"}
      ],
      "documentation":"<p>Removes the specified tags from the specified Elastic Load Balancing resources. You can remove the tags for one or more Application Load Balancers, Network Load Balancers, Gateway Load Balancers, target groups, listeners, or rules.</p>"
    },
    "RemoveTrustStoreRevocations":{
      "name":"RemoveTrustStoreRevocations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveTrustStoreRevocationsInput"},
      "output":{
        "shape":"RemoveTrustStoreRevocationsOutput",
        "resultWrapper":"RemoveTrustStoreRevocationsResult"
      },
      "errors":[
        {"shape":"TrustStoreNotFoundException"},
        {"shape":"RevocationIdNotFoundException"}
      ],
      "documentation":"<p>Removes the specified revocation file from the specified trust store.</p>"
    },
    "SetIpAddressType":{
      "name":"SetIpAddressType",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetIpAddressTypeInput"},
      "output":{
        "shape":"SetIpAddressTypeOutput",
        "resultWrapper":"SetIpAddressTypeResult"
      },
      "errors":[
        {"shape":"LoadBalancerNotFoundException"},
        {"shape":"InvalidConfigurationRequestException"},
        {"shape":"InvalidSubnetException"}
      ],
      "documentation":"<p>Sets the type of IP addresses used by the subnets of the specified load balancer.</p>"
    },
    "SetRulePriorities":{
      "name":"SetRulePriorities",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetRulePrioritiesInput"},
      "output":{
        "shape":"SetRulePrioritiesOutput",
        "resultWrapper":"SetRulePrioritiesResult"
      },
      "errors":[
        {"shape":"RuleNotFoundException"},
        {"shape":"PriorityInUseException"},
        {"shape":"OperationNotPermittedException"}
      ],
      "documentation":"<p>Sets the priorities of the specified rules.</p> <p>You can reorder the rules as long as there are no priority conflicts in the new order. Any existing rules that you do not specify retain their current priority.</p>"
    },
    "SetSecurityGroups":{
      "name":"SetSecurityGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetSecurityGroupsInput"},
      "output":{
        "shape":"SetSecurityGroupsOutput",
        "resultWrapper":"SetSecurityGroupsResult"
      },
      "errors":[
        {"shape":"LoadBalancerNotFoundException"},
        {"shape":"InvalidConfigurationRequestException"},
        {"shape":"InvalidSecurityGroupException"}
      ],
      "documentation":"<p>Associates the specified security groups with the specified Application Load Balancer or Network Load Balancer. The specified security groups override the previously associated security groups.</p> <p>You can't perform this operation on a Network Load Balancer unless you specified a security group for the load balancer when you created it.</p> <p>You can't associate a security group with a Gateway Load Balancer.</p>"
    },
    "SetSubnets":{
      "name":"SetSubnets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetSubnetsInput"},
      "output":{
        "shape":"SetSubnetsOutput",
        "resultWrapper":"SetSubnetsResult"
      },
      "errors":[
        {"shape":"LoadBalancerNotFoundException"},
        {"shape":"InvalidConfigurationRequestException"},
        {"shape":"SubnetNotFoundException"},
        {"shape":"InvalidSubnetException"},
        {"shape":"AllocationIdNotFoundException"},
        {"shape":"AvailabilityZoneNotSupportedException"},
        {"shape":"CapacityReservationPendingException"}
      ],
      "documentation":"<p>Enables the Availability Zones for the specified public subnets for the specified Application Load Balancer, Network Load Balancer or Gateway Load Balancer. The specified subnets replace the previously enabled subnets.</p> <p>When you specify subnets for a Network Load Balancer, or Gateway Load Balancer you must include all subnets that were enabled previously, with their existing configurations, plus any additional subnets.</p>"
    }
  },
  "shapes":{
    "ALPNPolicyNotSupportedException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The specified ALPN policy is not supported.</p>",
      "error":{
        "code":"ALPNPolicyNotFound",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "Action":{
      "type":"structure",
      "required":["Type"],
      "members":{
        "Type":{
          "shape":"ActionTypeEnum",
          "documentation":"<p>The type of action.</p>"
        },
        "TargetGroupArn":{
          "shape":"TargetGroupArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the target group. Specify only when <code>Type</code> is <code>forward</code> and you want to route to a single target group. To route to one or more target groups, use <code>ForwardConfig</code> instead.</p>"
        },
        "AuthenticateOidcConfig":{
          "shape":"AuthenticateOidcActionConfig",
          "documentation":"<p>[HTTPS listeners] Information about an identity provider that is compliant with OpenID Connect (OIDC). Specify only when <code>Type</code> is <code>authenticate-oidc</code>.</p>"
        },
        "AuthenticateCognitoConfig":{
          "shape":"AuthenticateCognitoActionConfig",
          "documentation":"<p>[HTTPS listeners] Information for using Amazon Cognito to authenticate users. Specify only when <code>Type</code> is <code>authenticate-cognito</code>.</p>"
        },
        "Order":{
          "shape":"ActionOrder",
          "documentation":"<p>The order for the action. This value is required for rules with multiple actions. The action with the lowest value for order is performed first.</p>"
        },
        "RedirectConfig":{
          "shape":"RedirectActionConfig",
          "documentation":"<p>[Application Load Balancer] Information for creating a redirect action. Specify only when <code>Type</code> is <code>redirect</code>.</p>"
        },
        "FixedResponseConfig":{
          "shape":"FixedResponseActionConfig",
          "documentation":"<p>[Application Load Balancer] Information for creating an action that returns a custom HTTP response. Specify only when <code>Type</code> is <code>fixed-response</code>.</p>"
        },
        "ForwardConfig":{
          "shape":"ForwardActionConfig",
          "documentation":"<p>Information for creating an action that distributes requests among one or more target groups. For Network Load Balancers, you can specify a single target group. Specify only when <code>Type</code> is <code>forward</code>. If you specify both <code>ForwardConfig</code> and <code>TargetGroupArn</code>, you can specify only one target group using <code>ForwardConfig</code> and it must be the same target group specified in <code>TargetGroupArn</code>.</p>"
        }
      },
      "documentation":"<p>Information about an action.</p> <p>Each rule must include exactly one of the following types of actions: <code>forward</code>, <code>fixed-response</code>, or <code>redirect</code>, and it must be the last action to be performed.</p>"
    },
    "ActionOrder":{
      "type":"integer",
      "max":50000,
      "min":1
    },
    "ActionTypeEnum":{
      "type":"string",
      "enum":[
        "forward",
        "authenticate-oidc",
        "authenticate-cognito",
        "redirect",
        "fixed-response"
      ]
    },
    "Actions":{
      "type":"list",
      "member":{"shape":"Action"}
    },
    "AddListenerCertificatesInput":{
      "type":"structure",
      "required":[
        "ListenerArn",
        "Certificates"
      ],
      "members":{
        "ListenerArn":{
          "shape":"ListenerArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the listener.</p>"
        },
        "Certificates":{
          "shape":"CertificateList",
          "documentation":"<p>The certificate to add. You can specify one certificate per call. Set <code>CertificateArn</code> to the certificate ARN but do not set <code>IsDefault</code>.</p>"
        }
      }
    },
    "AddListenerCertificatesOutput":{
      "type":"structure",
      "members":{
        "Certificates":{
          "shape":"CertificateList",
          "documentation":"<p>Information about the certificates in the certificate list.</p>"
        }
      }
    },
    "AddTagsInput":{
      "type":"structure",
      "required":[
        "ResourceArns",
        "Tags"
      ],
      "members":{
        "ResourceArns":{
          "shape":"ResourceArns",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The tags.</p>"
        }
      }
    },
    "AddTagsOutput":{
      "type":"structure",
      "members":{}
    },
    "AddTrustStoreRevocationsInput":{
      "type":"structure",
      "required":["TrustStoreArn"],
      "members":{
        "TrustStoreArn":{
          "shape":"TrustStoreArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the trust store.</p>"
        },
        "RevocationContents":{
          "shape":"RevocationContents",
          "documentation":"<p>The revocation file to add.</p>"
        }
      }
    },
    "AddTrustStoreRevocationsOutput":{
      "type":"structure",
      "members":{
        "TrustStoreRevocations":{
          "shape":"TrustStoreRevocations",
          "documentation":"<p>Information about the revocation file added to the trust store.</p>"
        }
      }
    },
    "AdministrativeOverride":{
      "type":"structure",
      "members":{
        "State":{
          "shape":"TargetAdministrativeOverrideStateEnum",
          "documentation":"<p>The state of the override.</p>"
        },
        "Reason":{
          "shape":"TargetAdministrativeOverrideReasonEnum",
          "documentation":"<p>The reason code for the state.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>A description of the override state that provides additional details.</p>"
        }
      },
      "documentation":"<p>Information about the override status applied to a target.</p>"
    },
    "AdvertiseTrustStoreCaNamesEnum":{
      "type":"string",
      "enum":[
        "on",
        "off"
      ]
    },
    "AllocationId":{"type":"string"},
    "AllocationIdNotFoundException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The specified allocation ID does not exist.</p>",
      "error":{
        "code":"AllocationIdNotFound",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "AlpnPolicyName":{
      "type":"list",
      "member":{"shape":"AlpnPolicyValue"}
    },
    "AlpnPolicyValue":{"type":"string"},
    "AnomalyDetection":{
      "type":"structure",
      "members":{
        "Result":{
          "shape":"AnomalyResultEnum",
          "documentation":"<p>The latest anomaly detection result.</p>"
        },
        "MitigationInEffect":{
          "shape":"MitigationInEffectEnum",
          "documentation":"<p>Indicates whether anomaly mitigation is in progress.</p>"
        }
      },
      "documentation":"<p>Information about anomaly detection and mitigation.</p>"
    },
    "AnomalyResultEnum":{
      "type":"string",
      "enum":[
        "anomalous",
        "normal"
      ]
    },
    "AuthenticateCognitoActionAuthenticationRequestExtraParams":{
      "type":"map",
      "key":{"shape":"AuthenticateCognitoActionAuthenticationRequestParamName"},
      "value":{"shape":"AuthenticateCognitoActionAuthenticationRequestParamValue"}
    },
    "AuthenticateCognitoActionAuthenticationRequestParamName":{"type":"string"},
    "AuthenticateCognitoActionAuthenticationRequestParamValue":{"type":"string"},
    "AuthenticateCognitoActionConditionalBehaviorEnum":{
      "type":"string",
      "enum":[
        "deny",
        "allow",
        "authenticate"
      ]
    },
    "AuthenticateCognitoActionConfig":{
      "type":"structure",
      "required":[
        "UserPoolArn",
        "UserPoolClientId",
        "UserPoolDomain"
      ],
      "members":{
        "UserPoolArn":{
          "shape":"AuthenticateCognitoActionUserPoolArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon Cognito user pool.</p>"
        },
        "UserPoolClientId":{
          "shape":"AuthenticateCognitoActionUserPoolClientId",
          "documentation":"<p>The ID of the Amazon Cognito user pool client.</p>"
        },
        "UserPoolDomain":{
          "shape":"AuthenticateCognitoActionUserPoolDomain",
          "documentation":"<p>The domain prefix or fully-qualified domain name of the Amazon Cognito user pool.</p>"
        },
        "SessionCookieName":{
          "shape":"AuthenticateCognitoActionSessionCookieName",
          "documentation":"<p>The name of the cookie used to maintain session information. The default is AWSELBAuthSessionCookie.</p>"
        },
        "Scope":{
          "shape":"AuthenticateCognitoActionScope",
          "documentation":"<p>The set of user claims to be requested from the IdP. The default is <code>openid</code>.</p> <p>To verify which scope values your IdP supports and how to separate multiple values, see the documentation for your IdP.</p>"
        },
        "SessionTimeout":{
          "shape":"AuthenticateCognitoActionSessionTimeout",
          "documentation":"<p>The maximum duration of the authentication session, in seconds. The default is 604800 seconds (7 days).</p>"
        },
        "AuthenticationRequestExtraParams":{
          "shape":"AuthenticateCognitoActionAuthenticationRequestExtraParams",
          "documentation":"<p>The query parameters (up to 10) to include in the redirect request to the authorization endpoint.</p>"
        },
        "OnUnauthenticatedRequest":{
          "shape":"AuthenticateCognitoActionConditionalBehaviorEnum",
          "documentation":"<p>The behavior if the user is not authenticated. The following are possible values:</p> <ul> <li> <p>deny<code/> - Return an HTTP 401 Unauthorized error.</p> </li> <li> <p>allow<code/> - Allow the request to be forwarded to the target.</p> </li> <li> <p>authenticate<code/> - Redirect the request to the IdP authorization endpoint. This is the default value.</p> </li> </ul>"
        }
      },
      "documentation":"<p>Request parameters to use when integrating with Amazon Cognito to authenticate users.</p>"
    },
    "AuthenticateCognitoActionScope":{"type":"string"},
    "AuthenticateCognitoActionSessionCookieName":{"type":"string"},
    "AuthenticateCognitoActionSessionTimeout":{"type":"long"},
    "AuthenticateCognitoActionUserPoolArn":{"type":"string"},
    "AuthenticateCognitoActionUserPoolClientId":{"type":"string"},
    "AuthenticateCognitoActionUserPoolDomain":{"type":"string"},
    "AuthenticateOidcActionAuthenticationRequestExtraParams":{
      "type":"map",
      "key":{"shape":"AuthenticateOidcActionAuthenticationRequestParamName"},
      "value":{"shape":"AuthenticateOidcActionAuthenticationRequestParamValue"}
    },
    "AuthenticateOidcActionAuthenticationRequestParamName":{"type":"string"},
    "AuthenticateOidcActionAuthenticationRequestParamValue":{"type":"string"},
    "AuthenticateOidcActionAuthorizationEndpoint":{"type":"string"},
    "AuthenticateOidcActionClientId":{"type":"string"},
    "AuthenticateOidcActionClientSecret":{"type":"string"},
    "AuthenticateOidcActionConditionalBehaviorEnum":{
      "type":"string",
      "enum":[
        "deny",
        "allow",
        "authenticate"
      ]
    },
    "AuthenticateOidcActionConfig":{
      "type":"structure",
      "required":[
        "Issuer",
        "AuthorizationEndpoint",
        "TokenEndpoint",
        "UserInfoEndpoint",
        "ClientId"
      ],
      "members":{
        "Issuer":{
          "shape":"AuthenticateOidcActionIssuer",
          "documentation":"<p>The OIDC issuer identifier of the IdP. This must be a full URL, including the HTTPS protocol, the domain, and the path.</p>"
        },
        "AuthorizationEndpoint":{
          "shape":"AuthenticateOidcActionAuthorizationEndpoint",
          "documentation":"<p>The authorization endpoint of the IdP. This must be a full URL, including the HTTPS protocol, the domain, and the path.</p>"
        },
        "TokenEndpoint":{
          "shape":"AuthenticateOidcActionTokenEndpoint",
          "documentation":"<p>The token endpoint of the IdP. This must be a full URL, including the HTTPS protocol, the domain, and the path.</p>"
        },
        "UserInfoEndpoint":{
          "shape":"AuthenticateOidcActionUserInfoEndpoint",
          "documentation":"<p>The user info endpoint of the IdP. This must be a full URL, including the HTTPS protocol, the domain, and the path.</p>"
        },
        "ClientId":{
          "shape":"AuthenticateOidcActionClientId",
          "documentation":"<p>The OAuth 2.0 client identifier.</p>"
        },
        "ClientSecret":{
          "shape":"AuthenticateOidcActionClientSecret",
          "documentation":"<p>The OAuth 2.0 client secret. This parameter is required if you are creating a rule. If you are modifying a rule, you can omit this parameter if you set <code>UseExistingClientSecret</code> to true.</p>"
        },
        "SessionCookieName":{
          "shape":"AuthenticateOidcActionSessionCookieName",
          "documentation":"<p>The name of the cookie used to maintain session information. The default is AWSELBAuthSessionCookie.</p>"
        },
        "Scope":{
          "shape":"AuthenticateOidcActionScope",
          "documentation":"<p>The set of user claims to be requested from the IdP. The default is <code>openid</code>.</p> <p>To verify which scope values your IdP supports and how to separate multiple values, see the documentation for your IdP.</p>"
        },
        "SessionTimeout":{
          "shape":"AuthenticateOidcActionSessionTimeout",
          "documentation":"<p>The maximum duration of the authentication session, in seconds. The default is 604800 seconds (7 days).</p>"
        },
        "AuthenticationRequestExtraParams":{
          "shape":"AuthenticateOidcActionAuthenticationRequestExtraParams",
          "documentation":"<p>The query parameters (up to 10) to include in the redirect request to the authorization endpoint.</p>"
        },
        "OnUnauthenticatedRequest":{
          "shape":"AuthenticateOidcActionConditionalBehaviorEnum",
          "documentation":"<p>The behavior if the user is not authenticated. The following are possible values:</p> <ul> <li> <p>deny<code/> - Return an HTTP 401 Unauthorized error.</p> </li> <li> <p>allow<code/> - Allow the request to be forwarded to the target.</p> </li> <li> <p>authenticate<code/> - Redirect the request to the IdP authorization endpoint. This is the default value.</p> </li> </ul>"
        },
        "UseExistingClientSecret":{
          "shape":"AuthenticateOidcActionUseExistingClientSecret",
          "documentation":"<p>Indicates whether to use the existing client secret when modifying a rule. If you are creating a rule, you can omit this parameter or set it to false.</p>"
        }
      },
      "documentation":"<p>Request parameters when using an identity provider (IdP) that is compliant with OpenID Connect (OIDC) to authenticate users.</p>"
    },
    "AuthenticateOidcActionIssuer":{"type":"string"},
    "AuthenticateOidcActionScope":{"type":"string"},
    "AuthenticateOidcActionSessionCookieName":{"type":"string"},
    "AuthenticateOidcActionSessionTimeout":{"type":"long"},
    "AuthenticateOidcActionTokenEndpoint":{"type":"string"},
    "AuthenticateOidcActionUseExistingClientSecret":{"type":"boolean"},
    "AuthenticateOidcActionUserInfoEndpoint":{"type":"string"},
    "AvailabilityZone":{
      "type":"structure",
      "members":{
        "ZoneName":{
          "shape":"ZoneName",
          "documentation":"<p>The name of the Availability Zone.</p>"
        },
        "SubnetId":{
          "shape":"SubnetId",
          "documentation":"<p>The ID of the subnet. You can specify one subnet per Availability Zone.</p>"
        },
        "OutpostId":{
          "shape":"OutpostId",
          "documentation":"<p>[Application Load Balancers on Outposts] The ID of the Outpost.</p>"
        },
        "LoadBalancerAddresses":{
          "shape":"LoadBalancerAddresses",
          "documentation":"<p>[Network Load Balancers] If you need static IP addresses for your load balancer, you can specify one Elastic IP address per Availability Zone when you create an internal-facing load balancer. For internal load balancers, you can specify a private IP address from the IPv4 range of the subnet.</p>"
        },
        "SourceNatIpv6Prefixes":{
          "shape":"SourceNatIpv6Prefixes",
          "documentation":"<p>[Network Load Balancers with UDP listeners] The IPv6 prefixes to use for source NAT. For each subnet, specify an IPv6 prefix (/80 netmask) from the subnet CIDR block or <code>auto_assigned</code> to use an IPv6 prefix selected at random from the subnet CIDR block.</p>"
        }
      },
      "documentation":"<p>Information about an Availability Zone.</p>"
    },
    "AvailabilityZoneNotSupportedException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The specified Availability Zone is not supported.</p>",
      "error":{
        "code":"AvailabilityZoneNotSupported",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "AvailabilityZones":{
      "type":"list",
      "member":{"shape":"AvailabilityZone"}
    },
    "CaCertificatesBundleNotFoundException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The specified ca certificate bundle does not exist.</p>",
      "error":{
        "code":"CaCertificatesBundleNotFound",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "CanonicalHostedZoneId":{"type":"string"},
    "CapacityDecreaseRequestsLimitExceededException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>You've exceeded the daily capacity decrease limit for this reservation.</p>",
      "error":{
        "code":"CapacityDecreaseRequestLimitExceeded",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "CapacityReservationPendingException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>There is a pending capacity reservation.</p>",
      "error":{
        "code":"CapacityReservationPending",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "CapacityReservationStateEnum":{
      "type":"string",
      "enum":[
        "provisioned",
        "pending",
        "rebalancing",
        "failed"
      ]
    },
    "CapacityReservationStatus":{
      "type":"structure",
      "members":{
        "Code":{
          "shape":"CapacityReservationStateEnum",
          "documentation":"<p>The status code.</p>"
        },
        "Reason":{
          "shape":"StateReason",
          "documentation":"<p>The reason code for the status.</p>"
        }
      },
      "documentation":"<p>The status of a capacity reservation.</p>"
    },
    "CapacityUnits":{"type":"integer"},
    "CapacityUnitsDouble":{"type":"double"},
    "CapacityUnitsLimitExceededException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>You've exceeded the capacity units limit.</p>",
      "error":{
        "code":"CapacityUnitsLimitExceeded",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "Certificate":{
      "type":"structure",
      "members":{
        "CertificateArn":{
          "shape":"CertificateArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the certificate.</p>"
        },
        "IsDefault":{
          "shape":"Default",
          "documentation":"<p>Indicates whether the certificate is the default certificate. Do not set this value when specifying a certificate as an input. This value is not included in the output when describing a listener, but is included when describing listener certificates.</p>"
        }
      },
      "documentation":"<p>Information about an SSL server certificate.</p>"
    },
    "CertificateArn":{"type":"string"},
    "CertificateList":{
      "type":"list",
      "member":{"shape":"Certificate"}
    },
    "CertificateNotFoundException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The specified certificate does not exist.</p>",
      "error":{
        "code":"CertificateNotFound",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "Cipher":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"CipherName",
          "documentation":"<p>The name of the cipher.</p>"
        },
        "Priority":{
          "shape":"CipherPriority",
          "documentation":"<p>The priority of the cipher.</p>"
        }
      },
      "documentation":"<p>Information about a cipher used in a policy.</p>"
    },
    "CipherName":{"type":"string"},
    "CipherPriority":{"type":"integer"},
    "Ciphers":{
      "type":"list",
      "member":{"shape":"Cipher"}
    },
    "ConditionFieldName":{
      "type":"string",
      "max":64
    },
    "CreateListenerInput":{
      "type":"structure",
      "required":[
        "LoadBalancerArn",
        "DefaultActions"
      ],
      "members":{
        "LoadBalancerArn":{
          "shape":"LoadBalancerArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the load balancer.</p>"
        },
        "Protocol":{
          "shape":"ProtocolEnum",
          "documentation":"<p>The protocol for connections from clients to the load balancer. For Application Load Balancers, the supported protocols are HTTP and HTTPS. For Network Load Balancers, the supported protocols are TCP, TLS, UDP, and TCP_UDP. You can’t specify the UDP or TCP_UDP protocol if dual-stack mode is enabled. You can't specify a protocol for a Gateway Load Balancer.</p>"
        },
        "Port":{
          "shape":"Port",
          "documentation":"<p>The port on which the load balancer is listening. You can't specify a port for a Gateway Load Balancer.</p>"
        },
        "SslPolicy":{
          "shape":"SslPolicyName",
          "documentation":"<p>[HTTPS and TLS listeners] The security policy that defines which protocols and ciphers are supported.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/describe-ssl-policies.html\">Security policies</a> in the <i>Application Load Balancers Guide</i> and <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/describe-ssl-policies.html\">Security policies</a> in the <i>Network Load Balancers Guide</i>.</p>"
        },
        "Certificates":{
          "shape":"CertificateList",
          "documentation":"<p>[HTTPS and TLS listeners] The default certificate for the listener. You must provide exactly one certificate. Set <code>CertificateArn</code> to the certificate ARN but do not set <code>IsDefault</code>.</p>"
        },
        "DefaultActions":{
          "shape":"Actions",
          "documentation":"<p>The actions for the default rule.</p>"
        },
        "AlpnPolicy":{
          "shape":"AlpnPolicyName",
          "documentation":"<p>[TLS listeners] The name of the Application-Layer Protocol Negotiation (ALPN) policy. You can specify one policy name. The following are the possible values:</p> <ul> <li> <p> <code>HTTP1Only</code> </p> </li> <li> <p> <code>HTTP2Only</code> </p> </li> <li> <p> <code>HTTP2Optional</code> </p> </li> <li> <p> <code>HTTP2Preferred</code> </p> </li> <li> <p> <code>None</code> </p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-listeners.html#alpn-policies\">ALPN policies</a> in the <i>Network Load Balancers Guide</i>.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The tags to assign to the listener.</p>"
        },
        "MutualAuthentication":{
          "shape":"MutualAuthenticationAttributes",
          "documentation":"<p>The mutual authentication configuration information.</p>"
        }
      }
    },
    "CreateListenerOutput":{
      "type":"structure",
      "members":{
        "Listeners":{
          "shape":"Listeners",
          "documentation":"<p>Information about the listener.</p>"
        }
      }
    },
    "CreateLoadBalancerInput":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"LoadBalancerName",
          "documentation":"<p>The name of the load balancer.</p> <p>This name must be unique per region per account, can have a maximum of 32 characters, must contain only alphanumeric characters or hyphens, must not begin or end with a hyphen, and must not begin with \"internal-\".</p>"
        },
        "Subnets":{
          "shape":"Subnets",
          "documentation":"<p>The IDs of the subnets. You can specify only one subnet per Availability Zone. You must specify either subnets or subnet mappings, but not both. To specify an Elastic IP address, specify subnet mappings instead of subnets.</p> <p>[Application Load Balancers] You must specify subnets from at least two Availability Zones.</p> <p>[Application Load Balancers on Outposts] You must specify one Outpost subnet.</p> <p>[Application Load Balancers on Local Zones] You can specify subnets from one or more Local Zones.</p> <p>[Network Load Balancers and Gateway Load Balancers] You can specify subnets from one or more Availability Zones.</p>"
        },
        "SubnetMappings":{
          "shape":"SubnetMappings",
          "documentation":"<p>The IDs of the subnets. You can specify only one subnet per Availability Zone. You must specify either subnets or subnet mappings, but not both.</p> <p>[Application Load Balancers] You must specify subnets from at least two Availability Zones. You can't specify Elastic IP addresses for your subnets.</p> <p>[Application Load Balancers on Outposts] You must specify one Outpost subnet.</p> <p>[Application Load Balancers on Local Zones] You can specify subnets from one or more Local Zones.</p> <p>[Network Load Balancers] You can specify subnets from one or more Availability Zones. You can specify one Elastic IP address per subnet if you need static IP addresses for your internet-facing load balancer. For internal load balancers, you can specify one private IP address per subnet from the IPv4 range of the subnet. For internet-facing load balancer, you can specify one IPv6 address per subnet.</p> <p>[Gateway Load Balancers] You can specify subnets from one or more Availability Zones. You can't specify Elastic IP addresses for your subnets.</p>"
        },
        "SecurityGroups":{
          "shape":"SecurityGroups",
          "documentation":"<p>[Application Load Balancers and Network Load Balancers] The IDs of the security groups for the load balancer.</p>"
        },
        "Scheme":{
          "shape":"LoadBalancerSchemeEnum",
          "documentation":"<p>The nodes of an Internet-facing load balancer have public IP addresses. The DNS name of an Internet-facing load balancer is publicly resolvable to the public IP addresses of the nodes. Therefore, Internet-facing load balancers can route requests from clients over the internet.</p> <p>The nodes of an internal load balancer have only private IP addresses. The DNS name of an internal load balancer is publicly resolvable to the private IP addresses of the nodes. Therefore, internal load balancers can route requests only from clients with access to the VPC for the load balancer.</p> <p>The default is an Internet-facing load balancer.</p> <p>You can't specify a scheme for a Gateway Load Balancer.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The tags to assign to the load balancer.</p>"
        },
        "Type":{
          "shape":"LoadBalancerTypeEnum",
          "documentation":"<p>The type of load balancer. The default is <code>application</code>.</p>"
        },
        "IpAddressType":{
          "shape":"IpAddressType",
          "documentation":"<p>The IP address type. Internal load balancers must use <code>ipv4</code>.</p> <p>[Application Load Balancers] The possible values are <code>ipv4</code> (IPv4 addresses), <code>dualstack</code> (IPv4 and IPv6 addresses), and <code>dualstack-without-public-ipv4</code> (public IPv6 addresses and private IPv4 and IPv6 addresses).</p> <p>[Network Load Balancers and Gateway Load Balancers] The possible values are <code>ipv4</code> (IPv4 addresses) and <code>dualstack</code> (IPv4 and IPv6 addresses).</p>"
        },
        "CustomerOwnedIpv4Pool":{
          "shape":"CustomerOwnedIpv4Pool",
          "documentation":"<p>[Application Load Balancers on Outposts] The ID of the customer-owned address pool (CoIP pool).</p>"
        },
        "EnablePrefixForIpv6SourceNat":{
          "shape":"EnablePrefixForIpv6SourceNatEnum",
          "documentation":"<p>[Network Load Balancers with UDP listeners] Indicates whether to use an IPv6 prefix from each subnet for source NAT. The IP address type must be <code>dualstack</code>. The default value is <code>off</code>.</p>"
        },
        "IpamPools":{
          "shape":"IpamPools",
          "documentation":"<p>[Application Load Balancers] The IPAM pools to use with the load balancer.</p>"
        }
      }
    },
    "CreateLoadBalancerOutput":{
      "type":"structure",
      "members":{
        "LoadBalancers":{
          "shape":"LoadBalancers",
          "documentation":"<p>Information about the load balancer.</p>"
        }
      }
    },
    "CreateRuleInput":{
      "type":"structure",
      "required":[
        "ListenerArn",
        "Conditions",
        "Priority",
        "Actions"
      ],
      "members":{
        "ListenerArn":{
          "shape":"ListenerArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the listener.</p>"
        },
        "Conditions":{
          "shape":"RuleConditionList",
          "documentation":"<p>The conditions.</p>"
        },
        "Priority":{
          "shape":"RulePriority",
          "documentation":"<p>The rule priority. A listener can't have multiple rules with the same priority.</p>"
        },
        "Actions":{
          "shape":"Actions",
          "documentation":"<p>The actions.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The tags to assign to the rule.</p>"
        }
      }
    },
    "CreateRuleOutput":{
      "type":"structure",
      "members":{
        "Rules":{
          "shape":"Rules",
          "documentation":"<p>Information about the rule.</p>"
        }
      }
    },
    "CreateTargetGroupInput":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"TargetGroupName",
          "documentation":"<p>The name of the target group.</p> <p>This name must be unique per region per account, can have a maximum of 32 characters, must contain only alphanumeric characters or hyphens, and must not begin or end with a hyphen.</p>"
        },
        "Protocol":{
          "shape":"ProtocolEnum",
          "documentation":"<p>The protocol to use for routing traffic to the targets. For Application Load Balancers, the supported protocols are HTTP and HTTPS. For Network Load Balancers, the supported protocols are TCP, TLS, UDP, or TCP_UDP. For Gateway Load Balancers, the supported protocol is GENEVE. A TCP_UDP listener must be associated with a TCP_UDP target group. If the target is a Lambda function, this parameter does not apply.</p>"
        },
        "ProtocolVersion":{
          "shape":"ProtocolVersion",
          "documentation":"<p>[HTTP/HTTPS protocol] The protocol version. Specify <code>GRPC</code> to send requests to targets using gRPC. Specify <code>HTTP2</code> to send requests to targets using HTTP/2. The default is <code>HTTP1</code>, which sends requests to targets using HTTP/1.1.</p>"
        },
        "Port":{
          "shape":"Port",
          "documentation":"<p>The port on which the targets receive traffic. This port is used unless you specify a port override when registering the target. If the target is a Lambda function, this parameter does not apply. If the protocol is GENEVE, the supported port is 6081.</p>"
        },
        "VpcId":{
          "shape":"VpcId",
          "documentation":"<p>The identifier of the virtual private cloud (VPC). If the target is a Lambda function, this parameter does not apply. Otherwise, this parameter is required.</p>"
        },
        "HealthCheckProtocol":{
          "shape":"ProtocolEnum",
          "documentation":"<p>The protocol the load balancer uses when performing health checks on targets. For Application Load Balancers, the default is HTTP. For Network Load Balancers and Gateway Load Balancers, the default is TCP. The TCP protocol is not supported for health checks if the protocol of the target group is HTTP or HTTPS. The GENEVE, TLS, UDP, and TCP_UDP protocols are not supported for health checks.</p>"
        },
        "HealthCheckPort":{
          "shape":"HealthCheckPort",
          "documentation":"<p>The port the load balancer uses when performing health checks on targets. If the protocol is HTTP, HTTPS, TCP, TLS, UDP, or TCP_UDP, the default is <code>traffic-port</code>, which is the port on which each target receives traffic from the load balancer. If the protocol is GENEVE, the default is port 80.</p>"
        },
        "HealthCheckEnabled":{
          "shape":"HealthCheckEnabled",
          "documentation":"<p>Indicates whether health checks are enabled. If the target type is <code>lambda</code>, health checks are disabled by default but can be enabled. If the target type is <code>instance</code>, <code>ip</code>, or <code>alb</code>, health checks are always enabled and can't be disabled.</p>"
        },
        "HealthCheckPath":{
          "shape":"Path",
          "documentation":"<p>[HTTP/HTTPS health checks] The destination for health checks on the targets.</p> <p>[HTTP1 or HTTP2 protocol version] The ping path. The default is /.</p> <p>[GRPC protocol version] The path of a custom health check method with the format /package.service/method. The default is /Amazon Web Services.ALB/healthcheck.</p>"
        },
        "HealthCheckIntervalSeconds":{
          "shape":"HealthCheckIntervalSeconds",
          "documentation":"<p>The approximate amount of time, in seconds, between health checks of an individual target. The range is 5-300. If the target group protocol is TCP, TLS, UDP, TCP_UDP, HTTP or HTTPS, the default is 30 seconds. If the target group protocol is GENEVE, the default is 10 seconds. If the target type is <code>lambda</code>, the default is 35 seconds.</p>"
        },
        "HealthCheckTimeoutSeconds":{
          "shape":"HealthCheckTimeoutSeconds",
          "documentation":"<p>The amount of time, in seconds, during which no response from a target means a failed health check. The range is 2–120 seconds. For target groups with a protocol of HTTP, the default is 6 seconds. For target groups with a protocol of TCP, TLS or HTTPS, the default is 10 seconds. For target groups with a protocol of GENEVE, the default is 5 seconds. If the target type is <code>lambda</code>, the default is 30 seconds.</p>"
        },
        "HealthyThresholdCount":{
          "shape":"HealthCheckThresholdCount",
          "documentation":"<p>The number of consecutive health check successes required before considering a target healthy. The range is 2-10. If the target group protocol is TCP, TCP_UDP, UDP, TLS, HTTP or HTTPS, the default is 5. For target groups with a protocol of GENEVE, the default is 5. If the target type is <code>lambda</code>, the default is 5.</p>"
        },
        "UnhealthyThresholdCount":{
          "shape":"HealthCheckThresholdCount",
          "documentation":"<p>The number of consecutive health check failures required before considering a target unhealthy. The range is 2-10. If the target group protocol is TCP, TCP_UDP, UDP, TLS, HTTP or HTTPS, the default is 2. For target groups with a protocol of GENEVE, the default is 2. If the target type is <code>lambda</code>, the default is 5.</p>"
        },
        "Matcher":{
          "shape":"Matcher",
          "documentation":"<p>[HTTP/HTTPS health checks] The HTTP or gRPC codes to use when checking for a successful response from a target. For target groups with a protocol of TCP, TCP_UDP, UDP or TLS the range is 200-599. For target groups with a protocol of HTTP or HTTPS, the range is 200-499. For target groups with a protocol of GENEVE, the range is 200-399.</p>"
        },
        "TargetType":{
          "shape":"TargetTypeEnum",
          "documentation":"<p>The type of target that you must specify when registering targets with this target group. You can't specify targets for a target group using more than one target type.</p> <ul> <li> <p> <code>instance</code> - Register targets by instance ID. This is the default value.</p> </li> <li> <p> <code>ip</code> - Register targets by IP address. You can specify IP addresses from the subnets of the virtual private cloud (VPC) for the target group, the RFC 1918 range (10.0.0.0/8, 172.16.0.0/12, and 192.168.0.0/16), and the RFC 6598 range (100.64.0.0/10). You can't specify publicly routable IP addresses.</p> </li> <li> <p> <code>lambda</code> - Register a single Lambda function as a target.</p> </li> <li> <p> <code>alb</code> - Register a single Application Load Balancer as a target.</p> </li> </ul>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The tags to assign to the target group.</p>"
        },
        "IpAddressType":{
          "shape":"TargetGroupIpAddressTypeEnum",
          "documentation":"<p>The IP address type. The default value is <code>ipv4</code>.</p>"
        }
      }
    },
    "CreateTargetGroupOutput":{
      "type":"structure",
      "members":{
        "TargetGroups":{
          "shape":"TargetGroups",
          "documentation":"<p>Information about the target group.</p>"
        }
      }
    },
    "CreateTrustStoreInput":{
      "type":"structure",
      "required":[
        "Name",
        "CaCertificatesBundleS3Bucket",
        "CaCertificatesBundleS3Key"
      ],
      "members":{
        "Name":{
          "shape":"TrustStoreName",
          "documentation":"<p>The name of the trust store.</p> <p>This name must be unique per region and can't be changed after creation.</p>"
        },
        "CaCertificatesBundleS3Bucket":{
          "shape":"S3Bucket",
          "documentation":"<p>The Amazon S3 bucket for the ca certificates bundle.</p>"
        },
        "CaCertificatesBundleS3Key":{
          "shape":"S3Key",
          "documentation":"<p>The Amazon S3 path for the ca certificates bundle.</p>"
        },
        "CaCertificatesBundleS3ObjectVersion":{
          "shape":"S3ObjectVersion",
          "documentation":"<p>The Amazon S3 object version for the ca certificates bundle. If undefined the current version is used.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The tags to assign to the trust store.</p>"
        }
      }
    },
    "CreateTrustStoreOutput":{
      "type":"structure",
      "members":{
        "TrustStores":{
          "shape":"TrustStores",
          "documentation":"<p>Information about the trust store created.</p>"
        }
      }
    },
    "CreatedTime":{"type":"timestamp"},
    "CustomerOwnedIpv4Pool":{
      "type":"string",
      "max":256,
      "pattern":"^(ipv4pool-coip-)[a-zA-Z0-9]+$"
    },
    "DNSName":{"type":"string"},
    "DecreaseRequestsRemaining":{"type":"integer"},
    "Default":{"type":"boolean"},
    "DeleteAssociationSameAccountException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The specified association can't be within the same account.</p>",
      "error":{
        "code":"DeleteAssociationSameAccount",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "DeleteListenerInput":{
      "type":"structure",
      "required":["ListenerArn"],
      "members":{
        "ListenerArn":{
          "shape":"ListenerArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the listener.</p>"
        }
      }
    },
    "DeleteListenerOutput":{
      "type":"structure",
      "members":{}
    },
    "DeleteLoadBalancerInput":{
      "type":"structure",
      "required":["LoadBalancerArn"],
      "members":{
        "LoadBalancerArn":{
          "shape":"LoadBalancerArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the load balancer.</p>"
        }
      }
    },
    "DeleteLoadBalancerOutput":{
      "type":"structure",
      "members":{}
    },
    "DeleteRuleInput":{
      "type":"structure",
      "required":["RuleArn"],
      "members":{
        "RuleArn":{
          "shape":"RuleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the rule.</p>"
        }
      }
    },
    "DeleteRuleOutput":{
      "type":"structure",
      "members":{}
    },
    "DeleteSharedTrustStoreAssociationInput":{
      "type":"structure",
      "required":[
        "TrustStoreArn",
        "ResourceArn"
      ],
      "members":{
        "TrustStoreArn":{
          "shape":"TrustStoreArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the trust store.</p>"
        },
        "ResourceArn":{
          "shape":"ResourceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource.</p>"
        }
      }
    },
    "DeleteSharedTrustStoreAssociationOutput":{
      "type":"structure",
      "members":{}
    },
    "DeleteTargetGroupInput":{
      "type":"structure",
      "required":["TargetGroupArn"],
      "members":{
        "TargetGroupArn":{
          "shape":"TargetGroupArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the target group.</p>"
        }
      }
    },
    "DeleteTargetGroupOutput":{
      "type":"structure",
      "members":{}
    },
    "DeleteTrustStoreInput":{
      "type":"structure",
      "required":["TrustStoreArn"],
      "members":{
        "TrustStoreArn":{
          "shape":"TrustStoreArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the trust store.</p>"
        }
      }
    },
    "DeleteTrustStoreOutput":{
      "type":"structure",
      "members":{}
    },
    "DeregisterTargetsInput":{
      "type":"structure",
      "required":[
        "TargetGroupArn",
        "Targets"
      ],
      "members":{
        "TargetGroupArn":{
          "shape":"TargetGroupArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the target group.</p>"
        },
        "Targets":{
          "shape":"TargetDescriptions",
          "documentation":"<p>The targets. If you specified a port override when you registered a target, you must specify both the target ID and the port when you deregister it.</p>"
        }
      }
    },
    "DeregisterTargetsOutput":{
      "type":"structure",
      "members":{}
    },
    "DescribeAccountLimitsInput":{
      "type":"structure",
      "members":{
        "Marker":{
          "shape":"Marker",
          "documentation":"<p>The marker for the next set of results. (You received this marker from a previous call.)</p>"
        },
        "PageSize":{
          "shape":"PageSize",
          "documentation":"<p>The maximum number of results to return with this call.</p>"
        }
      }
    },
    "DescribeAccountLimitsOutput":{
      "type":"structure",
      "members":{
        "Limits":{
          "shape":"Limits",
          "documentation":"<p>Information about the limits.</p>"
        },
        "NextMarker":{
          "shape":"Marker",
          "documentation":"<p>If there are additional results, this is the marker for the next set of results. Otherwise, this is null.</p>"
        }
      }
    },
    "DescribeCapacityReservationInput":{
      "type":"structure",
      "required":["LoadBalancerArn"],
      "members":{
        "LoadBalancerArn":{
          "shape":"LoadBalancerArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the load balancer.</p>"
        }
      }
    },
    "DescribeCapacityReservationOutput":{
      "type":"structure",
      "members":{
        "LastModifiedTime":{
          "shape":"LastModifiedTime",
          "documentation":"<p>The last time the capacity reservation was modified.</p>"
        },
        "DecreaseRequestsRemaining":{
          "shape":"DecreaseRequestsRemaining",
          "documentation":"<p>The amount of daily capacity decreases remaining.</p>"
        },
        "MinimumLoadBalancerCapacity":{
          "shape":"MinimumLoadBalancerCapacity",
          "documentation":"<p>The requested minimum capacity reservation for the load balancer</p>"
        },
        "CapacityReservationState":{
          "shape":"ZonalCapacityReservationStates",
          "documentation":"<p>The state of the capacity reservation.</p>"
        }
      }
    },
    "DescribeListenerAttributesInput":{
      "type":"structure",
      "required":["ListenerArn"],
      "members":{
        "ListenerArn":{
          "shape":"ListenerArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the listener.</p>"
        }
      }
    },
    "DescribeListenerAttributesOutput":{
      "type":"structure",
      "members":{
        "Attributes":{
          "shape":"ListenerAttributes",
          "documentation":"<p>Information about the listener attributes.</p>"
        }
      }
    },
    "DescribeListenerCertificatesInput":{
      "type":"structure",
      "required":["ListenerArn"],
      "members":{
        "ListenerArn":{
          "shape":"ListenerArn",
          "documentation":"<p>The Amazon Resource Names (ARN) of the listener.</p>"
        },
        "Marker":{
          "shape":"Marker",
          "documentation":"<p>The marker for the next set of results. (You received this marker from a previous call.)</p>"
        },
        "PageSize":{
          "shape":"PageSize",
          "documentation":"<p>The maximum number of results to return with this call.</p>"
        }
      }
    },
    "DescribeListenerCertificatesOutput":{
      "type":"structure",
      "members":{
        "Certificates":{
          "shape":"CertificateList",
          "documentation":"<p>Information about the certificates.</p>"
        },
        "NextMarker":{
          "shape":"Marker",
          "documentation":"<p>If there are additional results, this is the marker for the next set of results. Otherwise, this is null.</p>"
        }
      }
    },
    "DescribeListenersInput":{
      "type":"structure",
      "members":{
        "LoadBalancerArn":{
          "shape":"LoadBalancerArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the load balancer.</p>"
        },
        "ListenerArns":{
          "shape":"ListenerArns",
          "documentation":"<p>The Amazon Resource Names (ARN) of the listeners.</p>"
        },
        "Marker":{
          "shape":"Marker",
          "documentation":"<p>The marker for the next set of results. (You received this marker from a previous call.)</p>"
        },
        "PageSize":{
          "shape":"PageSize",
          "documentation":"<p>The maximum number of results to return with this call.</p>"
        }
      }
    },
    "DescribeListenersOutput":{
      "type":"structure",
      "members":{
        "Listeners":{
          "shape":"Listeners",
          "documentation":"<p>Information about the listeners.</p>"
        },
        "NextMarker":{
          "shape":"Marker",
          "documentation":"<p>If there are additional results, this is the marker for the next set of results. Otherwise, this is null.</p>"
        }
      }
    },
    "DescribeLoadBalancerAttributesInput":{
      "type":"structure",
      "required":["LoadBalancerArn"],
      "members":{
        "LoadBalancerArn":{
          "shape":"LoadBalancerArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the load balancer.</p>"
        }
      }
    },
    "DescribeLoadBalancerAttributesOutput":{
      "type":"structure",
      "members":{
        "Attributes":{
          "shape":"LoadBalancerAttributes",
          "documentation":"<p>Information about the load balancer attributes.</p>"
        }
      }
    },
    "DescribeLoadBalancersInput":{
      "type":"structure",
      "members":{
        "LoadBalancerArns":{
          "shape":"LoadBalancerArns",
          "documentation":"<p>The Amazon Resource Names (ARN) of the load balancers. You can specify up to 20 load balancers in a single call.</p>"
        },
        "Names":{
          "shape":"LoadBalancerNames",
          "documentation":"<p>The names of the load balancers.</p>"
        },
        "Marker":{
          "shape":"Marker",
          "documentation":"<p>The marker for the next set of results. (You received this marker from a previous call.)</p>"
        },
        "PageSize":{
          "shape":"PageSize",
          "documentation":"<p>The maximum number of results to return with this call.</p>"
        }
      }
    },
    "DescribeLoadBalancersOutput":{
      "type":"structure",
      "members":{
        "LoadBalancers":{
          "shape":"LoadBalancers",
          "documentation":"<p>Information about the load balancers.</p>"
        },
        "NextMarker":{
          "shape":"Marker",
          "documentation":"<p>If there are additional results, this is the marker for the next set of results. Otherwise, this is null.</p>"
        }
      }
    },
    "DescribeRulesInput":{
      "type":"structure",
      "members":{
        "ListenerArn":{
          "shape":"ListenerArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the listener.</p>"
        },
        "RuleArns":{
          "shape":"RuleArns",
          "documentation":"<p>The Amazon Resource Names (ARN) of the rules.</p>"
        },
        "Marker":{
          "shape":"Marker",
          "documentation":"<p>The marker for the next set of results. (You received this marker from a previous call.)</p>"
        },
        "PageSize":{
          "shape":"PageSize",
          "documentation":"<p>The maximum number of results to return with this call.</p>"
        }
      }
    },
    "DescribeRulesOutput":{
      "type":"structure",
      "members":{
        "Rules":{
          "shape":"Rules",
          "documentation":"<p>Information about the rules.</p>"
        },
        "NextMarker":{
          "shape":"Marker",
          "documentation":"<p>If there are additional results, this is the marker for the next set of results. Otherwise, this is null.</p>"
        }
      }
    },
    "DescribeSSLPoliciesInput":{
      "type":"structure",
      "members":{
        "Names":{
          "shape":"SslPolicyNames",
          "documentation":"<p>The names of the policies.</p>"
        },
        "Marker":{
          "shape":"Marker",
          "documentation":"<p>The marker for the next set of results. (You received this marker from a previous call.)</p>"
        },
        "PageSize":{
          "shape":"PageSize",
          "documentation":"<p>The maximum number of results to return with this call.</p>"
        },
        "LoadBalancerType":{
          "shape":"LoadBalancerTypeEnum",
          "documentation":"<p> The type of load balancer. The default lists the SSL policies for all load balancers.</p>"
        }
      }
    },
    "DescribeSSLPoliciesOutput":{
      "type":"structure",
      "members":{
        "SslPolicies":{
          "shape":"SslPolicies",
          "documentation":"<p>Information about the security policies.</p>"
        },
        "NextMarker":{
          "shape":"Marker",
          "documentation":"<p>If there are additional results, this is the marker for the next set of results. Otherwise, this is null.</p>"
        }
      }
    },
    "DescribeTagsInput":{
      "type":"structure",
      "required":["ResourceArns"],
      "members":{
        "ResourceArns":{
          "shape":"ResourceArns",
          "documentation":"<p>The Amazon Resource Names (ARN) of the resources. You can specify up to 20 resources in a single call.</p>"
        }
      }
    },
    "DescribeTagsOutput":{
      "type":"structure",
      "members":{
        "TagDescriptions":{
          "shape":"TagDescriptions",
          "documentation":"<p>Information about the tags.</p>"
        }
      }
    },
    "DescribeTargetGroupAttributesInput":{
      "type":"structure",
      "required":["TargetGroupArn"],
      "members":{
        "TargetGroupArn":{
          "shape":"TargetGroupArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the target group.</p>"
        }
      }
    },
    "DescribeTargetGroupAttributesOutput":{
      "type":"structure",
      "members":{
        "Attributes":{
          "shape":"TargetGroupAttributes",
          "documentation":"<p>Information about the target group attributes</p>"
        }
      }
    },
    "DescribeTargetGroupsInput":{
      "type":"structure",
      "members":{
        "LoadBalancerArn":{
          "shape":"LoadBalancerArn",
[...]
