{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-10-26",
    "endpointPrefix":"transcribe",
    "jsonVersion":"1.1",
    "protocol":"json",
    "protocols":["json"],
    "serviceFullName":"Amazon Transcribe Service",
    "serviceId":"Transcribe",
    "signatureVersion":"v4",
    "signingName":"transcribe",
    "targetPrefix":"Transcribe",
    "uid":"transcribe-2017-10-26",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "CreateCallAnalyticsCategory":{
      "name":"CreateCallAnalyticsCategory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCallAnalyticsCategoryRequest"},
      "output":{"shape":"CreateCallAnalyticsCategoryResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Creates a new Call Analytics category.</p> <p>All categories are automatically applied to your Call Analytics transcriptions. Note that in order to apply categories to your transcriptions, you must create them before submitting your transcription request, as categories cannot be applied retroactively.</p> <p>When creating a new category, you can use the <code>InputType</code> parameter to label the category as a <code>POST_CALL</code> or a <code>REAL_TIME</code> category. <code>POST_CALL</code> categories can only be applied to post-call transcriptions and <code>REAL_TIME</code> categories can only be applied to real-time transcriptions. If you do not include <code>InputType</code>, your category is created as a <code>POST_CALL</code> category by default.</p> <p>Call Analytics categories are composed of rules. For each category, you must create between 1 and 20 rules. Rules can include these parameters: , , , and .</p> <p>To update an existing category, see .</p> <p>To learn more about Call Analytics categories, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/tca-categories-batch.html\">Creating categories for post-call transcriptions</a> and <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/tca-categories-stream.html\">Creating categories for real-time transcriptions</a>.</p>"
    },
    "CreateLanguageModel":{
      "name":"CreateLanguageModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLanguageModelRequest"},
      "output":{"shape":"CreateLanguageModelResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Creates a new custom language model.</p> <p>When creating a new custom language model, you must specify:</p> <ul> <li> <p>If you want a Wideband (audio sample rates over 16,000 Hz) or Narrowband (audio sample rates under 16,000 Hz) base model</p> </li> <li> <p>The location of your training and tuning files (this must be an Amazon S3 URI)</p> </li> <li> <p>The language of your model</p> </li> <li> <p>A unique name for your model</p> </li> </ul>"
    },
    "CreateMedicalVocabulary":{
      "name":"CreateMedicalVocabulary",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateMedicalVocabularyRequest"},
      "output":{"shape":"CreateMedicalVocabularyResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Creates a new custom medical vocabulary.</p> <p>Before creating a new custom medical vocabulary, you must first upload a text file that contains your vocabulary table into an Amazon S3 bucket. Note that this differs from , where you can include a list of terms within your request using the <code>Phrases</code> flag; <code>CreateMedicalVocabulary</code> does not support the <code>Phrases</code> flag and only accepts vocabularies in table format.</p> <p>Each language has a character set that contains all allowed characters for that specific language. If you use unsupported characters, your custom vocabulary request fails. Refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/charsets.html\">Character Sets for Custom Vocabularies</a> to get the character set for your language.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/custom-vocabulary.html\">Custom vocabularies</a>.</p>"
    },
    "CreateVocabulary":{
      "name":"CreateVocabulary",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVocabularyRequest"},
      "output":{"shape":"CreateVocabularyResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Creates a new custom vocabulary.</p> <p>When creating a new custom vocabulary, you can either upload a text file that contains your new entries, phrases, and terms into an Amazon S3 bucket and include the URI in your request. Or you can include a list of terms directly in your request using the <code>Phrases</code> flag.</p> <p>Each language has a character set that contains all allowed characters for that specific language. If you use unsupported characters, your custom vocabulary request fails. Refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/charsets.html\">Character Sets for Custom Vocabularies</a> to get the character set for your language.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/custom-vocabulary.html\">Custom vocabularies</a>.</p>"
    },
    "CreateVocabularyFilter":{
      "name":"CreateVocabularyFilter",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVocabularyFilterRequest"},
      "output":{"shape":"CreateVocabularyFilterResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Creates a new custom vocabulary filter.</p> <p>You can use custom vocabulary filters to mask, delete, or flag specific words from your transcript. Custom vocabulary filters are commonly used to mask profanity in transcripts.</p> <p>Each language has a character set that contains all allowed characters for that specific language. If you use unsupported characters, your custom vocabulary filter request fails. Refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/charsets.html\">Character Sets for Custom Vocabularies</a> to get the character set for your language.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/vocabulary-filtering.html\">Vocabulary filtering</a>.</p>"
    },
    "DeleteCallAnalyticsCategory":{
      "name":"DeleteCallAnalyticsCategory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCallAnalyticsCategoryRequest"},
      "output":{"shape":"DeleteCallAnalyticsCategoryResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"BadRequestException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a Call Analytics category. To use this operation, specify the name of the category you want to delete using <code>CategoryName</code>. Category names are case sensitive.</p>"
    },
    "DeleteCallAnalyticsJob":{
      "name":"DeleteCallAnalyticsJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCallAnalyticsJobRequest"},
      "output":{"shape":"DeleteCallAnalyticsJobResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"BadRequestException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a Call Analytics job. To use this operation, specify the name of the job you want to delete using <code>CallAnalyticsJobName</code>. Job names are case sensitive.</p>"
    },
    "DeleteLanguageModel":{
      "name":"DeleteLanguageModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteLanguageModelRequest"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a custom language model. To use this operation, specify the name of the language model you want to delete using <code>ModelName</code>. custom language model names are case sensitive.</p>"
    },
    "DeleteMedicalScribeJob":{
      "name":"DeleteMedicalScribeJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteMedicalScribeJobRequest"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"BadRequestException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a Medical Scribe job. To use this operation, specify the name of the job you want to delete using <code>MedicalScribeJobName</code>. Job names are case sensitive.</p>"
    },
    "DeleteMedicalTranscriptionJob":{
      "name":"DeleteMedicalTranscriptionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteMedicalTranscriptionJobRequest"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"BadRequestException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a medical transcription job. To use this operation, specify the name of the job you want to delete using <code>MedicalTranscriptionJobName</code>. Job names are case sensitive.</p>"
    },
    "DeleteMedicalVocabulary":{
      "name":"DeleteMedicalVocabulary",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteMedicalVocabularyRequest"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"BadRequestException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a custom medical vocabulary. To use this operation, specify the name of the custom vocabulary you want to delete using <code>VocabularyName</code>. Custom vocabulary names are case sensitive.</p>"
    },
    "DeleteTranscriptionJob":{
      "name":"DeleteTranscriptionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTranscriptionJobRequest"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"BadRequestException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a transcription job. To use this operation, specify the name of the job you want to delete using <code>TranscriptionJobName</code>. Job names are case sensitive.</p>"
    },
    "DeleteVocabulary":{
      "name":"DeleteVocabulary",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVocabularyRequest"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"BadRequestException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a custom vocabulary. To use this operation, specify the name of the custom vocabulary you want to delete using <code>VocabularyName</code>. Custom vocabulary names are case sensitive.</p>"
    },
    "DeleteVocabularyFilter":{
      "name":"DeleteVocabularyFilter",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVocabularyFilterRequest"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"BadRequestException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a custom vocabulary filter. To use this operation, specify the name of the custom vocabulary filter you want to delete using <code>VocabularyFilterName</code>. Custom vocabulary filter names are case sensitive.</p>"
    },
    "DescribeLanguageModel":{
      "name":"DescribeLanguageModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLanguageModelRequest"},
      "output":{"shape":"DescribeLanguageModelResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Provides information about the specified custom language model.</p> <p>This operation also shows if the base language model that you used to create your custom language model has been updated. If Amazon Transcribe has updated the base model, you can create a new custom language model using the updated base model.</p> <p>If you tried to create a new custom language model and the request wasn't successful, you can use <code>DescribeLanguageModel</code> to help identify the reason for this failure.</p>"
    },
    "GetCallAnalyticsCategory":{
      "name":"GetCallAnalyticsCategory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCallAnalyticsCategoryRequest"},
      "output":{"shape":"GetCallAnalyticsCategoryResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Provides information about the specified Call Analytics category.</p> <p>To get a list of your Call Analytics categories, use the operation.</p>"
    },
    "GetCallAnalyticsJob":{
      "name":"GetCallAnalyticsJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCallAnalyticsJobRequest"},
      "output":{"shape":"GetCallAnalyticsJobResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Provides information about the specified Call Analytics job.</p> <p>To view the job's status, refer to <code>CallAnalyticsJobStatus</code>. If the status is <code>COMPLETED</code>, the job is finished. You can find your completed transcript at the URI specified in <code>TranscriptFileUri</code>. If the status is <code>FAILED</code>, <code>FailureReason</code> provides details on why your transcription job failed.</p> <p>If you enabled personally identifiable information (PII) redaction, the redacted transcript appears at the location specified in <code>RedactedTranscriptFileUri</code>.</p> <p>If you chose to redact the audio in your media file, you can find your redacted media file at the location specified in <code>RedactedMediaFileUri</code>.</p> <p>To get a list of your Call Analytics jobs, use the operation.</p>"
    },
    "GetMedicalScribeJob":{
      "name":"GetMedicalScribeJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMedicalScribeJobRequest"},
      "output":{"shape":"GetMedicalScribeJobResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Provides information about the specified Medical Scribe job.</p> <p>To view the status of the specified medical transcription job, check the <code>MedicalScribeJobStatus</code> field. If the status is <code>COMPLETED</code>, the job is finished. You can find the results at the location specified in <code>MedicalScribeOutput</code>. If the status is <code>FAILED</code>, <code>FailureReason</code> provides details on why your Medical Scribe job failed.</p> <p>To get a list of your Medical Scribe jobs, use the operation.</p>"
    },
    "GetMedicalTranscriptionJob":{
      "name":"GetMedicalTranscriptionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMedicalTranscriptionJobRequest"},
      "output":{"shape":"GetMedicalTranscriptionJobResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Provides information about the specified medical transcription job.</p> <p>To view the status of the specified medical transcription job, check the <code>TranscriptionJobStatus</code> field. If the status is <code>COMPLETED</code>, the job is finished. You can find the results at the location specified in <code>TranscriptFileUri</code>. If the status is <code>FAILED</code>, <code>FailureReason</code> provides details on why your transcription job failed.</p> <p>To get a list of your medical transcription jobs, use the operation.</p>"
    },
    "GetMedicalVocabulary":{
      "name":"GetMedicalVocabulary",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMedicalVocabularyRequest"},
      "output":{"shape":"GetMedicalVocabularyResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Provides information about the specified custom medical vocabulary.</p> <p>To view the status of the specified custom medical vocabulary, check the <code>VocabularyState</code> field. If the status is <code>READY</code>, your custom vocabulary is available to use. If the status is <code>FAILED</code>, <code>FailureReason</code> provides details on why your vocabulary failed.</p> <p>To get a list of your custom medical vocabularies, use the operation.</p>"
    },
    "GetTranscriptionJob":{
      "name":"GetTranscriptionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTranscriptionJobRequest"},
      "output":{"shape":"GetTranscriptionJobResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Provides information about the specified transcription job.</p> <p>To view the status of the specified transcription job, check the <code>TranscriptionJobStatus</code> field. If the status is <code>COMPLETED</code>, the job is finished. You can find the results at the location specified in <code>TranscriptFileUri</code>. If the status is <code>FAILED</code>, <code>FailureReason</code> provides details on why your transcription job failed.</p> <p>If you enabled content redaction, the redacted transcript can be found at the location specified in <code>RedactedTranscriptFileUri</code>.</p> <p>To get a list of your transcription jobs, use the operation.</p>"
    },
    "GetVocabulary":{
      "name":"GetVocabulary",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetVocabularyRequest"},
      "output":{"shape":"GetVocabularyResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Provides information about the specified custom vocabulary.</p> <p>To view the status of the specified custom vocabulary, check the <code>VocabularyState</code> field. If the status is <code>READY</code>, your custom vocabulary is available to use. If the status is <code>FAILED</code>, <code>FailureReason</code> provides details on why your custom vocabulary failed.</p> <p>To get a list of your custom vocabularies, use the operation.</p>"
    },
    "GetVocabularyFilter":{
      "name":"GetVocabularyFilter",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetVocabularyFilterRequest"},
      "output":{"shape":"GetVocabularyFilterResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Provides information about the specified custom vocabulary filter.</p> <p>To get a list of your custom vocabulary filters, use the operation.</p>"
    },
    "ListCallAnalyticsCategories":{
      "name":"ListCallAnalyticsCategories",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCallAnalyticsCategoriesRequest"},
      "output":{"shape":"ListCallAnalyticsCategoriesResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Provides a list of Call Analytics categories, including all rules that make up each category.</p> <p>To get detailed information about a specific Call Analytics category, use the operation.</p>"
    },
    "ListCallAnalyticsJobs":{
      "name":"ListCallAnalyticsJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCallAnalyticsJobsRequest"},
      "output":{"shape":"ListCallAnalyticsJobsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Provides a list of Call Analytics jobs that match the specified criteria. If no criteria are specified, all Call Analytics jobs are returned.</p> <p>To get detailed information about a specific Call Analytics job, use the operation.</p>"
    },
    "ListLanguageModels":{
      "name":"ListLanguageModels",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListLanguageModelsRequest"},
      "output":{"shape":"ListLanguageModelsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Provides a list of custom language models that match the specified criteria. If no criteria are specified, all custom language models are returned.</p> <p>To get detailed information about a specific custom language model, use the operation.</p>"
    },
    "ListMedicalScribeJobs":{
      "name":"ListMedicalScribeJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListMedicalScribeJobsRequest"},
      "output":{"shape":"ListMedicalScribeJobsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Provides a list of Medical Scribe jobs that match the specified criteria. If no criteria are specified, all Medical Scribe jobs are returned.</p> <p>To get detailed information about a specific Medical Scribe job, use the operation.</p>"
    },
    "ListMedicalTranscriptionJobs":{
      "name":"ListMedicalTranscriptionJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListMedicalTranscriptionJobsRequest"},
      "output":{"shape":"ListMedicalTranscriptionJobsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Provides a list of medical transcription jobs that match the specified criteria. If no criteria are specified, all medical transcription jobs are returned.</p> <p>To get detailed information about a specific medical transcription job, use the operation.</p>"
    },
    "ListMedicalVocabularies":{
      "name":"ListMedicalVocabularies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListMedicalVocabulariesRequest"},
      "output":{"shape":"ListMedicalVocabulariesResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Provides a list of custom medical vocabularies that match the specified criteria. If no criteria are specified, all custom medical vocabularies are returned.</p> <p>To get detailed information about a specific custom medical vocabulary, use the operation.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists all tags associated with the specified transcription job, vocabulary, model, or resource.</p> <p>To learn more about using tags with Amazon Transcribe, refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/tagging.html\">Tagging resources</a>.</p>"
    },
    "ListTranscriptionJobs":{
      "name":"ListTranscriptionJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTranscriptionJobsRequest"},
      "output":{"shape":"ListTranscriptionJobsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Provides a list of transcription jobs that match the specified criteria. If no criteria are specified, all transcription jobs are returned.</p> <p>To get detailed information about a specific transcription job, use the operation.</p>"
    },
    "ListVocabularies":{
      "name":"ListVocabularies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListVocabulariesRequest"},
      "output":{"shape":"ListVocabulariesResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Provides a list of custom vocabularies that match the specified criteria. If no criteria are specified, all custom vocabularies are returned.</p> <p>To get detailed information about a specific custom vocabulary, use the operation.</p>"
    },
    "ListVocabularyFilters":{
      "name":"ListVocabularyFilters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListVocabularyFiltersRequest"},
      "output":{"shape":"ListVocabularyFiltersResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Provides a list of custom vocabulary filters that match the specified criteria. If no criteria are specified, all custom vocabularies are returned.</p> <p>To get detailed information about a specific custom vocabulary filter, use the operation.</p>"
    },
    "StartCallAnalyticsJob":{
      "name":"StartCallAnalyticsJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartCallAnalyticsJobRequest"},
      "output":{"shape":"StartCallAnalyticsJobResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Transcribes the audio from a customer service call and applies any additional Request Parameters you choose to include in your request.</p> <p>In addition to many standard transcription features, Call Analytics provides you with call characteristics, call summarization, speaker sentiment, and optional redaction of your text transcript and your audio file. You can also apply custom categories to flag specified conditions. To learn more about these features and insights, refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/call-analytics.html\">Analyzing call center audio with Call Analytics</a>.</p> <p>If you want to apply categories to your Call Analytics job, you must create them before submitting your job request. Categories cannot be retroactively applied to a job. To create a new category, use the operation. To learn more about Call Analytics categories, see <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/tca-categories-batch.html\">Creating categories for post-call transcriptions</a> and <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/tca-categories-stream.html\">Creating categories for real-time transcriptions</a>.</p> <p>To make a <code>StartCallAnalyticsJob</code> request, you must first upload your media file into an Amazon S3 bucket; you can then specify the Amazon S3 location of the file using the <code>Media</code> parameter.</p> <p>Job queuing is available for Call Analytics jobs. If you pass a <code>DataAccessRoleArn</code> in your request and you exceed your Concurrent Job Limit, your job will automatically be added to a queue to be processed once your concurrent job count is below the limit.</p> <p>You must include the following parameters in your <code>StartCallAnalyticsJob</code> request:</p> <ul> <li> <p> <code>region</code>: The Amazon Web Services Region where you are making your request. For a list of Amazon Web Services Regions supported with Amazon Transcribe, refer to <a href=\"https://docs.aws.amazon.com/general/latest/gr/transcribe.html\">Amazon Transcribe endpoints and quotas</a>.</p> </li> <li> <p> <code>CallAnalyticsJobName</code>: A custom name that you create for your transcription job that's unique within your Amazon Web Services account.</p> </li> <li> <p> <code>Media</code> (<code>MediaFileUri</code> or <code>RedactedMediaFileUri</code>): The Amazon S3 location of your media file.</p> </li> </ul> <note> <p>With Call Analytics, you can redact the audio contained in your media file by including <code>RedactedMediaFileUri</code>, instead of <code>MediaFileUri</code>, to specify the location of your input audio. If you choose to redact your audio, you can find your redacted media at the location specified in the <code>RedactedMediaFileUri</code> field of your response.</p> </note>"
    },
    "StartMedicalScribeJob":{
      "name":"StartMedicalScribeJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartMedicalScribeJobRequest"},
      "output":{"shape":"StartMedicalScribeJobResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Transcribes patient-clinician conversations and generates clinical notes. </p> <p>Amazon Web Services HealthScribe automatically provides rich conversation transcripts, identifies speaker roles, classifies dialogues, extracts medical terms, and generates preliminary clinical notes. To learn more about these features, refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/health-scribe.html\">Amazon Web Services HealthScribe</a>.</p> <p>To make a <code>StartMedicalScribeJob</code> request, you must first upload your media file into an Amazon S3 bucket; you can then specify the Amazon S3 location of the file using the <code>Media</code> parameter.</p> <p>You must include the following parameters in your <code>StartMedicalTranscriptionJob</code> request:</p> <ul> <li> <p> <code>DataAccessRoleArn</code>: The ARN of an IAM role with the these minimum permissions: read permission on input file Amazon S3 bucket specified in <code>Media</code>, write permission on the Amazon S3 bucket specified in <code>OutputBucketName</code>, and full permissions on the KMS key specified in <code>OutputEncryptionKMSKeyId</code> (if set). The role should also allow <code>transcribe.amazonaws.com</code> to assume it. </p> </li> <li> <p> <code>Media</code> (<code>MediaFileUri</code>): The Amazon S3 location of your media file.</p> </li> <li> <p> <code>MedicalScribeJobName</code>: A custom name you create for your MedicalScribe job that is unique within your Amazon Web Services account.</p> </li> <li> <p> <code>OutputBucketName</code>: The Amazon S3 bucket where you want your output files stored.</p> </li> <li> <p> <code>Settings</code>: A <code>MedicalScribeSettings</code> object that must set exactly one of <code>ShowSpeakerLabels</code> or <code>ChannelIdentification</code> to true. If <code>ShowSpeakerLabels</code> is true, <code>MaxSpeakerLabels</code> must also be set. </p> </li> <li> <p> <code>ChannelDefinitions</code>: A <code>MedicalScribeChannelDefinitions</code> array should be set if and only if the <code>ChannelIdentification</code> value of <code>Settings</code> is set to true. </p> </li> </ul>"
    },
    "StartMedicalTranscriptionJob":{
      "name":"StartMedicalTranscriptionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartMedicalTranscriptionJobRequest"},
      "output":{"shape":"StartMedicalTranscriptionJobResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Transcribes the audio from a medical dictation or conversation and applies any additional Request Parameters you choose to include in your request.</p> <p>In addition to many standard transcription features, Amazon Transcribe Medical provides you with a robust medical vocabulary and, optionally, content identification, which adds flags to personal health information (PHI). To learn more about these features, refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/how-it-works-med.html\">How Amazon Transcribe Medical works</a>.</p> <p>To make a <code>StartMedicalTranscriptionJob</code> request, you must first upload your media file into an Amazon S3 bucket; you can then specify the Amazon S3 location of the file using the <code>Media</code> parameter.</p> <p>You must include the following parameters in your <code>StartMedicalTranscriptionJob</code> request:</p> <ul> <li> <p> <code>region</code>: The Amazon Web Services Region where you are making your request. For a list of Amazon Web Services Regions supported with Amazon Transcribe, refer to <a href=\"https://docs.aws.amazon.com/general/latest/gr/transcribe.html\">Amazon Transcribe endpoints and quotas</a>.</p> </li> <li> <p> <code>MedicalTranscriptionJobName</code>: A custom name you create for your transcription job that is unique within your Amazon Web Services account.</p> </li> <li> <p> <code>Media</code> (<code>MediaFileUri</code>): The Amazon S3 location of your media file.</p> </li> <li> <p> <code>LanguageCode</code>: This must be <code>en-US</code>.</p> </li> <li> <p> <code>OutputBucketName</code>: The Amazon S3 bucket where you want your transcript stored. If you want your output stored in a sub-folder of this bucket, you must also include <code>OutputKey</code>.</p> </li> <li> <p> <code>Specialty</code>: This must be <code>PRIMARYCARE</code>.</p> </li> <li> <p> <code>Type</code>: Choose whether your audio is a conversation or a dictation.</p> </li> </ul>"
    },
    "StartTranscriptionJob":{
      "name":"StartTranscriptionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartTranscriptionJobRequest"},
      "output":{"shape":"StartTranscriptionJobResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Transcribes the audio from a media file and applies any additional Request Parameters you choose to include in your request.</p> <p>To make a <code>StartTranscriptionJob</code> request, you must first upload your media file into an Amazon S3 bucket; you can then specify the Amazon S3 location of the file using the <code>Media</code> parameter.</p> <p>You must include the following parameters in your <code>StartTranscriptionJob</code> request:</p> <ul> <li> <p> <code>region</code>: The Amazon Web Services Region where you are making your request. For a list of Amazon Web Services Regions supported with Amazon Transcribe, refer to <a href=\"https://docs.aws.amazon.com/general/latest/gr/transcribe.html\">Amazon Transcribe endpoints and quotas</a>.</p> </li> <li> <p> <code>TranscriptionJobName</code>: A custom name you create for your transcription job that is unique within your Amazon Web Services account.</p> </li> <li> <p> <code>Media</code> (<code>MediaFileUri</code>): The Amazon S3 location of your media file.</p> </li> <li> <p>One of <code>LanguageCode</code>, <code>IdentifyLanguage</code>, or <code>IdentifyMultipleLanguages</code>: If you know the language of your media file, specify it using the <code>LanguageCode</code> parameter; you can find all valid language codes in the <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/supported-languages.html\">Supported languages</a> table. If you do not know the languages spoken in your media, use either <code>IdentifyLanguage</code> or <code>IdentifyMultipleLanguages</code> and let Amazon Transcribe identify the languages for you.</p> </li> </ul>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Adds one or more custom tags, each in the form of a key:value pair, to the specified resource.</p> <p>To learn more about using tags with Amazon Transcribe, refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/tagging.html\">Tagging resources</a>.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"},
        {"shape":"NotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Removes the specified tags from the specified Amazon Transcribe resource.</p> <p>If you include <code>UntagResource</code> in your request, you must also include <code>ResourceArn</code> and <code>TagKeys</code>.</p>"
    },
    "UpdateCallAnalyticsCategory":{
      "name":"UpdateCallAnalyticsCategory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateCallAnalyticsCategoryRequest"},
      "output":{"shape":"UpdateCallAnalyticsCategoryResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"NotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Updates the specified Call Analytics category with new rules. Note that the <code>UpdateCallAnalyticsCategory</code> operation overwrites all existing rules contained in the specified category. You cannot append additional rules onto an existing category.</p> <p>To create a new category, see .</p>"
    },
    "UpdateMedicalVocabulary":{
      "name":"UpdateMedicalVocabulary",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateMedicalVocabularyRequest"},
      "output":{"shape":"UpdateMedicalVocabularyResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"NotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Updates an existing custom medical vocabulary with new values. This operation overwrites all existing information with your new values; you cannot append new terms onto an existing custom vocabulary.</p>"
    },
    "UpdateVocabulary":{
      "name":"UpdateVocabulary",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateVocabularyRequest"},
      "output":{"shape":"UpdateVocabularyResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"NotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Updates an existing custom vocabulary with new values. This operation overwrites all existing information with your new values; you cannot append new terms onto an existing custom vocabulary.</p>"
    },
    "UpdateVocabularyFilter":{
      "name":"UpdateVocabularyFilter",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateVocabularyFilterRequest"},
      "output":{"shape":"UpdateVocabularyFilterResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Updates an existing custom vocabulary filter with a new list of words. The new list you provide overwrites all previous entries; you cannot append new terms onto an existing custom vocabulary filter.</p>"
    }
  },
  "shapes":{
    "AbsoluteTimeRange":{
      "type":"structure",
      "members":{
        "StartTime":{
          "shape":"TimestampMilliseconds",
          "documentation":"<p>The time, in milliseconds, when Amazon Transcribe starts searching for the specified criteria in your audio. If you include <code>StartTime</code> in your request, you must also include <code>EndTime</code>.</p>"
        },
        "EndTime":{
          "shape":"TimestampMilliseconds",
          "documentation":"<p>The time, in milliseconds, when Amazon Transcribe stops searching for the specified criteria in your audio. If you include <code>EndTime</code> in your request, you must also include <code>StartTime</code>.</p>"
        },
        "First":{
          "shape":"TimestampMilliseconds",
          "documentation":"<p>The time, in milliseconds, from the start of your media file until the specified value. Amazon Transcribe searches for your specified criteria in this time segment.</p>"
        },
        "Last":{
          "shape":"TimestampMilliseconds",
          "documentation":"<p>The time, in milliseconds, from the specified value until the end of your media file. Amazon Transcribe searches for your specified criteria in this time segment.</p>"
        }
      },
      "documentation":"<p>A time range, in milliseconds, between two points in your media file.</p> <p>You can use <code>StartTime</code> and <code>EndTime</code> to search a custom segment. For example, setting <code>StartTime</code> to 10000 and <code>EndTime</code> to 50000 only searches for your specified criteria in the audio contained between the 10,000 millisecond mark and the 50,000 millisecond mark of your media file. You must use <code>StartTime</code> and <code>EndTime</code> as a set; that is, if you include one, you must include both.</p> <p>You can use also <code>First</code> to search from the start of the audio until the time that you specify, or <code>Last</code> to search from the time that you specify until the end of the audio. For example, setting <code>First</code> to 50000 only searches for your specified criteria in the audio contained between the start of the media file to the 50,000 millisecond mark. You can use <code>First</code> and <code>Last</code> independently of each other.</p> <p>If you prefer to use percentage instead of milliseconds, see .</p>"
    },
    "BadRequestException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"FailureReason"}
      },
      "documentation":"<p>Your request didn't pass one or more validation tests. This can occur when the entity you're trying to delete doesn't exist or if it's in a non-terminal state (such as <code>IN PROGRESS</code>). See the exception message field for more information.</p>",
      "exception":true
    },
    "BaseModelName":{
      "type":"string",
      "enum":[
        "NarrowBand",
        "WideBand"
      ]
    },
    "Boolean":{"type":"boolean"},
    "CLMLanguageCode":{
      "type":"string",
      "enum":[
        "en-US",
        "hi-IN",
        "es-US",
        "en-GB",
        "en-AU",
        "de-DE",
        "ja-JP"
      ]
    },
    "CallAnalyticsFeature":{
      "type":"string",
      "enum":["GENERATIVE_SUMMARIZATION"]
    },
    "CallAnalyticsJob":{
      "type":"structure",
      "members":{
        "CallAnalyticsJobName":{
          "shape":"CallAnalyticsJobName",
          "documentation":"<p>The name of the Call Analytics job. Job names are case sensitive and must be unique within an Amazon Web Services account.</p>"
        },
        "CallAnalyticsJobStatus":{
          "shape":"CallAnalyticsJobStatus",
          "documentation":"<p>Provides the status of the specified Call Analytics job.</p> <p>If the status is <code>COMPLETED</code>, the job is finished and you can find the results at the location specified in <code>TranscriptFileUri</code> (or <code>RedactedTranscriptFileUri</code>, if you requested transcript redaction). If the status is <code>FAILED</code>, <code>FailureReason</code> provides details on why your transcription job failed.</p>"
        },
        "CallAnalyticsJobDetails":{
          "shape":"CallAnalyticsJobDetails",
          "documentation":"<p>Provides detailed information about a call analytics job, including information about skipped analytics features.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language code used to create your Call Analytics job. For a list of supported languages and their associated language codes, refer to the <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/supported-languages.html\">Supported languages</a> table.</p> <p>If you do not know the language spoken in your media file, you can omit this field and let Amazon Transcribe automatically identify the language of your media. To improve the accuracy of language identification, you can include several language codes and Amazon Transcribe chooses the closest match for your transcription.</p>"
        },
        "MediaSampleRateHertz":{
          "shape":"MediaSampleRateHertz",
          "documentation":"<p>The sample rate, in hertz, of the audio track in your input media file.</p>"
        },
        "MediaFormat":{
          "shape":"MediaFormat",
          "documentation":"<p>The format of the input media file.</p>"
        },
        "Media":{
          "shape":"Media",
          "documentation":"<p>Provides the Amazon S3 location of the media file you used in your Call Analytics request.</p>"
        },
        "Transcript":{"shape":"Transcript"},
        "StartTime":{
          "shape":"DateTime",
          "documentation":"<p>The date and time the specified Call Analytics job began processing.</p> <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For example, <code>2022-05-04T12:32:58.789000-07:00</code> represents a transcription job that started processing at 12:32 PM UTC-7 on May 4, 2022.</p>"
        },
        "CreationTime":{
          "shape":"DateTime",
          "documentation":"<p>The date and time the specified Call Analytics job request was made.</p> <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For example, <code>2022-05-04T12:32:58.761000-07:00</code> represents a transcription job that started processing at 12:32 PM UTC-7 on May 4, 2022.</p>"
        },
        "CompletionTime":{
          "shape":"DateTime",
          "documentation":"<p>The date and time the specified Call Analytics job finished processing.</p> <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For example, <code>2022-05-04T12:33:13.922000-07:00</code> represents a transcription job that started processing at 12:33 PM UTC-7 on May 4, 2022.</p>"
        },
        "FailureReason":{
          "shape":"FailureReason",
          "documentation":"<p>If <code>CallAnalyticsJobStatus</code> is <code>FAILED</code>, <code>FailureReason</code> contains information about why the Call Analytics job request failed.</p> <p>The <code>FailureReason</code> field contains one of the following values:</p> <ul> <li> <p> <code>Unsupported media format</code>.</p> <p>The media format specified in <code>MediaFormat</code> isn't valid. Refer to refer to the <code>MediaFormat</code> parameter for a list of supported formats.</p> </li> <li> <p> <code>The media format provided does not match the detected media format</code>.</p> <p>The media format specified in <code>MediaFormat</code> doesn't match the format of the input file. Check the media format of your media file and correct the specified value.</p> </li> <li> <p> <code>Invalid sample rate for audio file</code>.</p> <p>The sample rate specified in <code>MediaSampleRateHertz</code> isn't valid. The sample rate must be between 8,000 and 48,000 hertz.</p> </li> <li> <p> <code>The sample rate provided does not match the detected sample rate</code>.</p> <p>The sample rate specified in <code>MediaSampleRateHertz</code> doesn't match the sample rate detected in your input media file. Check the sample rate of your media file and correct the specified value.</p> </li> <li> <p> <code>Invalid file size: file size too large</code>.</p> <p>The size of your media file is larger than what Amazon Transcribe can process. For more information, refer to <a href=\"https://docs.aws.amazon.com/general/latest/gr/transcribe.html#limits-amazon-transcribe\">Service quotas</a>.</p> </li> <li> <p> <code>Invalid number of channels: number of channels too large</code>.</p> <p>Your audio contains more channels than Amazon Transcribe is able to process. For more information, refer to <a href=\"https://docs.aws.amazon.com/general/latest/gr/transcribe.html#limits-amazon-transcribe\">Service quotas</a>.</p> </li> </ul>"
        },
        "DataAccessRoleArn":{
          "shape":"DataAccessRoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) you included in your request.</p>"
        },
        "IdentifiedLanguageScore":{
          "shape":"IdentifiedLanguageScore",
          "documentation":"<p>The confidence score associated with the language identified in your media file.</p> <p>Confidence scores are values between 0 and 1; a larger value indicates a higher probability that the identified language correctly matches the language spoken in your media.</p>"
        },
        "Settings":{
          "shape":"CallAnalyticsJobSettings",
          "documentation":"<p>Provides information on any additional settings that were included in your request. Additional settings include content redaction and language identification settings.</p>"
        },
        "ChannelDefinitions":{
          "shape":"ChannelDefinitions",
          "documentation":"<p>Indicates which speaker is on which channel.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The tags, each in the form of a key:value pair, assigned to the specified call analytics job.</p>"
        }
      },
      "documentation":"<p>Provides detailed information about a Call Analytics job.</p> <p>To view the job's status, refer to <code>CallAnalyticsJobStatus</code>. If the status is <code>COMPLETED</code>, the job is finished. You can find your completed transcript at the URI specified in <code>TranscriptFileUri</code>. If the status is <code>FAILED</code>, <code>FailureReason</code> provides details on why your transcription job failed.</p> <p>If you enabled personally identifiable information (PII) redaction, the redacted transcript appears at the location specified in <code>RedactedTranscriptFileUri</code>.</p> <p>If you chose to redact the audio in your media file, you can find your redacted media file at the location specified in the <code>RedactedMediaFileUri</code> field of your response.</p>"
    },
    "CallAnalyticsJobDetails":{
      "type":"structure",
      "members":{
        "Skipped":{
          "shape":"CallAnalyticsSkippedFeatureList",
          "documentation":"<p>Contains information about any skipped analytics features during the analysis of a call analytics job.</p> <p>This array lists all the analytics features that were skipped, along with their corresponding reason code and message.</p>"
        }
      },
      "documentation":"<p>Contains details about a call analytics job, including information about skipped analytics features.</p>"
    },
    "CallAnalyticsJobName":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"^[0-9a-zA-Z._-]+"
    },
    "CallAnalyticsJobSettings":{
      "type":"structure",
      "members":{
        "VocabularyName":{
          "shape":"VocabularyName",
          "documentation":"<p>The name of the custom vocabulary you want to include in your Call Analytics transcription request. Custom vocabulary names are case sensitive.</p>"
        },
        "VocabularyFilterName":{
          "shape":"VocabularyFilterName",
          "documentation":"<p>The name of the custom vocabulary filter you want to include in your Call Analytics transcription request. Custom vocabulary filter names are case sensitive.</p> <p>Note that if you include <code>VocabularyFilterName</code> in your request, you must also include <code>VocabularyFilterMethod</code>.</p>"
        },
        "VocabularyFilterMethod":{
          "shape":"VocabularyFilterMethod",
          "documentation":"<p>Specify how you want your custom vocabulary filter applied to your transcript.</p> <p>To replace words with <code>***</code>, choose <code>mask</code>.</p> <p>To delete words, choose <code>remove</code>.</p> <p>To flag words without changing them, choose <code>tag</code>.</p>"
        },
        "LanguageModelName":{
          "shape":"ModelName",
          "documentation":"<p>The name of the custom language model you want to use when processing your Call Analytics job. Note that custom language model names are case sensitive.</p> <p>The language of the specified custom language model must match the language code that you specify in your transcription request. If the languages do not match, the custom language model isn't applied. There are no errors or warnings associated with a language mismatch.</p>"
        },
        "ContentRedaction":{"shape":"ContentRedaction"},
        "LanguageOptions":{
          "shape":"LanguageOptions",
          "documentation":"<p>You can specify two or more language codes that represent the languages you think may be present in your media. Including more than five is not recommended. If you're unsure what languages are present, do not include this parameter.</p> <p>Including language options can improve the accuracy of language identification.</p> <p>For a list of languages supported with Call Analytics, refer to the <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/supported-languages.html\">Supported languages</a> table.</p> <p>To transcribe speech in Modern Standard Arabic (<code>ar-SA</code>) in Amazon Web Services GovCloud (US) (US-West, us-gov-west-1), Amazon Web Services GovCloud (US) (US-East, us-gov-east-1), Canada (Calgary) ca-west-1 and Africa (Cape Town) af-south-1, your media file must be encoded at a sample rate of 16,000 Hz or higher.</p>"
        },
        "LanguageIdSettings":{
          "shape":"LanguageIdSettingsMap",
          "documentation":"<p>If using automatic language identification in your request and you want to apply a custom language model, a custom vocabulary, or a custom vocabulary filter, include <code>LanguageIdSettings</code> with the relevant sub-parameters (<code>VocabularyName</code>, <code>LanguageModelName</code>, and <code>VocabularyFilterName</code>).</p> <p> <code>LanguageIdSettings</code> supports two to five language codes. Each language code you include can have an associated custom language model, custom vocabulary, and custom vocabulary filter. The language codes that you specify must match the languages of the associated custom language models, custom vocabularies, and custom vocabulary filters.</p> <p>It's recommended that you include <code>LanguageOptions</code> when using <code>LanguageIdSettings</code> to ensure that the correct language dialect is identified. For example, if you specify a custom vocabulary that is in <code>en-US</code> but Amazon Transcribe determines that the language spoken in your media is <code>en-AU</code>, your custom vocabulary <i>is not</i> applied to your transcription. If you include <code>LanguageOptions</code> and include <code>en-US</code> as the only English language dialect, your custom vocabulary <i>is</i> applied to your transcription.</p> <p>If you want to include a custom language model, custom vocabulary, or custom vocabulary filter with your request but <b>do not</b> want to use automatic language identification, use instead the <code/> parameter with the <code>LanguageModelName</code>, <code>VocabularyName</code>, or <code>VocabularyFilterName</code> sub-parameters.</p> <p>For a list of languages supported with Call Analytics, refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/supported-languages.html\">Supported languages and language-specific features</a>.</p>"
        },
        "Summarization":{
          "shape":"Summarization",
          "documentation":"<p>Contains <code>GenerateAbstractiveSummary</code>, which is a required parameter if you want to enable Generative call summarization in your Call Analytics request.</p>"
        }
      },
      "documentation":"<p>Provides additional optional settings for your request, including content redaction, automatic language identification; allows you to apply custom language models, custom vocabulary filters, and custom vocabularies.</p>"
    },
    "CallAnalyticsJobStatus":{
      "type":"string",
      "enum":[
        "QUEUED",
        "IN_PROGRESS",
        "FAILED",
        "COMPLETED"
      ]
    },
    "CallAnalyticsJobSummaries":{
      "type":"list",
      "member":{"shape":"CallAnalyticsJobSummary"}
    },
    "CallAnalyticsJobSummary":{
      "type":"structure",
      "members":{
        "CallAnalyticsJobName":{
          "shape":"CallAnalyticsJobName",
          "documentation":"<p>The name of the Call Analytics job. Job names are case sensitive and must be unique within an Amazon Web Services account.</p>"
        },
        "CreationTime":{
          "shape":"DateTime",
          "documentation":"<p>The date and time the specified Call Analytics job request was made.</p> <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For example, <code>2022-05-04T12:32:58.761000-07:00</code> represents a transcription job that started processing at 12:32 PM UTC-7 on May 4, 2022.</p>"
        },
        "StartTime":{
          "shape":"DateTime",
          "documentation":"<p>The date and time your Call Analytics job began processing.</p> <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For example, <code>2022-05-04T12:32:58.789000-07:00</code> represents a transcription job that started processing at 12:32 PM UTC-7 on May 4, 2022.</p>"
        },
        "CompletionTime":{
          "shape":"DateTime",
          "documentation":"<p>The date and time the specified Call Analytics job finished processing.</p> <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For example, <code>2022-05-04T12:33:13.922000-07:00</code> represents a transcription job that started processing at 12:33 PM UTC-7 on May 4, 2022.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language code used to create your Call Analytics transcription.</p>"
        },
        "CallAnalyticsJobStatus":{
          "shape":"CallAnalyticsJobStatus",
          "documentation":"<p>Provides the status of your Call Analytics job.</p> <p>If the status is <code>COMPLETED</code>, the job is finished and you can find the results at the location specified in <code>TranscriptFileUri</code> (or <code>RedactedTranscriptFileUri</code>, if you requested transcript redaction). If the status is <code>FAILED</code>, <code>FailureReason</code> provides details on why your transcription job failed.</p>"
        },
        "CallAnalyticsJobDetails":{
          "shape":"CallAnalyticsJobDetails",
          "documentation":"<p>Provides detailed information about a call analytics job, including information about skipped analytics features.</p>"
        },
        "FailureReason":{
          "shape":"FailureReason",
          "documentation":"<p>If <code>CallAnalyticsJobStatus</code> is <code>FAILED</code>, <code>FailureReason</code> contains information about why the Call Analytics job failed. See also: <a href=\"https://docs.aws.amazon.com/transcribe/latest/APIReference/CommonErrors.html\">Common Errors</a>.</p>"
        }
      },
      "documentation":"<p>Provides detailed information about a specific Call Analytics job.</p>"
    },
    "CallAnalyticsSkippedFeature":{
      "type":"structure",
      "members":{
        "Feature":{
          "shape":"CallAnalyticsFeature",
          "documentation":"<p>Indicates the type of analytics feature that was skipped during the analysis of a call analytics job.</p>"
        },
        "ReasonCode":{
          "shape":"CallAnalyticsSkippedReasonCode",
          "documentation":"<p>Provides a code indicating the reason why a specific analytics feature was skipped during the analysis of a call analytics job.</p>"
        },
        "Message":{
          "shape":"String",
          "documentation":"<p>Contains additional information or a message explaining why a specific analytics feature was skipped during the analysis of a call analytics job.</p>"
        }
      },
      "documentation":"<p>Represents a skipped analytics feature during the analysis of a call analytics job.</p> <p>The <code>Feature</code> field indicates the type of analytics feature that was skipped.</p> <p>The <code>Message</code> field contains additional information or a message explaining why the analytics feature was skipped.</p> <p>The <code>ReasonCode</code> field provides a code indicating the reason why the analytics feature was skipped.</p>"
    },
    "CallAnalyticsSkippedFeatureList":{
      "type":"list",
      "member":{"shape":"CallAnalyticsSkippedFeature"}
    },
    "CallAnalyticsSkippedReasonCode":{
      "type":"string",
      "enum":[
        "INSUFFICIENT_CONVERSATION_CONTENT",
        "FAILED_SAFETY_GUIDELINES"
      ]
    },
    "CategoryName":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"^[0-9a-zA-Z._-]+"
    },
    "CategoryProperties":{
      "type":"structure",
      "members":{
        "CategoryName":{
          "shape":"CategoryName",
          "documentation":"<p>The name of the Call Analytics category. Category names are case sensitive and must be unique within an Amazon Web Services account.</p>"
        },
        "Rules":{
          "shape":"RuleList",
          "documentation":"<p>The rules used to define a Call Analytics category. Each category can have between 1 and 20 rules.</p>"
        },
        "CreateTime":{
          "shape":"DateTime",
          "documentation":"<p>The date and time the specified Call Analytics category was created.</p> <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For example, <code>2022-05-04T12:32:58.761000-07:00</code> represents 12:32 PM UTC-7 on May 4, 2022.</p>"
        },
        "LastUpdateTime":{
          "shape":"DateTime",
          "documentation":"<p>The date and time the specified Call Analytics category was last updated.</p> <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For example, <code>2022-05-05T12:45:32.691000-07:00</code> represents 12:45 PM UTC-7 on May 5, 2022.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The tags, each in the form of a key:value pair, assigned to the specified call analytics category.</p>"
        },
        "InputType":{
          "shape":"InputType",
          "documentation":"<p>The input type associated with the specified category. <code>POST_CALL</code> refers to a category that is applied to batch transcriptions; <code>REAL_TIME</code> refers to a category that is applied to streaming transcriptions.</p>"
        }
      },
      "documentation":"<p>Provides you with the properties of the Call Analytics category you specified in your request. This includes the list of rules that define the specified category.</p>"
    },
    "CategoryPropertiesList":{
      "type":"list",
      "member":{"shape":"CategoryProperties"}
    },
    "ChannelDefinition":{
      "type":"structure",
      "members":{
        "ChannelId":{
          "shape":"ChannelId",
          "documentation":"<p>Specify the audio channel you want to define.</p>"
        },
        "ParticipantRole":{
          "shape":"ParticipantRole",
          "documentation":"<p>Specify the speaker you want to define. Omitting this parameter is equivalent to specifying both participants.</p>"
        }
      },
      "documentation":"<p>Makes it possible to specify which speaker is on which channel. For example, if your agent is the first participant to speak, you would set <code>ChannelId</code> to <code>0</code> (to indicate the first channel) and <code>ParticipantRole</code> to <code>AGENT</code> (to indicate that it's the agent speaking).</p>"
    },
    "ChannelDefinitions":{
      "type":"list",
      "member":{"shape":"ChannelDefinition"},
      "max":2,
      "min":2
    },
    "ChannelId":{
      "type":"integer",
      "max":1,
      "min":0
    },
    "ClinicalNoteGenerationSettings":{
      "type":"structure",
      "members":{
        "NoteTemplate":{
          "shape":"MedicalScribeNoteTemplate",
          "documentation":"<p>Specify one of the following templates to use for the clinical note summary. The default is <code>HISTORY_AND_PHYSICAL</code>.</p> <ul> <li> <p>HISTORY_AND_PHYSICAL: Provides summaries for key sections of the clinical documentation. Examples of sections include Chief Complaint, History of Present Illness, Review of Systems, Past Medical History, Assessment, and Plan. </p> </li> <li> <p>GIRPP: Provides summaries based on the patients progress toward goals. Examples of sections include Goal, Intervention, Response, Progress, and Plan.</p> </li> <li> <p>BIRP: Focuses on the patient's behavioral patterns and responses. Examples of sections include Behavior, Intervention, Response, and Plan.</p> </li> <li> <p>SIRP: Emphasizes the situational context of therapy. Examples of sections include Situation, Intervention, Response, and Plan.</p> </li> <li> <p>DAP: Provides a simplified format for clinical documentation. Examples of sections include Data, Assessment, and Plan.</p> </li> <li> <p>BEHAVIORAL_SOAP: Behavioral health focused documentation format. Examples of sections include Subjective, Objective, Assessment, and Plan.</p> </li> <li> <p>PHYSICAL_SOAP: Physical health focused documentation format. Examples of sections include Subjective, Objective, Assessment, and Plan.</p> </li> </ul>"
        }
      },
      "documentation":"<p>The output configuration for clinical note generation.</p>"
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p>A resource already exists with this name. Resource names must be unique within an Amazon Web Services account.</p>",
      "exception":true
    },
    "ContentRedaction":{
      "type":"structure",
      "required":[
        "RedactionType",
        "RedactionOutput"
      ],
      "members":{
        "RedactionType":{
          "shape":"RedactionType",
          "documentation":"<p>Specify the category of information you want to redact; <code>PII</code> (personally identifiable information) is the only valid value. You can use <code>PiiEntityTypes</code> to choose which types of PII you want to redact. If you do not include <code>PiiEntityTypes</code> in your request, all PII is redacted.</p>"
        },
        "RedactionOutput":{
          "shape":"RedactionOutput",
          "documentation":"<p>Specify if you want only a redacted transcript, or if you want a redacted and an unredacted transcript.</p> <p>When you choose <code>redacted</code> Amazon Transcribe creates only a redacted transcript.</p> <p>When you choose <code>redacted_and_unredacted</code> Amazon Transcribe creates a redacted and an unredacted transcript (as two separate files).</p>"
        },
        "PiiEntityTypes":{
          "shape":"PiiEntityTypes",
          "documentation":"<p>Specify which types of personally identifiable information (PII) you want to redact in your transcript. You can include as many types as you'd like, or you can select <code>ALL</code>. If you do not include <code>PiiEntityTypes</code> in your request, all PII is redacted.</p>"
        }
      },
      "documentation":"<p>Makes it possible to redact or flag specified personally identifiable information (PII) in your transcript. If you use <code>ContentRedaction</code>, you must also include the sub-parameters: <code>RedactionOutput</code> and <code>RedactionType</code>. You can optionally include <code>PiiEntityTypes</code> to choose which types of PII you want to redact.</p>"
    },
    "CreateCallAnalyticsCategoryRequest":{
      "type":"structure",
      "required":[
        "CategoryName",
        "Rules"
      ],
      "members":{
        "CategoryName":{
          "shape":"CategoryName",
          "documentation":"<p>A unique name, chosen by you, for your Call Analytics category. It's helpful to use a detailed naming system that will make sense to you in the future. For example, it's better to use <code>sentiment-positive-last30seconds</code> for a category over a generic name like <code>test-category</code>.</p> <p>Category names are case sensitive.</p>"
        },
        "Rules":{
          "shape":"RuleList",
          "documentation":"<p>Rules define a Call Analytics category. When creating a new category, you must create between 1 and 20 rules for that category. For each rule, you specify a filter you want applied to the attributes of a call. For example, you can choose a sentiment filter that detects if a customer's sentiment was positive during the last 30 seconds of the call.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>Adds one or more custom tags, each in the form of a key:value pair, to a new call analytics category at the time you start this new job.</p> <p>To learn more about using tags with Amazon Transcribe, refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/tagging.html\">Tagging resources</a>.</p>"
        },
        "InputType":{
          "shape":"InputType",
          "documentation":"<p>Choose whether you want to create a real-time or a post-call category for your Call Analytics transcription.</p> <p>Specifying <code>POST_CALL</code> assigns your category to post-call transcriptions; categories with this input type cannot be applied to streaming (real-time) transcriptions.</p> <p>Specifying <code>REAL_TIME</code> assigns your category to streaming transcriptions; categories with this input type cannot be applied to post-call transcriptions.</p> <p>If you do not include <code>InputType</code>, your category is created as a post-call category by default.</p>"
        }
      }
    },
    "CreateCallAnalyticsCategoryResponse":{
      "type":"structure",
      "members":{
        "CategoryProperties":{
          "shape":"CategoryProperties",
          "documentation":"<p>Provides you with the properties of your new category, including its associated rules.</p>"
        }
      }
    },
    "CreateLanguageModelRequest":{
      "type":"structure",
      "required":[
        "LanguageCode",
        "BaseModelName",
        "ModelName",
        "InputDataConfig"
      ],
      "members":{
        "LanguageCode":{
          "shape":"CLMLanguageCode",
          "documentation":"<p>The language code that represents the language of your model. Each custom language model must contain terms in only one language, and the language you select for your custom language model must match the language of your training and tuning data.</p> <p>For a list of supported languages and their associated language codes, refer to the <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/supported-languages.html\">Supported languages</a> table. Note that US English (<code>en-US</code>) is the only language supported with Amazon Transcribe Medical.</p> <p>A custom language model can only be used to transcribe files in the same language as the model. For example, if you create a custom language model using US English (<code>en-US</code>), you can only apply this model to files that contain English audio.</p>"
        },
        "BaseModelName":{
          "shape":"BaseModelName",
          "documentation":"<p>The Amazon Transcribe standard language model, or base model, used to create your custom language model. Amazon Transcribe offers two options for base models: Wideband and Narrowband.</p> <p>If the audio you want to transcribe has a sample rate of 16,000 Hz or greater, choose <code>WideBand</code>. To transcribe audio with a sample rate less than 16,000 Hz, choose <code>NarrowBand</code>.</p>"
        },
        "ModelName":{
          "shape":"ModelName",
          "documentation":"<p>A unique name, chosen by you, for your custom language model.</p> <p>This name is case sensitive, cannot contain spaces, and must be unique within an Amazon Web Services account. If you try to create a new custom language model with the same name as an existing custom language model, you get a <code>ConflictException</code> error.</p>"
        },
        "InputDataConfig":{
          "shape":"InputDataConfig",
          "documentation":"<p>Contains the Amazon S3 location of the training data you want to use to create a new custom language model, and permissions to access this location.</p> <p>When using <code>InputDataConfig</code>, you must include these sub-parameters: <code>S3Uri</code>, which is the Amazon S3 location of your training data, and <code>DataAccessRoleArn</code>, which is the Amazon Resource Name (ARN) of the role that has permission to access your specified Amazon S3 location. You can optionally include <code>TuningDataS3Uri</code>, which is the Amazon S3 location of your tuning data. If you specify different Amazon S3 locations for training and tuning data, the ARN you use must have permissions to access both locations.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>Adds one or more custom tags, each in the form of a key:value pair, to a new custom language model at the time you create this new model.</p> <p>To learn more about using tags with Amazon Transcribe, refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/tagging.html\">Tagging resources</a>.</p>"
        }
      }
    },
    "CreateLanguageModelResponse":{
      "type":"structure",
      "members":{
        "LanguageCode":{
          "shape":"CLMLanguageCode",
          "documentation":"<p>The language code you selected for your custom language model.</p>"
        },
        "BaseModelName":{
          "shape":"BaseModelName",
          "documentation":"<p>The Amazon Transcribe standard language model, or base model, you specified when creating your custom language model.</p>"
        },
        "ModelName":{
          "shape":"ModelName",
          "documentation":"<p>The name of your custom language model.</p>"
        },
        "InputDataConfig":{
          "shape":"InputDataConfig",
          "documentation":"<p>Lists your data access role ARN (Amazon Resource Name) and the Amazon S3 locations you provided for your training (<code>S3Uri</code>) and tuning (<code>TuningDataS3Uri</code>) data.</p>"
        },
        "ModelStatus":{
          "shape":"ModelStatus",
          "documentation":"<p>The status of your custom language model. When the status displays as <code>COMPLETED</code>, your model is ready to use.</p>"
        }
      }
    },
    "CreateMedicalVocabularyRequest":{
      "type":"structure",
      "required":[
        "VocabularyName",
        "LanguageCode",
        "VocabularyFileUri"
      ],
      "members":{
        "VocabularyName":{
          "shape":"VocabularyName",
          "documentation":"<p>A unique name, chosen by you, for your new custom medical vocabulary.</p> <p>This name is case sensitive, cannot contain spaces, and must be unique within an Amazon Web Services account. If you try to create a new custom medical vocabulary with the same name as an existing custom medical vocabulary, you get a <code>ConflictException</code> error.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language code that represents the language of the entries in your custom vocabulary. US English (<code>en-US</code>) is the only language supported with Amazon Transcribe Medical.</p>"
        },
        "VocabularyFileUri":{
          "shape":"Uri",
          "documentation":"<p>The Amazon S3 location (URI) of the text file that contains your custom medical vocabulary. The URI must be in the same Amazon Web Services Region as the resource you're calling.</p> <p>Here's an example URI path: <code>s3://DOC-EXAMPLE-BUCKET/my-vocab-file.txt</code> </p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>Adds one or more custom tags, each in the form of a key:value pair, to a new custom medical vocabulary at the time you create this new custom vocabulary.</p> <p>To learn more about using tags with Amazon Transcribe, refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/tagging.html\">Tagging resources</a>.</p>"
        }
      }
    },
    "CreateMedicalVocabularyResponse":{
      "type":"structure",
      "members":{
        "VocabularyName":{
          "shape":"VocabularyName",
          "documentation":"<p>The name you chose for your custom medical vocabulary.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language code you selected for your custom medical vocabulary. US English (<code>en-US</code>) is the only language supported with Amazon Transcribe Medical.</p>"
        },
        "VocabularyState":{
          "shape":"VocabularyState",
          "documentation":"<p>The processing state of your custom medical vocabulary. If the state is <code>READY</code>, you can use the custom vocabulary in a <code>StartMedicalTranscriptionJob</code> request.</p>"
        },
        "LastModifiedTime":{
          "shape":"DateTime",
          "documentation":"<p>The date and time you created your custom medical vocabulary.</p> <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For example, <code>2022-05-04T12:32:58.761000-07:00</code> represents 12:32 PM UTC-7 on May 4, 2022.</p>"
        },
        "FailureReason":{
          "shape":"FailureReason",
          "documentation":"<p>If <code>VocabularyState</code> is <code>FAILED</code>, <code>FailureReason</code> contains information about why the medical transcription job request failed. See also: <a href=\"https://docs.aws.amazon.com/transcribe/latest/APIReference/CommonErrors.html\">Common Errors</a>.</p>"
        }
      }
    },
    "CreateVocabularyFilterRequest":{
      "type":"structure",
      "required":[
        "VocabularyFilterName",
        "LanguageCode"
      ],
      "members":{
        "VocabularyFilterName":{
          "shape":"VocabularyFilterName",
          "documentation":"<p>A unique name, chosen by you, for your new custom vocabulary filter.</p> <p>This name is case sensitive, cannot contain spaces, and must be unique within an Amazon Web Services account. If you try to create a new custom vocabulary filter with the same name as an existing custom vocabulary filter, you get a <code>ConflictException</code> error.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language code that represents the language of the entries in your vocabulary filter. Each custom vocabulary filter must contain terms in only one language.</p> <p>A custom vocabulary filter can only be used to transcribe files in the same language as the filter. For example, if you create a custom vocabulary filter using US English (<code>en-US</code>), you can only apply this filter to files that contain English audio.</p> <p>For a list of supported languages and their associated language codes, refer to the <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/supported-languages.html\">Supported languages</a> table.</p>"
        },
        "Words":{
          "shape":"Words",
          "documentation":"<p>Use this parameter if you want to create your custom vocabulary filter by including all desired terms, as comma-separated values, within your request. The other option for creating your vocabulary filter is to save your entries in a text file and upload them to an Amazon S3 bucket, then specify the location of your file using the <code>VocabularyFilterFileUri</code> parameter.</p> <p>Note that if you include <code>Words</code> in your request, you cannot use <code>VocabularyFilterFileUri</code>; you must choose one or the other.</p> <p>Each language has a character set that contains all allowed characters for that specific language. If you use unsupported characters, your custom vocabulary filter request fails. Refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/charsets.html\">Character Sets for Custom Vocabularies</a> to get the character set for your language.</p>"
        },
        "VocabularyFilterFileUri":{
          "shape":"Uri",
          "documentation":"<p>The Amazon S3 location of the text file that contains your custom vocabulary filter terms. The URI must be located in the same Amazon Web Services Region as the resource you're calling.</p> <p>Here's an example URI path: <code>s3://DOC-EXAMPLE-BUCKET/my-vocab-filter-file.txt</code> </p> <p>Note that if you include <code>VocabularyFilterFileUri</code> in your request, you cannot use <code>Words</code>; you must choose one or the other.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>Adds one or more custom tags, each in the form of a key:value pair, to a new custom vocabulary filter at the time you create this new vocabulary filter.</p> <p>To learn more about using tags with Amazon Transcribe, refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/tagging.html\">Tagging resources</a>.</p>"
        },
        "DataAccessRoleArn":{
          "shape":"DataAccessRoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of an IAM role that has permissions to access the Amazon S3 bucket that contains your input files (in this case, your custom vocabulary filter). If the role that you specify doesn’t have the appropriate permissions to access the specified Amazon S3 location, your request fails.</p> <p>IAM role ARNs have the format <code>arn:partition:iam::account:role/role-name-with-path</code>. For example: <code>arn:aws:iam::111122223333:role/Admin</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_identifiers.html#identifiers-arns\">IAM ARNs</a>.</p>"
        }
      }
    },
    "CreateVocabularyFilterResponse":{
      "type":"structure",
      "members":{
        "VocabularyFilterName":{
          "shape":"VocabularyFilterName",
          "documentation":"<p>The name you chose for your custom vocabulary filter.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language code you selected for your custom vocabulary filter.</p>"
        },
        "LastModifiedTime":{
          "shape":"DateTime",
          "documentation":"<p>The date and time you created your custom vocabulary filter.</p> <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For example, <code>2022-05-04T12:32:58.761000-07:00</code> represents 12:32 PM UTC-7 on May 4, 2022.</p>"
        }
      }
    },
    "CreateVocabularyRequest":{
      "type":"structure",
      "required":[
        "VocabularyName",
        "LanguageCode"
      ],
      "members":{
        "VocabularyName":{
          "shape":"VocabularyName",
          "documentation":"<p>A unique name, chosen by you, for your new custom vocabulary.</p> <p>This name is case sensitive, cannot contain spaces, and must be unique within an Amazon Web Services account. If you try to create a new custom vocabulary with the same name as an existing custom vocabulary, you get a <code>ConflictException</code> error.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language code that represents the language of the entries in your custom vocabulary. Each custom vocabulary must contain terms in only one language.</p> <p>A custom vocabulary can only be used to transcribe files in the same language as the custom vocabulary. For example, if you create a custom vocabulary using US English (<code>en-US</code>), you can only apply this custom vocabulary to files that contain English audio.</p> <p>For a list of supported languages and their associated language codes, refer to the <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/supported-languages.html\">Supported languages</a> table.</p>"
        },
        "Phrases":{
          "shape":"Phrases",
          "documentation":"<p>Use this parameter if you want to create your custom vocabulary by including all desired terms, as comma-separated values, within your request. The other option for creating your custom vocabulary is to save your entries in a text file and upload them to an Amazon S3 bucket, then specify the location of your file using the <code>VocabularyFileUri</code> parameter.</p> <p>Note that if you include <code>Phrases</code> in your request, you cannot use <code>VocabularyFileUri</code>; you must choose one or the other.</p> <p>Each language has a character set that contains all allowed characters for that specific language. If you use unsupported characters, your custom vocabulary filter request fails. Refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/charsets.html\">Character Sets for Custom Vocabularies</a> to get the character set for your language.</p>"
        },
        "VocabularyFileUri":{
          "shape":"Uri",
          "documentation":"<p>The Amazon S3 location of the text file that contains your custom vocabulary. The URI must be located in the same Amazon Web Services Region as the resource you're calling.</p> <p>Here's an example URI path: <code>s3://DOC-EXAMPLE-BUCKET/my-vocab-file.txt</code> </p> <p>Note that if you include <code>VocabularyFileUri</code> in your request, you cannot use the <code>Phrases</code> flag; you must choose one or the other.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>Adds one or more custom tags, each in the form of a key:value pair, to a new custom vocabulary at the time you create this new custom vocabulary.</p> <p>To learn more about using tags with Amazon Transcribe, refer to <a href=\"https://docs.aws.amazon.com/transcribe/latest/dg/tagging.html\">Tagging resources</a>.</p>"
        },
        "DataAccessRoleArn":{
          "shape":"DataAccessRoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of an IAM role that has permissions to access the Amazon S3 bucket that contains your input files (in this case, your custom vocabulary). If the role that you specify doesn’t have the appropriate permissions to access the specified Amazon S3 location, your request fails.</p> <p>IAM role ARNs have the format <code>arn:partition:iam::account:role/role-name-with-path</code>. For example: <code>arn:aws:iam::111122223333:role/Admin</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_identifiers.html#identifiers-arns\">IAM ARNs</a>.</p>"
        }
      }
    },
    "CreateVocabularyResponse":{
      "type":"structure",
      "members":{
        "VocabularyName":{
          "shape":"VocabularyName",
          "documentation":"<p>The name you chose for your custom vocabulary.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "documentation":"<p>The language code you selected for your custom vocabulary.</p>"
        },
        "VocabularyState":{
          "shape":"VocabularyState",
          "documentation":"<p>The processing state of your custom vocabulary. If the state is <code>READY</code>, you can use the custom vocabulary in a <code>StartTranscriptionJob</code> request.</p>"
        },
        "LastModifiedTime":{
          "shape":"DateTime",
          "documentation":"<p>The date and time you created your custom vocabulary.</p> <p>Timestamps are in the format <code>YYYY-MM-DD'T'HH:MM:SS.SSSSSS-UTC</code>. For example, <code>2022-05-04T12:32:58.761000-07:00</code> represents 12:32 PM UTC-7 on May 4, 2022.</p>"
        },
        "FailureReason":{
          "shape":"FailureReason",
          "documentation":"<p>If <code>VocabularyState</code> is <code>FAILED</code>, <code>FailureReason</code> contains information about why the custom vocabulary request failed. See also: <a href=\"https://docs.aws.amazon.com/transcribe/latest/APIReference/CommonErrors.html\">Common Errors</a>.</p>"
        }
      }
    },
    "DataAccessRoleArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"^arn:(aws|aws-cn|aws-us-gov|aws-iso-{0,1}[a-z]{0,1}):iam::[0-9]{0,63}:role/[A-Za-z0-9:_/+=,@.-]{0,1024}$"
    },
    "DateTime":{"type":"timestamp"},
    "DeleteCallAnalyticsCategoryRequest":{
      "type":"structure",
      "required":["CategoryName"],
      "members":{
        "CategoryName":{
          "shape":"CategoryName",
          "documentation":"<p>The name of the Call Analytics category you want to delete. Category names are case sensitive.</p>"
        }
      }
    },
    "DeleteCallAnalyticsCategoryResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteCallAnalyticsJobRequest":{
      "type":"structure",
      "required":["CallAnalyticsJobName"],
      "members":{
        "CallAnalyticsJobName":{
          "shape":"CallAnalyticsJobName",
          "documentation":"<p>The name of the Call Analytics job you want to delete. Job names are case sensitive.</p>"
        }
      }
    },
    "DeleteCallAnalyticsJobResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteLanguageModelRequest":{
      "type":"structure",
      "required":["ModelName"],
      "members":{
        "ModelName":{
          "shape":"ModelName",
          "documentation":"<p>The name of the custom language model you want to delete. Model names are case sensitive.</p>"
        }
      }
    },
    "DeleteMedicalScribeJobRequest":{
      "type":"structure",
      "required":["MedicalScribeJobName"],
      "members":{
        "MedicalScribeJobName":{
          "shape":"TranscriptionJobName",
          "documentation":"<p>The name of the Medical Scribe job you want to delete. Job names are case sensitive.</p>"
        }
      }
    },
    "DeleteMedicalTranscriptionJobRequest":{
      "type":"structure",
      "required":["MedicalTranscriptionJobName"],
      "members":{
        "MedicalTranscriptionJobName":{
          "shape":"TranscriptionJobName",
          "documentation":"<p>The name of the medical transcription job you want to delete. Job names are case sensitive.</p>"
        }
      }
    },
    "DeleteMedicalVocabularyRequest":{
      "type":"structure",
      "required":["VocabularyName"],
      "members":{
        "VocabularyName":{
          "shape":"VocabularyName",
          "documentation":"<p>The name of the custom medical vocabulary you want to delete. Custom medical vocabulary names are case sensitive.</p>"
        }
      }
    },
    "DeleteTranscriptionJobRequest":{
      "type":"structure",
      "required":["TranscriptionJobName"],
      "members":{
        "TranscriptionJobName":{
          "shape":"TranscriptionJobName",
          "documentation":"<p>The name of the transcription job you want to delete. Job names are case sensitive.</p>"
        }
      }
    },
    "DeleteVocabularyFilterRequest":{
      "type":"structure",
      "required":["VocabularyFilterName"],
      "members":{
        "VocabularyFilterName":{
          "shape":"VocabularyFilterName",
          "documentation":"<p>The name of the custom vocabulary filter you want to delete. Custom vocabulary filter names are case sensitive.</p>"
        }
      }
    },
    "DeleteVocabularyRequest":{
      "type":"structure",
      "required":["VocabularyName"],
      "members":{
        "VocabularyName":{
          "shape":"VocabularyName",
          "documentation":"<p>The name of the custom vocabulary you want to delete. Custom vocabulary names are case sensitive.</p>"
        }
      }
    },
    "DescribeLanguageModelRequest":{
      "type":"structure",
      "required":["ModelName"],
      "members":{
        "ModelName":{
          "shape":"ModelName",
          "documentation":"<p>The name of the custom language model you want information about. Model names are case sensitive.</p>"
        }
      }
    },
    "DescribeLanguageModelResponse":{
      "type":"structure",
      "members":{
        "LanguageModel":{
          "shape":"LanguageModel",
          "documentation":"<p>Provides information about the specified custom language model.</p> <p>This parameter also shows if the base language model you used to create your custom language model has been updated. If Amazon Transcribe has updated the base model, you can create a new custom language model using the updated base model.</p> <p>If you tried to create a new custom language model and the request wasn't successful, you can use this <code>DescribeLanguageModel</code> to help identify the reason for this failure.</p>"
        }
      }
    },
    "DurationInSeconds":{"type":"float"},
    "FailureReason":{"type":"string"},
    "GetCallAnalyticsCategoryRequest":{
      "type":"structure",
      "required":["CategoryName"],
      "members":{
        "CategoryName":{
          "shape":"CategoryName",
          "documentation":"<p>The name of the Call Analytics category you want information about. Category names are case sensitive.</p>"
        }
      }
    },
    "GetCallAnalyticsCategoryResponse":{
      "type":"structure",
      "members":{
        "CategoryProperties":{
          "shape":"CategoryProperties",
          "documentation":"<p>Provides you with the properties of the Call Analytics category you specified in your <code>GetCallAnalyticsCategory</code> request.</p>"
        }
      }
    },
    "GetCallAnalyticsJobRequest":{
      "type":"structure",
      "required":["CallAnalyticsJobName"],
      "members":{
        "CallAnalyticsJobName":{
          "shape":"CallAnalyticsJobName",
          "documentation":"<p>The name of the Call Analytics job you want information about. Job names are case sensitive.</p>"
        }
      }
    },
    "GetCallAnalyticsJobResponse":{
      "type":"structure",
      "members":{
        "CallAnalyticsJob":{
          "shape":"CallAnalyticsJob",
          "documentation":"<p>Provides detailed information about the specified Call Analytics job, including job status and, if applicable, failure reason.</p>"
        }
      }
    },
    "GetMedicalScribeJobRequest":{
      "type":"structure",
      "required":["MedicalScribeJobName"],
      "members":{
        "MedicalScribeJobName":{
          "shape":"TranscriptionJobName",
          "documentation":"<p>The name of the Medical Scribe job you want information about. Job names are case sensitive.</p>"
        }
      }
    },
    "GetMedicalScribeJobResponse":{
      "type":"structure",
      "members":{
        "MedicalScribeJob":{
          "shape":"MedicalScribeJob",
          "documentation":"<p>Provides detailed information about the specified Medical Scribe job, including job status and, if applicable, failure reason</p>"
        }
      }
    },
    "GetMedicalTranscriptionJobRequest":{
      "type":"structure",
      "required":["MedicalTranscriptionJobName"],
      "members":{
        "MedicalTranscriptionJobName":{
          "shape":"TranscriptionJobName",
          "documentation":"<p>The name of the medical transcription job you want information about. Job names are case sensitive.</p>"
        }
      }
    },
    "GetMedicalTranscriptionJobResponse":{
      "type":"structure",
      "members":{
        "MedicalTranscriptionJob":{
          "shape":"MedicalTranscriptionJob",
          "documentation":"<p>Provides detailed information about the specified medical transcription job, including job status and, if applicable, failure reason.</p>"
        }
      }
    },
    "GetMedicalVocabularyRequest":{
      "type":"structure",
      "required":["VocabularyName"],
      "members":{
        "VocabularyName":{
          "shape":"VocabularyName",
          "documentation":"<p>The name of the custom medical vocabulary you want information about. Custom medical vocabulary names are case sensitive.</p>"
        }
      }
    },
    "GetMedicalVocabularyResponse":{
      "type":"structure",
      "members":{
        "VocabularyName":{
          "shape":"VocabularyName",
[...]
