<form id="login" method="post">
    <div class="email-wrap">
        <input class="email" type="email" autocapitalize="off" autocorrect="off" placeholder="Email Address" name="email" novalidate>
    </div>
    <div class="password-wrap">
        <input class="password" type="password" placeholder="Password" name="password">
    </div>
    <button class="button-save" type="submit">Log in</button>
    <section class="meta">
        <a class="forgotten-password" href="#">Forgotten password?</a> &bull; <a href="/ghost/signup/">Register new user</a>
    </section>
</form>
