{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-11-09",
    "endpointPrefix":"datasync",
    "jsonVersion":"1.1",
    "protocol":"json",
    "protocols":["json"],
    "serviceAbbreviation":"DataSync",
    "serviceFullName":"AWS DataSync",
    "serviceId":"DataSync",
    "signatureVersion":"v4",
    "signingName":"datasync",
    "targetPrefix":"FmrsService",
    "uid":"datasync-2018-11-09",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "CancelTaskExecution":{
      "name":"CancelTaskExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelTaskExecutionRequest"},
      "output":{"shape":"CancelTaskExecutionResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Stops an DataSync task execution that's in progress. The transfer of some files are abruptly interrupted. File contents that're transferred to the destination might be incomplete or inconsistent with the source files.</p> <p>However, if you start a new task execution using the same task and allow it to finish, file content on the destination will be complete and consistent. This applies to other unexpected failures that interrupt a task execution. In all of these cases, DataSync successfully completes the transfer when you start the next task execution.</p>"
    },
    "CreateAgent":{
      "name":"CreateAgent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAgentRequest"},
      "output":{"shape":"CreateAgentResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Activates an DataSync agent that you deploy in your storage environment. The activation process associates the agent with your Amazon Web Services account.</p> <p>If you haven't deployed an agent yet, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/do-i-need-datasync-agent.html\">Do I need a DataSync agent?</a> </p>"
    },
    "CreateLocationAzureBlob":{
      "name":"CreateLocationAzureBlob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocationAzureBlobRequest"},
      "output":{"shape":"CreateLocationAzureBlobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates a transfer <i>location</i> for a Microsoft Azure Blob Storage container. DataSync can use this location as a transfer source or destination. You can make transfers with or without a <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/creating-azure-blob-location.html#azure-blob-creating-agent\">DataSync agent</a> that connects to your container.</p> <p>Before you begin, make sure you know <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/creating-azure-blob-location.html#azure-blob-access\">how DataSync accesses Azure Blob Storage</a> and works with <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/creating-azure-blob-location.html#azure-blob-access-tiers\">access tiers</a> and <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/creating-azure-blob-location.html#blob-types\">blob types</a>.</p>"
    },
    "CreateLocationEfs":{
      "name":"CreateLocationEfs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocationEfsRequest"},
      "output":{"shape":"CreateLocationEfsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates a transfer <i>location</i> for an Amazon EFS file system. DataSync can use this location as a source or destination for transferring data.</p> <p>Before you begin, make sure that you understand how DataSync <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-efs-location.html#create-efs-location-access\">accesses Amazon EFS file systems</a>.</p>"
    },
    "CreateLocationFsxLustre":{
      "name":"CreateLocationFsxLustre",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocationFsxLustreRequest"},
      "output":{"shape":"CreateLocationFsxLustreResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates a transfer <i>location</i> for an Amazon FSx for Lustre file system. DataSync can use this location as a source or destination for transferring data.</p> <p>Before you begin, make sure that you understand how DataSync <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-lustre-location.html#create-lustre-location-access\">accesses FSx for Lustre file systems</a>.</p>"
    },
    "CreateLocationFsxOntap":{
      "name":"CreateLocationFsxOntap",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocationFsxOntapRequest"},
      "output":{"shape":"CreateLocationFsxOntapResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates a transfer <i>location</i> for an Amazon FSx for NetApp ONTAP file system. DataSync can use this location as a source or destination for transferring data.</p> <p>Before you begin, make sure that you understand how DataSync <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-ontap-location.html#create-ontap-location-access\">accesses FSx for ONTAP file systems</a>.</p>"
    },
    "CreateLocationFsxOpenZfs":{
      "name":"CreateLocationFsxOpenZfs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocationFsxOpenZfsRequest"},
      "output":{"shape":"CreateLocationFsxOpenZfsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates a transfer <i>location</i> for an Amazon FSx for OpenZFS file system. DataSync can use this location as a source or destination for transferring data.</p> <p>Before you begin, make sure that you understand how DataSync <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-openzfs-location.html#create-openzfs-access\">accesses FSx for OpenZFS file systems</a>.</p> <note> <p>Request parameters related to <code>SMB</code> aren't supported with the <code>CreateLocationFsxOpenZfs</code> operation.</p> </note>"
    },
    "CreateLocationFsxWindows":{
      "name":"CreateLocationFsxWindows",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocationFsxWindowsRequest"},
      "output":{"shape":"CreateLocationFsxWindowsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates a transfer <i>location</i> for an Amazon FSx for Windows File Server file system. DataSync can use this location as a source or destination for transferring data.</p> <p>Before you begin, make sure that you understand how DataSync <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-fsx-location.html#create-fsx-location-access\">accesses FSx for Windows File Server file systems</a>.</p>"
    },
    "CreateLocationHdfs":{
      "name":"CreateLocationHdfs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocationHdfsRequest"},
      "output":{"shape":"CreateLocationHdfsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates a transfer <i>location</i> for a Hadoop Distributed File System (HDFS). DataSync can use this location as a source or destination for transferring data.</p> <p>Before you begin, make sure that you understand how DataSync <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-hdfs-location.html#accessing-hdfs\">accesses HDFS clusters</a>.</p>"
    },
    "CreateLocationNfs":{
      "name":"CreateLocationNfs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocationNfsRequest"},
      "output":{"shape":"CreateLocationNfsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates a transfer <i>location</i> for a Network File System (NFS) file server. DataSync can use this location as a source or destination for transferring data.</p> <p>Before you begin, make sure that you understand how DataSync <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-nfs-location.html#accessing-nfs\">accesses NFS file servers</a>.</p>"
    },
    "CreateLocationObjectStorage":{
      "name":"CreateLocationObjectStorage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocationObjectStorageRequest"},
      "output":{"shape":"CreateLocationObjectStorageResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates a transfer <i>location</i> for an object storage system. DataSync can use this location as a source or destination for transferring data. You can make transfers with or without a <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/do-i-need-datasync-agent.html#when-agent-required\">DataSync agent</a>.</p> <p>Before you begin, make sure that you understand the <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-object-location.html#create-object-location-prerequisites\">prerequisites</a> for DataSync to work with object storage systems.</p>"
    },
    "CreateLocationS3":{
      "name":"CreateLocationS3",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocationS3Request"},
      "output":{"shape":"CreateLocationS3Response"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates a transfer <i>location</i> for an Amazon S3 bucket. DataSync can use this location as a source or destination for transferring data.</p> <important> <p>Before you begin, make sure that you read the following topics:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-s3-location.html#using-storage-classes\">Storage class considerations with Amazon S3 locations</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-s3-location.html#create-s3-location-s3-requests\">Evaluating S3 request costs when using DataSync</a> </p> </li> </ul> </important> <p> For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-s3-location.html\">Configuring transfers with Amazon S3</a>.</p>"
    },
    "CreateLocationSmb":{
      "name":"CreateLocationSmb",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLocationSmbRequest"},
      "output":{"shape":"CreateLocationSmbResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates a transfer <i>location</i> for a Server Message Block (SMB) file server. DataSync can use this location as a source or destination for transferring data.</p> <p>Before you begin, make sure that you understand how DataSync accesses SMB file servers. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-smb-location.html#configuring-smb-permissions\">Providing DataSync access to SMB file servers</a>.</p>"
    },
    "CreateTask":{
      "name":"CreateTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTaskRequest"},
      "output":{"shape":"CreateTaskResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Configures a <i>task</i>, which defines where and how DataSync transfers your data.</p> <p>A task includes a source location, destination location, and transfer options (such as bandwidth limits, scheduling, and more).</p> <important> <p>If you're planning to transfer data to or from an Amazon S3 location, review <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-s3-location.html#create-s3-location-s3-requests\">how DataSync can affect your S3 request charges</a> and the <a href=\"http://aws.amazon.com/datasync/pricing/\">DataSync pricing page</a> before you begin.</p> </important>"
    },
    "DeleteAgent":{
      "name":"DeleteAgent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAgentRequest"},
      "output":{"shape":"DeleteAgentResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Removes an DataSync agent resource from your Amazon Web Services account.</p> <p>Keep in mind that this operation (which can't be undone) doesn't remove the agent's virtual machine (VM) or Amazon EC2 instance from your storage environment. For next steps, you can delete the VM or instance from your storage environment or reuse it to <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/activate-agent.html\">activate a new agent</a>.</p>"
    },
    "DeleteLocation":{
      "name":"DeleteLocation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteLocationRequest"},
      "output":{"shape":"DeleteLocationResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Deletes a transfer location resource from DataSync. </p>"
    },
    "DeleteTask":{
      "name":"DeleteTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTaskRequest"},
      "output":{"shape":"DeleteTaskResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Deletes a transfer task resource from DataSync.</p>"
    },
    "DescribeAgent":{
      "name":"DescribeAgent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAgentRequest"},
      "output":{"shape":"DescribeAgentResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns information about an DataSync agent, such as its name, service endpoint type, and status.</p>"
    },
    "DescribeLocationAzureBlob":{
      "name":"DescribeLocationAzureBlob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocationAzureBlobRequest"},
      "output":{"shape":"DescribeLocationAzureBlobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Provides details about how an DataSync transfer location for Microsoft Azure Blob Storage is configured.</p>"
    },
    "DescribeLocationEfs":{
      "name":"DescribeLocationEfs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocationEfsRequest"},
      "output":{"shape":"DescribeLocationEfsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Provides details about how an DataSync transfer location for an Amazon EFS file system is configured.</p>"
    },
    "DescribeLocationFsxLustre":{
      "name":"DescribeLocationFsxLustre",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocationFsxLustreRequest"},
      "output":{"shape":"DescribeLocationFsxLustreResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Provides details about how an DataSync transfer location for an Amazon FSx for Lustre file system is configured.</p>"
    },
    "DescribeLocationFsxOntap":{
      "name":"DescribeLocationFsxOntap",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocationFsxOntapRequest"},
      "output":{"shape":"DescribeLocationFsxOntapResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Provides details about how an DataSync transfer location for an Amazon FSx for NetApp ONTAP file system is configured.</p> <note> <p>If your location uses SMB, the <code>DescribeLocationFsxOntap</code> operation doesn't actually return a <code>Password</code>.</p> </note>"
    },
    "DescribeLocationFsxOpenZfs":{
      "name":"DescribeLocationFsxOpenZfs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocationFsxOpenZfsRequest"},
      "output":{"shape":"DescribeLocationFsxOpenZfsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Provides details about how an DataSync transfer location for an Amazon FSx for OpenZFS file system is configured.</p> <note> <p>Response elements related to <code>SMB</code> aren't supported with the <code>DescribeLocationFsxOpenZfs</code> operation.</p> </note>"
    },
    "DescribeLocationFsxWindows":{
      "name":"DescribeLocationFsxWindows",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocationFsxWindowsRequest"},
      "output":{"shape":"DescribeLocationFsxWindowsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Provides details about how an DataSync transfer location for an Amazon FSx for Windows File Server file system is configured.</p>"
    },
    "DescribeLocationHdfs":{
      "name":"DescribeLocationHdfs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocationHdfsRequest"},
      "output":{"shape":"DescribeLocationHdfsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Provides details about how an DataSync transfer location for a Hadoop Distributed File System (HDFS) is configured.</p>"
    },
    "DescribeLocationNfs":{
      "name":"DescribeLocationNfs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocationNfsRequest"},
      "output":{"shape":"DescribeLocationNfsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Provides details about how an DataSync transfer location for a Network File System (NFS) file server is configured.</p>"
    },
    "DescribeLocationObjectStorage":{
      "name":"DescribeLocationObjectStorage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocationObjectStorageRequest"},
      "output":{"shape":"DescribeLocationObjectStorageResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Provides details about how an DataSync transfer location for an object storage system is configured.</p>"
    },
    "DescribeLocationS3":{
      "name":"DescribeLocationS3",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocationS3Request"},
      "output":{"shape":"DescribeLocationS3Response"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Provides details about how an DataSync transfer location for an S3 bucket is configured.</p>"
    },
    "DescribeLocationSmb":{
      "name":"DescribeLocationSmb",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLocationSmbRequest"},
      "output":{"shape":"DescribeLocationSmbResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Provides details about how an DataSync transfer location for a Server Message Block (SMB) file server is configured.</p>"
    },
    "DescribeTask":{
      "name":"DescribeTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTaskRequest"},
      "output":{"shape":"DescribeTaskResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Provides information about a <i>task</i>, which defines where and how DataSync transfers your data.</p>"
    },
    "DescribeTaskExecution":{
      "name":"DescribeTaskExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTaskExecutionRequest"},
      "output":{"shape":"DescribeTaskExecutionResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Provides information about an execution of your DataSync task. You can use this operation to help monitor the progress of an ongoing data transfer or check the results of the transfer.</p> <note> <p>Some <code>DescribeTaskExecution</code> response elements are only relevant to a specific task mode. For information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/choosing-task-mode.html#task-mode-differences\">Understanding task mode differences</a> and <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/transfer-performance-counters.html\">Understanding data transfer performance counters</a>.</p> </note>"
    },
    "ListAgents":{
      "name":"ListAgents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAgentsRequest"},
      "output":{"shape":"ListAgentsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns a list of DataSync agents that belong to an Amazon Web Services account in the Amazon Web Services Region specified in the request.</p> <p>With pagination, you can reduce the number of agents returned in a response. If you get a truncated list of agents in a response, the response contains a marker that you can specify in your next request to fetch the next page of agents.</p> <p> <code>ListAgents</code> is eventually consistent. This means the result of running the operation might not reflect that you just created or deleted an agent. For example, if you create an agent with <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_CreateAgent.html\">CreateAgent</a> and then immediately run <code>ListAgents</code>, that agent might not show up in the list right away. In situations like this, you can always confirm whether an agent has been created (or deleted) by using <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_DescribeAgent.html\">DescribeAgent</a>.</p>"
    },
    "ListLocations":{
      "name":"ListLocations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListLocationsRequest"},
      "output":{"shape":"ListLocationsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns a list of source and destination locations.</p> <p>If you have more locations than are returned in a response (that is, the response returns only a truncated list of your agents), the response contains a token that you can specify in your next request to fetch the next page of locations.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns all the tags associated with an Amazon Web Services resource.</p>"
    },
    "ListTaskExecutions":{
      "name":"ListTaskExecutions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTaskExecutionsRequest"},
      "output":{"shape":"ListTaskExecutionsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns a list of executions for an DataSync transfer task.</p>"
    },
    "ListTasks":{
      "name":"ListTasks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTasksRequest"},
      "output":{"shape":"ListTasksResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Returns a list of the DataSync tasks you created.</p>"
    },
    "StartTaskExecution":{
      "name":"StartTaskExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartTaskExecutionRequest"},
      "output":{"shape":"StartTaskExecutionResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Starts an DataSync transfer task. For each task, you can only run one task execution at a time.</p> <p>There are several steps to a task execution. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/working-with-task-executions.html#understand-task-execution-statuses\">Task execution statuses</a>.</p> <important> <p>If you're planning to transfer data to or from an Amazon S3 location, review <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-s3-location.html#create-s3-location-s3-requests\">how DataSync can affect your S3 request charges</a> and the <a href=\"http://aws.amazon.com/datasync/pricing/\">DataSync pricing page</a> before you begin.</p> </important>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Applies a <i>tag</i> to an Amazon Web Services resource. Tags are key-value pairs that can help you manage, filter, and search for your resources.</p> <p>These include DataSync resources, such as locations, tasks, and task executions.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Removes tags from an Amazon Web Services resource.</p>"
    },
    "UpdateAgent":{
      "name":"UpdateAgent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateAgentRequest"},
      "output":{"shape":"UpdateAgentResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Updates the name of an DataSync agent.</p>"
    },
    "UpdateLocationAzureBlob":{
      "name":"UpdateLocationAzureBlob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateLocationAzureBlobRequest"},
      "output":{"shape":"UpdateLocationAzureBlobResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Modifies the following configurations of the Microsoft Azure Blob Storage transfer location that you're using with DataSync.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/creating-azure-blob-location.html\">Configuring DataSync transfers with Azure Blob Storage</a>.</p>"
    },
    "UpdateLocationEfs":{
      "name":"UpdateLocationEfs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateLocationEfsRequest"},
      "output":{"shape":"UpdateLocationEfsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Modifies the following configuration parameters of the Amazon EFS transfer location that you're using with DataSync.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-efs-location.html\">Configuring DataSync transfers with Amazon EFS</a>.</p>"
    },
    "UpdateLocationFsxLustre":{
      "name":"UpdateLocationFsxLustre",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateLocationFsxLustreRequest"},
      "output":{"shape":"UpdateLocationFsxLustreResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Modifies the following configuration parameters of the Amazon FSx for Lustre transfer location that you're using with DataSync.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-lustre-location.html\">Configuring DataSync transfers with FSx for Lustre</a>.</p>"
    },
    "UpdateLocationFsxOntap":{
      "name":"UpdateLocationFsxOntap",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateLocationFsxOntapRequest"},
      "output":{"shape":"UpdateLocationFsxOntapResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Modifies the following configuration parameters of the Amazon FSx for NetApp ONTAP transfer location that you're using with DataSync.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-ontap-location.html\">Configuring DataSync transfers with FSx for ONTAP</a>.</p>"
    },
    "UpdateLocationFsxOpenZfs":{
      "name":"UpdateLocationFsxOpenZfs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateLocationFsxOpenZfsRequest"},
      "output":{"shape":"UpdateLocationFsxOpenZfsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Modifies the following configuration parameters of the Amazon FSx for OpenZFS transfer location that you're using with DataSync.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-openzfs-location.html\">Configuring DataSync transfers with FSx for OpenZFS</a>.</p> <note> <p>Request parameters related to <code>SMB</code> aren't supported with the <code>UpdateLocationFsxOpenZfs</code> operation.</p> </note>"
    },
    "UpdateLocationFsxWindows":{
      "name":"UpdateLocationFsxWindows",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateLocationFsxWindowsRequest"},
      "output":{"shape":"UpdateLocationFsxWindowsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Modifies the following configuration parameters of the Amazon FSx for Windows File Server transfer location that you're using with DataSync.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-fsx-location.html\">Configuring DataSync transfers with FSx for Windows File Server</a>.</p>"
    },
    "UpdateLocationHdfs":{
      "name":"UpdateLocationHdfs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateLocationHdfsRequest"},
      "output":{"shape":"UpdateLocationHdfsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Modifies the following configuration parameters of the Hadoop Distributed File System (HDFS) transfer location that you're using with DataSync.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-hdfs-location.html\">Configuring DataSync transfers with an HDFS cluster</a>.</p>"
    },
    "UpdateLocationNfs":{
      "name":"UpdateLocationNfs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateLocationNfsRequest"},
      "output":{"shape":"UpdateLocationNfsResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Modifies the following configuration parameters of the Network File System (NFS) transfer location that you're using with DataSync.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-nfs-location.html\">Configuring transfers with an NFS file server</a>.</p>"
    },
    "UpdateLocationObjectStorage":{
      "name":"UpdateLocationObjectStorage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateLocationObjectStorageRequest"},
      "output":{"shape":"UpdateLocationObjectStorageResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Modifies the following configuration parameters of the object storage transfer location that you're using with DataSync.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-object-location.html\">Configuring DataSync transfers with an object storage system</a>.</p>"
    },
    "UpdateLocationS3":{
      "name":"UpdateLocationS3",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateLocationS3Request"},
      "output":{"shape":"UpdateLocationS3Response"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Modifies the following configuration parameters of the Amazon S3 transfer location that you're using with DataSync.</p> <important> <p>Before you begin, make sure that you read the following topics:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-s3-location.html#using-storage-classes\">Storage class considerations with Amazon S3 locations</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-s3-location.html#create-s3-location-s3-requests\">Evaluating S3 request costs when using DataSync</a> </p> </li> </ul> </important>"
    },
    "UpdateLocationSmb":{
      "name":"UpdateLocationSmb",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateLocationSmbRequest"},
      "output":{"shape":"UpdateLocationSmbResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Modifies the following configuration parameters of the Server Message Block (SMB) transfer location that you're using with DataSync.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-smb-location.html\">Configuring DataSync transfers with an SMB file server</a>.</p>"
    },
    "UpdateTask":{
      "name":"UpdateTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateTaskRequest"},
      "output":{"shape":"UpdateTaskResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Updates the configuration of a <i>task</i>, which defines where and how DataSync transfers your data.</p>"
    },
    "UpdateTaskExecution":{
      "name":"UpdateTaskExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateTaskExecutionRequest"},
      "output":{"shape":"UpdateTaskExecutionResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Updates the configuration of a running DataSync task execution.</p> <note> <p>Currently, the only <code>Option</code> that you can modify with <code>UpdateTaskExecution</code> is <code> <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_Options.html#DataSync-Type-Options-BytesPerSecond\">BytesPerSecond</a> </code>, which throttles bandwidth for a running or queued task execution.</p> </note>"
    }
  },
  "shapes":{
    "ActivationKey":{
      "type":"string",
      "max":29,
      "pattern":"[A-Z0-9]{5}(-[A-Z0-9]{5}){4}"
    },
    "AgentArn":{
      "type":"string",
      "max":128,
      "pattern":"^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):datasync:[a-z\\-0-9]+:[0-9]{12}:agent/agent-[0-9a-z]{17}$"
    },
    "AgentArnList":{
      "type":"list",
      "member":{"shape":"AgentArn"},
      "max":4,
      "min":1
    },
    "AgentList":{
      "type":"list",
      "member":{"shape":"AgentListEntry"}
    },
    "AgentListEntry":{
      "type":"structure",
      "members":{
        "AgentArn":{
          "shape":"AgentArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of a DataSync agent.</p>"
        },
        "Name":{
          "shape":"TagValue",
          "documentation":"<p>The name of an agent.</p>"
        },
        "Status":{
          "shape":"AgentStatus",
          "documentation":"<p>The status of an agent.</p> <ul> <li> <p>If the status is <code>ONLINE</code>, the agent is configured properly and ready to use.</p> </li> <li> <p>If the status is <code>OFFLINE</code>, the agent has been out of contact with DataSync for five minutes or longer. This can happen for a few reasons. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/troubleshooting-datasync-agents.html#troubleshoot-agent-offline\">What do I do if my agent is offline?</a> </p> </li> </ul>"
        },
        "Platform":{
          "shape":"Platform",
          "documentation":"<p>The platform-related details about the agent, such as the version number.</p>"
        }
      },
      "documentation":"<p>Represents a single entry in a list (or array) of DataSync agents when you call the <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_ListAgents.html\">ListAgents</a> operation.</p>"
    },
    "AgentStatus":{
      "type":"string",
      "enum":[
        "ONLINE",
        "OFFLINE"
      ]
    },
    "AgentVersion":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"^[a-zA-Z0-9\\s+=._:@/-]+$"
    },
    "Atime":{
      "type":"string",
      "enum":[
        "NONE",
        "BEST_EFFORT"
      ]
    },
    "AzureAccessTier":{
      "type":"string",
      "enum":[
        "HOT",
        "COOL",
        "ARCHIVE"
      ]
    },
    "AzureBlobAuthenticationType":{
      "type":"string",
      "enum":[
        "SAS",
        "NONE"
      ]
    },
    "AzureBlobContainerUrl":{
      "type":"string",
      "max":325,
      "pattern":"^https:\\/\\/[A-Za-z0-9]((\\.|-+)?[A-Za-z0-9]){0,252}\\/[a-z0-9](-?[a-z0-9]){2,62}$"
    },
    "AzureBlobSasConfiguration":{
      "type":"structure",
      "required":["Token"],
      "members":{
        "Token":{
          "shape":"AzureBlobSasToken",
          "documentation":"<p>Specifies a SAS token that provides permissions to access your Azure Blob Storage.</p> <p>The token is part of the SAS URI string that comes after the storage resource URI and a question mark. A token looks something like this:</p> <p> <code>sp=r&amp;st=2023-12-20T14:54:52Z&amp;se=2023-12-20T22:54:52Z&amp;spr=https&amp;sv=2021-06-08&amp;sr=c&amp;sig=aBBKDWQvyuVcTPH9EBp%2FXTI9E%2F%2Fmq171%2BZU178wcwqU%3D</code> </p>"
        }
      },
      "documentation":"<p>The shared access signature (SAS) configuration that allows DataSync to access your Microsoft Azure Blob Storage.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/creating-azure-blob-location.html#azure-blob-sas-tokens\">SAS tokens</a> for accessing your Azure Blob Storage.</p>"
    },
    "AzureBlobSasToken":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^.+$",
      "sensitive":true
    },
    "AzureBlobSubdirectory":{
      "type":"string",
      "max":1024,
      "pattern":"^[\\p{L}\\p{M}\\p{Z}\\p{S}\\p{N}\\p{P}\\p{C}]*$"
    },
    "AzureBlobType":{
      "type":"string",
      "enum":["BLOCK"]
    },
    "BytesPerSecond":{
      "type":"long",
      "min":-1
    },
    "CancelTaskExecutionRequest":{
      "type":"structure",
      "required":["TaskExecutionArn"],
      "members":{
        "TaskExecutionArn":{
          "shape":"TaskExecutionArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the task execution to stop.</p>"
        }
      },
      "documentation":"<p>CancelTaskExecutionRequest</p>"
    },
    "CancelTaskExecutionResponse":{
      "type":"structure",
      "members":{}
    },
    "CmkSecretConfig":{
      "type":"structure",
      "members":{
        "SecretArn":{
          "shape":"SecretArn",
          "documentation":"<p>Specifies the ARN for the DataSync-managed Secrets Manager secret that that is used to access a specific storage location. This property is generated by DataSync and is read-only. DataSync encrypts this secret with the KMS key that you specify for <code>KmsKeyArn</code>.</p>"
        },
        "KmsKeyArn":{
          "shape":"KmsKeyArn",
          "documentation":"<p>Specifies the ARN for the customer-managed KMS key that DataSync uses to encrypt the DataSync-managed secret stored for <code>SecretArn</code>. DataSync provides this key to Secrets Manager.</p>"
        }
      },
      "documentation":"<p>Specifies configuration information for a DataSync-managed secret, such as an authentication token or secret key that DataSync uses to access a specific storage location, with a customer-managed KMS key.</p> <note> <p>You can use either <code>CmkSecretConfig</code> or <code>CustomSecretConfig</code> to provide credentials for a <code>CreateLocation</code> request. Do not provide both parameters for the same request.</p> </note>"
    },
    "CreateAgentRequest":{
      "type":"structure",
      "required":["ActivationKey"],
      "members":{
        "ActivationKey":{
          "shape":"ActivationKey",
          "documentation":"<p>Specifies your DataSync agent's activation key. If you don't have an activation key, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/activate-agent.html\">Activating your agent</a>.</p>"
        },
        "AgentName":{
          "shape":"TagValue",
          "documentation":"<p>Specifies a name for your agent. We recommend specifying a name that you can remember.</p>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services resources. We recommend creating at least one tag for your agent.</p>"
        },
        "VpcEndpointId":{
          "shape":"VpcEndpointId",
          "documentation":"<p>Specifies the ID of the <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/choose-service-endpoint.html#datasync-in-vpc\">VPC service endpoint</a> that you're using. For example, a VPC endpoint ID looks like <code>vpce-01234d5aff67890e1</code>.</p> <important> <p>The VPC service endpoint you use must include the DataSync service name (for example, <code>com.amazonaws.us-east-2.datasync</code>).</p> </important>"
        },
        "SubnetArns":{
          "shape":"PLSubnetArnList",
          "documentation":"<p>Specifies the ARN of the subnet where your VPC service endpoint is located. You can only specify one ARN.</p>"
        },
        "SecurityGroupArns":{
          "shape":"PLSecurityGroupArnList",
          "documentation":"<p>Specifies the Amazon Resource Name (ARN) of the security group that allows traffic between your agent and VPC service endpoint. You can only specify one ARN.</p>"
        }
      },
      "documentation":"<p>CreateAgentRequest</p>"
    },
    "CreateAgentResponse":{
      "type":"structure",
      "members":{
        "AgentArn":{
          "shape":"AgentArn",
          "documentation":"<p>The ARN of the agent that you just activated. Use the <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/API_ListAgents.html\">ListAgents</a> operation to return a list of agents in your Amazon Web Services account and Amazon Web Services Region.</p>"
        }
      },
      "documentation":"<p>CreateAgentResponse</p>"
    },
    "CreateLocationAzureBlobRequest":{
      "type":"structure",
      "required":[
        "ContainerUrl",
        "AuthenticationType"
      ],
      "members":{
        "ContainerUrl":{
          "shape":"AzureBlobContainerUrl",
          "documentation":"<p>Specifies the URL of the Azure Blob Storage container involved in your transfer.</p>"
        },
        "AuthenticationType":{
          "shape":"AzureBlobAuthenticationType",
          "documentation":"<p>Specifies the authentication method DataSync uses to access your Azure Blob Storage. DataSync can access blob storage using a shared access signature (SAS).</p>"
        },
        "SasConfiguration":{
          "shape":"AzureBlobSasConfiguration",
          "documentation":"<p>Specifies the SAS configuration that allows DataSync to access your Azure Blob Storage.</p> <note> <p>If you provide an authentication token using <code>SasConfiguration</code>, but do not provide secret configuration details using <code>CmkSecretConfig</code> or <code>CustomSecretConfig</code>, then DataSync stores the token using your Amazon Web Services account's secrets manager secret.</p> </note>"
        },
        "BlobType":{
          "shape":"AzureBlobType",
          "documentation":"<p>Specifies the type of blob that you want your objects or files to be when transferring them into Azure Blob Storage. Currently, DataSync only supports moving data into Azure Blob Storage as block blobs. For more information on blob types, see the <a href=\"https://learn.microsoft.com/en-us/rest/api/storageservices/understanding-block-blobs--append-blobs--and-page-blobs\">Azure Blob Storage documentation</a>.</p>"
        },
        "AccessTier":{
          "shape":"AzureAccessTier",
          "documentation":"<p>Specifies the access tier that you want your objects or files transferred into. This only applies when using the location as a transfer destination. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/creating-azure-blob-location.html#azure-blob-access-tiers\">Access tiers</a>.</p>"
        },
        "Subdirectory":{
          "shape":"AzureBlobSubdirectory",
          "documentation":"<p>Specifies path segments if you want to limit your transfer to a virtual directory in your container (for example, <code>/my/images</code>).</p>"
        },
        "AgentArns":{
          "shape":"AgentArnList",
          "documentation":"<p>(Optional) Specifies the Amazon Resource Name (ARN) of the DataSync agent that can connect with your Azure Blob Storage container. If you are setting up an agentless cross-cloud transfer, you do not need to specify a value for this parameter.</p> <p>You can specify more than one agent. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/multiple-agents.html\">Using multiple agents for your transfer</a>.</p> <note> <p>Make sure you configure this parameter correctly when you first create your storage location. You cannot add or remove agents from a storage location after you create it.</p> </note>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services resources. We recommend creating at least a name tag for your transfer location.</p>"
        },
        "CmkSecretConfig":{
          "shape":"CmkSecretConfig",
          "documentation":"<p>Specifies configuration information for a DataSync-managed secret, which includes the authentication token that DataSync uses to access a specific AzureBlob storage location, with a customer-managed KMS key.</p> <p>When you include this paramater as part of a <code>CreateLocationAzureBlob</code> request, you provide only the KMS key ARN. DataSync uses this KMS key together with the authentication token you specify for <code>SasConfiguration</code> to create a DataSync-managed secret to store the location access credentials.</p> <p>Make sure the DataSync has permission to access the KMS key that you specify.</p> <note> <p>You can use either <code>CmkSecretConfig</code> (with <code>SasConfiguration</code>) or <code>CustomSecretConfig</code> (without <code>SasConfiguration</code>) to provide credentials for a <code>CreateLocationAzureBlob</code> request. Do not provide both parameters for the same request.</p> </note>"
        },
        "CustomSecretConfig":{
          "shape":"CustomSecretConfig",
          "documentation":"<p>Specifies configuration information for a customer-managed Secrets Manager secret where the authentication token for an AzureBlob storage location is stored in plain text. This configuration includes the secret ARN, and the ARN for an IAM role that provides access to the secret.</p> <note> <p>You can use either <code>CmkSecretConfig</code> (with <code>SasConfiguration</code>) or <code>CustomSecretConfig</code> (without <code>SasConfiguration</code>) to provide credentials for a <code>CreateLocationAzureBlob</code> request. Do not provide both parameters for the same request.</p> </note>"
        }
      }
    },
    "CreateLocationAzureBlobResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The ARN of the Azure Blob Storage transfer location that you created.</p>"
        }
      }
    },
    "CreateLocationEfsRequest":{
      "type":"structure",
      "required":[
        "EfsFilesystemArn",
        "Ec2Config"
      ],
      "members":{
        "Subdirectory":{
          "shape":"EfsSubdirectory",
          "documentation":"<p>Specifies a mount path for your Amazon EFS file system. This is where DataSync reads or writes data on your file system (depending on if this is a source or destination location).</p> <p>By default, DataSync uses the root directory (or <a href=\"https://docs.aws.amazon.com/efs/latest/ug/efs-access-points.html\">access point</a> if you provide one by using <code>AccessPointArn</code>). You can also include subdirectories using forward slashes (for example, <code>/path/to/folder</code>).</p>"
        },
        "EfsFilesystemArn":{
          "shape":"EfsFilesystemArn",
          "documentation":"<p>Specifies the ARN for your Amazon EFS file system.</p>"
        },
        "Ec2Config":{
          "shape":"Ec2Config",
          "documentation":"<p>Specifies the subnet and security groups DataSync uses to connect to one of your Amazon EFS file system's <a href=\"https://docs.aws.amazon.com/efs/latest/ug/accessing-fs.html\">mount targets</a>.</p>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>Specifies the key-value pair that represents a tag that you want to add to the resource. The value can be an empty string. This value helps you manage, filter, and search for your resources. We recommend that you create a name tag for your location.</p>"
        },
        "AccessPointArn":{
          "shape":"EfsAccessPointArn",
          "documentation":"<p>Specifies the Amazon Resource Name (ARN) of the access point that DataSync uses to mount your Amazon EFS file system.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-efs-location.html#create-efs-location-iam\">Accessing restricted file systems</a>.</p>"
        },
        "FileSystemAccessRoleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p>Specifies an Identity and Access Management (IAM) role that allows DataSync to access your Amazon EFS file system.</p> <p>For information on creating this role, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-efs-location.html#create-efs-location-iam-role\">Creating a DataSync IAM role for file system access</a>.</p>"
        },
        "InTransitEncryption":{
          "shape":"EfsInTransitEncryption",
          "documentation":"<p>Specifies whether you want DataSync to use Transport Layer Security (TLS) 1.2 encryption when it transfers data to or from your Amazon EFS file system.</p> <p>If you specify an access point using <code>AccessPointArn</code> or an IAM role using <code>FileSystemAccessRoleArn</code>, you must set this parameter to <code>TLS1_2</code>.</p>"
        }
      },
      "documentation":"<p>CreateLocationEfsRequest</p>"
    },
    "CreateLocationEfsResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon EFS file system location that you create.</p>"
        }
      },
      "documentation":"<p>CreateLocationEfs</p>"
    },
    "CreateLocationFsxLustreRequest":{
      "type":"structure",
      "required":[
        "FsxFilesystemArn",
        "SecurityGroupArns"
      ],
      "members":{
        "FsxFilesystemArn":{
          "shape":"FsxFilesystemArn",
          "documentation":"<p>Specifies the Amazon Resource Name (ARN) of the FSx for Lustre file system.</p>"
        },
        "SecurityGroupArns":{
          "shape":"Ec2SecurityGroupArnList",
          "documentation":"<p>Specifies the Amazon Resource Names (ARNs) of up to five security groups that provide access to your FSx for Lustre file system.</p> <p>The security groups must be able to access the file system's ports. The file system must also allow access from the security groups. For information about file system access, see the <a href=\"https://docs.aws.amazon.com/fsx/latest/LustreGuide/limit-access-security-groups.html\"> <i>Amazon FSx for Lustre User Guide</i> </a>.</p>"
        },
        "Subdirectory":{
          "shape":"FsxLustreSubdirectory",
          "documentation":"<p>Specifies a mount path for your FSx for Lustre file system. The path can include subdirectories.</p> <p>When the location is used as a source, DataSync reads data from the mount path. When the location is used as a destination, DataSync writes data to the mount path. If you don't include this parameter, DataSync uses the file system's root directory (<code>/</code>).</p>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services resources. We recommend creating at least a name tag for your location.</p>"
        }
      }
    },
    "CreateLocationFsxLustreResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the FSx for Lustre file system location that you created. </p>"
        }
      }
    },
    "CreateLocationFsxOntapRequest":{
      "type":"structure",
      "required":[
        "Protocol",
        "SecurityGroupArns",
        "StorageVirtualMachineArn"
      ],
      "members":{
        "Protocol":{"shape":"FsxProtocol"},
        "SecurityGroupArns":{
          "shape":"Ec2SecurityGroupArnList",
          "documentation":"<p>Specifies the Amazon EC2 security groups that provide access to your file system's preferred subnet.</p> <p>The security groups must allow outbound traffic on the following ports (depending on the protocol you use):</p> <ul> <li> <p> <b>Network File System (NFS)</b>: TCP ports 111, 635, and 2049</p> </li> <li> <p> <b>Server Message Block (SMB)</b>: TCP port 445</p> </li> </ul> <p>Your file system's security groups must also allow inbound traffic on the same ports.</p>"
        },
        "StorageVirtualMachineArn":{
          "shape":"StorageVirtualMachineArn",
          "documentation":"<p>Specifies the ARN of the storage virtual machine (SVM) in your file system where you want to copy data to or from.</p>"
        },
        "Subdirectory":{
          "shape":"FsxOntapSubdirectory",
          "documentation":"<p>Specifies a path to the file share in the SVM where you want to transfer data to or from.</p> <p>You can specify a junction path (also known as a mount point), qtree path (for NFS file shares), or share name (for SMB file shares). For example, your mount path might be <code>/vol1</code>, <code>/vol1/tree1</code>, or <code>/share1</code>.</p> <note> <p>Don't specify a junction path in the SVM's root volume. For more information, see <a href=\"https://docs.aws.amazon.com/fsx/latest/ONTAPGuide/managing-svms.html\">Managing FSx for ONTAP storage virtual machines</a> in the <i>Amazon FSx for NetApp ONTAP User Guide</i>.</p> </note>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services resources. We recommend creating at least a name tag for your location.</p>"
        }
      }
    },
    "CreateLocationFsxOntapResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>Specifies the ARN of the FSx for ONTAP file system location that you create.</p>"
        }
      }
    },
    "CreateLocationFsxOpenZfsRequest":{
      "type":"structure",
      "required":[
        "FsxFilesystemArn",
        "Protocol",
        "SecurityGroupArns"
      ],
      "members":{
        "FsxFilesystemArn":{
          "shape":"FsxFilesystemArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the FSx for OpenZFS file system.</p>"
        },
        "Protocol":{
          "shape":"FsxProtocol",
          "documentation":"<p>The type of protocol that DataSync uses to access your file system.</p>"
        },
        "SecurityGroupArns":{
          "shape":"Ec2SecurityGroupArnList",
          "documentation":"<p>The ARNs of the security groups that are used to configure the FSx for OpenZFS file system.</p>"
        },
        "Subdirectory":{
          "shape":"FsxOpenZfsSubdirectory",
          "documentation":"<p>A subdirectory in the location's path that must begin with <code>/fsx</code>. DataSync uses this subdirectory to read or write data (depending on whether the file system is a source or destination location).</p>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>The key-value pair that represents a tag that you want to add to the resource. The value can be an empty string. This value helps you manage, filter, and search for your resources. We recommend that you create a name tag for your location.</p>"
        }
      }
    },
    "CreateLocationFsxOpenZfsResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The ARN of the FSx for OpenZFS file system location that you created.</p>"
        }
      }
    },
    "CreateLocationFsxWindowsRequest":{
      "type":"structure",
      "required":[
        "FsxFilesystemArn",
        "SecurityGroupArns",
        "User",
        "Password"
      ],
      "members":{
        "Subdirectory":{
          "shape":"FsxWindowsSubdirectory",
          "documentation":"<p>Specifies a mount path for your file system using forward slashes. This is where DataSync reads or writes data (depending on if this is a source or destination location).</p>"
        },
        "FsxFilesystemArn":{
          "shape":"FsxFilesystemArn",
          "documentation":"<p>Specifies the Amazon Resource Name (ARN) for the FSx for Windows File Server file system.</p>"
        },
        "SecurityGroupArns":{
          "shape":"Ec2SecurityGroupArnList",
          "documentation":"<p>Specifies the ARNs of the Amazon EC2 security groups that provide access to your file system's preferred subnet.</p> <p>The security groups that you specify must be able to communicate with your file system's security groups. For information about configuring security groups for file system access, see the <a href=\"https://docs.aws.amazon.com/fsx/latest/WindowsGuide/limit-access-security-groups.html\"> <i>Amazon FSx for Windows File Server User Guide</i> </a>.</p> <note> <p>If you choose a security group that doesn't allow connections from within itself, do one of the following:</p> <ul> <li> <p>Configure the security group to allow it to communicate within itself.</p> </li> <li> <p>Choose a different security group that can communicate with the mount target's security group.</p> </li> </ul> </note>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services resources. We recommend creating at least a name tag for your location.</p>"
        },
        "User":{
          "shape":"SmbUser",
          "documentation":"<p>Specifies the user with the permissions to mount and access the files, folders, and file metadata in your FSx for Windows File Server file system.</p> <p>For information about choosing a user with the right level of access for your transfer, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-fsx-location.html#create-fsx-windows-location-permissions\">required permissions</a> for FSx for Windows File Server locations.</p>"
        },
        "Domain":{
          "shape":"SmbDomain",
          "documentation":"<p>Specifies the name of the Windows domain that the FSx for Windows File Server file system belongs to.</p> <p>If you have multiple Active Directory domains in your environment, configuring this parameter makes sure that DataSync connects to the right file system.</p>"
        },
        "Password":{
          "shape":"SmbPassword",
          "documentation":"<p>Specifies the password of the user with the permissions to mount and access the files, folders, and file metadata in your FSx for Windows File Server file system.</p>"
        }
      }
    },
    "CreateLocationFsxWindowsResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The ARN of the FSx for Windows File Server file system location you created.</p>"
        }
      }
    },
    "CreateLocationHdfsRequest":{
      "type":"structure",
      "required":[
        "NameNodes",
        "AuthenticationType",
        "AgentArns"
      ],
      "members":{
        "Subdirectory":{
          "shape":"HdfsSubdirectory",
          "documentation":"<p>A subdirectory in the HDFS cluster. This subdirectory is used to read data from or write data to the HDFS cluster. If the subdirectory isn't specified, it will default to <code>/</code>.</p>"
        },
        "NameNodes":{
          "shape":"HdfsNameNodeList",
          "documentation":"<p>The NameNode that manages the HDFS namespace. The NameNode performs operations such as opening, closing, and renaming files and directories. The NameNode contains the information to map blocks of data to the DataNodes. You can use only one NameNode.</p>"
        },
        "BlockSize":{
          "shape":"HdfsBlockSize",
          "documentation":"<p>The size of data blocks to write into the HDFS cluster. The block size must be a multiple of 512 bytes. The default block size is 128 mebibytes (MiB).</p>"
        },
        "ReplicationFactor":{
          "shape":"HdfsReplicationFactor",
          "documentation":"<p>The number of DataNodes to replicate the data to when writing to the HDFS cluster. By default, data is replicated to three DataNodes.</p>"
        },
        "KmsKeyProviderUri":{
          "shape":"KmsKeyProviderUri",
          "documentation":"<p>The URI of the HDFS cluster's Key Management Server (KMS). </p>"
        },
        "QopConfiguration":{
          "shape":"QopConfiguration",
          "documentation":"<p>The Quality of Protection (QOP) configuration specifies the Remote Procedure Call (RPC) and data transfer protection settings configured on the Hadoop Distributed File System (HDFS) cluster. If <code>QopConfiguration</code> isn't specified, <code>RpcProtection</code> and <code>DataTransferProtection</code> default to <code>PRIVACY</code>. If you set <code>RpcProtection</code> or <code>DataTransferProtection</code>, the other parameter assumes the same value. </p>"
        },
        "AuthenticationType":{
          "shape":"HdfsAuthenticationType",
          "documentation":"<p>The type of authentication used to determine the identity of the user. </p>"
        },
        "SimpleUser":{
          "shape":"HdfsUser",
          "documentation":"<p>The user name used to identify the client on the host operating system. </p> <note> <p>If <code>SIMPLE</code> is specified for <code>AuthenticationType</code>, this parameter is required. </p> </note>"
        },
        "KerberosPrincipal":{
          "shape":"KerberosPrincipal",
          "documentation":"<p>The Kerberos principal with access to the files and folders on the HDFS cluster. </p> <note> <p>If <code>KERBEROS</code> is specified for <code>AuthenticationType</code>, this parameter is required.</p> </note>"
        },
        "KerberosKeytab":{
          "shape":"KerberosKeytabFile",
          "documentation":"<p>The Kerberos key table (keytab) that contains mappings between the defined Kerberos principal and the encrypted keys. You can load the keytab from a file by providing the file's address.</p> <note> <p>If <code>KERBEROS</code> is specified for <code>AuthenticationType</code>, this parameter is required. </p> </note>"
        },
        "KerberosKrb5Conf":{
          "shape":"KerberosKrb5ConfFile",
          "documentation":"<p>The <code>krb5.conf</code> file that contains the Kerberos configuration information. You can load the <code>krb5.conf</code> file by providing the file's address. If you're using the CLI, it performs the base64 encoding for you. Otherwise, provide the base64-encoded text. </p> <note> <p>If <code>KERBEROS</code> is specified for <code>AuthenticationType</code>, this parameter is required.</p> </note>"
        },
        "AgentArns":{
          "shape":"AgentArnList",
          "documentation":"<p>The Amazon Resource Names (ARNs) of the DataSync agents that can connect to your HDFS cluster.</p>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>The key-value pair that represents the tag that you want to add to the location. The value can be an empty string. We recommend using tags to name your resources. </p>"
        }
      }
    },
    "CreateLocationHdfsResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The ARN of the source HDFS cluster location that you create.</p>"
        }
      }
    },
    "CreateLocationNfsRequest":{
      "type":"structure",
      "required":[
        "Subdirectory",
        "ServerHostname",
        "OnPremConfig"
      ],
      "members":{
        "Subdirectory":{
          "shape":"NfsSubdirectory",
          "documentation":"<p>Specifies the export path in your NFS file server that you want DataSync to mount.</p> <p>This path (or a subdirectory of the path) is where DataSync transfers data to or from. For information on configuring an export for DataSync, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-nfs-location.html#accessing-nfs\">Accessing NFS file servers</a>.</p>"
        },
        "ServerHostname":{
          "shape":"ServerHostname",
          "documentation":"<p>Specifies the DNS name or IP address (IPv4 or IPv6) of the NFS file server that your DataSync agent connects to.</p>"
        },
        "OnPremConfig":{
          "shape":"OnPremConfig",
          "documentation":"<p>Specifies the Amazon Resource Name (ARN) of the DataSync agent that can connect to your NFS file server.</p> <p>You can specify more than one agent. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/do-i-need-datasync-agent.html#multiple-agents\">Using multiple DataSync agents</a>.</p>"
        },
        "MountOptions":{
          "shape":"NfsMountOptions",
          "documentation":"<p>Specifies the options that DataSync can use to mount your NFS file server.</p>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services resources. We recommend creating at least a name tag for your location.</p>"
        }
      },
      "documentation":"<p>CreateLocationNfsRequest</p>"
    },
    "CreateLocationNfsResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The ARN of the transfer location that you created for your NFS file server.</p>"
        }
      },
      "documentation":"<p>CreateLocationNfsResponse</p>"
    },
    "CreateLocationObjectStorageRequest":{
      "type":"structure",
      "required":[
        "ServerHostname",
        "BucketName"
      ],
      "members":{
        "ServerHostname":{
          "shape":"ServerHostname",
          "documentation":"<p>Specifies the domain name or IP address (IPv4 or IPv6) of the object storage server that your DataSync agent connects to.</p>"
        },
        "ServerPort":{
          "shape":"ObjectStorageServerPort",
          "documentation":"<p>Specifies the port that your object storage server accepts inbound network traffic on (for example, port 443).</p>"
        },
        "ServerProtocol":{
          "shape":"ObjectStorageServerProtocol",
          "documentation":"<p>Specifies the protocol that your object storage server uses to communicate. If not specified, the default value is <code>HTTPS</code>.</p>"
        },
        "Subdirectory":{
          "shape":"S3Subdirectory",
          "documentation":"<p>Specifies the object prefix for your object storage server. If this is a source location, DataSync only copies objects with this prefix. If this is a destination location, DataSync writes all objects with this prefix. </p>"
        },
        "BucketName":{
          "shape":"ObjectStorageBucketName",
          "documentation":"<p>Specifies the name of the object storage bucket involved in the transfer.</p>"
        },
        "AccessKey":{
          "shape":"ObjectStorageAccessKey",
          "documentation":"<p>Specifies the access key (for example, a user name) if credentials are required to authenticate with the object storage server.</p>"
        },
        "SecretKey":{
          "shape":"ObjectStorageSecretKey",
          "documentation":"<p>Specifies the secret key (for example, a password) if credentials are required to authenticate with the object storage server.</p> <note> <p>If you provide a secret using <code>SecretKey</code>, but do not provide secret configuration details using <code>CmkSecretConfig</code> or <code>CustomSecretConfig</code>, then DataSync stores the token using your Amazon Web Services account's Secrets Manager secret.</p> </note>"
        },
        "AgentArns":{
          "shape":"AgentArnList",
          "documentation":"<p>(Optional) Specifies the Amazon Resource Names (ARNs) of the DataSync agents that can connect with your object storage system. If you are setting up an agentless cross-cloud transfer, you do not need to specify a value for this parameter.</p> <note> <p>Make sure you configure this parameter correctly when you first create your storage location. You cannot add or remove agents from a storage location after you create it.</p> </note>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>Specifies the key-value pair that represents a tag that you want to add to the resource. Tags can help you manage, filter, and search for your resources. We recommend creating a name tag for your location.</p>"
        },
        "ServerCertificate":{
          "shape":"ObjectStorageCertificate",
          "documentation":"<p>Specifies a certificate chain for DataSync to authenticate with your object storage system if the system uses a private or self-signed certificate authority (CA). You must specify a single <code>.pem</code> file with a full certificate chain (for example, <code>file:///home/user/.ssh/object_storage_certificates.pem</code>).</p> <p>The certificate chain might include:</p> <ul> <li> <p>The object storage system's certificate</p> </li> <li> <p>All intermediate certificates (if there are any)</p> </li> <li> <p>The root certificate of the signing CA</p> </li> </ul> <p>You can concatenate your certificates into a <code>.pem</code> file (which can be up to 32768 bytes before base64 encoding). The following example <code>cat</code> command creates an <code>object_storage_certificates.pem</code> file that includes three certificates:</p> <p> <code>cat object_server_certificate.pem intermediate_certificate.pem ca_root_certificate.pem &gt; object_storage_certificates.pem</code> </p> <p>To use this parameter, configure <code>ServerProtocol</code> to <code>HTTPS</code>.</p>"
        },
        "CmkSecretConfig":{
          "shape":"CmkSecretConfig",
          "documentation":"<p>Specifies configuration information for a DataSync-managed secret, which includes the <code>SecretKey</code> that DataSync uses to access a specific object storage location, with a customer-managed KMS key.</p> <p>When you include this paramater as part of a <code>CreateLocationObjectStorage</code> request, you provide only the KMS key ARN. DataSync uses this KMS key together with the value you specify for the <code>SecretKey</code> parameter to create a DataSync-managed secret to store the location access credentials.</p> <p>Make sure the DataSync has permission to access the KMS key that you specify.</p> <note> <p>You can use either <code>CmkSecretConfig</code> (with <code>SecretKey</code>) or <code>CustomSecretConfig</code> (without <code>SecretKey</code>) to provide credentials for a <code>CreateLocationObjectStorage</code> request. Do not provide both parameters for the same request.</p> </note>"
        },
        "CustomSecretConfig":{
          "shape":"CustomSecretConfig",
          "documentation":"<p>Specifies configuration information for a customer-managed Secrets Manager secret where the secret key for a specific object storage location is stored in plain text. This configuration includes the secret ARN, and the ARN for an IAM role that provides access to the secret.</p> <note> <p>You can use either <code>CmkSecretConfig</code> (with <code>SecretKey</code>) or <code>CustomSecretConfig</code> (without <code>SecretKey</code>) to provide credentials for a <code>CreateLocationObjectStorage</code> request. Do not provide both parameters for the same request.</p> </note>"
        }
      },
      "documentation":"<p>CreateLocationObjectStorageRequest</p>"
    },
    "CreateLocationObjectStorageResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>Specifies the ARN of the object storage system location that you create.</p>"
        }
      },
      "documentation":"<p>CreateLocationObjectStorageResponse</p>"
    },
    "CreateLocationS3Request":{
      "type":"structure",
      "required":[
        "S3BucketArn",
        "S3Config"
      ],
      "members":{
        "Subdirectory":{
          "shape":"S3Subdirectory",
          "documentation":"<p>Specifies a prefix in the S3 bucket that DataSync reads from or writes to (depending on whether the bucket is a source or destination location).</p> <note> <p>DataSync can't transfer objects with a prefix that begins with a slash (<code>/</code>) or includes <code>//</code>, <code>/./</code>, or <code>/../</code> patterns. For example:</p> <ul> <li> <p> <code>/photos</code> </p> </li> <li> <p> <code>photos//2006/January</code> </p> </li> <li> <p> <code>photos/./2006/February</code> </p> </li> <li> <p> <code>photos/../2006/March</code> </p> </li> </ul> </note>"
        },
        "S3BucketArn":{
          "shape":"S3BucketArn",
          "documentation":"<p>Specifies the ARN of the S3 bucket that you want to use as a location. (When creating your DataSync task later, you specify whether this location is a transfer source or destination.) </p> <p>If your S3 bucket is located on an Outposts resource, you must specify an Amazon S3 access point. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/access-points.html\">Managing data access with Amazon S3 access points</a> in the <i>Amazon S3 User Guide</i>.</p>"
        },
        "S3StorageClass":{
          "shape":"S3StorageClass",
          "documentation":"<p>Specifies the storage class that you want your objects to use when Amazon S3 is a transfer destination.</p> <p>For buckets in Amazon Web Services Regions, the storage class defaults to <code>STANDARD</code>. For buckets on Outposts, the storage class defaults to <code>OUTPOSTS</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-s3-location.html#using-storage-classes\">Storage class considerations with Amazon S3 transfers</a>.</p>"
        },
        "S3Config":{"shape":"S3Config"},
        "AgentArns":{
          "shape":"AgentArnList",
          "documentation":"<p>(Amazon S3 on Outposts only) Specifies the Amazon Resource Name (ARN) of the DataSync agent on your Outpost.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/deploy-agents.html#outposts-agent\">Deploy your DataSync agent on Outposts</a>.</p>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services resources. We recommend creating at least a name tag for your transfer location.</p>"
        }
      },
      "documentation":"<p>CreateLocationS3Request</p>"
    },
    "CreateLocationS3Response":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The ARN of the S3 location that you created.</p>"
        }
      },
      "documentation":"<p>CreateLocationS3Response</p>"
    },
    "CreateLocationSmbRequest":{
      "type":"structure",
      "required":[
        "Subdirectory",
        "ServerHostname",
        "AgentArns"
      ],
      "members":{
        "Subdirectory":{
          "shape":"SmbSubdirectory",
          "documentation":"<p>Specifies the name of the share exported by your SMB file server where DataSync will read or write data. You can include a subdirectory in the share path (for example, <code>/path/to/subdirectory</code>). Make sure that other SMB clients in your network can also mount this path.</p> <p>To copy all data in the subdirectory, DataSync must be able to mount the SMB share and access all of its data. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-smb-location.html#configuring-smb-permissions\">Providing DataSync access to SMB file servers</a>.</p>"
        },
        "ServerHostname":{
          "shape":"ServerHostname",
          "documentation":"<p>Specifies the domain name or IP address (IPv4 or IPv6) of the SMB file server that your DataSync agent connects to.</p> <note> <p>If you're using Kerberos authentication, you must specify a domain name.</p> </note>"
        },
        "User":{
          "shape":"SmbUser",
          "documentation":"<p>Specifies the user that can mount and access the files, folders, and file metadata in your SMB file server. This parameter applies only if <code>AuthenticationType</code> is set to <code>NTLM</code>.</p> <p>For information about choosing a user with the right level of access for your transfer, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-smb-location.html#configuring-smb-permissions\">Providing DataSync access to SMB file servers</a>.</p>"
        },
        "Domain":{
          "shape":"SmbDomain",
          "documentation":"<p>Specifies the Windows domain name that your SMB file server belongs to. This parameter applies only if <code>AuthenticationType</code> is set to <code>NTLM</code>.</p> <p>If you have multiple domains in your environment, configuring this parameter makes sure that DataSync connects to the right file server.</p>"
        },
        "Password":{
          "shape":"SmbPassword",
          "documentation":"<p>Specifies the password of the user who can mount your SMB file server and has permission to access the files and folders involved in your transfer. This parameter applies only if <code>AuthenticationType</code> is set to <code>NTLM</code>.</p>"
        },
        "AgentArns":{
          "shape":"AgentArnList",
          "documentation":"<p>Specifies the DataSync agent (or agents) that can connect to your SMB file server. You specify an agent by using its Amazon Resource Name (ARN).</p>"
        },
        "MountOptions":{
          "shape":"SmbMountOptions",
          "documentation":"<p>Specifies the version of the SMB protocol that DataSync uses to access your SMB file server.</p>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>Specifies labels that help you categorize, filter, and search for your Amazon Web Services resources. We recommend creating at least a name tag for your location.</p>"
        },
        "AuthenticationType":{
          "shape":"SmbAuthenticationType",
          "documentation":"<p>Specifies the authentication protocol that DataSync uses to connect to your SMB file server. DataSync supports <code>NTLM</code> (default) and <code>KERBEROS</code> authentication.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/create-smb-location.html#configuring-smb-permissions\">Providing DataSync access to SMB file servers</a>.</p>"
        },
        "DnsIpAddresses":{
          "shape":"DnsIpList",
          "documentation":"<p>Specifies the IPv4 or IPv6 addresses for the DNS servers that your SMB file server belongs to. This parameter applies only if <code>AuthenticationType</code> is set to <code>KERBEROS</code>.</p> <p>If you have multiple domains in your environment, configuring this parameter makes sure that DataSync connects to the right SMB file server.</p>"
        },
        "KerberosPrincipal":{
          "shape":"KerberosPrincipal",
          "documentation":"<p>Specifies a Kerberos principal, which is an identity in your Kerberos realm that has permission to access the files, folders, and file metadata in your SMB file server.</p> <p>A Kerberos principal might look like <code>HOST/kerberosuser@MYDOMAIN.ORG</code>.</p> <p>Principal names are case sensitive. Your DataSync task execution will fail if the principal that you specify for this parameter doesn’t exactly match the principal that you use to create the keytab file.</p>"
        },
        "KerberosKeytab":{
          "shape":"KerberosKeytabFile",
          "documentation":"<p>Specifies your Kerberos key table (keytab) file, which includes mappings between your Kerberos principal and encryption keys.</p> <p>To avoid task execution errors, make sure that the Kerberos principal that you use to create the keytab file matches exactly what you specify for <code>KerberosPrincipal</code>. </p>"
        },
        "KerberosKrb5Conf":{
          "shape":"KerberosKrb5ConfFile",
          "documentation":"<p>Specifies a Kerberos configuration file (<code>krb5.conf</code>) that defines your Kerberos realm configuration.</p> <p>The file must be base64 encoded. If you're using the CLI, the encoding is done for you.</p>"
        }
      },
      "documentation":"<p>CreateLocationSmbRequest</p>"
    },
    "CreateLocationSmbResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The ARN of the SMB location that you created.</p>"
        }
      },
      "documentation":"<p>CreateLocationSmbResponse</p>"
    },
    "CreateTaskRequest":{
      "type":"structure",
      "required":[
        "SourceLocationArn",
        "DestinationLocationArn"
      ],
      "members":{
        "SourceLocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>Specifies the ARN of your transfer's source location.</p>"
        },
        "DestinationLocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>Specifies the ARN of your transfer's destination location. </p>"
        },
        "CloudWatchLogGroupArn":{
          "shape":"LogGroupArn",
          "documentation":"<p>Specifies the Amazon Resource Name (ARN) of an Amazon CloudWatch log group for monitoring your task.</p> <p>For Enhanced mode tasks, you don't need to specify anything. DataSync automatically sends logs to a CloudWatch log group named <code>/aws/datasync</code>.</p>"
        },
        "Name":{
          "shape":"TagValue",
          "documentation":"<p>Specifies the name of your task.</p>"
        },
        "Options":{
          "shape":"Options",
          "documentation":"<p>Specifies your task's settings, such as preserving file metadata, verifying data integrity, among other options.</p>"
        },
        "Excludes":{
          "shape":"FilterList",
          "documentation":"<p>Specifies exclude filters that define the files, objects, and folders in your source location that you don't want DataSync to transfer. For more information and examples, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/filtering.html\">Specifying what DataSync transfers by using filters</a>.</p>"
        },
        "Schedule":{
          "shape":"TaskSchedule",
          "documentation":"<p>Specifies a schedule for when you want your task to run. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/task-scheduling.html\">Scheduling your task</a>.</p>"
        },
        "Tags":{
          "shape":"InputTagList",
          "documentation":"<p>Specifies the tags that you want to apply to your task.</p> <p> <i>Tags</i> are key-value pairs that help you manage, filter, and search for your DataSync resources.</p>"
        },
        "Includes":{
          "shape":"FilterList",
          "documentation":"<p>Specifies include filters that define the files, objects, and folders in your source location that you want DataSync to transfer. For more information and examples, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/filtering.html\">Specifying what DataSync transfers by using filters</a>.</p>"
        },
        "ManifestConfig":{
          "shape":"ManifestConfig",
          "documentation":"<p>Configures a manifest, which is a list of files or objects that you want DataSync to transfer. For more information and configuration examples, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/transferring-with-manifest.html\">Specifying what DataSync transfers by using a manifest</a>.</p> <p>When using this parameter, your caller identity (the role that you're using DataSync with) must have the <code>iam:PassRole</code> permission. The <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/security-iam-awsmanpol.html#security-iam-awsmanpol-awsdatasyncfullaccess\">AWSDataSyncFullAccess</a> policy includes this permission.</p>"
        },
        "TaskReportConfig":{
          "shape":"TaskReportConfig",
          "documentation":"<p>Specifies how you want to configure a task report, which provides detailed information about your DataSync transfer. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/task-reports.html\">Monitoring your DataSync transfers with task reports</a>.</p> <p>When using this parameter, your caller identity (the role that you're using DataSync with) must have the <code>iam:PassRole</code> permission. The <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/security-iam-awsmanpol.html#security-iam-awsmanpol-awsdatasyncfullaccess\">AWSDataSyncFullAccess</a> policy includes this permission.</p>"
        },
        "TaskMode":{
          "shape":"TaskMode",
          "documentation":"<p>Specifies one of the following task modes for your data transfer:</p> <ul> <li> <p> <code>ENHANCED</code> - Transfer virtually unlimited numbers of objects with higher performance than Basic mode. Enhanced mode tasks optimize the data transfer process by listing, preparing, transferring, and verifying data in parallel. Enhanced mode is currently available for transfers between Amazon S3 locations, transfers between Azure Blob and Amazon S3 without an agent, and transfers between other clouds and Amazon S3 without an agent.</p> <note> <p>To create an Enhanced mode task, the IAM role that you use to call the <code>CreateTask</code> operation must have the <code>iam:CreateServiceLinkedRole</code> permission.</p> </note> </li> <li> <p> <code>BASIC</code> (default) - Transfer files or objects between Amazon Web Services storage and all other supported DataSync locations. Basic mode tasks are subject to <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/datasync-limits.html\">quotas</a> on the number of files, objects, and directories in a dataset. Basic mode sequentially prepares, transfers, and verifies data, making it slower than Enhanced mode for most workloads.</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/choosing-task-mode.html#task-mode-differences\">Understanding task mode differences</a>.</p>"
        }
      },
      "documentation":"<p>CreateTaskRequest</p>"
    },
    "CreateTaskResponse":{
      "type":"structure",
      "members":{
        "TaskArn":{
          "shape":"TaskArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the task.</p>"
        }
      },
      "documentation":"<p>CreateTaskResponse</p>"
    },
    "CustomSecretConfig":{
      "type":"structure",
      "members":{
        "SecretArn":{
          "shape":"SecretArn",
          "documentation":"<p>Specifies the ARN for an Secrets Manager secret.</p>"
        },
        "SecretAccessRoleArn":{
          "shape":"IamRoleArnOrEmptyString",
          "documentation":"<p>Specifies the ARN for the Identity and Access Management role that DataSync uses to access the secret specified for <code>SecretArn</code>.</p>"
        }
      },
      "documentation":"<p>Specifies configuration information for a customer-managed Secrets Manager secret where a storage location authentication token or secret key is stored in plain text. This configuration includes the secret ARN, and the ARN for an IAM role that provides access to the secret.</p> <note> <p>You can use either <code>CmkSecretConfig</code> or <code>CustomSecretConfig</code> to provide credentials for a <code>CreateLocation</code> request. Do not provide both parameters for the same request.</p> </note>"
    },
    "DeleteAgentRequest":{
      "type":"structure",
      "required":["AgentArn"],
      "members":{
        "AgentArn":{
          "shape":"AgentArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the agent to delete. Use the <code>ListAgents</code> operation to return a list of agents for your account and Amazon Web Services Region.</p>"
        }
      },
      "documentation":"<p>DeleteAgentRequest</p>"
    },
    "DeleteAgentResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteLocationRequest":{
      "type":"structure",
      "required":["LocationArn"],
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the location to delete.</p>"
        }
      },
      "documentation":"<p>DeleteLocation</p>"
    },
    "DeleteLocationResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteTaskRequest":{
      "type":"structure",
      "required":["TaskArn"],
      "members":{
        "TaskArn":{
          "shape":"TaskArn",
          "documentation":"<p>Specifies the Amazon Resource Name (ARN) of the task that you want to delete.</p>"
        }
      },
      "documentation":"<p>DeleteTask</p>"
    },
    "DeleteTaskResponse":{
      "type":"structure",
      "members":{}
    },
    "DescribeAgentRequest":{
      "type":"structure",
      "required":["AgentArn"],
      "members":{
        "AgentArn":{
          "shape":"AgentArn",
          "documentation":"<p>Specifies the Amazon Resource Name (ARN) of the DataSync agent that you want information about.</p>"
        }
      },
      "documentation":"<p>DescribeAgent</p>"
    },
    "DescribeAgentResponse":{
      "type":"structure",
      "members":{
        "AgentArn":{
          "shape":"AgentArn",
          "documentation":"<p>The ARN of the agent.</p>"
        },
        "Name":{
          "shape":"TagValue",
          "documentation":"<p>The name of the agent.</p>"
        },
        "Status":{
          "shape":"AgentStatus",
          "documentation":"<p>The status of the agent.</p> <ul> <li> <p>If the status is <code>ONLINE</code>, the agent is configured properly and ready to use.</p> </li> <li> <p>If the status is <code>OFFLINE</code>, the agent has been out of contact with DataSync for five minutes or longer. This can happen for a few reasons. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/troubleshooting-datasync-agents.html#troubleshoot-agent-offline\">What do I do if my agent is offline?</a> </p> </li> </ul>"
        },
        "LastConnectionTime":{
          "shape":"Time",
          "documentation":"<p>The last time that the agent was communicating with the DataSync service.</p>"
        },
        "CreationTime":{
          "shape":"Time",
          "documentation":"<p>The time that the agent was <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/activate-agent.html\">activated</a>.</p>"
        },
        "EndpointType":{
          "shape":"EndpointType",
          "documentation":"<p>The type of <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/choose-service-endpoint.html\">service endpoint</a> that your agent is connected to.</p>"
        },
        "PrivateLinkConfig":{
          "shape":"PrivateLinkConfig",
          "documentation":"<p>The network configuration that the agent uses when connecting to a <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/choose-service-endpoint.html#choose-service-endpoint-vpc\">VPC service endpoint</a>.</p>"
        },
        "Platform":{
          "shape":"Platform",
          "documentation":"<p>The platform-related details about the agent, such as the version number.</p>"
        }
      },
      "documentation":"<p>DescribeAgentResponse</p>"
    },
    "DescribeLocationAzureBlobRequest":{
      "type":"structure",
      "required":["LocationArn"],
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>Specifies the Amazon Resource Name (ARN) of your Azure Blob Storage transfer location.</p>"
        }
      }
    },
    "DescribeLocationAzureBlobResponse":{
      "type":"structure",
      "members":{
        "LocationArn":{
          "shape":"LocationArn",
          "documentation":"<p>The ARN of your Azure Blob Storage transfer location.</p>"
        },
        "LocationUri":{
          "shape":"LocationUri",
          "documentation":"<p>The URL of the Azure Blob Storage container involved in your transfer.</p>"
        },
        "AuthenticationType":{
          "shape":"AzureBlobAuthenticationType",
          "documentation":"<p>The authentication method DataSync uses to access your Azure Blob Storage. DataSync can access blob storage using a shared access signature (SAS).</p>"
        },
        "BlobType":{
          "shape":"AzureBlobType",
          "documentation":"<p>The type of blob that you want your objects or files to be when transferring them into Azure Blob Storage. Currently, DataSync only supports moving data into Azure Blob Storage as block blobs. For more information on blob types, see the <a href=\"https://learn.microsoft.com/en-us/rest/api/storageservices/understanding-block-blobs--append-blobs--and-page-blobs\">Azure Blob Storage documentation</a>.</p>"
        },
        "AccessTier":{
          "shape":"AzureAccessTier",
          "documentation":"<p>The access tier that you want your objects or files transferred into. This only applies when using the location as a transfer destination. For more information, see <a href=\"https://docs.aws.amazon.com/datasync/latest/userguide/creating-azure-blob-location.html#azure-blob-access-tiers\">Access tiers</a>.</p>"
        },
        "AgentArns":{
          "shape":"AgentArnList",
          "documentation":"<p>The ARNs of the DataSync agents that can connect with your Azure Blob Storage container.</p>"
        },
        "CreationTime":{
          "shape":"Time",
          "documentation":"<p>The time that your Azure Blob Storage transfer location was created.</p>"
        },
        "ManagedSecretConfig":{
          "shape":"ManagedSecretConfig",
          "documentation":"<p>Describes configuration information for a DataSync-managed secret, such as an authentication token that DataSync uses to access a specific storage location. DataSync uses the default Amazon Web Services-managed KMS key to encrypt this secret in Secrets Manager.</p>"
        },
        "CmkSecretConfig":{
          "shape":"CmkSecretConfig",
[...]
