{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2020-12-01",
    "endpointPrefix":"devops-guru",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"Amazon DevOps Guru",
    "serviceId":"DevOps Guru",
    "signatureVersion":"v4",
    "signingName":"devops-guru",
    "uid":"devops-guru-2020-12-01",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AddNotificationChannel":{
      "name":"AddNotificationChannel",
      "http":{
        "method":"PUT",
        "requestUri":"/channels",
        "responseCode":200
      },
      "input":{"shape":"AddNotificationChannelRequest"},
      "output":{"shape":"AddNotificationChannelResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Adds a notification channel to DevOps Guru. A notification channel is used to notify you about important DevOps Guru events, such as when an insight is generated. </p> <p>If you use an Amazon SNS topic in another account, you must attach a policy to it that grants DevOps Guru permission to send it notifications. DevOps Guru adds the required policy on your behalf to send notifications using Amazon SNS in your account. DevOps Guru only supports standard SNS topics. For more information, see <a href=\"https://docs.aws.amazon.com/devops-guru/latest/userguide/sns-required-permissions.html\">Permissions for Amazon SNS topics</a>.</p> <p>If you use an Amazon SNS topic that is encrypted by an Amazon Web Services Key Management Service customer-managed key (CMK), then you must add permissions to the CMK. For more information, see <a href=\"https://docs.aws.amazon.com/devops-guru/latest/userguide/sns-kms-permissions.html\">Permissions for Amazon Web Services KMS–encrypted Amazon SNS topics</a>.</p>"
    },
    "DeleteInsight":{
      "name":"DeleteInsight",
      "http":{
        "method":"DELETE",
        "requestUri":"/insights/{Id}",
        "responseCode":200
      },
      "input":{"shape":"DeleteInsightRequest"},
      "output":{"shape":"DeleteInsightResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes the insight along with the associated anomalies, events and recommendations.</p>"
    },
    "DescribeAccountHealth":{
      "name":"DescribeAccountHealth",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/health",
        "responseCode":200
      },
      "input":{"shape":"DescribeAccountHealthRequest"},
      "output":{"shape":"DescribeAccountHealthResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Returns the number of open reactive insights, the number of open proactive insights, and the number of metrics analyzed in your Amazon Web Services account. Use these numbers to gauge the health of operations in your Amazon Web Services account. </p>"
    },
    "DescribeAccountOverview":{
      "name":"DescribeAccountOverview",
      "http":{
        "method":"POST",
        "requestUri":"/accounts/overview",
        "responseCode":200
      },
      "input":{"shape":"DescribeAccountOverviewRequest"},
      "output":{"shape":"DescribeAccountOverviewResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> For the time range passed in, returns the number of open reactive insight that were created, the number of open proactive insights that were created, and the Mean Time to Recover (MTTR) for all closed reactive insights. </p>"
    },
    "DescribeAnomaly":{
      "name":"DescribeAnomaly",
      "http":{
        "method":"GET",
        "requestUri":"/anomalies/{Id}",
        "responseCode":200
      },
      "input":{"shape":"DescribeAnomalyRequest"},
      "output":{"shape":"DescribeAnomalyResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Returns details about an anomaly that you specify using its ID. </p>"
    },
    "DescribeEventSourcesConfig":{
      "name":"DescribeEventSourcesConfig",
      "http":{
        "method":"POST",
        "requestUri":"/event-sources",
        "responseCode":200
      },
      "input":{"shape":"DescribeEventSourcesConfigRequest"},
      "output":{"shape":"DescribeEventSourcesConfigResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns the integration status of services that are integrated with DevOps Guru as Consumer via EventBridge. The one service that can be integrated with DevOps Guru is Amazon CodeGuru Profiler, which can produce proactive recommendations which can be stored and viewed in DevOps Guru.</p>"
    },
    "DescribeFeedback":{
      "name":"DescribeFeedback",
      "http":{
        "method":"POST",
        "requestUri":"/feedback",
        "responseCode":200
      },
      "input":{"shape":"DescribeFeedbackRequest"},
      "output":{"shape":"DescribeFeedbackResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Returns the most recent feedback submitted in the current Amazon Web Services account and Region. </p>"
    },
    "DescribeInsight":{
      "name":"DescribeInsight",
      "http":{
        "method":"GET",
        "requestUri":"/insights/{Id}",
        "responseCode":200
      },
      "input":{"shape":"DescribeInsightRequest"},
      "output":{"shape":"DescribeInsightResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Returns details about an insight that you specify using its ID. </p>"
    },
    "DescribeOrganizationHealth":{
      "name":"DescribeOrganizationHealth",
      "http":{
        "method":"POST",
        "requestUri":"/organization/health",
        "responseCode":200
      },
      "input":{"shape":"DescribeOrganizationHealthRequest"},
      "output":{"shape":"DescribeOrganizationHealthResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns active insights, predictive insights, and resource hours analyzed in last hour.</p>"
    },
    "DescribeOrganizationOverview":{
      "name":"DescribeOrganizationOverview",
      "http":{
        "method":"POST",
        "requestUri":"/organization/overview",
        "responseCode":200
      },
      "input":{"shape":"DescribeOrganizationOverviewRequest"},
      "output":{"shape":"DescribeOrganizationOverviewResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns an overview of your organization's history based on the specified time range. The overview includes the total reactive and proactive insights.</p>"
    },
    "DescribeOrganizationResourceCollectionHealth":{
      "name":"DescribeOrganizationResourceCollectionHealth",
      "http":{
        "method":"POST",
        "requestUri":"/organization/health/resource-collection",
        "responseCode":200
      },
      "input":{"shape":"DescribeOrganizationResourceCollectionHealthRequest"},
      "output":{"shape":"DescribeOrganizationResourceCollectionHealthResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Provides an overview of your system's health. If additional member accounts are part of your organization, you can filter those accounts using the <code>AccountIds</code> field.</p>"
    },
    "DescribeResourceCollectionHealth":{
      "name":"DescribeResourceCollectionHealth",
      "http":{
        "method":"GET",
        "requestUri":"/accounts/health/resource-collection/{ResourceCollectionType}",
        "responseCode":200
      },
      "input":{"shape":"DescribeResourceCollectionHealthRequest"},
      "output":{"shape":"DescribeResourceCollectionHealthResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Returns the number of open proactive insights, open reactive insights, and the Mean Time to Recover (MTTR) for all closed insights in resource collections in your account. You specify the type of Amazon Web Services resources collection. The two types of Amazon Web Services resource collections supported are Amazon Web Services CloudFormation stacks and Amazon Web Services resources that contain the same Amazon Web Services tag. DevOps Guru can be configured to analyze the Amazon Web Services resources that are defined in the stacks or that are tagged using the same tag <i>key</i>. You can specify up to 500 Amazon Web Services CloudFormation stacks. </p>"
    },
    "DescribeServiceIntegration":{
      "name":"DescribeServiceIntegration",
      "http":{
        "method":"GET",
        "requestUri":"/service-integrations",
        "responseCode":200
      },
      "input":{"shape":"DescribeServiceIntegrationRequest"},
      "output":{"shape":"DescribeServiceIntegrationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Returns the integration status of services that are integrated with DevOps Guru. The one service that can be integrated with DevOps Guru is Amazon Web Services Systems Manager, which can be used to create an OpsItem for each generated insight. </p>"
    },
    "GetCostEstimation":{
      "name":"GetCostEstimation",
      "http":{
        "method":"GET",
        "requestUri":"/cost-estimation",
        "responseCode":200
      },
      "input":{"shape":"GetCostEstimationRequest"},
      "output":{"shape":"GetCostEstimationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns an estimate of the monthly cost for DevOps Guru to analyze your Amazon Web Services resources. For more information, see <a href=\"https://docs.aws.amazon.com/devops-guru/latest/userguide/cost-estimate.html\">Estimate your Amazon DevOps Guru costs</a> and <a href=\"http://aws.amazon.com/devops-guru/pricing/\">Amazon DevOps Guru pricing</a>.</p>"
    },
    "GetResourceCollection":{
      "name":"GetResourceCollection",
      "http":{
        "method":"GET",
        "requestUri":"/resource-collections/{ResourceCollectionType}",
        "responseCode":200
      },
      "input":{"shape":"GetResourceCollectionRequest"},
      "output":{"shape":"GetResourceCollectionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Returns lists Amazon Web Services resources that are of the specified resource collection type. The two types of Amazon Web Services resource collections supported are Amazon Web Services CloudFormation stacks and Amazon Web Services resources that contain the same Amazon Web Services tag. DevOps Guru can be configured to analyze the Amazon Web Services resources that are defined in the stacks or that are tagged using the same tag <i>key</i>. You can specify up to 500 Amazon Web Services CloudFormation stacks. </p>"
    },
    "ListAnomaliesForInsight":{
      "name":"ListAnomaliesForInsight",
      "http":{
        "method":"POST",
        "requestUri":"/anomalies/insight/{InsightId}",
        "responseCode":200
      },
      "input":{"shape":"ListAnomaliesForInsightRequest"},
      "output":{"shape":"ListAnomaliesForInsightResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Returns a list of the anomalies that belong to an insight that you specify using its ID. </p>"
    },
    "ListAnomalousLogGroups":{
      "name":"ListAnomalousLogGroups",
      "http":{
        "method":"POST",
        "requestUri":"/list-log-anomalies",
        "responseCode":200
      },
      "input":{"shape":"ListAnomalousLogGroupsRequest"},
      "output":{"shape":"ListAnomalousLogGroupsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Returns the list of log groups that contain log anomalies. </p>"
    },
    "ListEvents":{
      "name":"ListEvents",
      "http":{
        "method":"POST",
        "requestUri":"/events",
        "responseCode":200
      },
      "input":{"shape":"ListEventsRequest"},
      "output":{"shape":"ListEventsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Returns a list of the events emitted by the resources that are evaluated by DevOps Guru. You can use filters to specify which events are returned. </p>"
    },
    "ListInsights":{
      "name":"ListInsights",
      "http":{
        "method":"POST",
        "requestUri":"/insights",
        "responseCode":200
      },
      "input":{"shape":"ListInsightsRequest"},
      "output":{"shape":"ListInsightsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Returns a list of insights in your Amazon Web Services account. You can specify which insights are returned by their start time and status (<code>ONGOING</code>, <code>CLOSED</code>, or <code>ANY</code>). </p>"
    },
    "ListMonitoredResources":{
      "name":"ListMonitoredResources",
      "http":{
        "method":"POST",
        "requestUri":"/monitoredResources",
        "responseCode":200
      },
      "input":{"shape":"ListMonitoredResourcesRequest"},
      "output":{"shape":"ListMonitoredResourcesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Returns the list of all log groups that are being monitored and tagged by DevOps Guru. </p>"
    },
    "ListNotificationChannels":{
      "name":"ListNotificationChannels",
      "http":{
        "method":"POST",
        "requestUri":"/channels",
        "responseCode":200
      },
      "input":{"shape":"ListNotificationChannelsRequest"},
      "output":{"shape":"ListNotificationChannelsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Returns a list of notification channels configured for DevOps Guru. Each notification channel is used to notify you when DevOps Guru generates an insight that contains information about how to improve your operations. The one supported notification channel is Amazon Simple Notification Service (Amazon SNS). </p>"
    },
    "ListOrganizationInsights":{
      "name":"ListOrganizationInsights",
      "http":{
        "method":"POST",
        "requestUri":"/organization/insights",
        "responseCode":200
      },
      "input":{"shape":"ListOrganizationInsightsRequest"},
      "output":{"shape":"ListOrganizationInsightsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns a list of insights associated with the account or OU Id.</p>"
    },
    "ListRecommendations":{
      "name":"ListRecommendations",
      "http":{
        "method":"POST",
        "requestUri":"/recommendations",
        "responseCode":200
      },
      "input":{"shape":"ListRecommendationsRequest"},
      "output":{"shape":"ListRecommendationsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Returns a list of a specified insight's recommendations. Each recommendation includes a list of related metrics and a list of related events. </p>"
    },
    "PutFeedback":{
      "name":"PutFeedback",
      "http":{
        "method":"PUT",
        "requestUri":"/feedback",
        "responseCode":200
      },
      "input":{"shape":"PutFeedbackRequest"},
      "output":{"shape":"PutFeedbackResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Collects customer feedback about the specified insight. </p>"
    },
    "RemoveNotificationChannel":{
      "name":"RemoveNotificationChannel",
      "http":{
        "method":"DELETE",
        "requestUri":"/channels/{Id}",
        "responseCode":200
      },
      "input":{"shape":"RemoveNotificationChannelRequest"},
      "output":{"shape":"RemoveNotificationChannelResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Removes a notification channel from DevOps Guru. A notification channel is used to notify you when DevOps Guru generates an insight that contains information about how to improve your operations. </p>"
    },
    "SearchInsights":{
      "name":"SearchInsights",
      "http":{
        "method":"POST",
        "requestUri":"/insights/search",
        "responseCode":200
      },
      "input":{"shape":"SearchInsightsRequest"},
      "output":{"shape":"SearchInsightsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Returns a list of insights in your Amazon Web Services account. You can specify which insights are returned by their start time, one or more statuses (<code>ONGOING</code> or <code>CLOSED</code>), one or more severities (<code>LOW</code>, <code>MEDIUM</code>, and <code>HIGH</code>), and type (<code>REACTIVE</code> or <code>PROACTIVE</code>). </p> <p> Use the <code>Filters</code> parameter to specify status and severity search parameters. Use the <code>Type</code> parameter to specify <code>REACTIVE</code> or <code>PROACTIVE</code> in your search. </p>"
    },
    "SearchOrganizationInsights":{
      "name":"SearchOrganizationInsights",
      "http":{
        "method":"POST",
        "requestUri":"/organization/insights/search",
        "responseCode":200
      },
      "input":{"shape":"SearchOrganizationInsightsRequest"},
      "output":{"shape":"SearchOrganizationInsightsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Returns a list of insights in your organization. You can specify which insights are returned by their start time, one or more statuses (<code>ONGOING</code>, <code>CLOSED</code>, and <code>CLOSED</code>), one or more severities (<code>LOW</code>, <code>MEDIUM</code>, and <code>HIGH</code>), and type (<code>REACTIVE</code> or <code>PROACTIVE</code>). </p> <p> Use the <code>Filters</code> parameter to specify status and severity search parameters. Use the <code>Type</code> parameter to specify <code>REACTIVE</code> or <code>PROACTIVE</code> in your search. </p>"
    },
    "StartCostEstimation":{
      "name":"StartCostEstimation",
      "http":{
        "method":"PUT",
        "requestUri":"/cost-estimation",
        "responseCode":200
      },
      "input":{"shape":"StartCostEstimationRequest"},
      "output":{"shape":"StartCostEstimationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Starts the creation of an estimate of the monthly cost to analyze your Amazon Web Services resources.</p>"
    },
    "UpdateEventSourcesConfig":{
      "name":"UpdateEventSourcesConfig",
      "http":{
        "method":"PUT",
        "requestUri":"/event-sources",
        "responseCode":200
      },
      "input":{"shape":"UpdateEventSourcesConfigRequest"},
      "output":{"shape":"UpdateEventSourcesConfigResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Enables or disables integration with a service that can be integrated with DevOps Guru. The one service that can be integrated with DevOps Guru is Amazon CodeGuru Profiler, which can produce proactive recommendations which can be stored and viewed in DevOps Guru.</p>"
    },
    "UpdateResourceCollection":{
      "name":"UpdateResourceCollection",
      "http":{
        "method":"PUT",
        "requestUri":"/resource-collections",
        "responseCode":200
      },
      "input":{"shape":"UpdateResourceCollectionRequest"},
      "output":{"shape":"UpdateResourceCollectionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Updates the collection of resources that DevOps Guru analyzes. The two types of Amazon Web Services resource collections supported are Amazon Web Services CloudFormation stacks and Amazon Web Services resources that contain the same Amazon Web Services tag. DevOps Guru can be configured to analyze the Amazon Web Services resources that are defined in the stacks or that are tagged using the same tag <i>key</i>. You can specify up to 500 Amazon Web Services CloudFormation stacks. This method also creates the IAM role required for you to use DevOps Guru. </p>"
    },
    "UpdateServiceIntegration":{
      "name":"UpdateServiceIntegration",
      "http":{
        "method":"PUT",
        "requestUri":"/service-integrations",
        "responseCode":200
      },
      "input":{"shape":"UpdateServiceIntegrationRequest"},
      "output":{"shape":"UpdateServiceIntegrationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p> Enables or disables integration with a service that can be integrated with DevOps Guru. The one service that can be integrated with DevOps Guru is Amazon Web Services Systems Manager, which can be used to create an OpsItem for each generated insight. </p>"
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"ErrorMessageString"}
      },
      "documentation":"<p> You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access Management</a> in the <i>IAM User Guide</i>. </p>",
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "AccountHealth":{
      "type":"structure",
      "members":{
        "AccountId":{
          "shape":"AwsAccountId",
          "documentation":"<p>The ID of the Amazon Web Services account. </p>"
        },
        "Insight":{
          "shape":"AccountInsightHealth",
          "documentation":"<p> Information about the health of the Amazon Web Services resources in your account, including the number of open proactive, open reactive insights, and the Mean Time to Recover (MTTR) of closed insights. </p>"
        }
      },
      "documentation":"<p> Returns the number of open reactive insights, the number of open proactive insights, and the number of metrics analyzed in your Amazon Web Services account. Use these numbers to gauge the health of operations in your Amazon Web Services account. </p>"
    },
    "AccountHealths":{
      "type":"list",
      "member":{"shape":"AccountHealth"}
    },
    "AccountIdList":{
      "type":"list",
      "member":{"shape":"AwsAccountId"},
      "max":5,
      "min":0
    },
    "AccountInsightHealth":{
      "type":"structure",
      "members":{
        "OpenProactiveInsights":{
          "shape":"NumOpenProactiveInsights",
          "documentation":"<p>An integer that specifies the number of open proactive insights in your Amazon Web Services account.</p>"
        },
        "OpenReactiveInsights":{
          "shape":"NumOpenReactiveInsights",
          "documentation":"<p>An integer that specifies the number of open reactive insights in your Amazon Web Services account.</p>"
        }
      },
      "documentation":"<p> Information about the number of open reactive and proactive insights that can be used to gauge the health of your system. </p>"
    },
    "AddNotificationChannelRequest":{
      "type":"structure",
      "required":["Config"],
      "members":{
        "Config":{
          "shape":"NotificationChannelConfig",
          "documentation":"<p> A <code>NotificationChannelConfig</code> object that specifies what type of notification channel to add. The one supported notification channel is Amazon Simple Notification Service (Amazon SNS). </p>"
        }
      }
    },
    "AddNotificationChannelResponse":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"NotificationChannelId",
          "documentation":"<p> The ID of the added notification channel. </p>"
        }
      }
    },
    "AmazonCodeGuruProfilerIntegration":{
      "type":"structure",
      "members":{
        "Status":{
          "shape":"EventSourceOptInStatus",
          "documentation":"<p>The status of the CodeGuru Profiler integration. Specifies if DevOps Guru is enabled to consume recommendations that are generated from Amazon CodeGuru Profiler.</p>"
        }
      },
      "documentation":"<p>Information about your account's integration with Amazon CodeGuru Profiler. This returns whether DevOps Guru is configured to consume recommendations generated from Amazon CodeGuru Profiler.</p>"
    },
    "AnalyzedResourceCount":{"type":"long"},
    "AnomalousLogGroup":{
      "type":"structure",
      "members":{
        "LogGroupName":{
          "shape":"LogGroupName",
          "documentation":"<p> The name of the CloudWatch log group. </p>"
        },
        "ImpactStartTime":{
          "shape":"Timestamp",
          "documentation":"<p> The time the anomalous log events began. The impact start time indicates the time of the first log anomaly event that occurs. </p>"
        },
        "ImpactEndTime":{
          "shape":"Timestamp",
          "documentation":"<p> The time the anomalous log events stopped. </p>"
        },
        "NumberOfLogLinesScanned":{
          "shape":"NumberOfLogLinesScanned",
          "documentation":"<p> The number of log lines that were scanned for anomalous log events. </p>"
        },
        "LogAnomalyShowcases":{
          "shape":"LogAnomalyShowcases",
          "documentation":"<p> The log anomalies in the log group. Each log anomaly displayed represents a cluster of similar anomalous log events. </p>"
        }
      },
      "documentation":"<p> An Amazon CloudWatch log group that contains log anomalies and is used to generate an insight. </p>"
    },
    "AnomalousLogGroups":{
      "type":"list",
      "member":{"shape":"AnomalousLogGroup"}
    },
    "AnomalyDescription":{"type":"string"},
    "AnomalyId":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^[\\w~.-]*$"
    },
    "AnomalyLimit":{
      "type":"double",
      "box":true
    },
    "AnomalyName":{"type":"string"},
    "AnomalyReportedTimeRange":{
      "type":"structure",
      "required":["OpenTime"],
      "members":{
        "OpenTime":{
          "shape":"Timestamp",
          "documentation":"<p> The time when an anomaly is opened. </p>"
        },
        "CloseTime":{
          "shape":"Timestamp",
          "documentation":"<p> The time when an anomaly is closed. </p>"
        }
      },
      "documentation":"<p> A time range that specifies when DevOps Guru opens and then closes an anomaly. This is different from <code>AnomalyTimeRange</code>, which specifies the time range when DevOps Guru actually observes the anomalous behavior. </p>"
    },
    "AnomalyResource":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the Amazon Web Services resource.</p>"
        },
        "Type":{
          "shape":"ResourceType",
          "documentation":"<p>The type of the Amazon Web Services resource.</p>"
        }
      },
      "documentation":"<p>The Amazon Web Services resources in which DevOps Guru detected unusual behavior that resulted in the generation of an anomaly. When DevOps Guru detects multiple related anomalies, it creates and insight with details about the anomalous behavior and suggestions about how to correct the problem.</p>"
    },
    "AnomalyResources":{
      "type":"list",
      "member":{"shape":"AnomalyResource"}
    },
    "AnomalySeverity":{
      "type":"string",
      "enum":[
        "LOW",
        "MEDIUM",
        "HIGH"
      ]
    },
    "AnomalySource":{"type":"string"},
    "AnomalySourceDetails":{
      "type":"structure",
      "members":{
        "CloudWatchMetrics":{
          "shape":"CloudWatchMetricsDetails",
          "documentation":"<p>An array of <code>CloudWatchMetricsDetail</code> objects that contain information about analyzed CloudWatch metrics that show anomalous behavior. </p>"
        },
        "PerformanceInsightsMetrics":{
          "shape":"PerformanceInsightsMetricsDetails",
          "documentation":"<p>An array of <code>PerformanceInsightsMetricsDetail</code> objects that contain information about analyzed Performance Insights metrics that show anomalous behavior.</p>"
        }
      },
      "documentation":"<p> Details about the source of the anomalous operational data that triggered the anomaly.</p>"
    },
    "AnomalySourceMetadata":{
      "type":"structure",
      "members":{
        "Source":{
          "shape":"AnomalySource",
          "documentation":"<p>The source of the anomaly.</p>"
        },
        "SourceResourceName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the anomaly's resource.</p>"
        },
        "SourceResourceType":{
          "shape":"ResourceType",
          "documentation":"<p>The anomaly's resource type.</p>"
        }
      },
      "documentation":"<p>Metadata about the detection source that generates proactive anomalies. The anomaly is detected using analysis of the metric data&#x2028; over a period of time</p>"
    },
    "AnomalyStatus":{
      "type":"string",
      "enum":[
        "ONGOING",
        "CLOSED"
      ]
    },
    "AnomalyTimeRange":{
      "type":"structure",
      "required":["StartTime"],
      "members":{
        "StartTime":{
          "shape":"Timestamp",
          "documentation":"<p> The time when the anomalous behavior started. </p>"
        },
        "EndTime":{
          "shape":"Timestamp",
          "documentation":"<p> The time when the anomalous behavior ended. </p>"
        }
      },
      "documentation":"<p> A time range that specifies when the observed unusual behavior in an anomaly started and ended. This is different from <code>AnomalyReportedTimeRange</code>, which specifies the time range when DevOps Guru opens and then closes an anomaly. </p>"
    },
    "AnomalyType":{
      "type":"string",
      "enum":[
        "CAUSAL",
        "CONTEXTUAL"
      ]
    },
    "AppBoundaryKey":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
    },
    "AssociatedResourceArns":{
      "type":"list",
      "member":{"shape":"ResourceArn"}
    },
    "AwsAccountId":{
      "type":"string",
      "max":12,
      "min":12,
      "pattern":"^\\d{12}$"
    },
    "Channels":{
      "type":"list",
      "member":{"shape":"NotificationChannel"}
    },
    "ClientToken":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^[a-zA-Z0-9]+[a-zA-Z0-9-]*$"
    },
    "CloudFormationCollection":{
      "type":"structure",
      "members":{
        "StackNames":{
          "shape":"StackNames",
          "documentation":"<p> An array of CloudFormation stack names. </p>"
        }
      },
      "documentation":"<p> Information about Amazon Web Services CloudFormation stacks. You can use up to 500 stacks to specify which Amazon Web Services resources in your account to analyze. For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacks.html\">Stacks</a> in the <i>Amazon Web Services CloudFormation User Guide</i>. </p>"
    },
    "CloudFormationCollectionFilter":{
      "type":"structure",
      "members":{
        "StackNames":{
          "shape":"StackNames",
          "documentation":"<p> An array of CloudFormation stack names. </p>"
        }
      },
      "documentation":"<p> Information about Amazon Web Services CloudFormation stacks. You can use up to 500 stacks to specify which Amazon Web Services resources in your account to analyze. For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacks.html\">Stacks</a> in the <i>Amazon Web Services CloudFormation User Guide</i>. </p>"
    },
    "CloudFormationCostEstimationResourceCollectionFilter":{
      "type":"structure",
      "members":{
        "StackNames":{
          "shape":"CostEstimationStackNames",
          "documentation":"<p>An array of CloudFormation stack names. Its size is fixed at 1 item.</p>"
        }
      },
      "documentation":"<p>Information about an Amazon Web Services CloudFormation stack used to create a monthly cost estimate for DevOps Guru to analyze Amazon Web Services resources. The maximum number of stacks you can specify for a cost estimate is one. The estimate created is for the cost to analyze the Amazon Web Services resources defined by the stack. For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacks.html\">Stacks</a> in the <i>Amazon Web Services CloudFormation User Guide</i>.</p>"
    },
    "CloudFormationHealth":{
      "type":"structure",
      "members":{
        "StackName":{
          "shape":"StackName",
          "documentation":"<p> The name of the CloudFormation stack. </p>"
        },
        "Insight":{
          "shape":"InsightHealth",
          "documentation":"<p> Information about the health of the Amazon Web Services resources in your account that are specified by an Amazon Web Services CloudFormation stack, including the number of open proactive, open reactive insights, and the Mean Time to Recover (MTTR) of closed insights. </p>"
        },
        "AnalyzedResourceCount":{
          "shape":"AnalyzedResourceCount",
          "documentation":"<p> Number of resources that DevOps Guru is monitoring in your account that are specified by an Amazon Web Services CloudFormation stack. </p>"
        }
      },
      "documentation":"<p> Information about the health of Amazon Web Services resources in your account that are specified by an Amazon Web Services CloudFormation stack. </p>"
    },
    "CloudFormationHealths":{
      "type":"list",
      "member":{"shape":"CloudFormationHealth"}
    },
    "CloudWatchMetricDataStatusCode":{
      "type":"string",
      "enum":[
        "Complete",
        "InternalError",
        "PartialData"
      ]
    },
    "CloudWatchMetricsDataSummary":{
      "type":"structure",
      "members":{
        "TimestampMetricValuePairList":{
          "shape":"TimestampMetricValuePairList",
          "documentation":"<p>This is a list of Amazon CloudWatch metric values at given timestamp.</p>"
        },
        "StatusCode":{
          "shape":"CloudWatchMetricDataStatusCode",
          "documentation":"<p>This is an enum of the status showing whether the metric value pair list has partial or complete data, or if there was an error.</p>"
        }
      },
      "documentation":"<p>Contains information about the analyzed metrics that displayed anomalous behavior. </p>"
    },
    "CloudWatchMetricsDetail":{
      "type":"structure",
      "members":{
        "MetricName":{
          "shape":"CloudWatchMetricsMetricName",
          "documentation":"<p> The name of the CloudWatch metric. </p>"
        },
        "Namespace":{
          "shape":"CloudWatchMetricsNamespace",
          "documentation":"<p> The namespace of the CloudWatch metric. A namespace is a container for CloudWatch metrics. </p>"
        },
        "Dimensions":{
          "shape":"CloudWatchMetricsDimensions",
          "documentation":"<p> An array of CloudWatch dimensions associated with </p>"
        },
        "Stat":{
          "shape":"CloudWatchMetricsStat",
          "documentation":"<p> The type of statistic associated with the CloudWatch metric. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_concepts.html#Statistic\">Statistics</a> in the <i>Amazon CloudWatch User Guide</i>. </p>"
        },
        "Unit":{
          "shape":"CloudWatchMetricsUnit",
          "documentation":"<p> The unit of measure used for the CloudWatch metric. For example, <code>Bytes</code>, <code>Seconds</code>, <code>Count</code>, and <code>Percent</code>. </p>"
        },
        "Period":{
          "shape":"CloudWatchMetricsPeriod",
          "documentation":"<p> The length of time associated with the CloudWatch metric in number of seconds. </p>"
        },
        "MetricDataSummary":{
          "shape":"CloudWatchMetricsDataSummary",
          "documentation":"<p>This object returns anomaly metric data.</p>"
        }
      },
      "documentation":"<p> Information about an Amazon CloudWatch metric. </p>"
    },
    "CloudWatchMetricsDetails":{
      "type":"list",
      "member":{"shape":"CloudWatchMetricsDetail"}
    },
    "CloudWatchMetricsDimension":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"CloudWatchMetricsDimensionName",
          "documentation":"<p> The name of the CloudWatch dimension. </p>"
        },
        "Value":{
          "shape":"CloudWatchMetricsDimensionValue",
          "documentation":"<p> The value of the CloudWatch dimension. </p>"
        }
      },
      "documentation":"<p> The dimension of an Amazon CloudWatch metric that is used when DevOps Guru analyzes the resources in your account for operational problems and anomalous behavior. A dimension is a name/value pair that is part of the identity of a metric. A metric can have up to 10 dimensions. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_concepts.html#Dimension\">Dimensions</a> in the <i>Amazon CloudWatch User Guide</i>. </p>"
    },
    "CloudWatchMetricsDimensionName":{"type":"string"},
    "CloudWatchMetricsDimensionValue":{"type":"string"},
    "CloudWatchMetricsDimensions":{
      "type":"list",
      "member":{"shape":"CloudWatchMetricsDimension"}
    },
    "CloudWatchMetricsMetricName":{"type":"string"},
    "CloudWatchMetricsNamespace":{"type":"string"},
    "CloudWatchMetricsPeriod":{"type":"integer"},
    "CloudWatchMetricsStat":{
      "type":"string",
      "enum":[
        "Sum",
        "Average",
        "SampleCount",
        "Minimum",
        "Maximum",
        "p99",
        "p90",
        "p50"
      ]
    },
    "CloudWatchMetricsUnit":{"type":"string"},
    "ConflictException":{
      "type":"structure",
      "required":[
        "Message",
        "ResourceId",
        "ResourceType"
      ],
      "members":{
        "Message":{"shape":"ErrorMessageString"},
        "ResourceId":{
          "shape":"ResourceIdString",
          "documentation":"<p> The ID of the Amazon Web Services resource in which a conflict occurred. </p>"
        },
        "ResourceType":{
          "shape":"ResourceIdType",
          "documentation":"<p> The type of the Amazon Web Services resource in which a conflict occurred. </p>"
        }
      },
      "documentation":"<p> An exception that is thrown when a conflict occurs. </p>",
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "Cost":{"type":"double"},
    "CostEstimationResourceCollectionFilter":{
      "type":"structure",
      "members":{
        "CloudFormation":{
          "shape":"CloudFormationCostEstimationResourceCollectionFilter",
          "documentation":"<p>An object that specifies the CloudFormation stack that defines the Amazon Web Services resources used to create a monthly estimate for DevOps Guru.</p>"
        },
        "Tags":{
          "shape":"TagCostEstimationResourceCollectionFilters",
          "documentation":"<p>The Amazon Web Services tags used to filter the resource collection that is used for a cost estimate.</p> <p>Tags help you identify and organize your Amazon Web Services resources. Many Amazon Web Services services support tagging, so you can assign the same tag to resources from different services to indicate that the resources are related. For example, you can assign the same tag to an Amazon DynamoDB table resource that you assign to an Lambda function. For more information about using tags, see the <a href=\"https://docs.aws.amazon.com/whitepapers/latest/tagging-best-practices/tagging-best-practices.html\">Tagging best practices</a> whitepaper. </p> <p>Each Amazon Web Services tag has two parts. </p> <ul> <li> <p>A tag <i>key</i> (for example, <code>CostCenter</code>, <code>Environment</code>, <code>Project</code>, or <code>Secret</code>). Tag <i>keys</i> are case-sensitive.</p> </li> <li> <p>An optional field known as a tag <i>value</i> (for example, <code>111122223333</code>, <code>Production</code>, or a team name). Omitting the tag <i>value</i> is the same as using an empty string. Like tag <i>keys</i>, tag <i>values</i> are case-sensitive.</p> </li> </ul> <p>Together these are known as <i>key</i>-<i>value</i> pairs.</p> <important> <p>The string used for a <i>key</i> in a tag that you use to define your resource coverage must begin with the prefix <code>Devops-guru-</code>. The tag <i>key</i> might be <code>DevOps-Guru-deployment-application</code> or <code>devops-guru-rds-application</code>. When you create a <i>key</i>, the case of characters in the <i>key</i> can be whatever you choose. After you create a <i>key</i>, it is case-sensitive. For example, DevOps Guru works with a <i>key</i> named <code>devops-guru-rds</code> and a <i>key</i> named <code>DevOps-Guru-RDS</code>, and these act as two different <i>keys</i>. Possible <i>key</i>/<i>value</i> pairs in your application might be <code>Devops-Guru-production-application/RDS</code> or <code>Devops-Guru-production-application/containers</code>.</p> </important>"
        }
      },
      "documentation":"<p>Information about a filter used to specify which Amazon Web Services resources are analyzed to create a monthly DevOps Guru cost estimate. For more information, see <a href=\"https://docs.aws.amazon.com/devops-guru/latest/userguide/cost-estimate.html\">Estimate your Amazon DevOps Guru costs</a> and <a href=\"http://aws.amazon.com/devops-guru/pricing/\">Amazon DevOps Guru pricing</a>. </p>"
    },
    "CostEstimationServiceResourceCount":{"type":"integer"},
    "CostEstimationServiceResourceState":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "INACTIVE"
      ]
    },
    "CostEstimationStackNames":{
      "type":"list",
      "member":{"shape":"StackName"},
      "max":1,
      "min":1
    },
    "CostEstimationStatus":{
      "type":"string",
      "enum":[
        "ONGOING",
        "COMPLETED"
      ]
    },
    "CostEstimationTagValues":{
      "type":"list",
      "member":{"shape":"TagValue"},
      "max":1,
      "min":1
    },
    "CostEstimationTimeRange":{
      "type":"structure",
      "members":{
        "StartTime":{
          "shape":"Timestamp",
          "documentation":"<p>The start time of the cost estimation.</p>"
        },
        "EndTime":{
          "shape":"Timestamp",
          "documentation":"<p>The end time of the cost estimation.</p>"
        }
      },
      "documentation":"<p>The time range of a cost estimation.</p>"
    },
    "DeleteInsightRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"InsightId",
          "documentation":"<p>The ID of the insight.</p>",
          "location":"uri",
          "locationName":"Id"
        }
      }
    },
    "DeleteInsightResponse":{
      "type":"structure",
      "members":{}
    },
    "DescribeAccountHealthRequest":{
      "type":"structure",
      "members":{}
    },
    "DescribeAccountHealthResponse":{
      "type":"structure",
      "required":[
        "OpenReactiveInsights",
        "OpenProactiveInsights",
        "MetricsAnalyzed",
        "ResourceHours"
      ],
      "members":{
        "OpenReactiveInsights":{
          "shape":"NumOpenReactiveInsights",
          "documentation":"<p> An integer that specifies the number of open reactive insights in your Amazon Web Services account. </p>"
        },
        "OpenProactiveInsights":{
          "shape":"NumOpenProactiveInsights",
          "documentation":"<p> An integer that specifies the number of open proactive insights in your Amazon Web Services account. </p>"
        },
        "MetricsAnalyzed":{
          "shape":"NumMetricsAnalyzed",
          "documentation":"<p> An integer that specifies the number of metrics that have been analyzed in your Amazon Web Services account. </p>"
        },
        "ResourceHours":{
          "shape":"ResourceHours",
          "documentation":"<p>The number of Amazon DevOps Guru resource analysis hours billed to the current Amazon Web Services account in the last hour. </p>"
        },
        "AnalyzedResourceCount":{
          "shape":"AnalyzedResourceCount",
          "documentation":"<p> Number of resources that DevOps Guru is monitoring in your Amazon Web Services account. </p>"
        }
      }
    },
    "DescribeAccountOverviewRequest":{
      "type":"structure",
      "required":["FromTime"],
      "members":{
        "FromTime":{
          "shape":"Timestamp",
          "documentation":"<p> The start of the time range passed in. The start time granularity is at the day level. The floor of the start time is used. Returned information occurred after this day. </p>"
        },
        "ToTime":{
          "shape":"Timestamp",
          "documentation":"<p> The end of the time range passed in. The start time granularity is at the day level. The floor of the start time is used. Returned information occurred before this day. If this is not specified, then the current day is used. </p>"
        }
      }
    },
    "DescribeAccountOverviewResponse":{
      "type":"structure",
      "required":[
        "ReactiveInsights",
        "ProactiveInsights",
        "MeanTimeToRecoverInMilliseconds"
      ],
      "members":{
        "ReactiveInsights":{
          "shape":"NumReactiveInsights",
          "documentation":"<p> An integer that specifies the number of open reactive insights in your Amazon Web Services account that were created during the time range passed in. </p>"
        },
        "ProactiveInsights":{
          "shape":"NumProactiveInsights",
          "documentation":"<p> An integer that specifies the number of open proactive insights in your Amazon Web Services account that were created during the time range passed in. </p>"
        },
        "MeanTimeToRecoverInMilliseconds":{
          "shape":"MeanTimeToRecoverInMilliseconds",
          "documentation":"<p> The Mean Time to Recover (MTTR) for all closed insights that were created during the time range passed in. </p>"
        }
      }
    },
    "DescribeAnomalyRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"AnomalyId",
          "documentation":"<p> The ID of the anomaly. </p>",
          "location":"uri",
          "locationName":"Id"
        },
        "AccountId":{
          "shape":"AwsAccountId",
          "documentation":"<p>The ID of the member account.</p>",
          "location":"querystring",
          "locationName":"AccountId"
        }
      }
    },
    "DescribeAnomalyResponse":{
      "type":"structure",
      "members":{
        "ProactiveAnomaly":{
          "shape":"ProactiveAnomaly",
          "documentation":"<p> A <code>ProactiveAnomaly</code> object that represents the requested anomaly. </p>"
        },
        "ReactiveAnomaly":{
          "shape":"ReactiveAnomaly",
          "documentation":"<p> A <code>ReactiveAnomaly</code> object that represents the requested anomaly. </p>"
        }
      }
    },
    "DescribeEventSourcesConfigRequest":{
      "type":"structure",
      "members":{}
    },
    "DescribeEventSourcesConfigResponse":{
      "type":"structure",
      "members":{
        "EventSources":{
          "shape":"EventSourcesConfig",
          "documentation":"<p>Lists the event sources in the configuration.</p>"
        }
      }
    },
    "DescribeFeedbackRequest":{
      "type":"structure",
      "members":{
        "InsightId":{
          "shape":"InsightId",
          "documentation":"<p> The ID of the insight for which the feedback was provided. </p>"
        }
      }
    },
    "DescribeFeedbackResponse":{
      "type":"structure",
      "members":{
        "InsightFeedback":{"shape":"InsightFeedback"}
      }
    },
    "DescribeInsightRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"InsightId",
          "documentation":"<p> The ID of the insight. </p>",
          "location":"uri",
          "locationName":"Id"
        },
        "AccountId":{
          "shape":"AwsAccountId",
          "documentation":"<p>The ID of the member account in the organization.</p>",
          "location":"querystring",
          "locationName":"AccountId"
        }
      }
    },
    "DescribeInsightResponse":{
      "type":"structure",
      "members":{
        "ProactiveInsight":{
          "shape":"ProactiveInsight",
          "documentation":"<p> A <code>ProactiveInsight</code> object that represents the requested insight. </p>"
        },
        "ReactiveInsight":{
          "shape":"ReactiveInsight",
          "documentation":"<p> A <code>ReactiveInsight</code> object that represents the requested insight. </p>"
        }
      }
    },
    "DescribeOrganizationHealthRequest":{
      "type":"structure",
      "members":{
        "AccountIds":{
          "shape":"AccountIdList",
          "documentation":"<p>The ID of the Amazon Web Services account.</p>"
        },
        "OrganizationalUnitIds":{
          "shape":"OrganizationalUnitIdList",
          "documentation":"<p>The ID of the organizational unit.</p>"
        }
      }
    },
    "DescribeOrganizationHealthResponse":{
      "type":"structure",
      "required":[
        "OpenReactiveInsights",
        "OpenProactiveInsights",
        "MetricsAnalyzed",
        "ResourceHours"
      ],
      "members":{
        "OpenReactiveInsights":{
          "shape":"NumOpenReactiveInsights",
          "documentation":"<p>An integer that specifies the number of open reactive insights in your Amazon Web Services account.</p>"
        },
        "OpenProactiveInsights":{
          "shape":"NumOpenProactiveInsights",
          "documentation":"<p>An integer that specifies the number of open proactive insights in your Amazon Web Services account.</p>"
        },
        "MetricsAnalyzed":{
          "shape":"NumMetricsAnalyzed",
          "documentation":"<p>An integer that specifies the number of metrics that have been analyzed in your organization.</p>"
        },
        "ResourceHours":{
          "shape":"ResourceHours",
          "documentation":"<p>The number of Amazon DevOps Guru resource analysis hours billed to the current Amazon Web Services account in the last hour. </p>"
        }
      }
    },
    "DescribeOrganizationOverviewRequest":{
      "type":"structure",
      "required":["FromTime"],
      "members":{
        "FromTime":{
          "shape":"Timestamp",
          "documentation":"<p> The start of the time range passed in. The start time granularity is at the day level. The floor of the start time is used. Returned information occurred after this day. </p>"
        },
        "ToTime":{
          "shape":"Timestamp",
          "documentation":"<p> The end of the time range passed in. The start time granularity is at the day level. The floor of the start time is used. Returned information occurred before this day. If this is not specified, then the current day is used. </p>"
        },
        "AccountIds":{
          "shape":"AccountIdList",
          "documentation":"<p>The ID of the Amazon Web Services account.</p>"
        },
        "OrganizationalUnitIds":{
          "shape":"OrganizationalUnitIdList",
          "documentation":"<p>The ID of the organizational unit.</p>"
        }
      }
    },
    "DescribeOrganizationOverviewResponse":{
      "type":"structure",
      "required":[
        "ReactiveInsights",
        "ProactiveInsights"
      ],
      "members":{
        "ReactiveInsights":{
          "shape":"NumReactiveInsights",
          "documentation":"<p>An integer that specifies the number of open reactive insights in your Amazon Web Services account.</p>"
        },
        "ProactiveInsights":{
          "shape":"NumProactiveInsights",
          "documentation":"<p>An integer that specifies the number of open proactive insights in your Amazon Web Services account.</p>"
        }
      }
    },
    "DescribeOrganizationResourceCollectionHealthRequest":{
      "type":"structure",
      "required":["OrganizationResourceCollectionType"],
      "members":{
        "OrganizationResourceCollectionType":{
          "shape":"OrganizationResourceCollectionType",
          "documentation":"<p> An Amazon Web Services resource collection type. This type specifies how analyzed Amazon Web Services resources are defined. The two types of Amazon Web Services resource collections supported are Amazon Web Services CloudFormation stacks and Amazon Web Services resources that contain the same Amazon Web Services tag. DevOps Guru can be configured to analyze the Amazon Web Services resources that are defined in the stacks or that are tagged using the same tag <i>key</i>. You can specify up to 500 Amazon Web Services CloudFormation stacks. </p>"
        },
        "AccountIds":{
          "shape":"AccountIdList",
          "documentation":"<p>The ID of the Amazon Web Services account.</p>"
        },
        "OrganizationalUnitIds":{
          "shape":"OrganizationalUnitIdList",
          "documentation":"<p>The ID of the organizational unit.</p>"
        },
        "NextToken":{
          "shape":"UuidNextToken",
          "documentation":"<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>"
        },
        "MaxResults":{
          "shape":"OrganizationResourceCollectionMaxResults",
          "documentation":"<p>The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p>"
        }
      }
    },
    "DescribeOrganizationResourceCollectionHealthResponse":{
      "type":"structure",
      "members":{
        "CloudFormation":{
          "shape":"CloudFormationHealths",
          "documentation":"<p>The returned <code>CloudFormationHealthOverview</code> object that contains an <code>InsightHealthOverview</code> object with the requested system health information.</p>"
        },
        "Service":{
          "shape":"ServiceHealths",
          "documentation":"<p>An array of <code>ServiceHealth</code> objects that describes the health of the Amazon Web Services services associated with the resources in the collection.</p>"
        },
        "Account":{
          "shape":"AccountHealths",
          "documentation":"<p>The name of the organization's account.</p>"
        },
        "NextToken":{
          "shape":"UuidNextToken",
          "documentation":"<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>"
        },
        "Tags":{
          "shape":"TagHealths",
          "documentation":"<p>Tags help you identify and organize your Amazon Web Services resources. Many Amazon Web Services services support tagging, so you can assign the same tag to resources from different services to indicate that the resources are related. For example, you can assign the same tag to an Amazon DynamoDB table resource that you assign to an Lambda function. For more information about using tags, see the <a href=\"https://docs.aws.amazon.com/whitepapers/latest/tagging-best-practices/tagging-best-practices.html\">Tagging best practices</a> whitepaper. </p> <p>Each Amazon Web Services tag has two parts. </p> <ul> <li> <p>A tag <i>key</i> (for example, <code>CostCenter</code>, <code>Environment</code>, <code>Project</code>, or <code>Secret</code>). Tag <i>keys</i> are case-sensitive.</p> </li> <li> <p>An optional field known as a tag <i>value</i> (for example, <code>111122223333</code>, <code>Production</code>, or a team name). Omitting the tag <i>value</i> is the same as using an empty string. Like tag <i>keys</i>, tag <i>values</i> are case-sensitive.</p> </li> </ul> <p>Together these are known as <i>key</i>-<i>value</i> pairs.</p> <important> <p>The string used for a <i>key</i> in a tag that you use to define your resource coverage must begin with the prefix <code>Devops-guru-</code>. The tag <i>key</i> might be <code>DevOps-Guru-deployment-application</code> or <code>devops-guru-rds-application</code>. When you create a <i>key</i>, the case of characters in the <i>key</i> can be whatever you choose. After you create a <i>key</i>, it is case-sensitive. For example, DevOps Guru works with a <i>key</i> named <code>devops-guru-rds</code> and a <i>key</i> named <code>DevOps-Guru-RDS</code>, and these act as two different <i>keys</i>. Possible <i>key</i>/<i>value</i> pairs in your application might be <code>Devops-Guru-production-application/RDS</code> or <code>Devops-Guru-production-application/containers</code>.</p> </important>"
        }
      }
    },
    "DescribeResourceCollectionHealthRequest":{
      "type":"structure",
      "required":["ResourceCollectionType"],
      "members":{
        "ResourceCollectionType":{
          "shape":"ResourceCollectionType",
          "documentation":"<p> An Amazon Web Services resource collection type. This type specifies how analyzed Amazon Web Services resources are defined. The two types of Amazon Web Services resource collections supported are Amazon Web Services CloudFormation stacks and Amazon Web Services resources that contain the same Amazon Web Services tag. DevOps Guru can be configured to analyze the Amazon Web Services resources that are defined in the stacks or that are tagged using the same tag <i>key</i>. You can specify up to 500 Amazon Web Services CloudFormation stacks. </p>",
          "location":"uri",
          "locationName":"ResourceCollectionType"
        },
        "NextToken":{
          "shape":"UuidNextToken",
          "documentation":"<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>",
          "location":"querystring",
          "locationName":"NextToken"
        }
      }
    },
    "DescribeResourceCollectionHealthResponse":{
      "type":"structure",
      "members":{
        "CloudFormation":{
          "shape":"CloudFormationHealths",
          "documentation":"<p> The returned <code>CloudFormationHealthOverview</code> object that contains an <code>InsightHealthOverview</code> object with the requested system health information. </p>"
        },
        "Service":{
          "shape":"ServiceHealths",
          "documentation":"<p>An array of <code>ServiceHealth</code> objects that describes the health of the Amazon Web Services services associated with the resources in the collection.</p>"
        },
        "NextToken":{
          "shape":"UuidNextToken",
          "documentation":"<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>"
        },
        "Tags":{
          "shape":"TagHealths",
          "documentation":"<p>The Amazon Web Services tags that are used by resources in the resource collection.</p> <p>Tags help you identify and organize your Amazon Web Services resources. Many Amazon Web Services services support tagging, so you can assign the same tag to resources from different services to indicate that the resources are related. For example, you can assign the same tag to an Amazon DynamoDB table resource that you assign to an Lambda function. For more information about using tags, see the <a href=\"https://docs.aws.amazon.com/whitepapers/latest/tagging-best-practices/tagging-best-practices.html\">Tagging best practices</a> whitepaper. </p> <p>Each Amazon Web Services tag has two parts. </p> <ul> <li> <p>A tag <i>key</i> (for example, <code>CostCenter</code>, <code>Environment</code>, <code>Project</code>, or <code>Secret</code>). Tag <i>keys</i> are case-sensitive.</p> </li> <li> <p>An optional field known as a tag <i>value</i> (for example, <code>111122223333</code>, <code>Production</code>, or a team name). Omitting the tag <i>value</i> is the same as using an empty string. Like tag <i>keys</i>, tag <i>values</i> are case-sensitive.</p> </li> </ul> <p>Together these are known as <i>key</i>-<i>value</i> pairs.</p> <important> <p>The string used for a <i>key</i> in a tag that you use to define your resource coverage must begin with the prefix <code>Devops-guru-</code>. The tag <i>key</i> might be <code>DevOps-Guru-deployment-application</code> or <code>devops-guru-rds-application</code>. When you create a <i>key</i>, the case of characters in the <i>key</i> can be whatever you choose. After you create a <i>key</i>, it is case-sensitive. For example, DevOps Guru works with a <i>key</i> named <code>devops-guru-rds</code> and a <i>key</i> named <code>DevOps-Guru-RDS</code>, and these act as two different <i>keys</i>. Possible <i>key</i>/<i>value</i> pairs in your application might be <code>Devops-Guru-production-application/RDS</code> or <code>Devops-Guru-production-application/containers</code>.</p> </important>"
        }
      }
    },
    "DescribeServiceIntegrationRequest":{
      "type":"structure",
      "members":{}
    },
    "DescribeServiceIntegrationResponse":{
      "type":"structure",
      "members":{
        "ServiceIntegration":{"shape":"ServiceIntegrationConfig"}
      }
    },
    "EndTimeRange":{
      "type":"structure",
      "members":{
        "FromTime":{
          "shape":"Timestamp",
          "documentation":"<p> The earliest end time in the time range. </p>"
        },
        "ToTime":{
          "shape":"Timestamp",
          "documentation":"<p> The latest end time in the time range. </p>"
        }
      },
      "documentation":"<p> A range of time that specifies when anomalous behavior in an anomaly or insight ended. </p>"
    },
    "ErrorMessageString":{"type":"string"},
    "ErrorNameString":{"type":"string"},
    "ErrorQuotaCodeString":{"type":"string"},
    "ErrorServiceCodeString":{"type":"string"},
    "Event":{
      "type":"structure",
      "members":{
        "ResourceCollection":{"shape":"ResourceCollection"},
        "Id":{
          "shape":"EventId",
          "documentation":"<p> The ID of the event. </p>"
        },
        "Time":{
          "shape":"Timestamp",
          "documentation":"<p> A <code>Timestamp</code> that specifies the time the event occurred. </p>"
        },
        "EventSource":{
          "shape":"EventSource",
          "documentation":"<p> The Amazon Web Services source that emitted the event. </p>"
        },
        "Name":{
          "shape":"EventName",
          "documentation":"<p> The name of the event. </p>"
        },
        "DataSource":{
          "shape":"EventDataSource",
          "documentation":"<p> The source, <code>AWS_CLOUD_TRAIL</code> or <code>AWS_CODE_DEPLOY</code>, where DevOps Guru analysis found the event. </p>"
        },
        "EventClass":{
          "shape":"EventClass",
          "documentation":"<p> The class of the event. The class specifies what the event is related to, such as an infrastructure change, a deployment, or a schema change. </p>"
        },
        "Resources":{
          "shape":"EventResources",
          "documentation":"<p> An <code>EventResource</code> object that contains information about the resource that emitted the event. </p>"
        }
      },
      "documentation":"<p> An Amazon Web Services resource event. Amazon Web Services resource events and metrics are analyzed by DevOps Guru to find anomalous behavior and provide recommendations to improve your operational solutions. </p>"
    },
    "EventClass":{
      "type":"string",
      "enum":[
        "INFRASTRUCTURE",
        "DEPLOYMENT",
        "SECURITY_CHANGE",
        "CONFIG_CHANGE",
        "SCHEMA_CHANGE"
      ]
    },
    "EventDataSource":{
      "type":"string",
      "enum":[
        "AWS_CLOUD_TRAIL",
        "AWS_CODE_DEPLOY"
      ]
    },
    "EventId":{"type":"string"},
    "EventName":{
      "type":"string",
      "max":50,
      "min":0
    },
    "EventResource":{
      "type":"structure",
      "members":{
        "Type":{
          "shape":"EventResourceType",
          "documentation":"<p> The type of resource that emitted an event. </p>"
        },
        "Name":{
          "shape":"EventResourceName",
          "documentation":"<p> The name of the resource that emitted an event. </p>"
        },
        "Arn":{
          "shape":"EventResourceArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the resource that emitted an event. </p>"
        }
      },
      "documentation":"<p> The Amazon Web Services resource that emitted an event. Amazon Web Services resource events and metrics are analyzed by DevOps Guru to find anomalous behavior and provide recommendations to improve your operational solutions. </p>"
    },
    "EventResourceArn":{
      "type":"string",
      "max":2048,
      "min":36,
      "pattern":"^arn:aws[-a-z]*:[a-z0-9-]*:[a-z0-9-]*:\\d{12}:.*$"
    },
    "EventResourceName":{
      "type":"string",
      "max":2048,
      "min":0,
      "pattern":"^.*$"
    },
    "EventResourceType":{
      "type":"string",
      "max":2048,
      "min":0,
      "pattern":"^.*$"
    },
    "EventResources":{
      "type":"list",
      "member":{"shape":"EventResource"}
    },
    "EventSource":{
      "type":"string",
      "max":50,
      "min":10,
      "pattern":"^[a-z]+[a-z0-9]*\\.amazonaws\\.com|aws\\.events$"
    },
    "EventSourceOptInStatus":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "EventSourcesConfig":{
      "type":"structure",
      "members":{
        "AmazonCodeGuruProfiler":{
          "shape":"AmazonCodeGuruProfilerIntegration",
          "documentation":"<p>Information about whether DevOps Guru is configured to consume recommendations which are generated from AWS CodeGuru Profiler.</p>"
        }
      },
      "documentation":"<p>Information about the integration of DevOps Guru as consumer with another AWS service, such as AWS CodeGuru Profiler via EventBridge.</p>"
    },
    "EventTimeRange":{
      "type":"structure",
      "required":[
        "FromTime",
        "ToTime"
      ],
      "members":{
        "FromTime":{
          "shape":"Timestamp",
          "documentation":"<p> The time when the event started. </p>"
        },
        "ToTime":{
          "shape":"Timestamp",
          "documentation":"<p> The time when the event ended. </p>"
        }
      },
      "documentation":"<p> The time range during which an Amazon Web Services event occurred. Amazon Web Services resource events and metrics are analyzed by DevOps Guru to find anomalous behavior and provide recommendations to improve your operational solutions. </p>"
    },
    "Events":{
      "type":"list",
      "member":{"shape":"Event"}
    },
    "Explanation":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "GetCostEstimationRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"UuidNextToken",
          "documentation":"<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>",
          "location":"querystring",
          "locationName":"NextToken"
        }
      }
    },
    "GetCostEstimationResponse":{
      "type":"structure",
      "members":{
        "ResourceCollection":{
          "shape":"CostEstimationResourceCollectionFilter",
          "documentation":"<p>The collection of the Amazon Web Services resources used to create your monthly DevOps Guru cost estimate.</p>"
        },
        "Status":{
          "shape":"CostEstimationStatus",
          "documentation":"<p>The status of creating this cost estimate. If it's still in progress, the status <code>ONGOING</code> is returned. If it is finished, the status <code>COMPLETED</code> is returned.</p>"
        },
        "Costs":{
          "shape":"ServiceResourceCosts",
          "documentation":"<p>An array of <code>ResourceCost</code> objects that each contains details about the monthly cost estimate to analyze one of your Amazon Web Services resources.</p>"
        },
        "TimeRange":{
          "shape":"CostEstimationTimeRange",
          "documentation":"<p>The start and end time of the cost estimation.</p>"
        },
        "TotalCost":{
          "shape":"Cost",
          "documentation":"<p>The estimated monthly cost to analyze the Amazon Web Services resources. This value is the sum of the estimated costs to analyze each resource in the <code>Costs</code> object in this response.</p>"
        },
        "NextToken":{
          "shape":"UuidNextToken",
          "documentation":"<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>"
        }
      }
    },
    "GetResourceCollectionRequest":{
      "type":"structure",
      "required":["ResourceCollectionType"],
      "members":{
        "ResourceCollectionType":{
          "shape":"ResourceCollectionType",
          "documentation":"<p> The type of Amazon Web Services resource collections to return. The one valid value is <code>CLOUD_FORMATION</code> for Amazon Web Services CloudFormation stacks. </p>",
          "location":"uri",
          "locationName":"ResourceCollectionType"
        },
        "NextToken":{
          "shape":"UuidNextToken",
          "documentation":"<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>",
          "location":"querystring",
          "locationName":"NextToken"
        }
      }
    },
    "GetResourceCollectionResponse":{
      "type":"structure",
      "members":{
        "ResourceCollection":{
          "shape":"ResourceCollectionFilter",
          "documentation":"<p> The requested list of Amazon Web Services resource collections. The two types of Amazon Web Services resource collections supported are Amazon Web Services CloudFormation stacks and Amazon Web Services resources that contain the same Amazon Web Services tag. DevOps Guru can be configured to analyze the Amazon Web Services resources that are defined in the stacks or that are tagged using the same tag <i>key</i>. You can specify up to 500 Amazon Web Services CloudFormation stacks. </p>"
        },
        "NextToken":{
          "shape":"UuidNextToken",
          "documentation":"<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>"
        }
      }
    },
    "InsightDescription":{"type":"string"},
    "InsightFeedback":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"InsightId",
          "documentation":"<p> The insight feedback ID. </p>"
        },
        "Feedback":{
          "shape":"InsightFeedbackOption",
          "documentation":"<p> The feedback provided by the customer. </p>"
        }
      },
      "documentation":"<p> Information about insight feedback received from a customer. </p>"
    },
    "InsightFeedbackOption":{
      "type":"string",
      "enum":[
        "VALID_COLLECTION",
        "RECOMMENDATION_USEFUL",
        "ALERT_TOO_SENSITIVE",
        "DATA_NOISY_ANOMALY",
        "DATA_INCORRECT"
      ]
    },
    "InsightHealth":{
      "type":"structure",
      "members":{
        "OpenProactiveInsights":{
          "shape":"NumOpenProactiveInsights",
          "documentation":"<p> The number of open proactive insights. </p>"
        },
        "OpenReactiveInsights":{
          "shape":"NumOpenReactiveInsights",
          "documentation":"<p> The number of open reactive insights. </p>"
        },
        "MeanTimeToRecoverInMilliseconds":{
          "shape":"MeanTimeToRecoverInMilliseconds",
          "documentation":"<p> The Meant Time to Recover (MTTR) for the insight. </p>"
        }
      },
      "documentation":"<p> Information about the number of open reactive and proactive insights that can be used to gauge the health of your system. </p>"
    },
    "InsightId":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^[\\w-]*$"
    },
    "InsightName":{
      "type":"string",
      "max":530,
      "min":1,
      "pattern":"^[\\s\\S]*$"
    },
    "InsightSeverities":{
      "type":"list",
      "member":{"shape":"InsightSeverity"},
      "max":3,
      "min":0
    },
    "InsightSeverity":{
      "type":"string",
      "enum":[
        "LOW",
        "MEDIUM",
        "HIGH"
      ]
    },
    "InsightStatus":{
      "type":"string",
      "enum":[
        "ONGOING",
        "CLOSED"
      ]
    },
    "InsightStatuses":{
      "type":"list",
      "member":{"shape":"InsightStatus"},
      "max":2,
      "min":0
    },
    "InsightTimeRange":{
      "type":"structure",
      "required":["StartTime"],
      "members":{
        "StartTime":{
          "shape":"Timestamp",
          "documentation":"<p> The time when the behavior described in an insight started. </p>"
        },
        "EndTime":{
          "shape":"Timestamp",
          "documentation":"<p> The time when the behavior described in an insight ended. </p>"
        }
      },
      "documentation":"<p> A time ranged that specifies when the observed behavior in an insight started and ended. </p>"
    },
    "InsightType":{
      "type":"string",
      "enum":[
        "REACTIVE",
        "PROACTIVE"
      ]
    },
    "InternalServerException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"ErrorMessageString"},
        "RetryAfterSeconds":{
          "shape":"RetryAfterSeconds",
          "documentation":"<p> The number of seconds after which the action that caused the internal server exception can be retried. </p>",
          "location":"header",
          "locationName":"Retry-After"
        }
      },
      "documentation":"<p>An internal failure in an Amazon service occurred.</p>",
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true
    },
    "KMSKeyId":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"^.*$"
    },
    "KMSServerSideEncryptionIntegration":{
      "type":"structure",
      "members":{
        "KMSKeyId":{
          "shape":"KMSKeyId",
          "documentation":"<p> Describes the specified KMS key. </p> <p>To specify a KMS key, use its key ID, key ARN, alias name, or alias ARN. When using an alias name, prefix it with \"alias/\". If you specify a predefined Amazon Web Services alias (an Amazon Web Services alias with no key ID), Amazon Web Services KMS associates the alias with an Amazon Web Services managed key and returns its KeyId and Arn in the response. To specify a KMS key in a different Amazon Web Services account, you must use the key ARN or alias ARN.</p> <p>For example: </p> <p>Key ID: 1234abcd-12ab-34cd-56ef-1234567890ab</p> <p>Key ARN: arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</p> <p>Alias name: alias/ExampleAlias</p> <p>Alias ARN: arn:aws:kms:us-east-2:111122223333:alias/ExampleAlias</p>"
        },
        "OptInStatus":{
          "shape":"OptInStatus",
          "documentation":"<p> Specifies if DevOps Guru is enabled for customer managed keys. </p>"
        },
        "Type":{
          "shape":"ServerSideEncryptionType",
          "documentation":"<p> The type of KMS key used. Customer managed keys are the KMS keys that you create. Amazon Web Services owned keys are keys that are owned and managed by DevOps Guru. </p>"
        }
      },
      "documentation":"<p> Information about the KMS encryption used with DevOps Guru. </p>"
    },
    "KMSServerSideEncryptionIntegrationConfig":{
      "type":"structure",
      "members":{
        "KMSKeyId":{
          "shape":"KMSKeyId",
          "documentation":"<p> Describes the specified KMS key.</p> <p>To specify a KMS key, use its key ID, key ARN, alias name, or alias ARN. When using an alias name, prefix it with \"alias/\". If you specify a predefined Amazon Web Services alias (an Amazon Web Services alias with no key ID), Amazon Web Services KMS associates the alias with an Amazon Web Services managed key and returns its KeyId and Arn in the response. To specify a KMS key in a different Amazon Web Services account, you must use the key ARN or alias ARN.</p> <p>For example: </p> <p>Key ID: 1234abcd-12ab-34cd-56ef-1234567890ab</p> <p>Key ARN: arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</p> <p>Alias name: alias/ExampleAlias</p> <p>Alias ARN: arn:aws:kms:us-east-2:111122223333:alias/ExampleAlias</p>"
        },
        "OptInStatus":{
          "shape":"OptInStatus",
          "documentation":"<p> Specifies if DevOps Guru is enabled for KMS integration. </p>"
        },
        "Type":{
          "shape":"ServerSideEncryptionType",
          "documentation":"<p> The type of KMS key used. Customer managed keys are the KMS keys that you create. Amazon Web Services owned keys are keys that are owned and managed by DevOps Guru. </p>"
        }
      },
      "documentation":"<p> Information about whether DevOps Guru is configured to encrypt server-side data using KMS. </p>"
    },
    "ListAnomaliesForInsightFilters":{
      "type":"structure",
      "members":{
        "ServiceCollection":{"shape":"ServiceCollection"}
      },
      "documentation":"<p> Specifies one or more service names that are used to list anomalies. </p>"
    },
    "ListAnomaliesForInsightMaxResults":{
      "type":"integer",
      "max":500,
      "min":1
    },
    "ListAnomaliesForInsightRequest":{
      "type":"structure",
      "required":["InsightId"],
      "members":{
        "InsightId":{
          "shape":"InsightId",
          "documentation":"<p> The ID of the insight. The returned anomalies belong to this insight. </p>",
          "location":"uri",
          "locationName":"InsightId"
        },
        "StartTimeRange":{
          "shape":"StartTimeRange",
          "documentation":"<p> A time range used to specify when the requested anomalies started. All returned anomalies started during this time range. </p>"
        },
        "MaxResults":{
          "shape":"ListAnomaliesForInsightMaxResults",
          "documentation":"<p>The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p>"
        },
        "NextToken":{
          "shape":"UuidNextToken",
          "documentation":"<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>"
        },
        "AccountId":{
          "shape":"AwsAccountId",
          "documentation":"<p>The ID of the Amazon Web Services account. </p>"
        },
        "Filters":{
          "shape":"ListAnomaliesForInsightFilters",
          "documentation":"<p> Specifies one or more service names that are used to list anomalies. </p>"
        }
      }
    },
    "ListAnomaliesForInsightResponse":{
      "type":"structure",
      "members":{
        "ProactiveAnomalies":{
          "shape":"ProactiveAnomalies",
          "documentation":"<p> An array of <code>ProactiveAnomalySummary</code> objects that represent the requested anomalies </p>"
        },
        "ReactiveAnomalies":{
          "shape":"ReactiveAnomalies",
          "documentation":"<p> An array of <code>ReactiveAnomalySummary</code> objects that represent the requested anomalies </p>"
        },
        "NextToken":{
          "shape":"UuidNextToken",
          "documentation":"<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>"
        }
      }
    },
    "ListAnomalousLogGroupsMaxResults":{
      "type":"integer",
      "max":200,
      "min":1
    },
    "ListAnomalousLogGroupsRequest":{
      "type":"structure",
      "required":["InsightId"],
      "members":{
        "InsightId":{
          "shape":"InsightId",
          "documentation":"<p> The ID of the insight containing the log groups. </p>"
        },
        "MaxResults":{
          "shape":"ListAnomalousLogGroupsMaxResults",
          "documentation":"<p>The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p>"
        },
        "NextToken":{
          "shape":"UuidNextToken",
          "documentation":"<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>"
        }
      }
    },
    "ListAnomalousLogGroupsResponse":{
      "type":"structure",
      "required":[
        "InsightId",
        "AnomalousLogGroups"
      ],
      "members":{
        "InsightId":{
          "shape":"InsightId",
          "documentation":"<p> The ID of the insight containing the log groups. </p>"
        },
        "AnomalousLogGroups":{
          "shape":"AnomalousLogGroups",
          "documentation":"<p> The list of Amazon CloudWatch log groups that are related to an insight. </p>"
        },
        "NextToken":{
          "shape":"UuidNextToken",
          "documentation":"<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>"
        }
      }
    },
    "ListEventsFilters":{
      "type":"structure",
      "members":{
        "InsightId":{
          "shape":"InsightId",
          "documentation":"<p> An ID of an insight that is related to the events you want to filter for. </p>"
        },
        "EventTimeRange":{
          "shape":"EventTimeRange",
          "documentation":"<p> A time range during which you want the filtered events to have occurred. </p>"
        },
        "EventClass":{
          "shape":"EventClass",
          "documentation":"<p> The class of the events you want to filter for, such as an infrastructure change, a deployment, or a schema change. </p>"
        },
        "EventSource":{
          "shape":"EventSource",
          "documentation":"<p> The Amazon Web Services source that emitted the events you want to filter for. </p>"
        },
        "DataSource":{
          "shape":"EventDataSource",
          "documentation":"<p> The source, <code>AWS_CLOUD_TRAIL</code> or <code>AWS_CODE_DEPLOY</code>, of the events you want returned. </p>"
        },
        "ResourceCollection":{"shape":"ResourceCollection"}
      },
      "documentation":"<p> Filters you can use to specify which events are returned when <code>ListEvents</code> is called. </p>"
    },
    "ListEventsMaxResults":{
      "type":"integer",
      "max":200,
      "min":1
    },
    "ListEventsRequest":{
      "type":"structure",
      "required":["Filters"],
      "members":{
        "Filters":{
          "shape":"ListEventsFilters",
          "documentation":"<p> A <code>ListEventsFilters</code> object used to specify which events to return. </p>"
        },
        "MaxResults":{
          "shape":"ListEventsMaxResults",
          "documentation":"<p>The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p>"
        },
        "NextToken":{
          "shape":"UuidNextToken",
          "documentation":"<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>"
        },
        "AccountId":{
          "shape":"AwsAccountId",
          "documentation":"<p>The ID of the Amazon Web Services account. </p>"
        }
      }
    },
    "ListEventsResponse":{
      "type":"structure",
      "required":["Events"],
      "members":{
        "Events":{
          "shape":"Events",
          "documentation":"<p> A list of the requested events. </p>"
        },
        "NextToken":{
          "shape":"UuidNextToken",
          "documentation":"<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>"
        }
      }
    },
    "ListInsightsAccountIdList":{
      "type":"list",
      "member":{"shape":"AwsAccountId"},
      "max":1,
      "min":0
    },
    "ListInsightsAnyStatusFilter":{
      "type":"structure",
      "required":[
        "Type",
        "StartTimeRange"
      ],
      "members":{
        "Type":{
          "shape":"InsightType",
          "documentation":"<p> Use to filter for either <code>REACTIVE</code> or <code>PROACTIVE</code> insights. </p>"
        },
        "StartTimeRange":{
          "shape":"StartTimeRange",
          "documentation":"<p> A time range used to specify when the behavior of the filtered insights started. </p>"
        }
      },
      "documentation":"<p> Used to filter for insights that have any status. </p>"
    },
    "ListInsightsClosedStatusFilter":{
      "type":"structure",
      "required":[
        "Type",
        "EndTimeRange"
      ],
      "members":{
        "Type":{
          "shape":"InsightType",
          "documentation":"<p> Use to filter for either <code>REACTIVE</code> or <code>PROACTIVE</code> insights. </p>"
        },
        "EndTimeRange":{
          "shape":"EndTimeRange",
          "documentation":"<p> A time range used to specify when the behavior of the filtered insights ended. </p>"
        }
      },
      "documentation":"<p> Used to filter for insights that have the status <code>CLOSED</code>. </p>"
    },
    "ListInsightsMaxResults":{
      "type":"integer",
      "max":100,
      "min":1
    },
    "ListInsightsOngoingStatusFilter":{
      "type":"structure",
      "required":["Type"],
      "members":{
        "Type":{
          "shape":"InsightType",
          "documentation":"<p> Use to filter for either <code>REACTIVE</code> or <code>PROACTIVE</code> insights. </p>"
        }
      },
      "documentation":"<p> Used to filter for insights that have the status <code>ONGOING</code>. </p>"
    },
    "ListInsightsOrganizationalUnitIdList":{
      "type":"list",
      "member":{"shape":"OrganizationalUnitId"},
      "max":1,
      "min":0
    },
    "ListInsightsRequest":{
      "type":"structure",
      "required":["StatusFilter"],
      "members":{
        "StatusFilter":{
          "shape":"ListInsightsStatusFilter",
          "documentation":"<p> A filter used to filter the returned insights by their status. You can specify one status filter. </p>"
        },
        "MaxResults":{
          "shape":"ListInsightsMaxResults",
          "documentation":"<p>The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p>"
        },
        "NextToken":{
          "shape":"UuidNextToken",
          "documentation":"<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>"
        }
      }
    },
    "ListInsightsResponse":{
      "type":"structure",
      "members":{
        "ProactiveInsights":{
          "shape":"ProactiveInsights",
          "documentation":"<p> The returned list of proactive insights. </p>"
        },
        "ReactiveInsights":{
          "shape":"ReactiveInsights",
          "documentation":"<p> The returned list of reactive insights. </p>"
        },
        "NextToken":{
          "shape":"UuidNextToken",
          "documentation":"<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>"
        }
      }
    },
    "ListInsightsStatusFilter":{
      "type":"structure",
      "members":{
        "Ongoing":{
          "shape":"ListInsightsOngoingStatusFilter",
          "documentation":"<p> A <code>ListInsightsAnyStatusFilter</code> that specifies ongoing insights that are either <code>REACTIVE</code> or <code>PROACTIVE</code>. </p>"
        },
        "Closed":{
          "shape":"ListInsightsClosedStatusFilter",
          "documentation":"<p> A <code>ListInsightsClosedStatusFilter</code> that specifies closed insights that are either <code>REACTIVE</code> or <code>PROACTIVE</code>. </p>"
        },
        "Any":{
          "shape":"ListInsightsAnyStatusFilter",
          "documentation":"<p> A <code>ListInsightsAnyStatusFilter</code> that specifies insights of any status that are either <code>REACTIVE</code> or <code>PROACTIVE</code>. </p>"
        }
      },
      "documentation":"<p> A filter used by <code>ListInsights</code> to specify which insights to return. </p>"
    },
    "ListMonitoredResourcesFilters":{
      "type":"structure",
      "required":[
        "ResourcePermission",
        "ResourceTypeFilters"
      ],
      "members":{
        "ResourcePermission":{
          "shape":"ResourcePermission",
          "documentation":"<p> The permission status of a resource. </p>"
        },
        "ResourceTypeFilters":{
          "shape":"ResourceTypeFilters",
          "documentation":"<p> The type of resource that you wish to retrieve, such as log groups. </p>"
        }
      },
      "documentation":"<p> Filters to determine which monitored resources you want to retrieve. You can filter by resource type or resource permission status. </p>"
    },
    "ListMonitoredResourcesMaxResults":{
      "type":"integer",
      "max":50,
      "min":1
    },
    "ListMonitoredResourcesRequest":{
      "type":"structure",
      "members":{
        "Filters":{
          "shape":"ListMonitoredResourcesFilters",
          "documentation":"<p> Filters to determine which monitored resources you want to retrieve. You can filter by resource type or resource permission status. </p>"
        },
        "MaxResults":{
          "shape":"ListMonitoredResourcesMaxResults",
          "documentation":"<p>The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p>"
        },
        "NextToken":{
          "shape":"UuidNextToken",
          "documentation":"<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>"
        }
      }
    },
    "ListMonitoredResourcesResponse":{
      "type":"structure",
      "required":["MonitoredResourceIdentifiers"],
      "members":{
        "MonitoredResourceIdentifiers":{
          "shape":"MonitoredResourceIdentifiers",
          "documentation":"<p> Information about the resource that is being monitored, including the name of the resource, the type of resource, and whether or not permission is given to DevOps Guru to access that resource. </p>"
        },
        "NextToken":{
          "shape":"UuidNextToken",
          "documentation":"<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>"
        }
      }
    },
    "ListNotificationChannelsRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"UuidNextToken",
          "documentation":"<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>"
        }
      }
    },
    "ListNotificationChannelsResponse":{
      "type":"structure",
      "members":{
        "Channels":{
          "shape":"Channels",
          "documentation":"<p> An array that contains the requested notification channels. </p>"
        },
        "NextToken":{
          "shape":"UuidNextToken",
          "documentation":"<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>"
        }
      }
    },
    "ListOrganizationInsightsRequest":{
      "type":"structure",
      "required":["StatusFilter"],
      "members":{
        "StatusFilter":{"shape":"ListInsightsStatusFilter"},
        "MaxResults":{
          "shape":"ListInsightsMaxResults",
          "documentation":"<p>The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p>"
        },
        "AccountIds":{
          "shape":"ListInsightsAccountIdList",
          "documentation":"<p>The ID of the Amazon Web Services account. </p>"
        },
        "OrganizationalUnitIds":{
          "shape":"ListInsightsOrganizationalUnitIdList",
          "documentation":"<p>The ID of the organizational unit.</p>"
        },
        "NextToken":{
          "shape":"UuidNextToken",
          "documentation":"<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>"
        }
      }
    },
    "ListOrganizationInsightsResponse":{
      "type":"structure",
      "members":{
        "ProactiveInsights":{
          "shape":"ProactiveOrganizationInsights",
          "documentation":"<p>An integer that specifies the number of open proactive insights in your Amazon Web Services account.</p>"
        },
        "ReactiveInsights":{
          "shape":"ReactiveOrganizationInsights",
          "documentation":"<p>An integer that specifies the number of open reactive insights in your Amazon Web Services account.</p>"
        },
        "NextToken":{
          "shape":"UuidNextToken",
          "documentation":"<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>"
        }
      }
    },
    "ListRecommendationsRequest":{
      "type":"structure",
      "required":["InsightId"],
      "members":{
        "InsightId":{
          "shape":"InsightId",
          "documentation":"<p> The ID of the requested insight. </p>"
        },
        "NextToken":{
          "shape":"UuidNextToken",
          "documentation":"<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>"
        },
        "Locale":{
          "shape":"Locale",
[...]
