{{!< default}}

{{!--

There are two error files in this theme, one for 404s and one for all other errors.
This file is the former, and handles all 404 Page Not Found errors.

The 404 error is the most common error that a visitor might see, for example when
following a broken link

Keep this template as lightweight as you can!

--}}

<section class="outer error-content">
    <div class="inner">
        <section class="error-message">
            <h1 class="error-code">{{statusCode}}</h1>
            <p class="error-description">{{message}}</p>
            <a class="error-link" href="{{@site.url}}">Go to the front page →</a>
        </section>
    </div>
</section>

{{!-- Given that people landing on this page didn't find what they
were looking for, let's give them some alternative stuff to read. --}}
<aside class="read-more-wrap">
    <div class="read-more inner">
        {{#get "posts" include="authors" limit="3" as |more_posts|}}
            {{#if more_posts}}
                {{#foreach more_posts}}
                    {{> "post-card"}}
                {{/foreach}}
            {{/if}}
        {{/get}}
    </div>
</aside>