{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-10-26",
    "endpointPrefix":"securityhub",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"AWS SecurityHub",
    "serviceId":"SecurityHub",
    "signatureVersion":"v4",
    "signingName":"securityhub",
    "uid":"securityhub-2018-10-26",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AcceptAdministratorInvitation":{
      "name":"AcceptAdministratorInvitation",
      "http":{
        "method":"POST",
        "requestUri":"/administrator"
      },
      "input":{"shape":"AcceptAdministratorInvitationRequest"},
      "output":{"shape":"AcceptAdministratorInvitationResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidAccessException"}
      ],
      "documentation":"<note> <p>We recommend using Organizations instead of Security Hub invitations to manage your member accounts. For information, see <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-accounts-orgs.html\">Managing Security Hub administrator and member accounts with Organizations</a> in the <i>Security Hub User Guide</i>.</p> </note> <p>Accepts the invitation to be a member account and be monitored by the Security Hub administrator account that the invitation was sent from.</p> <p>This operation is only used by member accounts that are not added through Organizations.</p> <p>When the member account accepts the invitation, permission is granted to the administrator account to view findings generated in the member account.</p>"
    },
    "AcceptInvitation":{
      "name":"AcceptInvitation",
      "http":{
        "method":"POST",
        "requestUri":"/master"
      },
      "input":{"shape":"AcceptInvitationRequest"},
      "output":{"shape":"AcceptInvitationResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidAccessException"}
      ],
      "documentation":"<p>This method is deprecated. Instead, use <code>AcceptAdministratorInvitation</code>.</p> <p>The Security Hub console continues to use <code>AcceptInvitation</code>. It will eventually change to use <code>AcceptAdministratorInvitation</code>. Any IAM policies that specifically control access to this function must continue to use <code>AcceptInvitation</code>. You should also add <code>AcceptAdministratorInvitation</code> to your policies to ensure that the correct permissions are in place after the console begins to use <code>AcceptAdministratorInvitation</code>.</p> <p>Accepts the invitation to be a member account and be monitored by the Security Hub administrator account that the invitation was sent from.</p> <p>This operation is only used by member accounts that are not added through Organizations.</p> <p>When the member account accepts the invitation, permission is granted to the administrator account to view findings generated in the member account.</p>",
      "deprecated":true,
      "deprecatedMessage":"This API has been deprecated, use AcceptAdministratorInvitation API instead."
    },
    "BatchDeleteAutomationRules":{
      "name":"BatchDeleteAutomationRules",
      "http":{
        "method":"POST",
        "requestUri":"/automationrules/delete"
      },
      "input":{"shape":"BatchDeleteAutomationRulesRequest"},
      "output":{"shape":"BatchDeleteAutomationRulesResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidAccessException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Deletes one or more automation rules. </p>"
    },
    "BatchDisableStandards":{
      "name":"BatchDisableStandards",
      "http":{
        "method":"POST",
        "requestUri":"/standards/deregister"
      },
      "input":{"shape":"BatchDisableStandardsRequest"},
      "output":{"shape":"BatchDisableStandardsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Disables the standards specified by the provided <code>StandardsSubscriptionArns</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-standards.html\">Security Standards</a> section of the <i>Security Hub User Guide</i>.</p>"
    },
    "BatchEnableStandards":{
      "name":"BatchEnableStandards",
      "http":{
        "method":"POST",
        "requestUri":"/standards/register"
      },
      "input":{"shape":"BatchEnableStandardsRequest"},
      "output":{"shape":"BatchEnableStandardsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Enables the standards specified by the provided <code>StandardsArn</code>. To obtain the ARN for a standard, use the <code>DescribeStandards</code> operation.</p> <p>For more information, see the <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-standards.html\">Security Standards</a> section of the <i>Security Hub User Guide</i>.</p>"
    },
    "BatchGetAutomationRules":{
      "name":"BatchGetAutomationRules",
      "http":{
        "method":"POST",
        "requestUri":"/automationrules/get"
      },
      "input":{"shape":"BatchGetAutomationRulesRequest"},
      "output":{"shape":"BatchGetAutomationRulesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalException"},
        {"shape":"InvalidAccessException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Retrieves a list of details for automation rules based on rule Amazon Resource Names (ARNs). </p>"
    },
    "BatchGetConfigurationPolicyAssociations":{
      "name":"BatchGetConfigurationPolicyAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/configurationPolicyAssociation/batchget"
      },
      "input":{"shape":"BatchGetConfigurationPolicyAssociationsRequest"},
      "output":{"shape":"BatchGetConfigurationPolicyAssociationsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidAccessException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Returns associations between an Security Hub configuration and a batch of target accounts, organizational units, or the root. Only the Security Hub delegated administrator can invoke this operation from the home Region. A configuration can refer to a configuration policy or to a self-managed configuration. </p>"
    },
    "BatchGetSecurityControls":{
      "name":"BatchGetSecurityControls",
      "http":{
        "method":"POST",
        "requestUri":"/securityControls/batchGet"
      },
      "input":{"shape":"BatchGetSecurityControlsRequest"},
      "output":{"shape":"BatchGetSecurityControlsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p> Provides details about a batch of security controls for the current Amazon Web Services account and Amazon Web Services Region. </p>"
    },
    "BatchGetStandardsControlAssociations":{
      "name":"BatchGetStandardsControlAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/associations/batchGet"
      },
      "input":{"shape":"BatchGetStandardsControlAssociationsRequest"},
      "output":{"shape":"BatchGetStandardsControlAssociationsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p> For a batch of security controls and standards, identifies whether each control is currently enabled or disabled in a standard. </p> <p> Calls to this operation return a <code>RESOURCE_NOT_FOUND_EXCEPTION</code> error when the standard subscription for the association has a <code>NOT_READY_FOR_UPDATES</code> value for <code>StandardsControlsUpdatable</code>. </p>"
    },
    "BatchImportFindings":{
      "name":"BatchImportFindings",
      "http":{
        "method":"POST",
        "requestUri":"/findings/import"
      },
      "input":{"shape":"BatchImportFindingsRequest"},
      "output":{"shape":"BatchImportFindingsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"}
      ],
      "documentation":"<p>Imports security findings generated by a finding provider into Security Hub. This action is requested by the finding provider to import its findings into Security Hub.</p> <p> <code>BatchImportFindings</code> must be called by one of the following:</p> <ul> <li> <p>The Amazon Web Services account that is associated with a finding if you are using the <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-custom-providers.html#securityhub-custom-providers-bfi-reqs\">default product ARN</a> or are a partner sending findings from within a customer's Amazon Web Services account. In these cases, the identifier of the account that you are calling <code>BatchImportFindings</code> from needs to be the same as the <code>AwsAccountId</code> attribute for the finding.</p> </li> <li> <p>An Amazon Web Services account that Security Hub has allow-listed for an official partner integration. In this case, you can call <code>BatchImportFindings</code> from the allow-listed account and send findings from different customer accounts in the same batch.</p> </li> </ul> <p>The maximum allowed size for a finding is 240 Kb. An error is returned for any finding larger than 240 Kb.</p> <p>After a finding is created, <code>BatchImportFindings</code> cannot be used to update the following finding fields and objects, which Security Hub customers use to manage their investigation workflow.</p> <ul> <li> <p> <code>Note</code> </p> </li> <li> <p> <code>UserDefinedFields</code> </p> </li> <li> <p> <code>VerificationState</code> </p> </li> <li> <p> <code>Workflow</code> </p> </li> </ul> <p>Finding providers also should not use <code>BatchImportFindings</code> to update the following attributes.</p> <ul> <li> <p> <code>Confidence</code> </p> </li> <li> <p> <code>Criticality</code> </p> </li> <li> <p> <code>RelatedFindings</code> </p> </li> <li> <p> <code>Severity</code> </p> </li> <li> <p> <code>Types</code> </p> </li> </ul> <p>Instead, finding providers use <code>FindingProviderFields</code> to provide values for these attributes.</p>"
    },
    "BatchUpdateAutomationRules":{
      "name":"BatchUpdateAutomationRules",
      "http":{
        "method":"PATCH",
        "requestUri":"/automationrules/update"
      },
      "input":{"shape":"BatchUpdateAutomationRulesRequest"},
      "output":{"shape":"BatchUpdateAutomationRulesResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidAccessException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Updates one or more automation rules based on rule Amazon Resource Names (ARNs) and input parameters. </p>"
    },
    "BatchUpdateFindings":{
      "name":"BatchUpdateFindings",
      "http":{
        "method":"PATCH",
        "requestUri":"/findings/batchupdate"
      },
      "input":{"shape":"BatchUpdateFindingsRequest"},
      "output":{"shape":"BatchUpdateFindingsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"}
      ],
      "documentation":"<p> Used by Security Hub customers to update information about their investigation into one or more findings. Requested by administrator accounts or member accounts. Administrator accounts can update findings for their account and their member accounts. A member account can update findings only for their own account. Administrator and member accounts can use this operation to update the following fields and objects for one or more findings: </p> <ul> <li> <p> <code>Confidence</code> </p> </li> <li> <p> <code>Criticality</code> </p> </li> <li> <p> <code>Note</code> </p> </li> <li> <p> <code>RelatedFindings</code> </p> </li> <li> <p> <code>Severity</code> </p> </li> <li> <p> <code>Types</code> </p> </li> <li> <p> <code>UserDefinedFields</code> </p> </li> <li> <p> <code>VerificationState</code> </p> </li> <li> <p> <code>Workflow</code> </p> </li> </ul> <p> If you use this operation to update a finding, your updates don’t affect the value for the <code>UpdatedAt</code> field of the finding. Also note that it can take several minutes for Security Hub to process your request and update each finding specified in the request. </p> <p> You can configure IAM policies to restrict access to fields and field values. For example, you might not want member accounts to be able to suppress findings or change the finding severity. For more information see <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/finding-update-batchupdatefindings.html#batchupdatefindings-configure-access\">Configuring access to BatchUpdateFindings</a> in the <i>Security Hub User Guide</i>. </p>"
    },
    "BatchUpdateFindingsV2":{
      "name":"BatchUpdateFindingsV2",
      "http":{
        "method":"PATCH",
        "requestUri":"/findingsv2/batchupdatev2"
      },
      "input":{"shape":"BatchUpdateFindingsV2Request"},
      "output":{"shape":"BatchUpdateFindingsV2Response"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Used by customers to update information about their investigation into a finding. Requested by delegated administrator accounts or member accounts. Delegated administrator accounts can update findings for their account and their member accounts. Member accounts can update findings for their account. <code>BatchUpdateFindings</code> and <code>BatchUpdateFindingV2</code> both use <code>securityhub:BatchUpdateFindings</code> in the <code>Action</code> element of an IAM policy statement. You must have permission to perform the <code>securityhub:BatchUpdateFindings</code> action. Updates from <code>BatchUpdateFindingsV2</code> don't affect the value of f<code>inding_info.modified_time</code>, <code>finding_info.modified_time_dt</code>, <code>time</code>, <code>time_dt for a finding</code>. This API is in private preview and subject to change.</p>"
    },
    "BatchUpdateStandardsControlAssociations":{
      "name":"BatchUpdateStandardsControlAssociations",
      "http":{
        "method":"PATCH",
        "requestUri":"/associations"
      },
      "input":{"shape":"BatchUpdateStandardsControlAssociationsRequest"},
      "output":{"shape":"BatchUpdateStandardsControlAssociationsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> For a batch of security controls and standards, this operation updates the enablement status of a control in a standard. </p>"
    },
    "ConnectorRegistrationsV2":{
      "name":"ConnectorRegistrationsV2",
      "http":{
        "method":"POST",
        "requestUri":"/connectorsv2/registrations"
      },
      "input":{"shape":"ConnectorRegistrationsV2Request"},
      "output":{"shape":"ConnectorRegistrationsV2Response"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Grants permission to complete the authorization based on input parameters. This API is in preview release and subject to change.</p>"
    },
    "CreateActionTarget":{
      "name":"CreateActionTarget",
      "http":{
        "method":"POST",
        "requestUri":"/actionTargets"
      },
      "input":{"shape":"CreateActionTargetRequest"},
      "output":{"shape":"CreateActionTargetResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p>Creates a custom action target in Security Hub.</p> <p>You can use custom actions on findings and insights in Security Hub to trigger target actions in Amazon CloudWatch Events.</p>"
    },
    "CreateAggregatorV2":{
      "name":"CreateAggregatorV2",
      "http":{
        "method":"POST",
        "requestUri":"/aggregatorv2/create"
      },
      "input":{"shape":"CreateAggregatorV2Request"},
      "output":{"shape":"CreateAggregatorV2Response"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Enables aggregation across Amazon Web Services Regions. This API is in private preview and subject to change.</p>"
    },
    "CreateAutomationRule":{
      "name":"CreateAutomationRule",
      "http":{
        "method":"POST",
        "requestUri":"/automationrules/create"
      },
      "input":{"shape":"CreateAutomationRuleRequest"},
      "output":{"shape":"CreateAutomationRuleResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalException"},
        {"shape":"InvalidAccessException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p> Creates an automation rule based on input parameters. </p>"
    },
    "CreateAutomationRuleV2":{
      "name":"CreateAutomationRuleV2",
      "http":{
        "method":"POST",
        "requestUri":"/automationrulesv2/create"
      },
      "input":{"shape":"CreateAutomationRuleV2Request"},
      "output":{"shape":"CreateAutomationRuleV2Response"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Creates a V2 automation rule. This API is in private preview and subject to change.</p>"
    },
    "CreateConfigurationPolicy":{
      "name":"CreateConfigurationPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/configurationPolicy/create"
      },
      "input":{"shape":"CreateConfigurationPolicyRequest"},
      "output":{"shape":"CreateConfigurationPolicyResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidAccessException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p> Creates a configuration policy with the defined configuration. Only the Security Hub delegated administrator can invoke this operation from the home Region. </p>"
    },
    "CreateConnectorV2":{
      "name":"CreateConnectorV2",
      "http":{
        "method":"POST",
        "requestUri":"/connectorsv2"
      },
      "input":{"shape":"CreateConnectorV2Request"},
      "output":{"shape":"CreateConnectorV2Response"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Grants permission to create a connectorV2 based on input parameters. This API is in preview release and subject to change.</p>"
    },
    "CreateFindingAggregator":{
      "name":"CreateFindingAggregator",
      "http":{
        "method":"POST",
        "requestUri":"/findingAggregator/create"
      },
      "input":{"shape":"CreateFindingAggregatorRequest"},
      "output":{"shape":"CreateFindingAggregatorResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<note> <p>The <i>aggregation Region</i> is now called the <i>home Region</i>.</p> </note> <p>Used to enable cross-Region aggregation. This operation can be invoked from the home Region only.</p> <p>For information about how cross-Region aggregation works, see <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/finding-aggregation.html\">Understanding cross-Region aggregation in Security Hub</a> in the <i>Security Hub User Guide</i>. </p>"
    },
    "CreateInsight":{
      "name":"CreateInsight",
      "http":{
        "method":"POST",
        "requestUri":"/insights"
      },
      "input":{"shape":"CreateInsightRequest"},
      "output":{"shape":"CreateInsightResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p>Creates a custom insight in Security Hub. An insight is a consolidation of findings that relate to a security issue that requires attention or remediation.</p> <p>To group the related findings in the insight, use the <code>GroupByAttribute</code>.</p>"
    },
    "CreateMembers":{
      "name":"CreateMembers",
      "http":{
        "method":"POST",
        "requestUri":"/members"
      },
      "input":{"shape":"CreateMembersRequest"},
      "output":{"shape":"CreateMembersResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceConflictException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a member association in Security Hub between the specified accounts and the account used to make the request, which is the administrator account. If you are integrated with Organizations, then the administrator account is designated by the organization management account.</p> <p> <code>CreateMembers</code> is always used to add accounts that are not organization members.</p> <p>For accounts that are managed using Organizations, <code>CreateMembers</code> is only used in the following cases:</p> <ul> <li> <p>Security Hub is not configured to automatically add new organization accounts.</p> </li> <li> <p>The account was disassociated or deleted in Security Hub.</p> </li> </ul> <p>This action can only be used by an account that has Security Hub enabled. To enable Security Hub, you can use the <code>EnableSecurityHub</code> operation.</p> <p>For accounts that are not organization members, you create the account association and then send an invitation to the member account. To send the invitation, you use the <code>InviteMembers</code> operation. If the account owner accepts the invitation, the account becomes a member account in Security Hub.</p> <p>Accounts that are managed using Organizations don't receive an invitation. They automatically become a member account in Security Hub.</p> <ul> <li> <p>If the organization account does not have Security Hub enabled, then Security Hub and the default standards are automatically enabled. Note that Security Hub cannot be enabled automatically for the organization management account. The organization management account must enable Security Hub before the administrator account enables it as a member account.</p> </li> <li> <p>For organization accounts that already have Security Hub enabled, Security Hub does not make any other changes to those accounts. It does not change their enabled standards or controls.</p> </li> </ul> <p>A permissions policy is added that permits the administrator account to view the findings generated in the member account.</p> <p>To remove the association between the administrator and member accounts, use the <code>DisassociateFromMasterAccount</code> or <code>DisassociateMembers</code> operation.</p>"
    },
    "CreateTicketV2":{
      "name":"CreateTicketV2",
      "http":{
        "method":"POST",
        "requestUri":"/ticketsv2"
      },
      "input":{"shape":"CreateTicketV2Request"},
      "output":{"shape":"CreateTicketV2Response"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Grants permission to create a ticket in the chosen ITSM based on finding information for the provided finding metadata UID. This API is in preview release and subject to change.</p>"
    },
    "DeclineInvitations":{
      "name":"DeclineInvitations",
      "http":{
        "method":"POST",
        "requestUri":"/invitations/decline"
      },
      "input":{"shape":"DeclineInvitationsRequest"},
      "output":{"shape":"DeclineInvitationsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<note> <p>We recommend using Organizations instead of Security Hub invitations to manage your member accounts. For information, see <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-accounts-orgs.html\">Managing Security Hub administrator and member accounts with Organizations</a> in the <i>Security Hub User Guide</i>.</p> </note> <p>Declines invitations to become a Security Hub member account.</p> <p>A prospective member account uses this operation to decline an invitation to become a member.</p> <p>Only member accounts that aren't part of an Amazon Web Services organization should use this operation. Organization accounts don't receive invitations.</p>"
    },
    "DeleteActionTarget":{
      "name":"DeleteActionTarget",
      "http":{
        "method":"DELETE",
        "requestUri":"/actionTargets/{ActionTargetArn+}"
      },
      "input":{"shape":"DeleteActionTargetRequest"},
      "output":{"shape":"DeleteActionTargetResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes a custom action target from Security Hub.</p> <p>Deleting a custom action target does not affect any findings or insights that were already sent to Amazon CloudWatch Events using the custom action.</p>"
    },
    "DeleteAggregatorV2":{
      "name":"DeleteAggregatorV2",
      "http":{
        "method":"DELETE",
        "requestUri":"/aggregatorv2/delete/{AggregatorV2Arn+}"
      },
      "input":{"shape":"DeleteAggregatorV2Request"},
      "output":{"shape":"DeleteAggregatorV2Response"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes the Aggregator V2. This API is in private preview and subject to change.</p>"
    },
    "DeleteAutomationRuleV2":{
      "name":"DeleteAutomationRuleV2",
      "http":{
        "method":"DELETE",
        "requestUri":"/automationrulesv2/{Identifier}"
      },
      "input":{"shape":"DeleteAutomationRuleV2Request"},
      "output":{"shape":"DeleteAutomationRuleV2Response"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes a V2 automation rule. This API is in private preview and subject to change.</p>"
    },
    "DeleteConfigurationPolicy":{
      "name":"DeleteConfigurationPolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/configurationPolicy/{Identifier}"
      },
      "input":{"shape":"DeleteConfigurationPolicyRequest"},
      "output":{"shape":"DeleteConfigurationPolicyResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalException"},
        {"shape":"InvalidAccessException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p> Deletes a configuration policy. Only the Security Hub delegated administrator can invoke this operation from the home Region. For the deletion to succeed, you must first disassociate a configuration policy from target accounts, organizational units, or the root by invoking the <code>StartConfigurationPolicyDisassociation</code> operation. </p>"
    },
    "DeleteConnectorV2":{
      "name":"DeleteConnectorV2",
      "http":{
        "method":"DELETE",
        "requestUri":"/connectorsv2/{ConnectorId+}"
      },
      "input":{"shape":"DeleteConnectorV2Request"},
      "output":{"shape":"DeleteConnectorV2Response"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Grants permission to delete a connectorV2. This API is in preview release and subject to change.</p>"
    },
    "DeleteFindingAggregator":{
      "name":"DeleteFindingAggregator",
      "http":{
        "method":"DELETE",
        "requestUri":"/findingAggregator/delete/{FindingAggregatorArn+}"
      },
      "input":{"shape":"DeleteFindingAggregatorRequest"},
      "output":{"shape":"DeleteFindingAggregatorResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<note> <p>The <i>aggregation Region</i> is now called the <i>home Region</i>.</p> </note> <p>Deletes a finding aggregator. When you delete the finding aggregator, you stop cross-Region aggregation. Finding replication stops occurring from the linked Regions to the home Region.</p> <p>When you stop cross-Region aggregation, findings that were already replicated and sent to the home Region are still visible from the home Region. However, new findings and finding updates are no longer replicated and sent to the home Region. </p>"
    },
    "DeleteInsight":{
      "name":"DeleteInsight",
      "http":{
        "method":"DELETE",
        "requestUri":"/insights/{InsightArn+}"
      },
      "input":{"shape":"DeleteInsightRequest"},
      "output":{"shape":"DeleteInsightResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes the insight specified by the <code>InsightArn</code>.</p>"
    },
    "DeleteInvitations":{
      "name":"DeleteInvitations",
      "http":{
        "method":"POST",
        "requestUri":"/invitations/delete"
      },
      "input":{"shape":"DeleteInvitationsRequest"},
      "output":{"shape":"DeleteInvitationsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidAccessException"}
      ],
      "documentation":"<note> <p>We recommend using Organizations instead of Security Hub invitations to manage your member accounts. For information, see <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-accounts-orgs.html\">Managing Security Hub administrator and member accounts with Organizations</a> in the <i>Security Hub User Guide</i>.</p> </note> <p>Deletes invitations to become a Security Hub member account.</p> <p>A Security Hub administrator account can use this operation to delete invitations sent to one or more prospective member accounts.</p> <p>This operation is only used to delete invitations that are sent to prospective member accounts that aren't part of an Amazon Web Services organization. Organization accounts don't receive invitations.</p>"
    },
    "DeleteMembers":{
      "name":"DeleteMembers",
      "http":{
        "method":"POST",
        "requestUri":"/members/delete"
      },
      "input":{"shape":"DeleteMembersRequest"},
      "output":{"shape":"DeleteMembersResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes the specified member accounts from Security Hub.</p> <p>You can invoke this API only to delete accounts that became members through invitation. You can't invoke this API to delete accounts that belong to an Organizations organization.</p>"
    },
    "DescribeActionTargets":{
      "name":"DescribeActionTargets",
      "http":{
        "method":"POST",
        "requestUri":"/actionTargets/get"
      },
      "input":{"shape":"DescribeActionTargetsRequest"},
      "output":{"shape":"DescribeActionTargetsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns a list of the custom action targets in Security Hub in your account.</p>"
    },
    "DescribeHub":{
      "name":"DescribeHub",
      "http":{
        "method":"GET",
        "requestUri":"/accounts"
      },
      "input":{"shape":"DescribeHubRequest"},
      "output":{"shape":"DescribeHubResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns details about the Hub resource in your account, including the <code>HubArn</code> and the time when you enabled Security Hub.</p>"
    },
    "DescribeOrganizationConfiguration":{
      "name":"DescribeOrganizationConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/organization/configuration"
      },
      "input":{"shape":"DescribeOrganizationConfigurationRequest"},
      "output":{"shape":"DescribeOrganizationConfigurationResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Returns information about the way your organization is configured in Security Hub. Only the Security Hub administrator account can invoke this operation.</p>"
    },
    "DescribeProducts":{
      "name":"DescribeProducts",
      "http":{
        "method":"GET",
        "requestUri":"/products"
      },
      "input":{"shape":"DescribeProductsRequest"},
      "output":{"shape":"DescribeProductsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p>Returns information about product integrations in Security Hub.</p> <p>You can optionally provide an integration ARN. If you provide an integration ARN, then the results only include that integration.</p> <p>If you don't provide an integration ARN, then the results include all of the available product integrations. </p>"
    },
    "DescribeProductsV2":{
      "name":"DescribeProductsV2",
      "http":{
        "method":"GET",
        "requestUri":"/productsV2"
      },
      "input":{"shape":"DescribeProductsV2Request"},
      "output":{"shape":"DescribeProductsV2Response"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Gets information about the product integration. This API is in private preview and subject to change.</p>"
    },
    "DescribeSecurityHubV2":{
      "name":"DescribeSecurityHubV2",
      "http":{
        "method":"GET",
        "requestUri":"/hubv2"
      },
      "input":{"shape":"DescribeSecurityHubV2Request"},
      "output":{"shape":"DescribeSecurityHubV2Response"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns details about the service resource in your account. This API is in private preview and subject to change.</p>"
    },
    "DescribeStandards":{
      "name":"DescribeStandards",
      "http":{
        "method":"GET",
        "requestUri":"/standards"
      },
      "input":{"shape":"DescribeStandardsRequest"},
      "output":{"shape":"DescribeStandardsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"}
      ],
      "documentation":"<p>Returns a list of the available standards in Security Hub.</p> <p>For each standard, the results include the standard ARN, the name, and a description. </p>"
    },
    "DescribeStandardsControls":{
      "name":"DescribeStandardsControls",
      "http":{
        "method":"GET",
        "requestUri":"/standards/controls/{StandardsSubscriptionArn+}"
      },
      "input":{"shape":"DescribeStandardsControlsRequest"},
      "output":{"shape":"DescribeStandardsControlsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns a list of security standards controls.</p> <p>For each control, the results include information about whether it is currently enabled, the severity, and a link to remediation information.</p> <p>This operation returns an empty list for standard subscriptions where <code>StandardsControlsUpdatable</code> has value <code>NOT_READY_FOR_UPDATES</code>.</p>"
    },
    "DisableImportFindingsForProduct":{
      "name":"DisableImportFindingsForProduct",
      "http":{
        "method":"DELETE",
        "requestUri":"/productSubscriptions/{ProductSubscriptionArn+}"
      },
      "input":{"shape":"DisableImportFindingsForProductRequest"},
      "output":{"shape":"DisableImportFindingsForProductResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Disables the integration of the specified product with Security Hub. After the integration is disabled, findings from that product are no longer sent to Security Hub.</p>"
    },
    "DisableOrganizationAdminAccount":{
      "name":"DisableOrganizationAdminAccount",
      "http":{
        "method":"POST",
        "requestUri":"/organization/admin/disable"
      },
      "input":{"shape":"DisableOrganizationAdminAccountRequest"},
      "output":{"shape":"DisableOrganizationAdminAccountResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Disables a Security Hub administrator account. Can only be called by the organization management account.</p>"
    },
    "DisableSecurityHub":{
      "name":"DisableSecurityHub",
      "http":{
        "method":"DELETE",
        "requestUri":"/accounts"
      },
      "input":{"shape":"DisableSecurityHubRequest"},
      "output":{"shape":"DisableSecurityHubResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Disables Security Hub in your account only in the current Amazon Web Services Region. To disable Security Hub in all Regions, you must submit one request per Region where you have enabled Security Hub.</p> <p>You can't disable Security Hub in an account that is currently the Security Hub administrator.</p> <p>When you disable Security Hub, your existing findings and insights and any Security Hub configuration settings are deleted after 90 days and cannot be recovered. Any standards that were enabled are disabled, and your administrator and member account associations are removed.</p> <p>If you want to save your existing findings, you must export them before you disable Security Hub.</p>"
    },
    "DisableSecurityHubV2":{
      "name":"DisableSecurityHubV2",
      "http":{
        "method":"DELETE",
        "requestUri":"/hubv2"
      },
      "input":{"shape":"DisableSecurityHubV2Request"},
      "output":{"shape":"DisableSecurityHubV2Response"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Disable the service for the current Amazon Web Services Region or specified Amazon Web Services Region. This API is in private preview and subject to change.</p>"
    },
    "DisassociateFromAdministratorAccount":{
      "name":"DisassociateFromAdministratorAccount",
      "http":{
        "method":"POST",
        "requestUri":"/administrator/disassociate"
      },
      "input":{"shape":"DisassociateFromAdministratorAccountRequest"},
      "output":{"shape":"DisassociateFromAdministratorAccountResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Disassociates the current Security Hub member account from the associated administrator account.</p> <p>This operation is only used by accounts that are not part of an organization. For organization accounts, only the administrator account can disassociate a member account.</p>"
    },
    "DisassociateFromMasterAccount":{
      "name":"DisassociateFromMasterAccount",
      "http":{
        "method":"POST",
        "requestUri":"/master/disassociate"
      },
      "input":{"shape":"DisassociateFromMasterAccountRequest"},
      "output":{"shape":"DisassociateFromMasterAccountResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>This method is deprecated. Instead, use <code>DisassociateFromAdministratorAccount</code>.</p> <p>The Security Hub console continues to use <code>DisassociateFromMasterAccount</code>. It will eventually change to use <code>DisassociateFromAdministratorAccount</code>. Any IAM policies that specifically control access to this function must continue to use <code>DisassociateFromMasterAccount</code>. You should also add <code>DisassociateFromAdministratorAccount</code> to your policies to ensure that the correct permissions are in place after the console begins to use <code>DisassociateFromAdministratorAccount</code>.</p> <p>Disassociates the current Security Hub member account from the associated administrator account.</p> <p>This operation is only used by accounts that are not part of an organization. For organization accounts, only the administrator account can disassociate a member account.</p>",
      "deprecated":true,
      "deprecatedMessage":"This API has been deprecated, use DisassociateFromAdministratorAccount API instead."
    },
    "DisassociateMembers":{
      "name":"DisassociateMembers",
      "http":{
        "method":"POST",
        "requestUri":"/members/disassociate"
      },
      "input":{"shape":"DisassociateMembersRequest"},
      "output":{"shape":"DisassociateMembersResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Disassociates the specified member accounts from the associated administrator account.</p> <p>Can be used to disassociate both accounts that are managed using Organizations and accounts that were invited manually.</p>"
    },
    "EnableImportFindingsForProduct":{
      "name":"EnableImportFindingsForProduct",
      "http":{
        "method":"POST",
        "requestUri":"/productSubscriptions"
      },
      "input":{"shape":"EnableImportFindingsForProductRequest"},
      "output":{"shape":"EnableImportFindingsForProductResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceConflictException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Enables the integration of a partner product with Security Hub. Integrated products send findings to Security Hub.</p> <p>When you enable a product integration, a permissions policy that grants permission for the product to send findings to Security Hub is applied.</p>"
    },
    "EnableOrganizationAdminAccount":{
      "name":"EnableOrganizationAdminAccount",
      "http":{
        "method":"POST",
        "requestUri":"/organization/admin/enable"
      },
      "input":{"shape":"EnableOrganizationAdminAccountRequest"},
      "output":{"shape":"EnableOrganizationAdminAccountResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Designates the Security Hub administrator account for an organization. Can only be called by the organization management account.</p>"
    },
    "EnableSecurityHub":{
      "name":"EnableSecurityHub",
      "http":{
        "method":"POST",
        "requestUri":"/accounts"
      },
      "input":{"shape":"EnableSecurityHubRequest"},
      "output":{"shape":"EnableSecurityHubResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceConflictException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Enables Security Hub for your account in the current Region or the Region you specify in the request.</p> <p>When you enable Security Hub, you grant to Security Hub the permissions necessary to gather findings from other services that are integrated with Security Hub.</p> <p>When you use the <code>EnableSecurityHub</code> operation to enable Security Hub, you also automatically enable the following standards:</p> <ul> <li> <p>Center for Internet Security (CIS) Amazon Web Services Foundations Benchmark v1.2.0</p> </li> <li> <p>Amazon Web Services Foundational Security Best Practices</p> </li> </ul> <p>Other standards are not automatically enabled. </p> <p>To opt out of automatically enabled standards, set <code>EnableDefaultStandards</code> to <code>false</code>.</p> <p>After you enable Security Hub, to enable a standard, use the <code>BatchEnableStandards</code> operation. To disable a standard, use the <code>BatchDisableStandards</code> operation.</p> <p>To learn more, see the <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-settingup.html\">setup information</a> in the <i>Security Hub User Guide</i>.</p>"
    },
    "EnableSecurityHubV2":{
      "name":"EnableSecurityHubV2",
      "http":{
        "method":"POST",
        "requestUri":"/hubv2"
      },
      "input":{"shape":"EnableSecurityHubV2Request"},
      "output":{"shape":"EnableSecurityHubV2Response"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Enables the service in account for the current Amazon Web Services Region or specified Amazon Web Services Region. This API is in private preview and subject to change.</p>"
    },
    "GetAdministratorAccount":{
      "name":"GetAdministratorAccount",
      "http":{
        "method":"GET",
        "requestUri":"/administrator"
      },
      "input":{"shape":"GetAdministratorAccountRequest"},
      "output":{"shape":"GetAdministratorAccountResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Provides the details for the Security Hub administrator account for the current member account.</p> <p>Can be used by both member accounts that are managed using Organizations and accounts that were invited manually.</p>"
    },
    "GetAggregatorV2":{
      "name":"GetAggregatorV2",
      "http":{
        "method":"GET",
        "requestUri":"/aggregatorv2/get/{AggregatorV2Arn+}"
      },
      "input":{"shape":"GetAggregatorV2Request"},
      "output":{"shape":"GetAggregatorV2Response"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Returns the configuration of the specified Aggregator V2. This API is in private preview and subject to change.</p>"
    },
    "GetAutomationRuleV2":{
      "name":"GetAutomationRuleV2",
      "http":{
        "method":"GET",
        "requestUri":"/automationrulesv2/{Identifier}"
      },
      "input":{"shape":"GetAutomationRuleV2Request"},
      "output":{"shape":"GetAutomationRuleV2Response"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Returns an automation rule for the V2 service. This API is in private preview and subject to change.</p>"
    },
    "GetConfigurationPolicy":{
      "name":"GetConfigurationPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/configurationPolicy/get/{Identifier}"
      },
      "input":{"shape":"GetConfigurationPolicyRequest"},
      "output":{"shape":"GetConfigurationPolicyResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidAccessException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Provides information about a configuration policy. Only the Security Hub delegated administrator can invoke this operation from the home Region. </p>"
    },
    "GetConfigurationPolicyAssociation":{
      "name":"GetConfigurationPolicyAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/configurationPolicyAssociation/get"
      },
      "input":{"shape":"GetConfigurationPolicyAssociationRequest"},
      "output":{"shape":"GetConfigurationPolicyAssociationResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidAccessException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Returns the association between a configuration and a target account, organizational unit, or the root. The configuration can be a configuration policy or self-managed behavior. Only the Security Hub delegated administrator can invoke this operation from the home Region. </p>"
    },
    "GetConnectorV2":{
      "name":"GetConnectorV2",
      "http":{
        "method":"GET",
        "requestUri":"/connectorsv2/{ConnectorId+}"
      },
      "input":{"shape":"GetConnectorV2Request"},
      "output":{"shape":"GetConnectorV2Response"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Grants permission to retrieve details for a connectorV2 based on connector id. This API is in preview release and subject to change.</p>"
    },
    "GetEnabledStandards":{
      "name":"GetEnabledStandards",
      "http":{
        "method":"POST",
        "requestUri":"/standards/get"
      },
      "input":{"shape":"GetEnabledStandardsRequest"},
      "output":{"shape":"GetEnabledStandardsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Returns a list of the standards that are currently enabled.</p>"
    },
    "GetFindingAggregator":{
      "name":"GetFindingAggregator",
      "http":{
        "method":"GET",
        "requestUri":"/findingAggregator/get/{FindingAggregatorArn+}"
      },
      "input":{"shape":"GetFindingAggregatorRequest"},
      "output":{"shape":"GetFindingAggregatorResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<note> <p>The <i>aggregation Region</i> is now called the <i>home Region</i>.</p> </note> <p>Returns the current configuration in the calling account for cross-Region aggregation. A finding aggregator is a resource that establishes the home Region and any linked Regions.</p>"
    },
    "GetFindingHistory":{
      "name":"GetFindingHistory",
      "http":{
        "method":"POST",
        "requestUri":"/findingHistory/get"
      },
      "input":{"shape":"GetFindingHistoryRequest"},
      "output":{"shape":"GetFindingHistoryResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p> Returns the history of a Security Hub finding. The history includes changes made to any fields in the Amazon Web Services Security Finding Format (ASFF) except top-level timestamp fields, such as the <code>CreatedAt</code> and <code>UpdatedAt</code> fields. </p> <p>This operation might return fewer results than the maximum number of results (<code>MaxResults</code>) specified in a request, even when more results are available. If this occurs, the response includes a <code>NextToken</code> value, which you should use to retrieve the next set of results in the response. The presence of a <code>NextToken</code> value in a response doesn't necessarily indicate that the results are incomplete. However, you should continue to specify a <code>NextToken</code> value until you receive a response that doesn't include this value.</p>"
    },
    "GetFindingStatisticsV2":{
      "name":"GetFindingStatisticsV2",
      "http":{
        "method":"POST",
        "requestUri":"/findingsv2/statistics"
      },
      "input":{"shape":"GetFindingStatisticsV2Request"},
      "output":{"shape":"GetFindingStatisticsV2Response"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns aggregated statistical data about findings. <code>GetFindingStatisticsV2</code> use <code>securityhub:GetAdhocInsightResults</code> in the <code>Action</code> element of an IAM policy statement. You must have permission to perform the <code>s</code> action. This API is in private preview and subject to change.</p>"
    },
    "GetFindings":{
      "name":"GetFindings",
      "http":{
        "method":"POST",
        "requestUri":"/findings"
      },
      "input":{"shape":"GetFindingsRequest"},
      "output":{"shape":"GetFindingsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Returns a list of findings that match the specified criteria.</p> <p>If cross-Region aggregation is enabled, then when you call <code>GetFindings</code> from the home Region, the results include all of the matching findings from both the home Region and linked Regions.</p>"
    },
    "GetFindingsV2":{
      "name":"GetFindingsV2",
      "http":{
        "method":"POST",
        "requestUri":"/findingsv2"
      },
      "input":{"shape":"GetFindingsV2Request"},
      "output":{"shape":"GetFindingsV2Response"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Return a list of findings that match the specified criteria. <code>GetFindings</code> and <code>GetFindingsV2</code> both use <code>securityhub:GetFindings</code> in the <code>Action</code> element of an IAM policy statement. You must have permission to perform the <code>securityhub:GetFindings</code> action. This API is in private preview and subject to change.</p>"
    },
    "GetInsightResults":{
      "name":"GetInsightResults",
      "http":{
        "method":"GET",
        "requestUri":"/insights/results/{InsightArn+}"
      },
      "input":{"shape":"GetInsightResultsRequest"},
      "output":{"shape":"GetInsightResultsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists the results of the Security Hub insight specified by the insight ARN.</p>"
    },
    "GetInsights":{
      "name":"GetInsights",
      "http":{
        "method":"POST",
        "requestUri":"/insights/get"
      },
      "input":{"shape":"GetInsightsRequest"},
      "output":{"shape":"GetInsightsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists and describes insights for the specified insight ARNs.</p>"
    },
    "GetInvitationsCount":{
      "name":"GetInvitationsCount",
      "http":{
        "method":"GET",
        "requestUri":"/invitations/count"
      },
      "input":{"shape":"GetInvitationsCountRequest"},
      "output":{"shape":"GetInvitationsCountResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<note> <p>We recommend using Organizations instead of Security Hub invitations to manage your member accounts. For information, see <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-accounts-orgs.html\">Managing Security Hub administrator and member accounts with Organizations</a> in the <i>Security Hub User Guide</i>.</p> </note> <p>Returns the count of all Security Hub membership invitations that were sent to the calling member account, not including the currently accepted invitation. </p>"
    },
    "GetMasterAccount":{
      "name":"GetMasterAccount",
      "http":{
        "method":"GET",
        "requestUri":"/master"
      },
      "input":{"shape":"GetMasterAccountRequest"},
      "output":{"shape":"GetMasterAccountResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>This method is deprecated. Instead, use <code>GetAdministratorAccount</code>.</p> <p>The Security Hub console continues to use <code>GetMasterAccount</code>. It will eventually change to use <code>GetAdministratorAccount</code>. Any IAM policies that specifically control access to this function must continue to use <code>GetMasterAccount</code>. You should also add <code>GetAdministratorAccount</code> to your policies to ensure that the correct permissions are in place after the console begins to use <code>GetAdministratorAccount</code>.</p> <p>Provides the details for the Security Hub administrator account for the current member account.</p> <p>Can be used by both member accounts that are managed using Organizations and accounts that were invited manually.</p>",
      "deprecated":true,
      "deprecatedMessage":"This API has been deprecated, use GetAdministratorAccount API instead."
    },
    "GetMembers":{
      "name":"GetMembers",
      "http":{
        "method":"POST",
        "requestUri":"/members/get"
      },
      "input":{"shape":"GetMembersRequest"},
      "output":{"shape":"GetMembersResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns the details for the Security Hub member accounts for the specified account IDs.</p> <p>An administrator account can be either the delegated Security Hub administrator account for an organization or an administrator account that enabled Security Hub manually.</p> <p>The results include both member accounts that are managed using Organizations and accounts that were invited manually.</p>"
    },
    "GetResourcesStatisticsV2":{
      "name":"GetResourcesStatisticsV2",
      "http":{
        "method":"POST",
        "requestUri":"/resourcesv2/statistics"
      },
      "input":{"shape":"GetResourcesStatisticsV2Request"},
      "output":{"shape":"GetResourcesStatisticsV2Response"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves statistical information about Amazon Web Services resources and their associated security findings. This API is in private preview and subject to change.</p>"
    },
    "GetResourcesV2":{
      "name":"GetResourcesV2",
      "http":{
        "method":"POST",
        "requestUri":"/resourcesv2"
      },
      "input":{"shape":"GetResourcesV2Request"},
      "output":{"shape":"GetResourcesV2Response"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns a list of resources. This API is in private preview and subject to change.</p>"
    },
    "GetSecurityControlDefinition":{
      "name":"GetSecurityControlDefinition",
      "http":{
        "method":"GET",
        "requestUri":"/securityControl/definition"
      },
      "input":{"shape":"GetSecurityControlDefinitionRequest"},
      "output":{"shape":"GetSecurityControlDefinitionResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Retrieves the definition of a security control. The definition includes the control title, description, Region availability, parameter definitions, and other details. </p>"
    },
    "InviteMembers":{
      "name":"InviteMembers",
      "http":{
        "method":"POST",
        "requestUri":"/members/invite"
      },
      "input":{"shape":"InviteMembersRequest"},
      "output":{"shape":"InviteMembersResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<note> <p>We recommend using Organizations instead of Security Hub invitations to manage your member accounts. For information, see <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-accounts-orgs.html\">Managing Security Hub administrator and member accounts with Organizations</a> in the <i>Security Hub User Guide</i>.</p> </note> <p>Invites other Amazon Web Services accounts to become member accounts for the Security Hub administrator account that the invitation is sent from.</p> <p>This operation is only used to invite accounts that don't belong to an Amazon Web Services organization. Organization accounts don't receive invitations.</p> <p>Before you can use this action to invite a member, you must first use the <code>CreateMembers</code> action to create the member account in Security Hub.</p> <p>When the account owner enables Security Hub and accepts the invitation to become a member account, the administrator account can view the findings generated in the member account.</p>"
    },
    "ListAggregatorsV2":{
      "name":"ListAggregatorsV2",
      "http":{
        "method":"GET",
        "requestUri":"/aggregatorv2/list"
      },
      "input":{"shape":"ListAggregatorsV2Request"},
      "output":{"shape":"ListAggregatorsV2Response"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Retrieves a list of V2 aggregators. This API is in private preview and subject to change.</p>"
    },
    "ListAutomationRules":{
      "name":"ListAutomationRules",
      "http":{
        "method":"GET",
        "requestUri":"/automationrules/list"
      },
      "input":{"shape":"ListAutomationRulesRequest"},
      "output":{"shape":"ListAutomationRulesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalException"},
        {"shape":"InvalidAccessException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p> A list of automation rules and their metadata for the calling account. </p>"
    },
    "ListAutomationRulesV2":{
      "name":"ListAutomationRulesV2",
      "http":{
        "method":"GET",
        "requestUri":"/automationrulesv2/list"
      },
      "input":{"shape":"ListAutomationRulesV2Request"},
      "output":{"shape":"ListAutomationRulesV2Response"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Returns a list of automation rules and metadata for the calling account. This API is in private preview and subject to change.</p>"
    },
    "ListConfigurationPolicies":{
      "name":"ListConfigurationPolicies",
      "http":{
        "method":"GET",
        "requestUri":"/configurationPolicy/list"
      },
      "input":{"shape":"ListConfigurationPoliciesRequest"},
      "output":{"shape":"ListConfigurationPoliciesResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidAccessException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Lists the configuration policies that the Security Hub delegated administrator has created for your organization. Only the delegated administrator can invoke this operation from the home Region. </p>"
    },
    "ListConfigurationPolicyAssociations":{
      "name":"ListConfigurationPolicyAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/configurationPolicyAssociation/list"
      },
      "input":{"shape":"ListConfigurationPolicyAssociationsRequest"},
      "output":{"shape":"ListConfigurationPolicyAssociationsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidAccessException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Provides information about the associations for your configuration policies and self-managed behavior. Only the Security Hub delegated administrator can invoke this operation from the home Region. </p>"
    },
    "ListConnectorsV2":{
      "name":"ListConnectorsV2",
      "http":{
        "method":"GET",
        "requestUri":"/connectorsv2"
      },
      "input":{"shape":"ListConnectorsV2Request"},
      "output":{"shape":"ListConnectorsV2Response"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Grants permission to retrieve a list of connectorsV2 and their metadata for the calling account. This API is in preview release and subject to change.</p>"
    },
    "ListEnabledProductsForImport":{
      "name":"ListEnabledProductsForImport",
      "http":{
        "method":"GET",
        "requestUri":"/productSubscriptions"
      },
      "input":{"shape":"ListEnabledProductsForImportRequest"},
      "output":{"shape":"ListEnabledProductsForImportResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"}
      ],
      "documentation":"<p>Lists all findings-generating solutions (products) that you are subscribed to receive findings from in Security Hub.</p>"
    },
    "ListFindingAggregators":{
      "name":"ListFindingAggregators",
      "http":{
        "method":"GET",
        "requestUri":"/findingAggregator/list"
      },
      "input":{"shape":"ListFindingAggregatorsRequest"},
      "output":{"shape":"ListFindingAggregatorsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p>If cross-Region aggregation is enabled, then <code>ListFindingAggregators</code> returns the Amazon Resource Name (ARN) of the finding aggregator. You can run this operation from any Amazon Web Services Region.</p>"
    },
    "ListInvitations":{
      "name":"ListInvitations",
      "http":{
        "method":"GET",
        "requestUri":"/invitations"
      },
      "input":{"shape":"ListInvitationsRequest"},
      "output":{"shape":"ListInvitationsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<note> <p>We recommend using Organizations instead of Security Hub invitations to manage your member accounts. For information, see <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-accounts-orgs.html\">Managing Security Hub administrator and member accounts with Organizations</a> in the <i>Security Hub User Guide</i>.</p> </note> <p>Lists all Security Hub membership invitations that were sent to the calling account.</p> <p>Only accounts that are managed by invitation can use this operation. Accounts that are managed using the integration with Organizations don't receive invitations.</p>"
    },
    "ListMembers":{
      "name":"ListMembers",
      "http":{
        "method":"GET",
        "requestUri":"/members"
      },
      "input":{"shape":"ListMembersRequest"},
      "output":{"shape":"ListMembersResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Lists details about all member accounts for the current Security Hub administrator account.</p> <p>The results include both member accounts that belong to an organization and member accounts that were invited manually.</p>"
    },
    "ListOrganizationAdminAccounts":{
      "name":"ListOrganizationAdminAccounts",
      "http":{
        "method":"GET",
        "requestUri":"/organization/admin"
      },
      "input":{"shape":"ListOrganizationAdminAccountsRequest"},
      "output":{"shape":"ListOrganizationAdminAccountsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Lists the Security Hub administrator accounts. Can only be called by the organization management account.</p>"
    },
    "ListSecurityControlDefinitions":{
      "name":"ListSecurityControlDefinitions",
      "http":{
        "method":"GET",
        "requestUri":"/securityControls/definitions"
      },
      "input":{"shape":"ListSecurityControlDefinitionsRequest"},
      "output":{"shape":"ListSecurityControlDefinitionsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p> Lists all of the security controls that apply to a specified standard. </p>"
    },
    "ListStandardsControlAssociations":{
      "name":"ListStandardsControlAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/associations"
      },
      "input":{"shape":"ListStandardsControlAssociationsRequest"},
      "output":{"shape":"ListStandardsControlAssociationsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p> Specifies whether a control is currently enabled or disabled in each enabled standard in the calling account. </p> <p>This operation omits standards control associations for standard subscriptions where <code>StandardsControlsUpdatable</code> has value <code>NOT_READY_FOR_UPDATES</code>.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{ResourceArn}"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns a list of tags associated with a resource.</p>"
    },
    "StartConfigurationPolicyAssociation":{
      "name":"StartConfigurationPolicyAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/configurationPolicyAssociation/associate"
      },
      "input":{"shape":"StartConfigurationPolicyAssociationRequest"},
      "output":{"shape":"StartConfigurationPolicyAssociationResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidAccessException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Associates a target account, organizational unit, or the root with a specified configuration. The target can be associated with a configuration policy or self-managed behavior. Only the Security Hub delegated administrator can invoke this operation from the home Region. </p>"
    },
    "StartConfigurationPolicyDisassociation":{
      "name":"StartConfigurationPolicyDisassociation",
      "http":{
        "method":"POST",
        "requestUri":"/configurationPolicyAssociation/disassociate"
      },
      "input":{"shape":"StartConfigurationPolicyDisassociationRequest"},
      "output":{"shape":"StartConfigurationPolicyDisassociationResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidAccessException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Disassociates a target account, organizational unit, or the root from a specified configuration. When you disassociate a configuration from its target, the target inherits the configuration of the closest parent. If there’s no configuration to inherit, the target retains its settings but becomes a self-managed account. A target can be disassociated from a configuration policy or self-managed behavior. Only the Security Hub delegated administrator can invoke this operation from the home Region. </p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{ResourceArn}"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Adds one or more tags to a resource.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{ResourceArn}"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Removes one or more tags from a resource.</p>"
    },
    "UpdateActionTarget":{
      "name":"UpdateActionTarget",
      "http":{
        "method":"PATCH",
        "requestUri":"/actionTargets/{ActionTargetArn+}"
      },
      "input":{"shape":"UpdateActionTargetRequest"},
      "output":{"shape":"UpdateActionTargetResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Updates the name and description of a custom action target in Security Hub.</p>"
    },
    "UpdateAggregatorV2":{
      "name":"UpdateAggregatorV2",
      "http":{
        "method":"PATCH",
        "requestUri":"/aggregatorv2/update/{AggregatorV2Arn+}"
      },
      "input":{"shape":"UpdateAggregatorV2Request"},
      "output":{"shape":"UpdateAggregatorV2Response"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Udpates the configuration for the Aggregator V2. This API is in private preview and subject to change.</p>"
    },
    "UpdateAutomationRuleV2":{
      "name":"UpdateAutomationRuleV2",
      "http":{
        "method":"PATCH",
        "requestUri":"/automationrulesv2/{Identifier}"
      },
      "input":{"shape":"UpdateAutomationRuleV2Request"},
      "output":{"shape":"UpdateAutomationRuleV2Response"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates a V2 automation rule. This API is in private preview and subject to change.</p>"
    },
    "UpdateConfigurationPolicy":{
      "name":"UpdateConfigurationPolicy",
      "http":{
        "method":"PATCH",
        "requestUri":"/configurationPolicy/{Identifier}"
      },
      "input":{"shape":"UpdateConfigurationPolicyRequest"},
      "output":{"shape":"UpdateConfigurationPolicyResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidAccessException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p> Updates a configuration policy. Only the Security Hub delegated administrator can invoke this operation from the home Region. </p>"
    },
    "UpdateConnectorV2":{
      "name":"UpdateConnectorV2",
      "http":{
        "method":"PATCH",
        "requestUri":"/connectorsv2/{ConnectorId+}"
      },
      "input":{"shape":"UpdateConnectorV2Request"},
      "output":{"shape":"UpdateConnectorV2Response"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Grants permission to update a connectorV2 based on its id and input parameters. This API is in preview release and subject to change.</p>"
    },
    "UpdateFindingAggregator":{
      "name":"UpdateFindingAggregator",
      "http":{
        "method":"PATCH",
        "requestUri":"/findingAggregator/update"
      },
      "input":{"shape":"UpdateFindingAggregatorRequest"},
      "output":{"shape":"UpdateFindingAggregatorResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<note> <p>The <i>aggregation Region</i> is now called the <i>home Region</i>.</p> </note> <p>Updates cross-Region aggregation settings. You can use this operation to update the Region linking mode and the list of included or excluded Amazon Web Services Regions. However, you can't use this operation to change the home Region.</p> <p>You can invoke this operation from the current home Region only. </p>"
    },
    "UpdateFindings":{
      "name":"UpdateFindings",
      "http":{
        "method":"PATCH",
        "requestUri":"/findings"
      },
      "input":{"shape":"UpdateFindingsRequest"},
      "output":{"shape":"UpdateFindingsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> <code>UpdateFindings</code> is a deprecated operation. Instead of <code>UpdateFindings</code>, use the <code>BatchUpdateFindings</code> operation.</p> <p>The <code>UpdateFindings</code> operation updates the <code>Note</code> and <code>RecordState</code> of the Security Hub aggregated findings that the filter attributes specify. Any member account that can view the finding can also see the update to the finding.</p> <p>Finding updates made with <code>UpdateFindings</code> aren't persisted if the same finding is later updated by the finding provider through the <code>BatchImportFindings</code> operation. In addition, Security Hub doesn't record updates made with <code>UpdateFindings</code> in the finding history.</p>"
    },
    "UpdateInsight":{
      "name":"UpdateInsight",
      "http":{
        "method":"PATCH",
        "requestUri":"/insights/{InsightArn+}"
      },
      "input":{"shape":"UpdateInsightRequest"},
      "output":{"shape":"UpdateInsightResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Updates the Security Hub insight identified by the specified insight ARN.</p>"
    },
    "UpdateOrganizationConfiguration":{
      "name":"UpdateOrganizationConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/organization/configuration"
      },
      "input":{"shape":"UpdateOrganizationConfigurationRequest"},
      "output":{"shape":"UpdateOrganizationConfigurationResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p>Updates the configuration of your organization in Security Hub. Only the Security Hub administrator account can invoke this operation.</p>"
    },
    "UpdateSecurityControl":{
      "name":"UpdateSecurityControl",
      "http":{
        "method":"PATCH",
        "requestUri":"/securityControl/update"
      },
      "input":{"shape":"UpdateSecurityControlRequest"},
      "output":{"shape":"UpdateSecurityControlResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p> Updates the properties of a security control. </p>"
    },
    "UpdateSecurityHubConfiguration":{
      "name":"UpdateSecurityHubConfiguration",
      "http":{
        "method":"PATCH",
        "requestUri":"/accounts"
      },
      "input":{"shape":"UpdateSecurityHubConfigurationRequest"},
      "output":{"shape":"UpdateSecurityHubConfigurationResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates configuration options for Security Hub.</p>"
    },
    "UpdateStandardsControl":{
      "name":"UpdateStandardsControl",
      "http":{
        "method":"PATCH",
        "requestUri":"/standards/control/{StandardsControlArn+}"
      },
      "input":{"shape":"UpdateStandardsControlRequest"},
      "output":{"shape":"UpdateStandardsControlResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidAccessException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Used to control whether an individual security standard control is enabled or disabled.</p> <p>Calls to this operation return a <code>RESOURCE_NOT_FOUND_EXCEPTION</code> error when the standard subscription for the control has <code>StandardsControlsUpdatable</code> value <code>NOT_READY_FOR_UPDATES</code>.</p>"
    }
  },
  "shapes":{
    "AcceptAdministratorInvitationRequest":{
      "type":"structure",
      "required":[
        "AdministratorId",
        "InvitationId"
      ],
      "members":{
        "AdministratorId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The account ID of the Security Hub administrator account that sent the invitation.</p>"
        },
        "InvitationId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The identifier of the invitation sent from the Security Hub administrator account.</p>"
        }
      }
    },
    "AcceptAdministratorInvitationResponse":{
      "type":"structure",
      "members":{}
    },
    "AcceptInvitationRequest":{
      "type":"structure",
      "required":[
        "MasterId",
        "InvitationId"
      ],
      "members":{
        "MasterId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The account ID of the Security Hub administrator account that sent the invitation.</p>"
        },
        "InvitationId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The identifier of the invitation sent from the Security Hub administrator account.</p>"
        }
      }
    },
    "AcceptInvitationResponse":{
      "type":"structure",
      "members":{}
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"NonEmptyString"},
        "Code":{"shape":"NonEmptyString"}
      },
      "documentation":"<p>You don't have permission to perform the action specified in the request.</p>",
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "AccountDetails":{
      "type":"structure",
      "required":["AccountId"],
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "documentation":"<p>The ID of an Amazon Web Services account.</p>"
        },
        "Email":{
          "shape":"NonEmptyString",
          "documentation":"<p>The email of an Amazon Web Services account.</p>"
        }
      },
      "documentation":"<p>The details of an Amazon Web Services account.</p>"
    },
    "AccountDetailsList":{
      "type":"list",
      "member":{"shape":"AccountDetails"},
      "max":50,
      "min":1
    },
    "AccountId":{"type":"string"},
    "AccountIdList":{
      "type":"list",
      "member":{"shape":"NonEmptyString"}
    },
    "Action":{
      "type":"structure",
      "members":{
        "ActionType":{
          "shape":"NonEmptyString",
          "documentation":"<p>The type of action that was detected. The possible action types are:</p> <ul> <li> <p> <code>NETWORK_CONNECTION</code> </p> </li> <li> <p> <code>AWS_API_CALL</code> </p> </li> <li> <p> <code>DNS_REQUEST</code> </p> </li> <li> <p> <code>PORT_PROBE</code> </p> </li> </ul>"
        },
        "NetworkConnectionAction":{
          "shape":"NetworkConnectionAction",
          "documentation":"<p>Included if <code>ActionType</code> is <code>NETWORK_CONNECTION</code>. Provides details about the network connection that was detected.</p>"
        },
        "AwsApiCallAction":{
          "shape":"AwsApiCallAction",
          "documentation":"<p>Included if <code>ActionType</code> is <code>AWS_API_CALL</code>. Provides details about the API call that was detected. </p>"
        },
        "DnsRequestAction":{
          "shape":"DnsRequestAction",
          "documentation":"<p>Included if <code>ActionType</code> is <code>DNS_REQUEST</code>. Provides details about the DNS request that was detected. </p>"
        },
        "PortProbeAction":{
          "shape":"PortProbeAction",
          "documentation":"<p>Included if <code>ActionType</code> is <code>PORT_PROBE</code>. Provides details about the port probe that was detected. </p>"
        }
      },
      "documentation":"<p>Provides details about one of the following actions that affects or that was taken on a resource:</p> <ul> <li> <p>A remote IP address issued an Amazon Web Services API call</p> </li> <li> <p>A DNS request was received</p> </li> <li> <p>A remote IP address attempted to connect to an EC2 instance</p> </li> <li> <p>A remote IP address attempted a port probe on an EC2 instance</p> </li> </ul>"
    },
    "ActionList":{
      "type":"list",
      "member":{"shape":"AutomationRulesAction"},
      "max":1,
      "min":1
    },
    "ActionLocalIpDetails":{
      "type":"structure",
      "members":{
        "IpAddressV4":{
          "shape":"NonEmptyString",
          "documentation":"<p>The IP address.</p>"
        }
      },
      "documentation":"<p>Provides information about the IP address where the scanned port is located.</p>"
    },
    "ActionLocalPortDetails":{
      "type":"structure",
      "members":{
        "Port":{
          "shape":"Integer",
          "documentation":"<p>The number of the port.</p>"
        },
        "PortName":{
          "shape":"NonEmptyString",
          "documentation":"<p>The port name of the local connection.</p> <p>Length Constraints: 128.</p>"
        }
      },
      "documentation":"<p>For <code>NetworkConnectionAction</code> and <code>PortProbeDetails</code>, <code>LocalPortDetails</code> provides information about the local port that was involved in the action.</p>"
    },
    "ActionRemoteIpDetails":{
      "type":"structure",
      "members":{
        "IpAddressV4":{
          "shape":"NonEmptyString",
          "documentation":"<p>The IP address.</p>"
        },
        "Organization":{
          "shape":"IpOrganizationDetails",
          "documentation":"<p>The internet service provider (ISP) organization associated with the remote IP address.</p>"
        },
        "Country":{
          "shape":"Country",
          "documentation":"<p>The country where the remote IP address is located.</p>"
        },
        "City":{
          "shape":"City",
          "documentation":"<p>The city where the remote IP address is located.</p>"
        },
        "GeoLocation":{
          "shape":"GeoLocation",
          "documentation":"<p>The coordinates of the location of the remote IP address.</p>"
        }
      },
      "documentation":"<p>For <code>AwsApiAction</code>, <code>NetworkConnectionAction</code>, and <code>PortProbeAction</code>, <code>RemoteIpDetails</code> provides information about the remote IP address that was involved in the action.</p>"
    },
    "ActionRemotePortDetails":{
      "type":"structure",
      "members":{
        "Port":{
          "shape":"Integer",
          "documentation":"<p>The number of the port.</p>"
        },
        "PortName":{
          "shape":"NonEmptyString",
          "documentation":"<p>The port name of the remote connection.</p> <p>Length Constraints: 128.</p>"
        }
      },
      "documentation":"<p>Provides information about the remote port that was involved in an attempted network connection.</p>"
    },
    "ActionTarget":{
      "type":"structure",
      "required":[
        "ActionTargetArn",
        "Name",
        "Description"
      ],
      "members":{
        "ActionTargetArn":{
          "shape":"NonEmptyString",
          "documentation":"<p>The ARN for the target action.</p>"
        },
        "Name":{
          "shape":"NonEmptyString",
          "documentation":"<p>The name of the action target.</p>"
        },
        "Description":{
          "shape":"NonEmptyString",
          "documentation":"<p>The description of the target action.</p>"
        }
      },
      "documentation":"<p>An <code>ActionTarget</code> object.</p>"
    },
    "ActionTargetList":{
      "type":"list",
      "member":{"shape":"ActionTarget"}
    },
    "Actor":{
      "type":"structure",
      "members":{
        "Id":{
[...]
