---
layout: default
meta_title: How to Install Ghost on Your Server - Ghost Docs
meta_description: Everything you need to get the Ghost blogging platform up and running on your local or remote environement.
heading: Installing Ghost &amp; Getting Started
subheading: The first steps to setting up your new blog for the first time.
permalink: /installation/windows/
chapter: installation
prev_section: mac
next_section: linux
---

<div class="container">
    <div class="row">
        {% include subnav/installation.html %}

        <section id="content" class="col-lg-9">

            <h1 id="install-windows">Installing on Windows</h1>

            <h3>Install Node</h3>

            <ul>
                <li>On <a href="http://nodejs.org">http://nodejs.org</a> press install, an '.msi' file will be downloaded</li>
                <li>Click on the download to open the installer, this is going to install both Node and npm.</li>
                <li>Click through the installer, until you get to the screen telling you Node.js is installed.</li>
            </ul>

            <p>If you get stuck you can watch the whole <a href="https://s3-eu-west-1.amazonaws.com/ghost-website-cdn/install-node-win.gif" title="Install node on Windows">process in action here</a>.</p>

            <h3>Download & Extract Ghost</h3>

            <ul>
                <li>Log in to <a href="http://ghost.org">http://ghost.org</a>, and then click the blue 'Download Ghost Source Code' button.</li>
                <li>On the downloads page, press the button to download the latest zip file.</li>
                <li>Click on the arrow next to the newly downloaded file, and choose 'show in folder'.</li>
                <li>When the folder opens, right click on the downloaded zip file and choose 'Extract all'.</li>
            </ul>

            <p>If you get stuck you can watch the whole <a href="https://s3-eu-west-1.amazonaws.com/ghost-website-cdn/install-ghost-win.gif" title="Install Ghost on Windows Part 1">process in action here</a>.</p>

            <h3>Install and Run Ghost</h3>

            <ul>
                <li>In your start menu, find 'Node.js' and then choose 'Node.js Command Prompt'</li>
                <li>In the Node command prompt, you need to change directory to where you extracted Ghost. Type: <code>cd Downloads/ghost-#.#.#</code> (replace hashes with the version of Ghost you downloaded).</li>
                <li>Next, in the command prompt type <code>npm install --production</code> <span class="note">note the two dashes</span></li>
                <li>When npm is finished installing, type <code>npm start</code> to start Ghost in development mode</li>
                <li>In a browser, navigate to <code class="path">127.0.0.1:2368</code> to see your newly setup Ghost blog</li>
                <li>Change the url to <code class="path">127.0.0.1:2368/ghost</code> and create your admin user to login to the Ghost admin.</li>
                <li>See the <a href="/usage">usage docs</a> for instructions on the next steps</li>
            </ul>

            <img width="100%" src="https://s3-eu-west-1.amazonaws.com/ghost-website-cdn/install-ghost-win-2.gif" title="Install Ghost on Windows - Part 2" />

            {% if page.next_section || page.prev_section %}
                {% include pagination.html %}
            {% endif %}
        </section>
    </div>
</div>