.nav-list {
    background: #FFF;
    border: 1px solid #E0DFD7;
    border-radius: $rounded;
    max-width: 500px;
    padding: 0;
    &.nav-list-block {
        max-width: none;
    }
}
.nav-list-item {
    display: block;
    padding: 8px 40px 8px 12px;
    position: relative;

    &:first-of-type {
        border-top-left-radius: $rounded;
        border-top-right-radius: $rounded;
    }
    &:last-of-type {
        border-bottom-left-radius: $rounded;
        border-bottom-right-radius: $rounded;
    }

    &:not(:last-of-type) {
        border-bottom: 1px solid #E0DFD7;
    }

    @include icon($i-chevron, 1.4rem, $midbrown) {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    };

    color: $darkgrey;
    a {
        &:link, &:visited {
            color: $darkgrey;
        }
    }

    &:hover {
        background: lighten($lightbrown, 5%);
    }

    b {
        display: block;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 1.375;
    }
    span {
        display: block;
        font-size: 1.1rem;
        color: $midgrey;
        line-height: 1.375;
    }
}