<a class="permalink{{#if featured}} featured{{/if}}" href="#">
    <h3 class="entry-title">{{title}}</h3>
    <section class="entry-meta">
        <time datetime="2013-01-04" class="date">
            {{#if published}}
                Published {{date published_at timeago="True"}}
            {{else}}
                <span class="status-draft">Draft</span>
            {{/if}}
        </time>
        {{!<span class="views">1,934</span>}}
    </section>
</a>