<article class="modal{{#if type}}-{{type}}{{/if}} {{animation}} js-modal">
    <header class="modal-header"><h1>{{title}}</h1><a class="close" href="#"><span class="hidden">Close</span></a></header>
    <section class="modal-content">
        {{{content}}}
    </section>
</article>