<form id="setup" class="setup-form" method="post" novalidate="novalidate">
    <div class="form-content">
        <div class="title-wrap">
            <p class="title">Welcome to your new Ghost blog</p>
            <p class="subtitle">Let's get a few things set up so you can get started.</p>
        </div>
        <div class="blog-title-wrap">
            <label class="blog-title-label">Blog Title</label>
            <div class="input-wrap">
                <input class="blog-title" type="text" name="blog-title" autocorrect="off" />
                <p class="blog-title-description">What would you like to call your blog?</p>
            </div>
        </div>
        <div class="name-wrap">
            <label class="name-label">Full Name</label>
            <div class="input-wrap">
                <input class="name" type="text" name="name" autocorrect="off" />
                <p class="name-description">The name that you will sign your posts with</p>
            </div>
        </div>
        <div class="email-wrap">
            <label class="email-label">Email Address</label>
            <div class="input-wrap">
                <input class="email" type="email" name="email" autocapitalize="off" autocorrect="off" />
                <p class="email-description">We need this to send you important notifications!</p>
            </div>
        </div>
        <div class="password-wrap">
            <label class="password-label">Password</label>
            <div class="input-wrap">
                <input class="password" type="password" name="password" />
                <p class="password-description">Create a password to log in with</p>
            </div>
        </div>
        <button class="button-save" type="submit">OK, Let's do this</button>
    </div>
</form>
