<div class="post-settings-menu" ng-class="klasses" style="display: none">
    <form>
        <table class="plain">
            <tr class="post-setting">
                <td class="post-setting-label">
                    <label for="url">URL</label>
                </td>
                <td class="post-setting-field">
                    <!-- ngModel is a built in Angular directive which lets you define
                    two way data-binding between HTML and data in a controller.
                    ngChange is another built in angular directive that allows you
                    to define what function should be called when the input value changes. -->
                    <input id="url" class="post-setting-slug" type="text" placeholder="" value=""
                        ng-model="post.slug" ng-change="savePost()" />
                </td>
            </tr>
            <tr class="post-setting">
                <td class="post-setting-label">
                    <label for="pub-date">Pub Date</label>
                </td>
                <td class="post-setting-field">
                    <input id="pub-date" class="post-setting-date" type="text" placeholder="{{state.datePlaceholder}}" ng-model="post.published_at" ng-change="savePost()" value=""><!--<span class="post-setting-calendar"></span>-->
                </td>
            </tr>
            <tr class="post-setting">
                <td class="post-setting-label">
                    <span class="label">Static Page</span>
                </td>
                <td class="post-setting-item">
                    <input id="static-page" class="post-setting-static-page" type="checkbox" value=""
                        ng-model="post.page" ng-change="savePost()" ng-checked="post.page" />
                    <label class="checkbox" for="static-page"></label>
                </td>
            </tr>
        </table>
    </form>
    <a class="delete" href="#" ng-class="{hidden: !post.id}" ng-click="deletePost()">Delete This Post</a>
</div>