<p class="number">
    You can use the price data as a number and currency: {{price currency=@price.currency}}{{@price.monthly}}
</p>
<p class="with-price-helper">
    You can pass price data to the price helper: {{price @price.monthly}}
</p>
