---
layout: default
meta_title: How to Use Ghost - Ghost Docs
meta_description: An in depth guide to using the Ghost blogging platform. Got Ghost but not sure how to get going? Start here!
heading: Using Ghost
subheading: Finding your way around, and getting set up the way you want
chapter: usage
section: settings
permalink: /usage/settings/
prev_section: configuration
next_section: managing
---

<div class="container">
    <div class="row">

        {% include subnav/usage.html %}

        <section id="content" class="col-lg-9">

            <h2 id="settings">Ghost Settings</h2>


            <p>Go to <code class="path">&lt;your URL&gt;/ghost/settings/</code>.</p>
            <p>After you are finished adjusting the settings the "Save" button <em>must</em> be pressed, this will save your changes.</p>
            <p>You can check your changes by visiting the Blog URL.</p>

            <h3>Blog Settings (<code class="path">/general/</code>)</h3>

            <p>These are the Blog specific settings.</p>

            <ul>
                <li><strong>Blog Title</strong>: Changes your Blog's title. Theme reference <code>@blog.title</code>.</li>
                <li><strong>Blog Description</strong>: Changes your Blog's description. Theme reference <code>@blog.description</code>.</li>
                <li><strong>Blog Logo</strong>: Upload a Logo for your blog in either '.png', '.jpg' or '.gif'. Theme reference <code>@blog.logo</code>.</li>
                <li><strong>Blog Cover</strong>: Upload your blog cover image in either '.png', '.jpg' or '.gif'. Theme reference <code>@blog.cover</code>.</li>
                <li><strong>Email Address</strong>: This is the email admin notifications are sent too. It <em>must</em> be a valid email.</li>
                <li><strong>Posts per page</strong>: This is how many posts are displayed per page. This should be a numeric value.</li>
                <li><strong>Theme</strong>: This will list all the themes in your <code class="path">content/themes</code> directory. Selecting one from the dropdown will change your blog's look.

            </ul>

            <h3>User Settings (<code class="path">/user/</code>)</h3>

            <p>These are the settings that control your user / author profile.</p>

            <ul>
                <li><strong>Your Name</strong>: This is your name that will be used to credit you when you publish a post. Theme reference (post) <code>author.name</code>.</li>
                <li><strong>Cover Image</strong>: Your profile cover image is uploaded here, in either '.png', '.jpg' or '.gif' format. Theme reference (post) <code>author.cover</code>.</li>
                <li><strong>Display Picture</strong>: This is where you upload your personal display picture, in either '.png', '.jpg' or '.gif' format. Theme reference (post) <code>author.image</code>.</li>
                <li><strong>Email Address</strong>: This email will be available as your public email and also where you wish to receive notifications. Theme reference (post) <code>author.email</code>.</li>
                <li><strong>Location</strong>: This should be your current location. Theme reference (post) <code>author.location</code>.</li>
                <li><strong>Website</strong>: This is your personal website URL or even one of your social network URLs. Theme reference (post) <code>author.website</code>.</li>
                <li><strong>Bio</strong>: Your bio is where you can enter a 200 charater or less description about yourself. Theme reference (post) <code>author.bio</code>.</li>
            </ul>

            <h4>Changing your password</h4>

            <ol>
                <li>Fill out the input boxes with the appropriate password (current / new password).</li>
                <li>Now click <strong>Change Password</strong>.</li>
            </ol>

            <p class="note"><strong>Note:</strong> For your password to change you must click the "Change Password" button, the "Save" button does not change the password.</p>

            {% if page.next_section || page.prev_section %}
                {% include pagination.html %}
            {% endif %}
        </section>
    </div>
</div>