{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2014-10-31",
    "endpointPrefix":"rds",
    "protocol":"query",
    "protocols":["query"],
    "serviceAbbreviation":"Amazon Neptune",
    "serviceFullName":"Amazon Neptune",
    "serviceId":"Neptune",
    "signatureVersion":"v4",
    "signingName":"rds",
    "uid":"neptune-2014-10-31",
    "xmlNamespace":"http://rds.amazonaws.com/doc/2014-10-31/",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AddRoleToDBCluster":{
      "name":"AddRoleToDBCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddRoleToDBClusterMessage"},
      "errors":[
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"DBClusterRoleAlreadyExistsFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"DBClusterRoleQuotaExceededFault"}
      ],
      "documentation":"<p>Associates an Identity and Access Management (IAM) role with an Neptune DB cluster.</p>"
    },
    "AddSourceIdentifierToSubscription":{
      "name":"AddSourceIdentifierToSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddSourceIdentifierToSubscriptionMessage"},
      "output":{
        "shape":"AddSourceIdentifierToSubscriptionResult",
        "resultWrapper":"AddSourceIdentifierToSubscriptionResult"
      },
      "errors":[
        {"shape":"SubscriptionNotFoundFault"},
        {"shape":"SourceNotFoundFault"}
      ],
      "documentation":"<p>Adds a source identifier to an existing event notification subscription.</p>"
    },
    "AddTagsToResource":{
      "name":"AddTagsToResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddTagsToResourceMessage"},
      "errors":[
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"DBSnapshotNotFoundFault"},
        {"shape":"DBClusterNotFoundFault"}
      ],
      "documentation":"<p>Adds metadata tags to an Amazon Neptune resource. These tags can also be used with cost allocation reporting to track cost associated with Amazon Neptune resources, or used in a Condition statement in an IAM policy for Amazon Neptune.</p>"
    },
    "ApplyPendingMaintenanceAction":{
      "name":"ApplyPendingMaintenanceAction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ApplyPendingMaintenanceActionMessage"},
      "output":{
        "shape":"ApplyPendingMaintenanceActionResult",
        "resultWrapper":"ApplyPendingMaintenanceActionResult"
      },
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Applies a pending maintenance action to a resource (for example, to a DB instance).</p>"
    },
    "CopyDBClusterParameterGroup":{
      "name":"CopyDBClusterParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopyDBClusterParameterGroupMessage"},
      "output":{
        "shape":"CopyDBClusterParameterGroupResult",
        "resultWrapper":"CopyDBClusterParameterGroupResult"
      },
      "errors":[
        {"shape":"DBParameterGroupNotFoundFault"},
        {"shape":"DBParameterGroupQuotaExceededFault"},
        {"shape":"DBParameterGroupAlreadyExistsFault"}
      ],
      "documentation":"<p>Copies the specified DB cluster parameter group.</p>"
    },
    "CopyDBClusterSnapshot":{
      "name":"CopyDBClusterSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopyDBClusterSnapshotMessage"},
      "output":{
        "shape":"CopyDBClusterSnapshotResult",
        "resultWrapper":"CopyDBClusterSnapshotResult"
      },
      "errors":[
        {"shape":"DBClusterSnapshotAlreadyExistsFault"},
        {"shape":"DBClusterSnapshotNotFoundFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"InvalidDBClusterSnapshotStateFault"},
        {"shape":"SnapshotQuotaExceededFault"},
        {"shape":"KMSKeyNotAccessibleFault"}
      ],
      "documentation":"<p>Copies a snapshot of a DB cluster.</p> <p>To copy a DB cluster snapshot from a shared manual DB cluster snapshot, <code>SourceDBClusterSnapshotIdentifier</code> must be the Amazon Resource Name (ARN) of the shared DB cluster snapshot.</p>"
    },
    "CopyDBParameterGroup":{
      "name":"CopyDBParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopyDBParameterGroupMessage"},
      "output":{
        "shape":"CopyDBParameterGroupResult",
        "resultWrapper":"CopyDBParameterGroupResult"
      },
      "errors":[
        {"shape":"DBParameterGroupNotFoundFault"},
        {"shape":"DBParameterGroupAlreadyExistsFault"},
        {"shape":"DBParameterGroupQuotaExceededFault"}
      ],
      "documentation":"<p>Copies the specified DB parameter group.</p>"
    },
    "CreateDBCluster":{
      "name":"CreateDBCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDBClusterMessage"},
      "output":{
        "shape":"CreateDBClusterResult",
        "resultWrapper":"CreateDBClusterResult"
      },
      "errors":[
        {"shape":"DBClusterAlreadyExistsFault"},
        {"shape":"InsufficientStorageClusterCapacityFault"},
        {"shape":"DBClusterQuotaExceededFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"DBSubnetGroupNotFoundFault"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"InvalidDBSubnetGroupStateFault"},
        {"shape":"InvalidSubnet"},
        {"shape":"InvalidDBInstanceStateFault"},
        {"shape":"DBClusterParameterGroupNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"DBSubnetGroupDoesNotCoverEnoughAZs"},
        {"shape":"GlobalClusterNotFoundFault"},
        {"shape":"InvalidGlobalClusterStateFault"}
      ],
      "documentation":"<p>Creates a new Amazon Neptune DB cluster.</p> <p>You can use the <code>ReplicationSourceIdentifier</code> parameter to create the DB cluster as a Read Replica of another DB cluster or Amazon Neptune DB instance.</p> <p>Note that when you create a new cluster using <code>CreateDBCluster</code> directly, deletion protection is disabled by default (when you create a new production cluster in the console, deletion protection is enabled by default). You can only delete a DB cluster if its <code>DeletionProtection</code> field is set to <code>false</code>.</p>"
    },
    "CreateDBClusterEndpoint":{
      "name":"CreateDBClusterEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDBClusterEndpointMessage"},
      "output":{
        "shape":"CreateDBClusterEndpointOutput",
        "resultWrapper":"CreateDBClusterEndpointResult"
      },
      "errors":[
        {"shape":"DBClusterEndpointQuotaExceededFault"},
        {"shape":"DBClusterEndpointAlreadyExistsFault"},
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"InvalidDBInstanceStateFault"}
      ],
      "documentation":"<p>Creates a new custom endpoint and associates it with an Amazon Neptune DB cluster.</p>"
    },
    "CreateDBClusterParameterGroup":{
      "name":"CreateDBClusterParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDBClusterParameterGroupMessage"},
      "output":{
        "shape":"CreateDBClusterParameterGroupResult",
        "resultWrapper":"CreateDBClusterParameterGroupResult"
      },
      "errors":[
        {"shape":"DBParameterGroupQuotaExceededFault"},
        {"shape":"DBParameterGroupAlreadyExistsFault"}
      ],
      "documentation":"<p>Creates a new DB cluster parameter group.</p> <p>Parameters in a DB cluster parameter group apply to all of the instances in a DB cluster.</p> <p> A DB cluster parameter group is initially created with the default parameters for the database engine used by instances in the DB cluster. To provide custom values for any of the parameters, you must modify the group after creating it using <a>ModifyDBClusterParameterGroup</a>. Once you've created a DB cluster parameter group, you need to associate it with your DB cluster using <a>ModifyDBCluster</a>. When you associate a new DB cluster parameter group with a running DB cluster, you need to reboot the DB instances in the DB cluster without failover for the new DB cluster parameter group and associated settings to take effect.</p> <important> <p>After you create a DB cluster parameter group, you should wait at least 5 minutes before creating your first DB cluster that uses that DB cluster parameter group as the default parameter group. This allows Amazon Neptune to fully complete the create action before the DB cluster parameter group is used as the default for a new DB cluster. This is especially important for parameters that are critical when creating the default database for a DB cluster, such as the character set for the default database defined by the <code>character_set_database</code> parameter. You can use the <i>Parameter Groups</i> option of the <a href=\"https://console.aws.amazon.com/rds/\">Amazon Neptune console</a> or the <a>DescribeDBClusterParameters</a> command to verify that your DB cluster parameter group has been created or modified.</p> </important>"
    },
    "CreateDBClusterSnapshot":{
      "name":"CreateDBClusterSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDBClusterSnapshotMessage"},
      "output":{
        "shape":"CreateDBClusterSnapshotResult",
        "resultWrapper":"CreateDBClusterSnapshotResult"
      },
      "errors":[
        {"shape":"DBClusterSnapshotAlreadyExistsFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"SnapshotQuotaExceededFault"},
        {"shape":"InvalidDBClusterSnapshotStateFault"}
      ],
      "documentation":"<p>Creates a snapshot of a DB cluster.</p>"
    },
    "CreateDBInstance":{
      "name":"CreateDBInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDBInstanceMessage"},
      "output":{
        "shape":"CreateDBInstanceResult",
        "resultWrapper":"CreateDBInstanceResult"
      },
      "errors":[
        {"shape":"DBInstanceAlreadyExistsFault"},
        {"shape":"InsufficientDBInstanceCapacityFault"},
        {"shape":"DBParameterGroupNotFoundFault"},
        {"shape":"DBSecurityGroupNotFoundFault"},
        {"shape":"InstanceQuotaExceededFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"DBSubnetGroupNotFoundFault"},
        {"shape":"DBSubnetGroupDoesNotCoverEnoughAZs"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"InvalidSubnet"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"ProvisionedIopsNotAvailableInAZFault"},
        {"shape":"OptionGroupNotFoundFault"},
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"StorageTypeNotSupportedFault"},
        {"shape":"AuthorizationNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"DomainNotFoundFault"}
      ],
      "documentation":"<p>Creates a new DB instance.</p>"
    },
    "CreateDBParameterGroup":{
      "name":"CreateDBParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDBParameterGroupMessage"},
      "output":{
        "shape":"CreateDBParameterGroupResult",
        "resultWrapper":"CreateDBParameterGroupResult"
      },
      "errors":[
        {"shape":"DBParameterGroupQuotaExceededFault"},
        {"shape":"DBParameterGroupAlreadyExistsFault"}
      ],
      "documentation":"<p>Creates a new DB parameter group.</p> <p>A DB parameter group is initially created with the default parameters for the database engine used by the DB instance. To provide custom values for any of the parameters, you must modify the group after creating it using <i>ModifyDBParameterGroup</i>. Once you've created a DB parameter group, you need to associate it with your DB instance using <i>ModifyDBInstance</i>. When you associate a new DB parameter group with a running DB instance, you need to reboot the DB instance without failover for the new DB parameter group and associated settings to take effect.</p> <important> <p>After you create a DB parameter group, you should wait at least 5 minutes before creating your first DB instance that uses that DB parameter group as the default parameter group. This allows Amazon Neptune to fully complete the create action before the parameter group is used as the default for a new DB instance. This is especially important for parameters that are critical when creating the default database for a DB instance, such as the character set for the default database defined by the <code>character_set_database</code> parameter. You can use the <i>Parameter Groups</i> option of the Amazon Neptune console or the <i>DescribeDBParameters</i> command to verify that your DB parameter group has been created or modified.</p> </important>"
    },
    "CreateDBSubnetGroup":{
      "name":"CreateDBSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDBSubnetGroupMessage"},
      "output":{
        "shape":"CreateDBSubnetGroupResult",
        "resultWrapper":"CreateDBSubnetGroupResult"
      },
      "errors":[
        {"shape":"DBSubnetGroupAlreadyExistsFault"},
        {"shape":"DBSubnetGroupQuotaExceededFault"},
        {"shape":"DBSubnetQuotaExceededFault"},
        {"shape":"DBSubnetGroupDoesNotCoverEnoughAZs"},
        {"shape":"InvalidSubnet"}
      ],
      "documentation":"<p>Creates a new DB subnet group. DB subnet groups must contain at least one subnet in at least two AZs in the Amazon Region.</p>"
    },
    "CreateEventSubscription":{
      "name":"CreateEventSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEventSubscriptionMessage"},
      "output":{
        "shape":"CreateEventSubscriptionResult",
        "resultWrapper":"CreateEventSubscriptionResult"
      },
      "errors":[
        {"shape":"EventSubscriptionQuotaExceededFault"},
        {"shape":"SubscriptionAlreadyExistFault"},
        {"shape":"SNSInvalidTopicFault"},
        {"shape":"SNSNoAuthorizationFault"},
        {"shape":"SNSTopicArnNotFoundFault"},
        {"shape":"SubscriptionCategoryNotFoundFault"},
        {"shape":"SourceNotFoundFault"}
      ],
      "documentation":"<p>Creates an event notification subscription. This action requires a topic ARN (Amazon Resource Name) created by either the Neptune console, the SNS console, or the SNS API. To obtain an ARN with SNS, you must create a topic in Amazon SNS and subscribe to the topic. The ARN is displayed in the SNS console.</p> <p>You can specify the type of source (SourceType) you want to be notified of, provide a list of Neptune sources (SourceIds) that triggers the events, and provide a list of event categories (EventCategories) for events you want to be notified of. For example, you can specify SourceType = db-instance, SourceIds = mydbinstance1, mydbinstance2 and EventCategories = Availability, Backup.</p> <p>If you specify both the SourceType and SourceIds, such as SourceType = db-instance and SourceIdentifier = myDBInstance1, you are notified of all the db-instance events for the specified source. If you specify a SourceType but do not specify a SourceIdentifier, you receive notice of the events for that source type for all your Neptune sources. If you do not specify either the SourceType nor the SourceIdentifier, you are notified of events generated from all Neptune sources belonging to your customer account.</p>"
    },
    "CreateGlobalCluster":{
      "name":"CreateGlobalCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateGlobalClusterMessage"},
      "output":{
        "shape":"CreateGlobalClusterResult",
        "resultWrapper":"CreateGlobalClusterResult"
      },
      "errors":[
        {"shape":"GlobalClusterAlreadyExistsFault"},
        {"shape":"GlobalClusterQuotaExceededFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"DBClusterNotFoundFault"}
      ],
      "documentation":"<p>Creates a Neptune global database spread across multiple Amazon Regions. The global database contains a single primary cluster with read-write capability, and read-only secondary clusters that receive data from the primary cluster through high-speed replication performed by the Neptune storage subsystem.</p> <p>You can create a global database that is initially empty, and then add a primary cluster and secondary clusters to it, or you can specify an existing Neptune cluster during the create operation to become the primary cluster of the global database.</p>"
    },
    "DeleteDBCluster":{
      "name":"DeleteDBCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDBClusterMessage"},
      "output":{
        "shape":"DeleteDBClusterResult",
        "resultWrapper":"DeleteDBClusterResult"
      },
      "errors":[
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"DBClusterSnapshotAlreadyExistsFault"},
        {"shape":"SnapshotQuotaExceededFault"},
        {"shape":"InvalidDBClusterSnapshotStateFault"}
      ],
      "documentation":"<p>The DeleteDBCluster action deletes a previously provisioned DB cluster. When you delete a DB cluster, all automated backups for that DB cluster are deleted and can't be recovered. Manual DB cluster snapshots of the specified DB cluster are not deleted.</p> <p>Note that the DB Cluster cannot be deleted if deletion protection is enabled. To delete it, you must first set its <code>DeletionProtection</code> field to <code>False</code>.</p>"
    },
    "DeleteDBClusterEndpoint":{
      "name":"DeleteDBClusterEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDBClusterEndpointMessage"},
      "output":{
        "shape":"DeleteDBClusterEndpointOutput",
        "resultWrapper":"DeleteDBClusterEndpointResult"
      },
      "errors":[
        {"shape":"InvalidDBClusterEndpointStateFault"},
        {"shape":"DBClusterEndpointNotFoundFault"},
        {"shape":"InvalidDBClusterStateFault"}
      ],
      "documentation":"<p>Deletes a custom endpoint and removes it from an Amazon Neptune DB cluster.</p>"
    },
    "DeleteDBClusterParameterGroup":{
      "name":"DeleteDBClusterParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDBClusterParameterGroupMessage"},
      "errors":[
        {"shape":"InvalidDBParameterGroupStateFault"},
        {"shape":"DBParameterGroupNotFoundFault"}
      ],
      "documentation":"<p>Deletes a specified DB cluster parameter group. The DB cluster parameter group to be deleted can't be associated with any DB clusters.</p>"
    },
    "DeleteDBClusterSnapshot":{
      "name":"DeleteDBClusterSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDBClusterSnapshotMessage"},
      "output":{
        "shape":"DeleteDBClusterSnapshotResult",
        "resultWrapper":"DeleteDBClusterSnapshotResult"
      },
      "errors":[
        {"shape":"InvalidDBClusterSnapshotStateFault"},
        {"shape":"DBClusterSnapshotNotFoundFault"}
      ],
      "documentation":"<p>Deletes a DB cluster snapshot. If the snapshot is being copied, the copy operation is terminated.</p> <note> <p>The DB cluster snapshot must be in the <code>available</code> state to be deleted.</p> </note>"
    },
    "DeleteDBInstance":{
      "name":"DeleteDBInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDBInstanceMessage"},
      "output":{
        "shape":"DeleteDBInstanceResult",
        "resultWrapper":"DeleteDBInstanceResult"
      },
      "errors":[
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"InvalidDBInstanceStateFault"},
        {"shape":"DBSnapshotAlreadyExistsFault"},
        {"shape":"SnapshotQuotaExceededFault"},
        {"shape":"InvalidDBClusterStateFault"}
      ],
      "documentation":"<p>The DeleteDBInstance action deletes a previously provisioned DB instance. When you delete a DB instance, all automated backups for that instance are deleted and can't be recovered. Manual DB snapshots of the DB instance to be deleted by <code>DeleteDBInstance</code> are not deleted.</p> <p> If you request a final DB snapshot the status of the Amazon Neptune DB instance is <code>deleting</code> until the DB snapshot is created. The API action <code>DescribeDBInstance</code> is used to monitor the status of this operation. The action can't be canceled or reverted once submitted.</p> <p>Note that when a DB instance is in a failure state and has a status of <code>failed</code>, <code>incompatible-restore</code>, or <code>incompatible-network</code>, you can only delete it when the <code>SkipFinalSnapshot</code> parameter is set to <code>true</code>.</p> <p>You can't delete a DB instance if it is the only instance in the DB cluster, or if it has deletion protection enabled.</p>"
    },
    "DeleteDBParameterGroup":{
      "name":"DeleteDBParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDBParameterGroupMessage"},
      "errors":[
        {"shape":"InvalidDBParameterGroupStateFault"},
        {"shape":"DBParameterGroupNotFoundFault"}
      ],
      "documentation":"<p>Deletes a specified DBParameterGroup. The DBParameterGroup to be deleted can't be associated with any DB instances.</p>"
    },
    "DeleteDBSubnetGroup":{
      "name":"DeleteDBSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDBSubnetGroupMessage"},
      "errors":[
        {"shape":"InvalidDBSubnetGroupStateFault"},
        {"shape":"InvalidDBSubnetStateFault"},
        {"shape":"DBSubnetGroupNotFoundFault"}
      ],
      "documentation":"<p>Deletes a DB subnet group.</p> <note> <p>The specified database subnet group must not be associated with any DB instances.</p> </note>"
    },
    "DeleteEventSubscription":{
      "name":"DeleteEventSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEventSubscriptionMessage"},
      "output":{
        "shape":"DeleteEventSubscriptionResult",
        "resultWrapper":"DeleteEventSubscriptionResult"
      },
      "errors":[
        {"shape":"SubscriptionNotFoundFault"},
        {"shape":"InvalidEventSubscriptionStateFault"}
      ],
      "documentation":"<p>Deletes an event notification subscription.</p>"
    },
    "DeleteGlobalCluster":{
      "name":"DeleteGlobalCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteGlobalClusterMessage"},
      "output":{
        "shape":"DeleteGlobalClusterResult",
        "resultWrapper":"DeleteGlobalClusterResult"
      },
      "errors":[
        {"shape":"GlobalClusterNotFoundFault"},
        {"shape":"InvalidGlobalClusterStateFault"}
      ],
      "documentation":"<p>Deletes a global database. The primary and all secondary clusters must already be detached or deleted first.</p>"
    },
    "DescribeDBClusterEndpoints":{
      "name":"DescribeDBClusterEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBClusterEndpointsMessage"},
      "output":{
        "shape":"DBClusterEndpointMessage",
        "resultWrapper":"DescribeDBClusterEndpointsResult"
      },
      "errors":[
        {"shape":"DBClusterNotFoundFault"}
      ],
      "documentation":"<p>Returns information about endpoints for an Amazon Neptune DB cluster.</p> <note> <p>This operation can also return information for Amazon RDS clusters and Amazon DocDB clusters.</p> </note>"
    },
    "DescribeDBClusterParameterGroups":{
      "name":"DescribeDBClusterParameterGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBClusterParameterGroupsMessage"},
      "output":{
        "shape":"DBClusterParameterGroupsMessage",
        "resultWrapper":"DescribeDBClusterParameterGroupsResult"
      },
      "errors":[
        {"shape":"DBParameterGroupNotFoundFault"}
      ],
      "documentation":"<p> Returns a list of <code>DBClusterParameterGroup</code> descriptions. If a <code>DBClusterParameterGroupName</code> parameter is specified, the list will contain only the description of the specified DB cluster parameter group.</p>"
    },
    "DescribeDBClusterParameters":{
      "name":"DescribeDBClusterParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBClusterParametersMessage"},
      "output":{
        "shape":"DBClusterParameterGroupDetails",
        "resultWrapper":"DescribeDBClusterParametersResult"
      },
      "errors":[
        {"shape":"DBParameterGroupNotFoundFault"}
      ],
      "documentation":"<p>Returns the detailed parameter list for a particular DB cluster parameter group.</p>"
    },
    "DescribeDBClusterSnapshotAttributes":{
      "name":"DescribeDBClusterSnapshotAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBClusterSnapshotAttributesMessage"},
      "output":{
        "shape":"DescribeDBClusterSnapshotAttributesResult",
        "resultWrapper":"DescribeDBClusterSnapshotAttributesResult"
      },
      "errors":[
        {"shape":"DBClusterSnapshotNotFoundFault"}
      ],
      "documentation":"<p>Returns a list of DB cluster snapshot attribute names and values for a manual DB cluster snapshot.</p> <p>When sharing snapshots with other Amazon accounts, <code>DescribeDBClusterSnapshotAttributes</code> returns the <code>restore</code> attribute and a list of IDs for the Amazon accounts that are authorized to copy or restore the manual DB cluster snapshot. If <code>all</code> is included in the list of values for the <code>restore</code> attribute, then the manual DB cluster snapshot is public and can be copied or restored by all Amazon accounts.</p> <p>To add or remove access for an Amazon account to copy or restore a manual DB cluster snapshot, or to make the manual DB cluster snapshot public or private, use the <a>ModifyDBClusterSnapshotAttribute</a> API action.</p>"
    },
    "DescribeDBClusterSnapshots":{
      "name":"DescribeDBClusterSnapshots",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBClusterSnapshotsMessage"},
      "output":{
        "shape":"DBClusterSnapshotMessage",
        "resultWrapper":"DescribeDBClusterSnapshotsResult"
      },
      "errors":[
        {"shape":"DBClusterSnapshotNotFoundFault"}
      ],
      "documentation":"<p>Returns information about DB cluster snapshots. This API action supports pagination.</p>"
    },
    "DescribeDBClusters":{
      "name":"DescribeDBClusters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBClustersMessage"},
      "output":{
        "shape":"DBClusterMessage",
        "resultWrapper":"DescribeDBClustersResult"
      },
      "errors":[
        {"shape":"DBClusterNotFoundFault"}
      ],
      "documentation":"<p>Returns information about provisioned DB clusters, and supports pagination.</p> <note> <p>This operation can also return information for Amazon RDS clusters and Amazon DocDB clusters.</p> </note>"
    },
    "DescribeDBEngineVersions":{
      "name":"DescribeDBEngineVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBEngineVersionsMessage"},
      "output":{
        "shape":"DBEngineVersionMessage",
        "resultWrapper":"DescribeDBEngineVersionsResult"
      },
      "documentation":"<p>Returns a list of the available DB engines.</p>"
    },
    "DescribeDBInstances":{
      "name":"DescribeDBInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBInstancesMessage"},
      "output":{
        "shape":"DBInstanceMessage",
        "resultWrapper":"DescribeDBInstancesResult"
      },
      "errors":[
        {"shape":"DBInstanceNotFoundFault"}
      ],
      "documentation":"<p>Returns information about provisioned instances, and supports pagination.</p> <note> <p>This operation can also return information for Amazon RDS instances and Amazon DocDB instances.</p> </note>"
    },
    "DescribeDBParameterGroups":{
      "name":"DescribeDBParameterGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBParameterGroupsMessage"},
      "output":{
        "shape":"DBParameterGroupsMessage",
        "resultWrapper":"DescribeDBParameterGroupsResult"
      },
      "errors":[
        {"shape":"DBParameterGroupNotFoundFault"}
      ],
      "documentation":"<p>Returns a list of <code>DBParameterGroup</code> descriptions. If a <code>DBParameterGroupName</code> is specified, the list will contain only the description of the specified DB parameter group.</p>"
    },
    "DescribeDBParameters":{
      "name":"DescribeDBParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBParametersMessage"},
      "output":{
        "shape":"DBParameterGroupDetails",
        "resultWrapper":"DescribeDBParametersResult"
      },
      "errors":[
        {"shape":"DBParameterGroupNotFoundFault"}
      ],
      "documentation":"<p>Returns the detailed parameter list for a particular DB parameter group.</p>"
    },
    "DescribeDBSubnetGroups":{
      "name":"DescribeDBSubnetGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDBSubnetGroupsMessage"},
      "output":{
        "shape":"DBSubnetGroupMessage",
        "resultWrapper":"DescribeDBSubnetGroupsResult"
      },
      "errors":[
        {"shape":"DBSubnetGroupNotFoundFault"}
      ],
      "documentation":"<p>Returns a list of DBSubnetGroup descriptions. If a DBSubnetGroupName is specified, the list will contain only the descriptions of the specified DBSubnetGroup.</p> <p>For an overview of CIDR ranges, go to the <a href=\"http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing\">Wikipedia Tutorial</a>.</p>"
    },
    "DescribeEngineDefaultClusterParameters":{
      "name":"DescribeEngineDefaultClusterParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEngineDefaultClusterParametersMessage"},
      "output":{
        "shape":"DescribeEngineDefaultClusterParametersResult",
        "resultWrapper":"DescribeEngineDefaultClusterParametersResult"
      },
      "documentation":"<p>Returns the default engine and system parameter information for the cluster database engine.</p>"
    },
    "DescribeEngineDefaultParameters":{
      "name":"DescribeEngineDefaultParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEngineDefaultParametersMessage"},
      "output":{
        "shape":"DescribeEngineDefaultParametersResult",
        "resultWrapper":"DescribeEngineDefaultParametersResult"
      },
      "documentation":"<p>Returns the default engine and system parameter information for the specified database engine.</p>"
    },
    "DescribeEventCategories":{
      "name":"DescribeEventCategories",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventCategoriesMessage"},
      "output":{
        "shape":"EventCategoriesMessage",
        "resultWrapper":"DescribeEventCategoriesResult"
      },
      "documentation":"<p>Displays a list of categories for all event source types, or, if specified, for a specified source type.</p>"
    },
    "DescribeEventSubscriptions":{
      "name":"DescribeEventSubscriptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventSubscriptionsMessage"},
      "output":{
        "shape":"EventSubscriptionsMessage",
        "resultWrapper":"DescribeEventSubscriptionsResult"
      },
      "errors":[
        {"shape":"SubscriptionNotFoundFault"}
      ],
      "documentation":"<p>Lists all the subscription descriptions for a customer account. The description for a subscription includes SubscriptionName, SNSTopicARN, CustomerID, SourceType, SourceID, CreationTime, and Status.</p> <p>If you specify a SubscriptionName, lists the description for that subscription.</p>"
    },
    "DescribeEvents":{
      "name":"DescribeEvents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventsMessage"},
      "output":{
        "shape":"EventsMessage",
        "resultWrapper":"DescribeEventsResult"
      },
      "documentation":"<p>Returns events related to DB instances, DB security groups, DB snapshots, and DB parameter groups for the past 14 days. Events specific to a particular DB instance, DB security group, database snapshot, or DB parameter group can be obtained by providing the name as a parameter. By default, the past hour of events are returned.</p>"
    },
    "DescribeGlobalClusters":{
      "name":"DescribeGlobalClusters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeGlobalClustersMessage"},
      "output":{
        "shape":"GlobalClustersMessage",
        "resultWrapper":"DescribeGlobalClustersResult"
      },
      "errors":[
        {"shape":"GlobalClusterNotFoundFault"}
      ],
      "documentation":"<p>Returns information about Neptune global database clusters. This API supports pagination.</p>"
    },
    "DescribeOrderableDBInstanceOptions":{
      "name":"DescribeOrderableDBInstanceOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeOrderableDBInstanceOptionsMessage"},
      "output":{
        "shape":"OrderableDBInstanceOptionsMessage",
        "resultWrapper":"DescribeOrderableDBInstanceOptionsResult"
      },
      "documentation":"<p>Returns a list of orderable DB instance options for the specified engine.</p>"
    },
    "DescribePendingMaintenanceActions":{
      "name":"DescribePendingMaintenanceActions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePendingMaintenanceActionsMessage"},
      "output":{
        "shape":"PendingMaintenanceActionsMessage",
        "resultWrapper":"DescribePendingMaintenanceActionsResult"
      },
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Returns a list of resources (for example, DB instances) that have at least one pending maintenance action.</p>"
    },
    "DescribeValidDBInstanceModifications":{
      "name":"DescribeValidDBInstanceModifications",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeValidDBInstanceModificationsMessage"},
      "output":{
        "shape":"DescribeValidDBInstanceModificationsResult",
        "resultWrapper":"DescribeValidDBInstanceModificationsResult"
      },
      "errors":[
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"InvalidDBInstanceStateFault"}
      ],
      "documentation":"<p>You can call <a>DescribeValidDBInstanceModifications</a> to learn what modifications you can make to your DB instance. You can use this information when you call <a>ModifyDBInstance</a>.</p>"
    },
    "FailoverDBCluster":{
      "name":"FailoverDBCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"FailoverDBClusterMessage"},
      "output":{
        "shape":"FailoverDBClusterResult",
        "resultWrapper":"FailoverDBClusterResult"
      },
      "errors":[
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"InvalidDBInstanceStateFault"}
      ],
      "documentation":"<p>Forces a failover for a DB cluster.</p> <p>A failover for a DB cluster promotes one of the Read Replicas (read-only instances) in the DB cluster to be the primary instance (the cluster writer).</p> <p>Amazon Neptune will automatically fail over to a Read Replica, if one exists, when the primary instance fails. You can force a failover when you want to simulate a failure of a primary instance for testing. Because each instance in a DB cluster has its own endpoint address, you will need to clean up and re-establish any existing connections that use those endpoint addresses when the failover is complete.</p>"
    },
    "FailoverGlobalCluster":{
      "name":"FailoverGlobalCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"FailoverGlobalClusterMessage"},
      "output":{
        "shape":"FailoverGlobalClusterResult",
        "resultWrapper":"FailoverGlobalClusterResult"
      },
      "errors":[
        {"shape":"GlobalClusterNotFoundFault"},
        {"shape":"InvalidGlobalClusterStateFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"DBClusterNotFoundFault"}
      ],
      "documentation":"<p>Initiates the failover process for a Neptune global database.</p> <p>A failover for a Neptune global database promotes one of secondary read-only DB clusters to be the primary DB cluster and demotes the primary DB cluster to being a secondary (read-only) DB cluster. In other words, the role of the current primary DB cluster and the selected target secondary DB cluster are switched. The selected secondary DB cluster assumes full read/write capabilities for the Neptune global database.</p> <note> <p>This action applies <b>only</b> to Neptune global databases. This action is only intended for use on healthy Neptune global databases with healthy Neptune DB clusters and no region-wide outages, to test disaster recovery scenarios or to reconfigure the global database topology.</p> </note>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceMessage"},
      "output":{
        "shape":"TagListMessage",
        "resultWrapper":"ListTagsForResourceResult"
      },
      "errors":[
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"DBSnapshotNotFoundFault"},
        {"shape":"DBClusterNotFoundFault"}
      ],
      "documentation":"<p>Lists all tags on an Amazon Neptune resource.</p>"
    },
    "ModifyDBCluster":{
      "name":"ModifyDBCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyDBClusterMessage"},
      "output":{
        "shape":"ModifyDBClusterResult",
        "resultWrapper":"ModifyDBClusterResult"
      },
      "errors":[
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"DBSubnetGroupNotFoundFault"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"InvalidDBSubnetGroupStateFault"},
        {"shape":"InvalidSubnet"},
        {"shape":"DBClusterParameterGroupNotFoundFault"},
        {"shape":"InvalidDBSecurityGroupStateFault"},
        {"shape":"InvalidDBInstanceStateFault"},
        {"shape":"DBClusterAlreadyExistsFault"},
        {"shape":"StorageTypeNotSupportedFault"}
      ],
      "documentation":"<p>Modify a setting for a DB cluster. You can change one or more database configuration parameters by specifying these parameters and the new values in the request.</p>"
    },
    "ModifyDBClusterEndpoint":{
      "name":"ModifyDBClusterEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyDBClusterEndpointMessage"},
      "output":{
        "shape":"ModifyDBClusterEndpointOutput",
        "resultWrapper":"ModifyDBClusterEndpointResult"
      },
      "errors":[
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"InvalidDBClusterEndpointStateFault"},
        {"shape":"DBClusterEndpointNotFoundFault"},
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"InvalidDBInstanceStateFault"}
      ],
      "documentation":"<p>Modifies the properties of an endpoint in an Amazon Neptune DB cluster.</p>"
    },
    "ModifyDBClusterParameterGroup":{
      "name":"ModifyDBClusterParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyDBClusterParameterGroupMessage"},
      "output":{
        "shape":"DBClusterParameterGroupNameMessage",
        "resultWrapper":"ModifyDBClusterParameterGroupResult"
      },
      "errors":[
        {"shape":"DBParameterGroupNotFoundFault"},
        {"shape":"InvalidDBParameterGroupStateFault"}
      ],
      "documentation":"<p> Modifies the parameters of a DB cluster parameter group. To modify more than one parameter, submit a list of the following: <code>ParameterName</code>, <code>ParameterValue</code>, and <code>ApplyMethod</code>. A maximum of 20 parameters can be modified in a single request.</p> <note> <p>Changes to dynamic parameters are applied immediately. Changes to static parameters require a reboot without failover to the DB cluster associated with the parameter group before the change can take effect.</p> </note> <important> <p>After you create a DB cluster parameter group, you should wait at least 5 minutes before creating your first DB cluster that uses that DB cluster parameter group as the default parameter group. This allows Amazon Neptune to fully complete the create action before the parameter group is used as the default for a new DB cluster. This is especially important for parameters that are critical when creating the default database for a DB cluster, such as the character set for the default database defined by the <code>character_set_database</code> parameter. You can use the <i>Parameter Groups</i> option of the Amazon Neptune console or the <a>DescribeDBClusterParameters</a> command to verify that your DB cluster parameter group has been created or modified.</p> </important>"
    },
    "ModifyDBClusterSnapshotAttribute":{
      "name":"ModifyDBClusterSnapshotAttribute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyDBClusterSnapshotAttributeMessage"},
      "output":{
        "shape":"ModifyDBClusterSnapshotAttributeResult",
        "resultWrapper":"ModifyDBClusterSnapshotAttributeResult"
      },
      "errors":[
        {"shape":"DBClusterSnapshotNotFoundFault"},
        {"shape":"InvalidDBClusterSnapshotStateFault"},
        {"shape":"SharedSnapshotQuotaExceededFault"}
      ],
      "documentation":"<p>Adds an attribute and values to, or removes an attribute and values from, a manual DB cluster snapshot.</p> <p>To share a manual DB cluster snapshot with other Amazon accounts, specify <code>restore</code> as the <code>AttributeName</code> and use the <code>ValuesToAdd</code> parameter to add a list of IDs of the Amazon accounts that are authorized to restore the manual DB cluster snapshot. Use the value <code>all</code> to make the manual DB cluster snapshot public, which means that it can be copied or restored by all Amazon accounts. Do not add the <code>all</code> value for any manual DB cluster snapshots that contain private information that you don't want available to all Amazon accounts. If a manual DB cluster snapshot is encrypted, it can be shared, but only by specifying a list of authorized Amazon account IDs for the <code>ValuesToAdd</code> parameter. You can't use <code>all</code> as a value for that parameter in this case.</p> <p>To view which Amazon accounts have access to copy or restore a manual DB cluster snapshot, or whether a manual DB cluster snapshot public or private, use the <a>DescribeDBClusterSnapshotAttributes</a> API action.</p>"
    },
    "ModifyDBInstance":{
      "name":"ModifyDBInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyDBInstanceMessage"},
      "output":{
        "shape":"ModifyDBInstanceResult",
        "resultWrapper":"ModifyDBInstanceResult"
      },
      "errors":[
        {"shape":"InvalidDBInstanceStateFault"},
        {"shape":"InvalidDBSecurityGroupStateFault"},
        {"shape":"DBInstanceAlreadyExistsFault"},
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"DBSecurityGroupNotFoundFault"},
        {"shape":"DBParameterGroupNotFoundFault"},
        {"shape":"InsufficientDBInstanceCapacityFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"ProvisionedIopsNotAvailableInAZFault"},
        {"shape":"OptionGroupNotFoundFault"},
        {"shape":"DBUpgradeDependencyFailureFault"},
        {"shape":"StorageTypeNotSupportedFault"},
        {"shape":"AuthorizationNotFoundFault"},
        {"shape":"CertificateNotFoundFault"},
        {"shape":"DomainNotFoundFault"}
      ],
      "documentation":"<p>Modifies settings for a DB instance. You can change one or more database configuration parameters by specifying these parameters and the new values in the request. To learn what modifications you can make to your DB instance, call <a>DescribeValidDBInstanceModifications</a> before you call <a>ModifyDBInstance</a>.</p>"
    },
    "ModifyDBParameterGroup":{
      "name":"ModifyDBParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyDBParameterGroupMessage"},
      "output":{
        "shape":"DBParameterGroupNameMessage",
        "resultWrapper":"ModifyDBParameterGroupResult"
      },
      "errors":[
        {"shape":"DBParameterGroupNotFoundFault"},
        {"shape":"InvalidDBParameterGroupStateFault"}
      ],
      "documentation":"<p>Modifies the parameters of a DB parameter group. To modify more than one parameter, submit a list of the following: <code>ParameterName</code>, <code>ParameterValue</code>, and <code>ApplyMethod</code>. A maximum of 20 parameters can be modified in a single request.</p> <note> <p>Changes to dynamic parameters are applied immediately. Changes to static parameters require a reboot without failover to the DB instance associated with the parameter group before the change can take effect.</p> </note> <important> <p>After you modify a DB parameter group, you should wait at least 5 minutes before creating your first DB instance that uses that DB parameter group as the default parameter group. This allows Amazon Neptune to fully complete the modify action before the parameter group is used as the default for a new DB instance. This is especially important for parameters that are critical when creating the default database for a DB instance, such as the character set for the default database defined by the <code>character_set_database</code> parameter. You can use the <i>Parameter Groups</i> option of the Amazon Neptune console or the <i>DescribeDBParameters</i> command to verify that your DB parameter group has been created or modified.</p> </important>"
    },
    "ModifyDBSubnetGroup":{
      "name":"ModifyDBSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyDBSubnetGroupMessage"},
      "output":{
        "shape":"ModifyDBSubnetGroupResult",
        "resultWrapper":"ModifyDBSubnetGroupResult"
      },
      "errors":[
        {"shape":"DBSubnetGroupNotFoundFault"},
        {"shape":"DBSubnetQuotaExceededFault"},
        {"shape":"SubnetAlreadyInUse"},
        {"shape":"DBSubnetGroupDoesNotCoverEnoughAZs"},
        {"shape":"InvalidSubnet"}
      ],
      "documentation":"<p>Modifies an existing DB subnet group. DB subnet groups must contain at least one subnet in at least two AZs in the Amazon Region.</p>"
    },
    "ModifyEventSubscription":{
      "name":"ModifyEventSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyEventSubscriptionMessage"},
      "output":{
        "shape":"ModifyEventSubscriptionResult",
        "resultWrapper":"ModifyEventSubscriptionResult"
      },
      "errors":[
        {"shape":"EventSubscriptionQuotaExceededFault"},
        {"shape":"SubscriptionNotFoundFault"},
        {"shape":"SNSInvalidTopicFault"},
        {"shape":"SNSNoAuthorizationFault"},
        {"shape":"SNSTopicArnNotFoundFault"},
        {"shape":"SubscriptionCategoryNotFoundFault"}
      ],
      "documentation":"<p>Modifies an existing event notification subscription. Note that you can't modify the source identifiers using this call; to change source identifiers for a subscription, use the <a>AddSourceIdentifierToSubscription</a> and <a>RemoveSourceIdentifierFromSubscription</a> calls.</p> <p>You can see a list of the event categories for a given SourceType by using the <b>DescribeEventCategories</b> action.</p>"
    },
    "ModifyGlobalCluster":{
      "name":"ModifyGlobalCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyGlobalClusterMessage"},
      "output":{
        "shape":"ModifyGlobalClusterResult",
        "resultWrapper":"ModifyGlobalClusterResult"
      },
      "errors":[
        {"shape":"GlobalClusterNotFoundFault"},
        {"shape":"InvalidGlobalClusterStateFault"}
      ],
      "documentation":"<p>Modify a setting for an Amazon Neptune global cluster. You can change one or more database configuration parameters by specifying these parameters and their new values in the request.</p>"
    },
    "PromoteReadReplicaDBCluster":{
      "name":"PromoteReadReplicaDBCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PromoteReadReplicaDBClusterMessage"},
      "output":{
        "shape":"PromoteReadReplicaDBClusterResult",
        "resultWrapper":"PromoteReadReplicaDBClusterResult"
      },
      "errors":[
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"InvalidDBClusterStateFault"}
      ],
      "documentation":"<p>Not supported.</p>"
    },
    "RebootDBInstance":{
      "name":"RebootDBInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RebootDBInstanceMessage"},
      "output":{
        "shape":"RebootDBInstanceResult",
        "resultWrapper":"RebootDBInstanceResult"
      },
      "errors":[
        {"shape":"InvalidDBInstanceStateFault"},
        {"shape":"DBInstanceNotFoundFault"}
      ],
      "documentation":"<p>You might need to reboot your DB instance, usually for maintenance reasons. For example, if you make certain modifications, or if you change the DB parameter group associated with the DB instance, you must reboot the instance for the changes to take effect.</p> <p>Rebooting a DB instance restarts the database engine service. Rebooting a DB instance results in a momentary outage, during which the DB instance status is set to rebooting.</p>"
    },
    "RemoveFromGlobalCluster":{
      "name":"RemoveFromGlobalCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveFromGlobalClusterMessage"},
      "output":{
        "shape":"RemoveFromGlobalClusterResult",
        "resultWrapper":"RemoveFromGlobalClusterResult"
      },
      "errors":[
        {"shape":"GlobalClusterNotFoundFault"},
        {"shape":"InvalidGlobalClusterStateFault"},
        {"shape":"DBClusterNotFoundFault"}
      ],
      "documentation":"<p>Detaches a Neptune DB cluster from a Neptune global database. A secondary cluster becomes a normal standalone cluster with read-write capability instead of being read-only, and no longer receives data from a the primary cluster.</p>"
    },
    "RemoveRoleFromDBCluster":{
      "name":"RemoveRoleFromDBCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveRoleFromDBClusterMessage"},
      "errors":[
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"DBClusterRoleNotFoundFault"},
        {"shape":"InvalidDBClusterStateFault"}
      ],
      "documentation":"<p>Disassociates an Identity and Access Management (IAM) role from a DB cluster.</p>"
    },
    "RemoveSourceIdentifierFromSubscription":{
      "name":"RemoveSourceIdentifierFromSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveSourceIdentifierFromSubscriptionMessage"},
      "output":{
        "shape":"RemoveSourceIdentifierFromSubscriptionResult",
        "resultWrapper":"RemoveSourceIdentifierFromSubscriptionResult"
      },
      "errors":[
        {"shape":"SubscriptionNotFoundFault"},
        {"shape":"SourceNotFoundFault"}
      ],
      "documentation":"<p>Removes a source identifier from an existing event notification subscription.</p>"
    },
    "RemoveTagsFromResource":{
      "name":"RemoveTagsFromResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveTagsFromResourceMessage"},
      "errors":[
        {"shape":"DBInstanceNotFoundFault"},
        {"shape":"DBSnapshotNotFoundFault"},
        {"shape":"DBClusterNotFoundFault"}
      ],
      "documentation":"<p>Removes metadata tags from an Amazon Neptune resource.</p>"
    },
    "ResetDBClusterParameterGroup":{
      "name":"ResetDBClusterParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResetDBClusterParameterGroupMessage"},
      "output":{
        "shape":"DBClusterParameterGroupNameMessage",
        "resultWrapper":"ResetDBClusterParameterGroupResult"
      },
      "errors":[
        {"shape":"InvalidDBParameterGroupStateFault"},
        {"shape":"DBParameterGroupNotFoundFault"}
      ],
      "documentation":"<p> Modifies the parameters of a DB cluster parameter group to the default value. To reset specific parameters submit a list of the following: <code>ParameterName</code> and <code>ApplyMethod</code>. To reset the entire DB cluster parameter group, specify the <code>DBClusterParameterGroupName</code> and <code>ResetAllParameters</code> parameters.</p> <p> When resetting the entire group, dynamic parameters are updated immediately and static parameters are set to <code>pending-reboot</code> to take effect on the next DB instance restart or <a>RebootDBInstance</a> request. You must call <a>RebootDBInstance</a> for every DB instance in your DB cluster that you want the updated static parameter to apply to.</p>"
    },
    "ResetDBParameterGroup":{
      "name":"ResetDBParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResetDBParameterGroupMessage"},
      "output":{
        "shape":"DBParameterGroupNameMessage",
        "resultWrapper":"ResetDBParameterGroupResult"
      },
      "errors":[
        {"shape":"InvalidDBParameterGroupStateFault"},
        {"shape":"DBParameterGroupNotFoundFault"}
      ],
      "documentation":"<p>Modifies the parameters of a DB parameter group to the engine/system default value. To reset specific parameters, provide a list of the following: <code>ParameterName</code> and <code>ApplyMethod</code>. To reset the entire DB parameter group, specify the <code>DBParameterGroup</code> name and <code>ResetAllParameters</code> parameters. When resetting the entire group, dynamic parameters are updated immediately and static parameters are set to <code>pending-reboot</code> to take effect on the next DB instance restart or <code>RebootDBInstance</code> request.</p>"
    },
    "RestoreDBClusterFromSnapshot":{
      "name":"RestoreDBClusterFromSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RestoreDBClusterFromSnapshotMessage"},
      "output":{
        "shape":"RestoreDBClusterFromSnapshotResult",
        "resultWrapper":"RestoreDBClusterFromSnapshotResult"
      },
      "errors":[
        {"shape":"DBClusterAlreadyExistsFault"},
        {"shape":"DBClusterQuotaExceededFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"DBSubnetGroupNotFoundFault"},
        {"shape":"DBSnapshotNotFoundFault"},
        {"shape":"DBClusterSnapshotNotFoundFault"},
        {"shape":"InsufficientDBClusterCapacityFault"},
        {"shape":"InsufficientStorageClusterCapacityFault"},
        {"shape":"InvalidDBSnapshotStateFault"},
        {"shape":"InvalidDBClusterSnapshotStateFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"InvalidRestoreFault"},
        {"shape":"DBSubnetGroupNotFoundFault"},
        {"shape":"InvalidSubnet"},
        {"shape":"OptionGroupNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"DBClusterParameterGroupNotFoundFault"}
      ],
      "documentation":"<p>Creates a new DB cluster from a DB snapshot or DB cluster snapshot.</p> <p>If a DB snapshot is specified, the target DB cluster is created from the source DB snapshot with a default configuration and default security group.</p> <p>If a DB cluster snapshot is specified, the target DB cluster is created from the source DB cluster restore point with the same configuration as the original source DB cluster, except that the new DB cluster is created with the default security group.</p>"
    },
    "RestoreDBClusterToPointInTime":{
      "name":"RestoreDBClusterToPointInTime",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RestoreDBClusterToPointInTimeMessage"},
      "output":{
        "shape":"RestoreDBClusterToPointInTimeResult",
        "resultWrapper":"RestoreDBClusterToPointInTimeResult"
      },
      "errors":[
        {"shape":"DBClusterAlreadyExistsFault"},
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"DBClusterQuotaExceededFault"},
        {"shape":"DBClusterSnapshotNotFoundFault"},
        {"shape":"DBSubnetGroupNotFoundFault"},
        {"shape":"InsufficientDBClusterCapacityFault"},
        {"shape":"InsufficientStorageClusterCapacityFault"},
        {"shape":"InvalidDBClusterSnapshotStateFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"InvalidDBSnapshotStateFault"},
        {"shape":"InvalidRestoreFault"},
        {"shape":"InvalidSubnet"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"OptionGroupNotFoundFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"DBClusterParameterGroupNotFoundFault"}
      ],
      "documentation":"<p>Restores a DB cluster to an arbitrary point in time. Users can restore to any point in time before <code>LatestRestorableTime</code> for up to <code>BackupRetentionPeriod</code> days. The target DB cluster is created from the source DB cluster with the same configuration as the original DB cluster, except that the new DB cluster is created with the default DB security group.</p> <note> <p>This action only restores the DB cluster, not the DB instances for that DB cluster. You must invoke the <a>CreateDBInstance</a> action to create DB instances for the restored DB cluster, specifying the identifier of the restored DB cluster in <code>DBClusterIdentifier</code>. You can create DB instances only after the <code>RestoreDBClusterToPointInTime</code> action has completed and the DB cluster is available.</p> </note>"
    },
    "StartDBCluster":{
      "name":"StartDBCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartDBClusterMessage"},
      "output":{
        "shape":"StartDBClusterResult",
        "resultWrapper":"StartDBClusterResult"
      },
      "errors":[
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"InvalidDBInstanceStateFault"}
      ],
      "documentation":"<p>Starts an Amazon Neptune DB cluster that was stopped using the Amazon console, the Amazon CLI stop-db-cluster command, or the StopDBCluster API.</p>"
    },
    "StopDBCluster":{
      "name":"StopDBCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopDBClusterMessage"},
      "output":{
        "shape":"StopDBClusterResult",
        "resultWrapper":"StopDBClusterResult"
      },
      "errors":[
        {"shape":"DBClusterNotFoundFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"InvalidDBInstanceStateFault"}
      ],
      "documentation":"<p>Stops an Amazon Neptune DB cluster. When you stop a DB cluster, Neptune retains the DB cluster's metadata, including its endpoints and DB parameter groups.</p> <p>Neptune also retains the transaction logs so you can do a point-in-time restore if necessary.</p>"
    },
    "SwitchoverGlobalCluster":{
      "name":"SwitchoverGlobalCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SwitchoverGlobalClusterMessage"},
      "output":{
        "shape":"SwitchoverGlobalClusterResult",
        "resultWrapper":"SwitchoverGlobalClusterResult"
      },
      "errors":[
        {"shape":"GlobalClusterNotFoundFault"},
        {"shape":"InvalidGlobalClusterStateFault"},
        {"shape":"InvalidDBClusterStateFault"},
        {"shape":"DBClusterNotFoundFault"}
      ],
      "documentation":"<p>Switches over the specified secondary DB cluster to be the new primary DB cluster in the global database cluster. Switchover operations were previously called \"managed planned failovers.\"</p> <p>Promotes the specified secondary cluster to assume full read/write capabilities and demotes the current primary cluster to a secondary (read-only) cluster, maintaining the original replication topology. All secondary clusters are synchronized with the primary at the beginning of the process so the new primary continues operations for the global database without losing any data. Your database is unavailable for a short time while the primary and selected secondary clusters are assuming their new roles.</p> <note> <p>This operation is intended for controlled environments, for operations such as \"regional rotation\" or to fall back to the original primary after a global database failover.</p> </note>"
    }
  },
  "shapes":{
    "AddRoleToDBClusterMessage":{
      "type":"structure",
      "required":[
        "DBClusterIdentifier",
        "RoleArn"
      ],
      "members":{
        "DBClusterIdentifier":{
          "shape":"String",
          "documentation":"<p>The name of the DB cluster to associate the IAM role with.</p>"
        },
        "RoleArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role to associate with the Neptune DB cluster, for example <code>arn:aws:iam::123456789012:role/NeptuneAccessRole</code>.</p>"
        },
        "FeatureName":{
          "shape":"String",
          "documentation":"<p>The name of the feature for the Neptune DB cluster that the IAM role is to be associated with. For the list of supported feature names, see <a>DBEngineVersion</a>.</p>"
        }
      }
    },
    "AddSourceIdentifierToSubscriptionMessage":{
      "type":"structure",
      "required":[
        "SubscriptionName",
        "SourceIdentifier"
      ],
      "members":{
        "SubscriptionName":{
          "shape":"String",
          "documentation":"<p>The name of the event notification subscription you want to add a source identifier to.</p>"
        },
        "SourceIdentifier":{
          "shape":"String",
          "documentation":"<p>The identifier of the event source to be added.</p> <p>Constraints:</p> <ul> <li> <p>If the source type is a DB instance, then a <code>DBInstanceIdentifier</code> must be supplied.</p> </li> <li> <p>If the source type is a DB security group, a <code>DBSecurityGroupName</code> must be supplied.</p> </li> <li> <p>If the source type is a DB parameter group, a <code>DBParameterGroupName</code> must be supplied.</p> </li> <li> <p>If the source type is a DB snapshot, a <code>DBSnapshotIdentifier</code> must be supplied.</p> </li> </ul>"
        }
      }
    },
    "AddSourceIdentifierToSubscriptionResult":{
      "type":"structure",
      "members":{
        "EventSubscription":{"shape":"EventSubscription"}
      }
    },
    "AddTagsToResourceMessage":{
      "type":"structure",
      "required":[
        "ResourceName",
        "Tags"
      ],
      "members":{
        "ResourceName":{
          "shape":"String",
          "documentation":"<p>The Amazon Neptune resource that the tags are added to. This value is an Amazon Resource Name (ARN). For information about creating an ARN, see <a href=\"https://docs.aws.amazon.com/neptune/latest/UserGuide/tagging.ARN.html#tagging.ARN.Constructing\"> Constructing an Amazon Resource Name (ARN)</a>.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The tags to be assigned to the Amazon Neptune resource.</p>"
        }
      }
    },
    "ApplyMethod":{
      "type":"string",
      "enum":[
        "immediate",
        "pending-reboot"
      ]
    },
    "ApplyPendingMaintenanceActionMessage":{
      "type":"structure",
      "required":[
        "ResourceIdentifier",
        "ApplyAction",
        "OptInType"
      ],
      "members":{
        "ResourceIdentifier":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource that the pending maintenance action applies to. For information about creating an ARN, see <a href=\"https://docs.aws.amazon.com/neptune/latest/UserGuide/tagging.ARN.html#tagging.ARN.Constructing\"> Constructing an Amazon Resource Name (ARN)</a>.</p>"
        },
        "ApplyAction":{
          "shape":"String",
          "documentation":"<p>The pending maintenance action to apply to this resource.</p> <p>Valid values: <code>system-update</code>, <code>db-upgrade</code> </p>"
        },
        "OptInType":{
          "shape":"String",
          "documentation":"<p>A value that specifies the type of opt-in request, or undoes an opt-in request. An opt-in request of type <code>immediate</code> can't be undone.</p> <p>Valid values:</p> <ul> <li> <p> <code>immediate</code> - Apply the maintenance action immediately.</p> </li> <li> <p> <code>next-maintenance</code> - Apply the maintenance action during the next maintenance window for the resource.</p> </li> <li> <p> <code>undo-opt-in</code> - Cancel any existing <code>next-maintenance</code> opt-in requests.</p> </li> </ul>"
        }
      }
    },
    "ApplyPendingMaintenanceActionResult":{
      "type":"structure",
      "members":{
        "ResourcePendingMaintenanceActions":{"shape":"ResourcePendingMaintenanceActions"}
      }
    },
    "AttributeValueList":{
      "type":"list",
      "member":{
        "shape":"String",
        "locationName":"AttributeValue"
      }
    },
    "AuthorizationNotFoundFault":{
      "type":"structure",
      "members":{},
      "documentation":"<p>Specified CIDRIP or EC2 security group is not authorized for the specified DB security group.</p> <p>Neptune may not also be authorized via IAM to perform necessary actions on your behalf.</p>",
      "error":{
        "code":"AuthorizationNotFound",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "AvailabilityZone":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>The name of the availability zone.</p>"
        }
      },
      "documentation":"<p>Specifies an Availability Zone.</p>",
      "wrapper":true
    },
    "AvailabilityZoneList":{
      "type":"list",
      "member":{
        "shape":"AvailabilityZone",
        "locationName":"AvailabilityZone"
      }
    },
    "AvailabilityZones":{
      "type":"list",
      "member":{
        "shape":"String",
        "locationName":"AvailabilityZone"
      }
    },
    "Boolean":{"type":"boolean"},
    "BooleanOptional":{"type":"boolean"},
    "CertificateNotFoundFault":{
      "type":"structure",
      "members":{},
      "documentation":"<p> <i>CertificateIdentifier</i> does not refer to an existing certificate.</p>",
      "error":{
        "code":"CertificateNotFound",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "CharacterSet":{
      "type":"structure",
      "members":{
        "CharacterSetName":{
          "shape":"String",
          "documentation":"<p>The name of the character set.</p>"
        },
        "CharacterSetDescription":{
          "shape":"String",
          "documentation":"<p>The description of the character set.</p>"
        }
      },
      "documentation":"<p>Specifies a character set.</p>"
    },
    "CloudwatchLogsExportConfiguration":{
      "type":"structure",
      "members":{
        "EnableLogTypes":{
          "shape":"LogTypeList",
          "documentation":"<p>The list of log types to enable.</p>"
        },
        "DisableLogTypes":{
          "shape":"LogTypeList",
          "documentation":"<p>The list of log types to disable.</p>"
        }
      },
      "documentation":"<p>The configuration setting for the log types to be enabled for export to CloudWatch Logs for a specific DB instance or DB cluster.</p> <p>The <code>EnableLogTypes</code> and <code>DisableLogTypes</code> arrays determine which logs will be exported (or not exported) to CloudWatch Logs.</p> <p>Valid log types are: <code>audit</code> (to publish audit logs) and <code>slowquery</code> (to publish slow-query logs). See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/cloudwatch-logs.html\">Publishing Neptune logs to Amazon CloudWatch logs</a>.</p>"
    },
    "ClusterPendingModifiedValues":{
      "type":"structure",
      "members":{
        "PendingCloudwatchLogsExports":{
          "shape":"PendingCloudwatchLogsExports",
          "documentation":"<p>This <code>PendingCloudwatchLogsExports</code> structure specifies pending changes to which CloudWatch logs are enabled and which are disabled.</p>"
        },
        "DBClusterIdentifier":{
          "shape":"String",
          "documentation":"<p>The DBClusterIdentifier value for the DB cluster.</p>"
        },
        "IAMDatabaseAuthenticationEnabled":{
          "shape":"BooleanOptional",
          "documentation":"<p>A value that indicates whether mapping of Amazon Web Services Identity and Access Management (IAM) accounts to database accounts is enabled.</p>"
        },
        "EngineVersion":{
          "shape":"String",
          "documentation":"<p>The database engine version.</p>"
        },
        "BackupRetentionPeriod":{
          "shape":"IntegerOptional",
          "documentation":"<p>The number of days for which automatic DB snapshots are retained.</p>"
        },
        "StorageType":{
          "shape":"String",
          "documentation":"<p>The pending change in storage type for the DB cluster.   Valid Values:</p> <ul> <li> <p> <b> <code>standard</code> </b>   –   ( <i>the default</i> ) Configures cost-effective database storage for applications with moderate to small I/O usage.</p> </li> <li> <p> <b> <code>iopt1</code> </b>   –   Enables <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/storage-types.html#provisioned-iops-storage\">I/O-Optimized storage</a> that's designed to meet the needs of I/O-intensive graph workloads that require predictable pricing with low I/O latency and consistent I/O throughput.</p> <p>Neptune I/O-Optimized storage is only available starting with engine release 1.3.0.0.</p> </li> </ul>"
        },
        "AllocatedStorage":{
          "shape":"IntegerOptional",
          "documentation":"<p>The allocated storage size in gibibytes (GiB) for database engines. For Neptune, <code>AllocatedStorage</code> always returns 1, because Neptune DB cluster storage size isn't fixed, but instead automatically adjusts as needed.</p>"
        },
        "Iops":{
          "shape":"IntegerOptional",
          "documentation":"<p>The Provisioned IOPS (I/O operations per second) value. This setting is only for Multi-AZ DB clusters.</p>"
        }
      },
      "documentation":"<p>This data type is used as a response element in the <code>ModifyDBCluster</code> operation and contains changes that will be applied during the next maintenance window.</p>"
    },
    "CopyDBClusterParameterGroupMessage":{
      "type":"structure",
      "required":[
        "SourceDBClusterParameterGroupIdentifier",
        "TargetDBClusterParameterGroupIdentifier",
        "TargetDBClusterParameterGroupDescription"
      ],
      "members":{
        "SourceDBClusterParameterGroupIdentifier":{
          "shape":"String",
          "documentation":"<p>The identifier or Amazon Resource Name (ARN) for the source DB cluster parameter group. For information about creating an ARN, see <a href=\"https://docs.aws.amazon.com/neptune/latest/UserGuide/tagging.ARN.html#tagging.ARN.Constructing\"> Constructing an Amazon Resource Name (ARN)</a>.</p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid DB cluster parameter group.</p> </li> <li> <p>If the source DB cluster parameter group is in the same Amazon Region as the copy, specify a valid DB parameter group identifier, for example <code>my-db-cluster-param-group</code>, or a valid ARN.</p> </li> <li> <p>If the source DB parameter group is in a different Amazon Region than the copy, specify a valid DB cluster parameter group ARN, for example <code>arn:aws:rds:us-east-1:123456789012:cluster-pg:custom-cluster-group1</code>.</p> </li> </ul>"
        },
        "TargetDBClusterParameterGroupIdentifier":{
          "shape":"String",
          "documentation":"<p>The identifier for the copied DB cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Cannot be null, empty, or blank</p> </li> <li> <p>Must contain from 1 to 255 letters, numbers, or hyphens</p> </li> <li> <p>First character must be a letter</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens</p> </li> </ul> <p>Example: <code>my-cluster-param-group1</code> </p>"
        },
        "TargetDBClusterParameterGroupDescription":{
          "shape":"String",
          "documentation":"<p>A description for the copied DB cluster parameter group.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The tags to be assigned to the copied DB cluster parameter group.</p>"
        }
      }
    },
    "CopyDBClusterParameterGroupResult":{
      "type":"structure",
      "members":{
        "DBClusterParameterGroup":{"shape":"DBClusterParameterGroup"}
      }
    },
    "CopyDBClusterSnapshotMessage":{
      "type":"structure",
      "required":[
        "SourceDBClusterSnapshotIdentifier",
        "TargetDBClusterSnapshotIdentifier"
      ],
      "members":{
        "SourceDBClusterSnapshotIdentifier":{
          "shape":"String",
          "documentation":"<p>The identifier of the DB cluster snapshot to copy. This parameter is not case-sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid system snapshot in the \"available\" state.</p> </li> <li> <p>Specify a valid DB snapshot identifier.</p> </li> </ul> <p>Example: <code>my-cluster-snapshot1</code> </p>"
        },
        "TargetDBClusterSnapshotIdentifier":{
          "shape":"String",
          "documentation":"<p>The identifier of the new DB cluster snapshot to create from the source DB cluster snapshot. This parameter is not case-sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster-snapshot2</code> </p>"
        },
        "KmsKeyId":{
          "shape":"String",
          "documentation":"<p>The Amazon Amazon KMS key ID for an encrypted DB cluster snapshot. The KMS key ID is the Amazon Resource Name (ARN), KMS key identifier, or the KMS key alias for the KMS encryption key.</p> <p>If you copy an encrypted DB cluster snapshot from your Amazon account, you can specify a value for <code>KmsKeyId</code> to encrypt the copy with a new KMS encryption key. If you don't specify a value for <code>KmsKeyId</code>, then the copy of the DB cluster snapshot is encrypted with the same KMS key as the source DB cluster snapshot.</p> <p>If you copy an encrypted DB cluster snapshot that is shared from another Amazon account, then you must specify a value for <code>KmsKeyId</code>.</p> <p> KMS encryption keys are specific to the Amazon Region that they are created in, and you can't use encryption keys from one Amazon Region in another Amazon Region.</p> <p>You cannot encrypt an unencrypted DB cluster snapshot when you copy it. If you try to copy an unencrypted DB cluster snapshot and specify a value for the KmsKeyId parameter, an error is returned.</p>"
        },
        "PreSignedUrl":{
          "shape":"String",
          "documentation":"<p>Not currently supported.</p>"
        },
        "CopyTags":{
          "shape":"BooleanOptional",
          "documentation":"<p>True to copy all tags from the source DB cluster snapshot to the target DB cluster snapshot, and otherwise false. The default is false.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The tags to assign to the new DB cluster snapshot copy.</p>"
        }
      }
    },
    "CopyDBClusterSnapshotResult":{
      "type":"structure",
      "members":{
        "DBClusterSnapshot":{"shape":"DBClusterSnapshot"}
      }
    },
    "CopyDBParameterGroupMessage":{
      "type":"structure",
      "required":[
        "SourceDBParameterGroupIdentifier",
        "TargetDBParameterGroupIdentifier",
        "TargetDBParameterGroupDescription"
      ],
      "members":{
        "SourceDBParameterGroupIdentifier":{
          "shape":"String",
          "documentation":"<p>The identifier or ARN for the source DB parameter group. For information about creating an ARN, see <a href=\"https://docs.aws.amazon.com/neptune/latest/UserGuide/tagging.ARN.html#tagging.ARN.Constructing\"> Constructing an Amazon Resource Name (ARN)</a>.</p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid DB parameter group.</p> </li> <li> <p>Must specify a valid DB parameter group identifier, for example <code>my-db-param-group</code>, or a valid ARN.</p> </li> </ul>"
        },
        "TargetDBParameterGroupIdentifier":{
          "shape":"String",
          "documentation":"<p>The identifier for the copied DB parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Cannot be null, empty, or blank.</p> </li> <li> <p>Must contain from 1 to 255 letters, numbers, or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-db-parameter-group</code> </p>"
        },
        "TargetDBParameterGroupDescription":{
          "shape":"String",
          "documentation":"<p>A description for the copied DB parameter group.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The tags to be assigned to the copied DB parameter group.</p>"
        }
      }
    },
    "CopyDBParameterGroupResult":{
      "type":"structure",
      "members":{
        "DBParameterGroup":{"shape":"DBParameterGroup"}
      }
    },
    "CreateDBClusterEndpointMessage":{
      "type":"structure",
      "required":[
        "DBClusterIdentifier",
        "DBClusterEndpointIdentifier",
        "EndpointType"
      ],
      "members":{
        "DBClusterIdentifier":{
          "shape":"String",
          "documentation":"<p>The DB cluster identifier of the DB cluster associated with the endpoint. This parameter is stored as a lowercase string.</p>"
        },
        "DBClusterEndpointIdentifier":{
          "shape":"String",
          "documentation":"<p>The identifier to use for the new endpoint. This parameter is stored as a lowercase string.</p>"
        },
        "EndpointType":{
          "shape":"String",
          "documentation":"<p>The type of the endpoint. One of: <code>READER</code>, <code>WRITER</code>, <code>ANY</code>.</p>"
        },
        "StaticMembers":{
          "shape":"StringList",
          "documentation":"<p>List of DB instance identifiers that are part of the custom endpoint group.</p>"
        },
        "ExcludedMembers":{
          "shape":"StringList",
          "documentation":"<p>List of DB instance identifiers that aren't part of the custom endpoint group. All other eligible instances are reachable through the custom endpoint. Only relevant if the list of static members is empty.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The tags to be assigned to the Amazon Neptune resource.</p>"
        }
      }
    },
    "CreateDBClusterEndpointOutput":{
      "type":"structure",
      "members":{
        "DBClusterEndpointIdentifier":{
          "shape":"String",
          "documentation":"<p>The identifier associated with the endpoint. This parameter is stored as a lowercase string.</p>"
        },
        "DBClusterIdentifier":{
          "shape":"String",
          "documentation":"<p>The DB cluster identifier of the DB cluster associated with the endpoint. This parameter is stored as a lowercase string.</p>"
        },
        "DBClusterEndpointResourceIdentifier":{
          "shape":"String",
          "documentation":"<p>A unique system-generated identifier for an endpoint. It remains the same for the whole life of the endpoint.</p>"
        },
        "Endpoint":{
          "shape":"String",
          "documentation":"<p>The DNS address of the endpoint.</p>"
        },
        "Status":{
          "shape":"String",
          "documentation":"<p>The current status of the endpoint. One of: <code>creating</code>, <code>available</code>, <code>deleting</code>, <code>inactive</code>, <code>modifying</code>. The <code>inactive</code> state applies to an endpoint that cannot be used for a certain kind of cluster, such as a <code>writer</code> endpoint for a read-only secondary cluster in a global database.</p>"
        },
        "EndpointType":{
          "shape":"String",
          "documentation":"<p>The type of the endpoint. One of: <code>READER</code>, <code>WRITER</code>, <code>CUSTOM</code>.</p>"
        },
        "CustomEndpointType":{
          "shape":"String",
          "documentation":"<p>The type associated with a custom endpoint. One of: <code>READER</code>, <code>WRITER</code>, <code>ANY</code>.</p>"
        },
        "StaticMembers":{
          "shape":"StringList",
          "documentation":"<p>List of DB instance identifiers that are part of the custom endpoint group.</p>"
        },
        "ExcludedMembers":{
          "shape":"StringList",
          "documentation":"<p>List of DB instance identifiers that aren't part of the custom endpoint group. All other eligible instances are reachable through the custom endpoint. Only relevant if the list of static members is empty.</p>"
        },
        "DBClusterEndpointArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) for the endpoint.</p>"
        }
      },
      "documentation":"<p>This data type represents the information you need to connect to an Amazon Neptune DB cluster. This data type is used as a response element in the following actions:</p> <ul> <li> <p> <code>CreateDBClusterEndpoint</code> </p> </li> <li> <p> <code>DescribeDBClusterEndpoints</code> </p> </li> <li> <p> <code>ModifyDBClusterEndpoint</code> </p> </li> <li> <p> <code>DeleteDBClusterEndpoint</code> </p> </li> </ul> <p>For the data structure that represents Amazon Neptune DB instance endpoints, see <code>Endpoint</code>.</p>"
    },
    "CreateDBClusterMessage":{
      "type":"structure",
      "required":[
        "DBClusterIdentifier",
        "Engine"
      ],
      "members":{
        "AvailabilityZones":{
          "shape":"AvailabilityZones",
          "documentation":"<p>A list of EC2 Availability Zones that instances in the DB cluster can be created in.</p>"
        },
        "BackupRetentionPeriod":{
          "shape":"IntegerOptional",
          "documentation":"<p>The number of days for which automated backups are retained. You must specify a minimum value of 1.</p> <p>Default: 1</p> <p>Constraints:</p> <ul> <li> <p>Must be a value from 1 to 35</p> </li> </ul>"
        },
        "CharacterSetName":{
          "shape":"String",
          "documentation":"<p> <i>(Not supported by Neptune)</i> </p>"
        },
        "CopyTagsToSnapshot":{
          "shape":"BooleanOptional",
          "documentation":"<p> <i>If set to <code>true</code>, tags are copied to any snapshot of the DB cluster that is created.</i> </p>"
        },
        "DatabaseName":{
          "shape":"String",
          "documentation":"<p>The name for your database of up to 64 alpha-numeric characters. If you do not provide a name, Amazon Neptune will not create a database in the DB cluster you are creating.</p>"
        },
        "DBClusterIdentifier":{
          "shape":"String",
          "documentation":"<p>The DB cluster identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster1</code> </p>"
        },
        "DBClusterParameterGroupName":{
          "shape":"String",
          "documentation":"<p> The name of the DB cluster parameter group to associate with this DB cluster. If this argument is omitted, the default is used.</p> <p>Constraints:</p> <ul> <li> <p>If supplied, must match the name of an existing DBClusterParameterGroup.</p> </li> </ul>"
        },
        "VpcSecurityGroupIds":{
          "shape":"VpcSecurityGroupIdList",
          "documentation":"<p>A list of EC2 VPC security groups to associate with this DB cluster.</p>"
        },
        "DBSubnetGroupName":{
          "shape":"String",
          "documentation":"<p>A DB subnet group to associate with this DB cluster.</p> <p>Constraints: Must match the name of an existing DBSubnetGroup. Must not be default.</p> <p>Example: <code>mySubnetgroup</code> </p>"
        },
        "Engine":{
          "shape":"String",
          "documentation":"<p>The name of the database engine to be used for this DB cluster.</p> <p>Valid Values: <code>neptune</code> </p>"
        },
        "EngineVersion":{
          "shape":"String",
          "documentation":"<p>The version number of the database engine to use for the new DB cluster.</p> <p>Example: <code>1.2.1.0</code> </p>"
        },
        "Port":{
          "shape":"IntegerOptional",
          "documentation":"<p>The port number on which the instances in the DB cluster accept connections.</p> <p> Default: <code>8182</code> </p>"
        },
        "MasterUsername":{
          "shape":"String",
          "documentation":"<p>Not supported by Neptune.</p>"
        },
        "MasterUserPassword":{
          "shape":"String",
          "documentation":"<p>Not supported by Neptune.</p>"
        },
        "OptionGroupName":{
          "shape":"String",
          "documentation":"<p> <i>(Not supported by Neptune)</i> </p>"
        },
        "PreferredBackupWindow":{
          "shape":"String",
          "documentation":"<p>The daily time range during which automated backups are created if automated backups are enabled using the <code>BackupRetentionPeriod</code> parameter.</p> <p>The default is a 30-minute window selected at random from an 8-hour block of time for each Amazon Region. To see the time blocks available, see <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/manage-console-maintaining.html#manage-console-maintaining-window\">Neptune Maintenance Window</a> in the <i>Amazon Neptune User Guide.</i> </p> <p>Constraints:</p> <ul> <li> <p>Must be in the format <code>hh24:mi-hh24:mi</code>.</p> </li> <li> <p>Must be in Universal Coordinated Time (UTC).</p> </li> <li> <p>Must not conflict with the preferred maintenance window.</p> </li> <li> <p>Must be at least 30 minutes.</p> </li> </ul>"
        },
        "PreferredMaintenanceWindow":{
          "shape":"String",
          "documentation":"<p>The weekly time range during which system maintenance can occur, in Universal Coordinated Time (UTC).</p> <p>Format: <code>ddd:hh24:mi-ddd:hh24:mi</code> </p> <p>The default is a 30-minute window selected at random from an 8-hour block of time for each Amazon Region, occurring on a random day of the week. To see the time blocks available, see <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/manage-console-maintaining.html#manage-console-maintaining-window\">Neptune Maintenance Window</a> in the <i>Amazon Neptune User Guide.</i> </p> <p>Valid Days: Mon, Tue, Wed, Thu, Fri, Sat, Sun.</p> <p>Constraints: Minimum 30-minute window.</p>"
        },
        "ReplicationSourceIdentifier":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the source DB instance or DB cluster if this DB cluster is created as a Read Replica.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The tags to assign to the new DB cluster.</p>"
        },
        "StorageEncrypted":{
          "shape":"BooleanOptional",
          "documentation":"<p>Specifies whether the DB cluster is encrypted.</p>"
        },
        "KmsKeyId":{
          "shape":"String",
          "documentation":"<p>The Amazon KMS key identifier for an encrypted DB cluster.</p> <p>The KMS key identifier is the Amazon Resource Name (ARN) for the KMS encryption key. If you are creating a DB cluster with the same Amazon account that owns the KMS encryption key used to encrypt the new DB cluster, then you can use the KMS key alias instead of the ARN for the KMS encryption key.</p> <p>If an encryption key is not specified in <code>KmsKeyId</code>:</p> <ul> <li> <p>If <code>ReplicationSourceIdentifier</code> identifies an encrypted source, then Amazon Neptune will use the encryption key used to encrypt the source. Otherwise, Amazon Neptune will use your default encryption key.</p> </li> <li> <p>If the <code>StorageEncrypted</code> parameter is true and <code>ReplicationSourceIdentifier</code> is not specified, then Amazon Neptune will use your default encryption key.</p> </li> </ul> <p>Amazon KMS creates the default encryption key for your Amazon account. Your Amazon account has a different default encryption key for each Amazon Region.</p> <p>If you create a Read Replica of an encrypted DB cluster in another Amazon Region, you must set <code>KmsKeyId</code> to a KMS key ID that is valid in the destination Amazon Region. This key is used to encrypt the Read Replica in that Amazon Region.</p>"
        },
        "PreSignedUrl":{
          "shape":"String",
          "documentation":"<p>This parameter is not currently supported.</p>"
        },
        "EnableIAMDatabaseAuthentication":{
          "shape":"BooleanOptional",
          "documentation":"<p>If set to <code>true</code>, enables Amazon Identity and Access Management (IAM) authentication for the entire DB cluster (this cannot be set at an instance level).</p> <p>Default: <code>false</code>.</p>"
        },
        "EnableCloudwatchLogsExports":{
          "shape":"LogTypeList",
          "documentation":"<p>A list of the log types that this DB cluster should export to CloudWatch Logs. Valid log types are: <code>audit</code> (to publish audit logs) and <code>slowquery</code> (to publish slow-query logs). See <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/cloudwatch-logs.html\">Publishing Neptune logs to Amazon CloudWatch logs</a>.</p>"
        },
        "DeletionProtection":{
          "shape":"BooleanOptional",
          "documentation":"<p>A value that indicates whether the DB cluster has deletion protection enabled. The database can't be deleted when deletion protection is enabled. By default, deletion protection is enabled.</p>"
        },
        "ServerlessV2ScalingConfiguration":{
          "shape":"ServerlessV2ScalingConfiguration",
          "documentation":"<p>Contains the scaling configuration of a Neptune Serverless DB cluster.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/neptune-serverless-using.html\">Using Amazon Neptune Serverless</a> in the <i>Amazon Neptune User Guide</i>.</p>"
        },
        "GlobalClusterIdentifier":{
          "shape":"GlobalClusterIdentifier",
          "documentation":"<p>The ID of the Neptune global database to which this new DB cluster should be added.</p>"
        },
        "StorageType":{
          "shape":"String",
          "documentation":"<p>The storage type for the new DB cluster.</p> <p>Valid Values:</p> <ul> <li> <p> <b> <code>standard</code> </b>   –   ( <i>the default</i> ) Configures cost-effective database storage for applications with moderate to small I/O usage. When set to <code>standard</code>, the storage type is not returned in the response.</p> </li> <li> <p> <b> <code>iopt1</code> </b>   –   Enables <a href=\"https://docs.aws.amazon.com/neptune/latest/userguide/storage-types.html#provisioned-iops-storage\">I/O-Optimized storage</a> that's designed to meet the needs of I/O-intensive graph workloads that require predictable pricing with low I/O latency and consistent I/O throughput.</p> <p>Neptune I/O-Optimized storage is only available starting with engine release 1.3.0.0.</p> </li> </ul>"
        }
      }
    },
    "CreateDBClusterParameterGroupMessage":{
      "type":"structure",
      "required":[
        "DBClusterParameterGroupName",
        "DBParameterGroupFamily",
        "Description"
      ],
      "members":{
        "DBClusterParameterGroupName":{
          "shape":"String",
          "documentation":"<p>The name of the DB cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Must match the name of an existing DBClusterParameterGroup.</p> </li> </ul> <note> <p>This value is stored as a lowercase string.</p> </note>"
        },
        "DBParameterGroupFamily":{
          "shape":"String",
          "documentation":"<p>The DB cluster parameter group family name. A DB cluster parameter group can be associated with one and only one DB cluster parameter group family, and can be applied only to a DB cluster running a database engine and engine version compatible with that DB cluster parameter group family.</p>"
        },
        "Description":{
          "shape":"String",
          "documentation":"<p>The description for the DB cluster parameter group.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The tags to be assigned to the new DB cluster parameter group.</p>"
        }
      }
    },
    "CreateDBClusterParameterGroupResult":{
      "type":"structure",
      "members":{
        "DBClusterParameterGroup":{"shape":"DBClusterParameterGroup"}
      }
    },
    "CreateDBClusterResult":{
      "type":"structure",
      "members":{
        "DBCluster":{"shape":"DBCluster"}
      }
    },
    "CreateDBClusterSnapshotMessage":{
      "type":"structure",
      "required":[
        "DBClusterSnapshotIdentifier",
        "DBClusterIdentifier"
      ],
      "members":{
        "DBClusterSnapshotIdentifier":{
          "shape":"String",
          "documentation":"<p>The identifier of the DB cluster snapshot. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster1-snapshot1</code> </p>"
        },
        "DBClusterIdentifier":{
          "shape":"String",
          "documentation":"<p>The identifier of the DB cluster to create a snapshot for. This parameter is not case-sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must match the identifier of an existing DBCluster.</p> </li> </ul> <p>Example: <code>my-cluster1</code> </p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The tags to be assigned to the DB cluster snapshot.</p>"
        }
      }
    },
    "CreateDBClusterSnapshotResult":{
      "type":"structure",
      "members":{
        "DBClusterSnapshot":{"shape":"DBClusterSnapshot"}
      }
    },
    "CreateDBInstanceMessage":{
      "type":"structure",
      "required":[
        "DBInstanceIdentifier",
        "DBInstanceClass",
        "Engine",
        "DBClusterIdentifier"
      ],
      "members":{
        "DBName":{
          "shape":"String",
          "documentation":"<p>Not supported.</p>"
        },
        "DBInstanceIdentifier":{
          "shape":"String",
          "documentation":"<p>The DB instance identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>mydbinstance</code> </p>"
        },
        "AllocatedStorage":{
          "shape":"IntegerOptional",
          "documentation":"<p>Not supported by Neptune.</p>"
        },
        "DBInstanceClass":{
          "shape":"String",
          "documentation":"<p>The compute and memory capacity of the DB instance, for example, <code>db.m4.large</code>. Not all DB instance classes are available in all Amazon Regions.</p>"
        },
        "Engine":{
          "shape":"String",
          "documentation":"<p>The name of the database engine to be used for this instance.</p> <p>Valid Values: <code>neptune</code> </p>"
        },
        "MasterUsername":{
          "shape":"String",
          "documentation":"<p>Not supported by Neptune.</p>"
        },
        "MasterUserPassword":{
          "shape":"String",
          "documentation":"<p>Not supported by Neptune.</p>"
        },
        "DBSecurityGroups":{
          "shape":"DBSecurityGroupNameList",
          "documentation":"<p>A list of DB security groups to associate with this DB instance.</p> <p>Default: The default DB security group for the database engine.</p>"
        },
        "VpcSecurityGroupIds":{
          "shape":"VpcSecurityGroupIdList",
[...]
