{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2023-10-12",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"deadline",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"AWSDeadlineCloud",
    "serviceId":"deadline",
    "signatureVersion":"v4",
    "signingName":"deadline",
    "uid":"deadline-2023-10-12"
  },
  "operations":{
    "AssociateMemberToFarm":{
      "name":"AssociateMemberToFarm",
      "http":{
        "method":"PUT",
        "requestUri":"/2023-10-12/farms/{farmId}/members/{principalId}",
        "responseCode":200
      },
      "input":{"shape":"AssociateMemberToFarmRequest"},
      "output":{"shape":"AssociateMemberToFarmResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Assigns a farm membership level to a member.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "AssociateMemberToFleet":{
      "name":"AssociateMemberToFleet",
      "http":{
        "method":"PUT",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}/members/{principalId}",
        "responseCode":200
      },
      "input":{"shape":"AssociateMemberToFleetRequest"},
      "output":{"shape":"AssociateMemberToFleetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Assigns a fleet membership level to a member.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "AssociateMemberToJob":{
      "name":"AssociateMemberToJob",
      "http":{
        "method":"PUT",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/members/{principalId}",
        "responseCode":200
      },
      "input":{"shape":"AssociateMemberToJobRequest"},
      "output":{"shape":"AssociateMemberToJobResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Assigns a job membership level to a member</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "AssociateMemberToQueue":{
      "name":"AssociateMemberToQueue",
      "http":{
        "method":"PUT",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/members/{principalId}",
        "responseCode":200
      },
      "input":{"shape":"AssociateMemberToQueueRequest"},
      "output":{"shape":"AssociateMemberToQueueResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Assigns a queue membership level to a member</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "AssumeFleetRoleForRead":{
      "name":"AssumeFleetRoleForRead",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}/read-roles",
        "responseCode":200
      },
      "input":{"shape":"AssumeFleetRoleForReadRequest"},
      "output":{"shape":"AssumeFleetRoleForReadResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Get Amazon Web Services credentials from the fleet role. The IAM permissions of the credentials are scoped down to have read-only access.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "AssumeFleetRoleForWorker":{
      "name":"AssumeFleetRoleForWorker",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}/fleet-roles",
        "responseCode":200
      },
      "input":{"shape":"AssumeFleetRoleForWorkerRequest"},
      "output":{"shape":"AssumeFleetRoleForWorkerResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Get credentials from the fleet role for a worker.</p>",
      "endpoint":{"hostPrefix":"scheduling."}
    },
    "AssumeQueueRoleForRead":{
      "name":"AssumeQueueRoleForRead",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/read-roles",
        "responseCode":200
      },
      "input":{"shape":"AssumeQueueRoleForReadRequest"},
      "output":{"shape":"AssumeQueueRoleForReadResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets Amazon Web Services credentials from the queue role. The IAM permissions of the credentials are scoped down to have read-only access.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "AssumeQueueRoleForUser":{
      "name":"AssumeQueueRoleForUser",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/user-roles",
        "responseCode":200
      },
      "input":{"shape":"AssumeQueueRoleForUserRequest"},
      "output":{"shape":"AssumeQueueRoleForUserResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Allows a user to assume a role for a queue.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "AssumeQueueRoleForWorker":{
      "name":"AssumeQueueRoleForWorker",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}/queue-roles",
        "responseCode":200
      },
      "input":{"shape":"AssumeQueueRoleForWorkerRequest"},
      "output":{"shape":"AssumeQueueRoleForWorkerResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Allows a worker to assume a queue role.</p>",
      "endpoint":{"hostPrefix":"scheduling."}
    },
    "BatchGetJobEntity":{
      "name":"BatchGetJobEntity",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}/batchGetJobEntity",
        "responseCode":200
      },
      "input":{"shape":"BatchGetJobEntityRequest"},
      "output":{"shape":"BatchGetJobEntityResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Get batched job details for a worker.</p>",
      "endpoint":{"hostPrefix":"scheduling."}
    },
    "CopyJobTemplate":{
      "name":"CopyJobTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/template",
        "responseCode":200
      },
      "input":{"shape":"CopyJobTemplateRequest"},
      "output":{"shape":"CopyJobTemplateResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Copies a job template to an Amazon S3 bucket.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "CreateBudget":{
      "name":"CreateBudget",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/farms/{farmId}/budgets",
        "responseCode":200
      },
      "input":{"shape":"CreateBudgetRequest"},
      "output":{"shape":"CreateBudgetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a budget to set spending thresholds for your rendering activity.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "CreateFarm":{
      "name":"CreateFarm",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/farms",
        "responseCode":200
      },
      "input":{"shape":"CreateFarmRequest"},
      "output":{"shape":"CreateFarmResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a farm to allow space for queues and fleets. Farms are the space where the components of your renders gather and are pieced together in the cloud. Farms contain budgets and allow you to enforce permissions. Deadline Cloud farms are a useful container for large projects.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "CreateFleet":{
      "name":"CreateFleet",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets",
        "responseCode":200
      },
      "input":{"shape":"CreateFleetRequest"},
      "output":{"shape":"CreateFleetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a fleet. Fleets gather information relating to compute, or capacity, for renders within your farms. You can choose to manage your own capacity or opt to have fleets fully managed by Deadline Cloud.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "CreateJob":{
      "name":"CreateJob",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs",
        "responseCode":201
      },
      "input":{"shape":"CreateJobRequest"},
      "output":{"shape":"CreateJobResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a job. A job is a set of instructions that Deadline Cloud uses to schedule and run work on available workers. For more information, see <a href=\"https://docs.aws.amazon.com/deadline-cloud/latest/userguide/deadline-cloud-jobs.html\">Deadline Cloud jobs</a>.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "CreateLicenseEndpoint":{
      "name":"CreateLicenseEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/license-endpoints",
        "responseCode":200
      },
      "input":{"shape":"CreateLicenseEndpointRequest"},
      "output":{"shape":"CreateLicenseEndpointResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a license endpoint to integrate your various licensed software used for rendering on Deadline Cloud.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "CreateLimit":{
      "name":"CreateLimit",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/farms/{farmId}/limits",
        "responseCode":200
      },
      "input":{"shape":"CreateLimitRequest"},
      "output":{"shape":"CreateLimitResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a limit that manages the distribution of shared resources, such as floating licenses. A limit can throttle work assignments, help manage workloads, and track current usage. Before you use a limit, you must associate the limit with one or more queues. </p> <p>You must add the <code>amountRequirementName</code> to a step in a job template to declare the limit requirement.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "CreateMonitor":{
      "name":"CreateMonitor",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/monitors",
        "responseCode":200
      },
      "input":{"shape":"CreateMonitorRequest"},
      "output":{"shape":"CreateMonitorResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates an Amazon Web Services Deadline Cloud monitor that you can use to view your farms, queues, and fleets. After you submit a job, you can track the progress of the tasks and steps that make up the job, and then download the job's results. </p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "CreateQueue":{
      "name":"CreateQueue",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/farms/{farmId}/queues",
        "responseCode":200
      },
      "input":{"shape":"CreateQueueRequest"},
      "output":{"shape":"CreateQueueResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a queue to coordinate the order in which jobs run on a farm. A queue can also specify where to pull resources and indicate where to output completed jobs.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "CreateQueueEnvironment":{
      "name":"CreateQueueEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/environments",
        "responseCode":200
      },
      "input":{"shape":"CreateQueueEnvironmentRequest"},
      "output":{"shape":"CreateQueueEnvironmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates an environment for a queue that defines how jobs in the queue run.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "CreateQueueFleetAssociation":{
      "name":"CreateQueueFleetAssociation",
      "http":{
        "method":"PUT",
        "requestUri":"/2023-10-12/farms/{farmId}/queue-fleet-associations",
        "responseCode":200
      },
      "input":{"shape":"CreateQueueFleetAssociationRequest"},
      "output":{"shape":"CreateQueueFleetAssociationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Creates an association between a queue and a fleet.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "CreateQueueLimitAssociation":{
      "name":"CreateQueueLimitAssociation",
      "http":{
        "method":"PUT",
        "requestUri":"/2023-10-12/farms/{farmId}/queue-limit-associations",
        "responseCode":200
      },
      "input":{"shape":"CreateQueueLimitAssociationRequest"},
      "output":{"shape":"CreateQueueLimitAssociationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Associates a limit with a particular queue. After the limit is associated, all workers for jobs that specify the limit associated with the queue are subject to the limit. You can't associate two limits with the same <code>amountRequirementName</code> to the same queue.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "CreateStorageProfile":{
      "name":"CreateStorageProfile",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/farms/{farmId}/storage-profiles",
        "responseCode":200
      },
      "input":{"shape":"CreateStorageProfileRequest"},
      "output":{"shape":"CreateStorageProfileResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a storage profile that specifies the operating system, file type, and file location of resources used on a farm.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "CreateWorker":{
      "name":"CreateWorker",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers",
        "responseCode":200
      },
      "input":{"shape":"CreateWorkerRequest"},
      "output":{"shape":"CreateWorkerResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Creates a worker. A worker tells your instance how much processing power (vCPU), and memory (GiB) you’ll need to assemble the digital assets held within a particular instance. You can specify certain instance types to use, or let the worker know which instances types to exclude.</p> <p>Deadline Cloud limits the number of workers to less than or equal to the fleet's maximum worker count. The service maintains eventual consistency for the worker count. If you make multiple rapid calls to <code>CreateWorker</code> before the field updates, you might exceed your fleet's maximum worker count. For example, if your <code>maxWorkerCount</code> is 10 and you currently have 9 workers, making two quick <code>CreateWorker</code> calls might successfully create 2 workers instead of 1, resulting in 11 total workers.</p>",
      "endpoint":{"hostPrefix":"scheduling."},
      "idempotent":true
    },
    "DeleteBudget":{
      "name":"DeleteBudget",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/farms/{farmId}/budgets/{budgetId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteBudgetRequest"},
      "output":{"shape":"DeleteBudgetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes a budget.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "DeleteFarm":{
      "name":"DeleteFarm",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/farms/{farmId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteFarmRequest"},
      "output":{"shape":"DeleteFarmResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes a farm.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "DeleteFleet":{
      "name":"DeleteFleet",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteFleetRequest"},
      "output":{"shape":"DeleteFleetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes a fleet.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "DeleteLicenseEndpoint":{
      "name":"DeleteLicenseEndpoint",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/license-endpoints/{licenseEndpointId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteLicenseEndpointRequest"},
      "output":{"shape":"DeleteLicenseEndpointResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes a license endpoint.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "DeleteLimit":{
      "name":"DeleteLimit",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/farms/{farmId}/limits/{limitId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteLimitRequest"},
      "output":{"shape":"DeleteLimitResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Removes a limit from the specified farm. Before you delete a limit you must use the <code>DeleteQueueLimitAssociation</code> operation to remove the association with any queues. </p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "DeleteMeteredProduct":{
      "name":"DeleteMeteredProduct",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/license-endpoints/{licenseEndpointId}/metered-products/{productId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteMeteredProductRequest"},
      "output":{"shape":"DeleteMeteredProductResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes a metered product.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "DeleteMonitor":{
      "name":"DeleteMonitor",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/monitors/{monitorId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteMonitorRequest"},
      "output":{"shape":"DeleteMonitorResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Removes a Deadline Cloud monitor. After you delete a monitor, you can create a new one and attach farms to the monitor.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "DeleteQueue":{
      "name":"DeleteQueue",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteQueueRequest"},
      "output":{"shape":"DeleteQueueResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes a queue.</p> <important> <p>You can't recover the jobs in a queue if you delete the queue. Deleting the queue also deletes the jobs in that queue.</p> </important>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "DeleteQueueEnvironment":{
      "name":"DeleteQueueEnvironment",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/environments/{queueEnvironmentId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteQueueEnvironmentRequest"},
      "output":{"shape":"DeleteQueueEnvironmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes a queue environment.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "DeleteQueueFleetAssociation":{
      "name":"DeleteQueueFleetAssociation",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/farms/{farmId}/queue-fleet-associations/{queueId}/{fleetId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteQueueFleetAssociationRequest"},
      "output":{"shape":"DeleteQueueFleetAssociationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes a queue-fleet association.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "DeleteQueueLimitAssociation":{
      "name":"DeleteQueueLimitAssociation",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/farms/{farmId}/queue-limit-associations/{queueId}/{limitId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteQueueLimitAssociationRequest"},
      "output":{"shape":"DeleteQueueLimitAssociationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Removes the association between a queue and a limit. You must use the <code>UpdateQueueLimitAssociation</code> operation to set the status to <code>STOP_LIMIT_USAGE_AND_COMPLETE_TASKS</code> or <code>STOP_LIMIT_USAGE_AND_CANCEL_TASKS</code>. The status does not change immediately. Use the <code>GetQueueLimitAssociation</code> operation to see if the status changed to <code>STOPPED</code> before deleting the association.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "DeleteStorageProfile":{
      "name":"DeleteStorageProfile",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/farms/{farmId}/storage-profiles/{storageProfileId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteStorageProfileRequest"},
      "output":{"shape":"DeleteStorageProfileResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes a storage profile.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "DeleteWorker":{
      "name":"DeleteWorker",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteWorkerRequest"},
      "output":{"shape":"DeleteWorkerResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes a worker.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "DisassociateMemberFromFarm":{
      "name":"DisassociateMemberFromFarm",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/farms/{farmId}/members/{principalId}",
        "responseCode":200
      },
      "input":{"shape":"DisassociateMemberFromFarmRequest"},
      "output":{"shape":"DisassociateMemberFromFarmResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Disassociates a member from a farm.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "DisassociateMemberFromFleet":{
      "name":"DisassociateMemberFromFleet",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}/members/{principalId}",
        "responseCode":200
      },
      "input":{"shape":"DisassociateMemberFromFleetRequest"},
      "output":{"shape":"DisassociateMemberFromFleetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Disassociates a member from a fleet.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "DisassociateMemberFromJob":{
      "name":"DisassociateMemberFromJob",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/members/{principalId}",
        "responseCode":200
      },
      "input":{"shape":"DisassociateMemberFromJobRequest"},
      "output":{"shape":"DisassociateMemberFromJobResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Disassociates a member from a job.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "DisassociateMemberFromQueue":{
      "name":"DisassociateMemberFromQueue",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/members/{principalId}",
        "responseCode":200
      },
      "input":{"shape":"DisassociateMemberFromQueueRequest"},
      "output":{"shape":"DisassociateMemberFromQueueResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Disassociates a member from a queue.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "GetBudget":{
      "name":"GetBudget",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/budgets/{budgetId}",
        "responseCode":200
      },
      "input":{"shape":"GetBudgetRequest"},
      "output":{"shape":"GetBudgetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Get a budget.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetFarm":{
      "name":"GetFarm",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}",
        "responseCode":200
      },
      "input":{"shape":"GetFarmRequest"},
      "output":{"shape":"GetFarmResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Get a farm.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetFleet":{
      "name":"GetFleet",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}",
        "responseCode":200
      },
      "input":{"shape":"GetFleetRequest"},
      "output":{"shape":"GetFleetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Get a fleet.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetJob":{
      "name":"GetJob",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}",
        "responseCode":200
      },
      "input":{"shape":"GetJobRequest"},
      "output":{"shape":"GetJobResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a Deadline Cloud job.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetLicenseEndpoint":{
      "name":"GetLicenseEndpoint",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/license-endpoints/{licenseEndpointId}",
        "responseCode":200
      },
      "input":{"shape":"GetLicenseEndpointRequest"},
      "output":{"shape":"GetLicenseEndpointResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a licence endpoint.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetLimit":{
      "name":"GetLimit",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/limits/{limitId}",
        "responseCode":200
      },
      "input":{"shape":"GetLimitRequest"},
      "output":{"shape":"GetLimitResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets information about a specific limit.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetMonitor":{
      "name":"GetMonitor",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/monitors/{monitorId}",
        "responseCode":200
      },
      "input":{"shape":"GetMonitorRequest"},
      "output":{"shape":"GetMonitorResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets information about the specified monitor.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetQueue":{
      "name":"GetQueue",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}",
        "responseCode":200
      },
      "input":{"shape":"GetQueueRequest"},
      "output":{"shape":"GetQueueResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a queue.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetQueueEnvironment":{
      "name":"GetQueueEnvironment",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/environments/{queueEnvironmentId}",
        "responseCode":200
      },
      "input":{"shape":"GetQueueEnvironmentRequest"},
      "output":{"shape":"GetQueueEnvironmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a queue environment.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetQueueFleetAssociation":{
      "name":"GetQueueFleetAssociation",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queue-fleet-associations/{queueId}/{fleetId}",
        "responseCode":200
      },
      "input":{"shape":"GetQueueFleetAssociationRequest"},
      "output":{"shape":"GetQueueFleetAssociationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a queue-fleet association.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetQueueLimitAssociation":{
      "name":"GetQueueLimitAssociation",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queue-limit-associations/{queueId}/{limitId}",
        "responseCode":200
      },
      "input":{"shape":"GetQueueLimitAssociationRequest"},
      "output":{"shape":"GetQueueLimitAssociationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets information about a specific association between a queue and a limit.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetSession":{
      "name":"GetSession",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/sessions/{sessionId}",
        "responseCode":200
      },
      "input":{"shape":"GetSessionRequest"},
      "output":{"shape":"GetSessionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a session.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetSessionAction":{
      "name":"GetSessionAction",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/session-actions/{sessionActionId}",
        "responseCode":200
      },
      "input":{"shape":"GetSessionActionRequest"},
      "output":{"shape":"GetSessionActionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a session action for the job.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetSessionsStatisticsAggregation":{
      "name":"GetSessionsStatisticsAggregation",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/sessions-statistics-aggregation",
        "responseCode":200
      },
      "input":{"shape":"GetSessionsStatisticsAggregationRequest"},
      "output":{"shape":"GetSessionsStatisticsAggregationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a set of statistics for queues or farms. Before you can call the <code>GetSessionStatisticsAggregation</code> operation, you must first call the <code>StartSessionsStatisticsAggregation</code> operation. Statistics are available for 1 hour after you call the <code>StartSessionsStatisticsAggregation</code> operation.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetStep":{
      "name":"GetStep",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/steps/{stepId}",
        "responseCode":200
      },
      "input":{"shape":"GetStepRequest"},
      "output":{"shape":"GetStepResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a step.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetStorageProfile":{
      "name":"GetStorageProfile",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/storage-profiles/{storageProfileId}",
        "responseCode":200
      },
      "input":{"shape":"GetStorageProfileRequest"},
      "output":{"shape":"GetStorageProfileResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a storage profile.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetStorageProfileForQueue":{
      "name":"GetStorageProfileForQueue",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/storage-profiles/{storageProfileId}",
        "responseCode":200
      },
      "input":{"shape":"GetStorageProfileForQueueRequest"},
      "output":{"shape":"GetStorageProfileForQueueResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a storage profile for a queue.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetTask":{
      "name":"GetTask",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/steps/{stepId}/tasks/{taskId}",
        "responseCode":200
      },
      "input":{"shape":"GetTaskRequest"},
      "output":{"shape":"GetTaskResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a task.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "GetWorker":{
      "name":"GetWorker",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}",
        "responseCode":200
      },
      "input":{"shape":"GetWorkerRequest"},
      "output":{"shape":"GetWorkerResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a worker.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListAvailableMeteredProducts":{
      "name":"ListAvailableMeteredProducts",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/metered-products",
        "responseCode":200
      },
      "input":{"shape":"ListAvailableMeteredProductsRequest"},
      "output":{"shape":"ListAvailableMeteredProductsResponse"},
      "errors":[
        {"shape":"InternalServerErrorException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>A list of the available metered products.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListBudgets":{
      "name":"ListBudgets",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/budgets",
        "responseCode":200
      },
      "input":{"shape":"ListBudgetsRequest"},
      "output":{"shape":"ListBudgetsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>A list of budgets in a farm.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListFarmMembers":{
      "name":"ListFarmMembers",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/members",
        "responseCode":200
      },
      "input":{"shape":"ListFarmMembersRequest"},
      "output":{"shape":"ListFarmMembersResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists the members of a farm.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListFarms":{
      "name":"ListFarms",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms",
        "responseCode":200
      },
      "input":{"shape":"ListFarmsRequest"},
      "output":{"shape":"ListFarmsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists farms.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListFleetMembers":{
      "name":"ListFleetMembers",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}/members",
        "responseCode":200
      },
      "input":{"shape":"ListFleetMembersRequest"},
      "output":{"shape":"ListFleetMembersResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists fleet members.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListFleets":{
      "name":"ListFleets",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets",
        "responseCode":200
      },
      "input":{"shape":"ListFleetsRequest"},
      "output":{"shape":"ListFleetsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists fleets.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListJobMembers":{
      "name":"ListJobMembers",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/members",
        "responseCode":200
      },
      "input":{"shape":"ListJobMembersRequest"},
      "output":{"shape":"ListJobMembersResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists members on a job.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListJobParameterDefinitions":{
      "name":"ListJobParameterDefinitions",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/parameter-definitions",
        "responseCode":200
      },
      "input":{"shape":"ListJobParameterDefinitionsRequest"},
      "output":{"shape":"ListJobParameterDefinitionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists parameter definitions of a job.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListJobs":{
      "name":"ListJobs",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs",
        "responseCode":200
      },
      "input":{"shape":"ListJobsRequest"},
      "output":{"shape":"ListJobsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists jobs.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListLicenseEndpoints":{
      "name":"ListLicenseEndpoints",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/license-endpoints",
        "responseCode":200
      },
      "input":{"shape":"ListLicenseEndpointsRequest"},
      "output":{"shape":"ListLicenseEndpointsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists license endpoints.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListLimits":{
      "name":"ListLimits",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/limits",
        "responseCode":200
      },
      "input":{"shape":"ListLimitsRequest"},
      "output":{"shape":"ListLimitsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a list of limits defined in the specified farm.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListMeteredProducts":{
      "name":"ListMeteredProducts",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/license-endpoints/{licenseEndpointId}/metered-products",
        "responseCode":200
      },
      "input":{"shape":"ListMeteredProductsRequest"},
      "output":{"shape":"ListMeteredProductsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists metered products.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListMonitors":{
      "name":"ListMonitors",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/monitors",
        "responseCode":200
      },
      "input":{"shape":"ListMonitorsRequest"},
      "output":{"shape":"ListMonitorsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a list of your monitors in Deadline Cloud.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListQueueEnvironments":{
      "name":"ListQueueEnvironments",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/environments",
        "responseCode":200
      },
      "input":{"shape":"ListQueueEnvironmentsRequest"},
      "output":{"shape":"ListQueueEnvironmentsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists queue environments.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListQueueFleetAssociations":{
      "name":"ListQueueFleetAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queue-fleet-associations",
        "responseCode":200
      },
      "input":{"shape":"ListQueueFleetAssociationsRequest"},
      "output":{"shape":"ListQueueFleetAssociationsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists queue-fleet associations.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListQueueLimitAssociations":{
      "name":"ListQueueLimitAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queue-limit-associations",
        "responseCode":200
      },
      "input":{"shape":"ListQueueLimitAssociationsRequest"},
      "output":{"shape":"ListQueueLimitAssociationsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets a list of the associations between queues and limits defined in a farm.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListQueueMembers":{
      "name":"ListQueueMembers",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/members",
        "responseCode":200
      },
      "input":{"shape":"ListQueueMembersRequest"},
      "output":{"shape":"ListQueueMembersResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists the members in a queue.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListQueues":{
      "name":"ListQueues",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues",
        "responseCode":200
      },
      "input":{"shape":"ListQueuesRequest"},
      "output":{"shape":"ListQueuesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists queues.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListSessionActions":{
      "name":"ListSessionActions",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/session-actions",
        "responseCode":200
      },
      "input":{"shape":"ListSessionActionsRequest"},
      "output":{"shape":"ListSessionActionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists session actions.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListSessions":{
      "name":"ListSessions",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/sessions",
        "responseCode":200
      },
      "input":{"shape":"ListSessionsRequest"},
      "output":{"shape":"ListSessionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists sessions.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListSessionsForWorker":{
      "name":"ListSessionsForWorker",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}/sessions",
        "responseCode":200
      },
      "input":{"shape":"ListSessionsForWorkerRequest"},
      "output":{"shape":"ListSessionsForWorkerResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists sessions for a worker.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListStepConsumers":{
      "name":"ListStepConsumers",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/steps/{stepId}/consumers",
        "responseCode":200
      },
      "input":{"shape":"ListStepConsumersRequest"},
      "output":{"shape":"ListStepConsumersResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists step consumers.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListStepDependencies":{
      "name":"ListStepDependencies",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/steps/{stepId}/dependencies",
        "responseCode":200
      },
      "input":{"shape":"ListStepDependenciesRequest"},
      "output":{"shape":"ListStepDependenciesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists the dependencies for a step.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListSteps":{
      "name":"ListSteps",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/steps",
        "responseCode":200
      },
      "input":{"shape":"ListStepsRequest"},
      "output":{"shape":"ListStepsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists steps for a job.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListStorageProfiles":{
      "name":"ListStorageProfiles",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/storage-profiles",
        "responseCode":200
      },
      "input":{"shape":"ListStorageProfilesRequest"},
      "output":{"shape":"ListStorageProfilesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists storage profiles.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListStorageProfilesForQueue":{
      "name":"ListStorageProfilesForQueue",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/storage-profiles",
        "responseCode":200
      },
      "input":{"shape":"ListStorageProfilesForQueueRequest"},
      "output":{"shape":"ListStorageProfilesForQueueResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists storage profiles for a queue.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists tags for a resource.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListTasks":{
      "name":"ListTasks",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/steps/{stepId}/tasks",
        "responseCode":200
      },
      "input":{"shape":"ListTasksRequest"},
      "output":{"shape":"ListTasksResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists tasks for a job.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "ListWorkers":{
      "name":"ListWorkers",
      "http":{
        "method":"GET",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers",
        "responseCode":200
      },
      "input":{"shape":"ListWorkersRequest"},
      "output":{"shape":"ListWorkersResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists workers.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "PutMeteredProduct":{
      "name":"PutMeteredProduct",
      "http":{
        "method":"PUT",
        "requestUri":"/2023-10-12/license-endpoints/{licenseEndpointId}/metered-products/{productId}",
        "responseCode":200
      },
      "input":{"shape":"PutMeteredProductRequest"},
      "output":{"shape":"PutMeteredProductResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Adds a metered product.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "SearchJobs":{
      "name":"SearchJobs",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/farms/{farmId}/search/jobs",
        "responseCode":200
      },
      "input":{"shape":"SearchJobsRequest"},
      "output":{"shape":"SearchJobsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Searches for jobs.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "SearchSteps":{
      "name":"SearchSteps",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/farms/{farmId}/search/steps",
        "responseCode":200
      },
      "input":{"shape":"SearchStepsRequest"},
      "output":{"shape":"SearchStepsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Searches for steps.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "SearchTasks":{
      "name":"SearchTasks",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/farms/{farmId}/search/tasks",
        "responseCode":200
      },
      "input":{"shape":"SearchTasksRequest"},
      "output":{"shape":"SearchTasksResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Searches for tasks.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "SearchWorkers":{
      "name":"SearchWorkers",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/farms/{farmId}/search/workers",
        "responseCode":200
      },
      "input":{"shape":"SearchWorkersRequest"},
      "output":{"shape":"SearchWorkersResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Searches for workers.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "StartSessionsStatisticsAggregation":{
      "name":"StartSessionsStatisticsAggregation",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/farms/{farmId}/sessions-statistics-aggregation",
        "responseCode":200
      },
      "input":{"shape":"StartSessionsStatisticsAggregationRequest"},
      "output":{"shape":"StartSessionsStatisticsAggregationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Starts an asynchronous request for getting aggregated statistics about queues and farms. Get the statistics using the <code>GetSessionsStatisticsAggregation</code> operation. You can only have one running aggregation for your Deadline Cloud farm. Call the <code>GetSessionsStatisticsAggregation</code> operation and check the <code>status</code> field to see if an aggregation is running. Statistics are available for 1 hour after you call the <code>StartSessionsStatisticsAggregation</code> operation.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/2023-10-12/tags/{resourceArn}",
        "responseCode":204
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Tags a resource using the resource's ARN and desired tags.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/2023-10-12/tags/{resourceArn}",
        "responseCode":204
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Removes a tag from a resource using the resource's ARN and tag to remove.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "UpdateBudget":{
      "name":"UpdateBudget",
      "http":{
        "method":"PATCH",
        "requestUri":"/2023-10-12/farms/{farmId}/budgets/{budgetId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateBudgetRequest"},
      "output":{"shape":"UpdateBudgetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates a budget that sets spending thresholds for rendering activity.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "UpdateFarm":{
      "name":"UpdateFarm",
      "http":{
        "method":"PATCH",
        "requestUri":"/2023-10-12/farms/{farmId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateFarmRequest"},
      "output":{"shape":"UpdateFarmResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates a farm.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "UpdateFleet":{
      "name":"UpdateFleet",
      "http":{
        "method":"PATCH",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateFleetRequest"},
      "output":{"shape":"UpdateFleetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Updates a fleet.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "UpdateJob":{
      "name":"UpdateJob",
      "http":{
        "method":"PATCH",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateJobRequest"},
      "output":{"shape":"UpdateJobResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates a job. </p> <p>When you change the status of the job to <code>ARCHIVED</code>, the job can't be scheduled or archived.</p> <important> <p>An archived jobs and its steps and tasks are deleted after 120 days. The job can't be recovered.</p> </important>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "UpdateLimit":{
      "name":"UpdateLimit",
      "http":{
        "method":"PATCH",
        "requestUri":"/2023-10-12/farms/{farmId}/limits/{limitId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateLimitRequest"},
      "output":{"shape":"UpdateLimitResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates the properties of the specified limit. </p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "UpdateMonitor":{
      "name":"UpdateMonitor",
      "http":{
        "method":"PATCH",
        "requestUri":"/2023-10-12/monitors/{monitorId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateMonitorRequest"},
      "output":{"shape":"UpdateMonitorResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Modifies the settings for a Deadline Cloud monitor. You can modify one or all of the settings when you call <code>UpdateMonitor</code>.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "UpdateQueue":{
      "name":"UpdateQueue",
      "http":{
        "method":"PATCH",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateQueueRequest"},
      "output":{"shape":"UpdateQueueResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates a queue.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "UpdateQueueEnvironment":{
      "name":"UpdateQueueEnvironment",
      "http":{
        "method":"PATCH",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/environments/{queueEnvironmentId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateQueueEnvironmentRequest"},
      "output":{"shape":"UpdateQueueEnvironmentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates the queue environment.</p>",
      "endpoint":{"hostPrefix":"management."}
    },
    "UpdateQueueFleetAssociation":{
      "name":"UpdateQueueFleetAssociation",
      "http":{
        "method":"PATCH",
        "requestUri":"/2023-10-12/farms/{farmId}/queue-fleet-associations/{queueId}/{fleetId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateQueueFleetAssociationRequest"},
      "output":{"shape":"UpdateQueueFleetAssociationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates a queue-fleet association.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "UpdateQueueLimitAssociation":{
      "name":"UpdateQueueLimitAssociation",
      "http":{
        "method":"PATCH",
        "requestUri":"/2023-10-12/farms/{farmId}/queue-limit-associations/{queueId}/{limitId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateQueueLimitAssociationRequest"},
      "output":{"shape":"UpdateQueueLimitAssociationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates the status of the queue. If you set the status to one of the <code>STOP_LIMIT_USAGE*</code> values, there will be a delay before the status transitions to the <code>STOPPED</code> state. </p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "UpdateSession":{
      "name":"UpdateSession",
      "http":{
        "method":"PATCH",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/sessions/{sessionId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateSessionRequest"},
      "output":{"shape":"UpdateSessionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates a session.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "UpdateStep":{
      "name":"UpdateStep",
      "http":{
        "method":"PATCH",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/steps/{stepId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateStepRequest"},
      "output":{"shape":"UpdateStepResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates a step.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "UpdateStorageProfile":{
      "name":"UpdateStorageProfile",
      "http":{
        "method":"PATCH",
        "requestUri":"/2023-10-12/farms/{farmId}/storage-profiles/{storageProfileId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateStorageProfileRequest"},
      "output":{"shape":"UpdateStorageProfileResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates a storage profile.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "UpdateTask":{
      "name":"UpdateTask",
      "http":{
        "method":"PATCH",
        "requestUri":"/2023-10-12/farms/{farmId}/queues/{queueId}/jobs/{jobId}/steps/{stepId}/tasks/{taskId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateTaskRequest"},
      "output":{"shape":"UpdateTaskResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates a task.</p>",
      "endpoint":{"hostPrefix":"management."},
      "idempotent":true
    },
    "UpdateWorker":{
      "name":"UpdateWorker",
      "http":{
        "method":"PATCH",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateWorkerRequest"},
      "output":{"shape":"UpdateWorkerResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates a worker.</p>",
      "endpoint":{"hostPrefix":"scheduling."},
      "idempotent":true
    },
    "UpdateWorkerSchedule":{
      "name":"UpdateWorkerSchedule",
      "http":{
        "method":"PATCH",
        "requestUri":"/2023-10-12/farms/{farmId}/fleets/{fleetId}/workers/{workerId}/schedule",
        "responseCode":200
      },
      "input":{"shape":"UpdateWorkerScheduleRequest"},
      "output":{"shape":"UpdateWorkerScheduleResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerErrorException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates the schedule for a worker.</p>",
      "endpoint":{"hostPrefix":"scheduling."},
      "idempotent":true
    }
  },
  "shapes":{
    "AcceleratorCapabilities":{
      "type":"structure",
      "required":["selections"],
      "members":{
        "selections":{
          "shape":"AcceleratorSelections",
          "documentation":"<p>A list of accelerator capabilities requested for this fleet. Only Amazon Elastic Compute Cloud instances that provide these capabilities will be used. For example, if you specify both L4 and T4 chips, Deadline Cloud will use Amazon EC2 instances that have either the L4 or the T4 chip installed.</p>"
        },
        "count":{
          "shape":"AcceleratorCountRange",
          "documentation":"<p>The number of GPU accelerators specified for worker hosts in this fleet. </p>"
        }
      },
      "documentation":"<p>Provides information about the GPU accelerators used for jobs processed by a fleet.</p>"
    },
    "AcceleratorCountRange":{
      "type":"structure",
      "required":["min"],
      "members":{
        "min":{
          "shape":"MinZeroMaxInteger",
          "documentation":"<p>The minimum number of GPU accelerators in the worker host.</p>"
        },
        "max":{
          "shape":"MinZeroMaxInteger",
          "documentation":"<p>The maximum number of GPU accelerators in the worker host.</p>"
        }
      },
      "documentation":"<p>Defines the maximum and minimum number of GPU accelerators required for a worker instance..</p>"
    },
    "AcceleratorName":{
      "type":"string",
      "enum":[
        "t4",
        "a10g",
        "l4",
        "l40s"
      ]
    },
    "AcceleratorRuntime":{
      "type":"string",
      "max":100,
      "min":1
    },
    "AcceleratorSelection":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"AcceleratorName",
          "documentation":"<p>The name of the chip used by the GPU accelerator.</p> <p>If you specify <code>l4</code> as the name of the accelerator, you must specify <code>latest</code> or <code>grid:r570</code> as the runtime.</p> <p>The available GPU accelerators are:</p> <ul> <li> <p> <code>t4</code> - NVIDIA T4 Tensor Core GPU</p> </li> <li> <p> <code>a10g</code> - NVIDIA A10G Tensor Core GPU</p> </li> <li> <p> <code>l4</code> - NVIDIA L4 Tensor Core GPU</p> </li> <li> <p> <code>l40s</code> - NVIDIA L40S Tensor Core GPU</p> </li> </ul>"
        },
        "runtime":{
          "shape":"AcceleratorRuntime",
          "documentation":"<p>Specifies the runtime driver to use for the GPU accelerator. You must use the same runtime for all GPUs. </p> <p>You can choose from the following runtimes:</p> <ul> <li> <p> <code>latest</code> - Use the latest runtime available for the chip. If you specify <code>latest</code> and a new version of the runtime is released, the new version of the runtime is used.</p> </li> <li> <p> <code>grid:r570</code> - <a href=\"https://docs.nvidia.com/vgpu/18.0/index.html\">NVIDIA vGPU software 18</a> </p> </li> <li> <p> <code>grid:r535</code> - <a href=\"https://docs.nvidia.com/vgpu/16.0/index.html\">NVIDIA vGPU software 16</a> </p> </li> </ul> <p>If you don't specify a runtime, Deadline Cloud uses <code>latest</code> as the default. However, if you have multiple accelerators and specify <code>latest</code> for some and leave others blank, Deadline Cloud raises an exception.</p>"
        }
      },
      "documentation":"<p>Describes a specific GPU accelerator required for an Amazon Elastic Compute Cloud worker host.</p>"
    },
    "AcceleratorSelections":{
      "type":"list",
      "member":{"shape":"AcceleratorSelection"}
    },
    "AcceleratorTotalMemoryMiBRange":{
      "type":"structure",
      "required":["min"],
      "members":{
        "min":{
          "shape":"MinZeroMaxInteger",
          "documentation":"<p>The minimum amount of memory to use for the accelerator, measured in MiB.</p>"
        },
        "max":{
          "shape":"MinZeroMaxInteger",
          "documentation":"<p>The maximum amount of memory to use for the accelerator, measured in MiB.</p>"
        }
      },
      "documentation":"<p>Defines the maximum and minimum amount of memory, in MiB, to use for the accelerator.</p>"
    },
    "AcceleratorType":{
      "type":"string",
      "enum":["gpu"]
    },
    "AcceleratorTypes":{
      "type":"list",
      "member":{"shape":"AcceleratorType"}
    },
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"},
        "context":{
          "shape":"ExceptionContext",
          "documentation":"<p>Information about the resources in use when the exception was thrown.</p>"
        }
      },
      "documentation":"<p>You don't have permission to perform the action.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AccessKeyId":{
      "type":"string",
      "sensitive":true
    },
    "AcquiredLimit":{
      "type":"structure",
      "required":[
        "limitId",
        "count"
      ],
      "members":{
        "limitId":{
          "shape":"LimitId",
          "documentation":"<p>The unique identifier of the limit.</p>"
        },
        "count":{
          "shape":"MinOneMaxInteger",
          "documentation":"<p>The number of limit resources used.</p>"
        }
      },
      "documentation":"<p>Provides information about the number of resources used.</p>"
    },
    "AcquiredLimits":{
      "type":"list",
      "member":{"shape":"AcquiredLimit"}
    },
    "AggregationId":{
      "type":"string",
      "pattern":"[0-9a-f]{32}"
    },
    "AllowedStorageProfileIds":{
      "type":"list",
      "member":{"shape":"StorageProfileId"},
      "max":20,
      "min":0
    },
    "AmountCapabilityName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"([a-zA-Z][a-zA-Z0-9]{0,63}:)?amount(\\.[a-zA-Z][a-zA-Z0-9]{0,63})+"
    },
    "AmountRequirementName":{
      "type":"string",
      "max":1024,
      "min":0
    },
    "AssignedEnvironmentEnterSessionActionDefinition":{
      "type":"structure",
      "required":["environmentId"],
      "members":{
        "environmentId":{
          "shape":"EnvironmentId",
          "documentation":"<p>The environment ID of the assigned environment at the start of a session.</p>"
        }
      },
      "documentation":"<p>The assigned starting environment for a worker during session.</p>"
    },
    "AssignedEnvironmentExitSessionActionDefinition":{
      "type":"structure",
      "required":["environmentId"],
      "members":{
        "environmentId":{
          "shape":"EnvironmentId",
          "documentation":"<p>The environment ID of the assigned environment when exiting a session.</p>"
        }
      },
      "documentation":"<p>The assigned environment when a worker exits a session.</p>"
    },
    "AssignedSession":{
      "type":"structure",
      "required":[
        "queueId",
        "jobId",
        "sessionActions",
        "logConfiguration"
      ],
      "members":{
        "queueId":{
          "shape":"QueueId",
          "documentation":"<p>The queue ID of the assigned session.</p>"
        },
        "jobId":{
          "shape":"JobId",
          "documentation":"<p>The job ID for the assigned session.</p>"
        },
        "sessionActions":{
          "shape":"AssignedSessionActions",
          "documentation":"<p>The session actions to apply to the assigned session.</p>"
        },
        "logConfiguration":{
          "shape":"LogConfiguration",
          "documentation":"<p>The log configuration for the worker's assigned session.</p>"
        }
      },
      "documentation":"<p>The assigned session for the worker.</p>"
    },
    "AssignedSessionAction":{
      "type":"structure",
      "required":[
        "sessionActionId",
        "definition"
      ],
      "members":{
        "sessionActionId":{
          "shape":"SessionActionId",
          "documentation":"<p>The session action ID for the assigned session.</p>"
        },
        "definition":{
          "shape":"AssignedSessionActionDefinition",
          "documentation":"<p>The definition of the assigned session action.</p>"
        }
      },
      "documentation":"<p>The action for a session defined by the session action ID.</p>"
    },
    "AssignedSessionActionDefinition":{
      "type":"structure",
      "members":{
        "envEnter":{
          "shape":"AssignedEnvironmentEnterSessionActionDefinition",
          "documentation":"<p>The environment a session starts on.</p>"
        },
        "envExit":{
          "shape":"AssignedEnvironmentExitSessionActionDefinition",
          "documentation":"<p>The environment a session exits from.</p>"
        },
        "taskRun":{
          "shape":"AssignedTaskRunSessionActionDefinition",
          "documentation":"<p>The task run.</p>"
        },
        "syncInputJobAttachments":{
          "shape":"AssignedSyncInputJobAttachmentsSessionActionDefinition",
          "documentation":"<p>The job attachment to sync with an assigned session action.</p>"
        }
      },
      "documentation":"<p>The definition of the assigned session action.</p>",
      "union":true
    },
    "AssignedSessionActions":{
      "type":"list",
      "member":{"shape":"AssignedSessionAction"}
    },
    "AssignedSessions":{
      "type":"map",
      "key":{"shape":"SessionId"},
      "value":{"shape":"AssignedSession"}
    },
    "AssignedSyncInputJobAttachmentsSessionActionDefinition":{
      "type":"structure",
      "members":{
        "stepId":{
          "shape":"StepId",
          "documentation":"<p>The step ID.</p>"
        }
      },
      "documentation":"<p>The details for an assigned session action as it relates to a job attachment.</p>"
    },
    "AssignedTaskRunSessionActionDefinition":{
      "type":"structure",
      "required":[
        "stepId",
        "parameters"
      ],
      "members":{
        "taskId":{
          "shape":"TaskId",
          "documentation":"<p>The task ID.</p>"
        },
        "stepId":{
          "shape":"StepId",
          "documentation":"<p>The step ID.</p>"
        },
        "parameters":{
          "shape":"TaskParameters",
          "documentation":"<p>The parameters to include.</p>"
        }
      },
      "documentation":"<p>The specific task, step, and parameters to include.</p>"
    },
    "AssociateMemberToFarmRequest":{
      "type":"structure",
      "required":[
        "farmId",
        "principalId",
        "principalType",
        "identityStoreId",
        "membershipLevel"
      ],
      "members":{
        "farmId":{
          "shape":"FarmId",
          "documentation":"<p>The ID of the farm to associate with the member.</p>",
          "location":"uri",
          "locationName":"farmId"
        },
        "principalId":{
          "shape":"IdentityCenterPrincipalId",
          "documentation":"<p>The member's principal ID to associate with the farm.</p>",
          "location":"uri",
          "locationName":"principalId"
        },
        "principalType":{
          "shape":"PrincipalType",
          "documentation":"<p>The principal type of the member to associate with the farm.</p>"
        },
        "identityStoreId":{
          "shape":"IdentityStoreId",
          "documentation":"<p>The identity store ID of the member to associate with the farm.</p>"
        },
        "membershipLevel":{
          "shape":"MembershipLevel",
          "documentation":"<p>The principal's membership level for the associated farm.</p>"
        }
      }
    },
    "AssociateMemberToFarmResponse":{
      "type":"structure",
      "members":{
      }
    },
    "AssociateMemberToFleetRequest":{
      "type":"structure",
      "required":[
        "farmId",
        "fleetId",
        "principalId",
        "principalType",
        "identityStoreId",
        "membershipLevel"
      ],
      "members":{
        "farmId":{
          "shape":"FarmId",
          "documentation":"<p>The farm ID of the fleet to associate with the member.</p>",
          "location":"uri",
          "locationName":"farmId"
        },
        "fleetId":{
          "shape":"FleetId",
          "documentation":"<p>The ID of the fleet to associate with a member.</p>",
          "location":"uri",
          "locationName":"fleetId"
        },
        "principalId":{
          "shape":"IdentityCenterPrincipalId",
          "documentation":"<p>The member's principal ID to associate with a fleet.</p>",
          "location":"uri",
          "locationName":"principalId"
        },
        "principalType":{
          "shape":"PrincipalType",
          "documentation":"<p>The member's principal type to associate with the fleet.</p>"
        },
        "identityStoreId":{
          "shape":"IdentityStoreId",
          "documentation":"<p>The member's identity store ID to associate with the fleet.</p>"
        },
        "membershipLevel":{
          "shape":"MembershipLevel",
          "documentation":"<p>The principal's membership level for the associated fleet.</p>"
        }
      }
    },
    "AssociateMemberToFleetResponse":{
      "type":"structure",
      "members":{
      }
    },
    "AssociateMemberToJobRequest":{
      "type":"structure",
      "required":[
        "farmId",
        "queueId",
        "jobId",
        "principalId",
        "principalType",
        "identityStoreId",
        "membershipLevel"
      ],
      "members":{
        "farmId":{
          "shape":"FarmId",
          "documentation":"<p>The farm ID of the job to associate with the member.</p>",
          "location":"uri",
          "locationName":"farmId"
        },
        "queueId":{
          "shape":"QueueId",
          "documentation":"<p>The queue ID to associate to the member.</p>",
          "location":"uri",
          "locationName":"queueId"
        },
        "jobId":{
          "shape":"JobId",
          "documentation":"<p>The job ID to associate with the member.</p>",
          "location":"uri",
          "locationName":"jobId"
        },
        "principalId":{
          "shape":"IdentityCenterPrincipalId",
          "documentation":"<p>The member's principal ID to associate with the job.</p>",
          "location":"uri",
          "locationName":"principalId"
        },
        "principalType":{
          "shape":"PrincipalType",
          "documentation":"<p>The member's principal type to associate with the job.</p>"
        },
        "identityStoreId":{
          "shape":"IdentityStoreId",
          "documentation":"<p>The member's identity store ID to associate with the job.</p>"
        },
        "membershipLevel":{
          "shape":"MembershipLevel",
          "documentation":"<p>The principal's membership level for the associated job.</p>"
        }
      }
    },
    "AssociateMemberToJobResponse":{
      "type":"structure",
      "members":{
      }
    },
    "AssociateMemberToQueueRequest":{
      "type":"structure",
      "required":[
        "farmId",
        "queueId",
        "principalId",
        "principalType",
        "identityStoreId",
        "membershipLevel"
      ],
      "members":{
        "farmId":{
          "shape":"FarmId",
          "documentation":"<p>The farm ID of the queue to associate with the member.</p>",
          "location":"uri",
          "locationName":"farmId"
        },
        "queueId":{
          "shape":"QueueId",
          "documentation":"<p>The ID of the queue to associate to the member.</p>",
          "location":"uri",
[...]
