{{#koenig-card
    class=(concat (kg-style "media-card") " miw-100 tc")
    isSelected=isSelected
    isEditing=isEditing
    selectCard=(action selectCard)
    editCard=(action editCard)
}}
    {{#if isEditing}}
        {{gh-cm-editor payload.html
            class="koenig-card-html--editor"
            autofocus=true
            update=(action "updateHtml")
        }}
    {{else}}
        {{{payload.html}}}
        <div class="koenig-card-click-overlay"></div>
    {{/if}}
{{/koenig-card}}
