{{#koenig-card
    icon="koenig/card-indicator-html"
    class=(concat (kg-style "container-card") " mih10 miw-100 relative")
    headerOffset=headerOffset
    toolbar=toolbar
    payload=payload
    isSelected=isSelected
    isEditing=isEditing
    selectCard=(action selectCard)
    deselectCard=(action deselectCard)
    editCard=(action editCard)
    saveCard=(action saveCard)
    onLeaveEdit=(action "leaveEditMode")
    editor=editor
}}
    {{#if isEditing}}
        {{gh-cm-editor payload.html
            class="koenig-card-html--editor"
            autofocus=true
            lineWrapping=true
            update=(action "updateHtml")
        }}
    {{else}}
        <div class="koenig-card-html-rendered">{{{sanitize-html payload.html}}}</div>
        <div class="koenig-card-click-overlay"></div>
    {{/if}}
{{/koenig-card}}