{{#if this.showMenu}}
    <div class="koenig-cardmenu {{kg-style "cardmenu"}}">
        <KoenigMenuContent @itemSections={{this.itemSections}} @itemClicked={{action "itemClicked"}} />
    </div>
{{/if}}