{{#if showMenu}}
    <div class="koenig-cardmenu">
        {{#each items as |item|}}
            <div class="koenig-cardmenu-card {{if item.selected "selected"}}" {{action "itemClicked" item on="click"}}>
                <div class="koenig-cardmenu-icon">{{svg-jar item.icon}}</div>
                <div class="koenig-cardmenu-label">{{item.label}}</div>
            </div>
        {{/each}}
    </div>
{{/if}}
