{{#if (gt @percentage 0) }}
    <div class="gh-dashboard5-percentage is-positive">+{{ @percentage }}%</div>
{{else if (lt @percentage 0)}}
    <div class="gh-dashboard5-percentage is-negative">{{ @percentage }}%</div>
{{else}}
    <div class="gh-dashboard5-percentage">0%</div>
{{/if}}