<div class="gh-dashboard5-zero">
    <div class="gh-dashboard5-zero-message">
        <h4>Get your first member to unlock analytics!</h4>
        <p>Analytics will appear here as soon as someone<br />subscribes to your site.</p>
    </div>
</div>
