<div class="gh-dashboard5-zero">
    <div class="gh-dashboard5-zero-message">
        <h4>Welcome to your Dashboard</h4>
        <p>You'll find member analytics here once someone signs up.</p>
        <p><LinkTo @route="member.new">Add yourself as a member &rarr;</LinkTo></p>
    </div>
</div>
