<section class="gh-canvas">
    <header class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>Team members</h2>
        {{!-- Do not show Invite user button to authors --}}
        {{#unless session.user.isAuthor}}
            <section class="view-actions">
                <button class="gh-btn gh-btn-green" {{action "toggleInviteUserModal"}} ><span>Invite People</span></button>
            </section>
        {{/unless}}
    </header>

    <div class="gh-content">
        {{gh-loading-spinner}}
    </div>
</section>
