<section class="gh-view">
    <header class="view-header">
        {{#gh-view-title openMobileMenu="openMobileMenu"}}<span>Team</span>{{/gh-view-title}}
        {{!-- Do not show Invite user button to authors --}}
        {{#unless session.user.isAuthor}}
            <section class="view-actions">
                <button class="gh-btn gh-btn-green"><span>Invite People</span></button>
            </section>
        {{/unless}}
    </header>

    <div class="view-container">
        {{gh-loading-spinner}}
    </div>
</section>
