<section class="gh-view">
    <header class="view-header">
        {{#gh-view-title openMobileMenu="openMobileMenu"}}
            {{link-to "Team" "team"}}
            <i class="icon-arrow-right"></i>
        {{/gh-view-title}}

        <section class="view-actions">
            <div class="btn btn-blue">Save</div>
        </section>
    </header>

    <div class="view-container">
        {{gh-loading-spinner}}
    </div>
</section>