<section class="gh-canvas">
    <header class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>
            {{link-to "Team" "team" data-test-team-link=true}}
            <span>{{inline-svg "arrow-right"}}</span>
            {{user.name}}
        </h2>

        <section class="view-actions">
            <div class="gh-btn gh-btn-blue"><span>Save</span></div>
        </section>
    </header>

    <div class="gh-content">
        {{gh-loading-spinner}}
    </div>
</section>
