<section class="gh-view">
    <header class="view-header">
        {{#gh-view-title openMobileMenu="openMobileMenu"}}
            {{link-to "Team" "team"}}
            {{inline-svg "arrow-right"}}
        {{/gh-view-title}}

        <section class="view-actions">
            <div class="gh-btn gh-btn-blue"><span>Save</span></div>
        </section>
    </header>

    <div class="view-container">
        {{gh-loading-spinner}}
    </div>
</section>
