{
  "metadata": {
    "apiVersion": "2017-10-14",
    "endpointPrefix": "medialive",
    "signingName": "medialive",
    "serviceFullName": "AWS Elemental MediaLive",
    "serviceId": "MediaLive",
    "protocol": "rest-json",
    "uid": "medialive-2017-10-14",
    "signatureVersion": "v4",
    "serviceAbbreviation": "MediaLive",
    "jsonVersion": "1.1",
    "auth": [
      "aws.auth#sigv4"
    ]
  },
  "operations": {
    "AcceptInputDeviceTransfer": {
      "name": "AcceptInputDeviceTransfer",
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputDevices/{inputDeviceId}/accept",
        "responseCode": 200
      },
      "input": {
        "shape": "AcceptInputDeviceTransferRequest"
      },
      "output": {
        "shape": "AcceptInputDeviceTransferResponse",
        "documentation": "Your request to accept this device transfer has succeeded."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "UnprocessableEntityException",
          "documentation": "Transfer operation failed, input could not be validated."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Unexpected internal service error."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to accept input device transfers."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad gateway error."
        },
        {
          "shape": "NotFoundException",
          "documentation": "Input device not found."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on transfer device calls to the input device service."
        },
        {
          "shape": "ConflictException",
          "documentation": "Input device transfer could not be accepted."
        }
      ],
      "documentation": "Accept an incoming input device transfer. The ownership of the device will transfer to your AWS account."
    },
    "BatchDelete": {
      "name": "BatchDelete",
      "http": {
        "method": "POST",
        "requestUri": "/prod/batch/delete",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchDeleteRequest"
      },
      "output": {
        "shape": "BatchDeleteResponse",
        "documentation": "Delete was successfully initiated."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Unexpected internal service error."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to delete the resources."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resources you're requesting to delete do not exist."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout Error"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on delete resources calls."
        },
        {
          "shape": "ConflictException",
          "documentation": "The resources are unable to delete."
        }
      ],
      "documentation": "Starts delete of resources."
    },
    "BatchStart": {
      "name": "BatchStart",
      "http": {
        "method": "POST",
        "requestUri": "/prod/batch/start",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchStartRequest"
      },
      "output": {
        "shape": "BatchStartResponse",
        "documentation": "Successfully initiated start of resources."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Unexpected internal service error."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to start the resources."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resources you're requesting to start do not exist."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout Error"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on start resources calls to resource service."
        },
        {
          "shape": "ConflictException",
          "documentation": "The resources are unable to start."
        }
      ],
      "documentation": "Starts existing resources"
    },
    "BatchStop": {
      "name": "BatchStop",
      "http": {
        "method": "POST",
        "requestUri": "/prod/batch/stop",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchStopRequest"
      },
      "output": {
        "shape": "BatchStopResponse",
        "documentation": "Successfully initiated stop of the resources."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Unexpected internal service error."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to stop the resources."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resources you're requesting to stop do not exist."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout Error"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on stop resources."
        },
        {
          "shape": "ConflictException",
          "documentation": "The resources are unable to stop."
        }
      ],
      "documentation": "Stops running resources"
    },
    "BatchUpdateSchedule": {
      "name": "BatchUpdateSchedule",
      "http": {
        "method": "PUT",
        "requestUri": "/prod/channels/{channelId}/schedule",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchUpdateScheduleRequest"
      },
      "output": {
        "shape": "BatchUpdateScheduleResponse",
        "documentation": "Successful update of the schedule."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "UnprocessableEntityException",
          "documentation": "The update schedule request failed validation."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to update the channel schedule."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "The specified channel id does not exist."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on update schedule calls."
        }
      ],
      "documentation": "Update a channel schedule"
    },
    "CancelInputDeviceTransfer": {
      "name": "CancelInputDeviceTransfer",
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputDevices/{inputDeviceId}/cancel",
        "responseCode": 200
      },
      "input": {
        "shape": "CancelInputDeviceTransferRequest"
      },
      "output": {
        "shape": "CancelInputDeviceTransferResponse",
        "documentation": "Your cancel request has succeeded."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "UnprocessableEntityException",
          "documentation": "Transfer operation failed, input could not be validated."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Unexpected internal service error."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to cancel input device transfers."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad gateway error."
        },
        {
          "shape": "NotFoundException",
          "documentation": "Input device not found."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on transfer device calls to the input device service."
        },
        {
          "shape": "ConflictException",
          "documentation": "Input device transfer could not be canceled."
        }
      ],
      "documentation": "Cancel an input device transfer that you have requested."
    },
    "ClaimDevice": {
      "name": "ClaimDevice",
      "http": {
        "method": "POST",
        "requestUri": "/prod/claimDevice",
        "responseCode": 200
      },
      "input": {
        "shape": "ClaimDeviceRequest"
      },
      "output": {
        "shape": "ClaimDeviceResponse",
        "documentation": "Your request to claim this device has succeeded."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "UnprocessableEntityException",
          "documentation": "Claim operation failed, device id could not be validated."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Unexpected internal service error."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have the IAM access permissions to claim this device. You must have permission for the WriteClaim operation."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad gateway error."
        },
        {
          "shape": "NotFoundException",
          "documentation": "Device not found or you called an unsupported region."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded. Your have sent this request too many times. There might be a bug in your API client."
        }
      ],
      "documentation": "Send a request to claim an AWS Elemental device that you have purchased from a third-party vendor. After the request succeeds, you will own the device."
    },
    "CreateChannel": {
      "name": "CreateChannel",
      "http": {
        "method": "POST",
        "requestUri": "/prod/channels",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateChannelRequest"
      },
      "output": {
        "shape": "CreateChannelResponse",
        "documentation": "Creation of channel is started."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "UnprocessableEntityException",
          "documentation": "The Channel failed validation and could not be created."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to create the channel."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on create channel calls to channel service."
        },
        {
          "shape": "ConflictException",
          "documentation": "The channel is unable to create due to an issue with channel resources."
        }
      ],
      "documentation": "Creates a new channel"
    },
    "CreateInput": {
      "name": "CreateInput",
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputs",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateInputRequest"
      },
      "output": {
        "shape": "CreateInputResponse",
        "documentation": "Successfully created the input."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "Access was denied"
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Limit exceeded"
        }
      ],
      "documentation": "Create an input"
    },
    "CreateInputSecurityGroup": {
      "name": "CreateInputSecurityGroup",
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputSecurityGroups",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateInputSecurityGroupRequest"
      },
      "output": {
        "shape": "CreateInputSecurityGroupResponse",
        "documentation": "Successfully created the Input Security Group."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request to create an Input Security Group was Invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Server Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "The requester does not have permission to create an Input Security Group"
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Limit Exceeded Error"
        }
      ],
      "documentation": "Creates a Input Security Group"
    },
    "CreateMultiplex": {
      "name": "CreateMultiplex",
      "http": {
        "method": "POST",
        "requestUri": "/prod/multiplexes",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateMultiplexRequest"
      },
      "output": {
        "shape": "CreateMultiplexResponse",
        "documentation": "Creation of the multiplex is in progress."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "MediaLive can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "UnprocessableEntityException",
          "documentation": "The Multiplex failed validation and could not be created."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permission to create the multiplex."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on create multiplex calls to multiplex service."
        },
        {
          "shape": "ConflictException",
          "documentation": "The multiplex is unable to create due to an issue with multiplex resources."
        }
      ],
      "documentation": "Create a new multiplex."
    },
    "CreateMultiplexProgram": {
      "name": "CreateMultiplexProgram",
      "http": {
        "method": "POST",
        "requestUri": "/prod/multiplexes/{multiplexId}/programs",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateMultiplexProgramRequest"
      },
      "output": {
        "shape": "CreateMultiplexProgramResponse",
        "documentation": "Creation of the program is in progress."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "MediaLive can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "UnprocessableEntityException",
          "documentation": "The Multiplex program failed validation and could not be created."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to create a program."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on create multiplex program calls to multiplex service."
        },
        {
          "shape": "ConflictException",
          "documentation": "The multiplex program is unable to create due to an issue with multiplex resources."
        }
      ],
      "documentation": "Create a new program in the multiplex."
    },
    "CreatePartnerInput": {
      "name": "CreatePartnerInput",
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputs/{inputId}/partners",
        "responseCode": 201
      },
      "input": {
        "shape": "CreatePartnerInputRequest"
      },
      "output": {
        "shape": "CreatePartnerInputResponse",
        "documentation": "Successfully created the input."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "Access was denied"
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Limit exceeded"
        }
      ],
      "documentation": "Create a partner input"
    },
    "CreateTags": {
      "name": "CreateTags",
      "http": {
        "method": "POST",
        "requestUri": "/prod/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "shape": "CreateTagsRequest"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "The arn was not found."
        },
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "Access was denied"
        }
      ],
      "documentation": "Create tags for a resource"
    },
    "DeleteChannel": {
      "name": "DeleteChannel",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/channels/{channelId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteChannelRequest"
      },
      "output": {
        "shape": "DeleteChannelResponse",
        "documentation": "Deletion was successfully initiated."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to delete the channel."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "The channel you're requesting to delete does not exist."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on delete channel calls to channel service."
        },
        {
          "shape": "ConflictException",
          "documentation": "The channel is unable to delete due to an issue with channel resources."
        }
      ],
      "documentation": "Starts deletion of channel. The associated outputs are also deleted."
    },
    "DeleteInput": {
      "name": "DeleteInput",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/inputs/{inputId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteInputRequest"
      },
      "output": {
        "shape": "DeleteInputResponse",
        "documentation": "Successful deletion"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "Access was denied"
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "Input not found"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Limit exceeded"
        },
        {
          "shape": "ConflictException",
          "documentation": "Resource conflict"
        }
      ],
      "documentation": "Deletes the input end point"
    },
    "DeleteInputSecurityGroup": {
      "name": "DeleteInputSecurityGroup",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/inputSecurityGroups/{inputSecurityGroupId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteInputSecurityGroupRequest"
      },
      "output": {
        "shape": "DeleteInputSecurityGroupResponse",
        "documentation": "An Input Security Group"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request to delete the Input Security Group was Invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Server Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "The requester does not have permission to delete this Input Security Group"
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "Input Security Group not found"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Limit Exceeded Error"
        }
      ],
      "documentation": "Deletes an Input Security Group"
    },
    "DeleteMultiplex": {
      "name": "DeleteMultiplex",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/multiplexes/{multiplexId}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteMultiplexRequest"
      },
      "output": {
        "shape": "DeleteMultiplexResponse",
        "documentation": "Deletion of the multiplex is in progress."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permission to delete the multiplex."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "The multiplex that you are trying to delete doesn’t exist. Check the ID and try again."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on delete multiplex calls to multiplex service."
        },
        {
          "shape": "ConflictException",
          "documentation": "The multiplex is unable to delete due to an issue with multiplex resources."
        }
      ],
      "documentation": "Delete a multiplex. The multiplex must be idle."
    },
    "DeleteMultiplexProgram": {
      "name": "DeleteMultiplexProgram",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/multiplexes/{multiplexId}/programs/{programName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteMultiplexProgramRequest"
      },
      "output": {
        "shape": "DeleteMultiplexProgramResponse",
        "documentation": "Deletion of the program is in progress."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permission to delete the multiplex program."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "The program that you are trying to delete doesn’t exist. Check the ID and try again."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on delete multiplex program calls to multiplex service."
        },
        {
          "shape": "ConflictException",
          "documentation": "The multiplex program is unable to delete due to an issue with multiplex resources."
        }
      ],
      "documentation": "Delete a program from a multiplex."
    },
    "DeleteReservation": {
      "name": "DeleteReservation",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/reservations/{reservationId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteReservationRequest"
      },
      "output": {
        "shape": "DeleteReservationResponse",
        "documentation": "Deleted reservation"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal service error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to delete reservation"
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad gateway error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "Reservation you're attempting to delete does not exist"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on delete reservation request"
        },
        {
          "shape": "ConflictException",
          "documentation": "The reservation could not be deleted because it is currently active."
        }
      ],
      "documentation": "Delete an expired reservation."
    },
    "DeleteSchedule": {
      "name": "DeleteSchedule",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/channels/{channelId}/schedule",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteScheduleRequest"
      },
      "output": {
        "shape": "DeleteScheduleResponse",
        "documentation": "Successful delete of the schedule."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request to delete the schedule on this channel was invalid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to delete the channel schedule."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "The specified channel does not exist to have its schedule deleted."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on delete schedule calls."
        }
      ],
      "documentation": "Delete all schedule actions on a channel."
    },
    "DeleteTags": {
      "name": "DeleteTags",
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteTagsRequest"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "The arn was not found."
        },
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "Access was denied"
        }
      ],
      "documentation": "Removes tags for a resource"
    },
    "DescribeAccountConfiguration": {
      "name": "DescribeAccountConfiguration",
      "http": {
        "method": "GET",
        "requestUri": "/prod/accountConfiguration",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeAccountConfigurationRequest"
      },
      "output": {
        "shape": "DescribeAccountConfigurationResponse",
        "documentation": "An array of account configuration options."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to describe the account configuration."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on describe account configuration calls."
        }
      ],
      "documentation": "Describe account configuration"
    },
    "DescribeChannel": {
      "name": "DescribeChannel",
      "http": {
        "method": "GET",
        "requestUri": "/prod/channels/{channelId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeChannelRequest"
      },
      "output": {
        "shape": "DescribeChannelResponse",
        "documentation": "Channel details"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to describe the channel."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "The channel you're requesting to describe does not exist."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on describe channel calls to channel service."
        }
      ],
      "documentation": "Gets details about a channel"
    },
    "DescribeInput": {
      "name": "DescribeInput",
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputs/{inputId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeInputRequest"
      },
      "output": {
        "shape": "DescribeInputResponse",
        "documentation": "Input details"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "Access was denied"
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "Input not found"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Limit exceeded"
        }
      ],
      "documentation": "Produces details about an input"
    },
    "DescribeInputDevice": {
      "name": "DescribeInputDevice",
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputDevices/{inputDeviceId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeInputDeviceRequest"
      },
      "output": {
        "shape": "DescribeInputDeviceResponse",
        "documentation": "Details for the input device."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Unexpected internal service error."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to describe the input device."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad gateway error."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The input device you're requesting to describe does not exist. Check the ID."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on describe calls to the input device service."
        }
      ],
      "documentation": "Gets the details for the input device"
    },
    "DescribeInputDeviceThumbnail": {
      "name": "DescribeInputDeviceThumbnail",
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputDevices/{inputDeviceId}/thumbnailData",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeInputDeviceThumbnailRequest"
      },
      "output": {
        "shape": "DescribeInputDeviceThumbnailResponse",
        "documentation": "Latest InputDevice Thumbnail"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Unexpected internal service error."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to describe input device thumbnail."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad gateway error."
        },
        {
          "shape": "NotFoundException",
          "documentation": "Input device not found."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on get thumbnail calls to the input device service."
        }
      ],
      "documentation": "Get the latest thumbnail data for the input device."
    },
    "DescribeInputSecurityGroup": {
      "name": "DescribeInputSecurityGroup",
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputSecurityGroups/{inputSecurityGroupId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeInputSecurityGroupRequest"
      },
      "output": {
        "shape": "DescribeInputSecurityGroupResponse",
        "documentation": "An Input Security Group"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request to describe an Input Security Group was Invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Server Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "The requester does not have permission to describe this Input Security Group"
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "Input Security Group not found"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Limit Exceeded Error"
        }
      ],
      "documentation": "Produces a summary of an Input Security Group"
    },
    "DescribeMultiplex": {
      "name": "DescribeMultiplex",
      "http": {
        "method": "GET",
        "requestUri": "/prod/multiplexes/{multiplexId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeMultiplexRequest"
      },
      "output": {
        "shape": "DescribeMultiplexResponse",
        "documentation": "Details for one multiplex."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permission to describe the multiplex."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "The multiplex that you are trying to describe doesn’t exist. Check the ID and try again."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on describe multiplex calls to multiplex service."
        }
      ],
      "documentation": "Gets details about a multiplex."
    },
    "DescribeMultiplexProgram": {
      "name": "DescribeMultiplexProgram",
      "http": {
        "method": "GET",
        "requestUri": "/prod/multiplexes/{multiplexId}/programs/{programName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeMultiplexProgramRequest"
      },
      "output": {
        "shape": "DescribeMultiplexProgramResponse",
        "documentation": "The details of one program."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permission to describe the multiplex program."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "MediaLive can't describe the program. The multiplex or the program that you specified doesn’t exist. Check the IDs and try again."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on describe multiplex program calls to multiplex service."
        }
      ],
      "documentation": "Get the details for a program in a multiplex."
    },
    "DescribeOffering": {
      "name": "DescribeOffering",
      "http": {
        "method": "GET",
        "requestUri": "/prod/offerings/{offeringId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeOfferingRequest"
      },
      "output": {
        "shape": "DescribeOfferingResponse",
        "documentation": "Offering details"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal service error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to describe offering"
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad gateway error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "Offering you're attempting to describe does not exist"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on describe offering request"
        }
      ],
      "documentation": "Get details for an offering."
    },
    "DescribeReservation": {
      "name": "DescribeReservation",
      "http": {
        "method": "GET",
        "requestUri": "/prod/reservations/{reservationId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeReservationRequest"
      },
      "output": {
        "shape": "DescribeReservationResponse",
        "documentation": "Reservation details"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal service error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to describe reservation"
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad gateway error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "Reservation you're attempting to describe does not exist"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on describe reservation request"
        }
      ],
      "documentation": "Get details for a reservation."
    },
    "DescribeSchedule": {
      "name": "DescribeSchedule",
      "http": {
        "method": "GET",
        "requestUri": "/prod/channels/{channelId}/schedule",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeScheduleRequest"
      },
      "output": {
        "shape": "DescribeScheduleResponse",
        "documentation": "An array of channel schedule actions."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to describe the channel schedule."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "The channel you're requesting a schedule describe for does not exist."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on describe schedule calls."
        }
      ],
      "documentation": "Get a channel schedule"
    },
    "DescribeThumbnails": {
      "name": "DescribeThumbnails",
      "http": {
        "method": "GET",
        "requestUri": "/prod/channels/{channelId}/thumbnails",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeThumbnailsRequest"
      },
      "output": {
        "shape": "DescribeThumbnailsResponse",
        "documentation": "An array of thumbnails for the channel. Each member contains the thumbnail data for one pipeline."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal service error."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to describe thumbnails."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway error."
        },
        {
          "shape": "NotFoundException",
          "documentation": "There are no thumbnails for this channel."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on describe thumbnails calls to channel service."
        },
        {
          "shape": "ConflictException",
          "documentation": "Service do not have permission to customer's KMS key."
        }
      ],
      "documentation": "Describe the latest thumbnails data."
    },
    "ListChannels": {
      "name": "ListChannels",
      "http": {
        "method": "GET",
        "requestUri": "/prod/channels",
        "responseCode": 200
      },
      "input": {
        "shape": "ListChannelsRequest"
      },
      "output": {
        "shape": "ListChannelsResponse",
        "documentation": "An array of channels"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to list channels."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on list channel calls to channel service."
        }
      ],
      "documentation": "Produces list of channels that have been created"
    },
    "ListInputDeviceTransfers": {
      "name": "ListInputDeviceTransfers",
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputDeviceTransfers",
        "responseCode": 200
      },
      "input": {
        "shape": "ListInputDeviceTransfersRequest"
      },
      "output": {
        "shape": "ListInputDeviceTransfersResponse",
        "documentation": "An array of input devices that are currently being transferred."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "UnprocessableEntityException",
          "documentation": "Transfer operation failed, input could not be validated."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Unexpected internal service error."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to list transferring devices."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad gateway error."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on list devices calls to the input device service."
        }
      ],
      "documentation": "List input devices that are currently being transferred. List input devices that you are transferring from your AWS account or input devices that another AWS account is transferring to you."
    },
    "ListInputDevices": {
      "name": "ListInputDevices",
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputDevices",
        "responseCode": 200
      },
      "input": {
        "shape": "ListInputDevicesRequest"
      },
      "output": {
        "shape": "ListInputDevicesResponse",
        "documentation": "An array of input devices."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Unexpected internal service error."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to list input devices."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad gateway error."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on list devices calls to the input device service."
        }
      ],
      "documentation": "List input devices"
    },
    "ListInputSecurityGroups": {
      "name": "ListInputSecurityGroups",
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputSecurityGroups",
        "responseCode": 200
      },
      "input": {
        "shape": "ListInputSecurityGroupsRequest"
      },
      "output": {
        "shape": "ListInputSecurityGroupsResponse",
        "documentation": "An array of Input Security Groups"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request to list Input Security Groups was invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Server Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "The requester does not have permission to call ListInputSecurityGroups"
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Limit Exceeded Error"
        }
      ],
      "documentation": "Produces a list of Input Security Groups for an account"
    },
    "ListInputs": {
      "name": "ListInputs",
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputs",
        "responseCode": 200
      },
      "input": {
        "shape": "ListInputsRequest"
      },
      "output": {
        "shape": "ListInputsResponse",
        "documentation": "An array of inputs"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "Access was denied"
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Limit exceeded"
        }
      ],
      "documentation": "Produces list of inputs that have been created"
    },
    "ListMultiplexPrograms": {
      "name": "ListMultiplexPrograms",
      "http": {
        "method": "GET",
        "requestUri": "/prod/multiplexes/{multiplexId}/programs",
        "responseCode": 200
      },
      "input": {
        "shape": "ListMultiplexProgramsRequest"
      },
      "output": {
        "shape": "ListMultiplexProgramsResponse",
        "documentation": "An array of the programs for one multiplex."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "MediaLive can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to list multiplex programs."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "MediaLive can't provide the list of programs. The multiplex that you specified doesn’t exist. Check the ID and try again."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on list multiplex calls to multiplex service."
        }
      ],
      "documentation": "List the programs that currently exist for a specific multiplex."
    },
    "ListMultiplexes": {
      "name": "ListMultiplexes",
      "http": {
        "method": "GET",
        "requestUri": "/prod/multiplexes",
        "responseCode": 200
      },
      "input": {
        "shape": "ListMultiplexesRequest"
      },
      "output": {
        "shape": "ListMultiplexesResponse",
        "documentation": "An array of multiplexes."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "MediaLive can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permission to list multiplexes."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on list multiplex calls to multiplex service."
        }
      ],
      "documentation": "Retrieve a list of the existing multiplexes."
    },
    "ListOfferings": {
      "name": "ListOfferings",
      "http": {
        "method": "GET",
        "requestUri": "/prod/offerings",
        "responseCode": 200
      },
      "input": {
        "shape": "ListOfferingsRequest"
      },
      "output": {
        "shape": "ListOfferingsResponse",
        "documentation": "List of offerings"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal service error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to list offerings"
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad gateway error"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on list offerings request"
        }
      ],
      "documentation": "List offerings available for purchase."
    },
    "ListReservations": {
      "name": "ListReservations",
      "http": {
        "method": "GET",
        "requestUri": "/prod/reservations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListReservationsRequest"
      },
      "output": {
        "shape": "ListReservationsResponse",
        "documentation": "List of reservations"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal service error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to list reservations"
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad gateway error"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on list reservations request"
        }
      ],
      "documentation": "List purchased reservations."
    },
    "ListTagsForResource": {
      "name": "ListTagsForResource",
      "http": {
        "method": "GET",
        "requestUri": "/prod/tags/{resource-arn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "output": {
        "shape": "ListTagsForResourceResponse",
        "documentation": "An array of tags"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "The arn was not found"
        },
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "Access was denied"
        }
      ],
      "documentation": "Produces list of tags that have been created for a resource"
    },
    "PurchaseOffering": {
      "name": "PurchaseOffering",
      "http": {
        "method": "POST",
        "requestUri": "/prod/offerings/{offeringId}/purchase",
        "responseCode": 201
      },
      "input": {
        "shape": "PurchaseOfferingRequest"
      },
      "output": {
        "shape": "PurchaseOfferingResponse",
        "documentation": "Purchased reservation"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal service error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to purchase the offering"
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad gateway error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "Offering you're attempting to purchase does not exist"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on purchase offering request"
        },
        {
          "shape": "ConflictException",
          "documentation": "Offering purchase prevented by service resource issue"
        }
      ],
      "documentation": "Purchase an offering and create a reservation."
    },
    "RebootInputDevice": {
      "name": "RebootInputDevice",
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputDevices/{inputDeviceId}/reboot",
        "responseCode": 200
      },
      "input": {
        "shape": "RebootInputDeviceRequest"
      },
      "output": {
        "shape": "RebootInputDeviceResponse",
        "documentation": "Your reboot request has succeeded."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "UnprocessableEntityException",
          "documentation": "Reboot operation failed, input could not be validated."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Unexpected internal service error."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to reboot input device."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad gateway error."
        },
        {
          "shape": "NotFoundException",
          "documentation": "Input device not found."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on reboot device calls to the input device service."
        }
      ],
      "documentation": "Send a reboot command to the specified input device. The device will begin rebooting within a few seconds of sending the command. When the reboot is complete, the device’s connection status will change to connected."
    },
    "RejectInputDeviceTransfer": {
      "name": "RejectInputDeviceTransfer",
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputDevices/{inputDeviceId}/reject",
        "responseCode": 200
      },
      "input": {
        "shape": "RejectInputDeviceTransferRequest"
      },
      "output": {
        "shape": "RejectInputDeviceTransferResponse",
        "documentation": "Your reject request has succeeded."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "UnprocessableEntityException",
          "documentation": "Transfer operation failed, input could not be validated."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Unexpected internal service error."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to reject input device transfers."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad gateway error."
        },
        {
          "shape": "NotFoundException",
          "documentation": "Input device not found."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on transfer device calls to the input device service."
        },
        {
          "shape": "ConflictException",
          "documentation": "Input device transfer could not be rejected."
        }
      ],
      "documentation": "Reject the transfer of the specified input device to your AWS account."
    },
    "StartChannel": {
      "name": "StartChannel",
      "http": {
        "method": "POST",
        "requestUri": "/prod/channels/{channelId}/start",
        "responseCode": 200
      },
      "input": {
        "shape": "StartChannelRequest"
      },
      "output": {
        "shape": "StartChannelResponse",
        "documentation": "Successfully initiated start of the channel."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to start the channel."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "The channel you're requesting to start does not exist."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on start channel calls to channel service."
        },
        {
          "shape": "ConflictException",
          "documentation": "The channel is unable to start due to an issue with channel resources."
        }
      ],
      "documentation": "Starts an existing channel"
    },
    "StartInputDevice": {
      "name": "StartInputDevice",
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputDevices/{inputDeviceId}/start",
        "responseCode": 200
      },
      "input": {
        "shape": "StartInputDeviceRequest"
      },
      "output": {
        "shape": "StartInputDeviceResponse",
        "documentation": "Your start request has succeeded."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "UnprocessableEntityException",
          "documentation": "Start operation failed, input could not be validated."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Unexpected internal service error."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to start the input device."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad gateway error."
        },
        {
          "shape": "NotFoundException",
          "documentation": "Input device not found."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on start device calls to the input device service."
        }
      ],
      "documentation": "Start an input device that is attached to a MediaConnect flow. (There is no need to start a device that is attached to a MediaLive input; MediaLive starts the device when the channel starts.)"
    },
    "StartInputDeviceMaintenanceWindow": {
      "name": "StartInputDeviceMaintenanceWindow",
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputDevices/{inputDeviceId}/startInputDeviceMaintenanceWindow",
        "responseCode": 200
      },
      "input": {
        "shape": "StartInputDeviceMaintenanceWindowRequest"
      },
      "output": {
        "shape": "StartInputDeviceMaintenanceWindowResponse",
        "documentation": "Your start maintenance window request has succeeded."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "UnprocessableEntityException",
          "documentation": "Start maintenance window operation failed, input could not be validated."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Unexpected internal service error."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to start a maintenance window for this input device."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad gateway error."
        },
        {
          "shape": "NotFoundException",
          "documentation": "Input device not found."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on start maintenance window calls to the input device service."
        }
      ],
      "documentation": "Start a maintenance window for the specified input device. Starting a maintenance window will give the device up to two hours to install software. If the device was streaming prior to the maintenance, it will resume streaming when the software is fully installed. Devices automatically install updates while they are powered on and their MediaLive channels are stopped. A maintenance window allows you to update a device without having to stop MediaLive channels that use the device. The device must remain powered on and connected to the internet for the duration of the maintenance."
    },
    "StartMultiplex": {
      "name": "StartMultiplex",
      "http": {
        "method": "POST",
        "requestUri": "/prod/multiplexes/{multiplexId}/start",
        "responseCode": 202
      },
      "input": {
        "shape": "StartMultiplexRequest"
      },
      "output": {
        "shape": "StartMultiplexResponse",
        "documentation": "The action to start the multiplex is in progress."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "MediaLive can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permission to start the multiplex."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "The multiplex that you are trying to start doesn’t exist. Check the ID and try again."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on start multiplex calls to multiplex service."
        },
        {
          "shape": "ConflictException",
          "documentation": "The multiplex is unable to start due to an issue with multiplex resources."
        }
      ],
      "documentation": "Start (run) the multiplex. Starting the multiplex does not start the channels. You must explicitly start each channel."
    },
    "StopChannel": {
      "name": "StopChannel",
      "http": {
        "method": "POST",
        "requestUri": "/prod/channels/{channelId}/stop",
        "responseCode": 200
      },
      "input": {
        "shape": "StopChannelRequest"
      },
      "output": {
        "shape": "StopChannelResponse",
        "documentation": "Successfully initiated stop of the channel."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to stop the channel."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "The channel you're requesting to stop does not exist."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on stop channel calls to channel service."
        },
        {
          "shape": "ConflictException",
          "documentation": "The channel is unable to stop due to an issue with channel resources."
        }
      ],
      "documentation": "Stops a running channel"
    },
    "StopInputDevice": {
      "name": "StopInputDevice",
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputDevices/{inputDeviceId}/stop",
        "responseCode": 200
      },
      "input": {
        "shape": "StopInputDeviceRequest"
      },
      "output": {
        "shape": "StopInputDeviceResponse",
        "documentation": "Your stop request has succeeded."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "UnprocessableEntityException",
          "documentation": "Start operation failed, input could not be validated."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Unexpected internal service error."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to stop the input device."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad gateway error."
        },
        {
          "shape": "NotFoundException",
          "documentation": "Input device not found."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on stop device calls to the input device service."
        }
      ],
      "documentation": "Stop an input device that is attached to a MediaConnect flow. (There is no need to stop a device that is attached to a MediaLive input; MediaLive automatically stops the device when the channel stops.)"
    },
    "StopMultiplex": {
      "name": "StopMultiplex",
      "http": {
        "method": "POST",
        "requestUri": "/prod/multiplexes/{multiplexId}/stop",
        "responseCode": 202
      },
      "input": {
        "shape": "StopMultiplexRequest"
      },
      "output": {
        "shape": "StopMultiplexResponse",
        "documentation": "The action to stop the multiplex is in progress."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "MediaLive can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permission to stop the multiplex."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "The multiplex that you are trying to stop doesn’t exist. Check the ID and try again."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on stop multiplex calls to multiplex service."
        },
        {
          "shape": "ConflictException",
          "documentation": "The multiplex is unable to stop due to an issue with multiplex resources."
        }
      ],
      "documentation": "Stops a running multiplex. If the multiplex isn't running, this action has no effect."
    },
    "TransferInputDevice": {
      "name": "TransferInputDevice",
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputDevices/{inputDeviceId}/transfer",
        "responseCode": 200
      },
      "input": {
        "shape": "TransferInputDeviceRequest"
      },
      "output": {
        "shape": "TransferInputDeviceResponse",
        "documentation": "The device transfer request has started."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "UnprocessableEntityException",
          "documentation": "Transfer operation failed, input could not be validated."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Unexpected internal service error."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to transfer input devices."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad gateway error."
        },
        {
          "shape": "NotFoundException",
          "documentation": "Input device not found."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on transfer device calls to the input device service."
        },
        {
          "shape": "ConflictException",
          "documentation": "Input device could not be transferred."
        }
      ],
      "documentation": "Start an input device transfer to another AWS account. After you make the request, the other account must accept or reject the transfer."
    },
    "UpdateAccountConfiguration": {
      "name": "UpdateAccountConfiguration",
      "http": {
        "method": "PUT",
        "requestUri": "/prod/accountConfiguration",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateAccountConfigurationRequest"
      },
      "output": {
        "shape": "UpdateAccountConfigurationResponse",
        "documentation": "Successful update of the account configuration."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "UnprocessableEntityException",
          "documentation": "The update account configuration request failed validation."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to update the account's configuration."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on update account configuration calls."
        }
      ],
      "documentation": "Update account configuration"
    },
    "UpdateChannel": {
      "name": "UpdateChannel",
      "http": {
        "method": "PUT",
        "requestUri": "/prod/channels/{channelId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateChannelRequest"
      },
      "output": {
        "shape": "UpdateChannelResponse",
        "documentation": "Channel is successfully updated."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "UnprocessableEntityException",
          "documentation": "The channel configuration failed validation and could not be updated."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to update the channel."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "ConflictException",
          "documentation": "The channel is unable to update due to an issue with channel resources."
        }
      ],
      "documentation": "Updates a channel."
    },
    "UpdateChannelClass": {
      "name": "UpdateChannelClass",
      "http": {
        "method": "PUT",
        "requestUri": "/prod/channels/{channelId}/channelClass",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateChannelClassRequest"
      },
      "output": {
        "shape": "UpdateChannelClassResponse",
        "documentation": "The class of the channel has been successfully updated."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request to update the channel class was invalid."
        },
        {
          "shape": "UnprocessableEntityException",
          "documentation": "The channel configuration failed validation when attempting to update the channel class."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to update the class of this channel."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "The channel you're trying to update the class on does not exist."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on update channel class calls."
        },
        {
          "shape": "ConflictException",
          "documentation": "The channel class cannot be updated due to an issue with channel resources."
        }
      ],
      "documentation": "Changes the class of the channel."
    },
    "UpdateInput": {
      "name": "UpdateInput",
      "http": {
        "method": "PUT",
        "requestUri": "/prod/inputs/{inputId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateInputRequest"
      },
      "output": {
        "shape": "UpdateInputResponse",
        "documentation": "The input update is successfully initiated."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request to update the input was invalid."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "The requester does not have permission to update an input."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "The input was not found."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "ConflictException",
          "documentation": "The input was unable to be updated at this time due to an issue with input resources."
        }
      ],
      "documentation": "Updates an input."
    },
    "UpdateInputDevice": {
      "name": "UpdateInputDevice",
      "http": {
        "method": "PUT",
        "requestUri": "/prod/inputDevices/{inputDeviceId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateInputDeviceRequest"
      },
      "output": {
        "shape": "UpdateInputDeviceResponse",
        "documentation": "Input device update is in progress."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid."
        },
        {
          "shape": "UnprocessableEntityException",
          "documentation": "Input device failed validation and could not be created."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Unexpected internal service error."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to update the input device."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad gateway error."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The input device you're requesting to does not exist. Check the ID."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded on update calls to the input device service."
        }
      ],
      "documentation": "Updates the parameters for the input device."
    },
    "UpdateInputSecurityGroup": {
      "name": "UpdateInputSecurityGroup",
      "http": {
        "method": "PUT",
        "requestUri": "/prod/inputSecurityGroups/{inputSecurityGroupId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateInputSecurityGroupRequest"
      },
      "output": {
        "shape": "UpdateInputSecurityGroupResponse",
        "documentation": "Successfully initiated the update of the Input Security Group."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The request to update the Input Security Group was invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Server Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "The requester does not have permission to update an Input Security Group"
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "The Input Security Group was not found."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "ConflictException",
          "documentation": "The Input Security Group was unable to be updated due to an issue with input security group resources."
        }
      ],
      "documentation": "Update an Input Security Group's Whilelists."
    },
    "UpdateMultiplex": {
      "name": "UpdateMultiplex",
      "http": {
        "method": "PUT",
        "requestUri": "/prod/multiplexes/{multiplexId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateMultiplexRequest"
      },
      "output": {
        "shape": "UpdateMultiplexResponse",
        "documentation": "The update to the multiplex has succeeded."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "MediaLive can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "UnprocessableEntityException",
          "documentation": "The multiplex configuration failed validation and could not be updated."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permission to update the multiplex."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "The multiplex that you are trying to update doesn’t exist. Check the ID and try again."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "ConflictException",
          "documentation": "The multiplex is unable to update due to an issue with multiplex resources."
        }
      ],
      "documentation": "Updates a multiplex."
    },
    "UpdateMultiplexProgram": {
      "name": "UpdateMultiplexProgram",
      "http": {
        "method": "PUT",
        "requestUri": "/prod/multiplexes/{multiplexId}/programs/{programName}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateMultiplexProgramRequest"
      },
      "output": {
        "shape": "UpdateMultiplexProgramResponse",
        "documentation": "The update to the program has succeeded."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "MediaLive can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "UnprocessableEntityException",
          "documentation": "The multiplex program failed validation and could not be updated."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permission to update the multiplex program."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "MediaLive can't update the program. The multiplex or the program that you specified doesn’t exist. Check the IDs and try again."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "ConflictException",
          "documentation": "The multiplex program is unable to update due to an issue with multiplex resources."
        }
      ],
      "documentation": "Update a program in a multiplex."
    },
    "UpdateReservation": {
      "name": "UpdateReservation",
      "http": {
        "method": "PUT",
        "requestUri": "/prod/reservations/{reservationId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateReservationRequest"
      },
      "output": {
        "shape": "UpdateReservationResponse",
        "documentation": "Updated reservation"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "This request was invalid"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal service error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You do not have permission to update reservation"
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad gateway error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "Reservation not found"
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Request limit exceeded"
        },
        {
          "shape": "ConflictException",
          "documentation": "The reservation could not be updated"
        }
      ],
      "documentation": "Update reservation."
    },
    "RestartChannelPipelines": {
      "name": "RestartChannelPipelines",
      "http": {
        "method": "POST",
        "requestUri": "/prod/channels/{channelId}/restartChannelPipelines",
        "responseCode": 200
      },
      "input": {
        "shape": "RestartChannelPipelinesRequest"
      },
      "output": {
        "shape": "RestartChannelPipelinesResponse",
        "documentation": "MediaLive successfully initiated the restart request."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Verify that the syntax is correct."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "Internal Service Error"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials that you sent."
        },
        {
          "shape": "BadGatewayException",
          "documentation": "Bad Gateway Error"
        },
        {
          "shape": "NotFoundException",
          "documentation": "The channel or pipeline you specified doesn't exist."
        },
        {
          "shape": "GatewayTimeoutException",
          "documentation": "Gateway Timeout"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service could not complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Restart pipelines in one channel that is currently running."
    },
    "CreateCloudWatchAlarmTemplate": {
      "name": "CreateCloudWatchAlarmTemplate",
      "http": {
        "method": "POST",
        "requestUri": "/prod/cloudwatch-alarm-templates",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateCloudWatchAlarmTemplateRequest"
      },
      "output": {
        "shape": "CreateCloudWatchAlarmTemplateResponse",
        "documentation": "CreateCloudWatchAlarmTemplate 201 response"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "BadRequestException 400 response"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "InternalServerErrorException 500 response"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "ForbiddenException 403 response"
        },
        {
          "shape": "NotFoundException",
          "documentation": "NotFoundException 404 response"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "TooManyRequestsException 429 response"
        },
        {
          "shape": "ConflictException",
          "documentation": "ConflictException 409 response"
        }
      ],
      "documentation": "Creates a cloudwatch alarm template to dynamically generate cloudwatch metric alarms on targeted resource types."
    },
    "CreateCloudWatchAlarmTemplateGroup": {
      "name": "CreateCloudWatchAlarmTemplateGroup",
      "http": {
        "method": "POST",
        "requestUri": "/prod/cloudwatch-alarm-template-groups",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateCloudWatchAlarmTemplateGroupRequest"
      },
      "output": {
        "shape": "CreateCloudWatchAlarmTemplateGroupResponse",
        "documentation": "CreateCloudWatchAlarmTemplateGroup 201 response"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "BadRequestException 400 response"
        },
        {
[...]
