{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-05-10",
    "endpointPrefix":"datazone",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"Amazon DataZone",
    "serviceId":"DataZone",
    "signatureVersion":"v4",
    "signingName":"datazone",
    "uid":"datazone-2018-05-10",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AcceptPredictions":{
      "name":"AcceptPredictions",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/domains/{domainIdentifier}/assets/{identifier}/accept-predictions",
        "responseCode":200
      },
      "input":{"shape":"AcceptPredictionsInput"},
      "output":{"shape":"AcceptPredictionsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Accepts automatically generated business-friendly metadata for your Amazon DataZone assets.</p>",
      "idempotent":true
    },
    "AcceptSubscriptionRequest":{
      "name":"AcceptSubscriptionRequest",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/domains/{domainIdentifier}/subscription-requests/{identifier}/accept",
        "responseCode":200
      },
      "input":{"shape":"AcceptSubscriptionRequestInput"},
      "output":{"shape":"AcceptSubscriptionRequestOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Accepts a subscription request to a specific asset. </p>",
      "idempotent":true
    },
    "AddEntityOwner":{
      "name":"AddEntityOwner",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/entities/{entityType}/{entityIdentifier}/addOwner",
        "responseCode":201
      },
      "input":{"shape":"AddEntityOwnerInput"},
      "output":{"shape":"AddEntityOwnerOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Adds the owner of an entity (a domain unit).</p>",
      "idempotent":true
    },
    "AddPolicyGrant":{
      "name":"AddPolicyGrant",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/policies/managed/{entityType}/{entityIdentifier}/addGrant",
        "responseCode":201
      },
      "input":{"shape":"AddPolicyGrantInput"},
      "output":{"shape":"AddPolicyGrantOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Adds a policy grant (an authorization policy) to a specified entity, including domain units, environment blueprint configurations, or environment profiles.</p>",
      "idempotent":true
    },
    "AssociateEnvironmentRole":{
      "name":"AssociateEnvironmentRole",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/roles/{environmentRoleArn}",
        "responseCode":200
      },
      "input":{"shape":"AssociateEnvironmentRoleInput"},
      "output":{"shape":"AssociateEnvironmentRoleOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Associates the environment role in Amazon DataZone.</p>"
    },
    "AssociateGovernedTerms":{
      "name":"AssociateGovernedTerms",
      "http":{
        "method":"PATCH",
        "requestUri":"/v2/domains/{domainIdentifier}/entities/{entityType}/{entityIdentifier}/associate-governed-terms",
        "responseCode":200
      },
      "input":{"shape":"AssociateGovernedTermsInput"},
      "output":{"shape":"AssociateGovernedTermsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Associates governed terms with an asset.</p>"
    },
    "CancelMetadataGenerationRun":{
      "name":"CancelMetadataGenerationRun",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/metadata-generation-runs/{identifier}/cancel",
        "responseCode":200
      },
      "input":{"shape":"CancelMetadataGenerationRunInput"},
      "output":{"shape":"CancelMetadataGenerationRunOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Cancels the metadata generation run.</p> <p>Prerequisites:</p> <ul> <li> <p>The run must exist and be in a cancelable status (e.g., SUBMITTED, IN_PROGRESS). </p> </li> <li> <p>Runs in SUCCEEDED status cannot be cancelled.</p> </li> <li> <p>User must have access to the run and cancel permissions.</p> </li> </ul>"
    },
    "CancelSubscription":{
      "name":"CancelSubscription",
      "http":{
        "method":"PUT",
        "requestUri":"/v2/domains/{domainIdentifier}/subscriptions/{identifier}/cancel",
        "responseCode":200
      },
      "input":{"shape":"CancelSubscriptionInput"},
      "output":{"shape":"CancelSubscriptionOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Cancels the subscription to the specified asset.</p>",
      "idempotent":true
    },
    "CreateAccountPool":{
      "name":"CreateAccountPool",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/account-pools",
        "responseCode":201
      },
      "input":{"shape":"CreateAccountPoolInput"},
      "output":{"shape":"CreateAccountPoolOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates an account pool. </p>"
    },
    "CreateAsset":{
      "name":"CreateAsset",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/assets",
        "responseCode":201
      },
      "input":{"shape":"CreateAssetInput"},
      "output":{"shape":"CreateAssetOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates an asset in Amazon DataZone catalog.</p> <p>Before creating assets, make sure that the following requirements are met:</p> <ul> <li> <p> <code>--domain-identifier</code> must refer to an existing domain.</p> </li> <li> <p> <code>--owning-project-identifier</code> must be a valid project within the domain.</p> </li> <li> <p>Asset type must be created beforehand using <code>create-asset-type</code>, or be a supported system-defined type. For more information, see <a href=\"https://docs.aws.amazon.com/cli/latest/reference/datazone/create-asset-type.html\">create-asset-type</a>.</p> </li> <li> <p> <code>--type-revision</code> (if used) must match a valid revision of the asset type.</p> </li> <li> <p>Form type must exist and be associated with the asset type. Use <code>create-form-type</code> to define. For more information, see <a href=\"https://docs.aws.amazon.com/cli/latest/reference/datazone/create-form-type.html\">create-form-type</a>.</p> </li> <li> <p>Form content must include all required fields as per the form schema (e.g., <code>bucketArn</code>).</p> </li> </ul> <p>You must invoke the following pre-requisite commands before invoking this API:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/datazone/latest/APIReference/API_CreateFormType.html\">CreateFormType</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/datazone/latest/APIReference/API_CreateAssetType.html\">CreateAssetType</a> </p> </li> </ul>",
      "idempotent":true
    },
    "CreateAssetFilter":{
      "name":"CreateAssetFilter",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/assets/{assetIdentifier}/filters",
        "responseCode":201
      },
      "input":{"shape":"CreateAssetFilterInput"},
      "output":{"shape":"CreateAssetFilterOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates a data asset filter.</p> <p>Asset filters provide a sophisticated way to create controlled views of data assets by selecting specific columns or applying row-level filters. This capability is crucial for organizations that need to share data while maintaining security and privacy controls. For example, your database might be filtered to show only non-PII fields to certain users, or sales data might be filtered by region for different regional teams. Asset filters enable fine-grained access control while maintaining a single source of truth.</p> <p>Prerequisites:</p> <ul> <li> <p>A valid domain (<code>--domain-identifier</code>) must exist. </p> </li> <li> <p>A data asset (<code>--asset-identifier</code>) must already be created under that domain.</p> </li> <li> <p>The asset must have the referenced columns available in its schema for column-based filtering.</p> </li> <li> <p>You cannot specify both (<code>columnConfiguration</code>, <code>rowConfiguration</code>)at the same time.</p> </li> </ul>",
      "idempotent":true
    },
    "CreateAssetRevision":{
      "name":"CreateAssetRevision",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/assets/{identifier}/revisions",
        "responseCode":200
      },
      "input":{"shape":"CreateAssetRevisionInput"},
      "output":{"shape":"CreateAssetRevisionOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates a revision of the asset.</p> <p>Asset revisions represent new versions of existing assets, capturing changes to either the underlying data or its metadata. They maintain a historical record of how assets evolve over time, who made changes, and when those changes occurred. This versioning capability is crucial for governance and compliance, allowing organizations to track changes, understand their impact, and roll back if necessary.</p> <p>Prerequisites:</p> <ul> <li> <p>Asset must already exist in the domain with identifier. </p> </li> <li> <p>The form type with correct revision must be registered in the same domain.</p> </li> <li> <p>The form content must include all required fields (e.g., <code>bucketArn</code> for <code>S3ObjectCollectionForm</code>).</p> </li> <li> <p>The owning project of the original asset must still exist and be active.</p> </li> <li> <p>User must have write access to the project and domain.</p> </li> </ul>",
      "idempotent":true
    },
    "CreateAssetType":{
      "name":"CreateAssetType",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/asset-types",
        "responseCode":201
      },
      "input":{"shape":"CreateAssetTypeInput"},
      "output":{"shape":"CreateAssetTypeOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates a custom asset type.</p> <p>Prerequisites:</p> <ul> <li> <p>The form type with <code>typeIdentifier</code> and <code>typeRevision</code> must exist and be published. </p> </li> <li> <p>You must have <code>CreateAssetType</code> permissions.</p> </li> <li> <p>The domain-identifier and owning-project-identifier must be valid and active.</p> </li> <li> <p>The name of the asset type must be unique within the domain — duplicate names will cause failure.</p> </li> <li> <p>JSON input must be valid — incorrect formatting causes Invalid JSON errors.</p> </li> </ul>"
    },
    "CreateConnection":{
      "name":"CreateConnection",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/connections",
        "responseCode":201
      },
      "input":{"shape":"CreateConnectionInput"},
      "output":{"shape":"CreateConnectionOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates a new connection. In Amazon DataZone, a connection enables you to connect your resources (domains, projects, and environments) to external resources and services.</p>",
      "idempotent":true
    },
    "CreateDataProduct":{
      "name":"CreateDataProduct",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/data-products",
        "responseCode":201
      },
      "input":{"shape":"CreateDataProductInput"},
      "output":{"shape":"CreateDataProductOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates a data product.</p> <p>A data product is a comprehensive package that combines data assets with their associated metadata, documentation, and access controls. It's designed to serve specific business needs or use cases, making it easier for users to find and consume data appropriately. Data products include important information about data quality, freshness, and usage guidelines, effectively bridging the gap between data producers and consumers while ensuring proper governance.</p> <p>Prerequisites:</p> <ul> <li> <p>The domain must exist and be accessible. </p> </li> <li> <p>The owning project must be valid and active.</p> </li> <li> <p>The name must be unique within the domain (no existing data product with the same name).</p> </li> <li> <p>User must have create permissions for data products in the project.</p> </li> <li> <p>The domain must have Amazon DataZone publishing enabled.</p> </li> </ul>",
      "idempotent":true
    },
    "CreateDataProductRevision":{
      "name":"CreateDataProductRevision",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/data-products/{identifier}/revisions",
        "responseCode":201
      },
      "input":{"shape":"CreateDataProductRevisionInput"},
      "output":{"shape":"CreateDataProductRevisionOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates a data product revision.</p> <p>Prerequisites:</p> <ul> <li> <p>The original data product must exist in the given domain. </p> </li> <li> <p>User must have permissions on the data product.</p> </li> <li> <p>The domain must be valid and accessible.</p> </li> <li> <p>The new revision name must comply with naming constraints (if required).</p> </li> </ul>",
      "idempotent":true
    },
    "CreateDataSource":{
      "name":"CreateDataSource",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/data-sources",
        "responseCode":201
      },
      "input":{"shape":"CreateDataSourceInput"},
      "output":{"shape":"CreateDataSourceOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates an Amazon DataZone data source.</p>",
      "idempotent":true
    },
    "CreateDomain":{
      "name":"CreateDomain",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains",
        "responseCode":201
      },
      "input":{"shape":"CreateDomainInput"},
      "output":{"shape":"CreateDomainOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates an Amazon DataZone domain.</p>",
      "idempotent":true
    },
    "CreateDomainUnit":{
      "name":"CreateDomainUnit",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/domain-units",
        "responseCode":201
      },
      "input":{"shape":"CreateDomainUnitInput"},
      "output":{"shape":"CreateDomainUnitOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates a domain unit in Amazon DataZone.</p>",
      "idempotent":true
    },
    "CreateEnvironment":{
      "name":"CreateEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/environments",
        "responseCode":201
      },
      "input":{"shape":"CreateEnvironmentInput"},
      "output":{"shape":"CreateEnvironmentOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Create an Amazon DataZone environment.</p>"
    },
    "CreateEnvironmentAction":{
      "name":"CreateEnvironmentAction",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/actions",
        "responseCode":201
      },
      "input":{"shape":"CreateEnvironmentActionInput"},
      "output":{"shape":"CreateEnvironmentActionOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates an action for the environment, for example, creates a console link for an analytics tool that is available in this environment.</p>"
    },
    "CreateEnvironmentBlueprint":{
      "name":"CreateEnvironmentBlueprint",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/environment-blueprints",
        "responseCode":201
      },
      "input":{"shape":"CreateEnvironmentBlueprintInput"},
      "output":{"shape":"CreateEnvironmentBlueprintOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates a Amazon DataZone blueprint.</p>"
    },
    "CreateEnvironmentProfile":{
      "name":"CreateEnvironmentProfile",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/environment-profiles",
        "responseCode":201
      },
      "input":{"shape":"CreateEnvironmentProfileInput"},
      "output":{"shape":"CreateEnvironmentProfileOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates an Amazon DataZone environment profile.</p>"
    },
    "CreateFormType":{
      "name":"CreateFormType",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/form-types",
        "responseCode":201
      },
      "input":{"shape":"CreateFormTypeInput"},
      "output":{"shape":"CreateFormTypeOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates a metadata form type.</p> <p>Prerequisites:</p> <ul> <li> <p>The domain must exist and be in an <code>ENABLED</code> state. </p> </li> <li> <p>The owning project must exist and be accessible.</p> </li> <li> <p>The name must be unique within the domain.</p> </li> </ul>"
    },
    "CreateGlossary":{
      "name":"CreateGlossary",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/glossaries",
        "responseCode":201
      },
      "input":{"shape":"CreateGlossaryInput"},
      "output":{"shape":"CreateGlossaryOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates an Amazon DataZone business glossary.</p> <p>Specifies that this is a create glossary policy.</p> <p>A glossary serves as the central repository for business terminology and definitions within an organization. It helps establish and maintain a common language across different departments and teams, reducing miscommunication and ensuring consistent interpretation of business concepts. Glossaries can include hierarchical relationships between terms, cross-references, and links to actual data assets, making them invaluable for both business users and technical teams trying to understand and use data correctly.</p> <p>Prerequisites:</p> <ul> <li> <p>Domain must exist and be in an active state. </p> </li> <li> <p>Owning project must exist and be accessible by the caller.</p> </li> <li> <p>The glossary name must be unique within the domain.</p> </li> </ul>",
      "idempotent":true
    },
    "CreateGlossaryTerm":{
      "name":"CreateGlossaryTerm",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/glossary-terms",
        "responseCode":201
      },
      "input":{"shape":"CreateGlossaryTermInput"},
      "output":{"shape":"CreateGlossaryTermOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates a business glossary term.</p> <p>A glossary term represents an individual entry within the Amazon DataZone glossary, serving as a standardized definition for a specific business concept or data element. Each term can include rich metadata such as detailed definitions, synonyms, related terms, and usage examples. Glossary terms can be linked directly to data assets, providing business context to technical data elements. This linking capability helps users understand the business meaning of data fields and ensures consistent interpretation across different systems and teams. Terms can also have relationships with other terms, creating a semantic network that reflects the complexity of business concepts.</p> <p>Prerequisites:</p> <ul> <li> <p>Domain must exist. </p> </li> <li> <p>Glossary must exist and be in an ENABLED state.</p> </li> <li> <p>The term name must be unique within the glossary.</p> </li> <li> <p>Ensure term does not conflict with existing terms in hierarchy.</p> </li> </ul>",
      "idempotent":true
    },
    "CreateGroupProfile":{
      "name":"CreateGroupProfile",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/group-profiles",
        "responseCode":201
      },
      "input":{"shape":"CreateGroupProfileInput"},
      "output":{"shape":"CreateGroupProfileOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates a group profile in Amazon DataZone.</p>",
      "idempotent":true
    },
    "CreateListingChangeSet":{
      "name":"CreateListingChangeSet",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/listings/change-set",
        "responseCode":200
      },
      "input":{"shape":"CreateListingChangeSetInput"},
      "output":{"shape":"CreateListingChangeSetOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Publishes a listing (a record of an asset at a given time) or removes a listing from the catalog. </p>"
    },
    "CreateProject":{
      "name":"CreateProject",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/projects",
        "responseCode":201
      },
      "input":{"shape":"CreateProjectInput"},
      "output":{"shape":"CreateProjectOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates an Amazon DataZone project.</p>"
    },
    "CreateProjectMembership":{
      "name":"CreateProjectMembership",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/projects/{projectIdentifier}/createMembership",
        "responseCode":201
      },
      "input":{"shape":"CreateProjectMembershipInput"},
      "output":{"shape":"CreateProjectMembershipOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates a project membership in Amazon DataZone.</p>"
    },
    "CreateProjectProfile":{
      "name":"CreateProjectProfile",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/project-profiles",
        "responseCode":201
      },
      "input":{"shape":"CreateProjectProfileInput"},
      "output":{"shape":"CreateProjectProfileOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates a project profile.</p>"
    },
    "CreateRule":{
      "name":"CreateRule",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/rules",
        "responseCode":201
      },
      "input":{"shape":"CreateRuleInput"},
      "output":{"shape":"CreateRuleOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates a rule in Amazon DataZone. A rule is a formal agreement that enforces specific requirements across user workflows (e.g., publishing assets to the catalog, requesting subscriptions, creating projects) within the Amazon DataZone data portal. These rules help maintain consistency, ensure compliance, and uphold governance standards in data management processes. For instance, a metadata enforcement rule can specify the required information for creating a subscription request or publishing a data asset to the catalog, ensuring alignment with organizational standards.</p>",
      "idempotent":true
    },
    "CreateSubscriptionGrant":{
      "name":"CreateSubscriptionGrant",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/subscription-grants",
        "responseCode":200
      },
      "input":{"shape":"CreateSubscriptionGrantInput"},
      "output":{"shape":"CreateSubscriptionGrantOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates a subsscription grant in Amazon DataZone.</p>"
    },
    "CreateSubscriptionRequest":{
      "name":"CreateSubscriptionRequest",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/subscription-requests",
        "responseCode":200
      },
      "input":{"shape":"CreateSubscriptionRequestInput"},
      "output":{"shape":"CreateSubscriptionRequestOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates a subscription request in Amazon DataZone.</p>"
    },
    "CreateSubscriptionTarget":{
      "name":"CreateSubscriptionTarget",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/subscription-targets",
        "responseCode":200
      },
      "input":{"shape":"CreateSubscriptionTargetInput"},
      "output":{"shape":"CreateSubscriptionTargetOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates a subscription target in Amazon DataZone.</p>"
    },
    "CreateUserProfile":{
      "name":"CreateUserProfile",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/user-profiles",
        "responseCode":201
      },
      "input":{"shape":"CreateUserProfileInput"},
      "output":{"shape":"CreateUserProfileOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Creates a user profile in Amazon DataZone.</p>",
      "idempotent":true
    },
    "DeleteAccountPool":{
      "name":"DeleteAccountPool",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/account-pools/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteAccountPoolInput"},
      "output":{"shape":"DeleteAccountPoolOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes an account pool.</p>",
      "idempotent":true
    },
    "DeleteAsset":{
      "name":"DeleteAsset",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/assets/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteAssetInput"},
      "output":{"shape":"DeleteAssetOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes an asset in Amazon DataZone.</p> <ul> <li> <p>--domain-identifier must refer to a valid and existing domain. </p> </li> <li> <p>--identifier must refer to an existing asset in the specified domain.</p> </li> <li> <p>Asset must not be referenced in any existing asset filters.</p> </li> <li> <p>Asset must not be linked to any draft or published data product.</p> </li> <li> <p>User must have delete permissions for the domain and project.</p> </li> </ul>",
      "idempotent":true
    },
    "DeleteAssetFilter":{
      "name":"DeleteAssetFilter",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/assets/{assetIdentifier}/filters/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteAssetFilterInput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes an asset filter.</p> <p>Prerequisites:</p> <ul> <li> <p>The asset filter must exist. </p> </li> <li> <p>The domain and asset must not have been deleted.</p> </li> <li> <p>Ensure the --identifier refers to a valid filter ID.</p> </li> </ul>",
      "idempotent":true
    },
    "DeleteAssetType":{
      "name":"DeleteAssetType",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/asset-types/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteAssetTypeInput"},
      "output":{"shape":"DeleteAssetTypeOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes an asset type in Amazon DataZone.</p> <p>Prerequisites:</p> <ul> <li> <p>The asset type must exist in the domain. </p> </li> <li> <p>You must have DeleteAssetType permission.</p> </li> <li> <p>The asset type must not be in use (e.g., assigned to any asset). If used, deletion will fail.</p> </li> <li> <p>You should retrieve the asset type using get-asset-type to confirm its presence before deletion.</p> </li> </ul>"
    },
    "DeleteConnection":{
      "name":"DeleteConnection",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/connections/{identifier}",
        "responseCode":202
      },
      "input":{"shape":"DeleteConnectionInput"},
      "output":{"shape":"DeleteConnectionOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes and connection. In Amazon DataZone, a connection enables you to connect your resources (domains, projects, and environments) to external resources and services.</p>",
      "idempotent":true
    },
    "DeleteDataProduct":{
      "name":"DeleteDataProduct",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/data-products/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteDataProductInput"},
      "output":{"shape":"DeleteDataProductOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes a data product in Amazon DataZone.</p> <p>Prerequisites:</p> <ul> <li> <p>The data product must exist and not be deleted or archived. </p> </li> <li> <p>The user must have delete permissions for the data product.</p> </li> <li> <p>Ensure there are no active dependencies (e.g., published links, assets using the product).</p> </li> <li> <p>Domain and project must be active.</p> </li> </ul>",
      "idempotent":true
    },
    "DeleteDataSource":{
      "name":"DeleteDataSource",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/data-sources/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"DeleteDataSourceInput"},
      "output":{"shape":"DeleteDataSourceOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes a data source in Amazon DataZone.</p>",
      "idempotent":true
    },
    "DeleteDomain":{
      "name":"DeleteDomain",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{identifier}",
        "responseCode":202
      },
      "input":{"shape":"DeleteDomainInput"},
      "output":{"shape":"DeleteDomainOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes a Amazon DataZone domain.</p>",
      "idempotent":true
    },
    "DeleteDomainUnit":{
      "name":"DeleteDomainUnit",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/domain-units/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteDomainUnitInput"},
      "output":{"shape":"DeleteDomainUnitOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes a domain unit.</p>",
      "idempotent":true
    },
    "DeleteEnvironment":{
      "name":"DeleteEnvironment",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/environments/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteEnvironmentInput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes an environment in Amazon DataZone.</p>",
      "idempotent":true
    },
    "DeleteEnvironmentAction":{
      "name":"DeleteEnvironmentAction",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/actions/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteEnvironmentActionInput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes an action for the environment, for example, deletes a console link for an analytics tool that is available in this environment.</p>",
      "idempotent":true
    },
    "DeleteEnvironmentBlueprint":{
      "name":"DeleteEnvironmentBlueprint",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/environment-blueprints/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteEnvironmentBlueprintInput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes a blueprint in Amazon DataZone.</p>",
      "idempotent":true
    },
    "DeleteEnvironmentBlueprintConfiguration":{
      "name":"DeleteEnvironmentBlueprintConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/environment-blueprint-configurations/{environmentBlueprintIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteEnvironmentBlueprintConfigurationInput"},
      "output":{"shape":"DeleteEnvironmentBlueprintConfigurationOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes the blueprint configuration in Amazon DataZone.</p>",
      "idempotent":true
    },
    "DeleteEnvironmentProfile":{
      "name":"DeleteEnvironmentProfile",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/environment-profiles/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteEnvironmentProfileInput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes an environment profile in Amazon DataZone.</p>",
      "idempotent":true
    },
    "DeleteFormType":{
      "name":"DeleteFormType",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/form-types/{formTypeIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteFormTypeInput"},
      "output":{"shape":"DeleteFormTypeOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes and metadata form type in Amazon DataZone.</p> <p>Prerequisites:</p> <ul> <li> <p>The form type must exist in the domain. </p> </li> <li> <p>The form type must not be in use by any asset types or assets.</p> </li> <li> <p>The domain must be valid and accessible.</p> </li> <li> <p>User must have delete permissions on the form type.</p> </li> <li> <p>Any dependencies (such as linked asset types) must be removed first.</p> </li> </ul>"
    },
    "DeleteGlossary":{
      "name":"DeleteGlossary",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/glossaries/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteGlossaryInput"},
      "output":{"shape":"DeleteGlossaryOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes a business glossary in Amazon DataZone.</p> <p>Prerequisites:</p> <ul> <li> <p>The glossary must be in DISABLED state. </p> </li> <li> <p>The glossary must not have any glossary terms associated with it.</p> </li> <li> <p>The glossary must exist in the specified domain.</p> </li> <li> <p>The caller must have the <code>datazone:DeleteGlossary</code> permission in the domain and glossary.</p> </li> <li> <p>There should be no active assets or metadata linked to the glossary.</p> </li> </ul>",
      "idempotent":true
    },
    "DeleteGlossaryTerm":{
      "name":"DeleteGlossaryTerm",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/glossary-terms/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteGlossaryTermInput"},
      "output":{"shape":"DeleteGlossaryTermOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes a business glossary term in Amazon DataZone.</p> <p>Prerequisites:</p> <ul> <li> <p>Glossary term must exist and be active. </p> </li> <li> <p>The term must not be linked to other assets or child terms.</p> </li> <li> <p>Caller must have delete permissions in the domain/glossary.</p> </li> <li> <p>Ensure all associations (such as to assets or parent terms) are removed before deletion.</p> </li> </ul>",
      "idempotent":true
    },
    "DeleteListing":{
      "name":"DeleteListing",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/listings/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteListingInput"},
      "output":{"shape":"DeleteListingOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes a listing (a record of an asset at a given time).</p>",
      "idempotent":true
    },
    "DeleteProject":{
      "name":"DeleteProject",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/projects/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteProjectInput"},
      "output":{"shape":"DeleteProjectOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes a project in Amazon DataZone. </p>",
      "idempotent":true
    },
    "DeleteProjectMembership":{
      "name":"DeleteProjectMembership",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/projects/{projectIdentifier}/deleteMembership",
        "responseCode":204
      },
      "input":{"shape":"DeleteProjectMembershipInput"},
      "output":{"shape":"DeleteProjectMembershipOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes project membership in Amazon DataZone.</p>",
      "idempotent":true
    },
    "DeleteProjectProfile":{
      "name":"DeleteProjectProfile",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/project-profiles/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteProjectProfileInput"},
      "output":{"shape":"DeleteProjectProfileOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes a project profile.</p>",
      "idempotent":true
    },
    "DeleteRule":{
      "name":"DeleteRule",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/rules/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteRuleInput"},
      "output":{"shape":"DeleteRuleOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes a rule in Amazon DataZone. A rule is a formal agreement that enforces specific requirements across user workflows (e.g., publishing assets to the catalog, requesting subscriptions, creating projects) within the Amazon DataZone data portal. These rules help maintain consistency, ensure compliance, and uphold governance standards in data management processes. For instance, a metadata enforcement rule can specify the required information for creating a subscription request or publishing a data asset to the catalog, ensuring alignment with organizational standards.</p>",
      "idempotent":true
    },
    "DeleteSubscriptionGrant":{
      "name":"DeleteSubscriptionGrant",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/subscription-grants/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"DeleteSubscriptionGrantInput"},
      "output":{"shape":"DeleteSubscriptionGrantOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes and subscription grant in Amazon DataZone.</p>"
    },
    "DeleteSubscriptionRequest":{
      "name":"DeleteSubscriptionRequest",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/subscription-requests/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteSubscriptionRequestInput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes a subscription request in Amazon DataZone.</p>"
    },
    "DeleteSubscriptionTarget":{
      "name":"DeleteSubscriptionTarget",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/subscription-targets/{identifier}",
        "responseCode":204
      },
      "input":{"shape":"DeleteSubscriptionTargetInput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes a subscription target in Amazon DataZone.</p>"
    },
    "DeleteTimeSeriesDataPoints":{
      "name":"DeleteTimeSeriesDataPoints",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/entities/{entityType}/{entityIdentifier}/time-series-data-points",
        "responseCode":204
      },
      "input":{"shape":"DeleteTimeSeriesDataPointsInput"},
      "output":{"shape":"DeleteTimeSeriesDataPointsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Deletes the specified time series form for the specified asset. </p>",
      "idempotent":true
    },
    "DisassociateEnvironmentRole":{
      "name":"DisassociateEnvironmentRole",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/roles/{environmentRoleArn}",
        "responseCode":200
      },
      "input":{"shape":"DisassociateEnvironmentRoleInput"},
      "output":{"shape":"DisassociateEnvironmentRoleOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Disassociates the environment role in Amazon DataZone.</p>"
    },
    "DisassociateGovernedTerms":{
      "name":"DisassociateGovernedTerms",
      "http":{
        "method":"PATCH",
        "requestUri":"/v2/domains/{domainIdentifier}/entities/{entityType}/{entityIdentifier}/disassociate-governed-terms",
        "responseCode":200
      },
      "input":{"shape":"DisassociateGovernedTermsInput"},
      "output":{"shape":"DisassociateGovernedTermsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Disassociates restricted terms from an asset.</p>"
    },
    "GetAccountPool":{
      "name":"GetAccountPool",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/account-pools/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetAccountPoolInput"},
      "output":{"shape":"GetAccountPoolOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets the details of the account pool.</p>"
    },
    "GetAsset":{
      "name":"GetAsset",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/assets/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetAssetInput"},
      "output":{"shape":"GetAssetOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets an Amazon DataZone asset.</p> <p>An asset is the fundamental building block in Amazon DataZone, representing any data resource that needs to be cataloged and managed. It can take many forms, from Amazon S3 buckets and database tables to dashboards and machine learning models. Each asset contains comprehensive metadata about the resource, including its location, schema, ownership, and lineage information. Assets are essential for organizing and managing data resources across an organization, making them discoverable and usable while maintaining proper governance.</p> <p>Before using the Amazon DataZone GetAsset command, ensure the following prerequisites are met:</p> <ul> <li> <p>Domain identifier must exist and be valid</p> </li> <li> <p>Asset identifier must exist</p> </li> <li> <p>User must have the required permissions to perform the action</p> </li> </ul>"
    },
    "GetAssetFilter":{
      "name":"GetAssetFilter",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/assets/{assetIdentifier}/filters/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetAssetFilterInput"},
      "output":{"shape":"GetAssetFilterOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets an asset filter.</p> <p>Prerequisites:</p> <ul> <li> <p>Domain (<code>--domain-identifier</code>), asset (<code>--asset-identifier</code>), and filter (<code>--identifier</code>) must all exist. </p> </li> <li> <p>The asset filter should not have been deleted.</p> </li> <li> <p>The asset must still exist (since the filter is linked to it).</p> </li> </ul>"
    },
    "GetAssetType":{
      "name":"GetAssetType",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/asset-types/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetAssetTypeInput"},
      "output":{"shape":"GetAssetTypeOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets an Amazon DataZone asset type.</p> <p>Asset types define the categories and characteristics of different kinds of data assets within Amazon DataZone.. They determine what metadata fields are required, what operations are possible, and how the asset integrates with other Amazon Web Services services. Asset types can range from built-in types like Amazon S3 buckets and Amazon Web Services Glue tables to custom types defined for specific organizational needs. Understanding asset types is crucial for properly organizing and managing different kinds of data resources.</p> <p>Prerequisites:</p> <ul> <li> <p>The asset type with identifier must exist in the domain. ResourceNotFoundException.</p> </li> <li> <p>You must have the GetAssetType permission.</p> </li> <li> <p>Ensure the domain-identifier value is correct and accessible.</p> </li> </ul>"
    },
    "GetConnection":{
      "name":"GetConnection",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/connections/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetConnectionInput"},
      "output":{"shape":"GetConnectionOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets a connection. In Amazon DataZone, a connection enables you to connect your resources (domains, projects, and environments) to external resources and services.</p>"
    },
    "GetDataProduct":{
      "name":"GetDataProduct",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/data-products/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetDataProductInput"},
      "output":{"shape":"GetDataProductOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets the data product.</p> <p>Prerequisites:</p> <ul> <li> <p>The data product ID must exist. </p> </li> <li> <p>The domain must be valid and accessible.</p> </li> <li> <p>User must have read or discovery permissions for the data product.</p> </li> </ul>"
    },
    "GetDataSource":{
      "name":"GetDataSource",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/data-sources/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetDataSourceInput"},
      "output":{"shape":"GetDataSourceOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets an Amazon DataZone data source.</p>"
    },
    "GetDataSourceRun":{
      "name":"GetDataSourceRun",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/data-source-runs/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetDataSourceRunInput"},
      "output":{"shape":"GetDataSourceRunOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets an Amazon DataZone data source run.</p>"
    },
    "GetDomain":{
      "name":"GetDomain",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetDomainInput"},
      "output":{"shape":"GetDomainOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets an Amazon DataZone domain.</p>"
    },
    "GetDomainUnit":{
      "name":"GetDomainUnit",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/domain-units/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetDomainUnitInput"},
      "output":{"shape":"GetDomainUnitOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets the details of the specified domain unit.</p>"
    },
    "GetEnvironment":{
      "name":"GetEnvironment",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/environments/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetEnvironmentInput"},
      "output":{"shape":"GetEnvironmentOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets an Amazon DataZone environment.</p>"
    },
    "GetEnvironmentAction":{
      "name":"GetEnvironmentAction",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/actions/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetEnvironmentActionInput"},
      "output":{"shape":"GetEnvironmentActionOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets the specified environment action.</p>"
    },
    "GetEnvironmentBlueprint":{
      "name":"GetEnvironmentBlueprint",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/environment-blueprints/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetEnvironmentBlueprintInput"},
      "output":{"shape":"GetEnvironmentBlueprintOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets an Amazon DataZone blueprint.</p>"
    },
    "GetEnvironmentBlueprintConfiguration":{
      "name":"GetEnvironmentBlueprintConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/environment-blueprint-configurations/{environmentBlueprintIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetEnvironmentBlueprintConfigurationInput"},
      "output":{"shape":"GetEnvironmentBlueprintConfigurationOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets the blueprint configuration in Amazon DataZone.</p>"
    },
    "GetEnvironmentCredentials":{
      "name":"GetEnvironmentCredentials",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/credentials",
        "responseCode":200
      },
      "input":{"shape":"GetEnvironmentCredentialsInput"},
      "output":{"shape":"GetEnvironmentCredentialsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets the credentials of an environment in Amazon DataZone.</p>"
    },
    "GetEnvironmentProfile":{
      "name":"GetEnvironmentProfile",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/environment-profiles/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetEnvironmentProfileInput"},
      "output":{"shape":"GetEnvironmentProfileOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets an evinronment profile in Amazon DataZone.</p>"
    },
    "GetFormType":{
      "name":"GetFormType",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/form-types/{formTypeIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetFormTypeInput"},
      "output":{"shape":"GetFormTypeOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets a metadata form type in Amazon DataZone.</p> <p>Form types define the structure and validation rules for collecting metadata about assets in Amazon DataZone. They act as templates that ensure consistent metadata capture across similar types of assets, while allowing for customization to meet specific organizational needs. Form types can include required fields, validation rules, and dependencies, helping maintain high-quality metadata that makes data assets more discoverable and usable.</p> <ul> <li> <p>The form type with the specified identifier must exist in the given domain. </p> </li> <li> <p>The domain must be valid and active.</p> </li> <li> <p>User must have permission on the form type.</p> </li> <li> <p>The form type should not be deleted or in an invalid state.</p> </li> </ul>"
    },
    "GetGlossary":{
      "name":"GetGlossary",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/glossaries/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetGlossaryInput"},
      "output":{"shape":"GetGlossaryOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets a business glossary in Amazon DataZone.</p> <p>Prerequisites:</p> <ul> <li> <p>The specified glossary ID must exist and be associated with the given domain. </p> </li> <li> <p>The caller must have the <code>datazone:GetGlossary</code> permission on the domain.</p> </li> </ul>"
    },
    "GetGlossaryTerm":{
      "name":"GetGlossaryTerm",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/glossary-terms/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetGlossaryTermInput"},
      "output":{"shape":"GetGlossaryTermOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets a business glossary term in Amazon DataZone.</p> <p>Prerequisites:</p> <ul> <li> <p>Glossary term with identifier must exist in the domain. </p> </li> <li> <p>User must have permission on the glossary term.</p> </li> <li> <p>Domain must be accessible and active.</p> </li> </ul>"
    },
    "GetGroupProfile":{
      "name":"GetGroupProfile",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/group-profiles/{groupIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetGroupProfileInput"},
      "output":{"shape":"GetGroupProfileOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets a group profile in Amazon DataZone.</p>"
    },
    "GetIamPortalLoginUrl":{
      "name":"GetIamPortalLoginUrl",
      "http":{
        "method":"POST",
        "requestUri":"/v2/domains/{domainIdentifier}/get-portal-login-url",
        "responseCode":200
      },
      "input":{"shape":"GetIamPortalLoginUrlInput"},
      "output":{"shape":"GetIamPortalLoginUrlOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets the data portal URL for the specified Amazon DataZone domain.</p>"
    },
    "GetJobRun":{
      "name":"GetJobRun",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/jobRuns/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetJobRunInput"},
      "output":{"shape":"GetJobRunOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>The details of the job run.</p>"
    },
    "GetLineageEvent":{
      "name":"GetLineageEvent",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/lineage/events/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetLineageEventInput"},
      "output":{"shape":"GetLineageEventOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Describes the lineage event.</p>"
    },
    "GetLineageNode":{
      "name":"GetLineageNode",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/lineage/nodes/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetLineageNodeInput"},
      "output":{"shape":"GetLineageNodeOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets the data lineage node.</p>"
    },
    "GetListing":{
      "name":"GetListing",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/listings/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetListingInput"},
      "output":{"shape":"GetListingOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets a listing (a record of an asset at a given time). If you specify a listing version, only details that are specific to that version are returned.</p>"
    },
    "GetMetadataGenerationRun":{
      "name":"GetMetadataGenerationRun",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/metadata-generation-runs/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetMetadataGenerationRunInput"},
      "output":{"shape":"GetMetadataGenerationRunOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets a metadata generation run in Amazon DataZone.</p> <p>Prerequisites:</p> <ul> <li> <p>Valid domain and run identifier. </p> </li> <li> <p>The metadata generation run must exist.</p> </li> <li> <p>User must have read access to the metadata run.</p> </li> </ul>"
    },
    "GetProject":{
      "name":"GetProject",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/projects/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetProjectInput"},
      "output":{"shape":"GetProjectOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets a project in Amazon DataZone.</p>"
    },
    "GetProjectProfile":{
      "name":"GetProjectProfile",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/project-profiles/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetProjectProfileInput"},
      "output":{"shape":"GetProjectProfileOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>The details of the project profile.</p>"
    },
    "GetRule":{
      "name":"GetRule",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/rules/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetRuleInput"},
      "output":{"shape":"GetRuleOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets the details of a rule in Amazon DataZone. A rule is a formal agreement that enforces specific requirements across user workflows (e.g., publishing assets to the catalog, requesting subscriptions, creating projects) within the Amazon DataZone data portal. These rules help maintain consistency, ensure compliance, and uphold governance standards in data management processes. For instance, a metadata enforcement rule can specify the required information for creating a subscription request or publishing a data asset to the catalog, ensuring alignment with organizational standards.</p>"
    },
    "GetSubscription":{
      "name":"GetSubscription",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/subscriptions/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetSubscriptionInput"},
      "output":{"shape":"GetSubscriptionOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets a subscription in Amazon DataZone.</p>"
    },
    "GetSubscriptionGrant":{
      "name":"GetSubscriptionGrant",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/subscription-grants/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetSubscriptionGrantInput"},
      "output":{"shape":"GetSubscriptionGrantOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets the subscription grant in Amazon DataZone.</p>"
    },
    "GetSubscriptionRequestDetails":{
      "name":"GetSubscriptionRequestDetails",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/subscription-requests/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetSubscriptionRequestDetailsInput"},
      "output":{"shape":"GetSubscriptionRequestDetailsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets the details of the specified subscription request.</p>"
    },
    "GetSubscriptionTarget":{
      "name":"GetSubscriptionTarget",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/subscription-targets/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetSubscriptionTargetInput"},
      "output":{"shape":"GetSubscriptionTargetOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets the subscription target in Amazon DataZone.</p>"
    },
    "GetTimeSeriesDataPoint":{
      "name":"GetTimeSeriesDataPoint",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/entities/{entityType}/{entityIdentifier}/time-series-data-points/{identifier}",
        "responseCode":200
      },
      "input":{"shape":"GetTimeSeriesDataPointInput"},
      "output":{"shape":"GetTimeSeriesDataPointOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets the existing data point for the asset.</p>"
    },
    "GetUserProfile":{
      "name":"GetUserProfile",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/user-profiles/{userIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetUserProfileInput"},
      "output":{"shape":"GetUserProfileOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Gets a user profile in Amazon DataZone.</p>"
    },
    "ListAccountPools":{
      "name":"ListAccountPools",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/account-pools",
        "responseCode":200
      },
      "input":{"shape":"ListAccountPoolsInput"},
      "output":{"shape":"ListAccountPoolsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Lists existing account pools.</p>"
    },
    "ListAccountsInAccountPool":{
      "name":"ListAccountsInAccountPool",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/account-pools/{identifier}/accounts",
        "responseCode":200
      },
      "input":{"shape":"ListAccountsInAccountPoolInput"},
      "output":{"shape":"ListAccountsInAccountPoolOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Lists the accounts in the specified account pool.</p>"
    },
    "ListAssetFilters":{
      "name":"ListAssetFilters",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/assets/{assetIdentifier}/filters",
        "responseCode":200
      },
      "input":{"shape":"ListAssetFiltersInput"},
      "output":{"shape":"ListAssetFiltersOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Lists asset filters.</p> <p>Prerequisites:</p> <ul> <li> <p>A valid domain and asset must exist. </p> </li> <li> <p>The asset must have at least one filter created to return results. </p> </li> </ul>"
    },
    "ListAssetRevisions":{
      "name":"ListAssetRevisions",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/assets/{identifier}/revisions",
        "responseCode":200
      },
      "input":{"shape":"ListAssetRevisionsInput"},
      "output":{"shape":"ListAssetRevisionsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Lists the revisions for the asset.</p> <p>Prerequisites:</p> <ul> <li> <p>The asset must exist in the domain. </p> </li> <li> <p>There must be at least one revision of the asset (which happens automatically after creation).</p> </li> <li> <p>The domain must be valid and active.</p> </li> <li> <p>User must have permissions on the asset and domain.</p> </li> </ul>"
    },
    "ListConnections":{
      "name":"ListConnections",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/connections",
        "responseCode":200
      },
      "input":{"shape":"ListConnectionsInput"},
      "output":{"shape":"ListConnectionsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Lists connections. In Amazon DataZone, a connection enables you to connect your resources (domains, projects, and environments) to external resources and services.</p>"
    },
    "ListDataProductRevisions":{
      "name":"ListDataProductRevisions",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/data-products/{identifier}/revisions",
        "responseCode":200
      },
      "input":{"shape":"ListDataProductRevisionsInput"},
      "output":{"shape":"ListDataProductRevisionsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Lists data product revisions.</p> <p>Prerequisites:</p> <ul> <li> <p>The data product ID must exist within the domain. </p> </li> <li> <p>User must have view permissions on the data product.</p> </li> <li> <p>The domain must be in a valid and accessible state.</p> </li> </ul>"
    },
    "ListDataSourceRunActivities":{
      "name":"ListDataSourceRunActivities",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/data-source-runs/{identifier}/activities",
        "responseCode":200
      },
      "input":{"shape":"ListDataSourceRunActivitiesInput"},
      "output":{"shape":"ListDataSourceRunActivitiesOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Lists data source run activities.</p>"
    },
    "ListDataSourceRuns":{
      "name":"ListDataSourceRuns",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/data-sources/{dataSourceIdentifier}/runs",
        "responseCode":200
      },
      "input":{"shape":"ListDataSourceRunsInput"},
      "output":{"shape":"ListDataSourceRunsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Lists data source runs in Amazon DataZone.</p>"
    },
    "ListDataSources":{
      "name":"ListDataSources",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/data-sources",
        "responseCode":200
      },
      "input":{"shape":"ListDataSourcesInput"},
      "output":{"shape":"ListDataSourcesOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Lists data sources in Amazon DataZone.</p>"
    },
    "ListDomainUnitsForParent":{
      "name":"ListDomainUnitsForParent",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/domain-units",
        "responseCode":200
      },
      "input":{"shape":"ListDomainUnitsForParentInput"},
      "output":{"shape":"ListDomainUnitsForParentOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Lists child domain units for the specified parent domain unit.</p>"
    },
    "ListDomains":{
      "name":"ListDomains",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains",
        "responseCode":200
      },
      "input":{"shape":"ListDomainsInput"},
      "output":{"shape":"ListDomainsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Lists Amazon DataZone domains.</p>"
    },
    "ListEntityOwners":{
      "name":"ListEntityOwners",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/entities/{entityType}/{entityIdentifier}/owners",
        "responseCode":200
      },
      "input":{"shape":"ListEntityOwnersInput"},
      "output":{"shape":"ListEntityOwnersOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Lists the entity (domain units) owners.</p>"
    },
    "ListEnvironmentActions":{
      "name":"ListEnvironmentActions",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/environments/{environmentIdentifier}/actions",
        "responseCode":200
      },
      "input":{"shape":"ListEnvironmentActionsInput"},
      "output":{"shape":"ListEnvironmentActionsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Lists existing environment actions.</p>"
    },
    "ListEnvironmentBlueprintConfigurations":{
      "name":"ListEnvironmentBlueprintConfigurations",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/environment-blueprint-configurations",
        "responseCode":200
      },
      "input":{"shape":"ListEnvironmentBlueprintConfigurationsInput"},
      "output":{"shape":"ListEnvironmentBlueprintConfigurationsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Lists blueprint configurations for a Amazon DataZone environment.</p>"
    },
    "ListEnvironmentBlueprints":{
      "name":"ListEnvironmentBlueprints",
      "http":{
        "method":"GET",
        "requestUri":"/v2/domains/{domainIdentifier}/environment-blueprints",
        "responseCode":200
      },
      "input":{"shape":"ListEnvironmentBlueprintsInput"},
      "output":{"shape":"ListEnvironmentBlueprintsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
[...]
