{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2015-02-01",
    "endpointPrefix":"elasticfilesystem",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceAbbreviation":"EFS",
    "serviceFullName":"Amazon Elastic File System",
    "serviceId":"EFS",
    "signatureVersion":"v4",
    "uid":"elasticfilesystem-2015-02-01",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "CreateAccessPoint":{
      "name":"CreateAccessPoint",
      "http":{
        "method":"POST",
        "requestUri":"/2015-02-01/access-points",
        "responseCode":200
      },
      "input":{"shape":"CreateAccessPointRequest"},
      "output":{"shape":"AccessPointDescription"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"AccessPointAlreadyExists"},
        {"shape":"IncorrectFileSystemLifeCycleState"},
        {"shape":"InternalServerError"},
        {"shape":"FileSystemNotFound"},
        {"shape":"AccessPointLimitExceeded"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates an EFS access point. An access point is an application-specific view into an EFS file system that applies an operating system user and group, and a file system path, to any file system request made through the access point. The operating system user and group override any identity information provided by the NFS client. The file system path is exposed as the access point's root directory. Applications using the access point can only access data in the application's own directory and any subdirectories. A file system can have a maximum of 10,000 access points unless you request an increase. To learn more, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/efs-access-points.html\">Mounting a file system using EFS access points</a>.</p> <note> <p>If multiple requests to create access points on the same file system are sent in quick succession, and the file system is near the limit of access points, you may experience a throttling response for these requests. This is to ensure that the file system does not exceed the stated access point limit.</p> </note> <p>This operation requires permissions for the <code>elasticfilesystem:CreateAccessPoint</code> action.</p> <p>Access points can be tagged on creation. If tags are specified in the creation action, IAM performs additional authorization on the <code>elasticfilesystem:TagResource</code> action to verify if users have permissions to create tags. Therefore, you must grant explicit permissions to use the <code>elasticfilesystem:TagResource</code> action. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/using-tags-efs.html#supported-iam-actions-tagging.html\">Granting permissions to tag resources during creation</a>.</p>"
    },
    "CreateFileSystem":{
      "name":"CreateFileSystem",
      "http":{
        "method":"POST",
        "requestUri":"/2015-02-01/file-systems",
        "responseCode":201
      },
      "input":{"shape":"CreateFileSystemRequest"},
      "output":{"shape":"FileSystemDescription"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"FileSystemAlreadyExists"},
        {"shape":"FileSystemLimitExceeded"},
        {"shape":"InsufficientThroughputCapacity"},
        {"shape":"ThroughputLimitExceeded"},
        {"shape":"UnsupportedAvailabilityZone"}
      ],
      "documentation":"<p>Creates a new, empty file system. The operation requires a creation token in the request that Amazon EFS uses to ensure idempotent creation (calling the operation with same creation token has no effect). If a file system does not currently exist that is owned by the caller's Amazon Web Services account with the specified creation token, this operation does the following:</p> <ul> <li> <p>Creates a new, empty file system. The file system will have an Amazon EFS assigned ID, and an initial lifecycle state <code>creating</code>.</p> </li> <li> <p>Returns with the description of the created file system.</p> </li> </ul> <p>Otherwise, this operation returns a <code>FileSystemAlreadyExists</code> error with the ID of the existing file system.</p> <note> <p>For basic use cases, you can use a randomly generated UUID for the creation token.</p> </note> <p>The idempotent operation allows you to retry a <code>CreateFileSystem</code> call without risk of creating an extra file system. This can happen when an initial call fails in a way that leaves it uncertain whether or not a file system was actually created. An example might be that a transport level timeout occurred or your connection was reset. As long as you use the same creation token, if the initial call had succeeded in creating a file system, the client can learn of its existence from the <code>FileSystemAlreadyExists</code> error.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/creating-using-create-fs.html#creating-using-create-fs-part1\">Creating a file system</a> in the <i>Amazon EFS User Guide</i>.</p> <note> <p>The <code>CreateFileSystem</code> call returns while the file system's lifecycle state is still <code>creating</code>. You can check the file system creation status by calling the <a>DescribeFileSystems</a> operation, which among other things returns the file system state.</p> </note> <p>This operation accepts an optional <code>PerformanceMode</code> parameter that you choose for your file system. We recommend <code>generalPurpose</code> <code>PerformanceMode</code> for all file systems. The <code>maxIO</code> mode is a previous generation performance type that is designed for highly parallelized workloads that can tolerate higher latencies than the <code>generalPurpose</code> mode. <code>MaxIO</code> mode is not supported for One Zone file systems or file systems that use Elastic throughput.</p> <p>The <code>PerformanceMode</code> can't be changed after the file system has been created. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/performance.html#performancemodes.html\">Amazon EFS performance modes</a>.</p> <p>You can set the throughput mode for the file system using the <code>ThroughputMode</code> parameter.</p> <p>After the file system is fully created, Amazon EFS sets its lifecycle state to <code>available</code>, at which point you can create one or more mount targets for the file system in your VPC. For more information, see <a>CreateMountTarget</a>. You mount your Amazon EFS file system on an EC2 instances in your VPC by using the mount target. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/how-it-works.html\">Amazon EFS: How it Works</a>. </p> <p>This operation requires permissions for the <code>elasticfilesystem:CreateFileSystem</code> action. </p> <p>File systems can be tagged on creation. If tags are specified in the creation action, IAM performs additional authorization on the <code>elasticfilesystem:TagResource</code> action to verify if users have permissions to create tags. Therefore, you must grant explicit permissions to use the <code>elasticfilesystem:TagResource</code> action. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/using-tags-efs.html#supported-iam-actions-tagging.html\">Granting permissions to tag resources during creation</a>.</p>"
    },
    "CreateMountTarget":{
      "name":"CreateMountTarget",
      "http":{
        "method":"POST",
        "requestUri":"/2015-02-01/mount-targets",
        "responseCode":200
      },
      "input":{"shape":"CreateMountTargetRequest"},
      "output":{"shape":"MountTargetDescription"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"FileSystemNotFound"},
        {"shape":"IncorrectFileSystemLifeCycleState"},
        {"shape":"MountTargetConflict"},
        {"shape":"SubnetNotFound"},
        {"shape":"NoFreeAddressesInSubnet"},
        {"shape":"IpAddressInUse"},
        {"shape":"NetworkInterfaceLimitExceeded"},
        {"shape":"SecurityGroupLimitExceeded"},
        {"shape":"SecurityGroupNotFound"},
        {"shape":"UnsupportedAvailabilityZone"},
        {"shape":"AvailabilityZonesMismatch"}
      ],
      "documentation":"<p>Creates a mount target for a file system. You can then mount the file system on EC2 instances by using the mount target.</p> <p>You can create one mount target in each Availability Zone in your VPC. All EC2 instances in a VPC within a given Availability Zone share a single mount target for a given file system. If you have multiple subnets in an Availability Zone, you create a mount target in one of the subnets. EC2 instances do not need to be in the same subnet as the mount target in order to access their file system.</p> <p>You can create only one mount target for a One Zone file system. You must create that mount target in the same Availability Zone in which the file system is located. Use the <code>AvailabilityZoneName</code> and <code>AvailabiltyZoneId</code> properties in the <a>DescribeFileSystems</a> response object to get this information. Use the <code>subnetId</code> associated with the file system's Availability Zone when creating the mount target.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/how-it-works.html\">Amazon EFS: How it Works</a>. </p> <p>To create a mount target for a file system, the file system's lifecycle state must be <code>available</code>. For more information, see <a>DescribeFileSystems</a>.</p> <p>In the request, provide the following:</p> <ul> <li> <p>The file system ID for which you are creating the mount target.</p> </li> <li> <p>A subnet ID, which determines the following:</p> <ul> <li> <p>The VPC in which Amazon EFS creates the mount target</p> </li> <li> <p>The Availability Zone in which Amazon EFS creates the mount target</p> </li> <li> <p>The IP address range from which Amazon EFS selects the IP address of the mount target (if you don't specify an IP address in the request)</p> </li> </ul> </li> </ul> <p>After creating the mount target, Amazon EFS returns a response that includes, a <code>MountTargetId</code> and an <code>IpAddress</code>. You use this IP address when mounting the file system in an EC2 instance. You can also use the mount target's DNS name when mounting the file system. The EC2 instance on which you mount the file system by using the mount target can resolve the mount target's DNS name to its IP address. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/how-it-works.html#how-it-works-implementation\">How it Works: Implementation Overview</a>. </p> <p>Note that you can create mount targets for a file system in only one VPC, and there can be only one mount target per Availability Zone. That is, if the file system already has one or more mount targets created for it, the subnet specified in the request to add another mount target must meet the following requirements:</p> <ul> <li> <p>Must belong to the same VPC as the subnets of the existing mount targets</p> </li> <li> <p>Must not be in the same Availability Zone as any of the subnets of the existing mount targets</p> </li> </ul> <p>If the request satisfies the requirements, Amazon EFS does the following:</p> <ul> <li> <p>Creates a new mount target in the specified subnet.</p> </li> <li> <p>Also creates a new network interface in the subnet as follows:</p> <ul> <li> <p>If the request provides an <code>IpAddress</code>, Amazon EFS assigns that IP address to the network interface. Otherwise, Amazon EFS assigns a free address in the subnet (in the same way that the Amazon EC2 <code>CreateNetworkInterface</code> call does when a request does not specify a primary private IP address).</p> </li> <li> <p>If the request provides <code>SecurityGroups</code>, this network interface is associated with those security groups. Otherwise, it belongs to the default security group for the subnet's VPC.</p> </li> <li> <p>Assigns the description <code>Mount target <i>fsmt-id</i> for file system <i>fs-id</i> </code> where <code> <i>fsmt-id</i> </code> is the mount target ID, and <code> <i>fs-id</i> </code> is the <code>FileSystemId</code>.</p> </li> <li> <p>Sets the <code>requesterManaged</code> property of the network interface to <code>true</code>, and the <code>requesterId</code> value to <code>EFS</code>.</p> </li> </ul> <p>Each Amazon EFS mount target has one corresponding requester-managed EC2 network interface. After the network interface is created, Amazon EFS sets the <code>NetworkInterfaceId</code> field in the mount target's description to the network interface ID, and the <code>IpAddress</code> field to its address. If network interface creation fails, the entire <code>CreateMountTarget</code> operation fails.</p> </li> </ul> <note> <p>The <code>CreateMountTarget</code> call returns only after creating the network interface, but while the mount target state is still <code>creating</code>, you can check the mount target creation status by calling the <a>DescribeMountTargets</a> operation, which among other things returns the mount target state.</p> </note> <p>We recommend that you create a mount target in each of the Availability Zones. There are cost considerations for using a file system in an Availability Zone through a mount target created in another Availability Zone. For more information, see <a href=\"http://aws.amazon.com/efs/pricing/\">Amazon EFS pricing</a>. In addition, by always using a mount target local to the instance's Availability Zone, you eliminate a partial failure scenario. If the Availability Zone in which your mount target is created goes down, then you can't access your file system through that mount target. </p> <p>This operation requires permissions for the following action on the file system:</p> <ul> <li> <p> <code>elasticfilesystem:CreateMountTarget</code> </p> </li> </ul> <p>This operation also requires permissions for the following Amazon EC2 actions:</p> <ul> <li> <p> <code>ec2:DescribeSubnets</code> </p> </li> <li> <p> <code>ec2:DescribeNetworkInterfaces</code> </p> </li> <li> <p> <code>ec2:CreateNetworkInterface</code> </p> </li> </ul>"
    },
    "CreateReplicationConfiguration":{
      "name":"CreateReplicationConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/2015-02-01/file-systems/{SourceFileSystemId}/replication-configuration",
        "responseCode":200
      },
      "input":{"shape":"CreateReplicationConfigurationRequest"},
      "output":{"shape":"ReplicationConfigurationDescription"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"IncorrectFileSystemLifeCycleState"},
        {"shape":"ValidationException"},
        {"shape":"ReplicationNotFound"},
        {"shape":"FileSystemNotFound"},
        {"shape":"UnsupportedAvailabilityZone"},
        {"shape":"FileSystemLimitExceeded"},
        {"shape":"InsufficientThroughputCapacity"},
        {"shape":"ThroughputLimitExceeded"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Creates a replication conﬁguration to either a new or existing EFS file system. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/efs-replication.html\">Amazon EFS replication</a> in the <i>Amazon EFS User Guide</i>. The replication configuration specifies the following:</p> <ul> <li> <p> <b>Source file system</b> – The EFS file system that you want to replicate. </p> </li> <li> <p> <b>Destination file system</b> – The destination file system to which the source file system is replicated. There can only be one destination file system in a replication configuration. </p> <note> <p>A file system can be part of only one replication configuration. </p> </note> <p>The destination parameters for the replication configuration depend on whether you are replicating to a new file system or to an existing file system, and if you are replicating across Amazon Web Services accounts. See <a>DestinationToCreate</a> for more information.</p> </li> </ul> <p>This operation requires permissions for the <code>elasticfilesystem:CreateReplicationConfiguration</code> action. Additionally, other permissions are required depending on how you are replicating file systems. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/efs-replication.html#efs-replication-permissions\">Required permissions for replication</a> in the <i>Amazon EFS User Guide</i>.</p>"
    },
    "CreateTags":{
      "name":"CreateTags",
      "http":{
        "method":"POST",
        "requestUri":"/2015-02-01/create-tags/{FileSystemId}",
        "responseCode":204
      },
      "input":{"shape":"CreateTagsRequest"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"FileSystemNotFound"}
      ],
      "documentation":"<note> <p>DEPRECATED - <code>CreateTags</code> is deprecated and not maintained. To create tags for EFS resources, use the API action.</p> </note> <p>Creates or overwrites tags associated with a file system. Each tag is a key-value pair. If a tag key specified in the request already exists on the file system, this operation overwrites its value with the value provided in the request. If you add the <code>Name</code> tag to your file system, Amazon EFS returns it in the response to the <a>DescribeFileSystems</a> operation. </p> <p>This operation requires permission for the <code>elasticfilesystem:CreateTags</code> action.</p>",
      "deprecated":true,
      "deprecatedMessage":"Use TagResource."
    },
    "DeleteAccessPoint":{
      "name":"DeleteAccessPoint",
      "http":{
        "method":"DELETE",
        "requestUri":"/2015-02-01/access-points/{AccessPointId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteAccessPointRequest"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"AccessPointNotFound"}
      ],
      "documentation":"<p>Deletes the specified access point. After deletion is complete, new clients can no longer connect to the access points. Clients connected to the access point at the time of deletion will continue to function until they terminate their connection.</p> <p>This operation requires permissions for the <code>elasticfilesystem:DeleteAccessPoint</code> action.</p>"
    },
    "DeleteFileSystem":{
      "name":"DeleteFileSystem",
      "http":{
        "method":"DELETE",
        "requestUri":"/2015-02-01/file-systems/{FileSystemId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteFileSystemRequest"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"FileSystemNotFound"},
        {"shape":"FileSystemInUse"}
      ],
      "documentation":"<p>Deletes a file system, permanently severing access to its contents. Upon return, the file system no longer exists and you can't access any contents of the deleted file system.</p> <p>You need to manually delete mount targets attached to a file system before you can delete an EFS file system. This step is performed for you when you use the Amazon Web Services console to delete a file system.</p> <note> <p>You cannot delete a file system that is part of an EFS replication configuration. You need to delete the replication configuration first.</p> </note> <p> You can't delete a file system that is in use. That is, if the file system has any mount targets, you must first delete them. For more information, see <a>DescribeMountTargets</a> and <a>DeleteMountTarget</a>. </p> <note> <p>The <code>DeleteFileSystem</code> call returns while the file system state is still <code>deleting</code>. You can check the file system deletion status by calling the <a>DescribeFileSystems</a> operation, which returns a list of file systems in your account. If you pass file system ID or creation token for the deleted file system, the <a>DescribeFileSystems</a> returns a <code>404 FileSystemNotFound</code> error.</p> </note> <p>This operation requires permissions for the <code>elasticfilesystem:DeleteFileSystem</code> action.</p>"
    },
    "DeleteFileSystemPolicy":{
      "name":"DeleteFileSystemPolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/2015-02-01/file-systems/{FileSystemId}/policy",
        "responseCode":200
      },
      "input":{"shape":"DeleteFileSystemPolicyRequest"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"FileSystemNotFound"},
        {"shape":"IncorrectFileSystemLifeCycleState"}
      ],
      "documentation":"<p>Deletes the <code>FileSystemPolicy</code> for the specified file system. The default <code>FileSystemPolicy</code> goes into effect once the existing policy is deleted. For more information about the default file system policy, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/res-based-policies-efs.html\">Using Resource-based Policies with EFS</a>.</p> <p>This operation requires permissions for the <code>elasticfilesystem:DeleteFileSystemPolicy</code> action.</p>"
    },
    "DeleteMountTarget":{
      "name":"DeleteMountTarget",
      "http":{
        "method":"DELETE",
        "requestUri":"/2015-02-01/mount-targets/{MountTargetId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteMountTargetRequest"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"DependencyTimeout"},
        {"shape":"MountTargetNotFound"}
      ],
      "documentation":"<p>Deletes the specified mount target.</p> <p>This operation forcibly breaks any mounts of the file system by using the mount target that is being deleted, which might disrupt instances or applications using those mounts. To avoid applications getting cut off abruptly, you might consider unmounting any mounts of the mount target, if feasible. The operation also deletes the associated network interface. Uncommitted writes might be lost, but breaking a mount target using this operation does not corrupt the file system itself. The file system you created remains. You can mount an EC2 instance in your VPC by using another mount target.</p> <p>This operation requires permissions for the following action on the file system:</p> <ul> <li> <p> <code>elasticfilesystem:DeleteMountTarget</code> </p> </li> </ul> <note> <p>The <code>DeleteMountTarget</code> call returns while the mount target state is still <code>deleting</code>. You can check the mount target deletion by calling the <a>DescribeMountTargets</a> operation, which returns a list of mount target descriptions for the given file system. </p> </note> <p>The operation also requires permissions for the following Amazon EC2 action on the mount target's network interface:</p> <ul> <li> <p> <code>ec2:DeleteNetworkInterface</code> </p> </li> </ul>"
    },
    "DeleteReplicationConfiguration":{
      "name":"DeleteReplicationConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/2015-02-01/file-systems/{SourceFileSystemId}/replication-configuration",
        "responseCode":204
      },
      "input":{"shape":"DeleteReplicationConfigurationRequest"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"FileSystemNotFound"},
        {"shape":"ReplicationNotFound"}
      ],
      "documentation":"<p>Deletes a replication configuration. Deleting a replication configuration ends the replication process. After a replication configuration is deleted, the destination file system becomes <code>Writeable</code> and its replication overwrite protection is re-enabled. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/delete-replications.html\">Delete a replication configuration</a>.</p> <p>This operation requires permissions for the <code>elasticfilesystem:DeleteReplicationConfiguration</code> action. </p>"
    },
    "DeleteTags":{
      "name":"DeleteTags",
      "http":{
        "method":"POST",
        "requestUri":"/2015-02-01/delete-tags/{FileSystemId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteTagsRequest"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"FileSystemNotFound"}
      ],
      "documentation":"<note> <p>DEPRECATED - <code>DeleteTags</code> is deprecated and not maintained. To remove tags from EFS resources, use the API action.</p> </note> <p>Deletes the specified tags from a file system. If the <code>DeleteTags</code> request includes a tag key that doesn't exist, Amazon EFS ignores it and doesn't cause an error. For more information about tags and related restrictions, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Tag restrictions</a> in the <i>Billing and Cost Management User Guide</i>.</p> <p>This operation requires permissions for the <code>elasticfilesystem:DeleteTags</code> action.</p>",
      "deprecated":true,
      "deprecatedMessage":"Use UntagResource."
    },
    "DescribeAccessPoints":{
      "name":"DescribeAccessPoints",
      "http":{
        "method":"GET",
        "requestUri":"/2015-02-01/access-points",
        "responseCode":200
      },
      "input":{"shape":"DescribeAccessPointsRequest"},
      "output":{"shape":"DescribeAccessPointsResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"FileSystemNotFound"},
        {"shape":"AccessPointNotFound"}
      ],
      "documentation":"<p>Returns the description of a specific Amazon EFS access point if the <code>AccessPointId</code> is provided. If you provide an EFS <code>FileSystemId</code>, it returns descriptions of all access points for that file system. You can provide either an <code>AccessPointId</code> or a <code>FileSystemId</code> in the request, but not both. </p> <p>This operation requires permissions for the <code>elasticfilesystem:DescribeAccessPoints</code> action.</p>"
    },
    "DescribeAccountPreferences":{
      "name":"DescribeAccountPreferences",
      "http":{
        "method":"GET",
        "requestUri":"/2015-02-01/account-preferences",
        "responseCode":200
      },
      "input":{"shape":"DescribeAccountPreferencesRequest"},
      "output":{"shape":"DescribeAccountPreferencesResponse"},
      "errors":[
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Returns the account preferences settings for the Amazon Web Services account associated with the user making the request, in the current Amazon Web Services Region.</p>"
    },
    "DescribeBackupPolicy":{
      "name":"DescribeBackupPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/2015-02-01/file-systems/{FileSystemId}/backup-policy",
        "responseCode":200
      },
      "input":{"shape":"DescribeBackupPolicyRequest"},
      "output":{"shape":"BackupPolicyDescription"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"FileSystemNotFound"},
        {"shape":"InternalServerError"},
        {"shape":"PolicyNotFound"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns the backup policy for the specified EFS file system.</p>"
    },
    "DescribeFileSystemPolicy":{
      "name":"DescribeFileSystemPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/2015-02-01/file-systems/{FileSystemId}/policy",
        "responseCode":200
      },
      "input":{"shape":"DescribeFileSystemPolicyRequest"},
      "output":{"shape":"FileSystemPolicyDescription"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"FileSystemNotFound"},
        {"shape":"PolicyNotFound"}
      ],
      "documentation":"<p>Returns the <code>FileSystemPolicy</code> for the specified EFS file system.</p> <p>This operation requires permissions for the <code>elasticfilesystem:DescribeFileSystemPolicy</code> action.</p>"
    },
    "DescribeFileSystems":{
      "name":"DescribeFileSystems",
      "http":{
        "method":"GET",
        "requestUri":"/2015-02-01/file-systems",
        "responseCode":200
      },
      "input":{"shape":"DescribeFileSystemsRequest"},
      "output":{"shape":"DescribeFileSystemsResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"FileSystemNotFound"}
      ],
      "documentation":"<p>Returns the description of a specific Amazon EFS file system if either the file system <code>CreationToken</code> or the <code>FileSystemId</code> is provided. Otherwise, it returns descriptions of all file systems owned by the caller's Amazon Web Services account in the Amazon Web Services Region of the endpoint that you're calling.</p> <p>When retrieving all file system descriptions, you can optionally specify the <code>MaxItems</code> parameter to limit the number of descriptions in a response. This number is automatically set to 100. If more file system descriptions remain, Amazon EFS returns a <code>NextMarker</code>, an opaque token, in the response. In this case, you should send a subsequent request with the <code>Marker</code> request parameter set to the value of <code>NextMarker</code>. </p> <p>To retrieve a list of your file system descriptions, this operation is used in an iterative process, where <code>DescribeFileSystems</code> is called first without the <code>Marker</code> and then the operation continues to call it with the <code>Marker</code> parameter set to the value of the <code>NextMarker</code> from the previous response until the response has no <code>NextMarker</code>. </p> <p> The order of file systems returned in the response of one <code>DescribeFileSystems</code> call and the order of file systems returned across the responses of a multi-call iteration is unspecified. </p> <p> This operation requires permissions for the <code>elasticfilesystem:DescribeFileSystems</code> action. </p>"
    },
    "DescribeLifecycleConfiguration":{
      "name":"DescribeLifecycleConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/2015-02-01/file-systems/{FileSystemId}/lifecycle-configuration",
        "responseCode":200
      },
      "input":{"shape":"DescribeLifecycleConfigurationRequest"},
      "output":{"shape":"LifecycleConfigurationDescription"},
      "errors":[
        {"shape":"InternalServerError"},
        {"shape":"BadRequest"},
        {"shape":"FileSystemNotFound"}
      ],
      "documentation":"<p>Returns the current <code>LifecycleConfiguration</code> object for the specified EFS file system. Lifecycle management uses the <code>LifecycleConfiguration</code> object to identify when to move files between storage classes. For a file system without a <code>LifecycleConfiguration</code> object, the call returns an empty array in the response.</p> <p>This operation requires permissions for the <code>elasticfilesystem:DescribeLifecycleConfiguration</code> operation.</p>"
    },
    "DescribeMountTargetSecurityGroups":{
      "name":"DescribeMountTargetSecurityGroups",
      "http":{
        "method":"GET",
        "requestUri":"/2015-02-01/mount-targets/{MountTargetId}/security-groups",
        "responseCode":200
      },
      "input":{"shape":"DescribeMountTargetSecurityGroupsRequest"},
      "output":{"shape":"DescribeMountTargetSecurityGroupsResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"MountTargetNotFound"},
        {"shape":"IncorrectMountTargetState"}
      ],
      "documentation":"<p>Returns the security groups currently in effect for a mount target. This operation requires that the network interface of the mount target has been created and the lifecycle state of the mount target is not <code>deleted</code>.</p> <p>This operation requires permissions for the following actions:</p> <ul> <li> <p> <code>elasticfilesystem:DescribeMountTargetSecurityGroups</code> action on the mount target's file system. </p> </li> <li> <p> <code>ec2:DescribeNetworkInterfaceAttribute</code> action on the mount target's network interface. </p> </li> </ul>"
    },
    "DescribeMountTargets":{
      "name":"DescribeMountTargets",
      "http":{
        "method":"GET",
        "requestUri":"/2015-02-01/mount-targets",
        "responseCode":200
      },
      "input":{"shape":"DescribeMountTargetsRequest"},
      "output":{"shape":"DescribeMountTargetsResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"FileSystemNotFound"},
        {"shape":"MountTargetNotFound"},
        {"shape":"AccessPointNotFound"}
      ],
      "documentation":"<p>Returns the descriptions of all the current mount targets, or a specific mount target, for a file system. When requesting all of the current mount targets, the order of mount targets returned in the response is unspecified.</p> <p>This operation requires permissions for the <code>elasticfilesystem:DescribeMountTargets</code> action, on either the file system ID that you specify in <code>FileSystemId</code>, or on the file system of the mount target that you specify in <code>MountTargetId</code>.</p>"
    },
    "DescribeReplicationConfigurations":{
      "name":"DescribeReplicationConfigurations",
      "http":{
        "method":"GET",
        "requestUri":"/2015-02-01/file-systems/replication-configurations",
        "responseCode":200
      },
      "input":{"shape":"DescribeReplicationConfigurationsRequest"},
      "output":{"shape":"DescribeReplicationConfigurationsResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"FileSystemNotFound"},
        {"shape":"InternalServerError"},
        {"shape":"ReplicationNotFound"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Retrieves the replication configuration for a specific file system. If a file system is not specified, all of the replication configurations for the Amazon Web Services account in an Amazon Web Services Region are retrieved.</p>"
    },
    "DescribeTags":{
      "name":"DescribeTags",
      "http":{
        "method":"GET",
        "requestUri":"/2015-02-01/tags/{FileSystemId}/",
        "responseCode":200
      },
      "input":{"shape":"DescribeTagsRequest"},
      "output":{"shape":"DescribeTagsResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"FileSystemNotFound"}
      ],
      "documentation":"<note> <p>DEPRECATED - The <code>DescribeTags</code> action is deprecated and not maintained. To view tags associated with EFS resources, use the <code>ListTagsForResource</code> API action.</p> </note> <p>Returns the tags associated with a file system. The order of tags returned in the response of one <code>DescribeTags</code> call and the order of tags returned across the responses of a multiple-call iteration (when using pagination) is unspecified. </p> <p> This operation requires permissions for the <code>elasticfilesystem:DescribeTags</code> action. </p>",
      "deprecated":true,
      "deprecatedMessage":"Use ListTagsForResource."
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/2015-02-01/resource-tags/{ResourceId}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"FileSystemNotFound"},
        {"shape":"AccessPointNotFound"}
      ],
      "documentation":"<p>Lists all tags for a top-level EFS resource. You must provide the ID of the resource that you want to retrieve the tags for.</p> <p>This operation requires permissions for the <code>elasticfilesystem:DescribeAccessPoints</code> action.</p>"
    },
    "ModifyMountTargetSecurityGroups":{
      "name":"ModifyMountTargetSecurityGroups",
      "http":{
        "method":"PUT",
        "requestUri":"/2015-02-01/mount-targets/{MountTargetId}/security-groups",
        "responseCode":204
      },
      "input":{"shape":"ModifyMountTargetSecurityGroupsRequest"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"MountTargetNotFound"},
        {"shape":"IncorrectMountTargetState"},
        {"shape":"SecurityGroupLimitExceeded"},
        {"shape":"SecurityGroupNotFound"}
      ],
      "documentation":"<p>Modifies the set of security groups in effect for a mount target.</p> <p>When you create a mount target, Amazon EFS also creates a new network interface. For more information, see <a>CreateMountTarget</a>. This operation replaces the security groups in effect for the network interface associated with a mount target, with the <code>SecurityGroups</code> provided in the request. This operation requires that the network interface of the mount target has been created and the lifecycle state of the mount target is not <code>deleted</code>. </p> <p>The operation requires permissions for the following actions:</p> <ul> <li> <p> <code>elasticfilesystem:ModifyMountTargetSecurityGroups</code> action on the mount target's file system. </p> </li> <li> <p> <code>ec2:ModifyNetworkInterfaceAttribute</code> action on the mount target's network interface. </p> </li> </ul>"
    },
    "PutAccountPreferences":{
      "name":"PutAccountPreferences",
      "http":{
        "method":"PUT",
        "requestUri":"/2015-02-01/account-preferences",
        "responseCode":200
      },
      "input":{"shape":"PutAccountPreferencesRequest"},
      "output":{"shape":"PutAccountPreferencesResponse"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Use this operation to set the account preference in the current Amazon Web Services Region to use long 17 character (63 bit) or short 8 character (32 bit) resource IDs for new EFS file system and mount target resources. All existing resource IDs are not affected by any changes you make. You can set the ID preference during the opt-in period as EFS transitions to long resource IDs. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/manage-efs-resource-ids.html\">Managing Amazon EFS resource IDs</a>.</p> <note> <p>Starting in October, 2021, you will receive an error if you try to set the account preference to use the short 8 character format resource ID. Contact Amazon Web Services support if you receive an error and must use short IDs for file system and mount target resources.</p> </note>"
    },
    "PutBackupPolicy":{
      "name":"PutBackupPolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/2015-02-01/file-systems/{FileSystemId}/backup-policy",
        "responseCode":200
      },
      "input":{"shape":"PutBackupPolicyRequest"},
      "output":{"shape":"BackupPolicyDescription"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"FileSystemNotFound"},
        {"shape":"IncorrectFileSystemLifeCycleState"},
        {"shape":"InternalServerError"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Updates the file system's backup policy. Use this action to start or stop automatic backups of the file system. </p>"
    },
    "PutFileSystemPolicy":{
      "name":"PutFileSystemPolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/2015-02-01/file-systems/{FileSystemId}/policy",
        "responseCode":200
      },
      "input":{"shape":"PutFileSystemPolicyRequest"},
      "output":{"shape":"FileSystemPolicyDescription"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"FileSystemNotFound"},
        {"shape":"InvalidPolicyException"},
        {"shape":"IncorrectFileSystemLifeCycleState"}
      ],
      "documentation":"<p>Applies an Amazon EFS <code>FileSystemPolicy</code> to an Amazon EFS file system. A file system policy is an IAM resource-based policy and can contain multiple policy statements. A file system always has exactly one file system policy, which can be the default policy or an explicit policy set or updated using this API operation. EFS file system policies have a 20,000 character limit. When an explicit policy is set, it overrides the default policy. For more information about the default file system policy, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/iam-access-control-nfs-efs.html#default-filesystempolicy\"> Default EFS file system policy</a>. </p> <note> <p>EFS file system policies have a 20,000 character limit.</p> </note> <p>This operation requires permissions for the <code>elasticfilesystem:PutFileSystemPolicy</code> action.</p>"
    },
    "PutLifecycleConfiguration":{
      "name":"PutLifecycleConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/2015-02-01/file-systems/{FileSystemId}/lifecycle-configuration",
        "responseCode":200
      },
      "input":{"shape":"PutLifecycleConfigurationRequest"},
      "output":{"shape":"LifecycleConfigurationDescription"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"FileSystemNotFound"},
        {"shape":"IncorrectFileSystemLifeCycleState"}
      ],
      "documentation":"<p>Use this action to manage storage for your file system. A <code>LifecycleConfiguration</code> consists of one or more <code>LifecyclePolicy</code> objects that define the following:</p> <ul> <li> <p> <b> <code>TransitionToIA</code> </b> – When to move files in the file system from primary storage (Standard storage class) into the Infrequent Access (IA) storage.</p> </li> <li> <p> <b> <code>TransitionToArchive</code> </b> – When to move files in the file system from their current storage class (either IA or Standard storage) into the Archive storage.</p> <p>File systems cannot transition into Archive storage before transitioning into IA storage. Therefore, TransitionToArchive must either not be set or must be later than TransitionToIA.</p> <note> <p> The Archive storage class is available only for file systems that use the Elastic throughput mode and the General Purpose performance mode. </p> </note> </li> </ul> <ul> <li> <p> <b> <code>TransitionToPrimaryStorageClass</code> </b> – Whether to move files in the file system back to primary storage (Standard storage class) after they are accessed in IA or Archive storage.</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/lifecycle-management-efs.html\"> Managing file system storage</a>.</p> <p>Each Amazon EFS file system supports one lifecycle configuration, which applies to all files in the file system. If a <code>LifecycleConfiguration</code> object already exists for the specified file system, a <code>PutLifecycleConfiguration</code> call modifies the existing configuration. A <code>PutLifecycleConfiguration</code> call with an empty <code>LifecyclePolicies</code> array in the request body deletes any existing <code>LifecycleConfiguration</code>. In the request, specify the following: </p> <ul> <li> <p>The ID for the file system for which you are enabling, disabling, or modifying lifecycle management.</p> </li> <li> <p>A <code>LifecyclePolicies</code> array of <code>LifecyclePolicy</code> objects that define when to move files to IA storage, to Archive storage, and back to primary storage.</p> <note> <p>Amazon EFS requires that each <code>LifecyclePolicy</code> object have only have a single transition, so the <code>LifecyclePolicies</code> array needs to be structured with separate <code>LifecyclePolicy</code> objects. See the example requests in the following section for more information.</p> </note> </li> </ul> <p>This operation requires permissions for the <code>elasticfilesystem:PutLifecycleConfiguration</code> operation.</p> <p>To apply a <code>LifecycleConfiguration</code> object to an encrypted file system, you need the same Key Management Service permissions as when you created the encrypted file system.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/2015-02-01/resource-tags/{ResourceId}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"FileSystemNotFound"},
        {"shape":"AccessPointNotFound"}
      ],
      "documentation":"<p>Creates a tag for an EFS resource. You can create tags for EFS file systems and access points using this API operation.</p> <p>This operation requires permissions for the <code>elasticfilesystem:TagResource</code> action.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/2015-02-01/resource-tags/{ResourceId}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"InternalServerError"},
        {"shape":"FileSystemNotFound"},
        {"shape":"AccessPointNotFound"}
      ],
      "documentation":"<p>Removes tags from an EFS resource. You can remove tags from EFS file systems and access points using this API operation.</p> <p>This operation requires permissions for the <code>elasticfilesystem:UntagResource</code> action.</p>"
    },
    "UpdateFileSystem":{
      "name":"UpdateFileSystem",
      "http":{
        "method":"PUT",
        "requestUri":"/2015-02-01/file-systems/{FileSystemId}",
        "responseCode":202
      },
      "input":{"shape":"UpdateFileSystemRequest"},
      "output":{"shape":"FileSystemDescription"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"FileSystemNotFound"},
        {"shape":"IncorrectFileSystemLifeCycleState"},
        {"shape":"InsufficientThroughputCapacity"},
        {"shape":"InternalServerError"},
        {"shape":"ThroughputLimitExceeded"},
        {"shape":"TooManyRequests"}
      ],
      "documentation":"<p>Updates the throughput mode or the amount of provisioned throughput of an existing file system.</p>"
    },
    "UpdateFileSystemProtection":{
      "name":"UpdateFileSystemProtection",
      "http":{
        "method":"PUT",
        "requestUri":"/2015-02-01/file-systems/{FileSystemId}/protection",
        "responseCode":200
      },
      "input":{"shape":"UpdateFileSystemProtectionRequest"},
      "output":{"shape":"FileSystemProtectionDescription"},
      "errors":[
        {"shape":"BadRequest"},
        {"shape":"FileSystemNotFound"},
        {"shape":"IncorrectFileSystemLifeCycleState"},
        {"shape":"InsufficientThroughputCapacity"},
        {"shape":"InternalServerError"},
        {"shape":"ThroughputLimitExceeded"},
        {"shape":"ReplicationAlreadyExists"},
        {"shape":"TooManyRequests"}
      ],
      "documentation":"<p>Updates protection on the file system.</p> <p>This operation requires permissions for the <code>elasticfilesystem:UpdateFileSystemProtection</code> action. </p>",
      "idempotent":true
    }
  },
  "shapes":{
    "AccessPointAlreadyExists":{
      "type":"structure",
      "required":[
        "ErrorCode",
        "AccessPointId"
      ],
      "members":{
        "ErrorCode":{"shape":"ErrorCode"},
        "Message":{"shape":"ErrorMessage"},
        "AccessPointId":{"shape":"AccessPointId"}
      },
      "documentation":"<p>Returned if the access point that you are trying to create already exists, with the creation token you provided in the request.</p>",
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "AccessPointArn":{
      "type":"string",
      "max":128,
      "pattern":"^arn:aws[-a-z]*:elasticfilesystem:[0-9a-z-:]+:access-point/fsap-[0-9a-f]{8,40}$"
    },
    "AccessPointDescription":{
      "type":"structure",
      "members":{
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>The opaque string specified in the request to ensure idempotent creation.</p>"
        },
        "Name":{
          "shape":"Name",
          "documentation":"<p>The name of the access point. This is the value of the <code>Name</code> tag.</p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>The tags associated with the access point, presented as an array of Tag objects.</p>"
        },
        "AccessPointId":{
          "shape":"AccessPointId",
          "documentation":"<p>The ID of the access point, assigned by Amazon EFS.</p>"
        },
        "AccessPointArn":{
          "shape":"AccessPointArn",
          "documentation":"<p>The unique Amazon Resource Name (ARN) associated with the access point.</p>"
        },
        "FileSystemId":{
          "shape":"FileSystemId",
          "documentation":"<p>The ID of the EFS file system that the access point applies to.</p>"
        },
        "PosixUser":{
          "shape":"PosixUser",
          "documentation":"<p>The full POSIX identity, including the user ID, group ID, and secondary group IDs on the access point that is used for all file operations by NFS clients using the access point.</p>"
        },
        "RootDirectory":{
          "shape":"RootDirectory",
          "documentation":"<p>The directory on the EFS file system that the access point exposes as the root directory to NFS clients using the access point.</p>"
        },
        "OwnerId":{
          "shape":"AwsAccountId",
          "documentation":"<p>Identifies the Amazon Web Services account that owns the access point resource.</p>"
        },
        "LifeCycleState":{
          "shape":"LifeCycleState",
          "documentation":"<p>Identifies the lifecycle phase of the access point.</p>"
        }
      },
      "documentation":"<p>Provides a description of an EFS file system access point.</p>"
    },
    "AccessPointDescriptions":{
      "type":"list",
      "member":{"shape":"AccessPointDescription"}
    },
    "AccessPointId":{
      "type":"string",
      "max":128,
      "pattern":"^(arn:aws[-a-z]*:elasticfilesystem:[0-9a-z-:]+:access-point/fsap-[0-9a-f]{8,40}|fsap-[0-9a-f]{8,40})$"
    },
    "AccessPointLimitExceeded":{
      "type":"structure",
      "required":["ErrorCode"],
      "members":{
        "ErrorCode":{"shape":"ErrorCode"},
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>Returned if the Amazon Web Services account has already created the maximum number of access points allowed per file system. For more informaton, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/limits.html#limits-efs-resources-per-account-per-region\">https://docs.aws.amazon.com/efs/latest/ug/limits.html#limits-efs-resources-per-account-per-region</a>.</p>",
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "AccessPointNotFound":{
      "type":"structure",
      "required":["ErrorCode"],
      "members":{
        "ErrorCode":{"shape":"ErrorCode"},
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>Returned if the specified <code>AccessPointId</code> value doesn't exist in the requester's Amazon Web Services account.</p>",
      "error":{"httpStatusCode":404},
      "exception":true
    },
    "AvailabilityZoneId":{"type":"string"},
    "AvailabilityZoneName":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":".+"
    },
    "AvailabilityZonesMismatch":{
      "type":"structure",
      "members":{
        "ErrorCode":{"shape":"ErrorCode"},
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>Returned if the Availability Zone that was specified for a mount target is different from the Availability Zone that was specified for One Zone storage. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/availability-durability.html\">Regional and One Zone storage redundancy</a>.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "AwsAccountId":{
      "type":"string",
      "max":14,
      "pattern":"^(\\d{12})|(\\d{4}-\\d{4}-\\d{4})$"
    },
    "Backup":{"type":"boolean"},
    "BackupPolicy":{
      "type":"structure",
      "required":["Status"],
      "members":{
        "Status":{
          "shape":"Status",
          "documentation":"<p>Describes the status of the file system's backup policy.</p> <ul> <li> <p> <b> <code>ENABLED</code> </b> – EFS is automatically backing up the file system.</p> </li> <li> <p> <b> <code>ENABLING</code> </b> – EFS is turning on automatic backups for the file system.</p> </li> <li> <p> <b> <code>DISABLED</code> </b> – Automatic back ups are turned off for the file system.</p> </li> <li> <p> <b> <code>DISABLING</code> </b> – EFS is turning off automatic backups for the file system.</p> </li> </ul>"
        }
      },
      "documentation":"<p>The backup policy for the file system used to create automatic daily backups. If status has a value of <code>ENABLED</code>, the file system is being automatically backed up. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/awsbackup.html#automatic-backups\">Automatic backups</a>.</p>"
    },
    "BackupPolicyDescription":{
      "type":"structure",
      "members":{
        "BackupPolicy":{
          "shape":"BackupPolicy",
          "documentation":"<p>Describes the file system's backup policy, indicating whether automatic backups are turned on or off.</p>"
        }
      }
    },
    "BadRequest":{
      "type":"structure",
      "required":["ErrorCode"],
      "members":{
        "ErrorCode":{"shape":"ErrorCode"},
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>Returned if the request is malformed or contains an error such as an invalid parameter value or a missing required parameter.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "BypassPolicyLockoutSafetyCheck":{"type":"boolean"},
    "ClientToken":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":".+"
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "ErrorCode":{"shape":"ErrorCode"},
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>Returned if the source file system in a replication is encrypted but the destination file system is unencrypted.</p>",
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "CreateAccessPointRequest":{
      "type":"structure",
      "required":[
        "ClientToken",
        "FileSystemId"
      ],
      "members":{
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A string of up to 64 ASCII characters that Amazon EFS uses to ensure idempotent creation.</p>",
          "idempotencyToken":true
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>Creates tags associated with the access point. Each tag is a key-value pair, each key must be unique. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services resources</a> in the <i>Amazon Web Services General Reference Guide</i>.</p>"
        },
        "FileSystemId":{
          "shape":"FileSystemId",
          "documentation":"<p>The ID of the EFS file system that the access point provides access to.</p>"
        },
        "PosixUser":{
          "shape":"PosixUser",
          "documentation":"<p>The operating system user and group applied to all file system requests made using the access point.</p>"
        },
        "RootDirectory":{
          "shape":"RootDirectory",
          "documentation":"<p>Specifies the directory on the EFS file system that the access point exposes as the root directory of your file system to NFS clients using the access point. The clients using the access point can only access the root directory and below. If the <code>RootDirectory</code> &gt; <code>Path</code> specified does not exist, Amazon EFS creates it and applies the <code>CreationInfo</code> settings when a client connects to an access point. When specifying a <code>RootDirectory</code>, you must provide the <code>Path</code>, and the <code>CreationInfo</code>.</p> <p>Amazon EFS creates a root directory only if you have provided the CreationInfo: OwnUid, OwnGID, and permissions for the directory. If you do not provide this information, Amazon EFS does not create the root directory. If the root directory does not exist, attempts to mount using the access point will fail.</p>"
        }
      }
    },
    "CreateFileSystemRequest":{
      "type":"structure",
      "required":["CreationToken"],
      "members":{
        "CreationToken":{
          "shape":"CreationToken",
          "documentation":"<p>A string of up to 64 ASCII characters. Amazon EFS uses this to ensure idempotent creation.</p>",
          "idempotencyToken":true
        },
        "PerformanceMode":{
          "shape":"PerformanceMode",
          "documentation":"<p>The performance mode of the file system. We recommend <code>generalPurpose</code> performance mode for all file systems. File systems using the <code>maxIO</code> performance mode can scale to higher levels of aggregate throughput and operations per second with a tradeoff of slightly higher latencies for most file operations. The performance mode can't be changed after the file system has been created. The <code>maxIO</code> mode is not supported on One Zone file systems.</p> <important> <p>Due to the higher per-operation latencies with Max I/O, we recommend using General Purpose performance mode for all file systems.</p> </important> <p>Default is <code>generalPurpose</code>.</p>"
        },
        "Encrypted":{
          "shape":"Encrypted",
          "documentation":"<p>A Boolean value that, if true, creates an encrypted file system. When creating an encrypted file system, you have the option of specifying an existing Key Management Service key (KMS key). If you don't specify a KMS key, then the default KMS key for Amazon EFS, <code>/aws/elasticfilesystem</code>, is used to protect the encrypted file system. </p>"
        },
        "KmsKeyId":{
          "shape":"KmsKeyId",
          "documentation":"<p>The ID of the KMS key that you want to use to protect the encrypted file system. This parameter is required only if you want to use a non-default KMS key. If this parameter is not specified, the default KMS key for Amazon EFS is used. You can specify a KMS key ID using the following formats:</p> <ul> <li> <p>Key ID - A unique identifier of the key, for example <code>1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p> </li> <li> <p>ARN - An Amazon Resource Name (ARN) for the key, for example <code>arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p> </li> <li> <p>Key alias - A previously created display name for a key, for example <code>alias/projectKey1</code>.</p> </li> <li> <p>Key alias ARN - An ARN for a key alias, for example <code>arn:aws:kms:us-west-2:444455556666:alias/projectKey1</code>.</p> </li> </ul> <p>If you use <code>KmsKeyId</code>, you must set the <a>CreateFileSystemRequest$Encrypted</a> parameter to true.</p> <important> <p>EFS accepts only symmetric KMS keys. You cannot use asymmetric KMS keys with Amazon EFS file systems.</p> </important>"
        },
        "ThroughputMode":{
          "shape":"ThroughputMode",
          "documentation":"<p>Specifies the throughput mode for the file system. The mode can be <code>bursting</code>, <code>provisioned</code>, or <code>elastic</code>. If you set <code>ThroughputMode</code> to <code>provisioned</code>, you must also set a value for <code>ProvisionedThroughputInMibps</code>. After you create the file system, you can decrease your file system's Provisioned throughput or change between the throughput modes, with certain time restrictions. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/performance.html#provisioned-throughput\">Specifying throughput with provisioned mode</a> in the <i>Amazon EFS User Guide</i>. </p> <p>Default is <code>bursting</code>.</p>"
        },
        "ProvisionedThroughputInMibps":{
          "shape":"ProvisionedThroughputInMibps",
          "documentation":"<p>The throughput, measured in mebibytes per second (MiBps), that you want to provision for a file system that you're creating. Required if <code>ThroughputMode</code> is set to <code>provisioned</code>. Valid values are 1-3414 MiBps, with the upper limit depending on Region. To increase this limit, contact Amazon Web ServicesSupport. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/limits.html#soft-limits\">Amazon EFS quotas that you can increase</a> in the <i>Amazon EFS User Guide</i>.</p>"
        },
        "AvailabilityZoneName":{
          "shape":"AvailabilityZoneName",
          "documentation":"<p>For One Zone file systems, specify the Amazon Web Services Availability Zone in which to create the file system. Use the format <code>us-east-1a</code> to specify the Availability Zone. For more information about One Zone file systems, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/availability-durability.html#file-system-type\">EFS file system types</a> in the <i>Amazon EFS User Guide</i>.</p> <note> <p>One Zone file systems are not available in all Availability Zones in Amazon Web Services Regions where Amazon EFS is available.</p> </note>"
        },
        "Backup":{
          "shape":"Backup",
          "documentation":"<p>Specifies whether automatic backups are enabled on the file system that you are creating. Set the value to <code>true</code> to enable automatic backups. If you are creating a One Zone file system, automatic backups are enabled by default. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/awsbackup.html#automatic-backups\">Automatic backups</a> in the <i>Amazon EFS User Guide</i>.</p> <p>Default is <code>false</code>. However, if you specify an <code>AvailabilityZoneName</code>, the default is <code>true</code>.</p> <note> <p>Backup is not available in all Amazon Web Services Regions where Amazon EFS is available.</p> </note>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>Use to create one or more tags associated with the file system. Each tag is a user-defined key-value pair. Name your file system on creation by including a <code>\"Key\":\"Name\",\"Value\":\"{value}\"</code> key-value pair. Each key must be unique. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_tagging.html\">Tagging Amazon Web Services resources</a> in the <i>Amazon Web Services General Reference Guide</i>.</p>"
        }
      }
    },
    "CreateMountTargetRequest":{
      "type":"structure",
      "required":[
        "FileSystemId",
        "SubnetId"
      ],
      "members":{
        "FileSystemId":{
          "shape":"FileSystemId",
          "documentation":"<p>The ID of the file system for which to create the mount target.</p>"
        },
        "SubnetId":{
          "shape":"SubnetId",
          "documentation":"<p>The ID of the subnet to add the mount target in. For One Zone file systems, use the subnet that is associated with the file system's Availability Zone.</p>"
        },
        "IpAddress":{
          "shape":"IpAddress",
          "documentation":"<p>If the IP address type for the mount target is IPv4, then specify the IPv4 address within the address range of the specified subnet.</p>"
        },
        "Ipv6Address":{
          "shape":"Ipv6Address",
          "documentation":"<p>If the IP address type for the mount target is IPv6, then specify the IPv6 address within the address range of the specified subnet.</p>"
        },
        "IpAddressType":{
          "shape":"IpAddressType",
          "documentation":"<p>Specify the type of IP address of the mount target you are creating. Options are IPv4, dual stack, or IPv6. If you don’t specify an IpAddressType, then IPv4 is used.</p> <ul> <li> <p>IPV4_ONLY – Create mount target with IPv4 only subnet or dual-stack subnet.</p> </li> <li> <p>DUAL_STACK – Create mount target with dual-stack subnet.</p> </li> <li> <p>IPV6_ONLY – Create mount target with IPv6 only subnet.</p> </li> </ul> <note> <p>Creating IPv6 mount target only ENI in dual-stack subnet is not supported.</p> </note>"
        },
        "SecurityGroups":{
          "shape":"SecurityGroups",
          "documentation":"<p>VPC security group IDs, of the form <code>sg-xxxxxxxx</code>. These must be for the same VPC as the subnet specified. The maximum number of security groups depends on account quota. For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/amazon-vpc-limits.html\">Amazon VPC Quotas</a> in the <i>Amazon VPC User Guide</i> (see the <b>Security Groups</b> table). </p>"
        }
      },
      "documentation":"<p/>"
    },
    "CreateReplicationConfigurationRequest":{
      "type":"structure",
      "required":[
        "SourceFileSystemId",
        "Destinations"
      ],
      "members":{
        "SourceFileSystemId":{
          "shape":"FileSystemId",
          "documentation":"<p>Specifies the Amazon EFS file system that you want to replicate. This file system cannot already be a source or destination file system in another replication configuration.</p>",
          "location":"uri",
          "locationName":"SourceFileSystemId"
        },
        "Destinations":{
          "shape":"DestinationsToCreate",
          "documentation":"<p>An array of destination configuration objects. Only one destination configuration object is supported.</p>"
        }
      }
    },
    "CreateTagsRequest":{
      "type":"structure",
      "required":[
        "FileSystemId",
        "Tags"
      ],
      "members":{
        "FileSystemId":{
          "shape":"FileSystemId",
          "documentation":"<p>The ID of the file system whose tags you want to modify (String). This operation modifies the tags only, not the file system.</p>",
          "location":"uri",
          "locationName":"FileSystemId"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>An array of <code>Tag</code> objects to add. Each <code>Tag</code> object is a key-value pair. </p>"
        }
      },
      "documentation":"<p/>"
    },
    "CreationInfo":{
      "type":"structure",
      "required":[
        "OwnerUid",
        "OwnerGid",
        "Permissions"
      ],
      "members":{
        "OwnerUid":{
          "shape":"OwnerUid",
          "documentation":"<p>Specifies the POSIX user ID to apply to the <code>RootDirectory</code>. Accepts values from 0 to 2^32 (4294967295).</p>"
        },
        "OwnerGid":{
          "shape":"OwnerGid",
          "documentation":"<p>Specifies the POSIX group ID to apply to the <code>RootDirectory</code>. Accepts values from 0 to 2^32 (4294967295).</p>"
        },
        "Permissions":{
          "shape":"Permissions",
          "documentation":"<p>Specifies the POSIX permissions to apply to the <code>RootDirectory</code>, in the format of an octal number representing the file's mode bits.</p>"
        }
      },
      "documentation":"<p>Required if the <code>RootDirectory</code> &gt; <code>Path</code> specified does not exist. Specifies the POSIX IDs and permissions to apply to the access point's <code>RootDirectory</code> &gt; <code>Path</code>. If the access point root directory does not exist, EFS creates it with these settings when a client connects to the access point. When specifying <code>CreationInfo</code>, you must include values for all properties. </p> <p>Amazon EFS creates a root directory only if you have provided the CreationInfo: OwnUid, OwnGID, and permissions for the directory. If you do not provide this information, Amazon EFS does not create the root directory. If the root directory does not exist, attempts to mount using the access point will fail.</p> <important> <p>If you do not provide <code>CreationInfo</code> and the specified <code>RootDirectory</code> does not exist, attempts to mount the file system using the access point will fail.</p> </important>"
    },
    "CreationToken":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":".+"
    },
    "DeleteAccessPointRequest":{
      "type":"structure",
      "required":["AccessPointId"],
      "members":{
        "AccessPointId":{
          "shape":"AccessPointId",
          "documentation":"<p>The ID of the access point that you want to delete.</p>",
          "location":"uri",
          "locationName":"AccessPointId"
        }
      }
    },
    "DeleteFileSystemPolicyRequest":{
      "type":"structure",
      "required":["FileSystemId"],
      "members":{
        "FileSystemId":{
          "shape":"FileSystemId",
          "documentation":"<p>Specifies the EFS file system for which to delete the <code>FileSystemPolicy</code>.</p>",
          "location":"uri",
          "locationName":"FileSystemId"
        }
      }
    },
    "DeleteFileSystemRequest":{
      "type":"structure",
      "required":["FileSystemId"],
      "members":{
        "FileSystemId":{
          "shape":"FileSystemId",
          "documentation":"<p>The ID of the file system you want to delete.</p>",
          "location":"uri",
          "locationName":"FileSystemId"
        }
      },
      "documentation":"<p/>"
    },
    "DeleteMountTargetRequest":{
      "type":"structure",
      "required":["MountTargetId"],
      "members":{
        "MountTargetId":{
          "shape":"MountTargetId",
          "documentation":"<p>The ID of the mount target to delete (String).</p>",
          "location":"uri",
          "locationName":"MountTargetId"
        }
      },
      "documentation":"<p/>"
    },
    "DeleteReplicationConfigurationRequest":{
      "type":"structure",
      "required":["SourceFileSystemId"],
      "members":{
        "SourceFileSystemId":{
          "shape":"FileSystemId",
          "documentation":"<p>The ID of the source file system in the replication configuration.</p>",
          "location":"uri",
          "locationName":"SourceFileSystemId"
        },
        "DeletionMode":{
          "shape":"DeletionMode",
          "documentation":"<p>When replicating across Amazon Web Services accounts or across Amazon Web Services Regions, Amazon EFS deletes the replication configuration from both the source and destination account or Region (<code>ALL_CONFIGURATIONS</code>) by default. If there's a configuration or permissions issue that prevents Amazon EFS from deleting the replication configuration from both sides, you can use the <code>LOCAL_CONFIGURATION_ONLY</code> mode to delete the replication configuration from only the local side (the account or Region from which the delete is performed). </p> <note> <p>Only use the <code>LOCAL_CONFIGURATION_ONLY</code> mode in the case that Amazon EFS is unable to delete the replication configuration in both the source and destination account or Region. Deleting the local configuration leaves the configuration in the other account or Region unrecoverable.</p> <p>Additionally, do not use this mode for same-account, same-region replication as doing so results in a BadRequest exception error.</p> </note>",
          "location":"querystring",
          "locationName":"deletionMode"
        }
      }
    },
    "DeleteTagsRequest":{
      "type":"structure",
      "required":[
        "FileSystemId",
        "TagKeys"
      ],
      "members":{
        "FileSystemId":{
          "shape":"FileSystemId",
          "documentation":"<p>The ID of the file system whose tags you want to delete (String).</p>",
          "location":"uri",
          "locationName":"FileSystemId"
        },
        "TagKeys":{
          "shape":"TagKeys",
          "documentation":"<p>A list of tag keys to delete.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "DeletionMode":{
      "type":"string",
      "enum":[
        "ALL_CONFIGURATIONS",
        "LOCAL_CONFIGURATION_ONLY"
      ]
    },
    "DependencyTimeout":{
      "type":"structure",
      "required":["ErrorCode"],
      "members":{
        "ErrorCode":{"shape":"ErrorCode"},
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>The service timed out trying to fulfill the request, and the client should try the call again.</p>",
      "error":{"httpStatusCode":504},
      "exception":true
    },
    "DescribeAccessPointsRequest":{
      "type":"structure",
      "members":{
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>(Optional) When retrieving all access points for a file system, you can optionally specify the <code>MaxItems</code> parameter to limit the number of objects returned in a response. The default value is 100. </p>",
          "location":"querystring",
          "locationName":"MaxResults"
        },
        "NextToken":{
          "shape":"Token",
          "documentation":"<p> <code>NextToken</code> is present if the response is paginated. You can use <code>NextMarker</code> in the subsequent request to fetch the next page of access point descriptions.</p>",
          "location":"querystring",
          "locationName":"NextToken"
        },
        "AccessPointId":{
          "shape":"AccessPointId",
          "documentation":"<p>(Optional) Specifies an EFS access point to describe in the response; mutually exclusive with <code>FileSystemId</code>.</p>",
          "location":"querystring",
          "locationName":"AccessPointId"
        },
        "FileSystemId":{
          "shape":"FileSystemId",
          "documentation":"<p>(Optional) If you provide a <code>FileSystemId</code>, EFS returns all access points for that file system; mutually exclusive with <code>AccessPointId</code>.</p>",
          "location":"querystring",
          "locationName":"FileSystemId"
        }
      }
    },
    "DescribeAccessPointsResponse":{
      "type":"structure",
      "members":{
        "AccessPoints":{
          "shape":"AccessPointDescriptions",
          "documentation":"<p>An array of access point descriptions.</p>"
        },
        "NextToken":{
          "shape":"Token",
          "documentation":"<p>Present if there are more access points than returned in the response. You can use the NextMarker in the subsequent request to fetch the additional descriptions.</p>"
        }
      }
    },
    "DescribeAccountPreferencesRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"Token",
          "documentation":"<p>(Optional) You can use <code>NextToken</code> in a subsequent request to fetch the next page of Amazon Web Services account preferences if the response payload was paginated.</p>"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>(Optional) When retrieving account preferences, you can optionally specify the <code>MaxItems</code> parameter to limit the number of objects returned in a response. The default value is 100. </p>"
        }
      }
    },
    "DescribeAccountPreferencesResponse":{
      "type":"structure",
      "members":{
        "ResourceIdPreference":{
          "shape":"ResourceIdPreference",
          "documentation":"<p>Describes the resource ID preference setting for the Amazon Web Services account associated with the user making the request, in the current Amazon Web Services Region.</p>"
        },
        "NextToken":{
          "shape":"Token",
          "documentation":"<p>Present if there are more records than returned in the response. You can use the <code>NextToken</code> in the subsequent request to fetch the additional descriptions.</p>"
        }
      }
    },
    "DescribeBackupPolicyRequest":{
      "type":"structure",
      "required":["FileSystemId"],
      "members":{
        "FileSystemId":{
          "shape":"FileSystemId",
          "documentation":"<p>Specifies which EFS file system for which to retrieve the <code>BackupPolicy</code>.</p>",
          "location":"uri",
          "locationName":"FileSystemId"
        }
      }
    },
    "DescribeFileSystemPolicyRequest":{
      "type":"structure",
      "required":["FileSystemId"],
      "members":{
        "FileSystemId":{
          "shape":"FileSystemId",
          "documentation":"<p>Specifies which EFS file system to retrieve the <code>FileSystemPolicy</code> for.</p>",
          "location":"uri",
          "locationName":"FileSystemId"
        }
      }
    },
    "DescribeFileSystemsRequest":{
      "type":"structure",
      "members":{
        "MaxItems":{
          "shape":"MaxItems",
          "documentation":"<p>(Optional) Specifies the maximum number of file systems to return in the response (integer). This number is automatically set to 100. The response is paginated at 100 per page if you have more than 100 file systems. </p>",
          "location":"querystring",
          "locationName":"MaxItems"
        },
        "Marker":{
          "shape":"Marker",
          "documentation":"<p>(Optional) Opaque pagination token returned from a previous <code>DescribeFileSystems</code> operation (String). If present, specifies to continue the list from where the returning call had left off. </p>",
          "location":"querystring",
          "locationName":"Marker"
        },
        "CreationToken":{
          "shape":"CreationToken",
          "documentation":"<p>(Optional) Restricts the list to the file system with this creation token (String). You specify a creation token when you create an Amazon EFS file system.</p>",
          "location":"querystring",
          "locationName":"CreationToken"
        },
        "FileSystemId":{
          "shape":"FileSystemId",
          "documentation":"<p>(Optional) ID of the file system whose description you want to retrieve (String).</p>",
          "location":"querystring",
          "locationName":"FileSystemId"
        }
      },
      "documentation":"<p/>"
    },
    "DescribeFileSystemsResponse":{
      "type":"structure",
      "members":{
        "Marker":{
          "shape":"Marker",
          "documentation":"<p>Present if provided by caller in the request (String).</p>"
        },
        "FileSystems":{
          "shape":"FileSystemDescriptions",
          "documentation":"<p>An array of file system descriptions.</p>"
        },
        "NextMarker":{
          "shape":"Marker",
          "documentation":"<p>Present if there are more file systems than returned in the response (String). You can use the <code>NextMarker</code> in the subsequent request to fetch the descriptions.</p>"
        }
      }
    },
    "DescribeLifecycleConfigurationRequest":{
      "type":"structure",
      "required":["FileSystemId"],
      "members":{
        "FileSystemId":{
          "shape":"FileSystemId",
          "documentation":"<p>The ID of the file system whose <code>LifecycleConfiguration</code> object you want to retrieve (String).</p>",
          "location":"uri",
          "locationName":"FileSystemId"
        }
      }
    },
    "DescribeMountTargetSecurityGroupsRequest":{
      "type":"structure",
      "required":["MountTargetId"],
      "members":{
        "MountTargetId":{
          "shape":"MountTargetId",
          "documentation":"<p>The ID of the mount target whose security groups you want to retrieve.</p>",
          "location":"uri",
          "locationName":"MountTargetId"
        }
      },
      "documentation":"<p/>"
    },
    "DescribeMountTargetSecurityGroupsResponse":{
      "type":"structure",
      "required":["SecurityGroups"],
      "members":{
        "SecurityGroups":{
          "shape":"SecurityGroups",
          "documentation":"<p>An array of security groups.</p>"
        }
      }
    },
    "DescribeMountTargetsRequest":{
      "type":"structure",
      "members":{
        "MaxItems":{
          "shape":"MaxItems",
          "documentation":"<p>(Optional) Maximum number of mount targets to return in the response. Currently, this number is automatically set to 10, and other values are ignored. The response is paginated at 100 per page if you have more than 100 mount targets.</p>",
          "location":"querystring",
          "locationName":"MaxItems"
        },
        "Marker":{
          "shape":"Marker",
          "documentation":"<p>(Optional) Opaque pagination token returned from a previous <code>DescribeMountTargets</code> operation (String). If present, it specifies to continue the list from where the previous returning call left off.</p>",
          "location":"querystring",
          "locationName":"Marker"
        },
        "FileSystemId":{
          "shape":"FileSystemId",
          "documentation":"<p>(Optional) ID of the file system whose mount targets you want to list (String). It must be included in your request if an <code>AccessPointId</code> or <code>MountTargetId</code> is not included. Accepts either a file system ID or ARN as input.</p>",
          "location":"querystring",
          "locationName":"FileSystemId"
        },
        "MountTargetId":{
          "shape":"MountTargetId",
          "documentation":"<p>(Optional) ID of the mount target that you want to have described (String). It must be included in your request if <code>FileSystemId</code> is not included. Accepts either a mount target ID or ARN as input.</p>",
          "location":"querystring",
          "locationName":"MountTargetId"
        },
        "AccessPointId":{
          "shape":"AccessPointId",
          "documentation":"<p>(Optional) The ID of the access point whose mount targets that you want to list. It must be included in your request if a <code>FileSystemId</code> or <code>MountTargetId</code> is not included in your request. Accepts either an access point ID or ARN as input.</p>",
          "location":"querystring",
          "locationName":"AccessPointId"
        }
      },
      "documentation":"<p/>"
    },
    "DescribeMountTargetsResponse":{
      "type":"structure",
      "members":{
        "Marker":{
          "shape":"Marker",
          "documentation":"<p>If the request included the <code>Marker</code>, the response returns that value in this field.</p>"
        },
        "MountTargets":{
          "shape":"MountTargetDescriptions",
          "documentation":"<p>Returns the file system's mount targets as an array of <code>MountTargetDescription</code> objects.</p>"
        },
        "NextMarker":{
          "shape":"Marker",
          "documentation":"<p>If a value is present, there are more mount targets to return. In a subsequent request, you can provide <code>Marker</code> in your request with this value to retrieve the next set of mount targets.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "DescribeReplicationConfigurationsRequest":{
      "type":"structure",
      "members":{
        "FileSystemId":{
          "shape":"FileSystemId",
          "documentation":"<p>You can retrieve the replication configuration for a specific file system by providing its file system ID. For cross-account,cross-region replication, an account can only describe the replication configuration for a file system in its own Region.</p>",
          "location":"querystring",
          "locationName":"FileSystemId"
        },
        "NextToken":{
          "shape":"Token",
          "documentation":"<p> <code>NextToken</code> is present if the response is paginated. You can use <code>NextToken</code> in a subsequent request to fetch the next page of output.</p>",
          "location":"querystring",
          "locationName":"NextToken"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>(Optional) To limit the number of objects returned in a response, you can specify the <code>MaxItems</code> parameter. The default value is 100. </p>",
          "location":"querystring",
          "locationName":"MaxResults"
        }
      }
    },
    "DescribeReplicationConfigurationsResponse":{
      "type":"structure",
      "members":{
        "Replications":{
          "shape":"ReplicationConfigurationDescriptions",
          "documentation":"<p>The collection of replication configurations that is returned.</p>"
        },
        "NextToken":{
          "shape":"Token",
          "documentation":"<p>You can use the <code>NextToken</code> from the previous response in a subsequent request to fetch the additional descriptions.</p>"
        }
      }
    },
    "DescribeTagsRequest":{
      "type":"structure",
      "required":["FileSystemId"],
      "members":{
        "MaxItems":{
          "shape":"MaxItems",
          "documentation":"<p>(Optional) The maximum number of file system tags to return in the response. Currently, this number is automatically set to 100, and other values are ignored. The response is paginated at 100 per page if you have more than 100 tags.</p>",
          "location":"querystring",
          "locationName":"MaxItems"
        },
        "Marker":{
          "shape":"Marker",
          "documentation":"<p>(Optional) An opaque pagination token returned from a previous <code>DescribeTags</code> operation (String). If present, it specifies to continue the list from where the previous call left off.</p>",
          "location":"querystring",
          "locationName":"Marker"
        },
        "FileSystemId":{
          "shape":"FileSystemId",
          "documentation":"<p>The ID of the file system whose tag set you want to retrieve.</p>",
          "location":"uri",
          "locationName":"FileSystemId"
        }
      },
      "documentation":"<p/>"
    },
    "DescribeTagsResponse":{
      "type":"structure",
      "required":["Tags"],
      "members":{
        "Marker":{
          "shape":"Marker",
          "documentation":"<p>If the request included a <code>Marker</code>, the response returns that value in this field.</p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>Returns tags associated with the file system as an array of <code>Tag</code> objects. </p>"
        },
        "NextMarker":{
          "shape":"Marker",
          "documentation":"<p>If a value is present, there are more tags to return. In a subsequent request, you can provide the value of <code>NextMarker</code> as the value of the <code>Marker</code> parameter in your next request to retrieve the next set of tags.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "Destination":{
      "type":"structure",
      "required":[
        "Status",
        "FileSystemId",
        "Region"
      ],
      "members":{
        "Status":{
          "shape":"ReplicationStatus",
          "documentation":"<p>Describes the status of the replication configuration. For more information about replication status, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/awsbackup.html#restoring-backup-efsmonitoring-replication-status.html\">Viewing replication details</a> in the <i>Amazon EFS User Guide</i>. </p>"
        },
        "FileSystemId":{
          "shape":"FileSystemId",
          "documentation":"<p>The ID of the destination Amazon EFS file system.</p>"
        },
        "Region":{
          "shape":"RegionName",
          "documentation":"<p>The Amazon Web Services Region in which the destination file system is located.</p>"
        },
        "LastReplicatedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The time when the most recent sync was successfully completed on the destination file system. Any changes to data on the source file system that occurred before this time have been successfully replicated to the destination file system. Any changes that occurred after this time might not be fully replicated.</p>"
        },
        "OwnerId":{
          "shape":"AwsAccountId",
          "documentation":"<p>ID of the Amazon Web Services account in which the destination file system resides.</p>"
        },
        "StatusMessage":{
          "shape":"StatusMessage",
          "documentation":"<p>Message that provides details about the <code>PAUSED</code> or <code>ERRROR</code> state of the replication destination configuration. For more information about replication status messages, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/awsbackup.html#restoring-backup-efsmonitoring-replication-status.html\">Viewing replication details</a> in the <i>Amazon EFS User Guide</i>. </p>"
        },
        "RoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>Amazon Resource Name (ARN) of the IAM role in the source account that allows Amazon EFS to perform replication on its behalf. This is optional for same-account replication and required for cross-account replication.</p>"
        }
      },
      "documentation":"<p>Describes the destination file system in the replication configuration.</p>"
    },
    "DestinationToCreate":{
      "type":"structure",
      "members":{
        "Region":{
          "shape":"RegionName",
          "documentation":"<p>To create a file system that uses Regional storage, specify the Amazon Web Services Region in which to create the destination file system. The Region must be enabled for the Amazon Web Services account that owns the source file system. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande-manage.html#rande-manage-enable\">Managing Amazon Web Services Regions</a> in the <i>Amazon Web Services General Reference Reference Guide</i>.</p>"
        },
        "AvailabilityZoneName":{
          "shape":"AvailabilityZoneName",
          "documentation":"<p>To create a file system that uses One Zone storage, specify the name of the Availability Zone in which to create the destination file system.</p>"
        },
        "KmsKeyId":{
          "shape":"KmsKeyId",
          "documentation":"<p>Specify the Key Management Service (KMS) key that you want to use to encrypt the destination file system. If you do not specify a KMS key, Amazon EFS uses your default KMS key for Amazon EFS, <code>/aws/elasticfilesystem</code>. This ID can be in one of the following formats:</p> <ul> <li> <p>Key ID - The unique identifier of the key, for example <code>1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p> </li> <li> <p>ARN - The ARN for the key, for example <code>arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p> </li> <li> <p>Key alias - A previously created display name for a key, for example <code>alias/projectKey1</code>.</p> </li> <li> <p>Key alias ARN - The ARN for a key alias, for example <code>arn:aws:kms:us-west-2:444455556666:alias/projectKey1</code>.</p> </li> </ul>"
        },
        "FileSystemId":{
          "shape":"FileSystemId",
          "documentation":"<p>The ID or ARN of the file system to use for the destination. For cross-account replication, this must be an ARN. The file system's replication overwrite replication must be disabled. If no ID or ARN is specified, then a new file system is created. </p> <note> <p>When you initially configure replication to an existing file system, Amazon EFS writes data to or removes existing data from the destination file system to match data in the source file system. If you don't want to change data in the destination file system, then you should replicate to a new file system instead. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/create-replication.html\">https://docs.aws.amazon.com/efs/latest/ug/create-replication.html</a>.</p> </note>"
        },
        "RoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>Amazon Resource Name (ARN) of the IAM role in the source account that allows Amazon EFS to perform replication on its behalf. This is optional for same-account replication and required for cross-account replication.</p>"
        }
      },
      "documentation":"<p>Describes the new or existing destination file system for the replication configuration.</p> <ul> <li> <p>If you want to replicate to a new file system, do not specify the File System ID for the destination file system. Amazon EFS creates a new, empty file system. For One Zone storage, specify the Availability Zone to create the file system in. To use an Key Management Service key other than the default KMS key, then specify it. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/create-replication.html\">Configuring replication to new Amazon EFS file system</a> in the <i>Amazon EFS User Guide</i>.</p> <note> <p>After the file system is created, you cannot change the KMS key or the performance mode.</p> </note> </li> <li> <p>If you want to replicate to an existing file system that's in the same account as the source file system, then you need to provide the ID or Amazon Resource Name (ARN) of the file system to which to replicate. The file system's replication overwrite protection must be disabled. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/efs-replication#replicate-existing-destination\">Replicating to an existing file system</a> in the <i>Amazon EFS User Guide</i>.</p> </li> <li> <p>If you are replicating the file system to a file system that's in a different account than the source file system (cross-account replication), you need to provide the ARN for the file system and the IAM role that allows Amazon EFS to perform replication on the destination account. The file system's replication overwrite protection must be disabled. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/cross-account-replication.html\">Replicating across Amazon Web Services accounts</a> in the <i>Amazon EFS User Guide</i>.</p> </li> </ul>"
    },
    "Destinations":{
      "type":"list",
      "member":{"shape":"Destination"}
    },
    "DestinationsToCreate":{
      "type":"list",
      "member":{"shape":"DestinationToCreate"}
    },
    "Encrypted":{"type":"boolean"},
    "ErrorCode":{
      "type":"string",
      "documentation":"<p>The error code is a string that uniquely identifies an error condition. It is meant to be read and understood by programs that detect and handle errors by type. </p>",
      "min":1
    },
    "ErrorMessage":{
      "type":"string",
      "documentation":"<p>The error message contains a generic description of the error condition in English. It is intended for a human audience. Simple programs display the message directly to the end user if they encounter an error condition they don't know how or don't care to handle. Sophisticated programs with more exhaustive error handling and proper internationalization are more likely to ignore the error message.</p>"
    },
    "FileSystemAlreadyExists":{
      "type":"structure",
      "required":[
        "ErrorCode",
        "FileSystemId"
      ],
      "members":{
        "ErrorCode":{"shape":"ErrorCode"},
        "Message":{"shape":"ErrorMessage"},
        "FileSystemId":{"shape":"FileSystemId"}
      },
      "documentation":"<p>Returned if the file system you are trying to create already exists, with the creation token you provided.</p>",
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "FileSystemArn":{"type":"string"},
    "FileSystemDescription":{
      "type":"structure",
      "required":[
        "OwnerId",
        "CreationToken",
        "FileSystemId",
        "CreationTime",
        "LifeCycleState",
        "NumberOfMountTargets",
        "SizeInBytes",
        "PerformanceMode",
        "Tags"
      ],
      "members":{
        "OwnerId":{
          "shape":"AwsAccountId",
          "documentation":"<p>The Amazon Web Services account that created the file system.</p>"
        },
        "CreationToken":{
          "shape":"CreationToken",
          "documentation":"<p>The opaque string specified in the request.</p>"
        },
        "FileSystemId":{
          "shape":"FileSystemId",
          "documentation":"<p>The ID of the file system, assigned by Amazon EFS.</p>"
        },
        "FileSystemArn":{
          "shape":"FileSystemArn",
          "documentation":"<p>The Amazon Resource Name (ARN) for the EFS file system, in the format <code>arn:aws:elasticfilesystem:<i>region</i>:<i>account-id</i>:file-system/<i>file-system-id</i> </code>. Example with sample data: <code>arn:aws:elasticfilesystem:us-west-2:1111333322228888:file-system/fs-01234567</code> </p>"
        },
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time that the file system was created, in seconds (since 1970-01-01T00:00:00Z).</p>"
        },
        "LifeCycleState":{
          "shape":"LifeCycleState",
          "documentation":"<p>The lifecycle phase of the file system.</p>"
        },
        "Name":{
          "shape":"TagValue",
          "documentation":"<p>You can add tags to a file system, including a <code>Name</code> tag. For more information, see <a>CreateFileSystem</a>. If the file system has a <code>Name</code> tag, Amazon EFS returns the value in this field. </p>"
        },
        "NumberOfMountTargets":{
          "shape":"MountTargetCount",
          "documentation":"<p>The current number of mount targets that the file system has. For more information, see <a>CreateMountTarget</a>.</p>"
        },
        "SizeInBytes":{
          "shape":"FileSystemSize",
          "documentation":"<p>The latest known metered size (in bytes) of data stored in the file system, in its <code>Value</code> field, and the time at which that size was determined in its <code>Timestamp</code> field. The <code>Timestamp</code> value is the integer number of seconds since 1970-01-01T00:00:00Z. The <code>SizeInBytes</code> value doesn't represent the size of a consistent snapshot of the file system, but it is eventually consistent when there are no writes to the file system. That is, <code>SizeInBytes</code> represents actual size only if the file system is not modified for a period longer than a couple of hours. Otherwise, the value is not the exact size that the file system was at any point in time. </p>"
        },
        "PerformanceMode":{
          "shape":"PerformanceMode",
          "documentation":"<p>The performance mode of the file system.</p>"
        },
        "Encrypted":{
          "shape":"Encrypted",
          "documentation":"<p>A Boolean value that, if true, indicates that the file system is encrypted.</p>"
        },
        "KmsKeyId":{
          "shape":"KmsKeyId",
          "documentation":"<p>The ID of an KMS key used to protect the encrypted file system.</p>"
        },
        "ThroughputMode":{
          "shape":"ThroughputMode",
          "documentation":"<p>Displays the file system's throughput mode. For more information, see <a href=\"https://docs.aws.amazon.com/efs/latest/ug/performance.html#throughput-modes\">Throughput modes</a> in the <i>Amazon EFS User Guide</i>. </p>"
        },
        "ProvisionedThroughputInMibps":{
          "shape":"ProvisionedThroughputInMibps",
          "documentation":"<p>The amount of provisioned throughput, measured in MiBps, for the file system. Valid for file systems using <code>ThroughputMode</code> set to <code>provisioned</code>.</p>"
        },
        "AvailabilityZoneName":{
          "shape":"AvailabilityZoneName",
[...]
