{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2020-08-07",
    "endpointPrefix":"models-v2-lex",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceAbbreviation":"Lex Models V2",
    "serviceFullName":"Amazon Lex Model Building V2",
    "serviceId":"Lex Models V2",
    "signatureVersion":"v4",
    "signingName":"lex",
    "uid":"models.lex.v2-2020-08-07",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "BatchCreateCustomVocabularyItem":{
      "name":"BatchCreateCustomVocabularyItem",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/batchcreate",
        "responseCode":200
      },
      "input":{"shape":"BatchCreateCustomVocabularyItemRequest"},
      "output":{"shape":"BatchCreateCustomVocabularyItemResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Create a batch of custom vocabulary items for a given bot locale's custom vocabulary.</p>"
    },
    "BatchDeleteCustomVocabularyItem":{
      "name":"BatchDeleteCustomVocabularyItem",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/batchdelete",
        "responseCode":200
      },
      "input":{"shape":"BatchDeleteCustomVocabularyItemRequest"},
      "output":{"shape":"BatchDeleteCustomVocabularyItemResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Delete a batch of custom vocabulary items for a given bot locale's custom vocabulary.</p>"
    },
    "BatchUpdateCustomVocabularyItem":{
      "name":"BatchUpdateCustomVocabularyItem",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/batchupdate",
        "responseCode":200
      },
      "input":{"shape":"BatchUpdateCustomVocabularyItemRequest"},
      "output":{"shape":"BatchUpdateCustomVocabularyItemResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Update a batch of custom vocabulary items for a given bot locale's custom vocabulary.</p>"
    },
    "BuildBotLocale":{
      "name":"BuildBotLocale",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/",
        "responseCode":202
      },
      "input":{"shape":"BuildBotLocaleRequest"},
      "output":{"shape":"BuildBotLocaleResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Builds a bot, its intents, and its slot types into a specific locale. A bot can be built into multiple locales. At runtime the locale is used to choose a specific build of the bot.</p>"
    },
    "CreateBot":{
      "name":"CreateBot",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/",
        "responseCode":202
      },
      "input":{"shape":"CreateBotRequest"},
      "output":{"shape":"CreateBotResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates an Amazon Lex conversational bot. </p>"
    },
    "CreateBotAlias":{
      "name":"CreateBotAlias",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botaliases/",
        "responseCode":202
      },
      "input":{"shape":"CreateBotAliasRequest"},
      "output":{"shape":"CreateBotAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates an alias for the specified version of a bot. Use an alias to enable you to change the version of a bot without updating applications that use the bot.</p> <p>For example, you can create an alias called \"PROD\" that your applications use to call the Amazon Lex bot. </p>"
    },
    "CreateBotLocale":{
      "name":"CreateBotLocale",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/",
        "responseCode":202
      },
      "input":{"shape":"CreateBotLocaleRequest"},
      "output":{"shape":"CreateBotLocaleResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a locale in the bot. The locale contains the intents and slot types that the bot uses in conversations with users in the specified language and locale. You must add a locale to a bot before you can add intents and slot types to the bot.</p>"
    },
    "CreateBotReplica":{
      "name":"CreateBotReplica",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/replicas/",
        "responseCode":202
      },
      "input":{"shape":"CreateBotReplicaRequest"},
      "output":{"shape":"CreateBotReplicaResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Action to create a replication of the source bot in the secondary region.</p>"
    },
    "CreateBotVersion":{
      "name":"CreateBotVersion",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botversions/",
        "responseCode":202
      },
      "input":{"shape":"CreateBotVersionRequest"},
      "output":{"shape":"CreateBotVersionResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates an immutable version of the bot. When you create the first version of a bot, Amazon Lex sets the version number to 1. Subsequent bot versions increase in an increment of 1. The version number will always represent the total number of versions created of the bot, not the current number of versions. If a bot version is deleted, that bot version number will not be reused.</p>"
    },
    "CreateExport":{
      "name":"CreateExport",
      "http":{
        "method":"PUT",
        "requestUri":"/exports/",
        "responseCode":202
      },
      "input":{"shape":"CreateExportRequest"},
      "output":{"shape":"CreateExportResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a zip archive containing the contents of a bot or a bot locale. The archive contains a directory structure that contains JSON files that define the bot.</p> <p>You can create an archive that contains the complete definition of a bot, or you can specify that the archive contain only the definition of a single bot locale.</p> <p>For more information about exporting bots, and about the structure of the export archive, see <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/importing-exporting.html\"> Importing and exporting bots </a> </p>"
    },
    "CreateIntent":{
      "name":"CreateIntent",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/",
        "responseCode":200
      },
      "input":{"shape":"CreateIntentRequest"},
      "output":{"shape":"CreateIntentResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates an intent.</p> <p>To define the interaction between the user and your bot, you define one or more intents. For example, for a pizza ordering bot you would create an <code>OrderPizza</code> intent.</p> <p>When you create an intent, you must provide a name. You can optionally provide the following:</p> <ul> <li> <p>Sample utterances. For example, \"I want to order a pizza\" and \"Can I order a pizza.\" You can't provide utterances for built-in intents.</p> </li> <li> <p>Information to be gathered. You specify slots for the information that you bot requests from the user. You can specify standard slot types, such as date and time, or custom slot types for your application.</p> </li> <li> <p>How the intent is fulfilled. You can provide a Lambda function or configure the intent to return the intent information to your client application. If you use a Lambda function, Amazon Lex invokes the function when all of the intent information is available.</p> </li> <li> <p>A confirmation prompt to send to the user to confirm an intent. For example, \"Shall I order your pizza?\"</p> </li> <li> <p>A conclusion statement to send to the user after the intent is fulfilled. For example, \"I ordered your pizza.\"</p> </li> <li> <p>A follow-up prompt that asks the user for additional activity. For example, \"Do you want a drink with your pizza?\"</p> </li> </ul>"
    },
    "CreateResourcePolicy":{
      "name":"CreateResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/policy/{resourceArn}/",
        "responseCode":200
      },
      "input":{"shape":"CreateResourcePolicyRequest"},
      "output":{"shape":"CreateResourcePolicyResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a new resource policy with the specified policy statements.</p>"
    },
    "CreateResourcePolicyStatement":{
      "name":"CreateResourcePolicyStatement",
      "http":{
        "method":"POST",
        "requestUri":"/policy/{resourceArn}/statements/",
        "responseCode":200
      },
      "input":{"shape":"CreateResourcePolicyStatementRequest"},
      "output":{"shape":"CreateResourcePolicyStatementResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Adds a new resource policy statement to a bot or bot alias. If a resource policy exists, the statement is added to the current resource policy. If a policy doesn't exist, a new policy is created.</p> <p>You can't create a resource policy statement that allows cross-account access.</p> <p>You need to add the <code>CreateResourcePolicy</code> or <code>UpdateResourcePolicy</code> action to the bot role in order to call the API.</p>"
    },
    "CreateSlot":{
      "name":"CreateSlot",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/slots/",
        "responseCode":200
      },
      "input":{"shape":"CreateSlotRequest"},
      "output":{"shape":"CreateSlotResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a slot in an intent. A slot is a variable needed to fulfill an intent. For example, an <code>OrderPizza</code> intent might need slots for size, crust, and number of pizzas. For each slot, you define one or more utterances that Amazon Lex uses to elicit a response from the user. </p>"
    },
    "CreateSlotType":{
      "name":"CreateSlotType",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/slottypes/",
        "responseCode":200
      },
      "input":{"shape":"CreateSlotTypeRequest"},
      "output":{"shape":"CreateSlotTypeResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a custom slot type</p> <p> To create a custom slot type, specify a name for the slot type and a set of enumeration values, the values that a slot of this type can assume. </p>"
    },
    "CreateTestSetDiscrepancyReport":{
      "name":"CreateTestSetDiscrepancyReport",
      "http":{
        "method":"POST",
        "requestUri":"/testsets/{testSetId}/testsetdiscrepancy",
        "responseCode":202
      },
      "input":{"shape":"CreateTestSetDiscrepancyReportRequest"},
      "output":{"shape":"CreateTestSetDiscrepancyReportResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Create a report that describes the differences between the bot and the test set.</p>"
    },
    "CreateUploadUrl":{
      "name":"CreateUploadUrl",
      "http":{
        "method":"POST",
        "requestUri":"/createuploadurl/",
        "responseCode":200
      },
      "input":{"shape":"CreateUploadUrlRequest"},
      "output":{"shape":"CreateUploadUrlResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a pre-signed S3 write URL that you use to upload the zip archive when importing a bot or a bot locale. </p>"
    },
    "DeleteBot":{
      "name":"DeleteBot",
      "http":{
        "method":"DELETE",
        "requestUri":"/bots/{botId}/",
        "responseCode":202
      },
      "input":{"shape":"DeleteBotRequest"},
      "output":{"shape":"DeleteBotResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes all versions of a bot, including the <code>Draft</code> version. To delete a specific version, use the <code>DeleteBotVersion</code> operation.</p> <p>When you delete a bot, all of the resources contained in the bot are also deleted. Deleting a bot removes all locales, intents, slot, and slot types defined for the bot.</p> <p>If a bot has an alias, the <code>DeleteBot</code> operation returns a <code>ResourceInUseException</code> exception. If you want to delete the bot and the alias, set the <code>skipResourceInUseCheck</code> parameter to <code>true</code>.</p>"
    },
    "DeleteBotAlias":{
      "name":"DeleteBotAlias",
      "http":{
        "method":"DELETE",
        "requestUri":"/bots/{botId}/botaliases/{botAliasId}/",
        "responseCode":202
      },
      "input":{"shape":"DeleteBotAliasRequest"},
      "output":{"shape":"DeleteBotAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes the specified bot alias.</p>"
    },
    "DeleteBotLocale":{
      "name":"DeleteBotLocale",
      "http":{
        "method":"DELETE",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/",
        "responseCode":202
      },
      "input":{"shape":"DeleteBotLocaleRequest"},
      "output":{"shape":"DeleteBotLocaleResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Removes a locale from a bot.</p> <p>When you delete a locale, all intents, slots, and slot types defined for the locale are also deleted.</p>"
    },
    "DeleteBotReplica":{
      "name":"DeleteBotReplica",
      "http":{
        "method":"DELETE",
        "requestUri":"/bots/{botId}/replicas/{replicaRegion}/",
        "responseCode":202
      },
      "input":{"shape":"DeleteBotReplicaRequest"},
      "output":{"shape":"DeleteBotReplicaResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>The action to delete the replicated bot in the secondary region.</p>"
    },
    "DeleteBotVersion":{
      "name":"DeleteBotVersion",
      "http":{
        "method":"DELETE",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/",
        "responseCode":202
      },
      "input":{"shape":"DeleteBotVersionRequest"},
      "output":{"shape":"DeleteBotVersionResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes a specific version of a bot. To delete all versions of a bot, use the <a href=\"https://docs.aws.amazon.com/lexv2/latest/APIReference/API_DeleteBot.html\">DeleteBot</a> operation.</p>"
    },
    "DeleteCustomVocabulary":{
      "name":"DeleteCustomVocabulary",
      "http":{
        "method":"DELETE",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary",
        "responseCode":202
      },
      "input":{"shape":"DeleteCustomVocabularyRequest"},
      "output":{"shape":"DeleteCustomVocabularyResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Removes a custom vocabulary from the specified locale in the specified bot.</p>"
    },
    "DeleteExport":{
      "name":"DeleteExport",
      "http":{
        "method":"DELETE",
        "requestUri":"/exports/{exportId}/",
        "responseCode":202
      },
      "input":{"shape":"DeleteExportRequest"},
      "output":{"shape":"DeleteExportResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Removes a previous export and the associated files stored in an S3 bucket.</p>"
    },
    "DeleteImport":{
      "name":"DeleteImport",
      "http":{
        "method":"DELETE",
        "requestUri":"/imports/{importId}/",
        "responseCode":202
      },
      "input":{"shape":"DeleteImportRequest"},
      "output":{"shape":"DeleteImportResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Removes a previous import and the associated file stored in an S3 bucket.</p>"
    },
    "DeleteIntent":{
      "name":"DeleteIntent",
      "http":{
        "method":"DELETE",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/",
        "responseCode":204
      },
      "input":{"shape":"DeleteIntentRequest"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Removes the specified intent.</p> <p>Deleting an intent also deletes the slots associated with the intent.</p>"
    },
    "DeleteResourcePolicy":{
      "name":"DeleteResourcePolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/policy/{resourceArn}/",
        "responseCode":204
      },
      "input":{"shape":"DeleteResourcePolicyRequest"},
      "output":{"shape":"DeleteResourcePolicyResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Removes an existing policy from a bot or bot alias. If the resource doesn't have a policy attached, Amazon Lex returns an exception.</p>"
    },
    "DeleteResourcePolicyStatement":{
      "name":"DeleteResourcePolicyStatement",
      "http":{
        "method":"DELETE",
        "requestUri":"/policy/{resourceArn}/statements/{statementId}/",
        "responseCode":204
      },
      "input":{"shape":"DeleteResourcePolicyStatementRequest"},
      "output":{"shape":"DeleteResourcePolicyStatementResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a policy statement from a resource policy. If you delete the last statement from a policy, the policy is deleted. If you specify a statement ID that doesn't exist in the policy, or if the bot or bot alias doesn't have a policy attached, Amazon Lex returns an exception.</p> <p>You need to add the <code>DeleteResourcePolicy</code> or <code>UpdateResourcePolicy</code> action to the bot role in order to call the API.</p>"
    },
    "DeleteSlot":{
      "name":"DeleteSlot",
      "http":{
        "method":"DELETE",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/slots/{slotId}/",
        "responseCode":204
      },
      "input":{"shape":"DeleteSlotRequest"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes the specified slot from an intent.</p>"
    },
    "DeleteSlotType":{
      "name":"DeleteSlotType",
      "http":{
        "method":"DELETE",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/slottypes/{slotTypeId}/",
        "responseCode":204
      },
      "input":{"shape":"DeleteSlotTypeRequest"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes a slot type from a bot locale.</p> <p>If a slot is using the slot type, Amazon Lex throws a <code>ResourceInUseException</code> exception. To avoid the exception, set the <code>skipResourceInUseCheck</code> parameter to <code>true</code>.</p>"
    },
    "DeleteTestSet":{
      "name":"DeleteTestSet",
      "http":{
        "method":"DELETE",
        "requestUri":"/testsets/{testSetId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteTestSetRequest"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>The action to delete the selected test set.</p>",
      "idempotent":true
    },
    "DeleteUtterances":{
      "name":"DeleteUtterances",
      "http":{
        "method":"DELETE",
        "requestUri":"/bots/{botId}/utterances/",
        "responseCode":204
      },
      "input":{"shape":"DeleteUtterancesRequest"},
      "output":{"shape":"DeleteUtterancesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes stored utterances.</p> <p>Amazon Lex stores the utterances that users send to your bot. Utterances are stored for 15 days for use with the <a href=\"https://docs.aws.amazon.com/lexv2/latest/APIReference/API_ListAggregatedUtterances.html\">ListAggregatedUtterances</a> operation, and then stored indefinitely for use in improving the ability of your bot to respond to user input..</p> <p>Use the <code>DeleteUtterances</code> operation to manually delete utterances for a specific session. When you use the <code>DeleteUtterances</code> operation, utterances stored for improving your bot's ability to respond to user input are deleted immediately. Utterances stored for use with the <code>ListAggregatedUtterances</code> operation are deleted after 15 days.</p>"
    },
    "DescribeBot":{
      "name":"DescribeBot",
      "http":{
        "method":"GET",
        "requestUri":"/bots/{botId}/",
        "responseCode":200
      },
      "input":{"shape":"DescribeBotRequest"},
      "output":{"shape":"DescribeBotResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Provides metadata information about a bot. </p>"
    },
    "DescribeBotAlias":{
      "name":"DescribeBotAlias",
      "http":{
        "method":"GET",
        "requestUri":"/bots/{botId}/botaliases/{botAliasId}/",
        "responseCode":200
      },
      "input":{"shape":"DescribeBotAliasRequest"},
      "output":{"shape":"DescribeBotAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Get information about a specific bot alias.</p>"
    },
    "DescribeBotLocale":{
      "name":"DescribeBotLocale",
      "http":{
        "method":"GET",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/",
        "responseCode":200
      },
      "input":{"shape":"DescribeBotLocaleRequest"},
      "output":{"shape":"DescribeBotLocaleResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Describes the settings that a bot has for a specific locale. </p>"
    },
    "DescribeBotRecommendation":{
      "name":"DescribeBotRecommendation",
      "http":{
        "method":"GET",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/botrecommendations/{botRecommendationId}/",
        "responseCode":200
      },
      "input":{"shape":"DescribeBotRecommendationRequest"},
      "output":{"shape":"DescribeBotRecommendationResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Provides metadata information about a bot recommendation. This information will enable you to get a description on the request inputs, to download associated transcripts after processing is complete, and to download intents and slot-types generated by the bot recommendation.</p>"
    },
    "DescribeBotReplica":{
      "name":"DescribeBotReplica",
      "http":{
        "method":"GET",
        "requestUri":"/bots/{botId}/replicas/{replicaRegion}/",
        "responseCode":200
      },
      "input":{"shape":"DescribeBotReplicaRequest"},
      "output":{"shape":"DescribeBotReplicaResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Monitors the bot replication status through the UI console.</p>"
    },
    "DescribeBotResourceGeneration":{
      "name":"DescribeBotResourceGeneration",
      "http":{
        "method":"GET",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/generations/{generationId}",
        "responseCode":200
      },
      "input":{"shape":"DescribeBotResourceGenerationRequest"},
      "output":{"shape":"DescribeBotResourceGenerationResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns information about a request to generate a bot through natural language description, made through the <code>StartBotResource</code> API. Use the <code>generatedBotLocaleUrl</code> to retrieve the Amazon S3 object containing the bot locale configuration. You can then modify and import this configuration.</p>"
    },
    "DescribeBotVersion":{
      "name":"DescribeBotVersion",
      "http":{
        "method":"GET",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/",
        "responseCode":200
      },
      "input":{"shape":"DescribeBotVersionRequest"},
      "output":{"shape":"DescribeBotVersionResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Provides metadata about a version of a bot.</p>"
    },
    "DescribeCustomVocabularyMetadata":{
      "name":"DescribeCustomVocabularyMetadata",
      "http":{
        "method":"GET",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/metadata",
        "responseCode":200
      },
      "input":{"shape":"DescribeCustomVocabularyMetadataRequest"},
      "output":{"shape":"DescribeCustomVocabularyMetadataResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Provides metadata information about a custom vocabulary.</p>"
    },
    "DescribeExport":{
      "name":"DescribeExport",
      "http":{
        "method":"GET",
        "requestUri":"/exports/{exportId}/",
        "responseCode":200
      },
      "input":{"shape":"DescribeExportRequest"},
      "output":{"shape":"DescribeExportResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets information about a specific export.</p>"
    },
    "DescribeImport":{
      "name":"DescribeImport",
      "http":{
        "method":"GET",
        "requestUri":"/imports/{importId}/",
        "responseCode":200
      },
      "input":{"shape":"DescribeImportRequest"},
      "output":{"shape":"DescribeImportResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets information about a specific import.</p>"
    },
    "DescribeIntent":{
      "name":"DescribeIntent",
      "http":{
        "method":"GET",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/",
        "responseCode":200
      },
      "input":{"shape":"DescribeIntentRequest"},
      "output":{"shape":"DescribeIntentResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns metadata about an intent.</p>"
    },
    "DescribeResourcePolicy":{
      "name":"DescribeResourcePolicy",
      "http":{
        "method":"GET",
        "requestUri":"/policy/{resourceArn}/",
        "responseCode":200
      },
      "input":{"shape":"DescribeResourcePolicyRequest"},
      "output":{"shape":"DescribeResourcePolicyResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets the resource policy and policy revision for a bot or bot alias.</p>"
    },
    "DescribeSlot":{
      "name":"DescribeSlot",
      "http":{
        "method":"GET",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/slots/{slotId}/",
        "responseCode":200
      },
      "input":{"shape":"DescribeSlotRequest"},
      "output":{"shape":"DescribeSlotResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets metadata information about a slot.</p>"
    },
    "DescribeSlotType":{
      "name":"DescribeSlotType",
      "http":{
        "method":"GET",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/slottypes/{slotTypeId}/",
        "responseCode":200
      },
      "input":{"shape":"DescribeSlotTypeRequest"},
      "output":{"shape":"DescribeSlotTypeResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets metadata information about a slot type.</p>"
    },
    "DescribeTestExecution":{
      "name":"DescribeTestExecution",
      "http":{
        "method":"GET",
        "requestUri":"/testexecutions/{testExecutionId}",
        "responseCode":200
      },
      "input":{"shape":"DescribeTestExecutionRequest"},
      "output":{"shape":"DescribeTestExecutionResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets metadata information about the test execution.</p>"
    },
    "DescribeTestSet":{
      "name":"DescribeTestSet",
      "http":{
        "method":"GET",
        "requestUri":"/testsets/{testSetId}",
        "responseCode":200
      },
      "input":{"shape":"DescribeTestSetRequest"},
      "output":{"shape":"DescribeTestSetResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets metadata information about the test set.</p>"
    },
    "DescribeTestSetDiscrepancyReport":{
      "name":"DescribeTestSetDiscrepancyReport",
      "http":{
        "method":"GET",
        "requestUri":"/testsetdiscrepancy/{testSetDiscrepancyReportId}",
        "responseCode":200
      },
      "input":{"shape":"DescribeTestSetDiscrepancyReportRequest"},
      "output":{"shape":"DescribeTestSetDiscrepancyReportResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets metadata information about the test set discrepancy report.</p>"
    },
    "DescribeTestSetGeneration":{
      "name":"DescribeTestSetGeneration",
      "http":{
        "method":"GET",
        "requestUri":"/testsetgenerations/{testSetGenerationId}",
        "responseCode":200
      },
      "input":{"shape":"DescribeTestSetGenerationRequest"},
      "output":{"shape":"DescribeTestSetGenerationResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets metadata information about the test set generation.</p>"
    },
    "GenerateBotElement":{
      "name":"GenerateBotElement",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/generate",
        "responseCode":202
      },
      "input":{"shape":"GenerateBotElementRequest"},
      "output":{"shape":"GenerateBotElementResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Generates sample utterances for an intent.</p>"
    },
    "GetTestExecutionArtifactsUrl":{
      "name":"GetTestExecutionArtifactsUrl",
      "http":{
        "method":"GET",
        "requestUri":"/testexecutions/{testExecutionId}/artifacturl",
        "responseCode":200
      },
      "input":{"shape":"GetTestExecutionArtifactsUrlRequest"},
      "output":{"shape":"GetTestExecutionArtifactsUrlResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>The pre-signed Amazon S3 URL to download the test execution result artifacts.</p>"
    },
    "ListAggregatedUtterances":{
      "name":"ListAggregatedUtterances",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/aggregatedutterances/",
        "responseCode":200
      },
      "input":{"shape":"ListAggregatedUtterancesRequest"},
      "output":{"shape":"ListAggregatedUtterancesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Provides a list of utterances that users have sent to the bot.</p> <p>Utterances are aggregated by the text of the utterance. For example, all instances where customers used the phrase \"I want to order pizza\" are aggregated into the same line in the response.</p> <p>You can see both detected utterances and missed utterances. A detected utterance is where the bot properly recognized the utterance and activated the associated intent. A missed utterance was not recognized by the bot and didn't activate an intent.</p> <p>Utterances can be aggregated for a bot alias or for a bot version, but not both at the same time.</p> <p>Utterances statistics are not generated under the following conditions:</p> <ul> <li> <p>The <code>childDirected</code> field was set to true when the bot was created.</p> </li> <li> <p>You are using slot obfuscation with one or more slots.</p> </li> <li> <p>You opted out of participating in improving Amazon Lex.</p> </li> </ul>"
    },
    "ListBotAliasReplicas":{
      "name":"ListBotAliasReplicas",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/replicas/{replicaRegion}/botaliases/",
        "responseCode":200
      },
      "input":{"shape":"ListBotAliasReplicasRequest"},
      "output":{"shape":"ListBotAliasReplicasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>The action to list the replicated bots created from the source bot alias.</p>"
    },
    "ListBotAliases":{
      "name":"ListBotAliases",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/botaliases/",
        "responseCode":200
      },
      "input":{"shape":"ListBotAliasesRequest"},
      "output":{"shape":"ListBotAliasesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of aliases for the specified bot.</p>"
    },
    "ListBotLocales":{
      "name":"ListBotLocales",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/",
        "responseCode":200
      },
      "input":{"shape":"ListBotLocalesRequest"},
      "output":{"shape":"ListBotLocalesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of locales for the specified bot.</p>"
    },
    "ListBotRecommendations":{
      "name":"ListBotRecommendations",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/botrecommendations/",
        "responseCode":200
      },
      "input":{"shape":"ListBotRecommendationsRequest"},
      "output":{"shape":"ListBotRecommendationsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Get a list of bot recommendations that meet the specified criteria.</p>"
    },
    "ListBotReplicas":{
      "name":"ListBotReplicas",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/replicas/",
        "responseCode":200
      },
      "input":{"shape":"ListBotReplicasRequest"},
      "output":{"shape":"ListBotReplicasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>The action to list the replicated bots.</p>"
    },
    "ListBotResourceGenerations":{
      "name":"ListBotResourceGenerations",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/generations",
        "responseCode":200
      },
      "input":{"shape":"ListBotResourceGenerationsRequest"},
      "output":{"shape":"ListBotResourceGenerationsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists the generation requests made for a bot locale.</p>"
    },
    "ListBotVersionReplicas":{
      "name":"ListBotVersionReplicas",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/replicas/{replicaRegion}/botversions/",
        "responseCode":200
      },
      "input":{"shape":"ListBotVersionReplicasRequest"},
      "output":{"shape":"ListBotVersionReplicasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Contains information about all the versions replication statuses applicable for Global Resiliency.</p>"
    },
    "ListBotVersions":{
      "name":"ListBotVersions",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/botversions/",
        "responseCode":200
      },
      "input":{"shape":"ListBotVersionsRequest"},
      "output":{"shape":"ListBotVersionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets information about all of the versions of a bot.</p> <p>The <code>ListBotVersions</code> operation returns a summary of each version of a bot. For example, if a bot has three numbered versions, the <code>ListBotVersions</code> operation returns for summaries, one for each numbered version and one for the <code>DRAFT</code> version.</p> <p>The <code>ListBotVersions</code> operation always returns at least one version, the <code>DRAFT</code> version.</p>"
    },
    "ListBots":{
      "name":"ListBots",
      "http":{
        "method":"POST",
        "requestUri":"/bots/",
        "responseCode":200
      },
      "input":{"shape":"ListBotsRequest"},
      "output":{"shape":"ListBotsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of available bots.</p>"
    },
    "ListBuiltInIntents":{
      "name":"ListBuiltInIntents",
      "http":{
        "method":"POST",
        "requestUri":"/builtins/locales/{localeId}/intents/",
        "responseCode":200
      },
      "input":{"shape":"ListBuiltInIntentsRequest"},
      "output":{"shape":"ListBuiltInIntentsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of built-in intents provided by Amazon Lex that you can use in your bot. </p> <p>To use a built-in intent as a the base for your own intent, include the built-in intent signature in the <code>parentIntentSignature</code> parameter when you call the <code>CreateIntent</code> operation. For more information, see <a href=\"https://docs.aws.amazon.com/lexv2/latest/APIReference/API_CreateIntent.html\">CreateIntent</a>.</p>"
    },
    "ListBuiltInSlotTypes":{
      "name":"ListBuiltInSlotTypes",
      "http":{
        "method":"POST",
        "requestUri":"/builtins/locales/{localeId}/slottypes/",
        "responseCode":200
      },
      "input":{"shape":"ListBuiltInSlotTypesRequest"},
      "output":{"shape":"ListBuiltInSlotTypesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of built-in slot types that meet the specified criteria.</p>"
    },
    "ListCustomVocabularyItems":{
      "name":"ListCustomVocabularyItems",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/customvocabulary/DEFAULT/list",
        "responseCode":200
      },
      "input":{"shape":"ListCustomVocabularyItemsRequest"},
      "output":{"shape":"ListCustomVocabularyItemsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Paginated list of custom vocabulary items for a given bot locale's custom vocabulary.</p>"
    },
    "ListExports":{
      "name":"ListExports",
      "http":{
        "method":"POST",
        "requestUri":"/exports/",
        "responseCode":200
      },
      "input":{"shape":"ListExportsRequest"},
      "output":{"shape":"ListExportsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists the exports for a bot, bot locale, or custom vocabulary. Exports are kept in the list for 7 days.</p>"
    },
    "ListImports":{
      "name":"ListImports",
      "http":{
        "method":"POST",
        "requestUri":"/imports/",
        "responseCode":200
      },
      "input":{"shape":"ListImportsRequest"},
      "output":{"shape":"ListImportsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists the imports for a bot, bot locale, or custom vocabulary. Imports are kept in the list for 7 days.</p>"
    },
    "ListIntentMetrics":{
      "name":"ListIntentMetrics",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/analytics/intentmetrics",
        "responseCode":200
      },
      "input":{"shape":"ListIntentMetricsRequest"},
      "output":{"shape":"ListIntentMetricsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves summary metrics for the intents in your bot. The following fields are required:</p> <ul> <li> <p> <code>metrics</code> – A list of <a href=\"https://docs.aws.amazon.com/lexv2/latest/APIReference/API_AnalyticsIntentMetric.html\">AnalyticsIntentMetric</a> objects. In each object, use the <code>name</code> field to specify the metric to calculate, the <code>statistic</code> field to specify whether to calculate the <code>Sum</code>, <code>Average</code>, or <code>Max</code> number, and the <code>order</code> field to specify whether to sort the results in <code>Ascending</code> or <code>Descending</code> order.</p> </li> <li> <p> <code>startDateTime</code> and <code>endDateTime</code> – Define a time range for which you want to retrieve results.</p> </li> </ul> <p>Of the optional fields, you can organize the results in the following ways:</p> <ul> <li> <p>Use the <code>filters</code> field to filter the results, the <code>groupBy</code> field to specify categories by which to group the results, and the <code>binBy</code> field to specify time intervals by which to group the results.</p> </li> <li> <p>Use the <code>maxResults</code> field to limit the number of results to return in a single response and the <code>nextToken</code> field to return the next batch of results if the response does not return the full set of results.</p> </li> </ul> <p>Note that an <code>order</code> field exists in both <code>binBy</code> and <code>metrics</code>. You can specify only one <code>order</code> in a given request.</p>"
    },
    "ListIntentPaths":{
      "name":"ListIntentPaths",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/analytics/intentpaths",
        "responseCode":200
      },
      "input":{"shape":"ListIntentPathsRequest"},
      "output":{"shape":"ListIntentPathsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves summary statistics for a path of intents that users take over sessions with your bot. The following fields are required:</p> <ul> <li> <p> <code>startDateTime</code> and <code>endDateTime</code> – Define a time range for which you want to retrieve results.</p> </li> <li> <p> <code>intentPath</code> – Define an order of intents for which you want to retrieve metrics. Separate intents in the path with a forward slash. For example, populate the <code>intentPath</code> field with <code>/BookCar/BookHotel</code> to see details about how many times users invoked the <code>BookCar</code> and <code>BookHotel</code> intents in that order.</p> </li> </ul> <p>Use the optional <code>filters</code> field to filter the results.</p>"
    },
    "ListIntentStageMetrics":{
      "name":"ListIntentStageMetrics",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/analytics/intentstagemetrics",
        "responseCode":200
      },
      "input":{"shape":"ListIntentStageMetricsRequest"},
      "output":{"shape":"ListIntentStageMetricsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves summary metrics for the stages within intents in your bot. The following fields are required:</p> <ul> <li> <p> <code>metrics</code> – A list of <a href=\"https://docs.aws.amazon.com/lexv2/latest/APIReference/API_AnalyticsIntentStageMetric.html\">AnalyticsIntentStageMetric</a> objects. In each object, use the <code>name</code> field to specify the metric to calculate, the <code>statistic</code> field to specify whether to calculate the <code>Sum</code>, <code>Average</code>, or <code>Max</code> number, and the <code>order</code> field to specify whether to sort the results in <code>Ascending</code> or <code>Descending</code> order.</p> </li> <li> <p> <code>startDateTime</code> and <code>endDateTime</code> – Define a time range for which you want to retrieve results.</p> </li> </ul> <p>Of the optional fields, you can organize the results in the following ways:</p> <ul> <li> <p>Use the <code>filters</code> field to filter the results, the <code>groupBy</code> field to specify categories by which to group the results, and the <code>binBy</code> field to specify time intervals by which to group the results.</p> </li> <li> <p>Use the <code>maxResults</code> field to limit the number of results to return in a single response and the <code>nextToken</code> field to return the next batch of results if the response does not return the full set of results.</p> </li> </ul> <p>Note that an <code>order</code> field exists in both <code>binBy</code> and <code>metrics</code>. You can only specify one <code>order</code> in a given request.</p>"
    },
    "ListIntents":{
      "name":"ListIntents",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/",
        "responseCode":200
      },
      "input":{"shape":"ListIntentsRequest"},
      "output":{"shape":"ListIntentsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Get a list of intents that meet the specified criteria.</p>"
    },
    "ListRecommendedIntents":{
      "name":"ListRecommendedIntents",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/botrecommendations/{botRecommendationId}/intents",
        "responseCode":200
      },
      "input":{"shape":"ListRecommendedIntentsRequest"},
      "output":{"shape":"ListRecommendedIntentsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets a list of recommended intents provided by the bot recommendation that you can use in your bot. Intents in the response are ordered by relevance.</p>"
    },
    "ListSessionAnalyticsData":{
      "name":"ListSessionAnalyticsData",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/analytics/sessions",
        "responseCode":200
      },
      "input":{"shape":"ListSessionAnalyticsDataRequest"},
      "output":{"shape":"ListSessionAnalyticsDataResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves a list of metadata for individual user sessions with your bot. The <code>startDateTime</code> and <code>endDateTime</code> fields are required. These fields define a time range for which you want to retrieve results. Of the optional fields, you can organize the results in the following ways:</p> <ul> <li> <p>Use the <code>filters</code> field to filter the results and the <code>sortBy</code> field to specify the values by which to sort the results.</p> </li> <li> <p>Use the <code>maxResults</code> field to limit the number of results to return in a single response and the <code>nextToken</code> field to return the next batch of results if the response does not return the full set of results.</p> </li> </ul>"
    },
    "ListSessionMetrics":{
      "name":"ListSessionMetrics",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/analytics/sessionmetrics",
        "responseCode":200
      },
      "input":{"shape":"ListSessionMetricsRequest"},
      "output":{"shape":"ListSessionMetricsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves summary metrics for the user sessions with your bot. The following fields are required:</p> <ul> <li> <p> <code>metrics</code> – A list of <a href=\"https://docs.aws.amazon.com/lexv2/latest/APIReference/API_AnalyticsSessionMetric.html\">AnalyticsSessionMetric</a> objects. In each object, use the <code>name</code> field to specify the metric to calculate, the <code>statistic</code> field to specify whether to calculate the <code>Sum</code>, <code>Average</code>, or <code>Max</code> number, and the <code>order</code> field to specify whether to sort the results in <code>Ascending</code> or <code>Descending</code> order.</p> </li> <li> <p> <code>startDateTime</code> and <code>endDateTime</code> – Define a time range for which you want to retrieve results.</p> </li> </ul> <p>Of the optional fields, you can organize the results in the following ways:</p> <ul> <li> <p>Use the <code>filters</code> field to filter the results, the <code>groupBy</code> field to specify categories by which to group the results, and the <code>binBy</code> field to specify time intervals by which to group the results.</p> </li> <li> <p>Use the <code>maxResults</code> field to limit the number of results to return in a single response and the <code>nextToken</code> field to return the next batch of results if the response does not return the full set of results.</p> </li> </ul> <p>Note that an <code>order</code> field exists in both <code>binBy</code> and <code>metrics</code>. Currently, you can specify it in either field, but not in both.</p>"
    },
    "ListSlotTypes":{
      "name":"ListSlotTypes",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/slottypes/",
        "responseCode":200
      },
      "input":{"shape":"ListSlotTypesRequest"},
      "output":{"shape":"ListSlotTypesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of slot types that match the specified criteria.</p>"
    },
    "ListSlots":{
      "name":"ListSlots",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/slots/",
        "responseCode":200
      },
      "input":{"shape":"ListSlotsRequest"},
      "output":{"shape":"ListSlotsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of slots that match the specified criteria.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceARN}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets a list of tags associated with a resource. Only bots, bot aliases, and bot channels can have tags associated with them.</p>"
    },
    "ListTestExecutionResultItems":{
      "name":"ListTestExecutionResultItems",
      "http":{
        "method":"POST",
        "requestUri":"/testexecutions/{testExecutionId}/results",
        "responseCode":200
      },
      "input":{"shape":"ListTestExecutionResultItemsRequest"},
      "output":{"shape":"ListTestExecutionResultItemsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of test execution result items.</p>"
    },
    "ListTestExecutions":{
      "name":"ListTestExecutions",
      "http":{
        "method":"POST",
        "requestUri":"/testexecutions",
        "responseCode":200
      },
      "input":{"shape":"ListTestExecutionsRequest"},
      "output":{"shape":"ListTestExecutionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>The list of test set executions.</p>"
    },
    "ListTestSetRecords":{
      "name":"ListTestSetRecords",
      "http":{
        "method":"POST",
        "requestUri":"/testsets/{testSetId}/records",
        "responseCode":200
      },
      "input":{"shape":"ListTestSetRecordsRequest"},
      "output":{"shape":"ListTestSetRecordsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>The list of test set records.</p>"
    },
    "ListTestSets":{
      "name":"ListTestSets",
      "http":{
        "method":"POST",
        "requestUri":"/testsets",
        "responseCode":200
      },
      "input":{"shape":"ListTestSetsRequest"},
      "output":{"shape":"ListTestSetsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>The list of the test sets</p>"
    },
    "ListUtteranceAnalyticsData":{
      "name":"ListUtteranceAnalyticsData",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/analytics/utterances",
        "responseCode":200
      },
      "input":{"shape":"ListUtteranceAnalyticsDataRequest"},
      "output":{"shape":"ListUtteranceAnalyticsDataResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<note> <p>To use this API operation, your IAM role must have permissions to perform the <a href=\"https://docs.aws.amazon.com/lexv2/latest/APIReference/API_ListAggregatedUtterances.html\">ListAggregatedUtterances</a> operation, which provides access to utterance-related analytics. See <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/monitoring-utterances.html\">Viewing utterance statistics</a> for the IAM policy to apply to the IAM role.</p> </note> <p>Retrieves a list of metadata for individual user utterances to your bot. The following fields are required:</p> <ul> <li> <p> <code>startDateTime</code> and <code>endDateTime</code> – Define a time range for which you want to retrieve results.</p> </li> </ul> <p>Of the optional fields, you can organize the results in the following ways:</p> <ul> <li> <p>Use the <code>filters</code> field to filter the results and the <code>sortBy</code> field to specify the values by which to sort the results.</p> </li> <li> <p>Use the <code>maxResults</code> field to limit the number of results to return in a single response and the <code>nextToken</code> field to return the next batch of results if the response does not return the full set of results.</p> </li> </ul>"
    },
    "ListUtteranceMetrics":{
      "name":"ListUtteranceMetrics",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/analytics/utterancemetrics",
        "responseCode":200
      },
      "input":{"shape":"ListUtteranceMetricsRequest"},
      "output":{"shape":"ListUtteranceMetricsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<note> <p>To use this API operation, your IAM role must have permissions to perform the <a href=\"https://docs.aws.amazon.com/lexv2/latest/APIReference/API_ListAggregatedUtterances.html\">ListAggregatedUtterances</a> operation, which provides access to utterance-related analytics. See <a href=\"https://docs.aws.amazon.com/lexv2/latest/dg/monitoring-utterances.html\">Viewing utterance statistics</a> for the IAM policy to apply to the IAM role.</p> </note> <p>Retrieves summary metrics for the utterances in your bot. The following fields are required:</p> <ul> <li> <p> <code>metrics</code> – A list of <a href=\"https://docs.aws.amazon.com/lexv2/latest/APIReference/API_AnalyticsUtteranceMetric.html\">AnalyticsUtteranceMetric</a> objects. In each object, use the <code>name</code> field to specify the metric to calculate, the <code>statistic</code> field to specify whether to calculate the <code>Sum</code>, <code>Average</code>, or <code>Max</code> number, and the <code>order</code> field to specify whether to sort the results in <code>Ascending</code> or <code>Descending</code> order.</p> </li> <li> <p> <code>startDateTime</code> and <code>endDateTime</code> – Define a time range for which you want to retrieve results.</p> </li> </ul> <p>Of the optional fields, you can organize the results in the following ways:</p> <ul> <li> <p>Use the <code>filters</code> field to filter the results, the <code>groupBy</code> field to specify categories by which to group the results, and the <code>binBy</code> field to specify time intervals by which to group the results.</p> </li> <li> <p>Use the <code>maxResults</code> field to limit the number of results to return in a single response and the <code>nextToken</code> field to return the next batch of results if the response does not return the full set of results.</p> </li> </ul> <p>Note that an <code>order</code> field exists in both <code>binBy</code> and <code>metrics</code>. Currently, you can specify it in either field, but not in both.</p>"
    },
    "SearchAssociatedTranscripts":{
      "name":"SearchAssociatedTranscripts",
      "http":{
        "method":"POST",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/botrecommendations/{botRecommendationId}/associatedtranscripts",
        "responseCode":200
      },
      "input":{"shape":"SearchAssociatedTranscriptsRequest"},
      "output":{"shape":"SearchAssociatedTranscriptsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Search for associated transcripts that meet the specified criteria.</p>"
    },
    "StartBotRecommendation":{
      "name":"StartBotRecommendation",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/botrecommendations/",
        "responseCode":202
      },
      "input":{"shape":"StartBotRecommendationRequest"},
      "output":{"shape":"StartBotRecommendationResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Use this to provide your transcript data, and to start the bot recommendation process.</p>"
    },
    "StartBotResourceGeneration":{
      "name":"StartBotResourceGeneration",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/startgeneration",
        "responseCode":202
      },
      "input":{"shape":"StartBotResourceGenerationRequest"},
      "output":{"shape":"StartBotResourceGenerationResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Starts a request for the descriptive bot builder to generate a bot locale configuration based on the prompt you provide it. After you make this call, use the <code>DescribeBotResourceGeneration</code> operation to check on the status of the generation and for the <code>generatedBotLocaleUrl</code> when the generation is complete. Use that value to retrieve the Amazon S3 object containing the bot locale configuration. You can then modify and import this configuration.</p>",
      "idempotent":true
    },
    "StartImport":{
      "name":"StartImport",
      "http":{
        "method":"PUT",
        "requestUri":"/imports/",
        "responseCode":202
      },
      "input":{"shape":"StartImportRequest"},
      "output":{"shape":"StartImportResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Starts importing a bot, bot locale, or custom vocabulary from a zip archive that you uploaded to an S3 bucket.</p>"
    },
    "StartTestExecution":{
      "name":"StartTestExecution",
      "http":{
        "method":"POST",
        "requestUri":"/testsets/{testSetId}/testexecutions",
        "responseCode":202
      },
      "input":{"shape":"StartTestExecutionRequest"},
      "output":{"shape":"StartTestExecutionResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>The action to start test set execution.</p>"
    },
    "StartTestSetGeneration":{
      "name":"StartTestSetGeneration",
      "http":{
        "method":"PUT",
        "requestUri":"/testsetgenerations",
        "responseCode":202
      },
      "input":{"shape":"StartTestSetGenerationRequest"},
      "output":{"shape":"StartTestSetGenerationResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>The action to start the generation of test set.</p>",
      "idempotent":true
    },
    "StopBotRecommendation":{
      "name":"StopBotRecommendation",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/botrecommendations/{botRecommendationId}/stopbotrecommendation",
        "responseCode":202
      },
      "input":{"shape":"StopBotRecommendationRequest"},
      "output":{"shape":"StopBotRecommendationResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Stop an already running Bot Recommendation request.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceARN}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Adds the specified tags to the specified resource. If a tag key already exists, the existing value is replaced with the new value.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceARN}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Removes tags from a bot, bot alias, or bot channel.</p>"
    },
    "UpdateBot":{
      "name":"UpdateBot",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/",
        "responseCode":202
      },
      "input":{"shape":"UpdateBotRequest"},
      "output":{"shape":"UpdateBotResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates the configuration of an existing bot. </p>"
    },
    "UpdateBotAlias":{
      "name":"UpdateBotAlias",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botaliases/{botAliasId}/",
        "responseCode":202
      },
      "input":{"shape":"UpdateBotAliasRequest"},
      "output":{"shape":"UpdateBotAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates the configuration of an existing bot alias.</p>"
    },
    "UpdateBotLocale":{
      "name":"UpdateBotLocale",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/",
        "responseCode":202
      },
      "input":{"shape":"UpdateBotLocaleRequest"},
      "output":{"shape":"UpdateBotLocaleResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates the settings that a bot has for a specific locale.</p>"
    },
    "UpdateBotRecommendation":{
      "name":"UpdateBotRecommendation",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/botrecommendations/{botRecommendationId}/",
        "responseCode":202
      },
      "input":{"shape":"UpdateBotRecommendationRequest"},
      "output":{"shape":"UpdateBotRecommendationResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates an existing bot recommendation request.</p>"
    },
    "UpdateExport":{
      "name":"UpdateExport",
      "http":{
        "method":"PUT",
        "requestUri":"/exports/{exportId}/",
        "responseCode":202
      },
      "input":{"shape":"UpdateExportRequest"},
      "output":{"shape":"UpdateExportResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates the password used to protect an export zip archive.</p> <p>The password is not required. If you don't supply a password, Amazon Lex generates a zip file that is not protected by a password. This is the archive that is available at the pre-signed S3 URL provided by the <a href=\"https://docs.aws.amazon.com/lexv2/latest/APIReference/API_DescribeExport.html\">DescribeExport</a> operation.</p>"
    },
    "UpdateIntent":{
      "name":"UpdateIntent",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/",
        "responseCode":200
      },
      "input":{"shape":"UpdateIntentRequest"},
      "output":{"shape":"UpdateIntentResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates the settings for an intent.</p>"
    },
    "UpdateResourcePolicy":{
      "name":"UpdateResourcePolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/policy/{resourceArn}/",
        "responseCode":200
      },
      "input":{"shape":"UpdateResourcePolicyRequest"},
      "output":{"shape":"UpdateResourcePolicyResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Replaces the existing resource policy for a bot or bot alias with a new one. If the policy doesn't exist, Amazon Lex returns an exception.</p>"
    },
    "UpdateSlot":{
      "name":"UpdateSlot",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/intents/{intentId}/slots/{slotId}/",
        "responseCode":200
      },
      "input":{"shape":"UpdateSlotRequest"},
      "output":{"shape":"UpdateSlotResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates the settings for a slot.</p>"
    },
    "UpdateSlotType":{
      "name":"UpdateSlotType",
      "http":{
        "method":"PUT",
        "requestUri":"/bots/{botId}/botversions/{botVersion}/botlocales/{localeId}/slottypes/{slotTypeId}/",
        "responseCode":202
      },
      "input":{"shape":"UpdateSlotTypeRequest"},
      "output":{"shape":"UpdateSlotTypeResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates the configuration of an existing slot type.</p>"
    },
    "UpdateTestSet":{
      "name":"UpdateTestSet",
      "http":{
        "method":"PUT",
        "requestUri":"/testsets/{testSetId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateTestSetRequest"},
      "output":{"shape":"UpdateTestSetResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"PreconditionFailedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>The action to update the test set.</p>",
      "idempotent":true
    }
  },
  "shapes":{
    "ActiveContext":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"ActiveContextName",
          "documentation":"<p>The name of active context.</p>"
        }
      },
      "documentation":"<p>The active context used in the test execution.</p>"
    },
    "ActiveContextList":{
      "type":"list",
      "member":{"shape":"ActiveContext"},
      "max":20,
      "min":0
    },
    "ActiveContextName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^([A-Za-z]_?)+$"
    },
    "AdvancedRecognitionSetting":{
      "type":"structure",
      "members":{
        "audioRecognitionStrategy":{
          "shape":"AudioRecognitionStrategy",
          "documentation":"<p>Enables using the slot values as a custom vocabulary for recognizing user utterances.</p>"
        }
      },
      "documentation":"<p>Provides settings that enable advanced recognition settings for slot values.</p>"
    },
    "AgentTurnResult":{
      "type":"structure",
      "required":["expectedAgentPrompt"],
      "members":{
        "expectedAgentPrompt":{
          "shape":"TestSetAgentPrompt",
          "documentation":"<p>The expected agent prompt for the agent turn in a test set execution.</p>"
        },
        "actualAgentPrompt":{
          "shape":"TestSetAgentPrompt",
          "documentation":"<p>The actual agent prompt for the agent turn in a test set execution.</p>"
        },
        "errorDetails":{"shape":"ExecutionErrorDetails"},
        "actualElicitedSlot":{
          "shape":"TestResultSlotName",
          "documentation":"<p>The actual elicited slot for the agent turn in a test set execution.</p>"
        },
        "actualIntent":{
          "shape":"Name",
          "documentation":"<p>The actual intent for the agent turn in a test set execution.</p>"
        }
      },
      "documentation":"<p>The information about the agent turn in a test set execution.</p>"
    },
    "AgentTurnSpecification":{
      "type":"structure",
      "required":["agentPrompt"],
      "members":{
        "agentPrompt":{
          "shape":"TestSetAgentPrompt",
          "documentation":"<p>The agent prompt for the agent turn in a test set.</p>"
        }
      },
      "documentation":"<p>The specification of an agent turn.</p>"
    },
    "AggregatedUtterancesFilter":{
      "type":"structure",
      "required":[
        "name",
        "values",
        "operator"
      ],
      "members":{
        "name":{
          "shape":"AggregatedUtterancesFilterName",
          "documentation":"<p>The name of the field to filter the utterance list.</p>"
        },
        "values":{
          "shape":"FilterValues",
          "documentation":"<p>The value to use for filtering the list of bots.</p>"
        },
        "operator":{
          "shape":"AggregatedUtterancesFilterOperator",
          "documentation":"<p>The operator to use for the filter. Specify <code>EQ</code> when the <code>ListAggregatedUtterances</code> operation should return only utterances that equal the specified value. Specify <code>CO</code> when the <code>ListAggregatedUtterances</code> operation should return utterances that contain the specified value.</p>"
        }
      },
      "documentation":"<p>Filters responses returned by the <code>ListAggregatedUtterances</code> operation.</p>"
    },
    "AggregatedUtterancesFilterName":{
      "type":"string",
      "enum":["Utterance"]
    },
    "AggregatedUtterancesFilterOperator":{
      "type":"string",
      "enum":[
        "CO",
        "EQ"
      ]
    },
    "AggregatedUtterancesFilters":{
      "type":"list",
      "member":{"shape":"AggregatedUtterancesFilter"},
      "max":1,
      "min":1
    },
    "AggregatedUtterancesSortAttribute":{
      "type":"string",
      "enum":[
        "HitCount",
        "MissedCount"
      ]
    },
    "AggregatedUtterancesSortBy":{
      "type":"structure",
      "required":[
        "attribute",
        "order"
      ],
      "members":{
        "attribute":{
          "shape":"AggregatedUtterancesSortAttribute",
          "documentation":"<p>The utterance attribute to sort by.</p>"
        },
        "order":{
          "shape":"SortOrder",
          "documentation":"<p>Specifies whether to sort the aggregated utterances in ascending or descending order.</p>"
        }
      },
      "documentation":"<p>Specifies attributes for sorting a list of utterances.</p>"
    },
    "AggregatedUtterancesSummary":{
      "type":"structure",
      "members":{
        "utterance":{
          "shape":"Utterance",
          "documentation":"<p>The text of the utterance. If the utterance was used with the <code>RecognizeUtterance</code> operation, the text is the transcription of the audio utterance.</p>"
        },
        "hitCount":{
          "shape":"HitCount",
          "documentation":"<p>The number of times that the utterance was detected by Amazon Lex during the time period. When an utterance is detected, it activates an intent or a slot.</p>"
        },
        "missedCount":{
          "shape":"MissedCount",
          "documentation":"<p>The number of times that the utterance was missed by Amazon Lex An utterance is missed when it doesn't activate an intent or slot.</p>"
        },
        "utteranceFirstRecordedInAggregationDuration":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that the utterance was first recorded in the time window for aggregation. An utterance may have been sent to Amazon Lex before that time, but only utterances within the time window are counted.</p>"
        },
        "utteranceLastRecordedInAggregationDuration":{
          "shape":"Timestamp",
          "documentation":"<p>The last date and time that an utterance was recorded in the time window for aggregation. An utterance may be sent to Amazon Lex after that time, but only utterances within the time window are counted.</p>"
        },
        "containsDataFromDeletedResources":{
          "shape":"BoxedBoolean",
          "documentation":"<p>Aggregated utterance data may contain utterances from versions of your bot that have since been deleted. When the aggregated contains this kind of data, this field is set to true.</p>"
        }
      },
      "documentation":"<p>Provides summary information for aggregated utterances. The <code>ListAggregatedUtterances</code> operations combines all instances of the same utterance into a single aggregated summary.</p>"
    },
    "AggregatedUtterancesSummaryList":{
      "type":"list",
      "member":{"shape":"AggregatedUtterancesSummary"}
    },
    "AllowedInputTypes":{
      "type":"structure",
      "required":[
        "allowAudioInput",
        "allowDTMFInput"
      ],
      "members":{
        "allowAudioInput":{
          "shape":"BoxedBoolean",
          "documentation":"<p>Indicates whether audio input is allowed.</p>"
        },
        "allowDTMFInput":{
          "shape":"BoxedBoolean",
          "documentation":"<p>Indicates whether DTMF input is allowed.</p>"
        }
      },
      "documentation":"<p>Specifies the allowed input types.</p>"
    },
    "AmazonResourceName":{
      "type":"string",
      "max":1011,
      "min":1
    },
    "AnalyticsBinByList":{
      "type":"list",
      "member":{"shape":"AnalyticsBinBySpecification"},
      "max":1,
      "min":1
    },
    "AnalyticsBinByName":{
      "type":"string",
      "enum":[
        "ConversationStartTime",
        "UtteranceTimestamp"
      ]
    },
    "AnalyticsBinBySpecification":{
      "type":"structure",
      "required":[
        "name",
        "interval"
      ],
      "members":{
        "name":{
          "shape":"AnalyticsBinByName",
          "documentation":"<p>Specifies the time metric by which to bin the analytics data.</p>"
        },
        "interval":{
          "shape":"AnalyticsInterval",
          "documentation":"<p>Specifies the interval of time by which to bin the analytics data.</p>"
        },
        "order":{
          "shape":"AnalyticsSortOrder",
          "documentation":"<p>Specifies whether to bin the analytics data in ascending or descending order. If this field is left blank, the default order is by the key of the bin in descending order.</p>"
        }
      },
      "documentation":"<p>Contains the time metric, interval, and method by which to bin the analytics data.</p>"
    },
    "AnalyticsBinKey":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"AnalyticsBinByName",
          "documentation":"<p>The criterion by which to bin the results.</p>"
        },
        "value":{
          "shape":"AnalyticsBinValue",
          "documentation":"<p>The value of the criterion that defines the bin.</p>"
        }
      },
      "documentation":"<p>An object containing the criterion by which to bin the results and the value that defines that bin.</p>"
    },
    "AnalyticsBinKeys":{
      "type":"list",
      "member":{"shape":"AnalyticsBinKey"},
      "max":1,
      "min":1
    },
    "AnalyticsBinValue":{"type":"long"},
    "AnalyticsChannel":{
      "type":"string",
      "max":50,
      "min":1
    },
    "AnalyticsCommonFilterName":{
      "type":"string",
      "enum":[
        "BotAliasId",
        "BotVersion",
        "LocaleId",
        "Modality",
        "Channel"
      ]
    },
    "AnalyticsFilterOperator":{
      "type":"string",
      "enum":[
        "EQ",
        "GT",
        "LT"
      ]
    },
    "AnalyticsFilterValue":{"type":"string"},
    "AnalyticsFilterValues":{
      "type":"list",
      "member":{"shape":"AnalyticsFilterValue"},
      "max":5,
      "min":1
    },
    "AnalyticsGroupByValue":{"type":"string"},
    "AnalyticsIntentField":{
      "type":"string",
      "enum":[
        "IntentName",
        "IntentEndState",
        "IntentLevel"
      ]
    },
    "AnalyticsIntentFilter":{
      "type":"structure",
      "required":[
        "name",
        "operator",
        "values"
      ],
      "members":{
        "name":{
          "shape":"AnalyticsIntentFilterName",
          "documentation":"<p>The category by which to filter the intents. The descriptions for each option are as follows:</p> <ul> <li> <p> <code>BotAlias</code> – The name of the bot alias.</p> </li> <li> <p> <code>BotVersion</code> – The version of the bot.</p> </li> <li> <p> <code>LocaleId</code> – The locale of the bot.</p> </li> <li> <p> <code>Modality</code> – The modality of the session with the bot (audio, DTMF, or text).</p> </li> <li> <p> <code>Channel</code> – The channel that the bot is integrated with.</p> </li> <li> <p> <code>SessionId</code> – The identifier of the session with the bot.</p> </li> <li> <p> <code>OriginatingRequestId</code> – The identifier of the first request in a session.</p> </li> <li> <p> <code>IntentName</code> – The name of the intent.</p> </li> <li> <p> <code>IntentEndState</code> – The final state of the intent.</p> </li> </ul>"
        },
        "operator":{
          "shape":"AnalyticsFilterOperator",
          "documentation":"<p>The operation by which to filter the category. The following operations are possible:</p> <ul> <li> <p> <code>CO</code> – Contains</p> </li> <li> <p> <code>EQ</code> – Equals</p> </li> <li> <p> <code>GT</code> – Greater than</p> </li> <li> <p> <code>LT</code> – Less than</p> </li> </ul> <p>The operators that each filter supports are listed below:</p> <ul> <li> <p> <code>BotAlias</code> – <code>EQ</code>.</p> </li> <li> <p> <code>BotVersion</code> – <code>EQ</code>.</p> </li> <li> <p> <code>LocaleId</code> – <code>EQ</code>.</p> </li> <li> <p> <code>Modality</code> – <code>EQ</code>.</p> </li> <li> <p> <code>Channel</code> – <code>EQ</code>.</p> </li> <li> <p> <code>SessionId</code> – <code>EQ</code>.</p> </li> <li> <p> <code>OriginatingRequestId</code> – <code>EQ</code>.</p> </li> <li> <p> <code>IntentName</code> – <code>EQ</code>, <code>CO</code>.</p> </li> <li> <p> <code>IntentEndState</code> – <code>EQ</code>, <code>CO</code>.</p> </li> </ul>"
        },
        "values":{
          "shape":"AnalyticsFilterValues",
          "documentation":"<p>An array containing the values of the category by which to apply the operator to filter the results. You can provide multiple values if the operator is <code>EQ</code> or <code>CO</code>. If you provide multiple values, you filter for results that equal/contain any of the values. For example, if the <code>name</code>, <code>operator</code>, and <code>values</code> fields are <code>Modality</code>, <code>EQ</code>, and <code>[Speech, Text]</code>, the operation filters for results where the modality was either <code>Speech</code> or <code>Text</code>.</p>"
        }
      },
      "documentation":"<p>Contains fields describing a condition by which to filter the intents. The expression may be understood as <code>name</code> <code>operator</code> <code>values</code>. For example:</p> <ul> <li> <p> <code>IntentName CO Book</code> – The intent name contains the string \"Book.\"</p> </li> <li> <p> <code>BotVersion EQ 2</code> – The bot version is equal to two.</p> </li> </ul> <p>The operators that each filter supports are listed below:</p> <ul> <li> <p> <code>BotAlias</code> – <code>EQ</code>.</p> </li> <li> <p> <code>BotVersion</code> – <code>EQ</code>.</p> </li> <li> <p> <code>LocaleId</code> – <code>EQ</code>.</p> </li> <li> <p> <code>Modality</code> – <code>EQ</code>.</p> </li> <li> <p> <code>Channel</code> – <code>EQ</code>.</p> </li> <li> <p> <code>SessionId</code> – <code>EQ</code>.</p> </li> <li> <p> <code>OriginatingRequestId</code> – <code>EQ</code>.</p> </li> <li> <p> <code>IntentName</code> – <code>EQ</code>, <code>CO</code>.</p> </li> <li> <p> <code>IntentEndState</code> – <code>EQ</code>, <code>CO</code>.</p> </li> </ul>"
    },
[...]
