<div class="no-posts-box">
    {{#if noPosts}}
        <div class="no-posts">
            <h3>You Haven't Written Any Posts Yet!</h3>
            {{#link-to "editor.new"}}<button type="button" class="btn btn-green btn-lg" title="New Post">Write a new Post</button>{{/link-to}}
        </div>
    {{/if}}
</div>
