<section class="post-controls">
    {{#link-to "editor.edit" model.id class="btn btn-minor post-edit"}}<i class="icon-edit"></i>{{/link-to}}
</section>

{{#gh-content-preview-content tagName="section" content=model}}
    <div class="wrapper">
        <h1 class="content-preview-title">
            {{#link-to "editor.edit" model.id}}
                {{model.title}}
            {{/link-to}}
        </h1>
        {{gh-format-html model.html}}
    </div>
{{/gh-content-preview-content}}
