{% if page.lang %}
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% for lang in site.languages %}{% if lang.key == page.lang %}{{lang.name}}{% endif %}{% endfor %} <b class="caret"></b></a>
{% else %}
  <a class="dropdown-toggle" data-toggle="dropdown" href="#">English <b class="caret"></b></a>
{% endif %}
<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
  {% for lang in site.languages %}
    <li>
      {% if lang.key != page.lang and lang.key != 'en' %}
        <a href="{{ site.url }}/{{ lang.key }}/{% if page.chapter %}{{ page.chapter }}/{% endif %}{% if page.section %}{{ page.section }}/{% endif %}">{{lang.name}}</a>
      {% elsif page.lang and lang.key == 'en' %}
        <a href="{{ site.url }}/{% if page.chapter %}{{ page.chapter }}/{% endif %}{% if page.section %}{{ page.section }}/{% endif %}">{{lang.name}}</a>
      {% endif %}
    </li>
  {% endfor %}
  {% unless page.lang %}
    <li class="divider"></li>
    <li><a href="{{ site.url }}/translations/">Translations</a></li>
  {% endunless %}
</ul>
