<nav class="section-nav text-center">
    {% if page.prev_section != null %}
      <a href="{{ site.url }}{% if page.lang %}/{{ page.lang }}{% endif %}/{{page.chapter}}/{% if page.chapter != page.prev_section %}{{ page.prev_section }}/{% endif %}"
         class="btn btn-prev btn-primary" title="{{ page.prev_section | capitalize  }}">
        {% if page.lang and site.translations.[page.lang].back %}
          {{site.translations.[page.lang].back}}
        {% else %}
          Back
        {% endif %}
      </a>
    {% else %}
      <a class="btn btn-prev prev disabled">
        {% if page.lang and site.translations.[page.lang].back %}
          {{site.translations.[page.lang].back}}
        {% else %}
          Back
        {% endif %}
      </a>
    {% endif %}

    {% if page.next_section != null %}
      <a href="{{ site.url }}{% if page.lang %}/{{ page.lang }}{% endif %}/{{page.chapter}}/{{ page.next_section }}/"
         class="btn btn-next btn-primary" title="{{ page.next_section | capitalize }}">
        {% if page.lang and site.translations.[page.lang].next %}
          {{site.translations.[page.lang].next}}
        {% else %}
          Next
        {% endif %}
      </a>
    {% else %}
      <a class="btn btn-next next disabled">
        {% if page.lang and site.translations.[page.lang].next %}
          {{site.translations.[page.lang].next}}
        {% else %}
          Next
        {% endif %}
      </a>
    {% endif %}
</nav>
