{% if page.lang %}
{% assign base_url = site.url | append: '/' | append: page.lang | append: '/' | append: page.chapter | append: '/' %}
{% else %}
{% assign base_url = site.url | append: '/' | append: page.chapter | append: '/' %}
{% endif %}

{% assign index_url = base_url | append: 'index.html' %}

<aside id="sidebar" class="col-lg-3">
    <nav class="bs-sidebar">
        <ul class="nav bs-sidenav">

            <li class="{% if page.url == index_url %}active{% endif %}">
                <a href="{{ base_url }}">
                    {% if page.lang and site.translations.[page.lang].[page.chapter] %}
                    {{ site.translations.[page.lang].[page.chapter] }}
                    {% else %}
                    {{ page.chapter | capitalize }}
                    {% endif %}
                </a>
            </li>

            {% for item in page.nav_items %}
            {% assign item_url = base_url | append: item | append: '/' %}

            <li class="{% if page.url == item_url %}active{% endif %}">
                <a href="{{ item_url }}">
                    {% if page.lang and site.translations.[page.lang].[item] %}
                    {{ site.translations.[page.lang].[item] }}
                    {% else %}
                    {{ item | capitalize }}
                    {% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</aside>