{% if page.lang %}
{% assign base_url = site.url | append: '/' | append: page.lang | append: '/' | append: page.chapter | append: '/' %}
{% else %}
{% assign base_url = site.url | append: '/' | append: page.chapter | append: '/' %}
{% endif %}

{% assign index_url = base_url | append: 'index.html' %}


<aside id="sidebar" class="col-lg-3">
    <nav class="bs-sidebar">
        <ul class="nav bs-sidenav">

            <li class="{% if page.url == index_url %}active{% endif %}">
                <a href="{{ base_url }}">
                    {% if page.lang and site.translations.[page.lang].[page.chapter_title] %}
                    {{ site.translations.[page.lang].[page.chapter_title] }}
                    {% elsif page.lang and site.translations.[page.lang].[page.chapter] %}
                    {{ site.translations.[page.lang].[page.chapter] }}
                    {% elsif page.chapter_title %}
                    {{ page.chapter_title | capitalize }}
                    {% else %}
                    {{ page.chapter | capitalize }}
                    {% endif %}
                </a>
            </li>


            {% for item in page.nav_items %}
            {% assign item_url = base_url | append: item.key | append: '/' %}
            {% if page.lang and site.translations.[page.lang].[item.key] %}
                {% assign item_title = site.translations.[page.lang].[item.key] %}
            {% elsif site.translations.en.[item.key] %}
                {% assign item_title = site.translations.en.[item.key] %}
            {% else %}
                {% assign item_title = item.key %}
            {% endif %}

            <li class="{% if page.url contains item_url %}active{% endif %}">
                <a href="{{ item_url }}">{{ item_title }}</a>

                {% if item.sub_items != null %}
                 <ul class="nav">
                     {% for sub_item in item.sub_items %}
                     {% assign sub_item_url = base_url | append: item.key | append: '/' | append: sub_item.key | append: '/'  %}
                     {% if page.lang and site.translations.[page.lang].[sub_item.key] %}
                        {% assign sub_item_title = site.translations.[page.lang].[sub_item.key] %}
                     {% elsif site.translations.en.[sub_item.key] %}
                        {% assign sub_item_title = site.translations.en.[sub_item.key] %}
                     {% else %}
                        {% assign sub_item_title = sub_item.key %}
                     {% endif %}
                     <li class="{% if page.url == sub_item_url %}active{% endif %}">
                         <a href="{{ sub_item_url }}">{{ sub_item_title }}</a>
                     </li>
                     {% endfor %}
                 </ul>
                {% endif %}

            </li>
            {% endfor %}
        </ul>
    </nav>
</aside>