<header>
    <h1 class="title">Settings</h1>
</header>
<nav class="settings-menu">
    <ul>
        <li class="general"><a href="#general">General</a></li>
        <li class="publishing"><a href="#content">Content</a></li>
    </ul>
</nav>