{
  "metadata": {
    "apiVersion": "2018-11-14",
    "endpointPrefix": "kafka",
    "signingName": "kafka",
    "serviceFullName": "Managed Streaming for Kafka",
    "serviceAbbreviation": "Kafka",
    "serviceId": "Kafka",
    "protocol": "rest-json",
    "jsonVersion": "1.1",
    "uid": "kafka-2018-11-14",
    "signatureVersion": "v4",
    "auth": [
      "aws.auth#sigv4"
    ]
  },
  "operations": {
    "BatchAssociateScramSecret": {
      "name": "BatchAssociateScramSecret",
      "http": {
        "method": "POST",
        "requestUri": "/v1/clusters/{clusterArn}/scram-secrets",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchAssociateScramSecretRequest"
      },
      "output": {
        "shape": "BatchAssociateScramSecretResponse",
        "documentation": "\n            <p>200 response</p>\n         "
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        },
        {
          "shape": "NotFoundException",
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         "
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "\n            <p>503 response</p>\n         "
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "\n            <p>429 response</p>\n         "
        }
      ],
      "documentation": "\n            <p>Associates one or more Scram Secrets with an Amazon MSK cluster.</p>\n         "
    },
    "CreateCluster": {
      "name": "CreateCluster",
      "http": {
        "method": "POST",
        "requestUri": "/v1/clusters",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateClusterRequest"
      },
      "output": {
        "shape": "CreateClusterResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "\n            <p>503 response</p>\n         "
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "\n            <p>429 response</p>\n         "
        },
        {
          "shape": "ConflictException",
          "documentation": "\n            <p>This cluster name already exists. Retry your request using another name.</p>\n         "
        }
      ],
      "documentation": "\n            <p>Creates a new MSK cluster.</p>\n         "
    },
    "CreateClusterV2": {
      "name": "CreateClusterV2",
      "http": {
        "method": "POST",
        "requestUri": "/api/v2/clusters",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateClusterV2Request"
      },
      "output": {
        "shape": "CreateClusterV2Response"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "\n            <p>503 response</p>\n         "
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "\n            <p>429 response</p>\n         "
        },
        {
          "shape": "ConflictException",
          "documentation": "\n            <p>This cluster name already exists. Retry your request using another name.</p>\n         "
        }
      ],
      "documentation": "\n            <p>Creates a new MSK cluster.</p>\n         "
    },
    "CreateConfiguration": {
      "name": "CreateConfiguration",
      "http": {
        "method": "POST",
        "requestUri": "/v1/configurations",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateConfigurationRequest"
      },
      "output": {
        "shape": "CreateConfigurationResponse",
        "documentation": "\n            <p>200 response</p>\n         "
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "\n            <p>503 response</p>\n         "
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "\n            <p>429 response</p>\n         "
        },
        {
          "shape": "ConflictException",
          "documentation": "\n            <p>This cluster name already exists. Retry your request using another name.</p>\n         "
        }
      ],
      "documentation": "\n            <p>Creates a new MSK configuration.</p>\n         "
    },
    "CreateReplicator": {
      "name": "CreateReplicator",
      "http": {
        "method": "POST",
        "requestUri": "/replication/v1/replicators",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateReplicatorRequest"
      },
      "output": {
        "shape": "CreateReplicatorResponse",
        "documentation": "<p>HTTP Status Code 200: OK.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>"
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "<p>HTTP Status Code 401: Unauthorized request. The provided credentials couldn't be validated.</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>"
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "<p>HTTP Status Code 503: Service Unavailable. Retrying your request in some time might resolve the issue.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>HTTP Status Code 429: Limit exceeded. Resource limit reached.</p>"
        },
        {
          "shape": "ConflictException",
          "documentation": "<p>HTTP Status Code 409: Conflict. This replicator name already exists. Retry your request with another name.</p>"
        }
      ],
      "documentation": "<p>Creates the replicator.</p>"
    },
    "CreateVpcConnection": {
      "name": "CreateVpcConnection",
      "http": {
        "method": "POST",
        "requestUri": "/v1/vpc-connection",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateVpcConnectionRequest"
      },
      "output": {
        "shape": "CreateVpcConnectionResponse",
        "documentation": "\n            <p>200 response</p>\n         "
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "\n            <p>503 response</p>\n         "
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "\n            <p>429 response</p>\n         "
        }
      ],
      "documentation": "\n            <p>Creates a new MSK VPC connection.</p>\n         "
    },
    "DeleteCluster": {
      "name": "DeleteCluster",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/clusters/{clusterArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteClusterRequest"
      },
      "output": {
        "shape": "DeleteClusterResponse",
        "documentation": "\n            <p>Successful response.</p>\n         "
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         "
        },
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        }
      ],
      "documentation": "\n            <p>Deletes the MSK cluster specified by the Amazon Resource Name (ARN) in the request.</p>\n         "
    },
    "DeleteClusterPolicy": {
      "name": "DeleteClusterPolicy",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/clusters/{clusterArn}/policy",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteClusterPolicyRequest"
      },
      "output": {
        "shape": "DeleteClusterPolicyResponse",
        "documentation": "\n            <p>Successful response.</p>\n         "
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         "
        },
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        }
      ],
      "documentation": "\n            <p>Deletes the MSK cluster policy specified by the Amazon Resource Name (ARN) in the request.</p>\n         "
    },
    "DeleteConfiguration": {
      "name": "DeleteConfiguration",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/configurations/{arn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteConfigurationRequest"
      },
      "output": {
        "shape": "DeleteConfigurationResponse",
        "documentation": "\n            <p>Successful response.</p>\n         "
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         "
        },
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        }
      ],
      "documentation": "\n            <p>Deletes an MSK Configuration.</p>\n         "
    },
    "DeleteReplicator": {
      "name": "DeleteReplicator",
      "http": {
        "method": "DELETE",
        "requestUri": "/replication/v1/replicators/{replicatorArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteReplicatorRequest"
      },
      "output": {
        "shape": "DeleteReplicatorResponse",
        "documentation": "HTTP Status Code 200: OK."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>"
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "<p>HTTP Status Code 401: Unauthorized request. The provided credentials couldn't be validated.</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>"
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "<p>HTTP Status Code 503: Service Unavailable. Retrying your request in some time might resolve the issue.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>HTTP Status Code 429: Limit exceeded. Resource limit reached.</p>"
        }
      ],
      "documentation": "<p>Deletes a replicator.</p>"
    },
    "DeleteVpcConnection": {
      "name": "DeleteVpcConnection",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/vpc-connection/{arn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteVpcConnectionRequest"
      },
      "output": {
        "shape": "DeleteVpcConnectionResponse",
        "documentation": "\n            <p>Successful response.</p>\n         "
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         "
        },
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        }
      ],
      "documentation": "\n            <p>Deletes a MSK VPC connection.</p>\n         "
    },
    "DescribeCluster": {
      "name": "DescribeCluster",
      "http": {
        "method": "GET",
        "requestUri": "/v1/clusters/{clusterArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeClusterRequest"
      },
      "output": {
        "shape": "DescribeClusterResponse",
        "documentation": "\n            <p>Successful response.</p>\n         "
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         "
        },
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        }
      ],
      "documentation": "\n            <p>Returns a description of the MSK cluster whose Amazon Resource Name (ARN) is specified in the request.</p>\n         "
    },
    "DescribeClusterV2": {
      "name": "DescribeClusterV2",
      "http": {
        "method": "GET",
        "requestUri": "/api/v2/clusters/{clusterArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeClusterV2Request"
      },
      "output": {
        "shape": "DescribeClusterV2Response",
        "documentation": "\n            <p>Successful response.</p>\n         "
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         "
        },
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        }
      ],
      "documentation": "\n            <p>Returns a description of the MSK cluster whose Amazon Resource Name (ARN) is specified in the request.</p>\n         "
    },
    "DescribeClusterOperation": {
      "name": "DescribeClusterOperation",
      "http": {
        "method": "GET",
        "requestUri": "/v1/operations/{clusterOperationArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeClusterOperationRequest"
      },
      "output": {
        "shape": "DescribeClusterOperationResponse",
        "documentation": "\n            <p>200 response</p>\n         "
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         "
        },
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        }
      ],
      "documentation": "\n            <p>Returns a description of the cluster operation specified by the ARN.</p>\n         "
    },
    "DescribeClusterOperationV2": {
      "name": "DescribeClusterOperationV2",
      "http": {
        "method": "GET",
        "requestUri": "/api/v2/operations/{clusterOperationArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeClusterOperationV2Request"
      },
      "output": {
        "shape": "DescribeClusterOperationV2Response",
        "documentation": "\n            <p>HTTP Status Code 200: OK.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>"
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>HTTP Status Code 401: Unauthorized request. The provided credentials couldn't be validated.</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "\n            <p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>"
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "\n            <p>HTTP Status Code 503: Service Unavailable. Retrying your request in some time might resolve the issue.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "\n            <p>HTTP Status Code 429: Limit exceeded. Resource limit reached.</p>"
        }
      ],
      "documentation": "\n            <p>Returns a description of the cluster operation specified by the ARN.</p>\n"
    },
    "DescribeConfiguration": {
      "name": "DescribeConfiguration",
      "http": {
        "method": "GET",
        "requestUri": "/v1/configurations/{arn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeConfigurationRequest"
      },
      "output": {
        "shape": "DescribeConfigurationResponse",
        "documentation": "\n            <p>200 response</p>\n         "
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        },
        {
          "shape": "NotFoundException",
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         "
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "\n            <p>503 response</p>\n         "
        }
      ],
      "documentation": "\n            <p>Returns a description of this MSK configuration.</p>\n         "
    },
    "DescribeConfigurationRevision": {
      "name": "DescribeConfigurationRevision",
      "http": {
        "method": "GET",
        "requestUri": "/v1/configurations/{arn}/revisions/{revision}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeConfigurationRevisionRequest"
      },
      "output": {
        "shape": "DescribeConfigurationRevisionResponse",
        "documentation": "\n            <p>200 response</p>\n         "
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        },
        {
          "shape": "NotFoundException",
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         "
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "\n            <p>503 response</p>\n         "
        }
      ],
      "documentation": "\n            <p>Returns a description of this revision of the configuration.</p>\n         "
    },
    "DescribeReplicator": {
      "name": "DescribeReplicator",
      "http": {
        "method": "GET",
        "requestUri": "/replication/v1/replicators/{replicatorArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeReplicatorRequest"
      },
      "output": {
        "shape": "DescribeReplicatorResponse",
        "documentation": "<p>HTTP Status Code 200: OK."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>"
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "<p>HTTP Status Code 401: Unauthorized request. The provided credentials couldn't be validated.</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>"
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "<p>HTTP Status Code 503: Service Unavailable. Retrying your request in some time might resolve the issue.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>HTTP Status Code 429: Limit exceeded. Resource limit reached.</p>"
        }
      ],
      "documentation": "<p>Describes a replicator.</p>"
    },
    "DescribeVpcConnection": {
      "name": "DescribeVpcConnection",
      "http": {
        "method": "GET",
        "requestUri": "/v1/vpc-connection/{arn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeVpcConnectionRequest"
      },
      "output": {
        "shape": "DescribeVpcConnectionResponse",
        "documentation": "\n            <p>200 response</p>\n         "
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        },
        {
          "shape": "NotFoundException",
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         "
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "\n            <p>503 response</p>\n         "
        }
      ],
      "documentation": "\n            <p>Returns a description of this MSK VPC connection.</p>\n         "
    },
    "BatchDisassociateScramSecret": {
      "name": "BatchDisassociateScramSecret",
      "http": {
        "method": "PATCH",
        "requestUri": "/v1/clusters/{clusterArn}/scram-secrets",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchDisassociateScramSecretRequest"
      },
      "output": {
        "shape": "BatchDisassociateScramSecretResponse",
        "documentation": "\n            <p>200 response</p>\n         "
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        },
        {
          "shape": "NotFoundException",
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         "
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "\n            <p>503 response</p>\n         "
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "\n            <p>429 response</p>\n         "
        }
      ],
      "documentation": "\n            <p>Disassociates one or more Scram Secrets from an Amazon MSK cluster.</p>\n         "
    },
    "GetBootstrapBrokers": {
      "name": "GetBootstrapBrokers",
      "http": {
        "method": "GET",
        "requestUri": "/v1/clusters/{clusterArn}/bootstrap-brokers",
        "responseCode": 200
      },
      "input": {
        "shape": "GetBootstrapBrokersRequest"
      },
      "output": {
        "shape": "GetBootstrapBrokersResponse",
        "documentation": "\n            <p>Successful response.</p>\n         "
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "ConflictException",
          "documentation": "\n            <p>This cluster name already exists. Retry your request using another name.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        }
      ],
      "documentation": "\n            <p>A list of brokers that a client application can use to bootstrap. This list doesn't necessarily include all of the brokers in the cluster. The following Python 3.6 example shows how you can use the Amazon Resource Name (ARN) of a cluster to get its bootstrap brokers. If you don't know the ARN of your cluster, you can use the <code>ListClusters</code> operation to get the ARNs of all the clusters in this account and Region.</p>\n         "
    },
    "GetCompatibleKafkaVersions": {
      "name": "GetCompatibleKafkaVersions",
      "http": {
        "method": "GET",
        "requestUri": "/v1/compatible-kafka-versions",
        "responseCode": 200
      },
      "input": {
        "shape": "GetCompatibleKafkaVersionsRequest"
      },
      "output": {
        "shape": "GetCompatibleKafkaVersionsResponse",
        "documentation": "\n            <p>Successful response.</p>\n         "
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>n            "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>n            "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>n            "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "n            <p>Access forbidden. Check your credentials and then retry your request.</p>n            "
        },
        {
          "shape": "NotFoundException",
          "documentation": "n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>n            "
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "n            <p>503 response</p>n            "
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "n            <p>429 response</p>n            "
        }
      ],
      "documentation": "\n            <p>Gets the Apache Kafka versions to which you can update the MSK cluster.</p>\n         "
    },
    "GetClusterPolicy": {
      "name": "GetClusterPolicy",
      "http": {
        "method": "GET",
        "requestUri": "/v1/clusters/{clusterArn}/policy",
        "responseCode": 200
      },
      "input": {
        "shape": "GetClusterPolicyRequest"
      },
      "output": {
        "shape": "GetClusterPolicyResponse",
        "documentation": "\n            <p>Successful response.</p>\n         "
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         "
        },
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        }
      ],
      "documentation": "\n            <p>Get the MSK cluster policy specified by the Amazon Resource Name (ARN) in the request.</p>\n         "
    },
    "ListClusterOperations": {
      "name": "ListClusterOperations",
      "http": {
        "method": "GET",
        "requestUri": "/v1/clusters/{clusterArn}/operations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListClusterOperationsRequest"
      },
      "output": {
        "shape": "ListClusterOperationsResponse",
        "documentation": "\n            <p>Successful response.</p>\n         "
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        }
      ],
      "documentation": "\n            <p>Returns a list of all the operations that have been performed on the specified MSK cluster.</p>\n         "
    },
    "ListClusterOperationsV2": {
      "name": "ListClusterOperationsV2",
      "http": {
        "method": "GET",
        "requestUri": "/api/v2/clusters/{clusterArn}/operations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListClusterOperationsV2Request"
      },
      "output": {
        "shape": "ListClusterOperationsV2Response",
        "documentation": "\n            <p>HTTP Status Code 200: OK.</p>"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>"
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>HTTP Status Code 401: Unauthorized request. The provided credentials couldn't be validated.</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "\n            <p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>"
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "\n            <p>HTTP Status Code 503: Service Unavailable. Retrying your request in some time might resolve the issue.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "\n            <p>HTTP Status Code 429: Limit exceeded. Resource limit reached.</p>"
        }
      ],
      "documentation": "\n            <p>Returns a list of all the operations that have been performed on the specified MSK cluster.</p>\n         "
    },
    "ListClusters": {
      "name": "ListClusters",
      "http": {
        "method": "GET",
        "requestUri": "/v1/clusters",
        "responseCode": 200
      },
      "input": {
        "shape": "ListClustersRequest"
      },
      "output": {
        "shape": "ListClustersResponse",
        "documentation": "\n            <p>Successful response.</p>\n         "
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        }
      ],
      "documentation": "\n            <p>Returns a list of all the MSK clusters in the current Region.</p>\n         "
    },
    "ListClustersV2": {
      "name": "ListClustersV2",
      "http": {
        "method": "GET",
        "requestUri": "/api/v2/clusters",
        "responseCode": 200
      },
      "input": {
        "shape": "ListClustersV2Request"
      },
      "output": {
        "shape": "ListClustersV2Response",
        "documentation": "\n            <p>Successful response.</p>\n         "
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        }
      ],
      "documentation": "\n            <p>Returns a list of all the MSK clusters in the current Region.</p>\n         "
    },
    "ListConfigurationRevisions": {
      "name": "ListConfigurationRevisions",
      "http": {
        "method": "GET",
        "requestUri": "/v1/configurations/{arn}/revisions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListConfigurationRevisionsRequest"
      },
      "output": {
        "shape": "ListConfigurationRevisionsResponse",
        "documentation": "\n            <p>200 response</p>\n         "
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        },
        {
          "shape": "NotFoundException",
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         "
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "\n            <p>503 response</p>\n         "
        }
      ],
      "documentation": "\n            <p>Returns a list of all the MSK configurations in this Region.</p>\n         "
    },
    "ListConfigurations": {
      "name": "ListConfigurations",
      "http": {
        "method": "GET",
        "requestUri": "/v1/configurations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListConfigurationsRequest"
      },
      "output": {
        "shape": "ListConfigurationsResponse",
        "documentation": "\n            <p>200 response</p>\n         "
      },
      "errors": [
        {
          "shape": "ServiceUnavailableException",
          "documentation": "\n            <p>503 response</p>\n         "
        },
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        }
      ],
      "documentation": "\n            <p>Returns a list of all the MSK configurations in this Region.</p>\n         "
    },
    "ListKafkaVersions": {
      "name": "ListKafkaVersions",
      "http": {
        "method": "GET",
        "requestUri": "/v1/kafka-versions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListKafkaVersionsRequest"
      },
      "output": {
        "shape": "ListKafkaVersionsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        }
      ],
      "documentation": "\n            <p>Returns a list of Apache Kafka versions.</p>\n         "
    },
    "ListNodes": {
      "name": "ListNodes",
      "http": {
        "method": "GET",
        "requestUri": "/v1/clusters/{clusterArn}/nodes",
        "responseCode": 200
      },
      "input": {
        "shape": "ListNodesRequest"
      },
      "output": {
        "shape": "ListNodesResponse",
        "documentation": "\n            <p>Successful response.</p>\n         "
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         "
        },
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        }
      ],
      "documentation": "\n            <p>Returns a list of the broker nodes in the cluster.</p>\n         "
    },
    "ListReplicators": {
      "name": "ListReplicators",
      "http": {
        "method": "GET",
        "requestUri": "/replication/v1/replicators",
        "responseCode": 200
      },
      "input": {
        "shape": "ListReplicatorsRequest"
      },
      "output": {
        "shape": "ListReplicatorsResponse",
        "documentation": "HTTP Status Code 200: OK."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>"
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "<p>HTTP Status Code 401: Unauthorized request. The provided credentials couldn't be validated.</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>"
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "<p>HTTP Status Code 503: Service Unavailable. Retrying your request in some time might resolve the issue.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>HTTP Status Code 429: Limit exceeded. Resource limit reached.</p>"
        }
      ],
      "documentation": "<p>Lists the replicators.</p>"
    },
    "ListScramSecrets": {
      "name": "ListScramSecrets",
      "http": {
        "method": "GET",
        "requestUri": "/v1/clusters/{clusterArn}/scram-secrets",
        "responseCode": 200
      },
      "input": {
        "shape": "ListScramSecretsRequest"
      },
      "output": {
        "shape": "ListScramSecretsResponse",
        "documentation": "\n            <p>200 response</p>\n         "
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        },
        {
          "shape": "NotFoundException",
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         "
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "\n            <p>503 response</p>\n         "
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "\n            <p>429 response</p>\n         "
        }
      ],
      "documentation": "\n            <p>Returns a list of the Scram Secrets associated with an Amazon MSK cluster.</p>\n         "
    },
    "ListTagsForResource": {
      "name": "ListTagsForResource",
      "http": {
        "method": "GET",
        "requestUri": "/v1/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "output": {
        "shape": "ListTagsForResourceResponse",
        "documentation": "\n            <p>Success response.</p>\n         "
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         "
        },
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        }
      ],
      "documentation": "\n            <p>Returns a list of the tags associated with the specified resource.</p>\n         "
    },
    "ListClientVpcConnections": {
      "name": "ListClientVpcConnections",
      "http": {
        "method": "GET",
        "requestUri": "/v1/clusters/{clusterArn}/client-vpc-connections",
        "responseCode": 200
      },
      "input": {
        "shape": "ListClientVpcConnectionsRequest"
      },
      "output": {
        "shape": "ListClientVpcConnectionsResponse",
        "documentation": "\n            <p>200 response</p>\n         "
      },
      "errors": [
        {
          "shape": "ServiceUnavailableException",
          "documentation": "\n            <p>503 response</p>\n         "
        },
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        }
      ],
      "documentation": "\n            <p>Returns a list of all the VPC connections in this Region.</p>\n         "
    },
    "ListVpcConnections": {
      "name": "ListVpcConnections",
      "http": {
        "method": "GET",
        "requestUri": "/v1/vpc-connections",
        "responseCode": 200
      },
      "input": {
        "shape": "ListVpcConnectionsRequest"
      },
      "output": {
        "shape": "ListVpcConnectionsResponse",
        "documentation": "\n            <p>200 response</p>\n         "
      },
      "errors": [
        {
          "shape": "ServiceUnavailableException",
          "documentation": "\n            <p>503 response</p>\n         "
        },
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        }
      ],
      "documentation": "\n            <p>Returns a list of all the VPC connections in this Region.</p>\n         "
    },
    "RejectClientVpcConnection": {
      "name": "RejectClientVpcConnection",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{clusterArn}/client-vpc-connection",
        "responseCode": 200
      },
      "input": {
        "shape": "RejectClientVpcConnectionRequest"
      },
      "output": {
        "shape": "RejectClientVpcConnectionResponse",
        "documentation": "\n            <p>200 response</p>\n         "
      },
      "errors": [
        {
          "shape": "ServiceUnavailableException",
          "documentation": "\n            <p>503 response</p>\n         "
        },
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        }
      ],
      "documentation": "\n            <p>Returns empty response.</p>\n         "
    },
    "PutClusterPolicy": {
      "name": "PutClusterPolicy",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{clusterArn}/policy",
        "responseCode": 200
      },
      "input": {
        "shape": "PutClusterPolicyRequest"
      },
      "output": {
        "shape": "PutClusterPolicyResponse",
        "documentation": "\n            <p>Successful response.</p>\n         "
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        }
      ],
      "documentation": "\n            <p>Creates or updates the MSK cluster policy specified by the cluster Amazon Resource Name (ARN) in the request.</p>\n         "
    },
    "RebootBroker": {
      "name": "RebootBroker",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{clusterArn}/reboot-broker",
        "responseCode": 200
      },
      "input": {
        "shape": "RebootBrokerRequest"
      },
      "output": {
        "shape": "RebootBrokerResponse",
        "documentation": "\n            <p>Successful response.</p>\n         "
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        },
        {
          "shape": "NotFoundException",
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         "
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "\n            <p>503 response</p>\n         "
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "\n            <p>429 response</p>\n            "
        }
      ],
      "documentation": "Reboots brokers."
    },
    "TagResource": {
      "name": "TagResource",
      "http": {
        "method": "POST",
        "requestUri": "/v1/tags/{resourceArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         "
        },
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        }
      ],
      "documentation": "\n            <p>Adds tags to the specified MSK resource.</p>\n         "
    },
    "UntagResource": {
      "name": "UntagResource",
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/tags/{resourceArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "errors": [
        {
          "shape": "NotFoundException",
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         "
        },
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        }
      ],
      "documentation": "\n            <p>Removes the tags associated with the keys that are provided in the query.</p>\n         "
    },
    "UpdateBrokerCount": {
      "name": "UpdateBrokerCount",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{clusterArn}/nodes/count",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateBrokerCountRequest"
      },
      "output": {
        "shape": "UpdateBrokerCountResponse",
        "documentation": "\n            <p>Successful response.</p>\n         "
      },
      "errors": [
        {
          "shape": "ServiceUnavailableException",
          "documentation": "\n            <p>503 response</p>\n         "
        },
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        }
      ],
      "documentation": "\n            <p>Updates the number of broker nodes in the cluster.</p>\n         "
    },
    "UpdateBrokerType": {
      "name": "UpdateBrokerType",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{clusterArn}/nodes/type",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateBrokerTypeRequest"
      },
      "output": {
        "shape": "UpdateBrokerTypeResponse",
        "documentation": "\n            <p>Successful response.</p>\n         "
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n            "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n            "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n            "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n            "
        },
        {
          "shape": "NotFoundException",
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n            "
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "\n            <p>503 response</p>\n            "
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "\n            <p>429 response</p>\n            "
        }
      ],
      "documentation": "\n            <p>Updates EC2 instance type.</p>\n         "
    },
    "UpdateBrokerStorage": {
      "name": "UpdateBrokerStorage",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{clusterArn}/nodes/storage",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateBrokerStorageRequest"
      },
      "output": {
        "shape": "UpdateBrokerStorageResponse",
        "documentation": "\n            <p>Successful response.</p>\n         "
      },
      "errors": [
        {
          "shape": "ServiceUnavailableException",
          "documentation": "\n            <p>503 response</p>\n         "
        },
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        }
      ],
      "documentation": "\n            <p>Updates the EBS storage associated with MSK brokers.</p>\n         "
    },
    "UpdateConfiguration": {
      "name": "UpdateConfiguration",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/configurations/{arn}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateConfigurationRequest"
      },
      "output": {
        "shape": "UpdateConfigurationResponse",
        "documentation": "\n            <p>200 response</p>\n         "
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        },
        {
          "shape": "NotFoundException",
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         "
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "\n            <p>503 response</p>\n         "
        }
      ],
      "documentation": "\n            <p>Updates an MSK configuration.</p>\n         "
    },
    "UpdateConnectivity": {
      "name": "UpdateConnectivity",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{clusterArn}/connectivity",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateConnectivityRequest"
      },
      "output": {
        "shape": "UpdateConnectivityResponse",
        "documentation": "\n            <p>Successful response.</p>\n         "
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        },
        {
          "shape": "NotFoundException",
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         "
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "\n            <p>503 response</p>\n         "
        }
      ],
      "documentation": "\n            <p>Updates the cluster's connectivity configuration.</p>\n         "
    },
    "UpdateClusterConfiguration": {
      "name": "UpdateClusterConfiguration",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{clusterArn}/configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateClusterConfigurationRequest"
      },
      "output": {
        "shape": "UpdateClusterConfigurationResponse",
        "documentation": "\n            <p>Successful response.</p>\n         "
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        },
        {
          "shape": "NotFoundException",
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         "
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "\n            <p>503 response</p>\n         "
        }
      ],
      "documentation": "\n            <p>Updates the cluster with the configuration that is specified in the request body.</p>\n         "
    },
    "UpdateClusterKafkaVersion": {
      "name": "UpdateClusterKafkaVersion",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{clusterArn}/version",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateClusterKafkaVersionRequest"
      },
      "output": {
        "shape": "UpdateClusterKafkaVersionResponse",
        "documentation": "\n            <p>Successful response.</p>\n            "
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n            "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n            "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n            "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n            "
        },
        {
          "shape": "NotFoundException",
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n            "
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "\n            <p>503 response</p>\n            "
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "\n            <p>429 response</p>\n            "
        }
      ],
      "documentation": "\n            <p>Updates the Apache Kafka version for the cluster.</p>\n         "
    },
    "UpdateMonitoring": {
      "name": "UpdateMonitoring",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{clusterArn}/monitoring",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateMonitoringRequest"
      },
      "output": {
        "shape": "UpdateMonitoringResponse",
        "documentation": "\n            <p>HTTP Status Code 200: OK.</p>\n         "
      },
      "errors": [
        {
          "shape": "ServiceUnavailableException",
          "documentation": "\n            <p>503 response</p>\n         "
        },
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        }
      ],
      "documentation": "\n            <p>Updates the monitoring settings for the cluster. You can use this operation to specify which Apache Kafka metrics you want Amazon MSK to send to Amazon CloudWatch. You can also specify settings for open monitoring with Prometheus.</p>\n         "
    },
    "UpdateReplicationInfo": {
      "name": "UpdateReplicationInfo",
      "http": {
        "method": "PUT",
        "requestUri": "/replication/v1/replicators/{replicatorArn}/replication-info",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateReplicationInfoRequest"
      },
      "output": {
        "shape": "UpdateReplicationInfoResponse",
        "documentation": "HTTP Status Code 200: OK."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "<p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>"
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "<p>HTTP Status Code 401: Unauthorized request. The provided credentials couldn't be validated.</p>"
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "<p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>"
        },
        {
          "shape": "ForbiddenException",
          "documentation": "<p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>"
        },
        {
          "shape": "NotFoundException",
          "documentation": "<p>HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it.</p>"
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "<p>HTTP Status Code 503: Service Unavailable. Retrying your request in some time might resolve the issue.</p>"
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "<p>HTTP Status Code 429: Limit exceeded. Resource limit reached.</p>"
        }
      ],
      "documentation": "<p>Updates replication info of a replicator.</p>"
    },
    "UpdateSecurity": {
      "name": "UpdateSecurity",
      "http": {
        "method": "PATCH",
        "requestUri": "/v1/clusters/{clusterArn}/security",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateSecurityRequest"
      },
      "output": {
        "shape": "UpdateSecurityResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         "
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         "
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         "
        },
        {
          "shape": "ForbiddenException",
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         "
        },
        {
          "shape": "NotFoundException",
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         "
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "\n            <p>The service cannot complete the request.</p>\n         "
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "\n            <p>The request throughput limit was exceeded.</p>\n         "
        }
      ],
      "documentation": "\n            <p>Updates the security settings for the cluster. You can use this operation to specify encryption and authentication on existing clusters.</p>\n         "
    },
    "UpdateStorage": {
      "name": "UpdateStorage",
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{clusterArn}/storage",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateStorageRequest"
      },
      "output": {
        "shape": "UpdateStorageResponse",
        "documentation": "HTTP Status Code 200: OK."
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it."
        },
        {
          "shape": "UnauthorizedException",
          "documentation": "HTTP Status Code 401: Unauthorized request. The provided credentials couldn't be validated."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request."
        },
        {
          "shape": "NotFoundException",
          "documentation": "HTTP Status Code 404: Resource not found due to incorrect input. Correct your request and then retry it."
        },
        {
          "shape": "ServiceUnavailableException",
          "documentation": "HTTP Status Code 503: Service Unavailable. Retrying your request in some time might resolve the issue."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "HTTP Status Code 429: Limit exceeded. Resource limit reached."
        }
      ],
      "documentation": "Updates cluster broker volume size (or) sets cluster storage mode to TIERED."
    }
  },
  "shapes": {
    "AmazonMskCluster": {
      "type": "structure",
      "members": {
        "MskClusterArn": {
          "shape": "__string",
          "locationName": "mskClusterArn",
          "documentation": "<p>The Amazon Resource Name (ARN) of an Amazon MSK cluster.</p>"
        }
      },
      "documentation": "<p>Details of an Amazon MSK Cluster.</p>",
      "required": [
        "MskClusterArn"
      ]
    },
    "BatchAssociateScramSecretRequest": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "shape": "__string",
          "location": "uri",
          "locationName": "clusterArn",
          "documentation": "\n            <p>The Amazon Resource Name (ARN) of the cluster to be updated.</p>\n         "
        },
        "SecretArnList": {
          "shape": "__listOf__string",
          "locationName": "secretArnList",
          "documentation": "\n            <p>List of AWS Secrets Manager secret ARNs.</p>\n         "
        }
      },
      "documentation": "\n            <p>Associates sasl scram secrets to cluster.</p>\n         ",
      "required": [
        "ClusterArn",
        "SecretArnList"
      ]
    },
    "BatchAssociateScramSecretResponse": {
      "type": "structure",
      "members": {
        "ClusterArn": {
          "shape": "__string",
          "locationName": "clusterArn",
          "documentation": "\n            <p>The Amazon Resource Name (ARN) of the cluster.</p>\n         "
        },
        "UnprocessedScramSecrets": {
          "shape": "__listOfUnprocessedScramSecret",
          "locationName": "unprocessedScramSecrets",
          "documentation": "\n            <p>List of errors when associating secrets to cluster.</p>\n         "
        }
      }
    },
    "BadRequestException": {
      "type": "structure",
      "members": {
        "InvalidParameter": {
          "shape": "__string",
          "locationName": "invalidParameter",
          "documentation": "\n            <p>The parameter that caused the error.</p>\n         "
        },
        "Message": {
          "shape": "__string",
          "locationName": "message",
          "documentation": "\n            <p>The description of the error.</p>\n         "
        }
      },
      "documentation": "\n            <p>Returns information about an error.</p>\n         ",
      "exception": true,
      "error": {
        "httpStatusCode": 400
      }
    },
    "BrokerAZDistribution": {
      "type": "string",
      "documentation": "\n            <p>The distribution of broker nodes across Availability Zones. This is an optional parameter. If you don't specify it, Amazon MSK gives it the value DEFAULT. You can also explicitly set this parameter to the value DEFAULT. No other values are currently allowed.</p>\n         <p>Amazon MSK distributes the broker nodes evenly across the Availability Zones that correspond to the subnets you provide when you create the cluster.</p>\n         ",
      "enum": [
        "DEFAULT"
      ]
    },
    "BrokerCountUpdateInfo": {
      "type": "structure",
      "members": {
        "CreatedBrokerIds": {
          "shape": "__listOf__double",
          "locationName": "createdBrokerIds",
          "documentation": "\n            <p>Kafka Broker IDs of brokers being created.</p>\n         "
        },
        "DeletedBrokerIds": {
          "shape": "__listOf__double",
          "locationName": "deletedBrokerIds",
          "documentation": "\n            <p>Kafka Broker IDs of brokers being deleted.</p>\n         "
        }
      },
      "documentation": "\n            <p>Information regarding UpdateBrokerCount.</p>\n         "
    },
    "BrokerEBSVolumeInfo": {
      "type": "structure",
      "members": {
        "KafkaBrokerNodeId": {
          "shape": "__string",
          "locationName": "kafkaBrokerNodeId",
          "documentation": "\n            <p>The ID of the broker to update.</p>\n         "
        },
        "ProvisionedThroughput": {
          "shape": "ProvisionedThroughput",
          "locationName": "provisionedThroughput",
          "documentation": "\n            <p>EBS volume provisioned throughput information.</p>\n         "
        },
        "VolumeSizeGB": {
          "shape": "__integer",
          "locationName": "volumeSizeGB",
          "documentation": "\n            <p>Size of the EBS volume to update.</p>\n         "
        }
      },
      "documentation": "\n            <p>Specifies the EBS volume upgrade information. The broker identifier must be set to the keyword ALL. This means the changes apply to all the brokers in the cluster.</p>\n         ",
      "required": [
        "KafkaBrokerNodeId"
      ]
    },
    "BrokerLogs": {
      "type": "structure",
      "members": {
        "CloudWatchLogs": {
          "shape": "CloudWatchLogs",
          "locationName": "cloudWatchLogs"
        },
        "Firehose": {
          "shape": "Firehose",
          "locationName": "firehose"
        },
        "S3": {
          "shape": "S3",
          "locationName": "s3"
        }
      }
    },
    "BrokerNodeGroupInfo": {
      "type": "structure",
      "members": {
        "BrokerAZDistribution": {
          "shape": "BrokerAZDistribution",
          "locationName": "brokerAZDistribution",
          "documentation": "\n            <p>The distribution of broker nodes across Availability Zones. This is an optional parameter. If you don't specify it, Amazon MSK gives it the value DEFAULT. You can also explicitly set this parameter to the value DEFAULT. No other values are currently allowed.</p>\n         <p>Amazon MSK distributes the broker nodes evenly across the Availability Zones that correspond to the subnets you provide when you create the cluster.</p>\n         "
        },
        "ClientSubnets": {
          "shape": "__listOf__string",
          "locationName": "clientSubnets",
          "documentation": "\n            <p>The list of subnets to connect to in the client virtual private cloud (VPC). AWS creates elastic network interfaces inside these subnets. Client applications use elastic network interfaces to produce and consume data. Client subnets can't occupy the Availability Zone with ID use use1-az3.</p>\n         "
        },
        "InstanceType": {
          "shape": "__stringMin5Max32",
          "locationName": "instanceType",
          "documentation": "\n            <p>The type of Amazon EC2 instances to use for Apache Kafka brokers. The following instance types are allowed: kafka.m5.large, kafka.m5.xlarge, kafka.m5.2xlarge,\nkafka.m5.4xlarge, kafka.m5.12xlarge, and kafka.m5.24xlarge.</p>\n         "
        },
        "SecurityGroups": {
          "shape": "__listOf__string",
          "locationName": "securityGroups",
          "documentation": "\n            <p>The AWS security groups to associate with the elastic network interfaces in order to specify who can connect to and communicate with the Amazon MSK cluster. If you don't specify a security group, Amazon MSK uses the default security group associated with the VPC.</p>\n         "
        },
        "StorageInfo": {
          "shape": "StorageInfo",
          "locationName": "storageInfo",
          "documentation": "\n            <p>Contains information about storage volumes attached to MSK broker nodes.</p>\n         "
        },
        "ConnectivityInfo": {
          "shape": "ConnectivityInfo",
          "locationName": "connectivityInfo",
          "documentation": "\n            <p>Information about the broker access configuration.</p>\n         "
        },
        "ZoneIds": {
          "shape": "__listOf__string",
          "locationName": "zoneIds",
          "documentation": "\n            <p>The list of zoneIds for the cluster in the virtual private cloud (VPC).</p>\n         "
        }
      },
      "documentation": "\n            <p>Describes the setup to be used for Apache Kafka broker nodes in the cluster.</p>\n         ",
      "required": [
        "ClientSubnets",
        "InstanceType"
      ]
    },
    "BrokerNodeInfo": {
      "type": "structure",
      "members": {
        "AttachedENIId": {
          "shape": "__string",
          "locationName": "attachedENIId",
          "documentation": "\n            <p>The attached elastic network interface of the broker.</p>\n         "
        },
        "BrokerId": {
          "shape": "__double",
          "locationName": "brokerId",
          "documentation": "\n            <p>The ID of the broker.</p>\n         "
        },
        "ClientSubnet": {
          "shape": "__string",
          "locationName": "clientSubnet",
          "documentation": "\n            <p>The client subnet to which this broker node belongs.</p>\n         "
        },
        "ClientVpcIpAddress": {
          "shape": "__string",
          "locationName": "clientVpcIpAddress",
          "documentation": "\n            <p>The virtual private cloud (VPC) of the client.</p>\n         "
        },
        "CurrentBrokerSoftwareInfo": {
          "shape": "BrokerSoftwareInfo",
          "locationName": "currentBrokerSoftwareInfo",
          "documentation": "\n            <p>Information about the version of software currently deployed on the Apache Kafka brokers in the cluster.</p>\n         "
        },
        "Endpoints": {
          "shape": "__listOf__string",
          "locationName": "endpoints",
          "documentation": "\n            <p>Endpoints for accessing the broker.</p>\n         "
        }
      },
      "documentation": "\n            <p>BrokerNodeInfo</p>\n         "
    },
    "BrokerSoftwareInfo": {
      "type": "structure",
      "members": {
        "ConfigurationArn": {
          "shape": "__string",
          "locationName": "configurationArn",
          "documentation": "\n            <p>The Amazon Resource Name (ARN) of the configuration used for the cluster. This field isn't visible in this preview release.</p>\n         "
        },
        "ConfigurationRevision": {
          "shape": "__long",
          "locationName": "configurationRevision",
          "documentation": "\n            <p>The revision of the configuration to use. This field isn't visible in this preview release.</p>\n         "
        },
        "KafkaVersion": {
          "shape": "__string",
          "locationName": "kafkaVersion",
          "documentation": "\n            <p>The version of Apache Kafka.</p>\n         "
        }
      },
      "documentation": "\n            <p>Information about the current software installed on the cluster.</p>\n         "
    },
    "ClientAuthentication": {
      "type": "structure",
      "members": {
        "Sasl": {
          "shape": "Sasl",
          "locationName": "sasl",
          "documentation": "\n            <p>Details for ClientAuthentication using SASL.</p>\n         "
        },
        "Tls": {
          "shape": "Tls",
          "locationName": "tls",
          "documentation": "\n            <p>Details for ClientAuthentication using TLS.</p>\n         "
        },
        "Unauthenticated": {
          "shape": "Unauthenticated",
          "locationName": "unauthenticated",
          "documentation": "\n            <p>Contains information about unauthenticated traffic to the cluster.</p>\n         "
        }
      },
      "documentation": "\n            <p>Includes all client authentication information.</p>\n         "
    },
    "VpcConnectivityClientAuthentication": {
      "type": "structure",
      "members": {
        "Sasl": {
          "shape": "VpcConnectivitySasl",
          "locationName": "sasl",
          "documentation": "\n            <p>SASL authentication type details for VPC connectivity.</p>\n         "
        },
        "Tls": {
          "shape": "VpcConnectivityTls",
          "locationName": "tls",
[...]
