<article class="gh-dashboard5-box">
    <div {{did-insert this.loadCharts}} class="gh-dashboard5-insert">
        <div class="gh-dashboard5-insert-item">
            <Dashboard::v5::parts::ChartMetric
                @label="Newsletter subscribers"
                @value={{format-number this.dataSubscribers.total}} />
        </div>

        <div class="gh-dashboard5-insert-item">
            <Dashboard::v5::parts::ChartMetric
                @label="Emails sent over last 30 days"
                @value={{format-number this.dataEmailsSent}} />
        </div>
    </div>
</article>
