<div class="prototype-counts">
    <div class="prototype-box">
        <div class="number">{{this.dataTotalMembers}}</div>
        <div>Total members</div>
    </div>

    <div class="prototype-box">
        <div class="number">{{this.dataPaidMembers}}</div>
        <div>Paid members</div>
    </div>

    <div class="prototype-box">
        <div class="number">{{this.dataFreeMembers}}</div>
        <div>Free members</div>
    </div>
</div>