<h2>Engagement ({{this.status}})</h2>

<div class="prototype-counts">
    <div class="prototype-box">
        <div class="number">{{this.data30Days}}</div>
        <div>Engaged in past 30 days</div>
    </div>

    <div class="prototype-box">
        <div class="number">{{this.data7Days}}</div>
        <div>Engaged in past 7 days</div>
    </div>
</div>