<div class="prototype-counts">
    <div class="prototype-box">
        <div class="number">10.000</div>
        <div>Total members</div>
    </div>

    <div class="prototype-box">
        <div class="number">1.500</div>
        <div>Paid members</div>
    </div>

    <div class="prototype-box">
        <div class="number">8.500</div>
        <div>Free members</div>
    </div>
</div>