<h2>Email</h2>

<div class="prototype-counts">
    <div class="prototype-counts col">
        <div class="prototype-box">
            <div class="number">{{this.subscribersCount}}</div>
            <div>Newsletter Subscribers</div>
        </div>

        <div class="prototype-box">
            <div class="number">40.3k</div>
            <div>Emails sent in the past 30 days</div>
        </div>
    </div>

    <div class="prototype-box">
        Email open rate graph
    </div>
</div>

