<h2>Engagement</h2>

<div class="prototype-counts">
    <div class="prototype-box">
        <div class="number">67%</div>
        <div>Engaged in past 30 days</div>
    </div>

    <div class="prototype-box">
        <div class="number">31%</div>
        <div>Engaged in past 7 days</div>
    </div>
</div>