<div class="gh-main-section gh-offers-help">
    <div class="gh-main-section-block">
        <div class="gh-main-section-content grey">
            <a href="https://ghost.org/help" target="_blank" class="gh-offers-help-card" rel="noopener noreferrer">
                <div class="gh-offers-help-content">
                    <div class="thumbnail" style="background-image: url(assets/img/marketing/offers-1.jpg);"></div>
                    <div class="text">
                        <h3>Do something cool in Ghost</h3>
                        <p>There is a lot of cool things you can do in Ghost and this is just one of them.</p>
                    </div>
                </div>
                <div class="gh-btn"><span>Read more</span></div>
            </a>

            <a href="https://ghost.org/help" target="_blank" class="gh-offers-help-card" rel="noopener noreferrer">
                <div class="gh-offers-help-content">
                    <div class="thumbnail" style="background-image: url(assets/img/marketing/offers-3.jpg);"></div>
                    <div class="text">
                        <h3>Do something cool in Ghost</h3>
                        <p>There is a lot of cool things you can do in Ghost and this is just one of them.</p>
                    </div>
                </div>
                <div class="gh-btn"><span>Read more</span></div>
            </a>

            <a href="https://ghost.org/help" target="_blank" class="gh-offers-help-card" rel="noopener noreferrer">
                <div class="gh-offers-help-content">
                    <div class="thumbnail" style="background-image: url(assets/img/marketing/offers-2.jpg)"></div>
                    <div class="text">
                        <h3>Do something cool in Ghost</h3>
                        <p>There is a lot of cool things you can do in Ghost and this is just one of them.</p>
                    </div>
                </div>
                <div class="gh-btn"><span>Read more</span></div>
            </a>

        </div>
    </div>
</div>

<
