<section class="gh-canvas">
    <GhCanvasHeader class="gh-canvas-header">
        <div class="flex flex-column">
            <div class="gh-canvas-breadcrumb">
                <LinkTo @route="settings">
                    Settings
                </LinkTo>
                {{svg-jar "arrow-right-small"}} Analytics
            </div>
            <h2 class="gh-canvas-title" data-test-screen-title>
                Analytics
            </h2>
        </div>
        <section class="view-actions">
            <GhTaskButton
                @buttonText="Save"
                @task={{this.saveSettings}}
                @successText="Saved"
                @runningText="Saving"
                {{on-key "cmd+s"}}
                @class="gh-btn gh-btn-primary gh-btn-icon"
                data-test-button="save-analytics-settings"
            />
        </section>
    </GhCanvasHeader>

    <div>
        <Settings::Analytics />
    </div>
</section>
{{outlet}}