<div class="gh-view">
    <header class="view-header">
        {{#gh-view-title openMobileMenu="openMobileMenu"}}<span style="padding-left:1px">Apps</span>{{/gh-view-title}}
    </header>

    <div class="view-content">
        {{gh-loading-spinner}}
    </div>
</div>