<div class="gh-canvas">
    <header class="gh-canvas-header">
        <h2 class="gh-canvas-title">Apps</h2>
    </header>

    <div class="view-content">
        {{gh-loading-spinner}}
    </div>
</div>
