<section class="gh-canvas">
    <GhCanvasHeader class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>
            <LinkTo @route="settings">Settings</LinkTo>
            <span>{{svg-jar "arrow-right"}}</span>
            Design
        </h2>
    </GhCanvasHeader>

    <section class="view-container">
        <ul>
            <li><LinkTo @route="settings.design.customize">Customize</LinkTo></li>
            <li><LinkTo @route="settings.design.change-theme">Change theme</LinkTo></li>
            <li><LinkTo @route="settings.design.advanced">Advanced theme options</LinkTo></li>
        </ul>
    </section>
</section>

{{outlet}}