<section class="gh-canvas">
    <header class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>
            <LinkTo @route="settings">Settings</LinkTo>
            <span>{{svg-jar "arrow-right"}}</span>
            Design
        </h2>
        <section class="view-actions">
            <GhTaskButton @task={{save}} @class="gh-btn gh-btn-blue gh-btn-icon" @disabled={{true}} />
        </section>
    </header>

    <section class="gh-content">
        <GhLoadingSpinner />
    </section>
</section>
