<section class="gh-canvas">
    <header class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>Design</h2>
        <section class="view-actions">
            {{gh-task-button task=save class="gh-btn gh-btn-blue gh-btn-icon" disabled=true}}
        </section>
    </header>

    <section class="gh-content">
        {{gh-loading-spinner}}
    </section>
</section>
