<section class="gh-view">
    <header class="view-header">
        {{#gh-view-title openMobileMenu="openMobileMenu"}}<span>General</span>{{/gh-view-title}}
        <section class="view-actions">
            {{#gh-spin-button class="gh-btn gh-btn-blue" action="save" submitting=submitting}}<span>Save</span>{{/gh-spin-button}}
        </section>
    </header>

    <section class="view-content">
        {{gh-loading-spinner}}
    </section>
</section>
