<section class="gh-canvas">
    <GhCanvasHeader class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>
            <LinkTo @route="settings">Settings</LinkTo>
            <span>{{svg-jar "arrow-right"}}</span>
            Payments
        </h2>
        <section class="view-actions">
            <GhTaskButton @buttonText="Save settings"
                @task={{this.saveSettings}}
                @successText="Saved"
                @runningText="Saving"
                @class="gh-btn gh-btn-primary gh-btn-icon"
                data-test-button="save-members-settings"
            />
        </section>
    </GhCanvasHeader>

    <section class="view-container settings-debug">
        <div class="gh-setting-liquid-section">
            <GhMembersPaymentsSetting
                @setDefaultContentVisibility={{action "setDefaultContentVisibility"}}
                @setStripeConnectIntegrationTokenSetting={{action "setStripeConnectIntegrationTokenSetting"}}
            />
        </div>
    </section>
</section>