<header class="settings-view-header">
    {{#link-to "settings" class="btn btn-default btn-back"}}Back{{/link-to}}
    <h2 class="page-title">Password protect your blog</h2>
    <section class="page-actions">
        <button type="button" class="btn btn-blue" {{action "save"}}>Save</button>
    </section>
</header>

<section class="content settings-pass">
	<form id="settings-pass" novalidate="novalidate">
		<fieldset>
            <div class="form-group for-checkbox">
                <label for="blog-isPrivate">Make this blog private</label>
                <label class="checkbox" for="blog-isPrivate">
                    {{input id="blog-isPrivate" name="labs[passProtectUI]" type="checkbox"
                    checked=model.isPrivate}}
                    <span class="input-toggle-component"></span>
                    <p>Enable password protection</p>
                </label>
            </div>
            {{#if model.isPrivate}}
            <div class="form-group">
                {{input name="private[password]" type="text" value=model.password}}
                <p>This password will be needed to access your blog. All search engine optimization and social features are now disabled.</p>
            </div>
            {{/if}}
		</fieldset>
	</form>
</section>
