<section class="gh-canvas">
    <GhCanvasHeader class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>
            <LinkTo @route="settings">Settings</LinkTo>
            <span>{{svg-jar "arrow-right"}}</span>
            Products
        </h2>
        <section class="view-actions">
            <LinkTo @route="settings.products" class="gh-btn gh-btn-primary" data-test-new-member-button="true"><span>New product</span></LinkTo>
        </section>
    </GhCanvasHeader>

    <section class="view-container">
        <section class="content-list">
            <ol class="gh-product-list gh-list">
                <li class="gh-list-row header">
                    <div class="gh-list-header gh-list-cellwidth-70"></div>
                    <div class="gh-list-header gh-list-cellwidth-30"></div>
                </li>
                <li class="gh-list-row">
                    <LinkTo @route="settings.product" class="gh-list-data gh-list-cellwidth-70 gh-product-list-title">
                        <h3 class="gh-product-list-name">
                            Product name
                        </h3>
                        <p class="ma0 pa0 f8 midgrey gh-product-list-description">
                            Product description
                        </p>
                    </LinkTo>

                    <LinkTo @route="settings.product" class="gh-list-data gh-list-cellwidth-30 gh-product-list-chevron">
                        <div class="gh-product-chevron">
                            <span>330 members</span>
                            <span>{{svg-jar "arrow-right" class="w6 h6 fill-midgrey pa1"}}</span>
                        </div>
                    </LinkTo>
                </li>
            </ol>
        </section>
    </section>
</section>