<header class="summary clearfix">
    <span class="day">{{content.data.day}}</span>
    <span class="weather">{{content.data.weather}}°</span>
</header>
<time>
    <span class="clock">{{content.data.time}}</span>
    <span class="date">{{content.data.date}}</span>
</time>