{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2020-11-19",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"geo",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"Amazon Location Service",
    "serviceId":"Location",
    "signatureVersion":"v4",
    "signingName":"geo",
    "uid":"location-2020-11-19"
  },
  "operations":{
    "AssociateTrackerConsumer":{
      "name":"AssociateTrackerConsumer",
      "http":{
        "method":"POST",
        "requestUri":"/tracking/v0/trackers/{TrackerName}/consumers",
        "responseCode":200
      },
      "input":{"shape":"AssociateTrackerConsumerRequest"},
      "output":{"shape":"AssociateTrackerConsumerResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates an association between a geofence collection and a tracker resource. This allows the tracker resource to communicate location data to the linked geofence collection. </p> <p>You can associate up to five geofence collections to each tracker resource.</p> <note> <p>Currently not supported — Cross-account configurations, such as creating associations between a tracker resource in one account and a geofence collection in another account.</p> </note>",
      "endpoint":{"hostPrefix":"cp.tracking."}
    },
    "BatchDeleteDevicePositionHistory":{
      "name":"BatchDeleteDevicePositionHistory",
      "http":{
        "method":"POST",
        "requestUri":"/tracking/v0/trackers/{TrackerName}/delete-positions",
        "responseCode":200
      },
      "input":{"shape":"BatchDeleteDevicePositionHistoryRequest"},
      "output":{"shape":"BatchDeleteDevicePositionHistoryResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes the position history of one or more devices from a tracker resource.</p>",
      "endpoint":{"hostPrefix":"tracking."}
    },
    "BatchDeleteGeofence":{
      "name":"BatchDeleteGeofence",
      "http":{
        "method":"POST",
        "requestUri":"/geofencing/v0/collections/{CollectionName}/delete-geofences",
        "responseCode":200
      },
      "input":{"shape":"BatchDeleteGeofenceRequest"},
      "output":{"shape":"BatchDeleteGeofenceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a batch of geofences from a geofence collection.</p> <note> <p>This operation deletes the resource permanently.</p> </note>",
      "endpoint":{"hostPrefix":"geofencing."}
    },
    "BatchEvaluateGeofences":{
      "name":"BatchEvaluateGeofences",
      "http":{
        "method":"POST",
        "requestUri":"/geofencing/v0/collections/{CollectionName}/positions",
        "responseCode":200
      },
      "input":{"shape":"BatchEvaluateGeofencesRequest"},
      "output":{"shape":"BatchEvaluateGeofencesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Evaluates device positions against the geofence geometries from a given geofence collection.</p> <p>This operation always returns an empty response because geofences are asynchronously evaluated. The evaluation determines if the device has entered or exited a geofenced area, and then publishes one of the following events to Amazon EventBridge:</p> <ul> <li> <p> <code>ENTER</code> if Amazon Location determines that the tracked device has entered a geofenced area.</p> </li> <li> <p> <code>EXIT</code> if Amazon Location determines that the tracked device has exited a geofenced area.</p> </li> </ul> <note> <p>The last geofence that a device was observed within is tracked for 30 days after the most recent device position update.</p> </note> <note> <p>Geofence evaluation uses the given device position. It does not account for the optional <code>Accuracy</code> of a <code>DevicePositionUpdate</code>.</p> </note> <note> <p>The <code>DeviceID</code> is used as a string to represent the device. You do not need to have a <code>Tracker</code> associated with the <code>DeviceID</code>.</p> </note>",
      "endpoint":{"hostPrefix":"geofencing."}
    },
    "BatchGetDevicePosition":{
      "name":"BatchGetDevicePosition",
      "http":{
        "method":"POST",
        "requestUri":"/tracking/v0/trackers/{TrackerName}/get-positions",
        "responseCode":200
      },
      "input":{"shape":"BatchGetDevicePositionRequest"},
      "output":{"shape":"BatchGetDevicePositionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists the latest device positions for requested devices.</p>",
      "endpoint":{"hostPrefix":"tracking."}
    },
    "BatchPutGeofence":{
      "name":"BatchPutGeofence",
      "http":{
        "method":"POST",
        "requestUri":"/geofencing/v0/collections/{CollectionName}/put-geofences",
        "responseCode":200
      },
      "input":{"shape":"BatchPutGeofenceRequest"},
      "output":{"shape":"BatchPutGeofenceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>A batch request for storing geofence geometries into a given geofence collection, or updates the geometry of an existing geofence if a geofence ID is included in the request.</p>",
      "endpoint":{"hostPrefix":"geofencing."}
    },
    "BatchUpdateDevicePosition":{
      "name":"BatchUpdateDevicePosition",
      "http":{
        "method":"POST",
        "requestUri":"/tracking/v0/trackers/{TrackerName}/positions",
        "responseCode":200
      },
      "input":{"shape":"BatchUpdateDevicePositionRequest"},
      "output":{"shape":"BatchUpdateDevicePositionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Uploads position update data for one or more devices to a tracker resource (up to 10 devices per batch). Amazon Location uses the data when it reports the last known device position and position history. Amazon Location retains location data for 30 days.</p> <note> <p>Position updates are handled based on the <code>PositionFiltering</code> property of the tracker. When <code>PositionFiltering</code> is set to <code>TimeBased</code>, updates are evaluated against linked geofence collections, and location data is stored at a maximum of one position per 30 second interval. If your update frequency is more often than every 30 seconds, only one update per 30 seconds is stored for each unique device ID.</p> <p>When <code>PositionFiltering</code> is set to <code>DistanceBased</code> filtering, location data is stored and evaluated against linked geofence collections only if the device has moved more than 30 m (98.4 ft).</p> <p>When <code>PositionFiltering</code> is set to <code>AccuracyBased</code> filtering, location data is stored and evaluated against linked geofence collections only if the device has moved more than the measured accuracy. For example, if two consecutive updates from a device have a horizontal accuracy of 5 m and 10 m, the second update is neither stored or evaluated if the device has moved less than 15 m. If <code>PositionFiltering</code> is set to <code>AccuracyBased</code> filtering, Amazon Location uses the default value <code>{ \"Horizontal\": 0}</code> when accuracy is not provided on a <code>DevicePositionUpdate</code>.</p> </note>",
      "endpoint":{"hostPrefix":"tracking."}
    },
    "CalculateRoute":{
      "name":"CalculateRoute",
      "http":{
        "method":"POST",
        "requestUri":"/routes/v0/calculators/{CalculatorName}/calculate/route",
        "responseCode":200
      },
      "input":{"shape":"CalculateRouteRequest"},
      "output":{"shape":"CalculateRouteResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p> <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/calculate-route.html\">Calculates a route</a> given the following required parameters: <code>DeparturePosition</code> and <code>DestinationPosition</code>. Requires that you first <a href=\"https://docs.aws.amazon.com/location-routes/latest/APIReference/API_CreateRouteCalculator.html\">create a route calculator resource</a>.</p> <p>By default, a request that doesn't specify a departure time uses the best time of day to travel with the best traffic conditions when calculating the route.</p> <p>Additional options include:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/departure-time.html\">Specifying a departure time</a> using either <code>DepartureTime</code> or <code>DepartNow</code>. This calculates a route based on predictive traffic data at the given time. </p> <note> <p>You can't specify both <code>DepartureTime</code> and <code>DepartNow</code> in a single request. Specifying both parameters returns a validation error.</p> </note> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/travel-mode.html\">Specifying a travel mode</a> using TravelMode sets the transportation mode used to calculate the routes. This also lets you specify additional route preferences in <code>CarModeOptions</code> if traveling by <code>Car</code>, or <code>TruckModeOptions</code> if traveling by <code>Truck</code>.</p> <note> <p>If you specify <code>walking</code> for the travel mode and your data provider is Esri, the start and destination must be within 40km.</p> </note> </li> </ul>",
      "endpoint":{"hostPrefix":"routes."}
    },
    "CalculateRouteMatrix":{
      "name":"CalculateRouteMatrix",
      "http":{
        "method":"POST",
        "requestUri":"/routes/v0/calculators/{CalculatorName}/calculate/route-matrix",
        "responseCode":200
      },
      "input":{"shape":"CalculateRouteMatrixRequest"},
      "output":{"shape":"CalculateRouteMatrixResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p> <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/calculate-route-matrix.html\"> Calculates a route matrix</a> given the following required parameters: <code>DeparturePositions</code> and <code>DestinationPositions</code>. <code>CalculateRouteMatrix</code> calculates routes and returns the travel time and travel distance from each departure position to each destination position in the request. For example, given departure positions A and B, and destination positions X and Y, <code>CalculateRouteMatrix</code> will return time and distance for routes from A to X, A to Y, B to X, and B to Y (in that order). The number of results returned (and routes calculated) will be the number of <code>DeparturePositions</code> times the number of <code>DestinationPositions</code>.</p> <note> <p>Your account is charged for each route calculated, not the number of requests.</p> </note> <p>Requires that you first <a href=\"https://docs.aws.amazon.com/location-routes/latest/APIReference/API_CreateRouteCalculator.html\">create a route calculator resource</a>.</p> <p>By default, a request that doesn't specify a departure time uses the best time of day to travel with the best traffic conditions when calculating routes.</p> <p>Additional options include:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/departure-time.html\"> Specifying a departure time</a> using either <code>DepartureTime</code> or <code>DepartNow</code>. This calculates routes based on predictive traffic data at the given time. </p> <note> <p>You can't specify both <code>DepartureTime</code> and <code>DepartNow</code> in a single request. Specifying both parameters returns a validation error.</p> </note> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/travel-mode.html\">Specifying a travel mode</a> using TravelMode sets the transportation mode used to calculate the routes. This also lets you specify additional route preferences in <code>CarModeOptions</code> if traveling by <code>Car</code>, or <code>TruckModeOptions</code> if traveling by <code>Truck</code>.</p> </li> </ul>",
      "endpoint":{"hostPrefix":"routes."}
    },
    "CreateGeofenceCollection":{
      "name":"CreateGeofenceCollection",
      "http":{
        "method":"POST",
        "requestUri":"/geofencing/v0/collections",
        "responseCode":200
      },
      "input":{"shape":"CreateGeofenceCollectionRequest"},
      "output":{"shape":"CreateGeofenceCollectionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a geofence collection, which manages and stores geofences.</p>",
      "endpoint":{"hostPrefix":"cp.geofencing."},
      "idempotent":true
    },
    "CreateKey":{
      "name":"CreateKey",
      "http":{
        "method":"POST",
        "requestUri":"/metadata/v0/keys",
        "responseCode":200
      },
      "input":{"shape":"CreateKeyRequest"},
      "output":{"shape":"CreateKeyResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates an API key resource in your Amazon Web Services account, which lets you grant actions for Amazon Location resources to the API key bearer.</p> <note> <p>For more information, see <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/using-apikeys.html\">Using API keys</a>.</p> </note>",
      "endpoint":{"hostPrefix":"cp.metadata."},
      "idempotent":true
    },
    "CreateMap":{
      "name":"CreateMap",
      "http":{
        "method":"POST",
        "requestUri":"/maps/v0/maps",
        "responseCode":200
      },
      "input":{"shape":"CreateMapRequest"},
      "output":{"shape":"CreateMapResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a map resource in your Amazon Web Services account, which provides map tiles of different styles sourced from global location data providers.</p> <note> <p>If your application is tracking or routing assets you use in your business, such as delivery vehicles or employees, you must not use Esri as your geolocation provider. See section 82 of the <a href=\"http://aws.amazon.com/service-terms\">Amazon Web Services service terms</a> for more details.</p> </note>",
      "endpoint":{"hostPrefix":"cp.maps."},
      "idempotent":true
    },
    "CreatePlaceIndex":{
      "name":"CreatePlaceIndex",
      "http":{
        "method":"POST",
        "requestUri":"/places/v0/indexes",
        "responseCode":200
      },
      "input":{"shape":"CreatePlaceIndexRequest"},
      "output":{"shape":"CreatePlaceIndexResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a place index resource in your Amazon Web Services account. Use a place index resource to geocode addresses and other text queries by using the <code>SearchPlaceIndexForText</code> operation, and reverse geocode coordinates by using the <code>SearchPlaceIndexForPosition</code> operation, and enable autosuggestions by using the <code>SearchPlaceIndexForSuggestions</code> operation.</p> <note> <p>If your application is tracking or routing assets you use in your business, such as delivery vehicles or employees, you must not use Esri as your geolocation provider. See section 82 of the <a href=\"http://aws.amazon.com/service-terms\">Amazon Web Services service terms</a> for more details.</p> </note>",
      "endpoint":{"hostPrefix":"cp.places."},
      "idempotent":true
    },
    "CreateRouteCalculator":{
      "name":"CreateRouteCalculator",
      "http":{
        "method":"POST",
        "requestUri":"/routes/v0/calculators",
        "responseCode":200
      },
      "input":{"shape":"CreateRouteCalculatorRequest"},
      "output":{"shape":"CreateRouteCalculatorResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a route calculator resource in your Amazon Web Services account.</p> <p>You can send requests to a route calculator resource to estimate travel time, distance, and get directions. A route calculator sources traffic and road network data from your chosen data provider.</p> <note> <p>If your application is tracking or routing assets you use in your business, such as delivery vehicles or employees, you must not use Esri as your geolocation provider. See section 82 of the <a href=\"http://aws.amazon.com/service-terms\">Amazon Web Services service terms</a> for more details.</p> </note>",
      "endpoint":{"hostPrefix":"cp.routes."},
      "idempotent":true
    },
    "CreateTracker":{
      "name":"CreateTracker",
      "http":{
        "method":"POST",
        "requestUri":"/tracking/v0/trackers",
        "responseCode":200
      },
      "input":{"shape":"CreateTrackerRequest"},
      "output":{"shape":"CreateTrackerResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a tracker resource in your Amazon Web Services account, which lets you retrieve current and historical location of devices.</p>",
      "endpoint":{"hostPrefix":"cp.tracking."},
      "idempotent":true
    },
    "DeleteGeofenceCollection":{
      "name":"DeleteGeofenceCollection",
      "http":{
        "method":"DELETE",
        "requestUri":"/geofencing/v0/collections/{CollectionName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteGeofenceCollectionRequest"},
      "output":{"shape":"DeleteGeofenceCollectionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a geofence collection from your Amazon Web Services account.</p> <note> <p>This operation deletes the resource permanently. If the geofence collection is the target of a tracker resource, the devices will no longer be monitored.</p> </note>",
      "endpoint":{"hostPrefix":"cp.geofencing."},
      "idempotent":true
    },
    "DeleteKey":{
      "name":"DeleteKey",
      "http":{
        "method":"DELETE",
        "requestUri":"/metadata/v0/keys/{KeyName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteKeyRequest"},
      "output":{"shape":"DeleteKeyResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes the specified API key. The API key must have been deactivated more than 90 days previously.</p>",
      "endpoint":{"hostPrefix":"cp.metadata."},
      "idempotent":true
    },
    "DeleteMap":{
      "name":"DeleteMap",
      "http":{
        "method":"DELETE",
        "requestUri":"/maps/v0/maps/{MapName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteMapRequest"},
      "output":{"shape":"DeleteMapResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a map resource from your Amazon Web Services account.</p> <note> <p>This operation deletes the resource permanently. If the map is being used in an application, the map may not render.</p> </note>",
      "endpoint":{"hostPrefix":"cp.maps."},
      "idempotent":true
    },
    "DeletePlaceIndex":{
      "name":"DeletePlaceIndex",
      "http":{
        "method":"DELETE",
        "requestUri":"/places/v0/indexes/{IndexName}",
        "responseCode":200
      },
      "input":{"shape":"DeletePlaceIndexRequest"},
      "output":{"shape":"DeletePlaceIndexResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a place index resource from your Amazon Web Services account.</p> <note> <p>This operation deletes the resource permanently.</p> </note>",
      "endpoint":{"hostPrefix":"cp.places."},
      "idempotent":true
    },
    "DeleteRouteCalculator":{
      "name":"DeleteRouteCalculator",
      "http":{
        "method":"DELETE",
        "requestUri":"/routes/v0/calculators/{CalculatorName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteRouteCalculatorRequest"},
      "output":{"shape":"DeleteRouteCalculatorResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a route calculator resource from your Amazon Web Services account.</p> <note> <p>This operation deletes the resource permanently.</p> </note>",
      "endpoint":{"hostPrefix":"cp.routes."},
      "idempotent":true
    },
    "DeleteTracker":{
      "name":"DeleteTracker",
      "http":{
        "method":"DELETE",
        "requestUri":"/tracking/v0/trackers/{TrackerName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteTrackerRequest"},
      "output":{"shape":"DeleteTrackerResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a tracker resource from your Amazon Web Services account.</p> <note> <p>This operation deletes the resource permanently. If the tracker resource is in use, you may encounter an error. Make sure that the target resource isn't a dependency for your applications.</p> </note>",
      "endpoint":{"hostPrefix":"cp.tracking."},
      "idempotent":true
    },
    "DescribeGeofenceCollection":{
      "name":"DescribeGeofenceCollection",
      "http":{
        "method":"GET",
        "requestUri":"/geofencing/v0/collections/{CollectionName}",
        "responseCode":200
      },
      "input":{"shape":"DescribeGeofenceCollectionRequest"},
      "output":{"shape":"DescribeGeofenceCollectionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the geofence collection details.</p>",
      "endpoint":{"hostPrefix":"cp.geofencing."}
    },
    "DescribeKey":{
      "name":"DescribeKey",
      "http":{
        "method":"GET",
        "requestUri":"/metadata/v0/keys/{KeyName}",
        "responseCode":200
      },
      "input":{"shape":"DescribeKeyRequest"},
      "output":{"shape":"DescribeKeyResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the API key resource details.</p>",
      "endpoint":{"hostPrefix":"cp.metadata."}
    },
    "DescribeMap":{
      "name":"DescribeMap",
      "http":{
        "method":"GET",
        "requestUri":"/maps/v0/maps/{MapName}",
        "responseCode":200
      },
      "input":{"shape":"DescribeMapRequest"},
      "output":{"shape":"DescribeMapResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the map resource details.</p>",
      "endpoint":{"hostPrefix":"cp.maps."}
    },
    "DescribePlaceIndex":{
      "name":"DescribePlaceIndex",
      "http":{
        "method":"GET",
        "requestUri":"/places/v0/indexes/{IndexName}",
        "responseCode":200
      },
      "input":{"shape":"DescribePlaceIndexRequest"},
      "output":{"shape":"DescribePlaceIndexResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the place index resource details.</p>",
      "endpoint":{"hostPrefix":"cp.places."}
    },
    "DescribeRouteCalculator":{
      "name":"DescribeRouteCalculator",
      "http":{
        "method":"GET",
        "requestUri":"/routes/v0/calculators/{CalculatorName}",
        "responseCode":200
      },
      "input":{"shape":"DescribeRouteCalculatorRequest"},
      "output":{"shape":"DescribeRouteCalculatorResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the route calculator resource details.</p>",
      "endpoint":{"hostPrefix":"cp.routes."}
    },
    "DescribeTracker":{
      "name":"DescribeTracker",
      "http":{
        "method":"GET",
        "requestUri":"/tracking/v0/trackers/{TrackerName}",
        "responseCode":200
      },
      "input":{"shape":"DescribeTrackerRequest"},
      "output":{"shape":"DescribeTrackerResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the tracker resource details.</p>",
      "endpoint":{"hostPrefix":"cp.tracking."}
    },
    "DisassociateTrackerConsumer":{
      "name":"DisassociateTrackerConsumer",
      "http":{
        "method":"DELETE",
        "requestUri":"/tracking/v0/trackers/{TrackerName}/consumers/{ConsumerArn}",
        "responseCode":200
      },
      "input":{"shape":"DisassociateTrackerConsumerRequest"},
      "output":{"shape":"DisassociateTrackerConsumerResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Removes the association between a tracker resource and a geofence collection.</p> <note> <p>Once you unlink a tracker resource from a geofence collection, the tracker positions will no longer be automatically evaluated against geofences.</p> </note>",
      "endpoint":{"hostPrefix":"cp.tracking."}
    },
    "ForecastGeofenceEvents":{
      "name":"ForecastGeofenceEvents",
      "http":{
        "method":"POST",
        "requestUri":"/geofencing/v0/collections/{CollectionName}/forecast-geofence-events",
        "responseCode":200
      },
      "input":{"shape":"ForecastGeofenceEventsRequest"},
      "output":{"shape":"ForecastGeofenceEventsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This action forecasts future geofence events that are likely to occur within a specified time horizon if a device continues moving at its current speed. Each forecasted event is associated with a geofence from a provided geofence collection. A forecast event can have one of the following states:</p> <p> <code>ENTER</code>: The device position is outside the referenced geofence, but the device may cross into the geofence during the forecasting time horizon if it maintains its current speed.</p> <p> <code>EXIT</code>: The device position is inside the referenced geofence, but the device may leave the geofence during the forecasted time horizon if the device maintains it's current speed.</p> <p> <code>IDLE</code>:The device is inside the geofence, and it will remain inside the geofence through the end of the time horizon if the device maintains it's current speed.</p> <note> <p>Heading direction is not considered in the current version. The API takes a conservative approach and includes events that can occur for any heading.</p> </note>",
      "endpoint":{"hostPrefix":"geofencing."}
    },
    "GetDevicePosition":{
      "name":"GetDevicePosition",
      "http":{
        "method":"GET",
        "requestUri":"/tracking/v0/trackers/{TrackerName}/devices/{DeviceId}/positions/latest",
        "responseCode":200
      },
      "input":{"shape":"GetDevicePositionRequest"},
      "output":{"shape":"GetDevicePositionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a device's most recent position according to its sample time.</p> <note> <p>Device positions are deleted after 30 days.</p> </note>",
      "endpoint":{"hostPrefix":"tracking."}
    },
    "GetDevicePositionHistory":{
      "name":"GetDevicePositionHistory",
      "http":{
        "method":"POST",
        "requestUri":"/tracking/v0/trackers/{TrackerName}/devices/{DeviceId}/list-positions",
        "responseCode":200
      },
      "input":{"shape":"GetDevicePositionHistoryRequest"},
      "output":{"shape":"GetDevicePositionHistoryResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the device position history from a tracker resource within a specified range of time.</p> <note> <p>Device positions are deleted after 30 days.</p> </note>",
      "endpoint":{"hostPrefix":"tracking."}
    },
    "GetGeofence":{
      "name":"GetGeofence",
      "http":{
        "method":"GET",
        "requestUri":"/geofencing/v0/collections/{CollectionName}/geofences/{GeofenceId}",
        "responseCode":200
      },
      "input":{"shape":"GetGeofenceRequest"},
      "output":{"shape":"GetGeofenceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the geofence details from a geofence collection.</p> <note> <p>The returned geometry will always match the geometry format used when the geofence was created.</p> </note>",
      "endpoint":{"hostPrefix":"geofencing."}
    },
    "GetMapGlyphs":{
      "name":"GetMapGlyphs",
      "http":{
        "method":"GET",
        "requestUri":"/maps/v0/maps/{MapName}/glyphs/{FontStack}/{FontUnicodeRange}",
        "responseCode":200
      },
      "input":{"shape":"GetMapGlyphsRequest"},
      "output":{"shape":"GetMapGlyphsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves glyphs used to display labels on a map.</p>",
      "endpoint":{"hostPrefix":"maps."}
    },
    "GetMapSprites":{
      "name":"GetMapSprites",
      "http":{
        "method":"GET",
        "requestUri":"/maps/v0/maps/{MapName}/sprites/{FileName}",
        "responseCode":200
      },
      "input":{"shape":"GetMapSpritesRequest"},
      "output":{"shape":"GetMapSpritesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the sprite sheet corresponding to a map resource. The sprite sheet is a PNG image paired with a JSON document describing the offsets of individual icons that will be displayed on a rendered map.</p>",
      "endpoint":{"hostPrefix":"maps."}
    },
    "GetMapStyleDescriptor":{
      "name":"GetMapStyleDescriptor",
      "http":{
        "method":"GET",
        "requestUri":"/maps/v0/maps/{MapName}/style-descriptor",
        "responseCode":200
      },
      "input":{"shape":"GetMapStyleDescriptorRequest"},
      "output":{"shape":"GetMapStyleDescriptorResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the map style descriptor from a map resource. </p> <p>The style descriptor contains speciﬁcations on how features render on a map. For example, what data to display, what order to display the data in, and the style for the data. Style descriptors follow the Mapbox Style Specification.</p>",
      "endpoint":{"hostPrefix":"maps."}
    },
    "GetMapTile":{
      "name":"GetMapTile",
      "http":{
        "method":"GET",
        "requestUri":"/maps/v0/maps/{MapName}/tiles/{Z}/{X}/{Y}",
        "responseCode":200
      },
      "input":{"shape":"GetMapTileRequest"},
      "output":{"shape":"GetMapTileResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves a vector data tile from the map resource. Map tiles are used by clients to render a map. they're addressed using a grid arrangement with an X coordinate, Y coordinate, and Z (zoom) level. </p> <p>The origin (0, 0) is the top left of the map. Increasing the zoom level by 1 doubles both the X and Y dimensions, so a tile containing data for the entire world at (0/0/0) will be split into 4 tiles at zoom 1 (1/0/0, 1/0/1, 1/1/0, 1/1/1).</p>",
      "endpoint":{"hostPrefix":"maps."}
    },
    "GetPlace":{
      "name":"GetPlace",
      "http":{
        "method":"GET",
        "requestUri":"/places/v0/indexes/{IndexName}/places/{PlaceId}",
        "responseCode":200
      },
      "input":{"shape":"GetPlaceRequest"},
      "output":{"shape":"GetPlaceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Finds a place by its unique ID. A <code>PlaceId</code> is returned by other search operations.</p> <note> <p>A PlaceId is valid only if all of the following are the same in the original search request and the call to <code>GetPlace</code>.</p> <ul> <li> <p>Customer Amazon Web Services account</p> </li> <li> <p>Amazon Web Services Region</p> </li> <li> <p>Data provider specified in the place index resource</p> </li> </ul> </note> <note> <p>If your Place index resource is configured with Grab as your geolocation provider and Storage as Intended use, the GetPlace operation is unavailable. For more information, see <a href=\"http://aws.amazon.com/service-terms\">AWS service terms</a>.</p> </note>",
      "endpoint":{"hostPrefix":"places."}
    },
    "ListDevicePositions":{
      "name":"ListDevicePositions",
      "http":{
        "method":"POST",
        "requestUri":"/tracking/v0/trackers/{TrackerName}/list-positions",
        "responseCode":200
      },
      "input":{"shape":"ListDevicePositionsRequest"},
      "output":{"shape":"ListDevicePositionsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>A batch request to retrieve all device positions.</p>",
      "endpoint":{"hostPrefix":"tracking."}
    },
    "ListGeofenceCollections":{
      "name":"ListGeofenceCollections",
      "http":{
        "method":"POST",
        "requestUri":"/geofencing/v0/list-collections",
        "responseCode":200
      },
      "input":{"shape":"ListGeofenceCollectionsRequest"},
      "output":{"shape":"ListGeofenceCollectionsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists geofence collections in your Amazon Web Services account.</p>",
      "endpoint":{"hostPrefix":"cp.geofencing."}
    },
    "ListGeofences":{
      "name":"ListGeofences",
      "http":{
        "method":"POST",
        "requestUri":"/geofencing/v0/collections/{CollectionName}/list-geofences",
        "responseCode":200
      },
      "input":{"shape":"ListGeofencesRequest"},
      "output":{"shape":"ListGeofencesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists geofences stored in a given geofence collection.</p>",
      "endpoint":{"hostPrefix":"geofencing."}
    },
    "ListKeys":{
      "name":"ListKeys",
      "http":{
        "method":"POST",
        "requestUri":"/metadata/v0/list-keys",
        "responseCode":200
      },
      "input":{"shape":"ListKeysRequest"},
      "output":{"shape":"ListKeysResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists API key resources in your Amazon Web Services account.</p>",
      "endpoint":{"hostPrefix":"cp.metadata."}
    },
    "ListMaps":{
      "name":"ListMaps",
      "http":{
        "method":"POST",
        "requestUri":"/maps/v0/list-maps",
        "responseCode":200
      },
      "input":{"shape":"ListMapsRequest"},
      "output":{"shape":"ListMapsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists map resources in your Amazon Web Services account.</p>",
      "endpoint":{"hostPrefix":"cp.maps."}
    },
    "ListPlaceIndexes":{
      "name":"ListPlaceIndexes",
      "http":{
        "method":"POST",
        "requestUri":"/places/v0/list-indexes",
        "responseCode":200
      },
      "input":{"shape":"ListPlaceIndexesRequest"},
      "output":{"shape":"ListPlaceIndexesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists place index resources in your Amazon Web Services account.</p>",
      "endpoint":{"hostPrefix":"cp.places."}
    },
    "ListRouteCalculators":{
      "name":"ListRouteCalculators",
      "http":{
        "method":"POST",
        "requestUri":"/routes/v0/list-calculators",
        "responseCode":200
      },
      "input":{"shape":"ListRouteCalculatorsRequest"},
      "output":{"shape":"ListRouteCalculatorsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists route calculator resources in your Amazon Web Services account.</p>",
      "endpoint":{"hostPrefix":"cp.routes."}
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{ResourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of tags that are applied to the specified Amazon Location resource.</p>",
      "endpoint":{"hostPrefix":"cp.metadata."}
    },
    "ListTrackerConsumers":{
      "name":"ListTrackerConsumers",
      "http":{
        "method":"POST",
        "requestUri":"/tracking/v0/trackers/{TrackerName}/list-consumers",
        "responseCode":200
      },
      "input":{"shape":"ListTrackerConsumersRequest"},
      "output":{"shape":"ListTrackerConsumersResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists geofence collections currently associated to the given tracker resource.</p>",
      "endpoint":{"hostPrefix":"cp.tracking."}
    },
    "ListTrackers":{
      "name":"ListTrackers",
      "http":{
        "method":"POST",
        "requestUri":"/tracking/v0/list-trackers",
        "responseCode":200
      },
      "input":{"shape":"ListTrackersRequest"},
      "output":{"shape":"ListTrackersResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists tracker resources in your Amazon Web Services account.</p>",
      "endpoint":{"hostPrefix":"cp.tracking."}
    },
    "PutGeofence":{
      "name":"PutGeofence",
      "http":{
        "method":"PUT",
        "requestUri":"/geofencing/v0/collections/{CollectionName}/geofences/{GeofenceId}",
        "responseCode":200
      },
      "input":{"shape":"PutGeofenceRequest"},
      "output":{"shape":"PutGeofenceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Stores a geofence geometry in a given geofence collection, or updates the geometry of an existing geofence if a geofence ID is included in the request. </p>",
      "endpoint":{"hostPrefix":"geofencing."}
    },
    "SearchPlaceIndexForPosition":{
      "name":"SearchPlaceIndexForPosition",
      "http":{
        "method":"POST",
        "requestUri":"/places/v0/indexes/{IndexName}/search/position",
        "responseCode":200
      },
      "input":{"shape":"SearchPlaceIndexForPositionRequest"},
      "output":{"shape":"SearchPlaceIndexForPositionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Reverse geocodes a given coordinate and returns a legible address. Allows you to search for Places or points of interest near a given position.</p>",
      "endpoint":{"hostPrefix":"places."}
    },
    "SearchPlaceIndexForSuggestions":{
      "name":"SearchPlaceIndexForSuggestions",
      "http":{
        "method":"POST",
        "requestUri":"/places/v0/indexes/{IndexName}/search/suggestions",
        "responseCode":200
      },
      "input":{"shape":"SearchPlaceIndexForSuggestionsRequest"},
      "output":{"shape":"SearchPlaceIndexForSuggestionsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Generates suggestions for addresses and points of interest based on partial or misspelled free-form text. This operation is also known as autocomplete, autosuggest, or fuzzy matching.</p> <p>Optional parameters let you narrow your search results by bounding box or country, or bias your search toward a specific position on the globe.</p> <note> <p>You can search for suggested place names near a specified position by using <code>BiasPosition</code>, or filter results within a bounding box by using <code>FilterBBox</code>. These parameters are mutually exclusive; using both <code>BiasPosition</code> and <code>FilterBBox</code> in the same command returns an error.</p> </note>",
      "endpoint":{"hostPrefix":"places."}
    },
    "SearchPlaceIndexForText":{
      "name":"SearchPlaceIndexForText",
      "http":{
        "method":"POST",
        "requestUri":"/places/v0/indexes/{IndexName}/search/text",
        "responseCode":200
      },
      "input":{"shape":"SearchPlaceIndexForTextRequest"},
      "output":{"shape":"SearchPlaceIndexForTextResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Geocodes free-form text, such as an address, name, city, or region to allow you to search for Places or points of interest. </p> <p>Optional parameters let you narrow your search results by bounding box or country, or bias your search toward a specific position on the globe.</p> <note> <p>You can search for places near a given position using <code>BiasPosition</code>, or filter results within a bounding box using <code>FilterBBox</code>. Providing both parameters simultaneously returns an error.</p> </note> <p>Search results are returned in order of highest to lowest relevance.</p>",
      "endpoint":{"hostPrefix":"places."}
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{ResourceArn}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Assigns one or more tags (key-value pairs) to the specified Amazon Location Service resource.</p> <p>Tags can help you organize and categorize your resources. You can also use them to scope user permissions, by granting a user permission to access or change only resources with certain tag values.</p> <p>You can use the <code>TagResource</code> operation with an Amazon Location Service resource that already has tags. If you specify a new tag key for the resource, this tag is appended to the tags already associated with the resource. If you specify a tag key that's already associated with the resource, the new tag value that you specify replaces the previous value for that tag. </p> <p>You can associate up to 50 tags with a resource.</p>",
      "endpoint":{"hostPrefix":"cp.metadata."}
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{ResourceArn}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Removes one or more tags from the specified Amazon Location resource.</p>",
      "endpoint":{"hostPrefix":"cp.metadata."},
      "idempotent":true
    },
    "UpdateGeofenceCollection":{
      "name":"UpdateGeofenceCollection",
      "http":{
        "method":"PATCH",
        "requestUri":"/geofencing/v0/collections/{CollectionName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateGeofenceCollectionRequest"},
      "output":{"shape":"UpdateGeofenceCollectionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates the specified properties of a given geofence collection.</p>",
      "endpoint":{"hostPrefix":"cp.geofencing."},
      "idempotent":true
    },
    "UpdateKey":{
      "name":"UpdateKey",
      "http":{
        "method":"PATCH",
        "requestUri":"/metadata/v0/keys/{KeyName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateKeyRequest"},
      "output":{"shape":"UpdateKeyResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates the specified properties of a given API key resource.</p>",
      "endpoint":{"hostPrefix":"cp.metadata."},
      "idempotent":true
    },
    "UpdateMap":{
      "name":"UpdateMap",
      "http":{
        "method":"PATCH",
        "requestUri":"/maps/v0/maps/{MapName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateMapRequest"},
      "output":{"shape":"UpdateMapResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates the specified properties of a given map resource.</p>",
      "endpoint":{"hostPrefix":"cp.maps."},
      "idempotent":true
    },
    "UpdatePlaceIndex":{
      "name":"UpdatePlaceIndex",
      "http":{
        "method":"PATCH",
        "requestUri":"/places/v0/indexes/{IndexName}",
        "responseCode":200
      },
      "input":{"shape":"UpdatePlaceIndexRequest"},
      "output":{"shape":"UpdatePlaceIndexResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates the specified properties of a given place index resource.</p>",
      "endpoint":{"hostPrefix":"cp.places."},
      "idempotent":true
    },
    "UpdateRouteCalculator":{
      "name":"UpdateRouteCalculator",
      "http":{
        "method":"PATCH",
        "requestUri":"/routes/v0/calculators/{CalculatorName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateRouteCalculatorRequest"},
      "output":{"shape":"UpdateRouteCalculatorResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates the specified properties for a given route calculator resource.</p>",
      "endpoint":{"hostPrefix":"cp.routes."},
      "idempotent":true
    },
    "UpdateTracker":{
      "name":"UpdateTracker",
      "http":{
        "method":"PATCH",
        "requestUri":"/tracking/v0/trackers/{TrackerName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateTrackerRequest"},
      "output":{"shape":"UpdateTrackerResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates the specified properties of a given tracker resource.</p>",
      "endpoint":{"hostPrefix":"cp.tracking."},
      "idempotent":true
    },
    "VerifyDevicePosition":{
      "name":"VerifyDevicePosition",
      "http":{
        "method":"POST",
        "requestUri":"/tracking/v0/trackers/{TrackerName}/positions/verify",
        "responseCode":200
      },
      "input":{"shape":"VerifyDevicePositionRequest"},
      "output":{"shape":"VerifyDevicePositionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Verifies the integrity of the device's position by determining if it was reported behind a proxy, and by comparing it to an inferred position estimated based on the device's state.</p> <note> <p>The Location Integrity SDK provides enhanced features related to device verification, and it is available for use by request. To get access to the SDK, contact <a href=\"https://aws.amazon.com/contact-us/sales-support/?pg=locationprice&amp;cta=herobtn\">Sales Support</a>.</p> </note>",
      "endpoint":{"hostPrefix":"tracking."}
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{
          "shape":"String",
          "locationName":"message"
        }
      },
      "documentation":"<p>The request was denied because of insufficient access or permissions. Check with an administrator to verify your permissions.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "ApiKey":{
      "type":"string",
      "max":1000,
      "min":0,
      "sensitive":true
    },
    "ApiKeyAction":{
      "type":"string",
      "max":200,
      "min":5,
      "pattern":"(geo|geo-routes|geo-places|geo-maps):\\w*\\*?"
    },
    "ApiKeyFilter":{
      "type":"structure",
      "members":{
        "KeyStatus":{
          "shape":"Status",
          "documentation":"<p>Filter on <code>Active</code> or <code>Expired</code> API keys.</p>"
        }
      },
      "documentation":"<p>Options for filtering API keys.</p>"
    },
    "ApiKeyRestrictions":{
      "type":"structure",
      "required":[
        "AllowActions",
        "AllowResources"
      ],
      "members":{
        "AllowActions":{
          "shape":"ApiKeyRestrictionsAllowActionsList",
          "documentation":"<p>A list of allowed actions that an API key resource grants permissions to perform. You must have at least one action for each type of resource. For example, if you have a place resource, you must include at least one place action.</p> <p>The following are valid values for the actions.</p> <ul> <li> <p> <b>Map actions</b> </p> <ul> <li> <p> <code>geo:GetMap*</code> - Allows all actions needed for map rendering.</p> </li> <li> <p> <code>geo-maps:GetTile</code> - Allows retrieving map tiles.</p> </li> <li> <p> <code>geo-maps:GetStaticMap</code> - Allows retrieving static map images.</p> </li> <li> <p> <code>geo-maps:*</code> - Allows all actions related to map functionalities.</p> </li> </ul> </li> <li> <p> <b>Place actions</b> </p> <ul> <li> <p> <code>geo:SearchPlaceIndexForText</code> - Allows geocoding.</p> </li> <li> <p> <code>geo:SearchPlaceIndexForPosition</code> - Allows reverse geocoding.</p> </li> <li> <p> <code>geo:SearchPlaceIndexForSuggestions</code> - Allows generating suggestions from text.</p> </li> <li> <p> <code>GetPlace</code> - Allows finding a place by place ID.</p> </li> <li> <p> <code>geo-places:Geocode</code> - Allows geocoding using place information.</p> </li> <li> <p> <code>geo-places:ReverseGeocode</code> - Allows reverse geocoding from location coordinates.</p> </li> <li> <p> <code>geo-places:SearchNearby</code> - Allows searching for places near a location.</p> </li> <li> <p> <code>geo-places:SearchText</code> - Allows searching for places based on text input.</p> </li> <li> <p> <code>geo-places:Autocomplete</code> - Allows auto-completion of place names based on text input.</p> </li> <li> <p> <code>geo-places:Suggest</code> - Allows generating suggestions for places based on partial input.</p> </li> <li> <p> <code>geo-places:GetPlace</code> - Allows finding a place by its ID.</p> </li> <li> <p> <code>geo-places:*</code> - Allows all actions related to place services.</p> </li> </ul> </li> <li> <p> <b>Route actions</b> </p> <ul> <li> <p> <code>geo:CalculateRoute</code> - Allows point to point routing.</p> </li> <li> <p> <code>geo:CalculateRouteMatrix</code> - Allows calculating a matrix of routes.</p> </li> <li> <p> <code>geo-routes:CalculateRoutes</code> - Allows calculating multiple routes between points.</p> </li> <li> <p> <code>geo-routes:CalculateRouteMatrix</code> - Allows calculating a matrix of routes between points.</p> </li> <li> <p> <code>geo-routes:CalculateIsolines</code> - Allows calculating isolines for a given area.</p> </li> <li> <p> <code>geo-routes:OptimizeWaypoints</code> - Allows optimizing the order of waypoints in a route.</p> </li> <li> <p> <code>geo-routes:SnapToRoads</code> - Allows snapping a route to the nearest roads.</p> </li> <li> <p> <code>geo-routes:*</code> - Allows all actions related to routing functionalities.</p> </li> </ul> </li> </ul> <note> <p>You must use these strings exactly. For example, to provide access to map rendering, the only valid action is <code>geo:GetMap*</code> as an input to the list. <code>[\"geo:GetMap*\"]</code> is valid but <code>[\"geo:GetMapTile\"]</code> is not. Similarly, you cannot use <code>[\"geo:SearchPlaceIndexFor*\"]</code> - you must list each of the Place actions separately.</p> </note>"
        },
        "AllowResources":{
          "shape":"ApiKeyRestrictionsAllowResourcesList",
          "documentation":"<p>A list of allowed resource ARNs that a API key bearer can perform actions on.</p> <ul> <li> <p>The ARN must be the correct ARN for a map, place, or route ARN. You may include wildcards in the resource-id to match multiple resources of the same type.</p> </li> <li> <p>The resources must be in the same <code>partition</code>, <code>region</code>, and <code>account-id</code> as the key that is being created.</p> </li> <li> <p>Other than wildcards, you must include the full ARN, including the <code>arn</code>, <code>partition</code>, <code>service</code>, <code>region</code>, <code>account-id</code> and <code>resource-id</code> delimited by colons (:).</p> </li> <li> <p>No spaces allowed, even with wildcards. For example, <code>arn:aws:geo:region:<i>account-id</i>:map/ExampleMap*</code>.</p> </li> </ul> <p>For more information about ARN format, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a>.</p>"
        },
        "AllowReferers":{
          "shape":"ApiKeyRestrictionsAllowReferersList",
          "documentation":"<p>An optional list of allowed HTTP referers for which requests must originate from. Requests using this API key from other domains will not be allowed.</p> <p>Requirements:</p> <ul> <li> <p>Contain only alphanumeric characters (A–Z, a–z, 0–9) or any symbols in this list <code>$\\-._+!*`(),;/?:@=&amp;</code> </p> </li> <li> <p>May contain a percent (%) if followed by 2 hexadecimal digits (A-F, a-f, 0-9); this is used for URL encoding purposes.</p> </li> <li> <p>May contain wildcard characters question mark (?) and asterisk (*).</p> <p>Question mark (?) will replace any single character (including hexadecimal digits).</p> <p>Asterisk (*) will replace any multiple characters (including multiple hexadecimal digits).</p> </li> <li> <p>No spaces allowed. For example, <code>https://example.com</code>.</p> </li> </ul>"
        }
      },
      "documentation":"<p>API Restrictions on the allowed actions, resources, and referers for an API key resource.</p>"
    },
    "ApiKeyRestrictionsAllowActionsList":{
      "type":"list",
      "member":{"shape":"ApiKeyAction"},
      "max":24,
      "min":1
    },
    "ApiKeyRestrictionsAllowReferersList":{
      "type":"list",
      "member":{"shape":"RefererPattern"},
      "max":5,
      "min":1
    },
    "ApiKeyRestrictionsAllowResourcesList":{
      "type":"list",
      "member":{"shape":"GeoArnV2"},
      "max":8,
      "min":1
    },
    "Arn":{
      "type":"string",
      "max":1600,
      "min":0,
      "pattern":"arn(:[a-z0-9]+([.-][a-z0-9]+)*){2}(:([a-z0-9]+([.-][a-z0-9]+)*)?){2}:([^/].*)?"
    },
    "ArnList":{
      "type":"list",
      "member":{"shape":"Arn"}
    },
    "AssociateTrackerConsumerRequest":{
      "type":"structure",
      "required":[
        "TrackerName",
        "ConsumerArn"
      ],
      "members":{
        "TrackerName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the tracker resource to be associated with a geofence collection.</p>",
          "location":"uri",
          "locationName":"TrackerName"
        },
        "ConsumerArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) for the geofence collection to be associated to tracker resource. Used when you need to specify a resource across all Amazon Web Services.</p> <ul> <li> <p>Format example: <code>arn:aws:geo:region:account-id:geofence-collection/ExampleGeofenceCollectionConsumer</code> </p> </li> </ul>"
        }
      }
    },
    "AssociateTrackerConsumerResponse":{
      "type":"structure",
      "members":{
      }
    },
    "Base64EncodedGeobuf":{
      "type":"blob",
      "max":700000,
      "min":0,
      "sensitive":true
    },
    "BatchDeleteDevicePositionHistoryError":{
      "type":"structure",
      "required":[
        "DeviceId",
        "Error"
      ],
      "members":{
        "DeviceId":{
          "shape":"Id",
          "documentation":"<p>The ID of the device for this position.</p>"
        },
        "Error":{"shape":"BatchItemError"}
      },
      "documentation":"<p>Contains the tracker resource details.</p>"
    },
    "BatchDeleteDevicePositionHistoryErrorList":{
      "type":"list",
      "member":{"shape":"BatchDeleteDevicePositionHistoryError"}
    },
    "BatchDeleteDevicePositionHistoryRequest":{
      "type":"structure",
      "required":[
        "TrackerName",
        "DeviceIds"
      ],
      "members":{
        "TrackerName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the tracker resource to delete the device position history from.</p>",
          "location":"uri",
          "locationName":"TrackerName"
        },
        "DeviceIds":{
          "shape":"BatchDeleteDevicePositionHistoryRequestDeviceIdsList",
          "documentation":"<p>Devices whose position history you want to delete.</p> <ul> <li> <p>For example, for two devices: <code>“DeviceIds” : [DeviceId1,DeviceId2]</code> </p> </li> </ul>"
        }
      }
    },
    "BatchDeleteDevicePositionHistoryRequestDeviceIdsList":{
      "type":"list",
      "member":{"shape":"Id"},
      "max":100,
      "min":1
    },
    "BatchDeleteDevicePositionHistoryResponse":{
      "type":"structure",
      "required":["Errors"],
      "members":{
        "Errors":{
          "shape":"BatchDeleteDevicePositionHistoryErrorList",
          "documentation":"<p>Contains error details for each device history that failed to delete.</p>"
        }
      }
    },
    "BatchDeleteGeofenceError":{
      "type":"structure",
      "required":[
        "GeofenceId",
        "Error"
      ],
      "members":{
        "GeofenceId":{
          "shape":"Id",
          "documentation":"<p>The geofence associated with the error message.</p>"
        },
        "Error":{
          "shape":"BatchItemError",
          "documentation":"<p>Contains details associated to the batch error.</p>"
        }
      },
      "documentation":"<p>Contains error details for each geofence that failed to delete from the geofence collection.</p>"
    },
    "BatchDeleteGeofenceErrorList":{
      "type":"list",
      "member":{"shape":"BatchDeleteGeofenceError"}
    },
    "BatchDeleteGeofenceRequest":{
      "type":"structure",
      "required":[
        "CollectionName",
        "GeofenceIds"
      ],
      "members":{
        "CollectionName":{
          "shape":"ResourceName",
          "documentation":"<p>The geofence collection storing the geofences to be deleted.</p>",
          "location":"uri",
          "locationName":"CollectionName"
        },
        "GeofenceIds":{
          "shape":"BatchDeleteGeofenceRequestGeofenceIdsList",
          "documentation":"<p>The batch of geofences to be deleted.</p>"
        }
      }
    },
    "BatchDeleteGeofenceRequestGeofenceIdsList":{
      "type":"list",
      "member":{"shape":"Id"},
      "max":10,
      "min":1
    },
    "BatchDeleteGeofenceResponse":{
      "type":"structure",
      "required":["Errors"],
      "members":{
        "Errors":{
          "shape":"BatchDeleteGeofenceErrorList",
          "documentation":"<p>Contains error details for each geofence that failed to delete.</p>"
        }
      }
    },
    "BatchEvaluateGeofencesError":{
      "type":"structure",
      "required":[
        "DeviceId",
        "SampleTime",
        "Error"
      ],
      "members":{
        "DeviceId":{
          "shape":"Id",
          "documentation":"<p>The device associated with the position evaluation error.</p>"
        },
        "SampleTime":{
          "shape":"Timestamp",
          "documentation":"<p>Specifies a timestamp for when the error occurred in <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sssZ</code> </p>"
        },
        "Error":{
          "shape":"BatchItemError",
          "documentation":"<p>Contains details associated to the batch error.</p>"
        }
      },
      "documentation":"<p>Contains error details for each device that failed to evaluate its position against the geofences in a given geofence collection.</p>"
    },
    "BatchEvaluateGeofencesErrorList":{
      "type":"list",
      "member":{"shape":"BatchEvaluateGeofencesError"}
    },
    "BatchEvaluateGeofencesRequest":{
      "type":"structure",
      "required":[
        "CollectionName",
        "DevicePositionUpdates"
      ],
      "members":{
        "CollectionName":{
          "shape":"ResourceName",
          "documentation":"<p>The geofence collection used in evaluating the position of devices against its geofences.</p>",
          "location":"uri",
          "locationName":"CollectionName"
        },
        "DevicePositionUpdates":{
          "shape":"BatchEvaluateGeofencesRequestDevicePositionUpdatesList",
          "documentation":"<p>Contains device details for each device to be evaluated against the given geofence collection.</p>"
        }
      }
    },
    "BatchEvaluateGeofencesRequestDevicePositionUpdatesList":{
      "type":"list",
      "member":{"shape":"DevicePositionUpdate"},
      "max":10,
      "min":1
    },
    "BatchEvaluateGeofencesResponse":{
      "type":"structure",
      "required":["Errors"],
      "members":{
        "Errors":{
          "shape":"BatchEvaluateGeofencesErrorList",
          "documentation":"<p>Contains error details for each device that failed to evaluate its position against the given geofence collection.</p>"
        }
      }
    },
    "BatchGetDevicePositionError":{
      "type":"structure",
      "required":[
        "DeviceId",
        "Error"
      ],
      "members":{
        "DeviceId":{
          "shape":"Id",
          "documentation":"<p>The ID of the device that didn't return a position.</p>"
        },
        "Error":{
          "shape":"BatchItemError",
          "documentation":"<p>Contains details related to the error code.</p>"
        }
      },
      "documentation":"<p>Contains error details for each device that didn't return a position.</p>"
    },
    "BatchGetDevicePositionErrorList":{
      "type":"list",
      "member":{"shape":"BatchGetDevicePositionError"}
    },
    "BatchGetDevicePositionRequest":{
      "type":"structure",
      "required":[
        "TrackerName",
        "DeviceIds"
      ],
      "members":{
        "TrackerName":{
          "shape":"BatchGetDevicePositionRequestTrackerNameString",
          "documentation":"<p>The tracker resource retrieving the device position.</p>",
          "location":"uri",
          "locationName":"TrackerName"
        },
        "DeviceIds":{
          "shape":"BatchGetDevicePositionRequestDeviceIdsList",
          "documentation":"<p>Devices whose position you want to retrieve.</p> <ul> <li> <p>For example, for two devices: <code>device-ids=DeviceId1&amp;device-ids=DeviceId2</code> </p> </li> </ul>"
        }
      }
    },
    "BatchGetDevicePositionRequestDeviceIdsList":{
      "type":"list",
      "member":{"shape":"Id"},
      "max":10,
      "min":1
    },
    "BatchGetDevicePositionRequestTrackerNameString":{
      "type":"string",
      "min":1,
      "pattern":"[-._\\w]+"
    },
    "BatchGetDevicePositionResponse":{
      "type":"structure",
      "required":[
        "Errors",
        "DevicePositions"
      ],
      "members":{
        "Errors":{
          "shape":"BatchGetDevicePositionErrorList",
          "documentation":"<p>Contains error details for each device that failed to send its position to the tracker resource.</p>"
        },
        "DevicePositions":{
          "shape":"DevicePositionList",
          "documentation":"<p>Contains device position details such as the device ID, position, and timestamps for when the position was received and sampled.</p>"
        }
      }
    },
    "BatchItemError":{
      "type":"structure",
      "members":{
        "Code":{
          "shape":"BatchItemErrorCode",
          "documentation":"<p>The error code associated with the batch request error.</p>"
        },
        "Message":{
          "shape":"String",
          "documentation":"<p>A message with the reason for the batch request error.</p>"
        }
      },
      "documentation":"<p>Contains the batch request error details associated with the request.</p>"
    },
    "BatchItemErrorCode":{
      "type":"string",
      "enum":[
        "AccessDeniedError",
        "ConflictError",
        "InternalServerError",
        "ResourceNotFoundError",
        "ThrottlingError",
        "ValidationError"
      ]
    },
    "BatchPutGeofenceError":{
      "type":"structure",
      "required":[
        "GeofenceId",
        "Error"
      ],
      "members":{
        "GeofenceId":{
          "shape":"Id",
          "documentation":"<p>The geofence associated with the error message.</p>"
        },
        "Error":{
          "shape":"BatchItemError",
          "documentation":"<p>Contains details associated to the batch error.</p>"
        }
      },
      "documentation":"<p>Contains error details for each geofence that failed to be stored in a given geofence collection.</p>"
    },
    "BatchPutGeofenceErrorList":{
      "type":"list",
      "member":{"shape":"BatchPutGeofenceError"}
    },
    "BatchPutGeofenceRequest":{
      "type":"structure",
      "required":[
        "CollectionName",
        "Entries"
      ],
      "members":{
        "CollectionName":{
          "shape":"ResourceName",
          "documentation":"<p>The geofence collection storing the geofences.</p>",
          "location":"uri",
          "locationName":"CollectionName"
        },
        "Entries":{
          "shape":"BatchPutGeofenceRequestEntriesList",
          "documentation":"<p>The batch of geofences to be stored in a geofence collection.</p>"
        }
      }
    },
    "BatchPutGeofenceRequestEntriesList":{
      "type":"list",
      "member":{"shape":"BatchPutGeofenceRequestEntry"},
      "max":10,
      "min":1
    },
    "BatchPutGeofenceRequestEntry":{
      "type":"structure",
      "required":[
        "GeofenceId",
        "Geometry"
      ],
      "members":{
        "GeofenceId":{
          "shape":"Id",
          "documentation":"<p>The identifier for the geofence to be stored in a given geofence collection.</p>"
        },
        "Geometry":{
          "shape":"GeofenceGeometry",
          "documentation":"<p>Contains the details to specify the position of the geofence. Can be a circle, a polygon, or a multipolygon. <code>Polygon</code> and <code>MultiPolygon</code> geometries can be defined using their respective parameters, or encoded in Geobuf format using the <code>Geobuf</code> parameter. Including multiple geometry types in the same request will return a validation error.</p> <note> <p>The geofence <code>Polygon</code> and <code>MultiPolygon</code> formats support a maximum of 1,000 total vertices. The <code>Geobuf</code> format supports a maximum of 100,000 vertices.</p> </note>"
        },
        "GeofenceProperties":{
          "shape":"PropertyMap",
          "documentation":"<p>Associates one of more properties with the geofence. A property is a key-value pair stored with the geofence and added to any geofence event triggered with that geofence.</p> <p>Format: <code>\"key\" : \"value\"</code> </p>"
        }
      },
      "documentation":"<p>Contains geofence geometry details. </p>"
    },
    "BatchPutGeofenceResponse":{
      "type":"structure",
      "required":[
        "Successes",
        "Errors"
      ],
      "members":{
        "Successes":{
          "shape":"BatchPutGeofenceSuccessList",
          "documentation":"<p>Contains each geofence that was successfully stored in a geofence collection.</p>"
        },
        "Errors":{
          "shape":"BatchPutGeofenceErrorList",
          "documentation":"<p>Contains additional error details for each geofence that failed to be stored in a geofence collection.</p>"
        }
      }
    },
    "BatchPutGeofenceSuccess":{
      "type":"structure",
      "required":[
        "GeofenceId",
        "CreateTime",
        "UpdateTime"
      ],
      "members":{
        "GeofenceId":{
          "shape":"Id",
          "documentation":"<p>The geofence successfully stored in a geofence collection.</p>"
        },
        "CreateTime":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp for when the geofence was stored in a geofence collection in <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sssZ</code> </p>"
        },
        "UpdateTime":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp for when the geofence was last updated in <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sssZ</code> </p>"
        }
      },
      "documentation":"<p>Contains a summary of each geofence that was successfully stored in a given geofence collection.</p>"
    },
    "BatchPutGeofenceSuccessList":{
      "type":"list",
      "member":{"shape":"BatchPutGeofenceSuccess"}
    },
    "BatchUpdateDevicePositionError":{
      "type":"structure",
      "required":[
        "DeviceId",
        "SampleTime",
        "Error"
      ],
      "members":{
        "DeviceId":{
          "shape":"Id",
          "documentation":"<p>The device associated with the failed location update.</p>"
        },
        "SampleTime":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp at which the device position was determined. Uses <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\"> ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sssZ</code>. </p>"
        },
        "Error":{
          "shape":"BatchItemError",
          "documentation":"<p>Contains details related to the error code such as the error code and error message.</p>"
        }
      },
      "documentation":"<p>Contains error details for each device that failed to update its position.</p>"
    },
    "BatchUpdateDevicePositionErrorList":{
      "type":"list",
      "member":{"shape":"BatchUpdateDevicePositionError"}
    },
    "BatchUpdateDevicePositionRequest":{
      "type":"structure",
      "required":[
        "TrackerName",
        "Updates"
      ],
      "members":{
        "TrackerName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the tracker resource to update.</p>",
          "location":"uri",
          "locationName":"TrackerName"
        },
        "Updates":{
          "shape":"BatchUpdateDevicePositionRequestUpdatesList",
          "documentation":"<p>Contains the position update details for each device, up to 10 devices.</p>"
        }
      }
    },
    "BatchUpdateDevicePositionRequestUpdatesList":{
      "type":"list",
      "member":{"shape":"DevicePositionUpdate"},
      "max":10,
      "min":1
    },
    "BatchUpdateDevicePositionResponse":{
      "type":"structure",
      "required":["Errors"],
      "members":{
        "Errors":{
          "shape":"BatchUpdateDevicePositionErrorList",
          "documentation":"<p>Contains error details for each device that failed to update its position.</p>"
        }
      }
    },
    "Blob":{"type":"blob"},
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "BoundingBox":{
      "type":"list",
      "member":{"shape":"Double"},
      "max":4,
      "min":4,
      "sensitive":true
    },
    "CalculateRouteCarModeOptions":{
      "type":"structure",
      "members":{
        "AvoidFerries":{
          "shape":"Boolean",
          "documentation":"<p>Avoids ferries when calculating routes.</p> <p>Default Value: <code>false</code> </p> <p>Valid Values: <code>false</code> | <code>true</code> </p>"
        },
        "AvoidTolls":{
          "shape":"Boolean",
          "documentation":"<p>Avoids tolls when calculating routes.</p> <p>Default Value: <code>false</code> </p> <p>Valid Values: <code>false</code> | <code>true</code> </p>"
        }
      },
      "documentation":"<p>Contains details about additional route preferences for requests that specify <code>TravelMode</code> as <code>Car</code>.</p>"
    },
    "CalculateRouteMatrixRequest":{
      "type":"structure",
      "required":[
        "CalculatorName",
        "DeparturePositions",
        "DestinationPositions"
      ],
      "members":{
        "CalculatorName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the route calculator resource that you want to use to calculate the route matrix. </p>",
          "location":"uri",
          "locationName":"CalculatorName"
        },
        "DeparturePositions":{
          "shape":"CalculateRouteMatrixRequestDeparturePositionsList",
          "documentation":"<p>The list of departure (origin) positions for the route matrix. An array of points, each of which is itself a 2-value array defined in <a href=\"https://earth-info.nga.mil/GandG/wgs84/index.html\">WGS 84</a> format: <code>[longitude, latitude]</code>. For example, <code>[-123.115, 49.285]</code>.</p> <important> <p>Depending on the data provider selected in the route calculator resource there may be additional restrictions on the inputs you can choose. See <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/calculate-route-matrix.html#matrix-routing-position-limits\"> Position restrictions</a> in the <i>Amazon Location Service Developer Guide</i>.</p> </important> <note> <p>For route calculators that use Esri as the data provider, if you specify a departure that's not located on a road, Amazon Location <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/snap-to-nearby-road.html\"> moves the position to the nearest road</a>. The snapped value is available in the result in <code>SnappedDeparturePositions</code>.</p> </note> <p>Valid Values: <code>[-180 to 180,-90 to 90]</code> </p>"
        },
        "DestinationPositions":{
          "shape":"CalculateRouteMatrixRequestDestinationPositionsList",
          "documentation":"<p>The list of destination positions for the route matrix. An array of points, each of which is itself a 2-value array defined in <a href=\"https://earth-info.nga.mil/GandG/wgs84/index.html\">WGS 84</a> format: <code>[longitude, latitude]</code>. For example, <code>[-122.339, 47.615]</code> </p> <important> <p>Depending on the data provider selected in the route calculator resource there may be additional restrictions on the inputs you can choose. See <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/calculate-route-matrix.html#matrix-routing-position-limits\"> Position restrictions</a> in the <i>Amazon Location Service Developer Guide</i>.</p> </important> <note> <p>For route calculators that use Esri as the data provider, if you specify a destination that's not located on a road, Amazon Location <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/snap-to-nearby-road.html\"> moves the position to the nearest road</a>. The snapped value is available in the result in <code>SnappedDestinationPositions</code>.</p> </note> <p>Valid Values: <code>[-180 to 180,-90 to 90]</code> </p>"
        },
        "TravelMode":{
          "shape":"TravelMode",
          "documentation":"<p>Specifies the mode of transport when calculating a route. Used in estimating the speed of travel and road compatibility.</p> <p>The <code>TravelMode</code> you specify also determines how you specify route preferences: </p> <ul> <li> <p>If traveling by <code>Car</code> use the <code>CarModeOptions</code> parameter.</p> </li> <li> <p>If traveling by <code>Truck</code> use the <code>TruckModeOptions</code> parameter.</p> </li> </ul> <note> <p> <code>Bicycle</code> or <code>Motorcycle</code> are only valid when using <code>Grab</code> as a data provider, and only within Southeast Asia.</p> <p> <code>Truck</code> is not available for Grab.</p> <p>For more information about using Grab as a data provider, see <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/grab.html\">GrabMaps</a> in the <i>Amazon Location Service Developer Guide</i>.</p> </note> <p>Default Value: <code>Car</code> </p>"
        },
        "DepartureTime":{
          "shape":"Timestamp",
          "documentation":"<p>Specifies the desired time of departure. Uses the given time to calculate the route matrix. You can't set both <code>DepartureTime</code> and <code>DepartNow</code>. If neither is set, the best time of day to travel with the best traffic conditions is used to calculate the route matrix.</p> <note> <p>Setting a departure time in the past returns a <code>400 ValidationException</code> error.</p> </note> <ul> <li> <p>In <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sssZ</code>. For example, <code>2020–07-2T12:15:20.000Z+01:00</code> </p> </li> </ul>"
        },
        "DepartNow":{
          "shape":"Boolean",
          "documentation":"<p>Sets the time of departure as the current time. Uses the current time to calculate the route matrix. You can't set both <code>DepartureTime</code> and <code>DepartNow</code>. If neither is set, the best time of day to travel with the best traffic conditions is used to calculate the route matrix.</p> <p>Default Value: <code>false</code> </p> <p>Valid Values: <code>false</code> | <code>true</code> </p>"
        },
        "DistanceUnit":{
          "shape":"DistanceUnit",
          "documentation":"<p>Set the unit system to specify the distance.</p> <p>Default Value: <code>Kilometers</code> </p>"
        },
        "CarModeOptions":{
          "shape":"CalculateRouteCarModeOptions",
          "documentation":"<p>Specifies route preferences when traveling by <code>Car</code>, such as avoiding routes that use ferries or tolls.</p> <p>Requirements: <code>TravelMode</code> must be specified as <code>Car</code>.</p>"
        },
        "TruckModeOptions":{
          "shape":"CalculateRouteTruckModeOptions",
          "documentation":"<p>Specifies route preferences when traveling by <code>Truck</code>, such as avoiding routes that use ferries or tolls, and truck specifications to consider when choosing an optimal road.</p> <p>Requirements: <code>TravelMode</code> must be specified as <code>Truck</code>.</p>"
        },
        "Key":{
          "shape":"ApiKey",
          "documentation":"<p>The optional <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/using-apikeys.html\">API key</a> to authorize the request.</p>",
          "location":"querystring",
          "locationName":"key"
        }
      }
    },
    "CalculateRouteMatrixRequestDeparturePositionsList":{
      "type":"list",
      "member":{"shape":"Position"},
      "max":350,
      "min":1
    },
    "CalculateRouteMatrixRequestDestinationPositionsList":{
      "type":"list",
      "member":{"shape":"Position"},
      "max":350,
      "min":1
    },
    "CalculateRouteMatrixResponse":{
      "type":"structure",
      "required":[
        "RouteMatrix",
        "Summary"
      ],
      "members":{
        "RouteMatrix":{
          "shape":"RouteMatrix",
          "documentation":"<p>The calculated route matrix containing the results for all pairs of <code>DeparturePositions</code> to <code>DestinationPositions</code>. Each row corresponds to one entry in <code>DeparturePositions</code>. Each entry in the row corresponds to the route from that entry in <code>DeparturePositions</code> to an entry in <code>DestinationPositions</code>. </p>"
        },
        "SnappedDeparturePositions":{
          "shape":"CalculateRouteMatrixResponseSnappedDeparturePositionsList",
          "documentation":"<p>For routes calculated using an Esri route calculator resource, departure positions are snapped to the closest road. For Esri route calculator resources, this returns the list of departure/origin positions used for calculation of the <code>RouteMatrix</code>.</p>"
        },
        "SnappedDestinationPositions":{
          "shape":"CalculateRouteMatrixResponseSnappedDestinationPositionsList",
          "documentation":"<p>The list of destination positions for the route matrix used for calculation of the <code>RouteMatrix</code>.</p>"
        },
        "Summary":{
          "shape":"CalculateRouteMatrixSummary",
          "documentation":"<p>Contains information about the route matrix, <code>DataSource</code>, <code>DistanceUnit</code>, <code>RouteCount</code> and <code>ErrorCount</code>.</p>"
        }
      },
      "documentation":"<p>Returns the result of the route matrix calculation.</p>"
    },
    "CalculateRouteMatrixResponseSnappedDeparturePositionsList":{
      "type":"list",
      "member":{"shape":"Position"},
      "max":350,
      "min":1
    },
    "CalculateRouteMatrixResponseSnappedDestinationPositionsList":{
      "type":"list",
      "member":{"shape":"Position"},
      "max":350,
      "min":1
    },
    "CalculateRouteMatrixSummary":{
      "type":"structure",
      "required":[
        "DataSource",
        "RouteCount",
        "ErrorCount",
        "DistanceUnit"
      ],
      "members":{
        "DataSource":{
          "shape":"String",
          "documentation":"<p>The data provider of traffic and road network data used to calculate the routes. Indicates one of the available providers:</p> <ul> <li> <p> <code>Esri</code> </p> </li> <li> <p> <code>Grab</code> </p> </li> <li> <p> <code>Here</code> </p> </li> </ul> <p>For more information about data providers, see <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/what-is-data-provider.html\">Amazon Location Service data providers</a>.</p>"
        },
        "RouteCount":{
          "shape":"CalculateRouteMatrixSummaryRouteCountInteger",
          "documentation":"<p>The count of cells in the route matrix. Equal to the number of <code>DeparturePositions</code> multiplied by the number of <code>DestinationPositions</code>.</p>"
        },
        "ErrorCount":{
          "shape":"CalculateRouteMatrixSummaryErrorCountInteger",
          "documentation":"<p>The count of error results in the route matrix. If this number is 0, all routes were calculated successfully.</p>"
        },
        "DistanceUnit":{
          "shape":"DistanceUnit",
          "documentation":"<p>The unit of measurement for route distances.</p>"
        }
      },
      "documentation":"<p>A summary of the calculated route matrix.</p>"
    },
    "CalculateRouteMatrixSummaryErrorCountInteger":{
      "type":"integer",
      "box":true,
      "max":160000,
      "min":1
    },
    "CalculateRouteMatrixSummaryRouteCountInteger":{
      "type":"integer",
      "box":true,
      "max":160000,
      "min":1
    },
    "CalculateRouteRequest":{
      "type":"structure",
      "required":[
        "CalculatorName",
        "DeparturePosition",
        "DestinationPosition"
      ],
      "members":{
        "CalculatorName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the route calculator resource that you want to use to calculate the route. </p>",
          "location":"uri",
          "locationName":"CalculatorName"
        },
        "DeparturePosition":{
          "shape":"Position",
          "documentation":"<p>The start position for the route. Defined in <a href=\"https://earth-info.nga.mil/index.php?dir=wgs84&amp;action=wgs84\">World Geodetic System (WGS 84)</a> format: <code>[longitude, latitude]</code>.</p> <ul> <li> <p>For example, <code>[-123.115, 49.285]</code> </p> </li> </ul> <note> <p>If you specify a departure that's not located on a road, Amazon Location <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/snap-to-nearby-road.html\">moves the position to the nearest road</a>. If Esri is the provider for your route calculator, specifying a route that is longer than 400 km returns a <code>400 RoutesValidationException</code> error.</p> </note> <p>Valid Values: <code>[-180 to 180,-90 to 90]</code> </p>"
        },
        "DestinationPosition":{
          "shape":"Position",
          "documentation":"<p>The finish position for the route. Defined in <a href=\"https://earth-info.nga.mil/index.php?dir=wgs84&amp;action=wgs84\">World Geodetic System (WGS 84)</a> format: <code>[longitude, latitude]</code>.</p> <ul> <li> <p> For example, <code>[-122.339, 47.615]</code> </p> </li> </ul> <note> <p>If you specify a destination that's not located on a road, Amazon Location <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/snap-to-nearby-road.html\">moves the position to the nearest road</a>. </p> </note> <p>Valid Values: <code>[-180 to 180,-90 to 90]</code> </p>"
        },
        "WaypointPositions":{
          "shape":"CalculateRouteRequestWaypointPositionsList",
          "documentation":"<p>Specifies an ordered list of up to 23 intermediate positions to include along a route between the departure position and destination position. </p> <ul> <li> <p>For example, from the <code>DeparturePosition</code> <code>[-123.115, 49.285]</code>, the route follows the order that the waypoint positions are given <code>[[-122.757, 49.0021],[-122.349, 47.620]]</code> </p> </li> </ul> <note> <p>If you specify a waypoint position that's not located on a road, Amazon Location <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/snap-to-nearby-road.html\">moves the position to the nearest road</a>. </p> <p>Specifying more than 23 waypoints returns a <code>400 ValidationException</code> error.</p> <p>If Esri is the provider for your route calculator, specifying a route that is longer than 400 km returns a <code>400 RoutesValidationException</code> error.</p> </note> <p>Valid Values: <code>[-180 to 180,-90 to 90]</code> </p>"
        },
        "TravelMode":{
          "shape":"TravelMode",
          "documentation":"<p>Specifies the mode of transport when calculating a route. Used in estimating the speed of travel and road compatibility. You can choose <code>Car</code>, <code>Truck</code>, <code>Walking</code>, <code>Bicycle</code> or <code>Motorcycle</code> as options for the <code>TravelMode</code>.</p> <note> <p> <code>Bicycle</code> and <code>Motorcycle</code> are only valid when using Grab as a data provider, and only within Southeast Asia.</p> <p> <code>Truck</code> is not available for Grab.</p> <p>For more details on the using Grab for routing, including areas of coverage, see <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/grab.html\">GrabMaps</a> in the <i>Amazon Location Service Developer Guide</i>.</p> </note> <p>The <code>TravelMode</code> you specify also determines how you specify route preferences: </p> <ul> <li> <p>If traveling by <code>Car</code> use the <code>CarModeOptions</code> parameter.</p> </li> <li> <p>If traveling by <code>Truck</code> use the <code>TruckModeOptions</code> parameter.</p> </li> </ul> <p>Default Value: <code>Car</code> </p>"
        },
        "DepartureTime":{
          "shape":"Timestamp",
          "documentation":"<p>Specifies the desired time of departure. Uses the given time to calculate the route. Otherwise, the best time of day to travel with the best traffic conditions is used to calculate the route.</p> <ul> <li> <p>In <a href=\"https://www.iso.org/iso-8601-date-and-time-format.html\">ISO 8601</a> format: <code>YYYY-MM-DDThh:mm:ss.sssZ</code>. For example, <code>2020–07-2T12:15:20.000Z+01:00</code> </p> </li> </ul>"
        },
        "DepartNow":{
          "shape":"Boolean",
          "documentation":"<p>Sets the time of departure as the current time. Uses the current time to calculate a route. Otherwise, the best time of day to travel with the best traffic conditions is used to calculate the route.</p> <p>Default Value: <code>false</code> </p> <p>Valid Values: <code>false</code> | <code>true</code> </p>"
        },
        "DistanceUnit":{
          "shape":"DistanceUnit",
          "documentation":"<p>Set the unit system to specify the distance.</p> <p>Default Value: <code>Kilometers</code> </p>"
        },
        "IncludeLegGeometry":{
          "shape":"Boolean",
          "documentation":"<p>Set to include the geometry details in the result for each path between a pair of positions.</p> <p>Default Value: <code>false</code> </p> <p>Valid Values: <code>false</code> | <code>true</code> </p>"
        },
        "CarModeOptions":{
          "shape":"CalculateRouteCarModeOptions",
          "documentation":"<p>Specifies route preferences when traveling by <code>Car</code>, such as avoiding routes that use ferries or tolls.</p> <p>Requirements: <code>TravelMode</code> must be specified as <code>Car</code>.</p>"
        },
        "TruckModeOptions":{
          "shape":"CalculateRouteTruckModeOptions",
          "documentation":"<p>Specifies route preferences when traveling by <code>Truck</code>, such as avoiding routes that use ferries or tolls, and truck specifications to consider when choosing an optimal road.</p> <p>Requirements: <code>TravelMode</code> must be specified as <code>Truck</code>.</p>"
        },
        "ArrivalTime":{
          "shape":"Timestamp",
          "documentation":"<p>Specifies the desired time of arrival. Uses the given time to calculate the route. Otherwise, the best time of day to travel with the best traffic conditions is used to calculate the route.</p> <note> <p>ArrivalTime is not supported Esri.</p> </note>"
        },
        "OptimizeFor":{
          "shape":"OptimizationMode",
          "documentation":"<p>Specifies the distance to optimize for when calculating a route.</p>"
        },
        "Key":{
          "shape":"ApiKey",
          "documentation":"<p>The optional <a href=\"https://docs.aws.amazon.com/location/previous/developerguide/using-apikeys.html\">API key</a> to authorize the request.</p>",
          "location":"querystring",
          "locationName":"key"
        }
      }
    },
    "CalculateRouteRequestWaypointPositionsList":{
      "type":"list",
[...]
