<button class="gh-members-emailpreview-feedback-button" style={{html-safe (concat "background: " @color "10")}} type="button">
    <span class="gh-members-emailpreview-feedback-button-body" style={{html-safe (concat "color: " @color)}}>
        {{svg-jar @icon class="gh-members-emailpreview-feedback-button-icon"}}
        <span>{{@text}}</span>
    </span>
</button>
