<button class="gh-members-emailpreview-feedback-button" type="button">
    <span class="gh-members-emailpreview-feedback-button-body">
        {{svg-jar @icon class="gh-members-emailpreview-feedback-button-icon"}}
        <span>{{@text}}</span>
    </span>
</button>
