<div class="gh-members-emailpreview-latest-post">
    <div class="gh-members-emailpreview-latest-post-image" style={{html-safe (concat "background-image: url(" @imgPath ")")}}></div>
    <div>
        <h3>{{@postTitle}}</h3>
        <p>{{@postDate}}</p>
    </div>
</div>