{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2014-05-15",
    "endpointPrefix":"route53domains",
    "jsonVersion":"1.1",
    "protocol":"json",
    "protocols":["json"],
    "serviceFullName":"Amazon Route 53 Domains",
    "serviceId":"Route 53 Domains",
    "signatureVersion":"v4",
    "targetPrefix":"Route53Domains_v20140515",
    "uid":"route53domains-2014-05-15",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AcceptDomainTransferFromAnotherAwsAccount":{
      "name":"AcceptDomainTransferFromAnotherAwsAccount",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AcceptDomainTransferFromAnotherAwsAccountRequest"},
      "output":{"shape":"AcceptDomainTransferFromAnotherAwsAccountResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"OperationLimitExceeded"},
        {"shape":"DomainLimitExceeded"},
        {"shape":"UnsupportedTLD"}
      ],
      "documentation":"<p>Accepts the transfer of a domain from another Amazon Web Services account to the currentAmazon Web Services account. You initiate a transfer between Amazon Web Services accounts using <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_TransferDomainToAnotherAwsAccount.html\">TransferDomainToAnotherAwsAccount</a>.</p> <p>If you use the CLI command at <a href=\"https://docs.aws.amazon.com/cli/latest/reference/route53domains/accept-domain-transfer-from-another-aws-account.html\">accept-domain-transfer-from-another-aws-account</a>, use JSON format as input instead of text because otherwise CLI will throw an error from domain transfer input that includes single quotes.</p> <p>Use either <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_ListOperations.html\">ListOperations</a> or <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_GetOperationDetail.html\">GetOperationDetail</a> to determine whether the operation succeeded. <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_GetOperationDetail.html\">GetOperationDetail</a> provides additional information, for example, <code>Domain Transfer from Aws Account 111122223333 has been cancelled</code>. </p>"
    },
    "AssociateDelegationSignerToDomain":{
      "name":"AssociateDelegationSignerToDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateDelegationSignerToDomainRequest"},
      "output":{"shape":"AssociateDelegationSignerToDomainResponse"},
      "errors":[
        {"shape":"DuplicateRequest"},
        {"shape":"InvalidInput"},
        {"shape":"OperationLimitExceeded"},
        {"shape":"TLDRulesViolation"},
        {"shape":"UnsupportedTLD"},
        {"shape":"DnssecLimitExceeded"}
      ],
      "documentation":"<p> Creates a delegation signer (DS) record in the registry zone for this domain name.</p> <p>Note that creating DS record at the registry impacts DNSSEC validation of your DNS records. This action may render your domain name unavailable on the internet if the steps are completed in the wrong order, or with incorrect timing. For more information about DNSSEC signing, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-configuring-dnssec.html\">Configuring DNSSEC signing</a> in the <i>Route 53 developer guide</i>.</p>"
    },
    "CancelDomainTransferToAnotherAwsAccount":{
      "name":"CancelDomainTransferToAnotherAwsAccount",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelDomainTransferToAnotherAwsAccountRequest"},
      "output":{"shape":"CancelDomainTransferToAnotherAwsAccountResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"OperationLimitExceeded"},
        {"shape":"UnsupportedTLD"}
      ],
      "documentation":"<p>Cancels the transfer of a domain from the current Amazon Web Services account to another Amazon Web Services account. You initiate a transfer betweenAmazon Web Services accounts using <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_TransferDomainToAnotherAwsAccount.html\">TransferDomainToAnotherAwsAccount</a>. </p> <important> <p>You must cancel the transfer before the other Amazon Web Services account accepts the transfer using <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_AcceptDomainTransferFromAnotherAwsAccount.html\">AcceptDomainTransferFromAnotherAwsAccount</a>.</p> </important> <p>Use either <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_ListOperations.html\">ListOperations</a> or <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_GetOperationDetail.html\">GetOperationDetail</a> to determine whether the operation succeeded. <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_GetOperationDetail.html\">GetOperationDetail</a> provides additional information, for example, <code>Domain Transfer from Aws Account 111122223333 has been cancelled</code>. </p>"
    },
    "CheckDomainAvailability":{
      "name":"CheckDomainAvailability",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CheckDomainAvailabilityRequest"},
      "output":{"shape":"CheckDomainAvailabilityResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"UnsupportedTLD"}
      ],
      "documentation":"<p>This operation checks the availability of one domain name. Note that if the availability status of a domain is pending, you must submit another request to determine the availability of the domain name.</p>"
    },
    "CheckDomainTransferability":{
      "name":"CheckDomainTransferability",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CheckDomainTransferabilityRequest"},
      "output":{"shape":"CheckDomainTransferabilityResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"UnsupportedTLD"}
      ],
      "documentation":"<p>Checks whether a domain name can be transferred to Amazon Route 53. </p>"
    },
    "DeleteDomain":{
      "name":"DeleteDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDomainRequest"},
      "output":{"shape":"DeleteDomainResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"DuplicateRequest"},
        {"shape":"TLDRulesViolation"},
        {"shape":"UnsupportedTLD"}
      ],
      "documentation":"<p>This operation deletes the specified domain. This action is permanent. For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/domain-delete.html\">Deleting a domain name registration</a>.</p> <p>To transfer the domain registration to another registrar, use the transfer process that’s provided by the registrar to which you want to transfer the registration. Otherwise, the following apply:</p> <ol> <li> <p>You can’t get a refund for the cost of a deleted domain registration.</p> </li> <li> <p>The registry for the top-level domain might hold the domain name for a brief time before releasing it for other users to register (varies by registry). </p> </li> <li> <p>When the registration has been deleted, we'll send you a confirmation to the registrant contact. The email will come from <code>noreply@domainnameverification.net</code> or <code>noreply@registrar.amazon.com</code>.</p> </li> </ol>"
    },
    "DeleteTagsForDomain":{
      "name":"DeleteTagsForDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTagsForDomainRequest"},
      "output":{"shape":"DeleteTagsForDomainResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"OperationLimitExceeded"},
        {"shape":"UnsupportedTLD"}
      ],
      "documentation":"<p>This operation deletes the specified tags for a domain.</p> <p>All tag operations are eventually consistent; subsequent operations might not immediately represent all issued operations.</p>"
    },
    "DisableDomainAutoRenew":{
      "name":"DisableDomainAutoRenew",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableDomainAutoRenewRequest"},
      "output":{"shape":"DisableDomainAutoRenewResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"UnsupportedTLD"}
      ],
      "documentation":"<p>This operation disables automatic renewal of domain registration for the specified domain.</p>"
    },
    "DisableDomainTransferLock":{
      "name":"DisableDomainTransferLock",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableDomainTransferLockRequest"},
      "output":{"shape":"DisableDomainTransferLockResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"DuplicateRequest"},
        {"shape":"TLDRulesViolation"},
        {"shape":"OperationLimitExceeded"},
        {"shape":"UnsupportedTLD"}
      ],
      "documentation":"<p>This operation removes the transfer lock on the domain (specifically the <code>clientTransferProhibited</code> status) to allow domain transfers. We recommend you refrain from performing this action unless you intend to transfer the domain to a different registrar. Successful submission returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.</p>"
    },
    "DisassociateDelegationSignerFromDomain":{
      "name":"DisassociateDelegationSignerFromDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateDelegationSignerFromDomainRequest"},
      "output":{"shape":"DisassociateDelegationSignerFromDomainResponse"},
      "errors":[
        {"shape":"DuplicateRequest"},
        {"shape":"InvalidInput"},
        {"shape":"OperationLimitExceeded"},
        {"shape":"TLDRulesViolation"},
        {"shape":"UnsupportedTLD"}
      ],
      "documentation":"<p>Deletes a delegation signer (DS) record in the registry zone for this domain name.</p>"
    },
    "EnableDomainAutoRenew":{
      "name":"EnableDomainAutoRenew",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableDomainAutoRenewRequest"},
      "output":{"shape":"EnableDomainAutoRenewResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"UnsupportedTLD"},
        {"shape":"TLDRulesViolation"}
      ],
      "documentation":"<p>This operation configures Amazon Route 53 to automatically renew the specified domain before the domain registration expires. The cost of renewing your domain registration is billed to your Amazon Web Services account.</p> <p>The period during which you can renew a domain name varies by TLD. For a list of TLDs and their renewal policies, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/registrar-tld-list.html\">Domains That You Can Register with Amazon Route 53</a> in the <i>Amazon Route 53 Developer Guide</i>. Route 53 requires that you renew before the end of the renewal period so we can complete processing before the deadline.</p>"
    },
    "EnableDomainTransferLock":{
      "name":"EnableDomainTransferLock",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableDomainTransferLockRequest"},
      "output":{"shape":"EnableDomainTransferLockResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"DuplicateRequest"},
        {"shape":"TLDRulesViolation"},
        {"shape":"OperationLimitExceeded"},
        {"shape":"UnsupportedTLD"}
      ],
      "documentation":"<p>This operation sets the transfer lock on the domain (specifically the <code>clientTransferProhibited</code> status) to prevent domain transfers. Successful submission returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.</p>"
    },
    "GetContactReachabilityStatus":{
      "name":"GetContactReachabilityStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetContactReachabilityStatusRequest"},
      "output":{"shape":"GetContactReachabilityStatusResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"OperationLimitExceeded"},
        {"shape":"UnsupportedTLD"}
      ],
      "documentation":"<p>For operations that require confirmation that the email address for the registrant contact is valid, such as registering a new domain, this operation returns information about whether the registrant contact has responded.</p> <p>If you want us to resend the email, use the <code>ResendContactReachabilityEmail</code> operation.</p>"
    },
    "GetDomainDetail":{
      "name":"GetDomainDetail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDomainDetailRequest"},
      "output":{"shape":"GetDomainDetailResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"UnsupportedTLD"}
      ],
      "documentation":"<p>This operation returns detailed information about a specified domain that is associated with the current Amazon Web Services account. Contact information for the domain is also returned as part of the output.</p>"
    },
    "GetDomainSuggestions":{
      "name":"GetDomainSuggestions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDomainSuggestionsRequest"},
      "output":{"shape":"GetDomainSuggestionsResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"UnsupportedTLD"}
      ],
      "documentation":"<p>The GetDomainSuggestions operation returns a list of suggested domain names.</p>"
    },
    "GetOperationDetail":{
      "name":"GetOperationDetail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetOperationDetailRequest"},
      "output":{"shape":"GetOperationDetailResponse"},
      "errors":[
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>This operation returns the current status of an operation that is not completed.</p>"
    },
    "ListDomains":{
      "name":"ListDomains",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDomainsRequest"},
      "output":{"shape":"ListDomainsResponse"},
      "errors":[
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>This operation returns all the domain names registered with Amazon Route 53 for the current Amazon Web Services account if no filtering conditions are used.</p>"
    },
    "ListOperations":{
      "name":"ListOperations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListOperationsRequest"},
      "output":{"shape":"ListOperationsResponse"},
      "errors":[
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Returns information about all of the operations that return an operation ID and that have ever been performed on domains that were registered by the current account. </p> <p>This command runs only in the us-east-1 Region.</p>"
    },
    "ListPrices":{
      "name":"ListPrices",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPricesRequest"},
      "output":{"shape":"ListPricesResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"UnsupportedTLD"}
      ],
      "documentation":"<p>Lists the following prices for either all the TLDs supported by Route 53, or the specified TLD:</p> <ul> <li> <p>Registration</p> </li> <li> <p>Transfer</p> </li> <li> <p>Owner change</p> </li> <li> <p>Domain renewal</p> </li> <li> <p>Domain restoration</p> </li> </ul>"
    },
    "ListTagsForDomain":{
      "name":"ListTagsForDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForDomainRequest"},
      "output":{"shape":"ListTagsForDomainResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"OperationLimitExceeded"},
        {"shape":"UnsupportedTLD"}
      ],
      "documentation":"<p>This operation returns all of the tags that are associated with the specified domain.</p> <p>All tag operations are eventually consistent; subsequent operations might not immediately represent all issued operations.</p>"
    },
    "PushDomain":{
      "name":"PushDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PushDomainRequest"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"OperationLimitExceeded"},
        {"shape":"UnsupportedTLD"}
      ],
      "documentation":"<p> Moves a domain from Amazon Web Services to another registrar. </p> <p>Supported actions:</p> <ul> <li> <p>Changes the IPS tags of a .uk domain, and pushes it to transit. Transit means that the domain is ready to be transferred to another registrar.</p> </li> </ul>"
    },
    "RegisterDomain":{
      "name":"RegisterDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterDomainRequest"},
      "output":{"shape":"RegisterDomainResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"UnsupportedTLD"},
        {"shape":"DuplicateRequest"},
        {"shape":"TLDRulesViolation"},
        {"shape":"DomainLimitExceeded"},
        {"shape":"OperationLimitExceeded"}
      ],
      "documentation":"<p>This operation registers a domain. For some top-level domains (TLDs), this operation requires extra parameters.</p> <p>When you register a domain, Amazon Route 53 does the following:</p> <ul> <li> <p>Creates a Route 53 hosted zone that has the same name as the domain. Route 53 assigns four name servers to your hosted zone and automatically updates your domain registration with the names of these name servers.</p> </li> <li> <p>Enables auto renew, so your domain registration will renew automatically each year. We'll notify you in advance of the renewal date so you can choose whether to renew the registration.</p> </li> <li> <p>Optionally enables privacy protection, so WHOIS queries return contact for the registrar or the phrase \"REDACTED FOR PRIVACY\", or \"On behalf of &lt;domain name&gt; owner.\" If you don't enable privacy protection, WHOIS queries return the information that you entered for the administrative, registrant, and technical contacts.</p> <note> <p>While some domains may allow different privacy settings per contact, we recommend specifying the same privacy setting for all contacts.</p> </note> </li> <li> <p>If registration is successful, returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant is notified by email.</p> </li> <li> <p>Charges your Amazon Web Services account an amount based on the top-level domain. For more information, see <a href=\"http://aws.amazon.com/route53/pricing/\">Amazon Route 53 Pricing</a>.</p> </li> </ul>"
    },
    "RejectDomainTransferFromAnotherAwsAccount":{
      "name":"RejectDomainTransferFromAnotherAwsAccount",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RejectDomainTransferFromAnotherAwsAccountRequest"},
      "output":{"shape":"RejectDomainTransferFromAnotherAwsAccountResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"OperationLimitExceeded"},
        {"shape":"UnsupportedTLD"}
      ],
      "documentation":"<p>Rejects the transfer of a domain from another Amazon Web Services account to the current Amazon Web Services account. You initiate a transfer betweenAmazon Web Services accounts using <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_TransferDomainToAnotherAwsAccount.html\">TransferDomainToAnotherAwsAccount</a>. </p> <p>Use either <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_ListOperations.html\">ListOperations</a> or <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_GetOperationDetail.html\">GetOperationDetail</a> to determine whether the operation succeeded. <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_GetOperationDetail.html\">GetOperationDetail</a> provides additional information, for example, <code>Domain Transfer from Aws Account 111122223333 has been cancelled</code>. </p>"
    },
    "RenewDomain":{
      "name":"RenewDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RenewDomainRequest"},
      "output":{"shape":"RenewDomainResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"UnsupportedTLD"},
        {"shape":"DuplicateRequest"},
        {"shape":"TLDRulesViolation"},
        {"shape":"OperationLimitExceeded"}
      ],
      "documentation":"<p>This operation renews a domain for the specified number of years. The cost of renewing your domain is billed to your Amazon Web Services account.</p> <p>We recommend that you renew your domain several weeks before the expiration date. Some TLD registries delete domains before the expiration date if you haven't renewed far enough in advance. For more information about renewing domain registration, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/domain-renew.html\">Renewing Registration for a Domain</a> in the <i>Amazon Route 53 Developer Guide</i>.</p>"
    },
    "ResendContactReachabilityEmail":{
      "name":"ResendContactReachabilityEmail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResendContactReachabilityEmailRequest"},
      "output":{"shape":"ResendContactReachabilityEmailResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"OperationLimitExceeded"},
        {"shape":"UnsupportedTLD"}
      ],
      "documentation":"<p>For operations that require confirmation that the email address for the registrant contact is valid, such as registering a new domain, this operation resends the confirmation email to the current email address for the registrant contact.</p>"
    },
    "ResendOperationAuthorization":{
      "name":"ResendOperationAuthorization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResendOperationAuthorizationRequest"},
      "errors":[
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p> Resend the form of authorization email for this operation. </p>"
    },
    "RetrieveDomainAuthCode":{
      "name":"RetrieveDomainAuthCode",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RetrieveDomainAuthCodeRequest"},
      "output":{"shape":"RetrieveDomainAuthCodeResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"UnsupportedTLD"}
      ],
      "documentation":"<p>This operation returns the authorization code for the domain. To transfer a domain to another registrar, you provide this value to the new registrar.</p>"
    },
    "TransferDomain":{
      "name":"TransferDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TransferDomainRequest"},
      "output":{"shape":"TransferDomainResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"UnsupportedTLD"},
        {"shape":"DuplicateRequest"},
        {"shape":"TLDRulesViolation"},
        {"shape":"DomainLimitExceeded"},
        {"shape":"OperationLimitExceeded"}
      ],
      "documentation":"<p>Transfers a domain from another registrar to Amazon Route 53. </p> <p>For more information about transferring domains, see the following topics:</p> <ul> <li> <p>For transfer requirements, a detailed procedure, and information about viewing the status of a domain that you're transferring to Route 53, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/domain-transfer-to-route-53.html\">Transferring Registration for a Domain to Amazon Route 53</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> </li> <li> <p>For information about how to transfer a domain from one Amazon Web Services account to another, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_TransferDomainToAnotherAwsAccount.html\">TransferDomainToAnotherAwsAccount</a>. </p> </li> <li> <p>For information about how to transfer a domain to another domain registrar, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/domain-transfer-from-route-53.html\">Transferring a Domain from Amazon Route 53 to Another Registrar</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> </li> </ul> <important> <p>During the transfer of any country code top-level domains (ccTLDs) to Route 53, except for .cc and .tv, updates to the owner contact are ignored and the owner contact data from the registry is used. You can update the owner contact after the transfer is complete. For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_UpdateDomainContact.html\">UpdateDomainContact</a>.</p> </important> <p>If the registrar for your domain is also the DNS service provider for the domain, we highly recommend that you transfer your DNS service to Route 53 or to another DNS service provider before you transfer your registration. Some registrars provide free DNS service when you purchase a domain registration. When you transfer the registration, the previous registrar will not renew your domain registration and could end your DNS service at any time.</p> <important> <p>If the registrar for your domain is also the DNS service provider for the domain and you don't transfer DNS service to another provider, your website, email, and the web applications associated with the domain might become unavailable.</p> </important> <p>If the transfer is successful, this method returns an operation ID that you can use to track the progress and completion of the action. If the transfer doesn't complete successfully, the domain registrant will be notified by email.</p>"
    },
    "TransferDomainToAnotherAwsAccount":{
      "name":"TransferDomainToAnotherAwsAccount",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TransferDomainToAnotherAwsAccountRequest"},
      "output":{"shape":"TransferDomainToAnotherAwsAccountResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"OperationLimitExceeded"},
        {"shape":"DuplicateRequest"},
        {"shape":"UnsupportedTLD"}
      ],
      "documentation":"<p>Transfers a domain from the current Amazon Web Services account to another Amazon Web Services account. Note the following:</p> <ul> <li> <p>The Amazon Web Services account that you're transferring the domain to must accept the transfer. If the other account doesn't accept the transfer within 3 days, we cancel the transfer. See <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_AcceptDomainTransferFromAnotherAwsAccount.html\">AcceptDomainTransferFromAnotherAwsAccount</a>. </p> </li> <li> <p>You can cancel the transfer before the other account accepts it. See <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_CancelDomainTransferToAnotherAwsAccount.html\">CancelDomainTransferToAnotherAwsAccount</a>. </p> </li> <li> <p>The other account can reject the transfer. See <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_RejectDomainTransferFromAnotherAwsAccount.html\">RejectDomainTransferFromAnotherAwsAccount</a>. </p> </li> </ul> <important> <p>When you transfer a domain from one Amazon Web Services account to another, Route 53 doesn't transfer the hosted zone that is associated with the domain. DNS resolution isn't affected if the domain and the hosted zone are owned by separate accounts, so transferring the hosted zone is optional. For information about transferring the hosted zone to another Amazon Web Services account, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/hosted-zones-migrating.html\">Migrating a Hosted Zone to a Different Amazon Web Services Account</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> </important> <p>Use either <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_ListOperations.html\">ListOperations</a> or <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_GetOperationDetail.html\">GetOperationDetail</a> to determine whether the operation succeeded. <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_GetOperationDetail.html\">GetOperationDetail</a> provides additional information, for example, <code>Domain Transfer from Aws Account 111122223333 has been cancelled</code>. </p>"
    },
    "UpdateDomainContact":{
      "name":"UpdateDomainContact",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDomainContactRequest"},
      "output":{"shape":"UpdateDomainContactResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"DuplicateRequest"},
        {"shape":"TLDRulesViolation"},
        {"shape":"OperationLimitExceeded"},
        {"shape":"UnsupportedTLD"}
      ],
      "documentation":"<p>This operation updates the contact information for a particular domain. You must specify information for at least one contact: registrant, administrator, or technical.</p> <p>If the update is successful, this method returns an operation ID that you can use to track the progress and completion of the operation. If the request is not completed successfully, the domain registrant will be notified by email.</p>"
    },
    "UpdateDomainContactPrivacy":{
      "name":"UpdateDomainContactPrivacy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDomainContactPrivacyRequest"},
      "output":{"shape":"UpdateDomainContactPrivacyResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"DuplicateRequest"},
        {"shape":"TLDRulesViolation"},
        {"shape":"OperationLimitExceeded"},
        {"shape":"UnsupportedTLD"}
      ],
      "documentation":"<p>This operation updates the specified domain contact's privacy setting. When privacy protection is enabled, your contact information is replaced with contact information for the registrar or with the phrase \"REDACTED FOR PRIVACY\", or \"On behalf of &lt;domain name&gt; owner.\"</p> <note> <p>While some domains may allow different privacy settings per contact, we recommend specifying the same privacy setting for all contacts.</p> </note> <p>This operation affects only the contact information for the specified contact type (administrative, registrant, or technical). If the request succeeds, Amazon Route 53 returns an operation ID that you can use with <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_GetOperationDetail.html\">GetOperationDetail</a> to track the progress and completion of the action. If the request doesn't complete successfully, the domain registrant will be notified by email.</p> <important> <p>By disabling the privacy service via API, you consent to the publication of the contact information provided for this domain via the public WHOIS database. You certify that you are the registrant of this domain name and have the authority to make this decision. You may withdraw your consent at any time by enabling privacy protection using either <code>UpdateDomainContactPrivacy</code> or the Route 53 console. Enabling privacy protection removes the contact information provided for this domain from the WHOIS database. For more information on our privacy practices, see <a href=\"https://aws.amazon.com/privacy/\">https://aws.amazon.com/privacy/</a>.</p> </important>"
    },
    "UpdateDomainNameservers":{
      "name":"UpdateDomainNameservers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDomainNameserversRequest"},
      "output":{"shape":"UpdateDomainNameserversResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"DuplicateRequest"},
        {"shape":"TLDRulesViolation"},
        {"shape":"OperationLimitExceeded"},
        {"shape":"UnsupportedTLD"}
      ],
      "documentation":"<p>This operation replaces the current set of name servers for the domain with the specified set of name servers. If you use Amazon Route 53 as your DNS service, specify the four name servers in the delegation set for the hosted zone for the domain.</p> <p>If successful, this operation returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.</p>"
    },
    "UpdateTagsForDomain":{
      "name":"UpdateTagsForDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateTagsForDomainRequest"},
      "output":{"shape":"UpdateTagsForDomainResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"OperationLimitExceeded"},
        {"shape":"UnsupportedTLD"}
      ],
      "documentation":"<p>This operation adds or updates tags for a specified domain.</p> <p>All tag operations are eventually consistent; subsequent operations might not immediately represent all issued operations.</p>"
    },
    "ViewBilling":{
      "name":"ViewBilling",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ViewBillingRequest"},
      "output":{"shape":"ViewBillingResponse"},
      "errors":[
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Returns all the domain-related billing records for the current Amazon Web Services account for a specified period</p>"
    }
  },
  "shapes":{
    "AcceptDomainTransferFromAnotherAwsAccountRequest":{
      "type":"structure",
      "required":[
        "DomainName",
        "Password"
      ],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of the domain that was specified when another Amazon Web Services account submitted a <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_TransferDomainToAnotherAwsAccount.html\">TransferDomainToAnotherAwsAccount</a> request. </p>"
        },
        "Password":{
          "shape":"Password",
          "documentation":"<p>The password that was returned by the <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_TransferDomainToAnotherAwsAccount.html\">TransferDomainToAnotherAwsAccount</a> request. </p>"
        }
      },
      "documentation":"<p>The AcceptDomainTransferFromAnotherAwsAccount request includes the following elements.</p>"
    },
    "AcceptDomainTransferFromAnotherAwsAccountResponse":{
      "type":"structure",
      "members":{
        "OperationId":{
          "shape":"OperationId",
          "documentation":"<p>Identifier for tracking the progress of the request. To query the operation status, use <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_GetOperationDetail.html\">GetOperationDetail</a>.</p>"
        }
      },
      "documentation":"<p>The AcceptDomainTransferFromAnotherAwsAccount response includes the following element.</p>"
    },
    "AccountId":{
      "type":"string",
      "max":12,
      "min":12,
      "pattern":"^(\\d{12})$"
    },
    "AddressLine":{
      "type":"string",
      "max":255,
      "sensitive":true
    },
    "AssociateDelegationSignerToDomainRequest":{
      "type":"structure",
      "required":[
        "DomainName",
        "SigningAttributes"
      ],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of the domain.</p>"
        },
        "SigningAttributes":{
          "shape":"DnssecSigningAttributes",
          "documentation":"<p>The information about a key, including the algorithm, public key-value, and flags.</p>"
        }
      }
    },
    "AssociateDelegationSignerToDomainResponse":{
      "type":"structure",
      "members":{
        "OperationId":{
          "shape":"OperationId",
          "documentation":"<p>The identifier for tracking the progress of the request. To query the operation status, use <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_GetOperationDetail.html\">GetOperationDetail</a>.</p>"
        }
      }
    },
    "BillingRecord":{
      "type":"structure",
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of the domain that the billing record applies to. If the domain name contains characters other than a-z, 0-9, and - (hyphen), such as an internationalized domain name, then this value is in Punycode. For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html\">DNS Domain Name Format</a> in the <i>Amazon Route 53 Developer Guide</i>.</p>"
        },
        "Operation":{
          "shape":"OperationType",
          "documentation":"<p>The operation that you were charged for.</p>"
        },
        "InvoiceId":{
          "shape":"InvoiceId",
          "documentation":"<p>Deprecated property. This field is retained in report structure for backwards compatibility, but will appear blank.</p>"
        },
        "BillDate":{
          "shape":"Timestamp",
          "documentation":"<p>The date that the operation was billed, in Unix format.</p>"
        },
        "Price":{
          "shape":"Price",
          "documentation":"<p>The price that you were charged for the operation, in US dollars.</p> <p>Example value: 12.0</p>"
        }
      },
      "documentation":"<p>Information for one billing record.</p>"
    },
    "BillingRecords":{
      "type":"list",
      "member":{"shape":"BillingRecord"}
    },
    "Boolean":{"type":"boolean"},
    "CancelDomainTransferToAnotherAwsAccountRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of the domain for which you want to cancel the transfer to another Amazon Web Services account.</p>"
        }
      },
      "documentation":"<p>The CancelDomainTransferToAnotherAwsAccount request includes the following element.</p>"
    },
    "CancelDomainTransferToAnotherAwsAccountResponse":{
      "type":"structure",
      "members":{
        "OperationId":{
          "shape":"OperationId",
          "documentation":"<p>The identifier that <code>TransferDomainToAnotherAwsAccount</code> returned to track the progress of the request. Because the transfer request was canceled, the value is no longer valid, and you can't use <code>GetOperationDetail</code> to query the operation status.</p>"
        }
      },
      "documentation":"<p>The <code>CancelDomainTransferToAnotherAwsAccount</code> response includes the following element.</p>"
    },
    "CheckDomainAvailabilityRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of the domain that you want to get availability for. The top-level domain (TLD), such as .com, must be a TLD that Route 53 supports. For a list of supported TLDs, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/registrar-tld-list.html\">Domains that You Can Register with Amazon Route 53</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> <p>The domain name can contain only the following characters:</p> <ul> <li> <p>Letters a through z. Domain names are not case sensitive.</p> </li> <li> <p>Numbers 0 through 9.</p> </li> <li> <p>Hyphen (-). You can't specify a hyphen at the beginning or end of a label. </p> </li> <li> <p>Period (.) to separate the labels in the name, such as the <code>.</code> in <code>example.com</code>.</p> </li> </ul> <p>Internationalized domain names are not supported for some top-level domains. To determine whether the TLD that you want to use supports internationalized domain names, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/registrar-tld-list.html\">Domains that You Can Register with Amazon Route 53</a>. For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html#domain-name-format-idns\">Formatting Internationalized Domain Names</a>. </p>"
        },
        "IdnLangCode":{
          "shape":"LangCode",
          "documentation":"<p>Reserved for future use.</p>"
        }
      },
      "documentation":"<p>The CheckDomainAvailability request contains the following elements.</p>"
    },
    "CheckDomainAvailabilityResponse":{
      "type":"structure",
      "members":{
        "Availability":{
          "shape":"DomainAvailability",
          "documentation":"<p>Whether the domain name is available for registering.</p> <note> <p>You can register only domains designated as <code>AVAILABLE</code>.</p> </note> <p>Valid values:</p> <dl> <dt>AVAILABLE</dt> <dd> <p>The domain name is available.</p> </dd> <dt>AVAILABLE_RESERVED</dt> <dd> <p>The domain name is reserved under specific conditions.</p> </dd> <dt>AVAILABLE_PREORDER</dt> <dd> <p>The domain name is available and can be preordered.</p> </dd> <dt>DONT_KNOW</dt> <dd> <p>The TLD registry didn't reply with a definitive answer about whether the domain name is available. Route 53 can return this response for a variety of reasons, for example, the registry is performing maintenance. Try again later.</p> </dd> <dt>INVALID_NAME_FOR_TLD</dt> <dd> <p>The TLD isn't valid. For example, it can contain characters that aren't allowed.</p> </dd> <dt>PENDING</dt> <dd> <p>The TLD registry didn't return a response in the expected amount of time. When the response is delayed, it usually takes just a few extra seconds. You can resubmit the request immediately.</p> </dd> <dt>RESERVED</dt> <dd> <p>The domain name has been reserved for another person or organization.</p> </dd> <dt>UNAVAILABLE</dt> <dd> <p>The domain name is not available.</p> </dd> <dt>UNAVAILABLE_PREMIUM</dt> <dd> <p>The domain name is not available.</p> </dd> <dt>UNAVAILABLE_RESTRICTED</dt> <dd> <p>The domain name is forbidden.</p> </dd> </dl>"
        }
      },
      "documentation":"<p>The CheckDomainAvailability response includes the following elements.</p>"
    },
    "CheckDomainTransferabilityRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of the domain that you want to transfer to Route 53. The top-level domain (TLD), such as .com, must be a TLD that Route 53 supports. For a list of supported TLDs, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/registrar-tld-list.html\">Domains that You Can Register with Amazon Route 53</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> <p>The domain name can contain only the following characters:</p> <ul> <li> <p>Letters a through z. Domain names are not case sensitive.</p> </li> <li> <p>Numbers 0 through 9.</p> </li> <li> <p>Hyphen (-). You can't specify a hyphen at the beginning or end of a label. </p> </li> <li> <p>Period (.) to separate the labels in the name, such as the <code>.</code> in <code>example.com</code>.</p> </li> </ul>"
        },
        "AuthCode":{
          "shape":"DomainAuthCode",
          "documentation":"<p>If the registrar for the top-level domain (TLD) requires an authorization code to transfer the domain, the code that you got from the current registrar for the domain.</p>"
        }
      },
      "documentation":"<p>The CheckDomainTransferability request contains the following elements.</p>"
    },
    "CheckDomainTransferabilityResponse":{
      "type":"structure",
      "members":{
        "Transferability":{
          "shape":"DomainTransferability",
          "documentation":"<p>A complex type that contains information about whether the specified domain can be transferred to Route 53.</p>"
        },
        "Message":{
          "shape":"Message",
          "documentation":"<p>Provides an explanation for when a domain can't be transferred.</p>"
        }
      },
      "documentation":"<p>The CheckDomainTransferability response includes the following elements.</p>"
    },
    "City":{
      "type":"string",
      "max":255,
      "sensitive":true
    },
    "Consent":{
      "type":"structure",
      "required":[
        "MaxPrice",
        "Currency"
      ],
      "members":{
        "MaxPrice":{
          "shape":"Price",
          "documentation":"<p> Maximum amount the customer agreed to accept. </p>"
        },
        "Currency":{
          "shape":"Currency",
          "documentation":"<p> Currency for the <code>MaxPrice</code>. </p>"
        }
      },
      "documentation":"<p> Customer's consent for the owner change request. </p>"
    },
    "ContactDetail":{
      "type":"structure",
      "members":{
        "FirstName":{
          "shape":"ContactName",
          "documentation":"<p>First name of contact.</p>"
        },
        "LastName":{
          "shape":"ContactName",
          "documentation":"<p>Last name of contact.</p>"
        },
        "ContactType":{
          "shape":"ContactType",
          "documentation":"<p>Indicates whether the contact is a person, company, association, or public organization. Note the following:</p> <ul> <li> <p>If you specify a value other than <code>PERSON</code>, you must also specify a value for <code>OrganizationName</code>.</p> </li> <li> <p>For some TLDs, the privacy protection available depends on the value that you specify for <code>Contact Type</code>. For the privacy protection settings for your TLD, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/registrar-tld-list.html\">Domains that You Can Register with Amazon Route 53</a> in the <i>Amazon Route 53 Developer Guide</i> </p> </li> <li> <p>For .es domains, the value of <code>ContactType</code> must be <code>PERSON</code> for all three contacts.</p> </li> </ul>"
        },
        "OrganizationName":{
          "shape":"ContactName",
          "documentation":"<p>Name of the organization for contact types other than <code>PERSON</code>.</p>"
        },
        "AddressLine1":{
          "shape":"AddressLine",
          "documentation":"<p>First line of the contact's address.</p>"
        },
        "AddressLine2":{
          "shape":"AddressLine",
          "documentation":"<p>Second line of contact's address, if any.</p>"
        },
        "City":{
          "shape":"City",
          "documentation":"<p>The city of the contact's address.</p>"
        },
        "State":{
          "shape":"State",
          "documentation":"<p>The state or province of the contact's city.</p>"
        },
        "CountryCode":{
          "shape":"CountryCode",
          "documentation":"<p>Code for the country of the contact's address.</p>"
        },
        "ZipCode":{
          "shape":"ZipCode",
          "documentation":"<p>The zip or postal code of the contact's address.</p>"
        },
        "PhoneNumber":{
          "shape":"ContactNumber",
          "documentation":"<p>The phone number of the contact.</p> <p>Constraints: Phone number must be specified in the format \"+[country dialing code].[number including any area code&gt;]\". For example, a US phone number might appear as <code>\"+1.1234567890\"</code>.</p>"
        },
        "Email":{
          "shape":"Email",
          "documentation":"<p>Email address of the contact.</p>"
        },
        "Fax":{
          "shape":"ContactNumber",
          "documentation":"<p>Fax number of the contact.</p> <p>Constraints: Phone number must be specified in the format \"+[country dialing code].[number including any area code]\". For example, a US phone number might appear as <code>\"+1.1234567890\"</code>.</p>"
        },
        "ExtraParams":{
          "shape":"ExtraParamList",
          "documentation":"<p>A list of name-value pairs for parameters required by certain top-level domains.</p>"
        }
      },
      "documentation":"<p>ContactDetail includes the following elements.</p>",
      "sensitive":true
    },
    "ContactName":{
      "type":"string",
      "max":255,
      "sensitive":true
    },
    "ContactNumber":{
      "type":"string",
      "max":30,
      "sensitive":true
    },
    "ContactType":{
      "type":"string",
      "enum":[
        "PERSON",
        "COMPANY",
        "ASSOCIATION",
        "PUBLIC_BODY",
        "RESELLER"
      ]
    },
    "CountryCode":{
      "type":"string",
      "enum":[
        "AC",
        "AD",
        "AE",
        "AF",
        "AG",
        "AI",
        "AL",
        "AM",
        "AN",
        "AO",
        "AQ",
        "AR",
        "AS",
        "AT",
        "AU",
        "AW",
        "AX",
        "AZ",
        "BA",
        "BB",
        "BD",
        "BE",
        "BF",
        "BG",
        "BH",
        "BI",
        "BJ",
        "BL",
        "BM",
        "BN",
        "BO",
        "BQ",
        "BR",
        "BS",
        "BT",
        "BV",
        "BW",
        "BY",
        "BZ",
        "CA",
        "CC",
        "CD",
        "CF",
        "CG",
        "CH",
        "CI",
        "CK",
        "CL",
        "CM",
        "CN",
        "CO",
        "CR",
        "CU",
        "CV",
        "CW",
        "CX",
        "CY",
        "CZ",
        "DE",
        "DJ",
        "DK",
        "DM",
        "DO",
        "DZ",
        "EC",
        "EE",
        "EG",
        "EH",
        "ER",
        "ES",
        "ET",
        "FI",
        "FJ",
        "FK",
        "FM",
        "FO",
        "FR",
        "GA",
        "GB",
        "GD",
        "GE",
        "GF",
        "GG",
        "GH",
        "GI",
        "GL",
        "GM",
        "GN",
        "GP",
        "GQ",
        "GR",
        "GS",
        "GT",
        "GU",
        "GW",
        "GY",
        "HK",
        "HM",
        "HN",
        "HR",
        "HT",
        "HU",
        "ID",
        "IE",
        "IL",
        "IM",
        "IN",
        "IO",
        "IQ",
        "IR",
        "IS",
        "IT",
        "JE",
        "JM",
        "JO",
        "JP",
        "KE",
        "KG",
        "KH",
        "KI",
        "KM",
        "KN",
        "KP",
        "KR",
        "KW",
        "KY",
        "KZ",
        "LA",
        "LB",
        "LC",
        "LI",
        "LK",
        "LR",
        "LS",
        "LT",
        "LU",
        "LV",
        "LY",
        "MA",
        "MC",
        "MD",
        "ME",
        "MF",
        "MG",
        "MH",
        "MK",
        "ML",
        "MM",
        "MN",
        "MO",
        "MP",
        "MQ",
        "MR",
        "MS",
        "MT",
        "MU",
        "MV",
        "MW",
        "MX",
        "MY",
        "MZ",
        "NA",
        "NC",
        "NE",
        "NF",
        "NG",
        "NI",
        "NL",
        "NO",
        "NP",
        "NR",
        "NU",
        "NZ",
        "OM",
        "PA",
        "PE",
        "PF",
        "PG",
        "PH",
        "PK",
        "PL",
        "PM",
        "PN",
        "PR",
        "PS",
        "PT",
        "PW",
        "PY",
        "QA",
        "RE",
        "RO",
        "RS",
        "RU",
        "RW",
        "SA",
        "SB",
        "SC",
        "SD",
        "SE",
        "SG",
        "SH",
        "SI",
        "SJ",
        "SK",
        "SL",
        "SM",
        "SN",
        "SO",
        "SR",
        "SS",
        "ST",
        "SV",
        "SX",
        "SY",
        "SZ",
        "TC",
        "TD",
        "TF",
        "TG",
        "TH",
        "TJ",
        "TK",
        "TL",
        "TM",
        "TN",
        "TO",
        "TP",
        "TR",
        "TT",
        "TV",
        "TW",
        "TZ",
        "UA",
        "UG",
        "US",
        "UY",
        "UZ",
        "VA",
        "VC",
        "VE",
        "VG",
        "VI",
        "VN",
        "VU",
        "WF",
        "WS",
        "YE",
        "YT",
        "ZA",
        "ZM",
        "ZW"
      ],
      "sensitive":true
    },
    "Currency":{
      "type":"string",
      "max":3,
      "min":3
    },
    "CurrentExpiryYear":{"type":"integer"},
    "DNSSec":{"type":"string"},
    "DeleteDomainRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>Name of the domain to be deleted.</p>"
        }
      }
    },
    "DeleteDomainResponse":{
      "type":"structure",
      "members":{
        "OperationId":{
          "shape":"OperationId",
          "documentation":"<p>Identifier for tracking the progress of the request. To query the operation status, use <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_GetOperationDetail.html\">GetOperationDetail</a>.</p>"
        }
      }
    },
    "DeleteTagsForDomainRequest":{
      "type":"structure",
      "required":[
        "DomainName",
        "TagsToDelete"
      ],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The domain for which you want to delete one or more tags.</p>"
        },
        "TagsToDelete":{
          "shape":"TagKeyList",
          "documentation":"<p>A list of tag keys to delete.</p>"
        }
      },
      "documentation":"<p>The DeleteTagsForDomainRequest includes the following elements.</p>"
    },
    "DeleteTagsForDomainResponse":{
      "type":"structure",
      "members":{}
    },
    "DisableDomainAutoRenewRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of the domain that you want to disable automatic renewal for.</p>"
        }
      }
    },
    "DisableDomainAutoRenewResponse":{
      "type":"structure",
      "members":{}
    },
    "DisableDomainTransferLockRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of the domain that you want to remove the transfer lock for.</p>"
        }
      },
      "documentation":"<p>The DisableDomainTransferLock request includes the following element.</p>"
    },
    "DisableDomainTransferLockResponse":{
      "type":"structure",
      "members":{
        "OperationId":{
          "shape":"OperationId",
          "documentation":"<p>Identifier for tracking the progress of the request. To query the operation status, use <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_GetOperationDetail.html\">GetOperationDetail</a>.</p>"
        }
      },
      "documentation":"<p>The DisableDomainTransferLock response includes the following element.</p>"
    },
    "DisassociateDelegationSignerFromDomainRequest":{
      "type":"structure",
      "required":[
        "DomainName",
        "Id"
      ],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>Name of the domain.</p>"
        },
        "Id":{
          "shape":"String",
          "documentation":"<p>An internal identification number assigned to each DS record after it’s created. You can retrieve it as part of DNSSEC information returned by <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_GetDomainDetail.html\">GetDomainDetail</a>.</p>"
        }
      }
    },
    "DisassociateDelegationSignerFromDomainResponse":{
      "type":"structure",
      "members":{
        "OperationId":{
          "shape":"OperationId",
          "documentation":"<p>Identifier for tracking the progress of the request. To query the operation status, use <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_GetOperationDetail.html\">GetOperationDetail</a>.</p>"
        }
      }
    },
    "DnssecKey":{
      "type":"structure",
      "members":{
        "Algorithm":{
          "shape":"NullableInteger",
          "documentation":"<p>The number of the public key’s cryptographic algorithm according to an <a href=\"https://www.iana.org/assignments/dns-sec-alg-numbers/dns-sec-alg-numbers.xml\">IANA</a> assignment. </p> <p>If Route 53 is your DNS service, set this to 13.</p> <p>For more information about enabling DNSSEC signing, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-configuring-dnssec-enable-signing.html\">Enabling DNSSEC signing and establishing a chain of trust</a>.</p>"
        },
        "Flags":{
          "shape":"NullableInteger",
          "documentation":"<p>Defines the type of key. It can be either a KSK (key-signing-key, value 257) or ZSK (zone-signing-key, value 256). Using KSK is always encouraged. Only use ZSK if your DNS provider isn't Route 53 and you don’t have KSK available.</p> <p>If you have KSK and ZSK keys, always use KSK to create a delegations signer (DS) record. If you have ZSK keys only – use ZSK to create a DS record.</p>"
        },
        "PublicKey":{
          "shape":"DnssecPublicKey",
          "documentation":"<p>The base64-encoded public key part of the key pair that is passed to the registry .</p>"
        },
        "DigestType":{
          "shape":"NullableInteger",
          "documentation":"<p> The number of the DS digest algorithm according to an IANA assignment.</p> <p>For more information, see <a href=\"https://www.iana.org/assignments/ds-rr-types/ds-rr-types.xhtml\">IANA</a> for DNSSEC Delegation Signer (DS) Resource Record (RR) Type Digest Algorithms. </p>"
        },
        "Digest":{
          "shape":"String",
          "documentation":"<p> The delegation signer digest.</p> <p>Digest is calculated from the public key provided using specified digest algorithm and this digest is the actual value returned from the registry nameservers as the value of DS records. </p>"
        },
        "KeyTag":{
          "shape":"NullableInteger",
          "documentation":"<p> A numeric identification of the DNSKEY record referred to by this DS record. </p>"
        },
        "Id":{
          "shape":"String",
          "documentation":"<p> An ID assigned to each DS record created by <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_AssociateDelegationSignerToDomain.html\">AssociateDelegationSignerToDomain</a>. </p>"
        }
      },
      "documentation":"<p>Information about the DNSSEC key.</p> <p>You get this from your DNS provider and then give it to Route 53 (by using <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_AssociateDelegationSignerToDomain.html\">AssociateDelegationSignerToDomain</a>) to pass it to the registry to establish the chain of trust.</p>"
    },
    "DnssecKeyList":{
      "type":"list",
      "member":{"shape":"DnssecKey"}
    },
    "DnssecLimitExceeded":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p> This error is returned if you call <code>AssociateDelegationSignerToDomain</code> when the specified domain has reached the maximum number of DS records. You can't add any additional DS records unless you delete an existing one first. </p>",
      "exception":true
    },
    "DnssecPublicKey":{
      "type":"string",
      "max":32768
    },
    "DnssecSigningAttributes":{
      "type":"structure",
      "members":{
        "Algorithm":{
          "shape":"NullableInteger",
          "documentation":"<p> Algorithm which was used to generate the digest from the public key. </p>"
        },
        "Flags":{
          "shape":"NullableInteger",
          "documentation":"<p>Defines the type of key. It can be either a KSK (key-signing-key, value 257) or ZSK (zone-signing-key, value 256). Using KSK is always encouraged. Only use ZSK if your DNS provider isn't Route 53 and you don’t have KSK available.</p> <p>If you have KSK and ZSK keys, always use KSK to create a delegations signer (DS) record. If you have ZSK keys only – use ZSK to create a DS record.</p>"
        },
        "PublicKey":{
          "shape":"DnssecPublicKey",
          "documentation":"<p> The base64-encoded public key part of the key pair that is passed to the registry. </p>"
        }
      },
      "documentation":"<p>Information about a delegation signer (DS) record that was created in the registry by <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_AssociateDelegationSignerToDomain.html\">AssociateDelegationSignerToDomain</a>. </p>"
    },
    "DomainAuthCode":{
      "type":"string",
      "max":1024,
      "sensitive":true
    },
    "DomainAvailability":{
      "type":"string",
      "enum":[
        "AVAILABLE",
        "AVAILABLE_RESERVED",
        "AVAILABLE_PREORDER",
        "UNAVAILABLE",
        "UNAVAILABLE_PREMIUM",
        "UNAVAILABLE_RESTRICTED",
        "RESERVED",
        "DONT_KNOW",
        "INVALID_NAME_FOR_TLD",
        "PENDING"
      ]
    },
    "DomainLimitExceeded":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"ErrorMessage",
          "documentation":"<p>The number of domains has exceeded the allowed threshold for the account.</p>"
        }
      },
      "documentation":"<p>The number of domains has exceeded the allowed threshold for the account.</p>",
      "exception":true
    },
    "DomainName":{
      "type":"string",
      "max":255
    },
    "DomainPrice":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"DomainPriceName",
          "documentation":"<p>The name of the TLD for which the prices apply.</p>"
        },
        "RegistrationPrice":{
          "shape":"PriceWithCurrency",
          "documentation":"<p>The price for domain registration with Route 53.</p>"
        },
        "TransferPrice":{
          "shape":"PriceWithCurrency",
          "documentation":"<p>The price for transferring the domain registration to Route 53.</p>"
        },
        "RenewalPrice":{
          "shape":"PriceWithCurrency",
          "documentation":"<p>The price for renewing domain registration with Route 53.</p>"
        },
        "ChangeOwnershipPrice":{
          "shape":"PriceWithCurrency",
          "documentation":"<p>The price for changing domain ownership.</p>"
        },
        "RestorationPrice":{
          "shape":"PriceWithCurrency",
          "documentation":"<p>The price for restoring the domain with Route 53.</p>"
        }
      },
      "documentation":"<p>Information about the domain price associated with a TLD.</p>"
    },
    "DomainPriceList":{
      "type":"list",
      "member":{"shape":"DomainPrice"}
    },
    "DomainPriceName":{
      "type":"string",
      "max":255,
      "min":1
    },
    "DomainStatus":{"type":"string"},
    "DomainStatusList":{
      "type":"list",
      "member":{"shape":"DomainStatus"}
    },
    "DomainSuggestion":{
      "type":"structure",
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>A suggested domain name.</p>"
        },
        "Availability":{
          "shape":"String",
          "documentation":"<p>Whether the domain name is available for registering.</p> <note> <p>You can register only the domains that are designated as <code>AVAILABLE</code>.</p> </note> <p>Valid values:</p> <dl> <dt>AVAILABLE</dt> <dd> <p>The domain name is available.</p> </dd> <dt>AVAILABLE_RESERVED</dt> <dd> <p>The domain name is reserved under specific conditions.</p> </dd> <dt>AVAILABLE_PREORDER</dt> <dd> <p>The domain name is available and can be preordered.</p> </dd> <dt>DONT_KNOW</dt> <dd> <p>The TLD registry didn't reply with a definitive answer about whether the domain name is available. Route 53 can return this response for a variety of reasons, for example, the registry is performing maintenance. Try again later.</p> </dd> <dt>PENDING</dt> <dd> <p>The TLD registry didn't return a response in the expected amount of time. When the response is delayed, it usually takes just a few extra seconds. You can resubmit the request immediately.</p> </dd> <dt>RESERVED</dt> <dd> <p>The domain name has been reserved for another person or organization.</p> </dd> <dt>UNAVAILABLE</dt> <dd> <p>The domain name is not available.</p> </dd> <dt>UNAVAILABLE_PREMIUM</dt> <dd> <p>The domain name is not available.</p> </dd> <dt>UNAVAILABLE_RESTRICTED</dt> <dd> <p>The domain name is forbidden.</p> </dd> </dl>"
        }
      },
      "documentation":"<p>Information about one suggested domain name.</p>"
    },
    "DomainSuggestionsList":{
      "type":"list",
      "member":{"shape":"DomainSuggestion"}
    },
    "DomainSummary":{
      "type":"structure",
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of the domain that the summary information applies to.</p>"
        },
        "AutoRenew":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the domain is automatically renewed upon expiration.</p>"
        },
        "TransferLock":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether a domain is locked from unauthorized transfer to another party.</p>"
        },
        "Expiry":{
          "shape":"Timestamp",
          "documentation":"<p>Expiration date of the domain in Unix time format and Coordinated Universal Time (UTC).</p>"
        }
      },
      "documentation":"<p>Summary information about one domain.</p>"
    },
    "DomainSummaryList":{
      "type":"list",
      "member":{"shape":"DomainSummary"}
    },
    "DomainTransferability":{
      "type":"structure",
      "members":{
        "Transferable":{"shape":"Transferable"}
      },
      "documentation":"<p>A complex type that contains information about whether the specified domain can be transferred to Route 53.</p>"
    },
    "DuplicateRequest":{
      "type":"structure",
      "members":{
        "requestId":{
          "shape":"RequestId",
          "documentation":"<p>ID of the request operation.</p>"
        },
        "message":{
          "shape":"ErrorMessage",
          "documentation":"<p>The request is already in progress for the domain.</p>"
        }
      },
      "documentation":"<p>The request is already in progress for the domain.</p>",
      "exception":true
    },
    "DurationInYears":{
      "type":"integer",
      "max":10,
      "min":1
    },
    "Email":{
      "type":"string",
      "max":254,
      "sensitive":true
    },
    "EnableDomainAutoRenewRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of the domain that you want to enable automatic renewal for.</p>"
        }
      }
    },
    "EnableDomainAutoRenewResponse":{
      "type":"structure",
      "members":{}
    },
    "EnableDomainTransferLockRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of the domain that you want to set the transfer lock for.</p>"
        }
      },
      "documentation":"<p>A request to set the transfer lock for the specified domain.</p>"
    },
    "EnableDomainTransferLockResponse":{
      "type":"structure",
      "members":{
        "OperationId":{
          "shape":"OperationId",
          "documentation":"<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p>"
        }
      },
      "documentation":"<p>The EnableDomainTransferLock response includes the following elements.</p>"
    },
    "ErrorMessage":{"type":"string"},
    "ExtraParam":{
      "type":"structure",
      "required":[
        "Name",
        "Value"
      ],
      "members":{
        "Name":{
          "shape":"ExtraParamName",
          "documentation":"<p>The name of an additional parameter that is required by a top-level domain. Here are the top-level domains that require additional parameters and the names of the parameters that they require:</p> <dl> <dt>.com.au and .net.au</dt> <dd> <ul> <li> <p> <code>AU_ID_NUMBER</code> </p> </li> <li> <p> <code>AU_ID_TYPE</code> </p> <p>Valid values include the following:</p> <ul> <li> <p> <code>ABN</code> (Australian business number)</p> </li> <li> <p> <code>ACN</code> (Australian company number)</p> </li> <li> <p> <code>TM</code> (Trademark number)</p> </li> </ul> </li> </ul> </dd> <dt>.ca</dt> <dd> <ul> <li> <p> <code>BRAND_NUMBER</code> </p> </li> <li> <p> <code>CA_BUSINESS_ENTITY_TYPE</code> </p> <p>Valid values include the following:</p> <ul> <li> <p> <code>BANK</code> (Bank)</p> </li> <li> <p> <code>COMMERCIAL_COMPANY</code> (Commercial company)</p> </li> <li> <p> <code>COMPANY</code> (Company)</p> </li> <li> <p> <code>COOPERATION</code> (Cooperation)</p> </li> <li> <p> <code>COOPERATIVE</code> (Cooperative)</p> </li> <li> <p> <code>COOPRIX</code> (Cooprix)</p> </li> <li> <p> <code>CORP</code> (Corporation)</p> </li> <li> <p> <code>CREDIT_UNION</code> (Credit union)</p> </li> <li> <p> <code>FOMIA</code> (Federation of mutual insurance associations)</p> </li> <li> <p> <code>INC</code> (Incorporated)</p> </li> <li> <p> <code>LTD</code> (Limited)</p> </li> <li> <p> <code>LTEE</code> (Limitée)</p> </li> <li> <p> <code>LLC</code> (Limited liability corporation)</p> </li> <li> <p> <code>LLP</code> (Limited liability partnership)</p> </li> <li> <p> <code>LTE</code> (Lte.)</p> </li> <li> <p> <code>MBA</code> (Mutual benefit association)</p> </li> <li> <p> <code>MIC</code> (Mutual insurance company)</p> </li> <li> <p> <code>NFP</code> (Not-for-profit corporation)</p> </li> <li> <p> <code>SA</code> (S.A.)</p> </li> <li> <p> <code>SAVINGS_COMPANY</code> (Savings company)</p> </li> <li> <p> <code>SAVINGS_UNION</code> (Savings union)</p> </li> <li> <p> <code>SARL</code> (Société à responsabilité limitée)</p> </li> <li> <p> <code>TRUST</code> (Trust)</p> </li> <li> <p> <code>ULC</code> (Unlimited liability corporation)</p> </li> </ul> </li> <li> <p> <code>CA_LEGAL_TYPE</code> </p> <p>When <code>ContactType</code> is <code>PERSON</code>, valid values include the following:</p> <ul> <li> <p> <code>ABO</code> (Aboriginal Peoples indigenous to Canada)</p> </li> <li> <p> <code>CCT</code> (Canadian citizen)</p> </li> <li> <p> <code>LGR</code> (Legal Representative of a Canadian Citizen or Permanent Resident)</p> </li> <li> <p> <code>RES</code> (Permanent resident of Canada)</p> </li> </ul> <p>When <code>ContactType</code> is a value other than <code>PERSON</code>, valid values include the following:</p> <ul> <li> <p> <code>ASS</code> (Canadian unincorporated association)</p> </li> <li> <p> <code>CCO</code> (Canadian corporation)</p> </li> <li> <p> <code>EDU</code> (Canadian educational institution)</p> </li> <li> <p> <code>GOV</code> (Government or government entity in Canada)</p> </li> <li> <p> <code>HOP</code> (Canadian Hospital)</p> </li> <li> <p> <code>INB</code> (Indian Band recognized by the Indian Act of Canada)</p> </li> <li> <p> <code>LAM</code> (Canadian Library, Archive, or Museum)</p> </li> <li> <p> <code>MAJ</code> (Her/His Majesty the Queen/King)</p> </li> <li> <p> <code>OMK</code> (Official mark registered in Canada)</p> </li> <li> <p> <code>PLT</code> (Canadian Political Party)</p> </li> <li> <p> <code>PRT</code> (Partnership Registered in Canada)</p> </li> <li> <p> <code>TDM</code> (Trademark registered in Canada)</p> </li> <li> <p> <code>TRD</code> (Canadian Trade Union)</p> </li> <li> <p> <code>TRS</code> (Trust established in Canada)</p> </li> </ul> </li> </ul> </dd> <dt>.es</dt> <dd> <ul> <li> <p> <code>ES_IDENTIFICATION</code> </p> <p>The value of <code>ES_IDENTIFICATION</code> depends on the following values:</p> <ul> <li> <p>The value of <code>ES_LEGAL_FORM</code> </p> </li> <li> <p>The value of <code>ES_IDENTIFICATION_TYPE</code> </p> </li> </ul> <p> <b>If <code>ES_LEGAL_FORM</code> is any value other than <code>INDIVIDUAL</code>:</b> </p> <ul> <li> <p>Specify 1 letter + 8 numbers (CIF [Certificado de Identificación Fiscal])</p> </li> <li> <p>Example: B12345678</p> </li> </ul> <p> <b>If <code>ES_LEGAL_FORM</code> is <code>INDIVIDUAL</code>, the value that you specify for <code>ES_IDENTIFICATION</code> depends on the value of <code>ES_IDENTIFICATION_TYPE</code>:</b> </p> <ul> <li> <p>If <code>ES_IDENTIFICATION_TYPE</code> is <code>DNI_AND_NIF</code> (for Spanish contacts):</p> <ul> <li> <p>Specify 8 numbers + 1 letter (DNI [Documento Nacional de Identidad], NIF [Número de Identificación Fiscal])</p> </li> <li> <p>Example: 12345678M</p> </li> </ul> </li> <li> <p>If <code>ES_IDENTIFICATION_TYPE</code> is <code>NIE</code> (for foreigners with legal residence):</p> <ul> <li> <p>Specify 1 letter + 7 numbers + 1 letter ( NIE [Número de Identidad de Extranjero])</p> </li> <li> <p>Example: Y1234567X</p> </li> </ul> </li> <li> <p>If <code>ES_IDENTIFICATION_TYPE</code> is <code>OTHER</code> (for contacts outside of Spain):</p> <ul> <li> <p>Specify a passport number, drivers license number, or national identity card number</p> </li> </ul> </li> </ul> </li> <li> <p> <code>ES_IDENTIFICATION_TYPE</code> </p> <p>Valid values include the following:</p> <ul> <li> <p> <code>DNI_AND_NIF</code> (For Spanish contacts)</p> </li> <li> <p> <code>NIE</code> (For foreigners with legal residence)</p> </li> <li> <p> <code>OTHER</code> (For contacts outside of Spain)</p> </li> </ul> </li> <li> <p> <code>ES_LEGAL_FORM</code> </p> <p>Valid values include the following:</p> <ul> <li> <p> <code>ASSOCIATION</code> </p> </li> <li> <p> <code>CENTRAL_GOVERNMENT_BODY</code> </p> </li> <li> <p> <code>CIVIL_SOCIETY</code> </p> </li> <li> <p> <code>COMMUNITY_OF_OWNERS</code> </p> </li> <li> <p> <code>COMMUNITY_PROPERTY</code> </p> </li> <li> <p> <code>CONSULATE</code> </p> </li> <li> <p> <code>COOPERATIVE</code> </p> </li> <li> <p> <code>DESIGNATION_OF_ORIGIN_SUPERVISORY_COUNCIL</code> </p> </li> <li> <p> <code>ECONOMIC_INTEREST_GROUP</code> </p> </li> <li> <p> <code>EMBASSY</code> </p> </li> <li> <p> <code>ENTITY_MANAGING_NATURAL_AREAS</code> </p> </li> <li> <p> <code>FARM_PARTNERSHIP</code> </p> </li> <li> <p> <code>FOUNDATION</code> </p> </li> <li> <p> <code>GENERAL_AND_LIMITED_PARTNERSHIP</code> </p> </li> <li> <p> <code>GENERAL_PARTNERSHIP</code> </p> </li> <li> <p> <code>INDIVIDUAL</code> </p> </li> <li> <p> <code>LIMITED_COMPANY</code> </p> </li> <li> <p> <code>LOCAL_AUTHORITY</code> </p> </li> <li> <p> <code>LOCAL_PUBLIC_ENTITY</code> </p> </li> <li> <p> <code>MUTUAL_INSURANCE_COMPANY</code> </p> </li> <li> <p> <code>NATIONAL_PUBLIC_ENTITY</code> </p> </li> <li> <p> <code>ORDER_OR_RELIGIOUS_INSTITUTION</code> </p> </li> <li> <p> <code>OTHERS (Only for contacts outside of Spain)</code> </p> </li> <li> <p> <code>POLITICAL_PARTY</code> </p> </li> <li> <p> <code>PROFESSIONAL_ASSOCIATION</code> </p> </li> <li> <p> <code>PUBLIC_LAW_ASSOCIATION</code> </p> </li> <li> <p> <code>PUBLIC_LIMITED_COMPANY</code> </p> </li> <li> <p> <code>REGIONAL_GOVERNMENT_BODY</code> </p> </li> <li> <p> <code>REGIONAL_PUBLIC_ENTITY</code> </p> </li> <li> <p> <code>SAVINGS_BANK</code> </p> </li> <li> <p> <code>SPANISH_OFFICE</code> </p> </li> <li> <p> <code>SPORTS_ASSOCIATION</code> </p> </li> <li> <p> <code>SPORTS_FEDERATION</code> </p> </li> <li> <p> <code>SPORTS_LIMITED_COMPANY</code> </p> </li> <li> <p> <code>TEMPORARY_ALLIANCE_OF_ENTERPRISES</code> </p> </li> <li> <p> <code>TRADE_UNION</code> </p> </li> <li> <p> <code>WORKER_OWNED_COMPANY</code> </p> </li> <li> <p> <code>WORKER_OWNED_LIMITED_COMPANY</code> </p> </li> </ul> </li> </ul> </dd> <dt>.eu</dt> <dd> <ul> <li> <p> <code> EU_COUNTRY_OF_CITIZENSHIP</code> </p> </li> </ul> </dd> <dt>.fi</dt> <dd> <ul> <li> <p> <code>BIRTH_DATE_IN_YYYY_MM_DD</code> </p> </li> <li> <p> <code>FI_BUSINESS_NUMBER</code> </p> </li> <li> <p> <code>FI_ID_NUMBER</code> </p> </li> <li> <p> <code>FI_NATIONALITY</code> </p> <p>Valid values include the following:</p> <ul> <li> <p> <code>FINNISH</code> </p> </li> <li> <p> <code>NOT_FINNISH</code> </p> </li> </ul> </li> <li> <p> <code>FI_ORGANIZATION_TYPE</code> </p> <p>Valid values include the following:</p> <ul> <li> <p> <code>COMPANY</code> </p> </li> <li> <p> <code>CORPORATION</code> </p> </li> <li> <p> <code>GOVERNMENT</code> </p> </li> <li> <p> <code>INSTITUTION</code> </p> </li> <li> <p> <code>POLITICAL_PARTY</code> </p> </li> <li> <p> <code>PUBLIC_COMMUNITY</code> </p> </li> <li> <p> <code>TOWNSHIP</code> </p> </li> </ul> </li> </ul> </dd> <dt>.it</dt> <dd> <ul> <li> <p> <code>IT_NATIONALITY</code> </p> </li> <li> <p> <code>IT_PIN</code> </p> </li> <li> <p> <code>IT_REGISTRANT_ENTITY_TYPE</code> </p> <p>Valid values include the following:</p> <ul> <li> <p> <code>FOREIGNERS</code> </p> </li> <li> <p> <code>FREELANCE_WORKERS</code> (Freelance workers and professionals)</p> </li> <li> <p> <code>ITALIAN_COMPANIES</code> (Italian companies and one-person companies)</p> </li> <li> <p> <code>NON_PROFIT_ORGANIZATIONS</code> </p> </li> <li> <p> <code>OTHER_SUBJECTS</code> </p> </li> <li> <p> <code>PUBLIC_ORGANIZATIONS</code> </p> </li> </ul> </li> </ul> </dd> <dt>.ru</dt> <dd> <ul> <li> <p> <code>BIRTH_DATE_IN_YYYY_MM_DD</code> </p> </li> <li> <p> <code>RU_PASSPORT_DATA</code> </p> </li> </ul> </dd> <dt>.se</dt> <dd> <ul> <li> <p> <code>BIRTH_COUNTRY</code> </p> </li> <li> <p> <code>SE_ID_NUMBER</code> </p> </li> </ul> </dd> <dt>.sg</dt> <dd> <ul> <li> <p> <code>SG_ID_NUMBER</code> </p> </li> </ul> </dd> <dt>.uk, .co.uk, .me.uk, and .org.uk</dt> <dd> <ul> <li> <p> <code>UK_CONTACT_TYPE</code> </p> <p>Valid values include the following:</p> <ul> <li> <p> <code>CRC</code> (UK Corporation by Royal Charter)</p> </li> <li> <p> <code>FCORP</code> (Non-UK Corporation)</p> </li> <li> <p> <code>FIND</code> (Non-UK Individual, representing self)</p> </li> <li> <p> <code>FOTHER</code> (Non-UK Entity that does not fit into any other category)</p> </li> <li> <p> <code>GOV</code> (UK Government Body)</p> </li> <li> <p> <code>IND</code> (UK Individual (representing self))</p> </li> <li> <p> <code>IP</code> (UK Industrial/Provident Registered Company)</p> </li> <li> <p> <code>LLP</code> (UK Limited Liability Partnership)</p> </li> <li> <p> <code>LTD</code> (UK Limited Company)</p> </li> <li> <p> <code>OTHER</code> (UK Entity that does not fit into any other category)</p> </li> <li> <p> <code>PLC</code> (UK Public Limited Company)</p> </li> <li> <p> <code>PTNR</code> (UK Partnership)</p> </li> <li> <p> <code>RCHAR</code> (UK Registered Charity)</p> </li> <li> <p> <code>SCH</code> (UK School)</p> </li> <li> <p> <code>STAT</code> (UK Statutory Body)</p> </li> <li> <p> <code>STRA</code> (UK Sole Trader)</p> </li> </ul> </li> <li> <p> <code>UK_COMPANY_NUMBER</code> </p> </li> </ul> </dd> </dl> <p>In addition, many TLDs require a <code>VAT_NUMBER</code>.</p>"
        },
        "Value":{
          "shape":"ExtraParamValue",
          "documentation":"<p>The value that corresponds with the name of an extra parameter.</p>"
        }
      },
      "documentation":"<p>ExtraParam includes the following elements.</p>"
    },
    "ExtraParamList":{
      "type":"list",
      "member":{"shape":"ExtraParam"}
    },
    "ExtraParamName":{
      "type":"string",
      "enum":[
        "DUNS_NUMBER",
        "BRAND_NUMBER",
        "BIRTH_DEPARTMENT",
        "BIRTH_DATE_IN_YYYY_MM_DD",
        "BIRTH_COUNTRY",
        "BIRTH_CITY",
        "DOCUMENT_NUMBER",
        "AU_ID_NUMBER",
        "AU_ID_TYPE",
        "CA_LEGAL_TYPE",
        "CA_BUSINESS_ENTITY_TYPE",
        "CA_LEGAL_REPRESENTATIVE",
        "CA_LEGAL_REPRESENTATIVE_CAPACITY",
        "ES_IDENTIFICATION",
        "ES_IDENTIFICATION_TYPE",
        "ES_LEGAL_FORM",
        "FI_BUSINESS_NUMBER",
        "FI_ID_NUMBER",
        "FI_NATIONALITY",
        "FI_ORGANIZATION_TYPE",
        "IT_NATIONALITY",
        "IT_PIN",
        "IT_REGISTRANT_ENTITY_TYPE",
        "RU_PASSPORT_DATA",
        "SE_ID_NUMBER",
        "SG_ID_NUMBER",
        "VAT_NUMBER",
        "UK_CONTACT_TYPE",
        "UK_COMPANY_NUMBER",
        "EU_COUNTRY_OF_CITIZENSHIP",
        "AU_PRIORITY_TOKEN",
        "AU_ELIGIBILITY_TYPE",
        "AU_POLICY_REASON",
        "AU_REGISTRANT_NAME"
      ]
    },
    "ExtraParamValue":{
      "type":"string",
      "max":2048,
      "sensitive":true
    },
    "FIAuthKey":{
      "type":"string",
      "max":255,
      "min":0,
      "sensitive":true
    },
    "FilterCondition":{
      "type":"structure",
      "required":[
        "Name",
        "Operator",
        "Values"
      ],
      "members":{
        "Name":{
          "shape":"ListDomainsAttributeName",
          "documentation":"<p>Name of the field which should be used for filtering the list of domains.</p>"
        },
        "Operator":{
          "shape":"Operator",
          "documentation":"<p>The operator values for filtering domain names. The values can be:</p> <ul> <li> <p> <code>LE</code>: Less than, or equal to</p> </li> <li> <p> <code>GE</code>: Greater than, or equal to</p> </li> <li> <p> <code>BEGINS_WITH</code>: Begins with</p> </li> </ul>"
        },
        "Values":{
          "shape":"Values",
          "documentation":"<p> An array of strings presenting values to compare. Only 1 item in the list is currently supported.</p>"
        }
      },
      "documentation":"<p>Information for the filtering of a list of domains returned by <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains__ListDomains.html\">ListDomains</a>.</p>"
    },
    "FilterConditions":{
      "type":"list",
      "member":{"shape":"FilterCondition"}
    },
    "GetContactReachabilityStatusRequest":{
      "type":"structure",
      "members":{
        "domainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of the domain for which you want to know whether the registrant contact has confirmed that the email address is valid.</p>"
        }
      }
    },
    "GetContactReachabilityStatusResponse":{
      "type":"structure",
      "members":{
        "domainName":{
          "shape":"DomainName",
          "documentation":"<p>The domain name for which you requested the reachability status.</p>"
        },
        "status":{
          "shape":"ReachabilityStatus",
          "documentation":"<p>Whether the registrant contact has responded. Values include the following:</p> <dl> <dt>PENDING</dt> <dd> <p>We sent the confirmation email and haven't received a response yet.</p> </dd> <dt>DONE</dt> <dd> <p>We sent the email and got confirmation from the registrant contact.</p> </dd> <dt>EXPIRED</dt> <dd> <p>The time limit expired before the registrant contact responded.</p> </dd> </dl>"
        }
      }
    },
    "GetDomainDetailRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of the domain that you want to get detailed information about.</p>"
        }
      },
      "documentation":"<p>The GetDomainDetail request includes the following element.</p>"
    },
    "GetDomainDetailResponse":{
      "type":"structure",
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of a domain.</p>"
        },
        "Nameservers":{
          "shape":"NameserverList",
          "documentation":"<p>The name servers of the domain.</p>"
        },
        "AutoRenew":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the domain registration is set to renew automatically.</p>"
        },
        "AdminContact":{
          "shape":"ContactDetail",
          "documentation":"<p>Provides details about the domain administrative contact.</p>"
        },
        "RegistrantContact":{
          "shape":"ContactDetail",
          "documentation":"<p>Provides details about the domain registrant.</p>"
        },
        "TechContact":{
          "shape":"ContactDetail",
          "documentation":"<p>Provides details about the domain technical contact.</p>"
        },
        "AdminPrivacy":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether contact information is concealed from WHOIS queries. If the value is <code>true</code>, WHOIS (\"who is\") queries return contact information either for Amazon Registrar or for our registrar associate, Gandi. If the value is <code>false</code>, WHOIS queries return the information that you entered for the admin contact.</p>"
        },
        "RegistrantPrivacy":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether contact information is concealed from WHOIS queries. If the value is <code>true</code>, WHOIS (\"who is\") queries return contact information either for Amazon Registrar or for our registrar associate, Gandi. If the value is <code>false</code>, WHOIS queries return the information that you entered for the registrant contact (domain owner).</p>"
        },
        "TechPrivacy":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether contact information is concealed from WHOIS queries. If the value is <code>true</code>, WHOIS (\"who is\") queries return contact information either for Amazon Registrar or for our registrar associate, Gandi. If the value is <code>false</code>, WHOIS queries return the information that you entered for the technical contact.</p>"
        },
        "RegistrarName":{
          "shape":"RegistrarName",
          "documentation":"<p>Name of the registrar of the domain as identified in the registry. </p>"
        },
        "WhoIsServer":{
          "shape":"RegistrarWhoIsServer",
          "documentation":"<p>The fully qualified name of the WHOIS server that can answer the WHOIS query for the domain.</p>"
        },
        "RegistrarUrl":{
          "shape":"RegistrarUrl",
          "documentation":"<p>Web address of the registrar.</p>"
        },
        "AbuseContactEmail":{
          "shape":"Email",
          "documentation":"<p>Email address to contact to report incorrect contact information for a domain, to report that the domain is being used to send spam, to report that someone is cybersquatting on a domain name, or report some other type of abuse.</p>"
        },
        "AbuseContactPhone":{
          "shape":"ContactNumber",
          "documentation":"<p>Phone number for reporting abuse.</p>"
        },
        "RegistryDomainId":{
          "shape":"RegistryDomainId",
          "documentation":"<p>Reserved for future use.</p>"
        },
        "CreationDate":{
          "shape":"Timestamp",
          "documentation":"<p>The date when the domain was created as found in the response to a WHOIS query. The date and time is in Unix time format and Coordinated Universal time (UTC).</p>"
        },
        "UpdatedDate":{
          "shape":"Timestamp",
          "documentation":"<p>The last updated date of the domain as found in the response to a WHOIS query. The date and time is in Unix time format and Coordinated Universal time (UTC).</p>"
        },
        "ExpirationDate":{
          "shape":"Timestamp",
          "documentation":"<p>The date when the registration for the domain is set to expire. The date and time is in Unix time format and Coordinated Universal time (UTC).</p>"
        },
        "Reseller":{
          "shape":"Reseller",
          "documentation":"<p>Reseller of the domain. Domains registered or transferred using Route 53 domains will have <code>\"Amazon\"</code> as the reseller. </p>"
        },
        "DnsSec":{
          "shape":"DNSSec",
          "documentation":"<p>Deprecated.</p>"
        },
        "StatusList":{
          "shape":"DomainStatusList",
          "documentation":"<p>An array of domain name status codes, also known as Extensible Provisioning Protocol (EPP) status codes.</p> <p>ICANN, the organization that maintains a central database of domain names, has developed a set of domain name status codes that tell you the status of a variety of operations on a domain name, for example, registering a domain name, transferring a domain name to another registrar, renewing the registration for a domain name, and so on. All registrars use this same set of status codes.</p> <p>For a current list of domain name status codes and an explanation of what each code means, go to the <a href=\"https://www.icann.org/\">ICANN website</a> and search for <code>epp status codes</code>. (Search on the ICANN website; web searches sometimes return an old version of the document.)</p>"
        },
        "DnssecKeys":{
          "shape":"DnssecKeyList",
          "documentation":"<p>A complex type that contains information about the DNSSEC configuration.</p>"
        },
        "BillingContact":{
          "shape":"ContactDetail",
          "documentation":"<p>Provides details about the domain billing contact.</p>"
        },
        "BillingPrivacy":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether contact information is concealed from WHOIS queries. If the value is <code>true</code>, WHOIS (\"who is\") queries return contact information either for Amazon Registrar or for our registrar associate, Gandi. If the value is <code>false</code>, WHOIS queries return the information that you entered for the billing contact.</p>"
        }
      },
      "documentation":"<p>The GetDomainDetail response includes the following elements.</p>"
    },
    "GetDomainSuggestionsRequest":{
      "type":"structure",
      "required":[
        "DomainName",
        "SuggestionCount",
        "OnlyAvailable"
      ],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>A domain name that you want to use as the basis for a list of possible domain names. The top-level domain (TLD), such as .com, must be a TLD that Route 53 supports. For a list of supported TLDs, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/registrar-tld-list.html\">Domains that You Can Register with Amazon Route 53</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> <p>The domain name can contain only the following characters:</p> <ul> <li> <p>Letters a through z. Domain names are not case sensitive.</p> </li> <li> <p>Numbers 0 through 9.</p> </li> <li> <p>Hyphen (-). You can't specify a hyphen at the beginning or end of a label. </p> </li> <li> <p>Period (.) to separate the labels in the name, such as the <code>.</code> in <code>example.com</code>.</p> </li> </ul> <p>Internationalized domain names are not supported for some top-level domains. To determine whether the TLD that you want to use supports internationalized domain names, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/registrar-tld-list.html\">Domains that You Can Register with Amazon Route 53</a>. </p>"
        },
        "SuggestionCount":{
          "shape":"Integer",
          "documentation":"<p>The number of suggested domain names that you want Route 53 to return. Specify a value between 1 and 50.</p>"
        },
        "OnlyAvailable":{
          "shape":"Boolean",
          "documentation":"<p>If <code>OnlyAvailable</code> is <code>true</code>, Route 53 returns only domain names that are available. If <code>OnlyAvailable</code> is <code>false</code>, Route 53 returns domain names without checking whether they're available to be registered. To determine whether the domain is available, you can call <code>checkDomainAvailability</code> for each suggestion.</p>"
        }
      }
    },
    "GetDomainSuggestionsResponse":{
      "type":"structure",
      "members":{
        "SuggestionsList":{
          "shape":"DomainSuggestionsList",
          "documentation":"<p>A list of possible domain names. If you specified <code>true</code> for <code>OnlyAvailable</code> in the request, the list contains only domains that are available for registration.</p>"
        }
      }
    },
    "GetOperationDetailRequest":{
      "type":"structure",
      "required":["OperationId"],
      "members":{
        "OperationId":{
          "shape":"OperationId",
          "documentation":"<p>The identifier for the operation for which you want to get the status. Route 53 returned the identifier in the response to the original request.</p>"
        }
      },
      "documentation":"<p>The <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_GetOperationDetail.html\">GetOperationDetail</a> request includes the following element.</p>"
    },
    "GetOperationDetailResponse":{
      "type":"structure",
      "members":{
        "OperationId":{
          "shape":"OperationId",
          "documentation":"<p>The identifier for the operation.</p>"
        },
        "Status":{
          "shape":"OperationStatus",
          "documentation":"<p>The current status of the requested operation in the system.</p>"
        },
        "Message":{
          "shape":"ErrorMessage",
          "documentation":"<p>Detailed information on the status including possible errors.</p>"
        },
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of a domain.</p>"
        },
        "Type":{
          "shape":"OperationType",
          "documentation":"<p>The type of operation that was requested.</p>"
        },
        "SubmittedDate":{
          "shape":"Timestamp",
          "documentation":"<p>The date when the request was submitted.</p>"
        },
        "LastUpdatedDate":{
          "shape":"Timestamp",
          "documentation":"<p> The date when the operation was last updated. </p>"
        },
        "StatusFlag":{
          "shape":"StatusFlag",
          "documentation":"<p> Lists any outstanding operations that require customer action. Valid values are:</p> <ul> <li> <p> <code>PENDING_ACCEPTANCE</code>: The operation is waiting for acceptance from the account that is receiving the domain.</p> </li> <li> <p> <code>PENDING_CUSTOMER_ACTION</code>: The operation is waiting for customer action, for example, returning an email.</p> </li> <li> <p> <code>PENDING_AUTHORIZATION</code>: The operation is waiting for the form of authorization. For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_ResendOperationAuthorization.html\">ResendOperationAuthorization</a>.</p> </li> <li> <p> <code>PENDING_PAYMENT_VERIFICATION</code>: The operation is waiting for the payment method to validate.</p> </li> <li> <p> <code>PENDING_SUPPORT_CASE</code>: The operation includes a support case and is waiting for its resolution.</p> </li> </ul>"
        }
      },
      "documentation":"<p>The GetOperationDetail response includes the following elements.</p>"
    },
    "GlueIp":{
      "type":"string",
      "max":45
    },
    "GlueIpList":{
      "type":"list",
      "member":{"shape":"GlueIp"}
    },
    "HostName":{
      "type":"string",
      "max":255,
      "pattern":"[a-zA-Z0-9_\\-.]*"
    },
    "Integer":{"type":"integer"},
    "InvalidInput":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"ErrorMessage",
          "documentation":"<p>The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.</p>"
        }
      },
      "documentation":"<p>The requested item is not acceptable. For example, for APIs that accept a domain name, the request might specify a domain name that doesn't belong to the account that submitted the request. For <code>AcceptDomainTransferFromAnotherAwsAccount</code>, the password might be invalid.</p>",
      "exception":true
    },
    "InvoiceId":{"type":"string"},
    "Label":{
      "type":"string",
      "max":255,
      "min":1
    },
    "LangCode":{
      "type":"string",
      "pattern":"|[A-Za-z]{2,3}"
    },
    "ListDomainsAttributeName":{
      "type":"string",
      "enum":[
        "DomainName",
        "Expiry"
      ]
    },
    "ListDomainsRequest":{
      "type":"structure",
      "members":{
        "FilterConditions":{
          "shape":"FilterConditions",
          "documentation":"<p>A complex type that contains information about the filters applied during the <code>ListDomains</code> request. The filter conditions can include domain name and domain expiration.</p>"
        },
        "SortCondition":{
          "shape":"SortCondition",
          "documentation":"<p>A complex type that contains information about the requested ordering of domains in the returned list.</p>"
        },
        "Marker":{
          "shape":"PageMarker",
          "documentation":"<p>For an initial request for a list of domains, omit this element. If the number of domains that are associated with the current Amazon Web Services account is greater than the value that you specified for <code>MaxItems</code>, you can use <code>Marker</code> to return additional domains. Get the value of <code>NextPageMarker</code> from the previous response, and submit another request that includes the value of <code>NextPageMarker</code> in the <code>Marker</code> element.</p> <p>Constraints: The marker must match the value specified in the previous request.</p>"
        },
        "MaxItems":{
          "shape":"PageMaxItems",
          "documentation":"<p>Number of domains to be returned.</p> <p>Default: 20</p>"
        }
      },
      "documentation":"<p>The ListDomains request includes the following elements.</p>"
    },
    "ListDomainsResponse":{
      "type":"structure",
      "members":{
        "Domains":{
          "shape":"DomainSummaryList",
          "documentation":"<p>A list of domains.</p>"
        },
        "NextPageMarker":{
          "shape":"PageMarker",
          "documentation":"<p>If there are more domains than you specified for <code>MaxItems</code> in the request, submit another request and include the value of <code>NextPageMarker</code> in the value of <code>Marker</code>.</p>"
        }
      },
      "documentation":"<p>The ListDomains response includes the following elements.</p>"
    },
    "ListOperationsRequest":{
      "type":"structure",
      "members":{
        "SubmittedSince":{
          "shape":"Timestamp",
          "documentation":"<p>An optional parameter that lets you get information about all the operations that you submitted after a specified date and time. Specify the date and time in Unix time format and Coordinated Universal time (UTC).</p>"
        },
        "Marker":{
          "shape":"PageMarker",
[...]
