{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2015-06-23",
    "endpointPrefix":"devicefarm",
    "jsonVersion":"1.1",
    "protocol":"json",
    "protocols":["json"],
    "serviceFullName":"AWS Device Farm",
    "serviceId":"Device Farm",
    "signatureVersion":"v4",
    "targetPrefix":"DeviceFarm_20150623",
    "uid":"devicefarm-2015-06-23",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "CreateDevicePool":{
      "name":"CreateDevicePool",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDevicePoolRequest"},
      "output":{"shape":"CreateDevicePoolResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Creates a device pool.</p>"
    },
    "CreateInstanceProfile":{
      "name":"CreateInstanceProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateInstanceProfileRequest"},
      "output":{"shape":"CreateInstanceProfileResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Creates a profile that can be applied to one or more private fleet device instances.</p>"
    },
    "CreateNetworkProfile":{
      "name":"CreateNetworkProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateNetworkProfileRequest"},
      "output":{"shape":"CreateNetworkProfileResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Creates a network profile.</p>"
    },
    "CreateProject":{
      "name":"CreateProject",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateProjectRequest"},
      "output":{"shape":"CreateProjectResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"},
        {"shape":"TagOperationException"}
      ],
      "documentation":"<p>Creates a project.</p>"
    },
    "CreateRemoteAccessSession":{
      "name":"CreateRemoteAccessSession",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateRemoteAccessSessionRequest"},
      "output":{"shape":"CreateRemoteAccessSessionResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Specifies and starts a remote access session.</p>"
    },
    "CreateTestGridProject":{
      "name":"CreateTestGridProject",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTestGridProjectRequest"},
      "output":{"shape":"CreateTestGridProjectResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates a Selenium testing project. Projects are used to track <a>TestGridSession</a> instances.</p>"
    },
    "CreateTestGridUrl":{
      "name":"CreateTestGridUrl",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTestGridUrlRequest"},
      "output":{"shape":"CreateTestGridUrlResult"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"ArgumentException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates a signed, short-term URL that can be passed to a Selenium <code>RemoteWebDriver</code> constructor.</p>"
    },
    "CreateUpload":{
      "name":"CreateUpload",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateUploadRequest"},
      "output":{"shape":"CreateUploadResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Uploads an app or test scripts.</p>"
    },
    "CreateVPCEConfiguration":{
      "name":"CreateVPCEConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVPCEConfigurationRequest"},
      "output":{"shape":"CreateVPCEConfigurationResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Creates a configuration record in Device Farm for your Amazon Virtual Private Cloud (VPC) endpoint.</p>"
    },
    "DeleteDevicePool":{
      "name":"DeleteDevicePool",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDevicePoolRequest"},
      "output":{"shape":"DeleteDevicePoolResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Deletes a device pool given the pool ARN. Does not allow deletion of curated pools owned by the system.</p>"
    },
    "DeleteInstanceProfile":{
      "name":"DeleteInstanceProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteInstanceProfileRequest"},
      "output":{"shape":"DeleteInstanceProfileResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Deletes a profile that can be applied to one or more private device instances.</p>"
    },
    "DeleteNetworkProfile":{
      "name":"DeleteNetworkProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteNetworkProfileRequest"},
      "output":{"shape":"DeleteNetworkProfileResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Deletes a network profile.</p>"
    },
    "DeleteProject":{
      "name":"DeleteProject",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteProjectRequest"},
      "output":{"shape":"DeleteProjectResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Deletes an AWS Device Farm project, given the project ARN.</p> <p> Deleting this resource does not stop an in-progress run.</p>"
    },
    "DeleteRemoteAccessSession":{
      "name":"DeleteRemoteAccessSession",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRemoteAccessSessionRequest"},
      "output":{"shape":"DeleteRemoteAccessSessionResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Deletes a completed remote access session and its results.</p>"
    },
    "DeleteRun":{
      "name":"DeleteRun",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRunRequest"},
      "output":{"shape":"DeleteRunResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Deletes the run, given the run ARN.</p> <p> Deleting this resource does not stop an in-progress run.</p>"
    },
    "DeleteTestGridProject":{
      "name":"DeleteTestGridProject",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTestGridProjectRequest"},
      "output":{"shape":"DeleteTestGridProjectResult"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"ArgumentException"},
        {"shape":"CannotDeleteException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p> Deletes a Selenium testing project and all content generated under it. </p> <important> <p>You cannot undo this operation.</p> </important> <note> <p>You cannot delete a project if it has active sessions.</p> </note>"
    },
    "DeleteUpload":{
      "name":"DeleteUpload",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteUploadRequest"},
      "output":{"shape":"DeleteUploadResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Deletes an upload given the upload ARN.</p>"
    },
    "DeleteVPCEConfiguration":{
      "name":"DeleteVPCEConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVPCEConfigurationRequest"},
      "output":{"shape":"DeleteVPCEConfigurationResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceAccountException"},
        {"shape":"InvalidOperationException"}
      ],
      "documentation":"<p>Deletes a configuration for your Amazon Virtual Private Cloud (VPC) endpoint.</p>"
    },
    "GetAccountSettings":{
      "name":"GetAccountSettings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAccountSettingsRequest"},
      "output":{"shape":"GetAccountSettingsResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Returns the number of unmetered iOS or unmetered Android devices that have been purchased by the account.</p>"
    },
    "GetDevice":{
      "name":"GetDevice",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDeviceRequest"},
      "output":{"shape":"GetDeviceResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Gets information about a unique device type.</p>"
    },
    "GetDeviceInstance":{
      "name":"GetDeviceInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDeviceInstanceRequest"},
      "output":{"shape":"GetDeviceInstanceResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Returns information about a device instance that belongs to a private device fleet.</p>"
    },
    "GetDevicePool":{
      "name":"GetDevicePool",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDevicePoolRequest"},
      "output":{"shape":"GetDevicePoolResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Gets information about a device pool.</p>"
    },
    "GetDevicePoolCompatibility":{
      "name":"GetDevicePoolCompatibility",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDevicePoolCompatibilityRequest"},
      "output":{"shape":"GetDevicePoolCompatibilityResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Gets information about compatibility with a device pool.</p>"
    },
    "GetInstanceProfile":{
      "name":"GetInstanceProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetInstanceProfileRequest"},
      "output":{"shape":"GetInstanceProfileResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Returns information about the specified instance profile.</p>"
    },
    "GetJob":{
      "name":"GetJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetJobRequest"},
      "output":{"shape":"GetJobResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Gets information about a job.</p>"
    },
    "GetNetworkProfile":{
      "name":"GetNetworkProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetNetworkProfileRequest"},
      "output":{"shape":"GetNetworkProfileResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Returns information about a network profile.</p>"
    },
    "GetOfferingStatus":{
      "name":"GetOfferingStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetOfferingStatusRequest"},
      "output":{"shape":"GetOfferingStatusResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"NotEligibleException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Gets the current status and future status of all offerings purchased by an AWS account. The response indicates how many offerings are currently available and the offerings that will be available in the next period. The API returns a <code>NotEligible</code> error if the user is not permitted to invoke the operation. If you must be able to invoke this operation, contact <a href=\"mailto:aws-devicefarm-support@amazon.com\">aws-devicefarm-support@amazon.com</a>.</p>"
    },
    "GetProject":{
      "name":"GetProject",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetProjectRequest"},
      "output":{"shape":"GetProjectResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Gets information about a project.</p>"
    },
    "GetRemoteAccessSession":{
      "name":"GetRemoteAccessSession",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRemoteAccessSessionRequest"},
      "output":{"shape":"GetRemoteAccessSessionResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Returns a link to a currently running remote access session.</p>"
    },
    "GetRun":{
      "name":"GetRun",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRunRequest"},
      "output":{"shape":"GetRunResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Gets information about a run.</p>"
    },
    "GetSuite":{
      "name":"GetSuite",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSuiteRequest"},
      "output":{"shape":"GetSuiteResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Gets information about a suite.</p>"
    },
    "GetTest":{
      "name":"GetTest",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTestRequest"},
      "output":{"shape":"GetTestResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Gets information about a test.</p>"
    },
    "GetTestGridProject":{
      "name":"GetTestGridProject",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTestGridProjectRequest"},
      "output":{"shape":"GetTestGridProjectResult"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"ArgumentException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Retrieves information about a Selenium testing project.</p>"
    },
    "GetTestGridSession":{
      "name":"GetTestGridSession",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTestGridSessionRequest"},
      "output":{"shape":"GetTestGridSessionResult"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"ArgumentException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>A session is an instance of a browser created through a <code>RemoteWebDriver</code> with the URL from <a>CreateTestGridUrlResult$url</a>. You can use the following to look up sessions:</p> <ul> <li> <p>The session ARN (<a>GetTestGridSessionRequest$sessionArn</a>).</p> </li> <li> <p>The project ARN and a session ID (<a>GetTestGridSessionRequest$projectArn</a> and <a>GetTestGridSessionRequest$sessionId</a>).</p> </li> </ul> <p/>"
    },
    "GetUpload":{
      "name":"GetUpload",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetUploadRequest"},
      "output":{"shape":"GetUploadResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Gets information about an upload.</p>"
    },
    "GetVPCEConfiguration":{
      "name":"GetVPCEConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetVPCEConfigurationRequest"},
      "output":{"shape":"GetVPCEConfigurationResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Returns information about the configuration settings for your Amazon Virtual Private Cloud (VPC) endpoint.</p>"
    },
    "InstallToRemoteAccessSession":{
      "name":"InstallToRemoteAccessSession",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"InstallToRemoteAccessSessionRequest"},
      "output":{"shape":"InstallToRemoteAccessSessionResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Installs an application to the device in a remote access session. For Android applications, the file must be in .apk format. For iOS applications, the file must be in .ipa format.</p>"
    },
    "ListArtifacts":{
      "name":"ListArtifacts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListArtifactsRequest"},
      "output":{"shape":"ListArtifactsResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Gets information about artifacts.</p>"
    },
    "ListDeviceInstances":{
      "name":"ListDeviceInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDeviceInstancesRequest"},
      "output":{"shape":"ListDeviceInstancesResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Returns information about the private device instances associated with one or more AWS accounts.</p>"
    },
    "ListDevicePools":{
      "name":"ListDevicePools",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDevicePoolsRequest"},
      "output":{"shape":"ListDevicePoolsResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Gets information about device pools.</p>"
    },
    "ListDevices":{
      "name":"ListDevices",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDevicesRequest"},
      "output":{"shape":"ListDevicesResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Gets information about unique device types.</p>"
    },
    "ListInstanceProfiles":{
      "name":"ListInstanceProfiles",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListInstanceProfilesRequest"},
      "output":{"shape":"ListInstanceProfilesResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Returns information about all the instance profiles in an AWS account.</p>"
    },
    "ListJobs":{
      "name":"ListJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListJobsRequest"},
      "output":{"shape":"ListJobsResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Gets information about jobs for a given test run.</p>"
    },
    "ListNetworkProfiles":{
      "name":"ListNetworkProfiles",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListNetworkProfilesRequest"},
      "output":{"shape":"ListNetworkProfilesResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Returns the list of available network profiles.</p>"
    },
    "ListOfferingPromotions":{
      "name":"ListOfferingPromotions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListOfferingPromotionsRequest"},
      "output":{"shape":"ListOfferingPromotionsResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"NotEligibleException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Returns a list of offering promotions. Each offering promotion record contains the ID and description of the promotion. The API returns a <code>NotEligible</code> error if the caller is not permitted to invoke the operation. Contact <a href=\"mailto:aws-devicefarm-support@amazon.com\">aws-devicefarm-support@amazon.com</a> if you must be able to invoke this operation.</p>"
    },
    "ListOfferingTransactions":{
      "name":"ListOfferingTransactions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListOfferingTransactionsRequest"},
      "output":{"shape":"ListOfferingTransactionsResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"NotEligibleException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Returns a list of all historical purchases, renewals, and system renewal transactions for an AWS account. The list is paginated and ordered by a descending timestamp (most recent transactions are first). The API returns a <code>NotEligible</code> error if the user is not permitted to invoke the operation. If you must be able to invoke this operation, contact <a href=\"mailto:aws-devicefarm-support@amazon.com\">aws-devicefarm-support@amazon.com</a>.</p>"
    },
    "ListOfferings":{
      "name":"ListOfferings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListOfferingsRequest"},
      "output":{"shape":"ListOfferingsResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"NotEligibleException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Returns a list of products or offerings that the user can manage through the API. Each offering record indicates the recurring price per unit and the frequency for that offering. The API returns a <code>NotEligible</code> error if the user is not permitted to invoke the operation. If you must be able to invoke this operation, contact <a href=\"mailto:aws-devicefarm-support@amazon.com\">aws-devicefarm-support@amazon.com</a>.</p>"
    },
    "ListProjects":{
      "name":"ListProjects",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListProjectsRequest"},
      "output":{"shape":"ListProjectsResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Gets information about projects.</p>"
    },
    "ListRemoteAccessSessions":{
      "name":"ListRemoteAccessSessions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListRemoteAccessSessionsRequest"},
      "output":{"shape":"ListRemoteAccessSessionsResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Returns a list of all currently running remote access sessions.</p>"
    },
    "ListRuns":{
      "name":"ListRuns",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListRunsRequest"},
      "output":{"shape":"ListRunsResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Gets information about runs, given an AWS Device Farm project ARN.</p>"
    },
    "ListSamples":{
      "name":"ListSamples",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSamplesRequest"},
      "output":{"shape":"ListSamplesResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Gets information about samples, given an AWS Device Farm job ARN.</p>"
    },
    "ListSuites":{
      "name":"ListSuites",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSuitesRequest"},
      "output":{"shape":"ListSuitesResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Gets information about test suites for a given job.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"TagOperationException"}
      ],
      "documentation":"<p>List the tags for an AWS Device Farm resource.</p>"
    },
    "ListTestGridProjects":{
      "name":"ListTestGridProjects",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTestGridProjectsRequest"},
      "output":{"shape":"ListTestGridProjectsResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Gets a list of all Selenium testing projects in your account.</p>"
    },
    "ListTestGridSessionActions":{
      "name":"ListTestGridSessionActions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTestGridSessionActionsRequest"},
      "output":{"shape":"ListTestGridSessionActionsResult"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"ArgumentException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Returns a list of the actions taken in a <a>TestGridSession</a>.</p>"
    },
    "ListTestGridSessionArtifacts":{
      "name":"ListTestGridSessionArtifacts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTestGridSessionArtifactsRequest"},
      "output":{"shape":"ListTestGridSessionArtifactsResult"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"ArgumentException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Retrieves a list of artifacts created during the session.</p>"
    },
    "ListTestGridSessions":{
      "name":"ListTestGridSessions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTestGridSessionsRequest"},
      "output":{"shape":"ListTestGridSessionsResult"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"ArgumentException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Retrieves a list of sessions for a <a>TestGridProject</a>.</p>"
    },
    "ListTests":{
      "name":"ListTests",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTestsRequest"},
      "output":{"shape":"ListTestsResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Gets information about tests in a given test suite.</p>"
    },
    "ListUniqueProblems":{
      "name":"ListUniqueProblems",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListUniqueProblemsRequest"},
      "output":{"shape":"ListUniqueProblemsResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Gets information about unique problems, such as exceptions or crashes.</p> <p>Unique problems are defined as a single instance of an error across a run, job, or suite. For example, if a call in your application consistently raises an exception (<code>OutOfBoundsException in MyActivity.java:386</code>), <code>ListUniqueProblems</code> returns a single entry instead of many individual entries for that exception.</p>"
    },
    "ListUploads":{
      "name":"ListUploads",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListUploadsRequest"},
      "output":{"shape":"ListUploadsResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Gets information about uploads, given an AWS Device Farm project ARN.</p>"
    },
    "ListVPCEConfigurations":{
      "name":"ListVPCEConfigurations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListVPCEConfigurationsRequest"},
      "output":{"shape":"ListVPCEConfigurationsResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Returns information about all Amazon Virtual Private Cloud (VPC) endpoint configurations in the AWS account.</p>"
    },
    "PurchaseOffering":{
      "name":"PurchaseOffering",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PurchaseOfferingRequest"},
      "output":{"shape":"PurchaseOfferingResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"NotEligibleException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Immediately purchases offerings for an AWS account. Offerings renew with the latest total purchased quantity for an offering, unless the renewal was overridden. The API returns a <code>NotEligible</code> error if the user is not permitted to invoke the operation. If you must be able to invoke this operation, contact <a href=\"mailto:aws-devicefarm-support@amazon.com\">aws-devicefarm-support@amazon.com</a>.</p>"
    },
    "RenewOffering":{
      "name":"RenewOffering",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RenewOfferingRequest"},
      "output":{"shape":"RenewOfferingResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"NotEligibleException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Explicitly sets the quantity of devices to renew for an offering, starting from the <code>effectiveDate</code> of the next period. The API returns a <code>NotEligible</code> error if the user is not permitted to invoke the operation. If you must be able to invoke this operation, contact <a href=\"mailto:aws-devicefarm-support@amazon.com\">aws-devicefarm-support@amazon.com</a>.</p>"
    },
    "ScheduleRun":{
      "name":"ScheduleRun",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ScheduleRunRequest"},
      "output":{"shape":"ScheduleRunResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"IdempotencyException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Schedules a run.</p>"
    },
    "StopJob":{
      "name":"StopJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopJobRequest"},
      "output":{"shape":"StopJobResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Initiates a stop request for the current job. AWS Device Farm immediately stops the job on the device where tests have not started. You are not billed for this device. On the device where tests have started, setup suite and teardown suite tests run to completion on the device. You are billed for setup, teardown, and any tests that were in progress or already completed.</p>"
    },
    "StopRemoteAccessSession":{
      "name":"StopRemoteAccessSession",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopRemoteAccessSessionRequest"},
      "output":{"shape":"StopRemoteAccessSessionResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Ends a specified remote access session.</p>"
    },
    "StopRun":{
      "name":"StopRun",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopRunRequest"},
      "output":{"shape":"StopRunResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Initiates a stop request for the current test run. AWS Device Farm immediately stops the run on devices where tests have not started. You are not billed for these devices. On devices where tests have started executing, setup suite and teardown suite tests run to completion on those devices. You are billed for setup, teardown, and any tests that were in progress or already completed.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"TagOperationException"},
        {"shape":"TooManyTagsException"},
        {"shape":"TagPolicyException"}
      ],
      "documentation":"<p>Associates the specified tags to a resource with the specified <code>resourceArn</code>. If existing tags on a resource are not specified in the request parameters, they are not changed. When a resource is deleted, the tags associated with that resource are also deleted.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"TagOperationException"}
      ],
      "documentation":"<p>Deletes the specified tags from a resource.</p>"
    },
    "UpdateDeviceInstance":{
      "name":"UpdateDeviceInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDeviceInstanceRequest"},
      "output":{"shape":"UpdateDeviceInstanceResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Updates information about a private device instance.</p>"
    },
    "UpdateDevicePool":{
      "name":"UpdateDevicePool",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDevicePoolRequest"},
      "output":{"shape":"UpdateDevicePoolResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Modifies the name, description, and rules in a device pool given the attributes and the pool ARN. Rule updates are all-or-nothing, meaning they can only be updated as a whole (or not at all).</p>"
    },
    "UpdateInstanceProfile":{
      "name":"UpdateInstanceProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateInstanceProfileRequest"},
      "output":{"shape":"UpdateInstanceProfileResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Updates information about an existing private device instance profile.</p>"
    },
    "UpdateNetworkProfile":{
      "name":"UpdateNetworkProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateNetworkProfileRequest"},
      "output":{"shape":"UpdateNetworkProfileResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Updates the network profile.</p>"
    },
    "UpdateProject":{
      "name":"UpdateProject",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateProjectRequest"},
      "output":{"shape":"UpdateProjectResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Modifies the specified project name, given the project ARN and a new name.</p>"
    },
    "UpdateTestGridProject":{
      "name":"UpdateTestGridProject",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateTestGridProjectRequest"},
      "output":{"shape":"UpdateTestGridProjectResult"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"ArgumentException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Change details of a project.</p>"
    },
    "UpdateUpload":{
      "name":"UpdateUpload",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateUploadRequest"},
      "output":{"shape":"UpdateUploadResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceAccountException"}
      ],
      "documentation":"<p>Updates an uploaded test spec.</p>"
    },
    "UpdateVPCEConfiguration":{
      "name":"UpdateVPCEConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateVPCEConfigurationRequest"},
      "output":{"shape":"UpdateVPCEConfigurationResult"},
      "errors":[
        {"shape":"ArgumentException"},
        {"shape":"NotFoundException"},
        {"shape":"ServiceAccountException"},
        {"shape":"InvalidOperationException"}
      ],
      "documentation":"<p>Updates information about an Amazon Virtual Private Cloud (VPC) endpoint configuration.</p>"
    }
  },
  "shapes":{
    "AWSAccountNumber":{
      "type":"string",
      "max":16,
      "min":2
    },
    "AccountSettings":{
      "type":"structure",
      "members":{
        "awsAccountNumber":{
          "shape":"AWSAccountNumber",
          "documentation":"<p>The AWS account number specified in the <code>AccountSettings</code> container.</p>"
        },
        "unmeteredDevices":{
          "shape":"PurchasedDevicesMap",
          "documentation":"<p>Returns the unmetered devices you have purchased or want to purchase.</p>"
        },
        "unmeteredRemoteAccessDevices":{
          "shape":"PurchasedDevicesMap",
          "documentation":"<p>Returns the unmetered remote access devices you have purchased or want to purchase.</p>"
        },
        "maxJobTimeoutMinutes":{
          "shape":"JobTimeoutMinutes",
          "documentation":"<p>The maximum number of minutes a test run executes before it times out.</p>"
        },
        "trialMinutes":{
          "shape":"TrialMinutes",
          "documentation":"<p>Information about an AWS account's usage of free trial device minutes.</p>"
        },
        "maxSlots":{
          "shape":"MaxSlotMap",
          "documentation":"<p>The maximum number of device slots that the AWS account can purchase. Each maximum is expressed as an <code>offering-id:number</code> pair, where the <code>offering-id</code> represents one of the IDs returned by the <code>ListOfferings</code> command.</p>"
        },
        "defaultJobTimeoutMinutes":{
          "shape":"JobTimeoutMinutes",
          "documentation":"<p>The default number of minutes (at the account level) a test run executes before it times out. The default value is 150 minutes.</p>"
        },
        "skipAppResign":{
          "shape":"SkipAppResign",
          "documentation":"<p>When set to <code>true</code>, for private devices, Device Farm does not sign your app again. For public devices, Device Farm always signs your apps again.</p> <p>For more information about how Device Farm re-signs your apps, see <a href=\"http://aws.amazon.com/device-farm/faqs/\">Do you modify my app?</a> in the <i>AWS Device Farm FAQs</i>.</p>"
        }
      },
      "documentation":"<p>A container for account-level settings in AWS Device Farm.</p>"
    },
    "AccountsCleanup":{"type":"boolean"},
    "AmazonResourceName":{
      "type":"string",
      "max":1011,
      "min":32,
      "pattern":"^arn:aws:devicefarm:.+"
    },
    "AmazonResourceNames":{
      "type":"list",
      "member":{"shape":"AmazonResourceName"}
    },
    "AndroidPaths":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "AppPackagesCleanup":{"type":"boolean"},
    "ArgumentException":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"Message",
          "documentation":"<p>Any additional information about the exception.</p>"
        }
      },
      "documentation":"<p>An invalid argument was specified.</p>",
      "exception":true
    },
    "Artifact":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"AmazonResourceName",
          "documentation":"<p>The artifact's ARN.</p>"
        },
        "name":{
          "shape":"Name",
          "documentation":"<p>The artifact's name.</p>"
        },
        "type":{
          "shape":"ArtifactType",
          "documentation":"<p>The artifact's type.</p> <p>Allowed values include the following:</p> <ul> <li> <p>UNKNOWN</p> </li> <li> <p>SCREENSHOT</p> </li> <li> <p>DEVICE_LOG</p> </li> <li> <p>MESSAGE_LOG</p> </li> <li> <p>VIDEO_LOG</p> </li> <li> <p>RESULT_LOG</p> </li> <li> <p>SERVICE_LOG</p> </li> <li> <p>WEBKIT_LOG</p> </li> <li> <p>INSTRUMENTATION_OUTPUT</p> </li> <li> <p>EXERCISER_MONKEY_OUTPUT: the artifact (log) generated by an Android fuzz test.</p> </li> <li> <p>APPIUM_SERVER_OUTPUT</p> </li> <li> <p>APPIUM_JAVA_OUTPUT</p> </li> <li> <p>APPIUM_JAVA_XML_OUTPUT</p> </li> <li> <p>APPIUM_PYTHON_OUTPUT</p> </li> <li> <p>APPIUM_PYTHON_XML_OUTPUT</p> </li> <li> <p>APPLICATION_CRASH_REPORT</p> </li> <li> <p>XCTEST_LOG</p> </li> <li> <p>VIDEO</p> </li> <li> <p>CUSTOMER_ARTIFACT</p> </li> <li> <p>CUSTOMER_ARTIFACT_LOG</p> </li> <li> <p>TESTSPEC_OUTPUT</p> </li> </ul>"
        },
        "extension":{
          "shape":"String",
          "documentation":"<p>The artifact's file extension.</p>"
        },
        "url":{
          "shape":"URL",
          "documentation":"<p>The presigned Amazon S3 URL that can be used with a GET request to download the artifact's file.</p>"
        }
      },
      "documentation":"<p>Represents the output of a test. Examples of artifacts include logs and screenshots.</p>"
    },
    "ArtifactCategory":{
      "type":"string",
      "enum":[
        "SCREENSHOT",
        "FILE",
        "LOG"
      ]
    },
    "ArtifactType":{
      "type":"string",
      "enum":[
        "UNKNOWN",
        "SCREENSHOT",
        "DEVICE_LOG",
        "MESSAGE_LOG",
        "VIDEO_LOG",
        "RESULT_LOG",
        "SERVICE_LOG",
        "WEBKIT_LOG",
        "INSTRUMENTATION_OUTPUT",
        "EXERCISER_MONKEY_OUTPUT",
        "CALABASH_JSON_OUTPUT",
        "CALABASH_PRETTY_OUTPUT",
        "CALABASH_STANDARD_OUTPUT",
        "CALABASH_JAVA_XML_OUTPUT",
        "AUTOMATION_OUTPUT",
        "APPIUM_SERVER_OUTPUT",
        "APPIUM_JAVA_OUTPUT",
        "APPIUM_JAVA_XML_OUTPUT",
        "APPIUM_PYTHON_OUTPUT",
        "APPIUM_PYTHON_XML_OUTPUT",
        "EXPLORER_EVENT_LOG",
        "EXPLORER_SUMMARY_LOG",
        "APPLICATION_CRASH_REPORT",
        "XCTEST_LOG",
        "VIDEO",
        "CUSTOMER_ARTIFACT",
        "CUSTOMER_ARTIFACT_LOG",
        "TESTSPEC_OUTPUT"
      ]
    },
    "Artifacts":{
      "type":"list",
      "member":{"shape":"Artifact"}
    },
    "BillingMethod":{
      "type":"string",
      "enum":[
        "METERED",
        "UNMETERED"
      ]
    },
    "Boolean":{"type":"boolean"},
    "CPU":{
      "type":"structure",
      "members":{
        "frequency":{
          "shape":"String",
          "documentation":"<p>The CPU's frequency.</p>"
        },
        "architecture":{
          "shape":"String",
          "documentation":"<p>The CPU's architecture (for example, x86 or ARM).</p>"
        },
        "clock":{
          "shape":"Double",
          "documentation":"<p>The clock speed of the device's CPU, expressed in hertz (Hz). For example, a 1.2 GHz CPU is expressed as 1200000000.</p>"
        }
      },
      "documentation":"<p>Represents the amount of CPU that an app is using on a physical device. Does not represent system-wide CPU usage.</p>"
    },
    "CannotDeleteException":{
      "type":"structure",
      "members":{
        "message":{"shape":"Message"}
      },
      "documentation":"<p>The requested object could not be deleted.</p>",
      "exception":true
    },
    "ClientId":{
      "type":"string",
      "max":64,
      "min":0
    },
    "ContentType":{
      "type":"string",
      "max":64,
      "min":0
    },
    "Counters":{
      "type":"structure",
      "members":{
        "total":{
          "shape":"Integer",
          "documentation":"<p>The total number of entities.</p>"
        },
        "passed":{
          "shape":"Integer",
          "documentation":"<p>The number of passed entities.</p>"
        },
        "failed":{
          "shape":"Integer",
          "documentation":"<p>The number of failed entities.</p>"
        },
        "warned":{
          "shape":"Integer",
          "documentation":"<p>The number of warned entities.</p>"
        },
        "errored":{
          "shape":"Integer",
          "documentation":"<p>The number of errored entities.</p>"
        },
        "stopped":{
          "shape":"Integer",
          "documentation":"<p>The number of stopped entities.</p>"
        },
        "skipped":{
          "shape":"Integer",
          "documentation":"<p>The number of skipped entities.</p>"
        }
      },
      "documentation":"<p>Represents entity counters.</p>"
    },
    "CreateDevicePoolRequest":{
      "type":"structure",
      "required":[
        "projectArn",
        "name",
        "rules"
      ],
      "members":{
        "projectArn":{
          "shape":"AmazonResourceName",
          "documentation":"<p>The ARN of the project for the device pool.</p>"
        },
        "name":{
          "shape":"Name",
          "documentation":"<p>The device pool's name.</p>"
        },
        "description":{
          "shape":"Message",
          "documentation":"<p>The device pool's description.</p>"
        },
        "rules":{
          "shape":"Rules",
          "documentation":"<p>The device pool's rules.</p>"
        },
        "maxDevices":{
          "shape":"Integer",
          "documentation":"<p>The number of devices that Device Farm can add to your device pool. Device Farm adds devices that are available and meet the criteria that you assign for the <code>rules</code> parameter. Depending on how many devices meet these constraints, your device pool might contain fewer devices than the value for this parameter.</p> <p>By specifying the maximum number of devices, you can control the costs that you incur by running tests.</p>"
        }
      },
      "documentation":"<p>Represents a request to the create device pool operation.</p>"
    },
    "CreateDevicePoolResult":{
      "type":"structure",
      "members":{
        "devicePool":{
          "shape":"DevicePool",
          "documentation":"<p>The newly created device pool.</p>"
        }
      },
      "documentation":"<p>Represents the result of a create device pool request.</p>"
    },
    "CreateInstanceProfileRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"Name",
          "documentation":"<p>The name of your instance profile.</p>"
        },
        "description":{
          "shape":"Message",
          "documentation":"<p>The description of your instance profile.</p>"
        },
        "packageCleanup":{
          "shape":"Boolean",
          "documentation":"<p>When set to <code>true</code>, Device Farm removes app packages after a test run. The default value is <code>false</code> for private devices.</p>"
        },
        "excludeAppPackagesFromCleanup":{
          "shape":"PackageIds",
          "documentation":"<p>An array of strings that specifies the list of app packages that should not be cleaned up from the device after a test run.</p> <p>The list of packages is considered only if you set <code>packageCleanup</code> to <code>true</code>.</p>"
        },
        "rebootAfterUse":{
          "shape":"Boolean",
          "documentation":"<p>When set to <code>true</code>, Device Farm reboots the instance after a test run. The default value is <code>true</code>.</p>"
        }
      }
    },
    "CreateInstanceProfileResult":{
      "type":"structure",
      "members":{
        "instanceProfile":{
          "shape":"InstanceProfile",
          "documentation":"<p>An object that contains information about your instance profile.</p>"
        }
      }
    },
    "CreateNetworkProfileRequest":{
      "type":"structure",
      "required":[
        "projectArn",
        "name"
      ],
      "members":{
        "projectArn":{
          "shape":"AmazonResourceName",
          "documentation":"<p>The Amazon Resource Name (ARN) of the project for which you want to create a network profile.</p>"
        },
        "name":{
          "shape":"Name",
          "documentation":"<p>The name for the new network profile.</p>"
        },
        "description":{
          "shape":"Message",
          "documentation":"<p>The description of the network profile.</p>"
        },
        "type":{
          "shape":"NetworkProfileType",
          "documentation":"<p>The type of network profile to create. Valid values are listed here.</p>"
        },
        "uplinkBandwidthBits":{
          "shape":"Long",
          "documentation":"<p>The data throughput rate in bits per second, as an integer from 0 to 104857600.</p>"
        },
        "downlinkBandwidthBits":{
          "shape":"Long",
          "documentation":"<p>The data throughput rate in bits per second, as an integer from 0 to 104857600.</p>"
        },
        "uplinkDelayMs":{
          "shape":"Long",
          "documentation":"<p>Delay time for all packets to destination in milliseconds as an integer from 0 to 2000.</p>"
        },
        "downlinkDelayMs":{
          "shape":"Long",
          "documentation":"<p>Delay time for all packets to destination in milliseconds as an integer from 0 to 2000.</p>"
        },
        "uplinkJitterMs":{
          "shape":"Long",
          "documentation":"<p>Time variation in the delay of received packets in milliseconds as an integer from 0 to 2000.</p>"
        },
        "downlinkJitterMs":{
          "shape":"Long",
          "documentation":"<p>Time variation in the delay of received packets in milliseconds as an integer from 0 to 2000.</p>"
        },
        "uplinkLossPercent":{
          "shape":"PercentInteger",
          "documentation":"<p>Proportion of transmitted packets that fail to arrive from 0 to 100 percent.</p>"
        },
        "downlinkLossPercent":{
          "shape":"PercentInteger",
          "documentation":"<p>Proportion of received packets that fail to arrive from 0 to 100 percent.</p>"
        }
      }
    },
    "CreateNetworkProfileResult":{
      "type":"structure",
      "members":{
        "networkProfile":{
          "shape":"NetworkProfile",
          "documentation":"<p>The network profile that is returned by the create network profile request.</p>"
        }
      }
    },
    "CreateProjectRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"Name",
          "documentation":"<p>The project's name.</p>"
        },
        "defaultJobTimeoutMinutes":{
          "shape":"JobTimeoutMinutes",
          "documentation":"<p>Sets the execution timeout value (in minutes) for a project. All test runs in this project use the specified execution timeout value unless overridden when scheduling a run.</p>"
        },
        "vpcConfig":{
          "shape":"VpcConfig",
          "documentation":"<p>The VPC security groups and subnets that are attached to a project.</p>"
        }
      },
      "documentation":"<p>Represents a request to the create project operation.</p>"
    },
    "CreateProjectResult":{
      "type":"structure",
      "members":{
        "project":{
          "shape":"Project",
          "documentation":"<p>The newly created project.</p>"
        }
      },
      "documentation":"<p>Represents the result of a create project request.</p>"
    },
    "CreateRemoteAccessSessionConfiguration":{
      "type":"structure",
      "members":{
        "billingMethod":{
          "shape":"BillingMethod",
          "documentation":"<p>The billing method for the remote access session.</p>"
        },
        "vpceConfigurationArns":{
          "shape":"AmazonResourceNames",
          "documentation":"<p>An array of ARNs included in the VPC endpoint configuration.</p>"
        },
        "deviceProxy":{
          "shape":"DeviceProxy",
          "documentation":"<p>The device proxy to be configured on the device for the remote access session.</p>"
        }
      },
      "documentation":"<p>Configuration settings for a remote access session, including billing method.</p>"
    },
    "CreateRemoteAccessSessionRequest":{
      "type":"structure",
      "required":[
        "projectArn",
        "deviceArn"
      ],
      "members":{
        "projectArn":{
          "shape":"AmazonResourceName",
          "documentation":"<p>The Amazon Resource Name (ARN) of the project for which you want to create a remote access session.</p>"
        },
        "deviceArn":{
          "shape":"AmazonResourceName",
          "documentation":"<p>The ARN of the device for which you want to create a remote access session.</p>"
        },
        "instanceArn":{
          "shape":"AmazonResourceName",
          "documentation":"<p>The Amazon Resource Name (ARN) of the device instance for which you want to create a remote access session.</p>"
        },
        "sshPublicKey":{
          "shape":"SshPublicKey",
          "documentation":"<p>Ignored. The public key of the <code>ssh</code> key pair you want to use for connecting to remote devices in your remote debugging session. This key is required only if <code>remoteDebugEnabled</code> is set to <code>true</code>.</p> <p>Remote debugging is <a href=\"https://docs.aws.amazon.com/devicefarm/latest/developerguide/history.html\">no longer supported</a>.</p>"
        },
        "remoteDebugEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Set to <code>true</code> if you want to access devices remotely for debugging in your remote access session.</p> <p>Remote debugging is <a href=\"https://docs.aws.amazon.com/devicefarm/latest/developerguide/history.html\">no longer supported</a>.</p>"
        },
        "remoteRecordEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Set to <code>true</code> to enable remote recording for the remote access session.</p>"
        },
        "remoteRecordAppArn":{
          "shape":"AmazonResourceName",
          "documentation":"<p>The Amazon Resource Name (ARN) for the app to be recorded in the remote access session.</p>"
        },
        "name":{
          "shape":"Name",
          "documentation":"<p>The name of the remote access session to create.</p>"
        },
        "clientId":{
          "shape":"ClientId",
          "documentation":"<p>Unique identifier for the client. If you want access to multiple devices on the same client, you should pass the same <code>clientId</code> value in each call to <code>CreateRemoteAccessSession</code>. This identifier is required only if <code>remoteDebugEnabled</code> is set to <code>true</code>.</p> <p>Remote debugging is <a href=\"https://docs.aws.amazon.com/devicefarm/latest/developerguide/history.html\">no longer supported</a>.</p>"
        },
        "configuration":{
          "shape":"CreateRemoteAccessSessionConfiguration",
          "documentation":"<p>The configuration information for the remote access session request.</p>"
        },
        "interactionMode":{
          "shape":"InteractionMode",
          "documentation":"<p>The interaction mode of the remote access session. Valid values are:</p> <ul> <li> <p>INTERACTIVE: You can interact with the iOS device by viewing, touching, and rotating the screen. You cannot run XCUITest framework-based tests in this mode.</p> </li> <li> <p>NO_VIDEO: You are connected to the device, but cannot interact with it or view the screen. This mode has the fastest test execution speed. You can run XCUITest framework-based tests in this mode.</p> </li> <li> <p>VIDEO_ONLY: You can view the screen, but cannot touch or rotate it. You can run XCUITest framework-based tests and watch the screen in this mode.</p> </li> </ul>"
        },
        "skipAppResign":{
          "shape":"Boolean",
          "documentation":"<p>When set to <code>true</code>, for private devices, Device Farm does not sign your app again. For public devices, Device Farm always signs your apps again.</p> <p>For more information on how Device Farm modifies your uploads during tests, see <a href=\"http://aws.amazon.com/device-farm/faqs/\">Do you modify my app?</a> </p>"
        }
      },
      "documentation":"<p>Creates and submits a request to start a remote access session.</p>"
    },
    "CreateRemoteAccessSessionResult":{
      "type":"structure",
      "members":{
        "remoteAccessSession":{
          "shape":"RemoteAccessSession",
          "documentation":"<p>A container that describes the remote access session when the request to create a remote access session is sent.</p>"
        }
      },
      "documentation":"<p>Represents the server response from a request to create a remote access session.</p>"
    },
    "CreateTestGridProjectRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"ResourceName",
          "documentation":"<p>Human-readable name of the Selenium testing project.</p>"
        },
        "description":{
          "shape":"ResourceDescription",
          "documentation":"<p>Human-readable description of the project.</p>"
        },
        "vpcConfig":{
          "shape":"TestGridVpcConfig",
          "documentation":"<p>The VPC security groups and subnets that are attached to a project.</p>"
        }
      }
    },
    "CreateTestGridProjectResult":{
      "type":"structure",
      "members":{
        "testGridProject":{
          "shape":"TestGridProject",
          "documentation":"<p>ARN of the Selenium testing project that was created.</p>"
        }
      }
    },
    "CreateTestGridUrlRequest":{
      "type":"structure",
      "required":[
        "projectArn",
        "expiresInSeconds"
      ],
      "members":{
        "projectArn":{
          "shape":"DeviceFarmArn",
          "documentation":"<p>ARN (from <a>CreateTestGridProject</a> or <a>ListTestGridProjects</a>) to associate with the short-term URL. </p>"
        },
        "expiresInSeconds":{
          "shape":"TestGridUrlExpiresInSecondsInput",
          "documentation":"<p>Lifetime, in seconds, of the URL.</p>"
        }
      }
    },
    "CreateTestGridUrlResult":{
      "type":"structure",
      "members":{
        "url":{
          "shape":"SensitiveString",
          "documentation":"<p>A signed URL, expiring in <a>CreateTestGridUrlRequest$expiresInSeconds</a> seconds, to be passed to a <code>RemoteWebDriver</code>. </p>"
        },
        "expires":{
          "shape":"DateTime",
          "documentation":"<p>The number of seconds the URL from <a>CreateTestGridUrlResult$url</a> stays active.</p>"
        }
      }
    },
    "CreateUploadRequest":{
      "type":"structure",
      "required":[
        "projectArn",
        "name",
        "type"
      ],
      "members":{
        "projectArn":{
          "shape":"AmazonResourceName",
          "documentation":"<p>The ARN of the project for the upload.</p>"
        },
        "name":{
          "shape":"Name",
          "documentation":"<p>The upload's file name. The name should not contain any forward slashes (<code>/</code>). If you are uploading an iOS app, the file name must end with the <code>.ipa</code> extension. If you are uploading an Android app, the file name must end with the <code>.apk</code> extension. For all others, the file name must end with the <code>.zip</code> file extension.</p>"
        },
        "type":{
          "shape":"UploadType",
          "documentation":"<p>The upload's upload type.</p> <p>Must be one of the following values:</p> <ul> <li> <p>ANDROID_APP</p> </li> <li> <p>IOS_APP</p> </li> <li> <p>WEB_APP</p> </li> <li> <p>EXTERNAL_DATA</p> </li> <li> <p>APPIUM_JAVA_JUNIT_TEST_PACKAGE</p> </li> <li> <p>APPIUM_JAVA_TESTNG_TEST_PACKAGE</p> </li> <li> <p>APPIUM_PYTHON_TEST_PACKAGE</p> </li> <li> <p>APPIUM_NODE_TEST_PACKAGE</p> </li> <li> <p>APPIUM_RUBY_TEST_PACKAGE</p> </li> <li> <p>APPIUM_WEB_JAVA_JUNIT_TEST_PACKAGE</p> </li> <li> <p>APPIUM_WEB_JAVA_TESTNG_TEST_PACKAGE</p> </li> <li> <p>APPIUM_WEB_PYTHON_TEST_PACKAGE</p> </li> <li> <p>APPIUM_WEB_NODE_TEST_PACKAGE</p> </li> <li> <p>APPIUM_WEB_RUBY_TEST_PACKAGE</p> </li> <li> <p>INSTRUMENTATION_TEST_PACKAGE</p> </li> <li> <p>XCTEST_TEST_PACKAGE</p> </li> <li> <p>XCTEST_UI_TEST_PACKAGE</p> </li> <li> <p>APPIUM_JAVA_JUNIT_TEST_SPEC</p> </li> <li> <p>APPIUM_JAVA_TESTNG_TEST_SPEC</p> </li> <li> <p>APPIUM_PYTHON_TEST_SPEC</p> </li> <li> <p>APPIUM_NODE_TEST_SPEC</p> </li> <li> <p>APPIUM_RUBY_TEST_SPEC</p> </li> <li> <p>APPIUM_WEB_JAVA_JUNIT_TEST_SPEC</p> </li> <li> <p>APPIUM_WEB_JAVA_TESTNG_TEST_SPEC</p> </li> <li> <p>APPIUM_WEB_PYTHON_TEST_SPEC</p> </li> <li> <p>APPIUM_WEB_NODE_TEST_SPEC</p> </li> <li> <p>APPIUM_WEB_RUBY_TEST_SPEC</p> </li> <li> <p>INSTRUMENTATION_TEST_SPEC</p> </li> <li> <p>XCTEST_UI_TEST_SPEC</p> </li> </ul> <p> If you call <code>CreateUpload</code> with <code>WEB_APP</code> specified, AWS Device Farm throws an <code>ArgumentException</code> error.</p>"
        },
        "contentType":{
          "shape":"ContentType",
          "documentation":"<p>The upload's content type (for example, <code>application/octet-stream</code>).</p>"
        }
      },
      "documentation":"<p>Represents a request to the create upload operation.</p>"
    },
    "CreateUploadResult":{
      "type":"structure",
      "members":{
        "upload":{
          "shape":"Upload",
          "documentation":"<p>The newly created upload.</p>"
        }
      },
      "documentation":"<p>Represents the result of a create upload request.</p>"
    },
    "CreateVPCEConfigurationRequest":{
      "type":"structure",
      "required":[
        "vpceConfigurationName",
        "vpceServiceName",
        "serviceDnsName"
      ],
      "members":{
        "vpceConfigurationName":{
          "shape":"VPCEConfigurationName",
          "documentation":"<p>The friendly name you give to your VPC endpoint configuration, to manage your configurations more easily.</p>"
        },
        "vpceServiceName":{
          "shape":"VPCEServiceName",
          "documentation":"<p>The name of the VPC endpoint service running in your AWS account that you want Device Farm to test.</p>"
        },
        "serviceDnsName":{
          "shape":"ServiceDnsName",
          "documentation":"<p>The DNS name of the service running in your VPC that you want Device Farm to test.</p>"
        },
        "vpceConfigurationDescription":{
          "shape":"VPCEConfigurationDescription",
          "documentation":"<p>An optional description that provides details about your VPC endpoint configuration.</p>"
        }
      }
    },
    "CreateVPCEConfigurationResult":{
      "type":"structure",
      "members":{
        "vpceConfiguration":{
          "shape":"VPCEConfiguration",
          "documentation":"<p>An object that contains information about your VPC endpoint configuration.</p>"
        }
      }
    },
    "CurrencyCode":{
      "type":"string",
      "enum":["USD"]
    },
    "CustomerArtifactPaths":{
      "type":"structure",
      "members":{
        "iosPaths":{
          "shape":"IosPaths",
          "documentation":"<p>Comma-separated list of paths on the iOS device where the artifacts generated by the customer's tests are pulled from.</p>"
        },
        "androidPaths":{
          "shape":"AndroidPaths",
          "documentation":"<p>Comma-separated list of paths on the Android device where the artifacts generated by the customer's tests are pulled from.</p>"
        },
        "deviceHostPaths":{
          "shape":"DeviceHostPaths",
          "documentation":"<p>Comma-separated list of paths in the test execution environment where the artifacts generated by the customer's tests are pulled from.</p>"
        }
      },
      "documentation":"<p>A JSON object that specifies the paths where the artifacts generated by the customer's tests, on the device or in the test environment, are pulled from.</p> <p>Specify <code>deviceHostPaths</code> and optionally specify either <code>iosPaths</code> or <code>androidPaths</code>.</p> <p>For web app tests, you can specify both <code>iosPaths</code> and <code>androidPaths</code>.</p>"
    },
    "DateTime":{"type":"timestamp"},
    "DeleteDevicePoolRequest":{
      "type":"structure",
      "required":["arn"],
      "members":{
        "arn":{
          "shape":"AmazonResourceName",
          "documentation":"<p>Represents the Amazon Resource Name (ARN) of the Device Farm device pool to delete.</p>"
        }
      },
      "documentation":"<p>Represents a request to the delete device pool operation.</p>"
    },
    "DeleteDevicePoolResult":{
      "type":"structure",
      "members":{},
      "documentation":"<p>Represents the result of a delete device pool request.</p>"
    },
    "DeleteInstanceProfileRequest":{
      "type":"structure",
      "required":["arn"],
      "members":{
        "arn":{
          "shape":"AmazonResourceName",
          "documentation":"<p>The Amazon Resource Name (ARN) of the instance profile you are requesting to delete.</p>"
        }
      }
    },
    "DeleteInstanceProfileResult":{
      "type":"structure",
      "members":{}
    },
    "DeleteNetworkProfileRequest":{
      "type":"structure",
      "required":["arn"],
      "members":{
        "arn":{
          "shape":"AmazonResourceName",
          "documentation":"<p>The ARN of the network profile to delete.</p>"
        }
      }
    },
    "DeleteNetworkProfileResult":{
      "type":"structure",
      "members":{}
    },
    "DeleteProjectRequest":{
      "type":"structure",
      "required":["arn"],
      "members":{
        "arn":{
          "shape":"AmazonResourceName",
          "documentation":"<p>Represents the Amazon Resource Name (ARN) of the Device Farm project to delete.</p>"
        }
      },
      "documentation":"<p>Represents a request to the delete project operation.</p>"
    },
    "DeleteProjectResult":{
      "type":"structure",
      "members":{},
      "documentation":"<p>Represents the result of a delete project request.</p>"
    },
    "DeleteRemoteAccessSessionRequest":{
      "type":"structure",
      "required":["arn"],
      "members":{
        "arn":{
          "shape":"AmazonResourceName",
          "documentation":"<p>The Amazon Resource Name (ARN) of the session for which you want to delete remote access.</p>"
        }
      },
      "documentation":"<p>Represents the request to delete the specified remote access session.</p>"
    },
    "DeleteRemoteAccessSessionResult":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The response from the server when a request is made to delete the remote access session.</p>"
    },
    "DeleteRunRequest":{
      "type":"structure",
      "required":["arn"],
      "members":{
        "arn":{
          "shape":"AmazonResourceName",
          "documentation":"<p>The Amazon Resource Name (ARN) for the run to delete.</p>"
        }
      },
      "documentation":"<p>Represents a request to the delete run operation.</p>"
    },
    "DeleteRunResult":{
      "type":"structure",
      "members":{},
      "documentation":"<p>Represents the result of a delete run request.</p>"
    },
    "DeleteTestGridProjectRequest":{
      "type":"structure",
      "required":["projectArn"],
      "members":{
        "projectArn":{
          "shape":"DeviceFarmArn",
          "documentation":"<p>The ARN of the project to delete, from <a>CreateTestGridProject</a> or <a>ListTestGridProjects</a>.</p>"
        }
      }
    },
    "DeleteTestGridProjectResult":{
      "type":"structure",
      "members":{}
    },
    "DeleteUploadRequest":{
      "type":"structure",
      "required":["arn"],
      "members":{
        "arn":{
          "shape":"AmazonResourceName",
          "documentation":"<p>Represents the Amazon Resource Name (ARN) of the Device Farm upload to delete.</p>"
        }
      },
      "documentation":"<p>Represents a request to the delete upload operation.</p>"
    },
    "DeleteUploadResult":{
      "type":"structure",
      "members":{},
      "documentation":"<p>Represents the result of a delete upload request.</p>"
    },
    "DeleteVPCEConfigurationRequest":{
      "type":"structure",
      "required":["arn"],
      "members":{
        "arn":{
          "shape":"AmazonResourceName",
          "documentation":"<p>The Amazon Resource Name (ARN) of the VPC endpoint configuration you want to delete.</p>"
        }
      }
    },
    "DeleteVPCEConfigurationResult":{
      "type":"structure",
      "members":{}
    },
    "Device":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"AmazonResourceName",
          "documentation":"<p>The device's ARN.</p>"
        },
        "name":{
          "shape":"Name",
          "documentation":"<p>The device's display name.</p>"
        },
        "manufacturer":{
          "shape":"String",
          "documentation":"<p>The device's manufacturer name.</p>"
        },
        "model":{
          "shape":"String",
          "documentation":"<p>The device's model name.</p>"
        },
        "modelId":{
          "shape":"String",
          "documentation":"<p>The device's model ID.</p>"
        },
        "formFactor":{
          "shape":"DeviceFormFactor",
          "documentation":"<p>The device's form factor.</p> <p>Allowed values include:</p> <ul> <li> <p>PHONE</p> </li> <li> <p>TABLET</p> </li> </ul>"
        },
        "platform":{
          "shape":"DevicePlatform",
          "documentation":"<p>The device's platform.</p> <p>Allowed values include:</p> <ul> <li> <p>ANDROID</p> </li> <li> <p>IOS</p> </li> </ul>"
        },
        "os":{
          "shape":"String",
          "documentation":"<p>The device's operating system type.</p>"
        },
        "cpu":{
          "shape":"CPU",
          "documentation":"<p>Information about the device's CPU.</p>"
        },
        "resolution":{
          "shape":"Resolution",
          "documentation":"<p>The resolution of the device.</p>"
        },
        "heapSize":{
          "shape":"Long",
          "documentation":"<p>The device's heap size, expressed in bytes.</p>"
        },
        "memory":{
          "shape":"Long",
          "documentation":"<p>The device's total memory size, expressed in bytes.</p>"
        },
        "image":{
          "shape":"String",
          "documentation":"<p>The device's image name.</p>"
        },
        "carrier":{
          "shape":"String",
          "documentation":"<p>The device's carrier.</p>"
        },
        "radio":{
          "shape":"String",
          "documentation":"<p>The device's radio.</p>"
        },
        "remoteAccessEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether remote access has been enabled for the specified device.</p>"
        },
        "remoteDebugEnabled":{
          "shape":"Boolean",
          "documentation":"<p>This flag is set to <code>true</code> if remote debugging is enabled for the device.</p> <p>Remote debugging is <a href=\"https://docs.aws.amazon.com/devicefarm/latest/developerguide/history.html\">no longer supported</a>.</p>"
        },
        "fleetType":{
          "shape":"String",
          "documentation":"<p>The type of fleet to which this device belongs. Possible values are PRIVATE and PUBLIC.</p>"
        },
        "fleetName":{
          "shape":"String",
          "documentation":"<p>The name of the fleet to which this device belongs.</p>"
        },
        "instances":{
          "shape":"DeviceInstances",
          "documentation":"<p>The instances that belong to this device.</p>"
        },
        "availability":{
          "shape":"DeviceAvailability",
          "documentation":"<p>Indicates how likely a device is available for a test run. Currently available in the <a>ListDevices</a> and GetDevice API methods.</p>"
        }
      },
      "documentation":"<p>Represents a device type that an app is tested against.</p>"
    },
    "DeviceAttribute":{
      "type":"string",
      "enum":[
        "ARN",
        "PLATFORM",
        "FORM_FACTOR",
        "MANUFACTURER",
        "REMOTE_ACCESS_ENABLED",
        "REMOTE_DEBUG_ENABLED",
        "APPIUM_VERSION",
        "INSTANCE_ARN",
        "INSTANCE_LABELS",
        "FLEET_TYPE",
        "OS_VERSION",
        "MODEL",
        "AVAILABILITY"
      ]
    },
    "DeviceAvailability":{
      "type":"string",
      "enum":[
        "TEMPORARY_NOT_AVAILABLE",
        "BUSY",
        "AVAILABLE",
        "HIGHLY_AVAILABLE"
      ]
    },
    "DeviceFarmArn":{
      "type":"string",
      "max":1011,
      "min":32,
      "pattern":"^arn:aws:devicefarm:.+"
    },
    "DeviceFilter":{
      "type":"structure",
      "required":[
        "attribute",
        "operator",
        "values"
      ],
      "members":{
        "attribute":{
          "shape":"DeviceFilterAttribute",
          "documentation":"<p>The aspect of a device such as platform or model used as the selection criteria in a device filter.</p> <p>The supported operators for each attribute are provided in the following list.</p> <dl> <dt>ARN</dt> <dd> <p>The Amazon Resource Name (ARN) of the device (for example, <code>arn:aws:devicefarm:us-west-2::device:12345Example</code>).</p> <p>Supported operators: <code>EQUALS</code>, <code>IN</code>, <code>NOT_IN</code> </p> </dd> <dt>PLATFORM</dt> <dd> <p>The device platform. Valid values are ANDROID or IOS.</p> <p>Supported operators: <code>EQUALS</code> </p> </dd> <dt>OS_VERSION</dt> <dd> <p>The operating system version (for example, 10.3.2).</p> <p>Supported operators: <code>EQUALS</code>, <code>GREATER_THAN</code>, <code>GREATER_THAN_OR_EQUALS</code>, <code>IN</code>, <code>LESS_THAN</code>, <code>LESS_THAN_OR_EQUALS</code>, <code>NOT_IN</code> </p> </dd> <dt>MODEL</dt> <dd> <p>The device model (for example, iPad 5th Gen).</p> <p>Supported operators: <code>CONTAINS</code>, <code>EQUALS</code>, <code>IN</code>, <code>NOT_IN</code> </p> </dd> <dt>AVAILABILITY</dt> <dd> <p>The current availability of the device. Valid values are AVAILABLE, HIGHLY_AVAILABLE, BUSY, or TEMPORARY_NOT_AVAILABLE.</p> <p>Supported operators: <code>EQUALS</code> </p> </dd> <dt>FORM_FACTOR</dt> <dd> <p>The device form factor. Valid values are PHONE or TABLET.</p> <p>Supported operators: <code>EQUALS</code> </p> </dd> <dt>MANUFACTURER</dt> <dd> <p>The device manufacturer (for example, Apple).</p> <p>Supported operators: <code>EQUALS</code>, <code>IN</code>, <code>NOT_IN</code> </p> </dd> <dt>REMOTE_ACCESS_ENABLED</dt> <dd> <p>Whether the device is enabled for remote access. Valid values are TRUE or FALSE.</p> <p>Supported operators: <code>EQUALS</code> </p> </dd> <dt>REMOTE_DEBUG_ENABLED</dt> <dd> <p>Whether the device is enabled for remote debugging. Valid values are TRUE or FALSE.</p> <p>Supported operators: <code>EQUALS</code> </p> <p>Because remote debugging is <a href=\"https://docs.aws.amazon.com/devicefarm/latest/developerguide/history.html\">no longer supported</a>, this filter is ignored.</p> </dd> <dt>INSTANCE_ARN</dt> <dd> <p>The Amazon Resource Name (ARN) of the device instance.</p> <p>Supported operators: <code>EQUALS</code>, <code>IN</code>, <code>NOT_IN</code> </p> </dd> <dt>INSTANCE_LABELS</dt> <dd> <p>The label of the device instance.</p> <p>Supported operators: <code>CONTAINS</code> </p> </dd> <dt>FLEET_TYPE</dt> <dd> <p>The fleet type. Valid values are PUBLIC or PRIVATE.</p> <p>Supported operators: <code>EQUALS</code> </p> </dd> </dl>"
        },
        "operator":{
          "shape":"RuleOperator",
          "documentation":"<p>Specifies how Device Farm compares the filter's attribute to the value. See the attribute descriptions.</p>"
        },
        "values":{
          "shape":"DeviceFilterValues",
          "documentation":"<p>An array of one or more filter values used in a device filter.</p> <p class=\"title\"> <b>Operator Values</b> </p> <ul> <li> <p>The IN and NOT_IN operators can take a values array that has more than one element.</p> </li> <li> <p>The other operators require an array with a single element.</p> </li> </ul> <p class=\"title\"> <b>Attribute Values</b> </p> <ul> <li> <p>The PLATFORM attribute can be set to ANDROID or IOS.</p> </li> <li> <p>The AVAILABILITY attribute can be set to AVAILABLE, HIGHLY_AVAILABLE, BUSY, or TEMPORARY_NOT_AVAILABLE.</p> </li> <li> <p>The FORM_FACTOR attribute can be set to PHONE or TABLET.</p> </li> <li> <p>The FLEET_TYPE attribute can be set to PUBLIC or PRIVATE.</p> </li> </ul>"
        }
      },
      "documentation":"<p>Represents a device filter used to select a set of devices to be included in a test run. This data structure is passed in as the <code>deviceSelectionConfiguration</code> parameter to <code>ScheduleRun</code>. For an example of the JSON request syntax, see <a>ScheduleRun</a>.</p> <p>It is also passed in as the <code>filters</code> parameter to <code>ListDevices</code>. For an example of the JSON request syntax, see <a>ListDevices</a>.</p>"
    },
    "DeviceFilterAttribute":{
      "type":"string",
      "enum":[
        "ARN",
        "PLATFORM",
        "OS_VERSION",
        "MODEL",
        "AVAILABILITY",
        "FORM_FACTOR",
        "MANUFACTURER",
        "REMOTE_ACCESS_ENABLED",
        "REMOTE_DEBUG_ENABLED",
        "INSTANCE_ARN",
        "INSTANCE_LABELS",
        "FLEET_TYPE"
      ]
    },
    "DeviceFilterValues":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "DeviceFilters":{
      "type":"list",
      "member":{"shape":"DeviceFilter"}
    },
    "DeviceFormFactor":{
      "type":"string",
      "enum":[
        "PHONE",
        "TABLET"
      ]
    },
    "DeviceHostPaths":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "DeviceInstance":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"AmazonResourceName",
          "documentation":"<p>The Amazon Resource Name (ARN) of the device instance.</p>"
        },
        "deviceArn":{
          "shape":"AmazonResourceName",
          "documentation":"<p>The ARN of the device.</p>"
        },
        "labels":{
          "shape":"InstanceLabels",
          "documentation":"<p>An array of strings that describe the device instance.</p>"
        },
        "status":{
          "shape":"InstanceStatus",
          "documentation":"<p>The status of the device instance. Valid values are listed here.</p>"
        },
        "udid":{
          "shape":"String",
          "documentation":"<p>Unique device identifier for the device instance.</p>"
        },
        "instanceProfile":{
          "shape":"InstanceProfile",
          "documentation":"<p>A object that contains information about the instance profile.</p>"
        }
      },
      "documentation":"<p>Represents the device instance.</p>"
    },
    "DeviceInstances":{
      "type":"list",
      "member":{"shape":"DeviceInstance"}
    },
    "DeviceMinutes":{
      "type":"structure",
      "members":{
        "total":{
          "shape":"Double",
          "documentation":"<p>When specified, represents the total minutes used by the resource to run tests.</p>"
        },
        "metered":{
          "shape":"Double",
          "documentation":"<p>When specified, represents only the sum of metered minutes used by the resource to run tests.</p>"
        },
        "unmetered":{
          "shape":"Double",
          "documentation":"<p>When specified, represents only the sum of unmetered minutes used by the resource to run tests.</p>"
        }
      },
      "documentation":"<p>Represents the total (metered or unmetered) minutes used by the resource to run tests. Contains the sum of minutes consumed by all children.</p>"
    },
    "DevicePlatform":{
      "type":"string",
      "enum":[
        "ANDROID",
        "IOS"
      ]
    },
    "DevicePool":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"AmazonResourceName",
          "documentation":"<p>The device pool's ARN.</p>"
        },
        "name":{
          "shape":"Name",
          "documentation":"<p>The device pool's name.</p>"
        },
        "description":{
          "shape":"Message",
          "documentation":"<p>The device pool's description.</p>"
        },
        "type":{
          "shape":"DevicePoolType",
          "documentation":"<p>The device pool's type.</p> <p>Allowed values include:</p> <ul> <li> <p>CURATED: A device pool that is created and managed by AWS Device Farm.</p> </li> <li> <p>PRIVATE: A device pool that is created and managed by the device pool developer.</p> </li> </ul>"
        },
        "rules":{
          "shape":"Rules",
          "documentation":"<p>Information about the device pool's rules.</p>"
        },
        "maxDevices":{
          "shape":"Integer",
          "documentation":"<p>The number of devices that Device Farm can add to your device pool. Device Farm adds devices that are available and meet the criteria that you assign for the <code>rules</code> parameter. Depending on how many devices meet these constraints, your device pool might contain fewer devices than the value for this parameter.</p> <p>By specifying the maximum number of devices, you can control the costs that you incur by running tests.</p>"
        }
      },
      "documentation":"<p>Represents a collection of device types.</p>"
    },
    "DevicePoolCompatibilityResult":{
      "type":"structure",
      "members":{
        "device":{
          "shape":"Device",
          "documentation":"<p>The device (phone or tablet) to return information about.</p>"
        },
        "compatible":{
          "shape":"Boolean",
          "documentation":"<p>Whether the result was compatible with the device pool.</p>"
        },
        "incompatibilityMessages":{
          "shape":"IncompatibilityMessages",
          "documentation":"<p>Information about the compatibility.</p>"
        }
      },
      "documentation":"<p>Represents a device pool compatibility result.</p>"
    },
    "DevicePoolCompatibilityResults":{
      "type":"list",
      "member":{"shape":"DevicePoolCompatibilityResult"}
    },
    "DevicePoolType":{
      "type":"string",
      "enum":[
        "CURATED",
        "PRIVATE"
      ]
    },
    "DevicePools":{
      "type":"list",
      "member":{"shape":"DevicePool"}
    },
    "DeviceProxy":{
      "type":"structure",
      "required":[
        "host",
        "port"
      ],
      "members":{
        "host":{
          "shape":"DeviceProxyHost",
          "documentation":"<p>Hostname or IPv4 address of the proxy.</p>"
        },
        "port":{
          "shape":"DeviceProxyPort",
          "documentation":"<p>The port number on which the http/s proxy is listening.</p>"
        }
      },
      "documentation":"<p>Represents the http/s proxy configuration that will be applied to a device during a run.</p>"
    },
    "DeviceProxyHost":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^([a-zA-Z0-9])([a-zA-Z0-9-.]+)([a-zA-Z0-9])$"
    },
    "DeviceProxyPort":{
      "type":"integer",
      "box":true,
      "max":65535,
      "min":1
    },
    "DeviceSelectionConfiguration":{
      "type":"structure",
      "required":[
        "filters",
        "maxDevices"
      ],
      "members":{
        "filters":{
          "shape":"DeviceFilters",
          "documentation":"<p>Used to dynamically select a set of devices for a test run. A filter is made up of an attribute, an operator, and one or more values.</p> <ul> <li> <p> <b>Attribute</b> </p> <p>The aspect of a device such as platform or model used as the selection criteria in a device filter.</p> <p>Allowed values include:</p> <ul> <li> <p>ARN: The Amazon Resource Name (ARN) of the device (for example, <code>arn:aws:devicefarm:us-west-2::device:12345Example</code>).</p> </li> <li> <p>PLATFORM: The device platform. Valid values are ANDROID or IOS.</p> </li> <li> <p>OS_VERSION: The operating system version (for example, 10.3.2).</p> </li> <li> <p>MODEL: The device model (for example, iPad 5th Gen).</p> </li> <li> <p>AVAILABILITY: The current availability of the device. Valid values are AVAILABLE, HIGHLY_AVAILABLE, BUSY, or TEMPORARY_NOT_AVAILABLE.</p> </li> <li> <p>FORM_FACTOR: The device form factor. Valid values are PHONE or TABLET.</p> </li> <li> <p>MANUFACTURER: The device manufacturer (for example, Apple).</p> </li> <li> <p>REMOTE_ACCESS_ENABLED: Whether the device is enabled for remote access. Valid values are TRUE or FALSE.</p> </li> <li> <p>REMOTE_DEBUG_ENABLED: Whether the device is enabled for remote debugging. Valid values are TRUE or FALSE. Because remote debugging is <a href=\"https://docs.aws.amazon.com/devicefarm/latest/developerguide/history.html\">no longer supported</a>, this filter is ignored.</p> </li> <li> <p>INSTANCE_ARN: The Amazon Resource Name (ARN) of the device instance.</p> </li> <li> <p>INSTANCE_LABELS: The label of the device instance.</p> </li> <li> <p>FLEET_TYPE: The fleet type. Valid values are PUBLIC or PRIVATE.</p> </li> </ul> </li> <li> <p> <b>Operator</b> </p> <p>The filter operator.</p> <ul> <li> <p>The EQUALS operator is available for every attribute except INSTANCE_LABELS.</p> </li> <li> <p>The CONTAINS operator is available for the INSTANCE_LABELS and MODEL attributes.</p> </li> <li> <p>The IN and NOT_IN operators are available for the ARN, OS_VERSION, MODEL, MANUFACTURER, and INSTANCE_ARN attributes.</p> </li> <li> <p>The LESS_THAN, GREATER_THAN, LESS_THAN_OR_EQUALS, and GREATER_THAN_OR_EQUALS operators are also available for the OS_VERSION attribute.</p> </li> </ul> </li> <li> <p> <b>Values</b> </p> <p>An array of one or more filter values.</p> <p class=\"title\"> <b>Operator Values</b> </p> <ul> <li> <p>The IN and NOT_IN operators can take a values array that has more than one element.</p> </li> <li> <p>The other operators require an array with a single element.</p> </li> </ul> <p class=\"title\"> <b>Attribute Values</b> </p> <ul> <li> <p>The PLATFORM attribute can be set to ANDROID or IOS.</p> </li> <li> <p>The AVAILABILITY attribute can be set to AVAILABLE, HIGHLY_AVAILABLE, BUSY, or TEMPORARY_NOT_AVAILABLE.</p> </li> <li> <p>The FORM_FACTOR attribute can be set to PHONE or TABLET.</p> </li> <li> <p>The FLEET_TYPE attribute can be set to PUBLIC or PRIVATE.</p> </li> </ul> </li> </ul>"
        },
        "maxDevices":{
          "shape":"Integer",
          "documentation":"<p>The maximum number of devices to be included in a test run.</p>"
        }
      },
      "documentation":"<p>Represents the device filters used in a test run and the maximum number of devices to be included in the run. It is passed in as the <code>deviceSelectionConfiguration</code> request parameter in <a>ScheduleRun</a>.</p>"
    },
    "DeviceSelectionResult":{
      "type":"structure",
      "members":{
        "filters":{
          "shape":"DeviceFilters",
          "documentation":"<p>The filters in a device selection result.</p>"
        },
        "matchedDevicesCount":{
          "shape":"Integer",
          "documentation":"<p>The number of devices that matched the device filter selection criteria.</p>"
        },
        "maxDevices":{
          "shape":"Integer",
          "documentation":"<p>The maximum number of devices to be selected by a device filter and included in a test run.</p>"
        }
      },
      "documentation":"<p>Contains the run results requested by the device selection configuration and how many devices were returned. For an example of the JSON response syntax, see <a>ScheduleRun</a>.</p>"
    },
    "Devices":{
      "type":"list",
      "member":{"shape":"Device"}
    },
    "Double":{"type":"double"},
    "ExceptionMessage":{"type":"string"},
    "ExecutionConfiguration":{
      "type":"structure",
      "members":{
        "jobTimeoutMinutes":{
          "shape":"JobTimeoutMinutes",
          "documentation":"<p>The number of minutes a test run executes before it times out.</p>"
        },
        "accountsCleanup":{
          "shape":"AccountsCleanup",
          "documentation":"<p>True if account cleanup is enabled at the beginning of the test. Otherwise, false.</p>"
        },
        "appPackagesCleanup":{
          "shape":"AppPackagesCleanup",
          "documentation":"<p>True if app package cleanup is enabled at the beginning of the test. Otherwise, false.</p>"
        },
        "videoCapture":{
          "shape":"VideoCapture",
          "documentation":"<p>Set to true to enable video capture. Otherwise, set to false. The default is true.</p>"
        },
        "skipAppResign":{
          "shape":"SkipAppResign",
          "documentation":"<p>When set to <code>true</code>, for private devices, Device Farm does not sign your app again. For public devices, Device Farm always signs your apps again.</p> <p>For more information about how Device Farm re-signs your apps, see <a href=\"http://aws.amazon.com/device-farm/faqs/\">Do you modify my app?</a> in the <i>AWS Device Farm FAQs</i>.</p>"
        }
      },
      "documentation":"<p>Represents configuration information about a test run, such as the execution timeout (in minutes).</p>"
    },
    "ExecutionResult":{
      "type":"string",
      "enum":[
        "PENDING",
        "PASSED",
        "WARNED",
        "FAILED",
        "SKIPPED",
        "ERRORED",
        "STOPPED"
      ]
    },
    "ExecutionResultCode":{
      "type":"string",
      "enum":[
        "PARSING_FAILED",
        "VPC_ENDPOINT_SETUP_FAILED"
      ]
    },
    "ExecutionStatus":{
      "type":"string",
      "enum":[
        "PENDING",
        "PENDING_CONCURRENCY",
        "PENDING_DEVICE",
        "PROCESSING",
        "SCHEDULING",
        "PREPARING",
        "RUNNING",
        "COMPLETED",
        "STOPPING"
      ]
    },
    "Filter":{
      "type":"string",
      "max":8192,
      "min":0
    },
    "GetAccountSettingsRequest":{
      "type":"structure",
      "members":{},
      "documentation":"<p>Represents the request sent to retrieve the account settings.</p>"
    },
    "GetAccountSettingsResult":{
      "type":"structure",
      "members":{
        "accountSettings":{
          "shape":"AccountSettings",
          "documentation":"<p>The account settings.</p>"
        }
      },
      "documentation":"<p>Represents the account settings return values from the <code>GetAccountSettings</code> request.</p>"
    },
    "GetDeviceInstanceRequest":{
      "type":"structure",
      "required":["arn"],
      "members":{
        "arn":{
          "shape":"AmazonResourceName",
          "documentation":"<p>The Amazon Resource Name (ARN) of the instance you're requesting information about.</p>"
        }
      }
    },
    "GetDeviceInstanceResult":{
      "type":"structure",
      "members":{
        "deviceInstance":{
          "shape":"DeviceInstance",
          "documentation":"<p>An object that contains information about your device instance.</p>"
        }
      }
    },
    "GetDevicePoolCompatibilityRequest":{
      "type":"structure",
      "required":["devicePoolArn"],
      "members":{
        "devicePoolArn":{
          "shape":"AmazonResourceName",
          "documentation":"<p>The device pool's ARN.</p>"
        },
        "appArn":{
          "shape":"AmazonResourceName",
          "documentation":"<p>The ARN of the app that is associated with the specified device pool.</p>"
        },
        "testType":{
          "shape":"TestType",
[...]
