{{#contentFor 'bodyScripts'}}
    <script src="/core/admin/assets/lib/chart.min.js"></script>
    <script>
    $(document).ready(function(){

      //$('body').click(function(){
        $('.time').fadeIn(1000);
        $('.image').delay(300).fadeIn(1000);
        $('.posts').delay(600).fadeIn(900, function(){

          var ctx = $("#poststats").get(0).getContext("2d");
          var data = [
            {
              value: 9,
              color:"#9ec14a"
            },
            {
              value : 4,
              color : "#f9e15d"
            },
            {
              value : 2,
              color : "#EB5700"
            }
          ];
          var options = {
            animationEasing: 'easeOutQuart',
            percentageInnerCutout: 60,
            segmentStrokeColor : "#efefef"
          };
          var poststats = new Chart(ctx).Doughnut(data, options);

        });

        $('.stats').delay(800).fadeIn(1000);
        $('.facebook').delay(1000).fadeIn(1000);
        $('.gplus').delay(1200).fadeIn(1000);
        $('.twitter').delay(1300).fadeIn(1000);
        $('.campaignmonitor').delay(1400).fadeIn(1000);
      //});

    });
    </script>
{{/contentFor}}

{{!< default}}
<div class="time widget"></div>
<div class="image widget"></div>
<div class="posts widget none">
    <div class="chart">
        <canvas id="poststats" width="250" height="250"></canvas>
        <ul class="data">
            <li><span class="ready">9</span> Ready</li>
            <li><span class="pending">4</span> Pending</li>
            <li><span class="draft">1</span> Draft</li>
        </ul>
    </div>
</div>
<div class="stats widget"></div>
<div class="facebook widget"></div>
<div class="gplus widget none"></div>
<div class="twitter widget"></div>
<div class="campaignmonitor widget none"></div>