{{!< default}}
<div class="time widget"></div>
<div class="image widget"></div>
<div class="posts widget none">
    <div class="chart">
        <canvas id="poststats" width="250" height="250"></canvas>
        <ul class="data">
            <li><span class="ready">9</span> Ready</li>
            <li><span class="pending">4</span> Pending</li>
            <li><span class="draft">1</span> Draft</li>
        </ul>
    </div>
</div>
<div class="stats widget"></div>
<div class="facebook widget"></div>
<div class="gplus widget none"></div>
<div class="twitter widget"></div>
<div class="campaignmonitor widget none"></div>