<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (gte IE 9)| IEMobile |!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>Ghost</title>
        <meta name="description" content="">
        <meta name="author" content="">

        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes" />

        <link rel="shortcut icon" href="/favicon.ico">
        <meta http-equiv="cleartype" content="on">

        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:300,400,700">
        <link rel="stylesheet" href="/core/admin/assets/css/screen.css">
        <link rel="stylesheet" type="text/css" href="/core/admin/assets/lib/codemirror/codemirror.css"> <!-- TODO: Kill this - #29 -->
        <link rel="stylesheet" type="text/css" href="/core/admin/assets/lib/icheck/css/icheck.css"> <!-- TODO: Kill this - #29 -->
        {{{block "pageStyles"}}}
    </head>

    <body class="{{bodyClass}}" id="js-body-{{bodyClass}}">
        {{#unless hideNavbar}}
            {{> navbar}}
        {{/unless}}

        <main role="main">
            {{> flashes}}

            {{{body}}}
        </main>
    </body>

    <!-- Scripts for the app, for now (should eventually concat & minify with grunt) -->
    <script type="text/javascript" src="/core/admin/assets/lib/json2.js"></script>
    <script type="text/javascript" src="/core/admin/assets/lib/jquery/jquery.js"></script>
    <script type="text/javascript" src="/core/admin/assets/lib/underscore.js"></script>
    <script type="text/javascript" src="/core/admin/assets/lib/backbone.js"></script>
    <script type="text/javascript" src="/core/admin/assets/js/lib/backbone-addons.js"></script>
    <script type="text/javascript" src="/core/admin/assets/js/lib/jquery-addons.js"></script>
    <script type="text/javascript" src="/core/admin/assets/lib/chart.js"></script>
    <script type="text/javascript" src="/core/admin/assets/lib/icheck/jquery.icheck.js"></script>
    <script type="text/javascript" src="/core/admin/assets/lib/codemirror/codemirror.js"></script>
    <script type="text/javascript" src="/core/admin/assets/lib/codemirror/mode/markdown/markdown.js"></script>
    <script type="text/javascript" src="/core/admin/assets/lib/showdown/showdown.js"></script>
    <script type="text/javascript" src="/core/admin/assets/lib/showdown/extensions/ghostdown.js"></script>
    <script type="text/javascript" src="/core/admin/assets/lib/shortcuts.js"></script>

    <!-- The App -->
    <script>
        var Ghost = {
            Models: {},
            Views: {},
            Collections: {}
        };
        var GhostData = {};
    </script>
    <script type="text/javascript" src="/core/admin/assets/js/models/post.js"></script>
    <script type="text/javascript" src="/core/admin/assets/js/models/setting.js"></script>
    <script type="text/javascript" src="/core/admin/assets/js/models/user.js"></script>
    <script type="text/javascript" src="/core/admin/assets/js/views/blog.js"></script>
    <script type="text/javascript" src="/core/admin/assets/js/views/editor.js"></script>
    <script type="text/javascript" src="/core/admin/assets/js/views/dashboard.js"></script>
    <script type="text/javascript" src="/core/admin/assets/js/views/settings.js"></script>
    <script type="text/javascript" src="/core/admin/assets/js/views/partials.js"></script>
    <script type="text/javascript" src="/core/admin/assets/js/router.js"></script>
    <script type="text/javascript" src="/core/admin/assets/js/starter.js"></script>
</html>