{{!< default}}
<img class="login-logo" src="/core/admin/assets/img/logo.png" alt="" />
<form id="register" method="post">
    <div class="email-wrap">
        <input class="email" type="text" placeholder="Email Address" name="email">
    </div>
    <div class="password-wrap">
        <input class="password" type="password" placeholder="Password" name="password">
    </div>
    <button class="button-save" type="submit">Register</button>
</form>