@-webkit-keyframes off-canvas {
  0%   { left:0; }
  100% { left:300px; }
}
@-moz-keyframes off-canvas {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes off-canvas {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes off-canvas {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}