{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2015-09-21",
    "endpointPrefix":"api.ecr",
    "jsonVersion":"1.1",
    "protocol":"json",
    "protocols":["json"],
    "serviceAbbreviation":"Amazon ECR",
    "serviceFullName":"Amazon Elastic Container Registry",
    "serviceId":"ECR",
    "signatureVersion":"v4",
    "signingName":"ecr",
    "targetPrefix":"AmazonEC2ContainerRegistry_V20150921",
    "uid":"ecr-2015-09-21",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "BatchCheckLayerAvailability":{
      "name":"BatchCheckLayerAvailability",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchCheckLayerAvailabilityRequest"},
      "output":{"shape":"BatchCheckLayerAvailabilityResponse"},
      "errors":[
        {"shape":"RepositoryNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Checks the availability of one or more image layers in a repository.</p> <p>When an image is pushed to a repository, each image layer is checked to verify if it has been uploaded before. If it has been uploaded, then the image layer is skipped.</p> <note> <p>This operation is used by the Amazon ECR proxy and is not generally used by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>"
    },
    "BatchDeleteImage":{
      "name":"BatchDeleteImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDeleteImageRequest"},
      "output":{"shape":"BatchDeleteImageResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"RepositoryNotFoundException"}
      ],
      "documentation":"<p>Deletes a list of specified images within a repository. Images are specified with either an <code>imageTag</code> or <code>imageDigest</code>.</p> <p>You can remove a tag from an image by specifying the image's tag in your request. When you remove the last tag from an image, the image is deleted from your repository.</p> <p>You can completely delete an image (and all of its tags) by specifying the image's digest in your request.</p>"
    },
    "BatchGetImage":{
      "name":"BatchGetImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetImageRequest"},
      "output":{"shape":"BatchGetImageResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"RepositoryNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnableToGetUpstreamImageException"}
      ],
      "documentation":"<p>Gets detailed information for an image. Images are specified with either an <code>imageTag</code> or <code>imageDigest</code>.</p> <p>When an image is pulled, the BatchGetImage API is called once to retrieve the image manifest.</p>"
    },
    "BatchGetRepositoryScanningConfiguration":{
      "name":"BatchGetRepositoryScanningConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetRepositoryScanningConfigurationRequest"},
      "output":{"shape":"BatchGetRepositoryScanningConfigurationResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"RepositoryNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Gets the scanning configuration for one or more repositories.</p>"
    },
    "CompleteLayerUpload":{
      "name":"CompleteLayerUpload",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CompleteLayerUploadRequest"},
      "output":{"shape":"CompleteLayerUploadResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"RepositoryNotFoundException"},
        {"shape":"UploadNotFoundException"},
        {"shape":"InvalidLayerException"},
        {"shape":"LayerPartTooSmallException"},
        {"shape":"LayerAlreadyExistsException"},
        {"shape":"EmptyUploadException"},
        {"shape":"KmsException"}
      ],
      "documentation":"<p>Informs Amazon ECR that the image layer upload has completed for a specified registry, repository name, and upload ID. You can optionally provide a <code>sha256</code> digest of the image layer for data validation purposes.</p> <p>When an image is pushed, the CompleteLayerUpload API is called once per each new image layer to verify that the upload has completed.</p> <note> <p>This operation is used by the Amazon ECR proxy and is not generally used by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>"
    },
    "CreatePullThroughCacheRule":{
      "name":"CreatePullThroughCacheRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePullThroughCacheRuleRequest"},
      "output":{"shape":"CreatePullThroughCacheRuleResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ValidationException"},
        {"shape":"PullThroughCacheRuleAlreadyExistsException"},
        {"shape":"UnsupportedUpstreamRegistryException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnableToAccessSecretException"},
        {"shape":"SecretNotFoundException"},
        {"shape":"UnableToDecryptSecretValueException"}
      ],
      "documentation":"<p>Creates a pull through cache rule. A pull through cache rule provides a way to cache images from an upstream registry source in your Amazon ECR private registry. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/pull-through-cache.html\">Using pull through cache rules</a> in the <i>Amazon Elastic Container Registry User Guide</i>.</p>"
    },
    "CreateRepository":{
      "name":"CreateRepository",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateRepositoryRequest"},
      "output":{"shape":"CreateRepositoryResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidTagParameterException"},
        {"shape":"TooManyTagsException"},
        {"shape":"RepositoryAlreadyExistsException"},
        {"shape":"LimitExceededException"},
        {"shape":"KmsException"}
      ],
      "documentation":"<p>Creates a repository. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/Repositories.html\">Amazon ECR repositories</a> in the <i>Amazon Elastic Container Registry User Guide</i>.</p>"
    },
    "CreateRepositoryCreationTemplate":{
      "name":"CreateRepositoryCreationTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateRepositoryCreationTemplateRequest"},
      "output":{"shape":"CreateRepositoryCreationTemplateResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"ValidationException"},
        {"shape":"InvalidParameterException"},
        {"shape":"LimitExceededException"},
        {"shape":"TemplateAlreadyExistsException"}
      ],
      "documentation":"<p>Creates a repository creation template. This template is used to define the settings for repositories created by Amazon ECR on your behalf. For example, repositories created through pull through cache actions. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/repository-creation-templates.html\">Private repository creation templates</a> in the <i>Amazon Elastic Container Registry User Guide</i>.</p>"
    },
    "DeleteLifecyclePolicy":{
      "name":"DeleteLifecyclePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteLifecyclePolicyRequest"},
      "output":{"shape":"DeleteLifecyclePolicyResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"RepositoryNotFoundException"},
        {"shape":"LifecyclePolicyNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes the lifecycle policy associated with the specified repository.</p>"
    },
    "DeletePullThroughCacheRule":{
      "name":"DeletePullThroughCacheRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePullThroughCacheRuleRequest"},
      "output":{"shape":"DeletePullThroughCacheRuleResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ValidationException"},
        {"shape":"PullThroughCacheRuleNotFoundException"}
      ],
      "documentation":"<p>Deletes a pull through cache rule.</p>"
    },
    "DeleteRegistryPolicy":{
      "name":"DeleteRegistryPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRegistryPolicyRequest"},
      "output":{"shape":"DeleteRegistryPolicyResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"RegistryPolicyNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes the registry permissions policy.</p>"
    },
    "DeleteRepository":{
      "name":"DeleteRepository",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRepositoryRequest"},
      "output":{"shape":"DeleteRepositoryResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"RepositoryNotFoundException"},
        {"shape":"RepositoryNotEmptyException"},
        {"shape":"KmsException"}
      ],
      "documentation":"<p>Deletes a repository. If the repository isn't empty, you must either delete the contents of the repository or use the <code>force</code> option to delete the repository and have Amazon ECR delete all of its contents on your behalf.</p>"
    },
    "DeleteRepositoryCreationTemplate":{
      "name":"DeleteRepositoryCreationTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRepositoryCreationTemplateRequest"},
      "output":{"shape":"DeleteRepositoryCreationTemplateResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"ValidationException"},
        {"shape":"InvalidParameterException"},
        {"shape":"TemplateNotFoundException"}
      ],
      "documentation":"<p>Deletes a repository creation template.</p>"
    },
    "DeleteRepositoryPolicy":{
      "name":"DeleteRepositoryPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRepositoryPolicyRequest"},
      "output":{"shape":"DeleteRepositoryPolicyResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"RepositoryNotFoundException"},
        {"shape":"RepositoryPolicyNotFoundException"}
      ],
      "documentation":"<p>Deletes the repository policy associated with the specified repository.</p>"
    },
    "DescribeImageReplicationStatus":{
      "name":"DescribeImageReplicationStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeImageReplicationStatusRequest"},
      "output":{"shape":"DescribeImageReplicationStatusResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ImageNotFoundException"},
        {"shape":"RepositoryNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns the replication status for a specified image.</p>"
    },
    "DescribeImageScanFindings":{
      "name":"DescribeImageScanFindings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeImageScanFindingsRequest"},
      "output":{"shape":"DescribeImageScanFindingsResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"RepositoryNotFoundException"},
        {"shape":"ImageNotFoundException"},
        {"shape":"ScanNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns the scan findings for the specified image.</p>"
    },
    "DescribeImages":{
      "name":"DescribeImages",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeImagesRequest"},
      "output":{"shape":"DescribeImagesResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"RepositoryNotFoundException"},
        {"shape":"ImageNotFoundException"}
      ],
      "documentation":"<p>Returns metadata about the images in a repository.</p> <note> <p>Starting with Docker version 1.9, the Docker client compresses image layers before pushing them to a V2 Docker registry. The output of the <code>docker images</code> command shows the uncompressed image size. Therefore, Docker might return a larger image than the image shown in the Amazon Web Services Management Console.</p> </note> <important> <p>The new version of Amazon ECR <i>Basic Scanning</i> doesn't use the <a>ImageDetail$imageScanFindingsSummary</a> and <a>ImageDetail$imageScanStatus</a> attributes from the API response to return scan results. Use the <a>DescribeImageScanFindings</a> API instead. For more information about Amazon Web Services native basic scanning, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/image-scanning.html\"> Scan images for software vulnerabilities in Amazon ECR</a>.</p> </important>"
    },
    "DescribePullThroughCacheRules":{
      "name":"DescribePullThroughCacheRules",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePullThroughCacheRulesRequest"},
      "output":{"shape":"DescribePullThroughCacheRulesResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ValidationException"},
        {"shape":"PullThroughCacheRuleNotFoundException"}
      ],
      "documentation":"<p>Returns the pull through cache rules for a registry.</p>"
    },
    "DescribeRegistry":{
      "name":"DescribeRegistry",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRegistryRequest"},
      "output":{"shape":"DescribeRegistryResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Describes the settings for a registry. The replication configuration for a repository can be created or updated with the <a>PutReplicationConfiguration</a> API action.</p>"
    },
    "DescribeRepositories":{
      "name":"DescribeRepositories",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRepositoriesRequest"},
      "output":{"shape":"DescribeRepositoriesResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"RepositoryNotFoundException"}
      ],
      "documentation":"<p>Describes image repositories in a registry.</p>"
    },
    "DescribeRepositoryCreationTemplates":{
      "name":"DescribeRepositoryCreationTemplates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRepositoryCreationTemplatesRequest"},
      "output":{"shape":"DescribeRepositoryCreationTemplatesResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"ValidationException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Returns details about the repository creation templates in a registry. The <code>prefixes</code> request parameter can be used to return the details for a specific repository creation template.</p>"
    },
    "GetAccountSetting":{
      "name":"GetAccountSetting",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAccountSettingRequest"},
      "output":{"shape":"GetAccountSettingResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"ValidationException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Retrieves the account setting value for the specified setting name.</p>"
    },
    "GetAuthorizationToken":{
      "name":"GetAuthorizationToken",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAuthorizationTokenRequest"},
      "output":{"shape":"GetAuthorizationTokenResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Retrieves an authorization token. An authorization token represents your IAM authentication credentials and can be used to access any Amazon ECR registry that your IAM principal has access to. The authorization token is valid for 12 hours.</p> <p>The <code>authorizationToken</code> returned is a base64 encoded string that can be decoded and used in a <code>docker login</code> command to authenticate to a registry. The CLI offers an <code>get-login-password</code> command that simplifies the login process. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/Registries.html#registry_auth\">Registry authentication</a> in the <i>Amazon Elastic Container Registry User Guide</i>.</p>"
    },
    "GetDownloadUrlForLayer":{
      "name":"GetDownloadUrlForLayer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDownloadUrlForLayerRequest"},
      "output":{"shape":"GetDownloadUrlForLayerResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"LayersNotFoundException"},
        {"shape":"LayerInaccessibleException"},
        {"shape":"RepositoryNotFoundException"},
        {"shape":"UnableToGetUpstreamLayerException"}
      ],
      "documentation":"<p>Retrieves the pre-signed Amazon S3 download URL corresponding to an image layer. You can only get URLs for image layers that are referenced in an image.</p> <p>When an image is pulled, the GetDownloadUrlForLayer API is called once per image layer that is not already cached.</p> <note> <p>This operation is used by the Amazon ECR proxy and is not generally used by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>"
    },
    "GetLifecyclePolicy":{
      "name":"GetLifecyclePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetLifecyclePolicyRequest"},
      "output":{"shape":"GetLifecyclePolicyResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"RepositoryNotFoundException"},
        {"shape":"LifecyclePolicyNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Retrieves the lifecycle policy for the specified repository.</p>"
    },
    "GetLifecyclePolicyPreview":{
      "name":"GetLifecyclePolicyPreview",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetLifecyclePolicyPreviewRequest"},
      "output":{"shape":"GetLifecyclePolicyPreviewResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"RepositoryNotFoundException"},
        {"shape":"LifecyclePolicyPreviewNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Retrieves the results of the lifecycle policy preview request for the specified repository.</p>"
    },
    "GetRegistryPolicy":{
      "name":"GetRegistryPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRegistryPolicyRequest"},
      "output":{"shape":"GetRegistryPolicyResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"RegistryPolicyNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Retrieves the permissions policy for a registry.</p>"
    },
    "GetRegistryScanningConfiguration":{
      "name":"GetRegistryScanningConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRegistryScanningConfigurationRequest"},
      "output":{"shape":"GetRegistryScanningConfigurationResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Retrieves the scanning configuration for a registry.</p>"
    },
    "GetRepositoryPolicy":{
      "name":"GetRepositoryPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRepositoryPolicyRequest"},
      "output":{"shape":"GetRepositoryPolicyResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"RepositoryNotFoundException"},
        {"shape":"RepositoryPolicyNotFoundException"}
      ],
      "documentation":"<p>Retrieves the repository policy for the specified repository.</p>"
    },
    "InitiateLayerUpload":{
      "name":"InitiateLayerUpload",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"InitiateLayerUploadRequest"},
      "output":{"shape":"InitiateLayerUploadResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"RepositoryNotFoundException"},
        {"shape":"KmsException"}
      ],
      "documentation":"<p>Notifies Amazon ECR that you intend to upload an image layer.</p> <p>When an image is pushed, the InitiateLayerUpload API is called once per image layer that has not already been uploaded. Whether or not an image layer has been uploaded is determined by the BatchCheckLayerAvailability API action.</p> <note> <p>This operation is used by the Amazon ECR proxy and is not generally used by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>"
    },
    "ListImages":{
      "name":"ListImages",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListImagesRequest"},
      "output":{"shape":"ListImagesResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"RepositoryNotFoundException"}
      ],
      "documentation":"<p>Lists all the image IDs for the specified repository.</p> <p>You can filter images based on whether or not they are tagged by using the <code>tagStatus</code> filter and specifying either <code>TAGGED</code>, <code>UNTAGGED</code> or <code>ANY</code>. For example, you can filter your results to return only <code>UNTAGGED</code> images and then pipe that result to a <a>BatchDeleteImage</a> operation to delete them. Or, you can filter your results to return only <code>TAGGED</code> images to list all of the tags in your repository.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"RepositoryNotFoundException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>List the tags for an Amazon ECR resource.</p>"
    },
    "PutAccountSetting":{
      "name":"PutAccountSetting",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutAccountSettingRequest"},
      "output":{"shape":"PutAccountSettingResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"ValidationException"},
        {"shape":"InvalidParameterException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Allows you to change the basic scan type version or registry policy scope.</p>"
    },
    "PutImage":{
      "name":"PutImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutImageRequest"},
      "output":{"shape":"PutImageResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"RepositoryNotFoundException"},
        {"shape":"ImageAlreadyExistsException"},
        {"shape":"LayersNotFoundException"},
        {"shape":"ReferencedImagesNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ImageTagAlreadyExistsException"},
        {"shape":"ImageDigestDoesNotMatchException"},
        {"shape":"KmsException"}
      ],
      "documentation":"<p>Creates or updates the image manifest and tags associated with an image.</p> <p>When an image is pushed and all new image layers have been uploaded, the PutImage API is called once to create or update the image manifest and the tags associated with the image.</p> <note> <p>This operation is used by the Amazon ECR proxy and is not generally used by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>"
    },
    "PutImageScanningConfiguration":{
      "name":"PutImageScanningConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutImageScanningConfigurationRequest"},
      "output":{"shape":"PutImageScanningConfigurationResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"RepositoryNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<important> <p>The <code>PutImageScanningConfiguration</code> API is being deprecated, in favor of specifying the image scanning configuration at the registry level. For more information, see <a>PutRegistryScanningConfiguration</a>.</p> </important> <p>Updates the image scanning configuration for the specified repository.</p>"
    },
    "PutImageTagMutability":{
      "name":"PutImageTagMutability",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutImageTagMutabilityRequest"},
      "output":{"shape":"PutImageTagMutabilityResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"RepositoryNotFoundException"}
      ],
      "documentation":"<p>Updates the image tag mutability settings for the specified repository. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/image-tag-mutability.html\">Image tag mutability</a> in the <i>Amazon Elastic Container Registry User Guide</i>.</p>"
    },
    "PutLifecyclePolicy":{
      "name":"PutLifecyclePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutLifecyclePolicyRequest"},
      "output":{"shape":"PutLifecyclePolicyResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"RepositoryNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Creates or updates the lifecycle policy for the specified repository. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/LifecyclePolicies.html\">Lifecycle policy template</a>.</p>"
    },
    "PutRegistryPolicy":{
      "name":"PutRegistryPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutRegistryPolicyRequest"},
      "output":{"shape":"PutRegistryPolicyResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Creates or updates the permissions policy for your registry.</p> <p>A registry policy is used to specify permissions for another Amazon Web Services account and is used when configuring cross-account replication. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/registry-permissions.html\">Registry permissions</a> in the <i>Amazon Elastic Container Registry User Guide</i>.</p>"
    },
    "PutRegistryScanningConfiguration":{
      "name":"PutRegistryScanningConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutRegistryScanningConfigurationRequest"},
      "output":{"shape":"PutRegistryScanningConfigurationResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Creates or updates the scanning configuration for your private registry.</p>"
    },
    "PutReplicationConfiguration":{
      "name":"PutReplicationConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutReplicationConfigurationRequest"},
      "output":{"shape":"PutReplicationConfigurationResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Creates or updates the replication configuration for a registry. The existing replication configuration for a repository can be retrieved with the <a>DescribeRegistry</a> API action. The first time the PutReplicationConfiguration API is called, a service-linked IAM role is created in your account for the replication process. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/using-service-linked-roles.html\">Using service-linked roles for Amazon ECR</a> in the <i>Amazon Elastic Container Registry User Guide</i>. For more information on the custom role for replication, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/replication-creation-templates.html#roles-creatingrole-user-console\">Creating an IAM role for replication</a>.</p> <note> <p>When configuring cross-account replication, the destination account must grant the source account permission to replicate. This permission is controlled using a registry permissions policy. For more information, see <a>PutRegistryPolicy</a>.</p> </note>"
    },
    "SetRepositoryPolicy":{
      "name":"SetRepositoryPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetRepositoryPolicyRequest"},
      "output":{"shape":"SetRepositoryPolicyResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"RepositoryNotFoundException"}
      ],
      "documentation":"<p>Applies a repository policy to the specified repository to control access permissions. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/repository-policies.html\">Amazon ECR Repository policies</a> in the <i>Amazon Elastic Container Registry User Guide</i>.</p>"
    },
    "StartImageScan":{
      "name":"StartImageScan",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartImageScanRequest"},
      "output":{"shape":"StartImageScanResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"UnsupportedImageTypeException"},
        {"shape":"LimitExceededException"},
        {"shape":"RepositoryNotFoundException"},
        {"shape":"ImageNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Starts a basic image vulnerability scan.</p> <p> A basic image scan can only be started once per 24 hours on an individual image. This limit includes if an image was scanned on initial push. You can start up to 100,000 basic scans per 24 hours. This limit includes both scans on initial push and scans initiated by the StartImageScan API. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/image-scanning-basic.html\">Basic scanning</a> in the <i>Amazon Elastic Container Registry User Guide</i>.</p>"
    },
    "StartLifecyclePolicyPreview":{
      "name":"StartLifecyclePolicyPreview",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartLifecyclePolicyPreviewRequest"},
      "output":{"shape":"StartLifecyclePolicyPreviewResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"RepositoryNotFoundException"},
        {"shape":"LifecyclePolicyNotFoundException"},
        {"shape":"LifecyclePolicyPreviewInProgressException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Starts a preview of a lifecycle policy for the specified repository. This allows you to see the results before associating the lifecycle policy with the repository.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidTagParameterException"},
        {"shape":"TooManyTagsException"},
        {"shape":"RepositoryNotFoundException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Adds specified tags to a resource with the specified ARN. Existing tags on a resource are not changed if they are not specified in the request parameters.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidTagParameterException"},
        {"shape":"TooManyTagsException"},
        {"shape":"RepositoryNotFoundException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Deletes specified tags from a resource.</p>"
    },
    "UpdatePullThroughCacheRule":{
      "name":"UpdatePullThroughCacheRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePullThroughCacheRuleRequest"},
      "output":{"shape":"UpdatePullThroughCacheRuleResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ValidationException"},
        {"shape":"UnableToAccessSecretException"},
        {"shape":"PullThroughCacheRuleNotFoundException"},
        {"shape":"SecretNotFoundException"},
        {"shape":"UnableToDecryptSecretValueException"}
      ],
      "documentation":"<p>Updates an existing pull through cache rule.</p>"
    },
    "UpdateRepositoryCreationTemplate":{
      "name":"UpdateRepositoryCreationTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateRepositoryCreationTemplateRequest"},
      "output":{"shape":"UpdateRepositoryCreationTemplateResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"ValidationException"},
        {"shape":"InvalidParameterException"},
        {"shape":"TemplateNotFoundException"}
      ],
      "documentation":"<p>Updates an existing repository creation template.</p>"
    },
    "UploadLayerPart":{
      "name":"UploadLayerPart",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UploadLayerPartRequest"},
      "output":{"shape":"UploadLayerPartResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidLayerPartException"},
        {"shape":"RepositoryNotFoundException"},
        {"shape":"UploadNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"KmsException"}
      ],
      "documentation":"<p>Uploads an image layer part to Amazon ECR.</p> <p>When an image is pushed, each new image layer is uploaded in parts. The maximum size of each image layer part can be 20971520 bytes (or about 20MB). The UploadLayerPart API is called once per each new image layer part.</p> <note> <p>This operation is used by the Amazon ECR proxy and is not generally used by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>"
    },
    "ValidatePullThroughCacheRule":{
      "name":"ValidatePullThroughCacheRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ValidatePullThroughCacheRuleRequest"},
      "output":{"shape":"ValidatePullThroughCacheRuleResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ValidationException"},
        {"shape":"PullThroughCacheRuleNotFoundException"}
      ],
      "documentation":"<p>Validates an existing pull through cache rule for an upstream registry that requires authentication. This will retrieve the contents of the Amazon Web Services Secrets Manager secret, verify the syntax, and then validate that authentication to the upstream registry is successful.</p>"
    }
  },
  "shapes":{
    "AccountSettingName":{
      "type":"string",
      "max":64,
      "min":1
    },
    "AccountSettingValue":{"type":"string"},
    "Arch":{"type":"string"},
    "Arn":{"type":"string"},
    "Attribute":{
      "type":"structure",
      "required":["key"],
      "members":{
        "key":{
          "shape":"AttributeKey",
          "documentation":"<p>The attribute key.</p>"
        },
        "value":{
          "shape":"AttributeValue",
          "documentation":"<p>The value assigned to the attribute key.</p>"
        }
      },
      "documentation":"<p>This data type is used in the <a>ImageScanFinding</a> data type.</p>"
    },
    "AttributeKey":{
      "type":"string",
      "max":128,
      "min":1
    },
    "AttributeList":{
      "type":"list",
      "member":{"shape":"Attribute"},
      "max":50,
      "min":0
    },
    "AttributeValue":{
      "type":"string",
      "max":256,
      "min":1
    },
    "Author":{"type":"string"},
    "AuthorizationData":{
      "type":"structure",
      "members":{
        "authorizationToken":{
          "shape":"Base64",
          "documentation":"<p>A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.</p>"
        },
        "expiresAt":{
          "shape":"ExpirationTimestamp",
          "documentation":"<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>"
        },
        "proxyEndpoint":{
          "shape":"ProxyEndpoint",
          "documentation":"<p>The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>.. </p>"
        }
      },
      "documentation":"<p>An object representing authorization data for an Amazon ECR registry.</p>"
    },
    "AuthorizationDataList":{
      "type":"list",
      "member":{"shape":"AuthorizationData"}
    },
    "AwsEcrContainerImageDetails":{
      "type":"structure",
      "members":{
        "architecture":{
          "shape":"Arch",
          "documentation":"<p>The architecture of the Amazon ECR container image.</p>"
        },
        "author":{
          "shape":"Author",
          "documentation":"<p>The image author of the Amazon ECR container image.</p>"
        },
        "imageHash":{
          "shape":"ImageDigest",
          "documentation":"<p>The image hash of the Amazon ECR container image.</p>"
        },
        "imageTags":{
          "shape":"ImageTagsList",
          "documentation":"<p>The image tags attached to the Amazon ECR container image.</p>"
        },
        "platform":{
          "shape":"Platform",
          "documentation":"<p>The platform of the Amazon ECR container image.</p>"
        },
        "pushedAt":{
          "shape":"Date",
          "documentation":"<p>The date and time the Amazon ECR container image was pushed.</p>"
        },
        "lastInUseAt":{
          "shape":"Date",
          "documentation":"<p>The most recent date and time a cluster was running the image.</p>"
        },
        "inUseCount":{
          "shape":"InUseCount",
          "documentation":"<p>The number of Amazon ECS or Amazon EKS clusters currently running the image.</p>"
        },
        "registry":{
          "shape":"RegistryId",
          "documentation":"<p>The registry the Amazon ECR container image belongs to.</p>"
        },
        "repositoryName":{
          "shape":"RepositoryName",
          "documentation":"<p>The name of the repository the Amazon ECR container image resides in.</p>"
        }
      },
      "documentation":"<p>The image details of the Amazon ECR container image.</p>"
    },
    "Base64":{
      "type":"string",
      "pattern":"^\\S+$"
    },
    "BaseScore":{"type":"double"},
    "BatchCheckLayerAvailabilityRequest":{
      "type":"structure",
      "required":[
        "repositoryName",
        "layerDigests"
      ],
      "members":{
        "registryId":{
          "shape":"RegistryId",
          "documentation":"<p>The Amazon Web Services account ID associated with the registry that contains the image layers to check. If you do not specify a registry, the default registry is assumed.</p>"
        },
        "repositoryName":{
          "shape":"RepositoryName",
          "documentation":"<p>The name of the repository that is associated with the image layers to check.</p>"
        },
        "layerDigests":{
          "shape":"BatchedOperationLayerDigestList",
          "documentation":"<p>The digests of the image layers to check.</p>"
        }
      }
    },
    "BatchCheckLayerAvailabilityResponse":{
      "type":"structure",
      "members":{
        "layers":{
          "shape":"LayerList",
          "documentation":"<p>A list of image layer objects corresponding to the image layer references in the request.</p>"
        },
        "failures":{
          "shape":"LayerFailureList",
          "documentation":"<p>Any failures associated with the call.</p>"
        }
      }
    },
    "BatchDeleteImageRequest":{
      "type":"structure",
      "required":[
        "repositoryName",
        "imageIds"
      ],
      "members":{
        "registryId":{
          "shape":"RegistryId",
          "documentation":"<p>The Amazon Web Services account ID associated with the registry that contains the image to delete. If you do not specify a registry, the default registry is assumed.</p>"
        },
        "repositoryName":{
          "shape":"RepositoryName",
          "documentation":"<p>The repository that contains the image to delete.</p>"
        },
        "imageIds":{
          "shape":"ImageIdentifierList",
          "documentation":"<p>A list of image ID references that correspond to images to delete. The format of the <code>imageIds</code> reference is <code>imageTag=tag</code> or <code>imageDigest=digest</code>.</p>"
        }
      },
      "documentation":"<p>Deletes specified images within a specified repository. Images are specified with either the <code>imageTag</code> or <code>imageDigest</code>.</p>"
    },
    "BatchDeleteImageResponse":{
      "type":"structure",
      "members":{
        "imageIds":{
          "shape":"ImageIdentifierList",
          "documentation":"<p>The image IDs of the deleted images.</p>"
        },
        "failures":{
          "shape":"ImageFailureList",
          "documentation":"<p>Any failures associated with the call.</p>"
        }
      }
    },
    "BatchGetImageRequest":{
      "type":"structure",
      "required":[
        "repositoryName",
        "imageIds"
      ],
      "members":{
        "registryId":{
          "shape":"RegistryId",
          "documentation":"<p>The Amazon Web Services account ID associated with the registry that contains the images to describe. If you do not specify a registry, the default registry is assumed.</p>"
        },
        "repositoryName":{
          "shape":"RepositoryName",
          "documentation":"<p>The repository that contains the images to describe.</p>"
        },
        "imageIds":{
          "shape":"ImageIdentifierList",
          "documentation":"<p>A list of image ID references that correspond to images to describe. The format of the <code>imageIds</code> reference is <code>imageTag=tag</code> or <code>imageDigest=digest</code>.</p>"
        },
        "acceptedMediaTypes":{
          "shape":"MediaTypeList",
          "documentation":"<p>The accepted media types for the request.</p> <p>Valid values: <code>application/vnd.docker.distribution.manifest.v1+json</code> | <code>application/vnd.docker.distribution.manifest.v2+json</code> | <code>application/vnd.oci.image.manifest.v1+json</code> </p>"
        }
      }
    },
    "BatchGetImageResponse":{
      "type":"structure",
      "members":{
        "images":{
          "shape":"ImageList",
          "documentation":"<p>A list of image objects corresponding to the image references in the request.</p>"
        },
        "failures":{
          "shape":"ImageFailureList",
          "documentation":"<p>Any failures associated with the call.</p>"
        }
      }
    },
    "BatchGetRepositoryScanningConfigurationRequest":{
      "type":"structure",
      "required":["repositoryNames"],
      "members":{
        "repositoryNames":{
          "shape":"ScanningConfigurationRepositoryNameList",
          "documentation":"<p>One or more repository names to get the scanning configuration for.</p>"
        }
      }
    },
    "BatchGetRepositoryScanningConfigurationResponse":{
      "type":"structure",
      "members":{
        "scanningConfigurations":{
          "shape":"RepositoryScanningConfigurationList",
          "documentation":"<p>The scanning configuration for the requested repositories.</p>"
        },
        "failures":{
          "shape":"RepositoryScanningConfigurationFailureList",
          "documentation":"<p>Any failures associated with the call.</p>"
        }
      }
    },
    "BatchedOperationLayerDigest":{
      "type":"string",
      "max":1000,
      "min":0
    },
    "BatchedOperationLayerDigestList":{
      "type":"list",
      "member":{"shape":"BatchedOperationLayerDigest"},
      "max":100,
      "min":1
    },
    "CompleteLayerUploadRequest":{
      "type":"structure",
      "required":[
        "repositoryName",
        "uploadId",
        "layerDigests"
      ],
      "members":{
        "registryId":{
          "shape":"RegistryId",
          "documentation":"<p>The Amazon Web Services account ID associated with the registry to which to upload layers. If you do not specify a registry, the default registry is assumed.</p>"
        },
        "repositoryName":{
          "shape":"RepositoryName",
          "documentation":"<p>The name of the repository to associate with the image layer.</p>"
        },
        "uploadId":{
          "shape":"UploadId",
          "documentation":"<p>The upload ID from a previous <a>InitiateLayerUpload</a> operation to associate with the image layer.</p>"
        },
        "layerDigests":{
          "shape":"LayerDigestList",
          "documentation":"<p>The <code>sha256</code> digest of the image layer.</p>"
        }
      }
    },
    "CompleteLayerUploadResponse":{
      "type":"structure",
      "members":{
        "registryId":{
          "shape":"RegistryId",
          "documentation":"<p>The registry ID associated with the request.</p>"
        },
        "repositoryName":{
          "shape":"RepositoryName",
          "documentation":"<p>The repository name associated with the request.</p>"
        },
        "uploadId":{
          "shape":"UploadId",
          "documentation":"<p>The upload ID associated with the layer.</p>"
        },
        "layerDigest":{
          "shape":"LayerDigest",
          "documentation":"<p>The <code>sha256</code> digest of the image layer.</p>"
        }
      }
    },
    "CreatePullThroughCacheRuleRequest":{
      "type":"structure",
      "required":[
        "ecrRepositoryPrefix",
        "upstreamRegistryUrl"
      ],
      "members":{
        "ecrRepositoryPrefix":{
          "shape":"PullThroughCacheRuleRepositoryPrefix",
          "documentation":"<p>The repository name prefix to use when caching images from the source registry.</p> <important> <p>There is always an assumed <code>/</code> applied to the end of the prefix. If you specify <code>ecr-public</code> as the prefix, Amazon ECR treats that as <code>ecr-public/</code>.</p> </important>"
        },
        "upstreamRegistryUrl":{
          "shape":"Url",
          "documentation":"<p>The registry URL of the upstream public registry to use as the source for the pull through cache rule. The following is the syntax to use for each supported upstream registry.</p> <ul> <li> <p>Amazon ECR (<code>ecr</code>) – <code>&lt;accountId&gt;.dkr.ecr.&lt;region&gt;.amazonaws.com</code> </p> </li> <li> <p>Amazon ECR Public (<code>ecr-public</code>) – <code>public.ecr.aws</code> </p> </li> <li> <p>Docker Hub (<code>docker-hub</code>) – <code>registry-1.docker.io</code> </p> </li> <li> <p>GitHub Container Registry (<code>github-container-registry</code>) – <code>ghcr.io</code> </p> </li> <li> <p>GitLab Container Registry (<code>gitlab-container-registry</code>) – <code>registry.gitlab.com</code> </p> </li> <li> <p>Kubernetes (<code>k8s</code>) – <code>registry.k8s.io</code> </p> </li> <li> <p>Microsoft Azure Container Registry (<code>azure-container-registry</code>) – <code>&lt;custom&gt;.azurecr.io</code> </p> </li> <li> <p>Quay (<code>quay</code>) – <code>quay.io</code> </p> </li> </ul>"
        },
        "registryId":{
          "shape":"RegistryId",
          "documentation":"<p>The Amazon Web Services account ID associated with the registry to create the pull through cache rule for. If you do not specify a registry, the default registry is assumed.</p>"
        },
        "upstreamRegistry":{
          "shape":"UpstreamRegistry",
          "documentation":"<p>The name of the upstream registry.</p>"
        },
        "credentialArn":{
          "shape":"CredentialArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon Web Services Secrets Manager secret that identifies the credentials to authenticate to the upstream registry.</p>"
        },
        "customRoleArn":{
          "shape":"CustomRoleArn",
          "documentation":"<p>Amazon Resource Name (ARN) of the IAM role to be assumed by Amazon ECR to authenticate to the ECR upstream registry. This role must be in the same account as the registry that you are configuring.</p>"
        },
        "upstreamRepositoryPrefix":{
          "shape":"PullThroughCacheRuleRepositoryPrefix",
          "documentation":"<p>The repository name prefix of the upstream registry to match with the upstream repository name. When this field isn't specified, Amazon ECR will use the <code>ROOT</code>.</p>"
        }
      }
    },
    "CreatePullThroughCacheRuleResponse":{
      "type":"structure",
      "members":{
        "ecrRepositoryPrefix":{
          "shape":"PullThroughCacheRuleRepositoryPrefix",
          "documentation":"<p>The Amazon ECR repository prefix associated with the pull through cache rule.</p>"
        },
        "upstreamRegistryUrl":{
          "shape":"Url",
          "documentation":"<p>The upstream registry URL associated with the pull through cache rule.</p>"
        },
        "createdAt":{
          "shape":"CreationTimestamp",
          "documentation":"<p>The date and time, in JavaScript date format, when the pull through cache rule was created.</p>"
        },
        "registryId":{
          "shape":"RegistryId",
          "documentation":"<p>The registry ID associated with the request.</p>"
        },
        "upstreamRegistry":{
          "shape":"UpstreamRegistry",
          "documentation":"<p>The name of the upstream registry associated with the pull through cache rule.</p>"
        },
        "credentialArn":{
          "shape":"CredentialArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon Web Services Secrets Manager secret associated with the pull through cache rule.</p>"
        },
        "customRoleArn":{
          "shape":"CustomRoleArn",
          "documentation":"<p>The ARN of the IAM role associated with the pull through cache rule.</p>"
        },
        "upstreamRepositoryPrefix":{
          "shape":"PullThroughCacheRuleRepositoryPrefix",
          "documentation":"<p>The upstream repository prefix associated with the pull through cache rule.</p>"
        }
      }
    },
    "CreateRepositoryCreationTemplateRequest":{
      "type":"structure",
      "required":[
        "prefix",
        "appliedFor"
      ],
      "members":{
        "prefix":{
          "shape":"Prefix",
          "documentation":"<p>The repository namespace prefix to associate with the template. All repositories created using this namespace prefix will have the settings defined in this template applied. For example, a prefix of <code>prod</code> would apply to all repositories beginning with <code>prod/</code>. Similarly, a prefix of <code>prod/team</code> would apply to all repositories beginning with <code>prod/team/</code>.</p> <p>To apply a template to all repositories in your registry that don't have an associated creation template, you can use <code>ROOT</code> as the prefix.</p> <important> <p>There is always an assumed <code>/</code> applied to the end of the prefix. If you specify <code>ecr-public</code> as the prefix, Amazon ECR treats that as <code>ecr-public/</code>. When using a pull through cache rule, the repository prefix you specify during rule creation is what you should specify as your repository creation template prefix as well.</p> </important>"
        },
        "description":{
          "shape":"RepositoryTemplateDescription",
          "documentation":"<p>A description for the repository creation template.</p>"
        },
        "encryptionConfiguration":{
          "shape":"EncryptionConfigurationForRepositoryCreationTemplate",
          "documentation":"<p>The encryption configuration to use for repositories created using the template.</p>"
        },
        "resourceTags":{
          "shape":"TagList",
          "documentation":"<p>The metadata to apply to the repository to help you categorize and organize. Each tag consists of a key and an optional value, both of which you define. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.</p>"
        },
        "imageTagMutability":{
          "shape":"ImageTagMutability",
          "documentation":"<p>The tag mutability setting for the repository. If this parameter is omitted, the default setting of <code>MUTABLE</code> will be used which will allow image tags to be overwritten. If <code>IMMUTABLE</code> is specified, all image tags within the repository will be immutable which will prevent them from being overwritten.</p>"
        },
        "imageTagMutabilityExclusionFilters":{
          "shape":"ImageTagMutabilityExclusionFilters",
          "documentation":"<p>Creates a repository creation template with a list of filters that define which image tags can override the default image tag mutability setting.</p>"
        },
        "repositoryPolicy":{
          "shape":"RepositoryPolicyText",
          "documentation":"<p>The repository policy to apply to repositories created using the template. A repository policy is a permissions policy associated with a repository to control access permissions. </p>"
        },
        "lifecyclePolicy":{
          "shape":"LifecyclePolicyTextForRepositoryCreationTemplate",
          "documentation":"<p>The lifecycle policy to use for repositories created using the template.</p>"
        },
        "appliedFor":{
          "shape":"RCTAppliedForList",
          "documentation":"<p>A list of enumerable strings representing the Amazon ECR repository creation scenarios that this template will apply towards. The two supported scenarios are <code>PULL_THROUGH_CACHE</code> and <code>REPLICATION</code> </p>"
        },
        "customRoleArn":{
          "shape":"CustomRoleArn",
          "documentation":"<p>The ARN of the role to be assumed by Amazon ECR. This role must be in the same account as the registry that you are configuring. Amazon ECR will assume your supplied role when the customRoleArn is specified. When this field isn't specified, Amazon ECR will use the service-linked role for the repository creation template.</p>"
        }
      }
    },
    "CreateRepositoryCreationTemplateResponse":{
      "type":"structure",
      "members":{
        "registryId":{
          "shape":"RegistryId",
          "documentation":"<p>The registry ID associated with the request.</p>"
        },
        "repositoryCreationTemplate":{
          "shape":"RepositoryCreationTemplate",
          "documentation":"<p>The details of the repository creation template associated with the request.</p>"
        }
      }
    },
    "CreateRepositoryRequest":{
      "type":"structure",
      "required":["repositoryName"],
      "members":{
        "registryId":{
          "shape":"RegistryId",
          "documentation":"<p>The Amazon Web Services account ID associated with the registry to create the repository. If you do not specify a registry, the default registry is assumed.</p>"
        },
        "repositoryName":{
          "shape":"RepositoryName",
          "documentation":"<p>The name to use for the repository. The repository name may be specified on its own (such as <code>nginx-web-app</code>) or it can be prepended with a namespace to group the repository into a category (such as <code>project-a/nginx-web-app</code>).</p> <p>The repository name must start with a letter and can only contain lowercase letters, numbers, hyphens, underscores, and forward slashes.</p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>The metadata that you apply to the repository to help you categorize and organize them. Each tag consists of a key and an optional value, both of which you define. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.</p>"
        },
        "imageTagMutability":{
          "shape":"ImageTagMutability",
          "documentation":"<p>The tag mutability setting for the repository. If this parameter is omitted, the default setting of <code>MUTABLE</code> will be used which will allow image tags to be overwritten. If <code>IMMUTABLE</code> is specified, all image tags within the repository will be immutable which will prevent them from being overwritten.</p>"
        },
        "imageTagMutabilityExclusionFilters":{
          "shape":"ImageTagMutabilityExclusionFilters",
          "documentation":"<p>Creates a repository with a list of filters that define which image tags can override the default image tag mutability setting.</p>"
        },
        "imageScanningConfiguration":{
          "shape":"ImageScanningConfiguration",
          "documentation":"<p>The image scanning configuration for the repository. This determines whether images are scanned for known vulnerabilities after being pushed to the repository.</p>"
        },
        "encryptionConfiguration":{
          "shape":"EncryptionConfiguration",
          "documentation":"<p>The encryption configuration for the repository. This determines how the contents of your repository are encrypted at rest.</p>"
        }
      }
    },
    "CreateRepositoryResponse":{
      "type":"structure",
      "members":{
        "repository":{
          "shape":"Repository",
          "documentation":"<p>The repository that was created.</p>"
        }
      }
    },
    "CreationTimestamp":{"type":"timestamp"},
    "CredentialArn":{
      "type":"string",
      "max":612,
      "min":50,
      "pattern":"^arn:aws:secretsmanager:[a-zA-Z0-9-:]+:secret:ecr\\-pullthroughcache\\/[a-zA-Z0-9\\/_+=.@-]+$"
    },
    "CustomRoleArn":{
      "type":"string",
      "max":2048
    },
    "CvssScore":{
      "type":"structure",
      "members":{
        "baseScore":{
          "shape":"BaseScore",
          "documentation":"<p>The base CVSS score used for the finding.</p>"
        },
        "scoringVector":{
          "shape":"ScoringVector",
          "documentation":"<p>The vector string of the CVSS score.</p>"
        },
        "source":{
          "shape":"Source",
          "documentation":"<p>The source of the CVSS score.</p>"
        },
        "version":{
          "shape":"Version",
          "documentation":"<p>The version of CVSS used for the score.</p>"
        }
      },
      "documentation":"<p>The CVSS score for a finding.</p>"
    },
    "CvssScoreAdjustment":{
      "type":"structure",
      "members":{
        "metric":{
          "shape":"Metric",
          "documentation":"<p>The metric used to adjust the CVSS score.</p>"
        },
        "reason":{
          "shape":"Reason",
          "documentation":"<p>The reason the CVSS score has been adjustment.</p>"
        }
      },
      "documentation":"<p>Details on adjustments Amazon Inspector made to the CVSS score for a finding.</p>"
    },
    "CvssScoreAdjustmentList":{
      "type":"list",
      "member":{"shape":"CvssScoreAdjustment"}
    },
    "CvssScoreDetails":{
      "type":"structure",
      "members":{
        "adjustments":{
          "shape":"CvssScoreAdjustmentList",
          "documentation":"<p>An object that contains details about adjustment Amazon Inspector made to the CVSS score.</p>"
        },
        "score":{
          "shape":"Score",
          "documentation":"<p>The CVSS score.</p>"
        },
        "scoreSource":{
          "shape":"Source",
          "documentation":"<p>The source for the CVSS score.</p>"
        },
        "scoringVector":{
          "shape":"ScoringVector",
          "documentation":"<p>The vector for the CVSS score.</p>"
        },
        "version":{
          "shape":"Version",
          "documentation":"<p>The CVSS version used in scoring.</p>"
        }
      },
      "documentation":"<p>Information about the CVSS score.</p>"
    },
    "CvssScoreList":{
      "type":"list",
      "member":{"shape":"CvssScore"}
    },
    "Date":{"type":"timestamp"},
    "DeleteLifecyclePolicyRequest":{
      "type":"structure",
      "required":["repositoryName"],
      "members":{
        "registryId":{
          "shape":"RegistryId",
          "documentation":"<p>The Amazon Web Services account ID associated with the registry that contains the repository. If you do not specify a registry, the default registry is assumed.</p>"
        },
        "repositoryName":{
          "shape":"RepositoryName",
          "documentation":"<p>The name of the repository.</p>"
        }
      }
    },
    "DeleteLifecyclePolicyResponse":{
      "type":"structure",
      "members":{
        "registryId":{
          "shape":"RegistryId",
          "documentation":"<p>The registry ID associated with the request.</p>"
        },
        "repositoryName":{
          "shape":"RepositoryName",
          "documentation":"<p>The repository name associated with the request.</p>"
        },
        "lifecyclePolicyText":{
          "shape":"LifecyclePolicyText",
          "documentation":"<p>The JSON lifecycle policy text.</p>"
        },
        "lastEvaluatedAt":{
          "shape":"EvaluationTimestamp",
          "documentation":"<p>The time stamp of the last time that the lifecycle policy was run.</p>"
        }
      }
    },
    "DeletePullThroughCacheRuleRequest":{
      "type":"structure",
      "required":["ecrRepositoryPrefix"],
      "members":{
        "ecrRepositoryPrefix":{
          "shape":"PullThroughCacheRuleRepositoryPrefix",
          "documentation":"<p>The Amazon ECR repository prefix associated with the pull through cache rule to delete.</p>"
        },
        "registryId":{
          "shape":"RegistryId",
          "documentation":"<p>The Amazon Web Services account ID associated with the registry that contains the pull through cache rule. If you do not specify a registry, the default registry is assumed.</p>"
        }
      }
    },
    "DeletePullThroughCacheRuleResponse":{
      "type":"structure",
      "members":{
        "ecrRepositoryPrefix":{
          "shape":"PullThroughCacheRuleRepositoryPrefix",
          "documentation":"<p>The Amazon ECR repository prefix associated with the request.</p>"
        },
        "upstreamRegistryUrl":{
          "shape":"Url",
          "documentation":"<p>The upstream registry URL associated with the pull through cache rule.</p>"
        },
        "createdAt":{
          "shape":"CreationTimestamp",
          "documentation":"<p>The timestamp associated with the pull through cache rule.</p>"
        },
        "registryId":{
          "shape":"RegistryId",
          "documentation":"<p>The registry ID associated with the request.</p>"
        },
        "credentialArn":{
          "shape":"CredentialArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon Web Services Secrets Manager secret associated with the pull through cache rule.</p>"
        },
        "customRoleArn":{
          "shape":"CustomRoleArn",
          "documentation":"<p>The ARN of the IAM role associated with the pull through cache rule.</p>"
        },
        "upstreamRepositoryPrefix":{
          "shape":"PullThroughCacheRuleRepositoryPrefix",
          "documentation":"<p>The upstream repository prefix associated with the pull through cache rule.</p>"
        }
      }
    },
    "DeleteRegistryPolicyRequest":{
      "type":"structure",
      "members":{}
    },
    "DeleteRegistryPolicyResponse":{
      "type":"structure",
      "members":{
        "registryId":{
          "shape":"RegistryId",
          "documentation":"<p>The registry ID associated with the request.</p>"
        },
        "policyText":{
          "shape":"RegistryPolicyText",
          "documentation":"<p>The contents of the registry permissions policy that was deleted.</p>"
        }
      }
    },
    "DeleteRepositoryCreationTemplateRequest":{
      "type":"structure",
      "required":["prefix"],
      "members":{
        "prefix":{
          "shape":"Prefix",
          "documentation":"<p>The repository namespace prefix associated with the repository creation template.</p>"
        }
      }
    },
    "DeleteRepositoryCreationTemplateResponse":{
      "type":"structure",
      "members":{
        "registryId":{
          "shape":"RegistryId",
          "documentation":"<p>The registry ID associated with the request.</p>"
        },
        "repositoryCreationTemplate":{
          "shape":"RepositoryCreationTemplate",
          "documentation":"<p>The details of the repository creation template that was deleted.</p>"
        }
      }
    },
    "DeleteRepositoryPolicyRequest":{
      "type":"structure",
      "required":["repositoryName"],
      "members":{
        "registryId":{
          "shape":"RegistryId",
          "documentation":"<p>The Amazon Web Services account ID associated with the registry that contains the repository policy to delete. If you do not specify a registry, the default registry is assumed.</p>"
        },
        "repositoryName":{
          "shape":"RepositoryName",
          "documentation":"<p>The name of the repository that is associated with the repository policy to delete.</p>"
        }
      }
    },
    "DeleteRepositoryPolicyResponse":{
      "type":"structure",
      "members":{
        "registryId":{
          "shape":"RegistryId",
          "documentation":"<p>The registry ID associated with the request.</p>"
        },
        "repositoryName":{
          "shape":"RepositoryName",
          "documentation":"<p>The repository name associated with the request.</p>"
        },
        "policyText":{
          "shape":"RepositoryPolicyText",
          "documentation":"<p>The JSON repository policy that was deleted from the repository.</p>"
        }
      }
    },
    "DeleteRepositoryRequest":{
      "type":"structure",
      "required":["repositoryName"],
      "members":{
        "registryId":{
          "shape":"RegistryId",
          "documentation":"<p>The Amazon Web Services account ID associated with the registry that contains the repository to delete. If you do not specify a registry, the default registry is assumed.</p>"
        },
        "repositoryName":{
          "shape":"RepositoryName",
          "documentation":"<p>The name of the repository to delete.</p>"
        },
        "force":{
          "shape":"ForceFlag",
          "documentation":"<p>If true, deleting the repository force deletes the contents of the repository. If false, the repository must be empty before attempting to delete it.</p>"
        }
      }
    },
    "DeleteRepositoryResponse":{
      "type":"structure",
      "members":{
        "repository":{
          "shape":"Repository",
          "documentation":"<p>The repository that was deleted.</p>"
        }
      }
    },
    "DescribeImageReplicationStatusRequest":{
      "type":"structure",
      "required":[
        "repositoryName",
        "imageId"
      ],
      "members":{
        "repositoryName":{
          "shape":"RepositoryName",
          "documentation":"<p>The name of the repository that the image is in.</p>"
        },
        "imageId":{"shape":"ImageIdentifier"},
        "registryId":{
          "shape":"RegistryId",
          "documentation":"<p>The Amazon Web Services account ID associated with the registry. If you do not specify a registry, the default registry is assumed.</p>"
        }
      }
    },
    "DescribeImageReplicationStatusResponse":{
      "type":"structure",
      "members":{
        "repositoryName":{
          "shape":"RepositoryName",
          "documentation":"<p>The repository name associated with the request.</p>"
        },
        "imageId":{"shape":"ImageIdentifier"},
        "replicationStatuses":{
          "shape":"ImageReplicationStatusList",
          "documentation":"<p>The replication status details for the images in the specified repository.</p>"
        }
      }
    },
    "DescribeImageScanFindingsRequest":{
      "type":"structure",
      "required":[
        "repositoryName",
        "imageId"
      ],
      "members":{
        "registryId":{
          "shape":"RegistryId",
          "documentation":"<p>The Amazon Web Services account ID associated with the registry that contains the repository in which to describe the image scan findings for. If you do not specify a registry, the default registry is assumed.</p>"
        },
        "repositoryName":{
          "shape":"RepositoryName",
          "documentation":"<p>The repository for the image for which to describe the scan findings.</p>"
        },
        "imageId":{"shape":"ImageIdentifier"},
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The <code>nextToken</code> value returned from a previous paginated <code>DescribeImageScanFindings</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. This value is null when there are no more results to return.</p>"
        },
        "maxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of image scan results returned by <code>DescribeImageScanFindings</code> in paginated output. When this parameter is used, <code>DescribeImageScanFindings</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>DescribeImageScanFindings</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 1000. If this parameter is not used, then <code>DescribeImageScanFindings</code> returns up to 100 results and a <code>nextToken</code> value, if applicable.</p>"
        }
      }
    },
    "DescribeImageScanFindingsResponse":{
      "type":"structure",
      "members":{
        "registryId":{
          "shape":"RegistryId",
          "documentation":"<p>The registry ID associated with the request.</p>"
        },
        "repositoryName":{
          "shape":"RepositoryName",
          "documentation":"<p>The repository name associated with the request.</p>"
        },
        "imageId":{"shape":"ImageIdentifier"},
        "imageScanStatus":{
          "shape":"ImageScanStatus",
          "documentation":"<p>The current state of the scan.</p>"
        },
        "imageScanFindings":{
          "shape":"ImageScanFindings",
          "documentation":"<p>The information contained in the image scan findings.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The <code>nextToken</code> value to include in a future <code>DescribeImageScanFindings</code> request. When the results of a <code>DescribeImageScanFindings</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is null when there are no more results to return.</p>"
        }
      }
    },
    "DescribeImagesFilter":{
      "type":"structure",
      "members":{
        "tagStatus":{
          "shape":"TagStatus",
          "documentation":"<p>The tag status with which to filter your <a>DescribeImages</a> results. You can filter results based on whether they are <code>TAGGED</code> or <code>UNTAGGED</code>.</p>"
        }
      },
      "documentation":"<p>An object representing a filter on a <a>DescribeImages</a> operation.</p>"
    },
    "DescribeImagesRequest":{
      "type":"structure",
      "required":["repositoryName"],
      "members":{
        "registryId":{
          "shape":"RegistryId",
          "documentation":"<p>The Amazon Web Services account ID associated with the registry that contains the repository in which to describe images. If you do not specify a registry, the default registry is assumed.</p>"
        },
        "repositoryName":{
          "shape":"RepositoryName",
          "documentation":"<p>The repository that contains the images to describe.</p>"
        },
        "imageIds":{
          "shape":"ImageIdentifierList",
          "documentation":"<p>The list of image IDs for the requested repository.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The <code>nextToken</code> value returned from a previous paginated <code>DescribeImages</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. This value is <code>null</code> when there are no more results to return. This option cannot be used when you specify images with <code>imageIds</code>.</p>"
        },
        "maxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of repository results returned by <code>DescribeImages</code> in paginated output. When this parameter is used, <code>DescribeImages</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>DescribeImages</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 1000. If this parameter is not used, then <code>DescribeImages</code> returns up to 100 results and a <code>nextToken</code> value, if applicable. This option cannot be used when you specify images with <code>imageIds</code>.</p>"
        },
        "filter":{
          "shape":"DescribeImagesFilter",
          "documentation":"<p>The filter key and value with which to filter your <code>DescribeImages</code> results.</p>"
        }
      }
    },
    "DescribeImagesResponse":{
      "type":"structure",
      "members":{
        "imageDetails":{
          "shape":"ImageDetailList",
          "documentation":"<p>A list of <a>ImageDetail</a> objects that contain data about the image.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The <code>nextToken</code> value to include in a future <code>DescribeImages</code> request. When the results of a <code>DescribeImages</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>"
        }
      }
    },
    "DescribePullThroughCacheRulesRequest":{
      "type":"structure",
      "members":{
        "registryId":{
          "shape":"RegistryId",
          "documentation":"<p>The Amazon Web Services account ID associated with the registry to return the pull through cache rules for. If you do not specify a registry, the default registry is assumed.</p>"
        },
        "ecrRepositoryPrefixes":{
          "shape":"PullThroughCacheRuleRepositoryPrefixList",
          "documentation":"<p>The Amazon ECR repository prefixes associated with the pull through cache rules to return. If no repository prefix value is specified, all pull through cache rules are returned.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The <code>nextToken</code> value returned from a previous paginated <code>DescribePullThroughCacheRulesRequest</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. This value is null when there are no more results to return.</p>"
        },
        "maxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of pull through cache rules returned by <code>DescribePullThroughCacheRulesRequest</code> in paginated output. When this parameter is used, <code>DescribePullThroughCacheRulesRequest</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>DescribePullThroughCacheRulesRequest</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 1000. If this parameter is not used, then <code>DescribePullThroughCacheRulesRequest</code> returns up to 100 results and a <code>nextToken</code> value, if applicable.</p>"
        }
      }
    },
    "DescribePullThroughCacheRulesResponse":{
      "type":"structure",
      "members":{
        "pullThroughCacheRules":{
          "shape":"PullThroughCacheRuleList",
          "documentation":"<p>The details of the pull through cache rules.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The <code>nextToken</code> value to include in a future <code>DescribePullThroughCacheRulesRequest</code> request. When the results of a <code>DescribePullThroughCacheRulesRequest</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is null when there are no more results to return.</p>"
        }
      }
    },
    "DescribeRegistryRequest":{
      "type":"structure",
      "members":{}
    },
    "DescribeRegistryResponse":{
      "type":"structure",
      "members":{
        "registryId":{
          "shape":"RegistryId",
          "documentation":"<p>The registry ID associated with the request.</p>"
        },
        "replicationConfiguration":{
          "shape":"ReplicationConfiguration",
          "documentation":"<p>The replication configuration for the registry.</p>"
        }
      }
    },
    "DescribeRepositoriesRequest":{
      "type":"structure",
      "members":{
        "registryId":{
          "shape":"RegistryId",
          "documentation":"<p>The Amazon Web Services account ID associated with the registry that contains the repositories to be described. If you do not specify a registry, the default registry is assumed.</p>"
        },
        "repositoryNames":{
          "shape":"RepositoryNameList",
          "documentation":"<p>A list of repositories to describe. If this parameter is omitted, then all repositories in a registry are described.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The <code>nextToken</code> value returned from a previous paginated <code>DescribeRepositories</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. This value is <code>null</code> when there are no more results to return. This option cannot be used when you specify repositories with <code>repositoryNames</code>.</p> <note> <p>This token should be treated as an opaque identifier that is only used to retrieve the next items in a list and not for other programmatic purposes.</p> </note>"
        },
        "maxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of repository results returned by <code>DescribeRepositories</code> in paginated output. When this parameter is used, <code>DescribeRepositories</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>DescribeRepositories</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 1000. If this parameter is not used, then <code>DescribeRepositories</code> returns up to 100 results and a <code>nextToken</code> value, if applicable. This option cannot be used when you specify repositories with <code>repositoryNames</code>.</p>"
        }
      }
    },
    "DescribeRepositoriesResponse":{
      "type":"structure",
      "members":{
        "repositories":{
          "shape":"RepositoryList",
          "documentation":"<p>A list of repository objects corresponding to valid repositories.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The <code>nextToken</code> value to include in a future <code>DescribeRepositories</code> request. When the results of a <code>DescribeRepositories</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>"
        }
      }
    },
    "DescribeRepositoryCreationTemplatesRequest":{
      "type":"structure",
      "members":{
        "prefixes":{
          "shape":"PrefixList",
          "documentation":"<p>The repository namespace prefixes associated with the repository creation templates to describe. If this value is not specified, all repository creation templates are returned.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The <code>nextToken</code> value returned from a previous paginated <code>DescribeRepositoryCreationTemplates</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. This value is <code>null</code> when there are no more results to return.</p> <note> <p>This token should be treated as an opaque identifier that is only used to retrieve the next items in a list and not for other programmatic purposes.</p> </note>"
        },
        "maxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of repository results returned by <code>DescribeRepositoryCreationTemplatesRequest</code> in paginated output. When this parameter is used, <code>DescribeRepositoryCreationTemplatesRequest</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>DescribeRepositoryCreationTemplatesRequest</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 1000. If this parameter is not used, then <code>DescribeRepositoryCreationTemplatesRequest</code> returns up to 100 results and a <code>nextToken</code> value, if applicable.</p>"
        }
      }
    },
    "DescribeRepositoryCreationTemplatesResponse":{
      "type":"structure",
      "members":{
        "registryId":{
          "shape":"RegistryId",
          "documentation":"<p>The registry ID associated with the request.</p>"
        },
        "repositoryCreationTemplates":{
          "shape":"RepositoryCreationTemplateList",
          "documentation":"<p>The details of the repository creation templates.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The <code>nextToken</code> value to include in a future <code>DescribeRepositoryCreationTemplates</code> request. When the results of a <code>DescribeRepositoryCreationTemplates</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>"
        }
      }
    },
    "EmptyUploadException":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"ExceptionMessage",
          "documentation":"<p>The error message associated with the exception.</p>"
        }
      },
      "documentation":"<p>The specified layer upload does not contain any layer parts.</p>",
      "exception":true
    },
    "EncryptionConfiguration":{
      "type":"structure",
      "required":["encryptionType"],
      "members":{
        "encryptionType":{
          "shape":"EncryptionType",
          "documentation":"<p>The encryption type to use.</p> <p>If you use the <code>KMS</code> encryption type, the contents of the repository will be encrypted using server-side encryption with Key Management Service key stored in KMS. When you use KMS to encrypt your data, you can either use the default Amazon Web Services managed KMS key for Amazon ECR, or specify your own KMS key, which you already created.</p> <p>If you use the <code>KMS_DSSE</code> encryption type, the contents of the repository will be encrypted with two layers of encryption using server-side encryption with the KMS Management Service key stored in KMS. Similar to the <code>KMS</code> encryption type, you can either use the default Amazon Web Services managed KMS key for Amazon ECR, or specify your own KMS key, which you've already created. </p> <p>If you use the <code>AES256</code> encryption type, Amazon ECR uses server-side encryption with Amazon S3-managed encryption keys which encrypts the images in the repository using an AES256 encryption algorithm.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/encryption-at-rest.html\">Amazon ECR encryption at rest</a> in the <i>Amazon Elastic Container Registry User Guide</i>.</p>"
        },
        "kmsKey":{
          "shape":"KmsKey",
          "documentation":"<p>If you use the <code>KMS</code> encryption type, specify the KMS key to use for encryption. The alias, key ID, or full ARN of the KMS key can be specified. The key must exist in the same Region as the repository. If no key is specified, the default Amazon Web Services managed KMS key for Amazon ECR will be used.</p>"
        }
      },
      "documentation":"<p>The encryption configuration for the repository. This determines how the contents of your repository are encrypted at rest.</p> <p>By default, when no encryption configuration is set or the <code>AES256</code> encryption type is used, Amazon ECR uses server-side encryption with Amazon S3-managed encryption keys which encrypts your data at rest using an AES256 encryption algorithm. This does not require any action on your part.</p> <p>For more control over the encryption of the contents of your repository, you can use server-side encryption with Key Management Service key stored in Key Management Service (KMS) to encrypt your images. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/encryption-at-rest.html\">Amazon ECR encryption at rest</a> in the <i>Amazon Elastic Container Registry User Guide</i>.</p>"
    },
    "EncryptionConfigurationForRepositoryCreationTemplate":{
      "type":"structure",
      "required":["encryptionType"],
      "members":{
        "encryptionType":{
          "shape":"EncryptionType",
          "documentation":"<p>The encryption type to use.</p> <p>If you use the <code>KMS</code> encryption type, the contents of the repository will be encrypted using server-side encryption with Key Management Service key stored in KMS. When you use KMS to encrypt your data, you can either use the default Amazon Web Services managed KMS key for Amazon ECR, or specify your own KMS key, which you already created. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingKMSEncryption.html\">Protecting data using server-side encryption with an KMS key stored in Key Management Service (SSE-KMS)</a> in the <i>Amazon Simple Storage Service Console Developer Guide</i>.</p> <p>If you use the <code>AES256</code> encryption type, Amazon ECR uses server-side encryption with Amazon S3-managed encryption keys which encrypts the images in the repository using an AES256 encryption algorithm. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingServerSideEncryption.html\">Protecting data using server-side encryption with Amazon S3-managed encryption keys (SSE-S3)</a> in the <i>Amazon Simple Storage Service Console Developer Guide</i>.</p>"
        },
        "kmsKey":{
          "shape":"KmsKeyForRepositoryCreationTemplate",
          "documentation":"<p>If you use the <code>KMS</code> encryption type, specify the KMS key to use for encryption. The full ARN of the KMS key must be specified. The key must exist in the same Region as the repository. If no key is specified, the default Amazon Web Services managed KMS key for Amazon ECR will be used.</p>"
        }
      },
      "documentation":"<p>The encryption configuration to associate with the repository creation template.</p>"
    },
    "EncryptionType":{
      "type":"string",
      "enum":[
        "AES256",
        "KMS",
        "KMS_DSSE"
      ]
    },
    "EnhancedImageScanFinding":{
      "type":"structure",
      "members":{
        "awsAccountId":{
          "shape":"RegistryId",
          "documentation":"<p>The Amazon Web Services account ID associated with the image.</p>"
        },
        "description":{
          "shape":"FindingDescription",
          "documentation":"<p>The description of the finding.</p>"
        },
        "findingArn":{
          "shape":"FindingArn",
          "documentation":"<p>The Amazon Resource Number (ARN) of the finding.</p>"
        },
        "firstObservedAt":{
          "shape":"Date",
          "documentation":"<p>The date and time that the finding was first observed.</p>"
        },
        "lastObservedAt":{
          "shape":"Date",
          "documentation":"<p>The date and time that the finding was last observed.</p>"
        },
        "packageVulnerabilityDetails":{
          "shape":"PackageVulnerabilityDetails",
          "documentation":"<p>An object that contains the details of a package vulnerability finding.</p>"
        },
        "remediation":{
          "shape":"Remediation",
          "documentation":"<p>An object that contains the details about how to remediate a finding.</p>"
        },
        "resources":{
          "shape":"ResourceList",
          "documentation":"<p>Contains information on the resources involved in a finding.</p>"
        },
        "score":{
          "shape":"Score",
          "documentation":"<p>The Amazon Inspector score given to the finding.</p>"
        },
        "scoreDetails":{
          "shape":"ScoreDetails",
          "documentation":"<p>An object that contains details of the Amazon Inspector score.</p>"
        },
        "severity":{
          "shape":"Severity",
          "documentation":"<p>The severity of the finding.</p>"
        },
        "status":{
          "shape":"Status",
          "documentation":"<p>The status of the finding.</p>"
        },
        "title":{
          "shape":"Title",
          "documentation":"<p>The title of the finding.</p>"
        },
        "type":{
          "shape":"Type",
          "documentation":"<p>The type of the finding.</p>"
        },
        "updatedAt":{
          "shape":"Date",
          "documentation":"<p>The date and time the finding was last updated at.</p>"
        },
        "fixAvailable":{
          "shape":"FixAvailable",
          "documentation":"<p>Details on whether a fix is available through a version update. This value can be <code>YES</code>, <code>NO</code>, or <code>PARTIAL</code>. A <code>PARTIAL</code> fix means that some, but not all, of the packages identified in the finding have fixes available through updated versions.</p>"
        },
        "exploitAvailable":{
          "shape":"ExploitAvailable",
          "documentation":"<p>If a finding discovered in your environment has an exploit available.</p>"
        }
      },
      "documentation":"<p>The details of an enhanced image scan. This is returned when enhanced scanning is enabled for your private registry.</p>"
    },
    "EnhancedImageScanFindingList":{
      "type":"list",
      "member":{"shape":"EnhancedImageScanFinding"}
    },
    "Epoch":{"type":"integer"},
    "EvaluationTimestamp":{"type":"timestamp"},
    "ExceptionMessage":{"type":"string"},
    "ExpirationTimestamp":{"type":"timestamp"},
    "ExploitAvailable":{"type":"string"},
    "FilePath":{"type":"string"},
    "FindingArn":{"type":"string"},
    "FindingDescription":{"type":"string"},
    "FindingName":{"type":"string"},
    "FindingSeverity":{
      "type":"string",
      "enum":[
        "INFORMATIONAL",
        "LOW",
        "MEDIUM",
        "HIGH",
        "CRITICAL",
        "UNDEFINED"
      ]
    },
    "FindingSeverityCounts":{
      "type":"map",
      "key":{"shape":"FindingSeverity"},
      "value":{"shape":"SeverityCount"}
    },
    "FixAvailable":{"type":"string"},
    "FixedInVersion":{"type":"string"},
    "ForceFlag":{"type":"boolean"},
    "GetAccountSettingRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"AccountSettingName",
          "documentation":"<p>The name of the account setting, such as <code>BASIC_SCAN_TYPE_VERSION</code> or <code>REGISTRY_POLICY_SCOPE</code>. </p>"
        }
      }
    },
    "GetAccountSettingResponse":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"AccountSettingName",
          "documentation":"<p>Retrieves the name of the account setting.</p>"
        },
        "value":{
          "shape":"AccountSettingName",
          "documentation":"<p>The setting value for the setting name. The following are valid values for the basic scan type being used: <code>AWS_NATIVE</code> or <code>CLAIR</code>. The following are valid values for the registry policy scope being used: <code>V1</code> or <code>V2</code>.</p>"
        }
      }
    },
    "GetAuthorizationTokenRegistryIdList":{
      "type":"list",
      "member":{"shape":"RegistryId"},
      "max":10,
      "min":1
    },
    "GetAuthorizationTokenRequest":{
      "type":"structure",
      "members":{
        "registryIds":{
          "shape":"GetAuthorizationTokenRegistryIdList",
          "documentation":"<p>A list of Amazon Web Services account IDs that are associated with the registries for which to get AuthorizationData objects. If you do not specify a registry, the default registry is assumed.</p>",
          "deprecated":true,
          "deprecatedMessage":"This field is deprecated. The returned authorization token can be used to access any Amazon ECR registry that the IAM principal has access to, specifying a registry ID doesn't change the permissions scope of the authorization token."
        }
      }
    },
    "GetAuthorizationTokenResponse":{
      "type":"structure",
      "members":{
        "authorizationData":{
          "shape":"AuthorizationDataList",
          "documentation":"<p>A list of authorization token data objects that correspond to the <code>registryIds</code> values in the request.</p> <note> <p>The size of the authorization token returned by Amazon ECR is not fixed. We recommend that you don't make assumptions about the maximum size.</p> </note>"
        }
      }
    },
    "GetDownloadUrlForLayerRequest":{
      "type":"structure",
      "required":[
        "repositoryName",
        "layerDigest"
      ],
      "members":{
        "registryId":{
          "shape":"RegistryId",
          "documentation":"<p>The Amazon Web Services account ID associated with the registry that contains the image layer to download. If you do not specify a registry, the default registry is assumed.</p>"
        },
        "repositoryName":{
          "shape":"RepositoryName",
          "documentation":"<p>The name of the repository that is associated with the image layer to download.</p>"
        },
        "layerDigest":{
          "shape":"LayerDigest",
          "documentation":"<p>The digest of the image layer to download.</p>"
        }
      }
    },
[...]
