<tr data-test-list="members-list-item">
    <div class="gh-list-data gh-members-list-basic gh-list-loadingcell">
        <div class="gh-list-loading-title"></div>
        <div class="gh-list-loading-detail"></div>
    </div>
    <div class="gh-list-data"></div>
    <div class="gh-list-data"></div>
    <div class="gh-list-data"></div>
    <div class="gh-list-data"></div>
    {{#each @filterColumns}}
    <div class="gh-list-data"></div>
    {{/each}}
</tr>