{{#gh-modal-dialog action="closeModal" type="action" style="wide"
    title="Would you really like to delete all content from your blog?" confirm=confirm}}

    <p>This is permanent! No backups, no restores, no magic undo button. <br /> We warned you, ok?</p>

{{/gh-modal-dialog}}
