{{#gh-modal-dialog action="closeModal" showClose=true type="action"
    title="Invite a New User" confirm=confirm class="invite-new-user"}}

    <fieldset>
        {{#gh-form-group errors=errors hasValidated=hasValidated property="email"}}
            <label for="new-user-email">Email Address</label>
            {{gh-input enter="confirmAccept" class="email" id="new-user-email" type="email" placeholder="Email Address" name="email" autofocus="autofocus"
            autocapitalize="off" autocorrect="off" value=email focusOut=(action "validate" "email")}}
            {{gh-error-message errors=errors property="email"}}
        {{/gh-form-group}}

        <div class="form-group for-select">
            <label for="new-user-role">Role</label>
            <span class="gh-select" tabindex="0">
                {{gh-select-native id="new-user-role"
                    content=roles
                    optionValuePath="id"
                    optionLabelPath="name"
                    selection=role
                    action="setRole"
                }}
            </span>
        </div>
    </fieldset>

{{/gh-modal-dialog}}
