{{#gh-modal-dialog action="closeModal" showClose=true type="action" style="wide" animation="fade"
    title="Please re-authenticate" confirm=confirm}}

        <form id="login" class="login-form" method="post" novalidate="novalidate" {{action "validateAndAuthenticate" on="submit"}}>
            <div class="password-wrap">
                {{input class="gh-input password" type="password" placeholder="Password" name="password" value=password}}
            </div>
            {{gh-spin-button class="btn btn-blue" type="submit" action="validateAndAuthenticate" submitting=submitting buttonText="Log in"}}
       </form>

{{/gh-modal-dialog}}
