{{#if this.showReferralInvite}}
    <div class="gh-sidebar-banner gh-referral-toast">
        <button class="gh-sidebar-banner-close" type="button" {{on "click" this.dismissReferralInvite}}>&#xd7;</button>
        <a href="https://referrals.ghost.org/?ref=admin" target="_blank" rel="noopener noreferrer">
            <strong>You qualify for our invite-only referral program.</strong>
            <p class="gh-footer-toast-p">Refer people to Ghost and earn a <strong>30% share</strong> of the subscription revenue, every single month.</p>
            <div class="gh-btn gh-btn-black gh-sidebar-banner-button" type="button"><span>Find out more &rarr;</span></div>
        </a>
    </div>
{{/if}}

{{#if (and this.showWhatsNew this.whatsNew.hasNew)}}
    <div class="gh-sidebar-banner gh-whatsnew-toast">
        <button class="gh-sidebar-banner-close" type="button" {{on "click" this.dismissWhatsNewToast}}>&#xd7;</button>
        <button class="gh-sidebar-banner-container" type="button" {{on "click" (action "openWhatsNewFeatured")}}>
            <div class="gh-sidebar-banner-head">
                {{svg-jar "sparkle-fill" class="gh-sidebar-banner-icon gh-whatsnew-banner-icon"}}
                <span class="gh-sidebar-banner-subhead">What's new?</span>
            </div>
            <p class="gh-sidebar-banner-msg">Joining the ActivityPub network</p>
            <span class="gh-btn gh-sidebar-banner-button"><span>Read more &rarr;</span></span>
        </button>
    </div>
{{/if}}