<section class="gh-dashboard5-resource gh-dashboard5-community">
    <a href="https://ghost.org/resources/community/" target="_blank" rel="noopener noreferrer" class="gh-dashboard5-resource-box">
        <div class="gh-dashboard5-resource-title">
            <h4>Ghost Creator Community</h4>
        </div> 
        <div class="gh-dashboard5-resource-body">
            <div class="gh-dashboard5-list">
                <div class="gh-dashboard5-list-body">
                    <p>Talk strategy.<br />Get advice.<br />Or just hang out.</p>
                </div>
            </div>
        </div>
        <div class="gh-dashboard5-resource-footer">
            Share the journey &rarr;
        </div>
    </a>
</section>
