<section class="gh-dashboard5-section gh-dashboard5-section-aside gh-dashboard5-community" {{did-insert this.load}}>
    <article class="gh-dashboard5-box is-image">
        <div class="gh-dashboard5-list">
            <div class="gh-dashboard5-subtitle">
                <h4>Ghost community</h4>
            </div>
            <div class="gh-dashboard5-list-body">
                <p>Talk strategy.<br />Get advice.<br />Or, just hang out.</p>
            </div>
            <div class="gh-dashboard5-list-footer">
                <a href="https://ghost.org/resources/community/" target="_blank" rel="noopener noreferrer">Share the journey →</a>
            </div>
        </div>
    </article>
</section>
