<section class="gh-dashboard5-resource gh-dashboard5-resources">
    <article class="gh-dashboard5-resource-box">
        <div class="gh-dashboard5-resource-title">
            <h4>Help Guides</h4>
        </div>   
        <div class="gh-dashboard5-resource-body">

            <div class="gh-dashboard5-resource-bigarticle">
                <img class="gh-dashboard5-resource-thumbnail" src="assets/img/resource-1.jpg" alt="Building your audience with subscriber signups" />
                <div class="gh-dashboard5-resource-text">
                    <div>
                        <h3>Building your audience with subscriber signups</h3>
                        <p>Learn how to turn anonymous visitors into logged-in members with memberships in Ghost.</p>
                        <a href="https://ghost.org/resources/build-audience-subscriber-signups/" target="_blank" class="gh-btn gh-btn-link" rel="noopener noreferrer">Start building &rarr;</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="gh-dashboard5-resource-footer">
            <a href="https://ghost.org/resources/" target="_blank" rel="noopener noreferrer">Get more help &rarr;</a>
        </div>
    </article>
</section>
