<section class="gh-dashboard5-section gh-dashboard5-section-main gh-dashboard5-resources">
    <article class="gh-dashboard5-box is-faded">
        <div class="gh-dashboard5-subtitle">
            <h4>Resources</h4>
        </div>
        <a href="https://ghost.org/resources/build-audience-subscriber-signups/" target="_blank" class="gh-members-help-card" rel="noopener noreferrer">
            <div class="gh-members-help-content">
                <div class="thumbnail" style="background-image: url(assets/img/marketing/members-1.jpg);"></div>
                <div class="text">
                    <h3>Building your audience with subscriber signups</h3>
                    <p>Learn how to turn anonymous visitors into logged-in members with memberships in Ghost.</p>
                    <div class="gh-btn gh-btn-link">Start building &rarr;</div>
                </div>
            </div>
        </a>
        <div class="gh-dashboard5-articles-footer">
            <a href="https://ghost.org/resources/" target="_blank" rel="noopener noreferrer">See all resources &rarr;</a>
        </div>
    </article>
</section>
