<section class="gh-dashboard5-section gh-dashboard5-triple">

        <div class="gh-dashboard5-tabs">
            <button type="button" class="gh-dashboard5-tab {{if this.postsTabSelected 'is-selected'}}" {{on "click" this.changeTabToPosts}}>
                <Dashboard::v5::Parts::Metric
                    @label="Recent posts" /> 
            </button>
            {{#if this.areMembersEnabled}}
                <button type="button" class="gh-dashboard5-tab {{if this.activityTabSelected 'is-selected'}}" {{on "click" this.changeTabToActivity}}>
                    <Dashboard::v5::Parts::Metric
                        @label="Member activity" /> 
                </button>          
            {{/if}}
        </div>

        <div class="gh-dashboard5-articles">
            <a class="gh-dashboard5-article" href="https://ghost.org/help/offers" target="_blank" rel="noopener noreferrer">
                <div class="gh-dashboard5-article-content">
                    <div class="gh-dashboard5-article-thumbnail" style="background-image: url(assets/img/marketing/offers-1.jpg);"></div>
                    <div class="gh-dashboard5-article-text">
                        <h3>How to create offers in Ghost</h3>
                        <p>Find out how to create and promote offers to increase your subscriptions.</p>
                    </div>
                </div>
                <div class="gh-btn gh-dashboard5-article-link"><span>Read more</span></div>
            </a>

            <a class="gh-dashboard5-article" href="https://ghost.org/help/offers" target="_blank" rel="noopener noreferrer">
                <div class="gh-dashboard5-article-content">
                    <div class="gh-dashboard5-article-thumbnail" style="background-image: url(assets/img/marketing/offers-1.jpg);"></div>
                    <div class="gh-dashboard5-article-text">
                        <h3>How to create offers in Ghost</h3>
                        <p>Find out how to create and promote offers to increase your subscriptions.</p>
                    </div>
                </div>
                <div class="gh-btn gh-dashboard5-article-link"><span>Read more</span></div>
            </a>

            <a class="gh-dashboard5-article" href="https://ghost.org/help/offers" target="_blank" rel="noopener noreferrer">
                <div class="gh-dashboard5-article-content">
                    <div class="gh-dashboard5-article-thumbnail" style="background-image: url(assets/img/marketing/offers-1.jpg);"></div>
                    <div class="gh-dashboard5-article-text">
                        <h3>How to create offers in Ghost</h3>
                        <p>Find out how to create and promote offers to increase your subscriptions.</p>
                    </div>
                </div>
                <div class="gh-btn gh-dashboard5-article-link"><span>Read more</span></div>
            </a>
        </div>

</section>