<div>
    <div class="gh-stats-metric-header"><h5 class="gh-stats-metric-label">Locations</h5></div>
    <div {{react-render this.ReactComponent props=(hash chartRange=@chartRange audience=@audience)}}></div>
</div>

<div>
    See all &rarr;
</div>