{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2023-06-05",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"bedrock-agent",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"Agents for Amazon Bedrock",
    "serviceId":"Bedrock Agent",
    "signatureVersion":"v4",
    "signingName":"bedrock",
    "uid":"bedrock-agent-2023-06-05"
  },
  "operations":{
    "AssociateAgentCollaborator":{
      "name":"AssociateAgentCollaborator",
      "http":{
        "method":"PUT",
        "requestUri":"/agents/{agentId}/agentversions/{agentVersion}/agentcollaborators/",
        "responseCode":200
      },
      "input":{"shape":"AssociateAgentCollaboratorRequest"},
      "output":{"shape":"AssociateAgentCollaboratorResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Makes an agent a collaborator for another agent.</p>",
      "idempotent":true
    },
    "AssociateAgentKnowledgeBase":{
      "name":"AssociateAgentKnowledgeBase",
      "http":{
        "method":"PUT",
        "requestUri":"/agents/{agentId}/agentversions/{agentVersion}/knowledgebases/",
        "responseCode":200
      },
      "input":{"shape":"AssociateAgentKnowledgeBaseRequest"},
      "output":{"shape":"AssociateAgentKnowledgeBaseResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Associates a knowledge base with an agent. If a knowledge base is associated and its <code>indexState</code> is set to <code>Enabled</code>, the agent queries the knowledge base for information to augment its response to the user.</p>",
      "idempotent":true
    },
    "CreateAgent":{
      "name":"CreateAgent",
      "http":{
        "method":"PUT",
        "requestUri":"/agents/",
        "responseCode":202
      },
      "input":{"shape":"CreateAgentRequest"},
      "output":{"shape":"CreateAgentResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates an agent that orchestrates interactions between foundation models, data sources, software applications, user conversations, and APIs to carry out tasks to help customers.</p> <ul> <li> <p>Specify the following fields for security purposes.</p> <ul> <li> <p> <code>agentResourceRoleArn</code> – The Amazon Resource Name (ARN) of the role with permissions to invoke API operations on an agent.</p> </li> <li> <p>(Optional) <code>customerEncryptionKeyArn</code> – The Amazon Resource Name (ARN) of a KMS key to encrypt the creation of the agent.</p> </li> <li> <p>(Optional) <code>idleSessionTTLinSeconds</code> – Specify the number of seconds for which the agent should maintain session information. After this time expires, the subsequent <code>InvokeAgent</code> request begins a new session.</p> </li> </ul> </li> <li> <p>To enable your agent to retain conversational context across multiple sessions, include a <code>memoryConfiguration</code> object. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/agents-configure-memory.html\">Configure memory</a>.</p> </li> <li> <p>To override the default prompt behavior for agent orchestration and to use advanced prompts, include a <code>promptOverrideConfiguration</code> object. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/advanced-prompts.html\">Advanced prompts</a>.</p> </li> <li> <p>If your agent fails to be created, the response returns a list of <code>failureReasons</code> alongside a list of <code>recommendedActions</code> for you to troubleshoot.</p> </li> <li> <p>The agent instructions will not be honored if your agent has only one knowledge base, uses default prompts, has no action group, and user input is disabled.</p> </li> </ul>",
      "idempotent":true
    },
    "CreateAgentActionGroup":{
      "name":"CreateAgentActionGroup",
      "http":{
        "method":"PUT",
        "requestUri":"/agents/{agentId}/agentversions/{agentVersion}/actiongroups/",
        "responseCode":200
      },
      "input":{"shape":"CreateAgentActionGroupRequest"},
      "output":{"shape":"CreateAgentActionGroupResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates an action group for an agent. An action group represents the actions that an agent can carry out for the customer by defining the APIs that an agent can call and the logic for calling them.</p> <p>To allow your agent to request the user for additional information when trying to complete a task, add an action group with the <code>parentActionGroupSignature</code> field set to <code>AMAZON.UserInput</code>. </p> <p>To allow your agent to generate, run, and troubleshoot code when trying to complete a task, add an action group with the <code>parentActionGroupSignature</code> field set to <code>AMAZON.CodeInterpreter</code>. </p> <p>You must leave the <code>description</code>, <code>apiSchema</code>, and <code>actionGroupExecutor</code> fields blank for this action group. During orchestration, if your agent determines that it needs to invoke an API in an action group, but doesn't have enough information to complete the API request, it will invoke this action group instead and return an <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_Observation.html\">Observation</a> reprompting the user for more information.</p>",
      "idempotent":true
    },
    "CreateAgentAlias":{
      "name":"CreateAgentAlias",
      "http":{
        "method":"PUT",
        "requestUri":"/agents/{agentId}/agentaliases/",
        "responseCode":202
      },
      "input":{"shape":"CreateAgentAliasRequest"},
      "output":{"shape":"CreateAgentAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates an alias of an agent that can be used to deploy the agent.</p>",
      "idempotent":true
    },
    "CreateDataSource":{
      "name":"CreateDataSource",
      "http":{
        "method":"PUT",
        "requestUri":"/knowledgebases/{knowledgeBaseId}/datasources/",
        "responseCode":200
      },
      "input":{"shape":"CreateDataSourceRequest"},
      "output":{"shape":"CreateDataSourceResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Connects a knowledge base to a data source. You specify the configuration for the specific data source service in the <code>dataSourceConfiguration</code> field.</p> <important> <p>You can't change the <code>chunkingConfiguration</code> after you create the data source connector.</p> </important>",
      "idempotent":true
    },
    "CreateFlow":{
      "name":"CreateFlow",
      "http":{
        "method":"POST",
        "requestUri":"/flows/",
        "responseCode":201
      },
      "input":{"shape":"CreateFlowRequest"},
      "output":{"shape":"CreateFlowResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a prompt flow that you can use to send an input through various steps to yield an output. Configure nodes, each of which corresponds to a step of the flow, and create connections between the nodes to create paths to different outputs. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-how-it-works.html\">How it works</a> and <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-create.html\">Create a flow in Amazon Bedrock</a> in the Amazon Bedrock User Guide.</p>",
      "idempotent":true
    },
    "CreateFlowAlias":{
      "name":"CreateFlowAlias",
      "http":{
        "method":"POST",
        "requestUri":"/flows/{flowIdentifier}/aliases",
        "responseCode":201
      },
      "input":{"shape":"CreateFlowAliasRequest"},
      "output":{"shape":"CreateFlowAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates an alias of a flow for deployment. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-deploy.html\">Deploy a flow in Amazon Bedrock</a> in the Amazon Bedrock User Guide.</p>",
      "idempotent":true
    },
    "CreateFlowVersion":{
      "name":"CreateFlowVersion",
      "http":{
        "method":"POST",
        "requestUri":"/flows/{flowIdentifier}/versions",
        "responseCode":201
      },
      "input":{"shape":"CreateFlowVersionRequest"},
      "output":{"shape":"CreateFlowVersionResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a version of the flow that you can deploy. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-deploy.html\">Deploy a flow in Amazon Bedrock</a> in the Amazon Bedrock User Guide.</p>",
      "idempotent":true
    },
    "CreateKnowledgeBase":{
      "name":"CreateKnowledgeBase",
      "http":{
        "method":"PUT",
        "requestUri":"/knowledgebases/",
        "responseCode":202
      },
      "input":{"shape":"CreateKnowledgeBaseRequest"},
      "output":{"shape":"CreateKnowledgeBaseResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a knowledge base. A knowledge base contains your data sources so that Large Language Models (LLMs) can use your data. To create a knowledge base, you must first set up your data sources and configure a supported vector store. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/knowlege-base-prereq.html\">Set up a knowledge base</a>.</p> <note> <p>If you prefer to let Amazon Bedrock create and manage a vector store for you in Amazon OpenSearch Service, use the console. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/knowledge-base-create\">Create a knowledge base</a>.</p> </note> <ul> <li> <p>Provide the <code>name</code> and an optional <code>description</code>.</p> </li> <li> <p>Provide the Amazon Resource Name (ARN) with permissions to create a knowledge base in the <code>roleArn</code> field.</p> </li> <li> <p>Provide the embedding model to use in the <code>embeddingModelArn</code> field in the <code>knowledgeBaseConfiguration</code> object.</p> </li> <li> <p>Provide the configuration for your vector store in the <code>storageConfiguration</code> object.</p> <ul> <li> <p>For an Amazon OpenSearch Service database, use the <code>opensearchServerlessConfiguration</code> object. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/knowledge-base-setup-oss.html\">Create a vector store in Amazon OpenSearch Service</a>.</p> </li> <li> <p>For an Amazon Aurora database, use the <code>RdsConfiguration</code> object. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/knowledge-base-setup-rds.html\">Create a vector store in Amazon Aurora</a>.</p> </li> <li> <p>For a Pinecone database, use the <code>pineconeConfiguration</code> object. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/knowledge-base-setup-pinecone.html\">Create a vector store in Pinecone</a>.</p> </li> <li> <p>For a Redis Enterprise Cloud database, use the <code>redisEnterpriseCloudConfiguration</code> object. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/knowledge-base-setup-redis.html\">Create a vector store in Redis Enterprise Cloud</a>.</p> </li> </ul> </li> </ul>",
      "idempotent":true
    },
    "CreatePrompt":{
      "name":"CreatePrompt",
      "http":{
        "method":"POST",
        "requestUri":"/prompts/",
        "responseCode":201
      },
      "input":{"shape":"CreatePromptRequest"},
      "output":{"shape":"CreatePromptResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a prompt in your prompt library that you can add to a flow. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prompt-management.html\">Prompt management in Amazon Bedrock</a>, <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prompt-management-create.html\">Create a prompt using Prompt management</a> and <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows.html\">Prompt flows in Amazon Bedrock</a> in the Amazon Bedrock User Guide.</p>",
      "idempotent":true
    },
    "CreatePromptVersion":{
      "name":"CreatePromptVersion",
      "http":{
        "method":"POST",
        "requestUri":"/prompts/{promptIdentifier}/versions",
        "responseCode":201
      },
      "input":{"shape":"CreatePromptVersionRequest"},
      "output":{"shape":"CreatePromptVersionResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a static snapshot of your prompt that can be deployed to production. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prompt-management-deploy.html\">Deploy prompts using Prompt management by creating versions</a> in the Amazon Bedrock User Guide.</p>",
      "idempotent":true
    },
    "DeleteAgent":{
      "name":"DeleteAgent",
      "http":{
        "method":"DELETE",
        "requestUri":"/agents/{agentId}/",
        "responseCode":202
      },
      "input":{"shape":"DeleteAgentRequest"},
      "output":{"shape":"DeleteAgentResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes an agent.</p>",
      "idempotent":true
    },
    "DeleteAgentActionGroup":{
      "name":"DeleteAgentActionGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/agents/{agentId}/agentversions/{agentVersion}/actiongroups/{actionGroupId}/",
        "responseCode":204
      },
      "input":{"shape":"DeleteAgentActionGroupRequest"},
      "output":{"shape":"DeleteAgentActionGroupResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes an action group in an agent.</p>",
      "idempotent":true
    },
    "DeleteAgentAlias":{
      "name":"DeleteAgentAlias",
      "http":{
        "method":"DELETE",
        "requestUri":"/agents/{agentId}/agentaliases/{agentAliasId}/",
        "responseCode":202
      },
      "input":{"shape":"DeleteAgentAliasRequest"},
      "output":{"shape":"DeleteAgentAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes an alias of an agent.</p>",
      "idempotent":true
    },
    "DeleteAgentVersion":{
      "name":"DeleteAgentVersion",
      "http":{
        "method":"DELETE",
        "requestUri":"/agents/{agentId}/agentversions/{agentVersion}/",
        "responseCode":202
      },
      "input":{"shape":"DeleteAgentVersionRequest"},
      "output":{"shape":"DeleteAgentVersionResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes a version of an agent.</p>",
      "idempotent":true
    },
    "DeleteDataSource":{
      "name":"DeleteDataSource",
      "http":{
        "method":"DELETE",
        "requestUri":"/knowledgebases/{knowledgeBaseId}/datasources/{dataSourceId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteDataSourceRequest"},
      "output":{"shape":"DeleteDataSourceResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes a data source from a knowledge base.</p>",
      "idempotent":true
    },
    "DeleteFlow":{
      "name":"DeleteFlow",
      "http":{
        "method":"DELETE",
        "requestUri":"/flows/{flowIdentifier}/",
        "responseCode":200
      },
      "input":{"shape":"DeleteFlowRequest"},
      "output":{"shape":"DeleteFlowResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes a flow.</p>",
      "idempotent":true
    },
    "DeleteFlowAlias":{
      "name":"DeleteFlowAlias",
      "http":{
        "method":"DELETE",
        "requestUri":"/flows/{flowIdentifier}/aliases/{aliasIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"DeleteFlowAliasRequest"},
      "output":{"shape":"DeleteFlowAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes an alias of a flow.</p>",
      "idempotent":true
    },
    "DeleteFlowVersion":{
      "name":"DeleteFlowVersion",
      "http":{
        "method":"DELETE",
        "requestUri":"/flows/{flowIdentifier}/versions/{flowVersion}/",
        "responseCode":200
      },
      "input":{"shape":"DeleteFlowVersionRequest"},
      "output":{"shape":"DeleteFlowVersionResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes a version of a flow.</p>",
      "idempotent":true
    },
    "DeleteKnowledgeBase":{
      "name":"DeleteKnowledgeBase",
      "http":{
        "method":"DELETE",
        "requestUri":"/knowledgebases/{knowledgeBaseId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteKnowledgeBaseRequest"},
      "output":{"shape":"DeleteKnowledgeBaseResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes a knowledge base. Before deleting a knowledge base, you should disassociate the knowledge base from any agents that it is associated with by making a <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent_DisassociateAgentKnowledgeBase.html\">DisassociateAgentKnowledgeBase</a> request.</p>",
      "idempotent":true
    },
    "DeleteKnowledgeBaseDocuments":{
      "name":"DeleteKnowledgeBaseDocuments",
      "http":{
        "method":"POST",
        "requestUri":"/knowledgebases/{knowledgeBaseId}/datasources/{dataSourceId}/documents/deleteDocuments",
        "responseCode":202
      },
      "input":{"shape":"DeleteKnowledgeBaseDocumentsRequest"},
      "output":{"shape":"DeleteKnowledgeBaseDocumentsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Deletes documents from a data source and syncs the changes to the knowledge base that is connected to it. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/kb-direct-ingestion.html\">Ingest changes directly into a knowledge base</a> in the Amazon Bedrock User Guide.</p>",
      "idempotent":true
    },
    "DeletePrompt":{
      "name":"DeletePrompt",
      "http":{
        "method":"DELETE",
        "requestUri":"/prompts/{promptIdentifier}/",
        "responseCode":200
      },
      "input":{"shape":"DeletePromptRequest"},
      "output":{"shape":"DeletePromptResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes a prompt or a version of it, depending on whether you include the <code>promptVersion</code> field or not. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prompt-management-manage.html#prompt-management-delete.html\">Delete prompts from the Prompt management tool</a> and <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prompt-management-deploy.html#prompt-management-versions-delete.html\">Delete a version of a prompt from the Prompt management tool</a> in the Amazon Bedrock User Guide.</p>",
      "idempotent":true
    },
    "DisassociateAgentCollaborator":{
      "name":"DisassociateAgentCollaborator",
      "http":{
        "method":"DELETE",
        "requestUri":"/agents/{agentId}/agentversions/{agentVersion}/agentcollaborators/{collaboratorId}/",
        "responseCode":204
      },
      "input":{"shape":"DisassociateAgentCollaboratorRequest"},
      "output":{"shape":"DisassociateAgentCollaboratorResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Disassociates an agent collaborator.</p>",
      "idempotent":true
    },
    "DisassociateAgentKnowledgeBase":{
      "name":"DisassociateAgentKnowledgeBase",
      "http":{
        "method":"DELETE",
        "requestUri":"/agents/{agentId}/agentversions/{agentVersion}/knowledgebases/{knowledgeBaseId}/",
        "responseCode":204
      },
      "input":{"shape":"DisassociateAgentKnowledgeBaseRequest"},
      "output":{"shape":"DisassociateAgentKnowledgeBaseResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Disassociates a knowledge base from an agent.</p>",
      "idempotent":true
    },
    "GetAgent":{
      "name":"GetAgent",
      "http":{
        "method":"GET",
        "requestUri":"/agents/{agentId}/",
        "responseCode":200
      },
      "input":{"shape":"GetAgentRequest"},
      "output":{"shape":"GetAgentResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets information about an agent.</p>"
    },
    "GetAgentActionGroup":{
      "name":"GetAgentActionGroup",
      "http":{
        "method":"GET",
        "requestUri":"/agents/{agentId}/agentversions/{agentVersion}/actiongroups/{actionGroupId}/",
        "responseCode":200
      },
      "input":{"shape":"GetAgentActionGroupRequest"},
      "output":{"shape":"GetAgentActionGroupResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets information about an action group for an agent.</p>"
    },
    "GetAgentAlias":{
      "name":"GetAgentAlias",
      "http":{
        "method":"GET",
        "requestUri":"/agents/{agentId}/agentaliases/{agentAliasId}/",
        "responseCode":200
      },
      "input":{"shape":"GetAgentAliasRequest"},
      "output":{"shape":"GetAgentAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets information about an alias of an agent.</p>"
    },
    "GetAgentCollaborator":{
      "name":"GetAgentCollaborator",
      "http":{
        "method":"GET",
        "requestUri":"/agents/{agentId}/agentversions/{agentVersion}/agentcollaborators/{collaboratorId}/",
        "responseCode":200
      },
      "input":{"shape":"GetAgentCollaboratorRequest"},
      "output":{"shape":"GetAgentCollaboratorResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves information about an agent's collaborator.</p>"
    },
    "GetAgentKnowledgeBase":{
      "name":"GetAgentKnowledgeBase",
      "http":{
        "method":"GET",
        "requestUri":"/agents/{agentId}/agentversions/{agentVersion}/knowledgebases/{knowledgeBaseId}/",
        "responseCode":200
      },
      "input":{"shape":"GetAgentKnowledgeBaseRequest"},
      "output":{"shape":"GetAgentKnowledgeBaseResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets information about a knowledge base associated with an agent.</p>"
    },
    "GetAgentVersion":{
      "name":"GetAgentVersion",
      "http":{
        "method":"GET",
        "requestUri":"/agents/{agentId}/agentversions/{agentVersion}/",
        "responseCode":200
      },
      "input":{"shape":"GetAgentVersionRequest"},
      "output":{"shape":"GetAgentVersionResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets details about a version of an agent.</p>"
    },
    "GetDataSource":{
      "name":"GetDataSource",
      "http":{
        "method":"GET",
        "requestUri":"/knowledgebases/{knowledgeBaseId}/datasources/{dataSourceId}",
        "responseCode":200
      },
      "input":{"shape":"GetDataSourceRequest"},
      "output":{"shape":"GetDataSourceResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets information about a data source.</p>"
    },
    "GetFlow":{
      "name":"GetFlow",
      "http":{
        "method":"GET",
        "requestUri":"/flows/{flowIdentifier}/",
        "responseCode":200
      },
      "input":{"shape":"GetFlowRequest"},
      "output":{"shape":"GetFlowResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves information about a flow. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-manage.html\">Manage a flow in Amazon Bedrock</a> in the Amazon Bedrock User Guide.</p>"
    },
    "GetFlowAlias":{
      "name":"GetFlowAlias",
      "http":{
        "method":"GET",
        "requestUri":"/flows/{flowIdentifier}/aliases/{aliasIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetFlowAliasRequest"},
      "output":{"shape":"GetFlowAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves information about a flow. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-deploy.html\">Deploy a flow in Amazon Bedrock</a> in the Amazon Bedrock User Guide.</p>"
    },
    "GetFlowVersion":{
      "name":"GetFlowVersion",
      "http":{
        "method":"GET",
        "requestUri":"/flows/{flowIdentifier}/versions/{flowVersion}/",
        "responseCode":200
      },
      "input":{"shape":"GetFlowVersionRequest"},
      "output":{"shape":"GetFlowVersionResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves information about a version of a flow. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-deploy.html\">Deploy a flow in Amazon Bedrock</a> in the Amazon Bedrock User Guide.</p>"
    },
    "GetIngestionJob":{
      "name":"GetIngestionJob",
      "http":{
        "method":"GET",
        "requestUri":"/knowledgebases/{knowledgeBaseId}/datasources/{dataSourceId}/ingestionjobs/{ingestionJobId}",
        "responseCode":200
      },
      "input":{"shape":"GetIngestionJobRequest"},
      "output":{"shape":"GetIngestionJobResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets information about a data ingestion job. Data sources are ingested into your knowledge base so that Large Language Models (LLMs) can use your data.</p>"
    },
    "GetKnowledgeBase":{
      "name":"GetKnowledgeBase",
      "http":{
        "method":"GET",
        "requestUri":"/knowledgebases/{knowledgeBaseId}",
        "responseCode":200
      },
      "input":{"shape":"GetKnowledgeBaseRequest"},
      "output":{"shape":"GetKnowledgeBaseResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets information about a knoweldge base.</p>"
    },
    "GetKnowledgeBaseDocuments":{
      "name":"GetKnowledgeBaseDocuments",
      "http":{
        "method":"POST",
        "requestUri":"/knowledgebases/{knowledgeBaseId}/datasources/{dataSourceId}/documents/getDocuments",
        "responseCode":200
      },
      "input":{"shape":"GetKnowledgeBaseDocumentsRequest"},
      "output":{"shape":"GetKnowledgeBaseDocumentsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Retrieves specific documents from a data source that is connected to a knowledge base. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/kb-direct-ingestion.html\">Ingest changes directly into a knowledge base</a> in the Amazon Bedrock User Guide.</p>"
    },
    "GetPrompt":{
      "name":"GetPrompt",
      "http":{
        "method":"GET",
        "requestUri":"/prompts/{promptIdentifier}/",
        "responseCode":200
      },
      "input":{"shape":"GetPromptRequest"},
      "output":{"shape":"GetPromptResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves information about the working draft (<code>DRAFT</code> version) of a prompt or a version of it, depending on whether you include the <code>promptVersion</code> field or not. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prompt-management-manage.html#prompt-management-view.html\">View information about prompts using Prompt management</a> and <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prompt-management-deploy.html#prompt-management-versions-view.html\">View information about a version of your prompt</a> in the Amazon Bedrock User Guide.</p>"
    },
    "IngestKnowledgeBaseDocuments":{
      "name":"IngestKnowledgeBaseDocuments",
      "http":{
        "method":"PUT",
        "requestUri":"/knowledgebases/{knowledgeBaseId}/datasources/{dataSourceId}/documents",
        "responseCode":202
      },
      "input":{"shape":"IngestKnowledgeBaseDocumentsRequest"},
      "output":{"shape":"IngestKnowledgeBaseDocumentsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Ingests documents directly into the knowledge base that is connected to the data source. The <code>dataSourceType</code> specified in the content for each document must match the type of the data source that you specify in the header. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/kb-direct-ingestion.html\">Ingest changes directly into a knowledge base</a> in the Amazon Bedrock User Guide.</p>",
      "idempotent":true
    },
    "ListAgentActionGroups":{
      "name":"ListAgentActionGroups",
      "http":{
        "method":"POST",
        "requestUri":"/agents/{agentId}/agentversions/{agentVersion}/actiongroups/",
        "responseCode":200
      },
      "input":{"shape":"ListAgentActionGroupsRequest"},
      "output":{"shape":"ListAgentActionGroupsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists the action groups for an agent and information about each one.</p>"
    },
    "ListAgentAliases":{
      "name":"ListAgentAliases",
      "http":{
        "method":"POST",
        "requestUri":"/agents/{agentId}/agentaliases/",
        "responseCode":200
      },
      "input":{"shape":"ListAgentAliasesRequest"},
      "output":{"shape":"ListAgentAliasesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists the aliases of an agent and information about each one.</p>"
    },
    "ListAgentCollaborators":{
      "name":"ListAgentCollaborators",
      "http":{
        "method":"POST",
        "requestUri":"/agents/{agentId}/agentversions/{agentVersion}/agentcollaborators/",
        "responseCode":200
      },
      "input":{"shape":"ListAgentCollaboratorsRequest"},
      "output":{"shape":"ListAgentCollaboratorsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieve a list of an agent's collaborators.</p>"
    },
    "ListAgentKnowledgeBases":{
      "name":"ListAgentKnowledgeBases",
      "http":{
        "method":"POST",
        "requestUri":"/agents/{agentId}/agentversions/{agentVersion}/knowledgebases/",
        "responseCode":200
      },
      "input":{"shape":"ListAgentKnowledgeBasesRequest"},
      "output":{"shape":"ListAgentKnowledgeBasesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists knowledge bases associated with an agent and information about each one.</p>"
    },
    "ListAgentVersions":{
      "name":"ListAgentVersions",
      "http":{
        "method":"POST",
        "requestUri":"/agents/{agentId}/agentversions/",
        "responseCode":200
      },
      "input":{"shape":"ListAgentVersionsRequest"},
      "output":{"shape":"ListAgentVersionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists the versions of an agent and information about each version.</p>"
    },
    "ListAgents":{
      "name":"ListAgents",
      "http":{
        "method":"POST",
        "requestUri":"/agents/",
        "responseCode":200
      },
      "input":{"shape":"ListAgentsRequest"},
      "output":{"shape":"ListAgentsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists the agents belonging to an account and information about each agent.</p>"
    },
    "ListDataSources":{
      "name":"ListDataSources",
      "http":{
        "method":"POST",
        "requestUri":"/knowledgebases/{knowledgeBaseId}/datasources/",
        "responseCode":200
      },
      "input":{"shape":"ListDataSourcesRequest"},
      "output":{"shape":"ListDataSourcesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists the data sources in a knowledge base and information about each one.</p>"
    },
    "ListFlowAliases":{
      "name":"ListFlowAliases",
      "http":{
        "method":"GET",
        "requestUri":"/flows/{flowIdentifier}/aliases",
        "responseCode":200
      },
      "input":{"shape":"ListFlowAliasesRequest"},
      "output":{"shape":"ListFlowAliasesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns a list of aliases for a flow.</p>"
    },
    "ListFlowVersions":{
      "name":"ListFlowVersions",
      "http":{
        "method":"GET",
        "requestUri":"/flows/{flowIdentifier}/versions",
        "responseCode":200
      },
      "input":{"shape":"ListFlowVersionsRequest"},
      "output":{"shape":"ListFlowVersionsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns a list of information about each flow. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-deploy.html\">Deploy a flow in Amazon Bedrock</a> in the Amazon Bedrock User Guide.</p>"
    },
    "ListFlows":{
      "name":"ListFlows",
      "http":{
        "method":"GET",
        "requestUri":"/flows/",
        "responseCode":200
      },
      "input":{"shape":"ListFlowsRequest"},
      "output":{"shape":"ListFlowsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns a list of flows and information about each flow. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-manage.html\">Manage a flow in Amazon Bedrock</a> in the Amazon Bedrock User Guide.</p>"
    },
    "ListIngestionJobs":{
      "name":"ListIngestionJobs",
      "http":{
        "method":"POST",
        "requestUri":"/knowledgebases/{knowledgeBaseId}/datasources/{dataSourceId}/ingestionjobs/",
        "responseCode":200
      },
      "input":{"shape":"ListIngestionJobsRequest"},
      "output":{"shape":"ListIngestionJobsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists the data ingestion jobs for a data source. The list also includes information about each job.</p>"
    },
    "ListKnowledgeBaseDocuments":{
      "name":"ListKnowledgeBaseDocuments",
      "http":{
        "method":"POST",
        "requestUri":"/knowledgebases/{knowledgeBaseId}/datasources/{dataSourceId}/documents",
        "responseCode":200
      },
      "input":{"shape":"ListKnowledgeBaseDocumentsRequest"},
      "output":{"shape":"ListKnowledgeBaseDocumentsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Retrieves all the documents contained in a data source that is connected to a knowledge base. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/kb-direct-ingestion.html\">Ingest changes directly into a knowledge base</a> in the Amazon Bedrock User Guide.</p>"
    },
    "ListKnowledgeBases":{
      "name":"ListKnowledgeBases",
      "http":{
        "method":"POST",
        "requestUri":"/knowledgebases/",
        "responseCode":200
      },
      "input":{"shape":"ListKnowledgeBasesRequest"},
      "output":{"shape":"ListKnowledgeBasesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists the knowledge bases in an account. The list also includesinformation about each knowledge base.</p>"
    },
    "ListPrompts":{
      "name":"ListPrompts",
      "http":{
        "method":"GET",
        "requestUri":"/prompts/",
        "responseCode":200
      },
      "input":{"shape":"ListPromptsRequest"},
      "output":{"shape":"ListPromptsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns either information about the working draft (<code>DRAFT</code> version) of each prompt in an account, or information about of all versions of a prompt, depending on whether you include the <code>promptIdentifier</code> field or not. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prompt-management-manage.html#prompt-management-view.html\">View information about prompts using Prompt management</a> in the Amazon Bedrock User Guide.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>List all the tags for the resource you specify.</p>"
    },
    "PrepareAgent":{
      "name":"PrepareAgent",
      "http":{
        "method":"POST",
        "requestUri":"/agents/{agentId}/",
        "responseCode":202
      },
      "input":{"shape":"PrepareAgentRequest"},
      "output":{"shape":"PrepareAgentResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a <code>DRAFT</code> version of the agent that can be used for internal testing.</p>"
    },
    "PrepareFlow":{
      "name":"PrepareFlow",
      "http":{
        "method":"POST",
        "requestUri":"/flows/{flowIdentifier}/",
        "responseCode":202
      },
      "input":{"shape":"PrepareFlowRequest"},
      "output":{"shape":"PrepareFlowResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Prepares the <code>DRAFT</code> version of a flow so that it can be invoked. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-test.html\">Test a flow in Amazon Bedrock</a> in the Amazon Bedrock User Guide.</p>"
    },
    "StartIngestionJob":{
      "name":"StartIngestionJob",
      "http":{
        "method":"PUT",
        "requestUri":"/knowledgebases/{knowledgeBaseId}/datasources/{dataSourceId}/ingestionjobs/",
        "responseCode":202
      },
      "input":{"shape":"StartIngestionJobRequest"},
      "output":{"shape":"StartIngestionJobResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Begins a data ingestion job. Data sources are ingested into your knowledge base so that Large Language Models (LLMs) can use your data.</p>",
      "idempotent":true
    },
    "StopIngestionJob":{
      "name":"StopIngestionJob",
      "http":{
        "method":"POST",
        "requestUri":"/knowledgebases/{knowledgeBaseId}/datasources/{dataSourceId}/ingestionjobs/{ingestionJobId}/stop",
        "responseCode":202
      },
      "input":{"shape":"StopIngestionJobRequest"},
      "output":{"shape":"StopIngestionJobResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Stops a currently running data ingestion job. You can send a <code>StartIngestionJob</code> request again to ingest the rest of your data when you are ready.</p>",
      "idempotent":true
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Associate tags with a resource. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/what-is-service.html\">Tagging resources</a> in the Amazon Bedrock User Guide.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Remove tags from a resource.</p>",
      "idempotent":true
    },
    "UpdateAgent":{
      "name":"UpdateAgent",
      "http":{
        "method":"PUT",
        "requestUri":"/agents/{agentId}/",
        "responseCode":202
      },
      "input":{"shape":"UpdateAgentRequest"},
      "output":{"shape":"UpdateAgentResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Updates the configuration of an agent.</p>",
      "idempotent":true
    },
    "UpdateAgentActionGroup":{
      "name":"UpdateAgentActionGroup",
      "http":{
        "method":"PUT",
        "requestUri":"/agents/{agentId}/agentversions/{agentVersion}/actiongroups/{actionGroupId}/",
        "responseCode":200
      },
      "input":{"shape":"UpdateAgentActionGroupRequest"},
      "output":{"shape":"UpdateAgentActionGroupResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Updates the configuration for an action group for an agent.</p>",
      "idempotent":true
    },
    "UpdateAgentAlias":{
      "name":"UpdateAgentAlias",
      "http":{
        "method":"PUT",
        "requestUri":"/agents/{agentId}/agentaliases/{agentAliasId}/",
        "responseCode":202
      },
      "input":{"shape":"UpdateAgentAliasRequest"},
      "output":{"shape":"UpdateAgentAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Updates configurations for an alias of an agent.</p>",
      "idempotent":true
    },
    "UpdateAgentCollaborator":{
      "name":"UpdateAgentCollaborator",
      "http":{
        "method":"PUT",
        "requestUri":"/agents/{agentId}/agentversions/{agentVersion}/agentcollaborators/{collaboratorId}/",
        "responseCode":200
      },
      "input":{"shape":"UpdateAgentCollaboratorRequest"},
      "output":{"shape":"UpdateAgentCollaboratorResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Updates an agent's collaborator.</p>",
      "idempotent":true
    },
    "UpdateAgentKnowledgeBase":{
      "name":"UpdateAgentKnowledgeBase",
      "http":{
        "method":"PUT",
        "requestUri":"/agents/{agentId}/agentversions/{agentVersion}/knowledgebases/{knowledgeBaseId}/",
        "responseCode":200
      },
      "input":{"shape":"UpdateAgentKnowledgeBaseRequest"},
      "output":{"shape":"UpdateAgentKnowledgeBaseResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Updates the configuration for a knowledge base that has been associated with an agent.</p>",
      "idempotent":true
    },
    "UpdateDataSource":{
      "name":"UpdateDataSource",
      "http":{
        "method":"PUT",
        "requestUri":"/knowledgebases/{knowledgeBaseId}/datasources/{dataSourceId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateDataSourceRequest"},
      "output":{"shape":"UpdateDataSourceResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Updates the configurations for a data source connector.</p> <important> <p>You can't change the <code>chunkingConfiguration</code> after you create the data source connector. Specify the existing <code>chunkingConfiguration</code>.</p> </important>",
      "idempotent":true
    },
    "UpdateFlow":{
      "name":"UpdateFlow",
      "http":{
        "method":"PUT",
        "requestUri":"/flows/{flowIdentifier}/",
        "responseCode":200
      },
      "input":{"shape":"UpdateFlowRequest"},
      "output":{"shape":"UpdateFlowResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Modifies a flow. Include both fields that you want to keep and fields that you want to change. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-how-it-works.html\">How it works</a> and <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-create.html\">Create a flow in Amazon Bedrock</a> in the Amazon Bedrock User Guide.</p>",
      "idempotent":true
    },
    "UpdateFlowAlias":{
      "name":"UpdateFlowAlias",
      "http":{
        "method":"PUT",
        "requestUri":"/flows/{flowIdentifier}/aliases/{aliasIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"UpdateFlowAliasRequest"},
      "output":{"shape":"UpdateFlowAliasResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Modifies the alias of a flow. Include both fields that you want to keep and ones that you want to change. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-deploy.html\">Deploy a flow in Amazon Bedrock</a> in the Amazon Bedrock User Guide.</p>",
      "idempotent":true
    },
    "UpdateKnowledgeBase":{
      "name":"UpdateKnowledgeBase",
      "http":{
        "method":"PUT",
        "requestUri":"/knowledgebases/{knowledgeBaseId}",
        "responseCode":202
      },
      "input":{"shape":"UpdateKnowledgeBaseRequest"},
      "output":{"shape":"UpdateKnowledgeBaseResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Updates the configuration of a knowledge base with the fields that you specify. Because all fields will be overwritten, you must include the same values for fields that you want to keep the same.</p> <p>You can change the following fields:</p> <ul> <li> <p> <code>name</code> </p> </li> <li> <p> <code>description</code> </p> </li> <li> <p> <code>roleArn</code> </p> </li> </ul> <p>You can't change the <code>knowledgeBaseConfiguration</code> or <code>storageConfiguration</code> fields, so you must specify the same configurations as when you created the knowledge base. You can send a <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent_GetKnowledgeBase.html\">GetKnowledgeBase</a> request and copy the same configurations.</p>",
      "idempotent":true
    },
    "UpdatePrompt":{
      "name":"UpdatePrompt",
      "http":{
        "method":"PUT",
        "requestUri":"/prompts/{promptIdentifier}/",
        "responseCode":200
      },
      "input":{"shape":"UpdatePromptRequest"},
      "output":{"shape":"UpdatePromptResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Modifies a prompt in your prompt library. Include both fields that you want to keep and fields that you want to replace. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prompt-management.html\">Prompt management in Amazon Bedrock</a> and <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/prompt-management-manage.html#prompt-management-edit\">Edit prompts in your prompt library</a> in the Amazon Bedrock User Guide.</p>",
      "idempotent":true
    },
    "ValidateFlowDefinition":{
      "name":"ValidateFlowDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/flows/validate-definition",
        "responseCode":200
      },
      "input":{"shape":"ValidateFlowDefinitionRequest"},
      "output":{"shape":"ValidateFlowDefinitionResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Validates the definition of a flow.</p>"
    }
  },
  "shapes":{
    "APISchema":{
      "type":"structure",
      "members":{
        "s3":{
          "shape":"S3Identifier",
          "documentation":"<p>Contains details about the S3 object containing the OpenAPI schema for the action group. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/agents-api-schema.html\">Action group OpenAPI schemas</a>.</p>"
        },
        "payload":{
          "shape":"Payload",
          "documentation":"<p>The JSON or YAML-formatted payload defining the OpenAPI schema for the action group. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/agents-api-schema.html\">Action group OpenAPI schemas</a>.</p>"
        }
      },
      "documentation":"<p>Contains details about the OpenAPI schema for the action group. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/agents-api-schema.html\">Action group OpenAPI schemas</a>. You can either include the schema directly in the <code>payload</code> field or you can upload it to an S3 bucket and specify the S3 bucket location in the <code>s3</code> field.</p>",
      "union":true
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "documentation":"<p>The request is denied because of missing access permissions.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "ActionGroupExecutor":{
      "type":"structure",
      "members":{
        "lambda":{
          "shape":"LambdaArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Lambda function containing the business logic that is carried out upon invoking the action.</p>"
        },
        "customControl":{
          "shape":"CustomControlMethod",
          "documentation":"<p>To return the action group invocation results directly in the <code>InvokeAgent</code> response, specify <code>RETURN_CONTROL</code>.</p>"
        }
      },
      "documentation":"<p>Contains details about the Lambda function containing the business logic that is carried out upon invoking the action or the custom control method for handling the information elicited from the user.</p>",
      "union":true
    },
    "ActionGroupSignature":{
      "type":"string",
      "enum":[
        "AMAZON.UserInput",
        "AMAZON.CodeInterpreter",
        "ANTHROPIC.Computer",
        "ANTHROPIC.Bash",
        "ANTHROPIC.TextEditor"
      ]
    },
    "ActionGroupSignatureParams":{
      "type":"map",
      "key":{"shape":"ActionGroupSignatureParamsKeyString"},
      "value":{"shape":"ActionGroupSignatureParamsValueString"}
    },
    "ActionGroupSignatureParamsKeyString":{
      "type":"string",
      "max":100,
      "min":0
    },
    "ActionGroupSignatureParamsValueString":{
      "type":"string",
      "max":100,
      "min":0
    },
    "ActionGroupState":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "ActionGroupSummaries":{
      "type":"list",
      "member":{"shape":"ActionGroupSummary"},
      "max":10,
      "min":0
    },
    "ActionGroupSummary":{
      "type":"structure",
      "required":[
        "actionGroupId",
        "actionGroupName",
        "actionGroupState",
        "updatedAt"
      ],
      "members":{
        "actionGroupId":{
          "shape":"Id",
          "documentation":"<p>The unique identifier of the action group.</p>"
        },
        "actionGroupName":{
          "shape":"Name",
          "documentation":"<p>The name of the action group.</p>"
        },
        "actionGroupState":{
          "shape":"ActionGroupState",
          "documentation":"<p>Specifies whether the action group is available for the agent to invoke or not when sending an <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html\">InvokeAgent</a> request.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>The description of the action group.</p>"
        },
        "updatedAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The time at which the action group was last updated.</p>"
        }
      },
      "documentation":"<p>Contains details about an action group.</p>"
    },
    "AdditionalModelRequestFields":{
      "type":"map",
      "key":{"shape":"AdditionalModelRequestFieldsKey"},
      "value":{"shape":"AdditionalModelRequestFieldsValue"}
    },
    "AdditionalModelRequestFieldsKey":{
      "type":"string",
      "max":100,
      "min":1
    },
    "AdditionalModelRequestFieldsValue":{
      "type":"structure",
      "members":{
      },
      "document":true
    },
    "Agent":{
      "type":"structure",
      "required":[
        "agentId",
        "agentName",
        "agentArn",
        "agentVersion",
        "agentStatus",
        "idleSessionTTLInSeconds",
        "agentResourceRoleArn",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "agentId":{
          "shape":"Id",
          "documentation":"<p>The unique identifier of the agent.</p>"
        },
        "agentName":{
          "shape":"Name",
          "documentation":"<p>The name of the agent.</p>"
        },
        "agentArn":{
          "shape":"AgentArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the agent.</p>"
        },
        "agentVersion":{
          "shape":"DraftVersion",
          "documentation":"<p>The version of the agent.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A unique, case-sensitive identifier to ensure that the API request completes no more than one time. If this token matches a previous request, Amazon Bedrock ignores the request, but does not return an error. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">Ensuring idempotency</a>.</p>"
        },
        "instruction":{
          "shape":"Instruction",
          "documentation":"<p>Instructions that tell the agent what it should do and how it should interact with users.</p>"
        },
        "agentStatus":{
          "shape":"AgentStatus",
          "documentation":"<p>The status of the agent and whether it is ready for use. The following statuses are possible:</p> <ul> <li> <p>CREATING – The agent is being created.</p> </li> <li> <p>PREPARING – The agent is being prepared.</p> </li> <li> <p>PREPARED – The agent is prepared and ready to be invoked.</p> </li> <li> <p>NOT_PREPARED – The agent has been created but not yet prepared.</p> </li> <li> <p>FAILED – The agent API operation failed.</p> </li> <li> <p>UPDATING – The agent is being updated.</p> </li> <li> <p>DELETING – The agent is being deleted.</p> </li> </ul>"
        },
        "foundationModel":{
          "shape":"ModelIdentifier",
          "documentation":"<p>The foundation model used for orchestration by the agent.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>The description of the agent.</p>"
        },
        "orchestrationType":{
          "shape":"OrchestrationType",
          "documentation":"<p> Specifies the orchestration strategy for the agent. </p>"
        },
        "customOrchestration":{
          "shape":"CustomOrchestration",
          "documentation":"<p> Contains custom orchestration configurations for the agent. </p>"
        },
        "idleSessionTTLInSeconds":{
          "shape":"SessionTTL",
          "documentation":"<p>The number of seconds for which Amazon Bedrock keeps information about a user's conversation with the agent.</p> <p>A user interaction remains active for the amount of time specified. If no conversation occurs during this time, the session expires and Amazon Bedrock deletes any data provided before the timeout.</p>"
        },
        "agentResourceRoleArn":{
          "shape":"AgentRoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role with permissions to invoke API operations on the agent.</p>"
        },
        "customerEncryptionKeyArn":{
          "shape":"KmsKeyArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the KMS key that encrypts the agent.</p>"
        },
        "createdAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The time at which the agent was created.</p>"
        },
        "updatedAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The time at which the agent was last updated.</p>"
        },
        "preparedAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The time at which the agent was last prepared.</p>"
        },
        "failureReasons":{
          "shape":"FailureReasons",
          "documentation":"<p>Contains reasons that the agent-related API that you invoked failed.</p>"
        },
        "recommendedActions":{
          "shape":"RecommendedActions",
          "documentation":"<p>Contains recommended actions to take for the agent-related API that you invoked to succeed.</p>"
        },
        "promptOverrideConfiguration":{
          "shape":"PromptOverrideConfiguration",
          "documentation":"<p>Contains configurations to override prompt templates in different parts of an agent sequence. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/advanced-prompts.html\">Advanced prompts</a>.</p>"
        },
        "guardrailConfiguration":{
          "shape":"GuardrailConfiguration",
          "documentation":"<p>Details about the guardrail associated with the agent.</p>"
        },
        "memoryConfiguration":{
          "shape":"MemoryConfiguration",
          "documentation":"<p>Contains memory configuration for the agent.</p>"
        },
        "agentCollaboration":{
          "shape":"AgentCollaboration",
          "documentation":"<p>The agent's collaboration settings.</p>"
        }
      },
      "documentation":"<p>Contains details about an agent.</p>"
    },
    "AgentActionGroup":{
      "type":"structure",
      "required":[
        "agentId",
        "agentVersion",
        "actionGroupId",
        "actionGroupName",
        "createdAt",
        "updatedAt",
        "actionGroupState"
      ],
      "members":{
        "agentId":{
          "shape":"Id",
          "documentation":"<p>The unique identifier of the agent to which the action group belongs.</p>"
        },
        "agentVersion":{
          "shape":"Version",
          "documentation":"<p>The version of the agent to which the action group belongs.</p>"
        },
        "actionGroupId":{
          "shape":"Id",
          "documentation":"<p>The unique identifier of the action group.</p>"
        },
        "actionGroupName":{
          "shape":"Name",
          "documentation":"<p>The name of the action group.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A unique, case-sensitive identifier to ensure that the API request completes no more than one time. If this token matches a previous request, Amazon Bedrock ignores the request, but does not return an error. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">Ensuring idempotency</a>.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>The description of the action group.</p>"
        },
        "createdAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The time at which the action group was created.</p>"
        },
        "updatedAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The time at which the action group was last updated.</p>"
        },
        "parentActionSignature":{
          "shape":"ActionGroupSignature",
          "documentation":"<p>If this field is set as <code>AMAZON.UserInput</code>, the agent can request the user for additional information when trying to complete a task. The <code>description</code>, <code>apiSchema</code>, and <code>actionGroupExecutor</code> fields must be blank for this action group.</p> <p>During orchestration, if the agent determines that it needs to invoke an API in an action group, but doesn't have enough information to complete the API request, it will invoke this action group instead and return an <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_Observation.html\">Observation</a> reprompting the user for more information.</p>"
        },
        "parentActionGroupSignatureParams":{
          "shape":"ActionGroupSignatureParams",
          "documentation":"<p>The configuration settings for a computer use action.</p> <important> <p> Computer use is a new Anthropic Claude model capability (in beta) available with Claude 3.7 Sonnet and Claude 3.5 Sonnet v2 only. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/agents-computer-use.html\">Configure an Amazon Bedrock Agent to complete tasks with computer use tools</a>. </p> </important>"
        },
        "actionGroupExecutor":{
          "shape":"ActionGroupExecutor",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Lambda function containing the business logic that is carried out upon invoking the action or the custom control method for handling the information elicited from the user.</p>"
        },
        "apiSchema":{
          "shape":"APISchema",
          "documentation":"<p>Contains either details about the S3 object containing the OpenAPI schema for the action group or the JSON or YAML-formatted payload defining the schema. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/agents-api-schema.html\">Action group OpenAPI schemas</a>.</p>"
        },
        "functionSchema":{
          "shape":"FunctionSchema",
          "documentation":"<p>Defines functions that each define parameters that the agent needs to invoke from the user. Each function represents an action in an action group.</p>"
        },
        "actionGroupState":{
          "shape":"ActionGroupState",
          "documentation":"<p>Specifies whether the action group is available for the agent to invoke or not when sending an <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html\">InvokeAgent</a> request.</p>"
        }
      },
      "documentation":"<p>Contains details about an action group.</p>"
    },
    "AgentAlias":{
      "type":"structure",
      "required":[
        "agentId",
        "agentAliasId",
        "agentAliasName",
        "agentAliasArn",
        "routingConfiguration",
        "createdAt",
        "updatedAt",
        "agentAliasStatus"
      ],
      "members":{
        "agentId":{
          "shape":"Id",
          "documentation":"<p>The unique identifier of the agent.</p>"
        },
        "agentAliasId":{
          "shape":"AgentAliasId",
          "documentation":"<p>The unique identifier of the alias of the agent.</p>"
        },
        "agentAliasName":{
          "shape":"Name",
          "documentation":"<p>The name of the alias of the agent.</p>"
        },
        "agentAliasArn":{
          "shape":"AgentAliasArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the alias of the agent.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A unique, case-sensitive identifier to ensure that the API request completes no more than one time. If this token matches a previous request, Amazon Bedrock ignores the request, but does not return an error. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/Run_Instance_Idempotency.html\">Ensuring idempotency</a>.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>The description of the alias of the agent.</p>"
        },
        "routingConfiguration":{
          "shape":"AgentAliasRoutingConfiguration",
          "documentation":"<p>Contains details about the routing configuration of the alias.</p>"
        },
        "createdAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The time at which the alias of the agent was created.</p>"
        },
        "updatedAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The time at which the alias was last updated.</p>"
        },
        "agentAliasHistoryEvents":{
          "shape":"AgentAliasHistoryEvents",
          "documentation":"<p>Contains details about the history of the alias.</p>"
        },
        "agentAliasStatus":{
          "shape":"AgentAliasStatus",
          "documentation":"<p>The status of the alias of the agent and whether it is ready for use. The following statuses are possible:</p> <ul> <li> <p>CREATING – The agent alias is being created.</p> </li> <li> <p>PREPARED – The agent alias is finished being created or updated and is ready to be invoked.</p> </li> <li> <p>FAILED – The agent alias API operation failed.</p> </li> <li> <p>UPDATING – The agent alias is being updated.</p> </li> <li> <p>DELETING – The agent alias is being deleted.</p> </li> <li> <p>DISSOCIATED - The agent alias has no version associated with it.</p> </li> </ul>"
        },
        "failureReasons":{
          "shape":"FailureReasons",
          "documentation":"<p>Information on the failure of Provisioned Throughput assigned to an agent alias.</p>"
        },
        "aliasInvocationState":{
          "shape":"AliasInvocationState",
          "documentation":"<p>The invocation state for the agent alias. If the agent alias is running, the value is <code>ACCEPT_INVOCATIONS</code>. If the agent alias is paused, the value is <code>REJECT_INVOCATIONS</code>. Use the <code>UpdateAgentAlias</code> operation to change the invocation state.</p>"
        }
      },
      "documentation":"<p>Contains details about an alias of an agent.</p>"
    },
    "AgentAliasArn":{
      "type":"string",
      "max":2048,
      "min":0,
      "pattern":"arn:aws:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:agent-alias/[0-9a-zA-Z]{10}/[0-9a-zA-Z]{10}"
    },
    "AgentAliasHistoryEvent":{
      "type":"structure",
      "members":{
        "routingConfiguration":{
          "shape":"AgentAliasRoutingConfiguration",
          "documentation":"<p>Contains details about the version of the agent with which the alias is associated.</p>"
        },
        "endDate":{
          "shape":"DateTimestamp",
          "documentation":"<p>The date that the alias stopped being associated to the version in the <code>routingConfiguration</code> object</p>"
        },
        "startDate":{
          "shape":"DateTimestamp",
          "documentation":"<p>The date that the alias began being associated to the version in the <code>routingConfiguration</code> object.</p>"
        }
      },
      "documentation":"<p>Contains details about the history of the alias.</p>"
    },
    "AgentAliasHistoryEvents":{
      "type":"list",
      "member":{"shape":"AgentAliasHistoryEvent"},
      "max":10,
      "min":0
    },
    "AgentAliasId":{
      "type":"string",
      "max":10,
      "min":10,
      "pattern":"(\\bTSTALIASID\\b|[0-9a-zA-Z]+)"
    },
    "AgentAliasRoutingConfiguration":{
      "type":"list",
      "member":{"shape":"AgentAliasRoutingConfigurationListItem"},
      "max":1,
      "min":0
    },
    "AgentAliasRoutingConfigurationListItem":{
      "type":"structure",
      "members":{
        "agentVersion":{
          "shape":"Version",
          "documentation":"<p>The version of the agent with which the alias is associated.</p>"
        },
        "provisionedThroughput":{
          "shape":"ProvisionedModelIdentifier",
          "documentation":"<p>Information on the Provisioned Throughput assigned to an agent alias.</p>"
        }
      },
      "documentation":"<p>Contains details about the routing configuration of the alias.</p>"
    },
    "AgentAliasStatus":{
      "type":"string",
      "enum":[
        "CREATING",
        "PREPARED",
        "FAILED",
        "UPDATING",
        "DELETING",
        "DISSOCIATED"
      ]
    },
    "AgentAliasSummaries":{
      "type":"list",
      "member":{"shape":"AgentAliasSummary"},
      "max":10,
      "min":0
    },
    "AgentAliasSummary":{
      "type":"structure",
      "required":[
        "agentAliasId",
        "agentAliasName",
        "agentAliasStatus",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "agentAliasId":{
          "shape":"AgentAliasId",
          "documentation":"<p>Contains details about </p>"
        },
        "agentAliasName":{
          "shape":"Name",
          "documentation":"<p>The name of the alias.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>The description of the alias.</p>"
        },
        "routingConfiguration":{
          "shape":"AgentAliasRoutingConfiguration",
          "documentation":"<p>Contains details about the version of the agent with which the alias is associated.</p>"
        },
        "agentAliasStatus":{
          "shape":"AgentAliasStatus",
          "documentation":"<p>The status of the alias.</p>"
        },
        "createdAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The time at which the alias of the agent was created.</p>"
        },
        "updatedAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The time at which the alias was last updated.</p>"
        },
        "aliasInvocationState":{
          "shape":"AliasInvocationState",
          "documentation":"<p>The invocation state for the agent alias. If the agent alias is running, the value is <code>ACCEPT_INVOCATIONS</code>. If the agent alias is paused, the value is <code>REJECT_INVOCATIONS</code>. Use the <code>UpdateAgentAlias</code> operation to change the invocation state.</p>"
        }
      },
      "documentation":"<p>Contains details about an alias of an agent.</p>"
    },
    "AgentArn":{
      "type":"string",
      "max":2048,
      "min":0,
      "pattern":"arn:aws:bedrock:[a-z0-9-]{1,20}:[0-9]{12}:agent/[0-9a-zA-Z]{10}"
    },
    "AgentCollaboration":{
      "type":"string",
      "enum":[
        "SUPERVISOR",
        "SUPERVISOR_ROUTER",
        "DISABLED"
      ]
    },
    "AgentCollaborator":{
      "type":"structure",
      "required":[
        "agentId",
        "agentVersion",
        "agentDescriptor",
        "collaboratorId",
        "collaborationInstruction",
        "collaboratorName",
        "createdAt",
        "lastUpdatedAt"
      ],
      "members":{
        "agentId":{
          "shape":"Id",
          "documentation":"<p>The collaborator's agent ID.</p>"
        },
        "agentVersion":{
          "shape":"Version",
          "documentation":"<p>The collaborator's agent version.</p>"
        },
        "agentDescriptor":{
          "shape":"AgentDescriptor",
          "documentation":"<p>The collaborator's agent descriptor.</p>"
        },
        "collaboratorId":{
          "shape":"Id",
          "documentation":"<p>The collaborator's collaborator ID.</p>"
        },
        "collaborationInstruction":{
          "shape":"CollaborationInstruction",
          "documentation":"<p>The collaborator's instructions.</p>"
        },
        "collaboratorName":{
          "shape":"Name",
          "documentation":"<p>The collaborator's collaborator name.</p>"
        },
        "createdAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>When the collaborator was created.</p>"
        },
        "lastUpdatedAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>When the collaborator was updated.</p>"
        },
        "relayConversationHistory":{
          "shape":"RelayConversationHistory",
          "documentation":"<p>The collaborator's relay conversation history.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>The collaborator's client token.</p>"
        }
      },
      "documentation":"<p>An agent collaborator.</p>"
    },
    "AgentCollaboratorSummaries":{
      "type":"list",
      "member":{"shape":"AgentCollaboratorSummary"},
      "max":10,
      "min":0
    },
    "AgentCollaboratorSummary":{
      "type":"structure",
      "required":[
        "agentId",
        "agentVersion",
        "collaboratorId",
        "agentDescriptor",
        "collaborationInstruction",
        "relayConversationHistory",
        "collaboratorName",
        "createdAt",
        "lastUpdatedAt"
      ],
      "members":{
        "agentId":{
          "shape":"Id",
          "documentation":"<p>The collaborator's agent ID.</p>"
        },
        "agentVersion":{
          "shape":"Version",
          "documentation":"<p>The collaborator's agent version.</p>"
        },
        "collaboratorId":{
          "shape":"Id",
          "documentation":"<p>The collaborator's ID.</p>"
        },
        "agentDescriptor":{
          "shape":"AgentDescriptor",
          "documentation":"<p>The collaborator's agent descriptor.</p>"
        },
        "collaborationInstruction":{
          "shape":"CollaborationInstruction",
          "documentation":"<p>The collaborator's collaboration instruction.</p>"
        },
        "relayConversationHistory":{
          "shape":"RelayConversationHistory",
          "documentation":"<p>The collaborator's relay conversation history.</p>"
        },
        "collaboratorName":{
          "shape":"Name",
          "documentation":"<p>The collaborator's name.</p>"
        },
        "createdAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>When the collaborator was created.</p>"
        },
        "lastUpdatedAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>When the collaborator was last updated.</p>"
        }
      },
      "documentation":"<p>An agent collaborator summary.</p>"
    },
    "AgentDescriptor":{
      "type":"structure",
      "members":{
        "aliasArn":{
          "shape":"AgentAliasArn",
          "documentation":"<p>The agent's alias ARN.</p>"
        }
      },
      "documentation":"<p>An agent descriptor.</p>"
    },
    "AgentFlowNodeConfiguration":{
      "type":"structure",
      "required":["agentAliasArn"],
      "members":{
        "agentAliasArn":{
          "shape":"FlowAgentAliasArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the alias of the agent to invoke.</p>"
        }
      },
      "documentation":"<p>Defines an agent node in your flow. You specify the agent to invoke at this point in the flow. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/flows-nodes.html\">Node types in a flow</a> in the Amazon Bedrock User Guide.</p>"
    },
    "AgentKnowledgeBase":{
      "type":"structure",
      "required":[
        "agentId",
        "agentVersion",
        "knowledgeBaseId",
        "description",
        "createdAt",
        "updatedAt",
        "knowledgeBaseState"
      ],
      "members":{
        "agentId":{
          "shape":"Id",
          "documentation":"<p>The unique identifier of the agent with which the knowledge base is associated.</p>"
        },
        "agentVersion":{
          "shape":"Version",
          "documentation":"<p>The version of the agent with which the knowledge base is associated.</p>"
        },
        "knowledgeBaseId":{
          "shape":"Id",
          "documentation":"<p>The unique identifier of the association between the agent and the knowledge base.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>The description of the association between the agent and the knowledge base.</p>"
        },
        "createdAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The time at which the association between the agent and the knowledge base was created.</p>"
        },
        "updatedAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The time at which the association between the agent and the knowledge base was last updated.</p>"
        },
        "knowledgeBaseState":{
          "shape":"KnowledgeBaseState",
          "documentation":"<p>Specifies whether to use the knowledge base or not when sending an <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html\">InvokeAgent</a> request.</p>"
        }
      },
      "documentation":"<p>Contains details about a knowledge base that is associated with an agent.</p>"
    },
    "AgentKnowledgeBaseSummaries":{
      "type":"list",
      "member":{"shape":"AgentKnowledgeBaseSummary"},
      "max":10,
      "min":0
    },
    "AgentKnowledgeBaseSummary":{
      "type":"structure",
      "required":[
        "knowledgeBaseId",
        "knowledgeBaseState",
        "updatedAt"
      ],
      "members":{
        "knowledgeBaseId":{
          "shape":"Id",
          "documentation":"<p>The unique identifier of the knowledge base associated with an agent.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>The description of the knowledge base associated with an agent.</p>"
        },
        "knowledgeBaseState":{
          "shape":"KnowledgeBaseState",
          "documentation":"<p>Specifies whether the agent uses the knowledge base or not when sending an <a href=\"https://docs.aws.amazon.com/bedrock/latest/APIReference/API_agent-runtime_InvokeAgent.html\">InvokeAgent</a> request.</p>"
        },
        "updatedAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The time at which the knowledge base associated with an agent was last updated.</p>"
        }
      },
      "documentation":"<p>Contains details about a knowledge base associated with an agent.</p>"
    },
    "AgentRoleArn":{
      "type":"string",
      "max":2048,
      "min":0,
      "pattern":"arn:aws(-[^:]+)?:iam::([0-9]{12})?:role/.+"
    },
    "AgentStatus":{
      "type":"string",
      "enum":[
        "CREATING",
        "PREPARING",
        "PREPARED",
        "NOT_PREPARED",
        "DELETING",
        "FAILED",
        "VERSIONING",
        "UPDATING"
      ]
    },
    "AgentSummaries":{
      "type":"list",
      "member":{"shape":"AgentSummary"},
      "max":10,
      "min":0
    },
    "AgentSummary":{
      "type":"structure",
      "required":[
        "agentId",
        "agentName",
        "agentStatus",
        "updatedAt"
      ],
      "members":{
        "agentId":{
          "shape":"Id",
          "documentation":"<p>The unique identifier of the agent.</p>"
        },
        "agentName":{
          "shape":"Name",
          "documentation":"<p>The name of the agent.</p>"
        },
        "agentStatus":{
          "shape":"AgentStatus",
          "documentation":"<p>The status of the agent.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>The description of the agent.</p>"
        },
        "updatedAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The time at which the agent was last updated.</p>"
        },
        "latestAgentVersion":{
          "shape":"Version",
          "documentation":"<p>The latest version of the agent.</p>"
        },
        "guardrailConfiguration":{
          "shape":"GuardrailConfiguration",
          "documentation":"<p>Details about the guardrail associated with the agent.</p>"
        }
      },
      "documentation":"<p>Contains details about an agent.</p>"
    },
    "AgentVersion":{
      "type":"structure",
      "required":[
        "agentId",
        "agentName",
        "agentArn",
        "version",
        "agentStatus",
        "idleSessionTTLInSeconds",
        "agentResourceRoleArn",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "agentId":{
          "shape":"Id",
          "documentation":"<p>The unique identifier of the agent that the version belongs to.</p>"
        },
        "agentName":{
          "shape":"Name",
          "documentation":"<p>The name of the agent that the version belongs to.</p>"
        },
        "agentArn":{
          "shape":"AgentArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the agent that the version belongs to.</p>"
        },
        "version":{
          "shape":"NumericalVersion",
          "documentation":"<p>The version number.</p>"
        },
        "instruction":{
          "shape":"Instruction",
          "documentation":"<p>The instructions provided to the agent.</p>"
        },
        "agentStatus":{
          "shape":"AgentStatus",
          "documentation":"<p>The status of the agent that the version belongs to.</p>"
        },
        "foundationModel":{
          "shape":"ModelIdentifier",
          "documentation":"<p>The foundation model that the version invokes.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>The description of the version.</p>"
        },
        "idleSessionTTLInSeconds":{
          "shape":"SessionTTL",
          "documentation":"<p>The number of seconds for which Amazon Bedrock keeps information about a user's conversation with the agent.</p> <p>A user interaction remains active for the amount of time specified. If no conversation occurs during this time, the session expires and Amazon Bedrock deletes any data provided before the timeout.</p>"
        },
        "agentResourceRoleArn":{
          "shape":"AgentRoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role with permissions to invoke API operations on the agent.</p>"
        },
        "customerEncryptionKeyArn":{
          "shape":"KmsKeyArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the KMS key that encrypts the agent.</p>"
        },
        "createdAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The time at which the version was created.</p>"
        },
        "updatedAt":{
          "shape":"DateTimestamp",
          "documentation":"<p>The time at which the version was last updated.</p>"
        },
        "failureReasons":{
          "shape":"FailureReasons",
          "documentation":"<p>A list of reasons that the API operation on the version failed.</p>"
        },
        "recommendedActions":{
          "shape":"RecommendedActions",
          "documentation":"<p>A list of recommended actions to take for the failed API operation on the version to succeed.</p>"
        },
        "promptOverrideConfiguration":{
          "shape":"PromptOverrideConfiguration",
          "documentation":"<p>Contains configurations to override prompt templates in different parts of an agent sequence. For more information, see <a href=\"https://docs.aws.amazon.com/bedrock/latest/userguide/advanced-prompts.html\">Advanced prompts</a>.</p>"
        },
        "guardrailConfiguration":{
          "shape":"GuardrailConfiguration",
          "documentation":"<p>Details about the guardrail associated with the agent.</p>"
        },
        "memoryConfiguration":{
          "shape":"MemoryConfiguration",
          "documentation":"<p> Contains details of the memory configuration on the version of the agent. </p>"
        },
        "agentCollaboration":{
          "shape":"AgentCollaboration",
          "documentation":"<p>The agent's collaboration settings.</p>"
        }
      },
      "documentation":"<p>Contains details about a version of an agent.</p>"
    },
    "AgentVersionSummaries":{
      "type":"list",
      "member":{"shape":"AgentVersionSummary"},
      "max":10,
      "min":0
    },
    "AgentVersionSummary":{
      "type":"structure",
      "required":[
        "agentName",
        "agentStatus",
        "agentVersion",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "agentName":{
          "shape":"Name",
          "documentation":"<p>The name of the agent to which the version belongs.</p>"
        },
        "agentStatus":{
          "shape":"AgentStatus",
          "documentation":"<p>The status of the agent to which the version belongs.</p>"
        },
        "agentVersion":{
          "shape":"Version",
[...]
