<header class="view-header">
    {{#gh-view-title openMobileMenu="openMobileMenu"}}<span style="padding-left:1px">Apps</span>{{/gh-view-title}}
</header>

<section class="view-container">
    <section class="view-content">
        <p>Available integrations</p>
        <div class="apps-grid">
            <div class="apps-grid-cell">
                {{#link-to "settings.apps.slack"}}
                <article class="apps-card-app">
                    <div class="apps-card-content">
                        <figure class="apps-card-app-icon" style="background-image:url({{gh-path 'admin' '/img/slackicon.png'}})"></figure>
                        <div class="apps-card-meta">
                            <h3 class="apps-card-app-title">Slack</h3>
                            <p class="apps-card-app-desc">A team communication tool</p>
                        </div>
                        <div class="apps-configured">
                            {{log slack}}
                            {{#if slack.isActive}}<span>1 configured</span>{{/if}}
                            <i class="icon-arrow-right"></i>
                        </div>
                    </div>
                </article>
                {{/link-to}}
            </div>
        </div>
    </section>
</section>
