<header class="view-header">
    {{#gh-view-title openMobileMenu="openMobileMenu"}}<span>Apps</span>{{/gh-view-title}}
</header>

<section class="view-container">
    <section class="view-content">
        <p>Available integrations</p>
        <div class="apps-grid">
            <div class="apps-grid-cell">
                <article class="apps-card-app">
                    <div class="apps-card-content">
                        <figure class="apps-card-app-icon" style="background-image:url({{gh-path 'admin' '/img/slackicon.png'}})"></figure>
                        <div class="apps-card-meta">
                            <h3 class="apps-card-app-title">Slack</h3>
                            <p class="apps-card-app-desc">A team communication tool</p>
                        </div>
                        {{#if slack.isActive}}
                            {{#link-to "settings.apps.slack" class="apps-configured"}}<span>1 configured</span><i class="icon-arrow-right"></i>{{/link-to}}
                        {{else}}
                            {{#link-to "settings.apps.slack" class="btn btn-green" title="Activate"}}Activate{{/link-to}}
                        {{/if}}
                    </div>
                </article>
            </div>
        </div>
    </section>
</section>
