{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2012-12-01",
    "endpointPrefix":"redshift",
    "protocol":"query",
    "protocols":["query"],
    "serviceFullName":"Amazon Redshift",
    "serviceId":"Redshift",
    "signatureVersion":"v4",
    "uid":"redshift-2012-12-01",
    "xmlNamespace":"http://redshift.amazonaws.com/doc/2012-12-01/",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AcceptReservedNodeExchange":{
      "name":"AcceptReservedNodeExchange",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AcceptReservedNodeExchangeInputMessage"},
      "output":{
        "shape":"AcceptReservedNodeExchangeOutputMessage",
        "resultWrapper":"AcceptReservedNodeExchangeResult"
      },
      "errors":[
        {"shape":"ReservedNodeNotFoundFault"},
        {"shape":"InvalidReservedNodeStateFault"},
        {"shape":"ReservedNodeAlreadyMigratedFault"},
        {"shape":"ReservedNodeOfferingNotFoundFault"},
        {"shape":"UnsupportedOperationFault"},
        {"shape":"DependentServiceUnavailableFault"},
        {"shape":"ReservedNodeAlreadyExistsFault"}
      ],
      "documentation":"<p>Exchanges a DC1 Reserved Node for a DC2 Reserved Node with no changes to the configuration (term, payment type, or number of nodes) and no additional costs. </p>"
    },
    "AddPartner":{
      "name":"AddPartner",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PartnerIntegrationInputMessage"},
      "output":{
        "shape":"PartnerIntegrationOutputMessage",
        "resultWrapper":"AddPartnerResult"
      },
      "errors":[
        {"shape":"PartnerNotFoundFault"},
        {"shape":"ClusterNotFoundFault"},
        {"shape":"UnauthorizedPartnerIntegrationFault"},
        {"shape":"UnsupportedOperationFault"}
      ],
      "documentation":"<p>Adds a partner integration to a cluster. This operation authorizes a partner to push status updates for the specified database. To complete the integration, you also set up the integration on the partner website.</p>"
    },
    "AssociateDataShareConsumer":{
      "name":"AssociateDataShareConsumer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateDataShareConsumerMessage"},
      "output":{
        "shape":"DataShare",
        "resultWrapper":"AssociateDataShareConsumerResult"
      },
      "errors":[
        {"shape":"InvalidDataShareFault"},
        {"shape":"InvalidNamespaceFault"}
      ],
      "documentation":"<p>From a datashare consumer account, associates a datashare with the account (AssociateEntireAccount) or the specified namespace (ConsumerArn). If you make this association, the consumer can consume the datashare.</p>"
    },
    "AuthorizeClusterSecurityGroupIngress":{
      "name":"AuthorizeClusterSecurityGroupIngress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AuthorizeClusterSecurityGroupIngressMessage"},
      "output":{
        "shape":"AuthorizeClusterSecurityGroupIngressResult",
        "resultWrapper":"AuthorizeClusterSecurityGroupIngressResult"
      },
      "errors":[
        {"shape":"ClusterSecurityGroupNotFoundFault"},
        {"shape":"InvalidClusterSecurityGroupStateFault"},
        {"shape":"AuthorizationAlreadyExistsFault"},
        {"shape":"AuthorizationQuotaExceededFault"}
      ],
      "documentation":"<p>Adds an inbound (ingress) rule to an Amazon Redshift security group. Depending on whether the application accessing your cluster is running on the Internet or an Amazon EC2 instance, you can authorize inbound access to either a Classless Interdomain Routing (CIDR)/Internet Protocol (IP) range or to an Amazon EC2 security group. You can add as many as 20 ingress rules to an Amazon Redshift security group.</p> <p>If you authorize access to an Amazon EC2 security group, specify <i>EC2SecurityGroupName</i> and <i>EC2SecurityGroupOwnerId</i>. The Amazon EC2 security group and Amazon Redshift cluster must be in the same Amazon Web Services Region. </p> <p>If you authorize access to a CIDR/IP address range, specify <i>CIDRIP</i>. For an overview of CIDR blocks, see the Wikipedia article on <a href=\"http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing\">Classless Inter-Domain Routing</a>. </p> <p>You must also associate the security group with a cluster so that clients running on these IP addresses or the EC2 instance are authorized to connect to the cluster. For information about managing security groups, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-security-groups.html\">Working with Security Groups</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>"
    },
    "AuthorizeDataShare":{
      "name":"AuthorizeDataShare",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AuthorizeDataShareMessage"},
      "output":{
        "shape":"DataShare",
        "resultWrapper":"AuthorizeDataShareResult"
      },
      "errors":[
        {"shape":"InvalidDataShareFault"}
      ],
      "documentation":"<p>From a data producer account, authorizes the sharing of a datashare with one or more consumer accounts or managing entities. To authorize a datashare for a data consumer, the producer account must have the correct access permissions.</p>"
    },
    "AuthorizeEndpointAccess":{
      "name":"AuthorizeEndpointAccess",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AuthorizeEndpointAccessMessage"},
      "output":{
        "shape":"EndpointAuthorization",
        "resultWrapper":"AuthorizeEndpointAccessResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"EndpointAuthorizationsPerClusterLimitExceededFault"},
        {"shape":"UnsupportedOperationFault"},
        {"shape":"EndpointAuthorizationAlreadyExistsFault"},
        {"shape":"InvalidAuthorizationStateFault"},
        {"shape":"InvalidClusterStateFault"}
      ],
      "documentation":"<p>Grants access to a cluster.</p>"
    },
    "AuthorizeSnapshotAccess":{
      "name":"AuthorizeSnapshotAccess",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AuthorizeSnapshotAccessMessage"},
      "output":{
        "shape":"AuthorizeSnapshotAccessResult",
        "resultWrapper":"AuthorizeSnapshotAccessResult"
      },
      "errors":[
        {"shape":"ClusterSnapshotNotFoundFault"},
        {"shape":"AuthorizationAlreadyExistsFault"},
        {"shape":"AuthorizationQuotaExceededFault"},
        {"shape":"DependentServiceRequestThrottlingFault"},
        {"shape":"InvalidClusterSnapshotStateFault"},
        {"shape":"LimitExceededFault"},
        {"shape":"UnsupportedOperationFault"}
      ],
      "documentation":"<p>Authorizes the specified Amazon Web Services account to restore the specified snapshot.</p> <p> For more information about working with snapshots, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-snapshots.html\">Amazon Redshift Snapshots</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>"
    },
    "BatchDeleteClusterSnapshots":{
      "name":"BatchDeleteClusterSnapshots",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDeleteClusterSnapshotsRequest"},
      "output":{
        "shape":"BatchDeleteClusterSnapshotsResult",
        "resultWrapper":"BatchDeleteClusterSnapshotsResult"
      },
      "errors":[
        {"shape":"BatchDeleteRequestSizeExceededFault"}
      ],
      "documentation":"<p>Deletes a set of cluster snapshots.</p>"
    },
    "BatchModifyClusterSnapshots":{
      "name":"BatchModifyClusterSnapshots",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchModifyClusterSnapshotsMessage"},
      "output":{
        "shape":"BatchModifyClusterSnapshotsOutputMessage",
        "resultWrapper":"BatchModifyClusterSnapshotsResult"
      },
      "errors":[
        {"shape":"InvalidRetentionPeriodFault"},
        {"shape":"BatchModifyClusterSnapshotsLimitExceededFault"}
      ],
      "documentation":"<p>Modifies the settings for a set of cluster snapshots.</p>"
    },
    "CancelResize":{
      "name":"CancelResize",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelResizeMessage"},
      "output":{
        "shape":"ResizeProgressMessage",
        "resultWrapper":"CancelResizeResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"ResizeNotFoundFault"},
        {"shape":"InvalidClusterStateFault"},
        {"shape":"UnsupportedOperationFault"}
      ],
      "documentation":"<p>Cancels a resize operation for a cluster.</p>"
    },
    "CopyClusterSnapshot":{
      "name":"CopyClusterSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopyClusterSnapshotMessage"},
      "output":{
        "shape":"CopyClusterSnapshotResult",
        "resultWrapper":"CopyClusterSnapshotResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"ClusterSnapshotAlreadyExistsFault"},
        {"shape":"ClusterSnapshotNotFoundFault"},
        {"shape":"InvalidClusterSnapshotStateFault"},
        {"shape":"ClusterSnapshotQuotaExceededFault"},
        {"shape":"InvalidRetentionPeriodFault"}
      ],
      "documentation":"<p>Copies the specified automated cluster snapshot to a new manual cluster snapshot. The source must be an automated snapshot and it must be in the available state.</p> <p>When you delete a cluster, Amazon Redshift deletes any automated snapshots of the cluster. Also, when the retention period of the snapshot expires, Amazon Redshift automatically deletes it. If you want to keep an automated snapshot for a longer period, you can make a manual copy of the snapshot. Manual snapshots are retained until you delete them.</p> <p> For more information about working with snapshots, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-snapshots.html\">Amazon Redshift Snapshots</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>"
    },
    "CreateAuthenticationProfile":{
      "name":"CreateAuthenticationProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAuthenticationProfileMessage"},
      "output":{
        "shape":"CreateAuthenticationProfileResult",
        "resultWrapper":"CreateAuthenticationProfileResult"
      },
      "errors":[
        {"shape":"AuthenticationProfileAlreadyExistsFault"},
        {"shape":"AuthenticationProfileQuotaExceededFault"},
        {"shape":"InvalidAuthenticationProfileRequestFault"}
      ],
      "documentation":"<p>Creates an authentication profile with the specified parameters.</p>"
    },
    "CreateCluster":{
      "name":"CreateCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateClusterMessage"},
      "output":{
        "shape":"CreateClusterResult",
        "resultWrapper":"CreateClusterResult"
      },
      "errors":[
        {"shape":"ClusterAlreadyExistsFault"},
        {"shape":"InsufficientClusterCapacityFault"},
        {"shape":"ClusterParameterGroupNotFoundFault"},
        {"shape":"ClusterSecurityGroupNotFoundFault"},
        {"shape":"ClusterQuotaExceededFault"},
        {"shape":"NumberOfNodesQuotaExceededFault"},
        {"shape":"NumberOfNodesPerClusterLimitExceededFault"},
        {"shape":"ClusterSubnetGroupNotFoundFault"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"InvalidClusterSubnetGroupStateFault"},
        {"shape":"InvalidSubnet"},
        {"shape":"UnauthorizedOperation"},
        {"shape":"HsmClientCertificateNotFoundFault"},
        {"shape":"HsmConfigurationNotFoundFault"},
        {"shape":"InvalidElasticIpFault"},
        {"shape":"TagLimitExceededFault"},
        {"shape":"InvalidTagFault"},
        {"shape":"LimitExceededFault"},
        {"shape":"DependentServiceRequestThrottlingFault"},
        {"shape":"InvalidClusterTrackFault"},
        {"shape":"SnapshotScheduleNotFoundFault"},
        {"shape":"InvalidRetentionPeriodFault"},
        {"shape":"Ipv6CidrBlockNotFoundFault"},
        {"shape":"UnsupportedOperationFault"},
        {"shape":"RedshiftIdcApplicationNotExistsFault"}
      ],
      "documentation":"<p>Creates a new cluster with the specified parameters.</p> <p>To create a cluster in Virtual Private Cloud (VPC), you must provide a cluster subnet group name. The cluster subnet group identifies the subnets of your VPC that Amazon Redshift uses when creating the cluster. For more information about managing clusters, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-clusters.html\">Amazon Redshift Clusters</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p> <p>VPC Block Public Access (BPA) enables you to block resources in VPCs and subnets that you own in a Region from reaching or being reached from the internet through internet gateways and egress-only internet gateways. If a subnet group for a provisioned cluster is in an account with VPC BPA turned on, the following capabilities are blocked:</p> <ul> <li> <p>Creating a public cluster</p> </li> <li> <p>Restoring a public cluster</p> </li> <li> <p>Modifying a private cluster to be public</p> </li> <li> <p>Adding a subnet with VPC BPA turned on to the subnet group when there's at least one public cluster within the group</p> </li> </ul> <p>For more information about VPC BPA, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/security-vpc-bpa.html\">Block public access to VPCs and subnets</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "CreateClusterParameterGroup":{
      "name":"CreateClusterParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateClusterParameterGroupMessage"},
      "output":{
        "shape":"CreateClusterParameterGroupResult",
        "resultWrapper":"CreateClusterParameterGroupResult"
      },
      "errors":[
        {"shape":"ClusterParameterGroupQuotaExceededFault"},
        {"shape":"ClusterParameterGroupAlreadyExistsFault"},
        {"shape":"TagLimitExceededFault"},
        {"shape":"InvalidTagFault"}
      ],
      "documentation":"<p>Creates an Amazon Redshift parameter group.</p> <p>Creating parameter groups is independent of creating clusters. You can associate a cluster with a parameter group when you create the cluster. You can also associate an existing cluster with a parameter group after the cluster is created by using <a>ModifyCluster</a>. </p> <p>Parameters in the parameter group define specific behavior that applies to the databases you create on the cluster. For more information about parameters and parameter groups, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-parameter-groups.html\">Amazon Redshift Parameter Groups</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>"
    },
    "CreateClusterSecurityGroup":{
      "name":"CreateClusterSecurityGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateClusterSecurityGroupMessage"},
      "output":{
        "shape":"CreateClusterSecurityGroupResult",
        "resultWrapper":"CreateClusterSecurityGroupResult"
      },
      "errors":[
        {"shape":"ClusterSecurityGroupAlreadyExistsFault"},
        {"shape":"ClusterSecurityGroupQuotaExceededFault"},
        {"shape":"TagLimitExceededFault"},
        {"shape":"InvalidTagFault"}
      ],
      "documentation":"<p>Creates a new Amazon Redshift security group. You use security groups to control access to non-VPC clusters.</p> <p> For information about managing security groups, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-security-groups.html\">Amazon Redshift Cluster Security Groups</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>"
    },
    "CreateClusterSnapshot":{
      "name":"CreateClusterSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateClusterSnapshotMessage"},
      "output":{
        "shape":"CreateClusterSnapshotResult",
        "resultWrapper":"CreateClusterSnapshotResult"
      },
      "errors":[
        {"shape":"ClusterSnapshotAlreadyExistsFault"},
        {"shape":"InvalidClusterStateFault"},
        {"shape":"ClusterNotFoundFault"},
        {"shape":"ClusterSnapshotQuotaExceededFault"},
        {"shape":"TagLimitExceededFault"},
        {"shape":"InvalidTagFault"},
        {"shape":"InvalidRetentionPeriodFault"}
      ],
      "documentation":"<p>Creates a manual snapshot of the specified cluster. The cluster must be in the <code>available</code> state. </p> <p> For more information about working with snapshots, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-snapshots.html\">Amazon Redshift Snapshots</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>"
    },
    "CreateClusterSubnetGroup":{
      "name":"CreateClusterSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateClusterSubnetGroupMessage"},
      "output":{
        "shape":"CreateClusterSubnetGroupResult",
        "resultWrapper":"CreateClusterSubnetGroupResult"
      },
      "errors":[
        {"shape":"ClusterSubnetGroupAlreadyExistsFault"},
        {"shape":"ClusterSubnetGroupQuotaExceededFault"},
        {"shape":"ClusterSubnetQuotaExceededFault"},
        {"shape":"InvalidSubnet"},
        {"shape":"UnauthorizedOperation"},
        {"shape":"TagLimitExceededFault"},
        {"shape":"InvalidTagFault"},
        {"shape":"DependentServiceRequestThrottlingFault"}
      ],
      "documentation":"<p>Creates a new Amazon Redshift subnet group. You must provide a list of one or more subnets in your existing Amazon Virtual Private Cloud (Amazon VPC) when creating Amazon Redshift subnet group.</p> <p> For information about subnet groups, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-cluster-subnet-groups.html\">Amazon Redshift Cluster Subnet Groups</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>"
    },
    "CreateCustomDomainAssociation":{
      "name":"CreateCustomDomainAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCustomDomainAssociationMessage"},
      "output":{
        "shape":"CreateCustomDomainAssociationResult",
        "resultWrapper":"CreateCustomDomainAssociationResult"
      },
      "errors":[
        {"shape":"UnsupportedOperationFault"},
        {"shape":"ClusterNotFoundFault"},
        {"shape":"CustomCnameAssociationFault"}
      ],
      "documentation":"<p>Used to create a custom domain name for a cluster. Properties include the custom domain name, the cluster the custom domain is associated with, and the certificate Amazon Resource Name (ARN).</p>"
    },
    "CreateEndpointAccess":{
      "name":"CreateEndpointAccess",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEndpointAccessMessage"},
      "output":{
        "shape":"EndpointAccess",
        "resultWrapper":"CreateEndpointAccessResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"AccessToClusterDeniedFault"},
        {"shape":"EndpointsPerClusterLimitExceededFault"},
        {"shape":"EndpointsPerAuthorizationLimitExceededFault"},
        {"shape":"InvalidClusterSecurityGroupStateFault"},
        {"shape":"ClusterSubnetGroupNotFoundFault"},
        {"shape":"EndpointAlreadyExistsFault"},
        {"shape":"UnsupportedOperationFault"},
        {"shape":"InvalidClusterStateFault"},
        {"shape":"UnauthorizedOperation"}
      ],
      "documentation":"<p>Creates a Redshift-managed VPC endpoint.</p>"
    },
    "CreateEventSubscription":{
      "name":"CreateEventSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEventSubscriptionMessage"},
      "output":{
        "shape":"CreateEventSubscriptionResult",
        "resultWrapper":"CreateEventSubscriptionResult"
      },
      "errors":[
        {"shape":"EventSubscriptionQuotaExceededFault"},
        {"shape":"SubscriptionAlreadyExistFault"},
        {"shape":"SNSInvalidTopicFault"},
        {"shape":"SNSNoAuthorizationFault"},
        {"shape":"SNSTopicArnNotFoundFault"},
        {"shape":"SubscriptionEventIdNotFoundFault"},
        {"shape":"SubscriptionCategoryNotFoundFault"},
        {"shape":"SubscriptionSeverityNotFoundFault"},
        {"shape":"SourceNotFoundFault"},
        {"shape":"TagLimitExceededFault"},
        {"shape":"InvalidTagFault"}
      ],
      "documentation":"<p>Creates an Amazon Redshift event notification subscription. This action requires an ARN (Amazon Resource Name) of an Amazon SNS topic created by either the Amazon Redshift console, the Amazon SNS console, or the Amazon SNS API. To obtain an ARN with Amazon SNS, you must create a topic in Amazon SNS and subscribe to the topic. The ARN is displayed in the SNS console.</p> <p>You can specify the source type, and lists of Amazon Redshift source IDs, event categories, and event severities. Notifications will be sent for all events you want that match those criteria. For example, you can specify source type = cluster, source ID = my-cluster-1 and mycluster2, event categories = Availability, Backup, and severity = ERROR. The subscription will only send notifications for those ERROR events in the Availability and Backup categories for the specified clusters.</p> <p>If you specify both the source type and source IDs, such as source type = cluster and source identifier = my-cluster-1, notifications will be sent for all the cluster events for my-cluster-1. If you specify a source type but do not specify a source identifier, you will receive notice of the events for the objects of that type in your Amazon Web Services account. If you do not specify either the SourceType nor the SourceIdentifier, you will be notified of events generated from all Amazon Redshift sources belonging to your Amazon Web Services account. You must specify a source type if you specify a source ID.</p>"
    },
    "CreateHsmClientCertificate":{
      "name":"CreateHsmClientCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateHsmClientCertificateMessage"},
      "output":{
        "shape":"CreateHsmClientCertificateResult",
        "resultWrapper":"CreateHsmClientCertificateResult"
      },
      "errors":[
        {"shape":"HsmClientCertificateAlreadyExistsFault"},
        {"shape":"HsmClientCertificateQuotaExceededFault"},
        {"shape":"TagLimitExceededFault"},
        {"shape":"InvalidTagFault"}
      ],
      "documentation":"<p>Creates an HSM client certificate that an Amazon Redshift cluster will use to connect to the client's HSM in order to store and retrieve the keys used to encrypt the cluster databases.</p> <p>The command returns a public key, which you must store in the HSM. In addition to creating the HSM certificate, you must create an Amazon Redshift HSM configuration that provides a cluster the information needed to store and use encryption keys in the HSM. For more information, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-db-encryption.html#working-with-HSM\">Hardware Security Modules</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>"
    },
    "CreateHsmConfiguration":{
      "name":"CreateHsmConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateHsmConfigurationMessage"},
      "output":{
        "shape":"CreateHsmConfigurationResult",
        "resultWrapper":"CreateHsmConfigurationResult"
      },
      "errors":[
        {"shape":"HsmConfigurationAlreadyExistsFault"},
        {"shape":"HsmConfigurationQuotaExceededFault"},
        {"shape":"TagLimitExceededFault"},
        {"shape":"InvalidTagFault"}
      ],
      "documentation":"<p>Creates an HSM configuration that contains the information required by an Amazon Redshift cluster to store and use database encryption keys in a Hardware Security Module (HSM). After creating the HSM configuration, you can specify it as a parameter when creating a cluster. The cluster will then store its encryption keys in the HSM.</p> <p>In addition to creating an HSM configuration, you must also create an HSM client certificate. For more information, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-HSM.html\">Hardware Security Modules</a> in the Amazon Redshift Cluster Management Guide.</p>"
    },
    "CreateIntegration":{
      "name":"CreateIntegration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateIntegrationMessage"},
      "output":{
        "shape":"Integration",
        "resultWrapper":"CreateIntegrationResult"
      },
      "errors":[
        {"shape":"IntegrationAlreadyExistsFault"},
        {"shape":"IntegrationConflictOperationFault"},
        {"shape":"IntegrationQuotaExceededFault"},
        {"shape":"IntegrationSourceNotFoundFault"},
        {"shape":"IntegrationTargetNotFoundFault"},
        {"shape":"UnsupportedOperationFault"},
        {"shape":"InvalidClusterStateFault"},
        {"shape":"TagLimitExceededFault"},
        {"shape":"InvalidTagFault"}
      ],
      "documentation":"<p>Creates a zero-ETL integration or S3 event integration with Amazon Redshift.</p>"
    },
    "CreateRedshiftIdcApplication":{
      "name":"CreateRedshiftIdcApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateRedshiftIdcApplicationMessage"},
      "output":{
        "shape":"CreateRedshiftIdcApplicationResult",
        "resultWrapper":"CreateRedshiftIdcApplicationResult"
      },
      "errors":[
        {"shape":"RedshiftIdcApplicationAlreadyExistsFault"},
        {"shape":"DependentServiceUnavailableFault"},
        {"shape":"UnsupportedOperationFault"},
        {"shape":"DependentServiceAccessDeniedFault"},
        {"shape":"RedshiftIdcApplicationQuotaExceededFault"}
      ],
      "documentation":"<p>Creates an Amazon Redshift application for use with IAM Identity Center.</p>"
    },
    "CreateScheduledAction":{
      "name":"CreateScheduledAction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateScheduledActionMessage"},
      "output":{
        "shape":"ScheduledAction",
        "resultWrapper":"CreateScheduledActionResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"ScheduledActionAlreadyExistsFault"},
        {"shape":"ScheduledActionQuotaExceededFault"},
        {"shape":"ScheduledActionTypeUnsupportedFault"},
        {"shape":"InvalidScheduleFault"},
        {"shape":"InvalidScheduledActionFault"},
        {"shape":"UnauthorizedOperation"},
        {"shape":"UnsupportedOperationFault"}
      ],
      "documentation":"<p>Creates a scheduled action. A scheduled action contains a schedule and an Amazon Redshift API action. For example, you can create a schedule of when to run the <code>ResizeCluster</code> API operation. </p>"
    },
    "CreateSnapshotCopyGrant":{
      "name":"CreateSnapshotCopyGrant",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSnapshotCopyGrantMessage"},
      "output":{
        "shape":"CreateSnapshotCopyGrantResult",
        "resultWrapper":"CreateSnapshotCopyGrantResult"
      },
      "errors":[
        {"shape":"SnapshotCopyGrantAlreadyExistsFault"},
        {"shape":"SnapshotCopyGrantQuotaExceededFault"},
        {"shape":"LimitExceededFault"},
        {"shape":"TagLimitExceededFault"},
        {"shape":"InvalidTagFault"},
        {"shape":"DependentServiceRequestThrottlingFault"}
      ],
      "documentation":"<p>Creates a snapshot copy grant that permits Amazon Redshift to use an encrypted symmetric key from Key Management Service (KMS) to encrypt copied snapshots in a destination region.</p> <p> For more information about managing snapshot copy grants, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-db-encryption.html\">Amazon Redshift Database Encryption</a> in the <i>Amazon Redshift Cluster Management Guide</i>. </p>"
    },
    "CreateSnapshotSchedule":{
      "name":"CreateSnapshotSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSnapshotScheduleMessage"},
      "output":{
        "shape":"SnapshotSchedule",
        "resultWrapper":"CreateSnapshotScheduleResult"
      },
      "errors":[
        {"shape":"SnapshotScheduleAlreadyExistsFault"},
        {"shape":"InvalidScheduleFault"},
        {"shape":"SnapshotScheduleQuotaExceededFault"},
        {"shape":"TagLimitExceededFault"},
        {"shape":"ScheduleDefinitionTypeUnsupportedFault"},
        {"shape":"InvalidTagFault"}
      ],
      "documentation":"<p>Create a snapshot schedule that can be associated to a cluster and which overrides the default system backup schedule. </p>"
    },
    "CreateTags":{
      "name":"CreateTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTagsMessage"},
      "errors":[
        {"shape":"TagLimitExceededFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidTagFault"},
        {"shape":"InvalidClusterStateFault"}
      ],
      "documentation":"<p>Adds tags to a cluster.</p> <p>A resource can have up to 50 tags. If you try to create more than 50 tags for a resource, you will receive an error and the attempt will fail.</p> <p>If you specify a key that already exists for the resource, the value for that key will be updated with the new value.</p>"
    },
    "CreateUsageLimit":{
      "name":"CreateUsageLimit",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateUsageLimitMessage"},
      "output":{
        "shape":"UsageLimit",
        "resultWrapper":"CreateUsageLimitResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"InvalidClusterStateFault"},
        {"shape":"LimitExceededFault"},
        {"shape":"UsageLimitAlreadyExistsFault"},
        {"shape":"InvalidUsageLimitFault"},
        {"shape":"TagLimitExceededFault"},
        {"shape":"UnsupportedOperationFault"}
      ],
      "documentation":"<p>Creates a usage limit for a specified Amazon Redshift feature on a cluster. The usage limit is identified by the returned usage limit identifier.</p>"
    },
    "DeauthorizeDataShare":{
      "name":"DeauthorizeDataShare",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeauthorizeDataShareMessage"},
      "output":{
        "shape":"DataShare",
        "resultWrapper":"DeauthorizeDataShareResult"
      },
      "errors":[
        {"shape":"InvalidDataShareFault"}
      ],
      "documentation":"<p>From a datashare producer account, removes authorization from the specified datashare. </p>"
    },
    "DeleteAuthenticationProfile":{
      "name":"DeleteAuthenticationProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAuthenticationProfileMessage"},
      "output":{
        "shape":"DeleteAuthenticationProfileResult",
        "resultWrapper":"DeleteAuthenticationProfileResult"
      },
      "errors":[
        {"shape":"AuthenticationProfileNotFoundFault"},
        {"shape":"InvalidAuthenticationProfileRequestFault"}
      ],
      "documentation":"<p>Deletes an authentication profile.</p>"
    },
    "DeleteCluster":{
      "name":"DeleteCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteClusterMessage"},
      "output":{
        "shape":"DeleteClusterResult",
        "resultWrapper":"DeleteClusterResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"InvalidClusterStateFault"},
        {"shape":"ClusterSnapshotAlreadyExistsFault"},
        {"shape":"ClusterSnapshotQuotaExceededFault"},
        {"shape":"InvalidRetentionPeriodFault"}
      ],
      "documentation":"<p>Deletes a previously provisioned cluster without its final snapshot being created. A successful response from the web service indicates that the request was received correctly. Use <a>DescribeClusters</a> to monitor the status of the deletion. The delete operation cannot be canceled or reverted once submitted. For more information about managing clusters, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-clusters.html\">Amazon Redshift Clusters</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p> <p>If you want to shut down the cluster and retain it for future use, set <i>SkipFinalClusterSnapshot</i> to <code>false</code> and specify a name for <i>FinalClusterSnapshotIdentifier</i>. You can later restore this snapshot to resume using the cluster. If a final cluster snapshot is requested, the status of the cluster will be \"final-snapshot\" while the snapshot is being taken, then it's \"deleting\" once Amazon Redshift begins deleting the cluster. </p> <p> For more information about managing clusters, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-clusters.html\">Amazon Redshift Clusters</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>"
    },
    "DeleteClusterParameterGroup":{
      "name":"DeleteClusterParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteClusterParameterGroupMessage"},
      "errors":[
        {"shape":"InvalidClusterParameterGroupStateFault"},
        {"shape":"ClusterParameterGroupNotFoundFault"}
      ],
      "documentation":"<p>Deletes a specified Amazon Redshift parameter group.</p> <note> <p>You cannot delete a parameter group if it is associated with a cluster.</p> </note>"
    },
    "DeleteClusterSecurityGroup":{
      "name":"DeleteClusterSecurityGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteClusterSecurityGroupMessage"},
      "errors":[
        {"shape":"InvalidClusterSecurityGroupStateFault"},
        {"shape":"ClusterSecurityGroupNotFoundFault"}
      ],
      "documentation":"<p>Deletes an Amazon Redshift security group.</p> <note> <p>You cannot delete a security group that is associated with any clusters. You cannot delete the default security group.</p> </note> <p> For information about managing security groups, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-security-groups.html\">Amazon Redshift Cluster Security Groups</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>"
    },
    "DeleteClusterSnapshot":{
      "name":"DeleteClusterSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteClusterSnapshotMessage"},
      "output":{
        "shape":"DeleteClusterSnapshotResult",
        "resultWrapper":"DeleteClusterSnapshotResult"
      },
      "errors":[
        {"shape":"InvalidClusterSnapshotStateFault"},
        {"shape":"ClusterSnapshotNotFoundFault"}
      ],
      "documentation":"<p>Deletes the specified manual snapshot. The snapshot must be in the <code>available</code> state, with no other users authorized to access the snapshot. </p> <p>Unlike automated snapshots, manual snapshots are retained even after you delete your cluster. Amazon Redshift does not delete your manual snapshots. You must delete manual snapshot explicitly to avoid getting charged. If other accounts are authorized to access the snapshot, you must revoke all of the authorizations before you can delete the snapshot.</p>"
    },
    "DeleteClusterSubnetGroup":{
      "name":"DeleteClusterSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteClusterSubnetGroupMessage"},
      "errors":[
        {"shape":"InvalidClusterSubnetGroupStateFault"},
        {"shape":"InvalidClusterSubnetStateFault"},
        {"shape":"ClusterSubnetGroupNotFoundFault"}
      ],
      "documentation":"<p>Deletes the specified cluster subnet group.</p>"
    },
    "DeleteCustomDomainAssociation":{
      "name":"DeleteCustomDomainAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCustomDomainAssociationMessage"},
      "errors":[
        {"shape":"UnsupportedOperationFault"},
        {"shape":"ClusterNotFoundFault"},
        {"shape":"CustomCnameAssociationFault"},
        {"shape":"CustomDomainAssociationNotFoundFault"}
      ],
      "documentation":"<p>Contains information about deleting a custom domain association for a cluster.</p>"
    },
    "DeleteEndpointAccess":{
      "name":"DeleteEndpointAccess",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEndpointAccessMessage"},
      "output":{
        "shape":"EndpointAccess",
        "resultWrapper":"DeleteEndpointAccessResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"InvalidEndpointStateFault"},
        {"shape":"InvalidClusterSecurityGroupStateFault"},
        {"shape":"EndpointNotFoundFault"},
        {"shape":"InvalidClusterStateFault"}
      ],
      "documentation":"<p>Deletes a Redshift-managed VPC endpoint.</p>"
    },
    "DeleteEventSubscription":{
      "name":"DeleteEventSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEventSubscriptionMessage"},
      "errors":[
        {"shape":"SubscriptionNotFoundFault"},
        {"shape":"InvalidSubscriptionStateFault"}
      ],
      "documentation":"<p>Deletes an Amazon Redshift event notification subscription.</p>"
    },
    "DeleteHsmClientCertificate":{
      "name":"DeleteHsmClientCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteHsmClientCertificateMessage"},
      "errors":[
        {"shape":"InvalidHsmClientCertificateStateFault"},
        {"shape":"HsmClientCertificateNotFoundFault"}
      ],
      "documentation":"<p>Deletes the specified HSM client certificate.</p>"
    },
    "DeleteHsmConfiguration":{
      "name":"DeleteHsmConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteHsmConfigurationMessage"},
      "errors":[
        {"shape":"InvalidHsmConfigurationStateFault"},
        {"shape":"HsmConfigurationNotFoundFault"}
      ],
      "documentation":"<p>Deletes the specified Amazon Redshift HSM configuration.</p>"
    },
    "DeleteIntegration":{
      "name":"DeleteIntegration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteIntegrationMessage"},
      "output":{
        "shape":"Integration",
        "resultWrapper":"DeleteIntegrationResult"
      },
      "errors":[
        {"shape":"IntegrationNotFoundFault"},
        {"shape":"IntegrationConflictStateFault"},
        {"shape":"IntegrationConflictOperationFault"},
        {"shape":"UnsupportedOperationFault"}
      ],
      "documentation":"<p>Deletes a zero-ETL integration or S3 event integration with Amazon Redshift.</p>"
    },
    "DeletePartner":{
      "name":"DeletePartner",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PartnerIntegrationInputMessage"},
      "output":{
        "shape":"PartnerIntegrationOutputMessage",
        "resultWrapper":"DeletePartnerResult"
      },
      "errors":[
        {"shape":"PartnerNotFoundFault"},
        {"shape":"ClusterNotFoundFault"},
        {"shape":"UnauthorizedPartnerIntegrationFault"},
        {"shape":"UnsupportedOperationFault"}
      ],
      "documentation":"<p>Deletes a partner integration from a cluster. Data can still flow to the cluster until the integration is deleted at the partner's website.</p>"
    },
    "DeleteRedshiftIdcApplication":{
      "name":"DeleteRedshiftIdcApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRedshiftIdcApplicationMessage"},
      "errors":[
        {"shape":"RedshiftIdcApplicationNotExistsFault"},
        {"shape":"DependentServiceUnavailableFault"},
        {"shape":"UnsupportedOperationFault"},
        {"shape":"DependentServiceAccessDeniedFault"}
      ],
      "documentation":"<p>Deletes an Amazon Redshift IAM Identity Center application.</p>"
    },
    "DeleteResourcePolicy":{
      "name":"DeleteResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteResourcePolicyMessage"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"UnsupportedOperationFault"}
      ],
      "documentation":"<p>Deletes the resource policy for a specified resource.</p>"
    },
    "DeleteScheduledAction":{
      "name":"DeleteScheduledAction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteScheduledActionMessage"},
      "errors":[
        {"shape":"ScheduledActionNotFoundFault"},
        {"shape":"UnauthorizedOperation"}
      ],
      "documentation":"<p>Deletes a scheduled action. </p>"
    },
    "DeleteSnapshotCopyGrant":{
      "name":"DeleteSnapshotCopyGrant",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSnapshotCopyGrantMessage"},
      "errors":[
        {"shape":"InvalidSnapshotCopyGrantStateFault"},
        {"shape":"SnapshotCopyGrantNotFoundFault"}
      ],
      "documentation":"<p>Deletes the specified snapshot copy grant.</p>"
    },
    "DeleteSnapshotSchedule":{
      "name":"DeleteSnapshotSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSnapshotScheduleMessage"},
      "errors":[
        {"shape":"InvalidClusterSnapshotScheduleStateFault"},
        {"shape":"SnapshotScheduleNotFoundFault"}
      ],
      "documentation":"<p>Deletes a snapshot schedule.</p>"
    },
    "DeleteTags":{
      "name":"DeleteTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTagsMessage"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidTagFault"}
      ],
      "documentation":"<p>Deletes tags from a resource. You must provide the ARN of the resource from which you want to delete the tag or tags.</p>"
    },
    "DeleteUsageLimit":{
      "name":"DeleteUsageLimit",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteUsageLimitMessage"},
      "errors":[
        {"shape":"UsageLimitNotFoundFault"},
        {"shape":"UnsupportedOperationFault"}
      ],
      "documentation":"<p>Deletes a usage limit from a cluster.</p>"
    },
    "DeregisterNamespace":{
      "name":"DeregisterNamespace",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterNamespaceInputMessage"},
      "output":{
        "shape":"DeregisterNamespaceOutputMessage",
        "resultWrapper":"DeregisterNamespaceResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"InvalidNamespaceFault"},
        {"shape":"InvalidClusterStateFault"}
      ],
      "documentation":"<p>Deregisters a cluster or serverless namespace from the Amazon Web Services Glue Data Catalog.</p>"
    },
    "DescribeAccountAttributes":{
      "name":"DescribeAccountAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAccountAttributesMessage"},
      "output":{
        "shape":"AccountAttributeList",
        "resultWrapper":"DescribeAccountAttributesResult"
      },
      "documentation":"<p>Returns a list of attributes attached to an account</p>"
    },
    "DescribeAuthenticationProfiles":{
      "name":"DescribeAuthenticationProfiles",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAuthenticationProfilesMessage"},
      "output":{
        "shape":"DescribeAuthenticationProfilesResult",
        "resultWrapper":"DescribeAuthenticationProfilesResult"
      },
      "errors":[
        {"shape":"AuthenticationProfileNotFoundFault"},
        {"shape":"InvalidAuthenticationProfileRequestFault"}
      ],
      "documentation":"<p>Describes an authentication profile.</p>"
    },
    "DescribeClusterDbRevisions":{
      "name":"DescribeClusterDbRevisions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClusterDbRevisionsMessage"},
      "output":{
        "shape":"ClusterDbRevisionsMessage",
        "resultWrapper":"DescribeClusterDbRevisionsResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"InvalidClusterStateFault"}
      ],
      "documentation":"<p>Returns an array of <code>ClusterDbRevision</code> objects.</p>"
    },
    "DescribeClusterParameterGroups":{
      "name":"DescribeClusterParameterGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClusterParameterGroupsMessage"},
      "output":{
        "shape":"ClusterParameterGroupsMessage",
        "resultWrapper":"DescribeClusterParameterGroupsResult"
      },
      "errors":[
        {"shape":"ClusterParameterGroupNotFoundFault"},
        {"shape":"InvalidTagFault"}
      ],
      "documentation":"<p>Returns a list of Amazon Redshift parameter groups, including parameter groups you created and the default parameter group. For each parameter group, the response includes the parameter group name, description, and parameter group family name. You can optionally specify a name to retrieve the description of a specific parameter group.</p> <p> For more information about parameters and parameter groups, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-parameter-groups.html\">Amazon Redshift Parameter Groups</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p> <p>If you specify both tag keys and tag values in the same request, Amazon Redshift returns all parameter groups that match any combination of the specified keys and values. For example, if you have <code>owner</code> and <code>environment</code> for tag keys, and <code>admin</code> and <code>test</code> for tag values, all parameter groups that have any combination of those values are returned.</p> <p>If both tag keys and values are omitted from the request, parameter groups are returned regardless of whether they have tag keys or values associated with them.</p>"
    },
    "DescribeClusterParameters":{
      "name":"DescribeClusterParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClusterParametersMessage"},
      "output":{
        "shape":"ClusterParameterGroupDetails",
        "resultWrapper":"DescribeClusterParametersResult"
      },
      "errors":[
        {"shape":"ClusterParameterGroupNotFoundFault"}
      ],
      "documentation":"<p>Returns a detailed list of parameters contained within the specified Amazon Redshift parameter group. For each parameter the response includes information such as parameter name, description, data type, value, whether the parameter value is modifiable, and so on.</p> <p>You can specify <i>source</i> filter to retrieve parameters of only specific type. For example, to retrieve parameters that were modified by a user action such as from <a>ModifyClusterParameterGroup</a>, you can specify <i>source</i> equal to <i>user</i>.</p> <p> For more information about parameters and parameter groups, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-parameter-groups.html\">Amazon Redshift Parameter Groups</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>"
    },
    "DescribeClusterSecurityGroups":{
      "name":"DescribeClusterSecurityGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClusterSecurityGroupsMessage"},
      "output":{
        "shape":"ClusterSecurityGroupMessage",
        "resultWrapper":"DescribeClusterSecurityGroupsResult"
      },
      "errors":[
        {"shape":"ClusterSecurityGroupNotFoundFault"},
        {"shape":"InvalidTagFault"}
      ],
      "documentation":"<p>Returns information about Amazon Redshift security groups. If the name of a security group is specified, the response will contain only information about only that security group.</p> <p> For information about managing security groups, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-security-groups.html\">Amazon Redshift Cluster Security Groups</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p> <p>If you specify both tag keys and tag values in the same request, Amazon Redshift returns all security groups that match any combination of the specified keys and values. For example, if you have <code>owner</code> and <code>environment</code> for tag keys, and <code>admin</code> and <code>test</code> for tag values, all security groups that have any combination of those values are returned.</p> <p>If both tag keys and values are omitted from the request, security groups are returned regardless of whether they have tag keys or values associated with them.</p>"
    },
    "DescribeClusterSnapshots":{
      "name":"DescribeClusterSnapshots",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClusterSnapshotsMessage"},
      "output":{
        "shape":"SnapshotMessage",
        "resultWrapper":"DescribeClusterSnapshotsResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"ClusterSnapshotNotFoundFault"},
        {"shape":"InvalidTagFault"},
        {"shape":"UnsupportedOperationFault"}
      ],
      "documentation":"<p>Returns one or more snapshot objects, which contain metadata about your cluster snapshots. By default, this operation returns information about all snapshots of all clusters that are owned by your Amazon Web Services account. No information is returned for snapshots owned by inactive Amazon Web Services accounts.</p> <p>If you specify both tag keys and tag values in the same request, Amazon Redshift returns all snapshots that match any combination of the specified keys and values. For example, if you have <code>owner</code> and <code>environment</code> for tag keys, and <code>admin</code> and <code>test</code> for tag values, all snapshots that have any combination of those values are returned. Only snapshots that you own are returned in the response; shared snapshots are not returned with the tag key and tag value request parameters.</p> <p>If both tag keys and values are omitted from the request, snapshots are returned regardless of whether they have tag keys or values associated with them.</p>"
    },
    "DescribeClusterSubnetGroups":{
      "name":"DescribeClusterSubnetGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClusterSubnetGroupsMessage"},
      "output":{
        "shape":"ClusterSubnetGroupMessage",
        "resultWrapper":"DescribeClusterSubnetGroupsResult"
      },
      "errors":[
        {"shape":"ClusterSubnetGroupNotFoundFault"},
        {"shape":"InvalidTagFault"}
      ],
      "documentation":"<p>Returns one or more cluster subnet group objects, which contain metadata about your cluster subnet groups. By default, this operation returns information about all cluster subnet groups that are defined in your Amazon Web Services account.</p> <p>If you specify both tag keys and tag values in the same request, Amazon Redshift returns all subnet groups that match any combination of the specified keys and values. For example, if you have <code>owner</code> and <code>environment</code> for tag keys, and <code>admin</code> and <code>test</code> for tag values, all subnet groups that have any combination of those values are returned.</p> <p>If both tag keys and values are omitted from the request, subnet groups are returned regardless of whether they have tag keys or values associated with them.</p>"
    },
    "DescribeClusterTracks":{
      "name":"DescribeClusterTracks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClusterTracksMessage"},
      "output":{
        "shape":"TrackListMessage",
        "resultWrapper":"DescribeClusterTracksResult"
      },
      "errors":[
        {"shape":"InvalidClusterTrackFault"},
        {"shape":"UnauthorizedOperation"}
      ],
      "documentation":"<p>Returns a list of all the available maintenance tracks.</p>"
    },
    "DescribeClusterVersions":{
      "name":"DescribeClusterVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClusterVersionsMessage"},
      "output":{
        "shape":"ClusterVersionsMessage",
        "resultWrapper":"DescribeClusterVersionsResult"
      },
      "documentation":"<p>Returns descriptions of the available Amazon Redshift cluster versions. You can call this operation even before creating any clusters to learn more about the Amazon Redshift versions. For more information about managing clusters, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-clusters.html\">Amazon Redshift Clusters</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>"
    },
    "DescribeClusters":{
      "name":"DescribeClusters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClustersMessage"},
      "output":{
        "shape":"ClustersMessage",
        "resultWrapper":"DescribeClustersResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"InvalidTagFault"}
      ],
      "documentation":"<p>Returns properties of provisioned clusters including general cluster properties, cluster database properties, maintenance and backup properties, and security and access properties. This operation supports pagination. For more information about managing clusters, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-clusters.html\">Amazon Redshift Clusters</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p> <p>If you specify both tag keys and tag values in the same request, Amazon Redshift returns all clusters that match any combination of the specified keys and values. For example, if you have <code>owner</code> and <code>environment</code> for tag keys, and <code>admin</code> and <code>test</code> for tag values, all clusters that have any combination of those values are returned.</p> <p>If both tag keys and values are omitted from the request, clusters are returned regardless of whether they have tag keys or values associated with them.</p>"
    },
    "DescribeCustomDomainAssociations":{
      "name":"DescribeCustomDomainAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCustomDomainAssociationsMessage"},
      "output":{
        "shape":"CustomDomainAssociationsMessage",
        "resultWrapper":"DescribeCustomDomainAssociationsResult"
      },
      "errors":[
        {"shape":"CustomDomainAssociationNotFoundFault"},
        {"shape":"UnsupportedOperationFault"}
      ],
      "documentation":"<p>Contains information about custom domain associations for a cluster.</p>"
    },
    "DescribeDataShares":{
      "name":"DescribeDataShares",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDataSharesMessage"},
      "output":{
        "shape":"DescribeDataSharesResult",
        "resultWrapper":"DescribeDataSharesResult"
      },
      "errors":[
        {"shape":"InvalidDataShareFault"}
      ],
      "documentation":"<p>Shows the status of any inbound or outbound datashares available in the specified account.</p>"
    },
    "DescribeDataSharesForConsumer":{
      "name":"DescribeDataSharesForConsumer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDataSharesForConsumerMessage"},
      "output":{
        "shape":"DescribeDataSharesForConsumerResult",
        "resultWrapper":"DescribeDataSharesForConsumerResult"
      },
      "errors":[
        {"shape":"InvalidNamespaceFault"}
      ],
      "documentation":"<p>Returns a list of datashares where the account identifier being called is a consumer account identifier.</p>"
    },
    "DescribeDataSharesForProducer":{
      "name":"DescribeDataSharesForProducer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDataSharesForProducerMessage"},
      "output":{
        "shape":"DescribeDataSharesForProducerResult",
        "resultWrapper":"DescribeDataSharesForProducerResult"
      },
      "errors":[
        {"shape":"InvalidNamespaceFault"}
      ],
      "documentation":"<p>Returns a list of datashares when the account identifier being called is a producer account identifier.</p>"
    },
    "DescribeDefaultClusterParameters":{
      "name":"DescribeDefaultClusterParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDefaultClusterParametersMessage"},
      "output":{
        "shape":"DescribeDefaultClusterParametersResult",
        "resultWrapper":"DescribeDefaultClusterParametersResult"
      },
      "documentation":"<p>Returns a list of parameter settings for the specified parameter group family.</p> <p> For more information about parameters and parameter groups, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-parameter-groups.html\">Amazon Redshift Parameter Groups</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>"
    },
    "DescribeEndpointAccess":{
      "name":"DescribeEndpointAccess",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEndpointAccessMessage"},
      "output":{
        "shape":"EndpointAccessList",
        "resultWrapper":"DescribeEndpointAccessResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"InvalidClusterStateFault"},
        {"shape":"EndpointNotFoundFault"}
      ],
      "documentation":"<p>Describes a Redshift-managed VPC endpoint.</p>"
    },
    "DescribeEndpointAuthorization":{
      "name":"DescribeEndpointAuthorization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEndpointAuthorizationMessage"},
      "output":{
        "shape":"EndpointAuthorizationList",
        "resultWrapper":"DescribeEndpointAuthorizationResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"UnsupportedOperationFault"}
      ],
      "documentation":"<p>Describes an endpoint authorization.</p>"
    },
    "DescribeEventCategories":{
      "name":"DescribeEventCategories",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventCategoriesMessage"},
      "output":{
        "shape":"EventCategoriesMessage",
        "resultWrapper":"DescribeEventCategoriesResult"
      },
      "documentation":"<p>Displays a list of event categories for all event source types, or for a specified source type. For a list of the event categories and source types, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-event-notifications.html\">Amazon Redshift Event Notifications</a>.</p>"
    },
    "DescribeEventSubscriptions":{
      "name":"DescribeEventSubscriptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventSubscriptionsMessage"},
      "output":{
        "shape":"EventSubscriptionsMessage",
        "resultWrapper":"DescribeEventSubscriptionsResult"
      },
      "errors":[
        {"shape":"SubscriptionNotFoundFault"},
        {"shape":"InvalidTagFault"}
      ],
      "documentation":"<p>Lists descriptions of all the Amazon Redshift event notification subscriptions for a customer account. If you specify a subscription name, lists the description for that subscription.</p> <p>If you specify both tag keys and tag values in the same request, Amazon Redshift returns all event notification subscriptions that match any combination of the specified keys and values. For example, if you have <code>owner</code> and <code>environment</code> for tag keys, and <code>admin</code> and <code>test</code> for tag values, all subscriptions that have any combination of those values are returned.</p> <p>If both tag keys and values are omitted from the request, subscriptions are returned regardless of whether they have tag keys or values associated with them.</p>"
    },
    "DescribeEvents":{
      "name":"DescribeEvents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventsMessage"},
      "output":{
        "shape":"EventsMessage",
        "resultWrapper":"DescribeEventsResult"
      },
      "documentation":"<p>Returns events related to clusters, security groups, snapshots, and parameter groups for the past 14 days. Events specific to a particular cluster, security group, snapshot or parameter group can be obtained by providing the name as a parameter. By default, the past hour of events are returned.</p>"
    },
    "DescribeHsmClientCertificates":{
      "name":"DescribeHsmClientCertificates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeHsmClientCertificatesMessage"},
      "output":{
        "shape":"HsmClientCertificateMessage",
        "resultWrapper":"DescribeHsmClientCertificatesResult"
      },
      "errors":[
        {"shape":"HsmClientCertificateNotFoundFault"},
        {"shape":"InvalidTagFault"}
      ],
      "documentation":"<p>Returns information about the specified HSM client certificate. If no certificate ID is specified, returns information about all the HSM certificates owned by your Amazon Web Services account.</p> <p>If you specify both tag keys and tag values in the same request, Amazon Redshift returns all HSM client certificates that match any combination of the specified keys and values. For example, if you have <code>owner</code> and <code>environment</code> for tag keys, and <code>admin</code> and <code>test</code> for tag values, all HSM client certificates that have any combination of those values are returned.</p> <p>If both tag keys and values are omitted from the request, HSM client certificates are returned regardless of whether they have tag keys or values associated with them.</p>"
    },
    "DescribeHsmConfigurations":{
      "name":"DescribeHsmConfigurations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeHsmConfigurationsMessage"},
      "output":{
        "shape":"HsmConfigurationMessage",
        "resultWrapper":"DescribeHsmConfigurationsResult"
      },
      "errors":[
        {"shape":"HsmConfigurationNotFoundFault"},
        {"shape":"InvalidTagFault"}
      ],
      "documentation":"<p>Returns information about the specified Amazon Redshift HSM configuration. If no configuration ID is specified, returns information about all the HSM configurations owned by your Amazon Web Services account.</p> <p>If you specify both tag keys and tag values in the same request, Amazon Redshift returns all HSM connections that match any combination of the specified keys and values. For example, if you have <code>owner</code> and <code>environment</code> for tag keys, and <code>admin</code> and <code>test</code> for tag values, all HSM connections that have any combination of those values are returned.</p> <p>If both tag keys and values are omitted from the request, HSM connections are returned regardless of whether they have tag keys or values associated with them.</p>"
    },
    "DescribeInboundIntegrations":{
      "name":"DescribeInboundIntegrations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInboundIntegrationsMessage"},
      "output":{
        "shape":"InboundIntegrationsMessage",
        "resultWrapper":"DescribeInboundIntegrationsResult"
      },
      "errors":[
        {"shape":"IntegrationNotFoundFault"},
        {"shape":"InvalidNamespaceFault"},
        {"shape":"UnsupportedOperationFault"}
      ],
      "documentation":"<p>Returns a list of inbound integrations.</p>"
    },
    "DescribeIntegrations":{
      "name":"DescribeIntegrations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeIntegrationsMessage"},
      "output":{
        "shape":"IntegrationsMessage",
        "resultWrapper":"DescribeIntegrationsResult"
      },
      "errors":[
        {"shape":"IntegrationNotFoundFault"},
        {"shape":"UnsupportedOperationFault"}
      ],
      "documentation":"<p>Describes one or more zero-ETL or S3 event integrations with Amazon Redshift.</p>"
    },
    "DescribeLoggingStatus":{
      "name":"DescribeLoggingStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLoggingStatusMessage"},
      "output":{
        "shape":"LoggingStatus",
        "resultWrapper":"DescribeLoggingStatusResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"UnsupportedOperationFault"}
      ],
      "documentation":"<p>Describes whether information, such as queries and connection attempts, is being logged for the specified Amazon Redshift cluster.</p>"
    },
    "DescribeNodeConfigurationOptions":{
      "name":"DescribeNodeConfigurationOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeNodeConfigurationOptionsMessage"},
      "output":{
        "shape":"NodeConfigurationOptionsMessage",
        "resultWrapper":"DescribeNodeConfigurationOptionsResult"
      },
      "errors":[
        {"shape":"ClusterSnapshotNotFoundFault"},
        {"shape":"InvalidClusterSnapshotStateFault"},
        {"shape":"ClusterNotFoundFault"},
        {"shape":"AccessToSnapshotDeniedFault"},
        {"shape":"UnsupportedOperationFault"}
      ],
      "documentation":"<p>Returns properties of possible node configurations such as node type, number of nodes, and disk usage for the specified action type.</p>"
    },
    "DescribeOrderableClusterOptions":{
      "name":"DescribeOrderableClusterOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeOrderableClusterOptionsMessage"},
      "output":{
        "shape":"OrderableClusterOptionsMessage",
        "resultWrapper":"DescribeOrderableClusterOptionsResult"
      },
      "documentation":"<p>Returns a list of orderable cluster options. Before you create a new cluster you can use this operation to find what options are available, such as the EC2 Availability Zones (AZ) in the specific Amazon Web Services Region that you can specify, and the node types you can request. The node types differ by available storage, memory, CPU and price. With the cost involved you might want to obtain a list of cluster options in the specific region and specify values when creating a cluster. For more information about managing clusters, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-clusters.html\">Amazon Redshift Clusters</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>"
    },
    "DescribePartners":{
      "name":"DescribePartners",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePartnersInputMessage"},
      "output":{
        "shape":"DescribePartnersOutputMessage",
        "resultWrapper":"DescribePartnersResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"UnauthorizedPartnerIntegrationFault"},
        {"shape":"UnsupportedOperationFault"}
      ],
      "documentation":"<p>Returns information about the partner integrations defined for a cluster.</p>"
    },
    "DescribeRedshiftIdcApplications":{
      "name":"DescribeRedshiftIdcApplications",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRedshiftIdcApplicationsMessage"},
      "output":{
        "shape":"DescribeRedshiftIdcApplicationsResult",
        "resultWrapper":"DescribeRedshiftIdcApplicationsResult"
      },
      "errors":[
        {"shape":"RedshiftIdcApplicationNotExistsFault"},
        {"shape":"DependentServiceUnavailableFault"},
        {"shape":"UnsupportedOperationFault"},
        {"shape":"DependentServiceAccessDeniedFault"}
      ],
      "documentation":"<p>Lists the Amazon Redshift IAM Identity Center applications.</p>"
    },
    "DescribeReservedNodeExchangeStatus":{
      "name":"DescribeReservedNodeExchangeStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReservedNodeExchangeStatusInputMessage"},
      "output":{
        "shape":"DescribeReservedNodeExchangeStatusOutputMessage",
        "resultWrapper":"DescribeReservedNodeExchangeStatusResult"
      },
      "errors":[
        {"shape":"ReservedNodeNotFoundFault"},
        {"shape":"ReservedNodeExchangeNotFoundFault"},
        {"shape":"UnsupportedOperationFault"}
      ],
      "documentation":"<p>Returns exchange status details and associated metadata for a reserved-node exchange. Statuses include such values as in progress and requested.</p>"
    },
    "DescribeReservedNodeOfferings":{
      "name":"DescribeReservedNodeOfferings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReservedNodeOfferingsMessage"},
      "output":{
        "shape":"ReservedNodeOfferingsMessage",
        "resultWrapper":"DescribeReservedNodeOfferingsResult"
      },
      "errors":[
        {"shape":"ReservedNodeOfferingNotFoundFault"},
        {"shape":"UnsupportedOperationFault"},
        {"shape":"DependentServiceUnavailableFault"}
      ],
      "documentation":"<p>Returns a list of the available reserved node offerings by Amazon Redshift with their descriptions including the node type, the fixed and recurring costs of reserving the node and duration the node will be reserved for you. These descriptions help you determine which reserve node offering you want to purchase. You then use the unique offering ID in you call to <a>PurchaseReservedNodeOffering</a> to reserve one or more nodes for your Amazon Redshift cluster. </p> <p> For more information about reserved node offerings, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/purchase-reserved-node-instance.html\">Purchasing Reserved Nodes</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>"
    },
    "DescribeReservedNodes":{
      "name":"DescribeReservedNodes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReservedNodesMessage"},
      "output":{
        "shape":"ReservedNodesMessage",
        "resultWrapper":"DescribeReservedNodesResult"
      },
      "errors":[
        {"shape":"ReservedNodeNotFoundFault"},
        {"shape":"DependentServiceUnavailableFault"}
      ],
      "documentation":"<p>Returns the descriptions of the reserved nodes.</p>"
    },
    "DescribeResize":{
      "name":"DescribeResize",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeResizeMessage"},
      "output":{
        "shape":"ResizeProgressMessage",
        "resultWrapper":"DescribeResizeResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"ResizeNotFoundFault"},
        {"shape":"UnsupportedOperationFault"}
      ],
      "documentation":"<p>Returns information about the last resize operation for the specified cluster. If no resize operation has ever been initiated for the specified cluster, a <code>HTTP 404</code> error is returned. If a resize operation was initiated and completed, the status of the resize remains as <code>SUCCEEDED</code> until the next resize. </p> <p>A resize operation can be requested using <a>ModifyCluster</a> and specifying a different number or type of nodes for the cluster. </p>"
    },
    "DescribeScheduledActions":{
      "name":"DescribeScheduledActions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeScheduledActionsMessage"},
      "output":{
        "shape":"ScheduledActionsMessage",
        "resultWrapper":"DescribeScheduledActionsResult"
      },
      "errors":[
        {"shape":"ScheduledActionNotFoundFault"},
        {"shape":"UnauthorizedOperation"}
      ],
      "documentation":"<p>Describes properties of scheduled actions. </p>"
    },
    "DescribeSnapshotCopyGrants":{
      "name":"DescribeSnapshotCopyGrants",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSnapshotCopyGrantsMessage"},
      "output":{
        "shape":"SnapshotCopyGrantMessage",
        "resultWrapper":"DescribeSnapshotCopyGrantsResult"
      },
      "errors":[
        {"shape":"SnapshotCopyGrantNotFoundFault"},
        {"shape":"InvalidTagFault"}
      ],
      "documentation":"<p>Returns a list of snapshot copy grants owned by the Amazon Web Services account in the destination region.</p> <p> For more information about managing snapshot copy grants, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-db-encryption.html\">Amazon Redshift Database Encryption</a> in the <i>Amazon Redshift Cluster Management Guide</i>. </p>"
    },
    "DescribeSnapshotSchedules":{
      "name":"DescribeSnapshotSchedules",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSnapshotSchedulesMessage"},
      "output":{
        "shape":"DescribeSnapshotSchedulesOutputMessage",
        "resultWrapper":"DescribeSnapshotSchedulesResult"
      },
      "documentation":"<p>Returns a list of snapshot schedules. </p>"
    },
    "DescribeStorage":{
      "name":"DescribeStorage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"CustomerStorageMessage",
        "resultWrapper":"DescribeStorageResult"
      },
      "documentation":"<p>Returns account level backups storage size and provisional storage.</p>"
    },
    "DescribeTableRestoreStatus":{
      "name":"DescribeTableRestoreStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTableRestoreStatusMessage"},
      "output":{
        "shape":"TableRestoreStatusMessage",
        "resultWrapper":"DescribeTableRestoreStatusResult"
      },
      "errors":[
        {"shape":"TableRestoreNotFoundFault"},
        {"shape":"ClusterNotFoundFault"}
      ],
      "documentation":"<p>Lists the status of one or more table restore requests made using the <a>RestoreTableFromClusterSnapshot</a> API action. If you don't specify a value for the <code>TableRestoreRequestId</code> parameter, then <code>DescribeTableRestoreStatus</code> returns the status of all table restore requests ordered by the date and time of the request in ascending order. Otherwise <code>DescribeTableRestoreStatus</code> returns the status of the table specified by <code>TableRestoreRequestId</code>.</p>"
    },
    "DescribeTags":{
      "name":"DescribeTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTagsMessage"},
      "output":{
        "shape":"TaggedResourceListMessage",
        "resultWrapper":"DescribeTagsResult"
      },
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidTagFault"}
      ],
      "documentation":"<p>Returns a list of tags. You can return tags from a specific resource by specifying an ARN, or you can return all tags for a given type of resource, such as clusters, snapshots, and so on.</p> <p>The following are limitations for <code>DescribeTags</code>: </p> <ul> <li> <p>You cannot specify an ARN and a resource-type value together in the same request.</p> </li> <li> <p>You cannot use the <code>MaxRecords</code> and <code>Marker</code> parameters together with the ARN parameter.</p> </li> <li> <p>The <code>MaxRecords</code> parameter can be a range from 10 to 50 results to return in a request.</p> </li> </ul> <p>If you specify both tag keys and tag values in the same request, Amazon Redshift returns all resources that match any combination of the specified keys and values. For example, if you have <code>owner</code> and <code>environment</code> for tag keys, and <code>admin</code> and <code>test</code> for tag values, all resources that have any combination of those values are returned.</p> <p>If both tag keys and values are omitted from the request, resources are returned regardless of whether they have tag keys or values associated with them.</p>"
    },
    "DescribeUsageLimits":{
      "name":"DescribeUsageLimits",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeUsageLimitsMessage"},
      "output":{
        "shape":"UsageLimitList",
        "resultWrapper":"DescribeUsageLimitsResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"UnsupportedOperationFault"}
      ],
      "documentation":"<p>Shows usage limits on a cluster. Results are filtered based on the combination of input usage limit identifier, cluster identifier, and feature type parameters:</p> <ul> <li> <p>If usage limit identifier, cluster identifier, and feature type are not provided, then all usage limit objects for the current account in the current region are returned.</p> </li> <li> <p>If usage limit identifier is provided, then the corresponding usage limit object is returned.</p> </li> <li> <p>If cluster identifier is provided, then all usage limit objects for the specified cluster are returned.</p> </li> <li> <p>If cluster identifier and feature type are provided, then all usage limit objects for the combination of cluster and feature are returned.</p> </li> </ul>"
    },
    "DisableLogging":{
      "name":"DisableLogging",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableLoggingMessage"},
      "output":{
        "shape":"LoggingStatus",
        "resultWrapper":"DisableLoggingResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"InvalidClusterStateFault"},
        {"shape":"UnsupportedOperationFault"}
      ],
      "documentation":"<p>Stops logging information, such as queries and connection attempts, for the specified Amazon Redshift cluster.</p>"
    },
    "DisableSnapshotCopy":{
      "name":"DisableSnapshotCopy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableSnapshotCopyMessage"},
      "output":{
        "shape":"DisableSnapshotCopyResult",
        "resultWrapper":"DisableSnapshotCopyResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"SnapshotCopyAlreadyDisabledFault"},
        {"shape":"InvalidClusterStateFault"},
        {"shape":"UnauthorizedOperation"},
        {"shape":"UnsupportedOperationFault"}
      ],
      "documentation":"<p>Disables the automatic copying of snapshots from one region to another region for a specified cluster.</p> <p>If your cluster and its snapshots are encrypted using an encrypted symmetric key from Key Management Service, use <a>DeleteSnapshotCopyGrant</a> to delete the grant that grants Amazon Redshift permission to the key in the destination region. </p>"
    },
    "DisassociateDataShareConsumer":{
      "name":"DisassociateDataShareConsumer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateDataShareConsumerMessage"},
      "output":{
        "shape":"DataShare",
        "resultWrapper":"DisassociateDataShareConsumerResult"
      },
      "errors":[
        {"shape":"InvalidDataShareFault"},
        {"shape":"InvalidNamespaceFault"}
      ],
      "documentation":"<p>From a datashare consumer account, remove association for the specified datashare. </p>"
    },
    "EnableLogging":{
      "name":"EnableLogging",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableLoggingMessage"},
      "output":{
        "shape":"LoggingStatus",
        "resultWrapper":"EnableLoggingResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"BucketNotFoundFault"},
        {"shape":"InsufficientS3BucketPolicyFault"},
        {"shape":"InvalidS3KeyPrefixFault"},
        {"shape":"InvalidS3BucketNameFault"},
        {"shape":"InvalidClusterStateFault"},
        {"shape":"UnsupportedOperationFault"}
      ],
      "documentation":"<p>Starts logging information, such as queries and connection attempts, for the specified Amazon Redshift cluster.</p>"
    },
    "EnableSnapshotCopy":{
      "name":"EnableSnapshotCopy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableSnapshotCopyMessage"},
      "output":{
        "shape":"EnableSnapshotCopyResult",
        "resultWrapper":"EnableSnapshotCopyResult"
      },
      "errors":[
        {"shape":"IncompatibleOrderableOptions"},
        {"shape":"InvalidClusterStateFault"},
        {"shape":"ClusterNotFoundFault"},
        {"shape":"CopyToRegionDisabledFault"},
        {"shape":"SnapshotCopyAlreadyEnabledFault"},
        {"shape":"UnknownSnapshotCopyRegionFault"},
        {"shape":"UnauthorizedOperation"},
        {"shape":"SnapshotCopyGrantNotFoundFault"},
        {"shape":"LimitExceededFault"},
        {"shape":"DependentServiceRequestThrottlingFault"},
        {"shape":"InvalidRetentionPeriodFault"}
      ],
      "documentation":"<p>Enables the automatic copy of snapshots from one region to another region for a specified cluster.</p>"
    },
    "FailoverPrimaryCompute":{
      "name":"FailoverPrimaryCompute",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"FailoverPrimaryComputeInputMessage"},
      "output":{
        "shape":"FailoverPrimaryComputeResult",
        "resultWrapper":"FailoverPrimaryComputeResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"UnsupportedOperationFault"},
        {"shape":"UnauthorizedOperation"},
        {"shape":"InvalidClusterStateFault"}
      ],
      "documentation":"<p>Fails over the primary compute unit of the specified Multi-AZ cluster to another Availability Zone.</p>"
    },
    "GetClusterCredentials":{
      "name":"GetClusterCredentials",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetClusterCredentialsMessage"},
      "output":{
        "shape":"ClusterCredentials",
        "resultWrapper":"GetClusterCredentialsResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"UnsupportedOperationFault"}
      ],
      "documentation":"<p>Returns a database user name and temporary password with temporary authorization to log on to an Amazon Redshift database. The action returns the database user name prefixed with <code>IAM:</code> if <code>AutoCreate</code> is <code>False</code> or <code>IAMA:</code> if <code>AutoCreate</code> is <code>True</code>. You can optionally specify one or more database user groups that the user will join at log on. By default, the temporary credentials expire in 900 seconds. You can optionally specify a duration between 900 seconds (15 minutes) and 3600 seconds (60 minutes). For more information, see <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/generating-user-credentials.html\">Using IAM Authentication to Generate Database User Credentials</a> in the Amazon Redshift Cluster Management Guide.</p> <p>The Identity and Access Management (IAM) user or role that runs GetClusterCredentials must have an IAM policy attached that allows access to all necessary actions and resources. For more information about permissions, see <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/redshift-iam-access-control-identity-based.html#redshift-policy-resources.getclustercredentials-resources\">Resource Policies for GetClusterCredentials</a> in the Amazon Redshift Cluster Management Guide.</p> <p>If the <code>DbGroups</code> parameter is specified, the IAM policy must allow the <code>redshift:JoinGroup</code> action with access to the listed <code>dbgroups</code>. </p> <p>In addition, if the <code>AutoCreate</code> parameter is set to <code>True</code>, then the policy must include the <code>redshift:CreateClusterUser</code> permission.</p> <p>If the <code>DbName</code> parameter is specified, the IAM policy must allow access to the resource <code>dbname</code> for the specified database name. </p>"
    },
    "GetClusterCredentialsWithIAM":{
      "name":"GetClusterCredentialsWithIAM",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetClusterCredentialsWithIAMMessage"},
      "output":{
        "shape":"ClusterExtendedCredentials",
        "resultWrapper":"GetClusterCredentialsWithIAMResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"UnsupportedOperationFault"}
      ],
      "documentation":"<p>Returns a database user name and temporary password with temporary authorization to log in to an Amazon Redshift database. The database user is mapped 1:1 to the source Identity and Access Management (IAM) identity. For more information about IAM identities, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id.html\">IAM Identities (users, user groups, and roles)</a> in the Amazon Web Services Identity and Access Management User Guide.</p> <p>The Identity and Access Management (IAM) identity that runs this operation must have an IAM policy attached that allows access to all necessary actions and resources. For more information about permissions, see <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/redshift-iam-access-control-identity-based.html\">Using identity-based policies (IAM policies)</a> in the Amazon Redshift Cluster Management Guide. </p>"
    },
    "GetReservedNodeExchangeConfigurationOptions":{
      "name":"GetReservedNodeExchangeConfigurationOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetReservedNodeExchangeConfigurationOptionsInputMessage"},
      "output":{
        "shape":"GetReservedNodeExchangeConfigurationOptionsOutputMessage",
        "resultWrapper":"GetReservedNodeExchangeConfigurationOptionsResult"
      },
      "errors":[
        {"shape":"ReservedNodeNotFoundFault"},
        {"shape":"InvalidReservedNodeStateFault"},
        {"shape":"ReservedNodeAlreadyMigratedFault"},
        {"shape":"ReservedNodeOfferingNotFoundFault"},
        {"shape":"UnsupportedOperationFault"},
        {"shape":"DependentServiceUnavailableFault"},
        {"shape":"ClusterNotFoundFault"},
        {"shape":"ClusterSnapshotNotFoundFault"}
      ],
      "documentation":"<p>Gets the configuration options for the reserved-node exchange. These options include information about the source reserved node and target reserved node offering. Details include the node type, the price, the node count, and the offering type.</p>"
    },
    "GetReservedNodeExchangeOfferings":{
      "name":"GetReservedNodeExchangeOfferings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetReservedNodeExchangeOfferingsInputMessage"},
      "output":{
        "shape":"GetReservedNodeExchangeOfferingsOutputMessage",
        "resultWrapper":"GetReservedNodeExchangeOfferingsResult"
      },
      "errors":[
        {"shape":"ReservedNodeNotFoundFault"},
        {"shape":"InvalidReservedNodeStateFault"},
        {"shape":"ReservedNodeAlreadyMigratedFault"},
        {"shape":"ReservedNodeOfferingNotFoundFault"},
        {"shape":"UnsupportedOperationFault"},
        {"shape":"DependentServiceUnavailableFault"}
      ],
      "documentation":"<p>Returns an array of DC2 ReservedNodeOfferings that matches the payment type, term, and usage price of the given DC1 reserved node.</p>"
    },
    "GetResourcePolicy":{
      "name":"GetResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetResourcePolicyMessage"},
      "output":{
        "shape":"GetResourcePolicyResult",
        "resultWrapper":"GetResourcePolicyResult"
      },
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidPolicyFault"},
        {"shape":"UnsupportedOperationFault"}
      ],
      "documentation":"<p>Get the resource policy for a specified resource.</p>"
    },
    "ListRecommendations":{
      "name":"ListRecommendations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListRecommendationsMessage"},
      "output":{
        "shape":"ListRecommendationsResult",
        "resultWrapper":"ListRecommendationsResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"UnsupportedOperationFault"}
      ],
      "documentation":"<p>List the Amazon Redshift Advisor recommendations for one or multiple Amazon Redshift clusters in an Amazon Web Services account.</p>"
    },
    "ModifyAquaConfiguration":{
      "name":"ModifyAquaConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyAquaInputMessage"},
      "output":{
        "shape":"ModifyAquaOutputMessage",
        "resultWrapper":"ModifyAquaConfigurationResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"InvalidClusterStateFault"},
        {"shape":"UnsupportedOperationFault"}
      ],
      "documentation":"<p>This operation is retired. Calling this operation does not change AQUA configuration. Amazon Redshift automatically determines whether to use AQUA (Advanced Query Accelerator). </p>"
    },
    "ModifyAuthenticationProfile":{
      "name":"ModifyAuthenticationProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyAuthenticationProfileMessage"},
      "output":{
        "shape":"ModifyAuthenticationProfileResult",
        "resultWrapper":"ModifyAuthenticationProfileResult"
      },
      "errors":[
        {"shape":"AuthenticationProfileNotFoundFault"},
        {"shape":"AuthenticationProfileQuotaExceededFault"},
        {"shape":"InvalidAuthenticationProfileRequestFault"}
      ],
      "documentation":"<p>Modifies an authentication profile.</p>"
    },
    "ModifyCluster":{
      "name":"ModifyCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyClusterMessage"},
      "output":{
        "shape":"ModifyClusterResult",
        "resultWrapper":"ModifyClusterResult"
      },
      "errors":[
        {"shape":"InvalidClusterStateFault"},
        {"shape":"InvalidClusterSecurityGroupStateFault"},
        {"shape":"ClusterNotFoundFault"},
        {"shape":"NumberOfNodesQuotaExceededFault"},
        {"shape":"NumberOfNodesPerClusterLimitExceededFault"},
        {"shape":"ClusterSecurityGroupNotFoundFault"},
        {"shape":"ClusterParameterGroupNotFoundFault"},
        {"shape":"InsufficientClusterCapacityFault"},
        {"shape":"UnsupportedOptionFault"},
        {"shape":"UnauthorizedOperation"},
        {"shape":"HsmClientCertificateNotFoundFault"},
        {"shape":"HsmConfigurationNotFoundFault"},
        {"shape":"ClusterAlreadyExistsFault"},
        {"shape":"LimitExceededFault"},
        {"shape":"DependentServiceRequestThrottlingFault"},
        {"shape":"InvalidElasticIpFault"},
        {"shape":"TableLimitExceededFault"},
        {"shape":"InvalidClusterTrackFault"},
        {"shape":"InvalidRetentionPeriodFault"},
        {"shape":"UnsupportedOperationFault"},
        {"shape":"CustomCnameAssociationFault"},
        {"shape":"Ipv6CidrBlockNotFoundFault"}
      ],
      "documentation":"<p>Modifies the settings for a cluster.</p> <p>You can also change node type and the number of nodes to scale up or down the cluster. When resizing a cluster, you must specify both the number of nodes and the node type even if one of the parameters does not change.</p> <p>You can add another security or parameter group, or change the admin user password. Resetting a cluster password or modifying the security groups associated with a cluster do not need a reboot. However, modifying a parameter group requires a reboot for parameters to take effect. For more information about managing clusters, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-clusters.html\">Amazon Redshift Clusters</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p> <p>VPC Block Public Access (BPA) enables you to block resources in VPCs and subnets that you own in a Region from reaching or being reached from the internet through internet gateways and egress-only internet gateways. If a subnet group for a provisioned cluster is in an account with VPC BPA turned on, the following capabilities are blocked:</p> <ul> <li> <p>Creating a public cluster</p> </li> <li> <p>Restoring a public cluster</p> </li> <li> <p>Modifying a private cluster to be public</p> </li> <li> <p>Adding a subnet with VPC BPA turned on to the subnet group when there's at least one public cluster within the group</p> </li> </ul> <p>For more information about VPC BPA, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/security-vpc-bpa.html\">Block public access to VPCs and subnets</a> in the <i>Amazon VPC User Guide</i>.</p>"
    },
    "ModifyClusterDbRevision":{
      "name":"ModifyClusterDbRevision",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyClusterDbRevisionMessage"},
      "output":{
        "shape":"ModifyClusterDbRevisionResult",
        "resultWrapper":"ModifyClusterDbRevisionResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"ClusterOnLatestRevisionFault"},
        {"shape":"InvalidClusterStateFault"},
        {"shape":"UnsupportedOperationFault"}
      ],
      "documentation":"<p>Modifies the database revision of a cluster. The database revision is a unique revision of the database running in a cluster.</p>"
    },
    "ModifyClusterIamRoles":{
      "name":"ModifyClusterIamRoles",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyClusterIamRolesMessage"},
      "output":{
        "shape":"ModifyClusterIamRolesResult",
        "resultWrapper":"ModifyClusterIamRolesResult"
      },
      "errors":[
        {"shape":"InvalidClusterStateFault"},
        {"shape":"ClusterNotFoundFault"}
      ],
      "documentation":"<p>Modifies the list of Identity and Access Management (IAM) roles that can be used by the cluster to access other Amazon Web Services services.</p> <p>The maximum number of IAM roles that you can associate is subject to a quota. For more information, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/amazon-redshift-limits.html\">Quotas and limits</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>"
    },
    "ModifyClusterMaintenance":{
      "name":"ModifyClusterMaintenance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyClusterMaintenanceMessage"},
      "output":{
        "shape":"ModifyClusterMaintenanceResult",
        "resultWrapper":"ModifyClusterMaintenanceResult"
      },
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"InvalidClusterStateFault"}
      ],
      "documentation":"<p>Modifies the maintenance settings of a cluster.</p>"
    },
    "ModifyClusterParameterGroup":{
      "name":"ModifyClusterParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyClusterParameterGroupMessage"},
      "output":{
        "shape":"ClusterParameterGroupNameMessage",
        "resultWrapper":"ModifyClusterParameterGroupResult"
      },
      "errors":[
        {"shape":"ClusterParameterGroupNotFoundFault"},
        {"shape":"InvalidClusterParameterGroupStateFault"}
      ],
      "documentation":"<p>Modifies the parameters of a parameter group. For the parameters parameter, it can't contain ASCII characters.</p> <p> For more information about parameters and parameter groups, go to <a href=\"https://docs.aws.amazon.com/redshift/latest/mgmt/working-with-parameter-groups.html\">Amazon Redshift Parameter Groups</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>"
    },
    "ModifyClusterSnapshot":{
      "name":"ModifyClusterSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyClusterSnapshotMessage"},
      "output":{
        "shape":"ModifyClusterSnapshotResult",
        "resultWrapper":"ModifyClusterSnapshotResult"
      },
      "errors":[
        {"shape":"InvalidClusterSnapshotStateFault"},
        {"shape":"ClusterSnapshotNotFoundFault"},
        {"shape":"InvalidRetentionPeriodFault"}
      ],
      "documentation":"<p>Modifies the settings for a snapshot.</p> <p>This exanmple modifies the manual retention period setting for a cluster snapshot.</p>"
    },
    "ModifyClusterSnapshotSchedule":{
      "name":"ModifyClusterSnapshotSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyClusterSnapshotScheduleMessage"},
      "errors":[
        {"shape":"ClusterNotFoundFault"},
        {"shape":"SnapshotScheduleNotFoundFault"},
        {"shape":"InvalidClusterSnapshotScheduleStateFault"}
      ],
      "documentation":"<p>Modifies a snapshot schedule for a cluster.</p>"
    },
    "ModifyClusterSubnetGroup":{
      "name":"ModifyClusterSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyClusterSubnetGroupMessage"},
      "output":{
        "shape":"ModifyClusterSubnetGroupResult",
[...]
