{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2023-10-17",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"mail-manager",
    "jsonVersion":"1.0",
    "protocol":"json",
    "protocols":["json"],
    "serviceFullName":"MailManager",
    "serviceId":"MailManager",
    "signatureVersion":"v4",
    "signingName":"ses",
    "targetPrefix":"MailManagerSvc",
    "uid":"mailmanager-2023-10-17"
  },
  "operations":{
    "CreateAddonInstance":{
      "name":"CreateAddonInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAddonInstanceRequest"},
      "output":{"shape":"CreateAddonInstanceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Creates an Add On instance for the subscription indicated in the request. The resulting Amazon Resource Name (ARN) can be used in a conditional statement for a rule set or traffic policy. </p>",
      "idempotent":true
    },
    "CreateAddonSubscription":{
      "name":"CreateAddonSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAddonSubscriptionRequest"},
      "output":{"shape":"CreateAddonSubscriptionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Creates a subscription for an Add On representing the acceptance of its terms of use and additional pricing. The subscription can then be used to create an instance for use in rule sets or traffic policies.</p>",
      "idempotent":true
    },
    "CreateAddressList":{
      "name":"CreateAddressList",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAddressListRequest"},
      "output":{"shape":"CreateAddressListResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a new address list.</p>",
      "idempotent":true
    },
    "CreateAddressListImportJob":{
      "name":"CreateAddressListImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAddressListImportJobRequest"},
      "output":{"shape":"CreateAddressListImportJobResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates an import job for an address list.</p>",
      "idempotent":true
    },
    "CreateArchive":{
      "name":"CreateArchive",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateArchiveRequest"},
      "output":{"shape":"CreateArchiveResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a new email archive resource for storing and retaining emails.</p>",
      "idempotent":true
    },
    "CreateIngressPoint":{
      "name":"CreateIngressPoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateIngressPointRequest"},
      "output":{"shape":"CreateIngressPointResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Provision a new ingress endpoint resource.</p>",
      "idempotent":true
    },
    "CreateRelay":{
      "name":"CreateRelay",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateRelayRequest"},
      "output":{"shape":"CreateRelayResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Creates a relay resource which can be used in rules to relay incoming emails to defined relay destinations. </p>",
      "idempotent":true
    },
    "CreateRuleSet":{
      "name":"CreateRuleSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateRuleSetRequest"},
      "output":{"shape":"CreateRuleSetResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Provision a new rule set.</p>",
      "idempotent":true
    },
    "CreateTrafficPolicy":{
      "name":"CreateTrafficPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTrafficPolicyRequest"},
      "output":{"shape":"CreateTrafficPolicyResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Provision a new traffic policy resource.</p>",
      "idempotent":true
    },
    "DeleteAddonInstance":{
      "name":"DeleteAddonInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAddonInstanceRequest"},
      "output":{"shape":"DeleteAddonInstanceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes an Add On instance.</p>",
      "idempotent":true
    },
    "DeleteAddonSubscription":{
      "name":"DeleteAddonSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAddonSubscriptionRequest"},
      "output":{"shape":"DeleteAddonSubscriptionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes an Add On subscription.</p>",
      "idempotent":true
    },
    "DeleteAddressList":{
      "name":"DeleteAddressList",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAddressListRequest"},
      "output":{"shape":"DeleteAddressListResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes an address list.</p>",
      "idempotent":true
    },
    "DeleteArchive":{
      "name":"DeleteArchive",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteArchiveRequest"},
      "output":{"shape":"DeleteArchiveResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Initiates deletion of an email archive. This changes the archive state to pending deletion. In this state, no new emails can be added, and existing archived emails become inaccessible (search, export, download). The archive and all of its contents will be permanently deleted 30 days after entering the pending deletion state, regardless of the configured retention period. </p>",
      "idempotent":true
    },
    "DeleteIngressPoint":{
      "name":"DeleteIngressPoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteIngressPointRequest"},
      "output":{"shape":"DeleteIngressPointResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Delete an ingress endpoint resource.</p>",
      "idempotent":true
    },
    "DeleteRelay":{
      "name":"DeleteRelay",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRelayRequest"},
      "output":{"shape":"DeleteRelayResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes an existing relay resource.</p>",
      "idempotent":true
    },
    "DeleteRuleSet":{
      "name":"DeleteRuleSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRuleSetRequest"},
      "output":{"shape":"DeleteRuleSetResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Delete a rule set.</p>",
      "idempotent":true
    },
    "DeleteTrafficPolicy":{
      "name":"DeleteTrafficPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTrafficPolicyRequest"},
      "output":{"shape":"DeleteTrafficPolicyResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Delete a traffic policy resource.</p>",
      "idempotent":true
    },
    "DeregisterMemberFromAddressList":{
      "name":"DeregisterMemberFromAddressList",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterMemberFromAddressListRequest"},
      "output":{"shape":"DeregisterMemberFromAddressListResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Removes a member from an address list.</p>",
      "idempotent":true
    },
    "GetAddonInstance":{
      "name":"GetAddonInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAddonInstanceRequest"},
      "output":{"shape":"GetAddonInstanceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets detailed information about an Add On instance.</p>"
    },
    "GetAddonSubscription":{
      "name":"GetAddonSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAddonSubscriptionRequest"},
      "output":{"shape":"GetAddonSubscriptionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets detailed information about an Add On subscription.</p>"
    },
    "GetAddressList":{
      "name":"GetAddressList",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAddressListRequest"},
      "output":{"shape":"GetAddressListResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Fetch attributes of an address list.</p>"
    },
    "GetAddressListImportJob":{
      "name":"GetAddressListImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAddressListImportJobRequest"},
      "output":{"shape":"GetAddressListImportJobResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Fetch attributes of an import job.</p>"
    },
    "GetArchive":{
      "name":"GetArchive",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetArchiveRequest"},
      "output":{"shape":"GetArchiveResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the full details and current state of a specified email archive.</p>"
    },
    "GetArchiveExport":{
      "name":"GetArchiveExport",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetArchiveExportRequest"},
      "output":{"shape":"GetArchiveExportResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the details and current status of a specific email archive export job.</p>"
    },
    "GetArchiveMessage":{
      "name":"GetArchiveMessage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetArchiveMessageRequest"},
      "output":{"shape":"GetArchiveMessageResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a pre-signed URL that provides temporary download access to the specific email message stored in the archive. </p>"
    },
    "GetArchiveMessageContent":{
      "name":"GetArchiveMessageContent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetArchiveMessageContentRequest"},
      "output":{"shape":"GetArchiveMessageContentResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns the textual content of a specific email message stored in the archive. Attachments are not included. </p>"
    },
    "GetArchiveSearch":{
      "name":"GetArchiveSearch",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetArchiveSearchRequest"},
      "output":{"shape":"GetArchiveSearchResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieves the details and current status of a specific email archive search job.</p>"
    },
    "GetArchiveSearchResults":{
      "name":"GetArchiveSearchResults",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetArchiveSearchResultsRequest"},
      "output":{"shape":"GetArchiveSearchResultsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns the results of a completed email archive search job.</p>"
    },
    "GetIngressPoint":{
      "name":"GetIngressPoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetIngressPointRequest"},
      "output":{"shape":"GetIngressPointResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Fetch ingress endpoint resource attributes.</p>"
    },
    "GetMemberOfAddressList":{
      "name":"GetMemberOfAddressList",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMemberOfAddressListRequest"},
      "output":{"shape":"GetMemberOfAddressListResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Fetch attributes of a member in an address list.</p>"
    },
    "GetRelay":{
      "name":"GetRelay",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRelayRequest"},
      "output":{"shape":"GetRelayResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Fetch the relay resource and it's attributes.</p>"
    },
    "GetRuleSet":{
      "name":"GetRuleSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRuleSetRequest"},
      "output":{"shape":"GetRuleSetResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Fetch attributes of a rule set.</p>"
    },
    "GetTrafficPolicy":{
      "name":"GetTrafficPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTrafficPolicyRequest"},
      "output":{"shape":"GetTrafficPolicyResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Fetch attributes of a traffic policy resource.</p>"
    },
    "ListAddonInstances":{
      "name":"ListAddonInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAddonInstancesRequest"},
      "output":{"shape":"ListAddonInstancesResponse"},
      "errors":[
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists all Add On instances in your account.</p>"
    },
    "ListAddonSubscriptions":{
      "name":"ListAddonSubscriptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAddonSubscriptionsRequest"},
      "output":{"shape":"ListAddonSubscriptionsResponse"},
      "errors":[
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists all Add On subscriptions in your account.</p>"
    },
    "ListAddressListImportJobs":{
      "name":"ListAddressListImportJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAddressListImportJobsRequest"},
      "output":{"shape":"ListAddressListImportJobsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists jobs for an address list.</p>"
    },
    "ListAddressLists":{
      "name":"ListAddressLists",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAddressListsRequest"},
      "output":{"shape":"ListAddressListsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists address lists for this account.</p>"
    },
    "ListArchiveExports":{
      "name":"ListArchiveExports",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListArchiveExportsRequest"},
      "output":{"shape":"ListArchiveExportsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of email archive export jobs.</p>"
    },
    "ListArchiveSearches":{
      "name":"ListArchiveSearches",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListArchiveSearchesRequest"},
      "output":{"shape":"ListArchiveSearchesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of email archive search jobs.</p>"
    },
    "ListArchives":{
      "name":"ListArchives",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListArchivesRequest"},
      "output":{"shape":"ListArchivesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of all email archives in your account.</p>"
    },
    "ListIngressPoints":{
      "name":"ListIngressPoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListIngressPointsRequest"},
      "output":{"shape":"ListIngressPointsResponse"},
      "errors":[
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>List all ingress endpoint resources.</p>"
    },
    "ListMembersOfAddressList":{
      "name":"ListMembersOfAddressList",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListMembersOfAddressListRequest"},
      "output":{"shape":"ListMembersOfAddressListResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists members of an address list.</p>"
    },
    "ListRelays":{
      "name":"ListRelays",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListRelaysRequest"},
      "output":{"shape":"ListRelaysResponse"},
      "errors":[
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists all the existing relay resources.</p>"
    },
    "ListRuleSets":{
      "name":"ListRuleSets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListRuleSetsRequest"},
      "output":{"shape":"ListRuleSetsResponse"},
      "errors":[
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>List rule sets for this account.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Retrieves the list of tags (keys and values) assigned to the resource. </p>"
    },
    "ListTrafficPolicies":{
      "name":"ListTrafficPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTrafficPoliciesRequest"},
      "output":{"shape":"ListTrafficPoliciesResponse"},
      "errors":[
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>List traffic policy resources.</p>"
    },
    "RegisterMemberToAddressList":{
      "name":"RegisterMemberToAddressList",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterMemberToAddressListRequest"},
      "output":{"shape":"RegisterMemberToAddressListResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Adds a member to an address list.</p>",
      "idempotent":true
    },
    "StartAddressListImportJob":{
      "name":"StartAddressListImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartAddressListImportJobRequest"},
      "output":{"shape":"StartAddressListImportJobResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Starts an import job for an address list.</p>",
      "idempotent":true
    },
    "StartArchiveExport":{
      "name":"StartArchiveExport",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartArchiveExportRequest"},
      "output":{"shape":"StartArchiveExportResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Initiates an export of emails from the specified archive.</p>"
    },
    "StartArchiveSearch":{
      "name":"StartArchiveSearch",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartArchiveSearchRequest"},
      "output":{"shape":"StartArchiveSearchResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Initiates a search across emails in the specified archive.</p>"
    },
    "StopAddressListImportJob":{
      "name":"StopAddressListImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopAddressListImportJobRequest"},
      "output":{"shape":"StopAddressListImportJobResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Stops an ongoing import job for an address list.</p>",
      "idempotent":true
    },
    "StopArchiveExport":{
      "name":"StopArchiveExport",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopArchiveExportRequest"},
      "output":{"shape":"StopArchiveExportResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Stops an in-progress export of emails from an archive.</p>"
    },
    "StopArchiveSearch":{
      "name":"StopArchiveSearch",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopArchiveSearchRequest"},
      "output":{"shape":"StopArchiveSearchResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Stops an in-progress archive search job.</p>",
      "idempotent":true
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Adds one or more tags (keys and values) to a specified resource. </p>",
      "idempotent":true
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Remove one or more tags (keys and values) from a specified resource. </p>",
      "idempotent":true
    },
    "UpdateArchive":{
      "name":"UpdateArchive",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateArchiveRequest"},
      "output":{"shape":"UpdateArchiveResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates the attributes of an existing email archive.</p>",
      "idempotent":true
    },
    "UpdateIngressPoint":{
      "name":"UpdateIngressPoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateIngressPointRequest"},
      "output":{"shape":"UpdateIngressPointResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Update attributes of a provisioned ingress endpoint resource.</p>",
      "idempotent":true
    },
    "UpdateRelay":{
      "name":"UpdateRelay",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateRelayRequest"},
      "output":{"shape":"UpdateRelayResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Updates the attributes of an existing relay resource.</p>",
      "idempotent":true
    },
    "UpdateRuleSet":{
      "name":"UpdateRuleSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateRuleSetRequest"},
      "output":{"shape":"UpdateRuleSetResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Update attributes of an already provisioned rule set.</p>",
      "idempotent":true
    },
    "UpdateTrafficPolicy":{
      "name":"UpdateTrafficPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateTrafficPolicyRequest"},
      "output":{"shape":"UpdateTrafficPolicyResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Update attributes of an already provisioned traffic policy resource.</p>",
      "idempotent":true
    }
  },
  "shapes":{
    "AcceptAction":{
      "type":"string",
      "enum":[
        "ALLOW",
        "DENY"
      ]
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>Occurs when a user is denied access to a specific resource or action.</p>",
      "exception":true
    },
    "ActionFailurePolicy":{
      "type":"string",
      "enum":[
        "CONTINUE",
        "DROP"
      ]
    },
    "AddHeaderAction":{
      "type":"structure",
      "required":[
        "HeaderName",
        "HeaderValue"
      ],
      "members":{
        "HeaderName":{
          "shape":"HeaderName",
          "documentation":"<p>The name of the header to add to an email. The header must be prefixed with \"X-\". Headers are added regardless of whether the header name pre-existed in the email.</p>"
        },
        "HeaderValue":{
          "shape":"HeaderValue",
          "documentation":"<p>The value of the header to add to the email.</p>"
        }
      },
      "documentation":"<p>The action to add a header to a message. When executed, this action will add the given header to the message.</p>"
    },
    "AddonInstance":{
      "type":"structure",
      "members":{
        "AddonInstanceId":{
          "shape":"AddonInstanceId",
          "documentation":"<p>The unique ID of the Add On instance.</p>"
        },
        "AddonSubscriptionId":{
          "shape":"AddonSubscriptionId",
          "documentation":"<p>The subscription ID for the instance.</p>"
        },
        "AddonName":{
          "shape":"AddonName",
          "documentation":"<p>The name of the Add On for the instance.</p>"
        },
        "AddonInstanceArn":{
          "shape":"AddonInstanceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Add On instance.</p>"
        },
        "CreatedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the Add On instance was created.</p>"
        }
      },
      "documentation":"<p>An Add On instance represents a specific configuration of an Add On.</p>"
    },
    "AddonInstanceArn":{"type":"string"},
    "AddonInstanceId":{
      "type":"string",
      "max":67,
      "min":4,
      "pattern":"ai-[a-zA-Z0-9]{1,64}"
    },
    "AddonInstances":{
      "type":"list",
      "member":{"shape":"AddonInstance"}
    },
    "AddonName":{"type":"string"},
    "AddonSubscription":{
      "type":"structure",
      "members":{
        "AddonSubscriptionId":{
          "shape":"AddonSubscriptionId",
          "documentation":"<p>The unique ID of the Add On subscription.</p>"
        },
        "AddonName":{
          "shape":"AddonName",
          "documentation":"<p>The name of the Add On.</p>"
        },
        "AddonSubscriptionArn":{
          "shape":"AddonSubscriptionArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Add On subscription.</p>"
        },
        "CreatedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the Add On subscription was created.</p>"
        }
      },
      "documentation":"<p>A subscription for an Add On representing the acceptance of its terms of use and additional pricing.</p>"
    },
    "AddonSubscriptionArn":{"type":"string"},
    "AddonSubscriptionId":{
      "type":"string",
      "max":67,
      "min":4,
      "pattern":"as-[a-zA-Z0-9]{1,64}"
    },
    "AddonSubscriptions":{
      "type":"list",
      "member":{"shape":"AddonSubscription"}
    },
    "Address":{
      "type":"string",
      "max":320,
      "min":3,
      "sensitive":true
    },
    "AddressFilter":{
      "type":"structure",
      "members":{
        "AddressPrefix":{
          "shape":"AddressPrefix",
          "documentation":"<p>Filter to limit the results to addresses having the provided prefix.</p>"
        }
      },
      "documentation":"<p>Filtering options for ListMembersOfAddressList operation.</p>"
    },
    "AddressList":{
      "type":"structure",
      "required":[
        "AddressListId",
        "AddressListArn",
        "AddressListName",
        "CreatedTimestamp",
        "LastUpdatedTimestamp"
      ],
      "members":{
        "AddressListId":{
          "shape":"AddressListId",
          "documentation":"<p>The identifier of the address list.</p>"
        },
        "AddressListArn":{
          "shape":"AddressListArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the address list.</p>"
        },
        "AddressListName":{
          "shape":"AddressListName",
          "documentation":"<p>The user-friendly name of the address list.</p>"
        },
        "CreatedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the address list was created.</p>"
        },
        "LastUpdatedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the address list was last updated.</p>"
        }
      },
      "documentation":"<p>An address list contains a list of emails and domains that are used in MailManager Ingress endpoints and Rules for email management.</p>"
    },
    "AddressListArn":{"type":"string"},
    "AddressListId":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"[a-zA-Z0-9-]+"
    },
    "AddressListName":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"[a-zA-Z0-9_.-]+"
    },
    "AddressLists":{
      "type":"list",
      "member":{"shape":"AddressList"}
    },
    "AddressPageSize":{
      "type":"integer",
      "box":true,
      "max":1000,
      "min":1
    },
    "AddressPrefix":{
      "type":"string",
      "max":320,
      "min":1,
      "sensitive":true
    },
    "Analysis":{
      "type":"structure",
      "required":[
        "Analyzer",
        "ResultField"
      ],
      "members":{
        "Analyzer":{
          "shape":"AnalyzerArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of an Add On.</p>"
        },
        "ResultField":{
          "shape":"ResultField",
          "documentation":"<p>The returned value from an Add On.</p>"
        }
      },
      "documentation":"<p>The result of an analysis can be used in conditions to trigger actions. Analyses can inspect the email content and report a certain aspect of the email.</p>"
    },
    "AnalyzerArn":{
      "type":"string",
      "pattern":"[a-zA-Z0-9:_/+=,@.#-]+"
    },
    "Archive":{
      "type":"structure",
      "required":["ArchiveId"],
      "members":{
        "ArchiveId":{
          "shape":"ArchiveIdString",
          "documentation":"<p>The unique identifier of the archive.</p>"
        },
        "ArchiveName":{
          "shape":"ArchiveNameString",
          "documentation":"<p>The unique name assigned to the archive.</p>"
        },
        "ArchiveState":{
          "shape":"ArchiveState",
          "documentation":"<p>The current state of the archive:</p> <ul> <li> <p> <code>ACTIVE</code> – The archive is ready and available for use. </p> </li> <li> <p> <code>PENDING_DELETION</code> – The archive has been marked for deletion and will be permanently deleted in 30 days. No further modifications can be made in this state. </p> </li> </ul>"
        },
        "LastUpdatedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the archive was last updated.</p>"
        }
      },
      "documentation":"<p>An archive resource for storing and retaining emails.</p>"
    },
    "ArchiveAction":{
      "type":"structure",
      "required":["TargetArchive"],
      "members":{
        "ActionFailurePolicy":{
          "shape":"ActionFailurePolicy",
          "documentation":"<p>A policy that states what to do in the case of failure. The action will fail if there are configuration errors. For example, the specified archive has been deleted.</p>"
        },
        "TargetArchive":{
          "shape":"NameOrArn",
          "documentation":"<p>The identifier of the archive to send the email to.</p>"
        }
      },
      "documentation":"<p>The action to archive the email by delivering the email to an Amazon SES archive.</p>"
    },
    "ArchiveArn":{"type":"string"},
    "ArchiveBooleanEmailAttribute":{
      "type":"string",
      "enum":["HAS_ATTACHMENTS"]
    },
    "ArchiveBooleanExpression":{
      "type":"structure",
      "required":[
        "Evaluate",
        "Operator"
      ],
      "members":{
        "Evaluate":{
          "shape":"ArchiveBooleanToEvaluate",
          "documentation":"<p>The email attribute value to evaluate.</p>"
        },
        "Operator":{
          "shape":"ArchiveBooleanOperator",
          "documentation":"<p>The boolean operator to use for evaluation.</p>"
        }
      },
      "documentation":"<p>A boolean expression to evaluate email attribute values.</p>"
    },
    "ArchiveBooleanOperator":{
      "type":"string",
      "enum":[
        "IS_TRUE",
        "IS_FALSE"
      ]
    },
    "ArchiveBooleanToEvaluate":{
      "type":"structure",
      "members":{
        "Attribute":{
          "shape":"ArchiveBooleanEmailAttribute",
          "documentation":"<p>The name of the email attribute to evaluate.</p>"
        }
      },
      "documentation":"<p>The attribute to evaluate in a boolean expression.</p>",
      "union":true
    },
    "ArchiveFilterCondition":{
      "type":"structure",
      "members":{
        "StringExpression":{
          "shape":"ArchiveStringExpression",
          "documentation":"<p>A string expression to evaluate against email attributes.</p>"
        },
        "BooleanExpression":{
          "shape":"ArchiveBooleanExpression",
          "documentation":"<p>A boolean expression to evaluate against email attributes.</p>"
        }
      },
      "documentation":"<p>A filter condition used to include or exclude emails when exporting from or searching an archive.</p>",
      "union":true
    },
    "ArchiveFilterConditions":{
      "type":"list",
      "member":{"shape":"ArchiveFilterCondition"},
      "max":10,
      "min":0
    },
    "ArchiveFilters":{
      "type":"structure",
      "members":{
        "Include":{
          "shape":"ArchiveFilterConditions",
          "documentation":"<p>The filter conditions for emails to include.</p>"
        },
        "Unless":{
          "shape":"ArchiveFilterConditions",
          "documentation":"<p>The filter conditions for emails to exclude.</p>"
        }
      },
      "documentation":"<p>A set of filter conditions to include and/or exclude emails.</p>"
    },
    "ArchiveId":{
      "type":"string",
      "max":66,
      "min":3,
      "pattern":"a-[\\w]{1,64}"
    },
    "ArchiveIdString":{
      "type":"string",
      "max":66,
      "min":1
    },
    "ArchiveNameString":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-zA-Z0-9][a-zA-Z0-9_-]*[a-zA-Z0-9]"
    },
    "ArchiveRetention":{
      "type":"structure",
      "members":{
        "RetentionPeriod":{
          "shape":"RetentionPeriod",
          "documentation":"<p>The enum value sets the period for retaining emails in an archive.</p>"
        }
      },
      "documentation":"<p>The retention policy for an email archive that specifies how long emails are kept before being automatically deleted. </p>",
      "union":true
    },
    "ArchiveState":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "PENDING_DELETION"
      ]
    },
    "ArchiveStringEmailAttribute":{
      "type":"string",
      "enum":[
        "TO",
        "FROM",
        "CC",
        "SUBJECT",
        "ENVELOPE_TO",
        "ENVELOPE_FROM"
      ]
    },
    "ArchiveStringExpression":{
      "type":"structure",
      "required":[
        "Evaluate",
        "Operator",
        "Values"
      ],
      "members":{
        "Evaluate":{
          "shape":"ArchiveStringToEvaluate",
          "documentation":"<p>The attribute of the email to evaluate.</p>"
        },
        "Operator":{
          "shape":"ArchiveStringOperator",
          "documentation":"<p>The operator to use when evaluating the string values.</p>"
        },
        "Values":{
          "shape":"StringValueList",
          "documentation":"<p>The list of string values to evaluate the email attribute against.</p>"
        }
      },
      "documentation":"<p>A string expression to evaluate an email attribute value against one or more string values.</p>"
    },
    "ArchiveStringOperator":{
      "type":"string",
      "enum":["CONTAINS"]
    },
    "ArchiveStringToEvaluate":{
      "type":"structure",
      "members":{
        "Attribute":{
          "shape":"ArchiveStringEmailAttribute",
          "documentation":"<p>The name of the email attribute to evaluate.</p>"
        }
      },
      "documentation":"<p>Specifies the email attribute to evaluate in a string expression.</p>",
      "union":true
    },
    "ArchivedMessageId":{"type":"string"},
    "ArchivesList":{
      "type":"list",
      "member":{"shape":"Archive"}
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>The request configuration has conflicts. For details, see the accompanying error message.</p>",
      "exception":true
    },
    "CreateAddonInstanceRequest":{
      "type":"structure",
      "required":["AddonSubscriptionId"],
      "members":{
        "ClientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique token that Amazon SES uses to recognize subsequent retries of the same request.</p>",
          "idempotencyToken":true
        },
        "AddonSubscriptionId":{
          "shape":"AddonSubscriptionId",
          "documentation":"<p>The unique ID of a previously created subscription that an Add On instance is created for. You can only have one instance per subscription.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The tags used to organize, track, or control access for the resource. For example, { \"tags\": {\"key1\":\"value1\", \"key2\":\"value2\"} }.</p>"
        }
      }
    },
    "CreateAddonInstanceResponse":{
      "type":"structure",
      "required":["AddonInstanceId"],
      "members":{
        "AddonInstanceId":{
          "shape":"AddonInstanceId",
          "documentation":"<p>The unique ID of the Add On instance created by this API.</p>"
        }
      }
    },
    "CreateAddonSubscriptionRequest":{
      "type":"structure",
      "required":["AddonName"],
      "members":{
        "ClientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique token that Amazon SES uses to recognize subsequent retries of the same request.</p>",
          "idempotencyToken":true
        },
        "AddonName":{
          "shape":"AddonName",
          "documentation":"<p>The name of the Add On to subscribe to. You can only have one subscription for each Add On name.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The tags used to organize, track, or control access for the resource. For example, { \"tags\": {\"key1\":\"value1\", \"key2\":\"value2\"} }.</p>"
        }
      }
    },
    "CreateAddonSubscriptionResponse":{
      "type":"structure",
      "required":["AddonSubscriptionId"],
      "members":{
        "AddonSubscriptionId":{
          "shape":"AddonSubscriptionId",
          "documentation":"<p>The unique ID of the Add On subscription created by this API.</p>"
        }
      }
    },
    "CreateAddressListImportJobRequest":{
      "type":"structure",
      "required":[
        "AddressListId",
        "Name",
        "ImportDataFormat"
      ],
      "members":{
        "ClientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique token that Amazon SES uses to recognize subsequent retries of the same request.</p>",
          "idempotencyToken":true
        },
        "AddressListId":{
          "shape":"AddressListId",
          "documentation":"<p>The unique identifier of the address list for importing addresses to.</p>"
        },
        "Name":{
          "shape":"JobName",
          "documentation":"<p>A user-friendly name for the import job.</p>"
        },
        "ImportDataFormat":{
          "shape":"ImportDataFormat",
          "documentation":"<p>The format of the input for an import job.</p>"
        }
      }
    },
    "CreateAddressListImportJobResponse":{
      "type":"structure",
      "required":[
        "JobId",
        "PreSignedUrl"
      ],
      "members":{
        "JobId":{
          "shape":"JobId",
          "documentation":"<p>The identifier of the created import job.</p>"
        },
        "PreSignedUrl":{
          "shape":"PreSignedUrl",
          "documentation":"<p>The pre-signed URL target for uploading the input file.</p>"
        }
      }
    },
    "CreateAddressListRequest":{
      "type":"structure",
      "required":["AddressListName"],
      "members":{
        "ClientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique token that Amazon SES uses to recognize subsequent retries of the same request.</p>",
          "idempotencyToken":true
        },
        "AddressListName":{
          "shape":"AddressListName",
          "documentation":"<p>A user-friendly name for the address list.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The tags used to organize, track, or control access for the resource. For example, { \"tags\": {\"key1\":\"value1\", \"key2\":\"value2\"} }.</p>"
        }
      }
    },
    "CreateAddressListResponse":{
      "type":"structure",
      "required":["AddressListId"],
      "members":{
        "AddressListId":{
          "shape":"AddressListId",
          "documentation":"<p>The identifier of the created address list.</p>"
        }
      }
    },
    "CreateArchiveRequest":{
      "type":"structure",
      "required":["ArchiveName"],
      "members":{
        "ClientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique token Amazon SES uses to recognize retries of this request.</p>",
          "idempotencyToken":true
        },
        "ArchiveName":{
          "shape":"ArchiveNameString",
          "documentation":"<p>A unique name for the new archive.</p>"
        },
        "Retention":{
          "shape":"ArchiveRetention",
          "documentation":"<p>The period for retaining emails in the archive before automatic deletion.</p>"
        },
        "KmsKeyArn":{
          "shape":"KmsKeyArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the KMS key for encrypting emails in the archive.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The tags used to organize, track, or control access for the resource. For example, { \"tags\": {\"key1\":\"value1\", \"key2\":\"value2\"} }.</p>"
        }
      },
      "documentation":"<p>The request to create a new email archive.</p>"
    },
    "CreateArchiveResponse":{
      "type":"structure",
      "required":["ArchiveId"],
      "members":{
        "ArchiveId":{
          "shape":"ArchiveIdString",
          "documentation":"<p>The unique identifier for the newly created archive.</p>"
        }
      },
      "documentation":"<p>The response from creating a new email archive.</p>"
    },
    "CreateIngressPointRequest":{
      "type":"structure",
      "required":[
        "IngressPointName",
        "Type",
        "RuleSetId",
        "TrafficPolicyId"
      ],
      "members":{
        "ClientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique token that Amazon SES uses to recognize subsequent retries of the same request.</p>",
          "idempotencyToken":true
        },
        "IngressPointName":{
          "shape":"IngressPointName",
          "documentation":"<p>A user friendly name for an ingress endpoint resource.</p>"
        },
        "Type":{
          "shape":"IngressPointType",
          "documentation":"<p>The type of the ingress endpoint to create.</p>"
        },
        "RuleSetId":{
          "shape":"RuleSetId",
          "documentation":"<p>The identifier of an existing rule set that you attach to an ingress endpoint resource.</p>"
        },
        "TrafficPolicyId":{
          "shape":"TrafficPolicyId",
          "documentation":"<p>The identifier of an existing traffic policy that you attach to an ingress endpoint resource.</p>"
        },
        "IngressPointConfiguration":{
          "shape":"IngressPointConfiguration",
          "documentation":"<p>If you choose an Authenticated ingress endpoint, you must configure either an SMTP password or a secret ARN.</p>"
        },
        "NetworkConfiguration":{
          "shape":"NetworkConfiguration",
          "documentation":"<p>Specifies the network configuration for the ingress point. This allows you to create an IPv4-only, Dual-Stack, or PrivateLink type of ingress point. If not specified, the default network type is IPv4-only. </p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The tags used to organize, track, or control access for the resource. For example, { \"tags\": {\"key1\":\"value1\", \"key2\":\"value2\"} }.</p>"
        }
      }
    },
    "CreateIngressPointResponse":{
      "type":"structure",
      "required":["IngressPointId"],
      "members":{
        "IngressPointId":{
          "shape":"IngressPointId",
          "documentation":"<p>The unique identifier for a previously created ingress endpoint.</p>"
        }
      }
    },
    "CreateRelayRequest":{
      "type":"structure",
      "required":[
        "RelayName",
        "ServerName",
        "ServerPort",
        "Authentication"
      ],
      "members":{
        "ClientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique token that Amazon SES uses to recognize subsequent retries of the same request.</p>",
          "idempotencyToken":true
        },
        "RelayName":{
          "shape":"RelayName",
          "documentation":"<p>The unique name of the relay resource.</p>"
        },
        "ServerName":{
          "shape":"RelayServerName",
          "documentation":"<p>The destination relay server address.</p>"
        },
        "ServerPort":{
          "shape":"RelayServerPort",
          "documentation":"<p>The destination relay server port.</p>"
        },
        "Authentication":{
          "shape":"RelayAuthentication",
          "documentation":"<p>Authentication for the relay destination server—specify the secretARN where the SMTP credentials are stored.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The tags used to organize, track, or control access for the resource. For example, { \"tags\": {\"key1\":\"value1\", \"key2\":\"value2\"} }.</p>"
        }
      }
    },
    "CreateRelayResponse":{
      "type":"structure",
      "required":["RelayId"],
      "members":{
        "RelayId":{
          "shape":"RelayId",
          "documentation":"<p>A unique identifier of the created relay resource.</p>"
        }
      }
    },
    "CreateRuleSetRequest":{
      "type":"structure",
      "required":[
        "RuleSetName",
        "Rules"
      ],
      "members":{
        "ClientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique token that Amazon SES uses to recognize subsequent retries of the same request.</p>",
          "idempotencyToken":true
        },
        "RuleSetName":{
          "shape":"RuleSetName",
          "documentation":"<p>A user-friendly name for the rule set.</p>"
        },
        "Rules":{
          "shape":"Rules",
          "documentation":"<p>Conditional rules that are evaluated for determining actions on email.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The tags used to organize, track, or control access for the resource. For example, { \"tags\": {\"key1\":\"value1\", \"key2\":\"value2\"} }.</p>"
        }
      }
    },
    "CreateRuleSetResponse":{
      "type":"structure",
      "required":["RuleSetId"],
      "members":{
        "RuleSetId":{
          "shape":"RuleSetId",
          "documentation":"<p>The identifier of the created rule set.</p>"
        }
      }
    },
    "CreateTrafficPolicyRequest":{
      "type":"structure",
      "required":[
        "TrafficPolicyName",
        "PolicyStatements",
        "DefaultAction"
      ],
      "members":{
        "ClientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique token that Amazon SES uses to recognize subsequent retries of the same request.</p>",
          "idempotencyToken":true
        },
        "TrafficPolicyName":{
          "shape":"TrafficPolicyName",
          "documentation":"<p>A user-friendly name for the traffic policy resource.</p>"
        },
        "PolicyStatements":{
          "shape":"PolicyStatementList",
          "documentation":"<p>Conditional statements for filtering email traffic.</p>"
        },
        "DefaultAction":{
          "shape":"AcceptAction",
          "documentation":"<p>Default action instructs the traﬃc policy to either Allow or Deny (block) messages that fall outside of (or not addressed by) the conditions of your policy statements</p>"
        },
        "MaxMessageSizeBytes":{
          "shape":"MaxMessageSizeBytes",
          "documentation":"<p>The maximum message size in bytes of email which is allowed in by this traffic policy—anything larger will be blocked.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The tags used to organize, track, or control access for the resource. For example, { \"tags\": {\"key1\":\"value1\", \"key2\":\"value2\"} }.</p>"
        }
      }
    },
    "CreateTrafficPolicyResponse":{
      "type":"structure",
      "required":["TrafficPolicyId"],
      "members":{
        "TrafficPolicyId":{
          "shape":"TrafficPolicyId",
          "documentation":"<p>The identifier of the traffic policy resource.</p>"
        }
      }
    },
    "DeleteAddonInstanceRequest":{
      "type":"structure",
      "required":["AddonInstanceId"],
      "members":{
        "AddonInstanceId":{
          "shape":"AddonInstanceId",
          "documentation":"<p>The Add On instance ID to delete.</p>"
        }
      }
    },
    "DeleteAddonInstanceResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteAddonSubscriptionRequest":{
      "type":"structure",
      "required":["AddonSubscriptionId"],
      "members":{
        "AddonSubscriptionId":{
          "shape":"AddonSubscriptionId",
          "documentation":"<p>The Add On subscription ID to delete.</p>"
        }
      }
    },
    "DeleteAddonSubscriptionResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteAddressListRequest":{
      "type":"structure",
      "required":["AddressListId"],
      "members":{
        "AddressListId":{
          "shape":"AddressListId",
          "documentation":"<p>The identifier of an existing address list resource to delete.</p>"
        }
      }
    },
    "DeleteAddressListResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteArchiveRequest":{
      "type":"structure",
      "required":["ArchiveId"],
      "members":{
        "ArchiveId":{
          "shape":"ArchiveIdString",
          "documentation":"<p>The identifier of the archive to delete.</p>"
        }
      },
      "documentation":"<p>The request to initiate deletion of an email archive.</p>"
    },
    "DeleteArchiveResponse":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The response indicating if the archive deletion was successfully initiated.</p> <p>On success, returns an HTTP 200 status code. On failure, returns an error message.</p>"
    },
    "DeleteIngressPointRequest":{
      "type":"structure",
      "required":["IngressPointId"],
      "members":{
        "IngressPointId":{
          "shape":"IngressPointId",
          "documentation":"<p>The identifier of the ingress endpoint resource that you want to delete.</p>"
        }
      }
    },
    "DeleteIngressPointResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteRelayRequest":{
      "type":"structure",
      "required":["RelayId"],
      "members":{
        "RelayId":{
          "shape":"RelayId",
          "documentation":"<p>The unique relay identifier.</p>"
        }
      }
    },
    "DeleteRelayResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteRuleSetRequest":{
      "type":"structure",
      "required":["RuleSetId"],
      "members":{
        "RuleSetId":{
          "shape":"RuleSetId",
          "documentation":"<p>The identifier of an existing rule set resource to delete.</p>"
        }
      }
    },
    "DeleteRuleSetResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteTrafficPolicyRequest":{
      "type":"structure",
      "required":["TrafficPolicyId"],
      "members":{
        "TrafficPolicyId":{
          "shape":"TrafficPolicyId",
          "documentation":"<p>The identifier of the traffic policy that you want to delete.</p>"
        }
      }
    },
    "DeleteTrafficPolicyResponse":{
      "type":"structure",
      "members":{}
    },
    "DeliverToMailboxAction":{
      "type":"structure",
      "required":[
        "MailboxArn",
        "RoleArn"
      ],
      "members":{
        "ActionFailurePolicy":{
          "shape":"ActionFailurePolicy",
          "documentation":"<p>A policy that states what to do in the case of failure. The action will fail if there are configuration errors. For example, the mailbox ARN is no longer valid.</p>"
        },
        "MailboxArn":{
          "shape":"NameOrArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of a WorkMail organization to deliver the email to.</p>"
        },
        "RoleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of an IAM role to use to execute this action. The role must have access to the workmail:DeliverToMailbox API.</p>"
        }
      },
      "documentation":"<p>This action to delivers an email to a mailbox.</p>"
    },
    "DeliverToQBusinessAction":{
      "type":"structure",
      "required":[
        "ApplicationId",
        "IndexId",
        "RoleArn"
      ],
      "members":{
        "ActionFailurePolicy":{
          "shape":"ActionFailurePolicy",
          "documentation":"<p>A policy that states what to do in the case of failure. The action will fail if there are configuration errors. For example, the specified application has been deleted or the role lacks necessary permissions to call the <code>qbusiness:BatchPutDocument</code> API.</p>"
        },
        "ApplicationId":{
          "shape":"QBusinessApplicationId",
          "documentation":"<p>The unique identifier of the Amazon Q Business application instance where the email content will be delivered.</p>"
        },
        "IndexId":{
          "shape":"QBusinessIndexId",
          "documentation":"<p>The identifier of the knowledge base index within the Amazon Q Business application where the email content will be stored and indexed.</p>"
        },
        "RoleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM Role to use while delivering to Amazon Q Business. This role must have access to the <code>qbusiness:BatchPutDocument</code> API for the given application and index.</p>"
        }
      },
      "documentation":"<p>The action to deliver incoming emails to an Amazon Q Business application for indexing.</p>"
    },
    "DeregisterMemberFromAddressListRequest":{
      "type":"structure",
      "required":[
        "AddressListId",
        "Address"
      ],
      "members":{
        "AddressListId":{
          "shape":"AddressListId",
          "documentation":"<p>The unique identifier of the address list to remove the address from.</p>"
        },
        "Address":{
          "shape":"Address",
          "documentation":"<p>The address to be removed from the address list.</p>"
        }
      }
    },
    "DeregisterMemberFromAddressListResponse":{
      "type":"structure",
      "members":{}
    },
    "Double":{
      "type":"double",
      "box":true
    },
    "DropAction":{
      "type":"structure",
      "members":{},
      "documentation":"<p>This action causes processing to stop and the email to be dropped. If the action applies only to certain recipients, only those recipients are dropped, and processing continues for other recipients.</p>"
    },
    "EmailAddress":{
      "type":"string",
      "max":254,
      "min":0,
      "pattern":"[a-zA-Z0-9._+-]+@[a-zA-Z0-9.-]+",
      "sensitive":true
    },
    "EmailReceivedHeadersList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "Envelope":{
      "type":"structure",
      "members":{
        "Helo":{
          "shape":"String",
          "documentation":"<p>The HELO used by the host from which the email was received.</p>"
        },
        "From":{
          "shape":"String",
          "documentation":"<p>The RCPT FROM given by the host from which the email was received.</p>"
        },
        "To":{
          "shape":"StringList",
          "documentation":"<p>All SMTP TO entries given by the host from which the email was received.</p>"
        }
      },
      "documentation":"<p>The SMTP envelope information of the email.</p>"
    },
    "ErrorMessage":{"type":"string"},
    "ExportDestinationConfiguration":{
      "type":"structure",
      "members":{
        "S3":{
          "shape":"S3ExportDestinationConfiguration",
          "documentation":"<p>Configuration for delivering to an Amazon S3 bucket.</p>"
        }
      },
      "documentation":"<p>The destination configuration for delivering exported email data.</p>",
      "union":true
    },
    "ExportId":{
      "type":"string",
      "max":64,
      "min":1
    },
    "ExportMaxResults":{
      "type":"integer",
      "box":true
    },
    "ExportState":{
      "type":"string",
      "enum":[
        "QUEUED",
        "PREPROCESSING",
        "PROCESSING",
        "COMPLETED",
        "FAILED",
        "CANCELLED"
      ]
    },
    "ExportStatus":{
      "type":"structure",
      "members":{
        "SubmissionTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the export job was submitted.</p>"
        },
        "CompletionTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the export job completed (if finished).</p>"
        },
        "State":{
          "shape":"ExportState",
          "documentation":"<p>The current state of the export job.</p>"
        },
        "ErrorMessage":{
          "shape":"ErrorMessage",
          "documentation":"<p>An error message if the export job failed.</p>"
        }
      },
      "documentation":"<p>The current status of an archive export job.</p>"
    },
    "ExportSummary":{
      "type":"structure",
      "members":{
        "ExportId":{
          "shape":"ExportId",
          "documentation":"<p>The unique identifier of the export job.</p>"
        },
        "Status":{
          "shape":"ExportStatus",
          "documentation":"<p>The current status of the export job.</p>"
        }
      },
      "documentation":"<p>Summary statuses of an archive export job.</p>"
    },
    "ExportSummaryList":{
      "type":"list",
      "member":{"shape":"ExportSummary"}
    },
    "GetAddonInstanceRequest":{
      "type":"structure",
      "required":["AddonInstanceId"],
      "members":{
        "AddonInstanceId":{
          "shape":"AddonInstanceId",
          "documentation":"<p>The Add On instance ID to retrieve information for.</p>"
        }
      }
    },
    "GetAddonInstanceResponse":{
      "type":"structure",
      "members":{
        "AddonSubscriptionId":{
          "shape":"AddonSubscriptionId",
          "documentation":"<p>The subscription ID associated to the instance.</p>"
        },
        "AddonName":{
          "shape":"AddonName",
          "documentation":"<p>The name of the Add On provider associated to the subscription of the instance.</p>"
        },
        "AddonInstanceArn":{
          "shape":"AddonInstanceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Add On instance.</p>"
        },
        "CreatedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the Add On instance was created.</p>"
        }
      }
    },
    "GetAddonSubscriptionRequest":{
      "type":"structure",
      "required":["AddonSubscriptionId"],
      "members":{
        "AddonSubscriptionId":{
          "shape":"AddonSubscriptionId",
          "documentation":"<p>The Add On subscription ID to retrieve information for.</p>"
        }
      }
    },
    "GetAddonSubscriptionResponse":{
      "type":"structure",
      "members":{
        "AddonName":{
          "shape":"AddonName",
          "documentation":"<p>The name of the Add On for the subscription.</p>"
        },
        "AddonSubscriptionArn":{
          "shape":"AddonSubscriptionArn",
          "documentation":"<p>Amazon Resource Name (ARN) for the subscription.</p>"
        },
        "CreatedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the Add On subscription was created.</p>"
        }
      }
    },
    "GetAddressListImportJobRequest":{
      "type":"structure",
      "required":["JobId"],
      "members":{
        "JobId":{
          "shape":"JobId",
          "documentation":"<p>The identifier of the import job that needs to be retrieved.</p>"
        }
      }
    },
    "GetAddressListImportJobResponse":{
      "type":"structure",
      "required":[
        "JobId",
        "Name",
        "Status",
        "PreSignedUrl",
        "ImportDataFormat",
        "AddressListId",
        "CreatedTimestamp"
      ],
      "members":{
        "JobId":{
          "shape":"JobId",
          "documentation":"<p>The identifier of the import job.</p>"
        },
        "Name":{
          "shape":"JobName",
          "documentation":"<p>A user-friendly name for the import job.</p>"
        },
        "Status":{
          "shape":"ImportJobStatus",
          "documentation":"<p>The status of the import job.</p>"
        },
        "PreSignedUrl":{
          "shape":"PreSignedUrl",
          "documentation":"<p>The pre-signed URL target for uploading the input file.</p>"
        },
        "ImportedItemsCount":{
          "shape":"JobItemsCount",
          "documentation":"<p>The number of input addresses successfully imported into the address list.</p>"
        },
        "FailedItemsCount":{
          "shape":"JobItemsCount",
          "documentation":"<p>The number of input addresses that failed to be imported into the address list.</p>"
        },
        "ImportDataFormat":{
          "shape":"ImportDataFormat",
          "documentation":"<p>The format of the input for an import job.</p>"
        },
        "AddressListId":{
          "shape":"AddressListId",
          "documentation":"<p>The unique identifier of the address list the import job was created for.</p>"
        },
        "CreatedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the import job was created.</p>"
        },
        "StartTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the import job was started.</p>"
        },
        "CompletedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the import job was completed.</p>"
        },
        "Error":{
          "shape":"ErrorMessage",
          "documentation":"<p>The reason for failure of an import job.</p>"
        }
      }
    },
    "GetAddressListRequest":{
      "type":"structure",
      "required":["AddressListId"],
      "members":{
        "AddressListId":{
          "shape":"AddressListId",
          "documentation":"<p>The identifier of an existing address list resource to be retrieved.</p>"
        }
      }
    },
    "GetAddressListResponse":{
      "type":"structure",
      "required":[
        "AddressListId",
        "AddressListArn",
        "AddressListName",
        "CreatedTimestamp",
        "LastUpdatedTimestamp"
      ],
      "members":{
        "AddressListId":{
          "shape":"AddressListId",
          "documentation":"<p>The identifier of the address list resource.</p>"
        },
        "AddressListArn":{
          "shape":"AddressListArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the address list resource.</p>"
        },
        "AddressListName":{
          "shape":"AddressListName",
          "documentation":"<p>A user-friendly name for the address list resource.</p>"
        },
        "CreatedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The date of when then address list was created.</p>"
        },
        "LastUpdatedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The date of when the address list was last updated.</p>"
        }
      }
    },
    "GetArchiveExportRequest":{
      "type":"structure",
      "required":["ExportId"],
      "members":{
        "ExportId":{
          "shape":"ExportId",
          "documentation":"<p>The identifier of the export job to get details for.</p>"
        }
      },
      "documentation":"<p>The request to retrieve details of a specific archive export job.</p>"
    },
    "GetArchiveExportResponse":{
      "type":"structure",
      "members":{
        "ArchiveId":{
          "shape":"ArchiveId",
          "documentation":"<p>The identifier of the archive the email export was performed from.</p>"
        },
        "Filters":{
          "shape":"ArchiveFilters",
          "documentation":"<p>The criteria used to filter emails included in the export.</p>"
        },
        "FromTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The start of the timestamp range the exported emails cover.</p>"
        },
        "ToTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The end of the date range the exported emails cover.</p>"
        },
        "MaxResults":{
          "shape":"ExportMaxResults",
          "documentation":"<p>The maximum number of email items included in the export.</p>"
        },
        "ExportDestinationConfiguration":{
          "shape":"ExportDestinationConfiguration",
          "documentation":"<p>Where the exported emails are being delivered.</p>"
        },
        "Status":{
          "shape":"ExportStatus",
          "documentation":"<p>The current status of the export job.</p>"
        }
      },
      "documentation":"<p>The response containing details of the specified archive export job.</p>"
    },
    "GetArchiveMessageContentRequest":{
      "type":"structure",
      "required":["ArchivedMessageId"],
      "members":{
        "ArchivedMessageId":{
          "shape":"ArchivedMessageId",
          "documentation":"<p>The unique identifier of the archived email message.</p>"
        }
      },
      "documentation":"<p>The request to get the textual content of a specific email message stored in an archive.</p>"
    },
    "GetArchiveMessageContentResponse":{
      "type":"structure",
      "members":{
        "Body":{
          "shape":"MessageBody",
          "documentation":"<p>The textual body content of the email message.</p>"
        }
      },
      "documentation":"<p>The response containing the textual content of the requested archived email message.</p>"
    },
    "GetArchiveMessageRequest":{
      "type":"structure",
      "required":["ArchivedMessageId"],
      "members":{
        "ArchivedMessageId":{
          "shape":"ArchivedMessageId",
          "documentation":"<p>The unique identifier of the archived email message.</p>"
        }
      },
      "documentation":"<p>The request to get details of a specific email message stored in an archive.</p>"
    },
    "GetArchiveMessageResponse":{
      "type":"structure",
      "members":{
        "MessageDownloadLink":{
          "shape":"S3PresignedURL",
          "documentation":"<p>A pre-signed URL to temporarily download the full message content.</p>"
        },
        "Metadata":{
          "shape":"Metadata",
          "documentation":"<p>The metadata about the email.</p>"
        },
        "Envelope":{
          "shape":"Envelope",
          "documentation":"<p>The SMTP envelope information of the email.</p>"
        }
      },
      "documentation":"<p>The response containing details about the requested archived email message.</p>"
    },
    "GetArchiveRequest":{
      "type":"structure",
      "required":["ArchiveId"],
      "members":{
        "ArchiveId":{
          "shape":"ArchiveIdString",
          "documentation":"<p>The identifier of the archive to retrieve.</p>"
        }
      },
      "documentation":"<p>The request to retrieve details of an email archive.</p>"
    },
    "GetArchiveResponse":{
      "type":"structure",
      "required":[
        "ArchiveId",
        "ArchiveName",
        "ArchiveArn",
        "ArchiveState",
        "Retention"
      ],
      "members":{
        "ArchiveId":{
          "shape":"ArchiveIdString",
          "documentation":"<p>The unique identifier of the archive.</p>"
        },
        "ArchiveName":{
          "shape":"ArchiveNameString",
          "documentation":"<p>The unique name assigned to the archive.</p>"
        },
        "ArchiveArn":{
          "shape":"ArchiveArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the archive.</p>"
        },
        "ArchiveState":{
          "shape":"ArchiveState",
          "documentation":"<p>The current state of the archive:</p> <ul> <li> <p> <code>ACTIVE</code> – The archive is ready and available for use. </p> </li> <li> <p> <code>PENDING_DELETION</code> – The archive has been marked for deletion and will be permanently deleted in 30 days. No further modifications can be made in this state. </p> </li> </ul>"
        },
        "Retention":{
          "shape":"ArchiveRetention",
          "documentation":"<p>The retention period for emails in this archive.</p>"
        },
        "CreatedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the archive was created.</p>"
        },
        "LastUpdatedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the archive was modified.</p>"
        },
        "KmsKeyArn":{
          "shape":"KmsKeyArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the KMS key used to encrypt the archive.</p>"
        }
      },
      "documentation":"<p>The response containing details of the requested archive.</p>"
    },
    "GetArchiveSearchRequest":{
      "type":"structure",
      "required":["SearchId"],
      "members":{
        "SearchId":{
          "shape":"SearchId",
          "documentation":"<p>The identifier of the search job to get details for.</p>"
        }
      },
      "documentation":"<p>The request to retrieve details of a specific archive search job.</p>"
    },
    "GetArchiveSearchResponse":{
      "type":"structure",
      "members":{
        "ArchiveId":{
          "shape":"ArchiveId",
          "documentation":"<p>The identifier of the archive the email search was performed in.</p>"
        },
        "Filters":{
          "shape":"ArchiveFilters",
          "documentation":"<p>The criteria used to filter emails included in the search.</p>"
        },
        "FromTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The start timestamp of the range the searched emails cover.</p>"
        },
        "ToTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The end timestamp of the range the searched emails cover.</p>"
        },
        "MaxResults":{
          "shape":"SearchMaxResults",
          "documentation":"<p>The maximum number of search results to return.</p>"
        },
        "Status":{
          "shape":"SearchStatus",
          "documentation":"<p>The current status of the search job.</p>"
        }
      },
      "documentation":"<p>The response containing details of the specified archive search job.</p>"
    },
    "GetArchiveSearchResultsRequest":{
      "type":"structure",
      "required":["SearchId"],
      "members":{
        "SearchId":{
          "shape":"SearchId",
          "documentation":"<p>The identifier of the completed search job.</p>"
        }
      },
      "documentation":"<p>The request to retrieve results from a completed archive search job.</p>"
    },
    "GetArchiveSearchResultsResponse":{
      "type":"structure",
      "members":{
        "Rows":{
          "shape":"RowsList",
          "documentation":"<p>The list of email result objects matching the search criteria.</p>"
        }
      },
      "documentation":"<p>The response containing search results from a completed archive search.</p>"
    },
    "GetIngressPointRequest":{
      "type":"structure",
      "required":["IngressPointId"],
      "members":{
        "IngressPointId":{
          "shape":"IngressPointId",
          "documentation":"<p>The identifier of an ingress endpoint.</p>"
        }
      }
    },
    "GetIngressPointResponse":{
      "type":"structure",
      "required":[
        "IngressPointId",
        "IngressPointName"
      ],
      "members":{
        "IngressPointId":{
          "shape":"IngressPointId",
          "documentation":"<p>The identifier of an ingress endpoint resource.</p>"
        },
        "IngressPointName":{
          "shape":"IngressPointName",
          "documentation":"<p>A user friendly name for the ingress endpoint.</p>"
        },
        "IngressPointArn":{
          "shape":"IngressPointArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the ingress endpoint resource.</p>"
        },
        "Status":{
          "shape":"IngressPointStatus",
          "documentation":"<p>The status of the ingress endpoint resource.</p>"
        },
        "Type":{
          "shape":"IngressPointType",
          "documentation":"<p>The type of ingress endpoint.</p>"
        },
        "ARecord":{
          "shape":"IngressPointARecord",
          "documentation":"<p> The DNS A Record that identifies your ingress endpoint. Configure your DNS Mail Exchange (MX) record with this value to route emails to Mail Manager. </p>"
        },
        "RuleSetId":{
          "shape":"RuleSetId",
          "documentation":"<p>The identifier of a rule set resource associated with the ingress endpoint.</p>"
        },
        "TrafficPolicyId":{
          "shape":"TrafficPolicyId",
          "documentation":"<p>The identifier of the traffic policy resource associated with the ingress endpoint.</p>"
        },
        "IngressPointAuthConfiguration":{
          "shape":"IngressPointAuthConfiguration",
          "documentation":"<p>The authentication configuration of the ingress endpoint resource.</p>"
        },
        "NetworkConfiguration":{
          "shape":"NetworkConfiguration",
          "documentation":"<p>The network configuration for the ingress point.</p>"
        },
        "CreatedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the ingress endpoint was created.</p>"
        },
        "LastUpdatedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the ingress endpoint was last updated.</p>"
        }
      }
    },
    "GetMemberOfAddressListRequest":{
      "type":"structure",
      "required":[
        "AddressListId",
        "Address"
      ],
      "members":{
        "AddressListId":{
          "shape":"AddressListId",
          "documentation":"<p>The unique identifier of the address list to retrieve the address from.</p>"
        },
        "Address":{
          "shape":"Address",
          "documentation":"<p>The address to be retrieved from the address list.</p>"
        }
      }
    },
    "GetMemberOfAddressListResponse":{
      "type":"structure",
      "required":[
        "Address",
        "CreatedTimestamp"
      ],
      "members":{
        "Address":{
          "shape":"Address",
          "documentation":"<p>The address retrieved from the address list.</p>"
        },
        "CreatedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the address was created.</p>"
        }
      }
    },
    "GetRelayRequest":{
      "type":"structure",
      "required":["RelayId"],
      "members":{
        "RelayId":{
          "shape":"RelayId",
          "documentation":"<p>A unique relay identifier.</p>"
        }
      }
    },
    "GetRelayResponse":{
      "type":"structure",
      "required":["RelayId"],
      "members":{
        "RelayId":{
          "shape":"RelayId",
          "documentation":"<p>The unique relay identifier.</p>"
        },
        "RelayArn":{
          "shape":"RelayArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the relay.</p>"
        },
        "RelayName":{
          "shape":"RelayName",
          "documentation":"<p>The unique name of the relay.</p>"
        },
        "ServerName":{
          "shape":"RelayServerName",
          "documentation":"<p>The destination relay server address.</p>"
        },
        "ServerPort":{
          "shape":"RelayServerPort",
          "documentation":"<p>The destination relay server port.</p>"
        },
        "Authentication":{
          "shape":"RelayAuthentication",
          "documentation":"<p>The authentication attribute—contains the secret ARN where the customer relay server credentials are stored. </p>"
        },
        "CreatedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the relay was created.</p>"
        },
        "LastModifiedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when relay was last updated.</p>"
        }
      }
    },
    "GetRuleSetRequest":{
      "type":"structure",
      "required":["RuleSetId"],
      "members":{
        "RuleSetId":{
          "shape":"RuleSetId",
          "documentation":"<p>The identifier of an existing rule set to be retrieved.</p>"
        }
      }
    },
    "GetRuleSetResponse":{
      "type":"structure",
      "required":[
        "RuleSetId",
        "RuleSetArn",
        "RuleSetName",
        "CreatedDate",
        "LastModificationDate",
        "Rules"
      ],
      "members":{
        "RuleSetId":{
          "shape":"RuleSetId",
          "documentation":"<p>The identifier of the rule set resource.</p>"
        },
        "RuleSetArn":{
          "shape":"RuleSetArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the rule set resource.</p>"
        },
        "RuleSetName":{
          "shape":"RuleSetName",
          "documentation":"<p>A user-friendly name for the rule set resource.</p>"
        },
        "CreatedDate":{
          "shape":"Timestamp",
          "documentation":"<p>The date of when then rule set was created.</p>"
        },
        "LastModificationDate":{
          "shape":"Timestamp",
          "documentation":"<p>The date of when the rule set was last modified.</p>"
        },
        "Rules":{
          "shape":"Rules",
          "documentation":"<p>The rules contained in the rule set.</p>"
        }
      }
    },
    "GetTrafficPolicyRequest":{
      "type":"structure",
      "required":["TrafficPolicyId"],
      "members":{
        "TrafficPolicyId":{
          "shape":"TrafficPolicyId",
          "documentation":"<p>The identifier of the traffic policy resource.</p>"
        }
      }
    },
    "GetTrafficPolicyResponse":{
      "type":"structure",
      "required":[
        "TrafficPolicyName",
        "TrafficPolicyId"
      ],
      "members":{
        "TrafficPolicyName":{
          "shape":"TrafficPolicyName",
          "documentation":"<p>A user-friendly name for the traffic policy resource.</p>"
        },
        "TrafficPolicyId":{
          "shape":"TrafficPolicyId",
          "documentation":"<p>The identifier of the traffic policy resource.</p>"
        },
        "TrafficPolicyArn":{
          "shape":"TrafficPolicyArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the traffic policy resource.</p>"
        },
        "PolicyStatements":{
          "shape":"PolicyStatementList",
          "documentation":"<p>The list of conditions which are in the traffic policy resource.</p>"
        },
        "MaxMessageSizeBytes":{
          "shape":"MaxMessageSizeBytes",
          "documentation":"<p>The maximum message size in bytes of email which is allowed in by this traffic policy—anything larger will be blocked.</p>"
        },
        "DefaultAction":{
          "shape":"AcceptAction",
          "documentation":"<p>The default action of the traffic policy.</p>"
        },
        "CreatedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the traffic policy was created.</p>"
        },
        "LastUpdatedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the traffic policy was last updated.</p>"
        }
      }
    },
    "HeaderName":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[xX]\\-[a-zA-Z0-9\\-]+"
    },
    "HeaderValue":{
      "type":"string",
      "max":128,
      "min":1
    },
    "IamRoleArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"[a-zA-Z0-9:_/+=,@.#-]+"
    },
    "IdOrArn":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"[a-zA-Z0-9:_/+=,@.#-]+"
    },
    "IdempotencyToken":{
      "type":"string",
      "max":128,
      "min":1
    },
    "ImportDataFormat":{
      "type":"structure",
      "required":["ImportDataType"],
      "members":{
        "ImportDataType":{
          "shape":"ImportDataType",
          "documentation":"<p>The type of file that would be passed as an input for the address list import job.</p>"
        }
      },
      "documentation":"<p>The import data format contains the specifications of the input file that would be passed to the address list import job.</p>"
    },
    "ImportDataType":{
      "type":"string",
      "enum":[
        "CSV",
        "JSON"
      ]
    },
    "ImportJob":{
      "type":"structure",
      "required":[
        "JobId",
        "Name",
        "Status",
        "PreSignedUrl",
        "ImportDataFormat",
        "AddressListId",
        "CreatedTimestamp"
      ],
      "members":{
        "JobId":{
          "shape":"JobId",
          "documentation":"<p>The identifier of the import job.</p>"
        },
        "Name":{
          "shape":"JobName",
          "documentation":"<p>A user-friendly name for the import job.</p>"
        },
        "Status":{
          "shape":"ImportJobStatus",
          "documentation":"<p>The status of the import job.</p>"
        },
        "PreSignedUrl":{
          "shape":"PreSignedUrl",
          "documentation":"<p>The pre-signed URL target for uploading the input file.</p>"
        },
        "ImportedItemsCount":{
          "shape":"JobItemsCount",
          "documentation":"<p>The number of addresses in the input that were successfully imported into the address list.</p>"
        },
        "FailedItemsCount":{
          "shape":"JobItemsCount",
          "documentation":"<p>The number of addresses in the input that failed to get imported into address list.</p>"
        },
        "ImportDataFormat":{
          "shape":"ImportDataFormat",
          "documentation":"<p>The format of the input for the import job.</p>"
        },
        "AddressListId":{
          "shape":"AddressListId",
          "documentation":"<p>The unique identifier of the address list the import job was created for.</p>"
        },
        "CreatedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the import job was created.</p>"
        },
        "StartTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the import job was started.</p>"
        },
        "CompletedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of when the import job was completed.</p>"
        },
        "Error":{
          "shape":"ErrorMessage",
          "documentation":"<p>The reason for failure of an import job.</p>"
        }
      },
      "documentation":"<p>Details about an import job.</p>"
    },
    "ImportJobStatus":{
      "type":"string",
      "enum":[
        "CREATED",
        "PROCESSING",
        "COMPLETED",
        "FAILED",
        "STOPPED"
      ]
    },
    "ImportJobs":{
      "type":"list",
      "member":{"shape":"ImportJob"}
    },
    "IngressAddressListArnList":{
      "type":"list",
      "member":{"shape":"AddressListArn"},
      "max":1,
      "min":1
    },
    "IngressAddressListEmailAttribute":{
      "type":"string",
      "enum":["RECIPIENT"]
    },
    "IngressAnalysis":{
      "type":"structure",
      "required":[
        "Analyzer",
        "ResultField"
      ],
      "members":{
        "Analyzer":{
          "shape":"AnalyzerArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of an Add On.</p>"
        },
        "ResultField":{
          "shape":"ResultField",
          "documentation":"<p>The returned value from an Add On.</p>"
        }
      },
      "documentation":"<p>The Add On ARN and its returned value that is evaluated in a policy statement's conditional expression to either deny or block the incoming email.</p>"
    },
    "IngressBooleanExpression":{
      "type":"structure",
      "required":[
        "Evaluate",
        "Operator"
      ],
      "members":{
        "Evaluate":{
          "shape":"IngressBooleanToEvaluate",
          "documentation":"<p>The operand on which to perform a boolean condition operation.</p>"
        },
        "Operator":{
          "shape":"IngressBooleanOperator",
          "documentation":"<p>The matching operator for a boolean condition expression.</p>"
        }
      },
      "documentation":"<p>The structure for a boolean condition matching on the incoming mail.</p>"
    },
    "IngressBooleanOperator":{
      "type":"string",
      "enum":[
        "IS_TRUE",
        "IS_FALSE"
      ]
    },
    "IngressBooleanToEvaluate":{
      "type":"structure",
      "members":{
        "Analysis":{
          "shape":"IngressAnalysis",
          "documentation":"<p>The structure type for a boolean condition stating the Add On ARN and its returned value.</p>"
        },
        "IsInAddressList":{
          "shape":"IngressIsInAddressList",
          "documentation":"<p>The structure type for a boolean condition that provides the address lists to evaluate incoming traffic on.</p>"
        }
      },
      "documentation":"<p>The union type representing the allowed types of operands for a boolean condition.</p>",
      "union":true
    },
    "IngressIpOperator":{
      "type":"string",
      "enum":[
        "CIDR_MATCHES",
        "NOT_CIDR_MATCHES"
      ]
    },
    "IngressIpToEvaluate":{
      "type":"structure",
      "members":{
        "Attribute":{
          "shape":"IngressIpv4Attribute",
          "documentation":"<p>An enum type representing the allowed attribute types for an IP condition.</p>"
        }
      },
      "documentation":"<p>The structure for an IP based condition matching on the incoming mail.</p>",
      "union":true
    },
    "IngressIpv4Attribute":{
      "type":"string",
      "enum":["SENDER_IP"]
    },
    "IngressIpv4Expression":{
      "type":"structure",
      "required":[
        "Evaluate",
        "Operator",
        "Values"
      ],
      "members":{
        "Evaluate":{
          "shape":"IngressIpToEvaluate",
          "documentation":"<p>The left hand side argument of an IP condition expression.</p>"
        },
        "Operator":{
          "shape":"IngressIpOperator",
          "documentation":"<p>The matching operator for an IP condition expression.</p>"
        },
        "Values":{
          "shape":"Ipv4Cidrs",
          "documentation":"<p>The right hand side argument of an IP condition expression.</p>"
        }
      },
      "documentation":"<p>The union type representing the allowed types for the left hand side of an IP condition.</p>"
    },
    "IngressIpv6Attribute":{
      "type":"string",
      "enum":["SENDER_IPV6"]
    },
    "IngressIpv6Expression":{
      "type":"structure",
      "required":[
        "Evaluate",
        "Operator",
        "Values"
      ],
      "members":{
        "Evaluate":{
          "shape":"IngressIpv6ToEvaluate",
          "documentation":"<p>The left hand side argument of an IPv6 condition expression.</p>"
        },
        "Operator":{
          "shape":"IngressIpOperator",
          "documentation":"<p>The matching operator for an IPv6 condition expression.</p>"
        },
        "Values":{
          "shape":"Ipv6Cidrs",
          "documentation":"<p>The right hand side argument of an IPv6 condition expression.</p>"
        }
      },
      "documentation":"<p>The union type representing the allowed types for the left hand side of an IPv6 condition.</p>"
    },
    "IngressIpv6ToEvaluate":{
      "type":"structure",
      "members":{
        "Attribute":{
          "shape":"IngressIpv6Attribute",
          "documentation":"<p>An enum type representing the allowed attribute types for an IPv6 condition.</p>"
        }
      },
      "documentation":"<p>The structure for an IPv6 based condition matching on the incoming mail.</p>",
      "union":true
    },
    "IngressIsInAddressList":{
      "type":"structure",
      "required":[
        "Attribute",
        "AddressLists"
      ],
      "members":{
        "Attribute":{
          "shape":"IngressAddressListEmailAttribute",
          "documentation":"<p>The email attribute that needs to be evaluated against the address list.</p>"
        },
        "AddressLists":{
          "shape":"IngressAddressListArnList",
          "documentation":"<p>The address lists that will be used for evaluation.</p>"
        }
      },
      "documentation":"<p>The address lists and the address list attribute value that is evaluated in a policy statement's conditional expression to either deny or block the incoming email.</p>"
    },
    "IngressPoint":{
      "type":"structure",
      "required":[
        "IngressPointName",
        "IngressPointId",
        "Status",
        "Type"
      ],
      "members":{
        "IngressPointName":{
          "shape":"IngressPointName",
          "documentation":"<p>A user friendly name for the ingress endpoint resource.</p>"
        },
        "IngressPointId":{
          "shape":"IngressPointId",
          "documentation":"<p>The identifier of the ingress endpoint resource.</p>"
        },
        "Status":{
          "shape":"IngressPointStatus",
          "documentation":"<p>The status of the ingress endpoint resource.</p>"
        },
        "Type":{
          "shape":"IngressPointType",
          "documentation":"<p>The type of ingress endpoint resource.</p>"
        },
        "ARecord":{
          "shape":"IngressPointARecord",
          "documentation":"<p> The DNS A Record that identifies your ingress endpoint. Configure your DNS Mail Exchange (MX) record with this value to route emails to Mail Manager. </p>"
        }
      },
      "documentation":"<p>The structure of an ingress endpoint resource.</p>"
    },
    "IngressPointARecord":{"type":"string"},
    "IngressPointArn":{"type":"string"},
    "IngressPointAuthConfiguration":{
      "type":"structure",
      "members":{
        "IngressPointPasswordConfiguration":{
          "shape":"IngressPointPasswordConfiguration",
          "documentation":"<p>The ingress endpoint password configuration for the ingress endpoint resource.</p>"
        },
        "SecretArn":{
          "shape":"SecretArn",
[...]
