{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-01-01",
    "endpointPrefix":"fms",
    "jsonVersion":"1.1",
    "protocol":"json",
    "protocols":["json"],
    "serviceAbbreviation":"FMS",
    "serviceFullName":"Firewall Management Service",
    "serviceId":"FMS",
    "signatureVersion":"v4",
    "targetPrefix":"AWSFMS_20180101",
    "uid":"fms-2018-01-01",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AssociateAdminAccount":{
      "name":"AssociateAdminAccount",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateAdminAccountRequest"},
      "errors":[
        {"shape":"InvalidOperationException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalErrorException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Sets a Firewall Manager default administrator account. The Firewall Manager default administrator account can manage third-party firewalls and has full administrative scope that allows administration of all policy types, accounts, organizational units, and Regions. This account must be a member account of the organization in Organizations whose resources you want to protect.</p> <p>For information about working with Firewall Manager administrator accounts, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/fms-administrators.html\">Managing Firewall Manager administrators</a> in the <i>Firewall Manager Developer Guide</i>.</p>"
    },
    "AssociateThirdPartyFirewall":{
      "name":"AssociateThirdPartyFirewall",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateThirdPartyFirewallRequest"},
      "output":{"shape":"AssociateThirdPartyFirewallResponse"},
      "errors":[
        {"shape":"InvalidOperationException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Sets the Firewall Manager policy administrator as a tenant administrator of a third-party firewall service. A tenant is an instance of the third-party firewall service that's associated with your Amazon Web Services customer account.</p>"
    },
    "BatchAssociateResource":{
      "name":"BatchAssociateResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchAssociateResourceRequest"},
      "output":{"shape":"BatchAssociateResourceResponse"},
      "errors":[
        {"shape":"InvalidOperationException"},
        {"shape":"InternalErrorException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Associate resources to a Firewall Manager resource set.</p>"
    },
    "BatchDisassociateResource":{
      "name":"BatchDisassociateResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDisassociateResourceRequest"},
      "output":{"shape":"BatchDisassociateResourceResponse"},
      "errors":[
        {"shape":"InvalidOperationException"},
        {"shape":"InternalErrorException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Disassociates resources from a Firewall Manager resource set.</p>"
    },
    "DeleteAppsList":{
      "name":"DeleteAppsList",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAppsListRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidOperationException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Permanently deletes an Firewall Manager applications list.</p>"
    },
    "DeleteNotificationChannel":{
      "name":"DeleteNotificationChannel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteNotificationChannelRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidOperationException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Deletes an Firewall Manager association with the IAM role and the Amazon Simple Notification Service (SNS) topic that is used to record Firewall Manager SNS logs.</p>"
    },
    "DeletePolicy":{
      "name":"DeletePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePolicyRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidOperationException"},
        {"shape":"InternalErrorException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Permanently deletes an Firewall Manager policy. </p>"
    },
    "DeleteProtocolsList":{
      "name":"DeleteProtocolsList",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteProtocolsListRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidOperationException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Permanently deletes an Firewall Manager protocols list.</p>"
    },
    "DeleteResourceSet":{
      "name":"DeleteResourceSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteResourceSetRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidOperationException"},
        {"shape":"InternalErrorException"},
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p>Deletes the specified <a>ResourceSet</a>.</p>"
    },
    "DisassociateAdminAccount":{
      "name":"DisassociateAdminAccount",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateAdminAccountRequest"},
      "errors":[
        {"shape":"InvalidOperationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Disassociates an Firewall Manager administrator account. To set a different account as an Firewall Manager administrator, submit a <a>PutAdminAccount</a> request. To set an account as a default administrator account, you must submit an <a>AssociateAdminAccount</a> request.</p> <p>Disassociation of the default administrator account follows the first in, last out principle. If you are the default administrator, all Firewall Manager administrators within the organization must first disassociate their accounts before you can disassociate your account.</p>"
    },
    "DisassociateThirdPartyFirewall":{
      "name":"DisassociateThirdPartyFirewall",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateThirdPartyFirewallRequest"},
      "output":{"shape":"DisassociateThirdPartyFirewallResponse"},
      "errors":[
        {"shape":"InvalidOperationException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Disassociates a Firewall Manager policy administrator from a third-party firewall tenant. When you call <code>DisassociateThirdPartyFirewall</code>, the third-party firewall vendor deletes all of the firewalls that are associated with the account.</p>"
    },
    "GetAdminAccount":{
      "name":"GetAdminAccount",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAdminAccountRequest"},
      "output":{"shape":"GetAdminAccountResponse"},
      "errors":[
        {"shape":"InvalidOperationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Returns the Organizations account that is associated with Firewall Manager as the Firewall Manager default administrator.</p>"
    },
    "GetAdminScope":{
      "name":"GetAdminScope",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAdminScopeRequest"},
      "output":{"shape":"GetAdminScopeResponse"},
      "errors":[
        {"shape":"InvalidOperationException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalErrorException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Returns information about the specified account's administrative scope. The administrative scope defines the resources that an Firewall Manager administrator can manage.</p>"
    },
    "GetAppsList":{
      "name":"GetAppsList",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAppsListRequest"},
      "output":{"shape":"GetAppsListResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidOperationException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Returns information about the specified Firewall Manager applications list.</p>"
    },
    "GetComplianceDetail":{
      "name":"GetComplianceDetail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetComplianceDetailRequest"},
      "output":{"shape":"GetComplianceDetailResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalErrorException"},
        {"shape":"InvalidInputException"},
        {"shape":"InvalidOperationException"}
      ],
      "documentation":"<p>Returns detailed compliance information about the specified member account. Details include resources that are in and out of compliance with the specified policy. </p> <p>The reasons for resources being considered compliant depend on the Firewall Manager policy type. </p>"
    },
    "GetNotificationChannel":{
      "name":"GetNotificationChannel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetNotificationChannelRequest"},
      "output":{"shape":"GetNotificationChannelResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidOperationException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Information about the Amazon Simple Notification Service (SNS) topic that is used to record Firewall Manager SNS logs.</p>"
    },
    "GetPolicy":{
      "name":"GetPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPolicyRequest"},
      "output":{"shape":"GetPolicyResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidOperationException"},
        {"shape":"InternalErrorException"},
        {"shape":"InvalidTypeException"}
      ],
      "documentation":"<p>Returns information about the specified Firewall Manager policy.</p>"
    },
    "GetProtectionStatus":{
      "name":"GetProtectionStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetProtectionStatusRequest"},
      "output":{"shape":"GetProtectionStatusResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>If you created a Shield Advanced policy, returns policy-level attack summary information in the event of a potential DDoS attack. Other policy types are currently unsupported.</p>"
    },
    "GetProtocolsList":{
      "name":"GetProtocolsList",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetProtocolsListRequest"},
      "output":{"shape":"GetProtocolsListResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidOperationException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Returns information about the specified Firewall Manager protocols list.</p>"
    },
    "GetResourceSet":{
      "name":"GetResourceSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetResourceSetRequest"},
      "output":{"shape":"GetResourceSetResponse"},
      "errors":[
        {"shape":"InvalidOperationException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Gets information about a specific resource set.</p>"
    },
    "GetThirdPartyFirewallAssociationStatus":{
      "name":"GetThirdPartyFirewallAssociationStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetThirdPartyFirewallAssociationStatusRequest"},
      "output":{"shape":"GetThirdPartyFirewallAssociationStatusResponse"},
      "errors":[
        {"shape":"InvalidOperationException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>The onboarding status of a Firewall Manager admin account to third-party firewall vendor tenant.</p>"
    },
    "GetViolationDetails":{
      "name":"GetViolationDetails",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetViolationDetailsRequest"},
      "output":{"shape":"GetViolationDetailsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Retrieves violations for a resource based on the specified Firewall Manager policy and Amazon Web Services account.</p>"
    },
    "ListAdminAccountsForOrganization":{
      "name":"ListAdminAccountsForOrganization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAdminAccountsForOrganizationRequest"},
      "output":{"shape":"ListAdminAccountsForOrganizationResponse"},
      "errors":[
        {"shape":"InvalidOperationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalErrorException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Returns a <code>AdminAccounts</code> object that lists the Firewall Manager administrators within the organization that are onboarded to Firewall Manager by <a>AssociateAdminAccount</a>.</p> <p>This operation can be called only from the organization's management account.</p>"
    },
    "ListAdminsManagingAccount":{
      "name":"ListAdminsManagingAccount",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAdminsManagingAccountRequest"},
      "output":{"shape":"ListAdminsManagingAccountResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Lists the accounts that are managing the specified Organizations member account. This is useful for any member account so that they can view the accounts who are managing their account. This operation only returns the managing administrators that have the requested account within their <a>AdminScope</a>.</p>"
    },
    "ListAppsLists":{
      "name":"ListAppsLists",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAppsListsRequest"},
      "output":{"shape":"ListAppsListsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidOperationException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Returns an array of <code>AppsListDataSummary</code> objects.</p>"
    },
    "ListComplianceStatus":{
      "name":"ListComplianceStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListComplianceStatusRequest"},
      "output":{"shape":"ListComplianceStatusResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Returns an array of <code>PolicyComplianceStatus</code> objects. Use <code>PolicyComplianceStatus</code> to get a summary of which member accounts are protected by the specified policy. </p>"
    },
    "ListDiscoveredResources":{
      "name":"ListDiscoveredResources",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDiscoveredResourcesRequest"},
      "output":{"shape":"ListDiscoveredResourcesResponse"},
      "errors":[
        {"shape":"InvalidOperationException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Returns an array of resources in the organization's accounts that are available to be associated with a resource set.</p>"
    },
    "ListMemberAccounts":{
      "name":"ListMemberAccounts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListMemberAccountsRequest"},
      "output":{"shape":"ListMemberAccountsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Returns a <code>MemberAccounts</code> object that lists the member accounts in the administrator's Amazon Web Services organization.</p> <p>Either an Firewall Manager administrator or the organization's management account can make this request.</p>"
    },
    "ListPolicies":{
      "name":"ListPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPoliciesRequest"},
      "output":{"shape":"ListPoliciesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidOperationException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Returns an array of <code>PolicySummary</code> objects.</p>"
    },
    "ListProtocolsLists":{
      "name":"ListProtocolsLists",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListProtocolsListsRequest"},
      "output":{"shape":"ListProtocolsListsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidOperationException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Returns an array of <code>ProtocolsListDataSummary</code> objects.</p>"
    },
    "ListResourceSetResources":{
      "name":"ListResourceSetResources",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListResourceSetResourcesRequest"},
      "output":{"shape":"ListResourceSetResourcesResponse"},
      "errors":[
        {"shape":"InvalidOperationException"},
        {"shape":"InternalErrorException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns an array of resources that are currently associated to a resource set.</p>"
    },
    "ListResourceSets":{
      "name":"ListResourceSets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListResourceSetsRequest"},
      "output":{"shape":"ListResourceSetsResponse"},
      "errors":[
        {"shape":"InvalidOperationException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Returns an array of <code>ResourceSetSummary</code> objects.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidOperationException"},
        {"shape":"InternalErrorException"},
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p>Retrieves the list of tags for the specified Amazon Web Services resource. </p>"
    },
    "ListThirdPartyFirewallFirewallPolicies":{
      "name":"ListThirdPartyFirewallFirewallPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListThirdPartyFirewallFirewallPoliciesRequest"},
      "output":{"shape":"ListThirdPartyFirewallFirewallPoliciesResponse"},
      "errors":[
        {"shape":"InvalidOperationException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Retrieves a list of all of the third-party firewall policies that are associated with the third-party firewall administrator's account.</p>"
    },
    "PutAdminAccount":{
      "name":"PutAdminAccount",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutAdminAccountRequest"},
      "errors":[
        {"shape":"InvalidOperationException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalErrorException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates or updates an Firewall Manager administrator account. The account must be a member of the organization that was onboarded to Firewall Manager by <a>AssociateAdminAccount</a>. Only the organization's management account can create an Firewall Manager administrator account. When you create an Firewall Manager administrator account, the service checks to see if the account is already a delegated administrator within Organizations. If the account isn't a delegated administrator, Firewall Manager calls Organizations to delegate the account within Organizations. For more information about administrator accounts within Organizations, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts.html\">Managing the Amazon Web Services Accounts in Your Organization</a>.</p>"
    },
    "PutAppsList":{
      "name":"PutAppsList",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutAppsListRequest"},
      "output":{"shape":"PutAppsListResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidOperationException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Creates an Firewall Manager applications list.</p>"
    },
    "PutNotificationChannel":{
      "name":"PutNotificationChannel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutNotificationChannelRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidOperationException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Designates the IAM role and Amazon Simple Notification Service (SNS) topic that Firewall Manager uses to record SNS logs.</p> <p>To perform this action outside of the console, you must first configure the SNS topic's access policy to allow the <code>SnsRoleName</code> to publish SNS logs. If the <code>SnsRoleName</code> provided is a role other than the <code>AWSServiceRoleForFMS</code> service-linked role, this role must have a trust relationship configured to allow the Firewall Manager service principal <code>fms.amazonaws.com</code> to assume this role. For information about configuring an SNS access policy, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/fms-security_iam_service-with-iam.html#fms-security_iam_service-with-iam-roles-service\">Service roles for Firewall Manager</a> in the <i>Firewall Manager Developer Guide</i>.</p>"
    },
    "PutPolicy":{
      "name":"PutPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutPolicyRequest"},
      "output":{"shape":"PutPolicyResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidOperationException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalErrorException"},
        {"shape":"InvalidTypeException"}
      ],
      "documentation":"<p>Creates an Firewall Manager policy.</p> <p>A Firewall Manager policy is specific to the individual policy type. If you want to enforce multiple policy types across accounts, you can create multiple policies. You can create more than one policy for each type. </p> <p>If you add a new account to an organization that you created with Organizations, Firewall Manager automatically applies the policy to the resources in that account that are within scope of the policy. </p> <p>Firewall Manager provides the following types of policies: </p> <ul> <li> <p> <b>WAF policy</b> - This policy applies WAF web ACL protections to specified accounts and resources. </p> </li> <li> <p> <b>Shield Advanced policy</b> - This policy applies Shield Advanced protection to specified accounts and resources. </p> </li> <li> <p> <b>Security Groups policy</b> - This type of policy gives you control over security groups that are in use throughout your organization in Organizations and lets you enforce a baseline set of rules across your organization. </p> </li> <li> <p> <b>Network ACL policy</b> - This type of policy gives you control over the network ACLs that are in use throughout your organization in Organizations and lets you enforce a baseline set of first and last network ACL rules across your organization. </p> </li> <li> <p> <b>Network Firewall policy</b> - This policy applies Network Firewall protection to your organization's VPCs. </p> </li> <li> <p> <b>DNS Firewall policy</b> - This policy applies Amazon Route 53 Resolver DNS Firewall protections to your organization's VPCs. </p> </li> <li> <p> <b>Third-party firewall policy</b> - This policy applies third-party firewall protections. Third-party firewalls are available by subscription through the Amazon Web Services Marketplace console at <a href=\"http://aws.amazon.com/marketplace\">Amazon Web Services Marketplace</a>.</p> <ul> <li> <p> <b>Palo Alto Networks Cloud NGFW policy</b> - This policy applies Palo Alto Networks Cloud Next Generation Firewall (NGFW) protections and Palo Alto Networks Cloud NGFW rulestacks to your organization's VPCs.</p> </li> <li> <p> <b>Fortigate CNF policy</b> - This policy applies Fortigate Cloud Native Firewall (CNF) protections. Fortigate CNF is a cloud-centered solution that blocks Zero-Day threats and secures cloud infrastructures with industry-leading advanced threat prevention, smart web application firewalls (WAF), and API protection.</p> </li> </ul> </li> </ul>"
    },
    "PutProtocolsList":{
      "name":"PutProtocolsList",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutProtocolsListRequest"},
      "output":{"shape":"PutProtocolsListResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidOperationException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Creates an Firewall Manager protocols list.</p>"
    },
    "PutResourceSet":{
      "name":"PutResourceSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutResourceSetRequest"},
      "output":{"shape":"PutResourceSetResponse"},
      "errors":[
        {"shape":"InvalidOperationException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalErrorException"}
      ],
      "documentation":"<p>Creates the resource set.</p> <p>An Firewall Manager resource set defines the resources to import into an Firewall Manager policy from another Amazon Web Services service.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidOperationException"},
        {"shape":"InternalErrorException"},
        {"shape":"InvalidInputException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Adds one or more tags to an Amazon Web Services resource.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidOperationException"},
        {"shape":"InternalErrorException"},
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p>Removes one or more tags from an Amazon Web Services resource.</p>"
    }
  },
  "shapes":{
    "AWSAccountId":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"^[0-9]+$"
    },
    "AWSAccountIdList":{
      "type":"list",
      "member":{"shape":"AWSAccountId"}
    },
    "AWSRegion":{
      "type":"string",
      "max":32,
      "min":6,
      "pattern":"^(af|ap|ca|eu|il|me|mx|sa|us|cn|us-gov)-\\w+-\\d+$"
    },
    "AWSRegionList":{
      "type":"list",
      "member":{"shape":"AWSRegion"},
      "max":64,
      "min":0
    },
    "AccountIdList":{
      "type":"list",
      "member":{"shape":"AWSAccountId"}
    },
    "AccountRoleStatus":{
      "type":"string",
      "enum":[
        "READY",
        "CREATING",
        "PENDING_DELETION",
        "DELETING",
        "DELETED"
      ]
    },
    "AccountScope":{
      "type":"structure",
      "members":{
        "Accounts":{
          "shape":"AccountIdList",
          "documentation":"<p>The list of accounts within the organization that the specified Firewall Manager administrator either can or cannot apply policies to, based on the value of <code>ExcludeSpecifiedAccounts</code>. If <code>ExcludeSpecifiedAccounts</code> is set to <code>true</code>, then the Firewall Manager administrator can apply policies to all members of the organization except for the accounts in this list. If <code>ExcludeSpecifiedAccounts</code> is set to <code>false</code>, then the Firewall Manager administrator can only apply policies to the accounts in this list.</p>"
        },
        "AllAccountsEnabled":{
          "shape":"Boolean",
          "documentation":"<p>A boolean value that indicates if the administrator can apply policies to all accounts within an organization. If true, the administrator can apply policies to all accounts within the organization. You can either enable management of all accounts through this operation, or you can specify a list of accounts to manage in <code>AccountScope$Accounts</code>. You cannot specify both.</p>"
        },
        "ExcludeSpecifiedAccounts":{
          "shape":"Boolean",
          "documentation":"<p>A boolean value that excludes the accounts in <code>AccountScope$Accounts</code> from the administrator's scope. If true, the Firewall Manager administrator can apply policies to all members of the organization except for the accounts listed in <code>AccountScope$Accounts</code>. You can either specify a list of accounts to exclude by <code>AccountScope$Accounts</code>, or you can enable management of all accounts by <code>AccountScope$AllAccountsEnabled</code>. You cannot specify both.</p>"
        }
      },
      "documentation":"<p>Configures the accounts within the administrator's Organizations organization that the specified Firewall Manager administrator can apply policies to.</p>"
    },
    "ActionTarget":{
      "type":"structure",
      "members":{
        "ResourceId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the remediation target.</p>"
        },
        "Description":{
          "shape":"LengthBoundedString",
          "documentation":"<p>A description of the remediation action target.</p>"
        }
      },
      "documentation":"<p>Describes a remediation action target.</p>"
    },
    "AdminAccountSummary":{
      "type":"structure",
      "members":{
        "AdminAccount":{
          "shape":"AWSAccountId",
          "documentation":"<p>The Amazon Web Services account ID of the Firewall Manager administrator's account.</p>"
        },
        "DefaultAdmin":{
          "shape":"Boolean",
          "documentation":"<p>A boolean value that indicates if the administrator is the default administrator. If true, then this is the default administrator account. The default administrator can manage third-party firewalls and has full administrative scope. There is only one default administrator account per organization. For information about Firewall Manager default administrator accounts, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/fms-administrators.html\">Managing Firewall Manager administrators</a> in the <i>Firewall Manager Developer Guide</i>.</p>"
        },
        "Status":{
          "shape":"OrganizationStatus",
          "documentation":"<p>The current status of the request to onboard a member account as an Firewall Manager administrator.</p> <ul> <li> <p> <code>ONBOARDING</code> - The account is onboarding to Firewall Manager as an administrator.</p> </li> <li> <p> <code>ONBOARDING_COMPLETE</code> - Firewall Manager The account is onboarded to Firewall Manager as an administrator, and can perform actions on the resources defined in their <a>AdminScope</a>.</p> </li> <li> <p> <code>OFFBOARDING</code> - The account is being removed as an Firewall Manager administrator.</p> </li> <li> <p> <code>OFFBOARDING_COMPLETE</code> - The account has been removed as an Firewall Manager administrator.</p> </li> </ul>"
        }
      },
      "documentation":"<p>Contains high level information about the Firewall Manager administrator account.</p>"
    },
    "AdminAccountSummaryList":{
      "type":"list",
      "member":{"shape":"AdminAccountSummary"}
    },
    "AdminScope":{
      "type":"structure",
      "members":{
        "AccountScope":{
          "shape":"AccountScope",
          "documentation":"<p>Defines the accounts that the specified Firewall Manager administrator can apply policies to.</p>"
        },
        "OrganizationalUnitScope":{
          "shape":"OrganizationalUnitScope",
          "documentation":"<p>Defines the Organizations organizational units that the specified Firewall Manager administrator can apply policies to. For more information about OUs in Organizations, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_ous.html\">Managing organizational units (OUs) </a> in the <i>Organizations User Guide</i>.</p>"
        },
        "RegionScope":{
          "shape":"RegionScope",
          "documentation":"<p>Defines the Amazon Web Services Regions that the specified Firewall Manager administrator can perform actions in.</p>"
        },
        "PolicyTypeScope":{
          "shape":"PolicyTypeScope",
          "documentation":"<p>Defines the Firewall Manager policy types that the specified Firewall Manager administrator can create and manage.</p>"
        }
      },
      "documentation":"<p>Defines the resources that the Firewall Manager administrator can manage. For more information about administrative scope, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/fms-administrators.html\">Managing Firewall Manager administrators</a> in the <i>Firewall Manager Developer Guide</i>.</p>"
    },
    "App":{
      "type":"structure",
      "required":[
        "AppName",
        "Protocol",
        "Port"
      ],
      "members":{
        "AppName":{
          "shape":"ResourceName",
          "documentation":"<p>The application's name.</p>"
        },
        "Protocol":{
          "shape":"Protocol",
          "documentation":"<p>The IP protocol name or number. The name can be one of <code>tcp</code>, <code>udp</code>, or <code>icmp</code>. For information on possible numbers, see <a href=\"https://www.iana.org/assignments/protocol-numbers/protocol-numbers.xhtml\">Protocol Numbers</a>.</p>"
        },
        "Port":{
          "shape":"IPPortNumber",
          "documentation":"<p>The application's port number, for example <code>80</code>.</p>"
        }
      },
      "documentation":"<p>An individual Firewall Manager application.</p>"
    },
    "AppsList":{
      "type":"list",
      "member":{"shape":"App"}
    },
    "AppsListData":{
      "type":"structure",
      "required":[
        "ListName",
        "AppsList"
      ],
      "members":{
        "ListId":{
          "shape":"ListId",
          "documentation":"<p>The ID of the Firewall Manager applications list.</p>"
        },
        "ListName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the Firewall Manager applications list.</p>"
        },
        "ListUpdateToken":{
          "shape":"UpdateToken",
          "documentation":"<p>A unique identifier for each update to the list. When you update the list, the update token must match the token of the current version of the application list. You can retrieve the update token by getting the list. </p>"
        },
        "CreateTime":{
          "shape":"TimeStamp",
          "documentation":"<p>The time that the Firewall Manager applications list was created.</p>"
        },
        "LastUpdateTime":{
          "shape":"TimeStamp",
          "documentation":"<p>The time that the Firewall Manager applications list was last updated.</p>"
        },
        "AppsList":{
          "shape":"AppsList",
          "documentation":"<p>An array of applications in the Firewall Manager applications list.</p>"
        },
        "PreviousAppsList":{
          "shape":"PreviousAppsList",
          "documentation":"<p>A map of previous version numbers to their corresponding <code>App</code> object arrays.</p>"
        }
      },
      "documentation":"<p>An Firewall Manager applications list.</p>"
    },
    "AppsListDataSummary":{
      "type":"structure",
      "members":{
        "ListArn":{
          "shape":"ResourceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the applications list.</p>"
        },
        "ListId":{
          "shape":"ListId",
          "documentation":"<p>The ID of the applications list.</p>"
        },
        "ListName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the applications list.</p>"
        },
        "AppsList":{
          "shape":"AppsList",
          "documentation":"<p>An array of <code>App</code> objects in the Firewall Manager applications list.</p>"
        }
      },
      "documentation":"<p>Details of the Firewall Manager applications list.</p>"
    },
    "AppsListsData":{
      "type":"list",
      "member":{"shape":"AppsListDataSummary"}
    },
    "AssociateAdminAccountRequest":{
      "type":"structure",
      "required":["AdminAccount"],
      "members":{
        "AdminAccount":{
          "shape":"AWSAccountId",
          "documentation":"<p>The Amazon Web Services account ID to associate with Firewall Manager as the Firewall Manager default administrator account. This account must be a member account of the organization in Organizations whose resources you want to protect. For more information about Organizations, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts.html\">Managing the Amazon Web Services Accounts in Your Organization</a>. </p>"
        }
      }
    },
    "AssociateThirdPartyFirewallRequest":{
      "type":"structure",
      "required":["ThirdPartyFirewall"],
      "members":{
        "ThirdPartyFirewall":{
          "shape":"ThirdPartyFirewall",
          "documentation":"<p>The name of the third-party firewall vendor.</p>"
        }
      }
    },
    "AssociateThirdPartyFirewallResponse":{
      "type":"structure",
      "members":{
        "ThirdPartyFirewallStatus":{
          "shape":"ThirdPartyFirewallAssociationStatus",
          "documentation":"<p>The current status for setting a Firewall Manager policy administrator's account as an administrator of the third-party firewall tenant.</p> <ul> <li> <p> <code>ONBOARDING</code> - The Firewall Manager policy administrator is being designated as a tenant administrator.</p> </li> <li> <p> <code>ONBOARD_COMPLETE</code> - The Firewall Manager policy administrator is designated as a tenant administrator.</p> </li> <li> <p> <code>OFFBOARDING</code> - The Firewall Manager policy administrator is being removed as a tenant administrator.</p> </li> <li> <p> <code>OFFBOARD_COMPLETE</code> - The Firewall Manager policy administrator has been removed as a tenant administrator.</p> </li> <li> <p> <code>NOT_EXIST</code> - The Firewall Manager policy administrator doesn't exist as a tenant administrator.</p> </li> </ul>"
        }
      }
    },
    "AwsEc2InstanceViolation":{
      "type":"structure",
      "members":{
        "ViolationTarget":{
          "shape":"ViolationTarget",
          "documentation":"<p>The resource ID of the EC2 instance.</p>"
        },
        "AwsEc2NetworkInterfaceViolations":{
          "shape":"AwsEc2NetworkInterfaceViolations",
          "documentation":"<p>Violation detail for network interfaces associated with the EC2 instance.</p>"
        }
      },
      "documentation":"<p>Violation detail for an EC2 instance resource.</p>"
    },
    "AwsEc2NetworkInterfaceViolation":{
      "type":"structure",
      "members":{
        "ViolationTarget":{
          "shape":"ViolationTarget",
          "documentation":"<p>The resource ID of the network interface.</p>"
        },
        "ViolatingSecurityGroups":{
          "shape":"ResourceIdList",
          "documentation":"<p>List of security groups that violate the rules specified in the primary security group of the Firewall Manager policy.</p>"
        }
      },
      "documentation":"<p>Violation detail for network interfaces associated with an EC2 instance.</p>"
    },
    "AwsEc2NetworkInterfaceViolations":{
      "type":"list",
      "member":{"shape":"AwsEc2NetworkInterfaceViolation"}
    },
    "AwsVPCSecurityGroupViolation":{
      "type":"structure",
      "members":{
        "ViolationTarget":{
          "shape":"ViolationTarget",
          "documentation":"<p>The security group rule that is being evaluated.</p>"
        },
        "ViolationTargetDescription":{
          "shape":"LengthBoundedString",
          "documentation":"<p>A description of the security group that violates the policy.</p>"
        },
        "PartialMatches":{
          "shape":"PartialMatches",
          "documentation":"<p>List of rules specified in the security group of the Firewall Manager policy that partially match the <code>ViolationTarget</code> rule.</p>"
        },
        "PossibleSecurityGroupRemediationActions":{
          "shape":"SecurityGroupRemediationActions",
          "documentation":"<p>Remediation options for the rule specified in the <code>ViolationTarget</code>.</p>"
        }
      },
      "documentation":"<p>Violation detail for the rule violation in a security group when compared to the primary security group of the Firewall Manager policy.</p>"
    },
    "Base62Id":{
      "type":"string",
      "max":22,
      "min":22,
      "pattern":"^[a-z0-9A-Z]{22}$"
    },
    "BasicInteger":{
      "type":"integer",
      "max":2147483647,
      "min":-2147483648
    },
    "BatchAssociateResourceRequest":{
      "type":"structure",
      "required":[
        "ResourceSetIdentifier",
        "Items"
      ],
      "members":{
        "ResourceSetIdentifier":{
          "shape":"Identifier",
          "documentation":"<p>A unique identifier for the resource set, used in a request to refer to the resource set.</p>"
        },
        "Items":{
          "shape":"IdentifierList",
          "documentation":"<p>The uniform resource identifiers (URIs) of resources that should be associated to the resource set. The URIs must be Amazon Resource Names (ARNs).</p>"
        }
      }
    },
    "BatchAssociateResourceResponse":{
      "type":"structure",
      "required":[
        "ResourceSetIdentifier",
        "FailedItems"
      ],
      "members":{
        "ResourceSetIdentifier":{
          "shape":"Identifier",
          "documentation":"<p>A unique identifier for the resource set, used in a request to refer to the resource set.</p>"
        },
        "FailedItems":{
          "shape":"FailedItemList",
          "documentation":"<p>The resources that failed to associate to the resource set.</p>"
        }
      }
    },
    "BatchDisassociateResourceRequest":{
      "type":"structure",
      "required":[
        "ResourceSetIdentifier",
        "Items"
      ],
      "members":{
        "ResourceSetIdentifier":{
          "shape":"Identifier",
          "documentation":"<p>A unique identifier for the resource set, used in a request to refer to the resource set.</p>"
        },
        "Items":{
          "shape":"IdentifierList",
          "documentation":"<p>The uniform resource identifiers (URI) of resources that should be disassociated from the resource set. The URIs must be Amazon Resource Names (ARNs).</p>"
        }
      }
    },
    "BatchDisassociateResourceResponse":{
      "type":"structure",
      "required":[
        "ResourceSetIdentifier",
        "FailedItems"
      ],
      "members":{
        "ResourceSetIdentifier":{
          "shape":"Identifier",
          "documentation":"<p>A unique identifier for the resource set, used in a request to refer to the resource set.</p>"
        },
        "FailedItems":{
          "shape":"FailedItemList",
          "documentation":"<p>The resources that failed to disassociate from the resource set.</p>"
        }
      }
    },
    "Boolean":{"type":"boolean"},
    "BooleanObject":{"type":"boolean"},
    "CIDR":{
      "type":"string",
      "max":256,
      "min":0,
      "pattern":"[a-f0-9:./]+"
    },
    "ComplianceViolator":{
      "type":"structure",
      "members":{
        "ResourceId":{
          "shape":"ResourceId",
          "documentation":"<p>The resource ID.</p>"
        },
        "ViolationReason":{
          "shape":"ViolationReason",
          "documentation":"<p>The reason that the resource is not protected by the policy.</p>"
        },
        "ResourceType":{
          "shape":"ResourceType",
          "documentation":"<p>The resource type. This is in the format shown in the <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-template-resource-type-ref.html\">Amazon Web Services Resource Types Reference</a>. For example: <code>AWS::ElasticLoadBalancingV2::LoadBalancer</code>, <code>AWS::CloudFront::Distribution</code>, or <code>AWS::NetworkFirewall::FirewallPolicy</code>.</p>"
        },
        "Metadata":{
          "shape":"ComplianceViolatorMetadata",
          "documentation":"<p>Metadata about the resource that doesn't comply with the policy scope.</p>"
        }
      },
      "documentation":"<p>Details of the resource that is not protected by the policy.</p>"
    },
    "ComplianceViolatorMetadata":{
      "type":"map",
      "key":{"shape":"LengthBoundedString"},
      "value":{"shape":"LengthBoundedString"}
    },
    "ComplianceViolators":{
      "type":"list",
      "member":{"shape":"ComplianceViolator"}
    },
    "CreateNetworkAclAction":{
      "type":"structure",
      "members":{
        "Description":{
          "shape":"LengthBoundedString",
          "documentation":"<p>Brief description of this remediation action. </p>"
        },
        "Vpc":{
          "shape":"ActionTarget",
          "documentation":"<p>The VPC that's associated with the remediation action.</p>"
        },
        "FMSCanRemediate":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether it is possible for Firewall Manager to perform this remediation action. A false value indicates that auto remediation is disabled or Firewall Manager is unable to perform the action due to a conflict of some kind.</p>"
        }
      },
      "documentation":"<p>Information about the <code>CreateNetworkAcl</code> action in Amazon EC2. This is a remediation option in <code>RemediationAction</code>.</p>"
    },
    "CreateNetworkAclEntriesAction":{
      "type":"structure",
      "members":{
        "Description":{
          "shape":"LengthBoundedString",
          "documentation":"<p>Brief description of this remediation action. </p>"
        },
        "NetworkAclId":{
          "shape":"ActionTarget",
          "documentation":"<p>The network ACL that's associated with the remediation action.</p>"
        },
        "NetworkAclEntriesToBeCreated":{
          "shape":"EntriesDescription",
          "documentation":"<p>Lists the entries that the remediation action would create.</p>"
        },
        "FMSCanRemediate":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether it is possible for Firewall Manager to perform this remediation action. A false value indicates that auto remediation is disabled or Firewall Manager is unable to perform the action due to a conflict of some kind.</p>"
        }
      },
      "documentation":"<p>Information about the <code>CreateNetworkAclEntries</code> action in Amazon EC2. This is a remediation option in <code>RemediationAction</code>.</p>"
    },
    "CustomerPolicyScopeId":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
    },
    "CustomerPolicyScopeIdList":{
      "type":"list",
      "member":{"shape":"CustomerPolicyScopeId"}
    },
    "CustomerPolicyScopeIdType":{
      "type":"string",
      "enum":[
        "ACCOUNT",
        "ORG_UNIT"
      ]
    },
    "CustomerPolicyScopeMap":{
      "type":"map",
      "key":{"shape":"CustomerPolicyScopeIdType"},
      "value":{"shape":"CustomerPolicyScopeIdList"}
    },
    "CustomerPolicyStatus":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "OUT_OF_ADMIN_SCOPE"
      ]
    },
    "DeleteAppsListRequest":{
      "type":"structure",
      "required":["ListId"],
      "members":{
        "ListId":{
          "shape":"ListId",
          "documentation":"<p>The ID of the applications list that you want to delete. You can retrieve this ID from <code>PutAppsList</code>, <code>ListAppsLists</code>, and <code>GetAppsList</code>.</p>"
        }
      }
    },
    "DeleteNetworkAclEntriesAction":{
      "type":"structure",
      "members":{
        "Description":{
          "shape":"LengthBoundedString",
          "documentation":"<p>Brief description of this remediation action. </p>"
        },
        "NetworkAclId":{
          "shape":"ActionTarget",
          "documentation":"<p>The network ACL that's associated with the remediation action.</p>"
        },
        "NetworkAclEntriesToBeDeleted":{
          "shape":"EntriesDescription",
          "documentation":"<p>Lists the entries that the remediation action would delete.</p>"
        },
        "FMSCanRemediate":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether it is possible for Firewall Manager to perform this remediation action. A false value indicates that auto remediation is disabled or Firewall Manager is unable to perform the action due to a conflict of some kind.</p>"
        }
      },
      "documentation":"<p>Information about the <code>DeleteNetworkAclEntries</code> action in Amazon EC2. This is a remediation option in <code>RemediationAction</code>. </p>"
    },
    "DeleteNotificationChannelRequest":{
      "type":"structure",
      "members":{}
    },
    "DeletePolicyRequest":{
      "type":"structure",
      "required":["PolicyId"],
      "members":{
        "PolicyId":{
          "shape":"PolicyId",
          "documentation":"<p>The ID of the policy that you want to delete. You can retrieve this ID from <code>PutPolicy</code> and <code>ListPolicies</code>.</p>"
        },
        "DeleteAllPolicyResources":{
          "shape":"Boolean",
          "documentation":"<p>If <code>True</code>, the request performs cleanup according to the policy type. </p> <p>For WAF and Shield Advanced policies, the cleanup does the following:</p> <ul> <li> <p>Deletes rule groups created by Firewall Manager</p> </li> <li> <p>Removes web ACLs from in-scope resources</p> </li> <li> <p>Deletes web ACLs that contain no rules or rule groups</p> </li> </ul> <p>For security group policies, the cleanup does the following for each security group in the policy:</p> <ul> <li> <p>Disassociates the security group from in-scope resources </p> </li> <li> <p>Deletes the security group if it was created through Firewall Manager and if it's no longer associated with any resources through another policy</p> </li> </ul> <note> <p>For security group common policies, even if set to <code>False</code>, Firewall Manager deletes all security groups created by Firewall Manager that aren't associated with any other resources through another policy.</p> </note> <p>After the cleanup, in-scope resources are no longer protected by web ACLs in this policy. Protection of out-of-scope resources remains unchanged. Scope is determined by tags that you create and accounts that you associate with the policy. When creating the policy, if you specify that only resources in specific accounts or with specific tags are in scope of the policy, those accounts and resources are handled by the policy. All others are out of scope. If you don't specify tags or accounts, all resources are in scope. </p>"
        }
      }
    },
    "DeleteProtocolsListRequest":{
      "type":"structure",
      "required":["ListId"],
      "members":{
        "ListId":{
          "shape":"ListId",
          "documentation":"<p>The ID of the protocols list that you want to delete. You can retrieve this ID from <code>PutProtocolsList</code>, <code>ListProtocolsLists</code>, and <code>GetProtocolsLost</code>.</p>"
        }
      }
    },
    "DeleteResourceSetRequest":{
      "type":"structure",
      "required":["Identifier"],
      "members":{
        "Identifier":{
          "shape":"Base62Id",
          "documentation":"<p>A unique identifier for the resource set, used in a request to refer to the resource set.</p>"
        }
      }
    },
    "DependentServiceName":{
      "type":"string",
      "enum":[
        "AWSCONFIG",
        "AWSWAF",
        "AWSSHIELD_ADVANCED",
        "AWSVPC"
      ]
    },
    "Description":{
      "type":"string",
      "max":256,
      "pattern":"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
    },
    "DestinationType":{
      "type":"string",
      "enum":[
        "IPV4",
        "IPV6",
        "PREFIX_LIST"
      ]
    },
    "DetailedInfo":{
      "type":"string",
      "max":4096,
      "min":1,
      "pattern":"^([\\p{L}\\p{Z}\\p{N}_.:/=,+\\-@]*)$"
    },
    "DisassociateAdminAccountRequest":{
      "type":"structure",
      "members":{}
    },
    "DisassociateThirdPartyFirewallRequest":{
      "type":"structure",
      "required":["ThirdPartyFirewall"],
      "members":{
        "ThirdPartyFirewall":{
          "shape":"ThirdPartyFirewall",
          "documentation":"<p>The name of the third-party firewall vendor.</p>"
        }
      }
    },
    "DisassociateThirdPartyFirewallResponse":{
      "type":"structure",
      "members":{
        "ThirdPartyFirewallStatus":{
          "shape":"ThirdPartyFirewallAssociationStatus",
          "documentation":"<p>The current status for the disassociation of a Firewall Manager administrators account with a third-party firewall.</p>"
        }
      }
    },
    "DiscoveredResource":{
      "type":"structure",
      "members":{
        "URI":{
          "shape":"Identifier",
          "documentation":"<p>The universal resource identifier (URI) of the discovered resource.</p>"
        },
        "AccountId":{
          "shape":"AWSAccountId",
          "documentation":"<p>The Amazon Web Services account ID associated with the discovered resource.</p>"
        },
        "Type":{
          "shape":"ResourceType",
          "documentation":"<p>The type of the discovered resource.</p>"
        },
        "Name":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the discovered resource.</p>"
        }
      },
      "documentation":"<p>A resource in the organization that's available to be associated with a Firewall Manager resource set.</p>"
    },
    "DiscoveredResourceList":{
      "type":"list",
      "member":{"shape":"DiscoveredResource"}
    },
    "DnsDuplicateRuleGroupViolation":{
      "type":"structure",
      "members":{
        "ViolationTarget":{
          "shape":"ViolationTarget",
          "documentation":"<p>Information about the VPC ID. </p>"
        },
        "ViolationTargetDescription":{
          "shape":"LengthBoundedString",
          "documentation":"<p>A description of the violation that specifies the rule group and VPC.</p>"
        }
      },
      "documentation":"<p>A DNS Firewall rule group that Firewall Manager tried to associate with a VPC is already associated with the VPC and can't be associated again. </p>"
    },
    "DnsRuleGroupLimitExceededViolation":{
      "type":"structure",
      "members":{
        "ViolationTarget":{
          "shape":"ViolationTarget",
          "documentation":"<p>Information about the VPC ID. </p>"
        },
        "ViolationTargetDescription":{
          "shape":"LengthBoundedString",
          "documentation":"<p>A description of the violation that specifies the rule group and VPC.</p>"
        },
        "NumberOfRuleGroupsAlreadyAssociated":{
          "shape":"BasicInteger",
          "documentation":"<p>The number of rule groups currently associated with the VPC. </p>"
        }
      },
      "documentation":"<p>The VPC that Firewall Manager was applying a DNS Fireall policy to reached the limit for associated DNS Firewall rule groups. Firewall Manager tried to associate another rule group with the VPC and failed due to the limit. </p>"
    },
    "DnsRuleGroupPriorities":{
      "type":"list",
      "member":{"shape":"DnsRuleGroupPriority"}
    },
    "DnsRuleGroupPriority":{
      "type":"integer",
      "max":10000,
      "min":0
    },
    "DnsRuleGroupPriorityConflictViolation":{
      "type":"structure",
      "members":{
        "ViolationTarget":{
          "shape":"ViolationTarget",
          "documentation":"<p>Information about the VPC ID. </p>"
        },
        "ViolationTargetDescription":{
          "shape":"LengthBoundedString",
          "documentation":"<p>A description of the violation that specifies the VPC and the rule group that's already associated with it.</p>"
        },
        "ConflictingPriority":{
          "shape":"DnsRuleGroupPriority",
          "documentation":"<p>The priority setting of the two conflicting rule groups.</p>"
        },
        "ConflictingPolicyId":{
          "shape":"PolicyId",
          "documentation":"<p>The ID of the Firewall Manager DNS Firewall policy that was already applied to the VPC. This policy contains the rule group that's already associated with the VPC. </p>"
        },
        "UnavailablePriorities":{
          "shape":"DnsRuleGroupPriorities",
          "documentation":"<p>The priorities of rule groups that are already associated with the VPC. To retry your operation, choose priority settings that aren't in this list for the rule groups in your new DNS Firewall policy. </p>"
        }
      },
      "documentation":"<p>A rule group that Firewall Manager tried to associate with a VPC has the same priority as a rule group that's already associated. </p>"
    },
    "EC2AssociateRouteTableAction":{
      "type":"structure",
      "required":["RouteTableId"],
      "members":{
        "Description":{
          "shape":"LengthBoundedString",
          "documentation":"<p>A description of the EC2 route table that is associated with the remediation action.</p>"
        },
        "RouteTableId":{
          "shape":"ActionTarget",
          "documentation":"<p>The ID of the EC2 route table that is associated with the remediation action.</p>"
        },
        "SubnetId":{
          "shape":"ActionTarget",
          "documentation":"<p>The ID of the subnet for the EC2 route table that is associated with the remediation action.</p>"
        },
        "GatewayId":{
          "shape":"ActionTarget",
          "documentation":"<p>The ID of the gateway to be used with the EC2 route table that is associated with the remediation action.</p>"
        }
      },
      "documentation":"<p>The action of associating an EC2 resource, such as a subnet or internet gateway, with a route table.</p>"
    },
    "EC2CopyRouteTableAction":{
      "type":"structure",
      "required":[
        "VpcId",
        "RouteTableId"
      ],
      "members":{
        "Description":{
          "shape":"LengthBoundedString",
          "documentation":"<p>A description of the copied EC2 route table that is associated with the remediation action.</p>"
        },
        "VpcId":{
          "shape":"ActionTarget",
          "documentation":"<p>The VPC ID of the copied EC2 route table that is associated with the remediation action.</p>"
        },
        "RouteTableId":{
          "shape":"ActionTarget",
          "documentation":"<p>The ID of the copied EC2 route table that is associated with the remediation action.</p>"
        }
      },
      "documentation":"<p>An action that copies the EC2 route table for use in remediation.</p>"
    },
    "EC2CreateRouteAction":{
      "type":"structure",
      "required":["RouteTableId"],
      "members":{
        "Description":{
          "shape":"LengthBoundedString",
          "documentation":"<p>A description of CreateRoute action in Amazon EC2.</p>"
        },
        "DestinationCidrBlock":{
          "shape":"CIDR",
          "documentation":"<p>Information about the IPv4 CIDR address block used for the destination match.</p>"
        },
        "DestinationPrefixListId":{
          "shape":"ResourceId",
          "documentation":"<p>Information about the ID of a prefix list used for the destination match.</p>"
        },
        "DestinationIpv6CidrBlock":{
          "shape":"CIDR",
          "documentation":"<p>Information about the IPv6 CIDR block destination.</p>"
        },
        "VpcEndpointId":{
          "shape":"ActionTarget",
          "documentation":"<p>Information about the ID of a VPC endpoint. Supported for Gateway Load Balancer endpoints only.</p>"
        },
        "GatewayId":{
          "shape":"ActionTarget",
          "documentation":"<p>Information about the ID of an internet gateway or virtual private gateway attached to your VPC.</p>"
        },
        "RouteTableId":{
          "shape":"ActionTarget",
          "documentation":"<p>Information about the ID of the route table for the route.</p>"
        }
      },
      "documentation":"<p>Information about the CreateRoute action in Amazon EC2.</p>"
    },
    "EC2CreateRouteTableAction":{
      "type":"structure",
      "required":["VpcId"],
      "members":{
        "Description":{
          "shape":"LengthBoundedString",
          "documentation":"<p>A description of the CreateRouteTable action.</p>"
        },
        "VpcId":{
          "shape":"ActionTarget",
          "documentation":"<p>Information about the ID of a VPC.</p>"
        }
      },
      "documentation":"<p>Information about the CreateRouteTable action in Amazon EC2.</p>"
    },
    "EC2DeleteRouteAction":{
      "type":"structure",
      "required":["RouteTableId"],
      "members":{
        "Description":{
          "shape":"LengthBoundedString",
          "documentation":"<p>A description of the DeleteRoute action.</p>"
        },
        "DestinationCidrBlock":{
          "shape":"CIDR",
          "documentation":"<p>Information about the IPv4 CIDR range for the route. The value you specify must match the CIDR for the route exactly.</p>"
        },
        "DestinationPrefixListId":{
          "shape":"ResourceId",
          "documentation":"<p>Information about the ID of the prefix list for the route.</p>"
        },
        "DestinationIpv6CidrBlock":{
          "shape":"CIDR",
          "documentation":"<p>Information about the IPv6 CIDR range for the route. The value you specify must match the CIDR for the route exactly.</p>"
        },
        "RouteTableId":{
          "shape":"ActionTarget",
          "documentation":"<p>Information about the ID of the route table.</p>"
        }
      },
      "documentation":"<p>Information about the DeleteRoute action in Amazon EC2.</p>"
    },
    "EC2ReplaceRouteAction":{
      "type":"structure",
      "required":["RouteTableId"],
      "members":{
        "Description":{
          "shape":"LengthBoundedString",
          "documentation":"<p>A description of the ReplaceRoute action in Amazon EC2.</p>"
        },
        "DestinationCidrBlock":{
          "shape":"CIDR",
          "documentation":"<p>Information about the IPv4 CIDR address block used for the destination match. The value that you provide must match the CIDR of an existing route in the table.</p>"
        },
        "DestinationPrefixListId":{
          "shape":"ResourceId",
          "documentation":"<p>Information about the ID of the prefix list for the route.</p>"
        },
        "DestinationIpv6CidrBlock":{
          "shape":"CIDR",
          "documentation":"<p>Information about the IPv6 CIDR address block used for the destination match. The value that you provide must match the CIDR of an existing route in the table.</p>"
        },
        "GatewayId":{
          "shape":"ActionTarget",
          "documentation":"<p>Information about the ID of an internet gateway or virtual private gateway.</p>"
        },
        "RouteTableId":{
          "shape":"ActionTarget",
          "documentation":"<p>Information about the ID of the route table.</p>"
        }
      },
      "documentation":"<p>Information about the ReplaceRoute action in Amazon EC2.</p>"
    },
    "EC2ReplaceRouteTableAssociationAction":{
      "type":"structure",
      "required":[
        "AssociationId",
        "RouteTableId"
      ],
      "members":{
        "Description":{
          "shape":"LengthBoundedString",
          "documentation":"<p>A description of the ReplaceRouteTableAssociation action in Amazon EC2.</p>"
        },
        "AssociationId":{
          "shape":"ActionTarget",
          "documentation":"<p>Information about the association ID.</p>"
        },
        "RouteTableId":{
          "shape":"ActionTarget",
          "documentation":"<p>Information about the ID of the new route table to associate with the subnet.</p>"
        }
      },
      "documentation":"<p>Information about the ReplaceRouteTableAssociation action in Amazon EC2.</p>"
    },
    "EntriesDescription":{
      "type":"list",
      "member":{"shape":"EntryDescription"}
    },
    "EntriesWithConflicts":{
      "type":"list",
      "member":{"shape":"EntryDescription"}
    },
    "EntryDescription":{
      "type":"structure",
      "members":{
        "EntryDetail":{
          "shape":"NetworkAclEntry",
          "documentation":"<p>Describes a rule in a network ACL.</p> <p>Each network ACL has a set of numbered ingress rules and a separate set of numbered egress rules. When determining whether a packet should be allowed in or out of a subnet associated with the network ACL, Amazon Web Services processes the entries in the network ACL according to the rule numbers, in ascending order. </p> <p>When you manage an individual network ACL, you explicitly specify the rule numbers. When you specify the network ACL rules in a Firewall Manager policy, you provide the rules to run first, in the order that you want them to run, and the rules to run last, in the order that you want them to run. Firewall Manager assigns the rule numbers for you when you save the network ACL policy specification.</p>"
        },
        "EntryRuleNumber":{
          "shape":"IntegerObjectMinimum0",
          "documentation":"<p>The rule number for the entry. ACL entries are processed in ascending order by rule number. In a Firewall Manager network ACL policy, Firewall Manager assigns rule numbers. </p>"
        },
        "EntryType":{
          "shape":"EntryType",
          "documentation":"<p>Specifies whether the entry is managed by Firewall Manager or by a user, and, for Firewall Manager-managed entries, specifies whether the entry is among those that run first in the network ACL or those that run last. </p>"
        }
      },
      "documentation":"<p>Describes a single rule in a network ACL.</p>"
    },
    "EntryType":{
      "type":"string",
      "enum":[
        "FMS_MANAGED_FIRST_ENTRY",
        "FMS_MANAGED_LAST_ENTRY",
        "CUSTOM_ENTRY"
      ]
    },
    "EntryViolation":{
      "type":"structure",
      "members":{
        "ExpectedEntry":{
          "shape":"EntryDescription",
          "documentation":"<p>The Firewall Manager-managed network ACL entry that is involved in the entry violation. </p>"
        },
        "ExpectedEvaluationOrder":{
          "shape":"LengthBoundedString",
          "documentation":"<p>The evaluation location within the ordered list of entries where the <code>ExpectedEntry</code> should be, according to the network ACL policy specifications. </p>"
        },
        "ActualEvaluationOrder":{
          "shape":"LengthBoundedString",
          "documentation":"<p>The evaluation location within the ordered list of entries where the <code>ExpectedEntry</code> is currently located. </p>"
        },
        "EntryAtExpectedEvaluationOrder":{
          "shape":"EntryDescription",
          "documentation":"<p>The entry that's currently in the <code>ExpectedEvaluationOrder</code> location, in place of the expected entry. </p>"
        },
        "EntriesWithConflicts":{
          "shape":"EntriesWithConflicts",
          "documentation":"<p>The list of entries that are in conflict with <code>ExpectedEntry</code>. </p>"
        },
        "EntryViolationReasons":{
          "shape":"EntryViolationReasons",
          "documentation":"<p>Descriptions of the violations that Firewall Manager found for these entries. </p>"
        }
      },
      "documentation":"<p>Detailed information about an entry violation in a network ACL. The violation is against the network ACL specification inside the Firewall Manager network ACL policy. This data object is part of <code>InvalidNetworkAclEntriesViolation</code>.</p>"
    },
    "EntryViolationReason":{
      "type":"string",
      "enum":[
        "MISSING_EXPECTED_ENTRY",
        "INCORRECT_ENTRY_ORDER",
        "ENTRY_CONFLICT"
      ]
    },
    "EntryViolationReasons":{
      "type":"list",
      "member":{"shape":"EntryViolationReason"}
    },
    "EntryViolations":{
      "type":"list",
      "member":{"shape":"EntryViolation"}
    },
    "ErrorMessage":{"type":"string"},
    "EvaluationResult":{
      "type":"structure",
      "members":{
        "ComplianceStatus":{
          "shape":"PolicyComplianceStatusType",
          "documentation":"<p>Describes an Amazon Web Services account's compliance with the Firewall Manager policy.</p>"
        },
        "ViolatorCount":{
          "shape":"ResourceCount",
          "documentation":"<p>The number of resources that are noncompliant with the specified policy. For WAF and Shield Advanced policies, a resource is considered noncompliant if it is not associated with the policy. For security group policies, a resource is considered noncompliant if it doesn't comply with the rules of the policy and remediation is disabled or not possible.</p>"
        },
        "EvaluationLimitExceeded":{
          "shape":"Boolean",
          "documentation":"<p>Indicates that over 100 resources are noncompliant with the Firewall Manager policy.</p>"
        }
      },
      "documentation":"<p>Describes the compliance status for the account. An account is considered noncompliant if it includes resources that are not protected by the specified policy or that don't comply with the policy.</p>"
    },
    "EvaluationResults":{
      "type":"list",
      "member":{"shape":"EvaluationResult"}
    },
    "ExpectedRoute":{
      "type":"structure",
      "members":{
        "IpV4Cidr":{
          "shape":"CIDR",
          "documentation":"<p>Information about the IPv4 CIDR block.</p>"
        },
        "PrefixListId":{
          "shape":"CIDR",
          "documentation":"<p>Information about the ID of the prefix list for the route.</p>"
        },
        "IpV6Cidr":{
          "shape":"CIDR",
          "documentation":"<p>Information about the IPv6 CIDR block.</p>"
        },
        "ContributingSubnets":{
          "shape":"ResourceIdList",
          "documentation":"<p>Information about the contributing subnets.</p>"
        },
        "AllowedTargets":{
          "shape":"LengthBoundedStringList",
          "documentation":"<p>Information about the allowed targets.</p>"
        },
        "RouteTableId":{
          "shape":"ResourceId",
          "documentation":"<p>Information about the route table ID.</p>"
        }
      },
      "documentation":"<p>Information about the expected route in the route table.</p>"
    },
    "ExpectedRoutes":{
      "type":"list",
      "member":{"shape":"ExpectedRoute"}
    },
    "FMSPolicyUpdateFirewallCreationConfigAction":{
      "type":"structure",
      "members":{
        "Description":{
          "shape":"LengthBoundedString",
          "documentation":"<p>Describes the remedial action.</p>"
        },
        "FirewallCreationConfig":{
          "shape":"ManagedServiceData",
          "documentation":"<p>A <code>FirewallCreationConfig</code> that you can copy into your current policy's <a href=\"https://docs.aws.amazon.com/fms/2018-01-01/APIReference/API_SecurityServicePolicyData.html\">SecurityServiceData</a> in order to remedy scope violations.</p>"
        }
      },
      "documentation":"<p>Contains information about the actions that you can take to remediate scope violations caused by your policy's <code>FirewallCreationConfig</code>. <code>FirewallCreationConfig</code> is an optional configuration that you can use to choose which Availability Zones Firewall Manager creates Network Firewall endpoints in.</p>"
    },
    "FailedItem":{
      "type":"structure",
      "members":{
        "URI":{
          "shape":"Identifier",
          "documentation":"<p>The univeral resource indicator (URI) of the resource that failed.</p>"
        },
        "Reason":{
          "shape":"FailedItemReason",
          "documentation":"<p>The reason the resource's association could not be updated.</p>"
        }
      },
      "documentation":"<p>Details of a resource that failed when trying to update it's association to a resource set.</p>"
    },
    "FailedItemList":{
      "type":"list",
      "member":{"shape":"FailedItem"}
    },
    "FailedItemReason":{
      "type":"string",
      "enum":[
        "NOT_VALID_ARN",
        "NOT_VALID_PARTITION",
        "NOT_VALID_REGION",
        "NOT_VALID_SERVICE",
        "NOT_VALID_RESOURCE_TYPE",
        "NOT_VALID_ACCOUNT_ID"
      ]
    },
    "FirewallDeploymentModel":{
      "type":"string",
      "enum":[
        "CENTRALIZED",
        "DISTRIBUTED"
      ]
    },
    "FirewallPolicyId":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
    },
    "FirewallPolicyName":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
    },
    "FirewallSubnetIsOutOfScopeViolation":{
      "type":"structure",
      "members":{
        "FirewallSubnetId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the firewall subnet that violates the policy scope.</p>"
        },
        "VpcId":{
          "shape":"ResourceId",
          "documentation":"<p>The VPC ID of the firewall subnet that violates the policy scope.</p>"
        },
        "SubnetAvailabilityZone":{
          "shape":"LengthBoundedString",
          "documentation":"<p>The Availability Zone of the firewall subnet that violates the policy scope.</p>"
        },
        "SubnetAvailabilityZoneId":{
          "shape":"LengthBoundedString",
          "documentation":"<p>The Availability Zone ID of the firewall subnet that violates the policy scope.</p>"
        },
        "VpcEndpointId":{
          "shape":"ResourceId",
          "documentation":"<p>The VPC endpoint ID of the firewall subnet that violates the policy scope.</p>"
        }
      },
      "documentation":"<p>Contains details about the firewall subnet that violates the policy scope.</p>"
    },
    "FirewallSubnetMissingVPCEndpointViolation":{
      "type":"structure",
      "members":{
        "FirewallSubnetId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the firewall that this VPC endpoint is associated with.</p>"
        },
        "VpcId":{
          "shape":"ResourceId",
          "documentation":"<p>The resource ID of the VPC associated with the deleted VPC subnet.</p>"
        },
        "SubnetAvailabilityZone":{
          "shape":"LengthBoundedString",
          "documentation":"<p>The name of the Availability Zone of the deleted VPC subnet.</p>"
        },
        "SubnetAvailabilityZoneId":{
          "shape":"LengthBoundedString",
          "documentation":"<p>The ID of the Availability Zone of the deleted VPC subnet.</p>"
        }
      },
      "documentation":"<p>The violation details for a firewall subnet's VPC endpoint that's deleted or missing.</p>"
    },
    "GetAdminAccountRequest":{
      "type":"structure",
      "members":{}
    },
    "GetAdminAccountResponse":{
      "type":"structure",
      "members":{
        "AdminAccount":{
          "shape":"AWSAccountId",
          "documentation":"<p>The account that is set as the Firewall Manager default administrator.</p>"
        },
        "RoleStatus":{
          "shape":"AccountRoleStatus",
          "documentation":"<p>The status of the account that you set as the Firewall Manager default administrator.</p>"
        }
      }
    },
    "GetAdminScopeRequest":{
      "type":"structure",
      "required":["AdminAccount"],
      "members":{
        "AdminAccount":{
          "shape":"AWSAccountId",
          "documentation":"<p>The administrator account that you want to get the details for.</p>"
        }
      }
    },
    "GetAdminScopeResponse":{
      "type":"structure",
      "members":{
        "AdminScope":{
          "shape":"AdminScope",
          "documentation":"<p>Contains details about the administrative scope of the requested account.</p>"
        },
        "Status":{
          "shape":"OrganizationStatus",
          "documentation":"<p>The current status of the request to onboard a member account as an Firewall Manager administrator.</p> <ul> <li> <p> <code>ONBOARDING</code> - The account is onboarding to Firewall Manager as an administrator.</p> </li> <li> <p> <code>ONBOARDING_COMPLETE</code> - Firewall Manager The account is onboarded to Firewall Manager as an administrator, and can perform actions on the resources defined in their <a>AdminScope</a>.</p> </li> <li> <p> <code>OFFBOARDING</code> - The account is being removed as an Firewall Manager administrator.</p> </li> <li> <p> <code>OFFBOARDING_COMPLETE</code> - The account has been removed as an Firewall Manager administrator.</p> </li> </ul>"
        }
      }
    },
    "GetAppsListRequest":{
      "type":"structure",
      "required":["ListId"],
      "members":{
        "ListId":{
          "shape":"ListId",
          "documentation":"<p>The ID of the Firewall Manager applications list that you want the details for.</p>"
        },
        "DefaultList":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the list to retrieve is a default list owned by Firewall Manager.</p>"
        }
      }
    },
    "GetAppsListResponse":{
      "type":"structure",
      "members":{
        "AppsList":{
          "shape":"AppsListData",
          "documentation":"<p>Information about the specified Firewall Manager applications list.</p>"
        },
        "AppsListArn":{
          "shape":"ResourceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the applications list.</p>"
        }
      }
    },
    "GetComplianceDetailRequest":{
      "type":"structure",
      "required":[
        "PolicyId",
        "MemberAccount"
      ],
      "members":{
        "PolicyId":{
          "shape":"PolicyId",
          "documentation":"<p>The ID of the policy that you want to get the details for. <code>PolicyId</code> is returned by <code>PutPolicy</code> and by <code>ListPolicies</code>.</p>"
        },
        "MemberAccount":{
          "shape":"AWSAccountId",
          "documentation":"<p>The Amazon Web Services account that owns the resources that you want to get the details for.</p>"
        }
      }
    },
    "GetComplianceDetailResponse":{
      "type":"structure",
      "members":{
        "PolicyComplianceDetail":{
          "shape":"PolicyComplianceDetail",
          "documentation":"<p>Information about the resources and the policy that you specified in the <code>GetComplianceDetail</code> request.</p>"
        }
      }
    },
    "GetNotificationChannelRequest":{
      "type":"structure",
      "members":{}
    },
    "GetNotificationChannelResponse":{
      "type":"structure",
      "members":{
        "SnsTopicArn":{
          "shape":"ResourceArn",
          "documentation":"<p>The SNS topic that records Firewall Manager activity. </p>"
        },
        "SnsRoleName":{
          "shape":"ResourceArn",
          "documentation":"<p>The IAM role that is used by Firewall Manager to record activity to SNS.</p>"
        }
      }
    },
    "GetPolicyRequest":{
      "type":"structure",
      "required":["PolicyId"],
      "members":{
        "PolicyId":{
          "shape":"PolicyId",
          "documentation":"<p>The ID of the Firewall Manager policy that you want the details for.</p>"
        }
      }
    },
    "GetPolicyResponse":{
      "type":"structure",
      "members":{
        "Policy":{
          "shape":"Policy",
          "documentation":"<p>Information about the specified Firewall Manager policy.</p>"
        },
        "PolicyArn":{
          "shape":"ResourceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the specified policy.</p>"
        }
      }
    },
    "GetProtectionStatusRequest":{
      "type":"structure",
      "required":["PolicyId"],
      "members":{
        "PolicyId":{
          "shape":"PolicyId",
          "documentation":"<p>The ID of the policy for which you want to get the attack information.</p>"
        },
        "MemberAccountId":{
          "shape":"AWSAccountId",
          "documentation":"<p>The Amazon Web Services account that is in scope of the policy that you want to get the details for.</p>"
        },
        "StartTime":{
          "shape":"TimeStamp",
          "documentation":"<p>The start of the time period to query for the attacks. This is a <code>timestamp</code> type. The request syntax listing indicates a <code>number</code> type because the default used by Firewall Manager is Unix time in seconds. However, any valid <code>timestamp</code> format is allowed.</p>"
        },
        "EndTime":{
          "shape":"TimeStamp",
          "documentation":"<p>The end of the time period to query for the attacks. This is a <code>timestamp</code> type. The request syntax listing indicates a <code>number</code> type because the default used by Firewall Manager is Unix time in seconds. However, any valid <code>timestamp</code> format is allowed.</p>"
        },
        "NextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>If you specify a value for <code>MaxResults</code> and you have more objects than the number that you specify for <code>MaxResults</code>, Firewall Manager returns a <code>NextToken</code> value in the response, which you can use to retrieve another group of objects. For the second and subsequent <code>GetProtectionStatus</code> requests, specify the value of <code>NextToken</code> from the previous response to get information about another batch of objects.</p>"
        },
        "MaxResults":{
          "shape":"PaginationMaxResults",
          "documentation":"<p>Specifies the number of objects that you want Firewall Manager to return for this request. If you have more objects than the number that you specify for <code>MaxResults</code>, the response includes a <code>NextToken</code> value that you can use to get another batch of objects.</p>"
        }
      }
    },
    "GetProtectionStatusResponse":{
      "type":"structure",
      "members":{
        "AdminAccountId":{
          "shape":"AWSAccountId",
          "documentation":"<p>The ID of the Firewall Manager administrator account for this policy.</p>"
        },
        "ServiceType":{
          "shape":"SecurityServiceType",
          "documentation":"<p>The service type that is protected by the policy. Currently, this is always <code>SHIELD_ADVANCED</code>.</p>"
        },
        "Data":{
          "shape":"ProtectionData",
          "documentation":"<p>Details about the attack, including the following:</p> <ul> <li> <p>Attack type</p> </li> <li> <p>Account ID</p> </li> <li> <p>ARN of the resource attacked</p> </li> <li> <p>Start time of the attack</p> </li> <li> <p>End time of the attack (ongoing attacks will not have an end time)</p> </li> </ul> <p>The details are in JSON format. </p>"
        },
        "NextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>If you have more objects than the number that you specified for <code>MaxResults</code> in the request, the response includes a <code>NextToken</code> value. To list more objects, submit another <code>GetProtectionStatus</code> request, and specify the <code>NextToken</code> value from the response in the <code>NextToken</code> value in the next request.</p> <p>Amazon Web Services SDKs provide auto-pagination that identify <code>NextToken</code> in a response and make subsequent request calls automatically on your behalf. However, this feature is not supported by <code>GetProtectionStatus</code>. You must submit subsequent requests with <code>NextToken</code> using your own processes. </p>"
        }
      }
    },
    "GetProtocolsListRequest":{
      "type":"structure",
      "required":["ListId"],
      "members":{
        "ListId":{
          "shape":"ListId",
          "documentation":"<p>The ID of the Firewall Manager protocols list that you want the details for.</p>"
        },
        "DefaultList":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the list to retrieve is a default list owned by Firewall Manager.</p>"
        }
      }
    },
    "GetProtocolsListResponse":{
      "type":"structure",
      "members":{
        "ProtocolsList":{
          "shape":"ProtocolsListData",
          "documentation":"<p>Information about the specified Firewall Manager protocols list.</p>"
        },
        "ProtocolsListArn":{
          "shape":"ResourceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the specified protocols list.</p>"
        }
      }
    },
    "GetResourceSetRequest":{
      "type":"structure",
      "required":["Identifier"],
      "members":{
        "Identifier":{
          "shape":"Base62Id",
          "documentation":"<p>A unique identifier for the resource set, used in a request to refer to the resource set.</p>"
        }
      }
    },
    "GetResourceSetResponse":{
      "type":"structure",
      "required":[
        "ResourceSet",
        "ResourceSetArn"
      ],
      "members":{
        "ResourceSet":{
          "shape":"ResourceSet",
          "documentation":"<p>Information about the specified resource set.</p>"
        },
        "ResourceSetArn":{
          "shape":"ResourceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource set.</p>"
        }
      }
    },
    "GetThirdPartyFirewallAssociationStatusRequest":{
      "type":"structure",
      "required":["ThirdPartyFirewall"],
      "members":{
        "ThirdPartyFirewall":{
          "shape":"ThirdPartyFirewall",
          "documentation":"<p>The name of the third-party firewall vendor.</p>"
        }
      }
    },
    "GetThirdPartyFirewallAssociationStatusResponse":{
      "type":"structure",
      "members":{
        "ThirdPartyFirewallStatus":{
          "shape":"ThirdPartyFirewallAssociationStatus",
          "documentation":"<p>The current status for setting a Firewall Manager policy administrators account as an administrator of the third-party firewall tenant.</p> <ul> <li> <p> <code>ONBOARDING</code> - The Firewall Manager policy administrator is being designated as a tenant administrator.</p> </li> <li> <p> <code>ONBOARD_COMPLETE</code> - The Firewall Manager policy administrator is designated as a tenant administrator.</p> </li> <li> <p> <code>OFFBOARDING</code> - The Firewall Manager policy administrator is being removed as a tenant administrator.</p> </li> <li> <p> <code>OFFBOARD_COMPLETE</code> - The Firewall Manager policy administrator has been removed as a tenant administrator.</p> </li> <li> <p> <code>NOT_EXIST</code> - The Firewall Manager policy administrator doesn't exist as a tenant administrator.</p> </li> </ul>"
        },
        "MarketplaceOnboardingStatus":{
          "shape":"MarketplaceSubscriptionOnboardingStatus",
          "documentation":"<p>The status for subscribing to the third-party firewall vendor in the Amazon Web Services Marketplace.</p> <ul> <li> <p> <code>NO_SUBSCRIPTION</code> - The Firewall Manager policy administrator isn't subscribed to the third-party firewall service in the Amazon Web Services Marketplace.</p> </li> <li> <p> <code>NOT_COMPLETE</code> - The Firewall Manager policy administrator is in the process of subscribing to the third-party firewall service in the Amazon Web Services Marketplace, but doesn't yet have an active subscription.</p> </li> <li> <p> <code>COMPLETE</code> - The Firewall Manager policy administrator has an active subscription to the third-party firewall service in the Amazon Web Services Marketplace.</p> </li> </ul>"
        }
      }
    },
    "GetViolationDetailsRequest":{
      "type":"structure",
      "required":[
        "PolicyId",
        "MemberAccount",
        "ResourceId",
        "ResourceType"
      ],
      "members":{
        "PolicyId":{
          "shape":"PolicyId",
          "documentation":"<p>The ID of the Firewall Manager policy that you want the details for. You can get violation details for the following policy types:</p> <ul> <li> <p>WAF</p> </li> <li> <p>DNS Firewall</p> </li> <li> <p>Imported Network Firewall</p> </li> <li> <p>Network Firewall</p> </li> <li> <p>Security group content audit</p> </li> <li> <p>Network ACL</p> </li> <li> <p>Third-party firewall</p> </li> </ul>"
        },
        "MemberAccount":{
          "shape":"AWSAccountId",
          "documentation":"<p>The Amazon Web Services account ID that you want the details for.</p>"
        },
        "ResourceId":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the resource that has violations.</p>"
        },
        "ResourceType":{
          "shape":"ResourceType",
          "documentation":"<p>The resource type. This is in the format shown in the <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-template-resource-type-ref.html\">Amazon Web Services Resource Types Reference</a>. Supported resource types are: <code>AWS::WAFv2::WebACL</code>, <code>AWS::EC2::Instance</code>, <code>AWS::EC2::NetworkInterface</code>, <code>AWS::EC2::SecurityGroup</code>, <code>AWS::NetworkFirewall::FirewallPolicy</code>, and <code>AWS::EC2::Subnet</code>. </p>"
        }
      }
    },
    "GetViolationDetailsResponse":{
      "type":"structure",
      "members":{
        "ViolationDetail":{
          "shape":"ViolationDetail",
          "documentation":"<p>Violation detail for a resource.</p>"
        }
      }
    },
    "IPPortNumber":{
      "type":"long",
      "max":65535,
      "min":0
    },
    "IPPortNumberInteger":{
      "type":"integer",
      "max":65535,
      "min":0
    },
    "Identifier":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$"
    },
    "IdentifierList":{
      "type":"list",
      "member":{"shape":"Identifier"}
    },
    "IntegerObject":{
      "type":"integer",
      "max":2147483647,
      "min":-2147483648
    },
    "IntegerObjectMinimum0":{
      "type":"integer",
      "max":2147483647,
      "min":0
    },
    "InternalErrorException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>The operation failed because of a system problem, even though the request was valid. Retry your request.</p>",
      "exception":true
    },
    "InvalidInputException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>The parameters of the request were invalid.</p>",
      "exception":true
    },
    "InvalidNetworkAclEntriesViolation":{
      "type":"structure",
      "members":{
        "Vpc":{
          "shape":"ResourceId",
          "documentation":"<p>The VPC where the violation was found. </p>"
        },
        "Subnet":{
          "shape":"ResourceId",
          "documentation":"<p>The subnet that's associated with the network ACL.</p>"
        },
        "SubnetAvailabilityZone":{
          "shape":"LengthBoundedString",
          "documentation":"<p>The Availability Zone where the network ACL is in use. </p>"
        },
        "CurrentAssociatedNetworkAcl":{
          "shape":"ResourceId",
          "documentation":"<p>The network ACL containing the entry violations. </p>"
        },
        "EntryViolations":{
          "shape":"EntryViolations",
          "documentation":"<p>Detailed information about the entry violations in the network ACL. </p>"
        }
      },
      "documentation":"<p>Violation detail for the entries in a network ACL resource.</p>"
    },
    "InvalidOperationException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>The operation failed because there was nothing to do or the operation wasn't possible. For example, you might have submitted an <code>AssociateAdminAccount</code> request for an account ID that was already set as the Firewall Manager administrator. Or you might have tried to access a Region that's disabled by default, and that you need to enable for the Firewall Manager administrator account and for Organizations before you can access it.</p>",
      "exception":true
    },
    "InvalidTypeException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>The value of the <code>Type</code> parameter is invalid.</p>",
      "exception":true
    },
    "IssueInfoMap":{
      "type":"map",
      "key":{"shape":"DependentServiceName"},
      "value":{"shape":"DetailedInfo"}
    },
    "LengthBoundedNonEmptyString":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "LengthBoundedString":{
      "type":"string",
      "max":1024,
      "min":0
    },
    "LengthBoundedStringList":{
      "type":"list",
      "member":{"shape":"LengthBoundedString"}
    },
    "LimitExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>The operation exceeds a resource limit, for example, the maximum number of <code>policy</code> objects that you can create for an Amazon Web Services account. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/fms-limits.html\">Firewall Manager Limits</a> in the <i>WAF Developer Guide</i>.</p>",
      "exception":true
    },
    "ListAdminAccountsForOrganizationRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>When you request a list of objects with a <code>MaxResults</code> setting, if the number of objects that are still available for retrieval exceeds the maximum you requested, Firewall Manager returns a <code>NextToken</code> value in the response. To retrieve the next batch of objects, use the token returned from the prior request in your next request.</p>"
        },
        "MaxResults":{
          "shape":"PaginationMaxResults",
          "documentation":"<p>The maximum number of objects that you want Firewall Manager to return for this request. If more objects are available, in the response, Firewall Manager provides a <code>NextToken</code> value that you can use in a subsequent call to get the next batch of objects.</p>"
        }
      }
    },
    "ListAdminAccountsForOrganizationResponse":{
      "type":"structure",
      "members":{
        "AdminAccounts":{
          "shape":"AdminAccountSummaryList",
          "documentation":"<p>A list of Firewall Manager administrator accounts within the organization that were onboarded as administrators by <a>AssociateAdminAccount</a> or <a>PutAdminAccount</a>.</p>"
        },
        "NextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>When you request a list of objects with a <code>MaxResults</code> setting, if the number of objects that are still available for retrieval exceeds the maximum you requested, Firewall Manager returns a <code>NextToken</code> value in the response. To retrieve the next batch of objects, use the token returned from the prior request in your next request.</p>"
        }
      }
    },
    "ListAdminsManagingAccountRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>When you request a list of objects with a <code>MaxResults</code> setting, if the number of objects that are still available for retrieval exceeds the maximum you requested, Firewall Manager returns a <code>NextToken</code> value in the response. To retrieve the next batch of objects, use the token returned from the prior request in your next request.</p>"
        },
        "MaxResults":{
          "shape":"PaginationMaxResults",
[...]
