<section class="gh-dashboard5-layout" {{did-insert this.onInsert}}>
    {{#if this.isLoading }}
        <GhLoadingSpinner />
    {{else}}
        {{#if this.areMembersEnabled}}
            {{#if this.hasPaidTiers}}
                <Dashboard::V5::Charts::Overview />
            {{/if}}
            <Dashboard::V5::Charts::Anchor />
        {{/if}}

        {{#if this.areNewslettersEnabled}}
            <Dashboard::V5::Charts::Engagement />
        {{/if}}

        <Dashboard::V5::Charts::RecentPosts />
        <Dashboard::V5::Charts::RecentActivity />
        <Dashboard::V5::Resources::Help />

        {{!-- <Dashboard::V5::Resources::WhatsNew /> --}}
        {{!-- <Dashboard::V5::Resources::LatestNewsletters /> --}}
        {{!-- <Dashboard::V5::Resources::StaffPicks /> --}}
    {{/if}}
</section>

<Dashboard::V5::Prototype::ControlPanel />