<section>
    {{#if this.areMembersEnabled}}
        <section class="prototype-section">
            <Dashboard::V5::MembersCounts />
        </section>

        <section class="prototype-section">
            <article class="gh-dashboard-box">
                Dropdown: 7d/30d/90d/all time
            </article>

            <article class="gh-dashboard-box">
                Total members graph
            </article>

            {{#if this.hasPaidTiers}}
                <article class="gh-dashboard-box">
                    MRR graph
                </article>

                <article class="gh-dashboard-box">
                    Total paid graph
                </article>

                <article class="gh-dashboard-box">
                    Paid members graph (new, canceled)
                </article>

                <article class="gh-dashboard-box">
                    Paid mix with cadence or tiers segmented control
                </article>
            {{/if}}
        </section>
        <section class="prototype-section">
            <Dashboard::V5::MembersEngagement />
        </section>
    {{/if}}

    {{#if this.areNewslettersEnabled}}
        <section class="prototype-section">
            <Dashboard::V5::MembersEmail />
        </section>
    {{/if}}

    <section class="prototype-section">
        <h2>Recent posts</h2>
        <article class="gh-dashboard-box">
            Recent posts
        </article>
    </section>

    <section class="prototype-section">
        <h2>Activity</h2>
        <article class="gh-dashboard-box">
            Activity feed
        </article>
    </section>
</section>

<div class="gh-main-section prototype-panel">
    <h4 class="gh-main-section-header small bn">Prototype control panel</h4>
    <div class="gh-expandable">
        <div class="gh-expandable-block">
            <div class="gh-expandable-header">
                <div>
                    <h4 class="gh-expandable-title">Has paid tiers</h4>
                    <p class="gh-expandable-description">
                        Paid memberships
                    </p>
                </div>
                <div class="for-switch">
                    <label class="switch">
                        <Input @type="checkbox" @checked={{this.mockPaidTiers}} />
                        <span class="input-toggle-component"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="gh-expandable-block">
            <div class="gh-expandable-header">
                <div>
                    <h4 class="gh-expandable-title">Stripe connected</h4>
                    <p class="gh-expandable-description">
                        Mock that Stripe is enabled
                    </p>
                </div>
                <div class="for-switch">
                    <label class="switch">
                        <Input @type="checkbox" @checked={{this.mockStripeEnabled}} />
                        <span class="input-toggle-component"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="gh-expandable-block">
            <div class="gh-expandable-header">
                <div>
                    <h4 class="gh-expandable-title">Newsletters enabled</h4>
                    <p class="gh-expandable-description">
                        All email related charts shown
                    </p>
                </div>
                <div class="for-switch">
                    <label class="switch">
                        <Input @type="checkbox" @checked={{this.mockNewslettersEnabled}} />
                        <span class="input-toggle-component"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="gh-expandable-block">
            <div class="gh-expandable-header">
                <div>
                    <h4 class="gh-expandable-title">Members enabled</h4>
                    <p class="gh-expandable-description">
                        Setting subscription access to other value than 'Nobody'
                    </p>
                </div>
                <div class="for-switch">
                    <label class="switch">
                        <Input @type="checkbox" @checked={{this.mockMembersEnabled}} />
                        <span class="input-toggle-component"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>