<section class="gh-dashboard5-layout" {{did-insert this.onInsert}}>
    {{#if this.isLoading }}
        <GhLoadingSpinner />
    {{else}}
        {{#if this.areMembersEnabled}}
            {{#if this.hasPaidTiers}}
                <Dashboard::V5::Charts::Overview />
            {{/if}}
            <Dashboard::V5::Charts::Anchor />
        {{/if}}

        {{#if this.areNewslettersEnabled}}
            <Dashboard::V5::Charts::Engagement />
        {{/if}}

        <Dashboard::V5::Charts::Recents />
    {{/if}}
</section>

<section class="gh-dashboard5-breakout">
    <div class="gh-dashboard5-inner">
        <div class="gh-dashboard5-split">
            <Dashboard::V5::Resources::Resources />
            <Dashboard::V5::Resources::WhatsNew />
        </div>
        <div class="gh-dashboard5-split">
            <Dashboard::V5::Resources::Newsletter />
            <Dashboard::V5::Resources::StaffPicks />
        </div>
        <Dashboard::V5::Resources::Community />
    </div>
</section>

<Dashboard::V5::Prototype::ControlPanel />
