<section class="gh-dashboard5-layout" {{did-insert this.onInsert}}>
    {{#if this.isLoading }}
        <GhLoadingSpinner />
    {{else}}
        {{#if this.areMembersEnabled}}
            {{#if this.hasPaidTiers}}
                <Dashboard::V5::Charts::Overview />
            {{/if}}
            <Dashboard::V5::Charts::Anchor />
        {{/if}}

        {{#if this.areNewslettersEnabled}}
            <Dashboard::V5::Charts::Engagement />
        {{/if}}

        <Dashboard::V5::Charts::Recents />

        {{!-- <div class="gh-dashboard5-split"> --}}
            <Dashboard::V5::Resources::Multi />
            {{!-- <Dashboard::V5::Resources::Community /> --}}
        {{!-- </div>      --}}

        {{!-- <Dashboard::V5::Resources::WhatsNew /> --}}
        {{!-- <Dashboard::V5::Resources::StaffPicks /> --}}
        {{!-- <Dashboard::V5::Resources::Newsletter /> --}}
    {{/if}}
</section>

<Dashboard::V5::Prototype::ControlPanel />