<!-- Update gravatar link to use ur own. Use s=64 to make avatar still look good on retina displays -->

<a id="slidemenu-toggle" href="{{@blog.url}}" class="site-nav-logo"><span class="logo" style="background-image: url(http://gravatar.com/avatar/2bc65e2b16776cbdd069017c3338d8da?s=64)"></span></a>