<ul class="slidemenu-nav">
  <a id="slidemenu-close" href="#" class="btn btn-md pull-right toggle"><i class="fa fa-chevron-circle-left fa-2x"></i></a>
  <li>
    <a href="{{@blog.url}}">
      <i class="fa fa-home"></i> Home
    </a>
  </li>
  <li><a href="{{@blog.url}}/about">
    <i class="fa fa-beer"></i> About</a>
  </li>
  <li>
    <a href="{{@blog.url}}/cheatsheets/">
      <i class="fa fa-code"></i> Cheatsheets
    </a>
  </li>
  <li>
    <a href="{{@blog.url}}/rss/">
      <i class="fa fa-rss"></i> Subscribe
    </a>
  </li>
  <li class="slidemenu-divider"></li>
  <li>
    Follow
  </li>
  <li>
    <a href="https://twitter.com/karloespiritu" target="_blank">
      <i class="fa fa-twitter"></i> Twitter
    </a>
  </li>
  <li>
    <a href="https://github.com/karloespiritu" target="_blank">
      <i class="fa fa-github"></i> Github
    </a>
  </li>
</ul>