<div class="slidemenu-nav">
  <ul class="menu-slideout-top">
    <li class="text top">
      <a id="slidemenu-close" href="#" class="btn btn-close pull-right toggle">
        <i class="icon icon-close-1"></i>
      </a>
    </li>
    <li>
      <a href="https://enhancv.com/" class="item">Homepage</a>
    </li>
    <li>
      <a href="https://enhancv.com/about.html" class="item">About us</a>
    </li>
    <li>
      <a href="https://app.enhancv.com/" class="item">Platform</a>
    </li>
    <li>
      <a href="https://enhancv.com/contacts.html" class="item">Contacts</a>
    </li>
  </ul>
  <ul class="menu-slideout-bottom separator sm">
    <li>
      <a target="_blank" href="https://enhancv.com/terms.html" class="item">Terms</a>
    </li>
    <li>
      <a target="_blank" href="https://enhancv.com/privacy.html" class="item">Privacy</a>
    </li>
    <li>
      <a target="_blank" href="https://enhancv.com/faq.html" class="item">Faq</a>
    </li>
    <li class="text top-ty">
      <a target="_blank" href="https://facebook.com/enhancv" class="btn btn-menu-social right-ty">
        <i class="fa fa-facebook"></i>
      </a>
      <a target="_blank" href="https://twitter.com/enhancv" class="btn btn-menu-social right-ty">
        <i class="fa fa-twitter"></i>
      </a>
      <a target="_blank" href="https://linkedin.com/company/enhancv" class="btn btn-menu-social right-ty">
        <i class="fa fa-linkedin"></i>
      </a>
      <a target="_blank" href="https://plus.google.com/101937788764621640784" class="btn btn-menu-social">
        <i class="fa fa-google-plus"></i>
      </a>
    </li>
  </ul>
</div>