<div class="social">
    <a href="http://facebook.com/enhancv"
     target="_blank"
     class="fa fa-facebook btn-social">
    </a>

    <a href="http://twitter.com/enhancv"
     target="_blank"
     class="fa fa-twitter btn-social">
    </a>

    <a href="http://linkedin.com/company/enhancv"
     target="_blank"
     class="fa fa-linkedin btn-social">
    </a>

    <a href="http://plus.google.com/101937788764621640784"
     target="_blank"
     class="fa fa-google btn-social">
    </a>
</div>