<ul class="list-inline social-links">
    <li><a href="https://github.com/karloespiritu" class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" title="Github"><i class="fa fa-fw fa-github"></i></a>
    </li>
    <li><a href="https://twitter.com/karloespiritu" class="btn-social btn-outline" title="Twitter"><i class="fa fa-fw fa-twitter"></i></a>
    </li>
    <li><a href="http://ph.linkedin.com/in/karloespiritu" class="btn-social btn-outline" title="LinkedIn"><i class="fa fa-fw fa-linkedin"></i></a>
    </li>
    <li><a href="https://instagram.com/karloespiritu" class="btn-social btn-outline" title="Instagram"><i class="fa fa-fw fa-instagram"></i></a>
    </li>
    <li><a href="mailto:karloespiritu@gmail.com" class="btn-social btn-outline" title="Email"><i class="fa fa-fw fa-envelope"></i></a>
    </li>
</ul>