<div class="navbar sub-nav-main text-center" role="navigation">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sub-navbar">
    Menu
  </button>

  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="sub-navbar">
      <nav class="nav nav-inline">
        <a class="nav-link active" href="#">All</a>
        <a class="nav-link" href="#">Resumes</a>
        <a class="nav-link" href="#">Career</a>
        <a class="nav-link disabled" href="#">Job Boards</a>
        <a class="nav-link" href="#">Other Stuff</a>
        <a class="nav-link" href="#">Find Your Passions</a>
      </nav>
    </div>
  </div>
</div>