{{@site.title}}

{{#if isHeader}}isHeader is set{{/if}}

{{#if isSecondary}}Jeremy Bearimy baby!{{else}}Prime time!{{/if}}

{{#foreach navigation}}
    <a href="{{url absolute="true"}}">{{label}}</a>
{{/foreach}}
