{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2010-03-31",
    "endpointPrefix":"sns",
    "protocol":"query",
    "protocols":["query"],
    "serviceAbbreviation":"Amazon SNS",
    "serviceFullName":"Amazon Simple Notification Service",
    "serviceId":"SNS",
    "signatureVersion":"v4",
    "uid":"sns-2010-03-31",
    "xmlNamespace":"http://sns.amazonaws.com/doc/2010-03-31/",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AddPermission":{
      "name":"AddPermission",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddPermissionInput"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InternalErrorException"},
        {"shape":"AuthorizationErrorException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Adds a statement to a topic's access control policy, granting access for the specified Amazon Web Services accounts to the specified actions.</p> <note> <p>To remove the ability to change topic permissions, you must deny permissions to the <code>AddPermission</code>, <code>RemovePermission</code>, and <code>SetTopicAttributes</code> actions in your IAM policy.</p> </note>"
    },
    "CheckIfPhoneNumberIsOptedOut":{
      "name":"CheckIfPhoneNumberIsOptedOut",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CheckIfPhoneNumberIsOptedOutInput"},
      "output":{
        "shape":"CheckIfPhoneNumberIsOptedOutResponse",
        "resultWrapper":"CheckIfPhoneNumberIsOptedOutResult"
      },
      "errors":[
        {"shape":"ThrottledException"},
        {"shape":"InternalErrorException"},
        {"shape":"AuthorizationErrorException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Accepts a phone number and indicates whether the phone holder has opted out of receiving SMS messages from your Amazon Web Services account. You cannot send SMS messages to a number that is opted out.</p> <p>To resume sending messages, you can opt in the number by using the <code>OptInPhoneNumber</code> action.</p>"
    },
    "ConfirmSubscription":{
      "name":"ConfirmSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ConfirmSubscriptionInput"},
      "output":{
        "shape":"ConfirmSubscriptionResponse",
        "resultWrapper":"ConfirmSubscriptionResult"
      },
      "errors":[
        {"shape":"SubscriptionLimitExceededException"},
        {"shape":"InvalidParameterException"},
        {"shape":"NotFoundException"},
        {"shape":"InternalErrorException"},
        {"shape":"AuthorizationErrorException"},
        {"shape":"FilterPolicyLimitExceededException"},
        {"shape":"ReplayLimitExceededException"}
      ],
      "documentation":"<p>Verifies an endpoint owner's intent to receive messages by validating the token sent to the endpoint by an earlier <code>Subscribe</code> action. If the token is valid, the action creates a new subscription and returns its Amazon Resource Name (ARN). This call requires an AWS signature only when the <code>AuthenticateOnUnsubscribe</code> flag is set to \"true\".</p>"
    },
    "CreatePlatformApplication":{
      "name":"CreatePlatformApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePlatformApplicationInput"},
      "output":{
        "shape":"CreatePlatformApplicationResponse",
        "resultWrapper":"CreatePlatformApplicationResult"
      },
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InternalErrorException"},
        {"shape":"AuthorizationErrorException"}
      ],
      "documentation":"<p>Creates a platform application object for one of the supported push notification services, such as APNS and GCM (Firebase Cloud Messaging), to which devices and mobile apps may register. You must specify <code>PlatformPrincipal</code> and <code>PlatformCredential</code> attributes when using the <code>CreatePlatformApplication</code> action.</p> <p> <code>PlatformPrincipal</code> and <code>PlatformCredential</code> are received from the notification service.</p> <ul> <li> <p>For ADM, <code>PlatformPrincipal</code> is <code>client id</code> and <code>PlatformCredential</code> is <code>client secret</code>.</p> </li> <li> <p>For APNS and <code>APNS_SANDBOX</code> using certificate credentials, <code>PlatformPrincipal</code> is <code>SSL certificate</code> and <code>PlatformCredential</code> is <code>private key</code>.</p> </li> <li> <p>For APNS and <code>APNS_SANDBOX</code> using token credentials, <code>PlatformPrincipal</code> is <code>signing key ID</code> and <code>PlatformCredential</code> is <code>signing key</code>.</p> </li> <li> <p>For Baidu, <code>PlatformPrincipal</code> is <code>API key</code> and <code>PlatformCredential</code> is <code>secret key</code>.</p> </li> <li> <p>For GCM (Firebase Cloud Messaging) using key credentials, there is no <code>PlatformPrincipal</code>. The <code>PlatformCredential</code> is <code>API key</code>.</p> </li> <li> <p>For GCM (Firebase Cloud Messaging) using token credentials, there is no <code>PlatformPrincipal</code>. The <code>PlatformCredential</code> is a JSON formatted private key file. When using the Amazon Web Services CLI or Amazon Web Services SDKs, the file must be in string format and special characters must be ignored. To format the file correctly, Amazon SNS recommends using the following command: <code>SERVICE_JSON=$(jq @json &lt; service.json)</code>.</p> </li> <li> <p>For MPNS, <code>PlatformPrincipal</code> is <code>TLS certificate</code> and <code>PlatformCredential</code> is <code>private key</code>.</p> </li> <li> <p>For WNS, <code>PlatformPrincipal</code> is <code>Package Security Identifier</code> and <code>PlatformCredential</code> is <code>secret key</code>.</p> </li> </ul> <p>You can use the returned <code>PlatformApplicationArn</code> as an attribute for the <code>CreatePlatformEndpoint</code> action.</p>"
    },
    "CreatePlatformEndpoint":{
      "name":"CreatePlatformEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePlatformEndpointInput"},
      "output":{
        "shape":"CreateEndpointResponse",
        "resultWrapper":"CreatePlatformEndpointResult"
      },
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InternalErrorException"},
        {"shape":"AuthorizationErrorException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Creates an endpoint for a device and mobile app on one of the supported push notification services, such as GCM (Firebase Cloud Messaging) and APNS. <code>CreatePlatformEndpoint</code> requires the <code>PlatformApplicationArn</code> that is returned from <code>CreatePlatformApplication</code>. You can use the returned <code>EndpointArn</code> to send a message to a mobile app or by the <code>Subscribe</code> action for subscription to a topic. The <code>CreatePlatformEndpoint</code> action is idempotent, so if the requester already owns an endpoint with the same device token and attributes, that endpoint's ARN is returned without creating a new endpoint. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>When using <code>CreatePlatformEndpoint</code> with Baidu, two attributes must be provided: ChannelId and UserId. The token field must also contain the ChannelId. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePushBaiduEndpoint.html\">Creating an Amazon SNS Endpoint for Baidu</a>. </p>"
    },
    "CreateSMSSandboxPhoneNumber":{
      "name":"CreateSMSSandboxPhoneNumber",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSMSSandboxPhoneNumberInput"},
      "output":{
        "shape":"CreateSMSSandboxPhoneNumberResult",
        "resultWrapper":"CreateSMSSandboxPhoneNumberResult"
      },
      "errors":[
        {"shape":"AuthorizationErrorException"},
        {"shape":"InternalErrorException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OptedOutException"},
        {"shape":"UserErrorException"},
        {"shape":"ThrottledException"}
      ],
      "documentation":"<p>Adds a destination phone number to an Amazon Web Services account in the SMS sandbox and sends a one-time password (OTP) to that phone number.</p> <p>When you start using Amazon SNS to send SMS messages, your Amazon Web Services account is in the <i>SMS sandbox</i>. The SMS sandbox provides a safe environment for you to try Amazon SNS features without risking your reputation as an SMS sender. While your Amazon Web Services account is in the SMS sandbox, you can use all of the features of Amazon SNS. However, you can send SMS messages only to verified destination phone numbers. For more information, including how to move out of the sandbox to send messages without restrictions, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-sms-sandbox.html\">SMS sandbox</a> in the <i>Amazon SNS Developer Guide</i>.</p>"
    },
    "CreateTopic":{
      "name":"CreateTopic",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTopicInput"},
      "output":{
        "shape":"CreateTopicResponse",
        "resultWrapper":"CreateTopicResult"
      },
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"TopicLimitExceededException"},
        {"shape":"InternalErrorException"},
        {"shape":"AuthorizationErrorException"},
        {"shape":"InvalidSecurityException"},
        {"shape":"TagLimitExceededException"},
        {"shape":"StaleTagException"},
        {"shape":"TagPolicyException"},
        {"shape":"ConcurrentAccessException"}
      ],
      "documentation":"<p>Creates a topic to which notifications can be published. Users can create at most 100,000 standard topics (at most 1,000 FIFO topics). For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-create-topic.html\">Creating an Amazon SNS topic</a> in the <i>Amazon SNS Developer Guide</i>. This action is idempotent, so if the requester already owns a topic with the specified name, that topic's ARN is returned without creating a new topic.</p>"
    },
    "DeleteEndpoint":{
      "name":"DeleteEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEndpointInput"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InternalErrorException"},
        {"shape":"AuthorizationErrorException"}
      ],
      "documentation":"<p>Deletes the endpoint for a device and mobile app from Amazon SNS. This action is idempotent. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>When you delete an endpoint that is also subscribed to a topic, then you must also unsubscribe the endpoint from the topic.</p>"
    },
    "DeletePlatformApplication":{
      "name":"DeletePlatformApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePlatformApplicationInput"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InternalErrorException"},
        {"shape":"AuthorizationErrorException"}
      ],
      "documentation":"<p>Deletes a platform application object for one of the supported push notification services, such as APNS and GCM (Firebase Cloud Messaging). For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p>"
    },
    "DeleteSMSSandboxPhoneNumber":{
      "name":"DeleteSMSSandboxPhoneNumber",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSMSSandboxPhoneNumberInput"},
      "output":{
        "shape":"DeleteSMSSandboxPhoneNumberResult",
        "resultWrapper":"DeleteSMSSandboxPhoneNumberResult"
      },
      "errors":[
        {"shape":"AuthorizationErrorException"},
        {"shape":"InternalErrorException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"UserErrorException"},
        {"shape":"ThrottledException"}
      ],
      "documentation":"<p>Deletes an Amazon Web Services account's verified or pending phone number from the SMS sandbox.</p> <p>When you start using Amazon SNS to send SMS messages, your Amazon Web Services account is in the <i>SMS sandbox</i>. The SMS sandbox provides a safe environment for you to try Amazon SNS features without risking your reputation as an SMS sender. While your Amazon Web Services account is in the SMS sandbox, you can use all of the features of Amazon SNS. However, you can send SMS messages only to verified destination phone numbers. For more information, including how to move out of the sandbox to send messages without restrictions, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-sms-sandbox.html\">SMS sandbox</a> in the <i>Amazon SNS Developer Guide</i>.</p>"
    },
    "DeleteTopic":{
      "name":"DeleteTopic",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTopicInput"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidStateException"},
        {"shape":"InternalErrorException"},
        {"shape":"AuthorizationErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"StaleTagException"},
        {"shape":"TagPolicyException"},
        {"shape":"ConcurrentAccessException"}
      ],
      "documentation":"<p>Deletes a topic and all its subscriptions. Deleting a topic might prevent some messages previously sent to the topic from being delivered to subscribers. This action is idempotent, so deleting a topic that does not exist does not result in an error.</p>"
    },
    "GetDataProtectionPolicy":{
      "name":"GetDataProtectionPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDataProtectionPolicyInput"},
      "output":{
        "shape":"GetDataProtectionPolicyResponse",
        "resultWrapper":"GetDataProtectionPolicyResult"
      },
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InternalErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"AuthorizationErrorException"},
        {"shape":"InvalidSecurityException"}
      ],
      "documentation":"<p>Retrieves the specified inline <code>DataProtectionPolicy</code> document that is stored in the specified Amazon SNS topic. </p>"
    },
    "GetEndpointAttributes":{
      "name":"GetEndpointAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetEndpointAttributesInput"},
      "output":{
        "shape":"GetEndpointAttributesResponse",
        "resultWrapper":"GetEndpointAttributesResult"
      },
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InternalErrorException"},
        {"shape":"AuthorizationErrorException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Retrieves the endpoint attributes for a device on one of the supported push notification services, such as GCM (Firebase Cloud Messaging) and APNS. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p>"
    },
    "GetPlatformApplicationAttributes":{
      "name":"GetPlatformApplicationAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPlatformApplicationAttributesInput"},
      "output":{
        "shape":"GetPlatformApplicationAttributesResponse",
        "resultWrapper":"GetPlatformApplicationAttributesResult"
      },
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InternalErrorException"},
        {"shape":"AuthorizationErrorException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Retrieves the attributes of the platform application object for the supported push notification services, such as APNS and GCM (Firebase Cloud Messaging). For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p>"
    },
    "GetSMSAttributes":{
      "name":"GetSMSAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSMSAttributesInput"},
      "output":{
        "shape":"GetSMSAttributesResponse",
        "resultWrapper":"GetSMSAttributesResult"
      },
      "errors":[
        {"shape":"ThrottledException"},
        {"shape":"InternalErrorException"},
        {"shape":"AuthorizationErrorException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Returns the settings for sending SMS messages from your Amazon Web Services account.</p> <p>These settings are set with the <code>SetSMSAttributes</code> action.</p>"
    },
    "GetSMSSandboxAccountStatus":{
      "name":"GetSMSSandboxAccountStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSMSSandboxAccountStatusInput"},
      "output":{
        "shape":"GetSMSSandboxAccountStatusResult",
        "resultWrapper":"GetSMSSandboxAccountStatusResult"
      },
      "errors":[
        {"shape":"AuthorizationErrorException"},
        {"shape":"InternalErrorException"},
        {"shape":"ThrottledException"}
      ],
      "documentation":"<p>Retrieves the SMS sandbox status for the calling Amazon Web Services account in the target Amazon Web Services Region.</p> <p>When you start using Amazon SNS to send SMS messages, your Amazon Web Services account is in the <i>SMS sandbox</i>. The SMS sandbox provides a safe environment for you to try Amazon SNS features without risking your reputation as an SMS sender. While your Amazon Web Services account is in the SMS sandbox, you can use all of the features of Amazon SNS. However, you can send SMS messages only to verified destination phone numbers. For more information, including how to move out of the sandbox to send messages without restrictions, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-sms-sandbox.html\">SMS sandbox</a> in the <i>Amazon SNS Developer Guide</i>.</p>"
    },
    "GetSubscriptionAttributes":{
      "name":"GetSubscriptionAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSubscriptionAttributesInput"},
      "output":{
        "shape":"GetSubscriptionAttributesResponse",
        "resultWrapper":"GetSubscriptionAttributesResult"
      },
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InternalErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"AuthorizationErrorException"}
      ],
      "documentation":"<p>Returns all of the properties of a subscription.</p>"
    },
    "GetTopicAttributes":{
      "name":"GetTopicAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTopicAttributesInput"},
      "output":{
        "shape":"GetTopicAttributesResponse",
        "resultWrapper":"GetTopicAttributesResult"
      },
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InternalErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"AuthorizationErrorException"},
        {"shape":"InvalidSecurityException"}
      ],
      "documentation":"<p>Returns all of the properties of a topic. Topic properties returned might differ based on the authorization of the user.</p>"
    },
    "ListEndpointsByPlatformApplication":{
      "name":"ListEndpointsByPlatformApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEndpointsByPlatformApplicationInput"},
      "output":{
        "shape":"ListEndpointsByPlatformApplicationResponse",
        "resultWrapper":"ListEndpointsByPlatformApplicationResult"
      },
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InternalErrorException"},
        {"shape":"AuthorizationErrorException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Lists the endpoints and endpoint attributes for devices in a supported push notification service, such as GCM (Firebase Cloud Messaging) and APNS. The results for <code>ListEndpointsByPlatformApplication</code> are paginated and return a limited list of endpoints, up to 100. If additional records are available after the first page results, then a NextToken string will be returned. To receive the next page, you call <code>ListEndpointsByPlatformApplication</code> again using the NextToken string received from the previous call. When there are no more records to return, NextToken will be null. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>This action is throttled at 30 transactions per second (TPS).</p>"
    },
    "ListOriginationNumbers":{
      "name":"ListOriginationNumbers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListOriginationNumbersRequest"},
      "output":{
        "shape":"ListOriginationNumbersResult",
        "resultWrapper":"ListOriginationNumbersResult"
      },
      "errors":[
        {"shape":"InternalErrorException"},
        {"shape":"AuthorizationErrorException"},
        {"shape":"ThrottledException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists the calling Amazon Web Services account's dedicated origination numbers and their metadata. For more information about origination numbers, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/channels-sms-originating-identities-origination-numbers.html\">Origination numbers</a> in the <i>Amazon SNS Developer Guide</i>.</p>"
    },
    "ListPhoneNumbersOptedOut":{
      "name":"ListPhoneNumbersOptedOut",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPhoneNumbersOptedOutInput"},
      "output":{
        "shape":"ListPhoneNumbersOptedOutResponse",
        "resultWrapper":"ListPhoneNumbersOptedOutResult"
      },
      "errors":[
        {"shape":"ThrottledException"},
        {"shape":"InternalErrorException"},
        {"shape":"AuthorizationErrorException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Returns a list of phone numbers that are opted out, meaning you cannot send SMS messages to them.</p> <p>The results for <code>ListPhoneNumbersOptedOut</code> are paginated, and each page returns up to 100 phone numbers. If additional phone numbers are available after the first page of results, then a <code>NextToken</code> string will be returned. To receive the next page, you call <code>ListPhoneNumbersOptedOut</code> again using the <code>NextToken</code> string received from the previous call. When there are no more records to return, <code>NextToken</code> will be null.</p>"
    },
    "ListPlatformApplications":{
      "name":"ListPlatformApplications",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPlatformApplicationsInput"},
      "output":{
        "shape":"ListPlatformApplicationsResponse",
        "resultWrapper":"ListPlatformApplicationsResult"
      },
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InternalErrorException"},
        {"shape":"AuthorizationErrorException"}
      ],
      "documentation":"<p>Lists the platform application objects for the supported push notification services, such as APNS and GCM (Firebase Cloud Messaging). The results for <code>ListPlatformApplications</code> are paginated and return a limited list of applications, up to 100. If additional records are available after the first page results, then a NextToken string will be returned. To receive the next page, you call <code>ListPlatformApplications</code> using the NextToken string received from the previous call. When there are no more records to return, <code>NextToken</code> will be null. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>This action is throttled at 15 transactions per second (TPS).</p>"
    },
    "ListSMSSandboxPhoneNumbers":{
      "name":"ListSMSSandboxPhoneNumbers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSMSSandboxPhoneNumbersInput"},
      "output":{
        "shape":"ListSMSSandboxPhoneNumbersResult",
        "resultWrapper":"ListSMSSandboxPhoneNumbersResult"
      },
      "errors":[
        {"shape":"AuthorizationErrorException"},
        {"shape":"InternalErrorException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottledException"}
      ],
      "documentation":"<p>Lists the calling Amazon Web Services account's current verified and pending destination phone numbers in the SMS sandbox.</p> <p>When you start using Amazon SNS to send SMS messages, your Amazon Web Services account is in the <i>SMS sandbox</i>. The SMS sandbox provides a safe environment for you to try Amazon SNS features without risking your reputation as an SMS sender. While your Amazon Web Services account is in the SMS sandbox, you can use all of the features of Amazon SNS. However, you can send SMS messages only to verified destination phone numbers. For more information, including how to move out of the sandbox to send messages without restrictions, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-sms-sandbox.html\">SMS sandbox</a> in the <i>Amazon SNS Developer Guide</i>.</p>"
    },
    "ListSubscriptions":{
      "name":"ListSubscriptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSubscriptionsInput"},
      "output":{
        "shape":"ListSubscriptionsResponse",
        "resultWrapper":"ListSubscriptionsResult"
      },
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InternalErrorException"},
        {"shape":"AuthorizationErrorException"}
      ],
      "documentation":"<p>Returns a list of the requester's subscriptions. Each call returns a limited list of subscriptions, up to 100. If there are more subscriptions, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> parameter in a new <code>ListSubscriptions</code> call to get further results.</p> <p>This action is throttled at 30 transactions per second (TPS).</p>"
    },
    "ListSubscriptionsByTopic":{
      "name":"ListSubscriptionsByTopic",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSubscriptionsByTopicInput"},
      "output":{
        "shape":"ListSubscriptionsByTopicResponse",
        "resultWrapper":"ListSubscriptionsByTopicResult"
      },
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InternalErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"AuthorizationErrorException"}
      ],
      "documentation":"<p>Returns a list of the subscriptions to a specific topic. Each call returns a limited list of subscriptions, up to 100. If there are more subscriptions, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> parameter in a new <code>ListSubscriptionsByTopic</code> call to get further results.</p> <p>This action is throttled at 30 transactions per second (TPS).</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{
        "shape":"ListTagsForResourceResponse",
        "resultWrapper":"ListTagsForResourceResult"
      },
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"TagPolicyException"},
        {"shape":"InvalidParameterException"},
        {"shape":"AuthorizationErrorException"},
        {"shape":"ConcurrentAccessException"}
      ],
      "documentation":"<p>List all tags added to the specified Amazon SNS topic. For an overview, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-tags.html\">Amazon SNS Tags</a> in the <i>Amazon Simple Notification Service Developer Guide</i>.</p>"
    },
    "ListTopics":{
      "name":"ListTopics",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTopicsInput"},
      "output":{
        "shape":"ListTopicsResponse",
        "resultWrapper":"ListTopicsResult"
      },
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InternalErrorException"},
        {"shape":"AuthorizationErrorException"}
      ],
      "documentation":"<p>Returns a list of the requester's topics. Each call returns a limited list of topics, up to 100. If there are more topics, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> parameter in a new <code>ListTopics</code> call to get further results.</p> <p>This action is throttled at 30 transactions per second (TPS).</p>"
    },
    "OptInPhoneNumber":{
      "name":"OptInPhoneNumber",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"OptInPhoneNumberInput"},
      "output":{
        "shape":"OptInPhoneNumberResponse",
        "resultWrapper":"OptInPhoneNumberResult"
      },
      "errors":[
        {"shape":"ThrottledException"},
        {"shape":"InternalErrorException"},
        {"shape":"AuthorizationErrorException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Use this request to opt in a phone number that is opted out, which enables you to resume sending SMS messages to the number.</p> <p>You can opt in a phone number only once every 30 days.</p>"
    },
    "Publish":{
      "name":"Publish",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PublishInput"},
      "output":{
        "shape":"PublishResponse",
        "resultWrapper":"PublishResult"
      },
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InternalErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"EndpointDisabledException"},
        {"shape":"PlatformApplicationDisabledException"},
        {"shape":"AuthorizationErrorException"},
        {"shape":"KMSDisabledException"},
        {"shape":"KMSInvalidStateException"},
        {"shape":"KMSNotFoundException"},
        {"shape":"KMSOptInRequired"},
        {"shape":"KMSThrottlingException"},
        {"shape":"KMSAccessDeniedException"},
        {"shape":"InvalidSecurityException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Sends a message to an Amazon SNS topic, a text message (SMS message) directly to a phone number, or a message to a mobile platform endpoint (when you specify the <code>TargetArn</code>).</p> <p>If you send a message to a topic, Amazon SNS delivers the message to each endpoint that is subscribed to the topic. The format of the message depends on the notification protocol for each subscribed endpoint.</p> <p>When a <code>messageId</code> is returned, the message is saved and Amazon SNS immediately delivers it to subscribers.</p> <p>To use the <code>Publish</code> action for publishing a message to a mobile endpoint, such as an app on a Kindle device or mobile phone, you must specify the EndpointArn for the TargetArn parameter. The EndpointArn is returned when making a call with the <code>CreatePlatformEndpoint</code> action. </p> <p>For more information about formatting messages, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/mobile-push-send-custommessage.html\">Send Custom Platform-Specific Payloads in Messages to Mobile Devices</a>. </p> <important> <p>You can publish messages only to topics and endpoints in the same Amazon Web Services Region.</p> </important>"
    },
    "PublishBatch":{
      "name":"PublishBatch",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PublishBatchInput"},
      "output":{
        "shape":"PublishBatchResponse",
        "resultWrapper":"PublishBatchResult"
      },
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InternalErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"EndpointDisabledException"},
        {"shape":"PlatformApplicationDisabledException"},
        {"shape":"AuthorizationErrorException"},
        {"shape":"BatchEntryIdsNotDistinctException"},
        {"shape":"BatchRequestTooLongException"},
        {"shape":"EmptyBatchRequestException"},
        {"shape":"InvalidBatchEntryIdException"},
        {"shape":"TooManyEntriesInBatchRequestException"},
        {"shape":"KMSDisabledException"},
        {"shape":"KMSInvalidStateException"},
        {"shape":"KMSNotFoundException"},
        {"shape":"KMSOptInRequired"},
        {"shape":"KMSThrottlingException"},
        {"shape":"KMSAccessDeniedException"},
        {"shape":"InvalidSecurityException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Publishes up to 10 messages to the specified topic in a single batch. This is a batch version of the <code>Publish</code> API. If you try to send more than 10 messages in a single batch request, you will receive a <code>TooManyEntriesInBatchRequest</code> exception.</p> <p>For FIFO topics, multiple messages within a single batch are published in the order they are sent, and messages are deduplicated within the batch and across batches for five minutes.</p> <p>The result of publishing each message is reported individually in the response. Because the batch request can result in a combination of successful and unsuccessful actions, you should check for batch errors even when the call returns an HTTP status code of 200.</p> <p>The maximum allowed individual message size and the maximum total payload size (the sum of the individual lengths of all of the batched messages) are both 256 KB (262,144 bytes).</p> <important> <p>The <code>PublishBatch</code> API can send up to 10 messages at a time. If you attempt to send more than 10 messages in one request, you will encounter a <code>TooManyEntriesInBatchRequest</code> exception. In such cases, split your messages into multiple requests, each containing no more than 10 messages.</p> </important> <p>Some actions take lists of parameters. These lists are specified using the <code>param.n</code> notation. Values of <code>n</code> are integers starting from <b>1</b>. For example, a parameter list with two elements looks like this:</p> <p> <code>&amp;AttributeName.1=first</code> </p> <p> <code>&amp;AttributeName.2=second</code> </p> <p>If you send a batch message to a topic, Amazon SNS publishes the batch message to each endpoint that is subscribed to the topic. The format of the batch message depends on the notification protocol for each subscribed endpoint.</p> <p>When a <code>messageId</code> is returned, the batch message is saved, and Amazon SNS immediately delivers the message to subscribers.</p>"
    },
    "PutDataProtectionPolicy":{
      "name":"PutDataProtectionPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutDataProtectionPolicyInput"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InternalErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"AuthorizationErrorException"},
        {"shape":"InvalidSecurityException"}
      ],
      "documentation":"<p>Adds or updates an inline policy document that is stored in the specified Amazon SNS topic.</p>"
    },
    "RemovePermission":{
      "name":"RemovePermission",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemovePermissionInput"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InternalErrorException"},
        {"shape":"AuthorizationErrorException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Removes a statement from a topic's access control policy.</p> <note> <p>To remove the ability to change topic permissions, you must deny permissions to the <code>AddPermission</code>, <code>RemovePermission</code>, and <code>SetTopicAttributes</code> actions in your IAM policy.</p> </note>"
    },
    "SetEndpointAttributes":{
      "name":"SetEndpointAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetEndpointAttributesInput"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InternalErrorException"},
        {"shape":"AuthorizationErrorException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Sets the attributes for an endpoint for a device on one of the supported push notification services, such as GCM (Firebase Cloud Messaging) and APNS. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p>"
    },
    "SetPlatformApplicationAttributes":{
      "name":"SetPlatformApplicationAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetPlatformApplicationAttributesInput"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InternalErrorException"},
        {"shape":"AuthorizationErrorException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Sets the attributes of the platform application object for the supported push notification services, such as APNS and GCM (Firebase Cloud Messaging). For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. For information on configuring attributes for message delivery status, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-msg-status.html\">Using Amazon SNS Application Attributes for Message Delivery Status</a>. </p>"
    },
    "SetSMSAttributes":{
      "name":"SetSMSAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetSMSAttributesInput"},
      "output":{
        "shape":"SetSMSAttributesResponse",
        "resultWrapper":"SetSMSAttributesResult"
      },
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottledException"},
        {"shape":"InternalErrorException"},
        {"shape":"AuthorizationErrorException"}
      ],
      "documentation":"<p>Use this request to set the default settings for sending SMS messages and receiving daily SMS usage reports.</p> <p>You can override some of these settings for a single message when you use the <code>Publish</code> action with the <code>MessageAttributes.entry.N</code> parameter. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sms_publish-to-phone.html\">Publishing to a mobile phone</a> in the <i>Amazon SNS Developer Guide</i>.</p> <note> <p>To use this operation, you must grant the Amazon SNS service principal (<code>sns.amazonaws.com</code>) permission to perform the <code>s3:ListBucket</code> action. </p> </note>"
    },
    "SetSubscriptionAttributes":{
      "name":"SetSubscriptionAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetSubscriptionAttributesInput"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"FilterPolicyLimitExceededException"},
        {"shape":"ReplayLimitExceededException"},
        {"shape":"InternalErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"AuthorizationErrorException"}
      ],
      "documentation":"<p>Allows a subscription owner to set an attribute of the subscription to a new value.</p>"
    },
    "SetTopicAttributes":{
      "name":"SetTopicAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetTopicAttributesInput"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InternalErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"AuthorizationErrorException"},
        {"shape":"InvalidSecurityException"}
      ],
      "documentation":"<p>Allows a topic owner to set an attribute of the topic to a new value.</p> <note> <p>To remove the ability to change topic permissions, you must deny permissions to the <code>AddPermission</code>, <code>RemovePermission</code>, and <code>SetTopicAttributes</code> actions in your IAM policy.</p> </note>"
    },
    "Subscribe":{
      "name":"Subscribe",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SubscribeInput"},
      "output":{
        "shape":"SubscribeResponse",
        "resultWrapper":"SubscribeResult"
      },
      "errors":[
        {"shape":"SubscriptionLimitExceededException"},
        {"shape":"FilterPolicyLimitExceededException"},
        {"shape":"ReplayLimitExceededException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"AuthorizationErrorException"},
        {"shape":"InvalidSecurityException"}
      ],
      "documentation":"<p>Subscribes an endpoint to an Amazon SNS topic. If the endpoint type is HTTP/S or email, or if the endpoint and the topic are not in the same Amazon Web Services account, the endpoint owner must run the <code>ConfirmSubscription</code> action to confirm the subscription.</p> <p>You call the <code>ConfirmSubscription</code> action with the token from the subscription response. Confirmation tokens are valid for two days.</p> <p>This action is throttled at 100 transactions per second (TPS).</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{
        "shape":"TagResourceResponse",
        "resultWrapper":"TagResourceResult"
      },
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"TagLimitExceededException"},
        {"shape":"StaleTagException"},
        {"shape":"TagPolicyException"},
        {"shape":"InvalidParameterException"},
        {"shape":"AuthorizationErrorException"},
        {"shape":"ConcurrentAccessException"}
      ],
      "documentation":"<p>Add tags to the specified Amazon SNS topic. For an overview, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-tags.html\">Amazon SNS Tags</a> in the <i>Amazon SNS Developer Guide</i>.</p> <p>When you use topic tags, keep the following guidelines in mind:</p> <ul> <li> <p>Adding more than 50 tags to a topic isn't recommended.</p> </li> <li> <p>Tags don't have any semantic meaning. Amazon SNS interprets tags as character strings.</p> </li> <li> <p>Tags are case-sensitive.</p> </li> <li> <p>A new tag with a key identical to that of an existing tag overwrites the existing tag.</p> </li> <li> <p>Tagging actions are limited to 10 TPS per Amazon Web Services account, per Amazon Web Services Region. If your application requires a higher throughput, file a <a href=\"https://console.aws.amazon.com/support/home#/case/create?issueType=technical\">technical support request</a>.</p> </li> </ul>"
    },
    "Unsubscribe":{
      "name":"Unsubscribe",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UnsubscribeInput"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InternalErrorException"},
        {"shape":"AuthorizationErrorException"},
        {"shape":"NotFoundException"},
        {"shape":"InvalidSecurityException"}
      ],
      "documentation":"<p>Deletes a subscription. If the subscription requires authentication for deletion, only the owner of the subscription or the topic's owner can unsubscribe, and an Amazon Web Services signature is required. If the <code>Unsubscribe</code> call does not require authentication and the requester is not the subscription owner, a final cancellation message is delivered to the endpoint, so that the endpoint owner can easily resubscribe to the topic if the <code>Unsubscribe</code> request was unintended.</p> <p>This action is throttled at 100 transactions per second (TPS).</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{
        "shape":"UntagResourceResponse",
        "resultWrapper":"UntagResourceResult"
      },
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"TagLimitExceededException"},
        {"shape":"StaleTagException"},
        {"shape":"TagPolicyException"},
        {"shape":"InvalidParameterException"},
        {"shape":"AuthorizationErrorException"},
        {"shape":"ConcurrentAccessException"}
      ],
      "documentation":"<p>Remove tags from the specified Amazon SNS topic. For an overview, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-tags.html\">Amazon SNS Tags</a> in the <i>Amazon SNS Developer Guide</i>.</p>"
    },
    "VerifySMSSandboxPhoneNumber":{
      "name":"VerifySMSSandboxPhoneNumber",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"VerifySMSSandboxPhoneNumberInput"},
      "output":{
        "shape":"VerifySMSSandboxPhoneNumberResult",
        "resultWrapper":"VerifySMSSandboxPhoneNumberResult"
      },
      "errors":[
        {"shape":"AuthorizationErrorException"},
        {"shape":"InternalErrorException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"VerificationException"},
        {"shape":"ThrottledException"}
      ],
      "documentation":"<p>Verifies a destination phone number with a one-time password (OTP) for the calling Amazon Web Services account.</p> <p>When you start using Amazon SNS to send SMS messages, your Amazon Web Services account is in the <i>SMS sandbox</i>. The SMS sandbox provides a safe environment for you to try Amazon SNS features without risking your reputation as an SMS sender. While your Amazon Web Services account is in the SMS sandbox, you can use all of the features of Amazon SNS. However, you can send SMS messages only to verified destination phone numbers. For more information, including how to move out of the sandbox to send messages without restrictions, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-sms-sandbox.html\">SMS sandbox</a> in the <i>Amazon SNS Developer Guide</i>.</p>"
    }
  },
  "shapes":{
    "ActionsList":{
      "type":"list",
      "member":{"shape":"action"}
    },
    "AddPermissionInput":{
      "type":"structure",
      "required":[
        "TopicArn",
        "Label",
        "AWSAccountId",
        "ActionName"
      ],
      "members":{
        "TopicArn":{
          "shape":"topicARN",
          "documentation":"<p>The ARN of the topic whose access control policy you wish to modify.</p>"
        },
        "Label":{
          "shape":"label",
          "documentation":"<p>A unique identifier for the new policy statement.</p>"
        },
        "AWSAccountId":{
          "shape":"DelegatesList",
          "documentation":"<p>The Amazon Web Services account IDs of the users (principals) who will be given access to the specified actions. The users must have Amazon Web Services account, but do not need to be signed up for this service.</p>"
        },
        "ActionName":{
          "shape":"ActionsList",
          "documentation":"<p>The action you want to allow for the specified principal(s).</p> <p>Valid values: Any Amazon SNS action name, for example <code>Publish</code>.</p>"
        }
      }
    },
    "AmazonResourceName":{
      "type":"string",
      "max":1011,
      "min":1
    },
    "AuthorizationErrorException":{
      "type":"structure",
      "members":{
        "message":{"shape":"string"}
      },
      "documentation":"<p>Indicates that the user has been denied access to the requested resource.</p>",
      "error":{
        "code":"AuthorizationError",
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "BatchEntryIdsNotDistinctException":{
      "type":"structure",
      "members":{
        "message":{"shape":"string"}
      },
      "documentation":"<p>Two or more batch entries in the request have the same <code>Id</code>.</p>",
      "error":{
        "code":"BatchEntryIdsNotDistinct",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "BatchRequestTooLongException":{
      "type":"structure",
      "members":{
        "message":{"shape":"string"}
      },
      "documentation":"<p>The length of all the batch messages put together is more than the limit.</p>",
      "error":{
        "code":"BatchRequestTooLong",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "BatchResultErrorEntry":{
      "type":"structure",
      "required":[
        "Id",
        "Code",
        "SenderFault"
      ],
      "members":{
        "Id":{
          "shape":"String",
          "documentation":"<p>The <code>Id</code> of an entry in a batch request</p>"
        },
        "Code":{
          "shape":"String",
          "documentation":"<p>An error code representing why the action failed on this entry.</p>"
        },
        "Message":{
          "shape":"String",
          "documentation":"<p>A message explaining why the action failed on this entry.</p>"
        },
        "SenderFault":{
          "shape":"boolean",
          "documentation":"<p>Specifies whether the error happened due to the caller of the batch API action.</p>"
        }
      },
      "documentation":"<p>Gives a detailed description of failed messages in the batch.</p>"
    },
    "BatchResultErrorEntryList":{
      "type":"list",
      "member":{"shape":"BatchResultErrorEntry"}
    },
    "Binary":{"type":"blob"},
    "CheckIfPhoneNumberIsOptedOutInput":{
      "type":"structure",
      "required":["phoneNumber"],
      "members":{
        "phoneNumber":{
          "shape":"PhoneNumber",
          "documentation":"<p>The phone number for which you want to check the opt out status.</p>"
        }
      },
      "documentation":"<p>The input for the <code>CheckIfPhoneNumberIsOptedOut</code> action.</p>"
    },
    "CheckIfPhoneNumberIsOptedOutResponse":{
      "type":"structure",
      "members":{
        "isOptedOut":{
          "shape":"boolean",
          "documentation":"<p>Indicates whether the phone number is opted out:</p> <ul> <li> <p> <code>true</code> – The phone number is opted out, meaning you cannot publish SMS messages to it.</p> </li> <li> <p> <code>false</code> – The phone number is opted in, meaning you can publish SMS messages to it.</p> </li> </ul>"
        }
      },
      "documentation":"<p>The response from the <code>CheckIfPhoneNumberIsOptedOut</code> action.</p>"
    },
    "ConcurrentAccessException":{
      "type":"structure",
      "members":{
        "message":{"shape":"string"}
      },
      "documentation":"<p>Can't perform multiple operations on a tag simultaneously. Perform the operations sequentially.</p>",
      "error":{
        "code":"ConcurrentAccess",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ConfirmSubscriptionInput":{
      "type":"structure",
      "required":[
        "TopicArn",
        "Token"
      ],
      "members":{
        "TopicArn":{
          "shape":"topicARN",
          "documentation":"<p>The ARN of the topic for which you wish to confirm a subscription.</p>"
        },
        "Token":{
          "shape":"token",
          "documentation":"<p>Short-lived token sent to an endpoint during the <code>Subscribe</code> action.</p>"
        },
        "AuthenticateOnUnsubscribe":{
          "shape":"authenticateOnUnsubscribe",
          "documentation":"<p>Disallows unauthenticated unsubscribes of the subscription. If the value of this parameter is <code>true</code> and the request has an Amazon Web Services signature, then only the topic owner and the subscription owner can unsubscribe the endpoint. The unsubscribe action requires Amazon Web Services authentication. </p>"
        }
      },
      "documentation":"<p>Input for ConfirmSubscription action.</p>"
    },
    "ConfirmSubscriptionResponse":{
      "type":"structure",
      "members":{
        "SubscriptionArn":{
          "shape":"subscriptionARN",
          "documentation":"<p>The ARN of the created subscription.</p>"
        }
      },
      "documentation":"<p>Response for ConfirmSubscriptions action.</p>"
    },
    "CreateEndpointResponse":{
      "type":"structure",
      "members":{
        "EndpointArn":{
          "shape":"String",
          "documentation":"<p>EndpointArn returned from CreateEndpoint action.</p>"
        }
      },
      "documentation":"<p>Response from CreateEndpoint action.</p>"
    },
    "CreatePlatformApplicationInput":{
      "type":"structure",
      "required":[
        "Name",
        "Platform",
        "Attributes"
      ],
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>Application names must be made up of only uppercase and lowercase ASCII letters, numbers, underscores, hyphens, and periods, and must be between 1 and 256 characters long.</p>"
        },
        "Platform":{
          "shape":"String",
          "documentation":"<p>The following platforms are supported: ADM (Amazon Device Messaging), APNS (Apple Push Notification Service), APNS_SANDBOX, and GCM (Firebase Cloud Messaging).</p>"
        },
        "Attributes":{
          "shape":"MapStringToString",
          "documentation":"<p>For a list of attributes, see <a href=\"https://docs.aws.amazon.com/sns/latest/api/API_SetPlatformApplicationAttributes.html\"> <code>SetPlatformApplicationAttributes</code> </a>.</p>"
        }
      },
      "documentation":"<p>Input for CreatePlatformApplication action.</p>"
    },
    "CreatePlatformApplicationResponse":{
      "type":"structure",
      "members":{
        "PlatformApplicationArn":{
          "shape":"String",
          "documentation":"<p> <code>PlatformApplicationArn</code> is returned.</p>"
        }
      },
      "documentation":"<p>Response from CreatePlatformApplication action.</p>"
    },
    "CreatePlatformEndpointInput":{
      "type":"structure",
      "required":[
        "PlatformApplicationArn",
        "Token"
      ],
      "members":{
        "PlatformApplicationArn":{
          "shape":"String",
          "documentation":"<p> <code>PlatformApplicationArn</code> returned from CreatePlatformApplication is used to create a an endpoint.</p>"
        },
        "Token":{
          "shape":"String",
          "documentation":"<p>Unique identifier created by the notification service for an app on a device. The specific name for Token will vary, depending on which notification service is being used. For example, when using APNS as the notification service, you need the device token. Alternatively, when using GCM (Firebase Cloud Messaging) or ADM, the device token equivalent is called the registration ID.</p>"
        },
        "CustomUserData":{
          "shape":"String",
          "documentation":"<p>Arbitrary user data to associate with the endpoint. Amazon SNS does not use this data. The data must be in UTF-8 format and less than 2KB.</p>"
        },
        "Attributes":{
          "shape":"MapStringToString",
          "documentation":"<p>For a list of attributes, see <a href=\"https://docs.aws.amazon.com/sns/latest/api/API_SetEndpointAttributes.html\"> <code>SetEndpointAttributes</code> </a>.</p>"
        }
      },
      "documentation":"<p>Input for CreatePlatformEndpoint action.</p>"
    },
    "CreateSMSSandboxPhoneNumberInput":{
      "type":"structure",
      "required":["PhoneNumber"],
      "members":{
        "PhoneNumber":{
          "shape":"PhoneNumberString",
          "documentation":"<p>The destination phone number to verify. On verification, Amazon SNS adds this phone number to the list of verified phone numbers that you can send SMS messages to.</p>"
        },
        "LanguageCode":{
          "shape":"LanguageCodeString",
          "documentation":"<p>The language to use for sending the OTP. The default value is <code>en-US</code>.</p>"
        }
      }
    },
    "CreateSMSSandboxPhoneNumberResult":{
      "type":"structure",
      "members":{}
    },
    "CreateTopicInput":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"topicName",
          "documentation":"<p>The name of the topic you want to create.</p> <p>Constraints: Topic names must be made up of only uppercase and lowercase ASCII letters, numbers, underscores, and hyphens, and must be between 1 and 256 characters long.</p> <p>For a FIFO (first-in-first-out) topic, the name must end with the <code>.fifo</code> suffix. </p>"
        },
        "Attributes":{
          "shape":"TopicAttributesMap",
          "documentation":"<p>A map of attributes with their corresponding values.</p> <p>The following lists names, descriptions, and values of the special request parameters that the <code>CreateTopic</code> action uses:</p> <ul> <li> <p> <code>DeliveryPolicy</code> – The policy that defines how Amazon SNS retries failed deliveries to HTTP/S endpoints.</p> </li> <li> <p> <code>DisplayName</code> – The display name to use for a topic with SMS subscriptions.</p> </li> <li> <p> <code>Policy</code> – The policy that defines who can access your topic. By default, only the topic owner can publish or subscribe to the topic.</p> </li> <li> <p> <code>TracingConfig</code> – Tracing mode of an Amazon SNS topic. By default <code>TracingConfig</code> is set to <code>PassThrough</code>, and the topic passes through the tracing header it receives from an Amazon SNS publisher to its subscriptions. If set to <code>Active</code>, Amazon SNS will vend X-Ray segment data to topic owner account if the sampled flag in the tracing header is true. This is only supported on standard topics.</p> </li> <li> <p>HTTP</p> <ul> <li> <p> <code>HTTPSuccessFeedbackRoleArn</code> – Indicates successful message delivery status for an Amazon SNS topic that is subscribed to an HTTP endpoint. </p> </li> <li> <p> <code>HTTPSuccessFeedbackSampleRate</code> – Indicates percentage of successful messages to sample for an Amazon SNS topic that is subscribed to an HTTP endpoint.</p> </li> <li> <p> <code>HTTPFailureFeedbackRoleArn</code> – Indicates failed message delivery status for an Amazon SNS topic that is subscribed to an HTTP endpoint.</p> </li> </ul> </li> <li> <p>Amazon Data Firehose</p> <ul> <li> <p> <code>FirehoseSuccessFeedbackRoleArn</code> – Indicates successful message delivery status for an Amazon SNS topic that is subscribed to an Amazon Data Firehose endpoint.</p> </li> <li> <p> <code>FirehoseSuccessFeedbackSampleRate</code> – Indicates percentage of successful messages to sample for an Amazon SNS topic that is subscribed to an Amazon Data Firehose endpoint.</p> </li> <li> <p> <code>FirehoseFailureFeedbackRoleArn</code> – Indicates failed message delivery status for an Amazon SNS topic that is subscribed to an Amazon Data Firehose endpoint. </p> </li> </ul> </li> <li> <p>Lambda</p> <ul> <li> <p> <code>LambdaSuccessFeedbackRoleArn</code> – Indicates successful message delivery status for an Amazon SNS topic that is subscribed to an Lambda endpoint.</p> </li> <li> <p> <code>LambdaSuccessFeedbackSampleRate</code> – Indicates percentage of successful messages to sample for an Amazon SNS topic that is subscribed to an Lambda endpoint.</p> </li> <li> <p> <code>LambdaFailureFeedbackRoleArn</code> – Indicates failed message delivery status for an Amazon SNS topic that is subscribed to an Lambda endpoint. </p> </li> </ul> </li> <li> <p>Platform application endpoint</p> <ul> <li> <p> <code>ApplicationSuccessFeedbackRoleArn</code> – Indicates successful message delivery status for an Amazon SNS topic that is subscribed to a platform application endpoint.</p> </li> <li> <p> <code>ApplicationSuccessFeedbackSampleRate</code> – Indicates percentage of successful messages to sample for an Amazon SNS topic that is subscribed to an platform application endpoint.</p> </li> <li> <p> <code>ApplicationFailureFeedbackRoleArn</code> – Indicates failed message delivery status for an Amazon SNS topic that is subscribed to an platform application endpoint.</p> </li> </ul> <note> <p>In addition to being able to configure topic attributes for message delivery status of notification messages sent to Amazon SNS application endpoints, you can also configure application attributes for the delivery status of push notification messages sent to push notification services.</p> <p>For example, For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-msg-status.html\">Using Amazon SNS Application Attributes for Message Delivery Status</a>. </p> </note> </li> <li> <p>Amazon SQS</p> <ul> <li> <p> <code>SQSSuccessFeedbackRoleArn</code> – Indicates successful message delivery status for an Amazon SNS topic that is subscribed to an Amazon SQS endpoint. </p> </li> <li> <p> <code>SQSSuccessFeedbackSampleRate</code> – Indicates percentage of successful messages to sample for an Amazon SNS topic that is subscribed to an Amazon SQS endpoint. </p> </li> <li> <p> <code>SQSFailureFeedbackRoleArn</code> – Indicates failed message delivery status for an Amazon SNS topic that is subscribed to an Amazon SQS endpoint. </p> </li> </ul> </li> </ul> <note> <p>The &lt;ENDPOINT&gt;SuccessFeedbackRoleArn and &lt;ENDPOINT&gt;FailureFeedbackRoleArn attributes are used to give Amazon SNS write access to use CloudWatch Logs on your behalf. The &lt;ENDPOINT&gt;SuccessFeedbackSampleRate attribute is for specifying the sample rate percentage (0-100) of successfully delivered messages. After you configure the &lt;ENDPOINT&gt;FailureFeedbackRoleArn attribute, then all failed message deliveries generate CloudWatch Logs. </p> </note> <p>The following attribute applies only to <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-server-side-encryption.html\">server-side encryption</a>:</p> <ul> <li> <p> <code>KmsMasterKeyId</code> – The ID of an Amazon Web Services managed customer master key (CMK) for Amazon SNS or a custom CMK. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-server-side-encryption.html#sse-key-terms\">Key Terms</a>. For more examples, see <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_DescribeKey.html#API_DescribeKey_RequestParameters\">KeyId</a> in the <i>Key Management Service API Reference</i>. </p> </li> </ul> <p>The following attributes apply only to <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-fifo-topics.html\">FIFO topics</a>:</p> <ul> <li> <p> <code>ArchivePolicy</code> – The policy that sets the retention period for messages stored in the message archive of an Amazon SNS FIFO topic.</p> </li> <li> <p> <code>ContentBasedDeduplication</code> – Enables content-based deduplication for FIFO topics.</p> <ul> <li> <p>By default, <code>ContentBasedDeduplication</code> is set to <code>false</code>. If you create a FIFO topic and this attribute is <code>false</code>, you must specify a value for the <code>MessageDeduplicationId</code> parameter for the <a href=\"https://docs.aws.amazon.com/sns/latest/api/API_Publish.html\">Publish</a> action. </p> </li> <li> <p>When you set <code>ContentBasedDeduplication</code> to <code>true</code>, Amazon SNS uses a SHA-256 hash to generate the <code>MessageDeduplicationId</code> using the body of the message (but not the attributes of the message).</p> <p>(Optional) To override the generated value, you can specify a value for the <code>MessageDeduplicationId</code> parameter for the <code>Publish</code> action.</p> </li> </ul> </li> </ul> <ul> <li> <p> <code>FifoThroughputScope</code> – Enables higher throughput for your FIFO topic by adjusting the scope of deduplication. This attribute has two possible values:</p> <ul> <li> <p> <code>Topic</code> – The scope of message deduplication is across the entire topic. This is the default value and maintains existing behavior, with a maximum throughput of 3000 messages per second or 20MB per second, whichever comes first.</p> </li> <li> <p> <code>MessageGroup</code> – The scope of deduplication is within each individual message group, which enables higher throughput per topic subject to regional quotas. For more information on quotas or to request an increase, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/sns.html\">Amazon SNS service quotas</a> in the Amazon Web Services General Reference.</p> </li> </ul> </li> </ul>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The list of tags to add to a new topic.</p> <note> <p>To be able to tag a topic on creation, you must have the <code>sns:CreateTopic</code> and <code>sns:TagResource</code> permissions.</p> </note>"
        },
        "DataProtectionPolicy":{
          "shape":"attributeValue",
          "documentation":"<p>The body of the policy document you want to use for this topic.</p> <p>You can only add one policy per topic.</p> <p>The policy must be in JSON string format.</p> <p>Length Constraints: Maximum length of 30,720.</p>"
        }
      },
      "documentation":"<p>Input for CreateTopic action.</p>"
    },
    "CreateTopicResponse":{
      "type":"structure",
      "members":{
        "TopicArn":{
          "shape":"topicARN",
          "documentation":"<p>The Amazon Resource Name (ARN) assigned to the created topic.</p>"
        }
      },
      "documentation":"<p>Response from CreateTopic action.</p>"
    },
    "DelegatesList":{
      "type":"list",
      "member":{"shape":"delegate"}
    },
    "DeleteEndpointInput":{
      "type":"structure",
      "required":["EndpointArn"],
      "members":{
        "EndpointArn":{
          "shape":"String",
          "documentation":"<p> <code>EndpointArn</code> of endpoint to delete.</p>"
        }
      },
      "documentation":"<p>Input for <code>DeleteEndpoint</code> action.</p>"
    },
    "DeletePlatformApplicationInput":{
      "type":"structure",
      "required":["PlatformApplicationArn"],
      "members":{
        "PlatformApplicationArn":{
          "shape":"String",
          "documentation":"<p> <code>PlatformApplicationArn</code> of platform application object to delete.</p>"
        }
      },
      "documentation":"<p>Input for <code>DeletePlatformApplication</code> action.</p>"
    },
    "DeleteSMSSandboxPhoneNumberInput":{
      "type":"structure",
      "required":["PhoneNumber"],
      "members":{
        "PhoneNumber":{
          "shape":"PhoneNumberString",
          "documentation":"<p>The destination phone number to delete.</p>"
        }
      }
    },
    "DeleteSMSSandboxPhoneNumberResult":{
      "type":"structure",
      "members":{}
    },
    "DeleteTopicInput":{
      "type":"structure",
      "required":["TopicArn"],
      "members":{
        "TopicArn":{
          "shape":"topicARN",
          "documentation":"<p>The ARN of the topic you want to delete.</p>"
        }
      }
    },
    "EmptyBatchRequestException":{
      "type":"structure",
      "members":{
        "message":{"shape":"string"}
      },
      "documentation":"<p>The batch request doesn't contain any entries.</p>",
      "error":{
        "code":"EmptyBatchRequest",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "Endpoint":{
      "type":"structure",
      "members":{
        "EndpointArn":{
          "shape":"String",
          "documentation":"<p>The <code>EndpointArn</code> for mobile app and device.</p>"
        },
        "Attributes":{
          "shape":"MapStringToString",
          "documentation":"<p>Attributes for endpoint.</p>"
        }
      },
      "documentation":"<p>The endpoint for mobile app and device.</p>"
    },
    "EndpointDisabledException":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"string",
          "documentation":"<p>Message for endpoint disabled.</p>"
        }
      },
      "documentation":"<p>Exception error indicating endpoint disabled.</p>",
      "error":{
        "code":"EndpointDisabled",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "FilterPolicyLimitExceededException":{
      "type":"structure",
      "members":{
        "message":{"shape":"string"}
      },
      "documentation":"<p>Indicates that the number of filter polices in your Amazon Web Services account exceeds the limit. To add more filter polices, submit an Amazon SNS Limit Increase case in the Amazon Web ServicesSupport Center.</p>",
      "error":{
        "code":"FilterPolicyLimitExceeded",
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "GetDataProtectionPolicyInput":{
      "type":"structure",
      "required":["ResourceArn"],
      "members":{
        "ResourceArn":{
          "shape":"topicARN",
          "documentation":"<p>The ARN of the topic whose <code>DataProtectionPolicy</code> you want to get.</p> <p>For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs)</a> in the Amazon Web Services General Reference.</p>"
        }
      }
    },
    "GetDataProtectionPolicyResponse":{
      "type":"structure",
      "members":{
        "DataProtectionPolicy":{
          "shape":"attributeValue",
          "documentation":"<p>Retrieves the <code>DataProtectionPolicy</code> in JSON string format.</p>"
        }
      }
    },
    "GetEndpointAttributesInput":{
      "type":"structure",
      "required":["EndpointArn"],
      "members":{
        "EndpointArn":{
          "shape":"String",
          "documentation":"<p> <code>EndpointArn</code> for <code>GetEndpointAttributes</code> input.</p>"
        }
      },
      "documentation":"<p>Input for <code>GetEndpointAttributes</code> action.</p>"
    },
    "GetEndpointAttributesResponse":{
      "type":"structure",
      "members":{
        "Attributes":{
          "shape":"MapStringToString",
          "documentation":"<p>Attributes include the following:</p> <ul> <li> <p> <code>CustomUserData</code> – arbitrary user data to associate with the endpoint. Amazon SNS does not use this data. The data must be in UTF-8 format and less than 2KB.</p> </li> <li> <p> <code>Enabled</code> – flag that enables/disables delivery to the endpoint. Amazon SNS will set this to false when a notification service indicates to Amazon SNS that the endpoint is invalid. Users can set it back to true, typically after updating Token.</p> </li> <li> <p> <code>Token</code> – device token, also referred to as a registration id, for an app and mobile device. This is returned from the notification service when an app and mobile device are registered with the notification service.</p> <note> <p>The device token for the iOS platform is returned in lowercase.</p> </note> </li> </ul>"
        }
      },
      "documentation":"<p>Response from <code>GetEndpointAttributes</code> of the <code>EndpointArn</code>.</p>"
    },
    "GetPlatformApplicationAttributesInput":{
      "type":"structure",
      "required":["PlatformApplicationArn"],
      "members":{
        "PlatformApplicationArn":{
          "shape":"String",
          "documentation":"<p> <code>PlatformApplicationArn</code> for GetPlatformApplicationAttributesInput.</p>"
        }
      },
      "documentation":"<p>Input for <code>GetPlatformApplicationAttributes</code> action.</p>"
    },
    "GetPlatformApplicationAttributesResponse":{
      "type":"structure",
      "members":{
        "Attributes":{
          "shape":"MapStringToString",
          "documentation":"<p>Attributes include the following:</p> <ul> <li> <p> <code>AppleCertificateExpiryDate</code> – The expiry date of the SSL certificate used to configure certificate-based authentication.</p> </li> <li> <p> <code>ApplePlatformTeamID</code> – The Apple developer account ID used to configure token-based authentication.</p> </li> <li> <p> <code>ApplePlatformBundleID</code> – The app identifier used to configure token-based authentication.</p> </li> <li> <p> <code>AuthenticationMethod</code> – Returns the credential type used when sending push notifications from application to APNS/APNS_Sandbox, or application to GCM.</p> <ul> <li> <p>APNS – Returns the token or certificate.</p> </li> <li> <p>GCM – Returns the token or key.</p> </li> </ul> </li> <li> <p> <code>EventEndpointCreated</code> – Topic ARN to which EndpointCreated event notifications should be sent.</p> </li> <li> <p> <code>EventEndpointDeleted</code> – Topic ARN to which EndpointDeleted event notifications should be sent.</p> </li> <li> <p> <code>EventEndpointUpdated</code> – Topic ARN to which EndpointUpdate event notifications should be sent.</p> </li> <li> <p> <code>EventDeliveryFailure</code> – Topic ARN to which DeliveryFailure event notifications should be sent upon Direct Publish delivery failure (permanent) to one of the application's endpoints.</p> </li> </ul>"
        }
      },
      "documentation":"<p>Response for <code>GetPlatformApplicationAttributes</code> action.</p>"
    },
    "GetSMSAttributesInput":{
      "type":"structure",
      "members":{
        "attributes":{
          "shape":"ListString",
          "documentation":"<p>A list of the individual attribute names, such as <code>MonthlySpendLimit</code>, for which you want values.</p> <p>For all attribute names, see <a href=\"https://docs.aws.amazon.com/sns/latest/api/API_SetSMSAttributes.html\">SetSMSAttributes</a>.</p> <p>If you don't use this parameter, Amazon SNS returns all SMS attributes.</p>"
        }
      },
      "documentation":"<p>The input for the <code>GetSMSAttributes</code> request.</p>"
    },
    "GetSMSAttributesResponse":{
      "type":"structure",
      "members":{
        "attributes":{
          "shape":"MapStringToString",
          "documentation":"<p>The SMS attribute names and their values.</p>"
        }
      },
      "documentation":"<p>The response from the <code>GetSMSAttributes</code> request.</p>"
    },
    "GetSMSSandboxAccountStatusInput":{
      "type":"structure",
      "members":{}
    },
    "GetSMSSandboxAccountStatusResult":{
      "type":"structure",
      "required":["IsInSandbox"],
      "members":{
        "IsInSandbox":{
          "shape":"boolean",
          "documentation":"<p>Indicates whether the calling Amazon Web Services account is in the SMS sandbox.</p>"
        }
      }
    },
    "GetSubscriptionAttributesInput":{
      "type":"structure",
      "required":["SubscriptionArn"],
      "members":{
        "SubscriptionArn":{
          "shape":"subscriptionARN",
          "documentation":"<p>The ARN of the subscription whose properties you want to get.</p>"
        }
      },
      "documentation":"<p>Input for GetSubscriptionAttributes.</p>"
    },
    "GetSubscriptionAttributesResponse":{
      "type":"structure",
      "members":{
        "Attributes":{
          "shape":"SubscriptionAttributesMap",
          "documentation":"<p>A map of the subscription's attributes. Attributes in this map include the following:</p> <ul> <li> <p> <code>ConfirmationWasAuthenticated</code> – <code>true</code> if the subscription confirmation request was authenticated.</p> </li> <li> <p> <code>DeliveryPolicy</code> – The JSON serialization of the subscription's delivery policy.</p> </li> <li> <p> <code>EffectiveDeliveryPolicy</code> – The JSON serialization of the effective delivery policy that takes into account the topic delivery policy and account system defaults.</p> </li> <li> <p> <code>FilterPolicy</code> – The filter policy JSON that is assigned to the subscription. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-message-filtering.html\">Amazon SNS Message Filtering</a> in the <i>Amazon SNS Developer Guide</i>.</p> </li> <li> <p> <code>FilterPolicyScope</code> – This attribute lets you choose the filtering scope by using one of the following string value types:</p> <ul> <li> <p> <code>MessageAttributes</code> (default) – The filter is applied on the message attributes.</p> </li> <li> <p> <code>MessageBody</code> – The filter is applied on the message body.</p> </li> </ul> </li> <li> <p> <code>Owner</code> – The Amazon Web Services account ID of the subscription's owner.</p> </li> <li> <p> <code>PendingConfirmation</code> – <code>true</code> if the subscription hasn't been confirmed. To confirm a pending subscription, call the <code>ConfirmSubscription</code> action with a confirmation token.</p> </li> <li> <p> <code>RawMessageDelivery</code> – <code>true</code> if raw message delivery is enabled for the subscription. Raw messages are free of JSON formatting and can be sent to HTTP/S and Amazon SQS endpoints.</p> </li> <li> <p> <code>RedrivePolicy</code> – When specified, sends undeliverable messages to the specified Amazon SQS dead-letter queue. Messages that can't be delivered due to client errors (for example, when the subscribed endpoint is unreachable) or server errors (for example, when the service that powers the subscribed endpoint becomes unavailable) are held in the dead-letter queue for further analysis or reprocessing.</p> </li> <li> <p> <code>SubscriptionArn</code> – The subscription's ARN.</p> </li> <li> <p> <code>TopicArn</code> – The topic ARN that the subscription is associated with.</p> </li> </ul> <p>The following attribute applies only to Amazon Data Firehose delivery stream subscriptions:</p> <ul> <li> <p> <code>SubscriptionRoleArn</code> – The ARN of the IAM role that has the following:</p> <ul> <li> <p>Permission to write to the Firehose delivery stream</p> </li> <li> <p>Amazon SNS listed as a trusted entity</p> </li> </ul> <p>Specifying a valid ARN for this attribute is required for Firehose delivery stream subscriptions. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-firehose-as-subscriber.html\">Fanout to Firehose delivery streams</a> in the <i>Amazon SNS Developer Guide</i>.</p> </li> </ul>"
        }
      },
      "documentation":"<p>Response for GetSubscriptionAttributes action.</p>"
    },
    "GetTopicAttributesInput":{
      "type":"structure",
      "required":["TopicArn"],
      "members":{
        "TopicArn":{
          "shape":"topicARN",
          "documentation":"<p>The ARN of the topic whose properties you want to get.</p>"
        }
      },
      "documentation":"<p>Input for GetTopicAttributes action.</p>"
    },
    "GetTopicAttributesResponse":{
      "type":"structure",
      "members":{
        "Attributes":{
          "shape":"TopicAttributesMap",
          "documentation":"<p>A map of the topic's attributes. Attributes in this map include the following:</p> <ul> <li> <p> <code>DeliveryPolicy</code> – The JSON serialization of the topic's delivery policy.</p> </li> <li> <p> <code>DisplayName</code> – The human-readable name used in the <code>From</code> field for notifications to <code>email</code> and <code>email-json</code> endpoints.</p> </li> <li> <p> <code>EffectiveDeliveryPolicy</code> – The JSON serialization of the effective delivery policy, taking system defaults into account.</p> </li> <li> <p> <code>Owner</code> – The Amazon Web Services account ID of the topic's owner.</p> </li> <li> <p> <code>Policy</code> – The JSON serialization of the topic's access control policy.</p> </li> <li> <p> <code>SignatureVersion</code> – The signature version corresponds to the hashing algorithm used while creating the signature of the notifications, subscription confirmations, or unsubscribe confirmation messages sent by Amazon SNS.</p> <ul> <li> <p>By default, <code>SignatureVersion</code> is set to <b>1</b>. The signature is a Base64-encoded <b>SHA1withRSA</b> signature.</p> </li> <li> <p>When you set <code>SignatureVersion</code> to <b>2</b>. Amazon SNS uses a Base64-encoded <b>SHA256withRSA</b> signature. </p> <note> <p>If the API response does not include the <code>SignatureVersion</code> attribute, it means that the <code>SignatureVersion</code> for the topic has value <b>1</b>.</p> </note> </li> </ul> </li> <li> <p> <code>SubscriptionsConfirmed</code> – The number of confirmed subscriptions for the topic.</p> </li> <li> <p> <code>SubscriptionsDeleted</code> – The number of deleted subscriptions for the topic.</p> </li> <li> <p> <code>SubscriptionsPending</code> – The number of subscriptions pending confirmation for the topic.</p> </li> <li> <p> <code>TopicArn</code> – The topic's ARN.</p> </li> <li> <p> <code>TracingConfig</code> – Tracing mode of an Amazon SNS topic. By default <code>TracingConfig</code> is set to <code>PassThrough</code>, and the topic passes through the tracing header it receives from an Amazon SNS publisher to its subscriptions. If set to <code>Active</code>, Amazon SNS will vend X-Ray segment data to topic owner account if the sampled flag in the tracing header is true. This is only supported on standard topics.</p> </li> </ul> <p>The following attribute applies only to <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-server-side-encryption.html\">server-side-encryption</a>:</p> <ul> <li> <p> <code>KmsMasterKeyId</code> - The ID of an Amazon Web Services managed customer master key (CMK) for Amazon SNS or a custom CMK. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-server-side-encryption.html#sse-key-terms\">Key Terms</a>. For more examples, see <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_DescribeKey.html#API_DescribeKey_RequestParameters\">KeyId</a> in the <i>Key Management Service API Reference</i>.</p> </li> </ul> <p>The following attributes apply only to <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-fifo-topics.html\">FIFO topics</a>:</p> <ul> <li> <p> <code>ArchivePolicy</code> – The policy that sets the retention period for messages stored in the message archive of an Amazon SNS FIFO topic.</p> </li> <li> <p> <code>BeginningArchiveTime</code> – The earliest starting point at which a message in the topic’s archive can be replayed from. This point in time is based on the configured message retention period set by the topic’s message archiving policy.</p> </li> <li> <p> <code>ContentBasedDeduplication</code> – Enables content-based deduplication for FIFO topics.</p> <ul> <li> <p>By default, <code>ContentBasedDeduplication</code> is set to <code>false</code>. If you create a FIFO topic and this attribute is <code>false</code>, you must specify a value for the <code>MessageDeduplicationId</code> parameter for the <a href=\"https://docs.aws.amazon.com/sns/latest/api/API_Publish.html\">Publish</a> action. </p> </li> <li> <p>When you set <code>ContentBasedDeduplication</code> to <code>true</code>, Amazon SNS uses a SHA-256 hash to generate the <code>MessageDeduplicationId</code> using the body of the message (but not the attributes of the message).</p> <p>(Optional) To override the generated value, you can specify a value for the <code>MessageDeduplicationId</code> parameter for the <code>Publish</code> action.</p> </li> </ul> </li> <li> <p> <code>FifoTopic</code> – When this is set to <code>true</code>, a FIFO topic is created.</p> </li> </ul>"
        }
      },
      "documentation":"<p>Response for GetTopicAttributes action.</p>"
    },
    "InternalErrorException":{
      "type":"structure",
      "members":{
        "message":{"shape":"string"}
      },
      "documentation":"<p>Indicates an internal service error.</p>",
      "error":{
        "code":"InternalError",
        "httpStatusCode":500
      },
      "exception":true,
      "fault":true
    },
    "InvalidBatchEntryIdException":{
      "type":"structure",
      "members":{
        "message":{"shape":"string"}
      },
      "documentation":"<p>The <code>Id</code> of a batch entry in a batch request doesn't abide by the specification. </p>",
      "error":{
        "code":"InvalidBatchEntryId",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "InvalidParameterException":{
      "type":"structure",
      "members":{
        "message":{"shape":"string"}
      },
      "documentation":"<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
      "error":{
        "code":"InvalidParameter",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "InvalidParameterValueException":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"string",
          "documentation":"<p>The parameter of an entry in a request doesn't abide by the specification. </p>"
        }
      },
      "documentation":"<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
      "error":{
        "code":"ParameterValueInvalid",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "InvalidSecurityException":{
      "type":"structure",
      "members":{
        "message":{"shape":"string"}
      },
      "documentation":"<p>The credential signature isn't valid. You must use an HTTPS endpoint and sign your request using Signature Version 4.</p>",
      "error":{
        "code":"InvalidSecurity",
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "InvalidStateException":{
      "type":"structure",
      "members":{
        "message":{"shape":"string"}
      },
      "documentation":"<p>Indicates that the specified state is not a valid state for an event source.</p>",
      "error":{
        "code":"InvalidState",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "Iso2CountryCode":{
      "type":"string",
      "documentation":"The two-character code, in ISO 3166-1 alpha-2 format, for the country or region. For example, GB or US.",
      "max":2,
      "pattern":"^[A-Za-z]{2}$"
    },
    "KMSAccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"string"}
      },
      "documentation":"<p>The ciphertext references a key that doesn't exist or that you don't have access to.</p>",
      "error":{
        "code":"KMSAccessDenied",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "KMSDisabledException":{
      "type":"structure",
      "members":{
        "message":{"shape":"string"}
      },
      "documentation":"<p>The request was rejected because the specified Amazon Web Services KMS key isn't enabled.</p>",
      "error":{
        "code":"KMSDisabled",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "KMSInvalidStateException":{
      "type":"structure",
      "members":{
        "message":{"shape":"string"}
      },
      "documentation":"<p>The request was rejected because the state of the specified resource isn't valid for this request. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">Key states of Amazon Web Services KMS keys</a> in the <i>Key Management Service Developer Guide</i>.</p>",
      "error":{
        "code":"KMSInvalidState",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "KMSNotFoundException":{
      "type":"structure",
      "members":{
        "message":{"shape":"string"}
      },
      "documentation":"<p>The request was rejected because the specified entity or resource can't be found.</p>",
      "error":{
        "code":"KMSNotFound",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "KMSOptInRequired":{
      "type":"structure",
      "members":{
        "message":{"shape":"string"}
      },
      "documentation":"<p>The Amazon Web Services access key ID needs a subscription for the service.</p>",
      "error":{
        "code":"KMSOptInRequired",
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "KMSThrottlingException":{
      "type":"structure",
      "members":{
        "message":{"shape":"string"}
      },
      "documentation":"<p>The request was denied due to request throttling. For more information about throttling, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/limits.html#requests-per-second\">Limits</a> in the <i>Key Management Service Developer Guide.</i> </p>",
      "error":{
        "code":"KMSThrottling",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "LanguageCodeString":{
      "type":"string",
      "documentation":"Supported language code for sending OTP message",
      "enum":[
        "en-US",
        "en-GB",
        "es-419",
        "es-ES",
        "de-DE",
        "fr-CA",
        "fr-FR",
        "it-IT",
        "ja-JP",
        "pt-BR",
        "kr-KR",
        "zh-CN",
        "zh-TW"
      ]
    },
    "ListEndpointsByPlatformApplicationInput":{
      "type":"structure",
      "required":["PlatformApplicationArn"],
      "members":{
        "PlatformApplicationArn":{
          "shape":"String",
          "documentation":"<p> <code>PlatformApplicationArn</code> for <code>ListEndpointsByPlatformApplicationInput</code> action.</p>"
        },
        "NextToken":{
          "shape":"String",
          "documentation":"<p> <code>NextToken</code> string is used when calling <code>ListEndpointsByPlatformApplication</code> action to retrieve additional records that are available after the first page results.</p>"
        }
      },
      "documentation":"<p>Input for <code>ListEndpointsByPlatformApplication</code> action.</p>"
    },
    "ListEndpointsByPlatformApplicationResponse":{
      "type":"structure",
      "members":{
        "Endpoints":{
          "shape":"ListOfEndpoints",
          "documentation":"<p>Endpoints returned for <code>ListEndpointsByPlatformApplication</code> action.</p>"
        },
        "NextToken":{
          "shape":"String",
          "documentation":"<p> <code>NextToken</code> string is returned when calling <code>ListEndpointsByPlatformApplication</code> action if additional records are available after the first page results.</p>"
        }
      },
      "documentation":"<p>Response for <code>ListEndpointsByPlatformApplication</code> action.</p>"
    },
    "ListOfEndpoints":{
      "type":"list",
      "member":{"shape":"Endpoint"}
    },
    "ListOfPlatformApplications":{
      "type":"list",
      "member":{"shape":"PlatformApplication"}
    },
    "ListOriginationNumbersRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"nextToken",
          "documentation":"<p>Token that the previous <code>ListOriginationNumbers</code> request returns.</p>"
        },
        "MaxResults":{
          "shape":"MaxItemsListOriginationNumbers",
          "documentation":"<p>The maximum number of origination numbers to return.</p>"
        }
      }
    },
    "ListOriginationNumbersResult":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"nextToken",
          "documentation":"<p>A <code>NextToken</code> string is returned when you call the <code>ListOriginationNumbers</code> operation if additional pages of records are available.</p>"
        },
        "PhoneNumbers":{
          "shape":"PhoneNumberInformationList",
          "documentation":"<p>A list of the calling account's verified and pending origination numbers.</p>"
        }
      }
    },
    "ListPhoneNumbersOptedOutInput":{
      "type":"structure",
      "members":{
        "nextToken":{
          "shape":"string",
          "documentation":"<p>A <code>NextToken</code> string is used when you call the <code>ListPhoneNumbersOptedOut</code> action to retrieve additional records that are available after the first page of results.</p>"
        }
      },
      "documentation":"<p>The input for the <code>ListPhoneNumbersOptedOut</code> action.</p>"
    },
    "ListPhoneNumbersOptedOutResponse":{
      "type":"structure",
      "members":{
        "phoneNumbers":{
          "shape":"PhoneNumberList",
          "documentation":"<p>A list of phone numbers that are opted out of receiving SMS messages. The list is paginated, and each page can contain up to 100 phone numbers.</p>"
        },
        "nextToken":{
          "shape":"string",
          "documentation":"<p>A <code>NextToken</code> string is returned when you call the <code>ListPhoneNumbersOptedOut</code> action if additional records are available after the first page of results.</p>"
        }
      },
      "documentation":"<p>The response from the <code>ListPhoneNumbersOptedOut</code> action.</p>"
    },
    "ListPlatformApplicationsInput":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"String",
          "documentation":"<p> <code>NextToken</code> string is used when calling <code>ListPlatformApplications</code> action to retrieve additional records that are available after the first page results.</p>"
        }
      },
      "documentation":"<p>Input for <code>ListPlatformApplications</code> action.</p>"
    },
    "ListPlatformApplicationsResponse":{
      "type":"structure",
      "members":{
        "PlatformApplications":{
          "shape":"ListOfPlatformApplications",
          "documentation":"<p>Platform applications returned when calling <code>ListPlatformApplications</code> action.</p>"
        },
        "NextToken":{
          "shape":"String",
          "documentation":"<p> <code>NextToken</code> string is returned when calling <code>ListPlatformApplications</code> action if additional records are available after the first page results.</p>"
        }
      },
      "documentation":"<p>Response for <code>ListPlatformApplications</code> action.</p>"
    },
    "ListSMSSandboxPhoneNumbersInput":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"nextToken",
          "documentation":"<p>Token that the previous <code>ListSMSSandboxPhoneNumbersInput</code> request returns.</p>"
        },
        "MaxResults":{
          "shape":"MaxItems",
          "documentation":"<p>The maximum number of phone numbers to return.</p>"
        }
      }
    },
    "ListSMSSandboxPhoneNumbersResult":{
      "type":"structure",
      "required":["PhoneNumbers"],
      "members":{
        "PhoneNumbers":{
          "shape":"SMSSandboxPhoneNumberList",
          "documentation":"<p>A list of the calling account's pending and verified phone numbers.</p>"
        },
        "NextToken":{
          "shape":"string",
          "documentation":"<p>A <code>NextToken</code> string is returned when you call the <code>ListSMSSandboxPhoneNumbersInput</code> operation if additional pages of records are available.</p>"
        }
      }
    },
    "ListString":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "ListSubscriptionsByTopicInput":{
      "type":"structure",
      "required":["TopicArn"],
      "members":{
        "TopicArn":{
          "shape":"topicARN",
          "documentation":"<p>The ARN of the topic for which you wish to find subscriptions.</p>"
        },
        "NextToken":{
          "shape":"nextToken",
          "documentation":"<p>Token returned by the previous <code>ListSubscriptionsByTopic</code> request.</p>"
        }
      },
      "documentation":"<p>Input for ListSubscriptionsByTopic action.</p>"
    },
    "ListSubscriptionsByTopicResponse":{
      "type":"structure",
      "members":{
        "Subscriptions":{
          "shape":"SubscriptionsList",
          "documentation":"<p>A list of subscriptions.</p>"
        },
        "NextToken":{
          "shape":"nextToken",
          "documentation":"<p>Token to pass along to the next <code>ListSubscriptionsByTopic</code> request. This element is returned if there are more subscriptions to retrieve.</p>"
        }
      },
      "documentation":"<p>Response for ListSubscriptionsByTopic action.</p>"
    },
    "ListSubscriptionsInput":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"nextToken",
          "documentation":"<p>Token returned by the previous <code>ListSubscriptions</code> request.</p>"
        }
      },
      "documentation":"<p>Input for ListSubscriptions action.</p>"
    },
    "ListSubscriptionsResponse":{
      "type":"structure",
      "members":{
        "Subscriptions":{
          "shape":"SubscriptionsList",
          "documentation":"<p>A list of subscriptions.</p>"
        },
        "NextToken":{
          "shape":"nextToken",
          "documentation":"<p>Token to pass along to the next <code>ListSubscriptions</code> request. This element is returned if there are more subscriptions to retrieve.</p>"
        }
      },
      "documentation":"<p>Response for ListSubscriptions action</p>"
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":["ResourceArn"],
      "members":{
        "ResourceArn":{
          "shape":"AmazonResourceName",
          "documentation":"<p>The ARN of the topic for which to list tags.</p>"
        }
      }
    },
    "ListTagsForResourceResponse":{
      "type":"structure",
      "members":{
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The tags associated with the specified topic.</p>"
        }
      }
    },
    "ListTopicsInput":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"nextToken",
          "documentation":"<p>Token returned by the previous <code>ListTopics</code> request.</p>"
        }
      }
    },
    "ListTopicsResponse":{
      "type":"structure",
      "members":{
        "Topics":{
          "shape":"TopicsList",
          "documentation":"<p>A list of topic ARNs.</p>"
        },
        "NextToken":{
          "shape":"nextToken",
          "documentation":"<p>Token to pass along to the next <code>ListTopics</code> request. This element is returned if there are additional topics to retrieve.</p>"
        }
      },
[...]
