{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2020-04-30",
    "endpointPrefix":"resiliencehub",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"AWS Resilience Hub",
    "serviceId":"resiliencehub",
    "signatureVersion":"v4",
    "signingName":"resiliencehub",
    "uid":"resiliencehub-2020-04-30",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AcceptResourceGroupingRecommendations":{
      "name":"AcceptResourceGroupingRecommendations",
      "http":{
        "method":"POST",
        "requestUri":"/accept-resource-grouping-recommendations",
        "responseCode":200
      },
      "input":{"shape":"AcceptResourceGroupingRecommendationsRequest"},
      "output":{"shape":"AcceptResourceGroupingRecommendationsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Accepts the resource grouping recommendations suggested by Resilience Hub for your application.</p>"
    },
    "AddDraftAppVersionResourceMappings":{
      "name":"AddDraftAppVersionResourceMappings",
      "http":{
        "method":"POST",
        "requestUri":"/add-draft-app-version-resource-mappings",
        "responseCode":200
      },
      "input":{"shape":"AddDraftAppVersionResourceMappingsRequest"},
      "output":{"shape":"AddDraftAppVersionResourceMappingsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Adds the source of resource-maps to the draft version of an application. During assessment, Resilience Hub will use these resource-maps to resolve the latest physical ID for each resource in the application template. For more information about different types of resources supported by Resilience Hub and how to add them in your application, see <a href=\"https://docs.aws.amazon.com/resilience-hub/latest/userguide/how-app-manage.html\">Step 2: How is your application managed?</a> in the Resilience Hub User Guide.</p>"
    },
    "BatchUpdateRecommendationStatus":{
      "name":"BatchUpdateRecommendationStatus",
      "http":{
        "method":"POST",
        "requestUri":"/batch-update-recommendation-status",
        "responseCode":200
      },
      "input":{"shape":"BatchUpdateRecommendationStatusRequest"},
      "output":{"shape":"BatchUpdateRecommendationStatusResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Enables you to include or exclude one or more operational recommendations.</p>"
    },
    "CreateApp":{
      "name":"CreateApp",
      "http":{
        "method":"POST",
        "requestUri":"/create-app",
        "responseCode":200
      },
      "input":{"shape":"CreateAppRequest"},
      "output":{"shape":"CreateAppResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates an Resilience Hub application. An Resilience Hub application is a collection of Amazon Web Services resources structured to prevent and recover Amazon Web Services application disruptions. To describe a Resilience Hub application, you provide an application name, resources from one or more CloudFormation stacks, Resource Groups, Terraform state files, AppRegistry applications, and an appropriate resiliency policy. In addition, you can also add resources that are located on Amazon Elastic Kubernetes Service (Amazon EKS) clusters as optional resources. For more information about the number of resources supported per application, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/resiliencehub.html#limits_resiliencehub\">Service quotas</a>.</p> <p>After you create an Resilience Hub application, you publish it so that you can run a resiliency assessment on it. You can then use recommendations from the assessment to improve resiliency by running another assessment, comparing results, and then iterating the process until you achieve your goals for recovery time objective (RTO) and recovery point objective (RPO).</p>"
    },
    "CreateAppVersionAppComponent":{
      "name":"CreateAppVersionAppComponent",
      "http":{
        "method":"POST",
        "requestUri":"/create-app-version-app-component",
        "responseCode":200
      },
      "input":{"shape":"CreateAppVersionAppComponentRequest"},
      "output":{"shape":"CreateAppVersionAppComponentResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a new Application Component in the Resilience Hub application.</p> <note> <p>This API updates the Resilience Hub application draft version. To use this Application Component for running assessments, you must publish the Resilience Hub application using the <code>PublishAppVersion</code> API.</p> </note>"
    },
    "CreateAppVersionResource":{
      "name":"CreateAppVersionResource",
      "http":{
        "method":"POST",
        "requestUri":"/create-app-version-resource",
        "responseCode":200
      },
      "input":{"shape":"CreateAppVersionResourceRequest"},
      "output":{"shape":"CreateAppVersionResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Adds a resource to the Resilience Hub application and assigns it to the specified Application Components. If you specify a new Application Component, Resilience Hub will automatically create the Application Component.</p> <note> <ul> <li> <p>This action has no effect outside Resilience Hub.</p> </li> <li> <p>This API updates the Resilience Hub application draft version. To use this resource for running resiliency assessments, you must publish the Resilience Hub application using the <code>PublishAppVersion</code> API.</p> </li> <li> <p>To update application version with new <code>physicalResourceID</code>, you must call <code>ResolveAppVersionResources</code> API.</p> </li> </ul> </note>"
    },
    "CreateRecommendationTemplate":{
      "name":"CreateRecommendationTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/create-recommendation-template",
        "responseCode":200
      },
      "input":{"shape":"CreateRecommendationTemplateRequest"},
      "output":{"shape":"CreateRecommendationTemplateResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a new recommendation template for the Resilience Hub application.</p>"
    },
    "CreateResiliencyPolicy":{
      "name":"CreateResiliencyPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/create-resiliency-policy",
        "responseCode":200
      },
      "input":{"shape":"CreateResiliencyPolicyRequest"},
      "output":{"shape":"CreateResiliencyPolicyResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a resiliency policy for an application.</p> <note> <p>Resilience Hub allows you to provide a value of zero for <code>rtoInSecs</code> and <code>rpoInSecs</code> of your resiliency policy. But, while assessing your application, the lowest possible assessment result is near zero. Hence, if you provide value zero for <code>rtoInSecs</code> and <code>rpoInSecs</code>, the estimated workload RTO and estimated workload RPO result will be near zero and the <b>Compliance status</b> for your application will be set to <b>Policy breached</b>.</p> </note>"
    },
    "DeleteApp":{
      "name":"DeleteApp",
      "http":{
        "method":"POST",
        "requestUri":"/delete-app",
        "responseCode":200
      },
      "input":{"shape":"DeleteAppRequest"},
      "output":{"shape":"DeleteAppResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes an Resilience Hub application. This is a destructive action that can't be undone.</p>"
    },
    "DeleteAppAssessment":{
      "name":"DeleteAppAssessment",
      "http":{
        "method":"POST",
        "requestUri":"/delete-app-assessment",
        "responseCode":200
      },
      "input":{"shape":"DeleteAppAssessmentRequest"},
      "output":{"shape":"DeleteAppAssessmentResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes an Resilience Hub application assessment. This is a destructive action that can't be undone.</p>"
    },
    "DeleteAppInputSource":{
      "name":"DeleteAppInputSource",
      "http":{
        "method":"POST",
        "requestUri":"/delete-app-input-source",
        "responseCode":200
      },
      "input":{"shape":"DeleteAppInputSourceRequest"},
      "output":{"shape":"DeleteAppInputSourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes the input source and all of its imported resources from the Resilience Hub application.</p>"
    },
    "DeleteAppVersionAppComponent":{
      "name":"DeleteAppVersionAppComponent",
      "http":{
        "method":"POST",
        "requestUri":"/delete-app-version-app-component",
        "responseCode":200
      },
      "input":{"shape":"DeleteAppVersionAppComponentRequest"},
      "output":{"shape":"DeleteAppVersionAppComponentResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes an Application Component from the Resilience Hub application.</p> <note> <ul> <li> <p>This API updates the Resilience Hub application draft version. To use this Application Component for running assessments, you must publish the Resilience Hub application using the <code>PublishAppVersion</code> API.</p> </li> <li> <p>You will not be able to delete an Application Component if it has resources associated with it.</p> </li> </ul> </note>"
    },
    "DeleteAppVersionResource":{
      "name":"DeleteAppVersionResource",
      "http":{
        "method":"POST",
        "requestUri":"/delete-app-version-resource",
        "responseCode":200
      },
      "input":{"shape":"DeleteAppVersionResourceRequest"},
      "output":{"shape":"DeleteAppVersionResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a resource from the Resilience Hub application.</p> <note> <ul> <li> <p>You can only delete a manually added resource. To exclude non-manually added resources, use the <code>UpdateAppVersionResource</code> API.</p> </li> <li> <p>This action has no effect outside Resilience Hub.</p> </li> <li> <p>This API updates the Resilience Hub application draft version. To use this resource for running resiliency assessments, you must publish the Resilience Hub application using the <code>PublishAppVersion</code> API.</p> </li> </ul> </note>"
    },
    "DeleteRecommendationTemplate":{
      "name":"DeleteRecommendationTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/delete-recommendation-template",
        "responseCode":200
      },
      "input":{"shape":"DeleteRecommendationTemplateRequest"},
      "output":{"shape":"DeleteRecommendationTemplateResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a recommendation template. This is a destructive action that can't be undone.</p>"
    },
    "DeleteResiliencyPolicy":{
      "name":"DeleteResiliencyPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/delete-resiliency-policy",
        "responseCode":200
      },
      "input":{"shape":"DeleteResiliencyPolicyRequest"},
      "output":{"shape":"DeleteResiliencyPolicyResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a resiliency policy. This is a destructive action that can't be undone.</p>"
    },
    "DescribeApp":{
      "name":"DescribeApp",
      "http":{
        "method":"POST",
        "requestUri":"/describe-app",
        "responseCode":200
      },
      "input":{"shape":"DescribeAppRequest"},
      "output":{"shape":"DescribeAppResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Describes an Resilience Hub application.</p>"
    },
    "DescribeAppAssessment":{
      "name":"DescribeAppAssessment",
      "http":{
        "method":"POST",
        "requestUri":"/describe-app-assessment",
        "responseCode":200
      },
      "input":{"shape":"DescribeAppAssessmentRequest"},
      "output":{"shape":"DescribeAppAssessmentResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Describes an assessment for an Resilience Hub application.</p>"
    },
    "DescribeAppVersion":{
      "name":"DescribeAppVersion",
      "http":{
        "method":"POST",
        "requestUri":"/describe-app-version",
        "responseCode":200
      },
      "input":{"shape":"DescribeAppVersionRequest"},
      "output":{"shape":"DescribeAppVersionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Describes the Resilience Hub application version.</p>"
    },
    "DescribeAppVersionAppComponent":{
      "name":"DescribeAppVersionAppComponent",
      "http":{
        "method":"POST",
        "requestUri":"/describe-app-version-app-component",
        "responseCode":200
      },
      "input":{"shape":"DescribeAppVersionAppComponentRequest"},
      "output":{"shape":"DescribeAppVersionAppComponentResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Describes an Application Component in the Resilience Hub application.</p>"
    },
    "DescribeAppVersionResource":{
      "name":"DescribeAppVersionResource",
      "http":{
        "method":"POST",
        "requestUri":"/describe-app-version-resource",
        "responseCode":200
      },
      "input":{"shape":"DescribeAppVersionResourceRequest"},
      "output":{"shape":"DescribeAppVersionResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Describes a resource of the Resilience Hub application.</p> <note> <p>This API accepts only one of the following parameters to describe the resource:</p> <ul> <li> <p> <code>resourceName</code> </p> </li> <li> <p> <code>logicalResourceId</code> </p> </li> <li> <p> <code>physicalResourceId</code> (Along with <code>physicalResourceId</code>, you can also provide <code>awsAccountId</code>, and <code>awsRegion</code>)</p> </li> </ul> </note>"
    },
    "DescribeAppVersionResourcesResolutionStatus":{
      "name":"DescribeAppVersionResourcesResolutionStatus",
      "http":{
        "method":"POST",
        "requestUri":"/describe-app-version-resources-resolution-status",
        "responseCode":200
      },
      "input":{"shape":"DescribeAppVersionResourcesResolutionStatusRequest"},
      "output":{"shape":"DescribeAppVersionResourcesResolutionStatusResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns the resolution status for the specified resolution identifier for an application version. If <code>resolutionId</code> is not specified, the current resolution status is returned.</p>"
    },
    "DescribeAppVersionTemplate":{
      "name":"DescribeAppVersionTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/describe-app-version-template",
        "responseCode":200
      },
      "input":{"shape":"DescribeAppVersionTemplateRequest"},
      "output":{"shape":"DescribeAppVersionTemplateResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Describes details about an Resilience Hub application.</p>"
    },
    "DescribeDraftAppVersionResourcesImportStatus":{
      "name":"DescribeDraftAppVersionResourcesImportStatus",
      "http":{
        "method":"POST",
        "requestUri":"/describe-draft-app-version-resources-import-status",
        "responseCode":200
      },
      "input":{"shape":"DescribeDraftAppVersionResourcesImportStatusRequest"},
      "output":{"shape":"DescribeDraftAppVersionResourcesImportStatusResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Describes the status of importing resources to an application version.</p> <note> <p>If you get a 404 error with <code>ResourceImportStatusNotFoundAppMetadataException</code>, you must call <code>importResourcesToDraftAppVersion</code> after creating the application and before calling <code>describeDraftAppVersionResourcesImportStatus</code> to obtain the status.</p> </note>"
    },
    "DescribeMetricsExport":{
      "name":"DescribeMetricsExport",
      "http":{
        "method":"POST",
        "requestUri":"/describe-metrics-export",
        "responseCode":200
      },
      "input":{"shape":"DescribeMetricsExportRequest"},
      "output":{"shape":"DescribeMetricsExportResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Describes the metrics of the application configuration being exported.</p>"
    },
    "DescribeResiliencyPolicy":{
      "name":"DescribeResiliencyPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/describe-resiliency-policy",
        "responseCode":200
      },
      "input":{"shape":"DescribeResiliencyPolicyRequest"},
      "output":{"shape":"DescribeResiliencyPolicyResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Describes a specified resiliency policy for an Resilience Hub application. The returned policy object includes creation time, data location constraints, the Amazon Resource Name (ARN) for the policy, tags, tier, and more.</p>"
    },
    "DescribeResourceGroupingRecommendationTask":{
      "name":"DescribeResourceGroupingRecommendationTask",
      "http":{
        "method":"POST",
        "requestUri":"/describe-resource-grouping-recommendation-task",
        "responseCode":200
      },
      "input":{"shape":"DescribeResourceGroupingRecommendationTaskRequest"},
      "output":{"shape":"DescribeResourceGroupingRecommendationTaskResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Describes the resource grouping recommendation tasks run by Resilience Hub for your application.</p>"
    },
    "ImportResourcesToDraftAppVersion":{
      "name":"ImportResourcesToDraftAppVersion",
      "http":{
        "method":"POST",
        "requestUri":"/import-resources-to-draft-app-version",
        "responseCode":200
      },
      "input":{"shape":"ImportResourcesToDraftAppVersionRequest"},
      "output":{"shape":"ImportResourcesToDraftAppVersionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Imports resources to Resilience Hub application draft version from different input sources. For more information about the input sources supported by Resilience Hub, see <a href=\"https://docs.aws.amazon.com/resilience-hub/latest/userguide/discover-structure.html\">Discover the structure and describe your Resilience Hub application</a>.</p>"
    },
    "ListAlarmRecommendations":{
      "name":"ListAlarmRecommendations",
      "http":{
        "method":"POST",
        "requestUri":"/list-alarm-recommendations",
        "responseCode":200
      },
      "input":{"shape":"ListAlarmRecommendationsRequest"},
      "output":{"shape":"ListAlarmRecommendationsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists the alarm recommendations for an Resilience Hub application.</p>"
    },
    "ListAppAssessmentComplianceDrifts":{
      "name":"ListAppAssessmentComplianceDrifts",
      "http":{
        "method":"POST",
        "requestUri":"/list-app-assessment-compliance-drifts",
        "responseCode":200
      },
      "input":{"shape":"ListAppAssessmentComplianceDriftsRequest"},
      "output":{"shape":"ListAppAssessmentComplianceDriftsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>List of compliance drifts that were detected while running an assessment.</p>"
    },
    "ListAppAssessmentResourceDrifts":{
      "name":"ListAppAssessmentResourceDrifts",
      "http":{
        "method":"POST",
        "requestUri":"/list-app-assessment-resource-drifts",
        "responseCode":200
      },
      "input":{"shape":"ListAppAssessmentResourceDriftsRequest"},
      "output":{"shape":"ListAppAssessmentResourceDriftsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>List of resource drifts that were detected while running an assessment.</p>"
    },
    "ListAppAssessments":{
      "name":"ListAppAssessments",
      "http":{
        "method":"GET",
        "requestUri":"/list-app-assessments",
        "responseCode":200
      },
      "input":{"shape":"ListAppAssessmentsRequest"},
      "output":{"shape":"ListAppAssessmentsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists the assessments for an Resilience Hub application. You can use request parameters to refine the results for the response object.</p>"
    },
    "ListAppComponentCompliances":{
      "name":"ListAppComponentCompliances",
      "http":{
        "method":"POST",
        "requestUri":"/list-app-component-compliances",
        "responseCode":200
      },
      "input":{"shape":"ListAppComponentCompliancesRequest"},
      "output":{"shape":"ListAppComponentCompliancesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists the compliances for an Resilience Hub Application Component.</p>"
    },
    "ListAppComponentRecommendations":{
      "name":"ListAppComponentRecommendations",
      "http":{
        "method":"POST",
        "requestUri":"/list-app-component-recommendations",
        "responseCode":200
      },
      "input":{"shape":"ListAppComponentRecommendationsRequest"},
      "output":{"shape":"ListAppComponentRecommendationsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists the recommendations for an Resilience Hub Application Component.</p>"
    },
    "ListAppInputSources":{
      "name":"ListAppInputSources",
      "http":{
        "method":"POST",
        "requestUri":"/list-app-input-sources",
        "responseCode":200
      },
      "input":{"shape":"ListAppInputSourcesRequest"},
      "output":{"shape":"ListAppInputSourcesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists all the input sources of the Resilience Hub application. For more information about the input sources supported by Resilience Hub, see <a href=\"https://docs.aws.amazon.com/resilience-hub/latest/userguide/discover-structure.html\">Discover the structure and describe your Resilience Hub application</a>.</p>"
    },
    "ListAppVersionAppComponents":{
      "name":"ListAppVersionAppComponents",
      "http":{
        "method":"POST",
        "requestUri":"/list-app-version-app-components",
        "responseCode":200
      },
      "input":{"shape":"ListAppVersionAppComponentsRequest"},
      "output":{"shape":"ListAppVersionAppComponentsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists all the Application Components in the Resilience Hub application.</p>"
    },
    "ListAppVersionResourceMappings":{
      "name":"ListAppVersionResourceMappings",
      "http":{
        "method":"POST",
        "requestUri":"/list-app-version-resource-mappings",
        "responseCode":200
      },
      "input":{"shape":"ListAppVersionResourceMappingsRequest"},
      "output":{"shape":"ListAppVersionResourceMappingsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists how the resources in an application version are mapped/sourced from. Mappings can be physical resource identifiers, CloudFormation stacks, resource-groups, or an application registry app.</p>"
    },
    "ListAppVersionResources":{
      "name":"ListAppVersionResources",
      "http":{
        "method":"POST",
        "requestUri":"/list-app-version-resources",
        "responseCode":200
      },
      "input":{"shape":"ListAppVersionResourcesRequest"},
      "output":{"shape":"ListAppVersionResourcesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists all the resources in an Resilience Hub application.</p>"
    },
    "ListAppVersions":{
      "name":"ListAppVersions",
      "http":{
        "method":"POST",
        "requestUri":"/list-app-versions",
        "responseCode":200
      },
      "input":{"shape":"ListAppVersionsRequest"},
      "output":{"shape":"ListAppVersionsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists the different versions for the Resilience Hub applications.</p>"
    },
    "ListApps":{
      "name":"ListApps",
      "http":{
        "method":"GET",
        "requestUri":"/list-apps",
        "responseCode":200
      },
      "input":{"shape":"ListAppsRequest"},
      "output":{"shape":"ListAppsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists your Resilience Hub applications.</p> <note> <p>You can filter applications using only one filter at a time or without using any filter. If you try to filter applications using multiple filters, you will get the following error:</p> <p> <code>An error occurred (ValidationException) when calling the ListApps operation: Only one filter is supported for this operation.</code> </p> </note>"
    },
    "ListMetrics":{
      "name":"ListMetrics",
      "http":{
        "method":"POST",
        "requestUri":"/list-metrics",
        "responseCode":200
      },
      "input":{"shape":"ListMetricsRequest"},
      "output":{"shape":"ListMetricsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists the metrics that can be exported.</p>"
    },
    "ListRecommendationTemplates":{
      "name":"ListRecommendationTemplates",
      "http":{
        "method":"GET",
        "requestUri":"/list-recommendation-templates",
        "responseCode":200
      },
      "input":{"shape":"ListRecommendationTemplatesRequest"},
      "output":{"shape":"ListRecommendationTemplatesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists the recommendation templates for the Resilience Hub applications.</p>"
    },
    "ListResiliencyPolicies":{
      "name":"ListResiliencyPolicies",
      "http":{
        "method":"GET",
        "requestUri":"/list-resiliency-policies",
        "responseCode":200
      },
      "input":{"shape":"ListResiliencyPoliciesRequest"},
      "output":{"shape":"ListResiliencyPoliciesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists the resiliency policies for the Resilience Hub applications.</p>"
    },
    "ListResourceGroupingRecommendations":{
      "name":"ListResourceGroupingRecommendations",
      "http":{
        "method":"GET",
        "requestUri":"/list-resource-grouping-recommendations",
        "responseCode":200
      },
      "input":{"shape":"ListResourceGroupingRecommendationsRequest"},
      "output":{"shape":"ListResourceGroupingRecommendationsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists the resource grouping recommendations suggested by Resilience Hub for your application.</p>"
    },
    "ListSopRecommendations":{
      "name":"ListSopRecommendations",
      "http":{
        "method":"POST",
        "requestUri":"/list-sop-recommendations",
        "responseCode":200
      },
      "input":{"shape":"ListSopRecommendationsRequest"},
      "output":{"shape":"ListSopRecommendationsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists the standard operating procedure (SOP) recommendations for the Resilience Hub applications.</p>"
    },
    "ListSuggestedResiliencyPolicies":{
      "name":"ListSuggestedResiliencyPolicies",
      "http":{
        "method":"GET",
        "requestUri":"/list-suggested-resiliency-policies",
        "responseCode":200
      },
      "input":{"shape":"ListSuggestedResiliencyPoliciesRequest"},
      "output":{"shape":"ListSuggestedResiliencyPoliciesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists the suggested resiliency policies for the Resilience Hub applications.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists the tags for your resources in your Resilience Hub applications.</p>"
    },
    "ListTestRecommendations":{
      "name":"ListTestRecommendations",
      "http":{
        "method":"POST",
        "requestUri":"/list-test-recommendations",
        "responseCode":200
      },
      "input":{"shape":"ListTestRecommendationsRequest"},
      "output":{"shape":"ListTestRecommendationsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists the test recommendations for the Resilience Hub application.</p>"
    },
    "ListUnsupportedAppVersionResources":{
      "name":"ListUnsupportedAppVersionResources",
      "http":{
        "method":"POST",
        "requestUri":"/list-unsupported-app-version-resources",
        "responseCode":200
      },
      "input":{"shape":"ListUnsupportedAppVersionResourcesRequest"},
      "output":{"shape":"ListUnsupportedAppVersionResourcesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists the resources that are not currently supported in Resilience Hub. An unsupported resource is a resource that exists in the object that was used to create an app, but is not supported by Resilience Hub.</p>"
    },
    "PublishAppVersion":{
      "name":"PublishAppVersion",
      "http":{
        "method":"POST",
        "requestUri":"/publish-app-version",
        "responseCode":200
      },
      "input":{"shape":"PublishAppVersionRequest"},
      "output":{"shape":"PublishAppVersionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Publishes a new version of a specific Resilience Hub application.</p>"
    },
    "PutDraftAppVersionTemplate":{
      "name":"PutDraftAppVersionTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/put-draft-app-version-template",
        "responseCode":200
      },
      "input":{"shape":"PutDraftAppVersionTemplateRequest"},
      "output":{"shape":"PutDraftAppVersionTemplateResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Adds or updates the app template for an Resilience Hub application draft version.</p>"
    },
    "RejectResourceGroupingRecommendations":{
      "name":"RejectResourceGroupingRecommendations",
      "http":{
        "method":"POST",
        "requestUri":"/reject-resource-grouping-recommendations",
        "responseCode":200
      },
      "input":{"shape":"RejectResourceGroupingRecommendationsRequest"},
      "output":{"shape":"RejectResourceGroupingRecommendationsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Rejects resource grouping recommendations.</p>"
    },
    "RemoveDraftAppVersionResourceMappings":{
      "name":"RemoveDraftAppVersionResourceMappings",
      "http":{
        "method":"POST",
        "requestUri":"/remove-draft-app-version-resource-mappings",
        "responseCode":200
      },
      "input":{"shape":"RemoveDraftAppVersionResourceMappingsRequest"},
      "output":{"shape":"RemoveDraftAppVersionResourceMappingsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Removes resource mappings from a draft application version.</p>"
    },
    "ResolveAppVersionResources":{
      "name":"ResolveAppVersionResources",
      "http":{
        "method":"POST",
        "requestUri":"/resolve-app-version-resources",
        "responseCode":200
      },
      "input":{"shape":"ResolveAppVersionResourcesRequest"},
      "output":{"shape":"ResolveAppVersionResourcesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Resolves the resources for an application version.</p>"
    },
    "StartAppAssessment":{
      "name":"StartAppAssessment",
      "http":{
        "method":"POST",
        "requestUri":"/start-app-assessment",
        "responseCode":200
      },
      "input":{"shape":"StartAppAssessmentRequest"},
      "output":{"shape":"StartAppAssessmentResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a new application assessment for an application.</p>"
    },
    "StartMetricsExport":{
      "name":"StartMetricsExport",
      "http":{
        "method":"POST",
        "requestUri":"/start-metrics-export",
        "responseCode":200
      },
      "input":{"shape":"StartMetricsExportRequest"},
      "output":{"shape":"StartMetricsExportResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Initiates the export task of metrics.</p>"
    },
    "StartResourceGroupingRecommendationTask":{
      "name":"StartResourceGroupingRecommendationTask",
      "http":{
        "method":"POST",
        "requestUri":"/start-resource-grouping-recommendation-task",
        "responseCode":200
      },
      "input":{"shape":"StartResourceGroupingRecommendationTaskRequest"},
      "output":{"shape":"StartResourceGroupingRecommendationTaskResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Starts grouping recommendation task.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Applies one or more tags to a resource.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Removes one or more tags from a resource.</p>"
    },
    "UpdateApp":{
      "name":"UpdateApp",
      "http":{
        "method":"POST",
        "requestUri":"/update-app",
        "responseCode":200
      },
      "input":{"shape":"UpdateAppRequest"},
      "output":{"shape":"UpdateAppResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates an application.</p>"
    },
    "UpdateAppVersion":{
      "name":"UpdateAppVersion",
      "http":{
        "method":"POST",
        "requestUri":"/update-app-version",
        "responseCode":200
      },
      "input":{"shape":"UpdateAppVersionRequest"},
      "output":{"shape":"UpdateAppVersionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates the Resilience Hub application version.</p> <note> <p>This API updates the Resilience Hub application draft version. To use this information for running resiliency assessments, you must publish the Resilience Hub application using the <code>PublishAppVersion</code> API.</p> </note>"
    },
    "UpdateAppVersionAppComponent":{
      "name":"UpdateAppVersionAppComponent",
      "http":{
        "method":"POST",
        "requestUri":"/update-app-version-app-component",
        "responseCode":200
      },
      "input":{"shape":"UpdateAppVersionAppComponentRequest"},
      "output":{"shape":"UpdateAppVersionAppComponentResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates an existing Application Component in the Resilience Hub application.</p> <note> <p>This API updates the Resilience Hub application draft version. To use this Application Component for running assessments, you must publish the Resilience Hub application using the <code>PublishAppVersion</code> API.</p> </note>"
    },
    "UpdateAppVersionResource":{
      "name":"UpdateAppVersionResource",
      "http":{
        "method":"POST",
        "requestUri":"/update-app-version-resource",
        "responseCode":200
      },
      "input":{"shape":"UpdateAppVersionResourceRequest"},
      "output":{"shape":"UpdateAppVersionResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates the resource details in the Resilience Hub application.</p> <note> <ul> <li> <p>This action has no effect outside Resilience Hub.</p> </li> <li> <p>This API updates the Resilience Hub application draft version. To use this resource for running resiliency assessments, you must publish the Resilience Hub application using the <code>PublishAppVersion</code> API.</p> </li> <li> <p>To update application version with new <code>physicalResourceID</code>, you must call <code>ResolveAppVersionResources</code> API.</p> </li> </ul> </note>"
    },
    "UpdateResiliencyPolicy":{
      "name":"UpdateResiliencyPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/update-resiliency-policy",
        "responseCode":200
      },
      "input":{"shape":"UpdateResiliencyPolicyRequest"},
      "output":{"shape":"UpdateResiliencyPolicyResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates a resiliency policy.</p> <note> <p>Resilience Hub allows you to provide a value of zero for <code>rtoInSecs</code> and <code>rpoInSecs</code> of your resiliency policy. But, while assessing your application, the lowest possible assessment result is near zero. Hence, if you provide value zero for <code>rtoInSecs</code> and <code>rpoInSecs</code>, the estimated workload RTO and estimated workload RPO result will be near zero and the <b>Compliance status</b> for your application will be set to <b>Policy breached</b>.</p> </note>"
    }
  },
  "shapes":{
    "AcceptGroupingRecommendationEntries":{
      "type":"list",
      "member":{"shape":"AcceptGroupingRecommendationEntry"},
      "max":30,
      "min":1
    },
    "AcceptGroupingRecommendationEntry":{
      "type":"structure",
      "required":["groupingRecommendationId"],
      "members":{
        "groupingRecommendationId":{
          "shape":"String255",
          "documentation":"<p>Indicates the identifier of the grouping recommendation.</p>"
        }
      },
      "documentation":"<p>Indicates the grouping recommendation you have accepted to include in your application.</p>"
    },
    "AcceptResourceGroupingRecommendationsRequest":{
      "type":"structure",
      "required":[
        "appArn",
        "entries"
      ],
      "members":{
        "appArn":{
          "shape":"Arn",
          "documentation":"<p>Amazon Resource Name (ARN) of the Resilience Hub application. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i> guide.</p>"
        },
        "entries":{
          "shape":"AcceptGroupingRecommendationEntries",
          "documentation":"<p>List of resource grouping recommendations you want to include in your application.</p>"
        }
      }
    },
    "AcceptResourceGroupingRecommendationsResponse":{
      "type":"structure",
      "required":[
        "appArn",
        "failedEntries"
      ],
      "members":{
        "appArn":{
          "shape":"Arn",
          "documentation":"<p>Amazon Resource Name (ARN) of the Resilience Hub application. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i> guide.</p>"
        },
        "failedEntries":{
          "shape":"FailedGroupingRecommendationEntries",
          "documentation":"<p>List of resource grouping recommendations that could not be included in your application.</p>"
        }
      }
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String500"}
      },
      "documentation":"<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AddDraftAppVersionResourceMappingsRequest":{
      "type":"structure",
      "required":[
        "appArn",
        "resourceMappings"
      ],
      "members":{
        "appArn":{
          "shape":"Arn",
          "documentation":"<p>Amazon Resource Name (ARN) of the Resilience Hub application. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i> guide.</p>"
        },
        "resourceMappings":{
          "shape":"ResourceMappingList",
          "documentation":"<p>Mappings used to map logical resources from the template to physical resources. You can use the mapping type <code>CFN_STACK</code> if the application template uses a logical stack name. Or you can map individual resources by using the mapping type <code>RESOURCE</code>. We recommend using the mapping type <code>CFN_STACK</code> if the application is backed by a CloudFormation stack.</p>"
        }
      }
    },
    "AddDraftAppVersionResourceMappingsResponse":{
      "type":"structure",
      "required":[
        "appArn",
        "appVersion",
        "resourceMappings"
      ],
      "members":{
        "appArn":{
          "shape":"Arn",
          "documentation":"<p>Amazon Resource Name (ARN) of the Resilience Hub application. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i> guide.</p>"
        },
        "appVersion":{
          "shape":"EntityVersion",
          "documentation":"<p>The version of the application.</p>"
        },
        "resourceMappings":{
          "shape":"ResourceMappingList",
          "documentation":"<p>List of sources that are used to map a logical resource from the template to a physical resource. You can use sources such as CloudFormation, Terraform state files, AppRegistry applications, or Amazon EKS.</p>"
        }
      }
    },
    "AdditionalInfoMap":{
      "type":"map",
      "key":{"shape":"String128WithoutWhitespace"},
      "value":{"shape":"AdditionalInfoValueList"}
    },
    "AdditionalInfoValueList":{
      "type":"list",
      "member":{"shape":"String1024"},
      "max":10,
      "min":1
    },
    "Alarm":{
      "type":"structure",
      "members":{
        "alarmArn":{
          "shape":"Arn",
          "documentation":"<p>Amazon Resource Name (ARN) of the Amazon CloudWatch alarm.</p>"
        },
        "source":{
          "shape":"String255",
          "documentation":"<p>Indicates the source of the Amazon CloudWatch alarm. That is, it indicates if the alarm was created using Resilience Hub recommendation (<code>AwsResilienceHub</code>), or if you had created the alarm in Amazon CloudWatch (<code>Customer</code>).</p>"
        }
      },
      "documentation":"<p>Indicates the Amazon CloudWatch alarm detected while running an assessment.</p>"
    },
    "AlarmRecommendation":{
      "type":"structure",
      "required":[
        "name",
        "recommendationId",
        "referenceId",
        "type"
      ],
      "members":{
        "appComponentName":{
          "shape":"EntityId",
          "documentation":"<p>Application Component name for the CloudWatch alarm recommendation. This name is saved as the first item in the <code>appComponentNames</code> list.</p>",
          "deprecated":true,
          "deprecatedMessage":"An alarm recommendation can be attached to multiple Application Components, hence this property will be replaced by the new property 'appComponentNames'."
        },
        "appComponentNames":{
          "shape":"AppComponentNameList",
          "documentation":"<p>List of Application Component names for the CloudWatch alarm recommendation.</p>"
        },
        "description":{
          "shape":"EntityDescription",
          "documentation":"<p>Description of the alarm recommendation.</p>"
        },
        "items":{
          "shape":"RecommendationItemList",
          "documentation":"<p>List of CloudWatch alarm recommendations.</p>"
        },
        "name":{
          "shape":"String500",
          "documentation":"<p>Name of the alarm recommendation.</p>"
        },
        "prerequisite":{
          "shape":"String500",
          "documentation":"<p>The prerequisite for the alarm recommendation.</p>"
        },
        "recommendationId":{
          "shape":"Uuid",
          "documentation":"<p>Identifier of the alarm recommendation.</p>"
        },
        "recommendationStatus":{
          "shape":"RecommendationStatus",
          "documentation":"<p>Status of the recommended Amazon CloudWatch alarm.</p>"
        },
        "referenceId":{
          "shape":"SpecReferenceId",
          "documentation":"<p>Reference identifier of the alarm recommendation.</p>"
        },
        "type":{
          "shape":"AlarmType",
          "documentation":"<p>Type of alarm recommendation.</p>"
        }
      },
      "documentation":"<p>Defines a recommendation for a CloudWatch alarm.</p>"
    },
    "AlarmRecommendationList":{
      "type":"list",
      "member":{"shape":"AlarmRecommendation"}
    },
    "AlarmReferenceIdList":{
      "type":"list",
      "member":{"shape":"String500"},
      "max":200,
      "min":1
    },
    "AlarmType":{
      "type":"string",
      "enum":[
        "Metric",
        "Composite",
        "Canary",
        "Logs",
        "Event"
      ]
    },
    "App":{
      "type":"structure",
      "required":[
        "appArn",
        "creationTime",
        "name"
      ],
      "members":{
        "appArn":{
          "shape":"Arn",
          "documentation":"<p>Amazon Resource Name (ARN) of the Resilience Hub application. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i> guide.</p>"
        },
        "assessmentSchedule":{
          "shape":"AppAssessmentScheduleType",
          "documentation":"<p>Assessment execution schedule with 'Daily' or 'Disabled' values. </p>"
        },
        "awsApplicationArn":{
          "shape":"Arn",
          "documentation":"<p>Amazon Resource Name (ARN) of Resource Groups group that is integrated with an AppRegistry application. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i> guide.</p>"
        },
        "complianceStatus":{
          "shape":"AppComplianceStatusType",
          "documentation":"<p>Current status of compliance for the resiliency policy.</p>"
        },
        "creationTime":{
          "shape":"TimeStamp",
          "documentation":"<p>Date and time when the application was created.</p>"
        },
        "description":{
          "shape":"EntityDescription",
          "documentation":"<p>Optional description for an application.</p>"
        },
        "driftStatus":{
          "shape":"AppDriftStatusType",
          "documentation":"<p>Indicates if compliance drifts (deviations) were detected while running an assessment for your application.</p>"
        },
        "eventSubscriptions":{
          "shape":"EventSubscriptionList",
          "documentation":"<p>The list of events you would like to subscribe and get notification for. Currently, Resilience Hub supports notifications only for <b>Drift detected</b> and <b>Scheduled assessment failure</b> events.</p>"
        },
        "lastAppComplianceEvaluationTime":{
          "shape":"TimeStamp",
          "documentation":"<p>Date and time the most recent compliance evaluation.</p>"
        },
        "lastDriftEvaluationTime":{
          "shape":"TimeStamp",
          "documentation":"<p>Indicates the last time that a drift was evaluated.</p>"
        },
        "lastResiliencyScoreEvaluationTime":{
          "shape":"TimeStamp",
          "documentation":"<p>Date and time the most recent resiliency score evaluation.</p>"
        },
        "name":{
          "shape":"EntityName",
          "documentation":"<p>Name for the application.</p>"
        },
        "permissionModel":{
          "shape":"PermissionModel",
          "documentation":"<p>Defines the roles and credentials that Resilience Hub would use while creating the application, importing its resources, and running an assessment.</p>"
        },
        "policyArn":{
          "shape":"Arn",
          "documentation":"<p>Amazon Resource Name (ARN) of the resiliency policy. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:resiliency-policy/<code>policy-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i> guide.</p>"
        },
        "resiliencyScore":{
          "shape":"Double",
          "documentation":"<p>Current resiliency score for the application.</p>"
        },
        "rpoInSecs":{
          "shape":"IntegerOptional",
          "documentation":"<p>Recovery Point Objective (RPO) in seconds.</p>"
        },
        "rtoInSecs":{
          "shape":"IntegerOptional",
          "documentation":"<p>Recovery Time Objective (RTO) in seconds.</p>"
        },
        "status":{
          "shape":"AppStatusType",
          "documentation":"<p>Status of the application.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Tags assigned to the resource. A tag is a label that you assign to an Amazon Web Services resource. Each tag consists of a key/value pair.</p>"
        }
      },
      "documentation":"<p>Defines an Resilience Hub application.</p>"
    },
    "AppAssessment":{
      "type":"structure",
      "required":[
        "assessmentArn",
        "assessmentStatus",
        "invoker"
      ],
      "members":{
        "appArn":{
          "shape":"Arn",
          "documentation":"<p>Amazon Resource Name (ARN) of the Resilience Hub application. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i> guide.</p>"
        },
        "appVersion":{
          "shape":"EntityVersion",
          "documentation":"<p>Version of an application.</p>"
        },
        "assessmentArn":{
          "shape":"Arn",
          "documentation":"<p>Amazon Resource Name (ARN) of the assessment. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app-assessment/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i> guide.</p>"
        },
        "assessmentName":{
          "shape":"EntityName",
          "documentation":"<p>Name of the assessment.</p>"
        },
        "assessmentStatus":{
          "shape":"AssessmentStatus",
          "documentation":"<p>Current status of the assessment for the resiliency policy.</p>"
        },
        "compliance":{
          "shape":"AssessmentCompliance",
          "documentation":"<p>Application compliance against the resiliency policy.</p>"
        },
        "complianceStatus":{
          "shape":"ComplianceStatus",
          "documentation":"<p>Current status of the compliance for the resiliency policy.</p>"
        },
        "cost":{
          "shape":"Cost",
          "documentation":"<p>Cost for the application.</p>"
        },
        "driftStatus":{
          "shape":"DriftStatus",
          "documentation":"<p>Indicates if compliance drifts (deviations) were detected while running an assessment for your application.</p>"
        },
        "endTime":{
          "shape":"TimeStamp",
          "documentation":"<p>End time for the action.</p>"
        },
        "invoker":{
          "shape":"AssessmentInvoker",
          "documentation":"<p>The entity that invoked the assessment.</p>"
        },
        "message":{
          "shape":"String500",
          "documentation":"<p>Error or warning message from the assessment execution</p>"
        },
        "policy":{
          "shape":"ResiliencyPolicy",
          "documentation":"<p>Resiliency policy of an application.</p>"
        },
        "resiliencyScore":{
          "shape":"ResiliencyScore",
          "documentation":"<p>Current resiliency score for an application.</p>"
        },
        "resourceErrorsDetails":{
          "shape":"ResourceErrorsDetails",
          "documentation":"<p> A resource error object containing a list of errors retrieving an application's resources. </p>"
        },
        "startTime":{
          "shape":"TimeStamp",
          "documentation":"<p>Starting time for the action.</p>"
        },
        "summary":{
          "shape":"AssessmentSummary",
          "documentation":"<p>Indicates the AI-generated summary for the Resilience Hub assessment, providing a concise overview that highlights the top risks and recommendations.</p> <note> <p>This property is available only in the US East (N. Virginia) Region.</p> </note>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Tags assigned to the resource. A tag is a label that you assign to an Amazon Web Services resource. Each tag consists of a key/value pair.</p>"
        },
        "versionName":{
          "shape":"EntityVersion",
          "documentation":"<p>Version name of the published application.</p>"
        }
      },
      "documentation":"<p>Defines an application assessment.</p>"
    },
    "AppAssessmentScheduleType":{
      "type":"string",
      "enum":[
        "Disabled",
        "Daily"
      ]
    },
    "AppAssessmentSummary":{
      "type":"structure",
      "required":[
        "assessmentArn",
        "assessmentStatus"
      ],
      "members":{
        "appArn":{
          "shape":"Arn",
          "documentation":"<p>Amazon Resource Name (ARN) of the Resilience Hub application. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i> guide.</p>"
        },
        "appVersion":{
          "shape":"EntityVersion",
          "documentation":"<p>Version of an application.</p>"
        },
        "assessmentArn":{
          "shape":"Arn",
          "documentation":"<p>Amazon Resource Name (ARN) of the assessment. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app-assessment/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i> guide.</p>"
        },
        "assessmentName":{
          "shape":"EntityName",
          "documentation":"<p>Name of the assessment.</p>"
        },
        "assessmentStatus":{
          "shape":"AssessmentStatus",
          "documentation":"<p>Current status of the assessment for the resiliency policy.</p>"
        },
        "complianceStatus":{
          "shape":"ComplianceStatus",
          "documentation":"<p>Current status of compliance for the resiliency policy.</p>"
        },
        "cost":{
          "shape":"Cost",
          "documentation":"<p>Cost for an application.</p>"
        },
        "driftStatus":{
          "shape":"DriftStatus",
          "documentation":"<p>Indicates if compliance drifts (deviations) were detected while running an assessment for your application.</p>"
        },
        "endTime":{
          "shape":"TimeStamp",
          "documentation":"<p>End time for the action.</p>"
        },
        "invoker":{
          "shape":"AssessmentInvoker",
          "documentation":"<p>Entity that invoked the assessment.</p>"
        },
        "message":{
          "shape":"String500",
          "documentation":"<p>Message from the assessment run.</p>"
        },
        "resiliencyScore":{
          "shape":"Double",
          "documentation":"<p>Current resiliency score for the application.</p>"
        },
        "startTime":{
          "shape":"TimeStamp",
          "documentation":"<p>Starting time for the action.</p>"
        },
        "versionName":{
          "shape":"EntityVersion",
          "documentation":"<p>Name of an application version.</p>"
        }
      },
      "documentation":"<p>Defines an application assessment summary.</p>"
    },
    "AppAssessmentSummaryList":{
      "type":"list",
      "member":{"shape":"AppAssessmentSummary"}
    },
    "AppComplianceStatusType":{
      "type":"string",
      "enum":[
        "PolicyBreached",
        "PolicyMet",
        "NotAssessed",
        "ChangesDetected",
        "NotApplicable",
        "MissingPolicy"
      ]
    },
    "AppComponent":{
      "type":"structure",
      "required":[
        "name",
        "type"
      ],
      "members":{
        "additionalInfo":{
          "shape":"AdditionalInfoMap",
          "documentation":"<p>Additional configuration parameters for an Resilience Hub application. If you want to implement <code>additionalInfo</code> through the Resilience Hub console rather than using an API call, see <a href=\"https://docs.aws.amazon.com/resilience-hub/latest/userguide/app-config-param.html\">Configure the application configuration parameters</a>.</p> <note> <p>Currently, this parameter accepts a key-value mapping (in a string format) of only one failover region and one associated account.</p> <p>Key: <code>\"failover-regions\"</code> </p> <p>Value: <code>\"[{\"region\":\"&lt;REGION&gt;\", \"accounts\":[{\"id\":\"&lt;ACCOUNT_ID&gt;\"}]}]\"</code> </p> </note>"
        },
        "id":{
          "shape":"EntityName255",
          "documentation":"<p>Identifier of the Application Component.</p>"
        },
        "name":{
          "shape":"EntityName255",
          "documentation":"<p>Name of the Application Component.</p>"
        },
        "type":{
          "shape":"String255",
          "documentation":"<p>The type of Application Component.</p>"
        }
      },
      "documentation":"<p>Defines an Application Component.</p>"
    },
    "AppComponentCompliance":{
      "type":"structure",
      "members":{
        "appComponentName":{
          "shape":"EntityId",
          "documentation":"<p>Name of the Application Component.</p>"
        },
        "compliance":{
          "shape":"AssessmentCompliance",
          "documentation":"<p>The compliance of the Application Component against the resiliency policy.</p>"
        },
        "cost":{
          "shape":"Cost",
          "documentation":"<p>The cost for the application.</p>"
        },
        "message":{
          "shape":"String500",
          "documentation":"<p>The compliance message.</p>"
        },
        "resiliencyScore":{
          "shape":"ResiliencyScore",
          "documentation":"<p>The current resiliency score for the application.</p>"
        },
        "status":{
          "shape":"ComplianceStatus",
          "documentation":"<p>Status of the action.</p>"
        }
      },
      "documentation":"<p>Defines the compliance of an Application Component against the resiliency policy.</p>"
    },
    "AppComponentList":{
      "type":"list",
      "member":{"shape":"AppComponent"}
    },
    "AppComponentNameList":{
      "type":"list",
      "member":{"shape":"String255"}
    },
    "AppDriftStatusType":{
      "type":"string",
      "enum":[
        "NotChecked",
        "NotDetected",
        "Detected"
      ]
    },
    "AppInputSource":{
      "type":"structure",
      "required":["importType"],
      "members":{
        "eksSourceClusterNamespace":{
          "shape":"EksSourceClusterNamespace",
          "documentation":"<p>The namespace on your Amazon Elastic Kubernetes Service cluster.</p>"
        },
        "importType":{
          "shape":"ResourceMappingType",
          "documentation":"<p>The resource type of the input source.</p>"
        },
        "resourceCount":{
          "shape":"Integer",
          "documentation":"<p>The number of resources.</p>"
        },
        "sourceArn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the input source. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i> guide.</p>"
        },
        "sourceName":{
          "shape":"String255",
          "documentation":"<p>The name of the input source.</p>"
        },
        "terraformSource":{
          "shape":"TerraformSource",
          "documentation":"<p>The name of the Terraform s3 state ﬁle.</p>"
        }
      },
      "documentation":"<p>The list of Resilience Hub application input sources.</p>"
    },
    "AppInputSourceList":{
      "type":"list",
      "member":{"shape":"AppInputSource"}
    },
    "AppStatusType":{
      "type":"string",
      "enum":[
        "Active",
        "Deleting"
      ]
    },
    "AppSummary":{
      "type":"structure",
      "required":[
        "appArn",
        "creationTime",
        "name"
      ],
      "members":{
        "appArn":{
          "shape":"Arn",
          "documentation":"<p>Amazon Resource Name (ARN) of the Resilience Hub application. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i> guide.</p>"
        },
        "assessmentSchedule":{
          "shape":"AppAssessmentScheduleType",
          "documentation":"<p> Assessment execution schedule with 'Daily' or 'Disabled' values. </p>"
        },
        "awsApplicationArn":{
          "shape":"Arn",
          "documentation":"<p>Amazon Resource Name (ARN) of Resource Groups group that is integrated with an AppRegistry application. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i> guide.</p>"
        },
        "complianceStatus":{
          "shape":"AppComplianceStatusType",
          "documentation":"<p>The current status of compliance for the resiliency policy.</p>"
        },
        "creationTime":{
          "shape":"TimeStamp",
          "documentation":"<p>Date and time when the app was created.</p>"
        },
        "description":{
          "shape":"EntityDescription",
          "documentation":"<p>The optional description for an app.</p>"
        },
        "driftStatus":{
          "shape":"AppDriftStatusType",
          "documentation":"<p>Indicates if compliance drifts (deviations) were detected while running an assessment for your application.</p>"
        },
        "lastAppComplianceEvaluationTime":{
          "shape":"TimeStamp",
          "documentation":"<p>Date and time of the most recent compliance evaluation.</p>"
        },
        "name":{
          "shape":"EntityName",
          "documentation":"<p>The name of the application.</p>"
        },
        "resiliencyScore":{
          "shape":"Double",
          "documentation":"<p>The current resiliency score for the application.</p>"
        },
        "rpoInSecs":{
          "shape":"IntegerOptional",
          "documentation":"<p>Recovery Point Objective (RPO) in seconds.</p>"
        },
        "rtoInSecs":{
          "shape":"IntegerOptional",
          "documentation":"<p>Recovery Time Objective (RTO) in seconds.</p>"
        },
        "status":{
          "shape":"AppStatusType",
          "documentation":"<p>Status of the application.</p>"
        }
      },
      "documentation":"<p>Defines an application summary.</p>"
    },
    "AppSummaryList":{
      "type":"list",
      "member":{"shape":"AppSummary"}
    },
    "AppTemplateBody":{
      "type":"string",
      "max":409600,
      "min":0,
      "pattern":"^[\\w\\s:,-\\.'\\/{}\\[\\]:\"\\\\]+$"
    },
    "AppVersionList":{
      "type":"list",
      "member":{"shape":"AppVersionSummary"}
    },
    "AppVersionSummary":{
      "type":"structure",
      "required":["appVersion"],
      "members":{
        "appVersion":{
          "shape":"EntityVersion",
          "documentation":"<p>Version of an application.</p>"
        },
        "creationTime":{
          "shape":"TimeStamp",
          "documentation":"<p>Creation time of the application version.</p>"
        },
        "identifier":{
          "shape":"LongOptional",
          "documentation":"<p>Identifier of the application version.</p>"
        },
        "versionName":{
          "shape":"EntityVersion",
          "documentation":"<p>Name of the application version.</p>"
        }
      },
      "documentation":"<p>Version of an application.</p>"
    },
    "Arn":{
      "type":"string",
      "pattern":"^arn:(aws|aws-cn|aws-iso|aws-iso-[a-z]{1}|aws-us-gov):[A-Za-z0-9][A-Za-z0-9_/.-]{0,62}:([a-z]{2}-((iso[a-z]{0,1}-)|(gov-)){0,1}[a-z]+-[0-9]):[0-9]{12}:[A-Za-z0-9/][A-Za-z0-9:_/+.-]{0,1023}$"
    },
    "ArnList":{
      "type":"list",
      "member":{"shape":"Arn"}
    },
    "AssessmentCompliance":{
      "type":"map",
      "key":{"shape":"DisruptionType"},
      "value":{"shape":"DisruptionCompliance"}
    },
    "AssessmentInvoker":{
      "type":"string",
      "enum":[
        "User",
        "System"
      ]
    },
    "AssessmentRiskRecommendation":{
      "type":"structure",
      "members":{
        "appComponents":{
          "shape":"AppComponentNameList",
          "documentation":"<p>Indicates the Application Components (AppComponents) that were assessed as part of the assessment and are associated with the identified risk and recommendation.</p> <note> <p>This property is available only in the US East (N. Virginia) Region.</p> </note>"
        },
        "recommendation":{
          "shape":"String255",
          "documentation":"<p>Indicates the recommendation provided by the Resilience Hub to address the identified risks in the application.</p> <note> <p>This property is available only in the US East (N. Virginia) Region.</p> </note>"
        },
        "risk":{
          "shape":"String255",
          "documentation":"<p>Indicates the description of the potential risk identified in the application as part of the Resilience Hub assessment.</p> <note> <p>This property is available only in the US East (N. Virginia) Region.</p> </note>"
        }
      },
      "documentation":"<p>Indicates a specific risk identified in the Resilience Hub assessment and the corresponding recommendation provided to address that risk.</p> <note> <p>The assessment summary generated by large language models (LLMs) on Amazon Bedrock are only suggestions. The current level of generative AI technology is not perfect and LLMs are not infallible. Bias and incorrect answers, although rare, should be expected. Review each recommendation in the assessment summary before you use the output from an LLM. </p> </note> <note> <p>This property is available only in the US East (N. Virginia) Region.</p> </note>"
    },
    "AssessmentRiskRecommendationList":{
      "type":"list",
      "member":{"shape":"AssessmentRiskRecommendation"}
    },
    "AssessmentStatus":{
      "type":"string",
      "enum":[
        "Pending",
        "InProgress",
        "Failed",
        "Success"
      ]
    },
    "AssessmentStatusList":{
      "type":"list",
      "member":{"shape":"AssessmentStatus"},
      "max":10,
      "min":1
    },
    "AssessmentSummary":{
      "type":"structure",
      "members":{
        "riskRecommendations":{
          "shape":"AssessmentRiskRecommendationList",
          "documentation":"<p>Indicates the top risks and recommendations identified by the Resilience Hub assessment, each representing a specific risk and the corresponding recommendation to address it.</p> <note> <p>This property is available only in the US East (N. Virginia) Region.</p> </note>"
        },
        "summary":{
          "shape":"String500",
          "documentation":"<p>Indicates a concise summary that provides an overview of the Resilience Hub assessment.</p> <note> <p>This property is available only in the US East (N. Virginia) Region.</p> </note>"
        }
      },
      "documentation":"<p>Indicates the AI-generated summary for the Resilience Hub assessment, providing a concise overview that highlights the top risks and recommendations.</p> <note> <p>This property is available only in the US East (N. Virginia) Region.</p> </note>"
    },
    "AwsRegion":{
      "type":"string",
      "pattern":"^[a-z]{2}-((iso[a-z]{0,1}-)|(gov-)){0,1}[a-z]+-[0-9]$"
    },
    "BatchUpdateRecommendationStatusFailedEntries":{
      "type":"list",
      "member":{"shape":"BatchUpdateRecommendationStatusFailedEntry"}
    },
    "BatchUpdateRecommendationStatusFailedEntry":{
      "type":"structure",
      "required":[
        "entryId",
        "errorMessage"
      ],
      "members":{
        "entryId":{
          "shape":"String255",
          "documentation":"<p>An identifier of an entry in this batch that is used to communicate the result.</p> <note> <p>The <code>entryId</code>s of a batch request need to be unique within a request.</p> </note>"
        },
        "errorMessage":{
          "shape":"ErrorMessage",
          "documentation":"<p>Indicates the error that occurred while excluding an operational recommendation.</p>"
        }
      },
      "documentation":"<p>List of operational recommendations that did not get included or excluded.</p>"
    },
    "BatchUpdateRecommendationStatusRequest":{
      "type":"structure",
      "required":[
        "appArn",
        "requestEntries"
      ],
      "members":{
        "appArn":{
          "shape":"Arn",
          "documentation":"<p>Amazon Resource Name (ARN) of the Resilience Hub application. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i> guide.</p>"
        },
        "requestEntries":{
          "shape":"UpdateRecommendationStatusRequestEntries",
          "documentation":"<p>Defines the list of operational recommendations that need to be included or excluded.</p>"
        }
      }
    },
    "BatchUpdateRecommendationStatusResponse":{
      "type":"structure",
      "required":[
        "appArn",
        "failedEntries",
        "successfulEntries"
      ],
      "members":{
        "appArn":{
          "shape":"Arn",
          "documentation":"<p>Amazon Resource Name (ARN) of the Resilience Hub application. The format for this ARN is: arn:<code>partition</code>:resiliencehub:<code>region</code>:<code>account</code>:app/<code>app-id</code>. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i> guide.</p>"
        },
        "failedEntries":{
          "shape":"BatchUpdateRecommendationStatusFailedEntries",
          "documentation":"<p>A list of items with error details about each item, which could not be included or excluded.</p>"
        },
        "successfulEntries":{
          "shape":"BatchUpdateRecommendationStatusSuccessfulEntries",
          "documentation":"<p>A list of items that were included or excluded.</p>"
        }
      }
    },
    "BatchUpdateRecommendationStatusSuccessfulEntries":{
      "type":"list",
      "member":{"shape":"BatchUpdateRecommendationStatusSuccessfulEntry"}
    },
    "BatchUpdateRecommendationStatusSuccessfulEntry":{
      "type":"structure",
      "required":[
        "entryId",
        "excluded",
        "referenceId"
      ],
      "members":{
        "appComponentId":{
          "shape":"EntityName255",
          "documentation":"<p>Indicates the identifier of an AppComponent.</p>"
        },
        "entryId":{
          "shape":"String255",
          "documentation":"<p>An identifier for an entry in this batch that is used to communicate the result.</p> <note> <p>The <code>entryId</code>s of a batch request need to be unique within a request.</p> </note>"
        },
        "excludeReason":{
          "shape":"ExcludeRecommendationReason",
          "documentation":"<p>Indicates the reason for excluding an operational recommendation.</p>"
        },
        "excluded":{
          "shape":"BooleanOptional",
          "documentation":"<p>Indicates if the operational recommendation was successfully excluded.</p>"
        },
        "item":{
          "shape":"UpdateRecommendationStatusItem",
          "documentation":"<p>The operational recommendation item.</p>"
        },
        "referenceId":{
          "shape":"SpecReferenceId",
          "documentation":"<p>Reference identifier of the operational recommendation.</p>"
        }
      },
      "documentation":"<p>List of operational recommendations that were successfully included or excluded.</p>"
    },
    "BooleanOptional":{
      "type":"boolean",
      "box":true
    },
    "ClientToken":{
      "type":"string",
      "max":63,
      "min":1,
      "pattern":"^[A-Za-z0-9_.-]{0,63}$"
    },
    "ComplianceDrift":{
      "type":"structure",
      "members":{
        "actualReferenceId":{
          "shape":"String255",
          "documentation":"<p>Assessment identifier that is associated with this drift item.</p>"
        },
        "actualValue":{
          "shape":"AssessmentCompliance",
          "documentation":"<p>Actual compliance value of the entity.</p>"
        },
        "appId":{
          "shape":"String255",
          "documentation":"<p>Identifier of your application.</p>"
        },
        "appVersion":{
          "shape":"String255",
          "documentation":"<p>Published version of your application on which drift was detected.</p>"
        },
        "diffType":{
          "shape":"DifferenceType",
          "documentation":"<p>Difference type between actual and expected recovery point objective (RPO) and recovery time objective (RTO) values. Currently, Resilience Hub supports only <code>NotEqual</code> difference type.</p>"
        },
        "driftType":{
          "shape":"DriftType",
          "documentation":"<p>The type of drift detected. Currently, Resilience Hub supports only <b>ApplicationCompliance</b> drift type.</p>"
        },
        "entityId":{
          "shape":"String255",
          "documentation":"<p>Identifier of an entity in which drift was detected. For compliance drift, the entity ID can be either application ID or the AppComponent ID.</p>"
        },
        "entityType":{
          "shape":"String255",
          "documentation":"<p>The type of entity in which drift was detected. For compliance drifts, Resilience Hub supports <code>AWS::ResilienceHub::AppComponent</code> and <code>AWS::ResilienceHub::Application</code>.</p>"
        },
        "expectedReferenceId":{
          "shape":"String255",
          "documentation":"<p>Assessment identifier of a previous assessment of the same application version. Resilience Hub uses the previous assessment (associated with the reference identifier) to compare the compliance with the current assessment to identify drifts.</p>"
        },
        "expectedValue":{
          "shape":"AssessmentCompliance",
          "documentation":"<p>The expected compliance value of an entity.</p>"
        }
      },
      "documentation":"<p>Indicates the compliance drifts (recovery time objective (RTO) and recovery point objective (RPO)) that were detected for an assessed entity.</p>"
    },
    "ComplianceDriftList":{
      "type":"list",
      "member":{"shape":"ComplianceDrift"}
    },
    "ComplianceStatus":{
      "type":"string",
      "enum":[
        "PolicyBreached",
        "PolicyMet",
        "NotApplicable",
        "MissingPolicy"
      ]
    },
    "ComponentCompliancesList":{
      "type":"list",
      "member":{"shape":"AppComponentCompliance"}
    },
    "ComponentRecommendation":{
      "type":"structure",
      "required":[
        "appComponentName",
        "configRecommendations",
        "recommendationStatus"
      ],
      "members":{
        "appComponentName":{
          "shape":"EntityId",
          "documentation":"<p>Name of the Application Component.</p>"
        },
        "configRecommendations":{
          "shape":"ConfigRecommendationList",
          "documentation":"<p>List of recommendations.</p>"
        },
        "recommendationStatus":{
          "shape":"RecommendationComplianceStatus",
          "documentation":"<p>Status of the recommendation.</p>"
        }
      },
      "documentation":"<p>Defines recommendations for an Resilience Hub Application Component, returned as an object. This object contains component names, configuration recommendations, and recommendation statuses.</p>"
    },
    "ComponentRecommendationList":{
      "type":"list",
      "member":{"shape":"ComponentRecommendation"}
    },
    "Condition":{
      "type":"structure",
      "required":[
        "field",
        "operator"
      ],
      "members":{
        "field":{
          "shape":"String255",
          "documentation":"<p>Indicates the field in the metric.</p>"
        },
        "operator":{
          "shape":"ConditionOperatorType",
          "documentation":"<p>Indicates the type of operator or comparison to be used when evaluating a condition against the specified field. </p>"
        },
        "value":{
          "shape":"String255",
          "documentation":"<p>Indicates the value or data against which a condition is evaluated.</p>"
        }
      },
      "documentation":"<p>Indicates the condition based on which you want to filter the metrics.</p>"
    },
    "ConditionList":{
      "type":"list",
      "member":{"shape":"Condition"},
      "max":50,
      "min":0
    },
    "ConditionOperatorType":{
      "type":"string",
      "enum":[
        "Equals",
        "NotEquals",
        "GreaterThen",
        "GreaterOrEquals",
        "LessThen",
        "LessOrEquals"
      ]
    },
    "ConfigRecommendation":{
      "type":"structure",
      "required":[
        "name",
        "optimizationType",
        "referenceId"
      ],
      "members":{
        "appComponentName":{
          "shape":"EntityId",
          "documentation":"<p>Name of the Application Component.</p>"
        },
        "compliance":{
          "shape":"AssessmentCompliance",
          "documentation":"<p>The current compliance against the resiliency policy before applying the configuration change.</p>"
        },
        "cost":{
          "shape":"Cost",
          "documentation":"<p>The cost for the application.</p>"
        },
        "description":{
          "shape":"EntityDescription",
          "documentation":"<p>The optional description for an app.</p>"
        },
        "haArchitecture":{
          "shape":"HaArchitecture",
          "documentation":"<p>The architecture type.</p>"
        },
        "name":{
          "shape":"EntityName",
          "documentation":"<p>The name of the recommendation configuration.</p>"
        },
        "optimizationType":{
          "shape":"ConfigRecommendationOptimizationType",
          "documentation":"<p>The type of optimization.</p>"
        },
        "recommendationCompliance":{
          "shape":"RecommendationCompliance",
          "documentation":"<p>The expected compliance against the resiliency policy after applying the configuration change.</p>"
        },
        "referenceId":{
          "shape":"SpecReferenceId",
          "documentation":"<p>Reference identifier for the recommendation configuration.</p>"
        },
        "suggestedChanges":{
          "shape":"SuggestedChangesList",
          "documentation":"<p>List of the suggested configuration changes.</p>"
        }
      },
      "documentation":"<p>Defines a recommendation configuration.</p>"
    },
    "ConfigRecommendationList":{
      "type":"list",
      "member":{"shape":"ConfigRecommendation"}
    },
    "ConfigRecommendationOptimizationType":{
      "type":"string",
      "enum":[
        "LeastCost",
        "LeastChange",
        "BestAZRecovery",
        "LeastErrors",
        "BestAttainable",
        "BestRegionRecovery"
      ]
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String500"},
        "resourceId":{
          "shape":"ResourceId",
          "documentation":"<p>The identifier of the resource that the exception applies to.</p>"
        },
        "resourceType":{
          "shape":"ResourceType",
          "documentation":"<p>The type of the resource that the exception applies to.</p>"
        }
      },
      "documentation":"<p>This exception occurs when a conflict with a previous successful write is detected. This generally occurs when the previous write did not have time to propagate to the host serving the current request. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "Cost":{
      "type":"structure",
      "required":[
        "amount",
        "currency",
        "frequency"
      ],
      "members":{
        "amount":{
          "shape":"Double",
          "documentation":"<p>The cost amount.</p>"
        },
        "currency":{
          "shape":"CurrencyCode",
          "documentation":"<p>The cost currency, for example <code>USD</code>.</p>"
        },
        "frequency":{
          "shape":"CostFrequency",
          "documentation":"<p>The cost frequency.</p>"
        }
      },
      "documentation":"<p>Defines a cost object.</p>"
    },
    "CostFrequency":{
      "type":"string",
      "enum":[
        "Hourly",
        "Daily",
        "Monthly",
        "Yearly"
      ]
    },
    "CreateAppRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "assessmentSchedule":{
          "shape":"AppAssessmentScheduleType",
          "documentation":"<p> Assessment execution schedule with 'Daily' or 'Disabled' values. </p>"
        },
        "awsApplicationArn":{
          "shape":"Arn",
          "documentation":"<p>Amazon Resource Name (ARN) of Resource Groups group that is integrated with an AppRegistry application. For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\"> Amazon Resource Names (ARNs)</a> in the <i>Amazon Web Services General Reference</i> guide.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Used for an idempotency token. A client token is a unique, case-sensitive string of up to 64 ASCII characters. You should not reuse the same client token for other API requests.</p>",
          "idempotencyToken":true
        },
        "description":{
          "shape":"EntityDescription",
          "documentation":"<p>The optional description for an app.</p>"
        },
        "eventSubscriptions":{
          "shape":"EventSubscriptionList",
          "documentation":"<p>The list of events you would like to subscribe and get notification for. Currently, Resilience Hub supports only <b>Drift detected</b> and <b>Scheduled assessment failure</b> events notification.</p>"
        },
        "name":{
          "shape":"EntityName",
          "documentation":"<p>Name of the application.</p>"
        },
        "permissionModel":{
          "shape":"PermissionModel",
          "documentation":"<p>Defines the roles and credentials that Resilience Hub would use while creating the application, importing its resources, and running an assessment.</p>"
        },
        "policyArn":{
          "shape":"Arn",
[...]
