{{#gh-modal-dialog action="closeModal" showClose=true type="action" style="wide,centered" animation="fade"
    title="Post NOT saved." confirm=confirm}}

    <p>Hey there! Something has gone wrong and you have been logged out.  It looks like you have unsaved content that will be lost if you leave this page.</p>

    <p>Copy your content somewhere safe before you go!</p>

{{/gh-modal-dialog}}
