{{#gh-modal-dialog action="closeModal" showClose=true type="action" style="wide,centered" animation="fade"
    title="博文未保存" confirm=confirm}}

    <p>因系统问题，你已退出登录。如果你离开本页，博文将丢失。</p>

    <p>离开前请先将博文复制!</p>

{{/gh-modal-dialog}}
