{{#gh-modal-dialog action="closeModal" showClose=true type="action" style="wide"
    title="Are you sure you want to delete this post?" confirm=confirm}}

    <p>You're about to delete "<strong>{{model.title}}</strong>".<br />This is permanent! No backups, no restores, no magic undo button. <br /> We warned you, ok?</p>

{{/gh-modal-dialog}}
