{{#gh-modal-dialog action="closeModal" showClose=true type="action" style="wide,centered" animation="fade"
    title="你确定要删除这篇文章吗？" confirm=confirm}}

    <p>这个操作是永久的！不能反悔、没有缓存、没有重置按钮。<br />我在警告你哦，OK？</p>

{{/gh-modal-dialog}}
