{{#gh-modal-dialog action="closeModal" showClose=true type="action" style="wide,centered" animation="fade"
    title="你确定要删除掉这个用户吗?" confirm=confirm}}

    <p>所有文章的数据都将被删除，并且没有办法恢复！</p>
{{/gh-modal-dialog}}