{{#gh-modal-dialog action="closeModal" type="action" style="wide,centered" animation="fade"
    title="你真的想删除你博客中的所有内容吗？" confirm=confirm}}

    <p>这个操作是永久的！不能反悔、没有缓存、没有重置按钮。<br />我在警告你哦，ok？</p>

{{/gh-modal-dialog}}
