{{#gh-modal-dialog action="closeModal" showClose=true type="action" style="wide,centered" animation="fade"
    title="Are you sure you want to delete this user?" confirm=confirm}}

    <p>All posts and associated data will also be deleted. There is no way to recover this data.
    </p>

{{/gh-modal-dialog}}