{{#gh-modal-dialog action="closeModal" showClose=true type="action"
    title="Invite a New User" confirm=confirm class="invite-new-user"}}

        <fieldset>
            <div class="form-group">
                <label for="new-user-email">Email Address</label>
                {{input action="confirmAccept" class="email" id="new-user-email" type="email" placeholder="Email Address" name="email" autofocus="autofocus"
                autocapitalize="off" autocorrect="off" value=email}}
            </div>

            <div class="form-group for-select">
                <label for="new-user-role">Role</label>
                {{gh-role-selector
                    initialValue=authorRole
                    onChange="setRole"
                    selectId="new-user-role"}}
            </div>

        </fieldset>

{{/gh-modal-dialog}}
