{{#gh-modal-dialog action="closeModal" showClose=true type="action" style="wide,centered" animation="fade"
    title="你确定要离开这个界面吗?" confirm=confirm}}


    <p>嘿，看这里，好像你没有保存，然后就想离开了。还是先保存文章吧</p>
{{/gh-modal-dialog}}
