{{#gh-modal-dialog action="closeModal" showClose=true type="action" style="wide"
    title="Are you sure you want to leave this page?" confirm=confirm}}

    <p>Hey there! It looks like you're in the middle of writing something and you haven't saved all of your
    content.</p>

    <p>Save before you go!</p>

{{/gh-modal-dialog}}
