
{{#gh-modal-dialog action="closeModal" showClose=true style="wide"
    title="Markdown标签速查"}}
    <section class="markdown-help-container">
        <table class="modal-markdown-help-table">
            <thead>
            <tr>
                <th>说明/演示</th>
                <th>标签</th>
                <th>快捷键</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><strong>粗体字</strong></td>
                <td>**text**</td>
                <td>Ctrl/⌘ + B </td>
            </tr>
            <tr>
                <td><em>斜体字</em></td>
                <td>*text*</td>
                <td>Ctrl/⌘ + I</td>
            </tr>
            <tr>
                <td><del>删除线</del></td>
                <td>~~text~~</td>
                <td>Ctrl + Alt + U</td>
            </tr>
            <tr>
                <td><a href="#">链接</a></td>
                <td>[title](http://)</td>
                <td>Ctrl/⌘ + K</td>
            </tr>
            <tr>
                <td><code>单行代码</code></td>
                <td>`code`</td>
                <td>Ctrl/⌘ + Shift + K</td>
            </tr>
            <tr>
                <td>图片</td>
                <td>![alt](http://)</td>
                <td>Ctrl/⌘ + Shift + I</td>
            </tr>
            <tr>
                <td>列表</td>
                <td>* item</td>
                <td>Ctrl + L</td>
            </tr>
            <tr>
                <td>引用</td>
                <td>> quote</td>
                <td>Ctrl + Q</td>
            </tr>
            <tr>

                <td><mark>高亮显示</mark></td>
                <td>==Highlight==</td>
                <td></td>
            </tr>
            <tr>
                <td>一级标题</td>
                <td># Heading</td>
                <td></td>
            </tr>
            <tr>
                <td>二级标题</td>
                <td>## Heading</td>
                <td>Ctrl/⌘ + H</td>
            </tr>
            <tr>
                <td>三级标题</td>
                <td>### Heading</td>
                <td>Ctrl/⌘ + H (x2)</td>
            </tr>
            </tbody>
        </table>
        获得更多Markdown标签使用帮助，请访问 <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown官网</a>
    </section>
{{/gh-modal-dialog}}
