{{#gh-modal-dialog action="closeModal" showClose=true style="wide" animation="fade"
    title="Markdown 帮助"}}
    <section class="markdown-help-container">
        <table class="modal-markdown-help-table">
            <thead>
            <tr>
                <th>最终效果</th>
                <th>Markdown</th>
                <th>快捷键</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><strong>加粗</strong></td>
                <td>**text**</td>
                <td>Ctrl/⌘ + B </td>
            </tr>
            <tr>
                <td><em>着重</em></td>
                <td>*text*</td>
                <td>Ctrl/⌘ + I</td>
            </tr>
            <tr>
                <td><del>删除线</del></td>
                <td>~~text~~</td>
                <td>Ctrl + Alt + U</td>
            </tr>
            <tr>
                <td><a href="#">链接</a></td>
                <td>[title](http://)</td>
                <td>Ctrl/⌘ + K</td>
            </tr>
            <tr>
                <td><code>行内代码</code></td>
                <td>`code`</td>
                <td>Ctrl/⌘ + Shift + K</td>
            </tr>
            <tr>
                <td>图片</td>
                <td>![alt](http://)</td>
                <td>Ctrl/⌘ + Shift + I</td>
            </tr>
            <tr>
                <td>列表</td>
                <td>* item</td>
                <td>Ctrl + L</td>
            </tr>
            <tr>
                <td>引用</td>
                <td>> quote</td>
                <td>Ctrl + Q</td>
            </tr>
            <tr>
                <td>H1</td>
                <td># Heading</td>
                <td>Ctrl + Alt + 1</td>
            </tr>
            <tr>
                <td>H2</td>
                <td>## Heading</td>
                <td>Ctrl + Alt + 2</td>
            </tr>
            <tr>
                <td>H3</td>
                <td>### Heading</td>
                <td>Ctrl + Alt + 3</td>
            </tr>
            </tbody>
        </table>
        更多的语法: <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">Markdown 文档</a>
    </section>
{{/gh-modal-dialog}}
