{{#gh-modal-dialog action="closeModal" showClose=true type="action" style="wide,centered" animation="fade"
    title="转让所有权" confirm=confirm}}
    <p>你确定要转让这个博客的所有权吗？这个操作是不可逆的！</p>
{{/gh-modal-dialog}}
