{{#gh-modal-dialog action="closeModal" showClose=true type="action" style="wide"
    title="Transfer Ownership" confirm=confirm}}

    <p>Are you sure you want to transfer the ownership of this blog? You will not be able to undo this action.</p>

{{/gh-modal-dialog}}
