{{#gh-upload-modal action="closeModal" close=true type="action" style="wide" model=model imageType=imageType}}
  <section class="js-drop-zone">
      <img class="js-upload-target" {{bind-attr src=src}} alt="logo">
      <input data-url="upload" class="js-fileupload main" type="file" name="uploadimage" {{bind-attr accept=acceptEncoding}} >
  </section>

{{/gh-upload-modal}}
