{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2022-07-26",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"partnercentral-selling",
    "jsonVersion":"1.0",
    "protocol":"json",
    "protocols":["json"],
    "serviceFullName":"Partner Central Selling API",
    "serviceId":"PartnerCentral Selling",
    "signatureVersion":"v4",
    "signingName":"partnercentral-selling",
    "targetPrefix":"AWSPartnerCentralSelling",
    "uid":"partnercentral-selling-2022-07-26"
  },
  "operations":{
    "AcceptEngagementInvitation":{
      "name":"AcceptEngagementInvitation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AcceptEngagementInvitationRequest"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Use the <code>AcceptEngagementInvitation</code> action to accept an engagement invitation shared by AWS. Accepting the invitation indicates your willingness to participate in the engagement, granting you access to all engagement-related data.</p>"
    },
    "AssignOpportunity":{
      "name":"AssignOpportunity",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssignOpportunityRequest"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Enables you to reassign an existing <code>Opportunity</code> to another user within your Partner Central account. The specified user receives the opportunity, and it appears on their Partner Central dashboard, allowing them to take necessary actions or proceed with the opportunity.</p> <p>This is useful for distributing opportunities to the appropriate team members or departments within your organization, ensuring that each opportunity is handled by the right person. By default, the opportunity owner is the one who creates it. Currently, there's no API to enumerate the list of available users.</p>"
    },
    "AssociateOpportunity":{
      "name":"AssociateOpportunity",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateOpportunityRequest"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Enables you to create a formal association between an <code>Opportunity</code> and various related entities, enriching the context and details of the opportunity for better collaboration and decision making. You can associate an opportunity with the following entity types:</p> <ul> <li> <p>Partner Solution: A software product or consulting practice created and delivered by Partners. Partner Solutions help customers address business challenges using Amazon Web Services services.</p> </li> <li> <p>Amazon Web Services Products: Amazon Web Services offers many products and services that provide scalable, reliable, and cost-effective infrastructure solutions. For the latest list of Amazon Web Services products, see <a href=\"https://github.com/aws-samples/partner-crm-integration-samples/blob/main/resources/aws_products.json\">Amazon Web Services products</a>.</p> </li> <li> <p>Amazon Web Services Marketplace private offer: Allows Amazon Web Services Marketplace sellers to extend custom pricing and terms to individual Amazon Web Services customers. Sellers can negotiate custom prices, payment schedules, and end user license terms through private offers, enabling Amazon Web Services customers to acquire software solutions tailored to their specific needs. For more information, see <a href=\"https://docs.aws.amazon.com/marketplace/latest/buyerguide/buyer-private-offers.html\">Private offers in Amazon Web Services Marketplace</a>.</p> </li> </ul> <p>To obtain identifiers for these entities, use the following methods:</p> <ul> <li> <p>Solution: Use the <code>ListSolutions</code> operation.</p> </li> <li> <p>AWS Products: For the latest list of Amazon Web Services products, see <a href=\"https://github.com/aws-samples/partner-crm-integration-samples/blob/main/resources/aws_products.json\">Amazon Web Services products</a>.</p> </li> <li> <p>Amazon Web Services Marketplace private offer: Use the <a href=\"https://docs.aws.amazon.com/marketplace/latest/APIReference/catalog-apis.html\">Using the Amazon Web Services Marketplace Catalog API</a> to list entities. Specifically, use the <code>ListEntities</code> operation to retrieve a list of private offers. The request returns the details of available private offers. For more information, see <a href=\"https://docs.aws.amazon.com/marketplace-catalog/latest/api-reference/API_ListEntities.html\">ListEntities</a>.</p> </li> </ul>"
    },
    "CreateEngagement":{
      "name":"CreateEngagement",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEngagementRequest"},
      "output":{"shape":"CreateEngagementResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>The <code>CreateEngagement</code> action allows you to create an <code>Engagement</code>, which serves as a collaborative space between different parties such as AWS Partners and AWS Sellers. This action automatically adds the caller's AWS account as an active member of the newly created <code>Engagement</code>.</p>",
      "idempotent":true
    },
    "CreateEngagementInvitation":{
      "name":"CreateEngagementInvitation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEngagementInvitationRequest"},
      "output":{"shape":"CreateEngagementInvitationResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> This action creates an invitation from a sender to a single receiver to join an engagement. </p>",
      "idempotent":true
    },
    "CreateOpportunity":{
      "name":"CreateOpportunity",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateOpportunityRequest"},
      "output":{"shape":"CreateOpportunityResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Creates an <code>Opportunity</code> record in Partner Central. Use this operation to create a potential business opportunity for submission to Amazon Web Services. Creating an opportunity sets <code>Lifecycle.ReviewStatus</code> to <code>Pending Submission</code>.</p> <p>To submit an opportunity, follow these steps:</p> <ol> <li> <p>To create the opportunity, use <code>CreateOpportunity</code>.</p> </li> <li> <p>To associate a solution with the opportunity, use <code>AssociateOpportunity</code>.</p> </li> <li> <p>To start the engagement with AWS, use <code>StartEngagementFromOpportunity</code>.</p> </li> </ol> <p>After submission, you can't edit the opportunity until the review is complete. But opportunities in the <code>Pending Submission</code> state must have complete details. You can update the opportunity while it's in the <code>Pending Submission</code> state.</p> <p>There's a set of mandatory fields to create opportunities, but consider providing optional fields to enrich the opportunity record.</p>",
      "idempotent":true
    },
    "CreateResourceSnapshot":{
      "name":"CreateResourceSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateResourceSnapshotRequest"},
      "output":{"shape":"CreateResourceSnapshotResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> This action allows you to create an immutable snapshot of a specific resource, such as an opportunity, within the context of an engagement. The snapshot captures a subset of the resource's data based on the schema defined by the provided template.</p>",
      "idempotent":true
    },
    "CreateResourceSnapshotJob":{
      "name":"CreateResourceSnapshotJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateResourceSnapshotJobRequest"},
      "output":{"shape":"CreateResourceSnapshotJobResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Use this action to create a job to generate a snapshot of the specified resource within an engagement. It initiates an asynchronous process to create a resource snapshot. The job creates a new snapshot only if the resource state has changed, adhering to the same access control and immutability rules as direct snapshot creation.</p>",
      "idempotent":true
    },
    "DeleteResourceSnapshotJob":{
      "name":"DeleteResourceSnapshotJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteResourceSnapshotJobRequest"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Use this action to deletes a previously created resource snapshot job. The job must be in a stopped state before it can be deleted. </p>",
      "idempotent":true
    },
    "DisassociateOpportunity":{
      "name":"DisassociateOpportunity",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateOpportunityRequest"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Allows you to remove an existing association between an <code>Opportunity</code> and related entities, such as a Partner Solution, Amazon Web Services product, or an Amazon Web Services Marketplace offer. This operation is the counterpart to <code>AssociateOpportunity</code>, and it provides flexibility to manage associations as business needs change.</p> <p>Use this operation to update the associations of an <code>Opportunity</code> due to changes in the related entities, or if an association was made in error. Ensuring accurate associations helps maintain clarity and accuracy to track and manage business opportunities. When you replace an entity, first attach the new entity and then disassociate the one to be removed, especially if it's the last remaining entity that's required.</p>"
    },
    "GetAwsOpportunitySummary":{
      "name":"GetAwsOpportunitySummary",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAwsOpportunitySummaryRequest"},
      "output":{"shape":"GetAwsOpportunitySummaryResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves a summary of an AWS Opportunity. This summary includes high-level details about the opportunity sourced from AWS, such as lifecycle information, customer details, and involvement type. It is useful for tracking updates on the AWS opportunity corresponding to an opportunity in the partner's account.</p>"
    },
    "GetEngagement":{
      "name":"GetEngagement",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetEngagementRequest"},
      "output":{"shape":"GetEngagementResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Use this action to retrieve the engagement record for a given <code>EngagementIdentifier</code>.</p>"
    },
    "GetEngagementInvitation":{
      "name":"GetEngagementInvitation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetEngagementInvitationRequest"},
      "output":{"shape":"GetEngagementInvitationResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves the details of an engagement invitation shared by AWS with a partner. The information includes aspects such as customer, project details, and lifecycle information. To connect an engagement invitation with an opportunity, match the invitation’s <code>Payload.Project.Title</code> with opportunity <code>Project.Title</code>.</p>"
    },
    "GetOpportunity":{
      "name":"GetOpportunity",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetOpportunityRequest"},
      "output":{"shape":"GetOpportunityResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Fetches the <code>Opportunity</code> record from Partner Central by a given <code>Identifier</code>.</p> <p>Use the <code>ListOpportunities</code> action or the event notification (from Amazon EventBridge) to obtain this identifier.</p>"
    },
    "GetResourceSnapshot":{
      "name":"GetResourceSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetResourceSnapshotRequest"},
      "output":{"shape":"GetResourceSnapshotResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Use this action to retrieve a specific snapshot record.</p>"
    },
    "GetResourceSnapshotJob":{
      "name":"GetResourceSnapshotJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetResourceSnapshotJobRequest"},
      "output":{"shape":"GetResourceSnapshotJobResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Use this action to retrieves information about a specific resource snapshot job.</p>"
    },
    "GetSellingSystemSettings":{
      "name":"GetSellingSystemSettings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSellingSystemSettingsRequest"},
      "output":{"shape":"GetSellingSystemSettingsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves the currently set system settings, which include the IAM Role used for resource snapshot jobs.</p>"
    },
    "ListEngagementByAcceptingInvitationTasks":{
      "name":"ListEngagementByAcceptingInvitationTasks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEngagementByAcceptingInvitationTasksRequest"},
      "output":{"shape":"ListEngagementByAcceptingInvitationTasksResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Lists all in-progress, completed, or failed StartEngagementByAcceptingInvitationTask tasks that were initiated by the caller's account. </p>"
    },
    "ListEngagementFromOpportunityTasks":{
      "name":"ListEngagementFromOpportunityTasks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEngagementFromOpportunityTasksRequest"},
      "output":{"shape":"ListEngagementFromOpportunityTasksResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Lists all in-progress, completed, or failed <code>EngagementFromOpportunity</code> tasks that were initiated by the caller's account. </p>"
    },
    "ListEngagementInvitations":{
      "name":"ListEngagementInvitations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEngagementInvitationsRequest"},
      "output":{"shape":"ListEngagementInvitationsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves a list of engagement invitations sent to the partner. This allows partners to view all pending or past engagement invitations, helping them track opportunities shared by AWS.</p>"
    },
    "ListEngagementMembers":{
      "name":"ListEngagementMembers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEngagementMembersRequest"},
      "output":{"shape":"ListEngagementMembersResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves the details of member partners in an Engagement. This operation can only be invoked by members of the Engagement. The <code>ListEngagementMembers</code> operation allows you to fetch information about the members of a specific Engagement. This action is restricted to members of the Engagement being queried. </p>"
    },
    "ListEngagementResourceAssociations":{
      "name":"ListEngagementResourceAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEngagementResourceAssociationsRequest"},
      "output":{"shape":"ListEngagementResourceAssociationsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists the associations between resources and engagements where the caller is a member and has at least one snapshot in the engagement.</p>"
    },
    "ListEngagements":{
      "name":"ListEngagements",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEngagementsRequest"},
      "output":{"shape":"ListEngagementsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>This action allows users to retrieve a list of Engagement records from Partner Central. This action can be used to manage and track various engagements across different stages of the partner selling process. </p>"
    },
    "ListOpportunities":{
      "name":"ListOpportunities",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListOpportunitiesRequest"},
      "output":{"shape":"ListOpportunitiesResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>This request accepts a list of filters that retrieve opportunity subsets as well as sort options. This feature is available to partners from <a href=\"https://partnercentral.awspartner.com/\">Partner Central</a> using the <code>ListOpportunities</code> API action.</p> <p>To synchronize your system with Amazon Web Services, list only the opportunities that were newly created or updated. We recommend you rely on events emitted by the service into your Amazon Web Services account’s Amazon EventBridge default event bus. You can also use the <code>ListOpportunities</code> action.</p> <p>We recommend the following approach:</p> <ol> <li> <p>Find the latest <code>LastModifiedDate</code> that you stored, and only use the values that came from Amazon Web Services. Don’t use values generated by your system.</p> </li> <li> <p>When you send a <code>ListOpportunities</code> request, submit the date in ISO 8601 format in the <code>AfterLastModifiedDate</code> filter.</p> </li> <li> <p>Amazon Web Services only returns opportunities created or updated on or after that date and time. Use <code>NextToken</code> to iterate over all pages.</p> </li> </ol>"
    },
    "ListResourceSnapshotJobs":{
      "name":"ListResourceSnapshotJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListResourceSnapshotJobsRequest"},
      "output":{"shape":"ListResourceSnapshotJobsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Lists resource snapshot jobs owned by the customer. This operation supports various filtering scenarios, including listing all jobs owned by the caller, jobs for a specific engagement, jobs with a specific status, or any combination of these filters. </p>"
    },
    "ListResourceSnapshots":{
      "name":"ListResourceSnapshots",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListResourceSnapshotsRequest"},
      "output":{"shape":"ListResourceSnapshotsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves a list of resource view snapshots based on specified criteria. This operation supports various use cases, including: </p> <ul> <li> <p>Fetching all snapshots associated with an engagement.</p> </li> <li> <p>Retrieving snapshots of a specific resource type within an engagement.</p> </li> <li> <p>Obtaining snapshots for a particular resource using a specified template.</p> </li> <li> <p>Accessing the latest snapshot of a resource within an engagement.</p> </li> <li> <p>Filtering snapshots by resource owner.</p> </li> </ul>"
    },
    "ListSolutions":{
      "name":"ListSolutions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSolutionsRequest"},
      "output":{"shape":"ListSolutionsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves a list of Partner Solutions that the partner registered on Partner Central. This API is used to generate a list of solutions that an end user selects from for association with an opportunity.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns a list of tags for a resource.</p>"
    },
    "PutSellingSystemSettings":{
      "name":"PutSellingSystemSettings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutSellingSystemSettingsRequest"},
      "output":{"shape":"PutSellingSystemSettingsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Updates the currently set system settings, which include the IAM Role used for resource snapshot jobs.</p>",
      "idempotent":true
    },
    "RejectEngagementInvitation":{
      "name":"RejectEngagementInvitation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RejectEngagementInvitationRequest"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>This action rejects an <code>EngagementInvitation</code> that AWS shared. Rejecting an invitation indicates that the partner doesn't want to pursue the opportunity, and all related data will become inaccessible thereafter.</p>"
    },
    "StartEngagementByAcceptingInvitationTask":{
      "name":"StartEngagementByAcceptingInvitationTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartEngagementByAcceptingInvitationTaskRequest"},
      "output":{"shape":"StartEngagementByAcceptingInvitationTaskResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>This action starts the engagement by accepting an <code>EngagementInvitation</code>. The task is asynchronous and involves the following steps: accepting the invitation, creating an opportunity in the partner’s account from the AWS opportunity, and copying details for tracking. When completed, an <code>Opportunity Created</code> event is generated, indicating that the opportunity has been successfully created in the partner's account.</p>"
    },
    "StartEngagementFromOpportunityTask":{
      "name":"StartEngagementFromOpportunityTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartEngagementFromOpportunityTaskRequest"},
      "output":{"shape":"StartEngagementFromOpportunityTaskResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Similar to <code>StartEngagementByAcceptingInvitationTask</code>, this action is asynchronous and performs multiple steps before completion. This action orchestrates a comprehensive workflow that combines multiple API operations into a single task to create and initiate an engagement from an existing opportunity. It automatically executes a sequence of operations including <code>GetOpportunity</code>, <code>CreateEngagement</code> (if it doesn't exist), <code>CreateResourceSnapshot</code>, <code>CreateResourceSnapshotJob</code>, <code>CreateEngagementInvitation</code> (if not already invited/accepted), and <code>SubmitOpportunity</code>. </p>"
    },
    "StartResourceSnapshotJob":{
      "name":"StartResourceSnapshotJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartResourceSnapshotJobRequest"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Starts a resource snapshot job that has been previously created.</p>",
      "idempotent":true
    },
    "StopResourceSnapshotJob":{
      "name":"StopResourceSnapshotJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopResourceSnapshotJobRequest"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Stops a resource snapshot job. The job must be started prior to being stopped.</p>",
      "idempotent":true
    },
    "SubmitOpportunity":{
      "name":"SubmitOpportunity",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SubmitOpportunityRequest"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Use this action to submit an Opportunity that was previously created by partner for AWS review. After you perform this action, the Opportunity becomes non-editable until it is reviewed by AWS and has <code> LifeCycle.ReviewStatus </code> as either <code>Approved</code> or <code>Action Required</code>. </p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Assigns one or more tags (key-value pairs) to the specified resource.</p>",
      "idempotent":true
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Removes a tag or tags from a resource.</p>",
      "idempotent":true
    },
    "UpdateOpportunity":{
      "name":"UpdateOpportunity",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateOpportunityRequest"},
      "output":{"shape":"UpdateOpportunityResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Updates the <code>Opportunity</code> record identified by a given <code>Identifier</code>. This operation allows you to modify the details of an existing opportunity to reflect the latest information and progress. Use this action to keep the opportunity record up-to-date and accurate.</p> <p>When you perform updates, include the entire payload with each request. If any field is omitted, the API assumes that the field is set to <code>null</code>. The best practice is to always perform a <code>GetOpportunity</code> to retrieve the latest values, then send the complete payload with the updated values to be changed.</p>"
    }
  },
  "shapes":{
    "AcceptEngagementInvitationRequest":{
      "type":"structure",
      "required":[
        "Catalog",
        "Identifier"
      ],
      "members":{
        "Catalog":{
          "shape":"CatalogIdentifier",
          "documentation":"<p>The <code>CatalogType</code> parameter specifies the catalog associated with the engagement invitation. Accepted values are <code>AWS</code> and <code>Sandbox</code>, which determine the environment in which the engagement invitation is managed.</p>"
        },
        "Identifier":{
          "shape":"EngagementInvitationArnOrIdentifier",
          "documentation":"<p> The <code>Identifier</code> parameter in the <code>AcceptEngagementInvitationRequest</code> specifies the unique identifier of the <code>EngagementInvitation</code> to be accepted. Providing the correct identifier ensures that the intended invitation is accepted. </p>"
        }
      }
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p>This error occurs when you don't have permission to perform the requested action.</p> <p>You don’t have access to this action or resource. Review IAM policies or contact your AWS administrator for assistance.</p>",
      "exception":true
    },
    "Account":{
      "type":"structure",
      "required":["CompanyName"],
      "members":{
        "Industry":{
          "shape":"Industry",
          "documentation":"<p>Specifies the industry the end <code>Customer</code> belongs to that's associated with the <code>Opportunity</code>. It refers to the category or sector where the customer's business operates. This is a required field.</p>"
        },
        "OtherIndustry":{
          "shape":"AccountOtherIndustryString",
          "documentation":"<p>Specifies the end <code>Customer</code>'s industry associated with the <code>Opportunity</code>, when the selected value in the <code>Industry</code> field is <code>Other</code>.</p>"
        },
        "CompanyName":{
          "shape":"AccountCompanyNameString",
          "documentation":"<p>Specifies the end <code>Customer</code>'s company name associated with the <code>Opportunity</code>.</p>"
        },
        "WebsiteUrl":{
          "shape":"WebsiteUrl",
          "documentation":"<p>Specifies the end customer's company website URL associated with the <code>Opportunity</code>. This value is crucial to map the customer within the Amazon Web Services CRM system. This field is required in all cases except when the opportunity is related to national security.</p>"
        },
        "AwsAccountId":{
          "shape":"AwsAccount",
          "documentation":"<p>Specifies the <code>Customer</code> Amazon Web Services account ID associated with the <code>Opportunity</code>.</p>"
        },
        "Address":{
          "shape":"Address",
          "documentation":"<p>Specifies the end <code>Customer</code>'s address details associated with the <code>Opportunity</code>.</p>"
        },
        "Duns":{
          "shape":"DunsNumber",
          "documentation":"<p>Indicates the <code>Customer</code> DUNS number, if available.</p>"
        }
      },
      "documentation":"<p>Specifies the <code>Customer</code>'s account details associated with the <code>Opportunity</code>.</p>"
    },
    "AccountCompanyNameString":{
      "type":"string",
      "max":120,
      "min":0,
      "sensitive":true
    },
    "AccountOtherIndustryString":{
      "type":"string",
      "max":255,
      "min":0
    },
    "AccountReceiver":{
      "type":"structure",
      "required":["AwsAccountId"],
      "members":{
        "Alias":{
          "shape":"Alias",
          "documentation":"<p>Represents the alias of the partner account receiving the Engagement Invitation, making it easier to identify and track the recipient in reports or logs.</p>"
        },
        "AwsAccountId":{
          "shape":"AwsAccount",
          "documentation":"<p>Indicates the AWS account ID of the partner who received the Engagement Invitation. This is a unique identifier for managing engagements with specific AWS accounts.</p>"
        }
      },
      "documentation":"<p>Contains the account details of the partner who received the Engagement Invitation, including the AWS account ID and company name.</p>"
    },
    "AccountSummary":{
      "type":"structure",
      "required":["CompanyName"],
      "members":{
        "Industry":{
          "shape":"Industry",
          "documentation":"<p>Specifies which industry the end <code>Customer</code> belongs to associated with the <code>Opportunity</code>. It refers to the category or sector that the customer's business operates in.</p> <p>To submit a value outside the picklist, use <code>Other</code>.</p> <p>Conditionally mandatory if <code>Other</code> is selected for Industry Vertical in LOVs.</p>"
        },
        "OtherIndustry":{
          "shape":"AccountSummaryOtherIndustryString",
          "documentation":"<p>Specifies the end <code>Customer</code>'s industry associated with the <code> Opportunity</code>, when the selected value in the <code>Industry</code> field is <code>Other</code>. This field is relevant when the customer's industry doesn't fall under the predefined picklist values and requires a custom description.</p>"
        },
        "CompanyName":{
          "shape":"AccountSummaryCompanyNameString",
          "documentation":"<p>Specifies the end <code>Customer</code>'s company name associated with the <code>Opportunity</code>.</p>"
        },
        "WebsiteUrl":{
          "shape":"WebsiteUrl",
          "documentation":"<p>Specifies the end customer's company website URL associated with the <code>Opportunity</code>. This value is crucial to map the customer within the Amazon Web Services CRM system.</p>"
        },
        "Address":{
          "shape":"AddressSummary",
          "documentation":"<p>Specifies the end <code>Customer</code>'s address details associated with the <code>Opportunity</code>.</p>"
        }
      },
      "documentation":"<p>An object that contains an <code>Account</code>'s subset of fields.</p>"
    },
    "AccountSummaryCompanyNameString":{
      "type":"string",
      "max":120,
      "min":0,
      "sensitive":true
    },
    "AccountSummaryOtherIndustryString":{
      "type":"string",
      "max":255,
      "min":0
    },
    "Address":{
      "type":"structure",
      "members":{
        "City":{
          "shape":"AddressCityString",
          "documentation":"<p>Specifies the end <code>Customer</code>'s city associated with the <code>Opportunity</code>.</p>"
        },
        "PostalCode":{
          "shape":"AddressPostalCodeString",
          "documentation":"<p>Specifies the end <code>Customer</code>'s postal code associated with the <code>Opportunity</code>.</p>"
        },
        "StateOrRegion":{
          "shape":"AddressPart",
          "documentation":"<p>Specifies the end <code>Customer</code>'s state or region associated with the <code>Opportunity</code>.</p> <p>Valid values: <code>Alabama | Alaska | American Samoa | Arizona | Arkansas | California | Colorado | Connecticut | Delaware | Dist. of Columbia | Federated States of Micronesia | Florida | Georgia | Guam | Hawaii | Idaho | Illinois | Indiana | Iowa | Kansas | Kentucky | Louisiana | Maine | Marshall Islands | Maryland | Massachusetts | Michigan | Minnesota | Mississippi | Missouri | Montana | Nebraska | Nevada | New Hampshire | New Jersey | New Mexico | New York | North Carolina | North Dakota | Northern Mariana Islands | Ohio | Oklahoma | Oregon | Palau | Pennsylvania | Puerto Rico | Rhode Island | South Carolina | South Dakota | Tennessee | Texas | Utah | Vermont | Virginia | Virgin Islands | Washington | West Virginia | Wisconsin | Wyoming | APO/AE | AFO/FPO | FPO, AP</code> </p>"
        },
        "CountryCode":{
          "shape":"CountryCode",
          "documentation":"<p>Specifies the end <code>Customer</code>'s country associated with the <code>Opportunity</code>.</p>"
        },
        "StreetAddress":{
          "shape":"AddressStreetAddressString",
          "documentation":"<p>Specifies the end <code>Customer</code>'s street address associated with the <code>Opportunity</code>.</p>"
        }
      },
      "documentation":"<p>Specifies the end <code>Customer</code>'s address details associated with the <code>Opportunity</code>.</p>"
    },
    "AddressCityString":{
      "type":"string",
      "max":255,
      "min":0,
      "sensitive":true
    },
    "AddressPart":{
      "type":"string",
      "sensitive":true
    },
    "AddressPostalCodeString":{
      "type":"string",
      "max":20,
      "min":0,
      "sensitive":true
    },
    "AddressStreetAddressString":{
      "type":"string",
      "max":255,
      "min":0,
      "sensitive":true
    },
    "AddressSummary":{
      "type":"structure",
      "members":{
        "City":{
          "shape":"AddressSummaryCityString",
          "documentation":"<p>Specifies the end <code>Customer</code>'s city associated with the <code>Opportunity</code>.</p>"
        },
        "PostalCode":{
          "shape":"AddressSummaryPostalCodeString",
          "documentation":"<p>Specifies the end <code>Customer</code>'s postal code associated with the <code>Opportunity</code>.</p>"
        },
        "StateOrRegion":{
          "shape":"AddressPart",
          "documentation":"<p>Specifies the end <code>Customer</code>'s state or region associated with the <code>Opportunity</code>.</p> <p>Valid values: <code>Alabama | Alaska | American Samoa | Arizona | Arkansas | California | Colorado | Connecticut | Delaware | Dist. of Columbia | Federated States of Micronesia | Florida | Georgia | Guam | Hawaii | Idaho | Illinois | Indiana | Iowa | Kansas | Kentucky | Louisiana | Maine | Marshall Islands | Maryland | Massachusetts | Michigan | Minnesota | Mississippi | Missouri | Montana | Nebraska | Nevada | New Hampshire | New Jersey | New Mexico | New York | North Carolina | North Dakota | Northern Mariana Islands | Ohio | Oklahoma | Oregon | Palau | Pennsylvania | Puerto Rico | Rhode Island | South Carolina | South Dakota | Tennessee | Texas | Utah | Vermont | Virginia | Virgin Islands | Washington | West Virginia | Wisconsin | Wyoming | APO/AE | AFO/FPO | FPO, AP</code> </p>"
        },
        "CountryCode":{
          "shape":"CountryCode",
          "documentation":"<p>Specifies the end <code>Customer</code>'s country associated with the <code>Opportunity</code>.</p>"
        }
      },
      "documentation":"<p>An object that contains an <code>Address</code> object's subset of fields.</p>"
    },
    "AddressSummaryCityString":{
      "type":"string",
      "max":255,
      "min":0,
      "sensitive":true
    },
    "AddressSummaryPostalCodeString":{
      "type":"string",
      "max":20,
      "min":0,
      "sensitive":true
    },
    "Alias":{
      "type":"string",
      "max":80,
      "min":0,
      "sensitive":true
    },
    "Amount":{
      "type":"string",
      "pattern":"(0|([1-9][0-9]{0,30}))(\\.[0-9]{0,2})?",
      "sensitive":true
    },
    "ApnPrograms":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "AssignOpportunityRequest":{
      "type":"structure",
      "required":[
        "Catalog",
        "Identifier",
        "Assignee"
      ],
      "members":{
        "Catalog":{
          "shape":"CatalogIdentifier",
          "documentation":"<p>Specifies the catalog associated with the request. This field takes a string value from a predefined list: <code>AWS</code> or <code>Sandbox</code>. The catalog determines which environment the opportunity is assigned in. Use <code>AWS</code> to assign real opportunities in the Amazon Web Services catalog, and <code>Sandbox</code> for testing in secure, isolated environments.</p>"
        },
        "Identifier":{
          "shape":"OpportunityIdentifier",
          "documentation":"<p>Requires the <code>Opportunity</code>'s unique identifier when you want to assign it to another user. Provide the correct identifier so the intended opportunity is reassigned.</p>"
        },
        "Assignee":{
          "shape":"AssigneeContact",
          "documentation":"<p>Specifies the user or team member responsible for managing the assigned opportunity. This field identifies the <i>Assignee</i> based on the partner's internal team structure. Ensure that the email address is associated with a registered user in your Partner Central account.</p>"
        }
      }
    },
    "AssigneeContact":{
      "type":"structure",
      "required":[
        "Email",
        "FirstName",
        "LastName",
        "BusinessTitle"
      ],
      "members":{
        "Email":{
          "shape":"Email",
          "documentation":"<p>Provides the email address of the assignee. This email is used for communications and notifications related to the opportunity.</p>"
        },
        "FirstName":{
          "shape":"AssigneeContactFirstNameString",
          "documentation":"<p>Specifies the first name of the assignee managing the opportunity. The system automatically retrieves this value from the user profile by referencing the associated email address.</p>"
        },
        "LastName":{
          "shape":"AssigneeContactLastNameString",
          "documentation":"<p>Specifies the last name of the assignee managing the opportunity. The system automatically retrieves this value from the user profile by referencing the associated email address.</p>"
        },
        "BusinessTitle":{
          "shape":"JobTitle",
          "documentation":"<p>Specifies the business title of the assignee managing the opportunity. This helps clarify the individual's role and responsibilities within the organization. Use the value <code>PartnerAccountManager</code> to update details of the opportunity owner.</p>"
        }
      },
      "documentation":"<p>Represents the contact details of the individual assigned to manage the opportunity within the partner organization. This helps to ensure that there is a point of contact for the opportunity's progress.</p>"
    },
    "AssigneeContactFirstNameString":{
      "type":"string",
      "max":80,
      "min":0,
      "sensitive":true
    },
    "AssigneeContactLastNameString":{
      "type":"string",
      "max":80,
      "min":0,
      "sensitive":true
    },
    "AssociateOpportunityRequest":{
      "type":"structure",
      "required":[
        "Catalog",
        "OpportunityIdentifier",
        "RelatedEntityType",
        "RelatedEntityIdentifier"
      ],
      "members":{
        "Catalog":{
          "shape":"CatalogIdentifier",
          "documentation":"<p>Specifies the catalog associated with the request. This field takes a string value from a predefined list: <code>AWS</code> or <code>Sandbox</code>. The catalog determines which environment the opportunity association is made in. Use <code>AWS</code> to associate opportunities in the Amazon Web Services catalog, and <code>Sandbox</code> for testing in secure, isolated environments.</p>"
        },
        "OpportunityIdentifier":{
          "shape":"OpportunityIdentifier",
          "documentation":"<p>Requires the <code>Opportunity</code>'s unique identifier when you want to associate it with a related entity. Provide the correct identifier so the intended opportunity is updated with the association.</p>"
        },
        "RelatedEntityType":{
          "shape":"RelatedEntityType",
          "documentation":"<p>Specifies the entity type that you're associating with the <code> Opportunity</code>. This helps to categorize and properly process the association.</p>"
        },
        "RelatedEntityIdentifier":{
          "shape":"AssociateOpportunityRequestRelatedEntityIdentifierString",
          "documentation":"<p>Requires the related entity's unique identifier when you want to associate it with the <code> Opportunity</code>. For Amazon Web Services Marketplace entities, provide the Amazon Resource Name (ARN). Use the <a href=\"https://docs.aws.amazon.com/marketplace-catalog/latest/api-reference/welcome.html\"> Amazon Web Services Marketplace API</a> to obtain the ARN.</p>"
        }
      }
    },
    "AssociateOpportunityRequestRelatedEntityIdentifierString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "AwsAccount":{
      "type":"string",
      "pattern":"([0-9]{12}|\\w{1,12})",
      "sensitive":true
    },
    "AwsAccountIdOrAliasList":{
      "type":"list",
      "member":{"shape":"AwsAccount"},
      "max":10,
      "min":1
    },
    "AwsAccountList":{
      "type":"list",
      "member":{"shape":"AwsAccount"},
      "max":10,
      "min":1
    },
    "AwsClosedLostReason":{
      "type":"string",
      "enum":[
        "Administrative",
        "Business Associate Agreement",
        "Company Acquired/Dissolved",
        "Competitive Offering",
        "Customer Data Requirement",
        "Customer Deficiency",
        "Customer Experience",
        "Delay / Cancellation of Project",
        "Duplicate",
        "Duplicate Opportunity",
        "Executive Blocker",
        "Failed Vetting",
        "Feature Limitation",
        "Financial/Commercial",
        "Insufficient Amazon Value",
        "Insufficient AWS Value",
        "International Constraints",
        "Legal / Tax / Regulatory",
        "Legal Terms and Conditions",
        "Lost to Competitor",
        "Lost to Competitor - Google",
        "Lost to Competitor - Microsoft",
        "Lost to Competitor - Other",
        "Lost to Competitor - Rackspace",
        "Lost to Competitor - SoftLayer",
        "Lost to Competitor - VMWare",
        "No Customer Reference",
        "No Integration Resources",
        "No Opportunity",
        "No Perceived Value of MP",
        "No Response",
        "Not Committed to AWS",
        "No Update",
        "On Premises Deployment",
        "Other",
        "Other (Details in Description)",
        "Partner Gap",
        "Past Due",
        "People/Relationship/Governance",
        "Platform Technology Limitation",
        "Preference for Competitor",
        "Price",
        "Product/Technology",
        "Product Not on AWS",
        "Security / Compliance",
        "Self-Service",
        "Technical Limitations",
        "Term Sheet Impasse"
      ]
    },
    "AwsFundingUsed":{
      "type":"string",
      "enum":[
        "Yes",
        "No"
      ]
    },
    "AwsMarketplaceOfferIdentifier":{
      "type":"string",
      "pattern":"arn:aws:aws-marketplace:[a-z]{1,2}-[a-z]*-\\d+:\\d{12}:AWSMarketplace/Offer/.*"
    },
    "AwsMarketplaceOfferIdentifiers":{
      "type":"list",
      "member":{"shape":"AwsMarketplaceOfferIdentifier"}
    },
    "AwsMemberBusinessTitle":{
      "type":"string",
      "enum":[
        "AWSSalesRep",
        "AWSAccountOwner",
        "WWPSPDM",
        "PDM",
        "PSM",
        "ISVSM"
      ]
    },
    "AwsOpportunityCustomer":{
      "type":"structure",
      "members":{
        "Contacts":{
          "shape":"CustomerContactsList",
          "documentation":"<p>Provides a list of customer contacts involved in the opportunity. These contacts may include decision makers, influencers, and other stakeholders within the customer's organization.</p>"
        }
      },
      "documentation":"<p>Represents the customer associated with the AWS opportunity. This field captures key details about the customer that are necessary for managing the opportunity.</p>"
    },
    "AwsOpportunityInsights":{
      "type":"structure",
      "members":{
        "NextBestActions":{
          "shape":"String",
          "documentation":"<p>Provides recommendations from AWS on the next best actions to take in order to move the opportunity forward and increase the likelihood of success.</p>"
        },
        "EngagementScore":{
          "shape":"EngagementScore",
          "documentation":"<p>Represents a score assigned by AWS to indicate the level of engagement and potential success for the opportunity. This score helps partners prioritize their efforts.</p>"
        }
      },
      "documentation":"<p>Contains insights provided by AWS for the opportunity, offering recommendations and analysis that can help the partner optimize their engagement and strategy.</p>"
    },
    "AwsOpportunityLifeCycle":{
      "type":"structure",
      "members":{
        "TargetCloseDate":{
          "shape":"Date",
          "documentation":"<p>Indicates the expected date by which the opportunity is projected to close. This field helps in planning resources and timelines for both the partner and AWS.</p>"
        },
        "ClosedLostReason":{
          "shape":"AwsClosedLostReason",
          "documentation":"<p>Indicates the reason why an opportunity was marked as <code>Closed Lost</code>. This helps in understanding the context behind the lost opportunity and aids in refining future strategies.</p>"
        },
        "Stage":{
          "shape":"AwsOpportunityStage",
          "documentation":"<p>Represents the current stage of the opportunity in its lifecycle, such as <code>Qualification</code>, <code>Validation</code>, or <code>Closed Won</code>. This helps in understanding the opportunity's progress.</p>"
        },
        "NextSteps":{
          "shape":"AwsOpportunityLifeCycleNextStepsString",
          "documentation":"<p>Specifies the immediate next steps required to progress the opportunity. These steps are based on AWS guidance and the current stage of the opportunity.</p>"
        },
        "NextStepsHistory":{
          "shape":"AwsOpportunityLifeCycleNextStepsHistoryList",
          "documentation":"<p>Provides a historical log of previous next steps that were taken to move the opportunity forward. This helps in tracking the decision-making process and identifying any delays or obstacles encountered.</p>"
        }
      },
      "documentation":"<p>Tracks the lifecycle of the AWS opportunity, including stages such as qualification, validation, and closure. This field helps partners understand the current status and progression of the opportunity.</p>"
    },
    "AwsOpportunityLifeCycleNextStepsHistoryList":{
      "type":"list",
      "member":{"shape":"ProfileNextStepsHistory"},
      "max":50,
      "min":0
    },
    "AwsOpportunityLifeCycleNextStepsString":{
      "type":"string",
      "max":255,
      "min":0,
      "sensitive":true
    },
    "AwsOpportunityProject":{
      "type":"structure",
      "members":{
        "ExpectedCustomerSpend":{
          "shape":"ExpectedCustomerSpendList",
          "documentation":"<p>Indicates the expected spending by the customer over the course of the project. This value helps partners and AWS estimate the financial impact of the opportunity. Use the <a href=\"https://calculator.aws/#/\">AWS Pricing Calculator</a> to create an estimate of the customer’s total spend. If only annual recurring revenue (ARR) is available, distribute it across 12 months to provide an average monthly value.</p>"
        }
      },
      "documentation":"<p>Captures details about the project associated with the opportunity, including objectives, scope, and customer requirements.</p>"
    },
    "AwsOpportunityRelatedEntities":{
      "type":"structure",
      "members":{
        "AwsProducts":{
          "shape":"AwsProductIdentifiers",
          "documentation":"<p>Specifies the AWS products associated with the opportunity. This field helps track the specific products that are part of the proposed solution.</p>"
        },
        "Solutions":{
          "shape":"SolutionIdentifiers",
          "documentation":"<p>Specifies the partner solutions related to the opportunity. These solutions represent the partner's offerings that are being positioned as part of the overall AWS opportunity.</p>"
        }
      },
      "documentation":"<p>Represents other entities related to the AWS opportunity, such as AWS products, partner solutions, and marketplace offers. These associations help build a complete picture of the solution being sold.</p>"
    },
    "AwsOpportunityStage":{
      "type":"string",
      "enum":[
        "Not Started",
        "In Progress",
        "Prospect",
        "Engaged",
        "Identified",
        "Qualify",
        "Research",
        "Seller Engaged",
        "Evaluating",
        "Seller Registered",
        "Term Sheet Negotiation",
        "Contract Negotiation",
        "Onboarding",
        "Building Integration",
        "Qualified",
        "On-hold",
        "Technical Validation",
        "Business Validation",
        "Committed",
        "Launched",
        "Deferred to Partner",
        "Closed Lost",
        "Completed",
        "Closed Incomplete"
      ]
    },
    "AwsOpportunityTeamMembersList":{
      "type":"list",
      "member":{"shape":"AwsTeamMember"}
    },
    "AwsProductIdentifier":{"type":"string"},
    "AwsProductIdentifiers":{
      "type":"list",
      "member":{"shape":"AwsProductIdentifier"}
    },
    "AwsSubmission":{
      "type":"structure",
      "required":["InvolvementType"],
      "members":{
        "InvolvementType":{
          "shape":"SalesInvolvementType",
          "documentation":"<p>Specifies the type of AWS involvement in the opportunity, such as coselling, deal support, or technical consultation. This helps categorize the nature of AWS participation.</p>"
        },
        "Visibility":{
          "shape":"Visibility",
          "documentation":"<p>Determines who can view AWS involvement in the opportunity. Typically, this field is set to <code>Full</code> for most cases, but it may be restricted based on special program requirements or confidentiality needs.</p>"
        }
      },
      "documentation":"<p>Indicates the level of AWS involvement in the opportunity. This field helps track AWS participation throughout the engagement, such as providing technical support, deal assistance, and sales support.</p>"
    },
    "AwsTeamMember":{
      "type":"structure",
      "members":{
        "Email":{
          "shape":"Email",
          "documentation":"<p>Provides the Amazon Web Services team member's email address.</p>"
        },
        "FirstName":{
          "shape":"AwsTeamMemberFirstNameString",
          "documentation":"<p>Provides the Amazon Web Services team member's first name.</p>"
        },
        "LastName":{
          "shape":"AwsTeamMemberLastNameString",
          "documentation":"<p>Provides the Amazon Web Services team member's last name.</p>"
        },
        "BusinessTitle":{
          "shape":"AwsMemberBusinessTitle",
          "documentation":"<p>Specifies the Amazon Web Services team member's business title and indicates their organizational role.</p>"
        }
      },
      "documentation":"<p>Represents an Amazon Web Services team member for the engagement. This structure includes details such as name, email, and business title.</p>"
    },
    "AwsTeamMemberFirstNameString":{
      "type":"string",
      "max":80,
      "min":0,
      "sensitive":true
    },
    "AwsTeamMemberLastNameString":{
      "type":"string",
      "max":80,
      "min":0,
      "sensitive":true
    },
    "CatalogIdentifier":{
      "type":"string",
      "pattern":"[a-zA-Z]+"
    },
    "Channel":{
      "type":"string",
      "enum":[
        "AWS Marketing Central",
        "Content Syndication",
        "Display",
        "Email",
        "Live Event",
        "Out Of Home (OOH)",
        "Print",
        "Search",
        "Social",
        "Telemarketing",
        "TV",
        "Video",
        "Virtual Event"
      ]
    },
    "Channels":{
      "type":"list",
      "member":{"shape":"Channel"}
    },
    "ClientToken":{
      "type":"string",
      "pattern":"[!-~]{1,64}"
    },
    "ClosedLostReason":{
      "type":"string",
      "enum":[
        "Customer Deficiency",
        "Delay / Cancellation of Project",
        "Legal / Tax / Regulatory",
        "Lost to Competitor - Google",
        "Lost to Competitor - Microsoft",
        "Lost to Competitor - SoftLayer",
        "Lost to Competitor - VMWare",
        "Lost to Competitor - Other",
        "No Opportunity",
        "On Premises Deployment",
        "Partner Gap",
        "Price",
        "Security / Compliance",
        "Technical Limitations",
        "Customer Experience",
        "Other",
        "People/Relationship/Governance",
        "Product/Technology",
        "Financial/Commercial"
      ]
    },
    "CompanyName":{
      "type":"string",
      "max":120,
      "min":1,
      "sensitive":true
    },
    "CompanyWebsiteUrl":{
      "type":"string",
      "max":255,
      "min":4,
      "pattern":"((http|https)://)??(www[.])??([a-zA-Z0-9]|-)+?([.][a-zA-Z0-9(-|/|=|?)??]+?)+?",
      "sensitive":true
    },
    "CompetitorName":{
      "type":"string",
      "enum":[
        "Oracle Cloud",
        "On-Prem",
        "Co-location",
        "Akamai",
        "AliCloud",
        "Google Cloud Platform",
        "IBM Softlayer",
        "Microsoft Azure",
        "Other- Cost Optimization",
        "No Competition",
        "*Other"
      ]
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p>This error occurs when the request can’t be processed due to a conflict with the target resource's current state, which could result from updating or deleting the resource.</p> <p>Suggested action: Fetch the latest state of the resource, verify the state, and retry the request.</p>",
      "exception":true
    },
    "Contact":{
      "type":"structure",
      "members":{
        "Email":{
          "shape":"Email",
          "documentation":"<p>The contact's email address associated with the <code>Opportunity</code>.</p>"
        },
        "FirstName":{
          "shape":"ContactFirstNameString",
          "documentation":"<p>The contact's first name associated with the <code>Opportunity</code>.</p>"
        },
        "LastName":{
          "shape":"ContactLastNameString",
          "documentation":"<p>The contact's last name associated with the <code>Opportunity</code>.</p>"
        },
        "BusinessTitle":{
          "shape":"JobTitle",
          "documentation":"<p>The partner contact's title (job title or role) associated with the <code>Opportunity</code>. <code>BusinessTitle</code> supports either <code>PartnerAccountManager</code> or <code>OpportunityOwner</code>.</p>"
        },
        "Phone":{
          "shape":"PhoneNumber",
          "documentation":"<p>The contact's phone number associated with the <code>Opportunity</code>.</p>"
        }
      },
      "documentation":"<p>An object that contains a <code>Customer Partner</code>'s contact details.</p>"
    },
    "ContactFirstNameString":{
      "type":"string",
      "max":80,
      "min":0,
      "sensitive":true
    },
    "ContactLastNameString":{
      "type":"string",
      "max":80,
      "min":0,
      "sensitive":true
    },
    "CountryCode":{
      "type":"string",
      "enum":[
        "US",
        "AF",
        "AX",
        "AL",
        "DZ",
        "AS",
        "AD",
        "AO",
        "AI",
        "AQ",
        "AG",
        "AR",
        "AM",
        "AW",
        "AU",
        "AT",
        "AZ",
        "BS",
        "BH",
        "BD",
        "BB",
        "BY",
        "BE",
        "BZ",
        "BJ",
        "BM",
        "BT",
        "BO",
        "BQ",
        "BA",
        "BW",
        "BV",
        "BR",
        "IO",
        "BN",
        "BG",
        "BF",
        "BI",
        "KH",
        "CM",
        "CA",
        "CV",
        "KY",
        "CF",
        "TD",
        "CL",
        "CN",
        "CX",
        "CC",
        "CO",
        "KM",
        "CG",
        "CK",
        "CR",
        "CI",
        "HR",
        "CU",
        "CW",
        "CY",
        "CZ",
        "CD",
        "DK",
        "DJ",
        "DM",
        "DO",
        "EC",
        "EG",
        "SV",
        "GQ",
        "ER",
        "EE",
        "ET",
        "FK",
        "FO",
        "FJ",
        "FI",
        "FR",
        "GF",
        "PF",
        "TF",
        "GA",
        "GM",
        "GE",
        "DE",
        "GH",
        "GI",
        "GR",
        "GL",
        "GD",
        "GP",
        "GU",
        "GT",
        "GG",
        "GN",
        "GW",
        "GY",
        "HT",
        "HM",
        "VA",
        "HN",
        "HK",
        "HU",
        "IS",
        "IN",
        "ID",
        "IR",
        "IQ",
        "IE",
        "IM",
        "IL",
        "IT",
        "JM",
        "JP",
        "JE",
        "JO",
        "KZ",
        "KE",
        "KI",
        "KR",
        "KW",
        "KG",
        "LA",
        "LV",
        "LB",
        "LS",
        "LR",
        "LY",
        "LI",
        "LT",
        "LU",
        "MO",
        "MK",
        "MG",
        "MW",
        "MY",
        "MV",
        "ML",
        "MT",
        "MH",
        "MQ",
        "MR",
        "MU",
        "YT",
        "MX",
        "FM",
        "MD",
        "MC",
        "MN",
        "ME",
        "MS",
        "MA",
        "MZ",
        "MM",
        "NA",
        "NR",
        "NP",
        "NL",
        "AN",
        "NC",
        "NZ",
        "NI",
        "NE",
        "NG",
        "NU",
        "NF",
        "MP",
        "NO",
        "OM",
        "PK",
        "PW",
        "PS",
        "PA",
        "PG",
        "PY",
        "PE",
        "PH",
        "PN",
        "PL",
        "PT",
        "PR",
        "QA",
        "RE",
        "RO",
        "RU",
        "RW",
        "BL",
        "SH",
        "KN",
        "LC",
        "MF",
        "PM",
        "VC",
        "WS",
        "SM",
        "ST",
        "SA",
        "SN",
        "RS",
        "SC",
        "SL",
        "SG",
        "SX",
        "SK",
        "SI",
        "SB",
        "SO",
        "ZA",
        "GS",
        "SS",
        "ES",
        "LK",
        "SD",
        "SR",
        "SJ",
        "SZ",
        "SE",
        "CH",
        "SY",
        "TW",
        "TJ",
        "TZ",
        "TH",
        "TL",
        "TG",
        "TK",
        "TO",
        "TT",
        "TN",
        "TR",
        "TM",
        "TC",
        "TV",
        "UG",
        "UA",
        "AE",
        "GB",
        "UM",
        "UY",
        "UZ",
        "VU",
        "VE",
        "VN",
        "VG",
        "VI",
        "WF",
        "EH",
        "YE",
        "ZM",
        "ZW"
      ],
      "sensitive":true
    },
    "CreateEngagementInvitationRequest":{
      "type":"structure",
      "required":[
        "Catalog",
        "ClientToken",
        "EngagementIdentifier",
        "Invitation"
      ],
      "members":{
        "Catalog":{
          "shape":"CatalogIdentifier",
          "documentation":"<p> Specifies the catalog related to the engagement. Accepted values are <code>AWS</code> and <code>Sandbox</code>, which determine the environment in which the engagement is managed. </p>"
        },
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p> Specifies a unique, client-generated UUID to ensure that the request is handled exactly once. This token helps prevent duplicate invitation creations. </p>",
          "idempotencyToken":true
        },
        "EngagementIdentifier":{
          "shape":"EngagementIdentifier",
          "documentation":"<p> The unique identifier of the <code>Engagement</code> associated with the invitation. This parameter ensures the invitation is created within the correct <code>Engagement</code> context. </p>"
        },
        "Invitation":{
          "shape":"Invitation",
          "documentation":"<p> The <code>Invitation</code> object all information necessary to initiate an engagement invitation to a partner. It contains a personalized message from the sender, the invitation's receiver, and a payload. The <code>Payload</code> can be the <code>OpportunityInvitation</code>, which includes detailed structures for sender contacts, partner responsibilities, customer information, and project details. </p>"
        }
      }
    },
    "CreateEngagementInvitationResponse":{
      "type":"structure",
      "required":[
        "Id",
        "Arn"
      ],
      "members":{
        "Id":{
          "shape":"EngagementInvitationIdentifier",
          "documentation":"<p> Unique identifier assigned to the newly created engagement invitation. </p>"
        },
        "Arn":{
          "shape":"EngagementInvitationArn",
          "documentation":"<p> The Amazon Resource Name (ARN) that uniquely identifies the engagement invitation. </p>"
        }
      }
    },
    "CreateEngagementRequest":{
      "type":"structure",
      "required":[
        "Catalog",
        "ClientToken",
        "Title",
        "Description"
      ],
      "members":{
        "Catalog":{
          "shape":"CatalogIdentifier",
          "documentation":"<p>The <code>CreateEngagementRequest$Catalog</code> parameter specifies the catalog related to the engagement. Accepted values are <code>AWS</code> and <code>Sandbox</code>, which determine the environment in which the engagement is managed.</p>"
        },
        "ClientToken":{
          "shape":"CreateEngagementRequestClientTokenString",
          "documentation":"<p>The <code>CreateEngagementRequest$ClientToken</code> parameter specifies a unique, case-sensitive identifier to ensure that the request is handled exactly once. The value must not exceed sixty-four alphanumeric characters.</p>",
          "idempotencyToken":true
        },
        "Title":{
          "shape":"EngagementTitle",
          "documentation":"<p>Specifies the title of the <code>Engagement</code>.</p>"
        },
        "Description":{
          "shape":"EngagementDescription",
          "documentation":"<p>Provides a description of the <code>Engagement</code>.</p>"
        },
        "Contexts":{
          "shape":"EngagementContexts",
          "documentation":"<p>The <code>Contexts</code> field is a required array of objects, with a maximum of 5 contexts allowed, specifying detailed information about customer projects associated with the Engagement. Each context object contains a <code>Type</code> field indicating the context type, which must be <code>CustomerProject</code> in this version, and a <code>Payload</code> field containing the <code>CustomerProject</code> details. The <code>CustomerProject</code> object is composed of two main components: <code>Customer</code> and <code>Project</code>. The <code>Customer</code> object includes information such as <code>CompanyName</code>, <code>WebsiteUrl</code>, <code>Industry</code>, and <code>CountryCode</code>, providing essential details about the customer. The <code>Project</code> object contains <code>Title</code>, <code>BusinessProblem</code>, and <code>TargetCompletionDate</code>, offering insights into the specific project associated with the customer. This structure allows comprehensive context to be included within the Engagement, facilitating effective collaboration between parties by providing relevant customer and project information.</p>"
        }
      }
    },
    "CreateEngagementRequestClientTokenString":{
      "type":"string",
      "pattern":"[!-~]{1,64}"
    },
    "CreateEngagementResponse":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"EngagementIdentifier",
          "documentation":"<p>Unique identifier assigned to the newly created engagement.</p>"
        },
        "Arn":{
          "shape":"EngagementArn",
          "documentation":"<p>The Amazon Resource Name (ARN) that identifies the engagement.</p>"
        }
      }
    },
    "CreateOpportunityRequest":{
      "type":"structure",
      "required":[
        "Catalog",
        "ClientToken"
      ],
      "members":{
        "Catalog":{
          "shape":"CatalogIdentifier",
          "documentation":"<p>Specifies the catalog associated with the request. This field takes a string value from a predefined list: <code>AWS</code> or <code>Sandbox</code>. The catalog determines which environment the opportunity is created in. Use <code>AWS</code> to create opportunities in the Amazon Web Services catalog, and <code>Sandbox</code> for testing in secure, isolated environments.</p>"
        },
        "PrimaryNeedsFromAws":{
          "shape":"PrimaryNeedsFromAws",
          "documentation":"<p>Identifies the type of support the partner needs from Amazon Web Services.</p> <p>Valid values:</p> <ul> <li> <p>Cosell—Architectural Validation: Confirmation from Amazon Web Services that the partner's proposed solution architecture is aligned with Amazon Web Services best practices and poses minimal architectural risks.</p> </li> <li> <p>Cosell—Business Presentation: Request Amazon Web Services seller's participation in a joint customer presentation.</p> </li> <li> <p>Cosell—Competitive Information: Access to Amazon Web Services competitive resources and support for the partner's proposed solution.</p> </li> <li> <p>Cosell—Pricing Assistance: Connect with an Amazon Web Services seller for support situations where a partner may be receiving an upfront discount on a service (for example: EDP deals).</p> </li> <li> <p>Cosell—Technical Consultation: Connect with an Amazon Web Services Solutions Architect to address the partner's questions about the proposed solution.</p> </li> <li> <p>Cosell—Total Cost of Ownership Evaluation: Assistance with quoting different cost savings of proposed solutions on Amazon Web Services versus on-premises or a traditional hosting environment.</p> </li> <li> <p>Cosell—Deal Support: Request Amazon Web Services seller's support to progress the opportunity (for example: joint customer call, strategic positioning).</p> </li> <li> <p>Cosell—Support for Public Tender/RFx: Opportunity related to the public sector where the partner needs Amazon Web Services RFx support.</p> </li> </ul>"
        },
        "NationalSecurity":{
          "shape":"NationalSecurity",
          "documentation":"<p>Indicates whether the <code>Opportunity</code> pertains to a national security project. This field must be set to <code>true</code> only when the customer's industry is <i>Government</i>. Additional privacy and security measures apply during the review and management process for opportunities marked as <code>NationalSecurity</code>.</p>"
        },
        "PartnerOpportunityIdentifier":{
          "shape":"CreateOpportunityRequestPartnerOpportunityIdentifierString",
          "documentation":"<p>Specifies the opportunity's unique identifier in the partner's CRM system. This value is essential to track and reconcile because it's included in the outbound payload to the partner.</p> <p>This field allows partners to link an opportunity to their CRM, which helps to ensure seamless integration and accurate synchronization between the Partner Central API and the partner's internal systems.</p>"
        },
        "Customer":{
          "shape":"Customer",
          "documentation":"<p>Specifies customer details associated with the <code>Opportunity</code>.</p>"
        },
        "Project":{
          "shape":"Project",
          "documentation":"<p>An object that contains project details for the <code>Opportunity</code>.</p>"
        },
        "OpportunityType":{
          "shape":"OpportunityType",
          "documentation":"<p>Specifies the opportunity type as a renewal, new, or expansion.</p> <p>Opportunity types:</p> <ul> <li> <p>New opportunity: Represents a new business opportunity with a potential customer that's not previously engaged with your solutions or services.</p> </li> <li> <p>Renewal opportunity: Represents an opportunity to renew an existing contract or subscription with a current customer, ensuring continuity of service.</p> </li> <li> <p>Expansion opportunity: Represents an opportunity to expand the scope of an existing contract or subscription, either by adding new services or increasing the volume of existing services for a current customer.</p> </li> </ul>"
        },
        "Marketing":{
          "shape":"Marketing",
          "documentation":"<p>This object contains marketing details and is optional for an opportunity.</p>"
        },
        "SoftwareRevenue":{
          "shape":"SoftwareRevenue",
          "documentation":"<p>Specifies details of a customer's procurement terms. This is required only for partners in eligible programs.</p>"
        },
        "ClientToken":{
          "shape":"CreateOpportunityRequestClientTokenString",
          "documentation":"<p>Required to be unique, and should be unchanging, it can be randomly generated or a meaningful string.</p> <p>Default: None</p> <p>Best practice: To help ensure uniqueness and avoid conflicts, use a Universally Unique Identifier (UUID) as the <code>ClientToken</code>. You can use standard libraries from most programming languages to generate this. If you use the same client token, the API returns the following error: \"Conflicting client token submitted for a new request body.\"</p>",
          "idempotencyToken":true
        },
        "LifeCycle":{
          "shape":"LifeCycle",
          "documentation":"<p>An object that contains lifecycle details for the <code>Opportunity</code>.</p>"
        },
        "Origin":{
          "shape":"OpportunityOrigin",
          "documentation":"<p>Specifies the origin of the opportunity, indicating if it was sourced from Amazon Web Services or the partner. For all opportunities created with <code>Catalog: AWS</code>, this field must only be <code>Partner Referral</code>. However, when using <code>Catalog: Sandbox</code>, you can set this field to <code>AWS Referral</code> to simulate Amazon Web Services referral creation. This allows Amazon Web Services-originated flows testing in the sandbox catalog.</p>"
        },
        "OpportunityTeam":{
          "shape":"PartnerOpportunityTeamMembersList",
          "documentation":"<p>Represents the internal team handling the opportunity. Specify collaborating members of this opportunity who are within the partner's organization.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>A map of the key-value pairs of the tag or tags to assign.</p>"
        }
      }
    },
    "CreateOpportunityRequestClientTokenString":{
      "type":"string",
      "min":1
    },
    "CreateOpportunityRequestPartnerOpportunityIdentifierString":{
      "type":"string",
      "max":64,
      "min":0
    },
    "CreateOpportunityResponse":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"OpportunityIdentifier",
          "documentation":"<p>Read-only, system-generated <code>Opportunity</code> unique identifier. Amazon Web Services creates this identifier, and it's used for all subsequent opportunity actions, such as updates, associations, and submissions. It helps to ensure that each opportunity is accurately tracked and managed.</p>"
        },
        "PartnerOpportunityIdentifier":{
          "shape":"String",
          "documentation":"<p>Specifies the opportunity's unique identifier in the partner's CRM system. This value is essential to track and reconcile because it's included in the outbound payload sent back to the partner.</p>"
        },
        "LastModifiedDate":{
          "shape":"DateTime",
          "documentation":"<p> <code>DateTime</code> when the opportunity was last modified. When the <code>Opportunity</code> is created, its value is <code>CreatedDate</code>.</p>"
        }
      }
    },
    "CreateResourceSnapshotJobRequest":{
      "type":"structure",
      "required":[
        "Catalog",
        "ClientToken",
        "EngagementIdentifier",
        "ResourceType",
        "ResourceIdentifier",
        "ResourceSnapshotTemplateIdentifier"
      ],
      "members":{
        "Catalog":{
          "shape":"CatalogIdentifier",
          "documentation":"<p>Specifies the catalog in which to create the snapshot job. Valid values are <code>AWS</code> and <code> Sandbox</code>.</p>"
        },
        "ClientToken":{
          "shape":"CreateResourceSnapshotJobRequestClientTokenString",
          "documentation":"<p>A client-generated UUID used for idempotency check. The token helps prevent duplicate job creations.</p>",
          "idempotencyToken":true
        },
        "EngagementIdentifier":{
          "shape":"EngagementIdentifier",
          "documentation":"<p>Specifies the identifier of the engagement associated with the resource to be snapshotted.</p>"
        },
        "ResourceType":{
          "shape":"ResourceType",
          "documentation":"<p>The type of resource for which the snapshot job is being created. Must be one of the supported resource types i.e. <code>Opportunity</code> </p>"
        },
        "ResourceIdentifier":{
          "shape":"ResourceIdentifier",
          "documentation":"<p>Specifies the identifier of the specific resource to be snapshotted. The format depends on the <code> ResourceType</code>.</p>"
        },
        "ResourceSnapshotTemplateIdentifier":{
          "shape":"ResourceTemplateName",
          "documentation":"<p>Specifies the name of the template that defines the schema for the snapshot.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>A map of the key-value pairs of the tag or tags to assign.</p>"
        }
      }
    },
    "CreateResourceSnapshotJobRequestClientTokenString":{
      "type":"string",
      "pattern":"[!-~]{1,64}"
    },
    "CreateResourceSnapshotJobResponse":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"ResourceSnapshotJobIdentifier",
          "documentation":"<p>The unique identifier for the created snapshot job.</p>"
        },
        "Arn":{
          "shape":"ResourceSnapshotJobArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the created snapshot job.</p>"
        }
      }
    },
    "CreateResourceSnapshotRequest":{
      "type":"structure",
      "required":[
        "Catalog",
        "EngagementIdentifier",
        "ResourceType",
        "ResourceIdentifier",
        "ResourceSnapshotTemplateIdentifier",
        "ClientToken"
      ],
      "members":{
        "Catalog":{
          "shape":"CatalogIdentifier",
          "documentation":"<p> Specifies the catalog where the snapshot is created. Valid values are <code>AWS</code> and <code>Sandbox</code>. </p>"
        },
        "EngagementIdentifier":{
          "shape":"EngagementIdentifier",
          "documentation":"<p> The unique identifier of the engagement associated with this snapshot. This field links the snapshot to a specific engagement context. </p>"
        },
        "ResourceType":{
          "shape":"ResourceType",
          "documentation":"<p> Specifies the type of resource for which the snapshot is being created. This field determines the structure and content of the snapshot. Must be one of the supported resource types, such as: <code>Opportunity</code>. </p>"
        },
        "ResourceIdentifier":{
          "shape":"ResourceIdentifier",
          "documentation":"<p> The unique identifier of the specific resource to be snapshotted. The format and constraints of this identifier depend on the <code>ResourceType</code> specified. For example: For <code>Opportunity</code> type, it will be an opportunity ID. </p>"
        },
        "ResourceSnapshotTemplateIdentifier":{
          "shape":"ResourceTemplateName",
          "documentation":"<p> The name of the template that defines the schema for the snapshot. This template determines which subset of the resource data will be included in the snapshot. Must correspond to an existing and valid template for the specified <code>ResourceType</code>. </p>"
        },
        "ClientToken":{
          "shape":"CreateResourceSnapshotRequestClientTokenString",
          "documentation":"<p> Specifies a unique, client-generated UUID to ensure that the request is handled exactly once. This token helps prevent duplicate snapshot creations. </p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateResourceSnapshotRequestClientTokenString":{
      "type":"string",
      "pattern":"[!-~]{1,64}"
    },
    "CreateResourceSnapshotResponse":{
      "type":"structure",
      "members":{
        "Arn":{
          "shape":"ResourceArn",
          "documentation":"<p> Specifies the Amazon Resource Name (ARN) that uniquely identifies the snapshot created. </p>"
        },
        "Revision":{
          "shape":"ResourceSnapshotRevision",
          "documentation":"<p> Specifies the revision number of the created snapshot. This field provides important information about the snapshot's place in the sequence of snapshots for the given resource. </p>"
        }
      }
    },
    "CurrencyCode":{
      "type":"string",
      "enum":[
        "USD",
        "EUR",
        "GBP",
        "AUD",
        "CAD",
        "CNY",
        "NZD",
        "INR",
        "JPY",
        "CHF",
        "SEK",
        "AED",
        "AFN",
        "ALL",
        "AMD",
        "ANG",
        "AOA",
        "ARS",
        "AWG",
        "AZN",
        "BAM",
        "BBD",
        "BDT",
        "BGN",
        "BHD",
        "BIF",
        "BMD",
        "BND",
        "BOB",
        "BOV",
        "BRL",
        "BSD",
        "BTN",
        "BWP",
        "BYN",
        "BZD",
        "CDF",
        "CHE",
        "CHW",
        "CLF",
        "CLP",
        "COP",
        "COU",
        "CRC",
        "CUC",
        "CUP",
        "CVE",
        "CZK",
        "DJF",
        "DKK",
        "DOP",
        "DZD",
        "EGP",
        "ERN",
        "ETB",
        "FJD",
        "FKP",
        "GEL",
        "GHS",
        "GIP",
        "GMD",
        "GNF",
        "GTQ",
        "GYD",
        "HKD",
        "HNL",
        "HRK",
        "HTG",
        "HUF",
        "IDR",
        "ILS",
        "IQD",
        "IRR",
        "ISK",
        "JMD",
        "JOD",
        "KES",
        "KGS",
        "KHR",
        "KMF",
        "KPW",
        "KRW",
        "KWD",
        "KYD",
        "KZT",
        "LAK",
        "LBP",
        "LKR",
        "LRD",
        "LSL",
        "LYD",
        "MAD",
        "MDL",
        "MGA",
        "MKD",
        "MMK",
        "MNT",
        "MOP",
        "MRU",
        "MUR",
        "MVR",
        "MWK",
        "MXN",
        "MXV",
        "MYR",
        "MZN",
        "NAD",
        "NGN",
        "NIO",
        "NOK",
        "NPR",
        "OMR",
        "PAB",
        "PEN",
        "PGK",
        "PHP",
        "PKR",
        "PLN",
        "PYG",
        "QAR",
        "RON",
        "RSD",
        "RUB",
        "RWF",
        "SAR",
        "SBD",
        "SCR",
        "SDG",
        "SGD",
        "SHP",
        "SLL",
        "SOS",
        "SRD",
        "SSP",
        "STN",
        "SVC",
        "SYP",
        "SZL",
        "THB",
        "TJS",
        "TMT",
        "TND",
        "TOP",
        "TRY",
        "TTD",
        "TWD",
        "TZS",
        "UAH",
        "UGX",
        "USN",
        "UYI",
        "UYU",
        "UZS",
        "VEF",
        "VND",
        "VUV",
        "WST",
        "XAF",
        "XCD",
        "XDR",
        "XOF",
        "XPF",
        "XSU",
        "XUA",
        "YER",
        "ZAR",
        "ZMW",
        "ZWL"
      ],
      "sensitive":true
    },
    "Customer":{
      "type":"structure",
      "members":{
        "Account":{
          "shape":"Account",
          "documentation":"<p>An object that contains the customer's account details.</p>"
        },
        "Contacts":{
          "shape":"CustomerContactsList",
          "documentation":"<p>Represents the contact details for individuals associated with the customer of the <code>Opportunity</code>. This field captures relevant contacts, including decision-makers, influencers, and technical stakeholders within the customer organization. These contacts are key to progressing the opportunity.</p>"
        }
      },
      "documentation":"<p>An object that contains the customer's <code>Account</code> and <code>Contact</code>.</p>"
    },
    "CustomerContactsList":{
      "type":"list",
      "member":{"shape":"Contact"}
    },
    "CustomerProjectsContext":{
      "type":"structure",
      "members":{
        "Customer":{"shape":"EngagementCustomer"},
        "Project":{
          "shape":"EngagementCustomerProjectDetails",
          "documentation":"<p>Information about the customer project associated with the Engagement.</p>"
        }
      },
      "documentation":"<p>The CustomerProjects structure in Engagements offers a flexible framework for managing customer-project relationships. It supports multiple customers per Engagement and multiple projects per customer, while also allowing for customers without projects and projects without specific customers. </p> <p>All Engagement members have full visibility of customers and their associated projects, enabling the capture of relevant context even when project details are not fully defined. This structure also facilitates targeted invitations, allowing partners to focus on specific customers and their business problems when sending Engagement invitations. </p>"
    },
    "CustomerSummary":{
      "type":"structure",
      "members":{
        "Account":{
          "shape":"AccountSummary",
          "documentation":"<p>An object that contains a customer's account details.</p>"
        }
      },
      "documentation":"<p>An object that contains a <code>Customer</code> object's subset of fields.</p>"
    },
    "Date":{
      "type":"string",
      "pattern":"[1-9][0-9]{3}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])"
    },
    "DateTime":{
      "type":"timestamp",
      "timestampFormat":"iso8601"
    },
    "DeleteResourceSnapshotJobRequest":{
      "type":"structure",
      "required":[
        "Catalog",
        "ResourceSnapshotJobIdentifier"
      ],
      "members":{
        "Catalog":{
          "shape":"CatalogIdentifier",
          "documentation":"<p> Specifies the catalog from which to delete the snapshot job. Valid values are <code>AWS</code> and <code>Sandbox</code>. </p>"
        },
        "ResourceSnapshotJobIdentifier":{
          "shape":"ResourceSnapshotJobIdentifier",
          "documentation":"<p> The unique identifier of the resource snapshot job to be deleted. </p>"
        }
      }
    },
    "DeliveryModel":{
      "type":"string",
      "enum":[
        "SaaS or PaaS",
        "BYOL or AMI",
        "Managed Services",
        "Professional Services",
        "Resell",
        "Other"
      ]
    },
    "DeliveryModels":{
      "type":"list",
      "member":{"shape":"DeliveryModel"}
    },
    "DisassociateOpportunityRequest":{
      "type":"structure",
      "required":[
        "Catalog",
        "OpportunityIdentifier",
        "RelatedEntityType",
        "RelatedEntityIdentifier"
      ],
      "members":{
        "Catalog":{
          "shape":"CatalogIdentifier",
          "documentation":"<p>Specifies the catalog associated with the request. This field takes a string value from a predefined list: <code>AWS</code> or <code>Sandbox</code>. The catalog determines which environment the opportunity disassociation is made in. Use <code>AWS</code> to disassociate opportunities in the Amazon Web Services catalog, and <code>Sandbox</code> for testing in secure, isolated environments.</p>"
        },
        "OpportunityIdentifier":{
          "shape":"OpportunityIdentifier",
          "documentation":"<p>The opportunity's unique identifier for when you want to disassociate it from related entities. This identifier helps to ensure that the correct opportunity is updated.</p> <p>Validation: Ensure that the provided identifier corresponds to an existing opportunity in the Amazon Web Services system because incorrect identifiers result in an error and no changes are made.</p>"
        },
        "RelatedEntityType":{
          "shape":"RelatedEntityType",
          "documentation":"<p>The type of the entity that you're disassociating from the opportunity. When you specify the entity type, it helps the system correctly process the disassociation request to ensure that the right connections are removed.</p> <p>Examples of entity types include Partner Solution, Amazon Web Services product, and Amazon Web Services Marketplaceoffer. Ensure that the value matches one of the expected entity types.</p> <p>Validation: Provide a valid entity type to help ensure successful disassociation. An invalid or incorrect entity type results in an error.</p>"
        },
        "RelatedEntityIdentifier":{
          "shape":"DisassociateOpportunityRequestRelatedEntityIdentifierString",
          "documentation":"<p>The related entity's identifier that you want to disassociate from the opportunity. Depending on the type of entity, this could be a simple identifier or an Amazon Resource Name (ARN) for entities managed through Amazon Web Services Marketplace.</p> <p>For Amazon Web Services Marketplace entities, use the Amazon Web Services Marketplace API to obtain the necessary ARNs. For guidance on retrieving these ARNs, see <a href=\"https://docs.aws.amazon.com/marketplace-catalog/latest/api-reference/welcome.html\"> Amazon Web Services MarketplaceUsing the Amazon Web Services Marketplace Catalog API</a>.</p> <p>Validation: Ensure the identifier or ARN is valid and corresponds to an existing entity. An incorrect or invalid identifier results in an error.</p>"
        }
      }
    },
    "DisassociateOpportunityRequestRelatedEntityIdentifierString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "DunsNumber":{
      "type":"string",
      "pattern":"[0-9]{9}",
      "sensitive":true
    },
    "Email":{
      "type":"string",
      "max":80,
      "min":0,
      "pattern":"[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?",
      "sensitive":true
    },
    "EngagementArn":{
      "type":"string",
      "pattern":"arn:.*"
    },
    "EngagementArnOrIdentifier":{
      "type":"string",
      "pattern":"(arn:.*|eng-[0-9a-z]{14})"
    },
    "EngagementContextDetails":{
      "type":"structure",
      "required":["Type"],
      "members":{
        "Type":{
          "shape":"EngagementContextType",
          "documentation":"<p>Specifies the type of Engagement context. Valid values are \"CustomerProject\" or \"Document\", indicating whether the context relates to a customer project or a document respectively. </p>"
        },
        "Payload":{
          "shape":"EngagementContextPayload",
          "documentation":"<p>Contains the specific details of the Engagement context. The structure of this payload varies depending on the Type field. </p>"
        }
      },
      "documentation":"<p>Provides detailed context information for an Engagement. This structure allows for specifying the type of context and its associated payload. </p>"
    },
    "EngagementContextPayload":{
      "type":"structure",
      "members":{
        "CustomerProject":{
          "shape":"CustomerProjectsContext",
          "documentation":"<p>Contains detailed information about a customer project when the context type is \"CustomerProject\". This field is present only when the Type in EngagementContextDetails is set to \"CustomerProject\". </p>"
        }
      },
      "documentation":"<p>Represents the payload of an Engagement context. The structure of this payload varies based on the context type specified in the EngagementContextDetails. </p>",
      "union":true
    },
    "EngagementContextType":{
      "type":"string",
      "enum":["CustomerProject"]
    },
    "EngagementContexts":{
      "type":"list",
      "member":{"shape":"EngagementContextDetails"},
      "max":5,
      "min":0
    },
    "EngagementCustomer":{
      "type":"structure",
      "required":[
        "Industry",
        "CompanyName",
        "WebsiteUrl",
        "CountryCode"
      ],
      "members":{
        "Industry":{
          "shape":"Industry",
          "documentation":"<p>Specifies the industry to which the customer’s company belongs. This field helps categorize the opportunity based on the customer’s business sector.</p>"
        },
        "CompanyName":{
          "shape":"CompanyName",
          "documentation":"<p>Represents the name of the customer’s company associated with the Engagement Invitation. This field is used to identify the customer.</p>"
        },
        "WebsiteUrl":{
          "shape":"CompanyWebsiteUrl",
          "documentation":"<p>Provides the website URL of the customer’s company. This field helps partners verify the legitimacy and size of the customer organization.</p>"
        },
        "CountryCode":{
          "shape":"CountryCode",
          "documentation":"<p>Indicates the country in which the customer’s company operates. This field is useful for understanding regional requirements or compliance needs.</p>"
        }
      },
      "documentation":"<p>Contains details about the customer associated with the Engagement Invitation, including company information and industry.</p>"
    },
    "EngagementCustomerBusinessProblem":{
      "type":"string",
      "max":255,
      "min":20,
      "sensitive":true
    },
    "EngagementCustomerProjectDetails":{
      "type":"structure",
      "required":[
        "Title",
        "BusinessProblem",
        "TargetCompletionDate"
      ],
      "members":{
        "Title":{
          "shape":"EngagementCustomerProjectTitle",
          "documentation":"<p>The title of the project.</p>"
        },
        "BusinessProblem":{
[...]
