{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-07-25",
    "endpointPrefix":"appsync",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceAbbreviation":"AWSAppSync",
    "serviceFullName":"AWS AppSync",
    "serviceId":"AppSync",
    "signatureVersion":"v4",
    "signingName":"appsync",
    "uid":"appsync-2017-07-25",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AssociateApi":{
      "name":"AssociateApi",
      "http":{
        "method":"POST",
        "requestUri":"/v1/domainnames/{domainName}/apiassociation"
      },
      "input":{"shape":"AssociateApiRequest"},
      "output":{"shape":"AssociateApiResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"BadRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Maps an endpoint to your custom domain.</p>"
    },
    "AssociateMergedGraphqlApi":{
      "name":"AssociateMergedGraphqlApi",
      "http":{
        "method":"POST",
        "requestUri":"/v1/sourceApis/{sourceApiIdentifier}/mergedApiAssociations"
      },
      "input":{"shape":"AssociateMergedGraphqlApiRequest"},
      "output":{"shape":"AssociateMergedGraphqlApiResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"BadRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Creates an association between a Merged API and source API using the source API's identifier.</p>"
    },
    "AssociateSourceGraphqlApi":{
      "name":"AssociateSourceGraphqlApi",
      "http":{
        "method":"POST",
        "requestUri":"/v1/mergedApis/{mergedApiIdentifier}/sourceApiAssociations"
      },
      "input":{"shape":"AssociateSourceGraphqlApiRequest"},
      "output":{"shape":"AssociateSourceGraphqlApiResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"BadRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Creates an association between a Merged API and source API using the Merged API's identifier.</p>"
    },
    "CreateApi":{
      "name":"CreateApi",
      "http":{
        "method":"POST",
        "requestUri":"/v2/apis"
      },
      "input":{"shape":"CreateApiRequest"},
      "output":{"shape":"CreateApiResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates an <code>Api</code> object. Use this operation to create an AppSync API with your preferred configuration, such as an Event API that provides real-time message publishing and message subscriptions over WebSockets.</p>"
    },
    "CreateApiCache":{
      "name":"CreateApiCache",
      "http":{
        "method":"POST",
        "requestUri":"/v1/apis/{apiId}/ApiCaches"
      },
      "input":{"shape":"CreateApiCacheRequest"},
      "output":{"shape":"CreateApiCacheResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates a cache for the GraphQL API.</p>"
    },
    "CreateApiKey":{
      "name":"CreateApiKey",
      "http":{
        "method":"POST",
        "requestUri":"/v1/apis/{apiId}/apikeys"
      },
      "input":{"shape":"CreateApiKeyRequest"},
      "output":{"shape":"CreateApiKeyResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnauthorizedException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ApiKeyLimitExceededException"},
        {"shape":"ApiKeyValidityOutOfBoundsException"}
      ],
      "documentation":"<p>Creates a unique key that you can distribute to clients who invoke your API.</p>"
    },
    "CreateChannelNamespace":{
      "name":"CreateChannelNamespace",
      "http":{
        "method":"POST",
        "requestUri":"/v2/apis/{apiId}/channelNamespaces"
      },
      "input":{"shape":"CreateChannelNamespaceRequest"},
      "output":{"shape":"CreateChannelNamespaceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ConflictException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a <code>ChannelNamespace</code> for an <code>Api</code>.</p>"
    },
    "CreateDataSource":{
      "name":"CreateDataSource",
      "http":{
        "method":"POST",
        "requestUri":"/v1/apis/{apiId}/datasources"
      },
      "input":{"shape":"CreateDataSourceRequest"},
      "output":{"shape":"CreateDataSourceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates a <code>DataSource</code> object.</p>"
    },
    "CreateDomainName":{
      "name":"CreateDomainName",
      "http":{
        "method":"POST",
        "requestUri":"/v1/domainnames"
      },
      "input":{"shape":"CreateDomainNameRequest"},
      "output":{"shape":"CreateDomainNameResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"BadRequestException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates a custom <code>DomainName</code> object.</p>"
    },
    "CreateFunction":{
      "name":"CreateFunction",
      "http":{
        "method":"POST",
        "requestUri":"/v1/apis/{apiId}/functions"
      },
      "input":{"shape":"CreateFunctionRequest"},
      "output":{"shape":"CreateFunctionResponse"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Creates a <code>Function</code> object.</p> <p>A function is a reusable entity. You can use multiple functions to compose the resolver logic.</p>"
    },
    "CreateGraphqlApi":{
      "name":"CreateGraphqlApi",
      "http":{
        "method":"POST",
        "requestUri":"/v1/apis"
      },
      "input":{"shape":"CreateGraphqlApiRequest"},
      "output":{"shape":"CreateGraphqlApiResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"},
        {"shape":"ApiLimitExceededException"}
      ],
      "documentation":"<p>Creates a <code>GraphqlApi</code> object.</p>"
    },
    "CreateResolver":{
      "name":"CreateResolver",
      "http":{
        "method":"POST",
        "requestUri":"/v1/apis/{apiId}/types/{typeName}/resolvers"
      },
      "input":{"shape":"CreateResolverRequest"},
      "output":{"shape":"CreateResolverResponse"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Creates a <code>Resolver</code> object.</p> <p>A resolver converts incoming requests into a format that a data source can understand, and converts the data source's responses into GraphQL.</p>"
    },
    "CreateType":{
      "name":"CreateType",
      "http":{
        "method":"POST",
        "requestUri":"/v1/apis/{apiId}/types"
      },
      "input":{"shape":"CreateTypeRequest"},
      "output":{"shape":"CreateTypeResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Creates a <code>Type</code> object.</p>"
    },
    "DeleteApi":{
      "name":"DeleteApi",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/apis/{apiId}"
      },
      "input":{"shape":"DeleteApiRequest"},
      "output":{"shape":"DeleteApiResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes an <code>Api</code> object</p>",
      "idempotent":true
    },
    "DeleteApiCache":{
      "name":"DeleteApiCache",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/apis/{apiId}/ApiCaches"
      },
      "input":{"shape":"DeleteApiCacheRequest"},
      "output":{"shape":"DeleteApiCacheResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes an <code>ApiCache</code> object.</p>"
    },
    "DeleteApiKey":{
      "name":"DeleteApiKey",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/apis/{apiId}/apikeys/{id}"
      },
      "input":{"shape":"DeleteApiKeyRequest"},
      "output":{"shape":"DeleteApiKeyResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes an API key.</p>"
    },
    "DeleteChannelNamespace":{
      "name":"DeleteChannelNamespace",
      "http":{
        "method":"DELETE",
        "requestUri":"/v2/apis/{apiId}/channelNamespaces/{name}"
      },
      "input":{"shape":"DeleteChannelNamespaceRequest"},
      "output":{"shape":"DeleteChannelNamespaceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a <code>ChannelNamespace</code>.</p>",
      "idempotent":true
    },
    "DeleteDataSource":{
      "name":"DeleteDataSource",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/apis/{apiId}/datasources/{name}"
      },
      "input":{"shape":"DeleteDataSourceRequest"},
      "output":{"shape":"DeleteDataSourceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a <code>DataSource</code> object.</p>"
    },
    "DeleteDomainName":{
      "name":"DeleteDomainName",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/domainnames/{domainName}"
      },
      "input":{"shape":"DeleteDomainNameRequest"},
      "output":{"shape":"DeleteDomainNameResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InternalFailureException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Deletes a custom <code>DomainName</code> object.</p>"
    },
    "DeleteFunction":{
      "name":"DeleteFunction",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/apis/{apiId}/functions/{functionId}"
      },
      "input":{"shape":"DeleteFunctionRequest"},
      "output":{"shape":"DeleteFunctionResponse"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Deletes a <code>Function</code>.</p>"
    },
    "DeleteGraphqlApi":{
      "name":"DeleteGraphqlApi",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/apis/{apiId}"
      },
      "input":{"shape":"DeleteGraphqlApiRequest"},
      "output":{"shape":"DeleteGraphqlApiResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a <code>GraphqlApi</code> object.</p>"
    },
    "DeleteResolver":{
      "name":"DeleteResolver",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/apis/{apiId}/types/{typeName}/resolvers/{fieldName}"
      },
      "input":{"shape":"DeleteResolverRequest"},
      "output":{"shape":"DeleteResolverResponse"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Deletes a <code>Resolver</code> object.</p>"
    },
    "DeleteType":{
      "name":"DeleteType",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/apis/{apiId}/types/{typeName}"
      },
      "input":{"shape":"DeleteTypeRequest"},
      "output":{"shape":"DeleteTypeResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Deletes a <code>Type</code> object.</p>"
    },
    "DisassociateApi":{
      "name":"DisassociateApi",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/domainnames/{domainName}/apiassociation"
      },
      "input":{"shape":"DisassociateApiRequest"},
      "output":{"shape":"DisassociateApiResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InternalFailureException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Removes an <code>ApiAssociation</code> object from a custom domain.</p>"
    },
    "DisassociateMergedGraphqlApi":{
      "name":"DisassociateMergedGraphqlApi",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/sourceApis/{sourceApiIdentifier}/mergedApiAssociations/{associationId}"
      },
      "input":{"shape":"DisassociateMergedGraphqlApiRequest"},
      "output":{"shape":"DisassociateMergedGraphqlApiResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"BadRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"NotFoundException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Deletes an association between a Merged API and source API using the source API's identifier and the association ID.</p>"
    },
    "DisassociateSourceGraphqlApi":{
      "name":"DisassociateSourceGraphqlApi",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/mergedApis/{mergedApiIdentifier}/sourceApiAssociations/{associationId}"
      },
      "input":{"shape":"DisassociateSourceGraphqlApiRequest"},
      "output":{"shape":"DisassociateSourceGraphqlApiResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"BadRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"NotFoundException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Deletes an association between a Merged API and source API using the Merged API's identifier and the association ID.</p>"
    },
    "EvaluateCode":{
      "name":"EvaluateCode",
      "http":{
        "method":"POST",
        "requestUri":"/v1/dataplane-evaluatecode"
      },
      "input":{"shape":"EvaluateCodeRequest"},
      "output":{"shape":"EvaluateCodeResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalFailureException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Evaluates the given code and returns the response. The code definition requirements depend on the specified runtime. For <code>APPSYNC_JS</code> runtimes, the code defines the request and response functions. The request function takes the incoming request after a GraphQL operation is parsed and converts it into a request configuration for the selected data source operation. The response function interprets responses from the data source and maps it to the shape of the GraphQL field output type. </p>"
    },
    "EvaluateMappingTemplate":{
      "name":"EvaluateMappingTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/v1/dataplane-evaluatetemplate"
      },
      "input":{"shape":"EvaluateMappingTemplateRequest"},
      "output":{"shape":"EvaluateMappingTemplateResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalFailureException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Evaluates a given template and returns the response. The mapping template can be a request or response template.</p> <p>Request templates take the incoming request after a GraphQL operation is parsed and convert it into a request configuration for the selected data source operation. Response templates interpret responses from the data source and map it to the shape of the GraphQL field output type.</p> <p>Mapping templates are written in the Apache Velocity Template Language (VTL).</p>"
    },
    "FlushApiCache":{
      "name":"FlushApiCache",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/apis/{apiId}/FlushCache"
      },
      "input":{"shape":"FlushApiCacheRequest"},
      "output":{"shape":"FlushApiCacheResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Flushes an <code>ApiCache</code> object.</p>"
    },
    "GetApi":{
      "name":"GetApi",
      "http":{
        "method":"GET",
        "requestUri":"/v2/apis/{apiId}"
      },
      "input":{"shape":"GetApiRequest"},
      "output":{"shape":"GetApiResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves an <code>Api</code> object.</p>"
    },
    "GetApiAssociation":{
      "name":"GetApiAssociation",
      "http":{
        "method":"GET",
        "requestUri":"/v1/domainnames/{domainName}/apiassociation"
      },
      "input":{"shape":"GetApiAssociationRequest"},
      "output":{"shape":"GetApiAssociationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"BadRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Retrieves an <code>ApiAssociation</code> object.</p>"
    },
    "GetApiCache":{
      "name":"GetApiCache",
      "http":{
        "method":"GET",
        "requestUri":"/v1/apis/{apiId}/ApiCaches"
      },
      "input":{"shape":"GetApiCacheRequest"},
      "output":{"shape":"GetApiCacheResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Retrieves an <code>ApiCache</code> object.</p>"
    },
    "GetChannelNamespace":{
      "name":"GetChannelNamespace",
      "http":{
        "method":"GET",
        "requestUri":"/v2/apis/{apiId}/channelNamespaces/{name}"
      },
      "input":{"shape":"GetChannelNamespaceRequest"},
      "output":{"shape":"GetChannelNamespaceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves the channel namespace for a specified <code>Api</code>.</p>"
    },
    "GetDataSource":{
      "name":"GetDataSource",
      "http":{
        "method":"GET",
        "requestUri":"/v1/apis/{apiId}/datasources/{name}"
      },
      "input":{"shape":"GetDataSourceRequest"},
      "output":{"shape":"GetDataSourceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Retrieves a <code>DataSource</code> object.</p>"
    },
    "GetDataSourceIntrospection":{
      "name":"GetDataSourceIntrospection",
      "http":{
        "method":"GET",
        "requestUri":"/v1/datasources/introspections/{introspectionId}"
      },
      "input":{"shape":"GetDataSourceIntrospectionRequest"},
      "output":{"shape":"GetDataSourceIntrospectionResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Retrieves the record of an existing introspection. If the retrieval is successful, the result of the instrospection will also be returned. If the retrieval fails the operation, an error message will be returned instead.</p>"
    },
    "GetDomainName":{
      "name":"GetDomainName",
      "http":{
        "method":"GET",
        "requestUri":"/v1/domainnames/{domainName}"
      },
      "input":{"shape":"GetDomainNameRequest"},
      "output":{"shape":"GetDomainNameResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"BadRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Retrieves a custom <code>DomainName</code> object.</p>"
    },
    "GetFunction":{
      "name":"GetFunction",
      "http":{
        "method":"GET",
        "requestUri":"/v1/apis/{apiId}/functions/{functionId}"
      },
      "input":{"shape":"GetFunctionRequest"},
      "output":{"shape":"GetFunctionResponse"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Get a <code>Function</code>.</p>"
    },
    "GetGraphqlApi":{
      "name":"GetGraphqlApi",
      "http":{
        "method":"GET",
        "requestUri":"/v1/apis/{apiId}"
      },
      "input":{"shape":"GetGraphqlApiRequest"},
      "output":{"shape":"GetGraphqlApiResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a <code>GraphqlApi</code> object.</p>"
    },
    "GetGraphqlApiEnvironmentVariables":{
      "name":"GetGraphqlApiEnvironmentVariables",
      "http":{
        "method":"GET",
        "requestUri":"/v1/apis/{apiId}/environmentVariables"
      },
      "input":{"shape":"GetGraphqlApiEnvironmentVariablesRequest"},
      "output":{"shape":"GetGraphqlApiEnvironmentVariablesResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves the list of environmental variable key-value pairs associated with an API by its ID value.</p>"
    },
    "GetIntrospectionSchema":{
      "name":"GetIntrospectionSchema",
      "http":{
        "method":"GET",
        "requestUri":"/v1/apis/{apiId}/schema"
      },
      "input":{"shape":"GetIntrospectionSchemaRequest"},
      "output":{"shape":"GetIntrospectionSchemaResponse"},
      "errors":[
        {"shape":"GraphQLSchemaException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Retrieves the introspection schema for a GraphQL API.</p>"
    },
    "GetResolver":{
      "name":"GetResolver",
      "http":{
        "method":"GET",
        "requestUri":"/v1/apis/{apiId}/types/{typeName}/resolvers/{fieldName}"
      },
      "input":{"shape":"GetResolverRequest"},
      "output":{"shape":"GetResolverResponse"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"}
      ],
      "documentation":"<p>Retrieves a <code>Resolver</code> object.</p>"
    },
    "GetSchemaCreationStatus":{
      "name":"GetSchemaCreationStatus",
      "http":{
        "method":"GET",
        "requestUri":"/v1/apis/{apiId}/schemacreation"
      },
      "input":{"shape":"GetSchemaCreationStatusRequest"},
      "output":{"shape":"GetSchemaCreationStatusResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Retrieves the current status of a schema creation operation.</p>"
    },
    "GetSourceApiAssociation":{
      "name":"GetSourceApiAssociation",
      "http":{
        "method":"GET",
        "requestUri":"/v1/mergedApis/{mergedApiIdentifier}/sourceApiAssociations/{associationId}"
      },
      "input":{"shape":"GetSourceApiAssociationRequest"},
      "output":{"shape":"GetSourceApiAssociationResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"BadRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Retrieves a <code>SourceApiAssociation</code> object.</p>"
    },
    "GetType":{
      "name":"GetType",
      "http":{
        "method":"GET",
        "requestUri":"/v1/apis/{apiId}/types/{typeName}"
      },
      "input":{"shape":"GetTypeRequest"},
      "output":{"shape":"GetTypeResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Retrieves a <code>Type</code> object.</p>"
    },
    "ListApiKeys":{
      "name":"ListApiKeys",
      "http":{
        "method":"GET",
        "requestUri":"/v1/apis/{apiId}/apikeys"
      },
      "input":{"shape":"ListApiKeysRequest"},
      "output":{"shape":"ListApiKeysResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists the API keys for a given API.</p> <note> <p>API keys are deleted automatically 60 days after they expire. However, they may still be included in the response until they have actually been deleted. You can safely call <code>DeleteApiKey</code> to manually delete a key before it's automatically deleted.</p> </note>"
    },
    "ListApis":{
      "name":"ListApis",
      "http":{
        "method":"GET",
        "requestUri":"/v2/apis"
      },
      "input":{"shape":"ListApisRequest"},
      "output":{"shape":"ListApisResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists the APIs in your AppSync account.</p> <p> <code>ListApis</code> returns only the high level API details. For more detailed information about an API, use <code>GetApi</code>.</p>"
    },
    "ListChannelNamespaces":{
      "name":"ListChannelNamespaces",
      "http":{
        "method":"GET",
        "requestUri":"/v2/apis/{apiId}/channelNamespaces"
      },
      "input":{"shape":"ListChannelNamespacesRequest"},
      "output":{"shape":"ListChannelNamespacesResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists the channel namespaces for a specified <code>Api</code>.</p> <p> <code>ListChannelNamespaces</code> returns only high level details for the channel namespace. To retrieve code handlers, use <code>GetChannelNamespace</code>.</p>"
    },
    "ListDataSources":{
      "name":"ListDataSources",
      "http":{
        "method":"GET",
        "requestUri":"/v1/apis/{apiId}/datasources"
      },
      "input":{"shape":"ListDataSourcesRequest"},
      "output":{"shape":"ListDataSourcesResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists the data sources for a given API.</p>"
    },
    "ListDomainNames":{
      "name":"ListDomainNames",
      "http":{
        "method":"GET",
        "requestUri":"/v1/domainnames"
      },
      "input":{"shape":"ListDomainNamesRequest"},
      "output":{"shape":"ListDomainNamesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"BadRequestException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists multiple custom domain names.</p>"
    },
    "ListFunctions":{
      "name":"ListFunctions",
      "http":{
        "method":"GET",
        "requestUri":"/v1/apis/{apiId}/functions"
      },
      "input":{"shape":"ListFunctionsRequest"},
      "output":{"shape":"ListFunctionsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>List multiple functions.</p>"
    },
    "ListGraphqlApis":{
      "name":"ListGraphqlApis",
      "http":{
        "method":"GET",
        "requestUri":"/v1/apis"
      },
      "input":{"shape":"ListGraphqlApisRequest"},
      "output":{"shape":"ListGraphqlApisResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists your GraphQL APIs.</p>"
    },
    "ListResolvers":{
      "name":"ListResolvers",
      "http":{
        "method":"GET",
        "requestUri":"/v1/apis/{apiId}/types/{typeName}/resolvers"
      },
      "input":{"shape":"ListResolversRequest"},
      "output":{"shape":"ListResolversResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists the resolvers for a given API and type.</p>"
    },
    "ListResolversByFunction":{
      "name":"ListResolversByFunction",
      "http":{
        "method":"GET",
        "requestUri":"/v1/apis/{apiId}/functions/{functionId}/resolvers"
      },
      "input":{"shape":"ListResolversByFunctionRequest"},
      "output":{"shape":"ListResolversByFunctionResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>List the resolvers that are associated with a specific function.</p>"
    },
    "ListSourceApiAssociations":{
      "name":"ListSourceApiAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/v1/apis/{apiId}/sourceApiAssociations"
      },
      "input":{"shape":"ListSourceApiAssociationsRequest"},
      "output":{"shape":"ListSourceApiAssociationsResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"BadRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Lists the <code>SourceApiAssociationSummary</code> data.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/v1/tags/{resourceArn}"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists the tags for a resource.</p>"
    },
    "ListTypes":{
      "name":"ListTypes",
      "http":{
        "method":"GET",
        "requestUri":"/v1/apis/{apiId}/types"
      },
      "input":{"shape":"ListTypesRequest"},
      "output":{"shape":"ListTypesResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists the types for a given API.</p>"
    },
    "ListTypesByAssociation":{
      "name":"ListTypesByAssociation",
      "http":{
        "method":"GET",
        "requestUri":"/v1/mergedApis/{mergedApiIdentifier}/sourceApiAssociations/{associationId}/types"
      },
      "input":{"shape":"ListTypesByAssociationRequest"},
      "output":{"shape":"ListTypesByAssociationResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Lists <code>Type</code> objects by the source API association ID.</p>"
    },
    "PutGraphqlApiEnvironmentVariables":{
      "name":"PutGraphqlApiEnvironmentVariables",
      "http":{
        "method":"PUT",
        "requestUri":"/v1/apis/{apiId}/environmentVariables"
      },
      "input":{"shape":"PutGraphqlApiEnvironmentVariablesRequest"},
      "output":{"shape":"PutGraphqlApiEnvironmentVariablesResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a list of environmental variables in an API by its ID value. </p> <p>When creating an environmental variable, it must follow the constraints below:</p> <ul> <li> <p>Both JavaScript and VTL templates support environmental variables.</p> </li> <li> <p>Environmental variables are not evaluated before function invocation.</p> </li> <li> <p>Environmental variables only support string values.</p> </li> <li> <p>Any defined value in an environmental variable is considered a string literal and not expanded.</p> </li> <li> <p>Variable evaluations should ideally be performed in the function code.</p> </li> </ul> <p>When creating an environmental variable key-value pair, it must follow the additional constraints below:</p> <ul> <li> <p>Keys must begin with a letter.</p> </li> <li> <p>Keys must be at least two characters long.</p> </li> <li> <p>Keys can only contain letters, numbers, and the underscore character (_).</p> </li> <li> <p>Values can be up to 512 characters long.</p> </li> <li> <p>You can configure up to 50 key-value pairs in a GraphQL API.</p> </li> </ul> <p>You can create a list of environmental variables by adding it to the <code>environmentVariables</code> payload as a list in the format <code>{\"key1\":\"value1\",\"key2\":\"value2\", …}</code>. Note that each call of the <code>PutGraphqlApiEnvironmentVariables</code> action will result in the overwriting of the existing environmental variable list of that API. This means the existing environmental variables will be lost. To avoid this, you must include all existing and new environmental variables in the list each time you call this action.</p>"
    },
    "StartDataSourceIntrospection":{
      "name":"StartDataSourceIntrospection",
      "http":{
        "method":"POST",
        "requestUri":"/v1/datasources/introspections"
      },
      "input":{"shape":"StartDataSourceIntrospectionRequest"},
      "output":{"shape":"StartDataSourceIntrospectionResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Creates a new introspection. Returns the <code>introspectionId</code> of the new introspection after its creation. </p>"
    },
    "StartSchemaCreation":{
      "name":"StartSchemaCreation",
      "http":{
        "method":"POST",
        "requestUri":"/v1/apis/{apiId}/schemacreation"
      },
      "input":{"shape":"StartSchemaCreationRequest"},
      "output":{"shape":"StartSchemaCreationResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Adds a new schema to your GraphQL API.</p> <p>This operation is asynchronous. Use to determine when it has completed.</p>"
    },
    "StartSchemaMerge":{
      "name":"StartSchemaMerge",
      "http":{
        "method":"POST",
        "requestUri":"/v1/mergedApis/{mergedApiIdentifier}/sourceApiAssociations/{associationId}/merge"
      },
      "input":{"shape":"StartSchemaMergeRequest"},
      "output":{"shape":"StartSchemaMergeResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"BadRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"NotFoundException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Initiates a merge operation. Returns a status that shows the result of the merge operation.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/v1/tags/{resourceArn}"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Tags a resource with user-supplied tags.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/tags/{resourceArn}"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Untags a resource.</p>"
    },
    "UpdateApi":{
      "name":"UpdateApi",
      "http":{
        "method":"POST",
        "requestUri":"/v2/apis/{apiId}"
      },
      "input":{"shape":"UpdateApiRequest"},
      "output":{"shape":"UpdateApiResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates an <code>Api</code>.</p>"
    },
    "UpdateApiCache":{
      "name":"UpdateApiCache",
      "http":{
        "method":"POST",
        "requestUri":"/v1/apis/{apiId}/ApiCaches/update"
      },
      "input":{"shape":"UpdateApiCacheRequest"},
      "output":{"shape":"UpdateApiCacheResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Updates the cache for the GraphQL API.</p>"
    },
    "UpdateApiKey":{
      "name":"UpdateApiKey",
      "http":{
        "method":"POST",
        "requestUri":"/v1/apis/{apiId}/apikeys/{id}"
      },
      "input":{"shape":"UpdateApiKeyRequest"},
      "output":{"shape":"UpdateApiKeyResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ApiKeyValidityOutOfBoundsException"}
      ],
      "documentation":"<p>Updates an API key. You can update the key as long as it's not deleted.</p>"
    },
    "UpdateChannelNamespace":{
      "name":"UpdateChannelNamespace",
      "http":{
        "method":"POST",
        "requestUri":"/v2/apis/{apiId}/channelNamespaces/{name}"
      },
      "input":{"shape":"UpdateChannelNamespaceRequest"},
      "output":{"shape":"UpdateChannelNamespaceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates a <code>ChannelNamespace</code> associated with an <code>Api</code>.</p>"
    },
    "UpdateDataSource":{
      "name":"UpdateDataSource",
      "http":{
        "method":"POST",
        "requestUri":"/v1/apis/{apiId}/datasources/{name}"
      },
      "input":{"shape":"UpdateDataSourceRequest"},
      "output":{"shape":"UpdateDataSourceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Updates a <code>DataSource</code> object.</p>"
    },
    "UpdateDomainName":{
      "name":"UpdateDomainName",
      "http":{
        "method":"POST",
        "requestUri":"/v1/domainnames/{domainName}"
      },
      "input":{"shape":"UpdateDomainNameRequest"},
      "output":{"shape":"UpdateDomainNameResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InternalFailureException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Updates a custom <code>DomainName</code> object.</p>"
    },
    "UpdateFunction":{
      "name":"UpdateFunction",
      "http":{
        "method":"POST",
        "requestUri":"/v1/apis/{apiId}/functions/{functionId}"
      },
      "input":{"shape":"UpdateFunctionRequest"},
      "output":{"shape":"UpdateFunctionResponse"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Updates a <code>Function</code> object.</p>"
    },
    "UpdateGraphqlApi":{
      "name":"UpdateGraphqlApi",
      "http":{
        "method":"POST",
        "requestUri":"/v1/apis/{apiId}"
      },
      "input":{"shape":"UpdateGraphqlApiRequest"},
      "output":{"shape":"UpdateGraphqlApiResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates a <code>GraphqlApi</code> object.</p>"
    },
    "UpdateResolver":{
      "name":"UpdateResolver",
      "http":{
        "method":"POST",
        "requestUri":"/v1/apis/{apiId}/types/{typeName}/resolvers/{fieldName}"
      },
      "input":{"shape":"UpdateResolverRequest"},
      "output":{"shape":"UpdateResolverResponse"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"},
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>Updates a <code>Resolver</code> object.</p>"
    },
    "UpdateSourceApiAssociation":{
      "name":"UpdateSourceApiAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/v1/mergedApis/{mergedApiIdentifier}/sourceApiAssociations/{associationId}"
      },
      "input":{"shape":"UpdateSourceApiAssociationRequest"},
      "output":{"shape":"UpdateSourceApiAssociationResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"BadRequestException"},
        {"shape":"InternalFailureException"},
        {"shape":"NotFoundException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Updates some of the configuration choices of a particular source API association.</p>"
    },
    "UpdateType":{
      "name":"UpdateType",
      "http":{
        "method":"POST",
        "requestUri":"/v1/apis/{apiId}/types/{typeName}"
      },
      "input":{"shape":"UpdateTypeRequest"},
      "output":{"shape":"UpdateTypeResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedException"},
        {"shape":"InternalFailureException"}
      ],
      "documentation":"<p>Updates a <code>Type</code> object.</p>"
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>You don't have access to perform this operation on this resource.</p>",
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "AdditionalAuthenticationProvider":{
      "type":"structure",
      "members":{
        "authenticationType":{
          "shape":"AuthenticationType",
          "documentation":"<p>The authentication type: API key, Identity and Access Management (IAM), OpenID Connect (OIDC), Amazon Cognito user pools, or Lambda.</p>"
        },
        "openIDConnectConfig":{
          "shape":"OpenIDConnectConfig",
          "documentation":"<p>The OIDC configuration.</p>"
        },
        "userPoolConfig":{
          "shape":"CognitoUserPoolConfig",
          "documentation":"<p>The Amazon Cognito user pool configuration.</p>"
        },
        "lambdaAuthorizerConfig":{
          "shape":"LambdaAuthorizerConfig",
          "documentation":"<p>Configuration for Lambda function authorization.</p>"
        }
      },
      "documentation":"<p>Describes an additional authentication provider.</p>"
    },
    "AdditionalAuthenticationProviders":{
      "type":"list",
      "member":{"shape":"AdditionalAuthenticationProvider"}
    },
    "Api":{
      "type":"structure",
      "members":{
        "apiId":{
          "shape":"String",
          "documentation":"<p>The <code>Api</code> ID.</p>"
        },
        "name":{
          "shape":"ApiName",
          "documentation":"<p>The name of the <code>Api</code>.</p>"
        },
        "ownerContact":{
          "shape":"OwnerContact",
          "documentation":"<p>The owner contact information for the <code>Api</code> </p>"
        },
        "tags":{"shape":"TagMap"},
        "dns":{
          "shape":"MapOfStringToString",
          "documentation":"<p>The DNS records for the API. This will include an HTTP and a real-time endpoint.</p>"
        },
        "apiArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) for the <code>Api</code>.</p>"
        },
        "created":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that the <code>Api</code> was created.</p>"
        },
        "xrayEnabled":{
          "shape":"Boolean",
          "documentation":"<p>A flag indicating whether to use X-Ray tracing for this <code>Api</code>.</p>"
        },
        "wafWebAclArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the WAF web access control list (web ACL) associated with this <code>Api</code>, if one exists.</p>"
        },
        "eventConfig":{
          "shape":"EventConfig",
          "documentation":"<p>The Event API configuration. This includes the default authorization configuration for connecting, publishing, and subscribing to an Event API.</p>"
        }
      },
      "documentation":"<p>Describes an AppSync API. You can use <code>Api</code> for an AppSync API with your preferred configuration, such as an Event API that provides real-time message publishing and message subscriptions over WebSockets.</p>"
    },
    "ApiAssociation":{
      "type":"structure",
      "members":{
        "domainName":{
          "shape":"DomainName",
          "documentation":"<p>The domain name.</p>"
        },
        "apiId":{
          "shape":"String",
          "documentation":"<p>The API ID.</p>"
        },
        "associationStatus":{
          "shape":"AssociationStatus",
          "documentation":"<p>Identifies the status of an association.</p> <ul> <li> <p> <b>PROCESSING</b>: The API association is being created. You cannot modify association requests during processing.</p> </li> <li> <p> <b>SUCCESS</b>: The API association was successful. You can modify associations after success.</p> </li> <li> <p> <b>FAILED</b>: The API association has failed. You can modify associations after failure.</p> </li> </ul>"
        },
        "deploymentDetail":{
          "shape":"String",
          "documentation":"<p>Details about the last deployment status.</p>"
        }
      },
      "documentation":"<p>Describes an <code>ApiAssociation</code> object.</p>"
    },
    "ApiCache":{
      "type":"structure",
      "members":{
        "ttl":{
          "shape":"Long",
          "documentation":"<p>TTL in seconds for cache entries.</p> <p>Valid values are 1–3,600 seconds.</p>"
        },
        "apiCachingBehavior":{
          "shape":"ApiCachingBehavior",
          "documentation":"<p>Caching behavior.</p> <ul> <li> <p> <b>FULL_REQUEST_CACHING</b>: All requests from the same user are cached. Individual resolvers are automatically cached. All API calls will try to return responses from the cache.</p> </li> <li> <p> <b>PER_RESOLVER_CACHING</b>: Individual resolvers that you specify are cached.</p> </li> <li> <p> <b>OPERATION_LEVEL_CACHING</b>: Full requests are cached together and returned without executing resolvers.</p> </li> </ul>"
        },
        "transitEncryptionEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Transit encryption flag when connecting to cache. You cannot update this setting after creation.</p>"
        },
        "atRestEncryptionEnabled":{
          "shape":"Boolean",
          "documentation":"<p>At-rest encryption flag for cache. You cannot update this setting after creation.</p>"
        },
        "type":{
          "shape":"ApiCacheType",
          "documentation":"<p>The cache instance type. Valid values are </p> <ul> <li> <p> <code>SMALL</code> </p> </li> <li> <p> <code>MEDIUM</code> </p> </li> <li> <p> <code>LARGE</code> </p> </li> <li> <p> <code>XLARGE</code> </p> </li> <li> <p> <code>LARGE_2X</code> </p> </li> <li> <p> <code>LARGE_4X</code> </p> </li> <li> <p> <code>LARGE_8X</code> (not available in all regions)</p> </li> <li> <p> <code>LARGE_12X</code> </p> </li> </ul> <p>Historically, instance types were identified by an EC2-style value. As of July 2020, this is deprecated, and the generic identifiers above should be used.</p> <p>The following legacy instance types are available, but their use is discouraged:</p> <ul> <li> <p> <b>T2_SMALL</b>: A t2.small instance type.</p> </li> <li> <p> <b>T2_MEDIUM</b>: A t2.medium instance type.</p> </li> <li> <p> <b>R4_LARGE</b>: A r4.large instance type.</p> </li> <li> <p> <b>R4_XLARGE</b>: A r4.xlarge instance type.</p> </li> <li> <p> <b>R4_2XLARGE</b>: A r4.2xlarge instance type.</p> </li> <li> <p> <b>R4_4XLARGE</b>: A r4.4xlarge instance type.</p> </li> <li> <p> <b>R4_8XLARGE</b>: A r4.8xlarge instance type.</p> </li> </ul>"
        },
        "status":{
          "shape":"ApiCacheStatus",
          "documentation":"<p>The cache instance status.</p> <ul> <li> <p> <b>AVAILABLE</b>: The instance is available for use.</p> </li> <li> <p> <b>CREATING</b>: The instance is currently creating.</p> </li> <li> <p> <b>DELETING</b>: The instance is currently deleting.</p> </li> <li> <p> <b>MODIFYING</b>: The instance is currently modifying.</p> </li> <li> <p> <b>FAILED</b>: The instance has failed creation.</p> </li> </ul>"
        },
        "healthMetricsConfig":{
          "shape":"CacheHealthMetricsConfig",
          "documentation":"<p>Controls how cache health metrics will be emitted to CloudWatch. Cache health metrics include:</p> <ul> <li> <p>NetworkBandwidthOutAllowanceExceeded: The network packets dropped because the throughput exceeded the aggregated bandwidth limit. This is useful for diagnosing bottlenecks in a cache configuration.</p> </li> <li> <p>EngineCPUUtilization: The CPU utilization (percentage) allocated to the Redis process. This is useful for diagnosing bottlenecks in a cache configuration.</p> </li> </ul> <p>Metrics will be recorded by API ID. You can set the value to <code>ENABLED</code> or <code>DISABLED</code>.</p>"
        }
      },
      "documentation":"<p>The <code>ApiCache</code> object.</p>"
    },
    "ApiCacheStatus":{
      "type":"string",
      "enum":[
        "AVAILABLE",
        "CREATING",
        "DELETING",
        "MODIFYING",
        "FAILED"
      ]
    },
    "ApiCacheType":{
      "type":"string",
      "enum":[
        "T2_SMALL",
        "T2_MEDIUM",
        "R4_LARGE",
        "R4_XLARGE",
        "R4_2XLARGE",
        "R4_4XLARGE",
        "R4_8XLARGE",
        "SMALL",
        "MEDIUM",
        "LARGE",
        "XLARGE",
        "LARGE_2X",
        "LARGE_4X",
        "LARGE_8X",
        "LARGE_12X"
      ]
    },
    "ApiCachingBehavior":{
      "type":"string",
      "enum":[
        "FULL_REQUEST_CACHING",
        "PER_RESOLVER_CACHING",
        "OPERATION_LEVEL_CACHING"
      ]
    },
    "ApiKey":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"String",
          "documentation":"<p>The API key ID.</p>"
        },
        "description":{
          "shape":"String",
          "documentation":"<p>A description of the purpose of the API key.</p>"
        },
        "expires":{
          "shape":"Long",
          "documentation":"<p>The time after which the API key expires. The date is represented as seconds since the epoch, rounded down to the nearest hour.</p>"
        },
        "deletes":{
          "shape":"Long",
          "documentation":"<p>The time after which the API key is deleted. The date is represented as seconds since the epoch, rounded down to the nearest hour.</p>"
        }
      },
      "documentation":"<p>Describes an API key.</p> <p>Customers invoke AppSync GraphQL API operations with API keys as an identity mechanism. There are two key versions:</p> <p> <b>da1</b>: We introduced this version at launch in November 2017. These keys always expire after 7 days. Amazon DynamoDB TTL manages key expiration. These keys ceased to be valid after February 21, 2018, and they should no longer be used.</p> <ul> <li> <p> <code>ListApiKeys</code> returns the expiration time in milliseconds.</p> </li> <li> <p> <code>CreateApiKey</code> returns the expiration time in milliseconds.</p> </li> <li> <p> <code>UpdateApiKey</code> is not available for this key version.</p> </li> <li> <p> <code>DeleteApiKey</code> deletes the item from the table.</p> </li> <li> <p>Expiration is stored in DynamoDB as milliseconds. This results in a bug where keys are not automatically deleted because DynamoDB expects the TTL to be stored in seconds. As a one-time action, we deleted these keys from the table on February 21, 2018.</p> </li> </ul> <p> <b>da2</b>: We introduced this version in February 2018 when AppSync added support to extend key expiration.</p> <ul> <li> <p> <code>ListApiKeys</code> returns the expiration time and deletion time in seconds.</p> </li> <li> <p> <code>CreateApiKey</code> returns the expiration time and deletion time in seconds and accepts a user-provided expiration time in seconds.</p> </li> <li> <p> <code>UpdateApiKey</code> returns the expiration time and and deletion time in seconds and accepts a user-provided expiration time in seconds. Expired API keys are kept for 60 days after the expiration time. You can update the key expiration time as long as the key isn't deleted.</p> </li> <li> <p> <code>DeleteApiKey</code> deletes the item from the table.</p> </li> <li> <p>Expiration is stored in DynamoDB as seconds. After the expiration time, using the key to authenticate will fail. However, you can reinstate the key before deletion.</p> </li> <li> <p>Deletion is stored in DynamoDB as seconds. The key is deleted after deletion time.</p> </li> </ul>"
    },
    "ApiKeyLimitExceededException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>The API key exceeded a limit. Try your request again.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "ApiKeyValidityOutOfBoundsException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>The API key expiration must be set to a value between 1 and 365 days from creation (for <code>CreateApiKey</code>) or from update (for <code>UpdateApiKey</code>).</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "ApiKeys":{
      "type":"list",
      "member":{"shape":"ApiKey"}
    },
    "ApiLimitExceededException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>The GraphQL API exceeded a limit. Try your request again.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "ApiName":{
      "type":"string",
      "max":50,
      "min":1,
      "pattern":"[A-Za-z0-9_\\-\\ ]+"
    },
    "Apis":{
      "type":"list",
      "member":{"shape":"Api"}
    },
    "AppSyncRuntime":{
      "type":"structure",
      "required":[
        "name",
        "runtimeVersion"
      ],
      "members":{
        "name":{
          "shape":"RuntimeName",
          "documentation":"<p>The <code>name</code> of the runtime to use. Currently, the only allowed value is <code>APPSYNC_JS</code>.</p>"
        },
        "runtimeVersion":{
          "shape":"String",
          "documentation":"<p>The <code>version</code> of the runtime to use. Currently, the only allowed version is <code>1.0.0</code>.</p>"
        }
      },
      "documentation":"<p>Describes a runtime used by an Amazon Web Services AppSync pipeline resolver or Amazon Web Services AppSync function. Specifies the name and version of the runtime to use. Note that if a runtime is specified, code must also be specified.</p>"
    },
    "AssociateApiRequest":{
      "type":"structure",
      "required":[
        "domainName",
        "apiId"
      ],
      "members":{
        "domainName":{
          "shape":"DomainName",
          "documentation":"<p>The domain name.</p>",
          "location":"uri",
          "locationName":"domainName"
        },
        "apiId":{
          "shape":"String",
          "documentation":"<p>The API ID. Private APIs can not be associated with custom domains.</p>"
        }
      }
    },
    "AssociateApiResponse":{
      "type":"structure",
      "members":{
        "apiAssociation":{
          "shape":"ApiAssociation",
          "documentation":"<p>The <code>ApiAssociation</code> object.</p>"
        }
      }
    },
    "AssociateMergedGraphqlApiRequest":{
      "type":"structure",
      "required":[
        "sourceApiIdentifier",
        "mergedApiIdentifier"
      ],
      "members":{
        "sourceApiIdentifier":{
          "shape":"String",
          "documentation":"<p>The identifier of the AppSync Source API. This is generated by the AppSync service. In most cases, source APIs (especially in your account) only require the API ID value or ARN of the source API. However, source APIs from other accounts (cross-account use cases) strictly require the full resource ARN of the source API.</p>",
          "location":"uri",
          "locationName":"sourceApiIdentifier"
        },
        "mergedApiIdentifier":{
          "shape":"String",
          "documentation":"<p>The identifier of the AppSync Merged API. This is generated by the AppSync service. In most cases, Merged APIs (especially in your account) only require the API ID value or ARN of the merged API. However, Merged APIs in other accounts (cross-account use cases) strictly require the full resource ARN of the merged API.</p>"
        },
        "description":{
          "shape":"String",
          "documentation":"<p>The description field.</p>"
        },
        "sourceApiAssociationConfig":{
          "shape":"SourceApiAssociationConfig",
          "documentation":"<p>The <code>SourceApiAssociationConfig</code> object data.</p>"
        }
      }
    },
    "AssociateMergedGraphqlApiResponse":{
      "type":"structure",
      "members":{
        "sourceApiAssociation":{
          "shape":"SourceApiAssociation",
          "documentation":"<p>The <code>SourceApiAssociation</code> object data.</p>"
        }
      }
    },
    "AssociateSourceGraphqlApiRequest":{
      "type":"structure",
      "required":[
        "mergedApiIdentifier",
        "sourceApiIdentifier"
      ],
      "members":{
        "mergedApiIdentifier":{
          "shape":"String",
          "documentation":"<p>The identifier of the AppSync Merged API. This is generated by the AppSync service. In most cases, Merged APIs (especially in your account) only require the API ID value or ARN of the merged API. However, Merged APIs in other accounts (cross-account use cases) strictly require the full resource ARN of the merged API.</p>",
          "location":"uri",
          "locationName":"mergedApiIdentifier"
        },
        "sourceApiIdentifier":{
          "shape":"String",
          "documentation":"<p>The identifier of the AppSync Source API. This is generated by the AppSync service. In most cases, source APIs (especially in your account) only require the API ID value or ARN of the source API. However, source APIs from other accounts (cross-account use cases) strictly require the full resource ARN of the source API.</p>"
        },
        "description":{
          "shape":"String",
          "documentation":"<p>The description field.</p>"
        },
        "sourceApiAssociationConfig":{
          "shape":"SourceApiAssociationConfig",
          "documentation":"<p>The <code>SourceApiAssociationConfig</code> object data.</p>"
        }
      }
    },
    "AssociateSourceGraphqlApiResponse":{
      "type":"structure",
      "members":{
        "sourceApiAssociation":{
          "shape":"SourceApiAssociation",
          "documentation":"<p>The <code>SourceApiAssociation</code> object data.</p>"
        }
      }
    },
    "AssociationStatus":{
      "type":"string",
      "enum":[
        "PROCESSING",
        "FAILED",
        "SUCCESS"
      ]
    },
    "AuthMode":{
      "type":"structure",
      "required":["authType"],
      "members":{
        "authType":{
          "shape":"AuthenticationType",
          "documentation":"<p>The authorization type.</p>"
        }
      },
      "documentation":"<p>Describes an authorization configuration. Use <code>AuthMode</code> to specify the publishing and subscription authorization configuration for an Event API.</p>"
    },
    "AuthModes":{
      "type":"list",
      "member":{"shape":"AuthMode"}
    },
    "AuthProvider":{
      "type":"structure",
      "required":["authType"],
      "members":{
        "authType":{
          "shape":"AuthenticationType",
          "documentation":"<p>The authorization type.</p>"
        },
        "cognitoConfig":{
          "shape":"CognitoConfig",
          "documentation":"<p>Describes an Amazon Cognito user pool configuration.</p>"
        },
        "openIDConnectConfig":{"shape":"OpenIDConnectConfig"},
        "lambdaAuthorizerConfig":{"shape":"LambdaAuthorizerConfig"}
      },
      "documentation":"<p>Describes an authorization provider.</p>"
    },
    "AuthProviders":{
      "type":"list",
      "member":{"shape":"AuthProvider"}
    },
    "AuthenticationType":{
      "type":"string",
      "enum":[
        "API_KEY",
        "AWS_IAM",
        "AMAZON_COGNITO_USER_POOLS",
        "OPENID_CONNECT",
        "AWS_LAMBDA"
      ]
    },
    "AuthorizationConfig":{
      "type":"structure",
      "required":["authorizationType"],
      "members":{
        "authorizationType":{
          "shape":"AuthorizationType",
          "documentation":"<p>The authorization type that the HTTP endpoint requires.</p> <ul> <li> <p> <b>AWS_IAM</b>: The authorization type is Signature Version 4 (SigV4).</p> </li> </ul>"
        },
        "awsIamConfig":{
          "shape":"AwsIamConfig",
          "documentation":"<p>The Identity and Access Management (IAM) settings.</p>"
        }
      },
      "documentation":"<p>The authorization configuration in case the HTTP endpoint requires authorization.</p>"
    },
    "AuthorizationType":{
      "type":"string",
      "enum":["AWS_IAM"]
    },
    "AwsIamConfig":{
      "type":"structure",
      "members":{
        "signingRegion":{
          "shape":"String",
          "documentation":"<p>The signing Amazon Web Services Region for IAM authorization.</p>"
        },
        "signingServiceName":{
          "shape":"String",
          "documentation":"<p>The signing service name for IAM authorization.</p>"
        }
      },
      "documentation":"<p>The Identity and Access Management (IAM) configuration.</p>"
    },
    "BadRequestDetail":{
      "type":"structure",
      "members":{
        "codeErrors":{
          "shape":"CodeErrors",
          "documentation":"<p>Contains the list of errors in the request.</p>"
        }
      },
      "documentation":"<p>Provides further details for the reason behind the bad request. For reason type <code>CODE_ERROR</code>, the detail will contain a list of code errors.</p>"
    },
    "BadRequestException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"},
        "reason":{"shape":"BadRequestReason"},
        "detail":{"shape":"BadRequestDetail"}
      },
      "documentation":"<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and then try again.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "BadRequestReason":{
      "type":"string",
      "documentation":"<p>Provides context for the cause of the bad request. The only supported value is <code>CODE_ERROR</code>.</p>",
      "enum":["CODE_ERROR"]
    },
    "Blob":{"type":"blob"},
    "Boolean":{"type":"boolean"},
    "BooleanValue":{"type":"boolean"},
    "CacheHealthMetricsConfig":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "CachingConfig":{
      "type":"structure",
      "required":["ttl"],
      "members":{
        "ttl":{
          "shape":"Long",
          "documentation":"<p>The TTL in seconds for a resolver that has caching activated.</p> <p>Valid values are 1–3,600 seconds.</p>"
        },
        "cachingKeys":{
          "shape":"CachingKeys",
          "documentation":"<p>The caching keys for a resolver that has caching activated.</p> <p>Valid values are entries from the <code>$context.arguments</code>, <code>$context.source</code>, and <code>$context.identity</code> maps.</p>"
        }
      },
      "documentation":"<p>The caching configuration for a resolver that has caching activated.</p>"
    },
    "CachingKeys":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "CertificateArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"^arn:[a-z-]*:(acm|iam):[a-z0-9-]*:\\d{12}:(certificate|server-certificate)/[0-9A-Za-z_/-]*$"
    },
    "ChannelNamespace":{
      "type":"structure",
      "members":{
        "apiId":{
          "shape":"String",
          "documentation":"<p>The <code>Api</code> ID.</p>"
        },
        "name":{
          "shape":"Namespace",
          "documentation":"<p>The name of the channel namespace. This name must be unique within the <code>Api</code>.</p>"
        },
        "subscribeAuthModes":{
          "shape":"AuthModes",
          "documentation":"<p>The authorization mode to use for subscribing to messages on the channel namespace. This configuration overrides the default <code>Api</code>authorization configuration.</p>"
        },
        "publishAuthModes":{
          "shape":"AuthModes",
          "documentation":"<p>The authorization mode to use for publishing messages on the channel namespace. This configuration overrides the default <code>Api</code>authorization configuration.</p>"
        },
        "codeHandlers":{
          "shape":"Code",
          "documentation":"<p>The event handler functions that run custom business logic to process published events and subscribe requests.</p>"
        },
        "tags":{"shape":"TagMap"},
        "channelNamespaceArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) for the <code>ChannelNamespace</code>.</p>"
        },
        "created":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that the <code>ChannelNamespace</code> was created.</p>"
        },
        "lastModified":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that the <code>ChannelNamespace</code> was last changed.</p>"
        },
        "handlerConfigs":{
          "shape":"HandlerConfigs",
          "documentation":"<p>The configuration for the <code>OnPublish</code> and <code>OnSubscribe</code> handlers.</p>"
        }
      },
      "documentation":"<p>Describes a channel namespace associated with an <code>Api</code>. The <code>ChannelNamespace</code> contains the definitions for code handlers for the <code>Api</code>.</p>"
    },
    "ChannelNamespaces":{
      "type":"list",
      "member":{"shape":"ChannelNamespace"}
    },
    "Code":{
      "type":"string",
      "max":32768,
      "min":1
    },
    "CodeError":{
      "type":"structure",
      "members":{
        "errorType":{
          "shape":"String",
          "documentation":"<p>The type of code error. </p> <p>Examples include, but aren't limited to: <code>LINT_ERROR</code>, <code>PARSER_ERROR</code>.</p>"
        },
        "value":{
          "shape":"String",
          "documentation":"<p>A user presentable error.</p> <p>Examples include, but aren't limited to: <code>Parsing error: Unterminated string literal</code>.</p>"
        },
        "location":{
          "shape":"CodeErrorLocation",
          "documentation":"<p>The line, column, and span location of the error in the code.</p>"
        }
      },
      "documentation":"<p>Describes an AppSync error.</p>"
    },
    "CodeErrorColumn":{"type":"integer"},
    "CodeErrorLine":{"type":"integer"},
    "CodeErrorLocation":{
      "type":"structure",
      "members":{
        "line":{
          "shape":"CodeErrorLine",
          "documentation":"<p>The line number in the code. Defaults to <code>0</code> if unknown.</p>"
        },
        "column":{
          "shape":"CodeErrorColumn",
          "documentation":"<p>The column number in the code. Defaults to <code>0</code> if unknown.</p>"
        },
        "span":{
          "shape":"CodeErrorSpan",
          "documentation":"<p>The span/length of the error. Defaults to <code>-1</code> if unknown.</p>"
        }
      },
      "documentation":"<p>Describes the location of the error in a code sample.</p>"
    },
    "CodeErrorSpan":{"type":"integer"},
    "CodeErrors":{
      "type":"list",
      "member":{"shape":"CodeError"}
    },
    "CognitoConfig":{
      "type":"structure",
      "required":[
        "userPoolId",
        "awsRegion"
      ],
      "members":{
        "userPoolId":{
          "shape":"String",
          "documentation":"<p>The user pool ID.</p>"
        },
        "awsRegion":{
          "shape":"String",
          "documentation":"<p>The Amazon Web Services Region in which the user pool was created.</p>"
        },
        "appIdClientRegex":{
          "shape":"String",
          "documentation":"<p>A regular expression for validating the incoming Amazon Cognito user pool app client ID. If this value isn't set, no filtering is applied.</p>"
        }
      },
      "documentation":"<p>Describes an Amazon Cognito configuration.</p>"
    },
    "CognitoUserPoolConfig":{
      "type":"structure",
      "required":[
        "userPoolId",
        "awsRegion"
      ],
      "members":{
        "userPoolId":{
          "shape":"String",
          "documentation":"<p>The user pool ID.</p>"
        },
        "awsRegion":{
          "shape":"String",
          "documentation":"<p>The Amazon Web Services Region in which the user pool was created.</p>"
        },
        "appIdClientRegex":{
          "shape":"String",
          "documentation":"<p>A regular expression for validating the incoming Amazon Cognito user pool app client ID. If this value isn't set, no filtering is applied.</p>"
        }
      },
      "documentation":"<p>Describes an Amazon Cognito user pool configuration.</p>"
    },
    "ConcurrentModificationException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>Another modification is in progress at this time and it must complete before you can make your change.</p>",
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "ConflictDetectionType":{
      "type":"string",
      "enum":[
        "VERSION",
        "NONE"
      ]
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>A conflict with a previous successful update is detected. This typically occurs when the previous update did not have time to propagate before the next update was made. A retry (with appropriate backoff logic) is the recommended response to this exception.</p>",
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "ConflictHandlerType":{
      "type":"string",
      "enum":[
        "OPTIMISTIC_CONCURRENCY",
        "LAMBDA",
        "AUTOMERGE",
        "NONE"
      ]
    },
    "Context":{
      "type":"string",
      "max":28000,
      "min":2,
      "pattern":"^[\\s\\S]*$"
    },
    "CreateApiCacheRequest":{
      "type":"structure",
      "required":[
        "apiId",
        "ttl",
        "apiCachingBehavior",
        "type"
      ],
      "members":{
        "apiId":{
          "shape":"String",
          "documentation":"<p>The GraphQL API ID.</p>",
          "location":"uri",
          "locationName":"apiId"
        },
        "ttl":{
          "shape":"Long",
          "documentation":"<p>TTL in seconds for cache entries.</p> <p>Valid values are 1–3,600 seconds.</p>"
        },
        "transitEncryptionEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Transit encryption flag when connecting to cache. You cannot update this setting after creation.</p>",
          "deprecated":true,
          "deprecatedMessage":"transitEncryptionEnabled attribute is deprecated. Encryption in transit is always enabled.",
          "deprecatedSince":"5/15/2025"
        },
        "atRestEncryptionEnabled":{
          "shape":"Boolean",
          "documentation":"<p>At-rest encryption flag for cache. You cannot update this setting after creation.</p>",
          "deprecated":true,
          "deprecatedMessage":"atRestEncryptionEnabled attribute is deprecated. Encryption at rest is always enabled.",
          "deprecatedSince":"5/15/2025"
        },
        "apiCachingBehavior":{
          "shape":"ApiCachingBehavior",
          "documentation":"<p>Caching behavior.</p> <ul> <li> <p> <b>FULL_REQUEST_CACHING</b>: All requests from the same user are cached. Individual resolvers are automatically cached. All API calls will try to return responses from the cache.</p> </li> <li> <p> <b>PER_RESOLVER_CACHING</b>: Individual resolvers that you specify are cached.</p> </li> <li> <p> <b>OPERATION_LEVEL_CACHING</b>: Full requests are cached together and returned without executing resolvers.</p> </li> </ul>"
        },
        "type":{
          "shape":"ApiCacheType",
          "documentation":"<p>The cache instance type. Valid values are </p> <ul> <li> <p> <code>SMALL</code> </p> </li> <li> <p> <code>MEDIUM</code> </p> </li> <li> <p> <code>LARGE</code> </p> </li> <li> <p> <code>XLARGE</code> </p> </li> <li> <p> <code>LARGE_2X</code> </p> </li> <li> <p> <code>LARGE_4X</code> </p> </li> <li> <p> <code>LARGE_8X</code> (not available in all regions)</p> </li> <li> <p> <code>LARGE_12X</code> </p> </li> </ul> <p>Historically, instance types were identified by an EC2-style value. As of July 2020, this is deprecated, and the generic identifiers above should be used.</p> <p>The following legacy instance types are available, but their use is discouraged:</p> <ul> <li> <p> <b>T2_SMALL</b>: A t2.small instance type.</p> </li> <li> <p> <b>T2_MEDIUM</b>: A t2.medium instance type.</p> </li> <li> <p> <b>R4_LARGE</b>: A r4.large instance type.</p> </li> <li> <p> <b>R4_XLARGE</b>: A r4.xlarge instance type.</p> </li> <li> <p> <b>R4_2XLARGE</b>: A r4.2xlarge instance type.</p> </li> <li> <p> <b>R4_4XLARGE</b>: A r4.4xlarge instance type.</p> </li> <li> <p> <b>R4_8XLARGE</b>: A r4.8xlarge instance type.</p> </li> </ul>"
        },
        "healthMetricsConfig":{
          "shape":"CacheHealthMetricsConfig",
          "documentation":"<p>Controls how cache health metrics will be emitted to CloudWatch. Cache health metrics include:</p> <ul> <li> <p>NetworkBandwidthOutAllowanceExceeded: The network packets dropped because the throughput exceeded the aggregated bandwidth limit. This is useful for diagnosing bottlenecks in a cache configuration.</p> </li> <li> <p>EngineCPUUtilization: The CPU utilization (percentage) allocated to the Redis process. This is useful for diagnosing bottlenecks in a cache configuration.</p> </li> </ul> <p>Metrics will be recorded by API ID. You can set the value to <code>ENABLED</code> or <code>DISABLED</code>.</p>"
        }
      },
      "documentation":"<p>Represents the input of a <code>CreateApiCache</code> operation.</p>"
    },
    "CreateApiCacheResponse":{
      "type":"structure",
      "members":{
        "apiCache":{
          "shape":"ApiCache",
          "documentation":"<p>The <code>ApiCache</code> object.</p>"
        }
      },
      "documentation":"<p>Represents the output of a <code>CreateApiCache</code> operation.</p>"
    },
    "CreateApiKeyRequest":{
      "type":"structure",
      "required":["apiId"],
      "members":{
        "apiId":{
          "shape":"String",
          "documentation":"<p>The ID for your GraphQL API.</p>",
          "location":"uri",
          "locationName":"apiId"
        },
        "description":{
          "shape":"String",
          "documentation":"<p>A description of the purpose of the API key.</p>"
        },
        "expires":{
          "shape":"Long",
          "documentation":"<p>From the creation time, the time after which the API key expires. The date is represented as seconds since the epoch, rounded down to the nearest hour. The default value for this parameter is 7 days from creation time. For more information, see .</p>"
        }
      }
    },
    "CreateApiKeyResponse":{
      "type":"structure",
      "members":{
        "apiKey":{
          "shape":"ApiKey",
          "documentation":"<p>The API key.</p>"
        }
      }
    },
    "CreateApiRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"ApiName",
          "documentation":"<p>The name for the <code>Api</code>.</p>"
        },
        "ownerContact":{
          "shape":"String",
          "documentation":"<p>The owner contact information for the <code>Api</code>.</p>"
        },
        "tags":{"shape":"TagMap"},
        "eventConfig":{
          "shape":"EventConfig",
          "documentation":"<p>The Event API configuration. This includes the default authorization configuration for connecting, publishing, and subscribing to an Event API.</p>"
        }
      }
    },
    "CreateApiResponse":{
      "type":"structure",
      "members":{
        "api":{
          "shape":"Api",
          "documentation":"<p>The <code>Api</code> object.</p>"
        }
      }
    },
    "CreateChannelNamespaceRequest":{
      "type":"structure",
      "required":[
        "apiId",
        "name"
      ],
      "members":{
        "apiId":{
          "shape":"String",
          "documentation":"<p>The <code>Api</code> ID.</p>",
          "location":"uri",
          "locationName":"apiId"
        },
        "name":{
          "shape":"Namespace",
          "documentation":"<p>The name of the <code>ChannelNamespace</code>. This name must be unique within the <code>Api</code> </p>"
        },
        "subscribeAuthModes":{
          "shape":"AuthModes",
          "documentation":"<p>The authorization mode to use for subscribing to messages on the channel namespace. This configuration overrides the default <code>Api</code> authorization configuration.</p>"
        },
        "publishAuthModes":{
          "shape":"AuthModes",
          "documentation":"<p>The authorization mode to use for publishing messages on the channel namespace. This configuration overrides the default <code>Api</code> authorization configuration.</p>"
        },
        "codeHandlers":{
          "shape":"Code",
          "documentation":"<p>The event handler functions that run custom business logic to process published events and subscribe requests.</p>"
        },
        "tags":{"shape":"TagMap"},
        "handlerConfigs":{
          "shape":"HandlerConfigs",
          "documentation":"<p>The configuration for the <code>OnPublish</code> and <code>OnSubscribe</code> handlers.</p>"
        }
      }
    },
    "CreateChannelNamespaceResponse":{
      "type":"structure",
      "members":{
        "channelNamespace":{
          "shape":"ChannelNamespace",
          "documentation":"<p>The <code>ChannelNamespace</code> object.</p>"
        }
      }
    },
    "CreateDataSourceRequest":{
      "type":"structure",
      "required":[
        "apiId",
        "name",
        "type"
      ],
      "members":{
        "apiId":{
          "shape":"String",
          "documentation":"<p>The API ID for the GraphQL API for the <code>DataSource</code>.</p>",
          "location":"uri",
          "locationName":"apiId"
        },
        "name":{
          "shape":"ResourceName",
          "documentation":"<p>A user-supplied name for the <code>DataSource</code>.</p>"
        },
        "description":{
          "shape":"String",
          "documentation":"<p>A description of the <code>DataSource</code>.</p>"
        },
        "type":{
          "shape":"DataSourceType",
          "documentation":"<p>The type of the <code>DataSource</code>.</p>"
        },
        "serviceRoleArn":{
          "shape":"String",
          "documentation":"<p>The Identity and Access Management (IAM) service role Amazon Resource Name (ARN) for the data source. The system assumes this role when accessing the data source.</p>"
        },
        "dynamodbConfig":{
          "shape":"DynamodbDataSourceConfig",
          "documentation":"<p>Amazon DynamoDB settings.</p>"
        },
        "lambdaConfig":{
          "shape":"LambdaDataSourceConfig",
          "documentation":"<p>Lambda settings.</p>"
        },
        "elasticsearchConfig":{
          "shape":"ElasticsearchDataSourceConfig",
          "documentation":"<p>Amazon OpenSearch Service settings.</p> <p>As of September 2021, Amazon Elasticsearch service is Amazon OpenSearch Service. This configuration is deprecated. For new data sources, use <a>CreateDataSourceRequest$openSearchServiceConfig</a> to create an OpenSearch data source.</p>"
        },
        "openSearchServiceConfig":{
          "shape":"OpenSearchServiceDataSourceConfig",
          "documentation":"<p>Amazon OpenSearch Service settings.</p>"
        },
        "httpConfig":{
          "shape":"HttpDataSourceConfig",
          "documentation":"<p>HTTP endpoint settings.</p>"
        },
        "relationalDatabaseConfig":{
          "shape":"RelationalDatabaseDataSourceConfig",
          "documentation":"<p>Relational database settings.</p>"
        },
        "eventBridgeConfig":{
          "shape":"EventBridgeDataSourceConfig",
          "documentation":"<p>Amazon EventBridge settings.</p>"
        },
        "metricsConfig":{
          "shape":"DataSourceLevelMetricsConfig",
          "documentation":"<p>Enables or disables enhanced data source metrics for specified data sources. Note that <code>metricsConfig</code> won't be used unless the <code>dataSourceLevelMetricsBehavior</code> value is set to <code>PER_DATA_SOURCE_METRICS</code>. If the <code>dataSourceLevelMetricsBehavior</code> is set to <code>FULL_REQUEST_DATA_SOURCE_METRICS</code> instead, <code>metricsConfig</code> will be ignored. However, you can still set its value.</p> <p> <code>metricsConfig</code> can be <code>ENABLED</code> or <code>DISABLED</code>.</p>"
        }
      }
    },
    "CreateDataSourceResponse":{
      "type":"structure",
      "members":{
        "dataSource":{
          "shape":"DataSource",
          "documentation":"<p>The <code>DataSource</code> object.</p>"
        }
      }
    },
    "CreateDomainNameRequest":{
      "type":"structure",
      "required":[
        "domainName",
        "certificateArn"
      ],
      "members":{
        "domainName":{
          "shape":"DomainName",
          "documentation":"<p>The domain name.</p>"
        },
        "certificateArn":{
          "shape":"CertificateArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the certificate. This can be an Certificate Manager (ACM) certificate or an Identity and Access Management (IAM) server certificate.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>A description of the <code>DomainName</code>.</p>"
        },
        "tags":{"shape":"TagMap"}
      }
    },
    "CreateDomainNameResponse":{
      "type":"structure",
      "members":{
        "domainNameConfig":{
          "shape":"DomainNameConfig",
          "documentation":"<p>The configuration for the <code>DomainName</code>.</p>"
        }
      }
    },
    "CreateFunctionRequest":{
      "type":"structure",
      "required":[
        "apiId",
        "name",
        "dataSourceName"
      ],
      "members":{
        "apiId":{
          "shape":"String",
          "documentation":"<p>The GraphQL API ID.</p>",
          "location":"uri",
          "locationName":"apiId"
        },
        "name":{
          "shape":"ResourceName",
          "documentation":"<p>The <code>Function</code> name. The function name does not have to be unique.</p>"
        },
        "description":{
          "shape":"String",
          "documentation":"<p>The <code>Function</code> description.</p>"
        },
        "dataSourceName":{
          "shape":"ResourceName",
          "documentation":"<p>The <code>Function</code> <code>DataSource</code> name.</p>"
        },
        "requestMappingTemplate":{
          "shape":"MappingTemplate",
          "documentation":"<p>The <code>Function</code> request mapping template. Functions support only the 2018-05-29 version of the request mapping template.</p>"
        },
        "responseMappingTemplate":{
          "shape":"MappingTemplate",
          "documentation":"<p>The <code>Function</code> response mapping template.</p>"
        },
        "functionVersion":{
          "shape":"String",
          "documentation":"<p>The <code>version</code> of the request mapping template. Currently, the supported value is 2018-05-29. Note that when using VTL and mapping templates, the <code>functionVersion</code> is required.</p>"
        },
        "syncConfig":{"shape":"SyncConfig"},
        "maxBatchSize":{
          "shape":"MaxBatchSize",
          "documentation":"<p>The maximum batching size for a resolver.</p>"
        },
        "runtime":{"shape":"AppSyncRuntime"},
        "code":{
          "shape":"Code",
          "documentation":"<p>The <code>function</code> code that contains the request and response functions. When code is used, the <code>runtime</code> is required. The <code>runtime</code> value must be <code>APPSYNC_JS</code>.</p>"
        }
      }
    },
    "CreateFunctionResponse":{
      "type":"structure",
      "members":{
        "functionConfiguration":{
          "shape":"FunctionConfiguration",
          "documentation":"<p>The <code>Function</code> object.</p>"
        }
      }
    },
    "CreateGraphqlApiRequest":{
      "type":"structure",
      "required":[
        "name",
        "authenticationType"
      ],
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>A user-supplied name for the <code>GraphqlApi</code>.</p>"
        },
        "logConfig":{
          "shape":"LogConfig",
          "documentation":"<p>The Amazon CloudWatch Logs configuration.</p>"
        },
        "authenticationType":{
          "shape":"AuthenticationType",
          "documentation":"<p>The authentication type: API key, Identity and Access Management (IAM), OpenID Connect (OIDC), Amazon Cognito user pools, or Lambda.</p>"
        },
        "userPoolConfig":{
          "shape":"UserPoolConfig",
          "documentation":"<p>The Amazon Cognito user pool configuration.</p>"
        },
        "openIDConnectConfig":{
          "shape":"OpenIDConnectConfig",
          "documentation":"<p>The OIDC configuration.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>A <code>TagMap</code> object.</p>"
        },
        "additionalAuthenticationProviders":{
          "shape":"AdditionalAuthenticationProviders",
          "documentation":"<p>A list of additional authentication providers for the <code>GraphqlApi</code> API.</p>"
        },
        "xrayEnabled":{
          "shape":"Boolean",
          "documentation":"<p>A flag indicating whether to use X-Ray tracing for the <code>GraphqlApi</code>.</p>"
        },
        "lambdaAuthorizerConfig":{
          "shape":"LambdaAuthorizerConfig",
          "documentation":"<p>Configuration for Lambda function authorization.</p>"
        },
        "apiType":{
          "shape":"GraphQLApiType",
          "documentation":"<p>The value that indicates whether the GraphQL API is a standard API (<code>GRAPHQL</code>) or merged API (<code>MERGED</code>).</p>"
        },
        "mergedApiExecutionRoleArn":{
          "shape":"String",
          "documentation":"<p>The Identity and Access Management service role ARN for a merged API. The AppSync service assumes this role on behalf of the Merged API to validate access to source APIs at runtime and to prompt the <code>AUTO_MERGE</code> to update the merged API endpoint with the source API changes automatically.</p>"
        },
        "visibility":{
          "shape":"GraphQLApiVisibility",
          "documentation":"<p>Sets the value of the GraphQL API to public (<code>GLOBAL</code>) or private (<code>PRIVATE</code>). If no value is provided, the visibility will be set to <code>GLOBAL</code> by default. This value cannot be changed once the API has been created.</p>"
        },
        "ownerContact":{
          "shape":"String",
          "documentation":"<p>The owner contact information for an API resource.</p> <p>This field accepts any string input with a length of 0 - 256 characters.</p>"
        },
        "introspectionConfig":{
          "shape":"GraphQLApiIntrospectionConfig",
          "documentation":"<p>Sets the value of the GraphQL API to enable (<code>ENABLED</code>) or disable (<code>DISABLED</code>) introspection. If no value is provided, the introspection configuration will be set to <code>ENABLED</code> by default. This field will produce an error if the operation attempts to use the introspection feature while this field is disabled.</p> <p>For more information about introspection, see <a href=\"https://graphql.org/learn/introspection/\">GraphQL introspection</a>.</p>"
        },
        "queryDepthLimit":{
          "shape":"QueryDepthLimit",
          "documentation":"<p>The maximum depth a query can have in a single request. Depth refers to the amount of nested levels allowed in the body of query. The default value is <code>0</code> (or unspecified), which indicates there's no depth limit. If you set a limit, it can be between <code>1</code> and <code>75</code> nested levels. This field will produce a limit error if the operation falls out of bounds.</p> <p>Note that fields can still be set to nullable or non-nullable. If a non-nullable field produces an error, the error will be thrown upwards to the first nullable field available.</p>"
        },
        "resolverCountLimit":{
          "shape":"ResolverCountLimit",
          "documentation":"<p>The maximum number of resolvers that can be invoked in a single request. The default value is <code>0</code> (or unspecified), which will set the limit to <code>10000</code>. When specified, the limit value can be between <code>1</code> and <code>10000</code>. This field will produce a limit error if the operation falls out of bounds.</p>"
        },
        "enhancedMetricsConfig":{
          "shape":"EnhancedMetricsConfig",
          "documentation":"<p>The <code>enhancedMetricsConfig</code> object.</p>"
        }
      }
    },
    "CreateGraphqlApiResponse":{
      "type":"structure",
      "members":{
        "graphqlApi":{
          "shape":"GraphqlApi",
          "documentation":"<p>The <code>GraphqlApi</code>.</p>"
        }
      }
    },
    "CreateResolverRequest":{
      "type":"structure",
      "required":[
        "apiId",
        "typeName",
        "fieldName"
      ],
      "members":{
        "apiId":{
          "shape":"String",
          "documentation":"<p>The ID for the GraphQL API for which the resolver is being created.</p>",
          "location":"uri",
          "locationName":"apiId"
        },
        "typeName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the <code>Type</code>.</p>",
          "location":"uri",
          "locationName":"typeName"
        },
        "fieldName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the field to attach the resolver to.</p>"
        },
        "dataSourceName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the data source for which the resolver is being created.</p>"
        },
        "requestMappingTemplate":{
          "shape":"MappingTemplate",
          "documentation":"<p>The mapping template to use for requests.</p> <p>A resolver uses a request mapping template to convert a GraphQL expression into a format that a data source can understand. Mapping templates are written in Apache Velocity Template Language (VTL).</p> <p>VTL request mapping templates are optional when using an Lambda data source. For all other data sources, VTL request and response mapping templates are required.</p>"
        },
        "responseMappingTemplate":{
          "shape":"MappingTemplate",
          "documentation":"<p>The mapping template to use for responses from the data source.</p>"
        },
        "kind":{
          "shape":"ResolverKind",
          "documentation":"<p>The resolver type.</p> <ul> <li> <p> <b>UNIT</b>: A UNIT resolver type. A UNIT resolver is the default resolver type. You can use a UNIT resolver to run a GraphQL query against a single data source.</p> </li> <li> <p> <b>PIPELINE</b>: A PIPELINE resolver type. You can use a PIPELINE resolver to invoke a series of <code>Function</code> objects in a serial manner. You can use a pipeline resolver to run a GraphQL query against multiple data sources.</p> </li> </ul>"
        },
        "pipelineConfig":{
          "shape":"PipelineConfig",
          "documentation":"<p>The <code>PipelineConfig</code>.</p>"
        },
        "syncConfig":{
          "shape":"SyncConfig",
          "documentation":"<p>The <code>SyncConfig</code> for a resolver attached to a versioned data source.</p>"
        },
        "cachingConfig":{
          "shape":"CachingConfig",
          "documentation":"<p>The caching configuration for the resolver.</p>"
        },
        "maxBatchSize":{
[...]
