@tailwind base;
@tailwind components;
@tailwind utilities;

/* Content Styles
/*
/* We use only margin-top to set the vertical spacings. The styles below
/* set up the margin for content pairs (e.g. paragraph preceded by a heading).
/* -------------------------------------------------------------------- */

/* Global Koenig content styles
/* -------------------------------------------------------------------- */

@font-face {
    font-family: "Inter";
    src: url("fonts/Inter.ttf") format("truetype-variations");
    font-weight: 100 900;
}

html {
    font-size: 62.5%;
    line-height: 1.65;
    letter-spacing: 0.01em;
}

.frame-content {
    /* font-family: var(--font-family); */
    font-size: 1.7rem;
    font-weight: 300;
    letter-spacing: 0.1px;
    color: #394047;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

/* Toolbar (to be removed upon implementation of custom toolbar) */

.toolbar-temporary {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 4rem;
    padding: .2rem 0;
    background: #15171A;
    color:#fff;
    font-family: "Inter", -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 3px;
}

.toolbar-temporary li,
.toolbar-temporary li:first-child {
    display: inline;
    margin: 0;
    padding: 0;
}

.toolbar-temporary li select {
    padding: .2rem .6rem;
    background: rgba(255, 255, 255, .15);
    border-radius: 3px;
}


/* Reset margins */

p,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
aside {
    margin: 1.6rem 0 0;
    min-width: 100%;
    max-width: 100%;
}


/* Heading
/* -------------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    font-weight: 700;
    color: #000;
}

h1 strong,
h2 strong,
h3 strong,
h4 strong,
h5 strong,
h6 strong {
    font-weight: 800;
}

/* H1 should be almost the same size as the post title to suggest avoid using it */
h1 {
    font-size: 4.4rem;
    line-height: 1.15em;
    letter-spacing: -0.015em;
}

h2 {
    font-size: 3.2rem;
    line-height: 1.2em;
    letter-spacing: -0.014em;
}

h3 {
    font-size: 2.5rem;
    line-height: 1.3em;
    letter-spacing: -0.013em;
}

/* H4 is almost the same size as H3 to discourage using it */
h4 {
    font-size: 2.2rem;
    line-height: 1.35em;
    letter-spacing: -0.011em;
}

h5 {
    font-size: 2.0rem;
    line-height: 1.35em;
    font-weight: 700;
    letter-spacing: -0.011em;
}

h6 {
    font-size: 1.85rem;
    line-height: 1.4em;
    font-weight: 700;
    letter-spacing: -0.008em;
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6,

blockquote + h1,
blockquote + h2,
blockquote + h3,
blockquote + h4,
blockquote + h5,
blockquote + h6,

aside + h1,
aside + h2,
aside + h3,
aside + h4,
aside + h5,
aside + h6,

ul + h1,
ul + h2,
ul + h3,
ul + h4,
ul + h5,
ul + h6,

ol + h1,
ol + h2,
ol + h3,
ol + h4,
ol + h5,
ol + h6 {
    margin: 4.8rem 0 0;
}

/* Heading 1 vertical rhythm */

h1 + h1 {
    margin: 1.4rem 0 0;
}

h2 + h1,
h3 + h1 {
    margin: 1.0rem 0 0;
}

h4 + h1,
h5 + h1 {
    margin: 0.8rem 0 0;
}

h6 + h1 {
    margin: 0.6rem 0 0;
}

div + h1 {
    margin: 4.8rem 0 0;
}


/* Heading 2 */

h1 + h2 {
    margin: 1.6rem 0 0;
}

h2 + h2,
h3 + h2,
h4 + h2,
.koenig-editor__editor h5 + h2 {
    margin: 0.8rem 0 0;
}

h6 + h2 {
    margin: 0.4rem 0 0;
}

div + h2 {
    margin: 4.8rem 0 0;
}


/* Heading 3 - 6 (share common styles) */

h1 + h3,
h2 + h3,

h1 + h4,
h2 + h4,

h1 + h5,
h2 + h5,

h1 + h6,
h2 + h6 {
    margin: 1.2rem 0 0;
}

h3 + h4 {
    margin: 0.8rem 0 0;
}

h3 + h3,
h4 + h3,
h5 + h3,

h4 + h4,
h5 + h4,

h3 + h5,
h4 + h5,
h5 + h5,

h3 + h6,
h4 + h6 {
    margin: 0.8rem 0 0;
}

h5 + h6 {
    margin: 0.4rem 0 0;
}

h6 + h3,
h6 + h4,
h6 + h5,
h6 + h6 {
    margin: 0.4rem 0 0;
}

div + h3,
div + h4,
div + h5,
div + h6 {
    margin: 4.8rem 0 0;
}

/* Headings right after post title */
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
.koenig-editor__editor h5:first-child,
h6:first-child {
    margin-top: 0rem;
}

@media (max-width: 500px) {
    h1 {
        font-size: 3.2rem;
    }

    h2 {
        font-size: 2.8rem;
    }

    h3 {
        font-size: 2.4rem;
    }

    h4 {
        font-size: 2.3rem;
    }

    h5 {
        font-size: 2.0rem;
    }

    h6 {
        font-size: 1.9rem;
    }
}


/* Paragraph
/* -------------------------------------------------------------------- */

p,
blockquote,
aside,
ul,
ol
 {
    font-family: georgia,serif;
    font-weight: 400;
    line-height: 1.6em;
    font-size: 2.0rem;
}

h1 + p {
    margin: 1.0rem 0 0;
}

h2 + p {
    margin: 0.8rem 0 0;
}

h3 + p,
h4 + p,
h5 + p,
h6 + p {
    margin: 0.8rem 0 0;
}

p + p,
blockquote + p,
aside + p,
ul + p,
ol + p
 {
    margin: 3.2rem 0 0;
}

div + p { /* Mobiledoc cards can be addressed by their wrapper div element */
    margin: 2.8rem 0 0;
}

/* Paragraph right after title */
p:first-child {
    margin-top: 0rem;
}

@media (max-width: 500px) {
    p,
    blockquote,
    aside,
    ul,
    ol
    {
        font-size: 1.8rem;
    }
}


/* Lists
/* -------------------------------------------------------------------- */

ul,
ol {
    margin: 1.6rem 0 0;
    padding: 0;
    min-width: 100%;
    max-width: 100%;
}

ul li {
    display: list-item;
    list-style-type: disc;
    margin: 1.0rem 0 0 2.4rem;
    padding: 0 0 0 0.6rem;
    line-height: 3.2rem;
}

ul li:first-child {
    margin: 0 0 0 2.4rem;
}

ol li {
    display: list-item;
    list-style-type: decimal;
    margin: 1.0rem 0 0 2.2rem;
    padding: 0 0 0 0.8rem;
    line-height: 3.2rem;
}

ol li:first-child {
    margin: 0 0 0 2.2rem;
}

p + ul,
p + ol {
    margin: 3.0rem 0 0;
}

ul + ul,
ul + ol,
ol + ul,
ol + ol,
blockquote + ul,
blockquote + ol,
aside + ul,
aside + ol {
    margin: 3.0rem 0 0;
}

h1 + ul,
h1 + ol,
h2 + ul,
h2 + ol {
    margin: .8rem 0 0;
}

h3 + ul,
h3 + ol,
h4 + ul,
h4 + ol,
h5 + ul,
h5 + ol,
h6 + ul,
h6 + ol {
    margin: 1.2rem 0 0;
}

div + ul,
div + ol {
    margin: 2.8rem 0 0;
}

ul ul,
ul ol,
ol ul,
ol ol {
    margin: 1.0rem 0 2rem;
}

/* Lists right after title */
ul:first-child,
ol:first-child {
    margin-top: 0rem;
}


/* Links
/* -------------------------------------------------------------------- */

a {
    color: #ff0095;
    text-decoration: underline;
}


/* Blockquote
/* -------------------------------------------------------------------- */

blockquote p {
    margin: 0;
}

blockquote {
    border-left: 0.25rem solid #ff0095;
    padding-left: 2.0rem;
    font-style: italic;
}

h1 + blockquote,
h2 + blockquote {
    margin: .8rem 0 0;
}

h3 + blockquote,
h4 + blockquote,
.koenig-editor__editor h5 + blockquote,
h6 + blockquote {
    margin: .4rem 0 0;
}

p + blockquote,
blockquote + blockquote {
    margin: 3.2rem 0 0;
}


/* Mobiledoc cards can be selected by their wrapper div element */
div + blockquote {
    margin: 2.8rem 0 0;
}


/* Aside, Blockquote Alternative
/* -------------------------------------------------------------------- */

aside p {
    margin: 0;
}

aside {
    margin: 3.2rem 0 0;
    padding: 1rem 6rem 1.25rem;
    font-style: italic;
    text-align: center;
    font-size: 2.4rem;
    color: var(--midgrey-l1);
}

h1 + aside,
h2 + aside {
    margin: .8rem 0 0;
}

h3 + aside,
h4 + aside,
h5 + aside,
h6 + aside {
    margin: .4rem 0 0;
}

p + aside,
blockquote + aside {
    margin: 3.2rem 0 0;
}

@media (max-width: 800px) {
    aside {
        padding-left: 6rem;
        padding-right: 6rem;
    }
}

@media (max-width: 500px) {
    aside {
        font-size: 2.2rem;
    }
}

/* Mobiledoc cards can be selected by their wrapper div element */
div + aside {
    margin: 2.8rem 0 0;
}


/* Mobiledoc-kit base styles
/* NOTE: adapted from https://github.com/bustle/mobiledoc-kit/blob/master/src/css/mobiledoc-kit.css
/* --------------------------------------------------------------- */

.__mobiledoc-editor {
    position: relative;
    resize: none;
    min-height: 1em;
}

.__mobiledoc-editor:focus {
    outline: none;
}

.__mobiledoc-editor > * {
    position: relative;
}

.__mobiledoc-editor i {
    display: inline;
}

.__mobiledoc-card {
    display: inline-block;
    width: 100%;
}

.__mobiledoc-editor.__has-no-content:after {
    min-width: 100%;
    content: attr(data-placeholder);
    cursor: text;
    position: absolute;
    top: 0;
    left: 0;
    color: #abb4be;
    font-family: georgia,serif;
    font-size: 2rem;
}