{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2023-09-06",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"cleanrooms-ml",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"AWS Clean Rooms ML",
    "serviceId":"CleanRoomsML",
    "signatureVersion":"v4",
    "signingName":"cleanrooms-ml",
    "uid":"cleanroomsml-2023-09-06"
  },
  "operations":{
    "CancelTrainedModel":{
      "name":"CancelTrainedModel",
      "http":{
        "method":"PATCH",
        "requestUri":"/memberships/{membershipIdentifier}/trained-models/{trainedModelArn}",
        "responseCode":200
      },
      "input":{"shape":"CancelTrainedModelRequest"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Submits a request to cancel the trained model job.</p>",
      "idempotent":true
    },
    "CancelTrainedModelInferenceJob":{
      "name":"CancelTrainedModelInferenceJob",
      "http":{
        "method":"PATCH",
        "requestUri":"/memberships/{membershipIdentifier}/trained-model-inference-jobs/{trainedModelInferenceJobArn}",
        "responseCode":200
      },
      "input":{"shape":"CancelTrainedModelInferenceJobRequest"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Submits a request to cancel a trained model inference job.</p>",
      "idempotent":true
    },
    "CreateAudienceModel":{
      "name":"CreateAudienceModel",
      "http":{
        "method":"POST",
        "requestUri":"/audience-model",
        "responseCode":200
      },
      "input":{"shape":"CreateAudienceModelRequest"},
      "output":{"shape":"CreateAudienceModelResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Defines the information necessary to create an audience model. An audience model is a machine learning model that Clean Rooms ML trains to measure similarity between users. Clean Rooms ML manages training and storing the audience model. The audience model can be used in multiple calls to the <a>StartAudienceGenerationJob</a> API.</p>",
      "idempotent":true
    },
    "CreateConfiguredAudienceModel":{
      "name":"CreateConfiguredAudienceModel",
      "http":{
        "method":"POST",
        "requestUri":"/configured-audience-model",
        "responseCode":200
      },
      "input":{"shape":"CreateConfiguredAudienceModelRequest"},
      "output":{"shape":"CreateConfiguredAudienceModelResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Defines the information necessary to create a configured audience model.</p>",
      "idempotent":true
    },
    "CreateConfiguredModelAlgorithm":{
      "name":"CreateConfiguredModelAlgorithm",
      "http":{
        "method":"POST",
        "requestUri":"/configured-model-algorithms",
        "responseCode":200
      },
      "input":{"shape":"CreateConfiguredModelAlgorithmRequest"},
      "output":{"shape":"CreateConfiguredModelAlgorithmResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a configured model algorithm using a container image stored in an ECR repository.</p>",
      "idempotent":true
    },
    "CreateConfiguredModelAlgorithmAssociation":{
      "name":"CreateConfiguredModelAlgorithmAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/memberships/{membershipIdentifier}/configured-model-algorithm-associations",
        "responseCode":200
      },
      "input":{"shape":"CreateConfiguredModelAlgorithmAssociationRequest"},
      "output":{"shape":"CreateConfiguredModelAlgorithmAssociationResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Associates a configured model algorithm to a collaboration for use by any member of the collaboration.</p>",
      "idempotent":true
    },
    "CreateMLInputChannel":{
      "name":"CreateMLInputChannel",
      "http":{
        "method":"POST",
        "requestUri":"/memberships/{membershipIdentifier}/ml-input-channels",
        "responseCode":200
      },
      "input":{"shape":"CreateMLInputChannelRequest"},
      "output":{"shape":"CreateMLInputChannelResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Provides the information to create an ML input channel. An ML input channel is the result of a query that can be used for ML modeling.</p>",
      "idempotent":true
    },
    "CreateTrainedModel":{
      "name":"CreateTrainedModel",
      "http":{
        "method":"POST",
        "requestUri":"/memberships/{membershipIdentifier}/trained-models",
        "responseCode":200
      },
      "input":{"shape":"CreateTrainedModelRequest"},
      "output":{"shape":"CreateTrainedModelResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a trained model from an associated configured model algorithm using data from any member of the collaboration.</p>",
      "idempotent":true
    },
    "CreateTrainingDataset":{
      "name":"CreateTrainingDataset",
      "http":{
        "method":"POST",
        "requestUri":"/training-dataset",
        "responseCode":200
      },
      "input":{"shape":"CreateTrainingDatasetRequest"},
      "output":{"shape":"CreateTrainingDatasetResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Defines the information necessary to create a training dataset. In Clean Rooms ML, the <code>TrainingDataset</code> is metadata that points to a Glue table, which is read only during <code>AudienceModel</code> creation.</p>",
      "idempotent":true
    },
    "DeleteAudienceGenerationJob":{
      "name":"DeleteAudienceGenerationJob",
      "http":{
        "method":"DELETE",
        "requestUri":"/audience-generation-job/{audienceGenerationJobArn}",
        "responseCode":200
      },
      "input":{"shape":"DeleteAudienceGenerationJobRequest"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes the specified audience generation job, and removes all data associated with the job.</p>",
      "idempotent":true
    },
    "DeleteAudienceModel":{
      "name":"DeleteAudienceModel",
      "http":{
        "method":"DELETE",
        "requestUri":"/audience-model/{audienceModelArn}",
        "responseCode":200
      },
      "input":{"shape":"DeleteAudienceModelRequest"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Specifies an audience model that you want to delete. You can't delete an audience model if there are any configured audience models that depend on the audience model.</p>",
      "idempotent":true
    },
    "DeleteConfiguredAudienceModel":{
      "name":"DeleteConfiguredAudienceModel",
      "http":{
        "method":"DELETE",
        "requestUri":"/configured-audience-model/{configuredAudienceModelArn}",
        "responseCode":200
      },
      "input":{"shape":"DeleteConfiguredAudienceModelRequest"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes the specified configured audience model. You can't delete a configured audience model if there are any lookalike models that use the configured audience model. If you delete a configured audience model, it will be removed from any collaborations that it is associated to.</p>",
      "idempotent":true
    },
    "DeleteConfiguredAudienceModelPolicy":{
      "name":"DeleteConfiguredAudienceModelPolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/configured-audience-model/{configuredAudienceModelArn}/policy",
        "responseCode":200
      },
      "input":{"shape":"DeleteConfiguredAudienceModelPolicyRequest"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes the specified configured audience model policy.</p>",
      "idempotent":true
    },
    "DeleteConfiguredModelAlgorithm":{
      "name":"DeleteConfiguredModelAlgorithm",
      "http":{
        "method":"DELETE",
        "requestUri":"/configured-model-algorithms/{configuredModelAlgorithmArn}",
        "responseCode":200
      },
      "input":{"shape":"DeleteConfiguredModelAlgorithmRequest"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes a configured model algorithm.</p>",
      "idempotent":true
    },
    "DeleteConfiguredModelAlgorithmAssociation":{
      "name":"DeleteConfiguredModelAlgorithmAssociation",
      "http":{
        "method":"DELETE",
        "requestUri":"/memberships/{membershipIdentifier}/configured-model-algorithm-associations/{configuredModelAlgorithmAssociationArn}",
        "responseCode":200
      },
      "input":{"shape":"DeleteConfiguredModelAlgorithmAssociationRequest"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a configured model algorithm association.</p>",
      "idempotent":true
    },
    "DeleteMLConfiguration":{
      "name":"DeleteMLConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/memberships/{membershipIdentifier}/ml-configurations",
        "responseCode":200
      },
      "input":{"shape":"DeleteMLConfigurationRequest"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a ML modeling configuration.</p>",
      "idempotent":true
    },
    "DeleteMLInputChannelData":{
      "name":"DeleteMLInputChannelData",
      "http":{
        "method":"DELETE",
        "requestUri":"/memberships/{membershipIdentifier}/ml-input-channels/{mlInputChannelArn}",
        "responseCode":200
      },
      "input":{"shape":"DeleteMLInputChannelDataRequest"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Provides the information necessary to delete an ML input channel.</p>",
      "idempotent":true
    },
    "DeleteTrainedModelOutput":{
      "name":"DeleteTrainedModelOutput",
      "http":{
        "method":"DELETE",
        "requestUri":"/memberships/{membershipIdentifier}/trained-models/{trainedModelArn}",
        "responseCode":200
      },
      "input":{"shape":"DeleteTrainedModelOutputRequest"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes the model artifacts stored by the service.</p>",
      "idempotent":true
    },
    "DeleteTrainingDataset":{
      "name":"DeleteTrainingDataset",
      "http":{
        "method":"DELETE",
        "requestUri":"/training-dataset/{trainingDatasetArn}",
        "responseCode":200
      },
      "input":{"shape":"DeleteTrainingDatasetRequest"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Specifies a training dataset that you want to delete. You can't delete a training dataset if there are any audience models that depend on the training dataset. In Clean Rooms ML, the <code>TrainingDataset</code> is metadata that points to a Glue table, which is read only during <code>AudienceModel</code> creation. This action deletes the metadata.</p>",
      "idempotent":true
    },
    "GetAudienceGenerationJob":{
      "name":"GetAudienceGenerationJob",
      "http":{
        "method":"GET",
        "requestUri":"/audience-generation-job/{audienceGenerationJobArn}",
        "responseCode":200
      },
      "input":{"shape":"GetAudienceGenerationJobRequest"},
      "output":{"shape":"GetAudienceGenerationJobResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns information about an audience generation job.</p>"
    },
    "GetAudienceModel":{
      "name":"GetAudienceModel",
      "http":{
        "method":"GET",
        "requestUri":"/audience-model/{audienceModelArn}",
        "responseCode":200
      },
      "input":{"shape":"GetAudienceModelRequest"},
      "output":{"shape":"GetAudienceModelResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns information about an audience model</p>"
    },
    "GetCollaborationConfiguredModelAlgorithmAssociation":{
      "name":"GetCollaborationConfiguredModelAlgorithmAssociation",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/configured-model-algorithm-associations/{configuredModelAlgorithmAssociationArn}",
        "responseCode":200
      },
      "input":{"shape":"GetCollaborationConfiguredModelAlgorithmAssociationRequest"},
      "output":{"shape":"GetCollaborationConfiguredModelAlgorithmAssociationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns information about the configured model algorithm association in a collaboration.</p>"
    },
    "GetCollaborationMLInputChannel":{
      "name":"GetCollaborationMLInputChannel",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/ml-input-channels/{mlInputChannelArn}",
        "responseCode":200
      },
      "input":{"shape":"GetCollaborationMLInputChannelRequest"},
      "output":{"shape":"GetCollaborationMLInputChannelResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns information about a specific ML input channel in a collaboration.</p>"
    },
    "GetCollaborationTrainedModel":{
      "name":"GetCollaborationTrainedModel",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/trained-models/{trainedModelArn}",
        "responseCode":200
      },
      "input":{"shape":"GetCollaborationTrainedModelRequest"},
      "output":{"shape":"GetCollaborationTrainedModelResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns information about a trained model in a collaboration.</p>"
    },
    "GetConfiguredAudienceModel":{
      "name":"GetConfiguredAudienceModel",
      "http":{
        "method":"GET",
        "requestUri":"/configured-audience-model/{configuredAudienceModelArn}",
        "responseCode":200
      },
      "input":{"shape":"GetConfiguredAudienceModelRequest"},
      "output":{"shape":"GetConfiguredAudienceModelResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns information about a specified configured audience model.</p>"
    },
    "GetConfiguredAudienceModelPolicy":{
      "name":"GetConfiguredAudienceModelPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/configured-audience-model/{configuredAudienceModelArn}/policy",
        "responseCode":200
      },
      "input":{"shape":"GetConfiguredAudienceModelPolicyRequest"},
      "output":{"shape":"GetConfiguredAudienceModelPolicyResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns information about a configured audience model policy.</p>"
    },
    "GetConfiguredModelAlgorithm":{
      "name":"GetConfiguredModelAlgorithm",
      "http":{
        "method":"GET",
        "requestUri":"/configured-model-algorithms/{configuredModelAlgorithmArn}",
        "responseCode":200
      },
      "input":{"shape":"GetConfiguredModelAlgorithmRequest"},
      "output":{"shape":"GetConfiguredModelAlgorithmResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns information about a configured model algorithm.</p>"
    },
    "GetConfiguredModelAlgorithmAssociation":{
      "name":"GetConfiguredModelAlgorithmAssociation",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/configured-model-algorithm-associations/{configuredModelAlgorithmAssociationArn}",
        "responseCode":200
      },
      "input":{"shape":"GetConfiguredModelAlgorithmAssociationRequest"},
      "output":{"shape":"GetConfiguredModelAlgorithmAssociationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns information about a configured model algorithm association.</p>"
    },
    "GetMLConfiguration":{
      "name":"GetMLConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/ml-configurations",
        "responseCode":200
      },
      "input":{"shape":"GetMLConfigurationRequest"},
      "output":{"shape":"GetMLConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns information about a specific ML configuration.</p>"
    },
    "GetMLInputChannel":{
      "name":"GetMLInputChannel",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/ml-input-channels/{mlInputChannelArn}",
        "responseCode":200
      },
      "input":{"shape":"GetMLInputChannelRequest"},
      "output":{"shape":"GetMLInputChannelResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns information about an ML input channel.</p>"
    },
    "GetTrainedModel":{
      "name":"GetTrainedModel",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/trained-models/{trainedModelArn}",
        "responseCode":200
      },
      "input":{"shape":"GetTrainedModelRequest"},
      "output":{"shape":"GetTrainedModelResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns information about a trained model.</p>"
    },
    "GetTrainedModelInferenceJob":{
      "name":"GetTrainedModelInferenceJob",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/trained-model-inference-jobs/{trainedModelInferenceJobArn}",
        "responseCode":200
      },
      "input":{"shape":"GetTrainedModelInferenceJobRequest"},
      "output":{"shape":"GetTrainedModelInferenceJobResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns information about a trained model inference job.</p>"
    },
    "GetTrainingDataset":{
      "name":"GetTrainingDataset",
      "http":{
        "method":"GET",
        "requestUri":"/training-dataset/{trainingDatasetArn}",
        "responseCode":200
      },
      "input":{"shape":"GetTrainingDatasetRequest"},
      "output":{"shape":"GetTrainingDatasetResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns information about a training dataset.</p>"
    },
    "ListAudienceExportJobs":{
      "name":"ListAudienceExportJobs",
      "http":{
        "method":"GET",
        "requestUri":"/audience-export-job",
        "responseCode":200
      },
      "input":{"shape":"ListAudienceExportJobsRequest"},
      "output":{"shape":"ListAudienceExportJobsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns a list of the audience export jobs.</p>"
    },
    "ListAudienceGenerationJobs":{
      "name":"ListAudienceGenerationJobs",
      "http":{
        "method":"GET",
        "requestUri":"/audience-generation-job",
        "responseCode":200
      },
      "input":{"shape":"ListAudienceGenerationJobsRequest"},
      "output":{"shape":"ListAudienceGenerationJobsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns a list of audience generation jobs.</p>"
    },
    "ListAudienceModels":{
      "name":"ListAudienceModels",
      "http":{
        "method":"GET",
        "requestUri":"/audience-model",
        "responseCode":200
      },
      "input":{"shape":"ListAudienceModelsRequest"},
      "output":{"shape":"ListAudienceModelsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns a list of audience models.</p>"
    },
    "ListCollaborationConfiguredModelAlgorithmAssociations":{
      "name":"ListCollaborationConfiguredModelAlgorithmAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/configured-model-algorithm-associations",
        "responseCode":200
      },
      "input":{"shape":"ListCollaborationConfiguredModelAlgorithmAssociationsRequest"},
      "output":{"shape":"ListCollaborationConfiguredModelAlgorithmAssociationsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of the configured model algorithm associations in a collaboration.</p>"
    },
    "ListCollaborationMLInputChannels":{
      "name":"ListCollaborationMLInputChannels",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/ml-input-channels",
        "responseCode":200
      },
      "input":{"shape":"ListCollaborationMLInputChannelsRequest"},
      "output":{"shape":"ListCollaborationMLInputChannelsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of the ML input channels in a collaboration.</p>"
    },
    "ListCollaborationTrainedModelExportJobs":{
      "name":"ListCollaborationTrainedModelExportJobs",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/trained-models/{trainedModelArn}/export-jobs",
        "responseCode":200
      },
      "input":{"shape":"ListCollaborationTrainedModelExportJobsRequest"},
      "output":{"shape":"ListCollaborationTrainedModelExportJobsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of the export jobs for a trained model in a collaboration.</p>"
    },
    "ListCollaborationTrainedModelInferenceJobs":{
      "name":"ListCollaborationTrainedModelInferenceJobs",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/trained-model-inference-jobs",
        "responseCode":200
      },
      "input":{"shape":"ListCollaborationTrainedModelInferenceJobsRequest"},
      "output":{"shape":"ListCollaborationTrainedModelInferenceJobsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of trained model inference jobs in a specified collaboration.</p>"
    },
    "ListCollaborationTrainedModels":{
      "name":"ListCollaborationTrainedModels",
      "http":{
        "method":"GET",
        "requestUri":"/collaborations/{collaborationIdentifier}/trained-models",
        "responseCode":200
      },
      "input":{"shape":"ListCollaborationTrainedModelsRequest"},
      "output":{"shape":"ListCollaborationTrainedModelsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of the trained models in a collaboration.</p>"
    },
    "ListConfiguredAudienceModels":{
      "name":"ListConfiguredAudienceModels",
      "http":{
        "method":"GET",
        "requestUri":"/configured-audience-model",
        "responseCode":200
      },
      "input":{"shape":"ListConfiguredAudienceModelsRequest"},
      "output":{"shape":"ListConfiguredAudienceModelsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns a list of the configured audience models.</p>"
    },
    "ListConfiguredModelAlgorithmAssociations":{
      "name":"ListConfiguredModelAlgorithmAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/configured-model-algorithm-associations",
        "responseCode":200
      },
      "input":{"shape":"ListConfiguredModelAlgorithmAssociationsRequest"},
      "output":{"shape":"ListConfiguredModelAlgorithmAssociationsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of configured model algorithm associations.</p>"
    },
    "ListConfiguredModelAlgorithms":{
      "name":"ListConfiguredModelAlgorithms",
      "http":{
        "method":"GET",
        "requestUri":"/configured-model-algorithms",
        "responseCode":200
      },
      "input":{"shape":"ListConfiguredModelAlgorithmsRequest"},
      "output":{"shape":"ListConfiguredModelAlgorithmsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns a list of configured model algorithms.</p>"
    },
    "ListMLInputChannels":{
      "name":"ListMLInputChannels",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/ml-input-channels",
        "responseCode":200
      },
      "input":{"shape":"ListMLInputChannelsRequest"},
      "output":{"shape":"ListMLInputChannelsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of ML input channels.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns a list of tags for a provided resource.</p>"
    },
    "ListTrainedModelInferenceJobs":{
      "name":"ListTrainedModelInferenceJobs",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/trained-model-inference-jobs",
        "responseCode":200
      },
      "input":{"shape":"ListTrainedModelInferenceJobsRequest"},
      "output":{"shape":"ListTrainedModelInferenceJobsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of trained model inference jobs that match the request parameters.</p>"
    },
    "ListTrainedModelVersions":{
      "name":"ListTrainedModelVersions",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/trained-models/{trainedModelArn}/versions",
        "responseCode":200
      },
      "input":{"shape":"ListTrainedModelVersionsRequest"},
      "output":{"shape":"ListTrainedModelVersionsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of trained model versions for a specified trained model. This operation allows you to view all versions of a trained model, including information about their status and creation details. You can use this to track the evolution of your trained models and select specific versions for inference or further training.</p>"
    },
    "ListTrainedModels":{
      "name":"ListTrainedModels",
      "http":{
        "method":"GET",
        "requestUri":"/memberships/{membershipIdentifier}/trained-models",
        "responseCode":200
      },
      "input":{"shape":"ListTrainedModelsRequest"},
      "output":{"shape":"ListTrainedModelsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of trained models.</p>"
    },
    "ListTrainingDatasets":{
      "name":"ListTrainingDatasets",
      "http":{
        "method":"GET",
        "requestUri":"/training-dataset",
        "responseCode":200
      },
      "input":{"shape":"ListTrainingDatasetsRequest"},
      "output":{"shape":"ListTrainingDatasetsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns a list of training datasets.</p>"
    },
    "PutConfiguredAudienceModelPolicy":{
      "name":"PutConfiguredAudienceModelPolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/configured-audience-model/{configuredAudienceModelArn}/policy",
        "responseCode":200
      },
      "input":{"shape":"PutConfiguredAudienceModelPolicyRequest"},
      "output":{"shape":"PutConfiguredAudienceModelPolicyResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Create or update the resource policy for a configured audience model.</p>",
      "idempotent":true
    },
    "PutMLConfiguration":{
      "name":"PutMLConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/memberships/{membershipIdentifier}/ml-configurations",
        "responseCode":200
      },
      "input":{"shape":"PutMLConfigurationRequest"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Assigns information about an ML configuration.</p>",
      "idempotent":true
    },
    "StartAudienceExportJob":{
      "name":"StartAudienceExportJob",
      "http":{
        "method":"POST",
        "requestUri":"/audience-export-job",
        "responseCode":200
      },
      "input":{"shape":"StartAudienceExportJobRequest"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Export an audience of a specified size after you have generated an audience.</p>",
      "idempotent":true
    },
    "StartAudienceGenerationJob":{
      "name":"StartAudienceGenerationJob",
      "http":{
        "method":"POST",
        "requestUri":"/audience-generation-job",
        "responseCode":200
      },
      "input":{"shape":"StartAudienceGenerationJobRequest"},
      "output":{"shape":"StartAudienceGenerationJobResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Information necessary to start the audience generation job.</p>",
      "idempotent":true
    },
    "StartTrainedModelExportJob":{
      "name":"StartTrainedModelExportJob",
      "http":{
        "method":"POST",
        "requestUri":"/memberships/{membershipIdentifier}/trained-models/{trainedModelArn}/export-jobs",
        "responseCode":200
      },
      "input":{"shape":"StartTrainedModelExportJobRequest"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Provides the information necessary to start a trained model export job.</p>",
      "idempotent":true
    },
    "StartTrainedModelInferenceJob":{
      "name":"StartTrainedModelInferenceJob",
      "http":{
        "method":"POST",
        "requestUri":"/memberships/{membershipIdentifier}/trained-model-inference-jobs",
        "responseCode":200
      },
      "input":{"shape":"StartTrainedModelInferenceJobRequest"},
      "output":{"shape":"StartTrainedModelInferenceJobResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Defines the information necessary to begin a trained model inference job.</p>",
      "idempotent":true
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Adds metadata tags to a specified resource.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Removes metadata tags from a specified resource.</p>",
      "idempotent":true
    },
    "UpdateConfiguredAudienceModel":{
      "name":"UpdateConfiguredAudienceModel",
      "http":{
        "method":"PATCH",
        "requestUri":"/configured-audience-model/{configuredAudienceModelArn}",
        "responseCode":200
      },
      "input":{"shape":"UpdateConfiguredAudienceModelRequest"},
      "output":{"shape":"UpdateConfiguredAudienceModelResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Provides the information necessary to update a configured audience model. Updates that impact audience generation jobs take effect when a new job starts, but do not impact currently running jobs.</p>",
      "idempotent":true
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>You do not have sufficient access to perform this action.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AccountId":{
      "type":"string",
      "max":12,
      "min":12,
      "pattern":"[0-9]{12}"
    },
    "AccountIdList":{
      "type":"list",
      "member":{"shape":"String"},
      "max":5,
      "min":1
    },
    "AlgorithmImage":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":".*"
    },
    "AnalysisTemplateArn":{
      "type":"string",
      "max":200,
      "min":0,
      "pattern":"arn:aws[-a-z]*:cleanrooms:[\\w]{2}-[\\w]{4,9}-[\\d]:[\\d]{12}:membership/[\\d\\w-]+/analysistemplate/[\\d\\w-]+"
    },
    "AudienceDestination":{
      "type":"structure",
      "required":["s3Destination"],
      "members":{
        "s3Destination":{
          "shape":"S3ConfigMap",
          "documentation":"<p>The Amazon S3 bucket and path for the configured audience.</p>"
        }
      },
      "documentation":"<p>Defines the Amazon S3 bucket where the configured audience is stored.</p>"
    },
    "AudienceExportJobList":{
      "type":"list",
      "member":{"shape":"AudienceExportJobSummary"}
    },
    "AudienceExportJobStatus":{
      "type":"string",
      "enum":[
        "CREATE_PENDING",
        "CREATE_IN_PROGRESS",
        "CREATE_FAILED",
        "ACTIVE"
      ]
    },
    "AudienceExportJobSummary":{
      "type":"structure",
      "required":[
        "createTime",
        "updateTime",
        "name",
        "audienceGenerationJobArn",
        "audienceSize",
        "status"
      ],
      "members":{
        "createTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The time at which the audience export job was created.</p>"
        },
        "updateTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The most recent time at which the audience export job was updated.</p>"
        },
        "name":{
          "shape":"NameString",
          "documentation":"<p>The name of the audience export job.</p>"
        },
        "audienceGenerationJobArn":{
          "shape":"AudienceGenerationJobArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the audience generation job that was exported.</p>"
        },
        "audienceSize":{"shape":"AudienceSize"},
        "description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description of the audience export job.</p>"
        },
        "status":{
          "shape":"AudienceExportJobStatus",
          "documentation":"<p>The status of the audience export job.</p>"
        },
        "statusDetails":{"shape":"StatusDetails"},
        "outputLocation":{
          "shape":"S3Path",
          "documentation":"<p>The Amazon S3 bucket where the audience export is stored.</p>"
        }
      },
      "documentation":"<p>Provides information about the audience export job.</p>"
    },
    "AudienceGenerationJobArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:aws[-a-z]*:cleanrooms-ml:[-a-z0-9]+:[0-9]{12}:audience-generation-job/[-a-zA-Z0-9_/.]+"
    },
    "AudienceGenerationJobDataSource":{
      "type":"structure",
      "required":["roleArn"],
      "members":{
        "dataSource":{
          "shape":"S3ConfigMap",
          "documentation":"<p>Defines the Amazon S3 bucket where the seed audience for the generating audience is stored. A valid data source is a JSON line file in the following format:</p> <p> <code>{\"user_id\": \"111111\"}</code> </p> <p> <code>{\"user_id\": \"222222\"}</code> </p> <p> <code>...</code> </p>"
        },
        "roleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p>The ARN of the IAM role that can read the Amazon S3 bucket where the seed audience is stored.</p>"
        },
        "sqlParameters":{
          "shape":"ProtectedQuerySQLParameters",
          "documentation":"<p>The protected SQL query parameters.</p>"
        },
        "sqlComputeConfiguration":{"shape":"ComputeConfiguration"}
      },
      "documentation":"<p>Defines the Amazon S3 bucket where the seed audience for the generating audience is stored.</p>"
    },
    "AudienceGenerationJobList":{
      "type":"list",
      "member":{"shape":"AudienceGenerationJobSummary"}
    },
    "AudienceGenerationJobStatus":{
      "type":"string",
      "enum":[
        "CREATE_PENDING",
        "CREATE_IN_PROGRESS",
        "CREATE_FAILED",
        "ACTIVE",
        "DELETE_PENDING",
        "DELETE_IN_PROGRESS",
        "DELETE_FAILED"
      ]
    },
    "AudienceGenerationJobSummary":{
      "type":"structure",
      "required":[
        "createTime",
        "updateTime",
        "audienceGenerationJobArn",
        "name",
        "status",
        "configuredAudienceModelArn"
      ],
      "members":{
        "createTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The time at which the audience generation job was created.</p>"
        },
        "updateTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The most recent time at which the audience generation job was updated.</p>"
        },
        "audienceGenerationJobArn":{
          "shape":"AudienceGenerationJobArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the audience generation job.</p>"
        },
        "name":{
          "shape":"NameString",
          "documentation":"<p>The name of the audience generation job.</p>"
        },
        "description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description of the audience generation job.</p>"
        },
        "status":{
          "shape":"AudienceGenerationJobStatus",
          "documentation":"<p>The status of the audience generation job.</p>"
        },
        "configuredAudienceModelArn":{
          "shape":"ConfiguredAudienceModelArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the configured audience model that was used for this audience generation job.</p>"
        },
        "collaborationId":{
          "shape":"UUID",
          "documentation":"<p>The identifier of the collaboration that contains this audience generation job.</p>"
        },
        "startedBy":{
          "shape":"AccountId",
          "documentation":"<p>The AWS Account that submitted the job.</p>"
        }
      },
      "documentation":"<p>Provides information about the configured audience generation job.</p>"
    },
    "AudienceModelArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:aws[-a-z]*:cleanrooms-ml:[-a-z0-9]+:[0-9]{12}:audience-model/[-a-zA-Z0-9_/.]+"
    },
    "AudienceModelList":{
      "type":"list",
      "member":{"shape":"AudienceModelSummary"}
    },
    "AudienceModelStatus":{
      "type":"string",
      "enum":[
        "CREATE_PENDING",
        "CREATE_IN_PROGRESS",
        "CREATE_FAILED",
        "ACTIVE",
        "DELETE_PENDING",
        "DELETE_IN_PROGRESS",
        "DELETE_FAILED"
      ]
    },
    "AudienceModelSummary":{
      "type":"structure",
      "required":[
        "createTime",
        "updateTime",
        "audienceModelArn",
        "name",
        "trainingDatasetArn",
        "status"
      ],
      "members":{
        "createTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The time at which the audience model was created.</p>"
        },
        "updateTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The most recent time at which the audience model was updated.</p>"
        },
        "audienceModelArn":{
          "shape":"AudienceModelArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the audience model.</p>"
        },
        "name":{
          "shape":"NameString",
          "documentation":"<p>The name of the audience model.</p>"
        },
        "trainingDatasetArn":{
          "shape":"TrainingDatasetArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the training dataset that was used for the audience model.</p>"
        },
        "status":{
          "shape":"AudienceModelStatus",
          "documentation":"<p>The status of the audience model.</p>"
        },
        "description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description of the audience model.</p>"
        }
      },
      "documentation":"<p>Information about the audience model.</p>"
    },
    "AudienceQualityMetrics":{
      "type":"structure",
      "required":["relevanceMetrics"],
      "members":{
        "relevanceMetrics":{
          "shape":"RelevanceMetrics",
          "documentation":"<p>The relevance scores of the generated audience.</p>"
        },
        "recallMetric":{
          "shape":"AudienceQualityMetricsRecallMetricDouble",
          "documentation":"<p>The recall score of the generated audience. Recall is the percentage of the most similar users (by default, the most similar 20%) from a sample of the training data that are included in the seed audience by the audience generation job. Values range from 0-1, larger values indicate a better audience. A recall value approximately equal to the maximum bin size indicates that the audience model is equivalent to random selection. </p>"
        }
      },
      "documentation":"<p>Metrics that describe the quality of the generated audience.</p>"
    },
    "AudienceQualityMetricsRecallMetricDouble":{
      "type":"double",
      "box":true,
      "max":1.0,
      "min":0.0
    },
    "AudienceSize":{
      "type":"structure",
      "required":[
        "type",
        "value"
      ],
      "members":{
        "type":{
          "shape":"AudienceSizeType",
          "documentation":"<p>Whether the audience size is defined in absolute terms or as a percentage. You can use the <code>ABSOLUTE</code> <a>AudienceSize</a> to configure out audience sizes using the count of identifiers in the output. You can use the <code>Percentage</code> <a>AudienceSize</a> to configure sizes in the range 1-100 percent.</p>"
        },
        "value":{
          "shape":"AudienceSizeValue",
          "documentation":"<p>Specify an audience size value.</p>"
        }
      },
      "documentation":"<p>The size of the generated audience. Must match one of the sizes in the configured audience model.</p>"
    },
    "AudienceSizeBins":{
      "type":"list",
      "member":{"shape":"AudienceSizeValue"},
      "max":25,
      "min":1
    },
    "AudienceSizeConfig":{
      "type":"structure",
      "required":[
        "audienceSizeType",
        "audienceSizeBins"
      ],
      "members":{
        "audienceSizeType":{
          "shape":"AudienceSizeType",
          "documentation":"<p>Whether the audience output sizes are defined as an absolute number or a percentage.</p>"
        },
        "audienceSizeBins":{
          "shape":"AudienceSizeBins",
          "documentation":"<p>An array of the different audience output sizes.</p>"
        }
      },
      "documentation":"<p>Returns the relevance scores at these audience sizes when used in the <a>GetAudienceGenerationJob</a> for a specified audience generation job and configured audience model.</p> <p>Specifies the list of allowed <code>audienceSize</code> values when used in the <a>StartAudienceExportJob</a> for an audience generation job. You can use the <code>ABSOLUTE</code> <a>AudienceSize</a> to configure out audience sizes using the count of identifiers in the output. You can use the <code>Percentage</code> <a>AudienceSize</a> to configure sizes in the range 1-100 percent.</p>"
    },
    "AudienceSizeType":{
      "type":"string",
      "enum":[
        "ABSOLUTE",
        "PERCENTAGE"
      ]
    },
    "AudienceSizeValue":{
      "type":"integer",
      "box":true,
      "max":20000000,
      "min":1
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "CancelTrainedModelInferenceJobRequest":{
      "type":"structure",
      "required":[
        "membershipIdentifier",
        "trainedModelInferenceJobArn"
      ],
      "members":{
        "membershipIdentifier":{
          "shape":"UUID",
          "documentation":"<p>The membership ID of the trained model inference job that you want to cancel.</p>",
          "location":"uri",
          "locationName":"membershipIdentifier"
        },
        "trainedModelInferenceJobArn":{
          "shape":"TrainedModelInferenceJobArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the trained model inference job that you want to cancel.</p>",
          "location":"uri",
          "locationName":"trainedModelInferenceJobArn"
        }
      }
    },
    "CancelTrainedModelRequest":{
      "type":"structure",
      "required":[
        "membershipIdentifier",
        "trainedModelArn"
      ],
      "members":{
        "membershipIdentifier":{
          "shape":"UUID",
          "documentation":"<p>The membership ID of the trained model job that you want to cancel.</p>",
          "location":"uri",
          "locationName":"membershipIdentifier"
        },
        "trainedModelArn":{
          "shape":"TrainedModelArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the trained model job that you want to cancel.</p>",
          "location":"uri",
          "locationName":"trainedModelArn"
        },
        "versionIdentifier":{
          "shape":"UUID",
          "documentation":"<p>The version identifier of the trained model to cancel. This parameter allows you to specify which version of the trained model you want to cancel when multiple versions exist.</p> <p>If <code>versionIdentifier</code> is not specified, the base model will be cancelled.</p>",
          "location":"querystring",
          "locationName":"versionIdentifier"
        }
      }
    },
    "CollaborationConfiguredModelAlgorithmAssociationList":{
      "type":"list",
      "member":{"shape":"CollaborationConfiguredModelAlgorithmAssociationSummary"}
    },
    "CollaborationConfiguredModelAlgorithmAssociationSummary":{
      "type":"structure",
      "required":[
        "createTime",
        "updateTime",
        "configuredModelAlgorithmAssociationArn",
        "name",
        "membershipIdentifier",
        "collaborationIdentifier",
        "configuredModelAlgorithmArn",
        "creatorAccountId"
      ],
      "members":{
        "createTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The time at which the configured model algorithm association was created.</p>"
        },
        "updateTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The most recent time at which the configured model algorithm association was updated.</p>"
        },
        "configuredModelAlgorithmAssociationArn":{
          "shape":"ConfiguredModelAlgorithmAssociationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the configured model algorithm association.</p>"
        },
        "name":{
          "shape":"NameString",
          "documentation":"<p>The name of the configured model algorithm association.</p>"
        },
        "description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description of the configured model algorithm association.</p>"
        },
        "membershipIdentifier":{
          "shape":"UUID",
          "documentation":"<p>The membership ID of the member that created the configured model algorithm association.</p>"
        },
        "collaborationIdentifier":{
          "shape":"UUID",
          "documentation":"<p>The collaboration ID of the collaboration that contains the configured model algorithm association.</p>"
        },
        "configuredModelAlgorithmArn":{
          "shape":"ConfiguredModelAlgorithmArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the configured model algorithm that is associated to the collaboration.</p>"
        },
        "creatorAccountId":{
          "shape":"AccountId",
          "documentation":"<p>The account ID of the member that created the configured model algorithm association.</p>"
        }
      },
      "documentation":"<p>Provides summary information about a configured model algorithm in a collaboration.</p>"
    },
    "CollaborationMLInputChannelSummary":{
      "type":"structure",
      "required":[
        "createTime",
        "updateTime",
        "membershipIdentifier",
        "collaborationIdentifier",
        "name",
        "configuredModelAlgorithmAssociations",
        "mlInputChannelArn",
        "status",
        "creatorAccountId"
      ],
      "members":{
        "createTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The time at which the ML input channel was created.</p>"
        },
        "updateTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The most recent time at which the ML input channel was updated.</p>"
        },
        "membershipIdentifier":{
          "shape":"UUID",
          "documentation":"<p>The membership ID of the membership that contains the ML input channel.</p>"
        },
        "collaborationIdentifier":{
          "shape":"UUID",
          "documentation":"<p>The collaboration ID of the collaboration that contains the ML input channel.</p>"
        },
        "name":{
          "shape":"NameString",
          "documentation":"<p>The name of the ML input channel.</p>"
        },
        "configuredModelAlgorithmAssociations":{
          "shape":"CollaborationMLInputChannelSummaryConfiguredModelAlgorithmAssociationsList",
          "documentation":"<p>The associated configured model algorithms used to create the ML input channel.</p>"
        },
        "mlInputChannelArn":{
          "shape":"MLInputChannelArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the ML input channel.</p>"
        },
        "status":{
          "shape":"MLInputChannelStatus",
          "documentation":"<p>The status of the ML input channel.</p>"
        },
        "creatorAccountId":{
          "shape":"AccountId",
          "documentation":"<p>The account ID of the member who created the ML input channel.</p>"
        },
        "description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description of the ML input channel.</p>"
        }
      },
      "documentation":"<p>Provides summary information about an ML input channel in a collaboration.</p>"
    },
    "CollaborationMLInputChannelSummaryConfiguredModelAlgorithmAssociationsList":{
      "type":"list",
      "member":{"shape":"ConfiguredModelAlgorithmAssociationArn"},
      "max":1,
      "min":1
    },
    "CollaborationMLInputChannelsList":{
      "type":"list",
      "member":{"shape":"CollaborationMLInputChannelSummary"}
    },
    "CollaborationTrainedModelExportJobList":{
      "type":"list",
      "member":{"shape":"CollaborationTrainedModelExportJobSummary"}
    },
    "CollaborationTrainedModelExportJobSummary":{
      "type":"structure",
      "required":[
        "createTime",
        "updateTime",
        "name",
        "outputConfiguration",
        "status",
        "creatorAccountId",
        "trainedModelArn",
        "membershipIdentifier",
        "collaborationIdentifier"
      ],
      "members":{
        "createTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The time at which the trained model export job was created.</p>"
        },
        "updateTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The most recent time at which the trained model export job was updated.</p>"
        },
        "name":{
          "shape":"NameString",
          "documentation":"<p>The name of the trained model export job.</p>"
        },
        "outputConfiguration":{"shape":"TrainedModelExportOutputConfiguration"},
        "status":{
          "shape":"TrainedModelExportJobStatus",
          "documentation":"<p>The status of the trained model.</p>"
        },
        "statusDetails":{"shape":"StatusDetails"},
        "description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description of the trained model.</p>"
        },
        "creatorAccountId":{
          "shape":"AccountId",
          "documentation":"<p>The account ID of the member that created the trained model.</p>"
        },
        "trainedModelArn":{
          "shape":"TrainedModelArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the trained model that is being exported.</p>"
        },
        "trainedModelVersionIdentifier":{
          "shape":"UUID",
          "documentation":"<p>The version identifier of the trained model that was exported in this job.</p>"
        },
        "membershipIdentifier":{
          "shape":"UUID",
          "documentation":"<p>The membership ID of the member that created the trained model export job.</p>"
        },
        "collaborationIdentifier":{
          "shape":"UUID",
          "documentation":"<p>The collaboration ID of the collaboration that contains the trained model export job.</p>"
        }
      },
      "documentation":"<p>Provides summary information about a trained model export job in a collaboration.</p>"
    },
    "CollaborationTrainedModelInferenceJobList":{
      "type":"list",
      "member":{"shape":"CollaborationTrainedModelInferenceJobSummary"}
    },
    "CollaborationTrainedModelInferenceJobSummary":{
      "type":"structure",
      "required":[
        "trainedModelInferenceJobArn",
        "membershipIdentifier",
        "trainedModelArn",
        "collaborationIdentifier",
        "status",
        "outputConfiguration",
        "name",
        "createTime",
        "updateTime",
        "creatorAccountId"
      ],
      "members":{
        "trainedModelInferenceJobArn":{
          "shape":"TrainedModelInferenceJobArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the trained model inference job.</p>"
        },
        "configuredModelAlgorithmAssociationArn":{
          "shape":"ConfiguredModelAlgorithmAssociationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the configured model algorithm association that is used for the trained model inference job.</p>"
        },
        "membershipIdentifier":{
          "shape":"UUID",
          "documentation":"<p>The membership ID of the membership that contains the trained model inference job.</p>"
        },
        "trainedModelArn":{
          "shape":"TrainedModelArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the trained model that is used for the trained model inference job.</p>"
        },
        "trainedModelVersionIdentifier":{
          "shape":"UUID",
          "documentation":"<p>The version identifier of the trained model that was used for inference in this job.</p>"
        },
        "collaborationIdentifier":{
          "shape":"UUID",
          "documentation":"<p>The collaboration ID of the collaboration that contains the trained model inference job.</p>"
        },
        "status":{
          "shape":"TrainedModelInferenceJobStatus",
          "documentation":"<p>The status of the trained model inference job.</p>"
        },
        "outputConfiguration":{
          "shape":"InferenceOutputConfiguration",
          "documentation":"<p>Returns output configuration information for the trained model inference job.</p>"
        },
        "name":{
          "shape":"NameString",
          "documentation":"<p>The name of the trained model inference job.</p>"
        },
        "description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description of the trained model inference job.</p>"
        },
        "metricsStatus":{
          "shape":"MetricsStatus",
          "documentation":"<p>the trained model inference job metrics status.</p>"
        },
        "metricsStatusDetails":{
          "shape":"String",
          "documentation":"<p>Details about the metrics status for trained model inference job.</p>"
        },
        "logsStatus":{
          "shape":"LogsStatus",
          "documentation":"<p>The trained model inference job logs status.</p>"
        },
        "logsStatusDetails":{
          "shape":"String",
          "documentation":"<p>Details about the logs status for the trained model inference job.</p>"
        },
        "createTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The time at which the trained model inference job was created.</p>"
        },
        "updateTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The most recent time at which the trained model inference job was updated.</p>"
        },
        "creatorAccountId":{
          "shape":"AccountId",
          "documentation":"<p>The account ID that created the trained model inference job.</p>"
        }
      },
      "documentation":"<p>Provides summary information about a trained model inference job in a collaboration.</p>"
    },
    "CollaborationTrainedModelList":{
      "type":"list",
      "member":{"shape":"CollaborationTrainedModelSummary"}
    },
    "CollaborationTrainedModelSummary":{
      "type":"structure",
      "required":[
        "createTime",
        "updateTime",
        "trainedModelArn",
        "name",
        "membershipIdentifier",
        "collaborationIdentifier",
        "status",
        "configuredModelAlgorithmAssociationArn",
        "creatorAccountId"
      ],
      "members":{
        "createTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The time at which the trained model was created.</p>"
        },
        "updateTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The most recent time at which the trained model was updated.</p>"
        },
        "trainedModelArn":{
          "shape":"TrainedModelArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the trained model.</p>"
        },
        "name":{
          "shape":"NameString",
          "documentation":"<p>The name of the trained model.</p>"
        },
        "versionIdentifier":{
          "shape":"UUID",
          "documentation":"<p>The version identifier of this trained model version.</p>"
        },
        "incrementalTrainingDataChannels":{
          "shape":"IncrementalTrainingDataChannelsOutput",
          "documentation":"<p>Information about the incremental training data channels used to create this version of the trained model.</p>"
        },
        "description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description of the trained model.</p>"
        },
        "membershipIdentifier":{
          "shape":"UUID",
          "documentation":"<p>The membership ID of the member that created the trained model.</p>"
        },
        "collaborationIdentifier":{
          "shape":"UUID",
          "documentation":"<p>The collaboration ID of the collaboration that contains the trained model.</p>"
        },
        "status":{
          "shape":"TrainedModelStatus",
          "documentation":"<p>The status of the trained model.</p>"
        },
        "configuredModelAlgorithmAssociationArn":{
          "shape":"ConfiguredModelAlgorithmAssociationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the configured model algorithm association that is used for this trained model.</p>"
        },
        "creatorAccountId":{
          "shape":"AccountId",
          "documentation":"<p>The account ID of the member that created the trained model.</p>"
        }
      },
      "documentation":"<p>Provides summary information about a trained model in a collaboration.</p>"
    },
    "ColumnName":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[a-zA-Z0-9_](([a-zA-Z0-9_ ]+-)*([a-zA-Z0-9_ ]+))?"
    },
    "ColumnSchema":{
      "type":"structure",
      "required":[
        "columnName",
        "columnTypes"
      ],
      "members":{
        "columnName":{
          "shape":"ColumnName",
          "documentation":"<p>The name of a column.</p>"
        },
        "columnTypes":{
          "shape":"ColumnTypeList",
          "documentation":"<p>The data type of column.</p>"
        }
      },
      "documentation":"<p>Metadata for a column.</p>"
    },
    "ColumnType":{
      "type":"string",
      "enum":[
        "USER_ID",
        "ITEM_ID",
        "TIMESTAMP",
        "CATEGORICAL_FEATURE",
        "NUMERICAL_FEATURE"
      ]
    },
    "ColumnTypeList":{
      "type":"list",
      "member":{"shape":"ColumnType"},
      "max":1,
      "min":1
    },
    "ComputeConfiguration":{
      "type":"structure",
      "members":{
        "worker":{
          "shape":"WorkerComputeConfiguration",
          "documentation":"<p>The worker instances that will perform the compute work.</p>"
        }
      },
      "documentation":"<p>Provides configuration information for the instances that will perform the compute work.</p>",
      "union":true
    },
    "ConfiguredAudienceModelArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:aws[-a-z]*:cleanrooms-ml:[-a-z0-9]+:[0-9]{12}:configured-audience-model/[-a-zA-Z0-9_/.]+"
    },
    "ConfiguredAudienceModelList":{
      "type":"list",
      "member":{"shape":"ConfiguredAudienceModelSummary"}
    },
    "ConfiguredAudienceModelOutputConfig":{
      "type":"structure",
      "required":[
        "destination",
        "roleArn"
      ],
      "members":{
        "destination":{"shape":"AudienceDestination"},
        "roleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p>The ARN of the IAM role that can write the Amazon S3 bucket.</p>"
        }
      },
      "documentation":"<p>Configuration information necessary for the configure audience model output.</p>"
    },
    "ConfiguredAudienceModelStatus":{
      "type":"string",
      "enum":["ACTIVE"]
    },
    "ConfiguredAudienceModelSummary":{
      "type":"structure",
      "required":[
        "createTime",
        "updateTime",
        "name",
        "audienceModelArn",
        "outputConfig",
        "configuredAudienceModelArn",
        "status"
      ],
      "members":{
        "createTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The time at which the configured audience model was created.</p>"
        },
        "updateTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The most recent time at which the configured audience model was updated.</p>"
        },
        "name":{
          "shape":"NameString",
          "documentation":"<p>The name of the configured audience model.</p>"
        },
        "audienceModelArn":{
          "shape":"AudienceModelArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the audience model that was used to create the configured audience model.</p>"
        },
        "outputConfig":{
          "shape":"ConfiguredAudienceModelOutputConfig",
          "documentation":"<p>The output configuration of the configured audience model.</p>"
        },
        "description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description of the configured audience model.</p>"
        },
        "configuredAudienceModelArn":{
          "shape":"ConfiguredAudienceModelArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the configured audience model that you are interested in.</p>"
        },
        "status":{
          "shape":"ConfiguredAudienceModelStatus",
          "documentation":"<p>The status of the configured audience model.</p>"
        }
      },
      "documentation":"<p>Information about the configured audience model.</p>"
    },
    "ConfiguredModelAlgorithmArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:aws[-a-z]*:cleanrooms-ml:[-a-z0-9]+:[0-9]{12}:configured-model-algorithm/[-a-zA-Z0-9_/.]+"
    },
    "ConfiguredModelAlgorithmAssociationArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:aws[-a-z]*:cleanrooms-ml:[-a-z0-9]+:[0-9]{12}:membership/[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}/configured-model-algorithm-association/[-a-zA-Z0-9_/.]+"
    },
    "ConfiguredModelAlgorithmAssociationList":{
      "type":"list",
      "member":{"shape":"ConfiguredModelAlgorithmAssociationSummary"}
    },
    "ConfiguredModelAlgorithmAssociationSummary":{
      "type":"structure",
      "required":[
        "createTime",
        "updateTime",
        "configuredModelAlgorithmAssociationArn",
        "configuredModelAlgorithmArn",
        "name",
        "membershipIdentifier",
        "collaborationIdentifier"
      ],
      "members":{
        "createTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The time at which the configured model algorithm association was created.</p>"
        },
        "updateTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The most recent time at which the configured model algorithm association was updated.</p>"
        },
        "configuredModelAlgorithmAssociationArn":{
          "shape":"ConfiguredModelAlgorithmAssociationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the configured model algorithm association.</p>"
        },
        "configuredModelAlgorithmArn":{
          "shape":"ConfiguredModelAlgorithmArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the configured model algorithm that is being associated.</p>"
        },
        "name":{
          "shape":"NameString",
          "documentation":"<p>The name of the configured model algorithm association.</p>"
        },
        "description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description of the configured model algorithm association.</p>"
        },
        "membershipIdentifier":{
          "shape":"UUID",
          "documentation":"<p>The membership ID of the member that created the configured model algorithm association.</p>"
        },
        "collaborationIdentifier":{
          "shape":"UUID",
          "documentation":"<p>The collaboration ID of the collaboration that contains the configured model algorithm association.</p>"
        }
      },
      "documentation":"<p>Provides summary information about the configured model algorithm association.</p>"
    },
    "ConfiguredModelAlgorithmList":{
      "type":"list",
      "member":{"shape":"ConfiguredModelAlgorithmSummary"}
    },
    "ConfiguredModelAlgorithmSummary":{
      "type":"structure",
      "required":[
        "createTime",
        "updateTime",
        "configuredModelAlgorithmArn",
        "name"
      ],
      "members":{
        "createTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The time at which the configured model algorithm was created.</p>"
        },
        "updateTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The most recent time at which the configured model algorithm was updated.</p>"
        },
        "configuredModelAlgorithmArn":{
          "shape":"ConfiguredModelAlgorithmArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the configured model algorithm.</p>"
        },
        "name":{
          "shape":"NameString",
          "documentation":"<p>The name of the configured model algorithm.</p>"
        },
        "description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description of the configured model algorithm.</p>"
        }
      },
      "documentation":"<p>Provides summary information about a configured model algorithm.</p>"
    },
    "ConflictException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>You can't complete this action because another resource depends on this resource.</p>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "ContainerArgument":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":".*"
    },
    "ContainerArguments":{
      "type":"list",
      "member":{"shape":"ContainerArgument"},
      "max":100,
      "min":1
    },
    "ContainerConfig":{
      "type":"structure",
      "required":["imageUri"],
      "members":{
        "imageUri":{
          "shape":"AlgorithmImage",
          "documentation":"<p>The registry path of the docker image that contains the algorithm. Clean Rooms ML currently only supports the <code>registry/repository[:tag]</code> image path format. For more information about using images in Clean Rooms ML, see the <a href=\"https://docs.aws.amazon.com/sagemaker/latest/APIReference/API_AlgorithmSpecification.html#sagemaker-Type-AlgorithmSpecification-TrainingImage\">Sagemaker API reference</a>.</p>"
        },
        "entrypoint":{
          "shape":"ContainerEntrypoint",
          "documentation":"<p>The entrypoint script for a Docker container used to run a training job. This script takes precedence over the default train processing instructions. See How Amazon SageMaker Runs Your Training Image for additional information. For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/your-algorithms-training-algo-dockerfile.html\">How Sagemaker runs your training image</a>.</p>"
        },
        "arguments":{
          "shape":"ContainerArguments",
          "documentation":"<p>The arguments for a container used to run a training job. See How Amazon SageMaker Runs Your Training Image for additional information. For more information, see <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/your-algorithms-training-algo-dockerfile.html\">How Sagemaker runs your training image</a>.</p>"
        },
        "metricDefinitions":{
          "shape":"MetricDefinitionList",
          "documentation":"<p>A list of metric definition objects. Each object specifies the metric name and regular expressions used to parse algorithm logs. Amazon Web Services Clean Rooms ML publishes each metric to all members' Amazon CloudWatch using IAM role configured in <a>PutMLConfiguration</a>.</p>"
        }
      },
      "documentation":"<p>Provides configuration information for the dockerized container where the model algorithm is stored.</p>"
    },
    "ContainerEntrypoint":{
      "type":"list",
      "member":{"shape":"ContainerEntrypointString"},
      "max":100,
      "min":1
    },
    "ContainerEntrypointString":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":".*"
    },
    "CreateAudienceModelRequest":{
      "type":"structure",
      "required":[
        "name",
        "trainingDatasetArn"
      ],
      "members":{
        "trainingDataStartTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The start date and time of the training window.</p>"
        },
        "trainingDataEndTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The end date and time of the training window.</p>"
        },
        "name":{
          "shape":"NameString",
          "documentation":"<p>The name of the audience model resource.</p>"
        },
        "trainingDatasetArn":{
          "shape":"TrainingDatasetArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the training dataset for this audience model.</p>"
        },
        "kmsKeyArn":{
          "shape":"KmsKeyArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the KMS key. This key is used to encrypt and decrypt customer-owned data in the trained ML model and the associated data.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The optional metadata that you apply to the resource to help you categorize and organize them. Each tag consists of a key and an optional value, both of which you define.</p> <p>The following basic restrictions apply to tags:</p> <ul> <li> <p>Maximum number of tags per resource - 50.</p> </li> <li> <p>For each resource, each tag key must be unique, and each tag key can have only one value.</p> </li> <li> <p>Maximum key length - 128 Unicode characters in UTF-8.</p> </li> <li> <p>Maximum value length - 256 Unicode characters in UTF-8.</p> </li> <li> <p>If your tagging schema is used across multiple services and resources, remember that other services may have restrictions on allowed characters. Generally allowed characters are: letters, numbers, and spaces representable in UTF-8, and the following characters: + - = . _ : / @.</p> </li> <li> <p>Tag keys and values are case sensitive.</p> </li> <li> <p>Do not use aws:, AWS:, or any upper or lowercase combination of such as a prefix for keys as it is reserved for AWS use. You cannot edit or delete tag keys with this prefix. Values can have this prefix. If a tag value has aws as its prefix but the key does not, then Clean Rooms ML considers it to be a user tag and will count against the limit of 50 tags. Tags with only the key prefix of aws do not count against your tags per resource limit.</p> </li> </ul>"
        },
        "description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description of the audience model.</p>"
        }
      }
    },
    "CreateAudienceModelResponse":{
      "type":"structure",
      "required":["audienceModelArn"],
      "members":{
        "audienceModelArn":{
          "shape":"AudienceModelArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the audience model.</p>"
        }
      }
    },
    "CreateConfiguredAudienceModelRequest":{
      "type":"structure",
      "required":[
        "name",
        "audienceModelArn",
        "outputConfig",
        "sharedAudienceMetrics"
      ],
      "members":{
        "name":{
          "shape":"NameString",
          "documentation":"<p>The name of the configured audience model.</p>"
        },
        "audienceModelArn":{
          "shape":"AudienceModelArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the audience model to use for the configured audience model.</p>"
        },
        "outputConfig":{
          "shape":"ConfiguredAudienceModelOutputConfig",
          "documentation":"<p>Configure the Amazon S3 location and IAM Role for audiences created using this configured audience model. Each audience will have a unique location. The IAM Role must have <code>s3:PutObject</code> permission on the destination Amazon S3 location. If the destination is protected with Amazon S3 KMS-SSE, then the Role must also have the required KMS permissions.</p>"
        },
        "description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description of the configured audience model.</p>"
        },
        "sharedAudienceMetrics":{
          "shape":"MetricsList",
          "documentation":"<p>Whether audience metrics are shared.</p>"
        },
        "minMatchingSeedSize":{
          "shape":"MinMatchingSeedSize",
          "documentation":"<p>The minimum number of users from the seed audience that must match with users in the training data of the audience model. The default value is 500.</p>"
        },
        "audienceSizeConfig":{
          "shape":"AudienceSizeConfig",
          "documentation":"<p>Configure the list of output sizes of audiences that can be created using this configured audience model. A request to <a>StartAudienceGenerationJob</a> that uses this configured audience model must have an <code>audienceSize</code> selected from this list. You can use the <code>ABSOLUTE</code> <a>AudienceSize</a> to configure out audience sizes using the count of identifiers in the output. You can use the <code>Percentage</code> <a>AudienceSize</a> to configure sizes in the range 1-100 percent.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The optional metadata that you apply to the resource to help you categorize and organize them. Each tag consists of a key and an optional value, both of which you define.</p> <p>The following basic restrictions apply to tags:</p> <ul> <li> <p>Maximum number of tags per resource - 50.</p> </li> <li> <p>For each resource, each tag key must be unique, and each tag key can have only one value.</p> </li> <li> <p>Maximum key length - 128 Unicode characters in UTF-8.</p> </li> <li> <p>Maximum value length - 256 Unicode characters in UTF-8.</p> </li> <li> <p>If your tagging schema is used across multiple services and resources, remember that other services may have restrictions on allowed characters. Generally allowed characters are: letters, numbers, and spaces representable in UTF-8, and the following characters: + - = . _ : / @.</p> </li> <li> <p>Tag keys and values are case sensitive.</p> </li> <li> <p>Do not use aws:, AWS:, or any upper or lowercase combination of such as a prefix for keys as it is reserved for AWS use. You cannot edit or delete tag keys with this prefix. Values can have this prefix. If a tag value has aws as its prefix but the key does not, then Clean Rooms ML considers it to be a user tag and will count against the limit of 50 tags. Tags with only the key prefix of aws do not count against your tags per resource limit.</p> </li> </ul>"
        },
        "childResourceTagOnCreatePolicy":{
          "shape":"TagOnCreatePolicy",
          "documentation":"<p>Configure how the service tags audience generation jobs created using this configured audience model. If you specify <code>NONE</code>, the tags from the <a>StartAudienceGenerationJob</a> request determine the tags of the audience generation job. If you specify <code>FROM_PARENT_RESOURCE</code>, the audience generation job inherits the tags from the configured audience model, by default. Tags in the <a>StartAudienceGenerationJob</a> will override the default.</p> <p>When the client is in a different account than the configured audience model, the tags from the client are never applied to a resource in the caller's account.</p>"
        }
      }
    },
    "CreateConfiguredAudienceModelResponse":{
      "type":"structure",
      "required":["configuredAudienceModelArn"],
      "members":{
        "configuredAudienceModelArn":{
          "shape":"ConfiguredAudienceModelArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the configured audience model.</p>"
        }
      }
    },
    "CreateConfiguredModelAlgorithmAssociationRequest":{
      "type":"structure",
      "required":[
        "membershipIdentifier",
        "configuredModelAlgorithmArn",
        "name"
      ],
      "members":{
        "membershipIdentifier":{
          "shape":"UUID",
          "documentation":"<p>The membership ID of the member who is associating this configured model algorithm.</p>",
          "location":"uri",
          "locationName":"membershipIdentifier"
        },
        "configuredModelAlgorithmArn":{
          "shape":"ConfiguredModelAlgorithmArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the configured model algorithm that you want to associate.</p>"
        },
        "name":{
          "shape":"NameString",
          "documentation":"<p>The name of the configured model algorithm association.</p>"
        },
        "description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description of the configured model algorithm association.</p>"
        },
        "privacyConfiguration":{
          "shape":"PrivacyConfiguration",
          "documentation":"<p>Specifies the privacy configuration information for the configured model algorithm association. This information includes the maximum data size that can be exported.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The optional metadata that you apply to the resource to help you categorize and organize them. Each tag consists of a key and an optional value, both of which you define.</p> <p>The following basic restrictions apply to tags:</p> <ul> <li> <p>Maximum number of tags per resource - 50.</p> </li> <li> <p>For each resource, each tag key must be unique, and each tag key can have only one value.</p> </li> <li> <p>Maximum key length - 128 Unicode characters in UTF-8.</p> </li> <li> <p>Maximum value length - 256 Unicode characters in UTF-8.</p> </li> <li> <p>If your tagging schema is used across multiple services and resources, remember that other services may have restrictions on allowed characters. Generally allowed characters are: letters, numbers, and spaces representable in UTF-8, and the following characters: + - = . _ : / @.</p> </li> <li> <p>Tag keys and values are case sensitive.</p> </li> <li> <p>Do not use aws:, AWS:, or any upper or lowercase combination of such as a prefix for keys as it is reserved for AWS use. You cannot edit or delete tag keys with this prefix. Values can have this prefix. If a tag value has aws as its prefix but the key does not, then Clean Rooms ML considers it to be a user tag and will count against the limit of 50 tags. Tags with only the key prefix of aws do not count against your tags per resource limit.</p> </li> </ul>"
        }
      }
    },
    "CreateConfiguredModelAlgorithmAssociationResponse":{
      "type":"structure",
      "required":["configuredModelAlgorithmAssociationArn"],
      "members":{
        "configuredModelAlgorithmAssociationArn":{
          "shape":"ConfiguredModelAlgorithmAssociationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the configured model algorithm association.</p>"
        }
      }
    },
    "CreateConfiguredModelAlgorithmRequest":{
      "type":"structure",
      "required":[
        "name",
        "roleArn"
      ],
      "members":{
        "name":{
          "shape":"NameString",
          "documentation":"<p>The name of the configured model algorithm.</p>"
        },
        "description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description of the configured model algorithm.</p>"
        },
        "roleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the role that is used to access the repository.</p>"
        },
        "trainingContainerConfig":{
          "shape":"ContainerConfig",
          "documentation":"<p>Configuration information for the training container, including entrypoints and arguments.</p>"
        },
        "inferenceContainerConfig":{
          "shape":"InferenceContainerConfig",
          "documentation":"<p>Configuration information for the inference container that is used when you run an inference job on a configured model algorithm.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The optional metadata that you apply to the resource to help you categorize and organize them. Each tag consists of a key and an optional value, both of which you define.</p> <p>The following basic restrictions apply to tags:</p> <ul> <li> <p>Maximum number of tags per resource - 50.</p> </li> <li> <p>For each resource, each tag key must be unique, and each tag key can have only one value.</p> </li> <li> <p>Maximum key length - 128 Unicode characters in UTF-8.</p> </li> <li> <p>Maximum value length - 256 Unicode characters in UTF-8.</p> </li> <li> <p>If your tagging schema is used across multiple services and resources, remember that other services may have restrictions on allowed characters. Generally allowed characters are: letters, numbers, and spaces representable in UTF-8, and the following characters: + - = . _ : / @.</p> </li> <li> <p>Tag keys and values are case sensitive.</p> </li> <li> <p>Do not use aws:, AWS:, or any upper or lowercase combination of such as a prefix for keys as it is reserved for AWS use. You cannot edit or delete tag keys with this prefix. Values can have this prefix. If a tag value has aws as its prefix but the key does not, then Clean Rooms ML considers it to be a user tag and will count against the limit of 50 tags. Tags with only the key prefix of aws do not count against your tags per resource limit.</p> </li> </ul>"
        },
        "kmsKeyArn":{
          "shape":"KmsKeyArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the KMS key. This key is used to encrypt and decrypt customer-owned data in the configured ML model algorithm and associated data.</p>"
        }
      }
    },
    "CreateConfiguredModelAlgorithmResponse":{
      "type":"structure",
      "required":["configuredModelAlgorithmArn"],
      "members":{
        "configuredModelAlgorithmArn":{
          "shape":"ConfiguredModelAlgorithmArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the configured model algorithm.</p>"
        }
      }
    },
    "CreateMLInputChannelRequest":{
      "type":"structure",
      "required":[
        "membershipIdentifier",
        "configuredModelAlgorithmAssociations",
        "inputChannel",
        "name",
        "retentionInDays"
      ],
      "members":{
        "membershipIdentifier":{
          "shape":"UUID",
          "documentation":"<p>The membership ID of the member that is creating the ML input channel.</p>",
          "location":"uri",
          "locationName":"membershipIdentifier"
        },
        "configuredModelAlgorithmAssociations":{
          "shape":"CreateMLInputChannelRequestConfiguredModelAlgorithmAssociationsList",
          "documentation":"<p>The associated configured model algorithms that are necessary to create this ML input channel.</p>"
        },
        "inputChannel":{
          "shape":"InputChannel",
          "documentation":"<p>The input data that is used to create this ML input channel.</p>"
        },
        "name":{
          "shape":"NameString",
          "documentation":"<p>The name of the ML input channel.</p>"
        },
        "retentionInDays":{
          "shape":"CreateMLInputChannelRequestRetentionInDaysInteger",
          "documentation":"<p>The number of days that the data in the ML input channel is retained.</p>"
        },
        "description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description of the ML input channel.</p>"
        },
        "kmsKeyArn":{
          "shape":"KmsKeyArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the KMS key that is used to access the input channel.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The optional metadata that you apply to the resource to help you categorize and organize them. Each tag consists of a key and an optional value, both of which you define.</p> <p>The following basic restrictions apply to tags:</p> <ul> <li> <p>Maximum number of tags per resource - 50.</p> </li> <li> <p>For each resource, each tag key must be unique, and each tag key can have only one value.</p> </li> <li> <p>Maximum key length - 128 Unicode characters in UTF-8.</p> </li> <li> <p>Maximum value length - 256 Unicode characters in UTF-8.</p> </li> <li> <p>If your tagging schema is used across multiple services and resources, remember that other services may have restrictions on allowed characters. Generally allowed characters are: letters, numbers, and spaces representable in UTF-8, and the following characters: + - = . _ : / @.</p> </li> <li> <p>Tag keys and values are case sensitive.</p> </li> <li> <p>Do not use aws:, AWS:, or any upper or lowercase combination of such as a prefix for keys as it is reserved for AWS use. You cannot edit or delete tag keys with this prefix. Values can have this prefix. If a tag value has aws as its prefix but the key does not, then Clean Rooms ML considers it to be a user tag and will count against the limit of 50 tags. Tags with only the key prefix of aws do not count against your tags per resource limit.</p> </li> </ul>"
        }
      }
    },
    "CreateMLInputChannelRequestConfiguredModelAlgorithmAssociationsList":{
      "type":"list",
      "member":{"shape":"ConfiguredModelAlgorithmAssociationArn"},
      "max":1,
      "min":1
    },
    "CreateMLInputChannelRequestRetentionInDaysInteger":{
      "type":"integer",
      "box":true,
      "max":30,
      "min":1
    },
    "CreateMLInputChannelResponse":{
      "type":"structure",
      "required":["mlInputChannelArn"],
      "members":{
        "mlInputChannelArn":{
          "shape":"MLInputChannelArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the ML input channel.</p>"
        }
      }
    },
    "CreateTrainedModelRequest":{
      "type":"structure",
      "required":[
        "membershipIdentifier",
        "name",
        "configuredModelAlgorithmAssociationArn",
        "resourceConfig",
        "dataChannels"
      ],
      "members":{
        "membershipIdentifier":{
          "shape":"UUID",
          "documentation":"<p>The membership ID of the member that is creating the trained model.</p>",
          "location":"uri",
          "locationName":"membershipIdentifier"
        },
        "name":{
          "shape":"NameString",
          "documentation":"<p>The name of the trained model.</p>"
        },
        "configuredModelAlgorithmAssociationArn":{
          "shape":"ConfiguredModelAlgorithmAssociationArn",
          "documentation":"<p>The associated configured model algorithm used to train this model.</p>"
        },
        "hyperparameters":{
          "shape":"HyperParameters",
          "documentation":"<p>Algorithm-specific parameters that influence the quality of the model. You set hyperparameters before you start the learning process.</p>"
        },
        "environment":{
          "shape":"Environment",
          "documentation":"<p>The environment variables to set in the Docker container.</p>"
        },
        "resourceConfig":{
          "shape":"ResourceConfig",
          "documentation":"<p>Information about the EC2 resources that are used to train this model.</p>"
        },
        "stoppingCondition":{
          "shape":"StoppingCondition",
          "documentation":"<p>The criteria that is used to stop model training.</p>"
        },
        "incrementalTrainingDataChannels":{
          "shape":"IncrementalTrainingDataChannels",
          "documentation":"<p>Specifies the incremental training data channels for the trained model. </p> <p>Incremental training allows you to create a new trained model with updates without retraining from scratch. You can specify up to one incremental training data channel that references a previously trained model and its version.</p> <p>Limit: Maximum of 20 channels total (including both <code>incrementalTrainingDataChannels</code> and <code>dataChannels</code>).</p>"
        },
        "dataChannels":{
          "shape":"ModelTrainingDataChannels",
          "documentation":"<p>Defines the data channels that are used as input for the trained model request.</p> <p>Limit: Maximum of 20 channels total (including both <code>dataChannels</code> and <code>incrementalTrainingDataChannels</code>).</p>"
        },
        "trainingInputMode":{
          "shape":"TrainingInputMode",
[...]
