{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2022-11-28",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"omics",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"Amazon Omics",
    "serviceId":"Omics",
    "signatureVersion":"v4",
    "signingName":"omics",
    "uid":"omics-2022-11-28"
  },
  "operations":{
    "AbortMultipartReadSetUpload":{
      "name":"AbortMultipartReadSetUpload",
      "http":{
        "method":"DELETE",
        "requestUri":"/sequencestore/{sequenceStoreId}/upload/{uploadId}/abort",
        "responseCode":200
      },
      "input":{"shape":"AbortMultipartReadSetUploadRequest"},
      "output":{"shape":"AbortMultipartReadSetUploadResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"NotSupportedOperationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Stops a multipart read set upload into a sequence store and returns a response with no body if the operation is successful. To confirm that a multipart read set upload has been stopped, use the <code>ListMultipartReadSetUploads</code> API operation to view all active multipart read set uploads.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "AcceptShare":{
      "name":"AcceptShare",
      "http":{
        "method":"POST",
        "requestUri":"/share/{shareId}",
        "responseCode":200
      },
      "input":{"shape":"AcceptShareRequest"},
      "output":{"shape":"AcceptShareResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Accept a resource share request.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "BatchDeleteReadSet":{
      "name":"BatchDeleteReadSet",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore/{sequenceStoreId}/readset/batch/delete",
        "responseCode":200
      },
      "input":{"shape":"BatchDeleteReadSetRequest"},
      "output":{"shape":"BatchDeleteReadSetResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Deletes one or more read sets. If the operation is successful, it returns a response with no body. If there is an error with deleting one of the read sets, the operation returns an error list. If the operation successfully deletes only a subset of files, it will return an error list for the remaining files that fail to be deleted. There is a limit of 100 read sets that can be deleted in each <code>BatchDeleteReadSet</code> API call.</p>",
      "endpoint":{"hostPrefix":"control-storage-"},
      "idempotent":true
    },
    "CancelAnnotationImportJob":{
      "name":"CancelAnnotationImportJob",
      "http":{
        "method":"DELETE",
        "requestUri":"/import/annotation/{jobId}",
        "responseCode":200
      },
      "input":{"shape":"CancelAnnotationImportRequest"},
      "output":{"shape":"CancelAnnotationImportResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Cancels an annotation import job.</p>",
      "endpoint":{"hostPrefix":"analytics-"},
      "idempotent":true
    },
    "CancelRun":{
      "name":"CancelRun",
      "http":{
        "method":"POST",
        "requestUri":"/run/{id}/cancel",
        "responseCode":202
      },
      "input":{"shape":"CancelRunRequest"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Cancels a run using its ID and returns a response with no body if the operation is successful. To confirm that the run has been cancelled, use the <code>ListRuns</code> API operation to check that it is no longer listed.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "CancelVariantImportJob":{
      "name":"CancelVariantImportJob",
      "http":{
        "method":"DELETE",
        "requestUri":"/import/variant/{jobId}",
        "responseCode":200
      },
      "input":{"shape":"CancelVariantImportRequest"},
      "output":{"shape":"CancelVariantImportResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Cancels a variant import job.</p>",
      "endpoint":{"hostPrefix":"analytics-"},
      "idempotent":true
    },
    "CompleteMultipartReadSetUpload":{
      "name":"CompleteMultipartReadSetUpload",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore/{sequenceStoreId}/upload/{uploadId}/complete",
        "responseCode":200
      },
      "input":{"shape":"CompleteMultipartReadSetUploadRequest"},
      "output":{"shape":"CompleteMultipartReadSetUploadResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"NotSupportedOperationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Completes a multipart read set upload into a sequence store after you have initiated the upload process with <code>CreateMultipartReadSetUpload</code> and uploaded all read set parts using <code>UploadReadSetPart</code>. You must specify the parts you uploaded using the parts parameter. If the operation is successful, it returns the read set ID(s) of the uploaded read set(s).</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/synchronous-uploads.html\">Direct upload to a sequence store</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"storage-"}
    },
    "CreateAnnotationStore":{
      "name":"CreateAnnotationStore",
      "http":{
        "method":"POST",
        "requestUri":"/annotationStore",
        "responseCode":200
      },
      "input":{"shape":"CreateAnnotationStoreRequest"},
      "output":{"shape":"CreateAnnotationStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates an annotation store.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "CreateAnnotationStoreVersion":{
      "name":"CreateAnnotationStoreVersion",
      "http":{
        "method":"POST",
        "requestUri":"/annotationStore/{name}/version",
        "responseCode":200
      },
      "input":{"shape":"CreateAnnotationStoreVersionRequest"},
      "output":{"shape":"CreateAnnotationStoreVersionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Creates a new version of an annotation store. </p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "CreateMultipartReadSetUpload":{
      "name":"CreateMultipartReadSetUpload",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore/{sequenceStoreId}/upload",
        "responseCode":200
      },
      "input":{"shape":"CreateMultipartReadSetUploadRequest"},
      "output":{"shape":"CreateMultipartReadSetUploadResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"NotSupportedOperationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Initiates a multipart read set upload for uploading partitioned source files into a sequence store. You can directly import source files from an EC2 instance and other local compute, or from an S3 bucket. To separate these source files into parts, use the <code>split</code> operation. Each part cannot be larger than 100 MB. If the operation is successful, it provides an <code>uploadId</code> which is required by the <code>UploadReadSetPart</code> API operation to upload parts into a sequence store.</p> <p>To continue uploading a multipart read set into your sequence store, you must use the <code>UploadReadSetPart</code> API operation to upload each part individually following the steps below:</p> <ul> <li> <p>Specify the <code>uploadId</code> obtained from the previous call to <code>CreateMultipartReadSetUpload</code>.</p> </li> <li> <p>Upload parts for that <code>uploadId</code>.</p> </li> </ul> <p>When you have finished uploading parts, use the <code>CompleteMultipartReadSetUpload</code> API to complete the multipart read set upload and to retrieve the final read set IDs in the response.</p> <p>To learn more about creating parts and the <code>split</code> operation, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/synchronous-uploads.html\">Direct upload to a sequence store</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "CreateReferenceStore":{
      "name":"CreateReferenceStore",
      "http":{
        "method":"POST",
        "requestUri":"/referencestore",
        "responseCode":200
      },
      "input":{"shape":"CreateReferenceStoreRequest"},
      "output":{"shape":"CreateReferenceStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Creates a reference store and returns metadata in JSON format. Reference stores are used to store reference genomes in FASTA format. A reference store is created when the first reference genome is imported. To import additional reference genomes from an Amazon S3 bucket, use the <code>StartReferenceImportJob</code> API operation. </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/create-reference-store.html\">Creating a HealthOmics reference store</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "CreateRunCache":{
      "name":"CreateRunCache",
      "http":{
        "method":"POST",
        "requestUri":"/runCache",
        "responseCode":201
      },
      "input":{"shape":"CreateRunCacheRequest"},
      "output":{"shape":"CreateRunCacheResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Creates a run cache to store and reference task outputs from completed private runs. Specify an Amazon S3 location where Amazon Web Services HealthOmics saves the cached data. This data must be immediately accessible and not in an archived state. You can save intermediate task files to a run cache if they are declared as task outputs in the workflow definition file.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/workflows-call-caching.html\">Call caching</a> and <a href=\"https://docs.aws.amazon.com/omics/latest/dev/workflow-cache-create.html\">Creating a run cache</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "CreateRunGroup":{
      "name":"CreateRunGroup",
      "http":{
        "method":"POST",
        "requestUri":"/runGroup",
        "responseCode":201
      },
      "input":{"shape":"CreateRunGroupRequest"},
      "output":{"shape":"CreateRunGroupResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Creates a run group to limit the compute resources for the runs that are added to the group. Returns an ARN, ID, and tags for the run group.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "CreateSequenceStore":{
      "name":"CreateSequenceStore",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore",
        "responseCode":200
      },
      "input":{"shape":"CreateSequenceStoreRequest"},
      "output":{"shape":"CreateSequenceStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Creates a sequence store and returns its metadata. Sequence stores are used to store sequence data files called read sets that are saved in FASTQ, BAM, uBAM, or CRAM formats. For aligned formats (BAM and CRAM), a sequence store can only use one reference genome. For unaligned formats (FASTQ and uBAM), a reference genome is not required. You can create multiple sequence stores per region per account. </p> <p>The following are optional parameters you can specify for your sequence store:</p> <ul> <li> <p>Use <code>s3AccessConfig</code> to configure your sequence store with S3 access logs (recommended).</p> </li> <li> <p>Use <code>sseConfig</code> to define your own KMS key for encryption.</p> </li> <li> <p>Use <code>eTagAlgorithmFamily</code> to define which algorithm to use for the HealthOmics eTag on objects.</p> </li> <li> <p>Use <code>fallbackLocation</code> to define a backup location for storing files that have failed a direct upload.</p> </li> <li> <p>Use <code>propagatedSetLevelTags</code> to configure tags that propagate to all objects in your store.</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/create-sequence-store.html\">Creating a HealthOmics sequence store</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "CreateShare":{
      "name":"CreateShare",
      "http":{
        "method":"POST",
        "requestUri":"/share",
        "responseCode":200
      },
      "input":{"shape":"CreateShareRequest"},
      "output":{"shape":"CreateShareResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a cross-account shared resource. The resource owner makes an offer to share the resource with the principal subscriber (an AWS user with a different account than the resource owner).</p> <p>The following resources support cross-account sharing:</p> <ul> <li> <p>HealthOmics variant stores</p> </li> <li> <p>HealthOmics annotation stores</p> </li> <li> <p>Private workflows</p> </li> </ul>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "CreateVariantStore":{
      "name":"CreateVariantStore",
      "http":{
        "method":"POST",
        "requestUri":"/variantStore",
        "responseCode":200
      },
      "input":{"shape":"CreateVariantStoreRequest"},
      "output":{"shape":"CreateVariantStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a variant store.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "CreateWorkflow":{
      "name":"CreateWorkflow",
      "http":{
        "method":"POST",
        "requestUri":"/workflow",
        "responseCode":201
      },
      "input":{"shape":"CreateWorkflowRequest"},
      "output":{"shape":"CreateWorkflowResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Creates a private workflow. Before you create a private workflow, you must create and configure these required resources:</p> <ul> <li> <p> <i>Workflow definition files</i>: Define your workflow in one or more workflow definition files, written in WDL, Nextflow, or CWL. The workflow definition specifies the inputs and outputs for runs that use the workflow. It also includes specifications for the runs and run tasks for your workflow, including compute and memory requirements. The workflow definition file must be in .zip format.</p> </li> <li> <p>(Optional) <i>Parameter template</i>: You can create a parameter template file that defines the run parameters, or Amazon Web Services HealthOmics can generate the parameter template for you.</p> </li> <li> <p> <i>ECR container images</i>: Create container images for the workflow in a private ECR repository, or synchronize images from a supported upstream registry with your Amazon ECR private repository.</p> </li> <li> <p>(Optional) <i>Sentieon licenses</i>: Request a Sentieon license if using the Sentieon software in a private workflow.</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/creating-private-workflows.html\">Creating or updating a private workflow in Amazon Web Services HealthOmics</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "CreateWorkflowVersion":{
      "name":"CreateWorkflowVersion",
      "http":{
        "method":"POST",
        "requestUri":"/workflow/{workflowId}/version",
        "responseCode":201
      },
      "input":{"shape":"CreateWorkflowVersionRequest"},
      "output":{"shape":"CreateWorkflowVersionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Creates a new workflow version for the workflow that you specify with the <code>workflowId</code> parameter.</p> <p>When you create a new version of a workflow, you need to specify the configuration for the new version. It doesn't inherit any configuration values from the workflow.</p> <p>Provide a version name that is unique for this workflow. You cannot change the name after HealthOmics creates the version.</p> <note> <p>Don't include any personally identifiable information (PII) in the version name. Version names appear in the workflow version ARN.</p> </note> <p>For more information, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/workflow-versions.html\">Workflow versioning in Amazon Web Services HealthOmics</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"workflows-"},
      "idempotent":true
    },
    "DeleteAnnotationStore":{
      "name":"DeleteAnnotationStore",
      "http":{
        "method":"DELETE",
        "requestUri":"/annotationStore/{name}",
        "responseCode":200
      },
      "input":{"shape":"DeleteAnnotationStoreRequest"},
      "output":{"shape":"DeleteAnnotationStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes an annotation store.</p>",
      "endpoint":{"hostPrefix":"analytics-"},
      "idempotent":true
    },
    "DeleteAnnotationStoreVersions":{
      "name":"DeleteAnnotationStoreVersions",
      "http":{
        "method":"POST",
        "requestUri":"/annotationStore/{name}/versions/delete",
        "responseCode":200
      },
      "input":{"shape":"DeleteAnnotationStoreVersionsRequest"},
      "output":{"shape":"DeleteAnnotationStoreVersionsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Deletes one or multiple versions of an annotation store. </p>",
      "endpoint":{"hostPrefix":"analytics-"},
      "idempotent":true
    },
    "DeleteReference":{
      "name":"DeleteReference",
      "http":{
        "method":"DELETE",
        "requestUri":"/referencestore/{referenceStoreId}/reference/{id}",
        "responseCode":200
      },
      "input":{"shape":"DeleteReferenceRequest"},
      "output":{"shape":"DeleteReferenceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Deletes a reference genome and returns a response with no body if the operation is successful. The read set associated with the reference genome must first be deleted before deleting the reference genome. After the reference genome is deleted, you can delete the reference store using the <code>DeleteReferenceStore</code> API operation.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/deleting-reference-and-sequence-stores.html\">Deleting HealthOmics reference and sequence stores</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"control-storage-"},
      "idempotent":true
    },
    "DeleteReferenceStore":{
      "name":"DeleteReferenceStore",
      "http":{
        "method":"DELETE",
        "requestUri":"/referencestore/{id}",
        "responseCode":200
      },
      "input":{"shape":"DeleteReferenceStoreRequest"},
      "output":{"shape":"DeleteReferenceStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Deletes a reference store and returns a response with no body if the operation is successful. You can only delete a reference store when it does not contain any reference genomes. To empty a reference store, use <code>DeleteReference</code>.</p> <p>For more information about your workflow status, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/deleting-reference-and-sequence-stores.html\">Deleting HealthOmics reference and sequence stores</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"control-storage-"},
      "idempotent":true
    },
    "DeleteRun":{
      "name":"DeleteRun",
      "http":{
        "method":"DELETE",
        "requestUri":"/run/{id}",
        "responseCode":202
      },
      "input":{"shape":"DeleteRunRequest"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Deletes a run and returns a response with no body if the operation is successful. You can only delete a run that has reached a <code>COMPLETED</code>, <code>FAILED</code>, or <code>CANCELLED</code> stage. A completed run has delivered an output, or was cancelled and resulted in no output. When you delete a run, only the metadata associated with the run is deleted. The run outputs remain in Amazon S3 and logs remain in CloudWatch.</p> <p>To verify that the workflow is deleted:</p> <ul> <li> <p>Use <code>ListRuns</code> to confirm the workflow no longer appears in the list.</p> </li> <li> <p>Use <code>GetRun</code> to verify the workflow cannot be found.</p> </li> </ul>",
      "endpoint":{"hostPrefix":"workflows-"},
      "idempotent":true
    },
    "DeleteRunCache":{
      "name":"DeleteRunCache",
      "http":{
        "method":"DELETE",
        "requestUri":"/runCache/{id}",
        "responseCode":202
      },
      "input":{"shape":"DeleteRunCacheRequest"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Deletes a run cache and returns a response with no body if the operation is successful. This action removes the cache metadata stored in the service account, but does not delete the data in Amazon S3. You can access the cache data in Amazon S3, for inspection or to troubleshoot issues. You can remove old cache data using standard S3 <code>Delete</code> operations. </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/workflow-cache-delete.html\">Deleting a run cache</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"workflows-"},
      "idempotent":true
    },
    "DeleteRunGroup":{
      "name":"DeleteRunGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/runGroup/{id}",
        "responseCode":202
      },
      "input":{"shape":"DeleteRunGroupRequest"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Deletes a run group and returns a response with no body if the operation is successful.</p> <p>To verify that the run group is deleted:</p> <ul> <li> <p>Use <code>ListRunGroups</code> to confirm the workflow no longer appears in the list.</p> </li> <li> <p>Use <code>GetRunGroup</code> to verify the workflow cannot be found.</p> </li> </ul>",
      "endpoint":{"hostPrefix":"workflows-"},
      "idempotent":true
    },
    "DeleteS3AccessPolicy":{
      "name":"DeleteS3AccessPolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/s3accesspolicy/{s3AccessPointArn}",
        "responseCode":200
      },
      "input":{"shape":"DeleteS3AccessPolicyRequest"},
      "output":{"shape":"DeleteS3AccessPolicyResponse"},
      "errors":[
        {"shape":"NotSupportedOperationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Deletes an access policy for the specified store.</p>",
      "endpoint":{"hostPrefix":"control-storage-"},
      "idempotent":true
    },
    "DeleteSequenceStore":{
      "name":"DeleteSequenceStore",
      "http":{
        "method":"DELETE",
        "requestUri":"/sequencestore/{id}",
        "responseCode":200
      },
      "input":{"shape":"DeleteSequenceStoreRequest"},
      "output":{"shape":"DeleteSequenceStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Deletes a sequence store and returns a response with no body if the operation is successful. You can only delete a sequence store when it does not contain any read sets.</p> <p>Use the <code>BatchDeleteReadSet</code> API operation to ensure that all read sets in the sequence store are deleted. When a sequence store is deleted, all tags associated with the store are also deleted.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/deleting-reference-and-sequence-stores.html\">Deleting HealthOmics reference and sequence stores</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"control-storage-"},
      "idempotent":true
    },
    "DeleteShare":{
      "name":"DeleteShare",
      "http":{
        "method":"DELETE",
        "requestUri":"/share/{shareId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteShareRequest"},
      "output":{"shape":"DeleteShareResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a resource share. If you are the resource owner, the subscriber will no longer have access to the shared resource. If you are the subscriber, this operation deletes your access to the share.</p>",
      "endpoint":{"hostPrefix":"analytics-"},
      "idempotent":true
    },
    "DeleteVariantStore":{
      "name":"DeleteVariantStore",
      "http":{
        "method":"DELETE",
        "requestUri":"/variantStore/{name}",
        "responseCode":200
      },
      "input":{"shape":"DeleteVariantStoreRequest"},
      "output":{"shape":"DeleteVariantStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a variant store.</p>",
      "endpoint":{"hostPrefix":"analytics-"},
      "idempotent":true
    },
    "DeleteWorkflow":{
      "name":"DeleteWorkflow",
      "http":{
        "method":"DELETE",
        "requestUri":"/workflow/{id}",
        "responseCode":202
      },
      "input":{"shape":"DeleteWorkflowRequest"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Deletes a workflow by specifying its ID. This operation returns a response with no body if the deletion is successful.</p> <p>To verify that the workflow is deleted:</p> <ul> <li> <p>Use <code>ListWorkflows</code> to confirm the workflow no longer appears in the list.</p> </li> <li> <p>Use <code>GetWorkflow</code> to verify the workflow cannot be found.</p> </li> </ul>",
      "endpoint":{"hostPrefix":"workflows-"},
      "idempotent":true
    },
    "DeleteWorkflowVersion":{
      "name":"DeleteWorkflowVersion",
      "http":{
        "method":"DELETE",
        "requestUri":"/workflow/{workflowId}/version/{versionName}",
        "responseCode":202
      },
      "input":{"shape":"DeleteWorkflowVersionRequest"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Deletes a workflow version. Deleting a workflow version doesn't affect any ongoing runs that are using the workflow version.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/workflow-versions.html\">Workflow versioning in Amazon Web Services HealthOmics</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"workflows-"},
      "idempotent":true
    },
    "GetAnnotationImportJob":{
      "name":"GetAnnotationImportJob",
      "http":{
        "method":"GET",
        "requestUri":"/import/annotation/{jobId}",
        "responseCode":200
      },
      "input":{"shape":"GetAnnotationImportRequest"},
      "output":{"shape":"GetAnnotationImportResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets information about an annotation import job.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "GetAnnotationStore":{
      "name":"GetAnnotationStore",
      "http":{
        "method":"GET",
        "requestUri":"/annotationStore/{name}",
        "responseCode":200
      },
      "input":{"shape":"GetAnnotationStoreRequest"},
      "output":{"shape":"GetAnnotationStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets information about an annotation store.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "GetAnnotationStoreVersion":{
      "name":"GetAnnotationStoreVersion",
      "http":{
        "method":"GET",
        "requestUri":"/annotationStore/{name}/version/{versionName}",
        "responseCode":200
      },
      "input":{"shape":"GetAnnotationStoreVersionRequest"},
      "output":{"shape":"GetAnnotationStoreVersionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Retrieves the metadata for an annotation store version. </p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "GetReadSet":{
      "name":"GetReadSet",
      "http":{
        "method":"GET",
        "requestUri":"/sequencestore/{sequenceStoreId}/readset/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetReadSetRequest"},
      "output":{"shape":"GetReadSetResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"RangeNotSatisfiableException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves detailed information from parts of a read set and returns the read set in the same format that it was uploaded. You must have read sets uploaded to your sequence store in order to run this operation.</p>",
      "endpoint":{"hostPrefix":"storage-"}
    },
    "GetReadSetActivationJob":{
      "name":"GetReadSetActivationJob",
      "http":{
        "method":"GET",
        "requestUri":"/sequencestore/{sequenceStoreId}/activationjob/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetReadSetActivationJobRequest"},
      "output":{"shape":"GetReadSetActivationJobResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Returns detailed information about the status of a read set activation job in JSON format.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "GetReadSetExportJob":{
      "name":"GetReadSetExportJob",
      "http":{
        "method":"GET",
        "requestUri":"/sequencestore/{sequenceStoreId}/exportjob/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetReadSetExportJobRequest"},
      "output":{"shape":"GetReadSetExportJobResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves status information about a read set export job and returns the data in JSON format. Use this operation to actively monitor the progress of an export job.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "GetReadSetImportJob":{
      "name":"GetReadSetImportJob",
      "http":{
        "method":"GET",
        "requestUri":"/sequencestore/{sequenceStoreId}/importjob/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetReadSetImportJobRequest"},
      "output":{"shape":"GetReadSetImportJobResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets detailed and status information about a read set import job and returns the data in JSON format.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "GetReadSetMetadata":{
      "name":"GetReadSetMetadata",
      "http":{
        "method":"GET",
        "requestUri":"/sequencestore/{sequenceStoreId}/readset/{id}/metadata",
        "responseCode":200
      },
      "input":{"shape":"GetReadSetMetadataRequest"},
      "output":{"shape":"GetReadSetMetadataResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves the metadata for a read set from a sequence store in JSON format. This operation does not return tags. To retrieve the list of tags for a read set, use the <code>ListTagsForResource</code> API operation.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "GetReference":{
      "name":"GetReference",
      "http":{
        "method":"GET",
        "requestUri":"/referencestore/{referenceStoreId}/reference/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetReferenceRequest"},
      "output":{"shape":"GetReferenceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"RangeNotSatisfiableException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Downloads parts of data from a reference genome and returns the reference file in the same format that it was uploaded.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/create-reference-store.html\">Creating a HealthOmics reference store</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"storage-"}
    },
    "GetReferenceImportJob":{
      "name":"GetReferenceImportJob",
      "http":{
        "method":"GET",
        "requestUri":"/referencestore/{referenceStoreId}/importjob/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetReferenceImportJobRequest"},
      "output":{"shape":"GetReferenceImportJobResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Monitors the status of a reference import job. This operation can be called after calling the <code>StartReferenceImportJob</code> operation.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "GetReferenceMetadata":{
      "name":"GetReferenceMetadata",
      "http":{
        "method":"GET",
        "requestUri":"/referencestore/{referenceStoreId}/reference/{id}/metadata",
        "responseCode":200
      },
      "input":{"shape":"GetReferenceMetadataRequest"},
      "output":{"shape":"GetReferenceMetadataResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves metadata for a reference genome. This operation returns the number of parts, part size, and MD5 of an entire file. This operation does not return tags. To retrieve the list of tags for a read set, use the <code>ListTagsForResource</code> API operation.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "GetReferenceStore":{
      "name":"GetReferenceStore",
      "http":{
        "method":"GET",
        "requestUri":"/referencestore/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetReferenceStoreRequest"},
      "output":{"shape":"GetReferenceStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets information about a reference store.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "GetRun":{
      "name":"GetRun",
      "http":{
        "method":"GET",
        "requestUri":"/run/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetRunRequest"},
      "output":{"shape":"GetRunResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets detailed information about a specific run using its ID.</p> <p>Amazon Web Services HealthOmics stores a configurable number of runs, as determined by service limits, that are available to the console and API. If <code>GetRun</code> does not return the requested run, you can find all run logs in the CloudWatch logs. For more information about viewing the run logs, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/monitoring-cloudwatch-logs.html\">CloudWatch logs</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "GetRunCache":{
      "name":"GetRunCache",
      "http":{
        "method":"GET",
        "requestUri":"/runCache/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetRunCacheRequest"},
      "output":{"shape":"GetRunCacheResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves detailed information about the specified run cache using its ID.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/workflows-call-caching.html\">Call caching for Amazon Web Services HealthOmics runs</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "GetRunGroup":{
      "name":"GetRunGroup",
      "http":{
        "method":"GET",
        "requestUri":"/runGroup/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetRunGroupRequest"},
      "output":{"shape":"GetRunGroupResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets information about a run group and returns its metadata.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "GetRunTask":{
      "name":"GetRunTask",
      "http":{
        "method":"GET",
        "requestUri":"/run/{id}/task/{taskId}",
        "responseCode":200
      },
      "input":{"shape":"GetRunTaskRequest"},
      "output":{"shape":"GetRunTaskResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets detailed information about a run task using its ID.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "GetS3AccessPolicy":{
      "name":"GetS3AccessPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/s3accesspolicy/{s3AccessPointArn}",
        "responseCode":200
      },
      "input":{"shape":"GetS3AccessPolicyRequest"},
      "output":{"shape":"GetS3AccessPolicyResponse"},
      "errors":[
        {"shape":"NotSupportedOperationException"},
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves details about an access policy on a given store.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "GetSequenceStore":{
      "name":"GetSequenceStore",
      "http":{
        "method":"GET",
        "requestUri":"/sequencestore/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetSequenceStoreRequest"},
      "output":{"shape":"GetSequenceStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves metadata for a sequence store using its ID and returns it in JSON format.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "GetShare":{
      "name":"GetShare",
      "http":{
        "method":"GET",
        "requestUri":"/share/{shareId}",
        "responseCode":200
      },
      "input":{"shape":"GetShareRequest"},
      "output":{"shape":"GetShareResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves the metadata for the specified resource share.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "GetVariantImportJob":{
      "name":"GetVariantImportJob",
      "http":{
        "method":"GET",
        "requestUri":"/import/variant/{jobId}",
        "responseCode":200
      },
      "input":{"shape":"GetVariantImportRequest"},
      "output":{"shape":"GetVariantImportResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets information about a variant import job.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "GetVariantStore":{
      "name":"GetVariantStore",
      "http":{
        "method":"GET",
        "requestUri":"/variantStore/{name}",
        "responseCode":200
      },
      "input":{"shape":"GetVariantStoreRequest"},
      "output":{"shape":"GetVariantStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets information about a variant store.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "GetWorkflow":{
      "name":"GetWorkflow",
      "http":{
        "method":"GET",
        "requestUri":"/workflow/{id}",
        "responseCode":200
      },
      "input":{"shape":"GetWorkflowRequest"},
      "output":{"shape":"GetWorkflowResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets all information about a workflow using its ID.</p> <p>If a workflow is shared with you, you cannot export the workflow.</p> <p>For more information about your workflow status, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/using-get-workflow.html\">Verify the workflow status</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "GetWorkflowVersion":{
      "name":"GetWorkflowVersion",
      "http":{
        "method":"GET",
        "requestUri":"/workflow/{workflowId}/version/{versionName}",
        "responseCode":200
      },
      "input":{"shape":"GetWorkflowVersionRequest"},
      "output":{"shape":"GetWorkflowVersionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Gets information about a workflow version. For more information, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/workflow-versions.html\">Workflow versioning in Amazon Web Services HealthOmics</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "ListAnnotationImportJobs":{
      "name":"ListAnnotationImportJobs",
      "http":{
        "method":"POST",
        "requestUri":"/import/annotations",
        "responseCode":200
      },
      "input":{"shape":"ListAnnotationImportJobsRequest"},
      "output":{"shape":"ListAnnotationImportJobsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a list of annotation import jobs.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "ListAnnotationStoreVersions":{
      "name":"ListAnnotationStoreVersions",
      "http":{
        "method":"POST",
        "requestUri":"/annotationStore/{name}/versions",
        "responseCode":200
      },
      "input":{"shape":"ListAnnotationStoreVersionsRequest"},
      "output":{"shape":"ListAnnotationStoreVersionsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Lists the versions of an annotation store. </p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "ListAnnotationStores":{
      "name":"ListAnnotationStores",
      "http":{
        "method":"POST",
        "requestUri":"/annotationStores",
        "responseCode":200
      },
      "input":{"shape":"ListAnnotationStoresRequest"},
      "output":{"shape":"ListAnnotationStoresResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a list of annotation stores.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "ListMultipartReadSetUploads":{
      "name":"ListMultipartReadSetUploads",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore/{sequenceStoreId}/uploads",
        "responseCode":200
      },
      "input":{"shape":"ListMultipartReadSetUploadsRequest"},
      "output":{"shape":"ListMultipartReadSetUploadsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"NotSupportedOperationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Lists in-progress multipart read set uploads for a sequence store and returns it in a JSON formatted output. Multipart read set uploads are initiated by the <code>CreateMultipartReadSetUploads</code> API operation. This operation returns a response with no body when the upload is complete. </p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "ListReadSetActivationJobs":{
      "name":"ListReadSetActivationJobs",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore/{sequenceStoreId}/activationjobs",
        "responseCode":200
      },
      "input":{"shape":"ListReadSetActivationJobsRequest"},
      "output":{"shape":"ListReadSetActivationJobsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of read set activation jobs and returns the metadata in a JSON formatted output. To extract metadata from a read set activation job, use the <code>GetReadSetActivationJob</code> API operation.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "ListReadSetExportJobs":{
      "name":"ListReadSetExportJobs",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore/{sequenceStoreId}/exportjobs",
        "responseCode":200
      },
      "input":{"shape":"ListReadSetExportJobsRequest"},
      "output":{"shape":"ListReadSetExportJobsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of read set export jobs in a JSON formatted response. This API operation is used to check the status of a read set export job initiated by the <code>StartReadSetExportJob</code> API operation.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "ListReadSetImportJobs":{
      "name":"ListReadSetImportJobs",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore/{sequenceStoreId}/importjobs",
        "responseCode":200
      },
      "input":{"shape":"ListReadSetImportJobsRequest"},
      "output":{"shape":"ListReadSetImportJobsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of read set import jobs and returns the data in JSON format.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "ListReadSetUploadParts":{
      "name":"ListReadSetUploadParts",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore/{sequenceStoreId}/upload/{uploadId}/parts",
        "responseCode":200
      },
      "input":{"shape":"ListReadSetUploadPartsRequest"},
      "output":{"shape":"ListReadSetUploadPartsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"NotSupportedOperationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Lists all parts in a multipart read set upload for a sequence store and returns the metadata in a JSON formatted output.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "ListReadSets":{
      "name":"ListReadSets",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore/{sequenceStoreId}/readsets",
        "responseCode":200
      },
      "input":{"shape":"ListReadSetsRequest"},
      "output":{"shape":"ListReadSetsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of read sets from a sequence store ID and returns the metadata in JSON format.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "ListReferenceImportJobs":{
      "name":"ListReferenceImportJobs",
      "http":{
        "method":"POST",
        "requestUri":"/referencestore/{referenceStoreId}/importjobs",
        "responseCode":200
      },
      "input":{"shape":"ListReferenceImportJobsRequest"},
      "output":{"shape":"ListReferenceImportJobsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves the metadata of one or more reference import jobs for a reference store.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "ListReferenceStores":{
      "name":"ListReferenceStores",
      "http":{
        "method":"POST",
        "requestUri":"/referencestores",
        "responseCode":200
      },
      "input":{"shape":"ListReferenceStoresRequest"},
      "output":{"shape":"ListReferenceStoresResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of reference stores linked to your account and returns their metadata in JSON format.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/create-reference-store.html\">Creating a reference store</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "ListReferences":{
      "name":"ListReferences",
      "http":{
        "method":"POST",
        "requestUri":"/referencestore/{referenceStoreId}/references",
        "responseCode":200
      },
      "input":{"shape":"ListReferencesRequest"},
      "output":{"shape":"ListReferencesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves the metadata of one or more reference genomes in a reference store.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/create-reference-store.html\">Creating a reference store</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "ListRunCaches":{
      "name":"ListRunCaches",
      "http":{
        "method":"GET",
        "requestUri":"/runCache",
        "responseCode":200
      },
      "input":{"shape":"ListRunCachesRequest"},
      "output":{"shape":"ListRunCachesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of your run caches and the metadata for each cache.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "ListRunGroups":{
      "name":"ListRunGroups",
      "http":{
        "method":"GET",
        "requestUri":"/runGroup",
        "responseCode":200
      },
      "input":{"shape":"ListRunGroupsRequest"},
      "output":{"shape":"ListRunGroupsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of all run groups and returns the metadata for each run group.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "ListRunTasks":{
      "name":"ListRunTasks",
      "http":{
        "method":"GET",
        "requestUri":"/run/{id}/task",
        "responseCode":200
      },
      "input":{"shape":"ListRunTasksRequest"},
      "output":{"shape":"ListRunTasksResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Returns a list of tasks and status information within their specified run. Use this operation to monitor runs and to identify which specific tasks have failed.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "ListRuns":{
      "name":"ListRuns",
      "http":{
        "method":"GET",
        "requestUri":"/run",
        "responseCode":200
      },
      "input":{"shape":"ListRunsRequest"},
      "output":{"shape":"ListRunsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of runs and returns each run's metadata and status.</p> <p>Amazon Web Services HealthOmics stores a configurable number of runs, as determined by service limits, that are available to the console and API. If the <code>ListRuns</code> response doesn't include specific runs that you expected, you can find all run logs in the CloudWatch logs. For more information about viewing the run logs, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/monitoring-cloudwatch-logs.html\">CloudWatch logs</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "ListSequenceStores":{
      "name":"ListSequenceStores",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestores",
        "responseCode":200
      },
      "input":{"shape":"ListSequenceStoresRequest"},
      "output":{"shape":"ListSequenceStoresResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of sequence stores and returns each sequence store's metadata.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/create-sequence-store.html\">Creating a HealthOmics sequence store</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "ListShares":{
      "name":"ListShares",
      "http":{
        "method":"POST",
        "requestUri":"/shares",
        "responseCode":200
      },
      "input":{"shape":"ListSharesRequest"},
      "output":{"shape":"ListSharesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves the resource shares associated with an account. Use the filter parameter to retrieve a specific subset of the shares.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of tags for a resource.</p>",
      "endpoint":{"hostPrefix":"tags-"}
    },
    "ListVariantImportJobs":{
      "name":"ListVariantImportJobs",
      "http":{
        "method":"POST",
        "requestUri":"/import/variants",
        "responseCode":200
      },
      "input":{"shape":"ListVariantImportJobsRequest"},
      "output":{"shape":"ListVariantImportJobsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a list of variant import jobs.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "ListVariantStores":{
      "name":"ListVariantStores",
      "http":{
        "method":"POST",
        "requestUri":"/variantStores",
        "responseCode":200
      },
      "input":{"shape":"ListVariantStoresRequest"},
      "output":{"shape":"ListVariantStoresResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a list of variant stores.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "ListWorkflowVersions":{
      "name":"ListWorkflowVersions",
      "http":{
        "method":"GET",
        "requestUri":"/workflow/{workflowId}/version",
        "responseCode":200
      },
      "input":{"shape":"ListWorkflowVersionsRequest"},
      "output":{"shape":"ListWorkflowVersionsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Lists the workflow versions for the specified workflow. For more information, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/workflow-versions.html\">Workflow versioning in Amazon Web Services HealthOmics</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "ListWorkflows":{
      "name":"ListWorkflows",
      "http":{
        "method":"GET",
        "requestUri":"/workflow",
        "responseCode":200
      },
      "input":{"shape":"ListWorkflowsRequest"},
      "output":{"shape":"ListWorkflowsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Retrieves a list of existing workflows. You can filter for specific workflows by their name and type. Using the type parameter, specify <code>PRIVATE</code> to retrieve a list of private workflows or specify <code>READY2RUN</code> for a list of all Ready2Run workflows. If you do not specify the type of workflow, this operation returns a list of existing workflows.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "PutS3AccessPolicy":{
      "name":"PutS3AccessPolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/s3accesspolicy/{s3AccessPointArn}",
        "responseCode":200
      },
      "input":{"shape":"PutS3AccessPolicyRequest"},
      "output":{"shape":"PutS3AccessPolicyResponse"},
      "errors":[
        {"shape":"NotSupportedOperationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Adds an access policy to the specified store.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "StartAnnotationImportJob":{
      "name":"StartAnnotationImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/import/annotation",
        "responseCode":200
      },
      "input":{"shape":"StartAnnotationImportRequest"},
      "output":{"shape":"StartAnnotationImportResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Starts an annotation import job.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "StartReadSetActivationJob":{
      "name":"StartReadSetActivationJob",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore/{sequenceStoreId}/activationjob",
        "responseCode":200
      },
      "input":{"shape":"StartReadSetActivationJobRequest"},
      "output":{"shape":"StartReadSetActivationJobResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Activates an archived read set and returns its metadata in a JSON formatted output. AWS HealthOmics automatically archives unused read sets after 30 days. To monitor the status of your read set activation job, use the <code>GetReadSetActivationJob</code> operation.</p> <p>To learn more, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/activating-read-sets.html\">Activating read sets</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "StartReadSetExportJob":{
      "name":"StartReadSetExportJob",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore/{sequenceStoreId}/exportjob",
        "responseCode":200
      },
      "input":{"shape":"StartReadSetExportJobRequest"},
      "output":{"shape":"StartReadSetExportJobResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Starts a read set export job. When the export job is finished, the read set is exported to an Amazon S3 bucket which can be retrieved using the <code>GetReadSetExportJob</code> API operation.</p> <p>To monitor the status of the export job, use the <code>ListReadSetExportJobs</code> API operation. </p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "StartReadSetImportJob":{
      "name":"StartReadSetImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/sequencestore/{sequenceStoreId}/importjob",
        "responseCode":200
      },
      "input":{"shape":"StartReadSetImportJobRequest"},
      "output":{"shape":"StartReadSetImportJobResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Imports a read set from the sequence store. Read set import jobs support a maximum of 100 read sets of different types. Monitor the progress of your read set import job by calling the <code>GetReadSetImportJob</code> API operation.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "StartReferenceImportJob":{
      "name":"StartReferenceImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/referencestore/{referenceStoreId}/importjob",
        "responseCode":200
      },
      "input":{"shape":"StartReferenceImportJobRequest"},
      "output":{"shape":"StartReferenceImportJobResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Imports a reference genome from Amazon S3 into a specified reference store. You can have multiple reference genomes in a reference store. You can only import reference genomes one at a time into each reference store. Monitor the status of your reference import job by using the <code>GetReferenceImportJob</code> API operation.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "StartRun":{
      "name":"StartRun",
      "http":{
        "method":"POST",
        "requestUri":"/run",
        "responseCode":201
      },
      "input":{"shape":"StartRunRequest"},
      "output":{"shape":"StartRunResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Starts a new run and returns details about the run, or duplicates an existing run. A run is a single invocation of a workflow. If you provide request IDs, Amazon Web Services HealthOmics identifies duplicate requests and starts the run only once. Monitor the progress of the run by calling the <code>GetRun</code> API operation.</p> <p>To start a new run, the following inputs are required:</p> <ul> <li> <p>A service role ARN (<code>roleArn</code>).</p> </li> <li> <p>The run's workflow ID (<code>workflowId</code>, not the <code>uuid</code> or <code>runId</code>).</p> </li> <li> <p>An Amazon S3 location (<code>outputUri</code>) where the run outputs will be saved.</p> </li> <li> <p>All required workflow parameters (<code>parameter</code>), which can include optional parameters from the parameter template. The run cannot include any parameters that are not defined in the parameter template. To see all possible parameters, use the <code>GetRun</code> API operation. </p> </li> <li> <p>For runs with a <code>STATIC</code> (default) storage type, specify the required storage capacity (in gibibytes). A storage capacity value is not required for runs that use <code>DYNAMIC</code> storage.</p> </li> </ul> <p> <code>StartRun</code> can also duplicate an existing run using the run's default values. You can modify these default values and/or add other optional inputs. To duplicate a run, the following inputs are required:</p> <ul> <li> <p>A service role ARN (<code>roleArn</code>).</p> </li> <li> <p>The ID of the run to duplicate (<code>runId</code>).</p> </li> <li> <p>An Amazon S3 location where the run outputs will be saved (<code>outputUri</code>).</p> </li> </ul> <p>To learn more about the optional parameters for <code>StartRun</code>, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/starting-a-run.html\">Starting a run</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p> <p>Use the <code>retentionMode</code> input to control how long the metadata for each run is stored in CloudWatch. There are two retention modes:</p> <ul> <li> <p>Specify <code>REMOVE</code> to automatically remove the oldest runs when you reach the maximum service retention limit for runs. It is recommended that you use the <code>REMOVE</code> mode to initiate major run requests so that your runs do not fail when you reach the limit.</p> </li> <li> <p>The <code>retentionMode</code> is set to the <code>RETAIN</code> mode by default, which allows you to manually remove runs after reaching the maximum service retention limit. Under this setting, you cannot create additional runs until you remove the excess runs.</p> </li> </ul> <p>To learn more about the retention modes, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/run-retention.html\">Run retention mode</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "StartVariantImportJob":{
      "name":"StartVariantImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/import/variant",
        "responseCode":200
      },
      "input":{"shape":"StartVariantImportRequest"},
      "output":{"shape":"StartVariantImportResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Starts a variant import job.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":204
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Tags a resource.</p>",
      "endpoint":{"hostPrefix":"tags-"}
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}",
        "responseCode":204
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Removes tags from a resource.</p>",
      "endpoint":{"hostPrefix":"tags-"},
      "idempotent":true
    },
    "UpdateAnnotationStore":{
      "name":"UpdateAnnotationStore",
      "http":{
        "method":"POST",
        "requestUri":"/annotationStore/{name}",
        "responseCode":200
      },
      "input":{"shape":"UpdateAnnotationStoreRequest"},
      "output":{"shape":"UpdateAnnotationStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates an annotation store.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "UpdateAnnotationStoreVersion":{
      "name":"UpdateAnnotationStoreVersion",
      "http":{
        "method":"POST",
        "requestUri":"/annotationStore/{name}/version/{versionName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateAnnotationStoreVersionRequest"},
      "output":{"shape":"UpdateAnnotationStoreVersionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Updates the description of an annotation store version. </p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "UpdateRunCache":{
      "name":"UpdateRunCache",
      "http":{
        "method":"POST",
        "requestUri":"/runCache/{id}",
        "responseCode":202
      },
      "input":{"shape":"UpdateRunCacheRequest"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Updates a run cache using its ID and returns a response with no body if the operation is successful. You can update the run cache description, name, or the default run cache behavior with <code>CACHE_ON_FAILURE</code> or <code>CACHE_ALWAYS</code>. To confirm that your run cache settings have been properly updated, use the <code>GetRunCache</code> API operation.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/how-run-cache.html\">How call caching works</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "UpdateRunGroup":{
      "name":"UpdateRunGroup",
      "http":{
        "method":"POST",
        "requestUri":"/runGroup/{id}",
        "responseCode":202
      },
      "input":{"shape":"UpdateRunGroupRequest"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Updates the settings of a run group and returns a response with no body if the operation is successful.</p> <p>You can update the following settings with <code>UpdateRunGroup</code>:</p> <ul> <li> <p>Maximum number of CPUs</p> </li> <li> <p>Run time (measured in minutes)</p> </li> <li> <p>Number of GPUs</p> </li> <li> <p>Number of concurrent runs</p> </li> <li> <p>Group name</p> </li> </ul> <p>To confirm that the settings have been successfully updated, use the <code>ListRunGroups</code> or <code>GetRunGroup</code> API operations to verify that the desired changes have been made.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "UpdateSequenceStore":{
      "name":"UpdateSequenceStore",
      "http":{
        "method":"PATCH",
        "requestUri":"/sequencestore/{id}",
        "responseCode":200
      },
      "input":{"shape":"UpdateSequenceStoreRequest"},
      "output":{"shape":"UpdateSequenceStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Update one or more parameters for the sequence store.</p>",
      "endpoint":{"hostPrefix":"control-storage-"}
    },
    "UpdateVariantStore":{
      "name":"UpdateVariantStore",
      "http":{
        "method":"POST",
        "requestUri":"/variantStore/{name}",
        "responseCode":200
      },
      "input":{"shape":"UpdateVariantStoreRequest"},
      "output":{"shape":"UpdateVariantStoreResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates a variant store.</p>",
      "endpoint":{"hostPrefix":"analytics-"}
    },
    "UpdateWorkflow":{
      "name":"UpdateWorkflow",
      "http":{
        "method":"POST",
        "requestUri":"/workflow/{id}",
        "responseCode":202
      },
      "input":{"shape":"UpdateWorkflowRequest"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Updates information about a workflow.</p> <p>You can update the following workflow information:</p> <ul> <li> <p>Name</p> </li> <li> <p>Description</p> </li> <li> <p>Default storage type</p> </li> <li> <p>Default storage capacity (with workflow ID)</p> </li> </ul> <p>This operation returns a response with no body if the operation is successful. You can check the workflow updates by calling the <code>GetWorkflow</code> API operation.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/update-private-workflow.html\">Update a private workflow</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "UpdateWorkflowVersion":{
      "name":"UpdateWorkflowVersion",
      "http":{
        "method":"POST",
        "requestUri":"/workflow/{workflowId}/version/{versionName}",
        "responseCode":202
      },
      "input":{"shape":"UpdateWorkflowVersionRequest"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Updates information about the workflow version. For more information, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/workflow-versions.html\">Workflow versioning in Amazon Web Services HealthOmics</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"workflows-"}
    },
    "UploadReadSetPart":{
      "name":"UploadReadSetPart",
      "http":{
        "method":"PUT",
        "requestUri":"/sequencestore/{sequenceStoreId}/upload/{uploadId}/part",
        "responseCode":200
      },
      "input":{"shape":"UploadReadSetPartRequest"},
      "output":{"shape":"UploadReadSetPartResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"NotSupportedOperationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RequestTimeoutException"}
      ],
      "documentation":"<p>Uploads a specific part of a read set into a sequence store. When you a upload a read set part with a part number that already exists, the new part replaces the existing one. This operation returns a JSON formatted response containing a string identifier that is used to confirm that parts are being added to the intended upload.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/omics/latest/dev/synchronous-uploads.html\">Direct upload to a sequence store</a> in the <i>Amazon Web Services HealthOmics User Guide</i>.</p>",
      "endpoint":{"hostPrefix":"storage-"},
      "unsignedPayload":true,
      "authtype":"v4-unsigned-body"
    }
  },
  "shapes":{
    "AbortMultipartReadSetUploadRequest":{
      "type":"structure",
      "required":[
        "sequenceStoreId",
        "uploadId"
      ],
      "members":{
        "sequenceStoreId":{
          "shape":"SequenceStoreId",
          "documentation":"<p>The sequence store ID for the store involved in the multipart upload.</p>",
          "location":"uri",
          "locationName":"sequenceStoreId"
        },
        "uploadId":{
          "shape":"UploadId",
          "documentation":"<p>The ID for the multipart upload.</p>",
          "location":"uri",
          "locationName":"uploadId"
        }
      }
    },
    "AbortMultipartReadSetUploadResponse":{
      "type":"structure",
      "members":{
      }
    },
    "Accelerators":{
      "type":"string",
      "enum":["GPU"],
      "max":64,
      "min":1
    },
    "AcceptShareRequest":{
      "type":"structure",
      "required":["shareId"],
      "members":{
        "shareId":{
          "shape":"String",
          "documentation":"<p>The ID of the resource share.</p>",
          "location":"uri",
          "locationName":"shareId"
        }
      }
    },
    "AcceptShareResponse":{
      "type":"structure",
      "members":{
        "status":{
          "shape":"ShareStatus",
          "documentation":"<p>The status of the resource share.</p>"
        }
      }
    },
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>You do not have sufficient access to perform this action.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AccessLogLocation":{
      "type":"string",
      "pattern":"$|^s3://([a-z0-9][a-z0-9-.]{1,61}[a-z0-9])/?((.{1,800})/)?"
    },
    "ActivateReadSetFilter":{
      "type":"structure",
      "members":{
        "status":{
          "shape":"ReadSetActivationJobStatus",
          "documentation":"<p>The filter's status.</p>"
        },
        "createdAfter":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The filter's start date.</p>"
        },
        "createdBefore":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>The filter's end date.</p>"
        }
      },
      "documentation":"<p>A read set activation job filter.</p>"
    },
    "ActivateReadSetJobItem":{
      "type":"structure",
      "required":[
        "id",
        "sequenceStoreId",
        "status",
        "creationTime"
      ],
      "members":{
        "id":{
          "shape":"ActivationJobId",
          "documentation":"<p>The job's ID.</p>"
        },
        "sequenceStoreId":{
          "shape":"SequenceStoreId",
          "documentation":"<p>The job's sequence store ID.</p>"
        },
        "status":{
          "shape":"ReadSetActivationJobStatus",
          "documentation":"<p>The job's status.</p>"
        },
        "creationTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>When the job was created.</p>"
        },
        "completionTime":{
          "shape":"SyntheticTimestamp_date_time",
          "documentation":"<p>When the job completed.</p>"
        }
      },
      "documentation":"<p>A read set activation job.</p>"
    },
    "ActivateReadSetJobList":{
      "type":"list",
      "member":{"shape":"ActivateReadSetJobItem"}
    },
    "ActivateReadSetSourceItem":{
      "type":"structure",
      "required":[
        "readSetId",
        "status"
      ],
      "members":{
        "readSetId":{
          "shape":"ReadSetId",
          "documentation":"<p>The source's read set ID.</p>"
        },
        "status":{
          "shape":"ReadSetActivationJobItemStatus",
          "documentation":"<p>The source's status.</p>"
        },
        "statusMessage":{
          "shape":"JobStatusMessage",
          "documentation":"<p>The source's status message.</p>"
        }
      },
      "documentation":"<p>A source for a read set activation job.</p>"
    },
    "ActivateReadSetSourceList":{
      "type":"list",
      "member":{"shape":"ActivateReadSetSourceItem"}
    },
    "ActivationJobId":{
      "type":"string",
      "max":36,
      "min":10,
      "pattern":"[0-9]+"
    },
    "AnnotationFieldMap":{
      "type":"map",
[...]
