<header class="view-header">
    <h2 class="view-title">Navigation</h2>
    <section class="view-actions">
        <button type="button" class="btn btn-blue" {{action "save"}}>Save</button>
    </section>
</header>

<section class="view-container">
    <form id="settings-navigation" class="gh-blognav js-gh-blognav" novalidate="novalidate">
        {{#each navItem in navigationItems}}
            {{gh-navitem navItem=navItem baseUrl=blogUrl addItem="addItem" deleteItem="deleteItem" updateUrl="updateUrl"}}
        {{/each}}
    </form>
</section>
