{{#gh-navigation moveItem="moveItem"}}
    <header class="view-header">
        {{#gh-view-title openMobileMenu="openMobileMenu"}}<span>Navigation</span>{{/gh-view-title}}
        <section class="view-actions">
            {{gh-spin-button type="button" class="btn btn-blue" action="save" buttonText="Save" submitting=submitting}}
        </section>
    </header>

    <section class="view-container">
        <form id="settings-navigation" class="gh-blognav js-gh-blognav" novalidate="novalidate">
            {{#each navigationItems as |navItem|}}
                {{gh-navitem navItem=navItem baseUrl=blogUrl addItem="addItem" deleteItem="deleteItem" updateUrl="updateUrl"}}
            {{/each}}
        </form>
    </section>
{{/gh-navigation}}
