<header class="settings-view-header">
    {{#link-to "settings" class="btn btn-default btn-back"}}返回{{/link-to}}
    <h2 class="page-title">博客导航</h2>
    <section class="page-actions">
        <button type="button" class="btn btn-blue" {{action "save"}}>保存</button>
    </section>
</header>

<section class="content settings-navigation">
    <form id="settings-navigation" class="js-settings-navigation" novalidate="novalidate">
        {{#each navItem in navigationItems}}
            {{gh-navitem navItem=navItem baseUrl=blogUrl addItem="addItem" deleteItem="deleteItem" updateUrl="updateUrl"}}
        {{/each}}
    </form>
</section>
