{
  "metadata": {
    "apiVersion": "2017-08-29",
    "endpointPrefix": "mediaconvert",
    "signingName": "mediaconvert",
    "serviceFullName": "AWS Elemental MediaConvert",
    "serviceId": "MediaConvert",
    "protocol": "rest-json",
    "jsonVersion": "1.1",
    "uid": "mediaconvert-2017-08-29",
    "signatureVersion": "v4",
    "serviceAbbreviation": "MediaConvert",
    "auth": [
      "aws.auth#sigv4"
    ]
  },
  "operations": {
    "AssociateCertificate": {
      "name": "AssociateCertificate",
      "http": {
        "method": "POST",
        "requestUri": "/2017-08-29/certificates",
        "responseCode": 201
      },
      "input": {
        "shape": "AssociateCertificateRequest"
      },
      "output": {
        "shape": "AssociateCertificateResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "The service encountered an unexpected condition and cannot fulfill your request."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials you sent."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resource you requested does not exist."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service could not complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Associates an AWS Certificate Manager (ACM) Amazon Resource Name (ARN) with AWS Elemental MediaConvert."
    },
    "CancelJob": {
      "name": "CancelJob",
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-08-29/jobs/{id}",
        "responseCode": 202
      },
      "input": {
        "shape": "CancelJobRequest"
      },
      "output": {
        "shape": "CancelJobResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "The service encountered an unexpected condition and can't fulfill your request."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials you sent."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resource you requested doesn't exist."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Permanently cancel a job. Once you have canceled a job, you can't start it again."
    },
    "CreateJob": {
      "name": "CreateJob",
      "http": {
        "method": "POST",
        "requestUri": "/2017-08-29/jobs",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateJobRequest"
      },
      "output": {
        "shape": "CreateJobResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "The service encountered an unexpected condition and can't fulfill your request."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials you sent."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resource you requested doesn't exist."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Create a new transcoding job. For information about jobs and job settings, see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html"
    },
    "CreateJobTemplate": {
      "name": "CreateJobTemplate",
      "http": {
        "method": "POST",
        "requestUri": "/2017-08-29/jobTemplates",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateJobTemplateRequest"
      },
      "output": {
        "shape": "CreateJobTemplateResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "The service encountered an unexpected condition and can't fulfill your request."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials you sent."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resource you requested doesn't exist."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Create a new job template. For information about job templates see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html"
    },
    "CreatePreset": {
      "name": "CreatePreset",
      "http": {
        "method": "POST",
        "requestUri": "/2017-08-29/presets",
        "responseCode": 201
      },
      "input": {
        "shape": "CreatePresetRequest"
      },
      "output": {
        "shape": "CreatePresetResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "The service encountered an unexpected condition and can't fulfill your request."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials you sent."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resource you requested doesn't exist."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Create a new preset. For information about job templates see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html"
    },
    "CreateQueue": {
      "name": "CreateQueue",
      "http": {
        "method": "POST",
        "requestUri": "/2017-08-29/queues",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateQueueRequest"
      },
      "output": {
        "shape": "CreateQueueResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "The service encountered an unexpected condition and can't fulfill your request."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials you sent."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resource you requested doesn't exist."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Create a new transcoding queue. For information about queues, see Working With Queues in the User Guide at https://docs.aws.amazon.com/mediaconvert/latest/ug/working-with-queues.html"
    },
    "CreateResourceShare": {
      "name": "CreateResourceShare",
      "http": {
        "method": "POST",
        "requestUri": "/2017-08-29/resourceShares",
        "responseCode": 202
      },
      "input": {
        "shape": "CreateResourceShareRequest"
      },
      "output": {
        "shape": "CreateResourceShareResponse",
        "documentation": "Share request accepted and queued, or resource is already shared with the specified support case"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "The service encountered an unexpected condition and can't fulfill your request."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials you sent."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resource you requested doesn't exist."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Create a new resource share request for MediaConvert resources with AWS Support."
    },
    "DeleteJobTemplate": {
      "name": "DeleteJobTemplate",
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-08-29/jobTemplates/{name}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteJobTemplateRequest"
      },
      "output": {
        "shape": "DeleteJobTemplateResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "The service encountered an unexpected condition and can't fulfill your request."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials you sent."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resource you requested doesn't exist."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Permanently delete a job template you have created."
    },
    "DeletePolicy": {
      "name": "DeletePolicy",
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-08-29/policy",
        "responseCode": 200
      },
      "input": {
        "shape": "DeletePolicyRequest"
      },
      "output": {
        "shape": "DeletePolicyResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "The service encountered an unexpected condition and can't fulfill your request."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials you sent."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resource you requested doesn't exist."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Permanently delete a policy that you created."
    },
    "DeletePreset": {
      "name": "DeletePreset",
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-08-29/presets/{name}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeletePresetRequest"
      },
      "output": {
        "shape": "DeletePresetResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "The service encountered an unexpected condition and can't fulfill your request."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials you sent."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resource you requested doesn't exist."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Permanently delete a preset you have created."
    },
    "DeleteQueue": {
      "name": "DeleteQueue",
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-08-29/queues/{name}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteQueueRequest"
      },
      "output": {
        "shape": "DeleteQueueResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "The service encountered an unexpected condition and can't fulfill your request."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials you sent."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resource you requested doesn't exist."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Permanently delete a queue you have created."
    },
    "DescribeEndpoints": {
      "name": "DescribeEndpoints",
      "http": {
        "method": "POST",
        "requestUri": "/2017-08-29/endpoints",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeEndpointsRequest"
      },
      "output": {
        "shape": "DescribeEndpointsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "The service encountered an unexpected condition and can't fulfill your request."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials you sent."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resource you requested doesn't exist."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Send a request with an empty body to the regional API endpoint to get your account API endpoint. Note that DescribeEndpoints is no longer required. We recommend that you send your requests directly to the regional endpoint instead.",
      "deprecated": true,
      "deprecatedMessage": "DescribeEndpoints and account specific endpoints are no longer required. We recommend that you send your requests directly to the regional endpoint instead."
    },
    "DisassociateCertificate": {
      "name": "DisassociateCertificate",
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-08-29/certificates/{arn}",
        "responseCode": 202
      },
      "input": {
        "shape": "DisassociateCertificateRequest"
      },
      "output": {
        "shape": "DisassociateCertificateResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "The service encountered an unexpected condition and cannot fulfill your request."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials you sent."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resource you requested does not exist."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service could not complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Removes an association between the Amazon Resource Name (ARN) of an AWS Certificate Manager (ACM) certificate and an AWS Elemental MediaConvert resource."
    },
    "GetJob": {
      "name": "GetJob",
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/jobs/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetJobRequest"
      },
      "output": {
        "shape": "GetJobResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "The service encountered an unexpected condition and can't fulfill your request."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials you sent."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resource you requested doesn't exist."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Retrieve the JSON for a specific transcoding job."
    },
    "GetJobTemplate": {
      "name": "GetJobTemplate",
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/jobTemplates/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetJobTemplateRequest"
      },
      "output": {
        "shape": "GetJobTemplateResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "The service encountered an unexpected condition and can't fulfill your request."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials you sent."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resource you requested doesn't exist."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Retrieve the JSON for a specific job template."
    },
    "GetPolicy": {
      "name": "GetPolicy",
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/policy",
        "responseCode": 200
      },
      "input": {
        "shape": "GetPolicyRequest"
      },
      "output": {
        "shape": "GetPolicyResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "The service encountered an unexpected condition and can't fulfill your request."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials you sent."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resource you requested doesn't exist."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Retrieve the JSON for your policy."
    },
    "GetPreset": {
      "name": "GetPreset",
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/presets/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetPresetRequest"
      },
      "output": {
        "shape": "GetPresetResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "The service encountered an unexpected condition and can't fulfill your request."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials you sent."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resource you requested doesn't exist."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Retrieve the JSON for a specific preset."
    },
    "GetQueue": {
      "name": "GetQueue",
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/queues/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetQueueRequest"
      },
      "output": {
        "shape": "GetQueueResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "The service encountered an unexpected condition and can't fulfill your request."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials you sent."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resource you requested doesn't exist."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Retrieve the JSON for a specific queue."
    },
    "ListJobTemplates": {
      "name": "ListJobTemplates",
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/jobTemplates",
        "responseCode": 200
      },
      "input": {
        "shape": "ListJobTemplatesRequest"
      },
      "output": {
        "shape": "ListJobTemplatesResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "The service encountered an unexpected condition and can't fulfill your request."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials you sent."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resource you requested doesn't exist."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Retrieve a JSON array of up to twenty of your job templates. This will return the templates themselves, not just a list of them. To retrieve the next twenty templates, use the nextToken string returned with the array"
    },
    "ListJobs": {
      "name": "ListJobs",
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/jobs",
        "responseCode": 200
      },
      "input": {
        "shape": "ListJobsRequest"
      },
      "output": {
        "shape": "ListJobsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "The service encountered an unexpected condition and can't fulfill your request."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials you sent."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resource you requested doesn't exist."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Retrieve a JSON array of up to twenty of your most recently created jobs. This array includes in-process, completed, and errored jobs. This will return the jobs themselves, not just a list of the jobs. To retrieve the twenty next most recent jobs, use the nextToken string returned with the array."
    },
    "ListPresets": {
      "name": "ListPresets",
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/presets",
        "responseCode": 200
      },
      "input": {
        "shape": "ListPresetsRequest"
      },
      "output": {
        "shape": "ListPresetsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "The service encountered an unexpected condition and can't fulfill your request."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials you sent."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resource you requested doesn't exist."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Retrieve a JSON array of up to twenty of your presets. This will return the presets themselves, not just a list of them. To retrieve the next twenty presets, use the nextToken string returned with the array."
    },
    "ListQueues": {
      "name": "ListQueues",
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/queues",
        "responseCode": 200
      },
      "input": {
        "shape": "ListQueuesRequest"
      },
      "output": {
        "shape": "ListQueuesResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "The service encountered an unexpected condition and can't fulfill your request."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials you sent."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resource you requested doesn't exist."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Retrieve a JSON array of up to twenty of your queues. This will return the queues themselves, not just a list of them. To retrieve the next twenty queues, use the nextToken string returned with the array."
    },
    "ListTagsForResource": {
      "name": "ListTagsForResource",
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/tags/{arn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "output": {
        "shape": "ListTagsForResourceResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "The service encountered an unexpected condition and can't fulfill your request."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials you sent."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resource you requested doesn't exist."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Retrieve the tags for a MediaConvert resource."
    },
    "ListVersions": {
      "name": "ListVersions",
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListVersionsRequest"
      },
      "output": {
        "shape": "ListVersionsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "The service encountered an unexpected condition and can't fulfill your request."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials you sent."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resource you requested doesn't exist."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Retrieve a JSON array of all available Job engine versions and the date they expire."
    },
    "Probe": {
      "name": "Probe",
      "http": {
        "method": "POST",
        "requestUri": "/2017-08-29/probe",
        "responseCode": 200
      },
      "input": {
        "shape": "ProbeRequest"
      },
      "output": {
        "shape": "ProbeResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "The service encountered an unexpected condition and can't fulfill your request."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials you sent."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resource you requested doesn't exist."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Use Probe to obtain detailed information about your input media files. Probe returns a JSON that includes container, codec, frame rate, resolution, track count, audio layout, captions, and more. You can use this information to learn more about your media files, or to help make decisions while automating your transcoding workflow."
    },
    "PutPolicy": {
      "name": "PutPolicy",
      "http": {
        "method": "PUT",
        "requestUri": "/2017-08-29/policy",
        "responseCode": 200
      },
      "input": {
        "shape": "PutPolicyRequest"
      },
      "output": {
        "shape": "PutPolicyResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "The service encountered an unexpected condition and can't fulfill your request."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials you sent."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resource you requested doesn't exist."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Create or change your policy. For more information about policies, see the user guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html"
    },
    "SearchJobs": {
      "name": "SearchJobs",
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/search",
        "responseCode": 200
      },
      "input": {
        "shape": "SearchJobsRequest"
      },
      "output": {
        "shape": "SearchJobsResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "The service encountered an unexpected condition and can't fulfill your request."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials you sent."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resource you requested doesn't exist."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Retrieve a JSON array that includes job details for up to twenty of your most recent jobs. Optionally filter results further according to input file, queue, or status. To retrieve the twenty next most recent jobs, use the nextToken string returned with the array."
    },
    "TagResource": {
      "name": "TagResource",
      "http": {
        "method": "POST",
        "requestUri": "/2017-08-29/tags",
        "responseCode": 200
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "output": {
        "shape": "TagResourceResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "The service encountered an unexpected condition and can't fulfill your request."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials you sent."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resource you requested doesn't exist."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Add tags to a MediaConvert queue, preset, or job template. For information about tagging, see the User Guide at https://docs.aws.amazon.com/mediaconvert/latest/ug/tagging-resources.html"
    },
    "UntagResource": {
      "name": "UntagResource",
      "http": {
        "method": "PUT",
        "requestUri": "/2017-08-29/tags/{arn}",
        "responseCode": 200
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "output": {
        "shape": "UntagResourceResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "The service encountered an unexpected condition and can't fulfill your request."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials you sent."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resource you requested doesn't exist."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Remove tags from a MediaConvert queue, preset, or job template. For information about tagging, see the User Guide at https://docs.aws.amazon.com/mediaconvert/latest/ug/tagging-resources.html"
    },
    "UpdateJobTemplate": {
      "name": "UpdateJobTemplate",
      "http": {
        "method": "PUT",
        "requestUri": "/2017-08-29/jobTemplates/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateJobTemplateRequest"
      },
      "output": {
        "shape": "UpdateJobTemplateResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "The service encountered an unexpected condition and can't fulfill your request."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials you sent."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resource you requested doesn't exist."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Modify one of your existing job templates."
    },
    "UpdatePreset": {
      "name": "UpdatePreset",
      "http": {
        "method": "PUT",
        "requestUri": "/2017-08-29/presets/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdatePresetRequest"
      },
      "output": {
        "shape": "UpdatePresetResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "The service encountered an unexpected condition and can't fulfill your request."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials you sent."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resource you requested doesn't exist."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Modify one of your existing presets."
    },
    "UpdateQueue": {
      "name": "UpdateQueue",
      "http": {
        "method": "PUT",
        "requestUri": "/2017-08-29/queues/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateQueueRequest"
      },
      "output": {
        "shape": "UpdateQueueResponse"
      },
      "errors": [
        {
          "shape": "BadRequestException",
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax."
        },
        {
          "shape": "InternalServerErrorException",
          "documentation": "The service encountered an unexpected condition and can't fulfill your request."
        },
        {
          "shape": "ForbiddenException",
          "documentation": "You don't have permissions for this action with the credentials you sent."
        },
        {
          "shape": "NotFoundException",
          "documentation": "The resource you requested doesn't exist."
        },
        {
          "shape": "TooManyRequestsException",
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests."
        },
        {
          "shape": "ConflictException",
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource."
        }
      ],
      "documentation": "Modify one of your existing queues."
    }
  },
  "shapes": {
    "AacAudioDescriptionBroadcasterMix": {
      "type": "string",
      "documentation": "Choose BROADCASTER_MIXED_AD when the input contains pre-mixed main audio + audio description (AD) as a stereo pair. The value for AudioType will be set to 3, which signals to downstream systems that this stream contains \"broadcaster mixed AD\". Note that the input received by the encoder must contain pre-mixed audio; the encoder does not perform the mixing. When you choose BROADCASTER_MIXED_AD, the encoder ignores any values you provide in AudioType and FollowInputAudioType. Choose NORMAL when the input does not contain pre-mixed audio + audio description (AD). In this case, the encoder will use any values you provide for AudioType and FollowInputAudioType.",
      "enum": [
        "BROADCASTER_MIXED_AD",
        "NORMAL"
      ]
    },
    "AacCodecProfile": {
      "type": "string",
      "documentation": "Specify the AAC profile. For the widest player compatibility and where higher bitrates are acceptable: Keep the default profile, LC (AAC-LC) For improved audio performance at lower bitrates: Choose HEV1 or HEV2. HEV1 (AAC-HE v1) adds spectral band replication to improve speech audio at low bitrates. HEV2 (AAC-HE v2) adds parametric stereo, which optimizes for encoding stereo audio at very low bitrates. For improved audio quality at lower bitrates, adaptive audio bitrate switching, and loudness control: Choose XHE.",
      "enum": [
        "LC",
        "HEV1",
        "HEV2",
        "XHE"
      ]
    },
    "AacCodingMode": {
      "type": "string",
      "documentation": "The Coding mode that you specify determines the number of audio channels and the audio channel layout metadata in your AAC output. Valid coding modes depend on the Rate control mode and Profile that you select. The following list shows the number of audio channels and channel layout for each coding mode. * 1.0 Audio Description (Receiver Mix): One channel, C. Includes audio description data from your stereo input. For more information see ETSI TS 101 154 Annex E. * 1.0 Mono: One channel, C. * 2.0 Stereo: Two channels, L, R. * 5.1 Surround: Six channels, C, L, R, Ls, Rs, LFE.",
      "enum": [
        "AD_RECEIVER_MIX",
        "CODING_MODE_1_0",
        "CODING_MODE_1_1",
        "CODING_MODE_2_0",
        "CODING_MODE_5_1"
      ]
    },
    "AacLoudnessMeasurementMode": {
      "type": "string",
      "documentation": "Choose the loudness measurement mode for your audio content. For music or advertisements: We recommend that you keep the default value, Program. For speech or other content: We recommend that you choose Anchor. When you do, MediaConvert optimizes the loudness of your output for clarify by applying speech gates.",
      "enum": [
        "PROGRAM",
        "ANCHOR"
      ]
    },
    "AacRateControlMode": {
      "type": "string",
      "documentation": "Specify the AAC rate control mode. For a constant bitrate: Choose CBR. Your AAC output bitrate will be equal to the value that you choose for Bitrate. For a variable bitrate: Choose VBR. Your AAC output bitrate will vary according to your audio content and the value that you choose for Bitrate quality.",
      "enum": [
        "CBR",
        "VBR"
      ]
    },
    "AacRawFormat": {
      "type": "string",
      "documentation": "Enables LATM/LOAS AAC output. Note that if you use LATM/LOAS AAC in an output, you must choose \"No container\" for the output container.",
      "enum": [
        "LATM_LOAS",
        "NONE"
      ]
    },
    "AacSettings": {
      "type": "structure",
      "members": {
        "AudioDescriptionBroadcasterMix": {
          "shape": "AacAudioDescriptionBroadcasterMix",
          "locationName": "audioDescriptionBroadcasterMix",
          "documentation": "Choose BROADCASTER_MIXED_AD when the input contains pre-mixed main audio + audio description (AD) as a stereo pair. The value for AudioType will be set to 3, which signals to downstream systems that this stream contains \"broadcaster mixed AD\". Note that the input received by the encoder must contain pre-mixed audio; the encoder does not perform the mixing. When you choose BROADCASTER_MIXED_AD, the encoder ignores any values you provide in AudioType and FollowInputAudioType. Choose NORMAL when the input does not contain pre-mixed audio + audio description (AD). In this case, the encoder will use any values you provide for AudioType and FollowInputAudioType."
        },
        "Bitrate": {
          "shape": "__integerMin6000Max1024000",
          "locationName": "bitrate",
          "documentation": "Specify the average bitrate in bits per second. The set of valid values for this setting is: 6000, 8000, 10000, 12000, 14000, 16000, 20000, 24000, 28000, 32000, 40000, 48000, 56000, 64000, 80000, 96000, 112000, 128000, 160000, 192000, 224000, 256000, 288000, 320000, 384000, 448000, 512000, 576000, 640000, 768000, 896000, 1024000. The value you set is also constrained by the values that you choose for Profile, Bitrate control mode, and Sample rate. Default values depend on Bitrate control mode and Profile."
        },
        "CodecProfile": {
          "shape": "AacCodecProfile",
          "locationName": "codecProfile",
          "documentation": "Specify the AAC profile. For the widest player compatibility and where higher bitrates are acceptable: Keep the default profile, LC (AAC-LC) For improved audio performance at lower bitrates: Choose HEV1 or HEV2. HEV1 (AAC-HE v1) adds spectral band replication to improve speech audio at low bitrates. HEV2 (AAC-HE v2) adds parametric stereo, which optimizes for encoding stereo audio at very low bitrates. For improved audio quality at lower bitrates, adaptive audio bitrate switching, and loudness control: Choose XHE."
        },
        "CodingMode": {
          "shape": "AacCodingMode",
          "locationName": "codingMode",
          "documentation": "The Coding mode that you specify determines the number of audio channels and the audio channel layout metadata in your AAC output. Valid coding modes depend on the Rate control mode and Profile that you select. The following list shows the number of audio channels and channel layout for each coding mode. * 1.0 Audio Description (Receiver Mix): One channel, C. Includes audio description data from your stereo input. For more information see ETSI TS 101 154 Annex E. * 1.0 Mono: One channel, C. * 2.0 Stereo: Two channels, L, R. * 5.1 Surround: Six channels, C, L, R, Ls, Rs, LFE."
        },
        "LoudnessMeasurementMode": {
          "shape": "AacLoudnessMeasurementMode",
          "locationName": "loudnessMeasurementMode",
          "documentation": "Choose the loudness measurement mode for your audio content. For music or advertisements: We recommend that you keep the default value, Program. For speech or other content: We recommend that you choose Anchor. When you do, MediaConvert optimizes the loudness of your output for clarify by applying speech gates."
        },
        "RapInterval": {
          "shape": "__integerMin2000Max30000",
          "locationName": "rapInterval",
          "documentation": "Specify the RAP (Random Access Point) interval for your xHE-AAC audio output. A RAP allows a decoder to decode audio data mid-stream, without the need to reference previous audio frames, and perform adaptive audio bitrate switching. To specify the RAP interval: Enter an integer from 2000 to 30000, in milliseconds. Smaller values allow for better seeking and more frequent stream switching, while large values improve compression efficiency. To have MediaConvert automatically determine the RAP interval: Leave blank."
        },
        "RateControlMode": {
          "shape": "AacRateControlMode",
          "locationName": "rateControlMode",
          "documentation": "Specify the AAC rate control mode. For a constant bitrate: Choose CBR. Your AAC output bitrate will be equal to the value that you choose for Bitrate. For a variable bitrate: Choose VBR. Your AAC output bitrate will vary according to your audio content and the value that you choose for Bitrate quality."
        },
        "RawFormat": {
          "shape": "AacRawFormat",
          "locationName": "rawFormat",
          "documentation": "Enables LATM/LOAS AAC output. Note that if you use LATM/LOAS AAC in an output, you must choose \"No container\" for the output container."
        },
        "SampleRate": {
          "shape": "__integerMin8000Max96000",
          "locationName": "sampleRate",
          "documentation": "Specify the AAC sample rate in samples per second (Hz). Valid sample rates depend on the AAC profile and Coding mode that you select. For a list of supported sample rates, see: https://docs.aws.amazon.com/mediaconvert/latest/ug/aac-support.html"
        },
        "Specification": {
          "shape": "AacSpecification",
          "locationName": "specification",
          "documentation": "Use MPEG-2 AAC instead of MPEG-4 AAC audio for raw or MPEG-2 Transport Stream containers."
        },
        "TargetLoudnessRange": {
          "shape": "__integerMin6Max16",
          "locationName": "targetLoudnessRange",
          "documentation": "Specify the xHE-AAC loudness target. Enter an integer from 6 to 16, representing \"loudness units\". For more information, see the following specification: Supplementary information for R 128 EBU Tech 3342-2023."
        },
        "VbrQuality": {
          "shape": "AacVbrQuality",
          "locationName": "vbrQuality",
          "documentation": "Specify the quality of your variable bitrate (VBR) AAC audio. For a list of approximate VBR bitrates, see: https://docs.aws.amazon.com/mediaconvert/latest/ug/aac-support.html#aac_vbr"
        }
      },
      "documentation": "Required when you set Codec to the value AAC. The service accepts one of two mutually exclusive groups of AAC settings--VBR and CBR. To select one of these modes, set the value of Bitrate control mode to \"VBR\" or \"CBR\". In VBR mode, you control the audio quality with the setting VBR quality. In CBR mode, you use the setting Bitrate. Defaults and valid values depend on the rate control mode."
    },
    "AacSpecification": {
      "type": "string",
      "documentation": "Use MPEG-2 AAC instead of MPEG-4 AAC audio for raw or MPEG-2 Transport Stream containers.",
      "enum": [
        "MPEG2",
        "MPEG4"
      ]
    },
    "AacVbrQuality": {
      "type": "string",
      "documentation": "Specify the quality of your variable bitrate (VBR) AAC audio. For a list of approximate VBR bitrates, see: https://docs.aws.amazon.com/mediaconvert/latest/ug/aac-support.html#aac_vbr",
      "enum": [
        "LOW",
        "MEDIUM_LOW",
        "MEDIUM_HIGH",
        "HIGH"
      ]
    },
    "Ac3BitstreamMode": {
      "type": "string",
      "documentation": "Specify the bitstream mode for the AC-3 stream that the encoder emits. For more information about the AC3 bitstream mode, see ATSC A/52-2012 (Annex E).",
      "enum": [
        "COMPLETE_MAIN",
        "COMMENTARY",
        "DIALOGUE",
        "EMERGENCY",
        "HEARING_IMPAIRED",
        "MUSIC_AND_EFFECTS",
        "VISUALLY_IMPAIRED",
        "VOICE_OVER"
      ]
    },
    "Ac3CodingMode": {
      "type": "string",
      "documentation": "Dolby Digital coding mode. Determines number of channels.",
      "enum": [
        "CODING_MODE_1_0",
        "CODING_MODE_1_1",
        "CODING_MODE_2_0",
        "CODING_MODE_3_2_LFE"
      ]
    },
    "Ac3DynamicRangeCompressionLine": {
      "type": "string",
      "documentation": "Choose the Dolby Digital dynamic range control (DRC) profile that MediaConvert uses when encoding the metadata in the Dolby Digital stream for the line operating mode. Related setting: When you use this setting, MediaConvert ignores any value you provide for Dynamic range compression profile. For information about the Dolby Digital DRC operating modes and profiles, see the Dynamic Range Control chapter of the Dolby Metadata Guide at https://developer.dolby.com/globalassets/professional/documents/dolby-metadata-guide.pdf.",
      "enum": [
        "FILM_STANDARD",
        "FILM_LIGHT",
        "MUSIC_STANDARD",
        "MUSIC_LIGHT",
        "SPEECH",
        "NONE"
      ]
    },
    "Ac3DynamicRangeCompressionProfile": {
      "type": "string",
      "documentation": "When you want to add Dolby dynamic range compression (DRC) signaling to your output stream, we recommend that you use the mode-specific settings instead of Dynamic range compression profile. The mode-specific settings are Dynamic range compression profile, line mode and Dynamic range compression profile, RF mode. Note that when you specify values for all three settings, MediaConvert ignores the value of this setting in favor of the mode-specific settings. If you do use this setting instead of the mode-specific settings, choose None to leave out DRC signaling. Keep the default Film standard to set the profile to Dolby's film standard profile for all operating modes.",
      "enum": [
        "FILM_STANDARD",
        "NONE"
      ]
    },
    "Ac3DynamicRangeCompressionRf": {
      "type": "string",
      "documentation": "Choose the Dolby Digital dynamic range control (DRC) profile that MediaConvert uses when encoding the metadata in the Dolby Digital stream for the RF operating mode. Related setting: When you use this setting, MediaConvert ignores any value you provide for Dynamic range compression profile. For information about the Dolby Digital DRC operating modes and profiles, see the Dynamic Range Control chapter of the Dolby Metadata Guide at https://developer.dolby.com/globalassets/professional/documents/dolby-metadata-guide.pdf.",
      "enum": [
        "FILM_STANDARD",
        "FILM_LIGHT",
        "MUSIC_STANDARD",
        "MUSIC_LIGHT",
        "SPEECH",
        "NONE"
      ]
    },
    "Ac3LfeFilter": {
      "type": "string",
      "documentation": "Applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid with 3_2_LFE coding mode.",
      "enum": [
        "ENABLED",
        "DISABLED"
      ]
    },
    "Ac3MetadataControl": {
      "type": "string",
      "documentation": "When set to FOLLOW_INPUT, encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used.",
      "enum": [
        "FOLLOW_INPUT",
        "USE_CONFIGURED"
      ]
    },
    "Ac3Settings": {
      "type": "structure",
      "members": {
        "Bitrate": {
          "shape": "__integerMin64000Max640000",
          "locationName": "bitrate",
          "documentation": "Specify the average bitrate in bits per second. The bitrate that you specify must be a multiple of 8000 within the allowed minimum and maximum values. Leave blank to use the default bitrate for the coding mode you select according ETSI TS 102 366. Valid bitrates for coding mode 1/0: Default: 96000. Minimum: 64000. Maximum: 128000. Valid bitrates for coding mode 1/1: Default: 192000. Minimum: 128000. Maximum: 384000. Valid bitrates for coding mode 2/0: Default: 192000. Minimum: 128000. Maximum: 384000. Valid bitrates for coding mode 3/2 with FLE: Default: 384000. Minimum: 384000. Maximum: 640000."
        },
        "BitstreamMode": {
          "shape": "Ac3BitstreamMode",
          "locationName": "bitstreamMode",
          "documentation": "Specify the bitstream mode for the AC-3 stream that the encoder emits. For more information about the AC3 bitstream mode, see ATSC A/52-2012 (Annex E)."
        },
        "CodingMode": {
          "shape": "Ac3CodingMode",
          "locationName": "codingMode",
          "documentation": "Dolby Digital coding mode. Determines number of channels."
        },
        "Dialnorm": {
          "shape": "__integerMin1Max31",
          "locationName": "dialnorm",
          "documentation": "Sets the dialnorm for the output. If blank and input audio is Dolby Digital, dialnorm will be passed through."
        },
        "DynamicRangeCompressionLine": {
          "shape": "Ac3DynamicRangeCompressionLine",
          "locationName": "dynamicRangeCompressionLine",
          "documentation": "Choose the Dolby Digital dynamic range control (DRC) profile that MediaConvert uses when encoding the metadata in the Dolby Digital stream for the line operating mode. Related setting: When you use this setting, MediaConvert ignores any value you provide for Dynamic range compression profile. For information about the Dolby Digital DRC operating modes and profiles, see the Dynamic Range Control chapter of the Dolby Metadata Guide at https://developer.dolby.com/globalassets/professional/documents/dolby-metadata-guide.pdf."
        },
        "DynamicRangeCompressionProfile": {
          "shape": "Ac3DynamicRangeCompressionProfile",
          "locationName": "dynamicRangeCompressionProfile",
          "documentation": "When you want to add Dolby dynamic range compression (DRC) signaling to your output stream, we recommend that you use the mode-specific settings instead of Dynamic range compression profile. The mode-specific settings are Dynamic range compression profile, line mode and Dynamic range compression profile, RF mode. Note that when you specify values for all three settings, MediaConvert ignores the value of this setting in favor of the mode-specific settings. If you do use this setting instead of the mode-specific settings, choose None to leave out DRC signaling. Keep the default Film standard to set the profile to Dolby's film standard profile for all operating modes."
        },
        "DynamicRangeCompressionRf": {
          "shape": "Ac3DynamicRangeCompressionRf",
          "locationName": "dynamicRangeCompressionRf",
          "documentation": "Choose the Dolby Digital dynamic range control (DRC) profile that MediaConvert uses when encoding the metadata in the Dolby Digital stream for the RF operating mode. Related setting: When you use this setting, MediaConvert ignores any value you provide for Dynamic range compression profile. For information about the Dolby Digital DRC operating modes and profiles, see the Dynamic Range Control chapter of the Dolby Metadata Guide at https://developer.dolby.com/globalassets/professional/documents/dolby-metadata-guide.pdf."
        },
        "LfeFilter": {
          "shape": "Ac3LfeFilter",
          "locationName": "lfeFilter",
          "documentation": "Applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid with 3_2_LFE coding mode."
        },
        "MetadataControl": {
          "shape": "Ac3MetadataControl",
          "locationName": "metadataControl",
          "documentation": "When set to FOLLOW_INPUT, encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used."
        },
        "SampleRate": {
          "shape": "__integerMin48000Max48000",
          "locationName": "sampleRate",
          "documentation": "This value is always 48000. It represents the sample rate in Hz."
        }
      },
      "documentation": "Required when you set Codec to the value AC3."
    },
    "AccelerationMode": {
      "type": "string",
      "documentation": "Specify whether the service runs your job with accelerated transcoding. Choose DISABLED if you don't want accelerated transcoding. Choose ENABLED if you want your job to run with accelerated transcoding and to fail if your input files or your job settings aren't compatible with accelerated transcoding. Choose PREFERRED if you want your job to run with accelerated transcoding if the job is compatible with the feature and to run at standard speed if it's not.",
      "enum": [
        "DISABLED",
        "ENABLED",
        "PREFERRED"
      ]
    },
    "AccelerationSettings": {
      "type": "structure",
      "members": {
        "Mode": {
          "shape": "AccelerationMode",
          "locationName": "mode",
          "documentation": "Specify the conditions when the service will run your job with accelerated transcoding."
        }
      },
      "documentation": "Accelerated transcoding can significantly speed up jobs with long, visually complex content.",
      "required": [
        "Mode"
      ]
    },
    "AccelerationStatus": {
      "type": "string",
      "documentation": "Describes whether the current job is running with accelerated transcoding. For jobs that have Acceleration (AccelerationMode) set to DISABLED, AccelerationStatus is always NOT_APPLICABLE. For jobs that have Acceleration (AccelerationMode) set to ENABLED or PREFERRED, AccelerationStatus is one of the other states. AccelerationStatus is IN_PROGRESS initially, while the service determines whether the input files and job settings are compatible with accelerated transcoding. If they are, AcclerationStatus is ACCELERATED. If your input files and job settings aren't compatible with accelerated transcoding, the service either fails your job or runs it without accelerated transcoding, depending on how you set Acceleration (AccelerationMode). When the service runs your job without accelerated transcoding, AccelerationStatus is NOT_ACCELERATED.",
      "enum": [
        "NOT_APPLICABLE",
        "IN_PROGRESS",
        "ACCELERATED",
        "NOT_ACCELERATED"
      ]
    },
    "AdvancedInputFilter": {
      "type": "string",
      "documentation": "Use to remove noise, blocking, blurriness, or ringing from your input as a pre-filter step before encoding. The Advanced input filter removes more types of compression artifacts and is an improvement when compared to basic Deblock and Denoise filters. To remove video compression artifacts from your input and improve the video quality: Choose Enabled. Additionally, this filter can help increase the video quality of your output relative to its bitrate, since noisy inputs are more complex and require more bits to encode. To help restore loss of detail after applying the filter, you can optionally add texture or sharpening as an additional step. Jobs that use this feature incur pro-tier pricing. To not apply advanced input filtering: Choose Disabled. Note that you can still apply basic filtering with Deblock and Denoise.",
      "enum": [
        "ENABLED",
        "DISABLED"
      ]
    },
    "AdvancedInputFilterAddTexture": {
      "type": "string",
      "documentation": "Add texture and detail to areas of your input video content that were lost after applying the Advanced input filter. To adaptively add texture and reduce softness: Choose Enabled. To not add any texture: Keep the default value, Disabled. We recommend that you choose Disabled for input video content that doesn't have texture, including screen recordings, computer graphics, or cartoons.",
      "enum": [
        "ENABLED",
        "DISABLED"
      ]
    },
    "AdvancedInputFilterSettings": {
      "type": "structure",
      "members": {
        "AddTexture": {
          "shape": "AdvancedInputFilterAddTexture",
          "locationName": "addTexture",
          "documentation": "Add texture and detail to areas of your input video content that were lost after applying the Advanced input filter. To adaptively add texture and reduce softness: Choose Enabled. To not add any texture: Keep the default value, Disabled. We recommend that you choose Disabled for input video content that doesn't have texture, including screen recordings, computer graphics, or cartoons."
        },
        "Sharpening": {
          "shape": "AdvancedInputFilterSharpen",
          "locationName": "sharpening",
          "documentation": "Optionally specify the amount of sharpening to apply when you use the Advanced input filter. Sharpening adds contrast to the edges of your video content and can reduce softness. To apply no sharpening: Keep the default value, Off. To apply a minimal amount of sharpening choose Low, or for the maximum choose High."
        }
      },
      "documentation": "Optional settings for Advanced input filter when you set Advanced input filter to Enabled."
    },
    "AdvancedInputFilterSharpen": {
      "type": "string",
      "documentation": "Optionally specify the amount of sharpening to apply when you use the Advanced input filter. Sharpening adds contrast to the edges of your video content and can reduce softness. To apply no sharpening: Keep the default value, Off. To apply a minimal amount of sharpening choose Low, or for the maximum choose High.",
      "enum": [
        "OFF",
        "LOW",
        "HIGH"
      ]
    },
    "AfdSignaling": {
      "type": "string",
      "documentation": "This setting only applies to H.264, H.265, and MPEG2 outputs. Use Insert AFD signaling to specify whether the service includes AFD values in the output video data and what those values are. * Choose None to remove all AFD values from this output. * Choose Fixed to ignore input AFD values and instead encode the value specified in the job. * Choose Auto to calculate output AFD values based on the input AFD scaler data.",
      "enum": [
        "NONE",
        "AUTO",
        "FIXED"
      ]
    },
    "AiffSettings": {
      "type": "structure",
      "members": {
        "BitDepth": {
          "shape": "__integerMin16Max24",
          "locationName": "bitDepth",
          "documentation": "Specify Bit depth, in bits per sample, to choose the encoding quality for this audio track."
        },
        "Channels": {
          "shape": "__integerMin1Max64",
          "locationName": "channels",
          "documentation": "Specify the number of channels in this output audio track. Valid values are 1 and even numbers up to 64. For example, 1, 2, 4, 6, and so on, up to 64."
        },
        "SampleRate": {
          "shape": "__integerMin8000Max192000",
          "locationName": "sampleRate",
          "documentation": "Sample rate in Hz."
        }
      },
      "documentation": "Required when you set Codec to the value AIFF."
    },
    "AllowedRenditionSize": {
      "type": "structure",
      "members": {
        "Height": {
          "shape": "__integerMin32Max8192",
          "locationName": "height",
          "documentation": "Use Height to define the video resolution height, in pixels, for this rule."
        },
        "Required": {
          "shape": "RequiredFlag",
          "locationName": "required",
          "documentation": "Set to ENABLED to force a rendition to be included."
        },
        "Width": {
          "shape": "__integerMin32Max8192",
          "locationName": "width",
          "documentation": "Use Width to define the video resolution width, in pixels, for this rule."
        }
      },
      "documentation": "Use Allowed renditions to specify a list of possible resolutions in your ABR stack. * MediaConvert will create an ABR stack exclusively from the list of resolutions that you specify. * Some resolutions in the Allowed renditions list may not be included, however you can force a resolution to be included by setting Required to ENABLED. * You must specify at least one resolution that is greater than or equal to any resolutions that you specify in Min top rendition size or Min bottom rendition size. * If you specify Allowed renditions, you must not specify a separate rule for Force include renditions."
    },
    "AlphaBehavior": {
      "type": "string",
      "documentation": "Ignore this setting unless this input is a QuickTime animation with an alpha channel. Use this setting to create separate Key and Fill outputs. In each output, specify which part of the input MediaConvert uses. Leave this setting at the default value DISCARD to delete the alpha channel and preserve the video. Set it to REMAP_TO_LUMA to delete the video and map the alpha channel to the luma channel of your outputs.",
      "enum": [
        "DISCARD",
        "REMAP_TO_LUMA"
      ]
    },
    "AncillaryConvert608To708": {
      "type": "string",
      "documentation": "Specify whether this set of input captions appears in your outputs in both 608 and 708 format. If you choose Upconvert, MediaConvert includes the captions data in two ways: it passes the 608 data through using the 608 compatibility bytes fields of the 708 wrapper, and it also translates the 608 data into 708.",
      "enum": [
        "UPCONVERT",
        "DISABLED"
      ]
    },
    "AncillarySourceSettings": {
      "type": "structure",
      "members": {
        "Convert608To708": {
          "shape": "AncillaryConvert608To708",
          "locationName": "convert608To708",
          "documentation": "Specify whether this set of input captions appears in your outputs in both 608 and 708 format. If you choose Upconvert, MediaConvert includes the captions data in two ways: it passes the 608 data through using the 608 compatibility bytes fields of the 708 wrapper, and it also translates the 608 data into 708."
        },
        "SourceAncillaryChannelNumber": {
          "shape": "__integerMin1Max4",
          "locationName": "sourceAncillaryChannelNumber",
          "documentation": "Specifies the 608 channel number in the ancillary data track from which to extract captions. Unused for passthrough."
        },
        "TerminateCaptions": {
          "shape": "AncillaryTerminateCaptions",
          "locationName": "terminateCaptions",
          "documentation": "By default, the service terminates any unterminated captions at the end of each input. If you want the caption to continue onto your next input, disable this setting."
        }
      },
      "documentation": "Settings for ancillary captions source."
    },
    "AncillaryTerminateCaptions": {
      "type": "string",
      "documentation": "By default, the service terminates any unterminated captions at the end of each input. If you want the caption to continue onto your next input, disable this setting.",
      "enum": [
        "END_OF_INPUT",
        "DISABLED"
      ]
    },
    "AntiAlias": {
      "type": "string",
      "documentation": "The anti-alias filter is automatically applied to all outputs. The service no longer accepts the value DISABLED for AntiAlias. If you specify that in your job, the service will ignore the setting.",
      "enum": [
        "DISABLED",
        "ENABLED"
      ]
    },
    "AssociateCertificateRequest": {
      "type": "structure",
      "members": {
        "Arn": {
          "shape": "__string",
          "locationName": "arn",
          "documentation": "The ARN of the ACM certificate that you want to associate with your MediaConvert resource."
        }
      },
      "required": [
        "Arn"
      ]
    },
    "AssociateCertificateResponse": {
      "type": "structure",
      "members": {}
    },
    "AudioChannelTag": {
      "type": "string",
      "documentation": "Specify the QuickTime audio channel layout tags for the audio channels in this audio track. Enter channel layout tags in the same order as your output's audio channel order. For example, if your output audio track has a left and a right channel, enter Left (L) for the first channel and Right (R) for the second. If your output has multiple single-channel audio tracks, enter a single channel layout tag for each track.",
      "enum": [
        "L",
        "R",
        "C",
        "LFE",
        "LS",
        "RS",
        "LC",
        "RC",
        "CS",
        "LSD",
        "RSD",
        "TCS",
        "VHL",
        "VHC",
        "VHR",
        "TBL",
        "TBC",
        "TBR",
        "RSL",
        "RSR",
        "LW",
        "RW",
        "LFE2",
        "LT",
        "RT",
        "HI",
        "NAR",
        "M"
      ]
    },
    "AudioChannelTaggingSettings": {
      "type": "structure",
      "members": {
        "ChannelTag": {
          "shape": "AudioChannelTag",
          "locationName": "channelTag",
          "documentation": "Specify the QuickTime audio channel layout tags for the audio channels in this audio track. Enter channel layout tags in the same order as your output's audio channel order. For example, if your output audio track has a left and a right channel, enter Left (L) for the first channel and Right (R) for the second. If your output has multiple single-channel audio tracks, enter a single channel layout tag for each track."
        },
        "ChannelTags": {
          "shape": "__listOfAudioChannelTag",
          "locationName": "channelTags",
          "documentation": "Specify the QuickTime audio channel layout tags for the audio channels in this audio track. Enter channel layout tags in the same order as your output's audio channel order. For example, if your output audio track has a left and a right channel, enter Left (L) for the first channel and Right (R) for the second. If your output has multiple single-channel audio tracks, enter a single channel layout tag for each track."
        }
      },
      "documentation": "Specify the QuickTime audio channel layout tags for the audio channels in this audio track. When you don't specify a value, MediaConvert labels your track as Center (C) by default. To use Audio layout tagging, your output must be in a QuickTime (MOV) container and your audio codec must be AAC, WAV, or AIFF."
    },
    "AudioCodec": {
      "type": "string",
      "documentation": "Choose the audio codec for this output. Note that the option Dolby Digital passthrough applies only to Dolby Digital and Dolby Digital Plus audio inputs. Make sure that you choose a codec that's supported with your output container: https://docs.aws.amazon.com/mediaconvert/latest/ug/reference-codecs-containers.html#reference-codecs-containers-output-audio For audio-only outputs, make sure that both your input audio codec and your output audio codec are supported for audio-only workflows. For more information, see: https://docs.aws.amazon.com/mediaconvert/latest/ug/reference-codecs-containers-input.html#reference-codecs-containers-input-audio-only and https://docs.aws.amazon.com/mediaconvert/latest/ug/reference-codecs-containers.html#audio-only-output",
      "enum": [
        "AAC",
        "MP2",
        "MP3",
        "WAV",
        "AIFF",
        "AC3",
        "EAC3",
        "EAC3_ATMOS",
        "VORBIS",
        "OPUS",
        "PASSTHROUGH",
        "FLAC"
      ]
    },
    "AudioCodecSettings": {
      "type": "structure",
      "members": {
        "AacSettings": {
          "shape": "AacSettings",
          "locationName": "aacSettings",
          "documentation": "Required when you set Codec to the value AAC. The service accepts one of two mutually exclusive groups of AAC settings--VBR and CBR. To select one of these modes, set the value of Bitrate control mode to \"VBR\" or \"CBR\". In VBR mode, you control the audio quality with the setting VBR quality. In CBR mode, you use the setting Bitrate. Defaults and valid values depend on the rate control mode."
        },
        "Ac3Settings": {
          "shape": "Ac3Settings",
          "locationName": "ac3Settings",
          "documentation": "Required when you set Codec to the value AC3."
        },
        "AiffSettings": {
          "shape": "AiffSettings",
          "locationName": "aiffSettings",
          "documentation": "Required when you set Codec to the value AIFF."
        },
        "Codec": {
          "shape": "AudioCodec",
          "locationName": "codec",
          "documentation": "Choose the audio codec for this output. Note that the option Dolby Digital passthrough applies only to Dolby Digital and Dolby Digital Plus audio inputs. Make sure that you choose a codec that's supported with your output container: https://docs.aws.amazon.com/mediaconvert/latest/ug/reference-codecs-containers.html#reference-codecs-containers-output-audio For audio-only outputs, make sure that both your input audio codec and your output audio codec are supported for audio-only workflows. For more information, see: https://docs.aws.amazon.com/mediaconvert/latest/ug/reference-codecs-containers-input.html#reference-codecs-containers-input-audio-only and https://docs.aws.amazon.com/mediaconvert/latest/ug/reference-codecs-containers.html#audio-only-output"
        },
        "Eac3AtmosSettings": {
          "shape": "Eac3AtmosSettings",
          "locationName": "eac3AtmosSettings",
          "documentation": "Required when you set Codec to the value EAC3_ATMOS."
        },
        "Eac3Settings": {
          "shape": "Eac3Settings",
          "locationName": "eac3Settings",
          "documentation": "Required when you set Codec to the value EAC3."
        },
        "FlacSettings": {
          "shape": "FlacSettings",
          "locationName": "flacSettings",
          "documentation": "Required when you set Codec, under AudioDescriptions>CodecSettings, to the value FLAC."
        },
        "Mp2Settings": {
          "shape": "Mp2Settings",
          "locationName": "mp2Settings",
          "documentation": "Required when you set Codec to the value MP2."
        },
        "Mp3Settings": {
          "shape": "Mp3Settings",
          "locationName": "mp3Settings",
          "documentation": "Required when you set Codec, under AudioDescriptions>CodecSettings, to the value MP3."
        },
        "OpusSettings": {
          "shape": "OpusSettings",
          "locationName": "opusSettings",
          "documentation": "Required when you set Codec, under AudioDescriptions>CodecSettings, to the value OPUS."
        },
        "VorbisSettings": {
          "shape": "VorbisSettings",
          "locationName": "vorbisSettings",
          "documentation": "Required when you set Codec, under AudioDescriptions>CodecSettings, to the value Vorbis."
        },
        "WavSettings": {
          "shape": "WavSettings",
          "locationName": "wavSettings",
          "documentation": "Required when you set Codec to the value WAV."
        }
      },
      "documentation": "Settings related to audio encoding. The settings in this group vary depending on the value that you choose for your audio codec."
    },
    "AudioDefaultSelection": {
      "type": "string",
      "documentation": "Enable this setting on one audio selector to set it as the default for the job. The service uses this default for outputs where it can't find the specified input audio. If you don't set a default, those outputs have no audio.",
      "enum": [
        "DEFAULT",
        "NOT_DEFAULT"
      ]
    },
    "AudioDescription": {
      "type": "structure",
      "members": {
        "AudioChannelTaggingSettings": {
          "shape": "AudioChannelTaggingSettings",
          "locationName": "audioChannelTaggingSettings",
          "documentation": "Specify the QuickTime audio channel layout tags for the audio channels in this audio track. When you don't specify a value, MediaConvert labels your track as Center (C) by default. To use Audio layout tagging, your output must be in a QuickTime (MOV) container and your audio codec must be AAC, WAV, or AIFF."
        },
        "AudioNormalizationSettings": {
          "shape": "AudioNormalizationSettings",
          "locationName": "audioNormalizationSettings",
          "documentation": "Advanced audio normalization settings. Ignore these settings unless you need to comply with a loudness standard."
        },
        "AudioSourceName": {
          "shape": "__stringMax2048",
          "locationName": "audioSourceName",
          "documentation": "Specifies which audio data to use from each input. In the simplest case, specify an \"Audio Selector\":#inputs-audio_selector by name based on its order within each input. For example if you specify \"Audio Selector 3\", then the third audio selector will be used from each input. If an input does not have an \"Audio Selector 3\", then the audio selector marked as \"default\" in that input will be used. If there is no audio selector marked as \"default\", silence will be inserted for the duration of that input. Alternatively, an \"Audio Selector Group\":#inputs-audio_selector_group name may be specified, with similar default/silence behavior. If no audio_source_name is specified, then \"Audio Selector 1\" will be chosen automatically."
        },
        "AudioType": {
          "shape": "__integerMin0Max255",
          "locationName": "audioType",
          "documentation": "Applies only if Follow Input Audio Type is unchecked (false). A number between 0 and 255. The following are defined in ISO-IEC 13818-1: 0 = Undefined, 1 = Clean Effects, 2 = Hearing Impaired, 3 = Visually Impaired Commentary, 4-255 = Reserved."
        },
        "AudioTypeControl": {
          "shape": "AudioTypeControl",
          "locationName": "audioTypeControl",
          "documentation": "When set to FOLLOW_INPUT, if the input contains an ISO 639 audio_type, then that value is passed through to the output. If the input contains no ISO 639 audio_type, the value in Audio Type is included in the output. Otherwise the value in Audio Type is included in the output. Note that this field and audioType are both ignored if audioDescriptionBroadcasterMix is set to BROADCASTER_MIXED_AD."
        },
        "CodecSettings": {
          "shape": "AudioCodecSettings",
          "locationName": "codecSettings",
          "documentation": "Settings related to audio encoding. The settings in this group vary depending on the value that you choose for your audio codec."
        },
        "CustomLanguageCode": {
          "shape": "__stringPatternAZaZ23AZaZ09",
          "locationName": "customLanguageCode",
          "documentation": "Specify the language for this audio output track. The service puts this language code into your output audio track when you set Language code control to Use configured. The service also uses your specified custom language code when you set Language code control to Follow input, but your input file doesn't specify a language code. For all outputs, you can use an ISO 639-2 or ISO 639-3 code. For streaming outputs, you can also use any other code in the full RFC-5646 specification. Streaming outputs are those that are in one of the following output groups: CMAF, DASH ISO, Apple HLS, or Microsoft Smooth Streaming."
        },
        "LanguageCode": {
          "shape": "LanguageCode",
          "locationName": "languageCode",
          "documentation": "Indicates the language of the audio output track. The ISO 639 language specified in the 'Language Code' drop down will be used when 'Follow Input Language Code' is not selected or when 'Follow Input Language Code' is selected but there is no ISO 639 language code specified by the input."
        },
        "LanguageCodeControl": {
          "shape": "AudioLanguageCodeControl",
          "locationName": "languageCodeControl",
          "documentation": "Specify which source for language code takes precedence for this audio track. When you choose Follow input, the service uses the language code from the input track if it's present. If there's no languge code on the input track, the service uses the code that you specify in the setting Language code. When you choose Use configured, the service uses the language code that you specify."
        },
        "RemixSettings": {
          "shape": "RemixSettings",
          "locationName": "remixSettings",
          "documentation": "Advanced audio remixing settings."
        },
        "StreamName": {
          "shape": "__stringPatternWS",
          "locationName": "streamName",
          "documentation": "Specify a label for this output audio stream. For example, \"English\", \"Director commentary\", or \"track_2\". For streaming outputs, MediaConvert passes this information into destination manifests for display on the end-viewer's player device. For outputs in other output groups, the service ignores this setting."
        }
      },
      "documentation": "Settings related to one audio tab on the MediaConvert console. In your job JSON, an instance of AudioDescription is equivalent to one audio tab in the console. Usually, one audio tab corresponds to one output audio track. Depending on how you set up your input audio selectors and whether you use audio selector groups, one audio tab can correspond to a group of output audio tracks."
    },
    "AudioDurationCorrection": {
      "type": "string",
      "documentation": "Apply audio timing corrections to help synchronize audio and video in your output. To apply timing corrections, your input must meet the following requirements: * Container: MP4, or MOV, with an accurate time-to-sample (STTS) table. * Audio track: AAC. Choose from the following audio timing correction settings: * Disabled (Default): Apply no correction. * Auto: Recommended for most inputs. MediaConvert analyzes the audio timing in your input and determines which correction setting to use, if needed. * Track: Adjust the duration of each audio frame by a constant amount to align the audio track length with STTS duration. Track-level correction does not affect pitch, and is recommended for tonal audio content such as music. * Frame: Adjust the duration of each audio frame by a variable amount to align audio frames with STTS timestamps. No corrections are made to already-aligned frames. Frame-level correction may affect the pitch of corrected frames, and is recommended for atonal audio content such as speech or percussion. * Force: Apply audio duration correction, either Track or Frame depending on your input, regardless of the accuracy of your input's STTS table. Your output audio and video may not be aligned or it may contain audio artifacts.",
      "enum": [
        "DISABLED",
        "AUTO",
        "TRACK",
        "FRAME",
        "FORCE"
      ]
    },
    "AudioLanguageCodeControl": {
      "type": "string",
      "documentation": "Specify which source for language code takes precedence for this audio track. When you choose Follow input, the service uses the language code from the input track if it's present. If there's no languge code on the input track, the service uses the code that you specify in the setting Language code. When you choose Use configured, the service uses the language code that you specify.",
      "enum": [
        "FOLLOW_INPUT",
        "USE_CONFIGURED"
      ]
    },
    "AudioNormalizationAlgorithm": {
      "type": "string",
      "documentation": "Choose one of the following audio normalization algorithms: ITU-R BS.1770-1: Ungated loudness. A measurement of ungated average loudness for an entire piece of content, suitable for measurement of short-form content under ATSC recommendation A/85. Supports up to 5.1 audio channels. ITU-R BS.1770-2: Gated loudness. A measurement of gated average loudness compliant with the requirements of EBU-R128. Supports up to 5.1 audio channels. ITU-R BS.1770-3: Modified peak. The same loudness measurement algorithm as 1770-2, with an updated true peak measurement. ITU-R BS.1770-4: Higher channel count. Allows for more audio channels than the other algorithms, including configurations such as 7.1.",
      "enum": [
        "ITU_BS_1770_1",
        "ITU_BS_1770_2",
        "ITU_BS_1770_3",
        "ITU_BS_1770_4"
      ]
    },
    "AudioNormalizationAlgorithmControl": {
      "type": "string",
      "documentation": "When enabled the output audio is corrected using the chosen algorithm. If disabled, the audio will be measured but not adjusted.",
      "enum": [
        "CORRECT_AUDIO",
        "MEASURE_ONLY"
      ]
    },
    "AudioNormalizationLoudnessLogging": {
      "type": "string",
      "documentation": "If set to LOG, log each output's audio track loudness to a CSV file.",
      "enum": [
        "LOG",
        "DONT_LOG"
      ]
    },
    "AudioNormalizationPeakCalculation": {
      "type": "string",
[...]
