/* Dropdowns
/* ---------------------------------------------------------- */

.dropdown {
    position: relative;
    z-index: 1000;
}

.dropdown-toggle:focus {
    outline: 0;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    float: left;
    margin: 2px 0 0;
    padding: 5px 0;
    min-width: 220px;
    border: color(var(--lightgrey) lightness(-15%)) 1px solid;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.175) 0 2px 6px;
    list-style: none;
    text-align: left;
    text-transform: none;
    letter-spacing: 0;
    font-size: 1.4rem;
    font-weight: normal;
}

.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}

.dropdown-menu .divider {
    overflow: hidden;
    margin: 4px 0;
    height: 1px;
    background: color(var(--lightgrey) lightness(-5%));
}

.dropdown-menu > li > a,
.dropdown-menu > li > button {
    display: block;
    clear: both;
    padding: 3px 20px;
    width: 100%;
    color: #333;
    text-align: left;
    white-space: nowrap;
    line-height: 1.9em;
    font-weight: normal;
    transition: none;
}

.dropdown-menu i {
    margin-right: 0.5rem;
    font-size: 0.9em;
}


/* States
/* ---------------------------------------------------------- */

/* Hover/Focus */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > button:hover,
.dropdown-menu > li > button:focus {
    background: var(--blue);
    color: #fff;
    text-decoration: none;
}

/* Active */
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > button,
.dropdown-menu > .active > button:hover,
.dropdown-menu > .active > button:focus {
    outline: 0;
    background-color: #428bca;
    color: #fff;
    text-decoration: none;
}

/* Disabled */
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus,
.dropdown-menu > .disabled > button,
.dropdown-menu > .disabled > button:hover,
.dropdown-menu > .disabled > button:focus {
    color: #777;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus,
.dropdown-menu > .disabled > button:hover,
.dropdown-menu > .disabled > button:focus {
    background-color: transparent;
    background-image: none;
    text-decoration: none;
    cursor: not-allowed;
}


/* Open / Close
/* ---------------------------------------------------------- */

.open > .dropdown-menu {
    display: block;
}

.open > a {
    outline: 0;
}

.closed > .dropdown-menu {
    display: none;
}
