// ------------------------------------------------------------
// Popovers
//
// Styles for the popover component
//
// * Popovers
// * Open/close
// * Positioning
// ------------------------------------------------------------


//
// Popovers
// --------------------------------------------------

.popover-item {
    position: relative;
    display: inline-block;
    padding: 11px 26px 13px 16px;
    background: $darkgrey;
    min-width: 300px;
    max-width: 400px;
    border-radius: 6px;
    font-size: 1.2rem;
    color: $midgrey;
}
.popover-title {
    font-size: 1.4rem;
    font-weight: 300;
    color: #fff;
}
.popover-desc {
    margin-top: -4px;
}
.popover-body {
    margin-top: 11px;
    line-height: 1.7;
    b {
        color: #fff;
    }
    > *:last-child {
        margin: 0;
    }
}

//
// Open/close
// --------------------------------------------------

.popover {
    position: relative;
    display: inline-block;

    .popover-item {
        position: absolute;
        z-index: 20;

        &.open {
            display: block;
        }

        &.closed {
            display: none;
        }
    }
}//.popover
