.ember-power-select-trigger {
    border: 1px solid #dfe1e3;
    border-radius: var(--border-radius);
    color: #666;
}

.ember-basic-dropdown--opened > .ember-power-select-trigger,
.ember-power-select-trigger[aria-expanded="true"],
.ember-power-select-search input {
    outline: 0;
    border-color: #b1b1b1;
}

.ember-power-select-dropdown {
    position: absolute;
    z-index: 1000;
    box-sizing: border-box;
    margin: -1px 0 0 0;
    border: 1px solid #b1b1b1;
    border-top: 0 none;
    background: #fff;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.ember-power-select-options:not([role="group"]) {
    max-height: 200px;
}

.ember-power-select-search input {
    display: inline-block !important;
    margin: 0 1px !important;
    padding: 0 !important;
    min-height: 0 !important;
    max-width: 100% !important;
    max-height: none !important;
    border: 0 none !important;
    background: none !important;
    box-shadow: none !important;
    text-indent: 0 !important;
    font-size: 1.3rem;
    line-height: inherit !important;
}

.ember-power-select-group {
    float: left;
    box-sizing: border-box;
    width: 100%;
    border-top: 0 none;
    border-right: 1px solid #f2f2f2;
}

.ember-power-select-group .ember-power-select-group-name {
    position: relative;
    display: inline-block;
    padding: 7px 8px;
    background: #fff;
    color: var(--midgrey);
    font-size: 0.85em;
    font-weight: normal;
    cursor: default;
}

.ember-power-select-group .ember-power-select-group-name:after {
    content: "";
    position: absolute;
    top: 52%;
    left: calc(100% + 3px);
    display: block;
    width: calc(189px - 100%);
    height: 1px;
    border-bottom: #dfe1e3 1px solid;
}

@media (max-width: 800px) {
    .ember-power-select-group .ember-power-select-group-name:after {
        width: calc(224px - 100%);
    }
}

@media (max-width: 500px) {
    .ember-power-select-group .ember-power-select-group-name:after {
        width: calc(80vw - 45px - 100%);
    }
}

.ember-power-select-group:first-of-type .ember-power-select-group-name {
    margin-bottom: 7px;
    padding-top: 0;
    padding-bottom: 0;
}

.ember-power-select-option {
    overflow: hidden;
    padding: 7px 8px;
    line-height: 1.35em;
    cursor: pointer;
}

.ember-power-select-option .highlight {
    background: #fff3b8;
    border-radius: 1px;
}

.ember-power-select-option[aria-current="true"] {
    background: color(var(--blue) alpha(-85%));
    color: var(--darkgrey);
}

.ember-power-select .ember-power-select-multiple-option {
    position: relative;
    margin: 0 3px 3px 0;
    padding: 1px 20px 1px 4px;
    border: 0;
    background: var(--blue);
    color: #fff;
    line-height: 1.75;
    cursor: pointer;
}

.ember-power-select .ember-power-select-multiple-trigger {
    padding: 5px 5px 2px;
    height: auto;
}

.ember-power-select .ember-power-select-multiple-option .ember-power-select-multiple-remove-btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 17px;
    border-radius: 0 2px 2px 0;
    color: inherit;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

.ember-power-select .ember-power-select-multiple-option .ember-power-select-multiple-remove-btn:not(:hover) {
    opacity: 1;
}

.ember-power-select .ember-power-select-multiple-option .ember-power-select-multiple-remove-btn:hover {
    background: rgba(0, 0, 0, 0.05);
}
