<footer id="publish-bar">
    <div class="publish-bar-inner">
        {{render 'post-tags-input'}}

        <div class="publish-bar-actions">
            <button type="button" class="post-settings" {{action "toggleSettingsMenu"}}></button>
            {{view "editor-save-button" id="entry-actions" classNameBindings="isNew:unsaved"}}
        </div>
    </div>
</footer>
