<footer id="publish-bar">
    <nav>
        {{view "editor-tags" tagName="section" id="entry-tags" class="left"}}

        <div class="right">

            <section id="entry-controls">
                {{#gh-popover-button popoverName="post-settings-menu" tagName="a" href="#" classNames="post-settings" title="Post Settings"}}
                    <span class="hidden">Post Settings</span>
                {{/gh-popover-button}}
                {{#gh-popover name="post-settings-menu" classNames="post-settings-menu menu-right"}}
                    {{render "post-settings-menu" model}}
                {{/gh-popover}}
            </section>

            {{view "editor-save-button" id="entry-actions"}}
        </div>
    </nav>
</footer>
