<footer id="publish-bar">
    <nav>
        {{render 'post-tags-input'}}

        <div class="right">

            <section id="entry-controls" {{bind-attr class="isNew:unsaved"}}>
                {{#gh-popover-button popoverName="post-settings-menu" classNames="post-settings" title="Post Settings"}}
                    <span class="hidden">Post Settings</span>
                {{/gh-popover-button}}
                {{#gh-popover name="post-settings-menu" classNames="post-settings-menu menu-right"}}
                    {{render "post-settings-menu" model}}
                {{/gh-popover}}
            </section>

            {{view "editor-save-button" id="entry-actions"}}
        </div>
    </nav>
</footer>
