<aside class="settings-sidebar" role="complementary">
    <header>
        <h1 class="title">Settings</h1>
    </header>
    <nav class="settings-menu">
        <ul>
	    {{gh-activating-list-item route="settings.general" title="General" classNames="general"}}
	    {{gh-activating-list-item route="settings.users" title="Users" classNames="users"}}
            {{#if showApps}}
	    {{gh-activating-list-item route="settings.apps" title="Apps" classNames="apps"}}
            {{/if}}
        </ul>
    </nav>
</aside>

{{outlet}}
