<header class="page-header">
    <a class="menu-button" href="#"><span class="sr-only">Menu</span></a>
    <h2 class="page-title">Settings</h2>
</header>

<div class="page-content">
    <nav class="settings-menu">
        <ul>
            {{#unless session.user.isAuthor}}
                {{#unless session.user.isEditor}}
                    {{gh-activating-list-item route="settings.general" title="General" classNames="settings-menu-general"}}
                {{/unless}}

                {{gh-activating-list-item route="settings.users" title="Users" classNames="settings-menu-users"}}

                {{#if showApps}}
                    {{#unless session.user.isEditor}}
                        {{gh-activating-list-item route="settings.apps" title="Apps" classNames="settings-menu-apps"}}
                    {{/unless}}
                {{/if}}
            {{/unless}}
        </ul>
    </nav>

    {{outlet}}
</div>
