<div class="wrapper">
    <aside class="settings-sidebar" role="complementary">
        <header>
            <h1 class="title">Settings</h1>
        </header>
        <nav class="settings-menu">
            <ul>
                {{#link-to 'settings.general' tagName="li" class="general"}}<a href="#">General</a>{{/link-to}}
                {{#link-to 'settings.user' tagName="li" class="users"}}<a href="#">User</a>{{/link-to}}
                {{#link-to 'settings.apps' tagName="li" class="apps"}}<a href="#">Apps</a>{{/link-to}}
            </ul>
        </nav>
    </aside>

    <section class="settings-content active">
        {{outlet}}
    </section>
</div>
