{{#if view.parentView.rolesDropdownIsVisible}}
<a href="javascript:void(0);" {{action "openModal" "transfer-owner" this}}>Make Owner</a>
{{/if}}
{{#if view.parentView.deleteUserActionIsVisible}}
<a href="javascript:void(0);" class="delete">Delete User</a>
{{/if}}