<header class="modal-header">
    <h1>Are you sure you want to suspend this user?</h1>
</header>
<a class="close" href="" title="Close" {{action "closeModal"}}>{{inline-svg "close"}}<span class="hidden">Close</span></a>

<div class="modal-body">
    <strong>WARNING:</strong> This user will no longer be able to log in but their posts will be kept.
</div>

<div class="modal-footer">
    <button {{action "closeModal"}} class="gh-btn"><span>Cancel</span></button>
    {{gh-task-button "Suspend" successText="Suspended" task=suspendUser class="gh-btn gh-btn-red gh-btn-icon" data-test-modal-confirm=true}}
</div>
