{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2020-08-15",
    "endpointPrefix":"profile",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceAbbreviation":"Customer Profiles",
    "serviceFullName":"Amazon Connect Customer Profiles",
    "serviceId":"Customer Profiles",
    "signatureVersion":"v4",
    "signingName":"profile",
    "uid":"customer-profiles-2020-08-15",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AddProfileKey":{
      "name":"AddProfileKey",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{DomainName}/profiles/keys"
      },
      "input":{"shape":"AddProfileKeyRequest"},
      "output":{"shape":"AddProfileKeyResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Associates a new key value with a specific profile, such as a Contact Record ContactId.</p> <p>A profile object can have a single unique key and any number of additional keys that can be used to identify the profile that it belongs to.</p>"
    },
    "BatchGetCalculatedAttributeForProfile":{
      "name":"BatchGetCalculatedAttributeForProfile",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{DomainName}/calculated-attributes/{CalculatedAttributeName}/batch-get-for-profiles"
      },
      "input":{"shape":"BatchGetCalculatedAttributeForProfileRequest"},
      "output":{"shape":"BatchGetCalculatedAttributeForProfileResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Fetch the possible attribute values given the attribute name.</p>"
    },
    "BatchGetProfile":{
      "name":"BatchGetProfile",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{DomainName}/batch-get-profiles"
      },
      "input":{"shape":"BatchGetProfileRequest"},
      "output":{"shape":"BatchGetProfileResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Get a batch of profiles.</p>"
    },
    "CreateCalculatedAttributeDefinition":{
      "name":"CreateCalculatedAttributeDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{DomainName}/calculated-attributes/{CalculatedAttributeName}"
      },
      "input":{"shape":"CreateCalculatedAttributeDefinitionRequest"},
      "output":{"shape":"CreateCalculatedAttributeDefinitionResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a new calculated attribute definition. After creation, new object data ingested into Customer Profiles will be included in the calculated attribute, which can be retrieved for a profile using the <a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_GetCalculatedAttributeForProfile.html\">GetCalculatedAttributeForProfile</a> API. Defining a calculated attribute makes it available for all profiles within a domain. Each calculated attribute can only reference one <code>ObjectType</code> and at most, two fields from that <code>ObjectType</code>.</p>"
    },
    "CreateDomain":{
      "name":"CreateDomain",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{DomainName}"
      },
      "input":{"shape":"CreateDomainRequest"},
      "output":{"shape":"CreateDomainResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a domain, which is a container for all customer data, such as customer profile attributes, object types, profile keys, and encryption keys. You can create multiple domains, and each domain can have multiple third-party integrations.</p> <p>Each Amazon Connect instance can be associated with only one domain. Multiple Amazon Connect instances can be associated with one domain.</p> <p>Use this API or <a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_UpdateDomain.html\">UpdateDomain</a> to enable <a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_GetMatches.html\">identity resolution</a>: set <code>Matching</code> to true.</p> <p>To prevent cross-service impersonation when you call this API, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/cross-service-confused-deputy-prevention.html\">Cross-service confused deputy prevention</a> for sample policies that you should apply. </p> <note> <p>It is not possible to associate a Customer Profiles domain with an Amazon Connect Instance directly from the API. If you would like to create a domain and associate a Customer Profiles domain, use the Amazon Connect admin website. For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/enable-customer-profiles.html#enable-customer-profiles-step1\">Enable Customer Profiles</a>.</p> <p>Each Amazon Connect instance can be associated with only one domain. Multiple Amazon Connect instances can be associated with one domain.</p> </note>"
    },
    "CreateDomainLayout":{
      "name":"CreateDomainLayout",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{DomainName}/layouts/{LayoutDefinitionName}"
      },
      "input":{"shape":"CreateDomainLayoutRequest"},
      "output":{"shape":"CreateDomainLayoutResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates the layout to view data for a specific domain. This API can only be invoked from the Amazon Connect admin website.</p>"
    },
    "CreateEventStream":{
      "name":"CreateEventStream",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{DomainName}/event-streams/{EventStreamName}"
      },
      "input":{"shape":"CreateEventStreamRequest"},
      "output":{"shape":"CreateEventStreamResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates an event stream, which is a subscription to real-time events, such as when profiles are created and updated through Amazon Connect Customer Profiles.</p> <p>Each event stream can be associated with only one Kinesis Data Stream destination in the same region and Amazon Web Services account as the customer profiles domain</p>"
    },
    "CreateEventTrigger":{
      "name":"CreateEventTrigger",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{DomainName}/event-triggers/{EventTriggerName}"
      },
      "input":{"shape":"CreateEventTriggerRequest"},
      "output":{"shape":"CreateEventTriggerResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates an event trigger, which specifies the rules when to perform action based on customer's ingested data.</p> <p>Each event stream can be associated with only one integration in the same region and AWS account as the event stream. </p>"
    },
    "CreateIntegrationWorkflow":{
      "name":"CreateIntegrationWorkflow",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{DomainName}/workflows/integrations"
      },
      "input":{"shape":"CreateIntegrationWorkflowRequest"},
      "output":{"shape":"CreateIntegrationWorkflowResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Creates an integration workflow. An integration workflow is an async process which ingests historic data and sets up an integration for ongoing updates. The supported Amazon AppFlow sources are Salesforce, ServiceNow, and Marketo. </p>"
    },
    "CreateProfile":{
      "name":"CreateProfile",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{DomainName}/profiles"
      },
      "input":{"shape":"CreateProfileRequest"},
      "output":{"shape":"CreateProfileResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a standard profile.</p> <p>A standard profile represents the following attributes for a customer profile in a domain.</p>"
    },
    "CreateSegmentDefinition":{
      "name":"CreateSegmentDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{DomainName}/segment-definitions/{SegmentDefinitionName}",
        "responseCode":200
      },
      "input":{"shape":"CreateSegmentDefinitionRequest"},
      "output":{"shape":"CreateSegmentDefinitionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a segment definition associated to the given domain.</p>",
      "idempotent":true
    },
    "CreateSegmentEstimate":{
      "name":"CreateSegmentEstimate",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{DomainName}/segment-estimates"
      },
      "input":{"shape":"CreateSegmentEstimateRequest"},
      "output":{"shape":"CreateSegmentEstimateResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a segment estimate query.</p>"
    },
    "CreateSegmentSnapshot":{
      "name":"CreateSegmentSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{DomainName}/segments/{SegmentDefinitionName}/snapshots"
      },
      "input":{"shape":"CreateSegmentSnapshotRequest"},
      "output":{"shape":"CreateSegmentSnapshotResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Triggers a job to export a segment to a specified destination.</p>"
    },
    "CreateUploadJob":{
      "name":"CreateUploadJob",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{DomainName}/upload-jobs",
        "responseCode":200
      },
      "input":{"shape":"CreateUploadJobRequest"},
      "output":{"shape":"CreateUploadJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates an Upload job to ingest data for segment imports. The metadata is created for the job with the provided field mapping and unique key. </p>"
    },
    "DeleteCalculatedAttributeDefinition":{
      "name":"DeleteCalculatedAttributeDefinition",
      "http":{
        "method":"DELETE",
        "requestUri":"/domains/{DomainName}/calculated-attributes/{CalculatedAttributeName}"
      },
      "input":{"shape":"DeleteCalculatedAttributeDefinitionRequest"},
      "output":{"shape":"DeleteCalculatedAttributeDefinitionResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes an existing calculated attribute definition. Note that deleting a default calculated attribute is possible, however once deleted, you will be unable to undo that action and will need to recreate it on your own using the CreateCalculatedAttributeDefinition API if you want it back.</p>"
    },
    "DeleteDomain":{
      "name":"DeleteDomain",
      "http":{
        "method":"DELETE",
        "requestUri":"/domains/{DomainName}"
      },
      "input":{"shape":"DeleteDomainRequest"},
      "output":{"shape":"DeleteDomainResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes a specific domain and all of its customer data, such as customer profile attributes and their related objects.</p>"
    },
    "DeleteDomainLayout":{
      "name":"DeleteDomainLayout",
      "http":{
        "method":"DELETE",
        "requestUri":"/domains/{DomainName}/layouts/{LayoutDefinitionName}"
      },
      "input":{"shape":"DeleteDomainLayoutRequest"},
      "output":{"shape":"DeleteDomainLayoutResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes the layout used to view data for a specific domain. This API can only be invoked from the Amazon Connect admin website.</p>"
    },
    "DeleteEventStream":{
      "name":"DeleteEventStream",
      "http":{
        "method":"DELETE",
        "requestUri":"/domains/{DomainName}/event-streams/{EventStreamName}"
      },
      "input":{"shape":"DeleteEventStreamRequest"},
      "output":{"shape":"DeleteEventStreamResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Disables and deletes the specified event stream.</p>",
      "idempotent":true
    },
    "DeleteEventTrigger":{
      "name":"DeleteEventTrigger",
      "http":{
        "method":"DELETE",
        "requestUri":"/domains/{DomainName}/event-triggers/{EventTriggerName}"
      },
      "input":{"shape":"DeleteEventTriggerRequest"},
      "output":{"shape":"DeleteEventTriggerResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Disable and deletes the Event Trigger.</p> <note> <p>You cannot delete an Event Trigger with an active Integration associated.</p> </note>"
    },
    "DeleteIntegration":{
      "name":"DeleteIntegration",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{DomainName}/integrations/delete"
      },
      "input":{"shape":"DeleteIntegrationRequest"},
      "output":{"shape":"DeleteIntegrationResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Removes an integration from a specific domain.</p>"
    },
    "DeleteProfile":{
      "name":"DeleteProfile",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{DomainName}/profiles/delete"
      },
      "input":{"shape":"DeleteProfileRequest"},
      "output":{"shape":"DeleteProfileResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes the standard customer profile and all data pertaining to the profile.</p>"
    },
    "DeleteProfileKey":{
      "name":"DeleteProfileKey",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{DomainName}/profiles/keys/delete"
      },
      "input":{"shape":"DeleteProfileKeyRequest"},
      "output":{"shape":"DeleteProfileKeyResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Removes a searchable key from a customer profile.</p>"
    },
    "DeleteProfileObject":{
      "name":"DeleteProfileObject",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{DomainName}/profiles/objects/delete"
      },
      "input":{"shape":"DeleteProfileObjectRequest"},
      "output":{"shape":"DeleteProfileObjectResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Removes an object associated with a profile of a given ProfileObjectType.</p>"
    },
    "DeleteProfileObjectType":{
      "name":"DeleteProfileObjectType",
      "http":{
        "method":"DELETE",
        "requestUri":"/domains/{DomainName}/object-types/{ObjectTypeName}"
      },
      "input":{"shape":"DeleteProfileObjectTypeRequest"},
      "output":{"shape":"DeleteProfileObjectTypeResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Removes a ProfileObjectType from a specific domain as well as removes all the ProfileObjects of that type. It also disables integrations from this specific ProfileObjectType. In addition, it scrubs all of the fields of the standard profile that were populated from this ProfileObjectType.</p>"
    },
    "DeleteSegmentDefinition":{
      "name":"DeleteSegmentDefinition",
      "http":{
        "method":"DELETE",
        "requestUri":"/domains/{DomainName}/segment-definitions/{SegmentDefinitionName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteSegmentDefinitionRequest"},
      "output":{"shape":"DeleteSegmentDefinitionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a segment definition from the domain.</p>",
      "idempotent":true
    },
    "DeleteWorkflow":{
      "name":"DeleteWorkflow",
      "http":{
        "method":"DELETE",
        "requestUri":"/domains/{DomainName}/workflows/{WorkflowId}"
      },
      "input":{"shape":"DeleteWorkflowRequest"},
      "output":{"shape":"DeleteWorkflowResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes the specified workflow and all its corresponding resources. This is an async process.</p>"
    },
    "DetectProfileObjectType":{
      "name":"DetectProfileObjectType",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{DomainName}/detect/object-types"
      },
      "input":{"shape":"DetectProfileObjectTypeRequest"},
      "output":{"shape":"DetectProfileObjectTypeResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>The process of detecting profile object type mapping by using given objects.</p>"
    },
    "GetAutoMergingPreview":{
      "name":"GetAutoMergingPreview",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{DomainName}/identity-resolution-jobs/auto-merging-preview"
      },
      "input":{"shape":"GetAutoMergingPreviewRequest"},
      "output":{"shape":"GetAutoMergingPreviewResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Tests the auto-merging settings of your Identity Resolution Job without merging your data. It randomly selects a sample of matching groups from the existing matching results, and applies the automerging settings that you provided. You can then view the number of profiles in the sample, the number of matches, and the number of profiles identified to be merged. This enables you to evaluate the accuracy of the attributes in your matching list. </p> <p>You can't view which profiles are matched and would be merged.</p> <important> <p>We strongly recommend you use this API to do a dry run of the automerging process before running the Identity Resolution Job. Include <b>at least</b> two matching attributes. If your matching list includes too few attributes (such as only <code>FirstName</code> or only <code>LastName</code>), there may be a large number of matches. This increases the chances of erroneous merges.</p> </important>"
    },
    "GetCalculatedAttributeDefinition":{
      "name":"GetCalculatedAttributeDefinition",
      "http":{
        "method":"GET",
        "requestUri":"/domains/{DomainName}/calculated-attributes/{CalculatedAttributeName}"
      },
      "input":{"shape":"GetCalculatedAttributeDefinitionRequest"},
      "output":{"shape":"GetCalculatedAttributeDefinitionResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Provides more information on a calculated attribute definition for Customer Profiles.</p>"
    },
    "GetCalculatedAttributeForProfile":{
      "name":"GetCalculatedAttributeForProfile",
      "http":{
        "method":"GET",
        "requestUri":"/domains/{DomainName}/profile/{ProfileId}/calculated-attributes/{CalculatedAttributeName}"
      },
      "input":{"shape":"GetCalculatedAttributeForProfileRequest"},
      "output":{"shape":"GetCalculatedAttributeForProfileResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieve a calculated attribute for a customer profile.</p>"
    },
    "GetDomain":{
      "name":"GetDomain",
      "http":{
        "method":"GET",
        "requestUri":"/domains/{DomainName}"
      },
      "input":{"shape":"GetDomainRequest"},
      "output":{"shape":"GetDomainResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns information about a specific domain.</p>"
    },
    "GetDomainLayout":{
      "name":"GetDomainLayout",
      "http":{
        "method":"GET",
        "requestUri":"/domains/{DomainName}/layouts/{LayoutDefinitionName}"
      },
      "input":{"shape":"GetDomainLayoutRequest"},
      "output":{"shape":"GetDomainLayoutResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the layout to view data for a specific domain. This API can only be invoked from the Amazon Connect admin website.</p>"
    },
    "GetEventStream":{
      "name":"GetEventStream",
      "http":{
        "method":"GET",
        "requestUri":"/domains/{DomainName}/event-streams/{EventStreamName}"
      },
      "input":{"shape":"GetEventStreamRequest"},
      "output":{"shape":"GetEventStreamResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns information about the specified event stream in a specific domain.</p>"
    },
    "GetEventTrigger":{
      "name":"GetEventTrigger",
      "http":{
        "method":"GET",
        "requestUri":"/domains/{DomainName}/event-triggers/{EventTriggerName}"
      },
      "input":{"shape":"GetEventTriggerRequest"},
      "output":{"shape":"GetEventTriggerResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Get a specific Event Trigger from the domain.</p>"
    },
    "GetIdentityResolutionJob":{
      "name":"GetIdentityResolutionJob",
      "http":{
        "method":"GET",
        "requestUri":"/domains/{DomainName}/identity-resolution-jobs/{JobId}"
      },
      "input":{"shape":"GetIdentityResolutionJobRequest"},
      "output":{"shape":"GetIdentityResolutionJobResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns information about an Identity Resolution Job in a specific domain. </p> <p>Identity Resolution Jobs are set up using the Amazon Connect admin console. For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/use-identity-resolution.html\">Use Identity Resolution to consolidate similar profiles</a>.</p>"
    },
    "GetIntegration":{
      "name":"GetIntegration",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{DomainName}/integrations"
      },
      "input":{"shape":"GetIntegrationRequest"},
      "output":{"shape":"GetIntegrationResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns an integration for a domain.</p>"
    },
    "GetMatches":{
      "name":"GetMatches",
      "http":{
        "method":"GET",
        "requestUri":"/domains/{DomainName}/matches"
      },
      "input":{"shape":"GetMatchesRequest"},
      "output":{"shape":"GetMatchesResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Before calling this API, use <a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_CreateDomain.html\">CreateDomain</a> or <a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_UpdateDomain.html\">UpdateDomain</a> to enable identity resolution: set <code>Matching</code> to true.</p> <p>GetMatches returns potentially matching profiles, based on the results of the latest run of a machine learning process. </p> <important> <p>The process of matching duplicate profiles. If <code>Matching</code> = <code>true</code>, Amazon Connect Customer Profiles starts a weekly batch process called Identity Resolution Job. If you do not specify a date and time for Identity Resolution Job to run, by default it runs every Saturday at 12AM UTC to detect duplicate profiles in your domains. </p> <p>After the Identity Resolution Job completes, use the <a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_GetMatches.html\">GetMatches</a> API to return and review the results. Or, if you have configured <code>ExportingConfig</code> in the <code>MatchingRequest</code>, you can download the results from S3.</p> </important> <p>Amazon Connect uses the following profile attributes to identify matches:</p> <ul> <li> <p>PhoneNumber</p> </li> <li> <p>HomePhoneNumber</p> </li> <li> <p>BusinessPhoneNumber</p> </li> <li> <p>MobilePhoneNumber</p> </li> <li> <p>EmailAddress</p> </li> <li> <p>PersonalEmailAddress</p> </li> <li> <p>BusinessEmailAddress</p> </li> <li> <p>FullName</p> </li> </ul> <p>For example, two or more profiles—with spelling mistakes such as <b>John Doe</b> and <b>Jhn Doe</b>, or different casing email addresses such as <b>JOHN_DOE@ANYCOMPANY.COM</b> and <b>johndoe@anycompany.com</b>, or different phone number formats such as <b>555-010-0000</b> and <b>+1-555-010-0000</b>—can be detected as belonging to the same customer <b>John Doe</b> and merged into a unified profile.</p>"
    },
    "GetProfileObjectType":{
      "name":"GetProfileObjectType",
      "http":{
        "method":"GET",
        "requestUri":"/domains/{DomainName}/object-types/{ObjectTypeName}"
      },
      "input":{"shape":"GetProfileObjectTypeRequest"},
      "output":{"shape":"GetProfileObjectTypeResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns the object types for a specific domain.</p>"
    },
    "GetProfileObjectTypeTemplate":{
      "name":"GetProfileObjectTypeTemplate",
      "http":{
        "method":"GET",
        "requestUri":"/templates/{TemplateId}"
      },
      "input":{"shape":"GetProfileObjectTypeTemplateRequest"},
      "output":{"shape":"GetProfileObjectTypeTemplateResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns the template information for a specific object type.</p> <p>A template is a predefined ProfileObjectType, such as “Salesforce-Account” or “Salesforce-Contact.” When a user sends a ProfileObject, using the PutProfileObject API, with an ObjectTypeName that matches one of the TemplateIds, it uses the mappings from the template.</p>"
    },
    "GetSegmentDefinition":{
      "name":"GetSegmentDefinition",
      "http":{
        "method":"GET",
        "requestUri":"/domains/{DomainName}/segment-definitions/{SegmentDefinitionName}",
        "responseCode":200
      },
      "input":{"shape":"GetSegmentDefinitionRequest"},
      "output":{"shape":"GetSegmentDefinitionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets a segment definition from the domain.</p>"
    },
    "GetSegmentEstimate":{
      "name":"GetSegmentEstimate",
      "http":{
        "method":"GET",
        "requestUri":"/domains/{DomainName}/segment-estimates/{EstimateId}"
      },
      "input":{"shape":"GetSegmentEstimateRequest"},
      "output":{"shape":"GetSegmentEstimateResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the result of a segment estimate query.</p>"
    },
    "GetSegmentMembership":{
      "name":"GetSegmentMembership",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{DomainName}/segments/{SegmentDefinitionName}/membership",
        "responseCode":200
      },
      "input":{"shape":"GetSegmentMembershipRequest"},
      "output":{"shape":"GetSegmentMembershipResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Determines if the given profiles are within a segment.</p>",
      "idempotent":true
    },
    "GetSegmentSnapshot":{
      "name":"GetSegmentSnapshot",
      "http":{
        "method":"GET",
        "requestUri":"/domains/{DomainName}/segments/{SegmentDefinitionName}/snapshots/{SnapshotId}"
      },
      "input":{"shape":"GetSegmentSnapshotRequest"},
      "output":{"shape":"GetSegmentSnapshotResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieve the latest status of a segment snapshot.</p>"
    },
    "GetSimilarProfiles":{
      "name":"GetSimilarProfiles",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{DomainName}/matches"
      },
      "input":{"shape":"GetSimilarProfilesRequest"},
      "output":{"shape":"GetSimilarProfilesResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns a set of profiles that belong to the same matching group using the <code>matchId</code> or <code>profileId</code>. You can also specify the type of matching that you want for finding similar profiles using either <code>RULE_BASED_MATCHING</code> or <code>ML_BASED_MATCHING</code>.</p>"
    },
    "GetUploadJob":{
      "name":"GetUploadJob",
      "http":{
        "method":"GET",
        "requestUri":"/domains/{DomainName}/upload-jobs/{JobId}",
        "responseCode":200
      },
      "input":{"shape":"GetUploadJobRequest"},
      "output":{"shape":"GetUploadJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>This API retrieves the details of a specific upload job. </p>"
    },
    "GetUploadJobPath":{
      "name":"GetUploadJobPath",
      "http":{
        "method":"GET",
        "requestUri":"/domains/{DomainName}/upload-jobs/{JobId}/path",
        "responseCode":200
      },
      "input":{"shape":"GetUploadJobPathRequest"},
      "output":{"shape":"GetUploadJobPathResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>This API retrieves the pre-signed URL and client token for uploading the file associated with the upload job. </p>"
    },
    "GetWorkflow":{
      "name":"GetWorkflow",
      "http":{
        "method":"GET",
        "requestUri":"/domains/{DomainName}/workflows/{WorkflowId}"
      },
      "input":{"shape":"GetWorkflowRequest"},
      "output":{"shape":"GetWorkflowResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Get details of specified workflow.</p>"
    },
    "GetWorkflowSteps":{
      "name":"GetWorkflowSteps",
      "http":{
        "method":"GET",
        "requestUri":"/domains/{DomainName}/workflows/{WorkflowId}/steps"
      },
      "input":{"shape":"GetWorkflowStepsRequest"},
      "output":{"shape":"GetWorkflowStepsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Get granular list of steps in workflow.</p>"
    },
    "ListAccountIntegrations":{
      "name":"ListAccountIntegrations",
      "http":{
        "method":"POST",
        "requestUri":"/integrations"
      },
      "input":{"shape":"ListAccountIntegrationsRequest"},
      "output":{"shape":"ListAccountIntegrationsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists all of the integrations associated to a specific URI in the AWS account.</p>"
    },
    "ListCalculatedAttributeDefinitions":{
      "name":"ListCalculatedAttributeDefinitions",
      "http":{
        "method":"GET",
        "requestUri":"/domains/{DomainName}/calculated-attributes"
      },
      "input":{"shape":"ListCalculatedAttributeDefinitionsRequest"},
      "output":{"shape":"ListCalculatedAttributeDefinitionsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists calculated attribute definitions for Customer Profiles</p>"
    },
    "ListCalculatedAttributesForProfile":{
      "name":"ListCalculatedAttributesForProfile",
      "http":{
        "method":"GET",
        "requestUri":"/domains/{DomainName}/profile/{ProfileId}/calculated-attributes"
      },
      "input":{"shape":"ListCalculatedAttributesForProfileRequest"},
      "output":{"shape":"ListCalculatedAttributesForProfileResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieve a list of calculated attributes for a customer profile.</p>"
    },
    "ListDomainLayouts":{
      "name":"ListDomainLayouts",
      "http":{
        "method":"GET",
        "requestUri":"/domains/{DomainName}/layouts"
      },
      "input":{"shape":"ListDomainLayoutsRequest"},
      "output":{"shape":"ListDomainLayoutsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists the existing layouts that can be used to view data for a specific domain. This API can only be invoked from the Amazon Connect admin website.</p>"
    },
    "ListDomains":{
      "name":"ListDomains",
      "http":{
        "method":"GET",
        "requestUri":"/domains"
      },
      "input":{"shape":"ListDomainsRequest"},
      "output":{"shape":"ListDomainsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns a list of all the domains for an AWS account that have been created.</p>"
    },
    "ListEventStreams":{
      "name":"ListEventStreams",
      "http":{
        "method":"GET",
        "requestUri":"/domains/{DomainName}/event-streams"
      },
      "input":{"shape":"ListEventStreamsRequest"},
      "output":{"shape":"ListEventStreamsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns a list of all the event streams in a specific domain.</p>"
    },
    "ListEventTriggers":{
      "name":"ListEventTriggers",
      "http":{
        "method":"GET",
        "requestUri":"/domains/{DomainName}/event-triggers"
      },
      "input":{"shape":"ListEventTriggersRequest"},
      "output":{"shape":"ListEventTriggersResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>List all Event Triggers under a domain.</p>"
    },
    "ListIdentityResolutionJobs":{
      "name":"ListIdentityResolutionJobs",
      "http":{
        "method":"GET",
        "requestUri":"/domains/{DomainName}/identity-resolution-jobs"
      },
      "input":{"shape":"ListIdentityResolutionJobsRequest"},
      "output":{"shape":"ListIdentityResolutionJobsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists all of the Identity Resolution Jobs in your domain. The response sorts the list by <code>JobStartTime</code>.</p>"
    },
    "ListIntegrations":{
      "name":"ListIntegrations",
      "http":{
        "method":"GET",
        "requestUri":"/domains/{DomainName}/integrations"
      },
      "input":{"shape":"ListIntegrationsRequest"},
      "output":{"shape":"ListIntegrationsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists all of the integrations in your domain.</p>"
    },
    "ListObjectTypeAttributes":{
      "name":"ListObjectTypeAttributes",
      "http":{
        "method":"GET",
        "requestUri":"/domains/{DomainName}/object-types/{ObjectTypeName}/attributes"
      },
      "input":{"shape":"ListObjectTypeAttributesRequest"},
      "output":{"shape":"ListObjectTypeAttributesResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Fetch the possible attribute values given the attribute name.</p>"
    },
    "ListProfileAttributeValues":{
      "name":"ListProfileAttributeValues",
      "http":{
        "method":"GET",
        "requestUri":"/domains/{DomainName}/profile-attributes/{AttributeName}/values"
      },
      "input":{"shape":"ProfileAttributeValuesRequest"},
      "output":{"shape":"ProfileAttributeValuesResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Fetch the possible attribute values given the attribute name.</p>"
    },
    "ListProfileObjectTypeTemplates":{
      "name":"ListProfileObjectTypeTemplates",
      "http":{
        "method":"GET",
        "requestUri":"/templates"
      },
      "input":{"shape":"ListProfileObjectTypeTemplatesRequest"},
      "output":{"shape":"ListProfileObjectTypeTemplatesResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists all of the template information for object types.</p>"
    },
    "ListProfileObjectTypes":{
      "name":"ListProfileObjectTypes",
      "http":{
        "method":"GET",
        "requestUri":"/domains/{DomainName}/object-types"
      },
      "input":{"shape":"ListProfileObjectTypesRequest"},
      "output":{"shape":"ListProfileObjectTypesResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists all of the templates available within the service.</p>"
    },
    "ListProfileObjects":{
      "name":"ListProfileObjects",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{DomainName}/profiles/objects"
      },
      "input":{"shape":"ListProfileObjectsRequest"},
      "output":{"shape":"ListProfileObjectsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns a list of objects associated with a profile of a given ProfileObjectType.</p>"
    },
    "ListRuleBasedMatches":{
      "name":"ListRuleBasedMatches",
      "http":{
        "method":"GET",
        "requestUri":"/domains/{DomainName}/profiles/ruleBasedMatches"
      },
      "input":{"shape":"ListRuleBasedMatchesRequest"},
      "output":{"shape":"ListRuleBasedMatchesResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns a set of <code>MatchIds</code> that belong to the given domain.</p>"
    },
    "ListSegmentDefinitions":{
      "name":"ListSegmentDefinitions",
      "http":{
        "method":"GET",
        "requestUri":"/domains/{DomainName}/segment-definitions",
        "responseCode":200
      },
      "input":{"shape":"ListSegmentDefinitionsRequest"},
      "output":{"shape":"ListSegmentDefinitionsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists all segment definitions under a domain.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Displays the tags associated with an Amazon Connect Customer Profiles resource. In Connect Customer Profiles, domains, profile object types, and integrations can be tagged.</p>"
    },
    "ListUploadJobs":{
      "name":"ListUploadJobs",
      "http":{
        "method":"GET",
        "requestUri":"/domains/{DomainName}/upload-jobs",
        "responseCode":200
      },
      "input":{"shape":"ListUploadJobsRequest"},
      "output":{"shape":"ListUploadJobsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>This API retrieves a list of upload jobs for the specified domain. </p>"
    },
    "ListWorkflows":{
      "name":"ListWorkflows",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{DomainName}/workflows"
      },
      "input":{"shape":"ListWorkflowsRequest"},
      "output":{"shape":"ListWorkflowsResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Query to list all workflows.</p>"
    },
    "MergeProfiles":{
      "name":"MergeProfiles",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{DomainName}/profiles/objects/merge"
      },
      "input":{"shape":"MergeProfilesRequest"},
      "output":{"shape":"MergeProfilesResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Runs an AWS Lambda job that does the following:</p> <ol> <li> <p>All the profileKeys in the <code>ProfileToBeMerged</code> will be moved to the main profile.</p> </li> <li> <p>All the objects in the <code>ProfileToBeMerged</code> will be moved to the main profile.</p> </li> <li> <p>All the <code>ProfileToBeMerged</code> will be deleted at the end.</p> </li> <li> <p>All the profileKeys in the <code>ProfileIdsToBeMerged</code> will be moved to the main profile.</p> </li> <li> <p>Standard fields are merged as follows:</p> <ol> <li> <p>Fields are always \"union\"-ed if there are no conflicts in standard fields or attributeKeys.</p> </li> <li> <p>When there are conflicting fields:</p> <ol> <li> <p>If no <code>SourceProfileIds</code> entry is specified, the main Profile value is always taken. </p> </li> <li> <p>If a <code>SourceProfileIds</code> entry is specified, the specified profileId is always taken, even if it is a NULL value.</p> </li> </ol> </li> </ol> </li> </ol> <p>You can use MergeProfiles together with <a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_GetMatches.html\">GetMatches</a>, which returns potentially matching profiles, or use it with the results of another matching system. After profiles have been merged, they cannot be separated (unmerged).</p>"
    },
    "PutIntegration":{
      "name":"PutIntegration",
      "http":{
        "method":"PUT",
        "requestUri":"/domains/{DomainName}/integrations"
      },
      "input":{"shape":"PutIntegrationRequest"},
      "output":{"shape":"PutIntegrationResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Adds an integration between the service and a third-party service, which includes Amazon AppFlow and Amazon Connect.</p> <p>An integration can belong to only one domain.</p> <p>To add or remove tags on an existing Integration, see <a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_TagResource.html\"> TagResource </a>/<a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_UntagResource.html\"> UntagResource</a>.</p>"
    },
    "PutProfileObject":{
      "name":"PutProfileObject",
      "http":{
        "method":"PUT",
        "requestUri":"/domains/{DomainName}/profiles/objects"
      },
      "input":{"shape":"PutProfileObjectRequest"},
      "output":{"shape":"PutProfileObjectResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Adds additional objects to customer profiles of a given ObjectType.</p> <p>When adding a specific profile object, like a Contact Record, an inferred profile can get created if it is not mapped to an existing profile. The resulting profile will only have a phone number populated in the standard ProfileObject. Any additional Contact Records with the same phone number will be mapped to the same inferred profile.</p> <p>When a ProfileObject is created and if a ProfileObjectType already exists for the ProfileObject, it will provide data to a standard profile depending on the ProfileObjectType definition.</p> <p>PutProfileObject needs an ObjectType, which can be created using PutProfileObjectType.</p>"
    },
    "PutProfileObjectType":{
      "name":"PutProfileObjectType",
      "http":{
        "method":"PUT",
        "requestUri":"/domains/{DomainName}/object-types/{ObjectTypeName}"
      },
      "input":{"shape":"PutProfileObjectTypeRequest"},
      "output":{"shape":"PutProfileObjectTypeResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Defines a ProfileObjectType.</p> <p>To add or remove tags on an existing ObjectType, see <a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_TagResource.html\"> TagResource</a>/<a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_UntagResource.html\">UntagResource</a>.</p>"
    },
    "SearchProfiles":{
      "name":"SearchProfiles",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{DomainName}/profiles/search"
      },
      "input":{"shape":"SearchProfilesRequest"},
      "output":{"shape":"SearchProfilesResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Searches for profiles within a specific domain using one or more predefined search keys (e.g., _fullName, _phone, _email, _account, etc.) and/or custom-defined search keys. A search key is a data type pair that consists of a <code>KeyName</code> and <code>Values</code> list.</p> <p>This operation supports searching for profiles with a minimum of 1 key-value(s) pair and up to 5 key-value(s) pairs using either <code>AND</code> or <code>OR</code> logic.</p>"
    },
    "StartUploadJob":{
      "name":"StartUploadJob",
      "http":{
        "method":"PUT",
        "requestUri":"/domains/{DomainName}/upload-jobs/{JobId}",
        "responseCode":200
      },
      "input":{"shape":"StartUploadJobRequest"},
      "output":{"shape":"StartUploadJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>This API starts the processing of an upload job to ingest profile data. </p>"
    },
    "StopUploadJob":{
      "name":"StopUploadJob",
      "http":{
        "method":"PUT",
        "requestUri":"/domains/{DomainName}/upload-jobs/{JobId}/stop",
        "responseCode":200
      },
      "input":{"shape":"StopUploadJobRequest"},
      "output":{"shape":"StopUploadJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>This API stops the processing of an upload job. </p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Assigns one or more tags (key-value pairs) to the specified Amazon Connect Customer Profiles resource. Tags can help you organize and categorize your resources. You can also use them to scope user permissions by granting a user permission to access or change only resources with certain tag values. In Connect Customer Profiles, domains, profile object types, and integrations can be tagged.</p> <p>Tags don't have any semantic meaning to AWS and are interpreted strictly as strings of characters.</p> <p>You can use the TagResource action with a resource that already has tags. If you specify a new tag key, this tag is appended to the list of tags associated with the resource. If you specify a tag key that is already associated with the resource, the new tag value that you specify replaces the previous value for that tag.</p> <p>You can associate as many as 50 tags with a resource.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Removes one or more tags from the specified Amazon Connect Customer Profiles resource. In Connect Customer Profiles, domains, profile object types, and integrations can be tagged.</p>"
    },
    "UpdateCalculatedAttributeDefinition":{
      "name":"UpdateCalculatedAttributeDefinition",
      "http":{
        "method":"PUT",
        "requestUri":"/domains/{DomainName}/calculated-attributes/{CalculatedAttributeName}"
      },
      "input":{"shape":"UpdateCalculatedAttributeDefinitionRequest"},
      "output":{"shape":"UpdateCalculatedAttributeDefinitionResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates an existing calculated attribute definition. When updating the Conditions, note that increasing the date range of a calculated attribute will not trigger inclusion of historical data greater than the current date range.</p>"
    },
    "UpdateDomain":{
      "name":"UpdateDomain",
      "http":{
        "method":"PUT",
        "requestUri":"/domains/{DomainName}"
      },
      "input":{"shape":"UpdateDomainRequest"},
      "output":{"shape":"UpdateDomainResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates the properties of a domain, including creating or selecting a dead letter queue or an encryption key.</p> <p>After a domain is created, the name can’t be changed.</p> <p>Use this API or <a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_CreateDomain.html\">CreateDomain</a> to enable <a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_GetMatches.html\">identity resolution</a>: set <code>Matching</code> to true.</p> <p>To prevent cross-service impersonation when you call this API, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/cross-service-confused-deputy-prevention.html\">Cross-service confused deputy prevention</a> for sample policies that you should apply. </p> <p>To add or remove tags on an existing Domain, see <a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_TagResource.html\">TagResource</a>/<a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_UntagResource.html\">UntagResource</a>.</p>"
    },
    "UpdateDomainLayout":{
      "name":"UpdateDomainLayout",
      "http":{
        "method":"PUT",
        "requestUri":"/domains/{DomainName}/layouts/{LayoutDefinitionName}"
      },
      "input":{"shape":"UpdateDomainLayoutRequest"},
      "output":{"shape":"UpdateDomainLayoutResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates the layout used to view data for a specific domain. This API can only be invoked from the Amazon Connect admin website.</p>"
    },
    "UpdateEventTrigger":{
      "name":"UpdateEventTrigger",
      "http":{
        "method":"PUT",
        "requestUri":"/domains/{DomainName}/event-triggers/{EventTriggerName}"
      },
      "input":{"shape":"UpdateEventTriggerRequest"},
      "output":{"shape":"UpdateEventTriggerResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Update the properties of an Event Trigger.</p>"
    },
    "UpdateProfile":{
      "name":"UpdateProfile",
      "http":{
        "method":"PUT",
        "requestUri":"/domains/{DomainName}/profiles"
      },
      "input":{"shape":"UpdateProfileRequest"},
      "output":{"shape":"UpdateProfileResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates the properties of a profile. The ProfileId is required for updating a customer profile.</p> <p>When calling the UpdateProfile API, specifying an empty string value means that any existing value will be removed. Not specifying a string value means that any value already there will be kept.</p>"
    }
  },
  "shapes":{
    "name":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"^[a-zA-Z0-9_-]+$"
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"message"}
      },
      "documentation":"<p>You do not have sufficient access to perform this action.</p>",
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "AddProfileKeyRequest":{
      "type":"structure",
      "required":[
        "ProfileId",
        "KeyName",
        "Values",
        "DomainName"
      ],
      "members":{
        "ProfileId":{
          "shape":"uuid",
          "documentation":"<p>The unique identifier of a customer profile.</p>"
        },
        "KeyName":{
          "shape":"name",
          "documentation":"<p>A searchable identifier of a customer profile. The predefined keys you can use include: _account, _profileId, _assetId, _caseId, _orderId, _fullName, _phone, _email, _ctrContactId, _marketoLeadId, _salesforceAccountId, _salesforceContactId, _salesforceAssetId, _zendeskUserId, _zendeskExternalId, _zendeskTicketId, _serviceNowSystemId, _serviceNowIncidentId, _segmentUserId, _shopifyCustomerId, _shopifyOrderId.</p>"
        },
        "Values":{
          "shape":"requestValueList",
          "documentation":"<p>A list of key values.</p>"
        },
        "DomainName":{
          "shape":"name",
          "documentation":"<p>The unique name of the domain.</p>",
          "location":"uri",
          "locationName":"DomainName"
        }
      }
    },
    "AddProfileKeyResponse":{
      "type":"structure",
      "members":{
        "KeyName":{
          "shape":"name",
          "documentation":"<p>A searchable identifier of a customer profile.</p>"
        },
        "Values":{
          "shape":"requestValueList",
          "documentation":"<p>A list of key values.</p>"
        }
      }
    },
    "AdditionalSearchKey":{
      "type":"structure",
      "required":[
        "KeyName",
        "Values"
      ],
      "members":{
        "KeyName":{
          "shape":"name",
          "documentation":"<p>A searchable identifier of a customer profile.</p>"
        },
        "Values":{
          "shape":"requestValueList",
          "documentation":"<p>A list of key values.</p>"
        }
      },
      "documentation":"<p>A data type pair that consists of a <code>KeyName</code> and <code>Values</code> list that is used in conjunction with the <a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_SearchProfiles.html#customerprofiles-SearchProfiles-request-KeyName\">KeyName</a> and <a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_SearchProfiles.html#customerprofiles-SearchProfiles-request-Values\">Values</a> parameters to search for profiles using the <a href=\"https://docs.aws.amazon.com/customerprofiles/latest/APIReference/API_SearchProfiles.html\">SearchProfiles</a> API.</p>"
    },
    "Address":{
      "type":"structure",
      "members":{
        "Address1":{
          "shape":"string1To255",
          "documentation":"<p>The first line of a customer address.</p>"
        },
        "Address2":{
          "shape":"string1To255",
          "documentation":"<p>The second line of a customer address.</p>"
        },
        "Address3":{
          "shape":"string1To255",
          "documentation":"<p>The third line of a customer address.</p>"
        },
        "Address4":{
          "shape":"string1To255",
          "documentation":"<p>The fourth line of a customer address.</p>"
        },
        "City":{
          "shape":"string1To255",
          "documentation":"<p>The city in which a customer lives.</p>"
        },
        "County":{
          "shape":"string1To255",
          "documentation":"<p>The county in which a customer lives.</p>"
        },
        "State":{
          "shape":"string1To255",
          "documentation":"<p>The state in which a customer lives.</p>"
        },
        "Province":{
          "shape":"string1To255",
          "documentation":"<p>The province in which a customer lives.</p>"
        },
        "Country":{
          "shape":"string1To255",
          "documentation":"<p>The country in which a customer lives.</p>"
        },
        "PostalCode":{
          "shape":"string1To255",
          "documentation":"<p>The postal code of a customer address.</p>"
        }
      },
      "documentation":"<p>A generic address associated with the customer that is not mailing, shipping, or billing.</p>",
      "sensitive":true
    },
    "AddressDimension":{
      "type":"structure",
      "members":{
        "City":{
          "shape":"ProfileDimension",
          "documentation":"<p>The city belonging to the address.</p>",
          "locationName":"City"
        },
        "Country":{
          "shape":"ProfileDimension",
          "documentation":"<p>The country belonging to the address.</p>",
          "locationName":"Country"
        },
        "County":{
          "shape":"ProfileDimension",
          "documentation":"<p>The county belonging to the address.</p>",
          "locationName":"County"
        },
        "PostalCode":{
          "shape":"ProfileDimension",
          "documentation":"<p>The postal code belonging to the address.</p>",
          "locationName":"PostalCode"
        },
        "Province":{
          "shape":"ProfileDimension",
          "documentation":"<p>The province belonging to the address.</p>",
          "locationName":"Province"
        },
        "State":{
          "shape":"ProfileDimension",
          "documentation":"<p>The state belonging to the address.</p>",
          "locationName":"State"
        }
      },
      "documentation":"<p>Object that segments on Customer Profile's address object.</p>"
    },
    "AddressList":{
      "type":"list",
      "member":{"shape":"string1To255"},
      "max":4,
      "min":1
    },
    "AppflowIntegration":{
      "type":"structure",
      "required":["FlowDefinition"],
      "members":{
        "FlowDefinition":{"shape":"FlowDefinition"},
        "Batches":{
          "shape":"Batches",
          "documentation":"<p>Batches in workflow of type <code>APPFLOW_INTEGRATION</code>.</p>"
        }
      },
      "documentation":"<p>Details for workflow of type <code>APPFLOW_INTEGRATION</code>.</p>"
    },
    "AppflowIntegrationWorkflowAttributes":{
      "type":"structure",
      "required":[
        "SourceConnectorType",
        "ConnectorProfileName"
      ],
      "members":{
        "SourceConnectorType":{
          "shape":"SourceConnectorType",
          "documentation":"<p>Specifies the source connector type, such as Salesforce, ServiceNow, and Marketo. Indicates source of ingestion.</p>"
        },
        "ConnectorProfileName":{
          "shape":"ConnectorProfileName",
          "documentation":"<p>The name of the AppFlow connector profile used for ingestion.</p>"
        },
        "RoleArn":{
          "shape":"string1To255",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role. Customer Profiles assumes this role to create resources on your behalf as part of workflow execution.</p>"
        }
      },
      "documentation":"<p>Structure holding all <code>APPFLOW_INTEGRATION</code> specific workflow attributes.</p>"
    },
    "AppflowIntegrationWorkflowMetrics":{
      "type":"structure",
      "required":[
        "RecordsProcessed",
        "StepsCompleted",
        "TotalSteps"
      ],
      "members":{
        "RecordsProcessed":{
          "shape":"long",
          "documentation":"<p>Number of records processed in <code>APPFLOW_INTEGRATION</code> workflow.</p>"
        },
        "StepsCompleted":{
          "shape":"long",
          "documentation":"<p>Total steps completed in <code>APPFLOW_INTEGRATION</code> workflow.</p>"
        },
        "TotalSteps":{
          "shape":"long",
          "documentation":"<p>Total steps in <code>APPFLOW_INTEGRATION</code> workflow.</p>"
        }
      },
      "documentation":"<p>Workflow specific execution metrics for <code>APPFLOW_INTEGRATION</code> workflow.</p>"
    },
    "AppflowIntegrationWorkflowStep":{
      "type":"structure",
      "required":[
        "FlowName",
        "Status",
        "ExecutionMessage",
        "RecordsProcessed",
        "BatchRecordsStartTime",
        "BatchRecordsEndTime",
        "CreatedAt",
        "LastUpdatedAt"
      ],
      "members":{
        "FlowName":{
          "shape":"FlowName",
          "documentation":"<p>Name of the flow created during execution of workflow step. <code>APPFLOW_INTEGRATION</code> workflow type creates an appflow flow during workflow step execution on the customers behalf.</p>"
        },
        "Status":{
          "shape":"Status",
          "documentation":"<p>Workflow step status for <code>APPFLOW_INTEGRATION</code> workflow.</p>"
        },
        "ExecutionMessage":{
          "shape":"string1To255",
          "documentation":"<p>Message indicating execution of workflow step for <code>APPFLOW_INTEGRATION</code> workflow.</p>"
        },
        "RecordsProcessed":{
          "shape":"long",
          "documentation":"<p>Total number of records processed during execution of workflow step for <code>APPFLOW_INTEGRATION</code> workflow.</p>"
        },
        "BatchRecordsStartTime":{
          "shape":"string1To255",
          "documentation":"<p>Start datetime of records pulled in batch during execution of workflow step for <code>APPFLOW_INTEGRATION</code> workflow.</p>"
        },
        "BatchRecordsEndTime":{
          "shape":"string1To255",
          "documentation":"<p>End datetime of records pulled in batch during execution of workflow step for <code>APPFLOW_INTEGRATION</code> workflow.</p>"
        },
        "CreatedAt":{
          "shape":"timestamp",
          "documentation":"<p>Creation timestamp of workflow step for <code>APPFLOW_INTEGRATION</code> workflow.</p>"
        },
        "LastUpdatedAt":{
          "shape":"timestamp",
          "documentation":"<p>Last updated timestamp for workflow step for <code>APPFLOW_INTEGRATION</code> workflow.</p>"
        }
      },
      "documentation":"<p>Workflow step details for <code>APPFLOW_INTEGRATION</code> workflow.</p>"
    },
    "AttributeDetails":{
      "type":"structure",
      "required":[
        "Attributes",
        "Expression"
      ],
      "members":{
        "Attributes":{
          "shape":"AttributeList",
          "documentation":"<p>A list of attribute items specified in the mathematical expression.</p>"
        },
        "Expression":{
          "shape":"string1To255",
          "documentation":"<p>Mathematical expression that is performed on attribute items provided in the attribute list. Each element in the expression should follow the structure of \\\"{ObjectTypeName.AttributeName}\\\".</p>"
        }
      },
      "documentation":"<p>Mathematical expression and a list of attribute items specified in that expression.</p>",
      "sensitive":true
    },
    "AttributeDimension":{
      "type":"structure",
      "required":[
        "DimensionType",
        "Values"
      ],
      "members":{
        "DimensionType":{
          "shape":"AttributeDimensionType",
          "documentation":"<p>The action to segment with.</p>",
          "locationName":"DimensionType"
        },
        "Values":{
          "shape":"Values",
          "documentation":"<p>The values to apply the DimensionType on.</p>",
          "locationName":"Values"
        }
      },
      "documentation":"<p>Object that segments on various Customer Profile's fields.</p>"
    },
    "AttributeDimensionType":{
      "type":"string",
      "enum":[
        "INCLUSIVE",
        "EXCLUSIVE",
        "CONTAINS",
        "BEGINS_WITH",
        "ENDS_WITH",
        "BEFORE",
        "AFTER",
        "BETWEEN",
        "NOT_BETWEEN",
        "ON",
        "GREATER_THAN",
        "LESS_THAN",
        "GREATER_THAN_OR_EQUAL",
        "LESS_THAN_OR_EQUAL",
        "EQUAL"
      ]
    },
    "AttributeItem":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"attributeName",
          "documentation":"<p>The name of an attribute defined in a profile object type.</p>"
        }
      },
      "documentation":"<p>The details of a single attribute item specified in the mathematical expression.</p>"
    },
    "AttributeList":{
      "type":"list",
      "member":{"shape":"AttributeItem"},
      "max":50,
      "min":1
    },
    "AttributeMap":{
      "type":"map",
      "key":{"shape":"attributeName"},
      "value":{"shape":"FilterAttributeDimension"}
    },
    "AttributeMatchingModel":{
      "type":"string",
      "enum":[
        "ONE_TO_ONE",
        "MANY_TO_MANY"
      ]
    },
    "AttributeSourceIdMap":{
      "type":"map",
      "key":{"shape":"string1To255"},
      "value":{"shape":"uuid"}
    },
    "AttributeTypesSelector":{
      "type":"structure",
      "required":["AttributeMatchingModel"],
      "members":{
        "AttributeMatchingModel":{
          "shape":"AttributeMatchingModel",
          "documentation":"<p>Configures the <code>AttributeMatchingModel</code>, you can either choose <code>ONE_TO_ONE</code> or <code>MANY_TO_MANY</code>.</p>"
        },
        "Address":{
          "shape":"AddressList",
          "documentation":"<p>The <code>Address</code> type. You can choose from <code>Address</code>, <code>BusinessAddress</code>, <code>MaillingAddress</code>, and <code>ShippingAddress</code>.</p> <p>You only can use the Address type in the <code>MatchingRule</code>. For example, if you want to match profile based on <code>BusinessAddress.City</code> or <code>MaillingAddress.City</code>, you need to choose the <code>BusinessAddress</code> and the <code>MaillingAddress</code> to represent the Address type and specify the <code>Address.City</code> on the matching rule.</p>"
        },
        "PhoneNumber":{
          "shape":"PhoneNumberList",
          "documentation":"<p>The <code>PhoneNumber</code> type. You can choose from <code>PhoneNumber</code>, <code>HomePhoneNumber</code>, and <code>MobilePhoneNumber</code>.</p> <p>You only can use the <code>PhoneNumber</code> type in the <code>MatchingRule</code>. For example, if you want to match a profile based on <code>Phone</code> or <code>HomePhone</code>, you need to choose the <code>Phone</code> and the <code>HomePhone</code> to represent the <code>PhoneNumber</code> type and only specify the <code>PhoneNumber</code> on the matching rule.</p>"
        },
        "EmailAddress":{
          "shape":"EmailList",
          "documentation":"<p>The <code>Email</code> type. You can choose from <code>EmailAddress</code>, <code>BusinessEmailAddress</code> and <code>PersonalEmailAddress</code>.</p> <p>You only can use the <code>EmailAddress</code> type in the <code>MatchingRule</code>. For example, if you want to match profile based on <code>PersonalEmailAddress</code> or <code>BusinessEmailAddress</code>, you need to choose the <code>PersonalEmailAddress</code> and the <code>BusinessEmailAddress</code> to represent the <code>EmailAddress</code> type and only specify the <code>EmailAddress</code> on the matching rule.</p>"
        }
      },
      "documentation":"<p>Configuration information about the <code>AttributeTypesSelector </code>where the rule-based identity resolution uses to match profiles. You can choose how profiles are compared across attribute types and which attribute to use for matching from each type. There are three attribute types you can configure:</p> <ul> <li> <p>Email type</p> <ul> <li> <p>You can choose from <code>Email</code>, <code>BusinessEmail</code>, and <code>PersonalEmail</code> </p> </li> </ul> </li> <li> <p>Phone number type</p> <ul> <li> <p>You can choose from <code>Phone</code>, <code>HomePhone</code>, and <code>MobilePhone</code> </p> </li> </ul> </li> <li> <p>Address type</p> <ul> <li> <p>You can choose from <code>Address</code>, <code>BusinessAddress</code>, <code>MaillingAddress</code>, and <code>ShippingAddress</code> </p> </li> </ul> </li> </ul> <p>You can either choose <code>ONE_TO_ONE</code> or <code>MANY_TO_MANY</code> as the <code>AttributeMatchingModel</code>. When choosing <code>MANY_TO_MANY</code>, the system can match attribute across the sub-types of an attribute type. For example, if the value of the <code>Email</code> field of Profile A and the value of <code>BusinessEmail</code> field of Profile B matches, the two profiles are matched on the Email type. When choosing <code>ONE_TO_ONE</code> the system can only match if the sub-types are exact matches. For example, only when the value of the <code>Email</code> field of Profile A and the value of the <code>Email</code> field of Profile B matches, the two profiles are matched on the Email type.</p>"
    },
    "AttributeValueItem":{
      "type":"structure",
      "members":{
        "Value":{
          "shape":"string1To255",
          "documentation":"<p>An individual value belonging to the given attribute.</p>"
        }
      },
      "documentation":"<p>List containing the values for the given attribute.</p>"
    },
    "AttributeValueItemList":{
      "type":"list",
      "member":{"shape":"AttributeValueItem"}
    },
    "Attributes":{
      "type":"map",
      "key":{"shape":"string1To255"},
      "value":{"shape":"string1To255"},
      "sensitive":true
    },
    "AutoMerging":{
      "type":"structure",
      "required":["Enabled"],
      "members":{
        "Enabled":{
          "shape":"optionalBoolean",
          "documentation":"<p>The flag that enables the auto-merging of duplicate profiles.</p>"
        },
        "Consolidation":{
          "shape":"Consolidation",
          "documentation":"<p>A list of matching attributes that represent matching criteria. If two profiles meet at least one of the requirements in the matching attributes list, they will be merged.</p>"
        },
        "ConflictResolution":{
          "shape":"ConflictResolution",
          "documentation":"<p>How the auto-merging process should resolve conflicts between different profiles. For example, if Profile A and Profile B have the same <code>FirstName</code> and <code>LastName</code> (and that is the matching criteria), which <code>EmailAddress</code> should be used? </p>"
        },
        "MinAllowedConfidenceScoreForMerging":{
          "shape":"Double0To1",
          "documentation":"<p>A number between 0 and 1 that represents the minimum confidence score required for profiles within a matching group to be merged during the auto-merge process. A higher score means higher similarity required to merge profiles. </p>"
        }
      },
      "documentation":"<p>Configuration settings for how to perform the auto-merging of profiles.</p>"
    },
    "BadRequestException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"message"}
      },
      "documentation":"<p>The input you provided is invalid.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "Batch":{
      "type":"structure",
      "required":[
        "StartTime",
        "EndTime"
      ],
      "members":{
        "StartTime":{
          "shape":"timestamp",
          "documentation":"<p>Start time of batch to split ingestion.</p>"
        },
        "EndTime":{
          "shape":"timestamp",
          "documentation":"<p>End time of batch to split ingestion.</p>"
        }
      },
      "documentation":"<p>Batch defines the boundaries for ingestion for each step in <code>APPFLOW_INTEGRATION</code> workflow. <code>APPFLOW_INTEGRATION</code> workflow splits ingestion based on these boundaries.</p>"
    },
    "BatchGetCalculatedAttributeForProfileError":{
      "type":"structure",
      "required":[
        "Code",
        "Message",
        "ProfileId"
      ],
      "members":{
        "Code":{
          "shape":"string1To255",
          "documentation":"<p>Status code for why a specific profile and calculated attribute failed.</p>"
        },
        "Message":{
          "shape":"string1To1000",
          "documentation":"<p>Message describing why a specific profile and calculated attribute failed.</p>"
        },
        "ProfileId":{
          "shape":"uuid",
          "documentation":"<p>The profile id that failed.</p>"
        }
      },
      "documentation":"<p>Error object describing why a specific profile and calculated attribute failed.</p>"
    },
    "BatchGetCalculatedAttributeForProfileErrorList":{
      "type":"list",
      "member":{"shape":"BatchGetCalculatedAttributeForProfileError"}
    },
    "BatchGetCalculatedAttributeForProfileIdList":{
      "type":"list",
      "member":{"shape":"uuid"},
      "max":100,
      "min":1
    },
    "BatchGetCalculatedAttributeForProfileRequest":{
      "type":"structure",
      "required":[
        "CalculatedAttributeName",
        "DomainName",
        "ProfileIds"
      ],
      "members":{
        "CalculatedAttributeName":{
          "shape":"typeName",
          "documentation":"<p>The unique name of the calculated attribute.</p>",
          "location":"uri",
          "locationName":"CalculatedAttributeName"
        },
        "DomainName":{
          "shape":"name",
          "documentation":"<p>The unique name of the domain.</p>",
          "location":"uri",
          "locationName":"DomainName"
        },
        "ProfileIds":{
          "shape":"BatchGetCalculatedAttributeForProfileIdList",
          "documentation":"<p>List of unique identifiers for customer profiles to retrieve.</p>"
        },
        "ConditionOverrides":{
          "shape":"ConditionOverrides",
          "documentation":"<p>Overrides the condition block within the original calculated attribute definition.</p>"
        }
      }
    },
    "BatchGetCalculatedAttributeForProfileResponse":{
      "type":"structure",
      "members":{
        "Errors":{
          "shape":"BatchGetCalculatedAttributeForProfileErrorList",
          "documentation":"<p>List of errors for calculated attribute values that could not be retrieved.</p>"
        },
        "CalculatedAttributeValues":{
          "shape":"CalculatedAttributeValueList",
          "documentation":"<p>List of calculated attribute values retrieved.</p>"
        },
        "ConditionOverrides":{
          "shape":"ConditionOverrides",
          "documentation":"<p>Overrides the condition block within the original calculated attribute definition.</p>"
        }
      }
    },
    "BatchGetProfileError":{
      "type":"structure",
      "required":[
        "Code",
        "Message",
        "ProfileId"
      ],
      "members":{
        "Code":{
          "shape":"string1To255",
          "documentation":"<p>Status code for why a specific profile failed.</p>"
        },
        "Message":{
          "shape":"string1To1000",
          "documentation":"<p>Message describing why a specific profile failed.</p>"
        },
        "ProfileId":{
          "shape":"uuid",
          "documentation":"<p>The profile id that failed.</p>"
        }
      },
      "documentation":"<p>Error object describing why a specific profile failed.</p>"
    },
    "BatchGetProfileErrorList":{
      "type":"list",
      "member":{"shape":"BatchGetProfileError"}
    },
    "BatchGetProfileIdList":{
      "type":"list",
      "member":{"shape":"uuid"},
      "max":20,
      "min":1
    },
    "BatchGetProfileRequest":{
      "type":"structure",
      "required":[
        "DomainName",
        "ProfileIds"
      ],
      "members":{
        "DomainName":{
          "shape":"name",
          "documentation":"<p>The unique name of the domain.</p>",
          "location":"uri",
          "locationName":"DomainName"
        },
        "ProfileIds":{
          "shape":"BatchGetProfileIdList",
          "documentation":"<p>List of unique identifiers for customer profiles to retrieve.</p>"
        }
      }
    },
    "BatchGetProfileResponse":{
      "type":"structure",
      "members":{
        "Errors":{
          "shape":"BatchGetProfileErrorList",
          "documentation":"<p>For information about the errors that are common to all actions, see <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/CommonErrors.html\">Common Errors</a>.</p>"
        },
        "Profiles":{
          "shape":"ProfileList",
          "documentation":"<p>Array of Profile Objects.</p>"
        }
      }
    },
    "Batches":{
      "type":"list",
      "member":{"shape":"Batch"}
    },
    "BucketName":{
      "type":"string",
      "max":63,
      "min":3,
      "pattern":"\\S+"
    },
    "BucketPrefix":{
      "type":"string",
      "max":512,
      "pattern":".*"
    },
    "CalculatedAttributeDefinitionsList":{
      "type":"list",
      "member":{"shape":"ListCalculatedAttributeDefinitionItem"},
      "sensitive":true
    },
    "CalculatedAttributeDimension":{
      "type":"structure",
      "required":[
        "DimensionType",
        "Values"
      ],
      "members":{
        "DimensionType":{
          "shape":"AttributeDimensionType",
          "documentation":"<p>The action to segment with.</p>",
          "locationName":"DimensionType"
        },
        "Values":{
          "shape":"Values",
          "documentation":"<p>The values to apply the DimensionType with.</p>",
          "locationName":"Values"
        },
        "ConditionOverrides":{
          "shape":"ConditionOverrides",
          "documentation":"<p>Applies the given condition over the initial Calculated Attribute's definition.</p>",
          "locationName":"ConditionOverrides"
        }
      },
      "documentation":"<p>Object that segments on Customer Profile's Calculated Attributes.</p>"
    },
    "CalculatedAttributeValue":{
      "type":"structure",
      "members":{
        "CalculatedAttributeName":{
          "shape":"typeName",
          "documentation":"<p>The unique name of the calculated attribute.</p>"
        },
        "DisplayName":{
          "shape":"displayName",
          "documentation":"<p>The display name of the calculated attribute.</p>"
        },
        "IsDataPartial":{
          "shape":"string1To255",
          "documentation":"<p>Indicates whether the calculated attribute's value is based on partial data. If the data is partial, it is set to true.</p>"
        },
        "ProfileId":{
          "shape":"uuid",
          "documentation":"<p>The profile id belonging to this calculated attribute value.</p>"
        },
        "Value":{
          "shape":"string1To255",
          "documentation":"<p>The value of the calculated attribute.</p>"
        },
        "LastObjectTimestamp":{
          "shape":"timestamp",
          "documentation":"<p>The timestamp of the newest object included in the calculated attribute calculation.</p>"
        }
      },
      "documentation":"<p>The object containing the values of a single calculated attribute value.</p>"
    },
    "CalculatedAttributeValueList":{
      "type":"list",
      "member":{"shape":"CalculatedAttributeValue"}
    },
    "CalculatedAttributesForProfileList":{
      "type":"list",
      "member":{"shape":"ListCalculatedAttributeForProfileItem"}
    },
    "CalculatedCustomAttributes":{
      "type":"map",
      "key":{"shape":"typeName"},
      "value":{"shape":"CalculatedAttributeDimension"}
    },
    "ComparisonOperator":{
      "type":"string",
      "enum":[
        "INCLUSIVE",
        "EXCLUSIVE",
        "CONTAINS",
        "BEGINS_WITH",
        "ENDS_WITH",
        "GREATER_THAN",
        "LESS_THAN",
        "GREATER_THAN_OR_EQUAL",
        "LESS_THAN_OR_EQUAL",
        "EQUAL",
        "BEFORE",
        "AFTER",
        "ON",
        "BETWEEN",
        "NOT_BETWEEN"
      ]
    },
    "ConditionOverrides":{
      "type":"structure",
      "members":{
        "Range":{
          "shape":"RangeOverride",
          "documentation":"<p>The relative time period over which data is included in the aggregation for this override.</p>"
        }
      },
      "documentation":"<p>An object to override the original condition block of a calculated attribute.</p>",
      "sensitive":true
    },
    "Conditions":{
      "type":"structure",
      "members":{
        "Range":{
          "shape":"Range",
          "documentation":"<p>The relative time period over which data is included in the aggregation.</p>"
        },
        "ObjectCount":{
          "shape":"ObjectCount",
          "documentation":"<p>The number of profile objects used for the calculated attribute.</p>"
        },
        "Threshold":{
          "shape":"Threshold",
          "documentation":"<p>The threshold for the calculated attribute.</p>"
        }
      },
      "documentation":"<p>The conditions including range, object count, and threshold for the calculated attribute.</p>",
      "sensitive":true
    },
    "ConflictResolution":{
      "type":"structure",
      "required":["ConflictResolvingModel"],
      "members":{
        "ConflictResolvingModel":{
          "shape":"ConflictResolvingModel",
          "documentation":"<p>How the auto-merging process should resolve conflicts between different profiles.</p> <ul> <li> <p> <code>RECENCY</code>: Uses the data that was most recently updated.</p> </li> <li> <p> <code>SOURCE</code>: Uses the data from a specific source. For example, if a company has been aquired or two departments have merged, data from the specified source is used. If two duplicate profiles are from the same source, then <code>RECENCY</code> is used again.</p> </li> </ul>"
        },
        "SourceName":{
          "shape":"string1To255",
          "documentation":"<p>The <code>ObjectType</code> name that is used to resolve profile merging conflicts when choosing <code>SOURCE</code> as the <code>ConflictResolvingModel</code>.</p>"
        }
      },
      "documentation":"<p>How the auto-merging process should resolve conflicts between different profiles.</p>"
    },
    "ConflictResolvingModel":{
      "type":"string",
      "enum":[
        "RECENCY",
        "SOURCE"
      ]
    },
    "ConnectorOperator":{
      "type":"structure",
      "members":{
        "Marketo":{
          "shape":"MarketoConnectorOperator",
          "documentation":"<p>The operation to be performed on the provided Marketo source fields.</p>"
        },
        "S3":{
          "shape":"S3ConnectorOperator",
          "documentation":"<p>The operation to be performed on the provided Amazon S3 source fields.</p>"
        },
        "Salesforce":{
          "shape":"SalesforceConnectorOperator",
          "documentation":"<p>The operation to be performed on the provided Salesforce source fields.</p>"
        },
        "ServiceNow":{
          "shape":"ServiceNowConnectorOperator",
          "documentation":"<p>The operation to be performed on the provided ServiceNow source fields.</p>"
        },
        "Zendesk":{
          "shape":"ZendeskConnectorOperator",
          "documentation":"<p>The operation to be performed on the provided Zendesk source fields.</p>"
        }
      },
      "documentation":"<p>The operation to be performed on the provided source fields.</p>"
    },
    "ConnectorProfileName":{
      "type":"string",
      "max":256,
      "pattern":"[\\w/!@#+=.-]+"
    },
    "Consolidation":{
      "type":"structure",
      "required":["MatchingAttributesList"],
      "members":{
        "MatchingAttributesList":{
          "shape":"MatchingAttributesList",
          "documentation":"<p>A list of matching criteria.</p>"
        }
      },
      "documentation":"<p>The matching criteria to be used during the auto-merging process. </p>"
    },
    "ContactPreference":{
      "type":"structure",
      "members":{
        "KeyName":{
          "shape":"name",
          "documentation":"<p>A searchable, unique identifier of a customer profile.</p>"
        },
        "KeyValue":{
          "shape":"string1To255",
          "documentation":"<p>The key value used to look up profile based off the keyName.</p>"
        },
        "ProfileId":{
          "shape":"uuid",
          "documentation":"<p>The unique identifier of a customer profile.</p>"
        },
        "ContactType":{
          "shape":"ContactType",
          "documentation":"<p>The contact type used for engagement. For example: HomePhoneNumber, PersonalEmailAddress.</p>"
        }
      },
      "documentation":"<p>Object that defines users contact preference.</p>"
    },
    "ContactType":{
      "type":"string",
      "enum":[
        "PhoneNumber",
        "MobilePhoneNumber",
        "HomePhoneNumber",
        "BusinessPhoneNumber",
        "EmailAddress",
        "PersonalEmailAddress",
        "BusinessEmailAddress"
      ]
    },
    "CreateCalculatedAttributeDefinitionRequest":{
      "type":"structure",
      "required":[
        "DomainName",
        "CalculatedAttributeName",
        "AttributeDetails",
        "Statistic"
      ],
      "members":{
        "DomainName":{
          "shape":"name",
          "documentation":"<p>The unique name of the domain.</p>",
          "location":"uri",
          "locationName":"DomainName"
        },
        "CalculatedAttributeName":{
          "shape":"typeName",
          "documentation":"<p>The unique name of the calculated attribute.</p>",
          "location":"uri",
          "locationName":"CalculatedAttributeName"
        },
        "DisplayName":{
          "shape":"displayName",
          "documentation":"<p>The display name of the calculated attribute.</p>"
        },
        "Description":{
          "shape":"sensitiveText",
          "documentation":"<p>The description of the calculated attribute.</p>"
        },
        "AttributeDetails":{
          "shape":"AttributeDetails",
          "documentation":"<p>Mathematical expression and a list of attribute items specified in that expression.</p>"
        },
        "Conditions":{
          "shape":"Conditions",
          "documentation":"<p>The conditions including range, object count, and threshold for the calculated attribute.</p>"
        },
        "Filter":{
          "shape":"Filter",
          "documentation":"<p>Defines how to filter incoming objects to include part of the Calculated Attribute.</p>"
        },
        "Statistic":{
          "shape":"Statistic",
          "documentation":"<p>The aggregation operation to perform for the calculated attribute.</p>"
        },
        "UseHistoricalData":{
          "shape":"optionalBoolean",
          "documentation":"<p>Whether historical data ingested before the Calculated Attribute was created should be included in calculations.</p>"
        },
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags used to organize, track, or control access for this resource.</p>"
        }
      }
    },
    "CreateCalculatedAttributeDefinitionResponse":{
      "type":"structure",
      "members":{
        "CalculatedAttributeName":{
          "shape":"typeName",
          "documentation":"<p>The unique name of the calculated attribute.</p>"
        },
        "DisplayName":{
          "shape":"displayName",
          "documentation":"<p>The display name of the calculated attribute.</p>"
        },
        "Description":{
          "shape":"sensitiveText",
          "documentation":"<p>The description of the calculated attribute.</p>"
        },
        "AttributeDetails":{
[...]
