{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2013-06-30",
    "endpointPrefix":"storagegateway",
    "jsonVersion":"1.1",
    "protocol":"json",
    "protocols":["json"],
    "serviceFullName":"AWS Storage Gateway",
    "serviceId":"Storage Gateway",
    "signatureVersion":"v4",
    "targetPrefix":"StorageGateway_20130630",
    "uid":"storagegateway-2013-06-30",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "ActivateGateway":{
      "name":"ActivateGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ActivateGatewayInput"},
      "output":{"shape":"ActivateGatewayOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Activates the gateway you previously deployed on your host. In the activation process, you specify information such as the Amazon Web Services Region that you want to use for storing snapshots or tapes, the time zone for scheduled snapshots the gateway snapshot schedule window, an activation key, and a name for your gateway. The activation process also associates your gateway with your account. For more information, see <a>UpdateGatewayInformation</a>.</p> <note> <p>You must turn on the gateway VM before you can activate your gateway.</p> </note>"
    },
    "AddCache":{
      "name":"AddCache",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddCacheInput"},
      "output":{"shape":"AddCacheOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Configures one or more gateway local disks as cache for a gateway. This operation is only supported in the cached volume, tape, and file gateway type (see <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/StorageGatewayConcepts.html\">How Storage Gateway works (architecture)</a>.</p> <p>In the request, you specify the gateway Amazon Resource Name (ARN) to which you want to add cache, and one or more disk IDs that you want to configure as cache.</p>"
    },
    "AddTagsToResource":{
      "name":"AddTagsToResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddTagsToResourceInput"},
      "output":{"shape":"AddTagsToResourceOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Adds one or more tags to the specified resource. You use tags to add metadata to resources, which you can use to categorize these resources. For example, you can categorize resources by purpose, owner, environment, or team. Each tag consists of a key and a value, which you define. You can add tags to the following Storage Gateway resources:</p> <ul> <li> <p>Storage gateways of all types</p> </li> <li> <p>Storage volumes</p> </li> <li> <p>Virtual tapes</p> </li> <li> <p>NFS and SMB file shares</p> </li> <li> <p>File System associations</p> </li> </ul> <p>You can create a maximum of 50 tags for each resource. Virtual tapes and storage volumes that are recovered to a new gateway maintain their tags.</p>"
    },
    "AddUploadBuffer":{
      "name":"AddUploadBuffer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddUploadBufferInput"},
      "output":{"shape":"AddUploadBufferOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Configures one or more gateway local disks as upload buffer for a specified gateway. This operation is supported for the stored volume, cached volume, and tape gateway types.</p> <p>In the request, you specify the gateway Amazon Resource Name (ARN) to which you want to add upload buffer, and one or more disk IDs that you want to configure as upload buffer.</p>"
    },
    "AddWorkingStorage":{
      "name":"AddWorkingStorage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddWorkingStorageInput"},
      "output":{"shape":"AddWorkingStorageOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Configures one or more gateway local disks as working storage for a gateway. This operation is only supported in the stored volume gateway type. This operation is deprecated in cached volume API version 20120630. Use <a>AddUploadBuffer</a> instead.</p> <note> <p>Working storage is also referred to as upload buffer. You can also use the <a>AddUploadBuffer</a> operation to add upload buffer to a stored volume gateway.</p> </note> <p>In the request, you specify the gateway Amazon Resource Name (ARN) to which you want to add working storage, and one or more disk IDs that you want to configure as working storage.</p>"
    },
    "AssignTapePool":{
      "name":"AssignTapePool",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssignTapePoolInput"},
      "output":{"shape":"AssignTapePoolOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Assigns a tape to a tape pool for archiving. The tape assigned to a pool is archived in the S3 storage class that is associated with the pool. When you use your backup application to eject the tape, the tape is archived directly into the S3 storage class (S3 Glacier or S3 Glacier Deep Archive) that corresponds to the pool.</p>"
    },
    "AssociateFileSystem":{
      "name":"AssociateFileSystem",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateFileSystemInput"},
      "output":{"shape":"AssociateFileSystemOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Associate an Amazon FSx file system with the FSx File Gateway. After the association process is complete, the file shares on the Amazon FSx file system are available for access through the gateway. This operation only supports the FSx File Gateway type.</p>"
    },
    "AttachVolume":{
      "name":"AttachVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachVolumeInput"},
      "output":{"shape":"AttachVolumeOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Connects a volume to an iSCSI connection and then attaches the volume to the specified gateway. Detaching and attaching a volume enables you to recover your data from one gateway to a different gateway without creating a snapshot. It also makes it easier to move your volumes from an on-premises gateway to a gateway hosted on an Amazon EC2 instance.</p>"
    },
    "CancelArchival":{
      "name":"CancelArchival",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelArchivalInput"},
      "output":{"shape":"CancelArchivalOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Cancels archiving of a virtual tape to the virtual tape shelf (VTS) after the archiving process is initiated. This operation is only supported in the tape gateway type.</p>"
    },
    "CancelCacheReport":{
      "name":"CancelCacheReport",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelCacheReportInput"},
      "output":{"shape":"CancelCacheReportOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Cancels generation of a specified cache report. You can use this operation to manually cancel an IN-PROGRESS report for any reason. This action changes the report status from IN-PROGRESS to CANCELLED. You can only cancel in-progress reports. If the the report you attempt to cancel is in FAILED, ERROR, or COMPLETED state, the cancel operation returns an error.</p>"
    },
    "CancelRetrieval":{
      "name":"CancelRetrieval",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelRetrievalInput"},
      "output":{"shape":"CancelRetrievalOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Cancels retrieval of a virtual tape from the virtual tape shelf (VTS) to a gateway after the retrieval process is initiated. The virtual tape is returned to the VTS. This operation is only supported in the tape gateway type.</p>"
    },
    "CreateCachediSCSIVolume":{
      "name":"CreateCachediSCSIVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCachediSCSIVolumeInput"},
      "output":{"shape":"CreateCachediSCSIVolumeOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Creates a cached volume on a specified cached volume gateway. This operation is only supported in the cached volume gateway type.</p> <note> <p>Cache storage must be allocated to the gateway before you can create a cached volume. Use the <a>AddCache</a> operation to add cache storage to a gateway.</p> </note> <p>In the request, you must specify the gateway, size of the volume in bytes, the iSCSI target name, an IP address on which to expose the target, and a unique client token. In response, the gateway creates the volume and returns information about it. This information includes the volume Amazon Resource Name (ARN), its size, and the iSCSI target ARN that initiators can use to connect to the volume target.</p> <p>Optionally, you can provide the ARN for an existing volume as the <code>SourceVolumeARN</code> for this cached volume, which creates an exact copy of the existing volume’s latest recovery point. The <code>VolumeSizeInBytes</code> value must be equal to or larger than the size of the copied volume, in bytes.</p>"
    },
    "CreateNFSFileShare":{
      "name":"CreateNFSFileShare",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateNFSFileShareInput"},
      "output":{"shape":"CreateNFSFileShareOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Creates a Network File System (NFS) file share on an existing S3 File Gateway. In Storage Gateway, a file share is a file system mount point backed by Amazon S3 cloud storage. Storage Gateway exposes file shares using an NFS interface. This operation is only supported for S3 File Gateways.</p> <important> <p>S3 File gateway requires Security Token Service (Amazon Web Services STS) to be activated to enable you to create a file share. Make sure Amazon Web Services STS is activated in the Amazon Web Services Region you are creating your S3 File Gateway in. If Amazon Web Services STS is not activated in the Amazon Web Services Region, activate it. For information about how to activate Amazon Web Services STS, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_enable-regions.html\">Activating and deactivating Amazon Web Services STS in an Amazon Web Services Region</a> in the <i>Identity and Access Management User Guide</i>.</p> <p>S3 File Gateways do not support creating hard or symbolic links on a file share.</p> </important>"
    },
    "CreateSMBFileShare":{
      "name":"CreateSMBFileShare",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSMBFileShareInput"},
      "output":{"shape":"CreateSMBFileShareOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Creates a Server Message Block (SMB) file share on an existing S3 File Gateway. In Storage Gateway, a file share is a file system mount point backed by Amazon S3 cloud storage. Storage Gateway exposes file shares using an SMB interface. This operation is only supported for S3 File Gateways.</p> <important> <p>S3 File Gateways require Security Token Service (Amazon Web Services STS) to be activated to enable you to create a file share. Make sure that Amazon Web Services STS is activated in the Amazon Web Services Region you are creating your S3 File Gateway in. If Amazon Web Services STS is not activated in this Amazon Web Services Region, activate it. For information about how to activate Amazon Web Services STS, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_enable-regions.html\">Activating and deactivating Amazon Web Services STS in an Amazon Web Services Region</a> in the <i>Identity and Access Management User Guide</i>.</p> <p>File gateways don't support creating hard or symbolic links on a file share.</p> </important>"
    },
    "CreateSnapshot":{
      "name":"CreateSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSnapshotInput"},
      "output":{"shape":"CreateSnapshotOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ServiceUnavailableError"}
      ],
      "documentation":"<p>Initiates a snapshot of a volume.</p> <p>Storage Gateway provides the ability to back up point-in-time snapshots of your data to Amazon Simple Storage (Amazon S3) for durable off-site recovery, and also import the data to an Amazon Elastic Block Store (EBS) volume in Amazon Elastic Compute Cloud (EC2). You can take snapshots of your gateway volume on a scheduled or ad hoc basis. This API enables you to take an ad hoc snapshot. For more information, see <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/managing-volumes.html#SchedulingSnapshot\">Editing a snapshot schedule</a>.</p> <p>In the <code>CreateSnapshot</code> request, you identify the volume by providing its Amazon Resource Name (ARN). You must also provide description for the snapshot. When Storage Gateway takes the snapshot of specified volume, the snapshot and description appears in the Storage Gateway console. In response, Storage Gateway returns you a snapshot ID. You can use this snapshot ID to check the snapshot progress or later use it when you want to create a volume from a snapshot. This operation is only supported in stored and cached volume gateway type.</p> <note> <p>To list or delete a snapshot, you must use the Amazon EC2 API. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeSnapshots.html\">DescribeSnapshots</a> or <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DeleteSnapshot.html\">DeleteSnapshot</a> in the <i>Amazon Elastic Compute Cloud API Reference</i>.</p> </note> <important> <p>Volume and snapshot IDs are changing to a longer length ID format. For more information, see the important note on the <a href=\"https://docs.aws.amazon.com/storagegateway/latest/APIReference/Welcome.html\">Welcome</a> page.</p> </important>"
    },
    "CreateSnapshotFromVolumeRecoveryPoint":{
      "name":"CreateSnapshotFromVolumeRecoveryPoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSnapshotFromVolumeRecoveryPointInput"},
      "output":{"shape":"CreateSnapshotFromVolumeRecoveryPointOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"},
        {"shape":"ServiceUnavailableError"}
      ],
      "documentation":"<p>Initiates a snapshot of a gateway from a volume recovery point. This operation is only supported in the cached volume gateway type.</p> <p>A volume recovery point is a point in time at which all data of the volume is consistent and from which you can create a snapshot. To get a list of volume recovery point for cached volume gateway, use <a>ListVolumeRecoveryPoints</a>.</p> <p>In the <code>CreateSnapshotFromVolumeRecoveryPoint</code> request, you identify the volume by providing its Amazon Resource Name (ARN). You must also provide a description for the snapshot. When the gateway takes a snapshot of the specified volume, the snapshot and its description appear in the Storage Gateway console. In response, the gateway returns you a snapshot ID. You can use this snapshot ID to check the snapshot progress or later use it when you want to create a volume from a snapshot.</p> <note> <p>To list or delete a snapshot, you must use the Amazon EC2 API. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeSnapshots.html\">DescribeSnapshots</a> or <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DeleteSnapshot.html\">DeleteSnapshot</a> in the <i>Amazon Elastic Compute Cloud API Reference</i>.</p> </note>"
    },
    "CreateStorediSCSIVolume":{
      "name":"CreateStorediSCSIVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateStorediSCSIVolumeInput"},
      "output":{"shape":"CreateStorediSCSIVolumeOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Creates a volume on a specified gateway. This operation is only supported in the stored volume gateway type.</p> <p>The size of the volume to create is inferred from the disk size. You can choose to preserve existing data on the disk, create volume from an existing snapshot, or create an empty volume. If you choose to create an empty gateway volume, then any existing data on the disk is erased.</p> <p>In the request, you must specify the gateway and the disk information on which you are creating the volume. In response, the gateway creates the volume and returns volume information such as the volume Amazon Resource Name (ARN), its size, and the iSCSI target ARN that initiators can use to connect to the volume target.</p>"
    },
    "CreateTapePool":{
      "name":"CreateTapePool",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTapePoolInput"},
      "output":{"shape":"CreateTapePoolOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Creates a new custom tape pool. You can use custom tape pool to enable tape retention lock on tapes that are archived in the custom pool.</p>"
    },
    "CreateTapeWithBarcode":{
      "name":"CreateTapeWithBarcode",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTapeWithBarcodeInput"},
      "output":{"shape":"CreateTapeWithBarcodeOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Creates a virtual tape by using your own barcode. You write data to the virtual tape and then archive the tape. A barcode is unique and cannot be reused if it has already been used on a tape. This applies to barcodes used on deleted tapes. This operation is only supported in the tape gateway type.</p> <note> <p>Cache storage must be allocated to the gateway before you can create a virtual tape. Use the <a>AddCache</a> operation to add cache storage to a gateway.</p> </note>"
    },
    "CreateTapes":{
      "name":"CreateTapes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTapesInput"},
      "output":{"shape":"CreateTapesOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Creates one or more virtual tapes. You write data to the virtual tapes and then archive the tapes. This operation is only supported in the tape gateway type.</p> <note> <p>Cache storage must be allocated to the gateway before you can create virtual tapes. Use the <a>AddCache</a> operation to add cache storage to a gateway.</p> </note>"
    },
    "DeleteAutomaticTapeCreationPolicy":{
      "name":"DeleteAutomaticTapeCreationPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAutomaticTapeCreationPolicyInput"},
      "output":{"shape":"DeleteAutomaticTapeCreationPolicyOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Deletes the automatic tape creation policy of a gateway. If you delete this policy, new virtual tapes must be created manually. Use the Amazon Resource Name (ARN) of the gateway in your request to remove the policy.</p>"
    },
    "DeleteBandwidthRateLimit":{
      "name":"DeleteBandwidthRateLimit",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteBandwidthRateLimitInput"},
      "output":{"shape":"DeleteBandwidthRateLimitOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Deletes the bandwidth rate limits of a gateway. You can delete either the upload and download bandwidth rate limit, or you can delete both. If you delete only one of the limits, the other limit remains unchanged. To specify which gateway to work with, use the Amazon Resource Name (ARN) of the gateway in your request. This operation is supported only for the stored volume, cached volume, and tape gateway types.</p>"
    },
    "DeleteCacheReport":{
      "name":"DeleteCacheReport",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCacheReportInput"},
      "output":{"shape":"DeleteCacheReportOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Deletes the specified cache report and any associated tags from the Storage Gateway database. You can only delete completed reports. If the status of the report you attempt to delete still IN-PROGRESS, the delete operation returns an error. You can use <code>CancelCacheReport</code> to cancel an IN-PROGRESS report.</p> <note> <p> <code>DeleteCacheReport</code> does not delete the report object from your Amazon S3 bucket.</p> </note>"
    },
    "DeleteChapCredentials":{
      "name":"DeleteChapCredentials",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteChapCredentialsInput"},
      "output":{"shape":"DeleteChapCredentialsOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Deletes Challenge-Handshake Authentication Protocol (CHAP) credentials for a specified iSCSI target and initiator pair. This operation is supported in volume and tape gateway types.</p>"
    },
    "DeleteFileShare":{
      "name":"DeleteFileShare",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteFileShareInput"},
      "output":{"shape":"DeleteFileShareOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Deletes a file share from an S3 File Gateway. This operation is only supported for S3 File Gateways.</p>"
    },
    "DeleteGateway":{
      "name":"DeleteGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteGatewayInput"},
      "output":{"shape":"DeleteGatewayOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Deletes a gateway. To specify which gateway to delete, use the Amazon Resource Name (ARN) of the gateway in your request. The operation deletes the gateway; however, it does not delete the gateway virtual machine (VM) from your host computer.</p> <p>After you delete a gateway, you cannot reactivate it. Completed snapshots of the gateway volumes are not deleted upon deleting the gateway, however, pending snapshots will not complete. After you delete a gateway, your next step is to remove it from your environment.</p> <important> <p>You no longer pay software charges after the gateway is deleted; however, your existing Amazon EBS snapshots persist and you will continue to be billed for these snapshots. You can choose to remove all remaining Amazon EBS snapshots by canceling your Amazon EC2 subscription.  If you prefer not to cancel your Amazon EC2 subscription, you can delete your snapshots using the Amazon EC2 console. For more information, see the <a href=\"http://aws.amazon.com/storagegateway\">Storage Gateway detail page</a>.</p> </important>"
    },
    "DeleteSnapshotSchedule":{
      "name":"DeleteSnapshotSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSnapshotScheduleInput"},
      "output":{"shape":"DeleteSnapshotScheduleOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Deletes a snapshot of a volume.</p> <p>You can take snapshots of your gateway volumes on a scheduled or ad hoc basis. This API action enables you to delete a snapshot schedule for a volume. For more information, see <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/backing-up-volumes.html\">Backing up your volumes</a>. In the <code>DeleteSnapshotSchedule</code> request, you identify the volume by providing its Amazon Resource Name (ARN). This operation is only supported for cached volume gateway types.</p> <note> <p>To list or delete a snapshot, you must use the Amazon EC2 API. For more information, go to <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeSnapshots.html\">DescribeSnapshots</a> in the <i>Amazon Elastic Compute Cloud API Reference</i>.</p> </note>"
    },
    "DeleteTape":{
      "name":"DeleteTape",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTapeInput"},
      "output":{"shape":"DeleteTapeOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Deletes the specified virtual tape. This operation is only supported in the tape gateway type.</p>"
    },
    "DeleteTapeArchive":{
      "name":"DeleteTapeArchive",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTapeArchiveInput"},
      "output":{"shape":"DeleteTapeArchiveOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Deletes the specified virtual tape from the virtual tape shelf (VTS). This operation is only supported in the tape gateway type.</p>"
    },
    "DeleteTapePool":{
      "name":"DeleteTapePool",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTapePoolInput"},
      "output":{"shape":"DeleteTapePoolOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Delete a custom tape pool. A custom tape pool can only be deleted if there are no tapes in the pool and if there are no automatic tape creation policies that reference the custom tape pool.</p>"
    },
    "DeleteVolume":{
      "name":"DeleteVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVolumeInput"},
      "output":{"shape":"DeleteVolumeOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Deletes the specified storage volume that you previously created using the <a>CreateCachediSCSIVolume</a> or <a>CreateStorediSCSIVolume</a> API. This operation is only supported in the cached volume and stored volume types. For stored volume gateways, the local disk that was configured as the storage volume is not deleted. You can reuse the local disk to create another storage volume.</p> <p>Before you delete a volume, make sure there are no iSCSI connections to the volume you are deleting. You should also make sure there is no snapshot in progress. You can use the Amazon Elastic Compute Cloud (Amazon EC2) API to query snapshots on the volume you are deleting and check the snapshot status. For more information, go to <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/ApiReference-query-DescribeSnapshots.html\">DescribeSnapshots</a> in the <i>Amazon Elastic Compute Cloud API Reference</i>.</p> <p>In the request, you must provide the Amazon Resource Name (ARN) of the storage volume you want to delete.</p>"
    },
    "DescribeAvailabilityMonitorTest":{
      "name":"DescribeAvailabilityMonitorTest",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAvailabilityMonitorTestInput"},
      "output":{"shape":"DescribeAvailabilityMonitorTestOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Returns information about the most recent high availability monitoring test that was performed on the host in a cluster. If a test isn't performed, the status and start time in the response would be null.</p>"
    },
    "DescribeBandwidthRateLimit":{
      "name":"DescribeBandwidthRateLimit",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeBandwidthRateLimitInput"},
      "output":{"shape":"DescribeBandwidthRateLimitOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Returns the bandwidth rate limits of a gateway. By default, these limits are not set, which means no bandwidth rate limiting is in effect. This operation is supported only for the stored volume, cached volume, and tape gateway types. To describe bandwidth rate limits for S3 file gateways, use <a>DescribeBandwidthRateLimitSchedule</a>.</p> <p>This operation returns a value for a bandwidth rate limit only if the limit is set. If no limits are set for the gateway, then this operation returns only the gateway ARN in the response body. To specify which gateway to describe, use the Amazon Resource Name (ARN) of the gateway in your request.</p>"
    },
    "DescribeBandwidthRateLimitSchedule":{
      "name":"DescribeBandwidthRateLimitSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeBandwidthRateLimitScheduleInput"},
      "output":{"shape":"DescribeBandwidthRateLimitScheduleOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p> Returns information about the bandwidth rate limit schedule of a gateway. By default, gateways do not have bandwidth rate limit schedules, which means no bandwidth rate limiting is in effect. This operation is supported only for volume, tape and S3 file gateways. FSx file gateways do not support bandwidth rate limits.</p> <p>This operation returns information about a gateway's bandwidth rate limit schedule. A bandwidth rate limit schedule consists of one or more bandwidth rate limit intervals. A bandwidth rate limit interval defines a period of time on one or more days of the week, during which bandwidth rate limits are specified for uploading, downloading, or both. </p> <p> A bandwidth rate limit interval consists of one or more days of the week, a start hour and minute, an ending hour and minute, and bandwidth rate limits for uploading and downloading </p> <p> If no bandwidth rate limit schedule intervals are set for the gateway, this operation returns an empty response. To specify which gateway to describe, use the Amazon Resource Name (ARN) of the gateway in your request.</p>"
    },
    "DescribeCache":{
      "name":"DescribeCache",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCacheInput"},
      "output":{"shape":"DescribeCacheOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Returns information about the cache of a gateway. This operation is only supported in the cached volume, tape, and file gateway types.</p> <p>The response includes disk IDs that are configured as cache, and it includes the amount of cache allocated and used.</p>"
    },
    "DescribeCacheReport":{
      "name":"DescribeCacheReport",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCacheReportInput"},
      "output":{"shape":"DescribeCacheReportOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Returns information about the specified cache report, including completion status and generation progress.</p>"
    },
    "DescribeCachediSCSIVolumes":{
      "name":"DescribeCachediSCSIVolumes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCachediSCSIVolumesInput"},
      "output":{"shape":"DescribeCachediSCSIVolumesOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Returns a description of the gateway volumes specified in the request. This operation is only supported in the cached volume gateway types.</p> <p>The list of gateway volumes in the request must be from one gateway. In the response, Storage Gateway returns volume information sorted by volume Amazon Resource Name (ARN).</p>"
    },
    "DescribeChapCredentials":{
      "name":"DescribeChapCredentials",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeChapCredentialsInput"},
      "output":{"shape":"DescribeChapCredentialsOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Returns an array of Challenge-Handshake Authentication Protocol (CHAP) credentials information for a specified iSCSI target, one for each target-initiator pair. This operation is supported in the volume and tape gateway types.</p>"
    },
    "DescribeFileSystemAssociations":{
      "name":"DescribeFileSystemAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFileSystemAssociationsInput"},
      "output":{"shape":"DescribeFileSystemAssociationsOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Gets the file system association information. This operation is only supported for FSx File Gateways.</p>"
    },
    "DescribeGatewayInformation":{
      "name":"DescribeGatewayInformation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeGatewayInformationInput"},
      "output":{"shape":"DescribeGatewayInformationOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Returns metadata about a gateway such as its name, network interfaces, time zone, status, and software version. To specify which gateway to describe, use the Amazon Resource Name (ARN) of the gateway in your request.</p>"
    },
    "DescribeMaintenanceStartTime":{
      "name":"DescribeMaintenanceStartTime",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeMaintenanceStartTimeInput"},
      "output":{"shape":"DescribeMaintenanceStartTimeOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Returns your gateway's maintenance window schedule information, with values for monthly or weekly cadence, specific day and time to begin maintenance, and which types of updates to apply. Time values returned are for the gateway's time zone.</p>"
    },
    "DescribeNFSFileShares":{
      "name":"DescribeNFSFileShares",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeNFSFileSharesInput"},
      "output":{"shape":"DescribeNFSFileSharesOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Gets a description for one or more Network File System (NFS) file shares from an S3 File Gateway. This operation is only supported for S3 File Gateways.</p>"
    },
    "DescribeSMBFileShares":{
      "name":"DescribeSMBFileShares",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSMBFileSharesInput"},
      "output":{"shape":"DescribeSMBFileSharesOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Gets a description for one or more Server Message Block (SMB) file shares from a S3 File Gateway. This operation is only supported for S3 File Gateways.</p>"
    },
    "DescribeSMBSettings":{
      "name":"DescribeSMBSettings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSMBSettingsInput"},
      "output":{"shape":"DescribeSMBSettingsOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Gets a description of a Server Message Block (SMB) file share settings from a file gateway. This operation is only supported for file gateways.</p>"
    },
    "DescribeSnapshotSchedule":{
      "name":"DescribeSnapshotSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSnapshotScheduleInput"},
      "output":{"shape":"DescribeSnapshotScheduleOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Describes the snapshot schedule for the specified gateway volume. The snapshot schedule information includes intervals at which snapshots are automatically initiated on the volume. This operation is only supported in the cached volume and stored volume types.</p>"
    },
    "DescribeStorediSCSIVolumes":{
      "name":"DescribeStorediSCSIVolumes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStorediSCSIVolumesInput"},
      "output":{"shape":"DescribeStorediSCSIVolumesOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Returns the description of the gateway volumes specified in the request. The list of gateway volumes in the request must be from one gateway. In the response, Storage Gateway returns volume information sorted by volume ARNs. This operation is only supported in stored volume gateway type.</p>"
    },
    "DescribeTapeArchives":{
      "name":"DescribeTapeArchives",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTapeArchivesInput"},
      "output":{"shape":"DescribeTapeArchivesOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Returns a description of specified virtual tapes in the virtual tape shelf (VTS). This operation is only supported in the tape gateway type.</p> <p>If a specific <code>TapeARN</code> is not specified, Storage Gateway returns a description of all virtual tapes found in the VTS associated with your account.</p>"
    },
    "DescribeTapeRecoveryPoints":{
      "name":"DescribeTapeRecoveryPoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTapeRecoveryPointsInput"},
      "output":{"shape":"DescribeTapeRecoveryPointsOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Returns a list of virtual tape recovery points that are available for the specified tape gateway.</p> <p>A recovery point is a point-in-time view of a virtual tape at which all the data on the virtual tape is consistent. If your gateway crashes, virtual tapes that have recovery points can be recovered to a new gateway. This operation is only supported in the tape gateway type.</p>"
    },
    "DescribeTapes":{
      "name":"DescribeTapes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTapesInput"},
      "output":{"shape":"DescribeTapesOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Returns a description of virtual tapes that correspond to the specified Amazon Resource Names (ARNs). If <code>TapeARN</code> is not specified, returns a description of the virtual tapes associated with the specified gateway. This operation is only supported for the tape gateway type.</p> <p>The operation supports pagination. By default, the operation returns a maximum of up to 100 tapes. You can optionally specify the <code>Limit</code> field in the body to limit the number of tapes in the response. If the number of tapes returned in the response is truncated, the response includes a <code>Marker</code> field. You can use this <code>Marker</code> value in your subsequent request to retrieve the next set of tapes.</p>"
    },
    "DescribeUploadBuffer":{
      "name":"DescribeUploadBuffer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeUploadBufferInput"},
      "output":{"shape":"DescribeUploadBufferOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Returns information about the upload buffer of a gateway. This operation is supported for the stored volume, cached volume, and tape gateway types.</p> <p>The response includes disk IDs that are configured as upload buffer space, and it includes the amount of upload buffer space allocated and used.</p>"
    },
    "DescribeVTLDevices":{
      "name":"DescribeVTLDevices",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVTLDevicesInput"},
      "output":{"shape":"DescribeVTLDevicesOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Returns a description of virtual tape library (VTL) devices for the specified tape gateway. In the response, Storage Gateway returns VTL device information.</p> <p>This operation is only supported in the tape gateway type.</p>"
    },
    "DescribeWorkingStorage":{
      "name":"DescribeWorkingStorage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeWorkingStorageInput"},
      "output":{"shape":"DescribeWorkingStorageOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Returns information about the working storage of a gateway. This operation is only supported in the stored volumes gateway type. This operation is deprecated in cached volumes API version (20120630). Use DescribeUploadBuffer instead.</p> <note> <p>Working storage is also referred to as upload buffer. You can also use the DescribeUploadBuffer operation to add upload buffer to a stored volume gateway.</p> </note> <p>The response includes disk IDs that are configured as working storage, and it includes the amount of working storage allocated and used.</p>"
    },
    "DetachVolume":{
      "name":"DetachVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachVolumeInput"},
      "output":{"shape":"DetachVolumeOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Disconnects a volume from an iSCSI connection and then detaches the volume from the specified gateway. Detaching and attaching a volume enables you to recover your data from one gateway to a different gateway without creating a snapshot. It also makes it easier to move your volumes from an on-premises gateway to a gateway hosted on an Amazon EC2 instance. This operation is only supported in the volume gateway type.</p>"
    },
    "DisableGateway":{
      "name":"DisableGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableGatewayInput"},
      "output":{"shape":"DisableGatewayOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Disables a tape gateway when the gateway is no longer functioning. For example, if your gateway VM is damaged, you can disable the gateway so you can recover virtual tapes.</p> <p>Use this operation for a tape gateway that is not reachable or not functioning. This operation is only supported in the tape gateway type.</p> <important> <p>After a gateway is disabled, it cannot be enabled.</p> </important>"
    },
    "DisassociateFileSystem":{
      "name":"DisassociateFileSystem",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateFileSystemInput"},
      "output":{"shape":"DisassociateFileSystemOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Disassociates an Amazon FSx file system from the specified gateway. After the disassociation process finishes, the gateway can no longer access the Amazon FSx file system. This operation is only supported in the FSx File Gateway type.</p>"
    },
    "EvictFilesFailingUpload":{
      "name":"EvictFilesFailingUpload",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EvictFilesFailingUploadInput"},
      "output":{"shape":"EvictFilesFailingUploadOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Starts a process that cleans the specified file share's cache of file entries that are failing upload to Amazon S3. This API operation reports success if the request is received with valid arguments, and there are no other cache clean operations currently in-progress for the specified file share. After a successful request, the cache clean operation occurs asynchronously and reports progress using CloudWatch logs and notifications.</p> <important> <p>If <code>ForceRemove</code> is set to <code>True</code>, the cache clean operation will delete file data from the gateway which might otherwise be recoverable. We recommend using this operation only after all other methods to clear files failing upload have been exhausted, and if your business need outweighs the potential data loss.</p> </important>"
    },
    "JoinDomain":{
      "name":"JoinDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"JoinDomainInput"},
      "output":{"shape":"JoinDomainOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Adds a file gateway to an Active Directory domain. This operation is only supported for file gateways that support the SMB file protocol.</p> <note> <p>Joining a domain creates an Active Directory computer account in the default organizational unit, using the gateway's <b>Gateway ID</b> as the account name (for example, SGW-1234ADE). If your Active Directory environment requires that you pre-stage accounts to facilitate the join domain process, you will need to create this account ahead of time.</p> <p>To create the gateway's computer account in an organizational unit other than the default, you must specify the organizational unit when joining the domain.</p> </note>"
    },
    "ListAutomaticTapeCreationPolicies":{
      "name":"ListAutomaticTapeCreationPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAutomaticTapeCreationPoliciesInput"},
      "output":{"shape":"ListAutomaticTapeCreationPoliciesOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Lists the automatic tape creation policies for a gateway. If there are no automatic tape creation policies for the gateway, it returns an empty list.</p> <p>This operation is only supported for tape gateways.</p>"
    },
    "ListCacheReports":{
      "name":"ListCacheReports",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCacheReportsInput"},
      "output":{"shape":"ListCacheReportsOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Returns a list of existing cache reports for all file shares associated with your Amazon Web Services account. This list includes all information provided by the <code>DescribeCacheReport</code> action, such as report name, status, completion progress, start time, end time, filters, and tags.</p>"
    },
    "ListFileShares":{
      "name":"ListFileShares",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListFileSharesInput"},
      "output":{"shape":"ListFileSharesOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Gets a list of the file shares for a specific S3 File Gateway, or the list of file shares that belong to the calling Amazon Web Services account. This operation is only supported for S3 File Gateways.</p>"
    },
    "ListFileSystemAssociations":{
      "name":"ListFileSystemAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListFileSystemAssociationsInput"},
      "output":{"shape":"ListFileSystemAssociationsOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Gets a list of <code>FileSystemAssociationSummary</code> objects. Each object contains a summary of a file system association. This operation is only supported for FSx File Gateways.</p>"
    },
    "ListGateways":{
      "name":"ListGateways",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListGatewaysInput"},
      "output":{"shape":"ListGatewaysOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Lists gateways owned by an Amazon Web Services account in an Amazon Web Services Region specified in the request. The returned list is ordered by gateway Amazon Resource Name (ARN).</p> <p>By default, the operation returns a maximum of 100 gateways. This operation supports pagination that allows you to optionally reduce the number of gateways returned in a response.</p> <p>If you have more gateways than are returned in a response (that is, the response returns only a truncated list of your gateways), the response contains a marker that you can specify in your next request to fetch the next page of gateways.</p>"
    },
    "ListLocalDisks":{
      "name":"ListLocalDisks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListLocalDisksInput"},
      "output":{"shape":"ListLocalDisksOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Returns a list of the gateway's local disks. To specify which gateway to describe, you use the Amazon Resource Name (ARN) of the gateway in the body of the request.</p> <p>The request returns a list of all disks, specifying which are configured as working storage, cache storage, or stored volume or not configured at all. The response includes a <code>DiskStatus</code> field. This field can have a value of present (the disk is available to use), missing (the disk is no longer connected to the gateway), or mismatch (the disk node is occupied by a disk that has incorrect metadata or the disk content is corrupted).</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceInput"},
      "output":{"shape":"ListTagsForResourceOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Lists the tags that have been added to the specified resource. This operation is supported in storage gateways of all types.</p>"
    },
    "ListTapePools":{
      "name":"ListTapePools",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTapePoolsInput"},
      "output":{"shape":"ListTapePoolsOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Lists custom tape pools. You specify custom tape pools to list by specifying one or more custom tape pool Amazon Resource Names (ARNs). If you don't specify a custom tape pool ARN, the operation lists all custom tape pools.</p> <p>This operation supports pagination. You can optionally specify the <code>Limit</code> parameter in the body to limit the number of tape pools in the response. If the number of tape pools returned in the response is truncated, the response includes a <code>Marker</code> element that you can use in your subsequent request to retrieve the next set of tape pools.</p>"
    },
    "ListTapes":{
      "name":"ListTapes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTapesInput"},
      "output":{"shape":"ListTapesOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Lists virtual tapes in your virtual tape library (VTL) and your virtual tape shelf (VTS). You specify the tapes to list by specifying one or more tape Amazon Resource Names (ARNs). If you don't specify a tape ARN, the operation lists all virtual tapes in both your VTL and VTS.</p> <p>This operation supports pagination. By default, the operation returns a maximum of up to 100 tapes. You can optionally specify the <code>Limit</code> parameter in the body to limit the number of tapes in the response. If the number of tapes returned in the response is truncated, the response includes a <code>Marker</code> element that you can use in your subsequent request to retrieve the next set of tapes. This operation is only supported in the tape gateway type.</p>"
    },
    "ListVolumeInitiators":{
      "name":"ListVolumeInitiators",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListVolumeInitiatorsInput"},
      "output":{"shape":"ListVolumeInitiatorsOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Lists iSCSI initiators that are connected to a volume. You can use this operation to determine whether a volume is being used or not. This operation is only supported in the cached volume and stored volume gateway types.</p>"
    },
    "ListVolumeRecoveryPoints":{
      "name":"ListVolumeRecoveryPoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListVolumeRecoveryPointsInput"},
      "output":{"shape":"ListVolumeRecoveryPointsOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Lists the recovery points for a specified gateway. This operation is only supported in the cached volume gateway type.</p> <p>Each cache volume has one recovery point. A volume recovery point is a point in time at which all data of the volume is consistent and from which you can create a snapshot or clone a new cached volume from a source volume. To create a snapshot from a volume recovery point use the <a>CreateSnapshotFromVolumeRecoveryPoint</a> operation.</p>"
    },
    "ListVolumes":{
      "name":"ListVolumes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListVolumesInput"},
      "output":{"shape":"ListVolumesOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Lists the iSCSI stored volumes of a gateway. Results are sorted by volume ARN. The response includes only the volume ARNs. If you want additional volume information, use the <a>DescribeStorediSCSIVolumes</a> or the <a>DescribeCachediSCSIVolumes</a> API.</p> <p>The operation supports pagination. By default, the operation returns a maximum of up to 100 volumes. You can optionally specify the <code>Limit</code> field in the body to limit the number of volumes in the response. If the number of volumes returned in the response is truncated, the response includes a Marker field. You can use this Marker value in your subsequent request to retrieve the next set of volumes. This operation is only supported in the cached volume and stored volume gateway types.</p>"
    },
    "NotifyWhenUploaded":{
      "name":"NotifyWhenUploaded",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"NotifyWhenUploadedInput"},
      "output":{"shape":"NotifyWhenUploadedOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Sends you notification through Amazon EventBridge when all files written to your file share have been uploaded to Amazon S3.</p> <p>Storage Gateway can send a notification through Amazon EventBridge when all files written to your file share up to that point in time have been uploaded to Amazon S3. These files include files written to the file share up to the time that you make a request for notification. When the upload is done, Storage Gateway sends you notification through EventBridge. You can configure EventBridge to send the notification through event targets such as Amazon SNS or Lambda function. This operation is only supported for S3 File Gateways.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/filegateway/latest/files3/monitoring-file-gateway.html#get-notification\">Getting file upload notification</a> in the <i>Amazon S3 File Gateway User Guide</i>.</p>"
    },
    "RefreshCache":{
      "name":"RefreshCache",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RefreshCacheInput"},
      "output":{"shape":"RefreshCacheOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Refreshes the cached inventory of objects for the specified file share. This operation finds objects in the Amazon S3 bucket that were added, removed, or replaced since the gateway last listed the bucket's contents and cached the results. This operation does not import files into the S3 File Gateway cache storage. It only updates the cached inventory to reflect changes in the inventory of the objects in the S3 bucket. This operation is only supported in the S3 File Gateway types.</p> <p>You can subscribe to be notified through an Amazon CloudWatch event when your <code>RefreshCache</code> operation completes. For more information, see <a href=\"https://docs.aws.amazon.com/filegateway/latest/files3/monitoring-file-gateway.html#get-notification\">Getting notified about file operations</a> in the <i>Amazon S3 File Gateway User Guide</i>. This operation is Only supported for S3 File Gateways.</p> <p>When this API is called, it only initiates the refresh operation. When the API call completes and returns a success code, it doesn't necessarily mean that the file refresh has completed. You should use the refresh-complete notification to determine that the operation has completed before you check for new files on the gateway file share. You can subscribe to be notified through a CloudWatch event when your <code>RefreshCache</code> operation completes.</p> <p>Throttle limit: This API is asynchronous, so the gateway will accept no more than two refreshes at any time. We recommend using the refresh-complete CloudWatch event notification before issuing additional requests. For more information, see <a href=\"https://docs.aws.amazon.com/filegateway/latest/files3/monitoring-file-gateway.html#get-notification\">Getting notified about file operations</a> in the <i>Amazon S3 File Gateway User Guide</i>.</p> <important> <ul> <li> <p>Wait at least 60 seconds between consecutive RefreshCache API requests.</p> </li> <li> <p>If you invoke the RefreshCache API when two requests are already being processed, any new request will cause an <code>InvalidGatewayRequestException</code> error because too many requests were sent to the server.</p> </li> </ul> </important> <note> <p>The S3 bucket name does not need to be included when entering the list of folders in the FolderList parameter.</p> </note> <p>For more information, see <a href=\"https://docs.aws.amazon.com/filegateway/latest/files3/monitoring-file-gateway.html#get-notification\">Getting notified about file operations</a> in the <i>Amazon S3 File Gateway User Guide</i>.</p>"
    },
    "RemoveTagsFromResource":{
      "name":"RemoveTagsFromResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveTagsFromResourceInput"},
      "output":{"shape":"RemoveTagsFromResourceOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Removes one or more tags from the specified resource. This operation is supported in storage gateways of all types.</p>"
    },
    "ResetCache":{
      "name":"ResetCache",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResetCacheInput"},
      "output":{"shape":"ResetCacheOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Resets all cache disks that have encountered an error and makes the disks available for reconfiguration as cache storage. If your cache disk encounters an error, the gateway prevents read and write operations on virtual tapes in the gateway. For example, an error can occur when a disk is corrupted or removed from the gateway. When a cache is reset, the gateway loses its cache storage. At this point, you can reconfigure the disks as cache disks. This operation is only supported in the cached volume and tape types.</p> <important> <p>If the cache disk you are resetting contains data that has not been uploaded to Amazon S3 yet, that data can be lost. After you reset cache disks, there will be no configured cache disks left in the gateway, so you must configure at least one new cache disk for your gateway to function properly.</p> </important>"
    },
    "RetrieveTapeArchive":{
      "name":"RetrieveTapeArchive",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RetrieveTapeArchiveInput"},
      "output":{"shape":"RetrieveTapeArchiveOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Retrieves an archived virtual tape from the virtual tape shelf (VTS) to a tape gateway. Virtual tapes archived in the VTS are not associated with any gateway. However after a tape is retrieved, it is associated with a gateway, even though it is also listed in the VTS, that is, archive. This operation is only supported in the tape gateway type.</p> <p>Once a tape is successfully retrieved to a gateway, it cannot be retrieved again to another gateway. You must archive the tape again before you can retrieve it to another gateway. This operation is only supported in the tape gateway type.</p>"
    },
    "RetrieveTapeRecoveryPoint":{
      "name":"RetrieveTapeRecoveryPoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RetrieveTapeRecoveryPointInput"},
      "output":{"shape":"RetrieveTapeRecoveryPointOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Retrieves the recovery point for the specified virtual tape. This operation is only supported in the tape gateway type.</p> <p>A recovery point is a point in time view of a virtual tape at which all the data on the tape is consistent. If your gateway crashes, virtual tapes that have recovery points can be recovered to a new gateway.</p> <note> <p>The virtual tape can be retrieved to only one gateway. The retrieved tape is read-only. The virtual tape can be retrieved to only a tape gateway. There is no charge for retrieving recovery points.</p> </note>"
    },
    "SetLocalConsolePassword":{
      "name":"SetLocalConsolePassword",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetLocalConsolePasswordInput"},
      "output":{"shape":"SetLocalConsolePasswordOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Sets the password for your VM local console. When you log in to the local console for the first time, you log in to the VM with the default credentials. We recommend that you set a new password. You don't need to know the default password to set a new password.</p>"
    },
    "SetSMBGuestPassword":{
      "name":"SetSMBGuestPassword",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetSMBGuestPasswordInput"},
      "output":{"shape":"SetSMBGuestPasswordOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Sets the password for the guest user <code>smbguest</code>. The <code>smbguest</code> user is the user when the authentication method for the file share is set to <code>GuestAccess</code>. This operation only supported for S3 File Gateways</p>"
    },
    "ShutdownGateway":{
      "name":"ShutdownGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ShutdownGatewayInput"},
      "output":{"shape":"ShutdownGatewayOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Shuts down a Tape Gateway or Volume Gateway. To specify which gateway to shut down, use the Amazon Resource Name (ARN) of the gateway in the body of your request.</p> <note> <p>This API action cannot be used to shut down S3 File Gateway or FSx File Gateway.</p> </note> <p>The operation shuts down the gateway service component running in the gateway's virtual machine (VM) and not the host VM.</p> <note> <p>If you want to shut down the VM, it is recommended that you first shut down the gateway component in the VM to avoid unpredictable conditions.</p> </note> <p>After the gateway is shutdown, you cannot call any other API except <a>StartGateway</a>, <a>DescribeGatewayInformation</a>, and <a>ListGateways</a>. For more information, see <a>ActivateGateway</a>. Your applications cannot read from or write to the gateway's storage volumes, and there are no snapshots taken.</p> <note> <p>When you make a shutdown request, you will get a <code>200 OK</code> success response immediately. However, it might take some time for the gateway to shut down. You can call the <a>DescribeGatewayInformation</a> API to check the status. For more information, see <a>ActivateGateway</a>.</p> </note> <p>If do not intend to use the gateway again, you must delete the gateway (using <a>DeleteGateway</a>) to no longer pay software charges associated with the gateway.</p>"
    },
    "StartAvailabilityMonitorTest":{
      "name":"StartAvailabilityMonitorTest",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartAvailabilityMonitorTestInput"},
      "output":{"shape":"StartAvailabilityMonitorTestOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Start a test that verifies that the specified gateway is configured for High Availability monitoring in your host environment. This request only initiates the test and that a successful response only indicates that the test was started. It doesn't indicate that the test passed. For the status of the test, invoke the <code>DescribeAvailabilityMonitorTest</code> API.</p> <note> <p>Starting this test will cause your gateway to go offline for a brief period.</p> </note>"
    },
    "StartCacheReport":{
      "name":"StartCacheReport",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartCacheReportInput"},
      "output":{"shape":"StartCacheReportOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Starts generating a report of the file metadata currently cached by an S3 File Gateway for a specific file share. You can use this report to identify and resolve issues if you have files failing upload from your gateway to Amazon S3. The report is a CSV file containing a list of files which match the set of filter parameters you specify in the request.</p> <note> <p>The <b>Files Failing Upload</b> flag is reset every 24 hours and during gateway reboot. If this report captures the files after the reset, but before they become flagged again, they will not be reported as <b>Files Failing Upload</b>.</p> </note> <p>The following requirements must be met to successfully generate a cache report:</p> <ul> <li> <p>You must have <code>s3:PutObject</code> and <code>s3:AbortMultipartUpload</code> permissions for the Amazon S3 bucket where you want to store the cache report.</p> </li> <li> <p>No other cache reports can currently be in-progress for the specified file share.</p> </li> <li> <p>There must be fewer than 10 existing cache reports for the specified file share.</p> </li> <li> <p>The gateway must be online and connected to Amazon Web Services.</p> </li> <li> <p>The root disk must have at least 20GB of free space when report generation starts.</p> </li> <li> <p>You must specify at least one value for <code>InclusionFilters</code> or <code>ExclusionFilters</code> in the request.</p> </li> </ul>"
    },
    "StartGateway":{
      "name":"StartGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartGatewayInput"},
      "output":{"shape":"StartGatewayOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Starts a gateway that you previously shut down (see <a>ShutdownGateway</a>). After the gateway starts, you can then make other API calls, your applications can read from or write to the gateway's storage volumes and you will be able to take snapshot backups.</p> <note> <p>When you make a request, you will get a 200 OK success response immediately. However, it might take some time for the gateway to be ready. You should call <a>DescribeGatewayInformation</a> and check the status before making any additional API calls. For more information, see <a>ActivateGateway</a>.</p> </note> <p>To specify which gateway to start, use the Amazon Resource Name (ARN) of the gateway in your request.</p>"
    },
    "UpdateAutomaticTapeCreationPolicy":{
      "name":"UpdateAutomaticTapeCreationPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateAutomaticTapeCreationPolicyInput"},
      "output":{"shape":"UpdateAutomaticTapeCreationPolicyOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Updates the automatic tape creation policy of a gateway. Use this to update the policy with a new set of automatic tape creation rules. This is only supported for tape gateways.</p> <p>By default, there is no automatic tape creation policy.</p> <note> <p>A gateway can have only one automatic tape creation policy.</p> </note>"
    },
    "UpdateBandwidthRateLimit":{
      "name":"UpdateBandwidthRateLimit",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateBandwidthRateLimitInput"},
      "output":{"shape":"UpdateBandwidthRateLimitOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Updates the bandwidth rate limits of a gateway. You can update both the upload and download bandwidth rate limit or specify only one of the two. If you don't set a bandwidth rate limit, the existing rate limit remains. This operation is supported only for the stored volume, cached volume, and tape gateway types. To update bandwidth rate limits for S3 file gateways, use <a>UpdateBandwidthRateLimitSchedule</a>.</p> <p>By default, a gateway's bandwidth rate limits are not set. If you don't set any limit, the gateway does not have any limitations on its bandwidth usage and could potentially use the maximum available bandwidth.</p> <p>To specify which gateway to update, use the Amazon Resource Name (ARN) of the gateway in your request.</p>"
    },
    "UpdateBandwidthRateLimitSchedule":{
      "name":"UpdateBandwidthRateLimitSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateBandwidthRateLimitScheduleInput"},
      "output":{"shape":"UpdateBandwidthRateLimitScheduleOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p> Updates the bandwidth rate limit schedule for a specified gateway. By default, gateways do not have bandwidth rate limit schedules, which means no bandwidth rate limiting is in effect. Use this to initiate or update a gateway's bandwidth rate limit schedule. This operation is supported for volume, tape, and S3 file gateways. S3 file gateways support bandwidth rate limits for upload only. FSx file gateways do not support bandwidth rate limits.</p>"
    },
    "UpdateChapCredentials":{
      "name":"UpdateChapCredentials",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateChapCredentialsInput"},
      "output":{"shape":"UpdateChapCredentialsOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Updates the Challenge-Handshake Authentication Protocol (CHAP) credentials for a specified iSCSI target. By default, a gateway does not have CHAP enabled; however, for added security, you might use it. This operation is supported in the volume and tape gateway types.</p> <important> <p>When you update CHAP credentials, all existing connections on the target are closed and initiators must reconnect with the new credentials.</p> </important>"
    },
    "UpdateFileSystemAssociation":{
      "name":"UpdateFileSystemAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateFileSystemAssociationInput"},
      "output":{"shape":"UpdateFileSystemAssociationOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Updates a file system association. This operation is only supported in the FSx File Gateways.</p>"
    },
    "UpdateGatewayInformation":{
      "name":"UpdateGatewayInformation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateGatewayInformationInput"},
      "output":{"shape":"UpdateGatewayInformationOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Updates a gateway's metadata, which includes the gateway's name, time zone, and metadata cache size. To specify which gateway to update, use the Amazon Resource Name (ARN) of the gateway in your request.</p> <note> <p>For gateways activated after September 2, 2015, the gateway's ARN contains the gateway ID rather than the gateway name. However, changing the name of the gateway has no effect on the gateway's ARN.</p> </note>"
    },
    "UpdateGatewaySoftwareNow":{
      "name":"UpdateGatewaySoftwareNow",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateGatewaySoftwareNowInput"},
      "output":{"shape":"UpdateGatewaySoftwareNowOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Updates the gateway virtual machine (VM) software. The request immediately triggers the software update.</p> <note> <p>When you make this request, you get a <code>200 OK</code> success response immediately. However, it might take some time for the update to complete. You can call <a>DescribeGatewayInformation</a> to verify the gateway is in the <code>STATE_RUNNING</code> state.</p> </note> <important> <p>A software update forces a system restart of your gateway. You can minimize the chance of any disruption to your applications by increasing your iSCSI Initiators' timeouts. For more information about increasing iSCSI Initiator timeouts for Windows and Linux, see <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/ConfiguringiSCSIClientInitiatorWindowsClient.html#CustomizeWindowsiSCSISettings\">Customizing your Windows iSCSI settings</a> and <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/ConfiguringiSCSIClientInitiatorRedHatClient.html#CustomizeLinuxiSCSISettings\">Customizing your Linux iSCSI settings</a>, respectively.</p> </important>"
    },
    "UpdateMaintenanceStartTime":{
      "name":"UpdateMaintenanceStartTime",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateMaintenanceStartTimeInput"},
      "output":{"shape":"UpdateMaintenanceStartTimeOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Updates a gateway's maintenance window schedule, with settings for monthly or weekly cadence, specific day and time to begin maintenance, and which types of updates to apply. Time configuration uses the gateway's time zone. You can pass values for a complete maintenance schedule, or update policy, or both. Previous values will persist for whichever setting you choose not to modify. If an incomplete or invalid maintenance schedule is passed, the entire request will be rejected with an error and no changes will occur.</p> <p>A complete maintenance schedule must include values for <i>both</i> <code>MinuteOfHour</code> and <code>HourOfDay</code>, and <i>either</i> <code>DayOfMonth</code> <i>or</i> <code>DayOfWeek</code>.</p> <note> <p>We recommend keeping maintenance updates turned on, except in specific use cases where the brief disruptions caused by updating the gateway could critically impact your deployment.</p> </note>"
    },
    "UpdateNFSFileShare":{
      "name":"UpdateNFSFileShare",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateNFSFileShareInput"},
      "output":{"shape":"UpdateNFSFileShareOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Updates a Network File System (NFS) file share. This operation is only supported in S3 File Gateways.</p> <note> <p>To leave a file share field unchanged, set the corresponding input field to null.</p> </note> <p>Updates the following file share settings:</p> <ul> <li> <p>Default storage class for your S3 bucket</p> </li> <li> <p>Metadata defaults for your S3 bucket</p> </li> <li> <p>Allowed NFS clients for your file share</p> </li> <li> <p>Squash settings</p> </li> <li> <p>Write status of your file share</p> </li> </ul>"
    },
    "UpdateSMBFileShare":{
      "name":"UpdateSMBFileShare",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateSMBFileShareInput"},
      "output":{"shape":"UpdateSMBFileShareOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Updates a Server Message Block (SMB) file share. This operation is only supported for S3 File Gateways.</p> <note> <p>To leave a file share field unchanged, set the corresponding input field to null.</p> </note> <important> <p>File gateways require Security Token Service (Amazon Web Services STS) to be activated to enable you to create a file share. Make sure that Amazon Web Services STS is activated in the Amazon Web Services Region you are creating your file gateway in. If Amazon Web Services STS is not activated in this Amazon Web Services Region, activate it. For information about how to activate Amazon Web Services STS, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_enable-regions.html\">Activating and deactivating Amazon Web Services STS in an Amazon Web Services Region</a> in the <i>Identity and Access Management User Guide</i>.</p> <p>File gateways don't support creating hard or symbolic links on a file share.</p> </important>"
    },
    "UpdateSMBFileShareVisibility":{
      "name":"UpdateSMBFileShareVisibility",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateSMBFileShareVisibilityInput"},
      "output":{"shape":"UpdateSMBFileShareVisibilityOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Controls whether the shares on an S3 File Gateway are visible in a net view or browse list. The operation is only supported for S3 File Gateways.</p>"
    },
    "UpdateSMBLocalGroups":{
      "name":"UpdateSMBLocalGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateSMBLocalGroupsInput"},
      "output":{"shape":"UpdateSMBLocalGroupsOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Updates the list of Active Directory users and groups that have special permissions for SMB file shares on the gateway.</p>"
    },
    "UpdateSMBSecurityStrategy":{
      "name":"UpdateSMBSecurityStrategy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateSMBSecurityStrategyInput"},
      "output":{"shape":"UpdateSMBSecurityStrategyOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Updates the SMB security strategy level for an Amazon S3 file gateway. This action is only supported for Amazon S3 file gateways.</p> <note> <p>For information about configuring this setting using the Amazon Web Services console, see <a href=\"https://docs.aws.amazon.com/filegateway/latest/files3/security-strategy.html\">Setting a security level for your gateway</a> in the <i>Amazon S3 File Gateway User Guide</i>.</p> <p>A higher security strategy level can affect performance of the gateway.</p> </note>"
    },
    "UpdateSnapshotSchedule":{
      "name":"UpdateSnapshotSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateSnapshotScheduleInput"},
      "output":{"shape":"UpdateSnapshotScheduleOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Updates a snapshot schedule configured for a gateway volume. This operation is only supported in the cached volume and stored volume gateway types.</p> <p>The default snapshot schedule for volume is once every 24 hours, starting at the creation time of the volume. You can use this API to change the snapshot schedule configured for the volume.</p> <p>In the request you must identify the gateway volume whose snapshot schedule you want to update, and the schedule information, including when you want the snapshot to begin on a day and the frequency (in hours) of snapshots.</p>"
    },
    "UpdateVTLDeviceType":{
      "name":"UpdateVTLDeviceType",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateVTLDeviceTypeInput"},
      "output":{"shape":"UpdateVTLDeviceTypeOutput"},
      "errors":[
        {"shape":"InvalidGatewayRequestException"},
        {"shape":"InternalServerError"}
      ],
      "documentation":"<p>Updates the type of medium changer in a tape gateway. When you activate a tape gateway, you select a medium changer type for the tape gateway. This operation enables you to select a different type of medium changer after a tape gateway is activated. This operation is only supported in the tape gateway type.</p>"
    }
  },
  "shapes":{
    "ActivateGatewayInput":{
      "type":"structure",
      "required":[
        "ActivationKey",
        "GatewayName",
        "GatewayTimezone",
        "GatewayRegion"
      ],
      "members":{
        "ActivationKey":{
          "shape":"ActivationKey",
          "documentation":"<p>Your gateway activation key. You can obtain the activation key by sending an HTTP GET request with redirects enabled to the gateway IP address (port 80). The redirect URL returned in the response provides you the activation key for your gateway in the query string parameter <code>activationKey</code>. It may also include other activation-related parameters, however, these are merely defaults -- the arguments you pass to the <code>ActivateGateway</code> API call determine the actual configuration of your gateway.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/get-activation-key.html\">Getting activation key</a> in the <i>Storage Gateway User Guide</i>.</p>"
        },
        "GatewayName":{
          "shape":"GatewayName",
          "documentation":"<p>The name you configured for your gateway.</p>"
        },
        "GatewayTimezone":{
          "shape":"GatewayTimezone",
          "documentation":"<p>A value that indicates the time zone you want to set for the gateway. The time zone is of the format \"GMT\", \"GMT-hr:mm\", or \"GMT+hr:mm\". For example, GMT indicates Greenwich Mean Time without any offset. GMT-4:00 indicates the time is 4 hours behind GMT. GMT+2:00 indicates the time is 2 hours ahead of GMT. The time zone is used, for example, for scheduling snapshots and your gateway's maintenance schedule.</p>"
        },
        "GatewayRegion":{
          "shape":"RegionId",
          "documentation":"<p>A value that indicates the Amazon Web Services Region where you want to store your data. The gateway Amazon Web Services Region specified must be the same Amazon Web Services Region as the Amazon Web Services Region in your <code>Host</code> header in the request. For more information about available Amazon Web Services Regions and endpoints for Storage Gateway, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/sg.html\"> Storage Gateway endpoints and quotas</a> in the <i>Amazon Web Services General Reference</i>.</p> <p>Valid Values: See <a href=\"https://docs.aws.amazon.com/general/latest/gr/sg.html\"> Storage Gateway endpoints and quotas</a> in the <i>Amazon Web Services General Reference</i>. </p>"
        },
        "GatewayType":{
          "shape":"GatewayType",
          "documentation":"<p>A value that defines the type of gateway to activate. The type specified is critical to all later functions of the gateway and cannot be changed after activation. The default value is <code>CACHED</code>.</p> <important> <p>Amazon FSx File Gateway is no longer available to new customers. Existing customers of FSx File Gateway can continue to use the service normally. For capabilities similar to FSx File Gateway, visit <a href=\"https://aws.amazon.com/blogs/storage/switch-your-file-share-access-from-amazon-fsx-file-gateway-to-amazon-fsx-for-windows-file-server/\">this blog post</a>.</p> </important> <p>Valid Values: <code>STORED</code> | <code>CACHED</code> | <code>VTL</code> | <code>FILE_S3</code> | <code>FILE_FSX_SMB</code> </p>"
        },
        "TapeDriveType":{
          "shape":"TapeDriveType",
          "documentation":"<p>The value that indicates the type of tape drive to use for tape gateway. This field is optional.</p> <p>Valid Values: <code>IBM-ULT3580-TD5</code> </p>"
        },
        "MediumChangerType":{
          "shape":"MediumChangerType",
          "documentation":"<p>The value that indicates the type of medium changer to use for tape gateway. This field is optional.</p> <p>Valid Values: <code>STK-L700</code> | <code>AWS-Gateway-VTL</code> | <code>IBM-03584L32-0402</code> </p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>A list of up to 50 tags that you can assign to the gateway. Each tag is a key-value pair.</p> <note> <p>Valid characters for key and value are letters, spaces, and numbers that can be represented in UTF-8 format, and the following special characters: + - = . _ : / @. The maximum length of a tag's key is 128 characters, and the maximum length for a tag's value is 256 characters.</p> </note>"
        }
      },
      "documentation":"<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <p> <a>ActivateGatewayInput$ActivationKey</a> </p> </li> <li> <p> <a>ActivateGatewayInput$GatewayName</a> </p> </li> <li> <p> <a>ActivateGatewayInput$GatewayRegion</a> </p> </li> <li> <p> <a>ActivateGatewayInput$GatewayTimezone</a> </p> </li> <li> <p> <a>ActivateGatewayInput$GatewayType</a> </p> </li> <li> <p> <a>ActivateGatewayInput$MediumChangerType</a> </p> </li> <li> <p> <a>ActivateGatewayInput$TapeDriveType</a> </p> </li> </ul>"
    },
    "ActivateGatewayOutput":{
      "type":"structure",
      "members":{
        "GatewayARN":{"shape":"GatewayARN"}
      },
      "documentation":"<p>Storage Gateway returns the Amazon Resource Name (ARN) of the activated gateway. It is a string made of information such as your account, gateway name, and Amazon Web Services Region. This ARN is used to reference the gateway in other API operations as well as resource-based authorization.</p> <note> <p>For gateways activated prior to September 02, 2015, the gateway ARN contains the gateway name rather than the gateway ID. Changing the name of the gateway has no effect on the gateway ARN.</p> </note>"
    },
    "ActivationKey":{
      "type":"string",
      "max":50,
      "min":1
    },
    "ActiveDirectoryStatus":{
      "type":"string",
      "enum":[
        "ACCESS_DENIED",
        "DETACHED",
        "JOINED",
        "JOINING",
        "NETWORK_ERROR",
        "TIMEOUT",
        "UNKNOWN_ERROR",
        "INSUFFICIENT_PERMISSIONS"
      ]
    },
    "AddCacheInput":{
      "type":"structure",
      "required":[
        "GatewayARN",
        "DiskIds"
      ],
      "members":{
        "GatewayARN":{"shape":"GatewayARN"},
        "DiskIds":{
          "shape":"DiskIds",
          "documentation":"<p>An array of strings that identify disks that are to be configured as working storage. Each string has a minimum length of 1 and maximum length of 300. You can get the disk IDs from the <a>ListLocalDisks</a> API.</p>"
        }
      }
    },
    "AddCacheOutput":{
      "type":"structure",
      "members":{
        "GatewayARN":{"shape":"GatewayARN"}
      }
    },
    "AddTagsToResourceInput":{
      "type":"structure",
      "required":[
        "ResourceARN",
        "Tags"
      ],
      "members":{
        "ResourceARN":{
          "shape":"ResourceARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource you want to add tags to.</p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>The key-value pair that represents the tag you want to add to the resource. The value can be an empty string.</p> <note> <p>Valid characters for key and value are letters, spaces, and numbers representable in UTF-8 format, and the following special characters: + - = . _ : / @. The maximum length of a tag's key is 128 characters, and the maximum length for a tag's value is 256.</p> </note>"
        }
      },
      "documentation":"<p>AddTagsToResourceInput</p>"
    },
    "AddTagsToResourceOutput":{
      "type":"structure",
      "members":{
        "ResourceARN":{
          "shape":"ResourceARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource you want to add tags to.</p>"
        }
      },
      "documentation":"<p>AddTagsToResourceOutput</p>"
    },
    "AddUploadBufferInput":{
      "type":"structure",
      "required":[
        "GatewayARN",
        "DiskIds"
      ],
      "members":{
        "GatewayARN":{"shape":"GatewayARN"},
        "DiskIds":{
          "shape":"DiskIds",
          "documentation":"<p>An array of strings that identify disks that are to be configured as working storage. Each string has a minimum length of 1 and maximum length of 300. You can get the disk IDs from the <a>ListLocalDisks</a> API.</p>"
        }
      }
    },
    "AddUploadBufferOutput":{
      "type":"structure",
      "members":{
        "GatewayARN":{"shape":"GatewayARN"}
      }
    },
    "AddWorkingStorageInput":{
      "type":"structure",
      "required":[
        "GatewayARN",
        "DiskIds"
      ],
      "members":{
        "GatewayARN":{"shape":"GatewayARN"},
        "DiskIds":{
          "shape":"DiskIds",
          "documentation":"<p>An array of strings that identify disks that are to be configured as working storage. Each string has a minimum length of 1 and maximum length of 300. You can get the disk IDs from the <a>ListLocalDisks</a> API.</p>"
        }
      },
      "documentation":"<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <p> <a>AddWorkingStorageInput$DiskIds</a> </p> </li> </ul>"
    },
    "AddWorkingStorageOutput":{
      "type":"structure",
      "members":{
        "GatewayARN":{"shape":"GatewayARN"}
      },
      "documentation":"<p>A JSON object containing the Amazon Resource Name (ARN) of the gateway for which working storage was configured.</p>"
    },
    "AssignTapePoolInput":{
      "type":"structure",
      "required":[
        "TapeARN",
        "PoolId"
      ],
      "members":{
        "TapeARN":{
          "shape":"TapeARN",
          "documentation":"<p>The unique Amazon Resource Name (ARN) of the virtual tape that you want to add to the tape pool.</p>"
        },
        "PoolId":{
          "shape":"PoolId",
          "documentation":"<p>The ID of the pool that you want to add your tape to for archiving. The tape in this pool is archived in the S3 storage class that is associated with the pool. When you use your backup application to eject the tape, the tape is archived directly into the storage class (S3 Glacier or S3 Glacier Deep Archive) that corresponds to the pool.</p>"
        },
        "BypassGovernanceRetention":{
          "shape":"boolean",
          "documentation":"<p>Set permissions to bypass governance retention. If the lock type of the archived tape is <code>Governance</code>, the tape's archived age is not older than <code>RetentionLockInDays</code>, and the user does not already have <code>BypassGovernanceRetention</code>, setting this to TRUE enables the user to bypass the retention lock. This parameter is set to true by default for calls from the console.</p> <p>Valid values: <code>TRUE</code> | <code>FALSE</code> </p>"
        }
      }
    },
    "AssignTapePoolOutput":{
      "type":"structure",
      "members":{
        "TapeARN":{
          "shape":"TapeARN",
          "documentation":"<p>The unique Amazon Resource Names (ARN) of the virtual tape that was added to the tape pool.</p>"
        }
      }
    },
    "AssociateFileSystemInput":{
      "type":"structure",
      "required":[
        "UserName",
        "Password",
        "ClientToken",
        "GatewayARN",
        "LocationARN"
      ],
      "members":{
        "UserName":{
          "shape":"DomainUserName",
          "documentation":"<p>The user name of the user credential that has permission to access the root share D$ of the Amazon FSx file system. The user account must belong to the Amazon FSx delegated admin user group.</p>"
        },
        "Password":{
          "shape":"DomainUserPassword",
          "documentation":"<p>The password of the user credential.</p>"
        },
        "ClientToken":{
[...]
