{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2010-05-15",
    "endpointPrefix":"cloudformation",
    "protocol":"query",
    "protocols":["query"],
    "serviceFullName":"AWS CloudFormation",
    "serviceId":"CloudFormation",
    "signatureVersion":"v4",
    "uid":"cloudformation-2010-05-15",
    "xmlNamespace":"http://cloudformation.amazonaws.com/doc/2010-05-15/",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "ActivateOrganizationsAccess":{
      "name":"ActivateOrganizationsAccess",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ActivateOrganizationsAccessInput"},
      "output":{
        "shape":"ActivateOrganizationsAccessOutput",
        "resultWrapper":"ActivateOrganizationsAccessResult"
      },
      "errors":[
        {"shape":"InvalidOperationException"},
        {"shape":"OperationNotFoundException"}
      ],
      "documentation":"<p>Activate trusted access with Organizations. With trusted access between StackSets and Organizations activated, the management account has permissions to create and manage StackSets for your organization.</p>"
    },
    "ActivateType":{
      "name":"ActivateType",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ActivateTypeInput"},
      "output":{
        "shape":"ActivateTypeOutput",
        "resultWrapper":"ActivateTypeResult"
      },
      "errors":[
        {"shape":"CFNRegistryException"},
        {"shape":"TypeNotFoundException"}
      ],
      "documentation":"<p>Activates a public third-party extension, such as a resource or module, to make it available for use in stack templates in your current account and Region. It can also create CloudFormation Hooks, which allow you to evaluate resource configurations before CloudFormation provisions them. Hooks integrate with both CloudFormation and Cloud Control API operations.</p> <p>After you activate an extension, you can use <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_SetTypeConfiguration.html\">SetTypeConfiguration</a> to set specific properties for the extension.</p> <p>To see which extensions have been activated, use <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_ListTypes.html\">ListTypes</a>. To see configuration details for an extension, use <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_DescribeType.html\">DescribeType</a>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/registry-public-activate-extension.html\">Activate a third-party public extension in your account</a> in the <i>CloudFormation User Guide</i>. For information about creating Hooks, see the <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/hooks-userguide/what-is-cloudformation-hooks.html\">CloudFormation Hooks User Guide</a>.</p>",
      "idempotent":true
    },
    "BatchDescribeTypeConfigurations":{
      "name":"BatchDescribeTypeConfigurations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDescribeTypeConfigurationsInput"},
      "output":{
        "shape":"BatchDescribeTypeConfigurationsOutput",
        "resultWrapper":"BatchDescribeTypeConfigurationsResult"
      },
      "errors":[
        {"shape":"TypeConfigurationNotFoundException"},
        {"shape":"CFNRegistryException"}
      ],
      "documentation":"<p>Returns configuration data for the specified CloudFormation extensions, from the CloudFormation registry in your current account and Region.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/registry-set-configuration.html\">Edit configuration data for extensions in your account</a> in the <i>CloudFormation User Guide</i>.</p>"
    },
    "CancelUpdateStack":{
      "name":"CancelUpdateStack",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelUpdateStackInput"},
      "errors":[
        {"shape":"TokenAlreadyExistsException"}
      ],
      "documentation":"<p>Cancels an update on the specified stack. If the call completes successfully, the stack rolls back the update and reverts to the previous stack configuration.</p> <note> <p>You can cancel only stacks that are in the <code>UPDATE_IN_PROGRESS</code> state.</p> </note>"
    },
    "ContinueUpdateRollback":{
      "name":"ContinueUpdateRollback",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ContinueUpdateRollbackInput"},
      "output":{
        "shape":"ContinueUpdateRollbackOutput",
        "resultWrapper":"ContinueUpdateRollbackResult"
      },
      "errors":[
        {"shape":"TokenAlreadyExistsException"}
      ],
      "documentation":"<p>Continues rolling back a stack from <code>UPDATE_ROLLBACK_FAILED</code> to <code>UPDATE_ROLLBACK_COMPLETE</code> state. Depending on the cause of the failure, you can manually fix the error and continue the rollback. By continuing the rollback, you can return your stack to a working state (the <code>UPDATE_ROLLBACK_COMPLETE</code> state) and then try to update the stack again.</p> <p>A stack enters the <code>UPDATE_ROLLBACK_FAILED</code> state when CloudFormation can't roll back all changes after a failed stack update. For example, this might occur when a stack attempts to roll back to an old database that was deleted outside of CloudFormation. Because CloudFormation doesn't know the instance was deleted, it assumes the instance still exists and attempts to roll back to it, causing the update rollback to fail.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-updating-stacks-continueupdaterollback.html\">Continue rolling back an update</a> in the <i>CloudFormation User Guide</i>. For information for troubleshooting a failed update rollback, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/troubleshooting.html#troubleshooting-errors-update-rollback-failed\">Update rollback failed</a>.</p>"
    },
    "CreateChangeSet":{
      "name":"CreateChangeSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateChangeSetInput"},
      "output":{
        "shape":"CreateChangeSetOutput",
        "resultWrapper":"CreateChangeSetResult"
      },
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"InsufficientCapabilitiesException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a list of changes that will be applied to a stack so that you can review the changes before executing them. You can create a change set for a stack that doesn't exist or an existing stack. If you create a change set for a stack that doesn't exist, the change set shows all of the resources that CloudFormation will create. If you create a change set for an existing stack, CloudFormation compares the stack's information with the information that you submit in the change set and lists the differences. Use change sets to understand which resources CloudFormation will create or change, and how it will change resources in an existing stack, before you create or update a stack.</p> <p>To create a change set for a stack that doesn't exist, for the <code>ChangeSetType</code> parameter, specify <code>CREATE</code>. To create a change set for an existing stack, specify <code>UPDATE</code> for the <code>ChangeSetType</code> parameter. To create a change set for an import operation, specify <code>IMPORT</code> for the <code>ChangeSetType</code> parameter. After the <code>CreateChangeSet</code> call successfully completes, CloudFormation starts creating the change set. To check the status of the change set or to review it, use the <a>DescribeChangeSet</a> action.</p> <p>When you are satisfied with the changes the change set will make, execute the change set by using the <a>ExecuteChangeSet</a> action. CloudFormation doesn't make changes until you execute the change set.</p> <p>To create a change set for the entire stack hierarchy, set <code>IncludeNestedStacks</code> to <code>True</code>.</p>"
    },
    "CreateGeneratedTemplate":{
      "name":"CreateGeneratedTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateGeneratedTemplateInput"},
      "output":{
        "shape":"CreateGeneratedTemplateOutput",
        "resultWrapper":"CreateGeneratedTemplateResult"
      },
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConcurrentResourcesLimitExceededException"}
      ],
      "documentation":"<p>Creates a template from existing resources that are not already managed with CloudFormation. You can check the status of the template generation using the <code>DescribeGeneratedTemplate</code> API action.</p>"
    },
    "CreateStack":{
      "name":"CreateStack",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateStackInput"},
      "output":{
        "shape":"CreateStackOutput",
        "resultWrapper":"CreateStackResult"
      },
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"AlreadyExistsException"},
        {"shape":"TokenAlreadyExistsException"},
        {"shape":"InsufficientCapabilitiesException"}
      ],
      "documentation":"<p>Creates a stack as specified in the template. After the call completes successfully, the stack creation starts. You can check the status of the stack through the <a>DescribeStacks</a> operation.</p> <p>For more information about creating a stack and monitoring stack progress, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacks.html\">Managing Amazon Web Services resources as a single unit with CloudFormation stacks</a> in the <i>CloudFormation User Guide</i>.</p>"
    },
    "CreateStackInstances":{
      "name":"CreateStackInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateStackInstancesInput"},
      "output":{
        "shape":"CreateStackInstancesOutput",
        "resultWrapper":"CreateStackInstancesResult"
      },
      "errors":[
        {"shape":"StackSetNotFoundException"},
        {"shape":"OperationInProgressException"},
        {"shape":"OperationIdAlreadyExistsException"},
        {"shape":"StaleRequestException"},
        {"shape":"InvalidOperationException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates stack instances for the specified accounts, within the specified Amazon Web Services Regions. A stack instance refers to a stack in a specific account and Region. You must specify at least one value for either <code>Accounts</code> or <code>DeploymentTargets</code>, and you must specify at least one value for <code>Regions</code>.</p> <note> <p>The maximum number of organizational unit (OUs) supported by a <code>CreateStackInstances</code> operation is 50.</p> <p>If you need more than 50, consider the following options:</p> <ul> <li> <p> <i>Batch processing:</i> If you don't want to expose your OU hierarchy, split up the operations into multiple calls with less than 50 OUs each.</p> </li> <li> <p> <i>Parent OU strategy:</i> If you don't mind exposing the OU hierarchy, target a parent OU that contains all desired child OUs.</p> </li> </ul> </note>"
    },
    "CreateStackRefactor":{
      "name":"CreateStackRefactor",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateStackRefactorInput"},
      "output":{
        "shape":"CreateStackRefactorOutput",
        "resultWrapper":"CreateStackRefactorResult"
      },
      "documentation":"<p>Creates a refactor across multiple stacks, with the list of stacks and resources that are affected.</p>"
    },
    "CreateStackSet":{
      "name":"CreateStackSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateStackSetInput"},
      "output":{
        "shape":"CreateStackSetOutput",
        "resultWrapper":"CreateStackSetResult"
      },
      "errors":[
        {"shape":"NameAlreadyExistsException"},
        {"shape":"CreatedButModifiedException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a StackSet.</p>"
    },
    "DeactivateOrganizationsAccess":{
      "name":"DeactivateOrganizationsAccess",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeactivateOrganizationsAccessInput"},
      "output":{
        "shape":"DeactivateOrganizationsAccessOutput",
        "resultWrapper":"DeactivateOrganizationsAccessResult"
      },
      "errors":[
        {"shape":"InvalidOperationException"},
        {"shape":"OperationNotFoundException"}
      ],
      "documentation":"<p>Deactivates trusted access with Organizations. If trusted access is deactivated, the management account does not have permissions to create and manage service-managed StackSets for your organization.</p>"
    },
    "DeactivateType":{
      "name":"DeactivateType",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeactivateTypeInput"},
      "output":{
        "shape":"DeactivateTypeOutput",
        "resultWrapper":"DeactivateTypeResult"
      },
      "errors":[
        {"shape":"CFNRegistryException"},
        {"shape":"TypeNotFoundException"}
      ],
      "documentation":"<p>Deactivates a public third-party extension, such as a resource or module, or a CloudFormation Hook when you no longer use it.</p> <p>Deactivating an extension deletes the configuration details that are associated with it. To temporary disable a CloudFormation Hook instead, you can use <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_SetTypeConfiguration.html\">SetTypeConfiguration</a>.</p> <p>Once deactivated, an extension can't be used in any CloudFormation operation. This includes stack update operations where the stack template includes the extension, even if no updates are being made to the extension. In addition, deactivated extensions aren't automatically updated if a new version of the extension is released.</p> <p>To see which extensions are currently activated, use <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_ListTypes.html\">ListTypes</a>.</p>",
      "idempotent":true
    },
    "DeleteChangeSet":{
      "name":"DeleteChangeSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteChangeSetInput"},
      "output":{
        "shape":"DeleteChangeSetOutput",
        "resultWrapper":"DeleteChangeSetResult"
      },
      "errors":[
        {"shape":"InvalidChangeSetStatusException"}
      ],
      "documentation":"<p>Deletes the specified change set. Deleting change sets ensures that no one executes the wrong change set.</p> <p>If the call successfully completes, CloudFormation successfully deleted the change set.</p> <p>If <code>IncludeNestedStacks</code> specifies <code>True</code> during the creation of the nested change set, then <code>DeleteChangeSet</code> will delete all change sets that belong to the stacks hierarchy and will also delete all change sets for nested stacks with the status of <code>REVIEW_IN_PROGRESS</code>.</p>"
    },
    "DeleteGeneratedTemplate":{
      "name":"DeleteGeneratedTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteGeneratedTemplateInput"},
      "errors":[
        {"shape":"GeneratedTemplateNotFoundException"},
        {"shape":"ConcurrentResourcesLimitExceededException"}
      ],
      "documentation":"<p>Deleted a generated template.</p>"
    },
    "DeleteStack":{
      "name":"DeleteStack",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteStackInput"},
      "errors":[
        {"shape":"TokenAlreadyExistsException"}
      ],
      "documentation":"<p>Deletes a specified stack. Once the call completes successfully, stack deletion starts. Deleted stacks don't show up in the <a>DescribeStacks</a> operation if the deletion has been completed successfully.</p> <p>For more information about deleting a stack, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/cfn-console-delete-stack.html\">Delete a stack from the CloudFormation console</a> in the <i>CloudFormation User Guide</i>.</p>"
    },
    "DeleteStackInstances":{
      "name":"DeleteStackInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteStackInstancesInput"},
      "output":{
        "shape":"DeleteStackInstancesOutput",
        "resultWrapper":"DeleteStackInstancesResult"
      },
      "errors":[
        {"shape":"StackSetNotFoundException"},
        {"shape":"OperationInProgressException"},
        {"shape":"OperationIdAlreadyExistsException"},
        {"shape":"StaleRequestException"},
        {"shape":"InvalidOperationException"}
      ],
      "documentation":"<p>Deletes stack instances for the specified accounts, in the specified Amazon Web Services Regions.</p> <note> <p>The maximum number of organizational unit (OUs) supported by a <code>DeleteStackInstances</code> operation is 50.</p> <p>If you need more than 50, consider the following options:</p> <ul> <li> <p> <i>Batch processing:</i> If you don't want to expose your OU hierarchy, split up the operations into multiple calls with less than 50 OUs each.</p> </li> <li> <p> <i>Parent OU strategy:</i> If you don't mind exposing the OU hierarchy, target a parent OU that contains all desired child OUs.</p> </li> </ul> </note>"
    },
    "DeleteStackSet":{
      "name":"DeleteStackSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteStackSetInput"},
      "output":{
        "shape":"DeleteStackSetOutput",
        "resultWrapper":"DeleteStackSetResult"
      },
      "errors":[
        {"shape":"StackSetNotEmptyException"},
        {"shape":"OperationInProgressException"}
      ],
      "documentation":"<p>Deletes a StackSet. Before you can delete a StackSet, all its member stack instances must be deleted. For more information about how to complete this, see <a>DeleteStackInstances</a>.</p>"
    },
    "DeregisterType":{
      "name":"DeregisterType",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterTypeInput"},
      "output":{
        "shape":"DeregisterTypeOutput",
        "resultWrapper":"DeregisterTypeResult"
      },
      "errors":[
        {"shape":"CFNRegistryException"},
        {"shape":"TypeNotFoundException"}
      ],
      "documentation":"<p>Marks an extension or extension version as <code>DEPRECATED</code> in the CloudFormation registry, removing it from active use. Deprecated extensions or extension versions cannot be used in CloudFormation operations.</p> <p>To deregister an entire extension, you must individually deregister all active versions of that extension. If an extension has only a single active version, deregistering that version results in the extension itself being deregistered and marked as deprecated in the registry.</p> <p>You can't deregister the default version of an extension if there are other active version of that extension. If you do deregister the default version of an extension, the extension type itself is deregistered as well and marked as deprecated.</p> <p>To view the deprecation status of an extension or extension version, use <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_DescribeType.html\">DescribeType</a>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/registry-private-deregister-extension.html\">Remove third-party private extensions from your account</a> in the <i>CloudFormation User Guide</i>.</p>",
      "idempotent":true
    },
    "DescribeAccountLimits":{
      "name":"DescribeAccountLimits",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAccountLimitsInput"},
      "output":{
        "shape":"DescribeAccountLimitsOutput",
        "resultWrapper":"DescribeAccountLimitsResult"
      },
      "documentation":"<p>Retrieves your account's CloudFormation limits, such as the maximum number of stacks that you can create in your account. For more information about account limits, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/cloudformation-limits.html\">Understand CloudFormation quotas</a> in the <i>CloudFormation User Guide</i>.</p>"
    },
    "DescribeChangeSet":{
      "name":"DescribeChangeSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeChangeSetInput"},
      "output":{
        "shape":"DescribeChangeSetOutput",
        "resultWrapper":"DescribeChangeSetResult"
      },
      "errors":[
        {"shape":"ChangeSetNotFoundException"}
      ],
      "documentation":"<p>Returns the inputs for the change set and a list of changes that CloudFormation will make if you execute the change set. For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-updating-stacks-changesets.html\">Update CloudFormation stacks using change sets</a> in the <i>CloudFormation User Guide</i>.</p>"
    },
    "DescribeChangeSetHooks":{
      "name":"DescribeChangeSetHooks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeChangeSetHooksInput"},
      "output":{
        "shape":"DescribeChangeSetHooksOutput",
        "resultWrapper":"DescribeChangeSetHooksResult"
      },
      "errors":[
        {"shape":"ChangeSetNotFoundException"}
      ],
      "documentation":"<p>Returns hook-related information for the change set and a list of changes that CloudFormation makes when you run the change set.</p>"
    },
    "DescribeGeneratedTemplate":{
      "name":"DescribeGeneratedTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeGeneratedTemplateInput"},
      "output":{
        "shape":"DescribeGeneratedTemplateOutput",
        "resultWrapper":"DescribeGeneratedTemplateResult"
      },
      "errors":[
        {"shape":"GeneratedTemplateNotFoundException"}
      ],
      "documentation":"<p>Describes a generated template. The output includes details about the progress of the creation of a generated template started by a <code>CreateGeneratedTemplate</code> API action or the update of a generated template started with an <code>UpdateGeneratedTemplate</code> API action.</p>"
    },
    "DescribeOrganizationsAccess":{
      "name":"DescribeOrganizationsAccess",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeOrganizationsAccessInput"},
      "output":{
        "shape":"DescribeOrganizationsAccessOutput",
        "resultWrapper":"DescribeOrganizationsAccessResult"
      },
      "errors":[
        {"shape":"InvalidOperationException"},
        {"shape":"OperationNotFoundException"}
      ],
      "documentation":"<p>Retrieves information about the account's <code>OrganizationAccess</code> status. This API can be called either by the management account or the delegated administrator by using the <code>CallAs</code> parameter. This API can also be called without the <code>CallAs</code> parameter by the management account.</p>"
    },
    "DescribePublisher":{
      "name":"DescribePublisher",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePublisherInput"},
      "output":{
        "shape":"DescribePublisherOutput",
        "resultWrapper":"DescribePublisherResult"
      },
      "errors":[
        {"shape":"CFNRegistryException"}
      ],
      "documentation":"<p>Returns information about a CloudFormation extension publisher.</p> <p>If you don't supply a <code>PublisherId</code>, and you have registered as an extension publisher, <code>DescribePublisher</code> returns information about your own publisher account.</p> <p>For more information about registering as a publisher, see:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_RegisterPublisher.html\">RegisterPublisher</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/publish-extension.html\">Publishing extensions to make them available for public use</a> in the <i>CloudFormation Command Line Interface (CLI) User Guide</i> </p> </li> </ul>",
      "idempotent":true
    },
    "DescribeResourceScan":{
      "name":"DescribeResourceScan",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeResourceScanInput"},
      "output":{
        "shape":"DescribeResourceScanOutput",
        "resultWrapper":"DescribeResourceScanResult"
      },
      "errors":[
        {"shape":"ResourceScanNotFoundException"}
      ],
      "documentation":"<p>Describes details of a resource scan.</p>"
    },
    "DescribeStackDriftDetectionStatus":{
      "name":"DescribeStackDriftDetectionStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStackDriftDetectionStatusInput"},
      "output":{
        "shape":"DescribeStackDriftDetectionStatusOutput",
        "resultWrapper":"DescribeStackDriftDetectionStatusResult"
      },
      "documentation":"<p>Returns information about a stack drift detection operation. A stack drift detection operation detects whether a stack's actual configuration differs, or has <i>drifted</i>, from its expected configuration, as defined in the stack template and any values specified as template parameters. A stack is considered to have drifted if one or more of its resources have drifted. For more information about stack and resource drift, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-stack-drift.html\">Detect unmanaged configuration changes to stacks and resources with drift detection</a>.</p> <p>Use <a>DetectStackDrift</a> to initiate a stack drift detection operation. <code>DetectStackDrift</code> returns a <code>StackDriftDetectionId</code> you can use to monitor the progress of the operation using <code>DescribeStackDriftDetectionStatus</code>. Once the drift detection operation has completed, use <a>DescribeStackResourceDrifts</a> to return drift information about the stack and its resources.</p>"
    },
    "DescribeStackEvents":{
      "name":"DescribeStackEvents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStackEventsInput"},
      "output":{
        "shape":"DescribeStackEventsOutput",
        "resultWrapper":"DescribeStackEventsResult"
      },
      "documentation":"<p>Returns all stack related events for a specified stack in reverse chronological order. For more information about a stack's event history, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stack-resource-configuration-complete.html\">Understand CloudFormation stack creation events</a> in the <i>CloudFormation User Guide</i>.</p> <note> <p>You can list events for stacks that have failed to create or have been deleted by specifying the unique stack identifier (stack ID).</p> </note>"
    },
    "DescribeStackInstance":{
      "name":"DescribeStackInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStackInstanceInput"},
      "output":{
        "shape":"DescribeStackInstanceOutput",
        "resultWrapper":"DescribeStackInstanceResult"
      },
      "errors":[
        {"shape":"StackSetNotFoundException"},
        {"shape":"StackInstanceNotFoundException"}
      ],
      "documentation":"<p>Returns the stack instance that's associated with the specified StackSet, Amazon Web Services account, and Amazon Web Services Region.</p> <p>For a list of stack instances that are associated with a specific StackSet, use <a>ListStackInstances</a>.</p>"
    },
    "DescribeStackRefactor":{
      "name":"DescribeStackRefactor",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStackRefactorInput"},
      "output":{
        "shape":"DescribeStackRefactorOutput",
        "resultWrapper":"DescribeStackRefactorResult"
      },
      "errors":[
        {"shape":"StackRefactorNotFoundException"}
      ],
      "documentation":"<p>Describes the stack refactor status.</p>"
    },
    "DescribeStackResource":{
      "name":"DescribeStackResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStackResourceInput"},
      "output":{
        "shape":"DescribeStackResourceOutput",
        "resultWrapper":"DescribeStackResourceResult"
      },
      "documentation":"<p>Returns a description of the specified resource in the specified stack.</p> <p>For deleted stacks, DescribeStackResource returns resource information for up to 90 days after the stack has been deleted.</p>"
    },
    "DescribeStackResourceDrifts":{
      "name":"DescribeStackResourceDrifts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStackResourceDriftsInput"},
      "output":{
        "shape":"DescribeStackResourceDriftsOutput",
        "resultWrapper":"DescribeStackResourceDriftsResult"
      },
      "documentation":"<p>Returns drift information for the resources that have been checked for drift in the specified stack. This includes actual and expected configuration values for resources where CloudFormation detects configuration drift.</p> <p>For a given stack, there will be one <code>StackResourceDrift</code> for each stack resource that has been checked for drift. Resources that haven't yet been checked for drift aren't included. Resources that don't currently support drift detection aren't checked, and so not included. For a list of resources that support drift detection, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/resource-import-supported-resources.html\">Resource type support for imports and drift detection</a>.</p> <p>Use <a>DetectStackResourceDrift</a> to detect drift on individual resources, or <a>DetectStackDrift</a> to detect drift on all supported resources for a given stack.</p>"
    },
    "DescribeStackResources":{
      "name":"DescribeStackResources",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStackResourcesInput"},
      "output":{
        "shape":"DescribeStackResourcesOutput",
        "resultWrapper":"DescribeStackResourcesResult"
      },
      "documentation":"<p>Returns Amazon Web Services resource descriptions for running and deleted stacks. If <code>StackName</code> is specified, all the associated resources that are part of the stack are returned. If <code>PhysicalResourceId</code> is specified, the associated resources of the stack that the resource belongs to are returned.</p> <note> <p>Only the first 100 resources will be returned. If your stack has more resources than this, you should use <code>ListStackResources</code> instead.</p> </note> <p>For deleted stacks, <code>DescribeStackResources</code> returns resource information for up to 90 days after the stack has been deleted.</p> <p>You must specify either <code>StackName</code> or <code>PhysicalResourceId</code>, but not both. In addition, you can specify <code>LogicalResourceId</code> to filter the returned result. For more information about resources, the <code>LogicalResourceId</code> and <code>PhysicalResourceId</code>, see the <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/\">CloudFormation User Guide</a>.</p> <note> <p>A <code>ValidationError</code> is returned if you specify both <code>StackName</code> and <code>PhysicalResourceId</code> in the same request.</p> </note>"
    },
    "DescribeStackSet":{
      "name":"DescribeStackSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStackSetInput"},
      "output":{
        "shape":"DescribeStackSetOutput",
        "resultWrapper":"DescribeStackSetResult"
      },
      "errors":[
        {"shape":"StackSetNotFoundException"}
      ],
      "documentation":"<p>Returns the description of the specified StackSet.</p> <note> <p>This API provides <i>strongly consistent</i> reads meaning it will always return the most up-to-date data.</p> </note>"
    },
    "DescribeStackSetOperation":{
      "name":"DescribeStackSetOperation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStackSetOperationInput"},
      "output":{
        "shape":"DescribeStackSetOperationOutput",
        "resultWrapper":"DescribeStackSetOperationResult"
      },
      "errors":[
        {"shape":"StackSetNotFoundException"},
        {"shape":"OperationNotFoundException"}
      ],
      "documentation":"<p>Returns the description of the specified StackSet operation.</p> <note> <p>This API provides <i>strongly consistent</i> reads meaning it will always return the most up-to-date data.</p> </note>"
    },
    "DescribeStacks":{
      "name":"DescribeStacks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStacksInput"},
      "output":{
        "shape":"DescribeStacksOutput",
        "resultWrapper":"DescribeStacksResult"
      },
      "documentation":"<p>Returns the description for the specified stack; if no stack name was specified, then it returns the description for all the stacks created. For more information about a stack's event history, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stack-resource-configuration-complete.html\">Understand CloudFormation stack creation events</a> in the <i>CloudFormation User Guide</i>.</p> <note> <p>If the stack doesn't exist, a <code>ValidationError</code> is returned.</p> </note>"
    },
    "DescribeType":{
      "name":"DescribeType",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTypeInput"},
      "output":{
        "shape":"DescribeTypeOutput",
        "resultWrapper":"DescribeTypeResult"
      },
      "errors":[
        {"shape":"CFNRegistryException"},
        {"shape":"TypeNotFoundException"}
      ],
      "documentation":"<p>Returns detailed information about an extension from the CloudFormation registry in your current account and Region.</p> <p>If you specify a <code>VersionId</code>, <code>DescribeType</code> returns information about that specific extension version. Otherwise, it returns information about the default extension version.</p>",
      "idempotent":true
    },
    "DescribeTypeRegistration":{
      "name":"DescribeTypeRegistration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTypeRegistrationInput"},
      "output":{
        "shape":"DescribeTypeRegistrationOutput",
        "resultWrapper":"DescribeTypeRegistrationResult"
      },
      "errors":[
        {"shape":"CFNRegistryException"}
      ],
      "documentation":"<p>Returns information about an extension's registration, including its current status and type and version identifiers.</p> <p>When you initiate a registration request using <a>RegisterType</a>, you can then use <a>DescribeTypeRegistration</a> to monitor the progress of that registration request.</p> <p>Once the registration request has completed, use <a>DescribeType</a> to return detailed information about an extension.</p>",
      "idempotent":true
    },
    "DetectStackDrift":{
      "name":"DetectStackDrift",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetectStackDriftInput"},
      "output":{
        "shape":"DetectStackDriftOutput",
        "resultWrapper":"DetectStackDriftResult"
      },
      "documentation":"<p>Detects whether a stack's actual configuration differs, or has <i>drifted</i>, from its expected configuration, as defined in the stack template and any values specified as template parameters. For each resource in the stack that supports drift detection, CloudFormation compares the actual configuration of the resource with its expected template configuration. Only resource properties explicitly defined in the stack template are checked for drift. A stack is considered to have drifted if one or more of its resources differ from their expected template configurations. For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-stack-drift.html\">Detect unmanaged configuration changes to stacks and resources with drift detection</a>.</p> <p>Use <code>DetectStackDrift</code> to detect drift on all supported resources for a given stack, or <a>DetectStackResourceDrift</a> to detect drift on individual resources.</p> <p>For a list of stack resources that currently support drift detection, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/resource-import-supported-resources.html\">Resource type support for imports and drift detection</a>.</p> <p> <code>DetectStackDrift</code> can take up to several minutes, depending on the number of resources contained within the stack. Use <a>DescribeStackDriftDetectionStatus</a> to monitor the progress of a detect stack drift operation. Once the drift detection operation has completed, use <a>DescribeStackResourceDrifts</a> to return drift information about the stack and its resources.</p> <p>When detecting drift on a stack, CloudFormation doesn't detect drift on any nested stacks belonging to that stack. Perform <code>DetectStackDrift</code> directly on the nested stack itself.</p>"
    },
    "DetectStackResourceDrift":{
      "name":"DetectStackResourceDrift",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetectStackResourceDriftInput"},
      "output":{
        "shape":"DetectStackResourceDriftOutput",
        "resultWrapper":"DetectStackResourceDriftResult"
      },
      "documentation":"<p>Returns information about whether a resource's actual configuration differs, or has <i>drifted</i>, from its expected configuration, as defined in the stack template and any values specified as template parameters. This information includes actual and expected property values for resources in which CloudFormation detects drift. Only resource properties explicitly defined in the stack template are checked for drift. For more information about stack and resource drift, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-stack-drift.html\">Detect unmanaged configuration changes to stacks and resources with drift detection</a>.</p> <p>Use <code>DetectStackResourceDrift</code> to detect drift on individual resources, or <a>DetectStackDrift</a> to detect drift on all resources in a given stack that support drift detection.</p> <p>Resources that don't currently support drift detection can't be checked. For a list of resources that support drift detection, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/resource-import-supported-resources.html\">Resource type support for imports and drift detection</a>.</p>"
    },
    "DetectStackSetDrift":{
      "name":"DetectStackSetDrift",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetectStackSetDriftInput"},
      "output":{
        "shape":"DetectStackSetDriftOutput",
        "resultWrapper":"DetectStackSetDriftResult"
      },
      "errors":[
        {"shape":"InvalidOperationException"},
        {"shape":"OperationInProgressException"},
        {"shape":"StackSetNotFoundException"}
      ],
      "documentation":"<p>Detect drift on a StackSet. When CloudFormation performs drift detection on a StackSet, it performs drift detection on the stack associated with each stack instance in the StackSet. For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacksets-drift.html\">Performing drift detection on CloudFormation StackSets</a>.</p> <p> <code>DetectStackSetDrift</code> returns the <code>OperationId</code> of the StackSet drift detection operation. Use this operation id with <a>DescribeStackSetOperation</a> to monitor the progress of the drift detection operation. The drift detection operation may take some time, depending on the number of stack instances included in the StackSet, in addition to the number of resources included in each stack.</p> <p>Once the operation has completed, use the following actions to return drift information:</p> <ul> <li> <p>Use <a>DescribeStackSet</a> to return detailed information about the stack set, including detailed information about the last <i>completed</i> drift operation performed on the StackSet. (Information about drift operations that are in progress isn't included.)</p> </li> <li> <p>Use <a>ListStackInstances</a> to return a list of stack instances belonging to the StackSet, including the drift status and last drift time checked of each instance.</p> </li> <li> <p>Use <a>DescribeStackInstance</a> to return detailed information about a specific stack instance, including its drift status and last drift time checked.</p> </li> </ul> <p>You can only run a single drift detection operation on a given StackSet at one time.</p> <p>To stop a drift detection StackSet operation, use <a>StopStackSetOperation</a>.</p>"
    },
    "EstimateTemplateCost":{
      "name":"EstimateTemplateCost",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EstimateTemplateCostInput"},
      "output":{
        "shape":"EstimateTemplateCostOutput",
        "resultWrapper":"EstimateTemplateCostResult"
      },
      "documentation":"<p>Returns the estimated monthly cost of a template. The return value is an Amazon Web Services Simple Monthly Calculator URL with a query string that describes the resources required to run the template.</p>"
    },
    "ExecuteChangeSet":{
      "name":"ExecuteChangeSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ExecuteChangeSetInput"},
      "output":{
        "shape":"ExecuteChangeSetOutput",
        "resultWrapper":"ExecuteChangeSetResult"
      },
      "errors":[
        {"shape":"InvalidChangeSetStatusException"},
        {"shape":"ChangeSetNotFoundException"},
        {"shape":"InsufficientCapabilitiesException"},
        {"shape":"TokenAlreadyExistsException"}
      ],
      "documentation":"<p>Updates a stack using the input information that was provided when the specified change set was created. After the call successfully completes, CloudFormation starts updating the stack. Use the <a>DescribeStacks</a> action to view the status of the update.</p> <p>When you execute a change set, CloudFormation deletes all other change sets associated with the stack because they aren't valid for the updated stack.</p> <p>If a stack policy is associated with the stack, CloudFormation enforces the policy during the update. You can't specify a temporary stack policy that overrides the current policy.</p> <p>To create a change set for the entire stack hierarchy, <code>IncludeNestedStacks</code> must have been set to <code>True</code>.</p>"
    },
    "ExecuteStackRefactor":{
      "name":"ExecuteStackRefactor",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ExecuteStackRefactorInput"},
      "documentation":"<p>Executes the stack refactor operation.</p>"
    },
    "GetGeneratedTemplate":{
      "name":"GetGeneratedTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetGeneratedTemplateInput"},
      "output":{
        "shape":"GetGeneratedTemplateOutput",
        "resultWrapper":"GetGeneratedTemplateResult"
      },
      "errors":[
        {"shape":"GeneratedTemplateNotFoundException"}
      ],
      "documentation":"<p>Retrieves a generated template. If the template is in an <code>InProgress</code> or <code>Pending</code> status then the template returned will be the template when the template was last in a <code>Complete</code> status. If the template has not yet been in a <code>Complete</code> status then an empty template will be returned.</p>"
    },
    "GetStackPolicy":{
      "name":"GetStackPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetStackPolicyInput"},
      "output":{
        "shape":"GetStackPolicyOutput",
        "resultWrapper":"GetStackPolicyResult"
      },
      "documentation":"<p>Returns the stack policy for a specified stack. If a stack doesn't have a policy, a null value is returned.</p>"
    },
    "GetTemplate":{
      "name":"GetTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTemplateInput"},
      "output":{
        "shape":"GetTemplateOutput",
        "resultWrapper":"GetTemplateResult"
      },
      "errors":[
        {"shape":"ChangeSetNotFoundException"}
      ],
      "documentation":"<p>Returns the template body for a specified stack. You can get the template for running or deleted stacks.</p> <p>For deleted stacks, <code>GetTemplate</code> returns the template for up to 90 days after the stack has been deleted.</p> <note> <p>If the template doesn't exist, a <code>ValidationError</code> is returned.</p> </note>"
    },
    "GetTemplateSummary":{
      "name":"GetTemplateSummary",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTemplateSummaryInput"},
      "output":{
        "shape":"GetTemplateSummaryOutput",
        "resultWrapper":"GetTemplateSummaryResult"
      },
      "errors":[
        {"shape":"StackSetNotFoundException"}
      ],
      "documentation":"<p>Returns information about a new or existing template. The <code>GetTemplateSummary</code> action is useful for viewing parameter information, such as default parameter values and parameter types, before you create or update a stack or StackSet.</p> <p>You can use the <code>GetTemplateSummary</code> action when you submit a template, or you can get template information for a StackSet, or a running or deleted stack.</p> <p>For deleted stacks, <code>GetTemplateSummary</code> returns the template information for up to 90 days after the stack has been deleted. If the template doesn't exist, a <code>ValidationError</code> is returned.</p>"
    },
    "ImportStacksToStackSet":{
      "name":"ImportStacksToStackSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ImportStacksToStackSetInput"},
      "output":{
        "shape":"ImportStacksToStackSetOutput",
        "resultWrapper":"ImportStacksToStackSetResult"
      },
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"StackSetNotFoundException"},
        {"shape":"InvalidOperationException"},
        {"shape":"OperationInProgressException"},
        {"shape":"OperationIdAlreadyExistsException"},
        {"shape":"StackNotFoundException"},
        {"shape":"StaleRequestException"}
      ],
      "documentation":"<p>Import existing stacks into a new StackSets. Use the stack import operation to import up to 10 stacks into a new StackSet in the same account as the source stack or in a different administrator account and Region, by specifying the stack ID of the stack you intend to import.</p>"
    },
    "ListChangeSets":{
      "name":"ListChangeSets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListChangeSetsInput"},
      "output":{
        "shape":"ListChangeSetsOutput",
        "resultWrapper":"ListChangeSetsResult"
      },
      "documentation":"<p>Returns the ID and status of each active change set for a stack. For example, CloudFormation lists change sets that are in the <code>CREATE_IN_PROGRESS</code> or <code>CREATE_PENDING</code> state.</p>"
    },
    "ListExports":{
      "name":"ListExports",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListExportsInput"},
      "output":{
        "shape":"ListExportsOutput",
        "resultWrapper":"ListExportsResult"
      },
      "documentation":"<p>Lists all exported output values in the account and Region in which you call this action. Use this action to see the exported output values that you can import into other stacks. To import values, use the <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/TemplateReference/intrinsic-function-reference-importvalue.html\"> Fn::ImportValue</a> function.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-stack-exports.html\">Get exported outputs from a deployed CloudFormation stack</a>.</p>"
    },
    "ListGeneratedTemplates":{
      "name":"ListGeneratedTemplates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListGeneratedTemplatesInput"},
      "output":{
        "shape":"ListGeneratedTemplatesOutput",
        "resultWrapper":"ListGeneratedTemplatesResult"
      },
      "documentation":"<p>Lists your generated templates in this Region.</p>"
    },
    "ListHookResults":{
      "name":"ListHookResults",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListHookResultsInput"},
      "output":{
        "shape":"ListHookResultsOutput",
        "resultWrapper":"ListHookResultsResult"
      },
      "errors":[
        {"shape":"HookResultNotFoundException"}
      ],
      "documentation":"<p>Returns summaries of invoked Hooks. For more information, see <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/hooks-userguide/hooks-view-invocations.html\">View CloudFormation Hooks invocations</a> in the <i>CloudFormation Hooks User Guide</i>.</p> <p>This operation supports the following parameter combinations:</p> <ul> <li> <p>No parameters: Returns all Hook invocation summaries.</p> </li> <li> <p> <code>TypeArn</code> only: Returns summaries for a specific Hook.</p> </li> <li> <p> <code>TypeArn</code> and <code>Status</code>: Returns summaries for a specific Hook filtered by status.</p> </li> <li> <p> <code>TargetId</code> and <code>TargetType</code>: Returns summaries for a specific Hook invocation target.</p> </li> </ul>"
    },
    "ListImports":{
      "name":"ListImports",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListImportsInput"},
      "output":{
        "shape":"ListImportsOutput",
        "resultWrapper":"ListImportsResult"
      },
      "documentation":"<p>Lists all stacks that are importing an exported output value. To modify or remove an exported output value, first use this action to see which stacks are using it. To see the exported output values in your account, see <a>ListExports</a>.</p> <p>For more information about importing an exported output value, see the <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/TemplateReference/intrinsic-function-reference-importvalue.html\">Fn::ImportValue</a> function.</p>"
    },
    "ListResourceScanRelatedResources":{
      "name":"ListResourceScanRelatedResources",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListResourceScanRelatedResourcesInput"},
      "output":{
        "shape":"ListResourceScanRelatedResourcesOutput",
        "resultWrapper":"ListResourceScanRelatedResourcesResult"
      },
      "errors":[
        {"shape":"ResourceScanNotFoundException"},
        {"shape":"ResourceScanInProgressException"}
      ],
      "documentation":"<p>Lists the related resources for a list of resources from a resource scan. The response indicates whether each returned resource is already managed by CloudFormation.</p>"
    },
    "ListResourceScanResources":{
      "name":"ListResourceScanResources",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListResourceScanResourcesInput"},
      "output":{
        "shape":"ListResourceScanResourcesOutput",
        "resultWrapper":"ListResourceScanResourcesResult"
      },
      "errors":[
        {"shape":"ResourceScanNotFoundException"},
        {"shape":"ResourceScanInProgressException"}
      ],
      "documentation":"<p>Lists the resources from a resource scan. The results can be filtered by resource identifier, resource type prefix, tag key, and tag value. Only resources that match all specified filters are returned. The response indicates whether each returned resource is already managed by CloudFormation.</p>"
    },
    "ListResourceScans":{
      "name":"ListResourceScans",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListResourceScansInput"},
      "output":{
        "shape":"ListResourceScansOutput",
        "resultWrapper":"ListResourceScansResult"
      },
      "documentation":"<p>List the resource scans from newest to oldest. By default it will return up to 10 resource scans.</p>"
    },
    "ListStackInstanceResourceDrifts":{
      "name":"ListStackInstanceResourceDrifts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListStackInstanceResourceDriftsInput"},
      "output":{
        "shape":"ListStackInstanceResourceDriftsOutput",
        "resultWrapper":"ListStackInstanceResourceDriftsResult"
      },
      "errors":[
        {"shape":"StackSetNotFoundException"},
        {"shape":"StackInstanceNotFoundException"},
        {"shape":"OperationNotFoundException"}
      ],
      "documentation":"<p>Returns drift information for resources in a stack instance.</p> <note> <p> <code>ListStackInstanceResourceDrifts</code> returns drift information for the most recent drift detection operation. If an operation is in progress, it may only return partial results.</p> </note>"
    },
    "ListStackInstances":{
      "name":"ListStackInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListStackInstancesInput"},
      "output":{
        "shape":"ListStackInstancesOutput",
        "resultWrapper":"ListStackInstancesResult"
      },
      "errors":[
        {"shape":"StackSetNotFoundException"}
      ],
      "documentation":"<p>Returns summary information about stack instances that are associated with the specified StackSet. You can filter for stack instances that are associated with a specific Amazon Web Services account name or Region, or that have a specific status.</p>"
    },
    "ListStackRefactorActions":{
      "name":"ListStackRefactorActions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListStackRefactorActionsInput"},
      "output":{
        "shape":"ListStackRefactorActionsOutput",
        "resultWrapper":"ListStackRefactorActionsResult"
      },
      "documentation":"<p>Lists the stack refactor actions that will be taken after calling the <a>ExecuteStackRefactor</a> action.</p>"
    },
    "ListStackRefactors":{
      "name":"ListStackRefactors",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListStackRefactorsInput"},
      "output":{
        "shape":"ListStackRefactorsOutput",
        "resultWrapper":"ListStackRefactorsResult"
      },
      "documentation":"<p>Lists all account stack refactor operations and their statuses.</p>"
    },
    "ListStackResources":{
      "name":"ListStackResources",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListStackResourcesInput"},
      "output":{
        "shape":"ListStackResourcesOutput",
        "resultWrapper":"ListStackResourcesResult"
      },
      "documentation":"<p>Returns descriptions of all resources of the specified stack.</p> <p>For deleted stacks, ListStackResources returns resource information for up to 90 days after the stack has been deleted.</p>"
    },
    "ListStackSetAutoDeploymentTargets":{
      "name":"ListStackSetAutoDeploymentTargets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListStackSetAutoDeploymentTargetsInput"},
      "output":{
        "shape":"ListStackSetAutoDeploymentTargetsOutput",
        "resultWrapper":"ListStackSetAutoDeploymentTargetsResult"
      },
      "errors":[
        {"shape":"StackSetNotFoundException"}
      ],
      "documentation":"<p>Returns summary information about deployment targets for a StackSet.</p>"
    },
    "ListStackSetOperationResults":{
      "name":"ListStackSetOperationResults",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListStackSetOperationResultsInput"},
      "output":{
        "shape":"ListStackSetOperationResultsOutput",
        "resultWrapper":"ListStackSetOperationResultsResult"
      },
      "errors":[
        {"shape":"StackSetNotFoundException"},
        {"shape":"OperationNotFoundException"}
      ],
      "documentation":"<p>Returns summary information about the results of a StackSet operation.</p> <note> <p>This API provides <i>eventually consistent</i> reads meaning it may take some time but will eventually return the most up-to-date data.</p> </note>"
    },
    "ListStackSetOperations":{
      "name":"ListStackSetOperations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListStackSetOperationsInput"},
      "output":{
        "shape":"ListStackSetOperationsOutput",
        "resultWrapper":"ListStackSetOperationsResult"
      },
      "errors":[
        {"shape":"StackSetNotFoundException"}
      ],
      "documentation":"<p>Returns summary information about operations performed on a StackSet.</p> <note> <p>This API provides <i>eventually consistent</i> reads meaning it may take some time but will eventually return the most up-to-date data.</p> </note>"
    },
    "ListStackSets":{
      "name":"ListStackSets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListStackSetsInput"},
      "output":{
        "shape":"ListStackSetsOutput",
        "resultWrapper":"ListStackSetsResult"
      },
      "documentation":"<p>Returns summary information about StackSets that are associated with the user.</p> <note> <p>This API provides <i>strongly consistent</i> reads meaning it will always return the most up-to-date data.</p> </note> <ul> <li> <p>[Self-managed permissions] If you set the <code>CallAs</code> parameter to <code>SELF</code> while signed in to your Amazon Web Services account, <code>ListStackSets</code> returns all self-managed StackSets in your Amazon Web Services account.</p> </li> <li> <p>[Service-managed permissions] If you set the <code>CallAs</code> parameter to <code>SELF</code> while signed in to the organization's management account, <code>ListStackSets</code> returns all StackSets in the management account.</p> </li> <li> <p>[Service-managed permissions] If you set the <code>CallAs</code> parameter to <code>DELEGATED_ADMIN</code> while signed in to your member account, <code>ListStackSets</code> returns all StackSets with service-managed permissions in the management account.</p> </li> </ul>"
    },
    "ListStacks":{
      "name":"ListStacks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListStacksInput"},
      "output":{
        "shape":"ListStacksOutput",
        "resultWrapper":"ListStacksResult"
      },
      "documentation":"<p>Returns the summary information for stacks whose status matches the specified <code>StackStatusFilter</code>. Summary information for stacks that have been deleted is kept for 90 days after the stack is deleted. If no <code>StackStatusFilter</code> is specified, summary information for all stacks is returned (including existing stacks and stacks that have been deleted).</p>"
    },
    "ListTypeRegistrations":{
      "name":"ListTypeRegistrations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTypeRegistrationsInput"},
      "output":{
        "shape":"ListTypeRegistrationsOutput",
        "resultWrapper":"ListTypeRegistrationsResult"
      },
      "errors":[
        {"shape":"CFNRegistryException"}
      ],
      "documentation":"<p>Returns a list of registration tokens for the specified extension(s).</p>",
      "idempotent":true
    },
    "ListTypeVersions":{
      "name":"ListTypeVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTypeVersionsInput"},
      "output":{
        "shape":"ListTypeVersionsOutput",
        "resultWrapper":"ListTypeVersionsResult"
      },
      "errors":[
        {"shape":"CFNRegistryException"}
      ],
      "documentation":"<p>Returns summary information about the versions of an extension.</p>",
      "idempotent":true
    },
    "ListTypes":{
      "name":"ListTypes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTypesInput"},
      "output":{
        "shape":"ListTypesOutput",
        "resultWrapper":"ListTypesResult"
      },
      "errors":[
        {"shape":"CFNRegistryException"}
      ],
      "documentation":"<p>Returns summary information about all extensions, including your private resource types, modules, and Hooks as well as all public extensions from Amazon Web Services and third-party publishers.</p>",
      "idempotent":true
    },
    "PublishType":{
      "name":"PublishType",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PublishTypeInput"},
      "output":{
        "shape":"PublishTypeOutput",
        "resultWrapper":"PublishTypeResult"
      },
      "errors":[
        {"shape":"CFNRegistryException"},
        {"shape":"TypeNotFoundException"}
      ],
      "documentation":"<p>Publishes the specified extension to the CloudFormation registry as a public extension in this Region. Public extensions are available for use by all CloudFormation users. For more information about publishing extensions, see <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/publish-extension.html\">Publishing extensions to make them available for public use</a> in the <i>CloudFormation Command Line Interface (CLI) User Guide</i>.</p> <p>To publish an extension, you must be registered as a publisher with CloudFormation. For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_RegisterPublisher.html\">RegisterPublisher</a>.</p>",
      "idempotent":true
    },
    "RecordHandlerProgress":{
      "name":"RecordHandlerProgress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RecordHandlerProgressInput"},
      "output":{
        "shape":"RecordHandlerProgressOutput",
        "resultWrapper":"RecordHandlerProgressResult"
      },
      "errors":[
        {"shape":"InvalidStateTransitionException"},
        {"shape":"OperationStatusCheckFailedException"}
      ],
      "documentation":"<p>Reports progress of a resource handler to CloudFormation.</p> <p>Reserved for use by the <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/what-is-cloudformation-cli.html\">CloudFormation CLI</a>. Don't use this API in your code.</p>",
      "idempotent":true
    },
    "RegisterPublisher":{
      "name":"RegisterPublisher",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterPublisherInput"},
      "output":{
        "shape":"RegisterPublisherOutput",
        "resultWrapper":"RegisterPublisherResult"
      },
      "errors":[
        {"shape":"CFNRegistryException"}
      ],
      "documentation":"<p>Registers your account as a publisher of public extensions in the CloudFormation registry. Public extensions are available for use by all CloudFormation users. This publisher ID applies to your account in all Amazon Web Services Regions.</p> <p>For information about requirements for registering as a public extension publisher, see <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/publish-extension.html#publish-extension-prereqs\">Prerequisite: Registering your account to publish CloudFormation extensions</a> in the <i>CloudFormation Command Line Interface (CLI) User Guide</i>.</p> <p/>",
      "idempotent":true
    },
    "RegisterType":{
      "name":"RegisterType",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterTypeInput"},
      "output":{
        "shape":"RegisterTypeOutput",
        "resultWrapper":"RegisterTypeResult"
      },
      "errors":[
        {"shape":"CFNRegistryException"}
      ],
      "documentation":"<p>Registers an extension with the CloudFormation service. Registering an extension makes it available for use in CloudFormation templates in your Amazon Web Services account, and includes:</p> <ul> <li> <p>Validating the extension schema.</p> </li> <li> <p>Determining which handlers, if any, have been specified for the extension.</p> </li> <li> <p>Making the extension available for use in your account.</p> </li> </ul> <p>For more information about how to develop extensions and ready them for registration, see <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-types.html\">Creating resource types using the CloudFormation CLI</a> in the <i>CloudFormation Command Line Interface (CLI) User Guide</i>.</p> <p>You can have a maximum of 50 resource extension versions registered at a time. This maximum is per account and per Region. Use <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_DeregisterType.html\">DeregisterType</a> to deregister specific extension versions if necessary.</p> <p>Once you have initiated a registration request using <a>RegisterType</a>, you can use <a>DescribeTypeRegistration</a> to monitor the progress of the registration request.</p> <p>Once you have registered a private extension in your account and Region, use <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_SetTypeConfiguration.html\">SetTypeConfiguration</a> to specify configuration properties for the extension. For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/registry-set-configuration.html\">Edit configuration data for extensions in your account</a> in the <i>CloudFormation User Guide</i>.</p>",
      "idempotent":true
    },
    "RollbackStack":{
      "name":"RollbackStack",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RollbackStackInput"},
      "output":{
        "shape":"RollbackStackOutput",
        "resultWrapper":"RollbackStackResult"
      },
      "errors":[
        {"shape":"TokenAlreadyExistsException"}
      ],
      "documentation":"<p>When specifying <code>RollbackStack</code>, you preserve the state of previously provisioned resources when an operation fails. You can check the status of the stack through the <a>DescribeStacks</a> operation.</p> <p>Rolls back the specified stack to the last known stable state from <code>CREATE_FAILED</code> or <code>UPDATE_FAILED</code> stack statuses.</p> <p>This operation will delete a stack if it doesn't contain a last known stable state. A last known stable state includes any status in a <code>*_COMPLETE</code>. This includes the following stack statuses.</p> <ul> <li> <p> <code>CREATE_COMPLETE</code> </p> </li> <li> <p> <code>UPDATE_COMPLETE</code> </p> </li> <li> <p> <code>UPDATE_ROLLBACK_COMPLETE</code> </p> </li> <li> <p> <code>IMPORT_COMPLETE</code> </p> </li> <li> <p> <code>IMPORT_ROLLBACK_COMPLETE</code> </p> </li> </ul>"
    },
    "SetStackPolicy":{
      "name":"SetStackPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetStackPolicyInput"},
      "documentation":"<p>Sets a stack policy for a specified stack.</p>"
    },
    "SetTypeConfiguration":{
      "name":"SetTypeConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetTypeConfigurationInput"},
      "output":{
        "shape":"SetTypeConfigurationOutput",
        "resultWrapper":"SetTypeConfigurationResult"
      },
      "errors":[
        {"shape":"CFNRegistryException"},
        {"shape":"TypeNotFoundException"}
      ],
      "documentation":"<p>Specifies the configuration data for a registered CloudFormation extension, in the given account and Region.</p> <p>To view the current configuration data for an extension, refer to the <code>ConfigurationSchema</code> element of <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_DescribeType.html\">DescribeType</a>. For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/registry-set-configuration.html\">Edit configuration data for extensions in your account</a> in the <i>CloudFormation User Guide</i>.</p> <important> <p>It's strongly recommended that you use dynamic references to restrict sensitive configuration definitions, such as third-party credentials. For more details on dynamic references, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/dynamic-references.html\">Specify values stored in other services using dynamic references</a> in the <i>CloudFormation User Guide</i>.</p> </important>"
    },
    "SetTypeDefaultVersion":{
      "name":"SetTypeDefaultVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetTypeDefaultVersionInput"},
      "output":{
        "shape":"SetTypeDefaultVersionOutput",
        "resultWrapper":"SetTypeDefaultVersionResult"
      },
      "errors":[
        {"shape":"CFNRegistryException"},
        {"shape":"TypeNotFoundException"}
      ],
      "documentation":"<p>Specify the default version of an extension. The default version of an extension will be used in CloudFormation operations.</p>",
      "idempotent":true
    },
    "SignalResource":{
      "name":"SignalResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SignalResourceInput"},
      "documentation":"<p>Sends a signal to the specified resource with a success or failure status. You can use the <code>SignalResource</code> operation in conjunction with a creation policy or update policy. CloudFormation doesn't proceed with a stack creation or update until resources receive the required number of signals or the timeout period is exceeded. The <code>SignalResource</code> operation is useful in cases where you want to send signals from anywhere other than an Amazon EC2 instance.</p>"
    },
    "StartResourceScan":{
      "name":"StartResourceScan",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartResourceScanInput"},
      "output":{
        "shape":"StartResourceScanOutput",
        "resultWrapper":"StartResourceScanResult"
      },
      "errors":[
        {"shape":"ResourceScanInProgressException"},
        {"shape":"ResourceScanLimitExceededException"}
      ],
      "documentation":"<p>Starts a scan of the resources in this account in this Region. You can the status of a scan using the <code>ListResourceScans</code> API action.</p>"
    },
    "StopStackSetOperation":{
      "name":"StopStackSetOperation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopStackSetOperationInput"},
      "output":{
        "shape":"StopStackSetOperationOutput",
        "resultWrapper":"StopStackSetOperationResult"
      },
      "errors":[
        {"shape":"StackSetNotFoundException"},
        {"shape":"OperationNotFoundException"},
        {"shape":"InvalidOperationException"}
      ],
      "documentation":"<p>Stops an in-progress operation on a StackSet and its associated stack instances. StackSets will cancel all the unstarted stack instance deployments and wait for those are in-progress to complete.</p>"
    },
    "TestType":{
      "name":"TestType",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TestTypeInput"},
      "output":{
        "shape":"TestTypeOutput",
        "resultWrapper":"TestTypeResult"
      },
      "errors":[
        {"shape":"CFNRegistryException"},
        {"shape":"TypeNotFoundException"}
      ],
      "documentation":"<p>Tests a registered extension to make sure it meets all necessary requirements for being published in the CloudFormation registry.</p> <ul> <li> <p>For resource types, this includes passing all contracts tests defined for the type.</p> </li> <li> <p>For modules, this includes determining if the module's model meets all necessary requirements.</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/publish-extension.html#publish-extension-testing\">Testing your public extension before publishing</a> in the <i>CloudFormation Command Line Interface (CLI) User Guide</i>.</p> <p>If you don't specify a version, CloudFormation uses the default version of the extension in your account and Region for testing.</p> <p>To perform testing, CloudFormation assumes the execution role specified when the type was registered. For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_RegisterType.html\">RegisterType</a>.</p> <p>Once you've initiated testing on an extension using <code>TestType</code>, you can pass the returned <code>TypeVersionArn</code> into <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_DescribeType.html\">DescribeType</a> to monitor the current test status and test status description for the extension.</p> <p>An extension must have a test status of <code>PASSED</code> before it can be published. For more information, see <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-type-publish.html\">Publishing extensions to make them available for public use</a> in the <i>CloudFormation Command Line Interface (CLI) User Guide</i>.</p>",
      "idempotent":true
    },
    "UpdateGeneratedTemplate":{
      "name":"UpdateGeneratedTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateGeneratedTemplateInput"},
      "output":{
        "shape":"UpdateGeneratedTemplateOutput",
        "resultWrapper":"UpdateGeneratedTemplateResult"
      },
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"GeneratedTemplateNotFoundException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Updates a generated template. This can be used to change the name, add and remove resources, refresh resources, and change the <code>DeletionPolicy</code> and <code>UpdateReplacePolicy</code> settings. You can check the status of the update to the generated template using the <code>DescribeGeneratedTemplate</code> API action.</p>"
    },
    "UpdateStack":{
      "name":"UpdateStack",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateStackInput"},
      "output":{
        "shape":"UpdateStackOutput",
        "resultWrapper":"UpdateStackResult"
      },
      "errors":[
        {"shape":"InsufficientCapabilitiesException"},
        {"shape":"TokenAlreadyExistsException"}
      ],
      "documentation":"<p>Updates a stack as specified in the template. After the call completes successfully, the stack update starts. You can check the status of the stack through the <a>DescribeStacks</a> action.</p> <p>To get a copy of the template for an existing stack, you can use the <a>GetTemplate</a> action.</p> <p>For more information about updating a stack and monitoring the progress of the update, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacks.html\">Managing Amazon Web Services resources as a single unit with CloudFormation stacks</a> in the <i>CloudFormation User Guide</i>.</p>"
    },
    "UpdateStackInstances":{
      "name":"UpdateStackInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateStackInstancesInput"},
      "output":{
        "shape":"UpdateStackInstancesOutput",
        "resultWrapper":"UpdateStackInstancesResult"
      },
      "errors":[
        {"shape":"StackSetNotFoundException"},
        {"shape":"StackInstanceNotFoundException"},
        {"shape":"OperationInProgressException"},
        {"shape":"OperationIdAlreadyExistsException"},
        {"shape":"StaleRequestException"},
        {"shape":"InvalidOperationException"}
      ],
      "documentation":"<p>Updates the parameter values for stack instances for the specified accounts, within the specified Amazon Web Services Regions. A stack instance refers to a stack in a specific account and Region.</p> <p>You can only update stack instances in Amazon Web Services Regions and accounts where they already exist; to create additional stack instances, use <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_CreateStackInstances.html\">CreateStackInstances</a>.</p> <p>During StackSet updates, any parameters overridden for a stack instance aren't updated, but retain their overridden value.</p> <p>You can only update the parameter <i>values</i> that are specified in the StackSet. To add or delete a parameter itself, use <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_UpdateStackSet.html\">UpdateStackSet</a> to update the StackSet template. If you add a parameter to a template, before you can override the parameter value specified in the StackSet you must first use <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_UpdateStackSet.html\">UpdateStackSet</a> to update all stack instances with the updated template and parameter value specified in the StackSet. Once a stack instance has been updated with the new parameter, you can then override the parameter value using <code>UpdateStackInstances</code>.</p> <note> <p>The maximum number of organizational unit (OUs) supported by a <code>UpdateStackInstances</code> operation is 50.</p> <p>If you need more than 50, consider the following options:</p> <ul> <li> <p> <i>Batch processing:</i> If you don't want to expose your OU hierarchy, split up the operations into multiple calls with less than 50 OUs each.</p> </li> <li> <p> <i>Parent OU strategy:</i> If you don't mind exposing the OU hierarchy, target a parent OU that contains all desired child OUs.</p> </li> </ul> </note>"
    },
    "UpdateStackSet":{
      "name":"UpdateStackSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateStackSetInput"},
      "output":{
        "shape":"UpdateStackSetOutput",
        "resultWrapper":"UpdateStackSetResult"
      },
      "errors":[
        {"shape":"StackSetNotFoundException"},
        {"shape":"OperationInProgressException"},
        {"shape":"OperationIdAlreadyExistsException"},
        {"shape":"StaleRequestException"},
        {"shape":"InvalidOperationException"},
        {"shape":"StackInstanceNotFoundException"}
      ],
      "documentation":"<p>Updates the StackSet and associated stack instances in the specified accounts and Amazon Web Services Regions.</p> <p>Even if the StackSet operation created by updating the StackSet fails (completely or partially, below or above a specified failure tolerance), the StackSet is updated with your changes. Subsequent <a>CreateStackInstances</a> calls on the specified StackSet use the updated StackSet.</p> <note> <p>The maximum number of organizational unit (OUs) supported by a <code>UpdateStackSet</code> operation is 50.</p> <p>If you need more than 50, consider the following options:</p> <ul> <li> <p> <i>Batch processing:</i> If you don't want to expose your OU hierarchy, split up the operations into multiple calls with less than 50 OUs each.</p> </li> <li> <p> <i>Parent OU strategy:</i> If you don't mind exposing the OU hierarchy, target a parent OU that contains all desired child OUs.</p> </li> </ul> </note>"
    },
    "UpdateTerminationProtection":{
      "name":"UpdateTerminationProtection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateTerminationProtectionInput"},
      "output":{
        "shape":"UpdateTerminationProtectionOutput",
        "resultWrapper":"UpdateTerminationProtectionResult"
      },
      "documentation":"<p>Updates termination protection for the specified stack. If a user attempts to delete a stack with termination protection enabled, the operation fails and the stack remains unchanged. For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-protect-stacks.html\">Protect a CloudFormation stack from being deleted</a> in the <i>CloudFormation User Guide</i>.</p> <p>For <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-nested-stacks.html\">nested stacks</a>, termination protection is set on the root stack and can't be changed directly on the nested stack.</p>"
    },
    "ValidateTemplate":{
      "name":"ValidateTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ValidateTemplateInput"},
      "output":{
        "shape":"ValidateTemplateOutput",
        "resultWrapper":"ValidateTemplateResult"
      },
      "documentation":"<p>Validates a specified template. CloudFormation first checks if the template is valid JSON. If it isn't, CloudFormation checks if the template is valid YAML. If both these checks fail, CloudFormation returns a template validation error.</p>"
    }
  },
  "shapes":{
    "AcceptTermsAndConditions":{"type":"boolean"},
    "Account":{
      "type":"string",
      "pattern":"^[0-9]{12}$"
    },
    "AccountFilterType":{
      "type":"string",
      "enum":[
        "NONE",
        "INTERSECTION",
        "DIFFERENCE",
        "UNION"
      ]
    },
    "AccountGateResult":{
      "type":"structure",
      "members":{
        "Status":{
          "shape":"AccountGateStatus",
          "documentation":"<p>The status of the account gate function.</p> <ul> <li> <p> <code>SUCCEEDED</code>: The account gate function has determined that the account and Region passes any requirements for a StackSet operation to occur. CloudFormation proceeds with the stack operation in that account and Region.</p> </li> <li> <p> <code>FAILED</code>: The account gate function has determined that the account and Region doesn't meet the requirements for a StackSet operation to occur. CloudFormation cancels the StackSet operation in that account and Region, and sets the StackSet operation result status for that account and Region to <code>FAILED</code>.</p> </li> <li> <p> <code>SKIPPED</code>: CloudFormation has skipped calling the account gate function for this account and Region, for one of the following reasons:</p> <ul> <li> <p>An account gate function hasn't been specified for the account and Region. CloudFormation proceeds with the StackSet operation in this account and Region.</p> </li> <li> <p>The <code>AWSCloudFormationStackSetExecutionRole</code> of the administration account lacks permissions to invoke the function. CloudFormation proceeds with the StackSet operation in this account and Region.</p> </li> <li> <p>Either no action is necessary, or no action is possible, on the stack. CloudFormation skips the StackSet operation in this account and Region.</p> </li> </ul> </li> </ul>"
        },
        "StatusReason":{
          "shape":"AccountGateStatusReason",
          "documentation":"<p>The reason for the account gate status assigned to this account and Region for the StackSet operation.</p>"
        }
      },
      "documentation":"<p>Structure that contains the results of the account gate function which CloudFormation invokes, if present, before proceeding with a StackSet operation in an account and Region.</p> <p>For each account and Region, CloudFormation lets you specify a Lambda function that encapsulates any requirements that must be met before CloudFormation can proceed with a StackSet operation in that account and Region. CloudFormation invokes the function each time a StackSet operation is requested for that account and Region; if the function returns <code>FAILED</code>, CloudFormation cancels the operation in that account and Region, and sets the StackSet operation result status for that account and Region to <code>FAILED</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacksets-account-gating.html\">Prevent failed StackSets deployments using target account gates</a> in the <i>CloudFormation User Guide</i>.</p>"
    },
    "AccountGateStatus":{
      "type":"string",
      "enum":[
        "SUCCEEDED",
        "FAILED",
        "SKIPPED"
      ]
    },
    "AccountGateStatusReason":{"type":"string"},
    "AccountLimit":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"LimitName",
          "documentation":"<p>The name of the account limit.</p> <p>Values: <code>ConcurrentResourcesLimit</code> | <code>StackLimit</code> | <code>StackOutputsLimit</code> </p>"
        },
        "Value":{
          "shape":"LimitValue",
          "documentation":"<p>The value that's associated with the account limit name.</p>"
        }
      },
      "documentation":"<p>Describes the current CloudFormation limits for your account.</p> <p>CloudFormation has the following limits per account:</p> <ul> <li> <p>Number of concurrent resources</p> </li> <li> <p>Number of stacks</p> </li> <li> <p>Number of stack outputs</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/cloudformation-limits.html\">Understand CloudFormation quotas</a> in the <i>CloudFormation User Guide</i>.</p>"
    },
    "AccountLimitList":{
      "type":"list",
      "member":{"shape":"AccountLimit"}
    },
    "AccountList":{
      "type":"list",
      "member":{"shape":"Account"}
    },
    "AccountsUrl":{
      "type":"string",
      "max":5120,
      "min":1,
      "pattern":"(s3://|http(s?)://).+"
    },
    "ActivateOrganizationsAccessInput":{
      "type":"structure",
      "members":{}
    },
    "ActivateOrganizationsAccessOutput":{
      "type":"structure",
      "members":{}
    },
    "ActivateTypeInput":{
      "type":"structure",
      "members":{
        "Type":{
          "shape":"ThirdPartyType",
          "documentation":"<p>The extension type.</p> <p>Conditional: You must specify <code>PublicTypeArn</code>, or <code>TypeName</code>, <code>Type</code>, and <code>PublisherId</code>.</p>"
        },
        "PublicTypeArn":{
          "shape":"ThirdPartyTypeArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the public extension.</p> <p>Conditional: You must specify <code>PublicTypeArn</code>, or <code>TypeName</code>, <code>Type</code>, and <code>PublisherId</code>.</p>"
        },
        "PublisherId":{
          "shape":"PublisherId",
          "documentation":"<p>The ID of the extension publisher.</p> <p>Conditional: You must specify <code>PublicTypeArn</code>, or <code>TypeName</code>, <code>Type</code>, and <code>PublisherId</code>.</p>"
        },
        "TypeName":{
          "shape":"TypeName",
          "documentation":"<p>The name of the extension.</p> <p>Conditional: You must specify <code>PublicTypeArn</code>, or <code>TypeName</code>, <code>Type</code>, and <code>PublisherId</code>.</p>"
        },
        "TypeNameAlias":{
          "shape":"TypeName",
          "documentation":"<p>An alias to assign to the public extension, in this account and Region. If you specify an alias for the extension, CloudFormation treats the alias as the extension type name within this account and Region. You must use the alias to refer to the extension in your templates, API calls, and CloudFormation console.</p> <p>An extension alias must be unique within a given account and Region. You can activate the same public resource multiple times in the same account and Region, using different type name aliases.</p>"
        },
        "AutoUpdate":{
          "shape":"AutoUpdate",
          "documentation":"<p>Whether to automatically update the extension in this account and Region when a new <i>minor</i> version is published by the extension publisher. Major versions released by the publisher must be manually updated.</p> <p>The default is <code>true</code>.</p>"
        },
        "LoggingConfig":{
          "shape":"LoggingConfig",
          "documentation":"<p>Contains logging configuration information for an extension.</p>"
        },
        "ExecutionRoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The name of the IAM execution role to use to activate the extension.</p>"
        },
        "VersionBump":{
          "shape":"VersionBump",
          "documentation":"<p>Manually updates a previously-activated type to a new major or minor version, if available. You can also use this parameter to update the value of <code>AutoUpdate</code>.</p> <ul> <li> <p> <code>MAJOR</code>: CloudFormation updates the extension to the newest major version, if one is available.</p> </li> <li> <p> <code>MINOR</code>: CloudFormation updates the extension to the newest minor version, if one is available.</p> </li> </ul>"
        },
        "MajorVersion":{
          "shape":"MajorVersion",
          "documentation":"<p>The major version of this extension you want to activate, if multiple major versions are available. The default is the latest major version. CloudFormation uses the latest available <i>minor</i> version of the major version selected.</p> <p>You can specify <code>MajorVersion</code> or <code>VersionBump</code>, but not both.</p>"
        }
      }
    },
    "ActivateTypeOutput":{
      "type":"structure",
      "members":{
        "Arn":{
          "shape":"PrivateTypeArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the activated extension, in this account and Region.</p>"
        }
      }
    },
    "AfterContext":{"type":"string"},
    "AfterValue":{"type":"string"},
    "AllowedValue":{"type":"string"},
    "AllowedValues":{
      "type":"list",
      "member":{"shape":"AllowedValue"}
    },
    "AlreadyExistsException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The resource with the name requested already exists.</p>",
      "error":{
        "code":"AlreadyExistsException",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "Arn":{"type":"string"},
    "AttributeChangeType":{
      "type":"string",
      "enum":[
        "Add",
        "Remove",
        "Modify"
      ]
    },
    "AutoDeployment":{
      "type":"structure",
      "members":{
        "Enabled":{
          "shape":"AutoDeploymentNullable",
          "documentation":"<p>If set to <code>true</code>, StackSets automatically deploys additional stack instances to Organizations accounts that are added to a target organization or organizational unit (OU) in the specified Regions. If an account is removed from a target organization or OU, StackSets deletes stack instances from the account in the specified Regions.</p>"
        },
        "RetainStacksOnAccountRemoval":{
          "shape":"RetainStacksOnAccountRemovalNullable",
          "documentation":"<p>If set to <code>true</code>, stack resources are retained when an account is removed from a target organization or OU. If set to <code>false</code>, stack resources are deleted. Specify only if <code>Enabled</code> is set to <code>True</code>.</p>"
        }
      },
      "documentation":"<p>Describes whether StackSets automatically deploys to Organizations accounts that are added to a target organization or organizational unit (OU). For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacksets-orgs-manage-auto-deployment.html\">Enable or disable automatic deployments for StackSets in Organizations</a> in the <i>CloudFormation User Guide</i>.</p>"
    },
    "AutoDeploymentNullable":{"type":"boolean"},
    "AutoUpdate":{"type":"boolean"},
    "BatchDescribeTypeConfigurationsError":{
      "type":"structure",
      "members":{
        "ErrorCode":{
          "shape":"ErrorCode",
          "documentation":"<p>The error code.</p>"
        },
        "ErrorMessage":{
          "shape":"ErrorMessage",
          "documentation":"<p>The error message.</p>"
        },
        "TypeConfigurationIdentifier":{
          "shape":"TypeConfigurationIdentifier",
          "documentation":"<p>Identifying information for the configuration of a CloudFormation extension.</p>"
        }
      },
      "documentation":"<p>Detailed information concerning an error generated during the setting of configuration data for a CloudFormation extension.</p>"
    },
    "BatchDescribeTypeConfigurationsErrors":{
      "type":"list",
      "member":{"shape":"BatchDescribeTypeConfigurationsError"}
    },
    "BatchDescribeTypeConfigurationsInput":{
      "type":"structure",
      "required":["TypeConfigurationIdentifiers"],
      "members":{
        "TypeConfigurationIdentifiers":{
          "shape":"TypeConfigurationIdentifiers",
          "documentation":"<p>The list of identifiers for the desired extension configurations.</p>"
        }
      }
    },
    "BatchDescribeTypeConfigurationsOutput":{
      "type":"structure",
      "members":{
        "Errors":{
          "shape":"BatchDescribeTypeConfigurationsErrors",
          "documentation":"<p>A list of information concerning any errors generated during the setting of the specified configurations.</p>"
        },
        "UnprocessedTypeConfigurations":{
          "shape":"UnprocessedTypeConfigurations",
          "documentation":"<p>A list of any of the specified extension configurations that CloudFormation could not process for any reason.</p>"
        },
        "TypeConfigurations":{
          "shape":"TypeConfigurationDetailsList",
          "documentation":"<p>A list of any of the specified extension configurations from the CloudFormation registry.</p>"
        }
      }
    },
    "BeforeContext":{"type":"string"},
    "BeforeValue":{"type":"string"},
    "BoxedInteger":{
      "type":"integer",
      "box":true
    },
    "BoxedMaxResults":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "CFNRegistryException":{
      "type":"structure",
      "members":{
        "Message":{
          "shape":"ErrorMessage",
          "documentation":"<p>A message with details about the error that occurred.</p>"
        }
      },
      "documentation":"<p>An error occurred during a CloudFormation registry operation.</p>",
      "error":{
        "code":"CFNRegistryException",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "CallAs":{
      "type":"string",
      "enum":[
        "SELF",
        "DELEGATED_ADMIN"
      ]
    },
    "CancelUpdateStackInput":{
      "type":"structure",
      "required":["StackName"],
      "members":{
        "StackName":{
          "shape":"StackName",
          "documentation":"<note> <p>If you don't pass a parameter to <code>StackName</code>, the API returns a response that describes all resources in the account.</p> <p>The IAM policy below can be added to IAM policies when you want to limit resource-level permissions and avoid returning a response when no parameter is sent in the request:</p> <p> <code>{ \"Version\": \"2012-10-17\", \"Statement\": [{ \"Effect\": \"Deny\", \"Action\": \"cloudformation:DescribeStacks\", \"NotResource\": \"arn:aws:cloudformation:*:*:stack/*/*\" }] }</code> </p> </note> <p>The name or the unique stack ID that's associated with the stack.</p>"
        },
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "documentation":"<p>A unique identifier for this <code>CancelUpdateStack</code> request. Specify this token if you plan to retry requests so that CloudFormation knows that you're not attempting to cancel an update on a stack with the same name. You might retry <code>CancelUpdateStack</code> requests to ensure that CloudFormation successfully received them.</p>"
        }
      },
      "documentation":"<p>The input for the <a>CancelUpdateStack</a> action.</p>"
    },
    "Capabilities":{
      "type":"list",
      "member":{"shape":"Capability"}
    },
    "CapabilitiesReason":{"type":"string"},
    "Capability":{
      "type":"string",
      "enum":[
        "CAPABILITY_IAM",
        "CAPABILITY_NAMED_IAM",
        "CAPABILITY_AUTO_EXPAND"
      ]
    },
    "Category":{
      "type":"string",
      "enum":[
        "REGISTERED",
        "ACTIVATED",
        "THIRD_PARTY",
        "AWS_TYPES"
      ]
    },
    "CausingEntity":{"type":"string"},
    "Change":{
      "type":"structure",
      "members":{
        "Type":{
          "shape":"ChangeType",
          "documentation":"<p>The type of entity that CloudFormation changes.</p> <ul> <li> <p> <code>Resource</code> This change is for a resource.</p> </li> </ul>"
        },
        "HookInvocationCount":{
          "shape":"HookInvocationCount",
          "documentation":"<p>Is either <code>null</code>, if no Hooks invoke for the resource, or contains the number of Hooks that will invoke for the resource.</p>"
        },
        "ResourceChange":{
          "shape":"ResourceChange",
          "documentation":"<p>A <code>ResourceChange</code> structure that describes the resource and action that CloudFormation will perform.</p>"
        }
      },
      "documentation":"<p>The <code>Change</code> structure describes the changes CloudFormation will perform if you execute the change set.</p>"
    },
    "ChangeAction":{
      "type":"string",
      "enum":[
        "Add",
        "Modify",
        "Remove",
        "Import",
        "Dynamic"
      ]
    },
    "ChangeSetHook":{
      "type":"structure",
      "members":{
        "InvocationPoint":{
          "shape":"HookInvocationPoint",
          "documentation":"<p>The specific point in the provisioning process where the Hook is invoked.</p>"
        },
        "FailureMode":{
          "shape":"HookFailureMode",
[...]
