{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2014-10-06",
    "endpointPrefix":"codedeploy",
    "jsonVersion":"1.1",
    "protocol":"json",
    "protocols":["json"],
    "serviceAbbreviation":"CodeDeploy",
    "serviceFullName":"AWS CodeDeploy",
    "serviceId":"CodeDeploy",
    "signatureVersion":"v4",
    "targetPrefix":"CodeDeploy_20141006",
    "uid":"codedeploy-2014-10-06",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AddTagsToOnPremisesInstances":{
      "name":"AddTagsToOnPremisesInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddTagsToOnPremisesInstancesInput"},
      "errors":[
        {"shape":"InstanceNameRequiredException"},
        {"shape":"InvalidInstanceNameException"},
        {"shape":"TagRequiredException"},
        {"shape":"InvalidTagException"},
        {"shape":"TagLimitExceededException"},
        {"shape":"InstanceLimitExceededException"},
        {"shape":"InstanceNotRegisteredException"}
      ],
      "documentation":"<p>Adds tags to on-premises instances.</p>"
    },
    "BatchGetApplicationRevisions":{
      "name":"BatchGetApplicationRevisions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetApplicationRevisionsInput"},
      "output":{"shape":"BatchGetApplicationRevisionsOutput"},
      "errors":[
        {"shape":"ApplicationDoesNotExistException"},
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"RevisionRequiredException"},
        {"shape":"InvalidRevisionException"},
        {"shape":"BatchLimitExceededException"}
      ],
      "documentation":"<p>Gets information about one or more application revisions. The maximum number of application revisions that can be returned is 25.</p>"
    },
    "BatchGetApplications":{
      "name":"BatchGetApplications",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetApplicationsInput"},
      "output":{"shape":"BatchGetApplicationsOutput"},
      "errors":[
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"ApplicationDoesNotExistException"},
        {"shape":"BatchLimitExceededException"}
      ],
      "documentation":"<p>Gets information about one or more applications. The maximum number of applications that can be returned is 100.</p>"
    },
    "BatchGetDeploymentGroups":{
      "name":"BatchGetDeploymentGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetDeploymentGroupsInput"},
      "output":{"shape":"BatchGetDeploymentGroupsOutput"},
      "errors":[
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"ApplicationDoesNotExistException"},
        {"shape":"DeploymentGroupNameRequiredException"},
        {"shape":"InvalidDeploymentGroupNameException"},
        {"shape":"BatchLimitExceededException"},
        {"shape":"DeploymentConfigDoesNotExistException"}
      ],
      "documentation":"<p>Gets information about one or more deployment groups.</p>"
    },
    "BatchGetDeploymentInstances":{
      "name":"BatchGetDeploymentInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetDeploymentInstancesInput"},
      "output":{"shape":"BatchGetDeploymentInstancesOutput"},
      "errors":[
        {"shape":"DeploymentIdRequiredException"},
        {"shape":"DeploymentDoesNotExistException"},
        {"shape":"InstanceIdRequiredException"},
        {"shape":"InvalidDeploymentIdException"},
        {"shape":"InvalidInstanceNameException"},
        {"shape":"BatchLimitExceededException"},
        {"shape":"InvalidComputePlatformException"}
      ],
      "documentation":"<note> <p> This method works, but is deprecated. Use <code>BatchGetDeploymentTargets</code> instead. </p> </note> <p> Returns an array of one or more instances associated with a deployment. This method works with EC2/On-premises and Lambda compute platforms. The newer <code>BatchGetDeploymentTargets</code> works with all compute platforms. The maximum number of instances that can be returned is 25.</p>",
      "deprecated":true,
      "deprecatedMessage":"This operation is deprecated, use BatchGetDeploymentTargets instead."
    },
    "BatchGetDeploymentTargets":{
      "name":"BatchGetDeploymentTargets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetDeploymentTargetsInput"},
      "output":{"shape":"BatchGetDeploymentTargetsOutput"},
      "errors":[
        {"shape":"InvalidDeploymentIdException"},
        {"shape":"DeploymentIdRequiredException"},
        {"shape":"DeploymentDoesNotExistException"},
        {"shape":"DeploymentNotStartedException"},
        {"shape":"DeploymentTargetIdRequiredException"},
        {"shape":"InvalidDeploymentTargetIdException"},
        {"shape":"DeploymentTargetDoesNotExistException"},
        {"shape":"DeploymentTargetListSizeExceededException"},
        {"shape":"InstanceDoesNotExistException"}
      ],
      "documentation":"<p> Returns an array of one or more targets associated with a deployment. This method works with all compute types and should be used instead of the deprecated <code>BatchGetDeploymentInstances</code>. The maximum number of targets that can be returned is 25.</p> <p> The type of targets returned depends on the deployment's compute platform or deployment method: </p> <ul> <li> <p> <b>EC2/On-premises</b>: Information about Amazon EC2 instance targets. </p> </li> <li> <p> <b>Lambda</b>: Information about Lambda functions targets. </p> </li> <li> <p> <b>Amazon ECS</b>: Information about Amazon ECS service targets. </p> </li> <li> <p> <b>CloudFormation</b>: Information about targets of blue/green deployments initiated by a CloudFormation stack update.</p> </li> </ul>"
    },
    "BatchGetDeployments":{
      "name":"BatchGetDeployments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetDeploymentsInput"},
      "output":{"shape":"BatchGetDeploymentsOutput"},
      "errors":[
        {"shape":"DeploymentIdRequiredException"},
        {"shape":"InvalidDeploymentIdException"},
        {"shape":"BatchLimitExceededException"}
      ],
      "documentation":"<p>Gets information about one or more deployments. The maximum number of deployments that can be returned is 25.</p>"
    },
    "BatchGetOnPremisesInstances":{
      "name":"BatchGetOnPremisesInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetOnPremisesInstancesInput"},
      "output":{"shape":"BatchGetOnPremisesInstancesOutput"},
      "errors":[
        {"shape":"InstanceNameRequiredException"},
        {"shape":"InvalidInstanceNameException"},
        {"shape":"BatchLimitExceededException"}
      ],
      "documentation":"<p>Gets information about one or more on-premises instances. The maximum number of on-premises instances that can be returned is 25.</p>"
    },
    "ContinueDeployment":{
      "name":"ContinueDeployment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ContinueDeploymentInput"},
      "errors":[
        {"shape":"DeploymentIdRequiredException"},
        {"shape":"DeploymentDoesNotExistException"},
        {"shape":"DeploymentAlreadyCompletedException"},
        {"shape":"InvalidDeploymentIdException"},
        {"shape":"DeploymentIsNotInReadyStateException"},
        {"shape":"UnsupportedActionForDeploymentTypeException"},
        {"shape":"InvalidDeploymentWaitTypeException"},
        {"shape":"InvalidDeploymentStatusException"}
      ],
      "documentation":"<p>For a blue/green deployment, starts the process of rerouting traffic from instances in the original environment to instances in the replacement environment without waiting for a specified wait time to elapse. (Traffic rerouting, which is achieved by registering instances in the replacement environment with the load balancer, can start as soon as all instances have a status of Ready.) </p>"
    },
    "CreateApplication":{
      "name":"CreateApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateApplicationInput"},
      "output":{"shape":"CreateApplicationOutput"},
      "errors":[
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"ApplicationAlreadyExistsException"},
        {"shape":"ApplicationLimitExceededException"},
        {"shape":"InvalidComputePlatformException"},
        {"shape":"InvalidTagsToAddException"}
      ],
      "documentation":"<p>Creates an application.</p>"
    },
    "CreateDeployment":{
      "name":"CreateDeployment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDeploymentInput"},
      "output":{"shape":"CreateDeploymentOutput"},
      "errors":[
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"ApplicationDoesNotExistException"},
        {"shape":"DeploymentGroupNameRequiredException"},
        {"shape":"InvalidDeploymentGroupNameException"},
        {"shape":"DeploymentGroupDoesNotExistException"},
        {"shape":"RevisionRequiredException"},
        {"shape":"RevisionDoesNotExistException"},
        {"shape":"InvalidRevisionException"},
        {"shape":"InvalidDeploymentConfigNameException"},
        {"shape":"DeploymentConfigDoesNotExistException"},
        {"shape":"DescriptionTooLongException"},
        {"shape":"DeploymentLimitExceededException"},
        {"shape":"InvalidTargetInstancesException"},
        {"shape":"InvalidAlarmConfigException"},
        {"shape":"AlarmsLimitExceededException"},
        {"shape":"InvalidAutoRollbackConfigException"},
        {"shape":"InvalidLoadBalancerInfoException"},
        {"shape":"InvalidFileExistsBehaviorException"},
        {"shape":"InvalidRoleException"},
        {"shape":"InvalidAutoScalingGroupException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidUpdateOutdatedInstancesOnlyValueException"},
        {"shape":"InvalidIgnoreApplicationStopFailuresValueException"},
        {"shape":"InvalidGitHubAccountTokenException"},
        {"shape":"InvalidTrafficRoutingConfigurationException"}
      ],
      "documentation":"<p>Deploys an application revision through the specified deployment group.</p>"
    },
    "CreateDeploymentConfig":{
      "name":"CreateDeploymentConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDeploymentConfigInput"},
      "output":{"shape":"CreateDeploymentConfigOutput"},
      "errors":[
        {"shape":"InvalidDeploymentConfigNameException"},
        {"shape":"DeploymentConfigNameRequiredException"},
        {"shape":"DeploymentConfigAlreadyExistsException"},
        {"shape":"InvalidMinimumHealthyHostValueException"},
        {"shape":"DeploymentConfigLimitExceededException"},
        {"shape":"InvalidComputePlatformException"},
        {"shape":"InvalidTrafficRoutingConfigurationException"},
        {"shape":"InvalidZonalDeploymentConfigurationException"}
      ],
      "documentation":"<p> Creates a deployment configuration. </p>"
    },
    "CreateDeploymentGroup":{
      "name":"CreateDeploymentGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDeploymentGroupInput"},
      "output":{"shape":"CreateDeploymentGroupOutput"},
      "errors":[
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"ApplicationDoesNotExistException"},
        {"shape":"DeploymentGroupNameRequiredException"},
        {"shape":"InvalidDeploymentGroupNameException"},
        {"shape":"DeploymentGroupAlreadyExistsException"},
        {"shape":"InvalidEC2TagException"},
        {"shape":"InvalidTagException"},
        {"shape":"InvalidAutoScalingGroupException"},
        {"shape":"InvalidDeploymentConfigNameException"},
        {"shape":"DeploymentConfigDoesNotExistException"},
        {"shape":"RoleRequiredException"},
        {"shape":"InvalidRoleException"},
        {"shape":"DeploymentGroupLimitExceededException"},
        {"shape":"LifecycleHookLimitExceededException"},
        {"shape":"InvalidTriggerConfigException"},
        {"shape":"TriggerTargetsLimitExceededException"},
        {"shape":"InvalidAlarmConfigException"},
        {"shape":"AlarmsLimitExceededException"},
        {"shape":"InvalidAutoRollbackConfigException"},
        {"shape":"InvalidLoadBalancerInfoException"},
        {"shape":"InvalidDeploymentStyleException"},
        {"shape":"InvalidBlueGreenDeploymentConfigurationException"},
        {"shape":"InvalidEC2TagCombinationException"},
        {"shape":"InvalidOnPremisesTagCombinationException"},
        {"shape":"TagSetListLimitExceededException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidECSServiceException"},
        {"shape":"InvalidTargetGroupPairException"},
        {"shape":"ECSServiceMappingLimitExceededException"},
        {"shape":"InvalidTagsToAddException"},
        {"shape":"InvalidTrafficRoutingConfigurationException"}
      ],
      "documentation":"<p>Creates a deployment group to which application revisions are deployed.</p>"
    },
    "DeleteApplication":{
      "name":"DeleteApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteApplicationInput"},
      "errors":[
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"InvalidRoleException"}
      ],
      "documentation":"<p>Deletes an application.</p>"
    },
    "DeleteDeploymentConfig":{
      "name":"DeleteDeploymentConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDeploymentConfigInput"},
      "errors":[
        {"shape":"InvalidDeploymentConfigNameException"},
        {"shape":"DeploymentConfigNameRequiredException"},
        {"shape":"DeploymentConfigInUseException"},
        {"shape":"InvalidOperationException"}
      ],
      "documentation":"<p>Deletes a deployment configuration.</p> <note> <p>A deployment configuration cannot be deleted if it is currently in use. Predefined configurations cannot be deleted.</p> </note>"
    },
    "DeleteDeploymentGroup":{
      "name":"DeleteDeploymentGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDeploymentGroupInput"},
      "output":{"shape":"DeleteDeploymentGroupOutput"},
      "errors":[
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"DeploymentGroupNameRequiredException"},
        {"shape":"InvalidDeploymentGroupNameException"},
        {"shape":"InvalidRoleException"}
      ],
      "documentation":"<p>Deletes a deployment group.</p>"
    },
    "DeleteGitHubAccountToken":{
      "name":"DeleteGitHubAccountToken",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteGitHubAccountTokenInput"},
      "output":{"shape":"DeleteGitHubAccountTokenOutput"},
      "errors":[
        {"shape":"GitHubAccountTokenNameRequiredException"},
        {"shape":"GitHubAccountTokenDoesNotExistException"},
        {"shape":"InvalidGitHubAccountTokenNameException"},
        {"shape":"ResourceValidationException"},
        {"shape":"OperationNotSupportedException"}
      ],
      "documentation":"<p>Deletes a GitHub account connection.</p>"
    },
    "DeleteResourcesByExternalId":{
      "name":"DeleteResourcesByExternalId",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteResourcesByExternalIdInput"},
      "output":{"shape":"DeleteResourcesByExternalIdOutput"},
      "errors":[],
      "documentation":"<p>Deletes resources linked to an external ID. This action only applies if you have configured blue/green deployments through CloudFormation. </p> <note> <p>It is not necessary to call this action directly. CloudFormation calls it on your behalf when it needs to delete stack resources. This action is offered publicly in case you need to delete resources to comply with General Data Protection Regulation (GDPR) requirements.</p> </note>"
    },
    "DeregisterOnPremisesInstance":{
      "name":"DeregisterOnPremisesInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterOnPremisesInstanceInput"},
      "errors":[
        {"shape":"InstanceNameRequiredException"},
        {"shape":"InvalidInstanceNameException"}
      ],
      "documentation":"<p>Deregisters an on-premises instance.</p>"
    },
    "GetApplication":{
      "name":"GetApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetApplicationInput"},
      "output":{"shape":"GetApplicationOutput"},
      "errors":[
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"ApplicationDoesNotExistException"}
      ],
      "documentation":"<p>Gets information about an application.</p>"
    },
    "GetApplicationRevision":{
      "name":"GetApplicationRevision",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetApplicationRevisionInput"},
      "output":{"shape":"GetApplicationRevisionOutput"},
      "errors":[
        {"shape":"ApplicationDoesNotExistException"},
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"RevisionDoesNotExistException"},
        {"shape":"RevisionRequiredException"},
        {"shape":"InvalidRevisionException"}
      ],
      "documentation":"<p>Gets information about an application revision.</p>"
    },
    "GetDeployment":{
      "name":"GetDeployment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDeploymentInput"},
      "output":{"shape":"GetDeploymentOutput"},
      "errors":[
        {"shape":"DeploymentIdRequiredException"},
        {"shape":"InvalidDeploymentIdException"},
        {"shape":"DeploymentDoesNotExistException"}
      ],
      "documentation":"<p>Gets information about a deployment.</p> <note> <p> The <code>content</code> property of the <code>appSpecContent</code> object in the returned revision is always null. Use <code>GetApplicationRevision</code> and the <code>sha256</code> property of the returned <code>appSpecContent</code> object to get the content of the deployment’s AppSpec file. </p> </note>"
    },
    "GetDeploymentConfig":{
      "name":"GetDeploymentConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDeploymentConfigInput"},
      "output":{"shape":"GetDeploymentConfigOutput"},
      "errors":[
        {"shape":"InvalidDeploymentConfigNameException"},
        {"shape":"DeploymentConfigNameRequiredException"},
        {"shape":"DeploymentConfigDoesNotExistException"},
        {"shape":"InvalidComputePlatformException"}
      ],
      "documentation":"<p>Gets information about a deployment configuration.</p>"
    },
    "GetDeploymentGroup":{
      "name":"GetDeploymentGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDeploymentGroupInput"},
      "output":{"shape":"GetDeploymentGroupOutput"},
      "errors":[
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"ApplicationDoesNotExistException"},
        {"shape":"DeploymentGroupNameRequiredException"},
        {"shape":"InvalidDeploymentGroupNameException"},
        {"shape":"DeploymentGroupDoesNotExistException"},
        {"shape":"DeploymentConfigDoesNotExistException"}
      ],
      "documentation":"<p>Gets information about a deployment group.</p>"
    },
    "GetDeploymentInstance":{
      "name":"GetDeploymentInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDeploymentInstanceInput"},
      "output":{"shape":"GetDeploymentInstanceOutput"},
      "errors":[
        {"shape":"DeploymentIdRequiredException"},
        {"shape":"DeploymentDoesNotExistException"},
        {"shape":"InstanceIdRequiredException"},
        {"shape":"InvalidDeploymentIdException"},
        {"shape":"InstanceDoesNotExistException"},
        {"shape":"InvalidInstanceNameException"},
        {"shape":"InvalidComputePlatformException"}
      ],
      "documentation":"<p>Gets information about an instance as part of a deployment.</p>",
      "deprecated":true,
      "deprecatedMessage":"This operation is deprecated, use GetDeploymentTarget instead."
    },
    "GetDeploymentTarget":{
      "name":"GetDeploymentTarget",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDeploymentTargetInput"},
      "output":{"shape":"GetDeploymentTargetOutput"},
      "errors":[
        {"shape":"InvalidDeploymentIdException"},
        {"shape":"DeploymentIdRequiredException"},
        {"shape":"DeploymentDoesNotExistException"},
        {"shape":"DeploymentNotStartedException"},
        {"shape":"DeploymentTargetIdRequiredException"},
        {"shape":"InvalidDeploymentTargetIdException"},
        {"shape":"DeploymentTargetDoesNotExistException"},
        {"shape":"InvalidInstanceNameException"}
      ],
      "documentation":"<p> Returns information about a deployment target. </p>"
    },
    "GetOnPremisesInstance":{
      "name":"GetOnPremisesInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetOnPremisesInstanceInput"},
      "output":{"shape":"GetOnPremisesInstanceOutput"},
      "errors":[
        {"shape":"InstanceNameRequiredException"},
        {"shape":"InstanceNotRegisteredException"},
        {"shape":"InvalidInstanceNameException"}
      ],
      "documentation":"<p> Gets information about an on-premises instance. </p>"
    },
    "ListApplicationRevisions":{
      "name":"ListApplicationRevisions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListApplicationRevisionsInput"},
      "output":{"shape":"ListApplicationRevisionsOutput"},
      "errors":[
        {"shape":"ApplicationDoesNotExistException"},
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"InvalidSortByException"},
        {"shape":"InvalidSortOrderException"},
        {"shape":"InvalidBucketNameFilterException"},
        {"shape":"InvalidKeyPrefixFilterException"},
        {"shape":"BucketNameFilterRequiredException"},
        {"shape":"InvalidDeployedStateFilterException"},
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Lists information about revisions for an application.</p>"
    },
    "ListApplications":{
      "name":"ListApplications",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListApplicationsInput"},
      "output":{"shape":"ListApplicationsOutput"},
      "errors":[
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Lists the applications registered with the user or Amazon Web Services account.</p>"
    },
    "ListDeploymentConfigs":{
      "name":"ListDeploymentConfigs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDeploymentConfigsInput"},
      "output":{"shape":"ListDeploymentConfigsOutput"},
      "errors":[
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Lists the deployment configurations with the user or Amazon Web Services account.</p>"
    },
    "ListDeploymentGroups":{
      "name":"ListDeploymentGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDeploymentGroupsInput"},
      "output":{"shape":"ListDeploymentGroupsOutput"},
      "errors":[
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"ApplicationDoesNotExistException"},
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Lists the deployment groups for an application registered with the Amazon Web Services user or Amazon Web Services account.</p>"
    },
    "ListDeploymentInstances":{
      "name":"ListDeploymentInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDeploymentInstancesInput"},
      "output":{"shape":"ListDeploymentInstancesOutput"},
      "errors":[
        {"shape":"DeploymentIdRequiredException"},
        {"shape":"DeploymentDoesNotExistException"},
        {"shape":"DeploymentNotStartedException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidDeploymentIdException"},
        {"shape":"InvalidInstanceStatusException"},
        {"shape":"InvalidInstanceTypeException"},
        {"shape":"InvalidDeploymentInstanceTypeException"},
        {"shape":"InvalidTargetFilterNameException"},
        {"shape":"InvalidComputePlatformException"}
      ],
      "documentation":"<note> <p> The newer <code>BatchGetDeploymentTargets</code> should be used instead because it works with all compute types. <code>ListDeploymentInstances</code> throws an exception if it is used with a compute platform other than EC2/On-premises or Lambda. </p> </note> <p> Lists the instance for a deployment associated with the user or Amazon Web Services account. </p>",
      "deprecated":true,
      "deprecatedMessage":"This operation is deprecated, use ListDeploymentTargets instead."
    },
    "ListDeploymentTargets":{
      "name":"ListDeploymentTargets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDeploymentTargetsInput"},
      "output":{"shape":"ListDeploymentTargetsOutput"},
      "errors":[
        {"shape":"DeploymentIdRequiredException"},
        {"shape":"DeploymentDoesNotExistException"},
        {"shape":"DeploymentNotStartedException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidDeploymentIdException"},
        {"shape":"InvalidInstanceStatusException"},
        {"shape":"InvalidInstanceTypeException"},
        {"shape":"InvalidDeploymentInstanceTypeException"},
        {"shape":"InvalidTargetFilterNameException"}
      ],
      "documentation":"<p> Returns an array of target IDs that are associated a deployment. </p>"
    },
    "ListDeployments":{
      "name":"ListDeployments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDeploymentsInput"},
      "output":{"shape":"ListDeploymentsOutput"},
      "errors":[
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"ApplicationDoesNotExistException"},
        {"shape":"InvalidDeploymentGroupNameException"},
        {"shape":"DeploymentGroupDoesNotExistException"},
        {"shape":"DeploymentGroupNameRequiredException"},
        {"shape":"InvalidTimeRangeException"},
        {"shape":"InvalidDeploymentStatusException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"InvalidExternalIdException"},
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p>Lists the deployments in a deployment group for an application registered with the user or Amazon Web Services account.</p>"
    },
    "ListGitHubAccountTokenNames":{
      "name":"ListGitHubAccountTokenNames",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListGitHubAccountTokenNamesInput"},
      "output":{"shape":"ListGitHubAccountTokenNamesOutput"},
      "errors":[
        {"shape":"InvalidNextTokenException"},
        {"shape":"ResourceValidationException"},
        {"shape":"OperationNotSupportedException"}
      ],
      "documentation":"<p>Lists the names of stored connections to GitHub accounts.</p>"
    },
    "ListOnPremisesInstances":{
      "name":"ListOnPremisesInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListOnPremisesInstancesInput"},
      "output":{"shape":"ListOnPremisesInstancesOutput"},
      "errors":[
        {"shape":"InvalidRegistrationStatusException"},
        {"shape":"InvalidTagFilterException"},
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Gets a list of names for one or more on-premises instances.</p> <p>Unless otherwise specified, both registered and deregistered on-premises instance names are listed. To list only registered or deregistered on-premises instance names, use the registration status parameter.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceInput"},
      "output":{"shape":"ListTagsForResourceOutput"},
      "errors":[
        {"shape":"ArnNotSupportedException"},
        {"shape":"InvalidArnException"},
        {"shape":"ResourceArnRequiredException"}
      ],
      "documentation":"<p> Returns a list of tags for the resource identified by a specified Amazon Resource Name (ARN). Tags are used to organize and categorize your CodeDeploy resources. </p>"
    },
    "PutLifecycleEventHookExecutionStatus":{
      "name":"PutLifecycleEventHookExecutionStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutLifecycleEventHookExecutionStatusInput"},
      "output":{"shape":"PutLifecycleEventHookExecutionStatusOutput"},
      "errors":[
        {"shape":"InvalidLifecycleEventHookExecutionStatusException"},
        {"shape":"InvalidLifecycleEventHookExecutionIdException"},
        {"shape":"LifecycleEventAlreadyCompletedException"},
        {"shape":"DeploymentIdRequiredException"},
        {"shape":"DeploymentDoesNotExistException"},
        {"shape":"InvalidDeploymentIdException"},
        {"shape":"UnsupportedActionForDeploymentTypeException"}
      ],
      "documentation":"<p> Sets the result of a Lambda validation function. The function validates lifecycle hooks during a deployment that uses the Lambda or Amazon ECS compute platform. For Lambda deployments, the available lifecycle hooks are <code>BeforeAllowTraffic</code> and <code>AfterAllowTraffic</code>. For Amazon ECS deployments, the available lifecycle hooks are <code>BeforeInstall</code>, <code>AfterInstall</code>, <code>AfterAllowTestTraffic</code>, <code>BeforeAllowTraffic</code>, and <code>AfterAllowTraffic</code>. Lambda validation functions return <code>Succeeded</code> or <code>Failed</code>. For more information, see <a href=\"https://docs.aws.amazon.com/codedeploy/latest/userguide/reference-appspec-file-structure-hooks.html#appspec-hooks-lambda\">AppSpec 'hooks' Section for an Lambda Deployment </a> and <a href=\"https://docs.aws.amazon.com/codedeploy/latest/userguide/reference-appspec-file-structure-hooks.html#appspec-hooks-ecs\">AppSpec 'hooks' Section for an Amazon ECS Deployment</a>.</p>"
    },
    "RegisterApplicationRevision":{
      "name":"RegisterApplicationRevision",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterApplicationRevisionInput"},
      "errors":[
        {"shape":"ApplicationDoesNotExistException"},
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"DescriptionTooLongException"},
        {"shape":"RevisionRequiredException"},
        {"shape":"InvalidRevisionException"}
      ],
      "documentation":"<p>Registers with CodeDeploy a revision for the specified application.</p>"
    },
    "RegisterOnPremisesInstance":{
      "name":"RegisterOnPremisesInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterOnPremisesInstanceInput"},
      "errors":[
        {"shape":"InstanceNameAlreadyRegisteredException"},
        {"shape":"IamArnRequiredException"},
        {"shape":"IamSessionArnAlreadyRegisteredException"},
        {"shape":"IamUserArnAlreadyRegisteredException"},
        {"shape":"InstanceNameRequiredException"},
        {"shape":"IamUserArnRequiredException"},
        {"shape":"InvalidInstanceNameException"},
        {"shape":"InvalidIamSessionArnException"},
        {"shape":"InvalidIamUserArnException"},
        {"shape":"MultipleIamArnsProvidedException"}
      ],
      "documentation":"<p>Registers an on-premises instance.</p> <note> <p>Only one IAM ARN (an IAM session ARN or IAM user ARN) is supported in the request. You cannot use both.</p> </note>"
    },
    "RemoveTagsFromOnPremisesInstances":{
      "name":"RemoveTagsFromOnPremisesInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveTagsFromOnPremisesInstancesInput"},
      "errors":[
        {"shape":"InstanceNameRequiredException"},
        {"shape":"InvalidInstanceNameException"},
        {"shape":"TagRequiredException"},
        {"shape":"InvalidTagException"},
        {"shape":"TagLimitExceededException"},
        {"shape":"InstanceLimitExceededException"},
        {"shape":"InstanceNotRegisteredException"}
      ],
      "documentation":"<p>Removes one or more tags from one or more on-premises instances.</p>"
    },
    "SkipWaitTimeForInstanceTermination":{
      "name":"SkipWaitTimeForInstanceTermination",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SkipWaitTimeForInstanceTerminationInput"},
      "errors":[
        {"shape":"DeploymentIdRequiredException"},
        {"shape":"DeploymentDoesNotExistException"},
        {"shape":"DeploymentAlreadyCompletedException"},
        {"shape":"InvalidDeploymentIdException"},
        {"shape":"DeploymentNotStartedException"},
        {"shape":"UnsupportedActionForDeploymentTypeException"}
      ],
      "documentation":"<p>In a blue/green deployment, overrides any specified wait time and starts terminating instances immediately after the traffic routing is complete.</p>",
      "deprecated":true,
      "deprecatedMessage":"This operation is deprecated, use ContinueDeployment with DeploymentWaitType instead."
    },
    "StopDeployment":{
      "name":"StopDeployment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopDeploymentInput"},
      "output":{"shape":"StopDeploymentOutput"},
      "errors":[
        {"shape":"DeploymentIdRequiredException"},
        {"shape":"DeploymentDoesNotExistException"},
        {"shape":"DeploymentGroupDoesNotExistException"},
        {"shape":"DeploymentAlreadyCompletedException"},
        {"shape":"InvalidDeploymentIdException"},
        {"shape":"UnsupportedActionForDeploymentTypeException"}
      ],
      "documentation":"<p>Attempts to stop an ongoing deployment.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceInput"},
      "output":{"shape":"TagResourceOutput"},
      "errors":[
        {"shape":"ResourceArnRequiredException"},
        {"shape":"ApplicationDoesNotExistException"},
        {"shape":"DeploymentGroupDoesNotExistException"},
        {"shape":"DeploymentConfigDoesNotExistException"},
        {"shape":"TagRequiredException"},
        {"shape":"InvalidTagsToAddException"},
        {"shape":"ArnNotSupportedException"},
        {"shape":"InvalidArnException"}
      ],
      "documentation":"<p> Associates the list of tags in the input <code>Tags</code> parameter with the resource identified by the <code>ResourceArn</code> input parameter. </p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceInput"},
      "output":{"shape":"UntagResourceOutput"},
      "errors":[
        {"shape":"ResourceArnRequiredException"},
        {"shape":"ApplicationDoesNotExistException"},
        {"shape":"DeploymentGroupDoesNotExistException"},
        {"shape":"DeploymentConfigDoesNotExistException"},
        {"shape":"TagRequiredException"},
        {"shape":"InvalidTagsToAddException"},
        {"shape":"ArnNotSupportedException"},
        {"shape":"InvalidArnException"}
      ],
      "documentation":"<p> Disassociates a resource from a list of tags. The resource is identified by the <code>ResourceArn</code> input parameter. The tags are identified by the list of keys in the <code>TagKeys</code> input parameter. </p>"
    },
    "UpdateApplication":{
      "name":"UpdateApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateApplicationInput"},
      "errors":[
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"ApplicationAlreadyExistsException"},
        {"shape":"ApplicationDoesNotExistException"}
      ],
      "documentation":"<p>Changes the name of an application.</p>"
    },
    "UpdateDeploymentGroup":{
      "name":"UpdateDeploymentGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDeploymentGroupInput"},
      "output":{"shape":"UpdateDeploymentGroupOutput"},
      "errors":[
        {"shape":"ApplicationNameRequiredException"},
        {"shape":"InvalidApplicationNameException"},
        {"shape":"ApplicationDoesNotExistException"},
        {"shape":"InvalidDeploymentGroupNameException"},
        {"shape":"DeploymentGroupAlreadyExistsException"},
        {"shape":"DeploymentGroupNameRequiredException"},
        {"shape":"DeploymentGroupDoesNotExistException"},
        {"shape":"InvalidEC2TagException"},
        {"shape":"InvalidTagException"},
        {"shape":"InvalidAutoScalingGroupException"},
        {"shape":"InvalidDeploymentConfigNameException"},
        {"shape":"DeploymentConfigDoesNotExistException"},
        {"shape":"InvalidRoleException"},
        {"shape":"LifecycleHookLimitExceededException"},
        {"shape":"InvalidTriggerConfigException"},
        {"shape":"TriggerTargetsLimitExceededException"},
        {"shape":"InvalidAlarmConfigException"},
        {"shape":"AlarmsLimitExceededException"},
        {"shape":"InvalidAutoRollbackConfigException"},
        {"shape":"InvalidLoadBalancerInfoException"},
        {"shape":"InvalidDeploymentStyleException"},
        {"shape":"InvalidBlueGreenDeploymentConfigurationException"},
        {"shape":"InvalidEC2TagCombinationException"},
        {"shape":"InvalidOnPremisesTagCombinationException"},
        {"shape":"TagSetListLimitExceededException"},
        {"shape":"InvalidInputException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidECSServiceException"},
        {"shape":"InvalidTargetGroupPairException"},
        {"shape":"ECSServiceMappingLimitExceededException"},
        {"shape":"InvalidTrafficRoutingConfigurationException"}
      ],
      "documentation":"<p>Changes information about a deployment group.</p>"
    }
  },
  "shapes":{
    "AddTagsToOnPremisesInstancesInput":{
      "type":"structure",
      "required":[
        "tags",
        "instanceNames"
      ],
      "members":{
        "tags":{
          "shape":"TagList",
          "documentation":"<p>The tag key-value pairs to add to the on-premises instances.</p> <p>Keys and values are both required. Keys cannot be null or empty strings. Value-only tags are not allowed.</p>"
        },
        "instanceNames":{
          "shape":"InstanceNameList",
          "documentation":"<p>The names of the on-premises instances to which to add tags.</p>"
        }
      },
      "documentation":"<p>Represents the input of, and adds tags to, an on-premises instance operation.</p>"
    },
    "AdditionalDeploymentStatusInfo":{
      "type":"string",
      "deprecated":true,
      "deprecatedMessage":"AdditionalDeploymentStatusInfo is deprecated, use DeploymentStatusMessageList instead."
    },
    "Alarm":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"AlarmName",
          "documentation":"<p>The name of the alarm. Maximum length is 255 characters. Each alarm name can be used only once in a list of alarms.</p>"
        }
      },
      "documentation":"<p>Information about an alarm.</p>"
    },
    "AlarmConfiguration":{
      "type":"structure",
      "members":{
        "enabled":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the alarm configuration is enabled.</p>"
        },
        "ignorePollAlarmFailure":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether a deployment should continue if information about the current state of alarms cannot be retrieved from Amazon CloudWatch. The default value is false.</p> <ul> <li> <p> <code>true</code>: The deployment proceeds even if alarm status information can't be retrieved from Amazon CloudWatch.</p> </li> <li> <p> <code>false</code>: The deployment stops if alarm status information can't be retrieved from Amazon CloudWatch.</p> </li> </ul>"
        },
        "alarms":{
          "shape":"AlarmList",
          "documentation":"<p>A list of alarms configured for the deployment or deployment group. A maximum of 10 alarms can be added.</p>"
        }
      },
      "documentation":"<p>Information about alarms associated with a deployment or deployment group.</p>"
    },
    "AlarmList":{
      "type":"list",
      "member":{"shape":"Alarm"}
    },
    "AlarmName":{"type":"string"},
    "AlarmsLimitExceededException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The maximum number of alarms for a deployment group (10) was exceeded.</p>",
      "exception":true
    },
    "AppSpecContent":{
      "type":"structure",
      "members":{
        "content":{
          "shape":"RawStringContent",
          "documentation":"<p> The YAML-formatted or JSON-formatted revision string. </p> <p> For an Lambda deployment, the content includes a Lambda function name, the alias for its original version, and the alias for its replacement version. The deployment shifts traffic from the original version of the Lambda function to the replacement version. </p> <p> For an Amazon ECS deployment, the content includes the task name, information about the load balancer that serves traffic to the container, and more. </p> <p> For both types of deployments, the content can specify Lambda functions that run at specified hooks, such as <code>BeforeInstall</code>, during a deployment. </p>"
        },
        "sha256":{
          "shape":"RawStringSha256",
          "documentation":"<p> The SHA256 hash value of the revision content. </p>"
        }
      },
      "documentation":"<p> A revision for an Lambda or Amazon ECS deployment that is a YAML-formatted or JSON-formatted string. For Lambda and Amazon ECS deployments, the revision is the same as the AppSpec file. This method replaces the deprecated <code>RawString</code> data type. </p>"
    },
    "ApplicationAlreadyExistsException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>An application with the specified name with the user or Amazon Web Services account already exists.</p>",
      "exception":true
    },
    "ApplicationDoesNotExistException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The application does not exist with the user or Amazon Web Services account.</p>",
      "exception":true
    },
    "ApplicationId":{"type":"string"},
    "ApplicationInfo":{
      "type":"structure",
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "documentation":"<p>The application ID.</p>"
        },
        "applicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The application name.</p>"
        },
        "createTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the application was created.</p>"
        },
        "linkedToGitHub":{
          "shape":"Boolean",
          "documentation":"<p>True if the user has authenticated with GitHub for the specified application. Otherwise, false.</p>"
        },
        "gitHubAccountName":{
          "shape":"GitHubAccountTokenName",
          "documentation":"<p>The name for a connection to a GitHub account.</p>"
        },
        "computePlatform":{
          "shape":"ComputePlatform",
          "documentation":"<p>The destination platform type for deployment of the application (<code>Lambda</code> or <code>Server</code>).</p>"
        }
      },
      "documentation":"<p>Information about an application.</p>"
    },
    "ApplicationLimitExceededException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>More applications were attempted to be created than are allowed.</p>",
      "exception":true
    },
    "ApplicationName":{
      "type":"string",
      "max":100,
      "min":1
    },
    "ApplicationNameRequiredException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The minimum number of required application names was not specified.</p>",
      "exception":true
    },
    "ApplicationRevisionSortBy":{
      "type":"string",
      "enum":[
        "registerTime",
        "firstUsedTime",
        "lastUsedTime"
      ]
    },
    "ApplicationsInfoList":{
      "type":"list",
      "member":{"shape":"ApplicationInfo"}
    },
    "ApplicationsList":{
      "type":"list",
      "member":{"shape":"ApplicationName"}
    },
    "Arn":{
      "type":"string",
      "max":1011,
      "min":1
    },
    "ArnNotSupportedException":{
      "type":"structure",
      "members":{},
      "documentation":"<p> The specified ARN is not supported. For example, it might be an ARN for a resource that is not expected. </p>",
      "exception":true
    },
    "AutoRollbackConfiguration":{
      "type":"structure",
      "members":{
        "enabled":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether a defined automatic rollback configuration is currently enabled.</p>"
        },
        "events":{
          "shape":"AutoRollbackEventsList",
          "documentation":"<p>The event type or types that trigger a rollback.</p>"
        }
      },
      "documentation":"<p>Information about a configuration for automatically rolling back to a previous version of an application revision when a deployment is not completed successfully.</p>"
    },
    "AutoRollbackEvent":{
      "type":"string",
      "enum":[
        "DEPLOYMENT_FAILURE",
        "DEPLOYMENT_STOP_ON_ALARM",
        "DEPLOYMENT_STOP_ON_REQUEST"
      ]
    },
    "AutoRollbackEventsList":{
      "type":"list",
      "member":{"shape":"AutoRollbackEvent"}
    },
    "AutoScalingGroup":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"AutoScalingGroupName",
          "documentation":"<p>The Auto Scaling group name.</p>"
        },
        "hook":{
          "shape":"AutoScalingGroupHook",
          "documentation":"<p>The name of the launch hook that CodeDeploy installed into the Auto Scaling group.</p> <p>For more information about the launch hook, see <a href=\"https://docs.aws.amazon.com/codedeploy/latest/userguide/integrations-aws-auto-scaling.html#integrations-aws-auto-scaling-behaviors\">How Amazon EC2 Auto Scaling works with CodeDeploy</a> in the <i>CodeDeploy User Guide</i>.</p>"
        },
        "terminationHook":{
          "shape":"AutoScalingGroupHook",
          "documentation":"<p>The name of the termination hook that CodeDeploy installed into the Auto Scaling group.</p> <p>For more information about the termination hook, see <a href=\"https://docs.aws.amazon.com/codedeploy/latest/userguide/integrations-aws-auto-scaling.html#integrations-aws-auto-scaling-behaviors-hook-enable\">Enabling termination deployments during Auto Scaling scale-in events</a> in the <i>CodeDeploy User Guide</i>.</p>"
        }
      },
      "documentation":"<p>Information about an Auto Scaling group.</p>"
    },
    "AutoScalingGroupHook":{"type":"string"},
    "AutoScalingGroupList":{
      "type":"list",
      "member":{"shape":"AutoScalingGroup"}
    },
    "AutoScalingGroupName":{"type":"string"},
    "AutoScalingGroupNameList":{
      "type":"list",
      "member":{"shape":"AutoScalingGroupName"}
    },
    "BatchGetApplicationRevisionsInput":{
      "type":"structure",
      "required":[
        "applicationName",
        "revisions"
      ],
      "members":{
        "applicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of an CodeDeploy application about which to get revision information.</p>"
        },
        "revisions":{
          "shape":"RevisionLocationList",
          "documentation":"<p>An array of <code>RevisionLocation</code> objects that specify information to get about the application revisions, including type and location. The maximum number of <code>RevisionLocation</code> objects you can specify is 25.</p>"
        }
      },
      "documentation":"<p>Represents the input of a <code>BatchGetApplicationRevisions</code> operation.</p>"
    },
    "BatchGetApplicationRevisionsOutput":{
      "type":"structure",
      "members":{
        "applicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of the application that corresponds to the revisions.</p>"
        },
        "errorMessage":{
          "shape":"ErrorMessage",
          "documentation":"<p>Information about errors that might have occurred during the API call.</p>"
        },
        "revisions":{
          "shape":"RevisionInfoList",
          "documentation":"<p>Additional information about the revisions, including the type and location.</p>"
        }
      },
      "documentation":"<p>Represents the output of a <code>BatchGetApplicationRevisions</code> operation.</p>"
    },
    "BatchGetApplicationsInput":{
      "type":"structure",
      "required":["applicationNames"],
      "members":{
        "applicationNames":{
          "shape":"ApplicationsList",
          "documentation":"<p>A list of application names separated by spaces. The maximum number of application names you can specify is 100.</p>"
        }
      },
      "documentation":"<p>Represents the input of a <code>BatchGetApplications</code> operation.</p>"
    },
    "BatchGetApplicationsOutput":{
      "type":"structure",
      "members":{
        "applicationsInfo":{
          "shape":"ApplicationsInfoList",
          "documentation":"<p>Information about the applications.</p>"
        }
      },
      "documentation":"<p>Represents the output of a <code>BatchGetApplications</code> operation.</p>"
    },
    "BatchGetDeploymentGroupsInput":{
      "type":"structure",
      "required":[
        "applicationName",
        "deploymentGroupNames"
      ],
      "members":{
        "applicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of an CodeDeploy application associated with the applicable user or Amazon Web Services account.</p>"
        },
        "deploymentGroupNames":{
          "shape":"DeploymentGroupsList",
          "documentation":"<p>The names of the deployment groups.</p>"
        }
      },
      "documentation":"<p>Represents the input of a <code>BatchGetDeploymentGroups</code> operation.</p>"
    },
    "BatchGetDeploymentGroupsOutput":{
      "type":"structure",
      "members":{
        "deploymentGroupsInfo":{
          "shape":"DeploymentGroupInfoList",
          "documentation":"<p>Information about the deployment groups.</p>"
        },
        "errorMessage":{
          "shape":"ErrorMessage",
          "documentation":"<p>Information about errors that might have occurred during the API call.</p>"
        }
      },
      "documentation":"<p>Represents the output of a <code>BatchGetDeploymentGroups</code> operation.</p>"
    },
    "BatchGetDeploymentInstancesInput":{
      "type":"structure",
      "required":[
        "deploymentId",
        "instanceIds"
      ],
      "members":{
        "deploymentId":{
          "shape":"DeploymentId",
          "documentation":"<p> The unique ID of a deployment. </p>"
        },
        "instanceIds":{
          "shape":"InstancesList",
          "documentation":"<p>The unique IDs of instances used in the deployment. The maximum number of instance IDs you can specify is 25.</p>"
        }
      },
      "documentation":"<p> Represents the input of a <code>BatchGetDeploymentInstances</code> operation. </p>"
    },
    "BatchGetDeploymentInstancesOutput":{
      "type":"structure",
      "members":{
        "instancesSummary":{
          "shape":"InstanceSummaryList",
          "documentation":"<p>Information about the instance.</p>"
        },
        "errorMessage":{
          "shape":"ErrorMessage",
          "documentation":"<p>Information about errors that might have occurred during the API call.</p>"
        }
      },
      "documentation":"<p>Represents the output of a <code>BatchGetDeploymentInstances</code> operation.</p>"
    },
    "BatchGetDeploymentTargetsInput":{
      "type":"structure",
      "required":[
        "deploymentId",
        "targetIds"
      ],
      "members":{
        "deploymentId":{
          "shape":"DeploymentId",
          "documentation":"<p> The unique ID of a deployment. </p>"
        },
        "targetIds":{
          "shape":"TargetIdList",
          "documentation":"<p> The unique IDs of the deployment targets. The compute platform of the deployment determines the type of the targets and their formats. The maximum number of deployment target IDs you can specify is 25.</p> <ul> <li> <p> For deployments that use the EC2/On-premises compute platform, the target IDs are Amazon EC2 or on-premises instances IDs, and their target type is <code>instanceTarget</code>. </p> </li> <li> <p> For deployments that use the Lambda compute platform, the target IDs are the names of Lambda functions, and their target type is <code>instanceTarget</code>. </p> </li> <li> <p> For deployments that use the Amazon ECS compute platform, the target IDs are pairs of Amazon ECS clusters and services specified using the format <code>&lt;clustername&gt;:&lt;servicename&gt;</code>. Their target type is <code>ecsTarget</code>. </p> </li> <li> <p> For deployments that are deployed with CloudFormation, the target IDs are CloudFormation stack IDs. Their target type is <code>cloudFormationTarget</code>. </p> </li> </ul>"
        }
      }
    },
    "BatchGetDeploymentTargetsOutput":{
      "type":"structure",
      "members":{
        "deploymentTargets":{
          "shape":"DeploymentTargetList",
          "documentation":"<p> A list of target objects for a deployment. Each target object contains details about the target, such as its status and lifecycle events. The type of the target objects depends on the deployment' compute platform. </p> <ul> <li> <p> <b>EC2/On-premises</b>: Each target object is an Amazon EC2 or on-premises instance. </p> </li> <li> <p> <b>Lambda</b>: The target object is a specific version of an Lambda function. </p> </li> <li> <p> <b>Amazon ECS</b>: The target object is an Amazon ECS service. </p> </li> <li> <p> <b>CloudFormation</b>: The target object is an CloudFormation blue/green deployment. </p> </li> </ul>"
        }
      }
    },
    "BatchGetDeploymentsInput":{
      "type":"structure",
      "required":["deploymentIds"],
      "members":{
        "deploymentIds":{
          "shape":"DeploymentsList",
          "documentation":"<p> A list of deployment IDs, separated by spaces. The maximum number of deployment IDs you can specify is 25.</p>"
        }
      },
      "documentation":"<p> Represents the input of a <code>BatchGetDeployments</code> operation. </p>"
    },
    "BatchGetDeploymentsOutput":{
      "type":"structure",
      "members":{
        "deploymentsInfo":{
          "shape":"DeploymentsInfoList",
          "documentation":"<p> Information about the deployments. </p>"
        }
      },
      "documentation":"<p> Represents the output of a <code>BatchGetDeployments</code> operation. </p>"
    },
    "BatchGetOnPremisesInstancesInput":{
      "type":"structure",
      "required":["instanceNames"],
      "members":{
        "instanceNames":{
          "shape":"InstanceNameList",
          "documentation":"<p>The names of the on-premises instances about which to get information. The maximum number of instance names you can specify is 25.</p>"
        }
      },
      "documentation":"<p>Represents the input of a <code>BatchGetOnPremisesInstances</code> operation.</p>"
    },
    "BatchGetOnPremisesInstancesOutput":{
      "type":"structure",
      "members":{
        "instanceInfos":{
          "shape":"InstanceInfoList",
          "documentation":"<p>Information about the on-premises instances.</p>"
        }
      },
      "documentation":"<p>Represents the output of a <code>BatchGetOnPremisesInstances</code> operation.</p>"
    },
    "BatchLimitExceededException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The maximum number of names or IDs allowed for this request (100) was exceeded.</p>",
      "exception":true
    },
    "BlueGreenDeploymentConfiguration":{
      "type":"structure",
      "members":{
        "terminateBlueInstancesOnDeploymentSuccess":{
          "shape":"BlueInstanceTerminationOption",
          "documentation":"<p>Information about whether to terminate instances in the original fleet during a blue/green deployment.</p>"
        },
        "deploymentReadyOption":{
          "shape":"DeploymentReadyOption",
          "documentation":"<p>Information about the action to take when newly provisioned instances are ready to receive traffic in a blue/green deployment.</p>"
        },
        "greenFleetProvisioningOption":{
          "shape":"GreenFleetProvisioningOption",
          "documentation":"<p>Information about how instances are provisioned for a replacement environment in a blue/green deployment.</p>"
        }
      },
      "documentation":"<p>Information about blue/green deployment options for a deployment group.</p>"
    },
    "BlueInstanceTerminationOption":{
      "type":"structure",
      "members":{
        "action":{
          "shape":"InstanceAction",
          "documentation":"<p>The action to take on instances in the original environment after a successful blue/green deployment.</p> <ul> <li> <p> <code>TERMINATE</code>: Instances are terminated after a specified wait time.</p> </li> <li> <p> <code>KEEP_ALIVE</code>: Instances are left running after they are deregistered from the load balancer and removed from the deployment group.</p> </li> </ul>"
        },
        "terminationWaitTimeInMinutes":{
          "shape":"Duration",
          "documentation":"<p>For an Amazon EC2 deployment, the number of minutes to wait after a successful blue/green deployment before terminating instances from the original environment.</p> <p> For an Amazon ECS deployment, the number of minutes before deleting the original (blue) task set. During an Amazon ECS deployment, CodeDeploy shifts traffic from the original (blue) task set to a replacement (green) task set. </p> <p> The maximum setting is 2880 minutes (2 days). </p>"
        }
      },
      "documentation":"<p>Information about whether instances in the original environment are terminated when a blue/green deployment is successful. <code>BlueInstanceTerminationOption</code> does not apply to Lambda deployments. </p>"
    },
    "Boolean":{"type":"boolean"},
    "BucketNameFilterRequiredException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>A bucket name is required, but was not provided.</p>",
      "exception":true
    },
    "BundleType":{
      "type":"string",
      "enum":[
        "tar",
        "tgz",
        "zip",
        "YAML",
        "JSON"
      ]
    },
    "CloudFormationResourceType":{"type":"string"},
    "CloudFormationTarget":{
      "type":"structure",
      "members":{
        "deploymentId":{
          "shape":"DeploymentId",
          "documentation":"<p>The unique ID of an CloudFormation blue/green deployment.</p>"
        },
        "targetId":{
          "shape":"TargetId",
          "documentation":"<p> The unique ID of a deployment target that has a type of <code>CloudFormationTarget</code>. </p>"
        },
        "lastUpdatedAt":{
          "shape":"Time",
          "documentation":"<p> The date and time when the target application was updated by an CloudFormation blue/green deployment. </p>"
        },
        "lifecycleEvents":{
          "shape":"LifecycleEventList",
          "documentation":"<p> The lifecycle events of the CloudFormation blue/green deployment to this target application. </p>"
        },
        "status":{
          "shape":"TargetStatus",
          "documentation":"<p> The status of an CloudFormation blue/green deployment's target application. </p>"
        },
        "resourceType":{
          "shape":"CloudFormationResourceType",
          "documentation":"<p>The resource type for the CloudFormation blue/green deployment.</p>"
        },
        "targetVersionWeight":{
          "shape":"TrafficWeight",
          "documentation":"<p>The percentage of production traffic that the target version of an CloudFormation blue/green deployment receives.</p>"
        }
      },
      "documentation":"<p> Information about the target to be updated by an CloudFormation blue/green deployment. This target type is used for all deployments initiated by a CloudFormation stack update.</p>"
    },
    "CommitId":{"type":"string"},
    "ComputePlatform":{
      "type":"string",
      "enum":[
        "Server",
        "Lambda",
        "ECS"
      ]
    },
    "ContinueDeploymentInput":{
      "type":"structure",
      "members":{
        "deploymentId":{
          "shape":"DeploymentId",
          "documentation":"<p> The unique ID of a blue/green deployment for which you want to start rerouting traffic to the replacement environment. </p>"
        },
        "deploymentWaitType":{
          "shape":"DeploymentWaitType",
          "documentation":"<p> The status of the deployment's waiting period. <code>READY_WAIT</code> indicates that the deployment is ready to start shifting traffic. <code>TERMINATION_WAIT</code> indicates that the traffic is shifted, but the original target is not terminated. </p>"
        }
      }
    },
    "CreateApplicationInput":{
      "type":"structure",
      "required":["applicationName"],
      "members":{
        "applicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of the application. This name must be unique with the applicable user or Amazon Web Services account.</p>"
        },
        "computePlatform":{
          "shape":"ComputePlatform",
          "documentation":"<p> The destination platform type for the deployment (<code>Lambda</code>, <code>Server</code>, or <code>ECS</code>).</p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p> The metadata that you apply to CodeDeploy applications to help you organize and categorize them. Each tag consists of a key and an optional value, both of which you define. </p>"
        }
      },
      "documentation":"<p>Represents the input of a <code>CreateApplication</code> operation.</p>"
    },
    "CreateApplicationOutput":{
      "type":"structure",
      "members":{
        "applicationId":{
          "shape":"ApplicationId",
          "documentation":"<p>A unique application ID.</p>"
        }
      },
      "documentation":"<p>Represents the output of a <code>CreateApplication</code> operation.</p>"
    },
    "CreateDeploymentConfigInput":{
      "type":"structure",
      "required":["deploymentConfigName"],
      "members":{
        "deploymentConfigName":{
          "shape":"DeploymentConfigName",
          "documentation":"<p>The name of the deployment configuration to create.</p>"
        },
        "minimumHealthyHosts":{
          "shape":"MinimumHealthyHosts",
          "documentation":"<p>The minimum number of healthy instances that should be available at any time during the deployment. There are two parameters expected in the input: type and value.</p> <p>The type parameter takes either of the following values:</p> <ul> <li> <p>HOST_COUNT: The value parameter represents the minimum number of healthy instances as an absolute value.</p> </li> <li> <p>FLEET_PERCENT: The value parameter represents the minimum number of healthy instances as a percentage of the total number of instances in the deployment. If you specify FLEET_PERCENT, at the start of the deployment, CodeDeploy converts the percentage to the equivalent number of instances and rounds up fractional instances.</p> </li> </ul> <p>The value parameter takes an integer.</p> <p>For example, to set a minimum of 95% healthy instance, specify a type of FLEET_PERCENT and a value of 95.</p>"
        },
        "trafficRoutingConfig":{
          "shape":"TrafficRoutingConfig",
          "documentation":"<p>The configuration that specifies how the deployment traffic is routed.</p>"
        },
        "computePlatform":{
          "shape":"ComputePlatform",
          "documentation":"<p>The destination platform type for the deployment (<code>Lambda</code>, <code>Server</code>, or <code>ECS</code>).</p>"
        },
        "zonalConfig":{
          "shape":"ZonalConfig",
          "documentation":"<p>Configure the <code>ZonalConfig</code> object if you want CodeDeploy to deploy your application to one <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-regions-availability-zones.html#concepts-availability-zones\">Availability Zone</a> at a time, within an Amazon Web Services Region.</p> <p>For more information about the zonal configuration feature, see <a href=\"https://docs.aws.amazon.com/codedeploy/latest/userguide/deployment-configurations-create.html#zonal-config\">zonal configuration</a> in the <i>CodeDeploy User Guide</i>.</p>"
        }
      },
      "documentation":"<p>Represents the input of a <code>CreateDeploymentConfig</code> operation.</p>"
    },
    "CreateDeploymentConfigOutput":{
      "type":"structure",
      "members":{
        "deploymentConfigId":{
          "shape":"DeploymentConfigId",
          "documentation":"<p>A unique deployment configuration ID.</p>"
        }
      },
      "documentation":"<p>Represents the output of a <code>CreateDeploymentConfig</code> operation.</p>"
    },
    "CreateDeploymentGroupInput":{
      "type":"structure",
      "required":[
        "applicationName",
        "deploymentGroupName",
        "serviceRoleArn"
      ],
      "members":{
        "applicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of an CodeDeploy application associated with the user or Amazon Web Services account.</p>"
        },
        "deploymentGroupName":{
          "shape":"DeploymentGroupName",
          "documentation":"<p>The name of a new deployment group for the specified application.</p>"
        },
        "deploymentConfigName":{
          "shape":"DeploymentConfigName",
          "documentation":"<p>If specified, the deployment configuration name can be either one of the predefined configurations provided with CodeDeploy or a custom deployment configuration that you create by calling the create deployment configuration operation.</p> <p> <code>CodeDeployDefault.OneAtATime</code> is the default deployment configuration. It is used if a configuration isn't specified for the deployment or deployment group.</p> <p>For more information about the predefined deployment configurations in CodeDeploy, see <a href=\"https://docs.aws.amazon.com/codedeploy/latest/userguide/deployment-configurations.html\">Working with Deployment Configurations in CodeDeploy</a> in the <i>CodeDeploy User Guide</i>.</p>"
        },
        "ec2TagFilters":{
          "shape":"EC2TagFilterList",
          "documentation":"<p>The Amazon EC2 tags on which to filter. The deployment group includes Amazon EC2 instances with any of the specified tags. Cannot be used in the same call as ec2TagSet.</p>"
        },
        "onPremisesInstanceTagFilters":{
          "shape":"TagFilterList",
          "documentation":"<p>The on-premises instance tags on which to filter. The deployment group includes on-premises instances with any of the specified tags. Cannot be used in the same call as <code>OnPremisesTagSet</code>.</p>"
        },
        "autoScalingGroups":{
          "shape":"AutoScalingGroupNameList",
          "documentation":"<p>A list of associated Amazon EC2 Auto Scaling groups.</p>"
        },
        "serviceRoleArn":{
          "shape":"Role",
          "documentation":"<p>A service role Amazon Resource Name (ARN) that allows CodeDeploy to act on the user's behalf when interacting with Amazon Web Services services.</p>"
        },
        "triggerConfigurations":{
          "shape":"TriggerConfigList",
          "documentation":"<p>Information about triggers to create when the deployment group is created. For examples, see <a href=\"https://docs.aws.amazon.com/codedeploy/latest/userguide/how-to-notify-sns.html\">Create a Trigger for an CodeDeploy Event</a> in the <i>CodeDeploy User Guide</i>.</p>"
        },
        "alarmConfiguration":{
          "shape":"AlarmConfiguration",
          "documentation":"<p>Information to add about Amazon CloudWatch alarms when the deployment group is created.</p>"
        },
        "autoRollbackConfiguration":{
          "shape":"AutoRollbackConfiguration",
          "documentation":"<p>Configuration information for an automatic rollback that is added when a deployment group is created.</p>"
        },
        "outdatedInstancesStrategy":{
          "shape":"OutdatedInstancesStrategy",
          "documentation":"<p>Indicates what happens when new Amazon EC2 instances are launched mid-deployment and do not receive the deployed application revision.</p> <p>If this option is set to <code>UPDATE</code> or is unspecified, CodeDeploy initiates one or more 'auto-update outdated instances' deployments to apply the deployed application revision to the new Amazon EC2 instances.</p> <p>If this option is set to <code>IGNORE</code>, CodeDeploy does not initiate a deployment to update the new Amazon EC2 instances. This may result in instances having different revisions.</p>"
        },
        "deploymentStyle":{
          "shape":"DeploymentStyle",
          "documentation":"<p>Information about the type of deployment, in-place or blue/green, that you want to run and whether to route deployment traffic behind a load balancer.</p>"
        },
        "blueGreenDeploymentConfiguration":{
          "shape":"BlueGreenDeploymentConfiguration",
          "documentation":"<p>Information about blue/green deployment options for a deployment group.</p>"
        },
        "loadBalancerInfo":{
          "shape":"LoadBalancerInfo",
          "documentation":"<p>Information about the load balancer used in a deployment.</p>"
        },
        "ec2TagSet":{
          "shape":"EC2TagSet",
          "documentation":"<p>Information about groups of tags applied to Amazon EC2 instances. The deployment group includes only Amazon EC2 instances identified by all the tag groups. Cannot be used in the same call as <code>ec2TagFilters</code>.</p>"
        },
        "ecsServices":{
          "shape":"ECSServiceList",
          "documentation":"<p> The target Amazon ECS services in the deployment group. This applies only to deployment groups that use the Amazon ECS compute platform. A target Amazon ECS service is specified as an Amazon ECS cluster and service name pair using the format <code>&lt;clustername&gt;:&lt;servicename&gt;</code>. </p>"
        },
        "onPremisesTagSet":{
          "shape":"OnPremisesTagSet",
          "documentation":"<p>Information about groups of tags applied to on-premises instances. The deployment group includes only on-premises instances identified by all of the tag groups. Cannot be used in the same call as <code>onPremisesInstanceTagFilters</code>.</p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p> The metadata that you apply to CodeDeploy deployment groups to help you organize and categorize them. Each tag consists of a key and an optional value, both of which you define. </p>"
        },
        "terminationHookEnabled":{
          "shape":"NullableBoolean",
          "documentation":"<p>This parameter only applies if you are using CodeDeploy with Amazon EC2 Auto Scaling. For more information, see <a href=\"https://docs.aws.amazon.com/codedeploy/latest/userguide/integrations-aws-auto-scaling.html\">Integrating CodeDeploy with Amazon EC2 Auto Scaling</a> in the <i>CodeDeploy User Guide</i>.</p> <p>Set <code>terminationHookEnabled</code> to <code>true</code> to have CodeDeploy install a termination hook into your Auto Scaling group when you create a deployment group. When this hook is installed, CodeDeploy will perform termination deployments.</p> <p>For information about termination deployments, see <a href=\"https://docs.aws.amazon.com/codedeploy/latest/userguide/integrations-aws-auto-scaling.html#integrations-aws-auto-scaling-behaviors-hook-enable\">Enabling termination deployments during Auto Scaling scale-in events</a> in the <i>CodeDeploy User Guide</i>.</p> <p>For more information about Auto Scaling scale-in events, see the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-lifecycle.html#as-lifecycle-scale-in\">Scale in</a> topic in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
        }
      },
      "documentation":"<p>Represents the input of a <code>CreateDeploymentGroup</code> operation.</p>"
    },
    "CreateDeploymentGroupOutput":{
      "type":"structure",
      "members":{
        "deploymentGroupId":{
          "shape":"DeploymentGroupId",
          "documentation":"<p>A unique deployment group ID.</p>"
        }
      },
      "documentation":"<p>Represents the output of a <code>CreateDeploymentGroup</code> operation.</p>"
    },
    "CreateDeploymentInput":{
      "type":"structure",
      "required":["applicationName"],
      "members":{
        "applicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of an CodeDeploy application associated with the user or Amazon Web Services account.</p>"
        },
        "deploymentGroupName":{
          "shape":"DeploymentGroupName",
          "documentation":"<p>The name of the deployment group.</p>"
        },
        "revision":{
          "shape":"RevisionLocation",
          "documentation":"<p> The type and location of the revision to deploy. </p>"
        },
        "deploymentConfigName":{
          "shape":"DeploymentConfigName",
          "documentation":"<p>The name of a deployment configuration associated with the user or Amazon Web Services account.</p> <p>If not specified, the value configured in the deployment group is used as the default. If the deployment group does not have a deployment configuration associated with it, <code>CodeDeployDefault</code>.<code>OneAtATime</code> is used by default.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>A comment about the deployment.</p>"
        },
        "ignoreApplicationStopFailures":{
          "shape":"Boolean",
          "documentation":"<p> If true, then if an <code>ApplicationStop</code>, <code>BeforeBlockTraffic</code>, or <code>AfterBlockTraffic</code> deployment lifecycle event to an instance fails, then the deployment continues to the next deployment lifecycle event. For example, if <code>ApplicationStop</code> fails, the deployment continues with <code>DownloadBundle</code>. If <code>BeforeBlockTraffic</code> fails, the deployment continues with <code>BlockTraffic</code>. If <code>AfterBlockTraffic</code> fails, the deployment continues with <code>ApplicationStop</code>. </p> <p> If false or not specified, then if a lifecycle event fails during a deployment to an instance, that deployment fails. If deployment to that instance is part of an overall deployment and the number of healthy hosts is not less than the minimum number of healthy hosts, then a deployment to the next instance is attempted. </p> <p> During a deployment, the CodeDeploy agent runs the scripts specified for <code>ApplicationStop</code>, <code>BeforeBlockTraffic</code>, and <code>AfterBlockTraffic</code> in the AppSpec file from the previous successful deployment. (All other scripts are run from the AppSpec file in the current deployment.) If one of these scripts contains an error and does not run successfully, the deployment can fail. </p> <p> If the cause of the failure is a script from the last successful deployment that will never run successfully, create a new deployment and use <code>ignoreApplicationStopFailures</code> to specify that the <code>ApplicationStop</code>, <code>BeforeBlockTraffic</code>, and <code>AfterBlockTraffic</code> failures should be ignored. </p>"
        },
        "targetInstances":{
          "shape":"TargetInstances",
          "documentation":"<p> Information about the instances that belong to the replacement environment in a blue/green deployment. </p>"
        },
        "autoRollbackConfiguration":{
          "shape":"AutoRollbackConfiguration",
          "documentation":"<p>Configuration information for an automatic rollback that is added when a deployment is created.</p>"
        },
        "updateOutdatedInstancesOnly":{
          "shape":"Boolean",
          "documentation":"<p> Indicates whether to deploy to all instances or only to instances that are not running the latest application revision. </p>"
        },
        "fileExistsBehavior":{
          "shape":"FileExistsBehavior",
          "documentation":"<p>Information about how CodeDeploy handles files that already exist in a deployment target location but weren't part of the previous successful deployment.</p> <p>The <code>fileExistsBehavior</code> parameter takes any of the following values:</p> <ul> <li> <p>DISALLOW: The deployment fails. This is also the default behavior if no option is specified.</p> </li> <li> <p>OVERWRITE: The version of the file from the application revision currently being deployed replaces the version already on the instance.</p> </li> <li> <p>RETAIN: The version of the file already on the instance is kept and used as part of the new deployment.</p> </li> </ul>"
        },
        "overrideAlarmConfiguration":{
          "shape":"AlarmConfiguration",
          "documentation":"<p>Allows you to specify information about alarms associated with a deployment. The alarm configuration that you specify here will override the alarm configuration at the deployment group level. Consider overriding the alarm configuration if you have set up alarms at the deployment group level that are causing deployment failures. In this case, you would call <code>CreateDeployment</code> to create a new deployment that uses a previous application revision that is known to work, and set its alarm configuration to turn off alarm polling. Turning off alarm polling ensures that the new deployment proceeds without being blocked by the alarm that was generated by the previous, failed, deployment.</p> <note> <p>If you specify an <code>overrideAlarmConfiguration</code>, you need the <code>UpdateDeploymentGroup</code> IAM permission when calling <code>CreateDeployment</code>.</p> </note>"
        }
      },
      "documentation":"<p>Represents the input of a <code>CreateDeployment</code> operation.</p>"
    },
    "CreateDeploymentOutput":{
      "type":"structure",
      "members":{
        "deploymentId":{
          "shape":"DeploymentId",
          "documentation":"<p> The unique ID of a deployment. </p>"
        }
      },
      "documentation":"<p> Represents the output of a <code>CreateDeployment</code> operation. </p>"
    },
    "DeleteApplicationInput":{
      "type":"structure",
      "required":["applicationName"],
      "members":{
        "applicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of an CodeDeploy application associated with the user or Amazon Web Services account.</p>"
        }
      },
      "documentation":"<p>Represents the input of a <code>DeleteApplication</code> operation.</p>"
    },
    "DeleteDeploymentConfigInput":{
      "type":"structure",
      "required":["deploymentConfigName"],
      "members":{
        "deploymentConfigName":{
          "shape":"DeploymentConfigName",
          "documentation":"<p>The name of a deployment configuration associated with the user or Amazon Web Services account.</p>"
        }
      },
      "documentation":"<p>Represents the input of a <code>DeleteDeploymentConfig</code> operation.</p>"
    },
    "DeleteDeploymentGroupInput":{
      "type":"structure",
      "required":[
        "applicationName",
        "deploymentGroupName"
      ],
      "members":{
        "applicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of an CodeDeploy application associated with the user or Amazon Web Services account.</p>"
        },
        "deploymentGroupName":{
          "shape":"DeploymentGroupName",
          "documentation":"<p>The name of a deployment group for the specified application.</p>"
        }
      },
      "documentation":"<p>Represents the input of a <code>DeleteDeploymentGroup</code> operation.</p>"
    },
    "DeleteDeploymentGroupOutput":{
      "type":"structure",
      "members":{
        "hooksNotCleanedUp":{
          "shape":"AutoScalingGroupList",
          "documentation":"<p>If the output contains no data, and the corresponding deployment group contained at least one Auto Scaling group, CodeDeploy successfully removed all corresponding Auto Scaling lifecycle event hooks from the Amazon EC2 instances in the Auto Scaling group. If the output contains data, CodeDeploy could not remove some Auto Scaling lifecycle event hooks from the Amazon EC2 instances in the Auto Scaling group.</p>"
        }
      },
      "documentation":"<p>Represents the output of a <code>DeleteDeploymentGroup</code> operation.</p>"
    },
    "DeleteGitHubAccountTokenInput":{
      "type":"structure",
      "members":{
        "tokenName":{
          "shape":"GitHubAccountTokenName",
          "documentation":"<p>The name of the GitHub account connection to delete.</p>"
        }
      },
      "documentation":"<p>Represents the input of a <code>DeleteGitHubAccount</code> operation.</p>"
    },
    "DeleteGitHubAccountTokenOutput":{
      "type":"structure",
      "members":{
        "tokenName":{
          "shape":"GitHubAccountTokenName",
          "documentation":"<p>The name of the GitHub account connection that was deleted.</p>"
        }
      },
      "documentation":"<p>Represents the output of a <code>DeleteGitHubAccountToken</code> operation.</p>"
    },
    "DeleteResourcesByExternalIdInput":{
      "type":"structure",
      "members":{
        "externalId":{
          "shape":"ExternalId",
          "documentation":"<p>The unique ID of an external resource (for example, a CloudFormation stack ID) that is linked to one or more CodeDeploy resources.</p>"
        }
      }
    },
    "DeleteResourcesByExternalIdOutput":{
      "type":"structure",
      "members":{}
    },
    "DeploymentAlreadyCompletedException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The deployment is already complete.</p>",
      "exception":true
    },
    "DeploymentAlreadyStartedException":{
      "type":"structure",
      "members":{},
      "documentation":"<p> A deployment to a target was attempted while another deployment was in progress. </p>",
      "exception":true
    },
    "DeploymentConfigAlreadyExistsException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>A deployment configuration with the specified name with the user or Amazon Web Services account already exists.</p>",
      "exception":true
    },
    "DeploymentConfigDoesNotExistException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The deployment configuration does not exist with the user or Amazon Web Services account.</p>",
      "exception":true
    },
    "DeploymentConfigId":{"type":"string"},
    "DeploymentConfigInUseException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The deployment configuration is still in use.</p>",
      "exception":true
    },
    "DeploymentConfigInfo":{
      "type":"structure",
      "members":{
        "deploymentConfigId":{
          "shape":"DeploymentConfigId",
          "documentation":"<p>The deployment configuration ID.</p>"
        },
        "deploymentConfigName":{
          "shape":"DeploymentConfigName",
          "documentation":"<p>The deployment configuration name.</p>"
        },
        "minimumHealthyHosts":{
          "shape":"MinimumHealthyHosts",
          "documentation":"<p>Information about the number or percentage of minimum healthy instances.</p>"
        },
        "createTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the deployment configuration was created.</p>"
        },
        "computePlatform":{
          "shape":"ComputePlatform",
          "documentation":"<p>The destination platform type for the deployment (<code>Lambda</code>, <code>Server</code>, or <code>ECS</code>).</p>"
        },
        "trafficRoutingConfig":{
          "shape":"TrafficRoutingConfig",
          "documentation":"<p>The configuration that specifies how the deployment traffic is routed. Used for deployments with a Lambda or Amazon ECS compute platform only.</p>"
        },
        "zonalConfig":{
          "shape":"ZonalConfig",
          "documentation":"<p>Information about a zonal configuration.</p>"
        }
      },
      "documentation":"<p>Information about a deployment configuration.</p>"
    },
    "DeploymentConfigLimitExceededException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The deployment configurations limit was exceeded.</p>",
      "exception":true
    },
    "DeploymentConfigName":{
      "type":"string",
      "max":100,
      "min":1
    },
    "DeploymentConfigNameRequiredException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The deployment configuration name was not specified.</p>",
      "exception":true
    },
    "DeploymentConfigsList":{
      "type":"list",
      "member":{"shape":"DeploymentConfigName"}
    },
    "DeploymentCreator":{
      "type":"string",
      "enum":[
        "user",
        "autoscaling",
        "codeDeployRollback",
        "CodeDeploy",
        "CodeDeployAutoUpdate",
        "CloudFormation",
        "CloudFormationRollback",
        "autoscalingTermination"
      ]
    },
    "DeploymentDoesNotExistException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The deployment with the user or Amazon Web Services account does not exist.</p>",
      "exception":true
    },
    "DeploymentGroupAlreadyExistsException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>A deployment group with the specified name with the user or Amazon Web Services account already exists.</p>",
      "exception":true
    },
    "DeploymentGroupDoesNotExistException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The named deployment group with the user or Amazon Web Services account does not exist.</p>",
      "exception":true
    },
    "DeploymentGroupId":{"type":"string"},
    "DeploymentGroupInfo":{
      "type":"structure",
      "members":{
        "applicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The application name.</p>"
        },
        "deploymentGroupId":{
          "shape":"DeploymentGroupId",
          "documentation":"<p>The deployment group ID.</p>"
        },
        "deploymentGroupName":{
          "shape":"DeploymentGroupName",
          "documentation":"<p>The deployment group name.</p>"
        },
        "deploymentConfigName":{
          "shape":"DeploymentConfigName",
          "documentation":"<p>The deployment configuration name.</p>"
        },
        "ec2TagFilters":{
          "shape":"EC2TagFilterList",
          "documentation":"<p>The Amazon EC2 tags on which to filter. The deployment group includes EC2 instances with any of the specified tags.</p>"
        },
        "onPremisesInstanceTagFilters":{
          "shape":"TagFilterList",
          "documentation":"<p>The on-premises instance tags on which to filter. The deployment group includes on-premises instances with any of the specified tags.</p>"
        },
        "autoScalingGroups":{
          "shape":"AutoScalingGroupList",
          "documentation":"<p>A list of associated Auto Scaling groups.</p>"
        },
        "serviceRoleArn":{
          "shape":"Role",
          "documentation":"<p>A service role Amazon Resource Name (ARN) that grants CodeDeploy permission to make calls to Amazon Web Services services on your behalf. For more information, see <a href=\"https://docs.aws.amazon.com/codedeploy/latest/userguide/getting-started-create-service-role.html\">Create a Service Role for CodeDeploy</a> in the <i>CodeDeploy User Guide</i>.</p>"
        },
        "targetRevision":{
          "shape":"RevisionLocation",
          "documentation":"<p>Information about the deployment group's target revision, including type and location.</p>"
        },
        "triggerConfigurations":{
          "shape":"TriggerConfigList",
          "documentation":"<p>Information about triggers associated with the deployment group.</p>"
        },
        "alarmConfiguration":{
          "shape":"AlarmConfiguration",
          "documentation":"<p>A list of alarms associated with the deployment group.</p>"
        },
        "autoRollbackConfiguration":{
          "shape":"AutoRollbackConfiguration",
          "documentation":"<p>Information about the automatic rollback configuration associated with the deployment group.</p>"
        },
        "deploymentStyle":{
          "shape":"DeploymentStyle",
          "documentation":"<p>Information about the type of deployment, either in-place or blue/green, you want to run and whether to route deployment traffic behind a load balancer.</p>"
        },
        "outdatedInstancesStrategy":{
          "shape":"OutdatedInstancesStrategy",
          "documentation":"<p>Indicates what happens when new Amazon EC2 instances are launched mid-deployment and do not receive the deployed application revision.</p> <p>If this option is set to <code>UPDATE</code> or is unspecified, CodeDeploy initiates one or more 'auto-update outdated instances' deployments to apply the deployed application revision to the new Amazon EC2 instances.</p> <p>If this option is set to <code>IGNORE</code>, CodeDeploy does not initiate a deployment to update the new Amazon EC2 instances. This may result in instances having different revisions.</p>"
        },
        "blueGreenDeploymentConfiguration":{
          "shape":"BlueGreenDeploymentConfiguration",
          "documentation":"<p>Information about blue/green deployment options for a deployment group.</p>"
        },
        "loadBalancerInfo":{
          "shape":"LoadBalancerInfo",
          "documentation":"<p>Information about the load balancer to use in a deployment.</p>"
        },
        "lastSuccessfulDeployment":{
          "shape":"LastDeploymentInfo",
          "documentation":"<p>Information about the most recent successful deployment to the deployment group.</p>"
        },
        "lastAttemptedDeployment":{
          "shape":"LastDeploymentInfo",
          "documentation":"<p>Information about the most recent attempted deployment to the deployment group.</p>"
        },
        "ec2TagSet":{
          "shape":"EC2TagSet",
          "documentation":"<p>Information about groups of tags applied to an Amazon EC2 instance. The deployment group includes only Amazon EC2 instances identified by all of the tag groups. Cannot be used in the same call as ec2TagFilters.</p>"
        },
        "onPremisesTagSet":{
          "shape":"OnPremisesTagSet",
          "documentation":"<p>Information about groups of tags applied to an on-premises instance. The deployment group includes only on-premises instances identified by all the tag groups. Cannot be used in the same call as onPremisesInstanceTagFilters.</p>"
        },
        "computePlatform":{
          "shape":"ComputePlatform",
          "documentation":"<p>The destination platform type for the deployment (<code>Lambda</code>, <code>Server</code>, or <code>ECS</code>).</p>"
        },
        "ecsServices":{
          "shape":"ECSServiceList",
          "documentation":"<p> The target Amazon ECS services in the deployment group. This applies only to deployment groups that use the Amazon ECS compute platform. A target Amazon ECS service is specified as an Amazon ECS cluster and service name pair using the format <code>&lt;clustername&gt;:&lt;servicename&gt;</code>. </p>"
        },
        "terminationHookEnabled":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the deployment group was configured to have CodeDeploy install a termination hook into an Auto Scaling group.</p> <p>For more information about the termination hook, see <a href=\"https://docs.aws.amazon.com/codedeploy/latest/userguide/integrations-aws-auto-scaling.html#integrations-aws-auto-scaling-behaviors\">How Amazon EC2 Auto Scaling works with CodeDeploy</a> in the <i>CodeDeploy User Guide</i>.</p>"
        }
      },
      "documentation":"<p>Information about a deployment group.</p>"
    },
    "DeploymentGroupInfoList":{
      "type":"list",
      "member":{"shape":"DeploymentGroupInfo"}
    },
    "DeploymentGroupLimitExceededException":{
      "type":"structure",
      "members":{},
      "documentation":"<p> The deployment groups limit was exceeded.</p>",
      "exception":true
    },
    "DeploymentGroupName":{
      "type":"string",
      "max":100,
      "min":1
    },
    "DeploymentGroupNameRequiredException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The deployment group name was not specified.</p>",
      "exception":true
    },
    "DeploymentGroupsList":{
      "type":"list",
      "member":{"shape":"DeploymentGroupName"}
    },
    "DeploymentId":{"type":"string"},
    "DeploymentIdRequiredException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>At least one deployment ID must be specified.</p>",
      "exception":true
    },
    "DeploymentInfo":{
      "type":"structure",
      "members":{
        "applicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The application name.</p>"
        },
        "deploymentGroupName":{
          "shape":"DeploymentGroupName",
          "documentation":"<p> The deployment group name. </p>"
        },
        "deploymentConfigName":{
          "shape":"DeploymentConfigName",
          "documentation":"<p> The deployment configuration name. </p>"
        },
        "deploymentId":{
          "shape":"DeploymentId",
          "documentation":"<p> The unique ID of a deployment. </p>"
        },
        "previousRevision":{
          "shape":"RevisionLocation",
          "documentation":"<p>Information about the application revision that was deployed to the deployment group before the most recent successful deployment.</p>"
        },
        "revision":{
          "shape":"RevisionLocation",
          "documentation":"<p>Information about the location of stored application artifacts and the service from which to retrieve them.</p>"
        },
        "status":{
          "shape":"DeploymentStatus",
          "documentation":"<p>The current state of the deployment as a whole.</p>"
        },
        "errorInformation":{
          "shape":"ErrorInformation",
          "documentation":"<p>Information about any error associated with this deployment.</p>"
        },
        "createTime":{
          "shape":"Timestamp",
          "documentation":"<p>A timestamp that indicates when the deployment was created.</p>"
        },
        "startTime":{
          "shape":"Timestamp",
          "documentation":"<p>A timestamp that indicates when the deployment was deployed to the deployment group.</p> <p>In some cases, the reported value of the start time might be later than the complete time. This is due to differences in the clock settings of backend servers that participate in the deployment process.</p>"
        },
        "completeTime":{
          "shape":"Timestamp",
          "documentation":"<p>A timestamp that indicates when the deployment was complete.</p>"
        },
        "deploymentOverview":{
          "shape":"DeploymentOverview",
          "documentation":"<p>A summary of the deployment status of the instances in the deployment.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>A comment about the deployment.</p>"
        },
        "creator":{
          "shape":"DeploymentCreator",
          "documentation":"<p>The means by which the deployment was created:</p> <ul> <li> <p> <code>user</code>: A user created the deployment.</p> </li> <li> <p> <code>autoscaling</code>: Amazon EC2 Auto Scaling created the deployment.</p> </li> <li> <p> <code>codeDeployRollback</code>: A rollback process created the deployment.</p> </li> <li> <p> <code>CodeDeployAutoUpdate</code>: An auto-update process created the deployment when it detected outdated Amazon EC2 instances.</p> </li> </ul>"
        },
        "ignoreApplicationStopFailures":{
          "shape":"Boolean",
[...]
