{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2021-06-17",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"iotfleetwise",
    "jsonVersion":"1.0",
    "protocol":"json",
    "protocols":["json"],
    "serviceFullName":"AWS IoT FleetWise",
    "serviceId":"IoTFleetWise",
    "signatureVersion":"v4",
    "signingName":"iotfleetwise",
    "targetPrefix":"IoTAutobahnControlPlane",
    "uid":"iotfleetwise-2021-06-17"
  },
  "operations":{
    "AssociateVehicleFleet":{
      "name":"AssociateVehicleFleet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateVehicleFleetRequest"},
      "output":{"shape":"AssociateVehicleFleetResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Adds, or associates, a vehicle with a fleet. </p>"
    },
    "BatchCreateVehicle":{
      "name":"BatchCreateVehicle",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchCreateVehicleRequest"},
      "output":{"shape":"BatchCreateVehicleResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Creates a group, or batch, of vehicles. </p> <note> <p> You must specify a decoder manifest and a vehicle model (model manifest) for each vehicle. </p> </note> <p>For more information, see <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/developerguide/create-vehicles-cli.html\">Create multiple vehicles (AWS CLI)</a> in the <i>Amazon Web Services IoT FleetWise Developer Guide</i>. </p>"
    },
    "BatchUpdateVehicle":{
      "name":"BatchUpdateVehicle",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchUpdateVehicleRequest"},
      "output":{"shape":"BatchUpdateVehicleResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Updates a group, or batch, of vehicles.</p> <note> <p> You must specify a decoder manifest and a vehicle model (model manifest) for each vehicle. </p> </note> <p>For more information, see <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/developerguide/update-vehicles-cli.html\">Update multiple vehicles (AWS CLI)</a> in the <i>Amazon Web Services IoT FleetWise Developer Guide</i>. </p>"
    },
    "CreateCampaign":{
      "name":"CreateCampaign",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCampaignRequest"},
      "output":{"shape":"CreateCampaignResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates an orchestration of data collection rules. The Amazon Web Services IoT FleetWise Edge Agent software running in vehicles uses campaigns to decide how to collect and transfer data to the cloud. You create campaigns in the cloud. After you or your team approve campaigns, Amazon Web Services IoT FleetWise automatically deploys them to vehicles. </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/developerguide/campaigns.html\">Collect and transfer data with campaigns</a> in the <i>Amazon Web Services IoT FleetWise Developer Guide</i>.</p> <important> <p>Access to certain Amazon Web Services IoT FleetWise features is currently gated. For more information, see <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/developerguide/fleetwise-regions.html\">Amazon Web Services Region and feature availability</a> in the <i>Amazon Web Services IoT FleetWise Developer Guide</i>.</p> </important>",
      "idempotent":true
    },
    "CreateDecoderManifest":{
      "name":"CreateDecoderManifest",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDecoderManifestRequest"},
      "output":{"shape":"CreateDecoderManifestResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"DecoderManifestValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates the decoder manifest associated with a model manifest. To create a decoder manifest, the following must be true:</p> <ul> <li> <p>Every signal decoder has a unique name.</p> </li> <li> <p>Each signal decoder is associated with a network interface.</p> </li> <li> <p>Each network interface has a unique ID.</p> </li> <li> <p>The signal decoders are specified in the model manifest.</p> </li> </ul>",
      "idempotent":true
    },
    "CreateFleet":{
      "name":"CreateFleet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateFleetRequest"},
      "output":{"shape":"CreateFleetResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Creates a fleet that represents a group of vehicles. </p> <note> <p>You must create both a signal catalog and vehicles before you can create a fleet. </p> </note> <p>For more information, see <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/developerguide/fleets.html\">Fleets</a> in the <i>Amazon Web Services IoT FleetWise Developer Guide</i>.</p>",
      "idempotent":true
    },
    "CreateModelManifest":{
      "name":"CreateModelManifest",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateModelManifestRequest"},
      "output":{"shape":"CreateModelManifestResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InvalidSignalsException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Creates a vehicle model (model manifest) that specifies signals (attributes, branches, sensors, and actuators). </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/developerguide/vehicle-models.html\">Vehicle models</a> in the <i>Amazon Web Services IoT FleetWise Developer Guide</i>.</p>",
      "idempotent":true
    },
    "CreateSignalCatalog":{
      "name":"CreateSignalCatalog",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSignalCatalogRequest"},
      "output":{"shape":"CreateSignalCatalogResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidNodeException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InvalidSignalsException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Creates a collection of standardized signals that can be reused to create vehicle models.</p>",
      "idempotent":true
    },
    "CreateStateTemplate":{
      "name":"CreateStateTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateStateTemplateRequest"},
      "output":{"shape":"CreateStateTemplateResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InvalidSignalsException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a state template. State templates contain state properties, which are signals that belong to a signal catalog that is synchronized between the Amazon Web Services IoT FleetWise Edge and the Amazon Web Services Cloud.</p> <important> <p>Access to certain Amazon Web Services IoT FleetWise features is currently gated. For more information, see <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/developerguide/fleetwise-regions.html\">Amazon Web Services Region and feature availability</a> in the <i>Amazon Web Services IoT FleetWise Developer Guide</i>.</p> </important>",
      "idempotent":true
    },
    "CreateVehicle":{
      "name":"CreateVehicle",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVehicleRequest"},
      "output":{"shape":"CreateVehicleResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Creates a vehicle, which is an instance of a vehicle model (model manifest). Vehicles created from the same vehicle model consist of the same signals inherited from the vehicle model.</p> <note> <p> If you have an existing Amazon Web Services IoT thing, you can use Amazon Web Services IoT FleetWise to create a vehicle and collect data from your thing. </p> </note> <p>For more information, see <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/developerguide/create-vehicle-cli.html\">Create a vehicle (AWS CLI)</a> in the <i>Amazon Web Services IoT FleetWise Developer Guide</i>.</p>",
      "idempotent":true
    },
    "DeleteCampaign":{
      "name":"DeleteCampaign",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCampaignRequest"},
      "output":{"shape":"DeleteCampaignResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Deletes a data collection campaign. Deleting a campaign suspends all data collection and removes it from any vehicles. </p>",
      "idempotent":true
    },
    "DeleteDecoderManifest":{
      "name":"DeleteDecoderManifest",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDecoderManifestRequest"},
      "output":{"shape":"DeleteDecoderManifestResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Deletes a decoder manifest. You can't delete a decoder manifest if it has vehicles associated with it. </p>",
      "idempotent":true
    },
    "DeleteFleet":{
      "name":"DeleteFleet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteFleetRequest"},
      "output":{"shape":"DeleteFleetResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Deletes a fleet. Before you delete a fleet, all vehicles must be dissociated from the fleet. For more information, see <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/developerguide/delete-fleet-cli.html\">Delete a fleet (AWS CLI)</a> in the <i>Amazon Web Services IoT FleetWise Developer Guide</i>.</p>",
      "idempotent":true
    },
    "DeleteModelManifest":{
      "name":"DeleteModelManifest",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteModelManifestRequest"},
      "output":{"shape":"DeleteModelManifestResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Deletes a vehicle model (model manifest).</p>",
      "idempotent":true
    },
    "DeleteSignalCatalog":{
      "name":"DeleteSignalCatalog",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSignalCatalogRequest"},
      "output":{"shape":"DeleteSignalCatalogResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Deletes a signal catalog. </p>",
      "idempotent":true
    },
    "DeleteStateTemplate":{
      "name":"DeleteStateTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteStateTemplateRequest"},
      "output":{"shape":"DeleteStateTemplateResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a state template.</p>",
      "idempotent":true
    },
    "DeleteVehicle":{
      "name":"DeleteVehicle",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVehicleRequest"},
      "output":{"shape":"DeleteVehicleResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Deletes a vehicle and removes it from any campaigns.</p>",
      "idempotent":true
    },
    "DisassociateVehicleFleet":{
      "name":"DisassociateVehicleFleet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateVehicleFleetRequest"},
      "output":{"shape":"DisassociateVehicleFleetResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Removes, or disassociates, a vehicle from a fleet. Disassociating a vehicle from a fleet doesn't delete the vehicle.</p>"
    },
    "GetCampaign":{
      "name":"GetCampaign",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCampaignRequest"},
      "output":{"shape":"GetCampaignResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Retrieves information about a campaign. </p> <important> <p>Access to certain Amazon Web Services IoT FleetWise features is currently gated. For more information, see <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/developerguide/fleetwise-regions.html\">Amazon Web Services Region and feature availability</a> in the <i>Amazon Web Services IoT FleetWise Developer Guide</i>.</p> </important>"
    },
    "GetDecoderManifest":{
      "name":"GetDecoderManifest",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDecoderManifestRequest"},
      "output":{"shape":"GetDecoderManifestResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Retrieves information about a created decoder manifest. </p>"
    },
    "GetEncryptionConfiguration":{
      "name":"GetEncryptionConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetEncryptionConfigurationRequest"},
      "output":{"shape":"GetEncryptionConfigurationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves the encryption configuration for resources and data in Amazon Web Services IoT FleetWise.</p>"
    },
    "GetFleet":{
      "name":"GetFleet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetFleetRequest"},
      "output":{"shape":"GetFleetResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Retrieves information about a fleet. </p>"
    },
    "GetLoggingOptions":{
      "name":"GetLoggingOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetLoggingOptionsRequest"},
      "output":{"shape":"GetLoggingOptionsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves the logging options.</p>"
    },
    "GetModelManifest":{
      "name":"GetModelManifest",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetModelManifestRequest"},
      "output":{"shape":"GetModelManifestResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Retrieves information about a vehicle model (model manifest). </p>"
    },
    "GetRegisterAccountStatus":{
      "name":"GetRegisterAccountStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRegisterAccountStatusRequest"},
      "output":{"shape":"GetRegisterAccountStatusResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Retrieves information about the status of registering your Amazon Web Services account, IAM, and Amazon Timestream resources so that Amazon Web Services IoT FleetWise can transfer your vehicle data to the Amazon Web Services Cloud. </p> <p>For more information, including step-by-step procedures, see <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/developerguide/setting-up.html\">Setting up Amazon Web Services IoT FleetWise</a>. </p> <note> <p>This API operation doesn't require input parameters.</p> </note>"
    },
    "GetSignalCatalog":{
      "name":"GetSignalCatalog",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSignalCatalogRequest"},
      "output":{"shape":"GetSignalCatalogResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Retrieves information about a signal catalog. </p>"
    },
    "GetStateTemplate":{
      "name":"GetStateTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetStateTemplateRequest"},
      "output":{"shape":"GetStateTemplateResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves information about a state template.</p> <important> <p>Access to certain Amazon Web Services IoT FleetWise features is currently gated. For more information, see <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/developerguide/fleetwise-regions.html\">Amazon Web Services Region and feature availability</a> in the <i>Amazon Web Services IoT FleetWise Developer Guide</i>.</p> </important>"
    },
    "GetVehicle":{
      "name":"GetVehicle",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetVehicleRequest"},
      "output":{"shape":"GetVehicleResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Retrieves information about a vehicle. </p>"
    },
    "GetVehicleStatus":{
      "name":"GetVehicleStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetVehicleStatusRequest"},
      "output":{"shape":"GetVehicleStatusResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Retrieves information about the status of campaigns, decoder manifests, or state templates associated with a vehicle.</p>"
    },
    "ImportDecoderManifest":{
      "name":"ImportDecoderManifest",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ImportDecoderManifestRequest"},
      "output":{"shape":"ImportDecoderManifestResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"DecoderManifestValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InvalidSignalsException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Creates a decoder manifest using your existing CAN DBC file from your local device. </p> <p>The CAN signal name must be unique and not repeated across CAN message definitions in a .dbc file. </p>"
    },
    "ImportSignalCatalog":{
      "name":"ImportSignalCatalog",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ImportSignalCatalogRequest"},
      "output":{"shape":"ImportSignalCatalogResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InvalidSignalsException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Creates a signal catalog using your existing VSS formatted content from your local device. </p>",
      "idempotent":true
    },
    "ListCampaigns":{
      "name":"ListCampaigns",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCampaignsRequest"},
      "output":{"shape":"ListCampaignsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Lists information about created campaigns. </p> <note> <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the request to return more results.</p> </note>"
    },
    "ListDecoderManifestNetworkInterfaces":{
      "name":"ListDecoderManifestNetworkInterfaces",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDecoderManifestNetworkInterfacesRequest"},
      "output":{"shape":"ListDecoderManifestNetworkInterfacesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Lists the network interfaces specified in a decoder manifest. </p> <note> <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the request to return more results.</p> </note>"
    },
    "ListDecoderManifestSignals":{
      "name":"ListDecoderManifestSignals",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDecoderManifestSignalsRequest"},
      "output":{"shape":"ListDecoderManifestSignalsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> A list of information about signal decoders specified in a decoder manifest. </p> <note> <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the request to return more results.</p> </note>"
    },
    "ListDecoderManifests":{
      "name":"ListDecoderManifests",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDecoderManifestsRequest"},
      "output":{"shape":"ListDecoderManifestsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Lists decoder manifests. </p> <note> <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the request to return more results.</p> </note>"
    },
    "ListFleets":{
      "name":"ListFleets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListFleetsRequest"},
      "output":{"shape":"ListFleetsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Retrieves information for each created fleet in an Amazon Web Services account. </p> <note> <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the request to return more results.</p> </note>"
    },
    "ListFleetsForVehicle":{
      "name":"ListFleetsForVehicle",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListFleetsForVehicleRequest"},
      "output":{"shape":"ListFleetsForVehicleResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a list of IDs for all fleets that the vehicle is associated with.</p> <note> <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the request to return more results.</p> </note>"
    },
    "ListModelManifestNodes":{
      "name":"ListModelManifestNodes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListModelManifestNodesRequest"},
      "output":{"shape":"ListModelManifestNodesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Lists information about nodes specified in a vehicle model (model manifest). </p> <note> <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the request to return more results.</p> </note>"
    },
    "ListModelManifests":{
      "name":"ListModelManifests",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListModelManifestsRequest"},
      "output":{"shape":"ListModelManifestsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Retrieves a list of vehicle models (model manifests). </p> <note> <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the request to return more results.</p> </note>"
    },
    "ListSignalCatalogNodes":{
      "name":"ListSignalCatalogNodes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSignalCatalogNodesRequest"},
      "output":{"shape":"ListSignalCatalogNodesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Lists of information about the signals (nodes) specified in a signal catalog. </p> <note> <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the request to return more results.</p> </note>"
    },
    "ListSignalCatalogs":{
      "name":"ListSignalCatalogs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSignalCatalogsRequest"},
      "output":{"shape":"ListSignalCatalogsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Lists all the created signal catalogs in an Amazon Web Services account. </p> <p>You can use to list information about each signal (node) specified in a signal catalog.</p> <note> <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the request to return more results.</p> </note>"
    },
    "ListStateTemplates":{
      "name":"ListStateTemplates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListStateTemplatesRequest"},
      "output":{"shape":"ListStateTemplatesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists information about created state templates.</p> <important> <p>Access to certain Amazon Web Services IoT FleetWise features is currently gated. For more information, see <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/developerguide/fleetwise-regions.html\">Amazon Web Services Region and feature availability</a> in the <i>Amazon Web Services IoT FleetWise Developer Guide</i>.</p> </important>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists the tags (metadata) you have assigned to the resource.</p>"
    },
    "ListVehicles":{
      "name":"ListVehicles",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListVehiclesRequest"},
      "output":{"shape":"ListVehiclesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Retrieves a list of summaries of created vehicles. </p> <note> <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the request to return more results.</p> </note>"
    },
    "ListVehiclesInFleet":{
      "name":"ListVehiclesInFleet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListVehiclesInFleetRequest"},
      "output":{"shape":"ListVehiclesInFleetResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Retrieves a list of summaries of all vehicles associated with a fleet. </p> <note> <p>This API operation uses pagination. Specify the <code>nextToken</code> parameter in the request to return more results.</p> </note>"
    },
    "PutEncryptionConfiguration":{
      "name":"PutEncryptionConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutEncryptionConfigurationRequest"},
      "output":{"shape":"PutEncryptionConfigurationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates or updates the encryption configuration. Amazon Web Services IoT FleetWise can encrypt your data and resources using an Amazon Web Services managed key. Or, you can use a KMS key that you own and manage. For more information, see <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/developerguide/data-encryption.html\">Data encryption</a> in the <i>Amazon Web Services IoT FleetWise Developer Guide</i>.</p>"
    },
    "PutLoggingOptions":{
      "name":"PutLoggingOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutLoggingOptionsRequest"},
      "output":{"shape":"PutLoggingOptionsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates or updates the logging option.</p>",
      "idempotent":true
    },
    "RegisterAccount":{
      "name":"RegisterAccount",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterAccountRequest"},
      "output":{"shape":"RegisterAccountResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<important> <p>This API operation contains deprecated parameters. Register your account again without the Timestream resources parameter so that Amazon Web Services IoT FleetWise can remove the Timestream metadata stored. You should then pass the data destination into the <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/APIReference/API_CreateCampaign.html\">CreateCampaign</a> API operation.</p> <p>You must delete any existing campaigns that include an empty data destination before you register your account again. For more information, see the <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/APIReference/API_DeleteCampaign.html\">DeleteCampaign</a> API operation.</p> <p>If you want to delete the Timestream inline policy from the service-linked role, such as to mitigate an overly permissive policy, you must first delete any existing campaigns. Then delete the service-linked role and register your account again to enable CloudWatch metrics. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/APIReference/API_DeleteServiceLinkedRole.html\">DeleteServiceLinkedRole</a> in the <i>Identity and Access Management API Reference</i>.</p> </important> <p>Registers your Amazon Web Services account, IAM, and Amazon Timestream resources so Amazon Web Services IoT FleetWise can transfer your vehicle data to the Amazon Web Services Cloud. For more information, including step-by-step procedures, see <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/developerguide/setting-up.html\">Setting up Amazon Web Services IoT FleetWise</a>. </p> <note> <p>An Amazon Web Services account is <b>not</b> the same thing as a \"user.\" An <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/introduction_identity-management.html#intro-identity-users\">Amazon Web Services user</a> is an identity that you create using Identity and Access Management (IAM) and takes the form of either an <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_users.html\">IAM user</a> or an <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles.html\">IAM role, both with credentials</a>. A single Amazon Web Services account can, and typically does, contain many users and roles.</p> </note>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Adds to or modifies the tags of the given resource. Tags are metadata which can be used to manage a resource.</p>",
      "idempotent":true
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Removes the given tags (metadata) from the resource.</p>",
      "idempotent":true
    },
    "UpdateCampaign":{
      "name":"UpdateCampaign",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateCampaignRequest"},
      "output":{"shape":"UpdateCampaignResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Updates a campaign. </p>"
    },
    "UpdateDecoderManifest":{
      "name":"UpdateDecoderManifest",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDecoderManifestRequest"},
      "output":{"shape":"UpdateDecoderManifestResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"DecoderManifestValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Updates a decoder manifest.</p> <p>A decoder manifest can only be updated when the status is <code>DRAFT</code>. Only <code>ACTIVE</code> decoder manifests can be associated with vehicles.</p>",
      "idempotent":true
    },
    "UpdateFleet":{
      "name":"UpdateFleet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateFleetRequest"},
      "output":{"shape":"UpdateFleetResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Updates the description of an existing fleet. </p>"
    },
    "UpdateModelManifest":{
      "name":"UpdateModelManifest",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateModelManifestRequest"},
      "output":{"shape":"UpdateModelManifestResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InvalidSignalsException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Updates a vehicle model (model manifest). If created vehicles are associated with a vehicle model, it can't be updated.</p>",
      "idempotent":true
    },
    "UpdateSignalCatalog":{
      "name":"UpdateSignalCatalog",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateSignalCatalogRequest"},
      "output":{"shape":"UpdateSignalCatalogResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidNodeException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InvalidSignalsException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Updates a signal catalog. </p>",
      "idempotent":true
    },
    "UpdateStateTemplate":{
      "name":"UpdateStateTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateStateTemplateRequest"},
      "output":{"shape":"UpdateStateTemplateResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InvalidSignalsException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates a state template.</p> <important> <p>Access to certain Amazon Web Services IoT FleetWise features is currently gated. For more information, see <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/developerguide/fleetwise-regions.html\">Amazon Web Services Region and feature availability</a> in the <i>Amazon Web Services IoT FleetWise Developer Guide</i>.</p> </important>",
      "idempotent":true
    },
    "UpdateVehicle":{
      "name":"UpdateVehicle",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateVehicleRequest"},
      "output":{"shape":"UpdateVehicleResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Updates a vehicle.</p> <important> <p>Access to certain Amazon Web Services IoT FleetWise features is currently gated. For more information, see <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/developerguide/fleetwise-regions.html\">Amazon Web Services Region and feature availability</a> in the <i>Amazon Web Services IoT FleetWise Developer Guide</i>.</p> </important>"
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"string"}
      },
      "documentation":"<p>You don't have sufficient permission to perform this action.</p>",
      "exception":true
    },
    "Actuator":{
      "type":"structure",
      "required":[
        "fullyQualifiedName",
        "dataType"
      ],
      "members":{
        "fullyQualifiedName":{
          "shape":"ActuatorFullyQualifiedNameString",
          "documentation":"<p>The fully qualified name of the actuator. For example, the fully qualified name of an actuator might be <code>Vehicle.Front.Left.Door.Lock</code>.</p>"
        },
        "dataType":{
          "shape":"NodeDataType",
          "documentation":"<p>The specified data type of the actuator. </p>"
        },
        "description":{
          "shape":"description",
          "documentation":"<p>A brief description of the actuator.</p>"
        },
        "unit":{
          "shape":"string",
          "documentation":"<p>The scientific unit for the actuator.</p>"
        },
        "allowedValues":{
          "shape":"listOfStrings",
          "documentation":"<p>A list of possible values an actuator can take.</p>"
        },
        "min":{
          "shape":"double",
          "documentation":"<p>The specified possible minimum value of an actuator.</p>"
        },
        "max":{
          "shape":"double",
          "documentation":"<p>The specified possible maximum value of an actuator.</p>"
        },
        "assignedValue":{
          "shape":"string",
          "documentation":"<p>A specified value for the actuator.</p>",
          "deprecated":true,
          "deprecatedMessage":"assignedValue is no longer in use"
        },
        "deprecationMessage":{
          "shape":"message",
          "documentation":"<p>The deprecation message for the node or the branch that was moved or deleted.</p>"
        },
        "comment":{
          "shape":"message",
          "documentation":"<p>A comment in addition to the description.</p>"
        },
        "structFullyQualifiedName":{
          "shape":"NodePath",
          "documentation":"<p>The fully qualified name of the struct node for the actuator if the data type of the actuator is <code>Struct</code> or <code>StructArray</code>. For example, the struct fully qualified name of an actuator might be <code>Vehicle.Door.LockStruct</code>.</p>"
        }
      },
      "documentation":"<p>A signal that represents a vehicle device such as the engine, heater, and door locks. Data from an actuator reports the state of a certain vehicle device.</p> <note> <p> Updating actuator data can change the state of a device. For example, you can turn on or off the heater by updating its actuator data.</p> </note>"
    },
    "ActuatorFullyQualifiedNameString":{
      "type":"string",
      "max":150,
      "min":1,
      "pattern":"[a-zA-Z0-9_.]+"
    },
    "AmazonResourceName":{
      "type":"string",
      "max":1011,
      "min":1,
      "pattern":"arn:.*"
    },
    "AssociateVehicleFleetRequest":{
      "type":"structure",
      "required":[
        "vehicleName",
        "fleetId"
      ],
      "members":{
        "vehicleName":{
          "shape":"vehicleName",
          "documentation":"<p> The unique ID of the vehicle to associate with the fleet. </p>"
        },
        "fleetId":{
          "shape":"fleetId",
          "documentation":"<p> The ID of a fleet. </p>"
        }
      }
    },
    "AssociateVehicleFleetResponse":{
      "type":"structure",
      "members":{
      }
    },
    "Attribute":{
      "type":"structure",
      "required":[
        "fullyQualifiedName",
        "dataType"
      ],
      "members":{
        "fullyQualifiedName":{
          "shape":"AttributeFullyQualifiedNameString",
          "documentation":"<p>The fully qualified name of the attribute. For example, the fully qualified name of an attribute might be <code>Vehicle.Body.Engine.Type</code>.</p>"
        },
        "dataType":{
          "shape":"NodeDataType",
          "documentation":"<p>The specified data type of the attribute. </p>"
        },
        "description":{
          "shape":"description",
          "documentation":"<p>A brief description of the attribute.</p>"
        },
        "unit":{
          "shape":"string",
          "documentation":"<p>The scientific unit for the attribute.</p>"
        },
        "allowedValues":{
          "shape":"listOfStrings",
          "documentation":"<p>A list of possible values an attribute can be assigned.</p>"
        },
        "min":{
          "shape":"double",
          "documentation":"<p>The specified possible minimum value of the attribute.</p>"
        },
        "max":{
          "shape":"double",
          "documentation":"<p>The specified possible maximum value of the attribute.</p>"
        },
        "assignedValue":{
          "shape":"string",
          "documentation":"<p>A specified value for the attribute.</p>",
          "deprecated":true,
          "deprecatedMessage":"assignedValue is no longer in use"
        },
        "defaultValue":{
          "shape":"string",
          "documentation":"<p>The default value of the attribute.</p>"
        },
        "deprecationMessage":{
          "shape":"message",
          "documentation":"<p>The deprecation message for the node or the branch that was moved or deleted.</p>"
        },
        "comment":{
          "shape":"message",
          "documentation":"<p>A comment in addition to the description.</p>"
        }
      },
      "documentation":"<p>A signal that represents static information about the vehicle, such as engine type or manufacturing date.</p>"
    },
    "AttributeFullyQualifiedNameString":{
      "type":"string",
      "max":150,
      "min":1,
      "pattern":"[a-zA-Z0-9_.]+"
    },
    "BatchCreateVehicleRequest":{
      "type":"structure",
      "required":["vehicles"],
      "members":{
        "vehicles":{
          "shape":"createVehicleRequestItems",
          "documentation":"<p> A list of information about each vehicle to create. For more information, see the API data type.</p>"
        }
      }
    },
    "BatchCreateVehicleResponse":{
      "type":"structure",
      "members":{
        "vehicles":{
          "shape":"createVehicleResponses",
          "documentation":"<p> A list of information about a batch of created vehicles. For more information, see the API data type.</p>"
        },
        "errors":{
          "shape":"createVehicleErrors",
          "documentation":"<p>A list of information about creation errors, or an empty list if there aren't any errors. </p>"
        }
      }
    },
    "BatchUpdateVehicleRequest":{
      "type":"structure",
      "required":["vehicles"],
      "members":{
        "vehicles":{
          "shape":"updateVehicleRequestItems",
          "documentation":"<p> A list of information about the vehicles to update. For more information, see the API data type.</p>"
        }
      }
    },
    "BatchUpdateVehicleResponse":{
      "type":"structure",
      "members":{
        "vehicles":{
          "shape":"updateVehicleResponseItems",
          "documentation":"<p> A list of information about the batch of updated vehicles. </p> <note> <p>This list contains only unique IDs for the vehicles that were updated.</p> </note>"
        },
        "errors":{
          "shape":"updateVehicleErrors",
          "documentation":"<p>A list of information about errors returned while updating a batch of vehicles, or, if there aren't any errors, an empty list.</p>"
        }
      }
    },
    "Branch":{
      "type":"structure",
      "required":["fullyQualifiedName"],
      "members":{
        "fullyQualifiedName":{
          "shape":"BranchFullyQualifiedNameString",
          "documentation":"<p>The fully qualified name of the branch. For example, the fully qualified name of a branch might be <code>Vehicle.Body.Engine</code>.</p>"
        },
        "description":{
          "shape":"description",
          "documentation":"<p>A brief description of the branch.</p>"
        },
        "deprecationMessage":{
          "shape":"message",
          "documentation":"<p>The deprecation message for the node or the branch that was moved or deleted.</p>"
        },
        "comment":{
          "shape":"message",
          "documentation":"<p>A comment in addition to the description.</p>"
        }
      },
      "documentation":"<p>A group of signals that are defined in a hierarchical structure.</p>"
    },
    "BranchFullyQualifiedNameString":{
      "type":"string",
      "max":150,
      "min":1,
      "pattern":"[a-zA-Z0-9_.]+"
    },
    "CampaignStatus":{
      "type":"string",
      "enum":[
        "CREATING",
        "WAITING_FOR_APPROVAL",
        "RUNNING",
        "SUSPENDED"
      ]
    },
    "CampaignSummary":{
      "type":"structure",
      "required":[
        "creationTime",
        "lastModificationTime"
      ],
      "members":{
        "arn":{
          "shape":"campaignArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of a campaign.</p>"
        },
        "name":{
          "shape":"campaignName",
          "documentation":"<p>The name of a campaign.</p>"
        },
        "description":{
          "shape":"description",
          "documentation":"<p>The description of the campaign.</p>"
        },
        "signalCatalogArn":{
          "shape":"arn",
          "documentation":"<p>The ARN of the signal catalog associated with the campaign.</p>"
        },
        "targetArn":{
          "shape":"arn",
          "documentation":"<p>The ARN of a vehicle or fleet to which the campaign is deployed.</p>"
        },
        "status":{
          "shape":"CampaignStatus",
          "documentation":"<p>The state of a campaign. The status can be one of the following:</p> <ul> <li> <p> <code>CREATING</code> - Amazon Web Services IoT FleetWise is processing your request to create the campaign.</p> </li> <li> <p> <code>WAITING_FOR_APPROVAL</code> - After a campaign is created, it enters the <code>WAITING_FOR_APPROVAL</code> state. To allow Amazon Web Services IoT FleetWise to deploy the campaign to the target vehicle or fleet, use the API operation to approve the campaign. </p> </li> <li> <p> <code>RUNNING</code> - The campaign is active. </p> </li> <li> <p> <code>SUSPENDED</code> - The campaign is suspended. To resume the campaign, use the API operation. </p> </li> </ul>"
        },
        "creationTime":{
          "shape":"timestamp",
          "documentation":"<p>The time the campaign was created.</p>"
        },
        "lastModificationTime":{
          "shape":"timestamp",
          "documentation":"<p>The last time the campaign was modified.</p>"
        }
      },
      "documentation":"<p>Information about a campaign. </p> <p>You can use the API operation to return this information about multiple created campaigns.</p>"
    },
    "CanDbcDefinition":{
      "type":"structure",
      "required":[
        "networkInterface",
        "canDbcFiles"
      ],
      "members":{
        "networkInterface":{
          "shape":"InterfaceId",
          "documentation":"<p>Contains information about a network interface.</p>"
        },
        "canDbcFiles":{
          "shape":"NetworkFilesList",
          "documentation":"<p>A list of DBC files. You can upload only one DBC file for each network interface and specify up to five (inclusive) files in the list. The DBC file can be a maximum size of 200 MB.</p>"
        },
        "signalsMap":{
          "shape":"ModelSignalsMap",
          "documentation":"<p>Pairs every signal specified in your vehicle model with a signal decoder.</p>"
        }
      },
      "documentation":"<p>Configurations used to create a decoder manifest.</p>"
    },
    "CanInterface":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"CanInterfaceName",
          "documentation":"<p>The unique name of the interface.</p>"
        },
        "protocolName":{
          "shape":"ProtocolName",
          "documentation":"<p>The name of the communication protocol for the interface.</p>"
        },
        "protocolVersion":{
          "shape":"ProtocolVersion",
          "documentation":"<p>The version of the communication protocol for the interface.</p>"
        }
      },
      "documentation":"<p>A single controller area network (CAN) device interface.</p>"
    },
    "CanInterfaceName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"[a-zA-Z0-9_.]+"
    },
    "CanSignal":{
      "type":"structure",
      "required":[
        "messageId",
        "isBigEndian",
        "isSigned",
        "startBit",
        "offset",
        "factor",
        "length"
      ],
      "members":{
        "messageId":{
          "shape":"nonNegativeInteger",
          "documentation":"<p>The ID of the message.</p>"
        },
        "isBigEndian":{
          "shape":"PrimitiveBoolean",
          "documentation":"<p>Whether the byte ordering of a CAN message is big-endian.</p>"
        },
        "isSigned":{
          "shape":"PrimitiveBoolean",
          "documentation":"<p>Determines whether the message is signed (<code>true</code>) or not (<code>false</code>). If it's signed, the message can represent both positive and negative numbers. The <code>isSigned</code> parameter only applies to the <code>INTEGER</code> raw signal type, and it doesn't affect the <code>FLOATING_POINT</code> raw signal type.</p>"
        },
        "startBit":{
          "shape":"nonNegativeInteger",
          "documentation":"<p>Indicates the beginning of the CAN signal. This should always be the least significant bit (LSB).</p> <p>This value might be different from the value in a DBC file. For little endian signals, <code>startBit</code> is the same value as in the DBC file. For big endian signals in a DBC file, the start bit is the most significant bit (MSB). You will have to calculate the LSB instead and pass it as the <code>startBit</code>.</p>"
        },
        "offset":{
          "shape":"double",
          "documentation":"<p>The offset used to calculate the signal value. Combined with factor, the calculation is <code>value = raw_value * factor + offset</code>.</p>"
        },
        "factor":{
          "shape":"double",
          "documentation":"<p>A multiplier used to decode the CAN message.</p>"
        },
        "length":{
          "shape":"nonNegativeInteger",
          "documentation":"<p>How many bytes of data are in the message.</p>"
        },
        "name":{
          "shape":"CanSignalName",
          "documentation":"<p>The name of the signal.</p>"
        },
        "signalValueType":{
          "shape":"SignalValueType",
          "documentation":"<p>The value type of the signal. The default value is <code>INTEGER</code>.</p>"
        }
      },
      "documentation":"<p>Information about a single controller area network (CAN) signal and the messages it receives and transmits.</p>"
    },
    "CanSignalName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"[a-zA-Z0-9_.]+"
    },
    "CloudWatchLogDeliveryOptions":{
      "type":"structure",
      "required":["logType"],
      "members":{
        "logType":{
          "shape":"LogType",
          "documentation":"<p>The type of log to send data to Amazon CloudWatch Logs.</p>"
        },
        "logGroupName":{
          "shape":"CloudWatchLogGroupName",
          "documentation":"<p>The Amazon CloudWatch Logs group the operation sends data to.</p>"
        }
      },
      "documentation":"<p>The log delivery option to send data to Amazon CloudWatch Logs.</p>"
    },
    "CloudWatchLogGroupName":{
      "type":"string",
      "max":512,
      "min":1,
      "pattern":"[\\.\\-_\\/#A-Za-z0-9]+"
    },
    "CollectionScheme":{
      "type":"structure",
      "members":{
        "timeBasedCollectionScheme":{
          "shape":"TimeBasedCollectionScheme",
          "documentation":"<p>Information about a collection scheme that uses a time period to decide how often to collect data.</p>"
        },
        "conditionBasedCollectionScheme":{
          "shape":"ConditionBasedCollectionScheme",
          "documentation":"<p>Information about a collection scheme that uses a simple logical expression to recognize what data to collect.</p>"
        }
      },
      "documentation":"<p>Specifies what data to collect and how often or when to collect it.</p>",
      "union":true
    },
    "Compression":{
      "type":"string",
      "enum":[
        "OFF",
        "SNAPPY"
      ]
    },
    "ConditionBasedCollectionScheme":{
      "type":"structure",
      "required":["expression"],
      "members":{
        "expression":{
          "shape":"eventExpression",
          "documentation":"<p>The logical expression used to recognize what data to collect. For example, <code>$variable.`Vehicle.OutsideAirTemperature` &gt;= 105.0</code>.</p>"
        },
        "minimumTriggerIntervalMs":{
          "shape":"uint32",
          "documentation":"<p>The minimum duration of time between two triggering events to collect data, in milliseconds.</p> <note> <p>If a signal changes often, you might want to collect data at a slower rate.</p> </note>"
        },
        "triggerMode":{
          "shape":"TriggerMode",
          "documentation":"<p>Whether to collect data for all triggering events (<code>ALWAYS</code>). Specify (<code>RISING_EDGE</code>), or specify only when the condition first evaluates to false. For example, triggering on \"AirbagDeployed\"; Users aren't interested on triggering when the airbag is already exploded; they only care about the change from not deployed =&gt; deployed.</p>"
        },
        "conditionLanguageVersion":{
          "shape":"languageVersion",
          "documentation":"<p>Specifies the version of the conditional expression language.</p>"
        }
      },
      "documentation":"<p>Information about a collection scheme that uses a simple logical expression to recognize what data to collect.</p>"
    },
    "ConditionBasedSignalFetchConfig":{
      "type":"structure",
      "required":[
        "conditionExpression",
        "triggerMode"
      ],
      "members":{
        "conditionExpression":{
          "shape":"fetchConfigEventExpression",
          "documentation":"<p>The condition that must be satisfied to trigger a signal fetch.</p>"
        },
        "triggerMode":{
          "shape":"TriggerMode",
          "documentation":"<p>Indicates the mode in which the signal fetch is triggered.</p>"
        }
      },
      "documentation":"<p>Specifies the condition under which a signal fetch occurs.</p>"
    },
    "ConflictException":{
      "type":"structure",
      "required":[
        "message",
        "resource",
        "resourceType"
      ],
      "members":{
        "message":{"shape":"string"},
        "resource":{
          "shape":"string",
          "documentation":"<p>The resource on which there are conflicting operations.</p>"
        },
        "resourceType":{
          "shape":"string",
          "documentation":"<p>The type of resource on which there are conflicting operations..</p>"
        }
      },
      "documentation":"<p>The request has conflicting operations. This can occur if you're trying to perform more than one operation on the same resource at the same time.</p>",
      "exception":true
    },
    "CreateCampaignRequest":{
      "type":"structure",
      "required":[
        "name",
        "signalCatalogArn",
        "targetArn",
        "collectionScheme"
      ],
      "members":{
        "name":{
          "shape":"campaignName",
          "documentation":"<p> The name of the campaign to create. </p>"
        },
        "description":{
          "shape":"description",
          "documentation":"<p>An optional description of the campaign to help identify its purpose.</p>"
        },
        "signalCatalogArn":{
          "shape":"arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the signal catalog to associate with the campaign. </p>"
        },
        "targetArn":{
          "shape":"arn",
          "documentation":"<p> The ARN of the vehicle or fleet to deploy a campaign to. </p>"
        },
        "startTime":{
          "shape":"timestamp",
          "documentation":"<p>The time, in milliseconds, to deliver a campaign after it was approved. If it's not specified, <code>0</code> is used.</p> <p>Default: <code>0</code> </p>"
        },
        "expiryTime":{
          "shape":"timestamp",
          "documentation":"<p>The time the campaign expires, in seconds since epoch (January 1, 1970 at midnight UTC time). Vehicle data isn't collected after the campaign expires. </p> <p>Default: 253402214400 (December 31, 9999, 00:00:00 UTC)</p>"
        },
        "postTriggerCollectionDuration":{
          "shape":"uint32",
          "documentation":"<p>How long (in milliseconds) to collect raw data after a triggering event initiates the collection. If it's not specified, <code>0</code> is used.</p> <p>Default: <code>0</code> </p>"
        },
        "diagnosticsMode":{
          "shape":"DiagnosticsMode",
          "documentation":"<p>Option for a vehicle to send diagnostic trouble codes to Amazon Web Services IoT FleetWise. If you want to send diagnostic trouble codes, use <code>SEND_ACTIVE_DTCS</code>. If it's not specified, <code>OFF</code> is used.</p> <p>Default: <code>OFF</code> </p>"
        },
        "spoolingMode":{
          "shape":"SpoolingMode",
          "documentation":"<p>Determines whether to store collected data after a vehicle lost a connection with the cloud. After a connection is re-established, the data is automatically forwarded to Amazon Web Services IoT FleetWise. If you want to store collected data when a vehicle loses connection with the cloud, use <code>TO_DISK</code>. If it's not specified, <code>OFF</code> is used.</p> <p>Default: <code>OFF</code> </p>"
        },
        "compression":{
          "shape":"Compression",
          "documentation":"<p>Determines whether to compress signals before transmitting data to Amazon Web Services IoT FleetWise. If you don't want to compress the signals, use <code>OFF</code>. If it's not specified, <code>SNAPPY</code> is used. </p> <p>Default: <code>SNAPPY</code> </p>"
        },
        "priority":{
          "shape":"priority",
          "documentation":"<p>A number indicating the priority of one campaign over another campaign for a certain vehicle or fleet. A campaign with the lowest value is deployed to vehicles before any other campaigns. If it's not specified, <code>0</code> is used. </p> <p>Default: <code>0</code> </p>",
          "deprecated":true,
          "deprecatedMessage":"priority is no longer used or needed as input"
        },
        "signalsToCollect":{
          "shape":"SignalInformationList",
          "documentation":"<p>A list of information about signals to collect. </p> <note> <p>If you upload a signal as a condition in a data partition for a campaign, then those same signals must be included in <code>signalsToCollect</code>.</p> </note>"
        },
        "collectionScheme":{
          "shape":"CollectionScheme",
          "documentation":"<p> The data collection scheme associated with the campaign. You can specify a scheme that collects data based on time or an event.</p>"
        },
        "dataExtraDimensions":{
          "shape":"DataExtraDimensionNodePathList",
          "documentation":"<p>A list of vehicle attributes to associate with a campaign. </p> <p>Enrich the data with specified vehicle attributes. For example, add <code>make</code> and <code>model</code> to the campaign, and Amazon Web Services IoT FleetWise will associate the data with those attributes as dimensions in Amazon Timestream. You can then query the data against <code>make</code> and <code>model</code>.</p> <p>Default: An empty array</p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>Metadata that can be used to manage the campaign.</p>"
        },
        "dataDestinationConfigs":{
          "shape":"DataDestinationConfigs",
          "documentation":"<p>The destination where the campaign sends data. You can send data to an MQTT topic, or store it in Amazon S3 or Amazon Timestream.</p> <p>MQTT is the publish/subscribe messaging protocol used by Amazon Web Services IoT to communicate with your devices.</p> <p>Amazon S3 optimizes the cost of data storage and provides additional mechanisms to use vehicle data, such as data lakes, centralized data storage, data processing pipelines, and analytics. Amazon Web Services IoT FleetWise supports at-least-once file delivery to S3. Your vehicle data is stored on multiple Amazon Web Services IoT FleetWise servers for redundancy and high availability.</p> <p>You can use Amazon Timestream to access and analyze time series data, and Timestream to query vehicle data so that you can identify trends and patterns.</p>"
        },
        "dataPartitions":{
          "shape":"DataPartitions",
          "documentation":"<p>The data partitions associated with the signals collected from the vehicle.</p>"
        },
        "signalsToFetch":{
          "shape":"SignalFetchInformationList",
          "documentation":"<p>A list of information about signals to fetch.</p>"
        }
      }
    },
    "CreateCampaignResponse":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"campaignName",
          "documentation":"<p>The name of the created campaign.</p>"
        },
        "arn":{
          "shape":"campaignArn",
          "documentation":"<p> The ARN of the created campaign. </p>"
        }
      }
    },
    "CreateDecoderManifestRequest":{
      "type":"structure",
      "required":[
        "name",
        "modelManifestArn"
      ],
      "members":{
        "name":{
          "shape":"resourceName",
          "documentation":"<p> The unique name of the decoder manifest to create.</p>"
        },
        "description":{
          "shape":"description",
          "documentation":"<p>A brief description of the decoder manifest. </p>"
        },
        "modelManifestArn":{
          "shape":"CreateDecoderManifestRequestModelManifestArnString",
          "documentation":"<p> The Amazon Resource Name (ARN) of the vehicle model (model manifest). </p>"
        },
        "signalDecoders":{
          "shape":"SignalDecoders",
          "documentation":"<p> A list of information about signal decoders. </p>"
        },
        "networkInterfaces":{
          "shape":"NetworkInterfaces",
          "documentation":"<p> A list of information about available network interfaces. </p>"
        },
        "defaultForUnmappedSignals":{
          "shape":"DefaultForUnmappedSignalsType",
          "documentation":"<p>Use default decoders for all unmapped signals in the model. You don't need to provide any detailed decoding information.</p> <important> <p>Access to certain Amazon Web Services IoT FleetWise features is currently gated. For more information, see <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/developerguide/fleetwise-regions.html\">Amazon Web Services Region and feature availability</a> in the <i>Amazon Web Services IoT FleetWise Developer Guide</i>.</p> </important>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>Metadata that can be used to manage the decoder manifest.</p>"
        }
      }
    },
    "CreateDecoderManifestRequestModelManifestArnString":{
      "type":"string",
      "pattern":"arn:aws:iotfleetwise:[a-z0-9-]+:[0-9]{12}:model-manifest/[a-zA-Z\\d\\-_:]{1,100}"
    },
    "CreateDecoderManifestResponse":{
      "type":"structure",
      "required":[
        "name",
        "arn"
      ],
      "members":{
        "name":{
          "shape":"resourceName",
          "documentation":"<p> The name of the created decoder manifest. </p>"
        },
        "arn":{
          "shape":"arn",
          "documentation":"<p> The ARN of the created decoder manifest. </p>"
        }
      }
    },
    "CreateFleetRequest":{
      "type":"structure",
      "required":[
        "fleetId",
        "signalCatalogArn"
      ],
      "members":{
        "fleetId":{
          "shape":"fleetId",
          "documentation":"<p> The unique ID of the fleet to create. </p>"
        },
        "description":{
          "shape":"description",
          "documentation":"<p> A brief description of the fleet to create. </p>"
        },
        "signalCatalogArn":{
          "shape":"arn",
          "documentation":"<p> The Amazon Resource Name (ARN) of a signal catalog. </p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>Metadata that can be used to manage the fleet.</p>"
        }
      }
    },
    "CreateFleetResponse":{
      "type":"structure",
      "required":[
        "id",
        "arn"
      ],
      "members":{
        "id":{
          "shape":"fleetId",
          "documentation":"<p> The ID of the created fleet. </p>"
        },
        "arn":{
          "shape":"arn",
          "documentation":"<p> The ARN of the created fleet. </p>"
        }
      }
    },
    "CreateModelManifestRequest":{
      "type":"structure",
      "required":[
        "name",
        "nodes",
        "signalCatalogArn"
      ],
      "members":{
        "name":{
          "shape":"resourceName",
          "documentation":"<p> The name of the vehicle model to create.</p>"
        },
        "description":{
          "shape":"description",
          "documentation":"<p> A brief description of the vehicle model. </p>"
        },
        "nodes":{
          "shape":"CreateModelManifestRequestNodesList",
          "documentation":"<p> A list of nodes, which are a general abstraction of signals. </p>"
        },
        "signalCatalogArn":{
          "shape":"arn",
          "documentation":"<p> The Amazon Resource Name (ARN) of a signal catalog. </p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>Metadata that can be used to manage the vehicle model.</p>"
        }
      }
    },
    "CreateModelManifestRequestNodesList":{
      "type":"list",
      "member":{"shape":"string"},
      "max":500,
      "min":0
    },
    "CreateModelManifestResponse":{
      "type":"structure",
      "required":[
        "name",
        "arn"
      ],
      "members":{
        "name":{
          "shape":"resourceName",
          "documentation":"<p> The name of the created vehicle model.</p>"
        },
        "arn":{
          "shape":"arn",
          "documentation":"<p> The ARN of the created vehicle model.</p>"
        }
      }
    },
    "CreateSignalCatalogRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"resourceName",
          "documentation":"<p> The name of the signal catalog to create. </p>"
        },
        "description":{
          "shape":"description",
          "documentation":"<p>A brief description of the signal catalog.</p>"
        },
        "nodes":{
          "shape":"Nodes",
          "documentation":"<p> A list of information about nodes, which are a general abstraction of signals. For more information, see the API data type.</p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>Metadata that can be used to manage the signal catalog.</p>"
        }
      }
    },
    "CreateSignalCatalogResponse":{
      "type":"structure",
      "required":[
        "name",
        "arn"
      ],
      "members":{
        "name":{
          "shape":"resourceName",
          "documentation":"<p> The name of the created signal catalog. </p>"
        },
        "arn":{
          "shape":"arn",
          "documentation":"<p> The ARN of the created signal catalog. </p>"
        }
      }
    },
    "CreateStateTemplateRequest":{
      "type":"structure",
      "required":[
        "name",
        "signalCatalogArn",
        "stateTemplateProperties"
      ],
      "members":{
        "name":{
          "shape":"resourceName",
          "documentation":"<p>The name of the state template.</p>"
        },
        "description":{
          "shape":"description",
          "documentation":"<p>A brief description of the state template.</p>"
        },
        "signalCatalogArn":{
          "shape":"arn",
          "documentation":"<p>The ARN of the signal catalog associated with the state template.</p>"
        },
        "stateTemplateProperties":{
          "shape":"StateTemplateProperties",
          "documentation":"<p>A list of signals from which data is collected. The state template properties contain the fully qualified names of the signals.</p>"
        },
        "dataExtraDimensions":{
          "shape":"StateTemplateDataExtraDimensionNodePathList",
          "documentation":"<p>A list of vehicle attributes to associate with the payload published on the state template's MQTT topic. (See <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/developerguide/process-visualize-data.html#process-last-known-state-vehicle-data\"> Processing last known state vehicle data using MQTT messaging</a>). For example, if you add <code>Vehicle.Attributes.Make</code> and <code>Vehicle.Attributes.Model</code> attributes, Amazon Web Services IoT FleetWise will enrich the protobuf encoded payload with those attributes in the <code>extraDimensions</code> field.</p>"
        },
        "metadataExtraDimensions":{
          "shape":"StateTemplateMetadataExtraDimensionNodePathList",
          "documentation":"<p>A list of vehicle attributes to associate with user properties of the messages published on the state template's MQTT topic. (See <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/developerguide/process-visualize-data.html#process-last-known-state-vehicle-data\"> Processing last known state vehicle data using MQTT messaging</a>). For example, if you add <code>Vehicle.Attributes.Make</code> and <code>Vehicle.Attributes.Model</code> attributes, Amazon Web Services IoT FleetWise will include these attributes as User Properties with the MQTT message.</p> <p>Default: An empty array</p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>Metadata that can be used to manage the state template.</p>"
        }
      }
    },
    "CreateStateTemplateResponse":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"resourceName",
          "documentation":"<p>The name of the state template.</p>"
        },
        "arn":{
          "shape":"arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the state template.</p>"
        },
        "id":{
          "shape":"ResourceUniqueId",
          "documentation":"<p>The unique ID of the state template.</p>"
        }
      }
    },
    "CreateVehicleError":{
      "type":"structure",
      "members":{
        "vehicleName":{
          "shape":"vehicleName",
          "documentation":"<p>The ID of the vehicle with the error.</p>"
        },
        "code":{
          "shape":"string",
          "documentation":"<p>An HTTP error code.</p>"
        },
        "message":{
          "shape":"string",
          "documentation":"<p>A description of the HTTP error.</p>"
        }
      },
      "documentation":"<p>An HTTP error resulting from creating a vehicle.</p>"
    },
    "CreateVehicleRequest":{
      "type":"structure",
      "required":[
        "vehicleName",
        "modelManifestArn",
        "decoderManifestArn"
      ],
      "members":{
        "vehicleName":{
          "shape":"vehicleName",
          "documentation":"<p> The unique ID of the vehicle to create. </p>"
        },
        "modelManifestArn":{
          "shape":"arn",
          "documentation":"<p> The Amazon Resource Name ARN of a vehicle model. </p>"
        },
        "decoderManifestArn":{
          "shape":"arn",
          "documentation":"<p> The ARN of a decoder manifest. </p>"
        },
        "attributes":{
          "shape":"attributesMap",
          "documentation":"<p>Static information about a vehicle in a key-value pair. For example: <code>\"engineType\"</code> : <code>\"1.3 L R2\"</code> </p> <p>To use attributes with Campaigns or State Templates, you must include them using the request parameters <code>dataExtraDimensions</code> and/or <code>metadataExtraDimensions</code> (for state templates only) when creating your campaign/state template. </p>"
        },
        "associationBehavior":{
          "shape":"VehicleAssociationBehavior",
          "documentation":"<p> An option to create a new Amazon Web Services IoT thing when creating a vehicle, or to validate an existing Amazon Web Services IoT thing as a vehicle. </p> <p>Default: <code/> </p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>Metadata that can be used to manage the vehicle.</p>"
        },
        "stateTemplates":{
          "shape":"StateTemplateAssociations",
          "documentation":"<p>Associate state templates with the vehicle. You can monitor the last known state of the vehicle in near real time.</p>"
        }
      }
    },
    "CreateVehicleRequestItem":{
      "type":"structure",
      "required":[
        "vehicleName",
        "modelManifestArn",
        "decoderManifestArn"
      ],
      "members":{
        "vehicleName":{
          "shape":"vehicleName",
          "documentation":"<p>The unique ID of the vehicle to create.</p>"
        },
        "modelManifestArn":{
          "shape":"arn",
          "documentation":"<p>The ARN of the vehicle model (model manifest) to create the vehicle from.</p>"
        },
        "decoderManifestArn":{
          "shape":"arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of a decoder manifest associated with the vehicle to create. </p>"
        },
        "attributes":{
          "shape":"attributesMap",
          "documentation":"<p>Static information about a vehicle in a key-value pair. For example: <code>\"engine Type\"</code> : <code>\"v6\"</code> </p>"
        },
        "associationBehavior":{
          "shape":"VehicleAssociationBehavior",
          "documentation":"<p>An option to create a new Amazon Web Services IoT thing when creating a vehicle, or to validate an existing thing as a vehicle.</p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>Metadata which can be used to manage the vehicle.</p>"
        },
        "stateTemplates":{
          "shape":"StateTemplateAssociations",
          "documentation":"<p>Associate state templates to track the state of the vehicle. State templates determine which signal updates the vehicle sends to the cloud.</p>"
        }
      },
      "documentation":"<p>Information about the vehicle to create.</p>"
    },
    "CreateVehicleResponse":{
      "type":"structure",
      "members":{
        "vehicleName":{
          "shape":"vehicleName",
          "documentation":"<p>The unique ID of the created vehicle.</p>"
        },
        "arn":{
          "shape":"arn",
          "documentation":"<p> The ARN of the created vehicle. </p>"
        },
        "thingArn":{
          "shape":"arn",
          "documentation":"<p> The ARN of a created or validated Amazon Web Services IoT thing. </p>"
        }
      }
    },
    "CreateVehicleResponseItem":{
      "type":"structure",
      "members":{
        "vehicleName":{
          "shape":"vehicleName",
          "documentation":"<p>The unique ID of the vehicle to create.</p>"
        },
        "arn":{
          "shape":"arn",
          "documentation":"<p>The ARN of the created vehicle.</p>"
        },
        "thingArn":{
          "shape":"arn",
          "documentation":"<p>The ARN of a created or validated Amazon Web Services IoT thing.</p>"
        }
      },
      "documentation":"<p>Information about a created vehicle.</p>"
    },
    "CustomDecodingId":{
      "type":"string",
      "max":150,
      "min":1,
      "pattern":"(?!.*\\.\\.)[a-zA-Z0-9_\\-#:.]+"
    },
    "CustomDecodingInterface":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"CustomDecodingSignalInterfaceName",
          "documentation":"<p>The name of the interface.</p>"
        }
      },
      "documentation":"<p>Represents a custom network interface as defined by the customer.</p> <important> <p>Access to certain Amazon Web Services IoT FleetWise features is currently gated. For more information, see <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/developerguide/fleetwise-regions.html\">Amazon Web Services Region and feature availability</a> in the <i>Amazon Web Services IoT FleetWise Developer Guide</i>.</p> </important>"
    },
    "CustomDecodingSignal":{
      "type":"structure",
      "required":["id"],
      "members":{
        "id":{
          "shape":"CustomDecodingId",
          "documentation":"<p>The ID of the signal.</p>"
        }
      },
      "documentation":"<p>Information about signals using a custom decoding protocol as defined by the customer.</p> <important> <p>Access to certain Amazon Web Services IoT FleetWise features is currently gated. For more information, see <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/developerguide/fleetwise-regions.html\">Amazon Web Services Region and feature availability</a> in the <i>Amazon Web Services IoT FleetWise Developer Guide</i>.</p> </important>"
    },
    "CustomDecodingSignalInterfaceName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"[a-zA-Z\\d\\-_:]+"
    },
    "CustomProperty":{
      "type":"structure",
      "required":[
        "fullyQualifiedName",
        "dataType"
      ],
      "members":{
        "fullyQualifiedName":{
          "shape":"CustomPropertyFullyQualifiedNameString",
          "documentation":"<p>The fully qualified name of the custom property. For example, the fully qualified name of a custom property might be <code>ComplexDataTypes.VehicleDataTypes.SVMCamera.FPS</code>.</p>"
        },
        "dataType":{
          "shape":"NodeDataType",
          "documentation":"<p>The data type for the custom property. </p>"
        },
        "dataEncoding":{
          "shape":"NodeDataEncoding",
          "documentation":"<p>Indicates whether the property is binary data.</p>"
        },
        "description":{
          "shape":"description",
          "documentation":"<p>A brief description of the custom property.</p>"
        },
        "deprecationMessage":{
          "shape":"message",
          "documentation":"<p>The deprecation message for the node or the branch that was moved or deleted.</p>"
        },
        "comment":{
          "shape":"message",
          "documentation":"<p>A comment in addition to the description.</p>"
        },
        "structFullyQualifiedName":{
          "shape":"NodePath",
          "documentation":"<p>The fully qualified name of the struct node for the custom property if the data type of the custom property is <code>Struct</code> or <code>StructArray</code>. </p>"
        }
      },
      "documentation":"<p>Represents a member of the complex data structure. The data type of the property can be either primitive or another <code>struct</code>.</p>"
    },
    "CustomPropertyFullyQualifiedNameString":{
      "type":"string",
      "max":150,
      "min":1,
      "pattern":"[a-zA-Z0-9_.]+"
    },
    "CustomStruct":{
      "type":"structure",
      "required":["fullyQualifiedName"],
      "members":{
        "fullyQualifiedName":{
          "shape":"CustomStructFullyQualifiedNameString",
          "documentation":"<p>The fully qualified name of the custom structure. For example, the fully qualified name of a custom structure might be <code>ComplexDataTypes.VehicleDataTypes.SVMCamera</code>.</p>"
        },
        "description":{
          "shape":"description",
          "documentation":"<p>A brief description of the custom structure.</p>"
        },
        "deprecationMessage":{
          "shape":"message",
          "documentation":"<p>The deprecation message for the node or the branch that was moved or deleted.</p>"
        },
        "comment":{
          "shape":"message",
          "documentation":"<p>A comment in addition to the description.</p>"
        }
      },
      "documentation":"<p>The custom structure represents a complex or higher-order data structure.</p>"
    },
    "CustomStructFullyQualifiedNameString":{
      "type":"string",
      "max":150,
      "min":1,
      "pattern":"[a-zA-Z0-9_.]+"
    },
    "DataDestinationConfig":{
      "type":"structure",
      "members":{
        "s3Config":{
          "shape":"S3Config",
          "documentation":"<p>The Amazon S3 bucket where the Amazon Web Services IoT FleetWise campaign sends data.</p>"
        },
        "timestreamConfig":{
          "shape":"TimestreamConfig",
          "documentation":"<p>The Amazon Timestream table where the campaign sends data.</p>"
        },
        "mqttTopicConfig":{
          "shape":"MqttTopicConfig",
          "documentation":"<p>The MQTT topic to which the Amazon Web Services IoT FleetWise campaign routes data.</p> <important> <p>Access to certain Amazon Web Services IoT FleetWise features is currently gated. For more information, see <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/developerguide/fleetwise-regions.html\">Amazon Web Services Region and feature availability</a> in the <i>Amazon Web Services IoT FleetWise Developer Guide</i>.</p> </important>"
        }
      },
      "documentation":"<p>The destination where the campaign sends data. You can send data to an MQTT topic, or store it in Amazon S3 or Amazon Timestream.</p>",
      "union":true
    },
    "DataDestinationConfigs":{
      "type":"list",
      "member":{"shape":"DataDestinationConfig"},
      "max":3,
      "min":1
    },
    "DataExtraDimensionNodePathList":{
      "type":"list",
      "member":{"shape":"NodePath"},
      "max":5,
      "min":0,
      "sensitive":true
    },
    "DataFormat":{
      "type":"string",
      "enum":[
        "JSON",
        "PARQUET"
      ]
    },
    "DataPartition":{
      "type":"structure",
      "required":[
        "id",
        "storageOptions"
      ],
      "members":{
        "id":{
          "shape":"DataPartitionId",
          "documentation":"<p>The ID of the data partition. The data partition ID must be unique within a campaign. You can establish a data partition as the default partition for a campaign by using <code>default</code> as the ID.</p>"
        },
        "storageOptions":{
          "shape":"DataPartitionStorageOptions",
          "documentation":"<p>The storage options for a data partition.</p>"
        },
        "uploadOptions":{
          "shape":"DataPartitionUploadOptions",
          "documentation":"<p>The upload options for the data partition.</p>"
        }
      },
      "documentation":"<p>The configuration for signal data storage and upload options. You can only specify these options when the campaign's spooling mode is <code>TO_DISK</code>.</p> <important> <p>Access to certain Amazon Web Services IoT FleetWise features is currently gated. For more information, see <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/developerguide/fleetwise-regions.html\">Amazon Web Services Region and feature availability</a> in the <i>Amazon Web Services IoT FleetWise Developer Guide</i>.</p> </important>"
    },
    "DataPartitionId":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[a-zA-Z0-9]+"
    },
    "DataPartitionStorageOptions":{
      "type":"structure",
      "required":[
        "maximumSize",
        "storageLocation",
        "minimumTimeToLive"
      ],
      "members":{
        "maximumSize":{
          "shape":"StorageMaximumSize",
          "documentation":"<p>The maximum storage size of the data stored in the data partition.</p> <note> <p>Newer data overwrites older data when the partition reaches the maximum size.</p> </note>"
        },
        "storageLocation":{
          "shape":"StorageLocation",
          "documentation":"<p>The folder name for the data partition under the campaign storage folder.</p>"
        },
        "minimumTimeToLive":{
          "shape":"StorageMinimumTimeToLive",
          "documentation":"<p>The amount of time that data in this partition will be kept on disk.</p> <ul> <li> <p>After the designated amount of time passes, the data can be removed, but it's not guaranteed to be removed.</p> </li> <li> <p>Before the time expires, data in this partition can still be deleted if the partition reaches its configured maximum size.</p> </li> <li> <p>Newer data will overwrite older data when the partition reaches the maximum size.</p> </li> </ul>"
        }
      },
      "documentation":"<p>Size, time, and location options for the data partition.</p>"
    },
    "DataPartitionUploadOptions":{
      "type":"structure",
      "required":["expression"],
      "members":{
        "expression":{
          "shape":"eventExpression",
          "documentation":"<p>The logical expression used to recognize what data to collect. For example, <code>$variable.`Vehicle.OutsideAirTemperature` &gt;= 105.0</code>.</p>"
        },
        "conditionLanguageVersion":{
          "shape":"languageVersion",
          "documentation":"<p>The version of the condition language. Defaults to the most recent condition language version.</p>"
        }
      },
      "documentation":"<p>The upload options for the data partition. If upload options are specified, you must also specify storage options. See <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/APIReference/API_DataPartitionStorageOptions.html\">DataPartitionStorageOptions</a>.</p> <important> <p>Access to certain Amazon Web Services IoT FleetWise features is currently gated. For more information, see <a href=\"https://docs.aws.amazon.com/iot-fleetwise/latest/developerguide/fleetwise-regions.html\">Amazon Web Services Region and feature availability</a> in the <i>Amazon Web Services IoT FleetWise Developer Guide</i>.</p> </important>"
    },
    "DataPartitions":{
      "type":"list",
      "member":{"shape":"DataPartition"},
      "max":20,
      "min":1
    },
    "DecoderManifestSummary":{
      "type":"structure",
      "required":[
        "creationTime",
        "lastModificationTime"
      ],
      "members":{
        "name":{
          "shape":"string",
          "documentation":"<p>The name of the decoder manifest.</p>"
        },
        "arn":{
          "shape":"arn",
          "documentation":"<p>The ARN of a vehicle model (model manifest) associated with the decoder manifest. </p>"
        },
        "modelManifestArn":{
          "shape":"arn",
          "documentation":"<p>The ARN of a vehicle model (model manifest) associated with the decoder manifest.</p>"
        },
        "description":{
          "shape":"description",
          "documentation":"<p>A brief description of the decoder manifest.</p>"
        },
        "status":{
          "shape":"ManifestStatus",
          "documentation":"<p>The state of the decoder manifest. If the status is <code>ACTIVE</code>, the decoder manifest can't be edited. If the status is marked <code>DRAFT</code>, you can edit the decoder manifest.</p>"
        },
        "creationTime":{
          "shape":"timestamp",
          "documentation":"<p>The time the decoder manifest was created in seconds since epoch (January 1, 1970 at midnight UTC time).</p>"
        },
        "lastModificationTime":{
          "shape":"timestamp",
          "documentation":"<p>The time the decoder manifest was last updated in seconds since epoch (January 1, 1970 at midnight UTC time).</p>"
        },
        "message":{
          "shape":"message",
          "documentation":"<p>The detailed message for the decoder manifest. When a decoder manifest is in an <code>INVALID</code> status, the message contains detailed reason and help information.</p>"
        }
      },
      "documentation":"<p>Information about a created decoder manifest. You can use the API operation to return this information about multiple decoder manifests.</p>"
    },
    "DecoderManifestValidationException":{
      "type":"structure",
      "members":{
        "invalidSignals":{
          "shape":"InvalidSignalDecoders",
          "documentation":"<p>The request couldn't be completed because of invalid signals in the request.</p>"
        },
        "invalidNetworkInterfaces":{
          "shape":"InvalidNetworkInterfaces",
          "documentation":"<p>The request couldn't be completed because of invalid network interfaces in the request.</p>"
        },
        "message":{"shape":"string"}
      },
      "documentation":"<p>The request couldn't be completed because it contains signal decoders with one or more validation errors.</p>",
      "exception":true
    },
    "DefaultForUnmappedSignalsType":{
      "type":"string",
      "enum":["CUSTOM_DECODING"]
    },
    "DeleteCampaignRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"campaignName",
          "documentation":"<p> The name of the campaign to delete. </p>"
        }
      }
    },
    "DeleteCampaignResponse":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"campaignName",
[...]
