{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2022-10-03",
    "endpointPrefix":"cases",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceAbbreviation":"ConnectCases",
    "serviceFullName":"Amazon Connect Cases",
    "serviceId":"ConnectCases",
    "signatureVersion":"v4",
    "signingName":"cases",
    "uid":"connectcases-2022-10-03",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "BatchGetCaseRule":{
      "name":"BatchGetCaseRule",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{domainId}/rules-batch",
        "responseCode":200
      },
      "input":{"shape":"BatchGetCaseRuleRequest"},
      "output":{"shape":"BatchGetCaseRuleResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets a batch of case rules. In the Amazon Connect admin website, case rules are known as <i>case field conditions</i>. For more information about case field conditions, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/case-field-conditions.html\">Add case field conditions to a case template</a>.</p>"
    },
    "BatchGetField":{
      "name":"BatchGetField",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{domainId}/fields-batch",
        "responseCode":200
      },
      "input":{"shape":"BatchGetFieldRequest"},
      "output":{"shape":"BatchGetFieldResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns the description for the list of fields in the request parameters. </p>"
    },
    "BatchPutFieldOptions":{
      "name":"BatchPutFieldOptions",
      "http":{
        "method":"PUT",
        "requestUri":"/domains/{domainId}/fields/{fieldId}/options",
        "responseCode":200
      },
      "input":{"shape":"BatchPutFieldOptionsRequest"},
      "output":{"shape":"BatchPutFieldOptionsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates and updates a set of field options for a single select field in a Cases domain.</p>",
      "idempotent":true
    },
    "CreateCase":{
      "name":"CreateCase",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{domainId}/cases",
        "responseCode":200
      },
      "input":{"shape":"CreateCaseRequest"},
      "output":{"shape":"CreateCaseResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p><note> <p>If you provide a value for <code>PerformedBy.UserArn</code> you must also have <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_DescribeUser.html\">connect:DescribeUser</a> permission on the User ARN resource that you provide</p> </note> <p>Creates a case in the specified Cases domain. Case system and custom fields are taken as an array id/value pairs with a declared data types.</p> <p>The following fields are required when creating a case:</p> <ul> <li> <p> <code>customer_id</code> - You must provide the full customer profile ARN in this format: <code>arn:aws:profile:your_AWS_Region:your_AWS_account ID:domains/your_profiles_domain_name/profiles/profile_ID</code> </p> </li> <li> <p> <code>title</code> </p> </li> </ul></p>",
      "idempotent":true
    },
    "CreateCaseRule":{
      "name":"CreateCaseRule",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{domainId}/case-rules",
        "responseCode":200
      },
      "input":{"shape":"CreateCaseRuleRequest"},
      "output":{"shape":"CreateCaseRuleResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a new case rule. In the Amazon Connect admin website, case rules are known as <i>case field conditions</i>. For more information about case field conditions, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/case-field-conditions.html\">Add case field conditions to a case template</a>.</p>",
      "idempotent":true
    },
    "CreateDomain":{
      "name":"CreateDomain",
      "http":{
        "method":"POST",
        "requestUri":"/domains",
        "responseCode":200
      },
      "input":{"shape":"CreateDomainRequest"},
      "output":{"shape":"CreateDomainResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a domain, which is a container for all case data, such as cases, fields, templates and layouts. Each Amazon Connect instance can be associated with only one Cases domain.</p> <important> <p>This will not associate your connect instance to Cases domain. Instead, use the Amazon Connect <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_CreateIntegrationAssociation.html\">CreateIntegrationAssociation</a> API. You need specific IAM permissions to successfully associate the Cases domain. For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/required-permissions-iam-cases.html#onboard-cases-iam\">Onboard to Cases</a>.</p> </important>",
      "idempotent":true
    },
    "CreateField":{
      "name":"CreateField",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{domainId}/fields",
        "responseCode":200
      },
      "input":{"shape":"CreateFieldRequest"},
      "output":{"shape":"CreateFieldResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a field in the Cases domain. This field is used to define the case object model (that is, defines what data can be captured on cases) in a Cases domain. </p>",
      "idempotent":true
    },
    "CreateLayout":{
      "name":"CreateLayout",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{domainId}/layouts",
        "responseCode":200
      },
      "input":{"shape":"CreateLayoutRequest"},
      "output":{"shape":"CreateLayoutResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a layout in the Cases domain. Layouts define the following configuration in the top section and More Info tab of the Cases user interface:</p> <ul> <li> <p>Fields to display to the users</p> </li> <li> <p>Field ordering</p> </li> </ul> <note> <p>Title and Status fields cannot be part of layouts since they are not configurable.</p> </note>"
    },
    "CreateRelatedItem":{
      "name":"CreateRelatedItem",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{domainId}/cases/{caseId}/related-items/",
        "responseCode":200
      },
      "input":{"shape":"CreateRelatedItemRequest"},
      "output":{"shape":"CreateRelatedItemResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a related item (comments, tasks, and contacts) and associates it with a case.</p> <note> <ul> <li> <p>A Related Item is a resource that is associated with a case. It may or may not have an external identifier linking it to an external resource (for example, a <code>contactArn</code>). All Related Items have their own internal identifier, the <code>relatedItemArn</code>. Examples of related items include <code>comments</code> and <code>contacts</code>.</p> </li> <li> <p>If you provide a value for <code>performedBy.userArn</code> you must also have <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_DescribeUser.html\">DescribeUser</a> permission on the ARN of the user that you provide.</p> </li> <li> <p>The <code>type</code> field is reserved for internal use only.</p> </li> </ul> </note>",
      "idempotent":true
    },
    "CreateTemplate":{
      "name":"CreateTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{domainId}/templates",
        "responseCode":200
      },
      "input":{"shape":"CreateTemplateRequest"},
      "output":{"shape":"CreateTemplateResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a template in the Cases domain. This template is used to define the case object model (that is, to define what data can be captured on cases) in a Cases domain. A template must have a unique name within a domain, and it must reference existing field IDs and layout IDs. Additionally, multiple fields with same IDs are not allowed within the same Template. A template can be either Active or Inactive, as indicated by its status. Inactive templates cannot be used to create cases.</p> <p> Other template APIs are: </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_connect-cases_DeleteTemplate.html\">DeleteTemplate</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_connect-cases_GetTemplate.html\">GetTemplate</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_connect-cases_ListTemplates.html\">ListTemplates</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_connect-cases_UpdateTemplate.html\">UpdateTemplate</a> </p> </li> </ul>",
      "idempotent":true
    },
    "DeleteCase":{
      "name":"DeleteCase",
      "http":{
        "method":"DELETE",
        "requestUri":"/domains/{domainId}/cases/{caseId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteCaseRequest"},
      "output":{"shape":"DeleteCaseResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> The DeleteCase API permanently deletes a case and all its associated resources from the cases data store. After a successful deletion, you cannot:</p> <ul> <li> <p>Retrieve related items</p> </li> <li> <p>Access audit history</p> </li> <li> <p>Perform any operations that require the CaseID</p> </li> </ul> <important> <p>This action is irreversible. Once you delete a case, you cannot recover its data.</p> </important>",
      "idempotent":true
    },
    "DeleteCaseRule":{
      "name":"DeleteCaseRule",
      "http":{
        "method":"DELETE",
        "requestUri":"/domains/{domainId}/case-rules/{caseRuleId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteCaseRuleRequest"},
      "output":{"shape":"DeleteCaseRuleResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes a case rule. In the Amazon Connect admin website, case rules are known as <i>case field conditions</i>. For more information about case field conditions, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/case-field-conditions.html\">Add case field conditions to a case template</a>.</p>",
      "idempotent":true
    },
    "DeleteDomain":{
      "name":"DeleteDomain",
      "http":{
        "method":"DELETE",
        "requestUri":"/domains/{domainId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteDomainRequest"},
      "output":{"shape":"DeleteDomainResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes a Cases domain.</p> <note> <p>After deleting your domain you must disassociate the deleted domain from your Amazon Connect instance with another API call before being able to use Cases again with this Amazon Connect instance. See <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_DeleteIntegrationAssociation.html\">DeleteIntegrationAssociation</a>.</p> </note>",
      "idempotent":true
    },
    "DeleteField":{
      "name":"DeleteField",
      "http":{
        "method":"DELETE",
        "requestUri":"/domains/{domainId}/fields/{fieldId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteFieldRequest"},
      "output":{"shape":"DeleteFieldResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Deletes a field from a cases template. You can delete up to 100 fields per domain.</p> <p>After a field is deleted:</p> <ul> <li> <p>You can still retrieve the field by calling <code>BatchGetField</code>.</p> </li> <li> <p>You cannot update a deleted field by calling <code>UpdateField</code>; it throws a <code>ValidationException</code>.</p> </li> <li> <p>Deleted fields are not included in the <code>ListFields</code> response.</p> </li> <li> <p>Calling <code>CreateCase</code> with a deleted field throws a <code>ValidationException</code> denoting which field IDs in the request have been deleted.</p> </li> <li> <p>Calling <code>GetCase</code> with a deleted field ID returns the deleted field's value if one exists.</p> </li> <li> <p>Calling <code>UpdateCase</code> with a deleted field ID throws a <code>ValidationException</code> if the case does not already contain a value for the deleted field. Otherwise it succeeds, allowing you to update or remove (using <code>emptyValue: {}</code>) the field's value from the case.</p> </li> <li> <p> <code>GetTemplate</code> does not return field IDs for deleted fields.</p> </li> <li> <p> <code>GetLayout</code> does not return field IDs for deleted fields.</p> </li> <li> <p>Calling <code>SearchCases</code> with the deleted field ID as a filter returns any cases that have a value for the deleted field that matches the filter criteria.</p> </li> <li> <p>Calling <code>SearchCases</code> with a <code>searchTerm</code> value that matches a deleted field's value on a case returns the case in the response.</p> </li> <li> <p>Calling <code>BatchPutFieldOptions</code> with a deleted field ID throw a <code>ValidationException</code>.</p> </li> <li> <p>Calling <code>GetCaseEventConfiguration</code> does not return field IDs for deleted fields.</p> </li> </ul>",
      "idempotent":true
    },
    "DeleteLayout":{
      "name":"DeleteLayout",
      "http":{
        "method":"DELETE",
        "requestUri":"/domains/{domainId}/layouts/{layoutId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteLayoutRequest"},
      "output":{"shape":"DeleteLayoutResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes a layout from a cases template. You can delete up to 100 layouts per domain.</p> <p>After a layout is deleted:</p> <ul> <li> <p>You can still retrieve the layout by calling <code>GetLayout</code>.</p> </li> <li> <p>You cannot update a deleted layout by calling <code>UpdateLayout</code>; it throws a <code>ValidationException</code>.</p> </li> <li> <p>Deleted layouts are not included in the <code>ListLayouts</code> response.</p> </li> </ul>",
      "idempotent":true
    },
    "DeleteRelatedItem":{
      "name":"DeleteRelatedItem",
      "http":{
        "method":"DELETE",
        "requestUri":"/domains/{domainId}/cases/{caseId}/related-items/{relatedItemId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteRelatedItemRequest"},
      "output":{"shape":"DeleteRelatedItemResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes the related item resource under a case.</p> <note> <p>This API cannot be used on a FILE type related attachment. To delete this type of file, use the <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_DeleteAttachedFile.html\">DeleteAttachedFile</a> API</p> </note>",
      "idempotent":true
    },
    "DeleteTemplate":{
      "name":"DeleteTemplate",
      "http":{
        "method":"DELETE",
        "requestUri":"/domains/{domainId}/templates/{templateId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteTemplateRequest"},
      "output":{"shape":"DeleteTemplateResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes a cases template. You can delete up to 100 templates per domain.</p> <p>After a cases template is deleted:</p> <ul> <li> <p>You can still retrieve the template by calling <code>GetTemplate</code>.</p> </li> <li> <p>You cannot update the template. </p> </li> <li> <p>You cannot create a case by using the deleted template.</p> </li> <li> <p>Deleted templates are not included in the <code>ListTemplates</code> response.</p> </li> </ul>",
      "idempotent":true
    },
    "GetCase":{
      "name":"GetCase",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{domainId}/cases/{caseId}",
        "responseCode":200
      },
      "input":{"shape":"GetCaseRequest"},
      "output":{"shape":"GetCaseResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns information about a specific case if it exists. </p>"
    },
    "GetCaseAuditEvents":{
      "name":"GetCaseAuditEvents",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{domainId}/cases/{caseId}/audit-history",
        "responseCode":200
      },
      "input":{"shape":"GetCaseAuditEventsRequest"},
      "output":{"shape":"GetCaseAuditEventsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns the audit history about a specific case if it exists.</p>"
    },
    "GetCaseEventConfiguration":{
      "name":"GetCaseEventConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{domainId}/case-event-configuration",
        "responseCode":200
      },
      "input":{"shape":"GetCaseEventConfigurationRequest"},
      "output":{"shape":"GetCaseEventConfigurationResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns the case event publishing configuration.</p>"
    },
    "GetDomain":{
      "name":"GetDomain",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{domainId}",
        "responseCode":200
      },
      "input":{"shape":"GetDomainRequest"},
      "output":{"shape":"GetDomainResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns information about a specific domain if it exists. </p>"
    },
    "GetLayout":{
      "name":"GetLayout",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{domainId}/layouts/{layoutId}",
        "responseCode":200
      },
      "input":{"shape":"GetLayoutRequest"},
      "output":{"shape":"GetLayoutResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns the details for the requested layout.</p>"
    },
    "GetTemplate":{
      "name":"GetTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{domainId}/templates/{templateId}",
        "responseCode":200
      },
      "input":{"shape":"GetTemplateRequest"},
      "output":{"shape":"GetTemplateResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns the details for the requested template. Other template APIs are: </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_connect-cases_CreateTemplate.html\">CreateTemplate</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_connect-cases_DeleteTemplate.html\">DeleteTemplate</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_connect-cases_ListTemplates.html\">ListTemplates</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_connect-cases_UpdateTemplate.html\">UpdateTemplate</a> </p> </li> </ul>"
    },
    "ListCaseRules":{
      "name":"ListCaseRules",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{domainId}/rules-list/",
        "responseCode":200
      },
      "input":{"shape":"ListCaseRulesRequest"},
      "output":{"shape":"ListCaseRulesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists all case rules in a Cases domain. In the Amazon Connect admin website, case rules are known as <i>case field conditions</i>. For more information about case field conditions, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/case-field-conditions.html\">Add case field conditions to a case template</a>.</p>"
    },
    "ListCasesForContact":{
      "name":"ListCasesForContact",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{domainId}/list-cases-for-contact",
        "responseCode":200
      },
      "input":{"shape":"ListCasesForContactRequest"},
      "output":{"shape":"ListCasesForContactResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists cases for a given contact.</p>"
    },
    "ListDomains":{
      "name":"ListDomains",
      "http":{
        "method":"POST",
        "requestUri":"/domains-list",
        "responseCode":200
      },
      "input":{"shape":"ListDomainsRequest"},
      "output":{"shape":"ListDomainsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists all cases domains in the Amazon Web Services account. Each list item is a condensed summary object of the domain.</p>"
    },
    "ListFieldOptions":{
      "name":"ListFieldOptions",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{domainId}/fields/{fieldId}/options-list",
        "responseCode":200
      },
      "input":{"shape":"ListFieldOptionsRequest"},
      "output":{"shape":"ListFieldOptionsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists all of the field options for a field identifier in the domain. </p>"
    },
    "ListFields":{
      "name":"ListFields",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{domainId}/fields-list",
        "responseCode":200
      },
      "input":{"shape":"ListFieldsRequest"},
      "output":{"shape":"ListFieldsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists all fields in a Cases domain.</p>"
    },
    "ListLayouts":{
      "name":"ListLayouts",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{domainId}/layouts-list",
        "responseCode":200
      },
      "input":{"shape":"ListLayoutsRequest"},
      "output":{"shape":"ListLayoutsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists all layouts in the given cases domain. Each list item is a condensed summary object of the layout.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{arn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists tags for a resource.</p>",
      "idempotent":true
    },
    "ListTemplates":{
      "name":"ListTemplates",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{domainId}/templates-list",
        "responseCode":200
      },
      "input":{"shape":"ListTemplatesRequest"},
      "output":{"shape":"ListTemplatesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists all of the templates in a Cases domain. Each list item is a condensed summary object of the template. </p> <p> Other template APIs are: </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_connect-cases_CreateTemplate.html\">CreateTemplate</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_connect-cases_DeleteTemplate.html\">DeleteTemplate</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_connect-cases_GetTemplate.html\">GetTemplate</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_connect-cases_UpdateTemplate.html\">UpdateTemplate</a> </p> </li> </ul>"
    },
    "PutCaseEventConfiguration":{
      "name":"PutCaseEventConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/domains/{domainId}/case-event-configuration",
        "responseCode":200
      },
      "input":{"shape":"PutCaseEventConfigurationRequest"},
      "output":{"shape":"PutCaseEventConfigurationResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Adds case event publishing configuration. For a complete list of fields you can add to the event message, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/case-fields.html\">Create case fields</a> in the <i>Amazon Connect Administrator Guide</i> </p>"
    },
    "SearchCases":{
      "name":"SearchCases",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{domainId}/cases-search",
        "responseCode":200
      },
      "input":{"shape":"SearchCasesRequest"},
      "output":{"shape":"SearchCasesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Searches for cases within their associated Cases domain. Search results are returned as a paginated list of abridged case documents.</p> <note> <p>For <code>customer_id</code> you must provide the full customer profile ARN in this format: <code> arn:aws:profile:your AWS Region:your AWS account ID:domains/profiles domain name/profiles/profile ID</code>. </p> </note>"
    },
    "SearchRelatedItems":{
      "name":"SearchRelatedItems",
      "http":{
        "method":"POST",
        "requestUri":"/domains/{domainId}/cases/{caseId}/related-items-search",
        "responseCode":200
      },
      "input":{"shape":"SearchRelatedItemsRequest"},
      "output":{"shape":"SearchRelatedItemsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Searches for related items that are associated with a case.</p> <note> <p>If no filters are provided, this returns all related items associated with a case.</p> </note>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{arn}",
        "responseCode":200
      },
      "input":{"shape":"TagResourceRequest"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Adds tags to a resource.</p>",
      "idempotent":true
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{arn}",
        "responseCode":200
      },
      "input":{"shape":"UntagResourceRequest"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Untags a resource.</p>",
      "idempotent":true
    },
    "UpdateCase":{
      "name":"UpdateCase",
      "http":{
        "method":"PUT",
        "requestUri":"/domains/{domainId}/cases/{caseId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateCaseRequest"},
      "output":{"shape":"UpdateCaseResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p><note> <p>If you provide a value for <code>PerformedBy.UserArn</code> you must also have <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_DescribeUser.html\">connect:DescribeUser</a> permission on the User ARN resource that you provide</p> </note> <p>Updates the values of fields on a case. Fields to be updated are received as an array of id/value pairs identical to the <code>CreateCase</code> input .</p> <p>If the action is successful, the service sends back an HTTP 200 response with an empty HTTP body.</p></p>"
    },
    "UpdateCaseRule":{
      "name":"UpdateCaseRule",
      "http":{
        "method":"PUT",
        "requestUri":"/domains/{domainId}/case-rules/{caseRuleId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateCaseRuleRequest"},
      "output":{"shape":"UpdateCaseRuleResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Updates a case rule. In the Amazon Connect admin website, case rules are known as <i>case field conditions</i>. For more information about case field conditions, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/case-field-conditions.html\">Add case field conditions to a case template</a>.</p>",
      "idempotent":true
    },
    "UpdateField":{
      "name":"UpdateField",
      "http":{
        "method":"PUT",
        "requestUri":"/domains/{domainId}/fields/{fieldId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateFieldRequest"},
      "output":{"shape":"UpdateFieldResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Updates the properties of an existing field. </p>",
      "idempotent":true
    },
    "UpdateLayout":{
      "name":"UpdateLayout",
      "http":{
        "method":"PUT",
        "requestUri":"/domains/{domainId}/layouts/{layoutId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateLayoutRequest"},
      "output":{"shape":"UpdateLayoutResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Updates the attributes of an existing layout.</p> <p>If the action is successful, the service sends back an HTTP 200 response with an empty HTTP body.</p> <p>A <code>ValidationException</code> is returned when you add non-existent <code>fieldIds</code> to a layout.</p> <note> <p>Title and Status fields cannot be part of layouts because they are not configurable.</p> </note>",
      "idempotent":true
    },
    "UpdateTemplate":{
      "name":"UpdateTemplate",
      "http":{
        "method":"PUT",
        "requestUri":"/domains/{domainId}/templates/{templateId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateTemplateRequest"},
      "output":{"shape":"UpdateTemplateResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Updates the attributes of an existing template. The template attributes that can be modified include <code>name</code>, <code>description</code>, <code>layoutConfiguration</code>, <code>requiredFields</code>, and <code>status</code>. At least one of these attributes must not be null. If a null value is provided for a given attribute, that attribute is ignored and its current value is preserved.</p> <p>Other template APIs are:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_connect-cases_CreateTemplate.html\">CreateTemplate</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_connect-cases_DeleteTemplate.html\">DeleteTemplate</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_connect-cases_GetTemplate.html\">GetTemplate</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_connect-cases_ListTemplates.html\">ListTemplates</a> </p> </li> </ul>",
      "idempotent":true
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>You do not have sufficient access to perform this action.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "Arn":{
      "type":"string",
      "max":500,
      "min":1
    },
    "AssociationTime":{
      "type":"timestamp",
      "timestampFormat":"iso8601"
    },
    "AuditEvent":{
      "type":"structure",
      "required":[
        "eventId",
        "fields",
        "performedTime",
        "type"
      ],
      "members":{
        "eventId":{
          "shape":"AuditEventId",
          "documentation":"<p>Unique identifier of a case audit history event.</p>"
        },
        "fields":{
          "shape":"AuditEventFieldList",
          "documentation":"<p>A list of Case Audit History event fields.</p>"
        },
        "performedBy":{
          "shape":"AuditEventPerformedBy",
          "documentation":"<p>Information of the user which performed the audit.</p>"
        },
        "performedTime":{
          "shape":"AuditEventDateTime",
          "documentation":"<p>Time at which an Audit History event took place.</p>"
        },
        "relatedItemType":{
          "shape":"RelatedItemType",
          "documentation":"<p>The Type of the related item.</p>"
        },
        "type":{
          "shape":"AuditEventType",
          "documentation":"<p>The Type of an audit history event.</p>"
        }
      },
      "documentation":"<p>Represents the content of a particular audit event.</p>"
    },
    "AuditEventDateTime":{
      "type":"timestamp",
      "timestampFormat":"iso8601"
    },
    "AuditEventField":{
      "type":"structure",
      "required":[
        "eventFieldId",
        "newValue"
      ],
      "members":{
        "eventFieldId":{
          "shape":"AuditEventFieldId",
          "documentation":"<p>Unique identifier of field in an Audit History entry.</p>"
        },
        "newValue":{
          "shape":"AuditEventFieldValueUnion",
          "documentation":"<p>Union of potential field value types.</p>"
        },
        "oldValue":{
          "shape":"AuditEventFieldValueUnion",
          "documentation":"<p>Union of potential field value types.</p>"
        }
      },
      "documentation":"<p>Fields for audit event.</p>"
    },
    "AuditEventFieldId":{
      "type":"string",
      "max":500,
      "min":1
    },
    "AuditEventFieldList":{
      "type":"list",
      "member":{"shape":"AuditEventField"}
    },
    "AuditEventFieldValueUnion":{
      "type":"structure",
      "members":{
        "booleanValue":{
          "shape":"Boolean",
          "documentation":"<p>Can be either null, or have a Boolean value type. Only one value can be provided.</p>"
        },
        "doubleValue":{
          "shape":"Double",
          "documentation":"<p>Can be either null, or have a Double value type. Only one value can be provided.</p>"
        },
        "emptyValue":{"shape":"EmptyFieldValue"},
        "stringValue":{
          "shape":"AuditEventFieldValueUnionStringValueString",
          "documentation":"<p>Can be either null, or have a String value type. Only one value can be provided.</p>"
        },
        "userArnValue":{
          "shape":"String",
          "documentation":"<p>Can be either null, or have a String value type formatted as an ARN. Only one value can be provided.</p>"
        }
      },
      "documentation":"<p>Object to store union of Field values.</p>",
      "union":true
    },
    "AuditEventFieldValueUnionStringValueString":{
      "type":"string",
      "max":500,
      "min":0
    },
    "AuditEventId":{
      "type":"string",
      "max":500,
      "min":1
    },
    "AuditEventPerformedBy":{
      "type":"structure",
      "required":["iamPrincipalArn"],
      "members":{
        "iamPrincipalArn":{
          "shape":"IamPrincipalArn",
          "documentation":"<p>Unique identifier of an IAM role.</p>"
        },
        "user":{"shape":"UserUnion"}
      },
      "documentation":"<p>Information of the user which performed the audit.</p>"
    },
    "AuditEventType":{
      "type":"string",
      "enum":[
        "Case.Created",
        "Case.Updated",
        "RelatedItem.Created"
      ]
    },
    "BasicLayout":{
      "type":"structure",
      "members":{
        "moreInfo":{
          "shape":"LayoutSections",
          "documentation":"<p>This represents sections in a tab of the page layout.</p>"
        },
        "topPanel":{
          "shape":"LayoutSections",
          "documentation":"<p>This represents sections in a panel of the page layout.</p>"
        }
      },
      "documentation":"<p>Content specific to <code>BasicLayout</code> type. It configures fields in the top panel and More Info tab of agent application. </p>"
    },
    "BatchGetCaseRuleRequest":{
      "type":"structure",
      "required":[
        "caseRules",
        "domainId"
      ],
      "members":{
        "caseRules":{
          "shape":"CaseRuleIdentifierList",
          "documentation":"<p>List of case rule identifiers.</p>"
        },
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>Unique identifier of a Cases domain.</p>",
          "location":"uri",
          "locationName":"domainId"
        }
      }
    },
    "BatchGetCaseRuleResponse":{
      "type":"structure",
      "required":[
        "caseRules",
        "errors"
      ],
      "members":{
        "caseRules":{
          "shape":"BatchGetCaseRuleResponseCaseRulesList",
          "documentation":"<p>List of detailed case rule information.</p>"
        },
        "errors":{
          "shape":"BatchGetCaseRuleResponseErrorsList",
          "documentation":"<p>List of case rule errors.</p>"
        }
      }
    },
    "BatchGetCaseRuleResponseCaseRulesList":{
      "type":"list",
      "member":{"shape":"GetCaseRuleResponse"},
      "max":50,
      "min":0
    },
    "BatchGetCaseRuleResponseErrorsList":{
      "type":"list",
      "member":{"shape":"CaseRuleError"},
      "max":50,
      "min":0
    },
    "BatchGetFieldIdentifierList":{
      "type":"list",
      "member":{"shape":"FieldIdentifier"},
      "max":50,
      "min":1
    },
    "BatchGetFieldRequest":{
      "type":"structure",
      "required":[
        "domainId",
        "fields"
      ],
      "members":{
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The unique identifier of the Cases domain. </p>",
          "location":"uri",
          "locationName":"domainId"
        },
        "fields":{
          "shape":"BatchGetFieldIdentifierList",
          "documentation":"<p>A list of unique field identifiers. </p>"
        }
      }
    },
    "BatchGetFieldResponse":{
      "type":"structure",
      "required":[
        "errors",
        "fields"
      ],
      "members":{
        "errors":{
          "shape":"BatchGetFieldResponseErrorsList",
          "documentation":"<p>A list of field errors. </p>"
        },
        "fields":{
          "shape":"BatchGetFieldResponseFieldsList",
          "documentation":"<p>A list of detailed field information. </p>"
        }
      }
    },
    "BatchGetFieldResponseErrorsList":{
      "type":"list",
      "member":{"shape":"FieldError"},
      "max":50,
      "min":0
    },
    "BatchGetFieldResponseFieldsList":{
      "type":"list",
      "member":{"shape":"GetFieldResponse"},
      "max":50,
      "min":0
    },
    "BatchPutFieldOptionsRequest":{
      "type":"structure",
      "required":[
        "domainId",
        "fieldId",
        "options"
      ],
      "members":{
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The unique identifier of the Cases domain. </p>",
          "location":"uri",
          "locationName":"domainId"
        },
        "fieldId":{
          "shape":"FieldId",
          "documentation":"<p>The unique identifier of a field.</p>",
          "location":"uri",
          "locationName":"fieldId"
        },
        "options":{
          "shape":"BatchPutFieldOptionsRequestOptionsList",
          "documentation":"<p>A list of <code>FieldOption</code> objects.</p>"
        }
      }
    },
    "BatchPutFieldOptionsRequestOptionsList":{
      "type":"list",
      "member":{"shape":"FieldOption"},
      "max":50,
      "min":0
    },
    "BatchPutFieldOptionsResponse":{
      "type":"structure",
      "members":{
        "errors":{
          "shape":"BatchPutFieldOptionsResponseErrorsList",
          "documentation":"<p>A list of field errors. </p>"
        }
      }
    },
    "BatchPutFieldOptionsResponseErrorsList":{
      "type":"list",
      "member":{"shape":"FieldOptionError"},
      "max":50,
      "min":0
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "BooleanCondition":{
      "type":"structure",
      "members":{
        "equalTo":{
          "shape":"BooleanOperands",
          "documentation":"<p>Tests that operandOne is equal to operandTwo.</p>"
        },
        "notEqualTo":{
          "shape":"BooleanOperands",
          "documentation":"<p>Tests that operandOne is not equal to operandTwo.</p>"
        }
      },
      "documentation":"<p>Boolean condition for a rule. In the Amazon Connect admin website, case rules are known as <i>case field conditions</i>. For more information about case field conditions, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/case-field-conditions.html\">Add case field conditions to a case template</a>.</p>",
      "union":true
    },
    "BooleanConditionList":{
      "type":"list",
      "member":{"shape":"BooleanCondition"},
      "max":100,
      "min":0
    },
    "BooleanOperands":{
      "type":"structure",
      "required":[
        "operandOne",
        "operandTwo",
        "result"
      ],
      "members":{
        "operandOne":{
          "shape":"OperandOne",
          "documentation":"<p>Represents the left hand operand in the condition.</p>"
        },
        "operandTwo":{
          "shape":"OperandTwo",
          "documentation":"<p>Represents the right hand operand in the condition.</p>"
        },
        "result":{
          "shape":"Boolean",
          "documentation":"<p>The value of the outer rule if the condition evaluates to true.</p>"
        }
      },
      "documentation":"<p>Boolean operands for a condition. In the Amazon Connect admin website, case rules are known as <i>case field conditions</i>. For more information about case field conditions, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/case-field-conditions.html\">Add case field conditions to a case template</a>.</p>"
    },
    "CaseArn":{
      "type":"string",
      "max":500,
      "min":1
    },
    "CaseEventIncludedData":{
      "type":"structure",
      "required":["fields"],
      "members":{
        "fields":{
          "shape":"CaseEventIncludedDataFieldsList",
          "documentation":"<p>List of field identifiers.</p>"
        }
      },
      "documentation":"<p>Details of what case data is published through the case event stream.</p>"
    },
    "CaseEventIncludedDataFieldsList":{
      "type":"list",
      "member":{"shape":"FieldIdentifier"},
      "max":200,
      "min":0
    },
    "CaseFilter":{
      "type":"structure",
      "members":{
        "andAll":{
          "shape":"CaseFilterAndAllList",
          "documentation":"<p>Provides \"and all\" filtering.</p>"
        },
        "field":{
          "shape":"FieldFilter",
          "documentation":"<p>A list of fields to filter on.</p>"
        },
        "not":{"shape":"CaseFilter"},
        "orAll":{
          "shape":"CaseFilterOrAllList",
          "documentation":"<p>Provides \"or all\" filtering.</p>"
        }
      },
      "documentation":"<p>A filter for cases. Only one value can be provided.</p>",
      "union":true
    },
    "CaseFilterAndAllList":{
      "type":"list",
      "member":{"shape":"CaseFilter"},
      "max":10,
      "min":0
    },
    "CaseFilterOrAllList":{
      "type":"list",
      "member":{"shape":"CaseFilter"},
      "max":10,
      "min":0
    },
    "CaseId":{
      "type":"string",
      "max":500,
      "min":1
    },
    "CaseRuleArn":{
      "type":"string",
      "max":500,
      "min":1
    },
    "CaseRuleDescription":{
      "type":"string",
      "max":255,
      "min":0
    },
    "CaseRuleDetails":{
      "type":"structure",
      "members":{
        "required":{
          "shape":"RequiredCaseRule",
          "documentation":"<p>Required rule type, used to indicate whether a field is required.</p>"
        }
      },
      "documentation":"<p>Represents what rule type should take place, under what conditions. In the Amazon Connect admin website, case rules are known as <i>case field conditions</i>. For more information about case field conditions, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/case-field-conditions.html\">Add case field conditions to a case template</a>.</p>",
      "union":true
    },
    "CaseRuleError":{
      "type":"structure",
      "required":[
        "errorCode",
        "id"
      ],
      "members":{
        "errorCode":{
          "shape":"String",
          "documentation":"<p>Error code from getting a case rule.</p>"
        },
        "id":{
          "shape":"CaseRuleId",
          "documentation":"<p>The case rule identifier that caused the error.</p>"
        },
        "message":{
          "shape":"String",
          "documentation":"<p>Error message from getting a case rule.</p>"
        }
      },
      "documentation":"<p>Error for batch describe case rules API failure. In the Amazon Connect admin website, case rules are known as <i>case field conditions</i>. For more information about case field conditions, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/case-field-conditions.html\">Add case field conditions to a case template</a>.</p>"
    },
    "CaseRuleId":{
      "type":"string",
      "max":500,
      "min":1
    },
    "CaseRuleIdentifier":{
      "type":"structure",
      "required":["id"],
      "members":{
        "id":{
          "shape":"CaseRuleId",
          "documentation":"<p>Unique identifier of a case rule.</p>"
        }
      },
      "documentation":"<p>Object containing case rule identifier information.</p>"
    },
    "CaseRuleIdentifierList":{
      "type":"list",
      "member":{"shape":"CaseRuleIdentifier"},
      "max":50,
      "min":1
    },
    "CaseRuleName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^.*[\\S]$"
    },
    "CaseRuleSummary":{
      "type":"structure",
      "required":[
        "caseRuleArn",
        "caseRuleId",
        "name",
        "ruleType"
      ],
      "members":{
        "caseRuleArn":{
          "shape":"CaseRuleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the case rule. </p>"
        },
        "caseRuleId":{
          "shape":"CaseRuleId",
          "documentation":"<p>Unique identifier of a case rule.</p>"
        },
        "description":{
          "shape":"CaseRuleDescription",
          "documentation":"<p>Description of a case rule.</p>"
        },
        "name":{
          "shape":"CaseRuleName",
          "documentation":"<p>Name of the case rule.</p>"
        },
        "ruleType":{
          "shape":"RuleType",
          "documentation":"<p>Possible types for a rule.</p>"
        }
      },
      "documentation":"<p>Summary information of this case rule. In the Amazon Connect admin website, case rules are known as <i>case field conditions</i>. For more information about case field conditions, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/case-field-conditions.html\">Add case field conditions to a case template</a>.</p>"
    },
    "CaseSummary":{
      "type":"structure",
      "required":[
        "caseId",
        "templateId"
      ],
      "members":{
        "caseId":{
          "shape":"CaseId",
          "documentation":"<p>A unique identifier of the case.</p>"
        },
        "templateId":{
          "shape":"TemplateId",
          "documentation":"<p>A unique identifier of a template.</p>"
        }
      },
      "documentation":"<p>Case summary information.</p>"
    },
    "Channel":{
      "type":"string",
      "max":100,
      "min":1
    },
    "CommentBody":{
      "type":"string",
      "max":15000,
      "min":1
    },
    "CommentBodyTextType":{
      "type":"string",
      "enum":["Text/Plain"]
    },
    "CommentContent":{
      "type":"structure",
      "required":[
        "body",
        "contentType"
      ],
      "members":{
        "body":{
          "shape":"CommentBody",
          "documentation":"<p>Text in the body of a <code>Comment</code> on a case.</p>"
        },
        "contentType":{
          "shape":"CommentBodyTextType",
          "documentation":"<p>Type of the text in the box of a <code>Comment</code> on a case.</p>"
        }
      },
      "documentation":"<p>Represents the content of a <code>Comment</code> to be returned to agents.</p>"
    },
    "CommentFilter":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>A filter for related items of type <code>Comment</code>.</p>"
    },
    "ConflictException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request. See the accompanying error message for details.</p>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "ConnectedToSystemTime":{
      "type":"timestamp",
      "timestampFormat":"iso8601"
    },
    "Contact":{
      "type":"structure",
      "required":["contactArn"],
      "members":{
        "contactArn":{
          "shape":"ContactArn",
          "documentation":"<p>A unique identifier of a contact in Amazon Connect.</p>"
        }
      },
      "documentation":"<p>An object that represents an Amazon Connect contact object. </p>"
    },
    "ContactArn":{
      "type":"string",
      "max":500,
      "min":1
    },
    "ContactContent":{
      "type":"structure",
      "required":[
        "channel",
        "connectedToSystemTime",
        "contactArn"
      ],
      "members":{
        "channel":{
          "shape":"Channel",
          "documentation":"<p>A list of channels to filter on for related items of type <code>Contact</code>.</p>"
        },
        "connectedToSystemTime":{
          "shape":"ConnectedToSystemTime",
          "documentation":"<p>The difference between the <code>InitiationTimestamp</code> and the <code>DisconnectTimestamp</code> of the contact.</p>"
        },
        "contactArn":{
          "shape":"ContactArn",
          "documentation":"<p>A unique identifier of a contact in Amazon Connect.</p>"
        }
      },
      "documentation":"<p>An object that represents a content of an Amazon Connect contact object.</p>"
    },
    "ContactFilter":{
      "type":"structure",
      "members":{
        "channel":{
          "shape":"ContactFilterChannelList",
          "documentation":"<p>A list of channels to filter on for related items of type <code>Contact</code>.</p>"
        },
        "contactArn":{
          "shape":"ContactArn",
          "documentation":"<p>A unique identifier of a contact in Amazon Connect.</p>"
        }
      },
      "documentation":"<p>A filter for related items of type <code>Contact</code>.</p>"
    },
    "ContactFilterChannelList":{
      "type":"list",
      "member":{"shape":"Channel"},
      "max":3,
      "min":0
    },
    "CreateCaseRequest":{
      "type":"structure",
      "required":[
        "domainId",
        "fields",
        "templateId"
      ],
      "members":{
        "clientToken":{
          "shape":"CreateCaseRequestClientTokenString",
          "documentation":"<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request. If not provided, the Amazon Web Services SDK populates this field. For more information about idempotency, see <a href=\"https://aws.amazon.com/builders-library/making-retries-safe-with-idempotent-APIs/\">Making retries safe with idempotent APIs</a>.</p>",
          "idempotencyToken":true
        },
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The unique identifier of the Cases domain. </p>",
          "location":"uri",
          "locationName":"domainId"
        },
        "fields":{
          "shape":"CreateCaseRequestFieldsList",
          "documentation":"<p>An array of objects with field ID (matching ListFields/DescribeField) and value union data.</p>"
        },
        "performedBy":{"shape":"UserUnion"},
        "templateId":{
          "shape":"TemplateId",
          "documentation":"<p>A unique identifier of a template.</p>"
        }
      }
    },
    "CreateCaseRequestClientTokenString":{
      "type":"string",
      "max":64,
      "min":0
    },
    "CreateCaseRequestFieldsList":{
      "type":"list",
      "member":{"shape":"FieldValue"},
      "max":100,
      "min":0
    },
    "CreateCaseResponse":{
      "type":"structure",
      "required":[
        "caseArn",
        "caseId"
      ],
      "members":{
        "caseArn":{
          "shape":"CaseArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the case.</p>"
        },
        "caseId":{
          "shape":"CaseId",
          "documentation":"<p>A unique identifier of the case.</p>"
        }
      }
    },
    "CreateCaseRuleRequest":{
      "type":"structure",
      "required":[
        "domainId",
        "name",
        "rule"
      ],
      "members":{
        "description":{
          "shape":"CaseRuleDescription",
          "documentation":"<p>The description of a case rule.</p>"
        },
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>Unique identifier of a Cases domain.</p>",
          "location":"uri",
          "locationName":"domainId"
        },
        "name":{
          "shape":"CaseRuleName",
          "documentation":"<p>Name of the case rule.</p>"
        },
        "rule":{
          "shape":"CaseRuleDetails",
          "documentation":"<p>Represents what rule type should take place, under what conditions.</p>"
        }
      }
    },
    "CreateCaseRuleResponse":{
      "type":"structure",
      "required":[
        "caseRuleArn",
        "caseRuleId"
      ],
      "members":{
        "caseRuleArn":{
          "shape":"CaseRuleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of a case rule.</p>"
        },
        "caseRuleId":{
          "shape":"CaseRuleId",
          "documentation":"<p>Unique identifier of a case rule.</p>"
        }
      }
    },
    "CreateDomainRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"DomainName",
          "documentation":"<p>The name for your Cases domain. It must be unique for your Amazon Web Services account.</p>"
        }
      }
    },
    "CreateDomainResponse":{
      "type":"structure",
      "required":[
        "domainArn",
        "domainId",
        "domainStatus"
      ],
      "members":{
        "domainArn":{
          "shape":"DomainArn",
          "documentation":"<p>The Amazon Resource Name (ARN) for the Cases domain.</p>"
        },
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The unique identifier of the Cases domain. </p>"
        },
        "domainStatus":{
          "shape":"DomainStatus",
          "documentation":"<p>The status of the domain.</p>"
        }
      }
    },
    "CreateFieldRequest":{
      "type":"structure",
      "required":[
        "domainId",
        "name",
        "type"
      ],
      "members":{
        "description":{
          "shape":"FieldDescription",
          "documentation":"<p>The description of the field.</p>"
        },
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The unique identifier of the Cases domain. </p>",
          "location":"uri",
          "locationName":"domainId"
        },
        "name":{
          "shape":"FieldName",
          "documentation":"<p>The name of the field.</p>"
        },
        "type":{
          "shape":"FieldType",
          "documentation":"<p>Defines the data type, some system constraints, and default display of the field.</p>"
        }
      }
    },
    "CreateFieldResponse":{
      "type":"structure",
      "required":[
        "fieldArn",
        "fieldId"
      ],
      "members":{
        "fieldArn":{
          "shape":"FieldArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the field.</p>"
        },
        "fieldId":{
          "shape":"FieldId",
          "documentation":"<p>The unique identifier of a field.</p>"
        }
      }
    },
    "CreateLayoutRequest":{
      "type":"structure",
      "required":[
        "content",
        "domainId",
        "name"
      ],
      "members":{
        "content":{
          "shape":"LayoutContent",
          "documentation":"<p>Information about which fields will be present in the layout, and information about the order of the fields.</p>"
        },
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The unique identifier of the Cases domain. </p>",
          "location":"uri",
          "locationName":"domainId"
        },
        "name":{
          "shape":"LayoutName",
          "documentation":"<p>The name of the layout. It must be unique for the Cases domain.</p>"
        }
      }
    },
    "CreateLayoutResponse":{
      "type":"structure",
      "required":[
        "layoutArn",
        "layoutId"
      ],
      "members":{
        "layoutArn":{
          "shape":"LayoutArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the newly created layout.</p>"
        },
        "layoutId":{
          "shape":"LayoutId",
          "documentation":"<p>The unique identifier of the layout.</p>"
        }
      }
    },
    "CreateRelatedItemRequest":{
      "type":"structure",
      "required":[
        "caseId",
        "content",
        "domainId",
        "type"
      ],
      "members":{
        "caseId":{
          "shape":"CaseId",
          "documentation":"<p>A unique identifier of the case.</p>",
          "location":"uri",
          "locationName":"caseId"
        },
        "content":{
          "shape":"RelatedItemInputContent",
          "documentation":"<p>The content of a related item to be created.</p>"
        },
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The unique identifier of the Cases domain. </p>",
          "location":"uri",
          "locationName":"domainId"
        },
        "performedBy":{
          "shape":"UserUnion",
          "documentation":"<p>Represents the creator of the related item.</p>"
        },
        "type":{
          "shape":"RelatedItemType",
          "documentation":"<p>The type of a related item.</p>"
        }
      }
    },
    "CreateRelatedItemResponse":{
      "type":"structure",
      "required":[
        "relatedItemArn",
        "relatedItemId"
      ],
      "members":{
        "relatedItemArn":{
          "shape":"RelatedItemArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the related item.</p>"
        },
        "relatedItemId":{
          "shape":"RelatedItemId",
          "documentation":"<p>The unique identifier of the related item.</p>"
        }
      }
    },
    "CreateTemplateRequest":{
      "type":"structure",
      "required":[
        "domainId",
        "name"
      ],
      "members":{
        "description":{
          "shape":"TemplateDescription",
          "documentation":"<p>A brief description of the template.</p>"
        },
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The unique identifier of the Cases domain. </p>",
          "location":"uri",
          "locationName":"domainId"
        },
        "layoutConfiguration":{
          "shape":"LayoutConfiguration",
          "documentation":"<p>Configuration of layouts associated to the template.</p>"
        },
        "name":{
          "shape":"TemplateName",
          "documentation":"<p>A name for the template. It must be unique per domain.</p>"
        },
        "requiredFields":{
          "shape":"RequiredFieldList",
          "documentation":"<p>A list of fields that must contain a value for a case to be successfully created with this template.</p>"
        },
        "rules":{
          "shape":"TemplateCaseRuleList",
          "documentation":"<p>A list of case rules (also known as <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/case-field-conditions.html\">case field conditions</a>) on a template. </p>"
        },
        "status":{
          "shape":"TemplateStatus",
          "documentation":"<p>The status of the template.</p>"
        }
      }
    },
    "CreateTemplateResponse":{
      "type":"structure",
      "required":[
        "templateArn",
        "templateId"
      ],
      "members":{
        "templateArn":{
          "shape":"TemplateArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the newly created template.</p>"
        },
        "templateId":{
          "shape":"TemplateId",
          "documentation":"<p>A unique identifier of a template.</p>"
        }
      }
    },
    "CreatedTime":{
      "type":"timestamp",
      "timestampFormat":"iso8601"
    },
    "CustomEntity":{
      "type":"string",
      "max":500,
      "min":1,
      "pattern":"^[a-zA-Z0-9_\\-\\.@:/ ]*[a-zA-Z0-9_\\-\\.@:/]$",
      "sensitive":true
    },
    "DeleteCaseRequest":{
      "type":"structure",
      "required":[
        "caseId",
        "domainId"
      ],
      "members":{
        "caseId":{
          "shape":"CaseId",
          "documentation":"<p>A unique identifier of the case.</p>",
          "location":"uri",
          "locationName":"caseId"
        },
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>A unique identifier of the Cases domain.</p>",
          "location":"uri",
          "locationName":"domainId"
        }
      }
    },
    "DeleteCaseResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteCaseRuleRequest":{
      "type":"structure",
      "required":[
        "caseRuleId",
        "domainId"
      ],
      "members":{
        "caseRuleId":{
          "shape":"CaseRuleId",
          "documentation":"<p>Unique identifier of a case rule.</p>",
          "location":"uri",
          "locationName":"caseRuleId"
        },
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>Unique identifier of a Cases domain.</p>",
          "location":"uri",
          "locationName":"domainId"
        }
      }
    },
    "DeleteCaseRuleResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteDomainRequest":{
      "type":"structure",
      "required":["domainId"],
      "members":{
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The unique identifier of the Cases domain. </p>",
          "location":"uri",
          "locationName":"domainId"
        }
      }
    },
    "DeleteDomainResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteFieldRequest":{
      "type":"structure",
      "required":[
        "domainId",
        "fieldId"
      ],
      "members":{
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The unique identifier of the Cases domain.</p>",
          "location":"uri",
          "locationName":"domainId"
        },
        "fieldId":{
          "shape":"FieldId",
          "documentation":"<p>Unique identifier of the field.</p>",
          "location":"uri",
          "locationName":"fieldId"
        }
      }
    },
    "DeleteFieldResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteLayoutRequest":{
      "type":"structure",
      "required":[
        "domainId",
        "layoutId"
      ],
      "members":{
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The unique identifier of the Cases domain.</p>",
          "location":"uri",
          "locationName":"domainId"
        },
        "layoutId":{
          "shape":"LayoutId",
          "documentation":"<p>The unique identifier of the layout.</p>",
          "location":"uri",
          "locationName":"layoutId"
        }
      }
    },
    "DeleteLayoutResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteRelatedItemRequest":{
      "type":"structure",
      "required":[
        "caseId",
        "domainId",
        "relatedItemId"
      ],
      "members":{
        "caseId":{
          "shape":"CaseId",
          "documentation":"<p>A unique identifier of the case.</p>",
          "location":"uri",
          "locationName":"caseId"
        },
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>A unique identifier of the Cases domain.</p>",
          "location":"uri",
          "locationName":"domainId"
        },
        "relatedItemId":{
          "shape":"RelatedItemId",
          "documentation":"<p>A unique identifier of a related item.</p>",
          "location":"uri",
          "locationName":"relatedItemId"
        }
      }
    },
    "DeleteRelatedItemResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DeleteTemplateRequest":{
      "type":"structure",
      "required":[
        "domainId",
        "templateId"
      ],
      "members":{
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The unique identifier of the Cases domain.</p>",
          "location":"uri",
          "locationName":"domainId"
        },
        "templateId":{
          "shape":"TemplateId",
          "documentation":"<p>A unique identifier of a template.</p>",
          "location":"uri",
          "locationName":"templateId"
        }
      }
    },
    "DeleteTemplateResponse":{
      "type":"structure",
      "members":{
      }
    },
    "Deleted":{"type":"boolean"},
    "DomainArn":{
      "type":"string",
      "max":500,
      "min":1
    },
    "DomainId":{
      "type":"string",
      "max":500,
      "min":1
    },
    "DomainName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^.*[\\S]$"
    },
    "DomainStatus":{
      "type":"string",
      "enum":[
        "Active",
        "CreationInProgress",
        "CreationFailed"
      ]
    },
    "DomainSummary":{
      "type":"structure",
      "required":[
        "domainArn",
        "domainId",
        "name"
      ],
      "members":{
        "domainArn":{
          "shape":"DomainArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the domain.</p>"
        },
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The unique identifier of the domain.</p>"
        },
        "name":{
          "shape":"DomainName",
          "documentation":"<p>The name of the domain.</p>"
        }
      },
      "documentation":"<p>Object for the summarized details of the domain.</p>"
    },
    "DomainSummaryList":{
      "type":"list",
      "member":{"shape":"DomainSummary"}
    },
    "Double":{
      "type":"double",
      "box":true
    },
    "EmptyFieldValue":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>An empty value. You cannot set <code>EmptyFieldValue</code> on a field that is required on a case template.</p> <p>This structure will never have any data members. It signifies an empty value on a case field.</p>"
    },
    "EmptyOperandValue":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Represents an empty operand value. In the Amazon Connect admin website, case rules are known as <i>case field conditions</i>. For more information about case field conditions, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/case-field-conditions.html\">Add case field conditions to a case template</a>.</p>"
    },
    "EventBridgeConfiguration":{
      "type":"structure",
      "required":["enabled"],
      "members":{
        "enabled":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the to broadcast case event data to the customer.</p>"
        },
        "includedData":{
          "shape":"EventIncludedData",
          "documentation":"<p>Details of what case and related item data is published through the case event stream.</p>"
        }
      },
      "documentation":"<p>Configuration to enable EventBridge case event delivery and determine what data is delivered.</p>"
    },
    "EventIncludedData":{
      "type":"structure",
      "members":{
        "caseData":{
          "shape":"CaseEventIncludedData",
          "documentation":"<p>Details of what case data is published through the case event stream.</p>"
        },
        "relatedItemData":{
          "shape":"RelatedItemEventIncludedData",
          "documentation":"<p>Details of what related item data is published through the case event stream.</p>"
        }
      },
      "documentation":"<p>Details of what case and related item data is published through the case event stream.</p>"
    },
    "FieldArn":{
      "type":"string",
      "max":500,
      "min":1
    },
    "FieldDescription":{
      "type":"string",
      "max":255,
      "min":0
    },
    "FieldError":{
      "type":"structure",
      "required":[
        "errorCode",
        "id"
      ],
      "members":{
        "errorCode":{
          "shape":"String",
          "documentation":"<p>The error code from getting a field.</p>"
        },
        "id":{
          "shape":"FieldId",
          "documentation":"<p>The field identifier that caused the error.</p>"
        },
        "message":{
          "shape":"String",
          "documentation":"<p>The error message from getting a field.</p>"
        }
      },
      "documentation":"<p>Object for errors on fields.</p>"
    },
    "FieldFilter":{
      "type":"structure",
      "members":{
        "contains":{
          "shape":"FieldValue",
          "documentation":"<p>Object containing field identifier and value information.</p>"
        },
        "equalTo":{
          "shape":"FieldValue",
          "documentation":"<p>Object containing field identifier and value information.</p>"
        },
        "greaterThan":{
          "shape":"FieldValue",
          "documentation":"<p>Object containing field identifier and value information.</p>"
        },
        "greaterThanOrEqualTo":{
          "shape":"FieldValue",
          "documentation":"<p>Object containing field identifier and value information.</p>"
        },
        "lessThan":{
          "shape":"FieldValue",
          "documentation":"<p>Object containing field identifier and value information.</p>"
        },
        "lessThanOrEqualTo":{
          "shape":"FieldValue",
          "documentation":"<p>Object containing field identifier and value information. </p>"
        }
      },
      "documentation":"<p>A filter for fields. Only one value can be provided.</p>",
      "union":true
    },
    "FieldGroup":{
      "type":"structure",
      "required":["fields"],
      "members":{
        "fields":{
          "shape":"FieldGroupFieldsList",
          "documentation":"<p>Represents an ordered list containing field related information.</p>"
        },
        "name":{
          "shape":"FieldGroupNameString",
          "documentation":"<p>Name of the field group.</p>"
        }
      },
      "documentation":"<p>Object for a group of fields and associated properties.</p>"
    },
    "FieldGroupFieldsList":{
      "type":"list",
      "member":{"shape":"FieldItem"},
      "max":100,
      "min":0
    },
    "FieldGroupNameString":{
      "type":"string",
      "max":100,
      "min":0
    },
    "FieldId":{
      "type":"string",
      "max":500,
      "min":1
    },
    "FieldIdentifier":{
      "type":"structure",
      "required":["id"],
      "members":{
        "id":{
          "shape":"FieldId",
          "documentation":"<p>Unique identifier of a field.</p>"
        }
      },
      "documentation":"<p>Object for unique identifier of a field.</p>"
    },
    "FieldItem":{
      "type":"structure",
      "required":["id"],
      "members":{
        "id":{
          "shape":"FieldId",
          "documentation":"<p>Unique identifier of a field.</p>"
        }
      },
      "documentation":"<p>Object for field related information.</p>"
    },
    "FieldName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^.*[\\S]$"
    },
    "FieldNamespace":{
      "type":"string",
      "enum":[
        "System",
        "Custom"
      ]
    },
    "FieldOption":{
      "type":"structure",
      "required":[
        "active",
        "name",
        "value"
      ],
      "members":{
        "active":{
          "shape":"Boolean",
          "documentation":"<p>Describes whether the <code>FieldOption</code> is active (displayed) or inactive.</p>"
        },
        "name":{
          "shape":"FieldOptionName",
          "documentation":"<p> <code>FieldOptionName</code> has max length 100 and disallows trailing spaces.</p>"
        },
        "value":{
          "shape":"FieldOptionValue",
          "documentation":"<p> <code>FieldOptionValue</code> has max length 100 and must be alphanumeric with hyphens and underscores.</p>"
        }
      },
      "documentation":"<p>Object for field Options information.</p>"
    },
    "FieldOptionError":{
      "type":"structure",
      "required":[
        "errorCode",
        "message",
        "value"
      ],
      "members":{
        "errorCode":{
          "shape":"String",
          "documentation":"<p>Error code from creating or updating field option.</p>"
        },
        "message":{
          "shape":"String",
          "documentation":"<p>Error message from creating or updating field option.</p>"
        },
        "value":{
          "shape":"FieldOptionValue",
          "documentation":"<p>The field option value that caused the error.</p>"
        }
      },
      "documentation":"<p>Object for field Options errors.</p>"
    },
    "FieldOptionName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^.*[\\S]$"
    },
    "FieldOptionValue":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^.*[\\S]$"
    },
    "FieldOptionsList":{
      "type":"list",
      "member":{"shape":"FieldOption"}
    },
    "FieldSummary":{
      "type":"structure",
      "required":[
        "fieldArn",
        "fieldId",
        "name",
        "namespace",
        "type"
      ],
      "members":{
        "fieldArn":{
          "shape":"FieldArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the field.</p>"
        },
        "fieldId":{
          "shape":"FieldId",
          "documentation":"<p>The unique identifier of a field.</p>"
        },
        "name":{
          "shape":"FieldName",
          "documentation":"<p>Name of the field.</p>"
        },
        "namespace":{
          "shape":"FieldNamespace",
          "documentation":"<p>The namespace of a field.</p>"
        },
        "type":{
          "shape":"FieldType",
          "documentation":"<p>The type of a field.</p>"
        }
      },
      "documentation":"<p>Object for the summarized details of the field.</p>"
    },
    "FieldType":{
      "type":"string",
      "enum":[
        "Text",
        "Number",
        "Boolean",
        "DateTime",
        "SingleSelect",
        "Url",
        "User"
      ]
    },
    "FieldValue":{
      "type":"structure",
      "required":[
        "id",
        "value"
      ],
      "members":{
        "id":{
          "shape":"FieldId",
          "documentation":"<p>Unique identifier of a field.</p>"
        },
        "value":{
          "shape":"FieldValueUnion",
          "documentation":"<p>Union of potential field value types.</p>"
        }
      },
      "documentation":"<p>Object for case field values.</p>"
    },
    "FieldValueUnion":{
      "type":"structure",
      "members":{
        "booleanValue":{
          "shape":"Boolean",
          "documentation":"<p>Can be either null, or have a Boolean value type. Only one value can be provided.</p>"
        },
        "doubleValue":{
          "shape":"Double",
          "documentation":"<p>Can be either null, or have a Double number value type. Only one value can be provided.</p>"
        },
        "emptyValue":{
          "shape":"EmptyFieldValue",
          "documentation":"<p>An empty value.</p>"
        },
        "stringValue":{
          "shape":"FieldValueUnionStringValueString",
          "documentation":"<p>String value type.</p>"
        },
        "userArnValue":{
          "shape":"String",
          "documentation":"<p>Represents the user that performed the audit.</p>"
        }
      },
      "documentation":"<p>Object to store union of Field values.</p> <note> <p>The <code>Summary</code> system field accepts 3000 characters while all other fields accept 500 characters.</p> </note>",
      "union":true
    },
    "FieldValueUnionStringValueString":{
      "type":"string",
      "max":3000,
      "min":0
    },
    "FileArn":{
      "type":"string",
      "max":500,
      "min":1
    },
    "FileContent":{
      "type":"structure",
      "required":["fileArn"],
      "members":{
        "fileArn":{
          "shape":"FileArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of a File in Amazon Connect.</p>"
        }
      },
      "documentation":"<p>An object that represents a content of an Amazon Connect file object.</p>"
    },
    "FileFilter":{
      "type":"structure",
      "members":{
        "fileArn":{
          "shape":"FileArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the file.</p>"
        }
      },
      "documentation":"<p>A filter for related items of type <code>File</code>.</p>"
    },
    "GetCaseAuditEventsRequest":{
      "type":"structure",
      "required":[
        "caseId",
        "domainId"
      ],
      "members":{
        "caseId":{
          "shape":"CaseId",
          "documentation":"<p>A unique identifier of the case.</p>",
          "location":"uri",
          "locationName":"caseId"
        },
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The unique identifier of the Cases domain.</p>",
          "location":"uri",
          "locationName":"domainId"
        },
        "maxResults":{
          "shape":"GetCaseAuditEventsRequestMaxResultsInteger",
          "documentation":"<p>The maximum number of audit events to return. The current maximum supported value is 25. This is also the default when no other value is provided.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token for the next set of results. Use the value returned in the previous response in the next request to retrieve the next set of results.</p>"
        }
      }
    },
    "GetCaseAuditEventsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":25,
      "min":1
    },
    "GetCaseAuditEventsResponse":{
      "type":"structure",
      "required":["auditEvents"],
      "members":{
        "auditEvents":{
          "shape":"GetCaseAuditEventsResponseAuditEventsList",
          "documentation":"<p>A list of case audits where each represents a particular edit of the case.</p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token for the next set of results. This is null if there are no more results to return.</p>"
        }
      }
    },
    "GetCaseAuditEventsResponseAuditEventsList":{
      "type":"list",
      "member":{"shape":"AuditEvent"},
      "max":25,
      "min":0
    },
    "GetCaseEventConfigurationRequest":{
      "type":"structure",
      "required":["domainId"],
      "members":{
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The unique identifier of the Cases domain. </p>",
          "location":"uri",
          "locationName":"domainId"
        }
      }
    },
    "GetCaseEventConfigurationResponse":{
      "type":"structure",
      "required":["eventBridge"],
      "members":{
        "eventBridge":{
          "shape":"EventBridgeConfiguration",
          "documentation":"<p>Configuration to enable EventBridge case event delivery and determine what data is delivered.</p>"
        }
      }
    },
    "GetCaseRequest":{
      "type":"structure",
      "required":[
        "caseId",
        "domainId",
        "fields"
      ],
      "members":{
        "caseId":{
          "shape":"CaseId",
          "documentation":"<p>A unique identifier of the case.</p>",
          "location":"uri",
          "locationName":"caseId"
        },
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The unique identifier of the Cases domain. </p>",
          "location":"uri",
          "locationName":"domainId"
        },
        "fields":{
          "shape":"GetCaseRequestFieldsList",
          "documentation":"<p>A list of unique field identifiers. </p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token for the next set of results. Use the value returned in the previous response in the next request to retrieve the next set of results.</p>"
        }
      }
    },
    "GetCaseRequestFieldsList":{
      "type":"list",
      "member":{"shape":"FieldIdentifier"},
      "max":100,
      "min":1
    },
    "GetCaseResponse":{
      "type":"structure",
      "required":[
        "fields",
        "templateId"
      ],
      "members":{
        "fields":{
          "shape":"GetCaseResponseFieldsList",
          "documentation":"<p>A list of detailed field information. </p>"
        },
        "nextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token for the next set of results. This is null if there are no more results to return.</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>A map of of key-value pairs that represent tags on a resource. Tags are used to organize, track, or control access for this resource.</p>"
        },
        "templateId":{
          "shape":"TemplateId",
          "documentation":"<p>A unique identifier of a template.</p>"
        }
      }
    },
    "GetCaseResponseFieldsList":{
      "type":"list",
      "member":{"shape":"FieldValue"},
      "max":100,
      "min":0
    },
    "GetCaseRuleResponse":{
      "type":"structure",
      "required":[
        "caseRuleArn",
        "caseRuleId",
        "name",
        "rule"
      ],
      "members":{
        "caseRuleArn":{
          "shape":"CaseRuleArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the case rule.</p>"
        },
        "caseRuleId":{
          "shape":"CaseRuleId",
          "documentation":"<p>Unique identifier of a case rule.</p>"
        },
        "createdTime":{
          "shape":"CreatedTime",
          "documentation":"<p>Timestamp when the resource was created.</p>"
        },
        "deleted":{
          "shape":"Deleted",
          "documentation":"<p>Indicates whether the resource has been deleted.</p>"
        },
        "description":{
          "shape":"CaseRuleDescription",
          "documentation":"<p>Description of a case rule.</p>"
        },
        "lastModifiedTime":{
          "shape":"LastModifiedTime",
          "documentation":"<p>Timestamp when the resource was created or last modified.</p>"
        },
        "name":{
          "shape":"CaseRuleName",
          "documentation":"<p>Name of the case rule.</p>"
        },
        "rule":{
          "shape":"CaseRuleDetails",
          "documentation":"<p>Represents what rule type should take place, under what conditions.</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>A map of of key-value pairs that represent tags on a resource. Tags are used to organize, track, or control access for this resource.</p>"
        }
      },
      "documentation":"<p>Detailed case rule information. In the Amazon Connect admin website, case rules are known as <i>case field conditions</i>. For more information about case field conditions, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/case-field-conditions.html\">Add case field conditions to a case template</a>.</p>"
    },
    "GetDomainRequest":{
      "type":"structure",
      "required":["domainId"],
      "members":{
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The unique identifier of the Cases domain. </p>",
          "location":"uri",
          "locationName":"domainId"
        }
      }
    },
    "GetDomainResponse":{
      "type":"structure",
      "required":[
        "createdTime",
        "domainArn",
        "domainId",
        "domainStatus",
        "name"
      ],
      "members":{
        "createdTime":{
          "shape":"CreatedTime",
          "documentation":"<p>The timestamp when the Cases domain was created.</p>"
        },
        "domainArn":{
          "shape":"DomainArn",
          "documentation":"<p>The Amazon Resource Name (ARN) for the Cases domain.</p>"
        },
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The unique identifier of the Cases domain. </p>"
        },
        "domainStatus":{
          "shape":"DomainStatus",
          "documentation":"<p>The status of the Cases domain.</p>"
        },
        "name":{
          "shape":"DomainName",
          "documentation":"<p>The name of the Cases domain.</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>A map of of key-value pairs that represent tags on a resource. Tags are used to organize, track, or control access for this resource.</p>"
        }
      }
    },
    "GetFieldResponse":{
      "type":"structure",
      "required":[
        "fieldArn",
        "fieldId",
        "name",
        "namespace",
        "type"
      ],
      "members":{
        "createdTime":{
          "shape":"CreatedTime",
          "documentation":"<p>Timestamp at which the resource was created.</p>"
        },
        "deleted":{
          "shape":"Deleted",
          "documentation":"<p>Denotes whether or not the resource has been deleted.</p>"
        },
        "description":{
          "shape":"FieldDescription",
          "documentation":"<p>Description of the field.</p>"
        },
        "fieldArn":{
          "shape":"FieldArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the field.</p>"
        },
        "fieldId":{
          "shape":"FieldId",
          "documentation":"<p>Unique identifier of the field.</p>"
        },
        "lastModifiedTime":{
          "shape":"LastModifiedTime",
          "documentation":"<p>Timestamp at which the resource was created or last modified.</p>"
        },
        "name":{
          "shape":"FieldName",
          "documentation":"<p>Name of the field.</p>"
        },
        "namespace":{
          "shape":"FieldNamespace",
          "documentation":"<p>Namespace of the field.</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>A map of of key-value pairs that represent tags on a resource. Tags are used to organize, track, or control access for this resource.</p>"
        },
        "type":{
          "shape":"FieldType",
          "documentation":"<p>Type of the field.</p>"
        }
      },
      "documentation":"<p>Object to store detailed field information.</p>"
    },
    "GetLayoutRequest":{
      "type":"structure",
      "required":[
        "domainId",
        "layoutId"
      ],
      "members":{
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The unique identifier of the Cases domain. </p>",
          "location":"uri",
          "locationName":"domainId"
        },
        "layoutId":{
          "shape":"LayoutId",
          "documentation":"<p>The unique identifier of the layout.</p>",
          "location":"uri",
          "locationName":"layoutId"
        }
      }
    },
    "GetLayoutResponse":{
      "type":"structure",
      "required":[
        "content",
        "layoutArn",
        "layoutId",
        "name"
      ],
      "members":{
        "content":{
          "shape":"LayoutContent",
          "documentation":"<p>Information about which fields will be present in the layout, the order of the fields, and read-only attribute of the field. </p>"
        },
        "createdTime":{
          "shape":"CreatedTime",
          "documentation":"<p>Timestamp at which the resource was created.</p>"
        },
        "deleted":{
          "shape":"Deleted",
          "documentation":"<p>Denotes whether or not the resource has been deleted.</p>"
        },
        "lastModifiedTime":{
          "shape":"LastModifiedTime",
          "documentation":"<p>Timestamp at which the resource was created or last modified.</p>"
        },
        "layoutArn":{
          "shape":"LayoutArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the newly created layout.</p>"
        },
        "layoutId":{
          "shape":"LayoutId",
          "documentation":"<p>The unique identifier of the layout.</p>"
        },
        "name":{
          "shape":"LayoutName",
          "documentation":"<p>The name of the layout. It must be unique.</p>"
        },
        "tags":{
          "shape":"Tags",
          "documentation":"<p>A map of of key-value pairs that represent tags on a resource. Tags are used to organize, track, or control access for this resource.</p>"
        }
      }
    },
    "GetTemplateRequest":{
      "type":"structure",
      "required":[
        "domainId",
        "templateId"
      ],
      "members":{
        "domainId":{
          "shape":"DomainId",
          "documentation":"<p>The unique identifier of the Cases domain. </p>",
          "location":"uri",
          "locationName":"domainId"
        },
        "templateId":{
          "shape":"TemplateId",
          "documentation":"<p>A unique identifier of a template.</p>",
          "location":"uri",
          "locationName":"templateId"
        }
      }
    },
    "GetTemplateResponse":{
      "type":"structure",
      "required":[
        "name",
        "status",
        "templateArn",
        "templateId"
      ],
      "members":{
        "createdTime":{
          "shape":"CreatedTime",
          "documentation":"<p>Timestamp at which the resource was created.</p>"
        },
        "deleted":{
          "shape":"Deleted",
          "documentation":"<p>Denotes whether or not the resource has been deleted.</p>"
        },
        "description":{
          "shape":"TemplateDescription",
          "documentation":"<p>A brief description of the template.</p>"
        },
        "lastModifiedTime":{
          "shape":"LastModifiedTime",
          "documentation":"<p>Timestamp at which the resource was created or last modified.</p>"
        },
        "layoutConfiguration":{
          "shape":"LayoutConfiguration",
          "documentation":"<p>Configuration of layouts associated to the template.</p>"
        },
        "name":{
          "shape":"TemplateName",
          "documentation":"<p>The name of the template.</p>"
        },
        "requiredFields":{
          "shape":"RequiredFieldList",
          "documentation":"<p>A list of fields that must contain a value for a case to be successfully created with this template.</p>"
        },
        "rules":{
          "shape":"TemplateCaseRuleList",
          "documentation":"<p>A list of case rules (also known as <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/case-field-conditions.html\">case field conditions</a>) on a template. </p>"
        },
[...]
