/*
  Cosmetic changes to ghost styles, that help during development.
  The contents should be solved properly or moved into ghost-ui package.
*/


/*
  Styles for GhostPopoverComponent

  hack the user menu and for the post-save button popup,
  until ghost-ui gets a rehaul
*/
.navbar .subnav ul.ghost-popover,
#publish-bar .splitbutton-save .editor-options.ghost-popover,
#publish-bar .splitbutton-delete .editor-options.ghost-popover{
   display:  none;
}
#publish-bar .splitbutton-save .editor-options.ghost-popover.open,
#publish-bar .splitbutton-delete .editor-options.ghost-popover.open,
.navbar .subnav ul.ghost-popover.open {
   display:  block;
}

.ghost-popover {
    display: none;
}

.ghost-popover.open {
    display: block;
}


/* Fade in animation */
.fade-in {
    -o-animation: fadein 0.5s; /* Opera */
    -moz-animation: fadein 0.5s; /* Firefox */
    -webkit-animation: fadein 0.5s; /* Safari and Chrome */
    animation: fadein 0.5s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
