<input class="gh-input gh-input-file q" data-url="upload" type="file" name="importfile" accept="{{acceptEncoding}}">
<button id="startupload" class="gh-btn gh-btn-hover-blue" type="submit" disabled={{uploadButtonDisabled}} {{action "upload"}}>
    <span>{{uploadButtonText}}</span>
</button>
