<input data-url="upload" class="gh-input gh-btn-block" type="file" name="importfile" accept="{{acceptEncoding}}">
<button type="submit" class="gh-btn gh-btn-green gh-btn-block" id="startupload" disabled={{uploadButtonDisabled}} {{action "upload"}}>
    <span>{{uploadButtonText}}</span>
</button>
