{{#if image}}
    <div class="gh-image-uploader -with-image">
        <div><img src={{image}}></div>
        <a class="image-cancel icon-trash" title="Delete" {{action remove}}>
            <span class="hidden">Delete</span>
        </a>
    </div>
{{else}}
    {{gh-image-uploader
        text=text
        altText=altText
        update=(action 'update')
        onInput=(action 'onInput')
        uploadStarted=(action 'uploadStarted')
        uploadFinished=(action 'uploadFinished')
        formChanged=(action 'formChanged')
    }}
{{/if}}
