<ol class="gh-list loading">
    <li class="gh-list-row header">
        <div class="gh-list-header">
            <div class="bg-lightgrey w20 h3"></div>
        </div>
    </li>

    <li class="gh-list-row loading">
        <div class="gh-list-data gh-list-loadingcell">
            <div class="gh-list-loading-title"></div>
            <div class="gh-list-loading-detail"></div>
        </div>
    </li>

    <li class="gh-list-row loading">
        <div class="gh-list-data gh-list-loadingcell">
            <div class="gh-list-loading-title"></div>
            <div class="gh-list-loading-detail"></div>
        </div>
    </li>

    <li class="gh-list-row loading">
        <div class="gh-list-data gh-list-loadingcell">
            <div class="gh-list-loading-title"></div>
            <div class="gh-list-loading-detail"></div>
        </div>
    </li>
</ol>