{{#link-to "member" member class="gh-list-data" title="Edit Member"}}
    <h3 class="gh-tag-list-name">
        {{this.email}}
    </h3>
{{/link-to}}

{{#link-to "member" member class="gh-list-data middarkgrey f8 gh-tag-list-slug" title="Edit Member"}}
    <span class="gh-tag-list-slug" title="Created at">{{this.name}}</span>
{{/link-to}}

{{#link-to "member" member class="gh-list-data middarkgrey f8 gh-tag-list-slug" title="Subscribed At" }}
    <span class="nowrap">{{this.subscribedAt}}</span>
{{/link-to}}

{{#link-to "member" member class="gh-list-data" title="Edit Member"}}
    <div class="flex items-center justify-end w-100">
        <span class="nr2">{{svg-jar "arrow-right" class="w6 h6 fill-midgrey pa1"}}</span>
    </div>
{{/link-to}}