<div class="gh-notification-content" data-test-text="notification-content">
    {{message.message}}
</div>
<button class="gh-notification-close" {{action "closeNotification"}}>{{svg-jar "close"}}<span class="hidden">Close</span></button>
