<div class="gh-notification-content">
    {{message.message}}
</div>
<button class="gh-notification-close" {{action "closeNotification"}}>{{inline-svg "close"}}<span class="hidden">Close</span></button>
