<div class="gh-notification-content" data-test-text="notification-content">
    {{message.message}}
</div>
<button class="gh-notification-close" {{action "closeNotification"}} data-test-button="close-notification">
    {{svg-jar "close"}}<span class="hidden">Close</span>
</button>
