<span class="gh-select">
    {{one-way-select this.selectedVisibility
        options=this.availableVisibilities
        optionValuePath="name"
        optionLabelPath="label"
        optionTargetPath="name"
        update=(action "updateVisibility")
    }}
    {{svg-jar "arrow-down-small"}}
</span>