<div class="gh-progress-container">
    <div class="gh-progress-container-progress">
        <div class="gh-progress-bar {{if isError "-error"}}" style={{progressStyle}} data-test-progress-bar></div>
    </div>
</div>
