<div class="gh-progress-container">
    <div class="gh-progress-container-progress">
        <div
            class="gh-progress-bar {{if this.isError "-error"}}"
            style={{this.progressStyle}}
            data-test-progress-bar
            data-test-progress-width={{this.percentage}}
        ></div>
    </div>
</div>
