<header class="gh-publishmenu-heading">Update post status</header>
<section class="gh-publishmenu-content">
    <div class="gh-publishmenu-radio {{if (eq saveType "draft") "active"}}" {{action setSaveType "draft" on="click"}}>
        <div class="gh-publishmenu-radio-button" data-test-publishmenu-unpublished-option></div>
        <div class="gh-publishmenu-radio-content">
            <div class="gh-publishmenu-radio-label">Unpublished</div>
            <div class="gh-publishmenu-radio-desc">Revert this post to a private draft</div>
        </div>
    </div>
    <div class="gh-publishmenu-radio {{if (eq saveType "publish") "active"}}" {{action setSaveType "publish" on="click"}}>
        <div class="gh-publishmenu-radio-button" data-test-publishmenu-published-option></div>
        <div class="gh-publishmenu-radio-content">
            <div class="gh-publishmenu-radio-label">Published</div>
            <div class="gh-publishmenu-radio-desc">Display this post publicly</div>
        </div>
    </div>
</section>
