{{#light-table table scrollBuffer=100 as |t|}}
    {{t.head
        onColumnClick=(action sortByColumn)
        iconAscending="gh-icon-ascending"
        iconDescending="gh-icon-descending"}}

    {{#t.body
        canSelect=false
        tableActions=(hash delete=delete)
        scrollBuffer=100
        onScrolledToBottom=(action 'onScrolledToBottom')
        as |body|
    }}
        {{#if isLoading}}
            {{#body.loader}}
                <div class="gh-loading-content" style="margin-top: 2em;">
                    <div class="gh-loading-spinner"></div>
                </div>
            {{/body.loader}}
        {{else}}
            {{#if table.isEmpty}}
                {{#body.no-data}}
                    No subscribers found.
                {{/body.no-data}}
            {{/if}}
        {{/if}}
    {{/t.body}}
{{/light-table}}
