<label for="activeTimezone">Timezone</label>
<span class="gh-select" data-select-text="{{selectedTimezone.label}}" tabindex="0">
    {{one-way-select
        id="activeTimezone"
        name="general[activeTimezone]"
        options=selectableTimezones
        optionValuePath="name"
        optionLabelPath="label"
        value=selectedTimezone
        update=(action "setTimezone")
    }}
</span>
{{#if hasTimezoneOverride}}
    <p>Your timezone has been automatically set to {{activeTimezone}}.</p>
{{/if}}
<p>The local time here is currently {{localTime}}</p>
