<span class="media">
    <span class="hidden">Image Upload</span>
</span>
<img class="js-upload-target" {{bind-attr src=imageSource}} />
<div class="description">{{description}}<strong></strong></div>
<input data-url="upload" class="js-fileupload main fileupload" type="file" name="uploadimage">
