{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2016-01-01",
    "endpointPrefix":"dms",
    "jsonVersion":"1.1",
    "protocol":"json",
    "protocols":["json"],
    "serviceFullName":"AWS Database Migration Service",
    "serviceId":"Database Migration Service",
    "signatureVersion":"v4",
    "targetPrefix":"AmazonDMSv20160101",
    "uid":"dms-2016-01-01",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AddTagsToResource":{
      "name":"AddTagsToResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddTagsToResourceMessage"},
      "output":{"shape":"AddTagsToResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Adds metadata tags to an DMS resource, including replication instance, endpoint, subnet group, and migration task. These tags can also be used with cost allocation reporting to track cost associated with DMS resources, or used in a Condition statement in an IAM policy for DMS. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/APIReference/API_Tag.html\"> <code>Tag</code> </a> data type description.</p>"
    },
    "ApplyPendingMaintenanceAction":{
      "name":"ApplyPendingMaintenanceAction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ApplyPendingMaintenanceActionMessage"},
      "output":{"shape":"ApplyPendingMaintenanceActionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Applies a pending maintenance action to a resource (for example, to a replication instance).</p>"
    },
    "BatchStartRecommendations":{
      "name":"BatchStartRecommendations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchStartRecommendationsRequest"},
      "output":{"shape":"BatchStartRecommendationsResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"},
        {"shape":"AccessDeniedFault"},
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<important> <p> End of support notice: On May 20, 2026, Amazon Web Services will end support for Amazon Web Services DMS Fleet Advisor;. After May 20, 2026, you will no longer be able to access the Amazon Web Services DMS Fleet Advisor; console or Amazon Web Services DMS Fleet Advisor; resources. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/dms_fleet.advisor-end-of-support.html\">Amazon Web Services DMS Fleet Advisor end of support</a>. </p> </important> <p>Starts the analysis of up to 20 source databases to recommend target engines for each source database. This is a batch version of <a href=\"https://docs.aws.amazon.com/dms/latest/APIReference/API_StartRecommendations.html\">StartRecommendations</a>.</p> <p>The result of analysis of each source database is reported individually in the response. Because the batch request can result in a combination of successful and unsuccessful actions, you should check for batch errors even when the call returns an HTTP status code of <code>200</code>.</p>"
    },
    "CancelReplicationTaskAssessmentRun":{
      "name":"CancelReplicationTaskAssessmentRun",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelReplicationTaskAssessmentRunMessage"},
      "output":{"shape":"CancelReplicationTaskAssessmentRunResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Cancels a single premigration assessment run.</p> <p>This operation prevents any individual assessments from running if they haven't started running. It also attempts to cancel any individual assessments that are currently running.</p>"
    },
    "CreateDataMigration":{
      "name":"CreateDataMigration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDataMigrationMessage"},
      "output":{"shape":"CreateDataMigrationResponse"},
      "errors":[
        {"shape":"ResourceQuotaExceededFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"ResourceAlreadyExistsFault"},
        {"shape":"InvalidOperationFault"},
        {"shape":"FailedDependencyFault"}
      ],
      "documentation":"<p>Creates a data migration using the provided settings.</p>"
    },
    "CreateDataProvider":{
      "name":"CreateDataProvider",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDataProviderMessage"},
      "output":{"shape":"CreateDataProviderResponse"},
      "errors":[
        {"shape":"ResourceQuotaExceededFault"},
        {"shape":"AccessDeniedFault"},
        {"shape":"ResourceAlreadyExistsFault"},
        {"shape":"FailedDependencyFault"}
      ],
      "documentation":"<p>Creates a data provider using the provided settings. A data provider stores a data store type and location information about your database. </p>"
    },
    "CreateEndpoint":{
      "name":"CreateEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEndpointMessage"},
      "output":{"shape":"CreateEndpointResponse"},
      "errors":[
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"ResourceAlreadyExistsFault"},
        {"shape":"ResourceQuotaExceededFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"AccessDeniedFault"},
        {"shape":"S3AccessDeniedFault"}
      ],
      "documentation":"<p>Creates an endpoint using the provided settings.</p> <note> <p>For a MySQL source or target endpoint, don't explicitly specify the database using the <code>DatabaseName</code> request parameter on the <code>CreateEndpoint</code> API call. Specifying <code>DatabaseName</code> when you create a MySQL endpoint replicates all the task tables to this single database. For MySQL endpoints, you specify the database only when you specify the schema in the table-mapping rules of the DMS task.</p> </note>"
    },
    "CreateEventSubscription":{
      "name":"CreateEventSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEventSubscriptionMessage"},
      "output":{"shape":"CreateEventSubscriptionResponse"},
      "errors":[
        {"shape":"ResourceQuotaExceededFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"ResourceAlreadyExistsFault"},
        {"shape":"SNSInvalidTopicFault"},
        {"shape":"SNSNoAuthorizationFault"},
        {"shape":"KMSAccessDeniedFault"},
        {"shape":"KMSDisabledFault"},
        {"shape":"KMSInvalidStateFault"},
        {"shape":"KMSNotFoundFault"},
        {"shape":"KMSThrottlingFault"}
      ],
      "documentation":"<p> Creates an DMS event notification subscription. </p> <p>You can specify the type of source (<code>SourceType</code>) you want to be notified of, provide a list of DMS source IDs (<code>SourceIds</code>) that triggers the events, and provide a list of event categories (<code>EventCategories</code>) for events you want to be notified of. If you specify both the <code>SourceType</code> and <code>SourceIds</code>, such as <code>SourceType = replication-instance</code> and <code>SourceIdentifier = my-replinstance</code>, you will be notified of all the replication instance events for the specified source. If you specify a <code>SourceType</code> but don't specify a <code>SourceIdentifier</code>, you receive notice of the events for that source type for all your DMS sources. If you don't specify either <code>SourceType</code> nor <code>SourceIdentifier</code>, you will be notified of events generated from all DMS sources belonging to your customer account.</p> <p>For more information about DMS events, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Events.html\">Working with Events and Notifications</a> in the <i>Database Migration Service User Guide.</i> </p>"
    },
    "CreateFleetAdvisorCollector":{
      "name":"CreateFleetAdvisorCollector",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateFleetAdvisorCollectorRequest"},
      "output":{"shape":"CreateFleetAdvisorCollectorResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"},
        {"shape":"AccessDeniedFault"},
        {"shape":"S3AccessDeniedFault"},
        {"shape":"S3ResourceNotFoundFault"},
        {"shape":"ResourceQuotaExceededFault"}
      ],
      "documentation":"<important> <p> End of support notice: On May 20, 2026, Amazon Web Services will end support for Amazon Web Services DMS Fleet Advisor;. After May 20, 2026, you will no longer be able to access the Amazon Web Services DMS Fleet Advisor; console or Amazon Web Services DMS Fleet Advisor; resources. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/dms_fleet.advisor-end-of-support.html\">Amazon Web Services DMS Fleet Advisor end of support</a>. </p> </important> <p>Creates a Fleet Advisor collector using the specified parameters.</p>"
    },
    "CreateInstanceProfile":{
      "name":"CreateInstanceProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateInstanceProfileMessage"},
      "output":{"shape":"CreateInstanceProfileResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"ResourceAlreadyExistsFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"ResourceQuotaExceededFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"S3ResourceNotFoundFault"},
        {"shape":"S3AccessDeniedFault"},
        {"shape":"FailedDependencyFault"}
      ],
      "documentation":"<p>Creates the instance profile using the specified parameters.</p>"
    },
    "CreateMigrationProject":{
      "name":"CreateMigrationProject",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateMigrationProjectMessage"},
      "output":{"shape":"CreateMigrationProjectResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"ResourceAlreadyExistsFault"},
        {"shape":"ResourceQuotaExceededFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"S3ResourceNotFoundFault"},
        {"shape":"S3AccessDeniedFault"},
        {"shape":"FailedDependencyFault"}
      ],
      "documentation":"<p>Creates the migration project using the specified parameters.</p> <p>You can run this action only after you create an instance profile and data providers using <a href=\"https://docs.aws.amazon.com/dms/latest/APIReference/API_CreateInstanceProfile.html\">CreateInstanceProfile</a> and <a href=\"https://docs.aws.amazon.com/dms/latest/APIReference/API_CreateDataProvider.html\">CreateDataProvider</a>.</p>"
    },
    "CreateReplicationConfig":{
      "name":"CreateReplicationConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateReplicationConfigMessage"},
      "output":{"shape":"CreateReplicationConfigResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"ResourceAlreadyExistsFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ReplicationSubnetGroupDoesNotCoverEnoughAZs"},
        {"shape":"InvalidSubnet"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"ResourceQuotaExceededFault"}
      ],
      "documentation":"<p>Creates a configuration that you can later provide to configure and start an DMS Serverless replication. You can also provide options to validate the configuration inputs before you start the replication.</p>"
    },
    "CreateReplicationInstance":{
      "name":"CreateReplicationInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateReplicationInstanceMessage"},
      "output":{"shape":"CreateReplicationInstanceResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"ResourceAlreadyExistsFault"},
        {"shape":"InsufficientResourceCapacityFault"},
        {"shape":"ResourceQuotaExceededFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"ReplicationSubnetGroupDoesNotCoverEnoughAZs"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"InvalidSubnet"},
        {"shape":"KMSKeyNotAccessibleFault"}
      ],
      "documentation":"<p>Creates the replication instance using the specified parameters.</p> <p>DMS requires that your account have certain roles with appropriate permissions before you can create a replication instance. For information on the required roles, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Security.html#CHAP_Security.APIRole\">Creating the IAM Roles to Use With the CLI and DMS API</a>. For information on the required permissions, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Security.html#CHAP_Security.IAMPermissions\">IAM Permissions Needed to Use DMS</a>.</p> <note> <p>If you don't specify a version when creating a replication instance, DMS will create the instance using the default engine version. For information about the default engine version, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_ReleaseNotes.html\">Release Notes</a>.</p> </note>"
    },
    "CreateReplicationSubnetGroup":{
      "name":"CreateReplicationSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateReplicationSubnetGroupMessage"},
      "output":{"shape":"CreateReplicationSubnetGroupResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"ResourceAlreadyExistsFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"ResourceQuotaExceededFault"},
        {"shape":"ReplicationSubnetGroupDoesNotCoverEnoughAZs"},
        {"shape":"InvalidSubnet"}
      ],
      "documentation":"<p>Creates a replication subnet group given a list of the subnet IDs in a VPC.</p> <p>The VPC needs to have at least one subnet in at least two availability zones in the Amazon Web Services Region, otherwise the service will throw a <code>ReplicationSubnetGroupDoesNotCoverEnoughAZs</code> exception.</p> <p>If a replication subnet group exists in your Amazon Web Services account, the CreateReplicationSubnetGroup action returns the following error message: The Replication Subnet Group already exists. In this case, delete the existing replication subnet group. To do so, use the <a href=\"https://docs.aws.amazon.com/en_us/dms/latest/APIReference/API_DeleteReplicationSubnetGroup.html\">DeleteReplicationSubnetGroup</a> action. Optionally, choose Subnet groups in the DMS console, then choose your subnet group. Next, choose Delete from Actions.</p>"
    },
    "CreateReplicationTask":{
      "name":"CreateReplicationTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateReplicationTaskMessage"},
      "output":{"shape":"CreateReplicationTaskResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceAlreadyExistsFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"ResourceQuotaExceededFault"}
      ],
      "documentation":"<p>Creates a replication task using the specified parameters.</p>"
    },
    "DeleteCertificate":{
      "name":"DeleteCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCertificateMessage"},
      "output":{"shape":"DeleteCertificateResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Deletes the specified certificate. </p>"
    },
    "DeleteConnection":{
      "name":"DeleteConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteConnectionMessage"},
      "output":{"shape":"DeleteConnectionResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Deletes the connection between a replication instance and an endpoint.</p>"
    },
    "DeleteDataMigration":{
      "name":"DeleteDataMigration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDataMigrationMessage"},
      "output":{"shape":"DeleteDataMigrationResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"FailedDependencyFault"}
      ],
      "documentation":"<p>Deletes the specified data migration.</p>"
    },
    "DeleteDataProvider":{
      "name":"DeleteDataProvider",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDataProviderMessage"},
      "output":{"shape":"DeleteDataProviderResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"FailedDependencyFault"}
      ],
      "documentation":"<p>Deletes the specified data provider.</p> <note> <p>All migration projects associated with the data provider must be deleted or modified before you can delete the data provider.</p> </note>"
    },
    "DeleteEndpoint":{
      "name":"DeleteEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEndpointMessage"},
      "output":{"shape":"DeleteEndpointResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Deletes the specified endpoint.</p> <note> <p>All tasks associated with the endpoint must be deleted before you can delete the endpoint.</p> </note> <p/>"
    },
    "DeleteEventSubscription":{
      "name":"DeleteEventSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEventSubscriptionMessage"},
      "output":{"shape":"DeleteEventSubscriptionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"AccessDeniedFault"}
      ],
      "documentation":"<p> Deletes an DMS event subscription. </p>"
    },
    "DeleteFleetAdvisorCollector":{
      "name":"DeleteFleetAdvisorCollector",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCollectorRequest"},
      "errors":[
        {"shape":"InvalidResourceStateFault"},
        {"shape":"CollectorNotFoundFault"},
        {"shape":"AccessDeniedFault"}
      ],
      "documentation":"<important> <p> End of support notice: On May 20, 2026, Amazon Web Services will end support for Amazon Web Services DMS Fleet Advisor;. After May 20, 2026, you will no longer be able to access the Amazon Web Services DMS Fleet Advisor; console or Amazon Web Services DMS Fleet Advisor; resources. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/dms_fleet.advisor-end-of-support.html\">Amazon Web Services DMS Fleet Advisor end of support</a>. </p> </important> <p>Deletes the specified Fleet Advisor collector.</p>"
    },
    "DeleteFleetAdvisorDatabases":{
      "name":"DeleteFleetAdvisorDatabases",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteFleetAdvisorDatabasesRequest"},
      "output":{"shape":"DeleteFleetAdvisorDatabasesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidOperationFault"},
        {"shape":"AccessDeniedFault"}
      ],
      "documentation":"<important> <p> End of support notice: On May 20, 2026, Amazon Web Services will end support for Amazon Web Services DMS Fleet Advisor;. After May 20, 2026, you will no longer be able to access the Amazon Web Services DMS Fleet Advisor; console or Amazon Web Services DMS Fleet Advisor; resources. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/dms_fleet.advisor-end-of-support.html\">Amazon Web Services DMS Fleet Advisor end of support</a>. </p> </important> <p>Deletes the specified Fleet Advisor collector databases.</p>"
    },
    "DeleteInstanceProfile":{
      "name":"DeleteInstanceProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteInstanceProfileMessage"},
      "output":{"shape":"DeleteInstanceProfileResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"FailedDependencyFault"}
      ],
      "documentation":"<p>Deletes the specified instance profile.</p> <note> <p>All migration projects associated with the instance profile must be deleted or modified before you can delete the instance profile.</p> </note>"
    },
    "DeleteMigrationProject":{
      "name":"DeleteMigrationProject",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteMigrationProjectMessage"},
      "output":{"shape":"DeleteMigrationProjectResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"AccessDeniedFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"FailedDependencyFault"}
      ],
      "documentation":"<p>Deletes the specified migration project.</p> <note> <p>The migration project must be closed before you can delete it.</p> </note>"
    },
    "DeleteReplicationConfig":{
      "name":"DeleteReplicationConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteReplicationConfigMessage"},
      "output":{"shape":"DeleteReplicationConfigResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Deletes an DMS Serverless replication configuration. This effectively deprovisions any and all replications that use this configuration. You can't delete the configuration for an DMS Serverless replication that is ongoing. You can delete the configuration when the replication is in a non-RUNNING and non-STARTING state.</p>"
    },
    "DeleteReplicationInstance":{
      "name":"DeleteReplicationInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteReplicationInstanceMessage"},
      "output":{"shape":"DeleteReplicationInstanceResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Deletes the specified replication instance.</p> <note> <p>You must delete any migration tasks that are associated with the replication instance before you can delete it.</p> </note> <p/>"
    },
    "DeleteReplicationSubnetGroup":{
      "name":"DeleteReplicationSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteReplicationSubnetGroupMessage"},
      "output":{"shape":"DeleteReplicationSubnetGroupResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"AccessDeniedFault"}
      ],
      "documentation":"<p>Deletes a subnet group.</p>"
    },
    "DeleteReplicationTask":{
      "name":"DeleteReplicationTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteReplicationTaskMessage"},
      "output":{"shape":"DeleteReplicationTaskResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Deletes the specified replication task.</p>"
    },
    "DeleteReplicationTaskAssessmentRun":{
      "name":"DeleteReplicationTaskAssessmentRun",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteReplicationTaskAssessmentRunMessage"},
      "output":{"shape":"DeleteReplicationTaskAssessmentRunResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Deletes the record of a single premigration assessment run.</p> <p>This operation removes all metadata that DMS maintains about this assessment run. However, the operation leaves untouched all information about this assessment run that is stored in your Amazon S3 bucket.</p>"
    },
    "DescribeAccountAttributes":{
      "name":"DescribeAccountAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAccountAttributesMessage"},
      "output":{"shape":"DescribeAccountAttributesResponse"},
      "documentation":"<p>Lists all of the DMS attributes for a customer account. These attributes include DMS quotas for the account and a unique account identifier in a particular DMS region. DMS quotas include a list of resource quotas supported by the account, such as the number of replication instances allowed. The description for each resource quota, includes the quota name, current usage toward that quota, and the quota's maximum value. DMS uses the unique account identifier to name each artifact used by DMS in the given region.</p> <p>This command does not take any parameters.</p>"
    },
    "DescribeApplicableIndividualAssessments":{
      "name":"DescribeApplicableIndividualAssessments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeApplicableIndividualAssessmentsMessage"},
      "output":{"shape":"DescribeApplicableIndividualAssessmentsResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Provides a list of individual assessments that you can specify for a new premigration assessment run, given one or more parameters.</p> <p>If you specify an existing migration task, this operation provides the default individual assessments you can specify for that task. Otherwise, the specified parameters model elements of a possible migration task on which to base a premigration assessment run.</p> <p>To use these migration task modeling parameters, you must specify an existing replication instance, a source database engine, a target database engine, and a migration type. This combination of parameters potentially limits the default individual assessments available for an assessment run created for a corresponding migration task.</p> <p>If you specify no parameters, this operation provides a list of all possible individual assessments that you can specify for an assessment run. If you specify any one of the task modeling parameters, you must specify all of them or the operation cannot provide a list of individual assessments. The only parameter that you can specify alone is for an existing migration task. The specified task definition then determines the default list of individual assessments that you can specify in an assessment run for the task.</p>"
    },
    "DescribeCertificates":{
      "name":"DescribeCertificates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCertificatesMessage"},
      "output":{"shape":"DescribeCertificatesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Provides a description of the certificate.</p>"
    },
    "DescribeConnections":{
      "name":"DescribeConnections",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeConnectionsMessage"},
      "output":{"shape":"DescribeConnectionsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Describes the status of the connections that have been made between the replication instance and an endpoint. Connections are created when you test an endpoint.</p>"
    },
    "DescribeConversionConfiguration":{
      "name":"DescribeConversionConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeConversionConfigurationMessage"},
      "output":{"shape":"DescribeConversionConfigurationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Returns configuration parameters for a schema conversion project.</p>"
    },
    "DescribeDataMigrations":{
      "name":"DescribeDataMigrations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDataMigrationsMessage"},
      "output":{"shape":"DescribeDataMigrationsResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"FailedDependencyFault"}
      ],
      "documentation":"<p>Returns information about data migrations.</p>"
    },
    "DescribeDataProviders":{
      "name":"DescribeDataProviders",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDataProvidersMessage"},
      "output":{"shape":"DescribeDataProvidersResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"AccessDeniedFault"},
        {"shape":"FailedDependencyFault"}
      ],
      "documentation":"<p>Returns a paginated list of data providers for your account in the current region.</p>"
    },
    "DescribeEndpointSettings":{
      "name":"DescribeEndpointSettings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEndpointSettingsMessage"},
      "output":{"shape":"DescribeEndpointSettingsResponse"},
      "documentation":"<p>Returns information about the possible endpoint settings available when you create an endpoint for a specific database engine.</p>"
    },
    "DescribeEndpointTypes":{
      "name":"DescribeEndpointTypes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEndpointTypesMessage"},
      "output":{"shape":"DescribeEndpointTypesResponse"},
      "documentation":"<p>Returns information about the type of endpoints available.</p>"
    },
    "DescribeEndpoints":{
      "name":"DescribeEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEndpointsMessage"},
      "output":{"shape":"DescribeEndpointsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Returns information about the endpoints for your account in the current region.</p>"
    },
    "DescribeEngineVersions":{
      "name":"DescribeEngineVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEngineVersionsMessage"},
      "output":{"shape":"DescribeEngineVersionsResponse"},
      "documentation":"<p>Returns information about the replication instance versions used in the project.</p>"
    },
    "DescribeEventCategories":{
      "name":"DescribeEventCategories",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventCategoriesMessage"},
      "output":{"shape":"DescribeEventCategoriesResponse"},
      "documentation":"<p>Lists categories for all event source types, or, if specified, for a specified source type. You can see a list of the event categories and source types in <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Events.html\">Working with Events and Notifications</a> in the <i>Database Migration Service User Guide.</i> </p>"
    },
    "DescribeEventSubscriptions":{
      "name":"DescribeEventSubscriptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventSubscriptionsMessage"},
      "output":{"shape":"DescribeEventSubscriptionsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Lists all the event subscriptions for a customer account. The description of a subscription includes <code>SubscriptionName</code>, <code>SNSTopicARN</code>, <code>CustomerID</code>, <code>SourceType</code>, <code>SourceID</code>, <code>CreationTime</code>, and <code>Status</code>. </p> <p>If you specify <code>SubscriptionName</code>, this action lists the description for that subscription.</p>"
    },
    "DescribeEvents":{
      "name":"DescribeEvents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventsMessage"},
      "output":{"shape":"DescribeEventsResponse"},
      "documentation":"<p> Lists events for a given source identifier and source type. You can also specify a start and end time. For more information on DMS events, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Events.html\">Working with Events and Notifications</a> in the <i>Database Migration Service User Guide.</i> </p>"
    },
    "DescribeExtensionPackAssociations":{
      "name":"DescribeExtensionPackAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeExtensionPackAssociationsMessage"},
      "output":{"shape":"DescribeExtensionPackAssociationsResponse"},
      "documentation":"<p>Returns a paginated list of extension pack associations for the specified migration project. An extension pack is an add-on module that emulates functions present in a source database that are required when converting objects to the target database.</p>"
    },
    "DescribeFleetAdvisorCollectors":{
      "name":"DescribeFleetAdvisorCollectors",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFleetAdvisorCollectorsRequest"},
      "output":{"shape":"DescribeFleetAdvisorCollectorsResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<important> <p> End of support notice: On May 20, 2026, Amazon Web Services will end support for Amazon Web Services DMS Fleet Advisor;. After May 20, 2026, you will no longer be able to access the Amazon Web Services DMS Fleet Advisor; console or Amazon Web Services DMS Fleet Advisor; resources. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/dms_fleet.advisor-end-of-support.html\">Amazon Web Services DMS Fleet Advisor end of support</a>. </p> </important> <p>Returns a list of the Fleet Advisor collectors in your account.</p>"
    },
    "DescribeFleetAdvisorDatabases":{
      "name":"DescribeFleetAdvisorDatabases",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFleetAdvisorDatabasesRequest"},
      "output":{"shape":"DescribeFleetAdvisorDatabasesResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<important> <p> End of support notice: On May 20, 2026, Amazon Web Services will end support for Amazon Web Services DMS Fleet Advisor;. After May 20, 2026, you will no longer be able to access the Amazon Web Services DMS Fleet Advisor; console or Amazon Web Services DMS Fleet Advisor; resources. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/dms_fleet.advisor-end-of-support.html\">Amazon Web Services DMS Fleet Advisor end of support</a>. </p> </important> <p>Returns a list of Fleet Advisor databases in your account.</p>"
    },
    "DescribeFleetAdvisorLsaAnalysis":{
      "name":"DescribeFleetAdvisorLsaAnalysis",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFleetAdvisorLsaAnalysisRequest"},
      "output":{"shape":"DescribeFleetAdvisorLsaAnalysisResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<important> <p> End of support notice: On May 20, 2026, Amazon Web Services will end support for Amazon Web Services DMS Fleet Advisor;. After May 20, 2026, you will no longer be able to access the Amazon Web Services DMS Fleet Advisor; console or Amazon Web Services DMS Fleet Advisor; resources. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/dms_fleet.advisor-end-of-support.html\">Amazon Web Services DMS Fleet Advisor end of support</a>. </p> </important> <p>Provides descriptions of large-scale assessment (LSA) analyses produced by your Fleet Advisor collectors. </p>"
    },
    "DescribeFleetAdvisorSchemaObjectSummary":{
      "name":"DescribeFleetAdvisorSchemaObjectSummary",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFleetAdvisorSchemaObjectSummaryRequest"},
      "output":{"shape":"DescribeFleetAdvisorSchemaObjectSummaryResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<important> <p> End of support notice: On May 20, 2026, Amazon Web Services will end support for Amazon Web Services DMS Fleet Advisor;. After May 20, 2026, you will no longer be able to access the Amazon Web Services DMS Fleet Advisor; console or Amazon Web Services DMS Fleet Advisor; resources. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/dms_fleet.advisor-end-of-support.html\">Amazon Web Services DMS Fleet Advisor end of support</a>. </p> </important> <p>Provides descriptions of the schemas discovered by your Fleet Advisor collectors.</p>"
    },
    "DescribeFleetAdvisorSchemas":{
      "name":"DescribeFleetAdvisorSchemas",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeFleetAdvisorSchemasRequest"},
      "output":{"shape":"DescribeFleetAdvisorSchemasResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<important> <p> End of support notice: On May 20, 2026, Amazon Web Services will end support for Amazon Web Services DMS Fleet Advisor;. After May 20, 2026, you will no longer be able to access the Amazon Web Services DMS Fleet Advisor; console or Amazon Web Services DMS Fleet Advisor; resources. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/dms_fleet.advisor-end-of-support.html\">Amazon Web Services DMS Fleet Advisor end of support</a>. </p> </important> <p>Returns a list of schemas detected by Fleet Advisor Collectors in your account.</p>"
    },
    "DescribeInstanceProfiles":{
      "name":"DescribeInstanceProfiles",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInstanceProfilesMessage"},
      "output":{"shape":"DescribeInstanceProfilesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"AccessDeniedFault"},
        {"shape":"FailedDependencyFault"}
      ],
      "documentation":"<p>Returns a paginated list of instance profiles for your account in the current region.</p>"
    },
    "DescribeMetadataModelAssessments":{
      "name":"DescribeMetadataModelAssessments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeMetadataModelAssessmentsMessage"},
      "output":{"shape":"DescribeMetadataModelAssessmentsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Returns a paginated list of metadata model assessments for your account in the current region.</p>"
    },
    "DescribeMetadataModelConversions":{
      "name":"DescribeMetadataModelConversions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeMetadataModelConversionsMessage"},
      "output":{"shape":"DescribeMetadataModelConversionsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Returns a paginated list of metadata model conversions for a migration project.</p>"
    },
    "DescribeMetadataModelExportsAsScript":{
      "name":"DescribeMetadataModelExportsAsScript",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeMetadataModelExportsAsScriptMessage"},
      "output":{"shape":"DescribeMetadataModelExportsAsScriptResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Returns a paginated list of metadata model exports.</p>"
    },
    "DescribeMetadataModelExportsToTarget":{
      "name":"DescribeMetadataModelExportsToTarget",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeMetadataModelExportsToTargetMessage"},
      "output":{"shape":"DescribeMetadataModelExportsToTargetResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Returns a paginated list of metadata model exports.</p>"
    },
    "DescribeMetadataModelImports":{
      "name":"DescribeMetadataModelImports",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeMetadataModelImportsMessage"},
      "output":{"shape":"DescribeMetadataModelImportsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Returns a paginated list of metadata model imports.</p>"
    },
    "DescribeMigrationProjects":{
      "name":"DescribeMigrationProjects",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeMigrationProjectsMessage"},
      "output":{"shape":"DescribeMigrationProjectsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"AccessDeniedFault"},
        {"shape":"FailedDependencyFault"}
      ],
      "documentation":"<p>Returns a paginated list of migration projects for your account in the current region.</p>"
    },
    "DescribeOrderableReplicationInstances":{
      "name":"DescribeOrderableReplicationInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeOrderableReplicationInstancesMessage"},
      "output":{"shape":"DescribeOrderableReplicationInstancesResponse"},
      "documentation":"<p>Returns information about the replication instance types that can be created in the specified region.</p>"
    },
    "DescribePendingMaintenanceActions":{
      "name":"DescribePendingMaintenanceActions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePendingMaintenanceActionsMessage"},
      "output":{"shape":"DescribePendingMaintenanceActionsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Returns a list of upcoming maintenance events for replication instances in your account in the current Region.</p>"
    },
    "DescribeRecommendationLimitations":{
      "name":"DescribeRecommendationLimitations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRecommendationLimitationsRequest"},
      "output":{"shape":"DescribeRecommendationLimitationsResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"},
        {"shape":"AccessDeniedFault"}
      ],
      "documentation":"<important> <p> End of support notice: On May 20, 2026, Amazon Web Services will end support for Amazon Web Services DMS Fleet Advisor;. After May 20, 2026, you will no longer be able to access the Amazon Web Services DMS Fleet Advisor; console or Amazon Web Services DMS Fleet Advisor; resources. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/dms_fleet.advisor-end-of-support.html\">Amazon Web Services DMS Fleet Advisor end of support</a>. </p> </important> <p>Returns a paginated list of limitations for recommendations of target Amazon Web Services engines.</p>"
    },
    "DescribeRecommendations":{
      "name":"DescribeRecommendations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRecommendationsRequest"},
      "output":{"shape":"DescribeRecommendationsResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"},
        {"shape":"AccessDeniedFault"}
      ],
      "documentation":"<important> <p> End of support notice: On May 20, 2026, Amazon Web Services will end support for Amazon Web Services DMS Fleet Advisor;. After May 20, 2026, you will no longer be able to access the Amazon Web Services DMS Fleet Advisor; console or Amazon Web Services DMS Fleet Advisor; resources. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/dms_fleet.advisor-end-of-support.html\">Amazon Web Services DMS Fleet Advisor end of support</a>. </p> </important> <p>Returns a paginated list of target engine recommendations for your source databases.</p>"
    },
    "DescribeRefreshSchemasStatus":{
      "name":"DescribeRefreshSchemasStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRefreshSchemasStatusMessage"},
      "output":{"shape":"DescribeRefreshSchemasStatusResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Returns the status of the RefreshSchemas operation.</p>"
    },
    "DescribeReplicationConfigs":{
      "name":"DescribeReplicationConfigs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReplicationConfigsMessage"},
      "output":{"shape":"DescribeReplicationConfigsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Returns one or more existing DMS Serverless replication configurations as a list of structures.</p>"
    },
    "DescribeReplicationInstanceTaskLogs":{
      "name":"DescribeReplicationInstanceTaskLogs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReplicationInstanceTaskLogsMessage"},
      "output":{"shape":"DescribeReplicationInstanceTaskLogsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Returns information about the task logs for the specified task.</p>"
    },
    "DescribeReplicationInstances":{
      "name":"DescribeReplicationInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReplicationInstancesMessage"},
      "output":{"shape":"DescribeReplicationInstancesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Returns information about replication instances for your account in the current region.</p>"
    },
    "DescribeReplicationSubnetGroups":{
      "name":"DescribeReplicationSubnetGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReplicationSubnetGroupsMessage"},
      "output":{"shape":"DescribeReplicationSubnetGroupsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Returns information about the replication subnet groups.</p>"
    },
    "DescribeReplicationTableStatistics":{
      "name":"DescribeReplicationTableStatistics",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReplicationTableStatisticsMessage"},
      "output":{"shape":"DescribeReplicationTableStatisticsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Returns table and schema statistics for one or more provisioned replications that use a given DMS Serverless replication configuration.</p>"
    },
    "DescribeReplicationTaskAssessmentResults":{
      "name":"DescribeReplicationTaskAssessmentResults",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReplicationTaskAssessmentResultsMessage"},
      "output":{"shape":"DescribeReplicationTaskAssessmentResultsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Returns the task assessment results from the Amazon S3 bucket that DMS creates in your Amazon Web Services account. This action always returns the latest results.</p> <p>For more information about DMS task assessments, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Tasks.AssessmentReport.html\">Creating a task assessment report</a> in the <i>Database Migration Service User Guide</i>.</p>"
    },
    "DescribeReplicationTaskAssessmentRuns":{
      "name":"DescribeReplicationTaskAssessmentRuns",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReplicationTaskAssessmentRunsMessage"},
      "output":{"shape":"DescribeReplicationTaskAssessmentRunsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Returns a paginated list of premigration assessment runs based on filter settings.</p> <p>These filter settings can specify a combination of premigration assessment runs, migration tasks, replication instances, and assessment run status values.</p> <note> <p>This operation doesn't return information about individual assessments. For this information, see the <code>DescribeReplicationTaskIndividualAssessments</code> operation. </p> </note>"
    },
    "DescribeReplicationTaskIndividualAssessments":{
      "name":"DescribeReplicationTaskIndividualAssessments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReplicationTaskIndividualAssessmentsMessage"},
      "output":{"shape":"DescribeReplicationTaskIndividualAssessmentsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Returns a paginated list of individual assessments based on filter settings.</p> <p>These filter settings can specify a combination of premigration assessment runs, migration tasks, and assessment status values.</p>"
    },
    "DescribeReplicationTasks":{
      "name":"DescribeReplicationTasks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReplicationTasksMessage"},
      "output":{"shape":"DescribeReplicationTasksResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Returns information about replication tasks for your account in the current region.</p>"
    },
    "DescribeReplications":{
      "name":"DescribeReplications",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReplicationsMessage"},
      "output":{"shape":"DescribeReplicationsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Provides details on replication progress by returning status information for one or more provisioned DMS Serverless replications.</p>"
    },
    "DescribeSchemas":{
      "name":"DescribeSchemas",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSchemasMessage"},
      "output":{"shape":"DescribeSchemasResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Returns information about the schema for the specified endpoint.</p> <p/>"
    },
    "DescribeTableStatistics":{
      "name":"DescribeTableStatistics",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTableStatisticsMessage"},
      "output":{"shape":"DescribeTableStatisticsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"AccessDeniedFault"}
      ],
      "documentation":"<p>Returns table statistics on the database migration task, including table name, rows inserted, rows updated, and rows deleted.</p> <p>Note that the \"last updated\" column the DMS console only indicates the time that DMS last updated the table statistics record for a table. It does not indicate the time of the last update to the table.</p>"
    },
    "ExportMetadataModelAssessment":{
      "name":"ExportMetadataModelAssessment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ExportMetadataModelAssessmentMessage"},
      "output":{"shape":"ExportMetadataModelAssessmentResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p>Saves a copy of a database migration assessment report to your Amazon S3 bucket. DMS can save your assessment report as a comma-separated value (CSV) or a PDF file. </p>"
    },
    "ImportCertificate":{
      "name":"ImportCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ImportCertificateMessage"},
      "output":{"shape":"ImportCertificateResponse"},
      "errors":[
        {"shape":"ResourceAlreadyExistsFault"},
        {"shape":"InvalidCertificateFault"},
        {"shape":"ResourceQuotaExceededFault"}
      ],
      "documentation":"<p>Uploads the specified certificate.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceMessage"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Lists all metadata tags attached to an DMS resource, including replication instance, endpoint, subnet group, and migration task. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/APIReference/API_Tag.html\"> <code>Tag</code> </a> data type description.</p>"
    },
    "ModifyConversionConfiguration":{
      "name":"ModifyConversionConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyConversionConfigurationMessage"},
      "output":{"shape":"ModifyConversionConfigurationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Modifies the specified schema conversion configuration using the provided parameters. </p>"
    },
    "ModifyDataMigration":{
      "name":"ModifyDataMigration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyDataMigrationMessage"},
      "output":{"shape":"ModifyDataMigrationResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"FailedDependencyFault"}
      ],
      "documentation":"<p>Modifies an existing DMS data migration.</p>"
    },
    "ModifyDataProvider":{
      "name":"ModifyDataProvider",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyDataProviderMessage"},
      "output":{"shape":"ModifyDataProviderResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"FailedDependencyFault"}
      ],
      "documentation":"<p>Modifies the specified data provider using the provided settings.</p> <note> <p>You must remove the data provider from all migration projects before you can modify it.</p> </note>"
    },
    "ModifyEndpoint":{
      "name":"ModifyEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyEndpointMessage"},
      "output":{"shape":"ModifyEndpointResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"ResourceAlreadyExistsFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"AccessDeniedFault"}
      ],
      "documentation":"<p>Modifies the specified endpoint.</p> <note> <p>For a MySQL source or target endpoint, don't explicitly specify the database using the <code>DatabaseName</code> request parameter on the <code>ModifyEndpoint</code> API call. Specifying <code>DatabaseName</code> when you modify a MySQL endpoint replicates all the task tables to this single database. For MySQL endpoints, you specify the database only when you specify the schema in the table-mapping rules of the DMS task.</p> </note>"
    },
    "ModifyEventSubscription":{
      "name":"ModifyEventSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyEventSubscriptionMessage"},
      "output":{"shape":"ModifyEventSubscriptionResponse"},
      "errors":[
        {"shape":"ResourceQuotaExceededFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"SNSInvalidTopicFault"},
        {"shape":"SNSNoAuthorizationFault"},
        {"shape":"KMSAccessDeniedFault"},
        {"shape":"KMSDisabledFault"},
        {"shape":"KMSInvalidStateFault"},
        {"shape":"KMSNotFoundFault"},
        {"shape":"KMSThrottlingFault"},
        {"shape":"AccessDeniedFault"}
      ],
      "documentation":"<p>Modifies an existing DMS event notification subscription. </p>"
    },
    "ModifyInstanceProfile":{
      "name":"ModifyInstanceProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyInstanceProfileMessage"},
      "output":{"shape":"ModifyInstanceProfileResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"S3ResourceNotFoundFault"},
        {"shape":"S3AccessDeniedFault"},
        {"shape":"FailedDependencyFault"}
      ],
      "documentation":"<p>Modifies the specified instance profile using the provided parameters.</p> <note> <p>All migration projects associated with the instance profile must be deleted or modified before you can modify the instance profile.</p> </note>"
    },
    "ModifyMigrationProject":{
      "name":"ModifyMigrationProject",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyMigrationProjectMessage"},
      "output":{"shape":"ModifyMigrationProjectResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"S3ResourceNotFoundFault"},
        {"shape":"S3AccessDeniedFault"},
        {"shape":"FailedDependencyFault"}
      ],
      "documentation":"<p>Modifies the specified migration project using the provided parameters.</p> <note> <p>The migration project must be closed before you can modify it.</p> </note>"
    },
    "ModifyReplicationConfig":{
      "name":"ModifyReplicationConfig",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyReplicationConfigMessage"},
      "output":{"shape":"ModifyReplicationConfigResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"ReplicationSubnetGroupDoesNotCoverEnoughAZs"},
        {"shape":"InvalidSubnet"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Modifies an existing DMS Serverless replication configuration that you can use to start a replication. This command includes input validation and logic to check the state of any replication that uses this configuration. You can only modify a replication configuration before any replication that uses it has started. As soon as you have initially started a replication with a given configuiration, you can't modify that configuration, even if you stop it.</p> <p>Other run statuses that allow you to run this command include FAILED and CREATED. A provisioning state that allows you to run this command is FAILED_PROVISION.</p>"
    },
    "ModifyReplicationInstance":{
      "name":"ModifyReplicationInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyReplicationInstanceMessage"},
      "output":{"shape":"ModifyReplicationInstanceResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceAlreadyExistsFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InsufficientResourceCapacityFault"},
        {"shape":"StorageQuotaExceededFault"},
        {"shape":"UpgradeDependencyFailureFault"}
      ],
      "documentation":"<p>Modifies the replication instance to apply new settings. You can change one or more parameters by specifying these parameters and the new values in the request.</p> <p>Some settings are applied during the maintenance window.</p> <p/>"
    },
    "ModifyReplicationSubnetGroup":{
      "name":"ModifyReplicationSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyReplicationSubnetGroupMessage"},
      "output":{"shape":"ModifyReplicationSubnetGroupResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"ResourceQuotaExceededFault"},
        {"shape":"SubnetAlreadyInUse"},
        {"shape":"ReplicationSubnetGroupDoesNotCoverEnoughAZs"},
        {"shape":"InvalidSubnet"}
      ],
      "documentation":"<p>Modifies the settings for the specified replication subnet group.</p>"
    },
    "ModifyReplicationTask":{
      "name":"ModifyReplicationTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyReplicationTaskMessage"},
      "output":{"shape":"ModifyReplicationTaskResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"ResourceAlreadyExistsFault"},
        {"shape":"KMSKeyNotAccessibleFault"}
      ],
      "documentation":"<p>Modifies the specified replication task.</p> <p>You can't modify the task endpoints. The task must be stopped before you can modify it. </p> <p>For more information about DMS tasks, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Tasks.html\">Working with Migration Tasks</a> in the <i>Database Migration Service User Guide</i>.</p>"
    },
    "MoveReplicationTask":{
      "name":"MoveReplicationTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"MoveReplicationTaskMessage"},
      "output":{"shape":"MoveReplicationTaskResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"ResourceQuotaExceededFault"}
      ],
      "documentation":"<p>Moves a replication task from its current replication instance to a different target replication instance using the specified parameters. The target replication instance must be created with the same or later DMS version as the current replication instance.</p>"
    },
    "RebootReplicationInstance":{
      "name":"RebootReplicationInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RebootReplicationInstanceMessage"},
      "output":{"shape":"RebootReplicationInstanceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Reboots a replication instance. Rebooting results in a momentary outage, until the replication instance becomes available again.</p>"
    },
    "RefreshSchemas":{
      "name":"RefreshSchemas",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RefreshSchemasMessage"},
      "output":{"shape":"RefreshSchemasResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"ResourceQuotaExceededFault"}
      ],
      "documentation":"<p>Populates the schema for the specified endpoint. This is an asynchronous operation and can take several minutes. You can check the status of this operation by calling the DescribeRefreshSchemasStatus operation.</p>"
    },
    "ReloadReplicationTables":{
      "name":"ReloadReplicationTables",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ReloadReplicationTablesMessage"},
      "output":{"shape":"ReloadReplicationTablesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Reloads the target database table with the source data for a given DMS Serverless replication configuration.</p> <p>You can only use this operation with a task in the RUNNING state, otherwise the service will throw an <code>InvalidResourceStateFault</code> exception.</p>"
    },
    "ReloadTables":{
      "name":"ReloadTables",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ReloadTablesMessage"},
      "output":{"shape":"ReloadTablesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Reloads the target database table with the source data. </p> <p>You can only use this operation with a task in the <code>RUNNING</code> state, otherwise the service will throw an <code>InvalidResourceStateFault</code> exception.</p>"
    },
    "RemoveTagsFromResource":{
      "name":"RemoveTagsFromResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveTagsFromResourceMessage"},
      "output":{"shape":"RemoveTagsFromResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Removes metadata tags from an DMS resource, including replication instance, endpoint, subnet group, and migration task. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/APIReference/API_Tag.html\"> <code>Tag</code> </a> data type description.</p>"
    },
    "RunFleetAdvisorLsaAnalysis":{
      "name":"RunFleetAdvisorLsaAnalysis",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{"shape":"RunFleetAdvisorLsaAnalysisResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<important> <p> End of support notice: On May 20, 2026, Amazon Web Services will end support for Amazon Web Services DMS Fleet Advisor;. After May 20, 2026, you will no longer be able to access the Amazon Web Services DMS Fleet Advisor; console or Amazon Web Services DMS Fleet Advisor; resources. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/dms_fleet.advisor-end-of-support.html\">Amazon Web Services DMS Fleet Advisor end of support</a>. </p> </important> <p>Runs large-scale assessment (LSA) analysis on every Fleet Advisor collector in your account.</p>"
    },
    "StartDataMigration":{
      "name":"StartDataMigration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartDataMigrationMessage"},
      "output":{"shape":"StartDataMigrationResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"},
        {"shape":"InvalidOperationFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"ResourceQuotaExceededFault"},
        {"shape":"FailedDependencyFault"}
      ],
      "documentation":"<p>Starts the specified data migration.</p>"
    },
    "StartExtensionPackAssociation":{
      "name":"StartExtensionPackAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartExtensionPackAssociationMessage"},
      "output":{"shape":"StartExtensionPackAssociationResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceAlreadyExistsFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"ResourceQuotaExceededFault"},
        {"shape":"S3ResourceNotFoundFault"},
        {"shape":"S3AccessDeniedFault"}
      ],
      "documentation":"<p>Applies the extension pack to your target database. An extension pack is an add-on module that emulates functions present in a source database that are required when converting objects to the target database. </p>"
    },
    "StartMetadataModelAssessment":{
      "name":"StartMetadataModelAssessment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartMetadataModelAssessmentMessage"},
      "output":{"shape":"StartMetadataModelAssessmentResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceAlreadyExistsFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"ResourceQuotaExceededFault"},
        {"shape":"S3ResourceNotFoundFault"},
        {"shape":"S3AccessDeniedFault"}
      ],
      "documentation":"<p>Creates a database migration assessment report by assessing the migration complexity for your source database. A database migration assessment report summarizes all of the schema conversion tasks. It also details the action items for database objects that can't be converted to the database engine of your target database instance. </p>"
    },
    "StartMetadataModelConversion":{
      "name":"StartMetadataModelConversion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartMetadataModelConversionMessage"},
      "output":{"shape":"StartMetadataModelConversionResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceAlreadyExistsFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"ResourceQuotaExceededFault"},
        {"shape":"S3ResourceNotFoundFault"},
        {"shape":"S3AccessDeniedFault"}
      ],
      "documentation":"<p>Converts your source database objects to a format compatible with the target database. </p>"
    },
    "StartMetadataModelExportAsScript":{
      "name":"StartMetadataModelExportAsScript",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartMetadataModelExportAsScriptMessage"},
      "output":{"shape":"StartMetadataModelExportAsScriptResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceAlreadyExistsFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"ResourceQuotaExceededFault"},
        {"shape":"S3ResourceNotFoundFault"},
        {"shape":"S3AccessDeniedFault"}
      ],
      "documentation":"<p>Saves your converted code to a file as a SQL script, and stores this file on your Amazon S3 bucket.</p>"
    },
    "StartMetadataModelExportToTarget":{
      "name":"StartMetadataModelExportToTarget",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartMetadataModelExportToTargetMessage"},
      "output":{"shape":"StartMetadataModelExportToTargetResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceAlreadyExistsFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"ResourceQuotaExceededFault"},
        {"shape":"S3ResourceNotFoundFault"},
        {"shape":"S3AccessDeniedFault"}
      ],
      "documentation":"<p>Applies converted database objects to your target database. </p>"
    },
    "StartMetadataModelImport":{
      "name":"StartMetadataModelImport",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartMetadataModelImportMessage"},
      "output":{"shape":"StartMetadataModelImportResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceAlreadyExistsFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"ResourceQuotaExceededFault"},
        {"shape":"S3ResourceNotFoundFault"},
        {"shape":"S3AccessDeniedFault"}
      ],
      "documentation":"<p>Loads the metadata for all the dependent database objects of the parent object.</p> <p>This operation uses your project's Amazon S3 bucket as a metadata cache to improve performance.</p>"
    },
    "StartRecommendations":{
      "name":"StartRecommendations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartRecommendationsRequest"},
      "errors":[
        {"shape":"InvalidResourceStateFault"},
        {"shape":"AccessDeniedFault"},
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<important> <p> End of support notice: On May 20, 2026, Amazon Web Services will end support for Amazon Web Services DMS Fleet Advisor;. After May 20, 2026, you will no longer be able to access the Amazon Web Services DMS Fleet Advisor; console or Amazon Web Services DMS Fleet Advisor; resources. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/dms_fleet.advisor-end-of-support.html\">Amazon Web Services DMS Fleet Advisor end of support</a>. </p> </important> <p>Starts the analysis of your source database to provide recommendations of target engines.</p> <p>You can create recommendations for multiple source databases using <a href=\"https://docs.aws.amazon.com/dms/latest/APIReference/API_BatchStartRecommendations.html\">BatchStartRecommendations</a>.</p>"
    },
    "StartReplication":{
      "name":"StartReplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartReplicationMessage"},
      "output":{"shape":"StartReplicationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"AccessDeniedFault"}
      ],
      "documentation":"<p>For a given DMS Serverless replication configuration, DMS connects to the source endpoint and collects the metadata to analyze the replication workload. Using this metadata, DMS then computes and provisions the required capacity and starts replicating to the target endpoint using the server resources that DMS has provisioned for the DMS Serverless replication.</p>"
    },
    "StartReplicationTask":{
      "name":"StartReplicationTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartReplicationTaskMessage"},
      "output":{"shape":"StartReplicationTaskResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"AccessDeniedFault"}
      ],
      "documentation":"<p>Starts the replication task.</p> <p>For more information about DMS tasks, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Tasks.html\">Working with Migration Tasks </a> in the <i>Database Migration Service User Guide.</i> </p>"
    },
    "StartReplicationTaskAssessment":{
      "name":"StartReplicationTaskAssessment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartReplicationTaskAssessmentMessage"},
      "output":{"shape":"StartReplicationTaskAssessmentResponse"},
      "errors":[
        {"shape":"InvalidResourceStateFault"},
        {"shape":"ResourceNotFoundFault"}
      ],
      "documentation":"<p> Starts the replication task assessment for unsupported data types in the source database. </p> <p>You can only use this operation for a task if the following conditions are true:</p> <ul> <li> <p>The task must be in the <code>stopped</code> state.</p> </li> <li> <p>The task must have successful connections to the source and target.</p> </li> </ul> <p>If either of these conditions are not met, an <code>InvalidResourceStateFault</code> error will result. </p> <p>For information about DMS task assessments, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Tasks.AssessmentReport.html\">Creating a task assessment report</a> in the <i>Database Migration Service User Guide</i>.</p>"
    },
    "StartReplicationTaskAssessmentRun":{
      "name":"StartReplicationTaskAssessmentRun",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartReplicationTaskAssessmentRunMessage"},
      "output":{"shape":"StartReplicationTaskAssessmentRunResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"KMSAccessDeniedFault"},
        {"shape":"KMSDisabledFault"},
        {"shape":"KMSFault"},
        {"shape":"KMSInvalidStateFault"},
        {"shape":"KMSNotFoundFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"S3AccessDeniedFault"},
        {"shape":"S3ResourceNotFoundFault"},
        {"shape":"ResourceAlreadyExistsFault"}
      ],
      "documentation":"<p>Starts a new premigration assessment run for one or more individual assessments of a migration task.</p> <p>The assessments that you can specify depend on the source and target database engine and the migration type defined for the given task. To run this operation, your migration task must already be created. After you run this operation, you can review the status of each individual assessment. You can also run the migration task manually after the assessment run and its individual assessments complete.</p>"
    },
    "StopDataMigration":{
      "name":"StopDataMigration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopDataMigrationMessage"},
      "output":{"shape":"StopDataMigrationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"FailedDependencyFault"}
      ],
      "documentation":"<p>Stops the specified data migration.</p>"
    },
    "StopReplication":{
      "name":"StopReplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopReplicationMessage"},
      "output":{"shape":"StopReplicationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"AccessDeniedFault"}
      ],
      "documentation":"<p>For a given DMS Serverless replication configuration, DMS stops any and all ongoing DMS Serverless replications. This command doesn't deprovision the stopped replications.</p>"
    },
    "StopReplicationTask":{
      "name":"StopReplicationTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopReplicationTaskMessage"},
      "output":{"shape":"StopReplicationTaskResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Stops the replication task.</p>"
    },
    "TestConnection":{
      "name":"TestConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TestConnectionMessage"},
      "output":{"shape":"TestConnectionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundFault"},
        {"shape":"InvalidResourceStateFault"},
        {"shape":"KMSKeyNotAccessibleFault"},
        {"shape":"ResourceQuotaExceededFault"},
        {"shape":"AccessDeniedFault"}
      ],
      "documentation":"<p>Tests the connection between the replication instance and the endpoint.</p>"
    },
    "UpdateSubscriptionsToEventBridge":{
      "name":"UpdateSubscriptionsToEventBridge",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateSubscriptionsToEventBridgeMessage"},
      "output":{"shape":"UpdateSubscriptionsToEventBridgeResponse"},
      "errors":[
        {"shape":"AccessDeniedFault"},
        {"shape":"InvalidResourceStateFault"}
      ],
      "documentation":"<p>Migrates 10 active and enabled Amazon SNS subscriptions at a time and converts them to corresponding Amazon EventBridge rules. By default, this operation migrates subscriptions only when all your replication instance versions are 3.4.5 or higher. If any replication instances are from versions earlier than 3.4.5, the operation raises an error and tells you to upgrade these instances to version 3.4.5 or higher. To enable migration regardless of version, set the <code>Force</code> option to true. However, if you don't upgrade instances earlier than version 3.4.5, some types of events might not be available when you use Amazon EventBridge.</p> <p>To call this operation, make sure that you have certain permissions added to your user account. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Events.html#CHAP_Events-migrate-to-eventbridge\">Migrating event subscriptions to Amazon EventBridge</a> in the <i>Amazon Web Services Database Migration Service User Guide</i>.</p>"
    }
  },
  "shapes":{
    "AccessDeniedFault":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"ExceptionMessage",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p>DMS was denied access to the endpoint. Check that the role is correctly configured.</p>",
      "exception":true
    },
    "AccountQuota":{
      "type":"structure",
      "members":{
        "AccountQuotaName":{
          "shape":"String",
          "documentation":"<p>The name of the DMS quota for this Amazon Web Services account.</p>"
        },
        "Used":{
          "shape":"Long",
          "documentation":"<p>The amount currently used toward the quota maximum.</p>"
        },
        "Max":{
          "shape":"Long",
          "documentation":"<p>The maximum allowed value for the quota.</p>"
        }
      },
      "documentation":"<p>Describes a quota for an Amazon Web Services account, for example the number of replication instances allowed.</p>"
    },
    "AccountQuotaList":{
      "type":"list",
      "member":{"shape":"AccountQuota"}
    },
    "AddTagsToResourceMessage":{
      "type":"structure",
      "required":[
        "ResourceArn",
        "Tags"
      ],
      "members":{
        "ResourceArn":{
          "shape":"String",
          "documentation":"<p>Identifies the DMS resource to which tags should be added. The value for this parameter is an Amazon Resource Name (ARN).</p> <p>For DMS, you can tag a replication instance, an endpoint, or a replication task.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>One or more tags to be assigned to the resource.</p>"
        }
      },
      "documentation":"<p>Associates a set of tags with an DMS resource.</p>"
    },
    "AddTagsToResourceResponse":{
      "type":"structure",
      "members":{},
      "documentation":"<p/>"
    },
    "ApplyPendingMaintenanceActionMessage":{
      "type":"structure",
      "required":[
        "ReplicationInstanceArn",
        "ApplyAction",
        "OptInType"
      ],
      "members":{
        "ReplicationInstanceArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the DMS resource that the pending maintenance action applies to.</p>"
        },
        "ApplyAction":{
          "shape":"String",
          "documentation":"<p>The pending maintenance action to apply to this resource.</p> <p>Valid values: <code>os-upgrade</code>, <code>system-update</code>, <code>db-upgrade</code>, <code>os-patch</code> </p>"
        },
        "OptInType":{
          "shape":"String",
          "documentation":"<p>A value that specifies the type of opt-in request, or undoes an opt-in request. You can't undo an opt-in request of type <code>immediate</code>.</p> <p>Valid values:</p> <ul> <li> <p> <code>immediate</code> - Apply the maintenance action immediately.</p> </li> <li> <p> <code>next-maintenance</code> - Apply the maintenance action during the next maintenance window for the resource.</p> </li> <li> <p> <code>undo-opt-in</code> - Cancel any existing <code>next-maintenance</code> opt-in requests.</p> </li> </ul>"
        }
      },
      "documentation":"<p/>"
    },
    "ApplyPendingMaintenanceActionResponse":{
      "type":"structure",
      "members":{
        "ResourcePendingMaintenanceActions":{
          "shape":"ResourcePendingMaintenanceActions",
          "documentation":"<p>The DMS resource that the pending maintenance action will be applied to.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "ArnList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "AssessmentReportType":{
      "type":"string",
      "enum":[
        "pdf",
        "csv"
      ]
    },
    "AssessmentReportTypesList":{
      "type":"list",
      "member":{"shape":"AssessmentReportType"},
      "min":1
    },
    "AuthMechanismValue":{
      "type":"string",
      "enum":[
        "default",
        "mongodb_cr",
        "scram_sha_1"
      ]
    },
    "AuthTypeValue":{
      "type":"string",
      "enum":[
        "no",
        "password"
      ]
    },
    "AvailabilityZone":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>The name of the Availability Zone.</p>"
        }
      },
      "documentation":"<p>The name of an Availability Zone for use during database migration. <code>AvailabilityZone</code> is an optional parameter to the <a href=\"https://docs.aws.amazon.com/dms/latest/APIReference/API_CreateReplicationInstance.html\"> <code>CreateReplicationInstance</code> </a> operation, and it’s value relates to the Amazon Web Services Region of an endpoint. For example, the availability zone of an endpoint in the us-east-1 region might be us-east-1a, us-east-1b, us-east-1c, or us-east-1d.</p>"
    },
    "AvailabilityZonesList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "AvailableUpgradesList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "BatchStartRecommendationsErrorEntry":{
      "type":"structure",
      "members":{
        "DatabaseId":{
          "shape":"String",
          "documentation":"<p>The identifier of the source database.</p>"
        },
        "Message":{
          "shape":"String",
          "documentation":"<p>The information about the error.</p>"
        },
        "Code":{
          "shape":"String",
          "documentation":"<p>The code of an error that occurred during the analysis of the source database.</p>"
        }
      },
      "documentation":"<p>Provides information about the errors that occurred during the analysis of the source database.</p>"
    },
    "BatchStartRecommendationsErrorEntryList":{
      "type":"list",
      "member":{"shape":"BatchStartRecommendationsErrorEntry"}
    },
    "BatchStartRecommendationsRequest":{
      "type":"structure",
      "members":{
        "Data":{
          "shape":"StartRecommendationsRequestEntryList",
          "documentation":"<p>Provides information about source databases to analyze. After this analysis, Fleet Advisor recommends target engines for each source database.</p>"
        }
      }
    },
    "BatchStartRecommendationsResponse":{
      "type":"structure",
      "members":{
        "ErrorEntries":{
          "shape":"BatchStartRecommendationsErrorEntryList",
          "documentation":"<p>A list with error details about the analysis of each source database.</p>"
        }
      }
    },
    "Boolean":{"type":"boolean"},
    "BooleanOptional":{"type":"boolean"},
    "CancelReplicationTaskAssessmentRunMessage":{
      "type":"structure",
      "required":["ReplicationTaskAssessmentRunArn"],
      "members":{
        "ReplicationTaskAssessmentRunArn":{
          "shape":"String",
          "documentation":"<p>Amazon Resource Name (ARN) of the premigration assessment run to be canceled.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "CancelReplicationTaskAssessmentRunResponse":{
      "type":"structure",
      "members":{
        "ReplicationTaskAssessmentRun":{
          "shape":"ReplicationTaskAssessmentRun",
          "documentation":"<p>The <code>ReplicationTaskAssessmentRun</code> object for the canceled assessment run.</p>"
        }
      },
      "documentation":"<p/>"
    },
    "CannedAclForObjectsValue":{
      "type":"string",
      "enum":[
        "none",
        "private",
        "public-read",
        "public-read-write",
        "authenticated-read",
        "aws-exec-read",
        "bucket-owner-read",
        "bucket-owner-full-control"
      ]
    },
    "Certificate":{
      "type":"structure",
      "members":{
        "CertificateIdentifier":{
          "shape":"String",
          "documentation":"<p>A customer-assigned name for the certificate. Identifiers must begin with a letter and must contain only ASCII letters, digits, and hyphens. They can't end with a hyphen or contain two consecutive hyphens.</p>"
        },
        "CertificateCreationDate":{
          "shape":"TStamp",
          "documentation":"<p>The date that the certificate was created.</p>"
        },
        "CertificatePem":{
          "shape":"String",
          "documentation":"<p>The contents of a <code>.pem</code> file, which contains an X.509 certificate.</p>"
        },
        "CertificateWallet":{
          "shape":"CertificateWallet",
          "documentation":"<p>The location of an imported Oracle Wallet certificate for use with SSL. Example: <code>filebase64(\"${path.root}/rds-ca-2019-root.sso\")</code> </p>"
        },
        "CertificateArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) for the certificate.</p>"
        },
        "CertificateOwner":{
          "shape":"String",
          "documentation":"<p>The owner of the certificate.</p>"
        },
        "ValidFromDate":{
          "shape":"TStamp",
          "documentation":"<p>The beginning date that the certificate is valid.</p>"
        },
        "ValidToDate":{
          "shape":"TStamp",
          "documentation":"<p>The final date that the certificate is valid.</p>"
        },
        "SigningAlgorithm":{
          "shape":"String",
          "documentation":"<p>The signing algorithm for the certificate.</p>"
        },
        "KeyLength":{
          "shape":"IntegerOptional",
          "documentation":"<p>The key length of the cryptographic algorithm being used.</p>"
        }
      },
      "documentation":"<p>The SSL certificate that can be used to encrypt connections between the endpoints and the replication instance.</p>"
    },
    "CertificateList":{
      "type":"list",
      "member":{"shape":"Certificate"}
    },
    "CertificateWallet":{"type":"blob"},
    "CharLengthSemantics":{
      "type":"string",
      "enum":[
        "default",
        "char",
        "byte"
      ]
    },
    "CollectorHealthCheck":{
      "type":"structure",
      "members":{
        "CollectorStatus":{
          "shape":"CollectorStatus",
          "documentation":"<p>The status of the Fleet Advisor collector.</p>"
        },
        "LocalCollectorS3Access":{
          "shape":"BooleanOptional",
          "documentation":"<p>Whether the local collector can access its Amazon S3 bucket.</p>"
        },
        "WebCollectorS3Access":{
          "shape":"BooleanOptional",
          "documentation":"<p>Whether the web collector can access its Amazon S3 bucket.</p>"
        },
        "WebCollectorGrantedRoleBasedAccess":{
          "shape":"BooleanOptional",
          "documentation":"<p>Whether the role that you provided when creating the Fleet Advisor collector has sufficient permissions to access the Fleet Advisor web collector.</p>"
        }
      },
      "documentation":"<p>Describes the last Fleet Advisor collector health check.</p>"
    },
    "CollectorNotFoundFault":{
      "type":"structure",
      "members":{
        "message":{"shape":"ExceptionMessage"}
      },
      "documentation":"<p>The specified collector doesn't exist.</p>",
      "exception":true
    },
    "CollectorResponse":{
      "type":"structure",
      "members":{
        "CollectorReferencedId":{
          "shape":"String",
          "documentation":"<p>The reference ID of the Fleet Advisor collector.</p>"
        },
        "CollectorName":{
          "shape":"String",
          "documentation":"<p>The name of the Fleet Advisor collector .</p>"
        },
        "CollectorVersion":{
          "shape":"String",
          "documentation":"<p>The version of your Fleet Advisor collector, in semantic versioning format, for example <code>1.0.2</code> </p>"
        },
        "VersionStatus":{
          "shape":"VersionStatus",
          "documentation":"<p>Whether the collector version is up to date.</p>"
        },
        "Description":{
          "shape":"String",
          "documentation":"<p>A summary description of the Fleet Advisor collector.</p>"
        },
        "S3BucketName":{
          "shape":"String",
          "documentation":"<p>The Amazon S3 bucket that the Fleet Advisor collector uses to store inventory metadata.</p>"
        },
        "ServiceAccessRoleArn":{
          "shape":"String",
          "documentation":"<p>The IAM role that grants permissions to access the specified Amazon S3 bucket.</p>"
        },
        "CollectorHealthCheck":{"shape":"CollectorHealthCheck"},
        "LastDataReceived":{
          "shape":"String",
          "documentation":"<p>The timestamp of the last time the collector received data, in the following format: <code>2022-01-24T19:04:02.596113Z</code> </p>"
        },
        "RegisteredDate":{
          "shape":"String",
          "documentation":"<p>The timestamp when DMS registered the collector, in the following format: <code>2022-01-24T19:04:02.596113Z</code> </p>"
        },
        "CreatedDate":{
          "shape":"String",
          "documentation":"<p>The timestamp when you created the collector, in the following format: <code>2022-01-24T19:04:02.596113Z</code> </p>"
        },
        "ModifiedDate":{
          "shape":"String",
          "documentation":"<p>The timestamp when DMS last modified the collector, in the following format: <code>2022-01-24T19:04:02.596113Z</code> </p>"
        },
        "InventoryData":{"shape":"InventoryData"}
      },
      "documentation":"<p>Describes a Fleet Advisor collector.</p>"
    },
    "CollectorResponses":{
      "type":"list",
      "member":{"shape":"CollectorResponse"}
    },
    "CollectorShortInfoResponse":{
      "type":"structure",
      "members":{
        "CollectorReferencedId":{
          "shape":"String",
          "documentation":"<p>The reference ID of the Fleet Advisor collector.</p>"
        },
        "CollectorName":{
          "shape":"String",
          "documentation":"<p>The name of the Fleet Advisor collector.</p>"
        }
      },
      "documentation":"<p>Briefly describes a Fleet Advisor collector.</p>"
    },
    "CollectorStatus":{
      "type":"string",
      "enum":[
        "UNREGISTERED",
        "ACTIVE"
      ]
    },
    "CollectorsList":{
      "type":"list",
      "member":{"shape":"CollectorShortInfoResponse"}
    },
    "CompressionTypeValue":{
      "type":"string",
      "enum":[
        "none",
        "gzip"
      ]
    },
    "ComputeConfig":{
      "type":"structure",
      "members":{
        "AvailabilityZone":{
          "shape":"String",
          "documentation":"<p>The Availability Zone where the DMS Serverless replication using this configuration will run. The default value is a random, system-chosen Availability Zone in the configuration's Amazon Web Services Region, for example, <code>\"us-west-2\"</code>. You can't set this parameter if the <code>MultiAZ</code> parameter is set to <code>true</code>.</p>"
        },
        "DnsNameServers":{
          "shape":"String",
          "documentation":"<p>A list of custom DNS name servers supported for the DMS Serverless replication to access your source or target database. This list overrides the default name servers supported by the DMS Serverless replication. You can specify a comma-separated list of internet addresses for up to four DNS name servers. For example: <code>\"1.1.1.1,2.2.2.2,3.3.3.3,4.4.4.4\"</code> </p>"
        },
        "KmsKeyId":{
          "shape":"String",
          "documentation":"<p>An Key Management Service (KMS) key Amazon Resource Name (ARN) that is used to encrypt the data during DMS Serverless replication.</p> <p>If you don't specify a value for the <code>KmsKeyId</code> parameter, DMS uses your default encryption key.</p> <p>KMS creates the default encryption key for your Amazon Web Services account. Your Amazon Web Services account has a different default encryption key for each Amazon Web Services Region.</p>"
        },
        "MaxCapacityUnits":{
          "shape":"IntegerOptional",
[...]
