{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2015-02-02",
    "endpointPrefix":"elasticache",
    "protocol":"query",
    "protocols":["query"],
    "serviceFullName":"Amazon ElastiCache",
    "serviceId":"ElastiCache",
    "signatureVersion":"v4",
    "uid":"elasticache-2015-02-02",
    "xmlNamespace":"http://elasticache.amazonaws.com/doc/2015-02-02/",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AddTagsToResource":{
      "name":"AddTagsToResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddTagsToResourceMessage"},
      "output":{
        "shape":"TagListMessage",
        "resultWrapper":"AddTagsToResourceResult"
      },
      "errors":[
        {"shape":"CacheClusterNotFoundFault"},
        {"shape":"CacheParameterGroupNotFoundFault"},
        {"shape":"CacheSecurityGroupNotFoundFault"},
        {"shape":"CacheSubnetGroupNotFoundFault"},
        {"shape":"InvalidReplicationGroupStateFault"},
        {"shape":"ReplicationGroupNotFoundFault"},
        {"shape":"ReservedCacheNodeNotFoundFault"},
        {"shape":"SnapshotNotFoundFault"},
        {"shape":"UserNotFoundFault"},
        {"shape":"UserGroupNotFoundFault"},
        {"shape":"ServerlessCacheNotFoundFault"},
        {"shape":"InvalidServerlessCacheStateFault"},
        {"shape":"ServerlessCacheSnapshotNotFoundFault"},
        {"shape":"InvalidServerlessCacheSnapshotStateFault"},
        {"shape":"TagQuotaPerResourceExceeded"},
        {"shape":"InvalidARNFault"}
      ],
      "documentation":"<p>A tag is a key-value pair where the key and value are case-sensitive. You can use tags to categorize and track all your ElastiCache resources, with the exception of global replication group. When you add or remove tags on replication groups, those actions will be replicated to all nodes in the replication group. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/dg/IAM.ResourceLevelPermissions.html\">Resource-level permissions</a>.</p> <p> For example, you can use cost-allocation tags to your ElastiCache resources, Amazon generates a cost allocation report as a comma-separated value (CSV) file with your usage and costs aggregated by your tags. You can apply tags that represent business categories (such as cost centers, application names, or owners) to organize your costs across multiple services.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/dg/Tagging.html\">Using Cost Allocation Tags in Amazon ElastiCache</a> in the <i>ElastiCache User Guide</i>.</p>"
    },
    "AuthorizeCacheSecurityGroupIngress":{
      "name":"AuthorizeCacheSecurityGroupIngress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AuthorizeCacheSecurityGroupIngressMessage"},
      "output":{
        "shape":"AuthorizeCacheSecurityGroupIngressResult",
        "resultWrapper":"AuthorizeCacheSecurityGroupIngressResult"
      },
      "errors":[
        {"shape":"CacheSecurityGroupNotFoundFault"},
        {"shape":"InvalidCacheSecurityGroupStateFault"},
        {"shape":"AuthorizationAlreadyExistsFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Allows network ingress to a cache security group. Applications using ElastiCache must be running on Amazon EC2, and Amazon EC2 security groups are used as the authorization mechanism.</p> <note> <p>You cannot authorize ingress from an Amazon EC2 security group in one region to an ElastiCache cluster in another region.</p> </note>"
    },
    "BatchApplyUpdateAction":{
      "name":"BatchApplyUpdateAction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchApplyUpdateActionMessage"},
      "output":{
        "shape":"UpdateActionResultsMessage",
        "resultWrapper":"BatchApplyUpdateActionResult"
      },
      "errors":[
        {"shape":"ServiceUpdateNotFoundFault"},
        {"shape":"InvalidParameterValueException"}
      ],
      "documentation":"<p>Apply the service update. For more information on service updates and applying them, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/dg/applying-updates.html\">Applying Service Updates</a>.</p>"
    },
    "BatchStopUpdateAction":{
      "name":"BatchStopUpdateAction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchStopUpdateActionMessage"},
      "output":{
        "shape":"UpdateActionResultsMessage",
        "resultWrapper":"BatchStopUpdateActionResult"
      },
      "errors":[
        {"shape":"ServiceUpdateNotFoundFault"},
        {"shape":"InvalidParameterValueException"}
      ],
      "documentation":"<p>Stop the service update. For more information on service updates and stopping them, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/dg/stopping-self-service-updates.html\">Stopping Service Updates</a>.</p>"
    },
    "CompleteMigration":{
      "name":"CompleteMigration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CompleteMigrationMessage"},
      "output":{
        "shape":"CompleteMigrationResponse",
        "resultWrapper":"CompleteMigrationResult"
      },
      "errors":[
        {"shape":"ReplicationGroupNotFoundFault"},
        {"shape":"InvalidReplicationGroupStateFault"},
        {"shape":"ReplicationGroupNotUnderMigrationFault"}
      ],
      "documentation":"<p>Complete the migration of data.</p>"
    },
    "CopyServerlessCacheSnapshot":{
      "name":"CopyServerlessCacheSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopyServerlessCacheSnapshotRequest"},
      "output":{
        "shape":"CopyServerlessCacheSnapshotResponse",
        "resultWrapper":"CopyServerlessCacheSnapshotResult"
      },
      "errors":[
        {"shape":"ServerlessCacheSnapshotAlreadyExistsFault"},
        {"shape":"ServerlessCacheSnapshotNotFoundFault"},
        {"shape":"ServerlessCacheSnapshotQuotaExceededFault"},
        {"shape":"InvalidServerlessCacheSnapshotStateFault"},
        {"shape":"ServiceLinkedRoleNotFoundFault"},
        {"shape":"TagQuotaPerResourceExceeded"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Creates a copy of an existing serverless cache’s snapshot. Available for Valkey, Redis OSS and Serverless Memcached only.</p>"
    },
    "CopySnapshot":{
      "name":"CopySnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopySnapshotMessage"},
      "output":{
        "shape":"CopySnapshotResult",
        "resultWrapper":"CopySnapshotResult"
      },
      "errors":[
        {"shape":"SnapshotAlreadyExistsFault"},
        {"shape":"SnapshotNotFoundFault"},
        {"shape":"SnapshotQuotaExceededFault"},
        {"shape":"InvalidSnapshotStateFault"},
        {"shape":"TagQuotaPerResourceExceeded"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Makes a copy of an existing snapshot.</p> <note> <p>This operation is valid for Valkey or Redis OSS only.</p> </note> <important> <p>Users or groups that have permissions to use the <code>CopySnapshot</code> operation can create their own Amazon S3 buckets and copy snapshots to it. To control access to your snapshots, use an IAM policy to control who has the ability to use the <code>CopySnapshot</code> operation. For more information about using IAM to control the use of ElastiCache operations, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/dg/backups-exporting.html\">Exporting Snapshots</a> and <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/dg/IAM.html\">Authentication &amp; Access Control</a>.</p> </important> <p>You could receive the following error messages.</p> <p class=\"title\"> <b>Error Messages</b> </p> <ul> <li> <p> <b>Error Message:</b> The S3 bucket %s is outside of the region.</p> <p> <b>Solution:</b> Create an Amazon S3 bucket in the same region as your snapshot. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/dg/backups-exporting.html#backups-exporting-create-s3-bucket\">Step 1: Create an Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message:</b> The S3 bucket %s does not exist.</p> <p> <b>Solution:</b> Create an Amazon S3 bucket in the same region as your snapshot. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/dg/backups-exporting.html#backups-exporting-create-s3-bucket\">Step 1: Create an Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message:</b> The S3 bucket %s is not owned by the authenticated user.</p> <p> <b>Solution:</b> Create an Amazon S3 bucket in the same region as your snapshot. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/dg/backups-exporting.html#backups-exporting-create-s3-bucket\">Step 1: Create an Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message:</b> The authenticated user does not have sufficient permissions to perform the desired activity.</p> <p> <b>Solution:</b> Contact your system administrator to get the needed permissions.</p> </li> <li> <p> <b>Error Message:</b> The S3 bucket %s already contains an object with key %s.</p> <p> <b>Solution:</b> Give the <code>TargetSnapshotName</code> a new and unique value. If exporting a snapshot, you could alternatively create a new Amazon S3 bucket and use this same value for <code>TargetSnapshotName</code>.</p> </li> <li> <p> <b>Error Message: </b> ElastiCache has not been granted READ permissions %s on the S3 Bucket.</p> <p> <b>Solution:</b> Add List and Read permissions on the bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/dg/backups-exporting.html#backups-exporting-grant-access\">Step 2: Grant ElastiCache Access to Your Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message: </b> ElastiCache has not been granted WRITE permissions %s on the S3 Bucket.</p> <p> <b>Solution:</b> Add Upload/Delete permissions on the bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/dg/backups-exporting.html#backups-exporting-grant-access\">Step 2: Grant ElastiCache Access to Your Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message: </b> ElastiCache has not been granted READ_ACP permissions %s on the S3 Bucket.</p> <p> <b>Solution:</b> Add View Permissions on the bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/dg/backups-exporting.html#backups-exporting-grant-access\">Step 2: Grant ElastiCache Access to Your Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> </ul>"
    },
    "CreateCacheCluster":{
      "name":"CreateCacheCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCacheClusterMessage"},
      "output":{
        "shape":"CreateCacheClusterResult",
        "resultWrapper":"CreateCacheClusterResult"
      },
      "errors":[
        {"shape":"ReplicationGroupNotFoundFault"},
        {"shape":"InvalidReplicationGroupStateFault"},
        {"shape":"CacheClusterAlreadyExistsFault"},
        {"shape":"InsufficientCacheClusterCapacityFault"},
        {"shape":"CacheSecurityGroupNotFoundFault"},
        {"shape":"CacheSubnetGroupNotFoundFault"},
        {"shape":"ClusterQuotaForCustomerExceededFault"},
        {"shape":"NodeQuotaForClusterExceededFault"},
        {"shape":"NodeQuotaForCustomerExceededFault"},
        {"shape":"CacheParameterGroupNotFoundFault"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"TagQuotaPerResourceExceeded"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Creates a cluster. All nodes in the cluster run the same protocol-compliant cache engine software, either Memcached, Valkey or Redis OSS.</p> <p>This operation is not supported for Valkey or Redis OSS (cluster mode enabled) clusters.</p>"
    },
    "CreateCacheParameterGroup":{
      "name":"CreateCacheParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCacheParameterGroupMessage"},
      "output":{
        "shape":"CreateCacheParameterGroupResult",
        "resultWrapper":"CreateCacheParameterGroupResult"
      },
      "errors":[
        {"shape":"CacheParameterGroupQuotaExceededFault"},
        {"shape":"CacheParameterGroupAlreadyExistsFault"},
        {"shape":"InvalidCacheParameterGroupStateFault"},
        {"shape":"TagQuotaPerResourceExceeded"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Creates a new Amazon ElastiCache cache parameter group. An ElastiCache cache parameter group is a collection of parameters and their values that are applied to all of the nodes in any cluster or replication group using the CacheParameterGroup.</p> <p>A newly created CacheParameterGroup is an exact duplicate of the default parameter group for the CacheParameterGroupFamily. To customize the newly created CacheParameterGroup you can change the values of specific parameters. For more information, see:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/APIReference/API_ModifyCacheParameterGroup.html\">ModifyCacheParameterGroup</a> in the ElastiCache API Reference.</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/dg/ParameterGroups.html\">Parameters and Parameter Groups</a> in the ElastiCache User Guide.</p> </li> </ul>"
    },
    "CreateCacheSecurityGroup":{
      "name":"CreateCacheSecurityGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCacheSecurityGroupMessage"},
      "output":{
        "shape":"CreateCacheSecurityGroupResult",
        "resultWrapper":"CreateCacheSecurityGroupResult"
      },
      "errors":[
        {"shape":"CacheSecurityGroupAlreadyExistsFault"},
        {"shape":"CacheSecurityGroupQuotaExceededFault"},
        {"shape":"TagQuotaPerResourceExceeded"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Creates a new cache security group. Use a cache security group to control access to one or more clusters.</p> <p>Cache security groups are only used when you are creating a cluster outside of an Amazon Virtual Private Cloud (Amazon VPC). If you are creating a cluster inside of a VPC, use a cache subnet group instead. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/APIReference/API_CreateCacheSubnetGroup.html\">CreateCacheSubnetGroup</a>.</p>"
    },
    "CreateCacheSubnetGroup":{
      "name":"CreateCacheSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCacheSubnetGroupMessage"},
      "output":{
        "shape":"CreateCacheSubnetGroupResult",
        "resultWrapper":"CreateCacheSubnetGroupResult"
      },
      "errors":[
        {"shape":"CacheSubnetGroupAlreadyExistsFault"},
        {"shape":"CacheSubnetGroupQuotaExceededFault"},
        {"shape":"CacheSubnetQuotaExceededFault"},
        {"shape":"TagQuotaPerResourceExceeded"},
        {"shape":"InvalidSubnet"},
        {"shape":"SubnetNotAllowedFault"}
      ],
      "documentation":"<p>Creates a new cache subnet group.</p> <p>Use this parameter only when you are creating a cluster in an Amazon Virtual Private Cloud (Amazon VPC).</p>"
    },
    "CreateGlobalReplicationGroup":{
      "name":"CreateGlobalReplicationGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateGlobalReplicationGroupMessage"},
      "output":{
        "shape":"CreateGlobalReplicationGroupResult",
        "resultWrapper":"CreateGlobalReplicationGroupResult"
      },
      "errors":[
        {"shape":"ReplicationGroupNotFoundFault"},
        {"shape":"InvalidReplicationGroupStateFault"},
        {"shape":"GlobalReplicationGroupAlreadyExistsFault"},
        {"shape":"ServiceLinkedRoleNotFoundFault"},
        {"shape":"InvalidParameterValueException"}
      ],
      "documentation":"<p>Global Datastore offers fully managed, fast, reliable and secure cross-region replication. Using Global Datastore with Valkey or Redis OSS, you can create cross-region read replica clusters for ElastiCache to enable low-latency reads and disaster recovery across regions. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/dg/Redis-Global-Datastore.html\">Replication Across Regions Using Global Datastore</a>. </p> <ul> <li> <p>The <b>GlobalReplicationGroupIdSuffix</b> is the name of the Global datastore.</p> </li> <li> <p>The <b>PrimaryReplicationGroupId</b> represents the name of the primary cluster that accepts writes and will replicate updates to the secondary cluster.</p> </li> </ul>"
    },
    "CreateReplicationGroup":{
      "name":"CreateReplicationGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateReplicationGroupMessage"},
      "output":{
        "shape":"CreateReplicationGroupResult",
        "resultWrapper":"CreateReplicationGroupResult"
      },
      "errors":[
        {"shape":"CacheClusterNotFoundFault"},
        {"shape":"InvalidCacheClusterStateFault"},
        {"shape":"ReplicationGroupAlreadyExistsFault"},
        {"shape":"InvalidUserGroupStateFault"},
        {"shape":"UserGroupNotFoundFault"},
        {"shape":"InsufficientCacheClusterCapacityFault"},
        {"shape":"CacheSecurityGroupNotFoundFault"},
        {"shape":"CacheSubnetGroupNotFoundFault"},
        {"shape":"ClusterQuotaForCustomerExceededFault"},
        {"shape":"NodeQuotaForClusterExceededFault"},
        {"shape":"NodeQuotaForCustomerExceededFault"},
        {"shape":"CacheParameterGroupNotFoundFault"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"TagQuotaPerResourceExceeded"},
        {"shape":"NodeGroupsPerReplicationGroupQuotaExceededFault"},
        {"shape":"GlobalReplicationGroupNotFoundFault"},
        {"shape":"InvalidGlobalReplicationGroupStateFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Creates a Valkey or Redis OSS (cluster mode disabled) or a Valkey or Redis OSS (cluster mode enabled) replication group.</p> <p>This API can be used to create a standalone regional replication group or a secondary replication group associated with a Global datastore.</p> <p>A Valkey or Redis OSS (cluster mode disabled) replication group is a collection of nodes, where one of the nodes is a read/write primary and the others are read-only replicas. Writes to the primary are asynchronously propagated to the replicas.</p> <p>A Valkey or Redis OSS cluster-mode enabled cluster is comprised of from 1 to 90 shards (API/CLI: node groups). Each shard has a primary node and up to 5 read-only replica nodes. The configuration can range from 90 shards and 0 replicas to 15 shards and 5 replicas, which is the maximum number or replicas allowed. </p> <p>The node or shard limit can be increased to a maximum of 500 per cluster if the Valkey or Redis OSS engine version is 5.0.6 or higher. For example, you can choose to configure a 500 node cluster that ranges between 83 shards (one primary and 5 replicas per shard) and 500 shards (single primary and no replicas). Make sure there are enough available IP addresses to accommodate the increase. Common pitfalls include the subnets in the subnet group have too small a CIDR range or the subnets are shared and heavily used by other clusters. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/dg/SubnetGroups.Creating.html\">Creating a Subnet Group</a>. For versions below 5.0.6, the limit is 250 per cluster.</p> <p>To request a limit increase, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html\">Amazon Service Limits</a> and choose the limit type <b>Nodes per cluster per instance type</b>. </p> <p>When a Valkey or Redis OSS (cluster mode disabled) replication group has been successfully created, you can add one or more read replicas to it, up to a total of 5 read replicas. If you need to increase or decrease the number of node groups (console: shards), you can use scaling. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/dg/Scaling.html\">Scaling self-designed clusters</a> in the <i>ElastiCache User Guide</i>.</p> <note> <p>This operation is valid for Valkey and Redis OSS only.</p> </note>"
    },
    "CreateServerlessCache":{
      "name":"CreateServerlessCache",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateServerlessCacheRequest"},
      "output":{
        "shape":"CreateServerlessCacheResponse",
        "resultWrapper":"CreateServerlessCacheResult"
      },
      "errors":[
        {"shape":"ServerlessCacheNotFoundFault"},
        {"shape":"InvalidServerlessCacheStateFault"},
        {"shape":"ServerlessCacheAlreadyExistsFault"},
        {"shape":"ServerlessCacheQuotaForCustomerExceededFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"InvalidCredentialsException"},
        {"shape":"InvalidUserGroupStateFault"},
        {"shape":"UserGroupNotFoundFault"},
        {"shape":"TagQuotaPerResourceExceeded"},
        {"shape":"ServiceLinkedRoleNotFoundFault"}
      ],
      "documentation":"<p>Creates a serverless cache.</p>"
    },
    "CreateServerlessCacheSnapshot":{
      "name":"CreateServerlessCacheSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateServerlessCacheSnapshotRequest"},
      "output":{
        "shape":"CreateServerlessCacheSnapshotResponse",
        "resultWrapper":"CreateServerlessCacheSnapshotResult"
      },
      "errors":[
        {"shape":"ServerlessCacheSnapshotAlreadyExistsFault"},
        {"shape":"ServerlessCacheNotFoundFault"},
        {"shape":"InvalidServerlessCacheStateFault"},
        {"shape":"ServerlessCacheSnapshotQuotaExceededFault"},
        {"shape":"ServiceLinkedRoleNotFoundFault"},
        {"shape":"TagQuotaPerResourceExceeded"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>This API creates a copy of an entire ServerlessCache at a specific moment in time. Available for Valkey, Redis OSS and Serverless Memcached only.</p>"
    },
    "CreateSnapshot":{
      "name":"CreateSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSnapshotMessage"},
      "output":{
        "shape":"CreateSnapshotResult",
        "resultWrapper":"CreateSnapshotResult"
      },
      "errors":[
        {"shape":"SnapshotAlreadyExistsFault"},
        {"shape":"CacheClusterNotFoundFault"},
        {"shape":"ReplicationGroupNotFoundFault"},
        {"shape":"InvalidCacheClusterStateFault"},
        {"shape":"InvalidReplicationGroupStateFault"},
        {"shape":"SnapshotQuotaExceededFault"},
        {"shape":"SnapshotFeatureNotSupportedFault"},
        {"shape":"TagQuotaPerResourceExceeded"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"InvalidParameterValueException"}
      ],
      "documentation":"<p>Creates a copy of an entire cluster or replication group at a specific moment in time.</p> <note> <p>This operation is valid for Valkey or Redis OSS only.</p> </note>"
    },
    "CreateUser":{
      "name":"CreateUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateUserMessage"},
      "output":{
        "shape":"User",
        "resultWrapper":"CreateUserResult"
      },
      "errors":[
        {"shape":"UserAlreadyExistsFault"},
        {"shape":"UserQuotaExceededFault"},
        {"shape":"DuplicateUserNameFault"},
        {"shape":"ServiceLinkedRoleNotFoundFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"TagQuotaPerResourceExceeded"}
      ],
      "documentation":"<p>For Valkey engine version 7.2 onwards and Redis OSS 6.0 to 7.1: Creates a user. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/dg/Clusters.RBAC.html\">Using Role Based Access Control (RBAC)</a>.</p>"
    },
    "CreateUserGroup":{
      "name":"CreateUserGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateUserGroupMessage"},
      "output":{
        "shape":"UserGroup",
        "resultWrapper":"CreateUserGroupResult"
      },
      "errors":[
        {"shape":"UserNotFoundFault"},
        {"shape":"DuplicateUserNameFault"},
        {"shape":"UserGroupAlreadyExistsFault"},
        {"shape":"ServiceLinkedRoleNotFoundFault"},
        {"shape":"DefaultUserRequired"},
        {"shape":"UserGroupQuotaExceededFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"TagQuotaPerResourceExceeded"}
      ],
      "documentation":"<p>For Valkey engine version 7.2 onwards and Redis OSS 6.0 to 7.1: Creates a user group. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/dg/Clusters.RBAC.html\">Using Role Based Access Control (RBAC)</a> </p>"
    },
    "DecreaseNodeGroupsInGlobalReplicationGroup":{
      "name":"DecreaseNodeGroupsInGlobalReplicationGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DecreaseNodeGroupsInGlobalReplicationGroupMessage"},
      "output":{
        "shape":"DecreaseNodeGroupsInGlobalReplicationGroupResult",
        "resultWrapper":"DecreaseNodeGroupsInGlobalReplicationGroupResult"
      },
      "errors":[
        {"shape":"GlobalReplicationGroupNotFoundFault"},
        {"shape":"InvalidGlobalReplicationGroupStateFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Decreases the number of node groups in a Global datastore</p>"
    },
    "DecreaseReplicaCount":{
      "name":"DecreaseReplicaCount",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DecreaseReplicaCountMessage"},
      "output":{
        "shape":"DecreaseReplicaCountResult",
        "resultWrapper":"DecreaseReplicaCountResult"
      },
      "errors":[
        {"shape":"ReplicationGroupNotFoundFault"},
        {"shape":"InvalidReplicationGroupStateFault"},
        {"shape":"InvalidCacheClusterStateFault"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"InsufficientCacheClusterCapacityFault"},
        {"shape":"ClusterQuotaForCustomerExceededFault"},
        {"shape":"NodeGroupsPerReplicationGroupQuotaExceededFault"},
        {"shape":"NodeQuotaForCustomerExceededFault"},
        {"shape":"ServiceLinkedRoleNotFoundFault"},
        {"shape":"NoOperationFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Dynamically decreases the number of replicas in a Valkey or Redis OSS (cluster mode disabled) replication group or the number of replica nodes in one or more node groups (shards) of a Valkey or Redis OSS (cluster mode enabled) replication group. This operation is performed with no cluster down time.</p>"
    },
    "DeleteCacheCluster":{
      "name":"DeleteCacheCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCacheClusterMessage"},
      "output":{
        "shape":"DeleteCacheClusterResult",
        "resultWrapper":"DeleteCacheClusterResult"
      },
      "errors":[
        {"shape":"CacheClusterNotFoundFault"},
        {"shape":"InvalidCacheClusterStateFault"},
        {"shape":"SnapshotAlreadyExistsFault"},
        {"shape":"SnapshotFeatureNotSupportedFault"},
        {"shape":"SnapshotQuotaExceededFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Deletes a previously provisioned cluster. <code>DeleteCacheCluster</code> deletes all associated cache nodes, node endpoints and the cluster itself. When you receive a successful response from this operation, Amazon ElastiCache immediately begins deleting the cluster; you cannot cancel or revert this operation.</p> <p>This operation is not valid for:</p> <ul> <li> <p>Valkey or Redis OSS (cluster mode enabled) clusters</p> </li> <li> <p>Valkey or Redis OSS (cluster mode disabled) clusters</p> </li> <li> <p>A cluster that is the last read replica of a replication group</p> </li> <li> <p>A cluster that is the primary node of a replication group</p> </li> <li> <p>A node group (shard) that has Multi-AZ mode enabled</p> </li> <li> <p>A cluster from a Valkey or Redis OSS (cluster mode enabled) replication group</p> </li> <li> <p>A cluster that is not in the <code>available</code> state</p> </li> </ul>"
    },
    "DeleteCacheParameterGroup":{
      "name":"DeleteCacheParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCacheParameterGroupMessage"},
      "errors":[
        {"shape":"InvalidCacheParameterGroupStateFault"},
        {"shape":"CacheParameterGroupNotFoundFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Deletes the specified cache parameter group. You cannot delete a cache parameter group if it is associated with any cache clusters. You cannot delete the default cache parameter groups in your account.</p>"
    },
    "DeleteCacheSecurityGroup":{
      "name":"DeleteCacheSecurityGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCacheSecurityGroupMessage"},
      "errors":[
        {"shape":"InvalidCacheSecurityGroupStateFault"},
        {"shape":"CacheSecurityGroupNotFoundFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Deletes a cache security group.</p> <note> <p>You cannot delete a cache security group if it is associated with any clusters.</p> </note>"
    },
    "DeleteCacheSubnetGroup":{
      "name":"DeleteCacheSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCacheSubnetGroupMessage"},
      "errors":[
        {"shape":"CacheSubnetGroupInUse"},
        {"shape":"CacheSubnetGroupNotFoundFault"}
      ],
      "documentation":"<p>Deletes a cache subnet group.</p> <note> <p>You cannot delete a default cache subnet group or one that is associated with any clusters.</p> </note>"
    },
    "DeleteGlobalReplicationGroup":{
      "name":"DeleteGlobalReplicationGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteGlobalReplicationGroupMessage"},
      "output":{
        "shape":"DeleteGlobalReplicationGroupResult",
        "resultWrapper":"DeleteGlobalReplicationGroupResult"
      },
      "errors":[
        {"shape":"GlobalReplicationGroupNotFoundFault"},
        {"shape":"InvalidGlobalReplicationGroupStateFault"},
        {"shape":"InvalidParameterValueException"}
      ],
      "documentation":"<p>Deleting a Global datastore is a two-step process: </p> <ul> <li> <p>First, you must <a>DisassociateGlobalReplicationGroup</a> to remove the secondary clusters in the Global datastore.</p> </li> <li> <p>Once the Global datastore contains only the primary cluster, you can use the <code>DeleteGlobalReplicationGroup</code> API to delete the Global datastore while retainining the primary cluster using <code>RetainPrimaryReplicationGroup=true</code>.</p> </li> </ul> <p>Since the Global Datastore has only a primary cluster, you can delete the Global Datastore while retaining the primary by setting <code>RetainPrimaryReplicationGroup=true</code>. The primary cluster is never deleted when deleting a Global Datastore. It can only be deleted when it no longer is associated with any Global Datastore.</p> <p>When you receive a successful response from this operation, Amazon ElastiCache immediately begins deleting the selected resources; you cannot cancel or revert this operation.</p>"
    },
    "DeleteReplicationGroup":{
      "name":"DeleteReplicationGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteReplicationGroupMessage"},
      "output":{
        "shape":"DeleteReplicationGroupResult",
        "resultWrapper":"DeleteReplicationGroupResult"
      },
      "errors":[
        {"shape":"ReplicationGroupNotFoundFault"},
        {"shape":"InvalidReplicationGroupStateFault"},
        {"shape":"SnapshotAlreadyExistsFault"},
        {"shape":"SnapshotFeatureNotSupportedFault"},
        {"shape":"SnapshotQuotaExceededFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Deletes an existing replication group. By default, this operation deletes the entire replication group, including the primary/primaries and all of the read replicas. If the replication group has only one primary, you can optionally delete only the read replicas, while retaining the primary by setting <code>RetainPrimaryCluster=true</code>.</p> <p>When you receive a successful response from this operation, Amazon ElastiCache immediately begins deleting the selected resources; you cannot cancel or revert this operation.</p> <note> <ul> <li> <p> <code>CreateSnapshot</code> permission is required to create a final snapshot. Without this permission, the API call will fail with an <code>Access Denied</code> exception.</p> </li> <li> <p>This operation is valid for Redis OSS only.</p> </li> </ul> </note>"
    },
    "DeleteServerlessCache":{
      "name":"DeleteServerlessCache",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteServerlessCacheRequest"},
      "output":{
        "shape":"DeleteServerlessCacheResponse",
        "resultWrapper":"DeleteServerlessCacheResult"
      },
      "errors":[
        {"shape":"ServerlessCacheNotFoundFault"},
        {"shape":"InvalidServerlessCacheStateFault"},
        {"shape":"ServerlessCacheSnapshotAlreadyExistsFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"InvalidCredentialsException"},
        {"shape":"ServiceLinkedRoleNotFoundFault"}
      ],
      "documentation":"<p>Deletes a specified existing serverless cache.</p> <note> <p> <code>CreateServerlessCacheSnapshot</code> permission is required to create a final snapshot. Without this permission, the API call will fail with an <code>Access Denied</code> exception.</p> </note>"
    },
    "DeleteServerlessCacheSnapshot":{
      "name":"DeleteServerlessCacheSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteServerlessCacheSnapshotRequest"},
      "output":{
        "shape":"DeleteServerlessCacheSnapshotResponse",
        "resultWrapper":"DeleteServerlessCacheSnapshotResult"
      },
      "errors":[
        {"shape":"ServiceLinkedRoleNotFoundFault"},
        {"shape":"ServerlessCacheSnapshotNotFoundFault"},
        {"shape":"InvalidServerlessCacheSnapshotStateFault"},
        {"shape":"InvalidParameterValueException"}
      ],
      "documentation":"<p>Deletes an existing serverless cache snapshot. Available for Valkey, Redis OSS and Serverless Memcached only.</p>"
    },
    "DeleteSnapshot":{
      "name":"DeleteSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSnapshotMessage"},
      "output":{
        "shape":"DeleteSnapshotResult",
        "resultWrapper":"DeleteSnapshotResult"
      },
      "errors":[
        {"shape":"SnapshotNotFoundFault"},
        {"shape":"InvalidSnapshotStateFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Deletes an existing snapshot. When you receive a successful response from this operation, ElastiCache immediately begins deleting the snapshot; you cannot cancel or revert this operation.</p> <note> <p>This operation is valid for Valkey or Redis OSS only.</p> </note>"
    },
    "DeleteUser":{
      "name":"DeleteUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteUserMessage"},
      "output":{
        "shape":"User",
        "resultWrapper":"DeleteUserResult"
      },
      "errors":[
        {"shape":"InvalidUserStateFault"},
        {"shape":"UserNotFoundFault"},
        {"shape":"ServiceLinkedRoleNotFoundFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"DefaultUserAssociatedToUserGroupFault"}
      ],
      "documentation":"<p>For Valkey engine version 7.2 onwards and Redis OSS 6.0 onwards: Deletes a user. The user will be removed from all user groups and in turn removed from all replication groups. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/dg/Clusters.RBAC.html\">Using Role Based Access Control (RBAC)</a>. </p>"
    },
    "DeleteUserGroup":{
      "name":"DeleteUserGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteUserGroupMessage"},
      "output":{
        "shape":"UserGroup",
        "resultWrapper":"DeleteUserGroupResult"
      },
      "errors":[
        {"shape":"UserGroupNotFoundFault"},
        {"shape":"InvalidUserGroupStateFault"},
        {"shape":"ServiceLinkedRoleNotFoundFault"},
        {"shape":"InvalidParameterValueException"}
      ],
      "documentation":"<p>For Valkey engine version 7.2 onwards and Redis OSS 6.0 onwards: Deletes a user group. The user group must first be disassociated from the replication group before it can be deleted. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/dg/Clusters.RBAC.html\">Using Role Based Access Control (RBAC)</a>. </p>"
    },
    "DescribeCacheClusters":{
      "name":"DescribeCacheClusters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCacheClustersMessage"},
      "output":{
        "shape":"CacheClusterMessage",
        "resultWrapper":"DescribeCacheClustersResult"
      },
      "errors":[
        {"shape":"CacheClusterNotFoundFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Returns information about all provisioned clusters if no cluster identifier is specified, or about a specific cache cluster if a cluster identifier is supplied.</p> <p>By default, abbreviated information about the clusters is returned. You can use the optional <i>ShowCacheNodeInfo</i> flag to retrieve detailed information about the cache nodes associated with the clusters. These details include the DNS address and port for the cache node endpoint.</p> <p>If the cluster is in the <i>creating</i> state, only cluster-level information is displayed until all of the nodes are successfully provisioned.</p> <p>If the cluster is in the <i>deleting</i> state, only cluster-level information is displayed.</p> <p>If cache nodes are currently being added to the cluster, node endpoint information and creation time for the additional nodes are not displayed until they are completely provisioned. When the cluster state is <i>available</i>, the cluster is ready for use.</p> <p>If cache nodes are currently being removed from the cluster, no endpoint information for the removed nodes is displayed.</p>"
    },
    "DescribeCacheEngineVersions":{
      "name":"DescribeCacheEngineVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCacheEngineVersionsMessage"},
      "output":{
        "shape":"CacheEngineVersionMessage",
        "resultWrapper":"DescribeCacheEngineVersionsResult"
      },
      "documentation":"<p>Returns a list of the available cache engines and their versions.</p>"
    },
    "DescribeCacheParameterGroups":{
      "name":"DescribeCacheParameterGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCacheParameterGroupsMessage"},
      "output":{
        "shape":"CacheParameterGroupsMessage",
        "resultWrapper":"DescribeCacheParameterGroupsResult"
      },
      "errors":[
        {"shape":"CacheParameterGroupNotFoundFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Returns a list of cache parameter group descriptions. If a cache parameter group name is specified, the list contains only the descriptions for that group.</p>"
    },
    "DescribeCacheParameters":{
      "name":"DescribeCacheParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCacheParametersMessage"},
      "output":{
        "shape":"CacheParameterGroupDetails",
        "resultWrapper":"DescribeCacheParametersResult"
      },
      "errors":[
        {"shape":"CacheParameterGroupNotFoundFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Returns the detailed parameter list for a particular cache parameter group.</p>"
    },
    "DescribeCacheSecurityGroups":{
      "name":"DescribeCacheSecurityGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCacheSecurityGroupsMessage"},
      "output":{
        "shape":"CacheSecurityGroupMessage",
        "resultWrapper":"DescribeCacheSecurityGroupsResult"
      },
      "errors":[
        {"shape":"CacheSecurityGroupNotFoundFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Returns a list of cache security group descriptions. If a cache security group name is specified, the list contains only the description of that group. This applicable only when you have ElastiCache in Classic setup </p>"
    },
    "DescribeCacheSubnetGroups":{
      "name":"DescribeCacheSubnetGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCacheSubnetGroupsMessage"},
      "output":{
        "shape":"CacheSubnetGroupMessage",
        "resultWrapper":"DescribeCacheSubnetGroupsResult"
      },
      "errors":[
        {"shape":"CacheSubnetGroupNotFoundFault"}
      ],
      "documentation":"<p>Returns a list of cache subnet group descriptions. If a subnet group name is specified, the list contains only the description of that group. This is applicable only when you have ElastiCache in VPC setup. All ElastiCache clusters now launch in VPC by default. </p>"
    },
    "DescribeEngineDefaultParameters":{
      "name":"DescribeEngineDefaultParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEngineDefaultParametersMessage"},
      "output":{
        "shape":"DescribeEngineDefaultParametersResult",
        "resultWrapper":"DescribeEngineDefaultParametersResult"
      },
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Returns the default engine and system parameter information for the specified cache engine.</p>"
    },
    "DescribeEvents":{
      "name":"DescribeEvents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventsMessage"},
      "output":{
        "shape":"EventsMessage",
        "resultWrapper":"DescribeEventsResult"
      },
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Returns events related to clusters, cache security groups, and cache parameter groups. You can obtain events specific to a particular cluster, cache security group, or cache parameter group by providing the name as a parameter.</p> <p>By default, only the events occurring within the last hour are returned; however, you can retrieve up to 14 days' worth of events if necessary.</p>"
    },
    "DescribeGlobalReplicationGroups":{
      "name":"DescribeGlobalReplicationGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeGlobalReplicationGroupsMessage"},
      "output":{
        "shape":"DescribeGlobalReplicationGroupsResult",
        "resultWrapper":"DescribeGlobalReplicationGroupsResult"
      },
      "errors":[
        {"shape":"GlobalReplicationGroupNotFoundFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Returns information about a particular global replication group. If no identifier is specified, returns information about all Global datastores. </p>"
    },
    "DescribeReplicationGroups":{
      "name":"DescribeReplicationGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReplicationGroupsMessage"},
      "output":{
        "shape":"ReplicationGroupMessage",
        "resultWrapper":"DescribeReplicationGroupsResult"
      },
      "errors":[
        {"shape":"ReplicationGroupNotFoundFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Returns information about a particular replication group. If no identifier is specified, <code>DescribeReplicationGroups</code> returns information about all replication groups.</p> <note> <p>This operation is valid for Valkey or Redis OSS only.</p> </note>"
    },
    "DescribeReservedCacheNodes":{
      "name":"DescribeReservedCacheNodes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReservedCacheNodesMessage"},
      "output":{
        "shape":"ReservedCacheNodeMessage",
        "resultWrapper":"DescribeReservedCacheNodesResult"
      },
      "errors":[
        {"shape":"ReservedCacheNodeNotFoundFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Returns information about reserved cache nodes for this account, or about a specified reserved cache node.</p>"
    },
    "DescribeReservedCacheNodesOfferings":{
      "name":"DescribeReservedCacheNodesOfferings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReservedCacheNodesOfferingsMessage"},
      "output":{
        "shape":"ReservedCacheNodesOfferingMessage",
        "resultWrapper":"DescribeReservedCacheNodesOfferingsResult"
      },
      "errors":[
        {"shape":"ReservedCacheNodesOfferingNotFoundFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Lists available reserved cache node offerings.</p>"
    },
    "DescribeServerlessCacheSnapshots":{
      "name":"DescribeServerlessCacheSnapshots",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeServerlessCacheSnapshotsRequest"},
      "output":{
        "shape":"DescribeServerlessCacheSnapshotsResponse",
        "resultWrapper":"DescribeServerlessCacheSnapshotsResult"
      },
      "errors":[
        {"shape":"ServerlessCacheNotFoundFault"},
        {"shape":"ServerlessCacheSnapshotNotFoundFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Returns information about serverless cache snapshots. By default, this API lists all of the customer’s serverless cache snapshots. It can also describe a single serverless cache snapshot, or the snapshots associated with a particular serverless cache. Available for Valkey, Redis OSS and Serverless Memcached only.</p>"
    },
    "DescribeServerlessCaches":{
      "name":"DescribeServerlessCaches",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeServerlessCachesRequest"},
      "output":{
        "shape":"DescribeServerlessCachesResponse",
        "resultWrapper":"DescribeServerlessCachesResult"
      },
      "errors":[
        {"shape":"ServerlessCacheNotFoundFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Returns information about a specific serverless cache. If no identifier is specified, then the API returns information on all the serverless caches belonging to this Amazon Web Services account.</p>"
    },
    "DescribeServiceUpdates":{
      "name":"DescribeServiceUpdates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeServiceUpdatesMessage"},
      "output":{
        "shape":"ServiceUpdatesMessage",
        "resultWrapper":"DescribeServiceUpdatesResult"
      },
      "errors":[
        {"shape":"ServiceUpdateNotFoundFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Returns details of the service updates</p>"
    },
    "DescribeSnapshots":{
      "name":"DescribeSnapshots",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeSnapshotsMessage"},
      "output":{
        "shape":"DescribeSnapshotsListMessage",
        "resultWrapper":"DescribeSnapshotsResult"
      },
      "errors":[
        {"shape":"CacheClusterNotFoundFault"},
        {"shape":"SnapshotNotFoundFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Returns information about cluster or replication group snapshots. By default, <code>DescribeSnapshots</code> lists all of your snapshots; it can optionally describe a single snapshot, or just the snapshots associated with a particular cache cluster.</p> <note> <p>This operation is valid for Valkey or Redis OSS only.</p> </note>"
    },
    "DescribeUpdateActions":{
      "name":"DescribeUpdateActions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeUpdateActionsMessage"},
      "output":{
        "shape":"UpdateActionsMessage",
        "resultWrapper":"DescribeUpdateActionsResult"
      },
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Returns details of the update actions </p>"
    },
    "DescribeUserGroups":{
      "name":"DescribeUserGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeUserGroupsMessage"},
      "output":{
        "shape":"DescribeUserGroupsResult",
        "resultWrapper":"DescribeUserGroupsResult"
      },
      "errors":[
        {"shape":"UserGroupNotFoundFault"},
        {"shape":"ServiceLinkedRoleNotFoundFault"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Returns a list of user groups.</p>"
    },
    "DescribeUsers":{
      "name":"DescribeUsers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeUsersMessage"},
      "output":{
        "shape":"DescribeUsersResult",
        "resultWrapper":"DescribeUsersResult"
      },
      "errors":[
        {"shape":"UserNotFoundFault"},
        {"shape":"ServiceLinkedRoleNotFoundFault"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Returns a list of users.</p>"
    },
    "DisassociateGlobalReplicationGroup":{
      "name":"DisassociateGlobalReplicationGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateGlobalReplicationGroupMessage"},
      "output":{
        "shape":"DisassociateGlobalReplicationGroupResult",
        "resultWrapper":"DisassociateGlobalReplicationGroupResult"
      },
      "errors":[
        {"shape":"GlobalReplicationGroupNotFoundFault"},
        {"shape":"InvalidGlobalReplicationGroupStateFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Remove a secondary cluster from the Global datastore using the Global datastore name. The secondary cluster will no longer receive updates from the primary cluster, but will remain as a standalone cluster in that Amazon region.</p>"
    },
    "ExportServerlessCacheSnapshot":{
      "name":"ExportServerlessCacheSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ExportServerlessCacheSnapshotRequest"},
      "output":{
        "shape":"ExportServerlessCacheSnapshotResponse",
        "resultWrapper":"ExportServerlessCacheSnapshotResult"
      },
      "errors":[
        {"shape":"ServerlessCacheSnapshotNotFoundFault"},
        {"shape":"InvalidServerlessCacheSnapshotStateFault"},
        {"shape":"ServiceLinkedRoleNotFoundFault"},
        {"shape":"InvalidParameterValueException"}
      ],
      "documentation":"<p>Provides the functionality to export the serverless cache snapshot data to Amazon S3. Available for Valkey and Redis OSS only.</p>"
    },
    "FailoverGlobalReplicationGroup":{
      "name":"FailoverGlobalReplicationGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"FailoverGlobalReplicationGroupMessage"},
      "output":{
        "shape":"FailoverGlobalReplicationGroupResult",
        "resultWrapper":"FailoverGlobalReplicationGroupResult"
      },
      "errors":[
        {"shape":"GlobalReplicationGroupNotFoundFault"},
        {"shape":"InvalidGlobalReplicationGroupStateFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Used to failover the primary region to a secondary region. The secondary region will become primary, and all other clusters will become secondary.</p>"
    },
    "IncreaseNodeGroupsInGlobalReplicationGroup":{
      "name":"IncreaseNodeGroupsInGlobalReplicationGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"IncreaseNodeGroupsInGlobalReplicationGroupMessage"},
      "output":{
        "shape":"IncreaseNodeGroupsInGlobalReplicationGroupResult",
        "resultWrapper":"IncreaseNodeGroupsInGlobalReplicationGroupResult"
      },
      "errors":[
        {"shape":"GlobalReplicationGroupNotFoundFault"},
        {"shape":"InvalidGlobalReplicationGroupStateFault"},
        {"shape":"InvalidParameterValueException"}
      ],
      "documentation":"<p>Increase the number of node groups in the Global datastore</p>"
    },
    "IncreaseReplicaCount":{
      "name":"IncreaseReplicaCount",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"IncreaseReplicaCountMessage"},
      "output":{
        "shape":"IncreaseReplicaCountResult",
        "resultWrapper":"IncreaseReplicaCountResult"
      },
      "errors":[
        {"shape":"ReplicationGroupNotFoundFault"},
        {"shape":"InvalidReplicationGroupStateFault"},
        {"shape":"InvalidCacheClusterStateFault"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"InsufficientCacheClusterCapacityFault"},
        {"shape":"ClusterQuotaForCustomerExceededFault"},
        {"shape":"NodeGroupsPerReplicationGroupQuotaExceededFault"},
        {"shape":"NodeQuotaForCustomerExceededFault"},
        {"shape":"NoOperationFault"},
        {"shape":"InvalidKMSKeyFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Dynamically increases the number of replicas in a Valkey or Redis OSS (cluster mode disabled) replication group or the number of replica nodes in one or more node groups (shards) of a Valkey or Redis OSS (cluster mode enabled) replication group. This operation is performed with no cluster down time.</p>"
    },
    "ListAllowedNodeTypeModifications":{
      "name":"ListAllowedNodeTypeModifications",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAllowedNodeTypeModificationsMessage"},
      "output":{
        "shape":"AllowedNodeTypeModificationsMessage",
        "resultWrapper":"ListAllowedNodeTypeModificationsResult"
      },
      "errors":[
        {"shape":"CacheClusterNotFoundFault"},
        {"shape":"ReplicationGroupNotFoundFault"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"InvalidParameterValueException"}
      ],
      "documentation":"<p>Lists all available node types that you can scale with your cluster's replication group's current node type.</p> <p>When you use the <code>ModifyCacheCluster</code> or <code>ModifyReplicationGroup</code> operations to scale your cluster or replication group, the value of the <code>CacheNodeType</code> parameter must be one of the node types returned by this operation.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceMessage"},
      "output":{
        "shape":"TagListMessage",
        "resultWrapper":"ListTagsForResourceResult"
      },
      "errors":[
        {"shape":"CacheClusterNotFoundFault"},
        {"shape":"CacheParameterGroupNotFoundFault"},
        {"shape":"CacheSecurityGroupNotFoundFault"},
        {"shape":"CacheSubnetGroupNotFoundFault"},
        {"shape":"InvalidReplicationGroupStateFault"},
        {"shape":"ReplicationGroupNotFoundFault"},
        {"shape":"ReservedCacheNodeNotFoundFault"},
        {"shape":"SnapshotNotFoundFault"},
        {"shape":"UserNotFoundFault"},
        {"shape":"UserGroupNotFoundFault"},
        {"shape":"ServerlessCacheNotFoundFault"},
        {"shape":"InvalidServerlessCacheStateFault"},
        {"shape":"ServerlessCacheSnapshotNotFoundFault"},
        {"shape":"InvalidServerlessCacheSnapshotStateFault"},
        {"shape":"InvalidARNFault"}
      ],
      "documentation":"<p>Lists all tags currently on a named resource.</p> <p> A tag is a key-value pair where the key and value are case-sensitive. You can use tags to categorize and track all your ElastiCache resources, with the exception of global replication group. When you add or remove tags on replication groups, those actions will be replicated to all nodes in the replication group. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/dg/IAM.ResourceLevelPermissions.html\">Resource-level permissions</a>.</p> <p>If the cluster is not in the <i>available</i> state, <code>ListTagsForResource</code> returns an error.</p>"
    },
    "ModifyCacheCluster":{
      "name":"ModifyCacheCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyCacheClusterMessage"},
      "output":{
        "shape":"ModifyCacheClusterResult",
        "resultWrapper":"ModifyCacheClusterResult"
      },
      "errors":[
        {"shape":"InvalidCacheClusterStateFault"},
        {"shape":"InvalidCacheSecurityGroupStateFault"},
        {"shape":"InsufficientCacheClusterCapacityFault"},
        {"shape":"CacheClusterNotFoundFault"},
        {"shape":"NodeQuotaForClusterExceededFault"},
        {"shape":"NodeQuotaForCustomerExceededFault"},
        {"shape":"CacheSecurityGroupNotFoundFault"},
        {"shape":"CacheParameterGroupNotFoundFault"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Modifies the settings for a cluster. You can use this operation to change one or more cluster configuration parameters by specifying the parameters and the new values.</p>"
    },
    "ModifyCacheParameterGroup":{
      "name":"ModifyCacheParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyCacheParameterGroupMessage"},
      "output":{
        "shape":"CacheParameterGroupNameMessage",
        "resultWrapper":"ModifyCacheParameterGroupResult"
      },
      "errors":[
        {"shape":"CacheParameterGroupNotFoundFault"},
        {"shape":"InvalidCacheParameterGroupStateFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"InvalidGlobalReplicationGroupStateFault"}
      ],
      "documentation":"<p>Modifies the parameters of a cache parameter group. You can modify up to 20 parameters in a single request by submitting a list parameter name and value pairs.</p>"
    },
    "ModifyCacheSubnetGroup":{
      "name":"ModifyCacheSubnetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyCacheSubnetGroupMessage"},
      "output":{
        "shape":"ModifyCacheSubnetGroupResult",
        "resultWrapper":"ModifyCacheSubnetGroupResult"
      },
      "errors":[
        {"shape":"CacheSubnetGroupNotFoundFault"},
        {"shape":"CacheSubnetQuotaExceededFault"},
        {"shape":"SubnetInUse"},
        {"shape":"InvalidSubnet"},
        {"shape":"SubnetNotAllowedFault"}
      ],
      "documentation":"<p>Modifies an existing cache subnet group.</p>"
    },
    "ModifyGlobalReplicationGroup":{
      "name":"ModifyGlobalReplicationGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyGlobalReplicationGroupMessage"},
      "output":{
        "shape":"ModifyGlobalReplicationGroupResult",
        "resultWrapper":"ModifyGlobalReplicationGroupResult"
      },
      "errors":[
        {"shape":"GlobalReplicationGroupNotFoundFault"},
        {"shape":"InvalidGlobalReplicationGroupStateFault"},
        {"shape":"InvalidParameterValueException"}
      ],
      "documentation":"<p>Modifies the settings for a Global datastore.</p>"
    },
    "ModifyReplicationGroup":{
      "name":"ModifyReplicationGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyReplicationGroupMessage"},
      "output":{
        "shape":"ModifyReplicationGroupResult",
        "resultWrapper":"ModifyReplicationGroupResult"
      },
      "errors":[
        {"shape":"ReplicationGroupNotFoundFault"},
        {"shape":"InvalidReplicationGroupStateFault"},
        {"shape":"InvalidUserGroupStateFault"},
        {"shape":"UserGroupNotFoundFault"},
        {"shape":"InvalidCacheClusterStateFault"},
        {"shape":"InvalidCacheSecurityGroupStateFault"},
        {"shape":"InsufficientCacheClusterCapacityFault"},
        {"shape":"CacheClusterNotFoundFault"},
        {"shape":"NodeQuotaForClusterExceededFault"},
        {"shape":"NodeQuotaForCustomerExceededFault"},
        {"shape":"CacheSecurityGroupNotFoundFault"},
        {"shape":"CacheParameterGroupNotFoundFault"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"InvalidKMSKeyFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Modifies the settings for a replication group. This is limited to Valkey and Redis OSS 7 and above.</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/dg/scaling-redis-cluster-mode-enabled.html\">Scaling for Valkey or Redis OSS (cluster mode enabled)</a> in the ElastiCache User Guide</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/APIReference/API_ModifyReplicationGroupShardConfiguration.html\">ModifyReplicationGroupShardConfiguration</a> in the ElastiCache API Reference</p> </li> </ul> <note> <p>This operation is valid for Valkey or Redis OSS only.</p> </note>"
    },
    "ModifyReplicationGroupShardConfiguration":{
      "name":"ModifyReplicationGroupShardConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyReplicationGroupShardConfigurationMessage"},
      "output":{
        "shape":"ModifyReplicationGroupShardConfigurationResult",
        "resultWrapper":"ModifyReplicationGroupShardConfigurationResult"
      },
      "errors":[
        {"shape":"ReplicationGroupNotFoundFault"},
        {"shape":"InvalidReplicationGroupStateFault"},
        {"shape":"InvalidCacheClusterStateFault"},
        {"shape":"InvalidVPCNetworkStateFault"},
        {"shape":"InsufficientCacheClusterCapacityFault"},
        {"shape":"NodeGroupsPerReplicationGroupQuotaExceededFault"},
        {"shape":"NodeQuotaForCustomerExceededFault"},
        {"shape":"InvalidKMSKeyFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Modifies a replication group's shards (node groups) by allowing you to add shards, remove shards, or rebalance the keyspaces among existing shards.</p>"
    },
    "ModifyServerlessCache":{
      "name":"ModifyServerlessCache",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyServerlessCacheRequest"},
      "output":{
        "shape":"ModifyServerlessCacheResponse",
        "resultWrapper":"ModifyServerlessCacheResult"
      },
      "errors":[
        {"shape":"ServerlessCacheNotFoundFault"},
        {"shape":"InvalidServerlessCacheStateFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"InvalidCredentialsException"},
        {"shape":"InvalidUserGroupStateFault"},
        {"shape":"UserGroupNotFoundFault"},
        {"shape":"ServiceLinkedRoleNotFoundFault"}
      ],
      "documentation":"<p>This API modifies the attributes of a serverless cache.</p>"
    },
    "ModifyUser":{
      "name":"ModifyUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyUserMessage"},
      "output":{
        "shape":"User",
        "resultWrapper":"ModifyUserResult"
      },
      "errors":[
        {"shape":"UserNotFoundFault"},
        {"shape":"InvalidUserStateFault"},
        {"shape":"ServiceLinkedRoleNotFoundFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Changes user password(s) and/or access string.</p>"
    },
    "ModifyUserGroup":{
      "name":"ModifyUserGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyUserGroupMessage"},
      "output":{
        "shape":"UserGroup",
        "resultWrapper":"ModifyUserGroupResult"
      },
      "errors":[
        {"shape":"UserGroupNotFoundFault"},
        {"shape":"UserNotFoundFault"},
        {"shape":"DuplicateUserNameFault"},
        {"shape":"ServiceLinkedRoleNotFoundFault"},
        {"shape":"DefaultUserRequired"},
        {"shape":"InvalidUserGroupStateFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Changes the list of users that belong to the user group.</p>"
    },
    "PurchaseReservedCacheNodesOffering":{
      "name":"PurchaseReservedCacheNodesOffering",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PurchaseReservedCacheNodesOfferingMessage"},
      "output":{
        "shape":"PurchaseReservedCacheNodesOfferingResult",
        "resultWrapper":"PurchaseReservedCacheNodesOfferingResult"
      },
      "errors":[
        {"shape":"ReservedCacheNodesOfferingNotFoundFault"},
        {"shape":"ReservedCacheNodeAlreadyExistsFault"},
        {"shape":"ReservedCacheNodeQuotaExceededFault"},
        {"shape":"TagQuotaPerResourceExceeded"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Allows you to purchase a reserved cache node offering. Reserved nodes are not eligible for cancellation and are non-refundable. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/dg/reserved-nodes.html\">Managing Costs with Reserved Nodes</a>.</p>"
    },
    "RebalanceSlotsInGlobalReplicationGroup":{
      "name":"RebalanceSlotsInGlobalReplicationGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RebalanceSlotsInGlobalReplicationGroupMessage"},
      "output":{
        "shape":"RebalanceSlotsInGlobalReplicationGroupResult",
        "resultWrapper":"RebalanceSlotsInGlobalReplicationGroupResult"
      },
      "errors":[
        {"shape":"GlobalReplicationGroupNotFoundFault"},
        {"shape":"InvalidGlobalReplicationGroupStateFault"},
        {"shape":"InvalidParameterValueException"}
      ],
      "documentation":"<p>Redistribute slots to ensure uniform distribution across existing shards in the cluster.</p>"
    },
    "RebootCacheCluster":{
      "name":"RebootCacheCluster",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RebootCacheClusterMessage"},
      "output":{
        "shape":"RebootCacheClusterResult",
        "resultWrapper":"RebootCacheClusterResult"
      },
      "errors":[
        {"shape":"InvalidCacheClusterStateFault"},
        {"shape":"CacheClusterNotFoundFault"}
      ],
      "documentation":"<p>Reboots some, or all, of the cache nodes within a provisioned cluster. This operation applies any modified cache parameter groups to the cluster. The reboot operation takes place as soon as possible, and results in a momentary outage to the cluster. During the reboot, the cluster status is set to REBOOTING.</p> <p>The reboot causes the contents of the cache (for each cache node being rebooted) to be lost.</p> <p>When the reboot is complete, a cluster event is created.</p> <p>Rebooting a cluster is currently supported on Memcached, Valkey and Redis OSS (cluster mode disabled) clusters. Rebooting is not supported on Valkey or Redis OSS (cluster mode enabled) clusters.</p> <p>If you make changes to parameters that require a Valkey or Redis OSS (cluster mode enabled) cluster reboot for the changes to be applied, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/dg/nodes.rebooting.html\">Rebooting a Cluster</a> for an alternate process.</p>"
    },
    "RemoveTagsFromResource":{
      "name":"RemoveTagsFromResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveTagsFromResourceMessage"},
      "output":{
        "shape":"TagListMessage",
        "resultWrapper":"RemoveTagsFromResourceResult"
      },
      "errors":[
        {"shape":"CacheClusterNotFoundFault"},
        {"shape":"CacheParameterGroupNotFoundFault"},
        {"shape":"CacheSecurityGroupNotFoundFault"},
        {"shape":"CacheSubnetGroupNotFoundFault"},
        {"shape":"InvalidReplicationGroupStateFault"},
        {"shape":"ReplicationGroupNotFoundFault"},
        {"shape":"ReservedCacheNodeNotFoundFault"},
        {"shape":"SnapshotNotFoundFault"},
        {"shape":"UserNotFoundFault"},
        {"shape":"UserGroupNotFoundFault"},
        {"shape":"ServerlessCacheNotFoundFault"},
        {"shape":"InvalidServerlessCacheStateFault"},
        {"shape":"ServerlessCacheSnapshotNotFoundFault"},
        {"shape":"InvalidServerlessCacheSnapshotStateFault"},
        {"shape":"InvalidARNFault"},
        {"shape":"TagNotFoundFault"}
      ],
      "documentation":"<p>Removes the tags identified by the <code>TagKeys</code> list from the named resource. A tag is a key-value pair where the key and value are case-sensitive. You can use tags to categorize and track all your ElastiCache resources, with the exception of global replication group. When you add or remove tags on replication groups, those actions will be replicated to all nodes in the replication group. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/dg/IAM.ResourceLevelPermissions.html\">Resource-level permissions</a>.</p>"
    },
    "ResetCacheParameterGroup":{
      "name":"ResetCacheParameterGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResetCacheParameterGroupMessage"},
      "output":{
        "shape":"CacheParameterGroupNameMessage",
        "resultWrapper":"ResetCacheParameterGroupResult"
      },
      "errors":[
        {"shape":"InvalidCacheParameterGroupStateFault"},
        {"shape":"CacheParameterGroupNotFoundFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"InvalidGlobalReplicationGroupStateFault"}
      ],
      "documentation":"<p>Modifies the parameters of a cache parameter group to the engine or system default value. You can reset specific parameters by submitting a list of parameter names. To reset the entire cache parameter group, specify the <code>ResetAllParameters</code> and <code>CacheParameterGroupName</code> parameters.</p>"
    },
    "RevokeCacheSecurityGroupIngress":{
      "name":"RevokeCacheSecurityGroupIngress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RevokeCacheSecurityGroupIngressMessage"},
      "output":{
        "shape":"RevokeCacheSecurityGroupIngressResult",
        "resultWrapper":"RevokeCacheSecurityGroupIngressResult"
      },
      "errors":[
        {"shape":"CacheSecurityGroupNotFoundFault"},
        {"shape":"AuthorizationNotFoundFault"},
        {"shape":"InvalidCacheSecurityGroupStateFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Revokes ingress from a cache security group. Use this operation to disallow access from an Amazon EC2 security group that had been previously authorized.</p>"
    },
    "StartMigration":{
      "name":"StartMigration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartMigrationMessage"},
      "output":{
        "shape":"StartMigrationResponse",
        "resultWrapper":"StartMigrationResult"
      },
      "errors":[
        {"shape":"ReplicationGroupNotFoundFault"},
        {"shape":"InvalidReplicationGroupStateFault"},
        {"shape":"ReplicationGroupAlreadyUnderMigrationFault"},
        {"shape":"InvalidParameterValueException"}
      ],
      "documentation":"<p>Start the migration of data.</p>"
    },
    "TestFailover":{
      "name":"TestFailover",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TestFailoverMessage"},
      "output":{
        "shape":"TestFailoverResult",
        "resultWrapper":"TestFailoverResult"
      },
      "errors":[
        {"shape":"APICallRateForCustomerExceededFault"},
        {"shape":"InvalidCacheClusterStateFault"},
        {"shape":"InvalidReplicationGroupStateFault"},
        {"shape":"NodeGroupNotFoundFault"},
        {"shape":"ReplicationGroupNotFoundFault"},
        {"shape":"TestFailoverNotAvailableFault"},
        {"shape":"InvalidKMSKeyFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Represents the input of a <code>TestFailover</code> operation which tests automatic failover on a specified node group (called shard in the console) in a replication group (called cluster in the console).</p> <p>This API is designed for testing the behavior of your application in case of ElastiCache failover. It is not designed to be an operational tool for initiating a failover to overcome a problem you may have with the cluster. Moreover, in certain conditions such as large-scale operational events, Amazon may block this API. </p> <p class=\"title\"> <b>Note the following</b> </p> <ul> <li> <p>A customer can use this operation to test automatic failover on up to 15 shards (called node groups in the ElastiCache API and Amazon CLI) in any rolling 24-hour period.</p> </li> <li> <p>If calling this operation on shards in different clusters (called replication groups in the API and CLI), the calls can be made concurrently.</p> <p> </p> </li> <li> <p>If calling this operation multiple times on different shards in the same Valkey or Redis OSS (cluster mode enabled) replication group, the first node replacement must complete before a subsequent call can be made.</p> </li> <li> <p>To determine whether the node replacement is complete you can check Events using the Amazon ElastiCache console, the Amazon CLI, or the ElastiCache API. Look for the following automatic failover related events, listed here in order of occurrance:</p> <ol> <li> <p>Replication group message: <code>Test Failover API called for node group &lt;node-group-id&gt;</code> </p> </li> <li> <p>Cache cluster message: <code>Failover from primary node &lt;primary-node-id&gt; to replica node &lt;node-id&gt; completed</code> </p> </li> <li> <p>Replication group message: <code>Failover from primary node &lt;primary-node-id&gt; to replica node &lt;node-id&gt; completed</code> </p> </li> <li> <p>Cache cluster message: <code>Recovering cache nodes &lt;node-id&gt;</code> </p> </li> <li> <p>Cache cluster message: <code>Finished recovery for cache nodes &lt;node-id&gt;</code> </p> </li> </ol> <p>For more information see:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/dg/ECEvents.Viewing.html\">Viewing ElastiCache Events</a> in the <i>ElastiCache User Guide</i> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/APIReference/API_DescribeEvents.html\">DescribeEvents</a> in the ElastiCache API Reference</p> </li> </ul> </li> </ul> <p>Also see, <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/dg/AutoFailover.html#auto-failover-test\">Testing Multi-AZ </a> in the <i>ElastiCache User Guide</i>.</p>"
    },
    "TestMigration":{
      "name":"TestMigration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TestMigrationMessage"},
      "output":{
        "shape":"TestMigrationResponse",
        "resultWrapper":"TestMigrationResult"
      },
      "errors":[
        {"shape":"ReplicationGroupNotFoundFault"},
        {"shape":"InvalidReplicationGroupStateFault"},
        {"shape":"ReplicationGroupAlreadyUnderMigrationFault"},
        {"shape":"InvalidParameterValueException"}
      ],
      "documentation":"<p> Async API to test connection between source and target replication group. </p>"
    }
  },
  "shapes":{
    "APICallRateForCustomerExceededFault":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The customer has exceeded the allowed rate of API calls.</p>",
      "error":{
        "code":"APICallRateForCustomerExceeded",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "AZMode":{
      "type":"string",
      "enum":[
        "single-az",
        "cross-az"
      ]
    },
    "AccessString":{
      "type":"string",
      "pattern":".*\\S.*"
    },
    "AddTagsToResourceMessage":{
      "type":"structure",
      "required":[
        "ResourceName",
        "Tags"
      ],
      "members":{
        "ResourceName":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource to which the tags are to be added, for example <code>arn:aws:elasticache:us-west-2:0123456789:cluster:myCluster</code> or <code>arn:aws:elasticache:us-west-2:0123456789:snapshot:mySnapshot</code>. ElastiCache resources are <i>cluster</i> and <i>snapshot</i>.</p> <p>For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Service Namespaces</a>.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>A list of tags to be added to this resource. A tag is a key-value pair. A tag key must be accompanied by a tag value, although null is accepted.</p>"
        }
      },
      "documentation":"<p>Represents the input of an AddTagsToResource operation.</p>"
    },
    "AllowedNodeGroupId":{
      "type":"string",
      "max":4,
      "min":1,
      "pattern":"\\d+"
    },
    "AllowedNodeTypeModificationsMessage":{
      "type":"structure",
      "members":{
        "ScaleUpModifications":{
          "shape":"NodeTypeList",
          "documentation":"<p>A string list, each element of which specifies a cache node type which you can use to scale your cluster or replication group.</p> <p>When scaling up a Valkey or Redis OSS cluster or replication group using <code>ModifyCacheCluster</code> or <code>ModifyReplicationGroup</code>, use a value from this list for the <code>CacheNodeType</code> parameter.</p>"
        },
        "ScaleDownModifications":{
          "shape":"NodeTypeList",
          "documentation":"<p>A string list, each element of which specifies a cache node type which you can use to scale your cluster or replication group. When scaling down a Valkey or Redis OSS cluster or replication group using ModifyCacheCluster or ModifyReplicationGroup, use a value from this list for the CacheNodeType parameter. </p>"
        }
      },
      "documentation":"<p>Represents the allowed node types you can use to modify your cluster or replication group.</p>"
    },
    "AuthTokenUpdateStatus":{
      "type":"string",
      "enum":[
        "SETTING",
        "ROTATING"
      ]
    },
    "AuthTokenUpdateStrategyType":{
      "type":"string",
      "enum":[
        "SET",
        "ROTATE",
        "DELETE"
      ]
    },
    "Authentication":{
      "type":"structure",
      "members":{
        "Type":{
          "shape":"AuthenticationType",
          "documentation":"<p>Indicates whether the user requires a password to authenticate.</p>"
        },
        "PasswordCount":{
          "shape":"IntegerOptional",
          "documentation":"<p>The number of passwords belonging to the user. The maximum is two.</p>"
        }
      },
      "documentation":"<p>Indicates whether the user requires a password to authenticate.</p>"
    },
    "AuthenticationMode":{
      "type":"structure",
      "members":{
        "Type":{
          "shape":"InputAuthenticationType",
          "documentation":"<p>Specifies the authentication type. Possible options are IAM authentication, password and no password.</p>"
        },
        "Passwords":{
          "shape":"PasswordListInput",
          "documentation":"<p>Specifies the passwords to use for authentication if <code>Type</code> is set to <code>password</code>.</p>"
        }
      },
      "documentation":"<p>Specifies the authentication mode to use.</p>"
    },
    "AuthenticationType":{
      "type":"string",
      "enum":[
        "password",
        "no-password",
        "iam"
      ]
    },
    "AuthorizationAlreadyExistsFault":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The specified Amazon EC2 security group is already authorized for the specified cache security group.</p>",
      "error":{
        "code":"AuthorizationAlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "AuthorizationNotFoundFault":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The specified Amazon EC2 security group is not authorized for the specified cache security group.</p>",
      "error":{
        "code":"AuthorizationNotFound",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "AuthorizeCacheSecurityGroupIngressMessage":{
      "type":"structure",
      "required":[
        "CacheSecurityGroupName",
        "EC2SecurityGroupName",
        "EC2SecurityGroupOwnerId"
      ],
      "members":{
        "CacheSecurityGroupName":{
          "shape":"String",
          "documentation":"<p>The cache security group that allows network ingress.</p>"
        },
        "EC2SecurityGroupName":{
          "shape":"String",
          "documentation":"<p>The Amazon EC2 security group to be authorized for ingress to the cache security group.</p>"
        },
        "EC2SecurityGroupOwnerId":{
          "shape":"String",
          "documentation":"<p>The Amazon account number of the Amazon EC2 security group owner. Note that this is not the same thing as an Amazon access key ID - you must provide a valid Amazon account number for this parameter.</p>"
        }
      },
      "documentation":"<p>Represents the input of an AuthorizeCacheSecurityGroupIngress operation.</p>"
    },
    "AuthorizeCacheSecurityGroupIngressResult":{
      "type":"structure",
      "members":{
        "CacheSecurityGroup":{"shape":"CacheSecurityGroup"}
      }
    },
    "AutomaticFailoverStatus":{
      "type":"string",
      "enum":[
        "enabled",
        "disabled",
        "enabling",
        "disabling"
      ]
    },
    "AvailabilityZone":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>The name of the Availability Zone.</p>"
        }
      },
      "documentation":"<p>Describes an Availability Zone in which the cluster is launched.</p>",
      "wrapper":true
    },
    "AvailabilityZonesList":{
      "type":"list",
      "member":{
        "shape":"String",
        "locationName":"AvailabilityZone"
      }
    },
    "AwsQueryErrorMessage":{"type":"string"},
    "BatchApplyUpdateActionMessage":{
      "type":"structure",
      "required":["ServiceUpdateName"],
      "members":{
        "ReplicationGroupIds":{
          "shape":"ReplicationGroupIdList",
          "documentation":"<p>The replication group IDs</p>"
        },
        "CacheClusterIds":{
          "shape":"CacheClusterIdList",
          "documentation":"<p>The cache cluster IDs</p>"
        },
        "ServiceUpdateName":{
          "shape":"String",
          "documentation":"<p>The unique ID of the service update</p>"
        }
      }
    },
    "BatchStopUpdateActionMessage":{
      "type":"structure",
      "required":["ServiceUpdateName"],
      "members":{
        "ReplicationGroupIds":{
          "shape":"ReplicationGroupIdList",
          "documentation":"<p>The replication group IDs</p>"
        },
        "CacheClusterIds":{
          "shape":"CacheClusterIdList",
          "documentation":"<p>The cache cluster IDs</p>"
        },
        "ServiceUpdateName":{
          "shape":"String",
          "documentation":"<p>The unique ID of the service update</p>"
        }
      }
    },
    "Boolean":{"type":"boolean"},
    "BooleanOptional":{"type":"boolean"},
    "CacheCluster":{
      "type":"structure",
      "members":{
        "CacheClusterId":{
          "shape":"String",
          "documentation":"<p>The user-supplied identifier of the cluster. This identifier is a unique key that identifies a cluster.</p>"
        },
        "ConfigurationEndpoint":{
          "shape":"Endpoint",
          "documentation":"<p>Represents a Memcached cluster endpoint which can be used by an application to connect to any node in the cluster. The configuration endpoint will always have <code>.cfg</code> in it.</p> <p>Example: <code>mem-3.9dvc4r<u>.cfg</u>.usw2.cache.amazonaws.com:11211</code> </p>"
        },
        "ClientDownloadLandingPage":{
          "shape":"String",
          "documentation":"<p>The URL of the web page where you can download the latest ElastiCache client library.</p>"
        },
        "CacheNodeType":{
          "shape":"String",
          "documentation":"<p>The name of the compute and memory capacity node type for the cluster.</p> <p>The following node types are supported by ElastiCache. Generally speaking, the current generation types provide more memory and computational power at lower cost when compared to their equivalent previous generation counterparts.</p> <ul> <li> <p>General purpose:</p> <ul> <li> <p>Current generation: </p> <p> <b>M7g node types</b>: <code>cache.m7g.large</code>, <code>cache.m7g.xlarge</code>, <code>cache.m7g.2xlarge</code>, <code>cache.m7g.4xlarge</code>, <code>cache.m7g.8xlarge</code>, <code>cache.m7g.12xlarge</code>, <code>cache.m7g.16xlarge</code> </p> <note> <p>For region availability, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/dg/CacheNodes.SupportedTypes.html#CacheNodes.SupportedTypesByRegion\">Supported Node Types</a> </p> </note> <p> <b>M6g node types</b> (available only for Redis OSS engine version 5.0.6 onward and for Memcached engine version 1.5.16 onward): <code>cache.m6g.large</code>, <code>cache.m6g.xlarge</code>, <code>cache.m6g.2xlarge</code>, <code>cache.m6g.4xlarge</code>, <code>cache.m6g.8xlarge</code>, <code>cache.m6g.12xlarge</code>, <code>cache.m6g.16xlarge</code> </p> <p> <b>M5 node types:</b> <code>cache.m5.large</code>, <code>cache.m5.xlarge</code>, <code>cache.m5.2xlarge</code>, <code>cache.m5.4xlarge</code>, <code>cache.m5.12xlarge</code>, <code>cache.m5.24xlarge</code> </p> <p> <b>M4 node types:</b> <code>cache.m4.large</code>, <code>cache.m4.xlarge</code>, <code>cache.m4.2xlarge</code>, <code>cache.m4.4xlarge</code>, <code>cache.m4.10xlarge</code> </p> <p> <b>T4g node types</b> (available only for Redis OSS engine version 5.0.6 onward and Memcached engine version 1.5.16 onward): <code>cache.t4g.micro</code>, <code>cache.t4g.small</code>, <code>cache.t4g.medium</code> </p> <p> <b>T3 node types:</b> <code>cache.t3.micro</code>, <code>cache.t3.small</code>, <code>cache.t3.medium</code> </p> <p> <b>T2 node types:</b> <code>cache.t2.micro</code>, <code>cache.t2.small</code>, <code>cache.t2.medium</code> </p> </li> <li> <p>Previous generation: (not recommended. Existing clusters are still supported but creation of new clusters is not supported for these types.)</p> <p> <b>T1 node types:</b> <code>cache.t1.micro</code> </p> <p> <b>M1 node types:</b> <code>cache.m1.small</code>, <code>cache.m1.medium</code>, <code>cache.m1.large</code>, <code>cache.m1.xlarge</code> </p> <p> <b>M3 node types:</b> <code>cache.m3.medium</code>, <code>cache.m3.large</code>, <code>cache.m3.xlarge</code>, <code>cache.m3.2xlarge</code> </p> </li> </ul> </li> <li> <p>Compute optimized:</p> <ul> <li> <p>Previous generation: (not recommended. Existing clusters are still supported but creation of new clusters is not supported for these types.)</p> <p> <b>C1 node types:</b> <code>cache.c1.xlarge</code> </p> </li> </ul> </li> <li> <p>Memory optimized:</p> <ul> <li> <p>Current generation: </p> <p> <b>R7g node types</b>: <code>cache.r7g.large</code>, <code>cache.r7g.xlarge</code>, <code>cache.r7g.2xlarge</code>, <code>cache.r7g.4xlarge</code>, <code>cache.r7g.8xlarge</code>, <code>cache.r7g.12xlarge</code>, <code>cache.r7g.16xlarge</code> </p> <note> <p>For region availability, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/dg/CacheNodes.SupportedTypes.html#CacheNodes.SupportedTypesByRegion\">Supported Node Types</a> </p> </note> <p> <b>R6g node types</b> (available only for Redis OSS engine version 5.0.6 onward and for Memcached engine version 1.5.16 onward): <code>cache.r6g.large</code>, <code>cache.r6g.xlarge</code>, <code>cache.r6g.2xlarge</code>, <code>cache.r6g.4xlarge</code>, <code>cache.r6g.8xlarge</code>, <code>cache.r6g.12xlarge</code>, <code>cache.r6g.16xlarge</code> </p> <p> <b>R5 node types:</b> <code>cache.r5.large</code>, <code>cache.r5.xlarge</code>, <code>cache.r5.2xlarge</code>, <code>cache.r5.4xlarge</code>, <code>cache.r5.12xlarge</code>, <code>cache.r5.24xlarge</code> </p> <p> <b>R4 node types:</b> <code>cache.r4.large</code>, <code>cache.r4.xlarge</code>, <code>cache.r4.2xlarge</code>, <code>cache.r4.4xlarge</code>, <code>cache.r4.8xlarge</code>, <code>cache.r4.16xlarge</code> </p> </li> <li> <p>Previous generation: (not recommended. Existing clusters are still supported but creation of new clusters is not supported for these types.)</p> <p> <b>M2 node types:</b> <code>cache.m2.xlarge</code>, <code>cache.m2.2xlarge</code>, <code>cache.m2.4xlarge</code> </p> <p> <b>R3 node types:</b> <code>cache.r3.large</code>, <code>cache.r3.xlarge</code>, <code>cache.r3.2xlarge</code>, <code>cache.r3.4xlarge</code>, <code>cache.r3.8xlarge</code> </p> </li> </ul> </li> </ul> <p> <b>Additional node type info</b> </p> <ul> <li> <p>All current generation instance types are created in Amazon VPC by default.</p> </li> <li> <p>Valkey or Redis OSS append-only files (AOF) are not supported for T1 or T2 instances.</p> </li> <li> <p>Valkey or Redis OSS Multi-AZ with automatic failover is not supported on T1 instances.</p> </li> <li> <p>The configuration variables <code>appendonly</code> and <code>appendfsync</code> are not supported on Valkey, or on Redis OSS version 2.8.22 and later.</p> </li> </ul>"
        },
        "Engine":{
          "shape":"String",
          "documentation":"<p>The name of the cache engine (<code>memcached</code> or <code>redis</code>) to be used for this cluster.</p>"
        },
        "EngineVersion":{
          "shape":"String",
          "documentation":"<p>The version of the cache engine that is used in this cluster.</p>"
        },
        "CacheClusterStatus":{
          "shape":"String",
          "documentation":"<p>The current state of this cluster, one of the following values: <code>available</code>, <code>creating</code>, <code>deleted</code>, <code>deleting</code>, <code>incompatible-network</code>, <code>modifying</code>, <code>rebooting cluster nodes</code>, <code>restore-failed</code>, or <code>snapshotting</code>.</p>"
        },
        "NumCacheNodes":{
          "shape":"IntegerOptional",
          "documentation":"<p>The number of cache nodes in the cluster.</p> <p>For clusters running Valkey or Redis OSS, this value must be 1. For clusters running Memcached, this value must be between 1 and 40.</p>"
        },
        "PreferredAvailabilityZone":{
          "shape":"String",
          "documentation":"<p>The name of the Availability Zone in which the cluster is located or \"Multiple\" if the cache nodes are located in different Availability Zones.</p>"
        },
        "PreferredOutpostArn":{
          "shape":"String",
          "documentation":"<p>The outpost ARN in which the cache cluster is created.</p>"
        },
        "CacheClusterCreateTime":{
          "shape":"TStamp",
          "documentation":"<p>The date and time when the cluster was created.</p>"
        },
        "PreferredMaintenanceWindow":{
          "shape":"String",
          "documentation":"<p>Specifies the weekly time range during which maintenance on the cluster is performed. It is specified as a range in the format ddd:hh24:mi-ddd:hh24:mi (24H Clock UTC). The minimum maintenance window is a 60 minute period.</p> <p>Valid values for <code>ddd</code> are:</p> <ul> <li> <p> <code>sun</code> </p> </li> <li> <p> <code>mon</code> </p> </li> <li> <p> <code>tue</code> </p> </li> <li> <p> <code>wed</code> </p> </li> <li> <p> <code>thu</code> </p> </li> <li> <p> <code>fri</code> </p> </li> <li> <p> <code>sat</code> </p> </li> </ul> <p>Example: <code>sun:23:00-mon:01:30</code> </p>"
        },
        "PendingModifiedValues":{"shape":"PendingModifiedValues"},
        "NotificationConfiguration":{
          "shape":"NotificationConfiguration",
          "documentation":"<p>Describes a notification topic and its status. Notification topics are used for publishing ElastiCache events to subscribers using Amazon Simple Notification Service (SNS). </p>"
        },
        "CacheSecurityGroups":{
          "shape":"CacheSecurityGroupMembershipList",
          "documentation":"<p>A list of cache security group elements, composed of name and status sub-elements.</p>"
        },
        "CacheParameterGroup":{
          "shape":"CacheParameterGroupStatus",
          "documentation":"<p>Status of the cache parameter group.</p>"
        },
        "CacheSubnetGroupName":{
          "shape":"String",
          "documentation":"<p>The name of the cache subnet group associated with the cluster.</p>"
        },
        "CacheNodes":{
          "shape":"CacheNodeList",
          "documentation":"<p>A list of cache nodes that are members of the cluster.</p>"
        },
        "AutoMinorVersionUpgrade":{
          "shape":"Boolean",
          "documentation":"<p> If you are running Valkey or Redis OSS engine version 6.0 or later, set this parameter to yes if you want to opt-in to the next auto minor version upgrade campaign. This parameter is disabled for previous versions.  </p>"
        },
        "SecurityGroups":{
          "shape":"SecurityGroupMembershipList",
          "documentation":"<p>A list of VPC Security Groups associated with the cluster.</p>"
        },
        "ReplicationGroupId":{
          "shape":"String",
          "documentation":"<p>The replication group to which this cluster belongs. If this field is empty, the cluster is not associated with any replication group.</p>"
        },
        "SnapshotRetentionLimit":{
          "shape":"IntegerOptional",
          "documentation":"<p>The number of days for which ElastiCache retains automatic cluster snapshots before deleting them. For example, if you set <code>SnapshotRetentionLimit</code> to 5, a snapshot that was taken today is retained for 5 days before being deleted.</p> <important> <p> If the value of SnapshotRetentionLimit is set to zero (0), backups are turned off.</p> </important>"
        },
        "SnapshotWindow":{
          "shape":"String",
[...]
