<div class="gh-expandable-block gh-feedback-lexical-labs">
    <div class="gh-expandable-header">
        <div>
            <h4 class="gh-expandable-title">Ghost editor (beta)</h4>
            <p class="gh-expandable-description">
                <span>Try out <a href="https://ghost.org/changelog/editor-beta/" target="_blank" rel="noopener noreferrer">Ghost’s brand new editor</a>, and get early access to the latest features and improvements</span>
            </p>
        </div>
        <div class="for-switch">
            <GhFeatureFlag @flag="lexicalEditor" @onChange={{this.toggleFeedbackForm}} />
        </div>
    </div>
    {{#if this.isFeedbackFormVisible}}
        <FeedbackLexical::LabsForm />
    {{/if}}
</div>
