<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (gte IE 9)| IEMobile |!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>Not Found</title>
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="apple-mobile-web-app-capable" content="yes" />

        <link rel="shortcut icon" href="/favicon.ico">
        <meta http-equiv="cleartype" content="on">

        <link rel="stylesheet" type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700'>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body class="error-page 404" style="padding: 20px">
        <main role="main" id="main">
            <h1>Not found <span>:(</span></h1>
            <p>Sorry, but the page you were trying to view does not exist.</p>
            <p>It looks like this was the result of either:</p>
            <ul>
                <li>a mistyped address</li>
                <li>an out-of-date link</li>
            </ul>
        </main>

        <script>
            var GOOG_FIXURL_LANG = (navigator.language || '').slice(0,2),
                GOOG_FIXURL_SITE = location.host;
        </script>
        <script src="http://linkhelp.clients.google.com/tbproxy/lh/wm/fixurl.js"></script>
    </body>
</html>
