<div class="no-posts-box">
    <div class="no-posts">
        <h3>You haven't added any tags yet!</h3>
        {{#link-to "settings.tags.new"}}<button type="button" class="gh-btn gh-btn-green btn-lg" title="New Tag"><span>Add a tag</span></button>{{/link-to}}
    </div>
</div>
