<div class="modal-body modal-preview-email-content gh-pe-mobile-container h-auto overflow-auto">
    <div class="gh-pe-mobile-bezel">
        <div class="gh-pe-mobile-screen">
            <iframe class="gh-post-preview-iframe" src={{@post.previewUrl}}></iframe>
        </div>
    </div>
</div>