---
layout: default
meta_title: How to Install Ghost on Your Server - Ghost Docs
meta_description: Everything you need to get the Ghost blogging platform up and running on your local or remote environement.
heading: Installing Ghost &amp; Getting Started
subheading: The first steps to setting up your new blog for the first time.
permalink: /installation/upgrading/
chapter: installation
prev_section: deploy
next_section: troubleshooting
---

<div class="container">
    <div class="row">
        {% include subnav/installation.html %}

        <section id="content" class="col-lg-9">

            <h1 id="upgrade">Upgrading</h1>

            <p>Upgrading Ghost involves replacing old files with the new files, and restarting the server. However, as the database, image uploads and custom themes are stored alongside Ghost in the <code class="path">content</code> directory, care should be taken to only replace the necessary files as explained below.</p>

            <p>It is highly recommended that you make a backup of your data before upgrading. This can be done by logging into your Ghost install and going to <code class="path">/ghost/debug/</code>. Press the export button to download a JSON file containing all of your data.</p>

            <h3>Upgrade process:</h3>
            <ul>
                <li>Download the latest version of Ghost from <a href="http://ghost.org/download/">ghost.org</a></li>
                <li>Either extract the zip file locally, or into a temporary directory on your server</li>
                <li>Copy all of the root level files from the latest version. This includes: index.js, package.json, Gruntfile.js, config.example.js, the license and readme files.</li>
                <li>Next replace the old <code class="path">core</code> directory with the new <code class="path">core</code> directory</li>
                <li>For releases which include update to Casper (the default theme), replace the old <code class="path">content/themes/casper</code> directory with the new one</li>
                <li>Run <code>npm install --production</code></li>
                <li>Finally, Restart Ghost so that the changes take effect</li>
            </ul>

            <h3>Command line only</h3>

            <p>The screencast below shows the steps for upgrading Ghost where the zip file has been downloaded to <code class="path">~/Downloads</code> and Ghost is installed in <code class="path">~/ghost</code> <span class="note"><strong>Note:</strong> <code>~</code> means the user's home directory on mac and linux</span></p>

            <img src="http://f.cl.ly/items/2u1c3f2o0l1o0f09141j/upgrade-ghost.gif" width="100%" />

            <p>The steps in the screencast are:
            <ul>
                <li><code class="path">cd ~/Downloads</code> - change directory to the Downloads directory where the latest version of Ghost has been saved</li>
                <li><code>unzip ghost-0.3.1.zip -d ghost-0.3.1</code> - unzip ghost into the folder <code class="path">ghost-0.3.1</code></li>
                <li><code class="path">cd ghost-0.3.1</code> - change directory into the <code class="path">ghost-0.3.1</code> directory</li>
                <li><code>ls</code> - show all the files and folders inside this directory</li>
                <li><code>cp *.md *.js *.txt *.json ~/ghost</code> - copy all .md .js .txt and .json files from this location to <code class="path">~/ghost</code></li>
                <li><code>cp -R core ~/ghost</code> - copy the <code>core</code> directory and all of its contents to the <code class="path">~/ghost</code></li>
                <li><code>cp -R content/themes/casper ~/ghost/content/themes</code> - copy the <code class="path">casper</code> directory and all of its contents to <code class="path">~/ghost/content/themes</code></li>
                <li><code>cd ~/ghost</code> - change directory to the <code class="path">~/ghost</code> directory</li>
                <li><code>npm install --production</code> - install Ghost</li>
                <li><code>npm start</code> - start Ghost</li>
            </ul>
            </p>

            <p><strong>Additionally</strong>, <a href="http://www.howtoinstallghost.com/how-to-update-ghost/">howtoinstallghost.com</a> also has instructions for upgrading Ghost on linux servers.</p>

            {% if page.next_section || page.prev_section %}
                {% include pagination.html %}
            {% endif %}
        </section>
    </div>
</div>