{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2021-12-01",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"verifiedpermissions",
    "jsonVersion":"1.0",
    "protocol":"json",
    "protocols":["json"],
    "serviceFullName":"Amazon Verified Permissions",
    "serviceId":"VerifiedPermissions",
    "signatureVersion":"v4",
    "signingName":"verifiedpermissions",
    "targetPrefix":"VerifiedPermissions",
    "uid":"verifiedpermissions-2021-12-01"
  },
  "operations":{
    "BatchGetPolicy":{
      "name":"BatchGetPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetPolicyInput"},
      "output":{"shape":"BatchGetPolicyOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves information about a group (batch) of policies.</p> <note> <p>The <code>BatchGetPolicy</code> operation doesn't have its own IAM permission. To authorize this operation for Amazon Web Services principals, include the permission <code>verifiedpermissions:GetPolicy</code> in their IAM policies.</p> </note>"
    },
    "BatchIsAuthorized":{
      "name":"BatchIsAuthorized",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchIsAuthorizedInput"},
      "output":{"shape":"BatchIsAuthorizedOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Makes a series of decisions about multiple authorization requests for one principal or resource. Each request contains the equivalent content of an <code>IsAuthorized</code> request: principal, action, resource, and context. Either the <code>principal</code> or the <code>resource</code> parameter must be identical across all requests. For example, Verified Permissions won't evaluate a pair of requests where <code>bob</code> views <code>photo1</code> and <code>alice</code> views <code>photo2</code>. Authorization of <code>bob</code> to view <code>photo1</code> and <code>photo2</code>, or <code>bob</code> and <code>alice</code> to view <code>photo1</code>, are valid batches. </p> <p>The request is evaluated against all policies in the specified policy store that match the entities that you declare. The result of the decisions is a series of <code>Allow</code> or <code>Deny</code> responses, along with the IDs of the policies that produced each decision.</p> <p>The <code>entities</code> of a <code>BatchIsAuthorized</code> API request can contain up to 100 principals and up to 100 resources. The <code>requests</code> of a <code>BatchIsAuthorized</code> API request can contain up to 30 requests.</p> <note> <p>The <code>BatchIsAuthorized</code> operation doesn't have its own IAM permission. To authorize this operation for Amazon Web Services principals, include the permission <code>verifiedpermissions:IsAuthorized</code> in their IAM policies.</p> </note>"
    },
    "BatchIsAuthorizedWithToken":{
      "name":"BatchIsAuthorizedWithToken",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchIsAuthorizedWithTokenInput"},
      "output":{"shape":"BatchIsAuthorizedWithTokenOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Makes a series of decisions about multiple authorization requests for one token. The principal in this request comes from an external identity source in the form of an identity or access token, formatted as a <a href=\"https://wikipedia.org/wiki/JSON_Web_Token\">JSON web token (JWT)</a>. The information in the parameters can also define additional context that Verified Permissions can include in the evaluations.</p> <p>The request is evaluated against all policies in the specified policy store that match the entities that you provide in the entities declaration and in the token. The result of the decisions is a series of <code>Allow</code> or <code>Deny</code> responses, along with the IDs of the policies that produced each decision.</p> <p>The <code>entities</code> of a <code>BatchIsAuthorizedWithToken</code> API request can contain up to 100 resources and up to 99 user groups. The <code>requests</code> of a <code>BatchIsAuthorizedWithToken</code> API request can contain up to 30 requests.</p> <note> <p>The <code>BatchIsAuthorizedWithToken</code> operation doesn't have its own IAM permission. To authorize this operation for Amazon Web Services principals, include the permission <code>verifiedpermissions:IsAuthorizedWithToken</code> in their IAM policies.</p> </note>"
    },
    "CreateIdentitySource":{
      "name":"CreateIdentitySource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateIdentitySourceInput"},
      "output":{"shape":"CreateIdentitySourceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Adds an identity source to a policy store–an Amazon Cognito user pool or OpenID Connect (OIDC) identity provider (IdP). </p> <p>After you create an identity source, you can use the identities provided by the IdP as proxies for the principal in authorization queries that use the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorizedWithToken.html\">IsAuthorizedWithToken</a> or <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_BatchIsAuthorizedWithToken.html\">BatchIsAuthorizedWithToken</a> API operations. These identities take the form of tokens that contain claims about the user, such as IDs, attributes and group memberships. Identity sources provide identity (ID) tokens and access tokens. Verified Permissions derives information about your user and session from token claims. Access tokens provide action <code>context</code> to your policies, and ID tokens provide principal <code>Attributes</code>.</p> <important> <p>Tokens from an identity source user continue to be usable until they expire. Token revocation and resource deletion have no effect on the validity of a token in your policy store</p> </important> <note> <p>To reference a user from this identity source in your Cedar policies, refer to the following syntax examples.</p> <ul> <li> <p>Amazon Cognito user pool: <code>Namespace::[Entity type]::[User pool ID]|[user principal attribute]</code>, for example <code>MyCorp::User::us-east-1_EXAMPLE|a1b2c3d4-5678-90ab-cdef-EXAMPLE11111</code>.</p> </li> <li> <p>OpenID Connect (OIDC) provider: <code>Namespace::[Entity type]::[entityIdPrefix]|[user principal attribute]</code>, for example <code>MyCorp::User::MyOIDCProvider|a1b2c3d4-5678-90ab-cdef-EXAMPLE22222</code>.</p> </li> </ul> </note> <note> <p>Verified Permissions is <i> <a href=\"https://wikipedia.org/wiki/Eventual_consistency\">eventually consistent</a> </i>. It can take a few seconds for a new or changed element to propagate through the service and be visible in the results of other Verified Permissions operations.</p> </note>",
      "idempotent":true
    },
    "CreatePolicy":{
      "name":"CreatePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePolicyInput"},
      "output":{"shape":"CreatePolicyOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a Cedar policy and saves it in the specified policy store. You can create either a static policy or a policy linked to a policy template.</p> <ul> <li> <p>To create a static policy, provide the Cedar policy text in the <code>StaticPolicy</code> section of the <code>PolicyDefinition</code>.</p> </li> <li> <p>To create a policy that is dynamically linked to a policy template, specify the policy template ID and the principal and resource to associate with this policy in the <code>templateLinked</code> section of the <code>PolicyDefinition</code>. If the policy template is ever updated, any policies linked to the policy template automatically use the updated template.</p> </li> </ul> <note> <p>Creating a policy causes it to be validated against the schema in the policy store. If the policy doesn't pass validation, the operation fails and the policy isn't stored.</p> </note> <note> <p>Verified Permissions is <i> <a href=\"https://wikipedia.org/wiki/Eventual_consistency\">eventually consistent</a> </i>. It can take a few seconds for a new or changed element to propagate through the service and be visible in the results of other Verified Permissions operations.</p> </note>",
      "idempotent":true
    },
    "CreatePolicyStore":{
      "name":"CreatePolicyStore",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePolicyStoreInput"},
      "output":{"shape":"CreatePolicyStoreOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a policy store. A policy store is a container for policy resources.</p> <note> <p>Although <a href=\"https://docs.cedarpolicy.com/schema/schema.html#namespace\">Cedar supports multiple namespaces</a>, Verified Permissions currently supports only one namespace per policy store.</p> </note> <note> <p>Verified Permissions is <i> <a href=\"https://wikipedia.org/wiki/Eventual_consistency\">eventually consistent</a> </i>. It can take a few seconds for a new or changed element to propagate through the service and be visible in the results of other Verified Permissions operations.</p> </note>",
      "idempotent":true
    },
    "CreatePolicyTemplate":{
      "name":"CreatePolicyTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePolicyTemplateInput"},
      "output":{"shape":"CreatePolicyTemplateOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a policy template. A template can use placeholders for the principal and resource. A template must be instantiated into a policy by associating it with specific principals and resources to use for the placeholders. That instantiated policy can then be considered in authorization decisions. The instantiated policy works identically to any other policy, except that it is dynamically linked to the template. If the template changes, then any policies that are linked to that template are immediately updated as well.</p> <note> <p>Verified Permissions is <i> <a href=\"https://wikipedia.org/wiki/Eventual_consistency\">eventually consistent</a> </i>. It can take a few seconds for a new or changed element to propagate through the service and be visible in the results of other Verified Permissions operations.</p> </note>",
      "idempotent":true
    },
    "DeleteIdentitySource":{
      "name":"DeleteIdentitySource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteIdentitySourceInput"},
      "output":{"shape":"DeleteIdentitySourceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes an identity source that references an identity provider (IdP) such as Amazon Cognito. After you delete the identity source, you can no longer use tokens for identities from that identity source to represent principals in authorization queries made using <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorizedWithToken.html\">IsAuthorizedWithToken</a>. operations.</p>",
      "idempotent":true
    },
    "DeletePolicy":{
      "name":"DeletePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePolicyInput"},
      "output":{"shape":"DeletePolicyOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes the specified policy from the policy store.</p> <p>This operation is idempotent; if you specify a policy that doesn't exist, the request response returns a successful <code>HTTP 200</code> status code.</p>",
      "idempotent":true
    },
    "DeletePolicyStore":{
      "name":"DeletePolicyStore",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePolicyStoreInput"},
      "output":{"shape":"DeletePolicyStoreOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InvalidStateException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes the specified policy store.</p> <p>This operation is idempotent. If you specify a policy store that does not exist, the request response will still return a successful HTTP 200 status code.</p>",
      "idempotent":true
    },
    "DeletePolicyTemplate":{
      "name":"DeletePolicyTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePolicyTemplateInput"},
      "output":{"shape":"DeletePolicyTemplateOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes the specified policy template from the policy store.</p> <important> <p>This operation also deletes any policies that were created from the specified policy template. Those policies are immediately removed from all future API responses, and are asynchronously deleted from the policy store.</p> </important>",
      "idempotent":true
    },
    "GetIdentitySource":{
      "name":"GetIdentitySource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetIdentitySourceInput"},
      "output":{"shape":"GetIdentitySourceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves the details about the specified identity source.</p>"
    },
    "GetPolicy":{
      "name":"GetPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPolicyInput"},
      "output":{"shape":"GetPolicyOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves information about the specified policy.</p>"
    },
    "GetPolicyStore":{
      "name":"GetPolicyStore",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPolicyStoreInput"},
      "output":{"shape":"GetPolicyStoreOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves details about a policy store.</p>"
    },
    "GetPolicyTemplate":{
      "name":"GetPolicyTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPolicyTemplateInput"},
      "output":{"shape":"GetPolicyTemplateOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieve the details for the specified policy template in the specified policy store.</p>"
    },
    "GetSchema":{
      "name":"GetSchema",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSchemaInput"},
      "output":{"shape":"GetSchemaOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieve the details for the specified schema in the specified policy store.</p>"
    },
    "IsAuthorized":{
      "name":"IsAuthorized",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"IsAuthorizedInput"},
      "output":{"shape":"IsAuthorizedOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Makes an authorization decision about a service request described in the parameters. The information in the parameters can also define additional context that Verified Permissions can include in the evaluation. The request is evaluated against all matching policies in the specified policy store. The result of the decision is either <code>Allow</code> or <code>Deny</code>, along with a list of the policies that resulted in the decision.</p>"
    },
    "IsAuthorizedWithToken":{
      "name":"IsAuthorizedWithToken",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"IsAuthorizedWithTokenInput"},
      "output":{"shape":"IsAuthorizedWithTokenOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Makes an authorization decision about a service request described in the parameters. The principal in this request comes from an external identity source in the form of an identity token formatted as a <a href=\"https://wikipedia.org/wiki/JSON_Web_Token\">JSON web token (JWT)</a>. The information in the parameters can also define additional context that Verified Permissions can include in the evaluation. The request is evaluated against all matching policies in the specified policy store. The result of the decision is either <code>Allow</code> or <code>Deny</code>, along with a list of the policies that resulted in the decision.</p> <p>Verified Permissions validates each token that is specified in a request by checking its expiration date and its signature.</p> <important> <p>Tokens from an identity source user continue to be usable until they expire. Token revocation and resource deletion have no effect on the validity of a token in your policy store</p> </important>"
    },
    "ListIdentitySources":{
      "name":"ListIdentitySources",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListIdentitySourcesInput"},
      "output":{"shape":"ListIdentitySourcesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns a paginated list of all of the identity sources defined in the specified policy store.</p>"
    },
    "ListPolicies":{
      "name":"ListPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPoliciesInput"},
      "output":{"shape":"ListPoliciesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns a paginated list of all policies stored in the specified policy store.</p>"
    },
    "ListPolicyStores":{
      "name":"ListPolicyStores",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPolicyStoresInput"},
      "output":{"shape":"ListPolicyStoresOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns a paginated list of all policy stores in the calling Amazon Web Services account.</p>"
    },
    "ListPolicyTemplates":{
      "name":"ListPolicyTemplates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPolicyTemplatesInput"},
      "output":{"shape":"ListPolicyTemplatesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns a paginated list of all policy templates in the specified policy store.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceInput"},
      "output":{"shape":"ListTagsForResourceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns the tags associated with the specified Amazon Verified Permissions resource. In Verified Permissions, policy stores can be tagged.</p>"
    },
    "PutSchema":{
      "name":"PutSchema",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutSchemaInput"},
      "output":{"shape":"PutSchemaOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates or updates the policy schema in the specified policy store. The schema is used to validate any Cedar policies and policy templates submitted to the policy store. Any changes to the schema validate only policies and templates submitted after the schema change. Existing policies and templates are not re-evaluated against the changed schema. If you later update a policy, then it is evaluated against the new schema at that time.</p> <note> <p>Verified Permissions is <i> <a href=\"https://wikipedia.org/wiki/Eventual_consistency\">eventually consistent</a> </i>. It can take a few seconds for a new or changed element to propagate through the service and be visible in the results of other Verified Permissions operations.</p> </note>",
      "idempotent":true
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceInput"},
      "output":{"shape":"TagResourceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"TooManyTagsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Assigns one or more tags (key-value pairs) to the specified Amazon Verified Permissions resource. Tags can help you organize and categorize your resources. You can also use them to scope user permissions by granting a user permission to access or change only resources with certain tag values. In Verified Permissions, policy stores can be tagged.</p> <p>Tags don't have any semantic meaning to Amazon Web Services and are interpreted strictly as strings of characters.</p> <p>You can use the TagResource action with a resource that already has tags. If you specify a new tag key, this tag is appended to the list of tags associated with the resource. If you specify a tag key that is already associated with the resource, the new tag value that you specify replaces the previous value for that tag.</p> <p>You can associate as many as 50 tags with a resource.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceInput"},
      "output":{"shape":"UntagResourceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Removes one or more tags from the specified Amazon Verified Permissions resource. In Verified Permissions, policy stores can be tagged.</p>"
    },
    "UpdateIdentitySource":{
      "name":"UpdateIdentitySource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateIdentitySourceInput"},
      "output":{"shape":"UpdateIdentitySourceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates the specified identity source to use a new identity provider (IdP), or to change the mapping of identities from the IdP to a different principal entity type.</p> <note> <p>Verified Permissions is <i> <a href=\"https://wikipedia.org/wiki/Eventual_consistency\">eventually consistent</a> </i>. It can take a few seconds for a new or changed element to propagate through the service and be visible in the results of other Verified Permissions operations.</p> </note>",
      "idempotent":true
    },
    "UpdatePolicy":{
      "name":"UpdatePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePolicyInput"},
      "output":{"shape":"UpdatePolicyOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Modifies a Cedar static policy in the specified policy store. You can change only certain elements of the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_UpdatePolicyInput.html#amazonverifiedpermissions-UpdatePolicy-request-UpdatePolicyDefinition\">UpdatePolicyDefinition</a> parameter. You can directly update only static policies. To change a template-linked policy, you must update the template instead, using <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_UpdatePolicyTemplate.html\">UpdatePolicyTemplate</a>.</p> <note> <ul> <li> <p>If policy validation is enabled in the policy store, then updating a static policy causes Verified Permissions to validate the policy against the schema in the policy store. If the updated static policy doesn't pass validation, the operation fails and the update isn't stored.</p> </li> <li> <p>When you edit a static policy, you can change only certain elements of a static policy:</p> <ul> <li> <p>The action referenced by the policy. </p> </li> <li> <p>A condition clause, such as when and unless. </p> </li> </ul> <p>You can't change these elements of a static policy: </p> <ul> <li> <p>Changing a policy from a static policy to a template-linked policy. </p> </li> <li> <p>Changing the effect of a static policy from permit or forbid. </p> </li> <li> <p>The principal referenced by a static policy. </p> </li> <li> <p>The resource referenced by a static policy. </p> </li> </ul> </li> <li> <p>To update a template-linked policy, you must update the template instead. </p> </li> </ul> </note> <note> <p>Verified Permissions is <i> <a href=\"https://wikipedia.org/wiki/Eventual_consistency\">eventually consistent</a> </i>. It can take a few seconds for a new or changed element to propagate through the service and be visible in the results of other Verified Permissions operations.</p> </note>",
      "idempotent":true
    },
    "UpdatePolicyStore":{
      "name":"UpdatePolicyStore",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePolicyStoreInput"},
      "output":{"shape":"UpdatePolicyStoreOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Modifies the validation setting for a policy store.</p> <note> <p>Verified Permissions is <i> <a href=\"https://wikipedia.org/wiki/Eventual_consistency\">eventually consistent</a> </i>. It can take a few seconds for a new or changed element to propagate through the service and be visible in the results of other Verified Permissions operations.</p> </note>",
      "idempotent":true
    },
    "UpdatePolicyTemplate":{
      "name":"UpdatePolicyTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePolicyTemplateInput"},
      "output":{"shape":"UpdatePolicyTemplateOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates the specified policy template. You can update only the description and the some elements of the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_UpdatePolicyTemplate.html#amazonverifiedpermissions-UpdatePolicyTemplate-request-policyBody\">policyBody</a>. </p> <important> <p>Changes you make to the policy template content are immediately (within the constraints of eventual consistency) reflected in authorization decisions that involve all template-linked policies instantiated from this template.</p> </important> <note> <p>Verified Permissions is <i> <a href=\"https://wikipedia.org/wiki/Eventual_consistency\">eventually consistent</a> </i>. It can take a few seconds for a new or changed element to propagate through the service and be visible in the results of other Verified Permissions operations.</p> </note>",
      "idempotent":true
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>You don't have sufficient access to perform this action.</p>",
      "exception":true
    },
    "ActionId":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":".*",
      "sensitive":true
    },
    "ActionIdentifier":{
      "type":"structure",
      "required":[
        "actionType",
        "actionId"
      ],
      "members":{
        "actionType":{
          "shape":"ActionType",
          "documentation":"<p>The type of an action.</p>"
        },
        "actionId":{
          "shape":"ActionId",
          "documentation":"<p>The ID of an action.</p>"
        }
      },
      "documentation":"<p>Contains information about an action for a request for which an authorization decision is made.</p> <p>This data type is used as a request parameter to the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorized.html\">IsAuthorized</a>, <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_BatchIsAuthorized.html\">BatchIsAuthorized</a>, and <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorizedWithToken.html\">IsAuthorizedWithToken</a> operations.</p> <p>Example: <code>{ \"actionId\": \"&lt;action name&gt;\", \"actionType\": \"Action\" }</code> </p>"
    },
    "ActionIdentifierList":{
      "type":"list",
      "member":{"shape":"ActionIdentifier"}
    },
    "ActionType":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"Action$|^.+::Action",
      "sensitive":true
    },
    "AmazonResourceName":{
      "type":"string",
      "documentation":"<p>An Amazon Resource Name (ARN) uniquely identifies an AWS resource.</p>",
      "max":2048,
      "min":1
    },
    "AttributeValue":{
      "type":"structure",
      "members":{
        "boolean":{
          "shape":"BooleanAttribute",
          "documentation":"<p>An attribute value of <a href=\"https://docs.cedarpolicy.com/policies/syntax-datatypes.html#boolean\">Boolean</a> type.</p> <p>Example: <code>{\"boolean\": true}</code> </p>"
        },
        "entityIdentifier":{
          "shape":"EntityIdentifier",
          "documentation":"<p>An attribute value of type <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_EntityIdentifier.html\">EntityIdentifier</a>.</p> <p>Example: <code>\"entityIdentifier\": { \"entityId\": \"&lt;id&gt;\", \"entityType\": \"&lt;entity type&gt;\"}</code> </p>"
        },
        "long":{
          "shape":"LongAttribute",
          "documentation":"<p>An attribute value of <a href=\"https://docs.cedarpolicy.com/policies/syntax-datatypes.html#long\">Long</a> type.</p> <p>Example: <code>{\"long\": 0}</code> </p>"
        },
        "string":{
          "shape":"StringAttribute",
          "documentation":"<p>An attribute value of <a href=\"https://docs.cedarpolicy.com/policies/syntax-datatypes.html#string\">String</a> type.</p> <p>Example: <code>{\"string\": \"abc\"}</code> </p>"
        },
        "set":{
          "shape":"SetAttribute",
          "documentation":"<p>An attribute value of <a href=\"https://docs.cedarpolicy.com/policies/syntax-datatypes.html#set\">Set</a> type.</p> <p>Example: <code>{\"set\": [ {} ] }</code> </p>"
        },
        "record":{
          "shape":"RecordAttribute",
          "documentation":"<p>An attribute value of <a href=\"https://docs.cedarpolicy.com/policies/syntax-datatypes.html#record\">Record</a> type.</p> <p>Example: <code>{\"record\": { \"keyName\": {} } }</code> </p>"
        },
        "ipaddr":{
          "shape":"IpAddr",
          "documentation":"<p>An attribute value of <a href=\"https://docs.cedarpolicy.com/policies/syntax-datatypes.html#datatype-ipaddr\">ipaddr</a> type.</p> <p>Example: <code>{\"ip\": \"192.168.1.100\"}</code> </p>"
        },
        "decimal":{
          "shape":"Decimal",
          "documentation":"<p>An attribute value of <a href=\"https://docs.cedarpolicy.com/policies/syntax-datatypes.html#datatype-decimal\">decimal</a> type.</p> <p>Example: <code>{\"decimal\": \"1.1\"}</code> </p>"
        },
        "datetime":{
          "shape":"DatetimeAttribute",
          "documentation":"<p>An attribute value of <a href=\"https://docs.cedarpolicy.com/policies/syntax-datatypes.html#datatype-datetime\">datetime</a> type.</p> <p>Example: <code>{\"datetime\": \"2024-10-15T11:35:00Z\"}</code> </p>"
        },
        "duration":{
          "shape":"Duration",
          "documentation":"<p>An attribute value of <a href=\"https://docs.cedarpolicy.com/policies/syntax-datatypes.html#datatype-duration\">duration</a> type.</p> <p>Example: <code>{\"duration\": \"1h30m\"}</code> </p>"
        }
      },
      "documentation":"<p>The value of an attribute.</p> <p>Contains information about the runtime context for a request for which an authorization decision is made. </p> <p>This data type is used as a member of the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_ContextDefinition.html\">ContextDefinition</a> structure which is uses as a request parameter for the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorized.html\">IsAuthorized</a>, <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_BatchIsAuthorized.html\">BatchIsAuthorized</a>, and <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorizedWithToken.html\">IsAuthorizedWithToken</a> operations.</p>",
      "union":true
    },
    "Audience":{
      "type":"string",
      "max":255,
      "min":1
    },
    "Audiences":{
      "type":"list",
      "member":{"shape":"Audience"},
      "max":255,
      "min":1
    },
    "BatchGetPolicyErrorCode":{
      "type":"string",
      "enum":[
        "POLICY_STORE_NOT_FOUND",
        "POLICY_NOT_FOUND"
      ]
    },
    "BatchGetPolicyErrorItem":{
      "type":"structure",
      "required":[
        "code",
        "policyStoreId",
        "policyId",
        "message"
      ],
      "members":{
        "code":{
          "shape":"BatchGetPolicyErrorCode",
          "documentation":"<p>The error code that was returned.</p>"
        },
        "policyStoreId":{
          "shape":"String",
          "documentation":"<p>The identifier of the policy store associated with the failed request.</p>"
        },
        "policyId":{
          "shape":"String",
          "documentation":"<p>The identifier of the policy associated with the failed request.</p>"
        },
        "message":{
          "shape":"String",
          "documentation":"<p>A detailed error message.</p>"
        }
      },
      "documentation":"<p>Contains the information about an error resulting from a <code>BatchGetPolicy</code> API call.</p>"
    },
    "BatchGetPolicyErrorList":{
      "type":"list",
      "member":{"shape":"BatchGetPolicyErrorItem"}
    },
    "BatchGetPolicyInput":{
      "type":"structure",
      "required":["requests"],
      "members":{
        "requests":{
          "shape":"BatchGetPolicyInputList",
          "documentation":"<p>An array of up to 100 policies you want information about.</p>"
        }
      }
    },
    "BatchGetPolicyInputItem":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "policyId"
      ],
      "members":{
        "policyStoreId":{
          "shape":"PolicyStoreId",
          "documentation":"<p>The identifier of the policy store where the policy you want information about is stored.</p>"
        },
        "policyId":{
          "shape":"PolicyId",
          "documentation":"<p>The identifier of the policy you want information about.</p>"
        }
      },
      "documentation":"<p>Information about a policy that you include in a <code>BatchGetPolicy</code> API request.</p>"
    },
    "BatchGetPolicyInputList":{
      "type":"list",
      "member":{"shape":"BatchGetPolicyInputItem"},
      "max":100,
      "min":1
    },
    "BatchGetPolicyOutput":{
      "type":"structure",
      "required":[
        "results",
        "errors"
      ],
      "members":{
        "results":{
          "shape":"BatchGetPolicyOutputList",
          "documentation":"<p>Information about the policies listed in the request that were successfully returned. These results are returned in the order they were requested.</p>"
        },
        "errors":{
          "shape":"BatchGetPolicyErrorList",
          "documentation":"<p>Information about the policies from the request that resulted in an error. These results are returned in the order they were requested.</p>"
        }
      }
    },
    "BatchGetPolicyOutputItem":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "policyId",
        "policyType",
        "definition",
        "createdDate",
        "lastUpdatedDate"
      ],
      "members":{
        "policyStoreId":{
          "shape":"PolicyStoreId",
          "documentation":"<p>The identifier of the policy store where the policy you want information about is stored.</p>"
        },
        "policyId":{
          "shape":"PolicyId",
          "documentation":"<p>The identifier of the policy you want information about.</p>"
        },
        "policyType":{
          "shape":"PolicyType",
          "documentation":"<p>The type of the policy. This is one of the following values:</p> <ul> <li> <p> <code>STATIC</code> </p> </li> <li> <p> <code>TEMPLATE_LINKED</code> </p> </li> </ul>"
        },
        "definition":{
          "shape":"PolicyDefinitionDetail",
          "documentation":"<p>The policy definition of an item in the list of policies returned.</p>"
        },
        "createdDate":{
          "shape":"TimestampFormat",
          "documentation":"<p>The date and time the policy was created.</p>"
        },
        "lastUpdatedDate":{
          "shape":"TimestampFormat",
          "documentation":"<p>The date and time the policy was most recently updated.</p>"
        }
      },
      "documentation":"<p>Contains information about a policy returned from a <code>BatchGetPolicy</code> API request.</p>"
    },
    "BatchGetPolicyOutputList":{
      "type":"list",
      "member":{"shape":"BatchGetPolicyOutputItem"}
    },
    "BatchIsAuthorizedInput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "requests"
      ],
      "members":{
        "policyStoreId":{
          "shape":"PolicyStoreId",
          "documentation":"<p>Specifies the ID of the policy store. Policies in this policy store will be used to make the authorization decisions for the input.</p>"
        },
        "entities":{
          "shape":"EntitiesDefinition",
          "documentation":"<p>(Optional) Specifies the list of resources and principals and their associated attributes that Verified Permissions can examine when evaluating the policies. These additional entities and their attributes can be referenced and checked by conditional elements in the policies in the specified policy store.</p> <note> <p>You can include only principal and resource entities in this parameter; you can't include actions. You must specify actions in the schema.</p> </note>"
        },
        "requests":{
          "shape":"BatchIsAuthorizedInputList",
          "documentation":"<p>An array of up to 30 requests that you want Verified Permissions to evaluate.</p>"
        }
      }
    },
    "BatchIsAuthorizedInputItem":{
      "type":"structure",
      "members":{
        "principal":{
          "shape":"EntityIdentifier",
          "documentation":"<p>Specifies the principal for which the authorization decision is to be made.</p>"
        },
        "action":{
          "shape":"ActionIdentifier",
          "documentation":"<p>Specifies the requested action to be authorized. For example, <code>PhotoFlash::ReadPhoto</code>.</p>"
        },
        "resource":{
          "shape":"EntityIdentifier",
          "documentation":"<p>Specifies the resource that you want an authorization decision for. For example, <code>PhotoFlash::Photo</code>.</p>"
        },
        "context":{
          "shape":"ContextDefinition",
          "documentation":"<p>Specifies additional context that can be used to make more granular authorization decisions.</p>"
        }
      },
      "documentation":"<p>An authorization request that you include in a <code>BatchIsAuthorized</code> API request.</p>"
    },
    "BatchIsAuthorizedInputList":{
      "type":"list",
      "member":{"shape":"BatchIsAuthorizedInputItem"},
      "min":1
    },
    "BatchIsAuthorizedOutput":{
      "type":"structure",
      "required":["results"],
      "members":{
        "results":{
          "shape":"BatchIsAuthorizedOutputList",
          "documentation":"<p>A series of <code>Allow</code> or <code>Deny</code> decisions for each request, and the policies that produced them. These results are returned in the order they were requested.</p>"
        }
      }
    },
    "BatchIsAuthorizedOutputItem":{
      "type":"structure",
      "required":[
        "request",
        "decision",
        "determiningPolicies",
        "errors"
      ],
      "members":{
        "request":{
          "shape":"BatchIsAuthorizedInputItem",
          "documentation":"<p>The authorization request that initiated the decision.</p>"
        },
        "decision":{
          "shape":"Decision",
          "documentation":"<p>An authorization decision that indicates if the authorization request should be allowed or denied.</p>"
        },
        "determiningPolicies":{
          "shape":"DeterminingPolicyList",
          "documentation":"<p>The list of determining policies used to make the authorization decision. For example, if there are two matching policies, where one is a forbid and the other is a permit, then the forbid policy will be the determining policy. In the case of multiple matching permit policies then there would be multiple determining policies. In the case that no policies match, and hence the response is DENY, there would be no determining policies.</p>"
        },
        "errors":{
          "shape":"EvaluationErrorList",
          "documentation":"<p>Errors that occurred while making an authorization decision. For example, a policy might reference an entity or attribute that doesn't exist in the request.</p>"
        }
      },
      "documentation":"<p>The decision, based on policy evaluation, from an individual authorization request in a <code>BatchIsAuthorized</code> API request.</p>"
    },
    "BatchIsAuthorizedOutputList":{
      "type":"list",
      "member":{"shape":"BatchIsAuthorizedOutputItem"}
    },
    "BatchIsAuthorizedWithTokenInput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "requests"
      ],
      "members":{
        "policyStoreId":{
          "shape":"PolicyStoreId",
          "documentation":"<p>Specifies the ID of the policy store. Policies in this policy store will be used to make an authorization decision for the input.</p>"
        },
        "identityToken":{
          "shape":"Token",
          "documentation":"<p>Specifies an identity (ID) token for the principal that you want to authorize in each request. This token is provided to you by the identity provider (IdP) associated with the specified identity source. You must specify either an <code>accessToken</code>, an <code>identityToken</code>, or both.</p> <p>Must be an ID token. Verified Permissions returns an error if the <code>token_use</code> claim in the submitted token isn't <code>id</code>.</p>"
        },
        "accessToken":{
          "shape":"Token",
          "documentation":"<p>Specifies an access token for the principal that you want to authorize in each request. This token is provided to you by the identity provider (IdP) associated with the specified identity source. You must specify either an <code>accessToken</code>, an <code>identityToken</code>, or both.</p> <p>Must be an access token. Verified Permissions returns an error if the <code>token_use</code> claim in the submitted token isn't <code>access</code>.</p>"
        },
        "entities":{
          "shape":"EntitiesDefinition",
          "documentation":"<p>(Optional) Specifies the list of resources and their associated attributes that Verified Permissions can examine when evaluating the policies. These additional entities and their attributes can be referenced and checked by conditional elements in the policies in the specified policy store.</p> <important> <p>You can't include principals in this parameter, only resource and action entities. This parameter can't include any entities of a type that matches the user or group entity types that you defined in your identity source.</p> <ul> <li> <p>The <code>BatchIsAuthorizedWithToken</code> operation takes principal attributes from <b> <i>only</i> </b> the <code>identityToken</code> or <code>accessToken</code> passed to the operation.</p> </li> <li> <p>For action entities, you can include only their <code>Identifier</code> and <code>EntityType</code>. </p> </li> </ul> </important>"
        },
        "requests":{
          "shape":"BatchIsAuthorizedWithTokenInputList",
          "documentation":"<p>An array of up to 30 requests that you want Verified Permissions to evaluate.</p>"
        }
      }
    },
    "BatchIsAuthorizedWithTokenInputItem":{
      "type":"structure",
      "members":{
        "action":{
          "shape":"ActionIdentifier",
          "documentation":"<p>Specifies the requested action to be authorized. For example, <code>PhotoFlash::ReadPhoto</code>.</p>"
        },
        "resource":{
          "shape":"EntityIdentifier",
          "documentation":"<p>Specifies the resource that you want an authorization decision for. For example, <code>PhotoFlash::Photo</code>.</p>"
        },
        "context":{
          "shape":"ContextDefinition",
          "documentation":"<p>Specifies additional context that can be used to make more granular authorization decisions.</p>"
        }
      },
      "documentation":"<p>An authorization request that you include in a <code>BatchIsAuthorizedWithToken</code> API request.</p>"
    },
    "BatchIsAuthorizedWithTokenInputList":{
      "type":"list",
      "member":{"shape":"BatchIsAuthorizedWithTokenInputItem"},
      "min":1
    },
    "BatchIsAuthorizedWithTokenOutput":{
      "type":"structure",
      "required":["results"],
      "members":{
        "principal":{
          "shape":"EntityIdentifier",
          "documentation":"<p>The identifier of the principal in the ID or access token.</p>"
        },
        "results":{
          "shape":"BatchIsAuthorizedWithTokenOutputList",
          "documentation":"<p>A series of <code>Allow</code> or <code>Deny</code> decisions for each request, and the policies that produced them. These results are returned in the order they were requested.</p>"
        }
      }
    },
    "BatchIsAuthorizedWithTokenOutputItem":{
      "type":"structure",
      "required":[
        "request",
        "decision",
        "determiningPolicies",
        "errors"
      ],
      "members":{
        "request":{
          "shape":"BatchIsAuthorizedWithTokenInputItem",
          "documentation":"<p>The authorization request that initiated the decision.</p>"
        },
        "decision":{
          "shape":"Decision",
          "documentation":"<p>An authorization decision that indicates if the authorization request should be allowed or denied.</p>"
        },
        "determiningPolicies":{
          "shape":"DeterminingPolicyList",
          "documentation":"<p>The list of determining policies used to make the authorization decision. For example, if there are two matching policies, where one is a forbid and the other is a permit, then the forbid policy will be the determining policy. In the case of multiple matching permit policies then there would be multiple determining policies. In the case that no policies match, and hence the response is DENY, there would be no determining policies.</p>"
        },
        "errors":{
          "shape":"EvaluationErrorList",
          "documentation":"<p>Errors that occurred while making an authorization decision. For example, a policy might reference an entity or attribute that doesn't exist in the request.</p>"
        }
      },
      "documentation":"<p>The decision, based on policy evaluation, from an individual authorization request in a <code>BatchIsAuthorizedWithToken</code> API request.</p>"
    },
    "BatchIsAuthorizedWithTokenOutputList":{
      "type":"list",
      "member":{"shape":"BatchIsAuthorizedWithTokenOutputItem"}
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "BooleanAttribute":{
      "type":"boolean",
      "box":true,
      "sensitive":true
    },
    "CedarJson":{
      "type":"string",
      "sensitive":true
    },
    "CedarVersion":{
      "type":"string",
      "enum":[
        "CEDAR_2",
        "CEDAR_4"
      ]
    },
    "Claim":{
      "type":"string",
      "min":1,
      "sensitive":true
    },
    "ClientId":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":".*",
      "sensitive":true
    },
    "ClientIds":{
      "type":"list",
      "member":{"shape":"ClientId"},
      "max":1000,
      "min":0
    },
    "CognitoGroupConfiguration":{
      "type":"structure",
      "required":["groupEntityType"],
      "members":{
        "groupEntityType":{
          "shape":"GroupEntityType",
          "documentation":"<p>The name of the schema entity type that's mapped to the user pool group. Defaults to <code>AWS::CognitoGroup</code>.</p>"
        }
      },
      "documentation":"<p>The type of entity that a policy store maps to groups from an Amazon Cognito user pool identity source.</p> <p>This data type is part of a <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_CognitoUserPoolConfiguration.html\">CognitoUserPoolConfiguration</a> structure and is a request parameter in <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_CreateIdentitySource.html\">CreateIdentitySource</a>.</p>"
    },
    "CognitoGroupConfigurationDetail":{
      "type":"structure",
      "members":{
        "groupEntityType":{
          "shape":"GroupEntityType",
          "documentation":"<p>The name of the schema entity type that's mapped to the user pool group. Defaults to <code>AWS::CognitoGroup</code>.</p>"
        }
      },
      "documentation":"<p>The type of entity that a policy store maps to groups from an Amazon Cognito user pool identity source.</p> <p>This data type is part of an <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_CognitoUserPoolConfigurationItem.html\">CognitoUserPoolConfigurationDetail</a> structure and is a response parameter to <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_GetIdentitySource.html\">GetIdentitySource</a>.</p>"
    },
    "CognitoGroupConfigurationItem":{
      "type":"structure",
      "members":{
        "groupEntityType":{
          "shape":"GroupEntityType",
          "documentation":"<p>The name of the schema entity type that's mapped to the user pool group. Defaults to <code>AWS::CognitoGroup</code>.</p>"
        }
      },
      "documentation":"<p>The type of entity that a policy store maps to groups from an Amazon Cognito user pool identity source.</p> <p>This data type is part of an <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_CognitoUserPoolConfigurationDetail.html\">CognitoUserPoolConfigurationItem</a> structure and is a response parameter to <a href=\"http://forums.aws.amazon.com/verifiedpermissions/latest/apireference/API_ListIdentitySources.html\">ListIdentitySources</a>.</p>"
    },
    "CognitoUserPoolConfiguration":{
      "type":"structure",
      "required":["userPoolArn"],
      "members":{
        "userPoolArn":{
          "shape":"UserPoolArn",
          "documentation":"<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of the Amazon Cognito user pool that contains the identities to be authorized.</p> <p>Example: <code>\"UserPoolArn\": \"arn:aws:cognito-idp:us-east-1:123456789012:userpool/us-east-1_1a2b3c4d5\"</code> </p>"
        },
        "clientIds":{
          "shape":"ClientIds",
          "documentation":"<p>The unique application client IDs that are associated with the specified Amazon Cognito user pool.</p> <p>Example: <code>\"ClientIds\": [\"&amp;ExampleCogClientId;\"]</code> </p>"
        },
        "groupConfiguration":{
          "shape":"CognitoGroupConfiguration",
          "documentation":"<p>The type of entity that a policy store maps to groups from an Amazon Cognito user pool identity source.</p>"
        }
      },
      "documentation":"<p>The configuration for an identity source that represents a connection to an Amazon Cognito user pool used as an identity provider for Verified Permissions.</p> <p>This data type part of a <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_Configuration.html\">Configuration</a> structure that is used as a parameter to <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_CreateIdentitySource.html\">CreateIdentitySource</a>.</p> <p>Example:<code>\"CognitoUserPoolConfiguration\":{\"UserPoolArn\":\"arn:aws:cognito-idp:us-east-1:123456789012:userpool/us-east-1_1a2b3c4d5\",\"ClientIds\": [\"a1b2c3d4e5f6g7h8i9j0kalbmc\"],\"groupConfiguration\": {\"groupEntityType\": \"MyCorp::Group\"}}</code> </p>"
    },
    "CognitoUserPoolConfigurationDetail":{
      "type":"structure",
      "required":[
        "userPoolArn",
        "clientIds",
        "issuer"
      ],
      "members":{
        "userPoolArn":{
          "shape":"UserPoolArn",
          "documentation":"<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of the Amazon Cognito user pool that contains the identities to be authorized.</p> <p>Example: <code>\"userPoolArn\": \"arn:aws:cognito-idp:us-east-1:123456789012:userpool/us-east-1_1a2b3c4d5\"</code> </p>"
        },
        "clientIds":{
          "shape":"ClientIds",
          "documentation":"<p>The unique application client IDs that are associated with the specified Amazon Cognito user pool.</p> <p>Example: <code>\"clientIds\": [\"&amp;ExampleCogClientId;\"]</code> </p>"
        },
        "issuer":{
          "shape":"Issuer",
          "documentation":"<p>The OpenID Connect (OIDC) <code>issuer</code> ID of the Amazon Cognito user pool that contains the identities to be authorized.</p> <p>Example: <code>\"issuer\": \"https://cognito-idp.us-east-1.amazonaws.com/us-east-1_1a2b3c4d5\"</code> </p>"
        },
        "groupConfiguration":{
          "shape":"CognitoGroupConfigurationDetail",
          "documentation":"<p>The type of entity that a policy store maps to groups from an Amazon Cognito user pool identity source.</p>"
        }
      },
      "documentation":"<p>The configuration for an identity source that represents a connection to an Amazon Cognito user pool used as an identity provider for Verified Permissions.</p> <p>This data type is used as a field that is part of an <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_ConfigurationDetail.html\">ConfigurationDetail</a> structure that is part of the response to <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_GetIdentitySource.html\">GetIdentitySource</a>.</p> <p>Example:<code>\"CognitoUserPoolConfiguration\":{\"UserPoolArn\":\"arn:aws:cognito-idp:us-east-1:123456789012:userpool/us-east-1_1a2b3c4d5\",\"ClientIds\": [\"a1b2c3d4e5f6g7h8i9j0kalbmc\"],\"groupConfiguration\": {\"groupEntityType\": \"MyCorp::Group\"}}</code> </p>"
    },
    "CognitoUserPoolConfigurationItem":{
      "type":"structure",
      "required":[
        "userPoolArn",
        "clientIds",
        "issuer"
      ],
      "members":{
        "userPoolArn":{
          "shape":"UserPoolArn",
          "documentation":"<p>The <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of the Amazon Cognito user pool that contains the identities to be authorized.</p> <p>Example: <code>\"userPoolArn\": \"arn:aws:cognito-idp:us-east-1:123456789012:userpool/us-east-1_1a2b3c4d5\"</code> </p>"
        },
        "clientIds":{
          "shape":"ClientIds",
          "documentation":"<p>The unique application client IDs that are associated with the specified Amazon Cognito user pool.</p> <p>Example: <code>\"clientIds\": [\"&amp;ExampleCogClientId;\"]</code> </p>"
        },
        "issuer":{
          "shape":"Issuer",
          "documentation":"<p>The OpenID Connect (OIDC) <code>issuer</code> ID of the Amazon Cognito user pool that contains the identities to be authorized.</p> <p>Example: <code>\"issuer\": \"https://cognito-idp.us-east-1.amazonaws.com/us-east-1_1a2b3c4d5\"</code> </p>"
        },
        "groupConfiguration":{
          "shape":"CognitoGroupConfigurationItem",
          "documentation":"<p>The type of entity that a policy store maps to groups from an Amazon Cognito user pool identity source.</p>"
        }
      },
      "documentation":"<p>The configuration for an identity source that represents a connection to an Amazon Cognito user pool used as an identity provider for Verified Permissions.</p> <p>This data type is used as a field that is part of the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_ConfigurationItem.html\">ConfigurationItem</a> structure that is part of the response to <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_ListIdentitySources.html\">ListIdentitySources</a>.</p> <p>Example:<code>\"CognitoUserPoolConfiguration\":{\"UserPoolArn\":\"arn:aws:cognito-idp:us-east-1:123456789012:userpool/us-east-1_1a2b3c4d5\",\"ClientIds\": [\"a1b2c3d4e5f6g7h8i9j0kalbmc\"],\"groupConfiguration\": {\"groupEntityType\": \"MyCorp::Group\"}}</code> </p>"
    },
    "Configuration":{
      "type":"structure",
      "members":{
        "cognitoUserPoolConfiguration":{
          "shape":"CognitoUserPoolConfiguration",
          "documentation":"<p>Contains configuration details of a Amazon Cognito user pool that Verified Permissions can use as a source of authenticated identities as entities. It specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of a Amazon Cognito user pool and one or more application client IDs.</p> <p>Example: <code>\"configuration\":{\"cognitoUserPoolConfiguration\":{\"userPoolArn\":\"arn:aws:cognito-idp:us-east-1:123456789012:userpool/us-east-1_1a2b3c4d5\",\"clientIds\": [\"a1b2c3d4e5f6g7h8i9j0kalbmc\"],\"groupConfiguration\": {\"groupEntityType\": \"MyCorp::Group\"}}}</code> </p>"
        },
        "openIdConnectConfiguration":{
          "shape":"OpenIdConnectConfiguration",
          "documentation":"<p>Contains configuration details of an OpenID Connect (OIDC) identity provider, or identity source, that Verified Permissions can use to generate entities from authenticated identities. It specifies the issuer URL, token type that you want to use, and policy store entity details.</p> <p>Example:<code>\"configuration\":{\"openIdConnectConfiguration\":{\"issuer\":\"https://auth.example.com\",\"tokenSelection\":{\"accessTokenOnly\":{\"audiences\":[\"https://myapp.example.com\",\"https://myapp2.example.com\"],\"principalIdClaim\":\"sub\"}},\"entityIdPrefix\":\"MyOIDCProvider\",\"groupConfiguration\":{\"groupClaim\":\"groups\",\"groupEntityType\":\"MyCorp::UserGroup\"}}}</code> </p>"
        }
      },
      "documentation":"<p>Contains configuration information used when creating a new identity source.</p> <p>This data type is used as a request parameter for the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_CreateIdentitySource.html\">CreateIdentitySource</a> operation.</p>",
      "union":true
    },
    "ConfigurationDetail":{
      "type":"structure",
      "members":{
        "cognitoUserPoolConfiguration":{
          "shape":"CognitoUserPoolConfigurationDetail",
          "documentation":"<p>Contains configuration details of a Amazon Cognito user pool that Verified Permissions can use as a source of authenticated identities as entities. It specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of a Amazon Cognito user pool, the policy store entity that you want to assign to user groups, and one or more application client IDs.</p> <p>Example: <code>\"configuration\":{\"cognitoUserPoolConfiguration\":{\"userPoolArn\":\"arn:aws:cognito-idp:us-east-1:123456789012:userpool/us-east-1_1a2b3c4d5\",\"clientIds\": [\"a1b2c3d4e5f6g7h8i9j0kalbmc\"],\"groupConfiguration\": {\"groupEntityType\": \"MyCorp::Group\"}}}</code> </p>"
        },
        "openIdConnectConfiguration":{
          "shape":"OpenIdConnectConfigurationDetail",
          "documentation":"<p>Contains configuration details of an OpenID Connect (OIDC) identity provider, or identity source, that Verified Permissions can use to generate entities from authenticated identities. It specifies the issuer URL, token type that you want to use, and policy store entity details.</p> <p>Example:<code>\"configuration\":{\"openIdConnectConfiguration\":{\"issuer\":\"https://auth.example.com\",\"tokenSelection\":{\"accessTokenOnly\":{\"audiences\":[\"https://myapp.example.com\",\"https://myapp2.example.com\"],\"principalIdClaim\":\"sub\"}},\"entityIdPrefix\":\"MyOIDCProvider\",\"groupConfiguration\":{\"groupClaim\":\"groups\",\"groupEntityType\":\"MyCorp::UserGroup\"}}}</code> </p>"
        }
      },
      "documentation":"<p>Contains configuration information about an identity source.</p> <p>This data type is a response parameter to the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_GetIdentitySource.html\">GetIdentitySource</a> operation.</p>",
      "union":true
    },
    "ConfigurationItem":{
      "type":"structure",
      "members":{
        "cognitoUserPoolConfiguration":{
          "shape":"CognitoUserPoolConfigurationItem",
          "documentation":"<p>Contains configuration details of a Amazon Cognito user pool that Verified Permissions can use as a source of authenticated identities as entities. It specifies the <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Name (ARN)</a> of a Amazon Cognito user pool, the policy store entity that you want to assign to user groups, and one or more application client IDs.</p> <p>Example: <code>\"configuration\":{\"cognitoUserPoolConfiguration\":{\"userPoolArn\":\"arn:aws:cognito-idp:us-east-1:123456789012:userpool/us-east-1_1a2b3c4d5\",\"clientIds\": [\"a1b2c3d4e5f6g7h8i9j0kalbmc\"],\"groupConfiguration\": {\"groupEntityType\": \"MyCorp::Group\"}}}</code> </p>"
        },
        "openIdConnectConfiguration":{
          "shape":"OpenIdConnectConfigurationItem",
          "documentation":"<p>Contains configuration details of an OpenID Connect (OIDC) identity provider, or identity source, that Verified Permissions can use to generate entities from authenticated identities. It specifies the issuer URL, token type that you want to use, and policy store entity details.</p> <p>Example:<code>\"configuration\":{\"openIdConnectConfiguration\":{\"issuer\":\"https://auth.example.com\",\"tokenSelection\":{\"accessTokenOnly\":{\"audiences\":[\"https://myapp.example.com\",\"https://myapp2.example.com\"],\"principalIdClaim\":\"sub\"}},\"entityIdPrefix\":\"MyOIDCProvider\",\"groupConfiguration\":{\"groupClaim\":\"groups\",\"groupEntityType\":\"MyCorp::UserGroup\"}}}</code> </p>"
        }
      },
      "documentation":"<p>Contains configuration information about an identity source.</p> <p>This data type is a response parameter to the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_ListIdentitySources.html\">ListIdentitySources</a> operation.</p>",
      "union":true
    },
    "ConflictException":{
      "type":"structure",
      "required":[
        "message",
        "resources"
      ],
      "members":{
        "message":{"shape":"String"},
        "resources":{
          "shape":"ResourceConflictList",
          "documentation":"<p>The list of resources referenced with this failed request.</p>"
        }
      },
      "documentation":"<p>The request failed because another request to modify a resource occurred at the same.</p>",
      "exception":true
    },
    "ContextDefinition":{
      "type":"structure",
      "members":{
        "contextMap":{
          "shape":"ContextMap",
          "documentation":"<p>An list of attributes that are needed to successfully evaluate an authorization request. Each attribute in this array must include a map of a data type and its value.</p> <p>Example: <code>\"contextMap\":{\"&lt;KeyName1&gt;\":{\"boolean\":true},\"&lt;KeyName2&gt;\":{\"long\":1234}}</code> </p>"
        },
        "cedarJson":{
          "shape":"CedarJson",
          "documentation":"<p>A Cedar JSON string representation of the context needed to successfully evaluate an authorization request.</p> <p>Example: <code>{\"cedarJson\":\"{\\\"&lt;KeyName1&gt;\\\": true, \\\"&lt;KeyName2&gt;\\\": 1234}\" }</code> </p>"
        }
      },
      "documentation":"<p>Contains additional details about the context of the request. Verified Permissions evaluates this information in an authorization request as part of the <code>when</code> and <code>unless</code> clauses in a policy.</p> <p>This data type is used as a request parameter for the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorized.html\">IsAuthorized</a>, <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_BatchIsAuthorized.html\">BatchIsAuthorized</a>, and <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorizedWithToken.html\">IsAuthorizedWithToken</a> operations.</p> <p>If you're passing context as part of the request, exactly one instance of <code>context</code> must be passed. If you don't want to pass context, omit the <code>context</code> parameter from your request rather than sending <code>context {}</code>.</p> <p>Example: <code>\"context\":{\"contextMap\":{\"&lt;KeyName1&gt;\":{\"boolean\":true},\"&lt;KeyName2&gt;\":{\"long\":1234}}}</code> </p>",
      "union":true
    },
    "ContextMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"AttributeValue"},
      "sensitive":true
    },
    "CreateIdentitySourceInput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "configuration"
      ],
      "members":{
        "clientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>Specifies a unique, case-sensitive ID that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p> <p>If you retry the operation with the same <code>ClientToken</code>, but with different parameters, the retry fails with an <code>ConflictException</code> error.</p> <p>Verified Permissions recognizes a <code>ClientToken</code> for eight hours. After eight hours, the next request with the same parameters performs the operation again regardless of the value of <code>ClientToken</code>.</p>",
          "idempotencyToken":true
        },
        "policyStoreId":{
          "shape":"PolicyStoreId",
          "documentation":"<p>Specifies the ID of the policy store in which you want to store this identity source. Only policies and requests made using this policy store can reference identities from the identity provider configured in the new identity source.</p>"
        },
        "configuration":{
          "shape":"Configuration",
          "documentation":"<p>Specifies the details required to communicate with the identity provider (IdP) associated with this identity source.</p>"
        },
        "principalEntityType":{
          "shape":"PrincipalEntityType",
          "documentation":"<p>Specifies the namespace and data type of the principals generated for identities authenticated by the new identity source.</p>"
        }
      }
    },
    "CreateIdentitySourceOutput":{
      "type":"structure",
      "required":[
        "createdDate",
        "identitySourceId",
        "lastUpdatedDate",
        "policyStoreId"
      ],
      "members":{
        "createdDate":{
          "shape":"TimestampFormat",
          "documentation":"<p>The date and time the identity source was originally created.</p>"
        },
        "identitySourceId":{
          "shape":"IdentitySourceId",
          "documentation":"<p>The unique ID of the new identity source.</p>"
        },
        "lastUpdatedDate":{
          "shape":"TimestampFormat",
          "documentation":"<p>The date and time the identity source was most recently updated.</p>"
        },
        "policyStoreId":{
          "shape":"PolicyStoreId",
          "documentation":"<p>The ID of the policy store that contains the identity source.</p>"
        }
      }
    },
    "CreatePolicyInput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "definition"
      ],
      "members":{
        "clientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>Specifies a unique, case-sensitive ID that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p> <p>If you retry the operation with the same <code>ClientToken</code>, but with different parameters, the retry fails with an <code>ConflictException</code> error.</p> <p>Verified Permissions recognizes a <code>ClientToken</code> for eight hours. After eight hours, the next request with the same parameters performs the operation again regardless of the value of <code>ClientToken</code>.</p>",
          "idempotencyToken":true
        },
        "policyStoreId":{
          "shape":"PolicyStoreId",
          "documentation":"<p>Specifies the <code>PolicyStoreId</code> of the policy store you want to store the policy in.</p>"
        },
        "definition":{
          "shape":"PolicyDefinition",
          "documentation":"<p>A structure that specifies the policy type and content to use for the new policy. You must include either a static or a templateLinked element. The policy content must be written in the Cedar policy language.</p>"
        }
      }
    },
    "CreatePolicyOutput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "policyId",
        "policyType",
        "createdDate",
        "lastUpdatedDate"
      ],
      "members":{
        "policyStoreId":{
          "shape":"PolicyStoreId",
          "documentation":"<p>The ID of the policy store that contains the new policy.</p>"
        },
        "policyId":{
          "shape":"PolicyId",
          "documentation":"<p>The unique ID of the new policy.</p>"
        },
        "policyType":{
          "shape":"PolicyType",
          "documentation":"<p>The policy type of the new policy.</p>"
        },
        "principal":{
          "shape":"EntityIdentifier",
          "documentation":"<p>The principal specified in the new policy's scope. This response element isn't present when <code>principal</code> isn't specified in the policy content.</p>"
        },
        "resource":{
          "shape":"EntityIdentifier",
          "documentation":"<p>The resource specified in the new policy's scope. This response element isn't present when the <code>resource</code> isn't specified in the policy content.</p>"
        },
        "actions":{
          "shape":"ActionIdentifierList",
          "documentation":"<p>The action that a policy permits or forbids. For example, <code>{\"actions\": [{\"actionId\": \"ViewPhoto\", \"actionType\": \"PhotoFlash::Action\"}, {\"entityID\": \"SharePhoto\", \"entityType\": \"PhotoFlash::Action\"}]}</code>.</p>"
        },
        "createdDate":{
          "shape":"TimestampFormat",
          "documentation":"<p>The date and time the policy was originally created.</p>"
        },
        "lastUpdatedDate":{
          "shape":"TimestampFormat",
          "documentation":"<p>The date and time the policy was last updated.</p>"
        },
        "effect":{
          "shape":"PolicyEffect",
          "documentation":"<p>The effect of the decision that a policy returns to an authorization request. For example, <code>\"effect\": \"Permit\"</code>.</p>"
        }
      }
    },
    "CreatePolicyStoreInput":{
      "type":"structure",
      "required":["validationSettings"],
      "members":{
        "clientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>Specifies a unique, case-sensitive ID that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p> <p>If you retry the operation with the same <code>ClientToken</code>, but with different parameters, the retry fails with an <code>ConflictException</code> error.</p> <p>Verified Permissions recognizes a <code>ClientToken</code> for eight hours. After eight hours, the next request with the same parameters performs the operation again regardless of the value of <code>ClientToken</code>.</p>",
          "idempotencyToken":true
        },
        "validationSettings":{
          "shape":"ValidationSettings",
          "documentation":"<p>Specifies the validation setting for this policy store.</p> <p>Currently, the only valid and required value is <code>Mode</code>.</p> <important> <p>We recommend that you turn on <code>STRICT</code> mode only after you define a schema. If a schema doesn't exist, then <code>STRICT</code> mode causes any policy to fail validation, and Verified Permissions rejects the policy. You can turn off validation by using the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_UpdatePolicyStore\">UpdatePolicyStore</a>. Then, when you have a schema defined, use <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_UpdatePolicyStore\">UpdatePolicyStore</a> again to turn validation back on.</p> </important>"
        },
        "description":{
          "shape":"PolicyStoreDescription",
          "documentation":"<p>Descriptive text that you can provide to help with identification of the current policy store.</p>"
        },
        "deletionProtection":{
          "shape":"DeletionProtection",
          "documentation":"<p>Specifies whether the policy store can be deleted. If enabled, the policy store can't be deleted.</p> <p>The default state is <code>DISABLED</code>.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The list of key-value pairs to associate with the policy store.</p>"
        }
      }
    },
    "CreatePolicyStoreOutput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "arn",
        "createdDate",
        "lastUpdatedDate"
      ],
      "members":{
        "policyStoreId":{
          "shape":"PolicyStoreId",
          "documentation":"<p>The unique ID of the new policy store.</p>"
        },
        "arn":{
          "shape":"ResourceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the new policy store.</p>"
        },
        "createdDate":{
          "shape":"TimestampFormat",
          "documentation":"<p>The date and time the policy store was originally created.</p>"
        },
        "lastUpdatedDate":{
          "shape":"TimestampFormat",
          "documentation":"<p>The date and time the policy store was last updated.</p>"
        }
      }
    },
    "CreatePolicyTemplateInput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "statement"
      ],
      "members":{
        "clientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>Specifies a unique, case-sensitive ID that you provide to ensure the idempotency of the request. This lets you safely retry the request without accidentally performing the same operation a second time. Passing the same value to a later call to an operation requires that you also pass the same value for all other parameters. We recommend that you use a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID type of value.</a>.</p> <p>If you don't provide this value, then Amazon Web Services generates a random one for you.</p> <p>If you retry the operation with the same <code>ClientToken</code>, but with different parameters, the retry fails with an <code>ConflictException</code> error.</p> <p>Verified Permissions recognizes a <code>ClientToken</code> for eight hours. After eight hours, the next request with the same parameters performs the operation again regardless of the value of <code>ClientToken</code>.</p>",
          "idempotencyToken":true
        },
        "policyStoreId":{
          "shape":"PolicyStoreId",
          "documentation":"<p>The ID of the policy store in which to create the policy template.</p>"
        },
        "description":{
          "shape":"PolicyTemplateDescription",
          "documentation":"<p>Specifies a description for the policy template.</p>"
        },
        "statement":{
          "shape":"PolicyStatement",
          "documentation":"<p>Specifies the content that you want to use for the new policy template, written in the Cedar policy language.</p>"
        }
      }
    },
    "CreatePolicyTemplateOutput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "policyTemplateId",
        "createdDate",
        "lastUpdatedDate"
      ],
      "members":{
        "policyStoreId":{
          "shape":"PolicyStoreId",
          "documentation":"<p>The ID of the policy store that contains the policy template.</p>"
        },
        "policyTemplateId":{
          "shape":"PolicyTemplateId",
          "documentation":"<p>The unique ID of the new policy template.</p>"
        },
        "createdDate":{
          "shape":"TimestampFormat",
          "documentation":"<p>The date and time the policy template was originally created.</p>"
        },
        "lastUpdatedDate":{
          "shape":"TimestampFormat",
          "documentation":"<p>The date and time the policy template was most recently updated.</p>"
        }
      }
    },
    "DatetimeAttribute":{
      "type":"string",
      "max":28,
      "min":10,
      "pattern":"\\d{4}-\\d{2}-\\d{2}(T\\d{2}:\\d{2}:\\d{2}(\\.\\d{3})?(Z|[+-]\\d{4}))?",
      "sensitive":true
    },
    "Decimal":{
      "type":"string",
      "max":23,
      "min":3,
      "pattern":"-?\\d{1,15}\\.\\d{1,4}",
      "sensitive":true
    },
    "Decision":{
      "type":"string",
      "enum":[
        "ALLOW",
        "DENY"
      ]
    },
    "DeleteIdentitySourceInput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "identitySourceId"
      ],
      "members":{
        "policyStoreId":{
          "shape":"PolicyStoreId",
          "documentation":"<p>Specifies the ID of the policy store that contains the identity source that you want to delete.</p>"
        },
        "identitySourceId":{
          "shape":"IdentitySourceId",
          "documentation":"<p>Specifies the ID of the identity source that you want to delete.</p>"
        }
      }
    },
    "DeleteIdentitySourceOutput":{
      "type":"structure",
      "members":{}
    },
    "DeletePolicyInput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "policyId"
      ],
      "members":{
        "policyStoreId":{
          "shape":"PolicyStoreId",
          "documentation":"<p>Specifies the ID of the policy store that contains the policy that you want to delete.</p>"
        },
        "policyId":{
          "shape":"PolicyId",
          "documentation":"<p>Specifies the ID of the policy that you want to delete.</p>"
        }
      }
    },
    "DeletePolicyOutput":{
      "type":"structure",
      "members":{}
    },
    "DeletePolicyStoreInput":{
      "type":"structure",
      "required":["policyStoreId"],
      "members":{
        "policyStoreId":{
          "shape":"PolicyStoreId",
          "documentation":"<p>Specifies the ID of the policy store that you want to delete.</p>"
        }
      }
    },
    "DeletePolicyStoreOutput":{
      "type":"structure",
      "members":{}
    },
    "DeletePolicyTemplateInput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "policyTemplateId"
      ],
      "members":{
        "policyStoreId":{
          "shape":"PolicyStoreId",
          "documentation":"<p>Specifies the ID of the policy store that contains the policy template that you want to delete.</p>"
        },
        "policyTemplateId":{
          "shape":"PolicyTemplateId",
          "documentation":"<p>Specifies the ID of the policy template that you want to delete.</p>"
        }
      }
    },
    "DeletePolicyTemplateOutput":{
      "type":"structure",
      "members":{}
    },
    "DeletionProtection":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "DeterminingPolicyItem":{
      "type":"structure",
      "required":["policyId"],
      "members":{
        "policyId":{
          "shape":"PolicyId",
          "documentation":"<p>The Id of a policy that determined to an authorization decision.</p> <p>Example: <code>\"policyId\":\"SPEXAMPLEabcdefg111111\"</code> </p>"
        }
      },
      "documentation":"<p>Contains information about one of the policies that determined an authorization decision.</p> <p>This data type is used as an element in a response parameter for the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorized.html\">IsAuthorized</a>, <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_BatchIsAuthorized.html\">BatchIsAuthorized</a>, and <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorizedWithToken.html\">IsAuthorizedWithToken</a> operations.</p> <p>Example: <code>\"determiningPolicies\":[{\"policyId\":\"SPEXAMPLEabcdefg111111\"}]</code> </p>"
    },
    "DeterminingPolicyList":{
      "type":"list",
      "member":{"shape":"DeterminingPolicyItem"}
    },
    "DiscoveryUrl":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"https://.*"
    },
    "Duration":{
      "type":"string",
      "max":100,
      "min":2,
      "pattern":"-?(\\d+d)?(\\d+h)?(\\d+m)?(\\d+s)?(\\d+ms)?",
      "sensitive":true
    },
    "EntitiesDefinition":{
      "type":"structure",
      "members":{
        "entityList":{
          "shape":"EntityList",
          "documentation":"<p>An array of entities that are needed to successfully evaluate an authorization request. Each entity in this array must include an identifier for the entity, the attributes of the entity, and a list of any parent entities.</p> <note> <p>If you include multiple entities with the same <code>identifier</code>, only the last one is processed in the request.</p> </note>"
        },
        "cedarJson":{
          "shape":"CedarJson",
          "documentation":"<p>A Cedar JSON string representation of the entities needed to successfully evaluate an authorization request.</p> <p>Example: <code>{\"cedarJson\": \"[{\\\"uid\\\":{\\\"type\\\":\\\"Photo\\\",\\\"id\\\":\\\"VacationPhoto94.jpg\\\"},\\\"attrs\\\":{\\\"accessLevel\\\":\\\"public\\\"},\\\"parents\\\":[]}]\"}</code> </p>"
        }
      },
      "documentation":"<p>Contains the list of entities to be considered during an authorization request. This includes all principals, resources, and actions required to successfully evaluate the request.</p> <p>This data type is used as a field in the response parameter for the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorized.html\">IsAuthorized</a> and <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorizedWithToken.html\">IsAuthorizedWithToken</a> operations.</p>",
      "union":true
    },
    "EntityAttributes":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"AttributeValue"}
    },
    "EntityId":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":".*",
      "sensitive":true
    },
    "EntityIdPrefix":{
      "type":"string",
      "max":100,
      "min":1,
      "sensitive":true
    },
    "EntityIdentifier":{
      "type":"structure",
      "required":[
        "entityType",
        "entityId"
      ],
      "members":{
        "entityType":{
          "shape":"EntityType",
          "documentation":"<p>The type of an entity.</p> <p>Example: <code>\"entityType\":\"<i>typeName</i>\"</code> </p>"
        },
        "entityId":{
          "shape":"EntityId",
          "documentation":"<p>The identifier of an entity.</p> <p> <code>\"entityId\":\"<i>identifier</i>\"</code> </p>"
        }
      },
      "documentation":"<p>Contains the identifier of an entity, including its ID and type.</p> <p>This data type is used as a request parameter for <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorized.html\">IsAuthorized</a> operation, and as a response parameter for the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_CreatePolicy.html\">CreatePolicy</a>, <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_GetPolicy.html\">GetPolicy</a>, and <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_UpdatePolicy.html\">UpdatePolicy</a> operations.</p> <p>Example: <code>{\"entityId\":\"<i>string</i>\",\"entityType\":\"<i>string</i>\"}</code> </p>"
    },
    "EntityItem":{
      "type":"structure",
      "required":["identifier"],
      "members":{
        "identifier":{
          "shape":"EntityIdentifier",
          "documentation":"<p>The identifier of the entity.</p>"
        },
        "attributes":{
          "shape":"EntityAttributes",
          "documentation":"<p>A list of attributes for the entity.</p>"
        },
        "parents":{
          "shape":"ParentList",
          "documentation":"<p>The parent entities in the hierarchy that contains the entity. A principal or resource entity can be defined with at most 99 <i>transitive parents</i> per authorization request. </p> <p>A transitive parent is an entity in the hierarchy of entities including all direct parents, and parents of parents. For example, a user can be a member of 91 groups if one of those groups is a member of eight groups, for a total of 100: one entity, 91 entity parents, and eight parents of parents. </p>"
        }
      },
      "documentation":"<p>Contains information about an entity that can be referenced in a Cedar policy.</p> <p>This data type is used as one of the fields in the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_EntitiesDefinition.html\">EntitiesDefinition</a> structure.</p> <p> <code>{ \"identifier\": { \"entityType\": \"Photo\", \"entityId\": \"VacationPhoto94.jpg\" }, \"attributes\": {}, \"parents\": [ { \"entityType\": \"Album\", \"entityId\": \"alice_folder\" } ] }</code> </p>"
    },
    "EntityList":{
      "type":"list",
      "member":{"shape":"EntityItem"}
    },
    "EntityReference":{
      "type":"structure",
      "members":{
        "unspecified":{
          "shape":"Boolean",
          "documentation":"<p>Used to indicate that a principal or resource is not specified. This can be used to search for policies that are not associated with a specific principal or resource.</p>"
        },
        "identifier":{
          "shape":"EntityIdentifier",
          "documentation":"<p>The identifier of the entity. It can consist of either an EntityType and EntityId, a principal, or a resource.</p>"
        }
      },
      "documentation":"<p>Contains information about a principal or resource that can be referenced in a Cedar policy.</p> <p>This data type is used as part of the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_PolicyFilter.html\">PolicyFilter</a> structure that is used as a request parameter for the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_ListPolicies.html\">ListPolicies</a> operation..</p>",
      "union":true
    },
    "EntityType":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":".*",
      "sensitive":true
    },
    "EvaluationErrorItem":{
      "type":"structure",
      "required":["errorDescription"],
      "members":{
        "errorDescription":{
          "shape":"String",
          "documentation":"<p>The error description.</p>"
        }
      },
      "documentation":"<p>Contains a description of an evaluation error.</p> <p>This data type is a response parameter of the <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorized.html\">IsAuthorized</a>, <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_BatchIsAuthorized.html\">BatchIsAuthorized</a>, and <a href=\"https://docs.aws.amazon.com/verifiedpermissions/latest/apireference/API_IsAuthorizedWithToken.html\">IsAuthorizedWithToken</a> operations.</p>",
      "sensitive":true
    },
    "EvaluationErrorList":{
      "type":"list",
      "member":{"shape":"EvaluationErrorItem"}
    },
    "GetIdentitySourceInput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "identitySourceId"
      ],
      "members":{
        "policyStoreId":{
          "shape":"PolicyStoreId",
          "documentation":"<p>Specifies the ID of the policy store that contains the identity source you want information about.</p>"
        },
        "identitySourceId":{
          "shape":"IdentitySourceId",
          "documentation":"<p>Specifies the ID of the identity source you want information about.</p>"
        }
      }
    },
    "GetIdentitySourceOutput":{
      "type":"structure",
      "required":[
        "createdDate",
        "identitySourceId",
        "lastUpdatedDate",
        "policyStoreId",
        "principalEntityType"
      ],
      "members":{
        "createdDate":{
          "shape":"TimestampFormat",
          "documentation":"<p>The date and time that the identity source was originally created.</p>"
        },
        "details":{
          "shape":"IdentitySourceDetails",
          "documentation":"<p>A structure that describes the configuration of the identity source.</p>",
          "deprecated":true,
          "deprecatedMessage":"This attribute has been replaced by configuration.cognitoUserPoolConfiguration"
        },
        "identitySourceId":{
          "shape":"IdentitySourceId",
          "documentation":"<p>The ID of the identity source.</p>"
        },
        "lastUpdatedDate":{
          "shape":"TimestampFormat",
          "documentation":"<p>The date and time that the identity source was most recently updated.</p>"
        },
        "policyStoreId":{
          "shape":"PolicyStoreId",
          "documentation":"<p>The ID of the policy store that contains the identity source.</p>"
        },
        "principalEntityType":{
          "shape":"PrincipalEntityType",
          "documentation":"<p>The data type of principals generated for identities authenticated by this identity source.</p>"
        },
        "configuration":{
          "shape":"ConfigurationDetail",
          "documentation":"<p>Contains configuration information about an identity source.</p>"
        }
      }
    },
    "GetPolicyInput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "policyId"
      ],
      "members":{
        "policyStoreId":{
          "shape":"PolicyStoreId",
          "documentation":"<p>Specifies the ID of the policy store that contains the policy that you want information about.</p>"
        },
        "policyId":{
          "shape":"PolicyId",
          "documentation":"<p>Specifies the ID of the policy you want information about.</p>"
        }
      }
    },
    "GetPolicyOutput":{
      "type":"structure",
      "required":[
        "policyStoreId",
        "policyId",
        "policyType",
        "definition",
        "createdDate",
        "lastUpdatedDate"
      ],
      "members":{
        "policyStoreId":{
          "shape":"PolicyStoreId",
          "documentation":"<p>The ID of the policy store that contains the policy that you want information about.</p>"
        },
        "policyId":{
          "shape":"PolicyId",
          "documentation":"<p>The unique ID of the policy that you want information about.</p>"
        },
        "policyType":{
          "shape":"PolicyType",
          "documentation":"<p>The type of the policy.</p>"
        },
        "principal":{
          "shape":"EntityIdentifier",
[...]
