<div class="gh-post-preview-browser-container">
    <div class="gh-post-preview-browser-mockup">
        <iframe class="gh-pe-iframe" src={{@post.previewUrl}} style="height: 100%"></iframe>
    </div>
</div>
<div class="gh-post-preview-browser-footer">
    <span class="mr3 nowrap fw6 f8 darkgrey">Share preview privately</span>
    <div class="gh-post-preview-url-container truncate">
        <span class="db truncate w-90">{{@post.previewUrl}}</span>
    </div>
    <button type="button" {{on "click" (perform this.copyPreviewUrl)}} class="gh-btn gh-btn-green gh-btn-icon gh-post-preview-copy-url-trigger">
        <span>
            {{#if this.copyPreviewUrl.isRunning}} 
                Copied!
            {{else}}
                copy
            {{/if}}
        </span>
    </button>
</div>