<div class="modal-body modal-preview-email-content gh-pe-desktop-container flex-grow-1" style="height: auto">
    <div class="gh-pe-emailclient-mockup">
        <iframe class="gh-pe-iframe" src={{@post.previewUrl}} style="height: 100%"></iframe>
    </div>
</div>