{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2021-03-12",
    "endpointPrefix":"finspace",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceAbbreviation":"finspace",
    "serviceFullName":"FinSpace User Environment Management service",
    "serviceId":"finspace",
    "signatureVersion":"v4",
    "signingName":"finspace",
    "uid":"finspace-2021-03-12",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "CreateEnvironment":{
      "name":"CreateEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/environment"
      },
      "input":{"shape":"CreateEnvironmentRequest"},
      "output":{"shape":"CreateEnvironmentResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Create a new FinSpace environment.</p>",
      "deprecated":true,
      "deprecatedMessage":"This method will be discontinued."
    },
    "CreateKxChangeset":{
      "name":"CreateKxChangeset",
      "http":{
        "method":"POST",
        "requestUri":"/kx/environments/{environmentId}/databases/{databaseName}/changesets"
      },
      "input":{"shape":"CreateKxChangesetRequest"},
      "output":{"shape":"CreateKxChangesetResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p> Creates a changeset for a kdb database. A changeset allows you to add and delete existing files by using an ordered list of change requests. </p>"
    },
    "CreateKxCluster":{
      "name":"CreateKxCluster",
      "http":{
        "method":"POST",
        "requestUri":"/kx/environments/{environmentId}/clusters"
      },
      "input":{"shape":"CreateKxClusterRequest"},
      "output":{"shape":"CreateKxClusterResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a new kdb cluster.</p>"
    },
    "CreateKxDatabase":{
      "name":"CreateKxDatabase",
      "http":{
        "method":"POST",
        "requestUri":"/kx/environments/{environmentId}/databases"
      },
      "input":{"shape":"CreateKxDatabaseRequest"},
      "output":{"shape":"CreateKxDatabaseResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a new kdb database in the environment.</p>"
    },
    "CreateKxDataview":{
      "name":"CreateKxDataview",
      "http":{
        "method":"POST",
        "requestUri":"/kx/environments/{environmentId}/databases/{databaseName}/dataviews"
      },
      "input":{"shape":"CreateKxDataviewRequest"},
      "output":{"shape":"CreateKxDataviewResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceAlreadyExistsException"}
      ],
      "documentation":"<p> Creates a snapshot of kdb database with tiered storage capabilities and a pre-warmed cache, ready for mounting on kdb clusters. Dataviews are only available for clusters running on a scaling group. They are not supported on dedicated clusters. </p>"
    },
    "CreateKxEnvironment":{
      "name":"CreateKxEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/kx/environments"
      },
      "input":{"shape":"CreateKxEnvironmentRequest"},
      "output":{"shape":"CreateKxEnvironmentResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Creates a managed kdb environment for the account.</p>"
    },
    "CreateKxScalingGroup":{
      "name":"CreateKxScalingGroup",
      "http":{
        "method":"POST",
        "requestUri":"/kx/environments/{environmentId}/scalingGroups"
      },
      "input":{"shape":"CreateKxScalingGroupRequest"},
      "output":{"shape":"CreateKxScalingGroupResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a new scaling group. </p>"
    },
    "CreateKxUser":{
      "name":"CreateKxUser",
      "http":{
        "method":"POST",
        "requestUri":"/kx/environments/{environmentId}/users"
      },
      "input":{"shape":"CreateKxUserRequest"},
      "output":{"shape":"CreateKxUserResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Creates a user in FinSpace kdb environment with an associated IAM role.</p>"
    },
    "CreateKxVolume":{
      "name":"CreateKxVolume",
      "http":{
        "method":"POST",
        "requestUri":"/kx/environments/{environmentId}/kxvolumes"
      },
      "input":{"shape":"CreateKxVolumeRequest"},
      "output":{"shape":"CreateKxVolumeResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Creates a new volume with a specific amount of throughput and storage capacity. </p>"
    },
    "DeleteEnvironment":{
      "name":"DeleteEnvironment",
      "http":{
        "method":"DELETE",
        "requestUri":"/environment/{environmentId}"
      },
      "input":{"shape":"DeleteEnvironmentRequest"},
      "output":{"shape":"DeleteEnvironmentResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Delete an FinSpace environment.</p>",
      "deprecated":true,
      "deprecatedMessage":"This method will be discontinued."
    },
    "DeleteKxCluster":{
      "name":"DeleteKxCluster",
      "http":{
        "method":"DELETE",
        "requestUri":"/kx/environments/{environmentId}/clusters/{clusterName}"
      },
      "input":{"shape":"DeleteKxClusterRequest"},
      "output":{"shape":"DeleteKxClusterResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes a kdb cluster.</p>"
    },
    "DeleteKxClusterNode":{
      "name":"DeleteKxClusterNode",
      "http":{
        "method":"DELETE",
        "requestUri":"/kx/environments/{environmentId}/clusters/{clusterName}/nodes/{nodeId}"
      },
      "input":{"shape":"DeleteKxClusterNodeRequest"},
      "output":{"shape":"DeleteKxClusterNodeResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes the specified nodes from a cluster. </p>"
    },
    "DeleteKxDatabase":{
      "name":"DeleteKxDatabase",
      "http":{
        "method":"DELETE",
        "requestUri":"/kx/environments/{environmentId}/databases/{databaseName}"
      },
      "input":{"shape":"DeleteKxDatabaseRequest"},
      "output":{"shape":"DeleteKxDatabaseResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes the specified database and all of its associated data. This action is irreversible. You must copy any data out of the database before deleting it if the data is to be retained.</p>"
    },
    "DeleteKxDataview":{
      "name":"DeleteKxDataview",
      "http":{
        "method":"DELETE",
        "requestUri":"/kx/environments/{environmentId}/databases/{databaseName}/dataviews/{dataviewName}"
      },
      "input":{"shape":"DeleteKxDataviewRequest"},
      "output":{"shape":"DeleteKxDataviewResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p> Deletes the specified dataview. Before deleting a dataview, make sure that it is not in use by any cluster. </p>"
    },
    "DeleteKxEnvironment":{
      "name":"DeleteKxEnvironment",
      "http":{
        "method":"DELETE",
        "requestUri":"/kx/environments/{environmentId}"
      },
      "input":{"shape":"DeleteKxEnvironmentRequest"},
      "output":{"shape":"DeleteKxEnvironmentResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes the kdb environment. This action is irreversible. Deleting a kdb environment will remove all the associated data and any services running in it. </p>"
    },
    "DeleteKxScalingGroup":{
      "name":"DeleteKxScalingGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/kx/environments/{environmentId}/scalingGroups/{scalingGroupName}"
      },
      "input":{"shape":"DeleteKxScalingGroupRequest"},
      "output":{"shape":"DeleteKxScalingGroupResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Deletes the specified scaling group. This action is irreversible. You cannot delete a scaling group until all the clusters running on it have been deleted.</p>"
    },
    "DeleteKxUser":{
      "name":"DeleteKxUser",
      "http":{
        "method":"DELETE",
        "requestUri":"/kx/environments/{environmentId}/users/{userName}"
      },
      "input":{"shape":"DeleteKxUserRequest"},
      "output":{"shape":"DeleteKxUserResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes a user in the specified kdb environment.</p>"
    },
    "DeleteKxVolume":{
      "name":"DeleteKxVolume",
      "http":{
        "method":"DELETE",
        "requestUri":"/kx/environments/{environmentId}/kxvolumes/{volumeName}"
      },
      "input":{"shape":"DeleteKxVolumeRequest"},
      "output":{"shape":"DeleteKxVolumeResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Deletes a volume. You can only delete a volume if it's not attached to a cluster or a dataview. When a volume is deleted, any data on the volume is lost. This action is irreversible. </p>"
    },
    "GetEnvironment":{
      "name":"GetEnvironment",
      "http":{
        "method":"GET",
        "requestUri":"/environment/{environmentId}"
      },
      "input":{"shape":"GetEnvironmentRequest"},
      "output":{"shape":"GetEnvironmentResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns the FinSpace environment object.</p>",
      "deprecated":true,
      "deprecatedMessage":"This method will be discontinued."
    },
    "GetKxChangeset":{
      "name":"GetKxChangeset",
      "http":{
        "method":"GET",
        "requestUri":"/kx/environments/{environmentId}/databases/{databaseName}/changesets/{changesetId}"
      },
      "input":{"shape":"GetKxChangesetRequest"},
      "output":{"shape":"GetKxChangesetResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns information about a kdb changeset.</p>"
    },
    "GetKxCluster":{
      "name":"GetKxCluster",
      "http":{
        "method":"GET",
        "requestUri":"/kx/environments/{environmentId}/clusters/{clusterName}"
      },
      "input":{"shape":"GetKxClusterRequest"},
      "output":{"shape":"GetKxClusterResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves information about a kdb cluster.</p>"
    },
    "GetKxConnectionString":{
      "name":"GetKxConnectionString",
      "http":{
        "method":"GET",
        "requestUri":"/kx/environments/{environmentId}/connectionString"
      },
      "input":{"shape":"GetKxConnectionStringRequest"},
      "output":{"shape":"GetKxConnectionStringResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Retrieves a connection string for a user to connect to a kdb cluster. You must call this API using the same role that you have defined while creating a user. </p>"
    },
    "GetKxDatabase":{
      "name":"GetKxDatabase",
      "http":{
        "method":"GET",
        "requestUri":"/kx/environments/{environmentId}/databases/{databaseName}"
      },
      "input":{"shape":"GetKxDatabaseRequest"},
      "output":{"shape":"GetKxDatabaseResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns database information for the specified environment ID.</p>"
    },
    "GetKxDataview":{
      "name":"GetKxDataview",
      "http":{
        "method":"GET",
        "requestUri":"/kx/environments/{environmentId}/databases/{databaseName}/dataviews/{dataviewName}"
      },
      "input":{"shape":"GetKxDataviewRequest"},
      "output":{"shape":"GetKxDataviewResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Retrieves details of the dataview. </p>"
    },
    "GetKxEnvironment":{
      "name":"GetKxEnvironment",
      "http":{
        "method":"GET",
        "requestUri":"/kx/environments/{environmentId}"
      },
      "input":{"shape":"GetKxEnvironmentRequest"},
      "output":{"shape":"GetKxEnvironmentResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Retrieves all the information for the specified kdb environment.</p>"
    },
    "GetKxScalingGroup":{
      "name":"GetKxScalingGroup",
      "http":{
        "method":"GET",
        "requestUri":"/kx/environments/{environmentId}/scalingGroups/{scalingGroupName}"
      },
      "input":{"shape":"GetKxScalingGroupRequest"},
      "output":{"shape":"GetKxScalingGroupResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Retrieves details of a scaling group.</p>"
    },
    "GetKxUser":{
      "name":"GetKxUser",
      "http":{
        "method":"GET",
        "requestUri":"/kx/environments/{environmentId}/users/{userName}"
      },
      "input":{"shape":"GetKxUserRequest"},
      "output":{"shape":"GetKxUserResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Retrieves information about the specified kdb user.</p>"
    },
    "GetKxVolume":{
      "name":"GetKxVolume",
      "http":{
        "method":"GET",
        "requestUri":"/kx/environments/{environmentId}/kxvolumes/{volumeName}"
      },
      "input":{"shape":"GetKxVolumeRequest"},
      "output":{"shape":"GetKxVolumeResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Retrieves the information about the volume. </p>"
    },
    "ListEnvironments":{
      "name":"ListEnvironments",
      "http":{
        "method":"GET",
        "requestUri":"/environment"
      },
      "input":{"shape":"ListEnvironmentsRequest"},
      "output":{"shape":"ListEnvironmentsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>A list of all of your FinSpace environments.</p>",
      "deprecated":true,
      "deprecatedMessage":"This method will be discontinued."
    },
    "ListKxChangesets":{
      "name":"ListKxChangesets",
      "http":{
        "method":"GET",
        "requestUri":"/kx/environments/{environmentId}/databases/{databaseName}/changesets"
      },
      "input":{"shape":"ListKxChangesetsRequest"},
      "output":{"shape":"ListKxChangesetsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns a list of all the changesets for a database.</p>"
    },
    "ListKxClusterNodes":{
      "name":"ListKxClusterNodes",
      "http":{
        "method":"GET",
        "requestUri":"/kx/environments/{environmentId}/clusters/{clusterName}/nodes"
      },
      "input":{"shape":"ListKxClusterNodesRequest"},
      "output":{"shape":"ListKxClusterNodesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"LimitExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists all the nodes in a kdb cluster.</p>"
    },
    "ListKxClusters":{
      "name":"ListKxClusters",
      "http":{
        "method":"GET",
        "requestUri":"/kx/environments/{environmentId}/clusters"
      },
      "input":{"shape":"ListKxClustersRequest"},
      "output":{"shape":"ListKxClustersResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns a list of clusters.</p>"
    },
    "ListKxDatabases":{
      "name":"ListKxDatabases",
      "http":{
        "method":"GET",
        "requestUri":"/kx/environments/{environmentId}/databases"
      },
      "input":{"shape":"ListKxDatabasesRequest"},
      "output":{"shape":"ListKxDatabasesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns a list of all the databases in the kdb environment.</p>"
    },
    "ListKxDataviews":{
      "name":"ListKxDataviews",
      "http":{
        "method":"GET",
        "requestUri":"/kx/environments/{environmentId}/databases/{databaseName}/dataviews"
      },
      "input":{"shape":"ListKxDataviewsRequest"},
      "output":{"shape":"ListKxDataviewsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Returns a list of all the dataviews in the database.</p>"
    },
    "ListKxEnvironments":{
      "name":"ListKxEnvironments",
      "http":{
        "method":"GET",
        "requestUri":"/kx/environments"
      },
      "input":{"shape":"ListKxEnvironmentsRequest"},
      "output":{"shape":"ListKxEnvironmentsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns a list of kdb environments created in an account.</p>"
    },
    "ListKxScalingGroups":{
      "name":"ListKxScalingGroups",
      "http":{
        "method":"GET",
        "requestUri":"/kx/environments/{environmentId}/scalingGroups"
      },
      "input":{"shape":"ListKxScalingGroupsRequest"},
      "output":{"shape":"ListKxScalingGroupsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Returns a list of scaling groups in a kdb environment.</p>"
    },
    "ListKxUsers":{
      "name":"ListKxUsers",
      "http":{
        "method":"GET",
        "requestUri":"/kx/environments/{environmentId}/users"
      },
      "input":{"shape":"ListKxUsersRequest"},
      "output":{"shape":"ListKxUsersResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists all the users in a kdb environment.</p>"
    },
    "ListKxVolumes":{
      "name":"ListKxVolumes",
      "http":{
        "method":"GET",
        "requestUri":"/kx/environments/{environmentId}/kxvolumes"
      },
      "input":{"shape":"ListKxVolumesRequest"},
      "output":{"shape":"ListKxVolumesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Lists all the volumes in a kdb environment. </p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>A list of all tags for a resource.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Adds metadata tags to a FinSpace resource.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Removes metadata tags from a FinSpace resource.</p>"
    },
    "UpdateEnvironment":{
      "name":"UpdateEnvironment",
      "http":{
        "method":"PUT",
        "requestUri":"/environment/{environmentId}"
      },
      "input":{"shape":"UpdateEnvironmentRequest"},
      "output":{"shape":"UpdateEnvironmentResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Update your FinSpace environment.</p>",
      "deprecated":true,
      "deprecatedMessage":"This method will be discontinued."
    },
    "UpdateKxClusterCodeConfiguration":{
      "name":"UpdateKxClusterCodeConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/kx/environments/{environmentId}/clusters/{clusterName}/configuration/code"
      },
      "input":{"shape":"UpdateKxClusterCodeConfigurationRequest"},
      "output":{"shape":"UpdateKxClusterCodeConfigurationResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"LimitExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Allows you to update code configuration on a running cluster. By using this API you can update the code, the initialization script path, and the command line arguments for a specific cluster. The configuration that you want to update will override any existing configurations on the cluster. </p>"
    },
    "UpdateKxClusterDatabases":{
      "name":"UpdateKxClusterDatabases",
      "http":{
        "method":"PUT",
        "requestUri":"/kx/environments/{environmentId}/clusters/{clusterName}/configuration/databases"
      },
      "input":{"shape":"UpdateKxClusterDatabasesRequest"},
      "output":{"shape":"UpdateKxClusterDatabasesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"LimitExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Updates the databases mounted on a kdb cluster, which includes the <code>changesetId</code> and all the dbPaths to be cached. This API does not allow you to change a database name or add a database if you created a cluster without one. </p> <p>Using this API you can point a cluster to a different changeset and modify a list of partitions being cached.</p>"
    },
    "UpdateKxDatabase":{
      "name":"UpdateKxDatabase",
      "http":{
        "method":"PUT",
        "requestUri":"/kx/environments/{environmentId}/databases/{databaseName}"
      },
      "input":{"shape":"UpdateKxDatabaseRequest"},
      "output":{"shape":"UpdateKxDatabaseResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Updates information for the given kdb database.</p>"
    },
    "UpdateKxDataview":{
      "name":"UpdateKxDataview",
      "http":{
        "method":"PUT",
        "requestUri":"/kx/environments/{environmentId}/databases/{databaseName}/dataviews/{dataviewName}"
      },
      "input":{"shape":"UpdateKxDataviewRequest"},
      "output":{"shape":"UpdateKxDataviewResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceAlreadyExistsException"}
      ],
      "documentation":"<p> Updates the specified dataview. The dataviews get automatically updated when any new changesets are ingested. Each update of the dataview creates a new version, including changeset details and cache configurations</p>"
    },
    "UpdateKxEnvironment":{
      "name":"UpdateKxEnvironment",
      "http":{
        "method":"PUT",
        "requestUri":"/kx/environments/{environmentId}"
      },
      "input":{"shape":"UpdateKxEnvironmentRequest"},
      "output":{"shape":"UpdateKxEnvironmentResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Updates information for the given kdb environment.</p>"
    },
    "UpdateKxEnvironmentNetwork":{
      "name":"UpdateKxEnvironmentNetwork",
      "http":{
        "method":"PUT",
        "requestUri":"/kx/environments/{environmentId}/network"
      },
      "input":{"shape":"UpdateKxEnvironmentNetworkRequest"},
      "output":{"shape":"UpdateKxEnvironmentNetworkResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Updates environment network to connect to your internal network by using a transit gateway. This API supports request to create a transit gateway attachment from FinSpace VPC to your transit gateway ID and create a custom Route-53 outbound resolvers.</p> <p>Once you send a request to update a network, you cannot change it again. Network update might require termination of any clusters that are running in the existing network.</p>"
    },
    "UpdateKxUser":{
      "name":"UpdateKxUser",
      "http":{
        "method":"PUT",
        "requestUri":"/kx/environments/{environmentId}/users/{userName}"
      },
      "input":{"shape":"UpdateKxUserRequest"},
      "output":{"shape":"UpdateKxUserResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Updates the user details. You can only update the IAM role associated with a user.</p>"
    },
    "UpdateKxVolume":{
      "name":"UpdateKxVolume",
      "http":{
        "method":"PATCH",
        "requestUri":"/kx/environments/{environmentId}/kxvolumes/{volumeName}"
      },
      "input":{"shape":"UpdateKxVolumeRequest"},
      "output":{"shape":"UpdateKxVolumeResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"LimitExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Updates the throughput or capacity of a volume. During the update process, the filesystem might be unavailable for a few minutes. You can retry any operations after the update is complete. </p>"
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"errorMessage"}
      },
      "documentation":"<p>You do not have sufficient access to perform this action.</p>",
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "AttachedClusterList":{
      "type":"list",
      "member":{"shape":"KxClusterName"}
    },
    "AttributeMap":{
      "type":"map",
      "key":{"shape":"FederationAttributeKey"},
      "value":{"shape":"FederationAttributeValue"}
    },
    "AutoScalingConfiguration":{
      "type":"structure",
      "members":{
        "minNodeCount":{
          "shape":"NodeCount",
          "documentation":"<p>The lowest number of nodes to scale. This value must be at least 1 and less than the <code>maxNodeCount</code>. If the nodes in a cluster belong to multiple availability zones, then <code>minNodeCount</code> must be at least 3.</p>"
        },
        "maxNodeCount":{
          "shape":"NodeCount",
          "documentation":"<p>The highest number of nodes to scale. This value cannot be greater than 5.</p>"
        },
        "autoScalingMetric":{
          "shape":"AutoScalingMetric",
          "documentation":"<p> The metric your cluster will track in order to scale in and out. For example, <code>CPU_UTILIZATION_PERCENTAGE</code> is the average CPU usage across all the nodes in a cluster.</p>"
        },
        "metricTarget":{
          "shape":"AutoScalingMetricTarget",
          "documentation":"<p>The desired value of the chosen <code>autoScalingMetric</code>. When the metric drops below this value, the cluster will scale in. When the metric goes above this value, the cluster will scale out. You can set the target value between 1 and 100 percent.</p>"
        },
        "scaleInCooldownSeconds":{
          "shape":"CooldownTime",
          "documentation":"<p>The duration in seconds that FinSpace will wait after a scale in event before initiating another scaling event.</p>"
        },
        "scaleOutCooldownSeconds":{
          "shape":"CooldownTime",
          "documentation":"<p>The duration in seconds that FinSpace will wait after a scale out event before initiating another scaling event.</p>"
        }
      },
      "documentation":"<p>The configuration based on which FinSpace will scale in or scale out nodes in your cluster. </p>"
    },
    "AutoScalingMetric":{
      "type":"string",
      "enum":["CPU_UTILIZATION_PERCENTAGE"]
    },
    "AutoScalingMetricTarget":{
      "type":"double",
      "max":100,
      "min":1
    },
    "AvailabilityZoneId":{
      "type":"string",
      "max":12,
      "min":8,
      "pattern":"^[a-zA-Z0-9-]+$"
    },
    "AvailabilityZoneIds":{
      "type":"list",
      "member":{"shape":"AvailabilityZoneId"}
    },
    "BoxedInteger":{
      "type":"integer",
      "box":true
    },
    "CapacityConfiguration":{
      "type":"structure",
      "members":{
        "nodeType":{
          "shape":"NodeType",
          "documentation":"<p>The type that determines the hardware of the host computer used for your cluster instance. Each node type offers different memory and storage capabilities. Choose a node type based on the requirements of the application or software that you plan to run on your instance.</p> <p>You can only specify one of the following values:</p> <ul> <li> <p> <code>kx.s.large</code> – The node type with a configuration of 12 GiB memory and 2 vCPUs.</p> </li> <li> <p> <code>kx.s.xlarge</code> – The node type with a configuration of 27 GiB memory and 4 vCPUs.</p> </li> <li> <p> <code>kx.s.2xlarge</code> – The node type with a configuration of 54 GiB memory and 8 vCPUs.</p> </li> <li> <p> <code>kx.s.4xlarge</code> – The node type with a configuration of 108 GiB memory and 16 vCPUs.</p> </li> <li> <p> <code>kx.s.8xlarge</code> – The node type with a configuration of 216 GiB memory and 32 vCPUs.</p> </li> <li> <p> <code>kx.s.16xlarge</code> – The node type with a configuration of 432 GiB memory and 64 vCPUs.</p> </li> <li> <p> <code>kx.s.32xlarge</code> – The node type with a configuration of 864 GiB memory and 128 vCPUs.</p> </li> </ul>"
        },
        "nodeCount":{
          "shape":"NodeCount",
          "documentation":"<p>The number of instances running in a cluster.</p>"
        }
      },
      "documentation":"<p>A structure for the metadata of a cluster. It includes information like the CPUs needed, memory of instances, and number of instances.</p>"
    },
    "ChangeRequest":{
      "type":"structure",
      "required":[
        "changeType",
        "dbPath"
      ],
      "members":{
        "changeType":{
          "shape":"ChangeType",
          "documentation":"<p>Defines the type of change request. A <code>changeType</code> can have the following values:</p> <ul> <li> <p>PUT – Adds or updates files in a database.</p> </li> <li> <p>DELETE – Deletes files in a database.</p> </li> </ul>"
        },
        "s3Path":{
          "shape":"S3Path",
          "documentation":"<p>Defines the S3 path of the source file that is required to add or update files in a database.</p>"
        },
        "dbPath":{
          "shape":"DbPath",
          "documentation":"<p>Defines the path within the database directory. </p>"
        }
      },
      "documentation":"<p>A list of change request objects.</p>"
    },
    "ChangeRequests":{
      "type":"list",
      "member":{"shape":"ChangeRequest"},
      "max":32,
      "min":1
    },
    "ChangeType":{
      "type":"string",
      "enum":[
        "PUT",
        "DELETE"
      ]
    },
    "ChangesetId":{
      "type":"string",
      "max":26,
      "min":1,
      "pattern":"^[a-zA-Z0-9]+$"
    },
    "ChangesetStatus":{
      "type":"string",
      "enum":[
        "PENDING",
        "PROCESSING",
        "FAILED",
        "COMPLETED"
      ]
    },
    "ClientToken":{
      "type":"string",
      "max":36,
      "min":1,
      "pattern":".*\\S.*"
    },
    "ClientTokenString":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"^[a-zA-Z0-9-]+$"
    },
    "ClusterNodeCount":{
      "type":"integer",
      "min":1
    },
    "CodeConfiguration":{
      "type":"structure",
      "members":{
        "s3Bucket":{
          "shape":"S3Bucket",
          "documentation":"<p>A unique name for the S3 bucket.</p>"
        },
        "s3Key":{
          "shape":"S3Key",
          "documentation":"<p>The full S3 path (excluding bucket) to the .zip file. This file contains the code that is loaded onto the cluster when it's started.</p>"
        },
        "s3ObjectVersion":{
          "shape":"S3ObjectVersion",
          "documentation":"<p>The version of an S3 object.</p>"
        }
      },
      "documentation":"<p>The structure of the customer code available within the running cluster.</p>"
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "message":{"shape":"errorMessage"},
        "reason":{
          "shape":"errorMessage",
          "documentation":"<p>The reason for the conflict exception.</p>"
        }
      },
      "documentation":"<p>There was a conflict with this action, and it could not be completed.</p>",
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "CooldownTime":{
      "type":"double",
      "max":100000,
      "min":0
    },
    "CpuCount":{
      "type":"double",
      "min":0.1
    },
    "CreateEnvironmentRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"EnvironmentName",
          "documentation":"<p>The name of the FinSpace environment to be created.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>The description of the FinSpace environment to be created.</p>"
        },
        "kmsKeyId":{
          "shape":"KmsKeyId",
          "documentation":"<p>The KMS key id to encrypt your data in the FinSpace environment.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Add tags to your FinSpace environment.</p>"
        },
        "federationMode":{
          "shape":"FederationMode",
          "documentation":"<p>Authentication mode for the environment.</p> <ul> <li> <p> <code>FEDERATED</code> - Users access FinSpace through Single Sign On (SSO) via your Identity provider.</p> </li> <li> <p> <code>LOCAL</code> - Users access FinSpace via email and password managed within the FinSpace environment.</p> </li> </ul>"
        },
        "federationParameters":{
          "shape":"FederationParameters",
          "documentation":"<p>Configuration information when authentication mode is FEDERATED.</p>"
        },
        "superuserParameters":{
          "shape":"SuperuserParameters",
          "documentation":"<p>Configuration information for the superuser.</p>"
        },
        "dataBundles":{
          "shape":"DataBundleArns",
          "documentation":"<p>The list of Amazon Resource Names (ARN) of the data bundles to install. Currently supported data bundle ARNs:</p> <ul> <li> <p> <code>arn:aws:finspace:${Region}::data-bundle/capital-markets-sample</code> - Contains sample Capital Markets datasets, categories and controlled vocabularies.</p> </li> <li> <p> <code>arn:aws:finspace:${Region}::data-bundle/taq</code> (default) - Contains trades and quotes data in addition to sample Capital Markets data.</p> </li> </ul>"
        }
      }
    },
    "CreateEnvironmentResponse":{
      "type":"structure",
      "members":{
        "environmentId":{
          "shape":"IdType",
          "documentation":"<p>The unique identifier for FinSpace environment that you created.</p>"
        },
        "environmentArn":{
          "shape":"EnvironmentArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the FinSpace environment that you created.</p>"
        },
        "environmentUrl":{
          "shape":"url",
          "documentation":"<p>The sign-in URL for the web application of the FinSpace environment you created.</p>"
        }
      }
    },
    "CreateKxChangesetRequest":{
      "type":"structure",
      "required":[
        "environmentId",
        "databaseName",
        "changeRequests",
        "clientToken"
      ],
      "members":{
        "environmentId":{
          "shape":"EnvironmentId",
          "documentation":"<p>A unique identifier of the kdb environment.</p>",
          "location":"uri",
          "locationName":"environmentId"
        },
        "databaseName":{
          "shape":"DatabaseName",
          "documentation":"<p>The name of the kdb database.</p>",
          "location":"uri",
          "locationName":"databaseName"
        },
        "changeRequests":{
          "shape":"ChangeRequests",
          "documentation":"<p>A list of change request objects that are run in order. A change request object consists of <code>changeType</code> , <code>s3Path</code>, and <code>dbPath</code>. A changeType can have the following values: </p> <ul> <li> <p>PUT – Adds or updates files in a database.</p> </li> <li> <p>DELETE – Deletes files in a database.</p> </li> </ul> <p>All the change requests require a mandatory <code>dbPath</code> attribute that defines the path within the database directory. All database paths must start with a leading / and end with a trailing /. The <code>s3Path</code> attribute defines the s3 source file path and is required for a PUT change type. The <code>s3path</code> must end with a trailing / if it is a directory and must end without a trailing / if it is a file. </p> <p>Here are few examples of how you can use the change request object:</p> <ol> <li> <p>This request adds a single sym file at database root location. </p> <p> <code>{ \"changeType\": \"PUT\", \"s3Path\":\"s3://bucket/db/sym\", \"dbPath\":\"/\"}</code> </p> </li> <li> <p>This request adds files in the given <code>s3Path</code> under the 2020.01.02 partition of the database.</p> <p> <code>{ \"changeType\": \"PUT\", \"s3Path\":\"s3://bucket/db/2020.01.02/\", \"dbPath\":\"/2020.01.02/\"}</code> </p> </li> <li> <p>This request adds files in the given <code>s3Path</code> under the <i>taq</i> table partition of the database.</p> <p> <code>[ { \"changeType\": \"PUT\", \"s3Path\":\"s3://bucket/db/2020.01.02/taq/\", \"dbPath\":\"/2020.01.02/taq/\"}]</code> </p> </li> <li> <p>This request deletes the 2020.01.02 partition of the database.</p> <p> <code>[{ \"changeType\": \"DELETE\", \"dbPath\": \"/2020.01.02/\"} ]</code> </p> </li> <li> <p>The <i>DELETE</i> request allows you to delete the existing files under the 2020.01.02 partition of the database, and the <i>PUT</i> request adds a new taq table under it.</p> <p> <code>[ {\"changeType\": \"DELETE\", \"dbPath\":\"/2020.01.02/\"}, {\"changeType\": \"PUT\", \"s3Path\":\"s3://bucket/db/2020.01.02/taq/\", \"dbPath\":\"/2020.01.02/taq/\"}]</code> </p> </li> </ol>"
        },
        "clientToken":{
          "shape":"ClientTokenString",
          "documentation":"<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateKxChangesetResponse":{
      "type":"structure",
      "members":{
        "changesetId":{
          "shape":"ChangesetId",
          "documentation":"<p>A unique identifier for the changeset.</p>"
        },
        "databaseName":{
          "shape":"DatabaseName",
          "documentation":"<p>The name of the kdb database.</p>"
        },
        "environmentId":{
          "shape":"EnvironmentId",
          "documentation":"<p>A unique identifier for the kdb environment.</p>"
        },
        "changeRequests":{
          "shape":"ChangeRequests",
          "documentation":"<p>A list of change requests.</p>"
        },
        "createdTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp at which the changeset was created in FinSpace. The value is determined as epoch time in milliseconds. For example, the value for Monday, November 1, 2021 12:00:00 PM UTC is specified as 1635768000000.</p>"
        },
        "lastModifiedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp at which the changeset was updated in FinSpace. The value is determined as epoch time in milliseconds. For example, the value for Monday, November 1, 2021 12:00:00 PM UTC is specified as 1635768000000.</p>"
        },
        "status":{
          "shape":"ChangesetStatus",
          "documentation":"<p>Status of the changeset creation process.</p> <ul> <li> <p>Pending – Changeset creation is pending.</p> </li> <li> <p>Processing – Changeset creation is running.</p> </li> <li> <p>Failed – Changeset creation has failed.</p> </li> <li> <p>Complete – Changeset creation has succeeded.</p> </li> </ul>"
        },
        "errorInfo":{
          "shape":"ErrorInfo",
          "documentation":"<p>The details of the error that you receive when creating a changeset. It consists of the type of error and the error message.</p>"
        }
      }
    },
    "CreateKxClusterRequest":{
      "type":"structure",
      "required":[
        "environmentId",
        "clusterName",
        "clusterType",
        "releaseLabel",
        "vpcConfiguration",
        "azMode"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
          "idempotencyToken":true
        },
        "environmentId":{
          "shape":"KxEnvironmentId",
          "documentation":"<p>A unique identifier for the kdb environment.</p>",
          "location":"uri",
          "locationName":"environmentId"
        },
        "clusterName":{
          "shape":"KxClusterName",
          "documentation":"<p>A unique name for the cluster that you want to create.</p>"
        },
        "clusterType":{
          "shape":"KxClusterType",
          "documentation":"<p>Specifies the type of KDB database that is being created. The following types are available: </p> <ul> <li> <p>HDB – A Historical Database. The data is only accessible with read-only permissions from one of the FinSpace managed kdb databases mounted to the cluster.</p> </li> <li> <p>RDB – A Realtime Database. This type of database captures all the data from a ticker plant and stores it in memory until the end of day, after which it writes all of its data to a disk and reloads the HDB. This cluster type requires local storage for temporary storage of data during the savedown process. If you specify this field in your request, you must provide the <code>savedownStorageConfiguration</code> parameter.</p> </li> <li> <p>GATEWAY – A gateway cluster allows you to access data across processes in kdb systems. It allows you to create your own routing logic using the initialization scripts and custom code. This type of cluster does not require a writable local storage.</p> </li> <li> <p>GP – A general purpose cluster allows you to quickly iterate on code during development by granting greater access to system commands and enabling a fast reload of custom code. This cluster type can optionally mount databases including cache and savedown storage. For this cluster type, the node count is fixed at 1. It does not support autoscaling and supports only <code>SINGLE</code> AZ mode.</p> </li> <li> <p>Tickerplant – A tickerplant cluster allows you to subscribe to feed handlers based on IAM permissions. It can publish to RDBs, other Tickerplants, and real-time subscribers (RTS). Tickerplants can persist messages to log, which is readable by any RDB environment. It supports only single-node that is only one kdb process.</p> </li> </ul>"
        },
        "tickerplantLogConfiguration":{
          "shape":"TickerplantLogConfiguration",
          "documentation":"<p> A configuration to store Tickerplant logs. It consists of a list of volumes that will be mounted to your cluster. For the cluster type <code>Tickerplant</code>, the location of the TP volume on the cluster will be available by using the global variable <code>.aws.tp_log_path</code>. </p>"
        },
        "databases":{
          "shape":"KxDatabaseConfigurations",
          "documentation":"<p>A list of databases that will be available for querying.</p>"
        },
        "cacheStorageConfigurations":{
          "shape":"KxCacheStorageConfigurations",
          "documentation":"<p>The configurations for a read only cache storage associated with a cluster. This cache will be stored as an FSx Lustre that reads from the S3 store. </p>"
        },
        "autoScalingConfiguration":{
          "shape":"AutoScalingConfiguration",
          "documentation":"<p>The configuration based on which FinSpace will scale in or scale out nodes in your cluster.</p>"
        },
        "clusterDescription":{
          "shape":"KxClusterDescription",
          "documentation":"<p>A description of the cluster.</p>"
        },
        "capacityConfiguration":{
          "shape":"CapacityConfiguration",
          "documentation":"<p>A structure for the metadata of a cluster. It includes information like the CPUs needed, memory of instances, and number of instances.</p>"
        },
        "releaseLabel":{
          "shape":"ReleaseLabel",
          "documentation":"<p>The version of FinSpace managed kdb to run.</p>"
        },
        "vpcConfiguration":{
          "shape":"VpcConfiguration",
          "documentation":"<p>Configuration details about the network where the Privatelink endpoint of the cluster resides.</p>"
        },
        "initializationScript":{
          "shape":"InitializationScriptFilePath",
          "documentation":"<p>Specifies a Q program that will be run at launch of a cluster. It is a relative path within <i>.zip</i> file that contains the custom code, which will be loaded on the cluster. It must include the file name itself. For example, <code>somedir/init.q</code>.</p>"
        },
        "commandLineArguments":{
          "shape":"KxCommandLineArguments",
          "documentation":"<p>Defines the key-value pairs to make them available inside the cluster.</p>"
        },
        "code":{
          "shape":"CodeConfiguration",
          "documentation":"<p>The details of the custom code that you want to use inside a cluster when analyzing a data. It consists of the S3 source bucket, location, S3 object version, and the relative path from where the custom code is loaded into the cluster. </p>"
        },
        "executionRole":{
          "shape":"ExecutionRoleArn",
          "documentation":"<p>An IAM role that defines a set of permissions associated with a cluster. These permissions are assumed when a cluster attempts to access another cluster.</p>"
        },
        "savedownStorageConfiguration":{
          "shape":"KxSavedownStorageConfiguration",
          "documentation":"<p>The size and type of the temporary storage that is used to hold data during the savedown process. This parameter is required when you choose <code>clusterType</code> as RDB. All the data written to this storage space is lost when the cluster node is restarted.</p>"
        },
        "azMode":{
          "shape":"KxAzMode",
          "documentation":"<p>The number of availability zones you want to assign per cluster. This can be one of the following </p> <ul> <li> <p> <code>SINGLE</code> – Assigns one availability zone per cluster.</p> </li> <li> <p> <code>MULTI</code> – Assigns all the availability zones per cluster.</p> </li> </ul>"
        },
        "availabilityZoneId":{
          "shape":"AvailabilityZoneId",
          "documentation":"<p>The availability zone identifiers for the requested regions.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>A list of key-value pairs to label the cluster. You can add up to 50 tags to a cluster.</p>"
        },
        "scalingGroupConfiguration":{
          "shape":"KxScalingGroupConfiguration",
          "documentation":"<p>The structure that stores the configuration details of a scaling group.</p>"
        }
      }
    },
    "CreateKxClusterResponse":{
      "type":"structure",
      "members":{
        "environmentId":{
          "shape":"KxEnvironmentId",
          "documentation":"<p>A unique identifier for the kdb environment.</p>"
        },
        "status":{
          "shape":"KxClusterStatus",
          "documentation":"<p>The status of cluster creation.</p> <ul> <li> <p>PENDING – The cluster is pending creation.</p> </li> <li> <p>CREATING – The cluster creation process is in progress.</p> </li> <li> <p>CREATE_FAILED – The cluster creation process has failed.</p> </li> <li> <p>RUNNING – The cluster creation process is running.</p> </li> <li> <p>UPDATING – The cluster is in the process of being updated.</p> </li> <li> <p>DELETING – The cluster is in the process of being deleted.</p> </li> <li> <p>DELETED – The cluster has been deleted.</p> </li> <li> <p>DELETE_FAILED – The cluster failed to delete.</p> </li> </ul>"
        },
        "statusReason":{
          "shape":"KxClusterStatusReason",
          "documentation":"<p>The error message when a failed state occurs. </p>"
        },
        "clusterName":{
          "shape":"KxClusterName",
          "documentation":"<p>A unique name for the cluster.</p>"
        },
        "clusterType":{
          "shape":"KxClusterType",
          "documentation":"<p>Specifies the type of KDB database that is being created. The following types are available: </p> <ul> <li> <p>HDB – A Historical Database. The data is only accessible with read-only permissions from one of the FinSpace managed kdb databases mounted to the cluster.</p> </li> <li> <p>RDB – A Realtime Database. This type of database captures all the data from a ticker plant and stores it in memory until the end of day, after which it writes all of its data to a disk and reloads the HDB. This cluster type requires local storage for temporary storage of data during the savedown process. If you specify this field in your request, you must provide the <code>savedownStorageConfiguration</code> parameter.</p> </li> <li> <p>GATEWAY – A gateway cluster allows you to access data across processes in kdb systems. It allows you to create your own routing logic using the initialization scripts and custom code. This type of cluster does not require a writable local storage.</p> </li> <li> <p>GP – A general purpose cluster allows you to quickly iterate on code during development by granting greater access to system commands and enabling a fast reload of custom code. This cluster type can optionally mount databases including cache and savedown storage. For this cluster type, the node count is fixed at 1. It does not support autoscaling and supports only <code>SINGLE</code> AZ mode.</p> </li> <li> <p>Tickerplant – A tickerplant cluster allows you to subscribe to feed handlers based on IAM permissions. It can publish to RDBs, other Tickerplants, and real-time subscribers (RTS). Tickerplants can persist messages to log, which is readable by any RDB environment. It supports only single-node that is only one kdb process.</p> </li> </ul>"
        },
        "tickerplantLogConfiguration":{"shape":"TickerplantLogConfiguration"},
        "volumes":{
          "shape":"Volumes",
          "documentation":"<p> A list of volumes mounted on the cluster. </p>"
        },
        "databases":{
          "shape":"KxDatabaseConfigurations",
          "documentation":"<p>A list of databases that will be available for querying.</p>"
        },
        "cacheStorageConfigurations":{
          "shape":"KxCacheStorageConfigurations",
          "documentation":"<p>The configurations for a read only cache storage associated with a cluster. This cache will be stored as an FSx Lustre that reads from the S3 store. </p>"
        },
        "autoScalingConfiguration":{
          "shape":"AutoScalingConfiguration",
          "documentation":"<p>The configuration based on which FinSpace will scale in or scale out nodes in your cluster.</p>"
        },
        "clusterDescription":{
          "shape":"KxClusterDescription",
          "documentation":"<p>A description of the cluster.</p>"
        },
        "capacityConfiguration":{
          "shape":"CapacityConfiguration",
          "documentation":"<p>A structure for the metadata of a cluster. It includes information like the CPUs needed, memory of instances, and number of instances.</p>"
        },
        "releaseLabel":{
          "shape":"ReleaseLabel",
          "documentation":"<p>A version of the FinSpace managed kdb to run.</p>"
        },
        "vpcConfiguration":{
          "shape":"VpcConfiguration",
          "documentation":"<p>Configuration details about the network where the Privatelink endpoint of the cluster resides.</p>"
        },
        "initializationScript":{
          "shape":"InitializationScriptFilePath",
          "documentation":"<p>Specifies a Q program that will be run at launch of a cluster. It is a relative path within <i>.zip</i> file that contains the custom code, which will be loaded on the cluster. It must include the file name itself. For example, <code>somedir/init.q</code>.</p>"
        },
        "commandLineArguments":{
          "shape":"KxCommandLineArguments",
          "documentation":"<p>Defines the key-value pairs to make them available inside the cluster.</p>"
        },
        "code":{
          "shape":"CodeConfiguration",
          "documentation":"<p>The details of the custom code that you want to use inside a cluster when analyzing a data. It consists of the S3 source bucket, location, S3 object version, and the relative path from where the custom code is loaded into the cluster. </p>"
        },
        "executionRole":{
          "shape":"ExecutionRoleArn",
          "documentation":"<p> An IAM role that defines a set of permissions associated with a cluster. These permissions are assumed when a cluster attempts to access another cluster. </p>"
        },
        "lastModifiedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The last time that the cluster was modified. The value is determined as epoch time in milliseconds. For example, the value for Monday, November 1, 2021 12:00:00 PM UTC is specified as 1635768000000.</p>"
        },
        "savedownStorageConfiguration":{
          "shape":"KxSavedownStorageConfiguration",
          "documentation":"<p>The size and type of the temporary storage that is used to hold data during the savedown process. This parameter is required when you choose <code>clusterType</code> as RDB. All the data written to this storage space is lost when the cluster node is restarted.</p>"
        },
        "azMode":{
          "shape":"KxAzMode",
          "documentation":"<p>The number of availability zones you want to assign per cluster. This can be one of the following </p> <ul> <li> <p> <code>SINGLE</code> – Assigns one availability zone per cluster.</p> </li> <li> <p> <code>MULTI</code> – Assigns all the availability zones per cluster.</p> </li> </ul>"
        },
        "availabilityZoneId":{
          "shape":"AvailabilityZoneId",
          "documentation":"<p> The availability zone identifiers for the requested regions. </p>"
        },
        "createdTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp at which the cluster was created in FinSpace. The value is determined as epoch time in milliseconds. For example, the value for Monday, November 1, 2021 12:00:00 PM UTC is specified as 1635768000000.</p>"
        },
        "scalingGroupConfiguration":{
          "shape":"KxScalingGroupConfiguration",
          "documentation":"<p>The structure that stores the configuration details of a scaling group.</p>"
        }
      }
    },
    "CreateKxDatabaseRequest":{
      "type":"structure",
      "required":[
        "environmentId",
        "databaseName",
        "clientToken"
      ],
      "members":{
        "environmentId":{
          "shape":"EnvironmentId",
          "documentation":"<p>A unique identifier for the kdb environment.</p>",
          "location":"uri",
          "locationName":"environmentId"
        },
        "databaseName":{
          "shape":"DatabaseName",
          "documentation":"<p>The name of the kdb database.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>A description of the database.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>A list of key-value pairs to label the kdb database. You can add up to 50 tags to your kdb database</p>"
        },
        "clientToken":{
          "shape":"ClientTokenString",
          "documentation":"<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateKxDatabaseResponse":{
      "type":"structure",
      "members":{
        "databaseName":{
          "shape":"DatabaseName",
          "documentation":"<p>The name of the kdb database.</p>"
        },
        "databaseArn":{
          "shape":"DatabaseArn",
          "documentation":"<p>The ARN identifier of the database.</p>"
        },
        "environmentId":{
          "shape":"EnvironmentId",
          "documentation":"<p>A unique identifier for the kdb environment.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>A description of the database.</p>"
        },
        "createdTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp at which the database is created in FinSpace. The value is determined as epoch time in milliseconds. For example, the value for Monday, November 1, 2021 12:00:00 PM UTC is specified as 1635768000000.</p>"
        },
        "lastModifiedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The last time that the database was updated in FinSpace. The value is determined as epoch time in milliseconds. For example, the value for Monday, November 1, 2021 12:00:00 PM UTC is specified as 1635768000000.</p>"
        }
      }
    },
    "CreateKxDataviewRequest":{
      "type":"structure",
      "required":[
        "environmentId",
        "databaseName",
        "dataviewName",
        "azMode",
        "clientToken"
      ],
      "members":{
        "environmentId":{
          "shape":"EnvironmentId",
          "documentation":"<p>A unique identifier for the kdb environment, where you want to create the dataview. </p>",
          "location":"uri",
          "locationName":"environmentId"
        },
        "databaseName":{
          "shape":"DatabaseName",
          "documentation":"<p> The name of the database where you want to create a dataview. </p>",
          "location":"uri",
          "locationName":"databaseName"
        },
        "dataviewName":{
          "shape":"KxDataviewName",
          "documentation":"<p>A unique identifier for the dataview.</p>"
        },
        "azMode":{
          "shape":"KxAzMode",
          "documentation":"<p>The number of availability zones you want to assign per volume. Currently, FinSpace only supports <code>SINGLE</code> for volumes. This places dataview in a single AZ.</p>"
        },
        "availabilityZoneId":{
          "shape":"AvailabilityZoneId",
          "documentation":"<p> The identifier of the availability zones. </p>"
        },
        "changesetId":{
          "shape":"ChangesetId",
          "documentation":"<p> A unique identifier of the changeset that you want to use to ingest data. </p>"
        },
        "segmentConfigurations":{
          "shape":"KxDataviewSegmentConfigurationList",
          "documentation":"<p> The configuration that contains the database path of the data that you want to place on each selected volume. Each segment must have a unique database path for each volume. If you do not explicitly specify any database path for a volume, they are accessible from the cluster through the default S3/object store segment. </p>"
        },
        "autoUpdate":{
          "shape":"booleanValue",
          "documentation":"<p>The option to specify whether you want to apply all the future additions and corrections automatically to the dataview, when you ingest new changesets. The default value is false.</p>"
        },
        "readWrite":{
          "shape":"booleanValue",
          "documentation":"<p> The option to specify whether you want to make the dataview writable to perform database maintenance. The following are some considerations related to writable dataviews.&#x2028;&#x2028;</p> <ul> <li> <p>You cannot create partial writable dataviews. When you create writeable dataviews you must provide the entire database path.</p> </li> <li> <p>You cannot perform updates on a writeable dataview. Hence, <code>autoUpdate</code> must be set as <b>False</b> if <code>readWrite</code> is <b>True</b> for a dataview.</p> </li> <li> <p>You must also use a unique volume for creating a writeable dataview. So, if you choose a volume that is already in use by another dataview, the dataview creation fails.</p> </li> <li> <p>Once you create a dataview as writeable, you cannot change it to read-only. So, you cannot update the <code>readWrite</code> parameter later.</p> </li> </ul>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>A description of the dataview.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p> A list of key-value pairs to label the dataview. You can add up to 50 tags to a dataview. </p>"
        },
        "clientToken":{
          "shape":"ClientTokenString",
          "documentation":"<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateKxDataviewResponse":{
      "type":"structure",
      "members":{
        "dataviewName":{
          "shape":"KxDataviewName",
          "documentation":"<p>A unique identifier for the dataview.</p>"
        },
        "databaseName":{
          "shape":"DatabaseName",
          "documentation":"<p>The name of the database where you want to create a dataview.</p>"
        },
        "environmentId":{
          "shape":"EnvironmentId",
          "documentation":"<p>A unique identifier for the kdb environment, where you want to create the dataview. </p>"
        },
        "azMode":{
          "shape":"KxAzMode",
          "documentation":"<p>The number of availability zones you want to assign per volume. Currently, FinSpace only supports <code>SINGLE</code> for volumes. This places dataview in a single AZ.</p>"
        },
        "availabilityZoneId":{
          "shape":"AvailabilityZoneId",
          "documentation":"<p> The identifier of the availability zones. </p>"
        },
        "changesetId":{
          "shape":"ChangesetId",
          "documentation":"<p>A unique identifier for the changeset.</p>"
        },
        "segmentConfigurations":{
          "shape":"KxDataviewSegmentConfigurationList",
          "documentation":"<p> The configuration that contains the database path of the data that you want to place on each selected volume. Each segment must have a unique database path for each volume. If you do not explicitly specify any database path for a volume, they are accessible from the cluster through the default S3/object store segment. </p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>A description of the dataview.</p>"
        },
        "autoUpdate":{
          "shape":"booleanValue",
          "documentation":"<p>The option to select whether you want to apply all the future additions and corrections automatically to the dataview when you ingest new changesets. The default value is false.</p>"
        },
        "readWrite":{
          "shape":"booleanValue",
          "documentation":"<p>Returns True if the dataview is created as writeable and False otherwise. </p>"
        },
        "createdTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p> The timestamp at which the dataview was created in FinSpace. The value is determined as epoch time in milliseconds. For example, the value for Monday, November 1, 2021 12:00:00 PM UTC is specified as 1635768000000.</p>"
        },
        "lastModifiedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p> The last time that the dataview was updated in FinSpace. The value is determined as epoch time in milliseconds. For example, the value for Monday, November 1, 2021 12:00:00 PM UTC is specified as 1635768000000. </p>"
        },
        "status":{
          "shape":"KxDataviewStatus",
          "documentation":"<p> The status of dataview creation.</p> <ul> <li> <p> <code>CREATING</code> – The dataview creation is in progress.</p> </li> <li> <p> <code>UPDATING</code> – The dataview is in the process of being updated.</p> </li> <li> <p> <code>ACTIVE</code> – The dataview is active.</p> </li> </ul>"
        }
      }
    },
    "CreateKxEnvironmentRequest":{
      "type":"structure",
      "required":[
        "name",
        "kmsKeyId"
      ],
      "members":{
        "name":{
          "shape":"KxEnvironmentName",
          "documentation":"<p>The name of the kdb environment that you want to create.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>A description for the kdb environment.</p>"
        },
        "kmsKeyId":{
          "shape":"KmsKeyARN",
          "documentation":"<p>The KMS key ID to encrypt your data in the FinSpace environment.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>A list of key-value pairs to label the kdb environment. You can add up to 50 tags to your kdb environment.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateKxEnvironmentResponse":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"KxEnvironmentName",
          "documentation":"<p>The name of the kdb environment.</p>"
        },
        "status":{
          "shape":"EnvironmentStatus",
          "documentation":"<p>The status of the kdb environment.</p>"
        },
        "environmentId":{
          "shape":"IdType",
          "documentation":"<p>A unique identifier for the kdb environment.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>A description for the kdb environment.</p>"
        },
        "environmentArn":{
          "shape":"EnvironmentArn",
          "documentation":"<p>The ARN identifier of the environment.</p>"
        },
        "kmsKeyId":{
          "shape":"KmsKeyId",
          "documentation":"<p>The KMS key ID to encrypt your data in the FinSpace environment.</p>"
        },
        "creationTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp at which the kdb environment was created in FinSpace.</p>"
        }
      }
    },
    "CreateKxScalingGroupRequest":{
      "type":"structure",
      "required":[
        "clientToken",
        "environmentId",
        "scalingGroupName",
        "hostType",
        "availabilityZoneId"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
          "idempotencyToken":true
        },
        "environmentId":{
          "shape":"KxEnvironmentId",
          "documentation":"<p>A unique identifier for the kdb environment, where you want to create the scaling group. </p>",
          "location":"uri",
          "locationName":"environmentId"
        },
        "scalingGroupName":{
          "shape":"KxScalingGroupName",
          "documentation":"<p>A unique identifier for the kdb scaling group. </p>"
        },
        "hostType":{
          "shape":"KxHostType",
          "documentation":"<p> The memory and CPU capabilities of the scaling group host on which FinSpace Managed kdb clusters will be placed.</p> <p>You can add one of the following values:</p> <ul> <li> <p> <code>kx.sg.large</code> – The host type with a configuration of 16 GiB memory and 2 vCPUs.</p> </li> <li> <p> <code>kx.sg.xlarge</code> – The host type with a configuration of 32 GiB memory and 4 vCPUs.</p> </li> <li> <p> <code>kx.sg.2xlarge</code> – The host type with a configuration of 64 GiB memory and 8 vCPUs.</p> </li> <li> <p> <code>kx.sg.4xlarge</code> – The host type with a configuration of 108 GiB memory and 16 vCPUs.</p> </li> <li> <p> <code>kx.sg.8xlarge</code> – The host type with a configuration of 216 GiB memory and 32 vCPUs.</p> </li> <li> <p> <code>kx.sg.16xlarge</code> – The host type with a configuration of 432 GiB memory and 64 vCPUs.</p> </li> <li> <p> <code>kx.sg.32xlarge</code> – The host type with a configuration of 864 GiB memory and 128 vCPUs.</p> </li> <li> <p> <code>kx.sg1.16xlarge</code> – The host type with a configuration of 1949 GiB memory and 64 vCPUs.</p> </li> <li> <p> <code>kx.sg1.24xlarge</code> – The host type with a configuration of 2948 GiB memory and 96 vCPUs.</p> </li> </ul>"
        },
        "availabilityZoneId":{
          "shape":"AvailabilityZoneId",
          "documentation":"<p>The identifier of the availability zones.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p> A list of key-value pairs to label the scaling group. You can add up to 50 tags to a scaling group. </p>"
        }
      }
    },
    "CreateKxScalingGroupResponse":{
      "type":"structure",
      "members":{
        "environmentId":{
          "shape":"KxEnvironmentId",
          "documentation":"<p>A unique identifier for the kdb environment, where you create the scaling group. </p>"
        },
        "scalingGroupName":{
          "shape":"KxScalingGroupName",
          "documentation":"<p>A unique identifier for the kdb scaling group. </p>"
        },
        "hostType":{
          "shape":"KxHostType",
          "documentation":"<p> The memory and CPU capabilities of the scaling group host on which FinSpace Managed kdb clusters will be placed. </p>"
        },
        "availabilityZoneId":{
          "shape":"AvailabilityZoneId",
          "documentation":"<p>The identifier of the availability zones.</p>"
        },
        "status":{
          "shape":"KxScalingGroupStatus",
          "documentation":"<p>The status of scaling group.</p> <ul> <li> <p>CREATING – The scaling group creation is in progress.</p> </li> <li> <p>CREATE_FAILED – The scaling group creation has failed.</p> </li> <li> <p>ACTIVE – The scaling group is active.</p> </li> <li> <p>UPDATING – The scaling group is in the process of being updated.</p> </li> <li> <p>UPDATE_FAILED – The update action failed.</p> </li> <li> <p>DELETING – The scaling group is in the process of being deleted.</p> </li> <li> <p>DELETE_FAILED – The system failed to delete the scaling group.</p> </li> <li> <p>DELETED – The scaling group is successfully deleted.</p> </li> </ul>"
        },
        "lastModifiedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p> The last time that the scaling group was updated in FinSpace. The value is determined as epoch time in milliseconds. For example, the value for Monday, November 1, 2021 12:00:00 PM UTC is specified as 1635768000000. </p>"
        },
        "createdTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p> The timestamp at which the scaling group was created in FinSpace. The value is determined as epoch time in milliseconds. For example, the value for Monday, November 1, 2021 12:00:00 PM UTC is specified as 1635768000000.</p>"
        }
      }
    },
    "CreateKxUserRequest":{
      "type":"structure",
      "required":[
        "environmentId",
        "userName",
        "iamRole"
      ],
      "members":{
        "environmentId":{
          "shape":"IdType",
          "documentation":"<p>A unique identifier for the kdb environment where you want to create a user.</p>",
          "location":"uri",
          "locationName":"environmentId"
        },
        "userName":{
          "shape":"KxUserNameString",
          "documentation":"<p>A unique identifier for the user.</p>"
        },
        "iamRole":{
          "shape":"RoleArn",
          "documentation":"<p>The IAM role ARN that will be associated with the user.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>A list of key-value pairs to label the user. You can add up to 50 tags to a user.</p>"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateKxUserResponse":{
      "type":"structure",
      "members":{
        "userName":{
          "shape":"KxUserNameString",
          "documentation":"<p>A unique identifier for the user.</p>"
        },
        "userArn":{
          "shape":"KxUserArn",
          "documentation":"<p> The Amazon Resource Name (ARN) that identifies the user. For more information about ARNs and how to use ARNs in policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_identifiers.html\">IAM Identifiers</a> in the <i>IAM User Guide</i>. </p>"
        },
        "environmentId":{
          "shape":"IdType",
          "documentation":"<p>A unique identifier for the kdb environment.</p>"
        },
        "iamRole":{
          "shape":"RoleArn",
          "documentation":"<p>The IAM role ARN that will be associated with the user.</p>"
        }
      }
    },
    "CreateKxVolumeRequest":{
      "type":"structure",
      "required":[
        "environmentId",
        "volumeType",
        "volumeName",
        "azMode",
        "availabilityZoneIds"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
          "idempotencyToken":true
        },
        "environmentId":{
          "shape":"KxEnvironmentId",
          "documentation":"<p>A unique identifier for the kdb environment, whose clusters can attach to the volume. </p>",
          "location":"uri",
          "locationName":"environmentId"
        },
        "volumeType":{
          "shape":"KxVolumeType",
          "documentation":"<p> The type of file system volume. Currently, FinSpace only supports <code>NAS_1</code> volume type. When you select <code>NAS_1</code> volume type, you must also provide <code>nas1Configuration</code>. </p>"
        },
        "volumeName":{
          "shape":"KxVolumeName",
          "documentation":"<p>A unique identifier for the volume.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p> A description of the volume. </p>"
        },
        "nas1Configuration":{
          "shape":"KxNAS1Configuration",
          "documentation":"<p> Specifies the configuration for the Network attached storage (NAS_1) file system volume. This parameter is required when you choose <code>volumeType</code> as <i>NAS_1</i>.</p>"
        },
        "azMode":{
          "shape":"KxAzMode",
          "documentation":"<p>The number of availability zones you want to assign per volume. Currently, FinSpace only supports <code>SINGLE</code> for volumes. This places dataview in a single AZ.</p>"
        },
        "availabilityZoneIds":{
          "shape":"AvailabilityZoneIds",
          "documentation":"<p>The identifier of the availability zones.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p> A list of key-value pairs to label the volume. You can add up to 50 tags to a volume. </p>"
        }
      }
    },
    "CreateKxVolumeResponse":{
      "type":"structure",
      "members":{
        "environmentId":{
          "shape":"KxEnvironmentId",
          "documentation":"<p>A unique identifier for the kdb environment, whose clusters can attach to the volume. </p>"
        },
        "volumeName":{
          "shape":"KxVolumeName",
          "documentation":"<p>A unique identifier for the volume.</p>"
        },
        "volumeType":{
          "shape":"KxVolumeType",
          "documentation":"<p> The type of file system volume. Currently, FinSpace only supports <code>NAS_1</code> volume type. </p>"
        },
        "volumeArn":{
          "shape":"KxVolumeArn",
          "documentation":"<p> The ARN identifier of the volume. </p>"
        },
        "nas1Configuration":{
          "shape":"KxNAS1Configuration",
          "documentation":"<p> Specifies the configuration for the Network attached storage (NAS_1) file system volume.</p>"
        },
        "status":{
          "shape":"KxVolumeStatus",
          "documentation":"<p>The status of volume creation.</p> <ul> <li> <p>CREATING – The volume creation is in progress.</p> </li> <li> <p>CREATE_FAILED – The volume creation has failed.</p> </li> <li> <p>ACTIVE – The volume is active.</p> </li> <li> <p>UPDATING – The volume is in the process of being updated.</p> </li> <li> <p>UPDATE_FAILED – The update action failed.</p> </li> <li> <p>UPDATED – The volume is successfully updated.</p> </li> <li> <p>DELETING – The volume is in the process of being deleted.</p> </li> <li> <p>DELETE_FAILED – The system failed to delete the volume.</p> </li> <li> <p>DELETED – The volume is successfully deleted.</p> </li> </ul>"
        },
        "statusReason":{
          "shape":"KxVolumeStatusReason",
          "documentation":"<p>The error message when a failed state occurs. </p>"
        },
        "azMode":{
          "shape":"KxAzMode",
          "documentation":"<p>The number of availability zones you want to assign per volume. Currently, FinSpace only supports <code>SINGLE</code> for volumes. This places dataview in a single AZ.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p> A description of the volume. </p>"
        },
        "availabilityZoneIds":{
          "shape":"AvailabilityZoneIds",
          "documentation":"<p>The identifier of the availability zones.</p>"
        },
        "createdTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp at which the volume was created in FinSpace. The value is determined as epoch time in milliseconds. For example, the value for Monday, November 1, 2021 12:00:00 PM UTC is specified as 1635768000000.</p>"
        }
      }
    },
    "CustomDNSConfiguration":{
      "type":"list",
      "member":{"shape":"CustomDNSServer"}
    },
    "CustomDNSServer":{
      "type":"structure",
      "required":[
        "customDNSServerName",
        "customDNSServerIP"
      ],
      "members":{
        "customDNSServerName":{
          "shape":"ValidHostname",
          "documentation":"<p>The name of the DNS server.</p>"
        },
        "customDNSServerIP":{
          "shape":"ValidIPAddress",
          "documentation":"<p>The IP address of the DNS server.</p>"
        }
      },
      "documentation":"<p>A list of DNS server name and server IP. This is used to set up Route-53 outbound resolvers.</p>"
    },
    "DataBundleArn":{
      "type":"string",
      "documentation":"<p>The Amazon Resource Name (ARN) of the data bundle.</p>",
      "max":2048,
      "min":20,
      "pattern":"^arn:aws:finspace:[A-Za-z0-9_/.-]{0,63}:\\d*:data-bundle/[0-9A-Za-z_-]{1,128}$"
    },
    "DataBundleArns":{
      "type":"list",
      "member":{"shape":"DataBundleArn"}
    },
    "DatabaseArn":{"type":"string"},
    "DatabaseName":{
      "type":"string",
      "max":63,
      "min":3,
      "pattern":"^[a-zA-Z0-9][a-zA-Z0-9-_]*[a-zA-Z0-9]$"
    },
    "DbPath":{
      "type":"string",
      "max":1025,
      "min":1,
      "pattern":"^(\\*)*[\\/\\?\\*]([^\\/]+\\/){0,2}[^\\/]*$"
    },
    "DbPaths":{
      "type":"list",
      "member":{"shape":"DbPath"}
    },
    "DeleteEnvironmentRequest":{
      "type":"structure",
      "required":["environmentId"],
      "members":{
        "environmentId":{
          "shape":"IdType",
          "documentation":"<p>The identifier for the FinSpace environment.</p>",
          "location":"uri",
          "locationName":"environmentId"
        }
      }
    },
    "DeleteEnvironmentResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteKxClusterNodeRequest":{
      "type":"structure",
      "required":[
        "clusterName",
        "nodeId",
        "environmentId"
      ],
      "members":{
        "environmentId":{
          "shape":"KxEnvironmentId",
          "documentation":"<p>A unique identifier for the kdb environment.</p>",
          "location":"uri",
          "locationName":"environmentId"
        },
        "clusterName":{
          "shape":"KxClusterName",
          "documentation":"<p>The name of the cluster, for which you want to delete the nodes.</p>",
          "location":"uri",
          "locationName":"clusterName"
        },
        "nodeId":{
          "shape":"KxClusterNodeIdString",
          "documentation":"<p>A unique identifier for the node that you want to delete.</p>",
          "location":"uri",
          "locationName":"nodeId"
        }
      }
    },
    "DeleteKxClusterNodeResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteKxClusterRequest":{
      "type":"structure",
      "required":[
        "environmentId",
        "clusterName"
      ],
      "members":{
        "environmentId":{
          "shape":"KxEnvironmentId",
          "documentation":"<p>A unique identifier for the kdb environment.</p>",
          "location":"uri",
          "locationName":"environmentId"
        },
        "clusterName":{
          "shape":"KxClusterName",
          "documentation":"<p>The name of the cluster that you want to delete.</p>",
          "location":"uri",
          "locationName":"clusterName"
        },
        "clientToken":{
          "shape":"ClientTokenString",
          "documentation":"<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
          "idempotencyToken":true,
          "location":"querystring",
          "locationName":"clientToken"
        }
      }
    },
    "DeleteKxClusterResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteKxDatabaseRequest":{
      "type":"structure",
      "required":[
        "environmentId",
        "databaseName",
        "clientToken"
      ],
      "members":{
        "environmentId":{
          "shape":"EnvironmentId",
          "documentation":"<p>A unique identifier for the kdb environment.</p>",
          "location":"uri",
          "locationName":"environmentId"
        },
        "databaseName":{
          "shape":"DatabaseName",
          "documentation":"<p>The name of the kdb database that you want to delete.</p>",
          "location":"uri",
          "locationName":"databaseName"
        },
        "clientToken":{
          "shape":"ClientTokenString",
          "documentation":"<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
          "idempotencyToken":true,
          "location":"querystring",
          "locationName":"clientToken"
        }
      }
    },
    "DeleteKxDatabaseResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteKxDataviewRequest":{
      "type":"structure",
      "required":[
        "environmentId",
        "databaseName",
        "dataviewName",
        "clientToken"
      ],
      "members":{
        "environmentId":{
          "shape":"EnvironmentId",
          "documentation":"<p>A unique identifier for the kdb environment, from where you want to delete the dataview. </p>",
          "location":"uri",
          "locationName":"environmentId"
        },
        "databaseName":{
          "shape":"DatabaseName",
          "documentation":"<p>The name of the database whose dataview you want to delete.</p>",
          "location":"uri",
          "locationName":"databaseName"
        },
        "dataviewName":{
          "shape":"KxDataviewName",
          "documentation":"<p>The name of the dataview that you want to delete.</p>",
          "location":"uri",
          "locationName":"dataviewName"
        },
        "clientToken":{
          "shape":"ClientTokenString",
          "documentation":"<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
          "idempotencyToken":true,
          "location":"querystring",
          "locationName":"clientToken"
        }
      }
    },
    "DeleteKxDataviewResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteKxEnvironmentRequest":{
      "type":"structure",
      "required":["environmentId"],
      "members":{
        "environmentId":{
          "shape":"IdType",
          "documentation":"<p>A unique identifier for the kdb environment.</p>",
          "location":"uri",
          "locationName":"environmentId"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
          "idempotencyToken":true,
          "location":"querystring",
          "locationName":"clientToken"
        }
      }
    },
    "DeleteKxEnvironmentResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteKxScalingGroupRequest":{
      "type":"structure",
      "required":[
        "environmentId",
        "scalingGroupName"
      ],
      "members":{
        "environmentId":{
          "shape":"KxEnvironmentId",
          "documentation":"<p>A unique identifier for the kdb environment, from where you want to delete the dataview. </p>",
          "location":"uri",
          "locationName":"environmentId"
        },
        "scalingGroupName":{
          "shape":"KxScalingGroupName",
          "documentation":"<p>A unique identifier for the kdb scaling group. </p>",
          "location":"uri",
          "locationName":"scalingGroupName"
        },
        "clientToken":{
          "shape":"ClientTokenString",
          "documentation":"<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
          "idempotencyToken":true,
          "location":"querystring",
          "locationName":"clientToken"
        }
      }
    },
    "DeleteKxScalingGroupResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteKxUserRequest":{
      "type":"structure",
      "required":[
        "userName",
        "environmentId"
      ],
      "members":{
        "userName":{
          "shape":"KxUserNameString",
          "documentation":"<p>A unique identifier for the user that you want to delete.</p>",
          "location":"uri",
          "locationName":"userName"
        },
        "environmentId":{
          "shape":"IdType",
          "documentation":"<p>A unique identifier for the kdb environment.</p>",
          "location":"uri",
          "locationName":"environmentId"
        },
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
          "idempotencyToken":true,
          "location":"querystring",
          "locationName":"clientToken"
        }
      }
    },
    "DeleteKxUserResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteKxVolumeRequest":{
      "type":"structure",
      "required":[
        "environmentId",
        "volumeName"
      ],
      "members":{
        "environmentId":{
          "shape":"KxEnvironmentId",
          "documentation":"<p>A unique identifier for the kdb environment, whose clusters can attach to the volume. </p>",
          "location":"uri",
          "locationName":"environmentId"
        },
        "volumeName":{
          "shape":"KxVolumeName",
          "documentation":"<p> The name of the volume that you want to delete. </p>",
          "location":"uri",
          "locationName":"volumeName"
        },
        "clientToken":{
          "shape":"ClientTokenString",
          "documentation":"<p>A token that ensures idempotency. This token expires in 10 minutes.</p>",
          "idempotencyToken":true,
          "location":"querystring",
          "locationName":"clientToken"
        }
      }
    },
    "DeleteKxVolumeResponse":{
      "type":"structure",
      "members":{}
    },
    "Description":{
      "type":"string",
      "max":1000,
      "min":1,
      "pattern":"^[a-zA-Z0-9. ]{1,1000}$"
    },
    "EmailId":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[A-Z0-9a-z._%+-]+@[A-Za-z0-9.-]+[.]+[A-Za-z]+",
      "sensitive":true
    },
    "Environment":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"EnvironmentName",
          "documentation":"<p>The name of the FinSpace environment.</p>"
        },
        "environmentId":{
          "shape":"IdType",
          "documentation":"<p>The identifier of the FinSpace environment.</p>"
        },
        "awsAccountId":{
          "shape":"IdType",
          "documentation":"<p>The ID of the AWS account in which the FinSpace environment is created.</p>"
        },
        "status":{
          "shape":"EnvironmentStatus",
          "documentation":"<p>The current status of creation of the FinSpace environment.</p>"
        },
        "environmentUrl":{
          "shape":"url",
          "documentation":"<p>The sign-in URL for the web application of your FinSpace environment.</p>"
        },
        "description":{
          "shape":"Description",
          "documentation":"<p>The description of the FinSpace environment.</p>"
        },
        "environmentArn":{
[...]
