{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2015-08-04",
    "endpointPrefix":"firehose",
    "jsonVersion":"1.1",
    "protocol":"json",
    "protocols":["json"],
    "serviceAbbreviation":"Firehose",
    "serviceFullName":"Amazon Kinesis Firehose",
    "serviceId":"Firehose",
    "signatureVersion":"v4",
    "targetPrefix":"Firehose_20150804",
    "uid":"firehose-2015-08-04",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "CreateDeliveryStream":{
      "name":"CreateDeliveryStream",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDeliveryStreamInput"},
      "output":{"shape":"CreateDeliveryStreamOutput"},
      "errors":[
        {"shape":"InvalidArgumentException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidKMSResourceException"}
      ],
      "documentation":"<p>Creates a Firehose stream.</p> <p>By default, you can create up to 5,000 Firehose streams per Amazon Web Services Region.</p> <p>This is an asynchronous operation that immediately returns. The initial status of the Firehose stream is <code>CREATING</code>. After the Firehose stream is created, its status is <code>ACTIVE</code> and it now accepts data. If the Firehose stream creation fails, the status transitions to <code>CREATING_FAILED</code>. Attempts to send data to a delivery stream that is not in the <code>ACTIVE</code> state cause an exception. To check the state of a Firehose stream, use <a>DescribeDeliveryStream</a>.</p> <p>If the status of a Firehose stream is <code>CREATING_FAILED</code>, this status doesn't change, and you can't invoke <code>CreateDeliveryStream</code> again on it. However, you can invoke the <a>DeleteDeliveryStream</a> operation to delete it.</p> <p>A Firehose stream can be configured to receive records directly from providers using <a>PutRecord</a> or <a>PutRecordBatch</a>, or it can be configured to use an existing Kinesis stream as its source. To specify a Kinesis data stream as input, set the <code>DeliveryStreamType</code> parameter to <code>KinesisStreamAsSource</code>, and provide the Kinesis stream Amazon Resource Name (ARN) and role ARN in the <code>KinesisStreamSourceConfiguration</code> parameter.</p> <p>To create a Firehose stream with server-side encryption (SSE) enabled, include <a>DeliveryStreamEncryptionConfigurationInput</a> in your request. This is optional. You can also invoke <a>StartDeliveryStreamEncryption</a> to turn on SSE for an existing Firehose stream that doesn't have SSE enabled.</p> <p>A Firehose stream is configured with a single destination, such as Amazon Simple Storage Service (Amazon S3), Amazon Redshift, Amazon OpenSearch Service, Amazon OpenSearch Serverless, Splunk, and any custom HTTP endpoint or HTTP endpoints owned by or supported by third-party service providers, including Datadog, Dynatrace, LogicMonitor, MongoDB, New Relic, and Sumo Logic. You must specify only one of the following destination configuration parameters: <code>ExtendedS3DestinationConfiguration</code>, <code>S3DestinationConfiguration</code>, <code>ElasticsearchDestinationConfiguration</code>, <code>RedshiftDestinationConfiguration</code>, or <code>SplunkDestinationConfiguration</code>.</p> <p>When you specify <code>S3DestinationConfiguration</code>, you can also provide the following optional values: BufferingHints, <code>EncryptionConfiguration</code>, and <code>CompressionFormat</code>. By default, if no <code>BufferingHints</code> value is provided, Firehose buffers data up to 5 MB or for 5 minutes, whichever condition is satisfied first. <code>BufferingHints</code> is a hint, so there are some cases where the service cannot adhere to these conditions strictly. For example, record boundaries might be such that the size is a little over or under the configured buffering size. By default, no encryption is performed. We strongly recommend that you enable encryption to ensure secure data storage in Amazon S3.</p> <p>A few notes about Amazon Redshift as a destination:</p> <ul> <li> <p>An Amazon Redshift destination requires an S3 bucket as intermediate location. Firehose first delivers data to Amazon S3 and then uses <code>COPY</code> syntax to load data into an Amazon Redshift table. This is specified in the <code>RedshiftDestinationConfiguration.S3Configuration</code> parameter.</p> </li> <li> <p>The compression formats <code>SNAPPY</code> or <code>ZIP</code> cannot be specified in <code>RedshiftDestinationConfiguration.S3Configuration</code> because the Amazon Redshift <code>COPY</code> operation that reads from the S3 bucket doesn't support these compression formats.</p> </li> <li> <p>We strongly recommend that you use the user name and password you provide exclusively with Firehose, and that the permissions for the account are restricted for Amazon Redshift <code>INSERT</code> permissions.</p> </li> </ul> <p>Firehose assumes the IAM role that is configured as part of the destination. The role should allow the Firehose principal to assume the role, and the role should have permissions that allow the service to deliver the data. For more information, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/controlling-access.html#using-iam-s3\">Grant Firehose Access to an Amazon S3 Destination</a> in the <i>Amazon Firehose Developer Guide</i>.</p>"
    },
    "DeleteDeliveryStream":{
      "name":"DeleteDeliveryStream",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDeliveryStreamInput"},
      "output":{"shape":"DeleteDeliveryStreamOutput"},
      "errors":[
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes a Firehose stream and its data.</p> <p>You can delete a Firehose stream only if it is in one of the following states: <code>ACTIVE</code>, <code>DELETING</code>, <code>CREATING_FAILED</code>, or <code>DELETING_FAILED</code>. You can't delete a Firehose stream that is in the <code>CREATING</code> state. To check the state of a Firehose stream, use <a>DescribeDeliveryStream</a>. </p> <p>DeleteDeliveryStream is an asynchronous API. When an API request to DeleteDeliveryStream succeeds, the Firehose stream is marked for deletion, and it goes into the <code>DELETING</code> state.While the Firehose stream is in the <code>DELETING</code> state, the service might continue to accept records, but it doesn't make any guarantees with respect to delivering the data. Therefore, as a best practice, first stop any applications that are sending records before you delete a Firehose stream.</p> <p>Removal of a Firehose stream that is in the <code>DELETING</code> state is a low priority operation for the service. A stream may remain in the <code>DELETING</code> state for several minutes. Therefore, as a best practice, applications should not wait for streams in the <code>DELETING</code> state to be removed. </p>"
    },
    "DescribeDeliveryStream":{
      "name":"DescribeDeliveryStream",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDeliveryStreamInput"},
      "output":{"shape":"DescribeDeliveryStreamOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Describes the specified Firehose stream and its status. For example, after your Firehose stream is created, call <code>DescribeDeliveryStream</code> to see whether the Firehose stream is <code>ACTIVE</code> and therefore ready for data to be sent to it. </p> <p>If the status of a Firehose stream is <code>CREATING_FAILED</code>, this status doesn't change, and you can't invoke <a>CreateDeliveryStream</a> again on it. However, you can invoke the <a>DeleteDeliveryStream</a> operation to delete it. If the status is <code>DELETING_FAILED</code>, you can force deletion by invoking <a>DeleteDeliveryStream</a> again but with <a>DeleteDeliveryStreamInput$AllowForceDelete</a> set to true.</p>"
    },
    "ListDeliveryStreams":{
      "name":"ListDeliveryStreams",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDeliveryStreamsInput"},
      "output":{"shape":"ListDeliveryStreamsOutput"},
      "documentation":"<p>Lists your Firehose streams in alphabetical order of their names.</p> <p>The number of Firehose streams might be too large to return using a single call to <code>ListDeliveryStreams</code>. You can limit the number of Firehose streams returned, using the <code>Limit</code> parameter. To determine whether there are more delivery streams to list, check the value of <code>HasMoreDeliveryStreams</code> in the output. If there are more Firehose streams to list, you can request them by calling this operation again and setting the <code>ExclusiveStartDeliveryStreamName</code> parameter to the name of the last Firehose stream returned in the last call.</p>"
    },
    "ListTagsForDeliveryStream":{
      "name":"ListTagsForDeliveryStream",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForDeliveryStreamInput"},
      "output":{"shape":"ListTagsForDeliveryStreamOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Lists the tags for the specified Firehose stream. This operation has a limit of five transactions per second per account. </p>"
    },
    "PutRecord":{
      "name":"PutRecord",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutRecordInput"},
      "output":{"shape":"PutRecordOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"InvalidKMSResourceException"},
        {"shape":"InvalidSourceException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Writes a single data record into an Firehose stream. To write multiple data records into a Firehose stream, use <a>PutRecordBatch</a>. Applications using these operations are referred to as producers.</p> <p>By default, each Firehose stream can take in up to 2,000 transactions per second, 5,000 records per second, or 5 MB per second. If you use <a>PutRecord</a> and <a>PutRecordBatch</a>, the limits are an aggregate across these two operations for each Firehose stream. For more information about limits and how to request an increase, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/limits.html\">Amazon Firehose Limits</a>. </p> <p>Firehose accumulates and publishes a particular metric for a customer account in one minute intervals. It is possible that the bursts of incoming bytes/records ingested to a Firehose stream last only for a few seconds. Due to this, the actual spikes in the traffic might not be fully visible in the customer's 1 minute CloudWatch metrics.</p> <p>You must specify the name of the Firehose stream and the data record when using <a>PutRecord</a>. The data record consists of a data blob that can be up to 1,000 KiB in size, and any kind of data. For example, it can be a segment from a log file, geographic location data, website clickstream data, and so on.</p> <p>For multi record de-aggregation, you can not put more than 500 records even if the data blob length is less than 1000 KiB. If you include more than 500 records, the request succeeds but the record de-aggregation doesn't work as expected and transformation lambda is invoked with the complete base64 encoded data blob instead of de-aggregated base64 decoded records.</p> <p>Firehose buffers records before delivering them to the destination. To disambiguate the data blobs at the destination, a common solution is to use delimiters in the data, such as a newline (<code>\\n</code>) or some other character unique within the data. This allows the consumer application to parse individual data items when reading the data from the destination.</p> <p>The <code>PutRecord</code> operation returns a <code>RecordId</code>, which is a unique string assigned to each record. Producer applications can use this ID for purposes such as auditability and investigation.</p> <p>If the <code>PutRecord</code> operation throws a <code>ServiceUnavailableException</code>, the API is automatically reinvoked (retried) 3 times. If the exception persists, it is possible that the throughput limits have been exceeded for the Firehose stream. </p> <p>Re-invoking the Put API operations (for example, PutRecord and PutRecordBatch) can result in data duplicates. For larger data assets, allow for a longer time out before retrying Put API operations.</p> <p>Data records sent to Firehose are stored for 24 hours from the time they are added to a Firehose stream as it tries to send the records to the destination. If the destination is unreachable for more than 24 hours, the data is no longer available.</p> <important> <p>Don't concatenate two or more base64 strings to form the data fields of your records. Instead, concatenate the raw data, then perform base64 encoding.</p> </important>"
    },
    "PutRecordBatch":{
      "name":"PutRecordBatch",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutRecordBatchInput"},
      "output":{"shape":"PutRecordBatchOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"InvalidKMSResourceException"},
        {"shape":"InvalidSourceException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Writes multiple data records into a Firehose stream in a single call, which can achieve higher throughput per producer than when writing single records. To write single data records into a Firehose stream, use <a>PutRecord</a>. Applications using these operations are referred to as producers.</p> <p>Firehose accumulates and publishes a particular metric for a customer account in one minute intervals. It is possible that the bursts of incoming bytes/records ingested to a Firehose stream last only for a few seconds. Due to this, the actual spikes in the traffic might not be fully visible in the customer's 1 minute CloudWatch metrics.</p> <p>For information about service quota, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/limits.html\">Amazon Firehose Quota</a>.</p> <p>Each <a>PutRecordBatch</a> request supports up to 500 records. Each record in the request can be as large as 1,000 KB (before base64 encoding), up to a limit of 4 MB for the entire request. These limits cannot be changed.</p> <p>You must specify the name of the Firehose stream and the data record when using <a>PutRecord</a>. The data record consists of a data blob that can be up to 1,000 KB in size, and any kind of data. For example, it could be a segment from a log file, geographic location data, website clickstream data, and so on.</p> <p>For multi record de-aggregation, you can not put more than 500 records even if the data blob length is less than 1000 KiB. If you include more than 500 records, the request succeeds but the record de-aggregation doesn't work as expected and transformation lambda is invoked with the complete base64 encoded data blob instead of de-aggregated base64 decoded records.</p> <p>Firehose buffers records before delivering them to the destination. To disambiguate the data blobs at the destination, a common solution is to use delimiters in the data, such as a newline (<code>\\n</code>) or some other character unique within the data. This allows the consumer application to parse individual data items when reading the data from the destination.</p> <p>The <a>PutRecordBatch</a> response includes a count of failed records, <code>FailedPutCount</code>, and an array of responses, <code>RequestResponses</code>. Even if the <a>PutRecordBatch</a> call succeeds, the value of <code>FailedPutCount</code> may be greater than 0, indicating that there are records for which the operation didn't succeed. Each entry in the <code>RequestResponses</code> array provides additional information about the processed record. It directly correlates with a record in the request array using the same ordering, from the top to the bottom. The response array always includes the same number of records as the request array. <code>RequestResponses</code> includes both successfully and unsuccessfully processed records. Firehose tries to process all records in each <a>PutRecordBatch</a> request. A single record failure does not stop the processing of subsequent records. </p> <p>A successfully processed record includes a <code>RecordId</code> value, which is unique for the record. An unsuccessfully processed record includes <code>ErrorCode</code> and <code>ErrorMessage</code> values. <code>ErrorCode</code> reflects the type of error, and is one of the following values: <code>ServiceUnavailableException</code> or <code>InternalFailure</code>. <code>ErrorMessage</code> provides more detailed information about the error.</p> <p>If there is an internal server error or a timeout, the write might have completed or it might have failed. If <code>FailedPutCount</code> is greater than 0, retry the request, resending only those records that might have failed processing. This minimizes the possible duplicate records and also reduces the total bytes sent (and corresponding charges). We recommend that you handle any duplicates at the destination.</p> <p>If <a>PutRecordBatch</a> throws <code>ServiceUnavailableException</code>, the API is automatically reinvoked (retried) 3 times. If the exception persists, it is possible that the throughput limits have been exceeded for the Firehose stream.</p> <p>Re-invoking the Put API operations (for example, PutRecord and PutRecordBatch) can result in data duplicates. For larger data assets, allow for a longer time out before retrying Put API operations.</p> <p>Data records sent to Firehose are stored for 24 hours from the time they are added to a Firehose stream as it attempts to send the records to the destination. If the destination is unreachable for more than 24 hours, the data is no longer available.</p> <important> <p>Don't concatenate two or more base64 strings to form the data fields of your records. Instead, concatenate the raw data, then perform base64 encoding.</p> </important>"
    },
    "StartDeliveryStreamEncryption":{
      "name":"StartDeliveryStreamEncryption",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartDeliveryStreamEncryptionInput"},
      "output":{"shape":"StartDeliveryStreamEncryptionOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidKMSResourceException"}
      ],
      "documentation":"<p>Enables server-side encryption (SSE) for the Firehose stream. </p> <p>This operation is asynchronous. It returns immediately. When you invoke it, Firehose first sets the encryption status of the stream to <code>ENABLING</code>, and then to <code>ENABLED</code>. The encryption status of a Firehose stream is the <code>Status</code> property in <a>DeliveryStreamEncryptionConfiguration</a>. If the operation fails, the encryption status changes to <code>ENABLING_FAILED</code>. You can continue to read and write data to your Firehose stream while the encryption status is <code>ENABLING</code>, but the data is not encrypted. It can take up to 5 seconds after the encryption status changes to <code>ENABLED</code> before all records written to the Firehose stream are encrypted. To find out whether a record or a batch of records was encrypted, check the response elements <a>PutRecordOutput$Encrypted</a> and <a>PutRecordBatchOutput$Encrypted</a>, respectively.</p> <p>To check the encryption status of a Firehose stream, use <a>DescribeDeliveryStream</a>.</p> <p>Even if encryption is currently enabled for a Firehose stream, you can still invoke this operation on it to change the ARN of the CMK or both its type and ARN. If you invoke this method to change the CMK, and the old CMK is of type <code>CUSTOMER_MANAGED_CMK</code>, Firehose schedules the grant it had on the old CMK for retirement. If the new CMK is of type <code>CUSTOMER_MANAGED_CMK</code>, Firehose creates a grant that enables it to use the new CMK to encrypt and decrypt data and to manage the grant.</p> <p>For the KMS grant creation to be successful, the Firehose API operations <code>StartDeliveryStreamEncryption</code> and <code>CreateDeliveryStream</code> should not be called with session credentials that are more than 6 hours old.</p> <p>If a Firehose stream already has encryption enabled and then you invoke this operation to change the ARN of the CMK or both its type and ARN and you get <code>ENABLING_FAILED</code>, this only means that the attempt to change the CMK failed. In this case, encryption remains enabled with the old CMK.</p> <p>If the encryption status of your Firehose stream is <code>ENABLING_FAILED</code>, you can invoke this operation again with a valid CMK. The CMK must be enabled and the key policy mustn't explicitly deny the permission for Firehose to invoke KMS encrypt and decrypt operations.</p> <p>You can enable SSE for a Firehose stream only if it's a Firehose stream that uses <code>DirectPut</code> as its source. </p> <p>The <code>StartDeliveryStreamEncryption</code> and <code>StopDeliveryStreamEncryption</code> operations have a combined limit of 25 calls per Firehose stream per 24 hours. For example, you reach the limit if you call <code>StartDeliveryStreamEncryption</code> 13 times and <code>StopDeliveryStreamEncryption</code> 12 times for the same Firehose stream in a 24-hour period.</p>"
    },
    "StopDeliveryStreamEncryption":{
      "name":"StopDeliveryStreamEncryption",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopDeliveryStreamEncryptionInput"},
      "output":{"shape":"StopDeliveryStreamEncryptionOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Disables server-side encryption (SSE) for the Firehose stream. </p> <p>This operation is asynchronous. It returns immediately. When you invoke it, Firehose first sets the encryption status of the stream to <code>DISABLING</code>, and then to <code>DISABLED</code>. You can continue to read and write data to your stream while its status is <code>DISABLING</code>. It can take up to 5 seconds after the encryption status changes to <code>DISABLED</code> before all records written to the Firehose stream are no longer subject to encryption. To find out whether a record or a batch of records was encrypted, check the response elements <a>PutRecordOutput$Encrypted</a> and <a>PutRecordBatchOutput$Encrypted</a>, respectively.</p> <p>To check the encryption state of a Firehose stream, use <a>DescribeDeliveryStream</a>. </p> <p>If SSE is enabled using a customer managed CMK and then you invoke <code>StopDeliveryStreamEncryption</code>, Firehose schedules the related KMS grant for retirement and then retires it after it ensures that it is finished delivering records to the destination.</p> <p>The <code>StartDeliveryStreamEncryption</code> and <code>StopDeliveryStreamEncryption</code> operations have a combined limit of 25 calls per Firehose stream per 24 hours. For example, you reach the limit if you call <code>StartDeliveryStreamEncryption</code> 13 times and <code>StopDeliveryStreamEncryption</code> 12 times for the same Firehose stream in a 24-hour period.</p>"
    },
    "TagDeliveryStream":{
      "name":"TagDeliveryStream",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagDeliveryStreamInput"},
      "output":{"shape":"TagDeliveryStreamOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Adds or updates tags for the specified Firehose stream. A tag is a key-value pair that you can define and assign to Amazon Web Services resources. If you specify a tag that already exists, the tag value is replaced with the value that you specify in the request. Tags are metadata. For example, you can add friendly names and descriptions or other types of information that can help you distinguish the Firehose stream. For more information about tags, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Using Cost Allocation Tags</a> in the <i>Amazon Web Services Billing and Cost Management User Guide</i>. </p> <p>Each Firehose stream can have up to 50 tags. </p> <p>This operation has a limit of five transactions per second per account. </p>"
    },
    "UntagDeliveryStream":{
      "name":"UntagDeliveryStream",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagDeliveryStreamInput"},
      "output":{"shape":"UntagDeliveryStreamOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidArgumentException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Removes tags from the specified Firehose stream. Removed tags are deleted, and you can't recover them after this operation successfully completes.</p> <p>If you specify a tag that doesn't exist, the operation ignores it.</p> <p>This operation has a limit of five transactions per second per account. </p>"
    },
    "UpdateDestination":{
      "name":"UpdateDestination",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDestinationInput"},
      "output":{"shape":"UpdateDestinationOutput"},
      "errors":[
        {"shape":"InvalidArgumentException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Updates the specified destination of the specified Firehose stream.</p> <p>Use this operation to change the destination type (for example, to replace the Amazon S3 destination with Amazon Redshift) or change the parameters associated with a destination (for example, to change the bucket name of the Amazon S3 destination). The update might not occur immediately. The target Firehose stream remains active while the configurations are updated, so data writes to the Firehose stream can continue during this process. The updated configurations are usually effective within a few minutes.</p> <p>Switching between Amazon OpenSearch Service and other services is not supported. For an Amazon OpenSearch Service destination, you can only update to another Amazon OpenSearch Service destination.</p> <p>If the destination type is the same, Firehose merges the configuration parameters specified with the destination configuration that already exists on the delivery stream. If any of the parameters are not specified in the call, the existing values are retained. For example, in the Amazon S3 destination, if <a>EncryptionConfiguration</a> is not specified, then the existing <code>EncryptionConfiguration</code> is maintained on the destination.</p> <p>If the destination type is not the same, for example, changing the destination from Amazon S3 to Amazon Redshift, Firehose does not merge any parameters. In this case, all parameters must be specified.</p> <p>Firehose uses <code>CurrentDeliveryStreamVersionId</code> to avoid race conditions and conflicting merges. This is a required field, and the service updates the configuration only if the existing configuration has a version ID that matches. After the update is applied successfully, the version ID is updated, and can be retrieved using <a>DescribeDeliveryStream</a>. Use the new version ID to set <code>CurrentDeliveryStreamVersionId</code> in the next call.</p>"
    }
  },
  "shapes":{
    "AWSKMSKeyARN":{
      "type":"string",
      "max":512,
      "min":1,
      "pattern":"arn:.*:kms:[a-zA-Z0-9\\-]+:\\d{12}:(key|alias)/[a-zA-Z_0-9+=,.@\\-_/]+"
    },
    "AmazonOpenSearchServerlessBufferingHints":{
      "type":"structure",
      "members":{
        "IntervalInSeconds":{
          "shape":"AmazonOpenSearchServerlessBufferingIntervalInSeconds",
          "documentation":"<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300 (5 minutes).</p>"
        },
        "SizeInMBs":{
          "shape":"AmazonOpenSearchServerlessBufferingSizeInMBs",
          "documentation":"<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5. </p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the Firehose stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>"
        }
      },
      "documentation":"<p>Describes the buffering to perform before delivering data to the Serverless offering for Amazon OpenSearch Service destination.</p>"
    },
    "AmazonOpenSearchServerlessBufferingIntervalInSeconds":{
      "type":"integer",
      "max":900,
      "min":0
    },
    "AmazonOpenSearchServerlessBufferingSizeInMBs":{
      "type":"integer",
      "max":100,
      "min":1
    },
    "AmazonOpenSearchServerlessCollectionEndpoint":{
      "type":"string",
      "max":512,
      "min":1,
      "pattern":"https:.*"
    },
    "AmazonOpenSearchServerlessDestinationConfiguration":{
      "type":"structure",
      "required":[
        "RoleARN",
        "IndexName",
        "S3Configuration"
      ],
      "members":{
        "RoleARN":{
          "shape":"RoleARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role to be assumed by Firehose for calling the Serverless offering for Amazon OpenSearch Service Configuration API and for indexing documents.</p>"
        },
        "CollectionEndpoint":{
          "shape":"AmazonOpenSearchServerlessCollectionEndpoint",
          "documentation":"<p>The endpoint to use when communicating with the collection in the Serverless offering for Amazon OpenSearch Service.</p>"
        },
        "IndexName":{
          "shape":"AmazonOpenSearchServerlessIndexName",
          "documentation":"<p>The Serverless offering for Amazon OpenSearch Service index name.</p>"
        },
        "BufferingHints":{
          "shape":"AmazonOpenSearchServerlessBufferingHints",
          "documentation":"<p>The buffering options. If no value is specified, the default values for AmazonopensearchserviceBufferingHints are used.</p>"
        },
        "RetryOptions":{
          "shape":"AmazonOpenSearchServerlessRetryOptions",
          "documentation":"<p>The retry behavior in case Firehose is unable to deliver documents to the Serverless offering for Amazon OpenSearch Service. The default value is 300 (5 minutes).</p>"
        },
        "S3BackupMode":{
          "shape":"AmazonOpenSearchServerlessS3BackupMode",
          "documentation":"<p>Defines how documents should be delivered to Amazon S3. When it is set to FailedDocumentsOnly, Firehose writes any documents that could not be indexed to the configured Amazon S3 destination, with AmazonOpenSearchService-failed/ appended to the key prefix. When set to AllDocuments, Firehose delivers all incoming records to Amazon S3, and also writes failed documents with AmazonOpenSearchService-failed/ appended to the prefix.</p>"
        },
        "S3Configuration":{"shape":"S3DestinationConfiguration"},
        "ProcessingConfiguration":{"shape":"ProcessingConfiguration"},
        "CloudWatchLoggingOptions":{"shape":"CloudWatchLoggingOptions"},
        "VpcConfiguration":{"shape":"VpcConfiguration"}
      },
      "documentation":"<p>Describes the configuration of a destination in the Serverless offering for Amazon OpenSearch Service.</p>"
    },
    "AmazonOpenSearchServerlessDestinationDescription":{
      "type":"structure",
      "members":{
        "RoleARN":{
          "shape":"RoleARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon Web Services credentials.</p>"
        },
        "CollectionEndpoint":{
          "shape":"AmazonOpenSearchServerlessCollectionEndpoint",
          "documentation":"<p>The endpoint to use when communicating with the collection in the Serverless offering for Amazon OpenSearch Service.</p>"
        },
        "IndexName":{
          "shape":"AmazonOpenSearchServerlessIndexName",
          "documentation":"<p>The Serverless offering for Amazon OpenSearch Service index name.</p>"
        },
        "BufferingHints":{
          "shape":"AmazonOpenSearchServerlessBufferingHints",
          "documentation":"<p>The buffering options.</p>"
        },
        "RetryOptions":{
          "shape":"AmazonOpenSearchServerlessRetryOptions",
          "documentation":"<p>The Serverless offering for Amazon OpenSearch Service retry options.</p>"
        },
        "S3BackupMode":{
          "shape":"AmazonOpenSearchServerlessS3BackupMode",
          "documentation":"<p>The Amazon S3 backup mode.</p>"
        },
        "S3DestinationDescription":{"shape":"S3DestinationDescription"},
        "ProcessingConfiguration":{"shape":"ProcessingConfiguration"},
        "CloudWatchLoggingOptions":{"shape":"CloudWatchLoggingOptions"},
        "VpcConfigurationDescription":{"shape":"VpcConfigurationDescription"}
      },
      "documentation":"<p>The destination description in the Serverless offering for Amazon OpenSearch Service.</p>"
    },
    "AmazonOpenSearchServerlessDestinationUpdate":{
      "type":"structure",
      "members":{
        "RoleARN":{
          "shape":"RoleARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role to be assumed by Firehose for calling the Serverless offering for Amazon OpenSearch Service Configuration API and for indexing documents.</p>"
        },
        "CollectionEndpoint":{
          "shape":"AmazonOpenSearchServerlessCollectionEndpoint",
          "documentation":"<p>The endpoint to use when communicating with the collection in the Serverless offering for Amazon OpenSearch Service.</p>"
        },
        "IndexName":{
          "shape":"AmazonOpenSearchServerlessIndexName",
          "documentation":"<p>The Serverless offering for Amazon OpenSearch Service index name.</p>"
        },
        "BufferingHints":{
          "shape":"AmazonOpenSearchServerlessBufferingHints",
          "documentation":"<p>The buffering options. If no value is specified, AmazonopensearchBufferingHints object default values are used.</p>"
        },
        "RetryOptions":{
          "shape":"AmazonOpenSearchServerlessRetryOptions",
          "documentation":"<p>The retry behavior in case Firehose is unable to deliver documents to the Serverless offering for Amazon OpenSearch Service. The default value is 300 (5 minutes).</p>"
        },
        "S3Update":{"shape":"S3DestinationUpdate"},
        "ProcessingConfiguration":{"shape":"ProcessingConfiguration"},
        "CloudWatchLoggingOptions":{"shape":"CloudWatchLoggingOptions"}
      },
      "documentation":"<p>Describes an update for a destination in the Serverless offering for Amazon OpenSearch Service.</p>"
    },
    "AmazonOpenSearchServerlessIndexName":{
      "type":"string",
      "max":80,
      "min":1,
      "pattern":".*"
    },
    "AmazonOpenSearchServerlessRetryDurationInSeconds":{
      "type":"integer",
      "max":7200,
      "min":0
    },
    "AmazonOpenSearchServerlessRetryOptions":{
      "type":"structure",
      "members":{
        "DurationInSeconds":{
          "shape":"AmazonOpenSearchServerlessRetryDurationInSeconds",
          "documentation":"<p>After an initial failure to deliver to the Serverless offering for Amazon OpenSearch Service, the total amount of time during which Firehose retries delivery (including the first attempt). After this time has elapsed, the failed documents are written to Amazon S3. Default value is 300 seconds (5 minutes). A value of 0 (zero) results in no retries.</p>"
        }
      },
      "documentation":"<p>Configures retry behavior in case Firehose is unable to deliver documents to the Serverless offering for Amazon OpenSearch Service.</p>"
    },
    "AmazonOpenSearchServerlessS3BackupMode":{
      "type":"string",
      "enum":[
        "FailedDocumentsOnly",
        "AllDocuments"
      ]
    },
    "AmazonopensearchserviceBufferingHints":{
      "type":"structure",
      "members":{
        "IntervalInSeconds":{
          "shape":"AmazonopensearchserviceBufferingIntervalInSeconds",
          "documentation":"<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300 (5 minutes). </p>"
        },
        "SizeInMBs":{
          "shape":"AmazonopensearchserviceBufferingSizeInMBs",
          "documentation":"<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the Firehose stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher. </p>"
        }
      },
      "documentation":"<p>Describes the buffering to perform before delivering data to the Amazon OpenSearch Service destination. </p>"
    },
    "AmazonopensearchserviceBufferingIntervalInSeconds":{
      "type":"integer",
      "max":900,
      "min":0
    },
    "AmazonopensearchserviceBufferingSizeInMBs":{
      "type":"integer",
      "max":100,
      "min":1
    },
    "AmazonopensearchserviceClusterEndpoint":{
      "type":"string",
      "max":512,
      "min":1,
      "pattern":"https:.*"
    },
    "AmazonopensearchserviceDestinationConfiguration":{
      "type":"structure",
      "required":[
        "RoleARN",
        "IndexName",
        "S3Configuration"
      ],
      "members":{
        "RoleARN":{
          "shape":"RoleARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role to be assumed by Firehose for calling the Amazon OpenSearch Service Configuration API and for indexing documents.</p>"
        },
        "DomainARN":{
          "shape":"AmazonopensearchserviceDomainARN",
          "documentation":"<p>The ARN of the Amazon OpenSearch Service domain. The IAM role must have permissions for DescribeElasticsearchDomain, DescribeElasticsearchDomains, and DescribeElasticsearchDomainConfig after assuming the role specified in RoleARN. </p>"
        },
        "ClusterEndpoint":{
          "shape":"AmazonopensearchserviceClusterEndpoint",
          "documentation":"<p>The endpoint to use when communicating with the cluster. Specify either this ClusterEndpoint or the DomainARN field. </p>"
        },
        "IndexName":{
          "shape":"AmazonopensearchserviceIndexName",
          "documentation":"<p>The ElasticsearAmazon OpenSearch Service index name.</p>"
        },
        "TypeName":{
          "shape":"AmazonopensearchserviceTypeName",
          "documentation":"<p>The Amazon OpenSearch Service type name. For Elasticsearch 6.x, there can be only one type per index. If you try to specify a new type for an existing index that already has another type, Firehose returns an error during run time. </p>"
        },
        "IndexRotationPeriod":{
          "shape":"AmazonopensearchserviceIndexRotationPeriod",
          "documentation":"<p>The Amazon OpenSearch Service index rotation period. Index rotation appends a timestamp to the IndexName to facilitate the expiration of old data.</p>"
        },
        "BufferingHints":{
          "shape":"AmazonopensearchserviceBufferingHints",
          "documentation":"<p>The buffering options. If no value is specified, the default values for AmazonopensearchserviceBufferingHints are used. </p>"
        },
        "RetryOptions":{
          "shape":"AmazonopensearchserviceRetryOptions",
          "documentation":"<p>The retry behavior in case Firehose is unable to deliver documents to Amazon OpenSearch Service. The default value is 300 (5 minutes). </p>"
        },
        "S3BackupMode":{
          "shape":"AmazonopensearchserviceS3BackupMode",
          "documentation":"<p>Defines how documents should be delivered to Amazon S3. When it is set to FailedDocumentsOnly, Firehose writes any documents that could not be indexed to the configured Amazon S3 destination, with AmazonOpenSearchService-failed/ appended to the key prefix. When set to AllDocuments, Firehose delivers all incoming records to Amazon S3, and also writes failed documents with AmazonOpenSearchService-failed/ appended to the prefix. </p>"
        },
        "S3Configuration":{"shape":"S3DestinationConfiguration"},
        "ProcessingConfiguration":{"shape":"ProcessingConfiguration"},
        "CloudWatchLoggingOptions":{"shape":"CloudWatchLoggingOptions"},
        "VpcConfiguration":{"shape":"VpcConfiguration"},
        "DocumentIdOptions":{
          "shape":"DocumentIdOptions",
          "documentation":"<p>Indicates the method for setting up document ID. The supported methods are Firehose generated document ID and OpenSearch Service generated document ID.</p>"
        }
      },
      "documentation":"<p>Describes the configuration of a destination in Amazon OpenSearch Service</p>"
    },
    "AmazonopensearchserviceDestinationDescription":{
      "type":"structure",
      "members":{
        "RoleARN":{
          "shape":"RoleARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon Web Services credentials. </p>"
        },
        "DomainARN":{
          "shape":"AmazonopensearchserviceDomainARN",
          "documentation":"<p>The ARN of the Amazon OpenSearch Service domain.</p>"
        },
        "ClusterEndpoint":{
          "shape":"AmazonopensearchserviceClusterEndpoint",
          "documentation":"<p>The endpoint to use when communicating with the cluster. Firehose uses either this ClusterEndpoint or the DomainARN field to send data to Amazon OpenSearch Service. </p>"
        },
        "IndexName":{
          "shape":"AmazonopensearchserviceIndexName",
          "documentation":"<p>The Amazon OpenSearch Service index name.</p>"
        },
        "TypeName":{
          "shape":"AmazonopensearchserviceTypeName",
          "documentation":"<p>The Amazon OpenSearch Service type name. This applies to Elasticsearch 6.x and lower versions. For Elasticsearch 7.x and OpenSearch Service 1.x, there's no value for TypeName. </p>"
        },
        "IndexRotationPeriod":{
          "shape":"AmazonopensearchserviceIndexRotationPeriod",
          "documentation":"<p>The Amazon OpenSearch Service index rotation period</p>"
        },
        "BufferingHints":{
          "shape":"AmazonopensearchserviceBufferingHints",
          "documentation":"<p>The buffering options.</p>"
        },
        "RetryOptions":{
          "shape":"AmazonopensearchserviceRetryOptions",
          "documentation":"<p>The Amazon OpenSearch Service retry options.</p>"
        },
        "S3BackupMode":{
          "shape":"AmazonopensearchserviceS3BackupMode",
          "documentation":"<p>The Amazon S3 backup mode.</p>"
        },
        "S3DestinationDescription":{"shape":"S3DestinationDescription"},
        "ProcessingConfiguration":{"shape":"ProcessingConfiguration"},
        "CloudWatchLoggingOptions":{"shape":"CloudWatchLoggingOptions"},
        "VpcConfigurationDescription":{"shape":"VpcConfigurationDescription"},
        "DocumentIdOptions":{
          "shape":"DocumentIdOptions",
          "documentation":"<p>Indicates the method for setting up document ID. The supported methods are Firehose generated document ID and OpenSearch Service generated document ID.</p>"
        }
      },
      "documentation":"<p>The destination description in Amazon OpenSearch Service.</p>"
    },
    "AmazonopensearchserviceDestinationUpdate":{
      "type":"structure",
      "members":{
        "RoleARN":{
          "shape":"RoleARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role to be assumed by Firehose for calling the Amazon OpenSearch Service Configuration API and for indexing documents. </p>"
        },
        "DomainARN":{
          "shape":"AmazonopensearchserviceDomainARN",
          "documentation":"<p>The ARN of the Amazon OpenSearch Service domain. The IAM role must have permissions for DescribeDomain, DescribeDomains, and DescribeDomainConfig after assuming the IAM role specified in RoleARN.</p>"
        },
        "ClusterEndpoint":{
          "shape":"AmazonopensearchserviceClusterEndpoint",
          "documentation":"<p>The endpoint to use when communicating with the cluster. Specify either this ClusterEndpoint or the DomainARN field. </p>"
        },
        "IndexName":{
          "shape":"AmazonopensearchserviceIndexName",
          "documentation":"<p>The Amazon OpenSearch Service index name.</p>"
        },
        "TypeName":{
          "shape":"AmazonopensearchserviceTypeName",
          "documentation":"<p>The Amazon OpenSearch Service type name. For Elasticsearch 6.x, there can be only one type per index. If you try to specify a new type for an existing index that already has another type, Firehose returns an error during runtime. </p> <p>If you upgrade Elasticsearch from 6.x to 7.x and don’t update your Firehose stream, Firehose still delivers data to Elasticsearch with the old index name and type name. If you want to update your Firehose stream with a new index name, provide an empty string for TypeName. </p>"
        },
        "IndexRotationPeriod":{
          "shape":"AmazonopensearchserviceIndexRotationPeriod",
          "documentation":"<p>The Amazon OpenSearch Service index rotation period. Index rotation appends a timestamp to IndexName to facilitate the expiration of old data.</p>"
        },
        "BufferingHints":{
          "shape":"AmazonopensearchserviceBufferingHints",
          "documentation":"<p>The buffering options. If no value is specified, AmazonopensearchBufferingHints object default values are used. </p>"
        },
        "RetryOptions":{
          "shape":"AmazonopensearchserviceRetryOptions",
          "documentation":"<p>The retry behavior in case Firehose is unable to deliver documents to Amazon OpenSearch Service. The default value is 300 (5 minutes). </p>"
        },
        "S3Update":{"shape":"S3DestinationUpdate"},
        "ProcessingConfiguration":{"shape":"ProcessingConfiguration"},
        "CloudWatchLoggingOptions":{"shape":"CloudWatchLoggingOptions"},
        "DocumentIdOptions":{
          "shape":"DocumentIdOptions",
          "documentation":"<p>Indicates the method for setting up document ID. The supported methods are Firehose generated document ID and OpenSearch Service generated document ID.</p>"
        }
      },
      "documentation":"<p>Describes an update for a destination in Amazon OpenSearch Service.</p>"
    },
    "AmazonopensearchserviceDomainARN":{
      "type":"string",
      "max":512,
      "min":1,
      "pattern":"arn:.*:es:[a-zA-Z0-9\\-]+:\\d{12}:domain/[a-z][-0-9a-z]{2,27}"
    },
    "AmazonopensearchserviceIndexName":{
      "type":"string",
      "max":80,
      "min":1,
      "pattern":".*"
    },
    "AmazonopensearchserviceIndexRotationPeriod":{
      "type":"string",
      "enum":[
        "NoRotation",
        "OneHour",
        "OneDay",
        "OneWeek",
        "OneMonth"
      ]
    },
    "AmazonopensearchserviceRetryDurationInSeconds":{
      "type":"integer",
      "max":7200,
      "min":0
    },
    "AmazonopensearchserviceRetryOptions":{
      "type":"structure",
      "members":{
        "DurationInSeconds":{
          "shape":"AmazonopensearchserviceRetryDurationInSeconds",
          "documentation":"<p>After an initial failure to deliver to Amazon OpenSearch Service, the total amount of time during which Firehose retries delivery (including the first attempt). After this time has elapsed, the failed documents are written to Amazon S3. Default value is 300 seconds (5 minutes). A value of 0 (zero) results in no retries. </p>"
        }
      },
      "documentation":"<p>Configures retry behavior in case Firehose is unable to deliver documents to Amazon OpenSearch Service. </p>"
    },
    "AmazonopensearchserviceS3BackupMode":{
      "type":"string",
      "enum":[
        "FailedDocumentsOnly",
        "AllDocuments"
      ]
    },
    "AmazonopensearchserviceTypeName":{
      "type":"string",
      "max":100,
      "min":0,
      "pattern":".*"
    },
    "AuthenticationConfiguration":{
      "type":"structure",
      "required":[
        "RoleARN",
        "Connectivity"
      ],
      "members":{
        "RoleARN":{
          "shape":"RoleARN",
          "documentation":"<p>The ARN of the role used to access the Amazon MSK cluster.</p>"
        },
        "Connectivity":{
          "shape":"Connectivity",
          "documentation":"<p>The type of connectivity used to access the Amazon MSK cluster.</p>"
        }
      },
      "documentation":"<p>The authentication configuration of the Amazon MSK cluster.</p>"
    },
    "BlockSizeBytes":{
      "type":"integer",
      "min":67108864
    },
    "BooleanObject":{"type":"boolean"},
    "BucketARN":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"arn:.*:s3:::[\\w\\.\\-]{1,255}"
    },
    "BufferingHints":{
      "type":"structure",
      "members":{
        "SizeInMBs":{
          "shape":"SizeInMBs",
          "documentation":"<p>Buffer incoming data to the specified size, in MiBs, before delivering it to the destination. The default value is 5. This parameter is optional but if you specify a value for it, you must also specify a value for <code>IntervalInSeconds</code>, and vice versa.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the Firehose stream in 10 seconds. For example, if you typically ingest data at 1 MiB/sec, the value should be 10 MiB or higher.</p>"
        },
        "IntervalInSeconds":{
          "shape":"IntervalInSeconds",
          "documentation":"<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300. This parameter is optional but if you specify a value for it, you must also specify a value for <code>SizeInMBs</code>, and vice versa.</p>"
        }
      },
      "documentation":"<p>Describes hints for the buffering to perform before delivering data to the destination. These options are treated as hints, and therefore Firehose might choose to use different values when it is optimal. The <code>SizeInMBs</code> and <code>IntervalInSeconds</code> parameters are optional. However, if specify a value for one of them, you must also provide a value for the other.</p>"
    },
    "CatalogConfiguration":{
      "type":"structure",
      "members":{
        "CatalogARN":{
          "shape":"GlueDataCatalogARN",
          "documentation":"<p> Specifies the Glue catalog ARN identifier of the destination Apache Iceberg Tables. You must specify the ARN in the format <code>arn:aws:glue:region:account-id:catalog</code>. </p>"
        },
        "WarehouseLocation":{
          "shape":"WarehouseLocation",
          "documentation":"<p>The warehouse location for Apache Iceberg tables. You must configure this when schema evolution and table creation is enabled.</p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        }
      },
      "documentation":"<p> Describes the containers where the destination Apache Iceberg Tables are persisted. </p>"
    },
    "CloudWatchLoggingOptions":{
      "type":"structure",
      "members":{
        "Enabled":{
          "shape":"BooleanObject",
          "documentation":"<p>Enables or disables CloudWatch logging.</p>"
        },
        "LogGroupName":{
          "shape":"LogGroupName",
          "documentation":"<p>The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.</p>"
        },
        "LogStreamName":{
          "shape":"LogStreamName",
          "documentation":"<p>The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.</p>"
        }
      },
      "documentation":"<p>Describes the Amazon CloudWatch logging options for your Firehose stream.</p>"
    },
    "ClusterJDBCURL":{
      "type":"string",
      "max":512,
      "min":1,
      "pattern":"jdbc:(redshift|postgresql)://((?!-)[A-Za-z0-9-]{1,63}(?<!-)\\.)+(redshift(-serverless)?)\\.([a-zA-Z0-9\\.\\-]+):\\d{1,5}/[a-zA-Z0-9_$-]+"
    },
    "ColumnToJsonKeyMappings":{
      "type":"map",
      "key":{"shape":"NonEmptyStringWithoutWhitespace"},
      "value":{"shape":"NonEmptyString"}
    },
    "CompressionFormat":{
      "type":"string",
      "enum":[
        "UNCOMPRESSED",
        "GZIP",
        "ZIP",
        "Snappy",
        "HADOOP_SNAPPY"
      ]
    },
    "ConcurrentModificationException":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"ErrorMessage",
          "documentation":"<p>A message that provides information about the error.</p>"
        }
      },
      "documentation":"<p>Another modification has already happened. Fetch <code>VersionId</code> again and use it to update the destination.</p>",
      "exception":true
    },
    "Connectivity":{
      "type":"string",
      "enum":[
        "PUBLIC",
        "PRIVATE"
      ]
    },
    "ContentEncoding":{
      "type":"string",
      "enum":[
        "NONE",
        "GZIP"
      ]
    },
    "CopyCommand":{
      "type":"structure",
      "required":["DataTableName"],
      "members":{
        "DataTableName":{
          "shape":"DataTableName",
          "documentation":"<p>The name of the target table. The table must already exist in the database.</p>"
        },
        "DataTableColumns":{
          "shape":"DataTableColumns",
          "documentation":"<p>A comma-separated list of column names.</p>"
        },
        "CopyOptions":{
          "shape":"CopyOptions",
          "documentation":"<p>Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"https://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Firehose are as follows:</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|'</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"https://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.</p>"
        }
      },
      "documentation":"<p>Describes a <code>COPY</code> command for Amazon Redshift.</p>"
    },
    "CopyOptions":{
      "type":"string",
      "max":10240,
      "min":0,
      "pattern":".*"
    },
    "CreateDeliveryStreamInput":{
      "type":"structure",
      "required":["DeliveryStreamName"],
      "members":{
        "DeliveryStreamName":{
          "shape":"DeliveryStreamName",
          "documentation":"<p>The name of the Firehose stream. This name must be unique per Amazon Web Services account in the same Amazon Web Services Region. If the Firehose streams are in different accounts or different Regions, you can have multiple Firehose streams with the same name.</p>"
        },
        "DeliveryStreamType":{
          "shape":"DeliveryStreamType",
          "documentation":"<p>The Firehose stream type. This parameter can be one of the following values:</p> <ul> <li> <p> <code>DirectPut</code>: Provider applications access the Firehose stream directly.</p> </li> <li> <p> <code>KinesisStreamAsSource</code>: The Firehose stream uses a Kinesis data stream as a source.</p> </li> </ul>"
        },
        "DirectPutSourceConfiguration":{
          "shape":"DirectPutSourceConfiguration",
          "documentation":"<p>The structure that configures parameters such as <code>ThroughputHintInMBs</code> for a stream configured with Direct PUT as a source. </p>"
        },
        "KinesisStreamSourceConfiguration":{
          "shape":"KinesisStreamSourceConfiguration",
          "documentation":"<p>When a Kinesis data stream is used as the source for the Firehose stream, a <a>KinesisStreamSourceConfiguration</a> containing the Kinesis data stream Amazon Resource Name (ARN) and the role ARN for the source stream.</p>"
        },
        "DeliveryStreamEncryptionConfigurationInput":{
          "shape":"DeliveryStreamEncryptionConfigurationInput",
          "documentation":"<p>Used to specify the type and Amazon Resource Name (ARN) of the KMS key needed for Server-Side Encryption (SSE).</p>"
        },
        "S3DestinationConfiguration":{
          "shape":"S3DestinationConfiguration",
          "documentation":"<p>[Deprecated] The destination in Amazon S3. You can specify only one destination.</p>",
          "deprecated":true
        },
        "ExtendedS3DestinationConfiguration":{
          "shape":"ExtendedS3DestinationConfiguration",
          "documentation":"<p>The destination in Amazon S3. You can specify only one destination.</p>"
        },
        "RedshiftDestinationConfiguration":{
          "shape":"RedshiftDestinationConfiguration",
          "documentation":"<p>The destination in Amazon Redshift. You can specify only one destination.</p>"
        },
        "ElasticsearchDestinationConfiguration":{
          "shape":"ElasticsearchDestinationConfiguration",
          "documentation":"<p>The destination in Amazon OpenSearch Service. You can specify only one destination.</p>"
        },
        "AmazonopensearchserviceDestinationConfiguration":{
          "shape":"AmazonopensearchserviceDestinationConfiguration",
          "documentation":"<p>The destination in Amazon OpenSearch Service. You can specify only one destination.</p>"
        },
        "SplunkDestinationConfiguration":{
          "shape":"SplunkDestinationConfiguration",
          "documentation":"<p>The destination in Splunk. You can specify only one destination.</p>"
        },
        "HttpEndpointDestinationConfiguration":{
          "shape":"HttpEndpointDestinationConfiguration",
          "documentation":"<p>Enables configuring Kinesis Firehose to deliver data to any HTTP endpoint destination. You can specify only one destination.</p>"
        },
        "Tags":{
          "shape":"TagDeliveryStreamInputTagList",
          "documentation":"<p>A set of tags to assign to the Firehose stream. A tag is a key-value pair that you can define and assign to Amazon Web Services resources. Tags are metadata. For example, you can add friendly names and descriptions or other types of information that can help you distinguish the Firehose stream. For more information about tags, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Using Cost Allocation Tags</a> in the Amazon Web Services Billing and Cost Management User Guide.</p> <p>You can specify up to 50 tags when creating a Firehose stream.</p> <p>If you specify tags in the <code>CreateDeliveryStream</code> action, Amazon Data Firehose performs an additional authorization on the <code>firehose:TagDeliveryStream</code> action to verify if users have permissions to create tags. If you do not provide this permission, requests to create new Firehose streams with IAM resource tags will fail with an <code>AccessDeniedException</code> such as following.</p> <p> <b>AccessDeniedException</b> </p> <p>User: arn:aws:sts::x:assumed-role/x/x is not authorized to perform: firehose:TagDeliveryStream on resource: arn:aws:firehose:us-east-1:x:deliverystream/x with an explicit deny in an identity-based policy.</p> <p>For an example IAM policy, see <a href=\"https://docs.aws.amazon.com/firehose/latest/APIReference/API_CreateDeliveryStream.html#API_CreateDeliveryStream_Examples\">Tag example.</a> </p>"
        },
        "AmazonOpenSearchServerlessDestinationConfiguration":{
          "shape":"AmazonOpenSearchServerlessDestinationConfiguration",
          "documentation":"<p>The destination in the Serverless offering for Amazon OpenSearch Service. You can specify only one destination.</p>"
        },
        "MSKSourceConfiguration":{"shape":"MSKSourceConfiguration"},
        "SnowflakeDestinationConfiguration":{
          "shape":"SnowflakeDestinationConfiguration",
          "documentation":"<p>Configure Snowflake destination</p>"
        },
        "IcebergDestinationConfiguration":{
          "shape":"IcebergDestinationConfiguration",
          "documentation":"<p> Configure Apache Iceberg Tables destination. </p>"
        },
        "DatabaseSourceConfiguration":{
          "shape":"DatabaseSourceConfiguration",
          "documentation":"<p> The top level object for configuring streams with database as a source. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        }
      }
    },
    "CreateDeliveryStreamOutput":{
      "type":"structure",
      "members":{
        "DeliveryStreamARN":{
          "shape":"DeliveryStreamARN",
          "documentation":"<p>The ARN of the Firehose stream.</p>"
        }
      }
    },
    "CustomTimeZone":{
      "type":"string",
      "max":50,
      "min":0,
      "pattern":"^$|[a-zA-Z/_]+"
    },
    "Data":{
      "type":"blob",
      "max":1024000,
      "min":0
    },
    "DataFormatConversionConfiguration":{
      "type":"structure",
      "members":{
        "SchemaConfiguration":{
          "shape":"SchemaConfiguration",
          "documentation":"<p>Specifies the Amazon Web Services Glue Data Catalog table that contains the column information. This parameter is required if <code>Enabled</code> is set to true.</p>"
        },
        "InputFormatConfiguration":{
          "shape":"InputFormatConfiguration",
          "documentation":"<p>Specifies the deserializer that you want Firehose to use to convert the format of your data from JSON. This parameter is required if <code>Enabled</code> is set to true.</p>"
        },
        "OutputFormatConfiguration":{
          "shape":"OutputFormatConfiguration",
          "documentation":"<p>Specifies the serializer that you want Firehose to use to convert the format of your data to the Parquet or ORC format. This parameter is required if <code>Enabled</code> is set to true.</p>"
        },
        "Enabled":{
          "shape":"BooleanObject",
          "documentation":"<p>Defaults to <code>true</code>. Set it to <code>false</code> if you want to disable format conversion while preserving the configuration details.</p>"
        }
      },
      "documentation":"<p>Specifies that you want Firehose to convert data from the JSON format to the Parquet or ORC format before writing it to Amazon S3. Firehose uses the serializer and deserializer that you specify, in addition to the column information from the Amazon Web Services Glue table, to deserialize your input data from JSON and then serialize it to the Parquet or ORC format. For more information, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/record-format-conversion.html\">Firehose Record Format Conversion</a>.</p>"
    },
    "DataTableColumns":{
      "type":"string",
      "max":10240,
      "min":0,
      "pattern":".*"
    },
    "DataTableName":{
      "type":"string",
      "max":512,
      "min":1,
      "pattern":".*"
    },
    "DatabaseColumnIncludeOrExcludeList":{
      "type":"list",
      "member":{"shape":"DatabaseColumnName"}
    },
    "DatabaseColumnList":{
      "type":"structure",
      "members":{
        "Include":{
          "shape":"DatabaseColumnIncludeOrExcludeList",
          "documentation":"<p> The list of column patterns in source database to be included for Firehose to read from. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        },
        "Exclude":{
          "shape":"DatabaseColumnIncludeOrExcludeList",
          "documentation":"<p> The list of column patterns in source database to be excluded for Firehose to read from. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        }
      },
      "documentation":"<p>The structure used to configure the list of column patterns in source database endpoint for Firehose to read from. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
    },
    "DatabaseColumnName":{
      "type":"string",
      "max":194,
      "min":1,
      "pattern":"[\\u0001-\\uFFFF]*"
    },
    "DatabaseEndpoint":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"^(?!\\s*$).+"
    },
    "DatabaseIncludeOrExcludeList":{
      "type":"list",
      "member":{"shape":"DatabaseName"}
    },
    "DatabaseList":{
      "type":"structure",
      "members":{
        "Include":{
          "shape":"DatabaseIncludeOrExcludeList",
          "documentation":"<p>The list of database patterns in source database endpoint to be included for Firehose to read from. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        },
        "Exclude":{
          "shape":"DatabaseIncludeOrExcludeList",
          "documentation":"<p>The list of database patterns in source database endpoint to be excluded for Firehose to read from. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        }
      },
      "documentation":"<p>The structure used to configure the list of database patterns in source database endpoint for Firehose to read from. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
    },
    "DatabaseName":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[\\u0001-\\uFFFF]*"
    },
    "DatabasePort":{
      "type":"integer",
      "max":65535,
      "min":0
    },
    "DatabaseSnapshotInfo":{
      "type":"structure",
      "required":[
        "Id",
        "Table",
        "RequestTimestamp",
        "RequestedBy",
        "Status"
      ],
      "members":{
        "Id":{
          "shape":"NonEmptyStringWithoutWhitespace",
          "documentation":"<p> The identifier of the current snapshot of the table in source database endpoint. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        },
        "Table":{
          "shape":"DatabaseTableName",
          "documentation":"<p> The fully qualified name of the table in source database endpoint that Firehose reads. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        },
        "RequestTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p> The timestamp when the current snapshot is taken on the table. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        },
        "RequestedBy":{
          "shape":"SnapshotRequestedBy",
          "documentation":"<p> The principal that sent the request to take the current snapshot on the table. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        },
        "Status":{
          "shape":"SnapshotStatus",
          "documentation":"<p> The status of the current snapshot of the table. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        },
        "FailureDescription":{"shape":"FailureDescription"}
      },
      "documentation":"<p> The structure that describes the snapshot information of a table in source database endpoint that Firehose reads. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
    },
    "DatabaseSnapshotInfoList":{
      "type":"list",
      "member":{"shape":"DatabaseSnapshotInfo"}
    },
    "DatabaseSourceAuthenticationConfiguration":{
      "type":"structure",
      "required":["SecretsManagerConfiguration"],
      "members":{
        "SecretsManagerConfiguration":{"shape":"SecretsManagerConfiguration"}
      },
      "documentation":"<p> The structure to configure the authentication methods for Firehose to connect to source database endpoint. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
    },
    "DatabaseSourceConfiguration":{
      "type":"structure",
      "required":[
        "Type",
        "Endpoint",
        "Port",
        "Databases",
        "Tables",
        "SnapshotWatermarkTable",
        "DatabaseSourceAuthenticationConfiguration",
        "DatabaseSourceVPCConfiguration"
      ],
      "members":{
        "Type":{
          "shape":"DatabaseType",
          "documentation":"<p>The type of database engine. This can be one of the following values. </p> <ul> <li> <p>MySQL</p> </li> <li> <p>PostgreSQL</p> </li> </ul> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        },
        "Endpoint":{
          "shape":"DatabaseEndpoint",
          "documentation":"<p> The endpoint of the database server. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        },
        "Port":{
          "shape":"DatabasePort",
          "documentation":"<p>The port of the database. This can be one of the following values.</p> <ul> <li> <p>3306 for MySQL database type</p> </li> <li> <p>5432 for PostgreSQL database type</p> </li> </ul> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        },
        "SSLMode":{
          "shape":"SSLMode",
          "documentation":"<p> The mode to enable or disable SSL when Firehose connects to the database endpoint. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        },
        "Databases":{
          "shape":"DatabaseList",
          "documentation":"<p> The list of database patterns in source database endpoint for Firehose to read from. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        },
        "Tables":{
          "shape":"DatabaseTableList",
          "documentation":"<p> The list of table patterns in source database endpoint for Firehose to read from. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        },
        "Columns":{
          "shape":"DatabaseColumnList",
          "documentation":"<p> The list of column patterns in source database endpoint for Firehose to read from. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        },
        "SurrogateKeys":{
          "shape":"DatabaseSurrogateKeyList",
          "documentation":"<p> The optional list of table and column names used as unique key columns when taking snapshot if the tables don’t have primary keys configured. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        },
        "SnapshotWatermarkTable":{
          "shape":"DatabaseTableName",
          "documentation":"<p> The fully qualified name of the table in source database endpoint that Firehose uses to track snapshot progress. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        },
        "DatabaseSourceAuthenticationConfiguration":{
          "shape":"DatabaseSourceAuthenticationConfiguration",
          "documentation":"<p> The structure to configure the authentication methods for Firehose to connect to source database endpoint. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        },
        "DatabaseSourceVPCConfiguration":{
          "shape":"DatabaseSourceVPCConfiguration",
          "documentation":"<p> The details of the VPC Endpoint Service which Firehose uses to create a PrivateLink to the database. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        }
      },
      "documentation":"<p> The top level object for configuring streams with database as a source. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
    },
    "DatabaseSourceDescription":{
      "type":"structure",
      "members":{
        "Type":{
          "shape":"DatabaseType",
          "documentation":"<p>The type of database engine. This can be one of the following values. </p> <ul> <li> <p>MySQL</p> </li> <li> <p>PostgreSQL</p> </li> </ul> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        },
        "Endpoint":{
          "shape":"DatabaseEndpoint",
          "documentation":"<p> The endpoint of the database server. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        },
        "Port":{
          "shape":"DatabasePort",
          "documentation":"<p>The port of the database. This can be one of the following values.</p> <ul> <li> <p>3306 for MySQL database type</p> </li> <li> <p>5432 for PostgreSQL database type</p> </li> </ul> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        },
        "SSLMode":{
          "shape":"SSLMode",
          "documentation":"<p> The mode to enable or disable SSL when Firehose connects to the database endpoint. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        },
        "Databases":{
          "shape":"DatabaseList",
          "documentation":"<p> The list of database patterns in source database endpoint for Firehose to read from. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        },
        "Tables":{
          "shape":"DatabaseTableList",
          "documentation":"<p> The list of table patterns in source database endpoint for Firehose to read from. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        },
        "Columns":{
          "shape":"DatabaseColumnList",
          "documentation":"<p> The list of column patterns in source database endpoint for Firehose to read from. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        },
        "SurrogateKeys":{
          "shape":"DatabaseColumnIncludeOrExcludeList",
          "documentation":"<p> The optional list of table and column names used as unique key columns when taking snapshot if the tables don’t have primary keys configured. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        },
        "SnapshotWatermarkTable":{
          "shape":"DatabaseTableName",
          "documentation":"<p> The fully qualified name of the table in source database endpoint that Firehose uses to track snapshot progress. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        },
        "SnapshotInfo":{
          "shape":"DatabaseSnapshotInfoList",
          "documentation":"<p> The structure that describes the snapshot information of a table in source database endpoint that Firehose reads. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        },
        "DatabaseSourceAuthenticationConfiguration":{
          "shape":"DatabaseSourceAuthenticationConfiguration",
          "documentation":"<p> The structure to configure the authentication methods for Firehose to connect to source database endpoint. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        },
        "DatabaseSourceVPCConfiguration":{
          "shape":"DatabaseSourceVPCConfiguration",
          "documentation":"<p> The details of the VPC Endpoint Service which Firehose uses to create a PrivateLink to the database. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        }
      },
      "documentation":"<p> The top level object for database source description. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
    },
    "DatabaseSourceVPCConfiguration":{
      "type":"structure",
      "required":["VpcEndpointServiceName"],
      "members":{
        "VpcEndpointServiceName":{
          "shape":"VpcEndpointServiceName",
          "documentation":"<p> The VPC endpoint service name which Firehose uses to create a PrivateLink to the database. The endpoint service must have the Firehose service principle <code>firehose.amazonaws.com</code> as an allowed principal on the VPC endpoint service. The VPC endpoint service name is a string that looks like <code>com.amazonaws.vpce.&lt;region&gt;.&lt;vpc-endpoint-service-id&gt;</code>. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        }
      },
      "documentation":"<p> The structure for details of the VPC Endpoint Service which Firehose uses to create a PrivateLink to the database. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
    },
    "DatabaseSurrogateKeyList":{
      "type":"list",
      "member":{"shape":"NonEmptyStringWithoutWhitespace"}
    },
    "DatabaseTableIncludeOrExcludeList":{
      "type":"list",
      "member":{"shape":"DatabaseTableName"}
    },
    "DatabaseTableList":{
      "type":"structure",
      "members":{
        "Include":{
          "shape":"DatabaseTableIncludeOrExcludeList",
          "documentation":"<p>The list of table patterns in source database endpoint to be included for Firehose to read from. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        },
        "Exclude":{
          "shape":"DatabaseTableIncludeOrExcludeList",
          "documentation":"<p>The list of table patterns in source database endpoint to be excluded for Firehose to read from. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        }
      },
      "documentation":"<p>The structure used to configure the list of table patterns in source database endpoint for Firehose to read from. </p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
    },
    "DatabaseTableName":{
      "type":"string",
      "max":129,
      "min":1,
      "pattern":"[\\u0001-\\uFFFF]*"
    },
    "DatabaseType":{
      "type":"string",
      "enum":[
        "MySQL",
        "PostgreSQL"
      ]
    },
    "DefaultDocumentIdFormat":{
      "type":"string",
      "enum":[
        "FIREHOSE_DEFAULT",
        "NO_DOCUMENT_ID"
      ]
    },
    "DeleteDeliveryStreamInput":{
      "type":"structure",
      "required":["DeliveryStreamName"],
      "members":{
        "DeliveryStreamName":{
          "shape":"DeliveryStreamName",
          "documentation":"<p>The name of the Firehose stream.</p>"
        },
        "AllowForceDelete":{
          "shape":"BooleanObject",
          "documentation":"<p>Set this to true if you want to delete the Firehose stream even if Firehose is unable to retire the grant for the CMK. Firehose might be unable to retire the grant due to a customer error, such as when the CMK or the grant are in an invalid state. If you force deletion, you can then use the <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_RevokeGrant.html\">RevokeGrant</a> operation to revoke the grant you gave to Firehose. If a failure to retire the grant happens due to an Amazon Web Services KMS issue, Firehose keeps retrying the delete operation.</p> <p>The default value is false.</p>"
        }
      }
    },
    "DeleteDeliveryStreamOutput":{
      "type":"structure",
      "members":{}
    },
    "DeliveryStartTimestamp":{"type":"timestamp"},
    "DeliveryStreamARN":{
      "type":"string",
      "max":512,
      "min":1,
      "pattern":"arn:.*:firehose:[a-zA-Z0-9\\-]+:\\d{12}:deliverystream/[a-zA-Z0-9._-]+"
    },
    "DeliveryStreamDescription":{
      "type":"structure",
      "required":[
        "DeliveryStreamName",
        "DeliveryStreamARN",
        "DeliveryStreamStatus",
        "DeliveryStreamType",
        "VersionId",
        "Destinations",
        "HasMoreDestinations"
      ],
      "members":{
        "DeliveryStreamName":{
          "shape":"DeliveryStreamName",
          "documentation":"<p>The name of the Firehose stream.</p>"
        },
        "DeliveryStreamARN":{
          "shape":"DeliveryStreamARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Firehose stream. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces</a>.</p>"
        },
        "DeliveryStreamStatus":{
          "shape":"DeliveryStreamStatus",
          "documentation":"<p>The status of the Firehose stream. If the status of a Firehose stream is <code>CREATING_FAILED</code>, this status doesn't change, and you can't invoke <code>CreateDeliveryStream</code> again on it. However, you can invoke the <a>DeleteDeliveryStream</a> operation to delete it.</p>"
        },
        "FailureDescription":{
          "shape":"FailureDescription",
          "documentation":"<p>Provides details in case one of the following operations fails due to an error related to KMS: <a>CreateDeliveryStream</a>, <a>DeleteDeliveryStream</a>, <a>StartDeliveryStreamEncryption</a>, <a>StopDeliveryStreamEncryption</a>.</p>"
        },
        "DeliveryStreamEncryptionConfiguration":{
          "shape":"DeliveryStreamEncryptionConfiguration",
          "documentation":"<p>Indicates the server-side encryption (SSE) status for the Firehose stream.</p>"
        },
        "DeliveryStreamType":{
          "shape":"DeliveryStreamType",
          "documentation":"<p>The Firehose stream type. This can be one of the following values:</p> <ul> <li> <p> <code>DirectPut</code>: Provider applications access the Firehose stream directly.</p> </li> <li> <p> <code>KinesisStreamAsSource</code>: The Firehose stream uses a Kinesis data stream as a source.</p> </li> </ul>"
        },
        "VersionId":{
          "shape":"DeliveryStreamVersionId",
          "documentation":"<p>Each time the destination is updated for a Firehose stream, the version ID is changed, and the current version ID is required when updating the destination. This is so that the service knows it is applying the changes to the correct version of the delivery stream.</p>"
        },
        "CreateTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that the Firehose stream was created.</p>"
        },
        "LastUpdateTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that the Firehose stream was last updated.</p>"
        },
        "Source":{
          "shape":"SourceDescription",
          "documentation":"<p>If the <code>DeliveryStreamType</code> parameter is <code>KinesisStreamAsSource</code>, a <a>SourceDescription</a> object describing the source Kinesis data stream.</p>"
        },
        "Destinations":{
          "shape":"DestinationDescriptionList",
          "documentation":"<p>The destinations.</p>"
        },
        "HasMoreDestinations":{
          "shape":"BooleanObject",
          "documentation":"<p>Indicates whether there are more destinations available to list.</p>"
        }
      },
      "documentation":"<p>Contains information about a Firehose stream.</p>"
    },
    "DeliveryStreamEncryptionConfiguration":{
      "type":"structure",
      "members":{
        "KeyARN":{
          "shape":"AWSKMSKeyARN",
          "documentation":"<p>If <code>KeyType</code> is <code>CUSTOMER_MANAGED_CMK</code>, this field contains the ARN of the customer managed CMK. If <code>KeyType</code> is <code>Amazon Web Services_OWNED_CMK</code>, <code>DeliveryStreamEncryptionConfiguration</code> doesn't contain a value for <code>KeyARN</code>.</p>"
        },
        "KeyType":{
          "shape":"KeyType",
          "documentation":"<p>Indicates the type of customer master key (CMK) that is used for encryption. The default setting is <code>Amazon Web Services_OWNED_CMK</code>. For more information about CMKs, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#master_keys\">Customer Master Keys (CMKs)</a>.</p>"
        },
        "Status":{
          "shape":"DeliveryStreamEncryptionStatus",
          "documentation":"<p>This is the server-side encryption (SSE) status for the Firehose stream. For a full description of the different values of this status, see <a>StartDeliveryStreamEncryption</a> and <a>StopDeliveryStreamEncryption</a>. If this status is <code>ENABLING_FAILED</code> or <code>DISABLING_FAILED</code>, it is the status of the most recent attempt to enable or disable SSE, respectively.</p>"
        },
        "FailureDescription":{
          "shape":"FailureDescription",
          "documentation":"<p>Provides details in case one of the following operations fails due to an error related to KMS: <a>CreateDeliveryStream</a>, <a>DeleteDeliveryStream</a>, <a>StartDeliveryStreamEncryption</a>, <a>StopDeliveryStreamEncryption</a>.</p>"
        }
      },
      "documentation":"<p>Contains information about the server-side encryption (SSE) status for the delivery stream, the type customer master key (CMK) in use, if any, and the ARN of the CMK. You can get <code>DeliveryStreamEncryptionConfiguration</code> by invoking the <a>DescribeDeliveryStream</a> operation. </p>"
    },
    "DeliveryStreamEncryptionConfigurationInput":{
      "type":"structure",
      "required":["KeyType"],
      "members":{
        "KeyARN":{
          "shape":"AWSKMSKeyARN",
          "documentation":"<p>If you set <code>KeyType</code> to <code>CUSTOMER_MANAGED_CMK</code>, you must specify the Amazon Resource Name (ARN) of the CMK. If you set <code>KeyType</code> to <code>Amazon Web Services_OWNED_CMK</code>, Firehose uses a service-account CMK.</p>"
        },
        "KeyType":{
          "shape":"KeyType",
          "documentation":"<p>Indicates the type of customer master key (CMK) to use for encryption. The default setting is <code>Amazon Web Services_OWNED_CMK</code>. For more information about CMKs, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#master_keys\">Customer Master Keys (CMKs)</a>. When you invoke <a>CreateDeliveryStream</a> or <a>StartDeliveryStreamEncryption</a> with <code>KeyType</code> set to CUSTOMER_MANAGED_CMK, Firehose invokes the Amazon KMS operation <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_CreateGrant.html\">CreateGrant</a> to create a grant that allows the Firehose service to use the customer managed CMK to perform encryption and decryption. Firehose manages that grant. </p> <p>When you invoke <a>StartDeliveryStreamEncryption</a> to change the CMK for a Firehose stream that is encrypted with a customer managed CMK, Firehose schedules the grant it had on the old CMK for retirement.</p> <p>You can use a CMK of type CUSTOMER_MANAGED_CMK to encrypt up to 500 Firehose streams. If a <a>CreateDeliveryStream</a> or <a>StartDeliveryStreamEncryption</a> operation exceeds this limit, Firehose throws a <code>LimitExceededException</code>. </p> <important> <p>To encrypt your Firehose stream, use symmetric CMKs. Firehose doesn't support asymmetric CMKs. For information about symmetric and asymmetric CMKs, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/symm-asymm-concepts.html\">About Symmetric and Asymmetric CMKs</a> in the Amazon Web Services Key Management Service developer guide.</p> </important>"
        }
      },
      "documentation":"<p>Specifies the type and Amazon Resource Name (ARN) of the CMK to use for Server-Side Encryption (SSE). </p>"
    },
    "DeliveryStreamEncryptionStatus":{
      "type":"string",
      "enum":[
        "ENABLED",
        "ENABLING",
        "ENABLING_FAILED",
        "DISABLED",
        "DISABLING",
        "DISABLING_FAILED"
      ]
    },
    "DeliveryStreamFailureType":{
      "type":"string",
      "enum":[
        "VPC_ENDPOINT_SERVICE_NAME_NOT_FOUND",
        "VPC_INTERFACE_ENDPOINT_SERVICE_ACCESS_DENIED",
        "RETIRE_KMS_GRANT_FAILED",
        "CREATE_KMS_GRANT_FAILED",
        "KMS_ACCESS_DENIED",
        "DISABLED_KMS_KEY",
        "INVALID_KMS_KEY",
        "KMS_KEY_NOT_FOUND",
        "KMS_OPT_IN_REQUIRED",
        "CREATE_ENI_FAILED",
        "DELETE_ENI_FAILED",
        "SUBNET_NOT_FOUND",
        "SECURITY_GROUP_NOT_FOUND",
        "ENI_ACCESS_DENIED",
        "SUBNET_ACCESS_DENIED",
        "SECURITY_GROUP_ACCESS_DENIED",
        "UNKNOWN_ERROR"
      ]
    },
    "DeliveryStreamName":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-zA-Z0-9_.-]+"
    },
    "DeliveryStreamNameList":{
      "type":"list",
      "member":{"shape":"DeliveryStreamName"}
    },
    "DeliveryStreamStatus":{
      "type":"string",
      "enum":[
        "CREATING",
        "CREATING_FAILED",
        "DELETING",
        "DELETING_FAILED",
        "ACTIVE"
      ]
    },
    "DeliveryStreamType":{
      "type":"string",
      "enum":[
        "DirectPut",
        "KinesisStreamAsSource",
        "MSKAsSource",
        "DatabaseAsSource"
      ]
    },
    "DeliveryStreamVersionId":{
      "type":"string",
      "max":50,
      "min":1,
      "pattern":"[0-9]+"
    },
    "DescribeDeliveryStreamInput":{
      "type":"structure",
      "required":["DeliveryStreamName"],
      "members":{
        "DeliveryStreamName":{
          "shape":"DeliveryStreamName",
          "documentation":"<p>The name of the Firehose stream.</p>"
        },
        "Limit":{
          "shape":"DescribeDeliveryStreamInputLimit",
          "documentation":"<p>The limit on the number of destinations to return. You can have one destination per Firehose stream.</p>"
        },
        "ExclusiveStartDestinationId":{
          "shape":"DestinationId",
          "documentation":"<p>The ID of the destination to start returning the destination information. Firehose supports one destination per Firehose stream.</p>"
        }
      }
    },
    "DescribeDeliveryStreamInputLimit":{
      "type":"integer",
      "max":10000,
      "min":1
    },
    "DescribeDeliveryStreamOutput":{
      "type":"structure",
      "required":["DeliveryStreamDescription"],
      "members":{
        "DeliveryStreamDescription":{
          "shape":"DeliveryStreamDescription",
          "documentation":"<p>Information about the Firehose stream.</p>"
        }
      }
    },
    "Deserializer":{
      "type":"structure",
      "members":{
        "OpenXJsonSerDe":{
          "shape":"OpenXJsonSerDe",
          "documentation":"<p>The OpenX SerDe. Used by Firehose for deserializing data, which means converting it from the JSON format in preparation for serializing it to the Parquet or ORC format. This is one of two deserializers you can choose, depending on which one offers the functionality you need. The other option is the native Hive / HCatalog JsonSerDe.</p>"
        },
        "HiveJsonSerDe":{
          "shape":"HiveJsonSerDe",
          "documentation":"<p>The native Hive / HCatalog JsonSerDe. Used by Firehose for deserializing data, which means converting it from the JSON format in preparation for serializing it to the Parquet or ORC format. This is one of two deserializers you can choose, depending on which one offers the functionality you need. The other option is the OpenX SerDe.</p>"
        }
      },
      "documentation":"<p>The deserializer you want Firehose to use for converting the input data from JSON. Firehose then serializes the data to its final format using the <a>Serializer</a>. Firehose supports two types of deserializers: the <a href=\"https://cwiki.apache.org/confluence/display/Hive/LanguageManual+DDL#LanguageManualDDL-JSON\">Apache Hive JSON SerDe</a> and the <a href=\"https://github.com/rcongiu/Hive-JSON-Serde\">OpenX JSON SerDe</a>.</p>"
    },
    "DestinationDescription":{
      "type":"structure",
      "required":["DestinationId"],
      "members":{
        "DestinationId":{
          "shape":"DestinationId",
          "documentation":"<p>The ID of the destination.</p>"
        },
        "S3DestinationDescription":{
          "shape":"S3DestinationDescription",
          "documentation":"<p>[Deprecated] The destination in Amazon S3.</p>"
        },
        "ExtendedS3DestinationDescription":{
          "shape":"ExtendedS3DestinationDescription",
          "documentation":"<p>The destination in Amazon S3.</p>"
        },
        "RedshiftDestinationDescription":{
          "shape":"RedshiftDestinationDescription",
          "documentation":"<p>The destination in Amazon Redshift.</p>"
        },
        "ElasticsearchDestinationDescription":{
          "shape":"ElasticsearchDestinationDescription",
          "documentation":"<p>The destination in Amazon OpenSearch Service.</p>"
        },
        "AmazonopensearchserviceDestinationDescription":{
          "shape":"AmazonopensearchserviceDestinationDescription",
          "documentation":"<p>The destination in Amazon OpenSearch Service.</p>"
        },
        "SplunkDestinationDescription":{
          "shape":"SplunkDestinationDescription",
          "documentation":"<p>The destination in Splunk.</p>"
        },
        "HttpEndpointDestinationDescription":{
          "shape":"HttpEndpointDestinationDescription",
          "documentation":"<p>Describes the specified HTTP endpoint destination.</p>"
        },
        "SnowflakeDestinationDescription":{
          "shape":"SnowflakeDestinationDescription",
          "documentation":"<p>Optional description for the destination</p>"
        },
        "AmazonOpenSearchServerlessDestinationDescription":{
          "shape":"AmazonOpenSearchServerlessDestinationDescription",
          "documentation":"<p>The destination in the Serverless offering for Amazon OpenSearch Service.</p>"
        },
        "IcebergDestinationDescription":{
          "shape":"IcebergDestinationDescription",
          "documentation":"<p> Describes a destination in Apache Iceberg Tables. </p>"
        }
      },
      "documentation":"<p>Describes the destination for a Firehose stream.</p>"
    },
    "DestinationDescriptionList":{
      "type":"list",
      "member":{"shape":"DestinationDescription"}
    },
    "DestinationId":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"[a-zA-Z0-9-]+"
    },
    "DestinationTableConfiguration":{
      "type":"structure",
      "required":[
        "DestinationTableName",
        "DestinationDatabaseName"
      ],
      "members":{
        "DestinationTableName":{
          "shape":"StringWithLettersDigitsUnderscoresDots",
          "documentation":"<p> Specifies the name of the Apache Iceberg Table. </p>"
        },
        "DestinationDatabaseName":{
          "shape":"StringWithLettersDigitsUnderscoresDots",
          "documentation":"<p> The name of the Apache Iceberg database. </p>"
        },
        "UniqueKeys":{
          "shape":"ListOfNonEmptyStringsWithoutWhitespace",
          "documentation":"<p> A list of unique keys for a given Apache Iceberg table. Firehose will use these for running Create, Update, or Delete operations on the given Iceberg table. </p>"
        },
        "PartitionSpec":{
          "shape":"PartitionSpec",
          "documentation":"<p>The partition spec configuration for a table that is used by automatic table creation.</p> <p>Amazon Data Firehose is in preview release and is subject to change.</p>"
        },
        "S3ErrorOutputPrefix":{
          "shape":"ErrorOutputPrefix",
          "documentation":"<p> The table specific S3 error output prefix. All the errors that occurred while delivering to this table will be prefixed with this value in S3 destination. </p>"
        }
      },
      "documentation":"<p> Describes the configuration of a destination in Apache Iceberg Tables. </p>"
    },
    "DestinationTableConfigurationList":{
      "type":"list",
      "member":{"shape":"DestinationTableConfiguration"}
    },
    "DirectPutSourceConfiguration":{
      "type":"structure",
      "required":["ThroughputHintInMBs"],
      "members":{
        "ThroughputHintInMBs":{
          "shape":"ThroughputHintInMBs",
          "documentation":"<p> The value that you configure for this parameter is for information purpose only and does not affect Firehose delivery throughput limit. You can use the <a href=\"https://support.console.aws.amazon.com/support/home#/case/create%3FissueType=service-limit-increase%26limitType=kinesis-firehose-limits\">Firehose Limits form</a> to request a throughput limit increase. </p>"
        }
      },
      "documentation":"<p>The structure that configures parameters such as <code>ThroughputHintInMBs</code> for a stream configured with Direct PUT as a source. </p>"
    },
    "DirectPutSourceDescription":{
      "type":"structure",
      "members":{
        "ThroughputHintInMBs":{
          "shape":"ThroughputHintInMBs",
          "documentation":"<p> The value that you configure for this parameter is for information purpose only and does not affect Firehose delivery throughput limit. You can use the <a href=\"https://support.console.aws.amazon.com/support/home#/case/create%3FissueType=service-limit-increase%26limitType=kinesis-firehose-limits\">Firehose Limits form</a> to request a throughput limit increase. </p>"
        }
      },
      "documentation":"<p>The structure that configures parameters such as <code>ThroughputHintInMBs</code> for a stream configured with Direct PUT as a source. </p>"
    },
    "DocumentIdOptions":{
      "type":"structure",
      "required":["DefaultDocumentIdFormat"],
      "members":{
        "DefaultDocumentIdFormat":{
          "shape":"DefaultDocumentIdFormat",
          "documentation":"<p>When the <code>FIREHOSE_DEFAULT</code> option is chosen, Firehose generates a unique document ID for each record based on a unique internal identifier. The generated document ID is stable across multiple delivery attempts, which helps prevent the same record from being indexed multiple times with different document IDs.</p> <p>When the <code>NO_DOCUMENT_ID</code> option is chosen, Firehose does not include any document IDs in the requests it sends to the Amazon OpenSearch Service. This causes the Amazon OpenSearch Service domain to generate document IDs. In case of multiple delivery attempts, this may cause the same record to be indexed more than once with different document IDs. This option enables write-heavy operations, such as the ingestion of logs and observability data, to consume less resources in the Amazon OpenSearch Service domain, resulting in improved performance.</p>"
        }
      },
[...]
