<span
    class="gh-select mt2"
    data-select-text="test"
    tabindex="0"
>
    <OneWaySelect
        @id="portal-button-style"
        @name="portal[button-style]"
        @options={{this.options}}
        @optionValuePath="value"
        @optionLabelPath="name"
        @value={{this.selectedOption.value}}
        @update={{this.setRecipients}}
    />
    {{svg-jar "arrow-down-small"}}
</span>
