{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-08-08",
    "endpointPrefix":"connect",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceAbbreviation":"Amazon Connect",
    "serviceFullName":"Amazon Connect Service",
    "serviceId":"Connect",
    "signatureVersion":"v4",
    "signingName":"connect",
    "uid":"connect-2017-08-08",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "ActivateEvaluationForm":{
      "name":"ActivateEvaluationForm",
      "http":{
        "method":"POST",
        "requestUri":"/evaluation-forms/{InstanceId}/{EvaluationFormId}/activate"
      },
      "input":{"shape":"ActivateEvaluationFormRequest"},
      "output":{"shape":"ActivateEvaluationFormResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p>Activates an evaluation form in the specified Amazon Connect instance. After the evaluation form is activated, it is available to start new evaluations based on the form. </p>"
    },
    "AssociateAnalyticsDataSet":{
      "name":"AssociateAnalyticsDataSet",
      "http":{
        "method":"PUT",
        "requestUri":"/analytics-data/instance/{InstanceId}/association"
      },
      "input":{"shape":"AssociateAnalyticsDataSetRequest"},
      "output":{"shape":"AssociateAnalyticsDataSetResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Associates the specified dataset for a Amazon Connect instance with the target account. You can associate only one dataset in a single call.</p>"
    },
    "AssociateApprovedOrigin":{
      "name":"AssociateApprovedOrigin",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/approved-origin"
      },
      "input":{"shape":"AssociateApprovedOriginRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Associates an approved origin to an Amazon Connect instance.</p>"
    },
    "AssociateBot":{
      "name":"AssociateBot",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/bot"
      },
      "input":{"shape":"AssociateBotRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Allows the specified Amazon Connect instance to access the specified Amazon Lex or Amazon Lex V2 bot.</p>"
    },
    "AssociateDefaultVocabulary":{
      "name":"AssociateDefaultVocabulary",
      "http":{
        "method":"PUT",
        "requestUri":"/default-vocabulary/{InstanceId}/{LanguageCode}"
      },
      "input":{"shape":"AssociateDefaultVocabularyRequest"},
      "output":{"shape":"AssociateDefaultVocabularyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Associates an existing vocabulary as the default. Contact Lens for Amazon Connect uses the vocabulary in post-call and real-time analysis sessions for the given language.</p>"
    },
    "AssociateFlow":{
      "name":"AssociateFlow",
      "http":{
        "method":"PUT",
        "requestUri":"/flow-associations/{InstanceId}"
      },
      "input":{"shape":"AssociateFlowRequest"},
      "output":{"shape":"AssociateFlowResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Associates a connect resource to a flow.</p>"
    },
    "AssociateInstanceStorageConfig":{
      "name":"AssociateInstanceStorageConfig",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/storage-config"
      },
      "input":{"shape":"AssociateInstanceStorageConfigRequest"},
      "output":{"shape":"AssociateInstanceStorageConfigResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Associates a storage resource type for the first time. You can only associate one type of storage configuration in a single call. This means, for example, that you can't define an instance with multiple S3 buckets for storing chat transcripts.</p> <p>This API does not create a resource that doesn't exist. It only associates it to the instance. Ensure that the resource being specified in the storage configuration, like an S3 bucket, exists when being used for association.</p>"
    },
    "AssociateLambdaFunction":{
      "name":"AssociateLambdaFunction",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/lambda-function"
      },
      "input":{"shape":"AssociateLambdaFunctionRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Allows the specified Amazon Connect instance to access the specified Lambda function.</p>"
    },
    "AssociateLexBot":{
      "name":"AssociateLexBot",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/lex-bot"
      },
      "input":{"shape":"AssociateLexBotRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Allows the specified Amazon Connect instance to access the specified Amazon Lex V1 bot. This API only supports the association of Amazon Lex V1 bots.</p>"
    },
    "AssociatePhoneNumberContactFlow":{
      "name":"AssociatePhoneNumberContactFlow",
      "http":{
        "method":"PUT",
        "requestUri":"/phone-number/{PhoneNumberId}/contact-flow"
      },
      "input":{"shape":"AssociatePhoneNumberContactFlowRequest"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Associates a flow with a phone number claimed to your Amazon Connect instance.</p> <important> <p>If the number is claimed to a traffic distribution group, and you are calling this API using an instance in the Amazon Web Services Region where the traffic distribution group was created, you can use either a full phone number ARN or UUID value for the <code>PhoneNumberId</code> URI request parameter. However, if the number is claimed to a traffic distribution group and you are calling this API using an instance in the alternate Amazon Web Services Region associated with the traffic distribution group, you must provide a full phone number ARN. If a UUID is provided in this scenario, you will receive a <code>ResourceNotFoundException</code>.</p> </important>"
    },
    "AssociateQueueQuickConnects":{
      "name":"AssociateQueueQuickConnects",
      "http":{
        "method":"POST",
        "requestUri":"/queues/{InstanceId}/{QueueId}/associate-quick-connects"
      },
      "input":{"shape":"AssociateQueueQuickConnectsRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Associates a set of quick connects with a queue.</p>"
    },
    "AssociateRoutingProfileQueues":{
      "name":"AssociateRoutingProfileQueues",
      "http":{
        "method":"POST",
        "requestUri":"/routing-profiles/{InstanceId}/{RoutingProfileId}/associate-queues"
      },
      "input":{"shape":"AssociateRoutingProfileQueuesRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Associates a set of queues with a routing profile.</p>"
    },
    "AssociateSecurityKey":{
      "name":"AssociateSecurityKey",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/security-key"
      },
      "input":{"shape":"AssociateSecurityKeyRequest"},
      "output":{"shape":"AssociateSecurityKeyResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Associates a security key to the instance.</p>"
    },
    "AssociateTrafficDistributionGroupUser":{
      "name":"AssociateTrafficDistributionGroupUser",
      "http":{
        "method":"PUT",
        "requestUri":"/traffic-distribution-group/{TrafficDistributionGroupId}/user"
      },
      "input":{"shape":"AssociateTrafficDistributionGroupUserRequest"},
      "output":{"shape":"AssociateTrafficDistributionGroupUserResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceConflictException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Associates an agent with a traffic distribution group. This API can be called only in the Region where the traffic distribution group is created.</p>",
      "idempotent":true
    },
    "AssociateUserProficiencies":{
      "name":"AssociateUserProficiencies",
      "http":{
        "method":"POST",
        "requestUri":"/users/{InstanceId}/{UserId}/associate-proficiencies"
      },
      "input":{"shape":"AssociateUserProficienciesRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Associates a set of proficiencies with a user.</p>"
    },
    "BatchAssociateAnalyticsDataSet":{
      "name":"BatchAssociateAnalyticsDataSet",
      "http":{
        "method":"PUT",
        "requestUri":"/analytics-data/instance/{InstanceId}/associations"
      },
      "input":{"shape":"BatchAssociateAnalyticsDataSetRequest"},
      "output":{"shape":"BatchAssociateAnalyticsDataSetResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Associates a list of analytics datasets for a given Amazon Connect instance to a target account. You can associate multiple datasets in a single call.</p>"
    },
    "BatchDisassociateAnalyticsDataSet":{
      "name":"BatchDisassociateAnalyticsDataSet",
      "http":{
        "method":"POST",
        "requestUri":"/analytics-data/instance/{InstanceId}/associations"
      },
      "input":{"shape":"BatchDisassociateAnalyticsDataSetRequest"},
      "output":{"shape":"BatchDisassociateAnalyticsDataSetResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Removes a list of analytics datasets associated with a given Amazon Connect instance. You can disassociate multiple datasets in a single call.</p>"
    },
    "BatchGetAttachedFileMetadata":{
      "name":"BatchGetAttachedFileMetadata",
      "http":{
        "method":"POST",
        "requestUri":"/attached-files/{InstanceId}"
      },
      "input":{"shape":"BatchGetAttachedFileMetadataRequest"},
      "output":{"shape":"BatchGetAttachedFileMetadataResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Allows you to retrieve metadata about multiple attached files on an associated resource. Each attached file provided in the input list must be associated with the input AssociatedResourceArn.</p>"
    },
    "BatchGetFlowAssociation":{
      "name":"BatchGetFlowAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/flow-associations-batch/{InstanceId}"
      },
      "input":{"shape":"BatchGetFlowAssociationRequest"},
      "output":{"shape":"BatchGetFlowAssociationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Retrieve the flow associations for the given resources.</p>"
    },
    "BatchPutContact":{
      "name":"BatchPutContact",
      "http":{
        "method":"PUT",
        "requestUri":"/contact/batch/{InstanceId}"
      },
      "input":{"shape":"BatchPutContactRequest"},
      "output":{"shape":"BatchPutContactResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"IdempotencyException"}
      ],
      "documentation":"<note> <p>Only the Amazon Connect outbound campaigns service principal is allowed to assume a role in your account and call this API.</p> </note> <p>Allows you to create a batch of contacts in Amazon Connect. The outbound campaigns capability ingests dial requests via the <a href=\"https://docs.aws.amazon.com/connect-outbound/latest/APIReference/API_PutDialRequestBatch.html\">PutDialRequestBatch</a> API. It then uses BatchPutContact to create contacts corresponding to those dial requests. If agents are available, the dial requests are dialed out, which results in a voice call. The resulting voice call uses the same contactId that was created by BatchPutContact. </p>",
      "idempotent":true
    },
    "ClaimPhoneNumber":{
      "name":"ClaimPhoneNumber",
      "http":{
        "method":"POST",
        "requestUri":"/phone-number/claim"
      },
      "input":{"shape":"ClaimPhoneNumberRequest"},
      "output":{"shape":"ClaimPhoneNumberResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"IdempotencyException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Claims an available phone number to your Amazon Connect instance or traffic distribution group. You can call this API only in the same Amazon Web Services Region where the Amazon Connect instance or traffic distribution group was created.</p> <p>For more information about how to use this operation, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/claim-phone-number.html\">Claim a phone number in your country</a> and <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/claim-phone-numbers-traffic-distribution-groups.html\">Claim phone numbers to traffic distribution groups</a> in the <i>Amazon Connect Administrator Guide</i>. </p> <important> <p>You can call the <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_SearchAvailablePhoneNumbers.html\">SearchAvailablePhoneNumbers</a> API for available phone numbers that you can claim. Call the <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_DescribePhoneNumber.html\">DescribePhoneNumber</a> API to verify the status of a previous <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_ClaimPhoneNumber.html\">ClaimPhoneNumber</a> operation.</p> </important> <p>If you plan to claim and release numbers frequently, contact us for a service quota exception. Otherwise, it is possible you will be blocked from claiming and releasing any more numbers until up to 180 days past the oldest number released has expired.</p> <p>By default you can claim and release up to 200% of your maximum number of active phone numbers. If you claim and release phone numbers using the UI or API during a rolling 180 day cycle that exceeds 200% of your phone number service level quota, you will be blocked from claiming any more numbers until 180 days past the oldest number released has expired. </p> <p>For example, if you already have 99 claimed numbers and a service level quota of 99 phone numbers, and in any 180 day period you release 99, claim 99, and then release 99, you will have exceeded the 200% limit. At that point you are blocked from claiming any more numbers until you open an Amazon Web Services support ticket.</p>"
    },
    "CompleteAttachedFileUpload":{
      "name":"CompleteAttachedFileUpload",
      "http":{
        "method":"POST",
        "requestUri":"/attached-files/{InstanceId}/{FileId}"
      },
      "input":{"shape":"CompleteAttachedFileUploadRequest"},
      "output":{"shape":"CompleteAttachedFileUploadResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Allows you to confirm that the attached file has been uploaded using the pre-signed URL provided in the StartAttachedFileUpload API.</p>"
    },
    "CreateAgentStatus":{
      "name":"CreateAgentStatus",
      "http":{
        "method":"PUT",
        "requestUri":"/agent-status/{InstanceId}"
      },
      "input":{"shape":"CreateAgentStatusRequest"},
      "output":{"shape":"CreateAgentStatusResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates an agent status for the specified Amazon Connect instance.</p>"
    },
    "CreateContact":{
      "name":"CreateContact",
      "http":{
        "method":"PUT",
        "requestUri":"/contact/create-contact"
      },
      "input":{"shape":"CreateContactRequest"},
      "output":{"shape":"CreateContactResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"IdempotencyException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<important> <p>Only the VOICE, EMAIL, and TASK channels are supported. </p> <ul> <li> <p>For VOICE: The supported initiation method is <code>TRANSFER</code>. The contacts created with this initiation method have a subtype <code>connect:ExternalAudio</code>. </p> </li> <li> <p>For EMAIL: The supported initiation methods are <code>OUTBOUND</code>, <code>AGENT_REPLY</code>, and <code>FLOW</code>. </p> </li> <li> <p>For TASK: The supported initiation method is <code>API</code>. Contacts created with this API have a sub-type of <code>connect:ExternalTask</code>.</p> </li> </ul> </important> <p>Creates a new VOICE, EMAIL, or TASK contact. </p> <p>After a contact is created, you can move it to the desired state by using the <code>InitiateAs</code> parameter. While you can use API to create task contacts that are in the <code>COMPLETED</code> state, you must contact Amazon Web Services Support before using it for bulk import use cases. Bulk import causes your requests to be throttled or fail if your CreateContact limits aren't high enough. </p>"
    },
    "CreateContactFlow":{
      "name":"CreateContactFlow",
      "http":{
        "method":"PUT",
        "requestUri":"/contact-flows/{InstanceId}"
      },
      "input":{"shape":"CreateContactFlowRequest"},
      "output":{"shape":"CreateContactFlowResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidContactFlowException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates a flow for the specified Amazon Connect instance.</p> <p>You can also create and update flows using the <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/flow-language.html\">Amazon Connect Flow language</a>.</p>"
    },
    "CreateContactFlowModule":{
      "name":"CreateContactFlowModule",
      "http":{
        "method":"PUT",
        "requestUri":"/contact-flow-modules/{InstanceId}"
      },
      "input":{"shape":"CreateContactFlowModuleRequest"},
      "output":{"shape":"CreateContactFlowModuleResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidContactFlowModuleException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"IdempotencyException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates a flow module for the specified Amazon Connect instance. </p>"
    },
    "CreateContactFlowVersion":{
      "name":"CreateContactFlowVersion",
      "http":{
        "method":"PUT",
        "requestUri":"/contact-flows/{InstanceId}/{ContactFlowId}/version"
      },
      "input":{"shape":"CreateContactFlowVersionRequest"},
      "output":{"shape":"CreateContactFlowVersionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Publishes a new version of the flow provided. Versions are immutable and monotonically increasing. If the <code>FlowContentSha256</code> provided is different from the <code>FlowContentSha256</code> of the <code>$LATEST</code> published flow content, then an error is returned. This API only supports creating versions for flows of type <code>Campaign</code>.</p>"
    },
    "CreateEmailAddress":{
      "name":"CreateEmailAddress",
      "http":{
        "method":"PUT",
        "requestUri":"/email-addresses/{InstanceId}"
      },
      "input":{"shape":"CreateEmailAddressRequest"},
      "output":{"shape":"CreateEmailAddressResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceException"},
        {"shape":"IdempotencyException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p>Create new email address in the specified Amazon Connect instance. For more information about email addresses, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/create-email-address1.html\">Create email addresses</a> in the Amazon Connect Administrator Guide.</p>"
    },
    "CreateEvaluationForm":{
      "name":"CreateEvaluationForm",
      "http":{
        "method":"PUT",
        "requestUri":"/evaluation-forms/{InstanceId}"
      },
      "input":{"shape":"CreateEvaluationFormRequest"},
      "output":{"shape":"CreateEvaluationFormResponse"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p>Creates an evaluation form in the specified Amazon Connect instance. The form can be used to define questions related to agent performance, and create sections to organize such questions. Question and section identifiers cannot be duplicated within the same evaluation form.</p>",
      "idempotent":true
    },
    "CreateHoursOfOperation":{
      "name":"CreateHoursOfOperation",
      "http":{
        "method":"PUT",
        "requestUri":"/hours-of-operations/{InstanceId}"
      },
      "input":{"shape":"CreateHoursOfOperationRequest"},
      "output":{"shape":"CreateHoursOfOperationResponse"},
      "errors":[
        {"shape":"DuplicateResourceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates hours of operation. </p>"
    },
    "CreateHoursOfOperationOverride":{
      "name":"CreateHoursOfOperationOverride",
      "http":{
        "method":"PUT",
        "requestUri":"/hours-of-operations/{InstanceId}/{HoursOfOperationId}/overrides"
      },
      "input":{"shape":"CreateHoursOfOperationOverrideRequest"},
      "output":{"shape":"CreateHoursOfOperationOverrideResponse"},
      "errors":[
        {"shape":"DuplicateResourceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates an hours of operation override in an Amazon Connect hours of operation resource.</p>"
    },
    "CreateInstance":{
      "name":"CreateInstance",
      "http":{
        "method":"PUT",
        "requestUri":"/instance"
      },
      "input":{"shape":"CreateInstanceRequest"},
      "output":{"shape":"CreateInstanceResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Initiates an Amazon Connect instance with all the supported channels enabled. It does not attach any storage, such as Amazon Simple Storage Service (Amazon S3) or Amazon Kinesis. It also does not allow for any configurations on features, such as Contact Lens for Amazon Connect. </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-instances.html\">Create an Amazon Connect instance</a> in the <i>Amazon Connect Administrator Guide</i>.</p> <p>Amazon Connect enforces a limit on the total number of instances that you can create or delete in 30 days. If you exceed this limit, you will get an error message indicating there has been an excessive number of attempts at creating or deleting instances. You must wait 30 days before you can restart creating and deleting instances in your account.</p>"
    },
    "CreateIntegrationAssociation":{
      "name":"CreateIntegrationAssociation",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/integration-associations"
      },
      "input":{"shape":"CreateIntegrationAssociationRequest"},
      "output":{"shape":"CreateIntegrationAssociationResponse"},
      "errors":[
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates an Amazon Web Services resource association with an Amazon Connect instance.</p>"
    },
    "CreateParticipant":{
      "name":"CreateParticipant",
      "http":{
        "method":"POST",
        "requestUri":"/contact/create-participant"
      },
      "input":{"shape":"CreateParticipantRequest"},
      "output":{"shape":"CreateParticipantResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Adds a new participant into an on-going chat contact or webRTC call. For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/chat-customize-flow.html\">Customize chat flow experiences by integrating custom participants</a> or <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/enable-multiuser-inapp.html\">Enable multi-user web, in-app, and video calling</a>.</p>"
    },
    "CreatePersistentContactAssociation":{
      "name":"CreatePersistentContactAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/contact/persistent-contact-association/{InstanceId}/{InitialContactId}"
      },
      "input":{"shape":"CreatePersistentContactAssociationRequest"},
      "output":{"shape":"CreatePersistentContactAssociationResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Enables rehydration of chats for the lifespan of a contact. For more information about chat rehydration, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/chat-persistence.html\">Enable persistent chat</a> in the <i>Amazon Connect Administrator Guide</i>. </p>"
    },
    "CreatePredefinedAttribute":{
      "name":"CreatePredefinedAttribute",
      "http":{
        "method":"PUT",
        "requestUri":"/predefined-attributes/{InstanceId}"
      },
      "input":{"shape":"CreatePredefinedAttributeRequest"},
      "errors":[
        {"shape":"DuplicateResourceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates a new predefined attribute for the specified Amazon Connect instance. A <i>predefined attribute</i> is made up of a name and a value.</p> <p>For the predefined attributes per instance quota, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html#connect-quotas\">Amazon Connect quotas</a>.</p> <p> <b>Use cases</b> </p> <p>Following are common uses cases for this API:</p> <ul> <li> <p>Create an attribute for routing proficiency (for example, agent certification) that has predefined values (for example, a list of possible certifications). For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/predefined-attributes.html\">Create predefined attributes for routing contacts to agents</a>.</p> </li> <li> <p>Create an attribute for business unit name that has a list of predefined business unit names used in your organization. This is a use case where information for a contact varies between transfers or conferences. For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/use-contact-segment-attributes.html\">Use contact segment attributes</a>.</p> </li> </ul> <p> <b>Endpoints</b>: See <a href=\"https://docs.aws.amazon.com/general/latest/gr/connect_region.html\">Amazon Connect endpoints and quotas</a>.</p>"
    },
    "CreatePrompt":{
      "name":"CreatePrompt",
      "http":{
        "method":"PUT",
        "requestUri":"/prompts/{InstanceId}"
      },
      "input":{"shape":"CreatePromptRequest"},
      "output":{"shape":"CreatePromptResponse"},
      "errors":[
        {"shape":"DuplicateResourceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates a prompt. For more information about prompts, such as supported file types and maximum length, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/prompts.html\">Create prompts</a> in the <i>Amazon Connect Administrator Guide</i>.</p>"
    },
    "CreatePushNotificationRegistration":{
      "name":"CreatePushNotificationRegistration",
      "http":{
        "method":"PUT",
        "requestUri":"/push-notification/{InstanceId}/registrations"
      },
      "input":{"shape":"CreatePushNotificationRegistrationRequest"},
      "output":{"shape":"CreatePushNotificationRegistrationResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates registration for a device token and a chat contact to receive real-time push notifications. For more information about push notifications, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/enable-push-notifications-for-mobile-chat.html\">Set up push notifications in Amazon Connect for mobile chat</a> in the <i>Amazon Connect Administrator Guide</i>.</p>"
    },
    "CreateQueue":{
      "name":"CreateQueue",
      "http":{
        "method":"PUT",
        "requestUri":"/queues/{InstanceId}"
      },
      "input":{"shape":"CreateQueueRequest"},
      "output":{"shape":"CreateQueueResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates a new queue for the specified Amazon Connect instance.</p> <important> <ul> <li> <p>If the phone number is claimed to a traffic distribution group that was created in the same Region as the Amazon Connect instance where you are calling this API, then you can use a full phone number ARN or a UUID for <code>OutboundCallerIdNumberId</code>. However, if the phone number is claimed to a traffic distribution group that is in one Region, and you are calling this API from an instance in another Amazon Web Services Region that is associated with the traffic distribution group, you must provide a full phone number ARN. If a UUID is provided in this scenario, you will receive a <code>ResourceNotFoundException</code>.</p> </li> <li> <p>Only use the phone number ARN format that doesn't contain <code>instance</code> in the path, for example, <code>arn:aws:connect:us-east-1:1234567890:phone-number/uuid</code>. This is the same ARN format that is returned when you call the <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_ListPhoneNumbersV2.html\">ListPhoneNumbersV2</a> API.</p> </li> <li> <p>If you plan to use IAM policies to allow/deny access to this API for phone number resources claimed to a traffic distribution group, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/security_iam_resource-level-policy-examples.html#allow-deny-queue-actions-replica-region\">Allow or Deny queue API actions for phone numbers in a replica Region</a>.</p> </li> </ul> </important>"
    },
    "CreateQuickConnect":{
      "name":"CreateQuickConnect",
      "http":{
        "method":"PUT",
        "requestUri":"/quick-connects/{InstanceId}"
      },
      "input":{"shape":"CreateQuickConnectRequest"},
      "output":{"shape":"CreateQuickConnectResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates a quick connect for the specified Amazon Connect instance.</p>"
    },
    "CreateRoutingProfile":{
      "name":"CreateRoutingProfile",
      "http":{
        "method":"PUT",
        "requestUri":"/routing-profiles/{InstanceId}"
      },
      "input":{"shape":"CreateRoutingProfileRequest"},
      "output":{"shape":"CreateRoutingProfileResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates a new routing profile.</p>"
    },
    "CreateRule":{
      "name":"CreateRule",
      "http":{
        "method":"POST",
        "requestUri":"/rules/{InstanceId}"
      },
      "input":{"shape":"CreateRuleRequest"},
      "output":{"shape":"CreateRuleResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a rule for the specified Amazon Connect instance.</p> <p>Use the <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/connect-rules-language.html\">Rules Function language</a> to code conditions for the rule. </p>"
    },
    "CreateSecurityProfile":{
      "name":"CreateSecurityProfile",
      "http":{
        "method":"PUT",
        "requestUri":"/security-profiles/{InstanceId}"
      },
      "input":{"shape":"CreateSecurityProfileRequest"},
      "output":{"shape":"CreateSecurityProfileResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"LimitExceededException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates a security profile.</p> <p>For information about security profiles, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/connect-security-profiles.html\">Security Profiles</a> in the <i>Amazon Connect Administrator Guide</i>. For a mapping of the API name and user interface name of the security profile permissions, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/security-profile-list.html\">List of security profile permissions</a>. </p>"
    },
    "CreateTaskTemplate":{
      "name":"CreateTaskTemplate",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/task/template"
      },
      "input":{"shape":"CreateTaskTemplateRequest"},
      "output":{"shape":"CreateTaskTemplateResponse"},
      "errors":[
        {"shape":"PropertyValidationException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates a new task template in the specified Amazon Connect instance.</p>"
    },
    "CreateTrafficDistributionGroup":{
      "name":"CreateTrafficDistributionGroup",
      "http":{
        "method":"PUT",
        "requestUri":"/traffic-distribution-group"
      },
      "input":{"shape":"CreateTrafficDistributionGroupRequest"},
      "output":{"shape":"CreateTrafficDistributionGroupResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ResourceNotReadyException"}
      ],
      "documentation":"<p>Creates a traffic distribution group given an Amazon Connect instance that has been replicated.</p> <note> <p>The <code>SignInConfig</code> distribution is available only on a default <code>TrafficDistributionGroup</code> (see the <code>IsDefault</code> parameter in the <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_TrafficDistributionGroup.html\">TrafficDistributionGroup</a> data type). If you call <code>UpdateTrafficDistribution</code> with a modified <code>SignInConfig</code> and a non-default <code>TrafficDistributionGroup</code>, an <code>InvalidRequestException</code> is returned.</p> </note> <p>For more information about creating traffic distribution groups, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/setup-traffic-distribution-groups.html\">Set up traffic distribution groups</a> in the <i>Amazon Connect Administrator Guide</i>. </p>"
    },
    "CreateUseCase":{
      "name":"CreateUseCase",
      "http":{
        "method":"PUT",
        "requestUri":"/instance/{InstanceId}/integration-associations/{IntegrationAssociationId}/use-cases"
      },
      "input":{"shape":"CreateUseCaseRequest"},
      "output":{"shape":"CreateUseCaseResponse"},
      "errors":[
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a use case for an integration association.</p>"
    },
    "CreateUser":{
      "name":"CreateUser",
      "http":{
        "method":"PUT",
        "requestUri":"/users/{InstanceId}"
      },
      "input":{"shape":"CreateUserRequest"},
      "output":{"shape":"CreateUserResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"LimitExceededException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates a user account for the specified Amazon Connect instance.</p> <important> <p>Certain <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_UserIdentityInfo.html\">UserIdentityInfo</a> parameters are required in some situations. For example, <code>Email</code>, <code>FirstName</code> and <code>LastName</code> are required if you are using Amazon Connect or SAML for identity management.</p> </important> <p>For information about how to create users using the Amazon Connect admin website, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/user-management.html\">Add Users</a> in the <i>Amazon Connect Administrator Guide</i>.</p>"
    },
    "CreateUserHierarchyGroup":{
      "name":"CreateUserHierarchyGroup",
      "http":{
        "method":"PUT",
        "requestUri":"/user-hierarchy-groups/{InstanceId}"
      },
      "input":{"shape":"CreateUserHierarchyGroupRequest"},
      "output":{"shape":"CreateUserHierarchyGroupResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Creates a new user hierarchy group.</p>"
    },
    "CreateView":{
      "name":"CreateView",
      "http":{
        "method":"PUT",
        "requestUri":"/views/{InstanceId}"
      },
      "input":{"shape":"CreateViewRequest"},
      "output":{"shape":"CreateViewResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Creates a new view with the possible status of <code>SAVED</code> or <code>PUBLISHED</code>.</p> <p>The views will have a unique name for each connect instance.</p> <p>It performs basic content validation if the status is <code>SAVED</code> or full content validation if the status is set to <code>PUBLISHED</code>. An error is returned if validation fails. It associates either the <code>$SAVED</code> qualifier or both of the <code>$SAVED</code> and <code>$LATEST</code> qualifiers with the provided view content based on the status. The view is idempotent if ClientToken is provided.</p>",
      "idempotent":true
    },
    "CreateViewVersion":{
      "name":"CreateViewVersion",
      "http":{
        "method":"PUT",
        "requestUri":"/views/{InstanceId}/{ViewId}/versions"
      },
      "input":{"shape":"CreateViewVersionRequest"},
      "output":{"shape":"CreateViewVersionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Publishes a new version of the view identifier.</p> <p>Versions are immutable and monotonically increasing.</p> <p>It returns the highest version if there is no change in content compared to that version. An error is displayed if the supplied ViewContentSha256 is different from the ViewContentSha256 of the <code>$LATEST</code> alias.</p>",
      "idempotent":true
    },
    "CreateVocabulary":{
      "name":"CreateVocabulary",
      "http":{
        "method":"POST",
        "requestUri":"/vocabulary/{InstanceId}"
      },
      "input":{"shape":"CreateVocabularyRequest"},
      "output":{"shape":"CreateVocabularyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceConflictException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a custom vocabulary associated with your Amazon Connect instance. You can set a custom vocabulary to be your default vocabulary for a given language. Contact Lens for Amazon Connect uses the default vocabulary in post-call and real-time contact analysis sessions for that language.</p>"
    },
    "DeactivateEvaluationForm":{
      "name":"DeactivateEvaluationForm",
      "http":{
        "method":"POST",
        "requestUri":"/evaluation-forms/{InstanceId}/{EvaluationFormId}/deactivate"
      },
      "input":{"shape":"DeactivateEvaluationFormRequest"},
      "output":{"shape":"DeactivateEvaluationFormResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p>Deactivates an evaluation form in the specified Amazon Connect instance. After a form is deactivated, it is no longer available for users to start new evaluations based on the form. </p>"
    },
    "DeleteAttachedFile":{
      "name":"DeleteAttachedFile",
      "http":{
        "method":"DELETE",
        "requestUri":"/attached-files/{InstanceId}/{FileId}"
      },
      "input":{"shape":"DeleteAttachedFileRequest"},
      "output":{"shape":"DeleteAttachedFileResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes an attached file along with the underlying S3 Object.</p> <important> <p>The attached file is <b>permanently deleted</b> if S3 bucket versioning is not enabled.</p> </important>"
    },
    "DeleteContactEvaluation":{
      "name":"DeleteContactEvaluation",
      "http":{
        "method":"DELETE",
        "requestUri":"/contact-evaluations/{InstanceId}/{EvaluationId}"
      },
      "input":{"shape":"DeleteContactEvaluationRequest"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p>Deletes a contact evaluation in the specified Amazon Connect instance.</p>",
      "idempotent":true
    },
    "DeleteContactFlow":{
      "name":"DeleteContactFlow",
      "http":{
        "method":"DELETE",
        "requestUri":"/contact-flows/{InstanceId}/{ContactFlowId}"
      },
      "input":{"shape":"DeleteContactFlowRequest"},
      "output":{"shape":"DeleteContactFlowResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a flow for the specified Amazon Connect instance.</p>"
    },
    "DeleteContactFlowModule":{
      "name":"DeleteContactFlowModule",
      "http":{
        "method":"DELETE",
        "requestUri":"/contact-flow-modules/{InstanceId}/{ContactFlowModuleId}"
      },
      "input":{"shape":"DeleteContactFlowModuleRequest"},
      "output":{"shape":"DeleteContactFlowModuleResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Deletes the specified flow module.</p>"
    },
    "DeleteContactFlowVersion":{
      "name":"DeleteContactFlowVersion",
      "http":{
        "method":"DELETE",
        "requestUri":"/contact-flows/{InstanceId}/{ContactFlowId}/version/{ContactFlowVersion}"
      },
      "input":{"shape":"DeleteContactFlowVersionRequest"},
      "output":{"shape":"DeleteContactFlowVersionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes the particular version specified in flow version identifier.</p>"
    },
    "DeleteEmailAddress":{
      "name":"DeleteEmailAddress",
      "http":{
        "method":"DELETE",
        "requestUri":"/email-addresses/{InstanceId}/{EmailAddressId}"
      },
      "input":{"shape":"DeleteEmailAddressRequest"},
      "output":{"shape":"DeleteEmailAddressResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p>Deletes email address from the specified Amazon Connect instance.</p>"
    },
    "DeleteEvaluationForm":{
      "name":"DeleteEvaluationForm",
      "http":{
        "method":"DELETE",
        "requestUri":"/evaluation-forms/{InstanceId}/{EvaluationFormId}"
      },
      "input":{"shape":"DeleteEvaluationFormRequest"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"ResourceConflictException"}
      ],
      "documentation":"<p>Deletes an evaluation form in the specified Amazon Connect instance. </p> <ul> <li> <p>If the version property is provided, only the specified version of the evaluation form is deleted.</p> </li> <li> <p>If no version is provided, then the full form (all versions) is deleted.</p> </li> </ul>",
      "idempotent":true
    },
    "DeleteHoursOfOperation":{
      "name":"DeleteHoursOfOperation",
      "http":{
        "method":"DELETE",
        "requestUri":"/hours-of-operations/{InstanceId}/{HoursOfOperationId}"
      },
      "input":{"shape":"DeleteHoursOfOperationRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Deletes an hours of operation.</p>"
    },
    "DeleteHoursOfOperationOverride":{
      "name":"DeleteHoursOfOperationOverride",
      "http":{
        "method":"DELETE",
        "requestUri":"/hours-of-operations/{InstanceId}/{HoursOfOperationId}/overrides/{HoursOfOperationOverrideId}"
      },
      "input":{"shape":"DeleteHoursOfOperationOverrideRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Deletes an hours of operation override in an Amazon Connect hours of operation resource.</p>"
    },
    "DeleteInstance":{
      "name":"DeleteInstance",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}"
      },
      "input":{"shape":"DeleteInstanceRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Deletes the Amazon Connect instance. For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/delete-connect-instance.html\">Delete your Amazon Connect instance</a> in the <i>Amazon Connect Administrator Guide</i>.</p> <p>Amazon Connect enforces a limit on the total number of instances that you can create or delete in 30 days. If you exceed this limit, you will get an error message indicating there has been an excessive number of attempts at creating or deleting instances. You must wait 30 days before you can restart creating and deleting instances in your account.</p>"
    },
    "DeleteIntegrationAssociation":{
      "name":"DeleteIntegrationAssociation",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}/integration-associations/{IntegrationAssociationId}"
      },
      "input":{"shape":"DeleteIntegrationAssociationRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes an Amazon Web Services resource association from an Amazon Connect instance. The association must not have any use cases associated with it.</p>"
    },
    "DeletePredefinedAttribute":{
      "name":"DeletePredefinedAttribute",
      "http":{
        "method":"DELETE",
        "requestUri":"/predefined-attributes/{InstanceId}/{Name}"
      },
      "input":{"shape":"DeletePredefinedAttributeRequest"},
      "errors":[
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Deletes a predefined attribute from the specified Amazon Connect instance.</p>",
      "idempotent":true
    },
    "DeletePrompt":{
      "name":"DeletePrompt",
      "http":{
        "method":"DELETE",
        "requestUri":"/prompts/{InstanceId}/{PromptId}"
      },
      "input":{"shape":"DeletePromptRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Deletes a prompt.</p>"
    },
    "DeletePushNotificationRegistration":{
      "name":"DeletePushNotificationRegistration",
      "http":{
        "method":"DELETE",
        "requestUri":"/push-notification/{InstanceId}/registrations/{RegistrationId}"
      },
      "input":{"shape":"DeletePushNotificationRegistrationRequest"},
      "output":{"shape":"DeletePushNotificationRegistrationResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes registration for a device token and a chat contact.</p>"
    },
    "DeleteQueue":{
      "name":"DeleteQueue",
      "http":{
        "method":"DELETE",
        "requestUri":"/queues/{InstanceId}/{QueueId}"
      },
      "input":{"shape":"DeleteQueueRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Deletes a queue.</p>"
    },
    "DeleteQuickConnect":{
      "name":"DeleteQuickConnect",
      "http":{
        "method":"DELETE",
        "requestUri":"/quick-connects/{InstanceId}/{QuickConnectId}"
      },
      "input":{"shape":"DeleteQuickConnectRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Deletes a quick connect. </p> <important> <p>After calling <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_DeleteUser.html\">DeleteUser</a>, it's important to call <code>DeleteQuickConnect</code> to delete any records related to the deleted users. This will help you:</p> <ul> <li> <p>Avoid dangling resources that impact your service quotas.</p> </li> <li> <p>Remove deleted users so they don't appear to agents as transfer options.</p> </li> <li> <p>Avoid the disruption of other Amazon Connect processes, such as instance replication and syncing if you're using <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/setup-connect-global-resiliency.html\">Amazon Connect Global Resiliency</a>. </p> </li> </ul> </important>"
    },
    "DeleteRoutingProfile":{
      "name":"DeleteRoutingProfile",
      "http":{
        "method":"DELETE",
        "requestUri":"/routing-profiles/{InstanceId}/{RoutingProfileId}"
      },
      "input":{"shape":"DeleteRoutingProfileRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Deletes a routing profile.</p>"
    },
    "DeleteRule":{
      "name":"DeleteRule",
      "http":{
        "method":"DELETE",
        "requestUri":"/rules/{InstanceId}/{RuleId}"
      },
      "input":{"shape":"DeleteRuleRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a rule for the specified Amazon Connect instance.</p>"
    },
    "DeleteSecurityProfile":{
      "name":"DeleteSecurityProfile",
      "http":{
        "method":"DELETE",
        "requestUri":"/security-profiles/{InstanceId}/{SecurityProfileId}"
      },
      "input":{"shape":"DeleteSecurityProfileRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Deletes a security profile.</p>"
    },
    "DeleteTaskTemplate":{
      "name":"DeleteTaskTemplate",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}/task/template/{TaskTemplateId}"
      },
      "input":{"shape":"DeleteTaskTemplateRequest"},
      "output":{"shape":"DeleteTaskTemplateResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Deletes the task template.</p>"
    },
    "DeleteTrafficDistributionGroup":{
      "name":"DeleteTrafficDistributionGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/traffic-distribution-group/{TrafficDistributionGroupId}"
      },
      "input":{"shape":"DeleteTrafficDistributionGroupRequest"},
      "output":{"shape":"DeleteTrafficDistributionGroupResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Deletes a traffic distribution group. This API can be called only in the Region where the traffic distribution group is created.</p> <p>For more information about deleting traffic distribution groups, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/delete-traffic-distribution-groups.html\">Delete traffic distribution groups</a> in the <i>Amazon Connect Administrator Guide</i>.</p>"
    },
    "DeleteUseCase":{
      "name":"DeleteUseCase",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}/integration-associations/{IntegrationAssociationId}/use-cases/{UseCaseId}"
      },
      "input":{"shape":"DeleteUseCaseRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a use case from an integration association.</p>"
    },
    "DeleteUser":{
      "name":"DeleteUser",
      "http":{
        "method":"DELETE",
        "requestUri":"/users/{InstanceId}/{UserId}"
      },
      "input":{"shape":"DeleteUserRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Deletes a user account from the specified Amazon Connect instance.</p> <p>For information about what happens to a user's data when their account is deleted, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/delete-users.html\">Delete Users from Your Amazon Connect Instance</a> in the <i>Amazon Connect Administrator Guide</i>.</p> <important> <p>After calling DeleteUser, call <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_DeleteQuickConnect.html\">DeleteQuickConnect</a> to delete any records related to the deleted users. This will help you:</p> <ul> <li> <p>Avoid dangling resources that impact your service quotas.</p> </li> <li> <p>Remove deleted users so they don't appear to agents as transfer options.</p> </li> <li> <p>Avoid the disruption of other Amazon Connect processes, such as instance replication and syncing if you're using <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/setup-connect-global-resiliency.html\">Amazon Connect Global Resiliency</a>. </p> </li> </ul> </important>"
    },
    "DeleteUserHierarchyGroup":{
      "name":"DeleteUserHierarchyGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/user-hierarchy-groups/{InstanceId}/{HierarchyGroupId}"
      },
      "input":{"shape":"DeleteUserHierarchyGroupRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Deletes an existing user hierarchy group. It must not be associated with any agents or have any active child groups.</p>"
    },
    "DeleteView":{
      "name":"DeleteView",
      "http":{
        "method":"DELETE",
        "requestUri":"/views/{InstanceId}/{ViewId}"
      },
      "input":{"shape":"DeleteViewRequest"},
      "output":{"shape":"DeleteViewResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Deletes the view entirely. It deletes the view and all associated qualifiers (versions and aliases).</p>"
    },
    "DeleteViewVersion":{
      "name":"DeleteViewVersion",
      "http":{
        "method":"DELETE",
        "requestUri":"/views/{InstanceId}/{ViewId}/versions/{ViewVersion}"
      },
      "input":{"shape":"DeleteViewVersionRequest"},
      "output":{"shape":"DeleteViewVersionResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Deletes the particular version specified in <code>ViewVersion</code> identifier.</p>"
    },
    "DeleteVocabulary":{
      "name":"DeleteVocabulary",
      "http":{
        "method":"POST",
        "requestUri":"/vocabulary-remove/{InstanceId}/{VocabularyId}"
      },
      "input":{"shape":"DeleteVocabularyRequest"},
      "output":{"shape":"DeleteVocabularyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Deletes the vocabulary that has the given identifier.</p>"
    },
    "DescribeAgentStatus":{
      "name":"DescribeAgentStatus",
      "http":{
        "method":"GET",
        "requestUri":"/agent-status/{InstanceId}/{AgentStatusId}"
      },
      "input":{"shape":"DescribeAgentStatusRequest"},
      "output":{"shape":"DescribeAgentStatusResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes an agent status.</p>"
    },
    "DescribeAuthenticationProfile":{
      "name":"DescribeAuthenticationProfile",
      "http":{
        "method":"GET",
        "requestUri":"/authentication-profiles/{InstanceId}/{AuthenticationProfileId}"
      },
      "input":{"shape":"DescribeAuthenticationProfileRequest"},
      "output":{"shape":"DescribeAuthenticationProfileResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change. To request access to this API, contact Amazon Web Services Support.</p> <p>Describes the target authentication profile.</p>"
    },
    "DescribeContact":{
      "name":"DescribeContact",
      "http":{
        "method":"GET",
        "requestUri":"/contacts/{InstanceId}/{ContactId}"
      },
      "input":{"shape":"DescribeContactRequest"},
      "output":{"shape":"DescribeContactResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Describes the specified contact. </p> <important> <ul> <li> <p> <code>SystemEndpoint</code> is not populated for contacts with initiation method of MONITOR, QUEUE_TRANSFER, or CALLBACK</p> </li> <li> <p>Contact information remains available in Amazon Connect for 24 months from the <code>InitiationTimestamp</code>, and then it is deleted. Only contact information that is available in Amazon Connect is returned by this API.</p> </li> </ul> </important>"
    },
    "DescribeContactEvaluation":{
      "name":"DescribeContactEvaluation",
      "http":{
        "method":"GET",
        "requestUri":"/contact-evaluations/{InstanceId}/{EvaluationId}"
      },
      "input":{"shape":"DescribeContactEvaluationRequest"},
      "output":{"shape":"DescribeContactEvaluationResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes a contact evaluation in the specified Amazon Connect instance.</p>"
    },
    "DescribeContactFlow":{
      "name":"DescribeContactFlow",
      "http":{
        "method":"GET",
        "requestUri":"/contact-flows/{InstanceId}/{ContactFlowId}"
      },
      "input":{"shape":"DescribeContactFlowRequest"},
      "output":{"shape":"DescribeContactFlowResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ContactFlowNotPublishedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes the specified flow.</p> <p>You can also create and update flows using the <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/flow-language.html\">Amazon Connect Flow language</a>.</p> <p>Use the <code>$SAVED</code> alias in the request to describe the <code>SAVED</code> content of a Flow. For example, <code>arn:aws:.../contact-flow/{id}:$SAVED</code>. After a flow is published, <code>$SAVED</code> needs to be supplied to view saved content that has not been published.</p> <p>Use <code>arn:aws:.../contact-flow/{id}:{version}</code> to retrieve the content of a specific flow version.</p> <p>In the response, <b>Status</b> indicates the flow status as either <code>SAVED</code> or <code>PUBLISHED</code>. The <code>PUBLISHED</code> status will initiate validation on the content. <code>SAVED</code> does not initiate validation of the content. <code>SAVED</code> | <code>PUBLISHED</code> </p>"
    },
    "DescribeContactFlowModule":{
      "name":"DescribeContactFlowModule",
      "http":{
        "method":"GET",
        "requestUri":"/contact-flow-modules/{InstanceId}/{ContactFlowModuleId}"
      },
      "input":{"shape":"DescribeContactFlowModuleRequest"},
      "output":{"shape":"DescribeContactFlowModuleResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes the specified flow module.</p> <p>Use the <code>$SAVED</code> alias in the request to describe the <code>SAVED</code> content of a Flow. For example, <code>arn:aws:.../contact-flow/{id}:$SAVED</code>. After a flow is published, <code>$SAVED</code> needs to be supplied to view saved content that has not been published.</p>"
    },
    "DescribeEmailAddress":{
      "name":"DescribeEmailAddress",
      "http":{
        "method":"GET",
        "requestUri":"/email-addresses/{InstanceId}/{EmailAddressId}"
      },
      "input":{"shape":"DescribeEmailAddressRequest"},
      "output":{"shape":"DescribeEmailAddressResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describe email address form the specified Amazon Connect instance.</p>"
    },
    "DescribeEvaluationForm":{
      "name":"DescribeEvaluationForm",
      "http":{
        "method":"GET",
        "requestUri":"/evaluation-forms/{InstanceId}/{EvaluationFormId}"
      },
      "input":{"shape":"DescribeEvaluationFormRequest"},
      "output":{"shape":"DescribeEvaluationFormResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes an evaluation form in the specified Amazon Connect instance. If the version property is not provided, the latest version of the evaluation form is described.</p>"
    },
    "DescribeHoursOfOperation":{
      "name":"DescribeHoursOfOperation",
      "http":{
        "method":"GET",
        "requestUri":"/hours-of-operations/{InstanceId}/{HoursOfOperationId}"
      },
      "input":{"shape":"DescribeHoursOfOperationRequest"},
      "output":{"shape":"DescribeHoursOfOperationResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes the hours of operation.</p>"
    },
    "DescribeHoursOfOperationOverride":{
      "name":"DescribeHoursOfOperationOverride",
      "http":{
        "method":"GET",
        "requestUri":"/hours-of-operations/{InstanceId}/{HoursOfOperationId}/overrides/{HoursOfOperationOverrideId}"
      },
      "input":{"shape":"DescribeHoursOfOperationOverrideRequest"},
      "output":{"shape":"DescribeHoursOfOperationOverrideResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes the hours of operation override.</p>"
    },
    "DescribeInstance":{
      "name":"DescribeInstance",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}"
      },
      "input":{"shape":"DescribeInstanceRequest"},
      "output":{"shape":"DescribeInstanceResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Returns the current state of the specified instance identifier. It tracks the instance while it is being created and returns an error status, if applicable. </p> <p>If an instance is not created successfully, the instance status reason field returns details relevant to the reason. The instance in a failed state is returned only for 24 hours after the CreateInstance API was invoked.</p>"
    },
    "DescribeInstanceAttribute":{
      "name":"DescribeInstanceAttribute",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}/attribute/{AttributeType}"
      },
      "input":{"shape":"DescribeInstanceAttributeRequest"},
      "output":{"shape":"DescribeInstanceAttributeResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Describes the specified instance attribute.</p>"
    },
    "DescribeInstanceStorageConfig":{
      "name":"DescribeInstanceStorageConfig",
      "http":{
        "method":"GET",
        "requestUri":"/instance/{InstanceId}/storage-config/{AssociationId}"
      },
      "input":{"shape":"DescribeInstanceStorageConfigRequest"},
      "output":{"shape":"DescribeInstanceStorageConfigResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Retrieves the current storage configurations for the specified resource type, association ID, and instance ID.</p>"
    },
    "DescribePhoneNumber":{
      "name":"DescribePhoneNumber",
      "http":{
        "method":"GET",
        "requestUri":"/phone-number/{PhoneNumberId}"
      },
      "input":{"shape":"DescribePhoneNumberRequest"},
      "output":{"shape":"DescribePhoneNumberResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets details and status of a phone number that’s claimed to your Amazon Connect instance or traffic distribution group.</p> <important> <p>If the number is claimed to a traffic distribution group, and you are calling in the Amazon Web Services Region where the traffic distribution group was created, you can use either a phone number ARN or UUID value for the <code>PhoneNumberId</code> URI request parameter. However, if the number is claimed to a traffic distribution group and you are calling this API in the alternate Amazon Web Services Region associated with the traffic distribution group, you must provide a full phone number ARN. If a UUID is provided in this scenario, you receive a <code>ResourceNotFoundException</code>.</p> </important>"
    },
    "DescribePredefinedAttribute":{
      "name":"DescribePredefinedAttribute",
      "http":{
        "method":"GET",
        "requestUri":"/predefined-attributes/{InstanceId}/{Name}"
      },
      "input":{"shape":"DescribePredefinedAttributeRequest"},
      "output":{"shape":"DescribePredefinedAttributeResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes a predefined attribute for the specified Amazon Connect instance. A <i>predefined attribute</i> is made up of a name and a value. You can use predefined attributes for:</p> <ul> <li> <p>Routing proficiency (for example, agent certification) that has predefined values (for example, a list of possible certifications). For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/predefined-attributes.html\">Create predefined attributes for routing contacts to agents</a>.</p> </li> <li> <p>Contact information that varies between transfers or conferences, such as the name of the business unit handling the contact. For more information, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/use-contact-segment-attributes.html\">Use contact segment attributes</a>.</p> </li> </ul> <p>For the predefined attributes per instance quota, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/amazon-connect-service-limits.html#connect-quotas\">Amazon Connect quotas</a>.</p> <p> <b>Endpoints</b>: See <a href=\"https://docs.aws.amazon.com/general/latest/gr/connect_region.html\">Amazon Connect endpoints and quotas</a>.</p>"
    },
    "DescribePrompt":{
      "name":"DescribePrompt",
      "http":{
        "method":"GET",
        "requestUri":"/prompts/{InstanceId}/{PromptId}"
      },
      "input":{"shape":"DescribePromptRequest"},
      "output":{"shape":"DescribePromptResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes the prompt.</p>"
    },
    "DescribeQueue":{
      "name":"DescribeQueue",
      "http":{
        "method":"GET",
        "requestUri":"/queues/{InstanceId}/{QueueId}"
      },
      "input":{"shape":"DescribeQueueRequest"},
      "output":{"shape":"DescribeQueueResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes the specified queue.</p>"
    },
    "DescribeQuickConnect":{
      "name":"DescribeQuickConnect",
      "http":{
        "method":"GET",
        "requestUri":"/quick-connects/{InstanceId}/{QuickConnectId}"
      },
      "input":{"shape":"DescribeQuickConnectRequest"},
      "output":{"shape":"DescribeQuickConnectResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes the quick connect.</p>"
    },
    "DescribeRoutingProfile":{
      "name":"DescribeRoutingProfile",
      "http":{
        "method":"GET",
        "requestUri":"/routing-profiles/{InstanceId}/{RoutingProfileId}"
      },
      "input":{"shape":"DescribeRoutingProfileRequest"},
      "output":{"shape":"DescribeRoutingProfileResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes the specified routing profile.</p> <note> <p> <code>DescribeRoutingProfile</code> does not populate AssociatedQueueIds in its response. The example Response Syntax shown on this page is incorrect; we are working to update it. <a href=\"https://docs.aws.amazon.com/connect/latest/APIReference/API_SearchRoutingProfiles.html\">SearchRoutingProfiles</a> does include AssociatedQueueIds.</p> </note>"
    },
    "DescribeRule":{
      "name":"DescribeRule",
      "http":{
        "method":"GET",
        "requestUri":"/rules/{InstanceId}/{RuleId}"
      },
      "input":{"shape":"DescribeRuleRequest"},
      "output":{"shape":"DescribeRuleResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Describes a rule for the specified Amazon Connect instance.</p>"
    },
    "DescribeSecurityProfile":{
      "name":"DescribeSecurityProfile",
      "http":{
        "method":"GET",
        "requestUri":"/security-profiles/{InstanceId}/{SecurityProfileId}"
      },
      "input":{"shape":"DescribeSecurityProfileRequest"},
      "output":{"shape":"DescribeSecurityProfileResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Gets basic information about the security profile.</p> <p>For information about security profiles, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/connect-security-profiles.html\">Security Profiles</a> in the <i>Amazon Connect Administrator Guide</i>. For a mapping of the API name and user interface name of the security profile permissions, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/security-profile-list.html\">List of security profile permissions</a>. </p>"
    },
    "DescribeTrafficDistributionGroup":{
      "name":"DescribeTrafficDistributionGroup",
      "http":{
        "method":"GET",
        "requestUri":"/traffic-distribution-group/{TrafficDistributionGroupId}"
      },
      "input":{"shape":"DescribeTrafficDistributionGroupRequest"},
      "output":{"shape":"DescribeTrafficDistributionGroupResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets details and status of a traffic distribution group.</p>"
    },
    "DescribeUser":{
      "name":"DescribeUser",
      "http":{
        "method":"GET",
        "requestUri":"/users/{InstanceId}/{UserId}"
      },
      "input":{"shape":"DescribeUserRequest"},
      "output":{"shape":"DescribeUserResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes the specified user. You can <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/find-instance-arn.html\">find the instance ID in the Amazon Connect console</a> (it’s the final part of the ARN). The console does not display the user IDs. Instead, list the users and note the IDs provided in the output.</p>"
    },
    "DescribeUserHierarchyGroup":{
      "name":"DescribeUserHierarchyGroup",
      "http":{
        "method":"GET",
        "requestUri":"/user-hierarchy-groups/{InstanceId}/{HierarchyGroupId}"
      },
      "input":{"shape":"DescribeUserHierarchyGroupRequest"},
      "output":{"shape":"DescribeUserHierarchyGroupResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes the specified hierarchy group.</p>"
    },
    "DescribeUserHierarchyStructure":{
      "name":"DescribeUserHierarchyStructure",
      "http":{
        "method":"GET",
        "requestUri":"/user-hierarchy-structure/{InstanceId}"
      },
      "input":{"shape":"DescribeUserHierarchyStructureRequest"},
      "output":{"shape":"DescribeUserHierarchyStructureResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Describes the hierarchy structure of the specified Amazon Connect instance.</p>"
    },
    "DescribeView":{
      "name":"DescribeView",
      "http":{
        "method":"GET",
        "requestUri":"/views/{InstanceId}/{ViewId}"
      },
      "input":{"shape":"DescribeViewRequest"},
      "output":{"shape":"DescribeViewResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Retrieves the view for the specified Amazon Connect instance and view identifier.</p> <p>The view identifier can be supplied as a ViewId or ARN.</p> <p> <code>$SAVED</code> needs to be supplied if a view is unpublished.</p> <p>The view identifier can contain an optional qualifier, for example, <code>&lt;view-id&gt;:$SAVED</code>, which is either an actual version number or an Amazon Connect managed qualifier <code>$SAVED | $LATEST</code>. If it is not supplied, then <code>$LATEST</code> is assumed for customer managed views and an error is returned if there is no published content available. Version 1 is assumed for Amazon Web Services managed views.</p>"
    },
    "DescribeVocabulary":{
      "name":"DescribeVocabulary",
      "http":{
        "method":"GET",
        "requestUri":"/vocabulary/{InstanceId}/{VocabularyId}"
      },
      "input":{"shape":"DescribeVocabularyRequest"},
      "output":{"shape":"DescribeVocabularyResponse"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Describes the specified vocabulary.</p>"
    },
    "DisassociateAnalyticsDataSet":{
      "name":"DisassociateAnalyticsDataSet",
      "http":{
        "method":"POST",
        "requestUri":"/analytics-data/instance/{InstanceId}/association"
      },
      "input":{"shape":"DisassociateAnalyticsDataSetRequest"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Removes the dataset ID associated with a given Amazon Connect instance.</p>"
    },
    "DisassociateApprovedOrigin":{
      "name":"DisassociateApprovedOrigin",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}/approved-origin"
      },
      "input":{"shape":"DisassociateApprovedOriginRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Revokes access to integrated applications from Amazon Connect.</p>"
    },
    "DisassociateBot":{
      "name":"DisassociateBot",
      "http":{
        "method":"POST",
        "requestUri":"/instance/{InstanceId}/bot"
      },
      "input":{"shape":"DisassociateBotRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Revokes authorization from the specified instance to access the specified Amazon Lex or Amazon Lex V2 bot. </p>"
    },
    "DisassociateFlow":{
      "name":"DisassociateFlow",
      "http":{
        "method":"DELETE",
        "requestUri":"/flow-associations/{InstanceId}/{ResourceId}/{ResourceType}"
      },
      "input":{"shape":"DisassociateFlowRequest"},
      "output":{"shape":"DisassociateFlowResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Disassociates a connect resource from a flow.</p>"
    },
    "DisassociateInstanceStorageConfig":{
      "name":"DisassociateInstanceStorageConfig",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}/storage-config/{AssociationId}"
      },
      "input":{"shape":"DisassociateInstanceStorageConfigRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Removes the storage type configurations for the specified resource type and association ID.</p>"
    },
    "DisassociateLambdaFunction":{
      "name":"DisassociateLambdaFunction",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}/lambda-function"
      },
      "input":{"shape":"DisassociateLambdaFunctionRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>This API is in preview release for Amazon Connect and is subject to change.</p> <p>Remove the Lambda function from the dropdown options available in the relevant flow blocks.</p>"
    },
    "DisassociateLexBot":{
      "name":"DisassociateLexBot",
      "http":{
        "method":"DELETE",
        "requestUri":"/instance/{InstanceId}/lex-bot"
      },
      "input":{"shape":"DisassociateLexBotRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
[...]
