{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-11-01",
    "endpointPrefix":"ingest.timestream",
    "jsonVersion":"1.0",
    "protocol":"json",
    "protocols":["json"],
    "serviceAbbreviation":"Timestream Write",
    "serviceFullName":"Amazon Timestream Write",
    "serviceId":"Timestream Write",
    "signatureVersion":"v4",
    "signingName":"timestream",
    "targetPrefix":"Timestream_20181101",
    "uid":"timestream-write-2018-11-01",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "CreateBatchLoadTask":{
      "name":"CreateBatchLoadTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateBatchLoadTaskRequest"},
      "output":{"shape":"CreateBatchLoadTaskResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InvalidEndpointException"}
      ],
      "documentation":"<p>Creates a new Timestream batch load task. A batch load task processes data from a CSV source in an S3 location and writes to a Timestream table. A mapping from source to target is defined in a batch load task. Errors and events are written to a report at an S3 location. For the report, if the KMS key is not specified, the report will be encrypted with an S3 managed key when <code>SSE_S3</code> is the option. Otherwise an error is thrown. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#aws-managed-cmk\">Amazon Web Services managed keys</a>. <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/ts-limits.html\">Service quotas apply</a>. For details, see <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.create-batch-load.html\">code sample</a>.</p>",
      "endpointdiscovery":{"required":true}
    },
    "CreateDatabase":{
      "name":"CreateDatabase",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDatabaseRequest"},
      "output":{"shape":"CreateDatabaseResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidEndpointException"},
        {"shape":"InternalServerException"},
        {"shape":"InvalidEndpointException"}
      ],
      "documentation":"<p>Creates a new Timestream database. If the KMS key is not specified, the database will be encrypted with a Timestream managed KMS key located in your account. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#aws-managed-cmk\">Amazon Web Services managed keys</a>. <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/ts-limits.html\">Service quotas apply</a>. For details, see <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.create-db.html\">code sample</a>. </p>",
      "endpointdiscovery":{"required":true}
    },
    "CreateTable":{
      "name":"CreateTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTableRequest"},
      "output":{"shape":"CreateTableResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidEndpointException"},
        {"shape":"InternalServerException"},
        {"shape":"InvalidEndpointException"}
      ],
      "documentation":"<p>Adds a new table to an existing database in your account. In an Amazon Web Services account, table names must be at least unique within each Region if they are in the same database. You might have identical table names in the same Region if the tables are in separate databases. While creating the table, you must specify the table name, database name, and the retention properties. <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/ts-limits.html\">Service quotas apply</a>. See <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.create-table.html\">code sample</a> for details. </p>",
      "endpointdiscovery":{"required":true}
    },
    "DeleteDatabase":{
      "name":"DeleteDatabase",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDatabaseRequest"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidEndpointException"}
      ],
      "documentation":"<p>Deletes a given Timestream database. <i>This is an irreversible operation. After a database is deleted, the time-series data from its tables cannot be recovered.</i> </p> <note> <p>All tables in the database must be deleted first, or a ValidationException error will be thrown. </p> <p>Due to the nature of distributed retries, the operation can return either success or a ResourceNotFoundException. Clients should consider them equivalent.</p> </note> <p>See <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.delete-db.html\">code sample</a> for details.</p>",
      "endpointdiscovery":{"required":true}
    },
    "DeleteTable":{
      "name":"DeleteTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTableRequest"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidEndpointException"}
      ],
      "documentation":"<p>Deletes a given Timestream table. This is an irreversible operation. After a Timestream database table is deleted, the time-series data stored in the table cannot be recovered. </p> <note> <p>Due to the nature of distributed retries, the operation can return either success or a ResourceNotFoundException. Clients should consider them equivalent.</p> </note> <p>See <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.delete-table.html\">code sample</a> for details.</p>",
      "endpointdiscovery":{"required":true}
    },
    "DescribeBatchLoadTask":{
      "name":"DescribeBatchLoadTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeBatchLoadTaskRequest"},
      "output":{"shape":"DescribeBatchLoadTaskResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidEndpointException"}
      ],
      "documentation":"<p>Returns information about the batch load task, including configurations, mappings, progress, and other details. <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/ts-limits.html\">Service quotas apply</a>. See <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.describe-batch-load.html\">code sample</a> for details.</p>",
      "endpointdiscovery":{"required":true}
    },
    "DescribeDatabase":{
      "name":"DescribeDatabase",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDatabaseRequest"},
      "output":{"shape":"DescribeDatabaseResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"InvalidEndpointException"}
      ],
      "documentation":"<p>Returns information about the database, including the database name, time that the database was created, and the total number of tables found within the database. <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/ts-limits.html\">Service quotas apply</a>. See <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.describe-db.html\">code sample</a> for details.</p>",
      "endpointdiscovery":{"required":true}
    },
    "DescribeEndpoints":{
      "name":"DescribeEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEndpointsRequest"},
      "output":{"shape":"DescribeEndpointsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Returns a list of available endpoints to make Timestream API calls against. This API operation is available through both the Write and Query APIs.</p> <p>Because the Timestream SDKs are designed to transparently work with the service’s architecture, including the management and mapping of the service endpoints, <i>we don't recommend that you use this API operation unless</i>:</p> <ul> <li> <p>You are using <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/VPCEndpoints\">VPC endpoints (Amazon Web Services PrivateLink) with Timestream</a> </p> </li> <li> <p>Your application uses a programming language that does not yet have SDK support</p> </li> <li> <p>You require better control over the client-side implementation</p> </li> </ul> <p>For detailed information on how and when to use and implement DescribeEndpoints, see <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/Using.API.html#Using-API.endpoint-discovery\">The Endpoint Discovery Pattern</a>.</p>",
      "endpointoperation":true
    },
    "DescribeTable":{
      "name":"DescribeTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTableRequest"},
      "output":{"shape":"DescribeTableResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"InvalidEndpointException"}
      ],
      "documentation":"<p>Returns information about the table, including the table name, database name, retention duration of the memory store and the magnetic store. <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/ts-limits.html\">Service quotas apply</a>. See <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.describe-table.html\">code sample</a> for details. </p>",
      "endpointdiscovery":{"required":true}
    },
    "ListBatchLoadTasks":{
      "name":"ListBatchLoadTasks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListBatchLoadTasksRequest"},
      "output":{"shape":"ListBatchLoadTasksResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InvalidEndpointException"}
      ],
      "documentation":"<p>Provides a list of batch load tasks, along with the name, status, when the task is resumable until, and other details. See <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.list-batch-load-tasks.html\">code sample</a> for details.</p>",
      "endpointdiscovery":{"required":true}
    },
    "ListDatabases":{
      "name":"ListDatabases",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDatabasesRequest"},
      "output":{"shape":"ListDatabasesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidEndpointException"}
      ],
      "documentation":"<p>Returns a list of your Timestream databases. <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/ts-limits.html\">Service quotas apply</a>. See <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.list-db.html\">code sample</a> for details. </p>",
      "endpointdiscovery":{"required":true}
    },
    "ListTables":{
      "name":"ListTables",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTablesRequest"},
      "output":{"shape":"ListTablesResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidEndpointException"}
      ],
      "documentation":"<p>Provides a list of tables, along with the name, status, and retention properties of each table. See <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.list-table.html\">code sample</a> for details. </p>",
      "endpointdiscovery":{"required":true}
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InvalidEndpointException"}
      ],
      "documentation":"<p> Lists all tags on a Timestream resource. </p>",
      "endpointdiscovery":{"required":true}
    },
    "ResumeBatchLoadTask":{
      "name":"ResumeBatchLoadTask",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResumeBatchLoadTaskRequest"},
      "output":{"shape":"ResumeBatchLoadTaskResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidEndpointException"}
      ],
      "documentation":"<p> </p>",
      "endpointdiscovery":{"required":true}
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"InvalidEndpointException"}
      ],
      "documentation":"<p> Associates a set of tags with a Timestream resource. You can then activate these user-defined tags so that they appear on the Billing and Cost Management console for cost allocation tracking. </p>",
      "endpointdiscovery":{"required":true}
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidEndpointException"}
      ],
      "documentation":"<p> Removes the association of tags from a Timestream resource. </p>",
      "endpointdiscovery":{"required":true}
    },
    "UpdateDatabase":{
      "name":"UpdateDatabase",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDatabaseRequest"},
      "output":{"shape":"UpdateDatabaseResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"InvalidEndpointException"}
      ],
      "documentation":"<p> Modifies the KMS key for an existing database. While updating the database, you must specify the database name and the identifier of the new KMS key to be used (<code>KmsKeyId</code>). If there are any concurrent <code>UpdateDatabase</code> requests, first writer wins. </p> <p>See <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.update-db.html\">code sample</a> for details.</p>",
      "endpointdiscovery":{"required":true}
    },
    "UpdateTable":{
      "name":"UpdateTable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateTableRequest"},
      "output":{"shape":"UpdateTableResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidEndpointException"}
      ],
      "documentation":"<p>Modifies the retention duration of the memory store and magnetic store for your Timestream table. Note that the change in retention duration takes effect immediately. For example, if the retention period of the memory store was initially set to 2 hours and then changed to 24 hours, the memory store will be capable of holding 24 hours of data, but will be populated with 24 hours of data 22 hours after this change was made. Timestream does not retrieve data from the magnetic store to populate the memory store. </p> <p>See <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.update-table.html\">code sample</a> for details.</p>",
      "endpointdiscovery":{"required":true}
    },
    "WriteRecords":{
      "name":"WriteRecords",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"WriteRecordsRequest"},
      "output":{"shape":"WriteRecordsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"RejectedRecordsException"},
        {"shape":"InvalidEndpointException"}
      ],
      "documentation":"<p>Enables you to write your time-series data into Timestream. You can specify a single data point or a batch of data points to be inserted into the system. Timestream offers you a flexible schema that auto detects the column names and data types for your Timestream tables based on the dimension names and data types of the data points you specify when invoking writes into the database. </p> <p>Timestream supports eventual consistency read semantics. This means that when you query data immediately after writing a batch of data into Timestream, the query results might not reflect the results of a recently completed write operation. The results may also include some stale data. If you repeat the query request after a short time, the results should return the latest data. <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/ts-limits.html\">Service quotas apply</a>. </p> <p>See <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/code-samples.write.html\">code sample</a> for details.</p> <p> <b>Upserts</b> </p> <p>You can use the <code>Version</code> parameter in a <code>WriteRecords</code> request to update data points. Timestream tracks a version number with each record. <code>Version</code> defaults to <code>1</code> when it's not specified for the record in the request. Timestream updates an existing record’s measure value along with its <code>Version</code> when it receives a write request with a higher <code>Version</code> number for that record. When it receives an update request where the measure value is the same as that of the existing record, Timestream still updates <code>Version</code>, if it is greater than the existing value of <code>Version</code>. You can update a data point as many times as desired, as long as the value of <code>Version</code> continuously increases. </p> <p> For example, suppose you write a new record without indicating <code>Version</code> in the request. Timestream stores this record, and set <code>Version</code> to <code>1</code>. Now, suppose you try to update this record with a <code>WriteRecords</code> request of the same record with a different measure value but, like before, do not provide <code>Version</code>. In this case, Timestream will reject this update with a <code>RejectedRecordsException</code> since the updated record’s version is not greater than the existing value of Version. </p> <p>However, if you were to resend the update request with <code>Version</code> set to <code>2</code>, Timestream would then succeed in updating the record’s value, and the <code>Version</code> would be set to <code>2</code>. Next, suppose you sent a <code>WriteRecords</code> request with this same record and an identical measure value, but with <code>Version</code> set to <code>3</code>. In this case, Timestream would only update <code>Version</code> to <code>3</code>. Any further updates would need to send a version number greater than <code>3</code>, or the update requests would receive a <code>RejectedRecordsException</code>. </p>",
      "endpointdiscovery":{"required":true}
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>You are not authorized to perform this action.</p>",
      "exception":true
    },
    "AmazonResourceName":{
      "type":"string",
      "max":1011,
      "min":1
    },
    "BatchLoadDataFormat":{
      "type":"string",
      "enum":["CSV"]
    },
    "BatchLoadProgressReport":{
      "type":"structure",
      "members":{
        "RecordsProcessed":{
          "shape":"Long",
          "documentation":"<p/>"
        },
        "RecordsIngested":{
          "shape":"Long",
          "documentation":"<p/>"
        },
        "ParseFailures":{
          "shape":"Long",
          "documentation":"<p/>"
        },
        "RecordIngestionFailures":{
          "shape":"Long",
          "documentation":"<p/>"
        },
        "FileFailures":{
          "shape":"Long",
          "documentation":"<p/>"
        },
        "BytesMetered":{
          "shape":"Long",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p>Details about the progress of a batch load task.</p>"
    },
    "BatchLoadStatus":{
      "type":"string",
      "enum":[
        "CREATED",
        "IN_PROGRESS",
        "FAILED",
        "SUCCEEDED",
        "PROGRESS_STOPPED",
        "PENDING_RESUME"
      ]
    },
    "BatchLoadTask":{
      "type":"structure",
      "members":{
        "TaskId":{
          "shape":"BatchLoadTaskId",
          "documentation":"<p>The ID of the batch load task.</p>"
        },
        "TaskStatus":{
          "shape":"BatchLoadStatus",
          "documentation":"<p>Status of the batch load task.</p>"
        },
        "DatabaseName":{
          "shape":"ResourceName",
          "documentation":"<p>Database name for the database into which a batch load task loads data.</p>"
        },
        "TableName":{
          "shape":"ResourceName",
          "documentation":"<p>Table name for the table into which a batch load task loads data.</p>"
        },
        "CreationTime":{
          "shape":"Date",
          "documentation":"<p>The time when the Timestream batch load task was created.</p>"
        },
        "LastUpdatedTime":{
          "shape":"Date",
          "documentation":"<p>The time when the Timestream batch load task was last updated.</p>"
        },
        "ResumableUntil":{
          "shape":"Date",
          "documentation":"<p> </p>"
        }
      },
      "documentation":"<p>Details about a batch load task.</p>"
    },
    "BatchLoadTaskDescription":{
      "type":"structure",
      "members":{
        "TaskId":{
          "shape":"BatchLoadTaskId",
          "documentation":"<p>The ID of the batch load task.</p>"
        },
        "ErrorMessage":{
          "shape":"StringValue2048",
          "documentation":"<p/>"
        },
        "DataSourceConfiguration":{
          "shape":"DataSourceConfiguration",
          "documentation":"<p>Configuration details about the data source for a batch load task.</p>"
        },
        "ProgressReport":{
          "shape":"BatchLoadProgressReport",
          "documentation":"<p/>"
        },
        "ReportConfiguration":{
          "shape":"ReportConfiguration",
          "documentation":"<p>Report configuration for a batch load task. This contains details about where error reports are stored.</p>"
        },
        "DataModelConfiguration":{
          "shape":"DataModelConfiguration",
          "documentation":"<p>Data model configuration for a batch load task. This contains details about where a data model for a batch load task is stored.</p>"
        },
        "TargetDatabaseName":{
          "shape":"ResourceName",
          "documentation":"<p/>"
        },
        "TargetTableName":{
          "shape":"ResourceName",
          "documentation":"<p/>"
        },
        "TaskStatus":{
          "shape":"BatchLoadStatus",
          "documentation":"<p>Status of the batch load task.</p>"
        },
        "RecordVersion":{
          "shape":"RecordVersion",
          "documentation":"<p/>"
        },
        "CreationTime":{
          "shape":"Date",
          "documentation":"<p>The time when the Timestream batch load task was created.</p>"
        },
        "LastUpdatedTime":{
          "shape":"Date",
          "documentation":"<p>The time when the Timestream batch load task was last updated.</p>"
        },
        "ResumableUntil":{
          "shape":"Date",
          "documentation":"<p> </p>"
        }
      },
      "documentation":"<p>Details about a batch load task.</p>"
    },
    "BatchLoadTaskId":{
      "type":"string",
      "max":32,
      "min":3,
      "pattern":"[A-Z0-9]+"
    },
    "BatchLoadTaskList":{
      "type":"list",
      "member":{"shape":"BatchLoadTask"}
    },
    "Boolean":{"type":"boolean"},
    "ClientRequestToken":{
      "type":"string",
      "max":64,
      "min":1,
      "sensitive":true
    },
    "ConflictException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>Timestream was unable to process this request because it contains resource that already exists.</p>",
      "exception":true
    },
    "CreateBatchLoadTaskRequest":{
      "type":"structure",
      "required":[
        "DataSourceConfiguration",
        "ReportConfiguration",
        "TargetDatabaseName",
        "TargetTableName"
      ],
      "members":{
        "ClientToken":{
          "shape":"ClientRequestToken",
          "documentation":"<p/>",
          "idempotencyToken":true
        },
        "DataModelConfiguration":{"shape":"DataModelConfiguration"},
        "DataSourceConfiguration":{
          "shape":"DataSourceConfiguration",
          "documentation":"<p>Defines configuration details about the data source for a batch load task.</p>"
        },
        "ReportConfiguration":{"shape":"ReportConfiguration"},
        "TargetDatabaseName":{
          "shape":"ResourceCreateAPIName",
          "documentation":"<p>Target Timestream database for a batch load task.</p>"
        },
        "TargetTableName":{
          "shape":"ResourceCreateAPIName",
          "documentation":"<p>Target Timestream table for a batch load task.</p>"
        },
        "RecordVersion":{
          "shape":"RecordVersion",
          "documentation":"<p/>",
          "box":true
        }
      }
    },
    "CreateBatchLoadTaskResponse":{
      "type":"structure",
      "required":["TaskId"],
      "members":{
        "TaskId":{
          "shape":"BatchLoadTaskId",
          "documentation":"<p>The ID of the batch load task.</p>"
        }
      }
    },
    "CreateDatabaseRequest":{
      "type":"structure",
      "required":["DatabaseName"],
      "members":{
        "DatabaseName":{
          "shape":"ResourceCreateAPIName",
          "documentation":"<p>The name of the Timestream database.</p>"
        },
        "KmsKeyId":{
          "shape":"StringValue2048",
          "documentation":"<p>The KMS key for the database. If the KMS key is not specified, the database will be encrypted with a Timestream managed KMS key located in your account. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#aws-managed-cmk\">Amazon Web Services managed keys</a>.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p> A list of key-value pairs to label the table. </p>"
        }
      }
    },
    "CreateDatabaseResponse":{
      "type":"structure",
      "members":{
        "Database":{
          "shape":"Database",
          "documentation":"<p>The newly created Timestream database.</p>"
        }
      }
    },
    "CreateTableRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "TableName"
      ],
      "members":{
        "DatabaseName":{
          "shape":"ResourceCreateAPIName",
          "documentation":"<p>The name of the Timestream database.</p>"
        },
        "TableName":{
          "shape":"ResourceCreateAPIName",
          "documentation":"<p>The name of the Timestream table.</p>"
        },
        "RetentionProperties":{
          "shape":"RetentionProperties",
          "documentation":"<p>The duration for which your time-series data must be stored in the memory store and the magnetic store.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p> A list of key-value pairs to label the table. </p>"
        },
        "MagneticStoreWriteProperties":{
          "shape":"MagneticStoreWriteProperties",
          "documentation":"<p>Contains properties to set on the table when enabling magnetic store writes.</p>"
        },
        "Schema":{
          "shape":"Schema",
          "documentation":"<p> The schema of the table. </p>"
        }
      }
    },
    "CreateTableResponse":{
      "type":"structure",
      "members":{
        "Table":{
          "shape":"Table",
          "documentation":"<p>The newly created Timestream table.</p>"
        }
      }
    },
    "CsvConfiguration":{
      "type":"structure",
      "members":{
        "ColumnSeparator":{
          "shape":"StringValue1",
          "documentation":"<p>Column separator can be one of comma (','), pipe ('|), semicolon (';'), tab('/t'), or blank space (' '). </p>"
        },
        "EscapeChar":{
          "shape":"StringValue1",
          "documentation":"<p>Escape character can be one of </p>"
        },
        "QuoteChar":{
          "shape":"StringValue1",
          "documentation":"<p>Can be single quote (') or double quote (\").</p>"
        },
        "NullValue":{
          "shape":"StringValue256",
          "documentation":"<p>Can be blank space (' ').</p>"
        },
        "TrimWhiteSpace":{
          "shape":"Boolean",
          "documentation":"<p>Specifies to trim leading and trailing white space.</p>"
        }
      },
      "documentation":"<p>A delimited data format where the column separator can be a comma and the record separator is a newline character.</p>"
    },
    "DataModel":{
      "type":"structure",
      "required":["DimensionMappings"],
      "members":{
        "TimeColumn":{
          "shape":"StringValue256",
          "documentation":"<p>Source column to be mapped to time.</p>"
        },
        "TimeUnit":{
          "shape":"TimeUnit",
          "documentation":"<p> The granularity of the timestamp unit. It indicates if the time value is in seconds, milliseconds, nanoseconds, or other supported values. Default is <code>MILLISECONDS</code>. </p>"
        },
        "DimensionMappings":{
          "shape":"DimensionMappings",
          "documentation":"<p>Source to target mappings for dimensions.</p>"
        },
        "MultiMeasureMappings":{
          "shape":"MultiMeasureMappings",
          "documentation":"<p>Source to target mappings for multi-measure records.</p>"
        },
        "MixedMeasureMappings":{
          "shape":"MixedMeasureMappingList",
          "documentation":"<p>Source to target mappings for measures.</p>"
        },
        "MeasureNameColumn":{
          "shape":"StringValue256",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p>Data model for a batch load task.</p>"
    },
    "DataModelConfiguration":{
      "type":"structure",
      "members":{
        "DataModel":{
          "shape":"DataModel",
          "documentation":"<p/>"
        },
        "DataModelS3Configuration":{
          "shape":"DataModelS3Configuration",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "DataModelS3Configuration":{
      "type":"structure",
      "members":{
        "BucketName":{
          "shape":"S3BucketName",
          "documentation":"<p/>"
        },
        "ObjectKey":{
          "shape":"S3ObjectKey",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "DataSourceConfiguration":{
      "type":"structure",
      "required":[
        "DataSourceS3Configuration",
        "DataFormat"
      ],
      "members":{
        "DataSourceS3Configuration":{
          "shape":"DataSourceS3Configuration",
          "documentation":"<p>Configuration of an S3 location for a file which contains data to load.</p>"
        },
        "CsvConfiguration":{"shape":"CsvConfiguration"},
        "DataFormat":{
          "shape":"BatchLoadDataFormat",
          "documentation":"<p>This is currently CSV.</p>"
        }
      },
      "documentation":"<p>Defines configuration details about the data source.</p>"
    },
    "DataSourceS3Configuration":{
      "type":"structure",
      "required":["BucketName"],
      "members":{
        "BucketName":{
          "shape":"S3BucketName",
          "documentation":"<p>The bucket name of the customer S3 bucket.</p>"
        },
        "ObjectKeyPrefix":{
          "shape":"S3ObjectKey",
          "documentation":"<p> </p>"
        }
      },
      "documentation":"<p> </p>"
    },
    "Database":{
      "type":"structure",
      "members":{
        "Arn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name that uniquely identifies this database.</p>"
        },
        "DatabaseName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the Timestream database.</p>"
        },
        "TableCount":{
          "shape":"Long",
          "documentation":"<p>The total number of tables found within a Timestream database. </p>"
        },
        "KmsKeyId":{
          "shape":"StringValue2048",
          "documentation":"<p>The identifier of the KMS key used to encrypt the data stored in the database.</p>"
        },
        "CreationTime":{
          "shape":"Date",
          "documentation":"<p>The time when the database was created, calculated from the Unix epoch time.</p>"
        },
        "LastUpdatedTime":{
          "shape":"Date",
          "documentation":"<p> The last time that this database was updated. </p>"
        }
      },
      "documentation":"<p>A top-level container for a table. Databases and tables are the fundamental management concepts in Amazon Timestream. All tables in a database are encrypted with the same KMS key.</p>"
    },
    "DatabaseList":{
      "type":"list",
      "member":{"shape":"Database"}
    },
    "Date":{"type":"timestamp"},
    "DeleteDatabaseRequest":{
      "type":"structure",
      "required":["DatabaseName"],
      "members":{
        "DatabaseName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the Timestream database to be deleted.</p>"
        }
      }
    },
    "DeleteTableRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "TableName"
      ],
      "members":{
        "DatabaseName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the database where the Timestream database is to be deleted.</p>"
        },
        "TableName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the Timestream table to be deleted.</p>"
        }
      }
    },
    "DescribeBatchLoadTaskRequest":{
      "type":"structure",
      "required":["TaskId"],
      "members":{
        "TaskId":{
          "shape":"BatchLoadTaskId",
          "documentation":"<p>The ID of the batch load task.</p>"
        }
      }
    },
    "DescribeBatchLoadTaskResponse":{
      "type":"structure",
      "required":["BatchLoadTaskDescription"],
      "members":{
        "BatchLoadTaskDescription":{
          "shape":"BatchLoadTaskDescription",
          "documentation":"<p>Description of the batch load task.</p>"
        }
      }
    },
    "DescribeDatabaseRequest":{
      "type":"structure",
      "required":["DatabaseName"],
      "members":{
        "DatabaseName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the Timestream database.</p>"
        }
      }
    },
    "DescribeDatabaseResponse":{
      "type":"structure",
      "members":{
        "Database":{
          "shape":"Database",
          "documentation":"<p>The name of the Timestream table.</p>"
        }
      }
    },
    "DescribeEndpointsRequest":{
      "type":"structure",
      "members":{}
    },
    "DescribeEndpointsResponse":{
      "type":"structure",
      "required":["Endpoints"],
      "members":{
        "Endpoints":{
          "shape":"Endpoints",
          "documentation":"<p>An <code>Endpoints</code> object is returned when a <code>DescribeEndpoints</code> request is made.</p>"
        }
      }
    },
    "DescribeTableRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "TableName"
      ],
      "members":{
        "DatabaseName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the Timestream database.</p>"
        },
        "TableName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the Timestream table.</p>"
        }
      }
    },
    "DescribeTableResponse":{
      "type":"structure",
      "members":{
        "Table":{
          "shape":"Table",
          "documentation":"<p>The Timestream table.</p>"
        }
      }
    },
    "Dimension":{
      "type":"structure",
      "required":[
        "Name",
        "Value"
      ],
      "members":{
        "Name":{
          "shape":"SchemaName",
          "documentation":"<p> Dimension represents the metadata attributes of the time series. For example, the name and Availability Zone of an EC2 instance or the name of the manufacturer of a wind turbine are dimensions. </p> <p>For constraints on dimension names, see <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/ts-limits.html#limits.naming\">Naming Constraints</a>.</p>"
        },
        "Value":{
          "shape":"SchemaValue",
          "documentation":"<p>The value of the dimension.</p>"
        },
        "DimensionValueType":{
          "shape":"DimensionValueType",
          "documentation":"<p>The data type of the dimension for the time-series data point.</p>"
        }
      },
      "documentation":"<p>Represents the metadata attributes of the time series. For example, the name and Availability Zone of an EC2 instance or the name of the manufacturer of a wind turbine are dimensions. </p>"
    },
    "DimensionMapping":{
      "type":"structure",
      "members":{
        "SourceColumn":{
          "shape":"SchemaName",
          "documentation":"<p/>"
        },
        "DestinationColumn":{
          "shape":"SchemaName",
          "documentation":"<p> </p>"
        }
      },
      "documentation":"<p/>"
    },
    "DimensionMappings":{
      "type":"list",
      "member":{"shape":"DimensionMapping"},
      "min":1
    },
    "DimensionValueType":{
      "type":"string",
      "enum":["VARCHAR"]
    },
    "Dimensions":{
      "type":"list",
      "member":{"shape":"Dimension"},
      "max":128
    },
    "Endpoint":{
      "type":"structure",
      "required":[
        "Address",
        "CachePeriodInMinutes"
      ],
      "members":{
        "Address":{
          "shape":"String",
          "documentation":"<p>An endpoint address.</p>"
        },
        "CachePeriodInMinutes":{
          "shape":"Long",
          "documentation":"<p>The TTL for the endpoint, in minutes.</p>"
        }
      },
      "documentation":"<p>Represents an available endpoint against which to make API calls against, as well as the TTL for that endpoint.</p>"
    },
    "Endpoints":{
      "type":"list",
      "member":{"shape":"Endpoint"}
    },
    "ErrorMessage":{"type":"string"},
    "Integer":{"type":"integer"},
    "InternalServerException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p> Timestream was unable to fully process this request because of an internal server error.</p>",
      "exception":true,
      "fault":true
    },
    "InvalidEndpointException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>The requested endpoint was not valid.</p>",
      "exception":true
    },
    "ListBatchLoadTasksRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"String",
          "documentation":"<p>A token to specify where to start paginating. This is the NextToken from a previously truncated response.</p>"
        },
        "MaxResults":{
          "shape":"PageLimit",
          "documentation":"<p>The total number of items to return in the output. If the total number of items available is more than the value specified, a NextToken is provided in the output. To resume pagination, provide the NextToken value as argument of a subsequent API invocation.</p>"
        },
        "TaskStatus":{
          "shape":"BatchLoadStatus",
          "documentation":"<p>Status of the batch load task.</p>"
        }
      }
    },
    "ListBatchLoadTasksResponse":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"String",
          "documentation":"<p>A token to specify where to start paginating. Provide the next ListBatchLoadTasksRequest.</p>"
        },
        "BatchLoadTasks":{
          "shape":"BatchLoadTaskList",
          "documentation":"<p>A list of batch load task details.</p>"
        }
      }
    },
    "ListDatabasesRequest":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"String",
          "documentation":"<p>The pagination token. To resume pagination, provide the NextToken value as argument of a subsequent API invocation.</p>"
        },
        "MaxResults":{
          "shape":"PaginationLimit",
          "documentation":"<p>The total number of items to return in the output. If the total number of items available is more than the value specified, a NextToken is provided in the output. To resume pagination, provide the NextToken value as argument of a subsequent API invocation.</p>"
        }
      }
    },
    "ListDatabasesResponse":{
      "type":"structure",
      "members":{
        "Databases":{
          "shape":"DatabaseList",
          "documentation":"<p>A list of database names.</p>"
        },
        "NextToken":{
          "shape":"String",
          "documentation":"<p>The pagination token. This parameter is returned when the response is truncated.</p>"
        }
      }
    },
    "ListTablesRequest":{
      "type":"structure",
      "members":{
        "DatabaseName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the Timestream database.</p>"
        },
        "NextToken":{
          "shape":"String",
          "documentation":"<p>The pagination token. To resume pagination, provide the NextToken value as argument of a subsequent API invocation.</p>"
        },
        "MaxResults":{
          "shape":"PaginationLimit",
          "documentation":"<p>The total number of items to return in the output. If the total number of items available is more than the value specified, a NextToken is provided in the output. To resume pagination, provide the NextToken value as argument of a subsequent API invocation.</p>"
        }
      }
    },
    "ListTablesResponse":{
      "type":"structure",
      "members":{
        "Tables":{
          "shape":"TableList",
          "documentation":"<p>A list of tables.</p>"
        },
        "NextToken":{
          "shape":"String",
          "documentation":"<p>A token to specify where to start paginating. This is the NextToken from a previously truncated response.</p>"
        }
      }
    },
    "ListTagsForResourceRequest":{
      "type":"structure",
      "required":["ResourceARN"],
      "members":{
        "ResourceARN":{
          "shape":"AmazonResourceName",
          "documentation":"<p> The Timestream resource with tags to be listed. This value is an Amazon Resource Name (ARN). </p>"
        }
      }
    },
    "ListTagsForResourceResponse":{
      "type":"structure",
      "members":{
        "Tags":{
          "shape":"TagList",
          "documentation":"<p> The tags currently associated with the Timestream resource. </p>"
        }
      }
    },
    "Long":{"type":"long"},
    "MagneticStoreRejectedDataLocation":{
      "type":"structure",
      "members":{
        "S3Configuration":{
          "shape":"S3Configuration",
          "documentation":"<p>Configuration of an S3 location to write error reports for records rejected, asynchronously, during magnetic store writes.</p>"
        }
      },
      "documentation":"<p>The location to write error reports for records rejected, asynchronously, during magnetic store writes.</p>"
    },
    "MagneticStoreRetentionPeriodInDays":{
      "type":"long",
      "max":73000,
      "min":1
    },
    "MagneticStoreWriteProperties":{
      "type":"structure",
      "required":["EnableMagneticStoreWrites"],
      "members":{
        "EnableMagneticStoreWrites":{
          "shape":"Boolean",
          "documentation":"<p>A flag to enable magnetic store writes.</p>"
        },
        "MagneticStoreRejectedDataLocation":{
          "shape":"MagneticStoreRejectedDataLocation",
          "documentation":"<p>The location to write error reports for records rejected asynchronously during magnetic store writes.</p>"
        }
      },
      "documentation":"<p>The set of properties on a table for configuring magnetic store writes.</p>"
    },
    "MeasureValue":{
      "type":"structure",
      "required":[
        "Name",
        "Value",
        "Type"
      ],
      "members":{
        "Name":{
          "shape":"SchemaName",
          "documentation":"<p> The name of the MeasureValue. </p> <p> For constraints on MeasureValue names, see <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/ts-limits.html#limits.naming\"> Naming Constraints</a> in the Amazon Timestream Developer Guide.</p>"
        },
        "Value":{
          "shape":"StringValue2048",
          "documentation":"<p> The value for the MeasureValue. For information, see <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/writes.html#writes.data-types\">Data types</a>.</p>"
        },
        "Type":{
          "shape":"MeasureValueType",
          "documentation":"<p>Contains the data type of the MeasureValue for the time-series data point.</p>"
        }
      },
      "documentation":"<p> Represents the data attribute of the time series. For example, the CPU utilization of an EC2 instance or the RPM of a wind turbine are measures. MeasureValue has both name and value. </p> <p> MeasureValue is only allowed for type <code>MULTI</code>. Using <code>MULTI</code> type, you can pass multiple data attributes associated with the same time series in a single record </p>"
    },
    "MeasureValueType":{
      "type":"string",
      "enum":[
        "DOUBLE",
        "BIGINT",
        "VARCHAR",
        "BOOLEAN",
        "TIMESTAMP",
        "MULTI"
      ]
    },
    "MeasureValues":{
      "type":"list",
      "member":{"shape":"MeasureValue"}
    },
    "MemoryStoreRetentionPeriodInHours":{
      "type":"long",
      "max":8766,
      "min":1
    },
    "MixedMeasureMapping":{
      "type":"structure",
      "required":["MeasureValueType"],
      "members":{
        "MeasureName":{
          "shape":"SchemaName",
          "documentation":"<p/>"
        },
        "SourceColumn":{
          "shape":"SchemaName",
          "documentation":"<p/>"
        },
        "TargetMeasureName":{
          "shape":"SchemaName",
          "documentation":"<p/>"
        },
        "MeasureValueType":{
          "shape":"MeasureValueType",
          "documentation":"<p/>"
        },
        "MultiMeasureAttributeMappings":{
          "shape":"MultiMeasureAttributeMappingList",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "MixedMeasureMappingList":{
      "type":"list",
      "member":{"shape":"MixedMeasureMapping"},
      "min":1
    },
    "MultiMeasureAttributeMapping":{
      "type":"structure",
      "required":["SourceColumn"],
      "members":{
        "SourceColumn":{
          "shape":"SchemaName",
          "documentation":"<p/>"
        },
        "TargetMultiMeasureAttributeName":{
          "shape":"SchemaName",
          "documentation":"<p/>"
        },
        "MeasureValueType":{
          "shape":"ScalarMeasureValueType",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "MultiMeasureAttributeMappingList":{
      "type":"list",
      "member":{"shape":"MultiMeasureAttributeMapping"},
      "min":1
    },
    "MultiMeasureMappings":{
      "type":"structure",
      "required":["MultiMeasureAttributeMappings"],
      "members":{
        "TargetMultiMeasureName":{
          "shape":"SchemaName",
          "documentation":"<p/>"
        },
        "MultiMeasureAttributeMappings":{
          "shape":"MultiMeasureAttributeMappingList",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "PageLimit":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "PaginationLimit":{
      "type":"integer",
      "box":true,
      "max":20,
      "min":1
    },
    "PartitionKey":{
      "type":"structure",
      "required":["Type"],
      "members":{
        "Type":{
          "shape":"PartitionKeyType",
          "documentation":"<p> The type of the partition key. Options are DIMENSION (dimension key) and MEASURE (measure key). </p>"
        },
        "Name":{
          "shape":"SchemaName",
          "documentation":"<p> The name of the attribute used for a dimension key. </p>"
        },
        "EnforcementInRecord":{
          "shape":"PartitionKeyEnforcementLevel",
          "documentation":"<p> The level of enforcement for the specification of a dimension key in ingested records. Options are REQUIRED (dimension key must be specified) and OPTIONAL (dimension key does not have to be specified). </p>"
        }
      },
      "documentation":"<p> An attribute used in partitioning data in a table. A dimension key partitions data using the values of the dimension specified by the dimension-name as partition key, while a measure key partitions data using measure names (values of the 'measure_name' column). </p>"
    },
    "PartitionKeyEnforcementLevel":{
      "type":"string",
      "enum":[
        "REQUIRED",
        "OPTIONAL"
      ]
    },
    "PartitionKeyList":{
      "type":"list",
      "member":{"shape":"PartitionKey"},
      "min":1
    },
    "PartitionKeyType":{
      "type":"string",
      "enum":[
        "DIMENSION",
        "MEASURE"
      ]
    },
    "Record":{
      "type":"structure",
      "members":{
        "Dimensions":{
          "shape":"Dimensions",
          "documentation":"<p>Contains the list of dimensions for time-series data points.</p>"
        },
        "MeasureName":{
          "shape":"SchemaName",
          "documentation":"<p>Measure represents the data attribute of the time series. For example, the CPU utilization of an EC2 instance or the RPM of a wind turbine are measures. </p>"
        },
        "MeasureValue":{
          "shape":"StringValue2048",
          "documentation":"<p> Contains the measure value for the time-series data point. </p>"
        },
        "MeasureValueType":{
          "shape":"MeasureValueType",
          "documentation":"<p> Contains the data type of the measure value for the time-series data point. Default type is <code>DOUBLE</code>. For more information, see <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/writes.html#writes.data-types\">Data types</a>.</p>"
        },
        "Time":{
          "shape":"StringValue256",
          "documentation":"<p> Contains the time at which the measure value for the data point was collected. The time value plus the unit provides the time elapsed since the epoch. For example, if the time value is <code>12345</code> and the unit is <code>ms</code>, then <code>12345 ms</code> have elapsed since the epoch. </p>"
        },
        "TimeUnit":{
          "shape":"TimeUnit",
          "documentation":"<p> The granularity of the timestamp unit. It indicates if the time value is in seconds, milliseconds, nanoseconds, or other supported values. Default is <code>MILLISECONDS</code>. </p>"
        },
        "Version":{
          "shape":"RecordVersion",
          "documentation":"<p>64-bit attribute used for record updates. Write requests for duplicate data with a higher version number will update the existing measure value and version. In cases where the measure value is the same, <code>Version</code> will still be updated. Default value is <code>1</code>.</p> <note> <p> <code>Version</code> must be <code>1</code> or greater, or you will receive a <code>ValidationException</code> error.</p> </note>",
          "box":true
        },
        "MeasureValues":{
          "shape":"MeasureValues",
          "documentation":"<p> Contains the list of MeasureValue for time-series data points. </p> <p> This is only allowed for type <code>MULTI</code>. For scalar values, use <code>MeasureValue</code> attribute of the record directly. </p>"
        }
      },
      "documentation":"<p>Represents a time-series data point being written into Timestream. Each record contains an array of dimensions. Dimensions represent the metadata attributes of a time-series data point, such as the instance name or Availability Zone of an EC2 instance. A record also contains the measure name, which is the name of the measure being collected (for example, the CPU utilization of an EC2 instance). Additionally, a record contains the measure value and the value type, which is the data type of the measure value. Also, the record contains the timestamp of when the measure was collected and the timestamp unit, which represents the granularity of the timestamp. </p> <p> Records have a <code>Version</code> field, which is a 64-bit <code>long</code> that you can use for updating data points. Writes of a duplicate record with the same dimension, timestamp, and measure name but different measure value will only succeed if the <code>Version</code> attribute of the record in the write request is higher than that of the existing record. Timestream defaults to a <code>Version</code> of <code>1</code> for records without the <code>Version</code> field. </p>"
    },
    "RecordIndex":{"type":"integer"},
    "RecordVersion":{"type":"long"},
    "Records":{
      "type":"list",
      "member":{"shape":"Record"},
      "max":100,
      "min":1
    },
    "RecordsIngested":{
      "type":"structure",
      "members":{
        "Total":{
          "shape":"Integer",
          "documentation":"<p>Total count of successfully ingested records.</p>"
        },
        "MemoryStore":{
          "shape":"Integer",
          "documentation":"<p>Count of records ingested into the memory store.</p>"
        },
        "MagneticStore":{
          "shape":"Integer",
          "documentation":"<p>Count of records ingested into the magnetic store.</p>"
        }
      },
      "documentation":"<p>Information on the records ingested by this request.</p>"
    },
    "RejectedRecord":{
      "type":"structure",
      "members":{
        "RecordIndex":{
          "shape":"RecordIndex",
          "documentation":"<p> The index of the record in the input request for WriteRecords. Indexes begin with 0. </p>"
        },
        "Reason":{
          "shape":"ErrorMessage",
          "documentation":"<p> The reason why a record was not successfully inserted into Timestream. Possible causes of failure include: </p> <ul> <li> <p>Records with duplicate data where there are multiple records with the same dimensions, timestamps, and measure names but: </p> <ul> <li> <p>Measure values are different</p> </li> <li> <p>Version is not present in the request, <i>or</i> the value of version in the new record is equal to or lower than the existing value</p> </li> </ul> <p>If Timestream rejects data for this case, the <code>ExistingVersion</code> field in the <code>RejectedRecords</code> response will indicate the current record’s version. To force an update, you can resend the request with a version for the record set to a value greater than the <code>ExistingVersion</code>.</p> </li> <li> <p> Records with timestamps that lie outside the retention duration of the memory store. </p> <note> <p>When the retention window is updated, you will receive a <code>RejectedRecords</code> exception if you immediately try to ingest data within the new window. To avoid a <code>RejectedRecords</code> exception, wait until the duration of the new window to ingest new data. For further information, see <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/best-practices.html#configuration\"> Best Practices for Configuring Timestream</a> and <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/storage.html\">the explanation of how storage works in Timestream</a>.</p> </note> </li> <li> <p> Records with dimensions or measures that exceed the Timestream defined limits. </p> </li> </ul> <p> For more information, see <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/ts-limits.html\">Access Management</a> in the Timestream Developer Guide. </p>"
        },
        "ExistingVersion":{
          "shape":"RecordVersion",
          "documentation":"<p>The existing version of the record. This value is populated in scenarios where an identical record exists with a higher version than the version in the write request.</p>",
          "box":true
        }
      },
      "documentation":"<p> Represents records that were not successfully inserted into Timestream due to data validation issues that must be resolved before reinserting time-series data into the system. </p>"
    },
    "RejectedRecords":{
      "type":"list",
      "member":{"shape":"RejectedRecord"}
    },
    "RejectedRecordsException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"},
        "RejectedRecords":{
          "shape":"RejectedRecords",
          "documentation":"<p> </p>"
        }
      },
      "documentation":"<p> WriteRecords would throw this exception in the following cases: </p> <ul> <li> <p>Records with duplicate data where there are multiple records with the same dimensions, timestamps, and measure names but: </p> <ul> <li> <p>Measure values are different</p> </li> <li> <p>Version is not present in the request <i>or</i> the value of version in the new record is equal to or lower than the existing value</p> </li> </ul> <p> In this case, if Timestream rejects data, the <code>ExistingVersion</code> field in the <code>RejectedRecords</code> response will indicate the current record’s version. To force an update, you can resend the request with a version for the record set to a value greater than the <code>ExistingVersion</code>.</p> </li> <li> <p> Records with timestamps that lie outside the retention duration of the memory store. </p> </li> <li> <p> Records with dimensions or measures that exceed the Timestream defined limits. </p> </li> </ul> <p> For more information, see <a href=\"https://docs.aws.amazon.com/timestream/latest/developerguide/ts-limits.html\">Quotas</a> in the Amazon Timestream Developer Guide. </p>",
      "exception":true
    },
    "ReportConfiguration":{
      "type":"structure",
      "members":{
        "ReportS3Configuration":{
          "shape":"ReportS3Configuration",
          "documentation":"<p>Configuration of an S3 location to write error reports and events for a batch load.</p>"
        }
      },
      "documentation":"<p>Report configuration for a batch load task. This contains details about where error reports are stored.</p>"
    },
    "ReportS3Configuration":{
      "type":"structure",
      "required":["BucketName"],
      "members":{
        "BucketName":{
          "shape":"S3BucketName",
          "documentation":"<p/>"
        },
        "ObjectKeyPrefix":{
          "shape":"S3ObjectKeyPrefix",
          "documentation":"<p/>"
        },
        "EncryptionOption":{
          "shape":"S3EncryptionOption",
          "documentation":"<p/>"
        },
        "KmsKeyId":{
          "shape":"StringValue2048",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p/>"
    },
    "ResourceCreateAPIName":{
      "type":"string",
      "pattern":"[a-zA-Z0-9_.-]+"
    },
    "ResourceName":{"type":"string"},
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>The operation tried to access a nonexistent resource. The resource might not be specified correctly, or its status might not be ACTIVE.</p>",
      "exception":true
    },
    "ResumeBatchLoadTaskRequest":{
      "type":"structure",
      "required":["TaskId"],
      "members":{
        "TaskId":{
          "shape":"BatchLoadTaskId",
          "documentation":"<p>The ID of the batch load task to resume.</p>"
        }
      }
    },
    "ResumeBatchLoadTaskResponse":{
      "type":"structure",
      "members":{}
    },
    "RetentionProperties":{
      "type":"structure",
      "required":[
        "MemoryStoreRetentionPeriodInHours",
        "MagneticStoreRetentionPeriodInDays"
      ],
      "members":{
        "MemoryStoreRetentionPeriodInHours":{
          "shape":"MemoryStoreRetentionPeriodInHours",
          "documentation":"<p>The duration for which data must be stored in the memory store. </p>"
        },
        "MagneticStoreRetentionPeriodInDays":{
          "shape":"MagneticStoreRetentionPeriodInDays",
          "documentation":"<p>The duration for which data must be stored in the magnetic store. </p>"
        }
      },
      "documentation":"<p>Retention properties contain the duration for which your time-series data must be stored in the magnetic store and the memory store. </p>"
    },
    "S3BucketName":{
      "type":"string",
      "max":63,
      "min":3,
      "pattern":"[a-z0-9][\\.\\-a-z0-9]{1,61}[a-z0-9]"
    },
    "S3Configuration":{
      "type":"structure",
      "members":{
        "BucketName":{
          "shape":"S3BucketName",
          "documentation":"<p>The bucket name of the customer S3 bucket.</p>"
        },
        "ObjectKeyPrefix":{
          "shape":"S3ObjectKeyPrefix",
          "documentation":"<p>The object key preview for the customer S3 location.</p>"
        },
        "EncryptionOption":{
          "shape":"S3EncryptionOption",
          "documentation":"<p>The encryption option for the customer S3 location. Options are S3 server-side encryption with an S3 managed key or Amazon Web Services managed key.</p>"
        },
        "KmsKeyId":{
          "shape":"StringValue2048",
          "documentation":"<p>The KMS key ID for the customer S3 location when encrypting with an Amazon Web Services managed key.</p>"
        }
      },
      "documentation":"<p>The configuration that specifies an S3 location.</p>"
    },
    "S3EncryptionOption":{
      "type":"string",
      "enum":[
        "SSE_S3",
        "SSE_KMS"
      ]
    },
    "S3ObjectKey":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"[a-zA-Z0-9|!\\-_*'\\(\\)]([a-zA-Z0-9]|[!\\-_*'\\(\\)\\/.])+"
    },
    "S3ObjectKeyPrefix":{
      "type":"string",
      "max":928,
      "min":1,
      "pattern":"[a-zA-Z0-9|!\\-_*'\\(\\)]([a-zA-Z0-9]|[!\\-_*'\\(\\)\\/.])+"
    },
    "ScalarMeasureValueType":{
      "type":"string",
      "enum":[
        "DOUBLE",
        "BIGINT",
        "BOOLEAN",
        "VARCHAR",
        "TIMESTAMP"
      ]
    },
    "Schema":{
      "type":"structure",
      "members":{
        "CompositePartitionKey":{
          "shape":"PartitionKeyList",
          "documentation":"<p>A non-empty list of partition keys defining the attributes used to partition the table data. The order of the list determines the partition hierarchy. The name and type of each partition key as well as the partition key order cannot be changed after the table is created. However, the enforcement level of each partition key can be changed. </p>"
        }
      },
      "documentation":"<p> A Schema specifies the expected data model of the table. </p>"
    },
    "SchemaName":{
      "type":"string",
      "min":1
    },
    "SchemaValue":{"type":"string"},
    "ServiceQuotaExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p> The instance quota of resource exceeded for this account.</p>",
      "exception":true
    },
    "String":{"type":"string"},
    "StringValue1":{
      "type":"string",
      "max":1,
      "min":1
    },
    "StringValue2048":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "StringValue256":{
      "type":"string",
      "max":256,
      "min":1
    },
    "Table":{
      "type":"structure",
      "members":{
        "Arn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name that uniquely identifies this table.</p>"
        },
        "TableName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the Timestream table.</p>"
        },
        "DatabaseName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the Timestream database that contains this table.</p>"
        },
        "TableStatus":{
          "shape":"TableStatus",
          "documentation":"<p>The current state of the table:</p> <ul> <li> <p> <code>DELETING</code> - The table is being deleted.</p> </li> <li> <p> <code>ACTIVE</code> - The table is ready for use.</p> </li> </ul>"
        },
        "RetentionProperties":{
          "shape":"RetentionProperties",
          "documentation":"<p>The retention duration for the memory store and magnetic store.</p>"
        },
        "CreationTime":{
          "shape":"Date",
          "documentation":"<p>The time when the Timestream table was created. </p>"
        },
        "LastUpdatedTime":{
          "shape":"Date",
          "documentation":"<p>The time when the Timestream table was last updated.</p>"
        },
        "MagneticStoreWriteProperties":{
          "shape":"MagneticStoreWriteProperties",
          "documentation":"<p>Contains properties to set on the table when enabling magnetic store writes.</p>"
        },
        "Schema":{
          "shape":"Schema",
          "documentation":"<p> The schema of the table. </p>"
        }
      },
      "documentation":"<p>Represents a database table in Timestream. Tables contain one or more related time series. You can modify the retention duration of the memory store and the magnetic store for a table. </p>"
    },
    "TableList":{
      "type":"list",
      "member":{"shape":"Table"}
    },
    "TableStatus":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "DELETING",
        "RESTORING"
      ]
    },
    "Tag":{
      "type":"structure",
      "required":[
        "Key",
        "Value"
      ],
      "members":{
        "Key":{
          "shape":"TagKey",
          "documentation":"<p> The key of the tag. Tag keys are case sensitive. </p>"
        },
        "Value":{
          "shape":"TagValue",
          "documentation":"<p> The value of the tag. Tag values are case-sensitive and can be null. </p>"
        }
      },
      "documentation":"<p> A tag is a label that you assign to a Timestream database and/or table. Each tag consists of a key and an optional value, both of which you define. With tags, you can categorize databases and/or tables, for example, by purpose, owner, or environment. </p>"
    },
    "TagKey":{
      "type":"string",
      "max":128,
      "min":1
    },
    "TagKeyList":{
      "type":"list",
      "member":{"shape":"TagKey"},
      "max":200,
      "min":0
    },
    "TagList":{
      "type":"list",
      "member":{"shape":"Tag"},
      "max":200,
      "min":0
    },
    "TagResourceRequest":{
      "type":"structure",
      "required":[
        "ResourceARN",
        "Tags"
      ],
      "members":{
        "ResourceARN":{
          "shape":"AmazonResourceName",
          "documentation":"<p> Identifies the Timestream resource to which tags should be added. This value is an Amazon Resource Name (ARN). </p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p> The tags to be assigned to the Timestream resource. </p>"
        }
      }
    },
    "TagResourceResponse":{
      "type":"structure",
      "members":{}
    },
    "TagValue":{
      "type":"string",
      "max":256,
      "min":0
    },
    "ThrottlingException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p> Too many requests were made by a user and they exceeded the service quotas. The request was throttled.</p>",
      "exception":true
    },
    "TimeUnit":{
      "type":"string",
      "enum":[
        "MILLISECONDS",
        "SECONDS",
        "MICROSECONDS",
        "NANOSECONDS"
      ]
    },
    "UntagResourceRequest":{
      "type":"structure",
      "required":[
        "ResourceARN",
        "TagKeys"
      ],
      "members":{
        "ResourceARN":{
          "shape":"AmazonResourceName",
          "documentation":"<p> The Timestream resource that the tags will be removed from. This value is an Amazon Resource Name (ARN). </p>"
        },
        "TagKeys":{
          "shape":"TagKeyList",
          "documentation":"<p> A list of tags keys. Existing tags of the resource whose keys are members of this list will be removed from the Timestream resource. </p>"
        }
      }
    },
    "UntagResourceResponse":{
      "type":"structure",
      "members":{}
    },
    "UpdateDatabaseRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "KmsKeyId"
      ],
      "members":{
        "DatabaseName":{
          "shape":"ResourceName",
          "documentation":"<p> The name of the database. </p>"
        },
        "KmsKeyId":{
          "shape":"StringValue2048",
          "documentation":"<p> The identifier of the new KMS key (<code>KmsKeyId</code>) to be used to encrypt the data stored in the database. If the <code>KmsKeyId</code> currently registered with the database is the same as the <code>KmsKeyId</code> in the request, there will not be any update. </p> <p>You can specify the <code>KmsKeyId</code> using any of the following:</p> <ul> <li> <p>Key ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code> </p> </li> <li> <p>Key ARN: <code>arn:aws:kms:us-east-1:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code> </p> </li> <li> <p>Alias name: <code>alias/ExampleAlias</code> </p> </li> <li> <p>Alias ARN: <code>arn:aws:kms:us-east-1:111122223333:alias/ExampleAlias</code> </p> </li> </ul>"
        }
      }
    },
    "UpdateDatabaseResponse":{
      "type":"structure",
      "members":{
        "Database":{"shape":"Database"}
      }
    },
    "UpdateTableRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "TableName"
      ],
      "members":{
        "DatabaseName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the Timestream database.</p>"
        },
        "TableName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the Timestream table.</p>"
        },
        "RetentionProperties":{
          "shape":"RetentionProperties",
          "documentation":"<p>The retention duration of the memory store and the magnetic store.</p>"
        },
        "MagneticStoreWriteProperties":{
          "shape":"MagneticStoreWriteProperties",
          "documentation":"<p>Contains properties to set on the table when enabling magnetic store writes.</p>"
        },
        "Schema":{
          "shape":"Schema",
          "documentation":"<p> The schema of the table. </p>"
        }
      }
    },
    "UpdateTableResponse":{
      "type":"structure",
      "members":{
        "Table":{
          "shape":"Table",
          "documentation":"<p>The updated Timestream table.</p>"
        }
      }
    },
    "ValidationException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p> An invalid or malformed request.</p>",
      "exception":true
    },
    "WriteRecordsRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "TableName",
        "Records"
      ],
      "members":{
        "DatabaseName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the Timestream database.</p>"
        },
        "TableName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the Timestream table.</p>"
        },
        "CommonAttributes":{
          "shape":"Record",
          "documentation":"<p>A record that contains the common measure, dimension, time, and version attributes shared across all the records in the request. The measure and dimension attributes specified will be merged with the measure and dimension attributes in the records object when the data is written into Timestream. Dimensions may not overlap, or a <code>ValidationException</code> will be thrown. In other words, a record must contain dimensions with unique names. </p>"
        },
        "Records":{
          "shape":"Records",
          "documentation":"<p>An array of records that contain the unique measure, dimension, time, and version attributes for each time-series data point. </p>"
        }
      }
    },
    "WriteRecordsResponse":{
      "type":"structure",
      "members":{
        "RecordsIngested":{
          "shape":"RecordsIngested",
          "documentation":"<p>Information on the records ingested by this request.</p>"
        }
      }
    }
  },
  "documentation":"<fullname>Amazon Timestream Write</fullname> <p>Amazon Timestream is a fast, scalable, fully managed time-series database service that makes it easy to store and analyze trillions of time-series data points per day. With Timestream, you can easily store and analyze IoT sensor data to derive insights from your IoT applications. You can analyze industrial telemetry to streamline equipment management and maintenance. You can also store and analyze log data and metrics to improve the performance and availability of your applications. </p> <p>Timestream is built from the ground up to effectively ingest, process, and store time-series data. It organizes data to optimize query processing. It automatically scales based on the volume of data ingested and on the query volume to ensure you receive optimal performance while inserting and querying data. As your data grows over time, Timestream’s adaptive query processing engine spans across storage tiers to provide fast analysis while reducing costs.</p>"
}
