{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2019-11-15",
    "endpointPrefix":"frauddetector",
    "jsonVersion":"1.1",
    "protocol":"json",
    "protocols":["json"],
    "serviceFullName":"Amazon Fraud Detector",
    "serviceId":"FraudDetector",
    "signatureVersion":"v4",
    "targetPrefix":"AWSHawksNestServiceFacade",
    "uid":"frauddetector-2019-11-15",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "BatchCreateVariable":{
      "name":"BatchCreateVariable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchCreateVariableRequest"},
      "output":{"shape":"BatchCreateVariableResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a batch of variables.</p>"
    },
    "BatchGetVariable":{
      "name":"BatchGetVariable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetVariableRequest"},
      "output":{"shape":"BatchGetVariableResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets a batch of variables.</p>"
    },
    "CancelBatchImportJob":{
      "name":"CancelBatchImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelBatchImportJobRequest"},
      "output":{"shape":"CancelBatchImportJobResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Cancels an in-progress batch import job.</p>"
    },
    "CancelBatchPredictionJob":{
      "name":"CancelBatchPredictionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelBatchPredictionJobRequest"},
      "output":{"shape":"CancelBatchPredictionJobResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Cancels the specified batch prediction job.</p>"
    },
    "CreateBatchImportJob":{
      "name":"CreateBatchImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateBatchImportJobRequest"},
      "output":{"shape":"CreateBatchImportJobResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a batch import job. </p>"
    },
    "CreateBatchPredictionJob":{
      "name":"CreateBatchPredictionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateBatchPredictionJobRequest"},
      "output":{"shape":"CreateBatchPredictionJobResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Creates a batch prediction job.</p>"
    },
    "CreateDetectorVersion":{
      "name":"CreateDetectorVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDetectorVersionRequest"},
      "output":{"shape":"CreateDetectorVersionResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a detector version. The detector version starts in a <code>DRAFT</code> status.</p>"
    },
    "CreateList":{
      "name":"CreateList",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateListRequest"},
      "output":{"shape":"CreateListResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Creates a list. </p> <p>List is a set of input data for a variable in your event dataset. You use the input data in a rule that's associated with your detector. For more information, see <a href=\"https://docs.aws.amazon.com/frauddetector/latest/ug/lists.html\">Lists</a>.</p>"
    },
    "CreateModel":{
      "name":"CreateModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateModelRequest"},
      "output":{"shape":"CreateModelResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a model using the specified model type.</p>"
    },
    "CreateModelVersion":{
      "name":"CreateModelVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateModelVersionRequest"},
      "output":{"shape":"CreateModelVersionResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a version of the model using the specified model type and model id. </p>"
    },
    "CreateRule":{
      "name":"CreateRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateRuleRequest"},
      "output":{"shape":"CreateRuleResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a rule for use with the specified detector. </p>"
    },
    "CreateVariable":{
      "name":"CreateVariable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVariableRequest"},
      "output":{"shape":"CreateVariableResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a variable.</p>"
    },
    "DeleteBatchImportJob":{
      "name":"DeleteBatchImportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteBatchImportJobRequest"},
      "output":{"shape":"DeleteBatchImportJobResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes the specified batch import job ID record. This action does not delete the data that was batch imported. </p>"
    },
    "DeleteBatchPredictionJob":{
      "name":"DeleteBatchPredictionJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteBatchPredictionJobRequest"},
      "output":{"shape":"DeleteBatchPredictionJobResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a batch prediction job.</p>"
    },
    "DeleteDetector":{
      "name":"DeleteDetector",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDetectorRequest"},
      "output":{"shape":"DeleteDetectorResult"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes the detector. Before deleting a detector, you must first delete all detector versions and rule versions associated with the detector.</p> <p>When you delete a detector, Amazon Fraud Detector permanently deletes the detector and the data is no longer stored in Amazon Fraud Detector.</p>"
    },
    "DeleteDetectorVersion":{
      "name":"DeleteDetectorVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDetectorVersionRequest"},
      "output":{"shape":"DeleteDetectorVersionResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes the detector version. You cannot delete detector versions that are in <code>ACTIVE</code> status.</p> <p>When you delete a detector version, Amazon Fraud Detector permanently deletes the detector and the data is no longer stored in Amazon Fraud Detector.</p>"
    },
    "DeleteEntityType":{
      "name":"DeleteEntityType",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEntityTypeRequest"},
      "output":{"shape":"DeleteEntityTypeResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes an entity type.</p> <p>You cannot delete an entity type that is included in an event type.</p> <p>When you delete an entity type, Amazon Fraud Detector permanently deletes that entity type and the data is no longer stored in Amazon Fraud Detector.</p>"
    },
    "DeleteEvent":{
      "name":"DeleteEvent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEventRequest"},
      "output":{"shape":"DeleteEventResult"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Deletes the specified event.</p> <p>When you delete an event, Amazon Fraud Detector permanently deletes that event and the event data is no longer stored in Amazon Fraud Detector. If <code>deleteAuditHistory</code> is <code>True</code>, event data is available through search for up to 30 seconds after the delete operation is completed.</p>"
    },
    "DeleteEventType":{
      "name":"DeleteEventType",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEventTypeRequest"},
      "output":{"shape":"DeleteEventTypeResult"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes an event type.</p> <p>You cannot delete an event type that is used in a detector or a model.</p> <p>When you delete an event type, Amazon Fraud Detector permanently deletes that event type and the data is no longer stored in Amazon Fraud Detector.</p>"
    },
    "DeleteEventsByEventType":{
      "name":"DeleteEventsByEventType",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEventsByEventTypeRequest"},
      "output":{"shape":"DeleteEventsByEventTypeResult"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes all events of a particular event type.</p>"
    },
    "DeleteExternalModel":{
      "name":"DeleteExternalModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteExternalModelRequest"},
      "output":{"shape":"DeleteExternalModelResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Removes a SageMaker model from Amazon Fraud Detector.</p> <p>You can remove an Amazon SageMaker model if it is not associated with a detector version. Removing a SageMaker model disconnects it from Amazon Fraud Detector, but the model remains available in SageMaker.</p>"
    },
    "DeleteLabel":{
      "name":"DeleteLabel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteLabelRequest"},
      "output":{"shape":"DeleteLabelResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes a label.</p> <p>You cannot delete labels that are included in an event type in Amazon Fraud Detector.</p> <p>You cannot delete a label assigned to an event ID. You must first delete the relevant event ID.</p> <p>When you delete a label, Amazon Fraud Detector permanently deletes that label and the data is no longer stored in Amazon Fraud Detector.</p>"
    },
    "DeleteList":{
      "name":"DeleteList",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteListRequest"},
      "output":{"shape":"DeleteListResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p> Deletes the list, provided it is not used in a rule. </p> <p> When you delete a list, Amazon Fraud Detector permanently deletes that list and the elements in the list.</p>"
    },
    "DeleteModel":{
      "name":"DeleteModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteModelRequest"},
      "output":{"shape":"DeleteModelResult"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a model.</p> <p>You can delete models and model versions in Amazon Fraud Detector, provided that they are not associated with a detector version.</p> <p> When you delete a model, Amazon Fraud Detector permanently deletes that model and the data is no longer stored in Amazon Fraud Detector.</p>"
    },
    "DeleteModelVersion":{
      "name":"DeleteModelVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteModelVersionRequest"},
      "output":{"shape":"DeleteModelVersionResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes a model version.</p> <p>You can delete models and model versions in Amazon Fraud Detector, provided that they are not associated with a detector version.</p> <p> When you delete a model version, Amazon Fraud Detector permanently deletes that model version and the data is no longer stored in Amazon Fraud Detector.</p>"
    },
    "DeleteOutcome":{
      "name":"DeleteOutcome",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteOutcomeRequest"},
      "output":{"shape":"DeleteOutcomeResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes an outcome.</p> <p>You cannot delete an outcome that is used in a rule version.</p> <p>When you delete an outcome, Amazon Fraud Detector permanently deletes that outcome and the data is no longer stored in Amazon Fraud Detector.</p>"
    },
    "DeleteRule":{
      "name":"DeleteRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRuleRequest"},
      "output":{"shape":"DeleteRuleResult"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes the rule. You cannot delete a rule if it is used by an <code>ACTIVE</code> or <code>INACTIVE</code> detector version.</p> <p>When you delete a rule, Amazon Fraud Detector permanently deletes that rule and the data is no longer stored in Amazon Fraud Detector.</p>"
    },
    "DeleteVariable":{
      "name":"DeleteVariable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVariableRequest"},
      "output":{"shape":"DeleteVariableResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a variable.</p> <p>You can't delete variables that are included in an event type in Amazon Fraud Detector.</p> <p>Amazon Fraud Detector automatically deletes model output variables and SageMaker model output variables when you delete the model. You can't delete these variables manually.</p> <p>When you delete a variable, Amazon Fraud Detector permanently deletes that variable and the data is no longer stored in Amazon Fraud Detector.</p>"
    },
    "DescribeDetector":{
      "name":"DescribeDetector",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDetectorRequest"},
      "output":{"shape":"DescribeDetectorResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets all versions for a specified detector.</p>"
    },
    "DescribeModelVersions":{
      "name":"DescribeModelVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeModelVersionsRequest"},
      "output":{"shape":"DescribeModelVersionsResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets all of the model versions for the specified model type or for the specified model type and model ID. You can also get details for a single, specified model version. </p>"
    },
    "GetBatchImportJobs":{
      "name":"GetBatchImportJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetBatchImportJobsRequest"},
      "output":{"shape":"GetBatchImportJobsResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets all batch import jobs or a specific job of the specified ID. This is a paginated API. If you provide a null <code>maxResults</code>, this action retrieves a maximum of 50 records per page. If you provide a <code>maxResults</code>, the value must be between 1 and 50. To get the next page results, provide the pagination token from the <code>GetBatchImportJobsResponse</code> as part of your request. A null pagination token fetches the records from the beginning.</p>"
    },
    "GetBatchPredictionJobs":{
      "name":"GetBatchPredictionJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetBatchPredictionJobsRequest"},
      "output":{"shape":"GetBatchPredictionJobsResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets all batch prediction jobs or a specific job if you specify a job ID. This is a paginated API. If you provide a null maxResults, this action retrieves a maximum of 50 records per page. If you provide a maxResults, the value must be between 1 and 50. To get the next page results, provide the pagination token from the GetBatchPredictionJobsResponse as part of your request. A null pagination token fetches the records from the beginning.</p>"
    },
    "GetDeleteEventsByEventTypeStatus":{
      "name":"GetDeleteEventsByEventTypeStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDeleteEventsByEventTypeStatusRequest"},
      "output":{"shape":"GetDeleteEventsByEventTypeStatusResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves the status of a <code>DeleteEventsByEventType</code> action.</p>"
    },
    "GetDetectorVersion":{
      "name":"GetDetectorVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDetectorVersionRequest"},
      "output":{"shape":"GetDetectorVersionResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets a particular detector version. </p>"
    },
    "GetDetectors":{
      "name":"GetDetectors",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDetectorsRequest"},
      "output":{"shape":"GetDetectorsResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets all detectors or a single detector if a <code>detectorId</code> is specified. This is a paginated API. If you provide a null <code>maxResults</code>, this action retrieves a maximum of 10 records per page. If you provide a <code>maxResults</code>, the value must be between 5 and 10. To get the next page results, provide the pagination token from the <code>GetDetectorsResponse</code> as part of your request. A null pagination token fetches the records from the beginning. </p>"
    },
    "GetEntityTypes":{
      "name":"GetEntityTypes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetEntityTypesRequest"},
      "output":{"shape":"GetEntityTypesResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets all entity types or a specific entity type if a name is specified. This is a paginated API. If you provide a null <code>maxResults</code>, this action retrieves a maximum of 10 records per page. If you provide a <code>maxResults</code>, the value must be between 5 and 10. To get the next page results, provide the pagination token from the <code>GetEntityTypesResponse</code> as part of your request. A null pagination token fetches the records from the beginning. </p>"
    },
    "GetEvent":{
      "name":"GetEvent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetEventRequest"},
      "output":{"shape":"GetEventResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves details of events stored with Amazon Fraud Detector. This action does not retrieve prediction results.</p>"
    },
    "GetEventPrediction":{
      "name":"GetEventPrediction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetEventPredictionRequest"},
      "output":{"shape":"GetEventPredictionResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Evaluates an event against a detector version. If a version ID is not provided, the detector’s (<code>ACTIVE</code>) version is used.</p>"
    },
    "GetEventPredictionMetadata":{
      "name":"GetEventPredictionMetadata",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetEventPredictionMetadataRequest"},
      "output":{"shape":"GetEventPredictionMetadataResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p> Gets details of the past fraud predictions for the specified event ID, event type, detector ID, and detector version ID that was generated in the specified time period. </p>"
    },
    "GetEventTypes":{
      "name":"GetEventTypes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetEventTypesRequest"},
      "output":{"shape":"GetEventTypesResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets all event types or a specific event type if name is provided. This is a paginated API. If you provide a null <code>maxResults</code>, this action retrieves a maximum of 10 records per page. If you provide a <code>maxResults</code>, the value must be between 5 and 10. To get the next page results, provide the pagination token from the <code>GetEventTypesResponse</code> as part of your request. A null pagination token fetches the records from the beginning. </p>"
    },
    "GetExternalModels":{
      "name":"GetExternalModels",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetExternalModelsRequest"},
      "output":{"shape":"GetExternalModelsResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets the details for one or more Amazon SageMaker models that have been imported into the service. This is a paginated API. If you provide a null <code>maxResults</code>, this actions retrieves a maximum of 10 records per page. If you provide a <code>maxResults</code>, the value must be between 5 and 10. To get the next page results, provide the pagination token from the <code>GetExternalModelsResult</code> as part of your request. A null pagination token fetches the records from the beginning. </p>"
    },
    "GetKMSEncryptionKey":{
      "name":"GetKMSEncryptionKey",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{"shape":"GetKMSEncryptionKeyResult"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets the encryption key if a KMS key has been specified to be used to encrypt content in Amazon Fraud Detector.</p>"
    },
    "GetLabels":{
      "name":"GetLabels",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetLabelsRequest"},
      "output":{"shape":"GetLabelsResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets all labels or a specific label if name is provided. This is a paginated API. If you provide a null <code>maxResults</code>, this action retrieves a maximum of 50 records per page. If you provide a <code>maxResults</code>, the value must be between 10 and 50. To get the next page results, provide the pagination token from the <code>GetGetLabelsResponse</code> as part of your request. A null pagination token fetches the records from the beginning. </p>"
    },
    "GetListElements":{
      "name":"GetListElements",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetListElementsRequest"},
      "output":{"shape":"GetListElementsResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Gets all the elements in the specified list. </p>"
    },
    "GetListsMetadata":{
      "name":"GetListsMetadata",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetListsMetadataRequest"},
      "output":{"shape":"GetListsMetadataResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p> Gets the metadata of either all the lists under the account or the specified list. </p>"
    },
    "GetModelVersion":{
      "name":"GetModelVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetModelVersionRequest"},
      "output":{"shape":"GetModelVersionResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets the details of the specified model version.</p>"
    },
    "GetModels":{
      "name":"GetModels",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetModelsRequest"},
      "output":{"shape":"GetModelsResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets one or more models. Gets all models for the Amazon Web Services account if no model type and no model id provided. Gets all models for the Amazon Web Services account and model type, if the model type is specified but model id is not provided. Gets a specific model if (model type, model id) tuple is specified. </p> <p>This is a paginated API. If you provide a null <code>maxResults</code>, this action retrieves a maximum of 10 records per page. If you provide a <code>maxResults</code>, the value must be between 1 and 10. To get the next page results, provide the pagination token from the response as part of your request. A null pagination token fetches the records from the beginning.</p>"
    },
    "GetOutcomes":{
      "name":"GetOutcomes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetOutcomesRequest"},
      "output":{"shape":"GetOutcomesResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets one or more outcomes. This is a paginated API. If you provide a null <code>maxResults</code>, this actions retrieves a maximum of 100 records per page. If you provide a <code>maxResults</code>, the value must be between 50 and 100. To get the next page results, provide the pagination token from the <code>GetOutcomesResult</code> as part of your request. A null pagination token fetches the records from the beginning. </p>"
    },
    "GetRules":{
      "name":"GetRules",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRulesRequest"},
      "output":{"shape":"GetRulesResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Get all rules for a detector (paginated) if <code>ruleId</code> and <code>ruleVersion</code> are not specified. Gets all rules for the detector and the <code>ruleId</code> if present (paginated). Gets a specific rule if both the <code>ruleId</code> and the <code>ruleVersion</code> are specified.</p> <p>This is a paginated API. Providing null maxResults results in retrieving maximum of 100 records per page. If you provide maxResults the value must be between 50 and 100. To get the next page result, a provide a pagination token from GetRulesResult as part of your request. Null pagination token fetches the records from the beginning.</p>"
    },
    "GetVariables":{
      "name":"GetVariables",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetVariablesRequest"},
      "output":{"shape":"GetVariablesResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Gets all of the variables or the specific variable. This is a paginated API. Providing null <code>maxSizePerPage</code> results in retrieving maximum of 100 records per page. If you provide <code>maxSizePerPage</code> the value must be between 50 and 100. To get the next page result, a provide a pagination token from <code>GetVariablesResult</code> as part of your request. Null pagination token fetches the records from the beginning. </p>"
    },
    "ListEventPredictions":{
      "name":"ListEventPredictions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEventPredictionsRequest"},
      "output":{"shape":"ListEventPredictionsResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets a list of past predictions. The list can be filtered by detector ID, detector version ID, event ID, event type, or by specifying a time period. If filter is not specified, the most recent prediction is returned.</p> <p>For example, the following filter lists all past predictions for <code>xyz</code> event type - <code>{ \"eventType\":{ \"value\": \"xyz\" }” } </code> </p> <p>This is a paginated API. If you provide a null <code>maxResults</code>, this action will retrieve a maximum of 10 records per page. If you provide a <code>maxResults</code>, the value must be between 50 and 100. To get the next page results, provide the <code>nextToken</code> from the response as part of your request. A null <code>nextToken</code> fetches the records from the beginning. </p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists all tags associated with the resource. This is a paginated API. To get the next page results, provide the pagination token from the response as part of your request. A null pagination token fetches the records from the beginning. </p>"
    },
    "PutDetector":{
      "name":"PutDetector",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutDetectorRequest"},
      "output":{"shape":"PutDetectorResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Creates or updates a detector. </p>"
    },
    "PutEntityType":{
      "name":"PutEntityType",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutEntityTypeRequest"},
      "output":{"shape":"PutEntityTypeResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Creates or updates an entity type. An entity represents who is performing the event. As part of a fraud prediction, you pass the entity ID to indicate the specific entity who performed the event. An entity type classifies the entity. Example classifications include customer, merchant, or account.</p>"
    },
    "PutEventType":{
      "name":"PutEventType",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutEventTypeRequest"},
      "output":{"shape":"PutEventTypeResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Creates or updates an event type. An event is a business activity that is evaluated for fraud risk. With Amazon Fraud Detector, you generate fraud predictions for events. An event type defines the structure for an event sent to Amazon Fraud Detector. This includes the variables sent as part of the event, the entity performing the event (such as a customer), and the labels that classify the event. Example event types include online payment transactions, account registrations, and authentications.</p>"
    },
    "PutExternalModel":{
      "name":"PutExternalModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutExternalModelRequest"},
      "output":{"shape":"PutExternalModelResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Creates or updates an Amazon SageMaker model endpoint. You can also use this action to update the configuration of the model endpoint, including the IAM role and/or the mapped variables. </p>"
    },
    "PutKMSEncryptionKey":{
      "name":"PutKMSEncryptionKey",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutKMSEncryptionKeyRequest"},
      "output":{"shape":"PutKMSEncryptionKeyResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Specifies the KMS key to be used to encrypt content in Amazon Fraud Detector.</p>"
    },
    "PutLabel":{
      "name":"PutLabel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutLabelRequest"},
      "output":{"shape":"PutLabelResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Creates or updates label. A label classifies an event as fraudulent or legitimate. Labels are associated with event types and used to train supervised machine learning models in Amazon Fraud Detector. </p>"
    },
    "PutOutcome":{
      "name":"PutOutcome",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutOutcomeRequest"},
      "output":{"shape":"PutOutcomeResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Creates or updates an outcome. </p>"
    },
    "SendEvent":{
      "name":"SendEvent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SendEventRequest"},
      "output":{"shape":"SendEventResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Stores events in Amazon Fraud Detector without generating fraud predictions for those events. For example, you can use <code>SendEvent</code> to upload a historical dataset, which you can then later use to train a model.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Assigns tags to a resource.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Removes tags from a resource.</p>"
    },
    "UpdateDetectorVersion":{
      "name":"UpdateDetectorVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDetectorVersionRequest"},
      "output":{"shape":"UpdateDetectorVersionResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p> Updates a detector version. The detector version attributes that you can update include models, external model endpoints, rules, rule execution mode, and description. You can only update a <code>DRAFT</code> detector version.</p>"
    },
    "UpdateDetectorVersionMetadata":{
      "name":"UpdateDetectorVersionMetadata",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDetectorVersionMetadataRequest"},
      "output":{"shape":"UpdateDetectorVersionMetadataResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Updates the detector version's description. You can update the metadata for any detector version (<code>DRAFT, ACTIVE,</code> or <code>INACTIVE</code>). </p>"
    },
    "UpdateDetectorVersionStatus":{
      "name":"UpdateDetectorVersionStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDetectorVersionStatusRequest"},
      "output":{"shape":"UpdateDetectorVersionStatusResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Updates the detector version’s status. You can perform the following promotions or demotions using <code>UpdateDetectorVersionStatus</code>: <code>DRAFT</code> to <code>ACTIVE</code>, <code>ACTIVE</code> to <code>INACTIVE</code>, and <code>INACTIVE</code> to <code>ACTIVE</code>.</p>"
    },
    "UpdateEventLabel":{
      "name":"UpdateEventLabel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEventLabelRequest"},
      "output":{"shape":"UpdateEventLabelResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Updates the specified event with a new label.</p>"
    },
    "UpdateList":{
      "name":"UpdateList",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateListRequest"},
      "output":{"shape":"UpdateListResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p> Updates a list. </p>"
    },
    "UpdateModel":{
      "name":"UpdateModel",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateModelRequest"},
      "output":{"shape":"UpdateModelResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Updates model description.</p>"
    },
    "UpdateModelVersion":{
      "name":"UpdateModelVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateModelVersionRequest"},
      "output":{"shape":"UpdateModelVersionResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Updates a model version. Updating a model version retrains an existing model version using updated training data and produces a new minor version of the model. You can update the training data set location and data access role attributes using this action. This action creates and trains a new minor version of the model, for example version 1.01, 1.02, 1.03.</p>"
    },
    "UpdateModelVersionStatus":{
      "name":"UpdateModelVersionStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateModelVersionStatusRequest"},
      "output":{"shape":"UpdateModelVersionStatusResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Updates the status of a model version.</p> <p>You can perform the following status updates:</p> <ol> <li> <p>Change the <code>TRAINING_IN_PROGRESS</code> status to <code>TRAINING_CANCELLED</code>.</p> </li> <li> <p>Change the <code>TRAINING_COMPLETE</code> status to <code>ACTIVE</code>.</p> </li> <li> <p>Change <code>ACTIVE</code> to <code>INACTIVE</code>.</p> </li> </ol>"
    },
    "UpdateRuleMetadata":{
      "name":"UpdateRuleMetadata",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateRuleMetadataRequest"},
      "output":{"shape":"UpdateRuleMetadataResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Updates a rule's metadata. The description attribute can be updated.</p>"
    },
    "UpdateRuleVersion":{
      "name":"UpdateRuleVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateRuleVersionRequest"},
      "output":{"shape":"UpdateRuleVersionResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Updates a rule version resulting in a new rule version. Updates a rule version resulting in a new rule version (version 1, 2, 3 ...). </p>"
    },
    "UpdateVariable":{
      "name":"UpdateVariable",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateVariableRequest"},
      "output":{"shape":"UpdateVariableResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Updates a variable.</p>"
    }
  },
  "shapes":{
    "ATIMetricDataPoint":{
      "type":"structure",
      "members":{
        "cr":{
          "shape":"float",
          "documentation":"<p> The challenge rate. This indicates the percentage of login events that the model recommends to challenge such as one-time password, multi-factor authentication, and investigations. </p>"
        },
        "adr":{
          "shape":"float",
          "documentation":"<p> The anomaly discovery rate. This metric quantifies the percentage of anomalies that can be detected by the model at the selected score threshold. A lower score threshold increases the percentage of anomalies captured by the model, but would also require challenging a larger percentage of login events, leading to a higher customer friction. </p>"
        },
        "threshold":{
          "shape":"float",
          "documentation":"<p> The model's threshold that specifies an acceptable fraud capture rate. For example, a threshold of 500 means any model score 500 or above is labeled as fraud. </p>"
        },
        "atodr":{
          "shape":"float",
          "documentation":"<p> The account takeover discovery rate. This metric quantifies the percentage of account compromise events that can be detected by the model at the selected score threshold. This metric is only available if 50 or more entities with at-least one labeled account takeover event is present in the ingested dataset. </p>"
        }
      },
      "documentation":"<p> The Account Takeover Insights (ATI) model performance metrics data points. </p>"
    },
    "ATIMetricDataPointsList":{
      "type":"list",
      "member":{"shape":"ATIMetricDataPoint"}
    },
    "ATIModelPerformance":{
      "type":"structure",
      "members":{
        "asi":{
          "shape":"float",
          "documentation":"<p> The anomaly separation index (ASI) score. This metric summarizes the overall ability of the model to separate anomalous activities from the normal behavior. Depending on the business, a large fraction of these anomalous activities can be malicious and correspond to the account takeover attacks. A model with no separability power will have the lowest possible ASI score of 0.5, whereas the a model with a high separability power will have the highest possible ASI score of 1.0 </p>"
        }
      },
      "documentation":"<p> The Account Takeover Insights (ATI) model performance score. </p>"
    },
    "ATITrainingMetricsValue":{
      "type":"structure",
      "members":{
        "metricDataPoints":{
          "shape":"ATIMetricDataPointsList",
          "documentation":"<p> The model's performance metrics data points. </p>"
        },
        "modelPerformance":{
          "shape":"ATIModelPerformance",
          "documentation":"<p> The model's overall performance scores. </p>"
        }
      },
      "documentation":"<p> The Account Takeover Insights (ATI) model training metric details. </p>"
    },
    "AccessDeniedException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"string"}
      },
      "documentation":"<p>An exception indicating Amazon Fraud Detector does not have the needed permissions. This can occur if you submit a request, such as <code>PutExternalModel</code>, that specifies a role that is not in your account.</p>",
      "exception":true
    },
    "AggregatedLogOddsMetric":{
      "type":"structure",
      "required":[
        "variableNames",
        "aggregatedVariablesImportance"
      ],
      "members":{
        "variableNames":{
          "shape":"ListOfStrings",
          "documentation":"<p> The names of all the variables. </p>"
        },
        "aggregatedVariablesImportance":{
          "shape":"float",
          "documentation":"<p> The relative importance of the variables in the list to the other event variable. </p>"
        }
      },
      "documentation":"<p>The log odds metric details.</p> <p>Account Takeover Insights (ATI) model uses event variables from the login data you provide to continuously calculate a set of variables (aggregated variables) based on historical events. For example, your ATI model might calculate the number of times an user has logged in using the same IP address. In this case, event variables used to derive the aggregated variables are <code>IP address</code> and <code>user</code>.</p>"
    },
    "AggregatedVariablesImpactExplanation":{
      "type":"structure",
      "members":{
        "eventVariableNames":{
          "shape":"ListOfStrings",
          "documentation":"<p> The names of all the event variables that were used to derive the aggregated variables. </p>"
        },
        "relativeImpact":{
          "shape":"string",
          "documentation":"<p> The relative impact of the aggregated variables in terms of magnitude on the prediction scores. </p>"
        },
        "logOddsImpact":{
          "shape":"float",
          "documentation":"<p> The raw, uninterpreted value represented as log-odds of the fraud. These values are usually between -10 to +10, but range from -infinity to +infinity.</p> <ul> <li> <p>A positive value indicates that the variables drove the risk score up.</p> </li> <li> <p>A negative value indicates that the variables drove the risk score down.</p> </li> </ul>"
        }
      },
      "documentation":"<p> The details of the impact of aggregated variables on the prediction score. </p> <p>Account Takeover Insights (ATI) model uses the login data you provide to continuously calculate a set of variables (aggregated variables) based on historical events. For example, the model might calculate the number of times an user has logged in using the same IP address. In this case, event variables used to derive the aggregated variables are <code>IP address</code> and <code>user</code>.</p>"
    },
    "AggregatedVariablesImportanceMetrics":{
      "type":"structure",
      "members":{
        "logOddsMetrics":{
          "shape":"ListOfAggregatedLogOddsMetrics",
          "documentation":"<p> List of variables' metrics. </p>"
        }
      },
      "documentation":"<p>The details of the relative importance of the aggregated variables.</p> <p>Account Takeover Insights (ATI) model uses event variables from the login data you provide to continuously calculate a set of variables (aggregated variables) based on historical events. For example, your ATI model might calculate the number of times an user has logged in using the same IP address. In this case, event variables used to derive the aggregated variables are <code>IP address</code> and <code>user</code>.</p>"
    },
    "AllowDenyList":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"noDashIdentifier",
          "documentation":"<p> The name of the list. </p>"
        },
        "description":{
          "shape":"description",
          "documentation":"<p> The description of the list. </p>"
        },
        "variableType":{
          "shape":"variableType",
          "documentation":"<p> The variable type of the list. </p>"
        },
        "createdTime":{
          "shape":"time",
          "documentation":"<p> The time the list was created. </p>"
        },
        "updatedTime":{
          "shape":"time",
          "documentation":"<p> The time the list was last updated. </p>"
        },
        "arn":{
          "shape":"fraudDetectorArn",
          "documentation":"<p> The ARN of the list. </p>"
        }
      },
      "documentation":"<p> The metadata of a list. </p>"
    },
    "AllowDenyLists":{
      "type":"list",
      "member":{"shape":"AllowDenyList"}
    },
    "AsyncJobStatus":{
      "type":"string",
      "enum":[
        "IN_PROGRESS_INITIALIZING",
        "IN_PROGRESS",
        "CANCEL_IN_PROGRESS",
        "CANCELED",
        "COMPLETE",
        "FAILED"
      ]
    },
    "BatchCreateVariableError":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"string",
          "documentation":"<p>The name.</p>"
        },
        "code":{
          "shape":"integer",
          "documentation":"<p>The error code. </p>"
        },
        "message":{
          "shape":"string",
          "documentation":"<p>The error message.</p>"
        }
      },
      "documentation":"<p>Provides the error of the batch create variable API.</p>"
    },
    "BatchCreateVariableErrorList":{
      "type":"list",
      "member":{"shape":"BatchCreateVariableError"}
    },
    "BatchCreateVariableRequest":{
      "type":"structure",
      "required":["variableEntries"],
      "members":{
        "variableEntries":{
          "shape":"VariableEntryList",
          "documentation":"<p>The list of variables for the batch create variable request.</p>"
        },
        "tags":{
          "shape":"tagList",
          "documentation":"<p>A collection of key and value pairs.</p>"
        }
      }
    },
    "BatchCreateVariableResult":{
      "type":"structure",
      "members":{
        "errors":{
          "shape":"BatchCreateVariableErrorList",
          "documentation":"<p>Provides the errors for the <code>BatchCreateVariable</code> request.</p>"
        }
      }
    },
    "BatchGetVariableError":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"string",
          "documentation":"<p>The error name. </p>"
        },
        "code":{
          "shape":"integer",
          "documentation":"<p>The error code. </p>"
        },
        "message":{
          "shape":"string",
          "documentation":"<p>The error message.</p>"
        }
      },
      "documentation":"<p>Provides the error of the batch get variable API.</p>"
    },
    "BatchGetVariableErrorList":{
      "type":"list",
      "member":{"shape":"BatchGetVariableError"}
    },
    "BatchGetVariableRequest":{
      "type":"structure",
      "required":["names"],
      "members":{
        "names":{
          "shape":"NameList",
          "documentation":"<p>The list of variable names to get.</p>"
        }
      }
    },
    "BatchGetVariableResult":{
      "type":"structure",
      "members":{
        "variables":{
          "shape":"VariableList",
          "documentation":"<p>The returned variables.</p>"
        },
        "errors":{
          "shape":"BatchGetVariableErrorList",
          "documentation":"<p>The errors from the request.</p>"
        }
      }
    },
    "BatchImport":{
      "type":"structure",
      "members":{
        "jobId":{
          "shape":"identifier",
          "documentation":"<p>The ID of the batch import job. </p>"
        },
        "status":{
          "shape":"AsyncJobStatus",
          "documentation":"<p>The status of the batch import job.</p>"
        },
        "failureReason":{
          "shape":"string",
          "documentation":"<p>The reason batch import job failed.</p>"
        },
        "startTime":{
          "shape":"time",
          "documentation":"<p>Timestamp of when the batch import job started.</p>"
        },
        "completionTime":{
          "shape":"time",
          "documentation":"<p>Timestamp of when batch import job completed.</p>"
        },
        "inputPath":{
          "shape":"s3BucketLocation",
          "documentation":"<p>The Amazon S3 location of your data file for batch import.</p>"
        },
        "outputPath":{
          "shape":"s3BucketLocation",
          "documentation":"<p>The Amazon S3 location of your output file.</p>"
        },
        "eventTypeName":{
          "shape":"identifier",
          "documentation":"<p>The name of the event type.</p>"
        },
        "iamRoleArn":{
          "shape":"iamRoleArn",
          "documentation":"<p>The ARN of the IAM role to use for this job request.</p>"
        },
        "arn":{
          "shape":"fraudDetectorArn",
          "documentation":"<p>The ARN of the batch import job.</p>"
        },
        "processedRecordsCount":{
          "shape":"Integer",
          "documentation":"<p>The number of records processed by batch import job.</p>"
        },
        "failedRecordsCount":{
          "shape":"Integer",
          "documentation":"<p>The number of records that failed to import. </p>"
        },
        "totalRecordsCount":{
          "shape":"Integer",
          "documentation":"<p>The total number of records in the batch import job.</p>"
        }
      },
      "documentation":"<p>The batch import job details.</p>"
    },
    "BatchImportList":{
      "type":"list",
      "member":{"shape":"BatchImport"}
    },
    "BatchPrediction":{
      "type":"structure",
      "members":{
        "jobId":{
          "shape":"identifier",
          "documentation":"<p>The job ID for the batch prediction.</p>"
        },
        "status":{
          "shape":"AsyncJobStatus",
          "documentation":"<p>The batch prediction status.</p>"
        },
        "failureReason":{
          "shape":"string",
          "documentation":"<p>The reason a batch prediction job failed.</p>"
        },
        "startTime":{
          "shape":"time",
          "documentation":"<p>Timestamp of when the batch prediction job started.</p>"
        },
        "completionTime":{
          "shape":"time",
          "documentation":"<p>Timestamp of when the batch prediction job completed.</p>"
        },
        "lastHeartbeatTime":{
          "shape":"time",
          "documentation":"<p>Timestamp of most recent heartbeat indicating the batch prediction job was making progress.</p>"
        },
        "inputPath":{
          "shape":"s3BucketLocation",
          "documentation":"<p>The Amazon S3 location of your training file.</p>"
        },
        "outputPath":{
          "shape":"s3BucketLocation",
          "documentation":"<p>The Amazon S3 location of your output file.</p>"
        },
        "eventTypeName":{
          "shape":"identifier",
          "documentation":"<p>The name of the event type.</p>"
        },
        "detectorName":{
          "shape":"identifier",
          "documentation":"<p>The name of the detector.</p>"
        },
        "detectorVersion":{
          "shape":"floatVersionString",
          "documentation":"<p>The detector version. </p>"
        },
        "iamRoleArn":{
          "shape":"iamRoleArn",
          "documentation":"<p>The ARN of the IAM role to use for this job request.</p>"
        },
        "arn":{
          "shape":"fraudDetectorArn",
          "documentation":"<p>The ARN of batch prediction job.</p>"
        },
        "processedRecordsCount":{
          "shape":"Integer",
          "documentation":"<p>The number of records processed by the batch prediction job.</p>"
        },
        "totalRecordsCount":{
          "shape":"Integer",
          "documentation":"<p>The total number of records in the batch prediction job.</p>"
        }
      },
      "documentation":"<p>The batch prediction details.</p>"
    },
    "BatchPredictionList":{
      "type":"list",
      "member":{"shape":"BatchPrediction"}
    },
    "Boolean":{"type":"boolean"},
    "CancelBatchImportJobRequest":{
      "type":"structure",
      "required":["jobId"],
      "members":{
        "jobId":{
          "shape":"identifier",
          "documentation":"<p> The ID of an in-progress batch import job to cancel. </p> <p>Amazon Fraud Detector will throw an error if the batch import job is in <code>FAILED</code>, <code>CANCELED</code>, or <code>COMPLETED</code> state.</p>"
        }
      }
    },
    "CancelBatchImportJobResult":{
      "type":"structure",
      "members":{}
    },
    "CancelBatchPredictionJobRequest":{
      "type":"structure",
      "required":["jobId"],
      "members":{
        "jobId":{
          "shape":"identifier",
          "documentation":"<p>The ID of the batch prediction job to cancel.</p>"
        }
      }
    },
    "CancelBatchPredictionJobResult":{
      "type":"structure",
      "members":{}
    },
    "ConflictException":{
      "type":"structure",
      "required":["message"],
      "members":{
        "message":{"shape":"string"}
      },
      "documentation":"<p>An exception indicating there was a conflict during a delete operation.</p>",
      "exception":true
    },
    "CreateBatchImportJobRequest":{
      "type":"structure",
      "required":[
        "jobId",
        "inputPath",
        "outputPath",
        "eventTypeName",
        "iamRoleArn"
      ],
      "members":{
        "jobId":{
          "shape":"identifier",
          "documentation":"<p>The ID of the batch import job. The ID cannot be of a past job, unless the job exists in <code>CREATE_FAILED</code> state.</p>"
        },
        "inputPath":{
          "shape":"s3BucketLocation",
          "documentation":"<p>The URI that points to the Amazon S3 location of your data file.</p>"
        },
        "outputPath":{
          "shape":"s3BucketLocation",
          "documentation":"<p>The URI that points to the Amazon S3 location for storing your results. </p>"
        },
        "eventTypeName":{
          "shape":"identifier",
          "documentation":"<p>The name of the event type.</p>"
        },
        "iamRoleArn":{
          "shape":"iamRoleArn",
          "documentation":"<p>The ARN of the IAM role created for Amazon S3 bucket that holds your data file.</p> <p>The IAM role must have read permissions to your input S3 bucket and write permissions to your output S3 bucket. For more information about bucket permissions, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/example-policies-s3.html\">User policy examples</a> in the <i>Amazon S3 User Guide</i>.</p>"
        },
        "tags":{
          "shape":"tagList",
          "documentation":"<p>A collection of key-value pairs associated with this request. </p>"
        }
      }
    },
    "CreateBatchImportJobResult":{
      "type":"structure",
      "members":{}
    },
    "CreateBatchPredictionJobRequest":{
      "type":"structure",
      "required":[
        "jobId",
        "inputPath",
        "outputPath",
        "eventTypeName",
        "detectorName",
        "iamRoleArn"
      ],
      "members":{
        "jobId":{
          "shape":"identifier",
          "documentation":"<p>The ID of the batch prediction job.</p>"
        },
        "inputPath":{
          "shape":"s3BucketLocation",
          "documentation":"<p>The Amazon S3 location of your training file.</p>"
        },
        "outputPath":{
          "shape":"s3BucketLocation",
          "documentation":"<p>The Amazon S3 location of your output file.</p>"
        },
        "eventTypeName":{
          "shape":"identifier",
          "documentation":"<p>The name of the event type.</p>"
        },
        "detectorName":{
          "shape":"identifier",
          "documentation":"<p>The name of the detector.</p>"
        },
        "detectorVersion":{
          "shape":"wholeNumberVersionString",
          "documentation":"<p>The detector version.</p>"
        },
        "iamRoleArn":{
          "shape":"iamRoleArn",
          "documentation":"<p>The ARN of the IAM role to use for this job request.</p> <p>The IAM Role must have read permissions to your input S3 bucket and write permissions to your output S3 bucket. For more information about bucket permissions, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/example-policies-s3.html\">User policy examples</a> in the <i>Amazon S3 User Guide</i>.</p>"
        },
        "tags":{
          "shape":"tagList",
          "documentation":"<p>A collection of key and value pairs.</p>"
        }
      }
    },
    "CreateBatchPredictionJobResult":{
      "type":"structure",
      "members":{}
    },
    "CreateDetectorVersionRequest":{
      "type":"structure",
      "required":[
        "detectorId",
        "rules"
      ],
      "members":{
        "detectorId":{
          "shape":"identifier",
          "documentation":"<p>The ID of the detector under which you want to create a new version.</p>"
        },
        "description":{
          "shape":"description",
          "documentation":"<p>The description of the detector version.</p>"
        },
        "externalModelEndpoints":{
          "shape":"ListOfStrings",
          "documentation":"<p>The Amazon Sagemaker model endpoints to include in the detector version.</p>"
        },
        "rules":{
          "shape":"RuleList",
          "documentation":"<p>The rules to include in the detector version.</p>"
        },
        "modelVersions":{
          "shape":"ListOfModelVersions",
          "documentation":"<p>The model versions to include in the detector version.</p>"
        },
        "ruleExecutionMode":{
          "shape":"RuleExecutionMode",
          "documentation":"<p>The rule execution mode for the rules included in the detector version.</p> <p>You can define and edit the rule mode at the detector version level, when it is in draft status.</p> <p>If you specify <code>FIRST_MATCHED</code>, Amazon Fraud Detector evaluates rules sequentially, first to last, stopping at the first matched rule. Amazon Fraud dectector then provides the outcomes for that single rule.</p> <p>If you specifiy <code>ALL_MATCHED</code>, Amazon Fraud Detector evaluates all rules and returns the outcomes for all matched rules. </p> <p>The default behavior is <code>FIRST_MATCHED</code>.</p>"
        },
        "tags":{
          "shape":"tagList",
          "documentation":"<p>A collection of key and value pairs.</p>"
        }
      }
    },
    "CreateDetectorVersionResult":{
      "type":"structure",
      "members":{
        "detectorId":{
          "shape":"identifier",
          "documentation":"<p>The ID for the created version's parent detector.</p>"
        },
        "detectorVersionId":{
          "shape":"wholeNumberVersionString",
          "documentation":"<p>The ID for the created detector. </p>"
        },
        "status":{
          "shape":"DetectorVersionStatus",
          "documentation":"<p>The status of the detector version.</p>"
        }
      }
    },
    "CreateListRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"noDashIdentifier",
          "documentation":"<p> The name of the list. </p>"
        },
        "elements":{
          "shape":"ElementsList",
          "documentation":"<p> The names of the elements, if providing. You can also create an empty list and add elements later using the <a href=\"https://docs.aws.amazon.com/frauddetector/latest/api/API_Updatelist.html\">UpdateList</a> API. </p>"
        },
        "variableType":{
          "shape":"variableType",
          "documentation":"<p> The variable type of the list. You can only assign the variable type with String data type. For more information, see <a href=\"https://docs.aws.amazon.com/frauddetector/latest/ug/create-a-variable.html#variable-types\">Variable types</a>. </p>"
        },
        "description":{
          "shape":"description",
          "documentation":"<p> The description of the list. </p>"
        },
        "tags":{
          "shape":"tagList",
          "documentation":"<p> A collection of the key and value pairs. </p>"
        }
      }
    },
    "CreateListResult":{
      "type":"structure",
      "members":{}
    },
    "CreateModelRequest":{
      "type":"structure",
      "required":[
        "modelId",
        "modelType",
        "eventTypeName"
      ],
      "members":{
        "modelId":{
          "shape":"modelIdentifier",
          "documentation":"<p>The model ID.</p>"
        },
        "modelType":{
          "shape":"ModelTypeEnum",
          "documentation":"<p>The model type. </p>"
        },
        "description":{
          "shape":"description",
          "documentation":"<p>The model description. </p>"
        },
        "eventTypeName":{
          "shape":"string",
          "documentation":"<p>The name of the event type.</p>"
        },
        "tags":{
          "shape":"tagList",
          "documentation":"<p>A collection of key and value pairs.</p>"
        }
      }
    },
    "CreateModelResult":{
      "type":"structure",
      "members":{}
    },
    "CreateModelVersionRequest":{
      "type":"structure",
      "required":[
        "modelId",
        "modelType",
        "trainingDataSource",
        "trainingDataSchema"
      ],
      "members":{
        "modelId":{
          "shape":"modelIdentifier",
          "documentation":"<p>The model ID. </p>"
        },
        "modelType":{
          "shape":"ModelTypeEnum",
          "documentation":"<p>The model type.</p>"
        },
        "trainingDataSource":{
          "shape":"TrainingDataSourceEnum",
          "documentation":"<p>The training data source location in Amazon S3. </p>"
        },
        "trainingDataSchema":{
          "shape":"TrainingDataSchema",
          "documentation":"<p>The training data schema.</p>"
        },
        "externalEventsDetail":{
          "shape":"ExternalEventsDetail",
          "documentation":"<p>Details of the external events data used for model version training. Required if <code>trainingDataSource</code> is <code>EXTERNAL_EVENTS</code>.</p>"
        },
        "ingestedEventsDetail":{
          "shape":"IngestedEventsDetail",
          "documentation":"<p>Details of the ingested events data used for model version training. Required if <code>trainingDataSource</code> is <code>INGESTED_EVENTS</code>.</p>"
        },
        "tags":{
          "shape":"tagList",
          "documentation":"<p>A collection of key and value pairs.</p>"
        }
      }
    },
    "CreateModelVersionResult":{
      "type":"structure",
      "members":{
        "modelId":{
          "shape":"modelIdentifier",
          "documentation":"<p>The model ID.</p>"
        },
        "modelType":{
          "shape":"ModelTypeEnum",
          "documentation":"<p>The model type.</p>"
        },
        "modelVersionNumber":{
          "shape":"floatVersionString",
          "documentation":"<p>The model version number of the model version created.</p>"
        },
        "status":{
          "shape":"string",
          "documentation":"<p>The model version status. </p>"
        }
      }
    },
    "CreateRuleRequest":{
      "type":"structure",
      "required":[
        "ruleId",
        "detectorId",
        "expression",
        "language",
        "outcomes"
      ],
      "members":{
        "ruleId":{
          "shape":"identifier",
          "documentation":"<p>The rule ID.</p>"
        },
        "detectorId":{
          "shape":"identifier",
          "documentation":"<p>The detector ID for the rule's parent detector.</p>"
        },
        "description":{
          "shape":"description",
          "documentation":"<p>The rule description.</p>"
        },
        "expression":{
          "shape":"ruleExpression",
          "documentation":"<p>The rule expression.</p>"
        },
        "language":{
          "shape":"Language",
          "documentation":"<p>The language of the rule.</p>"
        },
        "outcomes":{
          "shape":"NonEmptyListOfStrings",
          "documentation":"<p>The outcome or outcomes returned when the rule expression matches.</p>"
        },
        "tags":{
          "shape":"tagList",
          "documentation":"<p>A collection of key and value pairs.</p>"
        }
      }
    },
    "CreateRuleResult":{
      "type":"structure",
      "members":{
        "rule":{
          "shape":"Rule",
          "documentation":"<p>The created rule.</p>"
        }
      }
    },
    "CreateVariableRequest":{
      "type":"structure",
      "required":[
        "name",
        "dataType",
        "dataSource",
        "defaultValue"
      ],
      "members":{
        "name":{
          "shape":"string",
          "documentation":"<p>The name of the variable.</p>"
        },
        "dataType":{
          "shape":"DataType",
          "documentation":"<p>The data type of the variable.</p>"
        },
        "dataSource":{
          "shape":"DataSource",
          "documentation":"<p>The source of the data.</p>"
        },
        "defaultValue":{
          "shape":"string",
          "documentation":"<p>The default value for the variable when no value is received.</p>"
        },
        "description":{
          "shape":"string",
          "documentation":"<p>The description.</p>"
        },
        "variableType":{
          "shape":"string",
          "documentation":"<p>The variable type. For more information see <a href=\"https://docs.aws.amazon.com/frauddetector/latest/ug/create-a-variable.html#variable-types\">Variable types</a>. </p> <p>Valid Values: <code>AUTH_CODE | AVS | BILLING_ADDRESS_L1 | BILLING_ADDRESS_L2 | BILLING_CITY | BILLING_COUNTRY | BILLING_NAME | BILLING_PHONE | BILLING_STATE | BILLING_ZIP | CARD_BIN | CATEGORICAL | CURRENCY_CODE | EMAIL_ADDRESS | FINGERPRINT | FRAUD_LABEL | FREE_FORM_TEXT | IP_ADDRESS | NUMERIC | ORDER_ID | PAYMENT_TYPE | PHONE_NUMBER | PRICE | PRODUCT_CATEGORY | SHIPPING_ADDRESS_L1 | SHIPPING_ADDRESS_L2 | SHIPPING_CITY | SHIPPING_COUNTRY | SHIPPING_NAME | SHIPPING_PHONE | SHIPPING_STATE | SHIPPING_ZIP | USERAGENT</code> </p>"
        },
        "tags":{
          "shape":"tagList",
          "documentation":"<p>A collection of key and value pairs.</p>"
        }
      }
    },
    "CreateVariableResult":{
      "type":"structure",
      "members":{}
    },
    "CsvIndexToVariableMap":{
      "type":"map",
      "key":{"shape":"string"},
      "value":{"shape":"string"}
    },
    "DataSource":{
      "type":"string",
      "enum":[
        "EVENT",
        "MODEL_SCORE",
        "EXTERNAL_MODEL_SCORE"
      ]
    },
    "DataType":{
      "type":"string",
      "enum":[
        "STRING",
        "INTEGER",
        "FLOAT",
        "BOOLEAN",
        "DATETIME"
      ]
    },
    "DataValidationMetrics":{
      "type":"structure",
      "members":{
        "fileLevelMessages":{
          "shape":"fileValidationMessageList",
          "documentation":"<p>The file-specific model training data validation messages.</p>"
        },
        "fieldLevelMessages":{
          "shape":"fieldValidationMessageList",
          "documentation":"<p>The field-specific model training validation messages.</p>"
        }
      },
      "documentation":"<p>The model training data validation metrics.</p>"
    },
    "DeleteAuditHistory":{"type":"boolean"},
    "DeleteBatchImportJobRequest":{
      "type":"structure",
      "required":["jobId"],
      "members":{
        "jobId":{
          "shape":"identifier",
          "documentation":"<p>The ID of the batch import job to delete. </p>"
        }
      }
    },
    "DeleteBatchImportJobResult":{
      "type":"structure",
      "members":{}
    },
    "DeleteBatchPredictionJobRequest":{
      "type":"structure",
      "required":["jobId"],
      "members":{
        "jobId":{
          "shape":"identifier",
          "documentation":"<p>The ID of the batch prediction job to delete.</p>"
        }
      }
    },
    "DeleteBatchPredictionJobResult":{
      "type":"structure",
      "members":{}
    },
    "DeleteDetectorRequest":{
      "type":"structure",
      "required":["detectorId"],
      "members":{
        "detectorId":{
          "shape":"identifier",
          "documentation":"<p>The ID of the detector to delete.</p>"
        }
      }
    },
    "DeleteDetectorResult":{
      "type":"structure",
      "members":{}
    },
    "DeleteDetectorVersionRequest":{
      "type":"structure",
      "required":[
        "detectorId",
        "detectorVersionId"
      ],
      "members":{
        "detectorId":{
          "shape":"identifier",
          "documentation":"<p>The ID of the parent detector for the detector version to delete.</p>"
        },
        "detectorVersionId":{
          "shape":"wholeNumberVersionString",
          "documentation":"<p>The ID of the detector version to delete.</p>"
        }
      }
    },
    "DeleteDetectorVersionResult":{
      "type":"structure",
      "members":{}
    },
    "DeleteEntityTypeRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"identifier",
          "documentation":"<p>The name of the entity type to delete.</p>"
        }
      }
    },
    "DeleteEntityTypeResult":{
      "type":"structure",
      "members":{}
    },
    "DeleteEventRequest":{
      "type":"structure",
      "required":[
        "eventId",
        "eventTypeName"
      ],
      "members":{
        "eventId":{
          "shape":"identifier",
          "documentation":"<p>The ID of the event to delete.</p>"
        },
        "eventTypeName":{
          "shape":"identifier",
          "documentation":"<p>The name of the event type.</p>"
        },
        "deleteAuditHistory":{
          "shape":"DeleteAuditHistory",
          "documentation":"<p>Specifies whether or not to delete any predictions associated with the event. If set to <code>True</code>, </p>"
        }
      }
    },
    "DeleteEventResult":{
      "type":"structure",
      "members":{}
    },
    "DeleteEventTypeRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"identifier",
          "documentation":"<p>The name of the event type to delete.</p>"
        }
      }
    },
    "DeleteEventTypeResult":{
      "type":"structure",
      "members":{}
    },
    "DeleteEventsByEventTypeRequest":{
      "type":"structure",
      "required":["eventTypeName"],
      "members":{
        "eventTypeName":{
          "shape":"identifier",
          "documentation":"<p>The name of the event type.</p>"
        }
      }
    },
    "DeleteEventsByEventTypeResult":{
      "type":"structure",
      "members":{
        "eventTypeName":{
          "shape":"identifier",
          "documentation":"<p>Name of event type for which to delete the events.</p>"
        },
        "eventsDeletionStatus":{
          "shape":"string",
          "documentation":"<p>The status of the delete request.</p>"
        }
      }
    },
    "DeleteExternalModelRequest":{
      "type":"structure",
      "required":["modelEndpoint"],
      "members":{
        "modelEndpoint":{
          "shape":"sageMakerEndpointIdentifier",
          "documentation":"<p>The endpoint of the Amazon Sagemaker model to delete.</p>"
        }
      }
    },
    "DeleteExternalModelResult":{
      "type":"structure",
      "members":{}
    },
    "DeleteLabelRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"identifier",
          "documentation":"<p>The name of the label to delete.</p>"
        }
      }
    },
    "DeleteLabelResult":{
      "type":"structure",
      "members":{}
    },
    "DeleteListRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"noDashIdentifier",
          "documentation":"<p> The name of the list to delete. </p>"
        }
      }
    },
    "DeleteListResult":{
      "type":"structure",
      "members":{}
    },
    "DeleteModelRequest":{
      "type":"structure",
      "required":[
        "modelId",
        "modelType"
      ],
      "members":{
        "modelId":{
          "shape":"modelIdentifier",
          "documentation":"<p>The model ID of the model to delete.</p>"
        },
        "modelType":{
          "shape":"ModelTypeEnum",
          "documentation":"<p>The model type of the model to delete.</p>"
        }
      }
    },
    "DeleteModelResult":{
      "type":"structure",
      "members":{}
    },
    "DeleteModelVersionRequest":{
      "type":"structure",
      "required":[
        "modelId",
        "modelType",
        "modelVersionNumber"
      ],
      "members":{
        "modelId":{
          "shape":"modelIdentifier",
          "documentation":"<p>The model ID of the model version to delete.</p>"
        },
        "modelType":{
          "shape":"ModelTypeEnum",
          "documentation":"<p>The model type of the model version to delete.</p>"
        },
        "modelVersionNumber":{
          "shape":"floatVersionString",
          "documentation":"<p>The model version number of the model version to delete.</p>"
        }
      }
    },
    "DeleteModelVersionResult":{
      "type":"structure",
      "members":{}
    },
    "DeleteOutcomeRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"identifier",
          "documentation":"<p>The name of the outcome to delete.</p>"
        }
      }
    },
    "DeleteOutcomeResult":{
      "type":"structure",
      "members":{}
    },
    "DeleteRuleRequest":{
      "type":"structure",
      "required":["rule"],
      "members":{
        "rule":{"shape":"Rule"}
      }
    },
    "DeleteRuleResult":{
      "type":"structure",
      "members":{}
    },
    "DeleteVariableRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"string",
          "documentation":"<p>The name of the variable to delete.</p>"
        }
      }
    },
    "DeleteVariableResult":{
      "type":"structure",
      "members":{}
    },
    "DescribeDetectorRequest":{
      "type":"structure",
      "required":["detectorId"],
      "members":{
        "detectorId":{
          "shape":"identifier",
          "documentation":"<p>The detector ID.</p>"
        },
        "nextToken":{
          "shape":"string",
          "documentation":"<p>The next token from the previous response.</p>"
        },
        "maxResults":{
          "shape":"DetectorVersionMaxResults",
          "documentation":"<p>The maximum number of results to return for the request.</p>"
        }
      }
    },
    "DescribeDetectorResult":{
      "type":"structure",
      "members":{
        "detectorId":{
          "shape":"identifier",
          "documentation":"<p>The detector ID.</p>"
        },
        "detectorVersionSummaries":{
          "shape":"DetectorVersionSummaryList",
          "documentation":"<p>The status and description for each detector version.</p>"
        },
        "nextToken":{
          "shape":"string",
          "documentation":"<p>The next token to be used for subsequent requests.</p>"
        },
        "arn":{
          "shape":"fraudDetectorArn",
          "documentation":"<p>The detector ARN.</p>"
        }
      }
    },
    "DescribeModelVersionsRequest":{
      "type":"structure",
      "members":{
        "modelId":{
          "shape":"modelIdentifier",
          "documentation":"<p>The model ID.</p>"
        },
        "modelVersionNumber":{
          "shape":"floatVersionString",
          "documentation":"<p>The model version number.</p>"
        },
        "modelType":{
          "shape":"ModelTypeEnum",
          "documentation":"<p>The model type.</p>"
        },
        "nextToken":{
          "shape":"string",
          "documentation":"<p>The next token from the previous results.</p>"
        },
        "maxResults":{
          "shape":"modelsMaxPageSize",
          "documentation":"<p>The maximum number of results to return.</p>"
        }
      }
    },
    "DescribeModelVersionsResult":{
      "type":"structure",
      "members":{
        "modelVersionDetails":{
          "shape":"modelVersionDetailList",
          "documentation":"<p>The model version details.</p>"
        },
        "nextToken":{
          "shape":"string",
          "documentation":"<p>The next token.</p>"
        }
      }
    },
    "Detector":{
      "type":"structure",
      "members":{
        "detectorId":{
          "shape":"identifier",
          "documentation":"<p>The detector ID.</p>"
        },
        "description":{
          "shape":"description",
          "documentation":"<p>The detector description.</p>"
        },
        "eventTypeName":{
          "shape":"identifier",
          "documentation":"<p>The name of the event type.</p>"
        },
        "lastUpdatedTime":{
          "shape":"time",
          "documentation":"<p>Timestamp of when the detector was last updated.</p>"
        },
        "createdTime":{
          "shape":"time",
          "documentation":"<p>Timestamp of when the detector was created.</p>"
        },
        "arn":{
          "shape":"fraudDetectorArn",
          "documentation":"<p>The detector ARN.</p>"
        }
      },
      "documentation":"<p>The detector.</p>"
    },
    "DetectorList":{
      "type":"list",
      "member":{"shape":"Detector"}
    },
    "DetectorVersionMaxResults":{
      "type":"integer",
      "box":true,
      "max":2500,
      "min":1000
    },
    "DetectorVersionStatus":{
      "type":"string",
      "enum":[
        "DRAFT",
        "ACTIVE",
        "INACTIVE"
      ]
    },
    "DetectorVersionSummary":{
      "type":"structure",
      "members":{
        "detectorVersionId":{
          "shape":"wholeNumberVersionString",
          "documentation":"<p>The detector version ID. </p>"
        },
        "status":{
          "shape":"DetectorVersionStatus",
          "documentation":"<p>The detector version status. </p>"
        },
        "description":{
          "shape":"description",
          "documentation":"<p>The detector version description. </p>"
        },
        "lastUpdatedTime":{
          "shape":"time",
          "documentation":"<p>Timestamp of when the detector version was last updated.</p>"
        }
      },
      "documentation":"<p>The summary of the detector version.</p>"
    },
    "DetectorVersionSummaryList":{
      "type":"list",
      "member":{"shape":"DetectorVersionSummary"}
    },
    "DetectorsMaxResults":{
      "type":"integer",
      "box":true,
      "max":10,
      "min":5
    },
    "Elements":{
      "type":"string",
      "max":320,
      "min":1,
      "pattern":"^\\S+( +\\S+)*$",
      "sensitive":true
    },
    "ElementsList":{
      "type":"list",
      "member":{"shape":"Elements"},
      "max":100000,
      "min":0
    },
    "Entity":{
      "type":"structure",
      "required":[
        "entityType",
        "entityId"
      ],
      "members":{
        "entityType":{
          "shape":"string",
          "documentation":"<p>The entity type.</p>"
        },
        "entityId":{
          "shape":"entityRestrictedString",
          "documentation":"<p>The entity ID. If you do not know the <code>entityId</code>, you can pass <code>unknown</code>, which is areserved string literal.</p>"
        }
      },
      "documentation":"<p>The entity details. </p>",
      "sensitive":true
    },
    "EntityType":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"string",
          "documentation":"<p>The entity type name.</p>"
        },
        "description":{
          "shape":"description",
          "documentation":"<p>The entity type description.</p>"
        },
        "lastUpdatedTime":{
          "shape":"time",
          "documentation":"<p>Timestamp of when the entity type was last updated.</p>"
        },
        "createdTime":{
          "shape":"time",
          "documentation":"<p>Timestamp of when the entity type was created.</p>"
        },
        "arn":{
          "shape":"fraudDetectorArn",
          "documentation":"<p>The entity type ARN.</p>"
        }
      },
      "documentation":"<p>The entity type details.</p>"
    },
    "EvaluatedExternalModel":{
      "type":"structure",
      "members":{
        "modelEndpoint":{
          "shape":"string",
          "documentation":"<p> The endpoint of the external (Amazon Sagemaker) model. </p>"
        },
        "useEventVariables":{
          "shape":"Boolean",
          "documentation":"<p> Indicates whether event variables were used to generate predictions. </p>"
        },
        "inputVariables":{
          "shape":"MapOfStrings",
          "documentation":"<p> Input variables use for generating predictions. </p>"
        },
        "outputVariables":{
          "shape":"MapOfStrings",
          "documentation":"<p> Output variables. </p>"
        }
      },
      "documentation":"<p> The details of the external (Amazon Sagemaker) model evaluated for generating predictions. </p>"
    },
    "EvaluatedModelVersion":{
      "type":"structure",
      "members":{
        "modelId":{
          "shape":"string",
          "documentation":"<p> The model ID. </p>"
        },
        "modelVersion":{
          "shape":"string",
          "documentation":"<p> The model version. </p>"
        },
        "modelType":{
          "shape":"string",
          "documentation":"<p>The model type. </p> <p>Valid values: <code>ONLINE_FRAUD_INSIGHTS</code> | <code>TRANSACTION_FRAUD_INSIGHTS</code> </p>"
        },
        "evaluations":{
          "shape":"ListOfModelVersionEvaluations",
          "documentation":"<p> Evaluations generated for the model version. </p>"
        }
      },
      "documentation":"<p> The model version evaluated for generating prediction. </p>"
    },
    "EvaluatedRule":{
      "type":"structure",
      "members":{
        "ruleId":{
          "shape":"identifier",
          "documentation":"<p> The rule ID. </p>"
        },
        "ruleVersion":{
          "shape":"wholeNumberVersionString",
          "documentation":"<p> The rule version. </p>"
        },
        "expression":{
          "shape":"sensitiveString",
          "documentation":"<p> The rule expression. </p>"
        },
        "expressionWithValues":{
          "shape":"sensitiveString",
          "documentation":"<p> The rule expression value. </p>"
        },
        "outcomes":{
          "shape":"ListOfStrings",
          "documentation":"<p> The rule outcome. </p>"
        },
        "evaluated":{
          "shape":"Boolean",
          "documentation":"<p> Indicates whether the rule was evaluated. </p>"
        },
        "matched":{
          "shape":"Boolean",
          "documentation":"<p> Indicates whether the rule matched. </p>"
        }
      },
      "documentation":"<p> The details of the rule used for evaluating variable values. </p>"
    },
    "EvaluatedRuleList":{
      "type":"list",
      "member":{"shape":"EvaluatedRule"}
    },
    "Event":{
      "type":"structure",
      "members":{
        "eventId":{
          "shape":"string",
          "documentation":"<p>The event ID.</p>"
        },
        "eventTypeName":{
          "shape":"string",
          "documentation":"<p>The event type.</p>"
        },
        "eventTimestamp":{
          "shape":"string",
          "documentation":"<p>The timestamp that defines when the event under evaluation occurred. The timestamp must be specified using ISO 8601 standard in UTC.</p>"
[...]
