<form class="gh-form" data-members-form>
    <input class="gh-form-input" type="email" placeholder="jamie@example.com" required data-members-email>
    <button class="gh-button" type="submit">
        <span><span>Subscribe</span> {{> "icons/arrow"}}</span>
        {{> "icons/loader"}}
        {{> "icons/checkmark"}}
    </button>
</form>