{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2012-10-25",
    "endpointPrefix":"directconnect",
    "jsonVersion":"1.1",
    "protocol":"json",
    "protocols":["json"],
    "serviceFullName":"AWS Direct Connect",
    "serviceId":"Direct Connect",
    "signatureVersion":"v4",
    "targetPrefix":"OvertureService",
    "uid":"directconnect-2012-10-25",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AcceptDirectConnectGatewayAssociationProposal":{
      "name":"AcceptDirectConnectGatewayAssociationProposal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AcceptDirectConnectGatewayAssociationProposalRequest"},
      "output":{"shape":"AcceptDirectConnectGatewayAssociationProposalResult"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Accepts a proposal request to attach a virtual private gateway or transit gateway to a Direct Connect gateway.</p>"
    },
    "AllocateConnectionOnInterconnect":{
      "name":"AllocateConnectionOnInterconnect",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AllocateConnectionOnInterconnectRequest"},
      "output":{"shape":"Connection"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<note> <p>Deprecated. Use <a>AllocateHostedConnection</a> instead.</p> </note> <p>Creates a hosted connection on an interconnect.</p> <p>Allocates a VLAN number and a specified amount of bandwidth for use by a hosted connection on the specified interconnect.</p> <note> <p>Intended for use by Direct Connect Partners only.</p> </note>",
      "deprecated":true
    },
    "AllocateHostedConnection":{
      "name":"AllocateHostedConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AllocateHostedConnectionRequest"},
      "output":{"shape":"Connection"},
      "errors":[
        {"shape":"DuplicateTagKeysException"},
        {"shape":"TooManyTagsException"},
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Creates a hosted connection on the specified interconnect or a link aggregation group (LAG) of interconnects.</p> <p>Allocates a VLAN number and a specified amount of capacity (bandwidth) for use by a hosted connection on the specified interconnect or LAG of interconnects. Amazon Web Services polices the hosted connection for the specified capacity and the Direct Connect Partner must also police the hosted connection for the specified capacity.</p> <note> <p>Intended for use by Direct Connect Partners only.</p> </note>"
    },
    "AllocatePrivateVirtualInterface":{
      "name":"AllocatePrivateVirtualInterface",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AllocatePrivateVirtualInterfaceRequest"},
      "output":{"shape":"VirtualInterface"},
      "errors":[
        {"shape":"DuplicateTagKeysException"},
        {"shape":"TooManyTagsException"},
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Provisions a private virtual interface to be owned by the specified Amazon Web Services account.</p> <p>Virtual interfaces created using this action must be confirmed by the owner using <a>ConfirmPrivateVirtualInterface</a>. Until then, the virtual interface is in the <code>Confirming</code> state and is not available to handle traffic.</p>"
    },
    "AllocatePublicVirtualInterface":{
      "name":"AllocatePublicVirtualInterface",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AllocatePublicVirtualInterfaceRequest"},
      "output":{"shape":"VirtualInterface"},
      "errors":[
        {"shape":"DuplicateTagKeysException"},
        {"shape":"TooManyTagsException"},
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Provisions a public virtual interface to be owned by the specified Amazon Web Services account.</p> <p>The owner of a connection calls this function to provision a public virtual interface to be owned by the specified Amazon Web Services account.</p> <p>Virtual interfaces created using this function must be confirmed by the owner using <a>ConfirmPublicVirtualInterface</a>. Until this step has been completed, the virtual interface is in the <code>confirming</code> state and is not available to handle traffic.</p> <p>When creating an IPv6 public virtual interface, omit the Amazon address and customer address. IPv6 addresses are automatically assigned from the Amazon pool of IPv6 addresses; you cannot specify custom IPv6 addresses.</p>"
    },
    "AllocateTransitVirtualInterface":{
      "name":"AllocateTransitVirtualInterface",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AllocateTransitVirtualInterfaceRequest"},
      "output":{"shape":"AllocateTransitVirtualInterfaceResult"},
      "errors":[
        {"shape":"DuplicateTagKeysException"},
        {"shape":"TooManyTagsException"},
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Provisions a transit virtual interface to be owned by the specified Amazon Web Services account. Use this type of interface to connect a transit gateway to your Direct Connect gateway.</p> <p>The owner of a connection provisions a transit virtual interface to be owned by the specified Amazon Web Services account.</p> <p>After you create a transit virtual interface, it must be confirmed by the owner using <a>ConfirmTransitVirtualInterface</a>. Until this step has been completed, the transit virtual interface is in the <code>requested</code> state and is not available to handle traffic.</p>"
    },
    "AssociateConnectionWithLag":{
      "name":"AssociateConnectionWithLag",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateConnectionWithLagRequest"},
      "output":{"shape":"Connection"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Associates an existing connection with a link aggregation group (LAG). The connection is interrupted and re-established as a member of the LAG (connectivity to Amazon Web Services is interrupted). The connection must be hosted on the same Direct Connect endpoint as the LAG, and its bandwidth must match the bandwidth for the LAG. You can re-associate a connection that's currently associated with a different LAG; however, if removing the connection would cause the original LAG to fall below its setting for minimum number of operational connections, the request fails.</p> <p>Any virtual interfaces that are directly associated with the connection are automatically re-associated with the LAG. If the connection was originally associated with a different LAG, the virtual interfaces remain associated with the original LAG.</p> <p>For interconnects, any hosted connections are automatically re-associated with the LAG. If the interconnect was originally associated with a different LAG, the hosted connections remain associated with the original LAG.</p>"
    },
    "AssociateHostedConnection":{
      "name":"AssociateHostedConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateHostedConnectionRequest"},
      "output":{"shape":"Connection"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Associates a hosted connection and its virtual interfaces with a link aggregation group (LAG) or interconnect. If the target interconnect or LAG has an existing hosted connection with a conflicting VLAN number or IP address, the operation fails. This action temporarily interrupts the hosted connection's connectivity to Amazon Web Services as it is being migrated.</p> <note> <p>Intended for use by Direct Connect Partners only.</p> </note>"
    },
    "AssociateMacSecKey":{
      "name":"AssociateMacSecKey",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateMacSecKeyRequest"},
      "output":{"shape":"AssociateMacSecKeyResponse"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Associates a MAC Security (MACsec) Connection Key Name (CKN)/ Connectivity Association Key (CAK) pair with a Direct Connect connection.</p> <p>You must supply either the <code>secretARN,</code> or the CKN/CAK (<code>ckn</code> and <code>cak</code>) pair in the request.</p> <p>For information about MAC Security (MACsec) key considerations, see <a href=\"https://docs.aws.amazon.com/directconnect/latest/UserGuide/direct-connect-mac-sec-getting-started.html#mac-sec-key-consideration\">MACsec pre-shared CKN/CAK key considerations </a> in the <i>Direct Connect User Guide</i>.</p>"
    },
    "AssociateVirtualInterface":{
      "name":"AssociateVirtualInterface",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateVirtualInterfaceRequest"},
      "output":{"shape":"VirtualInterface"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Associates a virtual interface with a specified link aggregation group (LAG) or connection. Connectivity to Amazon Web Services is temporarily interrupted as the virtual interface is being migrated. If the target connection or LAG has an associated virtual interface with a conflicting VLAN number or a conflicting IP address, the operation fails.</p> <p>Virtual interfaces associated with a hosted connection cannot be associated with a LAG; hosted connections must be migrated along with their virtual interfaces using <a>AssociateHostedConnection</a>.</p> <p>To reassociate a virtual interface to a new connection or LAG, the requester must own either the virtual interface itself or the connection to which the virtual interface is currently associated. Additionally, the requester must own the connection or LAG for the association.</p>"
    },
    "ConfirmConnection":{
      "name":"ConfirmConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ConfirmConnectionRequest"},
      "output":{"shape":"ConfirmConnectionResponse"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Confirms the creation of the specified hosted connection on an interconnect.</p> <p>Upon creation, the hosted connection is initially in the <code>Ordering</code> state, and remains in this state until the owner confirms creation of the hosted connection.</p>"
    },
    "ConfirmCustomerAgreement":{
      "name":"ConfirmCustomerAgreement",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ConfirmCustomerAgreementRequest"},
      "output":{"shape":"ConfirmCustomerAgreementResponse"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p> The confirmation of the terms of agreement when creating the connection/link aggregation group (LAG). </p>"
    },
    "ConfirmPrivateVirtualInterface":{
      "name":"ConfirmPrivateVirtualInterface",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ConfirmPrivateVirtualInterfaceRequest"},
      "output":{"shape":"ConfirmPrivateVirtualInterfaceResponse"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Accepts ownership of a private virtual interface created by another Amazon Web Services account.</p> <p>After the virtual interface owner makes this call, the virtual interface is created and attached to the specified virtual private gateway or Direct Connect gateway, and is made available to handle traffic.</p>"
    },
    "ConfirmPublicVirtualInterface":{
      "name":"ConfirmPublicVirtualInterface",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ConfirmPublicVirtualInterfaceRequest"},
      "output":{"shape":"ConfirmPublicVirtualInterfaceResponse"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Accepts ownership of a public virtual interface created by another Amazon Web Services account.</p> <p>After the virtual interface owner makes this call, the specified virtual interface is created and made available to handle traffic.</p>"
    },
    "ConfirmTransitVirtualInterface":{
      "name":"ConfirmTransitVirtualInterface",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ConfirmTransitVirtualInterfaceRequest"},
      "output":{"shape":"ConfirmTransitVirtualInterfaceResponse"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Accepts ownership of a transit virtual interface created by another Amazon Web Services account.</p> <p> After the owner of the transit virtual interface makes this call, the specified transit virtual interface is created and made available to handle traffic.</p>"
    },
    "CreateBGPPeer":{
      "name":"CreateBGPPeer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateBGPPeerRequest"},
      "output":{"shape":"CreateBGPPeerResponse"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Creates a BGP peer on the specified virtual interface.</p> <p>You must create a BGP peer for the corresponding address family (IPv4/IPv6) in order to access Amazon Web Services resources that also use that address family.</p> <p>If logical redundancy is not supported by the connection, interconnect, or LAG, the BGP peer cannot be in the same address family as an existing BGP peer on the virtual interface.</p> <p>When creating a IPv6 BGP peer, omit the Amazon address and customer address. IPv6 addresses are automatically assigned from the Amazon pool of IPv6 addresses; you cannot specify custom IPv6 addresses.</p> <important> <p>If you let Amazon Web Services auto-assign IPv4 addresses, a /30 CIDR will be allocated from 169.254.0.0/16. Amazon Web Services does not recommend this option if you intend to use the customer router peer IP address as the source and destination for traffic. Instead you should use RFC 1918 or other addressing, and specify the address yourself. For more information about RFC 1918 see <a href=\"https://datatracker.ietf.org/doc/html/rfc1918\"> Address Allocation for Private Internets</a>.</p> </important> <p>For a public virtual interface, the Autonomous System Number (ASN) must be private or already on the allow list for the virtual interface.</p>"
    },
    "CreateConnection":{
      "name":"CreateConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateConnectionRequest"},
      "output":{"shape":"Connection"},
      "errors":[
        {"shape":"DuplicateTagKeysException"},
        {"shape":"TooManyTagsException"},
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Creates a connection between a customer network and a specific Direct Connect location.</p> <p>A connection links your internal network to an Direct Connect location over a standard Ethernet fiber-optic cable. One end of the cable is connected to your router, the other to an Direct Connect router.</p> <p>To find the locations for your Region, use <a>DescribeLocations</a>.</p> <p>You can automatically add the new connection to a link aggregation group (LAG) by specifying a LAG ID in the request. This ensures that the new connection is allocated on the same Direct Connect endpoint that hosts the specified LAG. If there are no available ports on the endpoint, the request fails and no connection is created.</p>"
    },
    "CreateDirectConnectGateway":{
      "name":"CreateDirectConnectGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDirectConnectGatewayRequest"},
      "output":{"shape":"CreateDirectConnectGatewayResult"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Creates a Direct Connect gateway, which is an intermediate object that enables you to connect a set of virtual interfaces and virtual private gateways. A Direct Connect gateway is global and visible in any Amazon Web Services Region after it is created. The virtual interfaces and virtual private gateways that are connected through a Direct Connect gateway can be in different Amazon Web Services Regions. This enables you to connect to a VPC in any Region, regardless of the Region in which the virtual interfaces are located, and pass traffic between them.</p>"
    },
    "CreateDirectConnectGatewayAssociation":{
      "name":"CreateDirectConnectGatewayAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDirectConnectGatewayAssociationRequest"},
      "output":{"shape":"CreateDirectConnectGatewayAssociationResult"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Creates an association between a Direct Connect gateway and a virtual private gateway. The virtual private gateway must be attached to a VPC and must not be associated with another Direct Connect gateway.</p>"
    },
    "CreateDirectConnectGatewayAssociationProposal":{
      "name":"CreateDirectConnectGatewayAssociationProposal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDirectConnectGatewayAssociationProposalRequest"},
      "output":{"shape":"CreateDirectConnectGatewayAssociationProposalResult"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Creates a proposal to associate the specified virtual private gateway or transit gateway with the specified Direct Connect gateway.</p> <p>You can associate a Direct Connect gateway and virtual private gateway or transit gateway that is owned by any Amazon Web Services account. </p>"
    },
    "CreateInterconnect":{
      "name":"CreateInterconnect",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateInterconnectRequest"},
      "output":{"shape":"Interconnect"},
      "errors":[
        {"shape":"DuplicateTagKeysException"},
        {"shape":"TooManyTagsException"},
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Creates an interconnect between an Direct Connect Partner's network and a specific Direct Connect location.</p> <p>An interconnect is a connection that is capable of hosting other connections. The Direct Connect Partner can use an interconnect to provide Direct Connect hosted connections to customers through their own network services. Like a standard connection, an interconnect links the partner's network to an Direct Connect location over a standard Ethernet fiber-optic cable. One end is connected to the partner's router, the other to an Direct Connect router.</p> <p>You can automatically add the new interconnect to a link aggregation group (LAG) by specifying a LAG ID in the request. This ensures that the new interconnect is allocated on the same Direct Connect endpoint that hosts the specified LAG. If there are no available ports on the endpoint, the request fails and no interconnect is created.</p> <p>For each end customer, the Direct Connect Partner provisions a connection on their interconnect by calling <a>AllocateHostedConnection</a>. The end customer can then connect to Amazon Web Services resources by creating a virtual interface on their connection, using the VLAN assigned to them by the Direct Connect Partner.</p> <note> <p>Intended for use by Direct Connect Partners only.</p> </note>"
    },
    "CreateLag":{
      "name":"CreateLag",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLagRequest"},
      "output":{"shape":"Lag"},
      "errors":[
        {"shape":"DuplicateTagKeysException"},
        {"shape":"TooManyTagsException"},
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Creates a link aggregation group (LAG) with the specified number of bundled physical dedicated connections between the customer network and a specific Direct Connect location. A LAG is a logical interface that uses the Link Aggregation Control Protocol (LACP) to aggregate multiple interfaces, enabling you to treat them as a single interface.</p> <p>All connections in a LAG must use the same bandwidth (either 1Gbps, 10Gbps, 100Gbps, or 400Gbps) and must terminate at the same Direct Connect endpoint.</p> <p>You can have up to 10 dedicated connections per location. Regardless of this limit, if you request more connections for the LAG than Direct Connect can allocate on a single endpoint, no LAG is created..</p> <p>You can specify an existing physical dedicated connection or interconnect to include in the LAG (which counts towards the total number of connections). Doing so interrupts the current physical dedicated connection, and re-establishes them as a member of the LAG. The LAG will be created on the same Direct Connect endpoint to which the dedicated connection terminates. Any virtual interfaces associated with the dedicated connection are automatically disassociated and re-associated with the LAG. The connection ID does not change.</p> <p>If the Amazon Web Services account used to create a LAG is a registered Direct Connect Partner, the LAG is automatically enabled to host sub-connections. For a LAG owned by a partner, any associated virtual interfaces cannot be directly configured.</p>"
    },
    "CreatePrivateVirtualInterface":{
      "name":"CreatePrivateVirtualInterface",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePrivateVirtualInterfaceRequest"},
      "output":{"shape":"VirtualInterface"},
      "errors":[
        {"shape":"DuplicateTagKeysException"},
        {"shape":"TooManyTagsException"},
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Creates a private virtual interface. A virtual interface is the VLAN that transports Direct Connect traffic. A private virtual interface can be connected to either a Direct Connect gateway or a Virtual Private Gateway (VGW). Connecting the private virtual interface to a Direct Connect gateway enables the possibility for connecting to multiple VPCs, including VPCs in different Amazon Web Services Regions. Connecting the private virtual interface to a VGW only provides access to a single VPC within the same Region.</p> <p>Setting the MTU of a virtual interface to 8500 (jumbo frames) can cause an update to the underlying physical connection if it wasn't updated to support jumbo frames. Updating the connection disrupts network connectivity for all virtual interfaces associated with the connection for up to 30 seconds. To check whether your connection supports jumbo frames, call <a>DescribeConnections</a>. To check whether your virtual interface supports jumbo frames, call <a>DescribeVirtualInterfaces</a>.</p>"
    },
    "CreatePublicVirtualInterface":{
      "name":"CreatePublicVirtualInterface",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePublicVirtualInterfaceRequest"},
      "output":{"shape":"VirtualInterface"},
      "errors":[
        {"shape":"DuplicateTagKeysException"},
        {"shape":"TooManyTagsException"},
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Creates a public virtual interface. A virtual interface is the VLAN that transports Direct Connect traffic. A public virtual interface supports sending traffic to public services of Amazon Web Services such as Amazon S3.</p> <p>When creating an IPv6 public virtual interface (<code>addressFamily</code> is <code>ipv6</code>), leave the <code>customer</code> and <code>amazon</code> address fields blank to use auto-assigned IPv6 space. Custom IPv6 addresses are not supported.</p>"
    },
    "CreateTransitVirtualInterface":{
      "name":"CreateTransitVirtualInterface",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTransitVirtualInterfaceRequest"},
      "output":{"shape":"CreateTransitVirtualInterfaceResult"},
      "errors":[
        {"shape":"DuplicateTagKeysException"},
        {"shape":"TooManyTagsException"},
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Creates a transit virtual interface. A transit virtual interface should be used to access one or more transit gateways associated with Direct Connect gateways. A transit virtual interface enables the connection of multiple VPCs attached to a transit gateway to a Direct Connect gateway.</p> <important> <p>If you associate your transit gateway with one or more Direct Connect gateways, the Autonomous System Number (ASN) used by the transit gateway and the Direct Connect gateway must be different. For example, if you use the default ASN 64512 for both your the transit gateway and Direct Connect gateway, the association request fails.</p> </important> <p>A jumbo MTU value must be either 1500 or 8500. No other values will be accepted. Setting the MTU of a virtual interface to 8500 (jumbo frames) can cause an update to the underlying physical connection if it wasn't updated to support jumbo frames. Updating the connection disrupts network connectivity for all virtual interfaces associated with the connection for up to 30 seconds. To check whether your connection supports jumbo frames, call <a>DescribeConnections</a>. To check whether your virtual interface supports jumbo frames, call <a>DescribeVirtualInterfaces</a>.</p>"
    },
    "DeleteBGPPeer":{
      "name":"DeleteBGPPeer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteBGPPeerRequest"},
      "output":{"shape":"DeleteBGPPeerResponse"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Deletes the specified BGP peer on the specified virtual interface with the specified customer address and ASN.</p> <p>You cannot delete the last BGP peer from a virtual interface.</p>"
    },
    "DeleteConnection":{
      "name":"DeleteConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteConnectionRequest"},
      "output":{"shape":"Connection"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Deletes the specified connection.</p> <p>Deleting a connection only stops the Direct Connect port hour and data transfer charges. If you are partnering with any third parties to connect with the Direct Connect location, you must cancel your service with them separately.</p>"
    },
    "DeleteDirectConnectGateway":{
      "name":"DeleteDirectConnectGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDirectConnectGatewayRequest"},
      "output":{"shape":"DeleteDirectConnectGatewayResult"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Deletes the specified Direct Connect gateway. You must first delete all virtual interfaces that are attached to the Direct Connect gateway and disassociate all virtual private gateways associated with the Direct Connect gateway.</p>"
    },
    "DeleteDirectConnectGatewayAssociation":{
      "name":"DeleteDirectConnectGatewayAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDirectConnectGatewayAssociationRequest"},
      "output":{"shape":"DeleteDirectConnectGatewayAssociationResult"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Deletes the association between the specified Direct Connect gateway and virtual private gateway.</p> <p>We recommend that you specify the <code>associationID</code> to delete the association. Alternatively, if you own virtual gateway and a Direct Connect gateway association, you can specify the <code>virtualGatewayId</code> and <code>directConnectGatewayId</code> to delete an association.</p>"
    },
    "DeleteDirectConnectGatewayAssociationProposal":{
      "name":"DeleteDirectConnectGatewayAssociationProposal",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDirectConnectGatewayAssociationProposalRequest"},
      "output":{"shape":"DeleteDirectConnectGatewayAssociationProposalResult"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Deletes the association proposal request between the specified Direct Connect gateway and virtual private gateway or transit gateway.</p>"
    },
    "DeleteInterconnect":{
      "name":"DeleteInterconnect",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteInterconnectRequest"},
      "output":{"shape":"DeleteInterconnectResponse"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Deletes the specified interconnect.</p> <note> <p>Intended for use by Direct Connect Partners only.</p> </note>"
    },
    "DeleteLag":{
      "name":"DeleteLag",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteLagRequest"},
      "output":{"shape":"Lag"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Deletes the specified link aggregation group (LAG). You cannot delete a LAG if it has active virtual interfaces or hosted connections.</p>"
    },
    "DeleteVirtualInterface":{
      "name":"DeleteVirtualInterface",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVirtualInterfaceRequest"},
      "output":{"shape":"DeleteVirtualInterfaceResponse"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Deletes a virtual interface.</p>"
    },
    "DescribeConnectionLoa":{
      "name":"DescribeConnectionLoa",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeConnectionLoaRequest"},
      "output":{"shape":"DescribeConnectionLoaResponse"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<note> <p>Deprecated. Use <a>DescribeLoa</a> instead.</p> </note> <p>Gets the LOA-CFA for a connection.</p> <p>The Letter of Authorization - Connecting Facility Assignment (LOA-CFA) is a document that your APN partner or service provider uses when establishing your cross connect to Amazon Web Services at the colocation facility. For more information, see <a href=\"https://docs.aws.amazon.com/directconnect/latest/UserGuide/Colocation.html\">Requesting Cross Connects at Direct Connect Locations</a> in the <i>Direct Connect User Guide</i>.</p>",
      "deprecated":true
    },
    "DescribeConnections":{
      "name":"DescribeConnections",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeConnectionsRequest"},
      "output":{"shape":"Connections"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Displays the specified connection or all connections in this Region.</p>"
    },
    "DescribeConnectionsOnInterconnect":{
      "name":"DescribeConnectionsOnInterconnect",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeConnectionsOnInterconnectRequest"},
      "output":{"shape":"Connections"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<note> <p>Deprecated. Use <a>DescribeHostedConnections</a> instead.</p> </note> <p>Lists the connections that have been provisioned on the specified interconnect.</p> <note> <p>Intended for use by Direct Connect Partners only.</p> </note>",
      "deprecated":true
    },
    "DescribeCustomerMetadata":{
      "name":"DescribeCustomerMetadata",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{"shape":"DescribeCustomerMetadataResponse"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Get and view a list of customer agreements, along with their signed status and whether the customer is an NNIPartner, NNIPartnerV2, or a nonPartner. </p>"
    },
    "DescribeDirectConnectGatewayAssociationProposals":{
      "name":"DescribeDirectConnectGatewayAssociationProposals",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDirectConnectGatewayAssociationProposalsRequest"},
      "output":{"shape":"DescribeDirectConnectGatewayAssociationProposalsResult"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Describes one or more association proposals for connection between a virtual private gateway or transit gateway and a Direct Connect gateway. </p>"
    },
    "DescribeDirectConnectGatewayAssociations":{
      "name":"DescribeDirectConnectGatewayAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDirectConnectGatewayAssociationsRequest"},
      "output":{"shape":"DescribeDirectConnectGatewayAssociationsResult"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Lists the associations between your Direct Connect gateways and virtual private gateways and transit gateways. You must specify one of the following:</p> <ul> <li> <p>A Direct Connect gateway</p> <p>The response contains all virtual private gateways and transit gateways associated with the Direct Connect gateway.</p> </li> <li> <p>A virtual private gateway</p> <p>The response contains the Direct Connect gateway.</p> </li> <li> <p>A transit gateway</p> <p>The response contains the Direct Connect gateway.</p> </li> <li> <p>A Direct Connect gateway and a virtual private gateway</p> <p>The response contains the association between the Direct Connect gateway and virtual private gateway.</p> </li> <li> <p>A Direct Connect gateway and a transit gateway</p> <p>The response contains the association between the Direct Connect gateway and transit gateway.</p> </li> <li> <p>A Direct Connect gateway and a virtual private gateway</p> <p>The response contains the association between the Direct Connect gateway and virtual private gateway.</p> </li> <li> <p>A Direct Connect gateway association to a Cloud WAN core network</p> <p>The response contains the Cloud WAN core network ID that the Direct Connect gateway is associated to.</p> </li> </ul>"
    },
    "DescribeDirectConnectGatewayAttachments":{
      "name":"DescribeDirectConnectGatewayAttachments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDirectConnectGatewayAttachmentsRequest"},
      "output":{"shape":"DescribeDirectConnectGatewayAttachmentsResult"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Lists the attachments between your Direct Connect gateways and virtual interfaces. You must specify a Direct Connect gateway, a virtual interface, or both. If you specify a Direct Connect gateway, the response contains all virtual interfaces attached to the Direct Connect gateway. If you specify a virtual interface, the response contains all Direct Connect gateways attached to the virtual interface. If you specify both, the response contains the attachment between the Direct Connect gateway and the virtual interface.</p>"
    },
    "DescribeDirectConnectGateways":{
      "name":"DescribeDirectConnectGateways",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDirectConnectGatewaysRequest"},
      "output":{"shape":"DescribeDirectConnectGatewaysResult"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Lists all your Direct Connect gateways or only the specified Direct Connect gateway. Deleted Direct Connect gateways are not returned.</p>"
    },
    "DescribeHostedConnections":{
      "name":"DescribeHostedConnections",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeHostedConnectionsRequest"},
      "output":{"shape":"Connections"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Lists the hosted connections that have been provisioned on the specified interconnect or link aggregation group (LAG).</p> <note> <p>Intended for use by Direct Connect Partners only.</p> </note>"
    },
    "DescribeInterconnectLoa":{
      "name":"DescribeInterconnectLoa",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInterconnectLoaRequest"},
      "output":{"shape":"DescribeInterconnectLoaResponse"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<note> <p>Deprecated. Use <a>DescribeLoa</a> instead.</p> </note> <p>Gets the LOA-CFA for the specified interconnect.</p> <p>The Letter of Authorization - Connecting Facility Assignment (LOA-CFA) is a document that is used when establishing your cross connect to Amazon Web Services at the colocation facility. For more information, see <a href=\"https://docs.aws.amazon.com/directconnect/latest/UserGuide/Colocation.html\">Requesting Cross Connects at Direct Connect Locations</a> in the <i>Direct Connect User Guide</i>.</p>",
      "deprecated":true
    },
    "DescribeInterconnects":{
      "name":"DescribeInterconnects",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInterconnectsRequest"},
      "output":{"shape":"Interconnects"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Lists the interconnects owned by the Amazon Web Services account or only the specified interconnect.</p>"
    },
    "DescribeLags":{
      "name":"DescribeLags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLagsRequest"},
      "output":{"shape":"Lags"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Describes all your link aggregation groups (LAG) or the specified LAG.</p>"
    },
    "DescribeLoa":{
      "name":"DescribeLoa",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLoaRequest"},
      "output":{"shape":"Loa"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Gets the LOA-CFA for a connection, interconnect, or link aggregation group (LAG).</p> <p>The Letter of Authorization - Connecting Facility Assignment (LOA-CFA) is a document that is used when establishing your cross connect to Amazon Web Services at the colocation facility. For more information, see <a href=\"https://docs.aws.amazon.com/directconnect/latest/UserGuide/Colocation.html\">Requesting Cross Connects at Direct Connect Locations</a> in the <i>Direct Connect User Guide</i>.</p>"
    },
    "DescribeLocations":{
      "name":"DescribeLocations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{"shape":"Locations"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Lists the Direct Connect locations in the current Amazon Web Services Region. These are the locations that can be selected when calling <a>CreateConnection</a> or <a>CreateInterconnect</a>.</p>"
    },
    "DescribeRouterConfiguration":{
      "name":"DescribeRouterConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRouterConfigurationRequest"},
      "output":{"shape":"DescribeRouterConfigurationResponse"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p> Details about the router. </p>"
    },
    "DescribeTags":{
      "name":"DescribeTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTagsRequest"},
      "output":{"shape":"DescribeTagsResponse"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Describes the tags associated with the specified Direct Connect resources.</p>"
    },
    "DescribeVirtualGateways":{
      "name":"DescribeVirtualGateways",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{"shape":"VirtualGateways"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<note> <p>Deprecated. Use <code>DescribeVpnGateways</code> instead. See <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DescribeVpnGateways.html\">DescribeVPNGateways</a> in the <i>Amazon Elastic Compute Cloud API Reference</i>.</p> </note> <p>Lists the virtual private gateways owned by the Amazon Web Services account.</p> <p>You can create one or more Direct Connect private virtual interfaces linked to a virtual private gateway.</p>"
    },
    "DescribeVirtualInterfaces":{
      "name":"DescribeVirtualInterfaces",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVirtualInterfacesRequest"},
      "output":{"shape":"VirtualInterfaces"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Displays all virtual interfaces for an Amazon Web Services account. Virtual interfaces deleted fewer than 15 minutes before you make the request are also returned. If you specify a connection ID, only the virtual interfaces associated with the connection are returned. If you specify a virtual interface ID, then only a single virtual interface is returned.</p> <p>A virtual interface (VLAN) transmits the traffic between the Direct Connect location and the customer network.</p> <ul> <li> <p>If you're using an <code>asn</code>, the response includes ASN value in both the <code>asn</code> and <code>asnLong</code> fields.</p> </li> <li> <p>If you're using <code>asnLong</code>, the response returns a value of <code>0</code> (zero) for the <code>asn</code> attribute because it exceeds the highest ASN value of 2,147,483,647 that it can support</p> </li> </ul>"
    },
    "DisassociateConnectionFromLag":{
      "name":"DisassociateConnectionFromLag",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateConnectionFromLagRequest"},
      "output":{"shape":"Connection"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Disassociates a connection from a link aggregation group (LAG). The connection is interrupted and re-established as a standalone connection (the connection is not deleted; to delete the connection, use the <a>DeleteConnection</a> request). If the LAG has associated virtual interfaces or hosted connections, they remain associated with the LAG. A disassociated connection owned by an Direct Connect Partner is automatically converted to an interconnect.</p> <p>If disassociating the connection would cause the LAG to fall below its setting for minimum number of operational connections, the request fails, except when it's the last member of the LAG. If all connections are disassociated, the LAG continues to exist as an empty LAG with no physical connections. </p>"
    },
    "DisassociateMacSecKey":{
      "name":"DisassociateMacSecKey",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateMacSecKeyRequest"},
      "output":{"shape":"DisassociateMacSecKeyResponse"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Removes the association between a MAC Security (MACsec) security key and a Direct Connect connection.</p>"
    },
    "ListVirtualInterfaceTestHistory":{
      "name":"ListVirtualInterfaceTestHistory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListVirtualInterfaceTestHistoryRequest"},
      "output":{"shape":"ListVirtualInterfaceTestHistoryResponse"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Lists the virtual interface failover test history.</p>"
    },
    "StartBgpFailoverTest":{
      "name":"StartBgpFailoverTest",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartBgpFailoverTestRequest"},
      "output":{"shape":"StartBgpFailoverTestResponse"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Starts the virtual interface failover test that verifies your configuration meets your resiliency requirements by placing the BGP peering session in the DOWN state. You can then send traffic to verify that there are no outages.</p> <p>You can run the test on public, private, transit, and hosted virtual interfaces.</p> <p>You can use <a href=\"https://docs.aws.amazon.com/directconnect/latest/APIReference/API_ListVirtualInterfaceTestHistory.html\">ListVirtualInterfaceTestHistory</a> to view the virtual interface test history.</p> <p>If you need to stop the test before the test interval completes, use <a href=\"https://docs.aws.amazon.com/directconnect/latest/APIReference/API_StopBgpFailoverTest.html\">StopBgpFailoverTest</a>.</p>"
    },
    "StopBgpFailoverTest":{
      "name":"StopBgpFailoverTest",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopBgpFailoverTestRequest"},
      "output":{"shape":"StopBgpFailoverTestResponse"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Stops the virtual interface failover test.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"DuplicateTagKeysException"},
        {"shape":"TooManyTagsException"},
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Adds the specified tags to the specified Direct Connect resource. Each resource can have a maximum of 50 tags.</p> <p>Each tag consists of a key and an optional value. If a tag with the same key is already associated with the resource, this action updates its value.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Removes one or more tags from the specified Direct Connect resource.</p>"
    },
    "UpdateConnection":{
      "name":"UpdateConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateConnectionRequest"},
      "output":{"shape":"Connection"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Updates the Direct Connect connection configuration.</p> <p>You can update the following parameters for a connection:</p> <ul> <li> <p>The connection name</p> </li> <li> <p>The connection's MAC Security (MACsec) encryption mode.</p> </li> </ul>"
    },
    "UpdateDirectConnectGateway":{
      "name":"UpdateDirectConnectGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDirectConnectGatewayRequest"},
      "output":{"shape":"UpdateDirectConnectGatewayResponse"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Updates the name of a current Direct Connect gateway.</p>"
    },
    "UpdateDirectConnectGatewayAssociation":{
      "name":"UpdateDirectConnectGatewayAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDirectConnectGatewayAssociationRequest"},
      "output":{"shape":"UpdateDirectConnectGatewayAssociationResult"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Updates the specified attributes of the Direct Connect gateway association.</p> <p>Add or remove prefixes from the association.</p>"
    },
    "UpdateLag":{
      "name":"UpdateLag",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateLagRequest"},
      "output":{"shape":"Lag"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Updates the attributes of the specified link aggregation group (LAG).</p> <p>You can update the following LAG attributes:</p> <ul> <li> <p>The name of the LAG.</p> </li> <li> <p>The value for the minimum number of connections that must be operational for the LAG itself to be operational. </p> </li> <li> <p>The LAG's MACsec encryption mode.</p> <p>Amazon Web Services assigns this value to each connection which is part of the LAG.</p> </li> <li> <p>The tags</p> </li> </ul> <note> <p>If you adjust the threshold value for the minimum number of operational connections, ensure that the new value does not cause the LAG to fall below the threshold and become non-operational.</p> </note>"
    },
    "UpdateVirtualInterfaceAttributes":{
      "name":"UpdateVirtualInterfaceAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateVirtualInterfaceAttributesRequest"},
      "output":{"shape":"VirtualInterface"},
      "errors":[
        {"shape":"DirectConnectServerException"},
        {"shape":"DirectConnectClientException"}
      ],
      "documentation":"<p>Updates the specified attributes of the specified virtual private interface.</p> <p>Setting the MTU of a virtual interface to 8500 (jumbo frames) can cause an update to the underlying physical connection if it wasn't updated to support jumbo frames. Updating the connection disrupts network connectivity for all virtual interfaces associated with the connection for up to 30 seconds. To check whether your connection supports jumbo frames, call <a>DescribeConnections</a>. To check whether your virtual interface supports jumbo frames, call <a>DescribeVirtualInterfaces</a>.</p>"
    }
  },
  "shapes":{
    "ASN":{"type":"integer"},
    "AcceptDirectConnectGatewayAssociationProposalRequest":{
      "type":"structure",
      "required":[
        "directConnectGatewayId",
        "proposalId",
        "associatedGatewayOwnerAccount"
      ],
      "members":{
        "directConnectGatewayId":{
          "shape":"DirectConnectGatewayId",
          "documentation":"<p>The ID of the Direct Connect gateway.</p>"
        },
        "proposalId":{
          "shape":"DirectConnectGatewayAssociationProposalId",
          "documentation":"<p>The ID of the request proposal.</p>"
        },
        "associatedGatewayOwnerAccount":{
          "shape":"OwnerAccount",
          "documentation":"<p>The ID of the Amazon Web Services account that owns the virtual private gateway or transit gateway.</p>"
        },
        "overrideAllowedPrefixesToDirectConnectGateway":{
          "shape":"RouteFilterPrefixList",
          "documentation":"<p>Overrides the Amazon VPC prefixes advertised to the Direct Connect gateway.</p> <p>For information about how to set the prefixes, see <a href=\"https://docs.aws.amazon.com/directconnect/latest/UserGuide/multi-account-associate-vgw.html#allowed-prefixes\">Allowed Prefixes</a> in the <i>Direct Connect User Guide</i>.</p>"
        }
      }
    },
    "AcceptDirectConnectGatewayAssociationProposalResult":{
      "type":"structure",
      "members":{
        "directConnectGatewayAssociation":{
          "shape":"DirectConnectGatewayAssociation",
          "documentation":"<p>Information about an association between a Direct Connect gateway and a virtual gateway or transit gateway.</p>"
        }
      }
    },
    "AddressFamily":{
      "type":"string",
      "enum":[
        "ipv4",
        "ipv6"
      ]
    },
    "AgreementList":{
      "type":"list",
      "member":{"shape":"CustomerAgreement"}
    },
    "AgreementName":{
      "type":"string",
      "max":100
    },
    "AllocateConnectionOnInterconnectRequest":{
      "type":"structure",
      "required":[
        "bandwidth",
        "connectionName",
        "ownerAccount",
        "interconnectId",
        "vlan"
      ],
      "members":{
        "bandwidth":{
          "shape":"Bandwidth",
          "documentation":"<p>The bandwidth of the connection. The possible values are 50Mbps, 100Mbps, 200Mbps, 300Mbps, 400Mbps, 500Mbps, 1Gbps, 2Gbps, 5Gbps, and 10Gbps. Note that only those Direct Connect Partners who have met specific requirements are allowed to create a 1Gbps, 2Gbps, 5Gbps or 10Gbps hosted connection.</p>"
        },
        "connectionName":{
          "shape":"ConnectionName",
          "documentation":"<p>The name of the provisioned connection.</p>"
        },
        "ownerAccount":{
          "shape":"OwnerAccount",
          "documentation":"<p>The ID of the Amazon Web Services account of the customer for whom the connection will be provisioned.</p>"
        },
        "interconnectId":{
          "shape":"InterconnectId",
          "documentation":"<p>The ID of the interconnect on which the connection will be provisioned.</p>"
        },
        "vlan":{
          "shape":"VLAN",
          "documentation":"<p>The dedicated VLAN provisioned to the connection.</p>"
        }
      }
    },
    "AllocateHostedConnectionRequest":{
      "type":"structure",
      "required":[
        "connectionId",
        "ownerAccount",
        "bandwidth",
        "connectionName",
        "vlan"
      ],
      "members":{
        "connectionId":{
          "shape":"ConnectionId",
          "documentation":"<p>The ID of the interconnect or LAG.</p>"
        },
        "ownerAccount":{
          "shape":"OwnerAccount",
          "documentation":"<p>The ID of the Amazon Web Services account ID of the customer for the connection.</p>"
        },
        "bandwidth":{
          "shape":"Bandwidth",
          "documentation":"<p>The bandwidth of the connection. The possible values are 50Mbps, 100Mbps, 200Mbps, 300Mbps, 400Mbps, 500Mbps, 1Gbps, 2Gbps, 5Gbps, 10Gbps, and 25Gbps. Note that only those Direct Connect Partners who have met specific requirements are allowed to create a 1Gbps, 2Gbps, 5Gbps, 10Gbps, or 25Gbps hosted connection. </p>"
        },
        "connectionName":{
          "shape":"ConnectionName",
          "documentation":"<p>The name of the hosted connection.</p>"
        },
        "vlan":{
          "shape":"VLAN",
          "documentation":"<p>The dedicated VLAN provisioned to the hosted connection.</p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>The tags associated with the connection.</p>"
        }
      }
    },
    "AllocatePrivateVirtualInterfaceRequest":{
      "type":"structure",
      "required":[
        "connectionId",
        "ownerAccount",
        "newPrivateVirtualInterfaceAllocation"
      ],
      "members":{
        "connectionId":{
          "shape":"ConnectionId",
          "documentation":"<p>The ID of the connection on which the private virtual interface is provisioned.</p>"
        },
        "ownerAccount":{
          "shape":"OwnerAccount",
          "documentation":"<p>The ID of the Amazon Web Services account that owns the virtual private interface.</p>"
        },
        "newPrivateVirtualInterfaceAllocation":{
          "shape":"NewPrivateVirtualInterfaceAllocation",
          "documentation":"<p>Information about the private virtual interface.</p>"
        }
      }
    },
    "AllocatePublicVirtualInterfaceRequest":{
      "type":"structure",
      "required":[
        "connectionId",
        "ownerAccount",
        "newPublicVirtualInterfaceAllocation"
      ],
      "members":{
        "connectionId":{
          "shape":"ConnectionId",
          "documentation":"<p>The ID of the connection on which the public virtual interface is provisioned.</p>"
        },
        "ownerAccount":{
          "shape":"OwnerAccount",
          "documentation":"<p>The ID of the Amazon Web Services account that owns the public virtual interface.</p>"
        },
        "newPublicVirtualInterfaceAllocation":{
          "shape":"NewPublicVirtualInterfaceAllocation",
          "documentation":"<p>Information about the public virtual interface.</p>"
        }
      }
    },
    "AllocateTransitVirtualInterfaceRequest":{
      "type":"structure",
      "required":[
        "connectionId",
        "ownerAccount",
        "newTransitVirtualInterfaceAllocation"
      ],
      "members":{
        "connectionId":{
          "shape":"ConnectionId",
          "documentation":"<p>The ID of the connection on which the transit virtual interface is provisioned.</p>"
        },
        "ownerAccount":{
          "shape":"OwnerAccount",
          "documentation":"<p>The ID of the Amazon Web Services account that owns the transit virtual interface.</p>"
        },
        "newTransitVirtualInterfaceAllocation":{
          "shape":"NewTransitVirtualInterfaceAllocation",
          "documentation":"<p>Information about the transit virtual interface.</p>"
        }
      }
    },
    "AllocateTransitVirtualInterfaceResult":{
      "type":"structure",
      "members":{
        "virtualInterface":{
          "shape":"VirtualInterface",
          "documentation":"<p>Information about the transit virtual interface.</p>"
        }
      }
    },
    "AmazonAddress":{"type":"string"},
    "AssociateConnectionWithLagRequest":{
      "type":"structure",
      "required":[
        "connectionId",
        "lagId"
      ],
      "members":{
        "connectionId":{
          "shape":"ConnectionId",
          "documentation":"<p>The ID of the connection.</p>"
        },
        "lagId":{
          "shape":"LagId",
          "documentation":"<p>The ID of the LAG with which to associate the connection.</p>"
        }
      }
    },
    "AssociateHostedConnectionRequest":{
      "type":"structure",
      "required":[
        "connectionId",
        "parentConnectionId"
      ],
      "members":{
        "connectionId":{
          "shape":"ConnectionId",
          "documentation":"<p>The ID of the hosted connection.</p>"
        },
        "parentConnectionId":{
          "shape":"ConnectionId",
          "documentation":"<p>The ID of the interconnect or the LAG.</p>"
        }
      }
    },
    "AssociateMacSecKeyRequest":{
      "type":"structure",
      "required":["connectionId"],
      "members":{
        "connectionId":{
          "shape":"ConnectionId",
          "documentation":"<p>The ID of the dedicated connection (dxcon-xxxx), interconnect (dxcon-xxxx), or LAG (dxlag-xxxx).</p> <p>You can use <a>DescribeConnections</a>, <a>DescribeInterconnects</a>, or <a>DescribeLags</a> to retrieve connection ID.</p>"
        },
        "secretARN":{
          "shape":"SecretARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the MAC Security (MACsec) secret key to associate with the connection.</p> <p>You can use <a>DescribeConnections</a> or <a>DescribeLags</a> to retrieve the MAC Security (MACsec) secret key.</p> <p>If you use this request parameter, you do not use the <code>ckn</code> and <code>cak</code> request parameters.</p>"
        },
        "ckn":{
          "shape":"Ckn",
          "documentation":"<p>The MAC Security (MACsec) CKN to associate with the connection.</p> <p>You can create the CKN/CAK pair using an industry standard tool.</p> <p> The valid values are 64 hexadecimal characters (0-9, A-E).</p> <p>If you use this request parameter, you must use the <code>cak</code> request parameter and not use the <code>secretARN</code> request parameter.</p>"
        },
        "cak":{
          "shape":"Cak",
          "documentation":"<p>The MAC Security (MACsec) CAK to associate with the connection.</p> <p>You can create the CKN/CAK pair using an industry standard tool.</p> <p> The valid values are 64 hexadecimal characters (0-9, A-E).</p> <p>If you use this request parameter, you must use the <code>ckn</code> request parameter and not use the <code>secretARN</code> request parameter.</p>"
        }
      }
    },
    "AssociateMacSecKeyResponse":{
      "type":"structure",
      "members":{
        "connectionId":{
          "shape":"ConnectionId",
          "documentation":"<p>The ID of the dedicated connection (dxcon-xxxx), interconnect (dxcon-xxxx), or LAG (dxlag-xxxx).</p>"
        },
        "macSecKeys":{
          "shape":"MacSecKeyList",
          "documentation":"<p>The MAC Security (MACsec) security keys associated with the connection.</p>"
        }
      }
    },
    "AssociateVirtualInterfaceRequest":{
      "type":"structure",
      "required":[
        "virtualInterfaceId",
        "connectionId"
      ],
      "members":{
        "virtualInterfaceId":{
          "shape":"VirtualInterfaceId",
          "documentation":"<p>The ID of the virtual interface.</p>"
        },
        "connectionId":{
          "shape":"ConnectionId",
          "documentation":"<p>The ID of the LAG or connection.</p>"
        }
      }
    },
    "AssociatedCoreNetwork":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"CoreNetworkIdentifier",
          "documentation":"<p>The ID of the Cloud WAN core network that the Direct Connect gateway is associated to.</p>"
        },
        "ownerAccount":{
          "shape":"OwnerAccount",
          "documentation":"<p>The account owner of the Cloud WAN core network.</p>"
        },
        "attachmentId":{
          "shape":"CoreNetworkAttachmentId",
          "documentation":"<p>the ID of the Direct Connect gateway attachment.</p>"
        }
      },
      "documentation":"<p>The Amazon Web Services Cloud WAN core network that the Direct Connect gateway is associated to. This is only returned when a Direct Connect gateway is associated to a Cloud WAN core network.</p>"
    },
    "AssociatedGateway":{
      "type":"structure",
      "members":{
        "id":{
          "shape":"GatewayIdentifier",
          "documentation":"<p>The ID of the associated gateway.</p>"
        },
        "type":{
          "shape":"GatewayType",
          "documentation":"<p>The type of associated gateway.</p>"
        },
        "ownerAccount":{
          "shape":"OwnerAccount",
          "documentation":"<p>The ID of the Amazon Web Services account that owns the associated virtual private gateway or transit gateway.</p>"
        },
        "region":{
          "shape":"Region",
          "documentation":"<p>The Region where the associated gateway is located.</p>"
        }
      },
      "documentation":"<p>Information about the associated gateway.</p>"
    },
    "AssociatedGatewayId":{"type":"string"},
    "AvailableMacSecPortSpeeds":{
      "type":"list",
      "member":{"shape":"PortSpeed"}
    },
    "AvailablePortSpeeds":{
      "type":"list",
      "member":{"shape":"PortSpeed"}
    },
    "AwsDevice":{
      "type":"string",
      "deprecated":true
    },
    "AwsDeviceV2":{"type":"string"},
    "AwsLogicalDeviceId":{"type":"string"},
    "BGPAuthKey":{"type":"string"},
    "BGPPeer":{
      "type":"structure",
      "members":{
        "bgpPeerId":{
          "shape":"BGPPeerId",
          "documentation":"<p>The ID of the BGP peer.</p>"
        },
        "asn":{
          "shape":"ASN",
          "documentation":"<p>The autonomous system number (ASN). The valid range is from 1 to 2147483646 for Border Gateway Protocol (BGP) configuration. If you provide a number greater than the maximum, an error is returned. Use <code>asnLong</code> instead.</p> <note> <p>You can use <code>asnLong</code> or <code>asn</code>, but not both. We recommend using <code>asnLong</code> as it supports a greater pool of numbers. </p> <ul> <li> <p>The <code>asnLong</code> attribute accepts both ASN and long ASN ranges.</p> </li> <li> <p>If you provide a value in the same API call for both <code>asn</code> and <code>asnLong</code>, the API will only accept the value for <code>asnLong</code>.</p> </li> </ul> </note>"
        },
        "asnLong":{
          "shape":"LongAsn",
          "documentation":"<p>The long ASN for the BGP peer. The valid range is from 1 to 4294967294 for BGP configuration. </p> <note> <p>You can use <code>asnLong</code> or <code>asn</code>, but not both. We recommend using <code>asnLong</code> as it supports a greater pool of numbers. </p> <ul> <li> <p>The <code>asnLong</code> attribute accepts both ASN and long ASN ranges.</p> </li> <li> <p>If you provide a value in the same API call for both <code>asn</code> and <code>asnLong</code>, the API will only accept the value for <code>asnLong</code>.</p> </li> </ul> </note>"
        },
        "authKey":{
          "shape":"BGPAuthKey",
          "documentation":"<p>The authentication key for BGP configuration. This string has a minimum length of 6 characters and and a maximun lenth of 80 characters.</p>"
        },
        "addressFamily":{
          "shape":"AddressFamily",
          "documentation":"<p>The address family for the BGP peer.</p>"
        },
        "amazonAddress":{
          "shape":"AmazonAddress",
          "documentation":"<p>The IP address assigned to the Amazon interface.</p>"
        },
        "customerAddress":{
          "shape":"CustomerAddress",
          "documentation":"<p>The IP address assigned to the customer interface.</p>"
        },
        "bgpPeerState":{
          "shape":"BGPPeerState",
          "documentation":"<p>The state of the BGP peer. The following are the possible values:</p> <ul> <li> <p> <code>verifying</code>: The BGP peering addresses or ASN require validation before the BGP peer can be created. This state applies only to public virtual interfaces.</p> </li> <li> <p> <code>pending</code>: The BGP peer is created, and remains in this state until it is ready to be established.</p> </li> <li> <p> <code>available</code>: The BGP peer is ready to be established.</p> </li> <li> <p> <code>deleting</code>: The BGP peer is being deleted.</p> </li> <li> <p> <code>deleted</code>: The BGP peer is deleted and cannot be established.</p> </li> </ul>"
        },
        "bgpStatus":{
          "shape":"BGPStatus",
          "documentation":"<p>The status of the BGP peer. The following are the possible values:</p> <ul> <li> <p> <code>up</code>: The BGP peer is established. This state does not indicate the state of the routing function. Ensure that you are receiving routes over the BGP session.</p> </li> <li> <p> <code>down</code>: The BGP peer is down.</p> </li> <li> <p> <code>unknown</code>: The BGP peer status is not available.</p> </li> </ul>"
        },
        "awsDeviceV2":{
          "shape":"AwsDeviceV2",
          "documentation":"<p>The Direct Connect endpoint that terminates the BGP peer.</p>"
        },
        "awsLogicalDeviceId":{
          "shape":"AwsLogicalDeviceId",
          "documentation":"<p>The Direct Connect endpoint that terminates the logical connection. This device might be different than the device that terminates the physical connection.</p>"
        }
      },
      "documentation":"<p>Information about a BGP peer.</p>"
    },
    "BGPPeerId":{"type":"string"},
    "BGPPeerIdList":{
      "type":"list",
      "member":{"shape":"BGPPeerId"}
    },
    "BGPPeerList":{
      "type":"list",
      "member":{"shape":"BGPPeer"}
    },
    "BGPPeerState":{
      "type":"string",
      "enum":[
        "verifying",
        "pending",
        "available",
        "deleting",
        "deleted"
      ]
    },
    "BGPStatus":{
      "type":"string",
      "enum":[
        "up",
        "down",
        "unknown"
      ]
    },
    "Bandwidth":{"type":"string"},
    "BooleanFlag":{"type":"boolean"},
    "CIDR":{"type":"string"},
    "Cak":{"type":"string"},
    "Ckn":{"type":"string"},
    "ConfirmConnectionRequest":{
      "type":"structure",
      "required":["connectionId"],
      "members":{
        "connectionId":{
          "shape":"ConnectionId",
          "documentation":"<p>The ID of the hosted connection.</p>"
        }
      }
    },
    "ConfirmConnectionResponse":{
      "type":"structure",
      "members":{
        "connectionState":{
          "shape":"ConnectionState",
          "documentation":"<p>The state of the connection. The following are the possible values:</p> <ul> <li> <p> <code>ordering</code>: The initial state of a hosted connection provisioned on an interconnect. The connection stays in the ordering state until the owner of the hosted connection confirms or declines the connection order.</p> </li> <li> <p> <code>requested</code>: The initial state of a standard connection. The connection stays in the requested state until the Letter of Authorization (LOA) is sent to the customer.</p> </li> <li> <p> <code>pending</code>: The connection has been approved and is being initialized.</p> </li> <li> <p> <code>available</code>: The network link is up and the connection is ready for use.</p> </li> <li> <p> <code>down</code>: The network link is down.</p> </li> <li> <p> <code>deleting</code>: The connection is being deleted.</p> </li> <li> <p> <code>deleted</code>: The connection has been deleted.</p> </li> <li> <p> <code>rejected</code>: A hosted connection in the <code>ordering</code> state enters the <code>rejected</code> state if it is deleted by the customer.</p> </li> <li> <p> <code>unknown</code>: The state of the connection is not available.</p> </li> </ul>"
        }
      }
    },
    "ConfirmCustomerAgreementRequest":{
      "type":"structure",
      "members":{
        "agreementName":{
          "shape":"AgreementName",
          "documentation":"<p> The name of the customer agreement. </p>"
        }
      }
    },
    "ConfirmCustomerAgreementResponse":{
      "type":"structure",
      "members":{
        "status":{
          "shape":"Status",
          "documentation":"<p> The status of the customer agreement when the connection was created. This will be either <code>signed</code> or <code>unsigned</code>. </p>"
        }
      }
    },
    "ConfirmPrivateVirtualInterfaceRequest":{
      "type":"structure",
      "required":["virtualInterfaceId"],
      "members":{
        "virtualInterfaceId":{
          "shape":"VirtualInterfaceId",
          "documentation":"<p>The ID of the virtual interface.</p>"
        },
        "virtualGatewayId":{
          "shape":"VirtualGatewayId",
          "documentation":"<p>The ID of the virtual private gateway.</p>"
        },
        "directConnectGatewayId":{
          "shape":"DirectConnectGatewayId",
          "documentation":"<p>The ID of the Direct Connect gateway.</p>"
        }
      }
    },
    "ConfirmPrivateVirtualInterfaceResponse":{
      "type":"structure",
      "members":{
        "virtualInterfaceState":{
          "shape":"VirtualInterfaceState",
          "documentation":"<p>The state of the virtual interface. The following are the possible values:</p> <ul> <li> <p> <code>confirming</code>: The creation of the virtual interface is pending confirmation from the virtual interface owner. If the owner of the virtual interface is different from the owner of the connection on which it is provisioned, then the virtual interface will remain in this state until it is confirmed by the virtual interface owner.</p> </li> <li> <p> <code>verifying</code>: This state only applies to public virtual interfaces. Each public virtual interface needs validation before the virtual interface can be created.</p> </li> <li> <p> <code>pending</code>: A virtual interface is in this state from the time that it is created until the virtual interface is ready to forward traffic.</p> </li> <li> <p> <code>available</code>: A virtual interface that is able to forward traffic.</p> </li> <li> <p> <code>down</code>: A virtual interface that is BGP down.</p> </li> <li> <p> <code>testing</code>: A virtual interface is in this state immediately after calling <a>StartBgpFailoverTest</a> and remains in this state during the duration of the test.</p> </li> <li> <p> <code>deleting</code>: A virtual interface is in this state immediately after calling <a>DeleteVirtualInterface</a> until it can no longer forward traffic.</p> </li> <li> <p> <code>deleted</code>: A virtual interface that cannot forward traffic.</p> </li> <li> <p> <code>rejected</code>: The virtual interface owner has declined creation of the virtual interface. If a virtual interface in the <code>Confirming</code> state is deleted by the virtual interface owner, the virtual interface enters the <code>Rejected</code> state.</p> </li> <li> <p> <code>unknown</code>: The state of the virtual interface is not available.</p> </li> </ul>"
        }
      }
    },
    "ConfirmPublicVirtualInterfaceRequest":{
      "type":"structure",
      "required":["virtualInterfaceId"],
      "members":{
        "virtualInterfaceId":{
          "shape":"VirtualInterfaceId",
          "documentation":"<p>The ID of the virtual interface.</p>"
        }
      }
    },
    "ConfirmPublicVirtualInterfaceResponse":{
      "type":"structure",
      "members":{
        "virtualInterfaceState":{
          "shape":"VirtualInterfaceState",
          "documentation":"<p>The state of the virtual interface. The following are the possible values:</p> <ul> <li> <p> <code>confirming</code>: The creation of the virtual interface is pending confirmation from the virtual interface owner. If the owner of the virtual interface is different from the owner of the connection on which it is provisioned, then the virtual interface will remain in this state until it is confirmed by the virtual interface owner.</p> </li> <li> <p> <code>verifying</code>: This state only applies to public virtual interfaces. Each public virtual interface needs validation before the virtual interface can be created.</p> </li> <li> <p> <code>pending</code>: A virtual interface is in this state from the time that it is created until the virtual interface is ready to forward traffic.</p> </li> <li> <p> <code>available</code>: A virtual interface that is able to forward traffic.</p> </li> <li> <p> <code>down</code>: A virtual interface that is BGP down.</p> </li> <li> <p> <code>testing</code>: A virtual interface is in this state immediately after calling <a>StartBgpFailoverTest</a> and remains in this state during the duration of the test.</p> </li> <li> <p> <code>deleting</code>: A virtual interface is in this state immediately after calling <a>DeleteVirtualInterface</a> until it can no longer forward traffic.</p> </li> <li> <p> <code>deleted</code>: A virtual interface that cannot forward traffic.</p> </li> <li> <p> <code>rejected</code>: The virtual interface owner has declined creation of the virtual interface. If a virtual interface in the <code>Confirming</code> state is deleted by the virtual interface owner, the virtual interface enters the <code>Rejected</code> state.</p> </li> <li> <p> <code>unknown</code>: The state of the virtual interface is not available.</p> </li> </ul>"
        }
      }
    },
    "ConfirmTransitVirtualInterfaceRequest":{
      "type":"structure",
      "required":[
        "virtualInterfaceId",
        "directConnectGatewayId"
      ],
      "members":{
        "virtualInterfaceId":{
          "shape":"VirtualInterfaceId",
          "documentation":"<p>The ID of the virtual interface.</p>"
        },
        "directConnectGatewayId":{
          "shape":"DirectConnectGatewayId",
          "documentation":"<p>The ID of the Direct Connect gateway.</p>"
        }
      }
    },
    "ConfirmTransitVirtualInterfaceResponse":{
      "type":"structure",
      "members":{
        "virtualInterfaceState":{
          "shape":"VirtualInterfaceState",
          "documentation":"<p>The state of the virtual interface. The following are the possible values:</p> <ul> <li> <p> <code>confirming</code>: The creation of the virtual interface is pending confirmation from the virtual interface owner. If the owner of the virtual interface is different from the owner of the connection on which it is provisioned, then the virtual interface will remain in this state until it is confirmed by the virtual interface owner.</p> </li> <li> <p> <code>verifying</code>: This state only applies to public virtual interfaces. Each public virtual interface needs validation before the virtual interface can be created.</p> </li> <li> <p> <code>pending</code>: A virtual interface is in this state from the time that it is created until the virtual interface is ready to forward traffic.</p> </li> <li> <p> <code>available</code>: A virtual interface that is able to forward traffic.</p> </li> <li> <p> <code>down</code>: A virtual interface that is BGP down.</p> </li> <li> <p> <code>testing</code>: A virtual interface is in this state immediately after calling <a>StartBgpFailoverTest</a> and remains in this state during the duration of the test.</p> </li> <li> <p> <code>deleting</code>: A virtual interface is in this state immediately after calling <a>DeleteVirtualInterface</a> until it can no longer forward traffic.</p> </li> <li> <p> <code>deleted</code>: A virtual interface that cannot forward traffic.</p> </li> <li> <p> <code>rejected</code>: The virtual interface owner has declined creation of the virtual interface. If a virtual interface in the <code>Confirming</code> state is deleted by the virtual interface owner, the virtual interface enters the <code>Rejected</code> state.</p> </li> <li> <p> <code>unknown</code>: The state of the virtual interface is not available.</p> </li> </ul>"
        }
      }
    },
    "Connection":{
      "type":"structure",
      "members":{
        "ownerAccount":{
          "shape":"OwnerAccount",
          "documentation":"<p>The ID of the Amazon Web Services account that owns the connection.</p>"
        },
        "connectionId":{
          "shape":"ConnectionId",
          "documentation":"<p>The ID of the connection.</p>"
        },
        "connectionName":{
          "shape":"ConnectionName",
          "documentation":"<p>The name of the connection.</p>"
        },
        "connectionState":{
          "shape":"ConnectionState",
          "documentation":"<p>The state of the connection. The following are the possible values:</p> <ul> <li> <p> <code>ordering</code>: The initial state of a hosted connection provisioned on an interconnect. The connection stays in the ordering state until the owner of the hosted connection confirms or declines the connection order.</p> </li> <li> <p> <code>requested</code>: The initial state of a standard connection. The connection stays in the requested state until the Letter of Authorization (LOA) is sent to the customer.</p> </li> <li> <p> <code>pending</code>: The connection has been approved and is being initialized.</p> </li> <li> <p> <code>available</code>: The network link is up and the connection is ready for use.</p> </li> <li> <p> <code>down</code>: The network link is down.</p> </li> <li> <p> <code>deleting</code>: The connection is being deleted.</p> </li> <li> <p> <code>deleted</code>: The connection has been deleted.</p> </li> <li> <p> <code>rejected</code>: A hosted connection in the <code>ordering</code> state enters the <code>rejected</code> state if it is deleted by the customer.</p> </li> <li> <p> <code>unknown</code>: The state of the connection is not available.</p> </li> </ul>"
        },
        "region":{
          "shape":"Region",
          "documentation":"<p>The Amazon Web Services Region where the connection is located.</p>"
        },
        "location":{
          "shape":"LocationCode",
          "documentation":"<p>The location of the connection.</p>"
        },
        "bandwidth":{
          "shape":"Bandwidth",
          "documentation":"<p>The bandwidth of the connection.</p>"
        },
        "vlan":{
          "shape":"VLAN",
          "documentation":"<p>The ID of the VLAN.</p>"
        },
        "partnerName":{
          "shape":"PartnerName",
          "documentation":"<p>The name of the Direct Connect service provider associated with the connection.</p>"
        },
        "loaIssueTime":{
          "shape":"LoaIssueTime",
          "documentation":"<p>The time of the most recent call to <a>DescribeLoa</a> for this connection.</p>"
        },
        "lagId":{
          "shape":"LagId",
          "documentation":"<p>The ID of the LAG.</p>"
        },
        "awsDevice":{
          "shape":"AwsDevice",
          "documentation":"<p>The Direct Connect endpoint on which the physical connection terminates.</p>"
        },
        "jumboFrameCapable":{
          "shape":"JumboFrameCapable",
          "documentation":"<p>Indicates whether jumbo frames are supported.</p>"
        },
        "awsDeviceV2":{
          "shape":"AwsDeviceV2",
          "documentation":"<p>The Direct Connect endpoint that terminates the physical connection.</p>"
        },
        "awsLogicalDeviceId":{
          "shape":"AwsLogicalDeviceId",
          "documentation":"<p>The Direct Connect endpoint that terminates the logical connection. This device might be different than the device that terminates the physical connection.</p>"
        },
        "hasLogicalRedundancy":{
          "shape":"HasLogicalRedundancy",
          "documentation":"<p>Indicates whether the connection supports a secondary BGP peer in the same address family (IPv4/IPv6).</p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>The tags associated with the connection.</p>"
        },
        "providerName":{
          "shape":"ProviderName",
          "documentation":"<p>The name of the service provider associated with the connection.</p>"
        },
        "macSecCapable":{
          "shape":"MacSecCapable",
          "documentation":"<p>Indicates whether the connection supports MAC Security (MACsec).</p>"
        },
        "portEncryptionStatus":{
          "shape":"PortEncryptionStatus",
          "documentation":"<p>The MAC Security (MACsec) port link status of the connection.</p> <p>The valid values are <code>Encryption Up</code>, which means that there is an active Connection Key Name, or <code>Encryption Down</code>.</p>"
        },
        "encryptionMode":{
          "shape":"EncryptionMode",
          "documentation":"<p>The MAC Security (MACsec) connection encryption mode.</p> <p>The valid values are <code>no_encrypt</code>, <code>should_encrypt</code>, and <code>must_encrypt</code>.</p>"
        },
        "macSecKeys":{
          "shape":"MacSecKeyList",
          "documentation":"<p>The MAC Security (MACsec) security keys associated with the connection.</p>"
        },
        "partnerInterconnectMacSecCapable":{
          "shape":"PartnerInterconnectMacSecCapable",
          "documentation":"<p>Indicates whether the interconnect hosting this connection supports MAC Security (MACsec).</p>"
        }
      },
      "documentation":"<p>Information about an Direct Connect connection.</p>"
    },
    "ConnectionId":{"type":"string"},
    "ConnectionList":{
      "type":"list",
      "member":{"shape":"Connection"}
    },
    "ConnectionName":{"type":"string"},
    "ConnectionState":{
      "type":"string",
      "enum":[
        "ordering",
        "requested",
        "pending",
        "available",
        "down",
        "deleting",
        "deleted",
        "rejected",
        "unknown"
      ]
    },
    "Connections":{
      "type":"structure",
      "members":{
        "connections":{
          "shape":"ConnectionList",
          "documentation":"<p>The connections.</p>"
        },
        "nextToken":{
          "shape":"PaginationToken",
          "documentation":"<p>The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>"
        }
      }
    },
    "CoreNetworkAttachmentId":{
      "type":"string",
      "max":28,
      "min":12,
      "pattern":"^attachment-([0-9a-f]{1,17})$"
    },
    "CoreNetworkIdentifier":{
      "type":"string",
      "max":30,
      "min":14,
      "pattern":"^core-network-([0-9a-f]{1,17})$"
    },
    "Count":{"type":"integer"},
    "CreateBGPPeerRequest":{
      "type":"structure",
      "members":{
        "virtualInterfaceId":{
          "shape":"VirtualInterfaceId",
          "documentation":"<p>The ID of the virtual interface.</p>"
        },
        "newBGPPeer":{
          "shape":"NewBGPPeer",
          "documentation":"<p>Information about the BGP peer.</p>"
        }
      }
    },
    "CreateBGPPeerResponse":{
      "type":"structure",
      "members":{
        "virtualInterface":{
          "shape":"VirtualInterface",
          "documentation":"<p>The virtual interface.</p>"
        }
      }
    },
    "CreateConnectionRequest":{
      "type":"structure",
      "required":[
        "location",
        "bandwidth",
        "connectionName"
      ],
      "members":{
        "location":{
          "shape":"LocationCode",
          "documentation":"<p>The location of the connection.</p>"
        },
        "bandwidth":{
          "shape":"Bandwidth",
          "documentation":"<p>The bandwidth of the connection.</p>"
        },
        "connectionName":{
          "shape":"ConnectionName",
          "documentation":"<p>The name of the connection.</p>"
        },
        "lagId":{
          "shape":"LagId",
          "documentation":"<p>The ID of the LAG.</p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>The tags to associate with the lag.</p>"
        },
        "providerName":{
          "shape":"ProviderName",
          "documentation":"<p>The name of the service provider associated with the requested connection.</p>"
        },
        "requestMACSec":{
          "shape":"RequestMACSec",
          "documentation":"<p>Indicates whether you want the connection to support MAC Security (MACsec).</p> <p>MAC Security (MACsec) is unavailable on hosted connections. For information about MAC Security (MACsec) prerequisites, see <a href=\"https://docs.aws.amazon.com/directconnect/latest/UserGuide/MACSec.html\">MAC Security in Direct Connect</a> in the <i>Direct Connect User Guide</i>.</p>"
        }
      }
    },
    "CreateDirectConnectGatewayAssociationProposalRequest":{
      "type":"structure",
      "required":[
        "directConnectGatewayId",
        "directConnectGatewayOwnerAccount",
        "gatewayId"
      ],
      "members":{
        "directConnectGatewayId":{
          "shape":"DirectConnectGatewayId",
          "documentation":"<p>The ID of the Direct Connect gateway.</p>"
        },
        "directConnectGatewayOwnerAccount":{
          "shape":"OwnerAccount",
          "documentation":"<p>The ID of the Amazon Web Services account that owns the Direct Connect gateway.</p>"
        },
        "gatewayId":{
          "shape":"GatewayIdToAssociate",
          "documentation":"<p>The ID of the virtual private gateway or transit gateway.</p>"
        },
        "addAllowedPrefixesToDirectConnectGateway":{
          "shape":"RouteFilterPrefixList",
          "documentation":"<p>The Amazon VPC prefixes to advertise to the Direct Connect gateway.</p>"
        },
        "removeAllowedPrefixesToDirectConnectGateway":{
          "shape":"RouteFilterPrefixList",
          "documentation":"<p>The Amazon VPC prefixes to no longer advertise to the Direct Connect gateway.</p>"
        }
      }
    },
    "CreateDirectConnectGatewayAssociationProposalResult":{
      "type":"structure",
      "members":{
        "directConnectGatewayAssociationProposal":{
          "shape":"DirectConnectGatewayAssociationProposal",
          "documentation":"<p>Information about the Direct Connect gateway proposal.</p>"
        }
      }
    },
    "CreateDirectConnectGatewayAssociationRequest":{
      "type":"structure",
      "required":["directConnectGatewayId"],
      "members":{
        "directConnectGatewayId":{
          "shape":"DirectConnectGatewayId",
          "documentation":"<p>The ID of the Direct Connect gateway.</p>"
        },
        "gatewayId":{
          "shape":"GatewayIdToAssociate",
          "documentation":"<p>The ID of the virtual private gateway or transit gateway.</p>"
        },
        "addAllowedPrefixesToDirectConnectGateway":{
          "shape":"RouteFilterPrefixList",
          "documentation":"<p>The Amazon VPC prefixes to advertise to the Direct Connect gateway</p> <p>This parameter is required when you create an association to a transit gateway.</p> <p>For information about how to set the prefixes, see <a href=\"https://docs.aws.amazon.com/directconnect/latest/UserGuide/multi-account-associate-vgw.html#allowed-prefixes\">Allowed Prefixes</a> in the <i>Direct Connect User Guide</i>.</p>"
        },
        "virtualGatewayId":{
          "shape":"VirtualGatewayId",
          "documentation":"<p>The ID of the virtual private gateway.</p>"
        }
      }
    },
    "CreateDirectConnectGatewayAssociationResult":{
      "type":"structure",
      "members":{
        "directConnectGatewayAssociation":{
          "shape":"DirectConnectGatewayAssociation",
          "documentation":"<p>The association to be created.</p>"
        }
      }
    },
    "CreateDirectConnectGatewayRequest":{
      "type":"structure",
      "required":["directConnectGatewayName"],
      "members":{
        "directConnectGatewayName":{
          "shape":"DirectConnectGatewayName",
          "documentation":"<p>The name of the Direct Connect gateway.</p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>The key-value pair tags associated with the request.</p>"
        },
        "amazonSideAsn":{
          "shape":"LongAsn",
          "documentation":"<p>The autonomous system number (ASN) for Border Gateway Protocol (BGP) to be configured on the Amazon side of the connection. The ASN must be in the private range of 64,512 to 65,534 or 4,200,000,000 to 4,294,967,294. The default is 64512.</p>"
        }
      }
    },
    "CreateDirectConnectGatewayResult":{
      "type":"structure",
      "members":{
        "directConnectGateway":{
          "shape":"DirectConnectGateway",
          "documentation":"<p>The Direct Connect gateway.</p>"
        }
      }
    },
    "CreateInterconnectRequest":{
      "type":"structure",
      "required":[
        "interconnectName",
        "bandwidth",
        "location"
      ],
      "members":{
        "interconnectName":{
          "shape":"InterconnectName",
          "documentation":"<p>The name of the interconnect.</p>"
        },
        "bandwidth":{
          "shape":"Bandwidth",
          "documentation":"<p>The port bandwidth, in Gbps. The possible values are 1, 10, and 100.</p>"
        },
        "location":{
          "shape":"LocationCode",
          "documentation":"<p>The location of the interconnect.</p>"
        },
        "lagId":{
          "shape":"LagId",
          "documentation":"<p>The ID of the LAG.</p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>The tags to associate with the interconnect.</p>"
        },
        "providerName":{
          "shape":"ProviderName",
          "documentation":"<p>The name of the service provider associated with the interconnect.</p>"
        },
        "requestMACSec":{
          "shape":"RequestMACSec",
          "documentation":"<p>Indicates whether you want the interconnect to support MAC Security (MACsec).</p>"
        }
      }
    },
    "CreateLagRequest":{
      "type":"structure",
      "required":[
        "numberOfConnections",
        "location",
        "connectionsBandwidth",
        "lagName"
      ],
      "members":{
        "numberOfConnections":{
          "shape":"Count",
          "documentation":"<p>The number of physical dedicated connections initially provisioned and bundled by the LAG. You can have a maximum of four connections when the port speed is 1Gbps or 10Gbps, or two when the port speed is 100Gbps or 400Gbps.</p>"
        },
        "location":{
          "shape":"LocationCode",
          "documentation":"<p>The location for the LAG.</p>"
        },
        "connectionsBandwidth":{
          "shape":"Bandwidth",
          "documentation":"<p>The bandwidth of the individual physical dedicated connections bundled by the LAG. The possible values are 1Gbps,10Gbps, 100Gbps, and 400Gbps. </p>"
        },
        "lagName":{
          "shape":"LagName",
          "documentation":"<p>The name of the LAG.</p>"
        },
        "connectionId":{
          "shape":"ConnectionId",
          "documentation":"<p>The ID of an existing dedicated connection to migrate to the LAG.</p>"
        },
        "tags":{
          "shape":"TagList",
          "documentation":"<p>The tags to associate with the LAG.</p>"
        },
        "childConnectionTags":{
          "shape":"TagList",
          "documentation":"<p>The tags to associate with the automtically created LAGs.</p>"
        },
        "providerName":{
          "shape":"ProviderName",
          "documentation":"<p>The name of the service provider associated with the LAG.</p>"
        },
        "requestMACSec":{
          "shape":"RequestMACSec",
          "documentation":"<p>Indicates whether the connection will support MAC Security (MACsec).</p> <note> <p>All connections in the LAG must be capable of supporting MAC Security (MACsec). For information about MAC Security (MACsec) prerequisties, see <a href=\"https://docs.aws.amazon.com/directconnect/latest/UserGuide/direct-connect-mac-sec-getting-started.html#mac-sec-prerequisites\">MACsec prerequisties</a> in the <i>Direct Connect User Guide</i>.</p> </note>"
        }
      }
    },
    "CreatePrivateVirtualInterfaceRequest":{
      "type":"structure",
      "required":[
        "connectionId",
        "newPrivateVirtualInterface"
      ],
      "members":{
        "connectionId":{
          "shape":"ConnectionId",
          "documentation":"<p>The ID of the connection.</p>"
        },
        "newPrivateVirtualInterface":{
          "shape":"NewPrivateVirtualInterface",
          "documentation":"<p>Information about the private virtual interface.</p>"
        }
      }
    },
    "CreatePublicVirtualInterfaceRequest":{
      "type":"structure",
      "required":[
        "connectionId",
        "newPublicVirtualInterface"
      ],
      "members":{
        "connectionId":{
          "shape":"ConnectionId",
          "documentation":"<p>The ID of the connection.</p>"
        },
        "newPublicVirtualInterface":{
          "shape":"NewPublicVirtualInterface",
          "documentation":"<p>Information about the public virtual interface.</p>"
        }
      }
    },
    "CreateTransitVirtualInterfaceRequest":{
      "type":"structure",
      "required":[
        "connectionId",
        "newTransitVirtualInterface"
      ],
      "members":{
        "connectionId":{
          "shape":"ConnectionId",
          "documentation":"<p>The ID of the connection.</p>"
        },
        "newTransitVirtualInterface":{
          "shape":"NewTransitVirtualInterface",
          "documentation":"<p>Information about the transit virtual interface.</p>"
        }
      }
    },
    "CreateTransitVirtualInterfaceResult":{
      "type":"structure",
      "members":{
        "virtualInterface":{
          "shape":"VirtualInterface",
[...]
