{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2015-04-08",
    "endpointPrefix":"workspaces",
    "jsonVersion":"1.1",
    "protocol":"json",
    "protocols":["json"],
    "serviceFullName":"Amazon WorkSpaces",
    "serviceId":"WorkSpaces",
    "signatureVersion":"v4",
    "targetPrefix":"WorkspacesService",
    "uid":"workspaces-2015-04-08",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AcceptAccountLinkInvitation":{
      "name":"AcceptAccountLinkInvitation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AcceptAccountLinkInvitationRequest"},
      "output":{"shape":"AcceptAccountLinkInvitationResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Accepts the account link invitation.</p> <important> <p>There's currently no unlinking capability after you accept the account linking invitation.</p> </important>"
    },
    "AssociateConnectionAlias":{
      "name":"AssociateConnectionAlias",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateConnectionAliasRequest"},
      "output":{"shape":"AssociateConnectionAliasResult"},
      "errors":[
        {"shape":"ResourceAssociatedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValuesException"},
        {"shape":"InvalidResourceStateException"},
        {"shape":"OperationNotSupportedException"}
      ],
      "documentation":"<p>Associates the specified connection alias with the specified directory to enable cross-Region redirection. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/cross-region-redirection.html\"> Cross-Region Redirection for Amazon WorkSpaces</a>.</p> <note> <p>Before performing this operation, call <a href=\"https://docs.aws.amazon.com/workspaces/latest/api/API_DescribeConnectionAliases.html\"> DescribeConnectionAliases</a> to make sure that the current state of the connection alias is <code>CREATED</code>.</p> </note>"
    },
    "AssociateIpGroups":{
      "name":"AssociateIpGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateIpGroupsRequest"},
      "output":{"shape":"AssociateIpGroupsResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"InvalidResourceStateException"},
        {"shape":"AccessDeniedException"},
        {"shape":"OperationNotSupportedException"}
      ],
      "documentation":"<p>Associates the specified IP access control group with the specified directory.</p>"
    },
    "AssociateWorkspaceApplication":{
      "name":"AssociateWorkspaceApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateWorkspaceApplicationRequest"},
      "output":{"shape":"AssociateWorkspaceApplicationResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValuesException"},
        {"shape":"OperationNotSupportedException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ComputeNotCompatibleException"},
        {"shape":"OperatingSystemNotCompatibleException"},
        {"shape":"ApplicationNotSupportedException"},
        {"shape":"IncompatibleApplicationsException"}
      ],
      "documentation":"<p>Associates the specified application to the specified WorkSpace.</p>"
    },
    "AuthorizeIpRules":{
      "name":"AuthorizeIpRules",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AuthorizeIpRulesRequest"},
      "output":{"shape":"AuthorizeIpRulesResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"InvalidResourceStateException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Adds one or more rules to the specified IP access control group.</p> <p>This action gives users permission to access their WorkSpaces from the CIDR address ranges specified in the rules.</p>"
    },
    "CopyWorkspaceImage":{
      "name":"CopyWorkspaceImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopyWorkspaceImageRequest"},
      "output":{"shape":"CopyWorkspaceImageResult"},
      "errors":[
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"OperationNotSupportedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValuesException"}
      ],
      "documentation":"<p>Copies the specified image from the specified Region to the current Region. For more information about copying images, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/copy-custom-image.html\"> Copy a Custom WorkSpaces Image</a>.</p> <p>In the China (Ningxia) Region, you can copy images only within the same Region.</p> <p>In Amazon Web Services GovCloud (US), to copy images to and from other Regions, contact Amazon Web ServicesSupport.</p> <important> <p>Before copying a shared image, be sure to verify that it has been shared from the correct Amazon Web Services account. To determine if an image has been shared and to see the ID of the Amazon Web Services account that owns an image, use the <a href=\"https://docs.aws.amazon.com/workspaces/latest/api/API_DescribeWorkspaceImages.html\">DescribeWorkSpaceImages</a> and <a href=\"https://docs.aws.amazon.com/workspaces/latest/api/API_DescribeWorkspaceImagePermissions.html\">DescribeWorkspaceImagePermissions</a> API operations. </p> </important>"
    },
    "CreateAccountLinkInvitation":{
      "name":"CreateAccountLinkInvitation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAccountLinkInvitationRequest"},
      "output":{"shape":"CreateAccountLinkInvitationResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates the account link invitation.</p>"
    },
    "CreateConnectClientAddIn":{
      "name":"CreateConnectClientAddIn",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateConnectClientAddInRequest"},
      "output":{"shape":"CreateConnectClientAddInResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceCreationFailedException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a client-add-in for Amazon Connect within a directory. You can create only one Amazon Connect client add-in within a directory.</p> <p>This client add-in allows WorkSpaces users to seamlessly connect to Amazon Connect.</p>"
    },
    "CreateConnectionAlias":{
      "name":"CreateConnectionAlias",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateConnectionAliasRequest"},
      "output":{"shape":"CreateConnectionAliasResult"},
      "errors":[
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"InvalidResourceStateException"},
        {"shape":"OperationNotSupportedException"}
      ],
      "documentation":"<p>Creates the specified connection alias for use with cross-Region redirection. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/cross-region-redirection.html\"> Cross-Region Redirection for Amazon WorkSpaces</a>.</p>"
    },
    "CreateIpGroup":{
      "name":"CreateIpGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateIpGroupRequest"},
      "output":{"shape":"CreateIpGroupResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceCreationFailedException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates an IP access control group.</p> <p>An IP access control group provides you with the ability to control the IP addresses from which users are allowed to access their WorkSpaces. To specify the CIDR address ranges, add rules to your IP access control group and then associate the group with your directory. You can add rules when you create the group or at any time using <a>AuthorizeIpRules</a>.</p> <p>There is a default IP access control group associated with your directory. If you don't associate an IP access control group with your directory, the default group is used. The default group includes a default rule that allows users to access their WorkSpaces from anywhere. You cannot modify the default IP access control group for your directory.</p>"
    },
    "CreateStandbyWorkspaces":{
      "name":"CreateStandbyWorkspaces",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateStandbyWorkspacesRequest"},
      "output":{"shape":"CreateStandbyWorkspacesResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValuesException"},
        {"shape":"OperationNotSupportedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceLimitExceededException"}
      ],
      "documentation":"<p>Creates a standby WorkSpace in a secondary Region.</p>"
    },
    "CreateTags":{
      "name":"CreateTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTagsRequest"},
      "output":{"shape":"CreateTagsResult"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceLimitExceededException"}
      ],
      "documentation":"<p>Creates the specified tags for the specified WorkSpaces resource.</p>"
    },
    "CreateUpdatedWorkspaceImage":{
      "name":"CreateUpdatedWorkspaceImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateUpdatedWorkspaceImageRequest"},
      "output":{"shape":"CreateUpdatedWorkspaceImageResult"},
      "errors":[
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"OperationNotSupportedException"},
        {"shape":"InvalidResourceStateException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValuesException"}
      ],
      "documentation":"<p>Creates a new updated WorkSpace image based on the specified source image. The new updated WorkSpace image has the latest drivers and other updates required by the Amazon WorkSpaces components.</p> <p>To determine which WorkSpace images need to be updated with the latest Amazon WorkSpaces requirements, use <a href=\"https://docs.aws.amazon.com/workspaces/latest/api/API_DescribeWorkspaceImages.html\"> DescribeWorkspaceImages</a>.</p> <note> <ul> <li> <p>Only Windows 10, Windows Server 2016, and Windows Server 2019 WorkSpace images can be programmatically updated at this time.</p> </li> <li> <p>Microsoft Windows updates and other application updates are not included in the update process.</p> </li> <li> <p>The source WorkSpace image is not deleted. You can delete the source image after you've verified your new updated image and created a new bundle. </p> </li> </ul> </note>"
    },
    "CreateWorkspaceBundle":{
      "name":"CreateWorkspaceBundle",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateWorkspaceBundleRequest"},
      "output":{"shape":"CreateWorkspaceBundleResult"},
      "errors":[
        {"shape":"ResourceUnavailableException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates the specified WorkSpace bundle. For more information about creating WorkSpace bundles, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/create-custom-bundle.html\"> Create a Custom WorkSpaces Image and Bundle</a>.</p>"
    },
    "CreateWorkspaceImage":{
      "name":"CreateWorkspaceImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateWorkspaceImageRequest"},
      "output":{"shape":"CreateWorkspaceImageResult"},
      "errors":[
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"OperationNotSupportedException"},
        {"shape":"InvalidResourceStateException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValuesException"}
      ],
      "documentation":"<p>Creates a new WorkSpace image from an existing WorkSpace.</p>"
    },
    "CreateWorkspaces":{
      "name":"CreateWorkspaces",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateWorkspacesRequest"},
      "output":{"shape":"CreateWorkspacesResult"},
      "errors":[
        {"shape":"ResourceLimitExceededException"},
        {"shape":"InvalidParameterValuesException"}
      ],
      "documentation":"<p>Creates one or more WorkSpaces.</p> <p>This operation is asynchronous and returns before the WorkSpaces are created.</p> <note> <ul> <li> <p>The <code>MANUAL</code> running mode value is only supported by Amazon WorkSpaces Core. Contact your account team to be allow-listed to use this value. For more information, see <a href=\"http://aws.amazon.com/workspaces/core/\">Amazon WorkSpaces Core</a>.</p> </li> <li> <p>You don't need to specify the <code>PCOIP</code> protocol for Linux bundles because <code>DCV</code> (formerly WSP) is the default protocol for those bundles.</p> </li> <li> <p>User-decoupled WorkSpaces are only supported by Amazon WorkSpaces Core.</p> </li> <li> <p>Review your running mode to ensure you are using one that is optimal for your needs and budget. For more information on switching running modes, see <a href=\"http://aws.amazon.com/workspaces-family/workspaces/faqs/#:~:text=Can%20I%20switch%20between%20hourly%20and%20monthly%20billing%20on%20WorkSpaces%20Personal%3F\"> Can I switch between hourly and monthly billing?</a> </p> </li> </ul> </note>"
    },
    "CreateWorkspacesPool":{
      "name":"CreateWorkspacesPool",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateWorkspacesPoolRequest"},
      "output":{"shape":"CreateWorkspacesPoolResult"},
      "errors":[
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"OperationNotSupportedException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a pool of WorkSpaces.</p>"
    },
    "DeleteAccountLinkInvitation":{
      "name":"DeleteAccountLinkInvitation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAccountLinkInvitationRequest"},
      "output":{"shape":"DeleteAccountLinkInvitationResult"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes the account link invitation.</p>"
    },
    "DeleteClientBranding":{
      "name":"DeleteClientBranding",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteClientBrandingRequest"},
      "output":{"shape":"DeleteClientBrandingResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes customized client branding. Client branding allows you to customize your WorkSpace's client login portal. You can tailor your login portal company logo, the support email address, support link, link to reset password, and a custom message for users trying to sign in.</p> <p>After you delete your customized client branding, your login portal reverts to the default client branding.</p>"
    },
    "DeleteConnectClientAddIn":{
      "name":"DeleteConnectClientAddIn",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteConnectClientAddInRequest"},
      "output":{"shape":"DeleteConnectClientAddInResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a client-add-in for Amazon Connect that is configured within a directory.</p>"
    },
    "DeleteConnectionAlias":{
      "name":"DeleteConnectionAlias",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteConnectionAliasRequest"},
      "output":{"shape":"DeleteConnectionAliasResult"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceAssociatedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValuesException"},
        {"shape":"InvalidResourceStateException"},
        {"shape":"OperationNotSupportedException"}
      ],
      "documentation":"<p>Deletes the specified connection alias. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/cross-region-redirection.html\"> Cross-Region Redirection for Amazon WorkSpaces</a>.</p> <important> <p> <b>If you will no longer be using a fully qualified domain name (FQDN) as the registration code for your WorkSpaces users, you must take certain precautions to prevent potential security issues.</b> For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/cross-region-redirection.html#cross-region-redirection-security-considerations\"> Security Considerations if You Stop Using Cross-Region Redirection</a>.</p> </important> <note> <p>To delete a connection alias that has been shared, the shared account must first disassociate the connection alias from any directories it has been associated with. Then you must unshare the connection alias from the account it has been shared with. You can delete a connection alias only after it is no longer shared with any accounts or associated with any directories.</p> </note>"
    },
    "DeleteIpGroup":{
      "name":"DeleteIpGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteIpGroupRequest"},
      "output":{"shape":"DeleteIpGroupResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceAssociatedException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes the specified IP access control group.</p> <p>You cannot delete an IP access control group that is associated with a directory.</p>"
    },
    "DeleteTags":{
      "name":"DeleteTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTagsRequest"},
      "output":{"shape":"DeleteTagsResult"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValuesException"}
      ],
      "documentation":"<p>Deletes the specified tags from the specified WorkSpaces resource.</p>"
    },
    "DeleteWorkspaceBundle":{
      "name":"DeleteWorkspaceBundle",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteWorkspaceBundleRequest"},
      "output":{"shape":"DeleteWorkspaceBundleResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceAssociatedException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes the specified WorkSpace bundle. For more information about deleting WorkSpace bundles, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/delete_bundle.html\"> Delete a Custom WorkSpaces Bundle or Image</a>.</p>"
    },
    "DeleteWorkspaceImage":{
      "name":"DeleteWorkspaceImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteWorkspaceImageRequest"},
      "output":{"shape":"DeleteWorkspaceImageResult"},
      "errors":[
        {"shape":"ResourceAssociatedException"},
        {"shape":"InvalidResourceStateException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes the specified image from your account. To delete an image, you must first delete any bundles that are associated with the image and unshare the image if it is shared with other accounts. </p>"
    },
    "DeployWorkspaceApplications":{
      "name":"DeployWorkspaceApplications",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeployWorkspaceApplicationsRequest"},
      "output":{"shape":"DeployWorkspaceApplicationsResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValuesException"},
        {"shape":"OperationNotSupportedException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"IncompatibleApplicationsException"}
      ],
      "documentation":"<p>Deploys associated applications to the specified WorkSpace</p>"
    },
    "DeregisterWorkspaceDirectory":{
      "name":"DeregisterWorkspaceDirectory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterWorkspaceDirectoryRequest"},
      "output":{"shape":"DeregisterWorkspaceDirectoryResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValuesException"},
        {"shape":"OperationNotSupportedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidResourceStateException"}
      ],
      "documentation":"<p>Deregisters the specified directory. This operation is asynchronous and returns before the WorkSpace directory is deregistered. If any WorkSpaces are registered to this directory, you must remove them before you can deregister the directory.</p> <note> <p>Simple AD and AD Connector are made available to you free of charge to use with WorkSpaces. If there are no WorkSpaces being used with your Simple AD or AD Connector directory for 30 consecutive days, this directory will be automatically deregistered for use with Amazon WorkSpaces, and you will be charged for this directory as per the <a href=\"http://aws.amazon.com/directoryservice/pricing/\">Directory Service pricing terms</a>.</p> <p>To delete empty directories, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/delete-workspaces-directory.html\"> Delete the Directory for Your WorkSpaces</a>. If you delete your Simple AD or AD Connector directory, you can always create a new one when you want to start using WorkSpaces again.</p> </note>"
    },
    "DescribeAccount":{
      "name":"DescribeAccount",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAccountRequest"},
      "output":{"shape":"DescribeAccountResult"},
      "errors":[
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a list that describes the configuration of Bring Your Own License (BYOL) for the specified account.</p>"
    },
    "DescribeAccountModifications":{
      "name":"DescribeAccountModifications",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAccountModificationsRequest"},
      "output":{"shape":"DescribeAccountModificationsResult"},
      "errors":[
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a list that describes modifications to the configuration of Bring Your Own License (BYOL) for the specified account.</p>"
    },
    "DescribeApplicationAssociations":{
      "name":"DescribeApplicationAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeApplicationAssociationsRequest"},
      "output":{"shape":"DescribeApplicationAssociationsResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValuesException"},
        {"shape":"OperationNotSupportedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Describes the associations between the application and the specified associated resources.</p>"
    },
    "DescribeApplications":{
      "name":"DescribeApplications",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeApplicationsRequest"},
      "output":{"shape":"DescribeApplicationsResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValuesException"},
        {"shape":"OperationNotSupportedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Describes the specified applications by filtering based on their compute types, license availability, operating systems, and owners.</p>"
    },
    "DescribeBundleAssociations":{
      "name":"DescribeBundleAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeBundleAssociationsRequest"},
      "output":{"shape":"DescribeBundleAssociationsResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValuesException"},
        {"shape":"OperationNotSupportedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Describes the associations between the applications and the specified bundle.</p>"
    },
    "DescribeClientBranding":{
      "name":"DescribeClientBranding",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClientBrandingRequest"},
      "output":{"shape":"DescribeClientBrandingResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Describes the specified client branding. Client branding allows you to customize the log in page of various device types for your users. You can add your company logo, the support email address, support link, link to reset password, and a custom message for users trying to sign in.</p> <note> <p>Only device types that have branding information configured will be shown in the response.</p> </note>"
    },
    "DescribeClientProperties":{
      "name":"DescribeClientProperties",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeClientPropertiesRequest"},
      "output":{"shape":"DescribeClientPropertiesResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a list that describes one or more specified Amazon WorkSpaces clients.</p>"
    },
    "DescribeConnectClientAddIns":{
      "name":"DescribeConnectClientAddIns",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeConnectClientAddInsRequest"},
      "output":{"shape":"DescribeConnectClientAddInsResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a list of Amazon Connect client add-ins that have been created.</p>"
    },
    "DescribeConnectionAliasPermissions":{
      "name":"DescribeConnectionAliasPermissions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeConnectionAliasPermissionsRequest"},
      "output":{"shape":"DescribeConnectionAliasPermissionsResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"OperationNotSupportedException"}
      ],
      "documentation":"<p>Describes the permissions that the owner of a connection alias has granted to another Amazon Web Services account for the specified connection alias. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/cross-region-redirection.html\"> Cross-Region Redirection for Amazon WorkSpaces</a>.</p>"
    },
    "DescribeConnectionAliases":{
      "name":"DescribeConnectionAliases",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeConnectionAliasesRequest"},
      "output":{"shape":"DescribeConnectionAliasesResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValuesException"},
        {"shape":"OperationNotSupportedException"}
      ],
      "documentation":"<p>Retrieves a list that describes the connection aliases used for cross-Region redirection. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/cross-region-redirection.html\"> Cross-Region Redirection for Amazon WorkSpaces</a>.</p>"
    },
    "DescribeCustomWorkspaceImageImport":{
      "name":"DescribeCustomWorkspaceImageImport",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCustomWorkspaceImageImportRequest"},
      "output":{"shape":"DescribeCustomWorkspaceImageImportResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves information about a WorkSpace BYOL image being imported via ImportCustomWorkspaceImage.</p>"
    },
    "DescribeImageAssociations":{
      "name":"DescribeImageAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeImageAssociationsRequest"},
      "output":{"shape":"DescribeImageAssociationsResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValuesException"},
        {"shape":"OperationNotSupportedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Describes the associations between the applications and the specified image.</p>"
    },
    "DescribeIpGroups":{
      "name":"DescribeIpGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeIpGroupsRequest"},
      "output":{"shape":"DescribeIpGroupsResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Describes one or more of your IP access control groups.</p>"
    },
    "DescribeTags":{
      "name":"DescribeTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTagsRequest"},
      "output":{"shape":"DescribeTagsResult"},
      "errors":[
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Describes the specified tags for the specified WorkSpaces resource.</p>"
    },
    "DescribeWorkspaceAssociations":{
      "name":"DescribeWorkspaceAssociations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeWorkspaceAssociationsRequest"},
      "output":{"shape":"DescribeWorkspaceAssociationsResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValuesException"},
        {"shape":"OperationNotSupportedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Describes the associations betweens applications and the specified WorkSpace.</p>"
    },
    "DescribeWorkspaceBundles":{
      "name":"DescribeWorkspaceBundles",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeWorkspaceBundlesRequest"},
      "output":{"shape":"DescribeWorkspaceBundlesResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"}
      ],
      "documentation":"<p>Retrieves a list that describes the available WorkSpace bundles.</p> <p>You can filter the results using either bundle ID or owner, but not both.</p>"
    },
    "DescribeWorkspaceDirectories":{
      "name":"DescribeWorkspaceDirectories",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeWorkspaceDirectoriesRequest"},
      "output":{"shape":"DescribeWorkspaceDirectoriesResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"}
      ],
      "documentation":"<p>Describes the available directories that are registered with Amazon WorkSpaces.</p>"
    },
    "DescribeWorkspaceImagePermissions":{
      "name":"DescribeWorkspaceImagePermissions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeWorkspaceImagePermissionsRequest"},
      "output":{"shape":"DescribeWorkspaceImagePermissionsResult"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValuesException"}
      ],
      "documentation":"<p>Describes the permissions that the owner of an image has granted to other Amazon Web Services accounts for an image.</p>"
    },
    "DescribeWorkspaceImages":{
      "name":"DescribeWorkspaceImages",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeWorkspaceImagesRequest"},
      "output":{"shape":"DescribeWorkspaceImagesResult"},
      "errors":[
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a list that describes one or more specified images, if the image identifiers are provided. Otherwise, all images in the account are described. </p>"
    },
    "DescribeWorkspaceSnapshots":{
      "name":"DescribeWorkspaceSnapshots",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeWorkspaceSnapshotsRequest"},
      "output":{"shape":"DescribeWorkspaceSnapshotsResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Describes the snapshots for the specified WorkSpace.</p>"
    },
    "DescribeWorkspaces":{
      "name":"DescribeWorkspaces",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeWorkspacesRequest"},
      "output":{"shape":"DescribeWorkspacesResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Describes the specified WorkSpaces.</p> <p>You can filter the results by using the bundle identifier, directory identifier, or owner, but you can specify only one filter at a time.</p>"
    },
    "DescribeWorkspacesConnectionStatus":{
      "name":"DescribeWorkspacesConnectionStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeWorkspacesConnectionStatusRequest"},
      "output":{"shape":"DescribeWorkspacesConnectionStatusResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"}
      ],
      "documentation":"<p>Describes the connection status of the specified WorkSpaces.</p>"
    },
    "DescribeWorkspacesPoolSessions":{
      "name":"DescribeWorkspacesPoolSessions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeWorkspacesPoolSessionsRequest"},
      "output":{"shape":"DescribeWorkspacesPoolSessionsResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a list that describes the streaming sessions for a specified pool.</p>"
    },
    "DescribeWorkspacesPools":{
      "name":"DescribeWorkspacesPools",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeWorkspacesPoolsRequest"},
      "output":{"shape":"DescribeWorkspacesPoolsResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Describes the specified WorkSpaces Pools.</p>"
    },
    "DisassociateConnectionAlias":{
      "name":"DisassociateConnectionAlias",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateConnectionAliasRequest"},
      "output":{"shape":"DisassociateConnectionAliasResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValuesException"},
        {"shape":"InvalidResourceStateException"},
        {"shape":"OperationNotSupportedException"}
      ],
      "documentation":"<p>Disassociates a connection alias from a directory. Disassociating a connection alias disables cross-Region redirection between two directories in different Regions. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/cross-region-redirection.html\"> Cross-Region Redirection for Amazon WorkSpaces</a>.</p> <note> <p>Before performing this operation, call <a href=\"https://docs.aws.amazon.com/workspaces/latest/api/API_DescribeConnectionAliases.html\"> DescribeConnectionAliases</a> to make sure that the current state of the connection alias is <code>CREATED</code>.</p> </note>"
    },
    "DisassociateIpGroups":{
      "name":"DisassociateIpGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateIpGroupsRequest"},
      "output":{"shape":"DisassociateIpGroupsResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidResourceStateException"},
        {"shape":"AccessDeniedException"},
        {"shape":"OperationNotSupportedException"}
      ],
      "documentation":"<p>Disassociates the specified IP access control group from the specified directory.</p>"
    },
    "DisassociateWorkspaceApplication":{
      "name":"DisassociateWorkspaceApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateWorkspaceApplicationRequest"},
      "output":{"shape":"DisassociateWorkspaceApplicationResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValuesException"},
        {"shape":"OperationNotSupportedException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Disassociates the specified application from a WorkSpace.</p>"
    },
    "GetAccountLink":{
      "name":"GetAccountLink",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAccountLinkRequest"},
      "output":{"shape":"GetAccountLinkResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves account link information.</p>"
    },
    "ImportClientBranding":{
      "name":"ImportClientBranding",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ImportClientBrandingRequest"},
      "output":{"shape":"ImportClientBrandingResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Imports client branding. Client branding allows you to customize your WorkSpace's client login portal. You can tailor your login portal company logo, the support email address, support link, link to reset password, and a custom message for users trying to sign in.</p> <p>After you import client branding, the default branding experience for the specified platform type is replaced with the imported experience</p> <note> <ul> <li> <p>You must specify at least one platform type when importing client branding.</p> </li> <li> <p>You can import up to 6 MB of data with each request. If your request exceeds this limit, you can import client branding for different platform types using separate requests.</p> </li> <li> <p>In each platform type, the <code>SupportEmail</code> and <code>SupportLink</code> parameters are mutually exclusive. You can specify only one parameter for each platform type, but not both.</p> </li> <li> <p>Imported data can take up to a minute to appear in the WorkSpaces client.</p> </li> </ul> </note>"
    },
    "ImportCustomWorkspaceImage":{
      "name":"ImportCustomWorkspaceImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ImportCustomWorkspaceImageRequest"},
      "output":{"shape":"ImportCustomWorkspaceImageResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValuesException"},
        {"shape":"OperationNotSupportedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceLimitExceededException"}
      ],
      "documentation":"<p>Imports the specified Windows 10 or 11 Bring Your Own License (BYOL) image into Amazon WorkSpaces using EC2 Image Builder. The image must be an already licensed image that is in your Amazon Web Services account, and you must own the image. For more information about creating BYOL images, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/byol-windows-images.html\"> Bring Your Own Windows Desktop Licenses</a>. </p>"
    },
    "ImportWorkspaceImage":{
      "name":"ImportWorkspaceImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ImportWorkspaceImageRequest"},
      "output":{"shape":"ImportWorkspaceImageResult"},
      "errors":[
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"OperationNotSupportedException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValuesException"}
      ],
      "documentation":"<p>Imports the specified Windows 10 or 11 Bring Your Own License (BYOL) image into Amazon WorkSpaces. The image must be an already licensed Amazon EC2 image that is in your Amazon Web Services account, and you must own the image. For more information about creating BYOL images, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/byol-windows-images.html\"> Bring Your Own Windows Desktop Licenses</a>.</p>"
    },
    "ListAccountLinks":{
      "name":"ListAccountLinks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAccountLinksRequest"},
      "output":{"shape":"ListAccountLinksResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists all account links.</p>"
    },
    "ListAvailableManagementCidrRanges":{
      "name":"ListAvailableManagementCidrRanges",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAvailableManagementCidrRangesRequest"},
      "output":{"shape":"ListAvailableManagementCidrRangesResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves a list of IP address ranges, specified as IPv4 CIDR blocks, that you can use for the network management interface when you enable Bring Your Own License (BYOL). </p> <p>This operation can be run only by Amazon Web Services accounts that are enabled for BYOL. If your account isn't enabled for BYOL, you'll receive an <code>AccessDeniedException</code> error.</p> <p>The management network interface is connected to a secure Amazon WorkSpaces management network. It is used for interactive streaming of the WorkSpace desktop to Amazon WorkSpaces clients, and to allow Amazon WorkSpaces to manage the WorkSpace.</p>"
    },
    "MigrateWorkspace":{
      "name":"MigrateWorkspace",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"MigrateWorkspaceRequest"},
      "output":{"shape":"MigrateWorkspaceResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"OperationNotSupportedException"},
        {"shape":"OperationInProgressException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Migrates a WorkSpace from one operating system or bundle type to another, while retaining the data on the user volume.</p> <p>The migration process recreates the WorkSpace by using a new root volume from the target bundle image and the user volume from the last available snapshot of the original WorkSpace. During migration, the original <code>D:\\Users\\%USERNAME%</code> user profile folder is renamed to <code>D:\\Users\\%USERNAME%MMddyyTHHmmss%.NotMigrated</code>. A new <code>D:\\Users\\%USERNAME%\\</code> folder is generated by the new OS. Certain files in the old user profile are moved to the new user profile.</p> <p>For available migration scenarios, details about what happens during migration, and best practices, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/migrate-workspaces.html\">Migrate a WorkSpace</a>.</p>"
    },
    "ModifyAccount":{
      "name":"ModifyAccount",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyAccountRequest"},
      "output":{"shape":"ModifyAccountResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidResourceStateException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Modifies the configuration of Bring Your Own License (BYOL) for the specified account.</p>"
    },
    "ModifyCertificateBasedAuthProperties":{
      "name":"ModifyCertificateBasedAuthProperties",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyCertificateBasedAuthPropertiesRequest"},
      "output":{"shape":"ModifyCertificateBasedAuthPropertiesResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValuesException"},
        {"shape":"OperationNotSupportedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Modifies the properties of the certificate-based authentication you want to use with your WorkSpaces.</p>"
    },
    "ModifyClientProperties":{
      "name":"ModifyClientProperties",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyClientPropertiesRequest"},
      "output":{"shape":"ModifyClientPropertiesResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"OperationNotSupportedException"}
      ],
      "documentation":"<p>Modifies the properties of the specified Amazon WorkSpaces clients.</p>"
    },
    "ModifyEndpointEncryptionMode":{
      "name":"ModifyEndpointEncryptionMode",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyEndpointEncryptionModeRequest"},
      "output":{"shape":"ModifyEndpointEncryptionModeResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"OperationNotSupportedException"}
      ],
      "documentation":"<p>Modifies the endpoint encryption mode that allows you to configure the specified directory between Standard TLS and FIPS 140-2 validated mode. </p>"
    },
    "ModifySamlProperties":{
      "name":"ModifySamlProperties",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifySamlPropertiesRequest"},
      "output":{"shape":"ModifySamlPropertiesResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValuesException"},
        {"shape":"OperationNotSupportedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Modifies multiple properties related to SAML 2.0 authentication, including the enablement status, user access URL, and relay state parameter name that are used for configuring federation with an SAML 2.0 identity provider.</p>"
    },
    "ModifySelfservicePermissions":{
      "name":"ModifySelfservicePermissions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifySelfservicePermissionsRequest"},
      "output":{"shape":"ModifySelfservicePermissionsResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"OperationNotSupportedException"}
      ],
      "documentation":"<p>Modifies the self-service WorkSpace management capabilities for your users. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/enable-user-self-service-workspace-management.html\">Enable Self-Service WorkSpace Management Capabilities for Your Users</a>.</p>"
    },
    "ModifyStreamingProperties":{
      "name":"ModifyStreamingProperties",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyStreamingPropertiesRequest"},
      "output":{"shape":"ModifyStreamingPropertiesResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"OperationNotSupportedException"}
      ],
      "documentation":"<p>Modifies the specified streaming properties.</p>"
    },
    "ModifyWorkspaceAccessProperties":{
      "name":"ModifyWorkspaceAccessProperties",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyWorkspaceAccessPropertiesRequest"},
      "output":{"shape":"ModifyWorkspaceAccessPropertiesResult"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValuesException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"OperationNotSupportedException"}
      ],
      "documentation":"<p>Specifies which devices and operating systems users can use to access their WorkSpaces. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/update-directory-details.html#control-device-access\"> Control Device Access</a>.</p>"
    },
    "ModifyWorkspaceCreationProperties":{
      "name":"ModifyWorkspaceCreationProperties",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyWorkspaceCreationPropertiesRequest"},
      "output":{"shape":"ModifyWorkspaceCreationPropertiesResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"OperationNotSupportedException"}
      ],
      "documentation":"<p>Modify the default properties used to create WorkSpaces.</p>"
    },
    "ModifyWorkspaceProperties":{
      "name":"ModifyWorkspaceProperties",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyWorkspacePropertiesRequest"},
      "output":{"shape":"ModifyWorkspacePropertiesResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"InvalidResourceStateException"},
        {"shape":"OperationInProgressException"},
        {"shape":"UnsupportedWorkspaceConfigurationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceUnavailableException"}
      ],
      "documentation":"<p>Modifies the specified WorkSpace properties. For important information about how to modify the size of the root and user volumes, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/modify-workspaces.html\"> Modify a WorkSpace</a>. </p> <note> <p>The <code>MANUAL</code> running mode value is only supported by Amazon WorkSpaces Core. Contact your account team to be allow-listed to use this value. For more information, see <a href=\"http://aws.amazon.com/workspaces/core/\">Amazon WorkSpaces Core</a>.</p> </note>"
    },
    "ModifyWorkspaceState":{
      "name":"ModifyWorkspaceState",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ModifyWorkspaceStateRequest"},
      "output":{"shape":"ModifyWorkspaceStateResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"InvalidResourceStateException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"OperationNotSupportedException"}
      ],
      "documentation":"<p>Sets the state of the specified WorkSpace.</p> <p>To maintain a WorkSpace without being interrupted, set the WorkSpace state to <code>ADMIN_MAINTENANCE</code>. WorkSpaces in this state do not respond to requests to reboot, stop, start, rebuild, or restore. An AutoStop WorkSpace in this state is not stopped. Users cannot log into a WorkSpace in the <code>ADMIN_MAINTENANCE</code> state.</p>"
    },
    "RebootWorkspaces":{
      "name":"RebootWorkspaces",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RebootWorkspacesRequest"},
      "output":{"shape":"RebootWorkspacesResult"},
      "errors":[
        {"shape":"OperationNotSupportedException"}
      ],
      "documentation":"<p>Reboots the specified WorkSpaces.</p> <p>You cannot reboot a WorkSpace unless its state is <code>AVAILABLE</code>, <code>UNHEALTHY</code>, or <code>REBOOTING</code>. Reboot a WorkSpace in the <code>REBOOTING</code> state only if your WorkSpace has been stuck in the <code>REBOOTING</code> state for over 20 minutes.</p> <p>This operation is asynchronous and returns before the WorkSpaces have rebooted.</p>"
    },
    "RebuildWorkspaces":{
      "name":"RebuildWorkspaces",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RebuildWorkspacesRequest"},
      "output":{"shape":"RebuildWorkspacesResult"},
      "errors":[
        {"shape":"OperationNotSupportedException"}
      ],
      "documentation":"<p>Rebuilds the specified WorkSpace.</p> <p>You cannot rebuild a WorkSpace unless its state is <code>AVAILABLE</code>, <code>ERROR</code>, <code>UNHEALTHY</code>, <code>STOPPED</code>, or <code>REBOOTING</code>.</p> <p>Rebuilding a WorkSpace is a potentially destructive action that can result in the loss of data. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/reset-workspace.html\">Rebuild a WorkSpace</a>.</p> <p>This operation is asynchronous and returns before the WorkSpaces have been completely rebuilt.</p>"
    },
    "RegisterWorkspaceDirectory":{
      "name":"RegisterWorkspaceDirectory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterWorkspaceDirectoryRequest"},
      "output":{"shape":"RegisterWorkspaceDirectoryResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"WorkspacesDefaultRoleNotFoundException"},
        {"shape":"InvalidResourceStateException"},
        {"shape":"UnsupportedNetworkConfigurationException"},
        {"shape":"OperationNotSupportedException"},
        {"shape":"ResourceAlreadyExistsException"}
      ],
      "documentation":"<p>Registers the specified directory. This operation is asynchronous and returns before the WorkSpace directory is registered. If this is the first time you are registering a directory, you will need to create the workspaces_DefaultRole role before you can register a directory. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/workspaces-access-control.html#create-default-role\"> Creating the workspaces_DefaultRole Role</a>.</p>"
    },
    "RejectAccountLinkInvitation":{
      "name":"RejectAccountLinkInvitation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RejectAccountLinkInvitationRequest"},
      "output":{"shape":"RejectAccountLinkInvitationResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Rejects the account link invitation.</p>"
    },
    "RestoreWorkspace":{
      "name":"RestoreWorkspace",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RestoreWorkspaceRequest"},
      "output":{"shape":"RestoreWorkspaceResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"OperationNotSupportedException"}
      ],
      "documentation":"<p>Restores the specified WorkSpace to its last known healthy state.</p> <p>You cannot restore a WorkSpace unless its state is <code> AVAILABLE</code>, <code>ERROR</code>, <code>UNHEALTHY</code>, or <code>STOPPED</code>.</p> <p>Restoring a WorkSpace is a potentially destructive action that can result in the loss of data. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/restore-workspace.html\">Restore a WorkSpace</a>.</p> <p>This operation is asynchronous and returns before the WorkSpace is completely restored.</p>"
    },
    "RevokeIpRules":{
      "name":"RevokeIpRules",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RevokeIpRulesRequest"},
      "output":{"shape":"RevokeIpRulesResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidResourceStateException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Removes one or more rules from the specified IP access control group.</p>"
    },
    "StartWorkspaces":{
      "name":"StartWorkspaces",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartWorkspacesRequest"},
      "output":{"shape":"StartWorkspacesResult"},
      "documentation":"<p>Starts the specified WorkSpaces.</p> <p>You cannot start a WorkSpace unless it has a running mode of <code>AutoStop</code> or <code>Manual</code> and a state of <code>STOPPED</code>.</p>"
    },
    "StartWorkspacesPool":{
      "name":"StartWorkspacesPool",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartWorkspacesPoolRequest"},
      "output":{"shape":"StartWorkspacesPoolResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"InvalidResourceStateException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"OperationNotSupportedException"},
        {"shape":"OperationInProgressException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Starts the specified pool.</p> <p>You cannot start a pool unless it has a running mode of <code>AutoStop</code> and a state of <code>STOPPED</code>.</p>"
    },
    "StopWorkspaces":{
      "name":"StopWorkspaces",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopWorkspacesRequest"},
      "output":{"shape":"StopWorkspacesResult"},
      "documentation":"<p>Stops the specified WorkSpaces.</p> <p>You cannot stop a WorkSpace unless it has a running mode of <code>AutoStop</code> or <code>Manual</code> and a state of <code>AVAILABLE</code>, <code>IMPAIRED</code>, <code>UNHEALTHY</code>, or <code>ERROR</code>.</p>"
    },
    "StopWorkspacesPool":{
      "name":"StopWorkspacesPool",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopWorkspacesPoolRequest"},
      "output":{"shape":"StopWorkspacesPoolResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"InvalidResourceStateException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"OperationInProgressException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Stops the specified pool.</p> <p>You cannot stop a WorkSpace pool unless it has a running mode of <code>AutoStop</code> and a state of <code>AVAILABLE</code>, <code>IMPAIRED</code>, <code>UNHEALTHY</code>, or <code>ERROR</code>.</p>"
    },
    "TerminateWorkspaces":{
      "name":"TerminateWorkspaces",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TerminateWorkspacesRequest"},
      "output":{"shape":"TerminateWorkspacesResult"},
      "documentation":"<p>Terminates the specified WorkSpaces.</p> <important> <p>Terminating a WorkSpace is a permanent action and cannot be undone. The user's data is destroyed. If you need to archive any user data, contact Amazon Web ServicesSupport before terminating the WorkSpace.</p> </important> <p>You can terminate a WorkSpace that is in any state except <code>SUSPENDED</code>.</p> <p>This operation is asynchronous and returns before the WorkSpaces have been completely terminated. After a WorkSpace is terminated, the <code>TERMINATED</code> state is returned only briefly before the WorkSpace directory metadata is cleaned up, so this state is rarely returned. To confirm that a WorkSpace is terminated, check for the WorkSpace ID by using <a href=\"https://docs.aws.amazon.com/workspaces/latest/api/API_DescribeWorkspaces.html\"> DescribeWorkSpaces</a>. If the WorkSpace ID isn't returned, then the WorkSpace has been successfully terminated.</p> <note> <p>Simple AD and AD Connector are made available to you free of charge to use with WorkSpaces. If there are no WorkSpaces being used with your Simple AD or AD Connector directory for 30 consecutive days, this directory will be automatically deregistered for use with Amazon WorkSpaces, and you will be charged for this directory as per the <a href=\"http://aws.amazon.com/directoryservice/pricing/\">Directory Service pricing terms</a>.</p> <p>To delete empty directories, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/delete-workspaces-directory.html\"> Delete the Directory for Your WorkSpaces</a>. If you delete your Simple AD or AD Connector directory, you can always create a new one when you want to start using WorkSpaces again.</p> </note>"
    },
    "TerminateWorkspacesPool":{
      "name":"TerminateWorkspacesPool",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TerminateWorkspacesPoolRequest"},
      "output":{"shape":"TerminateWorkspacesPoolResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"InvalidResourceStateException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"OperationInProgressException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Terminates the specified pool.</p>"
    },
    "TerminateWorkspacesPoolSession":{
      "name":"TerminateWorkspacesPoolSession",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TerminateWorkspacesPoolSessionRequest"},
      "output":{"shape":"TerminateWorkspacesPoolSessionResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"OperationNotSupportedException"},
        {"shape":"OperationInProgressException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Terminates the pool session.</p>"
    },
    "UpdateConnectClientAddIn":{
      "name":"UpdateConnectClientAddIn",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateConnectClientAddInRequest"},
      "output":{"shape":"UpdateConnectClientAddInResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates a Amazon Connect client add-in. Use this action to update the name and endpoint URL of a Amazon Connect client add-in.</p>"
    },
    "UpdateConnectionAliasPermission":{
      "name":"UpdateConnectionAliasPermission",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateConnectionAliasPermissionRequest"},
      "output":{"shape":"UpdateConnectionAliasPermissionResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceAssociatedException"},
        {"shape":"InvalidResourceStateException"},
        {"shape":"OperationNotSupportedException"}
      ],
      "documentation":"<p>Shares or unshares a connection alias with one account by specifying whether that account has permission to associate the connection alias with a directory. If the association permission is granted, the connection alias is shared with that account. If the association permission is revoked, the connection alias is unshared with the account. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/cross-region-redirection.html\"> Cross-Region Redirection for Amazon WorkSpaces</a>.</p> <note> <ul> <li> <p>Before performing this operation, call <a href=\"https://docs.aws.amazon.com/workspaces/latest/api/API_DescribeConnectionAliases.html\"> DescribeConnectionAliases</a> to make sure that the current state of the connection alias is <code>CREATED</code>.</p> </li> <li> <p>To delete a connection alias that has been shared, the shared account must first disassociate the connection alias from any directories it has been associated with. Then you must unshare the connection alias from the account it has been shared with. You can delete a connection alias only after it is no longer shared with any accounts or associated with any directories.</p> </li> </ul> </note>"
    },
    "UpdateRulesOfIpGroup":{
      "name":"UpdateRulesOfIpGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateRulesOfIpGroupRequest"},
      "output":{"shape":"UpdateRulesOfIpGroupResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"InvalidResourceStateException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Replaces the current rules of the specified IP access control group with the specified rules.</p>"
    },
    "UpdateWorkspaceBundle":{
      "name":"UpdateWorkspaceBundle",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateWorkspaceBundleRequest"},
      "output":{"shape":"UpdateWorkspaceBundleResult"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValuesException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"OperationNotSupportedException"}
      ],
      "documentation":"<p>Updates a WorkSpace bundle with a new image. For more information about updating WorkSpace bundles, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/update-custom-bundle.html\"> Update a Custom WorkSpaces Bundle</a>.</p> <important> <p>Existing WorkSpaces aren't automatically updated when you update the bundle that they're based on. To update existing WorkSpaces that are based on a bundle that you've updated, you must either rebuild the WorkSpaces or delete and recreate them.</p> </important>"
    },
    "UpdateWorkspaceImagePermission":{
      "name":"UpdateWorkspaceImagePermission",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateWorkspaceImagePermissionRequest"},
      "output":{"shape":"UpdateWorkspaceImagePermissionResult"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidParameterValuesException"},
        {"shape":"OperationNotSupportedException"}
      ],
      "documentation":"<p>Shares or unshares an image with one account in the same Amazon Web Services Region by specifying whether that account has permission to copy the image. If the copy image permission is granted, the image is shared with that account. If the copy image permission is revoked, the image is unshared with the account.</p> <p>After an image has been shared, the recipient account can copy the image to other Regions as needed.</p> <p>In the China (Ningxia) Region, you can copy images only within the same Region.</p> <p>In Amazon Web Services GovCloud (US), to copy images to and from other Regions, contact Amazon Web ServicesSupport.</p> <p>For more information about sharing images, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/share-custom-image.html\"> Share or Unshare a Custom WorkSpaces Image</a>.</p> <note> <ul> <li> <p>To delete an image that has been shared, you must unshare the image before you delete it.</p> </li> <li> <p>Sharing Bring Your Own License (BYOL) images across Amazon Web Services accounts isn't supported at this time in Amazon Web Services GovCloud (US). To share BYOL images across accounts in Amazon Web Services GovCloud (US), contact Amazon Web ServicesSupport.</p> </li> </ul> </note>"
    },
    "UpdateWorkspacesPool":{
      "name":"UpdateWorkspacesPool",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateWorkspacesPoolRequest"},
      "output":{"shape":"UpdateWorkspacesPoolResult"},
      "errors":[
        {"shape":"InvalidParameterValuesException"},
        {"shape":"InvalidResourceStateException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"OperationNotSupportedException"},
        {"shape":"OperationInProgressException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates the specified pool.</p>"
    }
  },
  "shapes":{
    "AGAModeForDirectoryEnum":{
      "type":"string",
      "enum":[
        "ENABLED_AUTO",
        "DISABLED"
      ]
    },
    "AGAModeForWorkSpaceEnum":{
      "type":"string",
      "enum":[
        "ENABLED_AUTO",
        "DISABLED",
        "INHERITED"
      ]
    },
    "AGAPreferredProtocolForDirectory":{
      "type":"string",
      "enum":[
        "TCP",
        "NONE"
      ]
    },
    "AGAPreferredProtocolForWorkSpace":{
      "type":"string",
      "enum":[
        "TCP",
        "NONE",
        "INHERITED"
      ]
    },
    "ARN":{
      "type":"string",
      "pattern":"^arn:aws[a-z-]{0,7}:[A-Za-z0-9][A-za-z0-9_/.-]{0,62}:[A-za-z0-9_/.-]{0,63}:[A-za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-Za-z0-9:_/+=,@.\\\\-]{0,1023}$"
    },
    "AcceptAccountLinkInvitationRequest":{
      "type":"structure",
      "required":["LinkId"],
      "members":{
        "LinkId":{
          "shape":"LinkId",
          "documentation":"<p>The identifier of the account link.</p>"
        },
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A string of up to 64 ASCII characters that Amazon WorkSpaces uses to ensure idempotent creation.</p>"
        }
      }
    },
    "AcceptAccountLinkInvitationResult":{
      "type":"structure",
      "members":{
        "AccountLink":{
          "shape":"AccountLink",
          "documentation":"<p>Information about the account link.</p>"
        }
      }
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ExceptionMessage"}
      },
      "documentation":"<p>The user is not authorized to access a resource.</p>",
      "exception":true
    },
    "AccessEndpoint":{
      "type":"structure",
      "members":{
        "AccessEndpointType":{
          "shape":"AccessEndpointType",
          "documentation":"<p>Indicates the type of access endpoint.</p>"
        },
        "VpcEndpointId":{
          "shape":"AlphanumericDashUnderscoreNonEmptyString",
          "documentation":"<p>Indicates the VPC endpoint to use for access.</p>"
        }
      },
      "documentation":"<p>Describes the access type and endpoint for a WorkSpace.</p>"
    },
    "AccessEndpointConfig":{
      "type":"structure",
      "required":["AccessEndpoints"],
      "members":{
        "AccessEndpoints":{
          "shape":"AccessEndpointList",
          "documentation":"<p>Indicates a list of access endpoints associated with this directory.</p>"
        },
        "InternetFallbackProtocols":{
          "shape":"InternetFallbackProtocolList",
          "documentation":"<p>Indicates a list of protocols that fallback to using the public Internet when streaming over a VPC endpoint is not available.</p>"
        }
      },
      "documentation":"<p>Describes the access endpoint configuration for a WorkSpace.</p>"
    },
    "AccessEndpointList":{
      "type":"list",
      "member":{"shape":"AccessEndpoint"}
    },
    "AccessEndpointType":{
      "type":"string",
      "enum":["STREAMING_WSP"]
    },
    "AccessPropertyValue":{
      "type":"string",
      "enum":[
        "ALLOW",
        "DENY"
      ]
    },
    "AccountLink":{
      "type":"structure",
      "members":{
        "AccountLinkId":{
          "shape":"LinkId",
          "documentation":"<p>The identifier of the account link.</p>"
        },
        "AccountLinkStatus":{
          "shape":"AccountLinkStatusEnum",
          "documentation":"<p>The status of the account link.</p>"
        },
        "SourceAccountId":{
          "shape":"AwsAccount",
          "documentation":"<p>The identifier of the source account.</p>"
        },
        "TargetAccountId":{
          "shape":"AwsAccount",
          "documentation":"<p>The identifier of the target account.</p>"
        }
      },
      "documentation":"<p>Information about about the account link.</p>"
    },
    "AccountLinkList":{
      "type":"list",
      "member":{"shape":"AccountLink"}
    },
    "AccountLinkStatusEnum":{
      "type":"string",
      "enum":[
        "LINKED",
        "LINKING_FAILED",
        "LINK_NOT_FOUND",
        "PENDING_ACCEPTANCE_BY_TARGET_ACCOUNT",
        "REJECTED"
      ]
    },
    "AccountModification":{
      "type":"structure",
      "members":{
        "ModificationState":{
          "shape":"DedicatedTenancyModificationStateEnum",
          "documentation":"<p>The state of the modification to the configuration of BYOL.</p>"
        },
        "DedicatedTenancySupport":{
          "shape":"DedicatedTenancySupportResultEnum",
          "documentation":"<p>The status of BYOL (whether BYOL is being enabled or disabled).</p>"
        },
        "DedicatedTenancyManagementCidrRange":{
          "shape":"DedicatedTenancyManagementCidrRange",
          "documentation":"<p>The IP address range, specified as an IPv4 CIDR block, for the management network interface used for the account.</p>"
        },
        "StartTime":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp when the modification of the BYOL configuration was started.</p>"
        },
        "ErrorCode":{
          "shape":"WorkspaceErrorCode",
          "documentation":"<p>The error code that is returned if the configuration of BYOL cannot be modified.</p>"
        },
        "ErrorMessage":{
          "shape":"Description",
          "documentation":"<p>The text of the error message that is returned if the configuration of BYOL cannot be modified.</p>"
        }
      },
      "documentation":"<p>Describes a modification to the configuration of Bring Your Own License (BYOL) for the specified account. </p>"
    },
    "AccountModificationList":{
      "type":"list",
      "member":{"shape":"AccountModification"}
    },
    "ActiveDirectoryConfig":{
      "type":"structure",
      "required":[
        "DomainName",
        "ServiceAccountSecretArn"
      ],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of the domain.</p>"
        },
        "ServiceAccountSecretArn":{
          "shape":"SecretsManagerArn",
          "documentation":"<p>Indicates the secret ARN on the service account.</p>"
        }
      },
      "documentation":"<p>Information about the Active Directory config.</p>"
    },
    "ActiveUserSessions":{
      "type":"integer",
      "min":0
    },
    "ActualUserSessions":{
      "type":"integer",
      "min":0
    },
    "AddInName":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"^.*$"
    },
    "AddInUrl":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"^(http|https)\\://\\S+"
    },
    "Alias":{"type":"string"},
    "AlphanumericDashUnderscoreNonEmptyString":{
      "type":"string",
      "pattern":"^[a-zA-Z0-9\\_\\-]{1,1000}$"
    },
    "AmazonUuid":{
      "type":"string",
      "max":36,
      "min":36,
      "pattern":"[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"
    },
    "Application":{
      "type":"string",
      "enum":[
        "Microsoft_Office_2016",
        "Microsoft_Office_2019"
      ]
    },
    "ApplicationAssociatedResourceType":{
      "type":"string",
      "enum":[
        "WORKSPACE",
        "BUNDLE",
        "IMAGE"
      ]
    },
    "ApplicationAssociatedResourceTypeList":{
      "type":"list",
      "member":{"shape":"ApplicationAssociatedResourceType"}
    },
    "ApplicationList":{
      "type":"list",
      "member":{"shape":"Application"},
      "max":5,
      "min":1
    },
    "ApplicationNotSupportedException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The specified application is not supported.</p>",
      "exception":true
    },
    "ApplicationResourceAssociation":{
      "type":"structure",
      "members":{
        "ApplicationId":{
          "shape":"WorkSpaceApplicationId",
          "documentation":"<p>The identifier of the application.</p>"
        },
        "AssociatedResourceId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The identifier of the associated resource.</p>"
        },
        "AssociatedResourceType":{
          "shape":"ApplicationAssociatedResourceType",
          "documentation":"<p>The resource type of the associated resource.</p>"
        },
        "Created":{
          "shape":"Timestamp",
          "documentation":"<p>The time the association was created.</p>"
        },
        "LastUpdatedTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time the association status was last updated.</p>"
        },
        "State":{
          "shape":"AssociationState",
          "documentation":"<p>The status of the application resource association.</p>"
        },
        "StateReason":{
          "shape":"AssociationStateReason",
          "documentation":"<p>The reason the association deployment failed.</p>"
        }
      },
      "documentation":"<p>Describes the association between an application and an application resource.</p>"
    },
    "ApplicationResourceAssociationList":{
      "type":"list",
      "member":{"shape":"ApplicationResourceAssociation"}
    },
    "ApplicationSettingsRequest":{
      "type":"structure",
      "required":["Status"],
      "members":{
        "Status":{
          "shape":"ApplicationSettingsStatusEnum",
          "documentation":"<p>Enables or disables persistent application settings for users during their pool sessions.</p>"
        },
        "SettingsGroup":{
          "shape":"SettingsGroup",
          "documentation":"<p>The path prefix for the S3 bucket where users’ persistent application settings are stored. You can allow the same persistent application settings to be used across multiple pools by specifying the same settings group for each pool.</p>"
        }
      },
      "documentation":"<p>The persistent application settings for WorkSpaces Pools users.</p>"
    },
    "ApplicationSettingsResponse":{
      "type":"structure",
      "required":["Status"],
      "members":{
        "Status":{
          "shape":"ApplicationSettingsStatusEnum",
          "documentation":"<p>Specifies whether persistent application settings are enabled for users during their pool sessions.</p>"
        },
        "SettingsGroup":{
          "shape":"SettingsGroup",
          "documentation":"<p>The path prefix for the S3 bucket where users’ persistent application settings are stored.</p>"
        },
        "S3BucketName":{
          "shape":"S3BucketName",
          "documentation":"<p>The S3 bucket where users’ persistent application settings are stored. When persistent application settings are enabled for the first time for an account in an Amazon Web Services Region, an S3 bucket is created. The bucket is unique to the Amazon Web Services account and the Region.</p>"
        }
      },
      "documentation":"<p>Describes the persistent application settings for WorkSpaces Pools users.</p>"
    },
    "ApplicationSettingsStatusEnum":{
      "type":"string",
      "enum":[
        "DISABLED",
        "ENABLED"
      ]
    },
    "AssociateConnectionAliasRequest":{
      "type":"structure",
      "required":[
        "AliasId",
        "ResourceId"
      ],
      "members":{
        "AliasId":{
          "shape":"ConnectionAliasId",
          "documentation":"<p>The identifier of the connection alias.</p>"
        },
        "ResourceId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The identifier of the directory to associate the connection alias with.</p>"
        }
      }
    },
    "AssociateConnectionAliasResult":{
      "type":"structure",
      "members":{
        "ConnectionIdentifier":{
          "shape":"ConnectionIdentifier",
          "documentation":"<p>The identifier of the connection alias association. You use the connection identifier in the DNS TXT record when you're configuring your DNS routing policies. </p>"
        }
      }
    },
    "AssociateIpGroupsRequest":{
      "type":"structure",
      "required":[
        "DirectoryId",
        "GroupIds"
      ],
      "members":{
        "DirectoryId":{
          "shape":"DirectoryId",
          "documentation":"<p>The identifier of the directory.</p>"
        },
        "GroupIds":{
          "shape":"IpGroupIdList",
          "documentation":"<p>The identifiers of one or more IP access control groups.</p>"
        }
      }
    },
    "AssociateIpGroupsResult":{
      "type":"structure",
      "members":{}
    },
    "AssociateWorkspaceApplicationRequest":{
      "type":"structure",
      "required":[
        "WorkspaceId",
        "ApplicationId"
      ],
      "members":{
        "WorkspaceId":{
          "shape":"WorkspaceId",
          "documentation":"<p>The identifier of the WorkSpace.</p>"
        },
        "ApplicationId":{
          "shape":"WorkSpaceApplicationId",
          "documentation":"<p>The identifier of the application.</p>"
        }
      }
    },
    "AssociateWorkspaceApplicationResult":{
      "type":"structure",
      "members":{
        "Association":{
          "shape":"WorkspaceResourceAssociation",
          "documentation":"<p>Information about the association between the specified WorkSpace and the specified application.</p>"
        }
      }
    },
    "AssociationErrorCode":{
      "type":"string",
      "enum":[
        "ValidationError.InsufficientDiskSpace",
        "ValidationError.InsufficientMemory",
        "ValidationError.UnsupportedOperatingSystem",
        "DeploymentError.InternalServerError",
        "DeploymentError.WorkspaceUnreachable"
      ]
    },
    "AssociationState":{
      "type":"string",
      "enum":[
        "PENDING_INSTALL",
        "PENDING_INSTALL_DEPLOYMENT",
        "PENDING_UNINSTALL",
        "PENDING_UNINSTALL_DEPLOYMENT",
        "INSTALLING",
        "UNINSTALLING",
        "ERROR",
        "COMPLETED",
        "REMOVED"
      ]
    },
    "AssociationStateReason":{
      "type":"structure",
      "members":{
        "ErrorCode":{
          "shape":"AssociationErrorCode",
          "documentation":"<p>The error code of the association deployment failure.</p>"
        },
        "ErrorMessage":{
          "shape":"String2048",
          "documentation":"<p>The error message of the association deployment failure.</p>"
        }
      },
      "documentation":"<p>Indicates the reason that the association deployment failed, including the error code and error message.</p>"
    },
    "AssociationStatus":{
      "type":"string",
      "enum":[
        "NOT_ASSOCIATED",
        "ASSOCIATED_WITH_OWNER_ACCOUNT",
        "ASSOCIATED_WITH_SHARED_ACCOUNT",
        "PENDING_ASSOCIATION",
        "PENDING_DISASSOCIATION"
      ]
    },
    "AuthenticationType":{
      "type":"string",
      "enum":["SAML"]
    },
    "AuthorizeIpRulesRequest":{
      "type":"structure",
      "required":[
        "GroupId",
        "UserRules"
      ],
      "members":{
        "GroupId":{
          "shape":"IpGroupId",
          "documentation":"<p>The identifier of the group.</p>"
        },
        "UserRules":{
          "shape":"IpRuleList",
          "documentation":"<p>The rules to add to the group.</p>"
        }
      }
    },
    "AuthorizeIpRulesResult":{
      "type":"structure",
      "members":{}
    },
    "AvailableUserSessions":{
      "type":"integer",
      "min":0
    },
    "AwsAccount":{
      "type":"string",
      "pattern":"^\\d{12}$"
    },
    "BooleanObject":{"type":"boolean"},
    "BundleAssociatedResourceType":{
      "type":"string",
      "enum":["APPLICATION"]
    },
    "BundleAssociatedResourceTypeList":{
      "type":"list",
      "member":{"shape":"BundleAssociatedResourceType"}
    },
    "BundleId":{
      "type":"string",
      "pattern":"^wsb-[0-9a-z]{8,63}$"
    },
    "BundleIdList":{
      "type":"list",
      "member":{"shape":"BundleId"},
      "max":25,
      "min":1
    },
    "BundleList":{
      "type":"list",
      "member":{"shape":"WorkspaceBundle"}
    },
    "BundleOwner":{"type":"string"},
    "BundleResourceAssociation":{
      "type":"structure",
      "members":{
        "AssociatedResourceId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The identifier of the associated resource.</p>"
        },
        "AssociatedResourceType":{
          "shape":"BundleAssociatedResourceType",
          "documentation":"<p>The resource type of the associated resources.</p>"
        },
        "BundleId":{
          "shape":"BundleId",
          "documentation":"<p>The identifier of the bundle.</p>"
        },
        "Created":{
          "shape":"Timestamp",
          "documentation":"<p>The time the association is created.</p>"
        },
        "LastUpdatedTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time the association status was last updated.</p>"
        },
        "State":{
          "shape":"AssociationState",
          "documentation":"<p>The status of the bundle resource association.</p>"
        },
        "StateReason":{
          "shape":"AssociationStateReason",
          "documentation":"<p>The reason the association deployment failed.</p>"
        }
      },
      "documentation":"<p>Describes the association between an application and a bundle resource.</p>"
    },
    "BundleResourceAssociationList":{
      "type":"list",
      "member":{"shape":"BundleResourceAssociation"}
    },
    "BundleType":{
      "type":"string",
      "enum":[
        "REGULAR",
        "STANDBY"
      ]
    },
    "Capacity":{
      "type":"structure",
      "required":["DesiredUserSessions"],
      "members":{
        "DesiredUserSessions":{
          "shape":"DesiredUserSessions",
          "documentation":"<p>The desired number of user sessions for the WorkSpaces in the pool.</p>"
        }
      },
      "documentation":"<p>Describes the user capacity for a pool of WorkSpaces.</p>"
    },
    "CapacityStatus":{
      "type":"structure",
      "required":[
        "AvailableUserSessions",
        "DesiredUserSessions",
        "ActualUserSessions",
        "ActiveUserSessions"
      ],
      "members":{
        "AvailableUserSessions":{
          "shape":"AvailableUserSessions",
          "documentation":"<p>The number of user sessions currently available for streaming from your pool.</p> <p>AvailableUserSessions = ActualUserSessions - ActiveUserSessions</p>"
        },
        "DesiredUserSessions":{
          "shape":"DesiredUserSessions",
          "documentation":"<p>The total number of sessions slots that are either running or pending. This represents the total number of concurrent streaming sessions your pool can support in a steady state.</p>"
        },
        "ActualUserSessions":{
          "shape":"ActualUserSessions",
          "documentation":"<p>The total number of user sessions that are available for streaming or are currently streaming in your pool.</p> <p>ActualUserSessions = AvailableUserSessions + ActiveUserSessions</p>"
        },
        "ActiveUserSessions":{
          "shape":"ActiveUserSessions",
          "documentation":"<p>The number of user sessions currently being used for your pool.</p>"
        }
      },
      "documentation":"<p>Describes the capacity status for a pool of WorkSpaces.</p>"
    },
    "CertificateAuthorityArn":{
      "type":"string",
      "max":200,
      "min":5,
      "pattern":"arn:[\\w+=/,.@-]+:[\\w+=/,.@-]+:[\\w+=/,.@-]*:[0-9]*:[\\w+=,.@-]+(/[\\w+=,.@-]+)*"
    },
    "CertificateBasedAuthProperties":{
      "type":"structure",
      "members":{
        "Status":{
          "shape":"CertificateBasedAuthStatusEnum",
          "documentation":"<p>The status of the certificate-based authentication properties.</p>"
        },
        "CertificateAuthorityArn":{
          "shape":"CertificateAuthorityArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon Web Services Certificate Manager Private CA resource.</p>"
        }
      },
      "documentation":"<p>Describes the properties of the certificate-based authentication you want to use with your WorkSpaces.</p>"
    },
    "CertificateBasedAuthStatusEnum":{
      "type":"string",
      "enum":[
        "DISABLED",
        "ENABLED"
      ]
    },
    "ClientDeviceType":{
      "type":"string",
      "enum":[
        "DeviceTypeWindows",
        "DeviceTypeOsx",
        "DeviceTypeAndroid",
        "DeviceTypeIos",
        "DeviceTypeLinux",
        "DeviceTypeWeb"
      ]
    },
    "ClientDeviceTypeList":{
      "type":"list",
      "member":{"shape":"ClientDeviceType"},
      "max":6,
      "min":1
    },
    "ClientEmail":{
      "type":"string",
      "max":64,
      "min":6,
      "pattern":"^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}$"
    },
    "ClientLocale":{
      "type":"string",
      "max":5,
      "min":5,
      "pattern":"^[a-z]{2}_[A-Z]{2}$"
    },
    "ClientLoginMessage":{
      "type":"string",
      "max":2000,
      "min":0,
      "pattern":"^.*$"
    },
    "ClientProperties":{
      "type":"structure",
      "members":{
        "ReconnectEnabled":{
          "shape":"ReconnectEnum",
          "documentation":"<p>Specifies whether users can cache their credentials on the Amazon WorkSpaces client. When enabled, users can choose to reconnect to their WorkSpaces without re-entering their credentials. </p>"
        },
        "LogUploadEnabled":{
          "shape":"LogUploadEnum",
          "documentation":"<p>Specifies whether users can upload diagnostic log files of Amazon WorkSpaces client directly to WorkSpaces to troubleshoot issues when using the WorkSpaces client. When enabled, the log files will be sent to WorkSpaces automatically and will be applied to all users in the specified directory.</p>"
        }
      },
      "documentation":"<p>Describes an Amazon WorkSpaces client.</p>"
    },
    "ClientPropertiesList":{
      "type":"list",
      "member":{"shape":"ClientPropertiesResult"}
    },
    "ClientPropertiesResult":{
      "type":"structure",
      "members":{
        "ResourceId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The resource identifier, in the form of a directory ID.</p>"
        },
        "ClientProperties":{
          "shape":"ClientProperties",
          "documentation":"<p>Information about the Amazon WorkSpaces client.</p>"
        }
      },
      "documentation":"<p>Information about the Amazon WorkSpaces client.</p>"
    },
    "ClientToken":{
      "type":"string",
      "pattern":"^.{1,64}$"
    },
    "ClientUrl":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"^(http|https)\\://\\S+"
    },
    "Compute":{
      "type":"string",
      "enum":[
        "VALUE",
        "STANDARD",
        "PERFORMANCE",
        "POWER",
        "GRAPHICS",
        "POWERPRO",
        "GENERALPURPOSE_4XLARGE",
        "GENERALPURPOSE_8XLARGE",
        "GRAPHICSPRO",
        "GRAPHICS_G4DN",
        "GRAPHICSPRO_G4DN"
      ]
    },
    "ComputeList":{
      "type":"list",
      "member":{"shape":"Compute"}
    },
    "ComputeNotCompatibleException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The compute type of the WorkSpace is not compatible with the application.</p>",
      "exception":true
    },
    "ComputeType":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"Compute",
          "documentation":"<p>The compute type.</p>"
        }
      },
      "documentation":"<p>Describes the compute type of the bundle.</p>"
    },
    "ComputerName":{"type":"string"},
    "ConflictException":{
      "type":"structure",
      "members":{
        "message":{"shape":"ExceptionMessage"}
      },
      "documentation":"<p>The <code>TargetAccountId</code> is already linked or invited.</p>",
      "exception":true
    },
    "ConnectClientAddIn":{
      "type":"structure",
      "members":{
        "AddInId":{
          "shape":"AmazonUuid",
          "documentation":"<p>The client add-in identifier.</p>"
        },
        "ResourceId":{
          "shape":"DirectoryId",
          "documentation":"<p>The directory identifier for which the client add-in is configured.</p>"
        },
        "Name":{
          "shape":"AddInName",
          "documentation":"<p>The name of the client add in.</p>"
        },
        "URL":{
          "shape":"AddInUrl",
          "documentation":"<p>The endpoint URL of the client add-in.</p>"
        }
      },
      "documentation":"<p>Describes an Amazon Connect client add-in.</p>"
    },
    "ConnectClientAddInList":{
      "type":"list",
      "member":{"shape":"ConnectClientAddIn"}
    },
    "ConnectionAlias":{
      "type":"structure",
      "members":{
        "ConnectionString":{
          "shape":"ConnectionString",
          "documentation":"<p>The connection string specified for the connection alias. The connection string must be in the form of a fully qualified domain name (FQDN), such as <code>www.example.com</code>.</p>"
        },
        "AliasId":{
          "shape":"ConnectionAliasId",
          "documentation":"<p>The identifier of the connection alias.</p>"
        },
        "State":{
          "shape":"ConnectionAliasState",
          "documentation":"<p>The current state of the connection alias.</p>"
        },
        "OwnerAccountId":{
          "shape":"AwsAccount",
          "documentation":"<p>The identifier of the Amazon Web Services account that owns the connection alias.</p>"
        },
        "Associations":{
          "shape":"ConnectionAliasAssociationList",
          "documentation":"<p>The association status of the connection alias.</p>"
        }
      },
[...]
