{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2010-08-01",
    "endpointPrefix":"monitoring",
    "protocol":"query",
    "protocols":["query"],
    "serviceAbbreviation":"CloudWatch",
    "serviceFullName":"Amazon CloudWatch",
    "serviceId":"CloudWatch",
    "signatureVersion":"v4",
    "uid":"monitoring-2010-08-01",
    "xmlNamespace":"http://monitoring.amazonaws.com/doc/2010-08-01/",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "DeleteAlarms":{
      "name":"DeleteAlarms",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAlarmsInput"},
      "errors":[
        {"shape":"ResourceNotFound"}
      ],
      "documentation":"<p>Deletes the specified alarms. You can delete up to 100 alarms in one operation. However, this total can include no more than one composite alarm. For example, you could delete 99 metric alarms and one composite alarms with one operation, but you can't delete two composite alarms with one operation.</p> <p> If you specify any incorrect alarm names, the alarms you specify with correct names are still deleted. Other syntax errors might result in no alarms being deleted. To confirm that alarms were deleted successfully, you can use the <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_DescribeAlarms.html\">DescribeAlarms</a> operation after using <code>DeleteAlarms</code>.</p> <note> <p>It is possible to create a loop or cycle of composite alarms, where composite alarm A depends on composite alarm B, and composite alarm B also depends on composite alarm A. In this scenario, you can't delete any composite alarm that is part of the cycle because there is always still a composite alarm that depends on that alarm that you want to delete.</p> <p>To get out of such a situation, you must break the cycle by changing the rule of one of the composite alarms in the cycle to remove a dependency that creates the cycle. The simplest change to make to break a cycle is to change the <code>AlarmRule</code> of one of the alarms to <code>false</code>. </p> <p>Additionally, the evaluation of composite alarms stops if CloudWatch detects a cycle in the evaluation path. </p> </note>"
    },
    "DeleteAnomalyDetector":{
      "name":"DeleteAnomalyDetector",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAnomalyDetectorInput"},
      "output":{
        "shape":"DeleteAnomalyDetectorOutput",
        "resultWrapper":"DeleteAnomalyDetectorResult"
      },
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingRequiredParameterException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p> Deletes the specified anomaly detection model from your account. For more information about how to delete an anomaly detection model, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/Create_Anomaly_Detection_Alarm.html#Delete_Anomaly_Detection_Model\">Deleting an anomaly detection model</a> in the <i>CloudWatch User Guide</i>. </p>"
    },
    "DeleteDashboards":{
      "name":"DeleteDashboards",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDashboardsInput"},
      "output":{
        "shape":"DeleteDashboardsOutput",
        "resultWrapper":"DeleteDashboardsResult"
      },
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"DashboardNotFoundError"},
        {"shape":"InternalServiceFault"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Deletes all dashboards that you specify. You can specify up to 100 dashboards to delete. If there is an error during this call, no dashboards are deleted.</p>"
    },
    "DeleteInsightRules":{
      "name":"DeleteInsightRules",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteInsightRulesInput"},
      "output":{
        "shape":"DeleteInsightRulesOutput",
        "resultWrapper":"DeleteInsightRulesResult"
      },
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingRequiredParameterException"}
      ],
      "documentation":"<p>Permanently deletes the specified Contributor Insights rules.</p> <p>If you create a rule, delete it, and then re-create it with the same name, historical data from the first time the rule was created might not be available.</p>"
    },
    "DeleteMetricStream":{
      "name":"DeleteMetricStream",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteMetricStreamInput"},
      "output":{
        "shape":"DeleteMetricStreamOutput",
        "resultWrapper":"DeleteMetricStreamResult"
      },
      "errors":[
        {"shape":"InternalServiceFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingRequiredParameterException"}
      ],
      "documentation":"<p>Permanently deletes the metric stream that you specify.</p>"
    },
    "DescribeAlarmContributors":{
      "name":"DescribeAlarmContributors",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAlarmContributorsInput"},
      "output":{
        "shape":"DescribeAlarmContributorsOutput",
        "resultWrapper":"DescribeAlarmContributorsResult"
      },
      "errors":[
        {"shape":"InvalidNextToken"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns the information of the current alarm contributors that are in <code>ALARM</code> state. This operation returns details about the individual time series that contribute to the alarm's state.</p>"
    },
    "DescribeAlarmHistory":{
      "name":"DescribeAlarmHistory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAlarmHistoryInput"},
      "output":{
        "shape":"DescribeAlarmHistoryOutput",
        "resultWrapper":"DescribeAlarmHistoryResult"
      },
      "errors":[
        {"shape":"InvalidNextToken"}
      ],
      "documentation":"<p>Retrieves the history for the specified alarm. You can filter the results by date range or item type. If an alarm name is not specified, the histories for either all metric alarms or all composite alarms are returned.</p> <p>CloudWatch retains the history of an alarm even if you delete the alarm.</p> <p>To use this operation and return information about a composite alarm, you must be signed on with the <code>cloudwatch:DescribeAlarmHistory</code> permission that is scoped to <code>*</code>. You can't return information about composite alarms if your <code>cloudwatch:DescribeAlarmHistory</code> permission has a narrower scope.</p>"
    },
    "DescribeAlarms":{
      "name":"DescribeAlarms",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAlarmsInput"},
      "output":{
        "shape":"DescribeAlarmsOutput",
        "resultWrapper":"DescribeAlarmsResult"
      },
      "errors":[
        {"shape":"InvalidNextToken"}
      ],
      "documentation":"<p>Retrieves the specified alarms. You can filter the results by specifying a prefix for the alarm name, the alarm state, or a prefix for any action.</p> <p>To use this operation and return information about composite alarms, you must be signed on with the <code>cloudwatch:DescribeAlarms</code> permission that is scoped to <code>*</code>. You can't return information about composite alarms if your <code>cloudwatch:DescribeAlarms</code> permission has a narrower scope.</p>"
    },
    "DescribeAlarmsForMetric":{
      "name":"DescribeAlarmsForMetric",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAlarmsForMetricInput"},
      "output":{
        "shape":"DescribeAlarmsForMetricOutput",
        "resultWrapper":"DescribeAlarmsForMetricResult"
      },
      "documentation":"<p>Retrieves the alarms for the specified metric. To filter the results, specify a statistic, period, or unit.</p> <p>This operation retrieves only standard alarms that are based on the specified metric. It does not return alarms based on math expressions that use the specified metric, or composite alarms that use the specified metric.</p>"
    },
    "DescribeAnomalyDetectors":{
      "name":"DescribeAnomalyDetectors",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAnomalyDetectorsInput"},
      "output":{
        "shape":"DescribeAnomalyDetectorsOutput",
        "resultWrapper":"DescribeAnomalyDetectorsResult"
      },
      "errors":[
        {"shape":"InvalidNextToken"},
        {"shape":"InternalServiceFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Lists the anomaly detection models that you have created in your account. For single metric anomaly detectors, you can list all of the models in your account or filter the results to only the models that are related to a certain namespace, metric name, or metric dimension. For metric math anomaly detectors, you can list them by adding <code>METRIC_MATH</code> to the <code>AnomalyDetectorTypes</code> array. This will return all metric math anomaly detectors in your account.</p>"
    },
    "DescribeInsightRules":{
      "name":"DescribeInsightRules",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInsightRulesInput"},
      "output":{
        "shape":"DescribeInsightRulesOutput",
        "resultWrapper":"DescribeInsightRulesResult"
      },
      "errors":[
        {"shape":"InvalidNextToken"}
      ],
      "documentation":"<p>Returns a list of all the Contributor Insights rules in your account.</p> <p>For more information about Contributor Insights, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/ContributorInsights.html\">Using Contributor Insights to Analyze High-Cardinality Data</a>.</p>"
    },
    "DisableAlarmActions":{
      "name":"DisableAlarmActions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableAlarmActionsInput"},
      "documentation":"<p>Disables the actions for the specified alarms. When an alarm's actions are disabled, the alarm actions do not execute when the alarm state changes.</p>"
    },
    "DisableInsightRules":{
      "name":"DisableInsightRules",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableInsightRulesInput"},
      "output":{
        "shape":"DisableInsightRulesOutput",
        "resultWrapper":"DisableInsightRulesResult"
      },
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingRequiredParameterException"}
      ],
      "documentation":"<p>Disables the specified Contributor Insights rules. When rules are disabled, they do not analyze log groups and do not incur costs.</p>"
    },
    "EnableAlarmActions":{
      "name":"EnableAlarmActions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableAlarmActionsInput"},
      "documentation":"<p>Enables the actions for the specified alarms.</p>"
    },
    "EnableInsightRules":{
      "name":"EnableInsightRules",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableInsightRulesInput"},
      "output":{
        "shape":"EnableInsightRulesOutput",
        "resultWrapper":"EnableInsightRulesResult"
      },
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingRequiredParameterException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Enables the specified Contributor Insights rules. When rules are enabled, they immediately begin analyzing log data.</p>"
    },
    "GetDashboard":{
      "name":"GetDashboard",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDashboardInput"},
      "output":{
        "shape":"GetDashboardOutput",
        "resultWrapper":"GetDashboardResult"
      },
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"DashboardNotFoundError"},
        {"shape":"InternalServiceFault"}
      ],
      "documentation":"<p>Displays the details of the dashboard that you specify.</p> <p>To copy an existing dashboard, use <code>GetDashboard</code>, and then use the data returned within <code>DashboardBody</code> as the template for the new dashboard when you call <code>PutDashboard</code> to create the copy.</p>"
    },
    "GetInsightRuleReport":{
      "name":"GetInsightRuleReport",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetInsightRuleReportInput"},
      "output":{
        "shape":"GetInsightRuleReportOutput",
        "resultWrapper":"GetInsightRuleReportResult"
      },
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingRequiredParameterException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>This operation returns the time series data collected by a Contributor Insights rule. The data includes the identity and number of contributors to the log group.</p> <p>You can also optionally return one or more statistics about each data point in the time series. These statistics can include the following:</p> <ul> <li> <p> <code>UniqueContributors</code> -- the number of unique contributors for each data point.</p> </li> <li> <p> <code>MaxContributorValue</code> -- the value of the top contributor for each data point. The identity of the contributor might change for each data point in the graph.</p> <p>If this rule aggregates by COUNT, the top contributor for each data point is the contributor with the most occurrences in that period. If the rule aggregates by SUM, the top contributor is the contributor with the highest sum in the log field specified by the rule's <code>Value</code>, during that period.</p> </li> <li> <p> <code>SampleCount</code> -- the number of data points matched by the rule.</p> </li> <li> <p> <code>Sum</code> -- the sum of the values from all contributors during the time period represented by that data point.</p> </li> <li> <p> <code>Minimum</code> -- the minimum value from a single observation during the time period represented by that data point.</p> </li> <li> <p> <code>Maximum</code> -- the maximum value from a single observation during the time period represented by that data point.</p> </li> <li> <p> <code>Average</code> -- the average value from all contributors during the time period represented by that data point.</p> </li> </ul>"
    },
    "GetMetricData":{
      "name":"GetMetricData",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMetricDataInput"},
      "output":{
        "shape":"GetMetricDataOutput",
        "resultWrapper":"GetMetricDataResult"
      },
      "errors":[
        {"shape":"InvalidNextToken"}
      ],
      "documentation":"<p>You can use the <code>GetMetricData</code> API to retrieve CloudWatch metric values. The operation can also include a CloudWatch Metrics Insights query, and one or more metric math functions.</p> <p>A <code>GetMetricData</code> operation that does not include a query can retrieve as many as 500 different metrics in a single request, with a total of as many as 100,800 data points. You can also optionally perform metric math expressions on the values of the returned statistics, to create new time series that represent new insights into your data. For example, using Lambda metrics, you could divide the Errors metric by the Invocations metric to get an error rate time series. For more information about metric math expressions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/using-metric-math.html#metric-math-syntax\">Metric Math Syntax and Functions</a> in the <i>Amazon CloudWatch User Guide</i>.</p> <p>If you include a Metrics Insights query, each <code>GetMetricData</code> operation can include only one query. But the same <code>GetMetricData</code> operation can also retrieve other metrics. Metrics Insights queries can query only the most recent three hours of metric data. For more information about Metrics Insights, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/query_with_cloudwatch-metrics-insights.html\">Query your metrics with CloudWatch Metrics Insights</a>.</p> <p>Calls to the <code>GetMetricData</code> API have a different pricing structure than calls to <code>GetMetricStatistics</code>. For more information about pricing, see <a href=\"https://aws.amazon.com/cloudwatch/pricing/\">Amazon CloudWatch Pricing</a>.</p> <p>Amazon CloudWatch retains metric data as follows:</p> <ul> <li> <p>Data points with a period of less than 60 seconds are available for 3 hours. These data points are high-resolution metrics and are available only for custom metrics that have been defined with a <code>StorageResolution</code> of 1.</p> </li> <li> <p>Data points with a period of 60 seconds (1-minute) are available for 15 days.</p> </li> <li> <p>Data points with a period of 300 seconds (5-minute) are available for 63 days.</p> </li> <li> <p>Data points with a period of 3600 seconds (1 hour) are available for 455 days (15 months).</p> </li> </ul> <p>Data points that are initially published with a shorter period are aggregated together for long-term storage. For example, if you collect data using a period of 1 minute, the data remains available for 15 days with 1-minute resolution. After 15 days, this data is still available, but is aggregated and retrievable only with a resolution of 5 minutes. After 63 days, the data is further aggregated and is available with a resolution of 1 hour.</p> <p>If you omit <code>Unit</code> in your request, all data that was collected with any unit is returned, along with the corresponding units that were specified when the data was reported to CloudWatch. If you specify a unit, the operation returns only data that was collected with that unit specified. If you specify a unit that does not match the data collected, the results of the operation are null. CloudWatch does not perform unit conversions.</p> <p> <b>Using Metrics Insights queries with metric math</b> </p> <p>You can't mix a Metric Insights query and metric math syntax in the same expression, but you can reference results from a Metrics Insights query within other Metric math expressions. A Metrics Insights query without a <b>GROUP BY</b> clause returns a single time-series (TS), and can be used as input for a metric math expression that expects a single time series. A Metrics Insights query with a <b>GROUP BY</b> clause returns an array of time-series (TS[]), and can be used as input for a metric math expression that expects an array of time series. </p>"
    },
    "GetMetricStatistics":{
      "name":"GetMetricStatistics",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMetricStatisticsInput"},
      "output":{
        "shape":"GetMetricStatisticsOutput",
        "resultWrapper":"GetMetricStatisticsResult"
      },
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingRequiredParameterException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"InternalServiceFault"}
      ],
      "documentation":"<p>Gets statistics for the specified metric.</p> <p>The maximum number of data points returned from a single call is 1,440. If you request more than 1,440 data points, CloudWatch returns an error. To reduce the number of data points, you can narrow the specified time range and make multiple requests across adjacent time ranges, or you can increase the specified period. Data points are not returned in chronological order.</p> <p>CloudWatch aggregates data points based on the length of the period that you specify. For example, if you request statistics with a one-hour period, CloudWatch aggregates all data points with time stamps that fall within each one-hour period. Therefore, the number of values aggregated by CloudWatch is larger than the number of data points returned.</p> <p>CloudWatch needs raw data points to calculate percentile statistics. If you publish data using a statistic set instead, you can only retrieve percentile statistics for this data if one of the following conditions is true:</p> <ul> <li> <p>The SampleCount value of the statistic set is 1.</p> </li> <li> <p>The Min and the Max values of the statistic set are equal.</p> </li> </ul> <p>Percentile statistics are not available for metrics when any of the metric values are negative numbers.</p> <p>Amazon CloudWatch retains metric data as follows:</p> <ul> <li> <p>Data points with a period of less than 60 seconds are available for 3 hours. These data points are high-resolution metrics and are available only for custom metrics that have been defined with a <code>StorageResolution</code> of 1.</p> </li> <li> <p>Data points with a period of 60 seconds (1-minute) are available for 15 days.</p> </li> <li> <p>Data points with a period of 300 seconds (5-minute) are available for 63 days.</p> </li> <li> <p>Data points with a period of 3600 seconds (1 hour) are available for 455 days (15 months).</p> </li> </ul> <p>Data points that are initially published with a shorter period are aggregated together for long-term storage. For example, if you collect data using a period of 1 minute, the data remains available for 15 days with 1-minute resolution. After 15 days, this data is still available, but is aggregated and retrievable only with a resolution of 5 minutes. After 63 days, the data is further aggregated and is available with a resolution of 1 hour.</p> <p>CloudWatch started retaining 5-minute and 1-hour metric data as of July 9, 2016.</p> <p>For information about metrics and dimensions supported by Amazon Web Services services, see the <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CW_Support_For_AWS.html\">Amazon CloudWatch Metrics and Dimensions Reference</a> in the <i>Amazon CloudWatch User Guide</i>.</p>"
    },
    "GetMetricStream":{
      "name":"GetMetricStream",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMetricStreamInput"},
      "output":{
        "shape":"GetMetricStreamOutput",
        "resultWrapper":"GetMetricStreamResult"
      },
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingRequiredParameterException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Returns information about the metric stream that you specify.</p>"
    },
    "GetMetricWidgetImage":{
      "name":"GetMetricWidgetImage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMetricWidgetImageInput"},
      "output":{
        "shape":"GetMetricWidgetImageOutput",
        "resultWrapper":"GetMetricWidgetImageResult"
      },
      "documentation":"<p>You can use the <code>GetMetricWidgetImage</code> API to retrieve a snapshot graph of one or more Amazon CloudWatch metrics as a bitmap image. You can then embed this image into your services and products, such as wiki pages, reports, and documents. You could also retrieve images regularly, such as every minute, and create your own custom live dashboard.</p> <p>The graph you retrieve can include all CloudWatch metric graph features, including metric math and horizontal and vertical annotations.</p> <p>There is a limit of 20 transactions per second for this API. Each <code>GetMetricWidgetImage</code> action has the following limits:</p> <ul> <li> <p>As many as 100 metrics in the graph.</p> </li> <li> <p>Up to 100 KB uncompressed payload.</p> </li> </ul>"
    },
    "ListDashboards":{
      "name":"ListDashboards",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDashboardsInput"},
      "output":{
        "shape":"ListDashboardsOutput",
        "resultWrapper":"ListDashboardsResult"
      },
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"InternalServiceFault"}
      ],
      "documentation":"<p>Returns a list of the dashboards for your account. If you include <code>DashboardNamePrefix</code>, only those dashboards with names starting with the prefix are listed. Otherwise, all dashboards in your account are listed. </p> <p> <code>ListDashboards</code> returns up to 1000 results on one page. If there are more than 1000 dashboards, you can call <code>ListDashboards</code> again and include the value you received for <code>NextToken</code> in the first call, to receive the next 1000 results.</p>"
    },
    "ListManagedInsightRules":{
      "name":"ListManagedInsightRules",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListManagedInsightRulesInput"},
      "output":{
        "shape":"ListManagedInsightRulesOutput",
        "resultWrapper":"ListManagedInsightRulesResult"
      },
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingRequiredParameterException"},
        {"shape":"InvalidNextToken"}
      ],
      "documentation":"<p> Returns a list that contains the number of managed Contributor Insights rules in your account. </p>"
    },
    "ListMetricStreams":{
      "name":"ListMetricStreams",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListMetricStreamsInput"},
      "output":{
        "shape":"ListMetricStreamsOutput",
        "resultWrapper":"ListMetricStreamsResult"
      },
      "errors":[
        {"shape":"InvalidNextToken"},
        {"shape":"InternalServiceFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingRequiredParameterException"}
      ],
      "documentation":"<p>Returns a list of metric streams in this account.</p>"
    },
    "ListMetrics":{
      "name":"ListMetrics",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListMetricsInput"},
      "output":{
        "shape":"ListMetricsOutput",
        "resultWrapper":"ListMetricsResult"
      },
      "errors":[
        {"shape":"InternalServiceFault"},
        {"shape":"InvalidParameterValueException"}
      ],
      "documentation":"<p>List the specified metrics. You can use the returned metrics with <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_GetMetricData.html\">GetMetricData</a> or <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_GetMetricStatistics.html\">GetMetricStatistics</a> to get statistical data.</p> <p>Up to 500 results are returned for any one call. To retrieve additional results, use the returned token with subsequent calls.</p> <p>After you create a metric, allow up to 15 minutes for the metric to appear. To see metric statistics sooner, use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_GetMetricData.html\">GetMetricData</a> or <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_GetMetricStatistics.html\">GetMetricStatistics</a>.</p> <p>If you are using CloudWatch cross-account observability, you can use this operation in a monitoring account and view metrics from the linked source accounts. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-Unified-Cross-Account.html\">CloudWatch cross-account observability</a>.</p> <p> <code>ListMetrics</code> doesn't return information about metrics if those metrics haven't reported data in the past two weeks. To retrieve those metrics, use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_GetMetricData.html\">GetMetricData</a> or <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_GetMetricStatistics.html\">GetMetricStatistics</a>.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceInput"},
      "output":{
        "shape":"ListTagsForResourceOutput",
        "resultWrapper":"ListTagsForResourceResult"
      },
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServiceFault"}
      ],
      "documentation":"<p>Displays the tags associated with a CloudWatch resource. Currently, alarms and Contributor Insights rules support tagging.</p>"
    },
    "PutAnomalyDetector":{
      "name":"PutAnomalyDetector",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutAnomalyDetectorInput"},
      "output":{
        "shape":"PutAnomalyDetectorOutput",
        "resultWrapper":"PutAnomalyDetectorResult"
      },
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"InternalServiceFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingRequiredParameterException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Creates an anomaly detection model for a CloudWatch metric. You can use the model to display a band of expected normal values when the metric is graphed.</p> <p>If you have enabled unified cross-account observability, and this account is a monitoring account, the metric can be in the same account or a source account. You can specify the account ID in the object you specify in the <code>SingleMetricAnomalyDetector</code> parameter.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch_Anomaly_Detection.html\">CloudWatch Anomaly Detection</a>.</p>"
    },
    "PutCompositeAlarm":{
      "name":"PutCompositeAlarm",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutCompositeAlarmInput"},
      "errors":[
        {"shape":"LimitExceededFault"}
      ],
      "documentation":"<p>Creates or updates a <i>composite alarm</i>. When you create a composite alarm, you specify a rule expression for the alarm that takes into account the alarm states of other alarms that you have created. The composite alarm goes into ALARM state only if all conditions of the rule are met.</p> <p>The alarms specified in a composite alarm's rule expression can include metric alarms and other composite alarms. The rule expression of a composite alarm can include as many as 100 underlying alarms. Any single alarm can be included in the rule expressions of as many as 150 composite alarms.</p> <p>Using composite alarms can reduce alarm noise. You can create multiple metric alarms, and also create a composite alarm and set up alerts only for the composite alarm. For example, you could create a composite alarm that goes into ALARM state only when more than one of the underlying metric alarms are in ALARM state.</p> <p>Composite alarms can take the following actions:</p> <ul> <li> <p>Notify Amazon SNS topics.</p> </li> <li> <p>Invoke Lambda functions.</p> </li> <li> <p>Create OpsItems in Systems Manager Ops Center.</p> </li> <li> <p>Create incidents in Systems Manager Incident Manager.</p> </li> </ul> <note> <p>It is possible to create a loop or cycle of composite alarms, where composite alarm A depends on composite alarm B, and composite alarm B also depends on composite alarm A. In this scenario, you can't delete any composite alarm that is part of the cycle because there is always still a composite alarm that depends on that alarm that you want to delete.</p> <p>To get out of such a situation, you must break the cycle by changing the rule of one of the composite alarms in the cycle to remove a dependency that creates the cycle. The simplest change to make to break a cycle is to change the <code>AlarmRule</code> of one of the alarms to <code>false</code>. </p> <p>Additionally, the evaluation of composite alarms stops if CloudWatch detects a cycle in the evaluation path. </p> </note> <p>When this operation creates an alarm, the alarm state is immediately set to <code>INSUFFICIENT_DATA</code>. The alarm is then evaluated and its state is set appropriately. Any actions associated with the new state are then executed. For a composite alarm, this initial time after creation is the only time that the alarm can be in <code>INSUFFICIENT_DATA</code> state.</p> <p>When you update an existing alarm, its state is left unchanged, but the update completely overwrites the previous configuration of the alarm.</p> <p>To use this operation, you must be signed on with the <code>cloudwatch:PutCompositeAlarm</code> permission that is scoped to <code>*</code>. You can't create a composite alarms if your <code>cloudwatch:PutCompositeAlarm</code> permission has a narrower scope.</p> <p>If you are an IAM user, you must have <code>iam:CreateServiceLinkedRole</code> to create a composite alarm that has Systems Manager OpsItem actions.</p>"
    },
    "PutDashboard":{
      "name":"PutDashboard",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutDashboardInput"},
      "output":{
        "shape":"PutDashboardOutput",
        "resultWrapper":"PutDashboardResult"
      },
      "errors":[
        {"shape":"DashboardInvalidInputError"},
        {"shape":"InternalServiceFault"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Creates a dashboard if it does not already exist, or updates an existing dashboard. If you update a dashboard, the entire contents are replaced with what you specify here.</p> <p>All dashboards in your account are global, not region-specific.</p> <p>A simple way to create a dashboard using <code>PutDashboard</code> is to copy an existing dashboard. To copy an existing dashboard using the console, you can load the dashboard and then use the View/edit source command in the Actions menu to display the JSON block for that dashboard. Another way to copy a dashboard is to use <code>GetDashboard</code>, and then use the data returned within <code>DashboardBody</code> as the template for the new dashboard when you call <code>PutDashboard</code>.</p> <p>When you create a dashboard with <code>PutDashboard</code>, a good practice is to add a text widget at the top of the dashboard with a message that the dashboard was created by script and should not be changed in the console. This message could also point console users to the location of the <code>DashboardBody</code> script or the CloudFormation template used to create the dashboard.</p>"
    },
    "PutInsightRule":{
      "name":"PutInsightRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutInsightRuleInput"},
      "output":{
        "shape":"PutInsightRuleOutput",
        "resultWrapper":"PutInsightRuleResult"
      },
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingRequiredParameterException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a Contributor Insights rule. Rules evaluate log events in a CloudWatch Logs log group, enabling you to find contributor data for the log events in that log group. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/ContributorInsights.html\">Using Contributor Insights to Analyze High-Cardinality Data</a>.</p> <p>If you create a rule, delete it, and then re-create it with the same name, historical data from the first time the rule was created might not be available.</p>"
    },
    "PutManagedInsightRules":{
      "name":"PutManagedInsightRules",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutManagedInsightRulesInput"},
      "output":{
        "shape":"PutManagedInsightRulesOutput",
        "resultWrapper":"PutManagedInsightRulesResult"
      },
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingRequiredParameterException"}
      ],
      "documentation":"<p> Creates a managed Contributor Insights rule for a specified Amazon Web Services resource. When you enable a managed rule, you create a Contributor Insights rule that collects data from Amazon Web Services services. You cannot edit these rules with <code>PutInsightRule</code>. The rules can be enabled, disabled, and deleted using <code>EnableInsightRules</code>, <code>DisableInsightRules</code>, and <code>DeleteInsightRules</code>. If a previously created managed rule is currently disabled, a subsequent call to this API will re-enable it. Use <code>ListManagedInsightRules</code> to describe all available rules. </p>"
    },
    "PutMetricAlarm":{
      "name":"PutMetricAlarm",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutMetricAlarmInput"},
      "errors":[
        {"shape":"LimitExceededFault"}
      ],
      "documentation":"<p>Creates or updates an alarm and associates it with the specified metric, metric math expression, anomaly detection model, or Metrics Insights query. For more information about using a Metrics Insights query for an alarm, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/Create_Metrics_Insights_Alarm.html\">Create alarms on Metrics Insights queries</a>.</p> <p>Alarms based on anomaly detection models cannot have Auto Scaling actions.</p> <p>When this operation creates an alarm, the alarm state is immediately set to <code>INSUFFICIENT_DATA</code>. The alarm is then evaluated and its state is set appropriately. Any actions associated with the new state are then executed.</p> <p>When you update an existing alarm, its state is left unchanged, but the update completely overwrites the previous configuration of the alarm.</p> <p>If you are an IAM user, you must have Amazon EC2 permissions for some alarm operations:</p> <ul> <li> <p>The <code>iam:CreateServiceLinkedRole</code> permission for all alarms with EC2 actions</p> </li> <li> <p>The <code>iam:CreateServiceLinkedRole</code> permissions to create an alarm with Systems Manager OpsItem or response plan actions.</p> </li> </ul> <p>The first time you create an alarm in the Amazon Web Services Management Console, the CLI, or by using the PutMetricAlarm API, CloudWatch creates the necessary service-linked role for you. The service-linked roles are called <code>AWSServiceRoleForCloudWatchEvents</code> and <code>AWSServiceRoleForCloudWatchAlarms_ActionSSM</code>. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_terms-and-concepts.html#iam-term-service-linked-role\">Amazon Web Services service-linked role</a>.</p> <p>Each <code>PutMetricAlarm</code> action has a maximum uncompressed payload of 120 KB.</p> <p> <b>Cross-account alarms</b> </p> <p>You can set an alarm on metrics in the current account, or in another account. To create a cross-account alarm that watches a metric in a different account, you must have completed the following pre-requisites:</p> <ul> <li> <p>The account where the metrics are located (the <i>sharing account</i>) must already have a sharing role named <b>CloudWatch-CrossAccountSharingRole</b>. If it does not already have this role, you must create it using the instructions in <b>Set up a sharing account</b> in <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/Cross-Account-Cross-Region.html#enable-cross-account-cross-Region\"> Cross-account cross-Region CloudWatch console</a>. The policy for that role must grant access to the ID of the account where you are creating the alarm. </p> </li> <li> <p>The account where you are creating the alarm (the <i>monitoring account</i>) must already have a service-linked role named <b>AWSServiceRoleForCloudWatchCrossAccount</b> to allow CloudWatch to assume the sharing role in the sharing account. If it does not, you must create it following the directions in <b>Set up a monitoring account</b> in <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/Cross-Account-Cross-Region.html#enable-cross-account-cross-Region\"> Cross-account cross-Region CloudWatch console</a>.</p> </li> </ul>"
    },
    "PutMetricData":{
      "name":"PutMetricData",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutMetricDataInput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingRequiredParameterException"},
        {"shape":"InvalidParameterCombinationException"},
        {"shape":"InternalServiceFault"}
      ],
      "documentation":"<p>Publishes metric data to Amazon CloudWatch. CloudWatch associates the data with the specified metric. If the specified metric does not exist, CloudWatch creates the metric. When CloudWatch creates a metric, it can take up to fifteen minutes for the metric to appear in calls to <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_ListMetrics.html\">ListMetrics</a>.</p> <p>You can publish metrics with associated entity data (so that related telemetry can be found and viewed together), or publish metric data by itself. To send entity data with your metrics, use the <code>EntityMetricData</code> parameter. To send metrics without entity data, use the <code>MetricData</code> parameter. The <code>EntityMetricData</code> structure includes <code>MetricData</code> structures for the metric data.</p> <p>You can publish either individual values in the <code>Value</code> field, or arrays of values and the number of times each value occurred during the period by using the <code>Values</code> and <code>Counts</code> fields in the <code>MetricData</code> structure. Using the <code>Values</code> and <code>Counts</code> method enables you to publish up to 150 values per metric with one <code>PutMetricData</code> request, and supports retrieving percentile statistics on this data.</p> <p>Each <code>PutMetricData</code> request is limited to 1 MB in size for HTTP POST requests. You can send a payload compressed by gzip. Each request is also limited to no more than 1000 different metrics (across both the <code>MetricData</code> and <code>EntityMetricData</code> properties).</p> <p>Although the <code>Value</code> parameter accepts numbers of type <code>Double</code>, CloudWatch rejects values that are either too small or too large. Values must be in the range of -2^360 to 2^360. In addition, special values (for example, NaN, +Infinity, -Infinity) are not supported.</p> <p>You can use up to 30 dimensions per metric to further clarify what data the metric collects. Each dimension consists of a Name and Value pair. For more information about specifying dimensions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/publishingMetrics.html\">Publishing Metrics</a> in the <i>Amazon CloudWatch User Guide</i>.</p> <p>You specify the time stamp to be associated with each data point. You can specify time stamps that are as much as two weeks before the current date, and as much as 2 hours after the current day and time.</p> <p>Data points with time stamps from 24 hours ago or longer can take at least 48 hours to become available for <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_GetMetricData.html\">GetMetricData</a> or <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_GetMetricStatistics.html\">GetMetricStatistics</a> from the time they are submitted. Data points with time stamps between 3 and 24 hours ago can take as much as 2 hours to become available for <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_GetMetricData.html\">GetMetricData</a> or <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_GetMetricStatistics.html\">GetMetricStatistics</a>.</p> <p>CloudWatch needs raw data points to calculate percentile statistics. If you publish data using a statistic set instead, you can only retrieve percentile statistics for this data if one of the following conditions is true:</p> <ul> <li> <p>The <code>SampleCount</code> value of the statistic set is 1 and <code>Min</code>, <code>Max</code>, and <code>Sum</code> are all equal.</p> </li> <li> <p>The <code>Min</code> and <code>Max</code> are equal, and <code>Sum</code> is equal to <code>Min</code> multiplied by <code>SampleCount</code>.</p> </li> </ul>",
      "requestcompression":{"encodings":["gzip"]}
    },
    "PutMetricStream":{
      "name":"PutMetricStream",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutMetricStreamInput"},
      "output":{
        "shape":"PutMetricStreamOutput",
        "resultWrapper":"PutMetricStreamResult"
      },
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"InternalServiceFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingRequiredParameterException"},
        {"shape":"InvalidParameterCombinationException"}
      ],
      "documentation":"<p>Creates or updates a metric stream. Metric streams can automatically stream CloudWatch metrics to Amazon Web Services destinations, including Amazon S3, and to many third-party solutions.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-Metric-Streams.html\"> Using Metric Streams</a>.</p> <p>To create a metric stream, you must be signed in to an account that has the <code>iam:PassRole</code> permission and either the <code>CloudWatchFullAccess</code> policy or the <code>cloudwatch:PutMetricStream</code> permission.</p> <p>When you create or update a metric stream, you choose one of the following:</p> <ul> <li> <p>Stream metrics from all metric namespaces in the account.</p> </li> <li> <p>Stream metrics from all metric namespaces in the account, except for the namespaces that you list in <code>ExcludeFilters</code>.</p> </li> <li> <p>Stream metrics from only the metric namespaces that you list in <code>IncludeFilters</code>.</p> </li> </ul> <p>By default, a metric stream always sends the <code>MAX</code>, <code>MIN</code>, <code>SUM</code>, and <code>SAMPLECOUNT</code> statistics for each metric that is streamed. You can use the <code>StatisticsConfigurations</code> parameter to have the metric stream send additional statistics in the stream. Streaming additional statistics incurs additional costs. For more information, see <a href=\"https://aws.amazon.com/cloudwatch/pricing/\">Amazon CloudWatch Pricing</a>. </p> <p>When you use <code>PutMetricStream</code> to create a new metric stream, the stream is created in the <code>running</code> state. If you use it to update an existing stream, the state of the stream is not changed.</p> <p>If you are using CloudWatch cross-account observability and you create a metric stream in a monitoring account, you can choose whether to include metrics from source accounts in the stream. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/CloudWatch-Unified-Cross-Account.html\">CloudWatch cross-account observability</a>.</p>"
    },
    "SetAlarmState":{
      "name":"SetAlarmState",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetAlarmStateInput"},
      "errors":[
        {"shape":"ResourceNotFound"},
        {"shape":"InvalidFormatFault"}
      ],
      "documentation":"<p>Temporarily sets the state of an alarm for testing purposes. When the updated state differs from the previous value, the action configured for the appropriate state is invoked. For example, if your alarm is configured to send an Amazon SNS message when an alarm is triggered, temporarily changing the alarm state to <code>ALARM</code> sends an SNS message.</p> <p>Metric alarms returns to their actual state quickly, often within seconds. Because the metric alarm state change happens quickly, it is typically only visible in the alarm's <b>History</b> tab in the Amazon CloudWatch console or through <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_DescribeAlarmHistory.html\">DescribeAlarmHistory</a>.</p> <p>If you use <code>SetAlarmState</code> on a composite alarm, the composite alarm is not guaranteed to return to its actual state. It returns to its actual state only once any of its children alarms change state. It is also reevaluated if you update its configuration.</p> <p>If an alarm triggers EC2 Auto Scaling policies or application Auto Scaling policies, you must include information in the <code>StateReasonData</code> parameter to enable the policy to take the correct action.</p>"
    },
    "StartMetricStreams":{
      "name":"StartMetricStreams",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartMetricStreamsInput"},
      "output":{
        "shape":"StartMetricStreamsOutput",
        "resultWrapper":"StartMetricStreamsResult"
      },
      "errors":[
        {"shape":"InternalServiceFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingRequiredParameterException"}
      ],
      "documentation":"<p>Starts the streaming of metrics for one or more of your metric streams.</p>"
    },
    "StopMetricStreams":{
      "name":"StopMetricStreams",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopMetricStreamsInput"},
      "output":{
        "shape":"StopMetricStreamsOutput",
        "resultWrapper":"StopMetricStreamsResult"
      },
      "errors":[
        {"shape":"InternalServiceFault"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingRequiredParameterException"}
      ],
      "documentation":"<p>Stops the streaming of metrics for one or more of your metric streams.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceInput"},
      "output":{
        "shape":"TagResourceOutput",
        "resultWrapper":"TagResourceResult"
      },
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InternalServiceFault"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Assigns one or more tags (key-value pairs) to the specified CloudWatch resource. Currently, the only CloudWatch resources that can be tagged are alarms and Contributor Insights rules.</p> <p>Tags can help you organize and categorize your resources. You can also use them to scope user permissions by granting a user permission to access or change only resources with certain tag values.</p> <p>Tags don't have any semantic meaning to Amazon Web Services and are interpreted strictly as strings of characters.</p> <p>You can use the <code>TagResource</code> action with an alarm that already has tags. If you specify a new tag key for the alarm, this tag is appended to the list of tags associated with the alarm. If you specify a tag key that is already associated with the alarm, the new tag value that you specify replaces the previous value for that tag.</p> <p>You can associate as many as 50 tags with a CloudWatch resource.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceInput"},
      "output":{
        "shape":"UntagResourceOutput",
        "resultWrapper":"UntagResourceResult"
      },
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InternalServiceFault"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Removes one or more tags from the specified resource.</p>"
    }
  },
  "shapes":{
    "AccountId":{
      "type":"string",
      "max":255,
      "min":1
    },
    "ActionPrefix":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "ActionsEnabled":{"type":"boolean"},
    "ActionsSuppressedBy":{
      "type":"string",
      "enum":[
        "WaitPeriod",
        "ExtensionPeriod",
        "Alarm"
      ]
    },
    "ActionsSuppressedReason":{
      "type":"string",
      "max":1024,
      "min":0
    },
    "AlarmArn":{
      "type":"string",
      "max":1600,
      "min":1
    },
    "AlarmContributor":{
      "type":"structure",
      "required":[
        "ContributorId",
        "ContributorAttributes",
        "StateReason"
      ],
      "members":{
        "ContributorId":{
          "shape":"ContributorId",
          "documentation":"<p>The unique identifier for this alarm contributor.</p>"
        },
        "ContributorAttributes":{
          "shape":"ContributorAttributes",
          "documentation":"<p>A map of attributes that describe the contributor, such as metric dimensions and other identifying characteristics.</p>"
        },
        "StateReason":{
          "shape":"StateReason",
          "documentation":"<p>An explanation for the contributor's current state, providing context about why it is in its current condition.</p>"
        },
        "StateTransitionedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp when the contributor last transitioned to its current state.</p>"
        }
      },
      "documentation":"<p>Represents an individual contributor to a multi-timeseries alarm, containing information about a specific time series and its contribution to the alarm's state.</p>",
      "xmlOrder":[
        "ContributorId",
        "ContributorAttributes",
        "StateReason",
        "StateTransitionedTimestamp"
      ]
    },
    "AlarmContributors":{
      "type":"list",
      "member":{"shape":"AlarmContributor"}
    },
    "AlarmDescription":{
      "type":"string",
      "max":1024,
      "min":0
    },
    "AlarmHistoryItem":{
      "type":"structure",
      "members":{
        "AlarmName":{
          "shape":"AlarmName",
          "documentation":"<p>The descriptive name for the alarm.</p>"
        },
        "AlarmContributorId":{
          "shape":"ContributorId",
          "documentation":"<p>The unique identifier of the alarm contributor associated with this history item, if applicable.</p>"
        },
        "AlarmType":{
          "shape":"AlarmType",
          "documentation":"<p>The type of alarm, either metric alarm or composite alarm.</p>"
        },
        "Timestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The time stamp for the alarm history item.</p>"
        },
        "HistoryItemType":{
          "shape":"HistoryItemType",
          "documentation":"<p>The type of alarm history item.</p>"
        },
        "HistorySummary":{
          "shape":"HistorySummary",
          "documentation":"<p>A summary of the alarm history, in text format.</p>"
        },
        "HistoryData":{
          "shape":"HistoryData",
          "documentation":"<p>Data about the alarm, in JSON format.</p>"
        },
        "AlarmContributorAttributes":{
          "shape":"ContributorAttributes",
          "documentation":"<p>A map of attributes that describe the alarm contributor associated with this history item, providing context about the contributor's characteristics at the time of the event.</p>"
        }
      },
      "documentation":"<p>Represents the history of a specific alarm.</p>"
    },
    "AlarmHistoryItems":{
      "type":"list",
      "member":{"shape":"AlarmHistoryItem"}
    },
    "AlarmName":{
      "type":"string",
      "max":255,
      "min":1
    },
    "AlarmNamePrefix":{
      "type":"string",
      "max":255,
      "min":1
    },
    "AlarmNames":{
      "type":"list",
      "member":{"shape":"AlarmName"},
      "max":100
    },
    "AlarmRule":{
      "type":"string",
      "max":10240,
      "min":1
    },
    "AlarmType":{
      "type":"string",
      "enum":[
        "CompositeAlarm",
        "MetricAlarm"
      ]
    },
    "AlarmTypes":{
      "type":"list",
      "member":{"shape":"AlarmType"}
    },
    "AmazonResourceName":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "AnomalyDetector":{
      "type":"structure",
      "members":{
        "Namespace":{
          "shape":"Namespace",
          "documentation":"<p>The namespace of the metric associated with the anomaly detection model.</p>",
          "deprecated":true,
          "deprecatedMessage":"Use SingleMetricAnomalyDetector.Namespace property."
        },
        "MetricName":{
          "shape":"MetricName",
          "documentation":"<p>The name of the metric associated with the anomaly detection model.</p>",
          "deprecated":true,
          "deprecatedMessage":"Use SingleMetricAnomalyDetector.MetricName property."
        },
        "Dimensions":{
          "shape":"Dimensions",
          "documentation":"<p>The metric dimensions associated with the anomaly detection model.</p>",
          "deprecated":true,
          "deprecatedMessage":"Use SingleMetricAnomalyDetector.Dimensions property."
        },
        "Stat":{
          "shape":"AnomalyDetectorMetricStat",
          "documentation":"<p>The statistic associated with the anomaly detection model.</p>",
          "deprecated":true,
          "deprecatedMessage":"Use SingleMetricAnomalyDetector.Stat property."
        },
        "Configuration":{
          "shape":"AnomalyDetectorConfiguration",
          "documentation":"<p>The configuration specifies details about how the anomaly detection model is to be trained, including time ranges to exclude from use for training the model, and the time zone to use for the metric.</p>"
        },
        "StateValue":{
          "shape":"AnomalyDetectorStateValue",
          "documentation":"<p>The current status of the anomaly detector's training.</p>"
        },
        "MetricCharacteristics":{
          "shape":"MetricCharacteristics",
          "documentation":"<p>This object includes parameters that you can use to provide information about your metric to CloudWatch to help it build more accurate anomaly detection models. Currently, it includes the <code>PeriodicSpikes</code> parameter.</p>"
        },
        "SingleMetricAnomalyDetector":{
          "shape":"SingleMetricAnomalyDetector",
          "documentation":"<p>The CloudWatch metric and statistic for this anomaly detector.</p>"
        },
        "MetricMathAnomalyDetector":{
          "shape":"MetricMathAnomalyDetector",
          "documentation":"<p>The CloudWatch metric math expression for this anomaly detector.</p>"
        }
      },
      "documentation":"<p>An anomaly detection model associated with a particular CloudWatch metric, statistic, or metric math expression. You can use the model to display a band of expected, normal values when the metric is graphed.</p> <p>If you have enabled unified cross-account observability, and this account is a monitoring account, the metric can be in the same account or a source account.</p>"
    },
    "AnomalyDetectorConfiguration":{
      "type":"structure",
      "members":{
        "ExcludedTimeRanges":{
          "shape":"AnomalyDetectorExcludedTimeRanges",
          "documentation":"<p>An array of time ranges to exclude from use when the anomaly detection model is trained. Use this to make sure that events that could cause unusual values for the metric, such as deployments, aren't used when CloudWatch creates the model.</p>"
        },
        "MetricTimezone":{
          "shape":"AnomalyDetectorMetricTimezone",
          "documentation":"<p>The time zone to use for the metric. This is useful to enable the model to automatically account for daylight savings time changes if the metric is sensitive to such time changes.</p> <p>To specify a time zone, use the name of the time zone as specified in the standard tz database. For more information, see <a href=\"https://en.wikipedia.org/wiki/Tz_database\">tz database</a>.</p>"
        }
      },
      "documentation":"<p>The configuration specifies details about how the anomaly detection model is to be trained, including time ranges to exclude from use for training the model and the time zone to use for the metric.</p>"
    },
    "AnomalyDetectorExcludedTimeRanges":{
      "type":"list",
      "member":{"shape":"Range"}
    },
    "AnomalyDetectorMetricStat":{
      "type":"string",
      "max":50,
      "pattern":"(SampleCount|Average|Sum|Minimum|Maximum|IQM|(p|tc|tm|ts|wm)(\\d{1,2}(\\.\\d{0,10})?|100)|[ou]\\d+(\\.\\d*)?)(_E|_L|_H)?|(TM|TC|TS|WM)\\(((((\\d{1,2})(\\.\\d{0,10})?|100(\\.0{0,10})?)%)?:((\\d{1,2})(\\.\\d{0,10})?|100(\\.0{0,10})?)%|((\\d{1,2})(\\.\\d{0,10})?|100(\\.0{0,10})?)%:(((\\d{1,2})(\\.\\d{0,10})?|100(\\.0{0,10})?)%)?)\\)|(TM|TC|TS|WM|PR)\\(((\\d+(\\.\\d{0,10})?|(\\d+(\\.\\d{0,10})?[Ee][+-]?\\d+)):((\\d+(\\.\\d{0,10})?|(\\d+(\\.\\d{0,10})?[Ee][+-]?\\d+)))?|((\\d+(\\.\\d{0,10})?|(\\d+(\\.\\d{0,10})?[Ee][+-]?\\d+)))?:(\\d+(\\.\\d{0,10})?|(\\d+(\\.\\d{0,10})?[Ee][+-]?\\d+)))\\)"
    },
    "AnomalyDetectorMetricTimezone":{
      "type":"string",
      "max":50,
      "pattern":".*"
    },
    "AnomalyDetectorStateValue":{
      "type":"string",
      "enum":[
        "PENDING_TRAINING",
        "TRAINED_INSUFFICIENT_DATA",
        "TRAINED"
      ]
    },
    "AnomalyDetectorType":{
      "type":"string",
      "enum":[
        "SINGLE_METRIC",
        "METRIC_MATH"
      ]
    },
    "AnomalyDetectorTypes":{
      "type":"list",
      "member":{"shape":"AnomalyDetectorType"},
      "max":2
    },
    "AnomalyDetectors":{
      "type":"list",
      "member":{"shape":"AnomalyDetector"}
    },
    "AttributeName":{
      "type":"string",
      "max":255,
      "min":1
    },
    "AttributeValue":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "AwsQueryErrorMessage":{"type":"string"},
    "BatchFailures":{
      "type":"list",
      "member":{"shape":"PartialFailure"}
    },
    "ComparisonOperator":{
      "type":"string",
      "enum":[
        "GreaterThanOrEqualToThreshold",
        "GreaterThanThreshold",
        "LessThanThreshold",
        "LessThanOrEqualToThreshold",
        "LessThanLowerOrGreaterThanUpperThreshold",
        "LessThanLowerThreshold",
        "GreaterThanUpperThreshold"
      ]
    },
    "CompositeAlarm":{
      "type":"structure",
      "members":{
        "ActionsEnabled":{
          "shape":"ActionsEnabled",
          "documentation":"<p>Indicates whether actions should be executed during any changes to the alarm state.</p>"
        },
        "AlarmActions":{
          "shape":"ResourceList",
          "documentation":"<p>The actions to execute when this alarm transitions to the ALARM state from any other state. Each action is specified as an Amazon Resource Name (ARN).</p>"
        },
        "AlarmArn":{
          "shape":"AlarmArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the alarm.</p>"
        },
        "AlarmConfigurationUpdatedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The time stamp of the last update to the alarm configuration.</p>"
        },
        "AlarmDescription":{
          "shape":"AlarmDescription",
          "documentation":"<p>The description of the alarm.</p>"
        },
        "AlarmName":{
          "shape":"AlarmName",
          "documentation":"<p>The name of the alarm.</p>"
        },
        "AlarmRule":{
          "shape":"AlarmRule",
          "documentation":"<p>The rule that this alarm uses to evaluate its alarm state.</p>"
        },
        "InsufficientDataActions":{
          "shape":"ResourceList",
          "documentation":"<p>The actions to execute when this alarm transitions to the INSUFFICIENT_DATA state from any other state. Each action is specified as an Amazon Resource Name (ARN).</p>"
        },
        "OKActions":{
          "shape":"ResourceList",
          "documentation":"<p>The actions to execute when this alarm transitions to the OK state from any other state. Each action is specified as an Amazon Resource Name (ARN).</p>"
        },
        "StateReason":{
          "shape":"StateReason",
          "documentation":"<p>An explanation for the alarm state, in text format.</p>"
        },
        "StateReasonData":{
          "shape":"StateReasonData",
          "documentation":"<p>An explanation for the alarm state, in JSON format.</p>"
        },
        "StateUpdatedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>Tracks the timestamp of any state update, even if <code>StateValue</code> doesn't change.</p>"
        },
        "StateValue":{
          "shape":"StateValue",
          "documentation":"<p>The state value for the alarm.</p>"
        },
        "StateTransitionedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p> The timestamp of the last change to the alarm's <code>StateValue</code>. </p>"
        },
        "ActionsSuppressedBy":{
          "shape":"ActionsSuppressedBy",
          "documentation":"<p> When the value is <code>ALARM</code>, it means that the actions are suppressed because the suppressor alarm is in <code>ALARM</code> When the value is <code>WaitPeriod</code>, it means that the actions are suppressed because the composite alarm is waiting for the suppressor alarm to go into into the <code>ALARM</code> state. The maximum waiting time is as specified in <code>ActionsSuppressorWaitPeriod</code>. After this time, the composite alarm performs its actions. When the value is <code>ExtensionPeriod</code>, it means that the actions are suppressed because the composite alarm is waiting after the suppressor alarm went out of the <code>ALARM</code> state. The maximum waiting time is as specified in <code>ActionsSuppressorExtensionPeriod</code>. After this time, the composite alarm performs its actions. </p>"
        },
        "ActionsSuppressedReason":{
          "shape":"ActionsSuppressedReason",
          "documentation":"<p> Captures the reason for action suppression. </p>"
        },
        "ActionsSuppressor":{
          "shape":"AlarmArn",
          "documentation":"<p> Actions will be suppressed if the suppressor alarm is in the <code>ALARM</code> state. <code>ActionsSuppressor</code> can be an AlarmName or an Amazon Resource Name (ARN) from an existing alarm. </p>"
        },
        "ActionsSuppressorWaitPeriod":{
          "shape":"SuppressorPeriod",
          "documentation":"<p> The maximum time in seconds that the composite alarm waits for the suppressor alarm to go into the <code>ALARM</code> state. After this time, the composite alarm performs its actions. </p> <important> <p> <code>WaitPeriod</code> is required only when <code>ActionsSuppressor</code> is specified. </p> </important>"
        },
        "ActionsSuppressorExtensionPeriod":{
          "shape":"SuppressorPeriod",
          "documentation":"<p> The maximum time in seconds that the composite alarm waits after suppressor alarm goes out of the <code>ALARM</code> state. After this time, the composite alarm performs its actions. </p> <important> <p> <code>ExtensionPeriod</code> is required only when <code>ActionsSuppressor</code> is specified. </p> </important>"
        }
      },
      "documentation":"<p>The details about a composite alarm.</p>",
      "xmlOrder":[
        "ActionsEnabled",
        "AlarmActions",
        "AlarmArn",
        "AlarmConfigurationUpdatedTimestamp",
        "AlarmDescription",
        "AlarmName",
        "AlarmRule",
        "InsufficientDataActions",
        "OKActions",
        "StateReason",
        "StateReasonData",
        "StateUpdatedTimestamp",
        "StateValue",
        "StateTransitionedTimestamp",
        "ActionsSuppressedBy",
        "ActionsSuppressedReason",
        "ActionsSuppressor",
        "ActionsSuppressorWaitPeriod",
        "ActionsSuppressorExtensionPeriod"
      ]
    },
    "CompositeAlarms":{
      "type":"list",
      "member":{"shape":"CompositeAlarm"}
    },
    "ConcurrentModificationException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>More than one process tried to modify a resource at the same time.</p>",
      "error":{
        "code":"ConcurrentModificationException",
        "httpStatusCode":429,
        "senderFault":true
      },
      "exception":true
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>This operation attempted to create a resource that already exists.</p>",
      "exception":true
    },
    "ContributorAttributes":{
      "type":"map",
      "key":{"shape":"AttributeName"},
      "value":{"shape":"AttributeValue"},
      "max":30
    },
    "ContributorId":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "Counts":{
      "type":"list",
      "member":{"shape":"DatapointValue"}
    },
    "DashboardArn":{"type":"string"},
    "DashboardBody":{"type":"string"},
    "DashboardEntries":{
      "type":"list",
      "member":{"shape":"DashboardEntry"}
    },
    "DashboardEntry":{
      "type":"structure",
      "members":{
        "DashboardName":{
          "shape":"DashboardName",
          "documentation":"<p>The name of the dashboard.</p>"
        },
        "DashboardArn":{
          "shape":"DashboardArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the dashboard.</p>"
        },
        "LastModified":{
          "shape":"LastModified",
          "documentation":"<p>The time stamp of when the dashboard was last modified, either by an API call or through the console. This number is expressed as the number of milliseconds since Jan 1, 1970 00:00:00 UTC.</p>"
        },
        "Size":{
          "shape":"Size",
          "documentation":"<p>The size of the dashboard, in bytes.</p>"
        }
      },
      "documentation":"<p>Represents a specific dashboard.</p>"
    },
    "DashboardErrorMessage":{"type":"string"},
    "DashboardInvalidInputError":{
      "type":"structure",
      "members":{
        "message":{"shape":"DashboardErrorMessage"},
        "dashboardValidationMessages":{"shape":"DashboardValidationMessages"}
      },
      "documentation":"<p>Some part of the dashboard data is invalid.</p>",
      "error":{
        "code":"InvalidParameterInput",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "DashboardName":{"type":"string"},
    "DashboardNamePrefix":{"type":"string"},
    "DashboardNames":{
      "type":"list",
      "member":{"shape":"DashboardName"}
    },
    "DashboardNotFoundError":{
      "type":"structure",
      "members":{
        "message":{"shape":"DashboardErrorMessage"}
      },
      "documentation":"<p>The specified dashboard does not exist.</p>",
      "error":{
        "code":"ResourceNotFound",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "DashboardValidationMessage":{
      "type":"structure",
      "members":{
        "DataPath":{
          "shape":"DataPath",
          "documentation":"<p>The data path related to the message.</p>"
        },
        "Message":{
          "shape":"Message",
          "documentation":"<p>A message describing the error or warning.</p>"
        }
      },
      "documentation":"<p>An error or warning for the operation.</p>"
    },
    "DashboardValidationMessages":{
      "type":"list",
      "member":{"shape":"DashboardValidationMessage"}
    },
    "DataPath":{"type":"string"},
    "Datapoint":{
      "type":"structure",
      "members":{
        "Timestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The time stamp used for the data point.</p>"
        },
        "SampleCount":{
          "shape":"DatapointValue",
          "documentation":"<p>The number of metric values that contributed to the aggregate value of this data point.</p>"
        },
        "Average":{
          "shape":"DatapointValue",
          "documentation":"<p>The average of the metric values that correspond to the data point.</p>"
        },
        "Sum":{
          "shape":"DatapointValue",
          "documentation":"<p>The sum of the metric values for the data point.</p>"
        },
        "Minimum":{
          "shape":"DatapointValue",
          "documentation":"<p>The minimum metric value for the data point.</p>"
        },
        "Maximum":{
          "shape":"DatapointValue",
          "documentation":"<p>The maximum metric value for the data point.</p>"
        },
        "Unit":{
          "shape":"StandardUnit",
          "documentation":"<p>The standard unit for the data point.</p>"
        },
        "ExtendedStatistics":{
          "shape":"DatapointValueMap",
          "documentation":"<p>The percentile statistic for the data point.</p>"
        }
      },
      "documentation":"<p>Encapsulates the statistical data that CloudWatch computes from metric data.</p>",
      "xmlOrder":[
        "Timestamp",
        "SampleCount",
        "Average",
        "Sum",
        "Minimum",
        "Maximum",
        "Unit",
        "ExtendedStatistics"
      ]
    },
    "DatapointValue":{"type":"double"},
    "DatapointValueMap":{
      "type":"map",
      "key":{"shape":"ExtendedStatistic"},
      "value":{"shape":"DatapointValue"}
    },
    "DatapointValues":{
      "type":"list",
      "member":{"shape":"DatapointValue"}
    },
    "Datapoints":{
      "type":"list",
      "member":{"shape":"Datapoint"}
    },
    "DatapointsToAlarm":{
      "type":"integer",
      "min":1
    },
    "DeleteAlarmsInput":{
      "type":"structure",
      "required":["AlarmNames"],
      "members":{
        "AlarmNames":{
          "shape":"AlarmNames",
          "documentation":"<p>The alarms to be deleted. Do not enclose the alarm names in quote marks.</p>"
        }
      }
    },
    "DeleteAnomalyDetectorInput":{
      "type":"structure",
      "members":{
        "Namespace":{
          "shape":"Namespace",
          "documentation":"<p>The namespace associated with the anomaly detection model to delete.</p>",
          "deprecated":true,
          "deprecatedMessage":"Use SingleMetricAnomalyDetector."
        },
        "MetricName":{
          "shape":"MetricName",
          "documentation":"<p>The metric name associated with the anomaly detection model to delete.</p>",
          "deprecated":true,
          "deprecatedMessage":"Use SingleMetricAnomalyDetector."
        },
        "Dimensions":{
          "shape":"Dimensions",
          "documentation":"<p>The metric dimensions associated with the anomaly detection model to delete.</p>",
          "deprecated":true,
          "deprecatedMessage":"Use SingleMetricAnomalyDetector."
        },
        "Stat":{
          "shape":"AnomalyDetectorMetricStat",
          "documentation":"<p>The statistic associated with the anomaly detection model to delete.</p>",
          "deprecated":true,
          "deprecatedMessage":"Use SingleMetricAnomalyDetector."
        },
        "SingleMetricAnomalyDetector":{
          "shape":"SingleMetricAnomalyDetector",
          "documentation":"<p>A single metric anomaly detector to be deleted.</p> <p>When using <code>SingleMetricAnomalyDetector</code>, you cannot include the following parameters in the same operation:</p> <ul> <li> <p> <code>Dimensions</code>,</p> </li> <li> <p> <code>MetricName</code> </p> </li> <li> <p> <code>Namespace</code> </p> </li> <li> <p> <code>Stat</code> </p> </li> <li> <p>the <code>MetricMathAnomalyDetector</code> parameters of <code>DeleteAnomalyDetectorInput</code> </p> </li> </ul> <p>Instead, specify the single metric anomaly detector attributes as part of the <code>SingleMetricAnomalyDetector</code> property.</p>"
        },
        "MetricMathAnomalyDetector":{
          "shape":"MetricMathAnomalyDetector",
          "documentation":"<p>The metric math anomaly detector to be deleted.</p> <p>When using <code>MetricMathAnomalyDetector</code>, you cannot include following parameters in the same operation:</p> <ul> <li> <p> <code>Dimensions</code>,</p> </li> <li> <p> <code>MetricName</code> </p> </li> <li> <p> <code>Namespace</code> </p> </li> <li> <p> <code>Stat</code> </p> </li> <li> <p>the <code>SingleMetricAnomalyDetector</code> parameters of <code>DeleteAnomalyDetectorInput</code> </p> </li> </ul> <p>Instead, specify the metric math anomaly detector attributes as part of the <code>MetricMathAnomalyDetector</code> property.</p>"
        }
      }
    },
    "DeleteAnomalyDetectorOutput":{
      "type":"structure",
      "members":{}
    },
    "DeleteDashboardsInput":{
      "type":"structure",
      "required":["DashboardNames"],
      "members":{
        "DashboardNames":{
          "shape":"DashboardNames",
          "documentation":"<p>The dashboards to be deleted. This parameter is required.</p>"
        }
      }
    },
    "DeleteDashboardsOutput":{
      "type":"structure",
      "members":{}
    },
    "DeleteInsightRulesInput":{
      "type":"structure",
      "required":["RuleNames"],
      "members":{
        "RuleNames":{
          "shape":"InsightRuleNames",
          "documentation":"<p>An array of the rule names to delete. If you need to find out the names of your rules, use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_DescribeInsightRules.html\">DescribeInsightRules</a>.</p>"
        }
      }
    },
    "DeleteInsightRulesOutput":{
      "type":"structure",
      "members":{
        "Failures":{
          "shape":"BatchFailures",
          "documentation":"<p>An array listing the rules that could not be deleted. You cannot delete built-in rules.</p>"
        }
      }
    },
    "DeleteMetricStreamInput":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"MetricStreamName",
          "documentation":"<p>The name of the metric stream to delete.</p>"
        }
      }
    },
    "DeleteMetricStreamOutput":{
      "type":"structure",
      "members":{}
    },
    "DescribeAlarmContributorsInput":{
      "type":"structure",
      "required":["AlarmName"],
      "members":{
        "AlarmName":{
          "shape":"AlarmName",
          "documentation":"<p>The name of the alarm for which to retrieve contributor information.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token returned by a previous call to indicate that there is more data available.</p>"
        }
      }
    },
    "DescribeAlarmContributorsOutput":{
      "type":"structure",
      "required":["AlarmContributors"],
      "members":{
        "AlarmContributors":{
          "shape":"AlarmContributors",
          "documentation":"<p>A list of alarm contributors that provide details about the individual time series contributing to the alarm's state.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token that marks the start of the next batch of returned results.</p>"
        }
      }
    },
    "DescribeAlarmHistoryInput":{
      "type":"structure",
      "members":{
        "AlarmName":{
          "shape":"AlarmName",
          "documentation":"<p>The name of the alarm.</p>"
        },
        "AlarmContributorId":{
          "shape":"ContributorId",
          "documentation":"<p>The unique identifier of a specific alarm contributor to filter the alarm history results.</p>"
        },
        "AlarmTypes":{
          "shape":"AlarmTypes",
          "documentation":"<p>Use this parameter to specify whether you want the operation to return metric alarms or composite alarms. If you omit this parameter, only metric alarms are returned.</p>"
        },
        "HistoryItemType":{
          "shape":"HistoryItemType",
          "documentation":"<p>The type of alarm histories to retrieve.</p>"
        },
        "StartDate":{
          "shape":"Timestamp",
          "documentation":"<p>The starting date to retrieve alarm history.</p>"
        },
        "EndDate":{
          "shape":"Timestamp",
          "documentation":"<p>The ending date to retrieve alarm history.</p>"
        },
        "MaxRecords":{
          "shape":"MaxRecords",
          "documentation":"<p>The maximum number of alarm history records to retrieve.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token returned by a previous call to indicate that there is more data available.</p>"
        },
        "ScanBy":{
          "shape":"ScanBy",
          "documentation":"<p>Specified whether to return the newest or oldest alarm history first. Specify <code>TimestampDescending</code> to have the newest event history returned first, and specify <code>TimestampAscending</code> to have the oldest history returned first.</p>"
        }
      }
    },
    "DescribeAlarmHistoryOutput":{
      "type":"structure",
      "members":{
        "AlarmHistoryItems":{
          "shape":"AlarmHistoryItems",
          "documentation":"<p>The alarm histories, in JSON format.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token that marks the start of the next batch of returned results.</p>"
        }
      }
    },
    "DescribeAlarmsForMetricInput":{
      "type":"structure",
      "required":[
        "MetricName",
        "Namespace"
      ],
      "members":{
        "MetricName":{
          "shape":"MetricName",
          "documentation":"<p>The name of the metric.</p>"
        },
        "Namespace":{
          "shape":"Namespace",
          "documentation":"<p>The namespace of the metric.</p>"
        },
        "Statistic":{
          "shape":"Statistic",
          "documentation":"<p>The statistic for the metric, other than percentiles. For percentile statistics, use <code>ExtendedStatistics</code>.</p>"
        },
        "ExtendedStatistic":{
          "shape":"ExtendedStatistic",
          "documentation":"<p>The percentile statistic for the metric. Specify a value between p0.0 and p100.</p>"
        },
        "Dimensions":{
          "shape":"Dimensions",
          "documentation":"<p>The dimensions associated with the metric. If the metric has any associated dimensions, you must specify them in order for the call to succeed.</p>"
        },
        "Period":{
          "shape":"Period",
          "documentation":"<p>The period, in seconds, over which the statistic is applied.</p>"
        },
        "Unit":{
          "shape":"StandardUnit",
          "documentation":"<p>The unit for the metric.</p>"
        }
      }
    },
    "DescribeAlarmsForMetricOutput":{
      "type":"structure",
      "members":{
        "MetricAlarms":{
          "shape":"MetricAlarms",
          "documentation":"<p>The information for each alarm with the specified metric.</p>"
        }
      }
    },
    "DescribeAlarmsInput":{
      "type":"structure",
      "members":{
        "AlarmNames":{
          "shape":"AlarmNames",
          "documentation":"<p>The names of the alarms to retrieve information about.</p>"
        },
        "AlarmNamePrefix":{
          "shape":"AlarmNamePrefix",
          "documentation":"<p>An alarm name prefix. If you specify this parameter, you receive information about all alarms that have names that start with this prefix.</p> <p>If this parameter is specified, you cannot specify <code>AlarmNames</code>.</p>"
        },
        "AlarmTypes":{
          "shape":"AlarmTypes",
          "documentation":"<p>Use this parameter to specify whether you want the operation to return metric alarms or composite alarms. If you omit this parameter, only metric alarms are returned, even if composite alarms exist in the account.</p> <p>For example, if you omit this parameter or specify <code>MetricAlarms</code>, the operation returns only a list of metric alarms. It does not return any composite alarms, even if composite alarms exist in the account.</p> <p>If you specify <code>CompositeAlarms</code>, the operation returns only a list of composite alarms, and does not return any metric alarms.</p>"
        },
        "ChildrenOfAlarmName":{
          "shape":"AlarmName",
          "documentation":"<p>If you use this parameter and specify the name of a composite alarm, the operation returns information about the \"children\" alarms of the alarm you specify. These are the metric alarms and composite alarms referenced in the <code>AlarmRule</code> field of the composite alarm that you specify in <code>ChildrenOfAlarmName</code>. Information about the composite alarm that you name in <code>ChildrenOfAlarmName</code> is not returned.</p> <p>If you specify <code>ChildrenOfAlarmName</code>, you cannot specify any other parameters in the request except for <code>MaxRecords</code> and <code>NextToken</code>. If you do so, you receive a validation error.</p> <note> <p>Only the <code>Alarm Name</code>, <code>ARN</code>, <code>StateValue</code> (OK/ALARM/INSUFFICIENT_DATA), and <code>StateUpdatedTimestamp</code> information are returned by this operation when you use this parameter. To get complete information about these alarms, perform another <code>DescribeAlarms</code> operation and specify the parent alarm names in the <code>AlarmNames</code> parameter.</p> </note>"
        },
        "ParentsOfAlarmName":{
          "shape":"AlarmName",
          "documentation":"<p>If you use this parameter and specify the name of a metric or composite alarm, the operation returns information about the \"parent\" alarms of the alarm you specify. These are the composite alarms that have <code>AlarmRule</code> parameters that reference the alarm named in <code>ParentsOfAlarmName</code>. Information about the alarm that you specify in <code>ParentsOfAlarmName</code> is not returned.</p> <p>If you specify <code>ParentsOfAlarmName</code>, you cannot specify any other parameters in the request except for <code>MaxRecords</code> and <code>NextToken</code>. If you do so, you receive a validation error.</p> <note> <p>Only the Alarm Name and ARN are returned by this operation when you use this parameter. To get complete information about these alarms, perform another <code>DescribeAlarms</code> operation and specify the parent alarm names in the <code>AlarmNames</code> parameter.</p> </note>"
        },
        "StateValue":{
          "shape":"StateValue",
          "documentation":"<p>Specify this parameter to receive information only about alarms that are currently in the state that you specify.</p>"
        },
        "ActionPrefix":{
          "shape":"ActionPrefix",
          "documentation":"<p>Use this parameter to filter the results of the operation to only those alarms that use a certain alarm action. For example, you could specify the ARN of an SNS topic to find all alarms that send notifications to that topic.</p>"
        },
        "MaxRecords":{
          "shape":"MaxRecords",
          "documentation":"<p>The maximum number of alarm descriptions to retrieve.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token returned by a previous call to indicate that there is more data available.</p>"
        }
      }
    },
    "DescribeAlarmsOutput":{
      "type":"structure",
      "members":{
        "CompositeAlarms":{
          "shape":"CompositeAlarms",
          "documentation":"<p>The information about any composite alarms returned by the operation.</p>"
        },
        "MetricAlarms":{
          "shape":"MetricAlarms",
          "documentation":"<p>The information about any metric alarms returned by the operation.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>The token that marks the start of the next batch of returned results.</p>"
        }
      }
    },
    "DescribeAnomalyDetectorsInput":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>Use the token returned by the previous operation to request the next page of results.</p>"
        },
        "MaxResults":{
          "shape":"MaxReturnedResultsCount",
          "documentation":"<p>The maximum number of results to return in one operation. The maximum value that you can specify is 100.</p> <p>To retrieve the remaining results, make another call with the returned <code>NextToken</code> value. </p>"
        },
        "Namespace":{
          "shape":"Namespace",
          "documentation":"<p>Limits the results to only the anomaly detection models that are associated with the specified namespace.</p>"
        },
        "MetricName":{
          "shape":"MetricName",
          "documentation":"<p>Limits the results to only the anomaly detection models that are associated with the specified metric name. If there are multiple metrics with this name in different namespaces that have anomaly detection models, they're all returned.</p>"
        },
        "Dimensions":{
          "shape":"Dimensions",
          "documentation":"<p>Limits the results to only the anomaly detection models that are associated with the specified metric dimensions. If there are multiple metrics that have these dimensions and have anomaly detection models associated, they're all returned.</p>"
        },
        "AnomalyDetectorTypes":{
          "shape":"AnomalyDetectorTypes",
          "documentation":"<p>The anomaly detector types to request when using <code>DescribeAnomalyDetectorsInput</code>. If empty, defaults to <code>SINGLE_METRIC</code>.</p>"
        }
      }
    },
    "DescribeAnomalyDetectorsOutput":{
      "type":"structure",
      "members":{
        "AnomalyDetectors":{
          "shape":"AnomalyDetectors",
          "documentation":"<p>The list of anomaly detection models returned by the operation.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>A token that you can use in a subsequent operation to retrieve the next set of results.</p>"
        }
      }
    },
    "DescribeInsightRulesInput":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>Include this value, if it was returned by the previous operation, to get the next set of rules.</p>"
        },
        "MaxResults":{
          "shape":"InsightRuleMaxResults",
          "documentation":"<p>The maximum number of results to return in one operation. If you omit this parameter, the default of 500 is used.</p>"
        }
      }
    },
    "DescribeInsightRulesOutput":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>If this parameter is present, it is a token that marks the start of the next batch of returned results. </p>"
        },
        "InsightRules":{
          "shape":"InsightRules",
          "documentation":"<p>The rules returned by the operation.</p>"
        }
      }
    },
    "Dimension":{
      "type":"structure",
      "required":[
        "Name",
        "Value"
      ],
      "members":{
        "Name":{
          "shape":"DimensionName",
          "documentation":"<p>The name of the dimension. Dimension names must contain only ASCII characters, must include at least one non-whitespace character, and cannot start with a colon (<code>:</code>). ASCII control characters are not supported as part of dimension names.</p>"
        },
        "Value":{
          "shape":"DimensionValue",
          "documentation":"<p>The value of the dimension. Dimension values must contain only ASCII characters and must include at least one non-whitespace character. ASCII control characters are not supported as part of dimension values.</p>"
        }
      },
      "documentation":"<p>A dimension is a name/value pair that is part of the identity of a metric. Because dimensions are part of the unique identifier for a metric, whenever you add a unique name/value pair to one of your metrics, you are creating a new variation of that metric. For example, many Amazon EC2 metrics publish <code>InstanceId</code> as a dimension name, and the actual instance ID as the value for that dimension.</p> <p>You can assign up to 30 dimensions to a metric.</p>",
      "xmlOrder":[
        "Name",
        "Value"
      ]
    },
    "DimensionFilter":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"DimensionName",
          "documentation":"<p>The dimension name to be matched.</p>"
        },
        "Value":{
          "shape":"DimensionValue",
          "documentation":"<p>The value of the dimension to be matched.</p>"
        }
      },
      "documentation":"<p>Represents filters for a dimension.</p>"
    },
    "DimensionFilters":{
      "type":"list",
      "member":{"shape":"DimensionFilter"},
      "max":10
    },
    "DimensionName":{
      "type":"string",
      "max":255,
      "min":1
    },
    "DimensionValue":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "Dimensions":{
      "type":"list",
      "member":{"shape":"Dimension"},
      "max":30
    },
    "DisableAlarmActionsInput":{
      "type":"structure",
      "required":["AlarmNames"],
      "members":{
        "AlarmNames":{
          "shape":"AlarmNames",
          "documentation":"<p>The names of the alarms.</p>"
        }
      }
    },
    "DisableInsightRulesInput":{
      "type":"structure",
      "required":["RuleNames"],
      "members":{
        "RuleNames":{
          "shape":"InsightRuleNames",
          "documentation":"<p>An array of the rule names to disable. If you need to find out the names of your rules, use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_DescribeInsightRules.html\">DescribeInsightRules</a>.</p>"
        }
      }
    },
    "DisableInsightRulesOutput":{
      "type":"structure",
      "members":{
        "Failures":{
          "shape":"BatchFailures",
          "documentation":"<p>An array listing the rules that could not be disabled. You cannot disable built-in rules.</p>"
        }
      }
    },
    "EnableAlarmActionsInput":{
      "type":"structure",
      "required":["AlarmNames"],
      "members":{
        "AlarmNames":{
          "shape":"AlarmNames",
          "documentation":"<p>The names of the alarms.</p>"
        }
      }
    },
    "EnableInsightRulesInput":{
      "type":"structure",
      "required":["RuleNames"],
      "members":{
        "RuleNames":{
          "shape":"InsightRuleNames",
          "documentation":"<p>An array of the rule names to enable. If you need to find out the names of your rules, use <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/APIReference/API_DescribeInsightRules.html\">DescribeInsightRules</a>.</p>"
        }
      }
    },
    "EnableInsightRulesOutput":{
      "type":"structure",
      "members":{
        "Failures":{
          "shape":"BatchFailures",
          "documentation":"<p>An array listing the rules that could not be enabled. You cannot disable or enable built-in rules.</p>"
        }
      }
    },
    "Entity":{
      "type":"structure",
      "members":{
        "KeyAttributes":{
          "shape":"EntityKeyAttributesMap",
          "documentation":"<p>The attributes of the entity which identify the specific entity, as a list of key-value pairs. Entities with the same <code>KeyAttributes</code> are considered to be the same entity. For an entity to be valid, the <code>KeyAttributes</code> must exist and be formatted correctly.</p> <p>There are five allowed attributes (key names): <code>Type</code>, <code>ResourceType</code>, <code>Identifier</code>, <code>Name</code>, and <code>Environment</code>.</p> <p>For details about how to use the key attributes to specify an entity, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/adding-your-own-related-telemetry.html\">How to add related information to telemetry</a> in the <i>CloudWatch User Guide</i>.</p>"
        },
        "Attributes":{
          "shape":"EntityAttributesMap",
          "documentation":"<p>Additional attributes of the entity that are not used to specify the identity of the entity. A list of key-value pairs.</p> <p>For details about how to use the attributes, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/adding-your-own-related-telemetry.html\">How to add related information to telemetry</a> in the <i>CloudWatch User Guide</i>.</p>"
        }
      },
      "documentation":"<p>An entity associated with metrics, to allow for finding related telemetry. An entity is typically a resource or service within your system. For example, metrics from an Amazon EC2 instance could be associated with that instance as the entity. Similarly, metrics from a service that you own could be associated with that service as the entity.</p>"
    },
    "EntityAttributesMap":{
      "type":"map",
      "key":{"shape":"EntityAttributesMapKeyString"},
      "value":{"shape":"EntityAttributesMapValueString"},
      "max":10,
      "min":0
    },
    "EntityAttributesMapKeyString":{
      "type":"string",
      "max":256,
      "min":1
    },
    "EntityAttributesMapValueString":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "EntityKeyAttributesMap":{
      "type":"map",
      "key":{"shape":"EntityKeyAttributesMapKeyString"},
      "value":{"shape":"EntityKeyAttributesMapValueString"},
      "max":4,
      "min":2
    },
    "EntityKeyAttributesMapKeyString":{
      "type":"string",
      "max":32,
      "min":1
    },
    "EntityKeyAttributesMapValueString":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "EntityMetricData":{
      "type":"structure",
      "members":{
        "Entity":{
          "shape":"Entity",
          "documentation":"<p>The entity associated with the metrics.</p>"
        },
        "MetricData":{
          "shape":"MetricData",
          "documentation":"<p>The metric data.</p>"
        }
      },
      "documentation":"<p>A set of metrics that are associated with an entity, such as a specific service or resource. Contains the entity and the list of metric data associated with it.</p>"
    },
    "EntityMetricDataList":{
      "type":"list",
      "member":{"shape":"EntityMetricData"}
    },
    "ErrorMessage":{
      "type":"string",
      "max":255,
      "min":1
    },
    "EvaluateLowSampleCountPercentile":{
      "type":"string",
      "max":255,
      "min":1
    },
    "EvaluationPeriods":{
      "type":"integer",
      "min":1
    },
    "EvaluationState":{
      "type":"string",
      "enum":["PARTIAL_DATA"]
    },
    "ExceptionType":{"type":"string"},
    "ExtendedStatistic":{"type":"string"},
    "ExtendedStatistics":{
      "type":"list",
      "member":{"shape":"ExtendedStatistic"},
[...]
