/*
 * Users screen styles
 *
 * Table of Contents
 *
 * Users
 * User Profile
 */


/* ==========================================================================
   Users
   ========================================================================== */

.settings {

    .user-group-header {
        margin-bottom: 0px;
        padding-bottom: 20px;
        border: 0 none;
        border-bottom: 1px solid darken($lightbrown, 10%);

        h3 {
            display: inline-block;
            margin: 0;
            color: $midbrown;
            font-weight: normal;
            font-size: 1.1em;
            line-height: 1em;
        }

    }

    .user-search {
        display: inline-block;
        float: right;

        label {
            margin: 0;
        }

        &:hover .user-search-input,
        .user-search-input:focus {
            width: 260px;
            padding: 0 10px;
        }

        .user-search-input {
            width: 0px;
            padding: 0;
            border: none;
            border-bottom: lighten($lightbrown, 2%) 1px solid;
            @include transition(width 0.2s ease-in-out);
            box-shadow: none;
        }

        .search-icon {
            @include icon($i-search, 1em, $midbrown);
        }
    }

    .users {
        padding: 0px;
        margin-top: 0px;
        list-style: none;
    }

    .user {
        display: block;
        width: 100%;
        padding: 20px;
        border: 0 none;
        border-top: 1px solid $lightgrey;

        &:first-child {
            border: none;
        }

        .user-image {
            display: inline-block;
            width: 40px;
            height: 40px;
            margin-right: 17px;
            vertical-align: middle;
            background-color: $lightbrown;
            border-radius: 20px;

            &.invite {
                padding-top: 8px;
                text-align: center;
                @include icon($i-mail, 1em, $brown);
            }

            img {
                width: 40px;
                height: 40px;
                border-radius: 20px;
            }
        }

        .user-meta {
            display: inline-block;
            vertical-align: middle;
        }

        .user-name {
            margin: 0;
            margin-top: 0.4em;
            font-weight: 400;
            font-size: 1.2em;
            line-height: 1em;
        }

        .user-last-seen {
            line-height: 1em;
        }

    }

    .user-actions-cog {
        margin-right: 6px;
    }

    .user-actions-menu {
        top: 49px;
        right: 69px;
        width: 145px;
        .delete {
            &:hover {
                background: $red;
            }
        }
    }

    .user-role {
        padding: 2px 8px;
        float: right;
        font-size: 0.8em;
        color: #fff;
        text-transform: uppercase;

        &.admin {
            background-color: #DE523A;
        }
        &.editor {
            background-color: #4A8CBD;
        }
    }

/* =============================================================================
   User Profile
   ============================================================================= */

    .user-profile-header {
        position: relative;
        max-height: 400px;
        overflow: hidden;

        // Gradient overlay
        &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 110px;
            @include linear-gradient( rgba(0,0,0,0), rgba(0,0,0,0.3) );
        }
    }

    .cover-image {
        display: block;
        line-height: 0;
        width: 100%;
        height: auto;
        min-height: 180px;
    }

    .edit-cover-image {
        position: absolute;
        right: 35px;
        bottom: 34px;
        min-height: 34px;
        height: 34px;
        background: rgba(0,0,0,0.3);
        border-radius: 0;
        color: rgba(255,255,255,0.8);
        z-index: 2;
        border-radius: $rounded;
        @include transition(
            color 0.3s ease,
            background 0.3s ease
        );
        @media (max-width: 1000px) {
            right: 15px;
        }

        &:hover {
            color: #fff;
            background: rgba(0,0,0,0.5);
        }
    }

    .user-image + .form-group {
        margin-top: 155px;
        max-width: 500px;
        @media (min-width: 651px) and (max-width: 1000px) {
            width: calc(100% - 201px);
        }
        @media (min-width: 651px) {
            min-width: 285px;
            margin-top: 0;
            top: -110px;
            left: 40px;
        }
        @media (min-width: 1001px) {
            width: calc(100% - 221px);
        }
    }

    .user-profile {
        position: relative;
        top: -110px;
        z-index: 1;
        @media (min-width: 651px) {
            padding-left: 143px;
        }

        fieldset {
            padding: 0 40px;
        }

        textarea {
            min-width: 240px;
        }
    }

    fieldset.user-details-top {

        @media (max-width: 650px) {
            margin-bottom: 10px;
        }

        @media (min-width: 651px) {
            margin-bottom: 0;
            padding: 0;
            p {
                color: #fff;
            }
        }

    }

    @media (max-width: 550px) {
        fieldset.user-details-top,
        fieldset.user-details-bottom {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .user-image {
        display: block;
        position: relative;
        width: 126px;
        height: 126px;
        float: left;
        margin-left: 34px;
        margin-right: 20px;
        text-align: center;
        border-radius: 100%;
        overflow: hidden;
        padding: 3px;
        background: #fff;
        z-index: 2;

        margin-left: -104px;

        @media (max-width: 550px) {
            margin-left: 0px;
        }

        @media (min-width: 551px) and (max-width: 650px) {
            margin-left: 20px;
        }

        .img {
            display: block;
            width: 120px;
            height: 120px;
            background-size: cover;
            background-position: center center;
            border-radius: 100%;
        }

        &:hover {
            .edit-user-image {
                opacity: 1;
            }
        }
    }

    .edit-user-image {
        @include position(absolute, 3px 3px 3px 3px);
        border-radius: 100%;
        width: calc(100% - 6px);
        background: rgba(0,0,0,0.5);
        opacity: 0;
        color: #fff;
        line-height: 120px;
        text-transform: uppercase;
        text-decoration: none;
        @include transition(opacity 0.3s ease);
    }

    @media (min-width: 651px) {
        label[for='user-name'] {
            visibility: hidden;
        }
        #user-name {
            border-color: #fff;
            font-size: 1.5rem;
            padding: 3px 12px;
        }
    }

    .user-details-bottom {
        padding: 0 40px;
        @media (min-width: 651px) {
            margin: -104px 0 0 0;
        }
    }

} // .settings

@media (max-width: 650px) {
    .users-back {
        display: none;
    }
}

@media (max-width: 650px) {
    .page-actions .user-actions-cog {
        padding: 7px 0;
        min-height: 30px;
        .icon-settings {
            margin-left: 8px;
            margin-right: 8px;
        }
    }
    .settings .user-actions-menu {
        top: 43px;
        right: 66px;
    }
    .settings-content .user-settings-header {
        height: 0;
        padding: 0;
        margin: 0;
        border-bottom: 0;
    }
    .user-settings-header .title,
    .settings-content .settings-user:before {
        display: none;
    }
}