<input type="file" name="uploadimage" class="js-fileupload main" {{bind-attr accept=acceptEncoding}}/>
{{#unless autoUpload}}
    <button type="submit" class="button-save" {{bind-attr disabled=uploadButtonDisabled}} {{action "upload"}}>
        {{uploadButtonText}}
    </button>
{{/unless}}
