<section {{bind-attr class=":js-notification message.typeClass"}}>
    <span class="notification-message">
        {{{message.message}}}
    </span>
    <a class="close" {{action "closeNotification"}}><span class="hidden">Close</span></a>
</section>