//
// Fade in
// --------------------------------------------------

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fade-in {
    animation: fade-in 0.2s;
}

@keyframes fade-in-snap {
    to {
        opacity: 1;
    }
}


//
// Fade out
// --------------------------------------------------

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.fade-out {
    animation: fade-out 0.5s;
}