<div class="modal-content" data-test-modal="confirm-delete-all">
    <header class="modal-header">
        <h1>Would you really like to delete all content from your blog?</h1>
    </header>
    <button type="button" class="close" title="Close" {{on "click" @close}}>{{svg-jar "close"}}<span class="hidden">Close</span></button>

    <div class="modal-body">
        <p>This is permanent! No backups, no restores, no magic undo button. We warned you, k?</p>
    </div>

    <div class="modal-footer">
        <button class="gh-btn" type="button" {{on "click" @close}}><span>Cancel</span></button>
        <GhTaskButton @buttonText="Delete" @successText="Deleted" @task={{this.deleteAllTask}} @class="gh-btn gh-btn-red gh-btn-icon" data-test-button="confirm" />
    </div>
</div>