<!-- start: #sidebar -->
<aside id="sidebar" role="complementary" class="grid-25 tablet-grid-50">

	<!-- start: .widget_ep_social -->
	<section class="widget widget_ep_social">
		<h4 class="widget-title title bordered">Follow me!</h4>
		<div class="icons">
			<a href="#" class="twitter" target="_blank">
				<i class="fa fa-twitter"></i>
				<p>Twitter<span>Follow me!</span></p>
			</a>
			<a href="#" class="facebook" target="_blank">
				<i class="fa fa-facebook"></i>
				<p>Facebook<span>LIKE!</span></p>
			</a>
			<a href="#" class="dribbble" target="_blank">
				<i class="fa fa-dribbble"></i>
				<p>Dribbble<span>OUR CHANNEL!</span></p>
			</a>
			<a href="#" class="custom" target="_blank" style="background: #C7C5B3;">
				<i class="fa fa-instagram"></i>
				<p>Instagram<span>See more photos!</span></p>
			</a>
			<a href="{{@blog.url}}/rss" class="rss" target="_blank">
				<i class="fa fa-rss"></i>
				<p>RSS<span>Get our latest news!</span></p>
			</a>
			
			<!-- Uncomment to activate -->
			
			<!--<a href="#" class="pinterest" target="_blank">
				<i class="fa fa-pinterest"></i>
				<p>Pinterest<span>Pin it!</span></p>
			</a>
			
			<a href="#" class="tumblr" target="_blank">
				<i class="fa fa-tumblr"></i>
				<p>Tumblr<span>Visit me!</span></p>
			</a>
			
			<a href="#" class="youtube" target="_blank">
				<i class="fa fa-youtube"></i>
				<p>Youtube<span>Check my channel!</span></p>
			</a>
			
			
			<a href="#" class="googleplus" target="_blank">
				<i class="fa fa-google-plus"></i>
				<p>Google Plus<span>Share This!</span></p>
			</a>
			
			<a href="#" class="flickr" target="_blank">
				<i class="fa fa-flickr"></i>
				<p>Flickr<span>See more photos!</span></p>
			</a>-->
			
			
		</div>
		<div class="clear"></div>
	</section>
	<!-- end: .widget_ep_social -->

	<!-- start: .widget_text -->
	<section class="widget widget_text">
		<h4 class="widget-title title bordered">Facebook</h4>
		<div class="fb-page" data-href="https://www.facebook.com/facebook" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div></div>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<div class="clear"></div>
	</section>
	<!-- end: .widget_text -->
	
	<!-- start: .widget_text -->
	<section class="widget widget_text">
		<h4 class="widget-title title bordered">Twitter</h4>
		
		<div class="textwidget">
			<a class="twitter-timeline" href="https://twitter.com/WordPress" data-widget-id="644274778728177664">Tweets by	 @WordPress.</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
		
		<div class="clear"></div>
	</section>
	<!-- end: .widget_text -->

	<!-- start: .widget_text -->
	<section class="widget widget_text">
		<h4 class="widget-title title bordered">ABOUT SYMMETRIC</h4>

		<div class="textwidget">
			<p><img src="{{@blog.url}}/assets/images/about.jpg"></p>
			<p>Originally opened in Dyker Heights, Brooklyn in November 2002. And we quickly outgrew that location and moved to the Bay Ridge area. We have been an independently owned & operated magazine store serving the community for a decade.</p>
		</div>
		
		<div class="clear"></div>
	</section>
	<!-- end: .widget_text -->
	
	
	<!-- start: .widget_tag_cloud -->
	<section class="widget widget_tag_cloud">
		<h4 class="widget-title title bordered">Tag Cloud</h4>
		<div class="feed"></div>
		<div class="clear"></div>
	</section>
	<!-- end: .widget_tag_cloud -->	
	
	<!-- start: .widget_text -->
	<section class="widget widget_text">
		<h4 class="widget-title title bordered">ADVERTISING</h4>

		<div class="textwidget">
			<a href="http://themeforest.net/user/estudiopatagon/portfolio?ref=EstudioPatagon" class="ads" target="_blank"><img src="{{asset "images/ad-250x300.jpg"}}" class="img-ad"></a>
		</div>
		
		<div class="clear"></div>
	</section>
	<!-- end: .widget_text -->
	
	<!-- start: .widget_ep_flickr -->
	<section class="widget widget_ep_flickr">
		<h4 class="widget-title title bordered">Flickr</h4>
		<ul></ul>
		<div class="clear"></div>
	</section>
	<!-- end: .widget_ep_flickr -->
	
</aside>
<!-- end: #sidebar -->