<ul>
	<li><a href="#"><i class="icon fa fa-facebook-square"></i></a></li>
	<li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
	<li><a href="#"><i class="fa fa-pinterest-square"></i></a></li>
	<li><a href="#"><i class="fa fa-instagram"></i></a></li>
	<li><a href="#"><i class="fa fa-youtube-square"></i></a></li>
</ul>