{{#if this.showFullContentWarning}}
    <p class="gh-box gh-box-alert mt3 mb3" data-test-paywall-notice="full-content-warning">
        <strong>Free members will get the full paid post.</strong>
        This post is for paid members, but there&rsquo;s no paywall in the content &mdash; the email sent to free members won&rsquo;t be cut off. Add a public preview divider in the editor to send them a preview instead.
    </p>
{{/if}}

{{#if this.showPreviewOpportunity}}
    <p class="gh-box gh-box-tip mt3 mb3" data-test-paywall-notice="preview-opportunity">
        <strong>Send a preview to free members?</strong>
        You&rsquo;ve added a paywall to this post, but free members aren&rsquo;t receiving this email. They&rsquo;d get a preview that ends at the paywall &mdash; a proven way to convert them to paid.
        <button type="button" class="gh-btn gh-btn-link" {{on "click" this.includeFreeMembers}} data-test-button="include-free-members"><span>Include free members</span></button>
    </p>
{{/if}}

{{#if this.showPreviewConfirmation}}
    <p class="gh-box gh-box-green mt3 mb3" data-test-paywall-notice="preview-confirmation">
        <strong>Free members get a preview.</strong>
        Their email ends at the paywall with an upgrade call-to-action; paid members receive the full post.
    </p>
{{/if}}
