<div class="gh-publish-title">
    <div>Forget something?</div>
</div>
<p class="gh-publish-confirmation">
    Looks like you've got some unfinished business. There {{if (eq @tkCount 1) "is" "are" }} <strong>{{gh-pluralize @tkCount "TK reminder"}}</strong> left in your post.
</p>

<div class="gh-publish-cta">
    <button
        type="button"
        class="gh-btn gh-btn-black gh-btn-large"
        {{on "click" @close}}
    >
        <span>&larr; Back to editor</span>
    </button>
    <button
        type="button"
        class="gh-btn gh-btn-link gh-btn-large gh-publish-cta-secondary"
        {{on "click" @confirm}}
    >
        Continue to publish
    </button>
</div>