.gh-email-suppressed-page-title {
    margin-bottom: 14px;
}

.gh-email-suppressed-page-icon {
    display: block;
    width: 38px;
    height: 38px;
    margin: 0 auto 18px;
}

.gh-email-suppressed-page-text {
    padding: 0 14px;
    text-align: center;
    color: var(--grey6);
}

.gh-email-faq-page-button {
    color: var(--grey6);
    cursor: pointer;
    font-size: 1.5rem;
    text-decoration: underline;
    background: none;
    transition: color linear 100ms;
}

.gh-email-faq-page-button:hover {
    color: var(--grey5);
}
