---
lang: br
layout: default
meta_title: How to Install Ghost on Your Server - Ghost Docs
meta_description: Everything you need to get the Ghost blogging platform up and running on your local or remote environement.
heading: Installing Ghost &amp; Getting Started
subheading: The first steps to setting up your new blog for the first time.
permalink: /es/installation/linux/
chapter: installation
prev_section: windows
next_section: deploy
---

<div class="container">
    <div class="row">
        {% include subnav/installation.html %}

        <section id="content" class="col-lg-9">

            <h1 id="install-linux">Installing on Linux</h1>

            <h3>Install Node</h3>

            <ul>
                <li>Either download the <code>.tar.gz</code> archive from <a href="http://nodejs.org">http://nodejs.org</a>, or you may prefer to follow the instructions on how to <a href="https://github.com/joyent/node/wiki/Installing-Node.js-via-package-manager">install from a package manager</a> instead.</li>
                <li>Double check that you have Node and npm installed by typing <code>node -v</code> and <code>npm -v</code> into a terminal window</li>
            </ul>

            <h3>Install and Run Ghost</h3>

            <ul>
                <li>Log in to <a href="http://ghost.org">http://ghost.org</a>, and then click the blue 'Download Ghost Source Code' button</li>
                <li>On the downloads page, press the button to download the latest zip file & then extract the file to the location you want to run Ghost from</li>
                <li>In a terminal window, change directory to the root of the extracted Ghost folder</li>
                <li>In the terminal type <code>npm install --production</code> <span class="note">note the two dashes</span></li>
                <li>When npm is finished installing, type <code>npm start</code> to start Ghost in development mode</li>
                <li>In a browser, navigate to <code class="path">127.0.0.1:2368</code> to see your newly setup Ghost blog</li>
                <li>Change the url to <code class="path">127.0.0.1:2368/ghost</code> and create your admin user to login to the Ghost admin</li>
            </ul>

            <p>If you are using linux as a guest OS or through SSH and only have the terminal, then:</p>

            <ul>
                <li>Use your normal operating system to find the URL of the Ghost zip file (it changes with each version), save the url but change '/zip/' to '/archives/'</li>
                <li>In the terminal use <code>wget url-of-ghost.zip</code> to download Ghost</li>
                <li>Unzip the archive with <code>unzip -uo Ghost-#.#.#.zip -d ghost</code>, and then <code>cd ghost</code></li>
                <li>Type <code>npm install --production</code> to install Ghost <span class="note">note the two dashes</span></li>
                <li>When npm is finished installing, type <code>npm start</code> to start Ghost in development mode</li>
                <li>Ghost will now be running on localhost</li>
            </ul>

            {% if page.next_section || page.prev_section %}
                {% include pagination.html %}
            {% endif %}
        </section>
    </div>
</div>