{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-10-01",
    "endpointPrefix":"workmail",
    "jsonVersion":"1.1",
    "protocol":"json",
    "protocols":["json"],
    "serviceFullName":"Amazon WorkMail",
    "serviceId":"WorkMail",
    "signatureVersion":"v4",
    "targetPrefix":"WorkMailService",
    "uid":"workmail-2017-10-01",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AssociateDelegateToResource":{
      "name":"AssociateDelegateToResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateDelegateToResourceRequest"},
      "output":{"shape":"AssociateDelegateToResourceResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Adds a member (user or group) to the resource's set of delegates.</p>",
      "idempotent":true
    },
    "AssociateMemberToGroup":{
      "name":"AssociateMemberToGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateMemberToGroupRequest"},
      "output":{"shape":"AssociateMemberToGroupResponse"},
      "errors":[
        {"shape":"DirectoryServiceAuthenticationFailedException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Adds a member (user or group) to the group's set.</p>",
      "idempotent":true
    },
    "AssumeImpersonationRole":{
      "name":"AssumeImpersonationRole",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssumeImpersonationRoleRequest"},
      "output":{"shape":"AssumeImpersonationRoleResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Assumes an impersonation role for the given WorkMail organization. This method returns an authentication token you can use to make impersonated calls.</p>"
    },
    "CancelMailboxExportJob":{
      "name":"CancelMailboxExportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelMailboxExportJobRequest"},
      "output":{"shape":"CancelMailboxExportJobResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"EntityNotFoundException"}
      ],
      "documentation":"<p>Cancels a mailbox export job.</p> <note> <p>If the mailbox export job is near completion, it might not be possible to cancel it.</p> </note>",
      "idempotent":true
    },
    "CreateAlias":{
      "name":"CreateAlias",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAliasRequest"},
      "output":{"shape":"CreateAliasResponse"},
      "errors":[
        {"shape":"EmailAddressInUseException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"MailDomainNotFoundException"},
        {"shape":"MailDomainStateException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Adds an alias to the set of a given member (user or group) of WorkMail.</p>",
      "idempotent":true
    },
    "CreateAvailabilityConfiguration":{
      "name":"CreateAvailabilityConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAvailabilityConfigurationRequest"},
      "output":{"shape":"CreateAvailabilityConfigurationResponse"},
      "errors":[
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"NameAvailabilityException"},
        {"shape":"InvalidParameterException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates an <code>AvailabilityConfiguration</code> for the given WorkMail organization and domain.</p>",
      "idempotent":true
    },
    "CreateGroup":{
      "name":"CreateGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateGroupRequest"},
      "output":{"shape":"CreateGroupResponse"},
      "errors":[
        {"shape":"DirectoryServiceAuthenticationFailedException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"InvalidParameterException"},
        {"shape":"NameAvailabilityException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"ReservedNameException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Creates a group that can be used in WorkMail by calling the <a>RegisterToWorkMail</a> operation.</p>",
      "idempotent":true
    },
    "CreateIdentityCenterApplication":{
      "name":"CreateIdentityCenterApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateIdentityCenterApplicationRequest"},
      "output":{"shape":"CreateIdentityCenterApplicationResponse"},
      "errors":[
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p> Creates the WorkMail application in IAM Identity Center that can be used later in the WorkMail - IdC integration. For more information, see PutIdentityProviderConfiguration. This action does not affect the authentication settings for any WorkMail organizations. </p>",
      "idempotent":true
    },
    "CreateImpersonationRole":{
      "name":"CreateImpersonationRole",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateImpersonationRoleRequest"},
      "output":{"shape":"CreateImpersonationRoleResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates an impersonation role for the given WorkMail organization.</p> <p> <i>Idempotency</i> ensures that an API request completes no more than one time. With an idempotent request, if the original request completes successfully, any subsequent retries also complete successfully without performing any further actions.</p>"
    },
    "CreateMobileDeviceAccessRule":{
      "name":"CreateMobileDeviceAccessRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateMobileDeviceAccessRuleRequest"},
      "output":{"shape":"CreateMobileDeviceAccessRuleResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"LimitExceededException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Creates a new mobile device access rule for the specified WorkMail organization.</p>"
    },
    "CreateOrganization":{
      "name":"CreateOrganization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateOrganizationRequest"},
      "output":{"shape":"CreateOrganizationResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"DirectoryInUseException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"LimitExceededException"},
        {"shape":"NameAvailabilityException"}
      ],
      "documentation":"<p>Creates a new WorkMail organization. Optionally, you can choose to associate an existing AWS Directory Service directory with your organization. If an AWS Directory Service directory ID is specified, the organization alias must match the directory alias. If you choose not to associate an existing directory with your organization, then we create a new WorkMail directory for you. For more information, see <a href=\"https://docs.aws.amazon.com/workmail/latest/adminguide/add_new_organization.html\">Adding an organization</a> in the <i>WorkMail Administrator Guide</i>.</p> <p>You can associate multiple email domains with an organization, then choose your default email domain from the WorkMail console. You can also associate a domain that is managed in an Amazon Route 53 public hosted zone. For more information, see <a href=\"https://docs.aws.amazon.com/workmail/latest/adminguide/add_domain.html\">Adding a domain</a> and <a href=\"https://docs.aws.amazon.com/workmail/latest/adminguide/default_domain.html\">Choosing the default domain</a> in the <i>WorkMail Administrator Guide</i>.</p> <p>Optionally, you can use a customer managed key from AWS Key Management Service (AWS KMS) to encrypt email for your organization. If you don't associate an AWS KMS key, WorkMail creates a default, AWS managed key for you.</p>",
      "idempotent":true
    },
    "CreateResource":{
      "name":"CreateResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateResourceRequest"},
      "output":{"shape":"CreateResourceResponse"},
      "errors":[
        {"shape":"DirectoryServiceAuthenticationFailedException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"InvalidParameterException"},
        {"shape":"NameAvailabilityException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"ReservedNameException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Creates a new WorkMail resource.</p>",
      "idempotent":true
    },
    "CreateUser":{
      "name":"CreateUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateUserRequest"},
      "output":{"shape":"CreateUserResponse"},
      "errors":[
        {"shape":"DirectoryServiceAuthenticationFailedException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidPasswordException"},
        {"shape":"NameAvailabilityException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"ReservedNameException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Creates a user who can be used in WorkMail by calling the <a>RegisterToWorkMail</a> operation.</p>",
      "idempotent":true
    },
    "DeleteAccessControlRule":{
      "name":"DeleteAccessControlRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAccessControlRuleRequest"},
      "output":{"shape":"DeleteAccessControlRuleResponse"},
      "errors":[
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Deletes an access control rule for the specified WorkMail organization.</p> <note> <p>Deleting already deleted and non-existing rules does not produce an error. In those cases, the service sends back an HTTP 200 response with an empty HTTP body.</p> </note>"
    },
    "DeleteAlias":{
      "name":"DeleteAlias",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAliasRequest"},
      "output":{"shape":"DeleteAliasResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Remove one or more specified aliases from a set of aliases for a given user.</p>",
      "idempotent":true
    },
    "DeleteAvailabilityConfiguration":{
      "name":"DeleteAvailabilityConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAvailabilityConfigurationRequest"},
      "output":{"shape":"DeleteAvailabilityConfigurationResponse"},
      "errors":[
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Deletes the <code>AvailabilityConfiguration</code> for the given WorkMail organization and domain.</p>",
      "idempotent":true
    },
    "DeleteEmailMonitoringConfiguration":{
      "name":"DeleteEmailMonitoringConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEmailMonitoringConfigurationRequest"},
      "output":{"shape":"DeleteEmailMonitoringConfigurationResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Deletes the email monitoring configuration for a specified organization.</p>",
      "idempotent":true
    },
    "DeleteGroup":{
      "name":"DeleteGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteGroupRequest"},
      "output":{"shape":"DeleteGroupResponse"},
      "errors":[
        {"shape":"DirectoryServiceAuthenticationFailedException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Deletes a group from WorkMail.</p>",
      "idempotent":true
    },
    "DeleteIdentityCenterApplication":{
      "name":"DeleteIdentityCenterApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteIdentityCenterApplicationRequest"},
      "output":{"shape":"DeleteIdentityCenterApplicationResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p> Deletes the IAM Identity Center application from WorkMail. This action does not affect the authentication settings for any WorkMail organizations. </p>",
      "idempotent":true
    },
    "DeleteIdentityProviderConfiguration":{
      "name":"DeleteIdentityProviderConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteIdentityProviderConfigurationRequest"},
      "output":{"shape":"DeleteIdentityProviderConfigurationResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p> Disables the integration between IdC and WorkMail. Authentication will continue with the directory as it was before the IdC integration. You might have to reset your directory passwords and reconfigure your desktop and mobile email clients. </p>",
      "idempotent":true
    },
    "DeleteImpersonationRole":{
      "name":"DeleteImpersonationRole",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteImpersonationRoleRequest"},
      "output":{"shape":"DeleteImpersonationRoleResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Deletes an impersonation role for the given WorkMail organization.</p>"
    },
    "DeleteMailboxPermissions":{
      "name":"DeleteMailboxPermissions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteMailboxPermissionsRequest"},
      "output":{"shape":"DeleteMailboxPermissionsResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Deletes permissions granted to a member (user or group).</p>",
      "idempotent":true
    },
    "DeleteMobileDeviceAccessOverride":{
      "name":"DeleteMobileDeviceAccessOverride",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteMobileDeviceAccessOverrideRequest"},
      "output":{"shape":"DeleteMobileDeviceAccessOverrideResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"EntityNotFoundException"}
      ],
      "documentation":"<p>Deletes the mobile device access override for the given WorkMail organization, user, and device.</p> <note> <p>Deleting already deleted and non-existing overrides does not produce an error. In those cases, the service sends back an HTTP 200 response with an empty HTTP body.</p> </note>"
    },
    "DeleteMobileDeviceAccessRule":{
      "name":"DeleteMobileDeviceAccessRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteMobileDeviceAccessRuleRequest"},
      "output":{"shape":"DeleteMobileDeviceAccessRuleResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Deletes a mobile device access rule for the specified WorkMail organization.</p> <note> <p>Deleting already deleted and non-existing rules does not produce an error. In those cases, the service sends back an HTTP 200 response with an empty HTTP body.</p> </note>"
    },
    "DeleteOrganization":{
      "name":"DeleteOrganization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteOrganizationRequest"},
      "output":{"shape":"DeleteOrganizationResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Deletes an WorkMail organization and all underlying AWS resources managed by WorkMail as part of the organization. You can choose whether to delete the associated directory. For more information, see <a href=\"https://docs.aws.amazon.com/workmail/latest/adminguide/remove_organization.html\">Removing an organization</a> in the <i>WorkMail Administrator Guide</i>.</p>",
      "idempotent":true
    },
    "DeletePersonalAccessToken":{
      "name":"DeletePersonalAccessToken",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePersonalAccessTokenRequest"},
      "output":{"shape":"DeletePersonalAccessTokenResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p> Deletes the Personal Access Token from the provided WorkMail Organization. </p>",
      "idempotent":true
    },
    "DeleteResource":{
      "name":"DeleteResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteResourceRequest"},
      "output":{"shape":"DeleteResourceResponse"},
      "errors":[
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Deletes the specified resource.</p>",
      "idempotent":true
    },
    "DeleteRetentionPolicy":{
      "name":"DeleteRetentionPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRetentionPolicyRequest"},
      "output":{"shape":"DeleteRetentionPolicyResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Deletes the specified retention policy from the specified organization.</p>",
      "idempotent":true
    },
    "DeleteUser":{
      "name":"DeleteUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteUserRequest"},
      "output":{"shape":"DeleteUserResponse"},
      "errors":[
        {"shape":"DirectoryServiceAuthenticationFailedException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Deletes a user from WorkMail and all subsequent systems. Before you can delete a user, the user state must be <code>DISABLED</code>. Use the <a>DescribeUser</a> action to confirm the user state.</p> <p>Deleting a user is permanent and cannot be undone. WorkMail archives user mailboxes for 30 days before they are permanently removed.</p>",
      "idempotent":true
    },
    "DeregisterFromWorkMail":{
      "name":"DeregisterFromWorkMail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterFromWorkMailRequest"},
      "output":{"shape":"DeregisterFromWorkMailResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Mark a user, group, or resource as no longer used in WorkMail. This action disassociates the mailbox and schedules it for clean-up. WorkMail keeps mailboxes for 30 days before they are permanently removed. The functionality in the console is <i>Disable</i>.</p>",
      "idempotent":true
    },
    "DeregisterMailDomain":{
      "name":"DeregisterMailDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterMailDomainRequest"},
      "output":{"shape":"DeregisterMailDomainResponse"},
      "errors":[
        {"shape":"MailDomainInUseException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidCustomSesConfigurationException"}
      ],
      "documentation":"<p>Removes a domain from WorkMail, stops email routing to WorkMail, and removes the authorization allowing WorkMail use. SES keeps the domain because other applications may use it. You must first remove any email address used by WorkMail entities before you remove the domain.</p>",
      "idempotent":true
    },
    "DescribeEmailMonitoringConfiguration":{
      "name":"DescribeEmailMonitoringConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEmailMonitoringConfigurationRequest"},
      "output":{"shape":"DescribeEmailMonitoringConfigurationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Describes the current email monitoring configuration for a specified organization.</p>",
      "idempotent":true
    },
    "DescribeEntity":{
      "name":"DescribeEntity",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEntityRequest"},
      "output":{"shape":"DescribeEntityResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Returns basic details about an entity in WorkMail. </p>",
      "idempotent":true
    },
    "DescribeGroup":{
      "name":"DescribeGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeGroupRequest"},
      "output":{"shape":"DescribeGroupResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Returns the data available for the group.</p>",
      "idempotent":true
    },
    "DescribeIdentityProviderConfiguration":{
      "name":"DescribeIdentityProviderConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeIdentityProviderConfigurationRequest"},
      "output":{"shape":"DescribeIdentityProviderConfigurationResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Returns detailed information on the current IdC setup for the WorkMail organization. </p>",
      "idempotent":true
    },
    "DescribeInboundDmarcSettings":{
      "name":"DescribeInboundDmarcSettings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInboundDmarcSettingsRequest"},
      "output":{"shape":"DescribeInboundDmarcSettingsResponse"},
      "errors":[
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Lists the settings in a DMARC policy for a specified organization.</p>",
      "idempotent":true
    },
    "DescribeMailboxExportJob":{
      "name":"DescribeMailboxExportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeMailboxExportJobRequest"},
      "output":{"shape":"DescribeMailboxExportJobResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"EntityNotFoundException"}
      ],
      "documentation":"<p>Describes the current status of a mailbox export job.</p>",
      "idempotent":true
    },
    "DescribeOrganization":{
      "name":"DescribeOrganization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeOrganizationRequest"},
      "output":{"shape":"DescribeOrganizationResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"}
      ],
      "documentation":"<p>Provides more information regarding a given organization based on its identifier.</p>",
      "idempotent":true
    },
    "DescribeResource":{
      "name":"DescribeResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeResourceRequest"},
      "output":{"shape":"DescribeResourceResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Returns the data available for the resource.</p>",
      "idempotent":true
    },
    "DescribeUser":{
      "name":"DescribeUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeUserRequest"},
      "output":{"shape":"DescribeUserResponse"},
      "errors":[
        {"shape":"DirectoryServiceAuthenticationFailedException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Provides information regarding the user.</p>",
      "idempotent":true
    },
    "DisassociateDelegateFromResource":{
      "name":"DisassociateDelegateFromResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateDelegateFromResourceRequest"},
      "output":{"shape":"DisassociateDelegateFromResourceResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Removes a member from the resource's set of delegates.</p>",
      "idempotent":true
    },
    "DisassociateMemberFromGroup":{
      "name":"DisassociateMemberFromGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateMemberFromGroupRequest"},
      "output":{"shape":"DisassociateMemberFromGroupResponse"},
      "errors":[
        {"shape":"DirectoryServiceAuthenticationFailedException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Removes a member from a group.</p>",
      "idempotent":true
    },
    "GetAccessControlEffect":{
      "name":"GetAccessControlEffect",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAccessControlEffectRequest"},
      "output":{"shape":"GetAccessControlEffectResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Gets the effects of an organization's access control rules as they apply to a specified IPv4 address, access protocol action, and user ID or impersonation role ID. You must provide either the user ID or impersonation role ID. Impersonation role ID can only be used with Action EWS.</p>"
    },
    "GetDefaultRetentionPolicy":{
      "name":"GetDefaultRetentionPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDefaultRetentionPolicyRequest"},
      "output":{"shape":"GetDefaultRetentionPolicyResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"EntityNotFoundException"}
      ],
      "documentation":"<p>Gets the default retention policy details for the specified organization.</p>",
      "idempotent":true
    },
    "GetImpersonationRole":{
      "name":"GetImpersonationRole",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetImpersonationRoleRequest"},
      "output":{"shape":"GetImpersonationRoleResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets the impersonation role details for the given WorkMail organization.</p>"
    },
    "GetImpersonationRoleEffect":{
      "name":"GetImpersonationRoleEffect",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetImpersonationRoleEffectRequest"},
      "output":{"shape":"GetImpersonationRoleEffectResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"}
      ],
      "documentation":"<p>Tests whether the given impersonation role can impersonate a target user.</p>"
    },
    "GetMailDomain":{
      "name":"GetMailDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMailDomainRequest"},
      "output":{"shape":"GetMailDomainResponse"},
      "errors":[
        {"shape":"MailDomainNotFoundException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Gets details for a mail domain, including domain records required to configure your domain with recommended security.</p>",
      "idempotent":true
    },
    "GetMailboxDetails":{
      "name":"GetMailboxDetails",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMailboxDetailsRequest"},
      "output":{"shape":"GetMailboxDetailsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"EntityNotFoundException"}
      ],
      "documentation":"<p>Requests a user's mailbox details for a specified organization and user.</p>",
      "idempotent":true
    },
    "GetMobileDeviceAccessEffect":{
      "name":"GetMobileDeviceAccessEffect",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMobileDeviceAccessEffectRequest"},
      "output":{"shape":"GetMobileDeviceAccessEffectResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Simulates the effect of the mobile device access rules for the given attributes of a sample access event. Use this method to test the effects of the current set of mobile device access rules for the WorkMail organization for a particular user's attributes.</p>"
    },
    "GetMobileDeviceAccessOverride":{
      "name":"GetMobileDeviceAccessOverride",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMobileDeviceAccessOverrideRequest"},
      "output":{"shape":"GetMobileDeviceAccessOverrideResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets the mobile device access override for the given WorkMail organization, user, and device.</p>"
    },
    "GetPersonalAccessTokenMetadata":{
      "name":"GetPersonalAccessTokenMetadata",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPersonalAccessTokenMetadataRequest"},
      "output":{"shape":"GetPersonalAccessTokenMetadataResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p> Requests details of a specific Personal Access Token within the WorkMail organization. </p>",
      "idempotent":true
    },
    "ListAccessControlRules":{
      "name":"ListAccessControlRules",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAccessControlRulesRequest"},
      "output":{"shape":"ListAccessControlRulesResponse"},
      "errors":[
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Lists the access control rules for the specified organization.</p>"
    },
    "ListAliases":{
      "name":"ListAliases",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAliasesRequest"},
      "output":{"shape":"ListAliasesResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Creates a paginated call to list the aliases associated with a given entity.</p>",
      "idempotent":true
    },
    "ListAvailabilityConfigurations":{
      "name":"ListAvailabilityConfigurations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAvailabilityConfigurationsRequest"},
      "output":{"shape":"ListAvailabilityConfigurationsResponse"},
      "errors":[
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>List all the <code>AvailabilityConfiguration</code>'s for the given WorkMail organization.</p>"
    },
    "ListGroupMembers":{
      "name":"ListGroupMembers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListGroupMembersRequest"},
      "output":{"shape":"ListGroupMembersResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Returns an overview of the members of a group. Users and groups can be members of a group.</p>",
      "idempotent":true
    },
    "ListGroups":{
      "name":"ListGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListGroupsRequest"},
      "output":{"shape":"ListGroupsResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Returns summaries of the organization's groups.</p>",
      "idempotent":true
    },
    "ListGroupsForEntity":{
      "name":"ListGroupsForEntity",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListGroupsForEntityRequest"},
      "output":{"shape":"ListGroupsForEntityResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Returns all the groups to which an entity belongs.</p>",
      "idempotent":true
    },
    "ListImpersonationRoles":{
      "name":"ListImpersonationRoles",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListImpersonationRolesRequest"},
      "output":{"shape":"ListImpersonationRolesResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Lists all the impersonation roles for the given WorkMail organization.</p>"
    },
    "ListMailDomains":{
      "name":"ListMailDomains",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListMailDomainsRequest"},
      "output":{"shape":"ListMailDomainsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Lists the mail domains in a given WorkMail organization.</p>",
      "idempotent":true
    },
    "ListMailboxExportJobs":{
      "name":"ListMailboxExportJobs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListMailboxExportJobsRequest"},
      "output":{"shape":"ListMailboxExportJobsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Lists the mailbox export jobs started for the specified organization within the last seven days.</p>",
      "idempotent":true
    },
    "ListMailboxPermissions":{
      "name":"ListMailboxPermissions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListMailboxPermissionsRequest"},
      "output":{"shape":"ListMailboxPermissionsResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Lists the mailbox permissions associated with a user, group, or resource mailbox.</p>",
      "idempotent":true
    },
    "ListMobileDeviceAccessOverrides":{
      "name":"ListMobileDeviceAccessOverrides",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListMobileDeviceAccessOverridesRequest"},
      "output":{"shape":"ListMobileDeviceAccessOverridesResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"EntityNotFoundException"}
      ],
      "documentation":"<p>Lists all the mobile device access overrides for any given combination of WorkMail organization, user, or device.</p>"
    },
    "ListMobileDeviceAccessRules":{
      "name":"ListMobileDeviceAccessRules",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListMobileDeviceAccessRulesRequest"},
      "output":{"shape":"ListMobileDeviceAccessRulesResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Lists the mobile device access rules for the specified WorkMail organization.</p>"
    },
    "ListOrganizations":{
      "name":"ListOrganizations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListOrganizationsRequest"},
      "output":{"shape":"ListOrganizationsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Returns summaries of the customer's organizations.</p>",
      "idempotent":true
    },
    "ListPersonalAccessTokens":{
      "name":"ListPersonalAccessTokens",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPersonalAccessTokensRequest"},
      "output":{"shape":"ListPersonalAccessTokensResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p> Returns a summary of your Personal Access Tokens. </p>",
      "idempotent":true
    },
    "ListResourceDelegates":{
      "name":"ListResourceDelegates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListResourceDelegatesRequest"},
      "output":{"shape":"ListResourceDelegatesResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Lists the delegates associated with a resource. Users and groups can be resource delegates and answer requests on behalf of the resource.</p>",
      "idempotent":true
    },
    "ListResources":{
      "name":"ListResources",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListResourcesRequest"},
      "output":{"shape":"ListResourcesResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Returns summaries of the organization's resources.</p>",
      "idempotent":true
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists the tags applied to an WorkMail organization resource.</p>"
    },
    "ListUsers":{
      "name":"ListUsers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListUsersRequest"},
      "output":{"shape":"ListUsersResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Returns summaries of the organization's users.</p>",
      "idempotent":true
    },
    "PutAccessControlRule":{
      "name":"PutAccessControlRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutAccessControlRuleRequest"},
      "output":{"shape":"PutAccessControlRuleResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"InvalidParameterException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Adds a new access control rule for the specified organization. The rule allows or denies access to the organization for the specified IPv4 addresses, access protocol actions, user IDs and impersonation IDs. Adding a new rule with the same name as an existing rule replaces the older rule.</p>"
    },
    "PutEmailMonitoringConfiguration":{
      "name":"PutEmailMonitoringConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutEmailMonitoringConfigurationRequest"},
      "output":{"shape":"PutEmailMonitoringConfigurationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Creates or updates the email monitoring configuration for a specified organization.</p>",
      "idempotent":true
    },
    "PutIdentityProviderConfiguration":{
      "name":"PutIdentityProviderConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutIdentityProviderConfigurationRequest"},
      "output":{"shape":"PutIdentityProviderConfigurationResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Enables integration between IAM Identity Center (IdC) and WorkMail to proxy authentication requests for mailbox users. You can connect your IdC directory or your external directory to WorkMail through IdC and manage access to WorkMail mailboxes in a single place. For enhanced protection, you could enable Multifactor Authentication (MFA) and Personal Access Tokens. </p>",
      "idempotent":true
    },
    "PutInboundDmarcSettings":{
      "name":"PutInboundDmarcSettings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutInboundDmarcSettingsRequest"},
      "output":{"shape":"PutInboundDmarcSettingsResponse"},
      "errors":[
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Enables or disables a DMARC policy for a given organization.</p>",
      "idempotent":true
    },
    "PutMailboxPermissions":{
      "name":"PutMailboxPermissions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutMailboxPermissionsRequest"},
      "output":{"shape":"PutMailboxPermissionsResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Sets permissions for a user, group, or resource. This replaces any pre-existing permissions.</p>",
      "idempotent":true
    },
    "PutMobileDeviceAccessOverride":{
      "name":"PutMobileDeviceAccessOverride",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutMobileDeviceAccessOverrideRequest"},
      "output":{"shape":"PutMobileDeviceAccessOverrideResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"}
      ],
      "documentation":"<p>Creates or updates a mobile device access override for the given WorkMail organization, user, and device.</p>"
    },
    "PutRetentionPolicy":{
      "name":"PutRetentionPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutRetentionPolicyRequest"},
      "output":{"shape":"PutRetentionPolicyResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Puts a retention policy to the specified organization.</p>",
      "idempotent":true
    },
    "RegisterMailDomain":{
      "name":"RegisterMailDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterMailDomainRequest"},
      "output":{"shape":"RegisterMailDomainResponse"},
      "errors":[
        {"shape":"MailDomainInUseException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Registers a new domain in WorkMail and SES, and configures it for use by WorkMail. Emails received by SES for this domain are routed to the specified WorkMail organization, and WorkMail has permanent permission to use the specified domain for sending your users' emails.</p>",
      "idempotent":true
    },
    "RegisterToWorkMail":{
      "name":"RegisterToWorkMail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterToWorkMailRequest"},
      "output":{"shape":"RegisterToWorkMailResponse"},
      "errors":[
        {"shape":"DirectoryServiceAuthenticationFailedException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"EmailAddressInUseException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"EntityAlreadyRegisteredException"},
        {"shape":"InvalidParameterException"},
        {"shape":"MailDomainNotFoundException"},
        {"shape":"MailDomainStateException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Registers an existing and disabled user, group, or resource for WorkMail use by associating a mailbox and calendaring capabilities. It performs no change if the user, group, or resource is enabled and fails if the user, group, or resource is deleted. This operation results in the accumulation of costs. For more information, see <a href=\"https://aws.amazon.com/workmail/pricing\">Pricing</a>. The equivalent console functionality for this operation is <i>Enable</i>.</p> <p>Users can either be created by calling the <a>CreateUser</a> API operation or they can be synchronized from your directory. For more information, see <a>DeregisterFromWorkMail</a>.</p>",
      "idempotent":true
    },
    "ResetPassword":{
      "name":"ResetPassword",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResetPasswordRequest"},
      "output":{"shape":"ResetPasswordResponse"},
      "errors":[
        {"shape":"DirectoryServiceAuthenticationFailedException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidPasswordException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Allows the administrator to reset the password for a user.</p>",
      "idempotent":true
    },
    "StartMailboxExportJob":{
      "name":"StartMailboxExportJob",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartMailboxExportJobRequest"},
      "output":{"shape":"StartMailboxExportJobResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Starts a mailbox export job to export MIME-format email messages and calendar items from the specified mailbox to the specified Amazon Simple Storage Service (Amazon S3) bucket. For more information, see <a href=\"https://docs.aws.amazon.com/workmail/latest/adminguide/mail-export.html\">Exporting mailbox content</a> in the <i>WorkMail Administrator Guide</i>.</p>",
      "idempotent":true
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"TooManyTagsException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Applies the specified tags to the specified WorkMailorganization resource.</p>"
    },
    "TestAvailabilityConfiguration":{
      "name":"TestAvailabilityConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TestAvailabilityConfigurationRequest"},
      "output":{"shape":"TestAvailabilityConfigurationResponse"},
      "errors":[
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Performs a test on an availability provider to ensure that access is allowed. For EWS, it verifies the provided credentials can be used to successfully log in. For Lambda, it verifies that the Lambda function can be invoked and that the resource access policy was configured to deny anonymous access. An anonymous invocation is one done without providing either a <code>SourceArn</code> or <code>SourceAccount</code> header.</p> <note> <p>The request must contain either one provider definition (<code>EwsProvider</code> or <code>LambdaProvider</code>) or the <code>DomainName</code> parameter. If the <code>DomainName</code> parameter is provided, the configuration stored under the <code>DomainName</code> will be tested.</p> </note>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Untags the specified tags from the specified WorkMail organization resource.</p>"
    },
    "UpdateAvailabilityConfiguration":{
      "name":"UpdateAvailabilityConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateAvailabilityConfigurationRequest"},
      "output":{"shape":"UpdateAvailabilityConfigurationResponse"},
      "errors":[
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Updates an existing <code>AvailabilityConfiguration</code> for the given WorkMail organization and domain.</p>",
      "idempotent":true
    },
    "UpdateDefaultMailDomain":{
      "name":"UpdateDefaultMailDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDefaultMailDomainRequest"},
      "output":{"shape":"UpdateDefaultMailDomainResponse"},
      "errors":[
        {"shape":"MailDomainNotFoundException"},
        {"shape":"MailDomainStateException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Updates the default mail domain for an organization. The default mail domain is used by the WorkMail AWS Console to suggest an email address when enabling a mail user. You can only have one default domain.</p>",
      "idempotent":true
    },
    "UpdateGroup":{
      "name":"UpdateGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateGroupRequest"},
      "output":{"shape":"UpdateGroupResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Updates attributes in a group.</p>",
      "idempotent":true
    },
    "UpdateImpersonationRole":{
      "name":"UpdateImpersonationRole",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateImpersonationRoleRequest"},
      "output":{"shape":"UpdateImpersonationRoleResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Updates an impersonation role for the given WorkMail organization.</p>"
    },
    "UpdateMailboxQuota":{
      "name":"UpdateMailboxQuota",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateMailboxQuotaRequest"},
      "output":{"shape":"UpdateMailboxQuotaResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"}
      ],
      "documentation":"<p>Updates a user's current mailbox quota for a specified organization and user.</p>",
      "idempotent":true
    },
    "UpdateMobileDeviceAccessRule":{
      "name":"UpdateMobileDeviceAccessRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateMobileDeviceAccessRuleRequest"},
      "output":{"shape":"UpdateMobileDeviceAccessRuleResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"}
      ],
      "documentation":"<p>Updates a mobile device access rule for the specified WorkMail organization.</p>"
    },
    "UpdatePrimaryEmailAddress":{
      "name":"UpdatePrimaryEmailAddress",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePrimaryEmailAddressRequest"},
      "output":{"shape":"UpdatePrimaryEmailAddressResponse"},
      "errors":[
        {"shape":"DirectoryServiceAuthenticationFailedException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"EmailAddressInUseException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"MailDomainNotFoundException"},
        {"shape":"MailDomainStateException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"UnsupportedOperationException"}
      ],
      "documentation":"<p>Updates the primary email for a user, group, or resource. The current email is moved into the list of aliases (or swapped between an existing alias and the current primary email), and the email provided in the input is promoted as the primary.</p>",
      "idempotent":true
    },
    "UpdateResource":{
      "name":"UpdateResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateResourceRequest"},
      "output":{"shape":"UpdateResourceResponse"},
      "errors":[
        {"shape":"DirectoryUnavailableException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"EntityStateException"},
        {"shape":"InvalidConfigurationException"},
        {"shape":"EmailAddressInUseException"},
        {"shape":"MailDomainNotFoundException"},
        {"shape":"MailDomainStateException"},
        {"shape":"NameAvailabilityException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Updates data for the resource. To have the latest information, it must be preceded by a <a>DescribeResource</a> call. The dataset in the request should be the one expected when performing another <code>DescribeResource</code> call.</p>",
      "idempotent":true
    },
    "UpdateUser":{
      "name":"UpdateUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateUserRequest"},
      "output":{"shape":"UpdateUserResponse"},
      "errors":[
        {"shape":"DirectoryServiceAuthenticationFailedException"},
        {"shape":"DirectoryUnavailableException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"OrganizationNotFoundException"},
        {"shape":"OrganizationStateException"},
        {"shape":"UnsupportedOperationException"},
        {"shape":"EntityStateException"}
      ],
      "documentation":"<p>Updates data for the user. To have the latest information, it must be preceded by a <a>DescribeUser</a> call. The dataset in the request should be the one expected when performing another <code>DescribeUser</code> call.</p>",
      "idempotent":true
    }
  },
  "shapes":{
    "AccessControlRule":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"AccessControlRuleName",
          "documentation":"<p>The rule name.</p>"
        },
        "Effect":{
          "shape":"AccessControlRuleEffect",
          "documentation":"<p>The rule effect.</p>"
        },
        "Description":{
          "shape":"AccessControlRuleDescription",
          "documentation":"<p>The rule description.</p>"
        },
        "IpRanges":{
          "shape":"IpRangeList",
          "documentation":"<p>IPv4 CIDR ranges to include in the rule.</p>"
        },
        "NotIpRanges":{
          "shape":"IpRangeList",
          "documentation":"<p>IPv4 CIDR ranges to exclude from the rule.</p>"
        },
        "Actions":{
          "shape":"ActionsList",
          "documentation":"<p>Access protocol actions to include in the rule. Valid values include <code>ActiveSync</code>, <code>AutoDiscover</code>, <code>EWS</code>, <code>IMAP</code>, <code>SMTP</code>, <code>WindowsOutlook</code>, and <code>WebMail</code>.</p>"
        },
        "NotActions":{
          "shape":"ActionsList",
          "documentation":"<p>Access protocol actions to exclude from the rule. Valid values include <code>ActiveSync</code>, <code>AutoDiscover</code>, <code>EWS</code>, <code>IMAP</code>, <code>SMTP</code>, <code>WindowsOutlook</code>, and <code>WebMail</code>.</p>"
        },
        "UserIds":{
          "shape":"UserIdList",
          "documentation":"<p>User IDs to include in the rule.</p>"
        },
        "NotUserIds":{
          "shape":"UserIdList",
          "documentation":"<p>User IDs to exclude from the rule.</p>"
        },
        "DateCreated":{
          "shape":"Timestamp",
          "documentation":"<p>The date that the rule was created.</p>"
        },
        "DateModified":{
          "shape":"Timestamp",
          "documentation":"<p>The date that the rule was modified.</p>"
        },
        "ImpersonationRoleIds":{
          "shape":"ImpersonationRoleIdList",
          "documentation":"<p>Impersonation role IDs to include in the rule.</p>"
        },
        "NotImpersonationRoleIds":{
          "shape":"ImpersonationRoleIdList",
          "documentation":"<p>Impersonation role IDs to exclude from the rule.</p>"
        }
      },
      "documentation":"<p>A rule that controls access to an WorkMail organization.</p>"
    },
    "AccessControlRuleAction":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-zA-Z]+"
    },
    "AccessControlRuleDescription":{
      "type":"string",
      "max":255,
      "min":0,
      "pattern":"[\\u0020-\\u00FF]+"
    },
    "AccessControlRuleEffect":{
      "type":"string",
      "enum":[
        "ALLOW",
        "DENY"
      ]
    },
    "AccessControlRuleName":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-zA-Z0-9_-]+"
    },
    "AccessControlRuleNameList":{
      "type":"list",
      "member":{"shape":"AccessControlRuleName"},
      "max":10,
      "min":0
    },
    "AccessControlRulesList":{
      "type":"list",
      "member":{"shape":"AccessControlRule"},
      "max":10,
      "min":0
    },
    "AccessEffect":{
      "type":"string",
      "enum":[
        "ALLOW",
        "DENY"
      ]
    },
    "ActionsList":{
      "type":"list",
      "member":{"shape":"AccessControlRuleAction"},
      "max":10,
      "min":0
    },
    "Aliases":{
      "type":"list",
      "member":{"shape":"EmailAddress"}
    },
    "AmazonResourceName":{
      "type":"string",
      "max":1011,
      "min":1,
      "pattern":"arn:aws:workmail:[a-z0-9-]*:[a-z0-9-]+:[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,1023}"
    },
    "ApplicationArn":{
      "type":"string",
      "max":1224,
      "min":10,
      "pattern":"^arn:(aws|aws-us-gov|aws-cn|aws-iso|aws-iso-b):sso::\\d{12}:application/(sso)?ins-[a-zA-Z0-9-.]{16}/apl-[a-zA-Z0-9]{16}$"
    },
    "AssociateDelegateToResourceRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "ResourceId",
        "EntityId"
      ],
      "members":{
        "OrganizationId":{
          "shape":"OrganizationId",
          "documentation":"<p>The organization under which the resource exists.</p>"
        },
        "ResourceId":{
          "shape":"EntityIdentifier",
          "documentation":"<p>The resource for which members (users or groups) are associated.</p> <p>The identifier can accept <i>ResourceId</i>, <i>Resourcename</i>, or <i>email</i>. The following identity formats are available:</p> <ul> <li> <p>Resource ID: r-0123456789a0123456789b0123456789</p> </li> <li> <p>Email address: resource@domain.tld</p> </li> <li> <p>Resource name: resource</p> </li> </ul>"
        },
        "EntityId":{
          "shape":"EntityIdentifier",
          "documentation":"<p>The member (user or group) to associate to the resource.</p> <p>The entity ID can accept <i>UserId or GroupID</i>, <i>Username or Groupname</i>, or <i>email</i>.</p> <ul> <li> <p>Entity: 12345678-1234-1234-1234-123456789012 or S-1-1-12-1234567890-123456789-123456789-1234</p> </li> <li> <p>Email address: entity@domain.tld</p> </li> <li> <p>Entity: entity</p> </li> </ul>"
        }
      }
    },
    "AssociateDelegateToResourceResponse":{
      "type":"structure",
      "members":{}
    },
    "AssociateMemberToGroupRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "GroupId",
        "MemberId"
      ],
      "members":{
        "OrganizationId":{
          "shape":"OrganizationId",
          "documentation":"<p>The organization under which the group exists.</p>"
        },
        "GroupId":{
          "shape":"EntityIdentifier",
          "documentation":"<p>The group to which the member (user or group) is associated.</p> <p>The identifier can accept <i>GroupId</i>, <i>Groupname</i>, or <i>email</i>. The following identity formats are available:</p> <ul> <li> <p>Group ID: 12345678-1234-1234-1234-123456789012 or S-1-1-12-1234567890-123456789-123456789-1234</p> </li> <li> <p>Email address: group@domain.tld</p> </li> <li> <p>Group name: group</p> </li> </ul>"
        },
        "MemberId":{
          "shape":"EntityIdentifier",
          "documentation":"<p>The member (user or group) to associate to the group.</p> <p>The member ID can accept <i>UserID or GroupId</i>, <i>Username or Groupname</i>, or <i>email</i>.</p> <ul> <li> <p>Member: 12345678-1234-1234-1234-123456789012 or S-1-1-12-1234567890-123456789-123456789-1234</p> </li> <li> <p>Email address: member@domain.tld</p> </li> <li> <p>Member name: member</p> </li> </ul>"
        }
      }
    },
    "AssociateMemberToGroupResponse":{
      "type":"structure",
      "members":{}
    },
    "AssumeImpersonationRoleRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "ImpersonationRoleId"
      ],
      "members":{
        "OrganizationId":{
          "shape":"OrganizationId",
          "documentation":"<p>The WorkMail organization under which the impersonation role will be assumed.</p>"
        },
        "ImpersonationRoleId":{
          "shape":"ImpersonationRoleId",
          "documentation":"<p>The impersonation role ID to assume.</p>"
        }
      }
    },
    "AssumeImpersonationRoleResponse":{
      "type":"structure",
      "members":{
        "Token":{
          "shape":"ImpersonationToken",
          "documentation":"<p>The authentication token for the impersonation role.</p>"
        },
        "ExpiresIn":{
          "shape":"ExpiresIn",
          "documentation":"<p>The authentication token's validity, in seconds.</p>"
        }
      }
    },
    "AvailabilityConfiguration":{
      "type":"structure",
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>Displays the domain to which the provider applies.</p>"
        },
        "ProviderType":{
          "shape":"AvailabilityProviderType",
          "documentation":"<p>Displays the provider type that applies to this domain.</p>"
        },
        "EwsProvider":{
          "shape":"RedactedEwsAvailabilityProvider",
          "documentation":"<p>If <code>ProviderType</code> is <code>EWS</code>, then this field contains <code>RedactedEwsAvailabilityProvider</code>. Otherwise, it is not required.</p>"
        },
        "LambdaProvider":{
          "shape":"LambdaAvailabilityProvider",
          "documentation":"<p>If ProviderType is <code>LAMBDA</code> then this field contains <code>LambdaAvailabilityProvider</code>. Otherwise, it is not required.</p>"
        },
        "DateCreated":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time at which the availability configuration was created.</p>"
        },
        "DateModified":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time at which the availability configuration was last modified.</p>"
        }
      },
      "documentation":"<p>List all the <code>AvailabilityConfiguration</code>'s for the given WorkMail organization.</p>"
    },
    "AvailabilityConfigurationList":{
      "type":"list",
      "member":{"shape":"AvailabilityConfiguration"}
    },
    "AvailabilityProviderType":{
      "type":"string",
      "enum":[
        "EWS",
        "LAMBDA"
      ]
    },
    "BookingOptions":{
      "type":"structure",
      "members":{
        "AutoAcceptRequests":{
          "shape":"Boolean",
          "documentation":"<p>The resource's ability to automatically reply to requests. If disabled, delegates must be associated to the resource.</p>"
        },
        "AutoDeclineRecurringRequests":{
          "shape":"Boolean",
          "documentation":"<p>The resource's ability to automatically decline any recurring requests.</p>"
        },
        "AutoDeclineConflictingRequests":{
          "shape":"Boolean",
          "documentation":"<p>The resource's ability to automatically decline any conflicting requests.</p>"
        }
      },
      "documentation":"<p>At least one delegate must be associated to the resource to disable automatic replies from the resource.</p>"
    },
    "Boolean":{"type":"boolean"},
    "BooleanObject":{"type":"boolean"},
    "CancelMailboxExportJobRequest":{
      "type":"structure",
      "required":[
        "ClientToken",
        "JobId",
        "OrganizationId"
      ],
      "members":{
        "ClientToken":{
          "shape":"IdempotencyClientToken",
          "documentation":"<p>The idempotency token for the client request.</p>",
          "idempotencyToken":true
        },
        "JobId":{
          "shape":"MailboxExportJobId",
          "documentation":"<p>The job ID.</p>"
        },
        "OrganizationId":{
          "shape":"OrganizationId",
          "documentation":"<p>The organization ID.</p>"
        }
      }
    },
    "CancelMailboxExportJobResponse":{
      "type":"structure",
      "members":{}
    },
    "CreateAliasRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "EntityId",
        "Alias"
      ],
      "members":{
        "OrganizationId":{
          "shape":"OrganizationId",
          "documentation":"<p>The organization under which the member (user or group) exists.</p>"
        },
        "EntityId":{
          "shape":"WorkMailIdentifier",
          "documentation":"<p>The member (user or group) to which this alias is added.</p>"
        },
        "Alias":{
          "shape":"EmailAddress",
          "documentation":"<p>The alias to add to the member set.</p>"
        }
      }
    },
    "CreateAliasResponse":{
      "type":"structure",
      "members":{}
    },
    "CreateAvailabilityConfigurationRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "DomainName"
      ],
      "members":{
        "ClientToken":{
          "shape":"IdempotencyClientToken",
          "documentation":"<p>An idempotent token that ensures that an API request is executed only once.</p>",
          "idempotencyToken":true
        },
        "OrganizationId":{
          "shape":"OrganizationId",
          "documentation":"<p>The WorkMail organization for which the <code>AvailabilityConfiguration</code> will be created.</p>"
        },
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The domain to which the provider applies.</p>"
        },
        "EwsProvider":{
          "shape":"EwsAvailabilityProvider",
          "documentation":"<p>Exchange Web Services (EWS) availability provider definition. The request must contain exactly one provider definition, either <code>EwsProvider</code> or <code>LambdaProvider</code>.</p>"
        },
        "LambdaProvider":{
          "shape":"LambdaAvailabilityProvider",
          "documentation":"<p>Lambda availability provider definition. The request must contain exactly one provider definition, either <code>EwsProvider</code> or <code>LambdaProvider</code>.</p>"
        }
      }
    },
    "CreateAvailabilityConfigurationResponse":{
      "type":"structure",
      "members":{}
    },
    "CreateGroupRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "Name"
      ],
      "members":{
        "OrganizationId":{
          "shape":"OrganizationId",
          "documentation":"<p>The organization under which the group is to be created.</p>"
        },
        "Name":{
          "shape":"GroupName",
          "documentation":"<p>The name of the group.</p>"
        },
        "HiddenFromGlobalAddressList":{
          "shape":"Boolean",
          "documentation":"<p>If this parameter is enabled, the group will be hidden from the address book.</p>"
        }
      }
    },
    "CreateGroupResponse":{
      "type":"structure",
      "members":{
        "GroupId":{
          "shape":"WorkMailIdentifier",
          "documentation":"<p>The identifier of the group.</p>"
        }
      }
    },
    "CreateIdentityCenterApplicationRequest":{
      "type":"structure",
      "required":[
        "Name",
        "InstanceArn"
      ],
      "members":{
        "Name":{
          "shape":"IdentityCenterApplicationName",
          "documentation":"<p> The name of the IAM Identity Center application. </p>"
        },
        "InstanceArn":{
          "shape":"InstanceArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the instance. </p>"
        },
        "ClientToken":{
          "shape":"IdempotencyClientToken",
          "documentation":"<p> The idempotency token associated with the request. </p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateIdentityCenterApplicationResponse":{
      "type":"structure",
      "members":{
        "ApplicationArn":{
          "shape":"ApplicationArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the application. </p>"
        }
      }
    },
    "CreateImpersonationRoleRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "Name",
        "Type",
        "Rules"
      ],
      "members":{
        "ClientToken":{
          "shape":"IdempotencyClientToken",
          "documentation":"<p>The idempotency token for the client request.</p>",
          "idempotencyToken":true
        },
        "OrganizationId":{
          "shape":"OrganizationId",
          "documentation":"<p>The WorkMail organization to create the new impersonation role within.</p>"
        },
        "Name":{
          "shape":"ImpersonationRoleName",
          "documentation":"<p>The name of the new impersonation role.</p>"
        },
        "Type":{
          "shape":"ImpersonationRoleType",
          "documentation":"<p>The impersonation role's type. The available impersonation role types are <code>READ_ONLY</code> or <code>FULL_ACCESS</code>.</p>"
        },
        "Description":{
          "shape":"ImpersonationRoleDescription",
          "documentation":"<p>The description of the new impersonation role.</p>"
        },
        "Rules":{
          "shape":"ImpersonationRuleList",
          "documentation":"<p>The list of rules for the impersonation role.</p>"
        }
      }
    },
    "CreateImpersonationRoleResponse":{
      "type":"structure",
      "members":{
        "ImpersonationRoleId":{
          "shape":"ImpersonationRoleId",
          "documentation":"<p>The new impersonation role ID.</p>"
        }
      }
    },
    "CreateMobileDeviceAccessRuleRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "Name",
        "Effect"
      ],
      "members":{
        "OrganizationId":{
          "shape":"OrganizationId",
          "documentation":"<p>The WorkMail organization under which the rule will be created.</p>"
        },
        "ClientToken":{
          "shape":"IdempotencyClientToken",
          "documentation":"<p>The idempotency token for the client request.</p>",
          "idempotencyToken":true
        },
        "Name":{
          "shape":"MobileDeviceAccessRuleName",
          "documentation":"<p>The rule name.</p>"
        },
        "Description":{
          "shape":"MobileDeviceAccessRuleDescription",
          "documentation":"<p>The rule description.</p>"
        },
        "Effect":{
          "shape":"MobileDeviceAccessRuleEffect",
          "documentation":"<p>The effect of the rule when it matches. Allowed values are <code>ALLOW</code> or <code>DENY</code>.</p>"
        },
        "DeviceTypes":{
          "shape":"DeviceTypeList",
          "documentation":"<p>Device types that the rule will match.</p>"
        },
        "NotDeviceTypes":{
          "shape":"DeviceTypeList",
          "documentation":"<p>Device types that the rule <b>will not</b> match. All other device types will match.</p>"
        },
        "DeviceModels":{
          "shape":"DeviceModelList",
          "documentation":"<p>Device models that the rule will match.</p>"
        },
        "NotDeviceModels":{
          "shape":"DeviceModelList",
          "documentation":"<p>Device models that the rule <b>will not</b> match. All other device models will match.</p>"
        },
        "DeviceOperatingSystems":{
          "shape":"DeviceOperatingSystemList",
          "documentation":"<p>Device operating systems that the rule will match.</p>"
        },
        "NotDeviceOperatingSystems":{
          "shape":"DeviceOperatingSystemList",
          "documentation":"<p>Device operating systems that the rule <b>will not</b> match. All other device operating systems will match.</p>"
        },
        "DeviceUserAgents":{
          "shape":"DeviceUserAgentList",
          "documentation":"<p>Device user agents that the rule will match.</p>"
        },
        "NotDeviceUserAgents":{
          "shape":"DeviceUserAgentList",
          "documentation":"<p>Device user agents that the rule <b>will not</b> match. All other device user agents will match.</p>"
        }
      }
    },
    "CreateMobileDeviceAccessRuleResponse":{
      "type":"structure",
      "members":{
        "MobileDeviceAccessRuleId":{
          "shape":"MobileDeviceAccessRuleId",
          "documentation":"<p>The identifier for the newly created mobile device access rule.</p>"
        }
      }
    },
    "CreateOrganizationRequest":{
      "type":"structure",
      "required":["Alias"],
      "members":{
        "DirectoryId":{
          "shape":"DirectoryId",
          "documentation":"<p>The AWS Directory Service directory ID.</p>"
        },
        "Alias":{
          "shape":"OrganizationName",
          "documentation":"<p>The organization alias.</p>"
        },
        "ClientToken":{
          "shape":"IdempotencyClientToken",
          "documentation":"<p>The idempotency token associated with the request.</p>",
          "idempotencyToken":true
        },
        "Domains":{
          "shape":"Domains",
          "documentation":"<p>The email domains to associate with the organization.</p>"
        },
        "KmsKeyArn":{
          "shape":"KmsKeyArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of a customer managed key from AWS KMS.</p>"
        },
        "EnableInteroperability":{
          "shape":"Boolean",
          "documentation":"<p>When <code>true</code>, allows organization interoperability between WorkMail and Microsoft Exchange. If <code>true</code>, you must include a AD Connector directory ID in the request.</p>"
        }
      }
    },
    "CreateOrganizationResponse":{
      "type":"structure",
      "members":{
        "OrganizationId":{
          "shape":"OrganizationId",
          "documentation":"<p>The organization ID.</p>"
        }
      }
    },
    "CreateResourceRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "Name",
        "Type"
      ],
      "members":{
        "OrganizationId":{
          "shape":"OrganizationId",
          "documentation":"<p>The identifier associated with the organization for which the resource is created.</p>"
        },
        "Name":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the new resource.</p>"
        },
        "Type":{
          "shape":"ResourceType",
          "documentation":"<p>The type of the new resource. The available types are <code>equipment</code> and <code>room</code>.</p>"
        },
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>Resource description.</p>"
        },
        "HiddenFromGlobalAddressList":{
          "shape":"Boolean",
          "documentation":"<p>If this parameter is enabled, the resource will be hidden from the address book.</p>"
        }
      }
    },
    "CreateResourceResponse":{
      "type":"structure",
      "members":{
        "ResourceId":{
          "shape":"ResourceId",
          "documentation":"<p>The identifier of the new resource.</p>"
        }
      }
    },
    "CreateUserRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "Name",
        "DisplayName"
      ],
      "members":{
        "OrganizationId":{
          "shape":"OrganizationId",
          "documentation":"<p>The identifier of the organization for which the user is created.</p>"
        },
        "Name":{
          "shape":"UserName",
          "documentation":"<p>The name for the new user. WorkMail directory user names have a maximum length of 64. All others have a maximum length of 20.</p>"
        },
        "DisplayName":{
          "shape":"UserAttribute",
          "documentation":"<p>The display name for the new user.</p>"
        },
        "Password":{
          "shape":"Password",
          "documentation":"<p>The password for the new user.</p>"
        },
        "Role":{
          "shape":"UserRole",
          "documentation":"<p>The role of the new user.</p> <p>You cannot pass <i>SYSTEM_USER</i> or <i>RESOURCE</i> role in a single request. When a user role is not selected, the default role of <i>USER</i> is selected.</p>"
        },
        "FirstName":{
          "shape":"UserAttribute",
          "documentation":"<p>The first name of the new user.</p>"
        },
        "LastName":{
          "shape":"UserAttribute",
          "documentation":"<p>The last name of the new user. </p>"
        },
        "HiddenFromGlobalAddressList":{
          "shape":"Boolean",
          "documentation":"<p>If this parameter is enabled, the user will be hidden from the address book.</p>"
        },
        "IdentityProviderUserId":{
          "shape":"IdentityProviderUserId",
          "documentation":"<p>User ID from the IAM Identity Center. If this parameter is empty it will be updated automatically when the user logs in for the first time to the mailbox associated with WorkMail.</p>"
        }
      }
    },
    "CreateUserResponse":{
      "type":"structure",
      "members":{
        "UserId":{
          "shape":"WorkMailIdentifier",
          "documentation":"<p>The identifier for the new user.</p>"
        }
      }
    },
    "Delegate":{
      "type":"structure",
      "required":[
        "Id",
        "Type"
      ],
      "members":{
        "Id":{
          "shape":"String",
          "documentation":"<p>The identifier for the user or group associated as the resource's delegate.</p>"
        },
        "Type":{
          "shape":"MemberType",
          "documentation":"<p>The type of the delegate: user or group.</p>"
        }
      },
      "documentation":"<p>The name of the attribute, which is one of the values defined in the UserAttribute enumeration.</p>"
    },
    "DeleteAccessControlRuleRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "Name"
      ],
      "members":{
        "OrganizationId":{
          "shape":"OrganizationId",
          "documentation":"<p>The identifier for the organization.</p>"
        },
        "Name":{
          "shape":"AccessControlRuleName",
          "documentation":"<p>The name of the access control rule.</p>"
        }
      }
    },
    "DeleteAccessControlRuleResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteAliasRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "EntityId",
        "Alias"
      ],
      "members":{
        "OrganizationId":{
          "shape":"OrganizationId",
          "documentation":"<p>The identifier for the organization under which the user exists.</p>"
        },
        "EntityId":{
          "shape":"WorkMailIdentifier",
          "documentation":"<p>The identifier for the member (user or group) from which to have the aliases removed.</p>"
        },
        "Alias":{
          "shape":"EmailAddress",
          "documentation":"<p>The aliases to be removed from the user's set of aliases. Duplicate entries in the list are collapsed into single entries (the list is transformed into a set).</p>"
        }
      }
    },
    "DeleteAliasResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteAvailabilityConfigurationRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "DomainName"
      ],
      "members":{
        "OrganizationId":{
          "shape":"OrganizationId",
          "documentation":"<p>The WorkMail organization for which the <code>AvailabilityConfiguration</code> will be deleted.</p>"
        },
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The domain for which the <code>AvailabilityConfiguration</code> will be deleted.</p>"
        }
      }
    },
    "DeleteAvailabilityConfigurationResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteEmailMonitoringConfigurationRequest":{
      "type":"structure",
      "required":["OrganizationId"],
      "members":{
        "OrganizationId":{
          "shape":"OrganizationId",
          "documentation":"<p>The ID of the organization from which the email monitoring configuration is deleted.</p>"
        }
      }
    },
    "DeleteEmailMonitoringConfigurationResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteGroupRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "GroupId"
      ],
      "members":{
        "OrganizationId":{
          "shape":"OrganizationId",
          "documentation":"<p>The organization that contains the group.</p>"
        },
        "GroupId":{
          "shape":"EntityIdentifier",
          "documentation":"<p>The identifier of the group to be deleted.</p> <p>The identifier can be the <i>GroupId</i>, or <i>Groupname</i>. The following identity formats are available:</p> <ul> <li> <p>Group ID: 12345678-1234-1234-1234-123456789012 or S-1-1-12-1234567890-123456789-123456789-1234</p> </li> <li> <p>Group name: group</p> </li> </ul>"
        }
      }
    },
    "DeleteGroupResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteIdentityCenterApplicationRequest":{
      "type":"structure",
      "required":["ApplicationArn"],
      "members":{
        "ApplicationArn":{
          "shape":"ApplicationArn",
          "documentation":"<p> The Amazon Resource Name (ARN) of the application. </p>"
        }
      }
    },
    "DeleteIdentityCenterApplicationResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteIdentityProviderConfigurationRequest":{
      "type":"structure",
      "required":["OrganizationId"],
      "members":{
        "OrganizationId":{
          "shape":"OrganizationId",
          "documentation":"<p> The Organization ID. </p>"
        }
      }
    },
    "DeleteIdentityProviderConfigurationResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteImpersonationRoleRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "ImpersonationRoleId"
      ],
      "members":{
        "OrganizationId":{
          "shape":"OrganizationId",
          "documentation":"<p>The WorkMail organization from which to delete the impersonation role.</p>"
        },
        "ImpersonationRoleId":{
          "shape":"ImpersonationRoleId",
          "documentation":"<p>The ID of the impersonation role to delete.</p>"
        }
      }
    },
    "DeleteImpersonationRoleResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteMailboxPermissionsRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "EntityId",
        "GranteeId"
      ],
      "members":{
        "OrganizationId":{
          "shape":"OrganizationId",
          "documentation":"<p>The identifier of the organization under which the member (user or group) exists.</p>"
        },
        "EntityId":{
          "shape":"EntityIdentifier",
          "documentation":"<p>The identifier of the entity that owns the mailbox.</p> <p>The identifier can be <i>UserId or Group Id</i>, <i>Username or Groupname</i>, or <i>email</i>.</p> <ul> <li> <p>Entity ID: 12345678-1234-1234-1234-123456789012, r-0123456789a0123456789b0123456789, or S-1-1-12-1234567890-123456789-123456789-1234</p> </li> <li> <p>Email address: entity@domain.tld</p> </li> <li> <p>Entity name: entity</p> </li> </ul>"
        },
        "GranteeId":{
          "shape":"EntityIdentifier",
          "documentation":"<p>The identifier of the entity for which to delete granted permissions.</p> <p>The identifier can be <i>UserId, ResourceID, or Group Id</i>, <i>Username or Groupname</i>, or <i>email</i>.</p> <ul> <li> <p>Grantee ID: 12345678-1234-1234-1234-123456789012,r-0123456789a0123456789b0123456789, or S-1-1-12-1234567890-123456789-123456789-1234</p> </li> <li> <p>Email address: grantee@domain.tld</p> </li> <li> <p>Grantee name: grantee</p> </li> </ul>"
        }
      }
    },
    "DeleteMailboxPermissionsResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteMobileDeviceAccessOverrideRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "UserId",
        "DeviceId"
      ],
      "members":{
        "OrganizationId":{
          "shape":"OrganizationId",
          "documentation":"<p>The WorkMail organization for which the access override will be deleted.</p>"
        },
        "UserId":{
          "shape":"EntityIdentifier",
          "documentation":"<p>The WorkMail user for which you want to delete the override. Accepts the following types of user identities:</p> <ul> <li> <p>User ID: <code>12345678-1234-1234-1234-123456789012</code> or <code>S-1-1-12-1234567890-123456789-123456789-1234</code> </p> </li> <li> <p>Email address: <code>user@domain.tld</code> </p> </li> <li> <p>User name: <code>user</code> </p> </li> </ul>"
        },
        "DeviceId":{
          "shape":"DeviceId",
          "documentation":"<p>The mobile device for which you delete the override. <code>DeviceId</code> is case insensitive.</p>"
        }
      }
    },
    "DeleteMobileDeviceAccessOverrideResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteMobileDeviceAccessRuleRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "MobileDeviceAccessRuleId"
      ],
      "members":{
        "OrganizationId":{
          "shape":"OrganizationId",
          "documentation":"<p>The WorkMail organization under which the rule will be deleted.</p>"
        },
        "MobileDeviceAccessRuleId":{
          "shape":"MobileDeviceAccessRuleId",
          "documentation":"<p>The identifier of the rule to be deleted.</p>"
        }
      }
    },
    "DeleteMobileDeviceAccessRuleResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteOrganizationRequest":{
      "type":"structure",
      "required":[
        "OrganizationId",
        "DeleteDirectory"
      ],
      "members":{
        "ClientToken":{
          "shape":"IdempotencyClientToken",
          "documentation":"<p>The idempotency token associated with the request.</p>",
          "idempotencyToken":true
        },
        "OrganizationId":{
          "shape":"OrganizationId",
          "documentation":"<p>The organization ID.</p>"
        },
        "DeleteDirectory":{
          "shape":"Boolean",
          "documentation":"<p>If true, deletes the AWS Directory Service directory associated with the organization.</p>"
        },
        "ForceDelete":{
          "shape":"Boolean",
          "documentation":"<p>Deletes a WorkMail organization even if the organization has enabled users.</p>"
        },
        "DeleteIdentityCenterApplication":{
          "shape":"Boolean",
          "documentation":"<p>Deletes IAM Identity Center application for WorkMail. This action does not affect authentication settings for any organization.</p>"
        }
      }
    },
    "DeleteOrganizationResponse":{
      "type":"structure",
      "members":{
        "OrganizationId":{
          "shape":"OrganizationId",
          "documentation":"<p>The organization ID.</p>"
        },
        "State":{
          "shape":"String",
[...]
