<div class="no-posts-box">
    <div class="no-posts">
        {{svg-jar "activity-placeholder" class="gh-members-placeholder"}}
        {{#if @filter}}
            <h4>No events match the current filter</h4>
            <LinkTo @route="settings.history" @query={{reset-query-params "settings.history"}} class="gh-btn gh-btn-lg">
                <span>Show all events</span>
            </LinkTo>
        {{else}}
            <h4>No events yet</h4>
        {{/if}}
    </div>
</div>