<div class="gh-members-no-data gh-members-no-list">
    <div class="lightgrey">{{svg-jar "no-data-list"}}</div>
    <h4>Activity</h4>
    <p>
        All events related to this member will be shown here.
    </p>
</div>