{
    "enableDeveloperExperiments": true,
    "adapters": {
        "email": {
            "active": "ses",
            "mailgun": {},
            "ses": {
                "region": "us-west-2",
                "accessKeyId": "AKIAIOSFODNN7EXAMPLE",
                "secretAccessKey": "wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY",
                "fromEmail": "newsletter@yourdomain.com",
                "configurationSet": "ses-analytics"
            }
        }
    }
}
