{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2016-11-28",
    "endpointPrefix":"organizations",
    "jsonVersion":"1.1",
    "protocol":"json",
    "protocols":["json"],
    "serviceAbbreviation":"Organizations",
    "serviceFullName":"AWS Organizations",
    "serviceId":"Organizations",
    "signatureVersion":"v4",
    "targetPrefix":"AWSOrganizationsV20161128",
    "uid":"organizations-2016-11-28",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AcceptHandshake":{
      "name":"AcceptHandshake",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AcceptHandshakeRequest"},
      "output":{"shape":"AcceptHandshakeResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"HandshakeConstraintViolationException"},
        {"shape":"HandshakeNotFoundException"},
        {"shape":"InvalidHandshakeTransitionException"},
        {"shape":"HandshakeAlreadyInStateException"},
        {"shape":"InvalidInputException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"AccessDeniedForDependencyException"}
      ],
      "documentation":"<p>Sends a response to the originator of a handshake agreeing to the action proposed by the handshake request.</p> <p>You can only call this operation by the following principals when they also have the relevant IAM permissions:</p> <ul> <li> <p> <b>Invitation to join</b> or <b>Approve all features request</b> handshakes: only a principal from the member account.</p> <p>The user who calls the API for an invitation to join must have the <code>organizations:AcceptHandshake</code> permission. If you enabled all features in the organization, the user must also have the <code>iam:CreateServiceLinkedRole</code> permission so that Organizations can create the required service-linked role named <code>AWSServiceRoleForOrganizations</code>. For more information, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_integration_services.html#orgs_integrate_services-using_slrs\">Organizations and service-linked roles</a> in the <i>Organizations User Guide</i>.</p> </li> <li> <p> <b>Enable all features final confirmation</b> handshake: only a principal from the management account.</p> <p>For more information about invitations, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_invites.html\">Inviting an Amazon Web Services account to join your organization</a> in the <i>Organizations User Guide</i>. For more information about requests to enable all features in the organization, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_org_support-all-features.html\">Enabling all features in your organization</a> in the <i>Organizations User Guide</i>.</p> </li> </ul> <p>After you accept a handshake, it continues to appear in the results of relevant APIs for only 30 days. After that, it's deleted.</p>"
    },
    "AttachPolicy":{
      "name":"AttachPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachPolicyRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"DuplicatePolicyAttachmentException"},
        {"shape":"InvalidInputException"},
        {"shape":"PolicyNotFoundException"},
        {"shape":"PolicyTypeNotEnabledException"},
        {"shape":"ServiceException"},
        {"shape":"TargetNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedAPIEndpointException"},
        {"shape":"PolicyChangesInProgressException"}
      ],
      "documentation":"<p>Attaches a policy to a root, an organizational unit (OU), or an individual account. How the policy affects accounts depends on the type of policy. Refer to the <i>Organizations User Guide</i> for information about each policy type:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies_scp.html\">SERVICE_CONTROL_POLICY</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies_rcps.html\">RESOURCE_CONTROL_POLICY</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies_declarative.html\">DECLARATIVE_POLICY_EC2</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies_backup.html\">BACKUP_POLICY</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies_tag-policies.html\">TAG_POLICY</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies_chatbot.html\">CHATBOT_POLICY</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies_ai-opt-out.html\">AISERVICES_OPT_OUT_POLICY</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies_security_hub.html\">SECURITYHUB_POLICY</a> </p> </li> </ul> <p>This operation can be called only from the organization's management account or by a member account that is a delegated administrator.</p>"
    },
    "CancelHandshake":{
      "name":"CancelHandshake",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelHandshakeRequest"},
      "output":{"shape":"CancelHandshakeResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"HandshakeNotFoundException"},
        {"shape":"InvalidHandshakeTransitionException"},
        {"shape":"HandshakeAlreadyInStateException"},
        {"shape":"InvalidInputException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Cancels a handshake. Canceling a handshake sets the handshake state to <code>CANCELED</code>.</p> <p>This operation can be called only from the account that originated the handshake. The recipient of the handshake can't cancel it, but can use <a>DeclineHandshake</a> instead. After a handshake is canceled, the recipient can no longer respond to that handshake.</p> <p>After you cancel a handshake, it continues to appear in the results of relevant APIs for only 30 days. After that, it's deleted.</p>"
    },
    "CloseAccount":{
      "name":"CloseAccount",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CloseAccountRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AccountAlreadyClosedException"},
        {"shape":"AccountNotFoundException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ConflictException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidInputException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedAPIEndpointException"}
      ],
      "documentation":"<p>Closes an Amazon Web Services member account within an organization. You can close an account when <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_org_support-all-features.html\">all features are enabled </a>. You can't close the management account with this API. This is an asynchronous request that Amazon Web Services performs in the background. Because <code>CloseAccount</code> operates asynchronously, it can return a successful completion message even though account closure might still be in progress. You need to wait a few minutes before the account is fully closed. To check the status of the request, do one of the following:</p> <ul> <li> <p>Use the <code>AccountId</code> that you sent in the <code>CloseAccount</code> request to provide as a parameter to the <a>DescribeAccount</a> operation. </p> <p>While the close account request is in progress, Account status will indicate PENDING_CLOSURE. When the close account request completes, the status will change to SUSPENDED. </p> </li> <li> <p>Check the CloudTrail log for the <code>CloseAccountResult</code> event that gets published after the account closes successfully. For information on using CloudTrail with Organizations, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_security_incident-response.html#orgs_cloudtrail-integration\">Logging and monitoring in Organizations</a> in the <i>Organizations User Guide</i>.</p> </li> </ul> <note> <ul> <li> <p>You can close only 10% of member accounts, between 10 and 1000, within a rolling 30 day period. This quota is not bound by a calendar month, but starts when you close an account. After you reach this limit, you can't close additional accounts. For more information, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_close.html\">Closing a member account in your organization</a> and <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_reference_limits.html\">Quotas for Organizations</a> in the <i>Organizations User Guide</i>. </p> </li> <li> <p>To reinstate a closed account, contact Amazon Web Services Support within the 90-day grace period while the account is in SUSPENDED status. </p> </li> <li> <p>If the Amazon Web Services account you attempt to close is linked to an Amazon Web Services GovCloud (US) account, the <code>CloseAccount</code> request will close both accounts. To learn important pre-closure details, see <a href=\"https://docs.aws.amazon.com/govcloud-us/latest/UserGuide/Closing-govcloud-account.html\"> Closing an Amazon Web Services GovCloud (US) account</a> in the <i> Amazon Web Services GovCloud User Guide</i>.</p> </li> </ul> </note>"
    },
    "CreateAccount":{
      "name":"CreateAccount",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAccountRequest"},
      "output":{"shape":"CreateAccountResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidInputException"},
        {"shape":"FinalizingOrganizationException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedAPIEndpointException"}
      ],
      "documentation":"<p>Creates an Amazon Web Services account that is automatically a member of the organization whose credentials made the request. This is an asynchronous request that Amazon Web Services performs in the background. Because <code>CreateAccount</code> operates asynchronously, it can return a successful completion message even though account initialization might still be in progress. You might need to wait a few minutes before you can successfully access the account. To check the status of the request, do one of the following:</p> <ul> <li> <p>Use the <code>Id</code> value of the <code>CreateAccountStatus</code> response element from this operation to provide as a parameter to the <a>DescribeCreateAccountStatus</a> operation.</p> </li> <li> <p>Check the CloudTrail log for the <code>CreateAccountResult</code> event. For information on using CloudTrail with Organizations, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_security_incident-response.html#orgs_cloudtrail-integration\">Logging and monitoring in Organizations</a> in the <i>Organizations User Guide</i>.</p> </li> </ul> <p>The user who calls the API to create an account must have the <code>organizations:CreateAccount</code> permission. If you enabled all features in the organization, Organizations creates the required service-linked role named <code>AWSServiceRoleForOrganizations</code>. For more information, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_integrate_services.html#orgs_integrate_services-using_slrs\">Organizations and service-linked roles</a> in the <i>Organizations User Guide</i>.</p> <p>If the request includes tags, then the requester must have the <code>organizations:TagResource</code> permission.</p> <p>Organizations preconfigures the new member account with a role (named <code>OrganizationAccountAccessRole</code> by default) that grants users in the management account administrator permissions in the new member account. Principals in the management account can assume the role. Organizations clones the company name and address information for the new account from the organization's management account.</p> <p>This operation can be called only from the organization's management account.</p> <p>For more information about creating accounts, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_create.html\">Creating a member account in your organization</a> in the <i>Organizations User Guide</i>.</p> <important> <ul> <li> <p>When you create an account in an organization using the Organizations console, API, or CLI commands, the information required for the account to operate as a standalone account, such as a payment method is <i>not</i> automatically collected. If you must remove an account from your organization later, you can do so only after you provide the missing information. For more information, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_account-before-remove.html\">Considerations before removing an account from an organization</a> in the <i>Organizations User Guide</i>.</p> </li> <li> <p>If you get an exception that indicates that you exceeded your account limits for the organization, contact <a href=\"https://console.aws.amazon.com/support/home#/\">Amazon Web Services Support</a>.</p> </li> <li> <p>If you get an exception that indicates that the operation failed because your organization is still initializing, wait one hour and then try again. If the error persists, contact <a href=\"https://console.aws.amazon.com/support/home#/\">Amazon Web Services Support</a>.</p> </li> <li> <p>It isn't recommended to use <code>CreateAccount</code> to create multiple temporary accounts, and using the <code>CreateAccount</code> API to close accounts is subject to a 30-day usage quota. For information on the requirements and process for closing an account, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_close.html\">Closing a member account in your organization</a> in the <i>Organizations User Guide</i>.</p> </li> </ul> </important> <note> <p>When you create a member account with this operation, you can choose whether to create the account with the <b>IAM User and Role Access to Billing Information</b> switch enabled. If you enable it, IAM users and roles that have appropriate permissions can view billing information for the account. If you disable it, only the account root user can access billing information. For information about how to disable this switch for an account, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/control-access-billing.html#grantaccess\">Granting access to your billing information and tools</a>.</p> </note>"
    },
    "CreateGovCloudAccount":{
      "name":"CreateGovCloudAccount",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateGovCloudAccountRequest"},
      "output":{"shape":"CreateGovCloudAccountResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidInputException"},
        {"shape":"FinalizingOrganizationException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedAPIEndpointException"}
      ],
      "documentation":"<p>This action is available if all of the following are true:</p> <ul> <li> <p>You're authorized to create accounts in the Amazon Web Services GovCloud (US) Region. For more information on the Amazon Web Services GovCloud (US) Region, see the <a href=\"https://docs.aws.amazon.com/govcloud-us/latest/UserGuide/welcome.html\"> <i>Amazon Web Services GovCloud User Guide</i>.</a> </p> </li> <li> <p>You already have an account in the Amazon Web Services GovCloud (US) Region that is paired with a management account of an organization in the commercial Region.</p> </li> <li> <p>You call this action from the management account of your organization in the commercial Region.</p> </li> <li> <p>You have the <code>organizations:CreateGovCloudAccount</code> permission. </p> </li> </ul> <p>Organizations automatically creates the required service-linked role named <code>AWSServiceRoleForOrganizations</code>. For more information, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_integrate_services.html#orgs_integrate_services-using_slrs\">Organizations and service-linked roles</a> in the <i>Organizations User Guide</i>.</p> <p>Amazon Web Services automatically enables CloudTrail for Amazon Web Services GovCloud (US) accounts, but you should also do the following:</p> <ul> <li> <p>Verify that CloudTrail is enabled to store logs.</p> </li> <li> <p>Create an Amazon S3 bucket for CloudTrail log storage.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/govcloud-us/latest/UserGuide/verifying-cloudtrail.html\">Verifying CloudTrail Is Enabled</a> in the <i>Amazon Web Services GovCloud User Guide</i>. </p> </li> </ul> <p>If the request includes tags, then the requester must have the <code>organizations:TagResource</code> permission. The tags are attached to the commercial account associated with the GovCloud account, rather than the GovCloud account itself. To add tags to the GovCloud account, call the <a>TagResource</a> operation in the GovCloud Region after the new GovCloud account exists.</p> <p>You call this action from the management account of your organization in the commercial Region to create a standalone Amazon Web Services account in the Amazon Web Services GovCloud (US) Region. After the account is created, the management account of an organization in the Amazon Web Services GovCloud (US) Region can invite it to that organization. For more information on inviting standalone accounts in the Amazon Web Services GovCloud (US) to join an organization, see <a href=\"https://docs.aws.amazon.com/govcloud-us/latest/UserGuide/govcloud-organizations.html\">Organizations</a> in the <i>Amazon Web Services GovCloud User Guide</i>.</p> <p>Calling <code>CreateGovCloudAccount</code> is an asynchronous request that Amazon Web Services performs in the background. Because <code>CreateGovCloudAccount</code> operates asynchronously, it can return a successful completion message even though account initialization might still be in progress. You might need to wait a few minutes before you can successfully access the account. To check the status of the request, do one of the following:</p> <ul> <li> <p>Use the <code>OperationId</code> response element from this operation to provide as a parameter to the <a>DescribeCreateAccountStatus</a> operation.</p> </li> <li> <p>Check the CloudTrail log for the <code>CreateAccountResult</code> event. For information on using CloudTrail with Organizations, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_security_incident-response.html\">Logging and monitoring in Organizations</a> in the <i>Organizations User Guide</i>.</p> </li> </ul> <p/> <p>When you call the <code>CreateGovCloudAccount</code> action, you create two accounts: a standalone account in the Amazon Web Services GovCloud (US) Region and an associated account in the commercial Region for billing and support purposes. The account in the commercial Region is automatically a member of the organization whose credentials made the request. Both accounts are associated with the same email address.</p> <p>A role is created in the new account in the commercial Region that allows the management account in the organization in the commercial Region to assume it. An Amazon Web Services GovCloud (US) account is then created and associated with the commercial account that you just created. A role is also created in the new Amazon Web Services GovCloud (US) account that can be assumed by the Amazon Web Services GovCloud (US) account that is associated with the management account of the commercial organization. For more information and to view a diagram that explains how account access works, see <a href=\"https://docs.aws.amazon.com/govcloud-us/latest/UserGuide/govcloud-organizations.html\">Organizations</a> in the <i>Amazon Web Services GovCloud User Guide</i>.</p> <p>For more information about creating accounts, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_create.html\">Creating a member account in your organization</a> in the <i>Organizations User Guide</i>.</p> <important> <ul> <li> <p>When you create an account in an organization using the Organizations console, API, or CLI commands, the information required for the account to operate as a standalone account is <i>not</i> automatically collected. This includes a payment method and signing the end user license agreement (EULA). If you must remove an account from your organization later, you can do so only after you provide the missing information. For more information, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_account-before-remove.html\">Considerations before removing an account from an organization</a> in the <i>Organizations User Guide</i>.</p> </li> <li> <p>If you get an exception that indicates that you exceeded your account limits for the organization, contact <a href=\"https://console.aws.amazon.com/support/home#/\">Amazon Web Services Support</a>.</p> </li> <li> <p>If you get an exception that indicates that the operation failed because your organization is still initializing, wait one hour and then try again. If the error persists, contact <a href=\"https://console.aws.amazon.com/support/home#/\">Amazon Web Services Support</a>.</p> </li> <li> <p>Using <code>CreateGovCloudAccount</code> to create multiple temporary accounts isn't recommended. You can only close an account from the Amazon Web Services Billing and Cost Management console, and you must be signed in as the root user. For information on the requirements and process for closing an account, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_accounts_close.html\">Closing a member account in your organization</a> in the <i>Organizations User Guide</i>.</p> </li> </ul> </important> <note> <p>When you create a member account with this operation, you can choose whether to create the account with the <b>IAM User and Role Access to Billing Information</b> switch enabled. If you enable it, IAM users and roles that have appropriate permissions can view billing information for the account. If you disable it, only the account root user can access billing information. For information about how to disable this switch for an account, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/grantaccess.html\">Granting access to your billing information and tools</a>.</p> </note>"
    },
    "CreateOrganization":{
      "name":"CreateOrganization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateOrganizationRequest"},
      "output":{"shape":"CreateOrganizationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AlreadyInOrganizationException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidInputException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"AccessDeniedForDependencyException"}
      ],
      "documentation":"<p>Creates an Amazon Web Services organization. The account whose user is calling the <code>CreateOrganization</code> operation automatically becomes the <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_getting-started_concepts.html#account\">management account</a> of the new organization.</p> <p>This operation must be called using credentials from the account that is to become the new organization's management account. The principal must also have the relevant IAM permissions.</p> <p>By default (or if you set the <code>FeatureSet</code> parameter to <code>ALL</code>), the new organization is created with all features enabled and service control policies automatically enabled in the root. If you instead choose to create the organization supporting only the consolidated billing features by setting the <code>FeatureSet</code> parameter to <code>CONSOLIDATED_BILLING</code>, no policy types are enabled by default and you can't use organization policies.</p>"
    },
    "CreateOrganizationalUnit":{
      "name":"CreateOrganizationalUnit",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateOrganizationalUnitRequest"},
      "output":{"shape":"CreateOrganizationalUnitResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"DuplicateOrganizationalUnitException"},
        {"shape":"InvalidInputException"},
        {"shape":"ParentNotFoundException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Creates an organizational unit (OU) within a root or parent OU. An OU is a container for accounts that enables you to organize your accounts to apply policies according to your business requirements. The number of levels deep that you can nest OUs is dependent upon the policy types enabled for that root. For service control policies, the limit is five.</p> <p>For more information about OUs, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_ous.html\">Managing organizational units (OUs)</a> in the <i>Organizations User Guide</i>.</p> <p>If the request includes tags, then the requester must have the <code>organizations:TagResource</code> permission.</p> <p>This operation can be called only from the organization's management account.</p>"
    },
    "CreatePolicy":{
      "name":"CreatePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePolicyRequest"},
      "output":{"shape":"CreatePolicyResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"DuplicatePolicyException"},
        {"shape":"InvalidInputException"},
        {"shape":"MalformedPolicyDocumentException"},
        {"shape":"PolicyTypeNotAvailableForOrganizationException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedAPIEndpointException"}
      ],
      "documentation":"<p>Creates a policy of a specified type that you can attach to a root, an organizational unit (OU), or an individual Amazon Web Services account.</p> <p>For more information about policies and their use, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies.html\">Managing Organizations policies</a>.</p> <p>If the request includes tags, then the requester must have the <code>organizations:TagResource</code> permission.</p> <p>This operation can be called only from the organization's management account or by a member account that is a delegated administrator.</p>"
    },
    "DeclineHandshake":{
      "name":"DeclineHandshake",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeclineHandshakeRequest"},
      "output":{"shape":"DeclineHandshakeResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"HandshakeNotFoundException"},
        {"shape":"InvalidHandshakeTransitionException"},
        {"shape":"HandshakeAlreadyInStateException"},
        {"shape":"InvalidInputException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Declines a handshake request. This sets the handshake state to <code>DECLINED</code> and effectively deactivates the request.</p> <p>This operation can be called only from the account that received the handshake. The originator of the handshake can use <a>CancelHandshake</a> instead. The originator can't reactivate a declined request, but can reinitiate the process with a new handshake request.</p> <p>After you decline a handshake, it continues to appear in the results of relevant APIs for only 30 days. After that, it's deleted.</p>"
    },
    "DeleteOrganization":{
      "name":"DeleteOrganization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidInputException"},
        {"shape":"OrganizationNotEmptyException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Deletes the organization. You can delete an organization only by using credentials from the management account. The organization must be empty of member accounts.</p>"
    },
    "DeleteOrganizationalUnit":{
      "name":"DeleteOrganizationalUnit",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteOrganizationalUnitRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidInputException"},
        {"shape":"OrganizationalUnitNotEmptyException"},
        {"shape":"OrganizationalUnitNotFoundException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Deletes an organizational unit (OU) from a root or another OU. You must first remove all accounts and child OUs from the OU that you want to delete.</p> <p>This operation can be called only from the organization's management account.</p>"
    },
    "DeletePolicy":{
      "name":"DeletePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePolicyRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidInputException"},
        {"shape":"PolicyInUseException"},
        {"shape":"PolicyNotFoundException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedAPIEndpointException"}
      ],
      "documentation":"<p>Deletes the specified policy from your organization. Before you perform this operation, you must first detach the policy from all organizational units (OUs), roots, and accounts.</p> <p>This operation can be called only from the organization's management account or by a member account that is a delegated administrator.</p>"
    },
    "DeleteResourcePolicy":{
      "name":"DeleteResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceException"},
        {"shape":"UnsupportedAPIEndpointException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ResourcePolicyNotFoundException"}
      ],
      "documentation":"<p>Deletes the resource policy from your organization.</p> <p>This operation can be called only from the organization's management account.</p>"
    },
    "DeregisterDelegatedAdministrator":{
      "name":"DeregisterDelegatedAdministrator",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterDelegatedAdministratorRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AccountNotFoundException"},
        {"shape":"AccountNotRegisteredException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidInputException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ServiceException"},
        {"shape":"UnsupportedAPIEndpointException"}
      ],
      "documentation":"<p>Removes the specified member Amazon Web Services account as a delegated administrator for the specified Amazon Web Services service.</p> <important> <p>Deregistering a delegated administrator can have unintended impacts on the functionality of the enabled Amazon Web Services service. See the documentation for the enabled service before you deregister a delegated administrator so that you understand any potential impacts.</p> </important> <p>You can run this action only for Amazon Web Services services that support this feature. For a current list of services that support it, see the column <i>Supports Delegated Administrator</i> in the table at <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_integrate_services_list.html\">Amazon Web Services Services that you can use with Organizations</a> in the <i>Organizations User Guide.</i> </p> <p>This operation can be called only from the organization's management account.</p>"
    },
    "DescribeAccount":{
      "name":"DescribeAccount",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAccountRequest"},
      "output":{"shape":"DescribeAccountResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AccountNotFoundException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"InvalidInputException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Retrieves Organizations-related information about the specified account.</p> <p>This operation can be called only from the organization's management account or by a member account that is a delegated administrator.</p>"
    },
    "DescribeCreateAccountStatus":{
      "name":"DescribeCreateAccountStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCreateAccountStatusRequest"},
      "output":{"shape":"DescribeCreateAccountStatusResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"CreateAccountStatusNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedAPIEndpointException"}
      ],
      "documentation":"<p>Retrieves the current status of an asynchronous request to create an account.</p> <p>This operation can be called only from the organization's management account or by a member account that is a delegated administrator.</p>"
    },
    "DescribeEffectivePolicy":{
      "name":"DescribeEffectivePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEffectivePolicyRequest"},
      "output":{"shape":"DescribeEffectivePolicyResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"TargetNotFoundException"},
        {"shape":"EffectivePolicyNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"UnsupportedAPIEndpointException"}
      ],
      "documentation":"<p>Returns the contents of the effective policy for specified policy type and account. The effective policy is the aggregation of any policies of the specified type that the account inherits, plus any policy of that type that is directly attached to the account.</p> <p>This operation applies only to management policies. It does not apply to authorization policies: service control policies (SCPs) and resource control policies (RCPs).</p> <p>For more information about policy inheritance, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies_inheritance_mgmt.html\">Understanding management policy inheritance</a> in the <i>Organizations User Guide</i>.</p> <p>This operation can be called from any account in the organization.</p>"
    },
    "DescribeHandshake":{
      "name":"DescribeHandshake",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeHandshakeRequest"},
      "output":{"shape":"DescribeHandshakeResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"HandshakeNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Retrieves information about a previously requested handshake. The handshake ID comes from the response to the original <a>InviteAccountToOrganization</a> operation that generated the handshake.</p> <p>You can access handshakes that are <code>ACCEPTED</code>, <code>DECLINED</code>, or <code>CANCELED</code> for only 30 days after they change to that state. They're then deleted and no longer accessible.</p> <p>This operation can be called from any account in the organization.</p>"
    },
    "DescribeOrganization":{
      "name":"DescribeOrganization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{"shape":"DescribeOrganizationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Retrieves information about the organization that the user's account belongs to.</p> <p>This operation can be called from any account in the organization.</p> <note> <p>Even if a policy type is shown as available in the organization, you can disable it separately at the root level with <a>DisablePolicyType</a>. Use <a>ListRoots</a> to see the status of policy types for a specified root.</p> </note>"
    },
    "DescribeOrganizationalUnit":{
      "name":"DescribeOrganizationalUnit",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeOrganizationalUnitRequest"},
      "output":{"shape":"DescribeOrganizationalUnitResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"InvalidInputException"},
        {"shape":"OrganizationalUnitNotFoundException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Retrieves information about an organizational unit (OU).</p> <p>This operation can be called only from the organization's management account or by a member account that is a delegated administrator.</p>"
    },
    "DescribePolicy":{
      "name":"DescribePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePolicyRequest"},
      "output":{"shape":"DescribePolicyResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"InvalidInputException"},
        {"shape":"PolicyNotFoundException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedAPIEndpointException"}
      ],
      "documentation":"<p>Retrieves information about a policy.</p> <p>This operation can be called only from the organization's management account or by a member account that is a delegated administrator.</p>"
    },
    "DescribeResourcePolicy":{
      "name":"DescribeResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{"shape":"DescribeResourcePolicyResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceException"},
        {"shape":"UnsupportedAPIEndpointException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ResourcePolicyNotFoundException"},
        {"shape":"ConstraintViolationException"}
      ],
      "documentation":"<p>Retrieves information about a resource policy.</p> <p>This operation can be called only from the organization's management account or by a member account that is a delegated administrator.</p>"
    },
    "DetachPolicy":{
      "name":"DetachPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachPolicyRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidInputException"},
        {"shape":"PolicyNotAttachedException"},
        {"shape":"PolicyNotFoundException"},
        {"shape":"ServiceException"},
        {"shape":"TargetNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedAPIEndpointException"},
        {"shape":"PolicyChangesInProgressException"}
      ],
      "documentation":"<p>Detaches a policy from a target root, organizational unit (OU), or account.</p> <important> <p>If the policy being detached is a service control policy (SCP), the changes to permissions for Identity and Access Management (IAM) users and roles in affected accounts are immediate.</p> </important> <p>Every root, OU, and account must have at least one SCP attached. If you want to replace the default <code>FullAWSAccess</code> policy with an SCP that limits the permissions that can be delegated, you must attach the replacement SCP before you can remove the default SCP. This is the authorization strategy of an \"<a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/SCP_strategies.html#orgs_policies_allowlist\">allow list</a>\". If you instead attach a second SCP and leave the <code>FullAWSAccess</code> SCP still attached, and specify <code>\"Effect\": \"Deny\"</code> in the second SCP to override the <code>\"Effect\": \"Allow\"</code> in the <code>FullAWSAccess</code> policy (or any other attached SCP), you're using the authorization strategy of a \"<a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/SCP_strategies.html#orgs_policies_denylist\">deny list</a>\".</p> <p>This operation can be called only from the organization's management account or by a member account that is a delegated administrator.</p>"
    },
    "DisableAWSServiceAccess":{
      "name":"DisableAWSServiceAccess",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableAWSServiceAccessRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidInputException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedAPIEndpointException"}
      ],
      "documentation":"<p>Disables the integration of an Amazon Web Services service (the service that is specified by <code>ServicePrincipal</code>) with Organizations. When you disable integration, the specified service no longer can create a <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/using-service-linked-roles.html\">service-linked role</a> in <i>new</i> accounts in your organization. This means the service can't perform operations on your behalf on any new accounts in your organization. The service can still perform operations in older accounts until the service completes its clean-up from Organizations.</p> <important> <p>We <b> <i>strongly recommend</i> </b> that you don't use this command to disable integration between Organizations and the specified Amazon Web Services service. Instead, use the console or commands that are provided by the specified service. This lets the trusted service perform any required initialization when enabling trusted access, such as creating any required resources and any required clean up of resources when disabling trusted access. </p> <p>For information about how to disable trusted service access to your organization using the trusted service, see the <b>Learn more</b> link under the <b>Supports Trusted Access</b> column at <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_integrate_services_list.html\">Amazon Web Services services that you can use with Organizations</a>. on this page.</p> <p>If you disable access by using this command, it causes the following actions to occur:</p> <ul> <li> <p>The service can no longer create a service-linked role in the accounts in your organization. This means that the service can't perform operations on your behalf on any new accounts in your organization. The service can still perform operations in older accounts until the service completes its clean-up from Organizations. </p> </li> <li> <p>The service can no longer perform tasks in the member accounts in the organization, unless those operations are explicitly permitted by the IAM policies that are attached to your roles. This includes any data aggregation from the member accounts to the management account, or to a delegated administrator account, where relevant.</p> </li> <li> <p>Some services detect this and clean up any remaining data or resources related to the integration, while other services stop accessing the organization but leave any historical data and configuration in place to support a possible re-enabling of the integration.</p> </li> </ul> <p>Using the other service's console or commands to disable the integration ensures that the other service is aware that it can clean up any resources that are required only for the integration. How the service cleans up its resources in the organization's accounts depends on that service. For more information, see the documentation for the other Amazon Web Services service. </p> </important> <p>After you perform the <code>DisableAWSServiceAccess</code> operation, the specified service can no longer perform operations in your organization's accounts </p> <p>For more information about integrating other services with Organizations, including the list of services that work with Organizations, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_integrate_services.html\">Using Organizations with other Amazon Web Services services</a> in the <i>Organizations User Guide</i>.</p> <p>This operation can be called only from the organization's management account.</p>"
    },
    "DisablePolicyType":{
      "name":"DisablePolicyType",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisablePolicyTypeRequest"},
      "output":{"shape":"DisablePolicyTypeResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidInputException"},
        {"shape":"PolicyTypeNotEnabledException"},
        {"shape":"RootNotFoundException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedAPIEndpointException"},
        {"shape":"PolicyChangesInProgressException"}
      ],
      "documentation":"<p>Disables an organizational policy type in a root. A policy of a certain type can be attached to entities in a root only if that type is enabled in the root. After you perform this operation, you no longer can attach policies of the specified type to that root or to any organizational unit (OU) or account in that root. You can undo this by using the <a>EnablePolicyType</a> operation.</p> <p>This is an asynchronous request that Amazon Web Services performs in the background. If you disable a policy type for a root, it still appears enabled for the organization if <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_org_support-all-features.html\">all features</a> are enabled for the organization. Amazon Web Services recommends that you first use <a>ListRoots</a> to see the status of policy types for a specified root, and then use this operation.</p> <p>This operation can be called only from the organization's management account or by a member account that is a delegated administrator.</p> <p> To view the status of available policy types in the organization, use <a>ListRoots</a>.</p>"
    },
    "EnableAWSServiceAccess":{
      "name":"EnableAWSServiceAccess",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableAWSServiceAccessRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidInputException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedAPIEndpointException"}
      ],
      "documentation":"<p>Provides an Amazon Web Services service (the service that is specified by <code>ServicePrincipal</code>) with permissions to view the structure of an organization, create a <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/using-service-linked-roles.html\">service-linked role</a> in all the accounts in the organization, and allow the service to perform operations on behalf of the organization and its accounts. Establishing these permissions can be a first step in enabling the integration of an Amazon Web Services service with Organizations.</p> <important> <p>We recommend that you enable integration between Organizations and the specified Amazon Web Services service by using the console or commands that are provided by the specified service. Doing so ensures that the service is aware that it can create the resources that are required for the integration. How the service creates those resources in the organization's accounts depends on that service. For more information, see the documentation for the other Amazon Web Services service.</p> </important> <p>For more information about enabling services to integrate with Organizations, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_integrate_services.html\">Using Organizations with other Amazon Web Services services</a> in the <i>Organizations User Guide</i>.</p> <p>This operation can be called only from the organization's management account.</p>"
    },
    "EnableAllFeatures":{
      "name":"EnableAllFeatures",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableAllFeaturesRequest"},
      "output":{"shape":"EnableAllFeaturesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"HandshakeConstraintViolationException"},
        {"shape":"InvalidInputException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Enables all features in an organization. This enables the use of organization policies that can restrict the services and actions that can be called in each account. Until you enable all features, you have access only to consolidated billing, and you can't use any of the advanced account administration features that Organizations supports. For more information, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_org_support-all-features.html\">Enabling all features in your organization</a> in the <i>Organizations User Guide</i>.</p> <important> <p>This operation is required only for organizations that were created explicitly with only the consolidated billing features enabled. Calling this operation sends a handshake to every invited account in the organization. The feature set change can be finalized and the additional features enabled only after all administrators in the invited accounts approve the change by accepting the handshake.</p> </important> <p>After you enable all features, you can separately enable or disable individual policy types in a root using <a>EnablePolicyType</a> and <a>DisablePolicyType</a>. To see the status of policy types in a root, use <a>ListRoots</a>.</p> <p>After all invited member accounts accept the handshake, you finalize the feature set change by accepting the handshake that contains <code>\"Action\": \"ENABLE_ALL_FEATURES\"</code>. This completes the change.</p> <p>After you enable all features in your organization, the management account in the organization can apply policies on all member accounts. These policies can restrict what users and even administrators in those accounts can do. The management account can apply policies that prevent accounts from leaving the organization. Ensure that your account administrators are aware of this.</p> <p>This operation can be called only from the organization's management account.</p>"
    },
    "EnablePolicyType":{
      "name":"EnablePolicyType",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnablePolicyTypeRequest"},
      "output":{"shape":"EnablePolicyTypeResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidInputException"},
        {"shape":"PolicyTypeAlreadyEnabledException"},
        {"shape":"RootNotFoundException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"PolicyTypeNotAvailableForOrganizationException"},
        {"shape":"UnsupportedAPIEndpointException"},
        {"shape":"PolicyChangesInProgressException"}
      ],
      "documentation":"<p>Enables a policy type in a root. After you enable a policy type in a root, you can attach policies of that type to the root, any organizational unit (OU), or account in that root. You can undo this by using the <a>DisablePolicyType</a> operation.</p> <p>This is an asynchronous request that Amazon Web Services performs in the background. Amazon Web Services recommends that you first use <a>ListRoots</a> to see the status of policy types for a specified root, and then use this operation.</p> <p>This operation can be called only from the organization's management account or by a member account that is a delegated administrator.</p> <p>You can enable a policy type in a root only if that policy type is available in the organization. To view the status of available policy types in the organization, use <a>ListRoots</a>.</p>"
    },
    "InviteAccountToOrganization":{
      "name":"InviteAccountToOrganization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"InviteAccountToOrganizationRequest"},
      "output":{"shape":"InviteAccountToOrganizationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"AccountOwnerNotVerifiedException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"HandshakeConstraintViolationException"},
        {"shape":"DuplicateHandshakeException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidInputException"},
        {"shape":"FinalizingOrganizationException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Sends an invitation to another account to join your organization as a member account. Organizations sends email on your behalf to the email address that is associated with the other account's owner. The invitation is implemented as a <a>Handshake</a> whose details are in the response.</p> <important> <p>If you receive an exception that indicates that you exceeded your account limits for the organization or that the operation failed because your organization is still initializing, wait one hour and then try again. If the error persists after an hour, contact <a href=\"https://console.aws.amazon.com/support/home#/\">Amazon Web Services Support</a>.</p> </important> <p>If the request includes tags, then the requester must have the <code>organizations:TagResource</code> permission.</p> <p>This operation can be called only from the organization's management account.</p>"
    },
    "LeaveOrganization":{
      "name":"LeaveOrganization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AccountNotFoundException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidInputException"},
        {"shape":"MasterCannotLeaveOrganizationException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Removes a member account from its parent organization. This version of the operation is performed by the account that wants to leave. To remove a member account as a user in the management account, use <a>RemoveAccountFromOrganization</a> instead.</p> <p>This operation can be called only from a member account in the organization.</p> <important> <ul> <li> <p>The management account in an organization with all features enabled can set service control policies (SCPs) that can restrict what administrators of member accounts can do. This includes preventing them from successfully calling <code>LeaveOrganization</code> and leaving the organization.</p> </li> <li> <p>You can leave an organization as a member account only if the account is configured with the information required to operate as a standalone account. When you create an account in an organization using the Organizations console, API, or CLI commands, the information required of standalone accounts is <i>not</i> automatically collected. For each account that you want to make standalone, you must perform the following steps. If any of the steps are already completed for this account, that step doesn't appear.</p> <ul> <li> <p>Choose a support plan</p> </li> <li> <p>Provide and verify the required contact information</p> </li> <li> <p>Provide a current payment method</p> </li> </ul> <p>Amazon Web Services uses the payment method to charge for any billable (not free tier) Amazon Web Services activity that occurs while the account isn't attached to an organization. For more information, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_account-before-remove.html\">Considerations before removing an account from an organization</a> in the <i>Organizations User Guide</i>.</p> </li> <li> <p>The account that you want to leave must not be a delegated administrator account for any Amazon Web Services service enabled for your organization. If the account is a delegated administrator, you must first change the delegated administrator account to another account that is remaining in the organization.</p> </li> <li> <p>After the account leaves the organization, all tags that were attached to the account object in the organization are deleted. Amazon Web Services accounts outside of an organization do not support tags.</p> </li> <li> <p>A newly created account has a waiting period before it can be removed from its organization. You must wait until at least seven days after the account was created. Invited accounts aren't subject to this waiting period.</p> </li> <li> <p>If you are using an organization principal to call <code>LeaveOrganization</code> across multiple accounts, you can only do this up to 5 accounts per second in a single organization.</p> </li> </ul> </important>"
    },
    "ListAWSServiceAccessForOrganization":{
      "name":"ListAWSServiceAccessForOrganization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAWSServiceAccessForOrganizationRequest"},
      "output":{"shape":"ListAWSServiceAccessForOrganizationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidInputException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedAPIEndpointException"}
      ],
      "documentation":"<p>Returns a list of the Amazon Web Services services that you enabled to integrate with your organization. After a service on this list creates the resources that it requires for the integration, it can perform operations on your organization and its accounts.</p> <p>For more information about integrating other services with Organizations, including the list of services that currently work with Organizations, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_integrate_services.html\">Using Organizations with other Amazon Web Services services</a> in the <i>Organizations User Guide</i>.</p> <p>This operation can be called only from the organization's management account or by a member account that is a delegated administrator.</p>"
    },
    "ListAccounts":{
      "name":"ListAccounts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAccountsRequest"},
      "output":{"shape":"ListAccountsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"InvalidInputException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Lists all the accounts in the organization. To request only the accounts in a specified root or organizational unit (OU), use the <a>ListAccountsForParent</a> operation instead.</p> <note> <p>Always check the <code>NextToken</code> response parameter for a <code>null</code> value when calling a <code>List*</code> operation. These operations can occasionally return an empty set of results even when there are more results available. The <code>NextToken</code> response parameter value is <code>null</code> <i>only</i> when there are no more results to display.</p> </note> <p>This operation can be called only from the organization's management account or by a member account that is a delegated administrator.</p>"
    },
    "ListAccountsForParent":{
      "name":"ListAccountsForParent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAccountsForParentRequest"},
      "output":{"shape":"ListAccountsForParentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"InvalidInputException"},
        {"shape":"ParentNotFoundException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Lists the accounts in an organization that are contained by the specified target root or organizational unit (OU). If you specify the root, you get a list of all the accounts that aren't in any OU. If you specify an OU, you get a list of all the accounts in only that OU and not in any child OUs. To get a list of all accounts in the organization, use the <a>ListAccounts</a> operation.</p> <note> <p>Always check the <code>NextToken</code> response parameter for a <code>null</code> value when calling a <code>List*</code> operation. These operations can occasionally return an empty set of results even when there are more results available. The <code>NextToken</code> response parameter value is <code>null</code> <i>only</i> when there are no more results to display.</p> </note> <p>This operation can be called only from the organization's management account or by a member account that is a delegated administrator.</p>"
    },
    "ListAccountsWithInvalidEffectivePolicy":{
      "name":"ListAccountsWithInvalidEffectivePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAccountsWithInvalidEffectivePolicyRequest"},
      "output":{"shape":"ListAccountsWithInvalidEffectivePolicyResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"EffectivePolicyNotFoundException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"InvalidInputException"},
        {"shape":"UnsupportedAPIEndpointException"}
      ],
      "documentation":"<p>Lists all the accounts in an organization that have invalid effective policies. An <i>invalid effective policy</i> is an <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies_effective.html\">effective policy</a> that fails validation checks, resulting in the effective policy not being fully enforced on all the intended accounts within an organization.</p> <p>This operation can be called only from the organization's management account or by a member account that is a delegated administrator.</p>"
    },
    "ListChildren":{
      "name":"ListChildren",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListChildrenRequest"},
      "output":{"shape":"ListChildrenResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"InvalidInputException"},
        {"shape":"ParentNotFoundException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Lists all of the organizational units (OUs) or accounts that are contained in the specified parent OU or root. This operation, along with <a>ListParents</a> enables you to traverse the tree structure that makes up this root.</p> <note> <p>Always check the <code>NextToken</code> response parameter for a <code>null</code> value when calling a <code>List*</code> operation. These operations can occasionally return an empty set of results even when there are more results available. The <code>NextToken</code> response parameter value is <code>null</code> <i>only</i> when there are no more results to display.</p> </note> <p>This operation can be called only from the organization's management account or by a member account that is a delegated administrator.</p>"
    },
    "ListCreateAccountStatus":{
      "name":"ListCreateAccountStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCreateAccountStatusRequest"},
      "output":{"shape":"ListCreateAccountStatusResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"InvalidInputException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedAPIEndpointException"}
      ],
      "documentation":"<p>Lists the account creation requests that match the specified status that is currently being tracked for the organization.</p> <note> <p>Always check the <code>NextToken</code> response parameter for a <code>null</code> value when calling a <code>List*</code> operation. These operations can occasionally return an empty set of results even when there are more results available. The <code>NextToken</code> response parameter value is <code>null</code> <i>only</i> when there are no more results to display.</p> </note> <p>This operation can be called only from the organization's management account or by a member account that is a delegated administrator.</p>"
    },
    "ListDelegatedAdministrators":{
      "name":"ListDelegatedAdministrators",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDelegatedAdministratorsRequest"},
      "output":{"shape":"ListDelegatedAdministratorsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidInputException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ServiceException"},
        {"shape":"UnsupportedAPIEndpointException"}
      ],
      "documentation":"<p>Lists the Amazon Web Services accounts that are designated as delegated administrators in this organization.</p> <p>This operation can be called only from the organization's management account or by a member account that is a delegated administrator.</p>"
    },
    "ListDelegatedServicesForAccount":{
      "name":"ListDelegatedServicesForAccount",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDelegatedServicesForAccountRequest"},
      "output":{"shape":"ListDelegatedServicesForAccountResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AccountNotFoundException"},
        {"shape":"AccountNotRegisteredException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidInputException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ServiceException"},
        {"shape":"UnsupportedAPIEndpointException"}
      ],
      "documentation":"<p>List the Amazon Web Services services for which the specified account is a delegated administrator.</p> <p>This operation can be called only from the organization's management account or by a member account that is a delegated administrator.</p>"
    },
    "ListEffectivePolicyValidationErrors":{
      "name":"ListEffectivePolicyValidationErrors",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEffectivePolicyValidationErrorsRequest"},
      "output":{"shape":"ListEffectivePolicyValidationErrorsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"EffectivePolicyNotFoundException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"AccountNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"UnsupportedAPIEndpointException"}
      ],
      "documentation":"<p>Lists all the validation errors on an <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies_effective.html\">effective policy</a> for a specified account and policy type.</p> <p>This operation can be called only from the organization's management account or by a member account that is a delegated administrator.</p>"
    },
    "ListHandshakesForAccount":{
      "name":"ListHandshakesForAccount",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListHandshakesForAccountRequest"},
      "output":{"shape":"ListHandshakesForAccountResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidInputException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Lists the current handshakes that are associated with the account of the requesting user.</p> <p>Handshakes that are <code>ACCEPTED</code>, <code>DECLINED</code>, <code>CANCELED</code>, or <code>EXPIRED</code> appear in the results of this API for only 30 days after changing to that state. After that, they're deleted and no longer accessible.</p> <note> <p>Always check the <code>NextToken</code> response parameter for a <code>null</code> value when calling a <code>List*</code> operation. These operations can occasionally return an empty set of results even when there are more results available. The <code>NextToken</code> response parameter value is <code>null</code> <i>only</i> when there are no more results to display.</p> </note> <p>This operation can be called from any account in the organization.</p>"
    },
    "ListHandshakesForOrganization":{
      "name":"ListHandshakesForOrganization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListHandshakesForOrganizationRequest"},
      "output":{"shape":"ListHandshakesForOrganizationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidInputException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Lists the handshakes that are associated with the organization that the requesting user is part of. The <code>ListHandshakesForOrganization</code> operation returns a list of handshake structures. Each structure contains details and status about a handshake.</p> <p>Handshakes that are <code>ACCEPTED</code>, <code>DECLINED</code>, <code>CANCELED</code>, or <code>EXPIRED</code> appear in the results of this API for only 30 days after changing to that state. After that, they're deleted and no longer accessible.</p> <note> <p>Always check the <code>NextToken</code> response parameter for a <code>null</code> value when calling a <code>List*</code> operation. These operations can occasionally return an empty set of results even when there are more results available. The <code>NextToken</code> response parameter value is <code>null</code> <i>only</i> when there are no more results to display.</p> </note> <p>This operation can be called only from the organization's management account or by a member account that is a delegated administrator.</p>"
    },
    "ListOrganizationalUnitsForParent":{
      "name":"ListOrganizationalUnitsForParent",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListOrganizationalUnitsForParentRequest"},
      "output":{"shape":"ListOrganizationalUnitsForParentResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"InvalidInputException"},
        {"shape":"ParentNotFoundException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Lists the organizational units (OUs) in a parent organizational unit or root.</p> <note> <p>Always check the <code>NextToken</code> response parameter for a <code>null</code> value when calling a <code>List*</code> operation. These operations can occasionally return an empty set of results even when there are more results available. The <code>NextToken</code> response parameter value is <code>null</code> <i>only</i> when there are no more results to display.</p> </note> <p>This operation can be called only from the organization's management account or by a member account that is a delegated administrator.</p>"
    },
    "ListParents":{
      "name":"ListParents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListParentsRequest"},
      "output":{"shape":"ListParentsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ChildNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Lists the root or organizational units (OUs) that serve as the immediate parent of the specified child OU or account. This operation, along with <a>ListChildren</a> enables you to traverse the tree structure that makes up this root.</p> <note> <p>Always check the <code>NextToken</code> response parameter for a <code>null</code> value when calling a <code>List*</code> operation. These operations can occasionally return an empty set of results even when there are more results available. The <code>NextToken</code> response parameter value is <code>null</code> <i>only</i> when there are no more results to display.</p> </note> <p>This operation can be called only from the organization's management account or by a member account that is a delegated administrator.</p> <note> <p>In the current release, a child can have only a single parent.</p> </note>"
    },
    "ListPolicies":{
      "name":"ListPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPoliciesRequest"},
      "output":{"shape":"ListPoliciesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"InvalidInputException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedAPIEndpointException"}
      ],
      "documentation":"<p>Retrieves the list of all policies in an organization of a specified type.</p> <note> <p>Always check the <code>NextToken</code> response parameter for a <code>null</code> value when calling a <code>List*</code> operation. These operations can occasionally return an empty set of results even when there are more results available. The <code>NextToken</code> response parameter value is <code>null</code> <i>only</i> when there are no more results to display.</p> </note> <p>This operation can be called only from the organization's management account or by a member account that is a delegated administrator.</p>"
    },
    "ListPoliciesForTarget":{
      "name":"ListPoliciesForTarget",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPoliciesForTargetRequest"},
      "output":{"shape":"ListPoliciesForTargetResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"InvalidInputException"},
        {"shape":"ServiceException"},
        {"shape":"TargetNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedAPIEndpointException"}
      ],
      "documentation":"<p>Lists the policies that are directly attached to the specified target root, organizational unit (OU), or account. You must specify the policy type that you want included in the returned list.</p> <note> <p>Always check the <code>NextToken</code> response parameter for a <code>null</code> value when calling a <code>List*</code> operation. These operations can occasionally return an empty set of results even when there are more results available. The <code>NextToken</code> response parameter value is <code>null</code> <i>only</i> when there are no more results to display.</p> </note> <p>This operation can be called only from the organization's management account or by a member account that is a delegated administrator.</p>"
    },
    "ListRoots":{
      "name":"ListRoots",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListRootsRequest"},
      "output":{"shape":"ListRootsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"InvalidInputException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Lists the roots that are defined in the current organization.</p> <note> <p>Always check the <code>NextToken</code> response parameter for a <code>null</code> value when calling a <code>List*</code> operation. These operations can occasionally return an empty set of results even when there are more results available. The <code>NextToken</code> response parameter value is <code>null</code> <i>only</i> when there are no more results to display.</p> </note> <p>This operation can be called only from the organization's management account or by a member account that is a delegated administrator.</p> <note> <p>Policy types can be enabled and disabled in roots. This is distinct from whether they're available in the organization. When you enable all features, you make policy types available for use in that organization. Individual policy types can then be enabled and disabled in a root. To see the availability of a policy type in an organization, use <a>DescribeOrganization</a>.</p> </note>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"TargetNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Lists tags that are attached to the specified resource.</p> <p>You can attach tags to the following resources in Organizations.</p> <ul> <li> <p>Amazon Web Services account</p> </li> <li> <p>Organization root</p> </li> <li> <p>Organizational unit (OU)</p> </li> <li> <p>Policy (any type)</p> </li> </ul> <p>This operation can be called only from the organization's management account or by a member account that is a delegated administrator.</p>"
    },
    "ListTargetsForPolicy":{
      "name":"ListTargetsForPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTargetsForPolicyRequest"},
      "output":{"shape":"ListTargetsForPolicyResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"InvalidInputException"},
        {"shape":"PolicyNotFoundException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedAPIEndpointException"}
      ],
      "documentation":"<p>Lists all the roots, organizational units (OUs), and accounts that the specified policy is attached to.</p> <note> <p>Always check the <code>NextToken</code> response parameter for a <code>null</code> value when calling a <code>List*</code> operation. These operations can occasionally return an empty set of results even when there are more results available. The <code>NextToken</code> response parameter value is <code>null</code> <i>only</i> when there are no more results to display.</p> </note> <p>This operation can be called only from the organization's management account or by a member account that is a delegated administrator.</p>"
    },
    "MoveAccount":{
      "name":"MoveAccount",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"MoveAccountRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidInputException"},
        {"shape":"SourceParentNotFoundException"},
        {"shape":"DestinationParentNotFoundException"},
        {"shape":"DuplicateAccountException"},
        {"shape":"AccountNotFoundException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ServiceException"}
      ],
      "documentation":"<p>Moves an account from its current source parent root or organizational unit (OU) to the specified destination parent root or OU.</p> <p>This operation can be called only from the organization's management account.</p>"
    },
    "PutResourcePolicy":{
      "name":"PutResourcePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutResourcePolicyRequest"},
      "output":{"shape":"PutResourcePolicyResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceException"},
        {"shape":"UnsupportedAPIEndpointException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidInputException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"AWSOrganizationsNotInUseException"}
      ],
      "documentation":"<p>Creates or updates a resource policy.</p> <p>This operation can be called only from the organization's management account..</p>"
    },
    "RegisterDelegatedAdministrator":{
      "name":"RegisterDelegatedAdministrator",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterDelegatedAdministratorRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AccountAlreadyRegisteredException"},
        {"shape":"AccountNotFoundException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidInputException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"ServiceException"},
        {"shape":"UnsupportedAPIEndpointException"}
      ],
      "documentation":"<p>Enables the specified member account to administer the Organizations features of the specified Amazon Web Services service. It grants read-only access to Organizations service data. The account still requires IAM permissions to access and administer the Amazon Web Services service.</p> <p>You can run this action only for Amazon Web Services services that support this feature. For a current list of services that support it, see the column <i>Supports Delegated Administrator</i> in the table at <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_integrate_services_list.html\">Amazon Web Services Services that you can use with Organizations</a> in the <i>Organizations User Guide.</i> </p> <p>This operation can be called only from the organization's management account.</p>"
    },
    "RemoveAccountFromOrganization":{
      "name":"RemoveAccountFromOrganization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveAccountFromOrganizationRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AccountNotFoundException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidInputException"},
        {"shape":"MasterCannotLeaveOrganizationException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Removes the specified account from the organization.</p> <p>The removed account becomes a standalone account that isn't a member of any organization. It's no longer subject to any policies and is responsible for its own bill payments. The organization's management account is no longer charged for any expenses accrued by the member account after it's removed from the organization.</p> <p>This operation can be called only from the organization's management account. Member accounts can remove themselves with <a>LeaveOrganization</a> instead.</p> <important> <ul> <li> <p>You can remove an account from your organization only if the account is configured with the information required to operate as a standalone account. When you create an account in an organization using the Organizations console, API, or CLI commands, the information required of standalone accounts is <i>not</i> automatically collected. For more information, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_account-before-remove.html\">Considerations before removing an account from an organization</a> in the <i>Organizations User Guide</i>.</p> </li> <li> <p>The account that you want to leave must not be a delegated administrator account for any Amazon Web Services service enabled for your organization. If the account is a delegated administrator, you must first change the delegated administrator account to another account that is remaining in the organization.</p> </li> <li> <p>After the account leaves the organization, all tags that were attached to the account object in the organization are deleted. Amazon Web Services accounts outside of an organization do not support tags.</p> </li> </ul> </important>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"TargetNotFoundException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidInputException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Adds one or more tags to the specified resource.</p> <p>Currently, you can attach tags to the following resources in Organizations.</p> <ul> <li> <p>Amazon Web Services account</p> </li> <li> <p>Organization root</p> </li> <li> <p>Organizational unit (OU)</p> </li> <li> <p>Policy (any type)</p> </li> </ul> <p>This operation can be called only from the organization's management account or by a member account that is a delegated administrator.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"TargetNotFoundException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"InvalidInputException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Removes any tags with the specified keys from the specified resource.</p> <p>You can attach tags to the following resources in Organizations.</p> <ul> <li> <p>Amazon Web Services account</p> </li> <li> <p>Organization root</p> </li> <li> <p>Organizational unit (OU)</p> </li> <li> <p>Policy (any type)</p> </li> </ul> <p>This operation can be called only from the organization's management account or by a member account that is a delegated administrator.</p>"
    },
    "UpdateOrganizationalUnit":{
      "name":"UpdateOrganizationalUnit",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateOrganizationalUnitRequest"},
      "output":{"shape":"UpdateOrganizationalUnitResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"DuplicateOrganizationalUnitException"},
        {"shape":"InvalidInputException"},
        {"shape":"OrganizationalUnitNotFoundException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Renames the specified organizational unit (OU). The ID and ARN don't change. The child OUs and accounts remain in place, and any attached policies of the OU remain attached.</p> <p>This operation can be called only from the organization's management account.</p>"
    },
    "UpdatePolicy":{
      "name":"UpdatePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePolicyRequest"},
      "output":{"shape":"UpdatePolicyResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"AWSOrganizationsNotInUseException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ConstraintViolationException"},
        {"shape":"DuplicatePolicyException"},
        {"shape":"InvalidInputException"},
        {"shape":"MalformedPolicyDocumentException"},
        {"shape":"PolicyNotFoundException"},
        {"shape":"ServiceException"},
        {"shape":"TooManyRequestsException"},
        {"shape":"UnsupportedAPIEndpointException"},
        {"shape":"PolicyChangesInProgressException"}
      ],
      "documentation":"<p>Updates an existing policy with a new name, description, or content. If you don't supply any parameter, that value remains unchanged. You can't change a policy's type.</p> <p>This operation can be called only from the organization's management account or by a member account that is a delegated administrator.</p>"
    }
  },
  "shapes":{
    "AWSOrganizationsNotInUseException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ExceptionMessage"}
      },
      "documentation":"<p>Your account isn't a member of an organization. To make this request, you must use the credentials of an account that belongs to an organization.</p>",
      "exception":true
    },
    "AcceptHandshakeRequest":{
      "type":"structure",
      "required":["HandshakeId"],
      "members":{
        "HandshakeId":{
          "shape":"HandshakeId",
          "documentation":"<p>The unique identifier (ID) of the handshake that you want to accept.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for handshake ID string requires \"h-\" followed by from 8 to 32 lowercase letters or digits.</p>"
        }
      }
    },
    "AcceptHandshakeResponse":{
      "type":"structure",
      "members":{
        "Handshake":{
          "shape":"Handshake",
          "documentation":"<p>A structure that contains details about the accepted handshake.</p>"
        }
      }
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ExceptionMessage"}
      },
      "documentation":"<p>You don't have permissions to perform the requested operation. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access Management</a> in the <i>IAM User Guide</i>.</p>",
      "exception":true
    },
    "AccessDeniedForDependencyException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ExceptionMessage"},
        "Reason":{"shape":"AccessDeniedForDependencyExceptionReason"}
      },
      "documentation":"<p>The operation that you attempted requires you to have the <code>iam:CreateServiceLinkedRole</code> for <code>organizations.amazonaws.com</code> permission so that Organizations can create the required service-linked role. You don't have that permission.</p>",
      "exception":true
    },
    "AccessDeniedForDependencyExceptionReason":{
      "type":"string",
      "enum":["ACCESS_DENIED_DURING_CREATE_SERVICE_LINKED_ROLE"]
    },
    "Account":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"AccountId",
          "documentation":"<p>The unique identifier (ID) of the account.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for an account ID string requires exactly 12 digits.</p>"
        },
        "Arn":{
          "shape":"AccountArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the account.</p> <p>For more information about ARNs in Organizations, see <a href=\"https://docs.aws.amazon.com/service-authorization/latest/reference/list_awsorganizations.html#awsorganizations-resources-for-iam-policies\">ARN Formats Supported by Organizations</a> in the <i>Amazon Web Services Service Authorization Reference</i>.</p>"
        },
        "Email":{
          "shape":"Email",
          "documentation":"<p>The email address associated with the Amazon Web Services account.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> for this parameter is a string of characters that represents a standard internet email address.</p>"
        },
        "Name":{
          "shape":"AccountName",
          "documentation":"<p>The friendly name of the account.</p> <p>The <a href=\"http://wikipedia.org/wiki/regex\">regex pattern</a> that is used to validate this parameter is a string of any of the characters in the ASCII character range.</p>"
        },
        "Status":{
          "shape":"AccountStatus",
          "documentation":"<p>The status of the account in the organization.</p> <important> <p>The <code>Status</code> parameter in the <code>Account</code> object will be retired on September 9, 2026. Although both the account <code>State</code> and account <code>Status</code> parameters are currently available in the Organizations APIs (<code>DescribeAccount</code>, <code>ListAccounts</code>, <code>ListAccountsForParent</code>), we recommend that you update your scripts or other code to use the <code>State</code> parameter instead of <code>Status</code> before September 9, 2026.</p> </important>"
        },
        "State":{
          "shape":"AccountState",
[...]
