<section class="gh-canvas gh-design">
    <GhCanvasHeader class="gh-canvas-header">
        <h2 class="gh-canvas-title">Site design</h2>
        <section class="view-actions">
        </section>
    </GhCanvasHeader>
    <div class="view-container ">
        <ol class="posts-list gh-list">
            <li class="no-posts-box">
                <div class="no-posts">
                    <h4>No theme is currently active</h4>
                    <LinkTo @route="settings.design.change-theme" class="gh-btn">
                        <span>Activate a theme</span>
                    </LinkTo>
                </div>
            </li>
        </ol>
    </div>
</section>
{{outlet}}