{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-04-23",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"api.mediatailor",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceAbbreviation":"MediaTailor",
    "serviceFullName":"AWS MediaTailor",
    "serviceId":"MediaTailor",
    "signatureVersion":"v4",
    "signingName":"mediatailor",
    "uid":"mediatailor-2018-04-23"
  },
  "operations":{
    "ConfigureLogsForChannel":{
      "name":"ConfigureLogsForChannel",
      "http":{
        "method":"PUT",
        "requestUri":"/configureLogs/channel",
        "responseCode":200
      },
      "input":{"shape":"ConfigureLogsForChannelRequest"},
      "output":{"shape":"ConfigureLogsForChannelResponse"},
      "documentation":"<p>Configures Amazon CloudWatch log settings for a channel.</p>"
    },
    "ConfigureLogsForPlaybackConfiguration":{
      "name":"ConfigureLogsForPlaybackConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/configureLogs/playbackConfiguration",
        "responseCode":200
      },
      "input":{"shape":"ConfigureLogsForPlaybackConfigurationRequest"},
      "output":{"shape":"ConfigureLogsForPlaybackConfigurationResponse"},
      "documentation":"<p>Defines where AWS Elemental MediaTailor sends logs for the playback configuration.</p>",
      "idempotent":true
    },
    "CreateChannel":{
      "name":"CreateChannel",
      "http":{
        "method":"POST",
        "requestUri":"/channel/{ChannelName}",
        "responseCode":200
      },
      "input":{"shape":"CreateChannelRequest"},
      "output":{"shape":"CreateChannelResponse"},
      "documentation":"<p>Creates a channel. For information about MediaTailor channels, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/channel-assembly-channels.html\">Working with channels</a> in the <i>MediaTailor User Guide</i>.</p>",
      "idempotent":true
    },
    "CreateLiveSource":{
      "name":"CreateLiveSource",
      "http":{
        "method":"POST",
        "requestUri":"/sourceLocation/{SourceLocationName}/liveSource/{LiveSourceName}",
        "responseCode":200
      },
      "input":{"shape":"CreateLiveSourceRequest"},
      "output":{"shape":"CreateLiveSourceResponse"},
      "documentation":"<p>The live source configuration.</p>",
      "idempotent":true
    },
    "CreatePrefetchSchedule":{
      "name":"CreatePrefetchSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/prefetchSchedule/{PlaybackConfigurationName}/{Name}",
        "responseCode":200
      },
      "input":{"shape":"CreatePrefetchScheduleRequest"},
      "output":{"shape":"CreatePrefetchScheduleResponse"},
      "documentation":"<p>Creates a prefetch schedule for a playback configuration. A prefetch schedule allows you to tell MediaTailor to fetch and prepare certain ads before an ad break happens. For more information about ad prefetching, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/prefetching-ads.html\">Using ad prefetching</a> in the <i>MediaTailor User Guide</i>.</p>",
      "idempotent":true
    },
    "CreateProgram":{
      "name":"CreateProgram",
      "http":{
        "method":"POST",
        "requestUri":"/channel/{ChannelName}/program/{ProgramName}",
        "responseCode":200
      },
      "input":{"shape":"CreateProgramRequest"},
      "output":{"shape":"CreateProgramResponse"},
      "documentation":"<p>Creates a program within a channel. For information about programs, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/channel-assembly-programs.html\">Working with programs</a> in the <i>MediaTailor User Guide</i>.</p>",
      "idempotent":true
    },
    "CreateSourceLocation":{
      "name":"CreateSourceLocation",
      "http":{
        "method":"POST",
        "requestUri":"/sourceLocation/{SourceLocationName}",
        "responseCode":200
      },
      "input":{"shape":"CreateSourceLocationRequest"},
      "output":{"shape":"CreateSourceLocationResponse"},
      "documentation":"<p>Creates a source location. A source location is a container for sources. For more information about source locations, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/channel-assembly-source-locations.html\">Working with source locations</a> in the <i>MediaTailor User Guide</i>.</p>",
      "idempotent":true
    },
    "CreateVodSource":{
      "name":"CreateVodSource",
      "http":{
        "method":"POST",
        "requestUri":"/sourceLocation/{SourceLocationName}/vodSource/{VodSourceName}",
        "responseCode":200
      },
      "input":{"shape":"CreateVodSourceRequest"},
      "output":{"shape":"CreateVodSourceResponse"},
      "documentation":"<p>The VOD source configuration parameters.</p>",
      "idempotent":true
    },
    "DeleteChannel":{
      "name":"DeleteChannel",
      "http":{
        "method":"DELETE",
        "requestUri":"/channel/{ChannelName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteChannelRequest"},
      "output":{"shape":"DeleteChannelResponse"},
      "documentation":"<p>Deletes a channel. For information about MediaTailor channels, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/channel-assembly-channels.html\">Working with channels</a> in the <i>MediaTailor User Guide</i>.</p>",
      "idempotent":true
    },
    "DeleteChannelPolicy":{
      "name":"DeleteChannelPolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/channel/{ChannelName}/policy",
        "responseCode":200
      },
      "input":{"shape":"DeleteChannelPolicyRequest"},
      "output":{"shape":"DeleteChannelPolicyResponse"},
      "documentation":"<p>The channel policy to delete.</p>",
      "idempotent":true
    },
    "DeleteLiveSource":{
      "name":"DeleteLiveSource",
      "http":{
        "method":"DELETE",
        "requestUri":"/sourceLocation/{SourceLocationName}/liveSource/{LiveSourceName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteLiveSourceRequest"},
      "output":{"shape":"DeleteLiveSourceResponse"},
      "documentation":"<p>The live source to delete.</p>",
      "idempotent":true
    },
    "DeletePlaybackConfiguration":{
      "name":"DeletePlaybackConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/playbackConfiguration/{Name}",
        "responseCode":204
      },
      "input":{"shape":"DeletePlaybackConfigurationRequest"},
      "output":{"shape":"DeletePlaybackConfigurationResponse"},
      "documentation":"<p>Deletes a playback configuration. For information about MediaTailor configurations, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/configurations.html\">Working with configurations in AWS Elemental MediaTailor</a>.</p>",
      "idempotent":true
    },
    "DeletePrefetchSchedule":{
      "name":"DeletePrefetchSchedule",
      "http":{
        "method":"DELETE",
        "requestUri":"/prefetchSchedule/{PlaybackConfigurationName}/{Name}",
        "responseCode":204
      },
      "input":{"shape":"DeletePrefetchScheduleRequest"},
      "output":{"shape":"DeletePrefetchScheduleResponse"},
      "documentation":"<p>Deletes a prefetch schedule for a specific playback configuration. If you call <code>DeletePrefetchSchedule</code> on an expired prefetch schedule, MediaTailor returns an HTTP 404 status code. For more information about ad prefetching, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/prefetching-ads.html\">Using ad prefetching</a> in the <i>MediaTailor User Guide</i>.</p>",
      "idempotent":true
    },
    "DeleteProgram":{
      "name":"DeleteProgram",
      "http":{
        "method":"DELETE",
        "requestUri":"/channel/{ChannelName}/program/{ProgramName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteProgramRequest"},
      "output":{"shape":"DeleteProgramResponse"},
      "documentation":"<p>Deletes a program within a channel. For information about programs, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/channel-assembly-programs.html\">Working with programs</a> in the <i>MediaTailor User Guide</i>.</p>",
      "idempotent":true
    },
    "DeleteSourceLocation":{
      "name":"DeleteSourceLocation",
      "http":{
        "method":"DELETE",
        "requestUri":"/sourceLocation/{SourceLocationName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteSourceLocationRequest"},
      "output":{"shape":"DeleteSourceLocationResponse"},
      "documentation":"<p>Deletes a source location. A source location is a container for sources. For more information about source locations, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/channel-assembly-source-locations.html\">Working with source locations</a> in the <i>MediaTailor User Guide</i>.</p>",
      "idempotent":true
    },
    "DeleteVodSource":{
      "name":"DeleteVodSource",
      "http":{
        "method":"DELETE",
        "requestUri":"/sourceLocation/{SourceLocationName}/vodSource/{VodSourceName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteVodSourceRequest"},
      "output":{"shape":"DeleteVodSourceResponse"},
      "documentation":"<p>The video on demand (VOD) source to delete.</p>",
      "idempotent":true
    },
    "DescribeChannel":{
      "name":"DescribeChannel",
      "http":{
        "method":"GET",
        "requestUri":"/channel/{ChannelName}",
        "responseCode":200
      },
      "input":{"shape":"DescribeChannelRequest"},
      "output":{"shape":"DescribeChannelResponse"},
      "documentation":"<p>Describes a channel. For information about MediaTailor channels, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/channel-assembly-channels.html\">Working with channels</a> in the <i>MediaTailor User Guide</i>.</p>"
    },
    "DescribeLiveSource":{
      "name":"DescribeLiveSource",
      "http":{
        "method":"GET",
        "requestUri":"/sourceLocation/{SourceLocationName}/liveSource/{LiveSourceName}",
        "responseCode":200
      },
      "input":{"shape":"DescribeLiveSourceRequest"},
      "output":{"shape":"DescribeLiveSourceResponse"},
      "documentation":"<p>The live source to describe.</p>"
    },
    "DescribeProgram":{
      "name":"DescribeProgram",
      "http":{
        "method":"GET",
        "requestUri":"/channel/{ChannelName}/program/{ProgramName}",
        "responseCode":200
      },
      "input":{"shape":"DescribeProgramRequest"},
      "output":{"shape":"DescribeProgramResponse"},
      "documentation":"<p>Describes a program within a channel. For information about programs, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/channel-assembly-programs.html\">Working with programs</a> in the <i>MediaTailor User Guide</i>.</p>"
    },
    "DescribeSourceLocation":{
      "name":"DescribeSourceLocation",
      "http":{
        "method":"GET",
        "requestUri":"/sourceLocation/{SourceLocationName}",
        "responseCode":200
      },
      "input":{"shape":"DescribeSourceLocationRequest"},
      "output":{"shape":"DescribeSourceLocationResponse"},
      "documentation":"<p>Describes a source location. A source location is a container for sources. For more information about source locations, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/channel-assembly-source-locations.html\">Working with source locations</a> in the <i>MediaTailor User Guide</i>.</p>"
    },
    "DescribeVodSource":{
      "name":"DescribeVodSource",
      "http":{
        "method":"GET",
        "requestUri":"/sourceLocation/{SourceLocationName}/vodSource/{VodSourceName}",
        "responseCode":200
      },
      "input":{"shape":"DescribeVodSourceRequest"},
      "output":{"shape":"DescribeVodSourceResponse"},
      "documentation":"<p>Provides details about a specific video on demand (VOD) source in a specific source location.</p>"
    },
    "GetChannelPolicy":{
      "name":"GetChannelPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/channel/{ChannelName}/policy",
        "responseCode":200
      },
      "input":{"shape":"GetChannelPolicyRequest"},
      "output":{"shape":"GetChannelPolicyResponse"},
      "documentation":"<p>Returns the channel's IAM policy. IAM policies are used to control access to your channel.</p>"
    },
    "GetChannelSchedule":{
      "name":"GetChannelSchedule",
      "http":{
        "method":"GET",
        "requestUri":"/channel/{ChannelName}/schedule",
        "responseCode":200
      },
      "input":{"shape":"GetChannelScheduleRequest"},
      "output":{"shape":"GetChannelScheduleResponse"},
      "documentation":"<p>Retrieves information about your channel's schedule.</p>"
    },
    "GetPlaybackConfiguration":{
      "name":"GetPlaybackConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/playbackConfiguration/{Name}",
        "responseCode":200
      },
      "input":{"shape":"GetPlaybackConfigurationRequest"},
      "output":{"shape":"GetPlaybackConfigurationResponse"},
      "documentation":"<p>Retrieves a playback configuration. For information about MediaTailor configurations, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/configurations.html\">Working with configurations in AWS Elemental MediaTailor</a>.</p>"
    },
    "GetPrefetchSchedule":{
      "name":"GetPrefetchSchedule",
      "http":{
        "method":"GET",
        "requestUri":"/prefetchSchedule/{PlaybackConfigurationName}/{Name}",
        "responseCode":200
      },
      "input":{"shape":"GetPrefetchScheduleRequest"},
      "output":{"shape":"GetPrefetchScheduleResponse"},
      "documentation":"<p>Retrieves a prefetch schedule for a playback configuration. A prefetch schedule allows you to tell MediaTailor to fetch and prepare certain ads before an ad break happens. For more information about ad prefetching, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/prefetching-ads.html\">Using ad prefetching</a> in the <i>MediaTailor User Guide</i>.</p>"
    },
    "ListAlerts":{
      "name":"ListAlerts",
      "http":{
        "method":"GET",
        "requestUri":"/alerts",
        "responseCode":200
      },
      "input":{"shape":"ListAlertsRequest"},
      "output":{"shape":"ListAlertsResponse"},
      "documentation":"<p>Lists the alerts that are associated with a MediaTailor channel assembly resource.</p>"
    },
    "ListChannels":{
      "name":"ListChannels",
      "http":{
        "method":"GET",
        "requestUri":"/channels",
        "responseCode":200
      },
      "input":{"shape":"ListChannelsRequest"},
      "output":{"shape":"ListChannelsResponse"},
      "documentation":"<p>Retrieves information about the channels that are associated with the current AWS account.</p>"
    },
    "ListLiveSources":{
      "name":"ListLiveSources",
      "http":{
        "method":"GET",
        "requestUri":"/sourceLocation/{SourceLocationName}/liveSources",
        "responseCode":200
      },
      "input":{"shape":"ListLiveSourcesRequest"},
      "output":{"shape":"ListLiveSourcesResponse"},
      "documentation":"<p>Lists the live sources contained in a source location. A source represents a piece of content.</p>"
    },
    "ListPlaybackConfigurations":{
      "name":"ListPlaybackConfigurations",
      "http":{
        "method":"GET",
        "requestUri":"/playbackConfigurations",
        "responseCode":200
      },
      "input":{"shape":"ListPlaybackConfigurationsRequest"},
      "output":{"shape":"ListPlaybackConfigurationsResponse"},
      "documentation":"<p>Retrieves existing playback configurations. For information about MediaTailor configurations, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/configurations.html\">Working with Configurations in AWS Elemental MediaTailor</a>.</p>"
    },
    "ListPrefetchSchedules":{
      "name":"ListPrefetchSchedules",
      "http":{
        "method":"POST",
        "requestUri":"/prefetchSchedule/{PlaybackConfigurationName}",
        "responseCode":200
      },
      "input":{"shape":"ListPrefetchSchedulesRequest"},
      "output":{"shape":"ListPrefetchSchedulesResponse"},
      "documentation":"<p>Lists the prefetch schedules for a playback configuration.</p>"
    },
    "ListSourceLocations":{
      "name":"ListSourceLocations",
      "http":{
        "method":"GET",
        "requestUri":"/sourceLocations",
        "responseCode":200
      },
      "input":{"shape":"ListSourceLocationsRequest"},
      "output":{"shape":"ListSourceLocationsResponse"},
      "documentation":"<p>Lists the source locations for a channel. A source location defines the host server URL, and contains a list of sources.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{ResourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>A list of tags that are associated with this resource. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>"
    },
    "ListVodSources":{
      "name":"ListVodSources",
      "http":{
        "method":"GET",
        "requestUri":"/sourceLocation/{SourceLocationName}/vodSources",
        "responseCode":200
      },
      "input":{"shape":"ListVodSourcesRequest"},
      "output":{"shape":"ListVodSourcesResponse"},
      "documentation":"<p>Lists the VOD sources contained in a source location. A source represents a piece of content.</p>"
    },
    "PutChannelPolicy":{
      "name":"PutChannelPolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/channel/{ChannelName}/policy",
        "responseCode":200
      },
      "input":{"shape":"PutChannelPolicyRequest"},
      "output":{"shape":"PutChannelPolicyResponse"},
      "documentation":"<p>Creates an IAM policy for the channel. IAM policies are used to control access to your channel.</p>",
      "idempotent":true
    },
    "PutPlaybackConfiguration":{
      "name":"PutPlaybackConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/playbackConfiguration",
        "responseCode":200
      },
      "input":{"shape":"PutPlaybackConfigurationRequest"},
      "output":{"shape":"PutPlaybackConfigurationResponse"},
      "documentation":"<p>Creates a playback configuration. For information about MediaTailor configurations, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/configurations.html\">Working with configurations in AWS Elemental MediaTailor</a>.</p>",
      "idempotent":true
    },
    "StartChannel":{
      "name":"StartChannel",
      "http":{
        "method":"PUT",
        "requestUri":"/channel/{ChannelName}/start",
        "responseCode":200
      },
      "input":{"shape":"StartChannelRequest"},
      "output":{"shape":"StartChannelResponse"},
      "documentation":"<p>Starts a channel. For information about MediaTailor channels, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/channel-assembly-channels.html\">Working with channels</a> in the <i>MediaTailor User Guide</i>.</p>",
      "idempotent":true
    },
    "StopChannel":{
      "name":"StopChannel",
      "http":{
        "method":"PUT",
        "requestUri":"/channel/{ChannelName}/stop",
        "responseCode":200
      },
      "input":{"shape":"StopChannelRequest"},
      "output":{"shape":"StopChannelResponse"},
      "documentation":"<p>Stops a channel. For information about MediaTailor channels, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/channel-assembly-channels.html\">Working with channels</a> in the <i>MediaTailor User Guide</i>.</p>",
      "idempotent":true
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{ResourceArn}",
        "responseCode":204
      },
      "input":{"shape":"TagResourceRequest"},
      "errors":[
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>The resource to tag. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{ResourceArn}",
        "responseCode":204
      },
      "input":{"shape":"UntagResourceRequest"},
      "errors":[
        {"shape":"BadRequestException"}
      ],
      "documentation":"<p>The resource to untag.</p>",
      "idempotent":true
    },
    "UpdateChannel":{
      "name":"UpdateChannel",
      "http":{
        "method":"PUT",
        "requestUri":"/channel/{ChannelName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateChannelRequest"},
      "output":{"shape":"UpdateChannelResponse"},
      "documentation":"<p>Updates a channel. For information about MediaTailor channels, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/channel-assembly-channels.html\">Working with channels</a> in the <i>MediaTailor User Guide</i>.</p>",
      "idempotent":true
    },
    "UpdateLiveSource":{
      "name":"UpdateLiveSource",
      "http":{
        "method":"PUT",
        "requestUri":"/sourceLocation/{SourceLocationName}/liveSource/{LiveSourceName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateLiveSourceRequest"},
      "output":{"shape":"UpdateLiveSourceResponse"},
      "documentation":"<p>Updates a live source's configuration.</p>",
      "idempotent":true
    },
    "UpdateProgram":{
      "name":"UpdateProgram",
      "http":{
        "method":"PUT",
        "requestUri":"/channel/{ChannelName}/program/{ProgramName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateProgramRequest"},
      "output":{"shape":"UpdateProgramResponse"},
      "documentation":"<p>Updates a program within a channel.</p>",
      "idempotent":true
    },
    "UpdateSourceLocation":{
      "name":"UpdateSourceLocation",
      "http":{
        "method":"PUT",
        "requestUri":"/sourceLocation/{SourceLocationName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateSourceLocationRequest"},
      "output":{"shape":"UpdateSourceLocationResponse"},
      "documentation":"<p>Updates a source location. A source location is a container for sources. For more information about source locations, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/channel-assembly-source-locations.html\">Working with source locations</a> in the <i>MediaTailor User Guide</i>.</p>",
      "idempotent":true
    },
    "UpdateVodSource":{
      "name":"UpdateVodSource",
      "http":{
        "method":"PUT",
        "requestUri":"/sourceLocation/{SourceLocationName}/vodSource/{VodSourceName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateVodSourceRequest"},
      "output":{"shape":"UpdateVodSourceResponse"},
      "documentation":"<p>Updates a VOD source's configuration.</p>",
      "idempotent":true
    }
  },
  "shapes":{
    "AccessConfiguration":{
      "type":"structure",
      "members":{
        "AccessType":{
          "shape":"AccessType",
          "documentation":"<p>The type of authentication used to access content from <code>HttpConfiguration::BaseUrl</code> on your source location.</p> <p> <code>S3_SIGV4</code> - AWS Signature Version 4 authentication for Amazon S3 hosted virtual-style access. If your source location base URL is an Amazon S3 bucket, MediaTailor can use AWS Signature Version 4 (SigV4) authentication to access the bucket where your source content is stored. Your MediaTailor source location baseURL must follow the S3 virtual hosted-style request URL format. For example, https://bucket-name.s3.Region.amazonaws.com/key-name.</p> <p>Before you can use <code>S3_SIGV4</code>, you must meet these requirements:</p> <p>• You must allow MediaTailor to access your S3 bucket by granting mediatailor.amazonaws.com principal access in IAM. For information about configuring access in IAM, see Access management in the IAM User Guide.</p> <p>• The mediatailor.amazonaws.com service principal must have permissions to read all top level manifests referenced by the VodSource packaging configurations.</p> <p>• The caller of the API must have s3:GetObject IAM permissions to read all top level manifests referenced by your MediaTailor VodSource packaging configurations.</p> <p> <code>AUTODETECT_SIGV4</code> - AWS Signature Version 4 authentication for a set of supported services: MediaPackage Version 2 and Amazon S3 hosted virtual-style access. If your source location base URL is a MediaPackage Version 2 endpoint or an Amazon S3 bucket, MediaTailor can use AWS Signature Version 4 (SigV4) authentication to access the resource where your source content is stored.</p> <p>Before you can use <code>AUTODETECT_SIGV4</code> with a MediaPackage Version 2 endpoint, you must meet these requirements:</p> <p>• You must grant MediaTailor access to your MediaPackage endpoint by granting <code>mediatailor.amazonaws.com</code> principal access in an Origin Access policy on the endpoint.</p> <p>• Your MediaTailor source location base URL must be a MediaPackage V2 endpoint.</p> <p>• The caller of the API must have <code>mediapackagev2:GetObject</code> IAM permissions to read all top level manifests referenced by the MediaTailor source packaging configurations.</p> <p>Before you can use <code>AUTODETECT_SIGV4</code> with an Amazon S3 bucket, you must meet these requirements:</p> <p>• You must grant MediaTailor access to your S3 bucket by granting <code>mediatailor.amazonaws.com</code> principal access in IAM. For more information about configuring access in IAM, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access management</a> in the <i>IAM User Guide.</i>.</p> <p>• The <code>mediatailor.amazonaws.com</code> service principal must have permissions to read all top-level manifests referenced by the <code>VodSource</code> packaging configurations.</p> <p>• The caller of the API must have <code>s3:GetObject</code> IAM permissions to read all top level manifests referenced by your MediaTailor <code>VodSource</code> packaging configurations.</p>"
        },
        "SecretsManagerAccessTokenConfiguration":{
          "shape":"SecretsManagerAccessTokenConfiguration",
          "documentation":"<p>AWS Secrets Manager access token configuration parameters.</p>"
        }
      },
      "documentation":"<p>Access configuration parameters.</p>"
    },
    "AccessType":{
      "type":"string",
      "enum":[
        "S3_SIGV4",
        "SECRETS_MANAGER_ACCESS_TOKEN",
        "AUTODETECT_SIGV4"
      ]
    },
    "AdBreak":{
      "type":"structure",
      "required":["OffsetMillis"],
      "members":{
        "MessageType":{
          "shape":"MessageType",
          "documentation":"<p>The SCTE-35 ad insertion type. Accepted value: <code>SPLICE_INSERT</code>, <code>TIME_SIGNAL</code>.</p>"
        },
        "OffsetMillis":{
          "shape":"__long",
          "documentation":"<p>How long (in milliseconds) after the beginning of the program that an ad starts. This value must fall within 100ms of a segment boundary, otherwise the ad break will be skipped.</p>"
        },
        "Slate":{
          "shape":"SlateSource",
          "documentation":"<p>Ad break slate configuration.</p>"
        },
        "SpliceInsertMessage":{
          "shape":"SpliceInsertMessage",
          "documentation":"<p>This defines the SCTE-35 <code>splice_insert()</code> message inserted around the ad. For information about using <code>splice_insert()</code>, see the SCTE-35 specficiaiton, section 9.7.3.1.</p>"
        },
        "TimeSignalMessage":{
          "shape":"TimeSignalMessage",
          "documentation":"<p>Defines the SCTE-35 <code>time_signal</code> message inserted around the ad.</p> <p>Programs on a channel's schedule can be configured with one or more ad breaks. You can attach a <code>splice_insert</code> SCTE-35 message to the ad break. This message provides basic metadata about the ad break.</p> <p>See section 9.7.4 of the 2022 SCTE-35 specification for more information.</p>"
        },
        "AdBreakMetadata":{
          "shape":"AdBreakMetadataList",
          "documentation":"<p>Defines a list of key/value pairs that MediaTailor generates within the <code>EXT-X-ASSET</code>tag for <code>SCTE35_ENHANCED</code> output.</p>"
        }
      },
      "documentation":"<p>Ad break configuration parameters.</p>"
    },
    "AdBreakMetadataList":{
      "type":"list",
      "member":{"shape":"KeyValuePair"}
    },
    "AdBreakOpportunities":{
      "type":"list",
      "member":{"shape":"AdBreakOpportunity"},
      "documentation":"<p>The list of ad break opportunities detected within the VOD source.</p>"
    },
    "AdBreakOpportunity":{
      "type":"structure",
      "required":["OffsetMillis"],
      "members":{
        "OffsetMillis":{
          "shape":"__long",
          "documentation":"<p>The offset in milliseconds from the start of the VOD source at which an ad marker was detected.</p>"
        }
      },
      "documentation":"<p>A location at which a zero-duration ad marker was detected in a VOD source manifest.</p>"
    },
    "AdConditioningConfiguration":{
      "type":"structure",
      "required":["StreamingMediaFileConditioning"],
      "members":{
        "StreamingMediaFileConditioning":{
          "shape":"StreamingMediaFileConditioning",
          "documentation":"<p>For ads that have media files with streaming delivery and supported file extensions, indicates what transcoding action MediaTailor takes when it first receives these ads from the ADS. <code>TRANSCODE</code> indicates that MediaTailor must transcode the ads. <code>NONE</code> indicates that you have already transcoded the ads outside of MediaTailor and don't need them transcoded as part of the ad insertion workflow. For more information about ad conditioning see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/precondition-ads.html\">Using preconditioned ads</a> in the Elemental MediaTailor user guide.</p>"
        }
      },
      "documentation":"<p>The setting that indicates what conditioning MediaTailor will perform on ads that the ad decision server (ADS) returns.</p>"
    },
    "AdMarkerPassthrough":{
      "type":"structure",
      "members":{
        "Enabled":{
          "shape":"__boolean",
          "documentation":"<p>Enables ad marker passthrough for your configuration.</p>"
        }
      },
      "documentation":"<p>For HLS, when set to <code>true</code>, MediaTailor passes through <code>EXT-X-CUE-IN</code>, <code>EXT-X-CUE-OUT</code>, and <code>EXT-X-SPLICEPOINT-SCTE35</code> ad markers from the origin manifest to the MediaTailor personalized manifest.</p> <p>No logic is applied to these ad markers. For example, if <code>EXT-X-CUE-OUT</code> has a value of <code>60</code>, but no ads are filled for that ad break, MediaTailor will not set the value to <code>0</code>.</p>"
    },
    "AdMarkupType":{
      "type":"string",
      "enum":[
        "DATERANGE",
        "SCTE35_ENHANCED"
      ]
    },
    "AdsInteractionExcludeEventType":{
      "type":"string",
      "enum":[
        "AD_MARKER_FOUND",
        "NON_AD_MARKER_FOUND",
        "MAKING_ADS_REQUEST",
        "MODIFIED_TARGET_URL",
        "VAST_REDIRECT",
        "EMPTY_VAST_RESPONSE",
        "EMPTY_VMAP_RESPONSE",
        "VAST_RESPONSE",
        "REDIRECTED_VAST_RESPONSE",
        "FILLED_AVAIL",
        "FILLED_OVERLAY_AVAIL",
        "BEACON_FIRED",
        "WARNING_NO_ADVERTISEMENTS",
        "WARNING_VPAID_AD_DROPPED",
        "WARNING_URL_VARIABLE_SUBSTITUTION_FAILED",
        "ERROR_UNKNOWN",
        "ERROR_UNKNOWN_HOST",
        "ERROR_DISALLOWED_HOST",
        "ERROR_ADS_IO",
        "ERROR_ADS_TIMEOUT",
        "ERROR_ADS_RESPONSE_PARSE",
        "ERROR_ADS_RESPONSE_UNKNOWN_ROOT_ELEMENT",
        "ERROR_ADS_INVALID_RESPONSE",
        "ERROR_VAST_REDIRECT_EMPTY_RESPONSE",
        "ERROR_VAST_REDIRECT_MULTIPLE_VAST",
        "ERROR_VAST_REDIRECT_FAILED",
        "ERROR_VAST_MISSING_MEDIAFILES",
        "ERROR_VAST_MISSING_CREATIVES",
        "ERROR_VAST_MISSING_OVERLAYS",
        "ERROR_VAST_MISSING_IMPRESSION",
        "ERROR_VAST_INVALID_VAST_AD_TAG_URI",
        "ERROR_VAST_MULTIPLE_TRACKING_EVENTS",
        "ERROR_VAST_MULTIPLE_LINEAR",
        "ERROR_VAST_INVALID_MEDIA_FILE",
        "ERROR_FIRING_BEACON_FAILED",
        "ERROR_PERSONALIZATION_DISABLED",
        "VOD_TIME_BASED_AVAIL_PLAN_VAST_RESPONSE_FOR_OFFSET",
        "VOD_TIME_BASED_AVAIL_PLAN_SUCCESS",
        "VOD_TIME_BASED_AVAIL_PLAN_WARNING_NO_ADVERTISEMENTS",
        "INTERSTITIAL_VOD_SUCCESS",
        "INTERSTITIAL_VOD_FAILURE"
      ]
    },
    "AdsInteractionLog":{
      "type":"structure",
      "members":{
        "PublishOptInEventTypes":{
          "shape":"__adsInteractionPublishOptInEventTypesList",
          "documentation":"<p>Indicates that MediaTailor emits <code>RAW_ADS_RESPONSE</code> logs for playback sessions that are initialized with this configuration.</p>"
        },
        "ExcludeEventTypes":{
          "shape":"__adsInteractionExcludeEventTypesList",
          "documentation":"<p>Indicates that MediaTailor won't emit the selected events in the logs for playback sessions that are initialized with this configuration.</p>"
        }
      },
      "documentation":"<p>Settings for customizing what events are included in logs for interactions with the ad decision server (ADS).</p> <p>For more information about ADS logs, inlcuding descriptions of the event types, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/ads-log-format.html\">MediaTailor ADS logs description and event types</a> in Elemental MediaTailor User Guide.</p>"
    },
    "AdsInteractionPublishOptInEventType":{
      "type":"string",
      "enum":["RAW_ADS_RESPONSE"]
    },
    "Alert":{
      "type":"structure",
      "required":[
        "AlertCode",
        "AlertMessage",
        "LastModifiedTime",
        "RelatedResourceArns",
        "ResourceArn"
      ],
      "members":{
        "AlertCode":{
          "shape":"__string",
          "documentation":"<p>The code for the alert. For example, <code>NOT_PROCESSED</code>.</p>"
        },
        "AlertMessage":{
          "shape":"__string",
          "documentation":"<p>If an alert is generated for a resource, an explanation of the reason for the alert.</p>"
        },
        "LastModifiedTime":{
          "shape":"__timestampUnix",
          "documentation":"<p>The timestamp when the alert was last modified.</p>"
        },
        "RelatedResourceArns":{
          "shape":"__listOf__string",
          "documentation":"<p>The Amazon Resource Names (ARNs) related to this alert.</p>"
        },
        "ResourceArn":{
          "shape":"__string",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource.</p>"
        },
        "Category":{
          "shape":"AlertCategory",
          "documentation":"<p>The category that MediaTailor assigns to the alert.</p>"
        }
      },
      "documentation":"<p>Alert configuration parameters.</p>"
    },
    "AlertCategory":{
      "type":"string",
      "enum":[
        "SCHEDULING_ERROR",
        "PLAYBACK_WARNING",
        "INFO"
      ]
    },
    "AlternateMedia":{
      "type":"structure",
      "members":{
        "SourceLocationName":{
          "shape":"__string",
          "documentation":"<p>The name of the source location for alternateMedia.</p>"
        },
        "LiveSourceName":{
          "shape":"__string",
          "documentation":"<p>The name of the live source for alternateMedia.</p>"
        },
        "VodSourceName":{
          "shape":"__string",
          "documentation":"<p>The name of the VOD source for alternateMedia.</p>"
        },
        "ClipRange":{"shape":"ClipRange"},
        "ScheduledStartTimeMillis":{
          "shape":"__long",
          "documentation":"<p>The date and time that the alternateMedia is scheduled to start, in epoch milliseconds.</p>"
        },
        "AdBreaks":{
          "shape":"__listOfAdBreak",
          "documentation":"<p>Ad break configuration parameters defined in AlternateMedia.</p>"
        },
        "DurationMillis":{
          "shape":"__long",
          "documentation":"<p>The duration of the alternateMedia in milliseconds.</p>"
        }
      },
      "documentation":"<p>A playlist of media (VOD and/or live) to be played instead of the default media on a particular program.</p>"
    },
    "AudienceMedia":{
      "type":"structure",
      "members":{
        "Audience":{
          "shape":"__string",
          "documentation":"<p>The Audience defined in AudienceMedia.</p>"
        },
        "AlternateMedia":{
          "shape":"__listOfAlternateMedia",
          "documentation":"<p>The list of AlternateMedia defined in AudienceMedia.</p>"
        }
      },
      "documentation":"<p>An AudienceMedia object contains an Audience and a list of AlternateMedia.</p>"
    },
    "Audiences":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "AvailMatchingCriteria":{
      "type":"structure",
      "required":[
        "DynamicVariable",
        "Operator"
      ],
      "members":{
        "DynamicVariable":{
          "shape":"__string",
          "documentation":"<p>The dynamic variable(s) that MediaTailor should use as avail matching criteria. MediaTailor only places the prefetched ads into the avail if the avail matches the criteria defined by the dynamic variable. For information about dynamic variables, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/variables.html\">Using dynamic ad variables</a> in the <i>MediaTailor User Guide</i>.</p> <p>You can include up to 100 dynamic variables.</p>"
        },
        "Operator":{
          "shape":"Operator",
          "documentation":"<p>For the <code>DynamicVariable</code> specified in <code>AvailMatchingCriteria</code>, the Operator that is used for the comparison.</p>"
        }
      },
      "documentation":"<p>MediaTailor only places (consumes) prefetched ads if the ad break meets the criteria defined by the dynamic variables. This gives you granular control over which ad break to place the prefetched ads into.</p> <p>As an example, let's say that you set <code>DynamicVariable</code> to <code>scte.event_id</code> and <code>Operator</code> to <code>EQUALS</code>, and your playback configuration has an ADS URL of <code>https://my.ads.server.com/path?&amp;podId=[scte.avail_num]&amp;event=[scte.event_id]&amp;duration=[session.avail_duration_secs]</code>. And the prefetch request to the ADS contains these values <code>https://my.ads.server.com/path?&amp;podId=3&amp;event=my-awesome-event&amp;duration=30</code>. MediaTailor will only insert the prefetched ads into the ad break if has a SCTE marker with an event id of <code>my-awesome-event</code>, since it must match the event id that MediaTailor uses to query the ADS.</p> <p>You can specify up to five <code>AvailMatchingCriteria</code>. If you specify multiple <code>AvailMatchingCriteria</code>, MediaTailor combines them to match using a logical <code>AND</code>. You can model logical <code>OR</code> combinations by creating multiple prefetch schedules.</p>"
    },
    "AvailSuppression":{
      "type":"structure",
      "members":{
        "Mode":{
          "shape":"Mode",
          "documentation":"<p>Sets the ad suppression mode. By default, ad suppression is off and all ad breaks are filled with ads or slate. When Mode is set to <code>BEHIND_LIVE_EDGE</code>, ad suppression is active and MediaTailor won't fill ad breaks on or behind the ad suppression Value time in the manifest lookback window. When Mode is set to <code>AFTER_LIVE_EDGE</code>, ad suppression is active and MediaTailor won't fill ad breaks that are within the live edge plus the avail suppression value.</p>"
        },
        "Value":{
          "shape":"__string",
          "documentation":"<p>A live edge offset time in HH:MM:SS. MediaTailor won't fill ad breaks on or behind this time in the manifest lookback window. If Value is set to 00:00:00, it is in sync with the live edge, and MediaTailor won't fill any ad breaks on or behind the live edge. If you set a Value time, MediaTailor won't fill any ad breaks on or behind this time in the manifest lookback window. For example, if you set 00:45:00, then MediaTailor will fill ad breaks that occur within 45 minutes behind the live edge, but won't fill ad breaks on or behind 45 minutes behind the live edge.</p>"
        },
        "FillPolicy":{
          "shape":"FillPolicy",
          "documentation":"<p>Defines the policy to apply to the avail suppression mode. <code>BEHIND_LIVE_EDGE</code> will always use the full avail suppression policy. <code>AFTER_LIVE_EDGE</code> mode can be used to invoke partial ad break fills when a session starts mid-break.</p>"
        }
      },
      "documentation":"<p>The configuration for avail suppression, also known as ad suppression. For more information about ad suppression, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/ad-behavior.html\">Ad Suppression</a>.</p>"
    },
    "BadRequestException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"__string"}
      },
      "documentation":"<p>A request contains unexpected data.</p>",
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "Bumper":{
      "type":"structure",
      "members":{
        "EndUrl":{
          "shape":"__string",
          "documentation":"<p>The URL for the end bumper asset.</p>"
        },
        "StartUrl":{
          "shape":"__string",
          "documentation":"<p>The URL for the start bumper asset.</p>"
        }
      },
      "documentation":"<p>The configuration for bumpers. Bumpers are short audio or video clips that play at the start or before the end of an ad break. To learn more about bumpers, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/bumpers.html\">Bumpers</a>.</p>"
    },
    "CdnConfiguration":{
      "type":"structure",
      "members":{
        "AdSegmentUrlPrefix":{
          "shape":"__string",
          "documentation":"<p>A non-default content delivery network (CDN) to serve ad segments. By default, AWS Elemental MediaTailor uses Amazon CloudFront with default cache settings as its CDN for ad segments. To set up an alternate CDN, create a rule in your CDN for the origin ads.mediatailor.<i>&lt;region&gt;</i>.amazonaws.com. Then specify the rule's name in this <code>AdSegmentUrlPrefix</code>. When AWS Elemental MediaTailor serves a manifest, it reports your CDN as the source for ad segments.</p>"
        },
        "ContentSegmentUrlPrefix":{
          "shape":"__string",
          "documentation":"<p>A content delivery network (CDN) to cache content segments, so that content requests don’t always have to go to the origin server. First, create a rule in your CDN for the content segment origin server. Then specify the rule's name in this <code>ContentSegmentUrlPrefix</code>. When AWS Elemental MediaTailor serves a manifest, it reports your CDN as the source for content segments.</p>"
        }
      },
      "documentation":"<p>The configuration for using a content delivery network (CDN), like Amazon CloudFront, for content and ad segment management.</p>"
    },
    "Channel":{
      "type":"structure",
      "required":[
        "Arn",
        "ChannelName",
        "ChannelState",
        "Outputs",
        "PlaybackMode",
        "Tier",
        "LogConfiguration"
      ],
      "members":{
        "Arn":{
          "shape":"__string",
          "documentation":"<p>The ARN of the channel.</p>"
        },
        "ChannelName":{
          "shape":"__string",
          "documentation":"<p>The name of the channel.</p>"
        },
        "ChannelState":{
          "shape":"__string",
          "documentation":"<p>Returns the state whether the channel is running or not.</p>"
        },
        "CreationTime":{
          "shape":"__timestampUnix",
          "documentation":"<p>The timestamp of when the channel was created.</p>"
        },
        "FillerSlate":{
          "shape":"SlateSource",
          "documentation":"<p>The slate used to fill gaps between programs in the schedule. You must configure filler slate if your channel uses the <code>LINEAR</code> <code>PlaybackMode</code>. MediaTailor doesn't support filler slate for channels using the <code>LOOP</code> <code>PlaybackMode</code>.</p>"
        },
        "LastModifiedTime":{
          "shape":"__timestampUnix",
          "documentation":"<p>The timestamp of when the channel was last modified.</p>"
        },
        "Outputs":{
          "shape":"ResponseOutputs",
          "documentation":"<p>The channel's output properties.</p>"
        },
        "PlaybackMode":{
          "shape":"__string",
          "documentation":"<p>The type of playback mode for this channel.</p> <p> <code>LINEAR</code> - Programs play back-to-back only once.</p> <p> <code>LOOP</code> - Programs play back-to-back in an endless loop. When the last program in the schedule plays, playback loops back to the first program in the schedule.</p>"
        },
        "Tags":{
          "shape":"__mapOf__string",
          "documentation":"<p>The tags to assign to the channel. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
          "locationName":"tags"
        },
        "Tier":{
          "shape":"__string",
          "documentation":"<p>The tier for this channel. STANDARD tier channels can contain live programs.</p>"
        },
        "LogConfiguration":{
          "shape":"LogConfigurationForChannel",
          "documentation":"<p>The log configuration.</p>"
        },
        "Audiences":{
          "shape":"Audiences",
          "documentation":"<p>The list of audiences defined in channel.</p>"
        }
      },
      "documentation":"<p>The configuration parameters for a channel. For information about MediaTailor channels, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/channel-assembly-channels.html\">Working with channels</a> in the <i>MediaTailor User Guide</i>.</p>"
    },
    "ChannelState":{
      "type":"string",
      "enum":[
        "RUNNING",
        "STOPPED"
      ]
    },
    "ClipRange":{
      "type":"structure",
      "members":{
        "EndOffsetMillis":{
          "shape":"__long",
          "documentation":"<p>The end offset of the clip range, in milliseconds, starting from the beginning of the VOD source associated with the program.</p>",
          "box":true
        },
        "StartOffsetMillis":{
          "shape":"__long",
          "documentation":"<p>The start offset of the clip range, in milliseconds. This offset truncates the start at the number of milliseconds into the duration of the VOD source.</p>"
        }
      },
      "documentation":"<p>Clip range configuration for the VOD source associated with the program.</p>"
    },
    "ConfigurationAliasesRequest":{
      "type":"map",
      "key":{
        "shape":"__string",
        "documentation":"<p>The dynamic variable that has aliases.</p>"
      },
      "value":{
        "shape":"__mapOf__string",
        "documentation":"<p>Map of aliases to the value to be used at request time.</p>"
      },
      "documentation":"<p>The predefined aliases for dynamic variables.</p>"
    },
    "ConfigurationAliasesResponse":{
      "type":"map",
      "key":{
        "shape":"__string",
        "documentation":"<p>The dynamic variable that has aliases.</p>"
      },
      "value":{
        "shape":"__mapOf__string",
        "documentation":"<p>Map of aliases to the value to be used at request time.</p>"
      },
      "documentation":"<p>The predefined aliases for dynamic variables.</p>"
    },
    "ConfigureLogsForChannelRequest":{
      "type":"structure",
      "required":[
        "ChannelName",
        "LogTypes"
      ],
      "members":{
        "ChannelName":{
          "shape":"__string",
          "documentation":"<p>The name of the channel.</p>"
        },
        "LogTypes":{
          "shape":"LogTypes",
          "documentation":"<p>The types of logs to collect.</p>"
        }
      }
    },
    "ConfigureLogsForChannelResponse":{
      "type":"structure",
      "members":{
        "ChannelName":{
          "shape":"__string",
          "documentation":"<p>The name of the channel.</p>"
        },
        "LogTypes":{
          "shape":"LogTypes",
          "documentation":"<p>The types of logs collected.</p>"
        }
      }
    },
    "ConfigureLogsForPlaybackConfigurationRequest":{
      "type":"structure",
      "required":[
        "PercentEnabled",
        "PlaybackConfigurationName"
      ],
      "members":{
        "PercentEnabled":{
          "shape":"__integer",
          "documentation":"<p>The percentage of session logs that MediaTailor sends to your CloudWatch Logs account. For example, if your playback configuration has 1000 sessions and percentEnabled is set to <code>60</code>, MediaTailor sends logs for 600 of the sessions to CloudWatch Logs. MediaTailor decides at random which of the playback configuration sessions to send logs for. If you want to view logs for a specific session, you can use the <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/debug-log-mode.html\">debug log mode</a>.</p> <p>Valid values: <code>0</code> - <code>100</code> </p>"
        },
        "PlaybackConfigurationName":{
          "shape":"__string",
          "documentation":"<p>The name of the playback configuration.</p>"
        },
        "EnabledLoggingStrategies":{
          "shape":"__listOfLoggingStrategies",
          "documentation":"<p>The method used for collecting logs from AWS Elemental MediaTailor. To configure MediaTailor to send logs directly to Amazon CloudWatch Logs, choose <code>LEGACY_CLOUDWATCH</code>. To configure MediaTailor to send logs to CloudWatch, which then vends the logs to your destination of choice, choose <code>VENDED_LOGS</code>. Supported destinations are CloudWatch Logs log group, Amazon S3 bucket, and Amazon Data Firehose stream.</p> <p>To use vended logs, you must configure the delivery destination in Amazon CloudWatch, as described in <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/AWS-logs-and-resource-policy.html#AWS-vended-logs-permissions-V2\">Enable logging from AWS services, Logging that requires additional permissions [V2]</a>.</p>"
        },
        "AdsInteractionLog":{
          "shape":"AdsInteractionLog",
          "documentation":"<p>The event types that MediaTailor emits in logs for interactions with the ADS.</p>"
        },
        "ManifestServiceInteractionLog":{
          "shape":"ManifestServiceInteractionLog",
          "documentation":"<p>The event types that MediaTailor emits in logs for interactions with the origin server.</p>"
        }
      },
      "documentation":"<p>Configures Amazon CloudWatch log settings for a playback configuration.</p>"
    },
    "ConfigureLogsForPlaybackConfigurationResponse":{
      "type":"structure",
      "required":["PercentEnabled"],
      "members":{
        "PercentEnabled":{
          "shape":"__integer",
          "documentation":"<p>The percentage of session logs that MediaTailor sends to your Cloudwatch Logs account.</p>"
        },
        "PlaybackConfigurationName":{
          "shape":"__string",
          "documentation":"<p>The name of the playback configuration.</p>"
        },
        "EnabledLoggingStrategies":{
          "shape":"__listOfLoggingStrategies",
          "documentation":"<p>The method used for collecting logs from AWS Elemental MediaTailor. <code>LEGACY_CLOUDWATCH</code> indicates that MediaTailor is sending logs directly to Amazon CloudWatch Logs. <code>VENDED_LOGS</code> indicates that MediaTailor is sending logs to CloudWatch, which then vends the logs to your destination of choice. Supported destinations are CloudWatch Logs log group, Amazon S3 bucket, and Amazon Data Firehose stream. </p>"
        },
        "AdsInteractionLog":{
          "shape":"AdsInteractionLog",
          "documentation":"<p>The event types that MediaTailor emits in logs for interactions with the ADS.</p>"
        },
        "ManifestServiceInteractionLog":{
          "shape":"ManifestServiceInteractionLog",
          "documentation":"<p>The event types that MediaTailor emits in logs for interactions with the origin server.</p>"
        }
      }
    },
    "CreateChannelRequest":{
      "type":"structure",
      "required":[
        "ChannelName",
        "Outputs",
        "PlaybackMode"
      ],
      "members":{
        "ChannelName":{
          "shape":"__string",
          "documentation":"<p>The name of the channel.</p>",
          "location":"uri",
          "locationName":"ChannelName"
        },
        "FillerSlate":{
          "shape":"SlateSource",
          "documentation":"<p>The slate used to fill gaps between programs in the schedule. You must configure filler slate if your channel uses the <code>LINEAR</code> <code>PlaybackMode</code>. MediaTailor doesn't support filler slate for channels using the <code>LOOP</code> <code>PlaybackMode</code>.</p>"
        },
        "Outputs":{
          "shape":"RequestOutputs",
          "documentation":"<p>The channel's output properties.</p>"
        },
        "PlaybackMode":{
          "shape":"PlaybackMode",
          "documentation":"<p>The type of playback mode to use for this channel.</p> <p> <code>LINEAR</code> - The programs in the schedule play once back-to-back in the schedule.</p> <p> <code>LOOP</code> - The programs in the schedule play back-to-back in an endless loop. When the last program in the schedule stops playing, playback loops back to the first program in the schedule.</p>"
        },
        "Tags":{
          "shape":"__mapOf__string",
          "documentation":"<p>The tags to assign to the channel. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
          "locationName":"tags"
        },
        "Tier":{
          "shape":"Tier",
          "documentation":"<p>The tier of the channel.</p>"
        },
        "TimeShiftConfiguration":{
          "shape":"TimeShiftConfiguration",
          "documentation":"<p> The time-shifted viewing configuration you want to associate to the channel. </p>"
        },
        "Audiences":{
          "shape":"Audiences",
          "documentation":"<p>The list of audiences defined in channel.</p>"
        }
      }
    },
    "CreateChannelResponse":{
      "type":"structure",
      "members":{
        "Arn":{
          "shape":"__string",
          "documentation":"<p>The Amazon Resource Name (ARN) to assign to the channel.</p>"
        },
        "ChannelName":{
          "shape":"__string",
          "documentation":"<p>The name to assign to the channel.</p>"
        },
        "ChannelState":{
          "shape":"ChannelState",
          "documentation":"<p>Indicates whether the channel is in a running state or not.</p>"
        },
        "CreationTime":{
          "shape":"__timestampUnix",
          "documentation":"<p>The timestamp of when the channel was created.</p>"
        },
        "FillerSlate":{
          "shape":"SlateSource",
          "documentation":"<p>Contains information about the slate used to fill gaps between programs in the schedule.</p>"
        },
        "LastModifiedTime":{
          "shape":"__timestampUnix",
          "documentation":"<p>The timestamp of when the channel was last modified.</p>"
        },
        "Outputs":{
          "shape":"ResponseOutputs",
          "documentation":"<p>The output properties to assign to the channel.</p>"
        },
        "PlaybackMode":{
          "shape":"__string",
          "documentation":"<p>The playback mode to assign to the channel.</p>"
        },
        "Tags":{
          "shape":"__mapOf__string",
          "documentation":"<p>The tags to assign to the channel. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
          "locationName":"tags"
        },
        "Tier":{
          "shape":"__string",
          "documentation":"<p>The tier of the channel.</p>"
        },
        "TimeShiftConfiguration":{
          "shape":"TimeShiftConfiguration",
          "documentation":"<p> The time-shifted viewing configuration assigned to the channel. </p>"
        },
        "Audiences":{
          "shape":"Audiences",
          "documentation":"<p>The list of audiences defined in channel.</p>"
        }
      }
    },
    "CreateLiveSourceRequest":{
      "type":"structure",
      "required":[
        "HttpPackageConfigurations",
        "LiveSourceName",
        "SourceLocationName"
      ],
      "members":{
        "HttpPackageConfigurations":{
          "shape":"HttpPackageConfigurations",
          "documentation":"<p>A list of HTTP package configuration parameters for this live source.</p>"
        },
        "LiveSourceName":{
          "shape":"__string",
          "documentation":"<p>The name of the live source.</p>",
          "location":"uri",
          "locationName":"LiveSourceName"
        },
        "SourceLocationName":{
          "shape":"__string",
          "documentation":"<p>The name of the source location.</p>",
          "location":"uri",
          "locationName":"SourceLocationName"
        },
        "Tags":{
          "shape":"__mapOf__string",
          "documentation":"<p>The tags to assign to the live source. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
          "locationName":"tags"
        }
      }
    },
    "CreateLiveSourceResponse":{
      "type":"structure",
      "members":{
        "Arn":{
          "shape":"__string",
          "documentation":"<p>The ARN to assign to the live source.</p>"
        },
        "CreationTime":{
          "shape":"__timestampUnix",
          "documentation":"<p>The time the live source was created.</p>"
        },
        "HttpPackageConfigurations":{
          "shape":"HttpPackageConfigurations",
          "documentation":"<p>A list of HTTP package configuration parameters for this live source.</p>"
        },
        "LastModifiedTime":{
          "shape":"__timestampUnix",
          "documentation":"<p>The time the live source was last modified.</p>"
        },
        "LiveSourceName":{
          "shape":"__string",
          "documentation":"<p>The name to assign to the live source.</p>"
        },
        "SourceLocationName":{
          "shape":"__string",
          "documentation":"<p>The name to assign to the source location of the live source.</p>"
        },
        "Tags":{
          "shape":"__mapOf__string",
          "documentation":"<p>The tags to assign to the live source. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
          "locationName":"tags"
        }
      }
    },
    "CreatePrefetchScheduleRequest":{
      "type":"structure",
      "required":[
        "Name",
        "PlaybackConfigurationName"
      ],
      "members":{
        "Consumption":{
          "shape":"PrefetchConsumption",
          "documentation":"<p>The configuration settings for how and when MediaTailor consumes prefetched ads from the ad decision server for single prefetch schedules. Each consumption configuration contains an end time and an optional start time that define the <i>consumption window</i>. Prefetch schedules automatically expire no earlier than seven days after the end time.</p>"
        },
        "Name":{
          "shape":"__string",
          "documentation":"<p>The name to assign to the schedule request.</p>",
          "location":"uri",
          "locationName":"Name"
        },
        "PlaybackConfigurationName":{
          "shape":"__string",
          "documentation":"<p>The name to assign to the playback configuration.</p>",
          "location":"uri",
          "locationName":"PlaybackConfigurationName"
        },
        "Retrieval":{
          "shape":"PrefetchRetrieval",
          "documentation":"<p>The configuration settings for retrieval of prefetched ads from the ad decision server. Only one set of prefetched ads will be retrieved and subsequently consumed for each ad break.</p>"
        },
        "RecurringPrefetchConfiguration":{
          "shape":"RecurringPrefetchConfiguration",
          "documentation":"<p>The configuration that defines how and when MediaTailor performs ad prefetching in a live event.</p>"
        },
        "ScheduleType":{
          "shape":"PrefetchScheduleType",
          "documentation":"<p>The frequency that MediaTailor creates prefetch schedules. <code>SINGLE</code> indicates that this schedule applies to one ad break. <code>RECURRING</code> indicates that MediaTailor automatically creates a schedule for each ad avail in a live event.</p> <p>For more information about the prefetch types and when you might use each, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/prefetching-ads.html\">Prefetching ads in Elemental MediaTailor.</a> </p>"
        },
        "StreamId":{
          "shape":"__string",
          "documentation":"<p>An optional stream identifier that MediaTailor uses to prefetch ads for multiple streams that use the same playback configuration. If <code>StreamId</code> is specified, MediaTailor returns all of the prefetch schedules with an exact match on <code>StreamId</code>. If not specified, MediaTailor returns all of the prefetch schedules for the playback configuration, regardless of <code>StreamId</code>.</p>"
        }
      }
    },
    "CreatePrefetchScheduleResponse":{
      "type":"structure",
      "members":{
        "Arn":{
          "shape":"__string",
          "documentation":"<p>The ARN to assign to the prefetch schedule.</p>"
        },
        "Consumption":{
          "shape":"PrefetchConsumption",
          "documentation":"<p>The configuration settings for how and when MediaTailor consumes prefetched ads from the ad decision server for single prefetch schedules. Each consumption configuration contains an end time and an optional start time that define the <i>consumption window</i>. Prefetch schedules automatically expire no earlier than seven days after the end time.</p>"
        },
        "Name":{
          "shape":"__string",
          "documentation":"<p>The name to assign to the prefetch schedule.</p>"
        },
        "PlaybackConfigurationName":{
          "shape":"__string",
          "documentation":"<p>The name to assign to the playback configuration.</p>"
        },
        "Retrieval":{
          "shape":"PrefetchRetrieval",
          "documentation":"<p>The configuration settings for retrieval of prefetched ads from the ad decision server. Only one set of prefetched ads will be retrieved and subsequently consumed for each ad break.</p>"
        },
        "RecurringPrefetchConfiguration":{
          "shape":"RecurringPrefetchConfiguration",
          "documentation":"<p>The configuration that defines how MediaTailor performs recurring prefetch. </p>"
        },
        "ScheduleType":{
          "shape":"PrefetchScheduleType",
          "documentation":"<p>The frequency that MediaTailor creates prefetch schedules. <code>SINGLE</code> indicates that this schedule applies to one ad break. <code>RECURRING</code> indicates that MediaTailor automatically creates a schedule for each ad avail in a live event.</p>"
        },
        "StreamId":{
          "shape":"__string",
          "documentation":"<p>An optional stream identifier that MediaTailor uses to prefetch ads for multiple streams that use the same playback configuration. If <code>StreamId</code> is specified, MediaTailor returns all of the prefetch schedules with an exact match on <code>StreamId</code>. If not specified, MediaTailor returns all of the prefetch schedules for the playback configuration, regardless of <code>StreamId</code>.</p>"
        }
      }
    },
    "CreateProgramRequest":{
      "type":"structure",
      "required":[
        "ChannelName",
        "ProgramName",
        "ScheduleConfiguration",
        "SourceLocationName"
      ],
      "members":{
        "AdBreaks":{
          "shape":"__listOfAdBreak",
          "documentation":"<p>The ad break configuration settings.</p>"
        },
        "ChannelName":{
          "shape":"__string",
          "documentation":"<p>The name of the channel for this Program.</p>",
          "location":"uri",
          "locationName":"ChannelName"
        },
        "LiveSourceName":{
          "shape":"__string",
          "documentation":"<p>The name of the LiveSource for this Program.</p>"
        },
        "ProgramName":{
          "shape":"__string",
          "documentation":"<p>The name of the Program.</p>",
          "location":"uri",
          "locationName":"ProgramName"
        },
        "ScheduleConfiguration":{
          "shape":"ScheduleConfiguration",
          "documentation":"<p>The schedule configuration settings.</p>"
        },
        "SourceLocationName":{
          "shape":"__string",
          "documentation":"<p>The name of the source location.</p>"
        },
        "VodSourceName":{
          "shape":"__string",
          "documentation":"<p>The name that's used to refer to a VOD source.</p>"
        },
        "AudienceMedia":{
          "shape":"__listOfAudienceMedia",
          "documentation":"<p>The list of AudienceMedia defined in program.</p>"
        }
      }
    },
    "CreateProgramResponse":{
      "type":"structure",
      "members":{
        "AdBreaks":{
          "shape":"__listOfAdBreak",
          "documentation":"<p>The ad break configuration settings.</p>"
        },
        "Arn":{
          "shape":"__string",
          "documentation":"<p>The ARN to assign to the program.</p>"
        },
        "ChannelName":{
          "shape":"__string",
          "documentation":"<p>The name to assign to the channel for this program.</p>"
        },
        "CreationTime":{
          "shape":"__timestampUnix",
          "documentation":"<p>The time the program was created.</p>"
        },
        "LiveSourceName":{
          "shape":"__string",
          "documentation":"<p>The name of the LiveSource for this Program.</p>"
        },
        "ProgramName":{
          "shape":"__string",
          "documentation":"<p>The name to assign to this program.</p>"
        },
        "ScheduledStartTime":{
          "shape":"__timestampUnix",
          "documentation":"<p>The scheduled start time for this Program.</p>"
        },
        "SourceLocationName":{
          "shape":"__string",
          "documentation":"<p>The name to assign to the source location for this program.</p>"
        },
        "VodSourceName":{
          "shape":"__string",
          "documentation":"<p>The name that's used to refer to a VOD source.</p>"
        },
        "ClipRange":{
          "shape":"ClipRange",
          "documentation":"<p>The clip range configuration settings.</p>"
        },
        "DurationMillis":{
          "shape":"__long",
          "documentation":"<p>The duration of the live program in milliseconds.</p>"
        },
        "AudienceMedia":{
          "shape":"__listOfAudienceMedia",
          "documentation":"<p>The list of AudienceMedia defined in program.</p>"
        }
      }
    },
    "CreateSourceLocationRequest":{
      "type":"structure",
      "required":[
        "HttpConfiguration",
        "SourceLocationName"
      ],
      "members":{
        "AccessConfiguration":{
          "shape":"AccessConfiguration",
          "documentation":"<p>Access configuration parameters. Configures the type of authentication used to access content from your source location.</p>"
        },
        "DefaultSegmentDeliveryConfiguration":{
          "shape":"DefaultSegmentDeliveryConfiguration",
          "documentation":"<p>The optional configuration for the server that serves segments.</p>"
        },
        "HttpConfiguration":{
          "shape":"HttpConfiguration",
          "documentation":"<p>The source's HTTP package configurations.</p>"
        },
        "SegmentDeliveryConfigurations":{
          "shape":"__listOfSegmentDeliveryConfiguration",
          "documentation":"<p>A list of the segment delivery configurations associated with this resource.</p>"
        },
        "SourceLocationName":{
          "shape":"__string",
          "documentation":"<p>The name associated with the source location.</p>",
          "location":"uri",
          "locationName":"SourceLocationName"
        },
        "Tags":{
          "shape":"__mapOf__string",
          "documentation":"<p>The tags to assign to the source location. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
          "locationName":"tags"
        }
      }
    },
    "CreateSourceLocationResponse":{
      "type":"structure",
      "members":{
        "AccessConfiguration":{
          "shape":"AccessConfiguration",
          "documentation":"<p>Access configuration parameters. Configures the type of authentication used to access content from your source location.</p>"
        },
        "Arn":{
          "shape":"__string",
          "documentation":"<p>The ARN to assign to the source location.</p>"
        },
        "CreationTime":{
          "shape":"__timestampUnix",
          "documentation":"<p>The time the source location was created.</p>"
        },
        "DefaultSegmentDeliveryConfiguration":{
          "shape":"DefaultSegmentDeliveryConfiguration",
          "documentation":"<p>The optional configuration for the server that serves segments.</p>"
        },
        "HttpConfiguration":{
          "shape":"HttpConfiguration",
          "documentation":"<p>The source's HTTP package configurations.</p>"
        },
        "LastModifiedTime":{
          "shape":"__timestampUnix",
          "documentation":"<p>The time the source location was last modified.</p>"
        },
        "SegmentDeliveryConfigurations":{
          "shape":"__listOfSegmentDeliveryConfiguration",
          "documentation":"<p>The segment delivery configurations for the source location. For information about MediaTailor configurations, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/configurations.html\">Working with configurations in AWS Elemental MediaTailor</a>.</p>"
        },
        "SourceLocationName":{
          "shape":"__string",
          "documentation":"<p>The name to assign to the source location.</p>"
        },
        "Tags":{
          "shape":"__mapOf__string",
          "documentation":"<p>The tags to assign to the source location. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
          "locationName":"tags"
        }
      }
    },
    "CreateVodSourceRequest":{
      "type":"structure",
      "required":[
        "HttpPackageConfigurations",
        "SourceLocationName",
        "VodSourceName"
      ],
      "members":{
        "HttpPackageConfigurations":{
          "shape":"HttpPackageConfigurations",
          "documentation":"<p>A list of HTTP package configuration parameters for this VOD source.</p>"
        },
        "SourceLocationName":{
          "shape":"__string",
          "documentation":"<p>The name of the source location for this VOD source.</p>",
          "location":"uri",
          "locationName":"SourceLocationName"
        },
        "Tags":{
          "shape":"__mapOf__string",
          "documentation":"<p>The tags to assign to the VOD source. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
          "locationName":"tags"
        },
        "VodSourceName":{
          "shape":"__string",
          "documentation":"<p>The name associated with the VOD source.&gt;</p>",
          "location":"uri",
          "locationName":"VodSourceName"
        }
      }
    },
    "CreateVodSourceResponse":{
      "type":"structure",
      "members":{
        "Arn":{
          "shape":"__string",
          "documentation":"<p>The ARN to assign to this VOD source.</p>"
        },
        "CreationTime":{
          "shape":"__timestampUnix",
          "documentation":"<p>The time the VOD source was created.</p>"
        },
        "HttpPackageConfigurations":{
          "shape":"HttpPackageConfigurations",
          "documentation":"<p>A list of HTTP package configuration parameters for this VOD source.</p>"
        },
        "LastModifiedTime":{
          "shape":"__timestampUnix",
          "documentation":"<p>The time the VOD source was last modified.</p>"
        },
        "SourceLocationName":{
          "shape":"__string",
          "documentation":"<p>The name to assign to the source location for this VOD source.</p>"
        },
        "Tags":{
          "shape":"__mapOf__string",
          "documentation":"<p>The tags to assign to the VOD source. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
          "locationName":"tags"
        },
        "VodSourceName":{
          "shape":"__string",
          "documentation":"<p>The name to assign to the VOD source.</p>"
        }
      }
    },
    "DashConfiguration":{
      "type":"structure",
      "members":{
        "ManifestEndpointPrefix":{
          "shape":"__string",
          "documentation":"<p>The URL generated by MediaTailor to initiate a playback session. The session uses server-side reporting. This setting is ignored in PUT operations.</p>"
        },
        "MpdLocation":{
          "shape":"__string",
          "documentation":"<p>The setting that controls whether MediaTailor includes the Location tag in DASH manifests. MediaTailor populates the Location tag with the URL for manifest update requests, to be used by players that don't support sticky redirects. Disable this if you have CDN routing rules set up for accessing MediaTailor manifests, and you are either using client-side reporting or your players support sticky HTTP redirects. Valid values are <code>DISABLED</code> and <code>EMT_DEFAULT</code>. The <code>EMT_DEFAULT</code> setting enables the inclusion of the tag and is the default value.</p>"
        },
        "OriginManifestType":{
          "shape":"OriginManifestType",
          "documentation":"<p>The setting that controls whether MediaTailor handles manifests from the origin server as multi-period manifests or single-period manifests. If your origin server produces single-period manifests, set this to <code>SINGLE_PERIOD</code>. The default setting is <code>MULTI_PERIOD</code>. For multi-period manifests, omit this setting or set it to <code>MULTI_PERIOD</code>.</p>"
        }
      },
      "documentation":"<p>The configuration for DASH content.</p>"
    },
    "DashConfigurationForPut":{
      "type":"structure",
      "members":{
        "MpdLocation":{
          "shape":"__string",
          "documentation":"<p>The setting that controls whether MediaTailor includes the Location tag in DASH manifests. MediaTailor populates the Location tag with the URL for manifest update requests, to be used by players that don't support sticky redirects. Disable this if you have CDN routing rules set up for accessing MediaTailor manifests, and you are either using client-side reporting or your players support sticky HTTP redirects. Valid values are <code>DISABLED</code> and <code>EMT_DEFAULT</code>. The <code>EMT_DEFAULT</code> setting enables the inclusion of the tag and is the default value.</p>"
        },
        "OriginManifestType":{
          "shape":"OriginManifestType",
          "documentation":"<p>The setting that controls whether MediaTailor handles manifests from the origin server as multi-period manifests or single-period manifests. If your origin server produces single-period manifests, set this to <code>SINGLE_PERIOD</code>. The default setting is <code>MULTI_PERIOD</code>. For multi-period manifests, omit this setting or set it to <code>MULTI_PERIOD</code>.</p>"
        }
      },
      "documentation":"<p>The configuration for DASH PUT operations.</p>"
    },
    "DashPlaylistSettings":{
      "type":"structure",
      "members":{
        "ManifestWindowSeconds":{
          "shape":"__integer",
          "documentation":"<p>The total duration (in seconds) of each manifest. Minimum value: <code>30</code> seconds. Maximum value: <code>3600</code> seconds.</p>"
        },
        "MinBufferTimeSeconds":{
          "shape":"__integer",
          "documentation":"<p>Minimum amount of content (measured in seconds) that a player must keep available in the buffer. Minimum value: <code>2</code> seconds. Maximum value: <code>60</code> seconds.</p>"
        },
        "MinUpdatePeriodSeconds":{
          "shape":"__integer",
          "documentation":"<p>Minimum amount of time (in seconds) that the player should wait before requesting updates to the manifest. Minimum value: <code>2</code> seconds. Maximum value: <code>60</code> seconds.</p>"
        },
        "SuggestedPresentationDelaySeconds":{
          "shape":"__integer",
          "documentation":"<p>Amount of time (in seconds) that the player should be from the live point at the end of the manifest. Minimum value: <code>2</code> seconds. Maximum value: <code>60</code> seconds.</p>"
        }
      },
      "documentation":"<p>Dash manifest configuration parameters.</p>"
    },
    "DefaultSegmentDeliveryConfiguration":{
      "type":"structure",
      "members":{
        "BaseUrl":{
          "shape":"__string",
          "documentation":"<p>The hostname of the server that will be used to serve segments. This string must include the protocol, such as <b>https://</b>.</p>"
        }
      },
      "documentation":"<p>The optional configuration for a server that serves segments. Use this if you want the segment delivery server to be different from the source location server. For example, you can configure your source location server to be an origination server, such as MediaPackage, and the segment delivery server to be a content delivery network (CDN), such as CloudFront. If you don't specify a segment delivery server, then the source location server is used.</p>"
    },
    "DeleteChannelPolicyRequest":{
      "type":"structure",
      "required":["ChannelName"],
      "members":{
        "ChannelName":{
          "shape":"__string",
          "documentation":"<p>The name of the channel associated with this channel policy.</p>",
          "location":"uri",
          "locationName":"ChannelName"
        }
      }
    },
    "DeleteChannelPolicyResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteChannelRequest":{
      "type":"structure",
      "required":["ChannelName"],
      "members":{
        "ChannelName":{
          "shape":"__string",
          "documentation":"<p>The name of the channel.</p>",
          "location":"uri",
          "locationName":"ChannelName"
        }
      }
    },
    "DeleteChannelResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteLiveSourceRequest":{
      "type":"structure",
      "required":[
        "LiveSourceName",
        "SourceLocationName"
      ],
      "members":{
        "LiveSourceName":{
          "shape":"__string",
          "documentation":"<p>The name of the live source.</p>",
          "location":"uri",
          "locationName":"LiveSourceName"
        },
        "SourceLocationName":{
          "shape":"__string",
          "documentation":"<p>The name of the source location associated with this Live Source.</p>",
          "location":"uri",
          "locationName":"SourceLocationName"
        }
      }
    },
    "DeleteLiveSourceResponse":{
      "type":"structure",
      "members":{}
    },
    "DeletePlaybackConfigurationRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"__string",
          "documentation":"<p>The name of the playback configuration.</p>",
          "location":"uri",
          "locationName":"Name"
        }
      }
    },
    "DeletePlaybackConfigurationResponse":{
      "type":"structure",
      "members":{}
    },
    "DeletePrefetchScheduleRequest":{
      "type":"structure",
      "required":[
        "Name",
        "PlaybackConfigurationName"
      ],
      "members":{
        "Name":{
          "shape":"__string",
          "documentation":"<p>The name of the prefetch schedule. If the action is successful, the service sends back an HTTP 204 response with an empty HTTP body.</p>",
          "location":"uri",
          "locationName":"Name"
        },
        "PlaybackConfigurationName":{
          "shape":"__string",
          "documentation":"<p>The name of the playback configuration for this prefetch schedule.</p>",
          "location":"uri",
          "locationName":"PlaybackConfigurationName"
        }
      }
    },
    "DeletePrefetchScheduleResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteProgramRequest":{
      "type":"structure",
      "required":[
        "ChannelName",
        "ProgramName"
      ],
      "members":{
        "ChannelName":{
          "shape":"__string",
          "documentation":"<p>The name of the channel.</p>",
          "location":"uri",
          "locationName":"ChannelName"
        },
        "ProgramName":{
          "shape":"__string",
          "documentation":"<p>The name of the program.</p>",
          "location":"uri",
          "locationName":"ProgramName"
        }
      }
    },
    "DeleteProgramResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteSourceLocationRequest":{
      "type":"structure",
      "required":["SourceLocationName"],
      "members":{
        "SourceLocationName":{
          "shape":"__string",
          "documentation":"<p>The name of the source location.</p>",
          "location":"uri",
          "locationName":"SourceLocationName"
        }
      }
    },
    "DeleteSourceLocationResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteVodSourceRequest":{
      "type":"structure",
      "required":[
        "SourceLocationName",
        "VodSourceName"
      ],
      "members":{
        "SourceLocationName":{
          "shape":"__string",
          "documentation":"<p>The name of the source location associated with this VOD Source.</p>",
          "location":"uri",
          "locationName":"SourceLocationName"
        },
        "VodSourceName":{
          "shape":"__string",
          "documentation":"<p>The name of the VOD source.</p>",
          "location":"uri",
          "locationName":"VodSourceName"
        }
      }
    },
    "DeleteVodSourceResponse":{
      "type":"structure",
      "members":{}
    },
    "DescribeChannelRequest":{
      "type":"structure",
      "required":["ChannelName"],
      "members":{
        "ChannelName":{
          "shape":"__string",
          "documentation":"<p>The name of the channel.</p>",
          "location":"uri",
          "locationName":"ChannelName"
        }
      }
    },
    "DescribeChannelResponse":{
      "type":"structure",
      "required":["LogConfiguration"],
      "members":{
        "Arn":{
          "shape":"__string",
          "documentation":"<p>The ARN of the channel.</p>"
        },
        "ChannelName":{
          "shape":"__string",
          "documentation":"<p>The name of the channel.</p>"
        },
        "ChannelState":{
          "shape":"ChannelState",
          "documentation":"<p>Indicates whether the channel is in a running state or not.</p>"
        },
        "CreationTime":{
          "shape":"__timestampUnix",
          "documentation":"<p>The timestamp of when the channel was created.</p>"
        },
        "FillerSlate":{
          "shape":"SlateSource",
          "documentation":"<p>Contains information about the slate used to fill gaps between programs in the schedule.</p>"
        },
        "LastModifiedTime":{
          "shape":"__timestampUnix",
          "documentation":"<p>The timestamp of when the channel was last modified.</p>"
        },
        "Outputs":{
          "shape":"ResponseOutputs",
          "documentation":"<p>The channel's output properties.</p>"
        },
        "PlaybackMode":{
          "shape":"__string",
          "documentation":"<p>The channel's playback mode.</p>"
        },
        "Tags":{
          "shape":"__mapOf__string",
          "documentation":"<p>The tags assigned to the channel. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
          "locationName":"tags"
        },
        "Tier":{
          "shape":"__string",
          "documentation":"<p>The channel's tier.</p>"
        },
        "LogConfiguration":{
          "shape":"LogConfigurationForChannel",
          "documentation":"<p>The log configuration for the channel.</p>"
        },
        "TimeShiftConfiguration":{
          "shape":"TimeShiftConfiguration",
          "documentation":"<p> The time-shifted viewing configuration for the channel. </p>"
        },
        "Audiences":{
          "shape":"Audiences",
          "documentation":"<p>The list of audiences defined in channel.</p>"
        }
      }
    },
    "DescribeLiveSourceRequest":{
      "type":"structure",
      "required":[
        "LiveSourceName",
        "SourceLocationName"
      ],
      "members":{
        "LiveSourceName":{
          "shape":"__string",
          "documentation":"<p>The name of the live source.</p>",
          "location":"uri",
          "locationName":"LiveSourceName"
        },
        "SourceLocationName":{
          "shape":"__string",
          "documentation":"<p>The name of the source location associated with this Live Source.</p>",
          "location":"uri",
          "locationName":"SourceLocationName"
        }
      }
    },
    "DescribeLiveSourceResponse":{
      "type":"structure",
      "members":{
        "Arn":{
          "shape":"__string",
          "documentation":"<p>The ARN of the live source.</p>"
        },
        "CreationTime":{
          "shape":"__timestampUnix",
          "documentation":"<p>The timestamp that indicates when the live source was created.</p>"
        },
        "HttpPackageConfigurations":{
          "shape":"HttpPackageConfigurations",
          "documentation":"<p>The HTTP package configurations.</p>"
        },
        "LastModifiedTime":{
          "shape":"__timestampUnix",
          "documentation":"<p>The timestamp that indicates when the live source was modified.</p>"
        },
        "LiveSourceName":{
          "shape":"__string",
          "documentation":"<p>The name of the live source.</p>"
        },
        "SourceLocationName":{
          "shape":"__string",
          "documentation":"<p>The name of the source location associated with the live source.</p>"
        },
        "Tags":{
          "shape":"__mapOf__string",
          "documentation":"<p>The tags assigned to the live source. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
          "locationName":"tags"
        }
      }
    },
    "DescribeProgramRequest":{
      "type":"structure",
      "required":[
        "ChannelName",
        "ProgramName"
      ],
      "members":{
        "ChannelName":{
          "shape":"__string",
          "documentation":"<p>The name of the channel associated with this Program.</p>",
          "location":"uri",
          "locationName":"ChannelName"
        },
        "ProgramName":{
          "shape":"__string",
          "documentation":"<p>The name of the program.</p>",
          "location":"uri",
          "locationName":"ProgramName"
        }
      }
    },
    "DescribeProgramResponse":{
      "type":"structure",
      "members":{
        "AdBreaks":{
          "shape":"__listOfAdBreak",
          "documentation":"<p>The ad break configuration settings.</p>"
        },
        "Arn":{
          "shape":"__string",
          "documentation":"<p>The ARN of the program.</p>"
        },
        "ChannelName":{
          "shape":"__string",
          "documentation":"<p>The name of the channel that the program belongs to.</p>"
        },
        "CreationTime":{
          "shape":"__timestampUnix",
          "documentation":"<p>The timestamp of when the program was created.</p>"
        },
        "LiveSourceName":{
          "shape":"__string",
          "documentation":"<p>The name of the LiveSource for this Program.</p>"
        },
        "ProgramName":{
          "shape":"__string",
          "documentation":"<p>The name of the program.</p>"
        },
        "ScheduledStartTime":{
          "shape":"__timestampUnix",
          "documentation":"<p>The date and time that the program is scheduled to start in ISO 8601 format and Coordinated Universal Time (UTC). For example, the value 2021-03-27T17:48:16.751Z represents March 27, 2021 at 17:48:16.751 UTC.</p>"
        },
        "SourceLocationName":{
          "shape":"__string",
          "documentation":"<p>The source location name.</p>"
        },
        "VodSourceName":{
          "shape":"__string",
          "documentation":"<p>The name that's used to refer to a VOD source.</p>"
        },
        "ClipRange":{
          "shape":"ClipRange",
          "documentation":"<p>The clip range configuration settings.</p>"
        },
        "DurationMillis":{
          "shape":"Long",
          "documentation":"<p>The duration of the live program in milliseconds.</p>"
        },
        "AudienceMedia":{
          "shape":"__listOfAudienceMedia",
          "documentation":"<p>The list of AudienceMedia defined in program.</p>"
        }
      }
    },
    "DescribeSourceLocationRequest":{
      "type":"structure",
      "required":["SourceLocationName"],
      "members":{
        "SourceLocationName":{
          "shape":"__string",
          "documentation":"<p>The name of the source location.</p>",
          "location":"uri",
          "locationName":"SourceLocationName"
        }
      }
    },
    "DescribeSourceLocationResponse":{
      "type":"structure",
      "members":{
        "AccessConfiguration":{
          "shape":"AccessConfiguration",
          "documentation":"<p>The access configuration for the source location.</p>"
        },
        "Arn":{
          "shape":"__string",
          "documentation":"<p>The ARN of the source location.</p>"
        },
        "CreationTime":{
          "shape":"__timestampUnix",
          "documentation":"<p>The timestamp that indicates when the source location was created.</p>"
        },
        "DefaultSegmentDeliveryConfiguration":{
          "shape":"DefaultSegmentDeliveryConfiguration",
          "documentation":"<p>The default segment delivery configuration settings.</p>"
        },
        "HttpConfiguration":{
          "shape":"HttpConfiguration",
          "documentation":"<p>The HTTP package configuration settings for the source location.</p>"
        },
        "LastModifiedTime":{
          "shape":"__timestampUnix",
          "documentation":"<p>The timestamp that indicates when the source location was last modified.</p>"
        },
        "SegmentDeliveryConfigurations":{
          "shape":"__listOfSegmentDeliveryConfiguration",
          "documentation":"<p>A list of the segment delivery configurations associated with this resource.</p>"
        },
        "SourceLocationName":{
          "shape":"__string",
          "documentation":"<p>The name of the source location.</p>"
        },
        "Tags":{
          "shape":"__mapOf__string",
          "documentation":"<p>The tags assigned to the source location. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
          "locationName":"tags"
        }
      }
    },
    "DescribeVodSourceRequest":{
      "type":"structure",
      "required":[
        "SourceLocationName",
        "VodSourceName"
      ],
      "members":{
        "SourceLocationName":{
          "shape":"__string",
          "documentation":"<p>The name of the source location associated with this VOD Source.</p>",
          "location":"uri",
          "locationName":"SourceLocationName"
        },
        "VodSourceName":{
          "shape":"__string",
          "documentation":"<p>The name of the VOD Source.</p>",
          "location":"uri",
          "locationName":"VodSourceName"
        }
      }
    },
    "DescribeVodSourceResponse":{
      "type":"structure",
      "members":{
        "AdBreakOpportunities":{
          "shape":"AdBreakOpportunities",
          "documentation":"<p>The ad break opportunities within the VOD source.</p>"
        },
        "Arn":{
          "shape":"__string",
          "documentation":"<p>The ARN of the VOD source.</p>"
        },
        "CreationTime":{
          "shape":"__timestampUnix",
          "documentation":"<p>The timestamp that indicates when the VOD source was created.</p>"
        },
        "HttpPackageConfigurations":{
          "shape":"HttpPackageConfigurations",
          "documentation":"<p>The HTTP package configurations.</p>"
        },
        "LastModifiedTime":{
          "shape":"__timestampUnix",
          "documentation":"<p>The last modified time of the VOD source.</p>"
        },
        "SourceLocationName":{
          "shape":"__string",
          "documentation":"<p>The name of the source location associated with the VOD source.</p>"
        },
        "Tags":{
          "shape":"__mapOf__string",
          "documentation":"<p>The tags assigned to the VOD source. Tags are key-value pairs that you can associate with Amazon resources to help with organization, access control, and cost tracking. For more information, see <a href=\"https://docs.aws.amazon.com/mediatailor/latest/ug/tagging.html\">Tagging AWS Elemental MediaTailor Resources</a>.</p>",
          "locationName":"tags"
        },
        "VodSourceName":{
          "shape":"__string",
          "documentation":"<p>The name of the VOD source.</p>"
        }
      }
    },
    "FillPolicy":{
      "type":"string",
      "enum":[
        "FULL_AVAIL_ONLY",
        "PARTIAL_AVAIL"
      ]
    },
    "GetChannelPolicyRequest":{
      "type":"structure",
      "required":["ChannelName"],
      "members":{
        "ChannelName":{
          "shape":"__string",
          "documentation":"<p>The name of the channel associated with this Channel Policy.</p>",
          "location":"uri",
          "locationName":"ChannelName"
        }
      }
    },
    "GetChannelPolicyResponse":{
      "type":"structure",
      "members":{
        "Policy":{
          "shape":"__string",
          "documentation":"<p>The IAM policy for the channel. IAM policies are used to control access to your channel.</p>"
        }
      }
    },
    "GetChannelScheduleRequest":{
      "type":"structure",
      "required":["ChannelName"],
      "members":{
        "ChannelName":{
          "shape":"__string",
          "documentation":"<p>The name of the channel associated with this Channel Schedule.</p>",
          "location":"uri",
          "locationName":"ChannelName"
        },
        "DurationMinutes":{
          "shape":"__string",
          "documentation":"<p>The duration in minutes of the channel schedule.</p>",
          "location":"querystring",
          "locationName":"durationMinutes"
        },
        "MaxResults":{
          "shape":"MaxResults",
          "documentation":"<p>The maximum number of channel schedules that you want MediaTailor to return in response to the current request. If there are more than <code>MaxResults</code> channel schedules, use the value of <code>NextToken</code> in the response to get the next page of results.</p>",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "NextToken":{
          "shape":"__string",
          "documentation":"<p>(Optional) If the playback configuration has more than <code>MaxResults</code> channel schedules, use <code>NextToken</code> to get the second and subsequent pages of results.</p> <p>For the first <code>GetChannelScheduleRequest</code> request, omit this value.</p> <p>For the second and subsequent requests, get the value of <code>NextToken</code> from the previous response and specify that value for <code>NextToken</code> in the request.</p> <p>If the previous response didn't include a <code>NextToken</code> element, there are no more channel schedules to get.</p>",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "Audience":{
          "shape":"__string",
          "documentation":"<p>The single audience for GetChannelScheduleRequest.</p>",
          "location":"querystring",
          "locationName":"audience"
        }
      }
    },
[...]
