<form id="forgotten" class="forgotten-form" method="post" novalidate="novalidate">
    <div class="email-wrap">
        <input class="email" type="email" placeholder="Email Address" name="email" autocapitalize="off" autocorrect="off">
    </div>
    <button class="button-save" type="submit">Send new password</button>
</form>
