<form id="reset" class="reset-form" method="post" novalidate="novalidate">
    <div class="password-wrap">
        <input class="password" type="password" placeholder="Password" name="newpassword" />
    </div>
    <div class="password-wrap">
        <input class="password" type="password" placeholder="Confirm Password" name="ne2password" />
    </div>
    <button class="button-save" type="submit">Reset Password</button>
</form>
