---
lang: pt-BR
layout: default
meta_title: Como Usar o Ghost - Ghost Docs
meta_description: Um guia mais a fundo para usar a plataforma de blog Ghost. Escolheu o Ghost mas não sabe por onde começar? Comece aqui!
heading: Usando o Ghost
subheading: Encontrando seu caminho, e configurando do jeito que você quer
chapter: usage
permalink: /pt-BR/usage/configuration/
prev_section: usage
next_section: settings
---

<div class="container">
    <div class="row">

        {% include subnav/usage.html %}

        <section id="content" class="col-lg-9">

            <h2 id="configuration">Configurando o Ghost</h2>

            <p>Depois de executar o Ghost pela primeira vez, você vai encontrar um arquivo chamado <code>config.js</code> no diretório raiz do Ghost, juntamente com o <code>index.js</code>. Este arquivo permite que você configure variáveis do ambiente de configuração como sua URL, seu banco de dados e suas configurações de e-mail.</p>

            <p>Se você não executou o Ghost pela primeira vez, você não vai ter esse arquivo ainda. Você pode criá-lo copiando o arquivo <code>config.example.js</code> - é o que o Ghost faz quando é iniciado.</p>

            <p>Para configurar a URL, e-mail ou banco de dados do seu Ghost, abra o arquivo <code>config.js</code> no seu editor preferido, e comece mudando as configurações que você deseja para o seu ambiente. Se os ambientes são algo que você não lidou ainda, leia a documentação abaixo.



            <h2 id="environments">Sobre Ambientes</h2>

            <p>Node.js, e consequentemente o Ghost, trabalham com o conceito de criação em ambientes. Os ambientes permitem você criar diferentes configurações para modos diferentes no qual você pode querer rodar o Ghost.
                Por padrão, o Ghost tem dois modos de criação: <strong>desenvolvimento</strong> e <strong>produção</strong>.</p>

            <p>There are a few, very subtle differences between the two modes or environments. Essentially <strong>development</strong>  is geared towards developing and particularly debugging Ghost.
                Meanwhile "production" is intended to be used when you're running Ghost publicly. The differences include things like what logging & error messaging is output, and also how much static assets are concatenated and minified.
                In <strong>production</strong>, you'll get just one JavaScript file containing all the code for the admin, in <strong>development</strong>  you'll get several.</p>

            <p>As Ghost progresses, these differences will grow and become more apparent, and therefore it will become more and more important that any public blog runs in the <strong>production</strong> environment.
                This perhaps begs the question, why <strong>development</strong> mode by default, if most people are going to want to run it in <strong>production</strong> mode?
                Ghost has <strong>development</strong> as the default because this is the environment that is best for debugging problems, which you're most likely to need when getting set up for the first time.</p>

            <h2 id="using-env">Using Environments</h2>

            <p>In order to set Ghost to run under a different environment, you need to use an environment variable. For example if you normally start Ghost with <code>node index.js</code> you would use:</p>

            <p><code>NODE_ENV=production node index.js</code></p>

            <p>Or if you normally use forever:</p>

            <p><code>NODE_ENV=production forever start index.js</code></p>

            <p>Or if you're used to using <code>npm start</code> you could use the slightly easier to remember:</p>

            <p><code>npm start --production</code></p>

            <h3>Why use <code>npm install --production</code>?</h3>

            <p>We have been asked a few times why, if Ghost starts in development mode by default, does the installation documentation say to run <code>npm install --production</code>?
                This is a good question! If you don't include <code>--production</code> when installing Ghost, nothing bad will happen, but it will install a tonne of extra packages which are only useful for people who want to develop Ghost core itself.
                This also requires that you have one particular package, <code>grunt-cli</code> installed globally, which has to be done with <code>npm install -g grunt-cli</code>, it's an extra step and it's not needed if you just want to run Ghost as a blog.</p>
            </p>



            {% if page.next_section || page.prev_section %}
                {% include pagination.html %}
            {% endif %}
        </section>
    </div>
</div>
