---
lang: pt-BR
layout: default
meta_title: Como Usar o Ghost - Ghost Docs
meta_description: Um guia mais a fundo para usar a plataforma de blog Ghost. Escolheu o Ghost mas não sabe por onde começar? Comece aqui!
heading: Usando o Ghost
subheading: Encontrando seu caminho, e configurando do jeito que você quer
chapter: usage
permalink: /pt-BR/usage/configuration/
prev_section: usage
next_section: settings
---

<div class="container">
    <div class="row">

        {% include subnav/usage.html %}

        <section id="content" class="col-lg-9">

            <h2 id="configuration">Configurando o Ghost</h2>

            <p>Depois de executar o Ghost pela primeira vez, você vai encontrar um arquivo chamado <code>config.js</code> no diretório raiz do Ghost, juntamente com o <code>index.js</code>. Este arquivo permite que você configure variáveis do ambiente de configuração como sua URL, seu banco de dados e suas configurações de e-mail.</p>

            <p>Se você não executou o Ghost pela primeira vez, você não vai ter esse arquivo ainda. Você pode criá-lo copiando o arquivo <code>config.example.js</code> - é o que o Ghost faz quando é iniciado.</p>

            <p>Para configurar a URL, e-mail ou banco de dados do seu Ghost, abra o arquivo <code>config.js</code> no seu editor preferido, e comece mudando as configurações que você deseja para o seu ambiente. Se os ambientes são algo que você não lidou ainda, leia a documentação abaixo.



            <h2 id="environments">Sobre Ambientes</h2>

            <p>Node.js, e consequentemente o Ghost, trabalham com o conceito de criação em ambientes. Os ambientes permitem você criar diferentes configurações para modos diferentes no qual você pode querer rodar o Ghost.
                Por padrão, o Ghost tem dois modos de criação: <strong>desenvolvimento</strong> e <strong>produção</strong>.</p>

            <p>Existem algumas diferenças, muito sutis, entre os dois modos ou ambientes. Essencialmente o modo de<strong>desenvolvimento</strong> é voltado para o desenvolvimento e particularmente a depuração do Ghost.
                Enquanto o modo "produção" é voltado para ser usado quando você está executando o Ghost publicamente. As diferênças incluem coisas como a maneira que o log e mensagens de erro são apresentados, e também o quanto much static assets são concatenados e reduzido.
                No modo de <strong>produção</strong>, você terá apenas um arquivo de Javascript contendo todo o código para a administração, no modo <strong>desenvolvimento</strong> você terá vários.</p>

            <p> Com o avanço do Ghost, essas diferenças irão crescer e se tornar mais evidentes e, portanto, torna-se cada vez mais importante que qualquer blog público seja executado no ambiente de <strong>produção</strong>.
                Isto pode levantar uma questão, por que o modo de <strong>desenvolvimento</strong> é o padrão, se a maioria das pessoas vão querer executar no modo de <strong>produção</strong>?
                O Ghost tem o modo de <strong>desenvolvimento</strong> como padrão, pois este é o melhor ambiente para depurar problemas, provavelmente é o que você vai mais precisar quando configurar pela primeira vez.</p>

            <h2 id="using-env">Usando Ambientes</h2>

            <p>Para preparar o Ghost para executar em um ambiente diferente, você precisa usar uma variável de ambiente. Por exemplo, se você iniciar normalmente o Ghost com o <code>node index.js</code> você usuaria:</p>

            <p><code>NODE_ENV=production node index.js</code></p>

            <p>Ou se você normalmente sempre usar:</p>

            <p><code>NODE_ENV=production forever start index.js</code></p>

            <p>Ou se você está acostumado a usar <code>npm start</code>, você poderia usar o jeito mais fácil para lembrar:</p>

            <p><code>npm start --production</code></p>

            <h3>Por que usar <code>npm install --production</code>?</h3>

            <p>Nós fomos perguntados algumas vezes por que, se o Ghost é iniciado em modo de desenvolvimento por padrão, a documentação de instalação diz para executar <code>npm install --production</code>?
                Essa é uma boa pergunta! Se você não incluir <code>--production</code> quando instalar o Ghost, nada de errado irá acontecer, mas será instalado uma grande quantidade de pacotes extras que é útil apenas para quem quer desenvolver o núcleo do Ghost.
                Isso também requer que você tenha um pacote em particular, <code>grunt-cli</code> instalado globalmente, que tem que ser feito com <code>npm install -g grunt-cli</code>, é um passo extra e não é necessário se você quer apenar rodar o Ghost como um blog.</p>
            </p>



            {% if page.next_section || page.prev_section %}
                {% include pagination.html %}
            {% endif %}
        </section>
    </div>
</div>
