---
lang: pt-BR
layout: default
meta_title: Como Usar o Ghost - Ghost Docs
meta_description: Um guia mais a fundo para usar a plataforma de blog Ghost. Escolheu o Ghost mas não sabe por onde começar? Comece aqui!
heading: Usando o Ghost
subheading: Encontrando seu caminho, e configurando do jeito que você quer
chapter: usage
permalink: /pt-BR/usage/faq/
prev_section: writing
---

<div class="container">
    <div class="row">

        {% include subnav/usage.html %}

        <section id="content" class="col-lg-9">

            <h2 id="faq">FAQ (Perguntas Frequentes)</h2>

            <h3>(Quando) O Ghost irá suportar a função X?</h3>

            <p>Por favor veja a lista de <a href="https://github.com/TryGhost/Ghost/wiki/Planned-Features">Funções Planejadas</a> e o <a href="https://github.com/TryGhost/Ghost/wiki/Roadmap">Roadmap (Planejamento)</a> no <a href="https://github.com/TryGhost/Ghost/wiki">Github wiki</a>.</p>

            <h3>Como eu insiro imagens em um post?</h3>

            <p>Por favor veja o <a href="/usage/writing/#markdown">Guia do Markdown</a> para uma explicação completa de como enviar imagens utilizando o editor do Ghost.</p>

            <br />
            <br />


            {% if page.next_section || page.prev_section %}
                {% include pagination.html %}
            {% endif %}
        </section>
    </div>
</div>