---
lang: pt-BR
layout: default
meta_title: Como Usar o Ghost - Ghost Docs
meta_description: Um guia mais a fundo para usar a plataforma de blog Ghost. Escolheu o Ghost mas não sabe por onde começar? Comece aqui!
heading: Usando o Ghost
subheading: Encontrando seu caminho, e configurando do jeito que você quer
chapter: usage
next_section: configuration
---

<div class="container">
    <div class="row">

        {% include subnav/usage.html %}

        <section id="content" class="col-lg-9">

            <h2 id="overview">Visão Geral</h2>

            <p>Provavelmente nesse ponto você já tenha o Ghost instalado e executando, e você está pronto para blogar. The following sections are going to walk you through absolutely everything you need to know about Ghost, so that you are familiar with everything, and set up exactly how you want to be.</p>

            <h3>Primeira Execução</h3>

            <p>Se você está rodando o Ghost pela primeira vez, você precisa criar sua conta de usuário administrador. Navegue para o seu novo blog no seu navegador favorito, e então mude a URL para <code class="path">&lt;your URL&gt;/ghost/signup/</code>. Você deve ver uma tela como essa:</p>

            <p><img src="https://s3-eu-west-1.amazonaws.com/ghost-website-cdn/ghost-signup.png" /></p>

            <ul>
                <li>Digite seu <strong>Nome Completo</strong> como o nome que você quer que apareça como autor dos artigos do blog.</li>
                <li>Entre então com seu <strong>Endereço de E-mail</strong> - tenha certeza que é válido, e com cuidado escolha uma <strong>Senha</strong> segura (ela precisa ter no mínimo 8 caracteres).</li>
                <li>Aperte o grande botão azul <strong>Sign Up</strong>, e você será logado no blog.</li>
            </ul>

            <p>É isso! Agora você pode começar a escrever artigos no blog.</p>

            <h4>Mensagens</h4>

            <p>Na primeira vez que você rodar o Ghost, você deve ver uma mensagem azul no topo da tela que irá se parecer mais ou menos com essa:</p>

            <p><img src="https://s3-eu-west-1.amazonaws.com/ghost-website-cdn/first-run-info.png" /></p>

            <p>Ela vai lhe passr algumas informações de como o Ghost está configurado, como o ambiente que você o iniciou e qual URL seu blog está configurado.
                Vá para a seção <a href="/usage/configuration/">configuração</a> para saber um pouco mais sobre ambientes e como configurar o Ghost.
                Você não será capaz de se livrar desta mensagem até você faça o login (esse é um problema que estamos trabalhando), mas uma vez que você fez e está familiarizado com a informação, feche-o pressionando o x. Ela não vai aparecer novamente.</p>

            <p>Você pode também ver uma mensagem laranja com uma consideração sobre o email:</p>

            <p><img src="https://s3-eu-west-1.amazonaws.com/ghost-website-cdn/email-warning.png" /></p>

            <p>Isso não é crítico para configurar se ublog e começar a escrever, mas é uma boa ideia ir para a <a href="/mail">documentação de email</a> em algum ponto, e aprender a configurar o Ghost para enviar emails.
            Isso atualmente só é usado para enviar um e-mail de redefinição caso você esqueça sua senha. Não é imortante para blogar, mas é muito realmente útil se um dia você precisar disso!</p>

            {% if page.next_section || page.prev_section %}
                {% include pagination.html %}
            {% endif %}
        </section>
    </div>
</div>
