---
lang: pt-BR
layout: default
meta_title: How to Use Ghost - Ghost Docs
meta_description: An in depth guide to using the Ghost blogging platform. Got Ghost but not sure how to get going? Start here!
heading: Using Ghost
subheading: Finding your way around, and getting set up the way you want
chapter: usage
permalink: /pt-BR/usage/managing/
prev_section: settings
next_section: writing
---

<div class="container">
    <div class="row">

        {% include subnav/usage.html %}

        <section id="content" class="col-lg-9">

            <h2 id="managing">Managing your blog</h2>

            <ol>
                <li>Go to <code class="path">&lt;your URL&gt;/ghost/editor/</code></li>
                <li>Enter a Post Title</li>
                <li>Enter your post content using <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a></li>
                <li>Save your Post as "Draft" by clicking the 'Save Draft' button, or press Ctrl / CMD + S.</li>
                <img src="https://s3-eu-west-1.amazonaws.com/ghost-website-cdn/draft.gif" />
            </ol>


            <h3>Publish a Post</h3>

            <p>Once you have written your Post.</p>

            <ol>
                <li>Click the arrow next to "Save Draft"</li>
                <li>Select "Publish Now"</li>
                <img src="https://s3-eu-west-1.amazonaws.com/ghost-website-cdn/publish.gif" />
            </ol>

            <p>This will set the save state to 'Publish Now' and the button will turn Red, once you press this button the Post will be published. To return the Post to a 'Draft' state;</p>

            <ol>
                <li>return to the 'Save Menu'.</li>
                <li>Select "Unpublish".</li>
                <li>Click the "Unpublish" button.</li>
            </ol>


            <p>To change the "Slug" or "Publish date" of a post once published;</p>

            <ol>
                <li>Click the 'Settings' icon.</li>
                <li>Proceed to update the information as required (this will be saved automatically when you naviagte away).</li>
                <img style="max-width:100%;" src="hhttps://s3-eu-west-1.amazonaws.com/ghost-website-cdn/updateSlug.gif">
            </ol>


            <h3>Delete a Post</h3>

            <ol>
                <li>Navigate to the 'Settings' icon in either the 'Content' page or 'Editor' page.</li>
                <li>Click "Delete".</li>
                <li>Accept the Modal</li>
                <img width="100%" src="https://s3-eu-west-1.amazonaws.com/ghost-website-cdn/deletePost.gif" />
            </ol>

            {% if page.next_section || page.prev_section %}
                {% include pagination.html %}
            {% endif %}
        </section>
    </div>
</div>