---
lang: pt-BR
layout: default
meta_title: Como Usar o Ghost - Ghost Docs
meta_description: Um guia mais a fundo para usar a plataforma de blog Ghost. Escolheu o Ghost mas não sabe por onde começar? Comece aqui!
heading: Usando o Ghost
subheading: Encontrando seu caminho, e configurando do jeito que você quer
chapter: usage
permalink: /pt-BR/usage/managing/
prev_section: settings
next_section: writing
---

<div class="container">
    <div class="row">

        {% include subnav/usage.html %}

        <section id="content" class="col-lg-9">

            <h2 id="managing">Gerenciando seu Blog</h2>

            <ol>
                <li>Vá para <code class="path">&lt;your URL&gt;/ghost/editor/</code></li>
                <li>Escreva o título do seu artigo</li>
                <li>Escreva o conteúdo do seu artigo usando <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a></li>
                <li>Salve seu artigo como "Rascunho" clicando no botão 'Save Draft', ou pressione Ctrl / CMD + S.</li>
                <img src="https://s3-eu-west-1.amazonaws.com/ghost-website-cdn/draft.gif" />
            </ol>


            <h3>Publicar um Artigo</h3>

            <p>Uma vez escrito seu artigo.</p>

            <ol>
                <li>Clique na seta próxima ao botão Salvar Rascunho</li>
                <li>Selecione "Publicar Agora"</li>
                <img src="https://s3-eu-west-1.amazonaws.com/ghost-website-cdn/publish.gif" />
            </ol>

            <p>Isso irá mudar o estado de salvo para 'Publicar Agora' e o botão irá ficar vermelho, uma vez que você aperte esse botão, o seu artigo será publicado. Para fazer seu artigo voltar a ser um rascunho;</p>

            <ol>
                <li>Retorne para o 'Menu Salvar'.</li>
                <li>Selecione "Desfazer Publicar".</li>
                <li>Clique no botão "Desfazer Publicar"</li>
            </ol>


            <p>Para mudar a url amigável ou a data de publicação, uma vez que o artigo foi publicado;</p>

            <ol>
                <li>Clique no ícone das 'Configurações'</li>
                <li>Prosiga com as atualizações que são necessárias (isso irá ser salvo automaticamente quando você sair dessa área).</li>
                <img style="max-width:100%;" src="https://s3-eu-west-1.amazonaws.com/ghost-website-cdn/updateSlug.gif">
            </ol>


            <h3>Apagar um Artigo</h3>

            <ol>
                <li>Navegue para o ícone 'Configurações', dentro da área 'Conteúdo' ou a página de edição.</li>
                <li>Clique em "Apagar".</li>
                <li>Concorde na janela.</li>
                <img width="100%" src="https://s3-eu-west-1.amazonaws.com/ghost-website-cdn/deletePost.gif" />
            </ol>

            {% if page.next_section || page.prev_section %}
                {% include pagination.html %}
            {% endif %}
        </section>
    </div>
</div>