---
lang: pt-BR
layout: default
meta_title: How to Use Ghost - Ghost Docs
meta_description: An in depth guide to using the Ghost blogging platform. Got Ghost but not sure how to get going? Start here!
heading: Using Ghost
subheading: Finding your way around, and getting set up the way you want
chapter: usage
permalink: /pt-BR/usage/writing/
prev_section: managing
next_section: faq
---

<div class="container">
    <div class="row">

        {% include subnav/usage.html %}

        <section id="content" class="col-lg-9">

            <h2 id="writing">Writing posts</h2>

            <p>Blog posts in Ghost are written using Markdown. Markdown is a minimal syntax for marking up documents with formatting using punctuation and special characters. It's syntax is intended to prevent interuptions to the flow of writing, allowing you to focus on your content, rather than how it looks.</p>

            <h3 id="markdown">Markdown Guide</h3>

            <p><a href="http://daringfireball.net/projects/markdown/">Markdown</a> is a markup language designed to improve the efficiency in which you can write, whilst keep the writing as easy-to-read as possible.</p>

            <p>Ghost uses all the default Markdown shortcuts plus a few of our own additions. The full list of shortcuts is listed below.</p>

            <h4> Headers</h4>

            <p>Headers can be set using a hash before the title text. The number of hashes before the title text determines the depth of the header. The headers depths are from 1-6.</p>

            <ul>
            <li>H1 : <code># Header 1</code></li>
            <li>H2 : <code>## Header 2</code></li>
            <li>H3 : <code>### Header 3</code></li>
            <li>H4 : <code>#### Header 4</code></li>
            <li>H5 : <code>##### Header 5</code></li>
            <li>H6 : <code>###### Header 6</code></li>
            </ul>


            <h4> Text Styling</h4>

            <ul>
            <li>Links : <code>[Title](URL)</code></li>
            <li>Bold : <code>**Bold**</code></li>
            <li>Italic : <code>*Italic*</code></li>
            <li>Paragraphs : Line space inbetween paragraphs</li>
            <li>Lists : <code>* An asterix on every new list item</code></li>
            <li>Quotes : <code>&gt; Quote</code></li>
            <li>Code : <code>`code`</code></li>
            <li>HR : <code>==========</code></li>
            </ul>


            <h4> Images</h4>

            <p>To insert an image into your post, you need to first enter <code>![]()</code> into the Markdown editor panel. This should create an image upload box in your preview panel.
            <img src="https://s3-eu-west-1.amazonaws.com/ghost-website-cdn/Screen%20Shot%202013-10-14%20at%2012.45.08.png" />
            You can now drag and drop any image (.png, .gif, .jpg) from your Desktop over the image upload box to include it into your post, or alternatively click the image upload box to use a standard image upload popup. If you would prefer to include an image url, click the 'link' icon in the bottom left of the image upload box, this will then present you with the ability to insert an image URL.
            <img src="https://s3-eu-west-1.amazonaws.com/ghost-website-cdn/Screen%20Shot%202013-10-14%20at%2012.34.21.png" />
            To title your image, all you need to do is place your title text inbetween the square brackets, e.g; <code>![This is a title]()</code>.
            </p>

            <h5>Removing Images</h5>
            <img src="https://s3-eu-west-1.amazonaws.com/ghost-website-cdn/Screen%20Shot%202013-10-14%20at%2012.56.44.png" />
            <p>To remove an image click the 'remove' icon, in the top right corner of the currently inserted image.
            This will present you with the blank image upload box for you to re-insert a new image.</p>

            {% if page.next_section || page.prev_section %}
                {% include pagination.html %}
            {% endif %}
        </section>
    </div>
</div>