{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-06-29",
    "endpointPrefix":"robomaker",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceAbbreviation":"RoboMaker",
    "serviceFullName":"AWS RoboMaker",
    "serviceId":"RoboMaker",
    "signatureVersion":"v4",
    "signingName":"robomaker",
    "uid":"robomaker-2018-06-29",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "BatchDeleteWorlds":{
      "name":"BatchDeleteWorlds",
      "http":{
        "method":"POST",
        "requestUri":"/batchDeleteWorlds"
      },
      "input":{"shape":"BatchDeleteWorldsRequest"},
      "output":{"shape":"BatchDeleteWorldsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Deletes one or more worlds in a batch operation.</p>"
    },
    "BatchDescribeSimulationJob":{
      "name":"BatchDescribeSimulationJob",
      "http":{
        "method":"POST",
        "requestUri":"/batchDescribeSimulationJob"
      },
      "input":{"shape":"BatchDescribeSimulationJobRequest"},
      "output":{"shape":"BatchDescribeSimulationJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Describes one or more simulation jobs.</p>"
    },
    "CancelDeploymentJob":{
      "name":"CancelDeploymentJob",
      "http":{
        "method":"POST",
        "requestUri":"/cancelDeploymentJob"
      },
      "input":{"shape":"CancelDeploymentJobRequest"},
      "output":{"shape":"CancelDeploymentJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<important> <p>This API is no longer supported. For more information, see the May 2, 2022 update in the <a href=\"https://docs.aws.amazon.com/robomaker/latest/dg/chapter-support-policy.html#software-support-policy-may2022\">Support policy</a> page.</p> </important> <p>Cancels the specified deployment job.</p>",
      "deprecated":true,
      "deprecatedMessage":"Support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html."
    },
    "CancelSimulationJob":{
      "name":"CancelSimulationJob",
      "http":{
        "method":"POST",
        "requestUri":"/cancelSimulationJob"
      },
      "input":{"shape":"CancelSimulationJobRequest"},
      "output":{"shape":"CancelSimulationJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Cancels the specified simulation job.</p>"
    },
    "CancelSimulationJobBatch":{
      "name":"CancelSimulationJobBatch",
      "http":{
        "method":"POST",
        "requestUri":"/cancelSimulationJobBatch"
      },
      "input":{"shape":"CancelSimulationJobBatchRequest"},
      "output":{"shape":"CancelSimulationJobBatchResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Cancels a simulation job batch. When you cancel a simulation job batch, you are also cancelling all of the active simulation jobs created as part of the batch. </p>"
    },
    "CancelWorldExportJob":{
      "name":"CancelWorldExportJob",
      "http":{
        "method":"POST",
        "requestUri":"/cancelWorldExportJob"
      },
      "input":{"shape":"CancelWorldExportJobRequest"},
      "output":{"shape":"CancelWorldExportJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Cancels the specified export job.</p>"
    },
    "CancelWorldGenerationJob":{
      "name":"CancelWorldGenerationJob",
      "http":{
        "method":"POST",
        "requestUri":"/cancelWorldGenerationJob"
      },
      "input":{"shape":"CancelWorldGenerationJobRequest"},
      "output":{"shape":"CancelWorldGenerationJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Cancels the specified world generator job.</p>"
    },
    "CreateDeploymentJob":{
      "name":"CreateDeploymentJob",
      "http":{
        "method":"POST",
        "requestUri":"/createDeploymentJob"
      },
      "input":{"shape":"CreateDeploymentJobRequest"},
      "output":{"shape":"CreateDeploymentJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConcurrentDeploymentException"},
        {"shape":"IdempotentParameterMismatchException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <important> <p>This API is no longer supported and will throw an error if used. For more information, see the January 31, 2022 update in the <a href=\"https://docs.aws.amazon.com/robomaker/latest/dg/chapter-support-policy.html#software-support-policy-january2022\">Support policy</a> page.</p> </important> <p>Deploys a specific version of a robot application to robots in a fleet.</p> <p>The robot application must have a numbered <code>applicationVersion</code> for consistency reasons. To create a new version, use <code>CreateRobotApplicationVersion</code> or see <a href=\"https://docs.aws.amazon.com/robomaker/latest/dg/create-robot-application-version.html\">Creating a Robot Application Version</a>. </p> <note> <p>After 90 days, deployment jobs expire and will be deleted. They will no longer be accessible. </p> </note>",
      "deprecated":true,
      "deprecatedMessage":"AWS RoboMaker is unable to process this request as the support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html."
    },
    "CreateFleet":{
      "name":"CreateFleet",
      "http":{
        "method":"POST",
        "requestUri":"/createFleet"
      },
      "input":{"shape":"CreateFleetRequest"},
      "output":{"shape":"CreateFleetResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <important> <p>This API is no longer supported and will throw an error if used. For more information, see the January 31, 2022 update in the <a href=\"https://docs.aws.amazon.com/robomaker/latest/dg/chapter-support-policy.html#software-support-policy-january2022\">Support policy</a> page.</p> </important> <p>Creates a fleet, a logical group of robots running the same robot application.</p>",
      "deprecated":true,
      "deprecatedMessage":"AWS RoboMaker is unable to process this request as the support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html."
    },
    "CreateRobot":{
      "name":"CreateRobot",
      "http":{
        "method":"POST",
        "requestUri":"/createRobot"
      },
      "input":{"shape":"CreateRobotRequest"},
      "output":{"shape":"CreateRobotResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceAlreadyExistsException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <important> <p>This API is no longer supported and will throw an error if used. For more information, see the January 31, 2022 update in the <a href=\"https://docs.aws.amazon.com/robomaker/latest/dg/chapter-support-policy.html#software-support-policy-january2022\">Support policy</a> page.</p> </important> <p>Creates a robot.</p>",
      "deprecated":true,
      "deprecatedMessage":"AWS RoboMaker is unable to process this request as the support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html."
    },
    "CreateRobotApplication":{
      "name":"CreateRobotApplication",
      "http":{
        "method":"POST",
        "requestUri":"/createRobotApplication"
      },
      "input":{"shape":"CreateRobotApplicationRequest"},
      "output":{"shape":"CreateRobotApplicationResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"IdempotentParameterMismatchException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Creates a robot application. </p>"
    },
    "CreateRobotApplicationVersion":{
      "name":"CreateRobotApplicationVersion",
      "http":{
        "method":"POST",
        "requestUri":"/createRobotApplicationVersion"
      },
      "input":{"shape":"CreateRobotApplicationVersionRequest"},
      "output":{"shape":"CreateRobotApplicationVersionResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Creates a version of a robot application.</p>"
    },
    "CreateSimulationApplication":{
      "name":"CreateSimulationApplication",
      "http":{
        "method":"POST",
        "requestUri":"/createSimulationApplication"
      },
      "input":{"shape":"CreateSimulationApplicationRequest"},
      "output":{"shape":"CreateSimulationApplicationResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"IdempotentParameterMismatchException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Creates a simulation application.</p>"
    },
    "CreateSimulationApplicationVersion":{
      "name":"CreateSimulationApplicationVersion",
      "http":{
        "method":"POST",
        "requestUri":"/createSimulationApplicationVersion"
      },
      "input":{"shape":"CreateSimulationApplicationVersionRequest"},
      "output":{"shape":"CreateSimulationApplicationVersionResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Creates a simulation application with a specific revision id.</p>"
    },
    "CreateSimulationJob":{
      "name":"CreateSimulationJob",
      "http":{
        "method":"POST",
        "requestUri":"/createSimulationJob"
      },
      "input":{"shape":"CreateSimulationJobRequest"},
      "output":{"shape":"CreateSimulationJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Creates a simulation job.</p> <note> <p>After 90 days, simulation jobs expire and will be deleted. They will no longer be accessible. </p> </note>"
    },
    "CreateWorldExportJob":{
      "name":"CreateWorldExportJob",
      "http":{
        "method":"POST",
        "requestUri":"/createWorldExportJob"
      },
      "input":{"shape":"CreateWorldExportJobRequest"},
      "output":{"shape":"CreateWorldExportJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Creates a world export job.</p>"
    },
    "CreateWorldGenerationJob":{
      "name":"CreateWorldGenerationJob",
      "http":{
        "method":"POST",
        "requestUri":"/createWorldGenerationJob"
      },
      "input":{"shape":"CreateWorldGenerationJobRequest"},
      "output":{"shape":"CreateWorldGenerationJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Creates worlds using the specified template.</p>"
    },
    "CreateWorldTemplate":{
      "name":"CreateWorldTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/createWorldTemplate"
      },
      "input":{"shape":"CreateWorldTemplateRequest"},
      "output":{"shape":"CreateWorldTemplateResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Creates a world template.</p>"
    },
    "DeleteFleet":{
      "name":"DeleteFleet",
      "http":{
        "method":"POST",
        "requestUri":"/deleteFleet"
      },
      "input":{"shape":"DeleteFleetRequest"},
      "output":{"shape":"DeleteFleetResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <important> <p>This API is no longer supported. For more information, see the May 2, 2022 update in the <a href=\"https://docs.aws.amazon.com/robomaker/latest/dg/chapter-support-policy.html#software-support-policy-may2022\">Support policy</a> page.</p> </important> <p>Deletes a fleet.</p>",
      "deprecated":true,
      "deprecatedMessage":"Support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html."
    },
    "DeleteRobot":{
      "name":"DeleteRobot",
      "http":{
        "method":"POST",
        "requestUri":"/deleteRobot"
      },
      "input":{"shape":"DeleteRobotRequest"},
      "output":{"shape":"DeleteRobotResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <important> <p>This API is no longer supported. For more information, see the May 2, 2022 update in the <a href=\"https://docs.aws.amazon.com/robomaker/latest/dg/chapter-support-policy.html#software-support-policy-may2022\">Support policy</a> page.</p> </important> <p>Deletes a robot.</p>",
      "deprecated":true,
      "deprecatedMessage":"Support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html."
    },
    "DeleteRobotApplication":{
      "name":"DeleteRobotApplication",
      "http":{
        "method":"POST",
        "requestUri":"/deleteRobotApplication"
      },
      "input":{"shape":"DeleteRobotApplicationRequest"},
      "output":{"shape":"DeleteRobotApplicationResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Deletes a robot application.</p>"
    },
    "DeleteSimulationApplication":{
      "name":"DeleteSimulationApplication",
      "http":{
        "method":"POST",
        "requestUri":"/deleteSimulationApplication"
      },
      "input":{"shape":"DeleteSimulationApplicationRequest"},
      "output":{"shape":"DeleteSimulationApplicationResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Deletes a simulation application.</p>"
    },
    "DeleteWorldTemplate":{
      "name":"DeleteWorldTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/deleteWorldTemplate"
      },
      "input":{"shape":"DeleteWorldTemplateRequest"},
      "output":{"shape":"DeleteWorldTemplateResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Deletes a world template.</p>"
    },
    "DeregisterRobot":{
      "name":"DeregisterRobot",
      "http":{
        "method":"POST",
        "requestUri":"/deregisterRobot"
      },
      "input":{"shape":"DeregisterRobotRequest"},
      "output":{"shape":"DeregisterRobotResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <important> <p>This API is no longer supported. For more information, see the May 2, 2022 update in the <a href=\"https://docs.aws.amazon.com/robomaker/latest/dg/chapter-support-policy.html#software-support-policy-may2022\">Support policy</a> page.</p> </important> <p>Deregisters a robot.</p>",
      "deprecated":true,
      "deprecatedMessage":"Support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html."
    },
    "DescribeDeploymentJob":{
      "name":"DescribeDeploymentJob",
      "http":{
        "method":"POST",
        "requestUri":"/describeDeploymentJob"
      },
      "input":{"shape":"DescribeDeploymentJobRequest"},
      "output":{"shape":"DescribeDeploymentJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <important> <p>This API is no longer supported. For more information, see the May 2, 2022 update in the <a href=\"https://docs.aws.amazon.com/robomaker/latest/dg/chapter-support-policy.html#software-support-policy-may2022\">Support policy</a> page.</p> </important> <p>Describes a deployment job.</p>",
      "deprecated":true,
      "deprecatedMessage":"Support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html."
    },
    "DescribeFleet":{
      "name":"DescribeFleet",
      "http":{
        "method":"POST",
        "requestUri":"/describeFleet"
      },
      "input":{"shape":"DescribeFleetRequest"},
      "output":{"shape":"DescribeFleetResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <important> <p>This API is no longer supported. For more information, see the May 2, 2022 update in the <a href=\"https://docs.aws.amazon.com/robomaker/latest/dg/chapter-support-policy.html#software-support-policy-may2022\">Support policy</a> page.</p> </important> <p>Describes a fleet.</p>",
      "deprecated":true,
      "deprecatedMessage":"Support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html."
    },
    "DescribeRobot":{
      "name":"DescribeRobot",
      "http":{
        "method":"POST",
        "requestUri":"/describeRobot"
      },
      "input":{"shape":"DescribeRobotRequest"},
      "output":{"shape":"DescribeRobotResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <important> <p>This API is no longer supported. For more information, see the May 2, 2022 update in the <a href=\"https://docs.aws.amazon.com/robomaker/latest/dg/chapter-support-policy.html#software-support-policy-may2022\">Support policy</a> page.</p> </important> <p>Describes a robot.</p>",
      "deprecated":true,
      "deprecatedMessage":"Support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html."
    },
    "DescribeRobotApplication":{
      "name":"DescribeRobotApplication",
      "http":{
        "method":"POST",
        "requestUri":"/describeRobotApplication"
      },
      "input":{"shape":"DescribeRobotApplicationRequest"},
      "output":{"shape":"DescribeRobotApplicationResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Describes a robot application.</p>"
    },
    "DescribeSimulationApplication":{
      "name":"DescribeSimulationApplication",
      "http":{
        "method":"POST",
        "requestUri":"/describeSimulationApplication"
      },
      "input":{"shape":"DescribeSimulationApplicationRequest"},
      "output":{"shape":"DescribeSimulationApplicationResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Describes a simulation application.</p>"
    },
    "DescribeSimulationJob":{
      "name":"DescribeSimulationJob",
      "http":{
        "method":"POST",
        "requestUri":"/describeSimulationJob"
      },
      "input":{"shape":"DescribeSimulationJobRequest"},
      "output":{"shape":"DescribeSimulationJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Describes a simulation job.</p>"
    },
    "DescribeSimulationJobBatch":{
      "name":"DescribeSimulationJobBatch",
      "http":{
        "method":"POST",
        "requestUri":"/describeSimulationJobBatch"
      },
      "input":{"shape":"DescribeSimulationJobBatchRequest"},
      "output":{"shape":"DescribeSimulationJobBatchResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Describes a simulation job batch.</p>"
    },
    "DescribeWorld":{
      "name":"DescribeWorld",
      "http":{
        "method":"POST",
        "requestUri":"/describeWorld"
      },
      "input":{"shape":"DescribeWorldRequest"},
      "output":{"shape":"DescribeWorldResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Describes a world.</p>"
    },
    "DescribeWorldExportJob":{
      "name":"DescribeWorldExportJob",
      "http":{
        "method":"POST",
        "requestUri":"/describeWorldExportJob"
      },
      "input":{"shape":"DescribeWorldExportJobRequest"},
      "output":{"shape":"DescribeWorldExportJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Describes a world export job.</p>"
    },
    "DescribeWorldGenerationJob":{
      "name":"DescribeWorldGenerationJob",
      "http":{
        "method":"POST",
        "requestUri":"/describeWorldGenerationJob"
      },
      "input":{"shape":"DescribeWorldGenerationJobRequest"},
      "output":{"shape":"DescribeWorldGenerationJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Describes a world generation job.</p>"
    },
    "DescribeWorldTemplate":{
      "name":"DescribeWorldTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/describeWorldTemplate"
      },
      "input":{"shape":"DescribeWorldTemplateRequest"},
      "output":{"shape":"DescribeWorldTemplateResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Describes a world template.</p>"
    },
    "GetWorldTemplateBody":{
      "name":"GetWorldTemplateBody",
      "http":{
        "method":"POST",
        "requestUri":"/getWorldTemplateBody"
      },
      "input":{"shape":"GetWorldTemplateBodyRequest"},
      "output":{"shape":"GetWorldTemplateBodyResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Gets the world template body.</p>"
    },
    "ListDeploymentJobs":{
      "name":"ListDeploymentJobs",
      "http":{
        "method":"POST",
        "requestUri":"/listDeploymentJobs"
      },
      "input":{"shape":"ListDeploymentJobsRequest"},
      "output":{"shape":"ListDeploymentJobsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <important> <p>This API is no longer supported. For more information, see the May 2, 2022 update in the <a href=\"https://docs.aws.amazon.com/robomaker/latest/dg/chapter-support-policy.html#software-support-policy-may2022\">Support policy</a> page.</p> </important> <p> Returns a list of deployment jobs for a fleet. You can optionally provide filters to retrieve specific deployment jobs. </p>",
      "deprecated":true,
      "deprecatedMessage":"Support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html."
    },
    "ListFleets":{
      "name":"ListFleets",
      "http":{
        "method":"POST",
        "requestUri":"/listFleets"
      },
      "input":{"shape":"ListFleetsRequest"},
      "output":{"shape":"ListFleetsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <important> <p>This API is no longer supported. For more information, see the May 2, 2022 update in the <a href=\"https://docs.aws.amazon.com/robomaker/latest/dg/chapter-support-policy.html#software-support-policy-may2022\">Support policy</a> page.</p> </important> <p> Returns a list of fleets. You can optionally provide filters to retrieve specific fleets. </p>",
      "deprecated":true,
      "deprecatedMessage":"Support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html."
    },
    "ListRobotApplications":{
      "name":"ListRobotApplications",
      "http":{
        "method":"POST",
        "requestUri":"/listRobotApplications"
      },
      "input":{"shape":"ListRobotApplicationsRequest"},
      "output":{"shape":"ListRobotApplicationsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Returns a list of robot application. You can optionally provide filters to retrieve specific robot applications.</p>"
    },
    "ListRobots":{
      "name":"ListRobots",
      "http":{
        "method":"POST",
        "requestUri":"/listRobots"
      },
      "input":{"shape":"ListRobotsRequest"},
      "output":{"shape":"ListRobotsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <important> <p>This API is no longer supported. For more information, see the May 2, 2022 update in the <a href=\"https://docs.aws.amazon.com/robomaker/latest/dg/chapter-support-policy.html#software-support-policy-may2022\">Support policy</a> page.</p> </important> <p> Returns a list of robots. You can optionally provide filters to retrieve specific robots. </p>",
      "deprecated":true,
      "deprecatedMessage":"Support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html."
    },
    "ListSimulationApplications":{
      "name":"ListSimulationApplications",
      "http":{
        "method":"POST",
        "requestUri":"/listSimulationApplications"
      },
      "input":{"shape":"ListSimulationApplicationsRequest"},
      "output":{"shape":"ListSimulationApplicationsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Returns a list of simulation applications. You can optionally provide filters to retrieve specific simulation applications. </p>"
    },
    "ListSimulationJobBatches":{
      "name":"ListSimulationJobBatches",
      "http":{
        "method":"POST",
        "requestUri":"/listSimulationJobBatches"
      },
      "input":{"shape":"ListSimulationJobBatchesRequest"},
      "output":{"shape":"ListSimulationJobBatchesResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Returns a list simulation job batches. You can optionally provide filters to retrieve specific simulation batch jobs. </p>"
    },
    "ListSimulationJobs":{
      "name":"ListSimulationJobs",
      "http":{
        "method":"POST",
        "requestUri":"/listSimulationJobs"
      },
      "input":{"shape":"ListSimulationJobsRequest"},
      "output":{"shape":"ListSimulationJobsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Returns a list of simulation jobs. You can optionally provide filters to retrieve specific simulation jobs. </p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Lists all tags on a AWS RoboMaker resource.</p>"
    },
    "ListWorldExportJobs":{
      "name":"ListWorldExportJobs",
      "http":{
        "method":"POST",
        "requestUri":"/listWorldExportJobs"
      },
      "input":{"shape":"ListWorldExportJobsRequest"},
      "output":{"shape":"ListWorldExportJobsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Lists world export jobs.</p>"
    },
    "ListWorldGenerationJobs":{
      "name":"ListWorldGenerationJobs",
      "http":{
        "method":"POST",
        "requestUri":"/listWorldGenerationJobs"
      },
      "input":{"shape":"ListWorldGenerationJobsRequest"},
      "output":{"shape":"ListWorldGenerationJobsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Lists world generator jobs.</p>"
    },
    "ListWorldTemplates":{
      "name":"ListWorldTemplates",
      "http":{
        "method":"POST",
        "requestUri":"/listWorldTemplates"
      },
      "input":{"shape":"ListWorldTemplatesRequest"},
      "output":{"shape":"ListWorldTemplatesResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Lists world templates.</p>"
    },
    "ListWorlds":{
      "name":"ListWorlds",
      "http":{
        "method":"POST",
        "requestUri":"/listWorlds"
      },
      "input":{"shape":"ListWorldsRequest"},
      "output":{"shape":"ListWorldsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Lists worlds.</p>"
    },
    "RegisterRobot":{
      "name":"RegisterRobot",
      "http":{
        "method":"POST",
        "requestUri":"/registerRobot"
      },
      "input":{"shape":"RegisterRobotRequest"},
      "output":{"shape":"RegisterRobotResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Registers a robot with a fleet.</p> <important> <p>This API is no longer supported and will throw an error if used. For more information, see the January 31, 2022 update in the <a href=\"https://docs.aws.amazon.com/robomaker/latest/dg/chapter-support-policy.html#software-support-policy-january2022\">Support policy</a> page.</p> </important>",
      "deprecated":true,
      "deprecatedMessage":"AWS RoboMaker is unable to process this request as the support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html."
    },
    "RestartSimulationJob":{
      "name":"RestartSimulationJob",
      "http":{
        "method":"POST",
        "requestUri":"/restartSimulationJob"
      },
      "input":{"shape":"RestartSimulationJobRequest"},
      "output":{"shape":"RestartSimulationJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Restarts a running simulation job.</p>"
    },
    "StartSimulationJobBatch":{
      "name":"StartSimulationJobBatch",
      "http":{
        "method":"POST",
        "requestUri":"/startSimulationJobBatch"
      },
      "input":{"shape":"StartSimulationJobBatchRequest"},
      "output":{"shape":"StartSimulationJobBatchResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"IdempotentParameterMismatchException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Starts a new simulation job batch. The batch is defined using one or more <code>SimulationJobRequest</code> objects. </p>"
    },
    "SyncDeploymentJob":{
      "name":"SyncDeploymentJob",
      "http":{
        "method":"POST",
        "requestUri":"/syncDeploymentJob"
      },
      "input":{"shape":"SyncDeploymentJobRequest"},
      "output":{"shape":"SyncDeploymentJobResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConcurrentDeploymentException"},
        {"shape":"IdempotentParameterMismatchException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <important> <p>This API is no longer supported. For more information, see the May 2, 2022 update in the <a href=\"https://docs.aws.amazon.com/robomaker/latest/dg/chapter-support-policy.html#software-support-policy-may2022\">Support policy</a> page.</p> </important> <p> Syncrhonizes robots in a fleet to the latest deployment. This is helpful if robots were added after a deployment. </p>",
      "deprecated":true,
      "deprecatedMessage":"Support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html."
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Adds or edits tags for a AWS RoboMaker resource.</p> <p>Each tag consists of a tag key and a tag value. Tag keys and tag values are both required, but tag values can be empty strings. </p> <p>For information about the rules that apply to tag keys and tag values, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/allocation-tag-restrictions.html\">User-Defined Tag Restrictions</a> in the <i>AWS Billing and Cost Management User Guide</i>. </p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Removes the specified tags from the specified AWS RoboMaker resource.</p> <p>To remove a tag, specify the tag key. To change the tag value of an existing tag key, use <a href=\"https://docs.aws.amazon.com/robomaker/latest/dg/API_TagResource.html\"> <code>TagResource</code> </a>. </p>"
    },
    "UpdateRobotApplication":{
      "name":"UpdateRobotApplication",
      "http":{
        "method":"POST",
        "requestUri":"/updateRobotApplication"
      },
      "input":{"shape":"UpdateRobotApplicationRequest"},
      "output":{"shape":"UpdateRobotApplicationResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Updates a robot application.</p>"
    },
    "UpdateSimulationApplication":{
      "name":"UpdateSimulationApplication",
      "http":{
        "method":"POST",
        "requestUri":"/updateSimulationApplication"
      },
      "input":{"shape":"UpdateSimulationApplicationRequest"},
      "output":{"shape":"UpdateSimulationApplicationResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Updates a simulation application.</p>"
    },
    "UpdateWorldTemplate":{
      "name":"UpdateWorldTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/updateWorldTemplate"
      },
      "input":{"shape":"UpdateWorldTemplateRequest"},
      "output":{"shape":"UpdateWorldTemplateResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<important> <p>End of support notice: On September 10, 2025, Amazon Web Services will discontinue support for Amazon Web Services RoboMaker. After September 10, 2025, you will no longer be able to access the Amazon Web Services RoboMaker console or Amazon Web Services RoboMaker resources. For more information on transitioning to Batch to help run containerized simulations, visit <a href=\"https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/\">https://aws.amazon.com/blogs/hpc/run-simulations-using-multiple-containers-in-a-single-aws-batch-job/</a>. </p> </important> <p>Updates a world template.</p>"
    }
  },
  "shapes":{
    "Architecture":{
      "type":"string",
      "enum":[
        "X86_64",
        "ARM64",
        "ARMHF"
      ]
    },
    "Arn":{
      "type":"string",
      "max":1224,
      "min":1,
      "pattern":"arn:.*"
    },
    "Arns":{
      "type":"list",
      "member":{"shape":"Arn"},
      "max":100,
      "min":1
    },
    "BatchDeleteWorldsRequest":{
      "type":"structure",
      "required":["worlds"],
      "members":{
        "worlds":{
          "shape":"Arns",
          "documentation":"<p>A list of Amazon Resource Names (arns) that correspond to worlds to delete.</p>"
        }
      }
    },
    "BatchDeleteWorldsResponse":{
      "type":"structure",
      "members":{
        "unprocessedWorlds":{
          "shape":"Arns",
          "documentation":"<p>A list of unprocessed worlds associated with the call. These worlds were not deleted.</p>"
        }
      }
    },
    "BatchDescribeSimulationJobRequest":{
      "type":"structure",
      "required":["jobs"],
      "members":{
        "jobs":{
          "shape":"Arns",
          "documentation":"<p>A list of Amazon Resource Names (ARNs) of simulation jobs to describe.</p>"
        }
      }
    },
    "BatchDescribeSimulationJobResponse":{
      "type":"structure",
      "members":{
        "jobs":{
          "shape":"SimulationJobs",
          "documentation":"<p>A list of simulation jobs.</p>"
        },
        "unprocessedJobs":{
          "shape":"Arns",
          "documentation":"<p>A list of unprocessed simulation job Amazon Resource Names (ARNs).</p>"
        }
      }
    },
    "BatchPolicy":{
      "type":"structure",
      "members":{
        "timeoutInSeconds":{
          "shape":"BatchTimeoutInSeconds",
          "documentation":"<p>The amount of time, in seconds, to wait for the batch to complete. </p> <p>If a batch times out, and there are pending requests that were failing due to an internal failure (like <code>InternalServiceError</code>), they will be moved to the failed list and the batch status will be <code>Failed</code>. If the pending requests were failing for any other reason, the failed pending requests will be moved to the failed list and the batch status will be <code>TimedOut</code>. </p>"
        },
        "maxConcurrency":{
          "shape":"MaxConcurrency",
          "documentation":"<p>The number of active simulation jobs create as part of the batch that can be in an active state at the same time. </p> <p>Active states include: <code>Pending</code>,<code>Preparing</code>, <code>Running</code>, <code>Restarting</code>, <code>RunningFailed</code> and <code>Terminating</code>. All other states are terminal states. </p>"
        }
      },
      "documentation":"<p>Information about the batch policy.</p>"
    },
    "BatchTimeoutInSeconds":{"type":"long"},
    "Boolean":{"type":"boolean"},
    "BoxedBoolean":{"type":"boolean"},
    "CancelDeploymentJobRequest":{
      "type":"structure",
      "required":["job"],
      "members":{
        "job":{
          "shape":"Arn",
          "documentation":"<p>The deployment job ARN to cancel.</p>"
        }
      },
      "deprecated":true,
      "deprecatedMessage":"Support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html."
    },
    "CancelDeploymentJobResponse":{
      "type":"structure",
      "members":{},
      "deprecated":true,
      "deprecatedMessage":"Support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html."
    },
    "CancelSimulationJobBatchRequest":{
      "type":"structure",
      "required":["batch"],
      "members":{
        "batch":{
          "shape":"Arn",
          "documentation":"<p>The id of the batch to cancel.</p>"
        }
      }
    },
    "CancelSimulationJobBatchResponse":{
      "type":"structure",
      "members":{}
    },
    "CancelSimulationJobRequest":{
      "type":"structure",
      "required":["job"],
      "members":{
        "job":{
          "shape":"Arn",
          "documentation":"<p>The simulation job ARN to cancel.</p>"
        }
      }
    },
    "CancelSimulationJobResponse":{
      "type":"structure",
      "members":{}
    },
    "CancelWorldExportJobRequest":{
      "type":"structure",
      "required":["job"],
      "members":{
        "job":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (arn) of the world export job to cancel.</p>"
        }
      }
    },
    "CancelWorldExportJobResponse":{
      "type":"structure",
      "members":{}
    },
    "CancelWorldGenerationJobRequest":{
      "type":"structure",
      "required":["job"],
      "members":{
        "job":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (arn) of the world generator job to cancel.</p>"
        }
      }
    },
    "CancelWorldGenerationJobResponse":{
      "type":"structure",
      "members":{}
    },
    "ClientRequestToken":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[a-zA-Z0-9_\\-=]*"
    },
    "Command":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"[a-zA-Z0-9_.\\-]*"
    },
    "CommandList":{
      "type":"list",
      "member":{"shape":"NonEmptyString"}
    },
    "Compute":{
      "type":"structure",
      "members":{
        "simulationUnitLimit":{
          "shape":"SimulationUnit",
          "documentation":"<p>The simulation unit limit. Your simulation is allocated CPU and memory proportional to the supplied simulation unit limit. A simulation unit is 1 vcpu and 2GB of memory. You are only billed for the SU utilization you consume up to the maximum value provided. The default is 15. </p>"
        },
        "computeType":{
          "shape":"ComputeType",
          "documentation":"<p>Compute type information for the simulation job.</p>"
        },
        "gpuUnitLimit":{
          "shape":"GPUUnit",
          "documentation":"<p>Compute GPU unit limit for the simulation job. It is the same as the number of GPUs allocated to the SimulationJob.</p>"
        }
      },
      "documentation":"<p>Compute information for the simulation job.</p>"
    },
    "ComputeResponse":{
      "type":"structure",
      "members":{
        "simulationUnitLimit":{
          "shape":"SimulationUnit",
          "documentation":"<p>The simulation unit limit. Your simulation is allocated CPU and memory proportional to the supplied simulation unit limit. A simulation unit is 1 vcpu and 2GB of memory. You are only billed for the SU utilization you consume up to the maximum value provided. The default is 15. </p>"
        },
        "computeType":{
          "shape":"ComputeType",
          "documentation":"<p>Compute type response information for the simulation job.</p>"
        },
        "gpuUnitLimit":{
          "shape":"GPUUnit",
          "documentation":"<p>Compute GPU unit limit for the simulation job. It is the same as the number of GPUs allocated to the SimulationJob.</p>"
        }
      },
      "documentation":"<p>Compute information for the simulation job</p>"
    },
    "ComputeType":{
      "type":"string",
      "enum":[
        "CPU",
        "GPU_AND_CPU"
      ]
    },
    "ConcurrentDeploymentException":{
      "type":"structure",
      "members":{
        "message":{"shape":"errorMessage"}
      },
      "documentation":"<p>The failure percentage threshold percentage was met.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "CreateDeploymentJobRequest":{
      "type":"structure",
      "required":[
        "clientRequestToken",
        "fleet",
        "deploymentApplicationConfigs"
      ],
      "members":{
        "deploymentConfig":{
          "shape":"DeploymentConfig",
          "documentation":"<p>The requested deployment configuration.</p>"
        },
        "clientRequestToken":{
          "shape":"ClientRequestToken",
          "documentation":"<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        },
        "fleet":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the fleet to deploy.</p>"
        },
        "deploymentApplicationConfigs":{
          "shape":"DeploymentApplicationConfigs",
          "documentation":"<p>The deployment application configuration.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>A map that contains tag keys and tag values that are attached to the deployment job.</p>"
        }
      },
      "deprecated":true,
      "deprecatedMessage":"AWS RoboMaker is unable to process this request as the support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html."
    },
    "CreateDeploymentJobResponse":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the deployment job.</p>"
        },
        "fleet":{
          "shape":"Arn",
          "documentation":"<p>The target fleet for the deployment job.</p>"
        },
        "status":{
          "shape":"DeploymentStatus",
          "documentation":"<p>The status of the deployment job.</p>"
        },
        "deploymentApplicationConfigs":{
          "shape":"DeploymentApplicationConfigs",
          "documentation":"<p>The deployment application configuration.</p>"
        },
        "failureReason":{
          "shape":"GenericString",
          "documentation":"<p>The failure reason of the deployment job if it failed.</p>"
        },
        "failureCode":{
          "shape":"DeploymentJobErrorCode",
          "documentation":"<p>The failure code of the simulation job if it failed:</p> <dl> <dt>BadPermissionError</dt> <dd> <p>AWS Greengrass requires a service-level role permission to access other services. The role must include the <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSGreengrassResourceAccessRolePolicy$jsonEditor\"> <code>AWSGreengrassResourceAccessRolePolicy</code> managed policy</a>. </p> </dd> <dt>ExtractingBundleFailure</dt> <dd> <p>The robot application could not be extracted from the bundle.</p> </dd> <dt>FailureThresholdBreached</dt> <dd> <p>The percentage of robots that could not be updated exceeded the percentage set for the deployment.</p> </dd> <dt>GreengrassDeploymentFailed</dt> <dd> <p>The robot application could not be deployed to the robot.</p> </dd> <dt>GreengrassGroupVersionDoesNotExist</dt> <dd> <p>The AWS Greengrass group or version associated with a robot is missing.</p> </dd> <dt>InternalServerError</dt> <dd> <p>An internal error has occurred. Retry your request, but if the problem persists, contact us with details.</p> </dd> <dt>MissingRobotApplicationArchitecture</dt> <dd> <p>The robot application does not have a source that matches the architecture of the robot.</p> </dd> <dt>MissingRobotDeploymentResource</dt> <dd> <p>One or more of the resources specified for the robot application are missing. For example, does the robot application have the correct launch package and launch file?</p> </dd> <dt>PostLaunchFileFailure</dt> <dd> <p>The post-launch script failed.</p> </dd> <dt>PreLaunchFileFailure</dt> <dd> <p>The pre-launch script failed.</p> </dd> <dt>ResourceNotFound</dt> <dd> <p>One or more deployment resources are missing. For example, do robot application source bundles still exist? </p> </dd> <dt>RobotDeploymentNoResponse</dt> <dd> <p>There is no response from the robot. It might not be powered on or connected to the internet.</p> </dd> </dl>"
        },
        "createdAt":{
          "shape":"CreatedAt",
          "documentation":"<p>The time, in milliseconds since the epoch, when the fleet was created.</p>"
        },
        "deploymentConfig":{
          "shape":"DeploymentConfig",
          "documentation":"<p>The deployment configuration.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The list of all tags added to the deployment job.</p>"
        }
      },
      "deprecated":true,
      "deprecatedMessage":"AWS RoboMaker is unable to process this request as the support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html."
    },
    "CreateFleetRequest":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{
          "shape":"Name",
          "documentation":"<p>The name of the fleet.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>A map that contains tag keys and tag values that are attached to the fleet.</p>"
        }
      },
      "deprecated":true,
      "deprecatedMessage":"AWS RoboMaker is unable to process this request as the support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html."
    },
    "CreateFleetResponse":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the fleet.</p>"
        },
        "name":{
          "shape":"Name",
          "documentation":"<p>The name of the fleet.</p>"
        },
        "createdAt":{
          "shape":"CreatedAt",
          "documentation":"<p>The time, in milliseconds since the epoch, when the fleet was created.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The list of all tags added to the fleet.</p>"
        }
      },
      "deprecated":true,
      "deprecatedMessage":"AWS RoboMaker is unable to process this request as the support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html."
    },
    "CreateRobotApplicationRequest":{
      "type":"structure",
      "required":[
        "name",
        "robotSoftwareSuite"
      ],
      "members":{
        "name":{
          "shape":"Name",
          "documentation":"<p>The name of the robot application.</p>"
        },
        "sources":{
          "shape":"SourceConfigs",
          "documentation":"<p>The sources of the robot application.</p>"
        },
        "robotSoftwareSuite":{
          "shape":"RobotSoftwareSuite",
          "documentation":"<p>The robot software suite used by the robot application.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>A map that contains tag keys and tag values that are attached to the robot application.</p>"
        },
        "environment":{
          "shape":"Environment",
          "documentation":"<p>The object that contains that URI of the Docker image that you use for your robot application.</p>"
        }
      }
    },
    "CreateRobotApplicationResponse":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the robot application.</p>"
        },
        "name":{
          "shape":"Name",
          "documentation":"<p>The name of the robot application.</p>"
        },
        "version":{
          "shape":"Version",
          "documentation":"<p>The version of the robot application.</p>"
        },
        "sources":{
          "shape":"Sources",
          "documentation":"<p>The sources of the robot application.</p>"
        },
        "robotSoftwareSuite":{
          "shape":"RobotSoftwareSuite",
          "documentation":"<p>The robot software suite used by the robot application.</p>"
        },
        "lastUpdatedAt":{
          "shape":"LastUpdatedAt",
          "documentation":"<p>The time, in milliseconds since the epoch, when the robot application was last updated.</p>"
        },
        "revisionId":{
          "shape":"RevisionId",
          "documentation":"<p>The revision id of the robot application.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The list of all tags added to the robot application.</p>"
        },
        "environment":{
          "shape":"Environment",
          "documentation":"<p>An object that contains the Docker image URI used to a create your robot application.</p>"
        }
      }
    },
    "CreateRobotApplicationVersionRequest":{
      "type":"structure",
      "required":["application"],
      "members":{
        "application":{
          "shape":"Arn",
          "documentation":"<p>The application information for the robot application.</p>"
        },
        "currentRevisionId":{
          "shape":"RevisionId",
          "documentation":"<p>The current revision id for the robot application. If you provide a value and it matches the latest revision ID, a new version will be created.</p>"
        },
        "s3Etags":{
          "shape":"S3Etags",
          "documentation":"<p>The Amazon S3 identifier for the zip file bundle that you use for your robot application.</p>"
        },
        "imageDigest":{
          "shape":"ImageDigest",
          "documentation":"<p>A SHA256 identifier for the Docker image that you use for your robot application.</p>"
        }
      }
    },
    "CreateRobotApplicationVersionResponse":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the robot application.</p>"
        },
        "name":{
          "shape":"Name",
          "documentation":"<p>The name of the robot application.</p>"
        },
        "version":{
          "shape":"Version",
          "documentation":"<p>The version of the robot application.</p>"
        },
        "sources":{
          "shape":"Sources",
          "documentation":"<p>The sources of the robot application.</p>"
        },
        "robotSoftwareSuite":{
          "shape":"RobotSoftwareSuite",
          "documentation":"<p>The robot software suite used by the robot application.</p>"
        },
        "lastUpdatedAt":{
          "shape":"LastUpdatedAt",
          "documentation":"<p>The time, in milliseconds since the epoch, when the robot application was last updated.</p>"
        },
        "revisionId":{
          "shape":"RevisionId",
          "documentation":"<p>The revision id of the robot application.</p>"
        },
        "environment":{
          "shape":"Environment",
          "documentation":"<p>The object that contains the Docker image URI used to create your robot application.</p>"
        }
      }
    },
    "CreateRobotRequest":{
      "type":"structure",
      "required":[
        "name",
        "architecture",
        "greengrassGroupId"
      ],
      "members":{
        "name":{
          "shape":"Name",
          "documentation":"<p>The name for the robot.</p>"
        },
        "architecture":{
          "shape":"Architecture",
          "documentation":"<p>The target architecture of the robot.</p>"
        },
        "greengrassGroupId":{
          "shape":"Id",
          "documentation":"<p>The Greengrass group id.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>A map that contains tag keys and tag values that are attached to the robot.</p>"
        }
      },
      "deprecated":true,
      "deprecatedMessage":"AWS RoboMaker is unable to process this request as the support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html."
    },
    "CreateRobotResponse":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the robot.</p>"
        },
        "name":{
          "shape":"Name",
          "documentation":"<p>The name of the robot.</p>"
        },
        "createdAt":{
          "shape":"CreatedAt",
          "documentation":"<p>The time, in milliseconds since the epoch, when the robot was created.</p>"
        },
        "greengrassGroupId":{
          "shape":"Id",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Greengrass group associated with the robot.</p>"
        },
        "architecture":{
          "shape":"Architecture",
          "documentation":"<p>The target architecture of the robot.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The list of all tags added to the robot.</p>"
        }
      },
      "deprecated":true,
      "deprecatedMessage":"AWS RoboMaker is unable to process this request as the support for the AWS RoboMaker application deployment feature has ended. For additional information, see https://docs.aws.amazon.com/robomaker/latest/dg/fleets.html."
    },
    "CreateSimulationApplicationRequest":{
      "type":"structure",
      "required":[
        "name",
        "simulationSoftwareSuite",
        "robotSoftwareSuite"
      ],
      "members":{
        "name":{
          "shape":"Name",
          "documentation":"<p>The name of the simulation application.</p>"
        },
        "sources":{
          "shape":"SourceConfigs",
          "documentation":"<p>The sources of the simulation application.</p>"
        },
        "simulationSoftwareSuite":{
          "shape":"SimulationSoftwareSuite",
          "documentation":"<p>The simulation software suite used by the simulation application.</p>"
        },
        "robotSoftwareSuite":{
          "shape":"RobotSoftwareSuite",
          "documentation":"<p>The robot software suite used by the simulation application.</p>"
        },
        "renderingEngine":{
          "shape":"RenderingEngine",
          "documentation":"<p>The rendering engine for the simulation application.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>A map that contains tag keys and tag values that are attached to the simulation application.</p>"
        },
        "environment":{
          "shape":"Environment",
          "documentation":"<p>The object that contains the Docker image URI used to create your simulation application.</p>"
        }
      }
    },
    "CreateSimulationApplicationResponse":{
      "type":"structure",
      "members":{
        "arn":{
          "shape":"Arn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the simulation application.</p>"
        },
        "name":{
          "shape":"Name",
          "documentation":"<p>The name of the simulation application.</p>"
        },
        "version":{
          "shape":"Version",
          "documentation":"<p>The version of the simulation application.</p>"
        },
        "sources":{
          "shape":"Sources",
          "documentation":"<p>The sources of the simulation application.</p>"
        },
[...]
