{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-03-31",
    "endpointPrefix":"lakeformation",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"AWS Lake Formation",
    "serviceId":"LakeFormation",
    "signatureVersion":"v4",
    "signingName":"lakeformation",
    "uid":"lakeformation-2017-03-31",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AddLFTagsToResource":{
      "name":"AddLFTagsToResource",
      "http":{
        "method":"POST",
        "requestUri":"/AddLFTagsToResource"
      },
      "input":{"shape":"AddLFTagsToResourceRequest"},
      "output":{"shape":"AddLFTagsToResourceResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Attaches one or more LF-tags to an existing resource.</p>"
    },
    "AssumeDecoratedRoleWithSAML":{
      "name":"AssumeDecoratedRoleWithSAML",
      "http":{
        "method":"POST",
        "requestUri":"/AssumeDecoratedRoleWithSAML"
      },
      "input":{"shape":"AssumeDecoratedRoleWithSAMLRequest"},
      "output":{"shape":"AssumeDecoratedRoleWithSAMLResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Allows a caller to assume an IAM role decorated as the SAML user specified in the SAML assertion included in the request. This decoration allows Lake Formation to enforce access policies against the SAML users and groups. This API operation requires SAML federation setup in the caller’s account as it can only be called with valid SAML assertions. Lake Formation does not scope down the permission of the assumed role. All permissions attached to the role via the SAML federation setup will be included in the role session. </p> <p> This decorated role is expected to access data in Amazon S3 by getting temporary access from Lake Formation which is authorized via the virtual API <code>GetDataAccess</code>. Therefore, all SAML roles that can be assumed via <code>AssumeDecoratedRoleWithSAML</code> must at a minimum include <code>lakeformation:GetDataAccess</code> in their role policies. A typical IAM policy attached to such a role would look as follows: </p>"
    },
    "BatchGrantPermissions":{
      "name":"BatchGrantPermissions",
      "http":{
        "method":"POST",
        "requestUri":"/BatchGrantPermissions"
      },
      "input":{"shape":"BatchGrantPermissionsRequest"},
      "output":{"shape":"BatchGrantPermissionsResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"}
      ],
      "documentation":"<p>Batch operation to grant permissions to the principal.</p>"
    },
    "BatchRevokePermissions":{
      "name":"BatchRevokePermissions",
      "http":{
        "method":"POST",
        "requestUri":"/BatchRevokePermissions"
      },
      "input":{"shape":"BatchRevokePermissionsRequest"},
      "output":{"shape":"BatchRevokePermissionsResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"}
      ],
      "documentation":"<p>Batch operation to revoke permissions from the principal.</p>"
    },
    "CancelTransaction":{
      "name":"CancelTransaction",
      "http":{
        "method":"POST",
        "requestUri":"/CancelTransaction"
      },
      "input":{"shape":"CancelTransactionRequest"},
      "output":{"shape":"CancelTransactionResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"TransactionCommittedException"},
        {"shape":"TransactionCommitInProgressException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Attempts to cancel the specified transaction. Returns an exception if the transaction was previously committed.</p>"
    },
    "CommitTransaction":{
      "name":"CommitTransaction",
      "http":{
        "method":"POST",
        "requestUri":"/CommitTransaction"
      },
      "input":{"shape":"CommitTransactionRequest"},
      "output":{"shape":"CommitTransactionResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"TransactionCanceledException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Attempts to commit the specified transaction. Returns an exception if the transaction was previously aborted. This API action is idempotent if called multiple times for the same transaction.</p>"
    },
    "CreateDataCellsFilter":{
      "name":"CreateDataCellsFilter",
      "http":{
        "method":"POST",
        "requestUri":"/CreateDataCellsFilter"
      },
      "input":{"shape":"CreateDataCellsFilterRequest"},
      "output":{"shape":"CreateDataCellsFilterResponse"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"ResourceNumberLimitExceededException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates a data cell filter to allow one to grant access to certain columns on certain rows.</p>"
    },
    "CreateLFTag":{
      "name":"CreateLFTag",
      "http":{
        "method":"POST",
        "requestUri":"/CreateLFTag"
      },
      "input":{"shape":"CreateLFTagRequest"},
      "output":{"shape":"CreateLFTagResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNumberLimitExceededException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Creates an LF-tag with the specified name and values.</p>"
    },
    "CreateLFTagExpression":{
      "name":"CreateLFTagExpression",
      "http":{
        "method":"POST",
        "requestUri":"/CreateLFTagExpression"
      },
      "input":{"shape":"CreateLFTagExpressionRequest"},
      "output":{"shape":"CreateLFTagExpressionResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNumberLimitExceededException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"AccessDeniedException"},
        {"shape":"EntityNotFoundException"}
      ],
      "documentation":"<p>Creates a new LF-Tag expression with the provided name, description, catalog ID, and expression body. This call fails if a LF-Tag expression with the same name already exists in the caller’s account or if the underlying LF-Tags don't exist. To call this API operation, caller needs the following Lake Formation permissions:</p> <p> <code>CREATE_LF_TAG_EXPRESSION</code> on the root catalog resource.</p> <p> <code>GRANT_WITH_LF_TAG_EXPRESSION</code> on all underlying LF-Tag key:value pairs included in the expression. </p>"
    },
    "CreateLakeFormationIdentityCenterConfiguration":{
      "name":"CreateLakeFormationIdentityCenterConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/CreateLakeFormationIdentityCenterConfiguration"
      },
      "input":{"shape":"CreateLakeFormationIdentityCenterConfigurationRequest"},
      "output":{"shape":"CreateLakeFormationIdentityCenterConfigurationResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"AlreadyExistsException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Creates an IAM Identity Center connection with Lake Formation to allow IAM Identity Center users and groups to access Data Catalog resources.</p>"
    },
    "CreateLakeFormationOptIn":{
      "name":"CreateLakeFormationOptIn",
      "http":{
        "method":"POST",
        "requestUri":"/CreateLakeFormationOptIn"
      },
      "input":{"shape":"CreateLakeFormationOptInRequest"},
      "output":{"shape":"CreateLakeFormationOptInResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ResourceNumberLimitExceededException"}
      ],
      "documentation":"<p>Enforce Lake Formation permissions for the given databases, tables, and principals.</p>"
    },
    "DeleteDataCellsFilter":{
      "name":"DeleteDataCellsFilter",
      "http":{
        "method":"POST",
        "requestUri":"/DeleteDataCellsFilter"
      },
      "input":{"shape":"DeleteDataCellsFilterRequest"},
      "output":{"shape":"DeleteDataCellsFilterResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes a data cell filter.</p>"
    },
    "DeleteLFTag":{
      "name":"DeleteLFTag",
      "http":{
        "method":"POST",
        "requestUri":"/DeleteLFTag"
      },
      "input":{"shape":"DeleteLFTagRequest"},
      "output":{"shape":"DeleteLFTagResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes the specified LF-tag given a key name. If the input parameter tag key was not found, then the operation will throw an exception. When you delete an LF-tag, the <code>LFTagPolicy</code> attached to the LF-tag becomes invalid. If the deleted LF-tag was still assigned to any resource, the tag policy attach to the deleted LF-tag will no longer be applied to the resource.</p>"
    },
    "DeleteLFTagExpression":{
      "name":"DeleteLFTagExpression",
      "http":{
        "method":"POST",
        "requestUri":"/DeleteLFTagExpression"
      },
      "input":{"shape":"DeleteLFTagExpressionRequest"},
      "output":{"shape":"DeleteLFTagExpressionResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deletes the LF-Tag expression. The caller must be a data lake admin or have <code>DROP</code> permissions on the LF-Tag expression. Deleting a LF-Tag expression will also delete all <code>LFTagPolicy</code> permissions referencing the LF-Tag expression.</p>"
    },
    "DeleteLakeFormationIdentityCenterConfiguration":{
      "name":"DeleteLakeFormationIdentityCenterConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/DeleteLakeFormationIdentityCenterConfiguration"
      },
      "input":{"shape":"DeleteLakeFormationIdentityCenterConfigurationRequest"},
      "output":{"shape":"DeleteLakeFormationIdentityCenterConfigurationResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Deletes an IAM Identity Center connection with Lake Formation.</p>"
    },
    "DeleteLakeFormationOptIn":{
      "name":"DeleteLakeFormationOptIn",
      "http":{
        "method":"POST",
        "requestUri":"/DeleteLakeFormationOptIn"
      },
      "input":{"shape":"DeleteLakeFormationOptInRequest"},
      "output":{"shape":"DeleteLakeFormationOptInResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Remove the Lake Formation permissions enforcement of the given databases, tables, and principals.</p>"
    },
    "DeleteObjectsOnCancel":{
      "name":"DeleteObjectsOnCancel",
      "http":{
        "method":"POST",
        "requestUri":"/DeleteObjectsOnCancel"
      },
      "input":{"shape":"DeleteObjectsOnCancelRequest"},
      "output":{"shape":"DeleteObjectsOnCancelResponse"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"TransactionCommittedException"},
        {"shape":"TransactionCanceledException"},
        {"shape":"ResourceNotReadyException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>For a specific governed table, provides a list of Amazon S3 objects that will be written during the current transaction and that can be automatically deleted if the transaction is canceled. Without this call, no Amazon S3 objects are automatically deleted when a transaction cancels. </p> <p> The Glue ETL library function <code>write_dynamic_frame.from_catalog()</code> includes an option to automatically call <code>DeleteObjectsOnCancel</code> before writes. For more information, see <a href=\"https://docs.aws.amazon.com/lake-formation/latest/dg/transactions-data-operations.html#rolling-back-writes\">Rolling Back Amazon S3 Writes</a>. </p>"
    },
    "DeregisterResource":{
      "name":"DeregisterResource",
      "http":{
        "method":"POST",
        "requestUri":"/DeregisterResource"
      },
      "input":{"shape":"DeregisterResourceRequest"},
      "output":{"shape":"DeregisterResourceResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"EntityNotFoundException"}
      ],
      "documentation":"<p>Deregisters the resource as managed by the Data Catalog.</p> <p>When you deregister a path, Lake Formation removes the path from the inline policy attached to your service-linked role.</p>"
    },
    "DescribeLakeFormationIdentityCenterConfiguration":{
      "name":"DescribeLakeFormationIdentityCenterConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/DescribeLakeFormationIdentityCenterConfiguration"
      },
      "input":{"shape":"DescribeLakeFormationIdentityCenterConfigurationRequest"},
      "output":{"shape":"DescribeLakeFormationIdentityCenterConfigurationResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieves the instance ARN and application ARN for the connection.</p>"
    },
    "DescribeResource":{
      "name":"DescribeResource",
      "http":{
        "method":"POST",
        "requestUri":"/DescribeResource"
      },
      "input":{"shape":"DescribeResourceRequest"},
      "output":{"shape":"DescribeResourceResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"EntityNotFoundException"}
      ],
      "documentation":"<p>Retrieves the current data access role for the given resource registered in Lake Formation.</p>"
    },
    "DescribeTransaction":{
      "name":"DescribeTransaction",
      "http":{
        "method":"POST",
        "requestUri":"/DescribeTransaction"
      },
      "input":{"shape":"DescribeTransactionRequest"},
      "output":{"shape":"DescribeTransactionResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ],
      "documentation":"<p>Returns the details of a single transaction.</p>"
    },
    "ExtendTransaction":{
      "name":"ExtendTransaction",
      "http":{
        "method":"POST",
        "requestUri":"/ExtendTransaction"
      },
      "input":{"shape":"ExtendTransactionRequest"},
      "output":{"shape":"ExtendTransactionResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"TransactionCommittedException"},
        {"shape":"TransactionCanceledException"},
        {"shape":"TransactionCommitInProgressException"}
      ],
      "documentation":"<p>Indicates to the service that the specified transaction is still active and should not be treated as idle and aborted.</p> <p>Write transactions that remain idle for a long period are automatically aborted unless explicitly extended.</p>"
    },
    "GetDataCellsFilter":{
      "name":"GetDataCellsFilter",
      "http":{
        "method":"POST",
        "requestUri":"/GetDataCellsFilter"
      },
      "input":{"shape":"GetDataCellsFilterRequest"},
      "output":{"shape":"GetDataCellsFilterResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InternalServiceException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns a data cells filter.</p>"
    },
    "GetDataLakePrincipal":{
      "name":"GetDataLakePrincipal",
      "http":{
        "method":"POST",
        "requestUri":"/GetDataLakePrincipal"
      },
      "input":{"shape":"GetDataLakePrincipalRequest"},
      "output":{"shape":"GetDataLakePrincipalResponse"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns the identity of the invoking principal.</p>"
    },
    "GetDataLakeSettings":{
      "name":"GetDataLakeSettings",
      "http":{
        "method":"POST",
        "requestUri":"/GetDataLakeSettings"
      },
      "input":{"shape":"GetDataLakeSettingsRequest"},
      "output":{"shape":"GetDataLakeSettingsResponse"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"}
      ],
      "documentation":"<p>Retrieves the list of the data lake administrators of a Lake Formation-managed data lake. </p>"
    },
    "GetEffectivePermissionsForPath":{
      "name":"GetEffectivePermissionsForPath",
      "http":{
        "method":"POST",
        "requestUri":"/GetEffectivePermissionsForPath"
      },
      "input":{"shape":"GetEffectivePermissionsForPathRequest"},
      "output":{"shape":"GetEffectivePermissionsForPathResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Returns the Lake Formation permissions for a specified table or database resource located at a path in Amazon S3. <code>GetEffectivePermissionsForPath</code> will not return databases and tables if the catalog is encrypted.</p>"
    },
    "GetLFTag":{
      "name":"GetLFTag",
      "http":{
        "method":"POST",
        "requestUri":"/GetLFTag"
      },
      "input":{"shape":"GetLFTagRequest"},
      "output":{"shape":"GetLFTagResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns an LF-tag definition.</p>"
    },
    "GetLFTagExpression":{
      "name":"GetLFTagExpression",
      "http":{
        "method":"POST",
        "requestUri":"/GetLFTagExpression"
      },
      "input":{"shape":"GetLFTagExpressionRequest"},
      "output":{"shape":"GetLFTagExpressionResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns the details about the LF-Tag expression. The caller must be a data lake admin or must have <code>DESCRIBE</code> permission on the LF-Tag expression resource. </p>"
    },
    "GetQueryState":{
      "name":"GetQueryState",
      "http":{
        "method":"POST",
        "requestUri":"/GetQueryState",
        "responseCode":200
      },
      "input":{"shape":"GetQueryStateRequest"},
      "output":{"shape":"GetQueryStateResponse"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns the state of a query previously submitted. Clients are expected to poll <code>GetQueryState</code> to monitor the current state of the planning before retrieving the work units. A query state is only visible to the principal that made the initial call to <code>StartQueryPlanning</code>.</p>",
      "endpoint":{"hostPrefix":"query-"}
    },
    "GetQueryStatistics":{
      "name":"GetQueryStatistics",
      "http":{
        "method":"POST",
        "requestUri":"/GetQueryStatistics",
        "responseCode":200
      },
      "input":{"shape":"GetQueryStatisticsRequest"},
      "output":{"shape":"GetQueryStatisticsResponse"},
      "errors":[
        {"shape":"StatisticsNotReadyYetException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ExpiredException"},
        {"shape":"ThrottledException"}
      ],
      "documentation":"<p>Retrieves statistics on the planning and execution of a query.</p>",
      "endpoint":{"hostPrefix":"query-"}
    },
    "GetResourceLFTags":{
      "name":"GetResourceLFTags",
      "http":{
        "method":"POST",
        "requestUri":"/GetResourceLFTags"
      },
      "input":{"shape":"GetResourceLFTagsRequest"},
      "output":{"shape":"GetResourceLFTagsResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns the LF-tags applied to a resource.</p>"
    },
    "GetTableObjects":{
      "name":"GetTableObjects",
      "http":{
        "method":"POST",
        "requestUri":"/GetTableObjects"
      },
      "input":{"shape":"GetTableObjectsRequest"},
      "output":{"shape":"GetTableObjectsResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"TransactionCommittedException"},
        {"shape":"TransactionCanceledException"},
        {"shape":"ResourceNotReadyException"}
      ],
      "documentation":"<p>Returns the set of Amazon S3 objects that make up the specified governed table. A transaction ID or timestamp can be specified for time-travel queries.</p>"
    },
    "GetTemporaryGluePartitionCredentials":{
      "name":"GetTemporaryGluePartitionCredentials",
      "http":{
        "method":"POST",
        "requestUri":"/GetTemporaryGluePartitionCredentials"
      },
      "input":{"shape":"GetTemporaryGluePartitionCredentialsRequest"},
      "output":{"shape":"GetTemporaryGluePartitionCredentialsResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"PermissionTypeMismatchException"}
      ],
      "documentation":"<p>This API is identical to <code>GetTemporaryTableCredentials</code> except that this is used when the target Data Catalog resource is of type Partition. Lake Formation restricts the permission of the vended credentials with the same scope down policy which restricts access to a single Amazon S3 prefix.</p>"
    },
    "GetTemporaryGlueTableCredentials":{
      "name":"GetTemporaryGlueTableCredentials",
      "http":{
        "method":"POST",
        "requestUri":"/GetTemporaryGlueTableCredentials"
      },
      "input":{"shape":"GetTemporaryGlueTableCredentialsRequest"},
      "output":{"shape":"GetTemporaryGlueTableCredentialsResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"PermissionTypeMismatchException"}
      ],
      "documentation":"<p>Allows a caller in a secure environment to assume a role with permission to access Amazon S3. In order to vend such credentials, Lake Formation assumes the role associated with a registered location, for example an Amazon S3 bucket, with a scope down policy which restricts the access to a single prefix.</p> <p>To call this API, the role that the service assumes must have <code>lakeformation:GetDataAccess</code> permission on the resource.</p>"
    },
    "GetWorkUnitResults":{
      "name":"GetWorkUnitResults",
      "http":{
        "method":"POST",
        "requestUri":"/GetWorkUnitResults",
        "responseCode":200
      },
      "input":{"shape":"GetWorkUnitResultsRequest"},
      "output":{"shape":"GetWorkUnitResultsResponse"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ExpiredException"},
        {"shape":"ThrottledException"}
      ],
      "documentation":"<p>Returns the work units resulting from the query. Work units can be executed in any order and in parallel. </p>",
      "endpoint":{"hostPrefix":"data-"}
    },
    "GetWorkUnits":{
      "name":"GetWorkUnits",
      "http":{
        "method":"POST",
        "requestUri":"/GetWorkUnits",
        "responseCode":200
      },
      "input":{"shape":"GetWorkUnitsRequest"},
      "output":{"shape":"GetWorkUnitsResponse"},
      "errors":[
        {"shape":"WorkUnitsNotReadyYetException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ExpiredException"}
      ],
      "documentation":"<p>Retrieves the work units generated by the <code>StartQueryPlanning</code> operation.</p>",
      "endpoint":{"hostPrefix":"query-"}
    },
    "GrantPermissions":{
      "name":"GrantPermissions",
      "http":{
        "method":"POST",
        "requestUri":"/GrantPermissions"
      },
      "input":{"shape":"GrantPermissionsRequest"},
      "output":{"shape":"GrantPermissionsResponse"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p>Grants permissions to the principal to access metadata in the Data Catalog and data organized in underlying data storage such as Amazon S3.</p> <p>For information about permissions, see <a href=\"https://docs.aws.amazon.com/lake-formation/latest/dg/security-data-access.html\">Security and Access Control to Metadata and Data</a>.</p>"
    },
    "ListDataCellsFilter":{
      "name":"ListDataCellsFilter",
      "http":{
        "method":"POST",
        "requestUri":"/ListDataCellsFilter"
      },
      "input":{"shape":"ListDataCellsFilterRequest"},
      "output":{"shape":"ListDataCellsFilterResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InternalServiceException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists all the data cell filters on a table.</p>"
    },
    "ListLFTagExpressions":{
      "name":"ListLFTagExpressions",
      "http":{
        "method":"POST",
        "requestUri":"/ListLFTagExpressions"
      },
      "input":{"shape":"ListLFTagExpressionsRequest"},
      "output":{"shape":"ListLFTagExpressionsResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Returns the LF-Tag expressions in caller’s account filtered based on caller's permissions. Data Lake and read only admins implicitly can see all tag expressions in their account, else caller needs DESCRIBE permissions on tag expression.</p>"
    },
    "ListLFTags":{
      "name":"ListLFTags",
      "http":{
        "method":"POST",
        "requestUri":"/ListLFTags"
      },
      "input":{"shape":"ListLFTagsRequest"},
      "output":{"shape":"ListLFTagsResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists LF-tags that the requester has permission to view. </p>"
    },
    "ListLakeFormationOptIns":{
      "name":"ListLakeFormationOptIns",
      "http":{
        "method":"POST",
        "requestUri":"/ListLakeFormationOptIns"
      },
      "input":{"shape":"ListLakeFormationOptInsRequest"},
      "output":{"shape":"ListLakeFormationOptInsResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Retrieve the current list of resources and principals that are opt in to enforce Lake Formation permissions.</p>"
    },
    "ListPermissions":{
      "name":"ListPermissions",
      "http":{
        "method":"POST",
        "requestUri":"/ListPermissions"
      },
      "input":{"shape":"ListPermissionsRequest"},
      "output":{"shape":"ListPermissionsResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Returns a list of the principal permissions on the resource, filtered by the permissions of the caller. For example, if you are granted an ALTER permission, you are able to see only the principal permissions for ALTER.</p> <p>This operation returns only those permissions that have been explicitly granted.</p> <p>For information about permissions, see <a href=\"https://docs.aws.amazon.com/lake-formation/latest/dg/security-data-access.html\">Security and Access Control to Metadata and Data</a>.</p>"
    },
    "ListResources":{
      "name":"ListResources",
      "http":{
        "method":"POST",
        "requestUri":"/ListResources"
      },
      "input":{"shape":"ListResourcesRequest"},
      "output":{"shape":"ListResourcesResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ],
      "documentation":"<p>Lists the resources registered to be managed by the Data Catalog.</p>"
    },
    "ListTableStorageOptimizers":{
      "name":"ListTableStorageOptimizers",
      "http":{
        "method":"POST",
        "requestUri":"/ListTableStorageOptimizers"
      },
      "input":{"shape":"ListTableStorageOptimizersRequest"},
      "output":{"shape":"ListTableStorageOptimizersResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Returns the configuration of all storage optimizers associated with a specified table.</p>"
    },
    "ListTransactions":{
      "name":"ListTransactions",
      "http":{
        "method":"POST",
        "requestUri":"/ListTransactions"
      },
      "input":{"shape":"ListTransactionsRequest"},
      "output":{"shape":"ListTransactionsResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ],
      "documentation":"<p>Returns metadata about transactions and their status. To prevent the response from growing indefinitely, only uncommitted transactions and those available for time-travel queries are returned.</p> <p>This operation can help you identify uncommitted transactions or to get information about transactions.</p>"
    },
    "PutDataLakeSettings":{
      "name":"PutDataLakeSettings",
      "http":{
        "method":"POST",
        "requestUri":"/PutDataLakeSettings"
      },
      "input":{"shape":"PutDataLakeSettingsRequest"},
      "output":{"shape":"PutDataLakeSettingsResponse"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p>Sets the list of data lake administrators who have admin privileges on all resources managed by Lake Formation. For more information on admin privileges, see <a href=\"https://docs.aws.amazon.com/lake-formation/latest/dg/lake-formation-permissions.html\">Granting Lake Formation Permissions</a>.</p> <p>This API replaces the current list of data lake admins with the new list being passed. To add an admin, fetch the current list and add the new admin to that list and pass that list in this API.</p>"
    },
    "RegisterResource":{
      "name":"RegisterResource",
      "http":{
        "method":"POST",
        "requestUri":"/RegisterResource"
      },
      "input":{"shape":"RegisterResourceRequest"},
      "output":{"shape":"RegisterResourceResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"AlreadyExistsException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"ResourceNumberLimitExceededException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Registers the resource as managed by the Data Catalog.</p> <p>To add or update data, Lake Formation needs read/write access to the chosen data location. Choose a role that you know has permission to do this, or choose the AWSServiceRoleForLakeFormationDataAccess service-linked role. When you register the first Amazon S3 path, the service-linked role and a new inline policy are created on your behalf. Lake Formation adds the first path to the inline policy and attaches it to the service-linked role. When you register subsequent paths, Lake Formation adds the path to the existing policy.</p> <p>The following request registers a new location and gives Lake Formation permission to use the service-linked role to access that location.</p> <p> <code>ResourceArn = arn:aws:s3:::my-bucket/ UseServiceLinkedRole = true</code> </p> <p>If <code>UseServiceLinkedRole</code> is not set to true, you must provide or set the <code>RoleArn</code>:</p> <p> <code>arn:aws:iam::12345:role/my-data-access-role</code> </p>"
    },
    "RemoveLFTagsFromResource":{
      "name":"RemoveLFTagsFromResource",
      "http":{
        "method":"POST",
        "requestUri":"/RemoveLFTagsFromResource"
      },
      "input":{"shape":"RemoveLFTagsFromResourceRequest"},
      "output":{"shape":"RemoveLFTagsFromResourceResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Removes an LF-tag from the resource. Only database, table, or tableWithColumns resource are allowed. To tag columns, use the column inclusion list in <code>tableWithColumns</code> to specify column input.</p>"
    },
    "RevokePermissions":{
      "name":"RevokePermissions",
      "http":{
        "method":"POST",
        "requestUri":"/RevokePermissions"
      },
      "input":{"shape":"RevokePermissionsRequest"},
      "output":{"shape":"RevokePermissionsResponse"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"}
      ],
      "documentation":"<p>Revokes permissions to the principal to access metadata in the Data Catalog and data organized in underlying data storage such as Amazon S3.</p>"
    },
    "SearchDatabasesByLFTags":{
      "name":"SearchDatabasesByLFTags",
      "http":{
        "method":"POST",
        "requestUri":"/SearchDatabasesByLFTags"
      },
      "input":{"shape":"SearchDatabasesByLFTagsRequest"},
      "output":{"shape":"SearchDatabasesByLFTagsResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>This operation allows a search on <code>DATABASE</code> resources by <code>TagCondition</code>. This operation is used by admins who want to grant user permissions on certain <code>TagConditions</code>. Before making a grant, the admin can use <code>SearchDatabasesByTags</code> to find all resources where the given <code>TagConditions</code> are valid to verify whether the returned resources can be shared.</p>"
    },
    "SearchTablesByLFTags":{
      "name":"SearchTablesByLFTags",
      "http":{
        "method":"POST",
        "requestUri":"/SearchTablesByLFTags"
      },
      "input":{"shape":"SearchTablesByLFTagsRequest"},
      "output":{"shape":"SearchTablesByLFTagsResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"GlueEncryptionException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>This operation allows a search on <code>TABLE</code> resources by <code>LFTag</code>s. This will be used by admins who want to grant user permissions on certain LF-tags. Before making a grant, the admin can use <code>SearchTablesByLFTags</code> to find all resources where the given <code>LFTag</code>s are valid to verify whether the returned resources can be shared.</p>"
    },
    "StartQueryPlanning":{
      "name":"StartQueryPlanning",
      "http":{
        "method":"POST",
        "requestUri":"/StartQueryPlanning",
        "responseCode":200
      },
      "input":{"shape":"StartQueryPlanningRequest"},
      "output":{"shape":"StartQueryPlanningResponse"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottledException"}
      ],
      "documentation":"<p>Submits a request to process a query statement.</p> <p>This operation generates work units that can be retrieved with the <code>GetWorkUnits</code> operation as soon as the query state is WORKUNITS_AVAILABLE or FINISHED.</p>",
      "endpoint":{"hostPrefix":"query-"}
    },
    "StartTransaction":{
      "name":"StartTransaction",
      "http":{
        "method":"POST",
        "requestUri":"/StartTransaction"
      },
      "input":{"shape":"StartTransactionRequest"},
      "output":{"shape":"StartTransactionResponse"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"}
      ],
      "documentation":"<p>Starts a new transaction and returns its transaction ID. Transaction IDs are opaque objects that you can use to identify a transaction.</p>"
    },
    "UpdateDataCellsFilter":{
      "name":"UpdateDataCellsFilter",
      "http":{
        "method":"POST",
        "requestUri":"/UpdateDataCellsFilter"
      },
      "input":{"shape":"UpdateDataCellsFilterRequest"},
      "output":{"shape":"UpdateDataCellsFilterResponse"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates a data cell filter.</p>"
    },
    "UpdateLFTag":{
      "name":"UpdateLFTag",
      "http":{
        "method":"POST",
        "requestUri":"/UpdateLFTag"
      },
      "input":{"shape":"UpdateLFTagRequest"},
      "output":{"shape":"UpdateLFTagResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates the list of possible values for the specified LF-tag key. If the LF-tag does not exist, the operation throws an EntityNotFoundException. The values in the delete key values will be deleted from list of possible values. If any value in the delete key values is attached to a resource, then API errors out with a 400 Exception - \"Update not allowed\". Untag the attribute before deleting the LF-tag key's value. </p>"
    },
    "UpdateLFTagExpression":{
      "name":"UpdateLFTagExpression",
      "http":{
        "method":"POST",
        "requestUri":"/UpdateLFTagExpression"
      },
      "input":{"shape":"UpdateLFTagExpressionRequest"},
      "output":{"shape":"UpdateLFTagExpressionResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"ResourceNumberLimitExceededException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Updates the name of the LF-Tag expression to the new description and expression body provided. Updating a LF-Tag expression immediately changes the permission boundaries of all existing <code>LFTagPolicy</code> permission grants that reference the given LF-Tag expression.</p>"
    },
    "UpdateLakeFormationIdentityCenterConfiguration":{
      "name":"UpdateLakeFormationIdentityCenterConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/UpdateLakeFormationIdentityCenterConfiguration"
      },
      "input":{"shape":"UpdateLakeFormationIdentityCenterConfigurationRequest"},
      "output":{"shape":"UpdateLakeFormationIdentityCenterConfigurationResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Updates the IAM Identity Center connection parameters.</p>"
    },
    "UpdateResource":{
      "name":"UpdateResource",
      "http":{
        "method":"POST",
        "requestUri":"/UpdateResource"
      },
      "input":{"shape":"UpdateResourceRequest"},
      "output":{"shape":"UpdateResourceResponse"},
      "errors":[
        {"shape":"InvalidInputException"},
        {"shape":"InternalServiceException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"EntityNotFoundException"}
      ],
      "documentation":"<p>Updates the data access role used for vending access to the given (registered) resource in Lake Formation. </p>"
    },
    "UpdateTableObjects":{
      "name":"UpdateTableObjects",
      "http":{
        "method":"POST",
        "requestUri":"/UpdateTableObjects"
      },
      "input":{"shape":"UpdateTableObjectsRequest"},
      "output":{"shape":"UpdateTableObjectsResponse"},
      "errors":[
        {"shape":"InternalServiceException"},
        {"shape":"InvalidInputException"},
        {"shape":"OperationTimeoutException"},
        {"shape":"EntityNotFoundException"},
        {"shape":"TransactionCommittedException"},
        {"shape":"TransactionCanceledException"},
        {"shape":"TransactionCommitInProgressException"},
        {"shape":"ResourceNotReadyException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Updates the manifest of Amazon S3 objects that make up the specified governed table.</p>"
    },
    "UpdateTableStorageOptimizer":{
      "name":"UpdateTableStorageOptimizer",
      "http":{
        "method":"POST",
        "requestUri":"/UpdateTableStorageOptimizer"
      },
      "input":{"shape":"UpdateTableStorageOptimizerRequest"},
      "output":{"shape":"UpdateTableStorageOptimizerResponse"},
      "errors":[
        {"shape":"EntityNotFoundException"},
        {"shape":"InvalidInputException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServiceException"}
      ],
      "documentation":"<p>Updates the configuration of the storage optimizers for a table.</p>"
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{
          "shape":"MessageString",
          "documentation":"<p>A message describing the problem.</p>"
        }
      },
      "documentation":"<p>Access to a resource was denied.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AccessKeyIdString":{"type":"string"},
    "AddLFTagsToResourceRequest":{
      "type":"structure",
      "required":[
        "Resource",
        "LFTags"
      ],
      "members":{
        "CatalogId":{
          "shape":"CatalogIdString",
          "documentation":"<p>The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your Lake Formation environment. </p>"
        },
        "Resource":{
          "shape":"Resource",
          "documentation":"<p>The database, table, or column resource to which to attach an LF-tag.</p>"
        },
        "LFTags":{
          "shape":"LFTagsList",
          "documentation":"<p>The LF-tags to attach to the resource.</p>"
        }
      }
    },
    "AddLFTagsToResourceResponse":{
      "type":"structure",
      "members":{
        "Failures":{
          "shape":"LFTagErrors",
          "documentation":"<p>A list of failures to tag the resource.</p>"
        }
      }
    },
    "AddObjectInput":{
      "type":"structure",
      "required":[
        "Uri",
        "ETag",
        "Size"
      ],
      "members":{
        "Uri":{
          "shape":"URI",
          "documentation":"<p>The Amazon S3 location of the object.</p>"
        },
        "ETag":{
          "shape":"ETagString",
          "documentation":"<p>The Amazon S3 ETag of the object. Returned by <code>GetTableObjects</code> for validation and used to identify changes to the underlying data.</p>"
        },
        "Size":{
          "shape":"ObjectSize",
          "documentation":"<p>The size of the Amazon S3 object in bytes.</p>"
        },
        "PartitionValues":{
          "shape":"PartitionValuesList",
          "documentation":"<p>A list of partition values for the object. A value must be specified for each partition key associated with the table.</p> <p>The supported data types are integer, long, date(yyyy-MM-dd), timestamp(yyyy-MM-dd HH:mm:ssXXX or yyyy-MM-dd HH:mm:ss\"), string and decimal.</p>"
        }
      },
      "documentation":"<p>A new object to add to the governed table.</p>"
    },
    "AdditionalContextMap":{
      "type":"map",
      "key":{"shape":"ContextKey"},
      "value":{"shape":"ContextValue"}
    },
    "AllRowsWildcard":{
      "type":"structure",
      "members":{},
      "documentation":"<p>A structure that you pass to indicate you want all rows in a filter. </p>"
    },
    "AlreadyExistsException":{
      "type":"structure",
      "members":{
        "Message":{
          "shape":"MessageString",
          "documentation":"<p>A message describing the problem.</p>"
        }
      },
      "documentation":"<p>A resource to be created or added already exists.</p>",
      "exception":true
    },
    "ApplicationArn":{"type":"string"},
    "ApplicationStatus":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "AssumeDecoratedRoleWithSAMLRequest":{
      "type":"structure",
      "required":[
        "SAMLAssertion",
        "RoleArn",
        "PrincipalArn"
      ],
      "members":{
        "SAMLAssertion":{
          "shape":"SAMLAssertionString",
          "documentation":"<p>A SAML assertion consisting of an assertion statement for the user who needs temporary credentials. This must match the SAML assertion that was issued to IAM. This must be Base64 encoded.</p>"
        },
        "RoleArn":{
          "shape":"IAMRoleArn",
          "documentation":"<p>The role that represents an IAM principal whose scope down policy allows it to call credential vending APIs such as <code>GetTemporaryTableCredentials</code>. The caller must also have iam:PassRole permission on this role. </p>"
        },
        "PrincipalArn":{
          "shape":"IAMSAMLProviderArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the SAML provider in IAM that describes the IdP.</p>"
        },
        "DurationSeconds":{
          "shape":"CredentialTimeoutDurationSecondInteger",
          "documentation":"<p>The time period, between 900 and 43,200 seconds, for the timeout of the temporary credentials.</p>"
        }
      }
    },
    "AssumeDecoratedRoleWithSAMLResponse":{
      "type":"structure",
      "members":{
        "AccessKeyId":{
          "shape":"AccessKeyIdString",
          "documentation":"<p>The access key ID for the temporary credentials. (The access key consists of an access key ID and a secret key).</p>"
        },
        "SecretAccessKey":{
          "shape":"SecretAccessKeyString",
          "documentation":"<p>The secret key for the temporary credentials. (The access key consists of an access key ID and a secret key).</p>"
        },
        "SessionToken":{
          "shape":"SessionTokenString",
          "documentation":"<p>The session token for the temporary credentials.</p>"
        },
        "Expiration":{
          "shape":"ExpirationTimestamp",
          "documentation":"<p>The date and time when the temporary credentials expire.</p>"
        }
      }
    },
    "AuditContext":{
      "type":"structure",
      "members":{
        "AdditionalAuditContext":{
          "shape":"AuditContextString",
          "documentation":"<p>The filter engine can populate the 'AdditionalAuditContext' information with the request ID for you to track. This information will be displayed in CloudTrail log in your account.</p>"
        }
      },
      "documentation":"<p>A structure used to include auditing information on the privileged API. </p>"
    },
    "AuditContextString":{
      "type":"string",
      "max":2048,
      "min":0,
      "pattern":"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
    },
    "AuthorizedSessionTagValueList":{
      "type":"list",
      "member":{"shape":"NameString"}
    },
    "BatchGrantPermissionsRequest":{
      "type":"structure",
      "required":["Entries"],
      "members":{
        "CatalogId":{
          "shape":"CatalogIdString",
          "documentation":"<p>The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your Lake Formation environment. </p>"
        },
        "Entries":{
          "shape":"BatchPermissionsRequestEntryList",
          "documentation":"<p>A list of up to 20 entries for resource permissions to be granted by batch operation to the principal.</p>"
        }
      }
    },
    "BatchGrantPermissionsResponse":{
      "type":"structure",
      "members":{
        "Failures":{
          "shape":"BatchPermissionsFailureList",
          "documentation":"<p>A list of failures to grant permissions to the resources.</p>"
        }
      }
    },
    "BatchPermissionsFailureEntry":{
      "type":"structure",
      "members":{
        "RequestEntry":{
          "shape":"BatchPermissionsRequestEntry",
          "documentation":"<p>An identifier for an entry of the batch request.</p>"
        },
        "Error":{
          "shape":"ErrorDetail",
          "documentation":"<p>An error message that applies to the failure of the entry.</p>"
        }
      },
      "documentation":"<p>A list of failures when performing a batch grant or batch revoke operation.</p>"
    },
    "BatchPermissionsFailureList":{
      "type":"list",
      "member":{"shape":"BatchPermissionsFailureEntry"}
    },
    "BatchPermissionsRequestEntry":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"Identifier",
          "documentation":"<p>A unique identifier for the batch permissions request entry.</p>"
        },
        "Principal":{
          "shape":"DataLakePrincipal",
          "documentation":"<p>The principal to be granted a permission.</p>"
        },
        "Resource":{
          "shape":"Resource",
          "documentation":"<p>The resource to which the principal is to be granted a permission.</p>"
        },
        "Permissions":{
          "shape":"PermissionList",
          "documentation":"<p>The permissions to be granted.</p>"
        },
        "Condition":{"shape":"Condition"},
        "PermissionsWithGrantOption":{
          "shape":"PermissionList",
          "documentation":"<p>Indicates if the option to pass permissions is granted.</p>"
        }
      },
      "documentation":"<p>A permission to a resource granted by batch operation to the principal.</p>"
    },
    "BatchPermissionsRequestEntryList":{
      "type":"list",
      "member":{"shape":"BatchPermissionsRequestEntry"}
    },
    "BatchRevokePermissionsRequest":{
      "type":"structure",
      "required":["Entries"],
      "members":{
        "CatalogId":{
          "shape":"CatalogIdString",
          "documentation":"<p>The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your Lake Formation environment. </p>"
        },
        "Entries":{
          "shape":"BatchPermissionsRequestEntryList",
          "documentation":"<p>A list of up to 20 entries for resource permissions to be revoked by batch operation to the principal.</p>"
        }
      }
    },
    "BatchRevokePermissionsResponse":{
      "type":"structure",
      "members":{
        "Failures":{
          "shape":"BatchPermissionsFailureList",
          "documentation":"<p>A list of failures to revoke permissions to the resources.</p>"
        }
      }
    },
    "Boolean":{"type":"boolean"},
    "BooleanNullable":{"type":"boolean"},
    "CancelTransactionRequest":{
      "type":"structure",
      "required":["TransactionId"],
      "members":{
        "TransactionId":{
          "shape":"TransactionIdString",
          "documentation":"<p>The transaction to cancel.</p>"
        }
      }
    },
    "CancelTransactionResponse":{
      "type":"structure",
      "members":{}
    },
    "CatalogIdString":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
    },
    "CatalogResource":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"CatalogIdString",
          "documentation":"<p>An identifier for the catalog resource.</p>"
        }
      },
      "documentation":"<p>A structure for the catalog object.</p>"
    },
    "ColumnLFTag":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"NameString",
          "documentation":"<p>The name of a column resource.</p>"
        },
        "LFTags":{
          "shape":"LFTagsList",
          "documentation":"<p>The LF-tags attached to a column resource.</p>"
        }
      },
      "documentation":"<p>A structure containing the name of a column resource and the LF-tags attached to it.</p>"
    },
    "ColumnLFTagsList":{
      "type":"list",
      "member":{"shape":"ColumnLFTag"}
    },
    "ColumnNames":{
      "type":"list",
      "member":{"shape":"NameString"}
    },
    "ColumnWildcard":{
      "type":"structure",
      "members":{
        "ExcludedColumnNames":{
          "shape":"ColumnNames",
          "documentation":"<p>Excludes column names. Any column with this name will be excluded.</p>"
        }
      },
      "documentation":"<p>A wildcard object, consisting of an optional list of excluded column names or indexes.</p>"
    },
    "CommitTransactionRequest":{
      "type":"structure",
      "required":["TransactionId"],
      "members":{
        "TransactionId":{
          "shape":"TransactionIdString",
          "documentation":"<p>The transaction to commit.</p>"
        }
      }
    },
    "CommitTransactionResponse":{
      "type":"structure",
      "members":{
        "TransactionStatus":{
          "shape":"TransactionStatus",
          "documentation":"<p>The status of the transaction.</p>"
        }
      }
    },
    "ComparisonOperator":{
      "type":"string",
      "enum":[
        "EQ",
        "NE",
        "LE",
        "LT",
        "GE",
        "GT",
        "CONTAINS",
        "NOT_CONTAINS",
        "BEGINS_WITH",
        "IN",
        "BETWEEN"
      ]
    },
    "ConcurrentModificationException":{
      "type":"structure",
      "members":{
        "Message":{
          "shape":"MessageString",
          "documentation":"<p>A message describing the problem.</p>"
        }
      },
      "documentation":"<p>Two processes are trying to modify a resource simultaneously.</p>",
      "exception":true
    },
    "Condition":{
      "type":"structure",
      "members":{
        "Expression":{
          "shape":"ExpressionString",
          "documentation":"<p>An expression written based on the Cedar Policy Language used to match the principal attributes.</p>"
        }
      },
      "documentation":"<p>A Lake Formation condition, which applies to permissions and opt-ins that contain an expression.</p>"
    },
    "ContextKey":{
      "type":"string",
      "max":128,
      "min":1
    },
    "ContextValue":{
      "type":"string",
      "max":256,
      "min":0
    },
    "CreateDataCellsFilterRequest":{
      "type":"structure",
      "required":["TableData"],
      "members":{
        "TableData":{
          "shape":"DataCellsFilter",
          "documentation":"<p>A <code>DataCellsFilter</code> structure containing information about the data cells filter.</p>"
        }
      }
    },
    "CreateDataCellsFilterResponse":{
      "type":"structure",
      "members":{}
    },
    "CreateLFTagExpressionRequest":{
      "type":"structure",
      "required":[
        "Name",
        "Expression"
      ],
      "members":{
        "Name":{
          "shape":"NameString",
          "documentation":"<p>A name for the expression.</p>"
        },
        "Description":{
          "shape":"DescriptionString",
          "documentation":"<p>A description with information about the LF-Tag expression.</p>"
        },
        "CatalogId":{
          "shape":"CatalogIdString",
          "documentation":"<p>The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your Lake Formation environment. </p>"
        },
        "Expression":{
          "shape":"Expression",
          "documentation":"<p>A list of LF-Tag conditions (key-value pairs).</p>"
        }
      }
    },
    "CreateLFTagExpressionResponse":{
      "type":"structure",
      "members":{}
    },
    "CreateLFTagRequest":{
      "type":"structure",
      "required":[
        "TagKey",
        "TagValues"
      ],
      "members":{
        "CatalogId":{
          "shape":"CatalogIdString",
          "documentation":"<p>The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your Lake Formation environment. </p>"
        },
        "TagKey":{
          "shape":"LFTagKey",
          "documentation":"<p>The key-name for the LF-tag.</p>"
        },
        "TagValues":{
          "shape":"TagValueList",
          "documentation":"<p>A list of possible values an attribute can take.</p>"
        }
      }
    },
    "CreateLFTagResponse":{
      "type":"structure",
      "members":{}
    },
    "CreateLakeFormationIdentityCenterConfigurationRequest":{
      "type":"structure",
      "members":{
        "CatalogId":{
          "shape":"CatalogIdString",
          "documentation":"<p>The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, view definitions, and other control information to manage your Lake Formation environment.</p>"
        },
        "InstanceArn":{
          "shape":"IdentityCenterInstanceArn",
          "documentation":"<p>The ARN of the IAM Identity Center instance for which the operation will be executed. For more information about ARNs, see Amazon Resource Names (ARNs) and Amazon Web Services Service Namespaces in the Amazon Web Services General Reference.</p>"
        },
        "ExternalFiltering":{
          "shape":"ExternalFilteringConfiguration",
          "documentation":"<p>A list of the account IDs of Amazon Web Services accounts of third-party applications that are allowed to access data managed by Lake Formation.</p>"
        },
        "ShareRecipients":{
          "shape":"DataLakePrincipalList",
          "documentation":"<p>A list of Amazon Web Services account IDs and/or Amazon Web Services organization/organizational unit ARNs that are allowed to access data managed by Lake Formation. </p> <p>If the <code>ShareRecipients</code> list includes valid values, a resource share is created with the principals you want to have access to the resources.</p> <p>If the <code>ShareRecipients</code> value is null or the list is empty, no resource share is created.</p>"
        }
      }
    },
    "CreateLakeFormationIdentityCenterConfigurationResponse":{
      "type":"structure",
      "members":{
        "ApplicationArn":{
          "shape":"ApplicationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Lake Formation application integrated with IAM Identity Center.</p>"
        }
      }
    },
    "CreateLakeFormationOptInRequest":{
      "type":"structure",
      "required":[
        "Principal",
        "Resource"
      ],
      "members":{
        "Principal":{"shape":"DataLakePrincipal"},
        "Resource":{"shape":"Resource"},
        "Condition":{"shape":"Condition"}
      }
    },
    "CreateLakeFormationOptInResponse":{
      "type":"structure",
      "members":{}
    },
    "CredentialTimeoutDurationSecondInteger":{
      "type":"integer",
      "box":true,
      "max":43200,
      "min":900
    },
    "DataCellsFilter":{
      "type":"structure",
      "required":[
        "TableCatalogId",
        "DatabaseName",
        "TableName",
        "Name"
      ],
      "members":{
        "TableCatalogId":{
          "shape":"CatalogIdString",
          "documentation":"<p>The ID of the catalog to which the table belongs.</p>"
        },
        "DatabaseName":{
          "shape":"NameString",
          "documentation":"<p>A database in the Glue Data Catalog.</p>"
        },
        "TableName":{
          "shape":"NameString",
          "documentation":"<p>A table in the database.</p>"
        },
        "Name":{
          "shape":"NameString",
          "documentation":"<p>The name given by the user to the data filter cell.</p>"
        },
        "RowFilter":{
          "shape":"RowFilter",
          "documentation":"<p>A PartiQL predicate.</p>"
        },
        "ColumnNames":{
          "shape":"ColumnNames",
          "documentation":"<p>A list of column names and/or nested column attributes. When specifying nested attributes, use a qualified dot (.) delimited format such as \"address\".\"zip\". Nested attributes within this list may not exceed a depth of 5.</p>"
        },
        "ColumnWildcard":{
          "shape":"ColumnWildcard",
          "documentation":"<p>A wildcard with exclusions.</p> <p>You must specify either a <code>ColumnNames</code> list or the <code>ColumnWildCard</code>. </p>"
        },
        "VersionId":{
          "shape":"VersionString",
          "documentation":"<p>The ID of the data cells filter version.</p>"
        }
      },
      "documentation":"<p>A structure that describes certain columns on certain rows.</p>"
    },
    "DataCellsFilterList":{
      "type":"list",
      "member":{"shape":"DataCellsFilter"}
    },
    "DataCellsFilterResource":{
      "type":"structure",
      "members":{
        "TableCatalogId":{
          "shape":"CatalogIdString",
          "documentation":"<p>The ID of the catalog to which the table belongs.</p>"
        },
        "DatabaseName":{
          "shape":"NameString",
          "documentation":"<p>A database in the Glue Data Catalog.</p>"
        },
        "TableName":{
          "shape":"NameString",
          "documentation":"<p>The name of the table.</p>"
        },
        "Name":{
          "shape":"NameString",
          "documentation":"<p>The name of the data cells filter. </p>"
        }
      },
      "documentation":"<p>A structure for a data cells filter resource. </p>"
    },
    "DataLakePrincipal":{
      "type":"structure",
      "members":{
        "DataLakePrincipalIdentifier":{
          "shape":"DataLakePrincipalString",
          "documentation":"<p>An identifier for the Lake Formation principal.</p>"
        }
      },
      "documentation":"<p>The Lake Formation principal. Supported principals are IAM users or IAM roles.</p>"
    },
    "DataLakePrincipalList":{
      "type":"list",
      "member":{"shape":"DataLakePrincipal"},
      "max":30,
      "min":0
    },
    "DataLakePrincipalString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "DataLakeResourceType":{
      "type":"string",
      "enum":[
        "CATALOG",
        "DATABASE",
        "TABLE",
        "DATA_LOCATION",
        "LF_TAG",
        "LF_TAG_POLICY",
        "LF_TAG_POLICY_DATABASE",
        "LF_TAG_POLICY_TABLE",
        "LF_NAMED_TAG_EXPRESSION"
      ]
    },
    "DataLakeSettings":{
      "type":"structure",
      "members":{
        "DataLakeAdmins":{
          "shape":"DataLakePrincipalList",
          "documentation":"<p>A list of Lake Formation principals. Supported principals are IAM users or IAM roles.</p>"
        },
        "ReadOnlyAdmins":{
          "shape":"DataLakePrincipalList",
          "documentation":"<p>A list of Lake Formation principals with only view access to the resources, without the ability to make changes. Supported principals are IAM users or IAM roles.</p>"
        },
        "CreateDatabaseDefaultPermissions":{
          "shape":"PrincipalPermissionsList",
          "documentation":"<p>Specifies whether access control on newly created database is managed by Lake Formation permissions or exclusively by IAM permissions.</p> <p>A null value indicates access control by Lake Formation permissions. A value that assigns ALL to IAM_ALLOWED_PRINCIPALS indicates access control by IAM permissions. This is referred to as the setting \"Use only IAM access control,\" and is for backward compatibility with the Glue permission model implemented by IAM permissions.</p> <p>The only permitted values are an empty array or an array that contains a single JSON object that grants ALL to IAM_ALLOWED_PRINCIPALS.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/lake-formation/latest/dg/change-settings.html\">Changing the Default Security Settings for Your Data Lake</a>.</p>"
        },
        "CreateTableDefaultPermissions":{
          "shape":"PrincipalPermissionsList",
          "documentation":"<p>Specifies whether access control on newly created table is managed by Lake Formation permissions or exclusively by IAM permissions.</p> <p>A null value indicates access control by Lake Formation permissions. A value that assigns ALL to IAM_ALLOWED_PRINCIPALS indicates access control by IAM permissions. This is referred to as the setting \"Use only IAM access control,\" and is for backward compatibility with the Glue permission model implemented by IAM permissions.</p> <p>The only permitted values are an empty array or an array that contains a single JSON object that grants ALL to IAM_ALLOWED_PRINCIPALS.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/lake-formation/latest/dg/change-settings.html\">Changing the Default Security Settings for Your Data Lake</a>.</p>"
        },
        "Parameters":{
          "shape":"ParametersMap",
          "documentation":"<p>A key-value map that provides an additional configuration on your data lake. CROSS_ACCOUNT_VERSION is the key you can configure in the Parameters field. Accepted values for the CrossAccountVersion key are 1, 2, 3, and 4.</p>"
        },
        "TrustedResourceOwners":{
          "shape":"TrustedResourceOwners",
          "documentation":"<p>A list of the resource-owning account IDs that the caller's account can use to share their user access details (user ARNs). The user ARNs can be logged in the resource owner's CloudTrail log.</p> <p>You may want to specify this property when you are in a high-trust boundary, such as the same team or company. </p>"
        },
        "AllowExternalDataFiltering":{
          "shape":"NullableBoolean",
          "documentation":"<p>Whether to allow Amazon EMR clusters to access data managed by Lake Formation. </p> <p>If true, you allow Amazon EMR clusters to access data in Amazon S3 locations that are registered with Lake Formation.</p> <p>If false or null, no Amazon EMR clusters will be able to access data in Amazon S3 locations that are registered with Lake Formation.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/lake-formation/latest/dg/initial-LF-setup.html#external-data-filter\">(Optional) Allow external data filtering</a>.</p>"
        },
        "AllowFullTableExternalDataAccess":{
          "shape":"NullableBoolean",
          "documentation":"<p>Whether to allow a third-party query engine to get data access credentials without session tags when a caller has full data access permissions.</p>"
        },
        "ExternalDataFilteringAllowList":{
          "shape":"DataLakePrincipalList",
          "documentation":"<p>A list of the account IDs of Amazon Web Services accounts with Amazon EMR clusters that are to perform data filtering.&gt;</p>"
        },
        "AuthorizedSessionTagValueList":{
          "shape":"AuthorizedSessionTagValueList",
          "documentation":"<p>Lake Formation relies on a privileged process secured by Amazon EMR or the third party integrator to tag the user's role while assuming it. Lake Formation will publish the acceptable key-value pair, for example key = \"LakeFormationTrustedCaller\" and value = \"TRUE\" and the third party integrator must properly tag the temporary security credentials that will be used to call Lake Formation's administrative APIs.</p>"
        }
      },
      "documentation":"<p>A structure representing a list of Lake Formation principals designated as data lake administrators and lists of principal permission entries for default create database and default create table permissions.</p>"
    },
    "DataLocationResource":{
      "type":"structure",
      "required":["ResourceArn"],
      "members":{
        "CatalogId":{
          "shape":"CatalogIdString",
          "documentation":"<p>The identifier for the Data Catalog where the location is registered with Lake Formation. By default, it is the account ID of the caller.</p>"
        },
        "ResourceArn":{
          "shape":"ResourceArnString",
          "documentation":"<p>The Amazon Resource Name (ARN) that uniquely identifies the data location resource.</p>"
        }
      },
      "documentation":"<p>A structure for a data location object where permissions are granted or revoked. </p>"
    },
    "DatabaseLFTagsList":{
      "type":"list",
      "member":{"shape":"TaggedDatabase"}
    },
    "DatabaseResource":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "CatalogId":{
          "shape":"CatalogIdString",
          "documentation":"<p>The identifier for the Data Catalog. By default, it is the account ID of the caller.</p>"
        },
        "Name":{
          "shape":"NameString",
          "documentation":"<p>The name of the database resource. Unique to the Data Catalog.</p>"
        }
      },
      "documentation":"<p>A structure for the database object.</p>"
    },
    "DateTime":{
      "type":"timestamp",
      "timestampFormat":"iso8601"
    },
    "DeleteDataCellsFilterRequest":{
      "type":"structure",
      "members":{
        "TableCatalogId":{
          "shape":"CatalogIdString",
          "documentation":"<p>The ID of the catalog to which the table belongs.</p>"
        },
        "DatabaseName":{
          "shape":"NameString",
          "documentation":"<p>A database in the Glue Data Catalog.</p>"
        },
        "TableName":{
          "shape":"NameString",
          "documentation":"<p>A table in the database.</p>"
        },
        "Name":{
          "shape":"NameString",
          "documentation":"<p>The name given by the user to the data filter cell.</p>"
        }
      }
    },
    "DeleteDataCellsFilterResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteLFTagExpressionRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"NameString",
          "documentation":"<p>The name for the LF-Tag expression.</p>"
        },
        "CatalogId":{
          "shape":"CatalogIdString",
          "documentation":"<p>The identifier for the Data Catalog. By default, the account ID in which the LF-Tag expression is saved. </p>"
        }
      }
    },
    "DeleteLFTagExpressionResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteLFTagRequest":{
      "type":"structure",
      "required":["TagKey"],
      "members":{
        "CatalogId":{
          "shape":"CatalogIdString",
          "documentation":"<p>The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your Lake Formation environment. </p>"
        },
        "TagKey":{
          "shape":"LFTagKey",
          "documentation":"<p>The key-name for the LF-tag to delete.</p>"
        }
      }
    },
    "DeleteLFTagResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteLakeFormationIdentityCenterConfigurationRequest":{
      "type":"structure",
      "members":{
        "CatalogId":{
          "shape":"CatalogIdString",
          "documentation":"<p>The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, view definition, and other control information to manage your Lake Formation environment.</p>"
        }
      }
    },
    "DeleteLakeFormationIdentityCenterConfigurationResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteLakeFormationOptInRequest":{
      "type":"structure",
      "required":[
        "Principal",
        "Resource"
      ],
      "members":{
        "Principal":{"shape":"DataLakePrincipal"},
        "Resource":{"shape":"Resource"},
        "Condition":{"shape":"Condition"}
      }
    },
    "DeleteLakeFormationOptInResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteObjectInput":{
      "type":"structure",
      "required":["Uri"],
      "members":{
        "Uri":{
          "shape":"URI",
          "documentation":"<p>The Amazon S3 location of the object to delete.</p>"
        },
        "ETag":{
          "shape":"ETagString",
          "documentation":"<p>The Amazon S3 ETag of the object. Returned by <code>GetTableObjects</code> for validation and used to identify changes to the underlying data.</p>"
        },
        "PartitionValues":{
          "shape":"PartitionValuesList",
          "documentation":"<p>A list of partition values for the object. A value must be specified for each partition key associated with the governed table.</p>"
        }
      },
      "documentation":"<p>An object to delete from the governed table.</p>"
    },
    "DeleteObjectsOnCancelRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "TableName",
        "TransactionId",
        "Objects"
      ],
      "members":{
        "CatalogId":{
          "shape":"CatalogIdString",
          "documentation":"<p>The Glue data catalog that contains the governed table. Defaults to the current account ID.</p>"
        },
        "DatabaseName":{
          "shape":"NameString",
          "documentation":"<p>The database that contains the governed table.</p>"
        },
        "TableName":{
          "shape":"NameString",
          "documentation":"<p>The name of the governed table.</p>"
        },
        "TransactionId":{
          "shape":"TransactionIdString",
          "documentation":"<p>ID of the transaction that the writes occur in.</p>"
        },
        "Objects":{
          "shape":"VirtualObjectList",
          "documentation":"<p>A list of VirtualObject structures, which indicates the Amazon S3 objects to be deleted if the transaction cancels.</p>"
        }
      }
    },
    "DeleteObjectsOnCancelResponse":{
      "type":"structure",
      "members":{}
    },
    "DeregisterResourceRequest":{
      "type":"structure",
      "required":["ResourceArn"],
      "members":{
        "ResourceArn":{
          "shape":"ResourceArnString",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource that you want to deregister.</p>"
        }
      }
    },
    "DeregisterResourceResponse":{
      "type":"structure",
      "members":{}
    },
    "DescribeLakeFormationIdentityCenterConfigurationRequest":{
      "type":"structure",
      "members":{
        "CatalogId":{
          "shape":"CatalogIdString",
          "documentation":"<p>The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your Lake Formation environment.</p>"
        }
      }
    },
    "DescribeLakeFormationIdentityCenterConfigurationResponse":{
      "type":"structure",
      "members":{
        "CatalogId":{
          "shape":"CatalogIdString",
          "documentation":"<p>The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your Lake Formation environment.</p>"
        },
        "InstanceArn":{
          "shape":"IdentityCenterInstanceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the connection.</p>"
        },
        "ApplicationArn":{
          "shape":"ApplicationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Lake Formation application integrated with IAM Identity Center.</p>"
        },
        "ExternalFiltering":{
          "shape":"ExternalFilteringConfiguration",
          "documentation":"<p>Indicates if external filtering is enabled.</p>"
        },
        "ShareRecipients":{
          "shape":"DataLakePrincipalList",
          "documentation":"<p>A list of Amazon Web Services account IDs or Amazon Web Services organization/organizational unit ARNs that are allowed to access data managed by Lake Formation. </p> <p>If the <code>ShareRecipients</code> list includes valid values, a resource share is created with the principals you want to have access to the resources as the <code>ShareRecipients</code>.</p> <p>If the <code>ShareRecipients</code> value is null or the list is empty, no resource share is created.</p>"
        },
        "ResourceShare":{
          "shape":"RAMResourceShareArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the RAM share.</p>"
        }
      }
    },
    "DescribeResourceRequest":{
      "type":"structure",
      "required":["ResourceArn"],
      "members":{
        "ResourceArn":{
          "shape":"ResourceArnString",
          "documentation":"<p>The resource ARN.</p>"
        }
      }
    },
    "DescribeResourceResponse":{
      "type":"structure",
      "members":{
        "ResourceInfo":{
          "shape":"ResourceInfo",
          "documentation":"<p>A structure containing information about an Lake Formation resource.</p>"
        }
      }
    },
    "DescribeTransactionRequest":{
      "type":"structure",
      "required":["TransactionId"],
      "members":{
        "TransactionId":{
          "shape":"TransactionIdString",
          "documentation":"<p>The transaction for which to return status.</p>"
        }
      }
    },
    "DescribeTransactionResponse":{
      "type":"structure",
      "members":{
        "TransactionDescription":{
          "shape":"TransactionDescription",
          "documentation":"<p>Returns a <code>TransactionDescription</code> object containing information about the transaction.</p>"
        }
      }
    },
    "DescriptionString":{
      "type":"string",
      "max":2048,
      "min":0,
      "pattern":"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*"
    },
    "DetailsMap":{
      "type":"structure",
      "members":{
        "ResourceShare":{
          "shape":"ResourceShareList",
          "documentation":"<p>A resource share ARN for a catalog resource shared through RAM.</p>"
        }
      },
      "documentation":"<p>A structure containing the additional details to be returned in the <code>AdditionalDetails</code> attribute of <code>PrincipalResourcePermissions</code>.</p> <p>If a catalog resource is shared through Resource Access Manager (RAM), then there will exist a corresponding RAM resource share ARN.</p>"
    },
    "ETagString":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"[\\p{L}\\p{N}\\p{P}]*"
    },
    "EnableStatus":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "EntityNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{
          "shape":"MessageString",
          "documentation":"<p>A message describing the problem.</p>"
        }
      },
      "documentation":"<p>A specified entity does not exist.</p>",
      "exception":true
    },
    "ErrorDetail":{
      "type":"structure",
      "members":{
        "ErrorCode":{
          "shape":"NameString",
          "documentation":"<p>The code associated with this error.</p>"
        },
        "ErrorMessage":{
          "shape":"DescriptionString",
          "documentation":"<p>A message describing the error.</p>"
        }
      },
      "documentation":"<p>Contains details about an error.</p>"
    },
    "ErrorMessageString":{"type":"string"},
    "ExecutionStatistics":{
      "type":"structure",
      "members":{
        "AverageExecutionTimeMillis":{
          "shape":"NumberOfMilliseconds",
          "documentation":"<p>The average time the request took to be executed.</p>"
        },
        "DataScannedBytes":{
          "shape":"NumberOfBytes",
          "documentation":"<p>The amount of data that was scanned in bytes.</p>"
        },
        "WorkUnitsExecutedCount":{
          "shape":"NumberOfItems",
          "documentation":"<p>The number of work units executed.</p>"
        }
      },
      "documentation":"<p>Statistics related to the processing of a query statement.</p>"
    },
    "ExpirationTimestamp":{"type":"timestamp"},
    "ExpiredException":{
      "type":"structure",
      "members":{
        "Message":{
          "shape":"MessageString",
          "documentation":"<p>A message describing the error.</p>"
        }
      },
      "documentation":"<p>Contains details about an error where the query request expired.</p>",
      "error":{
        "httpStatusCode":410,
        "senderFault":true
      },
      "exception":true
    },
    "Expression":{
      "type":"list",
      "member":{"shape":"LFTag"}
    },
    "ExpressionString":{
      "type":"string",
      "max":3000
    },
    "ExtendTransactionRequest":{
      "type":"structure",
      "members":{
        "TransactionId":{
          "shape":"TransactionIdString",
          "documentation":"<p>The transaction to extend.</p>"
        }
      }
    },
    "ExtendTransactionResponse":{
      "type":"structure",
      "members":{}
    },
    "ExternalFilteringConfiguration":{
      "type":"structure",
      "required":[
        "Status",
        "AuthorizedTargets"
      ],
      "members":{
        "Status":{
          "shape":"EnableStatus",
          "documentation":"<p>Allows to enable or disable the third-party applications that are allowed to access data managed by Lake Formation.</p>"
        },
        "AuthorizedTargets":{
          "shape":"ScopeTargets",
          "documentation":"<p>List of third-party application <code>ARNs</code> integrated with Lake Formation.</p>"
        }
      },
      "documentation":"<p>Configuration for enabling external data filtering for third-party applications to access data managed by Lake Formation .</p>"
    },
    "FieldNameString":{
      "type":"string",
      "enum":[
        "RESOURCE_ARN",
        "ROLE_ARN",
        "LAST_MODIFIED"
      ]
    },
    "FilterCondition":{
      "type":"structure",
      "members":{
        "Field":{
          "shape":"FieldNameString",
          "documentation":"<p>The field to filter in the filter condition.</p>"
        },
        "ComparisonOperator":{
          "shape":"ComparisonOperator",
          "documentation":"<p>The comparison operator used in the filter condition.</p>"
        },
        "StringValueList":{
          "shape":"StringValueList",
          "documentation":"<p>A string with values used in evaluating the filter condition.</p>"
        }
      },
      "documentation":"<p>This structure describes the filtering of columns in a table based on a filter condition.</p>"
    },
    "FilterConditionList":{
      "type":"list",
      "member":{"shape":"FilterCondition"},
      "max":20,
      "min":1
    },
    "GetDataCellsFilterRequest":{
      "type":"structure",
      "required":[
        "TableCatalogId",
        "DatabaseName",
        "TableName",
        "Name"
      ],
      "members":{
        "TableCatalogId":{
          "shape":"CatalogIdString",
          "documentation":"<p>The ID of the catalog to which the table belongs.</p>"
        },
        "DatabaseName":{
          "shape":"NameString",
          "documentation":"<p>A database in the Glue Data Catalog.</p>"
        },
        "TableName":{
          "shape":"NameString",
          "documentation":"<p>A table in the database.</p>"
        },
        "Name":{
          "shape":"NameString",
          "documentation":"<p>The name given by the user to the data filter cell.</p>"
        }
      }
    },
    "GetDataCellsFilterResponse":{
      "type":"structure",
      "members":{
        "DataCellsFilter":{
          "shape":"DataCellsFilter",
          "documentation":"<p>A structure that describes certain columns on certain rows.</p>"
        }
      }
    },
    "GetDataLakePrincipalRequest":{
      "type":"structure",
      "members":{}
    },
    "GetDataLakePrincipalResponse":{
      "type":"structure",
      "members":{
        "Identity":{
          "shape":"IdentityString",
          "documentation":"<p>A unique identifier of the invoking principal.</p>"
        }
      }
    },
    "GetDataLakeSettingsRequest":{
      "type":"structure",
      "members":{
        "CatalogId":{
          "shape":"CatalogIdString",
          "documentation":"<p>The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your Lake Formation environment. </p>"
        }
      }
    },
    "GetDataLakeSettingsResponse":{
      "type":"structure",
      "members":{
        "DataLakeSettings":{
          "shape":"DataLakeSettings",
          "documentation":"<p>A structure representing a list of Lake Formation principals designated as data lake administrators.</p>"
        }
      }
    },
    "GetEffectivePermissionsForPathRequest":{
      "type":"structure",
      "required":["ResourceArn"],
      "members":{
        "CatalogId":{
          "shape":"CatalogIdString",
          "documentation":"<p>The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your Lake Formation environment. </p>"
        },
        "ResourceArn":{
          "shape":"ResourceArnString",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource for which you want to get permissions.</p>"
        },
        "NextToken":{
          "shape":"Token",
          "documentation":"<p>A continuation token, if this is not the first call to retrieve this list.</p>"
        },
        "MaxResults":{
          "shape":"PageSize",
          "documentation":"<p>The maximum number of results to return.</p>"
        }
      }
    },
    "GetEffectivePermissionsForPathResponse":{
      "type":"structure",
      "members":{
        "Permissions":{
          "shape":"PrincipalResourcePermissionsList",
          "documentation":"<p>A list of the permissions for the specified table or database resource located at the path in Amazon S3.</p>"
        },
        "NextToken":{
          "shape":"Token",
          "documentation":"<p>A continuation token, if this is not the first call to retrieve this list.</p>"
        }
      }
    },
    "GetLFTagExpressionRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"NameString",
          "documentation":"<p>The name for the LF-Tag expression</p>"
        },
        "CatalogId":{
          "shape":"CatalogIdString",
          "documentation":"<p>The identifier for the Data Catalog. By default, the account ID.</p>"
        }
      }
    },
    "GetLFTagExpressionResponse":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"NameString",
          "documentation":"<p>The name for the LF-Tag expression. </p>"
        },
        "Description":{
          "shape":"DescriptionString",
          "documentation":"<p>The description with information about the LF-Tag expression.</p>"
        },
        "CatalogId":{
          "shape":"CatalogIdString",
          "documentation":"<p>The identifier for the Data Catalog. By default, the account ID in which the LF-Tag expression is saved.</p>"
        },
        "Expression":{
          "shape":"Expression",
          "documentation":"<p>The body of the LF-Tag expression. It is composed of one or more LF-Tag key-value pairs.</p>"
        }
      }
    },
    "GetLFTagRequest":{
      "type":"structure",
      "required":["TagKey"],
      "members":{
        "CatalogId":{
          "shape":"CatalogIdString",
          "documentation":"<p>The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your Lake Formation environment. </p>"
        },
        "TagKey":{
          "shape":"LFTagKey",
          "documentation":"<p>The key-name for the LF-tag.</p>"
        }
      }
    },
    "GetLFTagResponse":{
      "type":"structure",
      "members":{
        "CatalogId":{
          "shape":"CatalogIdString",
          "documentation":"<p>The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your Lake Formation environment. </p>"
        },
        "TagKey":{
          "shape":"LFTagKey",
          "documentation":"<p>The key-name for the LF-tag.</p>"
        },
        "TagValues":{
          "shape":"TagValueList",
          "documentation":"<p>A list of possible values an attribute can take.</p>"
        }
      }
    },
    "GetQueryStateRequest":{
      "type":"structure",
      "required":["QueryId"],
      "members":{
        "QueryId":{
          "shape":"GetQueryStateRequestQueryIdString",
          "documentation":"<p>The ID of the plan query operation.</p>"
        }
      }
    },
    "GetQueryStateRequestQueryIdString":{
      "type":"string",
      "max":36,
      "min":36
    },
    "GetQueryStateResponse":{
      "type":"structure",
      "required":["State"],
      "members":{
        "Error":{
          "shape":"ErrorMessageString",
          "documentation":"<p>An error message when the operation fails.</p>"
        },
        "State":{
          "shape":"QueryStateString",
          "documentation":"<p>The state of a query previously submitted. The possible states are:</p> <ul> <li> <p>PENDING: the query is pending.</p> </li> <li> <p>WORKUNITS_AVAILABLE: some work units are ready for retrieval and execution.</p> </li> <li> <p>FINISHED: the query planning finished successfully, and all work units are ready for retrieval and execution.</p> </li> <li> <p>ERROR: an error occurred with the query, such as an invalid query ID or a backend error.</p> </li> </ul>"
        }
      },
      "documentation":"<p>A structure for the output.</p>"
    },
    "GetQueryStatisticsRequest":{
      "type":"structure",
      "required":["QueryId"],
      "members":{
        "QueryId":{
          "shape":"GetQueryStatisticsRequestQueryIdString",
          "documentation":"<p>The ID of the plan query operation.</p>"
        }
      }
    },
    "GetQueryStatisticsRequestQueryIdString":{
      "type":"string",
      "max":36,
      "min":36
    },
    "GetQueryStatisticsResponse":{
      "type":"structure",
      "members":{
        "ExecutionStatistics":{
          "shape":"ExecutionStatistics",
          "documentation":"<p>An <code>ExecutionStatistics</code> structure containing execution statistics.</p>"
        },
        "PlanningStatistics":{
          "shape":"PlanningStatistics",
          "documentation":"<p>A <code>PlanningStatistics</code> structure containing query planning statistics.</p>"
        },
        "QuerySubmissionTime":{
          "shape":"DateTime",
          "documentation":"<p>The time that the query was submitted.</p>"
        }
      }
    },
    "GetResourceLFTagsRequest":{
      "type":"structure",
      "required":["Resource"],
      "members":{
        "CatalogId":{
          "shape":"CatalogIdString",
          "documentation":"<p>The identifier for the Data Catalog. By default, the account ID. The Data Catalog is the persistent metadata store. It contains database definitions, table definitions, and other control information to manage your Lake Formation environment. </p>"
        },
        "Resource":{
          "shape":"Resource",
          "documentation":"<p>The database, table, or column resource for which you want to return LF-tags.</p>"
        },
        "ShowAssignedLFTags":{
          "shape":"BooleanNullable",
          "documentation":"<p>Indicates whether to show the assigned LF-tags.</p>"
        }
      }
    },
    "GetResourceLFTagsResponse":{
      "type":"structure",
      "members":{
        "LFTagOnDatabase":{
          "shape":"LFTagsList",
          "documentation":"<p>A list of LF-tags applied to a database resource.</p>"
        },
        "LFTagsOnTable":{
          "shape":"LFTagsList",
          "documentation":"<p>A list of LF-tags applied to a table resource.</p>"
        },
        "LFTagsOnColumns":{
          "shape":"ColumnLFTagsList",
          "documentation":"<p>A list of LF-tags applied to a column resource.</p>"
        }
      }
    },
    "GetTableObjectsRequest":{
      "type":"structure",
      "required":[
        "DatabaseName",
        "TableName"
      ],
      "members":{
        "CatalogId":{
          "shape":"CatalogIdString",
          "documentation":"<p>The catalog containing the governed table. Defaults to the caller’s account.</p>"
        },
        "DatabaseName":{
          "shape":"NameString",
          "documentation":"<p>The database containing the governed table.</p>"
        },
        "TableName":{
          "shape":"NameString",
          "documentation":"<p>The governed table for which to retrieve objects.</p>"
        },
        "TransactionId":{
          "shape":"TransactionIdString",
[...]
