<div class="gh-migrate-fullscreen-container admin-x-settings">
    <div class="gh-migrate-close right-0 top-2 flex justify-end bg-transparent p-8 tablet:fixed tablet:top-0 tablet:px-8" >
        <a href="javascript:void(0)" {{on "click" this.closeMigrate}} data-test-button="close-migrate" class="text-grey-700 hover:!text-grey-900">
            {{svg-jar "close"}}<span class="hidden">Close</span>
        </a>
    </div>

    <GhMigrateModal></GhMigrateModal>
</div>