<header id="global-header" class="navbar">
    <nav id="global-nav" role="navigation">
        <ul id="main-menu" >
            <li class="content">{{#link-to "posts"}}Content{{/link-to}}</li>
            <li class="editor">{{#link-to "new"}}New post{{/link-to}}</li>
        </ul>
    </nav>
</header>