<footer id="publish-bar">
    <nav>
        <section id="entry-tags" href="#" class="left">
            <label class="tag-label" for="tags" title="Tags"><span class="hidden">Tags</span></label>
            <div class="tags">
            {{#each tags}}
                <span class="tag">{{name}}</span>
            {{/each}}
            </div>
            <input type="hidden" class="tags-holder" id="tags-holder">
            <input class="tag-input" id="tags" type="text" data-input-behaviour="tag" />
            <ul class="suggestions overlay"></ul>
        </section>
        <div class="right">

            <section id="entry-controls">
                <a class="post-settings" title="Post Settings" {{action 'editSettings'}}><span class="hidden">Post Settings</span></a>
                <!-- @TODO Use Ghost Popover (#2565) and style arrow down -->
                {{view "post-settings-menu-view"}}
            </section>

            {{view "editor-save-button" id="entry-actions"}}
        </div>
    </nav>
</footer>
