{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2022-08-03",
    "endpointPrefix":"voice-chime",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"Amazon Chime SDK Voice",
    "serviceId":"Chime SDK Voice",
    "signatureVersion":"v4",
    "signingName":"chime",
    "uid":"chime-sdk-voice-2022-08-03",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AssociatePhoneNumbersWithVoiceConnector":{
      "name":"AssociatePhoneNumbersWithVoiceConnector",
      "http":{
        "method":"POST",
        "requestUri":"/voice-connectors/{voiceConnectorId}?operation=associate-phone-numbers",
        "responseCode":200
      },
      "input":{"shape":"AssociatePhoneNumbersWithVoiceConnectorRequest"},
      "output":{"shape":"AssociatePhoneNumbersWithVoiceConnectorResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Associates phone numbers with the specified Amazon Chime SDK Voice Connector.</p>"
    },
    "AssociatePhoneNumbersWithVoiceConnectorGroup":{
      "name":"AssociatePhoneNumbersWithVoiceConnectorGroup",
      "http":{
        "method":"POST",
        "requestUri":"/voice-connector-groups/{voiceConnectorGroupId}?operation=associate-phone-numbers",
        "responseCode":200
      },
      "input":{"shape":"AssociatePhoneNumbersWithVoiceConnectorGroupRequest"},
      "output":{"shape":"AssociatePhoneNumbersWithVoiceConnectorGroupResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Associates phone numbers with the specified Amazon Chime SDK Voice Connector group.</p>"
    },
    "BatchDeletePhoneNumber":{
      "name":"BatchDeletePhoneNumber",
      "http":{
        "method":"POST",
        "requestUri":"/phone-numbers?operation=batch-delete",
        "responseCode":200
      },
      "input":{"shape":"BatchDeletePhoneNumberRequest"},
      "output":{"shape":"BatchDeletePhoneNumberResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p> Moves phone numbers into the <b>Deletion queue</b>. Phone numbers must be disassociated from any users or Amazon Chime SDK Voice Connectors before they can be deleted. </p> <p> Phone numbers remain in the <b>Deletion queue</b> for 7 days before they are deleted permanently. </p>"
    },
    "BatchUpdatePhoneNumber":{
      "name":"BatchUpdatePhoneNumber",
      "http":{
        "method":"POST",
        "requestUri":"/phone-numbers?operation=batch-update",
        "responseCode":200
      },
      "input":{"shape":"BatchUpdatePhoneNumberRequest"},
      "output":{"shape":"BatchUpdatePhoneNumberResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Updates phone number product types, calling names, or phone number names. You can update one attribute at a time for each <code>UpdatePhoneNumberRequestItem</code>. For example, you can update the product type, the calling name, or phone name. </p> <note> <p>You cannot have a duplicate <code>phoneNumberId</code> in a request.</p> </note>"
    },
    "CreatePhoneNumberOrder":{
      "name":"CreatePhoneNumberOrder",
      "http":{
        "method":"POST",
        "requestUri":"/phone-number-orders",
        "responseCode":201
      },
      "input":{"shape":"CreatePhoneNumberOrderRequest"},
      "output":{"shape":"CreatePhoneNumberOrderResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Creates an order for phone numbers to be provisioned. For numbers outside the U.S., you must use the Amazon Chime SDK SIP media application dial-in product type.</p>"
    },
    "CreateProxySession":{
      "name":"CreateProxySession",
      "http":{
        "method":"POST",
        "requestUri":"/voice-connectors/{voiceConnectorId}/proxy-sessions",
        "responseCode":201
      },
      "input":{"shape":"CreateProxySessionRequest"},
      "output":{"shape":"CreateProxySessionResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Creates a proxy session for the specified Amazon Chime SDK Voice Connector for the specified participant phone numbers.</p>"
    },
    "CreateSipMediaApplication":{
      "name":"CreateSipMediaApplication",
      "http":{
        "method":"POST",
        "requestUri":"/sip-media-applications",
        "responseCode":201
      },
      "input":{"shape":"CreateSipMediaApplicationRequest"},
      "output":{"shape":"CreateSipMediaApplicationResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Creates a SIP media application. For more information about SIP media applications, see <a href=\"https://docs.aws.amazon.com/chime-sdk/latest/ag/manage-sip-applications.html\">Managing SIP media applications and rules</a> in the <i>Amazon Chime SDK Administrator Guide</i>.</p>"
    },
    "CreateSipMediaApplicationCall":{
      "name":"CreateSipMediaApplicationCall",
      "http":{
        "method":"POST",
        "requestUri":"/sip-media-applications/{sipMediaApplicationId}/calls",
        "responseCode":201
      },
      "input":{"shape":"CreateSipMediaApplicationCallRequest"},
      "output":{"shape":"CreateSipMediaApplicationCallResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ThrottledClientException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Creates an outbound call to a phone number from the phone number specified in the request, and it invokes the endpoint of the specified <code>sipMediaApplicationId</code>.</p>"
    },
    "CreateSipRule":{
      "name":"CreateSipRule",
      "http":{
        "method":"POST",
        "requestUri":"/sip-rules",
        "responseCode":201
      },
      "input":{"shape":"CreateSipRuleRequest"},
      "output":{"shape":"CreateSipRuleResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Creates a SIP rule, which can be used to run a SIP media application as a target for a specific trigger type. For more information about SIP rules, see <a href=\"https://docs.aws.amazon.com/chime-sdk/latest/ag/manage-sip-applications.html\">Managing SIP media applications and rules</a> in the <i>Amazon Chime SDK Administrator Guide</i>.</p>"
    },
    "CreateVoiceConnector":{
      "name":"CreateVoiceConnector",
      "http":{
        "method":"POST",
        "requestUri":"/voice-connectors",
        "responseCode":201
      },
      "input":{"shape":"CreateVoiceConnectorRequest"},
      "output":{"shape":"CreateVoiceConnectorResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Creates an Amazon Chime SDK Voice Connector. For more information about Voice Connectors, see <a href=\"https://docs.aws.amazon.com/chime-sdk/latest/ag/voice-connector-groups.html\">Managing Amazon Chime SDK Voice Connector groups</a> in the <i>Amazon Chime SDK Administrator Guide</i>.</p>"
    },
    "CreateVoiceConnectorGroup":{
      "name":"CreateVoiceConnectorGroup",
      "http":{
        "method":"POST",
        "requestUri":"/voice-connector-groups",
        "responseCode":201
      },
      "input":{"shape":"CreateVoiceConnectorGroupRequest"},
      "output":{"shape":"CreateVoiceConnectorGroupResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Creates an Amazon Chime SDK Voice Connector group under the administrator's AWS account. You can associate Amazon Chime SDK Voice Connectors with the Voice Connector group by including <code>VoiceConnectorItems</code> in the request. </p> <p>You can include Voice Connectors from different AWS Regions in your group. This creates a fault tolerant mechanism for fallback in case of availability events.</p>"
    },
    "CreateVoiceProfile":{
      "name":"CreateVoiceProfile",
      "http":{
        "method":"POST",
        "requestUri":"/voice-profiles",
        "responseCode":201
      },
      "input":{"shape":"CreateVoiceProfileRequest"},
      "output":{"shape":"CreateVoiceProfileResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"GoneException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Creates a voice profile, which consists of an enrolled user and their latest voice print.</p> <important> <p>Before creating any voice profiles, you must provide all notices and obtain all consents from the speaker as required under applicable privacy and biometrics laws, and as required under the <a href=\"https://aws.amazon.com/service-terms/\">AWS service terms</a> for the Amazon Chime SDK.</p> </important> <p>For more information about voice profiles and voice analytics, see <a href=\"https://docs.aws.amazon.com/chime-sdk/latest/dg/pstn-voice-analytics.html\">Using Amazon Chime SDK Voice Analytics</a> in the <i>Amazon Chime SDK Developer Guide</i>.</p>"
    },
    "CreateVoiceProfileDomain":{
      "name":"CreateVoiceProfileDomain",
      "http":{
        "method":"POST",
        "requestUri":"/voice-profile-domains",
        "responseCode":201
      },
      "input":{"shape":"CreateVoiceProfileDomainRequest"},
      "output":{"shape":"CreateVoiceProfileDomainResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Creates a voice profile domain, a collection of voice profiles, their voice prints, and encrypted enrollment audio.</p> <important> <p>Before creating any voice profiles, you must provide all notices and obtain all consents from the speaker as required under applicable privacy and biometrics laws, and as required under the <a href=\"https://aws.amazon.com/service-terms/\">AWS service terms</a> for the Amazon Chime SDK.</p> </important> <p>For more information about voice profile domains, see <a href=\"https://docs.aws.amazon.com/chime-sdk/latest/dg/pstn-voice-analytics.html\">Using Amazon Chime SDK Voice Analytics</a> in the <i>Amazon Chime SDK Developer Guide</i>.</p>"
    },
    "DeletePhoneNumber":{
      "name":"DeletePhoneNumber",
      "http":{
        "method":"DELETE",
        "requestUri":"/phone-numbers/{phoneNumberId}",
        "responseCode":204
      },
      "input":{"shape":"DeletePhoneNumberRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Moves the specified phone number into the <b>Deletion queue</b>. A phone number must be disassociated from any users or Amazon Chime SDK Voice Connectors before it can be deleted.</p> <p>Deleted phone numbers remain in the <b>Deletion queue</b> queue for 7 days before they are deleted permanently.</p>"
    },
    "DeleteProxySession":{
      "name":"DeleteProxySession",
      "http":{
        "method":"DELETE",
        "requestUri":"/voice-connectors/{voiceConnectorId}/proxy-sessions/{proxySessionId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteProxySessionRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Deletes the specified proxy session from the specified Amazon Chime SDK Voice Connector.</p>"
    },
    "DeleteSipMediaApplication":{
      "name":"DeleteSipMediaApplication",
      "http":{
        "method":"DELETE",
        "requestUri":"/sip-media-applications/{sipMediaApplicationId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteSipMediaApplicationRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Deletes a SIP media application.</p>"
    },
    "DeleteSipRule":{
      "name":"DeleteSipRule",
      "http":{
        "method":"DELETE",
        "requestUri":"/sip-rules/{sipRuleId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteSipRuleRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Deletes a SIP rule.</p>"
    },
    "DeleteVoiceConnector":{
      "name":"DeleteVoiceConnector",
      "http":{
        "method":"DELETE",
        "requestUri":"/voice-connectors/{voiceConnectorId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteVoiceConnectorRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Deletes an Amazon Chime SDK Voice Connector. Any phone numbers associated with the Amazon Chime SDK Voice Connector must be disassociated from it before it can be deleted.</p>"
    },
    "DeleteVoiceConnectorEmergencyCallingConfiguration":{
      "name":"DeleteVoiceConnectorEmergencyCallingConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/voice-connectors/{voiceConnectorId}/emergency-calling-configuration",
        "responseCode":204
      },
      "input":{"shape":"DeleteVoiceConnectorEmergencyCallingConfigurationRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Deletes the emergency calling details from the specified Amazon Chime SDK Voice Connector.</p>"
    },
    "DeleteVoiceConnectorExternalSystemsConfiguration":{
      "name":"DeleteVoiceConnectorExternalSystemsConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/voice-connectors/{voiceConnectorId}/external-systems-configuration",
        "responseCode":204
      },
      "input":{"shape":"DeleteVoiceConnectorExternalSystemsConfigurationRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Deletes the external systems configuration for a Voice Connector.</p>",
      "idempotent":true
    },
    "DeleteVoiceConnectorGroup":{
      "name":"DeleteVoiceConnectorGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/voice-connector-groups/{voiceConnectorGroupId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteVoiceConnectorGroupRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Deletes an Amazon Chime SDK Voice Connector group. Any <code>VoiceConnectorItems</code> and phone numbers associated with the group must be removed before it can be deleted.</p>"
    },
    "DeleteVoiceConnectorOrigination":{
      "name":"DeleteVoiceConnectorOrigination",
      "http":{
        "method":"DELETE",
        "requestUri":"/voice-connectors/{voiceConnectorId}/origination",
        "responseCode":204
      },
      "input":{"shape":"DeleteVoiceConnectorOriginationRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Deletes the origination settings for the specified Amazon Chime SDK Voice Connector. </p> <note> <p>If emergency calling is configured for the Voice Connector, it must be deleted prior to deleting the origination settings.</p> </note>"
    },
    "DeleteVoiceConnectorProxy":{
      "name":"DeleteVoiceConnectorProxy",
      "http":{
        "method":"DELETE",
        "requestUri":"/voice-connectors/{voiceConnectorId}/programmable-numbers/proxy",
        "responseCode":204
      },
      "input":{"shape":"DeleteVoiceConnectorProxyRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Deletes the proxy configuration from the specified Amazon Chime SDK Voice Connector.</p>"
    },
    "DeleteVoiceConnectorStreamingConfiguration":{
      "name":"DeleteVoiceConnectorStreamingConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/voice-connectors/{voiceConnectorId}/streaming-configuration",
        "responseCode":204
      },
      "input":{"shape":"DeleteVoiceConnectorStreamingConfigurationRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Deletes a Voice Connector's streaming configuration.</p>"
    },
    "DeleteVoiceConnectorTermination":{
      "name":"DeleteVoiceConnectorTermination",
      "http":{
        "method":"DELETE",
        "requestUri":"/voice-connectors/{voiceConnectorId}/termination",
        "responseCode":204
      },
      "input":{"shape":"DeleteVoiceConnectorTerminationRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Deletes the termination settings for the specified Amazon Chime SDK Voice Connector.</p> <note> <p>If emergency calling is configured for the Voice Connector, it must be deleted prior to deleting the termination settings.</p> </note>"
    },
    "DeleteVoiceConnectorTerminationCredentials":{
      "name":"DeleteVoiceConnectorTerminationCredentials",
      "http":{
        "method":"POST",
        "requestUri":"/voice-connectors/{voiceConnectorId}/termination/credentials?operation=delete",
        "responseCode":204
      },
      "input":{"shape":"DeleteVoiceConnectorTerminationCredentialsRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Deletes the specified SIP credentials used by your equipment to authenticate during call termination.</p>"
    },
    "DeleteVoiceProfile":{
      "name":"DeleteVoiceProfile",
      "http":{
        "method":"DELETE",
        "requestUri":"/voice-profiles/{VoiceProfileId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteVoiceProfileRequest"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Deletes a voice profile, including its voice print and enrollment data. WARNING: This action is not reversible.</p>"
    },
    "DeleteVoiceProfileDomain":{
      "name":"DeleteVoiceProfileDomain",
      "http":{
        "method":"DELETE",
        "requestUri":"/voice-profile-domains/{VoiceProfileDomainId}",
        "responseCode":204
      },
      "input":{"shape":"DeleteVoiceProfileDomainRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"AccessDeniedException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Deletes all voice profiles in the domain. WARNING: This action is not reversible.</p>"
    },
    "DisassociatePhoneNumbersFromVoiceConnector":{
      "name":"DisassociatePhoneNumbersFromVoiceConnector",
      "http":{
        "method":"POST",
        "requestUri":"/voice-connectors/{voiceConnectorId}?operation=disassociate-phone-numbers",
        "responseCode":200
      },
      "input":{"shape":"DisassociatePhoneNumbersFromVoiceConnectorRequest"},
      "output":{"shape":"DisassociatePhoneNumbersFromVoiceConnectorResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Disassociates the specified phone numbers from the specified Amazon Chime SDK Voice Connector.</p>"
    },
    "DisassociatePhoneNumbersFromVoiceConnectorGroup":{
      "name":"DisassociatePhoneNumbersFromVoiceConnectorGroup",
      "http":{
        "method":"POST",
        "requestUri":"/voice-connector-groups/{voiceConnectorGroupId}?operation=disassociate-phone-numbers",
        "responseCode":200
      },
      "input":{"shape":"DisassociatePhoneNumbersFromVoiceConnectorGroupRequest"},
      "output":{"shape":"DisassociatePhoneNumbersFromVoiceConnectorGroupResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Disassociates the specified phone numbers from the specified Amazon Chime SDK Voice Connector group.</p>"
    },
    "GetGlobalSettings":{
      "name":"GetGlobalSettings",
      "http":{
        "method":"GET",
        "requestUri":"/settings",
        "responseCode":200
      },
      "output":{"shape":"GetGlobalSettingsResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Retrieves the global settings for the Amazon Chime SDK Voice Connectors in an AWS account.</p>"
    },
    "GetPhoneNumber":{
      "name":"GetPhoneNumber",
      "http":{
        "method":"GET",
        "requestUri":"/phone-numbers/{phoneNumberId}"
      },
      "input":{"shape":"GetPhoneNumberRequest"},
      "output":{"shape":"GetPhoneNumberResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Retrieves details for the specified phone number ID, such as associations, capabilities, and product type.</p>"
    },
    "GetPhoneNumberOrder":{
      "name":"GetPhoneNumberOrder",
      "http":{
        "method":"GET",
        "requestUri":"/phone-number-orders/{phoneNumberOrderId}",
        "responseCode":200
      },
      "input":{"shape":"GetPhoneNumberOrderRequest"},
      "output":{"shape":"GetPhoneNumberOrderResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Retrieves details for the specified phone number order, such as the order creation timestamp, phone numbers in E.164 format, product type, and order status.</p>"
    },
    "GetPhoneNumberSettings":{
      "name":"GetPhoneNumberSettings",
      "http":{
        "method":"GET",
        "requestUri":"/settings/phone-number",
        "responseCode":200
      },
      "output":{"shape":"GetPhoneNumberSettingsResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Retrieves the phone number settings for the administrator's AWS account, such as the default outbound calling name.</p>"
    },
    "GetProxySession":{
      "name":"GetProxySession",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors/{voiceConnectorId}/proxy-sessions/{proxySessionId}",
        "responseCode":200
      },
      "input":{"shape":"GetProxySessionRequest"},
      "output":{"shape":"GetProxySessionResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Retrieves the specified proxy session details for the specified Amazon Chime SDK Voice Connector.</p>"
    },
    "GetSipMediaApplication":{
      "name":"GetSipMediaApplication",
      "http":{
        "method":"GET",
        "requestUri":"/sip-media-applications/{sipMediaApplicationId}",
        "responseCode":200
      },
      "input":{"shape":"GetSipMediaApplicationRequest"},
      "output":{"shape":"GetSipMediaApplicationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Retrieves the information for a SIP media application, including name, AWS Region, and endpoints.</p>"
    },
    "GetSipMediaApplicationAlexaSkillConfiguration":{
      "name":"GetSipMediaApplicationAlexaSkillConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/sip-media-applications/{sipMediaApplicationId}/alexa-skill-configuration",
        "responseCode":200
      },
      "input":{"shape":"GetSipMediaApplicationAlexaSkillConfigurationRequest"},
      "output":{"shape":"GetSipMediaApplicationAlexaSkillConfigurationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Gets the Alexa Skill configuration for the SIP media application.</p> <important> <p>Due to changes made by the Amazon Alexa service, this API is no longer available for use. For more information, refer to the <a href=\"https://developer.amazon.com/en-US/alexa/alexasmartproperties\">Alexa Smart Properties</a> page.</p> </important>",
      "deprecated":true,
      "deprecatedMessage":"Due to changes made by the Amazon Alexa service, this API is no longer available for use. For more information, refer to the Alexa Smart Properties page(https://developer.amazon.com/en-US/alexa/alexasmartproperties)."
    },
    "GetSipMediaApplicationLoggingConfiguration":{
      "name":"GetSipMediaApplicationLoggingConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/sip-media-applications/{sipMediaApplicationId}/logging-configuration",
        "responseCode":200
      },
      "input":{"shape":"GetSipMediaApplicationLoggingConfigurationRequest"},
      "output":{"shape":"GetSipMediaApplicationLoggingConfigurationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Retrieves the logging configuration for the specified SIP media application.</p>"
    },
    "GetSipRule":{
      "name":"GetSipRule",
      "http":{
        "method":"GET",
        "requestUri":"/sip-rules/{sipRuleId}",
        "responseCode":200
      },
      "input":{"shape":"GetSipRuleRequest"},
      "output":{"shape":"GetSipRuleResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Retrieves the details of a SIP rule, such as the rule ID, name, triggers, and target endpoints.</p>"
    },
    "GetSpeakerSearchTask":{
      "name":"GetSpeakerSearchTask",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors/{VoiceConnectorId}/speaker-search-tasks/{SpeakerSearchTaskId}",
        "responseCode":200
      },
      "input":{"shape":"GetSpeakerSearchTaskRequest"},
      "output":{"shape":"GetSpeakerSearchTaskResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"NotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottledClientException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceFailureException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Retrieves the details of the specified speaker search task.</p>"
    },
    "GetVoiceConnector":{
      "name":"GetVoiceConnector",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors/{voiceConnectorId}",
        "responseCode":200
      },
      "input":{"shape":"GetVoiceConnectorRequest"},
      "output":{"shape":"GetVoiceConnectorResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Retrieves details for the specified Amazon Chime SDK Voice Connector, such as timestamps,name, outbound host, and encryption requirements.</p>"
    },
    "GetVoiceConnectorEmergencyCallingConfiguration":{
      "name":"GetVoiceConnectorEmergencyCallingConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors/{voiceConnectorId}/emergency-calling-configuration",
        "responseCode":200
      },
      "input":{"shape":"GetVoiceConnectorEmergencyCallingConfigurationRequest"},
      "output":{"shape":"GetVoiceConnectorEmergencyCallingConfigurationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Retrieves the emergency calling configuration details for the specified Voice Connector.</p>"
    },
    "GetVoiceConnectorExternalSystemsConfiguration":{
      "name":"GetVoiceConnectorExternalSystemsConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors/{voiceConnectorId}/external-systems-configuration",
        "responseCode":200
      },
      "input":{"shape":"GetVoiceConnectorExternalSystemsConfigurationRequest"},
      "output":{"shape":"GetVoiceConnectorExternalSystemsConfigurationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Gets information about an external systems configuration for a Voice Connector.</p>"
    },
    "GetVoiceConnectorGroup":{
      "name":"GetVoiceConnectorGroup",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connector-groups/{voiceConnectorGroupId}",
        "responseCode":200
      },
      "input":{"shape":"GetVoiceConnectorGroupRequest"},
      "output":{"shape":"GetVoiceConnectorGroupResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Retrieves details for the specified Amazon Chime SDK Voice Connector group, such as timestamps,name, and associated <code>VoiceConnectorItems</code>.</p>"
    },
    "GetVoiceConnectorLoggingConfiguration":{
      "name":"GetVoiceConnectorLoggingConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors/{voiceConnectorId}/logging-configuration",
        "responseCode":200
      },
      "input":{"shape":"GetVoiceConnectorLoggingConfigurationRequest"},
      "output":{"shape":"GetVoiceConnectorLoggingConfigurationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Retrieves the logging configuration settings for the specified Voice Connector. Shows whether SIP message logs are enabled for sending to Amazon CloudWatch Logs.</p>"
    },
    "GetVoiceConnectorOrigination":{
      "name":"GetVoiceConnectorOrigination",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors/{voiceConnectorId}/origination",
        "responseCode":200
      },
      "input":{"shape":"GetVoiceConnectorOriginationRequest"},
      "output":{"shape":"GetVoiceConnectorOriginationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Retrieves the origination settings for the specified Voice Connector.</p>"
    },
    "GetVoiceConnectorProxy":{
      "name":"GetVoiceConnectorProxy",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors/{voiceConnectorId}/programmable-numbers/proxy",
        "responseCode":200
      },
      "input":{"shape":"GetVoiceConnectorProxyRequest"},
      "output":{"shape":"GetVoiceConnectorProxyResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Retrieves the proxy configuration details for the specified Amazon Chime SDK Voice Connector.</p>"
    },
    "GetVoiceConnectorStreamingConfiguration":{
      "name":"GetVoiceConnectorStreamingConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors/{voiceConnectorId}/streaming-configuration",
        "responseCode":200
      },
      "input":{"shape":"GetVoiceConnectorStreamingConfigurationRequest"},
      "output":{"shape":"GetVoiceConnectorStreamingConfigurationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Retrieves the streaming configuration details for the specified Amazon Chime SDK Voice Connector. Shows whether media streaming is enabled for sending to Amazon Kinesis. It also shows the retention period, in hours, for the Amazon Kinesis data.</p>"
    },
    "GetVoiceConnectorTermination":{
      "name":"GetVoiceConnectorTermination",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors/{voiceConnectorId}/termination",
        "responseCode":200
      },
      "input":{"shape":"GetVoiceConnectorTerminationRequest"},
      "output":{"shape":"GetVoiceConnectorTerminationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Retrieves the termination setting details for the specified Voice Connector.</p>"
    },
    "GetVoiceConnectorTerminationHealth":{
      "name":"GetVoiceConnectorTerminationHealth",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors/{voiceConnectorId}/termination/health",
        "responseCode":200
      },
      "input":{"shape":"GetVoiceConnectorTerminationHealthRequest"},
      "output":{"shape":"GetVoiceConnectorTerminationHealthResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Retrieves information about the last time a <code>SIP OPTIONS</code> ping was received from your SIP infrastructure for the specified Amazon Chime SDK Voice Connector.</p>"
    },
    "GetVoiceProfile":{
      "name":"GetVoiceProfile",
      "http":{
        "method":"GET",
        "requestUri":"/voice-profiles/{VoiceProfileId}",
        "responseCode":200
      },
      "input":{"shape":"GetVoiceProfileRequest"},
      "output":{"shape":"GetVoiceProfileResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Retrieves the details of the specified voice profile.</p>"
    },
    "GetVoiceProfileDomain":{
      "name":"GetVoiceProfileDomain",
      "http":{
        "method":"GET",
        "requestUri":"/voice-profile-domains/{VoiceProfileDomainId}",
        "responseCode":200
      },
      "input":{"shape":"GetVoiceProfileDomainRequest"},
      "output":{"shape":"GetVoiceProfileDomainResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"AccessDeniedException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Retrieves the details of the specified voice profile domain.</p>"
    },
    "GetVoiceToneAnalysisTask":{
      "name":"GetVoiceToneAnalysisTask",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors/{VoiceConnectorId}/voice-tone-analysis-tasks/{VoiceToneAnalysisTaskId}",
        "responseCode":200
      },
      "input":{"shape":"GetVoiceToneAnalysisTaskRequest"},
      "output":{"shape":"GetVoiceToneAnalysisTaskResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"NotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottledClientException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceFailureException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Retrieves the details of a voice tone analysis task.</p>"
    },
    "ListAvailableVoiceConnectorRegions":{
      "name":"ListAvailableVoiceConnectorRegions",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connector-regions",
        "responseCode":200
      },
      "output":{"shape":"ListAvailableVoiceConnectorRegionsResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Lists the available AWS Regions in which you can create an Amazon Chime SDK Voice Connector.</p>"
    },
    "ListPhoneNumberOrders":{
      "name":"ListPhoneNumberOrders",
      "http":{
        "method":"GET",
        "requestUri":"/phone-number-orders",
        "responseCode":200
      },
      "input":{"shape":"ListPhoneNumberOrdersRequest"},
      "output":{"shape":"ListPhoneNumberOrdersResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Lists the phone numbers for an administrator's Amazon Chime SDK account.</p>"
    },
    "ListPhoneNumbers":{
      "name":"ListPhoneNumbers",
      "http":{
        "method":"GET",
        "requestUri":"/phone-numbers"
      },
      "input":{"shape":"ListPhoneNumbersRequest"},
      "output":{"shape":"ListPhoneNumbersResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Lists the phone numbers for the specified Amazon Chime SDK account, Amazon Chime SDK user, Amazon Chime SDK Voice Connector, or Amazon Chime SDK Voice Connector group.</p>"
    },
    "ListProxySessions":{
      "name":"ListProxySessions",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors/{voiceConnectorId}/proxy-sessions",
        "responseCode":200
      },
      "input":{"shape":"ListProxySessionsRequest"},
      "output":{"shape":"ListProxySessionsResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Lists the proxy sessions for the specified Amazon Chime SDK Voice Connector.</p>"
    },
    "ListSipMediaApplications":{
      "name":"ListSipMediaApplications",
      "http":{
        "method":"GET",
        "requestUri":"/sip-media-applications",
        "responseCode":200
      },
      "input":{"shape":"ListSipMediaApplicationsRequest"},
      "output":{"shape":"ListSipMediaApplicationsResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Lists the SIP media applications under the administrator's AWS account.</p>"
    },
    "ListSipRules":{
      "name":"ListSipRules",
      "http":{
        "method":"GET",
        "requestUri":"/sip-rules",
        "responseCode":200
      },
      "input":{"shape":"ListSipRulesRequest"},
      "output":{"shape":"ListSipRulesResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Lists the SIP rules under the administrator's AWS account.</p>"
    },
    "ListSupportedPhoneNumberCountries":{
      "name":"ListSupportedPhoneNumberCountries",
      "http":{
        "method":"GET",
        "requestUri":"/phone-number-countries",
        "responseCode":200
      },
      "input":{"shape":"ListSupportedPhoneNumberCountriesRequest"},
      "output":{"shape":"ListSupportedPhoneNumberCountriesResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Lists the countries that you can order phone numbers from.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Returns a list of the tags in a given resource.</p>"
    },
    "ListVoiceConnectorGroups":{
      "name":"ListVoiceConnectorGroups",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connector-groups",
        "responseCode":200
      },
      "input":{"shape":"ListVoiceConnectorGroupsRequest"},
      "output":{"shape":"ListVoiceConnectorGroupsResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Lists the Amazon Chime SDK Voice Connector groups in the administrator's AWS account.</p>"
    },
    "ListVoiceConnectorTerminationCredentials":{
      "name":"ListVoiceConnectorTerminationCredentials",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors/{voiceConnectorId}/termination/credentials",
        "responseCode":200
      },
      "input":{"shape":"ListVoiceConnectorTerminationCredentialsRequest"},
      "output":{"shape":"ListVoiceConnectorTerminationCredentialsResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Lists the SIP credentials for the specified Amazon Chime SDK Voice Connector.</p>"
    },
    "ListVoiceConnectors":{
      "name":"ListVoiceConnectors",
      "http":{
        "method":"GET",
        "requestUri":"/voice-connectors",
        "responseCode":200
      },
      "input":{"shape":"ListVoiceConnectorsRequest"},
      "output":{"shape":"ListVoiceConnectorsResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Lists the Amazon Chime SDK Voice Connectors in the administrators AWS account.</p>"
    },
    "ListVoiceProfileDomains":{
      "name":"ListVoiceProfileDomains",
      "http":{
        "method":"GET",
        "requestUri":"/voice-profile-domains",
        "responseCode":200
      },
      "input":{"shape":"ListVoiceProfileDomainsRequest"},
      "output":{"shape":"ListVoiceProfileDomainsResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Lists the specified voice profile domains in the administrator's AWS account. </p>"
    },
    "ListVoiceProfiles":{
      "name":"ListVoiceProfiles",
      "http":{
        "method":"GET",
        "requestUri":"/voice-profiles",
        "responseCode":200
      },
      "input":{"shape":"ListVoiceProfilesRequest"},
      "output":{"shape":"ListVoiceProfilesResponse"},
      "errors":[
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Lists the voice profiles in a voice profile domain.</p>"
    },
    "PutSipMediaApplicationAlexaSkillConfiguration":{
      "name":"PutSipMediaApplicationAlexaSkillConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/sip-media-applications/{sipMediaApplicationId}/alexa-skill-configuration",
        "responseCode":200
      },
      "input":{"shape":"PutSipMediaApplicationAlexaSkillConfigurationRequest"},
      "output":{"shape":"PutSipMediaApplicationAlexaSkillConfigurationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Updates the Alexa Skill configuration for the SIP media application.</p> <important> <p>Due to changes made by the Amazon Alexa service, this API is no longer available for use. For more information, refer to the <a href=\"https://developer.amazon.com/en-US/alexa/alexasmartproperties\">Alexa Smart Properties</a> page.</p> </important>",
      "deprecated":true,
      "deprecatedMessage":"Due to changes made by the Amazon Alexa service, this API is no longer available for use. For more information, refer to the Alexa Smart Properties page(https://developer.amazon.com/en-US/alexa/alexasmartproperties)."
    },
    "PutSipMediaApplicationLoggingConfiguration":{
      "name":"PutSipMediaApplicationLoggingConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/sip-media-applications/{sipMediaApplicationId}/logging-configuration",
        "responseCode":200
      },
      "input":{"shape":"PutSipMediaApplicationLoggingConfigurationRequest"},
      "output":{"shape":"PutSipMediaApplicationLoggingConfigurationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Updates the logging configuration for the specified SIP media application.</p>"
    },
    "PutVoiceConnectorEmergencyCallingConfiguration":{
      "name":"PutVoiceConnectorEmergencyCallingConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/voice-connectors/{voiceConnectorId}/emergency-calling-configuration",
        "responseCode":200
      },
      "input":{"shape":"PutVoiceConnectorEmergencyCallingConfigurationRequest"},
      "output":{"shape":"PutVoiceConnectorEmergencyCallingConfigurationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Updates a Voice Connector's emergency calling configuration.</p>"
    },
    "PutVoiceConnectorExternalSystemsConfiguration":{
      "name":"PutVoiceConnectorExternalSystemsConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/voice-connectors/{voiceConnectorId}/external-systems-configuration",
        "responseCode":200
      },
      "input":{"shape":"PutVoiceConnectorExternalSystemsConfigurationRequest"},
      "output":{"shape":"PutVoiceConnectorExternalSystemsConfigurationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Adds an external systems configuration to a Voice Connector.</p>",
      "idempotent":true
    },
    "PutVoiceConnectorLoggingConfiguration":{
      "name":"PutVoiceConnectorLoggingConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/voice-connectors/{voiceConnectorId}/logging-configuration",
        "responseCode":200
      },
      "input":{"shape":"PutVoiceConnectorLoggingConfigurationRequest"},
      "output":{"shape":"PutVoiceConnectorLoggingConfigurationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Updates a Voice Connector's logging configuration.</p>"
    },
    "PutVoiceConnectorOrigination":{
      "name":"PutVoiceConnectorOrigination",
      "http":{
        "method":"PUT",
        "requestUri":"/voice-connectors/{voiceConnectorId}/origination",
        "responseCode":200
      },
      "input":{"shape":"PutVoiceConnectorOriginationRequest"},
      "output":{"shape":"PutVoiceConnectorOriginationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Updates a Voice Connector's origination settings.</p>"
    },
    "PutVoiceConnectorProxy":{
      "name":"PutVoiceConnectorProxy",
      "http":{
        "method":"PUT",
        "requestUri":"/voice-connectors/{voiceConnectorId}/programmable-numbers/proxy"
      },
      "input":{"shape":"PutVoiceConnectorProxyRequest"},
      "output":{"shape":"PutVoiceConnectorProxyResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Puts the specified proxy configuration to the specified Amazon Chime SDK Voice Connector.</p>"
    },
    "PutVoiceConnectorStreamingConfiguration":{
      "name":"PutVoiceConnectorStreamingConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/voice-connectors/{voiceConnectorId}/streaming-configuration",
        "responseCode":200
      },
      "input":{"shape":"PutVoiceConnectorStreamingConfigurationRequest"},
      "output":{"shape":"PutVoiceConnectorStreamingConfigurationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Updates a Voice Connector's streaming configuration settings.</p>"
    },
    "PutVoiceConnectorTermination":{
      "name":"PutVoiceConnectorTermination",
      "http":{
        "method":"PUT",
        "requestUri":"/voice-connectors/{voiceConnectorId}/termination",
        "responseCode":200
      },
      "input":{"shape":"PutVoiceConnectorTerminationRequest"},
      "output":{"shape":"PutVoiceConnectorTerminationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Updates a Voice Connector's termination settings.</p>"
    },
    "PutVoiceConnectorTerminationCredentials":{
      "name":"PutVoiceConnectorTerminationCredentials",
      "http":{
        "method":"POST",
        "requestUri":"/voice-connectors/{voiceConnectorId}/termination/credentials?operation=put",
        "responseCode":204
      },
      "input":{"shape":"PutVoiceConnectorTerminationCredentialsRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Updates a Voice Connector's termination credentials.</p>"
    },
    "RestorePhoneNumber":{
      "name":"RestorePhoneNumber",
      "http":{
        "method":"POST",
        "requestUri":"/phone-numbers/{phoneNumberId}?operation=restore",
        "responseCode":200
      },
      "input":{"shape":"RestorePhoneNumberRequest"},
      "output":{"shape":"RestorePhoneNumberResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Restores a deleted phone number.</p>"
    },
    "SearchAvailablePhoneNumbers":{
      "name":"SearchAvailablePhoneNumbers",
      "http":{
        "method":"GET",
        "requestUri":"/search?type=phone-numbers"
      },
      "input":{"shape":"SearchAvailablePhoneNumbersRequest"},
      "output":{"shape":"SearchAvailablePhoneNumbersResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"AccessDeniedException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Searches the provisioned phone numbers in an organization.</p>"
    },
    "StartSpeakerSearchTask":{
      "name":"StartSpeakerSearchTask",
      "http":{
        "method":"POST",
        "requestUri":"/voice-connectors/{VoiceConnectorId}/speaker-search-tasks",
        "responseCode":201
      },
      "input":{"shape":"StartSpeakerSearchTaskRequest"},
      "output":{"shape":"StartSpeakerSearchTaskResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"GoneException"},
        {"shape":"UnprocessableEntityException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Starts a speaker search task.</p> <important> <p>Before starting any speaker search tasks, you must provide all notices and obtain all consents from the speaker as required under applicable privacy and biometrics laws, and as required under the <a href=\"https://aws.amazon.com/service-terms/\">AWS service terms</a> for the Amazon Chime SDK.</p> </important>"
    },
    "StartVoiceToneAnalysisTask":{
      "name":"StartVoiceToneAnalysisTask",
      "http":{
        "method":"POST",
        "requestUri":"/voice-connectors/{VoiceConnectorId}/voice-tone-analysis-tasks",
        "responseCode":201
      },
      "input":{"shape":"StartVoiceToneAnalysisTaskRequest"},
      "output":{"shape":"StartVoiceToneAnalysisTaskResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"GoneException"},
        {"shape":"UnprocessableEntityException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Starts a voice tone analysis task. For more information about voice tone analysis, see <a href=\"https://docs.aws.amazon.com/chime-sdk/latest/dg/pstn-voice-analytics.html\">Using Amazon Chime SDK voice analytics</a> in the <i>Amazon Chime SDK Developer Guide</i>.</p> <important> <p>Before starting any voice tone analysis tasks, you must provide all notices and obtain all consents from the speaker as required under applicable privacy and biometrics laws, and as required under the <a href=\"https://aws.amazon.com/service-terms/\">AWS service terms</a> for the Amazon Chime SDK.</p> </important>"
    },
    "StopSpeakerSearchTask":{
      "name":"StopSpeakerSearchTask",
      "http":{
        "method":"POST",
        "requestUri":"/voice-connectors/{VoiceConnectorId}/speaker-search-tasks/{SpeakerSearchTaskId}?operation=stop",
        "responseCode":204
      },
      "input":{"shape":"StopSpeakerSearchTaskRequest"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"UnprocessableEntityException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Stops a speaker search task.</p>"
    },
    "StopVoiceToneAnalysisTask":{
      "name":"StopVoiceToneAnalysisTask",
      "http":{
        "method":"POST",
        "requestUri":"/voice-connectors/{VoiceConnectorId}/voice-tone-analysis-tasks/{VoiceToneAnalysisTaskId}?operation=stop",
        "responseCode":204
      },
      "input":{"shape":"StopVoiceToneAnalysisTaskRequest"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"UnprocessableEntityException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Stops a voice tone analysis task.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags?operation=tag-resource",
        "responseCode":204
      },
      "input":{"shape":"TagResourceRequest"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"NotFoundException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Adds a tag to the specified resource.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags?operation=untag-resource",
        "responseCode":204
      },
      "input":{"shape":"UntagResourceRequest"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"ForbiddenException"},
        {"shape":"NotFoundException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Removes tags from a resource.</p>"
    },
    "UpdateGlobalSettings":{
      "name":"UpdateGlobalSettings",
      "http":{
        "method":"PUT",
        "requestUri":"/settings",
        "responseCode":204
      },
      "input":{"shape":"UpdateGlobalSettingsRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Updates global settings for the Amazon Chime SDK Voice Connectors in an AWS account.</p>"
    },
    "UpdatePhoneNumber":{
      "name":"UpdatePhoneNumber",
      "http":{
        "method":"POST",
        "requestUri":"/phone-numbers/{phoneNumberId}",
        "responseCode":200
      },
      "input":{"shape":"UpdatePhoneNumberRequest"},
      "output":{"shape":"UpdatePhoneNumberResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Updates phone number details, such as product type, calling name, or phone number name for the specified phone number ID. You can update one phone number detail at a time. For example, you can update either the product type, calling name, or phone number name in one action.</p> <p>For numbers outside the U.S., you must use the Amazon Chime SDK SIP Media Application Dial-In product type.</p> <p>Updates to outbound calling names can take 72 hours to complete. Pending updates to outbound calling names must be complete before you can request another update.</p>"
    },
    "UpdatePhoneNumberSettings":{
      "name":"UpdatePhoneNumberSettings",
      "http":{
        "method":"PUT",
        "requestUri":"/settings/phone-number",
        "responseCode":204
      },
      "input":{"shape":"UpdatePhoneNumberSettingsRequest"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Updates the phone number settings for the administrator's AWS account, such as the default outbound calling name. You can update the default outbound calling name once every seven days. Outbound calling names can take up to 72 hours to update.</p>"
    },
    "UpdateProxySession":{
      "name":"UpdateProxySession",
      "http":{
        "method":"POST",
        "requestUri":"/voice-connectors/{voiceConnectorId}/proxy-sessions/{proxySessionId}",
        "responseCode":201
      },
      "input":{"shape":"UpdateProxySessionRequest"},
      "output":{"shape":"UpdateProxySessionResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Updates the specified proxy session details, such as voice or SMS capabilities.</p>"
    },
    "UpdateSipMediaApplication":{
      "name":"UpdateSipMediaApplication",
      "http":{
        "method":"PUT",
        "requestUri":"/sip-media-applications/{sipMediaApplicationId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateSipMediaApplicationRequest"},
      "output":{"shape":"UpdateSipMediaApplicationResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Updates the details of the specified SIP media application.</p>"
    },
    "UpdateSipMediaApplicationCall":{
      "name":"UpdateSipMediaApplicationCall",
      "http":{
        "method":"POST",
        "requestUri":"/sip-media-applications/{sipMediaApplicationId}/calls/{transactionId}",
        "responseCode":202
      },
      "input":{"shape":"UpdateSipMediaApplicationCallRequest"},
      "output":{"shape":"UpdateSipMediaApplicationCallResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ThrottledClientException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Invokes the AWS Lambda function associated with the SIP media application and transaction ID in an update request. The Lambda function can then return a new set of actions.</p>"
    },
    "UpdateSipRule":{
      "name":"UpdateSipRule",
      "http":{
        "method":"PUT",
        "requestUri":"/sip-rules/{sipRuleId}",
        "responseCode":202
      },
      "input":{"shape":"UpdateSipRuleRequest"},
      "output":{"shape":"UpdateSipRuleResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Updates the details of the specified SIP rule.</p>"
    },
    "UpdateVoiceConnector":{
      "name":"UpdateVoiceConnector",
      "http":{
        "method":"PUT",
        "requestUri":"/voice-connectors/{voiceConnectorId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateVoiceConnectorRequest"},
      "output":{"shape":"UpdateVoiceConnectorResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Updates the details for the specified Amazon Chime SDK Voice Connector.</p>"
    },
    "UpdateVoiceConnectorGroup":{
      "name":"UpdateVoiceConnectorGroup",
      "http":{
        "method":"PUT",
        "requestUri":"/voice-connector-groups/{voiceConnectorGroupId}",
        "responseCode":202
      },
      "input":{"shape":"UpdateVoiceConnectorGroupRequest"},
      "output":{"shape":"UpdateVoiceConnectorGroupResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Updates the settings for the specified Amazon Chime SDK Voice Connector group.</p>"
    },
    "UpdateVoiceProfile":{
      "name":"UpdateVoiceProfile",
      "http":{
        "method":"PUT",
        "requestUri":"/voice-profiles/{VoiceProfileId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateVoiceProfileRequest"},
      "output":{"shape":"UpdateVoiceProfileResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"UnauthorizedClientException"},
        {"shape":"ForbiddenException"},
        {"shape":"AccessDeniedException"},
        {"shape":"NotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"GoneException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Updates the specified voice profile’s voice print and refreshes its expiration timestamp.</p> <important> <p>As a condition of using this feature, you acknowledge that the collection, use, storage, and retention of your caller’s biometric identifiers and biometric information (“biometric data”) in the form of a digital voiceprint requires the caller’s informed consent via a written release. Such consent is required under various state laws, including biometrics laws in Illinois, Texas, Washington and other state privacy laws.</p> <p>You must provide a written release to each caller through a process that clearly reflects each caller’s informed consent before using Amazon Chime SDK Voice Insights service, as required under the terms of your agreement with AWS governing your use of the service.</p> </important>"
    },
    "UpdateVoiceProfileDomain":{
      "name":"UpdateVoiceProfileDomain",
      "http":{
        "method":"PUT",
        "requestUri":"/voice-profile-domains/{VoiceProfileDomainId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateVoiceProfileDomainRequest"},
      "output":{"shape":"UpdateVoiceProfileDomainResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"AccessDeniedException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Updates the settings for the specified voice profile domain.</p>"
    },
    "ValidateE911Address":{
      "name":"ValidateE911Address",
      "http":{
        "method":"POST",
        "requestUri":"/emergency-calling/address",
        "responseCode":202
      },
      "input":{"shape":"ValidateE911AddressRequest"},
      "output":{"shape":"ValidateE911AddressResponse"},
      "errors":[
        {"shape":"UnauthorizedClientException"},
        {"shape":"NotFoundException"},
        {"shape":"ForbiddenException"},
        {"shape":"BadRequestException"},
        {"shape":"ThrottledClientException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ServiceFailureException"}
      ],
      "documentation":"<p>Validates an address to be used for 911 calls made with Amazon Chime SDK Voice Connectors. You can use validated addresses in a Presence Information Data Format Location Object file that you include in SIP requests. That helps ensure that addresses are routed to the appropriate Public Safety Answering Point.</p>"
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>You don't have the permissions needed to run this action.</p>",
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "Address":{
      "type":"structure",
      "members":{
        "streetName":{
          "shape":"SensitiveNonEmptyString",
          "documentation":"<p>The address street, such as <code>8th Avenue</code>.</p>"
        },
        "streetSuffix":{
          "shape":"SensitiveNonEmptyString",
          "documentation":"<p>The address suffix, such as the <code>N</code> in <code>8th Avenue N</code>.</p>"
        },
        "postDirectional":{
          "shape":"SensitiveNonEmptyString",
          "documentation":"<p>An address suffix location, such as the <code>S. Unit A</code> in <code>Central Park S. Unit A</code>.</p>"
        },
        "preDirectional":{
          "shape":"SensitiveNonEmptyString",
          "documentation":"<p>An address prefix location, such as the <code>N</code> in <code>N. Third St.</code> </p>"
        },
        "streetNumber":{
          "shape":"SensitiveNonEmptyString",
          "documentation":"<p>The numeric portion of an address.</p>"
        },
        "city":{
          "shape":"SensitiveNonEmptyString",
          "documentation":"<p>The city of an address.</p>"
        },
        "state":{
          "shape":"SensitiveNonEmptyString",
          "documentation":"<p>The state of an address.</p>"
        },
        "postalCode":{
          "shape":"SensitiveNonEmptyString",
          "documentation":"<p>The postal code of an address.</p>"
        },
        "postalCodePlus4":{
          "shape":"SensitiveNonEmptyString",
          "documentation":"<p>The zip + 4 or postal code + 4 of an address.</p>"
        },
        "country":{
          "shape":"SensitiveNonEmptyString",
          "documentation":"<p>The country of an address.</p>"
        }
      },
      "documentation":"<p>A validated address.</p>"
    },
    "AlexaSkillId":{
      "type":"string",
      "max":64,
      "pattern":"amzn1\\.application-oa2-client\\.[0-9a-fA-F]{32}",
      "sensitive":true
    },
    "AlexaSkillIdList":{
      "type":"list",
      "member":{"shape":"AlexaSkillId"},
      "max":1,
      "min":1
    },
    "AlexaSkillStatus":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "INACTIVE"
      ]
    },
    "Alpha2CountryCode":{
      "type":"string",
      "pattern":"[A-Z]{2}"
    },
    "AreaCode":{
      "type":"string",
      "pattern":"^$|^[0-9]{3,3}$"
    },
    "Arn":{
      "type":"string",
      "max":1024,
      "min":1,
      "pattern":"^arn[\\/\\:\\-\\_\\.a-zA-Z0-9]+$",
      "sensitive":true
    },
    "AssociatePhoneNumbersWithVoiceConnectorGroupRequest":{
      "type":"structure",
      "required":[
        "VoiceConnectorGroupId",
        "E164PhoneNumbers"
      ],
      "members":{
        "VoiceConnectorGroupId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The Amazon Chime SDK Voice Connector group ID.</p>",
          "location":"uri",
          "locationName":"voiceConnectorGroupId"
        },
        "E164PhoneNumbers":{
          "shape":"E164PhoneNumberList",
          "documentation":"<p>List of phone numbers, in E.164 format.</p>"
        },
        "ForceAssociate":{
          "shape":"NullableBoolean",
          "documentation":"<p>If true, associates the provided phone numbers with the provided Amazon Chime SDK Voice Connector Group and removes any previously existing associations. If false, does not associate any phone numbers that have previously existing associations.</p>"
        }
      }
    },
    "AssociatePhoneNumbersWithVoiceConnectorGroupResponse":{
      "type":"structure",
      "members":{
        "PhoneNumberErrors":{
          "shape":"PhoneNumberErrorList",
          "documentation":"<p>If the action fails for one or more of the phone numbers in the request, a list of the phone numbers is returned, along with error codes and error messages.</p>"
        }
      }
    },
    "AssociatePhoneNumbersWithVoiceConnectorRequest":{
      "type":"structure",
      "required":[
        "VoiceConnectorId",
        "E164PhoneNumbers"
      ],
      "members":{
        "VoiceConnectorId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The Voice Connector ID.</p>",
          "location":"uri",
          "locationName":"voiceConnectorId"
        },
        "E164PhoneNumbers":{
          "shape":"E164PhoneNumberList",
          "documentation":"<p>List of phone numbers, in E.164 format.</p>"
        },
        "ForceAssociate":{
          "shape":"NullableBoolean",
          "documentation":"<p>If true, associates the provided phone numbers with the provided Amazon Chime SDK Voice Connector and removes any previously existing associations. If false, does not associate any phone numbers that have previously existing associations.</p>"
        }
      }
    },
    "AssociatePhoneNumbersWithVoiceConnectorResponse":{
      "type":"structure",
      "members":{
        "PhoneNumberErrors":{
          "shape":"PhoneNumberErrorList",
          "documentation":"<p>If the action fails for one or more of the phone numbers in the request, a list of the phone numbers is returned, along with error codes and error messages.</p>"
        }
      }
    },
    "BadRequestException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>The input parameters don't match the service's restrictions.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "BatchDeletePhoneNumberRequest":{
      "type":"structure",
      "required":["PhoneNumberIds"],
      "members":{
        "PhoneNumberIds":{
          "shape":"NonEmptyStringList",
          "documentation":"<p>List of phone number IDs.</p>"
        }
      }
    },
    "BatchDeletePhoneNumberResponse":{
      "type":"structure",
      "members":{
        "PhoneNumberErrors":{
          "shape":"PhoneNumberErrorList",
          "documentation":"<p>If the action fails for one or more of the phone numbers in the request, a list of the phone numbers is returned, along with error codes and error messages.</p>"
        }
      }
    },
    "BatchUpdatePhoneNumberRequest":{
      "type":"structure",
      "required":["UpdatePhoneNumberRequestItems"],
      "members":{
        "UpdatePhoneNumberRequestItems":{
          "shape":"UpdatePhoneNumberRequestItemList",
          "documentation":"<p>Lists the phone numbers in the update request.</p>"
        }
      }
    },
    "BatchUpdatePhoneNumberResponse":{
      "type":"structure",
      "members":{
        "PhoneNumberErrors":{
          "shape":"PhoneNumberErrorList",
          "documentation":"<p>A list of failed phone numbers and their error messages.</p>"
        }
      }
    },
    "Boolean":{"type":"boolean"},
    "CallDetails":{
      "type":"structure",
      "members":{
        "VoiceConnectorId":{
          "shape":"NonEmptyString128",
          "documentation":"<p>The Voice Connector ID.</p>"
        },
        "TransactionId":{
          "shape":"NonEmptyString256",
          "documentation":"<p>The transaction ID of a Voice Connector call.</p>"
        },
        "IsCaller":{
          "shape":"Boolean",
          "documentation":"<p>Identifies a person as the caller or the callee.</p>"
        }
      },
      "documentation":"<p>The details of an Amazon Chime SDK Voice Connector call.</p>"
    },
    "CallLegType":{
      "type":"string",
      "enum":[
        "Caller",
        "Callee"
      ]
    },
    "CallingName":{
      "type":"string",
      "pattern":"^$|^[a-zA-Z0-9 ]{2,15}$",
      "sensitive":true
    },
    "CallingNameStatus":{
      "type":"string",
      "enum":[
        "Unassigned",
        "UpdateInProgress",
        "UpdateSucceeded",
        "UpdateFailed"
      ]
    },
    "CallingRegion":{"type":"string"},
    "CallingRegionList":{
      "type":"list",
      "member":{"shape":"CallingRegion"}
    },
    "CandidateAddress":{
      "type":"structure",
      "members":{
        "streetInfo":{
          "shape":"SensitiveNonEmptyString",
          "documentation":"<p>The street information of the candidate address.</p>"
        },
        "streetNumber":{
          "shape":"SensitiveNonEmptyString",
          "documentation":"<p>The numeric portion of the candidate address.</p>"
        },
        "city":{
          "shape":"SensitiveNonEmptyString",
          "documentation":"<p>The city of the candidate address.</p>"
        },
        "state":{
          "shape":"SensitiveNonEmptyString",
          "documentation":"<p>The state of the candidate address.</p>"
        },
        "postalCode":{
          "shape":"SensitiveNonEmptyString",
          "documentation":"<p>The postal code of the candidate address.</p>"
        },
        "postalCodePlus4":{
          "shape":"SensitiveNonEmptyString",
          "documentation":"<p>The zip + 4 or postal code +4 of the candidate address.</p>"
        },
        "country":{
          "shape":"SensitiveNonEmptyString",
          "documentation":"<p>The country of the candidate address.</p>"
        }
      },
      "documentation":"<p>A suggested address.</p>"
    },
    "CandidateAddressList":{
      "type":"list",
      "member":{"shape":"CandidateAddress"}
    },
    "Capability":{
      "type":"string",
      "enum":[
        "Voice",
        "SMS"
      ]
    },
    "CapabilityList":{
      "type":"list",
      "member":{"shape":"Capability"}
    },
    "ClientRequestId":{
      "type":"string",
      "pattern":"^[-_a-zA-Z0-9]*${2,64}$"
    },
    "ConfidenceScore":{
      "type":"float",
      "max":1,
      "min":0
    },
    "ConflictException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>Multiple instances of the same request were made simultaneously.</p>",
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "ContactCenterSystemType":{
      "type":"string",
      "enum":[
        "GENESYS_ENGAGE_ON_PREMISES",
        "AVAYA_AURA_CALL_CENTER_ELITE",
        "AVAYA_AURA_CONTACT_CENTER",
        "CISCO_UNIFIED_CONTACT_CENTER_ENTERPRISE"
      ]
    },
    "ContactCenterSystemTypeList":{
      "type":"list",
      "member":{"shape":"ContactCenterSystemType"}
    },
    "Country":{
      "type":"string",
      "pattern":"^$|^[A-Z]{2,2}$"
    },
    "CountryList":{
      "type":"list",
      "member":{"shape":"Country"},
      "max":100,
      "min":1
    },
    "CpsLimit":{
      "type":"integer",
      "min":1
    },
    "CreatePhoneNumberOrderRequest":{
      "type":"structure",
      "required":[
        "ProductType",
        "E164PhoneNumbers"
      ],
      "members":{
        "ProductType":{
          "shape":"PhoneNumberProductType",
          "documentation":"<p>The phone number product type.</p>"
        },
        "E164PhoneNumbers":{
          "shape":"E164PhoneNumberList",
          "documentation":"<p>List of phone numbers, in E.164 format.</p>"
        },
        "Name":{
          "shape":"PhoneNumberName",
          "documentation":"<p>Specifies the name assigned to one or more phone numbers.</p>"
        }
      }
    },
    "CreatePhoneNumberOrderResponse":{
      "type":"structure",
      "members":{
        "PhoneNumberOrder":{
          "shape":"PhoneNumberOrder",
          "documentation":"<p>The phone number order details.</p>"
        }
      }
    },
    "CreateProxySessionRequest":{
      "type":"structure",
      "required":[
        "ParticipantPhoneNumbers",
        "Capabilities",
        "VoiceConnectorId"
      ],
      "members":{
        "VoiceConnectorId":{
          "shape":"NonEmptyString128",
          "documentation":"<p>The Voice Connector ID.</p>",
          "location":"uri",
          "locationName":"voiceConnectorId"
        },
        "ParticipantPhoneNumbers":{
          "shape":"ParticipantPhoneNumberList",
          "documentation":"<p>The participant phone numbers.</p>"
        },
        "Name":{
          "shape":"ProxySessionNameString",
          "documentation":"<p>The name of the proxy session.</p>"
        },
        "ExpiryMinutes":{
          "shape":"PositiveInteger",
          "documentation":"<p>The number of minutes allowed for the proxy session.</p>"
        },
        "Capabilities":{
          "shape":"CapabilityList",
          "documentation":"<p>The proxy session's capabilities.</p>"
        },
        "NumberSelectionBehavior":{
          "shape":"NumberSelectionBehavior",
          "documentation":"<p>The preference for proxy phone number reuse, or stickiness, between the same participants across sessions.</p>"
        },
        "GeoMatchLevel":{
          "shape":"GeoMatchLevel",
          "documentation":"<p>The preference for matching the country or area code of the proxy phone number with that of the first participant.</p>"
        },
        "GeoMatchParams":{
          "shape":"GeoMatchParams",
          "documentation":"<p>The country and area code for the proxy phone number.</p>"
        }
      }
    },
    "CreateProxySessionResponse":{
      "type":"structure",
      "members":{
        "ProxySession":{
          "shape":"ProxySession",
          "documentation":"<p>The proxy session details.</p>"
        }
      }
    },
    "CreateSipMediaApplicationCallRequest":{
      "type":"structure",
      "required":[
        "FromPhoneNumber",
        "ToPhoneNumber",
        "SipMediaApplicationId"
      ],
      "members":{
        "FromPhoneNumber":{
          "shape":"E164PhoneNumber",
          "documentation":"<p>The phone number that a user calls from. This is a phone number in your Amazon Chime SDK phone number inventory.</p>"
        },
        "ToPhoneNumber":{
          "shape":"E164PhoneNumber",
          "documentation":"<p>The phone number that the service should call.</p>"
        },
        "SipMediaApplicationId":{
          "shape":"NonEmptyString",
          "documentation":"<p>The ID of the SIP media application.</p>",
          "location":"uri",
          "locationName":"sipMediaApplicationId"
        },
        "SipHeaders":{
          "shape":"SipHeadersMap",
          "documentation":"<p>The SIP headers added to an outbound call leg.</p>"
        },
        "ArgumentsMap":{
          "shape":"SMACreateCallArgumentsMap",
          "documentation":"<p>Context passed to a CreateSipMediaApplication API call. For example, you could pass key-value pairs such as: <code>\"FirstName\": \"John\", \"LastName\": \"Doe\"</code> </p>"
        }
      }
    },
    "CreateSipMediaApplicationCallResponse":{
      "type":"structure",
      "members":{
        "SipMediaApplicationCall":{
          "shape":"SipMediaApplicationCall",
          "documentation":"<p>The actual call.</p>"
        }
      }
    },
    "CreateSipMediaApplicationRequest":{
      "type":"structure",
      "required":[
        "AwsRegion",
        "Name",
[...]
