<div class="gh-stats-metric">
    <div class="gh-stats-metric-data">
        <h5 class="gh-stats-metric-label">
            {{@label}}
        </h5>
        {{#if @value}}
            <div class="gh-stats-metric-value">
                <span class="value">{{@value}}</span>
            </div>
        {{/if}}
    </div>
</div>