{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2011-01-01",
    "endpointPrefix":"autoscaling",
    "protocol":"query",
    "protocols":["query"],
    "serviceFullName":"Auto Scaling",
    "serviceId":"Auto Scaling",
    "signatureVersion":"v4",
    "uid":"autoscaling-2011-01-01",
    "xmlNamespace":"http://autoscaling.amazonaws.com/doc/2011-01-01/",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AttachInstances":{
      "name":"AttachInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachInstancesQuery"},
      "errors":[
        {"shape":"ResourceContentionFault"},
        {"shape":"ServiceLinkedRoleFailure"}
      ],
      "documentation":"<p>Attaches one or more EC2 instances to the specified Auto Scaling group.</p> <p>When you attach instances, Amazon EC2 Auto Scaling increases the desired capacity of the group by the number of instances being attached. If the number of instances being attached plus the desired capacity of the group exceeds the maximum size of the group, the operation fails.</p> <p>If there is a Classic Load Balancer attached to your Auto Scaling group, the instances are also registered with the load balancer. If there are target groups attached to your Auto Scaling group, the instances are also registered with the target groups.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-detach-attach-instances.html\">Detach or attach instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
    },
    "AttachLoadBalancerTargetGroups":{
      "name":"AttachLoadBalancerTargetGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachLoadBalancerTargetGroupsType"},
      "output":{
        "shape":"AttachLoadBalancerTargetGroupsResultType",
        "resultWrapper":"AttachLoadBalancerTargetGroupsResult"
      },
      "errors":[
        {"shape":"ResourceContentionFault"},
        {"shape":"ServiceLinkedRoleFailure"}
      ],
      "documentation":"<note> <p>This API operation is superseded by <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_AttachTrafficSources.html\">AttachTrafficSources</a>, which can attach multiple traffic sources types. We recommend using <code>AttachTrafficSources</code> to simplify how you manage traffic sources. However, we continue to support <code>AttachLoadBalancerTargetGroups</code>. You can use both the original <code>AttachLoadBalancerTargetGroups</code> API operation and <code>AttachTrafficSources</code> on the same Auto Scaling group.</p> </note> <p>Attaches one or more target groups to the specified Auto Scaling group.</p> <p>This operation is used with the following load balancer types: </p> <ul> <li> <p>Application Load Balancer - Operates at the application layer (layer 7) and supports HTTP and HTTPS. </p> </li> <li> <p>Network Load Balancer - Operates at the transport layer (layer 4) and supports TCP, TLS, and UDP. </p> </li> <li> <p>Gateway Load Balancer - Operates at the network layer (layer 3).</p> </li> </ul> <p>To describe the target groups for an Auto Scaling group, call the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DescribeLoadBalancerTargetGroups.html\">DescribeLoadBalancerTargetGroups</a> API. To detach the target group from the Auto Scaling group, call the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DetachLoadBalancerTargetGroups.html\">DetachLoadBalancerTargetGroups</a> API.</p> <p>This operation is additive and does not detach existing target groups or Classic Load Balancers from the Auto Scaling group.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-load-balancer.html\">Use Elastic Load Balancing to distribute traffic across the instances in your Auto Scaling group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>. </p>"
    },
    "AttachLoadBalancers":{
      "name":"AttachLoadBalancers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachLoadBalancersType"},
      "output":{
        "shape":"AttachLoadBalancersResultType",
        "resultWrapper":"AttachLoadBalancersResult"
      },
      "errors":[
        {"shape":"ResourceContentionFault"},
        {"shape":"ServiceLinkedRoleFailure"}
      ],
      "documentation":"<note> <p>This API operation is superseded by <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_AttachTrafficSources.html\">https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_AttachTrafficSources.html</a>, which can attach multiple traffic sources types. We recommend using <code>AttachTrafficSources</code> to simplify how you manage traffic sources. However, we continue to support <code>AttachLoadBalancers</code>. You can use both the original <code>AttachLoadBalancers</code> API operation and <code>AttachTrafficSources</code> on the same Auto Scaling group.</p> </note> <p>Attaches one or more Classic Load Balancers to the specified Auto Scaling group. Amazon EC2 Auto Scaling registers the running instances with these Classic Load Balancers.</p> <p>To describe the load balancers for an Auto Scaling group, call the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DescribeLoadBalancers.html\">DescribeLoadBalancers</a> API. To detach a load balancer from the Auto Scaling group, call the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DetachLoadBalancers.html\">DetachLoadBalancers</a> API.</p> <p>This operation is additive and does not detach existing Classic Load Balancers or target groups from the Auto Scaling group.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-load-balancer.html\">Use Elastic Load Balancing to distribute traffic across the instances in your Auto Scaling group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
    },
    "AttachTrafficSources":{
      "name":"AttachTrafficSources",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachTrafficSourcesType"},
      "output":{
        "shape":"AttachTrafficSourcesResultType",
        "resultWrapper":"AttachTrafficSourcesResult"
      },
      "errors":[
        {"shape":"ResourceContentionFault"},
        {"shape":"ServiceLinkedRoleFailure"}
      ],
      "documentation":"<p>Attaches one or more traffic sources to the specified Auto Scaling group.</p> <p>You can use any of the following as traffic sources for an Auto Scaling group:</p> <ul> <li> <p>Application Load Balancer</p> </li> <li> <p>Classic Load Balancer</p> </li> <li> <p>Gateway Load Balancer</p> </li> <li> <p>Network Load Balancer</p> </li> <li> <p>VPC Lattice</p> </li> </ul> <p>This operation is additive and does not detach existing traffic sources from the Auto Scaling group. </p> <p>After the operation completes, use the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DescribeTrafficSources.html\">DescribeTrafficSources</a> API to return details about the state of the attachments between traffic sources and your Auto Scaling group. To detach a traffic source from the Auto Scaling group, call the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DetachTrafficSources.html\">DetachTrafficSources</a> API.</p>"
    },
    "BatchDeleteScheduledAction":{
      "name":"BatchDeleteScheduledAction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDeleteScheduledActionType"},
      "output":{
        "shape":"BatchDeleteScheduledActionAnswer",
        "resultWrapper":"BatchDeleteScheduledActionResult"
      },
      "errors":[
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Deletes one or more scheduled actions for the specified Auto Scaling group.</p>"
    },
    "BatchPutScheduledUpdateGroupAction":{
      "name":"BatchPutScheduledUpdateGroupAction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchPutScheduledUpdateGroupActionType"},
      "output":{
        "shape":"BatchPutScheduledUpdateGroupActionAnswer",
        "resultWrapper":"BatchPutScheduledUpdateGroupActionResult"
      },
      "errors":[
        {"shape":"AlreadyExistsFault"},
        {"shape":"LimitExceededFault"},
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Creates or updates one or more scheduled scaling actions for an Auto Scaling group.</p>"
    },
    "CancelInstanceRefresh":{
      "name":"CancelInstanceRefresh",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelInstanceRefreshType"},
      "output":{
        "shape":"CancelInstanceRefreshAnswer",
        "resultWrapper":"CancelInstanceRefreshResult"
      },
      "errors":[
        {"shape":"LimitExceededFault"},
        {"shape":"ResourceContentionFault"},
        {"shape":"ActiveInstanceRefreshNotFoundFault"}
      ],
      "documentation":"<p>Cancels an instance refresh or rollback that is in progress. If an instance refresh or rollback is not in progress, an <code>ActiveInstanceRefreshNotFound</code> error occurs.</p> <p>This operation is part of the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-instance-refresh.html\">instance refresh feature</a> in Amazon EC2 Auto Scaling, which helps you update instances in your Auto Scaling group after you make configuration changes.</p> <p>When you cancel an instance refresh, this does not roll back any changes that it made. Use the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_RollbackInstanceRefresh.html\">RollbackInstanceRefresh</a> API to roll back instead.</p>"
    },
    "CompleteLifecycleAction":{
      "name":"CompleteLifecycleAction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CompleteLifecycleActionType"},
      "output":{
        "shape":"CompleteLifecycleActionAnswer",
        "resultWrapper":"CompleteLifecycleActionResult"
      },
      "errors":[
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Completes the lifecycle action for the specified token or instance with the specified result.</p> <p>This step is a part of the procedure for adding a lifecycle hook to an Auto Scaling group:</p> <ol> <li> <p>(Optional) Create a launch template or launch configuration with a user data script that runs while an instance is in a wait state due to a lifecycle hook.</p> </li> <li> <p>(Optional) Create a Lambda function and a rule that allows Amazon EventBridge to invoke your Lambda function when an instance is put into a wait state due to a lifecycle hook.</p> </li> <li> <p>(Optional) Create a notification target and an IAM role. The target can be either an Amazon SQS queue or an Amazon SNS topic. The role allows Amazon EC2 Auto Scaling to publish lifecycle notifications to the target.</p> </li> <li> <p>Create the lifecycle hook. Specify whether the hook is used when the instances launch or terminate.</p> </li> <li> <p>If you need more time, record the lifecycle action heartbeat to keep the instance in a wait state.</p> </li> <li> <p> <b>If you finish before the timeout period ends, send a callback by using the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_CompleteLifecycleAction.html\">CompleteLifecycleAction</a> API call.</b> </p> </li> </ol> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/completing-lifecycle-hooks.html\">Complete a lifecycle action</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
    },
    "CreateAutoScalingGroup":{
      "name":"CreateAutoScalingGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAutoScalingGroupType"},
      "errors":[
        {"shape":"AlreadyExistsFault"},
        {"shape":"LimitExceededFault"},
        {"shape":"ResourceContentionFault"},
        {"shape":"ServiceLinkedRoleFailure"}
      ],
      "documentation":"<p> <b>We strongly recommend using a launch template when calling this operation to ensure full functionality for Amazon EC2 Auto Scaling and Amazon EC2.</b> </p> <p>Creates an Auto Scaling group with the specified name and attributes. </p> <p>If you exceed your maximum limit of Auto Scaling groups, the call fails. To query this limit, call the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DescribeAccountLimits.html\">DescribeAccountLimits</a> API. For information about updating this limit, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-quotas.html\">Quotas for Amazon EC2 Auto Scaling</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>If you're new to Amazon EC2 Auto Scaling, see the introductory tutorials in <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/get-started-with-ec2-auto-scaling.html\">Get started with Amazon EC2 Auto Scaling</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>Every Auto Scaling group has three size properties (<code>DesiredCapacity</code>, <code>MaxSize</code>, and <code>MinSize</code>). Usually, you set these sizes based on a specific number of instances. However, if you configure a mixed instances policy that defines weights for the instance types, you must specify these sizes with the same units that you use for weighting instances.</p>"
    },
    "CreateLaunchConfiguration":{
      "name":"CreateLaunchConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLaunchConfigurationType"},
      "errors":[
        {"shape":"AlreadyExistsFault"},
        {"shape":"LimitExceededFault"},
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Creates a launch configuration.</p> <p>If you exceed your maximum limit of launch configurations, the call fails. To query this limit, call the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DescribeAccountLimits.html\">DescribeAccountLimits</a> API. For information about updating this limit, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-quotas.html\">Quotas for Amazon EC2 Auto Scaling</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/launch-configurations.html\">Launch configurations</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <note> <p>Amazon EC2 Auto Scaling configures instances launched as part of an Auto Scaling group using either a launch template or a launch configuration. We strongly recommend that you do not use launch configurations. They do not provide full functionality for Amazon EC2 Auto Scaling or Amazon EC2. For information about using launch templates, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/launch-templates.html\">Launch templates</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> </note>"
    },
    "CreateOrUpdateTags":{
      "name":"CreateOrUpdateTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateOrUpdateTagsType"},
      "errors":[
        {"shape":"LimitExceededFault"},
        {"shape":"AlreadyExistsFault"},
        {"shape":"ResourceContentionFault"},
        {"shape":"ResourceInUseFault"}
      ],
      "documentation":"<p>Creates or updates tags for the specified Auto Scaling group.</p> <p>When you specify a tag with a key that already exists, the operation overwrites the previous tag definition, and you do not get an error message.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-tagging.html\">Tag Auto Scaling groups and instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
    },
    "DeleteAutoScalingGroup":{
      "name":"DeleteAutoScalingGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAutoScalingGroupType"},
      "errors":[
        {"shape":"ScalingActivityInProgressFault"},
        {"shape":"ResourceInUseFault"},
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Deletes the specified Auto Scaling group.</p> <p>If the group has instances or scaling activities in progress, you must specify the option to force the deletion in order for it to succeed. The force delete operation will also terminate the EC2 instances. If the group has a warm pool, the force delete option also deletes the warm pool.</p> <p>To remove instances from the Auto Scaling group before deleting it, call the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DetachInstances.html\">DetachInstances</a> API with the list of instances and the option to decrement the desired capacity. This ensures that Amazon EC2 Auto Scaling does not launch replacement instances.</p> <p>To terminate all instances before deleting the Auto Scaling group, call the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_UpdateAutoScalingGroup.html\">UpdateAutoScalingGroup</a> API and set the minimum size and desired capacity of the Auto Scaling group to zero.</p> <p>If the group has scaling policies, deleting the group deletes the policies, the underlying alarm actions, and any alarm that no longer has an associated action.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-process-shutdown.html\">Delete your Auto Scaling infrastructure</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
    },
    "DeleteLaunchConfiguration":{
      "name":"DeleteLaunchConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"LaunchConfigurationNameType"},
      "errors":[
        {"shape":"ResourceInUseFault"},
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Deletes the specified launch configuration.</p> <p>The launch configuration must not be attached to an Auto Scaling group. When this call completes, the launch configuration is no longer available for use.</p>"
    },
    "DeleteLifecycleHook":{
      "name":"DeleteLifecycleHook",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteLifecycleHookType"},
      "output":{
        "shape":"DeleteLifecycleHookAnswer",
        "resultWrapper":"DeleteLifecycleHookResult"
      },
      "errors":[
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Deletes the specified lifecycle hook.</p> <p>If there are any outstanding lifecycle actions, they are completed first (<code>ABANDON</code> for launching instances, <code>CONTINUE</code> for terminating instances).</p>"
    },
    "DeleteNotificationConfiguration":{
      "name":"DeleteNotificationConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteNotificationConfigurationType"},
      "errors":[
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Deletes the specified notification.</p>"
    },
    "DeletePolicy":{
      "name":"DeletePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePolicyType"},
      "errors":[
        {"shape":"ResourceContentionFault"},
        {"shape":"ServiceLinkedRoleFailure"}
      ],
      "documentation":"<p>Deletes the specified scaling policy.</p> <p>Deleting either a step scaling policy or a simple scaling policy deletes the underlying alarm action, but does not delete the alarm, even if it no longer has an associated action.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/deleting-scaling-policy.html\">Delete a scaling policy</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
    },
    "DeleteScheduledAction":{
      "name":"DeleteScheduledAction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteScheduledActionType"},
      "errors":[
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Deletes the specified scheduled action.</p>"
    },
    "DeleteTags":{
      "name":"DeleteTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTagsType"},
      "errors":[
        {"shape":"ResourceContentionFault"},
        {"shape":"ResourceInUseFault"}
      ],
      "documentation":"<p>Deletes the specified tags.</p>"
    },
    "DeleteWarmPool":{
      "name":"DeleteWarmPool",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteWarmPoolType"},
      "output":{
        "shape":"DeleteWarmPoolAnswer",
        "resultWrapper":"DeleteWarmPoolResult"
      },
      "errors":[
        {"shape":"LimitExceededFault"},
        {"shape":"ResourceContentionFault"},
        {"shape":"ScalingActivityInProgressFault"},
        {"shape":"ResourceInUseFault"}
      ],
      "documentation":"<p>Deletes the warm pool for the specified Auto Scaling group.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-warm-pools.html\">Warm pools for Amazon EC2 Auto Scaling</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
    },
    "DescribeAccountLimits":{
      "name":"DescribeAccountLimits",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"DescribeAccountLimitsAnswer",
        "resultWrapper":"DescribeAccountLimitsResult"
      },
      "errors":[
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Describes the current Amazon EC2 Auto Scaling resource quotas for your account.</p> <p>When you establish an Amazon Web Services account, the account has initial quotas on the maximum number of Auto Scaling groups and launch configurations that you can create in a given Region. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-quotas.html\">Quotas for Amazon EC2 Auto Scaling</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
    },
    "DescribeAdjustmentTypes":{
      "name":"DescribeAdjustmentTypes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"DescribeAdjustmentTypesAnswer",
        "resultWrapper":"DescribeAdjustmentTypesResult"
      },
      "errors":[
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Describes the available adjustment types for step scaling and simple scaling policies.</p> <p>The following adjustment types are supported:</p> <ul> <li> <p> <code>ChangeInCapacity</code> </p> </li> <li> <p> <code>ExactCapacity</code> </p> </li> <li> <p> <code>PercentChangeInCapacity</code> </p> </li> </ul>"
    },
    "DescribeAutoScalingGroups":{
      "name":"DescribeAutoScalingGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AutoScalingGroupNamesType"},
      "output":{
        "shape":"AutoScalingGroupsType",
        "resultWrapper":"DescribeAutoScalingGroupsResult"
      },
      "errors":[
        {"shape":"InvalidNextToken"},
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Gets information about the Auto Scaling groups in the account and Region.</p> <p>If you specify Auto Scaling group names, the output includes information for only the specified Auto Scaling groups. If you specify filters, the output includes information for only those Auto Scaling groups that meet the filter criteria. If you do not specify group names or filters, the output includes information for all Auto Scaling groups. </p> <p>This operation also returns information about instances in Auto Scaling groups. To retrieve information about the instances in a warm pool, you must call the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DescribeWarmPool.html\">DescribeWarmPool</a> API. </p>"
    },
    "DescribeAutoScalingInstances":{
      "name":"DescribeAutoScalingInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAutoScalingInstancesType"},
      "output":{
        "shape":"AutoScalingInstancesType",
        "resultWrapper":"DescribeAutoScalingInstancesResult"
      },
      "errors":[
        {"shape":"InvalidNextToken"},
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Gets information about the Auto Scaling instances in the account and Region.</p>"
    },
    "DescribeAutoScalingNotificationTypes":{
      "name":"DescribeAutoScalingNotificationTypes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"DescribeAutoScalingNotificationTypesAnswer",
        "resultWrapper":"DescribeAutoScalingNotificationTypesResult"
      },
      "errors":[
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Describes the notification types that are supported by Amazon EC2 Auto Scaling.</p>"
    },
    "DescribeInstanceRefreshes":{
      "name":"DescribeInstanceRefreshes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInstanceRefreshesType"},
      "output":{
        "shape":"DescribeInstanceRefreshesAnswer",
        "resultWrapper":"DescribeInstanceRefreshesResult"
      },
      "errors":[
        {"shape":"InvalidNextToken"},
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Gets information about the instance refreshes for the specified Auto Scaling group from the previous six weeks.</p> <p>This operation is part of the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-instance-refresh.html\">instance refresh feature</a> in Amazon EC2 Auto Scaling, which helps you update instances in your Auto Scaling group after you make configuration changes.</p> <p>To help you determine the status of an instance refresh, Amazon EC2 Auto Scaling returns information about the instance refreshes you previously initiated, including their status, start time, end time, the percentage of the instance refresh that is complete, and the number of instances remaining to update before the instance refresh is complete. If a rollback is initiated while an instance refresh is in progress, Amazon EC2 Auto Scaling also returns information about the rollback of the instance refresh.</p>"
    },
    "DescribeLaunchConfigurations":{
      "name":"DescribeLaunchConfigurations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"LaunchConfigurationNamesType"},
      "output":{
        "shape":"LaunchConfigurationsType",
        "resultWrapper":"DescribeLaunchConfigurationsResult"
      },
      "errors":[
        {"shape":"InvalidNextToken"},
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Gets information about the launch configurations in the account and Region.</p>"
    },
    "DescribeLifecycleHookTypes":{
      "name":"DescribeLifecycleHookTypes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"DescribeLifecycleHookTypesAnswer",
        "resultWrapper":"DescribeLifecycleHookTypesResult"
      },
      "errors":[
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Describes the available types of lifecycle hooks.</p> <p>The following hook types are supported:</p> <ul> <li> <p> <code>autoscaling:EC2_INSTANCE_LAUNCHING</code> </p> </li> <li> <p> <code>autoscaling:EC2_INSTANCE_TERMINATING</code> </p> </li> </ul>"
    },
    "DescribeLifecycleHooks":{
      "name":"DescribeLifecycleHooks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLifecycleHooksType"},
      "output":{
        "shape":"DescribeLifecycleHooksAnswer",
        "resultWrapper":"DescribeLifecycleHooksResult"
      },
      "errors":[
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Gets information about the lifecycle hooks for the specified Auto Scaling group.</p>"
    },
    "DescribeLoadBalancerTargetGroups":{
      "name":"DescribeLoadBalancerTargetGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLoadBalancerTargetGroupsRequest"},
      "output":{
        "shape":"DescribeLoadBalancerTargetGroupsResponse",
        "resultWrapper":"DescribeLoadBalancerTargetGroupsResult"
      },
      "errors":[
        {"shape":"ResourceContentionFault"},
        {"shape":"InvalidNextToken"}
      ],
      "documentation":"<note> <p>This API operation is superseded by <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DescribeTrafficSources.html\">DescribeTrafficSources</a>, which can describe multiple traffic sources types. We recommend using <code>DetachTrafficSources</code> to simplify how you manage traffic sources. However, we continue to support <code>DescribeLoadBalancerTargetGroups</code>. You can use both the original <code>DescribeLoadBalancerTargetGroups</code> API operation and <code>DescribeTrafficSources</code> on the same Auto Scaling group.</p> </note> <p>Gets information about the Elastic Load Balancing target groups for the specified Auto Scaling group.</p> <p>To determine the attachment status of the target group, use the <code>State</code> element in the response. When you attach a target group to an Auto Scaling group, the initial <code>State</code> value is <code>Adding</code>. The state transitions to <code>Added</code> after all Auto Scaling instances are registered with the target group. If Elastic Load Balancing health checks are enabled for the Auto Scaling group, the state transitions to <code>InService</code> after at least one Auto Scaling instance passes the health check. When the target group is in the <code>InService</code> state, Amazon EC2 Auto Scaling can terminate and replace any instances that are reported as unhealthy. If no registered instances pass the health checks, the target group doesn't enter the <code>InService</code> state. </p> <p>Target groups also have an <code>InService</code> state if you attach them in the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_CreateAutoScalingGroup.html\">CreateAutoScalingGroup</a> API call. If your target group state is <code>InService</code>, but it is not working properly, check the scaling activities by calling <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DescribeScalingActivities.html\">DescribeScalingActivities</a> and take any corrective actions necessary.</p> <p>For help with failed health checks, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ts-as-healthchecks.html\">Troubleshooting Amazon EC2 Auto Scaling: Health checks</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-load-balancer.html\">Use Elastic Load Balancing to distribute traffic across the instances in your Auto Scaling group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>. </p> <note> <p>You can use this operation to describe target groups that were attached by using <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_AttachLoadBalancerTargetGroups.html\">AttachLoadBalancerTargetGroups</a>, but not for target groups that were attached by using <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_AttachTrafficSources.html\">AttachTrafficSources</a>.</p> </note>"
    },
    "DescribeLoadBalancers":{
      "name":"DescribeLoadBalancers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLoadBalancersRequest"},
      "output":{
        "shape":"DescribeLoadBalancersResponse",
        "resultWrapper":"DescribeLoadBalancersResult"
      },
      "errors":[
        {"shape":"ResourceContentionFault"},
        {"shape":"InvalidNextToken"}
      ],
      "documentation":"<note> <p>This API operation is superseded by <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DescribeTrafficSources.html\">DescribeTrafficSources</a>, which can describe multiple traffic sources types. We recommend using <code>DescribeTrafficSources</code> to simplify how you manage traffic sources. However, we continue to support <code>DescribeLoadBalancers</code>. You can use both the original <code>DescribeLoadBalancers</code> API operation and <code>DescribeTrafficSources</code> on the same Auto Scaling group.</p> </note> <p>Gets information about the load balancers for the specified Auto Scaling group.</p> <p>This operation describes only Classic Load Balancers. If you have Application Load Balancers, Network Load Balancers, or Gateway Load Balancers, use the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DescribeLoadBalancerTargetGroups.html\">DescribeLoadBalancerTargetGroups</a> API instead.</p> <p>To determine the attachment status of the load balancer, use the <code>State</code> element in the response. When you attach a load balancer to an Auto Scaling group, the initial <code>State</code> value is <code>Adding</code>. The state transitions to <code>Added</code> after all Auto Scaling instances are registered with the load balancer. If Elastic Load Balancing health checks are enabled for the Auto Scaling group, the state transitions to <code>InService</code> after at least one Auto Scaling instance passes the health check. When the load balancer is in the <code>InService</code> state, Amazon EC2 Auto Scaling can terminate and replace any instances that are reported as unhealthy. If no registered instances pass the health checks, the load balancer doesn't enter the <code>InService</code> state. </p> <p>Load balancers also have an <code>InService</code> state if you attach them in the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_CreateAutoScalingGroup.html\">CreateAutoScalingGroup</a> API call. If your load balancer state is <code>InService</code>, but it is not working properly, check the scaling activities by calling <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DescribeScalingActivities.html\">DescribeScalingActivities</a> and take any corrective actions necessary.</p> <p>For help with failed health checks, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ts-as-healthchecks.html\">Troubleshooting Amazon EC2 Auto Scaling: Health checks</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-load-balancer.html\">Use Elastic Load Balancing to distribute traffic across the instances in your Auto Scaling group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>. </p>"
    },
    "DescribeMetricCollectionTypes":{
      "name":"DescribeMetricCollectionTypes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"DescribeMetricCollectionTypesAnswer",
        "resultWrapper":"DescribeMetricCollectionTypesResult"
      },
      "errors":[
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Describes the available CloudWatch metrics for Amazon EC2 Auto Scaling.</p>"
    },
    "DescribeNotificationConfigurations":{
      "name":"DescribeNotificationConfigurations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeNotificationConfigurationsType"},
      "output":{
        "shape":"DescribeNotificationConfigurationsAnswer",
        "resultWrapper":"DescribeNotificationConfigurationsResult"
      },
      "errors":[
        {"shape":"InvalidNextToken"},
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Gets information about the Amazon SNS notifications that are configured for one or more Auto Scaling groups.</p>"
    },
    "DescribePolicies":{
      "name":"DescribePolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePoliciesType"},
      "output":{
        "shape":"PoliciesType",
        "resultWrapper":"DescribePoliciesResult"
      },
      "errors":[
        {"shape":"InvalidNextToken"},
        {"shape":"ResourceContentionFault"},
        {"shape":"ServiceLinkedRoleFailure"}
      ],
      "documentation":"<p>Gets information about the scaling policies in the account and Region.</p>"
    },
    "DescribeScalingActivities":{
      "name":"DescribeScalingActivities",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeScalingActivitiesType"},
      "output":{
        "shape":"ActivitiesType",
        "resultWrapper":"DescribeScalingActivitiesResult"
      },
      "errors":[
        {"shape":"InvalidNextToken"},
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Gets information about the scaling activities in the account and Region.</p> <p>When scaling events occur, you see a record of the scaling activity in the scaling activities. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-verify-scaling-activity.html\">Verify a scaling activity for an Auto Scaling group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>If the scaling event succeeds, the value of the <code>StatusCode</code> element in the response is <code>Successful</code>. If an attempt to launch instances failed, the <code>StatusCode</code> value is <code>Failed</code> or <code>Cancelled</code> and the <code>StatusMessage</code> element in the response indicates the cause of the failure. For help interpreting the <code>StatusMessage</code>, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/CHAP_Troubleshooting.html\">Troubleshooting Amazon EC2 Auto Scaling</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>. </p>"
    },
    "DescribeScalingProcessTypes":{
      "name":"DescribeScalingProcessTypes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"ProcessesType",
        "resultWrapper":"DescribeScalingProcessTypesResult"
      },
      "errors":[
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Describes the scaling process types for use with the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_ResumeProcesses.html\">ResumeProcesses</a> and <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_SuspendProcesses.html\">SuspendProcesses</a> APIs.</p>"
    },
    "DescribeScheduledActions":{
      "name":"DescribeScheduledActions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeScheduledActionsType"},
      "output":{
        "shape":"ScheduledActionsType",
        "resultWrapper":"DescribeScheduledActionsResult"
      },
      "errors":[
        {"shape":"InvalidNextToken"},
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Gets information about the scheduled actions that haven't run or that have not reached their end time.</p> <p>To describe the scaling activities for scheduled actions that have already run, call the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DescribeScalingActivities.html\">DescribeScalingActivities</a> API.</p>"
    },
    "DescribeTags":{
      "name":"DescribeTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTagsType"},
      "output":{
        "shape":"TagsType",
        "resultWrapper":"DescribeTagsResult"
      },
      "errors":[
        {"shape":"InvalidNextToken"},
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Describes the specified tags.</p> <p>You can use filters to limit the results. For example, you can query for the tags for a specific Auto Scaling group. You can specify multiple values for a filter. A tag must match at least one of the specified values for it to be included in the results.</p> <p>You can also specify multiple filters. The result includes information for a particular tag only if it matches all the filters. If there's no match, no special message is returned.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-tagging.html\">Tag Auto Scaling groups and instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
    },
    "DescribeTerminationPolicyTypes":{
      "name":"DescribeTerminationPolicyTypes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"DescribeTerminationPolicyTypesAnswer",
        "resultWrapper":"DescribeTerminationPolicyTypesResult"
      },
      "errors":[
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Describes the termination policies supported by Amazon EC2 Auto Scaling.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-termination-policies.html\">Configure termination policies for Amazon EC2 Auto Scaling</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
    },
    "DescribeTrafficSources":{
      "name":"DescribeTrafficSources",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTrafficSourcesRequest"},
      "output":{
        "shape":"DescribeTrafficSourcesResponse",
        "resultWrapper":"DescribeTrafficSourcesResult"
      },
      "errors":[
        {"shape":"ResourceContentionFault"},
        {"shape":"InvalidNextToken"}
      ],
      "documentation":"<p>Gets information about the traffic sources for the specified Auto Scaling group.</p> <p>You can optionally provide a traffic source type. If you provide a traffic source type, then the results only include that traffic source type.</p> <p>If you do not provide a traffic source type, then the results include all the traffic sources for the specified Auto Scaling group. </p>"
    },
    "DescribeWarmPool":{
      "name":"DescribeWarmPool",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeWarmPoolType"},
      "output":{
        "shape":"DescribeWarmPoolAnswer",
        "resultWrapper":"DescribeWarmPoolResult"
      },
      "errors":[
        {"shape":"InvalidNextToken"},
        {"shape":"LimitExceededFault"},
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Gets information about a warm pool and its instances.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-warm-pools.html\">Warm pools for Amazon EC2 Auto Scaling</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
    },
    "DetachInstances":{
      "name":"DetachInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachInstancesQuery"},
      "output":{
        "shape":"DetachInstancesAnswer",
        "resultWrapper":"DetachInstancesResult"
      },
      "errors":[
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Removes one or more instances from the specified Auto Scaling group.</p> <p>After the instances are detached, you can manage them independent of the Auto Scaling group.</p> <p>If you do not specify the option to decrement the desired capacity, Amazon EC2 Auto Scaling launches instances to replace the ones that are detached.</p> <p>If there is a Classic Load Balancer attached to the Auto Scaling group, the instances are deregistered from the load balancer. If there are target groups attached to the Auto Scaling group, the instances are deregistered from the target groups.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-detach-attach-instances.html\">Detach or attach instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
    },
    "DetachLoadBalancerTargetGroups":{
      "name":"DetachLoadBalancerTargetGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachLoadBalancerTargetGroupsType"},
      "output":{
        "shape":"DetachLoadBalancerTargetGroupsResultType",
        "resultWrapper":"DetachLoadBalancerTargetGroupsResult"
      },
      "errors":[
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<note> <p>This API operation is superseded by <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DescribeTrafficSources.html\">DetachTrafficSources</a>, which can detach multiple traffic sources types. We recommend using <code>DetachTrafficSources</code> to simplify how you manage traffic sources. However, we continue to support <code>DetachLoadBalancerTargetGroups</code>. You can use both the original <code>DetachLoadBalancerTargetGroups</code> API operation and <code>DetachTrafficSources</code> on the same Auto Scaling group.</p> </note> <p>Detaches one or more target groups from the specified Auto Scaling group.</p> <p>When you detach a target group, it enters the <code>Removing</code> state while deregistering the instances in the group. When all instances are deregistered, then you can no longer describe the target group using the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DescribeLoadBalancerTargetGroups.html\">DescribeLoadBalancerTargetGroups</a> API call. The instances remain running.</p> <note> <p>You can use this operation to detach target groups that were attached by using <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_AttachLoadBalancerTargetGroups.html\">AttachLoadBalancerTargetGroups</a>, but not for target groups that were attached by using <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_AttachTrafficSources.html\">AttachTrafficSources</a>.</p> </note>"
    },
    "DetachLoadBalancers":{
      "name":"DetachLoadBalancers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachLoadBalancersType"},
      "output":{
        "shape":"DetachLoadBalancersResultType",
        "resultWrapper":"DetachLoadBalancersResult"
      },
      "errors":[
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<note> <p>This API operation is superseded by <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DetachTrafficSources.html\">DetachTrafficSources</a>, which can detach multiple traffic sources types. We recommend using <code>DetachTrafficSources</code> to simplify how you manage traffic sources. However, we continue to support <code>DetachLoadBalancers</code>. You can use both the original <code>DetachLoadBalancers</code> API operation and <code>DetachTrafficSources</code> on the same Auto Scaling group.</p> </note> <p>Detaches one or more Classic Load Balancers from the specified Auto Scaling group.</p> <p>This operation detaches only Classic Load Balancers. If you have Application Load Balancers, Network Load Balancers, or Gateway Load Balancers, use the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DetachLoadBalancerTargetGroups.html\">DetachLoadBalancerTargetGroups</a> API instead.</p> <p>When you detach a load balancer, it enters the <code>Removing</code> state while deregistering the instances in the group. When all instances are deregistered, then you can no longer describe the load balancer using the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DescribeLoadBalancers.html\">DescribeLoadBalancers</a> API call. The instances remain running.</p>"
    },
    "DetachTrafficSources":{
      "name":"DetachTrafficSources",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachTrafficSourcesType"},
      "output":{
        "shape":"DetachTrafficSourcesResultType",
        "resultWrapper":"DetachTrafficSourcesResult"
      },
      "errors":[
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Detaches one or more traffic sources from the specified Auto Scaling group.</p> <p>When you detach a traffic source, it enters the <code>Removing</code> state while deregistering the instances in the group. When all instances are deregistered, then you can no longer describe the traffic source using the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DescribeTrafficSources.html\">DescribeTrafficSources</a> API call. The instances continue to run.</p>"
    },
    "DisableMetricsCollection":{
      "name":"DisableMetricsCollection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableMetricsCollectionQuery"},
      "errors":[
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Disables group metrics collection for the specified Auto Scaling group.</p>"
    },
    "EnableMetricsCollection":{
      "name":"EnableMetricsCollection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableMetricsCollectionQuery"},
      "errors":[
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Enables group metrics collection for the specified Auto Scaling group.</p> <p>You can use these metrics to track changes in an Auto Scaling group and to set alarms on threshold values. You can view group metrics using the Amazon EC2 Auto Scaling console or the CloudWatch console. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-cloudwatch-monitoring.html\">Monitor CloudWatch metrics for your Auto Scaling groups and instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
    },
    "EnterStandby":{
      "name":"EnterStandby",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnterStandbyQuery"},
      "output":{
        "shape":"EnterStandbyAnswer",
        "resultWrapper":"EnterStandbyResult"
      },
      "errors":[
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Moves the specified instances into the standby state.</p> <p>If you choose to decrement the desired capacity of the Auto Scaling group, the instances can enter standby as long as the desired capacity of the Auto Scaling group after the instances are placed into standby is equal to or greater than the minimum capacity of the group.</p> <p>If you choose not to decrement the desired capacity of the Auto Scaling group, the Auto Scaling group launches new instances to replace the instances on standby.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-enter-exit-standby.html\">Temporarily removing instances from your Auto Scaling group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
    },
    "ExecutePolicy":{
      "name":"ExecutePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ExecutePolicyType"},
      "errors":[
        {"shape":"ScalingActivityInProgressFault"},
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Executes the specified policy. This can be useful for testing the design of your scaling policy.</p>"
    },
    "ExitStandby":{
      "name":"ExitStandby",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ExitStandbyQuery"},
      "output":{
        "shape":"ExitStandbyAnswer",
        "resultWrapper":"ExitStandbyResult"
      },
      "errors":[
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Moves the specified instances out of the standby state.</p> <p>After you put the instances back in service, the desired capacity is incremented.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-enter-exit-standby.html\">Temporarily removing instances from your Auto Scaling group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
    },
    "GetPredictiveScalingForecast":{
      "name":"GetPredictiveScalingForecast",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPredictiveScalingForecastType"},
      "output":{
        "shape":"GetPredictiveScalingForecastAnswer",
        "resultWrapper":"GetPredictiveScalingForecastResult"
      },
      "errors":[
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Retrieves the forecast data for a predictive scaling policy.</p> <p>Load forecasts are predictions of the hourly load values using historical load data from CloudWatch and an analysis of historical trends. Capacity forecasts are represented as predicted values for the minimum capacity that is needed on an hourly basis, based on the hourly load forecast.</p> <p>A minimum of 24 hours of data is required to create the initial forecasts. However, having a full 14 days of historical data results in more accurate forecasts.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-predictive-scaling.html\">Predictive scaling for Amazon EC2 Auto Scaling</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
    },
    "PutLifecycleHook":{
      "name":"PutLifecycleHook",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutLifecycleHookType"},
      "output":{
        "shape":"PutLifecycleHookAnswer",
        "resultWrapper":"PutLifecycleHookResult"
      },
      "errors":[
        {"shape":"LimitExceededFault"},
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Creates or updates a lifecycle hook for the specified Auto Scaling group.</p> <p>Lifecycle hooks let you create solutions that are aware of events in the Auto Scaling instance lifecycle, and then perform a custom action on instances when the corresponding lifecycle event occurs.</p> <p>This step is a part of the procedure for adding a lifecycle hook to an Auto Scaling group:</p> <ol> <li> <p>(Optional) Create a launch template or launch configuration with a user data script that runs while an instance is in a wait state due to a lifecycle hook.</p> </li> <li> <p>(Optional) Create a Lambda function and a rule that allows Amazon EventBridge to invoke your Lambda function when an instance is put into a wait state due to a lifecycle hook.</p> </li> <li> <p>(Optional) Create a notification target and an IAM role. The target can be either an Amazon SQS queue or an Amazon SNS topic. The role allows Amazon EC2 Auto Scaling to publish lifecycle notifications to the target.</p> </li> <li> <p> <b>Create the lifecycle hook. Specify whether the hook is used when the instances launch or terminate.</b> </p> </li> <li> <p>If you need more time, record the lifecycle action heartbeat to keep the instance in a wait state using the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_RecordLifecycleActionHeartbeat.html\">RecordLifecycleActionHeartbeat</a> API call.</p> </li> <li> <p>If you finish before the timeout period ends, send a callback by using the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_CompleteLifecycleAction.html\">CompleteLifecycleAction</a> API call.</p> </li> </ol> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/lifecycle-hooks.html\">Amazon EC2 Auto Scaling lifecycle hooks</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>If you exceed your maximum limit of lifecycle hooks, which by default is 50 per Auto Scaling group, the call fails.</p> <p>You can view the lifecycle hooks for an Auto Scaling group using the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DescribeLifecycleHooks.html\">DescribeLifecycleHooks</a> API call. If you are no longer using a lifecycle hook, you can delete it by calling the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DeleteLifecycleHook.html\">DeleteLifecycleHook</a> API.</p>"
    },
    "PutNotificationConfiguration":{
      "name":"PutNotificationConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutNotificationConfigurationType"},
      "errors":[
        {"shape":"LimitExceededFault"},
        {"shape":"ResourceContentionFault"},
        {"shape":"ServiceLinkedRoleFailure"}
      ],
      "documentation":"<p>Configures an Auto Scaling group to send notifications when specified events take place. Subscribers to the specified topic can have messages delivered to an endpoint such as a web server or an email address.</p> <p>This configuration overwrites any existing configuration.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-sns-notifications.html\">Amazon SNS notification options for Amazon EC2 Auto Scaling</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>If you exceed your maximum limit of SNS topics, which is 10 per Auto Scaling group, the call fails.</p>"
    },
    "PutScalingPolicy":{
      "name":"PutScalingPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutScalingPolicyType"},
      "output":{
        "shape":"PolicyARNType",
        "resultWrapper":"PutScalingPolicyResult"
      },
      "errors":[
        {"shape":"LimitExceededFault"},
        {"shape":"ResourceContentionFault"},
        {"shape":"ServiceLinkedRoleFailure"}
      ],
      "documentation":"<p>Creates or updates a scaling policy for an Auto Scaling group. Scaling policies are used to scale an Auto Scaling group based on configurable metrics. If no policies are defined, the dynamic scaling and predictive scaling features are not used. </p> <p>For more information about using dynamic scaling, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-scaling-target-tracking.html\">Target tracking scaling policies</a> and <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-scaling-simple-step.html\">Step and simple scaling policies</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>For more information about using predictive scaling, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-predictive-scaling.html\">Predictive scaling for Amazon EC2 Auto Scaling</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>You can view the scaling policies for an Auto Scaling group using the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DescribePolicies.html\">DescribePolicies</a> API call. If you are no longer using a scaling policy, you can delete it by calling the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DeletePolicy.html\">DeletePolicy</a> API.</p>"
    },
    "PutScheduledUpdateGroupAction":{
      "name":"PutScheduledUpdateGroupAction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutScheduledUpdateGroupActionType"},
      "errors":[
        {"shape":"AlreadyExistsFault"},
        {"shape":"LimitExceededFault"},
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Creates or updates a scheduled scaling action for an Auto Scaling group.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-scheduled-scaling.html\">Scheduled scaling</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>You can view the scheduled actions for an Auto Scaling group using the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DescribeScheduledActions.html\">DescribeScheduledActions</a> API call. If you are no longer using a scheduled action, you can delete it by calling the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DeleteScheduledAction.html\">DeleteScheduledAction</a> API.</p> <p>If you try to schedule your action in the past, Amazon EC2 Auto Scaling returns an error message.</p>"
    },
    "PutWarmPool":{
      "name":"PutWarmPool",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutWarmPoolType"},
      "output":{
        "shape":"PutWarmPoolAnswer",
        "resultWrapper":"PutWarmPoolResult"
      },
      "errors":[
        {"shape":"LimitExceededFault"},
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Creates or updates a warm pool for the specified Auto Scaling group. A warm pool is a pool of pre-initialized EC2 instances that sits alongside the Auto Scaling group. Whenever your application needs to scale out, the Auto Scaling group can draw on the warm pool to meet its new desired capacity.</p> <p>This operation must be called from the Region in which the Auto Scaling group was created.</p> <p>You can view the instances in the warm pool using the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DescribeWarmPool.html\">DescribeWarmPool</a> API call. If you are no longer using a warm pool, you can delete it by calling the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DeleteWarmPool.html\">DeleteWarmPool</a> API.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-warm-pools.html\">Warm pools for Amazon EC2 Auto Scaling</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
    },
    "RecordLifecycleActionHeartbeat":{
      "name":"RecordLifecycleActionHeartbeat",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RecordLifecycleActionHeartbeatType"},
      "output":{
        "shape":"RecordLifecycleActionHeartbeatAnswer",
        "resultWrapper":"RecordLifecycleActionHeartbeatResult"
      },
      "errors":[
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Records a heartbeat for the lifecycle action associated with the specified token or instance. This extends the timeout by the length of time defined using the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_PutLifecycleHook.html\">PutLifecycleHook</a> API call.</p> <p>This step is a part of the procedure for adding a lifecycle hook to an Auto Scaling group:</p> <ol> <li> <p>(Optional) Create a launch template or launch configuration with a user data script that runs while an instance is in a wait state due to a lifecycle hook.</p> </li> <li> <p>(Optional) Create a Lambda function and a rule that allows Amazon EventBridge to invoke your Lambda function when an instance is put into a wait state due to a lifecycle hook.</p> </li> <li> <p>(Optional) Create a notification target and an IAM role. The target can be either an Amazon SQS queue or an Amazon SNS topic. The role allows Amazon EC2 Auto Scaling to publish lifecycle notifications to the target.</p> </li> <li> <p>Create the lifecycle hook. Specify whether the hook is used when the instances launch or terminate.</p> </li> <li> <p> <b>If you need more time, record the lifecycle action heartbeat to keep the instance in a wait state.</b> </p> </li> <li> <p>If you finish before the timeout period ends, send a callback by using the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_CompleteLifecycleAction.html\">CompleteLifecycleAction</a> API call.</p> </li> </ol> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/lifecycle-hooks.html\">Amazon EC2 Auto Scaling lifecycle hooks</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
    },
    "ResumeProcesses":{
      "name":"ResumeProcesses",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ScalingProcessQuery"},
      "errors":[
        {"shape":"ResourceInUseFault"},
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Resumes the specified suspended auto scaling processes, or all suspended process, for the specified Auto Scaling group.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-suspend-resume-processes.html\">Suspend and resume Amazon EC2 Auto Scaling processes</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
    },
    "RollbackInstanceRefresh":{
      "name":"RollbackInstanceRefresh",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RollbackInstanceRefreshType"},
      "output":{
        "shape":"RollbackInstanceRefreshAnswer",
        "resultWrapper":"RollbackInstanceRefreshResult"
      },
      "errors":[
        {"shape":"LimitExceededFault"},
        {"shape":"ResourceContentionFault"},
        {"shape":"ActiveInstanceRefreshNotFoundFault"},
        {"shape":"IrreversibleInstanceRefreshFault"}
      ],
      "documentation":"<p>Cancels an instance refresh that is in progress and rolls back any changes that it made. Amazon EC2 Auto Scaling replaces any instances that were replaced during the instance refresh. This restores your Auto Scaling group to the configuration that it was using before the start of the instance refresh. </p> <p>This operation is part of the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-instance-refresh.html\">instance refresh feature</a> in Amazon EC2 Auto Scaling, which helps you update instances in your Auto Scaling group after you make configuration changes.</p> <p>A rollback is not supported in the following situations: </p> <ul> <li> <p>There is no desired configuration specified for the instance refresh.</p> </li> <li> <p>The Auto Scaling group has a launch template that uses an Amazon Web Services Systems Manager parameter instead of an AMI ID for the <code>ImageId</code> property.</p> </li> <li> <p>The Auto Scaling group uses the launch template's <code>$Latest</code> or <code>$Default</code> version.</p> </li> </ul> <p>When you receive a successful response from this operation, Amazon EC2 Auto Scaling immediately begins replacing instances. You can check the status of this operation through the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DescribeInstanceRefreshes.html\">DescribeInstanceRefreshes</a> API operation. </p>"
    },
    "SetDesiredCapacity":{
      "name":"SetDesiredCapacity",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetDesiredCapacityType"},
      "errors":[
        {"shape":"ScalingActivityInProgressFault"},
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Sets the size of the specified Auto Scaling group.</p> <p>If a scale-in activity occurs as a result of a new <code>DesiredCapacity</code> value that is lower than the current size of the group, the Auto Scaling group uses its termination policy to determine which instances to terminate. </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-scaling-manually.html\">Manual scaling</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
    },
    "SetInstanceHealth":{
      "name":"SetInstanceHealth",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetInstanceHealthQuery"},
      "errors":[
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Sets the health status of the specified instance.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/set-up-a-custom-health-check.html\">Set up a custom health check for your Auto Scaling group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
    },
    "SetInstanceProtection":{
      "name":"SetInstanceProtection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetInstanceProtectionQuery"},
      "output":{
        "shape":"SetInstanceProtectionAnswer",
        "resultWrapper":"SetInstanceProtectionResult"
      },
      "errors":[
        {"shape":"LimitExceededFault"},
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Updates the instance protection settings of the specified instances. This operation cannot be called on instances in a warm pool.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-instance-protection.html\">Use instance scale-in protection</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>If you exceed your maximum limit of instance IDs, which is 50 per Auto Scaling group, the call fails.</p>"
    },
    "StartInstanceRefresh":{
      "name":"StartInstanceRefresh",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartInstanceRefreshType"},
      "output":{
        "shape":"StartInstanceRefreshAnswer",
        "resultWrapper":"StartInstanceRefreshResult"
      },
      "errors":[
        {"shape":"LimitExceededFault"},
        {"shape":"ResourceContentionFault"},
        {"shape":"InstanceRefreshInProgressFault"}
      ],
      "documentation":"<p>Starts an instance refresh.</p> <p>This operation is part of the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-instance-refresh.html\">instance refresh feature</a> in Amazon EC2 Auto Scaling, which helps you update instances in your Auto Scaling group. This feature is helpful, for example, when you have a new AMI or a new user data script. You just need to create a new launch template that specifies the new AMI or user data script. Then start an instance refresh to immediately begin the process of updating instances in the group. </p> <p>If successful, the request's response contains a unique ID that you can use to track the progress of the instance refresh. To query its status, call the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DescribeInstanceRefreshes.html\">DescribeInstanceRefreshes</a> API. To describe the instance refreshes that have already run, call the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DescribeInstanceRefreshes.html\">DescribeInstanceRefreshes</a> API. To cancel an instance refresh that is in progress, use the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_CancelInstanceRefresh.html\">CancelInstanceRefresh</a> API. </p> <p>An instance refresh might fail for several reasons, such as EC2 launch failures, misconfigured health checks, or not ignoring or allowing the termination of instances that are in <code>Standby</code> state or protected from scale in. You can monitor for failed EC2 launches using the scaling activities. To find the scaling activities, call the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DescribeScalingActivities.html\">DescribeScalingActivities</a> API.</p> <p>If you enable auto rollback, your Auto Scaling group will be rolled back automatically when the instance refresh fails. You can enable this feature before starting an instance refresh by specifying the <code>AutoRollback</code> property in the instance refresh preferences. Otherwise, to roll back an instance refresh before it finishes, use the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_RollbackInstanceRefresh.html\">RollbackInstanceRefresh</a> API. </p>"
    },
    "SuspendProcesses":{
      "name":"SuspendProcesses",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ScalingProcessQuery"},
      "errors":[
        {"shape":"ResourceInUseFault"},
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Suspends the specified auto scaling processes, or all processes, for the specified Auto Scaling group.</p> <p>If you suspend either the <code>Launch</code> or <code>Terminate</code> process types, it can prevent other process types from functioning properly. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-suspend-resume-processes.html\">Suspend and resume Amazon EC2 Auto Scaling processes</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>To resume processes that have been suspended, call the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_ResumeProcesses.html\">ResumeProcesses</a> API.</p>"
    },
    "TerminateInstanceInAutoScalingGroup":{
      "name":"TerminateInstanceInAutoScalingGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TerminateInstanceInAutoScalingGroupType"},
      "output":{
        "shape":"ActivityType",
        "resultWrapper":"TerminateInstanceInAutoScalingGroupResult"
      },
      "errors":[
        {"shape":"ScalingActivityInProgressFault"},
        {"shape":"ResourceContentionFault"}
      ],
      "documentation":"<p>Terminates the specified instance and optionally adjusts the desired group size. This operation cannot be called on instances in a warm pool.</p> <p>This call simply makes a termination request. The instance is not terminated immediately. When an instance is terminated, the instance status changes to <code>terminated</code>. You can't connect to or start an instance after you've terminated it.</p> <p>If you do not specify the option to decrement the desired capacity, Amazon EC2 Auto Scaling launches instances to replace the ones that are terminated. </p> <p>By default, Amazon EC2 Auto Scaling balances instances across all Availability Zones. If you decrement the desired capacity, your Auto Scaling group can become unbalanced between Availability Zones. Amazon EC2 Auto Scaling tries to rebalance the group, and rebalancing might terminate instances in other zones. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-scaling-manually.html\">Manual scaling</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>"
    },
    "UpdateAutoScalingGroup":{
      "name":"UpdateAutoScalingGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateAutoScalingGroupType"},
      "errors":[
        {"shape":"ScalingActivityInProgressFault"},
        {"shape":"ResourceContentionFault"},
        {"shape":"ServiceLinkedRoleFailure"}
      ],
      "documentation":"<p> <b>We strongly recommend that all Auto Scaling groups use launch templates to ensure full functionality for Amazon EC2 Auto Scaling and Amazon EC2.</b> </p> <p>Updates the configuration for the specified Auto Scaling group.</p> <p>To update an Auto Scaling group, specify the name of the group and the property that you want to change. Any properties that you don't specify are not changed by this update request. The new settings take effect on any scaling activities after this call returns. </p> <p>If you associate a new launch configuration or template with an Auto Scaling group, all new instances will get the updated configuration. Existing instances continue to run with the configuration that they were originally launched with. When you update a group to specify a mixed instances policy instead of a launch configuration or template, existing instances may be replaced to match the new purchasing options that you specified in the policy. For example, if the group currently has 100% On-Demand capacity and the policy specifies 50% Spot capacity, this means that half of your instances will be gradually terminated and relaunched as Spot Instances. When replacing instances, Amazon EC2 Auto Scaling launches new instances before terminating the old ones, so that updating your group does not compromise the performance or availability of your application.</p> <p>Note the following about changing <code>DesiredCapacity</code>, <code>MaxSize</code>, or <code>MinSize</code>:</p> <ul> <li> <p>If a scale-in activity occurs as a result of a new <code>DesiredCapacity</code> value that is lower than the current size of the group, the Auto Scaling group uses its termination policy to determine which instances to terminate.</p> </li> <li> <p>If you specify a new value for <code>MinSize</code> without specifying a value for <code>DesiredCapacity</code>, and the new <code>MinSize</code> is larger than the current size of the group, this sets the group's <code>DesiredCapacity</code> to the new <code>MinSize</code> value.</p> </li> <li> <p>If you specify a new value for <code>MaxSize</code> without specifying a value for <code>DesiredCapacity</code>, and the new <code>MaxSize</code> is smaller than the current size of the group, this sets the group's <code>DesiredCapacity</code> to the new <code>MaxSize</code> value.</p> </li> </ul> <p>To see which properties have been set, call the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DescribeAutoScalingGroups.html\">DescribeAutoScalingGroups</a> API. To view the scaling policies for an Auto Scaling group, call the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DescribePolicies.html\">DescribePolicies</a> API. If the group has scaling policies, you can update them by calling the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_PutScalingPolicy.html\">PutScalingPolicy</a> API.</p>"
    }
  },
  "shapes":{
    "AcceleratorCountRequest":{
      "type":"structure",
      "members":{
        "Min":{
          "shape":"NullablePositiveInteger",
          "documentation":"<p>The minimum value.</p>"
        },
        "Max":{
          "shape":"NullablePositiveInteger",
          "documentation":"<p>The maximum value.</p>"
        }
      },
      "documentation":"<p>Specifies the minimum and maximum for the <code>AcceleratorCount</code> object when you specify <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_InstanceRequirements.html\">InstanceRequirements</a> for an Auto Scaling group.</p>"
    },
    "AcceleratorManufacturer":{
      "type":"string",
      "enum":[
        "nvidia",
        "amd",
        "amazon-web-services",
        "xilinx"
      ]
    },
    "AcceleratorManufacturers":{
      "type":"list",
      "member":{"shape":"AcceleratorManufacturer"}
    },
    "AcceleratorName":{
      "type":"string",
      "enum":[
        "a100",
        "v100",
        "k80",
        "t4",
        "m60",
        "radeon-pro-v520",
        "vu9p"
      ]
    },
    "AcceleratorNames":{
      "type":"list",
      "member":{"shape":"AcceleratorName"}
    },
    "AcceleratorTotalMemoryMiBRequest":{
      "type":"structure",
      "members":{
        "Min":{
          "shape":"NullablePositiveInteger",
          "documentation":"<p>The memory minimum in MiB.</p>"
        },
        "Max":{
          "shape":"NullablePositiveInteger",
          "documentation":"<p>The memory maximum in MiB.</p>"
        }
      },
      "documentation":"<p>Specifies the minimum and maximum for the <code>AcceleratorTotalMemoryMiB</code> object when you specify <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_InstanceRequirements.html\">InstanceRequirements</a> for an Auto Scaling group.</p>"
    },
    "AcceleratorType":{
      "type":"string",
      "enum":[
        "gpu",
        "fpga",
        "inference"
      ]
    },
    "AcceleratorTypes":{
      "type":"list",
      "member":{"shape":"AcceleratorType"}
    },
    "ActiveInstanceRefreshNotFoundFault":{
      "type":"structure",
      "members":{
        "message":{"shape":"XmlStringMaxLen255"}
      },
      "documentation":"<p>The request failed because an active instance refresh or rollback for the specified Auto Scaling group was not found.</p>",
      "error":{
        "code":"ActiveInstanceRefreshNotFound",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "Activities":{
      "type":"list",
      "member":{"shape":"Activity"}
    },
    "ActivitiesType":{
      "type":"structure",
      "required":["Activities"],
      "members":{
        "Activities":{
          "shape":"Activities",
          "documentation":"<p>The scaling activities. Activities are sorted by start time. Activities still in progress are described first.</p>"
        },
        "NextToken":{
          "shape":"XmlString",
          "documentation":"<p>A string that indicates that the response contains more items than can be returned in a single response. To receive additional items, specify this string for the <code>NextToken</code> value when requesting the next set of items. This value is null when there are no more items to return.</p>"
        }
      }
    },
    "Activity":{
      "type":"structure",
      "required":[
        "ActivityId",
        "AutoScalingGroupName",
        "Cause",
        "StartTime",
        "StatusCode"
      ],
      "members":{
        "ActivityId":{
          "shape":"XmlString",
          "documentation":"<p>The ID of the activity.</p>"
        },
        "AutoScalingGroupName":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>The name of the Auto Scaling group.</p>"
        },
        "Description":{
          "shape":"XmlString",
          "documentation":"<p>A friendly, more verbose description of the activity.</p>"
        },
        "Cause":{
          "shape":"XmlStringMaxLen1023",
          "documentation":"<p>The reason the activity began.</p>"
        },
        "StartTime":{
          "shape":"TimestampType",
          "documentation":"<p>The start time of the activity.</p>"
        },
        "EndTime":{
          "shape":"TimestampType",
          "documentation":"<p>The end time of the activity.</p>"
        },
        "StatusCode":{
          "shape":"ScalingActivityStatusCode",
          "documentation":"<p>The current status of the activity.</p>"
        },
        "StatusMessage":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>A friendly, more verbose description of the activity status.</p>"
        },
        "Progress":{
          "shape":"Progress",
          "documentation":"<p>A value between 0 and 100 that indicates the progress of the activity.</p>"
        },
        "Details":{
          "shape":"XmlString",
          "documentation":"<p>The details about the activity.</p>"
        },
        "AutoScalingGroupState":{
          "shape":"AutoScalingGroupState",
          "documentation":"<p>The state of the Auto Scaling group, which is either <code>InService</code> or <code>Deleted</code>.</p>"
        },
        "AutoScalingGroupARN":{
          "shape":"ResourceName",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Auto Scaling group.</p>"
        }
      },
      "documentation":"<p>Describes scaling activity, which is a long-running process that represents a change to your Auto Scaling group, such as changing its size or replacing an instance.</p>"
    },
    "ActivityIds":{
      "type":"list",
      "member":{"shape":"XmlString"}
    },
    "ActivityType":{
      "type":"structure",
      "members":{
        "Activity":{
          "shape":"Activity",
          "documentation":"<p>A scaling activity.</p>"
        }
      }
    },
    "AdjustmentType":{
      "type":"structure",
      "members":{
        "AdjustmentType":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>The policy adjustment type. The valid values are <code>ChangeInCapacity</code>, <code>ExactCapacity</code>, and <code>PercentChangeInCapacity</code>.</p>"
        }
      },
      "documentation":"<p>Describes a policy adjustment type.</p>"
    },
    "AdjustmentTypes":{
      "type":"list",
      "member":{"shape":"AdjustmentType"}
    },
    "Alarm":{
      "type":"structure",
      "members":{
        "AlarmName":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>The name of the alarm.</p>"
        },
        "AlarmARN":{
          "shape":"ResourceName",
          "documentation":"<p>The Amazon Resource Name (ARN) of the alarm.</p>"
        }
      },
      "documentation":"<p>Describes an alarm.</p>"
    },
    "AlarmList":{
      "type":"list",
      "member":{"shape":"XmlStringMaxLen255"}
    },
    "AlarmSpecification":{
      "type":"structure",
      "members":{
        "Alarms":{
          "shape":"AlarmList",
          "documentation":"<p>The names of one or more CloudWatch alarms to monitor for the instance refresh. You can specify up to 10 alarms.</p>"
        }
      },
      "documentation":"<p>Specifies the CloudWatch alarm specification to use in an instance refresh.</p>"
    },
    "Alarms":{
      "type":"list",
      "member":{"shape":"Alarm"}
    },
    "AllowedInstanceType":{
      "type":"string",
      "max":30,
      "min":1,
      "pattern":"[a-zA-Z0-9\\.\\*\\-]+"
    },
    "AllowedInstanceTypes":{
      "type":"list",
      "member":{"shape":"AllowedInstanceType"},
      "max":400
    },
    "AlreadyExistsFault":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p>You already have an Auto Scaling group or launch configuration with this name.</p>",
      "error":{
        "code":"AlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "AnyPrintableAsciiStringMaxLen4000":{
      "type":"string",
      "max":4000,
      "min":1,
      "pattern":"[\\u0009\\u000A\\u000D\\u0020-\\u007e]+"
    },
    "AsciiStringMaxLen255":{
      "type":"string",
      "max":255,
      "min":1,
      "pattern":"[A-Za-z0-9\\-_\\/]+"
    },
    "AssociatePublicIpAddress":{"type":"boolean"},
    "AttachInstancesQuery":{
      "type":"structure",
      "required":["AutoScalingGroupName"],
      "members":{
        "InstanceIds":{
          "shape":"InstanceIds",
          "documentation":"<p>The IDs of the instances. You can specify up to 20 instances.</p>"
        },
        "AutoScalingGroupName":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>The name of the Auto Scaling group.</p>"
        }
      }
    },
    "AttachLoadBalancerTargetGroupsResultType":{
      "type":"structure",
      "members":{}
    },
    "AttachLoadBalancerTargetGroupsType":{
      "type":"structure",
      "required":[
        "AutoScalingGroupName",
        "TargetGroupARNs"
      ],
      "members":{
        "AutoScalingGroupName":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>The name of the Auto Scaling group.</p>"
        },
        "TargetGroupARNs":{
          "shape":"TargetGroupARNs",
          "documentation":"<p>The Amazon Resource Names (ARNs) of the target groups. You can specify up to 10 target groups. To get the ARN of a target group, use the Elastic Load Balancing <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/APIReference/API_DescribeTargetGroups.html\">DescribeTargetGroups</a> API operation.</p>"
        }
      }
    },
    "AttachLoadBalancersResultType":{
      "type":"structure",
      "members":{}
    },
    "AttachLoadBalancersType":{
      "type":"structure",
      "required":[
        "AutoScalingGroupName",
        "LoadBalancerNames"
      ],
      "members":{
        "AutoScalingGroupName":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>The name of the Auto Scaling group.</p>"
        },
        "LoadBalancerNames":{
          "shape":"LoadBalancerNames",
          "documentation":"<p>The names of the load balancers. You can specify up to 10 load balancers.</p>"
        }
      }
    },
    "AttachTrafficSourcesResultType":{
      "type":"structure",
      "members":{}
    },
    "AttachTrafficSourcesType":{
      "type":"structure",
      "required":[
        "AutoScalingGroupName",
        "TrafficSources"
      ],
      "members":{
        "AutoScalingGroupName":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>The name of the Auto Scaling group.</p>"
        },
        "TrafficSources":{
          "shape":"TrafficSources",
          "documentation":"<p>The unique identifiers of one or more traffic sources. You can specify up to 10 traffic sources.</p>"
        },
        "SkipZonalShiftValidation":{
          "shape":"SkipZonalShiftValidation",
          "documentation":"<p> If you enable zonal shift with cross-zone disabled load balancers, capacity could become imbalanced across Availability Zones. To skip the validation, specify <code>true</code>. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-zonal-shift.html\">Auto Scaling group zonal shift</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>. </p>"
        }
      }
    },
    "AutoRollback":{"type":"boolean"},
    "AutoScalingGroup":{
      "type":"structure",
      "required":[
        "AutoScalingGroupName",
        "MinSize",
        "MaxSize",
        "DesiredCapacity",
        "DefaultCooldown",
        "AvailabilityZones",
        "HealthCheckType",
        "CreatedTime"
      ],
      "members":{
        "AutoScalingGroupName":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>The name of the Auto Scaling group.</p>"
        },
        "AutoScalingGroupARN":{
          "shape":"ResourceName",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Auto Scaling group.</p>"
        },
        "LaunchConfigurationName":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>The name of the associated launch configuration.</p>"
        },
        "LaunchTemplate":{
          "shape":"LaunchTemplateSpecification",
          "documentation":"<p>The launch template for the group.</p>"
        },
        "MixedInstancesPolicy":{
          "shape":"MixedInstancesPolicy",
          "documentation":"<p>The mixed instances policy for the group.</p>"
        },
        "MinSize":{
          "shape":"AutoScalingGroupMinSize",
          "documentation":"<p>The minimum size of the group.</p>"
        },
        "MaxSize":{
          "shape":"AutoScalingGroupMaxSize",
          "documentation":"<p>The maximum size of the group.</p>"
        },
        "DesiredCapacity":{
          "shape":"AutoScalingGroupDesiredCapacity",
          "documentation":"<p>The desired size of the group.</p>"
        },
        "PredictedCapacity":{
          "shape":"AutoScalingGroupPredictedCapacity",
          "documentation":"<p>The predicted capacity of the group when it has a predictive scaling policy.</p>"
        },
        "DefaultCooldown":{
          "shape":"Cooldown",
          "documentation":"<p>The duration of the default cooldown period, in seconds.</p>"
        },
        "AvailabilityZones":{
          "shape":"AvailabilityZones",
          "documentation":"<p>One or more Availability Zones for the group.</p>"
        },
        "LoadBalancerNames":{
          "shape":"LoadBalancerNames",
          "documentation":"<p>One or more load balancers associated with the group.</p>"
        },
        "TargetGroupARNs":{
          "shape":"TargetGroupARNs",
          "documentation":"<p>The Amazon Resource Names (ARN) of the target groups for your load balancer.</p>"
        },
        "HealthCheckType":{
          "shape":"XmlStringMaxLen32",
          "documentation":"<p>A comma-separated value string of one or more health check types.</p>"
        },
        "HealthCheckGracePeriod":{
          "shape":"HealthCheckGracePeriod",
          "documentation":"<p>The duration of the health check grace period, in seconds.</p>"
        },
        "Instances":{
          "shape":"Instances",
          "documentation":"<p>The EC2 instances associated with the group.</p>"
        },
        "CreatedTime":{
          "shape":"TimestampType",
          "documentation":"<p>The date and time the group was created.</p>"
        },
        "SuspendedProcesses":{
          "shape":"SuspendedProcesses",
          "documentation":"<p>The suspended processes associated with the group.</p>"
        },
        "PlacementGroup":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>The name of the placement group into which to launch your instances, if any.</p>"
        },
        "VPCZoneIdentifier":{
          "shape":"XmlStringMaxLen5000",
          "documentation":"<p>One or more subnet IDs, if applicable, separated by commas.</p>"
        },
        "EnabledMetrics":{
          "shape":"EnabledMetrics",
          "documentation":"<p>The metrics enabled for the group.</p>"
        },
        "Status":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>The current state of the group when the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_DeleteAutoScalingGroup.html\">DeleteAutoScalingGroup</a> operation is in progress.</p>"
        },
        "Tags":{
          "shape":"TagDescriptionList",
          "documentation":"<p>The tags for the group.</p>"
        },
        "TerminationPolicies":{
          "shape":"TerminationPolicies",
          "documentation":"<p>The termination policies for the group.</p>"
        },
        "NewInstancesProtectedFromScaleIn":{
          "shape":"InstanceProtected",
          "documentation":"<p>Indicates whether newly launched instances are protected from termination by Amazon EC2 Auto Scaling when scaling in. For more information about preventing instances from terminating on scale in, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ec2-auto-scaling-instance-protection.html\">Use instance scale-in protection</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>. </p>"
        },
        "ServiceLinkedRoleARN":{
          "shape":"ResourceName",
          "documentation":"<p>The Amazon Resource Name (ARN) of the service-linked role that the Auto Scaling group uses to call other Amazon Web Services on your behalf.</p>"
        },
        "MaxInstanceLifetime":{
          "shape":"MaxInstanceLifetime",
          "documentation":"<p>The maximum amount of time, in seconds, that an instance can be in service.</p> <p>Valid Range: Minimum value of 0.</p>"
        },
        "CapacityRebalance":{
          "shape":"CapacityRebalanceEnabled",
          "documentation":"<p>Indicates whether Capacity Rebalancing is enabled.</p>"
        },
        "WarmPoolConfiguration":{
          "shape":"WarmPoolConfiguration",
          "documentation":"<p>The warm pool for the group.</p>"
        },
        "WarmPoolSize":{
          "shape":"WarmPoolSize",
          "documentation":"<p>The current size of the warm pool.</p>"
        },
        "Context":{
          "shape":"Context",
          "documentation":"<p>Reserved.</p>"
        },
        "DesiredCapacityType":{
          "shape":"XmlStringMaxLen255",
          "documentation":"<p>The unit of measurement for the value specified for desired capacity. Amazon EC2 Auto Scaling supports <code>DesiredCapacityType</code> for attribute-based instance type selection only.</p>"
        },
        "DefaultInstanceWarmup":{
          "shape":"DefaultInstanceWarmup",
          "documentation":"<p>The duration of the default instance warmup, in seconds.</p>"
        },
        "TrafficSources":{
          "shape":"TrafficSources",
          "documentation":"<p>The traffic sources associated with this Auto Scaling group.</p>"
        },
        "InstanceMaintenancePolicy":{
          "shape":"InstanceMaintenancePolicy",
          "documentation":"<p>An instance maintenance policy.</p>"
        },
        "AvailabilityZoneDistribution":{
          "shape":"AvailabilityZoneDistribution",
          "documentation":"<p> The instance capacity distribution across Availability Zones. </p>"
        },
        "AvailabilityZoneImpairmentPolicy":{
          "shape":"AvailabilityZoneImpairmentPolicy",
          "documentation":"<p> The Availability Zone impairment policy. </p>"
        },
        "CapacityReservationSpecification":{
          "shape":"CapacityReservationSpecification",
          "documentation":"<p> The capacity reservation specification. </p>"
        }
      },
      "documentation":"<p>Describes an Auto Scaling group.</p>"
    },
    "AutoScalingGroupDesiredCapacity":{"type":"integer"},
    "AutoScalingGroupMaxSize":{"type":"integer"},
    "AutoScalingGroupMinSize":{"type":"integer"},
    "AutoScalingGroupNames":{
      "type":"list",
      "member":{"shape":"XmlStringMaxLen255"}
    },
    "AutoScalingGroupNamesType":{
      "type":"structure",
      "members":{
        "AutoScalingGroupNames":{
          "shape":"AutoScalingGroupNames",
          "documentation":"<p>The names of the Auto Scaling groups. By default, you can only specify up to 50 names. You can optionally increase this limit using the <code>MaxRecords</code> property.</p> <p>If you omit this property, all Auto Scaling groups are described.</p>"
        },
        "IncludeInstances":{
          "shape":"IncludeInstances",
          "documentation":"<p> Specifies whether to include information about Amazon EC2 instances in the response. When set to <code>true</code> (default), the response includes instance details. </p>"
        },
        "NextToken":{
          "shape":"XmlString",
          "documentation":"<p>The token for the next set of items to return. (You received this token from a previous call.)</p>"
        },
        "MaxRecords":{
          "shape":"MaxRecords",
          "documentation":"<p>The maximum number of items to return with this call. The default value is <code>50</code> and the maximum value is <code>100</code>.</p>"
        },
        "Filters":{
          "shape":"Filters",
          "documentation":"<p>One or more filters to limit the results based on specific tags. </p>"
        }
      }
    },
    "AutoScalingGroupPredictedCapacity":{"type":"integer"},
    "AutoScalingGroupState":{
      "type":"string",
      "max":32,
      "min":1
    },
    "AutoScalingGroups":{
      "type":"list",
      "member":{"shape":"AutoScalingGroup"}
    },
    "AutoScalingGroupsType":{
      "type":"structure",
      "required":["AutoScalingGroups"],
      "members":{
        "AutoScalingGroups":{
          "shape":"AutoScalingGroups",
          "documentation":"<p>The groups.</p>"
        },
        "NextToken":{
          "shape":"XmlString",
          "documentation":"<p>A string that indicates that the response contains more items than can be returned in a single response. To receive additional items, specify this string for the <code>NextToken</code> value when requesting the next set of items. This value is null when there are no more items to return.</p>"
        }
      }
    },
    "AutoScalingInstanceDetails":{
      "type":"structure",
      "required":[
        "InstanceId",
        "AutoScalingGroupName",
        "AvailabilityZone",
        "LifecycleState",
        "HealthStatus",
[...]
