{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2020-03-31",
    "endpointPrefix":"wellarchitected",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceAbbreviation":"Well-Architected",
    "serviceFullName":"AWS Well-Architected Tool",
    "serviceId":"WellArchitected",
    "signatureVersion":"v4",
    "signingName":"wellarchitected",
    "uid":"wellarchitected-2020-03-31",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AssociateLenses":{
      "name":"AssociateLenses",
      "http":{
        "method":"PATCH",
        "requestUri":"/workloads/{WorkloadId}/associateLenses"
      },
      "input":{"shape":"AssociateLensesInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Associate a lens to a workload.</p> <p>Up to 10 lenses can be associated with a workload in a single API operation. A maximum of 20 lenses can be associated with a workload.</p> <note> <p> <b>Disclaimer</b> </p> <p>By accessing and/or applying custom lenses created by another Amazon Web Services user or account, you acknowledge that custom lenses created by other users and shared with you are Third Party Content as defined in the Amazon Web Services Customer Agreement. </p> </note>"
    },
    "AssociateProfiles":{
      "name":"AssociateProfiles",
      "http":{
        "method":"PATCH",
        "requestUri":"/workloads/{WorkloadId}/associateProfiles"
      },
      "input":{"shape":"AssociateProfilesInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Associate a profile with a workload.</p>"
    },
    "CreateLensShare":{
      "name":"CreateLensShare",
      "http":{
        "method":"POST",
        "requestUri":"/lenses/{LensAlias}/shares"
      },
      "input":{"shape":"CreateLensShareInput"},
      "output":{"shape":"CreateLensShareOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Create a lens share.</p> <p>The owner of a lens can share it with other Amazon Web Services accounts, users, an organization, and organizational units (OUs) in the same Amazon Web Services Region. Lenses provided by Amazon Web Services (Amazon Web Services Official Content) cannot be shared.</p> <p> Shared access to a lens is not removed until the lens invitation is deleted.</p> <p>If you share a lens with an organization or OU, all accounts in the organization or OU are granted access to the lens.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/wellarchitected/latest/userguide/lenses-sharing.html\">Sharing a custom lens</a> in the <i>Well-Architected Tool User Guide</i>.</p> <note> <p> <b>Disclaimer</b> </p> <p>By sharing your custom lenses with other Amazon Web Services accounts, you acknowledge that Amazon Web Services will make your custom lenses available to those other accounts. Those other accounts may continue to access and use your shared custom lenses even if you delete the custom lenses from your own Amazon Web Services account or terminate your Amazon Web Services account.</p> </note>"
    },
    "CreateLensVersion":{
      "name":"CreateLensVersion",
      "http":{
        "method":"POST",
        "requestUri":"/lenses/{LensAlias}/versions"
      },
      "input":{"shape":"CreateLensVersionInput"},
      "output":{"shape":"CreateLensVersionOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Create a new lens version.</p> <p>A lens can have up to 100 versions.</p> <p>Use this operation to publish a new lens version after you have imported a lens. The <code>LensAlias</code> is used to identify the lens to be published. The owner of a lens can share the lens with other Amazon Web Services accounts and users in the same Amazon Web Services Region. Only the owner of a lens can delete it. </p>"
    },
    "CreateMilestone":{
      "name":"CreateMilestone",
      "http":{
        "method":"POST",
        "requestUri":"/workloads/{WorkloadId}/milestones"
      },
      "input":{"shape":"CreateMilestoneInput"},
      "output":{"shape":"CreateMilestoneOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Create a milestone for an existing workload.</p>"
    },
    "CreateProfile":{
      "name":"CreateProfile",
      "http":{
        "method":"POST",
        "requestUri":"/profiles"
      },
      "input":{"shape":"CreateProfileInput"},
      "output":{"shape":"CreateProfileOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Create a profile.</p>"
    },
    "CreateProfileShare":{
      "name":"CreateProfileShare",
      "http":{
        "method":"POST",
        "requestUri":"/profiles/{ProfileArn}/shares"
      },
      "input":{"shape":"CreateProfileShareInput"},
      "output":{"shape":"CreateProfileShareOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Create a profile share.</p>"
    },
    "CreateReviewTemplate":{
      "name":"CreateReviewTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/reviewTemplates"
      },
      "input":{"shape":"CreateReviewTemplateInput"},
      "output":{"shape":"CreateReviewTemplateOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Create a review template.</p> <note> <p> <b>Disclaimer</b> </p> <p>Do not include or gather personal identifiable information (PII) of end users or other identifiable individuals in or via your review templates. If your review template or those shared with you and used in your account do include or collect PII you are responsible for: ensuring that the included PII is processed in accordance with applicable law, providing adequate privacy notices, and obtaining necessary consents for processing such data.</p> </note>"
    },
    "CreateTemplateShare":{
      "name":"CreateTemplateShare",
      "http":{
        "method":"POST",
        "requestUri":"/templates/shares/{TemplateArn}"
      },
      "input":{"shape":"CreateTemplateShareInput"},
      "output":{"shape":"CreateTemplateShareOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Create a review template share.</p> <p>The owner of a review template can share it with other Amazon Web Services accounts, users, an organization, and organizational units (OUs) in the same Amazon Web Services Region. </p> <p> Shared access to a review template is not removed until the review template share invitation is deleted.</p> <p>If you share a review template with an organization or OU, all accounts in the organization or OU are granted access to the review template.</p> <note> <p> <b>Disclaimer</b> </p> <p>By sharing your review template with other Amazon Web Services accounts, you acknowledge that Amazon Web Services will make your review template available to those other accounts.</p> </note>"
    },
    "CreateWorkload":{
      "name":"CreateWorkload",
      "http":{
        "method":"POST",
        "requestUri":"/workloads"
      },
      "input":{"shape":"CreateWorkloadInput"},
      "output":{"shape":"CreateWorkloadOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Create a new workload.</p> <p>The owner of a workload can share the workload with other Amazon Web Services accounts, users, an organization, and organizational units (OUs) in the same Amazon Web Services Region. Only the owner of a workload can delete it.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/wellarchitected/latest/userguide/define-workload.html\">Defining a Workload</a> in the <i>Well-Architected Tool User Guide</i>.</p> <important> <p>Either <code>AwsRegions</code>, <code>NonAwsRegions</code>, or both must be specified when creating a workload.</p> <p>You also must specify <code>ReviewOwner</code>, even though the parameter is listed as not being required in the following section. </p> </important> <p>When creating a workload using a review template, you must have the following IAM permissions:</p> <ul> <li> <p> <code>wellarchitected:GetReviewTemplate</code> </p> </li> <li> <p> <code>wellarchitected:GetReviewTemplateAnswer</code> </p> </li> <li> <p> <code>wellarchitected:ListReviewTemplateAnswers</code> </p> </li> <li> <p> <code>wellarchitected:GetReviewTemplateLensReview</code> </p> </li> </ul>"
    },
    "CreateWorkloadShare":{
      "name":"CreateWorkloadShare",
      "http":{
        "method":"POST",
        "requestUri":"/workloads/{WorkloadId}/shares"
      },
      "input":{"shape":"CreateWorkloadShareInput"},
      "output":{"shape":"CreateWorkloadShareOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Create a workload share.</p> <p>The owner of a workload can share it with other Amazon Web Services accounts and users in the same Amazon Web Services Region. Shared access to a workload is not removed until the workload invitation is deleted.</p> <p>If you share a workload with an organization or OU, all accounts in the organization or OU are granted access to the workload.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/wellarchitected/latest/userguide/workloads-sharing.html\">Sharing a workload</a> in the <i>Well-Architected Tool User Guide</i>.</p>"
    },
    "DeleteLens":{
      "name":"DeleteLens",
      "http":{
        "method":"DELETE",
        "requestUri":"/lenses/{LensAlias}"
      },
      "input":{"shape":"DeleteLensInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Delete an existing lens.</p> <p>Only the owner of a lens can delete it. After the lens is deleted, Amazon Web Services accounts and users that you shared the lens with can continue to use it, but they will no longer be able to apply it to new workloads. </p> <note> <p> <b>Disclaimer</b> </p> <p>By sharing your custom lenses with other Amazon Web Services accounts, you acknowledge that Amazon Web Services will make your custom lenses available to those other accounts. Those other accounts may continue to access and use your shared custom lenses even if you delete the custom lenses from your own Amazon Web Services account or terminate your Amazon Web Services account.</p> </note>"
    },
    "DeleteLensShare":{
      "name":"DeleteLensShare",
      "http":{
        "method":"DELETE",
        "requestUri":"/lenses/{LensAlias}/shares/{ShareId}"
      },
      "input":{"shape":"DeleteLensShareInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Delete a lens share.</p> <p>After the lens share is deleted, Amazon Web Services accounts, users, organizations, and organizational units (OUs) that you shared the lens with can continue to use it, but they will no longer be able to apply it to new workloads.</p> <note> <p> <b>Disclaimer</b> </p> <p>By sharing your custom lenses with other Amazon Web Services accounts, you acknowledge that Amazon Web Services will make your custom lenses available to those other accounts. Those other accounts may continue to access and use your shared custom lenses even if you delete the custom lenses from your own Amazon Web Services account or terminate your Amazon Web Services account.</p> </note>"
    },
    "DeleteProfile":{
      "name":"DeleteProfile",
      "http":{
        "method":"DELETE",
        "requestUri":"/profiles/{ProfileArn}"
      },
      "input":{"shape":"DeleteProfileInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Delete a profile.</p> <note> <p> <b>Disclaimer</b> </p> <p>By sharing your profile with other Amazon Web Services accounts, you acknowledge that Amazon Web Services will make your profile available to those other accounts. Those other accounts may continue to access and use your shared profile even if you delete the profile from your own Amazon Web Services account or terminate your Amazon Web Services account.</p> </note>"
    },
    "DeleteProfileShare":{
      "name":"DeleteProfileShare",
      "http":{
        "method":"DELETE",
        "requestUri":"/profiles/{ProfileArn}/shares/{ShareId}"
      },
      "input":{"shape":"DeleteProfileShareInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Delete a profile share.</p>"
    },
    "DeleteReviewTemplate":{
      "name":"DeleteReviewTemplate",
      "http":{
        "method":"DELETE",
        "requestUri":"/reviewTemplates/{TemplateArn}"
      },
      "input":{"shape":"DeleteReviewTemplateInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Delete a review template.</p> <p>Only the owner of a review template can delete it.</p> <p>After the review template is deleted, Amazon Web Services accounts, users, organizations, and organizational units (OUs) that you shared the review template with will no longer be able to apply it to new workloads.</p>"
    },
    "DeleteTemplateShare":{
      "name":"DeleteTemplateShare",
      "http":{
        "method":"DELETE",
        "requestUri":"/templates/shares/{TemplateArn}/{ShareId}"
      },
      "input":{"shape":"DeleteTemplateShareInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Delete a review template share.</p> <p>After the review template share is deleted, Amazon Web Services accounts, users, organizations, and organizational units (OUs) that you shared the review template with will no longer be able to apply it to new workloads.</p>"
    },
    "DeleteWorkload":{
      "name":"DeleteWorkload",
      "http":{
        "method":"DELETE",
        "requestUri":"/workloads/{WorkloadId}"
      },
      "input":{"shape":"DeleteWorkloadInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Delete an existing workload.</p>"
    },
    "DeleteWorkloadShare":{
      "name":"DeleteWorkloadShare",
      "http":{
        "method":"DELETE",
        "requestUri":"/workloads/{WorkloadId}/shares/{ShareId}"
      },
      "input":{"shape":"DeleteWorkloadShareInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Delete a workload share.</p>"
    },
    "DisassociateLenses":{
      "name":"DisassociateLenses",
      "http":{
        "method":"PATCH",
        "requestUri":"/workloads/{WorkloadId}/disassociateLenses"
      },
      "input":{"shape":"DisassociateLensesInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Disassociate a lens from a workload.</p> <p>Up to 10 lenses can be disassociated from a workload in a single API operation.</p> <note> <p>The Amazon Web Services Well-Architected Framework lens (<code>wellarchitected</code>) cannot be removed from a workload.</p> </note>"
    },
    "DisassociateProfiles":{
      "name":"DisassociateProfiles",
      "http":{
        "method":"PATCH",
        "requestUri":"/workloads/{WorkloadId}/disassociateProfiles"
      },
      "input":{"shape":"DisassociateProfilesInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Disassociate a profile from a workload.</p>"
    },
    "ExportLens":{
      "name":"ExportLens",
      "http":{
        "method":"GET",
        "requestUri":"/lenses/{LensAlias}/export"
      },
      "input":{"shape":"ExportLensInput"},
      "output":{"shape":"ExportLensOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Export an existing lens.</p> <p>Only the owner of a lens can export it. Lenses provided by Amazon Web Services (Amazon Web Services Official Content) cannot be exported.</p> <p>Lenses are defined in JSON. For more information, see <a href=\"https://docs.aws.amazon.com/wellarchitected/latest/userguide/lenses-format-specification.html\">JSON format specification</a> in the <i>Well-Architected Tool User Guide</i>.</p> <note> <p> <b>Disclaimer</b> </p> <p>Do not include or gather personal identifiable information (PII) of end users or other identifiable individuals in or via your custom lenses. If your custom lens or those shared with you and used in your account do include or collect PII you are responsible for: ensuring that the included PII is processed in accordance with applicable law, providing adequate privacy notices, and obtaining necessary consents for processing such data.</p> </note>"
    },
    "GetAnswer":{
      "name":"GetAnswer",
      "http":{
        "method":"GET",
        "requestUri":"/workloads/{WorkloadId}/lensReviews/{LensAlias}/answers/{QuestionId}"
      },
      "input":{"shape":"GetAnswerInput"},
      "output":{"shape":"GetAnswerOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get the answer to a specific question in a workload review.</p>"
    },
    "GetConsolidatedReport":{
      "name":"GetConsolidatedReport",
      "http":{
        "method":"GET",
        "requestUri":"/consolidatedReport"
      },
      "input":{"shape":"GetConsolidatedReportInput"},
      "output":{"shape":"GetConsolidatedReportOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Get a consolidated report of your workloads.</p> <p>You can optionally choose to include workloads that have been shared with you.</p>"
    },
    "GetGlobalSettings":{
      "name":"GetGlobalSettings",
      "http":{
        "method":"GET",
        "requestUri":"/global-settings"
      },
      "output":{"shape":"GetGlobalSettingsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Global settings for all workloads.</p>"
    },
    "GetLens":{
      "name":"GetLens",
      "http":{
        "method":"GET",
        "requestUri":"/lenses/{LensAlias}"
      },
      "input":{"shape":"GetLensInput"},
      "output":{"shape":"GetLensOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get an existing lens.</p>"
    },
    "GetLensReview":{
      "name":"GetLensReview",
      "http":{
        "method":"GET",
        "requestUri":"/workloads/{WorkloadId}/lensReviews/{LensAlias}"
      },
      "input":{"shape":"GetLensReviewInput"},
      "output":{"shape":"GetLensReviewOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get lens review.</p>"
    },
    "GetLensReviewReport":{
      "name":"GetLensReviewReport",
      "http":{
        "method":"GET",
        "requestUri":"/workloads/{WorkloadId}/lensReviews/{LensAlias}/report"
      },
      "input":{"shape":"GetLensReviewReportInput"},
      "output":{"shape":"GetLensReviewReportOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get lens review report.</p>"
    },
    "GetLensVersionDifference":{
      "name":"GetLensVersionDifference",
      "http":{
        "method":"GET",
        "requestUri":"/lenses/{LensAlias}/versionDifference"
      },
      "input":{"shape":"GetLensVersionDifferenceInput"},
      "output":{"shape":"GetLensVersionDifferenceOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get lens version differences.</p>"
    },
    "GetMilestone":{
      "name":"GetMilestone",
      "http":{
        "method":"GET",
        "requestUri":"/workloads/{WorkloadId}/milestones/{MilestoneNumber}"
      },
      "input":{"shape":"GetMilestoneInput"},
      "output":{"shape":"GetMilestoneOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get a milestone for an existing workload.</p>"
    },
    "GetProfile":{
      "name":"GetProfile",
      "http":{
        "method":"GET",
        "requestUri":"/profiles/{ProfileArn}"
      },
      "input":{"shape":"GetProfileInput"},
      "output":{"shape":"GetProfileOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get profile information.</p>"
    },
    "GetProfileTemplate":{
      "name":"GetProfileTemplate",
      "http":{
        "method":"GET",
        "requestUri":"/profileTemplate"
      },
      "input":{"shape":"GetProfileTemplateInput"},
      "output":{"shape":"GetProfileTemplateOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get profile template.</p>"
    },
    "GetReviewTemplate":{
      "name":"GetReviewTemplate",
      "http":{
        "method":"GET",
        "requestUri":"/reviewTemplates/{TemplateArn}"
      },
      "input":{"shape":"GetReviewTemplateInput"},
      "output":{"shape":"GetReviewTemplateOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get review template.</p>"
    },
    "GetReviewTemplateAnswer":{
      "name":"GetReviewTemplateAnswer",
      "http":{
        "method":"GET",
        "requestUri":"/reviewTemplates/{TemplateArn}/lensReviews/{LensAlias}/answers/{QuestionId}"
      },
      "input":{"shape":"GetReviewTemplateAnswerInput"},
      "output":{"shape":"GetReviewTemplateAnswerOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get review template answer.</p>"
    },
    "GetReviewTemplateLensReview":{
      "name":"GetReviewTemplateLensReview",
      "http":{
        "method":"GET",
        "requestUri":"/reviewTemplates/{TemplateArn}/lensReviews/{LensAlias}"
      },
      "input":{"shape":"GetReviewTemplateLensReviewInput"},
      "output":{"shape":"GetReviewTemplateLensReviewOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get a lens review associated with a review template.</p>"
    },
    "GetWorkload":{
      "name":"GetWorkload",
      "http":{
        "method":"GET",
        "requestUri":"/workloads/{WorkloadId}"
      },
      "input":{"shape":"GetWorkloadInput"},
      "output":{"shape":"GetWorkloadOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get an existing workload.</p>"
    },
    "ImportLens":{
      "name":"ImportLens",
      "http":{
        "method":"PUT",
        "requestUri":"/importLens"
      },
      "input":{"shape":"ImportLensInput"},
      "output":{"shape":"ImportLensOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Import a new custom lens or update an existing custom lens.</p> <p>To update an existing custom lens, specify its ARN as the <code>LensAlias</code>. If no ARN is specified, a new custom lens is created.</p> <p>The new or updated lens will have a status of <code>DRAFT</code>. The lens cannot be applied to workloads or shared with other Amazon Web Services accounts until it's published with <a>CreateLensVersion</a>.</p> <p>Lenses are defined in JSON. For more information, see <a href=\"https://docs.aws.amazon.com/wellarchitected/latest/userguide/lenses-format-specification.html\">JSON format specification</a> in the <i>Well-Architected Tool User Guide</i>.</p> <p>A custom lens cannot exceed 500 KB in size.</p> <note> <p> <b>Disclaimer</b> </p> <p>Do not include or gather personal identifiable information (PII) of end users or other identifiable individuals in or via your custom lenses. If your custom lens or those shared with you and used in your account do include or collect PII you are responsible for: ensuring that the included PII is processed in accordance with applicable law, providing adequate privacy notices, and obtaining necessary consents for processing such data.</p> </note>"
    },
    "ListAnswers":{
      "name":"ListAnswers",
      "http":{
        "method":"GET",
        "requestUri":"/workloads/{WorkloadId}/lensReviews/{LensAlias}/answers"
      },
      "input":{"shape":"ListAnswersInput"},
      "output":{"shape":"ListAnswersOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List of answers for a particular workload and lens.</p>"
    },
    "ListCheckDetails":{
      "name":"ListCheckDetails",
      "http":{
        "method":"POST",
        "requestUri":"/workloads/{WorkloadId}/checks"
      },
      "input":{"shape":"ListCheckDetailsInput"},
      "output":{"shape":"ListCheckDetailsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List of Trusted Advisor check details by account related to the workload.</p>"
    },
    "ListCheckSummaries":{
      "name":"ListCheckSummaries",
      "http":{
        "method":"POST",
        "requestUri":"/workloads/{WorkloadId}/checkSummaries"
      },
      "input":{"shape":"ListCheckSummariesInput"},
      "output":{"shape":"ListCheckSummariesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List of Trusted Advisor checks summarized for all accounts related to the workload.</p>"
    },
    "ListLensReviewImprovements":{
      "name":"ListLensReviewImprovements",
      "http":{
        "method":"GET",
        "requestUri":"/workloads/{WorkloadId}/lensReviews/{LensAlias}/improvements"
      },
      "input":{"shape":"ListLensReviewImprovementsInput"},
      "output":{"shape":"ListLensReviewImprovementsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List the improvements of a particular lens review.</p>"
    },
    "ListLensReviews":{
      "name":"ListLensReviews",
      "http":{
        "method":"GET",
        "requestUri":"/workloads/{WorkloadId}/lensReviews"
      },
      "input":{"shape":"ListLensReviewsInput"},
      "output":{"shape":"ListLensReviewsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List lens reviews for a particular workload.</p>"
    },
    "ListLensShares":{
      "name":"ListLensShares",
      "http":{
        "method":"GET",
        "requestUri":"/lenses/{LensAlias}/shares"
      },
      "input":{"shape":"ListLensSharesInput"},
      "output":{"shape":"ListLensSharesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List the lens shares associated with the lens.</p>"
    },
    "ListLenses":{
      "name":"ListLenses",
      "http":{
        "method":"GET",
        "requestUri":"/lenses"
      },
      "input":{"shape":"ListLensesInput"},
      "output":{"shape":"ListLensesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List the available lenses.</p>"
    },
    "ListMilestones":{
      "name":"ListMilestones",
      "http":{
        "method":"POST",
        "requestUri":"/workloads/{WorkloadId}/milestonesSummaries"
      },
      "input":{"shape":"ListMilestonesInput"},
      "output":{"shape":"ListMilestonesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List all milestones for an existing workload.</p>"
    },
    "ListNotifications":{
      "name":"ListNotifications",
      "http":{
        "method":"POST",
        "requestUri":"/notifications"
      },
      "input":{"shape":"ListNotificationsInput"},
      "output":{"shape":"ListNotificationsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List lens notifications.</p>"
    },
    "ListProfileNotifications":{
      "name":"ListProfileNotifications",
      "http":{
        "method":"GET",
        "requestUri":"/profileNotifications/"
      },
      "input":{"shape":"ListProfileNotificationsInput"},
      "output":{"shape":"ListProfileNotificationsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List profile notifications.</p>"
    },
    "ListProfileShares":{
      "name":"ListProfileShares",
      "http":{
        "method":"GET",
        "requestUri":"/profiles/{ProfileArn}/shares"
      },
      "input":{"shape":"ListProfileSharesInput"},
      "output":{"shape":"ListProfileSharesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List profile shares.</p>"
    },
    "ListProfiles":{
      "name":"ListProfiles",
      "http":{
        "method":"GET",
        "requestUri":"/profileSummaries"
      },
      "input":{"shape":"ListProfilesInput"},
      "output":{"shape":"ListProfilesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List profiles.</p>"
    },
    "ListReviewTemplateAnswers":{
      "name":"ListReviewTemplateAnswers",
      "http":{
        "method":"GET",
        "requestUri":"/reviewTemplates/{TemplateArn}/lensReviews/{LensAlias}/answers"
      },
      "input":{"shape":"ListReviewTemplateAnswersInput"},
      "output":{"shape":"ListReviewTemplateAnswersOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List the answers of a review template.</p>"
    },
    "ListReviewTemplates":{
      "name":"ListReviewTemplates",
      "http":{
        "method":"GET",
        "requestUri":"/reviewTemplates"
      },
      "input":{"shape":"ListReviewTemplatesInput"},
      "output":{"shape":"ListReviewTemplatesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List review templates.</p>"
    },
    "ListShareInvitations":{
      "name":"ListShareInvitations",
      "http":{
        "method":"GET",
        "requestUri":"/shareInvitations"
      },
      "input":{"shape":"ListShareInvitationsInput"},
      "output":{"shape":"ListShareInvitationsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List the share invitations.</p> <p> <code>WorkloadNamePrefix</code>, <code>LensNamePrefix</code>, <code>ProfileNamePrefix</code>, and <code>TemplateNamePrefix</code> are mutually exclusive. Use the parameter that matches your <code>ShareResourceType</code>.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{WorkloadArn}"
      },
      "input":{"shape":"ListTagsForResourceInput"},
      "output":{"shape":"ListTagsForResourceOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>List the tags for a resource.</p> <note> <p>The WorkloadArn parameter can be a workload ARN, a custom lens ARN, a profile ARN, or review template ARN.</p> </note>"
    },
    "ListTemplateShares":{
      "name":"ListTemplateShares",
      "http":{
        "method":"GET",
        "requestUri":"/templates/shares/{TemplateArn}"
      },
      "input":{"shape":"ListTemplateSharesInput"},
      "output":{"shape":"ListTemplateSharesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List review template shares.</p>"
    },
    "ListWorkloadShares":{
      "name":"ListWorkloadShares",
      "http":{
        "method":"GET",
        "requestUri":"/workloads/{WorkloadId}/shares"
      },
      "input":{"shape":"ListWorkloadSharesInput"},
      "output":{"shape":"ListWorkloadSharesOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List the workload shares associated with the workload.</p>"
    },
    "ListWorkloads":{
      "name":"ListWorkloads",
      "http":{
        "method":"POST",
        "requestUri":"/workloadsSummaries"
      },
      "input":{"shape":"ListWorkloadsInput"},
      "output":{"shape":"ListWorkloadsOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Paginated list of workloads.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{WorkloadArn}"
      },
      "input":{"shape":"TagResourceInput"},
      "output":{"shape":"TagResourceOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Adds one or more tags to the specified resource.</p> <note> <p>The WorkloadArn parameter can be a workload ARN, a custom lens ARN, a profile ARN, or review template ARN.</p> </note>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{WorkloadArn}"
      },
      "input":{"shape":"UntagResourceInput"},
      "output":{"shape":"UntagResourceOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes specified tags from a resource.</p> <note> <p>The WorkloadArn parameter can be a workload ARN, a custom lens ARN, a profile ARN, or review template ARN.</p> </note> <p>To specify multiple tags, use separate <b>tagKeys</b> parameters, for example:</p> <p> <code>DELETE /tags/WorkloadArn?tagKeys=key1&amp;tagKeys=key2</code> </p>"
    },
    "UpdateAnswer":{
      "name":"UpdateAnswer",
      "http":{
        "method":"PATCH",
        "requestUri":"/workloads/{WorkloadId}/lensReviews/{LensAlias}/answers/{QuestionId}"
      },
      "input":{"shape":"UpdateAnswerInput"},
      "output":{"shape":"UpdateAnswerOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update the answer to a specific question in a workload review.</p>"
    },
    "UpdateGlobalSettings":{
      "name":"UpdateGlobalSettings",
      "http":{
        "method":"PATCH",
        "requestUri":"/global-settings"
      },
      "input":{"shape":"UpdateGlobalSettingsInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update whether the Amazon Web Services account is opted into organization sharing and discovery integration features.</p>"
    },
    "UpdateIntegration":{
      "name":"UpdateIntegration",
      "http":{
        "method":"POST",
        "requestUri":"/workloads/{WorkloadId}/updateIntegration"
      },
      "input":{"shape":"UpdateIntegrationInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update integration features.</p>"
    },
    "UpdateLensReview":{
      "name":"UpdateLensReview",
      "http":{
        "method":"PATCH",
        "requestUri":"/workloads/{WorkloadId}/lensReviews/{LensAlias}"
      },
      "input":{"shape":"UpdateLensReviewInput"},
      "output":{"shape":"UpdateLensReviewOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update lens review for a particular workload.</p>"
    },
    "UpdateProfile":{
      "name":"UpdateProfile",
      "http":{
        "method":"PATCH",
        "requestUri":"/profiles/{ProfileArn}"
      },
      "input":{"shape":"UpdateProfileInput"},
      "output":{"shape":"UpdateProfileOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update a profile.</p>"
    },
    "UpdateReviewTemplate":{
      "name":"UpdateReviewTemplate",
      "http":{
        "method":"PATCH",
        "requestUri":"/reviewTemplates/{TemplateArn}"
      },
      "input":{"shape":"UpdateReviewTemplateInput"},
      "output":{"shape":"UpdateReviewTemplateOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update a review template.</p>"
    },
    "UpdateReviewTemplateAnswer":{
      "name":"UpdateReviewTemplateAnswer",
      "http":{
        "method":"PATCH",
        "requestUri":"/reviewTemplates/{TemplateArn}/lensReviews/{LensAlias}/answers/{QuestionId}"
      },
      "input":{"shape":"UpdateReviewTemplateAnswerInput"},
      "output":{"shape":"UpdateReviewTemplateAnswerOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update a review template answer.</p>"
    },
    "UpdateReviewTemplateLensReview":{
      "name":"UpdateReviewTemplateLensReview",
      "http":{
        "method":"PATCH",
        "requestUri":"/reviewTemplates/{TemplateArn}/lensReviews/{LensAlias}"
      },
      "input":{"shape":"UpdateReviewTemplateLensReviewInput"},
      "output":{"shape":"UpdateReviewTemplateLensReviewOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update a lens review associated with a review template.</p>"
    },
    "UpdateShareInvitation":{
      "name":"UpdateShareInvitation",
      "http":{
        "method":"PATCH",
        "requestUri":"/shareInvitations/{ShareInvitationId}"
      },
      "input":{"shape":"UpdateShareInvitationInput"},
      "output":{"shape":"UpdateShareInvitationOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update a workload or custom lens share invitation.</p> <note> <p>This API operation can be called independently of any resource. Previous documentation implied that a workload ARN must be specified.</p> </note>"
    },
    "UpdateWorkload":{
      "name":"UpdateWorkload",
      "http":{
        "method":"PATCH",
        "requestUri":"/workloads/{WorkloadId}"
      },
      "input":{"shape":"UpdateWorkloadInput"},
      "output":{"shape":"UpdateWorkloadOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update an existing workload.</p>"
    },
    "UpdateWorkloadShare":{
      "name":"UpdateWorkloadShare",
      "http":{
        "method":"PATCH",
        "requestUri":"/workloads/{WorkloadId}/shares/{ShareId}"
      },
      "input":{"shape":"UpdateWorkloadShareInput"},
      "output":{"shape":"UpdateWorkloadShareOutput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update a workload share.</p>"
    },
    "UpgradeLensReview":{
      "name":"UpgradeLensReview",
      "http":{
        "method":"PUT",
        "requestUri":"/workloads/{WorkloadId}/lensReviews/{LensAlias}/upgrade"
      },
      "input":{"shape":"UpgradeLensReviewInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Upgrade lens review for a particular workload.</p>"
    },
    "UpgradeProfileVersion":{
      "name":"UpgradeProfileVersion",
      "http":{
        "method":"PUT",
        "requestUri":"/workloads/{WorkloadId}/profiles/{ProfileArn}/upgrade"
      },
      "input":{"shape":"UpgradeProfileVersionInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Upgrade a profile.</p>"
    },
    "UpgradeReviewTemplateLensReview":{
      "name":"UpgradeReviewTemplateLensReview",
      "http":{
        "method":"PUT",
        "requestUri":"/reviewTemplates/{TemplateArn}/lensReviews/{LensAlias}/upgrade"
      },
      "input":{"shape":"UpgradeReviewTemplateLensReviewInput"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Upgrade the lens review of a review template.</p>"
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "required":["Message"],
      "members":{
        "Message":{"shape":"ExceptionMessage"}
      },
      "documentation":"<p>User does not have sufficient access to perform this action.</p>",
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "AccountJiraConfigurationInput":{
      "type":"structure",
      "members":{
        "IssueManagementStatus":{
          "shape":"AccountJiraIssueManagementStatus",
          "documentation":"<p>Account-level: Jira issue management status.</p>"
        },
        "IssueManagementType":{
          "shape":"IssueManagementType",
          "documentation":"<p>Account-level: Jira issue management type.</p>"
        },
        "JiraProjectKey":{
          "shape":"JiraProjectKey",
          "documentation":"<p>Account-level: Jira project key to sync workloads to.</p>"
        },
        "IntegrationStatus":{
          "shape":"IntegrationStatusInput",
          "documentation":"<p>Account-level: Configuration status of the Jira integration.</p>"
        }
      },
      "documentation":"<p>Account-level: Input for the Jira configuration.</p>"
    },
    "AccountJiraConfigurationOutput":{
      "type":"structure",
      "members":{
        "IntegrationStatus":{
          "shape":"IntegrationStatus",
          "documentation":"<p>Account-level: Configuration status of the Jira integration.</p>"
        },
        "IssueManagementStatus":{
          "shape":"AccountJiraIssueManagementStatus",
          "documentation":"<p>Account-level: Jira issue management status.</p>"
        },
        "IssueManagementType":{
          "shape":"IssueManagementType",
          "documentation":"<p>Account-level: Jira issue management type.</p>"
        },
        "Subdomain":{
          "shape":"Subdomain",
          "documentation":"<p>Account-level: Jira subdomain URL.</p>"
        },
        "JiraProjectKey":{
          "shape":"JiraProjectKey",
          "documentation":"<p>Account-level: Jira project key to sync workloads to.</p>"
        },
        "StatusMessage":{
          "shape":"StatusMessage",
          "documentation":"<p>Account-level: Status message on configuration of the Jira integration.</p>"
        }
      },
      "documentation":"<p>Account-level: Output configuration of the Jira integration.</p>"
    },
    "AccountJiraIssueManagementStatus":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "AccountSummary":{
      "type":"map",
      "key":{"shape":"CheckStatus"},
      "value":{"shape":"CheckStatusCount"},
      "documentation":"<p>Account summary for a Well-Architected best practice in relation to Trusted Advisor checks.</p>"
    },
    "AdditionalResourceType":{
      "type":"string",
      "enum":[
        "HELPFUL_RESOURCE",
        "IMPROVEMENT_PLAN"
      ]
    },
    "AdditionalResources":{
      "type":"structure",
      "members":{
        "Type":{
          "shape":"AdditionalResourceType",
          "documentation":"<p>Type of additional resource for a custom lens.</p>"
        },
        "Content":{
          "shape":"Urls",
          "documentation":"<p>The URLs for additional resources, either helpful resources or improvement plans, for a custom lens. Up to five additional URLs can be specified.</p>"
        }
      },
      "documentation":"<p>The choice level additional resources for a custom lens.</p> <p>This field does not apply to Amazon Web Services official lenses.</p>"
    },
    "AdditionalResourcesList":{
      "type":"list",
      "member":{"shape":"AdditionalResources"}
    },
    "Answer":{
      "type":"structure",
      "members":{
        "QuestionId":{"shape":"QuestionId"},
        "PillarId":{"shape":"PillarId"},
        "QuestionTitle":{"shape":"QuestionTitle"},
        "QuestionDescription":{"shape":"QuestionDescription"},
        "ImprovementPlanUrl":{"shape":"ImprovementPlanUrl"},
        "HelpfulResourceUrl":{"shape":"HelpfulResourceUrl"},
        "HelpfulResourceDisplayText":{
          "shape":"DisplayText",
          "documentation":"<p>The helpful resource text to be displayed for a custom lens.</p> <p>This field does not apply to Amazon Web Services official lenses.</p>"
        },
        "Choices":{"shape":"Choices"},
        "SelectedChoices":{"shape":"SelectedChoices"},
        "ChoiceAnswers":{
          "shape":"ChoiceAnswers",
          "documentation":"<p>A list of selected choices to a question in your workload.</p>"
        },
        "IsApplicable":{"shape":"IsApplicable"},
        "Risk":{"shape":"Risk"},
        "Notes":{"shape":"Notes"},
        "Reason":{
          "shape":"AnswerReason",
          "documentation":"<p>The reason why the question is not applicable to your workload.</p>"
        },
        "JiraConfiguration":{
          "shape":"JiraConfiguration",
          "documentation":"<p>Configuration of the Jira integration.</p>"
        }
      },
      "documentation":"<p>An answer of the question.</p>"
    },
    "AnswerReason":{
      "type":"string",
      "enum":[
        "OUT_OF_SCOPE",
        "BUSINESS_PRIORITIES",
        "ARCHITECTURE_CONSTRAINTS",
        "OTHER",
        "NONE"
      ]
    },
    "AnswerSummaries":{
      "type":"list",
      "member":{"shape":"AnswerSummary"},
      "documentation":"<p>List of answer summaries of lens review in a workload.</p>"
    },
    "AnswerSummary":{
      "type":"structure",
      "members":{
        "QuestionId":{"shape":"QuestionId"},
        "PillarId":{"shape":"PillarId"},
        "QuestionTitle":{"shape":"QuestionTitle"},
        "Choices":{"shape":"Choices"},
        "SelectedChoices":{"shape":"SelectedChoices"},
        "ChoiceAnswerSummaries":{
          "shape":"ChoiceAnswerSummaries",
          "documentation":"<p>A list of selected choices to a question in your workload.</p>"
        },
        "IsApplicable":{"shape":"IsApplicable"},
        "Risk":{"shape":"Risk"},
        "Reason":{
          "shape":"AnswerReason",
          "documentation":"<p>The reason why a choice is non-applicable to a question in your workload.</p>"
        },
        "QuestionType":{
          "shape":"QuestionType",
          "documentation":"<p>The type of the question.</p>"
        },
        "JiraConfiguration":{
          "shape":"JiraConfiguration",
          "documentation":"<p>Configuration of the Jira integration.</p>"
        }
      },
      "documentation":"<p>An answer summary of a lens review in a workload.</p>"
    },
    "ApplicationArn":{
      "type":"string",
      "max":2084,
      "pattern":"arn:aws[-a-z]*:servicecatalog:[a-z]{2}(-gov)?-[a-z]+-\\d:\\d{12}:/applications/[a-z0-9]+"
    },
    "AssociateLensesInput":{
      "type":"structure",
      "required":[
        "WorkloadId",
        "LensAliases"
      ],
      "members":{
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "LensAliases":{"shape":"LensAliases"}
      },
      "documentation":"<p>Input to associate lens reviews.</p>"
    },
    "AssociateProfilesInput":{
      "type":"structure",
      "required":[
        "WorkloadId",
        "ProfileArns"
      ],
      "members":{
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "ProfileArns":{
          "shape":"ProfileArns",
          "documentation":"<p>The list of profile ARNs to associate with the workload.</p>"
        }
      }
    },
    "AwsAccountId":{
      "type":"string",
      "documentation":"<p>An Amazon Web Services account ID.</p>",
      "max":12,
      "min":12,
      "pattern":"[0-9]{12}"
    },
    "AwsRegion":{
      "type":"string",
      "documentation":"<p>An Amazon Web Services Region, for example, <code>us-west-2</code> or <code>ap-northeast-1</code>.</p>",
      "max":100
    },
    "Base64String":{
      "type":"string",
      "documentation":"<p>The Base64-encoded string representation of a lens review report.</p> <p>This data can be used to create a PDF file.</p> <p>Only returned by <a>GetConsolidatedReport</a> when <code>PDF</code> format is requested.</p>"
    },
    "BestPractice":{
      "type":"structure",
      "members":{
        "ChoiceId":{"shape":"ChoiceId"},
        "ChoiceTitle":{"shape":"ChoiceTitle"}
      },
      "documentation":"<p>A best practice, or question choice, that has been identified as a risk in this question.</p>"
    },
    "BestPractices":{
      "type":"list",
      "member":{"shape":"BestPractice"}
    },
    "CheckDescription":{"type":"string"},
    "CheckDetail":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"CheckId",
          "documentation":"<p>Trusted Advisor check ID.</p>"
        },
        "Name":{
          "shape":"CheckName",
          "documentation":"<p>Trusted Advisor check name.</p>"
        },
        "Description":{
          "shape":"CheckDescription",
          "documentation":"<p>Trusted Advisor check description.</p>"
        },
        "Provider":{
          "shape":"CheckProvider",
          "documentation":"<p>Provider of the check related to the best practice.</p>"
        },
        "LensArn":{
          "shape":"LensArn",
          "documentation":"<p>Well-Architected Lens ARN associated to the check.</p>"
        },
        "PillarId":{"shape":"PillarId"},
        "QuestionId":{"shape":"QuestionId"},
        "ChoiceId":{"shape":"ChoiceId"},
        "Status":{
          "shape":"CheckStatus",
          "documentation":"<p>Status associated to the check.</p>"
        },
        "AccountId":{"shape":"AwsAccountId"},
        "FlaggedResources":{
          "shape":"FlaggedResources",
          "documentation":"<p>Count of flagged resources associated to the check.</p>"
        },
        "Reason":{
          "shape":"CheckFailureReason",
          "documentation":"<p>Reason associated to the check.</p>"
        },
        "UpdatedAt":{"shape":"Timestamp"}
      },
      "documentation":"<p>Account details for a Well-Architected best practice in relation to Trusted Advisor checks.</p>"
    },
    "CheckDetails":{
      "type":"list",
      "member":{"shape":"CheckDetail"}
    },
    "CheckFailureReason":{
      "type":"string",
      "enum":[
        "ASSUME_ROLE_ERROR",
        "ACCESS_DENIED",
        "UNKNOWN_ERROR",
        "PREMIUM_SUPPORT_REQUIRED"
      ]
    },
    "CheckId":{"type":"string"},
    "CheckName":{"type":"string"},
    "CheckProvider":{
      "type":"string",
      "enum":["TRUSTED_ADVISOR"]
    },
    "CheckStatus":{
      "type":"string",
      "enum":[
        "OKAY",
        "WARNING",
        "ERROR",
        "NOT_AVAILABLE",
        "FETCH_FAILED"
      ]
    },
    "CheckStatusCount":{
      "type":"integer",
      "max":101,
      "min":1
    },
    "CheckSummaries":{
      "type":"list",
      "member":{"shape":"CheckSummary"}
    },
    "CheckSummary":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"CheckId",
          "documentation":"<p>Trusted Advisor check ID.</p>"
        },
        "Name":{
          "shape":"CheckName",
          "documentation":"<p>Trusted Advisor check name.</p>"
        },
        "Provider":{
          "shape":"CheckProvider",
          "documentation":"<p>Provider of the check related to the best practice.</p>"
        },
        "Description":{
          "shape":"CheckDescription",
          "documentation":"<p>Trusted Advisor check description.</p>"
        },
        "UpdatedAt":{"shape":"Timestamp"},
        "LensArn":{
          "shape":"LensArn",
          "documentation":"<p>Well-Architected Lens ARN associated to the check.</p>"
        },
        "PillarId":{"shape":"PillarId"},
        "QuestionId":{"shape":"QuestionId"},
        "ChoiceId":{"shape":"ChoiceId"},
        "Status":{
          "shape":"CheckStatus",
          "documentation":"<p>Status associated to the check.</p>"
        },
        "AccountSummary":{
          "shape":"AccountSummary",
          "documentation":"<p>Account summary associated to the check.</p>"
        }
      },
      "documentation":"<p>Trusted Advisor check summary.</p>"
    },
    "Choice":{
      "type":"structure",
      "members":{
        "ChoiceId":{"shape":"ChoiceId"},
        "Title":{"shape":"ChoiceTitle"},
        "Description":{"shape":"ChoiceDescription"},
        "HelpfulResource":{
          "shape":"ChoiceContent",
          "documentation":"<p>The helpful resource (both text and URL) for a particular choice.</p> <p>This field only applies to custom lenses. Each choice can have only one helpful resource.</p>"
        },
        "ImprovementPlan":{
          "shape":"ChoiceContent",
          "documentation":"<p>The improvement plan (both text and URL) for a particular choice.</p> <p>This field only applies to custom lenses. Each choice can have only one improvement plan.</p>"
        },
        "AdditionalResources":{
          "shape":"AdditionalResourcesList",
          "documentation":"<p>The additional resources for a choice in a custom lens.</p> <p>A choice can have up to two additional resources: one of type <code>HELPFUL_RESOURCE</code>, one of type <code>IMPROVEMENT_PLAN</code>, or both.</p>"
        }
      },
      "documentation":"<p>A choice available to answer question.</p>"
    },
    "ChoiceAnswer":{
      "type":"structure",
      "members":{
        "ChoiceId":{"shape":"ChoiceId"},
        "Status":{
          "shape":"ChoiceStatus",
          "documentation":"<p>The status of a choice.</p>"
        },
        "Reason":{
          "shape":"ChoiceReason",
          "documentation":"<p>The reason why a choice is non-applicable to a question in your workload.</p>"
        },
        "Notes":{
          "shape":"ChoiceNotes",
          "documentation":"<p>The notes associated with a choice.</p>"
        }
      },
      "documentation":"<p>A choice that has been answered on a question in your workload.</p>"
    },
    "ChoiceAnswerSummaries":{
      "type":"list",
      "member":{"shape":"ChoiceAnswerSummary"}
    },
    "ChoiceAnswerSummary":{
      "type":"structure",
      "members":{
        "ChoiceId":{"shape":"ChoiceId"},
        "Status":{
          "shape":"ChoiceStatus",
          "documentation":"<p>The status of a choice.</p>"
        },
        "Reason":{
          "shape":"ChoiceReason",
          "documentation":"<p>The reason why a choice is non-applicable to a question in your workload.</p>"
        }
      },
      "documentation":"<p>A choice summary that has been answered on a question in your workload.</p>"
    },
    "ChoiceAnswers":{
      "type":"list",
      "member":{"shape":"ChoiceAnswer"}
    },
    "ChoiceContent":{
      "type":"structure",
      "members":{
        "DisplayText":{
          "shape":"ChoiceContentDisplayText",
          "documentation":"<p>The display text for the choice content.</p>"
        },
        "Url":{
          "shape":"ChoiceContentUrl",
          "documentation":"<p>The URL for the choice content.</p>"
        }
      },
      "documentation":"<p>The choice content.</p>"
    },
    "ChoiceContentDisplayText":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "ChoiceContentUrl":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "ChoiceDescription":{
      "type":"string",
      "documentation":"<p>The description of a choice.</p>",
      "max":1024,
      "min":1
    },
    "ChoiceId":{
      "type":"string",
      "documentation":"<p>The ID of a choice.</p>",
      "max":64,
      "min":1
    },
    "ChoiceImprovementPlan":{
      "type":"structure",
      "members":{
        "ChoiceId":{"shape":"ChoiceId"},
        "DisplayText":{
          "shape":"DisplayText",
          "documentation":"<p>The display text for the improvement plan.</p>"
        },
        "ImprovementPlanUrl":{"shape":"ImprovementPlanUrl"}
      },
      "documentation":"<p>The choice level improvement plan.</p>"
    },
    "ChoiceImprovementPlans":{
      "type":"list",
      "member":{"shape":"ChoiceImprovementPlan"}
    },
    "ChoiceNotes":{
      "type":"string",
      "max":250
    },
    "ChoiceReason":{
      "type":"string",
      "enum":[
        "OUT_OF_SCOPE",
        "BUSINESS_PRIORITIES",
        "ARCHITECTURE_CONSTRAINTS",
        "OTHER",
        "NONE"
      ]
    },
    "ChoiceStatus":{
      "type":"string",
      "enum":[
        "SELECTED",
        "NOT_APPLICABLE",
        "UNSELECTED"
      ]
    },
    "ChoiceTitle":{
      "type":"string",
      "documentation":"<p>The title of a choice.</p>",
      "max":512,
      "min":1
    },
    "ChoiceUpdate":{
      "type":"structure",
      "required":["Status"],
      "members":{
        "Status":{
          "shape":"ChoiceStatus",
          "documentation":"<p>The status of a choice.</p>"
        },
        "Reason":{
          "shape":"ChoiceReason",
          "documentation":"<p>The reason why a choice is non-applicable to a question in your workload.</p>"
        },
        "Notes":{
          "shape":"ChoiceNotes",
          "documentation":"<p>The notes associated with a choice.</p>"
        }
      },
      "documentation":"<p>A list of choices to be updated.</p>"
    },
    "ChoiceUpdates":{
      "type":"map",
      "key":{"shape":"ChoiceId"},
      "value":{"shape":"ChoiceUpdate"}
    },
    "Choices":{
      "type":"list",
      "member":{"shape":"Choice"},
      "documentation":"<p>List of choices available for a question.</p>"
    },
    "ClientRequestToken":{
      "type":"string",
      "documentation":"<p>A unique case-sensitive string used to ensure that this request is idempotent (executes only once).</p> <p>You should not reuse the same token for other requests. If you retry a request with the same client request token and the same parameters after the original request has completed successfully, the result of the original request is returned.</p> <important> <p>This token is listed as required, however, if you do not specify it, the Amazon Web Services SDKs automatically generate one for you. If you are not using the Amazon Web Services SDK or the CLI, you must provide this token or the request will fail.</p> </important>",
      "max":2048,
      "min":1
    },
    "ConflictException":{
      "type":"structure",
      "required":[
        "Message",
        "ResourceId",
        "ResourceType"
      ],
      "members":{
        "Message":{"shape":"ExceptionMessage"},
        "ResourceId":{"shape":"ExceptionResourceId"},
        "ResourceType":{"shape":"ExceptionResourceType"}
      },
      "documentation":"<p>The resource has already been processed, was deleted, or is too large.</p>",
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "ConsolidatedReportMetric":{
      "type":"structure",
      "members":{
        "MetricType":{
          "shape":"MetricType",
          "documentation":"<p>The metric type of a metric in the consolidated report. Currently only WORKLOAD metric types are supported.</p>"
        },
        "RiskCounts":{"shape":"RiskCounts"},
        "WorkloadId":{"shape":"WorkloadId"},
        "WorkloadName":{"shape":"WorkloadName"},
        "WorkloadArn":{"shape":"WorkloadArn"},
        "UpdatedAt":{"shape":"Timestamp"},
        "Lenses":{
          "shape":"LensMetrics",
          "documentation":"<p>The metrics for the lenses in the workload.</p>"
        },
        "LensesAppliedCount":{
          "shape":"LensesAppliedCount",
          "documentation":"<p>The total number of lenses applied to the workload.</p>"
        }
      },
      "documentation":"<p>A metric that contributes to the consolidated report.</p>"
    },
    "ConsolidatedReportMetrics":{
      "type":"list",
      "member":{"shape":"ConsolidatedReportMetric"}
    },
    "Count":{
      "type":"integer",
      "documentation":"<p>A non-negative integer that denotes how many.</p>",
      "min":0
    },
    "CreateLensShareInput":{
      "type":"structure",
      "required":[
        "LensAlias",
        "SharedWith",
        "ClientRequestToken"
      ],
      "members":{
        "LensAlias":{
          "shape":"LensAlias",
          "location":"uri",
          "locationName":"LensAlias"
        },
        "SharedWith":{"shape":"SharedWith"},
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateLensShareOutput":{
      "type":"structure",
      "members":{
        "ShareId":{"shape":"ShareId"}
      }
    },
    "CreateLensVersionInput":{
      "type":"structure",
      "required":[
        "LensAlias",
        "LensVersion",
        "ClientRequestToken"
      ],
      "members":{
        "LensAlias":{
          "shape":"LensAlias",
          "location":"uri",
          "locationName":"LensAlias"
        },
        "LensVersion":{
          "shape":"LensVersion",
          "documentation":"<p>The version of the lens being created.</p>"
        },
        "IsMajorVersion":{
          "shape":"IsMajorVersion",
          "documentation":"<p>Set to true if this new major lens version.</p>"
        },
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateLensVersionOutput":{
      "type":"structure",
      "members":{
        "LensArn":{
          "shape":"LensArn",
          "documentation":"<p>The ARN for the lens.</p>"
        },
        "LensVersion":{
          "shape":"LensVersion",
          "documentation":"<p>The version of the lens.</p>"
        }
      }
    },
    "CreateMilestoneInput":{
      "type":"structure",
      "required":[
        "WorkloadId",
        "MilestoneName",
        "ClientRequestToken"
      ],
      "members":{
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "MilestoneName":{"shape":"MilestoneName"},
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true
        }
      },
      "documentation":"<p>Input for milestone creation.</p>"
    },
    "CreateMilestoneOutput":{
      "type":"structure",
      "members":{
        "WorkloadId":{"shape":"WorkloadId"},
        "MilestoneNumber":{"shape":"MilestoneNumber"}
      },
      "documentation":"<p>Output of a create milestone call.</p>"
    },
    "CreateProfileInput":{
      "type":"structure",
      "required":[
        "ProfileName",
        "ProfileDescription",
        "ProfileQuestions",
        "ClientRequestToken"
      ],
      "members":{
        "ProfileName":{
          "shape":"ProfileName",
          "documentation":"<p>Name of the profile.</p>"
        },
        "ProfileDescription":{
          "shape":"ProfileDescription",
          "documentation":"<p>The profile description.</p>"
        },
        "ProfileQuestions":{
          "shape":"ProfileQuestionUpdates",
          "documentation":"<p>The profile questions.</p>"
        },
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true
        },
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags assigned to the profile.</p>"
        }
      }
    },
    "CreateProfileOutput":{
      "type":"structure",
      "members":{
        "ProfileArn":{
          "shape":"ProfileArn",
          "documentation":"<p>The profile ARN.</p>"
        },
        "ProfileVersion":{
          "shape":"ProfileVersion",
          "documentation":"<p>Version of the profile.</p>"
        }
      }
    },
    "CreateProfileShareInput":{
      "type":"structure",
      "required":[
        "ProfileArn",
        "SharedWith",
        "ClientRequestToken"
      ],
      "members":{
        "ProfileArn":{
          "shape":"ProfileArn",
          "documentation":"<p>The profile ARN.</p>",
          "location":"uri",
          "locationName":"ProfileArn"
        },
        "SharedWith":{"shape":"SharedWith"},
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateProfileShareOutput":{
      "type":"structure",
      "members":{
        "ShareId":{"shape":"ShareId"},
        "ProfileArn":{
          "shape":"ProfileArn",
          "documentation":"<p>The profile ARN.</p>"
        }
      }
    },
    "CreateReviewTemplateInput":{
      "type":"structure",
      "required":[
        "TemplateName",
        "Description",
        "Lenses",
        "ClientRequestToken"
      ],
      "members":{
        "TemplateName":{
          "shape":"TemplateName",
          "documentation":"<p>Name of the review template.</p>"
        },
        "Description":{
          "shape":"TemplateDescription",
          "documentation":"<p>The review template description.</p>"
        },
        "Lenses":{
          "shape":"ReviewTemplateLenses",
          "documentation":"<p>Lenses applied to the review template.</p>"
        },
        "Notes":{"shape":"Notes"},
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags assigned to the review template.</p>"
        },
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateReviewTemplateOutput":{
      "type":"structure",
      "members":{
        "TemplateArn":{
          "shape":"TemplateArn",
          "documentation":"<p>The review template ARN.</p>"
        }
      }
    },
    "CreateTemplateShareInput":{
      "type":"structure",
      "required":[
        "TemplateArn",
        "SharedWith",
        "ClientRequestToken"
      ],
      "members":{
        "TemplateArn":{
          "shape":"TemplateArn",
          "documentation":"<p>The review template ARN.</p>",
          "location":"uri",
          "locationName":"TemplateArn"
        },
        "SharedWith":{"shape":"SharedWith"},
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateTemplateShareOutput":{
      "type":"structure",
      "members":{
        "TemplateArn":{
          "shape":"TemplateArn",
          "documentation":"<p>The review template ARN.</p>"
        },
        "ShareId":{"shape":"ShareId"}
      }
    },
    "CreateWorkloadInput":{
      "type":"structure",
      "required":[
        "WorkloadName",
        "Description",
        "Environment",
        "Lenses",
        "ClientRequestToken"
      ],
      "members":{
        "WorkloadName":{"shape":"WorkloadName"},
        "Description":{"shape":"WorkloadDescription"},
        "Environment":{"shape":"WorkloadEnvironment"},
        "AccountIds":{"shape":"WorkloadAccountIds"},
        "AwsRegions":{"shape":"WorkloadAwsRegions"},
        "NonAwsRegions":{"shape":"WorkloadNonAwsRegions"},
        "PillarPriorities":{"shape":"WorkloadPillarPriorities"},
        "ArchitecturalDesign":{"shape":"WorkloadArchitecturalDesign"},
        "ReviewOwner":{"shape":"WorkloadReviewOwner"},
        "IndustryType":{"shape":"WorkloadIndustryType"},
        "Industry":{"shape":"WorkloadIndustry"},
        "Lenses":{"shape":"WorkloadLenses"},
        "Notes":{"shape":"Notes"},
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true
        },
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags to be associated with the workload.</p>"
        },
        "DiscoveryConfig":{
          "shape":"WorkloadDiscoveryConfig",
          "documentation":"<p>Well-Architected discovery configuration settings associated to the workload.</p>"
        },
        "Applications":{
          "shape":"WorkloadApplications",
          "documentation":"<p>List of AppRegistry application ARNs associated to the workload.</p>"
        },
        "ProfileArns":{
          "shape":"WorkloadProfileArns",
          "documentation":"<p>The list of profile ARNs associated with the workload.</p>"
        },
        "ReviewTemplateArns":{
          "shape":"ReviewTemplateArns",
          "documentation":"<p>The list of review template ARNs to associate with the workload.</p>"
        },
        "JiraConfiguration":{
          "shape":"WorkloadJiraConfigurationInput",
          "documentation":"<p>Jira configuration settings when creating a workload.</p>"
        }
      },
      "documentation":"<p>Input for workload creation.</p>"
    },
    "CreateWorkloadOutput":{
      "type":"structure",
      "members":{
        "WorkloadId":{"shape":"WorkloadId"},
        "WorkloadArn":{"shape":"WorkloadArn"}
      },
      "documentation":"<p>Output of a create workload call.</p>"
    },
    "CreateWorkloadShareInput":{
      "type":"structure",
      "required":[
        "WorkloadId",
        "SharedWith",
        "PermissionType",
        "ClientRequestToken"
      ],
      "members":{
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "SharedWith":{"shape":"SharedWith"},
        "PermissionType":{"shape":"PermissionType"},
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true
        }
      },
      "documentation":"<p>Input for Create Workload Share</p>"
    },
    "CreateWorkloadShareOutput":{
      "type":"structure",
      "members":{
        "WorkloadId":{"shape":"WorkloadId"},
        "ShareId":{"shape":"ShareId"}
      },
      "documentation":"<p>Input for Create Workload Share</p>"
    },
    "DefinitionType":{
      "type":"string",
      "enum":[
        "WORKLOAD_METADATA",
        "APP_REGISTRY"
      ]
    },
    "DeleteLensInput":{
      "type":"structure",
      "required":[
        "LensAlias",
        "ClientRequestToken",
        "LensStatus"
      ],
      "members":{
        "LensAlias":{
          "shape":"LensAlias",
          "location":"uri",
          "locationName":"LensAlias"
        },
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true,
          "location":"querystring",
          "locationName":"ClientRequestToken"
        },
        "LensStatus":{
          "shape":"LensStatusType",
          "documentation":"<p>The status of the lens to be deleted.</p>",
          "location":"querystring",
          "locationName":"LensStatus"
        }
      }
    },
    "DeleteLensShareInput":{
      "type":"structure",
      "required":[
        "ShareId",
        "LensAlias",
        "ClientRequestToken"
      ],
      "members":{
        "ShareId":{
          "shape":"ShareId",
          "location":"uri",
          "locationName":"ShareId"
        },
        "LensAlias":{
          "shape":"LensAlias",
          "location":"uri",
          "locationName":"LensAlias"
        },
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true,
          "location":"querystring",
          "locationName":"ClientRequestToken"
        }
      }
    },
    "DeleteProfileInput":{
      "type":"structure",
      "required":[
        "ProfileArn",
        "ClientRequestToken"
      ],
      "members":{
        "ProfileArn":{
          "shape":"ProfileArn",
          "documentation":"<p>The profile ARN.</p>",
          "location":"uri",
          "locationName":"ProfileArn"
        },
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true,
          "location":"querystring",
          "locationName":"ClientRequestToken"
        }
      }
    },
    "DeleteProfileShareInput":{
      "type":"structure",
      "required":[
        "ShareId",
        "ProfileArn",
        "ClientRequestToken"
      ],
      "members":{
        "ShareId":{
          "shape":"ShareId",
          "location":"uri",
          "locationName":"ShareId"
        },
        "ProfileArn":{
          "shape":"ProfileArn",
          "documentation":"<p>The profile ARN.</p>",
          "location":"uri",
          "locationName":"ProfileArn"
        },
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true,
          "location":"querystring",
          "locationName":"ClientRequestToken"
        }
      }
    },
    "DeleteReviewTemplateInput":{
      "type":"structure",
      "required":[
        "TemplateArn",
        "ClientRequestToken"
      ],
      "members":{
        "TemplateArn":{
          "shape":"TemplateArn",
          "documentation":"<p>The review template ARN.</p>",
          "location":"uri",
          "locationName":"TemplateArn"
        },
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true,
          "location":"querystring",
          "locationName":"ClientRequestToken"
        }
      }
    },
    "DeleteTemplateShareInput":{
      "type":"structure",
      "required":[
        "ShareId",
        "TemplateArn",
        "ClientRequestToken"
      ],
      "members":{
        "ShareId":{
          "shape":"ShareId",
          "location":"uri",
          "locationName":"ShareId"
        },
        "TemplateArn":{
          "shape":"TemplateArn",
          "documentation":"<p>The review template ARN.</p>",
          "location":"uri",
          "locationName":"TemplateArn"
        },
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true,
          "location":"querystring",
          "locationName":"ClientRequestToken"
        }
      }
    },
    "DeleteWorkloadInput":{
      "type":"structure",
      "required":[
        "WorkloadId",
        "ClientRequestToken"
      ],
      "members":{
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true,
          "location":"querystring",
          "locationName":"ClientRequestToken"
        }
      },
      "documentation":"<p>Input for workload deletion.</p>"
    },
    "DeleteWorkloadShareInput":{
      "type":"structure",
      "required":[
        "ShareId",
        "WorkloadId",
        "ClientRequestToken"
      ],
      "members":{
        "ShareId":{
          "shape":"ShareId",
          "location":"uri",
          "locationName":"ShareId"
        },
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "idempotencyToken":true,
          "location":"querystring",
          "locationName":"ClientRequestToken"
        }
      },
      "documentation":"<p>Input for Delete Workload Share</p>"
    },
    "DifferenceStatus":{
      "type":"string",
      "enum":[
        "UPDATED",
        "NEW",
        "DELETED"
      ]
    },
    "DisassociateLensesInput":{
      "type":"structure",
      "required":[
        "WorkloadId",
        "LensAliases"
      ],
      "members":{
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "LensAliases":{"shape":"LensAliases"}
      },
      "documentation":"<p>Input to disassociate lens reviews.</p>"
    },
    "DisassociateProfilesInput":{
      "type":"structure",
      "required":[
        "WorkloadId",
        "ProfileArns"
      ],
      "members":{
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "ProfileArns":{
          "shape":"ProfileArns",
          "documentation":"<p>The list of profile ARNs to disassociate from the workload.</p>"
        }
      }
    },
    "DiscoveryIntegrationStatus":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "DisplayText":{
      "type":"string",
      "max":64,
      "min":1
    },
    "ExceptionMessage":{
      "type":"string",
      "documentation":"<p>Description of the error.</p>"
    },
    "ExceptionResourceId":{
      "type":"string",
      "documentation":"<p>Identifier of the resource affected.</p>"
    },
    "ExceptionResourceType":{
      "type":"string",
      "documentation":"<p>Type of the resource affected.</p>"
    },
    "ExportLensInput":{
      "type":"structure",
      "required":["LensAlias"],
      "members":{
        "LensAlias":{
          "shape":"LensAlias",
          "location":"uri",
          "locationName":"LensAlias"
        },
        "LensVersion":{
          "shape":"LensVersion",
          "documentation":"<p>The lens version to be exported.</p>",
          "location":"querystring",
          "locationName":"LensVersion"
        }
      }
    },
    "ExportLensOutput":{
      "type":"structure",
      "members":{
        "LensJSON":{
          "shape":"LensJSON",
          "documentation":"<p>The JSON representation of a lens.</p>"
        }
      }
    },
    "FlaggedResources":{
      "type":"integer",
      "max":9999,
      "min":1
    },
    "GetAnswerInput":{
      "type":"structure",
      "required":[
        "WorkloadId",
        "LensAlias",
        "QuestionId"
      ],
      "members":{
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "LensAlias":{
          "shape":"LensAlias",
          "location":"uri",
          "locationName":"LensAlias"
        },
        "QuestionId":{
          "shape":"QuestionId",
          "location":"uri",
          "locationName":"QuestionId"
        },
        "MilestoneNumber":{
          "shape":"MilestoneNumber",
          "location":"querystring",
          "locationName":"MilestoneNumber"
        }
      },
      "documentation":"<p>Input to get answer.</p>"
    },
    "GetAnswerOutput":{
      "type":"structure",
      "members":{
        "WorkloadId":{"shape":"WorkloadId"},
        "MilestoneNumber":{"shape":"MilestoneNumber"},
        "LensAlias":{"shape":"LensAlias"},
        "LensArn":{
          "shape":"LensArn",
          "documentation":"<p>The ARN for the lens.</p>"
        },
        "Answer":{"shape":"Answer"}
      },
      "documentation":"<p>Output of a get answer call.</p>"
    },
    "GetConsolidatedReportInput":{
      "type":"structure",
      "required":["Format"],
      "members":{
        "Format":{
          "shape":"ReportFormat",
          "documentation":"<p>The format of the consolidated report.</p> <p>For <code>PDF</code>, <code>Base64String</code> is returned. For <code>JSON</code>, <code>Metrics</code> is returned.</p>",
          "location":"querystring",
          "locationName":"Format"
        },
        "IncludeSharedResources":{
          "shape":"IncludeSharedResources",
          "documentation":"<p>Set to <code>true</code> to have shared resources included in the report.</p>",
          "location":"querystring",
          "locationName":"IncludeSharedResources"
        },
        "NextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"NextToken"
        },
        "MaxResults":{
          "shape":"GetConsolidatedReportMaxResults",
          "documentation":"<p>The maximum number of results to return for this request.</p>",
          "location":"querystring",
          "locationName":"MaxResults"
        }
      }
    },
    "GetConsolidatedReportMaxResults":{
      "type":"integer",
      "max":15,
      "min":1
    },
    "GetConsolidatedReportOutput":{
      "type":"structure",
      "members":{
        "Metrics":{
          "shape":"ConsolidatedReportMetrics",
          "documentation":"<p>The metrics that make up the consolidated report.</p> <p>Only returned when <code>JSON</code> format is requested.</p>"
        },
        "NextToken":{"shape":"NextToken"},
        "Base64String":{"shape":"Base64String"}
      }
    },
    "GetGlobalSettingsOutput":{
      "type":"structure",
      "members":{
        "OrganizationSharingStatus":{
          "shape":"OrganizationSharingStatus",
          "documentation":"<p>Amazon Web Services Organizations sharing status.</p>"
        },
        "DiscoveryIntegrationStatus":{
          "shape":"DiscoveryIntegrationStatus",
          "documentation":"<p>Discovery integration status.</p>"
        },
        "JiraConfiguration":{
          "shape":"AccountJiraConfigurationOutput",
          "documentation":"<p>Jira configuration status.</p>"
        }
      }
    },
    "GetLensInput":{
      "type":"structure",
      "required":["LensAlias"],
      "members":{
        "LensAlias":{
          "shape":"LensAlias",
          "location":"uri",
          "locationName":"LensAlias"
        },
        "LensVersion":{
          "shape":"LensVersion",
          "documentation":"<p>The lens version to be retrieved.</p>",
          "location":"querystring",
          "locationName":"LensVersion"
        }
      }
    },
    "GetLensOutput":{
      "type":"structure",
      "members":{
        "Lens":{
          "shape":"Lens",
          "documentation":"<p>A lens return object.</p>"
        }
      }
    },
    "GetLensReviewInput":{
      "type":"structure",
      "required":[
        "WorkloadId",
        "LensAlias"
      ],
      "members":{
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "LensAlias":{
          "shape":"LensAlias",
          "location":"uri",
          "locationName":"LensAlias"
        },
        "MilestoneNumber":{
          "shape":"MilestoneNumber",
          "location":"querystring",
          "locationName":"MilestoneNumber"
        }
      },
      "documentation":"<p>Input to get lens review.</p>"
    },
    "GetLensReviewOutput":{
      "type":"structure",
      "members":{
        "WorkloadId":{"shape":"WorkloadId"},
        "MilestoneNumber":{"shape":"MilestoneNumber"},
        "LensReview":{"shape":"LensReview"}
      },
      "documentation":"<p>Output of a get lens review call.</p>"
    },
    "GetLensReviewReportInput":{
      "type":"structure",
      "required":[
        "WorkloadId",
        "LensAlias"
      ],
      "members":{
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "LensAlias":{
          "shape":"LensAlias",
          "location":"uri",
          "locationName":"LensAlias"
        },
        "MilestoneNumber":{
          "shape":"MilestoneNumber",
          "location":"querystring",
          "locationName":"MilestoneNumber"
        }
      },
      "documentation":"<p>Input to get lens review report.</p>"
    },
    "GetLensReviewReportOutput":{
      "type":"structure",
      "members":{
        "WorkloadId":{"shape":"WorkloadId"},
        "MilestoneNumber":{"shape":"MilestoneNumber"},
        "LensReviewReport":{"shape":"LensReviewReport"}
      },
      "documentation":"<p>Output of a get lens review report call.</p>"
    },
    "GetLensVersionDifferenceInput":{
      "type":"structure",
      "required":["LensAlias"],
      "members":{
        "LensAlias":{
          "shape":"LensAlias",
          "location":"uri",
          "locationName":"LensAlias"
        },
        "BaseLensVersion":{
          "shape":"LensVersion",
          "documentation":"<p>The base version of the lens.</p>",
          "location":"querystring",
          "locationName":"BaseLensVersion"
        },
        "TargetLensVersion":{
          "shape":"LensVersion",
          "documentation":"<p>The lens version to target a difference for.</p>",
          "location":"querystring",
          "locationName":"TargetLensVersion"
        }
      }
    },
    "GetLensVersionDifferenceOutput":{
      "type":"structure",
      "members":{
        "LensAlias":{"shape":"LensAlias"},
        "LensArn":{
          "shape":"LensArn",
          "documentation":"<p>The ARN for the lens.</p>"
        },
        "BaseLensVersion":{
          "shape":"LensVersion",
          "documentation":"<p>The base version of the lens.</p>"
        },
        "TargetLensVersion":{
          "shape":"LensVersion",
          "documentation":"<p>The target lens version for the lens.</p>"
        },
        "LatestLensVersion":{
          "shape":"LensVersion",
          "documentation":"<p>The latest version of the lens.</p>"
        },
        "VersionDifferences":{"shape":"VersionDifferences"}
      }
    },
    "GetMilestoneInput":{
      "type":"structure",
      "required":[
        "WorkloadId",
        "MilestoneNumber"
      ],
      "members":{
        "WorkloadId":{
          "shape":"WorkloadId",
          "location":"uri",
          "locationName":"WorkloadId"
        },
        "MilestoneNumber":{
          "shape":"MilestoneNumber",
          "location":"uri",
          "locationName":"MilestoneNumber"
        }
      },
      "documentation":"<p>Input to get a milestone.</p>"
    },
    "GetMilestoneOutput":{
      "type":"structure",
      "members":{
        "WorkloadId":{"shape":"WorkloadId"},
        "Milestone":{"shape":"Milestone"}
      },
      "documentation":"<p>Output of a get milestone call.</p>"
    },
    "GetProfileInput":{
      "type":"structure",
      "required":["ProfileArn"],
      "members":{
        "ProfileArn":{
          "shape":"ProfileArn",
          "documentation":"<p>The profile ARN.</p>",
          "location":"uri",
          "locationName":"ProfileArn"
        },
        "ProfileVersion":{
          "shape":"ProfileVersion",
          "documentation":"<p>The profile version.</p>",
          "location":"querystring",
          "locationName":"ProfileVersion"
        }
      }
    },
    "GetProfileOutput":{
      "type":"structure",
      "members":{
        "Profile":{
          "shape":"Profile",
          "documentation":"<p>The profile.</p>"
        }
      }
    },
    "GetProfileTemplateInput":{
      "type":"structure",
      "members":{}
    },
    "GetProfileTemplateOutput":{
      "type":"structure",
      "members":{
        "ProfileTemplate":{
          "shape":"ProfileTemplate",
          "documentation":"<p>The profile template.</p>"
        }
      }
    },
    "GetReviewTemplateAnswerInput":{
      "type":"structure",
      "required":[
        "TemplateArn",
        "LensAlias",
        "QuestionId"
      ],
      "members":{
        "TemplateArn":{
          "shape":"TemplateArn",
          "documentation":"<p>The review template ARN.</p>",
          "location":"uri",
          "locationName":"TemplateArn"
        },
        "LensAlias":{
          "shape":"LensAlias",
          "location":"uri",
[...]
