{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-11-01",
    "endpointPrefix":"eks",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceAbbreviation":"Amazon EKS",
    "serviceFullName":"Amazon Elastic Kubernetes Service",
    "serviceId":"EKS",
    "signatureVersion":"v4",
    "signingName":"eks",
    "uid":"eks-2017-11-01",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AssociateAccessPolicy":{
      "name":"AssociateAccessPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/access-entries/{principalArn}/access-policies"
      },
      "input":{"shape":"AssociateAccessPolicyRequest"},
      "output":{"shape":"AssociateAccessPolicyResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Associates an access policy and its scope to an access entry. For more information about associating access policies, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/access-policies.html\">Associating and disassociating access policies to and from access entries</a> in the <i>Amazon EKS User Guide</i>.</p>"
    },
    "AssociateEncryptionConfig":{
      "name":"AssociateEncryptionConfig",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/encryption-config/associate"
      },
      "input":{"shape":"AssociateEncryptionConfigRequest"},
      "output":{"shape":"AssociateEncryptionConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Associates an encryption configuration to an existing cluster.</p> <p>Use this API to enable encryption on existing clusters that don't already have encryption enabled. This allows you to implement a defense-in-depth security strategy without migrating applications to new Amazon EKS clusters.</p>"
    },
    "AssociateIdentityProviderConfig":{
      "name":"AssociateIdentityProviderConfig",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/identity-provider-configs/associate"
      },
      "input":{"shape":"AssociateIdentityProviderConfigRequest"},
      "output":{"shape":"AssociateIdentityProviderConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Associates an identity provider configuration to a cluster.</p> <p>If you want to authenticate identities using an identity provider, you can create an identity provider configuration and associate it to your cluster. After configuring authentication to your cluster you can create Kubernetes <code>Role</code> and <code>ClusterRole</code> objects, assign permissions to them, and then bind them to the identities using Kubernetes <code>RoleBinding</code> and <code>ClusterRoleBinding</code> objects. For more information see <a href=\"https://kubernetes.io/docs/reference/access-authn-authz/rbac/\">Using RBAC Authorization</a> in the Kubernetes documentation.</p>"
    },
    "CreateAccessEntry":{
      "name":"CreateAccessEntry",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/access-entries"
      },
      "input":{"shape":"CreateAccessEntryRequest"},
      "output":{"shape":"CreateAccessEntryResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Creates an access entry.</p> <p>An access entry allows an IAM principal to access your cluster. Access entries can replace the need to maintain entries in the <code>aws-auth</code> <code>ConfigMap</code> for authentication. You have the following options for authorizing an IAM principal to access Kubernetes objects on your cluster: Kubernetes role-based access control (RBAC), Amazon EKS, or both. Kubernetes RBAC authorization requires you to create and manage Kubernetes <code>Role</code>, <code>ClusterRole</code>, <code>RoleBinding</code>, and <code>ClusterRoleBinding</code> objects, in addition to managing access entries. If you use Amazon EKS authorization exclusively, you don't need to create and manage Kubernetes <code>Role</code>, <code>ClusterRole</code>, <code>RoleBinding</code>, and <code>ClusterRoleBinding</code> objects.</p> <p>For more information about access entries, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/access-entries.html\">Access entries</a> in the <i>Amazon EKS User Guide</i>.</p>"
    },
    "CreateAddon":{
      "name":"CreateAddon",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/addons"
      },
      "input":{"shape":"CreateAddonRequest"},
      "output":{"shape":"CreateAddonResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Creates an Amazon EKS add-on.</p> <p>Amazon EKS add-ons help to automate the provisioning and lifecycle management of common operational software for Amazon EKS clusters. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/eks-add-ons.html\">Amazon EKS add-ons</a> in the <i>Amazon EKS User Guide</i>.</p>"
    },
    "CreateCluster":{
      "name":"CreateCluster",
      "http":{
        "method":"POST",
        "requestUri":"/clusters"
      },
      "input":{"shape":"CreateClusterRequest"},
      "output":{"shape":"CreateClusterResponse"},
      "errors":[
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"UnsupportedAvailabilityZoneException"}
      ],
      "documentation":"<p>Creates an Amazon EKS control plane.</p> <p>The Amazon EKS control plane consists of control plane instances that run the Kubernetes software, such as <code>etcd</code> and the API server. The control plane runs in an account managed by Amazon Web Services, and the Kubernetes API is exposed by the Amazon EKS API server endpoint. Each Amazon EKS cluster control plane is single tenant and unique. It runs on its own set of Amazon EC2 instances.</p> <p>The cluster control plane is provisioned across multiple Availability Zones and fronted by an Elastic Load Balancing Network Load Balancer. Amazon EKS also provisions elastic network interfaces in your VPC subnets to provide connectivity from the control plane instances to the nodes (for example, to support <code>kubectl exec</code>, <code>logs</code>, and <code>proxy</code> data flows).</p> <p>Amazon EKS nodes run in your Amazon Web Services account and connect to your cluster's control plane over the Kubernetes API server endpoint and a certificate file that is created for your cluster.</p> <p>You can use the <code>endpointPublicAccess</code> and <code>endpointPrivateAccess</code> parameters to enable or disable public and private access to your cluster's Kubernetes API server endpoint. By default, public access is enabled, and private access is disabled. The endpoint domain name and IP address family depends on the value of the <code>ipFamily</code> for the cluster. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/cluster-endpoint.html\">Amazon EKS Cluster Endpoint Access Control</a> in the <i> <i>Amazon EKS User Guide</i> </i>. </p> <p>You can use the <code>logging</code> parameter to enable or disable exporting the Kubernetes control plane logs for your cluster to CloudWatch Logs. By default, cluster control plane logs aren't exported to CloudWatch Logs. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/control-plane-logs.html\">Amazon EKS Cluster Control Plane Logs</a> in the <i> <i>Amazon EKS User Guide</i> </i>.</p> <note> <p>CloudWatch Logs ingestion, archive storage, and data scanning rates apply to exported control plane logs. For more information, see <a href=\"http://aws.amazon.com/cloudwatch/pricing/\">CloudWatch Pricing</a>.</p> </note> <p>In most cases, it takes several minutes to create a cluster. After you create an Amazon EKS cluster, you must configure your Kubernetes tooling to communicate with the API server and launch nodes into your cluster. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/cluster-auth.html\">Allowing users to access your cluster</a> and <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-workers.html\">Launching Amazon EKS nodes</a> in the <i>Amazon EKS User Guide</i>.</p>"
    },
    "CreateEksAnywhereSubscription":{
      "name":"CreateEksAnywhereSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/eks-anywhere-subscriptions"
      },
      "input":{"shape":"CreateEksAnywhereSubscriptionRequest"},
      "output":{"shape":"CreateEksAnywhereSubscriptionResponse"},
      "errors":[
        {"shape":"ResourceLimitExceededException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Creates an EKS Anywhere subscription. When a subscription is created, it is a contract agreement for the length of the term specified in the request. Licenses that are used to validate support are provisioned in Amazon Web Services License Manager and the caller account is granted access to EKS Anywhere Curated Packages.</p>"
    },
    "CreateFargateProfile":{
      "name":"CreateFargateProfile",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/fargate-profiles"
      },
      "input":{"shape":"CreateFargateProfileRequest"},
      "output":{"shape":"CreateFargateProfileResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"UnsupportedAvailabilityZoneException"}
      ],
      "documentation":"<p>Creates an Fargate profile for your Amazon EKS cluster. You must have at least one Fargate profile in a cluster to be able to run pods on Fargate.</p> <p>The Fargate profile allows an administrator to declare which pods run on Fargate and specify which pods run on which Fargate profile. This declaration is done through the profile's selectors. Each profile can have up to five selectors that contain a namespace and labels. A namespace is required for every selector. The label field consists of multiple optional key-value pairs. Pods that match the selectors are scheduled on Fargate. If a to-be-scheduled pod matches any of the selectors in the Fargate profile, then that pod is run on Fargate.</p> <p>When you create a Fargate profile, you must specify a pod execution role to use with the pods that are scheduled with the profile. This role is added to the cluster's Kubernetes <a href=\"https://kubernetes.io/docs/reference/access-authn-authz/rbac/\">Role Based Access Control</a> (RBAC) for authorization so that the <code>kubelet</code> that is running on the Fargate infrastructure can register with your Amazon EKS cluster so that it can appear in your cluster as a node. The pod execution role also provides IAM permissions to the Fargate infrastructure to allow read access to Amazon ECR image repositories. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/pod-execution-role.html\">Pod Execution Role</a> in the <i>Amazon EKS User Guide</i>.</p> <p>Fargate profiles are immutable. However, you can create a new updated profile to replace an existing profile and then delete the original after the updated profile has finished creating.</p> <p>If any Fargate profiles in a cluster are in the <code>DELETING</code> status, you must wait for that Fargate profile to finish deleting before you can create any other profiles in that cluster.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/fargate-profile.html\">Fargate profile</a> in the <i>Amazon EKS User Guide</i>.</p>"
    },
    "CreateNodegroup":{
      "name":"CreateNodegroup",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/node-groups"
      },
      "input":{"shape":"CreateNodegroupRequest"},
      "output":{"shape":"CreateNodegroupResponse"},
      "errors":[
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Creates a managed node group for an Amazon EKS cluster.</p> <p>You can only create a node group for your cluster that is equal to the current Kubernetes version for the cluster. All node groups are created with the latest AMI release version for the respective minor Kubernetes version of the cluster, unless you deploy a custom AMI using a launch template.</p> <p>For later updates, you will only be able to update a node group using a launch template only if it was originally deployed with a launch template. Additionally, the launch template ID or name must match what was used when the node group was created. You can update the launch template version with necessary changes. For more information about using launch templates, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/launch-templates.html\">Customizing managed nodes with launch templates</a>.</p> <p>An Amazon EKS managed node group is an Amazon EC2 Auto Scaling group and associated Amazon EC2 instances that are managed by Amazon Web Services for an Amazon EKS cluster. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/managed-node-groups.html\">Managed node groups</a> in the <i>Amazon EKS User Guide</i>.</p> <note> <p>Windows AMI types are only supported for commercial Amazon Web Services Regions that support Windows on Amazon EKS.</p> </note>"
    },
    "CreatePodIdentityAssociation":{
      "name":"CreatePodIdentityAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/pod-identity-associations"
      },
      "input":{"shape":"CreatePodIdentityAssociationRequest"},
      "output":{"shape":"CreatePodIdentityAssociationResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceLimitExceededException"},
        {"shape":"ResourceInUseException"}
      ],
      "documentation":"<p>Creates an EKS Pod Identity association between a service account in an Amazon EKS cluster and an IAM role with <i>EKS Pod Identity</i>. Use EKS Pod Identity to give temporary IAM credentials to Pods and the credentials are rotated automatically.</p> <p>Amazon EKS Pod Identity associations provide the ability to manage credentials for your applications, similar to the way that Amazon EC2 instance profiles provide credentials to Amazon EC2 instances.</p> <p>If a Pod uses a service account that has an association, Amazon EKS sets environment variables in the containers of the Pod. The environment variables configure the Amazon Web Services SDKs, including the Command Line Interface, to use the EKS Pod Identity credentials.</p> <p>EKS Pod Identity is a simpler method than <i>IAM roles for service accounts</i>, as this method doesn't use OIDC identity providers. Additionally, you can configure a role for EKS Pod Identity once, and reuse it across clusters.</p> <p>Similar to Amazon Web Services IAM behavior, EKS Pod Identity associations are eventually consistent, and may take several seconds to be effective after the initial API call returns successfully. You must design your applications to account for these potential delays. We recommend that you don’t include association create/updates in the critical, high-availability code paths of your application. Instead, make changes in a separate initialization or setup routine that you run less frequently.</p> <p>You can set a <i>target IAM role</i> in the same or a different account for advanced scenarios. With a target role, EKS Pod Identity automatically performs two role assumptions in sequence: first assuming the role in the association that is in this account, then using those credentials to assume the target IAM role. This process provides your Pod with temporary credentials that have the permissions defined in the target role, allowing secure access to resources in another Amazon Web Services account.</p>"
    },
    "DeleteAccessEntry":{
      "name":"DeleteAccessEntry",
      "http":{
        "method":"DELETE",
        "requestUri":"/clusters/{name}/access-entries/{principalArn}"
      },
      "input":{"shape":"DeleteAccessEntryRequest"},
      "output":{"shape":"DeleteAccessEntryResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Deletes an access entry.</p> <p>Deleting an access entry of a type other than <code>Standard</code> can cause your cluster to function improperly. If you delete an access entry in error, you can recreate it.</p>"
    },
    "DeleteAddon":{
      "name":"DeleteAddon",
      "http":{
        "method":"DELETE",
        "requestUri":"/clusters/{name}/addons/{addonName}"
      },
      "input":{"shape":"DeleteAddonRequest"},
      "output":{"shape":"DeleteAddonResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Deletes an Amazon EKS add-on.</p> <p>When you remove an add-on, it's deleted from the cluster. You can always manually start an add-on on the cluster using the Kubernetes API.</p>"
    },
    "DeleteCluster":{
      "name":"DeleteCluster",
      "http":{
        "method":"DELETE",
        "requestUri":"/clusters/{name}"
      },
      "input":{"shape":"DeleteClusterRequest"},
      "output":{"shape":"DeleteClusterResponse"},
      "errors":[
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Deletes an Amazon EKS cluster control plane.</p> <p>If you have active services in your cluster that are associated with a load balancer, you must delete those services before deleting the cluster so that the load balancers are deleted properly. Otherwise, you can have orphaned resources in your VPC that prevent you from being able to delete the VPC. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/delete-cluster.html\">Deleting a cluster</a> in the <i>Amazon EKS User Guide</i>.</p> <p>If you have managed node groups or Fargate profiles attached to the cluster, you must delete them first. For more information, see <code>DeleteNodgroup</code> and <code>DeleteFargateProfile</code>.</p>"
    },
    "DeleteEksAnywhereSubscription":{
      "name":"DeleteEksAnywhereSubscription",
      "http":{
        "method":"DELETE",
        "requestUri":"/eks-anywhere-subscriptions/{id}"
      },
      "input":{"shape":"DeleteEksAnywhereSubscriptionRequest"},
      "output":{"shape":"DeleteEksAnywhereSubscriptionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ClientException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Deletes an expired or inactive subscription. Deleting inactive subscriptions removes them from the Amazon Web Services Management Console view and from list/describe API responses. Subscriptions can only be cancelled within 7 days of creation and are cancelled by creating a ticket in the Amazon Web Services Support Center. </p>"
    },
    "DeleteFargateProfile":{
      "name":"DeleteFargateProfile",
      "http":{
        "method":"DELETE",
        "requestUri":"/clusters/{name}/fargate-profiles/{fargateProfileName}"
      },
      "input":{"shape":"DeleteFargateProfileRequest"},
      "output":{"shape":"DeleteFargateProfileResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes an Fargate profile.</p> <p>When you delete a Fargate profile, any <code>Pod</code> running on Fargate that was created with the profile is deleted. If the <code>Pod</code> matches another Fargate profile, then it is scheduled on Fargate with that profile. If it no longer matches any Fargate profiles, then it's not scheduled on Fargate and may remain in a pending state.</p> <p>Only one Fargate profile in a cluster can be in the <code>DELETING</code> status at a time. You must wait for a Fargate profile to finish deleting before you can delete any other profiles in that cluster.</p>"
    },
    "DeleteNodegroup":{
      "name":"DeleteNodegroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/clusters/{name}/node-groups/{nodegroupName}"
      },
      "input":{"shape":"DeleteNodegroupRequest"},
      "output":{"shape":"DeleteNodegroupResponse"},
      "errors":[
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Deletes a managed node group.</p>"
    },
    "DeletePodIdentityAssociation":{
      "name":"DeletePodIdentityAssociation",
      "http":{
        "method":"DELETE",
        "requestUri":"/clusters/{name}/pod-identity-associations/{associationId}"
      },
      "input":{"shape":"DeletePodIdentityAssociationRequest"},
      "output":{"shape":"DeletePodIdentityAssociationResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Deletes a EKS Pod Identity association.</p> <p>The temporary Amazon Web Services credentials from the previous IAM role session might still be valid until the session expiry. If you need to immediately revoke the temporary session credentials, then go to the role in the IAM console.</p>"
    },
    "DeregisterCluster":{
      "name":"DeregisterCluster",
      "http":{
        "method":"DELETE",
        "requestUri":"/cluster-registrations/{name}"
      },
      "input":{"shape":"DeregisterClusterRequest"},
      "output":{"shape":"DeregisterClusterResponse"},
      "errors":[
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Deregisters a connected cluster to remove it from the Amazon EKS control plane.</p> <p>A connected cluster is a Kubernetes cluster that you've connected to your control plane using the <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/eks-connector.html\">Amazon EKS Connector</a>.</p>"
    },
    "DescribeAccessEntry":{
      "name":"DescribeAccessEntry",
      "http":{
        "method":"GET",
        "requestUri":"/clusters/{name}/access-entries/{principalArn}"
      },
      "input":{"shape":"DescribeAccessEntryRequest"},
      "output":{"shape":"DescribeAccessEntryResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Describes an access entry.</p>"
    },
    "DescribeAddon":{
      "name":"DescribeAddon",
      "http":{
        "method":"GET",
        "requestUri":"/clusters/{name}/addons/{addonName}"
      },
      "input":{"shape":"DescribeAddonRequest"},
      "output":{"shape":"DescribeAddonResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Describes an Amazon EKS add-on.</p>"
    },
    "DescribeAddonConfiguration":{
      "name":"DescribeAddonConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/addons/configuration-schemas"
      },
      "input":{"shape":"DescribeAddonConfigurationRequest"},
      "output":{"shape":"DescribeAddonConfigurationResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Returns configuration options.</p>"
    },
    "DescribeAddonVersions":{
      "name":"DescribeAddonVersions",
      "http":{
        "method":"GET",
        "requestUri":"/addons/supported-versions"
      },
      "input":{"shape":"DescribeAddonVersionsRequest"},
      "output":{"shape":"DescribeAddonVersionsResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Describes the versions for an add-on.</p> <p>Information such as the Kubernetes versions that you can use the add-on with, the <code>owner</code>, <code>publisher</code>, and the <code>type</code> of the add-on are returned.</p>"
    },
    "DescribeCluster":{
      "name":"DescribeCluster",
      "http":{
        "method":"GET",
        "requestUri":"/clusters/{name}"
      },
      "input":{"shape":"DescribeClusterRequest"},
      "output":{"shape":"DescribeClusterResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Describes an Amazon EKS cluster.</p> <p>The API server endpoint and certificate authority data returned by this operation are required for <code>kubelet</code> and <code>kubectl</code> to communicate with your Kubernetes API server. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/create-kubeconfig.html\">Creating or updating a <code>kubeconfig</code> file for an Amazon EKS cluster</a>.</p> <note> <p>The API server endpoint and certificate authority data aren't available until the cluster reaches the <code>ACTIVE</code> state.</p> </note>"
    },
    "DescribeClusterVersions":{
      "name":"DescribeClusterVersions",
      "http":{
        "method":"GET",
        "requestUri":"/cluster-versions"
      },
      "input":{"shape":"DescribeClusterVersionsRequest"},
      "output":{"shape":"DescribeClusterVersionsResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Lists available Kubernetes versions for Amazon EKS clusters.</p>"
    },
    "DescribeEksAnywhereSubscription":{
      "name":"DescribeEksAnywhereSubscription",
      "http":{
        "method":"GET",
        "requestUri":"/eks-anywhere-subscriptions/{id}"
      },
      "input":{"shape":"DescribeEksAnywhereSubscriptionRequest"},
      "output":{"shape":"DescribeEksAnywhereSubscriptionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns descriptive information about a subscription.</p>"
    },
    "DescribeFargateProfile":{
      "name":"DescribeFargateProfile",
      "http":{
        "method":"GET",
        "requestUri":"/clusters/{name}/fargate-profiles/{fargateProfileName}"
      },
      "input":{"shape":"DescribeFargateProfileRequest"},
      "output":{"shape":"DescribeFargateProfileResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Describes an Fargate profile.</p>"
    },
    "DescribeIdentityProviderConfig":{
      "name":"DescribeIdentityProviderConfig",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/identity-provider-configs/describe"
      },
      "input":{"shape":"DescribeIdentityProviderConfigRequest"},
      "output":{"shape":"DescribeIdentityProviderConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Describes an identity provider configuration.</p>"
    },
    "DescribeInsight":{
      "name":"DescribeInsight",
      "http":{
        "method":"GET",
        "requestUri":"/clusters/{name}/insights/{id}"
      },
      "input":{"shape":"DescribeInsightRequest"},
      "output":{"shape":"DescribeInsightResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Returns details about an insight that you specify using its ID.</p>"
    },
    "DescribeInsightsRefresh":{
      "name":"DescribeInsightsRefresh",
      "http":{
        "method":"GET",
        "requestUri":"/clusters/{name}/insights-refresh"
      },
      "input":{"shape":"DescribeInsightsRefreshRequest"},
      "output":{"shape":"DescribeInsightsRefreshResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Returns the status of the latest on-demand cluster insights refresh operation.</p>"
    },
    "DescribeNodegroup":{
      "name":"DescribeNodegroup",
      "http":{
        "method":"GET",
        "requestUri":"/clusters/{name}/node-groups/{nodegroupName}"
      },
      "input":{"shape":"DescribeNodegroupRequest"},
      "output":{"shape":"DescribeNodegroupResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Describes a managed node group.</p>"
    },
    "DescribePodIdentityAssociation":{
      "name":"DescribePodIdentityAssociation",
      "http":{
        "method":"GET",
        "requestUri":"/clusters/{name}/pod-identity-associations/{associationId}"
      },
      "input":{"shape":"DescribePodIdentityAssociationRequest"},
      "output":{"shape":"DescribePodIdentityAssociationResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Returns descriptive information about an EKS Pod Identity association.</p> <p>This action requires the ID of the association. You can get the ID from the response to the <code>CreatePodIdentityAssocation</code> for newly created associations. Or, you can list the IDs for associations with <code>ListPodIdentityAssociations</code> and filter the list by namespace or service account.</p>"
    },
    "DescribeUpdate":{
      "name":"DescribeUpdate",
      "http":{
        "method":"GET",
        "requestUri":"/clusters/{name}/updates/{updateId}"
      },
      "input":{"shape":"DescribeUpdateRequest"},
      "output":{"shape":"DescribeUpdateResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Describes an update to an Amazon EKS resource.</p> <p>When the status of the update is <code>Successful</code>, the update is complete. If an update fails, the status is <code>Failed</code>, and an error detail explains the reason for the failure.</p>"
    },
    "DisassociateAccessPolicy":{
      "name":"DisassociateAccessPolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/clusters/{name}/access-entries/{principalArn}/access-policies/{policyArn}"
      },
      "input":{"shape":"DisassociateAccessPolicyRequest"},
      "output":{"shape":"DisassociateAccessPolicyResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Disassociates an access policy from an access entry.</p>"
    },
    "DisassociateIdentityProviderConfig":{
      "name":"DisassociateIdentityProviderConfig",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/identity-provider-configs/disassociate"
      },
      "input":{"shape":"DisassociateIdentityProviderConfigRequest"},
      "output":{"shape":"DisassociateIdentityProviderConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Disassociates an identity provider configuration from a cluster.</p> <p>If you disassociate an identity provider from your cluster, users included in the provider can no longer access the cluster. However, you can still access the cluster with IAM principals.</p>"
    },
    "ListAccessEntries":{
      "name":"ListAccessEntries",
      "http":{
        "method":"GET",
        "requestUri":"/clusters/{name}/access-entries"
      },
      "input":{"shape":"ListAccessEntriesRequest"},
      "output":{"shape":"ListAccessEntriesResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Lists the access entries for your cluster.</p>"
    },
    "ListAccessPolicies":{
      "name":"ListAccessPolicies",
      "http":{
        "method":"GET",
        "requestUri":"/access-policies"
      },
      "input":{"shape":"ListAccessPoliciesRequest"},
      "output":{"shape":"ListAccessPoliciesResponse"},
      "errors":[
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Lists the available access policies. </p>"
    },
    "ListAddons":{
      "name":"ListAddons",
      "http":{
        "method":"GET",
        "requestUri":"/clusters/{name}/addons"
      },
      "input":{"shape":"ListAddonsRequest"},
      "output":{"shape":"ListAddonsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ClientException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Lists the installed add-ons.</p>"
    },
    "ListAssociatedAccessPolicies":{
      "name":"ListAssociatedAccessPolicies",
      "http":{
        "method":"GET",
        "requestUri":"/clusters/{name}/access-entries/{principalArn}/access-policies"
      },
      "input":{"shape":"ListAssociatedAccessPoliciesRequest"},
      "output":{"shape":"ListAssociatedAccessPoliciesResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Lists the access policies associated with an access entry.</p>"
    },
    "ListClusters":{
      "name":"ListClusters",
      "http":{
        "method":"GET",
        "requestUri":"/clusters"
      },
      "input":{"shape":"ListClustersRequest"},
      "output":{"shape":"ListClustersResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Lists the Amazon EKS clusters in your Amazon Web Services account in the specified Amazon Web Services Region.</p>"
    },
    "ListEksAnywhereSubscriptions":{
      "name":"ListEksAnywhereSubscriptions",
      "http":{
        "method":"GET",
        "requestUri":"/eks-anywhere-subscriptions"
      },
      "input":{"shape":"ListEksAnywhereSubscriptionsRequest"},
      "output":{"shape":"ListEksAnywhereSubscriptionsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Displays the full description of the subscription.</p>"
    },
    "ListFargateProfiles":{
      "name":"ListFargateProfiles",
      "http":{
        "method":"GET",
        "requestUri":"/clusters/{name}/fargate-profiles"
      },
      "input":{"shape":"ListFargateProfilesRequest"},
      "output":{"shape":"ListFargateProfilesResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Lists the Fargate profiles associated with the specified cluster in your Amazon Web Services account in the specified Amazon Web Services Region.</p>"
    },
    "ListIdentityProviderConfigs":{
      "name":"ListIdentityProviderConfigs",
      "http":{
        "method":"GET",
        "requestUri":"/clusters/{name}/identity-provider-configs"
      },
      "input":{"shape":"ListIdentityProviderConfigsRequest"},
      "output":{"shape":"ListIdentityProviderConfigsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists the identity provider configurations for your cluster.</p>"
    },
    "ListInsights":{
      "name":"ListInsights",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/insights"
      },
      "input":{"shape":"ListInsightsRequest"},
      "output":{"shape":"ListInsightsResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Returns a list of all insights checked for against the specified cluster. You can filter which insights are returned by category, associated Kubernetes version, and status. The default filter lists all categories and every status.</p> <p>The following lists the available categories:</p> <ul> <li> <p> <code>UPGRADE_READINESS</code>: Amazon EKS identifies issues that could impact your ability to upgrade to new versions of Kubernetes. These are called upgrade insights.</p> </li> <li> <p> <code>MISCONFIGURATION</code>: Amazon EKS identifies misconfiguration in your EKS Hybrid Nodes setup that could impair functionality of your cluster or workloads. These are called configuration insights.</p> </li> </ul>"
    },
    "ListNodegroups":{
      "name":"ListNodegroups",
      "http":{
        "method":"GET",
        "requestUri":"/clusters/{name}/node-groups"
      },
      "input":{"shape":"ListNodegroupsRequest"},
      "output":{"shape":"ListNodegroupsResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists the managed node groups associated with the specified cluster in your Amazon Web Services account in the specified Amazon Web Services Region. Self-managed node groups aren't listed.</p>"
    },
    "ListPodIdentityAssociations":{
      "name":"ListPodIdentityAssociations",
      "http":{
        "method":"GET",
        "requestUri":"/clusters/{name}/pod-identity-associations"
      },
      "input":{"shape":"ListPodIdentityAssociationsRequest"},
      "output":{"shape":"ListPodIdentityAssociationsResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>List the EKS Pod Identity associations in a cluster. You can filter the list by the namespace that the association is in or the service account that the association uses.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>List the tags for an Amazon EKS resource.</p>"
    },
    "ListUpdates":{
      "name":"ListUpdates",
      "http":{
        "method":"GET",
        "requestUri":"/clusters/{name}/updates"
      },
      "input":{"shape":"ListUpdatesRequest"},
      "output":{"shape":"ListUpdatesResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists the updates associated with an Amazon EKS resource in your Amazon Web Services account, in the specified Amazon Web Services Region.</p>"
    },
    "RegisterCluster":{
      "name":"RegisterCluster",
      "http":{
        "method":"POST",
        "requestUri":"/cluster-registrations"
      },
      "input":{"shape":"RegisterClusterRequest"},
      "output":{"shape":"RegisterClusterResponse"},
      "errors":[
        {"shape":"ResourceLimitExceededException"},
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourcePropagationDelayException"}
      ],
      "documentation":"<p>Connects a Kubernetes cluster to the Amazon EKS control plane. </p> <p>Any Kubernetes cluster can be connected to the Amazon EKS control plane to view current information about the cluster and its nodes. </p> <p>Cluster connection requires two steps. First, send a <a href=\"https://docs.aws.amazon.com/eks/latest/APIReference/API_RegisterClusterRequest.html\"> <code>RegisterClusterRequest</code> </a> to add it to the Amazon EKS control plane.</p> <p>Second, a <a href=\"https://amazon-eks.s3.us-west-2.amazonaws.com/eks-connector/manifests/eks-connector/latest/eks-connector.yaml\">Manifest</a> containing the <code>activationID</code> and <code>activationCode</code> must be applied to the Kubernetes cluster through it's native provider to provide visibility.</p> <p>After the manifest is updated and applied, the connected cluster is visible to the Amazon EKS control plane. If the manifest isn't applied within three days, the connected cluster will no longer be visible and must be deregistered using <code>DeregisterCluster</code>.</p>"
    },
    "StartInsightsRefresh":{
      "name":"StartInsightsRefresh",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/insights-refresh"
      },
      "input":{"shape":"StartInsightsRefreshRequest"},
      "output":{"shape":"StartInsightsRefreshResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Initiates an on-demand refresh operation for cluster insights, getting the latest analysis outside of the standard refresh schedule.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Associates the specified tags to an Amazon EKS resource with the specified <code>resourceArn</code>. If existing tags on a resource are not specified in the request parameters, they aren't changed. When a resource is deleted, the tags associated with that resource are also deleted. Tags that you create for Amazon EKS resources don't propagate to any other resources associated with the cluster. For example, if you tag a cluster with this operation, that tag doesn't automatically propagate to the subnets and nodes associated with the cluster.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"NotFoundException"}
      ],
      "documentation":"<p>Deletes specified tags from an Amazon EKS resource.</p>"
    },
    "UpdateAccessEntry":{
      "name":"UpdateAccessEntry",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/access-entries/{principalArn}"
      },
      "input":{"shape":"UpdateAccessEntryRequest"},
      "output":{"shape":"UpdateAccessEntryResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Updates an access entry.</p>"
    },
    "UpdateAddon":{
      "name":"UpdateAddon",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/addons/{addonName}/update"
      },
      "input":{"shape":"UpdateAddonRequest"},
      "output":{"shape":"UpdateAddonResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Updates an Amazon EKS add-on.</p>"
    },
    "UpdateClusterConfig":{
      "name":"UpdateClusterConfig",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/update-config"
      },
      "input":{"shape":"UpdateClusterConfigRequest"},
      "output":{"shape":"UpdateClusterConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates an Amazon EKS cluster configuration. Your cluster continues to function during the update. The response output includes an update ID that you can use to track the status of your cluster update with <code>DescribeUpdate</code>.</p> <p>You can use this operation to do the following actions:</p> <ul> <li> <p>You can use this API operation to enable or disable exporting the Kubernetes control plane logs for your cluster to CloudWatch Logs. By default, cluster control plane logs aren't exported to CloudWatch Logs. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/control-plane-logs.html\">Amazon EKS Cluster control plane logs</a> in the <i> <i>Amazon EKS User Guide</i> </i>.</p> <note> <p>CloudWatch Logs ingestion, archive storage, and data scanning rates apply to exported control plane logs. For more information, see <a href=\"http://aws.amazon.com/cloudwatch/pricing/\">CloudWatch Pricing</a>.</p> </note> </li> <li> <p>You can also use this API operation to enable or disable public and private access to your cluster's Kubernetes API server endpoint. By default, public access is enabled, and private access is disabled. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/cluster-endpoint.html\"> Cluster API server endpoint</a> in the <i> <i>Amazon EKS User Guide</i> </i>.</p> </li> <li> <p>You can also use this API operation to choose different subnets and security groups for the cluster. You must specify at least two subnets that are in different Availability Zones. You can't change which VPC the subnets are from, the subnets must be in the same VPC as the subnets that the cluster was created with. For more information about the VPC requirements, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">https://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html</a> in the <i> <i>Amazon EKS User Guide</i> </i>.</p> </li> <li> <p>You can also use this API operation to enable or disable ARC zonal shift. If zonal shift is enabled, Amazon Web Services configures zonal autoshift for the cluster.</p> </li> <li> <p>You can also use this API operation to add, change, or remove the configuration in the cluster for EKS Hybrid Nodes. To remove the configuration, use the <code>remoteNetworkConfig</code> key with an object containing both subkeys with empty arrays for each. Here is an inline example: <code>\"remoteNetworkConfig\": { \"remoteNodeNetworks\": [], \"remotePodNetworks\": [] }</code>.</p> </li> </ul> <p>Cluster updates are asynchronous, and they should finish within a few minutes. During an update, the cluster status moves to <code>UPDATING</code> (this status transition is eventually consistent). When the update is complete (either <code>Failed</code> or <code>Successful</code>), the cluster status moves to <code>Active</code>.</p>"
    },
    "UpdateClusterVersion":{
      "name":"UpdateClusterVersion",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/updates"
      },
      "input":{"shape":"UpdateClusterVersionRequest"},
      "output":{"shape":"UpdateClusterVersionResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ThrottlingException"},
        {"shape":"InvalidStateException"}
      ],
      "documentation":"<p>Updates an Amazon EKS cluster to the specified Kubernetes version. Your cluster continues to function during the update. The response output includes an update ID that you can use to track the status of your cluster update with the <a href=\"https://docs.aws.amazon.com/eks/latest/APIReference/API_DescribeUpdate.html\"> <code>DescribeUpdate</code> </a> API operation.</p> <p>Cluster updates are asynchronous, and they should finish within a few minutes. During an update, the cluster status moves to <code>UPDATING</code> (this status transition is eventually consistent). When the update is complete (either <code>Failed</code> or <code>Successful</code>), the cluster status moves to <code>Active</code>.</p> <p>If your cluster has managed node groups attached to it, all of your node groups' Kubernetes versions must match the cluster's Kubernetes version in order to update the cluster to a new Kubernetes version.</p>"
    },
    "UpdateEksAnywhereSubscription":{
      "name":"UpdateEksAnywhereSubscription",
      "http":{
        "method":"POST",
        "requestUri":"/eks-anywhere-subscriptions/{id}"
      },
      "input":{"shape":"UpdateEksAnywhereSubscriptionRequest"},
      "output":{"shape":"UpdateEksAnywhereSubscriptionResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Update an EKS Anywhere Subscription. Only auto renewal and tags can be updated after subscription creation.</p>"
    },
    "UpdateNodegroupConfig":{
      "name":"UpdateNodegroupConfig",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/node-groups/{nodegroupName}/update-config"
      },
      "input":{"shape":"UpdateNodegroupConfigRequest"},
      "output":{"shape":"UpdateNodegroupConfigResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Updates an Amazon EKS managed node group configuration. Your node group continues to function during the update. The response output includes an update ID that you can use to track the status of your node group update with the <a href=\"https://docs.aws.amazon.com/eks/latest/APIReference/API_DescribeUpdate.html\"> <code>DescribeUpdate</code> </a> API operation. You can update the Kubernetes labels and taints for a node group and the scaling and version update configuration.</p>"
    },
    "UpdateNodegroupVersion":{
      "name":"UpdateNodegroupVersion",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/node-groups/{nodegroupName}/update-version"
      },
      "input":{"shape":"UpdateNodegroupVersionRequest"},
      "output":{"shape":"UpdateNodegroupVersionResponse"},
      "errors":[
        {"shape":"InvalidParameterException"},
        {"shape":"ClientException"},
        {"shape":"ServerException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Updates the Kubernetes version or AMI version of an Amazon EKS managed node group.</p> <p>You can update a node group using a launch template only if the node group was originally deployed with a launch template. Additionally, the launch template ID or name must match what was used when the node group was created. You can update the launch template version with necessary changes.</p> <p>If you need to update a custom AMI in a node group that was deployed with a launch template, then update your custom AMI, specify the new ID in a new version of the launch template, and then update the node group to the new version of the launch template.</p> <p>If you update without a launch template, then you can update to the latest available AMI version of a node group's current Kubernetes version by not specifying a Kubernetes version in the request. You can update to the latest AMI version of your cluster's current Kubernetes version by specifying your cluster's Kubernetes version in the request. For information about Linux versions, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/eks-linux-ami-versions.html\">Amazon EKS optimized Amazon Linux AMI versions</a> in the <i>Amazon EKS User Guide</i>. For information about Windows versions, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/eks-ami-versions-windows.html\">Amazon EKS optimized Windows AMI versions</a> in the <i>Amazon EKS User Guide</i>. </p> <p>You cannot roll back a node group to an earlier Kubernetes version or AMI version.</p> <p>When a node in a managed node group is terminated due to a scaling action or update, every <code>Pod</code> on that node is drained first. Amazon EKS attempts to drain the nodes gracefully and will fail if it is unable to do so. You can <code>force</code> the update if Amazon EKS is unable to drain the nodes as a result of a <code>Pod</code> disruption budget issue.</p>"
    },
    "UpdatePodIdentityAssociation":{
      "name":"UpdatePodIdentityAssociation",
      "http":{
        "method":"POST",
        "requestUri":"/clusters/{name}/pod-identity-associations/{associationId}"
      },
      "input":{"shape":"UpdatePodIdentityAssociationRequest"},
      "output":{"shape":"UpdatePodIdentityAssociationResponse"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"InvalidParameterException"}
      ],
      "documentation":"<p>Updates a EKS Pod Identity association. In an update, you can change the IAM role, the target IAM role, or <code>disableSessionTags</code>. You must change at least one of these in an update. An association can't be moved between clusters, namespaces, or service accounts. If you need to edit the namespace or service account, you need to delete the association and then create a new association with your desired settings.</p> <p>Similar to Amazon Web Services IAM behavior, EKS Pod Identity associations are eventually consistent, and may take several seconds to be effective after the initial API call returns successfully. You must design your applications to account for these potential delays. We recommend that you don’t include association create/updates in the critical, high-availability code paths of your application. Instead, make changes in a separate initialization or setup routine that you run less frequently.</p> <p>You can set a <i>target IAM role</i> in the same or a different account for advanced scenarios. With a target role, EKS Pod Identity automatically performs two role assumptions in sequence: first assuming the role in the association that is in this account, then using those credentials to assume the target IAM role. This process provides your Pod with temporary credentials that have the permissions defined in the target role, allowing secure access to resources in another Amazon Web Services account.</p>"
    }
  },
  "shapes":{
    "AMITypes":{
      "type":"string",
      "enum":[
        "AL2_x86_64",
        "AL2_x86_64_GPU",
        "AL2_ARM_64",
        "CUSTOM",
        "BOTTLEROCKET_ARM_64",
        "BOTTLEROCKET_x86_64",
        "BOTTLEROCKET_ARM_64_FIPS",
        "BOTTLEROCKET_x86_64_FIPS",
        "BOTTLEROCKET_ARM_64_NVIDIA",
        "BOTTLEROCKET_x86_64_NVIDIA",
        "WINDOWS_CORE_2019_x86_64",
        "WINDOWS_FULL_2019_x86_64",
        "WINDOWS_CORE_2022_x86_64",
        "WINDOWS_FULL_2022_x86_64",
        "AL2023_x86_64_STANDARD",
        "AL2023_ARM_64_STANDARD",
        "AL2023_x86_64_NEURON",
        "AL2023_x86_64_NVIDIA",
        "AL2023_ARM_64_NVIDIA"
      ]
    },
    "AccessConfigResponse":{
      "type":"structure",
      "members":{
        "bootstrapClusterCreatorAdminPermissions":{
          "shape":"BoxedBoolean",
          "documentation":"<p>Specifies whether or not the cluster creator IAM principal was set as a cluster admin access entry during cluster creation time.</p>"
        },
        "authenticationMode":{
          "shape":"AuthenticationMode",
          "documentation":"<p>The current authentication mode of the cluster.</p>"
        }
      },
      "documentation":"<p>The access configuration for the cluster.</p>"
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>You do not have sufficient access to perform this action.</p>"
        }
      },
      "documentation":"<p>You don't have permissions to perform the requested operation. The <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_terms-and-concepts.html\">IAM principal</a> making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access.html\">Access management</a> in the <i>IAM User Guide</i>. </p>",
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "AccessEntry":{
      "type":"structure",
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of your cluster.</p>"
        },
        "principalArn":{
          "shape":"String",
          "documentation":"<p>The ARN of the IAM principal for the access entry. If you ever delete the IAM principal with this ARN, the access entry isn't automatically deleted. We recommend that you delete the access entry with an ARN for an IAM principal that you delete. If you don't delete the access entry and ever recreate the IAM principal, even if it has the same ARN, the access entry won't work. This is because even though the ARN is the same for the recreated IAM principal, the <code>roleID</code> or <code>userID</code> (you can see this with the Security Token Service <code>GetCallerIdentity</code> API) is different for the recreated IAM principal than it was for the original IAM principal. Even though you don't see the IAM principal's <code>roleID</code> or <code>userID</code> for an access entry, Amazon EKS stores it with the access entry.</p>"
        },
        "kubernetesGroups":{
          "shape":"StringList",
          "documentation":"<p>A <code>name</code> that you've specified in a Kubernetes <code>RoleBinding</code> or <code>ClusterRoleBinding</code> object so that Kubernetes authorizes the <code>principalARN</code> access to cluster objects.</p>"
        },
        "accessEntryArn":{
          "shape":"String",
          "documentation":"<p>The ARN of the access entry.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix epoch timestamp at object creation.</p>"
        },
        "modifiedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix epoch timestamp for the last modification to the object.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Metadata that assists with categorization and organization. Each tag consists of a key and an optional value. You define both. Tags don't propagate to any other cluster or Amazon Web Services resources.</p>"
        },
        "username":{
          "shape":"String",
          "documentation":"<p>The <code>name</code> of a user that can authenticate to your cluster.</p>"
        },
        "type":{
          "shape":"String",
          "documentation":"<p>The type of the access entry.</p>"
        }
      },
      "documentation":"<p>An access entry allows an IAM principal (user or role) to access your cluster. Access entries can replace the need to maintain the <code>aws-auth</code> <code>ConfigMap</code> for authentication. For more information about access entries, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/access-entries.html\">Access entries</a> in the <i>Amazon EKS User Guide</i>.</p>"
    },
    "AccessPoliciesList":{
      "type":"list",
      "member":{"shape":"AccessPolicy"}
    },
    "AccessPolicy":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the access policy.</p>"
        },
        "arn":{
          "shape":"String",
          "documentation":"<p>The ARN of the access policy.</p>"
        }
      },
      "documentation":"<p>An access policy includes permissions that allow Amazon EKS to authorize an IAM principal to work with Kubernetes objects on your cluster. The policies are managed by Amazon EKS, but they're not IAM policies. You can't view the permissions in the policies using the API. The permissions for many of the policies are similar to the Kubernetes <code>cluster-admin</code>, <code>admin</code>, <code>edit</code>, and <code>view</code> cluster roles. For more information about these cluster roles, see <a href=\"https://kubernetes.io/docs/reference/access-authn-authz/rbac/#user-facing-roles\">User-facing roles</a> in the Kubernetes documentation. To view the contents of the policies, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/access-policies.html#access-policy-permissions\">Access policy permissions</a> in the <i>Amazon EKS User Guide</i>.</p>"
    },
    "AccessScope":{
      "type":"structure",
      "members":{
        "type":{
          "shape":"AccessScopeType",
          "documentation":"<p>The scope type of an access policy.</p>"
        },
        "namespaces":{
          "shape":"StringList",
          "documentation":"<p>A Kubernetes <code>namespace</code> that an access policy is scoped to. A value is required if you specified <code>namespace</code> for <code>Type</code>.</p>"
        }
      },
      "documentation":"<p>The scope of an <code>AccessPolicy</code> that's associated to an <code>AccessEntry</code>.</p>"
    },
    "AccessScopeType":{
      "type":"string",
      "enum":[
        "cluster",
        "namespace"
      ]
    },
    "AdditionalInfoMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"}
    },
    "Addon":{
      "type":"structure",
      "members":{
        "addonName":{
          "shape":"String",
          "documentation":"<p>The name of the add-on.</p>"
        },
        "clusterName":{
          "shape":"ClusterName",
          "documentation":"<p>The name of your cluster.</p>"
        },
        "status":{
          "shape":"AddonStatus",
          "documentation":"<p>The status of the add-on.</p>"
        },
        "addonVersion":{
          "shape":"String",
          "documentation":"<p>The version of the add-on.</p>"
        },
        "health":{
          "shape":"AddonHealth",
          "documentation":"<p>An object that represents the health of the add-on.</p>"
        },
        "addonArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the add-on.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix epoch timestamp at object creation.</p>"
        },
        "modifiedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix epoch timestamp for the last modification to the object.</p>"
        },
        "serviceAccountRoleArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role that's bound to the Kubernetes <code>ServiceAccount</code> object that the add-on uses.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Metadata that assists with categorization and organization. Each tag consists of a key and an optional value. You define both. Tags don't propagate to any other cluster or Amazon Web Services resources.</p>"
        },
        "publisher":{
          "shape":"String",
          "documentation":"<p>The publisher of the add-on.</p>"
        },
        "owner":{
          "shape":"String",
          "documentation":"<p>The owner of the add-on.</p>"
        },
        "marketplaceInformation":{
          "shape":"MarketplaceInformation",
          "documentation":"<p>Information about an Amazon EKS add-on from the Amazon Web Services Marketplace.</p>"
        },
        "configurationValues":{
          "shape":"String",
          "documentation":"<p>The configuration values that you provided.</p>"
        },
        "podIdentityAssociations":{
          "shape":"StringList",
          "documentation":"<p>An array of EKS Pod Identity associations owned by the add-on. Each association maps a role to a service account in a namespace in the cluster.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/add-ons-iam.html\">Attach an IAM Role to an Amazon EKS add-on using EKS Pod Identity</a> in the <i>Amazon EKS User Guide</i>.</p>"
        },
        "namespaceConfig":{
          "shape":"AddonNamespaceConfigResponse",
          "documentation":"<p>The namespace configuration for the addon. This specifies the Kubernetes namespace where the addon is installed.</p>"
        }
      },
      "documentation":"<p>An Amazon EKS add-on. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/eks-add-ons.html\">Amazon EKS add-ons</a> in the <i>Amazon EKS User Guide</i>.</p>"
    },
    "AddonCompatibilityDetail":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon EKS add-on.</p>"
        },
        "compatibleVersions":{
          "shape":"StringList",
          "documentation":"<p>The list of compatible Amazon EKS add-on versions for the next Kubernetes version.</p>"
        }
      },
      "documentation":"<p>The summary information about the Amazon EKS add-on compatibility for the next Kubernetes version for an insight check in the <code>UPGRADE_READINESS</code> category.</p>"
    },
    "AddonCompatibilityDetails":{
      "type":"list",
      "member":{"shape":"AddonCompatibilityDetail"}
    },
    "AddonHealth":{
      "type":"structure",
      "members":{
        "issues":{
          "shape":"AddonIssueList",
          "documentation":"<p>An object representing the health issues for an add-on.</p>"
        }
      },
      "documentation":"<p>The health of the add-on.</p>"
    },
    "AddonInfo":{
      "type":"structure",
      "members":{
        "addonName":{
          "shape":"String",
          "documentation":"<p>The name of the add-on.</p>"
        },
        "type":{
          "shape":"String",
          "documentation":"<p>The type of the add-on.</p>"
        },
        "addonVersions":{
          "shape":"AddonVersionInfoList",
          "documentation":"<p>An object representing information about available add-on versions and compatible Kubernetes versions.</p>"
        },
        "publisher":{
          "shape":"String",
          "documentation":"<p>The publisher of the add-on.</p>"
        },
        "owner":{
          "shape":"String",
          "documentation":"<p>The owner of the add-on.</p>"
        },
        "marketplaceInformation":{
          "shape":"MarketplaceInformation",
          "documentation":"<p>Information about the add-on from the Amazon Web Services Marketplace.</p>"
        },
        "defaultNamespace":{
          "shape":"String",
          "documentation":"<p>The default Kubernetes namespace where this addon is typically installed if no custom namespace is specified.</p>"
        }
      },
      "documentation":"<p>Information about an add-on.</p>"
    },
    "AddonIssue":{
      "type":"structure",
      "members":{
        "code":{
          "shape":"AddonIssueCode",
          "documentation":"<p>A code that describes the type of issue.</p>"
        },
        "message":{
          "shape":"String",
          "documentation":"<p>A message that provides details about the issue and what might cause it.</p>"
        },
        "resourceIds":{
          "shape":"StringList",
          "documentation":"<p>The resource IDs of the issue.</p>"
        }
      },
      "documentation":"<p>An issue related to an add-on.</p>"
    },
    "AddonIssueCode":{
      "type":"string",
      "enum":[
        "AccessDenied",
        "InternalFailure",
        "ClusterUnreachable",
        "InsufficientNumberOfReplicas",
        "ConfigurationConflict",
        "AdmissionRequestDenied",
        "UnsupportedAddonModification",
        "K8sResourceNotFound",
        "AddonSubscriptionNeeded",
        "AddonPermissionFailure"
      ]
    },
    "AddonIssueList":{
      "type":"list",
      "member":{"shape":"AddonIssue"}
    },
    "AddonNamespaceConfigRequest":{
      "type":"structure",
      "members":{
        "namespace":{
          "shape":"namespace",
          "documentation":"<p>The name of the Kubernetes namespace to install the addon in. Must be a valid RFC 1123 DNS label.</p>"
        }
      },
      "documentation":"<p>The namespace configuration request object for specifying a custom namespace when creating an addon.</p>"
    },
    "AddonNamespaceConfigResponse":{
      "type":"structure",
      "members":{
        "namespace":{
          "shape":"namespace",
          "documentation":"<p>The name of the Kubernetes namespace where the addon is installed.</p>"
        }
      },
      "documentation":"<p>The namespace configuration response object containing information about the namespace where an addon is installed.</p>"
    },
    "AddonPodIdentityAssociations":{
      "type":"structure",
      "required":[
        "serviceAccount",
        "roleArn"
      ],
      "members":{
        "serviceAccount":{
          "shape":"String",
          "documentation":"<p>The name of a Kubernetes Service Account.</p>"
        },
        "roleArn":{
          "shape":"String",
          "documentation":"<p>The ARN of an IAM Role.</p>"
        }
      },
      "documentation":"<p>A type of EKS Pod Identity association owned by an Amazon EKS add-on.</p> <p>Each association maps a role to a service account in a namespace in the cluster.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/add-ons-iam.html\">Attach an IAM Role to an Amazon EKS add-on using EKS Pod Identity</a> in the <i>Amazon EKS User Guide</i>.</p>"
    },
    "AddonPodIdentityAssociationsList":{
      "type":"list",
      "member":{"shape":"AddonPodIdentityAssociations"}
    },
    "AddonPodIdentityConfiguration":{
      "type":"structure",
      "members":{
        "serviceAccount":{
          "shape":"String",
          "documentation":"<p>The Kubernetes Service Account name used by the add-on.</p>"
        },
        "recommendedManagedPolicies":{
          "shape":"StringList",
          "documentation":"<p>A suggested IAM Policy for the add-on.</p>"
        }
      },
      "documentation":"<p>Information about how to configure IAM for an add-on.</p>"
    },
    "AddonPodIdentityConfigurationList":{
      "type":"list",
      "member":{"shape":"AddonPodIdentityConfiguration"}
    },
    "AddonStatus":{
      "type":"string",
      "enum":[
        "CREATING",
        "ACTIVE",
        "CREATE_FAILED",
        "UPDATING",
        "DELETING",
        "DELETE_FAILED",
        "DEGRADED",
        "UPDATE_FAILED"
      ]
    },
    "AddonVersionInfo":{
      "type":"structure",
      "members":{
        "addonVersion":{
          "shape":"String",
          "documentation":"<p>The version of the add-on.</p>"
        },
        "architecture":{
          "shape":"StringList",
          "documentation":"<p>The architectures that the version supports.</p>"
        },
        "computeTypes":{
          "shape":"StringList",
          "documentation":"<p>Indicates the compute type of the add-on version.</p>"
        },
        "compatibilities":{
          "shape":"Compatibilities",
          "documentation":"<p>An object representing the compatibilities of a version.</p>"
        },
        "requiresConfiguration":{
          "shape":"Boolean",
          "documentation":"<p>Whether the add-on requires configuration.</p>"
        },
        "requiresIamPermissions":{
          "shape":"Boolean",
          "documentation":"<p>Indicates if the add-on requires IAM Permissions to operate, such as networking permissions.</p>"
        }
      },
      "documentation":"<p>Information about an add-on version.</p>"
    },
    "AddonVersionInfoList":{
      "type":"list",
      "member":{"shape":"AddonVersionInfo"}
    },
    "Addons":{
      "type":"list",
      "member":{"shape":"AddonInfo"}
    },
    "AssociateAccessPolicyRequest":{
      "type":"structure",
      "required":[
        "clusterName",
        "principalArn",
        "policyArn",
        "accessScope"
      ],
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of your cluster.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "principalArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM user or role for the <code>AccessEntry</code> that you're associating the access policy to. </p>",
          "location":"uri",
          "locationName":"principalArn"
        },
        "policyArn":{
          "shape":"String",
          "documentation":"<p>The ARN of the <code>AccessPolicy</code> that you're associating. For a list of ARNs, use <code>ListAccessPolicies</code>.</p>"
        },
        "accessScope":{
          "shape":"AccessScope",
          "documentation":"<p>The scope for the <code>AccessPolicy</code>. You can scope access policies to an entire cluster or to specific Kubernetes namespaces.</p>"
        }
      }
    },
    "AssociateAccessPolicyResponse":{
      "type":"structure",
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of your cluster.</p>"
        },
        "principalArn":{
          "shape":"String",
          "documentation":"<p>The ARN of the IAM principal for the <code>AccessEntry</code>.</p>"
        },
        "associatedAccessPolicy":{
          "shape":"AssociatedAccessPolicy",
          "documentation":"<p>The <code>AccessPolicy</code> and scope associated to the <code>AccessEntry</code>.</p>"
        }
      }
    },
    "AssociateEncryptionConfigRequest":{
      "type":"structure",
      "required":[
        "clusterName",
        "encryptionConfig"
      ],
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of your cluster.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "encryptionConfig":{
          "shape":"EncryptionConfigList",
          "documentation":"<p>The configuration you are using for encryption.</p>"
        },
        "clientRequestToken":{
          "shape":"String",
          "documentation":"<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        }
      }
    },
    "AssociateEncryptionConfigResponse":{
      "type":"structure",
      "members":{
        "update":{"shape":"Update"}
      }
    },
    "AssociateIdentityProviderConfigRequest":{
      "type":"structure",
      "required":[
        "clusterName",
        "oidc"
      ],
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The name of your cluster.</p>",
          "location":"uri",
          "locationName":"name"
        },
        "oidc":{
          "shape":"OidcIdentityProviderConfigRequest",
          "documentation":"<p>An object representing an OpenID Connect (OIDC) identity provider configuration.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Metadata that assists with categorization and organization. Each tag consists of a key and an optional value. You define both. Tags don't propagate to any other cluster or Amazon Web Services resources.</p>"
        },
        "clientRequestToken":{
          "shape":"String",
          "documentation":"<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true
        }
      }
    },
    "AssociateIdentityProviderConfigResponse":{
      "type":"structure",
      "members":{
        "update":{"shape":"Update"},
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>The tags for the resource.</p>"
        }
      }
    },
    "AssociatedAccessPoliciesList":{
      "type":"list",
      "member":{"shape":"AssociatedAccessPolicy"}
    },
    "AssociatedAccessPolicy":{
      "type":"structure",
      "members":{
        "policyArn":{
          "shape":"String",
          "documentation":"<p>The ARN of the <code>AccessPolicy</code>.</p>"
        },
        "accessScope":{
          "shape":"AccessScope",
          "documentation":"<p>The scope of the access policy.</p>"
        },
        "associatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the <code>AccessPolicy</code> was associated with an <code>AccessEntry</code>.</p>"
        },
        "modifiedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix epoch timestamp for the last modification to the object.</p>"
        }
      },
      "documentation":"<p>An access policy association.</p>"
    },
    "AuthenticationMode":{
      "type":"string",
      "enum":[
        "API",
        "API_AND_CONFIG_MAP",
        "CONFIG_MAP"
      ]
    },
    "AutoScalingGroup":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of the Auto Scaling group associated with an Amazon EKS managed node group.</p>"
        }
      },
      "documentation":"<p>An Auto Scaling group that is associated with an Amazon EKS managed node group.</p>"
    },
    "AutoScalingGroupList":{
      "type":"list",
      "member":{"shape":"AutoScalingGroup"}
    },
    "BadRequestException":{
      "type":"structure",
      "members":{
        "message":{
          "shape":"String",
          "documentation":"<p>This exception is thrown if the request contains a semantic error. The precise meaning will depend on the API, and will be documented in the error message.</p>"
        }
      },
      "documentation":"<p>This exception is thrown if the request contains a semantic error. The precise meaning will depend on the API, and will be documented in the error message.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "BlockStorage":{
      "type":"structure",
      "members":{
        "enabled":{
          "shape":"BoxedBoolean",
          "documentation":"<p>Indicates if the block storage capability is enabled on your EKS Auto Mode cluster. If the block storage capability is enabled, EKS Auto Mode will create and delete EBS volumes in your Amazon Web Services account.</p>"
        }
      },
      "documentation":"<p>Indicates the current configuration of the block storage capability on your EKS Auto Mode cluster. For example, if the capability is enabled or disabled. If the block storage capability is enabled, EKS Auto Mode will create and delete EBS volumes in your Amazon Web Services account. For more information, see EKS Auto Mode block storage capability in the <i>Amazon EKS User Guide</i>.</p>"
    },
    "Boolean":{"type":"boolean"},
    "BoxedBoolean":{
      "type":"boolean",
      "box":true
    },
    "BoxedInteger":{
      "type":"integer",
      "box":true
    },
    "Capacity":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "CapacityTypes":{
      "type":"string",
      "enum":[
        "ON_DEMAND",
        "SPOT",
        "CAPACITY_BLOCK"
      ]
    },
    "Category":{
      "type":"string",
      "enum":[
        "UPGRADE_READINESS",
        "MISCONFIGURATION"
      ]
    },
    "CategoryList":{
      "type":"list",
      "member":{"shape":"Category"}
    },
    "Certificate":{
      "type":"structure",
      "members":{
        "data":{
          "shape":"String",
          "documentation":"<p>The Base64-encoded certificate data required to communicate with your cluster. Add this to the <code>certificate-authority-data</code> section of the <code>kubeconfig</code> file for your cluster.</p>"
        }
      },
      "documentation":"<p>An object representing the <code>certificate-authority-data</code> for your cluster.</p>"
    },
    "ClientException":{
      "type":"structure",
      "members":{
        "clusterName":{
          "shape":"String",
          "documentation":"<p>The Amazon EKS cluster associated with the exception.</p>"
        },
        "nodegroupName":{
          "shape":"String",
          "documentation":"<p>The Amazon EKS managed node group associated with the exception.</p>"
        },
        "addonName":{
          "shape":"String",
          "documentation":"<p>The Amazon EKS add-on name associated with the exception.</p>"
        },
        "subscriptionId":{
          "shape":"String",
          "documentation":"<p>The Amazon EKS subscription ID with the exception.</p>"
        },
        "message":{
          "shape":"String",
          "documentation":"<p>These errors are usually caused by a client action. Actions can include using an action or resource on behalf of an <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_terms-and-concepts.html\">IAM principal</a> that doesn't have permissions to use the action or resource or specifying an identifier that is not valid.</p>"
        }
      },
      "documentation":"<p>These errors are usually caused by a client action. Actions can include using an action or resource on behalf of an <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_terms-and-concepts.html\">IAM principal</a> that doesn't have permissions to use the action or resource or specifying an identifier that is not valid.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "ClientStat":{
      "type":"structure",
      "members":{
        "userAgent":{
          "shape":"String",
          "documentation":"<p>The user agent of the Kubernetes client using the deprecated resource.</p>"
        },
        "numberOfRequestsLast30Days":{
          "shape":"Integer",
          "documentation":"<p>The number of requests from the Kubernetes client seen over the last 30 days.</p>"
        },
        "lastRequestTime":{
          "shape":"Timestamp",
          "documentation":"<p>The timestamp of the last request seen from the Kubernetes client.</p>"
        }
      },
      "documentation":"<p>Details about clients using the deprecated resources.</p>"
    },
    "ClientStats":{
      "type":"list",
      "member":{"shape":"ClientStat"}
    },
    "Cluster":{
      "type":"structure",
      "members":{
        "name":{
          "shape":"String",
          "documentation":"<p>The name of your cluster.</p>"
        },
        "arn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the cluster.</p>"
        },
        "createdAt":{
          "shape":"Timestamp",
          "documentation":"<p>The Unix epoch timestamp at object creation.</p>"
        },
        "version":{
          "shape":"String",
          "documentation":"<p>The Kubernetes server version for the cluster.</p>"
        },
        "endpoint":{
          "shape":"String",
          "documentation":"<p>The endpoint for your Kubernetes API server.</p>"
        },
        "roleArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the IAM role that provides permissions for the Kubernetes control plane to make calls to Amazon Web Services API operations on your behalf.</p>"
        },
        "resourcesVpcConfig":{
          "shape":"VpcConfigResponse",
          "documentation":"<p>The VPC configuration used by the cluster control plane. Amazon EKS VPC resources have specific requirements to work properly with Kubernetes. For more information, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/network_reqs.html\">Cluster VPC considerations</a> and <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/sec-group-reqs.html\">Cluster security group considerations</a> in the <i>Amazon EKS User Guide</i>.</p>"
        },
        "kubernetesNetworkConfig":{
          "shape":"KubernetesNetworkConfigResponse",
          "documentation":"<p>The Kubernetes network configuration for the cluster.</p>"
        },
        "logging":{
          "shape":"Logging",
          "documentation":"<p>The logging configuration for your cluster.</p>"
        },
        "identity":{
          "shape":"Identity",
          "documentation":"<p>The identity provider information for the cluster.</p>"
        },
        "status":{
          "shape":"ClusterStatus",
          "documentation":"<p>The current status of the cluster.</p>"
        },
        "certificateAuthority":{
          "shape":"Certificate",
          "documentation":"<p>The <code>certificate-authority-data</code> for your cluster.</p>"
        },
        "clientRequestToken":{
          "shape":"String",
          "documentation":"<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>"
        },
        "platformVersion":{
          "shape":"String",
          "documentation":"<p>The platform version of your Amazon EKS cluster. For more information about clusters deployed on the Amazon Web Services Cloud, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/platform-versions.html\">Platform versions</a> in the <i> <i>Amazon EKS User Guide</i> </i>. For more information about local clusters deployed on an Outpost, see <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/eks-outposts-platform-versions.html\">Amazon EKS local cluster platform versions</a> in the <i> <i>Amazon EKS User Guide</i> </i>.</p>"
        },
        "tags":{
          "shape":"TagMap",
          "documentation":"<p>Metadata that assists with categorization and organization. Each tag consists of a key and an optional value. You define both. Tags don't propagate to any other cluster or Amazon Web Services resources.</p>"
        },
        "encryptionConfig":{
          "shape":"EncryptionConfigList",
          "documentation":"<p>The encryption configuration for the cluster.</p>"
        },
        "connectorConfig":{
          "shape":"ConnectorConfigResponse",
          "documentation":"<p>The configuration used to connect to a cluster for registration.</p>"
        },
        "id":{
          "shape":"String",
          "documentation":"<p>The ID of your local Amazon EKS cluster on an Amazon Web Services Outpost. This property isn't available for an Amazon EKS cluster on the Amazon Web Services cloud.</p>"
        },
        "health":{
          "shape":"ClusterHealth",
          "documentation":"<p>An object representing the health of your Amazon EKS cluster.</p>"
        },
        "outpostConfig":{
          "shape":"OutpostConfigResponse",
          "documentation":"<p>An object representing the configuration of your local Amazon EKS cluster on an Amazon Web Services Outpost. This object isn't available for clusters on the Amazon Web Services cloud.</p>"
        },
        "accessConfig":{
          "shape":"AccessConfigResponse",
          "documentation":"<p>The access configuration for the cluster.</p>"
        },
        "upgradePolicy":{
          "shape":"UpgradePolicyResponse",
          "documentation":"<p>This value indicates if extended support is enabled or disabled for the cluster.</p> <p> <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/extended-support-control.html\">Learn more about EKS Extended Support in the <i>Amazon EKS User Guide</i>.</a> </p>"
        },
        "zonalShiftConfig":{
          "shape":"ZonalShiftConfigResponse",
          "documentation":"<p>The configuration for zonal shift for the cluster.</p>"
        },
        "remoteNetworkConfig":{
          "shape":"RemoteNetworkConfigResponse",
          "documentation":"<p>The configuration in the cluster for EKS Hybrid Nodes. You can add, change, or remove this configuration after the cluster is created.</p>"
        },
        "computeConfig":{
          "shape":"ComputeConfigResponse",
          "documentation":"<p>Indicates the current configuration of the compute capability on your EKS Auto Mode cluster. For example, if the capability is enabled or disabled. If the compute capability is enabled, EKS Auto Mode will create and delete EC2 Managed Instances in your Amazon Web Services account. For more information, see EKS Auto Mode compute capability in the <i>Amazon EKS User Guide</i>.</p>"
        },
        "storageConfig":{
          "shape":"StorageConfigResponse",
          "documentation":"<p>Indicates the current configuration of the block storage capability on your EKS Auto Mode cluster. For example, if the capability is enabled or disabled. If the block storage capability is enabled, EKS Auto Mode will create and delete EBS volumes in your Amazon Web Services account. For more information, see EKS Auto Mode block storage capability in the <i>Amazon EKS User Guide</i>.</p>"
        },
        "deletionProtection":{
          "shape":"BoxedBoolean",
          "documentation":"<p>The current deletion protection setting for the cluster. When <code>true</code>, deletion protection is enabled and the cluster cannot be deleted until protection is disabled. When <code>false</code>, the cluster can be deleted normally. This setting only applies to clusters in an active state.</p>"
        }
      },
      "documentation":"<p>An object representing an Amazon EKS cluster.</p>"
    },
    "ClusterHealth":{
      "type":"structure",
      "members":{
        "issues":{
          "shape":"ClusterIssueList",
          "documentation":"<p>An object representing the health issues of your Amazon EKS cluster.</p>"
        }
      },
      "documentation":"<p>An object representing the health of your Amazon EKS cluster.</p>"
    },
    "ClusterIssue":{
      "type":"structure",
      "members":{
        "code":{
          "shape":"ClusterIssueCode",
          "documentation":"<p>The error code of the issue.</p>"
        },
        "message":{
          "shape":"String",
          "documentation":"<p>A description of the issue.</p>"
        },
        "resourceIds":{
          "shape":"StringList",
          "documentation":"<p>The resource IDs that the issue relates to.</p>"
        }
      },
      "documentation":"<p>An issue with your Amazon EKS cluster.</p>"
    },
    "ClusterIssueCode":{
      "type":"string",
      "enum":[
        "AccessDenied",
        "ClusterUnreachable",
        "ConfigurationConflict",
        "InternalFailure",
        "ResourceLimitExceeded",
        "ResourceNotFound",
        "IamRoleNotFound",
        "VpcNotFound",
        "InsufficientFreeAddresses",
        "Ec2ServiceNotSubscribed",
        "Ec2SubnetNotFound",
        "Ec2SecurityGroupNotFound",
        "KmsGrantRevoked",
        "KmsKeyNotFound",
        "KmsKeyMarkedForDeletion",
        "KmsKeyDisabled",
        "StsRegionalEndpointDisabled",
        "UnsupportedVersion",
        "Other"
      ]
    },
    "ClusterIssueList":{
      "type":"list",
      "member":{"shape":"ClusterIssue"}
    },
    "ClusterName":{
      "type":"string",
      "max":100,
      "min":1,
      "pattern":"^[0-9A-Za-z][A-Za-z0-9\\-_]*"
    },
    "ClusterStatus":{
      "type":"string",
      "enum":[
        "CREATING",
        "ACTIVE",
        "DELETING",
        "FAILED",
        "UPDATING",
        "PENDING"
      ]
    },
    "ClusterVersionInformation":{
      "type":"structure",
      "members":{
        "clusterVersion":{
          "shape":"String",
          "documentation":"<p>The Kubernetes version for the cluster.</p>"
        },
        "clusterType":{
          "shape":"String",
          "documentation":"<p>The type of cluster this version is for.</p>"
        },
        "defaultPlatformVersion":{
          "shape":"String",
          "documentation":"<p>Default platform version for this Kubernetes version.</p>"
        },
        "defaultVersion":{
          "shape":"Boolean",
          "documentation":"<p>Indicates if this is a default version.</p>"
        },
        "releaseDate":{
          "shape":"Timestamp",
          "documentation":"<p>The release date of this cluster version.</p>"
        },
        "endOfStandardSupportDate":{
          "shape":"Timestamp",
          "documentation":"<p>Date when standard support ends for this version.</p>"
        },
        "endOfExtendedSupportDate":{
          "shape":"Timestamp",
          "documentation":"<p>Date when extended support ends for this version.</p>"
        },
        "status":{
          "shape":"ClusterVersionStatus",
          "documentation":"<important> <p>This field is deprecated. Use <code>versionStatus</code> instead, as that field matches for input and output of this action.</p> </important> <p>Current status of this cluster version.</p>"
        },
        "versionStatus":{
          "shape":"VersionStatus",
          "documentation":"<p>Current status of this cluster version.</p>"
        },
        "kubernetesPatchVersion":{
          "shape":"String",
          "documentation":"<p>The patch version of Kubernetes for this cluster version.</p>"
        }
      },
      "documentation":"<p>Contains details about a specific EKS cluster version.</p>"
    },
    "ClusterVersionList":{
      "type":"list",
      "member":{"shape":"ClusterVersionInformation"}
    },
    "ClusterVersionStatus":{
      "type":"string",
      "enum":[
        "unsupported",
        "standard-support",
        "extended-support"
      ]
    },
    "Compatibilities":{
      "type":"list",
      "member":{"shape":"Compatibility"}
    },
    "Compatibility":{
      "type":"structure",
      "members":{
        "clusterVersion":{
          "shape":"String",
          "documentation":"<p>The supported Kubernetes version of the cluster.</p>"
        },
        "platformVersions":{
          "shape":"StringList",
          "documentation":"<p>The supported compute platform.</p>"
        },
        "defaultVersion":{
          "shape":"Boolean",
          "documentation":"<p>The supported default version.</p>"
        }
      },
[...]
