{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2020-11-22",
    "endpointPrefix":"api.iotwireless",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"AWS IoT Wireless",
    "serviceId":"IoT Wireless",
    "signatureVersion":"v4",
    "signingName":"iotwireless",
    "uid":"iotwireless-2020-11-22",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AssociateAwsAccountWithPartnerAccount":{
      "name":"AssociateAwsAccountWithPartnerAccount",
      "http":{
        "method":"POST",
        "requestUri":"/partner-accounts"
      },
      "input":{"shape":"AssociateAwsAccountWithPartnerAccountRequest"},
      "output":{"shape":"AssociateAwsAccountWithPartnerAccountResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Associates a partner account with your AWS account.</p>"
    },
    "AssociateMulticastGroupWithFuotaTask":{
      "name":"AssociateMulticastGroupWithFuotaTask",
      "http":{
        "method":"PUT",
        "requestUri":"/fuota-tasks/{Id}/multicast-group",
        "responseCode":204
      },
      "input":{"shape":"AssociateMulticastGroupWithFuotaTaskRequest"},
      "output":{"shape":"AssociateMulticastGroupWithFuotaTaskResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Associate a multicast group with a FUOTA task.</p>"
    },
    "AssociateWirelessDeviceWithFuotaTask":{
      "name":"AssociateWirelessDeviceWithFuotaTask",
      "http":{
        "method":"PUT",
        "requestUri":"/fuota-tasks/{Id}/wireless-device",
        "responseCode":204
      },
      "input":{"shape":"AssociateWirelessDeviceWithFuotaTaskRequest"},
      "output":{"shape":"AssociateWirelessDeviceWithFuotaTaskResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Associate a wireless device with a FUOTA task.</p>"
    },
    "AssociateWirelessDeviceWithMulticastGroup":{
      "name":"AssociateWirelessDeviceWithMulticastGroup",
      "http":{
        "method":"PUT",
        "requestUri":"/multicast-groups/{Id}/wireless-device",
        "responseCode":204
      },
      "input":{"shape":"AssociateWirelessDeviceWithMulticastGroupRequest"},
      "output":{"shape":"AssociateWirelessDeviceWithMulticastGroupResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Associates a wireless device with a multicast group.</p>"
    },
    "AssociateWirelessDeviceWithThing":{
      "name":"AssociateWirelessDeviceWithThing",
      "http":{
        "method":"PUT",
        "requestUri":"/wireless-devices/{Id}/thing",
        "responseCode":204
      },
      "input":{"shape":"AssociateWirelessDeviceWithThingRequest"},
      "output":{"shape":"AssociateWirelessDeviceWithThingResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Associates a wireless device with a thing.</p>"
    },
    "AssociateWirelessGatewayWithCertificate":{
      "name":"AssociateWirelessGatewayWithCertificate",
      "http":{
        "method":"PUT",
        "requestUri":"/wireless-gateways/{Id}/certificate"
      },
      "input":{"shape":"AssociateWirelessGatewayWithCertificateRequest"},
      "output":{"shape":"AssociateWirelessGatewayWithCertificateResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Associates a wireless gateway with a certificate.</p>"
    },
    "AssociateWirelessGatewayWithThing":{
      "name":"AssociateWirelessGatewayWithThing",
      "http":{
        "method":"PUT",
        "requestUri":"/wireless-gateways/{Id}/thing",
        "responseCode":204
      },
      "input":{"shape":"AssociateWirelessGatewayWithThingRequest"},
      "output":{"shape":"AssociateWirelessGatewayWithThingResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Associates a wireless gateway with a thing.</p>"
    },
    "CancelMulticastGroupSession":{
      "name":"CancelMulticastGroupSession",
      "http":{
        "method":"DELETE",
        "requestUri":"/multicast-groups/{Id}/session",
        "responseCode":204
      },
      "input":{"shape":"CancelMulticastGroupSessionRequest"},
      "output":{"shape":"CancelMulticastGroupSessionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Cancels an existing multicast group session.</p>"
    },
    "CreateDestination":{
      "name":"CreateDestination",
      "http":{
        "method":"POST",
        "requestUri":"/destinations",
        "responseCode":201
      },
      "input":{"shape":"CreateDestinationRequest"},
      "output":{"shape":"CreateDestinationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a new destination that maps a device message to an AWS IoT rule.</p>"
    },
    "CreateDeviceProfile":{
      "name":"CreateDeviceProfile",
      "http":{
        "method":"POST",
        "requestUri":"/device-profiles",
        "responseCode":201
      },
      "input":{"shape":"CreateDeviceProfileRequest"},
      "output":{"shape":"CreateDeviceProfileResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a new device profile.</p>"
    },
    "CreateFuotaTask":{
      "name":"CreateFuotaTask",
      "http":{
        "method":"POST",
        "requestUri":"/fuota-tasks",
        "responseCode":201
      },
      "input":{"shape":"CreateFuotaTaskRequest"},
      "output":{"shape":"CreateFuotaTaskResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a FUOTA task.</p>"
    },
    "CreateMulticastGroup":{
      "name":"CreateMulticastGroup",
      "http":{
        "method":"POST",
        "requestUri":"/multicast-groups",
        "responseCode":201
      },
      "input":{"shape":"CreateMulticastGroupRequest"},
      "output":{"shape":"CreateMulticastGroupResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a multicast group.</p>"
    },
    "CreateNetworkAnalyzerConfiguration":{
      "name":"CreateNetworkAnalyzerConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/network-analyzer-configurations",
        "responseCode":201
      },
      "input":{"shape":"CreateNetworkAnalyzerConfigurationRequest"},
      "output":{"shape":"CreateNetworkAnalyzerConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a new network analyzer configuration.</p>"
    },
    "CreateServiceProfile":{
      "name":"CreateServiceProfile",
      "http":{
        "method":"POST",
        "requestUri":"/service-profiles",
        "responseCode":201
      },
      "input":{"shape":"CreateServiceProfileRequest"},
      "output":{"shape":"CreateServiceProfileResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a new service profile.</p>"
    },
    "CreateWirelessDevice":{
      "name":"CreateWirelessDevice",
      "http":{
        "method":"POST",
        "requestUri":"/wireless-devices",
        "responseCode":201
      },
      "input":{"shape":"CreateWirelessDeviceRequest"},
      "output":{"shape":"CreateWirelessDeviceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Provisions a wireless device.</p>"
    },
    "CreateWirelessGateway":{
      "name":"CreateWirelessGateway",
      "http":{
        "method":"POST",
        "requestUri":"/wireless-gateways",
        "responseCode":201
      },
      "input":{"shape":"CreateWirelessGatewayRequest"},
      "output":{"shape":"CreateWirelessGatewayResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Provisions a wireless gateway.</p> <note> <p>When provisioning a wireless gateway, you might run into duplication errors for the following reasons.</p> <ul> <li> <p>If you specify a <code>GatewayEui</code> value that already exists.</p> </li> <li> <p>If you used a <code>ClientRequestToken</code> with the same parameters within the last 10 minutes.</p> </li> </ul> <p>To avoid this error, make sure that you use unique identifiers and parameters for each request within the specified time period.</p> </note>"
    },
    "CreateWirelessGatewayTask":{
      "name":"CreateWirelessGatewayTask",
      "http":{
        "method":"POST",
        "requestUri":"/wireless-gateways/{Id}/tasks",
        "responseCode":201
      },
      "input":{"shape":"CreateWirelessGatewayTaskRequest"},
      "output":{"shape":"CreateWirelessGatewayTaskResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a task for a wireless gateway.</p>"
    },
    "CreateWirelessGatewayTaskDefinition":{
      "name":"CreateWirelessGatewayTaskDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/wireless-gateway-task-definitions",
        "responseCode":201
      },
      "input":{"shape":"CreateWirelessGatewayTaskDefinitionRequest"},
      "output":{"shape":"CreateWirelessGatewayTaskDefinitionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a gateway task definition.</p>"
    },
    "DeleteDestination":{
      "name":"DeleteDestination",
      "http":{
        "method":"DELETE",
        "requestUri":"/destinations/{Name}",
        "responseCode":204
      },
      "input":{"shape":"DeleteDestinationRequest"},
      "output":{"shape":"DeleteDestinationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a destination.</p>"
    },
    "DeleteDeviceProfile":{
      "name":"DeleteDeviceProfile",
      "http":{
        "method":"DELETE",
        "requestUri":"/device-profiles/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteDeviceProfileRequest"},
      "output":{"shape":"DeleteDeviceProfileResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a device profile.</p>"
    },
    "DeleteFuotaTask":{
      "name":"DeleteFuotaTask",
      "http":{
        "method":"DELETE",
        "requestUri":"/fuota-tasks/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteFuotaTaskRequest"},
      "output":{"shape":"DeleteFuotaTaskResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a FUOTA task.</p>"
    },
    "DeleteMulticastGroup":{
      "name":"DeleteMulticastGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/multicast-groups/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteMulticastGroupRequest"},
      "output":{"shape":"DeleteMulticastGroupResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a multicast group if it is not in use by a FUOTA task.</p>"
    },
    "DeleteNetworkAnalyzerConfiguration":{
      "name":"DeleteNetworkAnalyzerConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/network-analyzer-configurations/{ConfigurationName}",
        "responseCode":204
      },
      "input":{"shape":"DeleteNetworkAnalyzerConfigurationRequest"},
      "output":{"shape":"DeleteNetworkAnalyzerConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a network analyzer configuration.</p>"
    },
    "DeleteQueuedMessages":{
      "name":"DeleteQueuedMessages",
      "http":{
        "method":"DELETE",
        "requestUri":"/wireless-devices/{Id}/data",
        "responseCode":204
      },
      "input":{"shape":"DeleteQueuedMessagesRequest"},
      "output":{"shape":"DeleteQueuedMessagesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Remove queued messages from the downlink queue.</p>"
    },
    "DeleteServiceProfile":{
      "name":"DeleteServiceProfile",
      "http":{
        "method":"DELETE",
        "requestUri":"/service-profiles/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteServiceProfileRequest"},
      "output":{"shape":"DeleteServiceProfileResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a service profile.</p>"
    },
    "DeleteWirelessDevice":{
      "name":"DeleteWirelessDevice",
      "http":{
        "method":"DELETE",
        "requestUri":"/wireless-devices/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteWirelessDeviceRequest"},
      "output":{"shape":"DeleteWirelessDeviceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a wireless device.</p>"
    },
    "DeleteWirelessDeviceImportTask":{
      "name":"DeleteWirelessDeviceImportTask",
      "http":{
        "method":"DELETE",
        "requestUri":"/wireless_device_import_task/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteWirelessDeviceImportTaskRequest"},
      "output":{"shape":"DeleteWirelessDeviceImportTaskResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Delete an import task.</p>"
    },
    "DeleteWirelessGateway":{
      "name":"DeleteWirelessGateway",
      "http":{
        "method":"DELETE",
        "requestUri":"/wireless-gateways/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteWirelessGatewayRequest"},
      "output":{"shape":"DeleteWirelessGatewayResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a wireless gateway.</p> <note> <p>When deleting a wireless gateway, you might run into duplication errors for the following reasons.</p> <ul> <li> <p>If you specify a <code>GatewayEui</code> value that already exists.</p> </li> <li> <p>If you used a <code>ClientRequestToken</code> with the same parameters within the last 10 minutes.</p> </li> </ul> <p>To avoid this error, make sure that you use unique identifiers and parameters for each request within the specified time period.</p> </note>"
    },
    "DeleteWirelessGatewayTask":{
      "name":"DeleteWirelessGatewayTask",
      "http":{
        "method":"DELETE",
        "requestUri":"/wireless-gateways/{Id}/tasks",
        "responseCode":204
      },
      "input":{"shape":"DeleteWirelessGatewayTaskRequest"},
      "output":{"shape":"DeleteWirelessGatewayTaskResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a wireless gateway task.</p>"
    },
    "DeleteWirelessGatewayTaskDefinition":{
      "name":"DeleteWirelessGatewayTaskDefinition",
      "http":{
        "method":"DELETE",
        "requestUri":"/wireless-gateway-task-definitions/{Id}",
        "responseCode":204
      },
      "input":{"shape":"DeleteWirelessGatewayTaskDefinitionRequest"},
      "output":{"shape":"DeleteWirelessGatewayTaskDefinitionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deletes a wireless gateway task definition. Deleting this task definition does not affect tasks that are currently in progress.</p>"
    },
    "DeregisterWirelessDevice":{
      "name":"DeregisterWirelessDevice",
      "http":{
        "method":"PATCH",
        "requestUri":"/wireless-devices/{Identifier}/deregister"
      },
      "input":{"shape":"DeregisterWirelessDeviceRequest"},
      "output":{"shape":"DeregisterWirelessDeviceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Deregister a wireless device from AWS IoT Wireless.</p>"
    },
    "DisassociateAwsAccountFromPartnerAccount":{
      "name":"DisassociateAwsAccountFromPartnerAccount",
      "http":{
        "method":"DELETE",
        "requestUri":"/partner-accounts/{PartnerAccountId}",
        "responseCode":204
      },
      "input":{"shape":"DisassociateAwsAccountFromPartnerAccountRequest"},
      "output":{"shape":"DisassociateAwsAccountFromPartnerAccountResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Disassociates your AWS account from a partner account. If <code>PartnerAccountId</code> and <code>PartnerType</code> are <code>null</code>, disassociates your AWS account from all partner accounts.</p>"
    },
    "DisassociateMulticastGroupFromFuotaTask":{
      "name":"DisassociateMulticastGroupFromFuotaTask",
      "http":{
        "method":"DELETE",
        "requestUri":"/fuota-tasks/{Id}/multicast-groups/{MulticastGroupId}",
        "responseCode":204
      },
      "input":{"shape":"DisassociateMulticastGroupFromFuotaTaskRequest"},
      "output":{"shape":"DisassociateMulticastGroupFromFuotaTaskResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Disassociates a multicast group from a FUOTA task.</p>"
    },
    "DisassociateWirelessDeviceFromFuotaTask":{
      "name":"DisassociateWirelessDeviceFromFuotaTask",
      "http":{
        "method":"DELETE",
        "requestUri":"/fuota-tasks/{Id}/wireless-devices/{WirelessDeviceId}",
        "responseCode":204
      },
      "input":{"shape":"DisassociateWirelessDeviceFromFuotaTaskRequest"},
      "output":{"shape":"DisassociateWirelessDeviceFromFuotaTaskResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Disassociates a wireless device from a FUOTA task.</p>"
    },
    "DisassociateWirelessDeviceFromMulticastGroup":{
      "name":"DisassociateWirelessDeviceFromMulticastGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/multicast-groups/{Id}/wireless-devices/{WirelessDeviceId}",
        "responseCode":204
      },
      "input":{"shape":"DisassociateWirelessDeviceFromMulticastGroupRequest"},
      "output":{"shape":"DisassociateWirelessDeviceFromMulticastGroupResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Disassociates a wireless device from a multicast group.</p>"
    },
    "DisassociateWirelessDeviceFromThing":{
      "name":"DisassociateWirelessDeviceFromThing",
      "http":{
        "method":"DELETE",
        "requestUri":"/wireless-devices/{Id}/thing",
        "responseCode":204
      },
      "input":{"shape":"DisassociateWirelessDeviceFromThingRequest"},
      "output":{"shape":"DisassociateWirelessDeviceFromThingResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Disassociates a wireless device from its currently associated thing.</p>"
    },
    "DisassociateWirelessGatewayFromCertificate":{
      "name":"DisassociateWirelessGatewayFromCertificate",
      "http":{
        "method":"DELETE",
        "requestUri":"/wireless-gateways/{Id}/certificate",
        "responseCode":204
      },
      "input":{"shape":"DisassociateWirelessGatewayFromCertificateRequest"},
      "output":{"shape":"DisassociateWirelessGatewayFromCertificateResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Disassociates a wireless gateway from its currently associated certificate.</p>"
    },
    "DisassociateWirelessGatewayFromThing":{
      "name":"DisassociateWirelessGatewayFromThing",
      "http":{
        "method":"DELETE",
        "requestUri":"/wireless-gateways/{Id}/thing",
        "responseCode":204
      },
      "input":{"shape":"DisassociateWirelessGatewayFromThingRequest"},
      "output":{"shape":"DisassociateWirelessGatewayFromThingResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Disassociates a wireless gateway from its currently associated thing.</p>"
    },
    "GetDestination":{
      "name":"GetDestination",
      "http":{
        "method":"GET",
        "requestUri":"/destinations/{Name}"
      },
      "input":{"shape":"GetDestinationRequest"},
      "output":{"shape":"GetDestinationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets information about a destination.</p>"
    },
    "GetDeviceProfile":{
      "name":"GetDeviceProfile",
      "http":{
        "method":"GET",
        "requestUri":"/device-profiles/{Id}"
      },
      "input":{"shape":"GetDeviceProfileRequest"},
      "output":{"shape":"GetDeviceProfileResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets information about a device profile.</p>"
    },
    "GetEventConfigurationByResourceTypes":{
      "name":"GetEventConfigurationByResourceTypes",
      "http":{
        "method":"GET",
        "requestUri":"/event-configurations-resource-types"
      },
      "input":{"shape":"GetEventConfigurationByResourceTypesRequest"},
      "output":{"shape":"GetEventConfigurationByResourceTypesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Get the event configuration based on resource types.</p>"
    },
    "GetFuotaTask":{
      "name":"GetFuotaTask",
      "http":{
        "method":"GET",
        "requestUri":"/fuota-tasks/{Id}"
      },
      "input":{"shape":"GetFuotaTaskRequest"},
      "output":{"shape":"GetFuotaTaskResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets information about a FUOTA task.</p>"
    },
    "GetLogLevelsByResourceTypes":{
      "name":"GetLogLevelsByResourceTypes",
      "http":{
        "method":"GET",
        "requestUri":"/log-levels",
        "responseCode":200
      },
      "input":{"shape":"GetLogLevelsByResourceTypesRequest"},
      "output":{"shape":"GetLogLevelsByResourceTypesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Returns current default log levels or log levels by resource types. Based on the resource type, log levels can be returned for wireless device, wireless gateway, or FUOTA task log options.</p>"
    },
    "GetMetricConfiguration":{
      "name":"GetMetricConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/metric-configuration",
        "responseCode":200
      },
      "input":{"shape":"GetMetricConfigurationRequest"},
      "output":{"shape":"GetMetricConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get the metric configuration status for this AWS account.</p>"
    },
    "GetMetrics":{
      "name":"GetMetrics",
      "http":{
        "method":"POST",
        "requestUri":"/metrics"
      },
      "input":{"shape":"GetMetricsRequest"},
      "output":{"shape":"GetMetricsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get the summary metrics for this AWS account.</p>"
    },
    "GetMulticastGroup":{
      "name":"GetMulticastGroup",
      "http":{
        "method":"GET",
        "requestUri":"/multicast-groups/{Id}"
      },
      "input":{"shape":"GetMulticastGroupRequest"},
      "output":{"shape":"GetMulticastGroupResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets information about a multicast group.</p>"
    },
    "GetMulticastGroupSession":{
      "name":"GetMulticastGroupSession",
      "http":{
        "method":"GET",
        "requestUri":"/multicast-groups/{Id}/session"
      },
      "input":{"shape":"GetMulticastGroupSessionRequest"},
      "output":{"shape":"GetMulticastGroupSessionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets information about a multicast group session.</p>"
    },
    "GetNetworkAnalyzerConfiguration":{
      "name":"GetNetworkAnalyzerConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/network-analyzer-configurations/{ConfigurationName}",
        "responseCode":200
      },
      "input":{"shape":"GetNetworkAnalyzerConfigurationRequest"},
      "output":{"shape":"GetNetworkAnalyzerConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get network analyzer configuration.</p>"
    },
    "GetPartnerAccount":{
      "name":"GetPartnerAccount",
      "http":{
        "method":"GET",
        "requestUri":"/partner-accounts/{PartnerAccountId}"
      },
      "input":{"shape":"GetPartnerAccountRequest"},
      "output":{"shape":"GetPartnerAccountResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets information about a partner account. If <code>PartnerAccountId</code> and <code>PartnerType</code> are <code>null</code>, returns all partner accounts.</p>"
    },
    "GetPosition":{
      "name":"GetPosition",
      "http":{
        "method":"GET",
        "requestUri":"/positions/{ResourceIdentifier}"
      },
      "input":{"shape":"GetPositionRequest"},
      "output":{"shape":"GetPositionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Get the position information for a given resource.</p> <important> <p>This action is no longer supported. Calls to retrieve the position information should use the <a href=\"https://docs.aws.amazon.com/iot-wireless/2020-11-22/apireference/API_GetResourcePosition.html\">GetResourcePosition</a> API operation instead.</p> </important>",
      "deprecated":true,
      "deprecatedMessage":"This operation is no longer supported."
    },
    "GetPositionConfiguration":{
      "name":"GetPositionConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/position-configurations/{ResourceIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetPositionConfigurationRequest"},
      "output":{"shape":"GetPositionConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Get position configuration for a given resource.</p> <important> <p>This action is no longer supported. Calls to retrieve the position configuration should use the <a href=\"https://docs.aws.amazon.com/iot-wireless/2020-11-22/apireference/API_GetResourcePosition.html\">GetResourcePosition</a> API operation instead.</p> </important>",
      "deprecated":true,
      "deprecatedMessage":"This operation is no longer supported."
    },
    "GetPositionEstimate":{
      "name":"GetPositionEstimate",
      "http":{
        "method":"POST",
        "requestUri":"/position-estimate"
      },
      "input":{"shape":"GetPositionEstimateRequest"},
      "output":{"shape":"GetPositionEstimateResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Get estimated position information as a payload in GeoJSON format. The payload measurement data is resolved using solvers that are provided by third-party vendors.</p>"
    },
    "GetResourceEventConfiguration":{
      "name":"GetResourceEventConfiguration",
      "http":{
        "method":"GET",
        "requestUri":"/event-configurations/{Identifier}"
      },
      "input":{"shape":"GetResourceEventConfigurationRequest"},
      "output":{"shape":"GetResourceEventConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Get the event configuration for a particular resource identifier.</p>"
    },
    "GetResourceLogLevel":{
      "name":"GetResourceLogLevel",
      "http":{
        "method":"GET",
        "requestUri":"/log-levels/{ResourceIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"GetResourceLogLevelRequest"},
      "output":{"shape":"GetResourceLogLevelResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Fetches the log-level override, if any, for a given resource ID and resource type..</p>"
    },
    "GetResourcePosition":{
      "name":"GetResourcePosition",
      "http":{
        "method":"GET",
        "requestUri":"/resource-positions/{ResourceIdentifier}"
      },
      "input":{"shape":"GetResourcePositionRequest"},
      "output":{"shape":"GetResourcePositionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Get the position information for a given wireless device or a wireless gateway resource. The position information uses the <a href=\"https://gisgeography.com/wgs84-world-geodetic-system/\"> World Geodetic System (WGS84)</a>.</p>"
    },
    "GetServiceEndpoint":{
      "name":"GetServiceEndpoint",
      "http":{
        "method":"GET",
        "requestUri":"/service-endpoint"
      },
      "input":{"shape":"GetServiceEndpointRequest"},
      "output":{"shape":"GetServiceEndpointResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets the account-specific endpoint for Configuration and Update Server (CUPS) protocol or LoRaWAN Network Server (LNS) connections.</p>"
    },
    "GetServiceProfile":{
      "name":"GetServiceProfile",
      "http":{
        "method":"GET",
        "requestUri":"/service-profiles/{Id}"
      },
      "input":{"shape":"GetServiceProfileRequest"},
      "output":{"shape":"GetServiceProfileResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets information about a service profile.</p>"
    },
    "GetWirelessDevice":{
      "name":"GetWirelessDevice",
      "http":{
        "method":"GET",
        "requestUri":"/wireless-devices/{Identifier}"
      },
      "input":{"shape":"GetWirelessDeviceRequest"},
      "output":{"shape":"GetWirelessDeviceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets information about a wireless device.</p>"
    },
    "GetWirelessDeviceImportTask":{
      "name":"GetWirelessDeviceImportTask",
      "http":{
        "method":"GET",
        "requestUri":"/wireless_device_import_task/{Id}"
      },
      "input":{"shape":"GetWirelessDeviceImportTaskRequest"},
      "output":{"shape":"GetWirelessDeviceImportTaskResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Get information about an import task and count of device onboarding summary information for the import task.</p>"
    },
    "GetWirelessDeviceStatistics":{
      "name":"GetWirelessDeviceStatistics",
      "http":{
        "method":"GET",
        "requestUri":"/wireless-devices/{Id}/statistics",
        "responseCode":200
      },
      "input":{"shape":"GetWirelessDeviceStatisticsRequest"},
      "output":{"shape":"GetWirelessDeviceStatisticsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets operating information about a wireless device.</p>"
    },
    "GetWirelessGateway":{
      "name":"GetWirelessGateway",
      "http":{
        "method":"GET",
        "requestUri":"/wireless-gateways/{Identifier}"
      },
      "input":{"shape":"GetWirelessGatewayRequest"},
      "output":{"shape":"GetWirelessGatewayResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets information about a wireless gateway.</p>"
    },
    "GetWirelessGatewayCertificate":{
      "name":"GetWirelessGatewayCertificate",
      "http":{
        "method":"GET",
        "requestUri":"/wireless-gateways/{Id}/certificate"
      },
      "input":{"shape":"GetWirelessGatewayCertificateRequest"},
      "output":{"shape":"GetWirelessGatewayCertificateResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets the ID of the certificate that is currently associated with a wireless gateway.</p>"
    },
    "GetWirelessGatewayFirmwareInformation":{
      "name":"GetWirelessGatewayFirmwareInformation",
      "http":{
        "method":"GET",
        "requestUri":"/wireless-gateways/{Id}/firmware-information"
      },
      "input":{"shape":"GetWirelessGatewayFirmwareInformationRequest"},
      "output":{"shape":"GetWirelessGatewayFirmwareInformationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets the firmware version and other information about a wireless gateway.</p>"
    },
    "GetWirelessGatewayStatistics":{
      "name":"GetWirelessGatewayStatistics",
      "http":{
        "method":"GET",
        "requestUri":"/wireless-gateways/{Id}/statistics",
        "responseCode":200
      },
      "input":{"shape":"GetWirelessGatewayStatisticsRequest"},
      "output":{"shape":"GetWirelessGatewayStatisticsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets operating information about a wireless gateway.</p>"
    },
    "GetWirelessGatewayTask":{
      "name":"GetWirelessGatewayTask",
      "http":{
        "method":"GET",
        "requestUri":"/wireless-gateways/{Id}/tasks"
      },
      "input":{"shape":"GetWirelessGatewayTaskRequest"},
      "output":{"shape":"GetWirelessGatewayTaskResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets information about a wireless gateway task.</p>"
    },
    "GetWirelessGatewayTaskDefinition":{
      "name":"GetWirelessGatewayTaskDefinition",
      "http":{
        "method":"GET",
        "requestUri":"/wireless-gateway-task-definitions/{Id}"
      },
      "input":{"shape":"GetWirelessGatewayTaskDefinitionRequest"},
      "output":{"shape":"GetWirelessGatewayTaskDefinitionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Gets information about a wireless gateway task definition.</p>"
    },
    "ListDestinations":{
      "name":"ListDestinations",
      "http":{
        "method":"GET",
        "requestUri":"/destinations"
      },
      "input":{"shape":"ListDestinationsRequest"},
      "output":{"shape":"ListDestinationsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists the destinations registered to your AWS account.</p>"
    },
    "ListDeviceProfiles":{
      "name":"ListDeviceProfiles",
      "http":{
        "method":"GET",
        "requestUri":"/device-profiles"
      },
      "input":{"shape":"ListDeviceProfilesRequest"},
      "output":{"shape":"ListDeviceProfilesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists the device profiles registered to your AWS account.</p>"
    },
    "ListDevicesForWirelessDeviceImportTask":{
      "name":"ListDevicesForWirelessDeviceImportTask",
      "http":{
        "method":"GET",
        "requestUri":"/wireless_device_import_task"
      },
      "input":{"shape":"ListDevicesForWirelessDeviceImportTaskRequest"},
      "output":{"shape":"ListDevicesForWirelessDeviceImportTaskResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List the Sidewalk devices in an import task and their onboarding status.</p>"
    },
    "ListEventConfigurations":{
      "name":"ListEventConfigurations",
      "http":{
        "method":"GET",
        "requestUri":"/event-configurations"
      },
      "input":{"shape":"ListEventConfigurationsRequest"},
      "output":{"shape":"ListEventConfigurationsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>List event configurations where at least one event topic has been enabled.</p>"
    },
    "ListFuotaTasks":{
      "name":"ListFuotaTasks",
      "http":{
        "method":"GET",
        "requestUri":"/fuota-tasks"
      },
      "input":{"shape":"ListFuotaTasksRequest"},
      "output":{"shape":"ListFuotaTasksResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists the FUOTA tasks registered to your AWS account.</p>"
    },
    "ListMulticastGroups":{
      "name":"ListMulticastGroups",
      "http":{
        "method":"GET",
        "requestUri":"/multicast-groups"
      },
      "input":{"shape":"ListMulticastGroupsRequest"},
      "output":{"shape":"ListMulticastGroupsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists the multicast groups registered to your AWS account.</p>"
    },
    "ListMulticastGroupsByFuotaTask":{
      "name":"ListMulticastGroupsByFuotaTask",
      "http":{
        "method":"GET",
        "requestUri":"/fuota-tasks/{Id}/multicast-groups"
      },
      "input":{"shape":"ListMulticastGroupsByFuotaTaskRequest"},
      "output":{"shape":"ListMulticastGroupsByFuotaTaskResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List all multicast groups associated with a FUOTA task.</p>"
    },
    "ListNetworkAnalyzerConfigurations":{
      "name":"ListNetworkAnalyzerConfigurations",
      "http":{
        "method":"GET",
        "requestUri":"/network-analyzer-configurations"
      },
      "input":{"shape":"ListNetworkAnalyzerConfigurationsRequest"},
      "output":{"shape":"ListNetworkAnalyzerConfigurationsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists the network analyzer configurations.</p>"
    },
    "ListPartnerAccounts":{
      "name":"ListPartnerAccounts",
      "http":{
        "method":"GET",
        "requestUri":"/partner-accounts"
      },
      "input":{"shape":"ListPartnerAccountsRequest"},
      "output":{"shape":"ListPartnerAccountsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists the partner accounts associated with your AWS account.</p>"
    },
    "ListPositionConfigurations":{
      "name":"ListPositionConfigurations",
      "http":{
        "method":"GET",
        "requestUri":"/position-configurations",
        "responseCode":200
      },
      "input":{"shape":"ListPositionConfigurationsRequest"},
      "output":{"shape":"ListPositionConfigurationsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>List position configurations for a given resource, such as positioning solvers.</p> <important> <p>This action is no longer supported. Calls to retrieve position information should use the <a href=\"https://docs.aws.amazon.com/iot-wireless/2020-11-22/apireference/API_GetResourcePosition.html\">GetResourcePosition</a> API operation instead.</p> </important>",
      "deprecated":true,
      "deprecatedMessage":"This operation is no longer supported."
    },
    "ListQueuedMessages":{
      "name":"ListQueuedMessages",
      "http":{
        "method":"GET",
        "requestUri":"/wireless-devices/{Id}/data"
      },
      "input":{"shape":"ListQueuedMessagesRequest"},
      "output":{"shape":"ListQueuedMessagesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>List queued messages in the downlink queue.</p>"
    },
    "ListServiceProfiles":{
      "name":"ListServiceProfiles",
      "http":{
        "method":"GET",
        "requestUri":"/service-profiles"
      },
      "input":{"shape":"ListServiceProfilesRequest"},
      "output":{"shape":"ListServiceProfilesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists the service profiles registered to your AWS account.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists the tags (metadata) you have assigned to the resource.</p>"
    },
    "ListWirelessDeviceImportTasks":{
      "name":"ListWirelessDeviceImportTasks",
      "http":{
        "method":"GET",
        "requestUri":"/wireless_device_import_tasks"
      },
      "input":{"shape":"ListWirelessDeviceImportTasksRequest"},
      "output":{"shape":"ListWirelessDeviceImportTasksResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List wireless devices that have been added to an import task.</p>"
    },
    "ListWirelessDevices":{
      "name":"ListWirelessDevices",
      "http":{
        "method":"GET",
        "requestUri":"/wireless-devices"
      },
      "input":{"shape":"ListWirelessDevicesRequest"},
      "output":{"shape":"ListWirelessDevicesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists the wireless devices registered to your AWS account.</p>"
    },
    "ListWirelessGatewayTaskDefinitions":{
      "name":"ListWirelessGatewayTaskDefinitions",
      "http":{
        "method":"GET",
        "requestUri":"/wireless-gateway-task-definitions"
      },
      "input":{"shape":"ListWirelessGatewayTaskDefinitionsRequest"},
      "output":{"shape":"ListWirelessGatewayTaskDefinitionsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>List the wireless gateway tasks definitions registered to your AWS account.</p>"
    },
    "ListWirelessGateways":{
      "name":"ListWirelessGateways",
      "http":{
        "method":"GET",
        "requestUri":"/wireless-gateways"
      },
      "input":{"shape":"ListWirelessGatewaysRequest"},
      "output":{"shape":"ListWirelessGatewaysResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"}
      ],
      "documentation":"<p>Lists the wireless gateways registered to your AWS account.</p>"
    },
    "PutPositionConfiguration":{
      "name":"PutPositionConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/position-configurations/{ResourceIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"PutPositionConfigurationRequest"},
      "output":{"shape":"PutPositionConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Put position configuration for a given resource.</p> <important> <p>This action is no longer supported. Calls to update the position configuration should use the <a href=\"https://docs.aws.amazon.com/iot-wireless/2020-11-22/apireference/API_UpdateResourcePosition.html\">UpdateResourcePosition</a> API operation instead.</p> </important>",
      "deprecated":true,
      "deprecatedMessage":"This operation is no longer supported."
    },
    "PutResourceLogLevel":{
      "name":"PutResourceLogLevel",
      "http":{
        "method":"PUT",
        "requestUri":"/log-levels/{ResourceIdentifier}",
        "responseCode":200
      },
      "input":{"shape":"PutResourceLogLevelRequest"},
      "output":{"shape":"PutResourceLogLevelResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Sets the log-level override for a resource ID and resource type. A limit of 200 log level override can be set per account.</p>"
    },
    "ResetAllResourceLogLevels":{
      "name":"ResetAllResourceLogLevels",
      "http":{
        "method":"DELETE",
        "requestUri":"/log-levels",
        "responseCode":204
      },
      "input":{"shape":"ResetAllResourceLogLevelsRequest"},
      "output":{"shape":"ResetAllResourceLogLevelsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Removes the log-level overrides for all resources; wireless devices, wireless gateways, and FUOTA tasks.</p>"
    },
    "ResetResourceLogLevel":{
      "name":"ResetResourceLogLevel",
      "http":{
        "method":"DELETE",
        "requestUri":"/log-levels/{ResourceIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"ResetResourceLogLevelRequest"},
      "output":{"shape":"ResetResourceLogLevelResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Removes the log-level override, if any, for a specific resource ID and resource type. It can be used for a wireless device, a wireless gateway, or a FUOTA task.</p>"
    },
    "SendDataToMulticastGroup":{
      "name":"SendDataToMulticastGroup",
      "http":{
        "method":"POST",
        "requestUri":"/multicast-groups/{Id}/data",
        "responseCode":201
      },
      "input":{"shape":"SendDataToMulticastGroupRequest"},
      "output":{"shape":"SendDataToMulticastGroupResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Sends the specified data to a multicast group.</p>"
    },
    "SendDataToWirelessDevice":{
      "name":"SendDataToWirelessDevice",
      "http":{
        "method":"POST",
        "requestUri":"/wireless-devices/{Id}/data",
        "responseCode":202
      },
      "input":{"shape":"SendDataToWirelessDeviceRequest"},
      "output":{"shape":"SendDataToWirelessDeviceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Sends a decrypted application data frame to a device.</p>"
    },
    "StartBulkAssociateWirelessDeviceWithMulticastGroup":{
      "name":"StartBulkAssociateWirelessDeviceWithMulticastGroup",
      "http":{
        "method":"PATCH",
        "requestUri":"/multicast-groups/{Id}/bulk",
        "responseCode":204
      },
      "input":{"shape":"StartBulkAssociateWirelessDeviceWithMulticastGroupRequest"},
      "output":{"shape":"StartBulkAssociateWirelessDeviceWithMulticastGroupResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Starts a bulk association of all qualifying wireless devices with a multicast group.</p>"
    },
    "StartBulkDisassociateWirelessDeviceFromMulticastGroup":{
      "name":"StartBulkDisassociateWirelessDeviceFromMulticastGroup",
      "http":{
        "method":"POST",
        "requestUri":"/multicast-groups/{Id}/bulk",
        "responseCode":204
      },
      "input":{"shape":"StartBulkDisassociateWirelessDeviceFromMulticastGroupRequest"},
      "output":{"shape":"StartBulkDisassociateWirelessDeviceFromMulticastGroupResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Starts a bulk disassociatin of all qualifying wireless devices from a multicast group.</p>"
    },
    "StartFuotaTask":{
      "name":"StartFuotaTask",
      "http":{
        "method":"PUT",
        "requestUri":"/fuota-tasks/{Id}",
        "responseCode":204
      },
      "input":{"shape":"StartFuotaTaskRequest"},
      "output":{"shape":"StartFuotaTaskResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Starts a FUOTA task.</p>"
    },
    "StartMulticastGroupSession":{
      "name":"StartMulticastGroupSession",
      "http":{
        "method":"PUT",
        "requestUri":"/multicast-groups/{Id}/session",
        "responseCode":204
      },
      "input":{"shape":"StartMulticastGroupSessionRequest"},
      "output":{"shape":"StartMulticastGroupSessionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Starts a multicast group session.</p>"
    },
    "StartSingleWirelessDeviceImportTask":{
      "name":"StartSingleWirelessDeviceImportTask",
      "http":{
        "method":"POST",
        "requestUri":"/wireless_single_device_import_task",
        "responseCode":201
      },
      "input":{"shape":"StartSingleWirelessDeviceImportTaskRequest"},
      "output":{"shape":"StartSingleWirelessDeviceImportTaskResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Start import task for a single wireless device.</p>"
    },
    "StartWirelessDeviceImportTask":{
      "name":"StartWirelessDeviceImportTask",
      "http":{
        "method":"POST",
        "requestUri":"/wireless_device_import_task",
        "responseCode":201
      },
      "input":{"shape":"StartWirelessDeviceImportTaskRequest"},
      "output":{"shape":"StartWirelessDeviceImportTaskResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Start import task for provisioning Sidewalk devices in bulk using an S3 CSV file.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags",
        "responseCode":204
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"},
        {"shape":"TooManyTagsException"}
      ],
      "documentation":"<p>Adds a tag to a resource.</p>"
    },
    "TestWirelessDevice":{
      "name":"TestWirelessDevice",
      "http":{
        "method":"POST",
        "requestUri":"/wireless-devices/{Id}/test",
        "responseCode":200
      },
      "input":{"shape":"TestWirelessDeviceRequest"},
      "output":{"shape":"TestWirelessDeviceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Simulates a provisioned device by sending an uplink data payload of <code>Hello</code>.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags",
        "responseCode":204
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Removes one or more tags from a resource.</p>"
    },
    "UpdateDestination":{
      "name":"UpdateDestination",
      "http":{
        "method":"PATCH",
        "requestUri":"/destinations/{Name}",
        "responseCode":204
      },
      "input":{"shape":"UpdateDestinationRequest"},
      "output":{"shape":"UpdateDestinationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates properties of a destination.</p>"
    },
    "UpdateEventConfigurationByResourceTypes":{
      "name":"UpdateEventConfigurationByResourceTypes",
      "http":{
        "method":"PATCH",
        "requestUri":"/event-configurations-resource-types",
        "responseCode":204
      },
      "input":{"shape":"UpdateEventConfigurationByResourceTypesRequest"},
      "output":{"shape":"UpdateEventConfigurationByResourceTypesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Update the event configuration based on resource types.</p>"
    },
    "UpdateFuotaTask":{
      "name":"UpdateFuotaTask",
      "http":{
        "method":"PATCH",
        "requestUri":"/fuota-tasks/{Id}",
        "responseCode":204
      },
      "input":{"shape":"UpdateFuotaTaskRequest"},
      "output":{"shape":"UpdateFuotaTaskResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates properties of a FUOTA task.</p>"
    },
    "UpdateLogLevelsByResourceTypes":{
      "name":"UpdateLogLevelsByResourceTypes",
      "http":{
        "method":"POST",
        "requestUri":"/log-levels",
        "responseCode":200
      },
      "input":{"shape":"UpdateLogLevelsByResourceTypesRequest"},
      "output":{"shape":"UpdateLogLevelsByResourceTypesResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Set default log level, or log levels by resource types. This can be for wireless device, wireless gateway, or FUOTA task log options, and is used to control the log messages that'll be displayed in CloudWatch.</p>"
    },
    "UpdateMetricConfiguration":{
      "name":"UpdateMetricConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/metric-configuration",
        "responseCode":204
      },
      "input":{"shape":"UpdateMetricConfigurationRequest"},
      "output":{"shape":"UpdateMetricConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update the summary metric configuration.</p>",
      "idempotent":true
    },
    "UpdateMulticastGroup":{
      "name":"UpdateMulticastGroup",
      "http":{
        "method":"PATCH",
        "requestUri":"/multicast-groups/{Id}",
        "responseCode":204
      },
      "input":{"shape":"UpdateMulticastGroupRequest"},
      "output":{"shape":"UpdateMulticastGroupResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates properties of a multicast group session.</p>"
    },
    "UpdateNetworkAnalyzerConfiguration":{
      "name":"UpdateNetworkAnalyzerConfiguration",
      "http":{
        "method":"PATCH",
        "requestUri":"/network-analyzer-configurations/{ConfigurationName}",
        "responseCode":204
      },
      "input":{"shape":"UpdateNetworkAnalyzerConfigurationRequest"},
      "output":{"shape":"UpdateNetworkAnalyzerConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update network analyzer configuration.</p>"
    },
    "UpdatePartnerAccount":{
      "name":"UpdatePartnerAccount",
      "http":{
        "method":"PATCH",
        "requestUri":"/partner-accounts/{PartnerAccountId}",
        "responseCode":204
      },
      "input":{"shape":"UpdatePartnerAccountRequest"},
      "output":{"shape":"UpdatePartnerAccountResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates properties of a partner account.</p>"
    },
    "UpdatePosition":{
      "name":"UpdatePosition",
      "http":{
        "method":"PATCH",
        "requestUri":"/positions/{ResourceIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"UpdatePositionRequest"},
      "output":{"shape":"UpdatePositionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Update the position information of a resource.</p> <important> <p>This action is no longer supported. Calls to update the position information should use the <a href=\"https://docs.aws.amazon.com/iot-wireless/2020-11-22/apireference/API_UpdateResourcePosition.html\">UpdateResourcePosition</a> API operation instead.</p> </important>",
      "deprecated":true,
      "deprecatedMessage":"This operation is no longer supported."
    },
    "UpdateResourceEventConfiguration":{
      "name":"UpdateResourceEventConfiguration",
      "http":{
        "method":"PATCH",
        "requestUri":"/event-configurations/{Identifier}",
        "responseCode":204
      },
      "input":{"shape":"UpdateResourceEventConfigurationRequest"},
      "output":{"shape":"UpdateResourceEventConfigurationResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Update the event configuration for a particular resource identifier.</p>"
    },
    "UpdateResourcePosition":{
      "name":"UpdateResourcePosition",
      "http":{
        "method":"PATCH",
        "requestUri":"/resource-positions/{ResourceIdentifier}",
        "responseCode":204
      },
      "input":{"shape":"UpdateResourcePositionRequest"},
      "output":{"shape":"UpdateResourcePositionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Update the position information of a given wireless device or a wireless gateway resource. The position coordinates are based on the <a href=\"https://gisgeography.com/wgs84-world-geodetic-system/\"> World Geodetic System (WGS84)</a>.</p>"
    },
    "UpdateWirelessDevice":{
      "name":"UpdateWirelessDevice",
      "http":{
        "method":"PATCH",
        "requestUri":"/wireless-devices/{Id}",
        "responseCode":204
      },
      "input":{"shape":"UpdateWirelessDeviceRequest"},
      "output":{"shape":"UpdateWirelessDeviceResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates properties of a wireless device.</p>"
    },
    "UpdateWirelessDeviceImportTask":{
      "name":"UpdateWirelessDeviceImportTask",
      "http":{
        "method":"PATCH",
        "requestUri":"/wireless_device_import_task/{Id}",
        "responseCode":204
      },
      "input":{"shape":"UpdateWirelessDeviceImportTaskRequest"},
      "output":{"shape":"UpdateWirelessDeviceImportTaskResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Update an import task to add more devices to the task.</p>"
    },
    "UpdateWirelessGateway":{
      "name":"UpdateWirelessGateway",
      "http":{
        "method":"PATCH",
        "requestUri":"/wireless-gateways/{Id}",
        "responseCode":204
      },
      "input":{"shape":"UpdateWirelessGatewayRequest"},
      "output":{"shape":"UpdateWirelessGatewayResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates properties of a wireless gateway.</p>"
    }
  },
  "shapes":{
    "AbpV1_0_x":{
      "type":"structure",
      "members":{
        "DevAddr":{
          "shape":"DevAddr",
          "documentation":"<p>The DevAddr value.</p>"
        },
        "SessionKeys":{
          "shape":"SessionKeysAbpV1_0_x",
          "documentation":"<p>Session keys for ABP v1.0.x</p>"
        },
        "FCntStart":{
          "shape":"FCntStart",
          "documentation":"<p>The FCnt init value.</p>"
        }
      },
      "documentation":"<p>ABP device object for LoRaWAN specification v1.0.x</p>"
    },
    "AbpV1_1":{
      "type":"structure",
      "members":{
        "DevAddr":{
          "shape":"DevAddr",
          "documentation":"<p>The DevAddr value.</p>"
        },
        "SessionKeys":{
          "shape":"SessionKeysAbpV1_1",
          "documentation":"<p>Session keys for ABP v1.1</p>"
        },
        "FCntStart":{
          "shape":"FCntStart",
          "documentation":"<p>The FCnt init value.</p>"
        }
      },
      "documentation":"<p>ABP device object for LoRaWAN specification v1.1</p>"
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"Message"}
      },
      "documentation":"<p>User does not have permission to perform this action.</p>",
      "error":{"httpStatusCode":403},
      "exception":true
    },
    "AccountLinked":{"type":"boolean"},
    "Accuracy":{
      "type":"structure",
      "members":{
        "HorizontalAccuracy":{
          "shape":"HorizontalAccuracy",
          "documentation":"<p>The horizontal accuracy of the estimated position, which is the difference between the estimated location and the actual device location.</p>"
        },
        "VerticalAccuracy":{
          "shape":"VerticalAccuracy",
          "documentation":"<p>The vertical accuracy of the estimated position, which is the difference between the estimated altitude and actual device latitude in meters.</p>"
        }
      },
      "documentation":"<p>The accuracy of the estimated position in meters. An empty value indicates that no position data is available. A value of ‘0.0’ value indicates that position data is available. This data corresponds to the position information that you specified instead of the position computed by solver.</p>"
    },
    "AckModeRetryDurationSecs":{
      "type":"integer",
      "max":604800,
      "min":0
    },
    "AddGwMetadata":{"type":"boolean"},
    "AggregationPeriod":{
      "type":"string",
      "enum":[
        "OneHour",
        "OneDay",
        "OneWeek"
      ]
    },
    "AmazonId":{
      "type":"string",
      "documentation":"<p>The Sidewalk Amazon ID.</p>",
      "max":2048
    },
    "AmazonResourceName":{
      "type":"string",
      "max":1011,
      "min":1
    },
    "ApId":{
      "type":"string",
      "max":256
    },
    "AppEui":{
      "type":"string",
      "pattern":"[a-fA-F0-9]{16}"
    },
    "AppKey":{
      "type":"string",
      "pattern":"[a-fA-F0-9]{32}"
    },
    "AppSKey":{
      "type":"string",
      "pattern":"[a-fA-F0-9]{32}"
    },
    "AppServerPrivateKey":{
      "type":"string",
      "max":4096,
      "min":1,
      "pattern":"[a-fA-F0-9]{64}",
      "sensitive":true
    },
    "ApplicationConfig":{
      "type":"structure",
      "members":{
        "FPort":{"shape":"FPort"},
        "Type":{
          "shape":"ApplicationConfigType",
          "documentation":"<p>Application type, which can be specified to obtain real-time position information of your LoRaWAN device.</p>"
        },
        "DestinationName":{
          "shape":"DestinationName",
          "documentation":"<p>The name of the position data destination that describes the AWS IoT rule that processes the device's position data for use by AWS IoT Core for LoRaWAN.</p>"
        }
      },
      "documentation":"<p>LoRaWAN application configuration, which can be used to perform geolocation.</p>"
    },
    "ApplicationConfigType":{
      "type":"string",
      "enum":["SemtechGeolocation"]
    },
    "ApplicationServerPublicKey":{
      "type":"string",
      "max":4096,
      "min":1,
      "pattern":"[a-fA-F0-9]{64}",
      "sensitive":true
    },
    "Applications":{
      "type":"list",
      "member":{"shape":"ApplicationConfig"}
    },
    "AssistPosition":{
      "type":"list",
      "member":{"shape":"Coordinate"},
      "max":2,
      "min":2
    },
    "AssociateAwsAccountWithPartnerAccountRequest":{
      "type":"structure",
      "required":["Sidewalk"],
      "members":{
        "Sidewalk":{
          "shape":"SidewalkAccountInfo",
          "documentation":"<p>The Sidewalk account credentials.</p>"
        },
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "documentation":"<p>Each resource must have a unique client request token. The client token is used to implement idempotency. It ensures that the request completes no more than one time. If you retry a request with the same token and the same parameters, the request will complete successfully. However, if you try to create a new resource using the same token but different parameters, an HTTP 409 conflict occurs. If you omit this value, AWS SDKs will automatically generate a unique client request. For more information about idempotency, see <a href=\"https://docs.aws.amazon.com/ec2/latest/devguide/ec2-api-idempotency.html\">Ensuring idempotency in Amazon EC2 API requests</a>.</p>",
          "idempotencyToken":true
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The tags to attach to the specified resource. Tags are metadata that you can use to manage a resource.</p>"
        }
      }
    },
    "AssociateAwsAccountWithPartnerAccountResponse":{
      "type":"structure",
      "members":{
        "Sidewalk":{
          "shape":"SidewalkAccountInfo",
          "documentation":"<p>The Sidewalk account credentials.</p>"
        },
        "Arn":{
          "shape":"PartnerAccountArn",
          "documentation":"<p>The Amazon Resource Name of the resource.</p>"
        }
      }
    },
    "AssociateMulticastGroupWithFuotaTaskRequest":{
      "type":"structure",
      "required":[
        "Id",
        "MulticastGroupId"
      ],
      "members":{
        "Id":{
          "shape":"FuotaTaskId",
          "location":"uri",
          "locationName":"Id"
        },
        "MulticastGroupId":{"shape":"MulticastGroupId"}
      }
    },
    "AssociateMulticastGroupWithFuotaTaskResponse":{
      "type":"structure",
      "members":{}
    },
    "AssociateWirelessDeviceWithFuotaTaskRequest":{
      "type":"structure",
      "required":[
        "Id",
        "WirelessDeviceId"
      ],
      "members":{
        "Id":{
          "shape":"FuotaTaskId",
          "location":"uri",
          "locationName":"Id"
        },
        "WirelessDeviceId":{"shape":"WirelessDeviceId"}
      }
    },
    "AssociateWirelessDeviceWithFuotaTaskResponse":{
      "type":"structure",
      "members":{}
    },
    "AssociateWirelessDeviceWithMulticastGroupRequest":{
      "type":"structure",
      "required":[
        "Id",
        "WirelessDeviceId"
      ],
      "members":{
        "Id":{
          "shape":"MulticastGroupId",
          "location":"uri",
          "locationName":"Id"
        },
        "WirelessDeviceId":{"shape":"WirelessDeviceId"}
      }
    },
    "AssociateWirelessDeviceWithMulticastGroupResponse":{
      "type":"structure",
      "members":{}
    },
    "AssociateWirelessDeviceWithThingRequest":{
      "type":"structure",
      "required":[
        "Id",
        "ThingArn"
      ],
      "members":{
        "Id":{
          "shape":"WirelessDeviceId",
          "documentation":"<p>The ID of the resource to update.</p>",
          "location":"uri",
          "locationName":"Id"
        },
        "ThingArn":{
          "shape":"ThingArn",
          "documentation":"<p>The ARN of the thing to associate with the wireless device.</p>"
        }
      }
    },
    "AssociateWirelessDeviceWithThingResponse":{
      "type":"structure",
      "members":{}
    },
    "AssociateWirelessGatewayWithCertificateRequest":{
      "type":"structure",
      "required":[
        "Id",
        "IotCertificateId"
      ],
      "members":{
        "Id":{
          "shape":"WirelessGatewayId",
          "documentation":"<p>The ID of the resource to update.</p>",
          "location":"uri",
          "locationName":"Id"
        },
        "IotCertificateId":{
          "shape":"IotCertificateId",
          "documentation":"<p>The ID of the certificate to associate with the wireless gateway.</p>"
        }
      }
    },
    "AssociateWirelessGatewayWithCertificateResponse":{
      "type":"structure",
      "members":{
        "IotCertificateId":{
          "shape":"IotCertificateId",
          "documentation":"<p>The ID of the certificate associated with the wireless gateway.</p>"
        }
      }
    },
    "AssociateWirelessGatewayWithThingRequest":{
      "type":"structure",
      "required":[
        "Id",
        "ThingArn"
      ],
      "members":{
        "Id":{
          "shape":"WirelessGatewayId",
          "documentation":"<p>The ID of the resource to update.</p>",
          "location":"uri",
          "locationName":"Id"
        },
        "ThingArn":{
          "shape":"ThingArn",
          "documentation":"<p>The ARN of the thing to associate with the wireless gateway.</p>"
        }
      }
    },
    "AssociateWirelessGatewayWithThingResponse":{
      "type":"structure",
      "members":{}
    },
    "AutoCreateTasks":{"type":"boolean"},
    "Avg":{"type":"double"},
    "BCCH":{
      "type":"integer",
      "max":1023,
      "min":0
    },
    "BSIC":{
      "type":"integer",
      "max":63,
      "min":0
    },
    "BaseLat":{
      "type":"float",
      "max":90,
      "min":-90
    },
    "BaseLng":{
      "type":"float",
      "max":180,
      "min":-180
    },
    "BaseStationId":{
      "type":"integer",
      "max":65535,
      "min":0
    },
    "BatteryLevel":{
      "type":"string",
      "documentation":"<p>Sidewalk device battery level.</p>",
      "enum":[
        "normal",
        "low",
        "critical"
      ]
    },
    "Beaconing":{
      "type":"structure",
      "members":{
        "DataRate":{
          "shape":"BeaconingDataRate",
          "documentation":"<p>The data rate for gateways that are sending the beacons.</p>"
        },
        "Frequencies":{
          "shape":"BeaconingFrequencies",
          "documentation":"<p>The frequency list for the gateways to send the beacons.</p>"
        }
      },
      "documentation":"<p>Beaconing parameters for configuring the wireless gateways.</p>"
    },
    "BeaconingDataRate":{
      "type":"integer",
      "max":15,
      "min":0
    },
    "BeaconingFrequencies":{
      "type":"list",
      "member":{"shape":"BeaconingFrequency"},
      "max":10,
      "min":0
    },
    "BeaconingFrequency":{
      "type":"integer",
      "max":1000000000,
      "min":100000000
    },
    "CancelMulticastGroupSessionRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"MulticastGroupId",
          "location":"uri",
          "locationName":"Id"
        }
      }
    },
    "CancelMulticastGroupSessionResponse":{
      "type":"structure",
      "members":{}
    },
    "CaptureTimeAccuracy":{"type":"float"},
    "CdmaChannel":{
      "type":"integer",
      "max":4095,
      "min":0
    },
    "CdmaList":{
      "type":"list",
      "member":{"shape":"CdmaObj"},
      "max":16,
      "min":1
    },
    "CdmaLocalId":{
      "type":"structure",
      "required":[
        "PnOffset",
        "CdmaChannel"
      ],
      "members":{
        "PnOffset":{
          "shape":"PnOffset",
          "documentation":"<p>Pseudo-noise offset, which is a characteristic of the signal from a cell on a radio tower.</p>"
        },
        "CdmaChannel":{
          "shape":"CdmaChannel",
          "documentation":"<p>CDMA channel information.</p>"
        }
      },
      "documentation":"<p>CDMA local ID information, which corresponds to the local identification parameters of a CDMA cell.</p>"
    },
    "CdmaNmrList":{
      "type":"list",
      "member":{"shape":"CdmaNmrObj"},
      "max":32,
      "min":1
    },
    "CdmaNmrObj":{
      "type":"structure",
      "required":[
        "PnOffset",
        "CdmaChannel"
      ],
      "members":{
        "PnOffset":{
          "shape":"PnOffset",
          "documentation":"<p>Pseudo-noise offset, which is a characteristic of the signal from a cell on a radio tower.</p>"
        },
        "CdmaChannel":{
          "shape":"CdmaChannel",
          "documentation":"<p>CDMA channel information.</p>"
        },
        "PilotPower":{
          "shape":"PilotPower",
          "documentation":"<p>Transmit power level of the pilot signal, measured in dBm (decibel-milliwatts).</p>"
        },
        "BaseStationId":{
          "shape":"BaseStationId",
          "documentation":"<p>CDMA base station ID (BSID).</p>"
        }
      },
      "documentation":"<p>CDMA object for network measurement reports.</p>"
    },
    "CdmaObj":{
      "type":"structure",
      "required":[
        "SystemId",
        "NetworkId",
        "BaseStationId"
      ],
      "members":{
        "SystemId":{
          "shape":"SystemId",
          "documentation":"<p>CDMA system ID (SID).</p>"
        },
        "NetworkId":{
          "shape":"NetworkId",
          "documentation":"<p>CDMA network ID (NID).</p>"
        },
        "BaseStationId":{
          "shape":"BaseStationId",
          "documentation":"<p>CDMA base station ID (BSID).</p>"
        },
        "RegistrationZone":{
          "shape":"RegistrationZone",
          "documentation":"<p>CDMA registration zone (RZ).</p>"
        },
        "CdmaLocalId":{
          "shape":"CdmaLocalId",
          "documentation":"<p>CDMA local identification (local ID) parameters.</p>"
        },
        "PilotPower":{
          "shape":"PilotPower",
          "documentation":"<p>Transmit power level of the pilot signal, measured in dBm (decibel-milliwatts).</p>"
        },
        "BaseLat":{
          "shape":"BaseLat",
          "documentation":"<p>CDMA base station latitude in degrees.</p>"
        },
        "BaseLng":{
          "shape":"BaseLng",
          "documentation":"<p>CDMA base station longitude in degrees.</p>"
        },
        "CdmaNmr":{
          "shape":"CdmaNmrList",
          "documentation":"<p>CDMA network measurement reports.</p>"
        }
      },
      "documentation":"<p>CDMA (Code-division multiple access) object.</p>"
    },
    "CellParams":{
      "type":"integer",
      "max":127,
      "min":0
    },
    "CellTowers":{
      "type":"structure",
      "members":{
        "Gsm":{
          "shape":"GsmList",
          "documentation":"<p>GSM object information.</p>"
        },
        "Wcdma":{
          "shape":"WcdmaList",
          "documentation":"<p>WCDMA object information.</p>"
        },
        "Tdscdma":{
          "shape":"TdscdmaList",
          "documentation":"<p>TD-SCDMA object information.</p>"
        },
        "Lte":{
          "shape":"LteList",
          "documentation":"<p>LTE object information.</p>"
        },
        "Cdma":{
          "shape":"CdmaList",
          "documentation":"<p>CDMA object information.</p>"
        }
      },
      "documentation":"<p>The cell towers that were used to perform the measurements.</p>"
    },
    "CertificateList":{
      "type":"structure",
      "required":[
        "SigningAlg",
        "Value"
      ],
      "members":{
        "SigningAlg":{
          "shape":"SigningAlg",
          "documentation":"<p>The certificate chain algorithm provided by sidewalk.</p>"
        },
        "Value":{
          "shape":"CertificateValue",
          "documentation":"<p>The value of the chosen sidewalk certificate.</p>"
        }
      },
      "documentation":"<p>List of sidewalk certificates.</p>"
    },
    "CertificatePEM":{
      "type":"string",
      "max":4096,
      "min":1,
      "pattern":"[^-A-Za-z0-9+/=]|=[^=]|={3,}${1,4096}"
    },
    "CertificateValue":{
      "type":"string",
      "documentation":"<p>Certificate value.</p>",
      "max":2048,
      "min":0
    },
    "ChannelMask":{
      "type":"string",
      "max":2048
    },
    "ClassBTimeout":{
      "type":"integer",
      "max":1000,
      "min":0
    },
    "ClassCTimeout":{
      "type":"integer",
      "max":1000,
      "min":0
    },
    "ClientRequestToken":{
      "type":"string",
      "documentation":"<p>Each resource must have a unique client request token. The client token is used to implement idempotency. It ensures that the request completes no more than one time. If you retry a request with the same token and the same parameters, the request will complete successfully. However, if you try to create a new resource using the same token but different parameters, an HTTP 409 conflict occurs. If you omit this value, AWS SDKs will automatically generate a unique client request. For more information about idempotency, see <a href=\"https://docs.aws.amazon.com/ec2/latest/devguide/ec2-api-idempotency.html\">Ensuring idempotency in Amazon EC2 API requests</a>.</p>",
      "max":64,
      "min":1,
      "pattern":"^[a-zA-Z0-9-_]+$"
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"Message"},
        "ResourceId":{
          "shape":"ResourceId",
          "documentation":"<p>Id of the resource in the conflicting operation.</p>"
        },
        "ResourceType":{
          "shape":"ResourceType",
          "documentation":"<p>Type of the resource in the conflicting operation.</p>"
        }
      },
      "documentation":"<p>Adding, updating, or deleting the resource can cause an inconsistent state.</p>",
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "ConnectionStatus":{
      "type":"string",
      "enum":[
        "Connected",
        "Disconnected"
      ]
    },
    "ConnectionStatusEventConfiguration":{
      "type":"structure",
      "members":{
        "LoRaWAN":{
          "shape":"LoRaWANConnectionStatusEventNotificationConfigurations",
          "documentation":"<p>Connection status event configuration object for enabling or disabling LoRaWAN related event topics.</p>"
        },
        "WirelessGatewayIdEventTopic":{
          "shape":"EventNotificationTopicStatus",
          "documentation":"<p>Denotes whether the wireless gateway ID connection status event topic is enabled or disabled.</p>"
        }
      },
      "documentation":"<p>Connection status event configuration object for enabling or disabling topic.</p>"
    },
    "ConnectionStatusResourceTypeEventConfiguration":{
      "type":"structure",
      "members":{
        "LoRaWAN":{
          "shape":"LoRaWANConnectionStatusResourceTypeEventConfiguration",
          "documentation":"<p>Connection status resource type event configuration object for enabling or disabling LoRaWAN related event topics.</p>"
        }
      },
      "documentation":"<p>Connection status resource type event configuration object for enabling or disabling topic.</p>"
    },
    "Coordinate":{"type":"float"},
    "Crc":{
      "type":"long",
      "max":4294967295,
      "min":1
    },
    "CreateDestinationRequest":{
      "type":"structure",
      "required":[
        "Name",
        "ExpressionType",
        "Expression",
        "RoleArn"
      ],
      "members":{
        "Name":{
          "shape":"DestinationName",
          "documentation":"<p>The name of the new resource.</p>"
        },
        "ExpressionType":{
          "shape":"ExpressionType",
          "documentation":"<p>The type of value in <code>Expression</code>.</p>"
        },
        "Expression":{
          "shape":"Expression",
          "documentation":"<p>The rule name or topic rule to send messages to.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>The description of the new resource.</p>"
        },
        "RoleArn":{
          "shape":"RoleArn",
          "documentation":"<p>The ARN of the IAM Role that authorizes the destination.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The tags to attach to the new destination. Tags are metadata that you can use to manage a resource.</p>"
        },
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "documentation":"<p>Each resource must have a unique client request token. The client token is used to implement idempotency. It ensures that the request completes no more than one time. If you retry a request with the same token and the same parameters, the request will complete successfully. However, if you try to create a new resource using the same token but different parameters, an HTTP 409 conflict occurs. If you omit this value, AWS SDKs will automatically generate a unique client request. For more information about idempotency, see <a href=\"https://docs.aws.amazon.com/ec2/latest/devguide/ec2-api-idempotency.html\">Ensuring idempotency in Amazon EC2 API requests</a>.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateDestinationResponse":{
      "type":"structure",
      "members":{
        "Arn":{
          "shape":"DestinationArn",
          "documentation":"<p>The Amazon Resource Name of the new resource.</p>"
        },
        "Name":{
          "shape":"DestinationName",
          "documentation":"<p>The name of the new resource.</p>"
        }
      }
    },
    "CreateDeviceProfileRequest":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"DeviceProfileName",
          "documentation":"<p>The name of the new resource.</p> <note> <p>The following special characters aren't accepted: <code>&lt;&gt;^#~$</code> </p> </note>"
        },
        "LoRaWAN":{
          "shape":"LoRaWANDeviceProfile",
          "documentation":"<p>The device profile information to use to create the device profile.</p>"
        },
        "Tags":{
          "shape":"TagList",
[...]
