<section {{bind-attr class=":js-notification typeClass"}}>
    <span class="notification-message">
        {{message.message}}
    </span>
    <button class="close" {{action "closeNotification"}}><span class="hidden">Close</span></button>
    {{#if sound}}
    <audio {{bind-attr src="sound"}} autoplay />
    {{/if}}
</section>