<section class="js-notification {{typeClass}}">
    <span class="notification-message">
        {{message.message}}
    </span>
    <button class="close" {{action "closeNotification"}}><span class="hidden">关闭</span></button>
</section>
