<div class="gh-blognav-line">
    {{input value=url class="gh-input"}}
    <button type="button" class="gh-blognav-delete" {{action "deleteUrl" domain}}>
        <i class="icon-trash"><span class="sr-only">Delete</span></i>
    </button>
</div>
