<img class="js-upload-target" src="{{imageSource}}" />
<div class="description">{{description}}<strong></strong></div>
<input data-url="upload" class="gh-input js-fileupload main fileupload" type="file" name="uploadimage">
