{{yield value (hash
    update=(action 'update')
    onblur=(action 'focusOut')
)}}
{{#if showErrorMessage}}
    <p class="response">{{v-get model valuePath 'message'}}</p>
{{else if helpText}}
    <p>{{helpText}}</p>
{{/if}}
