{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2015-10-07",
    "endpointPrefix":"events",
    "jsonVersion":"1.1",
    "protocol":"json",
    "protocols":["json"],
    "serviceFullName":"Amazon EventBridge",
    "serviceId":"EventBridge",
    "signatureVersion":"v4",
    "targetPrefix":"AWSEvents",
    "uid":"eventbridge-2015-10-07",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "ActivateEventSource":{
      "name":"ActivateEventSource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ActivateEventSourceRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidStateException"},
        {"shape":"InternalException"},
        {"shape":"OperationDisabledException"}
      ],
      "documentation":"<p>Activates a partner event source that has been deactivated. Once activated, your matching event bus will start receiving events from the event source.</p>"
    },
    "CancelReplay":{
      "name":"CancelReplay",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelReplayRequest"},
      "output":{"shape":"CancelReplayResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"IllegalStatusException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Cancels the specified replay.</p>"
    },
    "CreateApiDestination":{
      "name":"CreateApiDestination",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateApiDestinationRequest"},
      "output":{"shape":"CreateApiDestinationResponse"},
      "errors":[
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates an API destination, which is an HTTP invocation endpoint configured as a target for events.</p> <p>API destinations do not support private destinations, such as interface VPC endpoints.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-api-destinations.html\">API destinations</a> in the <i>EventBridge User Guide</i>.</p>"
    },
    "CreateArchive":{
      "name":"CreateArchive",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateArchiveRequest"},
      "output":{"shape":"CreateArchiveResponse"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidEventPatternException"}
      ],
      "documentation":"<p>Creates an archive of events with the specified settings. When you create an archive, incoming events might not immediately start being sent to the archive. Allow a short period of time for changes to take effect. If you do not specify a pattern to filter events sent to the archive, all events are sent to the archive except replayed events. Replayed events are not sent to an archive.</p> <important> <p>If you have specified that EventBridge use a customer managed key for encrypting the source event bus, we strongly recommend you also specify a customer managed key for any archives for the event bus as well. </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/encryption-archives.html\">Encrypting archives</a> in the <i>Amazon EventBridge User Guide</i>.</p> </important>"
    },
    "CreateConnection":{
      "name":"CreateConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateConnectionRequest"},
      "output":{"shape":"CreateConnectionResponse"},
      "errors":[
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Creates a connection. A connection defines the authorization type and credentials to use for authorization with an API destination HTTP endpoint.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-target-connection.html\">Connections for endpoint targets</a> in the <i>Amazon EventBridge User Guide</i>.</p>"
    },
    "CreateEndpoint":{
      "name":"CreateEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEndpointRequest"},
      "output":{"shape":"CreateEndpointResponse"},
      "errors":[
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Creates a global endpoint. Global endpoints improve your application's availability by making it regional-fault tolerant. To do this, you define a primary and secondary Region with event buses in each Region. You also create a Amazon Route 53 health check that will tell EventBridge to route events to the secondary Region when an \"unhealthy\" state is encountered and events will be routed back to the primary Region when the health check reports a \"healthy\" state.</p>"
    },
    "CreateEventBus":{
      "name":"CreateEventBus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateEventBusRequest"},
      "output":{"shape":"CreateEventBusResponse"},
      "errors":[
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidStateException"},
        {"shape":"InternalException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"LimitExceededException"},
        {"shape":"OperationDisabledException"}
      ],
      "documentation":"<p>Creates a new event bus within your account. This can be a custom event bus which you can use to receive events from your custom applications and services, or it can be a partner event bus which can be matched to a partner event source.</p>"
    },
    "CreatePartnerEventSource":{
      "name":"CreatePartnerEventSource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePartnerEventSourceRequest"},
      "output":{"shape":"CreatePartnerEventSourceResponse"},
      "errors":[
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InternalException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"LimitExceededException"},
        {"shape":"OperationDisabledException"}
      ],
      "documentation":"<p>Called by an SaaS partner to create a partner event source. This operation is not used by Amazon Web Services customers.</p> <p>Each partner event source can be used by one Amazon Web Services account to create a matching partner event bus in that Amazon Web Services account. A SaaS partner must create one partner event source for each Amazon Web Services account that wants to receive those event types. </p> <p>A partner event source creates events based on resources within the SaaS partner's service or application.</p> <p>An Amazon Web Services account that creates a partner event bus that matches the partner event source can use that event bus to receive events from the partner, and then process them using Amazon Web Services Events rules and targets.</p> <p>Partner event source names follow this format:</p> <p> <code> <i>partner_name</i>/<i>event_namespace</i>/<i>event_name</i> </code> </p> <ul> <li> <p> <i>partner_name</i> is determined during partner registration, and identifies the partner to Amazon Web Services customers. </p> </li> <li> <p> <i>event_namespace</i> is determined by the partner, and is a way for the partner to categorize their events.</p> </li> <li> <p> <i>event_name</i> is determined by the partner, and should uniquely identify an event-generating resource within the partner system. </p> <p>The <i>event_name</i> must be unique across all Amazon Web Services customers. This is because the event source is a shared resource between the partner and customer accounts, and each partner event source unique in the partner account.</p> </li> </ul> <p>The combination of <i>event_namespace</i> and <i>event_name</i> should help Amazon Web Services customers decide whether to create an event bus to receive these events.</p>"
    },
    "DeactivateEventSource":{
      "name":"DeactivateEventSource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeactivateEventSourceRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InvalidStateException"},
        {"shape":"InternalException"},
        {"shape":"OperationDisabledException"}
      ],
      "documentation":"<p>You can use this operation to temporarily stop receiving events from the specified partner event source. The matching event bus is not deleted. </p> <p>When you deactivate a partner event source, the source goes into PENDING state. If it remains in PENDING state for more than two weeks, it is deleted.</p> <p>To activate a deactivated partner event source, use <a href=\"https://docs.aws.amazon.com/eventbridge/latest/APIReference/API_ActivateEventSource.html\">ActivateEventSource</a>.</p>"
    },
    "DeauthorizeConnection":{
      "name":"DeauthorizeConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeauthorizeConnectionRequest"},
      "output":{"shape":"DeauthorizeConnectionResponse"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Removes all authorization parameters from the connection. This lets you remove the secret from the connection so you can reuse it without having to create a new connection.</p>"
    },
    "DeleteApiDestination":{
      "name":"DeleteApiDestination",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteApiDestinationRequest"},
      "output":{"shape":"DeleteApiDestinationResponse"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Deletes the specified API destination.</p>"
    },
    "DeleteArchive":{
      "name":"DeleteArchive",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteArchiveRequest"},
      "output":{"shape":"DeleteArchiveResponse"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Deletes the specified archive.</p>"
    },
    "DeleteConnection":{
      "name":"DeleteConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteConnectionRequest"},
      "output":{"shape":"DeleteConnectionResponse"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Deletes a connection.</p>"
    },
    "DeleteEndpoint":{
      "name":"DeleteEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEndpointRequest"},
      "output":{"shape":"DeleteEndpointResponse"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Delete an existing global endpoint. For more information about global endpoints, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-global-endpoints.html\">Making applications Regional-fault tolerant with global endpoints and event replication</a> in the <i> <i>Amazon EventBridge User Guide</i> </i>.</p>"
    },
    "DeleteEventBus":{
      "name":"DeleteEventBus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteEventBusRequest"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"ConcurrentModificationException"}
      ],
      "documentation":"<p>Deletes the specified custom event bus or partner event bus. All rules associated with this event bus need to be deleted. You can't delete your account's default event bus.</p>"
    },
    "DeletePartnerEventSource":{
      "name":"DeletePartnerEventSource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePartnerEventSourceRequest"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"OperationDisabledException"}
      ],
      "documentation":"<p>This operation is used by SaaS partners to delete a partner event source. This operation is not used by Amazon Web Services customers.</p> <p>When you delete an event source, the status of the corresponding partner event bus in the Amazon Web Services customer account becomes DELETED.</p> <p/>"
    },
    "DeleteRule":{
      "name":"DeleteRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRuleRequest"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"ManagedRuleException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes the specified rule.</p> <p>Before you can delete the rule, you must remove all targets, using <a href=\"https://docs.aws.amazon.com/eventbridge/latest/APIReference/API_RemoveTargets.html\">RemoveTargets</a>.</p> <p>When you delete a rule, incoming events might continue to match to the deleted rule. Allow a short period of time for changes to take effect.</p> <p>If you call delete rule multiple times for the same rule, all calls will succeed. When you call delete rule for a non-existent custom eventbus, <code>ResourceNotFoundException</code> is returned.</p> <p>Managed rules are rules created and managed by another Amazon Web Services service on your behalf. These rules are created by those other Amazon Web Services services to support functionality in those services. You can delete these rules using the <code>Force</code> option, but you should do so only if you are sure the other service is not still using that rule.</p>"
    },
    "DescribeApiDestination":{
      "name":"DescribeApiDestination",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeApiDestinationRequest"},
      "output":{"shape":"DescribeApiDestinationResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Retrieves details about an API destination.</p>"
    },
    "DescribeArchive":{
      "name":"DescribeArchive",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeArchiveRequest"},
      "output":{"shape":"DescribeArchiveResponse"},
      "errors":[
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Retrieves details about an archive.</p>"
    },
    "DescribeConnection":{
      "name":"DescribeConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeConnectionRequest"},
      "output":{"shape":"DescribeConnectionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Retrieves details about a connection.</p>"
    },
    "DescribeEndpoint":{
      "name":"DescribeEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEndpointRequest"},
      "output":{"shape":"DescribeEndpointResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Get the information about an existing global endpoint. For more information about global endpoints, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-global-endpoints.html\">Making applications Regional-fault tolerant with global endpoints and event replication</a> in the <i> <i>Amazon EventBridge User Guide</i> </i>.</p>"
    },
    "DescribeEventBus":{
      "name":"DescribeEventBus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventBusRequest"},
      "output":{"shape":"DescribeEventBusResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Displays details about an event bus in your account. This can include the external Amazon Web Services accounts that are permitted to write events to your default event bus, and the associated policy. For custom event buses and partner event buses, it displays the name, ARN, policy, state, and creation time.</p> <p> To enable your account to receive events from other accounts on its default event bus, use <a href=\"https://docs.aws.amazon.com/eventbridge/latest/APIReference/API_PutPermission.html\">PutPermission</a>.</p> <p>For more information about partner event buses, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/APIReference/API_CreateEventBus.html\">CreateEventBus</a>.</p>"
    },
    "DescribeEventSource":{
      "name":"DescribeEventSource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeEventSourceRequest"},
      "output":{"shape":"DescribeEventSourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalException"},
        {"shape":"OperationDisabledException"}
      ],
      "documentation":"<p>This operation lists details about a partner event source that is shared with your account.</p>"
    },
    "DescribePartnerEventSource":{
      "name":"DescribePartnerEventSource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePartnerEventSourceRequest"},
      "output":{"shape":"DescribePartnerEventSourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalException"},
        {"shape":"OperationDisabledException"}
      ],
      "documentation":"<p>An SaaS partner can use this operation to list details about a partner event source that they have created. Amazon Web Services customers do not use this operation. Instead, Amazon Web Services customers can use <a href=\"https://docs.aws.amazon.com/eventbridge/latest/APIReference/API_DescribeEventSource.html\">DescribeEventSource</a> to see details about a partner event source that is shared with them.</p>"
    },
    "DescribeReplay":{
      "name":"DescribeReplay",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeReplayRequest"},
      "output":{"shape":"DescribeReplayResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Retrieves details about a replay. Use <code>DescribeReplay</code> to determine the progress of a running replay. A replay processes events to replay based on the time in the event, and replays them using 1 minute intervals. If you use <code>StartReplay</code> and specify an <code>EventStartTime</code> and an <code>EventEndTime</code> that covers a 20 minute time range, the events are replayed from the first minute of that 20 minute range first. Then the events from the second minute are replayed. You can use <code>DescribeReplay</code> to determine the progress of a replay. The value returned for <code>EventLastReplayedTime</code> indicates the time within the specified time range associated with the last event replayed.</p>"
    },
    "DescribeRule":{
      "name":"DescribeRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRuleRequest"},
      "output":{"shape":"DescribeRuleResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Describes the specified rule.</p> <p>DescribeRule does not list the targets of a rule. To see the targets associated with a rule, use <a href=\"https://docs.aws.amazon.com/eventbridge/latest/APIReference/API_ListTargetsByRule.html\">ListTargetsByRule</a>.</p>"
    },
    "DisableRule":{
      "name":"DisableRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableRuleRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ManagedRuleException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Disables the specified rule. A disabled rule won't match any events, and won't self-trigger if it has a schedule expression.</p> <p>When you disable a rule, incoming events might continue to match to the disabled rule. Allow a short period of time for changes to take effect.</p>"
    },
    "EnableRule":{
      "name":"EnableRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableRuleRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ManagedRuleException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Enables the specified rule. If the rule does not exist, the operation fails.</p> <p>When you enable a rule, incoming events might not immediately start matching to a newly enabled rule. Allow a short period of time for changes to take effect.</p>"
    },
    "ListApiDestinations":{
      "name":"ListApiDestinations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListApiDestinationsRequest"},
      "output":{"shape":"ListApiDestinationsResponse"},
      "errors":[
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Retrieves a list of API destination in the account in the current Region.</p>"
    },
    "ListArchives":{
      "name":"ListArchives",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListArchivesRequest"},
      "output":{"shape":"ListArchivesResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Lists your archives. You can either list all the archives or you can provide a prefix to match to the archive names. Filter parameters are exclusive.</p>"
    },
    "ListConnections":{
      "name":"ListConnections",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListConnectionsRequest"},
      "output":{"shape":"ListConnectionsResponse"},
      "errors":[
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Retrieves a list of connections from the account.</p>"
    },
    "ListEndpoints":{
      "name":"ListEndpoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEndpointsRequest"},
      "output":{"shape":"ListEndpointsResponse"},
      "errors":[
        {"shape":"InternalException"}
      ],
      "documentation":"<p>List the global endpoints associated with this account. For more information about global endpoints, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-global-endpoints.html\">Making applications Regional-fault tolerant with global endpoints and event replication</a> in the <i> <i>Amazon EventBridge User Guide</i> </i>.</p>"
    },
    "ListEventBuses":{
      "name":"ListEventBuses",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEventBusesRequest"},
      "output":{"shape":"ListEventBusesResponse"},
      "errors":[
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Lists all the event buses in your account, including the default event bus, custom event buses, and partner event buses.</p>"
    },
    "ListEventSources":{
      "name":"ListEventSources",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEventSourcesRequest"},
      "output":{"shape":"ListEventSourcesResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"OperationDisabledException"}
      ],
      "documentation":"<p>You can use this to see all the partner event sources that have been shared with your Amazon Web Services account. For more information about partner event sources, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/APIReference/API_CreateEventBus.html\">CreateEventBus</a>.</p>"
    },
    "ListPartnerEventSourceAccounts":{
      "name":"ListPartnerEventSourceAccounts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPartnerEventSourceAccountsRequest"},
      "output":{"shape":"ListPartnerEventSourceAccountsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalException"},
        {"shape":"OperationDisabledException"}
      ],
      "documentation":"<p>An SaaS partner can use this operation to display the Amazon Web Services account ID that a particular partner event source name is associated with. This operation is not used by Amazon Web Services customers.</p>"
    },
    "ListPartnerEventSources":{
      "name":"ListPartnerEventSources",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPartnerEventSourcesRequest"},
      "output":{"shape":"ListPartnerEventSourcesResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"OperationDisabledException"}
      ],
      "documentation":"<p>An SaaS partner can use this operation to list all the partner event source names that they have created. This operation is not used by Amazon Web Services customers.</p>"
    },
    "ListReplays":{
      "name":"ListReplays",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListReplaysRequest"},
      "output":{"shape":"ListReplaysResponse"},
      "errors":[
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Lists your replays. You can either list all the replays or you can provide a prefix to match to the replay names. Filter parameters are exclusive.</p>"
    },
    "ListRuleNamesByTarget":{
      "name":"ListRuleNamesByTarget",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListRuleNamesByTargetRequest"},
      "output":{"shape":"ListRuleNamesByTargetResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists the rules for the specified target. You can see which of the rules in Amazon EventBridge can invoke a specific target in your account.</p> <p>The maximum number of results per page for requests is 100.</p>"
    },
    "ListRules":{
      "name":"ListRules",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListRulesRequest"},
      "output":{"shape":"ListRulesResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists your Amazon EventBridge rules. You can either list all the rules or you can provide a prefix to match to the rule names.</p> <p>The maximum number of results per page for requests is 100.</p> <p>ListRules does not list the targets of a rule. To see the targets associated with a rule, use <a href=\"https://docs.aws.amazon.com/eventbridge/latest/APIReference/API_ListTargetsByRule.html\">ListTargetsByRule</a>.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Displays the tags associated with an EventBridge resource. In EventBridge, rules and event buses can be tagged.</p>"
    },
    "ListTargetsByRule":{
      "name":"ListTargetsByRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTargetsByRuleRequest"},
      "output":{"shape":"ListTargetsByRuleResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Lists the targets assigned to the specified rule.</p> <p>The maximum number of results per page for requests is 100.</p>"
    },
    "PutEvents":{
      "name":"PutEvents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutEventsRequest"},
      "output":{"shape":"PutEventsResponse"},
      "errors":[
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Sends custom events to Amazon EventBridge so that they can be matched to rules.</p> <p>You can batch multiple event entries into one request for efficiency. However, the total entry size must be less than 256KB. You can calculate the entry size before you send the events. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-putevents.html#eb-putevent-size\">Calculating PutEvents event entry size</a> in the <i> <i>Amazon EventBridge User Guide</i> </i>.</p> <p>PutEvents accepts the data in JSON format. For the JSON number (integer) data type, the constraints are: a minimum value of -9,223,372,036,854,775,808 and a maximum value of 9,223,372,036,854,775,807.</p> <note> <p>PutEvents will only process nested JSON up to 1000 levels deep.</p> </note>"
    },
    "PutPartnerEvents":{
      "name":"PutPartnerEvents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutPartnerEventsRequest"},
      "output":{"shape":"PutPartnerEventsResponse"},
      "errors":[
        {"shape":"InternalException"},
        {"shape":"OperationDisabledException"}
      ],
      "documentation":"<p>This is used by SaaS partners to write events to a customer's partner event bus. Amazon Web Services customers do not use this operation.</p> <p>For information on calculating event batch size, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-putevent-size.html\">Calculating EventBridge PutEvents event entry size</a> in the <i>EventBridge User Guide</i>.</p>"
    },
    "PutPermission":{
      "name":"PutPermission",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutPermissionRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"PolicyLengthExceededException"},
        {"shape":"InternalException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"OperationDisabledException"}
      ],
      "documentation":"<p>Running <code>PutPermission</code> permits the specified Amazon Web Services account or Amazon Web Services organization to put events to the specified <i>event bus</i>. Amazon EventBridge rules in your account are triggered by these events arriving to an event bus in your account. </p> <p>For another account to send events to your account, that external account must have an EventBridge rule with your account's event bus as a target.</p> <p>To enable multiple Amazon Web Services accounts to put events to your event bus, run <code>PutPermission</code> once for each of these accounts. Or, if all the accounts are members of the same Amazon Web Services organization, you can run <code>PutPermission</code> once specifying <code>Principal</code> as \"*\" and specifying the Amazon Web Services organization ID in <code>Condition</code>, to grant permissions to all accounts in that organization.</p> <p>If you grant permissions using an organization, then accounts in that organization must specify a <code>RoleArn</code> with proper permissions when they use <code>PutTarget</code> to add your account's event bus as a target. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eventbridge-cross-account-event-delivery.html\">Sending and Receiving Events Between Amazon Web Services Accounts</a> in the <i>Amazon EventBridge User Guide</i>.</p> <p>The permission policy on the event bus cannot exceed 10 KB in size.</p>"
    },
    "PutRule":{
      "name":"PutRule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutRuleRequest"},
      "output":{"shape":"PutRuleResponse"},
      "errors":[
        {"shape":"InvalidEventPatternException"},
        {"shape":"LimitExceededException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ManagedRuleException"},
        {"shape":"InternalException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Creates or updates the specified rule. Rules are enabled by default, or based on value of the state. You can disable a rule using <a href=\"https://docs.aws.amazon.com/eventbridge/latest/APIReference/API_DisableRule.html\">DisableRule</a>.</p> <p>A single rule watches for events from a single event bus. Events generated by Amazon Web Services services go to your account's default event bus. Events generated by SaaS partner services or applications go to the matching partner event bus. If you have custom applications or services, you can specify whether their events go to your default event bus or a custom event bus that you have created. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/APIReference/API_CreateEventBus.html\">CreateEventBus</a>.</p> <p>If you are updating an existing rule, the rule is replaced with what you specify in this <code>PutRule</code> command. If you omit arguments in <code>PutRule</code>, the old values for those arguments are not kept. Instead, they are replaced with null values.</p> <p>When you create or update a rule, incoming events might not immediately start matching to new or updated rules. Allow a short period of time for changes to take effect.</p> <p>A rule must contain at least an EventPattern or ScheduleExpression. Rules with EventPatterns are triggered when a matching event is observed. Rules with ScheduleExpressions self-trigger based on the given schedule. A rule can have both an EventPattern and a ScheduleExpression, in which case the rule triggers on matching events as well as on a schedule.</p> <p>When you initially create a rule, you can optionally assign one or more tags to the rule. Tags can help you organize and categorize your resources. You can also use them to scope user permissions, by granting a user permission to access or change only rules with certain tag values. To use the <code>PutRule</code> operation and assign tags, you must have both the <code>events:PutRule</code> and <code>events:TagResource</code> permissions.</p> <p>If you are updating an existing rule, any tags you specify in the <code>PutRule</code> operation are ignored. To update the tags of an existing rule, use <a href=\"https://docs.aws.amazon.com/eventbridge/latest/APIReference/API_TagResource.html\">TagResource</a> and <a href=\"https://docs.aws.amazon.com/eventbridge/latest/APIReference/API_UntagResource.html\">UntagResource</a>.</p> <p>Most services in Amazon Web Services treat : or / as the same character in Amazon Resource Names (ARNs). However, EventBridge uses an exact match in event patterns and rules. Be sure to use the correct ARN characters when creating event patterns so that they match the ARN syntax in the event you want to match.</p> <p>In EventBridge, it is possible to create rules that lead to infinite loops, where a rule is fired repeatedly. For example, a rule might detect that ACLs have changed on an S3 bucket, and trigger software to change them to the desired state. If the rule is not written carefully, the subsequent change to the ACLs fires the rule again, creating an infinite loop.</p> <p>To prevent this, write the rules so that the triggered actions do not re-fire the same rule. For example, your rule could fire only if ACLs are found to be in a bad state, instead of after any change. </p> <p>An infinite loop can quickly cause higher than expected charges. We recommend that you use budgeting, which alerts you when charges exceed your specified limit. For more information, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/budgets-managing-costs.html\">Managing Your Costs with Budgets</a>.</p> <p>To create a rule that filters for management events from Amazon Web Services services, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-service-event-cloudtrail.html#eb-service-event-cloudtrail-management\">Receiving read-only management events from Amazon Web Services services</a> in the <i>EventBridge User Guide</i>.</p>"
    },
    "PutTargets":{
      "name":"PutTargets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutTargetsRequest"},
      "output":{"shape":"PutTargetsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"LimitExceededException"},
        {"shape":"ManagedRuleException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Adds the specified targets to the specified rule, or updates the targets if they are already associated with the rule.</p> <p>Targets are the resources that are invoked when a rule is triggered.</p> <p>The maximum number of entries per request is 10.</p> <note> <p>Each rule can have up to five (5) targets associated with it at one time.</p> </note> <p>For a list of services you can configure as targets for events, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-targets.html\">EventBridge targets</a> in the <i> <i>Amazon EventBridge User Guide</i> </i>.</p> <p>Creating rules with built-in targets is supported only in the Amazon Web Services Management Console. The built-in targets are:</p> <ul> <li> <p> <code>Amazon EBS CreateSnapshot API call</code> </p> </li> <li> <p> <code>Amazon EC2 RebootInstances API call</code> </p> </li> <li> <p> <code>Amazon EC2 StopInstances API call</code> </p> </li> <li> <p> <code>Amazon EC2 TerminateInstances API call</code> </p> </li> </ul> <p>For some target types, <code>PutTargets</code> provides target-specific parameters. If the target is a Kinesis data stream, you can optionally specify which shard the event goes to by using the <code>KinesisParameters</code> argument. To invoke a command on multiple EC2 instances with one rule, you can use the <code>RunCommandParameters</code> field.</p> <p>To be able to make API calls against the resources that you own, Amazon EventBridge needs the appropriate permissions: </p> <ul> <li> <p>For Lambda and Amazon SNS resources, EventBridge relies on resource-based policies.</p> </li> <li> <p>For EC2 instances, Kinesis Data Streams, Step Functions state machines and API Gateway APIs, EventBridge relies on IAM roles that you specify in the <code>RoleARN</code> argument in <code>PutTargets</code>.</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/auth-and-access-control-eventbridge.html\">Authentication and Access Control</a> in the <i> <i>Amazon EventBridge User Guide</i> </i>.</p> <p>If another Amazon Web Services account is in the same region and has granted you permission (using <code>PutPermission</code>), you can send events to that account. Set that account's event bus as a target of the rules in your account. To send the matched events to the other account, specify that account's event bus as the <code>Arn</code> value when you run <code>PutTargets</code>. If your account sends events to another account, your account is charged for each sent event. Each event sent to another account is charged as a custom event. The account receiving the event is not charged. For more information, see <a href=\"http://aws.amazon.com/eventbridge/pricing/\">Amazon EventBridge Pricing</a>.</p> <note> <p> <code>Input</code>, <code>InputPath</code>, and <code>InputTransformer</code> are not available with <code>PutTarget</code> if the target is an event bus of a different Amazon Web Services account.</p> </note> <p>If you are setting the event bus of another account as the target, and that account granted permission to your account through an organization instead of directly by the account ID, then you must specify a <code>RoleArn</code> with proper permissions in the <code>Target</code> structure. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eventbridge-cross-account-event-delivery.html\">Sending and Receiving Events Between Amazon Web Services Accounts</a> in the <i>Amazon EventBridge User Guide</i>.</p> <note> <p>If you have an IAM role on a cross-account event bus target, a <code>PutTargets</code> call without a role on the same target (same <code>Id</code> and <code>Arn</code>) will not remove the role.</p> </note> <p>For more information about enabling cross-account events, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/APIReference/API_PutPermission.html\">PutPermission</a>.</p> <p> <b>Input</b>, <b>InputPath</b>, and <b>InputTransformer</b> are mutually exclusive and optional parameters of a target. When a rule is triggered due to a matched event:</p> <ul> <li> <p>If none of the following arguments are specified for a target, then the entire event is passed to the target in JSON format (unless the target is Amazon EC2 Run Command or Amazon ECS task, in which case nothing from the event is passed to the target).</p> </li> <li> <p>If <b>Input</b> is specified in the form of valid JSON, then the matched event is overridden with this constant.</p> </li> <li> <p>If <b>InputPath</b> is specified in the form of JSONPath (for example, <code>$.detail</code>), then only the part of the event specified in the path is passed to the target (for example, only the detail part of the event is passed).</p> </li> <li> <p>If <b>InputTransformer</b> is specified, then one or more specified JSONPaths are extracted from the event and used as values in a template that you specify as the input to the target.</p> </li> </ul> <p>When you specify <code>InputPath</code> or <code>InputTransformer</code>, you must use JSON dot notation, not bracket notation.</p> <p>When you add targets to a rule and the associated rule triggers soon after, new or updated targets might not be immediately invoked. Allow a short period of time for changes to take effect.</p> <p>This action can partially fail if too many requests are made at the same time. If that happens, <code>FailedEntryCount</code> is non-zero in the response and each entry in <code>FailedEntries</code> provides the ID of the failed target and the error code.</p>"
    },
    "RemovePermission":{
      "name":"RemovePermission",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemovePermissionRequest"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"OperationDisabledException"}
      ],
      "documentation":"<p>Revokes the permission of another Amazon Web Services account to be able to put events to the specified event bus. Specify the account to revoke by the <code>StatementId</code> value that you associated with the account when you granted it permission with <code>PutPermission</code>. You can find the <code>StatementId</code> by using <a href=\"https://docs.aws.amazon.com/eventbridge/latest/APIReference/API_DescribeEventBus.html\">DescribeEventBus</a>.</p>"
    },
    "RemoveTargets":{
      "name":"RemoveTargets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RemoveTargetsRequest"},
      "output":{"shape":"RemoveTargetsResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ManagedRuleException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Removes the specified targets from the specified rule. When the rule is triggered, those targets are no longer be invoked.</p> <note> <p>A successful execution of <code>RemoveTargets</code> doesn't guarantee all targets are removed from the rule, it means that the target(s) listed in the request are removed.</p> </note> <p>When you remove a target, when the associated rule triggers, removed targets might continue to be invoked. Allow a short period of time for changes to take effect.</p> <p>This action can partially fail if too many requests are made at the same time. If that happens, <code>FailedEntryCount</code> is non-zero in the response and each entry in <code>FailedEntries</code> provides the ID of the failed target and the error code.</p> <p>The maximum number of entries per request is 10.</p>"
    },
    "StartReplay":{
      "name":"StartReplay",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartReplayRequest"},
      "output":{"shape":"StartReplayResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceAlreadyExistsException"},
        {"shape":"InvalidEventPatternException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Starts the specified replay. Events are not necessarily replayed in the exact same order that they were added to the archive. A replay processes events to replay based on the time in the event, and replays them using 1 minute intervals. If you specify an <code>EventStartTime</code> and an <code>EventEndTime</code> that covers a 20 minute time range, the events are replayed from the first minute of that 20 minute range first. Then the events from the second minute are replayed. You can use <code>DescribeReplay</code> to determine the progress of a replay. The value returned for <code>EventLastReplayedTime</code> indicates the time within the specified time range associated with the last event replayed.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InternalException"},
        {"shape":"ManagedRuleException"}
      ],
      "documentation":"<p>Assigns one or more tags (key-value pairs) to the specified EventBridge resource. Tags can help you organize and categorize your resources. You can also use them to scope user permissions by granting a user permission to access or change only resources with certain tag values. In EventBridge, rules and event buses can be tagged.</p> <p>Tags don't have any semantic meaning to Amazon Web Services and are interpreted strictly as strings of characters.</p> <p>You can use the <code>TagResource</code> action with a resource that already has tags. If you specify a new tag key, this tag is appended to the list of tags associated with the resource. If you specify a tag key that is already associated with the resource, the new tag value that you specify replaces the previous value for that tag.</p> <p>You can associate as many as 50 tags with a resource.</p>"
    },
    "TestEventPattern":{
      "name":"TestEventPattern",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TestEventPatternRequest"},
      "output":{"shape":"TestEventPatternResponse"},
      "errors":[
        {"shape":"InvalidEventPatternException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Tests whether the specified event pattern matches the provided event.</p> <p>Most services in Amazon Web Services treat : or / as the same character in Amazon Resource Names (ARNs). However, EventBridge uses an exact match in event patterns and rules. Be sure to use the correct ARN characters when creating event patterns so that they match the ARN syntax in the event you want to match.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"ManagedRuleException"}
      ],
      "documentation":"<p>Removes one or more tags from the specified EventBridge resource. In Amazon EventBridge, rules and event buses can be tagged.</p>"
    },
    "UpdateApiDestination":{
      "name":"UpdateApiDestination",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateApiDestinationRequest"},
      "output":{"shape":"UpdateApiDestinationResponse"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Updates an API destination.</p>"
    },
    "UpdateArchive":{
      "name":"UpdateArchive",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateArchiveRequest"},
      "output":{"shape":"UpdateArchiveResponse"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidEventPatternException"}
      ],
      "documentation":"<p>Updates the specified archive.</p>"
    },
    "UpdateConnection":{
      "name":"UpdateConnection",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateConnectionRequest"},
      "output":{"shape":"UpdateConnectionResponse"},
      "errors":[
        {"shape":"ConcurrentModificationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalException"},
        {"shape":"LimitExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Updates settings for a connection.</p>"
    },
    "UpdateEndpoint":{
      "name":"UpdateEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEndpointRequest"},
      "output":{"shape":"UpdateEndpointResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"InternalException"}
      ],
      "documentation":"<p>Update an existing endpoint. For more information about global endpoints, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-global-endpoints.html\">Making applications Regional-fault tolerant with global endpoints and event replication</a> in the <i> <i>Amazon EventBridge User Guide</i> </i>.</p>"
    },
    "UpdateEventBus":{
      "name":"UpdateEventBus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateEventBusRequest"},
      "output":{"shape":"UpdateEventBusResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalException"},
        {"shape":"ConcurrentModificationException"},
        {"shape":"OperationDisabledException"}
      ],
      "documentation":"<p>Updates the specified event bus.</p>"
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>You do not have the necessary permissions for this action.</p>",
      "exception":true
    },
    "AccountId":{
      "type":"string",
      "max":12,
      "min":12,
      "pattern":"\\d{12}"
    },
    "Action":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"events:[a-zA-Z]+"
    },
    "ActivateEventSourceRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"EventSourceName",
          "documentation":"<p>The name of the partner event source to activate.</p>"
        }
      }
    },
    "ApiDestination":{
      "type":"structure",
      "members":{
        "ApiDestinationArn":{
          "shape":"ApiDestinationArn",
          "documentation":"<p>The ARN of the API destination.</p>"
        },
        "Name":{
          "shape":"ApiDestinationName",
          "documentation":"<p>The name of the API destination.</p>"
        },
        "ApiDestinationState":{
          "shape":"ApiDestinationState",
          "documentation":"<p>The state of the API destination.</p>"
        },
        "ConnectionArn":{
          "shape":"ConnectionArn",
          "documentation":"<p>The ARN of the connection specified for the API destination.</p>"
        },
        "InvocationEndpoint":{
          "shape":"HttpsEndpoint",
          "documentation":"<p>The URL to the endpoint for the API destination.</p>"
        },
        "HttpMethod":{
          "shape":"ApiDestinationHttpMethod",
          "documentation":"<p>The method to use to connect to the HTTP endpoint.</p>"
        },
        "InvocationRateLimitPerSecond":{
          "shape":"ApiDestinationInvocationRateLimitPerSecond",
          "documentation":"<p>The maximum number of invocations per second to send to the HTTP endpoint.</p>"
        },
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>A time stamp for the time that the API destination was created.</p>"
        },
        "LastModifiedTime":{
          "shape":"Timestamp",
          "documentation":"<p>A time stamp for the time that the API destination was last modified.</p>"
        }
      },
      "documentation":"<p>Contains details about an API destination.</p>"
    },
    "ApiDestinationArn":{
      "type":"string",
      "max":1600,
      "min":1,
      "pattern":"^arn:aws([a-z]|\\-)*:events:([a-z]|\\d|\\-)*:([0-9]{12})?:api-destination\\/[\\.\\-_A-Za-z0-9]+\\/[\\-A-Za-z0-9]+$"
    },
    "ApiDestinationDescription":{
      "type":"string",
      "max":512,
      "pattern":".*"
    },
    "ApiDestinationHttpMethod":{
      "type":"string",
      "enum":[
        "POST",
        "GET",
        "HEAD",
        "OPTIONS",
        "PUT",
        "PATCH",
        "DELETE"
      ]
    },
    "ApiDestinationInvocationRateLimitPerSecond":{
      "type":"integer",
      "min":1
    },
    "ApiDestinationName":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[\\.\\-_A-Za-z0-9]+"
    },
    "ApiDestinationResponseList":{
      "type":"list",
      "member":{"shape":"ApiDestination"}
    },
    "ApiDestinationState":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "INACTIVE"
      ]
    },
    "AppSyncParameters":{
      "type":"structure",
      "members":{
        "GraphQLOperation":{
          "shape":"GraphQLOperation",
          "documentation":"<p>The GraphQL operation; that is, the query, mutation, or subscription to be parsed and executed by the GraphQL service.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/appsync/latest/devguide/graphql-architecture.html#graphql-operations\">Operations</a> in the <i>AppSync User Guide</i>.</p>"
        }
      },
      "documentation":"<p>Contains the GraphQL operation to be parsed and executed, if the event target is an AppSync API.</p>"
    },
    "Archive":{
      "type":"structure",
      "members":{
        "ArchiveName":{
          "shape":"ArchiveName",
          "documentation":"<p>The name of the archive.</p>"
        },
        "EventSourceArn":{
          "shape":"EventBusArn",
          "documentation":"<p>The ARN of the event bus associated with the archive. Only events from this event bus are sent to the archive.</p>"
        },
        "State":{
          "shape":"ArchiveState",
          "documentation":"<p>The current state of the archive.</p>"
        },
        "StateReason":{
          "shape":"ArchiveStateReason",
          "documentation":"<p>A description for the reason that the archive is in the current state.</p>"
        },
        "RetentionDays":{
          "shape":"RetentionDays",
          "documentation":"<p>The number of days to retain events in the archive before they are deleted.</p>"
        },
        "SizeBytes":{
          "shape":"Long",
          "documentation":"<p>The size of the archive, in bytes.</p>"
        },
        "EventCount":{
          "shape":"Long",
          "documentation":"<p>The number of events in the archive.</p>"
        },
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time stamp for the time that the archive was created.</p>"
        }
      },
      "documentation":"<p>An <code>Archive</code> object that contains details about an archive.</p>"
    },
    "ArchiveArn":{
      "type":"string",
      "max":1600,
      "min":1,
      "pattern":"^arn:aws([a-z]|\\-)*:events:([a-z]|\\d|\\-)*:([0-9]{12})?:.+\\/.+$"
    },
    "ArchiveDescription":{
      "type":"string",
      "max":512,
      "pattern":".*"
    },
    "ArchiveName":{
      "type":"string",
      "max":48,
      "min":1,
      "pattern":"[\\.\\-_A-Za-z0-9]+"
    },
    "ArchiveResponseList":{
      "type":"list",
      "member":{"shape":"Archive"}
    },
    "ArchiveState":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED",
        "CREATING",
        "UPDATING",
        "CREATE_FAILED",
        "UPDATE_FAILED"
      ]
    },
    "ArchiveStateReason":{
      "type":"string",
      "max":512,
      "pattern":".*"
    },
    "Arn":{
      "type":"string",
      "max":1600,
      "min":1
    },
    "AssignPublicIp":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "AuthHeaderParameters":{
      "type":"string",
      "max":512,
      "min":1,
      "pattern":"^[ \\t]*[^\\x00-\\x1F:\\x7F]+([ \\t]+[^\\x00-\\x1F:\\x7F]+)*[ \\t]*$"
    },
    "AuthHeaderParametersSensitive":{
      "type":"string",
      "max":512,
      "min":1,
      "pattern":"^[ \\t]*[^\\x00-\\x1F:\\x7F]+([ \\t]+[^\\x00-\\x1F:\\x7F]+)*[ \\t]*$",
      "sensitive":true
    },
    "AwsVpcConfiguration":{
      "type":"structure",
      "required":["Subnets"],
      "members":{
        "Subnets":{
          "shape":"StringList",
          "documentation":"<p>Specifies the subnets associated with the task. These subnets must all be in the same VPC. You can specify as many as 16 subnets.</p>"
        },
        "SecurityGroups":{
          "shape":"StringList",
          "documentation":"<p>Specifies the security groups associated with the task. These security groups must all be in the same VPC. You can specify as many as five security groups. If you do not specify a security group, the default security group for the VPC is used.</p>"
        },
        "AssignPublicIp":{
          "shape":"AssignPublicIp",
          "documentation":"<p>Specifies whether the task's elastic network interface receives a public IP address. You can specify <code>ENABLED</code> only when <code>LaunchType</code> in <code>EcsParameters</code> is set to <code>FARGATE</code>.</p>"
        }
      },
      "documentation":"<p>This structure specifies the VPC subnets and security groups for the task, and whether a public IP address is to be used. This structure is relevant only for ECS tasks that use the <code>awsvpc</code> network mode.</p>"
    },
    "BatchArrayProperties":{
      "type":"structure",
      "members":{
        "Size":{
          "shape":"Integer",
          "documentation":"<p>The size of the array, if this is an array batch job. Valid values are integers between 2 and 10,000.</p>"
        }
      },
      "documentation":"<p>The array properties for the submitted job, such as the size of the array. The array size can be between 2 and 10,000. If you specify array properties for a job, it becomes an array job. This parameter is used only if the target is an Batch job.</p>"
    },
    "BatchParameters":{
      "type":"structure",
      "required":[
        "JobDefinition",
        "JobName"
      ],
      "members":{
        "JobDefinition":{
          "shape":"String",
          "documentation":"<p>The ARN or name of the job definition to use if the event target is an Batch job. This job definition must already exist.</p>"
        },
        "JobName":{
          "shape":"String",
          "documentation":"<p>The name to use for this execution of the job, if the target is an Batch job.</p>"
        },
        "ArrayProperties":{
          "shape":"BatchArrayProperties",
          "documentation":"<p>The array properties for the submitted job, such as the size of the array. The array size can be between 2 and 10,000. If you specify array properties for a job, it becomes an array job. This parameter is used only if the target is an Batch job.</p>"
        },
        "RetryStrategy":{
          "shape":"BatchRetryStrategy",
          "documentation":"<p>The retry strategy to use for failed jobs, if the target is an Batch job. The retry strategy is the number of times to retry the failed job execution. Valid values are 1–10. When you specify a retry strategy here, it overrides the retry strategy defined in the job definition.</p>"
        }
      },
      "documentation":"<p>The custom parameters to be used when the target is an Batch job.</p>"
    },
    "BatchRetryStrategy":{
      "type":"structure",
      "members":{
        "Attempts":{
          "shape":"Integer",
          "documentation":"<p>The number of times to attempt to retry, if the job fails. Valid values are 1–10.</p>"
        }
      },
      "documentation":"<p>The retry strategy to use for failed jobs, if the target is an Batch job. If you specify a retry strategy here, it overrides the retry strategy defined in the job definition.</p>"
    },
    "Boolean":{"type":"boolean"},
    "CancelReplayRequest":{
      "type":"structure",
      "required":["ReplayName"],
      "members":{
        "ReplayName":{
          "shape":"ReplayName",
          "documentation":"<p>The name of the replay to cancel.</p>"
        }
      }
    },
    "CancelReplayResponse":{
      "type":"structure",
      "members":{
        "ReplayArn":{
          "shape":"ReplayArn",
          "documentation":"<p>The ARN of the replay to cancel.</p>"
        },
        "State":{
          "shape":"ReplayState",
          "documentation":"<p>The current state of the replay.</p>"
        },
        "StateReason":{
          "shape":"ReplayStateReason",
          "documentation":"<p>The reason that the replay is in the current state.</p>"
        }
      }
    },
    "CapacityProvider":{
      "type":"string",
      "max":255,
      "min":1
    },
    "CapacityProviderStrategy":{
      "type":"list",
      "member":{"shape":"CapacityProviderStrategyItem"},
      "max":6
    },
    "CapacityProviderStrategyItem":{
      "type":"structure",
      "required":["capacityProvider"],
      "members":{
        "capacityProvider":{
          "shape":"CapacityProvider",
          "documentation":"<p>The short name of the capacity provider.</p>"
        },
        "weight":{
          "shape":"CapacityProviderStrategyItemWeight",
          "documentation":"<p>The weight value designates the relative percentage of the total number of tasks launched that should use the specified capacity provider. The weight value is taken into consideration after the base value, if defined, is satisfied.</p>"
        },
        "base":{
          "shape":"CapacityProviderStrategyItemBase",
          "documentation":"<p>The base value designates how many tasks, at a minimum, to run on the specified capacity provider. Only one capacity provider in a capacity provider strategy can have a base defined. If no value is specified, the default value of 0 is used. </p>"
        }
      },
      "documentation":"<p>The details of a capacity provider strategy. To learn more, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_CapacityProviderStrategyItem.html\">CapacityProviderStrategyItem</a> in the Amazon ECS API Reference.</p>"
    },
    "CapacityProviderStrategyItemBase":{
      "type":"integer",
      "max":100000,
      "min":0
    },
    "CapacityProviderStrategyItemWeight":{
      "type":"integer",
      "max":1000,
      "min":0
    },
    "ConcurrentModificationException":{
      "type":"structure",
      "members":{},
      "documentation":"<p>There is concurrent modification on a rule, target, archive, or replay.</p>",
      "exception":true
    },
    "Condition":{
      "type":"structure",
      "required":[
        "Type",
        "Key",
        "Value"
      ],
      "members":{
        "Type":{
          "shape":"String",
          "documentation":"<p>Specifies the type of condition. Currently the only supported value is <code>StringEquals</code>.</p>"
        },
        "Key":{
          "shape":"String",
          "documentation":"<p>Specifies the key for the condition. Currently the only supported key is <code>aws:PrincipalOrgID</code>.</p>"
        },
        "Value":{
          "shape":"String",
          "documentation":"<p>Specifies the value for the key. Currently, this must be the ID of the organization.</p>"
        }
      },
      "documentation":"<p>A JSON string which you can use to limit the event bus permissions you are granting to only accounts that fulfill the condition. Currently, the only supported condition is membership in a certain Amazon Web Services organization. The string must contain <code>Type</code>, <code>Key</code>, and <code>Value</code> fields. The <code>Value</code> field specifies the ID of the Amazon Web Services organization. Following is an example value for <code>Condition</code>:</p> <p> <code>'{\"Type\" : \"StringEquals\", \"Key\": \"aws:PrincipalOrgID\", \"Value\": \"o-1234567890\"}'</code> </p>"
    },
    "Connection":{
      "type":"structure",
      "members":{
        "ConnectionArn":{
          "shape":"ConnectionArn",
          "documentation":"<p>The ARN of the connection.</p>"
        },
        "Name":{
          "shape":"ConnectionName",
          "documentation":"<p>The name of the connection.</p>"
        },
        "ConnectionState":{
          "shape":"ConnectionState",
          "documentation":"<p>The state of the connection.</p>"
        },
        "StateReason":{
          "shape":"ConnectionStateReason",
          "documentation":"<p>The reason that the connection is in the connection state.</p>"
        },
        "AuthorizationType":{
          "shape":"ConnectionAuthorizationType",
          "documentation":"<p>The authorization type specified for the connection.</p> <note> <p>OAUTH tokens are refreshed when a 401 or 407 response is returned.</p> </note>"
        },
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>A time stamp for the time that the connection was created.</p>"
        },
        "LastModifiedTime":{
          "shape":"Timestamp",
          "documentation":"<p>A time stamp for the time that the connection was last modified.</p>"
        },
        "LastAuthorizedTime":{
          "shape":"Timestamp",
          "documentation":"<p>A time stamp for the time that the connection was last authorized.</p>"
        }
      },
      "documentation":"<p>Contains information about a connection.</p>"
    },
    "ConnectionApiKeyAuthResponseParameters":{
      "type":"structure",
      "members":{
        "ApiKeyName":{
          "shape":"AuthHeaderParameters",
          "documentation":"<p>The name of the header to use for the <code>APIKeyValue</code> used for authorization.</p>"
        }
      },
      "documentation":"<p>Contains the authorization parameters for the connection if API Key is specified as the authorization type.</p>"
    },
    "ConnectionArn":{
      "type":"string",
      "max":1600,
      "min":1,
      "pattern":"^arn:aws([a-z]|\\-)*:events:([a-z]|\\d|\\-)*:([0-9]{12})?:connection\\/[\\.\\-_A-Za-z0-9]+\\/[\\-A-Za-z0-9]+$"
    },
    "ConnectionAuthResponseParameters":{
      "type":"structure",
      "members":{
        "BasicAuthParameters":{
          "shape":"ConnectionBasicAuthResponseParameters",
          "documentation":"<p>The authorization parameters for Basic authorization.</p>"
        },
        "OAuthParameters":{
          "shape":"ConnectionOAuthResponseParameters",
          "documentation":"<p>The OAuth parameters to use for authorization.</p>"
        },
        "ApiKeyAuthParameters":{
          "shape":"ConnectionApiKeyAuthResponseParameters",
          "documentation":"<p>The API Key parameters to use for authorization.</p>"
        },
        "InvocationHttpParameters":{
          "shape":"ConnectionHttpParameters",
          "documentation":"<p>Additional parameters for the connection that are passed through with every invocation to the HTTP endpoint.</p>"
        },
        "ConnectivityParameters":{
          "shape":"DescribeConnectionConnectivityParameters",
          "documentation":"<p>For private OAuth authentication endpoints. The parameters EventBridge uses to authenticate against the endpoint.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-target-connection-auth.html\">Authorization methods for connections</a> in the <i> <i>Amazon EventBridge User Guide</i> </i>.</p>"
        }
      },
      "documentation":"<p>Tthe authorization parameters to use for the connection.</p>"
    },
    "ConnectionAuthorizationType":{
      "type":"string",
      "enum":[
        "BASIC",
        "OAUTH_CLIENT_CREDENTIALS",
        "API_KEY"
      ]
    },
    "ConnectionBasicAuthResponseParameters":{
      "type":"structure",
      "members":{
        "Username":{
          "shape":"AuthHeaderParameters",
          "documentation":"<p>The user name to use for Basic authorization.</p>"
        }
      },
      "documentation":"<p>The authorization parameters for the connection if Basic is specified as the authorization type.</p>"
    },
    "ConnectionBodyParameter":{
      "type":"structure",
      "members":{
        "Key":{
          "shape":"String",
          "documentation":"<p>The key for the parameter.</p>"
        },
        "Value":{
          "shape":"SensitiveString",
          "documentation":"<p>The value associated with the key.</p>"
        },
        "IsValueSecret":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the value is secret.</p>"
        }
      },
      "documentation":"<p>Additional parameter included in the body. You can include up to 100 additional body parameters per request. An event payload cannot exceed 64 KB.</p>"
    },
    "ConnectionBodyParametersList":{
      "type":"list",
      "member":{"shape":"ConnectionBodyParameter"},
      "max":100,
      "min":0
    },
    "ConnectionDescription":{
      "type":"string",
      "max":512,
      "pattern":".*"
    },
    "ConnectionHeaderParameter":{
      "type":"structure",
      "members":{
        "Key":{
          "shape":"HeaderKey",
          "documentation":"<p>The key for the parameter.</p>"
        },
        "Value":{
          "shape":"HeaderValueSensitive",
          "documentation":"<p>The value associated with the key.</p>"
        },
        "IsValueSecret":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the value is a secret.</p>"
        }
      },
      "documentation":"<p>Additional parameter included in the header. You can include up to 100 additional header parameters per request. An event payload cannot exceed 64 KB.</p>"
    },
    "ConnectionHeaderParametersList":{
      "type":"list",
      "member":{"shape":"ConnectionHeaderParameter"},
      "max":100,
      "min":0
    },
    "ConnectionHttpParameters":{
      "type":"structure",
      "members":{
        "HeaderParameters":{
          "shape":"ConnectionHeaderParametersList",
          "documentation":"<p>Any additional header parameters for the connection.</p>"
        },
        "QueryStringParameters":{
          "shape":"ConnectionQueryStringParametersList",
          "documentation":"<p>Any additional query string parameters for the connection.</p>"
        },
        "BodyParameters":{
          "shape":"ConnectionBodyParametersList",
          "documentation":"<p>Any additional body string parameters for the connection.</p>"
        }
      },
      "documentation":"<p>Any additional parameters for the connection.</p>"
    },
    "ConnectionName":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"[\\.\\-_A-Za-z0-9]+"
    },
    "ConnectionOAuthClientResponseParameters":{
      "type":"structure",
      "members":{
        "ClientID":{
          "shape":"AuthHeaderParameters",
          "documentation":"<p>The client ID associated with the response to the connection request.</p>"
        }
      },
      "documentation":"<p>The client response parameters for the connection when OAuth is specified as the authorization type.</p>"
    },
    "ConnectionOAuthHttpMethod":{
      "type":"string",
      "enum":[
        "GET",
        "POST",
        "PUT"
      ]
    },
    "ConnectionOAuthResponseParameters":{
      "type":"structure",
      "members":{
        "ClientParameters":{
          "shape":"ConnectionOAuthClientResponseParameters",
          "documentation":"<p>Details about the client parameters returned when OAuth is specified as the authorization type.</p>"
        },
        "AuthorizationEndpoint":{
          "shape":"HttpsEndpoint",
          "documentation":"<p>The URL to the HTTP endpoint that authorized the request.</p>"
        },
        "HttpMethod":{
          "shape":"ConnectionOAuthHttpMethod",
          "documentation":"<p>The method used to connect to the HTTP endpoint.</p>"
        },
        "OAuthHttpParameters":{
          "shape":"ConnectionHttpParameters",
          "documentation":"<p>The additional HTTP parameters used for the OAuth authorization request.</p>"
        }
      },
      "documentation":"<p>The response parameters when OAuth is specified as the authorization type.</p>"
    },
    "ConnectionQueryStringParameter":{
      "type":"structure",
      "members":{
        "Key":{
          "shape":"QueryStringKey",
          "documentation":"<p>The key for a query string parameter.</p>"
        },
        "Value":{
          "shape":"QueryStringValueSensitive",
          "documentation":"<p>The value associated with the key for the query string parameter.</p>"
        },
        "IsValueSecret":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the value is secret.</p>"
        }
      },
      "documentation":"<p>Any additional query string parameter for the connection. You can include up to 100 additional query string parameters per request. Each additional parameter counts towards the event payload size, which cannot exceed 64 KB.</p>"
    },
    "ConnectionQueryStringParametersList":{
      "type":"list",
      "member":{"shape":"ConnectionQueryStringParameter"},
      "max":100,
      "min":0
    },
    "ConnectionResponseList":{
      "type":"list",
      "member":{"shape":"Connection"}
    },
    "ConnectionState":{
      "type":"string",
      "enum":[
        "CREATING",
        "UPDATING",
        "DELETING",
        "AUTHORIZED",
        "DEAUTHORIZED",
        "AUTHORIZING",
        "DEAUTHORIZING",
        "ACTIVE",
        "FAILED_CONNECTIVITY"
      ]
    },
    "ConnectionStateReason":{
      "type":"string",
      "max":512,
      "pattern":".*"
    },
    "ConnectivityResourceConfigurationArn":{
      "type":"structure",
      "required":["ResourceConfigurationArn"],
      "members":{
        "ResourceConfigurationArn":{
          "shape":"ResourceConfigurationArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon VPC Lattice resource configuration for the resource endpoint.</p>"
        }
      },
      "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon VPC Lattice resource configuration for the resource endpoint.</p>"
    },
    "ConnectivityResourceParameters":{
      "type":"structure",
      "required":["ResourceParameters"],
      "members":{
        "ResourceParameters":{
          "shape":"ConnectivityResourceConfigurationArn",
          "documentation":"<p>The parameters for EventBridge to use when invoking the resource endpoint.</p>"
        }
      },
      "documentation":"<p>The parameters for EventBridge to use when invoking the resource endpoint.</p>"
    },
    "CreateApiDestinationRequest":{
      "type":"structure",
      "required":[
        "Name",
        "ConnectionArn",
        "InvocationEndpoint",
        "HttpMethod"
      ],
      "members":{
        "Name":{
          "shape":"ApiDestinationName",
          "documentation":"<p>The name for the API destination to create.</p>"
        },
        "Description":{
          "shape":"ApiDestinationDescription",
          "documentation":"<p>A description for the API destination to create.</p>"
        },
        "ConnectionArn":{
          "shape":"ConnectionArn",
          "documentation":"<p>The ARN of the connection to use for the API destination. The destination endpoint must support the authorization type specified for the connection.</p>"
        },
        "InvocationEndpoint":{
          "shape":"HttpsEndpoint",
          "documentation":"<p>The URL to the HTTP invocation endpoint for the API destination.</p>"
        },
        "HttpMethod":{
          "shape":"ApiDestinationHttpMethod",
          "documentation":"<p>The method to use for the request to the HTTP invocation endpoint.</p>"
        },
        "InvocationRateLimitPerSecond":{
          "shape":"ApiDestinationInvocationRateLimitPerSecond",
          "documentation":"<p>The maximum number of requests per second to send to the HTTP invocation endpoint.</p>"
        }
      }
    },
    "CreateApiDestinationResponse":{
      "type":"structure",
      "members":{
        "ApiDestinationArn":{
          "shape":"ApiDestinationArn",
          "documentation":"<p>The ARN of the API destination that was created by the request.</p>"
        },
        "ApiDestinationState":{
          "shape":"ApiDestinationState",
          "documentation":"<p>The state of the API destination that was created by the request.</p>"
        },
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>A time stamp indicating the time that the API destination was created.</p>"
        },
        "LastModifiedTime":{
          "shape":"Timestamp",
          "documentation":"<p>A time stamp indicating the time that the API destination was last modified.</p>"
        }
      }
    },
    "CreateArchiveRequest":{
      "type":"structure",
      "required":[
        "ArchiveName",
        "EventSourceArn"
      ],
      "members":{
        "ArchiveName":{
          "shape":"ArchiveName",
          "documentation":"<p>The name for the archive to create.</p>"
        },
        "EventSourceArn":{
          "shape":"EventBusArn",
          "documentation":"<p>The ARN of the event bus that sends events to the archive.</p>"
        },
        "Description":{
          "shape":"ArchiveDescription",
          "documentation":"<p>A description for the archive.</p>"
        },
        "EventPattern":{
          "shape":"EventPattern",
          "documentation":"<p>An event pattern to use to filter events sent to the archive.</p>"
        },
        "RetentionDays":{
          "shape":"RetentionDays",
          "documentation":"<p>The number of days to retain events for. Default value is 0. If set to 0, events are retained indefinitely</p>"
        },
        "KmsKeyIdentifier":{
          "shape":"KmsKeyIdentifier",
          "documentation":"<p>The identifier of the KMS customer managed key for EventBridge to use, if you choose to use a customer managed key to encrypt this archive. The identifier can be the key Amazon Resource Name (ARN), KeyId, key alias, or key alias ARN.</p> <p>If you do not specify a customer managed key identifier, EventBridge uses an Amazon Web Services owned key to encrypt the archive.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/viewing-keys.html\">Identify and view keys</a> in the <i>Key Management Service Developer Guide</i>. </p> <important> <p>If you have specified that EventBridge use a customer managed key for encrypting the source event bus, we strongly recommend you also specify a customer managed key for any archives for the event bus as well. </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/encryption-archives.html\">Encrypting archives</a> in the <i>Amazon EventBridge User Guide</i>.</p> </important>"
        }
      }
    },
    "CreateArchiveResponse":{
      "type":"structure",
      "members":{
        "ArchiveArn":{
          "shape":"ArchiveArn",
          "documentation":"<p>The ARN of the archive that was created.</p>"
        },
        "State":{
          "shape":"ArchiveState",
          "documentation":"<p>The state of the archive that was created.</p>"
        },
        "StateReason":{
          "shape":"ArchiveStateReason",
          "documentation":"<p>The reason that the archive is in the state.</p>"
        },
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time at which the archive was created.</p>"
        }
      }
    },
    "CreateConnectionApiKeyAuthRequestParameters":{
      "type":"structure",
      "required":[
        "ApiKeyName",
        "ApiKeyValue"
      ],
      "members":{
        "ApiKeyName":{
          "shape":"AuthHeaderParameters",
          "documentation":"<p>The name of the API key to use for authorization.</p>"
        },
        "ApiKeyValue":{
          "shape":"AuthHeaderParametersSensitive",
          "documentation":"<p>The value for the API key to use for authorization.</p>"
        }
      },
      "documentation":"<p>The API key authorization parameters for the connection.</p>"
    },
    "CreateConnectionAuthRequestParameters":{
      "type":"structure",
      "members":{
        "BasicAuthParameters":{
          "shape":"CreateConnectionBasicAuthRequestParameters",
          "documentation":"<p>The Basic authorization parameters to use for the connection.</p>"
        },
        "OAuthParameters":{
          "shape":"CreateConnectionOAuthRequestParameters",
          "documentation":"<p>The OAuth authorization parameters to use for the connection.</p>"
        },
        "ApiKeyAuthParameters":{
          "shape":"CreateConnectionApiKeyAuthRequestParameters",
          "documentation":"<p>The API key authorization parameters to use for the connection.</p>"
        },
        "InvocationHttpParameters":{
          "shape":"ConnectionHttpParameters",
          "documentation":"<p>The API key authorization parameters to use for the connection. Note that if you include additional parameters for the target of a rule via <code>HttpParameters</code>, including query strings, the parameters added for the connection take precedence.</p>"
        },
        "ConnectivityParameters":{
          "shape":"ConnectivityResourceParameters",
          "documentation":"<p>If you specify a private OAuth endpoint, the parameters for EventBridge to use when authenticating against the endpoint.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-target-connection-auth.html\">Authorization methods for connections</a> in the <i> <i>Amazon EventBridge User Guide</i> </i>.</p>"
        }
      },
      "documentation":"<p>The authorization parameters for the connection.</p> <p>You must include only authorization parameters for the <code>AuthorizationType</code> you specify.</p>"
    },
    "CreateConnectionBasicAuthRequestParameters":{
      "type":"structure",
      "required":[
        "Username",
        "Password"
      ],
      "members":{
        "Username":{
          "shape":"AuthHeaderParameters",
          "documentation":"<p>The user name to use for Basic authorization.</p>"
        },
        "Password":{
          "shape":"AuthHeaderParametersSensitive",
          "documentation":"<p>The password associated with the user name to use for Basic authorization.</p>"
        }
      },
      "documentation":"<p>Contains the Basic authorization parameters to use for the connection.</p>"
    },
    "CreateConnectionOAuthClientRequestParameters":{
      "type":"structure",
      "required":[
        "ClientID",
        "ClientSecret"
      ],
      "members":{
        "ClientID":{
          "shape":"AuthHeaderParameters",
          "documentation":"<p>The client ID to use for OAuth authorization for the connection.</p>"
        },
        "ClientSecret":{
          "shape":"AuthHeaderParametersSensitive",
          "documentation":"<p>The client secret associated with the client ID to use for OAuth authorization for the connection.</p>"
        }
      },
      "documentation":"<p>The Basic authorization parameters to use for the connection.</p>"
    },
    "CreateConnectionOAuthRequestParameters":{
      "type":"structure",
      "required":[
        "ClientParameters",
        "AuthorizationEndpoint",
        "HttpMethod"
      ],
      "members":{
        "ClientParameters":{
          "shape":"CreateConnectionOAuthClientRequestParameters",
          "documentation":"<p>The client parameters for OAuth authorization.</p>"
        },
        "AuthorizationEndpoint":{
          "shape":"HttpsEndpoint",
          "documentation":"<p>The URL to the authorization endpoint when OAuth is specified as the authorization type.</p>"
        },
        "HttpMethod":{
          "shape":"ConnectionOAuthHttpMethod",
          "documentation":"<p>The method to use for the authorization request.</p>"
        },
        "OAuthHttpParameters":{
          "shape":"ConnectionHttpParameters",
          "documentation":"<p>Details about the additional parameters to use for the connection.</p>"
        }
      },
      "documentation":"<p>Contains the OAuth authorization parameters to use for the connection.</p>"
    },
    "CreateConnectionRequest":{
      "type":"structure",
      "required":[
        "Name",
        "AuthorizationType",
        "AuthParameters"
      ],
      "members":{
        "Name":{
          "shape":"ConnectionName",
          "documentation":"<p>The name for the connection to create.</p>"
        },
        "Description":{
          "shape":"ConnectionDescription",
          "documentation":"<p>A description for the connection to create.</p>"
        },
        "AuthorizationType":{
          "shape":"ConnectionAuthorizationType",
          "documentation":"<p>The type of authorization to use for the connection.</p> <note> <p>OAUTH tokens are refreshed when a 401 or 407 response is returned.</p> </note>"
        },
        "AuthParameters":{
          "shape":"CreateConnectionAuthRequestParameters",
          "documentation":"<p>The authorization parameters to use to authorize with the endpoint. </p> <p>You must include only authorization parameters for the <code>AuthorizationType</code> you specify.</p>"
        },
        "InvocationConnectivityParameters":{
          "shape":"ConnectivityResourceParameters",
          "documentation":"<p>For connections to private APIs, the parameters to use for invoking the API.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/connection-private.html\">Connecting to private APIs</a> in the <i> <i>Amazon EventBridge User Guide</i> </i>.</p>"
        },
        "KmsKeyIdentifier":{
          "shape":"KmsKeyIdentifier",
          "documentation":"<p>The identifier of the KMS customer managed key for EventBridge to use, if you choose to use a customer managed key to encrypt this connection. The identifier can be the key Amazon Resource Name (ARN), KeyId, key alias, or key alias ARN.</p> <p>If you do not specify a customer managed key identifier, EventBridge uses an Amazon Web Services owned key to encrypt the connection.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/viewing-keys.html\">Identify and view keys</a> in the <i>Key Management Service Developer Guide</i>. </p>"
        }
      }
    },
    "CreateConnectionResponse":{
      "type":"structure",
      "members":{
        "ConnectionArn":{
          "shape":"ConnectionArn",
          "documentation":"<p>The ARN of the connection that was created by the request.</p>"
        },
        "ConnectionState":{
          "shape":"ConnectionState",
          "documentation":"<p>The state of the connection that was created by the request.</p>"
        },
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>A time stamp for the time that the connection was created.</p>"
        },
        "LastModifiedTime":{
          "shape":"Timestamp",
          "documentation":"<p>A time stamp for the time that the connection was last updated.</p>"
        }
      }
    },
    "CreateEndpointRequest":{
      "type":"structure",
      "required":[
        "Name",
        "RoutingConfig",
        "EventBuses"
      ],
      "members":{
        "Name":{
          "shape":"EndpointName",
          "documentation":"<p>The name of the global endpoint. For example, <code>\"Name\":\"us-east-2-custom_bus_A-endpoint\"</code>.</p>"
        },
        "Description":{
          "shape":"EndpointDescription",
          "documentation":"<p>A description of the global endpoint.</p>"
        },
        "RoutingConfig":{
          "shape":"RoutingConfig",
          "documentation":"<p>Configure the routing policy, including the health check and secondary Region..</p>"
        },
        "ReplicationConfig":{
          "shape":"ReplicationConfig",
          "documentation":"<p>Enable or disable event replication. The default state is <code>ENABLED</code> which means you must supply a <code>RoleArn</code>. If you don't have a <code>RoleArn</code> or you don't want event replication enabled, set the state to <code>DISABLED</code>.</p>"
        },
        "EventBuses":{
          "shape":"EndpointEventBusList",
          "documentation":"<p>Define the event buses used. </p> <important> <p>The names of the event buses must be identical in each Region.</p> </important>"
        },
        "RoleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p>The ARN of the role used for replication.</p>"
        }
      }
    },
    "CreateEndpointResponse":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"EndpointName",
          "documentation":"<p>The name of the endpoint that was created by this request.</p>"
        },
        "Arn":{
          "shape":"EndpointArn",
          "documentation":"<p>The ARN of the endpoint that was created by this request.</p>"
        },
        "RoutingConfig":{
          "shape":"RoutingConfig",
          "documentation":"<p>The routing configuration defined by this request.</p>"
        },
        "ReplicationConfig":{
          "shape":"ReplicationConfig",
          "documentation":"<p>Whether event replication was enabled or disabled by this request.</p>"
        },
        "EventBuses":{
          "shape":"EndpointEventBusList",
          "documentation":"<p>The event buses used by this request.</p>"
        },
        "RoleArn":{
          "shape":"IamRoleArn",
          "documentation":"<p>The ARN of the role used by event replication for this request.</p>"
        },
        "State":{
          "shape":"EndpointState",
          "documentation":"<p>The state of the endpoint that was created by this request.</p>"
        }
      }
    },
    "CreateEventBusRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"EventBusName",
          "documentation":"<p>The name of the new event bus. </p> <p>Custom event bus names can't contain the <code>/</code> character, but you can use the <code>/</code> character in partner event bus names. In addition, for partner event buses, the name must exactly match the name of the partner event source that this event bus is matched to.</p> <p>You can't use the name <code>default</code> for a custom event bus, as this name is already used for your account's default event bus.</p>"
        },
        "EventSourceName":{
          "shape":"EventSourceName",
          "documentation":"<p>If you are creating a partner event bus, this specifies the partner event source that the new event bus will be matched with.</p>"
        },
        "Description":{
          "shape":"EventBusDescription",
          "documentation":"<p>The event bus description.</p>"
        },
        "KmsKeyIdentifier":{
          "shape":"KmsKeyIdentifier",
          "documentation":"<p>The identifier of the KMS customer managed key for EventBridge to use, if you choose to use a customer managed key to encrypt events on this event bus. The identifier can be the key Amazon Resource Name (ARN), KeyId, key alias, or key alias ARN.</p> <p>If you do not specify a customer managed key identifier, EventBridge uses an Amazon Web Services owned key to encrypt events on the event bus.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/viewing-keys.html\">Identify and view keys</a> in the <i>Key Management Service Developer Guide</i>. </p> <note> <p>Schema discovery is not supported for event buses encrypted using a customer managed key. EventBridge returns an error if: </p> <ul> <li> <p>You call <code> <a href=\"https://docs.aws.amazon.com/eventbridge/latest/schema-reference/v1-discoverers.html#CreateDiscoverer\">CreateDiscoverer</a> </code> on an event bus set to use a customer managed key for encryption.</p> </li> <li> <p>You call <code> <a href=\"https://docs.aws.amazon.com/eventbridge/latest/APIReference/API_UpdatedEventBus.html\">UpdatedEventBus</a> </code> to set a customer managed key on an event bus with schema discovery enabled.</p> </li> </ul> <p>To enable schema discovery on an event bus, choose to use an Amazon Web Services owned key. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-encryption-event-bus-cmkey.html\">Encrypting events</a> in the <i>Amazon EventBridge User Guide</i>.</p> </note> <important> <p>If you have specified that EventBridge use a customer managed key for encrypting the source event bus, we strongly recommend you also specify a customer managed key for any archives for the event bus as well. </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/encryption-archives.html\">Encrypting archives</a> in the <i>Amazon EventBridge User Guide</i>.</p> </important>"
        },
        "DeadLetterConfig":{"shape":"DeadLetterConfig"},
        "LogConfig":{
          "shape":"LogConfig",
          "documentation":"<p>The logging configuration settings for the event bus.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/eb-event-bus-logs.html\">Configuring logs for event buses</a> in the <i>EventBridge User Guide</i>.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>Tags to associate with the event bus.</p>"
        }
      }
    },
    "CreateEventBusResponse":{
      "type":"structure",
      "members":{
        "EventBusArn":{
          "shape":"String",
          "documentation":"<p>The ARN of the new event bus.</p>"
        },
        "Description":{
          "shape":"EventBusDescription",
          "documentation":"<p>The event bus description.</p>"
        },
        "KmsKeyIdentifier":{
          "shape":"KmsKeyIdentifier",
          "documentation":"<p>The identifier of the KMS customer managed key for EventBridge to use to encrypt events on this event bus, if one has been specified.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eb-encryption.html\">Data encryption in EventBridge</a> in the <i>Amazon EventBridge User Guide</i>.</p>"
        },
        "DeadLetterConfig":{"shape":"DeadLetterConfig"},
        "LogConfig":{
          "shape":"LogConfig",
          "documentation":"<p>The logging configuration settings for the event bus.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/eb-event-bus-logs.html\">Configuring logs for event buses</a> in the <i>EventBridge User Guide</i>.</p>"
        }
      }
    },
    "CreatePartnerEventSourceRequest":{
      "type":"structure",
      "required":[
        "Name",
        "Account"
      ],
      "members":{
        "Name":{
          "shape":"EventSourceName",
          "documentation":"<p>The name of the partner event source. This name must be unique and must be in the format <code> <i>partner_name</i>/<i>event_namespace</i>/<i>event_name</i> </code>. The Amazon Web Services account that wants to use this partner event source must create a partner event bus with a name that matches the name of the partner event source.</p>"
        },
        "Account":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services account ID that is permitted to create a matching partner event bus for this partner event source.</p>"
        }
      }
    },
    "CreatePartnerEventSourceResponse":{
      "type":"structure",
      "members":{
        "EventSourceArn":{
          "shape":"String",
          "documentation":"<p>The ARN of the partner event source.</p>"
        }
      }
    },
    "CreatedBy":{
      "type":"string",
      "max":128,
      "min":1
    },
    "Database":{
[...]
