<div class="gh-view">
    <section class="error-content error-404 js-error-container">
        <section class="error-details">
            <section class="error-message">
                <h1 class="error-code">{{this.model.code}}</h1>
                {{#if this.model.code}}
                    <span>|</span>
                {{/if}}
                <h2 class="error-description">
                    {{or (get this.model.payload.errors "0.message") this.model.message}}
                </h2>
            </section>
        </section>
    </section>
</div>

<EmberLoadRemover />
