<section class="gh-canvas">
    <GhCanvasHeader class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>
            Components
        </h2>
    </GhCanvasHeader>

    <section class="view-container gh-main-width gh-ds">
        <h2 class="">Buttons</h2>
        <ul class="nostyle">
            <li><button class="gh-btn gh-btn-primary"><span>Primary button</span></button></li>
            <li><button class="gh-btn"><span>Regular button</span></button></li>
            <li><button class="gh-btn gh-btn-blue"><span>Blue button</span></button></li>
            <li><button class="gh-btn gh-btn-green"><span>Green button</span></button></li>
            <li><button class="gh-btn gh-btn-red"><span>Red button</span></button></li>
            <li><button class="gh-btn gh-btn-outline"><span>Outline button</span></button></li>
            <li><button class="gh-btn gh-btn-primary gh-btn-large"><span>Large button</span></button></li>
        </ul>

        <h2 class="">Lists</h2>
        
        <div class="gh-list">
            <div class="gh-list-row header">
                <div class="gh-list-header">Column 1</div>
                <div class="gh-list-header">Column 2</div>
                <div class="gh-list-header">Column 3</div>
            </div>
            <div class="gh-list-row">
                <div class="gh-list-data">
                    <h3>Data</h3>
                </div>
                <div class="gh-list-data">
                    <span>Data</span>
                </div>
                <div class="gh-list-data">
                    <span>Data</span>
                </div>
            </div>
            <div class="gh-list-row">
                <div class="gh-list-data">
                    <h3>Data</h3>
                </div>
                <div class="gh-list-data">
                    <span>Data</span>
                </div>
                <div class="gh-list-data">
                    <span>Data</span>
                </div>
            </div>
            <div class="gh-list-row">
                <div class="gh-list-data">
                    <h3>Data</h3>
                </div>
                <div class="gh-list-data">
                    <span>Data</span>
                </div>
                <div class="gh-list-data">
                    <span>Data</span>
                </div>
            </div>
        </div>

    </section>
</section>