<section class="gh-canvas">
    <GhCanvasHeader class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>
            Lexical editor components
        </h2>
    </GhCanvasHeader>

    <div class="view-container">
        <KoenigLexicalSandbox />
    </div>
</section>