<div class="gh-migrate-fullscreen-container">
    <div class="gh-migrate-close">
        <a href="javascript:void(0)" {{on "click" this.closeMigrate}} data-test-button="close-migrate">
            {{svg-jar "close"}}<span class="hidden">Close</span>
        </a>
    </div>

    <GhMigrateModal></GhMigrateModal>
</div>