<section class="gh-canvas">
    <GhCanvasHeader class="gh-canvas-header break tablet members-header">
        <h2 class="gh-canvas-title" data-test-screen-title>Offers</h2>
        <section class="view-actions">
            <LinkTo @route="offer" class="gh-btn gh-btn-primary"><span>New offer</span></LinkTo>
        </section>
    </GhCanvasHeader>

    <section class="view-container">
        Offers...
    </section>
</section>