<section class="gh-canvas gh-canvas-sticky">
    <GhCanvasHeader class="gh-canvas-header sticky break tablet post-header">
        <GhCustomViewTitle @title="Stats" />
    </GhCanvasHeader>

    <Stats::Charts::TopLocations />

</section>