<section class="gh-canvas">
    <GhCanvasHeader class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>Tags</h2>
        <section class="view-actions">
            <LinkTo @route="tag.new" class="gh-btn gh-btn-primary"><span>New tag</span></LinkTo>
        </section>
    </GhCanvasHeader>

    <div class="gh-content">
        <GhLoadingSpinner />
    </div>
</section>
