<section class="gh-canvas">
    <GhCanvasHeader class="gh-canvas-header">
        <div class="flex flex-column">
            <h2 class="gh-canvas-title" data-test-screen-title>
                Testing Websockets
            </h2>
        </div>
    </GhCanvasHeader>
    {{#if (feature 'websockets')}}
    <section class="view-container settings-debug">
        <p class="gh-box gh-box-tip">{{svg-jar "idea"}}This is a testing ground for new or experimental features. They
            may change, break or inexplicably disappear at any time.</p>
        <div class="gh-main-section">
            <h4 class="gh-main-section-header small bn">Secrets</h4>
            <div class="gh-expandable">
                <div class="gh-expandable-block">
                    <Websockets />
                </div>
            </div>
        </div>
    </section>
    {{else}}
    <section class="view-container settings-debug">
        <p class="gh-box gh-box-alert">{{svg-jar "warning-stroke"}}This is a testing ground for new or experimental features. You need developer experiments
            enabled to see the content here.
        </p>
    </section>
    {{/if}}
</section>