<section class="gh-canvas">
    <header class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>Members</h2>
        <div class="view-actions"></div>
    </header>

    <section class="view-container">
        <p>...</p>
    </section>
</section>