{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{> "banner-slider"}}
{{> "live-news"}}

<!-- LAYOUT CONTENT 1 -->
  <div class="layout-content-1 layout-item-3-1 search-pad grid-limit">
    <!-- LAYOUT BODY -->
    <div class="layout-body layout-item centered">
        <!-- LAYOUT ITEM -->
      <div class="layout-item">
        <!-- POST PREVIEW SET -->
        <div class="post-preview-set">
          <!-- POST PREVIEW SET LEFT -->
          <div class="post-preview-set-left">
            <!-- POST PREVIEW -->
            <div class="post-preview picture big game-review">
              <!-- POST PREVIEW IMG WRAP -->
              <a href="post-v2.html">
                <div class="post-preview-img-wrap">
                  <!-- POST PREVIEW IMG -->
                  <figure class="post-preview-img liquid">
                    <img src="img/posts/16.jpg" alt="post-16">
                  </figure>
                  <!-- /POST PREVIEW IMG -->

                  <!-- POST PREVIEW OVERLAY -->
                  <div class="post-preview-overlay">
                    <!-- TAG ORNAMENT -->
                    <span class="tag-ornament">Game Reviews</span>
                    <!-- /TAG ORNAMENT -->

                    <!-- POST PREVIEW TITLE -->
                    <p class="post-preview-title">We reviewed the new Magimons game</p>
                    <!-- POST PREVIEW TEXT -->
                    <p class="post-preview-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                  </div>
                  <!-- /POST PREVIEW OVERLAY -->

                  <!-- REVIEW RATING -->
                  <div class="review-rating">
                    <div id="content-news-rate-1" class="arc medium"></div>
                  </div>
                  <!-- /REVIEW RATING -->
                </div>
              </a>
              <!-- /POST PREVIEW IMG WRAP -->
            </div>
            <!-- /POST PREVIEW -->
          </div>
          <!-- /POST PREVIEW SET LEFT -->

          <!-- POST PREVIEW SET RIGHT -->
          <div class="post-preview-set-right">
            <!-- POST PREVIEW -->
            <div class="post-preview picture gaming-news">
              <!-- POST PREVIEW IMG WRAP -->
              <a href="post-v1.html">
                <div class="post-preview-img-wrap">
                  <!-- POST PREVIEW IMG -->
                  <figure class="post-preview-img liquid">
                    <img src="img/posts/07.jpg" alt="post-07">
                  </figure>
                  <!-- /POST PREVIEW IMG -->

                  <!-- POST PREVIEW OVERLAY -->
                  <div class="post-preview-overlay">
                    <!-- POST PREVIEW TITLE -->
                    <p class="post-preview-title">New expansion pack coming to "Rise of Depredators"</p>
                  </div>
                  <!-- /POST PREVIEW OVERLAY -->

                  <!-- TAG ORNAMENT -->
                  <span class="tag-ornament">Gaming news</span>
                  <!-- /TAG ORNAMENT -->
                </div>
              </a>
              <!-- /POST PREVIEW IMG WRAP -->
            </div>
            <!-- /POST PREVIEW -->

            <!-- POST PREVIEW -->
            <div class="post-preview picture game-review">
              <!-- POST PREVIEW IMG WRAP -->
              <a href="post-v2.html">
                <div class="post-preview-img-wrap">
                  <!-- POST PREVIEW IMG -->
                  <figure class="post-preview-img liquid">
                    <img src="img/posts/25.jpg" alt="post-25">
                  </figure>
                  <!-- /POST PREVIEW IMG -->

                  <!-- POST PREVIEW OVERLAY -->
                  <div class="post-preview-overlay">
                    <!-- POST PREVIEW TITLE -->
                    <p class="post-preview-title">"Legend of Kenshi II" is a bit green for now</p>
                  </div>
                  <!-- /POST PREVIEW OVERLAY -->

                  <!-- TAG ORNAMENT -->
                  <span class="tag-ornament">Game reviews</span>
                  <!-- /TAG ORNAMENT -->

                  <!-- REVIEW RATING -->
                  <div class="review-rating">
                    <div id="content-news-rate-2" class="arc small"></div>
                  </div>
                  <!-- /REVIEW RATING -->
                </div>
              </a>
              <!-- /POST PREVIEW IMG WRAP -->
            </div>
            <!-- /POST PREVIEW -->

            <!-- POST PREVIEW -->
            <div class="post-preview picture geeky-news">
              <!-- POST PREVIEW IMG WRAP -->
              <a href="post-v4.html">
                <div class="post-preview-img-wrap">
                  <!-- POST PREVIEW IMG -->
                  <figure class="post-preview-img liquid">
                    <img src="img/posts/18.jpg" alt="post-18">
                  </figure>
                  <!-- /POST PREVIEW IMG -->

                  <!-- POST PREVIEW OVERLAY -->
                  <div class="post-preview-overlay">
                    <!-- POST PREVIEW TITLE -->
                    <p class="post-preview-title">"Ichigo Idol" anime will have a new season in April</p>
                  </div>
                  <!-- /POST PREVIEW OVERLAY -->

                  <!-- TAG ORNAMENT -->
                  <span class="tag-ornament">Geeky news</span>
                  <!-- /TAG ORNAMENT -->
                </div>
              </a>
              <!-- /POST PREVIEW IMG WRAP -->
            </div>
            <!-- /POST PREVIEW -->
          </div>
          <!-- /POST PREVIEW SET RIGHT -->
        </div>
        <!-- /POST PREVIEW SET -->
      </div>
      <!-- /LAYOUT ITEM -->

      <!-- LAYOUT ITEM 2-1 -->
      <div class="layout-item-2-1">
        <!-- LAYOUT ITEM -->
        <div class="layout-item">
          <!-- POST PREVIEW -->
          <div class="post-preview big gaming-news">
            <!-- POST PREVIEW IMG WRAP -->
            <a href="post-v1.html">
              <div class="post-preview-img-wrap">
                <!-- POST PREVIEW IMG -->
                <figure class="post-preview-img liquid">
                  <img src="img/posts/01.jpg" alt="post-01">
                </figure>
                <!-- POST PREVIEW IMG -->
              </div>
            </a>
            <!-- /POST PREVIEW IMG WRAP -->

            <!-- TAG ORNAMENT -->
            <a href="news-v1.html" class="tag-ornament">Gaming news</a>
            <!-- /TAG ORNAMENT -->

            <!-- POST PREVIEW TITLE -->
            <a href="post-v1.html" class="post-preview-title">The Clash of Dragons is breaking record sales in USA and Japan</a>
            <!-- POST AUTHOR INFO -->
            <div class="post-author-info-wrap">
              <!-- USER AVATAR -->
              <a href="search-results.html">
                <figure class="user-avatar tiny liquid">
                  <img src="img/users/01.jpg" alt="user-01">
                </figure>
              </a>
              <!-- /USER AVATAR -->
              <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Dexter</a><span class="separator">|</span>December 15th, 2018<span class="separator">|</span><a href="post-v1.html#op-comments" class="post-comment-count">174 Comments</a></p>
            </div>
            <!-- /POST AUTHOR INFO -->
            <!-- POST PREVIEW TEXT -->
            <p class="post-preview-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt dutor et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation loso laboris tempora aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat pidatat.</p>
          </div>
          <!-- /POST PREVIEW -->

          <!-- POST PREVIEW -->
          <div class="post-preview big game-review">
            <!-- POST PREVIEW IMG WRAP -->
            <a href="post-v2.html">
              <div class="post-preview-img-wrap">
                <!-- POST PREVIEW IMG -->
                <figure class="post-preview-img liquid">
                  <img src="img/posts/05.jpg" alt="post-05">
                </figure>
                <!-- POST PREVIEW IMG -->

                <!-- REVIEW RATING -->
                <div class="review-rating">
                  <div id="content-news-rate-3" class="arc"></div>
                </div>
                <!-- /REVIEW RATING -->
              </div>
            </a>
            <!-- /POST PREVIEW IMG WRAP -->

            <!-- TAG ORNAMENT -->
            <a href="news-v2.html" class="tag-ornament">Game Reviews</a>
            <!-- /TAG ORNAMENT -->

            <!-- POST PREVIEW TITLE -->
            <a href="post-v2.html" class="post-preview-title">We reviewed the new and exciting Fantasy game "Olympus"</a>
            <!-- POST AUTHOR INFO -->
            <div class="post-author-info-wrap">
              <!-- USER AVATAR -->
              <a href="search-results.html">
                <figure class="user-avatar tiny liquid">
                  <img src="img/users/04.jpg" alt="user-04">
                </figure>
              </a>
              <!-- /USER AVATAR -->
              <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Vellatrix</a><span class="separator">|</span>December 15th, 2018<span class="separator">|</span><a href="post-v2.html#op-comments" class="post-comment-count">258 Comments</a></p>
            </div>
            <!-- /POST AUTHOR INFO -->
            <!-- POST PREVIEW TEXT -->
            <p class="post-preview-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt dutor et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation loso laboris tempora aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat pidatat.</p>
          </div>
          <!-- /POST PREVIEW -->

          <!-- POST PREVIEW -->
          <div class="post-preview big gaming-news">
            <!-- POST PREVIEW IMG WRAP -->
            <a href="post-v1.html">
              <div class="post-preview-img-wrap">
                <!-- POST PREVIEW IMG -->
                <figure class="post-preview-img liquid">
                  <img src="img/posts/27.jpg" alt="post-27">
                </figure>
                <!-- POST PREVIEW IMG -->
              </div>
            </a>
            <!-- /POST PREVIEW IMG WRAP -->

            <!-- TAG ORNAMENT -->
            <a href="news-v1.html" class="tag-ornament">Gaming news</a>
            <!-- /TAG ORNAMENT -->

            <!-- POST PREVIEW TITLE -->
            <a href="post-v1.html" class="post-preview-title">Everything about Kawai Party 8!</a>
            <!-- POST AUTHOR INFO -->
            <div class="post-author-info-wrap">
              <!-- USER AVATAR -->
              <a href="search-results.html">
                <figure class="user-avatar tiny liquid">
                  <img src="img/users/01.jpg" alt="user-01">
                </figure>
              </a>
              <!-- /USER AVATAR -->
              <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Dexter</a><span class="separator">|</span>December 15th, 2018<span class="separator">|</span><a href="post-v1.html#op-comments" class="post-comment-count">174 Comments</a></p>
            </div>
            <!-- /POST AUTHOR INFO -->
            <!-- POST PREVIEW TEXT -->
            <p class="post-preview-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt dutor et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation loso laboris tempora aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat pidatat.</p>
          </div>
          <!-- /POST PREVIEW -->
        </div>
        <!-- /LAYOUT ITEM -->

        <!-- LAYOUT ITEM -->
        <div class="layout-item">
          <!-- POST PREVIEW -->
          <div class="post-preview gaming-news img-toggle">
            <!-- POST PREVIEW IMG WRAP -->
            <a href="post-v1.html">
              <div class="post-preview-img-wrap">
                <!-- POST PREVIEW IMG -->
                <figure class="post-preview-img liquid">
                  <img src="img/posts/17.jpg" alt="post-17">
                </figure>
                <!-- /POST PREVIEW IMG -->
              </div>
            </a>
            <!-- /POST PREVIEW IMG WRAP -->

            <!-- TAG ORNAMENT -->
            <a href="news-v1.html" class="tag-ornament">Gaming news</a>
            <!-- /TAG ORNAMENT -->

            <!-- POST PREVIEW TITLE -->
            <a href="post-v1.html" class="post-preview-title">Jazzstar announced that the GTE5 for PC is delayed</a>
            <!-- POST AUTHOR INFO -->
            <div class="post-author-info-wrap">
              <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Vellatrix</a><span class="separator">|</span>December 15th, 2018</p>
            </div>
            <!-- /POST AUTHOR INFO -->
            <!-- POST PREVIEW TEXT -->
            <p class="post-preview-text">Lorem ipsum dolor sit amet, consectetur bere adipisicing elit, sed do eiusmod tempor lorem incididunt ut labore et dolore magna.</p>
          </div>
          <!-- /POST PREVIEW -->

          <!-- POST PREVIEW -->
          <div class="post-preview geeky-news img-toggle">
            <!-- POST PREVIEW IMG WRAP -->
            <a href="post-v4.html">
              <div class="post-preview-img-wrap">
                <!-- POST PREVIEW IMG -->
                <figure class="post-preview-img liquid">
                  <img src="img/posts/02.jpg" alt="post-02">
                </figure>
                <!-- /POST PREVIEW IMG -->
              </div>
            </a>
            <!-- /POST PREVIEW IMG WRAP -->

            <!-- TAG ORNAMENT -->
            <a href="news-v4.html" class="tag-ornament">Geeky news</a>
            <!-- /TAG ORNAMENT -->

            <!-- POST PREVIEW TITLE -->
            <a href="post-v4.html" class="post-preview-title">Jessica Tam to star in the new "Charlotte" series</a>
            <!-- POST AUTHOR INFO -->
            <div class="post-author-info-wrap">
              <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Vellatrix</a><span class="separator">|</span>December 15th, 2018</p>
            </div>
            <!-- /POST AUTHOR INFO -->
            <!-- POST PREVIEW TEXT -->
            <p class="post-preview-text">Lorem ipsum dolor sit amet, consectetur bere adipisicing elit, sed do eiusmod tempor lorem incididunt ut labore et dolore magna.</p>
          </div>
          <!-- /POST PREVIEW -->

          <!-- POST PREVIEW -->
          <div class="post-preview gaming-news img-toggle">
            <!-- POST PREVIEW IMG WRAP -->
            <a href="post-v1.html">
              <div class="post-preview-img-wrap">
                <!-- POST PREVIEW IMG -->
                <figure class="post-preview-img liquid">
                  <img src="img/posts/09.jpg" alt="post-09">
                </figure>
                <!-- /POST PREVIEW IMG -->
              </div>
            </a>
            <!-- /POST PREVIEW IMG WRAP -->

            <!-- TAG ORNAMENT -->
            <a href="news-v1.html" class="tag-ornament">Gaming news</a>
            <!-- /TAG ORNAMENT -->

            <!-- POST PREVIEW TITLE -->
            <a href="post-v1.html" class="post-preview-title">New "Rizen" game is gonna be released in summer 2019</a>
            <!-- POST AUTHOR INFO -->
            <div class="post-author-info-wrap">
              <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Vellatrix</a><span class="separator">|</span>December 15th, 2018</p>
            </div>
            <!-- /POST AUTHOR INFO -->
            <!-- POST PREVIEW TEXT -->
            <p class="post-preview-text">Lorem ipsum dolor sit amet, consectetur bere adipisicing elit, sed do eiusmod tempor lorem incididunt ut labore et dolore magna.</p>
          </div>
          <!-- /POST PREVIEW -->

          <!-- POST PREVIEW -->
          <div class="post-preview game-review img-toggle">
            <!-- POST PREVIEW IMG WRAP -->
            <a href="post-v2.html">
              <div class="post-preview-img-wrap">
                <!-- POST PREVIEW IMG -->
                <figure class="post-preview-img liquid">
                  <img src="img/posts/08.jpg" alt="post-08">
                </figure>
                <!-- /POST PREVIEW IMG -->

                <!-- REVIEW RATING -->
                <div class="review-rating">
                  <div id="content-news-rate-4" class="arc small"></div>
                </div>
                <!-- /REVIEW RATING -->
              </div>
            </a>
            <!-- /POST PREVIEW IMG WRAP -->

            <!-- TAG ORNAMENT -->
            <a href="news-v2.html" class="tag-ornament">Game reviews</a>
            <!-- /TAG ORNAMENT -->

            <!-- POST PREVIEW TITLE -->
            <a href="post-v2.html" class="post-preview-title">The new mecha cyborg game is breaking barriers</a>
            <!-- POST AUTHOR INFO -->
            <div class="post-author-info-wrap">
              <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Vellatrix</a><span class="separator">|</span>December 15th, 2018</p>
            </div>
            <!-- /POST AUTHOR INFO -->
            <!-- POST PREVIEW TEXT -->
            <p class="post-preview-text">Lorem ipsum dolor sit amet, consectetur bere adipisicing elit, sed do eiusmod tempor lorem incididunt ut labore et dolore magna.</p>
          </div>
          <!-- /POST PREVIEW -->

          <!-- POST PREVIEW -->
          <div class="post-preview movie-news img-toggle">
            <!-- POST PREVIEW IMG WRAP -->
            <a href="post-v3.html">
              <div class="post-preview-img-wrap">
                <!-- POST PREVIEW IMG -->
                <figure class="post-preview-img liquid">
                  <img src="img/posts/12.jpg" alt="post-12">
                </figure>
                <!-- /POST PREVIEW IMG -->

                <!-- RATING ORNAMENT -->
                <div class="rating-ornament">
                  <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->

                  <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->

                    <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->

                    <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon empty">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->

                    <!-- RATING ORNAMENT ITEM -->
                  <div class="rating-ornament-item">
                    <!-- RATING ORNAMENT ICON -->
                    <svg class="rating-ornament-icon empty">
                      <use xlink:href="#svg-star"></use>
                    </svg>
                  </div>
                  <!-- /RATING ORNAMENT ITEM -->
                </div>
                <!-- /RATING ORNAMENT -->
              </div>
            </a>
            <!-- /POST PREVIEW IMG WRAP -->

            <!-- TAG ORNAMENT -->
            <a href="news-v3.html" class="tag-ornament">Movie news</a>
            <!-- /TAG ORNAMENT -->

            <!-- POST PREVIEW TITLE -->
            <a href="post-v3.html" class="post-preview-title">We reviewed the "Guardians of the Universe" movie</a>
            <!-- POST AUTHOR INFO -->
            <div class="post-author-info-wrap">
              <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Faye V.</a><span class="separator">|</span>December 15th, 2018</p>
            </div>
            <!-- /POST AUTHOR INFO -->
            <!-- POST PREVIEW TEXT -->
            <p class="post-preview-text">Lorem ipsum dolor sit amet, consectetur bere adipisicing elit, sed do eiusmod tempor lorem incididunt ut labore et dolore magna.</p>
          </div>
          <!-- /POST PREVIEW -->
        </div>
        <!-- /LAYOUT ITEM -->
      </div>
      <!-- /LAYOUT ITEM 2-1 -->

      <!-- LAYOUT ITEM 1-1-1 -->
      <div class="layout-item layout-item-1-1-1 padded">
        <!-- POST PREVIEW SHOWCASE -->
        <div class="post-preview-showcase">
          <!-- SECTION TITLE WRAP -->
          <div class="section-title-wrap blue">
            <h2 class="section-title medium">Gaming News</h2>
            <div class="section-title-separator"></div>
          </div>
          <!-- /SECTION TITLE WRAP -->

          <!-- POST PREVIEW SHOWCASE -->
          <div class="post-preview-showcase">
            <!-- POST PREVIEW -->
            <div class="post-preview gaming-news">
              <!-- POST PREVIEW IMG WRAP -->
              <a href="post-v1.html">
                <div class="post-preview-img-wrap">
                  <!-- POST PREVIEW IMG -->
                  <figure class="post-preview-img liquid">
                    <img src="img/posts/20.jpg" alt="post-20">
                  </figure>
                  <!-- /POST PREVIEW IMG -->
                </div>
              </a>
              <!-- /POST PREVIEW IMG WRAP -->

              <!-- TAG ORNAMENT -->
              <a href="news-v1.html" class="tag-ornament">Gaming news</a>
              <!-- /TAG ORNAMENT -->

              <!-- POST PREVIEW TITLE -->
              <a href="post-v1.html" class="post-preview-title">Legend of the Temple is coming to all consoles</a>
              <!-- POST AUTHOR INFO -->
              <div class="post-author-info-wrap">
                <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Vellatrix</a><span class="separator">|</span>December 15th, 2018</p>
              </div>
              <!-- /POST AUTHOR INFO -->
            </div>
            <!-- /POST PREVIEW -->

            <!-- LINE SEPARATOR -->
            <div class="line-separator"></div>
            <!-- /LINE SEPARATOR -->

            <!-- POST PREVIEW -->
            <div class="post-preview small gaming-news">
              <!-- POST PREVIEW TITLE -->
              <a href="post-v1.html" class="post-preview-title">Pro Soccer 2017 is gonna run with a new graphics engine</a>
              <!-- POST AUTHOR INFO -->
              <div class="post-author-info-wrap">
                <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Dexter</a><span class="separator">|</span>December 15th, 2018</p>
              </div>
              <!-- /POST AUTHOR INFO -->
            </div>
            <!-- /POST PREVIEW -->

            <!-- LINE SEPARATOR -->
            <div class="line-separator"></div>
            <!-- /LINE SEPARATOR -->

            <!-- POST PREVIEW -->
            <div class="post-preview small gaming-news">
              <!-- POST PREVIEW TITLE -->
              <a href="post-v1.html" class="post-preview-title">Thomas Barker joins the team of "The Amazing Knight"</a>
              <!-- POST AUTHOR INFO -->
              <div class="post-author-info-wrap">
                <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Dexter</a><span class="separator">|</span>December 15th, 2018</p>
              </div>
              <!-- /POST AUTHOR INFO -->
            </div>
            <!-- /POST PREVIEW -->
          </div>
          <!-- /POST PREVIEW SHOWCASE -->
        </div>
        <!-- /POST PREVIEW SHOWCASE -->

        <!-- POST PREVIEW SHOWCASE -->
        <div class="post-preview-showcase">
          <!-- SECTION TITLE WRAP -->
          <div class="section-title-wrap red">
            <h2 class="section-title medium">Game Reviews</h2>
            <div class="section-title-separator"></div>
          </div>
          <!-- /SECTION TITLE WRAP -->

          <!-- POST PREVIEW SHOWCASE -->
          <div class="post-preview-showcase">
            <!-- POST PREVIEW -->
            <div class="post-preview game-review">
              <!-- POST PREVIEW IMG WRAP -->
              <a href="post-v2.html">
                <div class="post-preview-img-wrap">
                  <!-- POST PREVIEW IMG -->
                  <figure class="post-preview-img liquid">
                    <img src="img/posts/10.jpg" alt="post-10">
                  </figure>
                  <!-- /POST PREVIEW IMG -->

                  <!-- REVIEW RATING -->
                  <div class="review-rating">
                    <div id="content-news-rate-5" class="arc small"></div>
                  </div>
                  <!-- /REVIEW RATING -->
                </div>
              </a>
              <!-- /POST PREVIEW IMG WRAP -->

              <!-- TAG ORNAMENT -->
              <a hreF="news-v2.html" class="tag-ornament">Game Reviews</a>
              <!-- /TAG ORNAMENT -->

              <!-- POST PREVIEW TITLE -->
              <a href="post-v2.html" class="post-preview-title">Dragons and Knights arrived with a big impression</a>
              <!-- POST AUTHOR INFO -->
              <div class="post-author-info-wrap">
                <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Vellatrix</a><span class="separator">|</span>December 15th, 2018</p>
              </div>
              <!-- /POST AUTHOR INFO -->
            </div>
            <!-- /POST PREVIEW -->

            <!-- LINE SEPARATOR -->
            <div class="line-separator"></div>
            <!-- /LINE SEPARATOR -->

            <!-- POST PREVIEW -->
            <div class="post-preview small game-review">
              <!-- POST PREVIEW TITLE -->
              <a href="post-v2.html" class="post-preview-title">The new Mary World lacks the fun and charm of older versions</a>
              <!-- POST AUTHOR INFO -->
              <div class="post-author-info-wrap">
                <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Morgana</a><span class="separator">|</span>December 15th, 2018</p>
              </div>
              <!-- /POST AUTHOR INFO -->
            </div>
            <!-- /POST PREVIEW -->

            <!-- LINE SEPARATOR -->
            <div class="line-separator"></div>
            <!-- /LINE SEPARATOR -->

            <!-- POST PREVIEW -->
            <div class="post-preview small game-review">
              <!-- POST PREVIEW TITLE -->
              <a href="post-v2.html" class="post-preview-title">We played Pirates Greed Japan and has the potential to be GOTY</a>
              <!-- POST AUTHOR INFO -->
              <div class="post-author-info-wrap">
                <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Vellatrix</a><span class="separator">|</span>December 15th, 2018</p>
              </div>
              <!-- /POST AUTHOR INFO -->
            </div>
            <!-- /POST PREVIEW -->
          </div>
          <!-- /POST PREVIEW SHOWCASE -->
        </div>
        <!-- /POST PREVIEW SHOWCASE -->

        <!-- POST PREVIEW SHOWCASE -->
        <div class="post-preview-showcase">
          <!-- SECTION TITLE WRAP -->
          <div class="section-title-wrap yellow">
            <h2 class="section-title medium">Geeky News</h2>
            <div class="section-title-separator"></div>
          </div>
          <!-- /SECTION TITLE WRAP -->

          <!-- POST PREVIEW SHOWCASE -->
          <div class="post-preview-showcase">
            <!-- POST PREVIEW -->
            <div class="post-preview geeky-news">
              <!-- POST PREVIEW IMG WRAP -->
              <a href="post-v4.html">
                <div class="post-preview-img-wrap">
                  <!-- POST PREVIEW IMG -->
                  <figure class="post-preview-img liquid">
                    <img src="img/posts/21.jpg" alt="post-21">
                  </figure>
                  <!-- /POST PREVIEW IMG -->
                </div>
              </a>
              <!-- /POST PREVIEW IMG WRAP -->

              <!-- TAG ORNAMENT -->
              <a href="news-v4.html" class="tag-ornament">Geeky News</a>
              <!-- /TAG ORNAMENT -->

              <!-- POST PREVIEW TITLE -->
              <a href="post-v4.html" class="post-preview-title">"Steamboat" anime will have a preview event on May</a>
              <!-- POST AUTHOR INFO -->
              <div class="post-author-info-wrap">
                <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Morgana</a><span class="separator">|</span>December 15th, 2018</p>
              </div>
              <!-- /POST AUTHOR INFO -->
            </div>
            <!-- /POST PREVIEW -->

            <!-- LINE SEPARATOR -->
            <div class="line-separator"></div>
            <!-- /LINE SEPARATOR -->

            <!-- POST PREVIEW -->
            <div class="post-preview small geeky-news">
              <!-- POST PREVIEW TITLE -->
              <a href="post-v4.html" class="post-preview-title">Plans for a new AC theme park in California studios</a>
              <!-- POST AUTHOR INFO -->
              <div class="post-author-info-wrap">
                <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Morgana</a><span class="separator">|</span>December 15th, 2018</p>
              </div>
              <!-- /POST AUTHOR INFO -->
            </div>
            <!-- /POST PREVIEW -->

            <!-- LINE SEPARATOR -->
            <div class="line-separator"></div>
            <!-- /LINE SEPARATOR -->

            <!-- POST PREVIEW -->
            <div class="post-preview small geeky-news">
              <!-- POST PREVIEW TITLE -->
              <a href="post-v4.html" class="post-preview-title">Jessica Tam to appear at this year Bebop convention</a>
              <!-- POST AUTHOR INFO -->
              <div class="post-author-info-wrap">
                <p class="post-author-info small light">By <a href="search-results.html" class="post-author">Vellatrix</a><span class="separator">|</span>December 15th, 2018</p>
              </div>
              <!-- /POST AUTHOR INFO -->
            </div>
            <!-- /POST PREVIEW -->
          </div>
          <!-- /POST PREVIEW SHOWCASE -->
        </div>
        <!-- /POST PREVIEW SHOWCASE -->
      </div>
      <!-- /LAYOUT ITEM 1-1-1 -->

      <!-- LAYOUT ITEM -->
      <div class="layout-item padded">
        <a href="#">
          <!-- PROMO BANNER -->
          <div class="promo-banner">
            <!-- PROMO BANNER IMG -->
            <img src="img/banners/live-play-banner-logo.png" alt="promo-banner-img" class="promo-banner-img">
            <!-- /PROMO BANNER IMG -->

            <!-- TAG ORNAMENT -->
            <p class="tag-ornament bold violet">Jan 18 - 10PM PCT</p>
            <!-- /TAG ORNAMENT -->

            <!-- PROMO BANNER INFO -->
            <div class="promo-banner-info">
              <p class="promo-banner-pre-title">Watch us play<span class="live-icon"></span>live</p>
              <p class="promo-banner-title">The last of them</p>
              <p class="promo-banner-text">With SakuraBliss99 and James-Spiegel</p>
            </div>
            <!-- /PROMO BANNER INFO -->

            <!-- COUNTDOWN ARC -->
            <div id="countdown-arc" class="countdown-arc">
              <!-- COUNTER WRAP -->
              <div class="counter-wrap">
                <div class="timer-days"></div>
                <p class="text-heading counter-text">Days</p>
              </div>
              <!-- /COUNTER WRAP -->

              <!-- COUNTER WRAP -->
              <div class="counter-wrap">
                <div class="timer-hours"></div>
                <p class="text-heading counter-text">Hours</p>
              </div>
              <!-- /COUNTER WRAP -->

              <!-- COUNTER WRAP -->
              <div class="counter-wrap">
                <div class="timer-minutes"></div>
                <p class="text-heading counter-text">Minutes</p>
              </div>
              <!-- /COUNTER WRAP -->

              <!-- COUNTER WRAP -->
              <div class="counter-wrap">
                <div class="timer-seconds"></div>
                <p class="text-heading counter-text">Seconds</p>
              </div>
              <!-- /COUNTER WRAP -->
            </div>
            <!-- /COUNTDOWN ARC -->
          </div>
          <!-- /PROMO BANNER -->
        </a>
      </div>
      <!-- /LAYOUT ITEM -->

      <!-- LAYOUT ITEM -->
      <div class="layout-item padded own-grid">
        <!-- SECTION TITLE WRAP -->
        <div class="section-title-wrap cyan">
          <h2 class="section-title medium">Latest Videos</h2>
          <div class="section-title-separator"></div>

          <!-- SLIDER CONTROLS -->
          <div id="lvideos-slider1-controls" class="carousel-controls slider-controls cyan">
            <div class="slider-control control-previous">
              <!-- ARROW ICON -->
              <svg class="arrow-icon medium">
                <use xlink:href="#svg-arrow-medium"></use>
              </svg>
              <!-- /ARROW ICON -->
            </div>
            <div class="slider-control control-next">
              <!-- ARROW ICON -->
              <svg class="arrow-icon medium">
                <use xlink:href="#svg-arrow-medium"></use>
              </svg>
              <!-- /ARROW ICON -->
            </div>
          </div>
          <!-- /SLIDER CONTROLS -->
        </div>
        <!-- /SECTION TITLE WRAP -->

        <!-- CAROUSEL -->
        <div id="lvideos-slider1" class="carousel video">
          <!-- CAROUSEL ITEMS -->
          <div class="carousel-items">
            <!-- CAROUSEL ITEM -->
            <div class="carousel-item">
              <!-- POST PREVIEW -->
              <div class="post-preview video">
                <!-- POST PREVIEW IMG WRAP -->
                <a href="post-video.html">
                  <div class="post-preview-img-wrap">
                    <!-- POST PREVIEW IMG -->
                    <figure class="post-preview-img liquid">
                      <img src="img/posts/31.jpg" alt="post-31">
                    </figure>
                    <!-- /POST PREVIEW IMG -->

                    <!-- POST PREVIEW OVERLAY -->
                    <div class="post-preview-overlay">
                      <!-- PLAY BUTTON -->
                      <div class="play-button">
                        <!-- PLAY BUTTON ICON -->
                        <svg class="play-button-icon">
                          <use xlink:href="#svg-play"></use>
                        </svg>
                        <!-- /PLAY BUTTON ICON -->
                      </div>
                      <!-- /PLAY BUTTON -->

                      <!-- POST PREVIEW OVERLAY INFO -->
                      <div class="post-preview-overlay-info">
                        <!-- POST PREVIEW TITLE -->
                        <p class="post-preview-title">Galaxy Adventure RX is a boring remake of a classic</p>
                        <!-- POST PREVIEW TEXT -->
                        <p class="post-preview-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                      </div>
                      <!-- /POST PREVIEW OVERLAY INFO -->
                    </div>
                    <!-- /POST PREVIEW OVERLAY -->
                  </div>
                </a>
                <!-- /POST PREVIEW IMG WRAP -->
              </div>
              <!-- /POST PREVIEW -->

              <!-- POST PREVIEW -->
              <div class="post-preview video">
                <!-- POST PREVIEW IMG WRAP -->
                <a href="post-video.html">
                  <div class="post-preview-img-wrap">
                    <!-- POST PREVIEW IMG -->
                    <figure class="post-preview-img liquid">
                      <img src="img/posts/25.jpg" alt="post-25">
                    </figure>
                    <!-- /POST PREVIEW IMG -->

                    <!-- POST PREVIEW OVERLAY -->
                    <div class="post-preview-overlay">
                      <!-- PLAY BUTTON -->
                      <div class="play-button">
                        <!-- PLAY BUTTON ICON -->
                        <svg class="play-button-icon">
                          <use xlink:href="#svg-play"></use>
                        </svg>
                        <!-- /PLAY BUTTON ICON -->
                      </div>
                      <!-- /PLAY BUTTON -->

                      <!-- POST PREVIEW OVERLAY INFO -->
                      <div class="post-preview-overlay-info">
                        <!-- POST PREVIEW TITLE -->
                        <p class="post-preview-title">Gameplay trailer for the new Legend of Kenji game</p>
                        <!-- POST PREVIEW TEXT -->
                        <p class="post-preview-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                      </div>
                      <!-- /POST PREVIEW OVERLAY INFO -->
                    </div>
                    <!-- /POST PREVIEW OVERLAY -->
                  </div>
                </a>
                <!-- /POST PREVIEW IMG WRAP -->
              </div>
              <!-- /POST PREVIEW -->
            </div>
            <!-- /CAROUSEL ITEM -->

            <!-- CAROUSEL ITEM -->
            <div class="carousel-item">
              <!-- POST PREVIEW -->
              <div class="post-preview video">
                <!-- POST PREVIEW IMG WRAP -->
                <a href="post-video.html">
                  <div class="post-preview-img-wrap">
                    <!-- POST PREVIEW IMG -->
                    <figure class="post-preview-img liquid">
                      <img src="img/posts/17.jpg" alt="post-17">
                    </figure>
                    <!-- /POST PREVIEW IMG -->

                    <!-- POST PREVIEW OVERLAY -->
                    <div class="post-preview-overlay">
                      <!-- PLAY BUTTON -->
                      <div class="play-button">
                        <!-- PLAY BUTTON ICON -->
                        <svg class="play-button-icon">
                          <use xlink:href="#svg-play"></use>
                        </svg>
                        <!-- /PLAY BUTTON ICON -->
                      </div>
                      <!-- /PLAY BUTTON -->

                      <!-- POST PREVIEW OVERLAY INFO -->
                      <div class="post-preview-overlay-info">
                        <!-- POST PREVIEW TITLE -->
                        <p class="post-preview-title">Jazzstar announced that the GTE5 for PC is delayed</p>
                        <!-- POST PREVIEW TEXT -->
                        <p class="post-preview-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                      </div>
                      <!-- /POST PREVIEW OVERLAY INFO -->
                    </div>
                    <!-- /POST PREVIEW OVERLAY -->
                  </div>
                </a>
                <!-- /POST PREVIEW IMG WRAP -->
              </div>
              <!-- /POST PREVIEW -->

              <!-- POST PREVIEW -->
              <div class="post-preview video">
                <!-- POST PREVIEW IMG WRAP -->
                <a href="post-video.html">
                  <div class="post-preview-img-wrap">
                    <!-- POST PREVIEW IMG -->
                    <figure class="post-preview-img liquid">
                      <img src="img/posts/01.jpg" alt="post-01">
                    </figure>
                    <!-- /POST PREVIEW IMG -->

                    <!-- POST PREVIEW OVERLAY -->
                    <div class="post-preview-overlay">
                      <!-- PLAY BUTTON -->
                      <div class="play-button">
                        <!-- PLAY BUTTON ICON -->
                        <svg class="play-button-icon">
                          <use xlink:href="#svg-play"></use>
                        </svg>
                        <!-- /PLAY BUTTON ICON -->
                      </div>
                      <!-- /PLAY BUTTON -->

                      <!-- POST PREVIEW OVERLAY INFO -->
                      <div class="post-preview-overlay-info">
                        <!-- POST PREVIEW TITLE -->
                        <p class="post-preview-title">The Clash of Dragons is breaking record sales in...</p>
                        <!-- POST PREVIEW TEXT -->
                        <p class="post-preview-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                      </div>
                      <!-- /POST PREVIEW OVERLAY INFO -->
                    </div>
                    <!-- /POST PREVIEW OVERLAY -->
                  </div>
                </a>
                <!-- /POST PREVIEW IMG WRAP -->
              </div>
              <!-- /POST PREVIEW -->
            </div>
            <!-- /CAROUSEL ITEM -->

            <!-- CAROUSEL ITEM -->
            <div class="carousel-item">
              <!-- POST PREVIEW -->
              <div class="post-preview video">
                <!-- POST PREVIEW IMG WRAP -->
                <a href="post-video.html">
                  <div class="post-preview-img-wrap">
                    <!-- POST PREVIEW IMG -->
                    <figure class="post-preview-img liquid">
                      <img src="img/posts/07.jpg" alt="post-07">
                    </figure>
                    <!-- /POST PREVIEW IMG -->

                    <!-- POST PREVIEW OVERLAY -->
                    <div class="post-preview-overlay">
                      <!-- PLAY BUTTON -->
                      <div class="play-button">
                        <!-- PLAY BUTTON ICON -->
                        <svg class="play-button-icon">
                          <use xlink:href="#svg-play"></use>
                        </svg>
                        <!-- /PLAY BUTTON ICON -->
                      </div>
                      <!-- /PLAY BUTTON -->

                      <!-- POST PREVIEW OVERLAY INFO -->
                      <div class="post-preview-overlay-info">
                        <!-- POST PREVIEW TITLE -->
                        <p class="post-preview-title">New expansion pack coming to "Rise of Depredators"</p>
                        <!-- POST PREVIEW TEXT -->
                        <p class="post-preview-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                      </div>
                      <!-- /POST PREVIEW OVERLAY INFO -->
                    </div>
                    <!-- /POST PREVIEW OVERLAY -->
                  </div>
                </a>
                <!-- /POST PREVIEW IMG WRAP -->
              </div>
              <!-- /POST PREVIEW -->

              <!-- POST PREVIEW -->
              <div class="post-preview video">
                <!-- POST PREVIEW IMG WRAP -->
                <a href="post-video.html">
                  <div class="post-preview-img-wrap">
                    <!-- POST PREVIEW IMG -->
                    <figure class="post-preview-img liquid">
                      <img src="img/posts/16.jpg" alt="post-16">
                    </figure>
                    <!-- /POST PREVIEW IMG -->

                    <!-- POST PREVIEW OVERLAY -->
                    <div class="post-preview-overlay">
                      <!-- PLAY BUTTON -->
                      <div class="play-button">
                        <!-- PLAY BUTTON ICON -->
                        <svg class="play-button-icon">
                          <use xlink:href="#svg-play"></use>
                        </svg>
                        <!-- /PLAY BUTTON ICON -->
                      </div>
                      <!-- /PLAY BUTTON -->

                      <!-- POST PREVIEW OVERLAY INFO -->
                      <div class="post-preview-overlay-info">
                        <!-- POST PREVIEW TITLE -->
                        <p class="post-preview-title">We reviewed the new Magimons game</p>
                        <!-- POST PREVIEW TEXT -->
                        <p class="post-preview-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                      </div>
                      <!-- /POST PREVIEW OVERLAY INFO -->
                    </div>
                    <!-- /POST PREVIEW OVERLAY -->
                  </div>
                </a>
                <!-- /POST PREVIEW IMG WRAP -->
              </div>
              <!-- /POST PREVIEW -->
            </div>
            <!-- /CAROUSEL ITEM -->

            <!-- CAROUSEL ITEM -->
            <div class="carousel-item">
              <!-- POST PREVIEW -->
              <div class="post-preview video">
                <!-- POST PREVIEW IMG WRAP -->
                <a href="post-video.html">
                  <div class="post-preview-img-wrap">
                    <!-- POST PREVIEW IMG -->
                    <figure class="post-preview-img liquid">
                      <img src="img/posts/12.jpg" alt="post-12">
                    </figure>
                    <!-- /POST PREVIEW IMG -->

                    <!-- POST PREVIEW OVERLAY -->
                    <div class="post-preview-overlay">
                      <!-- PLAY BUTTON -->
                      <div class="play-button">
                        <!-- PLAY BUTTON ICON -->
                        <svg class="play-button-icon">
                          <use xlink:href="#svg-play"></use>
                        </svg>
                        <!-- /PLAY BUTTON ICON -->
                      </div>
                      <!-- /PLAY BUTTON -->

                      <!-- POST PREVIEW OVERLAY INFO -->
                      <div class="post-preview-overlay-info">
                        <!-- POST PREVIEW TITLE -->
                        <p class="post-preview-title">We reviewed the "Guardians of the Universe" movie</p>
                        <!-- POST PREVIEW TEXT -->
                        <p class="post-preview-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                      </div>
                      <!-- /POST PREVIEW OVERLAY INFO -->
                    </div>
                    <!-- /POST PREVIEW OVERLAY -->
                  </div>
                </a>
                <!-- /POST PREVIEW IMG WRAP -->
              </div>
              <!-- /POST PREVIEW -->

              <!-- POST PREVIEW -->
              <div class="post-preview video">
                <!-- POST PREVIEW IMG WRAP -->
                <a href="post-video.html">
                  <div class="post-preview-img-wrap">
                    <!-- POST PREVIEW IMG -->
                    <figure class="post-preview-img liquid">
                      <img src="img/posts/13.jpg" alt="post-13">
                    </figure>
                    <!-- /POST PREVIEW IMG -->

                    <!-- POST PREVIEW OVERLAY -->
                    <div class="post-preview-overlay">
                      <!-- PLAY BUTTON -->
                      <div class="play-button">
                        <!-- PLAY BUTTON ICON -->
                        <svg class="play-button-icon">
                          <use xlink:href="#svg-play"></use>
                        </svg>
                        <!-- /PLAY BUTTON ICON -->
                      </div>
                      <!-- /PLAY BUTTON -->

                      <!-- POST PREVIEW OVERLAY INFO -->
                      <div class="post-preview-overlay-info">
                        <!-- POST PREVIEW TITLE -->
                        <p class="post-preview-title">The "Clash of Eternity" new game was just released</p>
                        <!-- POST PREVIEW TEXT -->
                        <p class="post-preview-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                      </div>
                      <!-- /POST PREVIEW OVERLAY INFO -->
                    </div>
                    <!-- /POST PREVIEW OVERLAY -->
                  </div>
                </a>
                <!-- /POST PREVIEW IMG WRAP -->
              </div>
              <!-- /POST PREVIEW -->
            </div>
            <!-- /CAROUSEL ITEM -->
          </div>
          <!-- /CAROUSEL ITEMS -->
        </div>
        <!-- /CAROUSEL -->
      </div>
      <!-- /LAYOUT ITEM -->
    </div>
    <!-- /LAYOUT BODY -->
    {{> "sidebar"}}
</div>
<!-- /LAYOUT CONTENT 1 -->


