b-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
.nvmrc
.bowerrc
.idea/*
*.iml
*.sublime-*
projectFilesBackup

.DS_Store

# vim-related
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
.vimrc
*~

# TernJS
.tern-project

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log

# built by grunt
public/assets/img/contributors/
app/templates/-contributors.hbs
