<div class="no-posts-box">
    <div class="no-posts">
        <h3>You Haven't Written Any Posts Yet!</h3>
        {{#link-to "editor.new"}}<button type="button" class="button-add large" title="New Post">Write a new Post</button>{{/link-to}}
    </div>
</div>
