<div class="no-posts-box">
    <div class="no-posts">
        <h3>一篇文章都没有哦!</h3>
        {{#link-to "editor.new"}}<button type="button" class="button-add large" title="New Post">开始写文章</button>{{/link-to}}
    </div>
</div>
