{{#if title}}

  {{partial "floating-header"}}

  <section class="content-preview-content">
      <div class="wrapper">
          <h1>{{title}}</h1>
          {{format-markdown markdown}}
      </div>
  </section>

{{else}}

    <div class="no-posts-box">
        <div class="no-posts">
            <h3>You Haven't Written Any Posts Yet!</h3>
            {{#link-to 'new'}}<button class="button-add large" title="New Post">Write a new Post</button>{{/link-to}}
        </div>
    </div>

{{/if}}
