{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2013-04-01",
    "endpointPrefix":"route53",
    "globalEndpoint":"route53.amazonaws.com",
    "protocol":"rest-xml",
    "protocols":["rest-xml"],
    "serviceAbbreviation":"Route 53",
    "serviceFullName":"Amazon Route 53",
    "serviceId":"Route 53",
    "signatureVersion":"v4",
    "uid":"route53-2013-04-01",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "ActivateKeySigningKey":{
      "name":"ActivateKeySigningKey",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/keysigningkey/{HostedZoneId}/{Name}/activate"
      },
      "input":{"shape":"ActivateKeySigningKeyRequest"},
      "output":{"shape":"ActivateKeySigningKeyResponse"},
      "errors":[
        {"shape":"ConcurrentModification"},
        {"shape":"NoSuchKeySigningKey"},
        {"shape":"InvalidKeySigningKeyStatus"},
        {"shape":"InvalidSigningStatus"},
        {"shape":"InvalidKMSArn"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Activates a key-signing key (KSK) so that it can be used for signing by DNSSEC. This operation changes the KSK status to <code>ACTIVE</code>.</p>"
    },
    "AssociateVPCWithHostedZone":{
      "name":"AssociateVPCWithHostedZone",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/hostedzone/{Id}/associatevpc"
      },
      "input":{
        "shape":"AssociateVPCWithHostedZoneRequest",
        "locationName":"AssociateVPCWithHostedZoneRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"AssociateVPCWithHostedZoneResponse"},
      "errors":[
        {"shape":"NoSuchHostedZone"},
        {"shape":"NotAuthorizedException"},
        {"shape":"InvalidVPCId"},
        {"shape":"InvalidInput"},
        {"shape":"PublicZoneVPCAssociation"},
        {"shape":"ConflictingDomainExists"},
        {"shape":"LimitsExceeded"},
        {"shape":"PriorRequestNotComplete"}
      ],
      "documentation":"<p>Associates an Amazon VPC with a private hosted zone. </p> <important> <p>To perform the association, the VPC and the private hosted zone must already exist. You can't convert a public hosted zone into a private hosted zone.</p> </important> <note> <p>If you want to associate a VPC that was created by using one Amazon Web Services account with a private hosted zone that was created by using a different account, the Amazon Web Services account that created the private hosted zone must first submit a <code>CreateVPCAssociationAuthorization</code> request. Then the account that created the VPC must submit an <code>AssociateVPCWithHostedZone</code> request.</p> </note> <note> <p>When granting access, the hosted zone and the Amazon VPC must belong to the same partition. A partition is a group of Amazon Web Services Regions. Each Amazon Web Services account is scoped to one partition.</p> <p>The following are the supported partitions:</p> <ul> <li> <p> <code>aws</code> - Amazon Web Services Regions</p> </li> <li> <p> <code>aws-cn</code> - China Regions</p> </li> <li> <p> <code>aws-us-gov</code> - Amazon Web Services GovCloud (US) Region</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Access Management</a> in the <i>Amazon Web Services General Reference</i>.</p> </note>"
    },
    "ChangeCidrCollection":{
      "name":"ChangeCidrCollection",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/cidrcollection/{CidrCollectionId}"
      },
      "input":{
        "shape":"ChangeCidrCollectionRequest",
        "locationName":"ChangeCidrCollectionRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"ChangeCidrCollectionResponse"},
      "errors":[
        {"shape":"NoSuchCidrCollectionException"},
        {"shape":"CidrCollectionVersionMismatchException"},
        {"shape":"InvalidInput"},
        {"shape":"CidrBlockInUseException"},
        {"shape":"LimitsExceeded"},
        {"shape":"ConcurrentModification"}
      ],
      "documentation":"<p>Creates, changes, or deletes CIDR blocks within a collection. Contains authoritative IP information mapping blocks to one or multiple locations.</p> <p>A change request can update multiple locations in a collection at a time, which is helpful if you want to move one or more CIDR blocks from one location to another in one transaction, without downtime. </p> <p> <b>Limits</b> </p> <p>The max number of CIDR blocks included in the request is 1000. As a result, big updates require multiple API calls.</p> <p> <b> PUT and DELETE_IF_EXISTS</b> </p> <p>Use <code>ChangeCidrCollection</code> to perform the following actions:</p> <ul> <li> <p> <code>PUT</code>: Create a CIDR block within the specified collection.</p> </li> <li> <p> <code> DELETE_IF_EXISTS</code>: Delete an existing CIDR block from the collection.</p> </li> </ul>"
    },
    "ChangeResourceRecordSets":{
      "name":"ChangeResourceRecordSets",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/hostedzone/{Id}/rrset/"
      },
      "input":{
        "shape":"ChangeResourceRecordSetsRequest",
        "locationName":"ChangeResourceRecordSetsRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"ChangeResourceRecordSetsResponse"},
      "errors":[
        {"shape":"NoSuchHostedZone"},
        {"shape":"NoSuchHealthCheck"},
        {"shape":"InvalidChangeBatch"},
        {"shape":"InvalidInput"},
        {"shape":"PriorRequestNotComplete"}
      ],
      "documentation":"<p>Creates, changes, or deletes a resource record set, which contains authoritative DNS information for a specified domain name or subdomain name. For example, you can use <code>ChangeResourceRecordSets</code> to create a resource record set that routes traffic for test.example.com to a web server that has an IP address of 192.0.2.44.</p> <p> <b>Deleting Resource Record Sets</b> </p> <p>To delete a resource record set, you must specify all the same values that you specified when you created it.</p> <p> <b>Change Batches and Transactional Changes</b> </p> <p>The request body must include a document with a <code>ChangeResourceRecordSetsRequest</code> element. The request body contains a list of change items, known as a change batch. Change batches are considered transactional changes. Route 53 validates the changes in the request and then either makes all or none of the changes in the change batch request. This ensures that DNS routing isn't adversely affected by partial changes to the resource record sets in a hosted zone. </p> <p>For example, suppose a change batch request contains two changes: it deletes the <code>CNAME</code> resource record set for www.example.com and creates an alias resource record set for www.example.com. If validation for both records succeeds, Route 53 deletes the first resource record set and creates the second resource record set in a single operation. If validation for either the <code>DELETE</code> or the <code>CREATE</code> action fails, then the request is canceled, and the original <code>CNAME</code> record continues to exist.</p> <note> <p>If you try to delete the same resource record set more than once in a single change batch, Route 53 returns an <code>InvalidChangeBatch</code> error.</p> </note> <p> <b>Traffic Flow</b> </p> <p>To create resource record sets for complex routing configurations, use either the traffic flow visual editor in the Route 53 console or the API actions for traffic policies and traffic policy instances. Save the configuration as a traffic policy, then associate the traffic policy with one or more domain names (such as example.com) or subdomain names (such as www.example.com), in the same hosted zone or in multiple hosted zones. You can roll back the updates if the new configuration isn't performing as expected. For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/traffic-flow.html\">Using Traffic Flow to Route DNS Traffic</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> <p> <b>Create, Delete, and Upsert</b> </p> <p>Use <code>ChangeResourceRecordsSetsRequest</code> to perform the following actions:</p> <ul> <li> <p> <code>CREATE</code>: Creates a resource record set that has the specified values.</p> </li> <li> <p> <code>DELETE</code>: Deletes an existing resource record set that has the specified values.</p> </li> <li> <p> <code>UPSERT</code>: If a resource set doesn't exist, Route 53 creates it. If a resource set exists Route 53 updates it with the values in the request. </p> </li> </ul> <p> <b>Syntaxes for Creating, Updating, and Deleting Resource Record Sets</b> </p> <p>The syntax for a request depends on the type of resource record set that you want to create, delete, or update, such as weighted, alias, or failover. The XML elements in your request must appear in the order listed in the syntax. </p> <p>For an example for each type of resource record set, see \"Examples.\"</p> <p>Don't refer to the syntax in the \"Parameter Syntax\" section, which includes all of the elements for every kind of resource record set that you can create, delete, or update by using <code>ChangeResourceRecordSets</code>. </p> <p> <b>Change Propagation to Route 53 DNS Servers</b> </p> <p>When you submit a <code>ChangeResourceRecordSets</code> request, Route 53 propagates your changes to all of the Route 53 authoritative DNS servers managing the hosted zone. While your changes are propagating, <code>GetChange</code> returns a status of <code>PENDING</code>. When propagation is complete, <code>GetChange</code> returns a status of <code>INSYNC</code>. Changes generally propagate to all Route 53 name servers managing the hosted zone within 60 seconds. For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_GetChange.html\">GetChange</a>.</p> <p> <b>Limits on ChangeResourceRecordSets Requests</b> </p> <p>For information about the limits on a <code>ChangeResourceRecordSets</code> request, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DNSLimitations.html\">Limits</a> in the <i>Amazon Route 53 Developer Guide</i>.</p>"
    },
    "ChangeTagsForResource":{
      "name":"ChangeTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/tags/{ResourceType}/{ResourceId}"
      },
      "input":{
        "shape":"ChangeTagsForResourceRequest",
        "locationName":"ChangeTagsForResourceRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"ChangeTagsForResourceResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"NoSuchHealthCheck"},
        {"shape":"NoSuchHostedZone"},
        {"shape":"PriorRequestNotComplete"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Adds, edits, or deletes tags for a health check or a hosted zone.</p> <p>For information about using tags for cost allocation, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Using Cost Allocation Tags</a> in the <i>Billing and Cost Management User Guide</i>.</p>"
    },
    "CreateCidrCollection":{
      "name":"CreateCidrCollection",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/cidrcollection",
        "responseCode":201
      },
      "input":{
        "shape":"CreateCidrCollectionRequest",
        "locationName":"CreateCidrCollectionRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"CreateCidrCollectionResponse"},
      "errors":[
        {"shape":"LimitsExceeded"},
        {"shape":"InvalidInput"},
        {"shape":"CidrCollectionAlreadyExistsException"},
        {"shape":"ConcurrentModification"}
      ],
      "documentation":"<p>Creates a CIDR collection in the current Amazon Web Services account.</p>"
    },
    "CreateHealthCheck":{
      "name":"CreateHealthCheck",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/healthcheck",
        "responseCode":201
      },
      "input":{
        "shape":"CreateHealthCheckRequest",
        "locationName":"CreateHealthCheckRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"CreateHealthCheckResponse"},
      "errors":[
        {"shape":"TooManyHealthChecks"},
        {"shape":"HealthCheckAlreadyExists"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Creates a new health check.</p> <p>For information about adding health checks to resource record sets, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_ResourceRecordSet.html#Route53-Type-ResourceRecordSet-HealthCheckId\">HealthCheckId</a> in <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_ChangeResourceRecordSets.html\">ChangeResourceRecordSets</a>. </p> <p> <b>ELB Load Balancers</b> </p> <p>If you're registering EC2 instances with an Elastic Load Balancing (ELB) load balancer, do not create Amazon Route 53 health checks for the EC2 instances. When you register an EC2 instance with a load balancer, you configure settings for an ELB health check, which performs a similar function to a Route 53 health check.</p> <p> <b>Private Hosted Zones</b> </p> <p>You can associate health checks with failover resource record sets in a private hosted zone. Note the following:</p> <ul> <li> <p>Route 53 health checkers are outside the VPC. To check the health of an endpoint within a VPC by IP address, you must assign a public IP address to the instance in the VPC.</p> </li> <li> <p>You can configure a health checker to check the health of an external resource that the instance relies on, such as a database server.</p> </li> <li> <p>You can create a CloudWatch metric, associate an alarm with the metric, and then create a health check that is based on the state of the alarm. For example, you might create a CloudWatch metric that checks the status of the Amazon EC2 <code>StatusCheckFailed</code> metric, add an alarm to the metric, and then create a health check that is based on the state of the alarm. For information about creating CloudWatch metrics and alarms by using the CloudWatch console, see the <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/DeveloperGuide/WhatIsCloudWatch.html\">Amazon CloudWatch User Guide</a>.</p> </li> </ul>"
    },
    "CreateHostedZone":{
      "name":"CreateHostedZone",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/hostedzone",
        "responseCode":201
      },
      "input":{
        "shape":"CreateHostedZoneRequest",
        "locationName":"CreateHostedZoneRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"CreateHostedZoneResponse"},
      "errors":[
        {"shape":"InvalidDomainName"},
        {"shape":"HostedZoneAlreadyExists"},
        {"shape":"TooManyHostedZones"},
        {"shape":"InvalidVPCId"},
        {"shape":"InvalidInput"},
        {"shape":"DelegationSetNotAvailable"},
        {"shape":"ConflictingDomainExists"},
        {"shape":"NoSuchDelegationSet"},
        {"shape":"DelegationSetNotReusable"}
      ],
      "documentation":"<p>Creates a new public or private hosted zone. You create records in a public hosted zone to define how you want to route traffic on the internet for a domain, such as example.com, and its subdomains (apex.example.com, acme.example.com). You create records in a private hosted zone to define how you want to route traffic for a domain and its subdomains within one or more Amazon Virtual Private Clouds (Amazon VPCs). </p> <important> <p>You can't convert a public hosted zone to a private hosted zone or vice versa. Instead, you must create a new hosted zone with the same name and create new resource record sets.</p> </important> <p>For more information about charges for hosted zones, see <a href=\"http://aws.amazon.com/route53/pricing/\">Amazon Route 53 Pricing</a>.</p> <p>Note the following:</p> <ul> <li> <p>You can't create a hosted zone for a top-level domain (TLD) such as .com.</p> </li> <li> <p>For public hosted zones, Route 53 automatically creates a default SOA record and four NS records for the zone. For more information about SOA and NS records, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/SOA-NSrecords.html\">NS and SOA Records that Route 53 Creates for a Hosted Zone</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> <p>If you want to use the same name servers for multiple public hosted zones, you can optionally associate a reusable delegation set with the hosted zone. See the <code>DelegationSetId</code> element.</p> </li> <li> <p>If your domain is registered with a registrar other than Route 53, you must update the name servers with your registrar to make Route 53 the DNS service for the domain. For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/MigratingDNS.html\">Migrating DNS Service for an Existing Domain to Amazon Route 53</a> in the <i>Amazon Route 53 Developer Guide</i>. </p> </li> </ul> <p>When you submit a <code>CreateHostedZone</code> request, the initial status of the hosted zone is <code>PENDING</code>. For public hosted zones, this means that the NS and SOA records are not yet available on all Route 53 DNS servers. When the NS and SOA records are available, the status of the zone changes to <code>INSYNC</code>.</p> <p>The <code>CreateHostedZone</code> request requires the caller to have an <code>ec2:DescribeVpcs</code> permission.</p> <note> <p>When creating private hosted zones, the Amazon VPC must belong to the same partition where the hosted zone is created. A partition is a group of Amazon Web Services Regions. Each Amazon Web Services account is scoped to one partition.</p> <p>The following are the supported partitions:</p> <ul> <li> <p> <code>aws</code> - Amazon Web Services Regions</p> </li> <li> <p> <code>aws-cn</code> - China Regions</p> </li> <li> <p> <code>aws-us-gov</code> - Amazon Web Services GovCloud (US) Region</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Access Management</a> in the <i>Amazon Web Services General Reference</i>.</p> </note>"
    },
    "CreateKeySigningKey":{
      "name":"CreateKeySigningKey",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/keysigningkey",
        "responseCode":201
      },
      "input":{
        "shape":"CreateKeySigningKeyRequest",
        "locationName":"CreateKeySigningKeyRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"CreateKeySigningKeyResponse"},
      "errors":[
        {"shape":"NoSuchHostedZone"},
        {"shape":"InvalidArgument"},
        {"shape":"InvalidInput"},
        {"shape":"InvalidKMSArn"},
        {"shape":"InvalidKeySigningKeyStatus"},
        {"shape":"InvalidSigningStatus"},
        {"shape":"InvalidKeySigningKeyName"},
        {"shape":"KeySigningKeyAlreadyExists"},
        {"shape":"TooManyKeySigningKeys"},
        {"shape":"ConcurrentModification"}
      ],
      "documentation":"<p>Creates a new key-signing key (KSK) associated with a hosted zone. You can only have two KSKs per hosted zone.</p>"
    },
    "CreateQueryLoggingConfig":{
      "name":"CreateQueryLoggingConfig",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/queryloggingconfig",
        "responseCode":201
      },
      "input":{
        "shape":"CreateQueryLoggingConfigRequest",
        "locationName":"CreateQueryLoggingConfigRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"CreateQueryLoggingConfigResponse"},
      "errors":[
        {"shape":"ConcurrentModification"},
        {"shape":"NoSuchHostedZone"},
        {"shape":"NoSuchCloudWatchLogsLogGroup"},
        {"shape":"InvalidInput"},
        {"shape":"QueryLoggingConfigAlreadyExists"},
        {"shape":"InsufficientCloudWatchLogsResourcePolicy"}
      ],
      "documentation":"<p>Creates a configuration for DNS query logging. After you create a query logging configuration, Amazon Route 53 begins to publish log data to an Amazon CloudWatch Logs log group.</p> <p>DNS query logs contain information about the queries that Route 53 receives for a specified public hosted zone, such as the following:</p> <ul> <li> <p>Route 53 edge location that responded to the DNS query</p> </li> <li> <p>Domain or subdomain that was requested</p> </li> <li> <p>DNS record type, such as A or AAAA</p> </li> <li> <p>DNS response code, such as <code>NoError</code> or <code>ServFail</code> </p> </li> </ul> <dl> <dt>Log Group and Resource Policy</dt> <dd> <p>Before you create a query logging configuration, perform the following operations.</p> <note> <p>If you create a query logging configuration using the Route 53 console, Route 53 performs these operations automatically.</p> </note> <ol> <li> <p>Create a CloudWatch Logs log group, and make note of the ARN, which you specify when you create a query logging configuration. Note the following:</p> <ul> <li> <p>You must create the log group in the us-east-1 region.</p> </li> <li> <p>You must use the same Amazon Web Services account to create the log group and the hosted zone that you want to configure query logging for.</p> </li> <li> <p>When you create log groups for query logging, we recommend that you use a consistent prefix, for example:</p> <p> <code>/aws/route53/<i>hosted zone name</i> </code> </p> <p>In the next step, you'll create a resource policy, which controls access to one or more log groups and the associated Amazon Web Services resources, such as Route 53 hosted zones. There's a limit on the number of resource policies that you can create, so we recommend that you use a consistent prefix so you can use the same resource policy for all the log groups that you create for query logging.</p> </li> </ul> </li> <li> <p>Create a CloudWatch Logs resource policy, and give it the permissions that Route 53 needs to create log streams and to send query logs to log streams. You must create the CloudWatch Logs resource policy in the us-east-1 region. For the value of <code>Resource</code>, specify the ARN for the log group that you created in the previous step. To use the same resource policy for all the CloudWatch Logs log groups that you created for query logging configurations, replace the hosted zone name with <code>*</code>, for example:</p> <p> <code>arn:aws:logs:us-east-1:123412341234:log-group:/aws/route53/*</code> </p> <p>To avoid the confused deputy problem, a security issue where an entity without a permission for an action can coerce a more-privileged entity to perform it, you can optionally limit the permissions that a service has to a resource in a resource-based policy by supplying the following values:</p> <ul> <li> <p>For <code>aws:SourceArn</code>, supply the hosted zone ARN used in creating the query logging configuration. For example, <code>aws:SourceArn: arn:aws:route53:::hostedzone/hosted zone ID</code>.</p> </li> <li> <p>For <code>aws:SourceAccount</code>, supply the account ID for the account that creates the query logging configuration. For example, <code>aws:SourceAccount:111111111111</code>.</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/confused-deputy.html\">The confused deputy problem</a> in the <i>Amazon Web Services IAM User Guide</i>.</p> <note> <p>You can't use the CloudWatch console to create or edit a resource policy. You must use the CloudWatch API, one of the Amazon Web Services SDKs, or the CLI.</p> </note> </li> </ol> </dd> <dt>Log Streams and Edge Locations</dt> <dd> <p>When Route 53 finishes creating the configuration for DNS query logging, it does the following:</p> <ul> <li> <p>Creates a log stream for an edge location the first time that the edge location responds to DNS queries for the specified hosted zone. That log stream is used to log all queries that Route 53 responds to for that edge location.</p> </li> <li> <p>Begins to send query logs to the applicable log stream.</p> </li> </ul> <p>The name of each log stream is in the following format:</p> <p> <code> <i>hosted zone ID</i>/<i>edge location code</i> </code> </p> <p>The edge location code is a three-letter code and an arbitrarily assigned number, for example, DFW3. The three-letter code typically corresponds with the International Air Transport Association airport code for an airport near the edge location. (These abbreviations might change in the future.) For a list of edge locations, see \"The Route 53 Global Network\" on the <a href=\"http://aws.amazon.com/route53/details/\">Route 53 Product Details</a> page.</p> </dd> <dt>Queries That Are Logged</dt> <dd> <p>Query logs contain only the queries that DNS resolvers forward to Route 53. If a DNS resolver has already cached the response to a query (such as the IP address for a load balancer for example.com), the resolver will continue to return the cached response. It doesn't forward another query to Route 53 until the TTL for the corresponding resource record set expires. Depending on how many DNS queries are submitted for a resource record set, and depending on the TTL for that resource record set, query logs might contain information about only one query out of every several thousand queries that are submitted to DNS. For more information about how DNS works, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/welcome-dns-service.html\">Routing Internet Traffic to Your Website or Web Application</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> </dd> <dt>Log File Format</dt> <dd> <p>For a list of the values in each query log and the format of each value, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/query-logs.html\">Logging DNS Queries</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> </dd> <dt>Pricing</dt> <dd> <p>For information about charges for query logs, see <a href=\"http://aws.amazon.com/cloudwatch/pricing/\">Amazon CloudWatch Pricing</a>.</p> </dd> <dt>How to Stop Logging</dt> <dd> <p>If you want Route 53 to stop sending query logs to CloudWatch Logs, delete the query logging configuration. For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_DeleteQueryLoggingConfig.html\">DeleteQueryLoggingConfig</a>.</p> </dd> </dl>"
    },
    "CreateReusableDelegationSet":{
      "name":"CreateReusableDelegationSet",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/delegationset",
        "responseCode":201
      },
      "input":{
        "shape":"CreateReusableDelegationSetRequest",
        "locationName":"CreateReusableDelegationSetRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"CreateReusableDelegationSetResponse"},
      "errors":[
        {"shape":"DelegationSetAlreadyCreated"},
        {"shape":"LimitsExceeded"},
        {"shape":"HostedZoneNotFound"},
        {"shape":"InvalidArgument"},
        {"shape":"InvalidInput"},
        {"shape":"DelegationSetNotAvailable"},
        {"shape":"DelegationSetAlreadyReusable"}
      ],
      "documentation":"<p>Creates a delegation set (a group of four name servers) that can be reused by multiple hosted zones that were created by the same Amazon Web Services account. </p> <p>You can also create a reusable delegation set that uses the four name servers that are associated with an existing hosted zone. Specify the hosted zone ID in the <code>CreateReusableDelegationSet</code> request.</p> <note> <p>You can't associate a reusable delegation set with a private hosted zone.</p> </note> <p>For information about using a reusable delegation set to configure white label name servers, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/white-label-name-servers.html\">Configuring White Label Name Servers</a>.</p> <p>The process for migrating existing hosted zones to use a reusable delegation set is comparable to the process for configuring white label name servers. You need to perform the following steps:</p> <ol> <li> <p>Create a reusable delegation set.</p> </li> <li> <p>Recreate hosted zones, and reduce the TTL to 60 seconds or less.</p> </li> <li> <p>Recreate resource record sets in the new hosted zones.</p> </li> <li> <p>Change the registrar's name servers to use the name servers for the new hosted zones.</p> </li> <li> <p>Monitor traffic for the website or application.</p> </li> <li> <p>Change TTLs back to their original values.</p> </li> </ol> <p>If you want to migrate existing hosted zones to use a reusable delegation set, the existing hosted zones can't use any of the name servers that are assigned to the reusable delegation set. If one or more hosted zones do use one or more name servers that are assigned to the reusable delegation set, you can do one of the following:</p> <ul> <li> <p>For small numbers of hosted zones—up to a few hundred—it's relatively easy to create reusable delegation sets until you get one that has four name servers that don't overlap with any of the name servers in your hosted zones.</p> </li> <li> <p>For larger numbers of hosted zones, the easiest solution is to use more than one reusable delegation set.</p> </li> <li> <p>For larger numbers of hosted zones, you can also migrate hosted zones that have overlapping name servers to hosted zones that don't have overlapping name servers, then migrate the hosted zones again to use the reusable delegation set.</p> </li> </ul>"
    },
    "CreateTrafficPolicy":{
      "name":"CreateTrafficPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/trafficpolicy",
        "responseCode":201
      },
      "input":{
        "shape":"CreateTrafficPolicyRequest",
        "locationName":"CreateTrafficPolicyRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"CreateTrafficPolicyResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"TooManyTrafficPolicies"},
        {"shape":"TrafficPolicyAlreadyExists"},
        {"shape":"InvalidTrafficPolicyDocument"}
      ],
      "documentation":"<p>Creates a traffic policy, which you use to create multiple DNS resource record sets for one domain name (such as example.com) or one subdomain name (such as www.example.com).</p>"
    },
    "CreateTrafficPolicyInstance":{
      "name":"CreateTrafficPolicyInstance",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/trafficpolicyinstance",
        "responseCode":201
      },
      "input":{
        "shape":"CreateTrafficPolicyInstanceRequest",
        "locationName":"CreateTrafficPolicyInstanceRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"CreateTrafficPolicyInstanceResponse"},
      "errors":[
        {"shape":"NoSuchHostedZone"},
        {"shape":"InvalidInput"},
        {"shape":"TooManyTrafficPolicyInstances"},
        {"shape":"NoSuchTrafficPolicy"},
        {"shape":"TrafficPolicyInstanceAlreadyExists"}
      ],
      "documentation":"<p>Creates resource record sets in a specified hosted zone based on the settings in a specified traffic policy version. In addition, <code>CreateTrafficPolicyInstance</code> associates the resource record sets with a specified domain name (such as example.com) or subdomain name (such as www.example.com). Amazon Route 53 responds to DNS queries for the domain or subdomain name by using the resource record sets that <code>CreateTrafficPolicyInstance</code> created.</p> <note> <p>After you submit an <code>CreateTrafficPolicyInstance</code> request, there's a brief delay while Amazon Route 53 creates the resource record sets that are specified in the traffic policy definition. Use <code>GetTrafficPolicyInstance</code> with the <code>id</code> of new traffic policy instance to confirm that the <code>CreateTrafficPolicyInstance</code> request completed successfully. For more information, see the <code>State</code> response element.</p> </note>"
    },
    "CreateTrafficPolicyVersion":{
      "name":"CreateTrafficPolicyVersion",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/trafficpolicy/{Id}",
        "responseCode":201
      },
      "input":{
        "shape":"CreateTrafficPolicyVersionRequest",
        "locationName":"CreateTrafficPolicyVersionRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"CreateTrafficPolicyVersionResponse"},
      "errors":[
        {"shape":"NoSuchTrafficPolicy"},
        {"shape":"InvalidInput"},
        {"shape":"TooManyTrafficPolicyVersionsForCurrentPolicy"},
        {"shape":"ConcurrentModification"},
        {"shape":"InvalidTrafficPolicyDocument"}
      ],
      "documentation":"<p>Creates a new version of an existing traffic policy. When you create a new version of a traffic policy, you specify the ID of the traffic policy that you want to update and a JSON-formatted document that describes the new version. You use traffic policies to create multiple DNS resource record sets for one domain name (such as example.com) or one subdomain name (such as www.example.com). You can create a maximum of 1000 versions of a traffic policy. If you reach the limit and need to create another version, you'll need to start a new traffic policy.</p>"
    },
    "CreateVPCAssociationAuthorization":{
      "name":"CreateVPCAssociationAuthorization",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/hostedzone/{Id}/authorizevpcassociation"
      },
      "input":{
        "shape":"CreateVPCAssociationAuthorizationRequest",
        "locationName":"CreateVPCAssociationAuthorizationRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"CreateVPCAssociationAuthorizationResponse"},
      "errors":[
        {"shape":"ConcurrentModification"},
        {"shape":"TooManyVPCAssociationAuthorizations"},
        {"shape":"NoSuchHostedZone"},
        {"shape":"InvalidVPCId"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Authorizes the Amazon Web Services account that created a specified VPC to submit an <code>AssociateVPCWithHostedZone</code> request to associate the VPC with a specified hosted zone that was created by a different account. To submit a <code>CreateVPCAssociationAuthorization</code> request, you must use the account that created the hosted zone. After you authorize the association, use the account that created the VPC to submit an <code>AssociateVPCWithHostedZone</code> request.</p> <note> <p>If you want to associate multiple VPCs that you created by using one account with a hosted zone that you created by using a different account, you must submit one authorization request for each VPC.</p> </note>"
    },
    "DeactivateKeySigningKey":{
      "name":"DeactivateKeySigningKey",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/keysigningkey/{HostedZoneId}/{Name}/deactivate"
      },
      "input":{"shape":"DeactivateKeySigningKeyRequest"},
      "output":{"shape":"DeactivateKeySigningKeyResponse"},
      "errors":[
        {"shape":"ConcurrentModification"},
        {"shape":"NoSuchKeySigningKey"},
        {"shape":"InvalidKeySigningKeyStatus"},
        {"shape":"InvalidSigningStatus"},
        {"shape":"KeySigningKeyInUse"},
        {"shape":"KeySigningKeyInParentDSRecord"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Deactivates a key-signing key (KSK) so that it will not be used for signing by DNSSEC. This operation changes the KSK status to <code>INACTIVE</code>.</p>"
    },
    "DeleteCidrCollection":{
      "name":"DeleteCidrCollection",
      "http":{
        "method":"DELETE",
        "requestUri":"/2013-04-01/cidrcollection/{CidrCollectionId}"
      },
      "input":{"shape":"DeleteCidrCollectionRequest"},
      "output":{"shape":"DeleteCidrCollectionResponse"},
      "errors":[
        {"shape":"NoSuchCidrCollectionException"},
        {"shape":"CidrCollectionInUseException"},
        {"shape":"InvalidInput"},
        {"shape":"ConcurrentModification"}
      ],
      "documentation":"<p>Deletes a CIDR collection in the current Amazon Web Services account. The collection must be empty before it can be deleted.</p>"
    },
    "DeleteHealthCheck":{
      "name":"DeleteHealthCheck",
      "http":{
        "method":"DELETE",
        "requestUri":"/2013-04-01/healthcheck/{HealthCheckId}"
      },
      "input":{"shape":"DeleteHealthCheckRequest"},
      "output":{"shape":"DeleteHealthCheckResponse"},
      "errors":[
        {"shape":"NoSuchHealthCheck"},
        {"shape":"HealthCheckInUse"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Deletes a health check.</p> <important> <p>Amazon Route 53 does not prevent you from deleting a health check even if the health check is associated with one or more resource record sets. If you delete a health check and you don't update the associated resource record sets, the future status of the health check can't be predicted and may change. This will affect the routing of DNS queries for your DNS failover configuration. For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/health-checks-creating-deleting.html#health-checks-deleting.html\">Replacing and Deleting Health Checks</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> </important> <p>If you're using Cloud Map and you configured Cloud Map to create a Route 53 health check when you register an instance, you can't use the Route 53 <code>DeleteHealthCheck</code> command to delete the health check. The health check is deleted automatically when you deregister the instance; there can be a delay of several hours before the health check is deleted from Route 53. </p>"
    },
    "DeleteHostedZone":{
      "name":"DeleteHostedZone",
      "http":{
        "method":"DELETE",
        "requestUri":"/2013-04-01/hostedzone/{Id}"
      },
      "input":{"shape":"DeleteHostedZoneRequest"},
      "output":{"shape":"DeleteHostedZoneResponse"},
      "errors":[
        {"shape":"NoSuchHostedZone"},
        {"shape":"HostedZoneNotEmpty"},
        {"shape":"PriorRequestNotComplete"},
        {"shape":"InvalidInput"},
        {"shape":"InvalidDomainName"}
      ],
      "documentation":"<p>Deletes a hosted zone.</p> <p>If the hosted zone was created by another service, such as Cloud Map, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DeleteHostedZone.html#delete-public-hosted-zone-created-by-another-service\">Deleting Public Hosted Zones That Were Created by Another Service</a> in the <i>Amazon Route 53 Developer Guide</i> for information about how to delete it. (The process is the same for public and private hosted zones that were created by another service.)</p> <p>If you want to keep your domain registration but you want to stop routing internet traffic to your website or web application, we recommend that you delete resource record sets in the hosted zone instead of deleting the hosted zone.</p> <important> <p>If you delete a hosted zone, you can't undelete it. You must create a new hosted zone and update the name servers for your domain registration, which can require up to 48 hours to take effect. (If you delegated responsibility for a subdomain to a hosted zone and you delete the child hosted zone, you must update the name servers in the parent hosted zone.) In addition, if you delete a hosted zone, someone could hijack the domain and route traffic to their own resources using your domain name.</p> </important> <p>If you want to avoid the monthly charge for the hosted zone, you can transfer DNS service for the domain to a free DNS service. When you transfer DNS service, you have to update the name servers for the domain registration. If the domain is registered with Route 53, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_domains_UpdateDomainNameservers.html\">UpdateDomainNameservers</a> for information about how to replace Route 53 name servers with name servers for the new DNS service. If the domain is registered with another registrar, use the method provided by the registrar to update name servers for the domain registration. For more information, perform an internet search on \"free DNS service.\"</p> <p>You can delete a hosted zone only if it contains only the default SOA record and NS resource record sets. If the hosted zone contains other resource record sets, you must delete them before you can delete the hosted zone. If you try to delete a hosted zone that contains other resource record sets, the request fails, and Route 53 returns a <code>HostedZoneNotEmpty</code> error. For information about deleting records from your hosted zone, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_ChangeResourceRecordSets.html\">ChangeResourceRecordSets</a>.</p> <p>To verify that the hosted zone has been deleted, do one of the following:</p> <ul> <li> <p>Use the <code>GetHostedZone</code> action to request information about the hosted zone.</p> </li> <li> <p>Use the <code>ListHostedZones</code> action to get a list of the hosted zones associated with the current Amazon Web Services account.</p> </li> </ul>"
    },
    "DeleteKeySigningKey":{
      "name":"DeleteKeySigningKey",
      "http":{
        "method":"DELETE",
        "requestUri":"/2013-04-01/keysigningkey/{HostedZoneId}/{Name}"
      },
      "input":{"shape":"DeleteKeySigningKeyRequest"},
      "output":{"shape":"DeleteKeySigningKeyResponse"},
      "errors":[
        {"shape":"ConcurrentModification"},
        {"shape":"NoSuchKeySigningKey"},
        {"shape":"InvalidKeySigningKeyStatus"},
        {"shape":"InvalidSigningStatus"},
        {"shape":"InvalidKMSArn"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Deletes a key-signing key (KSK). Before you can delete a KSK, you must deactivate it. The KSK must be deactivated before you can delete it regardless of whether the hosted zone is enabled for DNSSEC signing.</p> <p>You can use <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_DeactivateKeySigningKey.html\">DeactivateKeySigningKey</a> to deactivate the key before you delete it.</p> <p>Use <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_GetDNSSEC.html\">GetDNSSEC</a> to verify that the KSK is in an <code>INACTIVE</code> status.</p>"
    },
    "DeleteQueryLoggingConfig":{
      "name":"DeleteQueryLoggingConfig",
      "http":{
        "method":"DELETE",
        "requestUri":"/2013-04-01/queryloggingconfig/{Id}"
      },
      "input":{"shape":"DeleteQueryLoggingConfigRequest"},
      "output":{"shape":"DeleteQueryLoggingConfigResponse"},
      "errors":[
        {"shape":"ConcurrentModification"},
        {"shape":"NoSuchQueryLoggingConfig"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Deletes a configuration for DNS query logging. If you delete a configuration, Amazon Route 53 stops sending query logs to CloudWatch Logs. Route 53 doesn't delete any logs that are already in CloudWatch Logs.</p> <p>For more information about DNS query logs, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_CreateQueryLoggingConfig.html\">CreateQueryLoggingConfig</a>.</p>"
    },
    "DeleteReusableDelegationSet":{
      "name":"DeleteReusableDelegationSet",
      "http":{
        "method":"DELETE",
        "requestUri":"/2013-04-01/delegationset/{Id}"
      },
      "input":{"shape":"DeleteReusableDelegationSetRequest"},
      "output":{"shape":"DeleteReusableDelegationSetResponse"},
      "errors":[
        {"shape":"NoSuchDelegationSet"},
        {"shape":"DelegationSetInUse"},
        {"shape":"DelegationSetNotReusable"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Deletes a reusable delegation set.</p> <important> <p>You can delete a reusable delegation set only if it isn't associated with any hosted zones.</p> </important> <p>To verify that the reusable delegation set is not associated with any hosted zones, submit a <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_GetReusableDelegationSet.html\">GetReusableDelegationSet</a> request and specify the ID of the reusable delegation set that you want to delete.</p>"
    },
    "DeleteTrafficPolicy":{
      "name":"DeleteTrafficPolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/2013-04-01/trafficpolicy/{Id}/{Version}"
      },
      "input":{"shape":"DeleteTrafficPolicyRequest"},
      "output":{"shape":"DeleteTrafficPolicyResponse"},
      "errors":[
        {"shape":"NoSuchTrafficPolicy"},
        {"shape":"InvalidInput"},
        {"shape":"TrafficPolicyInUse"},
        {"shape":"ConcurrentModification"}
      ],
      "documentation":"<p>Deletes a traffic policy.</p> <p>When you delete a traffic policy, Route 53 sets a flag on the policy to indicate that it has been deleted. However, Route 53 never fully deletes the traffic policy. Note the following:</p> <ul> <li> <p>Deleted traffic policies aren't listed if you run <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_ListTrafficPolicies.html\">ListTrafficPolicies</a>.</p> </li> <li> <p> There's no way to get a list of deleted policies.</p> </li> <li> <p>If you retain the ID of the policy, you can get information about the policy, including the traffic policy document, by running <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_GetTrafficPolicy.html\">GetTrafficPolicy</a>.</p> </li> </ul>"
    },
    "DeleteTrafficPolicyInstance":{
      "name":"DeleteTrafficPolicyInstance",
      "http":{
        "method":"DELETE",
        "requestUri":"/2013-04-01/trafficpolicyinstance/{Id}"
      },
      "input":{"shape":"DeleteTrafficPolicyInstanceRequest"},
      "output":{"shape":"DeleteTrafficPolicyInstanceResponse"},
      "errors":[
        {"shape":"NoSuchTrafficPolicyInstance"},
        {"shape":"InvalidInput"},
        {"shape":"PriorRequestNotComplete"}
      ],
      "documentation":"<p>Deletes a traffic policy instance and all of the resource record sets that Amazon Route 53 created when you created the instance.</p> <note> <p>In the Route 53 console, traffic policy instances are known as policy records.</p> </note>"
    },
    "DeleteVPCAssociationAuthorization":{
      "name":"DeleteVPCAssociationAuthorization",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/hostedzone/{Id}/deauthorizevpcassociation"
      },
      "input":{
        "shape":"DeleteVPCAssociationAuthorizationRequest",
        "locationName":"DeleteVPCAssociationAuthorizationRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"DeleteVPCAssociationAuthorizationResponse"},
      "errors":[
        {"shape":"ConcurrentModification"},
        {"shape":"VPCAssociationAuthorizationNotFound"},
        {"shape":"NoSuchHostedZone"},
        {"shape":"InvalidVPCId"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Removes authorization to submit an <code>AssociateVPCWithHostedZone</code> request to associate a specified VPC with a hosted zone that was created by a different account. You must use the account that created the hosted zone to submit a <code>DeleteVPCAssociationAuthorization</code> request.</p> <important> <p>Sending this request only prevents the Amazon Web Services account that created the VPC from associating the VPC with the Amazon Route 53 hosted zone in the future. If the VPC is already associated with the hosted zone, <code>DeleteVPCAssociationAuthorization</code> won't disassociate the VPC from the hosted zone. If you want to delete an existing association, use <code>DisassociateVPCFromHostedZone</code>.</p> </important>"
    },
    "DisableHostedZoneDNSSEC":{
      "name":"DisableHostedZoneDNSSEC",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/hostedzone/{Id}/disable-dnssec"
      },
      "input":{"shape":"DisableHostedZoneDNSSECRequest"},
      "output":{"shape":"DisableHostedZoneDNSSECResponse"},
      "errors":[
        {"shape":"NoSuchHostedZone"},
        {"shape":"InvalidArgument"},
        {"shape":"ConcurrentModification"},
        {"shape":"KeySigningKeyInParentDSRecord"},
        {"shape":"DNSSECNotFound"},
        {"shape":"InvalidKeySigningKeyStatus"},
        {"shape":"InvalidKMSArn"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Disables DNSSEC signing in a specific hosted zone. This action does not deactivate any key-signing keys (KSKs) that are active in the hosted zone.</p>"
    },
    "DisassociateVPCFromHostedZone":{
      "name":"DisassociateVPCFromHostedZone",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/hostedzone/{Id}/disassociatevpc"
      },
      "input":{
        "shape":"DisassociateVPCFromHostedZoneRequest",
        "locationName":"DisassociateVPCFromHostedZoneRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"DisassociateVPCFromHostedZoneResponse"},
      "errors":[
        {"shape":"NoSuchHostedZone"},
        {"shape":"InvalidVPCId"},
        {"shape":"VPCAssociationNotFound"},
        {"shape":"LastVPCAssociation"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Disassociates an Amazon Virtual Private Cloud (Amazon VPC) from an Amazon Route 53 private hosted zone. Note the following:</p> <ul> <li> <p>You can't disassociate the last Amazon VPC from a private hosted zone.</p> </li> <li> <p>You can't convert a private hosted zone into a public hosted zone.</p> </li> <li> <p>You can submit a <code>DisassociateVPCFromHostedZone</code> request using either the account that created the hosted zone or the account that created the Amazon VPC.</p> </li> <li> <p>Some services, such as Cloud Map and Amazon Elastic File System (Amazon EFS) automatically create hosted zones and associate VPCs with the hosted zones. A service can create a hosted zone using your account or using its own account. You can disassociate a VPC from a hosted zone only if the service created the hosted zone using your account.</p> <p>When you run <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_ListHostedZonesByVPC.html\">DisassociateVPCFromHostedZone</a>, if the hosted zone has a value for <code>OwningAccount</code>, you can use <code>DisassociateVPCFromHostedZone</code>. If the hosted zone has a value for <code>OwningService</code>, you can't use <code>DisassociateVPCFromHostedZone</code>.</p> </li> </ul> <note> <p>When revoking access, the hosted zone and the Amazon VPC must belong to the same partition. A partition is a group of Amazon Web Services Regions. Each Amazon Web Services account is scoped to one partition.</p> <p>The following are the supported partitions:</p> <ul> <li> <p> <code>aws</code> - Amazon Web Services Regions</p> </li> <li> <p> <code>aws-cn</code> - China Regions</p> </li> <li> <p> <code>aws-us-gov</code> - Amazon Web Services GovCloud (US) Region</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Access Management</a> in the <i>Amazon Web Services General Reference</i>.</p> </note>"
    },
    "EnableHostedZoneDNSSEC":{
      "name":"EnableHostedZoneDNSSEC",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/hostedzone/{Id}/enable-dnssec"
      },
      "input":{"shape":"EnableHostedZoneDNSSECRequest"},
      "output":{"shape":"EnableHostedZoneDNSSECResponse"},
      "errors":[
        {"shape":"NoSuchHostedZone"},
        {"shape":"InvalidArgument"},
        {"shape":"ConcurrentModification"},
        {"shape":"KeySigningKeyWithActiveStatusNotFound"},
        {"shape":"InvalidKMSArn"},
        {"shape":"HostedZonePartiallyDelegated"},
        {"shape":"DNSSECNotFound"},
        {"shape":"InvalidKeySigningKeyStatus"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Enables DNSSEC signing in a specific hosted zone.</p>"
    },
    "GetAccountLimit":{
      "name":"GetAccountLimit",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/accountlimit/{Type}"
      },
      "input":{"shape":"GetAccountLimitRequest"},
      "output":{"shape":"GetAccountLimitResponse"},
      "errors":[
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Gets the specified limit for the current account, for example, the maximum number of health checks that you can create using the account.</p> <p>For the default limit, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DNSLimitations.html\">Limits</a> in the <i>Amazon Route 53 Developer Guide</i>. To request a higher limit, <a href=\"https://console.aws.amazon.com/support/home#/case/create?issueType=service-limit-increase&amp;limitType=service-code-route53\">open a case</a>.</p> <note> <p>You can also view account limits in Amazon Web Services Trusted Advisor. Sign in to the Amazon Web Services Management Console and open the Trusted Advisor console at <a href=\"https://console.aws.amazon.com/trustedadvisor\">https://console.aws.amazon.com/trustedadvisor/</a>. Then choose <b>Service limits</b> in the navigation pane.</p> </note>"
    },
    "GetChange":{
      "name":"GetChange",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/change/{Id}"
      },
      "input":{"shape":"GetChangeRequest"},
      "output":{"shape":"GetChangeResponse"},
      "errors":[
        {"shape":"NoSuchChange"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Returns the current status of a change batch request. The status is one of the following values:</p> <ul> <li> <p> <code>PENDING</code> indicates that the changes in this request have not propagated to all Amazon Route 53 DNS servers managing the hosted zone. This is the initial status of all change batch requests.</p> </li> <li> <p> <code>INSYNC</code> indicates that the changes have propagated to all Route 53 DNS servers managing the hosted zone. </p> </li> </ul>"
    },
    "GetCheckerIpRanges":{
      "name":"GetCheckerIpRanges",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/checkeripranges"
      },
      "input":{"shape":"GetCheckerIpRangesRequest"},
      "output":{"shape":"GetCheckerIpRangesResponse"},
      "documentation":"<p>Route 53 does not perform authorization for this API because it retrieves information that is already available to the public.</p> <important> <p> <code>GetCheckerIpRanges</code> still works, but we recommend that you download ip-ranges.json, which includes IP address ranges for all Amazon Web Services services. For more information, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/route-53-ip-addresses.html\">IP Address Ranges of Amazon Route 53 Servers</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> </important>"
    },
    "GetDNSSEC":{
      "name":"GetDNSSEC",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/hostedzone/{Id}/dnssec"
      },
      "input":{"shape":"GetDNSSECRequest"},
      "output":{"shape":"GetDNSSECResponse"},
      "errors":[
        {"shape":"NoSuchHostedZone"},
        {"shape":"InvalidArgument"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Returns information about DNSSEC for a specific hosted zone, including the key-signing keys (KSKs) in the hosted zone.</p>"
    },
    "GetGeoLocation":{
      "name":"GetGeoLocation",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/geolocation"
      },
      "input":{"shape":"GetGeoLocationRequest"},
      "output":{"shape":"GetGeoLocationResponse"},
      "errors":[
        {"shape":"NoSuchGeoLocation"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Gets information about whether a specified geographic location is supported for Amazon Route 53 geolocation resource record sets.</p> <p>Route 53 does not perform authorization for this API because it retrieves information that is already available to the public.</p> <p>Use the following syntax to determine whether a continent is supported for geolocation:</p> <p> <code>GET /2013-04-01/geolocation?continentcode=<i>two-letter abbreviation for a continent</i> </code> </p> <p>Use the following syntax to determine whether a country is supported for geolocation:</p> <p> <code>GET /2013-04-01/geolocation?countrycode=<i>two-character country code</i> </code> </p> <p>Use the following syntax to determine whether a subdivision of a country is supported for geolocation:</p> <p> <code>GET /2013-04-01/geolocation?countrycode=<i>two-character country code</i>&amp;subdivisioncode=<i>subdivision code</i> </code> </p>"
    },
    "GetHealthCheck":{
      "name":"GetHealthCheck",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/healthcheck/{HealthCheckId}"
      },
      "input":{"shape":"GetHealthCheckRequest"},
      "output":{"shape":"GetHealthCheckResponse"},
      "errors":[
        {"shape":"NoSuchHealthCheck"},
        {"shape":"InvalidInput"},
        {"shape":"IncompatibleVersion"}
      ],
      "documentation":"<p>Gets information about a specified health check.</p>"
    },
    "GetHealthCheckCount":{
      "name":"GetHealthCheckCount",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/healthcheckcount"
      },
      "input":{"shape":"GetHealthCheckCountRequest"},
      "output":{"shape":"GetHealthCheckCountResponse"},
      "documentation":"<p>Retrieves the number of health checks that are associated with the current Amazon Web Services account.</p>"
    },
    "GetHealthCheckLastFailureReason":{
      "name":"GetHealthCheckLastFailureReason",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/healthcheck/{HealthCheckId}/lastfailurereason"
      },
      "input":{"shape":"GetHealthCheckLastFailureReasonRequest"},
      "output":{"shape":"GetHealthCheckLastFailureReasonResponse"},
      "errors":[
        {"shape":"NoSuchHealthCheck"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Gets the reason that a specified health check failed most recently.</p>"
    },
    "GetHealthCheckStatus":{
      "name":"GetHealthCheckStatus",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/healthcheck/{HealthCheckId}/status"
      },
      "input":{"shape":"GetHealthCheckStatusRequest"},
      "output":{"shape":"GetHealthCheckStatusResponse"},
      "errors":[
        {"shape":"NoSuchHealthCheck"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Gets status of a specified health check. </p> <important> <p>This API is intended for use during development to diagnose behavior. It doesn’t support production use-cases with high query rates that require immediate and actionable responses.</p> </important>"
    },
    "GetHostedZone":{
      "name":"GetHostedZone",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/hostedzone/{Id}"
      },
      "input":{"shape":"GetHostedZoneRequest"},
      "output":{"shape":"GetHostedZoneResponse"},
      "errors":[
        {"shape":"NoSuchHostedZone"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Gets information about a specified hosted zone including the four name servers assigned to the hosted zone.</p> <p> <code/> returns the VPCs associated with the specified hosted zone and does not reflect the VPC associations by Route 53 Profiles. To get the associations to a Profile, call the <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53profiles_ListProfileAssociations.html\">ListProfileAssociations</a> API.</p>"
    },
    "GetHostedZoneCount":{
      "name":"GetHostedZoneCount",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/hostedzonecount"
      },
      "input":{"shape":"GetHostedZoneCountRequest"},
      "output":{"shape":"GetHostedZoneCountResponse"},
      "errors":[
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Retrieves the number of hosted zones that are associated with the current Amazon Web Services account.</p>"
    },
    "GetHostedZoneLimit":{
      "name":"GetHostedZoneLimit",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/hostedzonelimit/{Id}/{Type}"
      },
      "input":{"shape":"GetHostedZoneLimitRequest"},
      "output":{"shape":"GetHostedZoneLimitResponse"},
      "errors":[
        {"shape":"NoSuchHostedZone"},
        {"shape":"InvalidInput"},
        {"shape":"HostedZoneNotPrivate"}
      ],
      "documentation":"<p>Gets the specified limit for a specified hosted zone, for example, the maximum number of records that you can create in the hosted zone. </p> <p>For the default limit, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DNSLimitations.html\">Limits</a> in the <i>Amazon Route 53 Developer Guide</i>. To request a higher limit, <a href=\"https://console.aws.amazon.com/support/home#/case/create?issueType=service-limit-increase&amp;limitType=service-code-route53\">open a case</a>.</p>"
    },
    "GetQueryLoggingConfig":{
      "name":"GetQueryLoggingConfig",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/queryloggingconfig/{Id}"
      },
      "input":{"shape":"GetQueryLoggingConfigRequest"},
      "output":{"shape":"GetQueryLoggingConfigResponse"},
      "errors":[
        {"shape":"NoSuchQueryLoggingConfig"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Gets information about a specified configuration for DNS query logging.</p> <p>For more information about DNS query logs, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_CreateQueryLoggingConfig.html\">CreateQueryLoggingConfig</a> and <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/query-logs.html\">Logging DNS Queries</a>.</p>"
    },
    "GetReusableDelegationSet":{
      "name":"GetReusableDelegationSet",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/delegationset/{Id}"
      },
      "input":{"shape":"GetReusableDelegationSetRequest"},
      "output":{"shape":"GetReusableDelegationSetResponse"},
      "errors":[
        {"shape":"NoSuchDelegationSet"},
        {"shape":"DelegationSetNotReusable"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Retrieves information about a specified reusable delegation set, including the four name servers that are assigned to the delegation set.</p>"
    },
    "GetReusableDelegationSetLimit":{
      "name":"GetReusableDelegationSetLimit",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/reusabledelegationsetlimit/{Id}/{Type}"
      },
      "input":{"shape":"GetReusableDelegationSetLimitRequest"},
      "output":{"shape":"GetReusableDelegationSetLimitResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"NoSuchDelegationSet"}
      ],
      "documentation":"<p>Gets the maximum number of hosted zones that you can associate with the specified reusable delegation set.</p> <p>For the default limit, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DNSLimitations.html\">Limits</a> in the <i>Amazon Route 53 Developer Guide</i>. To request a higher limit, <a href=\"https://console.aws.amazon.com/support/home#/case/create?issueType=service-limit-increase&amp;limitType=service-code-route53\">open a case</a>.</p>"
    },
    "GetTrafficPolicy":{
      "name":"GetTrafficPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/trafficpolicy/{Id}/{Version}"
      },
      "input":{"shape":"GetTrafficPolicyRequest"},
      "output":{"shape":"GetTrafficPolicyResponse"},
      "errors":[
        {"shape":"NoSuchTrafficPolicy"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Gets information about a specific traffic policy version.</p> <p>For information about how of deleting a traffic policy affects the response from <code>GetTrafficPolicy</code>, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_DeleteTrafficPolicy.html\">DeleteTrafficPolicy</a>. </p>"
    },
    "GetTrafficPolicyInstance":{
      "name":"GetTrafficPolicyInstance",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/trafficpolicyinstance/{Id}"
      },
      "input":{"shape":"GetTrafficPolicyInstanceRequest"},
      "output":{"shape":"GetTrafficPolicyInstanceResponse"},
      "errors":[
        {"shape":"NoSuchTrafficPolicyInstance"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Gets information about a specified traffic policy instance.</p> <note> <p> Use <code>GetTrafficPolicyInstance</code> with the <code>id</code> of new traffic policy instance to confirm that the <code>CreateTrafficPolicyInstance</code> or an <code>UpdateTrafficPolicyInstance</code> request completed successfully. For more information, see the <code>State</code> response element.</p> </note> <note> <p>In the Route 53 console, traffic policy instances are known as policy records.</p> </note>"
    },
    "GetTrafficPolicyInstanceCount":{
      "name":"GetTrafficPolicyInstanceCount",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/trafficpolicyinstancecount"
      },
      "input":{"shape":"GetTrafficPolicyInstanceCountRequest"},
      "output":{"shape":"GetTrafficPolicyInstanceCountResponse"},
      "documentation":"<p>Gets the number of traffic policy instances that are associated with the current Amazon Web Services account.</p>"
    },
    "ListCidrBlocks":{
      "name":"ListCidrBlocks",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/cidrcollection/{CidrCollectionId}/cidrblocks"
      },
      "input":{"shape":"ListCidrBlocksRequest"},
      "output":{"shape":"ListCidrBlocksResponse"},
      "errors":[
        {"shape":"NoSuchCidrCollectionException"},
        {"shape":"NoSuchCidrLocationException"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Returns a paginated list of location objects and their CIDR blocks.</p>"
    },
    "ListCidrCollections":{
      "name":"ListCidrCollections",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/cidrcollection"
      },
      "input":{"shape":"ListCidrCollectionsRequest"},
      "output":{"shape":"ListCidrCollectionsResponse"},
      "errors":[
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Returns a paginated list of CIDR collections in the Amazon Web Services account (metadata only).</p>"
    },
    "ListCidrLocations":{
      "name":"ListCidrLocations",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/cidrcollection/{CidrCollectionId}"
      },
      "input":{"shape":"ListCidrLocationsRequest"},
      "output":{"shape":"ListCidrLocationsResponse"},
      "errors":[
        {"shape":"NoSuchCidrCollectionException"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Returns a paginated list of CIDR locations for the given collection (metadata only, does not include CIDR blocks).</p>"
    },
    "ListGeoLocations":{
      "name":"ListGeoLocations",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/geolocations"
      },
      "input":{"shape":"ListGeoLocationsRequest"},
      "output":{"shape":"ListGeoLocationsResponse"},
      "errors":[
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Retrieves a list of supported geographic locations.</p> <p>Countries are listed first, and continents are listed last. If Amazon Route 53 supports subdivisions for a country (for example, states or provinces), the subdivisions for that country are listed in alphabetical order immediately after the corresponding country.</p> <p>Route 53 does not perform authorization for this API because it retrieves information that is already available to the public.</p> <p>For a list of supported geolocation codes, see the <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_GeoLocation.html\">GeoLocation</a> data type.</p>"
    },
    "ListHealthChecks":{
      "name":"ListHealthChecks",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/healthcheck"
      },
      "input":{"shape":"ListHealthChecksRequest"},
      "output":{"shape":"ListHealthChecksResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"IncompatibleVersion"}
      ],
      "documentation":"<p>Retrieve a list of the health checks that are associated with the current Amazon Web Services account. </p>"
    },
    "ListHostedZones":{
      "name":"ListHostedZones",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/hostedzone"
      },
      "input":{"shape":"ListHostedZonesRequest"},
      "output":{"shape":"ListHostedZonesResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"NoSuchDelegationSet"},
        {"shape":"DelegationSetNotReusable"}
      ],
      "documentation":"<p>Retrieves a list of the public and private hosted zones that are associated with the current Amazon Web Services account. The response includes a <code>HostedZones</code> child element for each hosted zone.</p> <p>Amazon Route 53 returns a maximum of 100 items in each response. If you have a lot of hosted zones, you can use the <code>maxitems</code> parameter to list them in groups of up to 100.</p>"
    },
    "ListHostedZonesByName":{
      "name":"ListHostedZonesByName",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/hostedzonesbyname"
      },
      "input":{"shape":"ListHostedZonesByNameRequest"},
      "output":{"shape":"ListHostedZonesByNameResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"InvalidDomainName"}
      ],
      "documentation":"<p>Retrieves a list of your hosted zones in lexicographic order. The response includes a <code>HostedZones</code> child element for each hosted zone created by the current Amazon Web Services account. </p> <p> <code>ListHostedZonesByName</code> sorts hosted zones by name with the labels reversed. For example:</p> <p> <code>com.example.www.</code> </p> <p>Note the trailing dot, which can change the sort order in some circumstances.</p> <p>If the domain name includes escape characters or Punycode, <code>ListHostedZonesByName</code> alphabetizes the domain name using the escaped or Punycoded value, which is the format that Amazon Route 53 saves in its database. For example, to create a hosted zone for exämple.com, you specify ex\\344mple.com for the domain name. <code>ListHostedZonesByName</code> alphabetizes it as:</p> <p> <code>com.ex\\344mple.</code> </p> <p>The labels are reversed and alphabetized using the escaped value. For more information about valid domain name formats, including internationalized domain names, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html\">DNS Domain Name Format</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> <p>Route 53 returns up to 100 items in each response. If you have a lot of hosted zones, use the <code>MaxItems</code> parameter to list them in groups of up to 100. The response includes values that help navigate from one group of <code>MaxItems</code> hosted zones to the next:</p> <ul> <li> <p>The <code>DNSName</code> and <code>HostedZoneId</code> elements in the response contain the values, if any, specified for the <code>dnsname</code> and <code>hostedzoneid</code> parameters in the request that produced the current response.</p> </li> <li> <p>The <code>MaxItems</code> element in the response contains the value, if any, that you specified for the <code>maxitems</code> parameter in the request that produced the current response.</p> </li> <li> <p>If the value of <code>IsTruncated</code> in the response is true, there are more hosted zones associated with the current Amazon Web Services account. </p> <p>If <code>IsTruncated</code> is false, this response includes the last hosted zone that is associated with the current account. The <code>NextDNSName</code> element and <code>NextHostedZoneId</code> elements are omitted from the response.</p> </li> <li> <p>The <code>NextDNSName</code> and <code>NextHostedZoneId</code> elements in the response contain the domain name and the hosted zone ID of the next hosted zone that is associated with the current Amazon Web Services account. If you want to list more hosted zones, make another call to <code>ListHostedZonesByName</code>, and specify the value of <code>NextDNSName</code> and <code>NextHostedZoneId</code> in the <code>dnsname</code> and <code>hostedzoneid</code> parameters, respectively.</p> </li> </ul>"
    },
    "ListHostedZonesByVPC":{
      "name":"ListHostedZonesByVPC",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/hostedzonesbyvpc"
      },
      "input":{"shape":"ListHostedZonesByVPCRequest"},
      "output":{"shape":"ListHostedZonesByVPCResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"InvalidPaginationToken"}
      ],
      "documentation":"<p>Lists all the private hosted zones that a specified VPC is associated with, regardless of which Amazon Web Services account or Amazon Web Services service owns the hosted zones. The <code>HostedZoneOwner</code> structure in the response contains one of the following values:</p> <ul> <li> <p>An <code>OwningAccount</code> element, which contains the account number of either the current Amazon Web Services account or another Amazon Web Services account. Some services, such as Cloud Map, create hosted zones using the current account. </p> </li> <li> <p>An <code>OwningService</code> element, which identifies the Amazon Web Services service that created and owns the hosted zone. For example, if a hosted zone was created by Amazon Elastic File System (Amazon EFS), the value of <code>Owner</code> is <code>efs.amazonaws.com</code>. </p> </li> </ul> <p> <code>ListHostedZonesByVPC</code> returns the hosted zones associated with the specified VPC and does not reflect the hosted zone associations to VPCs via Route 53 Profiles. To get the associations to a Profile, call the <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_route53profiles_ListProfileResourceAssociations.html\">ListProfileResourceAssociations</a> API.</p> <note> <p>When listing private hosted zones, the hosted zone and the Amazon VPC must belong to the same partition where the hosted zones were created. A partition is a group of Amazon Web Services Regions. Each Amazon Web Services account is scoped to one partition.</p> <p>The following are the supported partitions:</p> <ul> <li> <p> <code>aws</code> - Amazon Web Services Regions</p> </li> <li> <p> <code>aws-cn</code> - China Regions</p> </li> <li> <p> <code>aws-us-gov</code> - Amazon Web Services GovCloud (US) Region</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Access Management</a> in the <i>Amazon Web Services General Reference</i>.</p> </note>"
    },
    "ListQueryLoggingConfigs":{
      "name":"ListQueryLoggingConfigs",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/queryloggingconfig"
      },
      "input":{"shape":"ListQueryLoggingConfigsRequest"},
      "output":{"shape":"ListQueryLoggingConfigsResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"InvalidPaginationToken"},
        {"shape":"NoSuchHostedZone"}
      ],
      "documentation":"<p>Lists the configurations for DNS query logging that are associated with the current Amazon Web Services account or the configuration that is associated with a specified hosted zone.</p> <p>For more information about DNS query logs, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_CreateQueryLoggingConfig.html\">CreateQueryLoggingConfig</a>. Additional information, including the format of DNS query logs, appears in <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/query-logs.html\">Logging DNS Queries</a> in the <i>Amazon Route 53 Developer Guide</i>.</p>"
    },
    "ListResourceRecordSets":{
      "name":"ListResourceRecordSets",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/hostedzone/{Id}/rrset"
      },
      "input":{"shape":"ListResourceRecordSetsRequest"},
      "output":{"shape":"ListResourceRecordSetsResponse"},
      "errors":[
        {"shape":"NoSuchHostedZone"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Lists the resource record sets in a specified hosted zone.</p> <p> <code>ListResourceRecordSets</code> returns up to 300 resource record sets at a time in ASCII order, beginning at a position specified by the <code>name</code> and <code>type</code> elements.</p> <p> <b>Sort order</b> </p> <p> <code>ListResourceRecordSets</code> sorts results first by DNS name with the labels reversed, for example:</p> <p> <code>com.example.www.</code> </p> <p>Note the trailing dot, which can change the sort order when the record name contains characters that appear before <code>.</code> (decimal 46) in the ASCII table. These characters include the following: <code>! \" # $ % &amp; ' ( ) * + , -</code> </p> <p>When multiple records have the same DNS name, <code>ListResourceRecordSets</code> sorts results by the record type.</p> <p> <b>Specifying where to start listing records</b> </p> <p>You can use the name and type elements to specify the resource record set that the list begins with:</p> <dl> <dt>If you do not specify Name or Type</dt> <dd> <p>The results begin with the first resource record set that the hosted zone contains.</p> </dd> <dt>If you specify Name but not Type</dt> <dd> <p>The results begin with the first resource record set in the list whose name is greater than or equal to <code>Name</code>.</p> </dd> <dt>If you specify Type but not Name</dt> <dd> <p>Amazon Route 53 returns the <code>InvalidInput</code> error.</p> </dd> <dt>If you specify both Name and Type</dt> <dd> <p>The results begin with the first resource record set in the list whose name is greater than or equal to <code>Name</code>, and whose type is greater than or equal to <code>Type</code>.</p> <note> <p>Type is only used to sort between records with the same record Name.</p> </note> </dd> </dl> <p> <b>Resource record sets that are PENDING</b> </p> <p>This action returns the most current version of the records. This includes records that are <code>PENDING</code>, and that are not yet available on all Route 53 DNS servers.</p> <p> <b>Changing resource record sets</b> </p> <p>To ensure that you get an accurate listing of the resource record sets for a hosted zone at a point in time, do not submit a <code>ChangeResourceRecordSets</code> request while you're paging through the results of a <code>ListResourceRecordSets</code> request. If you do, some pages may display results without the latest changes while other pages display results with the latest changes.</p> <p> <b>Displaying the next page of results</b> </p> <p>If a <code>ListResourceRecordSets</code> command returns more than one page of results, the value of <code>IsTruncated</code> is <code>true</code>. To display the next page of results, get the values of <code>NextRecordName</code>, <code>NextRecordType</code>, and <code>NextRecordIdentifier</code> (if any) from the response. Then submit another <code>ListResourceRecordSets</code> request, and specify those values for <code>StartRecordName</code>, <code>StartRecordType</code>, and <code>StartRecordIdentifier</code>.</p>"
    },
    "ListReusableDelegationSets":{
      "name":"ListReusableDelegationSets",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/delegationset"
      },
      "input":{"shape":"ListReusableDelegationSetsRequest"},
      "output":{"shape":"ListReusableDelegationSetsResponse"},
      "errors":[
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Retrieves a list of the reusable delegation sets that are associated with the current Amazon Web Services account.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/tags/{ResourceType}/{ResourceId}"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"NoSuchHealthCheck"},
        {"shape":"NoSuchHostedZone"},
        {"shape":"PriorRequestNotComplete"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists tags for one health check or hosted zone. </p> <p>For information about using tags for cost allocation, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Using Cost Allocation Tags</a> in the <i>Billing and Cost Management User Guide</i>.</p>"
    },
    "ListTagsForResources":{
      "name":"ListTagsForResources",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/tags/{ResourceType}"
      },
      "input":{
        "shape":"ListTagsForResourcesRequest",
        "locationName":"ListTagsForResourcesRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"ListTagsForResourcesResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"NoSuchHealthCheck"},
        {"shape":"NoSuchHostedZone"},
        {"shape":"PriorRequestNotComplete"},
        {"shape":"ThrottlingException"}
      ],
      "documentation":"<p>Lists tags for up to 10 health checks or hosted zones.</p> <p>For information about using tags for cost allocation, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Using Cost Allocation Tags</a> in the <i>Billing and Cost Management User Guide</i>.</p>"
    },
    "ListTrafficPolicies":{
      "name":"ListTrafficPolicies",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/trafficpolicies"
      },
      "input":{"shape":"ListTrafficPoliciesRequest"},
      "output":{"shape":"ListTrafficPoliciesResponse"},
      "errors":[
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Gets information about the latest version for every traffic policy that is associated with the current Amazon Web Services account. Policies are listed in the order that they were created in. </p> <p>For information about how of deleting a traffic policy affects the response from <code>ListTrafficPolicies</code>, see <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_DeleteTrafficPolicy.html\">DeleteTrafficPolicy</a>. </p>"
    },
    "ListTrafficPolicyInstances":{
      "name":"ListTrafficPolicyInstances",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/trafficpolicyinstances"
      },
      "input":{"shape":"ListTrafficPolicyInstancesRequest"},
      "output":{"shape":"ListTrafficPolicyInstancesResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"NoSuchTrafficPolicyInstance"}
      ],
      "documentation":"<p>Gets information about the traffic policy instances that you created by using the current Amazon Web Services account.</p> <note> <p>After you submit an <code>UpdateTrafficPolicyInstance</code> request, there's a brief delay while Amazon Route 53 creates the resource record sets that are specified in the traffic policy definition. For more information, see the <code>State</code> response element.</p> </note> <p>Route 53 returns a maximum of 100 items in each response. If you have a lot of traffic policy instances, you can use the <code>MaxItems</code> parameter to list them in groups of up to 100.</p>"
    },
    "ListTrafficPolicyInstancesByHostedZone":{
      "name":"ListTrafficPolicyInstancesByHostedZone",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/trafficpolicyinstances/hostedzone"
      },
      "input":{"shape":"ListTrafficPolicyInstancesByHostedZoneRequest"},
      "output":{"shape":"ListTrafficPolicyInstancesByHostedZoneResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"NoSuchTrafficPolicyInstance"},
        {"shape":"NoSuchHostedZone"}
      ],
      "documentation":"<p>Gets information about the traffic policy instances that you created in a specified hosted zone.</p> <note> <p>After you submit a <code>CreateTrafficPolicyInstance</code> or an <code>UpdateTrafficPolicyInstance</code> request, there's a brief delay while Amazon Route 53 creates the resource record sets that are specified in the traffic policy definition. For more information, see the <code>State</code> response element.</p> </note> <p>Route 53 returns a maximum of 100 items in each response. If you have a lot of traffic policy instances, you can use the <code>MaxItems</code> parameter to list them in groups of up to 100.</p>"
    },
    "ListTrafficPolicyInstancesByPolicy":{
      "name":"ListTrafficPolicyInstancesByPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/trafficpolicyinstances/trafficpolicy"
      },
      "input":{"shape":"ListTrafficPolicyInstancesByPolicyRequest"},
      "output":{"shape":"ListTrafficPolicyInstancesByPolicyResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"NoSuchTrafficPolicyInstance"},
        {"shape":"NoSuchTrafficPolicy"}
      ],
      "documentation":"<p>Gets information about the traffic policy instances that you created by using a specify traffic policy version.</p> <note> <p>After you submit a <code>CreateTrafficPolicyInstance</code> or an <code>UpdateTrafficPolicyInstance</code> request, there's a brief delay while Amazon Route 53 creates the resource record sets that are specified in the traffic policy definition. For more information, see the <code>State</code> response element.</p> </note> <p>Route 53 returns a maximum of 100 items in each response. If you have a lot of traffic policy instances, you can use the <code>MaxItems</code> parameter to list them in groups of up to 100.</p>"
    },
    "ListTrafficPolicyVersions":{
      "name":"ListTrafficPolicyVersions",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/trafficpolicies/{Id}/versions"
      },
      "input":{"shape":"ListTrafficPolicyVersionsRequest"},
      "output":{"shape":"ListTrafficPolicyVersionsResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"NoSuchTrafficPolicy"}
      ],
      "documentation":"<p>Gets information about all of the versions for a specified traffic policy.</p> <p>Traffic policy versions are listed in numerical order by <code>VersionNumber</code>.</p>"
    },
    "ListVPCAssociationAuthorizations":{
      "name":"ListVPCAssociationAuthorizations",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/hostedzone/{Id}/authorizevpcassociation"
      },
      "input":{"shape":"ListVPCAssociationAuthorizationsRequest"},
      "output":{"shape":"ListVPCAssociationAuthorizationsResponse"},
      "errors":[
        {"shape":"NoSuchHostedZone"},
        {"shape":"InvalidInput"},
        {"shape":"InvalidPaginationToken"}
      ],
      "documentation":"<p>Gets a list of the VPCs that were created by other accounts and that can be associated with a specified hosted zone because you've submitted one or more <code>CreateVPCAssociationAuthorization</code> requests. </p> <p>The response includes a <code>VPCs</code> element with a <code>VPC</code> child element for each VPC that can be associated with the hosted zone.</p>"
    },
    "TestDNSAnswer":{
      "name":"TestDNSAnswer",
      "http":{
        "method":"GET",
        "requestUri":"/2013-04-01/testdnsanswer"
      },
      "input":{"shape":"TestDNSAnswerRequest"},
      "output":{"shape":"TestDNSAnswerResponse"},
      "errors":[
        {"shape":"NoSuchHostedZone"},
        {"shape":"InvalidInput"}
      ],
      "documentation":"<p>Gets the value that Amazon Route 53 returns in response to a DNS request for a specified record name and type. You can optionally specify the IP address of a DNS resolver, an EDNS0 client subnet IP address, and a subnet mask. </p> <p>This call only supports querying public hosted zones.</p> <note> <p>The <code>TestDnsAnswer </code> returns information similar to what you would expect from the answer section of the <code>dig</code> command. Therefore, if you query for the name servers of a subdomain that point to the parent name servers, those will not be returned.</p> </note>"
    },
    "UpdateHealthCheck":{
      "name":"UpdateHealthCheck",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/healthcheck/{HealthCheckId}"
      },
      "input":{
        "shape":"UpdateHealthCheckRequest",
        "locationName":"UpdateHealthCheckRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"UpdateHealthCheckResponse"},
      "errors":[
        {"shape":"NoSuchHealthCheck"},
        {"shape":"InvalidInput"},
        {"shape":"HealthCheckVersionMismatch"}
      ],
      "documentation":"<p>Updates an existing health check. Note that some values can't be updated. </p> <p>For more information about updating health checks, see <a href=\"https://docs.aws.amazon.com/Route53/latest/DeveloperGuide/health-checks-creating-deleting.html\">Creating, Updating, and Deleting Health Checks</a> in the <i>Amazon Route 53 Developer Guide</i>.</p>"
    },
    "UpdateHostedZoneComment":{
      "name":"UpdateHostedZoneComment",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/hostedzone/{Id}"
      },
      "input":{
        "shape":"UpdateHostedZoneCommentRequest",
        "locationName":"UpdateHostedZoneCommentRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"UpdateHostedZoneCommentResponse"},
      "errors":[
        {"shape":"NoSuchHostedZone"},
        {"shape":"InvalidInput"},
        {"shape":"PriorRequestNotComplete"}
      ],
      "documentation":"<p>Updates the comment for a specified hosted zone.</p>"
    },
    "UpdateTrafficPolicyComment":{
      "name":"UpdateTrafficPolicyComment",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/trafficpolicy/{Id}/{Version}"
      },
      "input":{
        "shape":"UpdateTrafficPolicyCommentRequest",
        "locationName":"UpdateTrafficPolicyCommentRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"UpdateTrafficPolicyCommentResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"NoSuchTrafficPolicy"},
        {"shape":"ConcurrentModification"}
      ],
      "documentation":"<p>Updates the comment for a specified traffic policy version.</p>"
    },
    "UpdateTrafficPolicyInstance":{
      "name":"UpdateTrafficPolicyInstance",
      "http":{
        "method":"POST",
        "requestUri":"/2013-04-01/trafficpolicyinstance/{Id}"
      },
      "input":{
        "shape":"UpdateTrafficPolicyInstanceRequest",
        "locationName":"UpdateTrafficPolicyInstanceRequest",
        "xmlNamespace":{"uri":"https://route53.amazonaws.com/doc/2013-04-01/"}
      },
      "output":{"shape":"UpdateTrafficPolicyInstanceResponse"},
      "errors":[
        {"shape":"InvalidInput"},
        {"shape":"NoSuchTrafficPolicy"},
        {"shape":"NoSuchTrafficPolicyInstance"},
        {"shape":"PriorRequestNotComplete"},
        {"shape":"ConflictingTypes"}
      ],
      "documentation":"<note> <p>After you submit a <code>UpdateTrafficPolicyInstance</code> request, there's a brief delay while Route 53 creates the resource record sets that are specified in the traffic policy definition. Use <code>GetTrafficPolicyInstance</code> with the <code>id</code> of updated traffic policy instance confirm that the <code>UpdateTrafficPolicyInstance</code> request completed successfully. For more information, see the <code>State</code> response element.</p> </note> <p>Updates the resource record sets in a specified hosted zone that were created based on the settings in a specified traffic policy version.</p> <p>When you update a traffic policy instance, Amazon Route 53 continues to respond to DNS queries for the root resource record set name (such as example.com) while it replaces one group of resource record sets with another. Route 53 performs the following operations:</p> <ol> <li> <p>Route 53 creates a new group of resource record sets based on the specified traffic policy. This is true regardless of how significant the differences are between the existing resource record sets and the new resource record sets. </p> </li> <li> <p>When all of the new resource record sets have been created, Route 53 starts to respond to DNS queries for the root resource record set name (such as example.com) by using the new resource record sets.</p> </li> <li> <p>Route 53 deletes the old group of resource record sets that are associated with the root resource record set name.</p> </li> </ol>"
    }
  },
  "shapes":{
    "ARN":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":".*\\S.*"
    },
    "AWSAccountID":{"type":"string"},
    "AWSRegion":{
      "type":"string",
      "max":64,
      "min":1
    },
    "AccountLimit":{
      "type":"structure",
      "required":[
        "Type",
        "Value"
      ],
      "members":{
        "Type":{
          "shape":"AccountLimitType",
          "documentation":"<p>The limit that you requested. Valid values include the following:</p> <ul> <li> <p> <b>MAX_HEALTH_CHECKS_BY_OWNER</b>: The maximum number of health checks that you can create using the current account.</p> </li> <li> <p> <b>MAX_HOSTED_ZONES_BY_OWNER</b>: The maximum number of hosted zones that you can create using the current account.</p> </li> <li> <p> <b>MAX_REUSABLE_DELEGATION_SETS_BY_OWNER</b>: The maximum number of reusable delegation sets that you can create using the current account.</p> </li> <li> <p> <b>MAX_TRAFFIC_POLICIES_BY_OWNER</b>: The maximum number of traffic policies that you can create using the current account.</p> </li> <li> <p> <b>MAX_TRAFFIC_POLICY_INSTANCES_BY_OWNER</b>: The maximum number of traffic policy instances that you can create using the current account. (Traffic policy instances are referred to as traffic flow policy records in the Amazon Route 53 console.)</p> </li> </ul>"
        },
        "Value":{
          "shape":"LimitValue",
          "documentation":"<p>The current value for the limit that is specified by <a href=\"https://docs.aws.amazon.com/Route53/latest/APIReference/API_AccountLimit.html#Route53-Type-AccountLimit-Type\">Type</a>.</p>"
        }
      },
      "documentation":"<p>A complex type that contains the type of limit that you specified in the request and the current value for that limit.</p>"
    },
    "AccountLimitType":{
      "type":"string",
      "enum":[
        "MAX_HEALTH_CHECKS_BY_OWNER",
        "MAX_HOSTED_ZONES_BY_OWNER",
        "MAX_TRAFFIC_POLICY_INSTANCES_BY_OWNER",
        "MAX_REUSABLE_DELEGATION_SETS_BY_OWNER",
        "MAX_TRAFFIC_POLICIES_BY_OWNER"
      ]
    },
    "ActivateKeySigningKeyRequest":{
      "type":"structure",
      "required":[
        "HostedZoneId",
        "Name"
      ],
      "members":{
        "HostedZoneId":{
          "shape":"ResourceId",
          "documentation":"<p>A unique string used to identify a hosted zone.</p>",
          "location":"uri",
          "locationName":"HostedZoneId"
        },
        "Name":{
          "shape":"SigningKeyName",
          "documentation":"<p>A string used to identify a key-signing key (KSK). <code>Name</code> can include numbers, letters, and underscores (_). <code>Name</code> must be unique for each key-signing key in the same hosted zone.</p>",
          "location":"uri",
          "locationName":"Name"
        }
      }
    },
    "ActivateKeySigningKeyResponse":{
      "type":"structure",
      "required":["ChangeInfo"],
      "members":{
        "ChangeInfo":{"shape":"ChangeInfo"}
      }
    },
    "AlarmIdentifier":{
      "type":"structure",
      "required":[
        "Region",
        "Name"
      ],
      "members":{
        "Region":{
          "shape":"CloudWatchRegion",
          "documentation":"<p>For the CloudWatch alarm that you want Route 53 health checkers to use to determine whether this health check is healthy, the region that the alarm was created in.</p> <p>For the current list of CloudWatch regions, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/cw_region.html\">Amazon CloudWatch endpoints and quotas</a> in the <i>Amazon Web Services General Reference</i>.</p>"
        },
        "Name":{
          "shape":"AlarmName",
          "documentation":"<p>The name of the CloudWatch alarm that you want Amazon Route 53 health checkers to use to determine whether this health check is healthy.</p> <note> <p>Route 53 supports CloudWatch alarms with the following features:</p> <ul> <li> <p>Standard-resolution metrics. High-resolution metrics aren't supported. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/DeveloperGuide/publishingMetrics.html#high-resolution-metrics\">High-Resolution Metrics</a> in the <i>Amazon CloudWatch User Guide</i>.</p> </li> <li> <p>Statistics: Average, Minimum, Maximum, Sum, and SampleCount. Extended statistics aren't supported.</p> </li> </ul> </note>"
        }
      },
      "documentation":"<p>A complex type that identifies the CloudWatch alarm that you want Amazon Route 53 health checkers to use to determine whether the specified health check is healthy.</p>"
    },
    "AlarmName":{
      "type":"string",
      "max":256,
      "min":1
    },
    "AliasHealthEnabled":{"type":"boolean"},
    "AliasTarget":{
      "type":"structure",
      "required":[
        "HostedZoneId",
        "DNSName",
        "EvaluateTargetHealth"
      ],
      "members":{
        "HostedZoneId":{
          "shape":"ResourceId",
[...]
