<section class="gh-canvas">
    <header class="gh-canvas-header">
        <h2 class="gh-canvas-title" data-test-screen-title>
            {{#link-to "settings.apps.index"}}Apps{{/link-to}}
            <span>{{inline-svg "arrow-right"}}</span>
            Unsplash
        </h2>
        <section class="view-actions">
            {{gh-task-button task=save class="gh-btn gh-btn-blue gh-btn-icon" data-test-save-button=true}}
        </section>
    </header>

    {{#if showLeaveSettingsModal}}
        {{gh-fullscreen-modal "leave-settings"
            confirm=(action "leaveSettings")
            close=(action "toggleLeaveSettingsModal")
            modifier="action wide"}}
    {{/if}}

    <section class="view-container">
        <br>
        <section class="app-grid">
            <div class="app-cell">
                <img class="app-icon" src="assets/img/unsplashicon.png" />
            </div>
            <div class="app-cell">
                <h3>Unsplash</h3>
                <p>Beautiful, free photos</p>
            </div>
        </section>

        <div class="gh-setting-header">Unsplash configuration</div>
        <div class="gh-setting" id="unsplash-toggle">
            <div class="gh-setting-content">
                <div class="gh-setting-title">Enable Unsplash</div>
                <div class="gh-setting-desc">Enable <a href="https://unsplash.com" target="_blank">Unsplash</a> image integration for your posts</div>
            </div>
            <div class="gh-setting-action">
                <div class="form-group right">
                    <div class="for-checkbox">
                        <label for="isActive" class="checkbox">
                                {{one-way-checkbox unsplashSettings.isActive id="isActive" name="isActive" type="checkbox" update=(action "update") data-test-checkbox="unsplash"}}
                                <span class="input-toggle-component"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
