{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2022-12-25",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"mediapackagev2",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceAbbreviation":"mediapackagev2",
    "serviceFullName":"AWS Elemental MediaPackage v2",
    "serviceId":"MediaPackageV2",
    "signatureVersion":"v4",
    "signingName":"mediapackagev2",
    "uid":"mediapackagev2-2022-12-25"
  },
  "operations":{
    "CancelHarvestJob":{
      "name":"CancelHarvestJob",
      "http":{
        "method":"PUT",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}/harvestJob/{HarvestJobName}",
        "responseCode":200
      },
      "input":{"shape":"CancelHarvestJobRequest"},
      "output":{"shape":"CancelHarvestJobResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Cancels an in-progress harvest job.</p>",
      "idempotent":true
    },
    "CreateChannel":{
      "name":"CreateChannel",
      "http":{
        "method":"POST",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel",
        "responseCode":200
      },
      "input":{"shape":"CreateChannelRequest"},
      "output":{"shape":"CreateChannelResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Create a channel to start receiving content streams. The channel represents the input to MediaPackage for incoming live content from an encoder such as AWS Elemental MediaLive. The channel receives content, and after packaging it, outputs it through an origin endpoint to downstream devices (such as video players or CDNs) that request the content. You can create only one channel with each request. We recommend that you spread out channels between channel groups, such as putting redundant channels in the same AWS Region in different channel groups.</p>",
      "idempotent":true
    },
    "CreateChannelGroup":{
      "name":"CreateChannelGroup",
      "http":{
        "method":"POST",
        "requestUri":"/channelGroup",
        "responseCode":200
      },
      "input":{"shape":"CreateChannelGroupRequest"},
      "output":{"shape":"CreateChannelGroupResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Create a channel group to group your channels and origin endpoints. A channel group is the top-level resource that consists of channels and origin endpoints that are associated with it and that provides predictable URLs for stream delivery. All channels and origin endpoints within the channel group are guaranteed to share the DNS. You can create only one channel group with each request. </p>",
      "idempotent":true
    },
    "CreateHarvestJob":{
      "name":"CreateHarvestJob",
      "http":{
        "method":"POST",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}/harvestJob",
        "responseCode":200
      },
      "input":{"shape":"CreateHarvestJobRequest"},
      "output":{"shape":"CreateHarvestJobResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Creates a new harvest job to export content from a MediaPackage v2 channel to an S3 bucket.</p>",
      "idempotent":true
    },
    "CreateOriginEndpoint":{
      "name":"CreateOriginEndpoint",
      "http":{
        "method":"POST",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint",
        "responseCode":200
      },
      "input":{"shape":"CreateOriginEndpointRequest"},
      "output":{"shape":"CreateOriginEndpointResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>The endpoint is attached to a channel, and represents the output of the live content. You can associate multiple endpoints to a single channel. Each endpoint gives players and downstream CDNs (such as Amazon CloudFront) access to the content for playback. Content can't be served from a channel until it has an endpoint. You can create only one endpoint with each request. </p>",
      "idempotent":true
    },
    "DeleteChannel":{
      "name":"DeleteChannel",
      "http":{
        "method":"DELETE",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/",
        "responseCode":200
      },
      "input":{"shape":"DeleteChannelRequest"},
      "output":{"shape":"DeleteChannelResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Delete a channel to stop AWS Elemental MediaPackage from receiving further content. You must delete the channel's origin endpoints before you can delete the channel.</p>",
      "idempotent":true
    },
    "DeleteChannelGroup":{
      "name":"DeleteChannelGroup",
      "http":{
        "method":"DELETE",
        "requestUri":"/channelGroup/{ChannelGroupName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteChannelGroupRequest"},
      "output":{"shape":"DeleteChannelGroupResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Delete a channel group. You must delete the channel group's channels and origin endpoints before you can delete the channel group. If you delete a channel group, you'll lose access to the egress domain and will have to create a new channel group to replace it.</p>",
      "idempotent":true
    },
    "DeleteChannelPolicy":{
      "name":"DeleteChannelPolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/policy",
        "responseCode":200
      },
      "input":{"shape":"DeleteChannelPolicyRequest"},
      "output":{"shape":"DeleteChannelPolicyResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Delete a channel policy.</p>",
      "idempotent":true
    },
    "DeleteOriginEndpoint":{
      "name":"DeleteOriginEndpoint",
      "http":{
        "method":"DELETE",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}",
        "responseCode":200
      },
      "input":{"shape":"DeleteOriginEndpointRequest"},
      "output":{"shape":"DeleteOriginEndpointResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Origin endpoints can serve content until they're deleted. Delete the endpoint if it should no longer respond to playback requests. You must delete all endpoints from a channel before you can delete the channel.</p>",
      "idempotent":true
    },
    "DeleteOriginEndpointPolicy":{
      "name":"DeleteOriginEndpointPolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}/policy",
        "responseCode":200
      },
      "input":{"shape":"DeleteOriginEndpointPolicyRequest"},
      "output":{"shape":"DeleteOriginEndpointPolicyResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Delete an origin endpoint policy.</p>",
      "idempotent":true
    },
    "GetChannel":{
      "name":"GetChannel",
      "http":{
        "method":"GET",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/",
        "responseCode":200
      },
      "input":{"shape":"GetChannelRequest"},
      "output":{"shape":"GetChannelResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves the specified channel that's configured in AWS Elemental MediaPackage.</p>"
    },
    "GetChannelGroup":{
      "name":"GetChannelGroup",
      "http":{
        "method":"GET",
        "requestUri":"/channelGroup/{ChannelGroupName}",
        "responseCode":200
      },
      "input":{"shape":"GetChannelGroupRequest"},
      "output":{"shape":"GetChannelGroupResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves the specified channel group that's configured in AWS Elemental MediaPackage.</p>"
    },
    "GetChannelPolicy":{
      "name":"GetChannelPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/policy",
        "responseCode":200
      },
      "input":{"shape":"GetChannelPolicyRequest"},
      "output":{"shape":"GetChannelPolicyResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves the specified channel policy that's configured in AWS Elemental MediaPackage. With policies, you can specify who has access to AWS resources and what actions they can perform on those resources.</p>"
    },
    "GetHarvestJob":{
      "name":"GetHarvestJob",
      "http":{
        "method":"GET",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}/harvestJob/{HarvestJobName}",
        "responseCode":200
      },
      "input":{"shape":"GetHarvestJobRequest"},
      "output":{"shape":"GetHarvestJobResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves the details of a specific harvest job.</p>"
    },
    "GetOriginEndpoint":{
      "name":"GetOriginEndpoint",
      "http":{
        "method":"GET",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}",
        "responseCode":200
      },
      "input":{"shape":"GetOriginEndpointRequest"},
      "output":{"shape":"GetOriginEndpointResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves the specified origin endpoint that's configured in AWS Elemental MediaPackage to obtain its playback URL and to view the packaging settings that it's currently using.</p>"
    },
    "GetOriginEndpointPolicy":{
      "name":"GetOriginEndpointPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}/policy",
        "responseCode":200
      },
      "input":{"shape":"GetOriginEndpointPolicyRequest"},
      "output":{"shape":"GetOriginEndpointPolicyResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves the specified origin endpoint policy that's configured in AWS Elemental MediaPackage.</p>"
    },
    "ListChannelGroups":{
      "name":"ListChannelGroups",
      "http":{
        "method":"GET",
        "requestUri":"/channelGroup",
        "responseCode":200
      },
      "input":{"shape":"ListChannelGroupsRequest"},
      "output":{"shape":"ListChannelGroupsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Retrieves all channel groups that are configured in Elemental MediaPackage.</p>"
    },
    "ListChannels":{
      "name":"ListChannels",
      "http":{
        "method":"GET",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel",
        "responseCode":200
      },
      "input":{"shape":"ListChannelsRequest"},
      "output":{"shape":"ListChannelsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves all channels in a specific channel group that are configured in AWS Elemental MediaPackage.</p>"
    },
    "ListHarvestJobs":{
      "name":"ListHarvestJobs",
      "http":{
        "method":"GET",
        "requestUri":"/channelGroup/{ChannelGroupName}/harvestJob",
        "responseCode":200
      },
      "input":{"shape":"ListHarvestJobsRequest"},
      "output":{"shape":"ListHarvestJobsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves a list of harvest jobs that match the specified criteria.</p>"
    },
    "ListOriginEndpoints":{
      "name":"ListOriginEndpoints",
      "http":{
        "method":"GET",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint",
        "responseCode":200
      },
      "input":{"shape":"ListOriginEndpointsRequest"},
      "output":{"shape":"ListOriginEndpointsResponse"},
      "errors":[
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves all origin endpoints in a specific channel that are configured in AWS Elemental MediaPackage.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{ResourceArn}",
        "responseCode":200
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Lists the tags assigned to a resource.</p>"
    },
    "PutChannelPolicy":{
      "name":"PutChannelPolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/policy",
        "responseCode":200
      },
      "input":{"shape":"PutChannelPolicyRequest"},
      "output":{"shape":"PutChannelPolicyResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Attaches an IAM policy to the specified channel. With policies, you can specify who has access to AWS resources and what actions they can perform on those resources. You can attach only one policy with each request.</p>",
      "idempotent":true
    },
    "PutOriginEndpointPolicy":{
      "name":"PutOriginEndpointPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}/policy",
        "responseCode":200
      },
      "input":{"shape":"PutOriginEndpointPolicyRequest"},
      "output":{"shape":"PutOriginEndpointPolicyResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Attaches an IAM policy to the specified origin endpoint. You can attach only one policy with each request.</p>",
      "idempotent":true
    },
    "ResetChannelState":{
      "name":"ResetChannelState",
      "http":{
        "method":"POST",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/reset",
        "responseCode":200
      },
      "input":{"shape":"ResetChannelStateRequest"},
      "output":{"shape":"ResetChannelStateResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Resetting the channel can help to clear errors from misconfigurations in the encoder. A reset refreshes the ingest stream and removes previous content. </p> <p> Be sure to stop the encoder before you reset the channel, and wait at least 30 seconds before you restart the encoder. </p>",
      "idempotent":true
    },
    "ResetOriginEndpointState":{
      "name":"ResetOriginEndpointState",
      "http":{
        "method":"POST",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}/reset",
        "responseCode":200
      },
      "input":{"shape":"ResetOriginEndpointStateRequest"},
      "output":{"shape":"ResetOriginEndpointStateResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Resetting the origin endpoint can help to resolve unexpected behavior and other content packaging issues. It also helps to preserve special events when you don't want the previous content to be available for viewing. A reset clears out all previous content from the origin endpoint.</p> <p>MediaPackage might return old content from this endpoint in the first 30 seconds after the endpoint reset. For best results, when possible, wait 30 seconds from endpoint reset to send playback requests to this endpoint. </p>",
      "idempotent":true
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{ResourceArn}",
        "responseCode":204
      },
      "input":{"shape":"TagResourceRequest"},
      "errors":[
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Assigns one of more tags (key-value pairs) to the specified MediaPackage resource.</p> <p>Tags can help you organize and categorize your resources. You can also use them to scope user permissions, by granting a user permission to access or change only resources with certain tag values. You can use the TagResource operation with a resource that already has tags. If you specify a new tag key for the resource, this tag is appended to the list of tags associated with the resource. If you specify a tag key that is already associated with the resource, the new tag value that you specify replaces the previous value for that tag.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/tags/{ResourceArn}",
        "responseCode":204
      },
      "input":{"shape":"UntagResourceRequest"},
      "errors":[
        {"shape":"ValidationException"}
      ],
      "documentation":"<p>Removes one or more tags from the specified resource.</p>",
      "idempotent":true
    },
    "UpdateChannel":{
      "name":"UpdateChannel",
      "http":{
        "method":"PUT",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/",
        "responseCode":200
      },
      "input":{"shape":"UpdateChannelRequest"},
      "output":{"shape":"UpdateChannelResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Update the specified channel. You can edit if MediaPackage sends ingest or egress access logs to the CloudWatch log group, if content will be encrypted, the description on a channel, and your channel's policy settings. You can't edit the name of the channel or CloudFront distribution details.</p> <p>Any edits you make that impact the video output may not be reflected for a few minutes.</p>",
      "idempotent":true
    },
    "UpdateChannelGroup":{
      "name":"UpdateChannelGroup",
      "http":{
        "method":"PUT",
        "requestUri":"/channelGroup/{ChannelGroupName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateChannelGroupRequest"},
      "output":{"shape":"UpdateChannelGroupResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Update the specified channel group. You can edit the description on a channel group for easier identification later from the AWS Elemental MediaPackage console. You can't edit the name of the channel group.</p> <p>Any edits you make that impact the video output may not be reflected for a few minutes.</p>",
      "idempotent":true
    },
    "UpdateOriginEndpoint":{
      "name":"UpdateOriginEndpoint",
      "http":{
        "method":"PUT",
        "requestUri":"/channelGroup/{ChannelGroupName}/channel/{ChannelName}/originEndpoint/{OriginEndpointName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateOriginEndpointRequest"},
      "output":{"shape":"UpdateOriginEndpointResponse"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InternalServerException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"}
      ],
      "documentation":"<p>Update the specified origin endpoint. Edit the packaging preferences on an endpoint to optimize the viewing experience. You can't edit the name of the endpoint.</p> <p>Any edits you make that impact the video output may not be reflected for a few minutes.</p>",
      "idempotent":true
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "documentation":"<p>Access is denied because either you don't have permissions to perform the requested operation or MediaPackage is getting throttling errors with CDN authorization. The user or role that is making the request must have at least one IAM permissions policy attached that grants the required permissions. For more information, see Access Management in the IAM User Guide. Or, if you're using CDN authorization, you will receive this exception if MediaPackage receives a throttling error from Secrets Manager.</p>",
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AdMarkerDash":{
      "type":"string",
      "enum":[
        "BINARY",
        "XML"
      ]
    },
    "AdMarkerHls":{
      "type":"string",
      "enum":[
        "DATERANGE",
        "SCTE35_ENHANCED"
      ]
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "CancelHarvestJobRequest":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "ChannelName",
        "OriginEndpointName",
        "HarvestJobName"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the channel group containing the channel from which the harvest job is running.</p>",
          "location":"uri",
          "locationName":"ChannelGroupName"
        },
        "ChannelName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the channel from which the harvest job is running.</p>",
          "location":"uri",
          "locationName":"ChannelName"
        },
        "OriginEndpointName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the origin endpoint that the harvest job is harvesting from. This cannot be changed after the harvest job is submitted.</p>",
          "location":"uri",
          "locationName":"OriginEndpointName"
        },
        "HarvestJobName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the harvest job to cancel. This name must be unique within the channel and cannot be changed after the harvest job is submitted.</p>",
          "location":"uri",
          "locationName":"HarvestJobName"
        },
        "ETag":{
          "shape":"EntityTag",
          "documentation":"<p>The current Entity Tag (ETag) associated with the harvest job. Used for concurrency control.</p>",
          "location":"header",
          "locationName":"x-amzn-update-if-match"
        }
      }
    },
    "CancelHarvestJobResponse":{
      "type":"structure",
      "members":{}
    },
    "CdnAuthConfiguration":{
      "type":"structure",
      "required":[
        "CdnIdentifierSecretArns",
        "SecretsRoleArn"
      ],
      "members":{
        "CdnIdentifierSecretArns":{
          "shape":"CdnAuthConfigurationCdnIdentifierSecretArnsList",
          "documentation":"<p>The ARN for the secret in Secrets Manager that your CDN uses for authorization to access the endpoint.</p>"
        },
        "SecretsRoleArn":{
          "shape":"CdnAuthConfigurationSecretsRoleArnString",
          "documentation":"<p>The ARN for the IAM role that gives MediaPackage read access to Secrets Manager and KMS for CDN authorization.</p>"
        }
      },
      "documentation":"<p>The settings to enable CDN authorization headers in MediaPackage.</p>"
    },
    "CdnAuthConfigurationCdnIdentifierSecretArnsList":{
      "type":"list",
      "member":{"shape":"CdnIdentifierSecretArn"},
      "min":1
    },
    "CdnAuthConfigurationSecretsRoleArnString":{
      "type":"string",
      "max":2048,
      "min":20
    },
    "CdnIdentifierSecretArn":{
      "type":"string",
      "max":2048,
      "min":20
    },
    "ChannelGroupListConfiguration":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "Arn",
        "CreatedAt",
        "ModifiedAt"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"String",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>"
        },
        "Arn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) associated with the resource.</p>"
        },
        "CreatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the channel group was created.</p>"
        },
        "ModifiedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the channel group was modified.</p>"
        },
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>Any descriptive information that you want to add to the channel group for future identification purposes.</p>"
        }
      },
      "documentation":"<p>The configuration of the channel group.</p>"
    },
    "ChannelGroupsList":{
      "type":"list",
      "member":{"shape":"ChannelGroupListConfiguration"}
    },
    "ChannelList":{
      "type":"list",
      "member":{"shape":"ChannelListConfiguration"}
    },
    "ChannelListConfiguration":{
      "type":"structure",
      "required":[
        "Arn",
        "ChannelName",
        "ChannelGroupName",
        "CreatedAt",
        "ModifiedAt"
      ],
      "members":{
        "Arn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) associated with the resource.</p>"
        },
        "ChannelName":{
          "shape":"String",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group. </p>"
        },
        "ChannelGroupName":{
          "shape":"String",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>"
        },
        "CreatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the channel was created.</p>"
        },
        "ModifiedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the channel was modified.</p>"
        },
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>Any descriptive information that you want to add to the channel for future identification purposes.</p>"
        },
        "InputType":{
          "shape":"InputType",
          "documentation":"<p>The input type will be an immutable field which will be used to define whether the channel will allow CMAF ingest or HLS ingest. If unprovided, it will default to HLS to preserve current behavior.</p> <p>The allowed values are:</p> <ul> <li> <p> <code>HLS</code> - The HLS streaming specification (which defines M3U8 manifests and TS segments).</p> </li> <li> <p> <code>CMAF</code> - The DASH-IF CMAF Ingest specification (which defines CMAF segments with optional DASH manifests).</p> </li> </ul>"
        }
      },
      "documentation":"<p>The configuration of the channel.</p>"
    },
    "CmafEncryptionMethod":{
      "type":"string",
      "enum":[
        "CENC",
        "CBCS"
      ]
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"},
        "ConflictExceptionType":{
          "shape":"ConflictExceptionType",
          "documentation":"<p>The type of ConflictException.</p>"
        }
      },
      "documentation":"<p>Updating or deleting this resource can cause an inconsistent state.</p>",
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "ConflictExceptionType":{
      "type":"string",
      "enum":[
        "RESOURCE_IN_USE",
        "RESOURCE_ALREADY_EXISTS",
        "IDEMPOTENT_PARAMETER_MISMATCH",
        "CONFLICTING_OPERATION"
      ]
    },
    "ContainerType":{
      "type":"string",
      "enum":[
        "TS",
        "CMAF",
        "ISM"
      ]
    },
    "CreateChannelGroupRequest":{
      "type":"structure",
      "required":["ChannelGroupName"],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region. You can't use spaces in the name. You can't change the name after you create the channel group.</p>"
        },
        "ClientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique, case-sensitive token that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true,
          "location":"header",
          "locationName":"x-amzn-client-token"
        },
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>Enter any descriptive text that helps you to identify the channel group.</p>"
        },
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p>A comma-separated list of tag key:value pairs that you define. For example:</p> <p> <code>\"Key1\": \"Value1\",</code> </p> <p> <code>\"Key2\": \"Value2\"</code> </p>",
          "locationName":"tags"
        }
      }
    },
    "CreateChannelGroupResponse":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "Arn",
        "EgressDomain",
        "CreatedAt",
        "ModifiedAt"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"String",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>"
        },
        "Arn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) associated with the resource.</p>"
        },
        "EgressDomain":{
          "shape":"String",
          "documentation":"<p>The output domain where the source stream should be sent. Integrate the egress domain with a downstream CDN (such as Amazon CloudFront) or playback device.</p>"
        },
        "CreatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the channel group was created.</p>"
        },
        "ModifiedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the channel group was modified.</p>"
        },
        "ETag":{
          "shape":"EntityTag",
          "documentation":"<p>The current Entity Tag (ETag) associated with this resource. The entity tag can be used to safely make concurrent updates to the resource.</p>"
        },
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description for your channel group.</p>"
        },
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p>The comma-separated list of tag key:value pairs assigned to the channel group.</p>"
        }
      }
    },
    "CreateChannelRequest":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "ChannelName"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
          "location":"uri",
          "locationName":"ChannelGroupName"
        },
        "ChannelName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group. You can't change the name after you create the channel.</p>"
        },
        "ClientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique, case-sensitive token that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true,
          "location":"header",
          "locationName":"x-amzn-client-token"
        },
        "InputType":{
          "shape":"InputType",
          "documentation":"<p>The input type will be an immutable field which will be used to define whether the channel will allow CMAF ingest or HLS ingest. If unprovided, it will default to HLS to preserve current behavior.</p> <p>The allowed values are:</p> <ul> <li> <p> <code>HLS</code> - The HLS streaming specification (which defines M3U8 manifests and TS segments).</p> </li> <li> <p> <code>CMAF</code> - The DASH-IF CMAF Ingest specification (which defines CMAF segments with optional DASH manifests).</p> </li> </ul>"
        },
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>Enter any descriptive text that helps you to identify the channel.</p>"
        },
        "InputSwitchConfiguration":{
          "shape":"InputSwitchConfiguration",
          "documentation":"<p>The configuration for input switching based on the media quality confidence score (MQCS) as provided from AWS Elemental MediaLive. This setting is valid only when <code>InputType</code> is <code>CMAF</code>.</p>"
        },
        "OutputHeaderConfiguration":{
          "shape":"OutputHeaderConfiguration",
          "documentation":"<p>The settings for what common media server data (CMSD) headers AWS Elemental MediaPackage includes in responses to the CDN. This setting is valid only when <code>InputType</code> is <code>CMAF</code>.</p>"
        },
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p>A comma-separated list of tag key:value pairs that you define. For example:</p> <p> <code>\"Key1\": \"Value1\",</code> </p> <p> <code>\"Key2\": \"Value2\"</code> </p>",
          "locationName":"tags"
        }
      }
    },
    "CreateChannelResponse":{
      "type":"structure",
      "required":[
        "Arn",
        "ChannelName",
        "ChannelGroupName",
        "CreatedAt",
        "ModifiedAt"
      ],
      "members":{
        "Arn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) associated with the resource.</p>"
        },
        "ChannelName":{
          "shape":"String",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group.</p>"
        },
        "ChannelGroupName":{
          "shape":"String",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>"
        },
        "CreatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the channel was created.</p>"
        },
        "ModifiedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the channel was modified.</p>"
        },
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description for your channel.</p>"
        },
        "IngestEndpoints":{"shape":"IngestEndpointList"},
        "InputType":{
          "shape":"InputType",
          "documentation":"<p>The input type will be an immutable field which will be used to define whether the channel will allow CMAF ingest or HLS ingest. If unprovided, it will default to HLS to preserve current behavior.</p> <p>The allowed values are:</p> <ul> <li> <p> <code>HLS</code> - The HLS streaming specification (which defines M3U8 manifests and TS segments).</p> </li> <li> <p> <code>CMAF</code> - The DASH-IF CMAF Ingest specification (which defines CMAF segments with optional DASH manifests).</p> </li> </ul>"
        },
        "ETag":{
          "shape":"EntityTag",
          "documentation":"<p>The current Entity Tag (ETag) associated with this resource. The entity tag can be used to safely make concurrent updates to the resource.</p>"
        },
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p>The comma-separated list of tag key:value pairs assigned to the channel.</p>"
        },
        "InputSwitchConfiguration":{
          "shape":"InputSwitchConfiguration",
          "documentation":"<p>The configuration for input switching based on the media quality confidence score (MQCS) as provided from AWS Elemental MediaLive. This setting is valid only when <code>InputType</code> is <code>CMAF</code>.</p>"
        },
        "OutputHeaderConfiguration":{
          "shape":"OutputHeaderConfiguration",
          "documentation":"<p>The settings for what common media server data (CMSD) headers AWS Elemental MediaPackage includes in responses to the CDN. This setting is valid only when <code>InputType</code> is <code>CMAF</code>.</p>"
        }
      }
    },
    "CreateDashManifestConfiguration":{
      "type":"structure",
      "required":["ManifestName"],
      "members":{
        "ManifestName":{
          "shape":"ManifestName",
          "documentation":"<p>A short string that's appended to the endpoint URL. The child manifest name creates a unique path to this endpoint.</p>"
        },
        "ManifestWindowSeconds":{
          "shape":"CreateDashManifestConfigurationManifestWindowSecondsInteger",
          "documentation":"<p>The total duration (in seconds) of the manifest's content.</p>"
        },
        "FilterConfiguration":{"shape":"FilterConfiguration"},
        "MinUpdatePeriodSeconds":{
          "shape":"CreateDashManifestConfigurationMinUpdatePeriodSecondsInteger",
          "documentation":"<p>Minimum amount of time (in seconds) that the player should wait before requesting updates to the manifest.</p>"
        },
        "MinBufferTimeSeconds":{
          "shape":"CreateDashManifestConfigurationMinBufferTimeSecondsInteger",
          "documentation":"<p>Minimum amount of content (in seconds) that a player must keep available in the buffer.</p>"
        },
        "SuggestedPresentationDelaySeconds":{
          "shape":"CreateDashManifestConfigurationSuggestedPresentationDelaySecondsInteger",
          "documentation":"<p>The amount of time (in seconds) that the player should be from the end of the manifest.</p>"
        },
        "SegmentTemplateFormat":{
          "shape":"DashSegmentTemplateFormat",
          "documentation":"<p>Determines the type of variable used in the <code>media</code> URL of the <code>SegmentTemplate</code> tag in the manifest. Also specifies if segment timeline information is included in <code>SegmentTimeline</code> or <code>SegmentTemplate</code>.</p> <p>Value description:</p> <ul> <li> <p> <code>NUMBER_WITH_TIMELINE</code> - The <code>$Number$</code> variable is used in the <code>media</code> URL. The value of this variable is the sequential number of the segment. A full <code>SegmentTimeline</code> object is presented in each <code>SegmentTemplate</code>.</p> </li> </ul>"
        },
        "PeriodTriggers":{
          "shape":"DashPeriodTriggers",
          "documentation":"<p>A list of triggers that controls when AWS Elemental MediaPackage separates the MPEG-DASH manifest into multiple periods. Type <code>ADS</code> to indicate that AWS Elemental MediaPackage must create periods in the output manifest that correspond to SCTE-35 ad markers in the input source. Leave this value empty to indicate that the manifest is contained all in one period. For more information about periods in the DASH manifest, see <a href=\"https://docs.aws.amazon.com/mediapackage/latest/userguide/multi-period.html\">Multi-period DASH in AWS Elemental MediaPackage</a>.</p>"
        },
        "ScteDash":{
          "shape":"ScteDash",
          "documentation":"<p>The SCTE configuration.</p>"
        },
        "DrmSignaling":{
          "shape":"DashDrmSignaling",
          "documentation":"<p>Determines how the DASH manifest signals the DRM content.</p>"
        },
        "UtcTiming":{
          "shape":"DashUtcTiming",
          "documentation":"<p>Determines the type of UTC timing included in the DASH Media Presentation Description (MPD).</p>"
        },
        "Profiles":{
          "shape":"DashProfiles",
          "documentation":"<p>The profile that the output is compliant with.</p>"
        },
        "BaseUrls":{
          "shape":"DashBaseUrls",
          "documentation":"<p>The base URLs to use for retrieving segments.</p>"
        },
        "ProgramInformation":{
          "shape":"DashProgramInformation",
          "documentation":"<p>Details about the content that you want MediaPackage to pass through in the manifest to the playback device.</p>"
        },
        "DvbSettings":{
          "shape":"DashDvbSettings",
          "documentation":"<p>For endpoints that use the DVB-DASH profile only. The font download and error reporting information that you want MediaPackage to pass through to the manifest.</p>"
        },
        "Compactness":{
          "shape":"DashCompactness",
          "documentation":"<p>The layout of the DASH manifest that MediaPackage produces. <code>STANDARD</code> indicates a default manifest, which is compacted. <code>NONE</code> indicates a full manifest.</p> <p>For information about compactness, see <a href=\"https://docs.aws.amazon.com/mediapackage/latest/userguide/compacted.html\">DASH manifest compactness</a> in the <i>Elemental MediaPackage v2 User Guide</i>.</p>"
        },
        "SubtitleConfiguration":{
          "shape":"DashSubtitleConfiguration",
          "documentation":"<p>The configuration for DASH subtitles.</p>"
        }
      },
      "documentation":"<p>Create a DASH manifest configuration.</p>"
    },
    "CreateDashManifestConfigurationManifestWindowSecondsInteger":{
      "type":"integer",
      "box":true,
      "min":30
    },
    "CreateDashManifestConfigurationMinBufferTimeSecondsInteger":{
      "type":"integer",
      "box":true,
      "max":3600,
      "min":0
    },
    "CreateDashManifestConfigurationMinUpdatePeriodSecondsInteger":{
      "type":"integer",
      "box":true,
      "max":3600,
      "min":1
    },
    "CreateDashManifestConfigurationSuggestedPresentationDelaySecondsInteger":{
      "type":"integer",
      "box":true,
      "max":3600,
      "min":0
    },
    "CreateDashManifests":{
      "type":"list",
      "member":{"shape":"CreateDashManifestConfiguration"}
    },
    "CreateHarvestJobRequest":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "ChannelName",
        "OriginEndpointName",
        "HarvestedManifests",
        "ScheduleConfiguration",
        "Destination"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the channel group containing the channel from which to harvest content.</p>",
          "location":"uri",
          "locationName":"ChannelGroupName"
        },
        "ChannelName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the channel from which to harvest content.</p>",
          "location":"uri",
          "locationName":"ChannelName"
        },
        "OriginEndpointName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the origin endpoint from which to harvest content.</p>",
          "location":"uri",
          "locationName":"OriginEndpointName"
        },
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>An optional description for the harvest job.</p>"
        },
        "HarvestedManifests":{
          "shape":"HarvestedManifests",
          "documentation":"<p>A list of manifests to be harvested.</p>"
        },
        "ScheduleConfiguration":{
          "shape":"HarvesterScheduleConfiguration",
          "documentation":"<p>The configuration for when the harvest job should run, including start and end times.</p>"
        },
        "Destination":{
          "shape":"Destination",
          "documentation":"<p>The S3 destination where the harvested content will be placed.</p>"
        },
        "ClientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true,
          "location":"header",
          "locationName":"x-amzn-client-token"
        },
        "HarvestJobName":{
          "shape":"ResourceName",
          "documentation":"<p>A name for the harvest job. This name must be unique within the channel.</p>"
        },
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p>A collection of tags associated with the harvest job.</p>"
        }
      },
      "documentation":"<p>The request object for creating a new harvest job.</p>"
    },
    "CreateHarvestJobResponse":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "ChannelName",
        "OriginEndpointName",
        "Destination",
        "HarvestJobName",
        "HarvestedManifests",
        "ScheduleConfiguration",
        "Arn",
        "CreatedAt",
        "ModifiedAt",
        "Status"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the channel group containing the channel from which content is being harvested.</p>"
        },
        "ChannelName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the channel from which content is being harvested.</p>"
        },
        "OriginEndpointName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the origin endpoint from which content is being harvested.</p>"
        },
        "Destination":{
          "shape":"Destination",
          "documentation":"<p>The S3 destination where the harvested content will be placed.</p>"
        },
        "HarvestJobName":{
          "shape":"ResourceName",
          "documentation":"<p>The name of the created harvest job.</p>"
        },
        "HarvestedManifests":{
          "shape":"HarvestedManifests",
          "documentation":"<p>A list of manifests that will be harvested.</p>"
        },
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description of the harvest job, if provided.</p>"
        },
        "ScheduleConfiguration":{
          "shape":"HarvesterScheduleConfiguration",
          "documentation":"<p>The configuration for when the harvest job will run, including start and end times.</p>"
        },
        "Arn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the created harvest job.</p>"
        },
        "CreatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the harvest job was created.</p>"
        },
        "ModifiedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the harvest job was last modified.</p>"
        },
        "Status":{
          "shape":"HarvestJobStatus",
          "documentation":"<p>The current status of the harvest job (e.g., CREATED, IN_PROGRESS, ABORTED, COMPLETED, FAILED).</p>"
        },
        "ErrorMessage":{
          "shape":"String",
          "documentation":"<p>An error message if the harvest job creation failed.</p>"
        },
        "ETag":{
          "shape":"EntityTag",
          "documentation":"<p>The current version of the harvest job. Used for concurrency control.</p>"
        },
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p>A collection of tags associated with the harvest job.</p>"
        }
      },
      "documentation":"<p>The response object returned after creating a harvest job.</p>"
    },
    "CreateHlsManifestConfiguration":{
      "type":"structure",
      "required":["ManifestName"],
      "members":{
        "ManifestName":{
          "shape":"ManifestName",
          "documentation":"<p>A short short string that's appended to the endpoint URL. The manifest name creates a unique path to this endpoint. If you don't enter a value, MediaPackage uses the default manifest name, index. MediaPackage automatically inserts the format extension, such as .m3u8. You can't use the same manifest name if you use HLS manifest and low-latency HLS manifest. The manifestName on the HLSManifest object overrides the manifestName you provided on the originEndpoint object.</p>"
        },
        "ChildManifestName":{
          "shape":"ManifestName",
          "documentation":"<p>A short string that's appended to the endpoint URL. The child manifest name creates a unique path to this endpoint. If you don't enter a value, MediaPackage uses the default manifest name, index, with an added suffix to distinguish it from the manifest name. The manifestName on the HLSManifest object overrides the manifestName you provided on the originEndpoint object.</p>"
        },
        "ScteHls":{"shape":"ScteHls"},
        "StartTag":{"shape":"StartTag"},
        "ManifestWindowSeconds":{
          "shape":"CreateHlsManifestConfigurationManifestWindowSecondsInteger",
          "documentation":"<p>The total duration (in seconds) of the manifest's content.</p>"
        },
        "ProgramDateTimeIntervalSeconds":{
          "shape":"CreateHlsManifestConfigurationProgramDateTimeIntervalSecondsInteger",
          "documentation":"<p>Inserts EXT-X-PROGRAM-DATE-TIME tags in the output manifest at the interval that you specify. If you don't enter an interval, EXT-X-PROGRAM-DATE-TIME tags aren't included in the manifest. The tags sync the stream to the wall clock so that viewers can seek to a specific time in the playback timeline on the player.</p> <p>Irrespective of this parameter, if any ID3Timed metadata is in the HLS input, it is passed through to the HLS output.</p>"
        },
        "FilterConfiguration":{"shape":"FilterConfiguration"},
        "UrlEncodeChildManifest":{
          "shape":"Boolean",
          "documentation":"<p>When enabled, MediaPackage URL-encodes the query string for API requests for HLS child manifests to comply with Amazon Web Services Signature Version 4 (SigV4) signature signing protocol. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_sigv.html\">Amazon Web Services Signature Version 4 for API requests</a> in <i>Identity and Access Management User Guide</i>.</p>"
        }
      },
      "documentation":"<p>Create an HTTP live streaming (HLS) manifest configuration.</p>"
    },
    "CreateHlsManifestConfigurationManifestWindowSecondsInteger":{
      "type":"integer",
      "box":true,
      "min":30
    },
    "CreateHlsManifestConfigurationProgramDateTimeIntervalSecondsInteger":{
      "type":"integer",
      "box":true,
      "max":1209600,
      "min":1
    },
    "CreateHlsManifests":{
      "type":"list",
      "member":{"shape":"CreateHlsManifestConfiguration"}
    },
    "CreateLowLatencyHlsManifestConfiguration":{
      "type":"structure",
      "required":["ManifestName"],
      "members":{
        "ManifestName":{
          "shape":"ManifestName",
          "documentation":"<p>A short short string that's appended to the endpoint URL. The manifest name creates a unique path to this endpoint. If you don't enter a value, MediaPackage uses the default manifest name, index. MediaPackage automatically inserts the format extension, such as .m3u8. You can't use the same manifest name if you use HLS manifest and low-latency HLS manifest. The manifestName on the HLSManifest object overrides the manifestName you provided on the originEndpoint object.</p>"
        },
        "ChildManifestName":{
          "shape":"ManifestName",
          "documentation":"<p>A short string that's appended to the endpoint URL. The child manifest name creates a unique path to this endpoint. If you don't enter a value, MediaPackage uses the default manifest name, index, with an added suffix to distinguish it from the manifest name. The manifestName on the HLSManifest object overrides the manifestName you provided on the originEndpoint object.</p>"
        },
        "ScteHls":{"shape":"ScteHls"},
        "StartTag":{"shape":"StartTag"},
        "ManifestWindowSeconds":{
          "shape":"CreateLowLatencyHlsManifestConfigurationManifestWindowSecondsInteger",
          "documentation":"<p>The total duration (in seconds) of the manifest's content.</p>"
        },
        "ProgramDateTimeIntervalSeconds":{
          "shape":"CreateLowLatencyHlsManifestConfigurationProgramDateTimeIntervalSecondsInteger",
          "documentation":"<p>Inserts EXT-X-PROGRAM-DATE-TIME tags in the output manifest at the interval that you specify. If you don't enter an interval, EXT-X-PROGRAM-DATE-TIME tags aren't included in the manifest. The tags sync the stream to the wall clock so that viewers can seek to a specific time in the playback timeline on the player.</p> <p>Irrespective of this parameter, if any ID3Timed metadata is in the HLS input, it is passed through to the HLS output.</p>"
        },
        "FilterConfiguration":{"shape":"FilterConfiguration"},
        "UrlEncodeChildManifest":{
          "shape":"Boolean",
          "documentation":"<p>When enabled, MediaPackage URL-encodes the query string for API requests for LL-HLS child manifests to comply with Amazon Web Services Signature Version 4 (SigV4) signature signing protocol. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_sigv.html\">Amazon Web Services Signature Version 4 for API requests</a> in <i>Identity and Access Management User Guide</i>.</p>"
        }
      },
      "documentation":"<p>Create a low-latency HTTP live streaming (HLS) manifest configuration.</p>"
    },
    "CreateLowLatencyHlsManifestConfigurationManifestWindowSecondsInteger":{
      "type":"integer",
      "box":true,
      "min":30
    },
    "CreateLowLatencyHlsManifestConfigurationProgramDateTimeIntervalSecondsInteger":{
      "type":"integer",
      "box":true,
      "max":1209600,
      "min":1
    },
    "CreateLowLatencyHlsManifests":{
      "type":"list",
      "member":{"shape":"CreateLowLatencyHlsManifestConfiguration"}
    },
    "CreateMssManifestConfiguration":{
      "type":"structure",
      "required":["ManifestName"],
      "members":{
        "ManifestName":{
          "shape":"ManifestName",
          "documentation":"<p>A short string that's appended to the endpoint URL to create a unique path to this MSS manifest. The manifest name must be unique within the origin endpoint and can contain letters, numbers, hyphens, and underscores.</p>"
        },
        "ManifestWindowSeconds":{
          "shape":"CreateMssManifestConfigurationManifestWindowSecondsInteger",
          "documentation":"<p>The total duration (in seconds) of the manifest window. This determines how much content is available in the manifest at any given time. The manifest window slides forward as new segments become available, maintaining a consistent duration of content. The minimum value is 30 seconds.</p>"
        },
        "FilterConfiguration":{"shape":"FilterConfiguration"},
        "ManifestLayout":{
          "shape":"MssManifestLayout",
          "documentation":"<p>Determines the layout format of the MSS manifest. This controls how the manifest is structured and presented to client players, affecting compatibility with different MSS-compatible devices and applications.</p>"
        }
      },
      "documentation":"<p>Configuration parameters for creating a Microsoft Smooth Streaming (MSS) manifest. MSS is a streaming media format developed by Microsoft that delivers adaptive bitrate streaming content to compatible players and devices.</p>"
    },
    "CreateMssManifestConfigurationManifestWindowSecondsInteger":{
      "type":"integer",
      "box":true,
      "min":30
    },
    "CreateMssManifests":{
      "type":"list",
      "member":{"shape":"CreateMssManifestConfiguration"}
    },
    "CreateOriginEndpointRequest":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "ChannelName",
        "OriginEndpointName",
        "ContainerType"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
          "location":"uri",
          "locationName":"ChannelGroupName"
        },
        "ChannelName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group. </p>",
          "location":"uri",
          "locationName":"ChannelName"
        },
        "OriginEndpointName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the origin endpoint. The name is the primary identifier for the origin endpoint, and must be unique for your account in the AWS Region and channel. You can't use spaces in the name. You can't change the name after you create the endpoint.</p>"
        },
        "ContainerType":{
          "shape":"ContainerType",
          "documentation":"<p>The type of container to attach to this origin endpoint. A container type is a file format that encapsulates one or more media streams, such as audio and video, into a single file. You can't change the container type after you create the endpoint.</p>"
        },
        "Segment":{
          "shape":"Segment",
          "documentation":"<p>The segment configuration, including the segment name, duration, and other configuration values.</p>"
        },
        "ClientToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique, case-sensitive token that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken":true,
          "location":"header",
          "locationName":"x-amzn-client-token"
        },
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>Enter any descriptive text that helps you to identify the origin endpoint.</p>"
        },
        "StartoverWindowSeconds":{
          "shape":"CreateOriginEndpointRequestStartoverWindowSecondsInteger",
          "documentation":"<p>The size of the window (in seconds) to create a window of the live stream that's available for on-demand viewing. Viewers can start-over or catch-up on content that falls within the window. The maximum startover window is 1,209,600 seconds (14 days).</p>"
        },
        "HlsManifests":{
          "shape":"CreateHlsManifests",
          "documentation":"<p>An HTTP live streaming (HLS) manifest configuration.</p>"
        },
        "LowLatencyHlsManifests":{
          "shape":"CreateLowLatencyHlsManifests",
          "documentation":"<p>A low-latency HLS manifest configuration.</p>"
        },
        "DashManifests":{
          "shape":"CreateDashManifests",
          "documentation":"<p>A DASH manifest configuration.</p>"
        },
        "MssManifests":{
          "shape":"CreateMssManifests",
          "documentation":"<p>A list of Microsoft Smooth Streaming (MSS) manifest configurations for the origin endpoint. You can configure multiple MSS manifests to provide different streaming experiences or to support different client requirements.</p>"
        },
        "ForceEndpointErrorConfiguration":{
          "shape":"ForceEndpointErrorConfiguration",
          "documentation":"<p>The failover settings for the endpoint.</p>"
        },
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p>A comma-separated list of tag key:value pairs that you define. For example:</p> <p> <code>\"Key1\": \"Value1\",</code> </p> <p> <code>\"Key2\": \"Value2\"</code> </p>"
        }
      }
    },
    "CreateOriginEndpointRequestStartoverWindowSecondsInteger":{
      "type":"integer",
      "box":true,
      "max":1209600,
      "min":60
    },
    "CreateOriginEndpointResponse":{
      "type":"structure",
      "required":[
        "Arn",
        "ChannelGroupName",
        "ChannelName",
        "OriginEndpointName",
        "ContainerType",
        "Segment",
        "CreatedAt",
        "ModifiedAt"
      ],
      "members":{
        "Arn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) associated with the resource.</p>"
        },
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>"
        },
        "ChannelName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group.</p>"
        },
        "OriginEndpointName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the origin endpoint. The name is the primary identifier for the origin endpoint, and and must be unique for your account in the AWS Region and channel.</p>"
        },
        "ContainerType":{
          "shape":"ContainerType",
          "documentation":"<p>The type of container attached to this origin endpoint.</p>"
        },
        "Segment":{
          "shape":"Segment",
          "documentation":"<p>The segment configuration, including the segment name, duration, and other configuration values.</p>"
        },
        "CreatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the origin endpoint was created.</p>"
        },
        "ModifiedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the origin endpoint was modified.</p>"
        },
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description for your origin endpoint.</p>"
        },
        "StartoverWindowSeconds":{
          "shape":"Integer",
          "documentation":"<p>The size of the window (in seconds) to create a window of the live stream that's available for on-demand viewing. Viewers can start-over or catch-up on content that falls within the window.</p>"
        },
        "HlsManifests":{
          "shape":"GetHlsManifests",
          "documentation":"<p>An HTTP live streaming (HLS) manifest configuration.</p>"
        },
        "LowLatencyHlsManifests":{
          "shape":"GetLowLatencyHlsManifests",
          "documentation":"<p>A low-latency HLS manifest configuration.</p>"
        },
        "DashManifests":{
          "shape":"GetDashManifests",
          "documentation":"<p>A DASH manifest configuration.</p>"
        },
        "MssManifests":{
          "shape":"GetMssManifests",
          "documentation":"<p>The Microsoft Smooth Streaming (MSS) manifest configurations that were created for this origin endpoint.</p>"
        },
        "ForceEndpointErrorConfiguration":{
          "shape":"ForceEndpointErrorConfiguration",
          "documentation":"<p>The failover settings for the endpoint.</p>"
        },
        "ETag":{
          "shape":"EntityTag",
          "documentation":"<p>The current Entity Tag (ETag) associated with this resource. The entity tag can be used to safely make concurrent updates to the resource.</p>"
        },
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p>The comma-separated list of tag key:value pairs assigned to the origin endpoint.</p>"
        }
      }
    },
    "DashBaseUrl":{
      "type":"structure",
      "required":["Url"],
      "members":{
        "Url":{
          "shape":"DashBaseUrlUrlString",
          "documentation":"<p>A source location for segments.</p>"
        },
        "ServiceLocation":{
          "shape":"DashBaseUrlServiceLocationString",
          "documentation":"<p>The name of the source location.</p>"
        },
        "DvbPriority":{
          "shape":"DashBaseUrlDvbPriorityInteger",
          "documentation":"<p>For use with DVB-DASH profiles only. The priority of this location for servings segments. The lower the number, the higher the priority.</p>"
        },
        "DvbWeight":{
          "shape":"DashBaseUrlDvbWeightInteger",
          "documentation":"<p>For use with DVB-DASH profiles only. The weighting for source locations that have the same priority. </p>"
        }
      },
      "documentation":"<p>The base URLs to use for retrieving segments. You can specify multiple locations and indicate the priority and weight for when each should be used, for use in mutli-CDN workflows.</p>"
    },
    "DashBaseUrlDvbPriorityInteger":{
      "type":"integer",
      "box":true,
      "max":15000,
      "min":1
    },
    "DashBaseUrlDvbWeightInteger":{
      "type":"integer",
      "box":true,
      "max":15000,
      "min":1
    },
    "DashBaseUrlServiceLocationString":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "DashBaseUrlUrlString":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "DashBaseUrls":{
      "type":"list",
      "member":{"shape":"DashBaseUrl"},
      "max":20,
      "min":0
    },
    "DashCompactness":{
      "type":"string",
      "enum":[
        "STANDARD",
        "NONE"
      ]
    },
    "DashDrmSignaling":{
      "type":"string",
      "enum":[
        "INDIVIDUAL",
        "REFERENCED"
      ]
    },
    "DashDvbErrorMetrics":{
      "type":"list",
      "member":{"shape":"DashDvbMetricsReporting"},
      "max":20,
      "min":0
    },
    "DashDvbFontDownload":{
      "type":"structure",
      "members":{
        "Url":{
          "shape":"DashDvbFontDownloadUrlString",
          "documentation":"<p>The URL for downloading fonts for subtitles.</p>"
        },
        "MimeType":{
          "shape":"DashDvbFontDownloadMimeTypeString",
          "documentation":"<p>The <code>mimeType</code> of the resource that's at the font download URL.</p> <p>For information about font MIME types, see the <a href=\"https://dvb.org/wp-content/uploads/2021/06/A168r4_MPEG-DASH-Profile-for-Transport-of-ISO-BMFF-Based-DVB-Services_Draft-ts_103-285-v140_November_2021.pdf\">MPEG-DASH Profile for Transport of ISO BMFF Based DVB Services over IP Based Networks</a> document. </p>"
        },
        "FontFamily":{
          "shape":"DashDvbFontDownloadFontFamilyString",
          "documentation":"<p>The <code>fontFamily</code> name for subtitles, as described in <a href=\"https://tech.ebu.ch/publications/tech3380\">EBU-TT-D Subtitling Distribution Format</a>. </p>"
        }
      },
      "documentation":"<p>For use with DVB-DASH profiles only. The settings for font downloads that you want Elemental MediaPackage to pass through to the manifest.</p>"
    },
    "DashDvbFontDownloadFontFamilyString":{
      "type":"string",
      "max":256,
      "min":1
    },
    "DashDvbFontDownloadMimeTypeString":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[a-zA-Z0-9][a-zA-Z0-9_/-]*[a-zA-Z0-9]"
    },
    "DashDvbFontDownloadUrlString":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "DashDvbMetricsReporting":{
      "type":"structure",
      "required":["ReportingUrl"],
      "members":{
        "ReportingUrl":{
          "shape":"DashDvbMetricsReportingReportingUrlString",
          "documentation":"<p>The URL where playback devices send error reports.</p>"
        },
        "Probability":{
          "shape":"DashDvbMetricsReportingProbabilityInteger",
          "documentation":"<p>The number of playback devices per 1000 that will send error reports to the reporting URL. This represents the probability that a playback device will be a reporting player for this session.</p>"
        }
      },
      "documentation":"<p>For use with DVB-DASH profiles only. The settings for error reporting from the playback device that you want Elemental MediaPackage to pass through to the manifest.</p>"
    },
    "DashDvbMetricsReportingProbabilityInteger":{
      "type":"integer",
      "box":true,
      "max":1000,
      "min":1
    },
    "DashDvbMetricsReportingReportingUrlString":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "DashDvbSettings":{
      "type":"structure",
      "members":{
        "FontDownload":{
          "shape":"DashDvbFontDownload",
          "documentation":"<p>Subtitle font settings.</p>"
        },
        "ErrorMetrics":{
          "shape":"DashDvbErrorMetrics",
          "documentation":"<p>Playback device error reporting settings.</p>"
        }
      },
      "documentation":"<p>For endpoints that use the DVB-DASH profile only. The font download and error reporting information that you want MediaPackage to pass through to the manifest.</p>"
    },
    "DashPeriodTrigger":{
      "type":"string",
      "enum":[
        "AVAILS",
        "DRM_KEY_ROTATION",
        "SOURCE_CHANGES",
        "SOURCE_DISRUPTIONS",
        "NONE"
      ]
    },
    "DashPeriodTriggers":{
      "type":"list",
      "member":{"shape":"DashPeriodTrigger"},
      "max":100,
      "min":0
    },
    "DashProfile":{
      "type":"string",
      "enum":["DVB_DASH"]
    },
    "DashProfiles":{
      "type":"list",
      "member":{"shape":"DashProfile"},
      "max":5,
      "min":0
    },
    "DashProgramInformation":{
      "type":"structure",
      "members":{
        "Title":{
          "shape":"DashProgramInformationTitleString",
          "documentation":"<p>The title for the manifest.</p>"
        },
        "Source":{
          "shape":"DashProgramInformationSourceString",
          "documentation":"<p>Information about the content provider.</p>"
        },
        "Copyright":{
          "shape":"DashProgramInformationCopyrightString",
          "documentation":"<p>A copyright statement about the content.</p>"
        },
        "LanguageCode":{
          "shape":"DashProgramInformationLanguageCodeString",
          "documentation":"<p>The language code for this manifest.</p>"
        },
        "MoreInformationUrl":{
          "shape":"DashProgramInformationMoreInformationUrlString",
          "documentation":"<p>An absolute URL that contains more information about this content.</p>"
        }
      },
      "documentation":"<p>Details about the content that you want MediaPackage to pass through in the manifest to the playback device.</p>"
    },
    "DashProgramInformationCopyrightString":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "DashProgramInformationLanguageCodeString":{
      "type":"string",
      "max":5,
      "min":2,
      "pattern":"[a-zA-Z0-9][a-zA-Z0-9_-]*[a-zA-Z0-9]"
    },
    "DashProgramInformationMoreInformationUrlString":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "DashProgramInformationSourceString":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "DashProgramInformationTitleString":{
      "type":"string",
      "max":2048,
      "min":1
    },
    "DashSegmentTemplateFormat":{
      "type":"string",
      "enum":["NUMBER_WITH_TIMELINE"]
    },
    "DashSubtitleConfiguration":{
      "type":"structure",
      "members":{
        "TtmlConfiguration":{
          "shape":"DashTtmlConfiguration",
          "documentation":"<p>Settings for TTML subtitles.</p>"
        }
      },
      "documentation":"<p>The configuration for DASH subtitles.</p>"
    },
    "DashTtmlConfiguration":{
      "type":"structure",
      "required":["TtmlProfile"],
      "members":{
        "TtmlProfile":{
          "shape":"DashTtmlProfile",
          "documentation":"<p>The profile that MediaPackage uses when signaling subtitles in the manifest. <code>IMSC</code> is the default profile. <code>EBU-TT-D</code> produces subtitles that are compliant with the EBU-TT-D TTML profile. MediaPackage passes through subtitle styles to the manifest. For more information about EBU-TT-D subtitles, see <a href=\"https://tech.ebu.ch/publications/tech3380\">EBU-TT-D Subtitling Distribution Format</a>.</p>"
        }
      },
      "documentation":"<p>The settings for TTML subtitles.</p>"
    },
    "DashTtmlProfile":{
      "type":"string",
      "enum":[
        "IMSC_1",
        "EBU_TT_D_101"
      ]
    },
    "DashUtcTiming":{
      "type":"structure",
      "members":{
        "TimingMode":{
          "shape":"DashUtcTimingMode",
          "documentation":"<p>The UTC timing mode.</p>"
        },
        "TimingSource":{
          "shape":"DashUtcTimingTimingSourceString",
          "documentation":"<p>The the method that the player uses to synchronize to coordinated universal time (UTC) wall clock time.</p>"
        }
      },
      "documentation":"<p>Determines the type of UTC timing included in the DASH Media Presentation Description (MPD).</p>"
    },
    "DashUtcTimingMode":{
      "type":"string",
      "enum":[
        "HTTP_HEAD",
        "HTTP_ISO",
        "HTTP_XSDATE",
        "UTC_DIRECT"
      ]
    },
    "DashUtcTimingTimingSourceString":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "DeleteChannelGroupRequest":{
      "type":"structure",
      "required":["ChannelGroupName"],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
          "location":"uri",
          "locationName":"ChannelGroupName"
        }
      }
    },
    "DeleteChannelGroupResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteChannelPolicyRequest":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "ChannelName"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
          "location":"uri",
          "locationName":"ChannelGroupName"
        },
        "ChannelName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group.</p>",
          "location":"uri",
          "locationName":"ChannelName"
        }
      }
    },
    "DeleteChannelPolicyResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteChannelRequest":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "ChannelName"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
          "location":"uri",
          "locationName":"ChannelGroupName"
        },
        "ChannelName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group.</p>",
          "location":"uri",
          "locationName":"ChannelName"
        }
      }
    },
    "DeleteChannelResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteOriginEndpointPolicyRequest":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "ChannelName",
        "OriginEndpointName"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
          "location":"uri",
          "locationName":"ChannelGroupName"
        },
        "ChannelName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group. </p>",
          "location":"uri",
          "locationName":"ChannelName"
        },
        "OriginEndpointName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the origin endpoint. The name is the primary identifier for the origin endpoint, and and must be unique for your account in the AWS Region and channel. </p>",
          "location":"uri",
          "locationName":"OriginEndpointName"
        }
      }
    },
    "DeleteOriginEndpointPolicyResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteOriginEndpointRequest":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "ChannelName",
        "OriginEndpointName"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
          "location":"uri",
          "locationName":"ChannelGroupName"
        },
        "ChannelName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group. </p>",
          "location":"uri",
          "locationName":"ChannelName"
        },
        "OriginEndpointName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the origin endpoint. The name is the primary identifier for the origin endpoint, and and must be unique for your account in the AWS Region and channel. </p>",
          "location":"uri",
          "locationName":"OriginEndpointName"
        }
      }
    },
    "DeleteOriginEndpointResponse":{
      "type":"structure",
      "members":{}
    },
    "Destination":{
      "type":"structure",
      "required":["S3Destination"],
      "members":{
        "S3Destination":{
          "shape":"S3DestinationConfig",
          "documentation":"<p>The configuration for exporting harvested content to an S3 bucket. This includes details such as the bucket name and destination path within the bucket.</p>"
        }
      },
      "documentation":"<p>The configuration for the destination where the harvested content will be exported.</p>"
    },
    "DrmSystem":{
      "type":"string",
      "enum":[
        "CLEAR_KEY_AES_128",
        "FAIRPLAY",
        "PLAYREADY",
        "WIDEVINE",
        "IRDETO"
      ]
    },
    "Encryption":{
      "type":"structure",
      "required":[
        "EncryptionMethod",
        "SpekeKeyProvider"
      ],
      "members":{
        "ConstantInitializationVector":{
          "shape":"EncryptionConstantInitializationVectorString",
          "documentation":"<p>A 128-bit, 16-byte hex value represented by a 32-character string, used in conjunction with the key for encrypting content. If you don't specify a value, then MediaPackage creates the constant initialization vector (IV).</p>"
        },
        "EncryptionMethod":{
          "shape":"EncryptionMethod",
          "documentation":"<p>The encryption method to use.</p>"
        },
        "KeyRotationIntervalSeconds":{
          "shape":"EncryptionKeyRotationIntervalSecondsInteger",
          "documentation":"<p>The frequency (in seconds) of key changes for live workflows, in which content is streamed real time. The service retrieves content keys before the live content begins streaming, and then retrieves them as needed over the lifetime of the workflow. By default, key rotation is set to 300 seconds (5 minutes), the minimum rotation interval, which is equivalent to setting it to 300. If you don't enter an interval, content keys aren't rotated.</p> <p>The following example setting causes the service to rotate keys every thirty minutes: <code>1800</code> </p>"
        },
        "CmafExcludeSegmentDrmMetadata":{
          "shape":"Boolean",
          "documentation":"<p>Excludes SEIG and SGPD boxes from segment metadata in CMAF containers.</p> <p>When set to <code>true</code>, MediaPackage omits these DRM metadata boxes from CMAF segments, which can improve compatibility with certain devices and players that don't support these boxes.</p> <p>Important considerations:</p> <ul> <li> <p>This setting only affects CMAF container formats</p> </li> <li> <p>Key rotation can still be handled through media playlist signaling</p> </li> <li> <p>PSSH and TENC boxes remain unaffected</p> </li> <li> <p>Default behavior is preserved when this setting is disabled</p> </li> </ul> <p>Valid values: <code>true</code> | <code>false</code> </p> <p>Default: <code>false</code> </p>"
        },
        "SpekeKeyProvider":{
          "shape":"SpekeKeyProvider",
          "documentation":"<p>The parameters for the SPEKE key provider.</p>"
        }
      },
      "documentation":"<p>The parameters for encrypting content.</p>"
    },
    "EncryptionConstantInitializationVectorString":{
      "type":"string",
      "max":32,
      "min":32,
      "pattern":"[0-9a-fA-F]+"
    },
    "EncryptionContractConfiguration":{
      "type":"structure",
      "required":[
        "PresetSpeke20Audio",
        "PresetSpeke20Video"
      ],
      "members":{
        "PresetSpeke20Audio":{
          "shape":"PresetSpeke20Audio",
          "documentation":"<p>A collection of audio encryption presets.</p> <p>Value description: </p> <ul> <li> <p>PRESET-AUDIO-1 - Use one content key to encrypt all of the audio tracks in your stream.</p> </li> <li> <p>PRESET-AUDIO-2 - Use one content key to encrypt all of the stereo audio tracks and one content key to encrypt all of the multichannel audio tracks.</p> </li> <li> <p>PRESET-AUDIO-3 - Use one content key to encrypt all of the stereo audio tracks, one content key to encrypt all of the multichannel audio tracks with 3 to 6 channels, and one content key to encrypt all of the multichannel audio tracks with more than 6 channels.</p> </li> <li> <p>SHARED - Use the same content key for all of the audio and video tracks in your stream.</p> </li> <li> <p>UNENCRYPTED - Don't encrypt any of the audio tracks in your stream.</p> </li> </ul>"
        },
        "PresetSpeke20Video":{
          "shape":"PresetSpeke20Video",
          "documentation":"<p>A collection of video encryption presets.</p> <p>Value description: </p> <ul> <li> <p>PRESET-VIDEO-1 - Use one content key to encrypt all of the video tracks in your stream.</p> </li> <li> <p>PRESET-VIDEO-2 - Use one content key to encrypt all of the SD video tracks and one content key for all HD and higher resolutions video tracks.</p> </li> <li> <p>PRESET-VIDEO-3 - Use one content key to encrypt all of the SD video tracks, one content key for HD video tracks and one content key for all UHD video tracks.</p> </li> <li> <p>PRESET-VIDEO-4 - Use one content key to encrypt all of the SD video tracks, one content key for HD video tracks, one content key for all UHD1 video tracks and one content key for all UHD2 video tracks.</p> </li> <li> <p>PRESET-VIDEO-5 - Use one content key to encrypt all of the SD video tracks, one content key for HD1 video tracks, one content key for HD2 video tracks, one content key for all UHD1 video tracks and one content key for all UHD2 video tracks.</p> </li> <li> <p>PRESET-VIDEO-6 - Use one content key to encrypt all of the SD video tracks, one content key for HD1 video tracks, one content key for HD2 video tracks and one content key for all UHD video tracks.</p> </li> <li> <p>PRESET-VIDEO-7 - Use one content key to encrypt all of the SD+HD1 video tracks, one content key for HD2 video tracks and one content key for all UHD video tracks.</p> </li> <li> <p>PRESET-VIDEO-8 - Use one content key to encrypt all of the SD+HD1 video tracks, one content key for HD2 video tracks, one content key for all UHD1 video tracks and one content key for all UHD2 video tracks.</p> </li> <li> <p>SHARED - Use the same content key for all of the video and audio tracks in your stream.</p> </li> <li> <p>UNENCRYPTED - Don't encrypt any of the video tracks in your stream.</p> </li> </ul>"
        }
      },
      "documentation":"<p>Configure one or more content encryption keys for your endpoints that use SPEKE Version 2.0. The encryption contract defines which content keys are used to encrypt the audio and video tracks in your stream. To configure the encryption contract, specify which audio and video encryption presets to use.</p>"
    },
    "EncryptionKeyRotationIntervalSecondsInteger":{
      "type":"integer",
      "box":true,
      "max":31536000,
      "min":300
    },
    "EncryptionMethod":{
      "type":"structure",
      "members":{
        "TsEncryptionMethod":{
          "shape":"TsEncryptionMethod",
          "documentation":"<p>The encryption method to use.</p>"
        },
        "CmafEncryptionMethod":{
          "shape":"CmafEncryptionMethod",
          "documentation":"<p>The encryption method to use.</p>"
        },
        "IsmEncryptionMethod":{
          "shape":"IsmEncryptionMethod",
          "documentation":"<p>The encryption method used for Microsoft Smooth Streaming (MSS) content. This specifies how the MSS segments are encrypted to protect the content during delivery to client players.</p>"
        }
      },
      "documentation":"<p>The encryption type.</p>"
    },
    "EndpointErrorCondition":{
      "type":"string",
      "enum":[
        "STALE_MANIFEST",
        "INCOMPLETE_MANIFEST",
        "MISSING_DRM_KEY",
        "SLATE_INPUT"
      ]
    },
    "EndpointErrorConditions":{
      "type":"list",
      "member":{"shape":"EndpointErrorCondition"}
    },
    "EntityTag":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[\\S]+"
    },
    "FilterConfiguration":{
      "type":"structure",
      "members":{
        "ManifestFilter":{
          "shape":"FilterConfigurationManifestFilterString",
          "documentation":"<p>Optionally specify one or more manifest filters for all of your manifest egress requests. When you include a manifest filter, note that you cannot use an identical manifest filter query parameter for this manifest's endpoint URL.</p>"
        },
        "Start":{
          "shape":"Timestamp",
          "documentation":"<p>Optionally specify the start time for all of your manifest egress requests. When you include start time, note that you cannot use start time query parameters for this manifest's endpoint URL.</p>"
        },
        "End":{
          "shape":"Timestamp",
          "documentation":"<p>Optionally specify the end time for all of your manifest egress requests. When you include end time, note that you cannot use end time query parameters for this manifest's endpoint URL.</p>"
        },
        "TimeDelaySeconds":{
          "shape":"FilterConfigurationTimeDelaySecondsInteger",
          "documentation":"<p>Optionally specify the time delay for all of your manifest egress requests. Enter a value that is smaller than your endpoint's startover window. When you include time delay, note that you cannot use time delay query parameters for this manifest's endpoint URL.</p>"
        },
        "ClipStartTime":{
          "shape":"Timestamp",
          "documentation":"<p>Optionally specify the clip start time for all of your manifest egress requests. When you include clip start time, note that you cannot use clip start time query parameters for this manifest's endpoint URL.</p>"
        }
      },
      "documentation":"<p>Filter configuration includes settings for manifest filtering, start and end times, and time delay that apply to all of your egress requests for this manifest. </p>"
    },
    "FilterConfigurationManifestFilterString":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "FilterConfigurationTimeDelaySecondsInteger":{
      "type":"integer",
      "box":true,
      "max":1209600,
      "min":0
    },
    "Float":{
      "type":"float",
      "box":true
    },
    "ForceEndpointErrorConfiguration":{
      "type":"structure",
      "members":{
        "EndpointErrorConditions":{
          "shape":"EndpointErrorConditions",
          "documentation":"<p>The failover conditions for the endpoint. The options are:</p> <ul> <li> <p> <code>STALE_MANIFEST</code> - The manifest stalled and there are no new segments or parts.</p> </li> <li> <p> <code>INCOMPLETE_MANIFEST</code> - There is a gap in the manifest.</p> </li> <li> <p> <code>MISSING_DRM_KEY</code> - Key rotation is enabled but we're unable to fetch the key for the current key period.</p> </li> <li> <p> <code>SLATE_INPUT</code> - The segments which contain slate content are considered to be missing content.</p> </li> </ul>"
        }
      },
      "documentation":"<p>The failover settings for the endpoint.</p>"
    },
    "GetChannelGroupRequest":{
      "type":"structure",
      "required":["ChannelGroupName"],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
          "location":"uri",
          "locationName":"ChannelGroupName"
        }
      }
    },
    "GetChannelGroupResponse":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "Arn",
        "EgressDomain",
        "CreatedAt",
        "ModifiedAt"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"String",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>"
        },
        "Arn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) associated with the resource.</p>"
        },
        "EgressDomain":{
          "shape":"String",
          "documentation":"<p>The output domain where the source stream should be sent. Integrate the domain with a downstream CDN (such as Amazon CloudFront) or playback device.</p>"
        },
        "CreatedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the channel group was created.</p>"
        },
        "ModifiedAt":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time the channel group was modified.</p>"
        },
        "Description":{
          "shape":"ResourceDescription",
          "documentation":"<p>The description for your channel group.</p>"
        },
        "ETag":{
          "shape":"EntityTag",
          "documentation":"<p>The current Entity Tag (ETag) associated with this resource. The entity tag can be used to safely make concurrent updates to the resource.</p>"
        },
        "Tags":{
          "shape":"TagMap",
          "documentation":"<p>The comma-separated list of tag key:value pairs assigned to the channel group.</p>",
          "locationName":"tags"
        }
      }
    },
    "GetChannelPolicyRequest":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "ChannelName"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
          "location":"uri",
          "locationName":"ChannelGroupName"
        },
        "ChannelName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group. </p>",
          "location":"uri",
          "locationName":"ChannelName"
        }
      }
    },
    "GetChannelPolicyResponse":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "ChannelName",
        "Policy"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"String",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>"
        },
        "ChannelName":{
          "shape":"String",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group.</p>"
        },
        "Policy":{
          "shape":"PolicyText",
          "documentation":"<p>The policy assigned to the channel.</p>"
        }
      }
    },
    "GetChannelRequest":{
      "type":"structure",
      "required":[
        "ChannelGroupName",
        "ChannelName"
      ],
      "members":{
        "ChannelGroupName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel group. The name is the primary identifier for the channel group, and must be unique for your account in the AWS Region.</p>",
          "location":"uri",
          "locationName":"ChannelGroupName"
        },
        "ChannelName":{
          "shape":"ResourceName",
          "documentation":"<p>The name that describes the channel. The name is the primary identifier for the channel, and must be unique for your account in the AWS Region and channel group. </p>",
          "location":"uri",
          "locationName":"ChannelName"
        }
      }
    },
    "GetChannelResponse":{
      "type":"structure",
      "required":[
        "Arn",
        "ChannelName",
        "ChannelGroupName",
        "CreatedAt",
        "ModifiedAt"
      ],
      "members":{
        "Arn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) associated with the resource.</p>"
        },
[...]
