/*
 * Auth layout for login, signup & reset password
 *
 * Table of Contents
 *
 * Globals
 * Login
 * Signup and Reset
 * Forgotten Password
 */


/* ==========================================================================
   Globals
   ========================================================================== */

.ghost-login,
.ghost-signup,
.ghost-forgotten,
.ghost-reset {
    color: $midgrey;
    background: $darkgrey;

    @media (max-width: 400px) {
        background: $darkgrey;
    }

    main {
        top: 15px;
    }

    input {
        line-height: 1.4em;
        font-size: 1.1em;
        font-weight: 200;
        border: none;
        color: #fff;
        background: transparent;
        box-shadow: none;
        margin: 0;
        position: relative;
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px $lightgrey inset !important;
    }

}

.login-box,
.signup-box,
.forgotten-box,
.reset-box {
    max-width: 530px;
    height: 90%;
    margin: 0 auto;
    padding: 0;
    display: table;

    @media (max-width: 630px) {
        max-width: 264px;
        text-align: center;
    }
}


/* =============================================================================
   Login
   ============================================================================= */

.login-form {
    max-width: 530px;
    color: lighten($midgrey, 15%);
    display: table-cell;
    vertical-align: middle;

    @media (max-width: 630px) {
        max-width: 264px;
    }

    div { // Yes. Really.
        // TODO: This ^ can be improved 1000%
        position: relative;
        margin: 0 0 5px 0;
        background: lighten($darkgrey, 10%);
        float: left;

        @media (max-width: 630px) {
            margin-bottom: 1em;
        }
    }

    // TODO: make more specific
    input {
        display: inline-block;
        clear: both;
        padding: 8px 0 8px 8px;
        width: 216px;
        @include transition(background ease 0.25s);

        @media (max-width: 630px) {
            width: 264px;
            @include transition(none);
        }

        &:focus {
            border: none;
            background: lighten($darkgrey, 15%);
        }

    }

    .email-wrap {
        position: relative;
        @include icon($i-mail, 12px) {
            position: absolute;
            bottom: 11px;
            left: 8px;
            z-index: 100;
        }
        margin-right: 3px;
        @media (max-width: 630px) {
            margin-right: 0;

        }
        .email {
            padding-left: 28px;
            border-radius: 2px 0 0 2px;
        }
    }

    .password-wrap {
        position:relative;
        @include icon($i-lock, 10px) {
            position: absolute;
            bottom: 12px;
            left: 11px;
            z-index: 100;
        }
        .password {
            padding-left: 28px;
            border-radius: 0 2px 2px 0;
        }
    }

    @media (min-width: 631px) {
        .email-wrap,
        .email-wrap .email {
            border-radius: 2px 0 0 2px;
        }
        .password-wrap,
        .password-wrap .password {
            border-radius: 0 2px 2px 0;
        }
    }

    @media (max-width: 630px) {
        .email-wrap,
        .email-wrap .email,
        .password-wrap,
        .password-wrap .password {
            border-radius: 2px;
        }
    }



    button {
        width: 85px;
        height: 36px;
        margin:0 0 0 10px;
        padding: 0.5em 1.37em;
        min-height: 30px;
        min-width: 80px;
        box-shadow: rgba(255,255,255,0.15) 0 1px 0 inset;

        @media (max-width: 630px) {
            margin: 0;
            width: 100%;
            margin-bottom: 1em;
        }
    }

    .meta {
        clear: both;
        color: $midgrey;
    }

    a {
        color: darken($midgrey, 10%);
        font-size: 0.9em;

        &:hover {
            color: lighten($midgrey, 5%);
            text-decoration: none;
        }
    }

} // .login-form


/* =============================================================================
   Signup and Reset
   ============================================================================= */

.signup-form,
.reset-form {
    max-width: 280px;
    color: lighten($midgrey, 15%);
    display: table-cell;
    vertical-align: middle;

    @media (max-width: 630px) {
        width: 264px;
    }

    div { // Yes. Really.
        // TODO: Same here as above
        position: relative;
        margin: 0 0 1em 0;
        background: lighten($darkgrey, 10%);
        float: left;
        display: table;
    }

    input {
        width: 280px;
        padding: 8px 10px;
        @media (min-width: 631px) {
            @include transition(background ease 0.25s);
        }

        @media (max-width: 630px) {
            width: 264px;
        }

        &:focus {
            border: none;
            background: lighten($darkgrey, 15%);
        }

    }

    .name-wrap {
        position: relative;
        border-radius: 2px;

        .name {
            border-radius: 2px;
        }
    }

    .email-wrap {
        position: relative;
        border-radius: 2px;

        .email {
            border-radius: 2px;
        }
    }

    .password-wrap {
        position: relative;
        border-radius: 2px;

        .password {
            border-radius: 2px;
        }
    }

    button {
        width: 100%;
        height: 36px;
        margin: 0 0 1em 0;
        padding: 0.5em 1.37em;
        min-height: 30px;
        min-width: 80px;
        box-shadow: rgba(255,255,255,0.15) 0 1px 0 inset;
    }

} // .signup-form, .reset-form


/* =============================================================================
   Forgotten Password
   ============================================================================= */

.forgotten-form {
    max-width: 280px;
    color: lighten($midgrey, 15%);
    display: table-cell;
    vertical-align: middle;

    div { // Yes. Really.
        // TODO: Again, can make this better.
        position: relative;
        margin: 0 0 1em 0;
        background: lighten($darkgrey, 10%);
        float: left;
    }

    input {
        padding: 8px 10px;
        @include transition(background ease 0.25s);

        &:focus {
            border: none;
            background: lighten($darkgrey, 15%);
        }

    }

    .email-wrap {
        width: 100%;
        position:relative;
        border-radius: 2px;

        .email {
            border-radius: 2px;
        }
    }

    button {
        width: 100%;
        height: 36px;
        margin: 0 0 1em 0;
        padding: 0.5em 1.37em;
        min-height: 30px;
        min-width: 80px;
        box-shadow: rgba(255,255,255,0.15) 0 1px 0 inset;
    }

} // .forgotten-form