//
// Main Layout
// --------------------------------------------------

// The <main> content wrapper
.viewport {
    @include position(absolute, 0px 0px 0px 0px);
    overflow: hidden;
    z-index: 500; // Above the .global-nav when collapsed

    // TODO: move this to .global-nav-expanded class
    @media (max-width: 1025px) {
        @include transform(translate3d(260px, 0px, 0px));
    }
}

//
// The header bar - visible below 1025px
// --------------------------------------------------

.page-header {
    position: relative;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    background: $darkgrey;
    overflow: hidden;

    @media (min-width: 1025px) {
        height: 60px;
        line-height: 60px;
    }

    // Centered page heading
    h2 {
        display: block;
        height: 44px;
        line-height: 44px;
        margin: 0;
        padding: 0 15%;
        font-size: 1.8rem;
        font-weight: normal;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        @media (min-width: 1025px) {
            height: 60px;
            line-height: 60px;
        }
    }

}

// The burger to expand .global-nav menu
.menu-button {
    @include icon($i-menu, 18px) { line-height: 44px; }
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: 44px;
    color: #fff;
}


//
// The panel which wraps the main content area
// --------------------------------------------------
// We can't use position:fixed on .page-header because it would
// break the mobile menu. So we create an overflow-auto content
// area which scrolls just underneath the header, making it look
// like the header is position:fixed.

.page-content {
    @include position(absolute, 60px 0px 0px 0px);
    background: #fff;
    overflow-y: auto;

    @media (max-width: 1025px) {
        top: 44px;
    }
}