.invite-new-user {
    .modal-body {
        @include clearfix;
    }
    .form-group {

        margin-bottom: 0;
        padding: 0;

        label {
            position: static;
            display: block;
            text-align: left;
        }

        &:nth-of-type(1) {
            float: left;
            width: 60%;
        }
        &:nth-of-type(2) {
            float: right;
            width: 35%;
        }

        input,
        select {
            margin-top: 1px;
            width: 100%;
        }
    } // .form-group
    .button-add {
        width: 100%;
        padding: 0.85rem 1.9rem;
        font-size: 14px;
        line-height: 16px;
    }

}