//
// Post Settings Menu
// --------------------------------------------------

// Wrapper
.post-settings-menu {}

// Header
.post-settings-header {
    position: relative;
    padding: 19px 24px;
    h4 {
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 1.375;
        margin: 0;
    }
    .close {
        right: 0;
        &:before {
            right: 22px;
        }
    }
}

.post-settings-header.subview {
    h4 {
        text-align: center;
    }
    .back {
        left: 0;
        &:before {
            left: 19px;
        }
    }
}

.post-settings-header-action {
    position: absolute;
    top: 0;
    bottom: 7px;
    width: 45px;
    padding: 0;
    &:before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: $midbrown;
        font-size: 2rem;
    }
    &:hover {
        &:before {
            color: $midgrey;
        }
    }
}

// Content
.post-settings-content {
    padding: 0 24px 24px;

    .image-uploader {
        padding-top: 35px;
        padding-bottom: 35px;
        margin: 0 0 1.6rem 0;

        input {
            width: auto;
        }
    }

    .form-group {
        // margin-bottom: 1.5rem;
    } // .form-group

    textarea {
        height: 108px;
    }

    .nav-list {
        margin-top: 3rem;
    }

    .pre-image-uploader {
        width: auto;
        min-height: 50px;
        max-height: 250px;
    }

    .word-count {
        font-weight: bold;
    }
}


//
// Meta Data
// --------------------------------------------------

// These styles are copied from Google.com
.seo-preview {
    font-family: Arial, sans-serif;
}

.seo-preview-title {
    font-size: 1.8rem;
    line-height: 2.16rem;
    color: #1E0FBE;
    text-overflow: ellipses;
    -webkit-text-overflow: ellipsis;
    word-wrap: break-word;
}

.seo-preview-link {
    margin: 1px 0 2px 0;
    font-size: 1.3rem;
    line-height: 1.6rem;
    color: #006621;
    word-wrap: break-word;
}

.seo-preview-description {
    font-size: 1.3rem;
    line-height: 1.4;
    color: #545454;
    word-wrap: break-word;
}
