//
// Tag Management
// --------------------------------------------------
// Slug: /ghost/settings/tags
// --------------------------------------------------

// Tags search
.tags-search {
    position: relative;
    display: inline-block;
    margin-left: 7px;

    .btn {
        position: relative;
        padding-left: 10px;
        padding-right: 10px;
        transition: padding 0.3s ease-in-out;

        .icon-search:before {
            font-size: 1.3rem;
        }
        &.active {
            box-shadow: none;
        }
    }

    .tags-search-input {
        position: absolute;
        top: 1px;
        left: 1px;
        width: 0;
        margin: 0;
        padding: 7px 10px;
        border: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        transition: all 0.3s ease-in-out;
        opacity: 0;
        pointer-events: none;
    }

    &.opened {

        .tags-search-input {
            opacity: 1;
            pointer-events: auto;
        }

        @media (max-width: 400px) {
            .btn {
                padding-left: 120px;
            }
            .tags-search-input {
                width: 110px;
            }
        }

        @media (min-width: 401px) {
            .btn {
                padding-left: 140px;
            }
            .tags-search-input {
                width: 130px;
            }
        }
    }
}//.tags-search

.settings-tag {
    position: relative;
    padding: 0 45px 0 0;
    display: block;
    border-top: 1px solid $lightbrown;

    .tag-edit-button {
        width: calc(100% + 45px);
        padding: 20px 15px;
        text-align: left;

        &:hover,
        &:focus,
        &:active {
            background: lighten($lightbrown, 5%);
        }
    }

    &:last-of-type:hover .tag-edit-button {
        box-shadow: inset 0px -1px 0px $lightbrown;
    }

    // Permalink/labels
    .label {
        margin-left: 2px;
        position: relative;
        top: -2px;
    }
    .label-alt {
        text-transform: uppercase;
    }

    .tag-title {
        font-size: 16px;
        color: $darkgrey;
        font-weight: normal;
    }

    .tag-description {
        margin: 0;
        font-size: 13px;
        color: $midbrown;
    }

    .tags-count {
        position: absolute;
        top: 20px;
        right: 12px;
        font-size: 16px;
        color: $midbrown;
    }
}//.settings-tag

// Tags with a parent get the arrow, and slightly different padding/margin
// .settings-tag .settings-tag {
//     margin-left: 36px;
//     padding-bottom: 0;
//     border-bottom: 0;
//     margin-right: -35px;

//     &:before,
//     &:after {
//         content: '';
//         background: $lightbrown;
//         position: absolute;
//     }

//     &:before {
//         width: 1px;
//         height: 16px;
//         top: 16px;
//         left: -34px;
//     }
//     &:after {
//         width: 16px;
//         height: 1px;
//         top: 32px;
//         left: -34px;
//     }
// }//.settings-tag .settings-tag