{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-05-18",
    "endpointPrefix":"athena",
    "jsonVersion":"1.1",
    "protocol":"json",
    "protocols":["json"],
    "serviceFullName":"Amazon Athena",
    "serviceId":"Athena",
    "signatureVersion":"v4",
    "targetPrefix":"AmazonAthena",
    "uid":"athena-2017-05-18",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "BatchGetNamedQuery":{
      "name":"BatchGetNamedQuery",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetNamedQueryInput"},
      "output":{"shape":"BatchGetNamedQueryOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Returns the details of a single named query or a list of up to 50 queries, which you provide as an array of query ID strings. Requires you to have access to the workgroup in which the queries were saved. Use <a>ListNamedQueriesInput</a> to get the list of named query IDs in the specified workgroup. If information could not be retrieved for a submitted query ID, information about the query ID submitted is listed under <a>UnprocessedNamedQueryId</a>. Named queries differ from executed queries. Use <a>BatchGetQueryExecutionInput</a> to get details about each unique query execution, and <a>ListQueryExecutionsInput</a> to get a list of query execution IDs.</p>"
    },
    "BatchGetPreparedStatement":{
      "name":"BatchGetPreparedStatement",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetPreparedStatementInput"},
      "output":{"shape":"BatchGetPreparedStatementOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Returns the details of a single prepared statement or a list of up to 256 prepared statements for the array of prepared statement names that you provide. Requires you to have access to the workgroup to which the prepared statements belong. If a prepared statement cannot be retrieved for the name specified, the statement is listed in <code>UnprocessedPreparedStatementNames</code>.</p>"
    },
    "BatchGetQueryExecution":{
      "name":"BatchGetQueryExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchGetQueryExecutionInput"},
      "output":{"shape":"BatchGetQueryExecutionOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Returns the details of a single query execution or a list of up to 50 query executions, which you provide as an array of query execution ID strings. Requires you to have access to the workgroup in which the queries ran. To get a list of query execution IDs, use <a>ListQueryExecutionsInput$WorkGroup</a>. Query executions differ from named (saved) queries. Use <a>BatchGetNamedQueryInput</a> to get details about named queries.</p>"
    },
    "CancelCapacityReservation":{
      "name":"CancelCapacityReservation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CancelCapacityReservationInput"},
      "output":{"shape":"CancelCapacityReservationOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Cancels the capacity reservation with the specified name. Cancelled reservations remain in your account and will be deleted 45 days after cancellation. During the 45 days, you cannot re-purpose or reuse a reservation that has been cancelled, but you can refer to its tags and view it for historical reference. </p>",
      "idempotent":true
    },
    "CreateCapacityReservation":{
      "name":"CreateCapacityReservation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCapacityReservationInput"},
      "output":{"shape":"CreateCapacityReservationOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Creates a capacity reservation with the specified name and number of requested data processing units.</p>",
      "idempotent":true
    },
    "CreateDataCatalog":{
      "name":"CreateDataCatalog",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDataCatalogInput"},
      "output":{"shape":"CreateDataCatalogOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Creates (registers) a data catalog with the specified name and properties. Catalogs created are visible to all users of the same Amazon Web Services account.</p> <p>For a <code>FEDERATED</code> catalog, this API operation creates the following resources.</p> <ul> <li> <p>CFN Stack Name with a maximum length of 128 characters and prefix <code>athenafederatedcatalog-CATALOG_NAME_SANITIZED</code> with length 23 characters.</p> </li> <li> <p>Lambda Function Name with a maximum length of 64 characters and prefix <code>athenafederatedcatalog_CATALOG_NAME_SANITIZED</code> with length 23 characters.</p> </li> <li> <p>Glue Connection Name with a maximum length of 255 characters and a prefix <code>athenafederatedcatalog_CATALOG_NAME_SANITIZED</code> with length 23 characters. </p> </li> </ul>"
    },
    "CreateNamedQuery":{
      "name":"CreateNamedQuery",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateNamedQueryInput"},
      "output":{"shape":"CreateNamedQueryOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Creates a named query in the specified workgroup. Requires that you have access to the workgroup.</p>",
      "idempotent":true
    },
    "CreateNotebook":{
      "name":"CreateNotebook",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateNotebookInput"},
      "output":{"shape":"CreateNotebookOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Creates an empty <code>ipynb</code> file in the specified Apache Spark enabled workgroup. Throws an error if a file in the workgroup with the same name already exists.</p>"
    },
    "CreatePreparedStatement":{
      "name":"CreatePreparedStatement",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePreparedStatementInput"},
      "output":{"shape":"CreatePreparedStatementOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Creates a prepared statement for use with SQL queries in Athena.</p>"
    },
    "CreatePresignedNotebookUrl":{
      "name":"CreatePresignedNotebookUrl",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePresignedNotebookUrlRequest"},
      "output":{"shape":"CreatePresignedNotebookUrlResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets an authentication token and the URL at which the notebook can be accessed. During programmatic access, <code>CreatePresignedNotebookUrl</code> must be called every 10 minutes to refresh the authentication token. For information about granting programmatic access, see <a href=\"https://docs.aws.amazon.com/athena/latest/ug/setting-up.html#setting-up-grant-programmatic-access\">Grant programmatic access</a>.</p>"
    },
    "CreateWorkGroup":{
      "name":"CreateWorkGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateWorkGroupInput"},
      "output":{"shape":"CreateWorkGroupOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Creates a workgroup with the specified name. A workgroup can be an Apache Spark enabled workgroup or an Athena SQL workgroup.</p>"
    },
    "DeleteCapacityReservation":{
      "name":"DeleteCapacityReservation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCapacityReservationInput"},
      "output":{"shape":"DeleteCapacityReservationOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes a cancelled capacity reservation. A reservation must be cancelled before it can be deleted. A deleted reservation is immediately removed from your account and can no longer be referenced, including by its ARN. A deleted reservation cannot be called by <code>GetCapacityReservation</code>, and deleted reservations do not appear in the output of <code>ListCapacityReservations</code>.</p>",
      "idempotent":true
    },
    "DeleteDataCatalog":{
      "name":"DeleteDataCatalog",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteDataCatalogInput"},
      "output":{"shape":"DeleteDataCatalogOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Deletes a data catalog.</p>"
    },
    "DeleteNamedQuery":{
      "name":"DeleteNamedQuery",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteNamedQueryInput"},
      "output":{"shape":"DeleteNamedQueryOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Deletes the named query if you have access to the workgroup in which the query was saved.</p>",
      "idempotent":true
    },
    "DeleteNotebook":{
      "name":"DeleteNotebook",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteNotebookInput"},
      "output":{"shape":"DeleteNotebookOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Deletes the specified notebook.</p>"
    },
    "DeletePreparedStatement":{
      "name":"DeletePreparedStatement",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePreparedStatementInput"},
      "output":{"shape":"DeletePreparedStatementOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes the prepared statement with the specified name from the specified workgroup.</p>"
    },
    "DeleteWorkGroup":{
      "name":"DeleteWorkGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteWorkGroupInput"},
      "output":{"shape":"DeleteWorkGroupOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Deletes the workgroup with the specified name. The primary workgroup cannot be deleted.</p>",
      "idempotent":true
    },
    "ExportNotebook":{
      "name":"ExportNotebook",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ExportNotebookInput"},
      "output":{"shape":"ExportNotebookOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Exports the specified notebook and its metadata.</p>"
    },
    "GetCalculationExecution":{
      "name":"GetCalculationExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCalculationExecutionRequest"},
      "output":{"shape":"GetCalculationExecutionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Describes a previously submitted calculation execution.</p>"
    },
    "GetCalculationExecutionCode":{
      "name":"GetCalculationExecutionCode",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCalculationExecutionCodeRequest"},
      "output":{"shape":"GetCalculationExecutionCodeResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves the unencrypted code that was executed for the calculation.</p>"
    },
    "GetCalculationExecutionStatus":{
      "name":"GetCalculationExecutionStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCalculationExecutionStatusRequest"},
      "output":{"shape":"GetCalculationExecutionStatusResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets the status of a current calculation.</p>"
    },
    "GetCapacityAssignmentConfiguration":{
      "name":"GetCapacityAssignmentConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCapacityAssignmentConfigurationInput"},
      "output":{"shape":"GetCapacityAssignmentConfigurationOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Gets the capacity assignment configuration for a capacity reservation, if one exists.</p>"
    },
    "GetCapacityReservation":{
      "name":"GetCapacityReservation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCapacityReservationInput"},
      "output":{"shape":"GetCapacityReservationOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns information about the capacity reservation with the specified name.</p>"
    },
    "GetDataCatalog":{
      "name":"GetDataCatalog",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDataCatalogInput"},
      "output":{"shape":"GetDataCatalogOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Returns the specified data catalog.</p>"
    },
    "GetDatabase":{
      "name":"GetDatabase",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDatabaseInput"},
      "output":{"shape":"GetDatabaseOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"MetadataException"}
      ],
      "documentation":"<p>Returns a database object for the specified database and data catalog.</p>"
    },
    "GetNamedQuery":{
      "name":"GetNamedQuery",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetNamedQueryInput"},
      "output":{"shape":"GetNamedQueryOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Returns information about a single query. Requires that you have access to the workgroup in which the query was saved.</p>"
    },
    "GetNotebookMetadata":{
      "name":"GetNotebookMetadata",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetNotebookMetadataInput"},
      "output":{"shape":"GetNotebookMetadataOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Retrieves notebook metadata for the specified notebook ID.</p>"
    },
    "GetPreparedStatement":{
      "name":"GetPreparedStatement",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPreparedStatementInput"},
      "output":{"shape":"GetPreparedStatementOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves the prepared statement with the specified name from the specified workgroup.</p>"
    },
    "GetQueryExecution":{
      "name":"GetQueryExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetQueryExecutionInput"},
      "output":{"shape":"GetQueryExecutionOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Returns information about a single execution of a query if you have access to the workgroup in which the query ran. Each time a query executes, information about the query execution is saved with a unique ID.</p>"
    },
    "GetQueryResults":{
      "name":"GetQueryResults",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetQueryResultsInput"},
      "output":{"shape":"GetQueryResultsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Streams the results of a single query execution specified by <code>QueryExecutionId</code> from the Athena query results location in Amazon S3. For more information, see <a href=\"https://docs.aws.amazon.com/athena/latest/ug/querying.html\">Working with query results, recent queries, and output files</a> in the <i>Amazon Athena User Guide</i>. This request does not execute the query but returns results. Use <a>StartQueryExecution</a> to run a query.</p> <p>To stream query results successfully, the IAM principal with permission to call <code>GetQueryResults</code> also must have permissions to the Amazon S3 <code>GetObject</code> action for the Athena query results location.</p> <important> <p>IAM principals with permission to the Amazon S3 <code>GetObject</code> action for the query results location are able to retrieve query results from Amazon S3 even if permission to the <code>GetQueryResults</code> action is denied. To restrict user or role access, ensure that Amazon S3 permissions to the Athena query location are denied.</p> </important>"
    },
    "GetQueryRuntimeStatistics":{
      "name":"GetQueryRuntimeStatistics",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetQueryRuntimeStatisticsInput"},
      "output":{"shape":"GetQueryRuntimeStatisticsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Returns query execution runtime statistics related to a single execution of a query if you have access to the workgroup in which the query ran. Statistics from the <code>Timeline</code> section of the response object are available as soon as <a>QueryExecutionStatus$State</a> is in a SUCCEEDED or FAILED state. The remaining non-timeline statistics in the response (like stage-level input and output row count and data size) are updated asynchronously and may not be available immediately after a query completes. The non-timeline statistics are also not included when a query has row-level filters defined in Lake Formation.</p>"
    },
    "GetSession":{
      "name":"GetSession",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSessionRequest"},
      "output":{"shape":"GetSessionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets the full details of a previously created session, including the session status and configuration.</p>"
    },
    "GetSessionStatus":{
      "name":"GetSessionStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSessionStatusRequest"},
      "output":{"shape":"GetSessionStatusResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets the current status of a session.</p>"
    },
    "GetTableMetadata":{
      "name":"GetTableMetadata",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTableMetadataInput"},
      "output":{"shape":"GetTableMetadataOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"MetadataException"}
      ],
      "documentation":"<p>Returns table metadata for the specified catalog, database, and table.</p>"
    },
    "GetWorkGroup":{
      "name":"GetWorkGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetWorkGroupInput"},
      "output":{"shape":"GetWorkGroupOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Returns information about the workgroup with the specified name.</p>"
    },
    "ImportNotebook":{
      "name":"ImportNotebook",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ImportNotebookInput"},
      "output":{"shape":"ImportNotebookOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Imports a single <code>ipynb</code> file to a Spark enabled workgroup. To import the notebook, the request must specify a value for either <code>Payload</code> or <code>NoteBookS3LocationUri</code>. If neither is specified or both are specified, an <code>InvalidRequestException</code> occurs. The maximum file size that can be imported is 10 megabytes. If an <code>ipynb</code> file with the same name already exists in the workgroup, throws an error.</p>"
    },
    "ListApplicationDPUSizes":{
      "name":"ListApplicationDPUSizes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListApplicationDPUSizesInput"},
      "output":{"shape":"ListApplicationDPUSizesOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Returns the supported DPU sizes for the supported application runtimes (for example, <code>Athena notebook version 1</code>). </p>"
    },
    "ListCalculationExecutions":{
      "name":"ListCalculationExecutions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCalculationExecutionsRequest"},
      "output":{"shape":"ListCalculationExecutionsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists the calculations that have been submitted to a session in descending order. Newer calculations are listed first; older calculations are listed later.</p>"
    },
    "ListCapacityReservations":{
      "name":"ListCapacityReservations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCapacityReservationsInput"},
      "output":{"shape":"ListCapacityReservationsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Lists the capacity reservations for the current account.</p>"
    },
    "ListDataCatalogs":{
      "name":"ListDataCatalogs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDataCatalogsInput"},
      "output":{"shape":"ListDataCatalogsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Lists the data catalogs in the current Amazon Web Services account.</p> <note> <p>In the Athena console, data catalogs are listed as \"data sources\" on the <b>Data sources</b> page under the <b>Data source name</b> column.</p> </note>"
    },
    "ListDatabases":{
      "name":"ListDatabases",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListDatabasesInput"},
      "output":{"shape":"ListDatabasesOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"MetadataException"}
      ],
      "documentation":"<p>Lists the databases in the specified data catalog.</p>"
    },
    "ListEngineVersions":{
      "name":"ListEngineVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListEngineVersionsInput"},
      "output":{"shape":"ListEngineVersionsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Returns a list of engine versions that are available to choose from, including the Auto option.</p>"
    },
    "ListExecutors":{
      "name":"ListExecutors",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListExecutorsRequest"},
      "output":{"shape":"ListExecutorsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists, in descending order, the executors that joined a session. Newer executors are listed first; older executors are listed later. The result can be optionally filtered by state.</p>"
    },
    "ListNamedQueries":{
      "name":"ListNamedQueries",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListNamedQueriesInput"},
      "output":{"shape":"ListNamedQueriesOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Provides a list of available query IDs only for queries saved in the specified workgroup. Requires that you have access to the specified workgroup. If a workgroup is not specified, lists the saved queries for the primary workgroup.</p>"
    },
    "ListNotebookMetadata":{
      "name":"ListNotebookMetadata",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListNotebookMetadataInput"},
      "output":{"shape":"ListNotebookMetadataOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Displays the notebook files for the specified workgroup in paginated format.</p>"
    },
    "ListNotebookSessions":{
      "name":"ListNotebookSessions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListNotebookSessionsRequest"},
      "output":{"shape":"ListNotebookSessionsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists, in descending order, the sessions that have been created in a notebook that are in an active state like <code>CREATING</code>, <code>CREATED</code>, <code>IDLE</code> or <code>BUSY</code>. Newer sessions are listed first; older sessions are listed later.</p>"
    },
    "ListPreparedStatements":{
      "name":"ListPreparedStatements",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPreparedStatementsInput"},
      "output":{"shape":"ListPreparedStatementsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Lists the prepared statements in the specified workgroup.</p>"
    },
    "ListQueryExecutions":{
      "name":"ListQueryExecutions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListQueryExecutionsInput"},
      "output":{"shape":"ListQueryExecutionsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Provides a list of available query execution IDs for the queries in the specified workgroup. Athena keeps a query history for 45 days. If a workgroup is not specified, returns a list of query execution IDs for the primary workgroup. Requires you to have access to the workgroup in which the queries ran.</p>"
    },
    "ListSessions":{
      "name":"ListSessions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSessionsRequest"},
      "output":{"shape":"ListSessionsResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists the sessions in a workgroup that are in an active state like <code>CREATING</code>, <code>CREATED</code>, <code>IDLE</code>, or <code>BUSY</code>. Newer sessions are listed first; older sessions are listed later.</p>"
    },
    "ListTableMetadata":{
      "name":"ListTableMetadata",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTableMetadataInput"},
      "output":{"shape":"ListTableMetadataOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"MetadataException"}
      ],
      "documentation":"<p>Lists the metadata for the tables in the specified data catalog database.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceInput"},
      "output":{"shape":"ListTagsForResourceOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists the tags associated with an Athena resource.</p>"
    },
    "ListWorkGroups":{
      "name":"ListWorkGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListWorkGroupsInput"},
      "output":{"shape":"ListWorkGroupsOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Lists available workgroups for the account.</p>"
    },
    "PutCapacityAssignmentConfiguration":{
      "name":"PutCapacityAssignmentConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutCapacityAssignmentConfigurationInput"},
      "output":{"shape":"PutCapacityAssignmentConfigurationOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Puts a new capacity assignment configuration for a specified capacity reservation. If a capacity assignment configuration already exists for the capacity reservation, replaces the existing capacity assignment configuration.</p>",
      "idempotent":true
    },
    "StartCalculationExecution":{
      "name":"StartCalculationExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartCalculationExecutionRequest"},
      "output":{"shape":"StartCalculationExecutionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Submits calculations for execution within a session. You can supply the code to run as an inline code block within the request.</p> <note> <p>The request syntax requires the <a>StartCalculationExecutionRequest$CodeBlock</a> parameter or the <a>CalculationConfiguration$CodeBlock</a> parameter, but not both. Because <a>CalculationConfiguration$CodeBlock</a> is deprecated, use the <a>StartCalculationExecutionRequest$CodeBlock</a> parameter instead.</p> </note>"
    },
    "StartQueryExecution":{
      "name":"StartQueryExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartQueryExecutionInput"},
      "output":{"shape":"StartQueryExecutionOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Runs the SQL query statements contained in the <code>Query</code>. Requires you to have access to the workgroup in which the query ran. Running queries against an external catalog requires <a>GetDataCatalog</a> permission to the catalog. For code samples using the Amazon Web Services SDK for Java, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>",
      "idempotent":true
    },
    "StartSession":{
      "name":"StartSession",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartSessionRequest"},
      "output":{"shape":"StartSessionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"SessionAlreadyExistsException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Creates a session for running calculations within a workgroup. The session is ready when it reaches an <code>IDLE</code> state.</p>"
    },
    "StopCalculationExecution":{
      "name":"StopCalculationExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopCalculationExecutionRequest"},
      "output":{"shape":"StopCalculationExecutionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Requests the cancellation of a calculation. A <code>StopCalculationExecution</code> call on a calculation that is already in a terminal state (for example, <code>STOPPED</code>, <code>FAILED</code>, or <code>COMPLETED</code>) succeeds but has no effect.</p> <note> <p>Cancelling a calculation is done on a best effort basis. If a calculation cannot be cancelled, you can be charged for its completion. If you are concerned about being charged for a calculation that cannot be cancelled, consider terminating the session in which the calculation is running.</p> </note>"
    },
    "StopQueryExecution":{
      "name":"StopQueryExecution",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopQueryExecutionInput"},
      "output":{"shape":"StopQueryExecutionOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Stops a query execution. Requires you to have access to the workgroup in which the query ran.</p>",
      "idempotent":true
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceInput"},
      "output":{"shape":"TagResourceOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Adds one or more tags to an Athena resource. A tag is a label that you assign to a resource. Each tag consists of a key and an optional value, both of which you define. For example, you can use tags to categorize Athena workgroups, data catalogs, or capacity reservations by purpose, owner, or environment. Use a consistent set of tag keys to make it easier to search and filter the resources in your account. For best practices, see <a href=\"https://docs.aws.amazon.com/whitepapers/latest/tagging-best-practices/tagging-best-practices.html\">Tagging Best Practices</a>. Tag keys can be from 1 to 128 UTF-8 Unicode characters, and tag values can be from 0 to 256 UTF-8 Unicode characters. Tags can use letters and numbers representable in UTF-8, and the following characters: + - = . _ : / @. Tag keys and values are case-sensitive. Tag keys must be unique per resource. If you specify more than one tag, separate them by commas.</p>"
    },
    "TerminateSession":{
      "name":"TerminateSession",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TerminateSessionRequest"},
      "output":{"shape":"TerminateSessionResponse"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Terminates an active session. A <code>TerminateSession</code> call on a session that is already inactive (for example, in a <code>FAILED</code>, <code>TERMINATED</code> or <code>TERMINATING</code> state) succeeds but has no effect. Calculations running in the session when <code>TerminateSession</code> is called are forcefully stopped, but may display as <code>FAILED</code> instead of <code>STOPPED</code>.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceInput"},
      "output":{"shape":"UntagResourceOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Removes one or more tags from an Athena resource.</p>"
    },
    "UpdateCapacityReservation":{
      "name":"UpdateCapacityReservation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateCapacityReservationInput"},
      "output":{"shape":"UpdateCapacityReservationOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates the number of requested data processing units for the capacity reservation with the specified name.</p>"
    },
    "UpdateDataCatalog":{
      "name":"UpdateDataCatalog",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateDataCatalogInput"},
      "output":{"shape":"UpdateDataCatalogOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Updates the data catalog that has the specified name.</p>"
    },
    "UpdateNamedQuery":{
      "name":"UpdateNamedQuery",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateNamedQueryInput"},
      "output":{"shape":"UpdateNamedQueryOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Updates a <a>NamedQuery</a> object. The database or workgroup cannot be updated.</p>",
      "idempotent":true
    },
    "UpdateNotebook":{
      "name":"UpdateNotebook",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateNotebookInput"},
      "output":{"shape":"UpdateNotebookOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Updates the contents of a Spark notebook.</p>"
    },
    "UpdateNotebookMetadata":{
      "name":"UpdateNotebookMetadata",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateNotebookMetadataInput"},
      "output":{"shape":"UpdateNotebookMetadataOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"TooManyRequestsException"}
      ],
      "documentation":"<p>Updates the metadata for a notebook.</p>"
    },
    "UpdatePreparedStatement":{
      "name":"UpdatePreparedStatement",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePreparedStatementInput"},
      "output":{"shape":"UpdatePreparedStatementOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Updates a prepared statement.</p>"
    },
    "UpdateWorkGroup":{
      "name":"UpdateWorkGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateWorkGroupInput"},
      "output":{"shape":"UpdateWorkGroupOutput"},
      "errors":[
        {"shape":"InternalServerException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Updates the workgroup with the specified name. The workgroup's name cannot be changed. Only <code>ConfigurationUpdates</code> can be specified.</p>"
    }
  },
  "shapes":{
    "AclConfiguration":{
      "type":"structure",
      "required":["S3AclOption"],
      "members":{
        "S3AclOption":{
          "shape":"S3AclOption",
          "documentation":"<p>The Amazon S3 canned ACL that Athena should specify when storing query results, including data files inserted by Athena as the result of statements like CTAS or INSERT INTO. Currently the only supported canned ACL is <code>BUCKET_OWNER_FULL_CONTROL</code>. If a query runs in a workgroup and the workgroup overrides client-side settings, then the Amazon S3 canned ACL specified in the workgroup's settings is used for all queries that run in the workgroup. For more information about Amazon S3 canned ACLs, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/acl-overview.html#canned-acl\">Canned ACL</a> in the <i>Amazon S3 User Guide</i>.</p>"
        }
      },
      "documentation":"<p>Indicates that an Amazon S3 canned ACL should be set to control ownership of stored query results, including data files inserted by Athena as the result of statements like CTAS or INSERT INTO. When Athena stores query results in Amazon S3, the canned ACL is set with the <code>x-amz-acl</code> request header. For more information about S3 Object Ownership, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/about-object-ownership.html#object-ownership-overview\">Object Ownership settings</a> in the <i>Amazon S3 User Guide</i>.</p>"
    },
    "Age":{
      "type":"integer",
      "max":10080,
      "min":0
    },
    "AllocatedDpusInteger":{
      "type":"integer",
      "box":true,
      "min":0
    },
    "AmazonResourceName":{
      "type":"string",
      "max":1011,
      "min":1
    },
    "ApplicationDPUSizes":{
      "type":"structure",
      "members":{
        "ApplicationRuntimeId":{
          "shape":"NameString",
          "documentation":"<p>The name of the supported application runtime (for example, <code>Athena notebook version 1</code>).</p>"
        },
        "SupportedDPUSizes":{
          "shape":"SupportedDPUSizeList",
          "documentation":"<p>A list of the supported DPU sizes that the application runtime supports.</p>"
        }
      },
      "documentation":"<p>Contains the application runtime IDs and their supported DPU sizes.</p>"
    },
    "ApplicationDPUSizesList":{
      "type":"list",
      "member":{"shape":"ApplicationDPUSizes"}
    },
    "AthenaError":{
      "type":"structure",
      "members":{
        "ErrorCategory":{
          "shape":"ErrorCategory",
          "documentation":"<p>An integer value that specifies the category of a query failure error. The following list shows the category for each integer value.</p> <p> <b>1</b> - System</p> <p> <b>2</b> - User</p> <p> <b>3</b> - Other</p>"
        },
        "ErrorType":{
          "shape":"ErrorType",
          "documentation":"<p>An integer value that provides specific information about an Athena query error. For the meaning of specific values, see the <a href=\"https://docs.aws.amazon.com/athena/latest/ug/error-reference.html#error-reference-error-type-reference\">Error Type Reference</a> in the <i>Amazon Athena User Guide</i>.</p>"
        },
        "Retryable":{
          "shape":"Boolean",
          "documentation":"<p>True if the query might succeed if resubmitted.</p>"
        },
        "ErrorMessage":{
          "shape":"String",
          "documentation":"<p>Contains a short description of the error that occurred.</p>"
        }
      },
      "documentation":"<p>Provides information about an Athena query error. The <code>AthenaError</code> feature provides standardized error information to help you understand failed queries and take steps after a query failure occurs. <code>AthenaError</code> includes an <code>ErrorCategory</code> field that specifies whether the cause of the failed query is due to system error, user error, or other error.</p>"
    },
    "AuthToken":{
      "type":"string",
      "max":2048
    },
    "AuthenticationType":{
      "type":"string",
      "enum":["DIRECTORY_IDENTITY"]
    },
    "AwsAccountId":{
      "type":"string",
      "max":12,
      "min":12,
      "pattern":"^[0-9]+$"
    },
    "BatchGetNamedQueryInput":{
      "type":"structure",
      "required":["NamedQueryIds"],
      "members":{
        "NamedQueryIds":{
          "shape":"NamedQueryIdList",
          "documentation":"<p>An array of query IDs.</p>"
        }
      },
      "documentation":"<p>Contains an array of named query IDs.</p>"
    },
    "BatchGetNamedQueryOutput":{
      "type":"structure",
      "members":{
        "NamedQueries":{
          "shape":"NamedQueryList",
          "documentation":"<p>Information about the named query IDs submitted.</p>"
        },
        "UnprocessedNamedQueryIds":{
          "shape":"UnprocessedNamedQueryIdList",
          "documentation":"<p>Information about provided query IDs.</p>"
        }
      }
    },
    "BatchGetPreparedStatementInput":{
      "type":"structure",
      "required":[
        "PreparedStatementNames",
        "WorkGroup"
      ],
      "members":{
        "PreparedStatementNames":{
          "shape":"PreparedStatementNameList",
          "documentation":"<p>A list of prepared statement names to return.</p>"
        },
        "WorkGroup":{
          "shape":"WorkGroupName",
          "documentation":"<p>The name of the workgroup to which the prepared statements belong.</p>"
        }
      }
    },
    "BatchGetPreparedStatementOutput":{
      "type":"structure",
      "members":{
        "PreparedStatements":{
          "shape":"PreparedStatementDetailsList",
          "documentation":"<p>The list of prepared statements returned.</p>"
        },
        "UnprocessedPreparedStatementNames":{
          "shape":"UnprocessedPreparedStatementNameList",
          "documentation":"<p>A list of one or more prepared statements that were requested but could not be returned.</p>"
        }
      }
    },
    "BatchGetQueryExecutionInput":{
      "type":"structure",
      "required":["QueryExecutionIds"],
      "members":{
        "QueryExecutionIds":{
          "shape":"QueryExecutionIdList",
          "documentation":"<p>An array of query execution IDs.</p>"
        }
      },
      "documentation":"<p>Contains an array of query execution IDs.</p>"
    },
    "BatchGetQueryExecutionOutput":{
      "type":"structure",
      "members":{
        "QueryExecutions":{
          "shape":"QueryExecutionList",
          "documentation":"<p>Information about a query execution.</p>"
        },
        "UnprocessedQueryExecutionIds":{
          "shape":"UnprocessedQueryExecutionIdList",
          "documentation":"<p>Information about the query executions that failed to run.</p>"
        }
      }
    },
    "Boolean":{"type":"boolean"},
    "BoxedBoolean":{"type":"boolean"},
    "BytesScannedCutoffValue":{
      "type":"long",
      "min":10000000
    },
    "CalculationConfiguration":{
      "type":"structure",
      "members":{
        "CodeBlock":{
          "shape":"CodeBlock",
          "documentation":"<p>A string that contains the code for the calculation.</p>"
        }
      },
      "documentation":"<p>Contains configuration information for the calculation.</p>"
    },
    "CalculationExecutionId":{
      "type":"string",
      "max":36,
      "min":1
    },
    "CalculationExecutionState":{
      "type":"string",
      "enum":[
        "CREATING",
        "CREATED",
        "QUEUED",
        "RUNNING",
        "CANCELING",
        "CANCELED",
        "COMPLETED",
        "FAILED"
      ]
    },
    "CalculationResult":{
      "type":"structure",
      "members":{
        "StdOutS3Uri":{
          "shape":"S3Uri",
          "documentation":"<p>The Amazon S3 location of the <code>stdout</code> file for the calculation.</p>"
        },
        "StdErrorS3Uri":{
          "shape":"S3Uri",
          "documentation":"<p>The Amazon S3 location of the <code>stderr</code> error messages file for the calculation.</p>"
        },
        "ResultS3Uri":{
          "shape":"S3Uri",
          "documentation":"<p>The Amazon S3 location of the folder for the calculation results.</p>"
        },
        "ResultType":{
          "shape":"CalculationResultType",
          "documentation":"<p>The data format of the calculation result.</p>"
        }
      },
      "documentation":"<p>Contains information about an application-specific calculation result.</p>"
    },
    "CalculationResultType":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"\\w+\\/[-+.\\w]+"
    },
    "CalculationStatistics":{
      "type":"structure",
      "members":{
        "DpuExecutionInMillis":{
          "shape":"Long",
          "documentation":"<p>The data processing unit execution time in milliseconds for the calculation.</p>"
        },
        "Progress":{
          "shape":"DescriptionString",
          "documentation":"<p>The progress of the calculation.</p>"
        }
      },
      "documentation":"<p>Contains statistics for a notebook calculation.</p>"
    },
    "CalculationStatus":{
      "type":"structure",
      "members":{
        "SubmissionDateTime":{
          "shape":"Date",
          "documentation":"<p>The date and time the calculation was submitted for processing.</p>"
        },
        "CompletionDateTime":{
          "shape":"Date",
          "documentation":"<p>The date and time the calculation completed processing.</p>"
        },
        "State":{
          "shape":"CalculationExecutionState",
          "documentation":"<p>The state of the calculation execution. A description of each state follows.</p> <p> <code>CREATING</code> - The calculation is in the process of being created.</p> <p> <code>CREATED</code> - The calculation has been created and is ready to run.</p> <p> <code>QUEUED</code> - The calculation has been queued for processing.</p> <p> <code>RUNNING</code> - The calculation is running.</p> <p> <code>CANCELING</code> - A request to cancel the calculation has been received and the system is working to stop it.</p> <p> <code>CANCELED</code> - The calculation is no longer running as the result of a cancel request.</p> <p> <code>COMPLETED</code> - The calculation has completed without error.</p> <p> <code>FAILED</code> - The calculation failed and is no longer running.</p>"
        },
        "StateChangeReason":{
          "shape":"DescriptionString",
          "documentation":"<p>The reason for the calculation state change (for example, the calculation was canceled because the session was terminated).</p>"
        }
      },
      "documentation":"<p>Contains information about the status of a notebook calculation.</p>"
    },
    "CalculationSummary":{
      "type":"structure",
      "members":{
        "CalculationExecutionId":{
          "shape":"CalculationExecutionId",
          "documentation":"<p>The calculation execution UUID.</p>"
        },
        "Description":{
          "shape":"DescriptionString",
          "documentation":"<p>A description of the calculation.</p>"
        },
        "Status":{
          "shape":"CalculationStatus",
          "documentation":"<p>Contains information about the status of the calculation.</p>"
        }
      },
      "documentation":"<p>Summary information for a notebook calculation.</p>"
    },
    "CalculationsList":{
      "type":"list",
      "member":{"shape":"CalculationSummary"},
      "max":100,
      "min":0
    },
    "CancelCapacityReservationInput":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"CapacityReservationName",
          "documentation":"<p>The name of the capacity reservation to cancel.</p>"
        }
      }
    },
    "CancelCapacityReservationOutput":{
      "type":"structure",
      "members":{}
    },
    "CapacityAllocation":{
      "type":"structure",
      "required":[
        "Status",
        "RequestTime"
      ],
      "members":{
        "Status":{
          "shape":"CapacityAllocationStatus",
          "documentation":"<p>The status of the capacity allocation.</p>"
        },
        "StatusMessage":{
          "shape":"String",
          "documentation":"<p>The status message of the capacity allocation.</p>"
        },
        "RequestTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time when the capacity allocation was requested.</p>"
        },
        "RequestCompletionTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time when the capacity allocation request was completed.</p>"
        }
      },
      "documentation":"<p>Contains the submission time of a single allocation request for a capacity reservation and the most recent status of the attempted allocation.</p>"
    },
    "CapacityAllocationStatus":{
      "type":"string",
      "enum":[
        "PENDING",
        "SUCCEEDED",
        "FAILED"
      ]
    },
    "CapacityAssignment":{
      "type":"structure",
      "members":{
        "WorkGroupNames":{
          "shape":"WorkGroupNamesList",
          "documentation":"<p>The list of workgroup names for the capacity assignment.</p>"
        }
      },
      "documentation":"<p>A mapping between one or more workgroups and a capacity reservation.</p>"
    },
    "CapacityAssignmentConfiguration":{
      "type":"structure",
      "members":{
        "CapacityReservationName":{
          "shape":"CapacityReservationName",
          "documentation":"<p>The name of the reservation that the capacity assignment configuration is for.</p>"
        },
        "CapacityAssignments":{
          "shape":"CapacityAssignmentsList",
          "documentation":"<p>The list of assignments that make up the capacity assignment configuration.</p>"
        }
      },
      "documentation":"<p>Assigns Athena workgroups (and hence their queries) to capacity reservations. A capacity reservation can have only one capacity assignment configuration, but the capacity assignment configuration can be made up of multiple individual assignments. Each assignment specifies how Athena queries can consume capacity from the capacity reservation that their workgroup is mapped to.</p>"
    },
    "CapacityAssignmentsList":{
      "type":"list",
      "member":{"shape":"CapacityAssignment"}
    },
    "CapacityReservation":{
      "type":"structure",
      "required":[
        "Name",
        "Status",
        "TargetDpus",
        "AllocatedDpus",
        "CreationTime"
      ],
      "members":{
        "Name":{
          "shape":"CapacityReservationName",
          "documentation":"<p>The name of the capacity reservation.</p>"
        },
        "Status":{
          "shape":"CapacityReservationStatus",
          "documentation":"<p>The status of the capacity reservation.</p>"
        },
        "TargetDpus":{
          "shape":"TargetDpusInteger",
          "documentation":"<p>The number of data processing units requested.</p>"
        },
        "AllocatedDpus":{
          "shape":"AllocatedDpusInteger",
          "documentation":"<p>The number of data processing units currently allocated.</p>"
        },
        "LastAllocation":{"shape":"CapacityAllocation"},
        "LastSuccessfulAllocationTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time of the most recent capacity allocation that succeeded.</p>"
        },
        "CreationTime":{
          "shape":"Timestamp",
          "documentation":"<p>The time in UTC epoch millis when the capacity reservation was created.</p>"
        }
      },
      "documentation":"<p>A reservation for a specified number of data processing units (DPUs). When a reservation is initially created, it has no DPUs. Athena allocates DPUs until the allocated amount equals the requested amount.</p>"
    },
    "CapacityReservationName":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[a-zA-Z0-9._-]+"
    },
    "CapacityReservationStatus":{
      "type":"string",
      "enum":[
        "PENDING",
        "ACTIVE",
        "CANCELLING",
        "CANCELLED",
        "FAILED",
        "UPDATE_PENDING"
      ]
    },
    "CapacityReservationsList":{
      "type":"list",
      "member":{"shape":"CapacityReservation"}
    },
    "CatalogNameString":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
    },
    "ClientRequestToken":{
      "type":"string",
      "max":36,
      "min":1,
      "pattern":"[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"
    },
    "CodeBlock":{
      "type":"string",
      "max":68000
    },
    "Column":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"NameString",
          "documentation":"<p>The name of the column.</p>"
        },
        "Type":{
          "shape":"TypeString",
          "documentation":"<p>The data type of the column.</p>"
        },
        "Comment":{
          "shape":"CommentString",
          "documentation":"<p>Optional information about the column.</p>"
        }
      },
      "documentation":"<p>Contains metadata for a column in a table.</p>"
    },
    "ColumnInfo":{
      "type":"structure",
      "required":[
        "Name",
        "Type"
      ],
      "members":{
        "CatalogName":{
          "shape":"String",
          "documentation":"<p>The catalog to which the query results belong.</p>"
        },
        "SchemaName":{
          "shape":"String",
          "documentation":"<p>The schema name (database name) to which the query results belong.</p>"
        },
        "TableName":{
          "shape":"String",
          "documentation":"<p>The table name for the query results.</p>"
        },
        "Name":{
          "shape":"String",
          "documentation":"<p>The name of the column.</p>"
        },
        "Label":{
          "shape":"String",
          "documentation":"<p>A column label.</p>"
        },
        "Type":{
          "shape":"String",
          "documentation":"<p>The data type of the column.</p>"
        },
        "Precision":{
          "shape":"Integer",
          "documentation":"<p>For <code>DECIMAL</code> data types, specifies the total number of digits, up to 38. For performance reasons, we recommend up to 18 digits.</p>"
        },
        "Scale":{
          "shape":"Integer",
          "documentation":"<p>For <code>DECIMAL</code> data types, specifies the total number of digits in the fractional part of the value. Defaults to 0.</p>"
        },
        "Nullable":{
          "shape":"ColumnNullable",
          "documentation":"<p>Unsupported constraint. This value always shows as <code>UNKNOWN</code>.</p>"
        },
        "CaseSensitive":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether values in the column are case-sensitive.</p>"
        }
      },
      "documentation":"<p>Information about the columns in a query execution result.</p>"
    },
    "ColumnInfoList":{
      "type":"list",
      "member":{"shape":"ColumnInfo"}
    },
    "ColumnList":{
      "type":"list",
      "member":{"shape":"Column"}
    },
    "ColumnNullable":{
      "type":"string",
      "enum":[
        "NOT_NULL",
        "NULLABLE",
        "UNKNOWN"
      ]
    },
    "CommentString":{
      "type":"string",
      "max":255,
      "min":0,
      "pattern":"[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*"
    },
    "ConnectionType":{
      "type":"string",
      "enum":[
        "DYNAMODB",
        "MYSQL",
        "POSTGRESQL",
        "REDSHIFT",
        "ORACLE",
        "SYNAPSE",
        "SQLSERVER",
        "DB2",
        "OPENSEARCH",
        "BIGQUERY",
        "GOOGLECLOUDSTORAGE",
        "HBASE",
        "DOCUMENTDB",
        "CMDB",
        "TPCDS",
        "TIMESTREAM",
        "SAPHANA",
        "SNOWFLAKE",
        "DATALAKEGEN2",
        "DB2AS400"
      ]
    },
    "CoordinatorDpuSize":{
      "type":"integer",
      "box":true,
      "max":1,
      "min":1
    },
    "CreateCapacityReservationInput":{
      "type":"structure",
      "required":[
        "TargetDpus",
        "Name"
      ],
      "members":{
        "TargetDpus":{
          "shape":"TargetDpusInteger",
          "documentation":"<p>The number of requested data processing units.</p>"
        },
        "Name":{
          "shape":"CapacityReservationName",
          "documentation":"<p>The name of the capacity reservation to create.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>The tags for the capacity reservation.</p>"
        }
      }
    },
    "CreateCapacityReservationOutput":{
      "type":"structure",
      "members":{}
    },
    "CreateDataCatalogInput":{
      "type":"structure",
      "required":[
        "Name",
        "Type"
      ],
      "members":{
        "Name":{
          "shape":"CatalogNameString",
          "documentation":"<p>The name of the data catalog to create. The catalog name must be unique for the Amazon Web Services account and can use a maximum of 127 alphanumeric, underscore, at sign, or hyphen characters. The remainder of the length constraint of 256 is reserved for use by Athena.</p> <p>For <code>FEDERATED</code> type the catalog name has following considerations and limits:</p> <ul> <li> <p>The catalog name allows special characters such as <code>_ , @ , \\ , - </code>. These characters are replaced with a hyphen (-) when creating the CFN Stack Name and with an underscore (_) when creating the Lambda Function and Glue Connection Name.</p> </li> <li> <p>The catalog name has a theoretical limit of 128 characters. However, since we use it to create other resources that allow less characters and we prepend a prefix to it, the actual catalog name limit for <code>FEDERATED</code> catalog is 64 - 23 = 41 characters.</p> </li> </ul>"
        },
        "Type":{
          "shape":"DataCatalogType",
          "documentation":"<p>The type of data catalog to create: <code>LAMBDA</code> for a federated catalog, <code>GLUE</code> for an Glue Data Catalog, and <code>HIVE</code> for an external Apache Hive metastore. <code>FEDERATED</code> is a federated catalog for which Athena creates the connection and the Lambda function for you based on the parameters that you pass.</p> <p>For <code>FEDERATED</code> type, we do not support IAM identity center.</p>"
        },
        "Description":{
          "shape":"DescriptionString",
          "documentation":"<p>A description of the data catalog to be created.</p>"
        },
        "Parameters":{
          "shape":"ParametersMap",
          "documentation":"<p>Specifies the Lambda function or functions to use for creating the data catalog. This is a mapping whose values depend on the catalog type. </p> <ul> <li> <p>For the <code>HIVE</code> data catalog type, use the following syntax. The <code>metadata-function</code> parameter is required. <code>The sdk-version</code> parameter is optional and defaults to the currently supported version.</p> <p> <code>metadata-function=<i>lambda_arn</i>, sdk-version=<i>version_number</i> </code> </p> </li> <li> <p>For the <code>LAMBDA</code> data catalog type, use one of the following sets of required parameters, but not both.</p> <ul> <li> <p>If you have one Lambda function that processes metadata and another for reading the actual data, use the following syntax. Both parameters are required.</p> <p> <code>metadata-function=<i>lambda_arn</i>, record-function=<i>lambda_arn</i> </code> </p> </li> <li> <p> If you have a composite Lambda function that processes both metadata and data, use the following syntax to specify your Lambda function.</p> <p> <code>function=<i>lambda_arn</i> </code> </p> </li> </ul> </li> <li> <p>The <code>GLUE</code> type takes a catalog ID parameter and is required. The <code> <i>catalog_id</i> </code> is the account ID of the Amazon Web Services account to which the Glue Data Catalog belongs.</p> <p> <code>catalog-id=<i>catalog_id</i> </code> </p> <ul> <li> <p>The <code>GLUE</code> data catalog type also applies to the default <code>AwsDataCatalog</code> that already exists in your account, of which you can have only one and cannot modify.</p> </li> </ul> </li> <li> <p>The <code>FEDERATED</code> data catalog type uses one of the following parameters, but not both. Use <code>connection-arn</code> for an existing Glue connection. Use <code>connection-type</code> and <code>connection-properties</code> to specify the configuration setting for a new connection.</p> <ul> <li> <p> <code>connection-arn:<i>&lt;glue_connection_arn_to_reuse&gt;</i> </code> </p> </li> <li> <p> <code>lambda-role-arn</code> (optional): The execution role to use for the Lambda function. If not provided, one is created.</p> </li> <li> <p> <code>connection-type:MYSQL|REDSHIFT|...., connection-properties:\"<i>&lt;json_string&gt;</i>\"</code> </p> <p>For <i> <code>&lt;json_string&gt;</code> </i>, use escaped JSON text, as in the following example.</p> <p> <code>\"{\\\"spill_bucket\\\":\\\"my_spill\\\",\\\"spill_prefix\\\":\\\"athena-spill\\\",\\\"host\\\":\\\"abc12345.snowflakecomputing.com\\\",\\\"port\\\":\\\"1234\\\",\\\"warehouse\\\":\\\"DEV_WH\\\",\\\"database\\\":\\\"TEST\\\",\\\"schema\\\":\\\"PUBLIC\\\",\\\"SecretArn\\\":\\\"arn:aws:secretsmanager:ap-south-1:111122223333:secret:snowflake-XHb67j\\\"}\"</code> </p> </li> </ul> </li> </ul>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>A list of comma separated tags to add to the data catalog that is created. All the resources that are created by the <code>CreateDataCatalog</code> API operation with <code>FEDERATED</code> type will have the tag <code>federated_athena_datacatalog=\"true\"</code>. This includes the CFN Stack, Glue Connection, Athena DataCatalog, and all the resources created as part of the CFN Stack (Lambda Function, IAM policies/roles).</p>"
        }
      }
    },
    "CreateDataCatalogOutput":{
      "type":"structure",
      "members":{
        "DataCatalog":{"shape":"DataCatalog"}
      }
    },
    "CreateNamedQueryInput":{
      "type":"structure",
      "required":[
        "Name",
        "Database",
        "QueryString"
      ],
      "members":{
        "Name":{
          "shape":"NameString",
          "documentation":"<p>The query name.</p>"
        },
        "Description":{
          "shape":"DescriptionString",
          "documentation":"<p>The query description.</p>"
        },
        "Database":{
          "shape":"DatabaseString",
          "documentation":"<p>The database to which the query belongs.</p>"
        },
        "QueryString":{
          "shape":"QueryString",
          "documentation":"<p>The contents of the query with all query statements.</p>"
        },
        "ClientRequestToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique case-sensitive string used to ensure the request to create the query is idempotent (executes only once). If another <code>CreateNamedQuery</code> request is received, the same response is returned and another query is not created. If a parameter has changed, for example, the <code>QueryString</code>, an error is returned.</p> <important> <p>This token is listed as not required because Amazon Web Services SDKs (for example the Amazon Web Services SDK for Java) auto-generate the token for users. If you are not using the Amazon Web Services SDK or the Amazon Web Services CLI, you must provide this token or the action will fail.</p> </important>",
          "idempotencyToken":true
        },
        "WorkGroup":{
          "shape":"WorkGroupName",
          "documentation":"<p>The name of the workgroup in which the named query is being created.</p>"
        }
      }
    },
    "CreateNamedQueryOutput":{
      "type":"structure",
      "members":{
        "NamedQueryId":{
          "shape":"NamedQueryId",
          "documentation":"<p>The unique ID of the query.</p>"
        }
      }
    },
    "CreateNotebookInput":{
      "type":"structure",
      "required":[
        "WorkGroup",
        "Name"
      ],
      "members":{
        "WorkGroup":{
          "shape":"WorkGroupName",
          "documentation":"<p>The name of the Spark enabled workgroup in which the notebook will be created.</p>"
        },
        "Name":{
          "shape":"NotebookName",
          "documentation":"<p>The name of the <code>ipynb</code> file to be created in the Spark workgroup, without the <code>.ipynb</code> extension.</p>"
        },
        "ClientRequestToken":{
          "shape":"ClientRequestToken",
          "documentation":"<p>A unique case-sensitive string used to ensure the request to create the notebook is idempotent (executes only once).</p> <important> <p>This token is listed as not required because Amazon Web Services SDKs (for example the Amazon Web Services SDK for Java) auto-generate the token for you. If you are not using the Amazon Web Services SDK or the Amazon Web Services CLI, you must provide this token or the action will fail.</p> </important>"
        }
      }
    },
    "CreateNotebookOutput":{
      "type":"structure",
      "members":{
        "NotebookId":{
          "shape":"NotebookId",
          "documentation":"<p>A unique identifier for the notebook.</p>"
        }
      }
    },
    "CreatePreparedStatementInput":{
      "type":"structure",
      "required":[
        "StatementName",
        "WorkGroup",
        "QueryStatement"
      ],
      "members":{
        "StatementName":{
          "shape":"StatementName",
          "documentation":"<p>The name of the prepared statement.</p>"
        },
        "WorkGroup":{
          "shape":"WorkGroupName",
          "documentation":"<p>The name of the workgroup to which the prepared statement belongs.</p>"
        },
        "QueryStatement":{
          "shape":"QueryString",
          "documentation":"<p>The query string for the prepared statement.</p>"
        },
        "Description":{
          "shape":"DescriptionString",
          "documentation":"<p>The description of the prepared statement.</p>"
        }
      }
    },
    "CreatePreparedStatementOutput":{
      "type":"structure",
      "members":{}
    },
    "CreatePresignedNotebookUrlRequest":{
      "type":"structure",
      "required":["SessionId"],
      "members":{
        "SessionId":{
          "shape":"SessionId",
          "documentation":"<p>The session ID.</p>"
        }
      }
    },
    "CreatePresignedNotebookUrlResponse":{
      "type":"structure",
      "required":[
        "NotebookUrl",
        "AuthToken",
        "AuthTokenExpirationTime"
      ],
      "members":{
        "NotebookUrl":{
          "shape":"String",
          "documentation":"<p>The URL of the notebook. The URL includes the authentication token and notebook file name and points directly to the opened notebook.</p>"
        },
        "AuthToken":{
          "shape":"AuthToken",
          "documentation":"<p>The authentication token for the notebook.</p>"
        },
        "AuthTokenExpirationTime":{
          "shape":"Long",
          "documentation":"<p>The UTC epoch time when the authentication token expires.</p>"
        }
      }
    },
    "CreateWorkGroupInput":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"WorkGroupName",
          "documentation":"<p>The workgroup name.</p>"
        },
        "Configuration":{
          "shape":"WorkGroupConfiguration",
          "documentation":"<p>Contains configuration information for creating an Athena SQL workgroup or Spark enabled Athena workgroup. Athena SQL workgroup configuration includes the location in Amazon S3 where query and calculation results are stored, the encryption configuration, if any, used for encrypting query results, whether the Amazon CloudWatch Metrics are enabled for the workgroup, the limit for the amount of bytes scanned (cutoff) per query, if it is specified, and whether workgroup's settings (specified with <code>EnforceWorkGroupConfiguration</code>) in the <code>WorkGroupConfiguration</code> override client-side settings. See <a>WorkGroupConfiguration$EnforceWorkGroupConfiguration</a>.</p>"
        },
        "Description":{
          "shape":"WorkGroupDescriptionString",
          "documentation":"<p>The workgroup description.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>A list of comma separated tags to add to the workgroup that is created.</p>"
        }
      }
    },
    "CreateWorkGroupOutput":{
      "type":"structure",
      "members":{}
    },
    "CustomerContentEncryptionConfiguration":{
      "type":"structure",
      "required":["KmsKey"],
      "members":{
        "KmsKey":{
          "shape":"KmsKey",
          "documentation":"<p>The customer managed KMS key that is used to encrypt the user's data stores in Athena.</p>"
        }
      },
      "documentation":"<p>Specifies the customer managed KMS key that is used to encrypt the user's data stores in Athena. When an Amazon Web Services managed key is used, this value is null. This setting does not apply to Athena SQL workgroups.</p>"
    },
    "DataCatalog":{
      "type":"structure",
      "required":[
        "Name",
        "Type"
      ],
      "members":{
        "Name":{
          "shape":"CatalogNameString",
          "documentation":"<p>The name of the data catalog. The catalog name must be unique for the Amazon Web Services account and can use a maximum of 127 alphanumeric, underscore, at sign, or hyphen characters. The remainder of the length constraint of 256 is reserved for use by Athena.</p>"
        },
        "Description":{
          "shape":"DescriptionString",
          "documentation":"<p>An optional description of the data catalog.</p>"
        },
        "Type":{
          "shape":"DataCatalogType",
          "documentation":"<p>The type of data catalog to create: <code>LAMBDA</code> for a federated catalog, <code>GLUE</code> for an Glue Data Catalog, and <code>HIVE</code> for an external Apache Hive metastore. <code>FEDERATED</code> is a federated catalog for which Athena creates the connection and the Lambda function for you based on the parameters that you pass.</p>"
        },
        "Parameters":{
          "shape":"ParametersMap",
          "documentation":"<p>Specifies the Lambda function or functions to use for the data catalog. This is a mapping whose values depend on the catalog type. </p> <ul> <li> <p>For the <code>HIVE</code> data catalog type, use the following syntax. The <code>metadata-function</code> parameter is required. <code>The sdk-version</code> parameter is optional and defaults to the currently supported version.</p> <p> <code>metadata-function=<i>lambda_arn</i>, sdk-version=<i>version_number</i> </code> </p> </li> <li> <p>For the <code>LAMBDA</code> data catalog type, use one of the following sets of required parameters, but not both.</p> <ul> <li> <p>If you have one Lambda function that processes metadata and another for reading the actual data, use the following syntax. Both parameters are required.</p> <p> <code>metadata-function=<i>lambda_arn</i>, record-function=<i>lambda_arn</i> </code> </p> </li> <li> <p> If you have a composite Lambda function that processes both metadata and data, use the following syntax to specify your Lambda function.</p> <p> <code>function=<i>lambda_arn</i> </code> </p> </li> </ul> </li> <li> <p>The <code>GLUE</code> type takes a catalog ID parameter and is required. The <code> <i>catalog_id</i> </code> is the account ID of the Amazon Web Services account to which the Glue catalog belongs.</p> <p> <code>catalog-id=<i>catalog_id</i> </code> </p> <ul> <li> <p>The <code>GLUE</code> data catalog type also applies to the default <code>AwsDataCatalog</code> that already exists in your account, of which you can have only one and cannot modify.</p> </li> </ul> </li> <li> <p>The <code>FEDERATED</code> data catalog type uses one of the following parameters, but not both. Use <code>connection-arn</code> for an existing Glue connection. Use <code>connection-type</code> and <code>connection-properties</code> to specify the configuration setting for a new connection.</p> <ul> <li> <p> <code>connection-arn:<i>&lt;glue_connection_arn_to_reuse&gt;</i> </code> </p> </li> <li> <p> <code>connection-type:MYSQL|REDSHIFT|...., connection-properties:\"<i>&lt;json_string&gt;</i>\"</code> </p> <p>For <i> <code>&lt;json_string&gt;</code> </i>, use escaped JSON text, as in the following example.</p> <p> <code>\"{\\\"spill_bucket\\\":\\\"my_spill\\\",\\\"spill_prefix\\\":\\\"athena-spill\\\",\\\"host\\\":\\\"abc12345.snowflakecomputing.com\\\",\\\"port\\\":\\\"1234\\\",\\\"warehouse\\\":\\\"DEV_WH\\\",\\\"database\\\":\\\"TEST\\\",\\\"schema\\\":\\\"PUBLIC\\\",\\\"SecretArn\\\":\\\"arn:aws:secretsmanager:ap-south-1:111122223333:secret:snowflake-XHb67j\\\"}\"</code> </p> </li> </ul> </li> </ul>"
        },
        "Status":{
          "shape":"DataCatalogStatus",
          "documentation":"<p>The status of the creation or deletion of the data catalog.</p> <ul> <li> <p>The <code>LAMBDA</code>, <code>GLUE</code>, and <code>HIVE</code> data catalog types are created synchronously. Their status is either <code>CREATE_COMPLETE</code> or <code>CREATE_FAILED</code>.</p> </li> <li> <p>The <code>FEDERATED</code> data catalog type is created asynchronously.</p> </li> </ul> <p>Data catalog creation status:</p> <ul> <li> <p> <code>CREATE_IN_PROGRESS</code>: Federated data catalog creation in progress.</p> </li> <li> <p> <code>CREATE_COMPLETE</code>: Data catalog creation complete.</p> </li> <li> <p> <code>CREATE_FAILED</code>: Data catalog could not be created.</p> </li> <li> <p> <code>CREATE_FAILED_CLEANUP_IN_PROGRESS</code>: Federated data catalog creation failed and is being removed.</p> </li> <li> <p> <code>CREATE_FAILED_CLEANUP_COMPLETE</code>: Federated data catalog creation failed and was removed.</p> </li> <li> <p> <code>CREATE_FAILED_CLEANUP_FAILED</code>: Federated data catalog creation failed but could not be removed.</p> </li> </ul> <p>Data catalog deletion status:</p> <ul> <li> <p> <code>DELETE_IN_PROGRESS</code>: Federated data catalog deletion in progress.</p> </li> <li> <p> <code>DELETE_COMPLETE</code>: Federated data catalog deleted.</p> </li> <li> <p> <code>DELETE_FAILED</code>: Federated data catalog could not be deleted.</p> </li> </ul>"
        },
        "ConnectionType":{
          "shape":"ConnectionType",
          "documentation":"<p>The type of connection for a <code>FEDERATED</code> data catalog (for example, <code>REDSHIFT</code>, <code>MYSQL</code>, or <code>SQLSERVER</code>). For information about individual connectors, see <a href=\"https://docs.aws.amazon.com/athena/latest/ug/connectors-available.html\">Available data source connectors</a>.</p>"
        },
        "Error":{
          "shape":"ErrorMessage",
          "documentation":"<p>Text of the error that occurred during data catalog creation or deletion.</p>"
        }
      },
      "documentation":"<p>Contains information about a data catalog in an Amazon Web Services account.</p> <note> <p>In the Athena console, data catalogs are listed as \"data sources\" on the <b>Data sources</b> page under the <b>Data source name</b> column.</p> </note>"
    },
    "DataCatalogStatus":{
      "type":"string",
      "enum":[
        "CREATE_IN_PROGRESS",
        "CREATE_COMPLETE",
        "CREATE_FAILED",
        "CREATE_FAILED_CLEANUP_IN_PROGRESS",
        "CREATE_FAILED_CLEANUP_COMPLETE",
        "CREATE_FAILED_CLEANUP_FAILED",
        "DELETE_IN_PROGRESS",
        "DELETE_COMPLETE",
        "DELETE_FAILED"
      ]
    },
    "DataCatalogSummary":{
      "type":"structure",
      "members":{
        "CatalogName":{
          "shape":"CatalogNameString",
          "documentation":"<p>The name of the data catalog. The catalog name is unique for the Amazon Web Services account and can use a maximum of 127 alphanumeric, underscore, at sign, or hyphen characters. The remainder of the length constraint of 256 is reserved for use by Athena.</p>"
        },
        "Type":{
          "shape":"DataCatalogType",
          "documentation":"<p>The data catalog type.</p>"
        },
        "Status":{
          "shape":"DataCatalogStatus",
          "documentation":"<p>The status of the creation or deletion of the data catalog.</p> <ul> <li> <p>The <code>LAMBDA</code>, <code>GLUE</code>, and <code>HIVE</code> data catalog types are created synchronously. Their status is either <code>CREATE_COMPLETE</code> or <code>CREATE_FAILED</code>.</p> </li> <li> <p>The <code>FEDERATED</code> data catalog type is created asynchronously.</p> </li> </ul> <p>Data catalog creation status:</p> <ul> <li> <p> <code>CREATE_IN_PROGRESS</code>: Federated data catalog creation in progress.</p> </li> <li> <p> <code>CREATE_COMPLETE</code>: Data catalog creation complete.</p> </li> <li> <p> <code>CREATE_FAILED</code>: Data catalog could not be created.</p> </li> <li> <p> <code>CREATE_FAILED_CLEANUP_IN_PROGRESS</code>: Federated data catalog creation failed and is being removed.</p> </li> <li> <p> <code>CREATE_FAILED_CLEANUP_COMPLETE</code>: Federated data catalog creation failed and was removed.</p> </li> <li> <p> <code>CREATE_FAILED_CLEANUP_FAILED</code>: Federated data catalog creation failed but could not be removed.</p> </li> </ul> <p>Data catalog deletion status:</p> <ul> <li> <p> <code>DELETE_IN_PROGRESS</code>: Federated data catalog deletion in progress.</p> </li> <li> <p> <code>DELETE_COMPLETE</code>: Federated data catalog deleted.</p> </li> <li> <p> <code>DELETE_FAILED</code>: Federated data catalog could not be deleted.</p> </li> </ul>"
        },
        "ConnectionType":{
          "shape":"ConnectionType",
          "documentation":"<p>The type of connection for a <code>FEDERATED</code> data catalog (for example, <code>REDSHIFT</code>, <code>MYSQL</code>, or <code>SQLSERVER</code>). For information about individual connectors, see <a href=\"https://docs.aws.amazon.com/athena/latest/ug/connectors-available.html\">Available data source connectors</a>.</p>"
        },
        "Error":{
          "shape":"ErrorMessage",
          "documentation":"<p>Text of the error that occurred during data catalog creation or deletion.</p>"
        }
      },
      "documentation":"<p>The summary information for the data catalog, which includes its name and type.</p>"
    },
    "DataCatalogSummaryList":{
      "type":"list",
      "member":{"shape":"DataCatalogSummary"}
    },
    "DataCatalogType":{
      "type":"string",
      "enum":[
        "LAMBDA",
        "GLUE",
        "HIVE",
        "FEDERATED"
      ]
    },
    "Database":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"NameString",
          "documentation":"<p>The name of the database.</p>"
        },
        "Description":{
          "shape":"DescriptionString",
          "documentation":"<p>An optional description of the database.</p>"
        },
        "Parameters":{
          "shape":"ParametersMap",
          "documentation":"<p>A set of custom key/value pairs.</p>"
        }
      },
      "documentation":"<p>Contains metadata information for a database in a data catalog.</p>"
    },
    "DatabaseList":{
      "type":"list",
      "member":{"shape":"Database"}
    },
    "DatabaseString":{
      "type":"string",
      "max":255,
      "min":1
    },
    "Date":{"type":"timestamp"},
    "Datum":{
      "type":"structure",
      "members":{
        "VarCharValue":{
          "shape":"datumString",
          "documentation":"<p>The value of the datum.</p>"
        }
      },
      "documentation":"<p>A piece of data (a field in the table).</p>"
    },
    "DefaultExecutorDpuSize":{
      "type":"integer",
      "box":true,
      "max":1,
      "min":1
    },
    "DeleteCapacityReservationInput":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"CapacityReservationName",
          "documentation":"<p>The name of the capacity reservation to delete.</p>"
        }
      }
    },
    "DeleteCapacityReservationOutput":{
      "type":"structure",
      "members":{}
    },
    "DeleteDataCatalogInput":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"CatalogNameString",
          "documentation":"<p>The name of the data catalog to delete.</p>"
        },
        "DeleteCatalogOnly":{
          "shape":"Boolean",
          "documentation":"<p>Deletes the Athena Data Catalog. You can only use this with the <code>FEDERATED</code> catalogs. You usually perform this before registering the connector with Glue Data Catalog. After deletion, you will have to manage the Glue Connection and Lambda function. </p>"
        }
      }
    },
    "DeleteDataCatalogOutput":{
      "type":"structure",
      "members":{
        "DataCatalog":{"shape":"DataCatalog"}
      }
    },
    "DeleteNamedQueryInput":{
      "type":"structure",
      "required":["NamedQueryId"],
      "members":{
        "NamedQueryId":{
          "shape":"NamedQueryId",
          "documentation":"<p>The unique ID of the query to delete.</p>",
          "idempotencyToken":true
        }
      }
    },
    "DeleteNamedQueryOutput":{
      "type":"structure",
      "members":{}
    },
    "DeleteNotebookInput":{
      "type":"structure",
      "required":["NotebookId"],
      "members":{
        "NotebookId":{
          "shape":"NotebookId",
          "documentation":"<p>The ID of the notebook to delete.</p>"
        }
      }
    },
    "DeleteNotebookOutput":{
      "type":"structure",
      "members":{}
    },
    "DeletePreparedStatementInput":{
      "type":"structure",
      "required":[
        "StatementName",
        "WorkGroup"
      ],
      "members":{
        "StatementName":{
          "shape":"StatementName",
          "documentation":"<p>The name of the prepared statement to delete.</p>"
        },
        "WorkGroup":{
          "shape":"WorkGroupName",
          "documentation":"<p>The workgroup to which the statement to be deleted belongs.</p>"
        }
      }
    },
    "DeletePreparedStatementOutput":{
      "type":"structure",
      "members":{}
    },
    "DeleteWorkGroupInput":{
      "type":"structure",
      "required":["WorkGroup"],
      "members":{
        "WorkGroup":{
          "shape":"WorkGroupName",
          "documentation":"<p>The unique name of the workgroup to delete.</p>"
        },
        "RecursiveDeleteOption":{
          "shape":"BoxedBoolean",
          "documentation":"<p>The option to delete the workgroup and its contents even if the workgroup contains any named queries, query executions, or notebooks.</p>"
        }
      }
    },
    "DeleteWorkGroupOutput":{
      "type":"structure",
      "members":{}
    },
    "DescriptionString":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "EncryptionConfiguration":{
      "type":"structure",
      "required":["EncryptionOption"],
      "members":{
        "EncryptionOption":{
          "shape":"EncryptionOption",
          "documentation":"<p>Indicates whether Amazon S3 server-side encryption with Amazon S3-managed keys (<code>SSE_S3</code>), server-side encryption with KMS-managed keys (<code>SSE_KMS</code>), or client-side encryption with KMS-managed keys (<code>CSE_KMS</code>) is used.</p> <p>If a query runs in a workgroup and the workgroup overrides client-side settings, then the workgroup's setting for encryption is used. It specifies whether query results must be encrypted, for all queries that run in this workgroup. </p>"
        },
        "KmsKey":{
          "shape":"String",
          "documentation":"<p>For <code>SSE_KMS</code> and <code>CSE_KMS</code>, this is the KMS key ARN or ID.</p>"
        }
      },
      "documentation":"<p>If query and calculation results are encrypted in Amazon S3, indicates the encryption option used (for example, <code>SSE_KMS</code> or <code>CSE_KMS</code>) and key information.</p>"
    },
    "EncryptionOption":{
      "type":"string",
      "enum":[
        "SSE_S3",
        "SSE_KMS",
        "CSE_KMS"
      ]
    },
    "EngineConfiguration":{
      "type":"structure",
      "required":["MaxConcurrentDpus"],
      "members":{
        "CoordinatorDpuSize":{
          "shape":"CoordinatorDpuSize",
          "documentation":"<p>The number of DPUs to use for the coordinator. A coordinator is a special executor that orchestrates processing work and manages other executors in a notebook session. The default is 1.</p>"
        },
        "MaxConcurrentDpus":{
          "shape":"MaxConcurrentDpus",
          "documentation":"<p>The maximum number of DPUs that can run concurrently.</p>"
        },
        "DefaultExecutorDpuSize":{
          "shape":"DefaultExecutorDpuSize",
          "documentation":"<p>The default number of DPUs to use for executors. An executor is the smallest unit of compute that a notebook session can request from Athena. The default is 1.</p>"
        },
        "AdditionalConfigs":{
          "shape":"ParametersMap",
          "documentation":"<p>Contains additional notebook engine <code>MAP&lt;string, string&gt;</code> parameter mappings in the form of key-value pairs. To specify an Athena notebook that the Jupyter server will download and serve, specify a value for the <a>StartSessionRequest$NotebookVersion</a> field, and then add a key named <code>NotebookId</code> to <code>AdditionalConfigs</code> that has the value of the Athena notebook ID.</p>"
        },
        "SparkProperties":{
          "shape":"ParametersMap",
          "documentation":"<p>Specifies custom jar files and Spark properties for use cases like cluster encryption, table formats, and general Spark tuning.</p>"
        }
      },
      "documentation":"<p>Contains data processing unit (DPU) configuration settings and parameter mappings for a notebook engine.</p>"
    },
    "EngineVersion":{
      "type":"structure",
      "members":{
        "SelectedEngineVersion":{
          "shape":"NameString",
          "documentation":"<p>The engine version requested by the user. Possible values are determined by the output of <code>ListEngineVersions</code>, including AUTO. The default is AUTO.</p>"
        },
        "EffectiveEngineVersion":{
          "shape":"NameString",
          "documentation":"<p>Read only. The engine version on which the query runs. If the user requests a valid engine version other than Auto, the effective engine version is the same as the engine version that the user requested. If the user requests Auto, the effective engine version is chosen by Athena. When a request to update the engine version is made by a <code>CreateWorkGroup</code> or <code>UpdateWorkGroup</code> operation, the <code>EffectiveEngineVersion</code> field is ignored.</p>"
        }
      },
      "documentation":"<p>The Athena engine version for running queries, or the PySpark engine version for running sessions.</p>"
    },
    "EngineVersionsList":{
      "type":"list",
      "member":{"shape":"EngineVersion"},
      "max":10,
      "min":0
    },
    "ErrorCategory":{
      "type":"integer",
      "box":true,
      "max":3,
      "min":1
    },
    "ErrorCode":{
      "type":"string",
      "documentation":"<p>The error code returned when the query execution failed to process, or when the processing request for the named query failed.</p>",
      "max":256,
      "min":1
    },
    "ErrorMessage":{"type":"string"},
    "ErrorType":{
      "type":"integer",
      "box":true,
      "max":9999,
      "min":0
    },
    "ExecutionParameter":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "ExecutionParameters":{
      "type":"list",
      "member":{"shape":"ExecutionParameter"},
      "min":1
    },
    "ExecutorId":{
      "type":"string",
      "max":100000,
      "pattern":".*"
    },
    "ExecutorState":{
      "type":"string",
      "enum":[
        "CREATING",
        "CREATED",
        "REGISTERED",
        "TERMINATING",
        "TERMINATED",
        "FAILED"
      ]
    },
    "ExecutorType":{
      "type":"string",
      "enum":[
        "COORDINATOR",
        "GATEWAY",
        "WORKER"
      ]
    },
    "ExecutorsSummary":{
      "type":"structure",
      "required":["ExecutorId"],
      "members":{
        "ExecutorId":{
          "shape":"ExecutorId",
          "documentation":"<p>The UUID of the executor.</p>"
        },
        "ExecutorType":{
          "shape":"ExecutorType",
          "documentation":"<p>The type of executor used for the application (<code>COORDINATOR</code>, <code>GATEWAY</code>, or <code>WORKER</code>).</p>"
        },
        "StartDateTime":{
          "shape":"Long",
          "documentation":"<p>The date and time that the executor started.</p>"
        },
        "TerminationDateTime":{
          "shape":"Long",
          "documentation":"<p>The date and time that the executor was terminated.</p>"
        },
        "ExecutorState":{
          "shape":"ExecutorState",
          "documentation":"<p>The processing state of the executor. A description of each state follows.</p> <p> <code>CREATING</code> - The executor is being started, including acquiring resources.</p> <p> <code>CREATED</code> - The executor has been started.</p> <p> <code>REGISTERED</code> - The executor has been registered.</p> <p> <code>TERMINATING</code> - The executor is in the process of shutting down.</p> <p> <code>TERMINATED</code> - The executor is no longer running.</p> <p> <code>FAILED</code> - Due to a failure, the executor is no longer running.</p>"
        },
        "ExecutorSize":{
          "shape":"Long",
          "documentation":"<p>The smallest unit of compute that a session can request from Athena. Size is measured in data processing unit (DPU) values, a relative measure of processing power.</p>"
        }
      },
      "documentation":"<p>Contains summary information about an executor.</p>"
    },
    "ExecutorsSummaryList":{
      "type":"list",
      "member":{"shape":"ExecutorsSummary"}
    },
    "ExportNotebookInput":{
      "type":"structure",
      "required":["NotebookId"],
      "members":{
        "NotebookId":{
          "shape":"NotebookId",
          "documentation":"<p>The ID of the notebook to export.</p>"
        }
      }
    },
    "ExportNotebookOutput":{
      "type":"structure",
      "members":{
        "NotebookMetadata":{
          "shape":"NotebookMetadata",
          "documentation":"<p>The notebook metadata, including notebook ID, notebook name, and workgroup name.</p>"
        },
        "Payload":{
          "shape":"Payload",
          "documentation":"<p>The content of the exported notebook.</p>"
        }
      }
    },
    "ExpressionString":{
      "type":"string",
      "max":256,
      "min":0
    },
    "FilterDefinition":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"NotebookName",
          "documentation":"<p>The name of the notebook to search for.</p>"
        }
      },
      "documentation":"<p>A string for searching notebook names.</p>"
    },
    "GetCalculationExecutionCodeRequest":{
      "type":"structure",
      "required":["CalculationExecutionId"],
      "members":{
        "CalculationExecutionId":{
          "shape":"CalculationExecutionId",
          "documentation":"<p>The calculation execution UUID.</p>"
        }
      }
    },
    "GetCalculationExecutionCodeResponse":{
      "type":"structure",
      "members":{
        "CodeBlock":{
          "shape":"CodeBlock",
          "documentation":"<p>The unencrypted code that was executed for the calculation.</p>"
        }
      }
    },
    "GetCalculationExecutionRequest":{
      "type":"structure",
      "required":["CalculationExecutionId"],
      "members":{
        "CalculationExecutionId":{
          "shape":"CalculationExecutionId",
          "documentation":"<p>The calculation execution UUID.</p>"
        }
      }
    },
    "GetCalculationExecutionResponse":{
      "type":"structure",
      "members":{
        "CalculationExecutionId":{
          "shape":"CalculationExecutionId",
          "documentation":"<p>The calculation execution UUID.</p>"
        },
        "SessionId":{
          "shape":"SessionId",
          "documentation":"<p>The session ID that the calculation ran in.</p>"
        },
        "Description":{
          "shape":"DescriptionString",
          "documentation":"<p>The description of the calculation execution.</p>"
        },
        "WorkingDirectory":{
          "shape":"S3Uri",
          "documentation":"<p>The Amazon S3 location in which calculation results are stored.</p>"
        },
        "Status":{
          "shape":"CalculationStatus",
[...]
