/* ==========================================================================
  17.  Animations
       Add subtle load-in animation for content on the home page
   ========================================================================== */
.blog-logo img {
    -webkit-animation: fade-in-down 0.6s;
    animation: fade-in-down 0.6s;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

/* if no logo, animate the blog title */
.blog-title {
    -webkit-animation: fade-in-down 0.6s;
    animation: fade-in-down 0.6s;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.blog-description {
    -webkit-animation: fade-in-down 0.9s;
    animation: fade-in-down 0.9s;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.social-links {
    -webkit-animation: fade-in-down 0.9s;
    animation: fade-in-down 0.9s;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

/* Used to fade in title/desc on the home page */
@-webkit-keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}


@keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}


/* Used to bounce .scroll-down on home page */
@-webkit-keyframes bounce {
  0%, 10%, 25%, 40%, 50% {
    -webkit-transform: translateY(0) rotate(-90deg);
    transform: translateY(0) rotate(-90deg);
  }

  20% {
    -webkit-transform: translateY(-10px) rotate(-90deg);
    transform: translateY(-10px) rotate(-90deg);
  }

  30% {
    -webkit-transform: translateY(-5px) rotate(-90deg);
    transform: translateY(-5px) rotate(-90deg);
  }
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0) rotate(-90deg);
    transform: translateY(0) rotate(-90deg);
  }

  40% {
    -webkit-transform: translateY(-10px) rotate(-90deg);
    transform: translateY(-10px) rotate(-90deg);
  }

  60% {
    -webkit-transform: translateY(-5px) rotate(-90deg);
    transform: translateY(-5px) rotate(-90deg);
  }
}

/* ==========================================================================
   End of file. Animations should be the last thing here. Do not add stuff
   below this point, or it will probably fuck everything up.
   ========================================================================== */
