/* ==========================================================================
   Theme colors
   ========================================================================== */

$yellow-light:           #ffeb99;
$yellow-dark:            #caad00;
$medium-black:           #171717;
$dark-black:             #000000;
$gray-darker:            #666666;
$gray-medium:            #999999;
$gray-light:             #bbbbbb;
$gray-super-light:       #f2f2f2;

$facebook-color:         #0054a6;
$twitter-color:          #29abe2;
$google-plus-color:      #e74133;
$linkedin-color:         #0094bc;
$pinterest-color:        #cb2027;
$tumblr-color:           #3a5876;
$reddit-color:           #333;

$enhancv-color:          #00c091;
