/* ==========================================================================
   11. Footer - The bottom of every page
   ========================================================================== */

.site-footer {
  background: #1a1a1a;
  height: 122px;
  line-height: 120px;
  padding: 0 50px;
  position: relative; 
  font-size: 16px;
  color: #6A6A6A;
  font-weight: 300;

  .lets-begin {
    margin-right: 20px; 
  }

  .logo {
    width: 143px;
    opacity: .5;
  }

  [class*='col-']:last-child {
    padding-right: 0;
  }

  [class*='col-']:first-child {
    padding-left: 0;
  }

  @media screen and (max-width: $screen-sm) {
    height: auto;
    text-align: center;
    line-height: 60px;
    padding: 50px 0;
  }


}
