/* ==========================================================================
   1. Icons - Sets up the icon font and respective classes
   ========================================================================== */

/* Import the font file with the icons in it */
@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.eot');
  src: url('../fonts/icons.eot?#iefix') format("embedded-opentype"), url('../fonts/icons.woff') format("woff"), url('../fonts/icons.ttf') format("truetype"), url('../fonts/icons.svg#icons') format("svg");
  font-weight: normal;
  font-style: normal;
}


/* Apply these base styles to all icons */

.icon-ghost:before, .icon-feed:before, .icon-twitter:before, .icon-google-plus:before, .icon-facebook:before {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Each icon is created by inserting the corret character into the
   content of the :before pseudo element. Like a boss. */

.icon-ghost:before {
  content: "\e000";
}

.icon-feed:before {
  content: "\e001";
}

.icon-twitter:before {
  content: "\e002";
  font-size: 1.1em;
}

.icon-google-plus:before {
  content: "\e003";
}

.icon-facebook:before {
  content: "\e004";
}
