  /* ==========================================================================
   16. Media Queries - Smaller than 900px
   ========================================================================== */

@media only screen and (max-width: 900px) {
  blockquote {
    margin-left: 0;
  }
  .site-head {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    min-height: 240px;
    padding: 15% 0;
  }
  .blog-title {
    font-size: 4rem;
    letter-spacing: -1px;
  }
  .blog-description {
    font-size: 1.6rem;
    line-height: 1.4em;
  }
  .blog-logo img {
    max-height: 90px;
    max-width: 320px;
  }
  .page-title {
    font-size: 4rem;
    letter-spacing: -1px;
  }

  .page-description {
    font-size: 1.8rem;
    line-height: 1.5em;
  }
  .post {
    font-size: 0.9em;
  }
  body:not(.post-template) .post-title {
    font-size: 3.2rem;
  }
  .post-template {
    .post {
      padding-bottom: 1rem;
    }
    .post-header {
      padding: 40px 0;
    }
  }
  ol, ul {
      padding-left: 2em;
  }
  h1 {
      font-size: 4.5rem;
      text-indent: -2px;
  }

  h2 {
      font-size: 3.6rem;
  }

  h3 {
      font-size: 3.1rem;
  }

  h4 {
      font-size: 2.5rem;
  }

  h5 {
      font-size: 2.2rem;
  }

  h6 {
      font-size: 1.8rem;
  }
  .read-next {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 4rem;

    p {
      display: none;
    }
  }

  .read-next-story.no-cover + .read-next-story.no-cover {
    border-top: rgba(0, 0, 100, 0.06) 1px solid;
    border-left: none;
  }
  .site-footer {
    margin-top: 5rem;
    font-size: 0.9rem;
  }
  .btn-social {
    width: 38px;
    height: 38px;
    border: 1px solid $gray-light;
    font-size: 18px;
    line-height: 38px;
  }
  /* increase size of scroll-to-top btn for smaller screens*/
  a#scroll-to-top {
    font-size: 1.1rem;
    margin-right: 20px;
    margin-top: 15px;
  }
}

/* ==========================================================================
   Media Queries - Smaller than 500px
   ========================================================================== */

@media only screen and (max-width: 500px) {

  .no-cover.main-header {
    height: 30vh;
  }

  .blog-logo img {
    max-height: 80px;
    max-width: 210px;
  }
  .inner, .pagination {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }

  .post {
    width: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 16px;
    margin-right: 16px;
    line-height: 1.65em;
  }

  .post-date {
    display: none;
  }

  .post-template {
    .post-header {
      margin-bottom: 2rem;
    }
    .post-date {
      display: inline-block;
    }
  }
  hr {
    margin: 1.75em 0;
  }

  .site-head {
    padding: 10% 0;
    height: 100%;
  }
  .blog-title {
    font-size: 3rem;
  }
  .blog-description {
    font-size: 1.5rem;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.3em 0;
  }

  h1 {
    font-size: 2.8rem;
    letter-spacing: -1px;
  }

  h2 {
    font-size: 2.4rem;
    letter-spacing: 0;
  }

  h3 {
    font-size: 2.1rem;
  }

  h4 {
    font-size: 1.9rem;
  }

  h5, h6 {
    font-size: 1.8rem;
  }
  body:not(.post-template) .post-title {
    font-size: 2.5rem;
  }
  .post-template {
    .post {
      padding-bottom: 0;
      margin-bottom: 0;
    }
    .post-header {
      padding: 30px 0;
    }
    .site-footer {
      margin-top: 0;
    }
  }
  .post-content {
    img {
      padding: 0;
    }
    .full-img {
      width: auto;
      width: calc(100% + 32px);
      /* expand with to image + margins */
      margin: 0 -16px;
      /* get rid of margins */
      min-width: 0;
      max-width: 112%;
      /* fallback when calc doesn't work */
    }
  }
  .post-meta {
    font-size: 1.3rem;
  }
  .post-footer {
    padding: 4rem 0;
    text-align: center;
    .author {
      margin: 0 0 2rem 0;
      padding: 0 0 1.6rem 0;
      border-bottom: $gray-darker 1px solid;
    }
    .share {
      position: static;
      width: auto;
      a {
        margin: 1.4rem 0.8rem 0 0.8rem;
      }
    }
  }
  .author-meta li {
    float: none;
    margin: 0;
    line-height: 1.6em;
    &:before {
      display: none;
    }
  }
  .older-posts, .newer-posts {
    position: static;
    margin: 10px 0;
  }
  .page-number {
    display: block;
  }
  .read-next {
    margin-top: 2rem;
    .post {
      width: 100%;
    }
  }
  .site-footer {
    margin-top: 6rem;
    font-size: 0.7rem;
  }
  .btn-social {
    width: 32px;
    height: 32px;
    border: 1px solid $gray-light;
    font-size: 15px;
    line-height: 30px;
  }
  .subscribe {
    display: none;
  }

}


@media only screen and (min-width: $screen-sm) {
  .main-header {

    .navbar-brand {
      padding: 15px 15px 15px 50px;
    }
  }
}
/* ==========================================================================
   End of file. Media queries should be the last thing here. Do not add stuff
   below this point, or it will probably fuck everything up.
   ========================================================================== */
