/* ==========================================================================
   14. Thin Scrollbar - Display thin scrollbars
   ========================================================================== */

/* Thin Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-button {
  width: 8px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #333;
  border: thin solid #111;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #222;
  border: thin solid #222;
  border-radius: 10px;
  &:hover {
    background: #7d7d7d;
  }
}