
/* ==========================================================================
   6. Single Post - When you click on an individual post
   ========================================================================== */
.posts-wrapper{
  margin: 0 auto;

  [class*="col-"] {
    padding: 25px;
  }

  .single-post {
    margin: 0;
    
    img {
      width: 100%;
    }

    .panel-heading {
      height: 215px;
      background-size: cover;
      background-position: center;
    }

    .panel-body {
      padding: 30px;
    }
    
    h3 {
      font-size: $font-size-h3;
      color: $gray-dark;
    }

    p {
      font-size: $font-size-h5;
      color: #808080;
      line-height: 16px;
    }
  }
}
