  /* ==========================================================================
   13. Slider Menu
   ========================================================================== */
$slidemenu-nav-width: 280px;

#slidemenu-wrapper {
  background-color: #fff;
  margin-right: -$slidemenu-nav-width;
  right: 0;
  width: $slidemenu-nav-width;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  padding: 30px 0;
  z-index: 1000;
  transition: all 0.4s ease-in-out;
}

.slidemenu-nav {
  width: 280px;
  color: $text-color;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      font-size: 1.4rem;

      &.text {
        padding: 8px 50px;
        display: inline-block;
        width: 100%;

        &.top-ty {
          margin-top: 5px;
        }

        a {
          padding: 0;
        }
      }

      .item {
        color: $text-color;
        padding: 8px 50px;
        color: #333;
        display: block;
        text-decoration: none;

        &:hover {
          color: $gray-light;
          text-decoration: none;
        }

        &:active, &:focus {
          text-decoration: none;
        }

        i {
        margin-right: 10px;
       }
      }
    }
  }
}

#slidemenu-toggle {
  z-index: 1;
}

#slidemenu-wrapper.active {
  right: $slidemenu-nav-width;
  width: $slidemenu-nav-width;
  transition: all 0.4s ease 0s;
}

.slidemenu-divider {
  display: block;
  margin: 5px 10px;
  border-top: 1px solid $gray-darker;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .01);
  height: 5px;
}
