/* ==========================================================================
   12. Social Links
   ========================================================================== */

.btn-outline {
  margin-top: 15px;
  border: solid 1px $gray-light;
  font-size: 24px;
  color: $gray-light;
  background: 0 0;
  transition: all .3s ease-in-out;
  &:hover, &:focus, &:active, &.active {
    border: solid 1px $gray-light;
    color: #000;
    background: $gray-light;
  }
}

.btn-social {
    display: inline-block;
    height: 34px;
    width: 34px;
    line-height: 34px;
    text-align: center;
    margin: 0 5px;
    border-radius: 50%;
    background: #666;
    text-decoration: none;
    color: #1a1a1a;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out, opacity 0.2s ease-out;

    &:hover,
    &:focus {
      background: rgba(#fff, .8);
      color: #1a1a1a;
    }

    &.btn-invert {
      color: #fff;
      background-color: #4d4d4d;

      &:hover,
      &:active,
      &:focus {
        background-color: $text-color;
      }
    }
}