{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2018-11-15",
    "endpointPrefix":"backup",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"AWS Backup",
    "serviceId":"Backup",
    "signatureVersion":"v4",
    "uid":"backup-2018-11-15",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AssociateBackupVaultMpaApprovalTeam":{
      "name":"AssociateBackupVaultMpaApprovalTeam",
      "http":{
        "method":"PUT",
        "requestUri":"/backup-vaults/{backupVaultName}/mpaApprovalTeam",
        "responseCode":204
      },
      "input":{"shape":"AssociateBackupVaultMpaApprovalTeamInput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Associates an MPA approval team with a backup vault.</p>"
    },
    "CancelLegalHold":{
      "name":"CancelLegalHold",
      "http":{
        "method":"DELETE",
        "requestUri":"/legal-holds/{legalHoldId}",
        "responseCode":201
      },
      "input":{"shape":"CancelLegalHoldInput"},
      "output":{"shape":"CancelLegalHoldOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidResourceStateException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Removes the specified legal hold on a recovery point. This action can only be performed by a user with sufficient permissions.</p>",
      "idempotent":true
    },
    "CreateBackupPlan":{
      "name":"CreateBackupPlan",
      "http":{
        "method":"PUT",
        "requestUri":"/backup/plans/"
      },
      "input":{"shape":"CreateBackupPlanInput"},
      "output":{"shape":"CreateBackupPlanOutput"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"AlreadyExistsException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Creates a backup plan using a backup plan name and backup rules. A backup plan is a document that contains information that Backup uses to schedule tasks that create recovery points for resources.</p> <p>If you call <code>CreateBackupPlan</code> with a plan that already exists, you receive an <code>AlreadyExistsException</code> exception.</p>",
      "idempotent":true
    },
    "CreateBackupSelection":{
      "name":"CreateBackupSelection",
      "http":{
        "method":"PUT",
        "requestUri":"/backup/plans/{backupPlanId}/selections/"
      },
      "input":{"shape":"CreateBackupSelectionInput"},
      "output":{"shape":"CreateBackupSelectionOutput"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"AlreadyExistsException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Creates a JSON document that specifies a set of resources to assign to a backup plan. For examples, see <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/assigning-resources.html#assigning-resources-json\">Assigning resources programmatically</a>. </p>",
      "idempotent":true
    },
    "CreateBackupVault":{
      "name":"CreateBackupVault",
      "http":{
        "method":"PUT",
        "requestUri":"/backup-vaults/{backupVaultName}"
      },
      "input":{"shape":"CreateBackupVaultInput"},
      "output":{"shape":"CreateBackupVaultOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"LimitExceededException"},
        {"shape":"AlreadyExistsException"}
      ],
      "documentation":"<p>Creates a logical container where backups are stored. A <code>CreateBackupVault</code> request includes a name, optionally one or more resource tags, an encryption key, and a request ID.</p> <note> <p>Do not include sensitive data, such as passport numbers, in the name of a backup vault.</p> </note>",
      "idempotent":true
    },
    "CreateFramework":{
      "name":"CreateFramework",
      "http":{
        "method":"POST",
        "requestUri":"/audit/frameworks"
      },
      "input":{"shape":"CreateFrameworkInput"},
      "output":{"shape":"CreateFrameworkOutput"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Creates a framework with one or more controls. A framework is a collection of controls that you can use to evaluate your backup practices. By using pre-built customizable controls to define your policies, you can evaluate whether your backup practices comply with your policies and which resources are not yet in compliance.</p>",
      "idempotent":true
    },
    "CreateLegalHold":{
      "name":"CreateLegalHold",
      "http":{
        "method":"POST",
        "requestUri":"/legal-holds/"
      },
      "input":{"shape":"CreateLegalHoldInput"},
      "output":{"shape":"CreateLegalHoldOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a legal hold on a recovery point (backup). A legal hold is a restraint on altering or deleting a backup until an authorized user cancels the legal hold. Any actions to delete or disassociate a recovery point will fail with an error if one or more active legal holds are on the recovery point.</p>",
      "idempotent":true
    },
    "CreateLogicallyAirGappedBackupVault":{
      "name":"CreateLogicallyAirGappedBackupVault",
      "http":{
        "method":"PUT",
        "requestUri":"/logically-air-gapped-backup-vaults/{backupVaultName}"
      },
      "input":{"shape":"CreateLogicallyAirGappedBackupVaultInput"},
      "output":{"shape":"CreateLogicallyAirGappedBackupVaultOutput"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Creates a logical container to where backups may be copied.</p> <p>This request includes a name, the Region, the maximum number of retention days, the minimum number of retention days, and optionally can include tags and a creator request ID.</p> <note> <p>Do not include sensitive data, such as passport numbers, in the name of a backup vault.</p> </note>",
      "idempotent":true
    },
    "CreateReportPlan":{
      "name":"CreateReportPlan",
      "http":{
        "method":"POST",
        "requestUri":"/audit/report-plans"
      },
      "input":{"shape":"CreateReportPlanInput"},
      "output":{"shape":"CreateReportPlanOutput"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"MissingParameterValueException"}
      ],
      "documentation":"<p>Creates a report plan. A report plan is a document that contains information about the contents of the report and where Backup will deliver it.</p> <p>If you call <code>CreateReportPlan</code> with a plan that already exists, you receive an <code>AlreadyExistsException</code> exception.</p>",
      "idempotent":true
    },
    "CreateRestoreAccessBackupVault":{
      "name":"CreateRestoreAccessBackupVault",
      "http":{
        "method":"PUT",
        "requestUri":"/restore-access-backup-vaults"
      },
      "input":{"shape":"CreateRestoreAccessBackupVaultInput"},
      "output":{"shape":"CreateRestoreAccessBackupVaultOutput"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Creates a restore access backup vault that provides temporary access to recovery points in a logically air-gapped backup vault, subject to MPA approval.</p>",
      "idempotent":true
    },
    "CreateRestoreTestingPlan":{
      "name":"CreateRestoreTestingPlan",
      "http":{
        "method":"PUT",
        "requestUri":"/restore-testing/plans",
        "responseCode":201
      },
      "input":{"shape":"CreateRestoreTestingPlanInput"},
      "output":{"shape":"CreateRestoreTestingPlanOutput"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Creates a restore testing plan.</p> <p>The first of two steps to create a restore testing plan. After this request is successful, finish the procedure using CreateRestoreTestingSelection.</p>",
      "idempotent":true
    },
    "CreateRestoreTestingSelection":{
      "name":"CreateRestoreTestingSelection",
      "http":{
        "method":"PUT",
        "requestUri":"/restore-testing/plans/{RestoreTestingPlanName}/selections",
        "responseCode":201
      },
      "input":{"shape":"CreateRestoreTestingSelectionInput"},
      "output":{"shape":"CreateRestoreTestingSelectionOutput"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"LimitExceededException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>This request can be sent after CreateRestoreTestingPlan request returns successfully. This is the second part of creating a resource testing plan, and it must be completed sequentially.</p> <p>This consists of <code>RestoreTestingSelectionName</code>, <code>ProtectedResourceType</code>, and one of the following:</p> <ul> <li> <p> <code>ProtectedResourceArns</code> </p> </li> <li> <p> <code>ProtectedResourceConditions</code> </p> </li> </ul> <p>Each protected resource type can have one single value.</p> <p>A restore testing selection can include a wildcard value (\"*\") for <code>ProtectedResourceArns</code> along with <code>ProtectedResourceConditions</code>. Alternatively, you can include up to 30 specific protected resource ARNs in <code>ProtectedResourceArns</code>.</p> <p>Cannot select by both protected resource types AND specific ARNs. Request will fail if both are included.</p>",
      "idempotent":true
    },
    "DeleteBackupPlan":{
      "name":"DeleteBackupPlan",
      "http":{
        "method":"DELETE",
        "requestUri":"/backup/plans/{backupPlanId}"
      },
      "input":{"shape":"DeleteBackupPlanInput"},
      "output":{"shape":"DeleteBackupPlanOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Deletes a backup plan. A backup plan can only be deleted after all associated selections of resources have been deleted. Deleting a backup plan deletes the current version of a backup plan. Previous versions, if any, will still exist.</p>"
    },
    "DeleteBackupSelection":{
      "name":"DeleteBackupSelection",
      "http":{
        "method":"DELETE",
        "requestUri":"/backup/plans/{backupPlanId}/selections/{selectionId}"
      },
      "input":{"shape":"DeleteBackupSelectionInput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Deletes the resource selection associated with a backup plan that is specified by the <code>SelectionId</code>.</p>"
    },
    "DeleteBackupVault":{
      "name":"DeleteBackupVault",
      "http":{
        "method":"DELETE",
        "requestUri":"/backup-vaults/{backupVaultName}"
      },
      "input":{"shape":"DeleteBackupVaultInput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Deletes the backup vault identified by its name. A vault can be deleted only if it is empty.</p>",
      "idempotent":true
    },
    "DeleteBackupVaultAccessPolicy":{
      "name":"DeleteBackupVaultAccessPolicy",
      "http":{
        "method":"DELETE",
        "requestUri":"/backup-vaults/{backupVaultName}/access-policy"
      },
      "input":{"shape":"DeleteBackupVaultAccessPolicyInput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Deletes the policy document that manages permissions on a backup vault.</p>",
      "idempotent":true
    },
    "DeleteBackupVaultLockConfiguration":{
      "name":"DeleteBackupVaultLockConfiguration",
      "http":{
        "method":"DELETE",
        "requestUri":"/backup-vaults/{backupVaultName}/vault-lock"
      },
      "input":{"shape":"DeleteBackupVaultLockConfigurationInput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Deletes Backup Vault Lock from a backup vault specified by a backup vault name.</p> <p>If the Vault Lock configuration is immutable, then you cannot delete Vault Lock using API operations, and you will receive an <code>InvalidRequestException</code> if you attempt to do so. For more information, see <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/vault-lock.html\">Vault Lock</a> in the <i>Backup Developer Guide</i>.</p>",
      "idempotent":true
    },
    "DeleteBackupVaultNotifications":{
      "name":"DeleteBackupVaultNotifications",
      "http":{
        "method":"DELETE",
        "requestUri":"/backup-vaults/{backupVaultName}/notification-configuration"
      },
      "input":{"shape":"DeleteBackupVaultNotificationsInput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Deletes event notifications for the specified backup vault.</p>",
      "idempotent":true
    },
    "DeleteFramework":{
      "name":"DeleteFramework",
      "http":{
        "method":"DELETE",
        "requestUri":"/audit/frameworks/{frameworkName}"
      },
      "input":{"shape":"DeleteFrameworkInput"},
      "errors":[
        {"shape":"MissingParameterValueException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes the framework specified by a framework name.</p>"
    },
    "DeleteRecoveryPoint":{
      "name":"DeleteRecoveryPoint",
      "http":{
        "method":"DELETE",
        "requestUri":"/backup-vaults/{backupVaultName}/recovery-points/{recoveryPointArn}"
      },
      "input":{"shape":"DeleteRecoveryPointInput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"InvalidResourceStateException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Deletes the recovery point specified by a recovery point ID.</p> <p>If the recovery point ID belongs to a continuous backup, calling this endpoint deletes the existing continuous backup and stops future continuous backup.</p> <p>When an IAM role's permissions are insufficient to call this API, the service sends back an HTTP 200 response with an empty HTTP body, but the recovery point is not deleted. Instead, it enters an <code>EXPIRED</code> state.</p> <p> <code>EXPIRED</code> recovery points can be deleted with this API once the IAM role has the <code>iam:CreateServiceLinkedRole</code> action. To learn more about adding this role, see <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/deleting-backups.html#deleting-backups-troubleshooting\"> Troubleshooting manual deletions</a>.</p> <p>If the user or role is deleted or the permission within the role is removed, the deletion will not be successful and will enter an <code>EXPIRED</code> state.</p>",
      "idempotent":true
    },
    "DeleteReportPlan":{
      "name":"DeleteReportPlan",
      "http":{
        "method":"DELETE",
        "requestUri":"/audit/report-plans/{reportPlanName}"
      },
      "input":{"shape":"DeleteReportPlanInput"},
      "errors":[
        {"shape":"MissingParameterValueException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes the report plan specified by a report plan name.</p>",
      "idempotent":true
    },
    "DeleteRestoreTestingPlan":{
      "name":"DeleteRestoreTestingPlan",
      "http":{
        "method":"DELETE",
        "requestUri":"/restore-testing/plans/{RestoreTestingPlanName}",
        "responseCode":204
      },
      "input":{"shape":"DeleteRestoreTestingPlanInput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>This request deletes the specified restore testing plan.</p> <p>Deletion can only successfully occur if all associated restore testing selections are deleted first.</p>",
      "idempotent":true
    },
    "DeleteRestoreTestingSelection":{
      "name":"DeleteRestoreTestingSelection",
      "http":{
        "method":"DELETE",
        "requestUri":"/restore-testing/plans/{RestoreTestingPlanName}/selections/{RestoreTestingSelectionName}",
        "responseCode":204
      },
      "input":{"shape":"DeleteRestoreTestingSelectionInput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Input the Restore Testing Plan name and Restore Testing Selection name.</p> <p>All testing selections associated with a restore testing plan must be deleted before the restore testing plan can be deleted.</p>",
      "idempotent":true
    },
    "DescribeBackupJob":{
      "name":"DescribeBackupJob",
      "http":{
        "method":"GET",
        "requestUri":"/backup-jobs/{backupJobId}"
      },
      "input":{"shape":"DescribeBackupJobInput"},
      "output":{"shape":"DescribeBackupJobOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"DependencyFailureException"}
      ],
      "documentation":"<p>Returns backup job details for the specified <code>BackupJobId</code>.</p>",
      "idempotent":true
    },
    "DescribeBackupVault":{
      "name":"DescribeBackupVault",
      "http":{
        "method":"GET",
        "requestUri":"/backup-vaults/{backupVaultName}"
      },
      "input":{"shape":"DescribeBackupVaultInput"},
      "output":{"shape":"DescribeBackupVaultOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns metadata about a backup vault specified by its name.</p>",
      "idempotent":true
    },
    "DescribeCopyJob":{
      "name":"DescribeCopyJob",
      "http":{
        "method":"GET",
        "requestUri":"/copy-jobs/{copyJobId}"
      },
      "input":{"shape":"DescribeCopyJobInput"},
      "output":{"shape":"DescribeCopyJobOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns metadata associated with creating a copy of a resource.</p>",
      "idempotent":true
    },
    "DescribeFramework":{
      "name":"DescribeFramework",
      "http":{
        "method":"GET",
        "requestUri":"/audit/frameworks/{frameworkName}"
      },
      "input":{"shape":"DescribeFrameworkInput"},
      "output":{"shape":"DescribeFrameworkOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns the framework details for the specified <code>FrameworkName</code>.</p>"
    },
    "DescribeGlobalSettings":{
      "name":"DescribeGlobalSettings",
      "http":{
        "method":"GET",
        "requestUri":"/global-settings"
      },
      "input":{"shape":"DescribeGlobalSettingsInput"},
      "output":{"shape":"DescribeGlobalSettingsOutput"},
      "errors":[
        {"shape":"InvalidRequestException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Describes whether the Amazon Web Services account is opted in to cross-account backup. Returns an error if the account is not a member of an Organizations organization. Example: <code>describe-global-settings --region us-west-2</code> </p>"
    },
    "DescribeProtectedResource":{
      "name":"DescribeProtectedResource",
      "http":{
        "method":"GET",
        "requestUri":"/resources/{resourceArn}"
      },
      "input":{"shape":"DescribeProtectedResourceInput"},
      "output":{"shape":"DescribeProtectedResourceOutput"},
      "errors":[
        {"shape":"MissingParameterValueException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns information about a saved resource, including the last time it was backed up, its Amazon Resource Name (ARN), and the Amazon Web Services service type of the saved resource.</p>",
      "idempotent":true
    },
    "DescribeRecoveryPoint":{
      "name":"DescribeRecoveryPoint",
      "http":{
        "method":"GET",
        "requestUri":"/backup-vaults/{backupVaultName}/recovery-points/{recoveryPointArn}"
      },
      "input":{"shape":"DescribeRecoveryPointInput"},
      "output":{"shape":"DescribeRecoveryPointOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns metadata associated with a recovery point, including ID, status, encryption, and lifecycle.</p>",
      "idempotent":true
    },
    "DescribeRegionSettings":{
      "name":"DescribeRegionSettings",
      "http":{
        "method":"GET",
        "requestUri":"/account-settings"
      },
      "input":{"shape":"DescribeRegionSettingsInput"},
      "output":{"shape":"DescribeRegionSettingsOutput"},
      "errors":[
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns the current service opt-in settings for the Region. If service opt-in is enabled for a service, Backup tries to protect that service's resources in this Region, when the resource is included in an on-demand backup or scheduled backup plan. Otherwise, Backup does not try to protect that service's resources in this Region.</p>"
    },
    "DescribeReportJob":{
      "name":"DescribeReportJob",
      "http":{
        "method":"GET",
        "requestUri":"/audit/report-jobs/{reportJobId}"
      },
      "input":{"shape":"DescribeReportJobInput"},
      "output":{"shape":"DescribeReportJobOutput"},
      "errors":[
        {"shape":"ServiceUnavailableException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns the details associated with creating a report as specified by its <code>ReportJobId</code>.</p>"
    },
    "DescribeReportPlan":{
      "name":"DescribeReportPlan",
      "http":{
        "method":"GET",
        "requestUri":"/audit/report-plans/{reportPlanName}"
      },
      "input":{"shape":"DescribeReportPlanInput"},
      "output":{"shape":"DescribeReportPlanOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns a list of all report plans for an Amazon Web Services account and Amazon Web Services Region.</p>"
    },
    "DescribeRestoreJob":{
      "name":"DescribeRestoreJob",
      "http":{
        "method":"GET",
        "requestUri":"/restore-jobs/{restoreJobId}"
      },
      "input":{"shape":"DescribeRestoreJobInput"},
      "output":{"shape":"DescribeRestoreJobOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"DependencyFailureException"}
      ],
      "documentation":"<p>Returns metadata associated with a restore job that is specified by a job ID.</p>",
      "idempotent":true
    },
    "DisassociateBackupVaultMpaApprovalTeam":{
      "name":"DisassociateBackupVaultMpaApprovalTeam",
      "http":{
        "method":"POST",
        "requestUri":"/backup-vaults/{backupVaultName}/mpaApprovalTeam?delete",
        "responseCode":204
      },
      "input":{"shape":"DisassociateBackupVaultMpaApprovalTeamInput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Removes the association between an MPA approval team and a backup vault, disabling the MPA approval workflow for restore operations.</p>"
    },
    "DisassociateRecoveryPoint":{
      "name":"DisassociateRecoveryPoint",
      "http":{
        "method":"POST",
        "requestUri":"/backup-vaults/{backupVaultName}/recovery-points/{recoveryPointArn}/disassociate"
      },
      "input":{"shape":"DisassociateRecoveryPointInput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"InvalidResourceStateException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Deletes the specified continuous backup recovery point from Backup and releases control of that continuous backup to the source service, such as Amazon RDS. The source service will continue to create and retain continuous backups using the lifecycle that you specified in your original backup plan.</p> <p>Does not support snapshot backup recovery points.</p>"
    },
    "DisassociateRecoveryPointFromParent":{
      "name":"DisassociateRecoveryPointFromParent",
      "http":{
        "method":"DELETE",
        "requestUri":"/backup-vaults/{backupVaultName}/recovery-points/{recoveryPointArn}/parentAssociation",
        "responseCode":204
      },
      "input":{"shape":"DisassociateRecoveryPointFromParentInput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>This action to a specific child (nested) recovery point removes the relationship between the specified recovery point and its parent (composite) recovery point.</p>"
    },
    "ExportBackupPlanTemplate":{
      "name":"ExportBackupPlanTemplate",
      "http":{
        "method":"GET",
        "requestUri":"/backup/plans/{backupPlanId}/toTemplate/"
      },
      "input":{"shape":"ExportBackupPlanTemplateInput"},
      "output":{"shape":"ExportBackupPlanTemplateOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns the backup plan that is specified by the plan ID as a backup template.</p>"
    },
    "GetBackupPlan":{
      "name":"GetBackupPlan",
      "http":{
        "method":"GET",
        "requestUri":"/backup/plans/{backupPlanId}/"
      },
      "input":{"shape":"GetBackupPlanInput"},
      "output":{"shape":"GetBackupPlanOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns <code>BackupPlan</code> details for the specified <code>BackupPlanId</code>. The details are the body of a backup plan in JSON format, in addition to plan metadata.</p>",
      "idempotent":true
    },
    "GetBackupPlanFromJSON":{
      "name":"GetBackupPlanFromJSON",
      "http":{
        "method":"POST",
        "requestUri":"/backup/template/json/toPlan"
      },
      "input":{"shape":"GetBackupPlanFromJSONInput"},
      "output":{"shape":"GetBackupPlanFromJSONOutput"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Returns a valid JSON document specifying a backup plan or an error.</p>"
    },
    "GetBackupPlanFromTemplate":{
      "name":"GetBackupPlanFromTemplate",
      "http":{
        "method":"GET",
        "requestUri":"/backup/template/plans/{templateId}/toPlan"
      },
      "input":{"shape":"GetBackupPlanFromTemplateInput"},
      "output":{"shape":"GetBackupPlanFromTemplateOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns the template specified by its <code>templateId</code> as a backup plan.</p>"
    },
    "GetBackupSelection":{
      "name":"GetBackupSelection",
      "http":{
        "method":"GET",
        "requestUri":"/backup/plans/{backupPlanId}/selections/{selectionId}"
      },
      "input":{"shape":"GetBackupSelectionInput"},
      "output":{"shape":"GetBackupSelectionOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns selection metadata and a document in JSON format that specifies a list of resources that are associated with a backup plan.</p>",
      "idempotent":true
    },
    "GetBackupVaultAccessPolicy":{
      "name":"GetBackupVaultAccessPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/backup-vaults/{backupVaultName}/access-policy"
      },
      "input":{"shape":"GetBackupVaultAccessPolicyInput"},
      "output":{"shape":"GetBackupVaultAccessPolicyOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns the access policy document that is associated with the named backup vault.</p>",
      "idempotent":true
    },
    "GetBackupVaultNotifications":{
      "name":"GetBackupVaultNotifications",
      "http":{
        "method":"GET",
        "requestUri":"/backup-vaults/{backupVaultName}/notification-configuration"
      },
      "input":{"shape":"GetBackupVaultNotificationsInput"},
      "output":{"shape":"GetBackupVaultNotificationsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns event notifications for the specified backup vault.</p>",
      "idempotent":true
    },
    "GetLegalHold":{
      "name":"GetLegalHold",
      "http":{
        "method":"GET",
        "requestUri":"/legal-holds/{legalHoldId}/"
      },
      "input":{"shape":"GetLegalHoldInput"},
      "output":{"shape":"GetLegalHoldOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>This action returns details for a specified legal hold. The details are the body of a legal hold in JSON format, in addition to metadata.</p>",
      "idempotent":true
    },
    "GetRecoveryPointIndexDetails":{
      "name":"GetRecoveryPointIndexDetails",
      "http":{
        "method":"GET",
        "requestUri":"/backup-vaults/{backupVaultName}/recovery-points/{recoveryPointArn}/index"
      },
      "input":{"shape":"GetRecoveryPointIndexDetailsInput"},
      "output":{"shape":"GetRecoveryPointIndexDetailsOutput"},
      "errors":[
        {"shape":"MissingParameterValueException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>This operation returns the metadata and details specific to the backup index associated with the specified recovery point.</p>",
      "idempotent":true
    },
    "GetRecoveryPointRestoreMetadata":{
      "name":"GetRecoveryPointRestoreMetadata",
      "http":{
        "method":"GET",
        "requestUri":"/backup-vaults/{backupVaultName}/recovery-points/{recoveryPointArn}/restore-metadata"
      },
      "input":{"shape":"GetRecoveryPointRestoreMetadataInput"},
      "output":{"shape":"GetRecoveryPointRestoreMetadataOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns a set of metadata key-value pairs that were used to create the backup.</p>",
      "idempotent":true
    },
    "GetRestoreJobMetadata":{
      "name":"GetRestoreJobMetadata",
      "http":{
        "method":"GET",
        "requestUri":"/restore-jobs/{restoreJobId}/metadata"
      },
      "input":{"shape":"GetRestoreJobMetadataInput"},
      "output":{"shape":"GetRestoreJobMetadataOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>This request returns the metadata for the specified restore job.</p>"
    },
    "GetRestoreTestingInferredMetadata":{
      "name":"GetRestoreTestingInferredMetadata",
      "http":{
        "method":"GET",
        "requestUri":"/restore-testing/inferred-metadata",
        "responseCode":200
      },
      "input":{"shape":"GetRestoreTestingInferredMetadataInput"},
      "output":{"shape":"GetRestoreTestingInferredMetadataOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>This request returns the minimal required set of metadata needed to start a restore job with secure default settings. <code>BackupVaultName</code> and <code>RecoveryPointArn</code> are required parameters. <code>BackupVaultAccountId</code> is an optional parameter.</p>"
    },
    "GetRestoreTestingPlan":{
      "name":"GetRestoreTestingPlan",
      "http":{
        "method":"GET",
        "requestUri":"/restore-testing/plans/{RestoreTestingPlanName}",
        "responseCode":200
      },
      "input":{"shape":"GetRestoreTestingPlanInput"},
      "output":{"shape":"GetRestoreTestingPlanOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns <code>RestoreTestingPlan</code> details for the specified <code>RestoreTestingPlanName</code>. The details are the body of a restore testing plan in JSON format, in addition to plan metadata.</p>"
    },
    "GetRestoreTestingSelection":{
      "name":"GetRestoreTestingSelection",
      "http":{
        "method":"GET",
        "requestUri":"/restore-testing/plans/{RestoreTestingPlanName}/selections/{RestoreTestingSelectionName}",
        "responseCode":200
      },
      "input":{"shape":"GetRestoreTestingSelectionInput"},
      "output":{"shape":"GetRestoreTestingSelectionOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns RestoreTestingSelection, which displays resources and elements of the restore testing plan.</p>"
    },
    "GetSupportedResourceTypes":{
      "name":"GetSupportedResourceTypes",
      "http":{
        "method":"GET",
        "requestUri":"/supported-resource-types"
      },
      "output":{"shape":"GetSupportedResourceTypesOutput"},
      "errors":[
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns the Amazon Web Services resource types supported by Backup.</p>"
    },
    "ListBackupJobSummaries":{
      "name":"ListBackupJobSummaries",
      "http":{
        "method":"GET",
        "requestUri":"/audit/backup-job-summaries"
      },
      "input":{"shape":"ListBackupJobSummariesInput"},
      "output":{"shape":"ListBackupJobSummariesOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>This is a request for a summary of backup jobs created or running within the most recent 30 days. You can include parameters AccountID, State, ResourceType, MessageCategory, AggregationPeriod, MaxResults, or NextToken to filter results.</p> <p>This request returns a summary that contains Region, Account, State, ResourceType, MessageCategory, StartTime, EndTime, and Count of included jobs.</p>"
    },
    "ListBackupJobs":{
      "name":"ListBackupJobs",
      "http":{
        "method":"GET",
        "requestUri":"/backup-jobs/"
      },
      "input":{"shape":"ListBackupJobsInput"},
      "output":{"shape":"ListBackupJobsOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns a list of existing backup jobs for an authenticated account for the last 30 days. For a longer period of time, consider using these <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/monitoring.html\">monitoring tools</a>.</p>",
      "idempotent":true
    },
    "ListBackupPlanTemplates":{
      "name":"ListBackupPlanTemplates",
      "http":{
        "method":"GET",
        "requestUri":"/backup/template/plans"
      },
      "input":{"shape":"ListBackupPlanTemplatesInput"},
      "output":{"shape":"ListBackupPlanTemplatesOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists the backup plan templates.</p>"
    },
    "ListBackupPlanVersions":{
      "name":"ListBackupPlanVersions",
      "http":{
        "method":"GET",
        "requestUri":"/backup/plans/{backupPlanId}/versions/"
      },
      "input":{"shape":"ListBackupPlanVersionsInput"},
      "output":{"shape":"ListBackupPlanVersionsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns version metadata of your backup plans, including Amazon Resource Names (ARNs), backup plan IDs, creation and deletion dates, plan names, and version IDs.</p>",
      "idempotent":true
    },
    "ListBackupPlans":{
      "name":"ListBackupPlans",
      "http":{
        "method":"GET",
        "requestUri":"/backup/plans/"
      },
      "input":{"shape":"ListBackupPlansInput"},
      "output":{"shape":"ListBackupPlansOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Lists the active backup plans for the account.</p>",
      "idempotent":true
    },
    "ListBackupSelections":{
      "name":"ListBackupSelections",
      "http":{
        "method":"GET",
        "requestUri":"/backup/plans/{backupPlanId}/selections/"
      },
      "input":{"shape":"ListBackupSelectionsInput"},
      "output":{"shape":"ListBackupSelectionsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns an array containing metadata of the resources associated with the target backup plan.</p>",
      "idempotent":true
    },
    "ListBackupVaults":{
      "name":"ListBackupVaults",
      "http":{
        "method":"GET",
        "requestUri":"/backup-vaults/"
      },
      "input":{"shape":"ListBackupVaultsInput"},
      "output":{"shape":"ListBackupVaultsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns a list of recovery point storage containers along with information about them.</p>",
      "idempotent":true
    },
    "ListCopyJobSummaries":{
      "name":"ListCopyJobSummaries",
      "http":{
        "method":"GET",
        "requestUri":"/audit/copy-job-summaries"
      },
      "input":{"shape":"ListCopyJobSummariesInput"},
      "output":{"shape":"ListCopyJobSummariesOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>This request obtains a list of copy jobs created or running within the the most recent 30 days. You can include parameters AccountID, State, ResourceType, MessageCategory, AggregationPeriod, MaxResults, or NextToken to filter results.</p> <p>This request returns a summary that contains Region, Account, State, RestourceType, MessageCategory, StartTime, EndTime, and Count of included jobs.</p>"
    },
    "ListCopyJobs":{
      "name":"ListCopyJobs",
      "http":{
        "method":"GET",
        "requestUri":"/copy-jobs/"
      },
      "input":{"shape":"ListCopyJobsInput"},
      "output":{"shape":"ListCopyJobsOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns metadata about your copy jobs.</p>"
    },
    "ListFrameworks":{
      "name":"ListFrameworks",
      "http":{
        "method":"GET",
        "requestUri":"/audit/frameworks"
      },
      "input":{"shape":"ListFrameworksInput"},
      "output":{"shape":"ListFrameworksOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns a list of all frameworks for an Amazon Web Services account and Amazon Web Services Region.</p>"
    },
    "ListIndexedRecoveryPoints":{
      "name":"ListIndexedRecoveryPoints",
      "http":{
        "method":"GET",
        "requestUri":"/indexes/recovery-point/"
      },
      "input":{"shape":"ListIndexedRecoveryPointsInput"},
      "output":{"shape":"ListIndexedRecoveryPointsOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>This operation returns a list of recovery points that have an associated index, belonging to the specified account.</p> <p>Optional parameters you can include are: MaxResults; NextToken; SourceResourceArns; CreatedBefore; CreatedAfter; and ResourceType.</p>",
      "idempotent":true
    },
    "ListLegalHolds":{
      "name":"ListLegalHolds",
      "http":{
        "method":"GET",
        "requestUri":"/legal-holds/"
      },
      "input":{"shape":"ListLegalHoldsInput"},
      "output":{"shape":"ListLegalHoldsOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>This action returns metadata about active and previous legal holds.</p>",
      "idempotent":true
    },
    "ListProtectedResources":{
      "name":"ListProtectedResources",
      "http":{
        "method":"GET",
        "requestUri":"/resources/"
      },
      "input":{"shape":"ListProtectedResourcesInput"},
      "output":{"shape":"ListProtectedResourcesOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns an array of resources successfully backed up by Backup, including the time the resource was saved, an Amazon Resource Name (ARN) of the resource, and a resource type.</p>",
      "idempotent":true
    },
    "ListProtectedResourcesByBackupVault":{
      "name":"ListProtectedResourcesByBackupVault",
      "http":{
        "method":"GET",
        "requestUri":"/backup-vaults/{backupVaultName}/resources/"
      },
      "input":{"shape":"ListProtectedResourcesByBackupVaultInput"},
      "output":{"shape":"ListProtectedResourcesByBackupVaultOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>This request lists the protected resources corresponding to each backup vault.</p>"
    },
    "ListRecoveryPointsByBackupVault":{
      "name":"ListRecoveryPointsByBackupVault",
      "http":{
        "method":"GET",
        "requestUri":"/backup-vaults/{backupVaultName}/recovery-points/"
      },
      "input":{"shape":"ListRecoveryPointsByBackupVaultInput"},
      "output":{"shape":"ListRecoveryPointsByBackupVaultOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns detailed information about the recovery points stored in a backup vault.</p>",
      "idempotent":true
    },
    "ListRecoveryPointsByLegalHold":{
      "name":"ListRecoveryPointsByLegalHold",
      "http":{
        "method":"GET",
        "requestUri":"/legal-holds/{legalHoldId}/recovery-points"
      },
      "input":{"shape":"ListRecoveryPointsByLegalHoldInput"},
      "output":{"shape":"ListRecoveryPointsByLegalHoldOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>This action returns recovery point ARNs (Amazon Resource Names) of the specified legal hold.</p>",
      "idempotent":true
    },
    "ListRecoveryPointsByResource":{
      "name":"ListRecoveryPointsByResource",
      "http":{
        "method":"GET",
        "requestUri":"/resources/{resourceArn}/recovery-points/"
      },
      "input":{"shape":"ListRecoveryPointsByResourceInput"},
      "output":{"shape":"ListRecoveryPointsByResourceOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>The information about the recovery points of the type specified by a resource Amazon Resource Name (ARN).</p> <note> <p>For Amazon EFS and Amazon EC2, this action only lists recovery points created by Backup.</p> </note>",
      "idempotent":true
    },
    "ListReportJobs":{
      "name":"ListReportJobs",
      "http":{
        "method":"GET",
        "requestUri":"/audit/report-jobs"
      },
      "input":{"shape":"ListReportJobsInput"},
      "output":{"shape":"ListReportJobsOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns details about your report jobs.</p>"
    },
    "ListReportPlans":{
      "name":"ListReportPlans",
      "http":{
        "method":"GET",
        "requestUri":"/audit/report-plans"
      },
      "input":{"shape":"ListReportPlansInput"},
      "output":{"shape":"ListReportPlansOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns a list of your report plans. For detailed information about a single report plan, use <code>DescribeReportPlan</code>.</p>"
    },
    "ListRestoreAccessBackupVaults":{
      "name":"ListRestoreAccessBackupVaults",
      "http":{
        "method":"GET",
        "requestUri":"/logically-air-gapped-backup-vaults/{backupVaultName}/restore-access-backup-vaults/"
      },
      "input":{"shape":"ListRestoreAccessBackupVaultsInput"},
      "output":{"shape":"ListRestoreAccessBackupVaultsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns a list of restore access backup vaults associated with a specified backup vault.</p>"
    },
    "ListRestoreJobSummaries":{
      "name":"ListRestoreJobSummaries",
      "http":{
        "method":"GET",
        "requestUri":"/audit/restore-job-summaries"
      },
      "input":{"shape":"ListRestoreJobSummariesInput"},
      "output":{"shape":"ListRestoreJobSummariesOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>This request obtains a summary of restore jobs created or running within the the most recent 30 days. You can include parameters AccountID, State, ResourceType, AggregationPeriod, MaxResults, or NextToken to filter results.</p> <p>This request returns a summary that contains Region, Account, State, RestourceType, MessageCategory, StartTime, EndTime, and Count of included jobs.</p>"
    },
    "ListRestoreJobs":{
      "name":"ListRestoreJobs",
      "http":{
        "method":"GET",
        "requestUri":"/restore-jobs/"
      },
      "input":{"shape":"ListRestoreJobsInput"},
      "output":{"shape":"ListRestoreJobsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns a list of jobs that Backup initiated to restore a saved resource, including details about the recovery process.</p>",
      "idempotent":true
    },
    "ListRestoreJobsByProtectedResource":{
      "name":"ListRestoreJobsByProtectedResource",
      "http":{
        "method":"GET",
        "requestUri":"/resources/{resourceArn}/restore-jobs/"
      },
      "input":{"shape":"ListRestoreJobsByProtectedResourceInput"},
      "output":{"shape":"ListRestoreJobsByProtectedResourceOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>This returns restore jobs that contain the specified protected resource.</p> <p>You must include <code>ResourceArn</code>. You can optionally include <code>NextToken</code>, <code>ByStatus</code>, <code>MaxResults</code>, <code>ByRecoveryPointCreationDateAfter</code> , and <code>ByRecoveryPointCreationDateBefore</code>.</p>"
    },
    "ListRestoreTestingPlans":{
      "name":"ListRestoreTestingPlans",
      "http":{
        "method":"GET",
        "requestUri":"/restore-testing/plans",
        "responseCode":200
      },
      "input":{"shape":"ListRestoreTestingPlansInput"},
      "output":{"shape":"ListRestoreTestingPlansOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns a list of restore testing plans.</p>"
    },
    "ListRestoreTestingSelections":{
      "name":"ListRestoreTestingSelections",
      "http":{
        "method":"GET",
        "requestUri":"/restore-testing/plans/{RestoreTestingPlanName}/selections",
        "responseCode":200
      },
      "input":{"shape":"ListRestoreTestingSelectionsInput"},
      "output":{"shape":"ListRestoreTestingSelectionsOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns a list of restore testing selections. Can be filtered by <code>MaxResults</code> and <code>RestoreTestingPlanName</code>.</p>"
    },
    "ListTags":{
      "name":"ListTags",
      "http":{
        "method":"GET",
        "requestUri":"/tags/{resourceArn}/"
      },
      "input":{"shape":"ListTagsInput"},
      "output":{"shape":"ListTagsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Returns the tags assigned to the resource, such as a target recovery point, backup plan, or backup vault.</p> <p>This operation returns results depending on the resource type used in the value for <code>resourceArn</code>. For example, recovery points of Amazon DynamoDB with Advanced Settings have an ARN (Amazon Resource Name) that begins with <code>arn:aws:backup</code>. Recovery points (backups) of DynamoDB without Advanced Settings enabled have an ARN that begins with <code>arn:aws:dynamodb</code>.</p> <p>When this operation is called and when you include values of <code>resourceArn</code> that have an ARN other than <code>arn:aws:backup</code>, it may return one of the exceptions listed below. To prevent this exception, include only values representing resource types that are fully managed by Backup. These have an ARN that begins <code>arn:aws:backup</code> and they are noted in the <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/backup-feature-availability.html#features-by-resource\">Feature availability by resource</a> table.</p>",
      "idempotent":true
    },
    "PutBackupVaultAccessPolicy":{
      "name":"PutBackupVaultAccessPolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/backup-vaults/{backupVaultName}/access-policy"
      },
      "input":{"shape":"PutBackupVaultAccessPolicyInput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Sets a resource-based policy that is used to manage access permissions on the target backup vault. Requires a backup vault name and an access policy document in JSON format.</p>",
      "idempotent":true
    },
    "PutBackupVaultLockConfiguration":{
      "name":"PutBackupVaultLockConfiguration",
      "http":{
        "method":"PUT",
        "requestUri":"/backup-vaults/{backupVaultName}/vault-lock"
      },
      "input":{"shape":"PutBackupVaultLockConfigurationInput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Applies Backup Vault Lock to a backup vault, preventing attempts to delete any recovery point stored in or created in a backup vault. Vault Lock also prevents attempts to update the lifecycle policy that controls the retention period of any recovery point currently stored in a backup vault. If specified, Vault Lock enforces a minimum and maximum retention period for future backup and copy jobs that target a backup vault.</p> <note> <p>Backup Vault Lock has been assessed by Cohasset Associates for use in environments that are subject to SEC 17a-4, CFTC, and FINRA regulations. For more information about how Backup Vault Lock relates to these regulations, see the <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/samples/cohassetreport.zip\">Cohasset Associates Compliance Assessment.</a> </p> </note> <p>For more information, see <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/vault-lock.html\">Backup Vault Lock</a>.</p>",
      "idempotent":true
    },
    "PutBackupVaultNotifications":{
      "name":"PutBackupVaultNotifications",
      "http":{
        "method":"PUT",
        "requestUri":"/backup-vaults/{backupVaultName}/notification-configuration"
      },
      "input":{"shape":"PutBackupVaultNotificationsInput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Turns on notifications on a backup vault for the specified topic and events.</p>",
      "idempotent":true
    },
    "PutRestoreValidationResult":{
      "name":"PutRestoreValidationResult",
      "http":{
        "method":"PUT",
        "requestUri":"/restore-jobs/{restoreJobId}/validations",
        "responseCode":204
      },
      "input":{"shape":"PutRestoreValidationResultInput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidRequestException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>This request allows you to send your independent self-run restore test validation results. <code>RestoreJobId</code> and <code>ValidationStatus</code> are required. Optionally, you can input a <code>ValidationStatusMessage</code>.</p>",
      "idempotent":true
    },
    "RevokeRestoreAccessBackupVault":{
      "name":"RevokeRestoreAccessBackupVault",
      "http":{
        "method":"DELETE",
        "requestUri":"/logically-air-gapped-backup-vaults/{backupVaultName}/restore-access-backup-vaults/{restoreAccessBackupVaultArn}"
      },
      "input":{"shape":"RevokeRestoreAccessBackupVaultInput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Revokes access to a restore access backup vault, removing the ability to restore from its recovery points and permanently deleting the vault.</p>"
    },
    "StartBackupJob":{
      "name":"StartBackupJob",
      "http":{
        "method":"PUT",
        "requestUri":"/backup-jobs"
      },
      "input":{"shape":"StartBackupJobInput"},
      "output":{"shape":"StartBackupJobOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Starts an on-demand backup job for the specified resource.</p>",
      "idempotent":true
    },
    "StartCopyJob":{
      "name":"StartCopyJob",
      "http":{
        "method":"PUT",
        "requestUri":"/copy-jobs"
      },
      "input":{"shape":"StartCopyJobInput"},
      "output":{"shape":"StartCopyJobOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Starts a job to create a one-time copy of the specified resource.</p> <p>Does not support continuous backups.</p>",
      "idempotent":true
    },
    "StartReportJob":{
      "name":"StartReportJob",
      "http":{
        "method":"POST",
        "requestUri":"/audit/report-jobs/{reportPlanName}"
      },
      "input":{"shape":"StartReportJobInput"},
      "output":{"shape":"StartReportJobOutput"},
      "errors":[
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Starts an on-demand report job for the specified report plan.</p>",
      "idempotent":true
    },
    "StartRestoreJob":{
      "name":"StartRestoreJob",
      "http":{
        "method":"PUT",
        "requestUri":"/restore-jobs"
      },
      "input":{"shape":"StartRestoreJobInput"},
      "output":{"shape":"StartRestoreJobOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Recovers the saved resource identified by an Amazon Resource Name (ARN).</p>",
      "idempotent":true
    },
    "StopBackupJob":{
      "name":"StopBackupJob",
      "http":{
        "method":"POST",
        "requestUri":"/backup-jobs/{backupJobId}"
      },
      "input":{"shape":"StopBackupJobInput"},
      "errors":[
        {"shape":"MissingParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Attempts to cancel a job to create a one-time backup of a resource.</p> <p>This action is not supported for the following services:</p> <ul> <li> <p>Amazon Aurora</p> </li> <li> <p>Amazon DocumentDB (with MongoDB compatibility)</p> </li> <li> <p>Amazon FSx for Lustre</p> </li> <li> <p>Amazon FSx for NetApp ONTAP</p> </li> <li> <p>Amazon FSx for OpenZFS</p> </li> <li> <p>Amazon FSx for Windows File Server</p> </li> <li> <p>Amazon Neptune</p> </li> <li> <p>SAP HANA databases on Amazon EC2 instances</p> </li> <li> <p>Amazon RDS</p> </li> </ul>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/tags/{resourceArn}"
      },
      "input":{"shape":"TagResourceInput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Assigns a set of key-value pairs to a resource.</p>",
      "idempotent":true
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/untag/{resourceArn}"
      },
      "input":{"shape":"UntagResourceInput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Removes a set of key-value pairs from a recovery point, backup plan, or backup vault identified by an Amazon Resource Name (ARN)</p> <p>This API is not supported for recovery points for resource types including Aurora, Amazon DocumentDB. Amazon EBS, Amazon FSx, Neptune, and Amazon RDS.</p>",
      "idempotent":true
    },
    "UpdateBackupPlan":{
      "name":"UpdateBackupPlan",
      "http":{
        "method":"POST",
        "requestUri":"/backup/plans/{backupPlanId}"
      },
      "input":{"shape":"UpdateBackupPlanInput"},
      "output":{"shape":"UpdateBackupPlanOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Updates the specified backup plan. The new version is uniquely identified by its ID.</p>",
      "idempotent":true
    },
    "UpdateFramework":{
      "name":"UpdateFramework",
      "http":{
        "method":"PUT",
        "requestUri":"/audit/frameworks/{frameworkName}"
      },
      "input":{"shape":"UpdateFrameworkInput"},
      "output":{"shape":"UpdateFrameworkOutput"},
      "errors":[
        {"shape":"AlreadyExistsException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Updates the specified framework.</p>",
      "idempotent":true
    },
    "UpdateGlobalSettings":{
      "name":"UpdateGlobalSettings",
      "http":{
        "method":"PUT",
        "requestUri":"/global-settings"
      },
      "input":{"shape":"UpdateGlobalSettingsInput"},
      "errors":[
        {"shape":"ServiceUnavailableException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidRequestException"}
      ],
      "documentation":"<p>Updates whether the Amazon Web Services account is opted in to cross-account backup. Returns an error if the account is not an Organizations management account. Use the <code>DescribeGlobalSettings</code> API to determine the current settings.</p>"
    },
    "UpdateRecoveryPointIndexSettings":{
      "name":"UpdateRecoveryPointIndexSettings",
      "http":{
        "method":"POST",
        "requestUri":"/backup-vaults/{backupVaultName}/recovery-points/{recoveryPointArn}/index"
      },
      "input":{"shape":"UpdateRecoveryPointIndexSettingsInput"},
      "output":{"shape":"UpdateRecoveryPointIndexSettingsOutput"},
      "errors":[
        {"shape":"MissingParameterValueException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidRequestException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>This operation updates the settings of a recovery point index.</p> <p>Required: BackupVaultName, RecoveryPointArn, and IAMRoleArn</p>",
      "idempotent":true
    },
    "UpdateRecoveryPointLifecycle":{
      "name":"UpdateRecoveryPointLifecycle",
      "http":{
        "method":"POST",
        "requestUri":"/backup-vaults/{backupVaultName}/recovery-points/{recoveryPointArn}"
      },
      "input":{"shape":"UpdateRecoveryPointLifecycleInput"},
      "output":{"shape":"UpdateRecoveryPointLifecycleOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"InvalidRequestException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Sets the transition lifecycle of a recovery point.</p> <p>The lifecycle defines when a protected resource is transitioned to cold storage and when it expires. Backup transitions and expires backups automatically according to the lifecycle that you define.</p> <p>Resource types that can transition to cold storage are listed in the <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/backup-feature-availability.html#features-by-resource\">Feature availability by resource</a> table. Backup ignores this expression for other resource types.</p> <p>Backups transitioned to cold storage must be stored in cold storage for a minimum of 90 days. Therefore, the “retention” setting must be 90 days greater than the “transition to cold after days” setting. The “transition to cold after days” setting cannot be changed after a backup has been transitioned to cold.</p> <important> <p>If your lifecycle currently uses the parameters <code>DeleteAfterDays</code> and <code>MoveToColdStorageAfterDays</code>, include these parameters and their values when you call this operation. Not including them may result in your plan updating with null values.</p> </important> <p>This operation does not support continuous backups.</p>",
      "idempotent":true
    },
    "UpdateRegionSettings":{
      "name":"UpdateRegionSettings",
      "http":{
        "method":"PUT",
        "requestUri":"/account-settings"
      },
      "input":{"shape":"UpdateRegionSettingsInput"},
      "errors":[
        {"shape":"ServiceUnavailableException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"InvalidParameterValueException"}
      ],
      "documentation":"<p>Updates the current service opt-in settings for the Region.</p> <p>Use the <code>DescribeRegionSettings</code> API to determine the resource types that are supported.</p>"
    },
    "UpdateReportPlan":{
      "name":"UpdateReportPlan",
      "http":{
        "method":"PUT",
        "requestUri":"/audit/report-plans/{reportPlanName}"
      },
      "input":{"shape":"UpdateReportPlanInput"},
      "output":{"shape":"UpdateReportPlanOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"ServiceUnavailableException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ConflictException"}
      ],
      "documentation":"<p>Updates the specified report plan.</p>",
      "idempotent":true
    },
    "UpdateRestoreTestingPlan":{
      "name":"UpdateRestoreTestingPlan",
      "http":{
        "method":"PUT",
        "requestUri":"/restore-testing/plans/{RestoreTestingPlanName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateRestoreTestingPlanInput"},
      "output":{"shape":"UpdateRestoreTestingPlanOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>This request will send changes to your specified restore testing plan. <code>RestoreTestingPlanName</code> cannot be updated after it is created.</p> <p> <code>RecoveryPointSelection</code> can contain:</p> <ul> <li> <p> <code>Algorithm</code> </p> </li> <li> <p> <code>ExcludeVaults</code> </p> </li> <li> <p> <code>IncludeVaults</code> </p> </li> <li> <p> <code>RecoveryPointTypes</code> </p> </li> <li> <p> <code>SelectionWindowDays</code> </p> </li> </ul>",
      "idempotent":true
    },
    "UpdateRestoreTestingSelection":{
      "name":"UpdateRestoreTestingSelection",
      "http":{
        "method":"PUT",
        "requestUri":"/restore-testing/plans/{RestoreTestingPlanName}/selections/{RestoreTestingSelectionName}",
        "responseCode":200
      },
      "input":{"shape":"UpdateRestoreTestingSelectionInput"},
      "output":{"shape":"UpdateRestoreTestingSelectionOutput"},
      "errors":[
        {"shape":"ConflictException"},
        {"shape":"InvalidParameterValueException"},
        {"shape":"MissingParameterValueException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceUnavailableException"}
      ],
      "documentation":"<p>Updates the specified restore testing selection.</p> <p>Most elements except the <code>RestoreTestingSelectionName</code> can be updated with this request.</p> <p>You can use either protected resource ARNs or conditions, but not both.</p>",
      "idempotent":true
    }
  },
  "shapes":{
    "ARN":{"type":"string"},
    "AccountId":{
      "type":"string",
      "pattern":"^[0-9]{12}$"
    },
    "AdvancedBackupSetting":{
      "type":"structure",
      "members":{
        "ResourceType":{
          "shape":"ResourceType",
          "documentation":"<p>Specifies an object containing resource type and backup options. The only supported resource type is Amazon EC2 instances with Windows Volume Shadow Copy Service (VSS). For a CloudFormation example, see the <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/integrate-cloudformation-with-aws-backup.html\">sample CloudFormation template to enable Windows VSS</a> in the <i>Backup User Guide</i>.</p> <p>Valid values: <code>EC2</code>.</p>"
        },
        "BackupOptions":{
          "shape":"BackupOptions",
          "documentation":"<p>Specifies the backup option for a selected resource. This option is only available for Windows VSS backup jobs.</p> <p>Valid values: </p> <p>Set to <code>\"WindowsVSS\":\"enabled\"</code> to enable the <code>WindowsVSS</code> backup option and create a Windows VSS backup. </p> <p>Set to <code>\"WindowsVSS\":\"disabled\"</code> to create a regular backup. The <code>WindowsVSS</code> option is not enabled by default.</p> <p>If you specify an invalid option, you get an <code>InvalidParameterValueException</code> exception.</p> <p>For more information about Windows VSS backups, see <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/windows-backups.html\">Creating a VSS-Enabled Windows Backup</a>.</p>"
        }
      },
      "documentation":"<p>The backup options for each resource type.</p>"
    },
    "AdvancedBackupSettings":{
      "type":"list",
      "member":{"shape":"AdvancedBackupSetting"}
    },
    "AggregationPeriod":{
      "type":"string",
      "enum":[
        "ONE_DAY",
        "SEVEN_DAYS",
        "FOURTEEN_DAYS"
      ]
    },
    "AlreadyExistsException":{
      "type":"structure",
      "members":{
        "Code":{"shape":"string"},
        "Message":{"shape":"string"},
        "CreatorRequestId":{
          "shape":"string",
          "documentation":"<p/>"
        },
        "Arn":{
          "shape":"string",
          "documentation":"<p/>"
        },
        "Type":{
          "shape":"string",
          "documentation":"<p/>"
        },
        "Context":{
          "shape":"string",
          "documentation":"<p/>"
        }
      },
      "documentation":"<p>The required resource already exists.</p>",
      "exception":true
    },
    "AssociateBackupVaultMpaApprovalTeamInput":{
      "type":"structure",
      "required":[
        "BackupVaultName",
        "MpaApprovalTeamArn"
      ],
      "members":{
        "BackupVaultName":{
          "shape":"BackupVaultName",
          "documentation":"<p>The name of the backup vault to associate with the MPA approval team.</p>",
          "location":"uri",
          "locationName":"backupVaultName"
        },
        "MpaApprovalTeamArn":{
          "shape":"ARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the MPA approval team to associate with the backup vault.</p>"
        },
        "RequesterComment":{
          "shape":"RequesterComment",
          "documentation":"<p>A comment provided by the requester explaining the association request.</p>"
        }
      }
    },
    "BackupJob":{
      "type":"structure",
      "members":{
        "AccountId":{
          "shape":"AccountId",
          "documentation":"<p>The account ID that owns the backup job.</p>"
        },
        "BackupJobId":{
          "shape":"string",
          "documentation":"<p>Uniquely identifies a request to Backup to back up a resource.</p>"
        },
        "BackupVaultName":{
          "shape":"BackupVaultName",
          "documentation":"<p>The name of a logical container where backups are stored. Backup vaults are identified by names that are unique to the account used to create them and the Amazon Web Services Region where they are created.</p>"
        },
        "BackupVaultArn":{
          "shape":"ARN",
          "documentation":"<p>An Amazon Resource Name (ARN) that uniquely identifies a backup vault; for example, <code>arn:aws:backup:us-east-1:123456789012:backup-vault:aBackupVault</code>.</p>"
        },
        "RecoveryPointArn":{
          "shape":"ARN",
          "documentation":"<p>An ARN that uniquely identifies a recovery point; for example, <code>arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45</code>.</p>"
        },
        "ResourceArn":{
          "shape":"ARN",
          "documentation":"<p>An ARN that uniquely identifies a resource. The format of the ARN depends on the resource type.</p>"
        },
        "CreationDate":{
          "shape":"timestamp",
          "documentation":"<p>The date and time a backup job is created, in Unix format and Coordinated Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
        },
        "CompletionDate":{
          "shape":"timestamp",
          "documentation":"<p>The date and time a job to create a backup job is completed, in Unix format and Coordinated Universal Time (UTC). The value of <code>CompletionDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
        },
        "State":{
          "shape":"BackupJobState",
          "documentation":"<p>The current state of a backup job.</p>"
        },
        "StatusMessage":{
          "shape":"string",
          "documentation":"<p>A detailed message explaining the status of the job to back up a resource.</p>"
        },
        "PercentDone":{
          "shape":"string",
          "documentation":"<p>Contains an estimated percentage complete of a job at the time the job status was queried.</p>"
        },
        "BackupSizeInBytes":{
          "shape":"Long",
          "documentation":"<p>The size, in bytes, of a backup (recovery point).</p> <p>This value can render differently depending on the resource type as Backup pulls in data information from other Amazon Web Services services. For example, the value returned may show a value of <code>0</code>, which may differ from the anticipated value.</p> <p>The expected behavior for values by resource type are described as follows:</p> <ul> <li> <p>Amazon Aurora, Amazon DocumentDB, and Amazon Neptune do not have this value populate from the operation <code>GetBackupJobStatus</code>.</p> </li> <li> <p>For Amazon DynamoDB with advanced features, this value refers to the size of the recovery point (backup).</p> </li> <li> <p>Amazon EC2 and Amazon EBS show volume size (provisioned storage) returned as part of this value. Amazon EBS does not return backup size information; snapshot size will have the same value as the original resource that was backed up.</p> </li> <li> <p>For Amazon EFS, this value refers to the delta bytes transferred during a backup.</p> </li> <li> <p>Amazon FSx does not populate this value from the operation <code>GetBackupJobStatus</code> for FSx file systems.</p> </li> <li> <p>An Amazon RDS instance will show as <code>0</code>.</p> </li> <li> <p>For virtual machines running VMware, this value is passed to Backup through an asynchronous workflow, which can mean this displayed value can under-represent the actual backup size.</p> </li> </ul>"
        },
        "IamRoleArn":{
          "shape":"IAMRoleArn",
          "documentation":"<p>Specifies the IAM role ARN used to create the target recovery point. IAM roles other than the default role must include either <code>AWSBackup</code> or <code>AwsBackup</code> in the role name. For example, <code>arn:aws:iam::123456789012:role/AWSBackupRDSAccess</code>. Role names without those strings lack permissions to perform backup jobs.</p>"
        },
        "CreatedBy":{
          "shape":"RecoveryPointCreator",
          "documentation":"<p>Contains identifying information about the creation of a backup job, including the <code>BackupPlanArn</code>, <code>BackupPlanId</code>, <code>BackupPlanVersion</code>, and <code>BackupRuleId</code> of the backup plan used to create it.</p>"
        },
        "ExpectedCompletionDate":{
          "shape":"timestamp",
          "documentation":"<p>The date and time a job to back up resources is expected to be completed, in Unix format and Coordinated Universal Time (UTC). The value of <code>ExpectedCompletionDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
        },
        "StartBy":{
          "shape":"timestamp",
          "documentation":"<p>Specifies the time in Unix format and Coordinated Universal Time (UTC) when a backup job must be started before it is canceled. The value is calculated by adding the start window to the scheduled time. So if the scheduled time were 6:00 PM and the start window is 2 hours, the <code>StartBy</code> time would be 8:00 PM on the date specified. The value of <code>StartBy</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
        },
        "ResourceType":{
          "shape":"ResourceType",
          "documentation":"<p>The type of Amazon Web Services resource to be backed up; for example, an Amazon Elastic Block Store (Amazon EBS) volume or an Amazon Relational Database Service (Amazon RDS) database. For Windows Volume Shadow Copy Service (VSS) backups, the only supported resource type is Amazon EC2.</p>"
        },
        "BytesTransferred":{
          "shape":"Long",
          "documentation":"<p>The size in bytes transferred to a backup vault at the time that the job status was queried.</p>"
        },
        "BackupOptions":{
          "shape":"BackupOptions",
          "documentation":"<p>Specifies the backup option for a selected resource. This option is only available for Windows Volume Shadow Copy Service (VSS) backup jobs.</p> <p>Valid values: Set to <code>\"WindowsVSS\":\"enabled\"</code> to enable the <code>WindowsVSS</code> backup option and create a Windows VSS backup. Set to <code>\"WindowsVSS\":\"disabled\"</code> to create a regular backup. If you specify an invalid option, you get an <code>InvalidParameterValueException</code> exception.</p>"
        },
        "BackupType":{
          "shape":"string",
          "documentation":"<p>Represents the type of backup for a backup job.</p>"
        },
        "ParentJobId":{
          "shape":"string",
          "documentation":"<p>This uniquely identifies a request to Backup to back up a resource. The return will be the parent (composite) job ID.</p>"
        },
        "IsParent":{
          "shape":"boolean",
          "documentation":"<p>This is a boolean value indicating this is a parent (composite) backup job.</p>"
        },
        "ResourceName":{
          "shape":"string",
          "documentation":"<p>The non-unique name of the resource that belongs to the specified backup.</p>"
        },
        "InitiationDate":{
          "shape":"timestamp",
          "documentation":"<p>The date on which the backup job was initiated.</p>"
        },
        "MessageCategory":{
          "shape":"string",
          "documentation":"<p>This parameter is the job count for the specified message category.</p> <p>Example strings may include <code>AccessDenied</code>, <code>SUCCESS</code>, <code>AGGREGATE_ALL</code>, and <code>INVALIDPARAMETERS</code>. See <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/monitoring.html\">Monitoring</a> for a list of MessageCategory strings.</p> <p>The the value ANY returns count of all message categories.</p> <p> <code>AGGREGATE_ALL</code> aggregates job counts for all message categories and returns the sum.</p>"
        }
      },
      "documentation":"<p>Contains detailed information about a backup job.</p>"
    },
    "BackupJobChildJobsInState":{
      "type":"map",
      "key":{"shape":"BackupJobState"},
      "value":{"shape":"Long"}
    },
    "BackupJobState":{
      "type":"string",
      "enum":[
        "CREATED",
        "PENDING",
        "RUNNING",
        "ABORTING",
        "ABORTED",
        "COMPLETED",
        "FAILED",
        "EXPIRED",
        "PARTIAL"
      ]
    },
    "BackupJobStatus":{
      "type":"string",
      "enum":[
        "CREATED",
        "PENDING",
        "RUNNING",
        "ABORTING",
        "ABORTED",
        "COMPLETED",
        "FAILED",
        "EXPIRED",
        "PARTIAL",
        "AGGREGATE_ALL",
        "ANY"
      ]
    },
    "BackupJobSummary":{
      "type":"structure",
      "members":{
        "Region":{
          "shape":"Region",
          "documentation":"<p>The Amazon Web Services Regions within the job summary.</p>"
        },
        "AccountId":{
          "shape":"AccountId",
          "documentation":"<p>The account ID that owns the jobs within the summary.</p>"
        },
        "State":{
          "shape":"BackupJobStatus",
          "documentation":"<p>This value is job count for jobs with the specified state.</p>"
        },
        "ResourceType":{
          "shape":"ResourceType",
          "documentation":"<p>This value is the job count for the specified resource type. The request <code>GetSupportedResourceTypes</code> returns strings for supported resource types.</p>"
        },
        "MessageCategory":{
          "shape":"MessageCategory",
          "documentation":"<p>This parameter is the job count for the specified message category.</p> <p>Example strings include <code>AccessDenied</code>, <code>Success</code>, and <code>InvalidParameters</code>. See <a href=\"https://docs.aws.amazon.com/aws-backup/latest/devguide/monitoring.html\">Monitoring</a> for a list of MessageCategory strings.</p> <p>The the value ANY returns count of all message categories.</p> <p> <code>AGGREGATE_ALL</code> aggregates job counts for all message categories and returns the sum.</p>"
        },
        "Count":{
          "shape":"integer",
          "documentation":"<p>The value as a number of jobs in a job summary.</p>"
        },
        "StartTime":{
          "shape":"timestamp",
          "documentation":"<p>The value of time in number format of a job start time.</p> <p>This value is the time in Unix format, Coordinated Universal Time (UTC), and accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
        },
        "EndTime":{
          "shape":"timestamp",
          "documentation":"<p>The value of time in number format of a job end time.</p> <p>This value is the time in Unix format, Coordinated Universal Time (UTC), and accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
        }
      },
      "documentation":"<p>This is a summary of jobs created or running within the most recent 30 days.</p> <p>The returned summary may contain the following: Region, Account, State, RestourceType, MessageCategory, StartTime, EndTime, and Count of included jobs.</p>"
    },
    "BackupJobSummaryList":{
      "type":"list",
      "member":{"shape":"BackupJobSummary"}
    },
    "BackupJobsList":{
      "type":"list",
      "member":{"shape":"BackupJob"}
    },
    "BackupOptionKey":{
      "type":"string",
      "pattern":"^[a-zA-Z0-9\\-\\_\\.]{1,50}$"
    },
    "BackupOptionValue":{
      "type":"string",
      "pattern":"^[a-zA-Z0-9\\-\\_\\.]{1,50}$"
    },
    "BackupOptions":{
      "type":"map",
      "key":{"shape":"BackupOptionKey"},
      "value":{"shape":"BackupOptionValue"}
    },
    "BackupPlan":{
      "type":"structure",
      "required":[
        "BackupPlanName",
        "Rules"
      ],
      "members":{
        "BackupPlanName":{
          "shape":"BackupPlanName",
          "documentation":"<p>The display name of a backup plan. Must contain only alphanumeric or '-_.' special characters.</p> <p>If this is set in the console, it can contain 1 to 50 characters; if this is set through CLI or API, it can contain 1 to 200 characters.</p>"
        },
        "Rules":{
          "shape":"BackupRules",
          "documentation":"<p>An array of <code>BackupRule</code> objects, each of which specifies a scheduled task that is used to back up a selection of resources. </p>"
        },
        "AdvancedBackupSettings":{
          "shape":"AdvancedBackupSettings",
          "documentation":"<p>Contains a list of <code>BackupOptions</code> for each resource type.</p>"
        }
      },
      "documentation":"<p>Contains an optional backup plan display name and an array of <code>BackupRule</code> objects, each of which specifies a backup rule. Each rule in a backup plan is a separate scheduled task and can back up a different selection of Amazon Web Services resources.</p>"
    },
    "BackupPlanInput":{
      "type":"structure",
      "required":[
        "BackupPlanName",
        "Rules"
      ],
      "members":{
        "BackupPlanName":{
          "shape":"BackupPlanName",
          "documentation":"<p>The display name of a backup plan. Must contain 1 to 50 alphanumeric or '-_.' characters.</p>"
        },
        "Rules":{
          "shape":"BackupRulesInput",
          "documentation":"<p>An array of <code>BackupRule</code> objects, each of which specifies a scheduled task that is used to back up a selection of resources.</p>"
        },
        "AdvancedBackupSettings":{
          "shape":"AdvancedBackupSettings",
          "documentation":"<p>Specifies a list of <code>BackupOptions</code> for each resource type. These settings are only available for Windows Volume Shadow Copy Service (VSS) backup jobs.</p>"
        }
      },
      "documentation":"<p>Contains an optional backup plan display name and an array of <code>BackupRule</code> objects, each of which specifies a backup rule. Each rule in a backup plan is a separate scheduled task. </p>"
    },
    "BackupPlanName":{"type":"string"},
    "BackupPlanTemplatesList":{
      "type":"list",
      "member":{"shape":"BackupPlanTemplatesListMember"}
    },
    "BackupPlanTemplatesListMember":{
      "type":"structure",
      "members":{
        "BackupPlanTemplateId":{
          "shape":"string",
          "documentation":"<p>Uniquely identifies a stored backup plan template.</p>"
        },
        "BackupPlanTemplateName":{
          "shape":"string",
          "documentation":"<p>The optional display name of a backup plan template.</p>"
        }
      },
      "documentation":"<p>An object specifying metadata associated with a backup plan template.</p>"
    },
    "BackupPlanVersionsList":{
      "type":"list",
      "member":{"shape":"BackupPlansListMember"}
    },
    "BackupPlansList":{
      "type":"list",
      "member":{"shape":"BackupPlansListMember"}
    },
    "BackupPlansListMember":{
      "type":"structure",
      "members":{
        "BackupPlanArn":{
          "shape":"ARN",
          "documentation":"<p>An Amazon Resource Name (ARN) that uniquely identifies a backup plan; for example, <code>arn:aws:backup:us-east-1:123456789012:plan:8F81F553-3A74-4A3F-B93D-B3360DC80C50</code>.</p>"
        },
        "BackupPlanId":{
          "shape":"string",
          "documentation":"<p>Uniquely identifies a backup plan.</p>"
        },
        "CreationDate":{
          "shape":"timestamp",
          "documentation":"<p>The date and time a resource backup plan is created, in Unix format and Coordinated Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
        },
        "DeletionDate":{
          "shape":"timestamp",
          "documentation":"<p>The date and time a backup plan is deleted, in Unix format and Coordinated Universal Time (UTC). The value of <code>DeletionDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
        },
        "VersionId":{
          "shape":"string",
          "documentation":"<p>Unique, randomly generated, Unicode, UTF-8 encoded strings that are at most 1,024 bytes long. Version IDs cannot be edited.</p>"
        },
        "BackupPlanName":{
          "shape":"BackupPlanName",
          "documentation":"<p>The display name of a saved backup plan.</p>"
        },
        "CreatorRequestId":{
          "shape":"string",
          "documentation":"<p>A unique string that identifies the request and allows failed requests to be retried without the risk of running the operation twice. This parameter is optional.</p> <p>If used, this parameter must contain 1 to 50 alphanumeric or '-_.' characters.</p>"
        },
        "LastExecutionDate":{
          "shape":"timestamp",
          "documentation":"<p>The last time this backup plan was run. A date and time, in Unix format and Coordinated Universal Time (UTC). The value of <code>LastExecutionDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>"
        },
        "AdvancedBackupSettings":{
          "shape":"AdvancedBackupSettings",
          "documentation":"<p>Contains a list of <code>BackupOptions</code> for a resource type.</p>"
        }
      },
      "documentation":"<p>Contains metadata about a backup plan.</p>"
    },
    "BackupRule":{
      "type":"structure",
      "required":[
        "RuleName",
        "TargetBackupVaultName"
      ],
      "members":{
        "RuleName":{
          "shape":"BackupRuleName",
          "documentation":"<p>A display name for a backup rule. Must contain 1 to 50 alphanumeric or '-_.' characters.</p>"
        },
        "TargetBackupVaultName":{
          "shape":"BackupVaultName",
          "documentation":"<p>The name of a logical container where backups are stored. Backup vaults are identified by names that are unique to the account used to create them and the Amazon Web Services Region where they are created.</p>"
        },
        "ScheduleExpression":{
          "shape":"CronExpression",
          "documentation":"<p>A cron expression in UTC specifying when Backup initiates a backup job. When no CRON expression is provided, Backup will use the default expression <code>cron(0 5 ? * * *)</code>.</p> <p>For more information about Amazon Web Services cron expressions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/events/ScheduledEvents.html\">Schedule Expressions for Rules</a> in the <i>Amazon CloudWatch Events User Guide</i>.</p> <p>Two examples of Amazon Web Services cron expressions are <code> 15 * ? * * *</code> (take a backup every hour at 15 minutes past the hour) and <code>0 12 * * ? *</code> (take a backup every day at 12 noon UTC).</p> <p>For a table of examples, click the preceding link and scroll down the page.</p>"
        },
        "StartWindowMinutes":{
          "shape":"WindowMinutes",
          "documentation":"<p>A value in minutes after a backup is scheduled before a job will be canceled if it doesn't start successfully. This value is optional. If this value is included, it must be at least 60 minutes to avoid errors.</p> <p>During the start window, the backup job status remains in <code>CREATED</code> status until it has successfully begun or until the start window time has run out. If within the start window time Backup receives an error that allows the job to be retried, Backup will automatically retry to begin the job at least every 10 minutes until the backup successfully begins (the job status changes to <code>RUNNING</code>) or until the job status changes to <code>EXPIRED</code> (which is expected to occur when the start window time is over).</p>"
        },
        "CompletionWindowMinutes":{
          "shape":"WindowMinutes",
          "documentation":"<p>A value in minutes after a backup job is successfully started before it must be completed or it will be canceled by Backup. This value is optional.</p>"
[...]
