{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2016-08-10",
    "endpointPrefix":"batch",
    "jsonVersion":"1.1",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceAbbreviation":"AWS Batch",
    "serviceFullName":"AWS Batch",
    "serviceId":"Batch",
    "signatureVersion":"v4",
    "uid":"batch-2016-08-10",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "CancelJob":{
      "name":"CancelJob",
      "http":{
        "method":"POST",
        "requestUri":"/v1/canceljob"
      },
      "input":{"shape":"CancelJobRequest"},
      "output":{"shape":"CancelJobResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Cancels a job in an Batch job queue. Jobs that are in a <code>SUBMITTED</code>, <code>PENDING</code>, or <code>RUNNABLE</code> state are cancelled and the job status is updated to <code>FAILED</code>.</p> <note> <p>A <code>PENDING</code> job is canceled after all dependency jobs are completed. Therefore, it may take longer than expected to cancel a job in <code>PENDING</code> status.</p> <p>When you try to cancel an array parent job in <code>PENDING</code>, Batch attempts to cancel all child jobs. The array parent job is canceled when all child jobs are completed.</p> </note> <p>Jobs that progressed to the <code>STARTING</code> or <code>RUNNING</code> state aren't canceled. However, the API operation still succeeds, even if no job is canceled. These jobs must be terminated with the <a>TerminateJob</a> operation.</p>"
    },
    "CreateComputeEnvironment":{
      "name":"CreateComputeEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/v1/createcomputeenvironment"
      },
      "input":{"shape":"CreateComputeEnvironmentRequest"},
      "output":{"shape":"CreateComputeEnvironmentResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Creates an Batch compute environment. You can create <code>MANAGED</code> or <code>UNMANAGED</code> compute environments. <code>MANAGED</code> compute environments can use Amazon EC2 or Fargate resources. <code>UNMANAGED</code> compute environments can only use EC2 resources.</p> <p>In a managed compute environment, Batch manages the capacity and instance types of the compute resources within the environment. This is based on the compute resource specification that you define or the <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-launch-templates.html\">launch template</a> that you specify when you create the compute environment. Either, you can choose to use EC2 On-Demand Instances and EC2 Spot Instances. Or, you can use Fargate and Fargate Spot capacity in your managed compute environment. You can optionally set a maximum price so that Spot Instances only launch when the Spot Instance price is less than a specified percentage of the On-Demand price.</p> <note> <p>Multi-node parallel jobs aren't supported on Spot Instances.</p> </note> <p>In an unmanaged compute environment, you can manage your own EC2 compute resources and have flexibility with how you configure your compute resources. For example, you can use custom AMIs. However, you must verify that each of your AMIs meet the Amazon ECS container instance AMI specification. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/container_instance_AMIs.html\">container instance AMIs</a> in the <i>Amazon Elastic Container Service Developer Guide</i>. After you created your unmanaged compute environment, you can use the <a>DescribeComputeEnvironments</a> operation to find the Amazon ECS cluster that's associated with it. Then, launch your container instances into that Amazon ECS cluster. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/launch_container_instance.html\">Launching an Amazon ECS container instance</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p> <note> <p>To create a compute environment that uses EKS resources, the caller must have permissions to call <code>eks:DescribeCluster</code>.</p> </note> <note> <p>Batch doesn't automatically upgrade the AMIs in a compute environment after it's created. For example, it also doesn't update the AMIs in your compute environment when a newer version of the Amazon ECS optimized AMI is available. You're responsible for the management of the guest operating system. This includes any updates and security patches. You're also responsible for any additional application software or utilities that you install on the compute resources. There are two ways to use a new AMI for your Batch jobs. The original method is to complete these steps:</p> <ol> <li> <p>Create a new compute environment with the new AMI.</p> </li> <li> <p>Add the compute environment to an existing job queue.</p> </li> <li> <p>Remove the earlier compute environment from your job queue.</p> </li> <li> <p>Delete the earlier compute environment.</p> </li> </ol> <p>In April 2022, Batch added enhanced support for updating compute environments. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/updating-compute-environments.html\">Updating compute environments</a>. To use the enhanced updating of compute environments to update AMIs, follow these rules:</p> <ul> <li> <p>Either don't set the service role (<code>serviceRole</code>) parameter or set it to the <b>AWSBatchServiceRole</b> service-linked role.</p> </li> <li> <p>Set the allocation strategy (<code>allocationStrategy</code>) parameter to <code>BEST_FIT_PROGRESSIVE</code>, <code>SPOT_CAPACITY_OPTIMIZED</code>, or <code>SPOT_PRICE_CAPACITY_OPTIMIZED</code>.</p> </li> <li> <p>Set the update to latest image version (<code>updateToLatestImageVersion</code>) parameter to <code>true</code>. The <code>updateToLatestImageVersion</code> parameter is used when you update a compute environment. This parameter is ignored when you create a compute environment.</p> </li> <li> <p>Don't specify an AMI ID in <code>imageId</code>, <code>imageIdOverride</code> (in <a href=\"https://docs.aws.amazon.com/batch/latest/APIReference/API_Ec2Configuration.html\"> <code>ec2Configuration</code> </a>), or in the launch template (<code>launchTemplate</code>). In that case, Batch selects the latest Amazon ECS optimized AMI that's supported by Batch at the time the infrastructure update is initiated. Alternatively, you can specify the AMI ID in the <code>imageId</code> or <code>imageIdOverride</code> parameters, or the launch template identified by the <code>LaunchTemplate</code> properties. Changing any of these properties starts an infrastructure update. If the AMI ID is specified in the launch template, it can't be replaced by specifying an AMI ID in either the <code>imageId</code> or <code>imageIdOverride</code> parameters. It can only be replaced by specifying a different launch template, or if the launch template version is set to <code>$Default</code> or <code>$Latest</code>, by setting either a new default version for the launch template (if <code>$Default</code>) or by adding a new version to the launch template (if <code>$Latest</code>).</p> </li> </ul> <p>If these rules are followed, any update that starts an infrastructure update causes the AMI ID to be re-selected. If the <code>version</code> setting in the launch template (<code>launchTemplate</code>) is set to <code>$Latest</code> or <code>$Default</code>, the latest or default version of the launch template is evaluated up at the time of the infrastructure update, even if the <code>launchTemplate</code> wasn't updated.</p> </note>"
    },
    "CreateConsumableResource":{
      "name":"CreateConsumableResource",
      "http":{
        "method":"POST",
        "requestUri":"/v1/createconsumableresource"
      },
      "input":{"shape":"CreateConsumableResourceRequest"},
      "output":{"shape":"CreateConsumableResourceResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Creates an Batch consumable resource.</p>"
    },
    "CreateJobQueue":{
      "name":"CreateJobQueue",
      "http":{
        "method":"POST",
        "requestUri":"/v1/createjobqueue"
      },
      "input":{"shape":"CreateJobQueueRequest"},
      "output":{"shape":"CreateJobQueueResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Creates an Batch job queue. When you create a job queue, you associate one or more compute environments to the queue and assign an order of preference for the compute environments.</p> <p>You also set a priority to the job queue that determines the order that the Batch scheduler places jobs onto its associated compute environments. For example, if a compute environment is associated with more than one job queue, the job queue with a higher priority is given preference for scheduling jobs to that compute environment.</p>"
    },
    "CreateSchedulingPolicy":{
      "name":"CreateSchedulingPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/v1/createschedulingpolicy"
      },
      "input":{"shape":"CreateSchedulingPolicyRequest"},
      "output":{"shape":"CreateSchedulingPolicyResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Creates an Batch scheduling policy.</p>"
    },
    "CreateServiceEnvironment":{
      "name":"CreateServiceEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/v1/createserviceenvironment"
      },
      "input":{"shape":"CreateServiceEnvironmentRequest"},
      "output":{"shape":"CreateServiceEnvironmentResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Creates a service environment for running service jobs. Service environments define capacity limits for specific service types such as SageMaker Training jobs.</p>"
    },
    "DeleteComputeEnvironment":{
      "name":"DeleteComputeEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/v1/deletecomputeenvironment"
      },
      "input":{"shape":"DeleteComputeEnvironmentRequest"},
      "output":{"shape":"DeleteComputeEnvironmentResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Deletes an Batch compute environment.</p> <p>Before you can delete a compute environment, you must set its state to <code>DISABLED</code> with the <a>UpdateComputeEnvironment</a> API operation and disassociate it from any job queues with the <a>UpdateJobQueue</a> API operation. Compute environments that use Fargate resources must terminate all active jobs on that compute environment before deleting the compute environment. If this isn't done, the compute environment enters an invalid state.</p>"
    },
    "DeleteConsumableResource":{
      "name":"DeleteConsumableResource",
      "http":{
        "method":"POST",
        "requestUri":"/v1/deleteconsumableresource"
      },
      "input":{"shape":"DeleteConsumableResourceRequest"},
      "output":{"shape":"DeleteConsumableResourceResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Deletes the specified consumable resource.</p>"
    },
    "DeleteJobQueue":{
      "name":"DeleteJobQueue",
      "http":{
        "method":"POST",
        "requestUri":"/v1/deletejobqueue"
      },
      "input":{"shape":"DeleteJobQueueRequest"},
      "output":{"shape":"DeleteJobQueueResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Deletes the specified job queue. You must first disable submissions for a queue with the <a>UpdateJobQueue</a> operation. All jobs in the queue are eventually terminated when you delete a job queue. The jobs are terminated at a rate of about 16 jobs each second.</p> <p>It's not necessary to disassociate compute environments from a queue before submitting a <code>DeleteJobQueue</code> request.</p>"
    },
    "DeleteSchedulingPolicy":{
      "name":"DeleteSchedulingPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/v1/deleteschedulingpolicy"
      },
      "input":{"shape":"DeleteSchedulingPolicyRequest"},
      "output":{"shape":"DeleteSchedulingPolicyResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Deletes the specified scheduling policy.</p> <p>You can't delete a scheduling policy that's used in any job queues.</p>"
    },
    "DeleteServiceEnvironment":{
      "name":"DeleteServiceEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/v1/deleteserviceenvironment"
      },
      "input":{"shape":"DeleteServiceEnvironmentRequest"},
      "output":{"shape":"DeleteServiceEnvironmentResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Deletes a Service environment. Before you can delete a service environment, you must first set its state to <code>DISABLED</code> with the <code>UpdateServiceEnvironment</code> API operation and disassociate it from any job queues with the <code>UpdateJobQueue</code> API operation.</p>"
    },
    "DeregisterJobDefinition":{
      "name":"DeregisterJobDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/v1/deregisterjobdefinition"
      },
      "input":{"shape":"DeregisterJobDefinitionRequest"},
      "output":{"shape":"DeregisterJobDefinitionResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Deregisters an Batch job definition. Job definitions are permanently deleted after 180 days.</p>"
    },
    "DescribeComputeEnvironments":{
      "name":"DescribeComputeEnvironments",
      "http":{
        "method":"POST",
        "requestUri":"/v1/describecomputeenvironments"
      },
      "input":{"shape":"DescribeComputeEnvironmentsRequest"},
      "output":{"shape":"DescribeComputeEnvironmentsResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Describes one or more of your compute environments.</p> <p>If you're using an unmanaged compute environment, you can use the <code>DescribeComputeEnvironment</code> operation to determine the <code>ecsClusterArn</code> that you launch your Amazon ECS container instances into.</p>"
    },
    "DescribeConsumableResource":{
      "name":"DescribeConsumableResource",
      "http":{
        "method":"POST",
        "requestUri":"/v1/describeconsumableresource"
      },
      "input":{"shape":"DescribeConsumableResourceRequest"},
      "output":{"shape":"DescribeConsumableResourceResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Returns a description of the specified consumable resource.</p>"
    },
    "DescribeJobDefinitions":{
      "name":"DescribeJobDefinitions",
      "http":{
        "method":"POST",
        "requestUri":"/v1/describejobdefinitions"
      },
      "input":{"shape":"DescribeJobDefinitionsRequest"},
      "output":{"shape":"DescribeJobDefinitionsResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Describes a list of job definitions. You can specify a <code>status</code> (such as <code>ACTIVE</code>) to only return job definitions that match that status.</p>"
    },
    "DescribeJobQueues":{
      "name":"DescribeJobQueues",
      "http":{
        "method":"POST",
        "requestUri":"/v1/describejobqueues"
      },
      "input":{"shape":"DescribeJobQueuesRequest"},
      "output":{"shape":"DescribeJobQueuesResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Describes one or more of your job queues.</p>"
    },
    "DescribeJobs":{
      "name":"DescribeJobs",
      "http":{
        "method":"POST",
        "requestUri":"/v1/describejobs"
      },
      "input":{"shape":"DescribeJobsRequest"},
      "output":{"shape":"DescribeJobsResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Describes a list of Batch jobs.</p>"
    },
    "DescribeSchedulingPolicies":{
      "name":"DescribeSchedulingPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/v1/describeschedulingpolicies"
      },
      "input":{"shape":"DescribeSchedulingPoliciesRequest"},
      "output":{"shape":"DescribeSchedulingPoliciesResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Describes one or more of your scheduling policies.</p>"
    },
    "DescribeServiceEnvironments":{
      "name":"DescribeServiceEnvironments",
      "http":{
        "method":"POST",
        "requestUri":"/v1/describeserviceenvironments"
      },
      "input":{"shape":"DescribeServiceEnvironmentsRequest"},
      "output":{"shape":"DescribeServiceEnvironmentsResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Describes one or more of your service environments.</p>"
    },
    "DescribeServiceJob":{
      "name":"DescribeServiceJob",
      "http":{
        "method":"POST",
        "requestUri":"/v1/describeservicejob"
      },
      "input":{"shape":"DescribeServiceJobRequest"},
      "output":{"shape":"DescribeServiceJobResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>The details of a service job.</p>"
    },
    "GetJobQueueSnapshot":{
      "name":"GetJobQueueSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/v1/getjobqueuesnapshot"
      },
      "input":{"shape":"GetJobQueueSnapshotRequest"},
      "output":{"shape":"GetJobQueueSnapshotResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Provides a list of the first 100 <code>RUNNABLE</code> jobs associated to a single job queue.</p>"
    },
    "ListConsumableResources":{
      "name":"ListConsumableResources",
      "http":{
        "method":"POST",
        "requestUri":"/v1/listconsumableresources"
      },
      "input":{"shape":"ListConsumableResourcesRequest"},
      "output":{"shape":"ListConsumableResourcesResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Returns a list of Batch consumable resources.</p>"
    },
    "ListJobs":{
      "name":"ListJobs",
      "http":{
        "method":"POST",
        "requestUri":"/v1/listjobs"
      },
      "input":{"shape":"ListJobsRequest"},
      "output":{"shape":"ListJobsResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Returns a list of Batch jobs.</p> <p>You must specify only one of the following items:</p> <ul> <li> <p>A job queue ID to return a list of jobs in that job queue</p> </li> <li> <p>A multi-node parallel job ID to return a list of nodes for that job</p> </li> <li> <p>An array job ID to return a list of the children for that job</p> </li> </ul> <p>You can filter the results by job status with the <code>jobStatus</code> parameter. If you don't specify a status, only <code>RUNNING</code> jobs are returned.</p>"
    },
    "ListJobsByConsumableResource":{
      "name":"ListJobsByConsumableResource",
      "http":{
        "method":"POST",
        "requestUri":"/v1/listjobsbyconsumableresource"
      },
      "input":{"shape":"ListJobsByConsumableResourceRequest"},
      "output":{"shape":"ListJobsByConsumableResourceResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Returns a list of Batch jobs that require a specific consumable resource.</p>"
    },
    "ListSchedulingPolicies":{
      "name":"ListSchedulingPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/v1/listschedulingpolicies"
      },
      "input":{"shape":"ListSchedulingPoliciesRequest"},
      "output":{"shape":"ListSchedulingPoliciesResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Returns a list of Batch scheduling policies.</p>"
    },
    "ListServiceJobs":{
      "name":"ListServiceJobs",
      "http":{
        "method":"POST",
        "requestUri":"/v1/listservicejobs"
      },
      "input":{"shape":"ListServiceJobsRequest"},
      "output":{"shape":"ListServiceJobsResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Returns a list of service jobs for a specified job queue.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"GET",
        "requestUri":"/v1/tags/{resourceArn}"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Lists the tags for an Batch resource. Batch resources that support tags are compute environments, jobs, job definitions, job queues, and scheduling policies. ARNs for child jobs of array and multi-node parallel (MNP) jobs aren't supported.</p>"
    },
    "RegisterJobDefinition":{
      "name":"RegisterJobDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/v1/registerjobdefinition"
      },
      "input":{"shape":"RegisterJobDefinitionRequest"},
      "output":{"shape":"RegisterJobDefinitionResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Registers an Batch job definition.</p>"
    },
    "SubmitJob":{
      "name":"SubmitJob",
      "http":{
        "method":"POST",
        "requestUri":"/v1/submitjob"
      },
      "input":{"shape":"SubmitJobRequest"},
      "output":{"shape":"SubmitJobResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Submits an Batch job from a job definition. Parameters that are specified during <a>SubmitJob</a> override parameters defined in the job definition. vCPU and memory requirements that are specified in the <code>resourceRequirements</code> objects in the job definition are the exception. They can't be overridden this way using the <code>memory</code> and <code>vcpus</code> parameters. Rather, you must specify updates to job definition parameters in a <code>resourceRequirements</code> object that's included in the <code>containerOverrides</code> parameter.</p> <note> <p>Job queues with a scheduling policy are limited to 500 active share identifiers at a time. </p> </note> <important> <p>Jobs that run on Fargate resources can't be guaranteed to run for more than 14 days. This is because, after 14 days, Fargate resources might become unavailable and job might be terminated.</p> </important>"
    },
    "SubmitServiceJob":{
      "name":"SubmitServiceJob",
      "http":{
        "method":"POST",
        "requestUri":"/v1/submitservicejob"
      },
      "input":{"shape":"SubmitServiceJobRequest"},
      "output":{"shape":"SubmitServiceJobResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Submits a service job to a specified job queue to run on SageMaker AI. A service job is a unit of work that you submit to Batch for execution on SageMaker AI.</p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/v1/tags/{resourceArn}"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Associates the specified tags to a resource with the specified <code>resourceArn</code>. If existing tags on a resource aren't specified in the request parameters, they aren't changed. When a resource is deleted, the tags that are associated with that resource are deleted as well. Batch resources that support tags are compute environments, jobs, job definitions, job queues, and scheduling policies. ARNs for child jobs of array and multi-node parallel (MNP) jobs aren't supported.</p>"
    },
    "TerminateJob":{
      "name":"TerminateJob",
      "http":{
        "method":"POST",
        "requestUri":"/v1/terminatejob"
      },
      "input":{"shape":"TerminateJobRequest"},
      "output":{"shape":"TerminateJobResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Terminates a job in a job queue. Jobs that are in the <code>STARTING</code> or <code>RUNNING</code> state are terminated, which causes them to transition to <code>FAILED</code>. Jobs that have not progressed to the <code>STARTING</code> state are cancelled.</p>"
    },
    "TerminateServiceJob":{
      "name":"TerminateServiceJob",
      "http":{
        "method":"POST",
        "requestUri":"/v1/terminateservicejob"
      },
      "input":{"shape":"TerminateServiceJobRequest"},
      "output":{"shape":"TerminateServiceJobResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Terminates a service job in a job queue. </p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"DELETE",
        "requestUri":"/v1/tags/{resourceArn}"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Deletes specified tags from an Batch resource.</p>"
    },
    "UpdateComputeEnvironment":{
      "name":"UpdateComputeEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/v1/updatecomputeenvironment"
      },
      "input":{"shape":"UpdateComputeEnvironmentRequest"},
      "output":{"shape":"UpdateComputeEnvironmentResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Updates an Batch compute environment.</p>"
    },
    "UpdateConsumableResource":{
      "name":"UpdateConsumableResource",
      "http":{
        "method":"POST",
        "requestUri":"/v1/updateconsumableresource"
      },
      "input":{"shape":"UpdateConsumableResourceRequest"},
      "output":{"shape":"UpdateConsumableResourceResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Updates a consumable resource.</p>"
    },
    "UpdateJobQueue":{
      "name":"UpdateJobQueue",
      "http":{
        "method":"POST",
        "requestUri":"/v1/updatejobqueue"
      },
      "input":{"shape":"UpdateJobQueueRequest"},
      "output":{"shape":"UpdateJobQueueResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Updates a job queue.</p>"
    },
    "UpdateSchedulingPolicy":{
      "name":"UpdateSchedulingPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/v1/updateschedulingpolicy"
      },
      "input":{"shape":"UpdateSchedulingPolicyRequest"},
      "output":{"shape":"UpdateSchedulingPolicyResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Updates a scheduling policy.</p>"
    },
    "UpdateServiceEnvironment":{
      "name":"UpdateServiceEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/v1/updateserviceenvironment"
      },
      "input":{"shape":"UpdateServiceEnvironmentRequest"},
      "output":{"shape":"UpdateServiceEnvironmentResponse"},
      "errors":[
        {"shape":"ClientException"},
        {"shape":"ServerException"}
      ],
      "documentation":"<p>Updates a service environment. You can update the state of a service environment from <code>ENABLED</code> to <code>DISABLED</code> to prevent new service jobs from being placed in the service environment.</p>"
    }
  },
  "shapes":{
    "ArrayJobDependency":{
      "type":"string",
      "enum":[
        "N_TO_N",
        "SEQUENTIAL"
      ]
    },
    "ArrayJobStatusSummary":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"Integer"}
    },
    "ArrayProperties":{
      "type":"structure",
      "members":{
        "size":{
          "shape":"Integer",
          "documentation":"<p>The size of the array job.</p>"
        }
      },
      "documentation":"<p>An object that represents an Batch array job.</p>"
    },
    "ArrayPropertiesDetail":{
      "type":"structure",
      "members":{
        "statusSummary":{
          "shape":"ArrayJobStatusSummary",
          "documentation":"<p>A summary of the number of array job children in each available job status. This parameter is returned for parent array jobs.</p>"
        },
        "size":{
          "shape":"Integer",
          "documentation":"<p>The size of the array job. This parameter is returned for parent array jobs.</p>"
        },
        "index":{
          "shape":"Integer",
          "documentation":"<p>The job index within the array that's associated with this job. This parameter is returned for array job children.</p>"
        }
      },
      "documentation":"<p>An object that represents the array properties of a job.</p>"
    },
    "ArrayPropertiesSummary":{
      "type":"structure",
      "members":{
        "size":{
          "shape":"Integer",
          "documentation":"<p>The size of the array job. This parameter is returned for parent array jobs.</p>"
        },
        "index":{
          "shape":"Integer",
          "documentation":"<p>The job index within the array that's associated with this job. This parameter is returned for children of array jobs.</p>"
        }
      },
      "documentation":"<p>An object that represents the array properties of a job.</p>"
    },
    "AssignPublicIp":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "AttemptContainerDetail":{
      "type":"structure",
      "members":{
        "containerInstanceArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon ECS container instance that hosts the job attempt.</p>"
        },
        "taskArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon ECS task that's associated with the job attempt. Each container attempt receives a task ARN when they reach the <code>STARTING</code> status.</p>"
        },
        "exitCode":{
          "shape":"Integer",
          "documentation":"<p>The exit code for the job attempt. A non-zero exit code is considered failed.</p>"
        },
        "reason":{
          "shape":"String",
          "documentation":"<p>A short (255 max characters) human-readable string to provide additional details for a running or stopped container.</p>"
        },
        "logStreamName":{
          "shape":"String",
          "documentation":"<p>The name of the CloudWatch Logs log stream that's associated with the container. The log group for Batch jobs is <code>/aws/batch/job</code>. Each container attempt receives a log stream name when they reach the <code>RUNNING</code> status.</p>"
        },
        "networkInterfaces":{
          "shape":"NetworkInterfaceList",
          "documentation":"<p>The network interfaces that are associated with the job attempt.</p>"
        }
      },
      "documentation":"<p>An object that represents the details of a container that's part of a job attempt.</p>"
    },
    "AttemptDetail":{
      "type":"structure",
      "members":{
        "container":{
          "shape":"AttemptContainerDetail",
          "documentation":"<p>The details for the container in this job attempt.</p>"
        },
        "startedAt":{
          "shape":"Long",
          "documentation":"<p>The Unix timestamp (in milliseconds) for when the attempt was started (when the attempt transitioned from the <code>STARTING</code> state to the <code>RUNNING</code> state).</p>"
        },
        "stoppedAt":{
          "shape":"Long",
          "documentation":"<p>The Unix timestamp (in milliseconds) for when the attempt was stopped (when the attempt transitioned from the <code>RUNNING</code> state to a terminal state, such as <code>SUCCEEDED</code> or <code>FAILED</code>).</p>"
        },
        "statusReason":{
          "shape":"String",
          "documentation":"<p>A short, human-readable string to provide additional details for the current status of the job attempt.</p>"
        },
        "taskProperties":{
          "shape":"ListAttemptEcsTaskDetails",
          "documentation":"<p>The properties for a task definition that describes the container and volume definitions of an Amazon ECS task.</p>"
        }
      },
      "documentation":"<p>An object that represents a job attempt.</p>"
    },
    "AttemptDetails":{
      "type":"list",
      "member":{"shape":"AttemptDetail"}
    },
    "AttemptEcsTaskDetails":{
      "type":"structure",
      "members":{
        "containerInstanceArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the container instance that hosts the task.</p>"
        },
        "taskArn":{
          "shape":"String",
          "documentation":"<p>The ARN of the Amazon ECS task.</p>"
        },
        "containers":{
          "shape":"ListAttemptTaskContainerDetails",
          "documentation":"<p>A list of containers that are included in the <code>taskProperties</code> list.</p>"
        }
      },
      "documentation":"<p>An object that represents the details of a task.</p>"
    },
    "AttemptTaskContainerDetails":{
      "type":"structure",
      "members":{
        "exitCode":{
          "shape":"Integer",
          "documentation":"<p>The exit code for the container’s attempt. A non-zero exit code is considered failed.</p>"
        },
        "name":{
          "shape":"String",
          "documentation":"<p>The name of a container.</p>"
        },
        "reason":{
          "shape":"String",
          "documentation":"<p>A short (255 max characters) string that's easy to understand and provides additional details for a running or stopped container.</p>"
        },
        "logStreamName":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon CloudWatch Logs log stream that's associated with the container. The log group for Batch jobs is <code>/aws/batch/job</code>. Each container attempt receives a log stream name when they reach the <code>RUNNING</code> status.</p>"
        },
        "networkInterfaces":{
          "shape":"NetworkInterfaceList",
          "documentation":"<p>The network interfaces that are associated with the job attempt.</p>"
        }
      },
      "documentation":"<p>An object that represents the details of a container that's part of a job attempt.</p>"
    },
    "Boolean":{"type":"boolean"},
    "CEState":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "CEStatus":{
      "type":"string",
      "enum":[
        "CREATING",
        "UPDATING",
        "DELETING",
        "DELETED",
        "VALID",
        "INVALID"
      ]
    },
    "CEType":{
      "type":"string",
      "enum":[
        "MANAGED",
        "UNMANAGED"
      ]
    },
    "CRAllocationStrategy":{
      "type":"string",
      "enum":[
        "BEST_FIT",
        "BEST_FIT_PROGRESSIVE",
        "SPOT_CAPACITY_OPTIMIZED",
        "SPOT_PRICE_CAPACITY_OPTIMIZED"
      ]
    },
    "CRType":{
      "type":"string",
      "enum":[
        "EC2",
        "SPOT",
        "FARGATE",
        "FARGATE_SPOT"
      ]
    },
    "CRUpdateAllocationStrategy":{
      "type":"string",
      "enum":[
        "BEST_FIT_PROGRESSIVE",
        "SPOT_CAPACITY_OPTIMIZED",
        "SPOT_PRICE_CAPACITY_OPTIMIZED"
      ]
    },
    "CancelJobRequest":{
      "type":"structure",
      "required":[
        "jobId",
        "reason"
      ],
      "members":{
        "jobId":{
          "shape":"String",
          "documentation":"<p>The Batch job ID of the job to cancel.</p>"
        },
        "reason":{
          "shape":"String",
          "documentation":"<p>A message to attach to the job that explains the reason for canceling it. This message is returned by future <a>DescribeJobs</a> operations on the job. It is also recorded in the Batch activity logs.</p> <p>This parameter has as limit of 1024 characters.</p>"
        }
      },
      "documentation":"<p>Contains the parameters for <code>CancelJob</code>.</p>"
    },
    "CancelJobResponse":{
      "type":"structure",
      "members":{}
    },
    "CapacityLimit":{
      "type":"structure",
      "members":{
        "maxCapacity":{
          "shape":"Integer",
          "documentation":"<p>The maximum capacity available for the service environment. This value represents the maximum amount of resources that can be allocated to service jobs.</p> <p>For example, <code>maxCapacity=50</code>, <code>capacityUnit=NUM_INSTANCES</code>. This indicates that the maximum number of instances that can be run on this service environment is 50. You could then run 5 SageMaker Training jobs that each use 10 instances. However, if you submit another job that requires 10 instances, it will wait in the queue.</p>"
        },
        "capacityUnit":{
          "shape":"String",
          "documentation":"<p>The unit of measure for the capacity limit. This defines how the maxCapacity value should be interpreted. For <code>SAGEMAKER_TRAINING</code> jobs, use <code>NUM_INSTANCES</code>.</p>"
        }
      },
      "documentation":"<p>Defines the capacity limit for a service environment. This structure specifies the maximum amount of resources that can be used by service jobs in the environment.</p>"
    },
    "CapacityLimits":{
      "type":"list",
      "member":{"shape":"CapacityLimit"}
    },
    "ClientException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "documentation":"<p>These errors are usually caused by a client action. One example cause is using an action or resource on behalf of a user that doesn't have permissions to use the action or resource. Another cause is specifying an identifier that's not valid.</p>",
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "ClientRequestToken":{
      "type":"string",
      "max":64,
      "min":1
    },
    "ComputeEnvironmentDetail":{
      "type":"structure",
      "required":[
        "computeEnvironmentName",
        "computeEnvironmentArn"
      ],
      "members":{
        "computeEnvironmentName":{
          "shape":"String",
          "documentation":"<p>The name of the compute environment. It can be up to 128 characters long. It can contain uppercase and lowercase letters, numbers, hyphens (-), and underscores (_).</p>"
        },
        "computeEnvironmentArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the compute environment.</p>"
        },
        "unmanagedvCpus":{
          "shape":"Integer",
          "documentation":"<p>The maximum number of VCPUs expected to be used for an unmanaged compute environment.</p>"
        },
        "ecsClusterArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the underlying Amazon ECS cluster that the compute environment uses.</p>"
        },
        "tags":{
          "shape":"TagrisTagsMap",
          "documentation":"<p>The tags applied to the compute environment.</p>"
        },
        "type":{
          "shape":"CEType",
          "documentation":"<p>The type of the compute environment: <code>MANAGED</code> or <code>UNMANAGED</code>. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/compute_environments.html\">Compute environments</a> in the <i>Batch User Guide</i>.</p>"
        },
        "state":{
          "shape":"CEState",
          "documentation":"<p>The state of the compute environment. The valid values are <code>ENABLED</code> or <code>DISABLED</code>.</p> <p>If the state is <code>ENABLED</code>, then the Batch scheduler can attempt to place jobs from an associated job queue on the compute resources within the environment. If the compute environment is managed, then it can scale its instances out or in automatically based on the job queue demand.</p> <p>If the state is <code>DISABLED</code>, then the Batch scheduler doesn't attempt to place jobs within the environment. Jobs in a <code>STARTING</code> or <code>RUNNING</code> state continue to progress normally. Managed compute environments in the <code>DISABLED</code> state don't scale out. </p> <note> <p>Compute environments in a <code>DISABLED</code> state may continue to incur billing charges. To prevent additional charges, turn off and then delete the compute environment. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/compute_environment_parameters.html#compute_environment_state\">State</a> in the <i>Batch User Guide</i>.</p> </note> <p>When an instance is idle, the instance scales down to the <code>minvCpus</code> value. However, the instance size doesn't change. For example, consider a <code>c5.8xlarge</code> instance with a <code>minvCpus</code> value of <code>4</code> and a <code>desiredvCpus</code> value of <code>36</code>. This instance doesn't scale down to a <code>c5.large</code> instance.</p>"
        },
        "status":{
          "shape":"CEStatus",
          "documentation":"<p>The current status of the compute environment (for example, <code>CREATING</code> or <code>VALID</code>).</p>"
        },
        "statusReason":{
          "shape":"String",
          "documentation":"<p>A short, human-readable string to provide additional details for the current status of the compute environment.</p>"
        },
        "computeResources":{
          "shape":"ComputeResource",
          "documentation":"<p>The compute resources defined for the compute environment. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/compute_environments.html\">Compute environments</a> in the <i>Batch User Guide</i>.</p>"
        },
        "serviceRole":{
          "shape":"String",
          "documentation":"<p>The service role that's associated with the compute environment that allows Batch to make calls to Amazon Web Services API operations on your behalf. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/service_IAM_role.html\">Batch service IAM role</a> in the <i>Batch User Guide</i>.</p>"
        },
        "updatePolicy":{
          "shape":"UpdatePolicy",
          "documentation":"<p>Specifies the infrastructure update policy for the compute environment. For more information about infrastructure updates, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/updating-compute-environments.html\">Updating compute environments</a> in the <i>Batch User Guide</i>.</p>"
        },
        "eksConfiguration":{
          "shape":"EksConfiguration",
          "documentation":"<p>The configuration for the Amazon EKS cluster that supports the Batch compute environment. Only specify this parameter if the <code>containerOrchestrationType</code> is <code>EKS</code>.</p>"
        },
        "containerOrchestrationType":{
          "shape":"OrchestrationType",
          "documentation":"<p>The orchestration type of the compute environment. The valid values are <code>ECS</code> (default) or <code>EKS</code>.</p>"
        },
        "uuid":{
          "shape":"String",
          "documentation":"<p>Unique identifier for the compute environment.</p>"
        },
        "context":{
          "shape":"String",
          "documentation":"<p>Reserved.</p>"
        }
      },
      "documentation":"<p>An object that represents an Batch compute environment.</p>"
    },
    "ComputeEnvironmentDetailList":{
      "type":"list",
      "member":{"shape":"ComputeEnvironmentDetail"}
    },
    "ComputeEnvironmentOrder":{
      "type":"structure",
      "required":[
        "order",
        "computeEnvironment"
      ],
      "members":{
        "order":{
          "shape":"Integer",
          "documentation":"<p>The order of the compute environment. Compute environments are tried in ascending order. For example, if two compute environments are associated with a job queue, the compute environment with a lower <code>order</code> integer value is tried for job placement first.</p>"
        },
        "computeEnvironment":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the compute environment.</p>"
        }
      },
      "documentation":"<p>The order that compute environments are tried in for job placement within a queue. Compute environments are tried in ascending order. For example, if two compute environments are associated with a job queue, the compute environment with a lower order integer value is tried for job placement first. Compute environments must be in the <code>VALID</code> state before you can associate them with a job queue. All of the compute environments must be either EC2 (<code>EC2</code> or <code>SPOT</code>) or Fargate (<code>FARGATE</code> or <code>FARGATE_SPOT</code>); Amazon EC2 and Fargate compute environments can't be mixed.</p> <note> <p>All compute environments that are associated with a job queue must share the same architecture. Batch doesn't support mixing compute environment architecture types in a single job queue.</p> </note>"
    },
    "ComputeEnvironmentOrders":{
      "type":"list",
      "member":{"shape":"ComputeEnvironmentOrder"}
    },
    "ComputeResource":{
      "type":"structure",
      "required":[
        "type",
        "maxvCpus",
        "subnets"
      ],
      "members":{
        "type":{
          "shape":"CRType",
          "documentation":"<p>The type of compute environment: <code>EC2</code>, <code>SPOT</code>, <code>FARGATE</code>, or <code>FARGATE_SPOT</code>. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/compute_environments.html\">Compute environments</a> in the <i>Batch User Guide</i>.</p> <p> If you choose <code>SPOT</code>, you must also specify an Amazon EC2 Spot Fleet role with the <code>spotIamFleetRole</code> parameter. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/spot_fleet_IAM_role.html\">Amazon EC2 spot fleet role</a> in the <i>Batch User Guide</i>.</p>"
        },
        "allocationStrategy":{
          "shape":"CRAllocationStrategy",
          "documentation":"<p>The allocation strategy to use for the compute resource if not enough instances of the best fitting instance type can be allocated. This might be because of availability of the instance type in the Region or <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-resource-limits.html\">Amazon EC2 service limits</a>. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/allocation-strategies.html\">Allocation strategies</a> in the <i>Batch User Guide</i>.</p> <note> <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p> </note> <dl> <dt>BEST_FIT (default)</dt> <dd> <p>Batch selects an instance type that best fits the needs of the jobs with a preference for the lowest-cost instance type. If additional instances of the selected instance type aren't available, Batch waits for the additional instances to be available. If there aren't enough instances available or the user is reaching <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-resource-limits.html\">Amazon EC2 service limits</a>, additional jobs aren't run until the currently running jobs are completed. This allocation strategy keeps costs lower but can limit scaling. If you're using Spot Fleets with <code>BEST_FIT</code>, the Spot Fleet IAM Role must be specified. Compute resources that use a <code>BEST_FIT</code> allocation strategy don't support infrastructure updates and can't update some parameters. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/updating-compute-environments.html\">Updating compute environments</a> in the <i>Batch User Guide</i>.</p> </dd> <dt>BEST_FIT_PROGRESSIVE</dt> <dd> <p>Batch selects additional instance types that are large enough to meet the requirements of the jobs in the queue. Its preference is for instance types with lower cost vCPUs. If additional instances of the previously selected instance types aren't available, Batch selects new instance types.</p> </dd> <dt>SPOT_CAPACITY_OPTIMIZED</dt> <dd> <p>Batch selects one or more instance types that are large enough to meet the requirements of the jobs in the queue. Its preference is for instance types that are less likely to be interrupted. This allocation strategy is only available for Spot Instance compute resources.</p> </dd> <dt>SPOT_PRICE_CAPACITY_OPTIMIZED</dt> <dd> <p>The price and capacity optimized allocation strategy looks at both price and capacity to select the Spot Instance pools that are the least likely to be interrupted and have the lowest possible price. This allocation strategy is only available for Spot Instance compute resources.</p> </dd> </dl> <p>With <code>BEST_FIT_PROGRESSIVE</code>,<code>SPOT_CAPACITY_OPTIMIZED</code> and <code>SPOT_PRICE_CAPACITY_OPTIMIZED</code> (recommended) strategies using On-Demand or Spot Instances, and the <code>BEST_FIT</code> strategy using Spot Instances, Batch might need to exceed <code>maxvCpus</code> to meet your capacity requirements. In this event, Batch never exceeds <code>maxvCpus</code> by more than a single instance.</p>"
        },
        "minvCpus":{
          "shape":"Integer",
          "documentation":"<p>The minimum number of vCPUs that a compute environment should maintain (even if the compute environment is <code>DISABLED</code>).</p> <note> <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p> </note>"
        },
        "maxvCpus":{
          "shape":"Integer",
          "documentation":"<p>The maximum number of vCPUs that a compute environment can support.</p> <note> <p>With <code>BEST_FIT_PROGRESSIVE</code>,<code>SPOT_CAPACITY_OPTIMIZED</code> and <code>SPOT_PRICE_CAPACITY_OPTIMIZED</code> (recommended) strategies using On-Demand or Spot Instances, and the <code>BEST_FIT</code> strategy using Spot Instances, Batch might need to exceed <code>maxvCpus</code> to meet your capacity requirements. In this event, Batch never exceeds <code>maxvCpus</code> by more than a single instance.</p> </note>"
        },
        "desiredvCpus":{
          "shape":"Integer",
          "documentation":"<p>The desired number of vCPUS in the compute environment. Batch modifies this value between the minimum and maximum values based on job queue demand.</p> <note> <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p> </note>"
        },
        "instanceTypes":{
          "shape":"StringList",
          "documentation":"<p>The instances types that can be launched. You can specify instance families to launch any instance type within those families (for example, <code>c5</code> or <code>p3</code>), or you can specify specific sizes within a family (such as <code>c5.8xlarge</code>). </p> <p>Batch can select the instance type for you if you choose one of the following:</p> <ul> <li> <p> <code>optimal</code> to select instance types (from the <code>c4</code>, <code>m4</code>, <code>r4</code>, <code>c5</code>, <code>m5</code>, and <code>r5</code> instance families) that match the demand of your job queues. </p> </li> <li> <p> <code>default_x86_64</code> to choose x86 based instance types (from the <code>m6i</code>, <code>c6i</code>, <code>r6i</code>, and <code>c7i</code> instance families) that matches the resource demands of the job queue.</p> </li> <li> <p> <code>default_arm64</code> to choose x86 based instance types (from the <code>m6g</code>, <code>c6g</code>, <code>r6g</code>, and <code>c7g</code> instance families) that matches the resource demands of the job queue.</p> </li> </ul> <note> <p>Starting on 11/01/2025 the behavior of <code>optimal</code> is going to be changed to match <code>default_x86_64</code>. During the change your instance families could be updated to a newer generation. You do not need to perform any actions for the upgrade to happen. For more information about change, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/optimal-default-instance-troubleshooting.html\">Optimal instance type configuration to receive automatic instance family updates</a>.</p> </note> <note> <p>Instance family availability varies by Amazon Web Services Region. For example, some Amazon Web Services Regions may not have any fourth generation instance families but have fifth and sixth generation instance families.</p> <p>When using <code>default_x86_64</code> or <code>default_arm64</code> instance bundles, Batch selects instance families based on a balance of cost-effectiveness and performance. While newer generation instances often provide better price-performance, Batch may choose an earlier generation instance family if it provides the optimal combination of availability, cost, and performance for your workload. For example, in an Amazon Web Services Region where both c6i and c7i instances are available, Batch might select c6i instances if they offer better cost-effectiveness for your specific job requirements. For more information on Batch instance types and Amazon Web Services Region availability, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/instance-type-compute-table.html\">Instance type compute table</a> in the <i>Batch User Guide</i>.</p> <p>Batch periodically updates your instances in default bundles to newer, more cost-effective options. Updates happen automatically without requiring any action from you. Your workloads continue running during updates with no interruption </p> </note> <note> <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p> </note> <note> <p>When you create a compute environment, the instance types that you select for the compute environment must share the same architecture. For example, you can't mix x86 and ARM instances in the same compute environment.</p> </note>"
        },
        "imageId":{
          "shape":"String",
          "documentation":"<p>The Amazon Machine Image (AMI) ID used for instances launched in the compute environment. This parameter is overridden by the <code>imageIdOverride</code> member of the <code>Ec2Configuration</code> structure.</p> <note> <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p> </note> <note> <p>The AMI that you choose for a compute environment must match the architecture of the instance types that you intend to use for that compute environment. For example, if your compute environment uses A1 instance types, the compute resource AMI that you choose must support ARM instances. Amazon ECS vends both x86 and ARM versions of the Amazon ECS-optimized Amazon Linux 2 AMI. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-optimized_AMI.html#ecs-optimized-ami-linux-variants.html\">Amazon ECS-optimized Amazon Linux 2 AMI</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p> </note>",
          "deprecated":true,
          "deprecatedMessage":"This field is deprecated, use ec2Configuration[].imageIdOverride instead."
        },
        "subnets":{
          "shape":"StringList",
          "documentation":"<p>The VPC subnets where the compute resources are launched. These subnets must be within the same VPC. Fargate compute resources can contain up to 16 subnets. For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Subnets.html\">VPCs and subnets</a> in the <i>Amazon VPC User Guide</i>.</p> <note> <p>Batch on Amazon EC2 and Batch on Amazon EKS support Local Zones. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-regions-availability-zones.html#concepts-local-zones\"> Local Zones</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>, <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/local-zones.html\">Amazon EKS and Amazon Web Services Local Zones</a> in the <i>Amazon EKS User Guide</i> and <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/cluster-regions-zones.html#clusters-local-zones\"> Amazon ECS clusters in Local Zones, Wavelength Zones, and Amazon Web Services Outposts</a> in the <i>Amazon ECS Developer Guide</i>.</p> <p>Batch on Fargate doesn't currently support Local Zones.</p> </note>"
        },
        "securityGroupIds":{
          "shape":"StringList",
          "documentation":"<p>The Amazon EC2 security groups that are associated with instances launched in the compute environment. One or more security groups must be specified, either in <code>securityGroupIds</code> or using a launch template referenced in <code>launchTemplate</code>. This parameter is required for jobs that are running on Fargate resources and must contain at least one security group. Fargate doesn't support launch templates. If security groups are specified using both <code>securityGroupIds</code> and <code>launchTemplate</code>, the values in <code>securityGroupIds</code> are used.</p>"
        },
        "ec2KeyPair":{
          "shape":"String",
          "documentation":"<p>The Amazon EC2 key pair that's used for instances launched in the compute environment. You can use this key pair to log in to your instances with SSH.</p> <note> <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p> </note>"
        },
        "instanceRole":{
          "shape":"String",
          "documentation":"<p>The Amazon ECS instance profile applied to Amazon EC2 instances in a compute environment. This parameter is required for Amazon EC2 instances types. You can specify the short name or full Amazon Resource Name (ARN) of an instance profile. For example, <code> <i>ecsInstanceRole</i> </code> or <code>arn:aws:iam::<i>&lt;aws_account_id&gt;</i>:instance-profile/<i>ecsInstanceRole</i> </code>. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/instance_IAM_role.html\">Amazon ECS instance role</a> in the <i>Batch User Guide</i>.</p> <note> <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p> </note>"
        },
        "tags":{
          "shape":"TagsMap",
          "documentation":"<p>Key-value pair tags to be applied to Amazon EC2 resources that are launched in the compute environment. For Batch, these take the form of <code>\"String1\": \"String2\"</code>, where <code>String1</code> is the tag key and <code>String2</code> is the tag value (for example, <code>{ \"Name\": \"Batch Instance - C4OnDemand\" }</code>). This is helpful for recognizing your Batch instances in the Amazon EC2 console. Updating these tags requires an infrastructure update to the compute environment. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/updating-compute-environments.html\">Updating compute environments</a> in the <i>Batch User Guide</i>. These tags aren't seen when using the Batch <code>ListTagsForResource</code> API operation.</p> <note> <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p> </note>"
        },
        "placementGroup":{
          "shape":"String",
          "documentation":"<p>The Amazon EC2 placement group to associate with your compute resources. If you intend to submit multi-node parallel jobs to your compute environment, you should consider creating a cluster placement group and associate it with your compute resources. This keeps your multi-node parallel job on a logical grouping of instances within a single Availability Zone with high network flow potential. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/placement-groups.html\">Placement groups</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.</p> <note> <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p> </note>"
        },
        "bidPercentage":{
          "shape":"Integer",
          "documentation":"<p>The maximum percentage that a Spot Instance price can be when compared with the On-Demand price for that instance type before instances are launched. For example, if your maximum percentage is 20%, then the Spot price must be less than 20% of the current On-Demand price for that Amazon EC2 instance. You always pay the lowest (market) price and never more than your maximum percentage. If you leave this field empty, the default value is 100% of the On-Demand price. For most use cases, we recommend leaving this field empty.</p> <note> <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p> </note>"
        },
        "spotIamFleetRole":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon EC2 Spot Fleet IAM role applied to a <code>SPOT</code> compute environment. This role is required if the allocation strategy set to <code>BEST_FIT</code> or if the allocation strategy isn't specified. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/spot_fleet_IAM_role.html\">Amazon EC2 spot fleet role</a> in the <i>Batch User Guide</i>.</p> <note> <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p> </note> <important> <p>To tag your Spot Instances on creation, the Spot Fleet IAM role specified here must use the newer <b>AmazonEC2SpotFleetTaggingRole</b> managed policy. The previously recommended <b>AmazonEC2SpotFleetRole</b> managed policy doesn't have the required permissions to tag Spot Instances. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/troubleshooting.html#spot-instance-no-tag\">Spot instances not tagged on creation</a> in the <i>Batch User Guide</i>.</p> </important>"
        },
        "launchTemplate":{
          "shape":"LaunchTemplateSpecification",
          "documentation":"<p>The launch template to use for your compute resources. Any other compute resource parameters that you specify in a <a href=\"https://docs.aws.amazon.com/batch/latest/APIReference/API_CreateComputeEnvironment.html\">CreateComputeEnvironment</a> API operation override the same parameters in the launch template. You must specify either the launch template ID or launch template name in the request, but not both. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/launch-templates.html\">Launch template support</a> in the <i>Batch User Guide</i>.</p> <note> <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p> </note>"
        },
        "ec2Configuration":{
          "shape":"Ec2ConfigurationList",
          "documentation":"<p>Provides information that's used to select Amazon Machine Images (AMIs) for Amazon EC2 instances in the compute environment. If <code>Ec2Configuration</code> isn't specified, the default is <code>ECS_AL2</code>.</p> <p>One or two values can be provided.</p> <note> <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p> </note>"
        }
      },
      "documentation":"<p>An object that represents an Batch compute resource. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/compute_environments.html\">Compute environments</a> in the <i>Batch User Guide</i>.</p>"
    },
    "ComputeResourceUpdate":{
      "type":"structure",
      "members":{
        "minvCpus":{
          "shape":"Integer",
          "documentation":"<p>The minimum number of vCPUs that an environment should maintain (even if the compute environment is <code>DISABLED</code>).</p> <note> <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p> </note>"
        },
        "maxvCpus":{
          "shape":"Integer",
          "documentation":"<p>The maximum number of Amazon EC2 vCPUs that an environment can reach.</p> <note> <p>With <code>BEST_FIT_PROGRESSIVE</code>,<code>SPOT_CAPACITY_OPTIMIZED</code> and <code>SPOT_PRICE_CAPACITY_OPTIMIZED</code> (recommended) strategies using On-Demand or Spot Instances, and the <code>BEST_FIT</code> strategy using Spot Instances, Batch might need to exceed <code>maxvCpus</code> to meet your capacity requirements. In this event, Batch never exceeds <code>maxvCpus</code> by more than a single instance.</p> </note>"
        },
        "desiredvCpus":{
          "shape":"Integer",
          "documentation":"<p>The desired number of vCPUS in the compute environment. Batch modifies this value between the minimum and maximum values based on job queue demand.</p> <note> <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p> </note> <note> <p>Batch doesn't support changing the desired number of vCPUs of an existing compute environment. Don't specify this parameter for compute environments using Amazon EKS clusters.</p> </note> <note> <p>When you update the <code>desiredvCpus</code> setting, the value must be between the <code>minvCpus</code> and <code>maxvCpus</code> values. </p> <p>Additionally, the updated <code>desiredvCpus</code> value must be greater than or equal to the current <code>desiredvCpus</code> value. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/troubleshooting.html#error-desired-vcpus-update\">Troubleshooting Batch</a> in the <i>Batch User Guide</i>.</p> </note>"
        },
        "subnets":{
          "shape":"StringList",
          "documentation":"<p>The VPC subnets where the compute resources are launched. Fargate compute resources can contain up to 16 subnets. For Fargate compute resources, providing an empty list will be handled as if this parameter wasn't specified and no change is made. For Amazon EC2 compute resources, providing an empty list removes the VPC subnets from the compute resource. For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Subnets.html\">VPCs and subnets</a> in the <i>Amazon VPC User Guide</i>.</p> <p>When updating a compute environment, changing the VPC subnets requires an infrastructure update of the compute environment. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/updating-compute-environments.html\">Updating compute environments</a> in the <i>Batch User Guide</i>.</p> <note> <p>Batch on Amazon EC2 and Batch on Amazon EKS support Local Zones. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-regions-availability-zones.html#concepts-local-zones\"> Local Zones</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>, <a href=\"https://docs.aws.amazon.com/eks/latest/userguide/local-zones.html\">Amazon EKS and Amazon Web Services Local Zones</a> in the <i>Amazon EKS User Guide</i> and <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/cluster-regions-zones.html#clusters-local-zones\"> Amazon ECS clusters in Local Zones, Wavelength Zones, and Amazon Web Services Outposts</a> in the <i>Amazon ECS Developer Guide</i>.</p> <p>Batch on Fargate doesn't currently support Local Zones.</p> </note>"
        },
        "securityGroupIds":{
          "shape":"StringList",
          "documentation":"<p>The Amazon EC2 security groups that are associated with instances launched in the compute environment. This parameter is required for Fargate compute resources, where it can contain up to 5 security groups. For Fargate compute resources, providing an empty list is handled as if this parameter wasn't specified and no change is made. For Amazon EC2 compute resources, providing an empty list removes the security groups from the compute resource.</p> <p>When updating a compute environment, changing the Amazon EC2 security groups requires an infrastructure update of the compute environment. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/updating-compute-environments.html\">Updating compute environments</a> in the <i>Batch User Guide</i>.</p>"
        },
        "allocationStrategy":{
          "shape":"CRUpdateAllocationStrategy",
          "documentation":"<p>The allocation strategy to use for the compute resource if there's not enough instances of the best fitting instance type that can be allocated. This might be because of availability of the instance type in the Region or <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-resource-limits.html\">Amazon EC2 service limits</a>. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/allocation-strategies.html\">Allocation strategies</a> in the <i>Batch User Guide</i>.</p> <p>When updating a compute environment, changing the allocation strategy requires an infrastructure update of the compute environment. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/updating-compute-environments.html\">Updating compute environments</a> in the <i>Batch User Guide</i>. <code>BEST_FIT</code> isn't supported when updating a compute environment.</p> <note> <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p> </note> <dl> <dt>BEST_FIT_PROGRESSIVE</dt> <dd> <p>Batch selects additional instance types that are large enough to meet the requirements of the jobs in the queue. Its preference is for instance types with lower cost vCPUs. If additional instances of the previously selected instance types aren't available, Batch selects new instance types.</p> </dd> <dt>SPOT_CAPACITY_OPTIMIZED</dt> <dd> <p>Batch selects one or more instance types that are large enough to meet the requirements of the jobs in the queue. Its preference is for instance types that are less likely to be interrupted. This allocation strategy is only available for Spot Instance compute resources.</p> </dd> <dt>SPOT_PRICE_CAPACITY_OPTIMIZED</dt> <dd> <p>The price and capacity optimized allocation strategy looks at both price and capacity to select the Spot Instance pools that are the least likely to be interrupted and have the lowest possible price. This allocation strategy is only available for Spot Instance compute resources.</p> </dd> </dl> <p>With <code>BEST_FIT_PROGRESSIVE</code>,<code>SPOT_CAPACITY_OPTIMIZED</code> and <code>SPOT_PRICE_CAPACITY_OPTIMIZED</code> (recommended) strategies using On-Demand or Spot Instances, and the <code>BEST_FIT</code> strategy using Spot Instances, Batch might need to exceed <code>maxvCpus</code> to meet your capacity requirements. In this event, Batch never exceeds <code>maxvCpus</code> by more than a single instance.</p>"
        },
        "instanceTypes":{
          "shape":"StringList",
          "documentation":"<p>The instances types that can be launched. You can specify instance families to launch any instance type within those families (for example, <code>c5</code> or <code>p3</code>), or you can specify specific sizes within a family (such as <code>c5.8xlarge</code>). </p> <p>Batch can select the instance type for you if you choose one of the following:</p> <ul> <li> <p> <code>optimal</code> to select instance types (from the <code>c4</code>, <code>m4</code>, <code>r4</code>, <code>c5</code>, <code>m5</code>, and <code>r5</code> instance families) that match the demand of your job queues. </p> </li> <li> <p> <code>default_x86_64</code> to choose x86 based instance types (from the <code>m6i</code>, <code>c6i</code>, <code>r6i</code>, and <code>c7i</code> instance families) that matches the resource demands of the job queue.</p> </li> <li> <p> <code>default_arm64</code> to choose x86 based instance types (from the <code>m6g</code>, <code>c6g</code>, <code>r6g</code>, and <code>c7g</code> instance families) that matches the resource demands of the job queue.</p> </li> </ul> <note> <p>Starting on 11/01/2025 the behavior of <code>optimal</code> is going to be changed to match <code>default_x86_64</code>. During the change your instance families could be updated to a newer generation. You do not need to perform any actions for the upgrade to happen. For more information about change, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/optimal-default-instance-troubleshooting.html\">Optimal instance type configuration to receive automatic instance family updates</a>.</p> </note> <note> <p>Instance family availability varies by Amazon Web Services Region. For example, some Amazon Web Services Regions may not have any fourth generation instance families but have fifth and sixth generation instance families.</p> <p>When using <code>default_x86_64</code> or <code>default_arm64</code> instance bundles, Batch selects instance families based on a balance of cost-effectiveness and performance. While newer generation instances often provide better price-performance, Batch may choose an earlier generation instance family if it provides the optimal combination of availability, cost, and performance for your workload. For example, in an Amazon Web Services Region where both c6i and c7i instances are available, Batch might select c6i instances if they offer better cost-effectiveness for your specific job requirements. For more information on Batch instance types and Amazon Web Services Region availability, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/instance-type-compute-table.html\">Instance type compute table</a> in the <i>Batch User Guide</i>.</p> <p>Batch periodically updates your instances in default bundles to newer, more cost-effective options. Updates happen automatically without requiring any action from you. Your workloads continue running during updates with no interruption </p> </note> <note> <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p> </note> <note> <p>When you create a compute environment, the instance types that you select for the compute environment must share the same architecture. For example, you can't mix x86 and ARM instances in the same compute environment.</p> </note>"
        },
        "ec2KeyPair":{
          "shape":"String",
          "documentation":"<p>The Amazon EC2 key pair that's used for instances launched in the compute environment. You can use this key pair to log in to your instances with SSH. To remove the Amazon EC2 key pair, set this value to an empty string.</p> <p>When updating a compute environment, changing the Amazon EC2 key pair requires an infrastructure update of the compute environment. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/updating-compute-environments.html\">Updating compute environments</a> in the <i>Batch User Guide</i>.</p> <note> <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p> </note>"
        },
        "instanceRole":{
          "shape":"String",
          "documentation":"<p>The Amazon ECS instance profile applied to Amazon EC2 instances in a compute environment. Required for Amazon EC2 instances. You can specify the short name or full Amazon Resource Name (ARN) of an instance profile. For example, <code> <i>ecsInstanceRole</i> </code> or <code>arn:aws:iam::<i>&lt;aws_account_id&gt;</i>:instance-profile/<i>ecsInstanceRole</i> </code>. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/instance_IAM_role.html\">Amazon ECS instance role</a> in the <i>Batch User Guide</i>.</p> <p>When updating a compute environment, changing this setting requires an infrastructure update of the compute environment. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/updating-compute-environments.html\">Updating compute environments</a> in the <i>Batch User Guide</i>.</p> <note> <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p> </note>"
        },
        "tags":{
          "shape":"TagsMap",
          "documentation":"<p>Key-value pair tags to be applied to Amazon EC2 resources that are launched in the compute environment. For Batch, these take the form of <code>\"String1\": \"String2\"</code>, where <code>String1</code> is the tag key and <code>String2</code> is the tag value (for example, <code>{ \"Name\": \"Batch Instance - C4OnDemand\" }</code>). This is helpful for recognizing your Batch instances in the Amazon EC2 console. These tags aren't seen when using the Batch <code>ListTagsForResource</code> API operation.</p> <p>When updating a compute environment, changing this setting requires an infrastructure update of the compute environment. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/updating-compute-environments.html\">Updating compute environments</a> in the <i>Batch User Guide</i>.</p> <note> <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p> </note>"
        },
        "placementGroup":{
          "shape":"String",
          "documentation":"<p>The Amazon EC2 placement group to associate with your compute resources. If you intend to submit multi-node parallel jobs to your compute environment, you should consider creating a cluster placement group and associate it with your compute resources. This keeps your multi-node parallel job on a logical grouping of instances within a single Availability Zone with high network flow potential. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/placement-groups.html\">Placement groups</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.</p> <p>When updating a compute environment, changing the placement group requires an infrastructure update of the compute environment. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/updating-compute-environments.html\">Updating compute environments</a> in the <i>Batch User Guide</i>.</p> <note> <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p> </note>"
        },
        "bidPercentage":{
          "shape":"Integer",
          "documentation":"<p>The maximum percentage that a Spot Instance price can be when compared with the On-Demand price for that instance type before instances are launched. For example, if your maximum percentage is 20%, the Spot price must be less than 20% of the current On-Demand price for that Amazon EC2 instance. You always pay the lowest (market) price and never more than your maximum percentage. For most use cases, we recommend leaving this field empty.</p> <p>When updating a compute environment, changing the bid percentage requires an infrastructure update of the compute environment. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/updating-compute-environments.html\">Updating compute environments</a> in the <i>Batch User Guide</i>.</p> <note> <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p> </note>"
        },
        "launchTemplate":{
          "shape":"LaunchTemplateSpecification",
          "documentation":"<p>The updated launch template to use for your compute resources. You must specify either the launch template ID or launch template name in the request, but not both. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/launch-templates.html\">Launch template support</a> in the <i>Batch User Guide</i>. To remove the custom launch template and use the default launch template, set <code>launchTemplateId</code> or <code>launchTemplateName</code> member of the launch template specification to an empty string. Removing the launch template from a compute environment will not remove the AMI specified in the launch template. In order to update the AMI specified in a launch template, the <code>updateToLatestImageVersion</code> parameter must be set to <code>true</code>.</p> <p>When updating a compute environment, changing the launch template requires an infrastructure update of the compute environment. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/updating-compute-environments.html\">Updating compute environments</a> in the <i>Batch User Guide</i>.</p> <note> <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p> </note>"
        },
        "ec2Configuration":{
          "shape":"Ec2ConfigurationList",
          "documentation":"<p>Provides information used to select Amazon Machine Images (AMIs) for Amazon EC2 instances in the compute environment. If <code>Ec2Configuration</code> isn't specified, the default is <code>ECS_AL2</code>.</p> <p>When updating a compute environment, changing this setting requires an infrastructure update of the compute environment. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/updating-compute-environments.html\">Updating compute environments</a> in the <i>Batch User Guide</i>. To remove the Amazon EC2 configuration and any custom AMI ID specified in <code>imageIdOverride</code>, set this value to an empty string.</p> <p>One or two values can be provided.</p> <note> <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p> </note>"
        },
        "updateToLatestImageVersion":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the AMI ID is updated to the latest one that's supported by Batch when the compute environment has an infrastructure update. The default value is <code>false</code>.</p> <note> <p>An AMI ID can either be specified in the <code>imageId</code> or <code>imageIdOverride</code> parameters or be determined by the launch template that's specified in the <code>launchTemplate</code> parameter. If an AMI ID is specified any of these ways, this parameter is ignored. For more information about to update AMI IDs during an infrastructure update, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/updating-compute-environments.html#updating-compute-environments-ami\">Updating the AMI ID</a> in the <i>Batch User Guide</i>.</p> </note> <p>When updating a compute environment, changing this setting requires an infrastructure update of the compute environment. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/updating-compute-environments.html\">Updating compute environments</a> in the <i>Batch User Guide</i>.</p>"
        },
        "type":{
          "shape":"CRType",
          "documentation":"<p>The type of compute environment: <code>EC2</code>, <code>SPOT</code>, <code>FARGATE</code>, or <code>FARGATE_SPOT</code>. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/compute_environments.html\">Compute environments</a> in the <i>Batch User Guide</i>.</p> <p> If you choose <code>SPOT</code>, you must also specify an Amazon EC2 Spot Fleet role with the <code>spotIamFleetRole</code> parameter. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/spot_fleet_IAM_role.html\">Amazon EC2 spot fleet role</a> in the <i>Batch User Guide</i>.</p> <p>When updating a compute environment, changing the type of a compute environment requires an infrastructure update of the compute environment. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/updating-compute-environments.html\">Updating compute environments</a> in the <i>Batch User Guide</i>.</p>"
        },
        "imageId":{
          "shape":"String",
          "documentation":"<p>The Amazon Machine Image (AMI) ID used for instances launched in the compute environment. This parameter is overridden by the <code>imageIdOverride</code> member of the <code>Ec2Configuration</code> structure. To remove the custom AMI ID and use the default AMI ID, set this value to an empty string.</p> <p>When updating a compute environment, changing the AMI ID requires an infrastructure update of the compute environment. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/updating-compute-environments.html\">Updating compute environments</a> in the <i>Batch User Guide</i>.</p> <note> <p>This parameter isn't applicable to jobs that are running on Fargate resources. Don't specify it.</p> </note> <note> <p>The AMI that you choose for a compute environment must match the architecture of the instance types that you intend to use for that compute environment. For example, if your compute environment uses A1 instance types, the compute resource AMI that you choose must support ARM instances. Amazon ECS vends both x86 and ARM versions of the Amazon ECS-optimized Amazon Linux 2 AMI. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-optimized_AMI.html#ecs-optimized-ami-linux-variants.html\">Amazon ECS-optimized Amazon Linux 2 AMI</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p> </note>"
        }
      },
      "documentation":"<p>An object that represents the attributes of a compute environment that can be updated. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/updating-compute-environments.html\">Updating compute environments</a> in the <i>Batch User Guide</i>.</p>"
    },
    "ConsumableResourceList":{
      "type":"list",
      "member":{"shape":"ConsumableResourceRequirement"}
    },
    "ConsumableResourceProperties":{
      "type":"structure",
      "members":{
        "consumableResourceList":{
          "shape":"ConsumableResourceList",
          "documentation":"<p>The list of consumable resources required by a job.</p>"
        }
      },
      "documentation":"<p>Contains a list of consumable resources required by a job.</p>"
    },
    "ConsumableResourceRequirement":{
      "type":"structure",
      "members":{
        "consumableResource":{
          "shape":"String",
          "documentation":"<p>The name or ARN of the consumable resource.</p>"
        },
        "quantity":{
          "shape":"Long",
          "documentation":"<p>The quantity of the consumable resource that is needed.</p>"
        }
      },
      "documentation":"<p>Information about a consumable resource required to run a job.</p>"
    },
    "ConsumableResourceSummary":{
      "type":"structure",
      "required":[
        "consumableResourceArn",
        "consumableResourceName"
      ],
      "members":{
        "consumableResourceArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the consumable resource.</p>"
        },
        "consumableResourceName":{
          "shape":"String",
          "documentation":"<p>The name of the consumable resource.</p>"
        },
        "totalQuantity":{
          "shape":"Long",
          "documentation":"<p>The total amount of the consumable resource that is available.</p>"
        },
        "inUseQuantity":{
          "shape":"Long",
          "documentation":"<p>The amount of the consumable resource that is currently in use.</p>"
        },
        "resourceType":{
          "shape":"String",
          "documentation":"<p>Indicates whether the resource is available to be re-used after a job completes. Can be one of: </p> <ul> <li> <p> <code>REPLENISHABLE</code> </p> </li> <li> <p> <code>NON_REPLENISHABLE</code> </p> </li> </ul>"
        }
      },
      "documentation":"<p>Current information about a consumable resource.</p>"
    },
    "ConsumableResourceSummaryList":{
      "type":"list",
      "member":{"shape":"ConsumableResourceSummary"}
    },
    "ContainerDetail":{
      "type":"structure",
      "members":{
        "image":{
          "shape":"String",
          "documentation":"<p>The image used to start the container.</p>"
        },
        "vcpus":{
          "shape":"Integer",
          "documentation":"<p>The number of vCPUs reserved for the container. For jobs that run on Amazon EC2 resources, you can specify the vCPU requirement for the job using <code>resourceRequirements</code>, but you can't specify the vCPU requirements in both the <code>vcpus</code> and <code>resourceRequirements</code> object. This parameter maps to <code>CpuShares</code> in the <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and the <code>--cpu-shares</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>. Each vCPU is equivalent to 1,024 CPU shares. You must specify at least one vCPU. This is required but can be specified in several places. It must be specified for each node at least once.</p> <note> <p>This parameter isn't applicable to jobs that run on Fargate resources. For jobs that run on Fargate resources, you must specify the vCPU requirement for the job using <code>resourceRequirements</code>.</p> </note>"
        },
        "memory":{
          "shape":"Integer",
          "documentation":"<p>For jobs running on Amazon EC2 resources that didn't specify memory requirements using <code>resourceRequirements</code>, the number of MiB of memory reserved for the job. For other jobs, including all run on Fargate resources, see <code>resourceRequirements</code>.</p>"
        },
        "command":{
          "shape":"StringList",
          "documentation":"<p>The command that's passed to the container.</p>"
        },
        "jobRoleArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) that's associated with the job when run.</p>"
        },
        "executionRoleArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the execution role that Batch can assume. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/execution-IAM-role.html\">Batch execution IAM role</a> in the <i>Batch User Guide</i>.</p>"
        },
        "volumes":{
          "shape":"Volumes",
          "documentation":"<p>A list of volumes that are associated with the job.</p>"
        },
        "environment":{
          "shape":"EnvironmentVariables",
          "documentation":"<p>The environment variables to pass to a container.</p> <note> <p>Environment variables cannot start with \"<code>AWS_BATCH</code>\". This naming convention is reserved for variables that Batch sets.</p> </note>"
        },
        "mountPoints":{
          "shape":"MountPoints",
          "documentation":"<p>The mount points for data volumes in your container.</p>"
        },
        "readonlyRootFilesystem":{
          "shape":"Boolean",
          "documentation":"<p>When this parameter is true, the container is given read-only access to its root file system. This parameter maps to <code>ReadonlyRootfs</code> in the <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and the <code>--read-only</code> option to <a href=\"https://docs.docker.com/engine/reference/commandline/run/\"> <code>docker run</code> </a>.</p>"
        },
        "ulimits":{
          "shape":"Ulimits",
          "documentation":"<p>A list of <code>ulimit</code> values to set in the container. This parameter maps to <code>Ulimits</code> in the <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and the <code>--ulimit</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.</p> <note> <p>This parameter isn't applicable to jobs that are running on Fargate resources.</p> </note>"
        },
        "privileged":{
          "shape":"Boolean",
          "documentation":"<p>When this parameter is true, the container is given elevated permissions on the host container instance (similar to the <code>root</code> user). The default value is <code>false</code>.</p> <note> <p>This parameter isn't applicable to jobs that are running on Fargate resources and shouldn't be provided, or specified as <code>false</code>.</p> </note>"
        },
        "user":{
          "shape":"String",
          "documentation":"<p>The user name to use inside the container. This parameter maps to <code>User</code> in the <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and the <code>--user</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>.</p>"
        },
        "exitCode":{
          "shape":"Integer",
          "documentation":"<p>The exit code returned upon completion.</p>"
        },
        "reason":{
          "shape":"String",
          "documentation":"<p>A short (255 max characters) human-readable string to provide additional details for a running or stopped container.</p>"
        },
        "containerInstanceArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the container instance that the container is running on.</p>"
        },
        "taskArn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) of the Amazon ECS task that's associated with the container job. Each container attempt receives a task ARN when they reach the <code>STARTING</code> status.</p>"
        },
        "logStreamName":{
          "shape":"String",
          "documentation":"<p>The name of the Amazon CloudWatch Logs log stream that's associated with the container. The log group for Batch jobs is <code>/aws/batch/job</code>. Each container attempt receives a log stream name when they reach the <code>RUNNING</code> status.</p>"
        },
        "instanceType":{
          "shape":"String",
          "documentation":"<p>The instance type of the underlying host infrastructure of a multi-node parallel job.</p> <note> <p>This parameter isn't applicable to jobs that are running on Fargate resources.</p> </note>"
        },
        "networkInterfaces":{
          "shape":"NetworkInterfaceList",
          "documentation":"<p>The network interfaces that are associated with the job.</p>"
        },
        "resourceRequirements":{
          "shape":"ResourceRequirements",
          "documentation":"<p>The type and amount of resources to assign to a container. The supported resources include <code>GPU</code>, <code>MEMORY</code>, and <code>VCPU</code>.</p>"
        },
        "linuxParameters":{
          "shape":"LinuxParameters",
          "documentation":"<p>Linux-specific modifications that are applied to the container, such as details for device mappings.</p>"
        },
        "logConfiguration":{
          "shape":"LogConfiguration",
          "documentation":"<p>The log configuration specification for the container.</p> <p>This parameter maps to <code>LogConfig</code> in the <a href=\"https://docs.docker.com/engine/api/v1.23/#create-a-container\">Create a container</a> section of the <a href=\"https://docs.docker.com/engine/api/v1.23/\">Docker Remote API</a> and the <code>--log-driver</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker run</a>. By default, containers use the same logging driver that the Docker daemon uses. However, the container might use a different logging driver than the Docker daemon by specifying a log driver with this parameter in the container definition. To use a different logging driver for a container, the log system must be configured properly on the container instance. Or, alternatively, it must be configured on a different log server for remote logging options. For more information on the options for different supported log drivers, see <a href=\"https://docs.docker.com/engine/admin/logging/overview/\">Configure logging drivers</a> in the Docker documentation.</p> <note> <p>Batch currently supports a subset of the logging drivers available to the Docker daemon (shown in the <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-batch-jobdefinition-containerproperties-logconfiguration.html\">LogConfiguration</a> data type). Additional log drivers might be available in future releases of the Amazon ECS container agent.</p> </note> <p>This parameter requires version 1.18 of the Docker Remote API or greater on your container instance. To check the Docker Remote API version on your container instance, log in to your container instance and run the following command: <code>sudo docker version | grep \"Server API version\"</code> </p> <note> <p>The Amazon ECS container agent running on a container instance must register the logging drivers available on that instance with the <code>ECS_AVAILABLE_LOGGING_DRIVERS</code> environment variable before containers placed on that instance can use these log configuration options. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-agent-config.html\">Amazon ECS container agent configuration</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p> </note>"
        },
        "secrets":{
          "shape":"SecretList",
          "documentation":"<p>The secrets to pass to the container. For more information, see <a href=\"https://docs.aws.amazon.com/batch/latest/userguide/specifying-sensitive-data.html\">Specifying sensitive data</a> in the <i>Batch User Guide</i>.</p>"
        },
        "networkConfiguration":{
          "shape":"NetworkConfiguration",
[...]
