{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2019-07-29",
    "endpointPrefix":"wafv2",
    "jsonVersion":"1.1",
    "protocol":"json",
    "protocols":["json"],
    "serviceAbbreviation":"WAFV2",
    "serviceFullName":"AWS WAFV2",
    "serviceId":"WAFV2",
    "signatureVersion":"v4",
    "targetPrefix":"AWSWAF_20190729",
    "uid":"wafv2-2019-07-29",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AssociateWebACL":{
      "name":"AssociateWebACL",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateWebACLRequest"},
      "output":{"shape":"AssociateWebACLResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFUnavailableEntityException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Associates a web ACL with a resource, to protect the resource. </p> <p>Use this for all resource types except for Amazon CloudFront distributions. For Amazon CloudFront, call <code>UpdateDistribution</code> for the distribution and provide the Amazon Resource Name (ARN) of the web ACL in the web ACL ID. For information, see <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_UpdateDistribution.html\">UpdateDistribution</a> in the <i>Amazon CloudFront Developer Guide</i>. </p> <p> <b>Required permissions for customer-managed IAM policies</b> </p> <p>This call requires permissions that are specific to the protected resource type. For details, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/security_iam_service-with-iam.html#security_iam_action-AssociateWebACL\">Permissions for AssociateWebACL</a> in the <i>WAF Developer Guide</i>. </p> <p> <b>Temporary inconsistencies during updates</b> </p> <p>When you create or change a web ACL or other WAF resources, the changes take a small amount of time to propagate to all areas where the resources are stored. The propagation time can be from a few seconds to a number of minutes. </p> <p>The following are examples of the temporary inconsistencies that you might notice during change propagation: </p> <ul> <li> <p>After you create a web ACL, if you try to associate it with a resource, you might get an exception indicating that the web ACL is unavailable. </p> </li> <li> <p>After you add a rule group to a web ACL, the new rule group rules might be in effect in one area where the web ACL is used and not in another.</p> </li> <li> <p>After you change a rule action setting, you might see the old action in some places and the new action in others. </p> </li> <li> <p>After you add an IP address to an IP set that is in use in a blocking rule, the new address might be blocked in one area while still allowed in another.</p> </li> </ul>"
    },
    "CheckCapacity":{
      "name":"CheckCapacity",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CheckCapacityRequest"},
      "output":{"shape":"CheckCapacityResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFLimitsExceededException"},
        {"shape":"WAFInvalidResourceException"},
        {"shape":"WAFUnavailableEntityException"},
        {"shape":"WAFSubscriptionNotFoundException"},
        {"shape":"WAFExpiredManagedRuleGroupVersionException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Returns the web ACL capacity unit (WCU) requirements for a specified scope and set of rules. You can use this to check the capacity requirements for the rules you want to use in a <a>RuleGroup</a> or <a>WebACL</a>. </p> <p>WAF uses WCUs to calculate and control the operating resources that are used to run your rules, rule groups, and web ACLs. WAF calculates capacity differently for each rule type, to reflect the relative cost of each rule. Simple rules that cost little to run use fewer WCUs than more complex rules that use more processing power. Rule group capacity is fixed at creation, which helps users plan their web ACL WCU usage when they use a rule group. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/aws-waf-capacity-units.html\">WAF web ACL capacity units (WCU)</a> in the <i>WAF Developer Guide</i>. </p>"
    },
    "CreateAPIKey":{
      "name":"CreateAPIKey",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAPIKeyRequest"},
      "output":{"shape":"CreateAPIKeyResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFInvalidOperationException"},
        {"shape":"WAFLimitsExceededException"}
      ],
      "documentation":"<p>Creates an API key that contains a set of token domains.</p> <p>API keys are required for the integration of the CAPTCHA API in your JavaScript client applications. The API lets you customize the placement and characteristics of the CAPTCHA puzzle for your end users. For more information about the CAPTCHA JavaScript integration, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-application-integration.html\">WAF client application integration</a> in the <i>WAF Developer Guide</i>.</p> <p>You can use a single key for up to 5 domains. After you generate a key, you can copy it for use in your JavaScript integration. </p>"
    },
    "CreateIPSet":{
      "name":"CreateIPSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateIPSetRequest"},
      "output":{"shape":"CreateIPSetResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFDuplicateItemException"},
        {"shape":"WAFOptimisticLockException"},
        {"shape":"WAFLimitsExceededException"},
        {"shape":"WAFTagOperationException"},
        {"shape":"WAFTagOperationInternalErrorException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Creates an <a>IPSet</a>, which you use to identify web requests that originate from specific IP addresses or ranges of IP addresses. For example, if you're receiving a lot of requests from a ranges of IP addresses, you can configure WAF to block them using an IPSet that lists those IP addresses. </p>"
    },
    "CreateRegexPatternSet":{
      "name":"CreateRegexPatternSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateRegexPatternSetRequest"},
      "output":{"shape":"CreateRegexPatternSetResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFDuplicateItemException"},
        {"shape":"WAFOptimisticLockException"},
        {"shape":"WAFLimitsExceededException"},
        {"shape":"WAFTagOperationException"},
        {"shape":"WAFTagOperationInternalErrorException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Creates a <a>RegexPatternSet</a>, which you reference in a <a>RegexPatternSetReferenceStatement</a>, to have WAF inspect a web request component for the specified patterns.</p>"
    },
    "CreateRuleGroup":{
      "name":"CreateRuleGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateRuleGroupRequest"},
      "output":{"shape":"CreateRuleGroupResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFDuplicateItemException"},
        {"shape":"WAFOptimisticLockException"},
        {"shape":"WAFLimitsExceededException"},
        {"shape":"WAFUnavailableEntityException"},
        {"shape":"WAFTagOperationException"},
        {"shape":"WAFTagOperationInternalErrorException"},
        {"shape":"WAFSubscriptionNotFoundException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Creates a <a>RuleGroup</a> per the specifications provided. </p> <p> A rule group defines a collection of rules to inspect and control web requests that you can use in a <a>WebACL</a>. When you create a rule group, you define an immutable capacity limit. If you update a rule group, you must stay within the capacity. This allows others to reuse the rule group with confidence in its capacity requirements. </p>"
    },
    "CreateWebACL":{
      "name":"CreateWebACL",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateWebACLRequest"},
      "output":{"shape":"CreateWebACLResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFDuplicateItemException"},
        {"shape":"WAFOptimisticLockException"},
        {"shape":"WAFLimitsExceededException"},
        {"shape":"WAFInvalidResourceException"},
        {"shape":"WAFUnavailableEntityException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFTagOperationException"},
        {"shape":"WAFTagOperationInternalErrorException"},
        {"shape":"WAFSubscriptionNotFoundException"},
        {"shape":"WAFInvalidOperationException"},
        {"shape":"WAFConfigurationWarningException"},
        {"shape":"WAFExpiredManagedRuleGroupVersionException"}
      ],
      "documentation":"<p>Creates a <a>WebACL</a> per the specifications provided.</p> <p> A web ACL defines a collection of rules to use to inspect and control web requests. Each rule has a statement that defines what to look for in web requests and an action that WAF applies to requests that match the statement. In the web ACL, you assign a default action to take (allow, block) for any request that does not match any of the rules. The rules in a web ACL can be a combination of the types <a>Rule</a>, <a>RuleGroup</a>, and managed rule group. You can associate a web ACL with one or more Amazon Web Services resources to protect. The resource types include Amazon CloudFront distribution, Amazon API Gateway REST API, Application Load Balancer, AppSync GraphQL API, Amazon Cognito user pool, App Runner service, Amplify application, and Amazon Web Services Verified Access instance. </p>"
    },
    "DeleteAPIKey":{
      "name":"DeleteAPIKey",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAPIKeyRequest"},
      "output":{"shape":"DeleteAPIKeyResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFOptimisticLockException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Deletes the specified API key. </p> <p>After you delete a key, it can take up to 24 hours for WAF to disallow use of the key in all regions. </p>"
    },
    "DeleteFirewallManagerRuleGroups":{
      "name":"DeleteFirewallManagerRuleGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteFirewallManagerRuleGroupsRequest"},
      "output":{"shape":"DeleteFirewallManagerRuleGroupsResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFOptimisticLockException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Deletes all rule groups that are managed by Firewall Manager from the specified <a>WebACL</a>. </p> <p>You can only use this if <code>ManagedByFirewallManager</code> and <code>RetrofittedByFirewallManager</code> are both false in the web ACL. </p>"
    },
    "DeleteIPSet":{
      "name":"DeleteIPSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteIPSetRequest"},
      "output":{"shape":"DeleteIPSetResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFOptimisticLockException"},
        {"shape":"WAFAssociatedItemException"},
        {"shape":"WAFTagOperationException"},
        {"shape":"WAFTagOperationInternalErrorException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Deletes the specified <a>IPSet</a>. </p>"
    },
    "DeleteLoggingConfiguration":{
      "name":"DeleteLoggingConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteLoggingConfigurationRequest"},
      "output":{"shape":"DeleteLoggingConfigurationResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFOptimisticLockException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Deletes the <a>LoggingConfiguration</a> from the specified web ACL.</p>"
    },
    "DeletePermissionPolicy":{
      "name":"DeletePermissionPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePermissionPolicyRequest"},
      "output":{"shape":"DeletePermissionPolicyResponse"},
      "errors":[
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"}
      ],
      "documentation":"<p>Permanently deletes an IAM policy from the specified rule group.</p> <p>You must be the owner of the rule group to perform this operation.</p>"
    },
    "DeleteRegexPatternSet":{
      "name":"DeleteRegexPatternSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRegexPatternSetRequest"},
      "output":{"shape":"DeleteRegexPatternSetResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFOptimisticLockException"},
        {"shape":"WAFAssociatedItemException"},
        {"shape":"WAFTagOperationException"},
        {"shape":"WAFTagOperationInternalErrorException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Deletes the specified <a>RegexPatternSet</a>.</p>"
    },
    "DeleteRuleGroup":{
      "name":"DeleteRuleGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRuleGroupRequest"},
      "output":{"shape":"DeleteRuleGroupResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFOptimisticLockException"},
        {"shape":"WAFAssociatedItemException"},
        {"shape":"WAFTagOperationException"},
        {"shape":"WAFTagOperationInternalErrorException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Deletes the specified <a>RuleGroup</a>.</p>"
    },
    "DeleteWebACL":{
      "name":"DeleteWebACL",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteWebACLRequest"},
      "output":{"shape":"DeleteWebACLResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFOptimisticLockException"},
        {"shape":"WAFAssociatedItemException"},
        {"shape":"WAFTagOperationException"},
        {"shape":"WAFTagOperationInternalErrorException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Deletes the specified <a>WebACL</a>. </p> <p>You can only use this if <code>ManagedByFirewallManager</code> is false in the web ACL. </p> <note> <p>Before deleting any web ACL, first disassociate it from all resources.</p> <ul> <li> <p>To retrieve a list of the resources that are associated with a web ACL, use the following calls:</p> <ul> <li> <p>For Amazon CloudFront distributions, use the CloudFront call <code>ListDistributionsByWebACLId</code>. For information, see <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_ListDistributionsByWebACLId.html\">ListDistributionsByWebACLId</a> in the <i>Amazon CloudFront API Reference</i>. </p> </li> <li> <p>For all other resources, call <a>ListResourcesForWebACL</a>.</p> </li> </ul> </li> <li> <p>To disassociate a resource from a web ACL, use the following calls:</p> <ul> <li> <p>For Amazon CloudFront distributions, provide an empty web ACL ID in the CloudFront call <code>UpdateDistribution</code>. For information, see <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_UpdateDistribution.html\">UpdateDistribution</a> in the <i>Amazon CloudFront API Reference</i>. </p> </li> <li> <p>For all other resources, call <a>DisassociateWebACL</a>.</p> </li> </ul> </li> </ul> </note>"
    },
    "DescribeAllManagedProducts":{
      "name":"DescribeAllManagedProducts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAllManagedProductsRequest"},
      "output":{"shape":"DescribeAllManagedProductsResponse"},
      "errors":[
        {"shape":"WAFInvalidOperationException"},
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"}
      ],
      "documentation":"<p>Provides high-level information for the Amazon Web Services Managed Rules rule groups and Amazon Web Services Marketplace managed rule groups. </p>"
    },
    "DescribeManagedProductsByVendor":{
      "name":"DescribeManagedProductsByVendor",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeManagedProductsByVendorRequest"},
      "output":{"shape":"DescribeManagedProductsByVendorResponse"},
      "errors":[
        {"shape":"WAFInvalidOperationException"},
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"}
      ],
      "documentation":"<p>Provides high-level information for the managed rule groups owned by a specific vendor. </p>"
    },
    "DescribeManagedRuleGroup":{
      "name":"DescribeManagedRuleGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeManagedRuleGroupRequest"},
      "output":{"shape":"DescribeManagedRuleGroupResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFInvalidResourceException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFInvalidOperationException"},
        {"shape":"WAFExpiredManagedRuleGroupVersionException"}
      ],
      "documentation":"<p>Provides high-level information for a managed rule group, including descriptions of the rules. </p>"
    },
    "DisassociateWebACL":{
      "name":"DisassociateWebACL",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateWebACLRequest"},
      "output":{"shape":"DisassociateWebACLResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Disassociates the specified resource from its web ACL association, if it has one. </p> <p>Use this for all resource types except for Amazon CloudFront distributions. For Amazon CloudFront, call <code>UpdateDistribution</code> for the distribution and provide an empty web ACL ID. For information, see <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_UpdateDistribution.html\">UpdateDistribution</a> in the <i>Amazon CloudFront API Reference</i>. </p> <p> <b>Required permissions for customer-managed IAM policies</b> </p> <p>This call requires permissions that are specific to the protected resource type. For details, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/security_iam_service-with-iam.html#security_iam_action-DisassociateWebACL\">Permissions for DisassociateWebACL</a> in the <i>WAF Developer Guide</i>.</p>"
    },
    "GenerateMobileSdkReleaseUrl":{
      "name":"GenerateMobileSdkReleaseUrl",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GenerateMobileSdkReleaseUrlRequest"},
      "output":{"shape":"GenerateMobileSdkReleaseUrlResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Generates a presigned download URL for the specified release of the mobile SDK.</p> <p>The mobile SDK is not generally available. Customers who have access to the mobile SDK can use it to establish and manage WAF tokens for use in HTTP(S) requests from a mobile device to WAF. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-application-integration.html\">WAF client application integration</a> in the <i>WAF Developer Guide</i>.</p>"
    },
    "GetDecryptedAPIKey":{
      "name":"GetDecryptedAPIKey",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDecryptedAPIKeyRequest"},
      "output":{"shape":"GetDecryptedAPIKeyResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFInvalidOperationException"},
        {"shape":"WAFInvalidResourceException"}
      ],
      "documentation":"<p>Returns your API key in decrypted form. Use this to check the token domains that you have defined for the key. </p> <p>API keys are required for the integration of the CAPTCHA API in your JavaScript client applications. The API lets you customize the placement and characteristics of the CAPTCHA puzzle for your end users. For more information about the CAPTCHA JavaScript integration, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-application-integration.html\">WAF client application integration</a> in the <i>WAF Developer Guide</i>.</p>"
    },
    "GetIPSet":{
      "name":"GetIPSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetIPSetRequest"},
      "output":{"shape":"GetIPSetResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Retrieves the specified <a>IPSet</a>.</p>"
    },
    "GetLoggingConfiguration":{
      "name":"GetLoggingConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetLoggingConfigurationRequest"},
      "output":{"shape":"GetLoggingConfigurationResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Returns the <a>LoggingConfiguration</a> for the specified web ACL.</p>"
    },
    "GetManagedRuleSet":{
      "name":"GetManagedRuleSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetManagedRuleSetRequest"},
      "output":{"shape":"GetManagedRuleSetResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Retrieves the specified managed rule set. </p> <note> <p>This is intended for use only by vendors of managed rule sets. Vendors are Amazon Web Services and Amazon Web Services Marketplace sellers. </p> <p>Vendors, you can use the managed rule set APIs to provide controlled rollout of your versioned managed rule group offerings for your customers. The APIs are <code>ListManagedRuleSets</code>, <code>GetManagedRuleSet</code>, <code>PutManagedRuleSetVersions</code>, and <code>UpdateManagedRuleSetVersionExpiryDate</code>.</p> </note>"
    },
    "GetMobileSdkRelease":{
      "name":"GetMobileSdkRelease",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetMobileSdkReleaseRequest"},
      "output":{"shape":"GetMobileSdkReleaseResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Retrieves information for the specified mobile SDK release, including release notes and tags.</p> <p>The mobile SDK is not generally available. Customers who have access to the mobile SDK can use it to establish and manage WAF tokens for use in HTTP(S) requests from a mobile device to WAF. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-application-integration.html\">WAF client application integration</a> in the <i>WAF Developer Guide</i>.</p>"
    },
    "GetPermissionPolicy":{
      "name":"GetPermissionPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetPermissionPolicyRequest"},
      "output":{"shape":"GetPermissionPolicyResponse"},
      "errors":[
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"}
      ],
      "documentation":"<p>Returns the IAM policy that is attached to the specified rule group.</p> <p>You must be the owner of the rule group to perform this operation.</p>"
    },
    "GetRateBasedStatementManagedKeys":{
      "name":"GetRateBasedStatementManagedKeys",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRateBasedStatementManagedKeysRequest"},
      "output":{"shape":"GetRateBasedStatementManagedKeysResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFInvalidOperationException"},
        {"shape":"WAFUnsupportedAggregateKeyTypeException"}
      ],
      "documentation":"<p>Retrieves the IP addresses that are currently blocked by a rate-based rule instance. This is only available for rate-based rules that aggregate solely on the IP address or on the forwarded IP address. </p> <p>The maximum number of addresses that can be blocked for a single rate-based rule instance is 10,000. If more than 10,000 addresses exceed the rate limit, those with the highest rates are blocked.</p> <p>For a rate-based rule that you've defined inside a rule group, provide the name of the rule group reference statement in your request, in addition to the rate-based rule name and the web ACL name. </p> <p>WAF monitors web requests and manages keys independently for each unique combination of web ACL, optional rule group, and rate-based rule. For example, if you define a rate-based rule inside a rule group, and then use the rule group in a web ACL, WAF monitors web requests and manages keys for that web ACL, rule group reference statement, and rate-based rule instance. If you use the same rule group in a second web ACL, WAF monitors web requests and manages keys for this second usage completely independent of your first. </p>"
    },
    "GetRegexPatternSet":{
      "name":"GetRegexPatternSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRegexPatternSetRequest"},
      "output":{"shape":"GetRegexPatternSetResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Retrieves the specified <a>RegexPatternSet</a>.</p>"
    },
    "GetRuleGroup":{
      "name":"GetRuleGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRuleGroupRequest"},
      "output":{"shape":"GetRuleGroupResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Retrieves the specified <a>RuleGroup</a>.</p>"
    },
    "GetSampledRequests":{
      "name":"GetSampledRequests",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSampledRequestsRequest"},
      "output":{"shape":"GetSampledRequestsResponse"},
      "errors":[
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"}
      ],
      "documentation":"<p>Gets detailed information about a specified number of requests--a sample--that WAF randomly selects from among the first 5,000 requests that your Amazon Web Services resource received during a time range that you choose. You can specify a sample size of up to 500 requests, and you can specify any time range in the previous three hours.</p> <p> <code>GetSampledRequests</code> returns a time range, which is usually the time range that you specified. However, if your resource (such as a CloudFront distribution) received 5,000 requests before the specified time range elapsed, <code>GetSampledRequests</code> returns an updated time range. This new time range indicates the actual period during which WAF selected the requests in the sample.</p>"
    },
    "GetWebACL":{
      "name":"GetWebACL",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetWebACLRequest"},
      "output":{"shape":"GetWebACLResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Retrieves the specified <a>WebACL</a>.</p>"
    },
    "GetWebACLForResource":{
      "name":"GetWebACLForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetWebACLForResourceRequest"},
      "output":{"shape":"GetWebACLForResourceResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFUnavailableEntityException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Retrieves the <a>WebACL</a> for the specified resource. </p> <p>This call uses <code>GetWebACL</code>, to verify that your account has permission to access the retrieved web ACL. If you get an error that indicates that your account isn't authorized to perform <code>wafv2:GetWebACL</code> on the resource, that error won't be included in your CloudTrail event history. </p> <p>For Amazon CloudFront, don't use this call. Instead, call the CloudFront action <code>GetDistributionConfig</code>. For information, see <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_GetDistributionConfig.html\">GetDistributionConfig</a> in the <i>Amazon CloudFront API Reference</i>. </p> <p> <b>Required permissions for customer-managed IAM policies</b> </p> <p>This call requires permissions that are specific to the protected resource type. For details, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/security_iam_service-with-iam.html#security_iam_action-GetWebACLForResource\">Permissions for GetWebACLForResource</a> in the <i>WAF Developer Guide</i>.</p>"
    },
    "ListAPIKeys":{
      "name":"ListAPIKeys",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAPIKeysRequest"},
      "output":{"shape":"ListAPIKeysResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFInvalidOperationException"},
        {"shape":"WAFInvalidResourceException"}
      ],
      "documentation":"<p>Retrieves a list of the API keys that you've defined for the specified scope. </p> <p>API keys are required for the integration of the CAPTCHA API in your JavaScript client applications. The API lets you customize the placement and characteristics of the CAPTCHA puzzle for your end users. For more information about the CAPTCHA JavaScript integration, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-application-integration.html\">WAF client application integration</a> in the <i>WAF Developer Guide</i>.</p>"
    },
    "ListAvailableManagedRuleGroupVersions":{
      "name":"ListAvailableManagedRuleGroupVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAvailableManagedRuleGroupVersionsRequest"},
      "output":{"shape":"ListAvailableManagedRuleGroupVersionsResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Returns a list of the available versions for the specified managed rule group. </p>"
    },
    "ListAvailableManagedRuleGroups":{
      "name":"ListAvailableManagedRuleGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAvailableManagedRuleGroupsRequest"},
      "output":{"shape":"ListAvailableManagedRuleGroupsResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Retrieves an array of managed rule groups that are available for you to use. This list includes all Amazon Web Services Managed Rules rule groups and all of the Amazon Web Services Marketplace managed rule groups that you're subscribed to.</p>"
    },
    "ListIPSets":{
      "name":"ListIPSets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListIPSetsRequest"},
      "output":{"shape":"ListIPSetsResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Retrieves an array of <a>IPSetSummary</a> objects for the IP sets that you manage.</p>"
    },
    "ListLoggingConfigurations":{
      "name":"ListLoggingConfigurations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListLoggingConfigurationsRequest"},
      "output":{"shape":"ListLoggingConfigurationsResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Retrieves an array of your <a>LoggingConfiguration</a> objects.</p>"
    },
    "ListManagedRuleSets":{
      "name":"ListManagedRuleSets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListManagedRuleSetsRequest"},
      "output":{"shape":"ListManagedRuleSetsResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Retrieves the managed rule sets that you own. </p> <note> <p>This is intended for use only by vendors of managed rule sets. Vendors are Amazon Web Services and Amazon Web Services Marketplace sellers. </p> <p>Vendors, you can use the managed rule set APIs to provide controlled rollout of your versioned managed rule group offerings for your customers. The APIs are <code>ListManagedRuleSets</code>, <code>GetManagedRuleSet</code>, <code>PutManagedRuleSetVersions</code>, and <code>UpdateManagedRuleSetVersionExpiryDate</code>.</p> </note>"
    },
    "ListMobileSdkReleases":{
      "name":"ListMobileSdkReleases",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListMobileSdkReleasesRequest"},
      "output":{"shape":"ListMobileSdkReleasesResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Retrieves a list of the available releases for the mobile SDK and the specified device platform. </p> <p>The mobile SDK is not generally available. Customers who have access to the mobile SDK can use it to establish and manage WAF tokens for use in HTTP(S) requests from a mobile device to WAF. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-application-integration.html\">WAF client application integration</a> in the <i>WAF Developer Guide</i>.</p>"
    },
    "ListRegexPatternSets":{
      "name":"ListRegexPatternSets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListRegexPatternSetsRequest"},
      "output":{"shape":"ListRegexPatternSetsResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Retrieves an array of <a>RegexPatternSetSummary</a> objects for the regex pattern sets that you manage.</p>"
    },
    "ListResourcesForWebACL":{
      "name":"ListResourcesForWebACL",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListResourcesForWebACLRequest"},
      "output":{"shape":"ListResourcesForWebACLResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Retrieves an array of the Amazon Resource Names (ARNs) for the resources that are associated with the specified web ACL. </p> <p>For Amazon CloudFront, don't use this call. Instead, use the CloudFront call <code>ListDistributionsByWebACLId</code>. For information, see <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_ListDistributionsByWebACLId.html\">ListDistributionsByWebACLId</a> in the <i>Amazon CloudFront API Reference</i>. </p> <p> <b>Required permissions for customer-managed IAM policies</b> </p> <p>This call requires permissions that are specific to the protected resource type. For details, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/security_iam_service-with-iam.html#security_iam_action-ListResourcesForWebACL\">Permissions for ListResourcesForWebACL</a> in the <i>WAF Developer Guide</i>.</p>"
    },
    "ListRuleGroups":{
      "name":"ListRuleGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListRuleGroupsRequest"},
      "output":{"shape":"ListRuleGroupsResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Retrieves an array of <a>RuleGroupSummary</a> objects for the rule groups that you manage. </p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFTagOperationException"},
        {"shape":"WAFTagOperationInternalErrorException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Retrieves the <a>TagInfoForResource</a> for the specified resource. Tags are key:value pairs that you can use to categorize and manage your resources, for purposes like billing. For example, you might set the tag key to \"customer\" and the value to the customer name or ID. You can specify one or more tags to add to each Amazon Web Services resource, up to 50 tags for a resource.</p> <p>You can tag the Amazon Web Services resources that you manage through WAF: web ACLs, rule groups, IP sets, and regex pattern sets. You can't manage or view tags through the WAF console. </p>"
    },
    "ListWebACLs":{
      "name":"ListWebACLs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListWebACLsRequest"},
      "output":{"shape":"ListWebACLsResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Retrieves an array of <a>WebACLSummary</a> objects for the web ACLs that you manage.</p>"
    },
    "PutLoggingConfiguration":{
      "name":"PutLoggingConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutLoggingConfigurationRequest"},
      "output":{"shape":"PutLoggingConfigurationResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFOptimisticLockException"},
        {"shape":"WAFServiceLinkedRoleErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFInvalidOperationException"},
        {"shape":"WAFLimitsExceededException"},
        {"shape":"WAFLogDestinationPermissionIssueException"}
      ],
      "documentation":"<p>Enables the specified <a>LoggingConfiguration</a>, to start logging from a web ACL, according to the configuration provided. </p> <p>If you configure data protection for the web ACL, the protection applies to the data that WAF sends to the logs. </p> <note> <p>This operation completely replaces any mutable specifications that you already have for a logging configuration with the ones that you provide to this call. </p> <p>To modify an existing logging configuration, do the following: </p> <ol> <li> <p>Retrieve it by calling <a>GetLoggingConfiguration</a> </p> </li> <li> <p>Update its settings as needed</p> </li> <li> <p>Provide the complete logging configuration specification to this call</p> </li> </ol> </note> <note> <p>You can define one logging destination per web ACL.</p> </note> <p>You can access information about the traffic that WAF inspects using the following steps:</p> <ol> <li> <p>Create your logging destination. You can use an Amazon CloudWatch Logs log group, an Amazon Simple Storage Service (Amazon S3) bucket, or an Amazon Kinesis Data Firehose. </p> <p>The name that you give the destination must start with <code>aws-waf-logs-</code>. Depending on the type of destination, you might need to configure additional settings or permissions. </p> <p>For configuration requirements and pricing information for each destination type, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/logging.html\">Logging web ACL traffic</a> in the <i>WAF Developer Guide</i>.</p> </li> <li> <p>Associate your logging destination to your web ACL using a <code>PutLoggingConfiguration</code> request.</p> </li> </ol> <p>When you successfully enable logging using a <code>PutLoggingConfiguration</code> request, WAF creates an additional role or policy that is required to write logs to the logging destination. For an Amazon CloudWatch Logs log group, WAF creates a resource policy on the log group. For an Amazon S3 bucket, WAF creates a bucket policy. For an Amazon Kinesis Data Firehose, WAF creates a service-linked role.</p> <p>For additional information about web ACL logging, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/logging.html\">Logging web ACL traffic information</a> in the <i>WAF Developer Guide</i>.</p>"
    },
    "PutManagedRuleSetVersions":{
      "name":"PutManagedRuleSetVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutManagedRuleSetVersionsRequest"},
      "output":{"shape":"PutManagedRuleSetVersionsResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFOptimisticLockException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Defines the versions of your managed rule set that you are offering to the customers. Customers see your offerings as managed rule groups with versioning.</p> <note> <p>This is intended for use only by vendors of managed rule sets. Vendors are Amazon Web Services and Amazon Web Services Marketplace sellers. </p> <p>Vendors, you can use the managed rule set APIs to provide controlled rollout of your versioned managed rule group offerings for your customers. The APIs are <code>ListManagedRuleSets</code>, <code>GetManagedRuleSet</code>, <code>PutManagedRuleSetVersions</code>, and <code>UpdateManagedRuleSetVersionExpiryDate</code>.</p> </note> <p>Customers retrieve their managed rule group list by calling <a>ListAvailableManagedRuleGroups</a>. The name that you provide here for your managed rule set is the name the customer sees for the corresponding managed rule group. Customers can retrieve the available versions for a managed rule group by calling <a>ListAvailableManagedRuleGroupVersions</a>. You provide a rule group specification for each version. For each managed rule set, you must specify a version that you recommend using. </p> <p>To initiate the expiration of a managed rule group version, use <a>UpdateManagedRuleSetVersionExpiryDate</a>.</p>"
    },
    "PutPermissionPolicy":{
      "name":"PutPermissionPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutPermissionPolicyRequest"},
      "output":{"shape":"PutPermissionPolicyResponse"},
      "errors":[
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFInvalidPermissionPolicyException"}
      ],
      "documentation":"<p>Use this to share a rule group with other accounts.</p> <p>This action attaches an IAM policy to the specified resource. You must be the owner of the rule group to perform this operation.</p> <p>This action is subject to the following restrictions:</p> <ul> <li> <p>You can attach only one policy with each <code>PutPermissionPolicy</code> request.</p> </li> <li> <p>The ARN in the request must be a valid WAF <a>RuleGroup</a> ARN and the rule group must exist in the same Region.</p> </li> <li> <p>The user making the request must be the owner of the rule group.</p> </li> </ul> <p>If a rule group has been shared with your account, you can access it through the call <code>GetRuleGroup</code>, and you can reference it in <code>CreateWebACL</code> and <code>UpdateWebACL</code>. Rule groups that are shared with you don't appear in your WAF console rule groups listing. </p>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFLimitsExceededException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFTagOperationException"},
        {"shape":"WAFTagOperationInternalErrorException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Associates tags with the specified Amazon Web Services resource. Tags are key:value pairs that you can use to categorize and manage your resources, for purposes like billing. For example, you might set the tag key to \"customer\" and the value to the customer name or ID. You can specify one or more tags to add to each Amazon Web Services resource, up to 50 tags for a resource.</p> <p>You can tag the Amazon Web Services resources that you manage through WAF: web ACLs, rule groups, IP sets, and regex pattern sets. You can't manage or view tags through the WAF console. </p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFTagOperationException"},
        {"shape":"WAFTagOperationInternalErrorException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Disassociates tags from an Amazon Web Services resource. Tags are key:value pairs that you can associate with Amazon Web Services resources. For example, the tag key might be \"customer\" and the tag value might be \"companyA.\" You can specify one or more tags to add to each container. You can add up to 50 tags to each Amazon Web Services resource.</p>"
    },
    "UpdateIPSet":{
      "name":"UpdateIPSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateIPSetRequest"},
      "output":{"shape":"UpdateIPSetResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFDuplicateItemException"},
        {"shape":"WAFOptimisticLockException"},
        {"shape":"WAFLimitsExceededException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Updates the specified <a>IPSet</a>. </p> <note> <p>This operation completely replaces the mutable specifications that you already have for the IP set with the ones that you provide to this call. </p> <p>To modify an IP set, do the following: </p> <ol> <li> <p>Retrieve it by calling <a>GetIPSet</a> </p> </li> <li> <p>Update its settings as needed</p> </li> <li> <p>Provide the complete IP set specification to this call</p> </li> </ol> </note> <p> <b>Temporary inconsistencies during updates</b> </p> <p>When you create or change a web ACL or other WAF resources, the changes take a small amount of time to propagate to all areas where the resources are stored. The propagation time can be from a few seconds to a number of minutes. </p> <p>The following are examples of the temporary inconsistencies that you might notice during change propagation: </p> <ul> <li> <p>After you create a web ACL, if you try to associate it with a resource, you might get an exception indicating that the web ACL is unavailable. </p> </li> <li> <p>After you add a rule group to a web ACL, the new rule group rules might be in effect in one area where the web ACL is used and not in another.</p> </li> <li> <p>After you change a rule action setting, you might see the old action in some places and the new action in others. </p> </li> <li> <p>After you add an IP address to an IP set that is in use in a blocking rule, the new address might be blocked in one area while still allowed in another.</p> </li> </ul>"
    },
    "UpdateManagedRuleSetVersionExpiryDate":{
      "name":"UpdateManagedRuleSetVersionExpiryDate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateManagedRuleSetVersionExpiryDateRequest"},
      "output":{"shape":"UpdateManagedRuleSetVersionExpiryDateResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFOptimisticLockException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Updates the expiration information for your managed rule set. Use this to initiate the expiration of a managed rule group version. After you initiate expiration for a version, WAF excludes it from the response to <a>ListAvailableManagedRuleGroupVersions</a> for the managed rule group. </p> <note> <p>This is intended for use only by vendors of managed rule sets. Vendors are Amazon Web Services and Amazon Web Services Marketplace sellers. </p> <p>Vendors, you can use the managed rule set APIs to provide controlled rollout of your versioned managed rule group offerings for your customers. The APIs are <code>ListManagedRuleSets</code>, <code>GetManagedRuleSet</code>, <code>PutManagedRuleSetVersions</code>, and <code>UpdateManagedRuleSetVersionExpiryDate</code>.</p> </note>"
    },
    "UpdateRegexPatternSet":{
      "name":"UpdateRegexPatternSet",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateRegexPatternSetRequest"},
      "output":{"shape":"UpdateRegexPatternSetResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFDuplicateItemException"},
        {"shape":"WAFOptimisticLockException"},
        {"shape":"WAFLimitsExceededException"},
        {"shape":"WAFInvalidOperationException"}
      ],
      "documentation":"<p>Updates the specified <a>RegexPatternSet</a>.</p> <note> <p>This operation completely replaces the mutable specifications that you already have for the regex pattern set with the ones that you provide to this call. </p> <p>To modify a regex pattern set, do the following: </p> <ol> <li> <p>Retrieve it by calling <a>GetRegexPatternSet</a> </p> </li> <li> <p>Update its settings as needed</p> </li> <li> <p>Provide the complete regex pattern set specification to this call</p> </li> </ol> </note> <p> <b>Temporary inconsistencies during updates</b> </p> <p>When you create or change a web ACL or other WAF resources, the changes take a small amount of time to propagate to all areas where the resources are stored. The propagation time can be from a few seconds to a number of minutes. </p> <p>The following are examples of the temporary inconsistencies that you might notice during change propagation: </p> <ul> <li> <p>After you create a web ACL, if you try to associate it with a resource, you might get an exception indicating that the web ACL is unavailable. </p> </li> <li> <p>After you add a rule group to a web ACL, the new rule group rules might be in effect in one area where the web ACL is used and not in another.</p> </li> <li> <p>After you change a rule action setting, you might see the old action in some places and the new action in others. </p> </li> <li> <p>After you add an IP address to an IP set that is in use in a blocking rule, the new address might be blocked in one area while still allowed in another.</p> </li> </ul>"
    },
    "UpdateRuleGroup":{
      "name":"UpdateRuleGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateRuleGroupRequest"},
      "output":{"shape":"UpdateRuleGroupResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFDuplicateItemException"},
        {"shape":"WAFOptimisticLockException"},
        {"shape":"WAFLimitsExceededException"},
        {"shape":"WAFUnavailableEntityException"},
        {"shape":"WAFSubscriptionNotFoundException"},
        {"shape":"WAFInvalidOperationException"},
        {"shape":"WAFConfigurationWarningException"}
      ],
      "documentation":"<p>Updates the specified <a>RuleGroup</a>.</p> <note> <p>This operation completely replaces the mutable specifications that you already have for the rule group with the ones that you provide to this call. </p> <p>To modify a rule group, do the following: </p> <ol> <li> <p>Retrieve it by calling <a>GetRuleGroup</a> </p> </li> <li> <p>Update its settings as needed</p> </li> <li> <p>Provide the complete rule group specification to this call</p> </li> </ol> </note> <p> A rule group defines a collection of rules to inspect and control web requests that you can use in a <a>WebACL</a>. When you create a rule group, you define an immutable capacity limit. If you update a rule group, you must stay within the capacity. This allows others to reuse the rule group with confidence in its capacity requirements. </p> <p> <b>Temporary inconsistencies during updates</b> </p> <p>When you create or change a web ACL or other WAF resources, the changes take a small amount of time to propagate to all areas where the resources are stored. The propagation time can be from a few seconds to a number of minutes. </p> <p>The following are examples of the temporary inconsistencies that you might notice during change propagation: </p> <ul> <li> <p>After you create a web ACL, if you try to associate it with a resource, you might get an exception indicating that the web ACL is unavailable. </p> </li> <li> <p>After you add a rule group to a web ACL, the new rule group rules might be in effect in one area where the web ACL is used and not in another.</p> </li> <li> <p>After you change a rule action setting, you might see the old action in some places and the new action in others. </p> </li> <li> <p>After you add an IP address to an IP set that is in use in a blocking rule, the new address might be blocked in one area while still allowed in another.</p> </li> </ul>"
    },
    "UpdateWebACL":{
      "name":"UpdateWebACL",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateWebACLRequest"},
      "output":{"shape":"UpdateWebACLResponse"},
      "errors":[
        {"shape":"WAFInternalErrorException"},
        {"shape":"WAFInvalidParameterException"},
        {"shape":"WAFNonexistentItemException"},
        {"shape":"WAFDuplicateItemException"},
        {"shape":"WAFOptimisticLockException"},
        {"shape":"WAFLimitsExceededException"},
        {"shape":"WAFInvalidResourceException"},
        {"shape":"WAFUnavailableEntityException"},
        {"shape":"WAFSubscriptionNotFoundException"},
        {"shape":"WAFInvalidOperationException"},
        {"shape":"WAFExpiredManagedRuleGroupVersionException"},
        {"shape":"WAFConfigurationWarningException"}
      ],
      "documentation":"<p>Updates the specified <a>WebACL</a>. While updating a web ACL, WAF provides continuous coverage to the resources that you have associated with the web ACL. </p> <note> <p>This operation completely replaces the mutable specifications that you already have for the web ACL with the ones that you provide to this call. </p> <p>To modify a web ACL, do the following: </p> <ol> <li> <p>Retrieve it by calling <a>GetWebACL</a> </p> </li> <li> <p>Update its settings as needed</p> </li> <li> <p>Provide the complete web ACL specification to this call</p> </li> </ol> </note> <p> A web ACL defines a collection of rules to use to inspect and control web requests. Each rule has a statement that defines what to look for in web requests and an action that WAF applies to requests that match the statement. In the web ACL, you assign a default action to take (allow, block) for any request that does not match any of the rules. The rules in a web ACL can be a combination of the types <a>Rule</a>, <a>RuleGroup</a>, and managed rule group. You can associate a web ACL with one or more Amazon Web Services resources to protect. The resource types include Amazon CloudFront distribution, Amazon API Gateway REST API, Application Load Balancer, AppSync GraphQL API, Amazon Cognito user pool, App Runner service, Amplify application, and Amazon Web Services Verified Access instance. </p> <p> <b>Temporary inconsistencies during updates</b> </p> <p>When you create or change a web ACL or other WAF resources, the changes take a small amount of time to propagate to all areas where the resources are stored. The propagation time can be from a few seconds to a number of minutes. </p> <p>The following are examples of the temporary inconsistencies that you might notice during change propagation: </p> <ul> <li> <p>After you create a web ACL, if you try to associate it with a resource, you might get an exception indicating that the web ACL is unavailable. </p> </li> <li> <p>After you add a rule group to a web ACL, the new rule group rules might be in effect in one area where the web ACL is used and not in another.</p> </li> <li> <p>After you change a rule action setting, you might see the old action in some places and the new action in others. </p> </li> <li> <p>After you add an IP address to an IP set that is in use in a blocking rule, the new address might be blocked in one area while still allowed in another.</p> </li> </ul>"
    }
  },
  "shapes":{
    "APIKey":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":".*\\S.*"
    },
    "APIKeySummaries":{
      "type":"list",
      "member":{"shape":"APIKeySummary"}
    },
    "APIKeySummary":{
      "type":"structure",
      "members":{
        "TokenDomains":{
          "shape":"TokenDomains",
          "documentation":"<p>The token domains that are defined in this API key. </p>"
        },
        "APIKey":{
          "shape":"APIKey",
          "documentation":"<p>The generated, encrypted API key. You can copy this for use in your JavaScript CAPTCHA integration. </p>"
        },
        "CreationTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>The date and time that the key was created. </p>"
        },
        "Version":{
          "shape":"APIKeyVersion",
          "documentation":"<p>Internal value used by WAF to manage the key. </p>"
        }
      },
      "documentation":"<p>Information for a single API key. </p> <p>API keys are required for the integration of the CAPTCHA API in your JavaScript client applications. The API lets you customize the placement and characteristics of the CAPTCHA puzzle for your end users. For more information about the CAPTCHA JavaScript integration, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-application-integration.html\">WAF client application integration</a> in the <i>WAF Developer Guide</i>.</p>"
    },
    "APIKeyTokenDomains":{
      "type":"list",
      "member":{"shape":"TokenDomain"},
      "min":1
    },
    "APIKeyVersion":{
      "type":"integer",
      "min":0
    },
    "ASN":{
      "type":"long",
      "max":4294967295,
      "min":0
    },
    "AWSManagedRulesACFPRuleSet":{
      "type":"structure",
      "required":[
        "CreationPath",
        "RegistrationPagePath",
        "RequestInspection"
      ],
      "members":{
        "CreationPath":{
          "shape":"CreationPathString",
          "documentation":"<p>The path of the account creation endpoint for your application. This is the page on your website that accepts the completed registration form for a new user. This page must accept <code>POST</code> requests.</p> <p>For example, for the URL <code>https://example.com/web/newaccount</code>, you would provide the path <code>/web/newaccount</code>. Account creation page paths that start with the path that you provide are considered a match. For example <code>/web/newaccount</code> matches the account creation paths <code>/web/newaccount</code>, <code>/web/newaccount/</code>, <code>/web/newaccountPage</code>, and <code>/web/newaccount/thisPage</code>, but doesn't match the path <code>/home/web/newaccount</code> or <code>/website/newaccount</code>. </p>"
        },
        "RegistrationPagePath":{
          "shape":"RegistrationPagePathString",
          "documentation":"<p>The path of the account registration endpoint for your application. This is the page on your website that presents the registration form to new users. </p> <note> <p>This page must accept <code>GET</code> text/html requests.</p> </note> <p>For example, for the URL <code>https://example.com/web/registration</code>, you would provide the path <code>/web/registration</code>. Registration page paths that start with the path that you provide are considered a match. For example <code>/web/registration</code> matches the registration paths <code>/web/registration</code>, <code>/web/registration/</code>, <code>/web/registrationPage</code>, and <code>/web/registration/thisPage</code>, but doesn't match the path <code>/home/web/registration</code> or <code>/website/registration</code>. </p>"
        },
        "RequestInspection":{
          "shape":"RequestInspectionACFP",
          "documentation":"<p>The criteria for inspecting account creation requests, used by the ACFP rule group to validate and track account creation attempts. </p>"
        },
        "ResponseInspection":{
          "shape":"ResponseInspection",
          "documentation":"<p>The criteria for inspecting responses to account creation requests, used by the ACFP rule group to track account creation success rates. </p> <note> <p>Response inspection is available only in web ACLs that protect Amazon CloudFront distributions.</p> </note> <p>The ACFP rule group evaluates the responses that your protected resources send back to client account creation attempts, keeping count of successful and failed attempts from each IP address and client session. Using this information, the rule group labels and mitigates requests from client sessions and IP addresses that have had too many successful account creation attempts in a short amount of time. </p>"
        },
        "EnableRegexInPath":{
          "shape":"Boolean",
          "documentation":"<p>Allow the use of regular expressions in the registration page path and the account creation path. </p>"
        }
      },
      "documentation":"<p>Details for your use of the account creation fraud prevention managed rule group, <code>AWSManagedRulesACFPRuleSet</code>. This configuration is used in <code>ManagedRuleGroupConfig</code>. </p> <p>For additional information about this and the other intelligent threat mitigation rule groups, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-managed-protections\">Intelligent threat mitigation in WAF</a> and <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/aws-managed-rule-groups-list\">Amazon Web Services Managed Rules rule groups list</a> in the <i>WAF Developer Guide</i>. </p>"
    },
    "AWSManagedRulesATPRuleSet":{
      "type":"structure",
      "required":["LoginPath"],
      "members":{
        "LoginPath":{
          "shape":"String",
          "documentation":"<p>The path of the login endpoint for your application. For example, for the URL <code>https://example.com/web/login</code>, you would provide the path <code>/web/login</code>. Login paths that start with the path that you provide are considered a match. For example <code>/web/login</code> matches the login paths <code>/web/login</code>, <code>/web/login/</code>, <code>/web/loginPage</code>, and <code>/web/login/thisPage</code>, but doesn't match the login path <code>/home/web/login</code> or <code>/website/login</code>.</p> <p>The rule group inspects only HTTP <code>POST</code> requests to your specified login endpoint.</p>"
        },
        "RequestInspection":{
          "shape":"RequestInspection",
          "documentation":"<p>The criteria for inspecting login requests, used by the ATP rule group to validate credentials usage. </p>"
        },
        "ResponseInspection":{
          "shape":"ResponseInspection",
          "documentation":"<p>The criteria for inspecting responses to login requests, used by the ATP rule group to track login failure rates. </p> <note> <p>Response inspection is available only in web ACLs that protect Amazon CloudFront distributions.</p> </note> <p>The ATP rule group evaluates the responses that your protected resources send back to client login attempts, keeping count of successful and failed attempts for each IP address and client session. Using this information, the rule group labels and mitigates requests from client sessions and IP addresses that have had too many failed login attempts in a short amount of time. </p>"
        },
        "EnableRegexInPath":{
          "shape":"Boolean",
          "documentation":"<p>Allow the use of regular expressions in the login page path. </p>"
        }
      },
      "documentation":"<p>Details for your use of the account takeover prevention managed rule group, <code>AWSManagedRulesATPRuleSet</code>. This configuration is used in <code>ManagedRuleGroupConfig</code>. </p> <p>For additional information about this and the other intelligent threat mitigation rule groups, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-managed-protections\">Intelligent threat mitigation in WAF</a> and <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/aws-managed-rule-groups-list\">Amazon Web Services Managed Rules rule groups list</a> in the <i>WAF Developer Guide</i>. </p>"
    },
    "AWSManagedRulesAntiDDoSRuleSet":{
      "type":"structure",
      "required":["ClientSideActionConfig"],
      "members":{
        "ClientSideActionConfig":{
          "shape":"ClientSideActionConfig",
          "documentation":"<p>Configures the request handling that's applied by the managed rule group rules <code>ChallengeAllDuringEvent</code> and <code>ChallengeDDoSRequests</code> during a distributed denial of service (DDoS) attack.</p>"
        },
        "SensitivityToBlock":{
          "shape":"SensitivityToAct",
          "documentation":"<p>The sensitivity that the rule group rule <code>DDoSRequests</code> uses when matching against the DDoS suspicion labeling on a request. The managed rule group adds the labeling during DDoS events, before the <code>DDoSRequests</code> rule runs. </p> <p>The higher the sensitivity, the more levels of labeling that the rule matches: </p> <ul> <li> <p>Low sensitivity is less sensitive, causing the rule to match only on the most likely participants in an attack, which are the requests with the high suspicion label <code>awswaf:managed:aws:anti-ddos:high-suspicion-ddos-request</code>.</p> </li> <li> <p>Medium sensitivity causes the rule to match on the medium and high suspicion labels.</p> </li> <li> <p>High sensitivity causes the rule to match on all of the suspicion labels: low, medium, and high.</p> </li> </ul> <p>Default: <code>LOW</code> </p>"
        }
      },
      "documentation":"<p>Configures the use of the anti-DDoS managed rule group, <code>AWSManagedRulesAntiDDoSRuleSet</code>. This configuration is used in <code>ManagedRuleGroupConfig</code>. </p> <p>The configuration that you provide here determines whether and how the rules in the rule group are used. </p> <p>For additional information about this and the other intelligent threat mitigation rule groups, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-managed-protections\">Intelligent threat mitigation in WAF</a> and <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/aws-managed-rule-groups-list\">Amazon Web Services Managed Rules rule groups list</a> in the <i>WAF Developer Guide</i>. </p>"
    },
    "AWSManagedRulesBotControlRuleSet":{
      "type":"structure",
      "required":["InspectionLevel"],
      "members":{
        "InspectionLevel":{
          "shape":"InspectionLevel",
          "documentation":"<p>The inspection level to use for the Bot Control rule group. The common level is the least expensive. The targeted level includes all common level rules and adds rules with more advanced inspection criteria. For details, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/aws-managed-rule-groups-bot.html\">WAF Bot Control rule group</a> in the <i>WAF Developer Guide</i>.</p>"
        },
        "EnableMachineLearning":{
          "shape":"EnableMachineLearning",
          "documentation":"<p>Applies only to the targeted inspection level. </p> <p>Determines whether to use machine learning (ML) to analyze your web traffic for bot-related activity. Machine learning is required for the Bot Control rules <code>TGT_ML_CoordinatedActivityLow</code> and <code>TGT_ML_CoordinatedActivityMedium</code>, which inspect for anomalous behavior that might indicate distributed, coordinated bot activity.</p> <p>For more information about this choice, see the listing for these rules in the table at <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/aws-managed-rule-groups-bot.html#aws-managed-rule-groups-bot-rules\">Bot Control rules listing</a> in the <i>WAF Developer Guide</i>.</p> <p>Default: <code>TRUE</code> </p>"
        }
      },
      "documentation":"<p>Details for your use of the Bot Control managed rule group, <code>AWSManagedRulesBotControlRuleSet</code>. This configuration is used in <code>ManagedRuleGroupConfig</code>. </p> <p>For additional information about this and the other intelligent threat mitigation rule groups, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-managed-protections\">Intelligent threat mitigation in WAF</a> and <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/aws-managed-rule-groups-list\">Amazon Web Services Managed Rules rule groups list</a> in the <i>WAF Developer Guide</i>. </p>"
    },
    "Action":{"type":"string"},
    "ActionCondition":{
      "type":"structure",
      "required":["Action"],
      "members":{
        "Action":{
          "shape":"ActionValue",
          "documentation":"<p>The action setting that a log record must contain in order to meet the condition. This is the action that WAF applied to the web request. </p> <p>For rule groups, this is either the configured rule action setting, or if you've applied a rule action override to the rule, it's the override action. The value <code>EXCLUDED_AS_COUNT</code> matches on excluded rules and also on rules that have a rule action override of Count. </p>"
        }
      },
      "documentation":"<p>A single action condition for a <a>Condition</a> in a logging filter.</p>"
    },
    "ActionValue":{
      "type":"string",
      "enum":[
        "ALLOW",
        "BLOCK",
        "COUNT",
        "CAPTCHA",
        "CHALLENGE",
        "EXCLUDED_AS_COUNT"
      ]
    },
    "AddressField":{
      "type":"structure",
      "required":["Identifier"],
      "members":{
        "Identifier":{
          "shape":"FieldIdentifier",
          "documentation":"<p>The name of a single primary address field. </p> <p>How you specify the address fields depends on the request inspection payload type.</p> <ul> <li> <p>For JSON payloads, specify the field identifiers in JSON pointer syntax. For information about the JSON Pointer syntax, see the Internet Engineering Task Force (IETF) documentation <a href=\"https://tools.ietf.org/html/rfc6901\">JavaScript Object Notation (JSON) Pointer</a>. </p> <p>For example, for the JSON payload <code>{ \"form\": { \"primaryaddressline1\": \"THE_ADDRESS1\", \"primaryaddressline2\": \"THE_ADDRESS2\", \"primaryaddressline3\": \"THE_ADDRESS3\" } }</code>, the address field idenfiers are <code>/form/primaryaddressline1</code>, <code>/form/primaryaddressline2</code>, and <code>/form/primaryaddressline3</code>.</p> </li> <li> <p>For form encoded payload types, use the HTML form names.</p> <p>For example, for an HTML form with input elements named <code>primaryaddressline1</code>, <code>primaryaddressline2</code>, and <code>primaryaddressline3</code>, the address fields identifiers are <code>primaryaddressline1</code>, <code>primaryaddressline2</code>, and <code>primaryaddressline3</code>. </p> </li> </ul>"
        }
      },
      "documentation":"<p>The name of a field in the request payload that contains part or all of your customer's primary physical address. </p> <p>This data type is used in the <code>RequestInspectionACFP</code> data type. </p>"
    },
    "AddressFields":{
      "type":"list",
      "member":{"shape":"AddressField"}
    },
    "All":{
      "type":"structure",
      "members":{},
      "documentation":"<p>Inspect all of the elements that WAF has parsed and extracted from the web request component that you've identified in your <a>FieldToMatch</a> specifications. </p> <p>This is used in the <a>FieldToMatch</a> specification for some web request component types. </p> <p>JSON specification: <code>\"All\": {}</code> </p>"
    },
    "AllQueryArguments":{
      "type":"structure",
      "members":{},
      "documentation":"<p>Inspect all query arguments of the web request. </p> <p>This is used in the <a>FieldToMatch</a> specification for some web request component types. </p> <p>JSON specification: <code>\"AllQueryArguments\": {}</code> </p>"
    },
    "AllowAction":{
      "type":"structure",
      "members":{
        "CustomRequestHandling":{
          "shape":"CustomRequestHandling",
          "documentation":"<p>Defines custom handling for the web request.</p> <p>For information about customizing web requests and responses, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-custom-request-response.html\">Customizing web requests and responses in WAF</a> in the <i>WAF Developer Guide</i>. </p>"
        }
      },
      "documentation":"<p>Specifies that WAF should allow the request and optionally defines additional custom handling for the request.</p> <p>This is used in the context of other settings, for example to specify values for <a>RuleAction</a> and web ACL <a>DefaultAction</a>. </p>"
    },
    "AndStatement":{
      "type":"structure",
      "required":["Statements"],
      "members":{
        "Statements":{
          "shape":"Statements",
          "documentation":"<p>The statements to combine with AND logic. You can use any statements that can be nested. </p>"
        }
      },
      "documentation":"<p>A logical rule statement used to combine other rule statements with AND logic. You provide more than one <a>Statement</a> within the <code>AndStatement</code>. </p>"
    },
    "ApplicationAttribute":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"AttributeName",
          "documentation":"<p>Specifies the attribute name.</p>"
        },
        "Values":{
          "shape":"AttributeValues",
          "documentation":"<p>Specifies the attribute value.</p>"
        }
      },
      "documentation":"<p>Application details defined during the web ACL creation process. Application attributes help WAF give recommendations for protection packs.</p>"
    },
    "ApplicationAttributes":{
      "type":"list",
      "member":{"shape":"ApplicationAttribute"},
      "max":10,
      "min":1
    },
    "ApplicationConfig":{
      "type":"structure",
      "members":{
        "Attributes":{
          "shape":"ApplicationAttributes",
          "documentation":"<p>Contains the attribute name and a list of values for that attribute.</p>"
        }
      },
      "documentation":"<p>A list of <code>ApplicationAttribute</code>s that contains information about the application.</p>"
    },
    "AsnList":{
      "type":"list",
      "member":{"shape":"ASN"},
      "max":100,
      "min":1
    },
    "AsnMatchStatement":{
      "type":"structure",
      "required":["AsnList"],
      "members":{
        "AsnList":{
          "shape":"AsnList",
          "documentation":"<p>Contains one or more Autonomous System Numbers (ASNs). ASNs are unique identifiers assigned to large internet networks managed by organizations such as internet service providers, enterprises, universities, or government agencies. </p>"
        },
        "ForwardedIPConfig":{
          "shape":"ForwardedIPConfig",
          "documentation":"<p>The configuration for inspecting IP addresses to match against an ASN in an HTTP header that you specify, instead of using the IP address that's reported by the web request origin. Commonly, this is the X-Forwarded-For (XFF) header, but you can specify any header name. </p>"
        }
      },
      "documentation":"<p>A rule statement that inspects web traffic based on the Autonomous System Number (ASN) associated with the request's IP address.</p> <p>For additional details, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-rule-statement-type-asn-match.html\">ASN match rule statement</a> in the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">WAF Developer Guide</a>. </p>"
    },
    "AssociateWebACLRequest":{
      "type":"structure",
      "required":[
        "WebACLArn",
        "ResourceArn"
      ],
      "members":{
        "WebACLArn":{
          "shape":"ResourceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the web ACL that you want to associate with the resource.</p>"
        },
        "ResourceArn":{
          "shape":"ResourceArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the resource to associate with the web ACL. </p> <p>The ARN must be in one of the following formats:</p> <ul> <li> <p>For an Application Load Balancer: <code>arn:<i>partition</i>:elasticloadbalancing:<i>region</i>:<i>account-id</i>:loadbalancer/app/<i>load-balancer-name</i>/<i>load-balancer-id</i> </code> </p> </li> <li> <p>For an Amazon API Gateway REST API: <code>arn:<i>partition</i>:apigateway:<i>region</i>::/restapis/<i>api-id</i>/stages/<i>stage-name</i> </code> </p> </li> <li> <p>For an AppSync GraphQL API: <code>arn:<i>partition</i>:appsync:<i>region</i>:<i>account-id</i>:apis/<i>GraphQLApiId</i> </code> </p> </li> <li> <p>For an Amazon Cognito user pool: <code>arn:<i>partition</i>:cognito-idp:<i>region</i>:<i>account-id</i>:userpool/<i>user-pool-id</i> </code> </p> </li> <li> <p>For an App Runner service: <code>arn:<i>partition</i>:apprunner:<i>region</i>:<i>account-id</i>:service/<i>apprunner-service-name</i>/<i>apprunner-service-id</i> </code> </p> </li> <li> <p>For an Amazon Web Services Verified Access instance: <code>arn:<i>partition</i>:ec2:<i>region</i>:<i>account-id</i>:verified-access-instance/<i>instance-id</i> </code> </p> </li> <li> <p>For an Amplify application: <code>arn:<i>partition</i>:amplify:<i>region</i>:<i>account-id</i>:apps/<i>app-id</i> </code> </p> </li> </ul>"
        }
      }
    },
    "AssociateWebACLResponse":{
      "type":"structure",
      "members":{}
    },
    "AssociatedResourceType":{
      "type":"string",
      "enum":[
        "CLOUDFRONT",
        "API_GATEWAY",
        "COGNITO_USER_POOL",
        "APP_RUNNER_SERVICE",
        "VERIFIED_ACCESS_INSTANCE"
      ]
    },
    "AssociationConfig":{
      "type":"structure",
      "members":{
        "RequestBody":{
          "shape":"RequestBody",
          "documentation":"<p>Customizes the maximum size of the request body that your protected CloudFront, API Gateway, Amazon Cognito, App Runner, and Verified Access resources forward to WAF for inspection. The default size is 16 KB (16,384 bytes). You can change the setting for any of the available resource types. </p> <note> <p>You are charged additional fees when your protected resources forward body sizes that are larger than the default. For more information, see <a href=\"http://aws.amazon.com/waf/pricing/\">WAF Pricing</a>.</p> </note> <p>Example JSON: <code> { \"API_GATEWAY\": \"KB_48\", \"APP_RUNNER_SERVICE\": \"KB_32\" }</code> </p> <p>For Application Load Balancer and AppSync, the limit is fixed at 8 KB (8,192 bytes).</p>"
        }
      },
      "documentation":"<p>Specifies custom configurations for the associations between the web ACL and protected resources. </p> <p>Use this to customize the maximum size of the request body that your protected resources forward to WAF for inspection. You can customize this setting for CloudFront, API Gateway, Amazon Cognito, App Runner, or Verified Access resources. The default setting is 16 KB (16,384 bytes). </p> <note> <p>You are charged additional fees when your protected resources forward body sizes that are larger than the default. For more information, see <a href=\"http://aws.amazon.com/waf/pricing/\">WAF Pricing</a>.</p> </note> <p>For Application Load Balancer and AppSync, the limit is fixed at 8 KB (8,192 bytes).</p>"
    },
    "AttributeName":{
      "type":"string",
      "max":64,
      "min":1,
      "pattern":"^[\\w\\-]+$"
    },
    "AttributeValue":{
      "type":"string",
      "max":64,
      "min":1
    },
    "AttributeValues":{
      "type":"list",
      "member":{"shape":"AttributeValue"},
      "max":50,
      "min":1
    },
    "BlockAction":{
      "type":"structure",
      "members":{
        "CustomResponse":{
          "shape":"CustomResponse",
          "documentation":"<p>Defines a custom response for the web request.</p> <p>For information about customizing web requests and responses, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-custom-request-response.html\">Customizing web requests and responses in WAF</a> in the <i>WAF Developer Guide</i>. </p>"
        }
      },
      "documentation":"<p>Specifies that WAF should block the request and optionally defines additional custom handling for the response to the web request.</p> <p>This is used in the context of other settings, for example to specify values for <a>RuleAction</a> and web ACL <a>DefaultAction</a>. </p>"
    },
    "Body":{
      "type":"structure",
      "members":{
        "OversizeHandling":{
          "shape":"OversizeHandling",
          "documentation":"<p>What WAF should do if the body is larger than WAF can inspect. </p> <p>WAF does not support inspecting the entire contents of the web request body if the body exceeds the limit for the resource type. When a web request body is larger than the limit, the underlying host service only forwards the contents that are within the limit to WAF for inspection. </p> <ul> <li> <p>For Application Load Balancer and AppSync, the limit is fixed at 8 KB (8,192 bytes).</p> </li> <li> <p>For CloudFront, API Gateway, Amazon Cognito, App Runner, and Verified Access, the default limit is 16 KB (16,384 bytes), and you can increase the limit for each resource type in the web ACL <code>AssociationConfig</code>, for additional processing fees. </p> </li> <li> <p>For Amplify, use the CloudFront limit.</p> </li> </ul> <p>The options for oversize handling are the following:</p> <ul> <li> <p> <code>CONTINUE</code> - Inspect the available body contents normally, according to the rule inspection criteria. </p> </li> <li> <p> <code>MATCH</code> - Treat the web request as matching the rule statement. WAF applies the rule action to the request.</p> </li> <li> <p> <code>NO_MATCH</code> - Treat the web request as not matching the rule statement.</p> </li> </ul> <p>You can combine the <code>MATCH</code> or <code>NO_MATCH</code> settings for oversize handling with your rule and web ACL action settings, so that you block any request whose body is over the limit. </p> <p>Default: <code>CONTINUE</code> </p>"
        }
      },
      "documentation":"<p>Inspect the body of the web request. The body immediately follows the request headers.</p> <p>This is used to indicate the web request component to inspect, in the <a>FieldToMatch</a> specification. </p>"
    },
    "BodyParsingFallbackBehavior":{
      "type":"string",
      "enum":[
        "MATCH",
        "NO_MATCH",
        "EVALUATE_AS_STRING"
      ]
    },
    "Boolean":{"type":"boolean"},
    "ByteMatchStatement":{
      "type":"structure",
      "required":[
        "SearchString",
        "FieldToMatch",
        "TextTransformations",
        "PositionalConstraint"
      ],
      "members":{
        "SearchString":{
          "shape":"SearchString",
          "documentation":"<p>A string value that you want WAF to search for. WAF searches only in the part of web requests that you designate for inspection in <a>FieldToMatch</a>. The maximum length of the value is 200 bytes.</p> <p>Valid values depend on the component that you specify for inspection in <code>FieldToMatch</code>:</p> <ul> <li> <p> <code>Method</code>: The HTTP method that you want WAF to search for. This indicates the type of operation specified in the request. </p> </li> <li> <p> <code>UriPath</code>: The value that you want WAF to search for in the URI path, for example, <code>/images/daily-ad.jpg</code>. </p> </li> <li> <p> <code>JA3Fingerprint</code>: Available for use with Amazon CloudFront distributions and Application Load Balancers. Match against the request's JA3 fingerprint. The JA3 fingerprint is a 32-character hash derived from the TLS Client Hello of an incoming request. This fingerprint serves as a unique identifier for the client's TLS configuration. You can use this choice only with a string match <code>ByteMatchStatement</code> with the <code>PositionalConstraint</code> set to <code>EXACTLY</code>. </p> <p>You can obtain the JA3 fingerprint for client requests from the web ACL logs. If WAF is able to calculate the fingerprint, it includes it in the logs. For information about the logging fields, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/logging-fields.html\">Log fields</a> in the <i>WAF Developer Guide</i>. </p> </li> <li> <p> <code>HeaderOrder</code>: The list of header names to match for. WAF creates a string that contains the ordered list of header names, from the headers in the web request, and then matches against that string. </p> </li> </ul> <p>If <code>SearchString</code> includes alphabetic characters A-Z and a-z, note that the value is case sensitive.</p> <p> <b>If you're using the WAF API</b> </p> <p>Specify a base64-encoded version of the value. The maximum length of the value before you base64-encode it is 200 bytes.</p> <p>For example, suppose the value of <code>Type</code> is <code>HEADER</code> and the value of <code>Data</code> is <code>User-Agent</code>. If you want to search the <code>User-Agent</code> header for the value <code>BadBot</code>, you base64-encode <code>BadBot</code> using MIME base64-encoding and include the resulting value, <code>QmFkQm90</code>, in the value of <code>SearchString</code>.</p> <p> <b>If you're using the CLI or one of the Amazon Web Services SDKs</b> </p> <p>The value that you want WAF to search for. The SDK automatically base64 encodes the value.</p>"
        },
        "FieldToMatch":{
          "shape":"FieldToMatch",
          "documentation":"<p>The part of the web request that you want WAF to inspect. </p>"
        },
        "TextTransformations":{
          "shape":"TextTransformations",
          "documentation":"<p>Text transformations eliminate some of the unusual formatting that attackers use in web requests in an effort to bypass detection. Text transformations are used in rule match statements, to transform the <code>FieldToMatch</code> request component before inspecting it, and they're used in rate-based rule statements, to transform request components before using them as custom aggregation keys. If you specify one or more transformations to apply, WAF performs all transformations on the specified content, starting from the lowest priority setting, and then uses the transformed component contents. </p>"
        },
        "PositionalConstraint":{
          "shape":"PositionalConstraint",
          "documentation":"<p>The area within the portion of the web request that you want WAF to search for <code>SearchString</code>. Valid values include the following:</p> <p> <b>CONTAINS</b> </p> <p>The specified part of the web request must include the value of <code>SearchString</code>, but the location doesn't matter.</p> <p> <b>CONTAINS_WORD</b> </p> <p>The specified part of the web request must include the value of <code>SearchString</code>, and <code>SearchString</code> must contain only alphanumeric characters or underscore (A-Z, a-z, 0-9, or _). In addition, <code>SearchString</code> must be a word, which means that both of the following are true:</p> <ul> <li> <p> <code>SearchString</code> is at the beginning of the specified part of the web request or is preceded by a character other than an alphanumeric character or underscore (_). Examples include the value of a header and <code>;BadBot</code>.</p> </li> <li> <p> <code>SearchString</code> is at the end of the specified part of the web request or is followed by a character other than an alphanumeric character or underscore (_), for example, <code>BadBot;</code> and <code>-BadBot;</code>.</p> </li> </ul> <p> <b>EXACTLY</b> </p> <p>The value of the specified part of the web request must exactly match the value of <code>SearchString</code>.</p> <p> <b>STARTS_WITH</b> </p> <p>The value of <code>SearchString</code> must appear at the beginning of the specified part of the web request.</p> <p> <b>ENDS_WITH</b> </p> <p>The value of <code>SearchString</code> must appear at the end of the specified part of the web request.</p>"
        }
      },
      "documentation":"<p>A rule statement that defines a string match search for WAF to apply to web requests. The byte match statement provides the bytes to search for, the location in requests that you want WAF to search, and other settings. The bytes to search for are typically a string that corresponds with ASCII characters. In the WAF console and the developer guide, this is called a string match statement.</p>"
    },
    "CapacityUnit":{
      "type":"long",
      "min":1
    },
    "CaptchaAction":{
      "type":"structure",
      "members":{
        "CustomRequestHandling":{
          "shape":"CustomRequestHandling",
          "documentation":"<p>Defines custom handling for the web request, used when the <code>CAPTCHA</code> inspection determines that the request's token is valid and unexpired.</p> <p>For information about customizing web requests and responses, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-custom-request-response.html\">Customizing web requests and responses in WAF</a> in the <i>WAF Developer Guide</i>. </p>"
        }
      },
      "documentation":"<p>Specifies that WAF should run a <code>CAPTCHA</code> check against the request: </p> <ul> <li> <p>If the request includes a valid, unexpired <code>CAPTCHA</code> token, WAF applies any custom request handling and labels that you've configured and then allows the web request inspection to proceed to the next rule, similar to a <code>CountAction</code>. </p> </li> <li> <p>If the request doesn't include a valid, unexpired token, WAF discontinues the web ACL evaluation of the request and blocks it from going to its intended destination.</p> <p>WAF generates a response that it sends back to the client, which includes the following: </p> <ul> <li> <p>The header <code>x-amzn-waf-action</code> with a value of <code>captcha</code>. </p> </li> <li> <p>The HTTP status code <code>405 Method Not Allowed</code>. </p> </li> <li> <p>If the request contains an <code>Accept</code> header with a value of <code>text/html</code>, the response includes a <code>CAPTCHA</code> JavaScript page interstitial. </p> </li> </ul> </li> </ul> <p>You can configure the expiration time in the <code>CaptchaConfig</code> <code>ImmunityTimeProperty</code> setting at the rule and web ACL level. The rule setting overrides the web ACL setting. </p> <p>This action option is available for rules. It isn't available for web ACL default actions. </p>"
    },
    "CaptchaConfig":{
      "type":"structure",
      "members":{
        "ImmunityTimeProperty":{
          "shape":"ImmunityTimeProperty",
          "documentation":"<p>Determines how long a <code>CAPTCHA</code> timestamp in the token remains valid after the client successfully solves a <code>CAPTCHA</code> puzzle. </p>"
        }
      },
      "documentation":"<p>Specifies how WAF should handle <code>CAPTCHA</code> evaluations. This is available at the web ACL level and in each rule. </p>"
    },
    "CaptchaResponse":{
      "type":"structure",
      "members":{
        "ResponseCode":{
          "shape":"ResponseCode",
          "documentation":"<p>The HTTP response code indicating the status of the <code>CAPTCHA</code> token in the web request. If the token is missing, invalid, or expired, this code is <code>405 Method Not Allowed</code>.</p>"
        },
        "SolveTimestamp":{
          "shape":"SolveTimestamp",
          "documentation":"<p>The time that the <code>CAPTCHA</code> was last solved for the supplied token. </p>"
        },
        "FailureReason":{
          "shape":"FailureReason",
          "documentation":"<p>The reason for failure, populated when the evaluation of the token fails.</p>"
        }
      },
      "documentation":"<p>The result from the inspection of the web request for a valid <code>CAPTCHA</code> token. </p>"
    },
    "ChallengeAction":{
      "type":"structure",
      "members":{
        "CustomRequestHandling":{
          "shape":"CustomRequestHandling",
          "documentation":"<p>Defines custom handling for the web request, used when the challenge inspection determines that the request's token is valid and unexpired.</p> <p>For information about customizing web requests and responses, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-custom-request-response.html\">Customizing web requests and responses in WAF</a> in the <i>WAF Developer Guide</i>. </p>"
        }
      },
[...]
