{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-10-25",
    "endpointPrefix":"ce",
    "jsonVersion":"1.1",
    "protocol":"json",
    "protocols":["json"],
    "serviceAbbreviation":"AWS Cost Explorer",
    "serviceFullName":"AWS Cost Explorer Service",
    "serviceId":"Cost Explorer",
    "signatureVersion":"v4",
    "signingName":"ce",
    "targetPrefix":"AWSInsightsIndexService",
    "uid":"ce-2017-10-25",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "CreateAnomalyMonitor":{
      "name":"CreateAnomalyMonitor",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAnomalyMonitorRequest"},
      "output":{"shape":"CreateAnomalyMonitorResponse"},
      "errors":[
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a new cost anomaly detection monitor with the requested type and monitor specification. </p>"
    },
    "CreateAnomalySubscription":{
      "name":"CreateAnomalySubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAnomalySubscriptionRequest"},
      "output":{"shape":"CreateAnomalySubscriptionResponse"},
      "errors":[
        {"shape":"UnknownMonitorException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Adds an alert subscription to a cost anomaly detection monitor. You can use each subscription to define subscribers with email or SNS notifications. Email subscribers can set an absolute or percentage threshold and a time frequency for receiving notifications. </p>"
    },
    "CreateCostCategoryDefinition":{
      "name":"CreateCostCategoryDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCostCategoryDefinitionRequest"},
      "output":{"shape":"CreateCostCategoryDefinitionResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a new Cost Category with the requested name and rules.</p>"
    },
    "DeleteAnomalyMonitor":{
      "name":"DeleteAnomalyMonitor",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAnomalyMonitorRequest"},
      "output":{"shape":"DeleteAnomalyMonitorResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"UnknownMonitorException"}
      ],
      "documentation":"<p>Deletes a cost anomaly monitor. </p>"
    },
    "DeleteAnomalySubscription":{
      "name":"DeleteAnomalySubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAnomalySubscriptionRequest"},
      "output":{"shape":"DeleteAnomalySubscriptionResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"UnknownSubscriptionException"}
      ],
      "documentation":"<p>Deletes a cost anomaly subscription. </p>"
    },
    "DeleteCostCategoryDefinition":{
      "name":"DeleteCostCategoryDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteCostCategoryDefinitionRequest"},
      "output":{"shape":"DeleteCostCategoryDefinitionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Deletes a Cost Category. Expenses from this month going forward will no longer be categorized with this Cost Category.</p>"
    },
    "DescribeCostCategoryDefinition":{
      "name":"DescribeCostCategoryDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCostCategoryDefinitionRequest"},
      "output":{"shape":"DescribeCostCategoryDefinitionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Returns the name, Amazon Resource Name (ARN), rules, definition, and effective dates of a Cost Category that's defined in the account.</p> <p>You have the option to use <code>EffectiveOn</code> to return a Cost Category that's active on a specific date. If there's no <code>EffectiveOn</code> specified, you see a Cost Category that's effective on the current date. If Cost Category is still effective, <code>EffectiveEnd</code> is omitted in the response. </p>"
    },
    "GetAnomalies":{
      "name":"GetAnomalies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAnomaliesRequest"},
      "output":{"shape":"GetAnomaliesResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Retrieves all of the cost anomalies detected on your account during the time period that's specified by the <code>DateInterval</code> object. Anomalies are available for up to 90 days.</p>"
    },
    "GetAnomalyMonitors":{
      "name":"GetAnomalyMonitors",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAnomalyMonitorsRequest"},
      "output":{"shape":"GetAnomalyMonitorsResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"UnknownMonitorException"},
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Retrieves the cost anomaly monitor definitions for your account. You can filter using a list of cost anomaly monitor Amazon Resource Names (ARNs). </p>"
    },
    "GetAnomalySubscriptions":{
      "name":"GetAnomalySubscriptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAnomalySubscriptionsRequest"},
      "output":{"shape":"GetAnomalySubscriptionsResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"UnknownSubscriptionException"},
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Retrieves the cost anomaly subscription objects for your account. You can filter using a list of cost anomaly monitor Amazon Resource Names (ARNs). </p>"
    },
    "GetApproximateUsageRecords":{
      "name":"GetApproximateUsageRecords",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetApproximateUsageRecordsRequest"},
      "output":{"shape":"GetApproximateUsageRecordsResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"DataUnavailableException"}
      ],
      "documentation":"<p>Retrieves estimated usage records for hourly granularity or resource-level data at daily granularity.</p>"
    },
    "GetCommitmentPurchaseAnalysis":{
      "name":"GetCommitmentPurchaseAnalysis",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCommitmentPurchaseAnalysisRequest"},
      "output":{"shape":"GetCommitmentPurchaseAnalysisResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"AnalysisNotFoundException"},
        {"shape":"DataUnavailableException"}
      ],
      "documentation":"<p>Retrieves a commitment purchase analysis result based on the <code>AnalysisId</code>.</p>"
    },
    "GetCostAndUsage":{
      "name":"GetCostAndUsage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCostAndUsageRequest"},
      "output":{"shape":"GetCostAndUsageResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"BillExpirationException"},
        {"shape":"DataUnavailableException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"RequestChangedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves cost and usage metrics for your account. You can specify which cost and usage-related metric that you want the request to return. For example, you can specify <code>BlendedCosts</code> or <code>UsageQuantity</code>. You can also filter and group your data by various dimensions, such as <code>SERVICE</code> or <code>AZ</code>, in a specific time range. For a complete list of valid dimensions, see the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_GetDimensionValues.html\">GetDimensionValues</a> operation. Management account in an organization in Organizations have access to all member accounts.</p> <p>For information about filter limitations, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/billing-limits.html\">Quotas and restrictions</a> in the <i>Billing and Cost Management User Guide</i>.</p>"
    },
    "GetCostAndUsageComparisons":{
      "name":"GetCostAndUsageComparisons",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCostAndUsageComparisonsRequest"},
      "output":{"shape":"GetCostAndUsageComparisonsResponse"},
      "errors":[
        {"shape":"DataUnavailableException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves cost and usage comparisons for your account between two periods within the last 13 months. If you have enabled multi-year data at monthly granularity, you can go back up to 38 months.</p>"
    },
    "GetCostAndUsageWithResources":{
      "name":"GetCostAndUsageWithResources",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCostAndUsageWithResourcesRequest"},
      "output":{"shape":"GetCostAndUsageWithResourcesResponse"},
      "errors":[
        {"shape":"DataUnavailableException"},
        {"shape":"LimitExceededException"},
        {"shape":"BillExpirationException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"RequestChangedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves cost and usage metrics with resources for your account. You can specify which cost and usage-related metric, such as <code>BlendedCosts</code> or <code>UsageQuantity</code>, that you want the request to return. You can also filter and group your data by various dimensions, such as <code>SERVICE</code> or <code>AZ</code>, in a specific time range. For a complete list of valid dimensions, see the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_GetDimensionValues.html\">GetDimensionValues</a> operation. Management account in an organization in Organizations have access to all member accounts.</p> <p>Hourly granularity is only available for EC2-Instances (Elastic Compute Cloud) resource-level data. All other resource-level data is available at daily granularity.</p> <note> <p>This is an opt-in only feature. You can enable this feature from the Cost Explorer Settings page. For information about how to access the Settings page, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/ce-access.html\">Controlling Access for Cost Explorer</a> in the <i>Billing and Cost Management User Guide</i>.</p> </note>"
    },
    "GetCostCategories":{
      "name":"GetCostCategories",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCostCategoriesRequest"},
      "output":{"shape":"GetCostCategoriesResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"BillExpirationException"},
        {"shape":"DataUnavailableException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"RequestChangedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves an array of Cost Category names and values incurred cost.</p> <note> <p>If some Cost Category names and values are not associated with any cost, they will not be returned by this API.</p> </note>"
    },
    "GetCostComparisonDrivers":{
      "name":"GetCostComparisonDrivers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCostComparisonDriversRequest"},
      "output":{"shape":"GetCostComparisonDriversResponse"},
      "errors":[
        {"shape":"DataUnavailableException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves key factors driving cost changes between two time periods within the last 13 months, such as usage changes, discount changes, and commitment-based savings. If you have enabled multi-year data at monthly granularity, you can go back up to 38 months.</p>"
    },
    "GetCostForecast":{
      "name":"GetCostForecast",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetCostForecastRequest"},
      "output":{"shape":"GetCostForecastResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"DataUnavailableException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves a forecast for how much Amazon Web Services predicts that you will spend over the forecast time period that you select, based on your past costs. </p>"
    },
    "GetDimensionValues":{
      "name":"GetDimensionValues",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetDimensionValuesRequest"},
      "output":{"shape":"GetDimensionValuesResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"BillExpirationException"},
        {"shape":"DataUnavailableException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"RequestChangedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves all available filter values for a specified filter over a period of time. You can search the dimension values for an arbitrary string. </p>"
    },
    "GetReservationCoverage":{
      "name":"GetReservationCoverage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetReservationCoverageRequest"},
      "output":{"shape":"GetReservationCoverageResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"DataUnavailableException"},
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Retrieves the reservation coverage for your account, which you can use to see how much of your Amazon Elastic Compute Cloud, Amazon ElastiCache, Amazon Relational Database Service, or Amazon Redshift usage is covered by a reservation. An organization's management account can see the coverage of the associated member accounts. This supports dimensions, Cost Categories, and nested expressions. For any time period, you can filter data about reservation usage by the following dimensions:</p> <ul> <li> <p>AZ</p> </li> <li> <p>CACHE_ENGINE</p> </li> <li> <p>DATABASE_ENGINE</p> </li> <li> <p>DEPLOYMENT_OPTION</p> </li> <li> <p>INSTANCE_TYPE</p> </li> <li> <p>LINKED_ACCOUNT</p> </li> <li> <p>OPERATING_SYSTEM</p> </li> <li> <p>PLATFORM</p> </li> <li> <p>REGION</p> </li> <li> <p>SERVICE</p> </li> <li> <p>TAG</p> </li> <li> <p>TENANCY</p> </li> </ul> <p>To determine valid values for a dimension, use the <code>GetDimensionValues</code> operation. </p>"
    },
    "GetReservationPurchaseRecommendation":{
      "name":"GetReservationPurchaseRecommendation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetReservationPurchaseRecommendationRequest"},
      "output":{"shape":"GetReservationPurchaseRecommendationResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"DataUnavailableException"},
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Gets recommendations for reservation purchases. These recommendations might help you to reduce your costs. Reservations provide a discounted hourly rate (up to 75%) compared to On-Demand pricing.</p> <p>Amazon Web Services generates your recommendations by identifying your On-Demand usage during a specific time period and collecting your usage into categories that are eligible for a reservation. After Amazon Web Services has these categories, it simulates every combination of reservations in each category of usage to identify the best number of each type of Reserved Instance (RI) to purchase to maximize your estimated savings. </p> <p>For example, Amazon Web Services automatically aggregates your Amazon EC2 Linux, shared tenancy, and c4 family usage in the US West (Oregon) Region and recommends that you buy size-flexible regional reservations to apply to the c4 family usage. Amazon Web Services recommends the smallest size instance in an instance family. This makes it easier to purchase a size-flexible Reserved Instance (RI). Amazon Web Services also shows the equal number of normalized units. This way, you can purchase any instance size that you want. For this example, your RI recommendation is for <code>c4.large</code> because that is the smallest size instance in the c4 instance family.</p>"
    },
    "GetReservationUtilization":{
      "name":"GetReservationUtilization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetReservationUtilizationRequest"},
      "output":{"shape":"GetReservationUtilizationResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"DataUnavailableException"},
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Retrieves the reservation utilization for your account. Management account in an organization have access to member accounts. You can filter data by dimensions in a time period. You can use <code>GetDimensionValues</code> to determine the possible dimension values. Currently, you can group only by <code>SUBSCRIPTION_ID</code>. </p>"
    },
    "GetRightsizingRecommendation":{
      "name":"GetRightsizingRecommendation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRightsizingRecommendationRequest"},
      "output":{"shape":"GetRightsizingRecommendationResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Creates recommendations that help you save cost by identifying idle and underutilized Amazon EC2 instances.</p> <p>Recommendations are generated to either downsize or terminate instances, along with providing savings detail and metrics. For more information about calculation and function, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/ce-rightsizing.html\">Optimizing Your Cost with Rightsizing Recommendations</a> in the <i>Billing and Cost Management User Guide</i>.</p>"
    },
    "GetSavingsPlanPurchaseRecommendationDetails":{
      "name":"GetSavingsPlanPurchaseRecommendationDetails",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSavingsPlanPurchaseRecommendationDetailsRequest"},
      "output":{"shape":"GetSavingsPlanPurchaseRecommendationDetailsResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"DataUnavailableException"}
      ],
      "documentation":"<p>Retrieves the details for a Savings Plan recommendation. These details include the hourly data-points that construct the cost, coverage, and utilization charts.</p>"
    },
    "GetSavingsPlansCoverage":{
      "name":"GetSavingsPlansCoverage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSavingsPlansCoverageRequest"},
      "output":{"shape":"GetSavingsPlansCoverageResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"DataUnavailableException"},
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Retrieves the Savings Plans covered for your account. This enables you to see how much of your cost is covered by a Savings Plan. An organization’s management account can see the coverage of the associated member accounts. This supports dimensions, Cost Categories, and nested expressions. For any time period, you can filter data for Savings Plans usage with the following dimensions:</p> <ul> <li> <p> <code>LINKED_ACCOUNT</code> </p> </li> <li> <p> <code>REGION</code> </p> </li> <li> <p> <code>SERVICE</code> </p> </li> <li> <p> <code>INSTANCE_FAMILY</code> </p> </li> </ul> <p>To determine valid values for a dimension, use the <code>GetDimensionValues</code> operation.</p>"
    },
    "GetSavingsPlansPurchaseRecommendation":{
      "name":"GetSavingsPlansPurchaseRecommendation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSavingsPlansPurchaseRecommendationRequest"},
      "output":{"shape":"GetSavingsPlansPurchaseRecommendationResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Retrieves the Savings Plans recommendations for your account. First use <code>StartSavingsPlansPurchaseRecommendationGeneration</code> to generate a new set of recommendations, and then use <code>GetSavingsPlansPurchaseRecommendation</code> to retrieve them.</p>"
    },
    "GetSavingsPlansUtilization":{
      "name":"GetSavingsPlansUtilization",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSavingsPlansUtilizationRequest"},
      "output":{"shape":"GetSavingsPlansUtilizationResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"DataUnavailableException"}
      ],
      "documentation":"<p>Retrieves the Savings Plans utilization for your account across date ranges with daily or monthly granularity. Management account in an organization have access to member accounts. You can use <code>GetDimensionValues</code> in <code>SAVINGS_PLANS</code> to determine the possible dimension values.</p> <note> <p>You can't group by any dimension values for <code>GetSavingsPlansUtilization</code>.</p> </note>"
    },
    "GetSavingsPlansUtilizationDetails":{
      "name":"GetSavingsPlansUtilizationDetails",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSavingsPlansUtilizationDetailsRequest"},
      "output":{"shape":"GetSavingsPlansUtilizationDetailsResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"DataUnavailableException"},
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Retrieves attribute data along with aggregate utilization and savings data for a given time period. This doesn't support granular or grouped data (daily/monthly) in response. You can't retrieve data by dates in a single response similar to <code>GetSavingsPlanUtilization</code>, but you have the option to make multiple calls to <code>GetSavingsPlanUtilizationDetails</code> by providing individual dates. You can use <code>GetDimensionValues</code> in <code>SAVINGS_PLANS</code> to determine the possible dimension values.</p> <note> <p> <code>GetSavingsPlanUtilizationDetails</code> internally groups data by <code>SavingsPlansArn</code>.</p> </note>"
    },
    "GetTags":{
      "name":"GetTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetTagsRequest"},
      "output":{"shape":"GetTagsResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"BillExpirationException"},
        {"shape":"DataUnavailableException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"RequestChangedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Queries for available tag keys and tag values for a specified period. You can search the tag values for an arbitrary string. </p>"
    },
    "GetUsageForecast":{
      "name":"GetUsageForecast",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetUsageForecastRequest"},
      "output":{"shape":"GetUsageForecastResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"DataUnavailableException"},
        {"shape":"UnresolvableUsageUnitException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Retrieves a forecast for how much Amazon Web Services predicts that you will use over the forecast time period that you select, based on your past usage. </p>"
    },
    "ListCommitmentPurchaseAnalyses":{
      "name":"ListCommitmentPurchaseAnalyses",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCommitmentPurchaseAnalysesRequest"},
      "output":{"shape":"ListCommitmentPurchaseAnalysesResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"DataUnavailableException"}
      ],
      "documentation":"<p>Lists the commitment purchase analyses for your account.</p>"
    },
    "ListCostAllocationTagBackfillHistory":{
      "name":"ListCostAllocationTagBackfillHistory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCostAllocationTagBackfillHistoryRequest"},
      "output":{"shape":"ListCostAllocationTagBackfillHistoryResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p> Retrieves a list of your historical cost allocation tag backfill requests. </p>"
    },
    "ListCostAllocationTags":{
      "name":"ListCostAllocationTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCostAllocationTagsRequest"},
      "output":{"shape":"ListCostAllocationTagsResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"InvalidNextTokenException"}
      ],
      "documentation":"<p>Get a list of cost allocation tags. All inputs in the API are optional and serve as filters. By default, all cost allocation tags are returned. </p>"
    },
    "ListCostCategoryDefinitions":{
      "name":"ListCostCategoryDefinitions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListCostCategoryDefinitionsRequest"},
      "output":{"shape":"ListCostCategoryDefinitionsResponse"},
      "errors":[
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Returns the name, Amazon Resource Name (ARN), <code>NumberOfRules</code> and effective dates of all Cost Categories defined in the account. You have the option to use <code>EffectiveOn</code> to return a list of Cost Categories that were active on a specific date. If there is no <code>EffectiveOn</code> specified, you’ll see Cost Categories that are effective on the current date. If Cost Category is still effective, <code>EffectiveEnd</code> is omitted in the response. <code>ListCostCategoryDefinitions</code> supports pagination. The request can have a <code>MaxResults</code> range up to 100.</p>"
    },
    "ListSavingsPlansPurchaseRecommendationGeneration":{
      "name":"ListSavingsPlansPurchaseRecommendationGeneration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSavingsPlansPurchaseRecommendationGenerationRequest"},
      "output":{"shape":"ListSavingsPlansPurchaseRecommendationGenerationResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"InvalidNextTokenException"},
        {"shape":"DataUnavailableException"}
      ],
      "documentation":"<p>Retrieves a list of your historical recommendation generations within the past 30 days.</p>"
    },
    "ListTagsForResource":{
      "name":"ListTagsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagsForResourceRequest"},
      "output":{"shape":"ListTagsForResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Returns a list of resource tags associated with the resource specified by the Amazon Resource Name (ARN). </p>"
    },
    "ProvideAnomalyFeedback":{
      "name":"ProvideAnomalyFeedback",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ProvideAnomalyFeedbackRequest"},
      "output":{"shape":"ProvideAnomalyFeedbackResponse"},
      "errors":[
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Modifies the feedback property of a given cost anomaly. </p>"
    },
    "StartCommitmentPurchaseAnalysis":{
      "name":"StartCommitmentPurchaseAnalysis",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartCommitmentPurchaseAnalysisRequest"},
      "output":{"shape":"StartCommitmentPurchaseAnalysisResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"DataUnavailableException"},
        {"shape":"GenerationExistsException"}
      ],
      "documentation":"<p>Specifies the parameters of a planned commitment purchase and starts the generation of the analysis. This enables you to estimate the cost, coverage, and utilization impact of your planned commitment purchases.</p>"
    },
    "StartCostAllocationTagBackfill":{
      "name":"StartCostAllocationTagBackfill",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartCostAllocationTagBackfillRequest"},
      "output":{"shape":"StartCostAllocationTagBackfillResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"BackfillLimitExceededException"}
      ],
      "documentation":"<p> Request a cost allocation tag backfill. This will backfill the activation status (either <code>active</code> or <code>inactive</code>) for all tag keys from <code>para:BackfillFrom</code> up to the time this request is made.</p> <p>You can request a backfill once every 24 hours. </p>"
    },
    "StartSavingsPlansPurchaseRecommendationGeneration":{
      "name":"StartSavingsPlansPurchaseRecommendationGeneration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartSavingsPlansPurchaseRecommendationGenerationRequest"},
      "output":{"shape":"StartSavingsPlansPurchaseRecommendationGenerationResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"GenerationExistsException"},
        {"shape":"DataUnavailableException"}
      ],
      "documentation":"<p>Requests a Savings Plans recommendation generation. This enables you to calculate a fresh set of Savings Plans recommendations that takes your latest usage data and current Savings Plans inventory into account. You can refresh Savings Plans recommendations up to three times daily for a consolidated billing family.</p> <note> <p> <code>StartSavingsPlansPurchaseRecommendationGeneration</code> has no request syntax because no input parameters are needed to support this operation.</p> </note>"
    },
    "TagResource":{
      "name":"TagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TagResourceRequest"},
      "output":{"shape":"TagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"TooManyTagsException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>An API operation for adding one or more tags (key-value pairs) to a resource.</p> <p>You can use the <code>TagResource</code> operation with a resource that already has tags. If you specify a new tag key for the resource, this tag is appended to the list of tags associated with the resource. If you specify a tag key that is already associated with the resource, the new tag value you specify replaces the previous value for that tag.</p> <p>Although the maximum number of array members is 200, user-tag maximum is 50. The remaining are reserved for Amazon Web Services use.</p>"
    },
    "UntagResource":{
      "name":"UntagResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UntagResourceRequest"},
      "output":{"shape":"UntagResourceResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Removes one or more tags from a resource. Specify only tag keys in your request. Don't specify the value. </p>"
    },
    "UpdateAnomalyMonitor":{
      "name":"UpdateAnomalyMonitor",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateAnomalyMonitorRequest"},
      "output":{"shape":"UpdateAnomalyMonitorResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"UnknownMonitorException"}
      ],
      "documentation":"<p>Updates an existing cost anomaly monitor. The changes made are applied going forward, and doesn't change anomalies detected in the past. </p>"
    },
    "UpdateAnomalySubscription":{
      "name":"UpdateAnomalySubscription",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateAnomalySubscriptionRequest"},
      "output":{"shape":"UpdateAnomalySubscriptionResponse"},
      "errors":[
        {"shape":"LimitExceededException"},
        {"shape":"UnknownMonitorException"},
        {"shape":"UnknownSubscriptionException"}
      ],
      "documentation":"<p>Updates an existing cost anomaly subscription. Specify the fields that you want to update. Omitted fields are unchanged.</p> <note> <p>The JSON below describes the generic construct for each type. See <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_UpdateAnomalySubscription.html#API_UpdateAnomalySubscription_RequestParameters\">Request Parameters</a> for possible values as they apply to <code>AnomalySubscription</code>.</p> </note>"
    },
    "UpdateCostAllocationTagsStatus":{
      "name":"UpdateCostAllocationTagsStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateCostAllocationTagsStatusRequest"},
      "output":{"shape":"UpdateCostAllocationTagsStatusResponse"},
      "errors":[
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Updates status for cost allocation tags in bulk, with maximum batch size of 20. If the tag status that's updated is the same as the existing tag status, the request doesn't fail. Instead, it doesn't have any effect on the tag status (for example, activating the active tag). </p>"
    },
    "UpdateCostCategoryDefinition":{
      "name":"UpdateCostCategoryDefinition",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateCostCategoryDefinitionRequest"},
      "output":{"shape":"UpdateCostCategoryDefinitionResponse"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Updates an existing Cost Category. Changes made to the Cost Category rules will be used to categorize the current month’s expenses and future expenses. This won’t change categorization for the previous months.</p>"
    }
  },
  "shapes":{
    "AccountId":{
      "type":"string",
      "max":12,
      "min":12,
      "pattern":"[0-9]{12}"
    },
    "AccountScope":{
      "type":"string",
      "enum":[
        "PAYER",
        "LINKED"
      ]
    },
    "AmortizedRecurringFee":{"type":"string"},
    "AmortizedUpfrontFee":{"type":"string"},
    "AnalysisDetails":{
      "type":"structure",
      "members":{
        "SavingsPlansPurchaseAnalysisDetails":{
          "shape":"SavingsPlansPurchaseAnalysisDetails",
          "documentation":"<p>Details about the Savings Plans purchase analysis.</p>"
        }
      },
      "documentation":"<p>Details about the analysis.</p>"
    },
    "AnalysisId":{
      "type":"string",
      "max":36,
      "min":36,
      "pattern":"^[\\S\\s]{8}-[\\S\\s]{4}-[\\S\\s]{4}-[\\S\\s]{4}-[\\S\\s]{12}$"
    },
    "AnalysisIds":{
      "type":"list",
      "member":{"shape":"AnalysisId"},
      "max":600,
      "min":0
    },
    "AnalysisNotFoundException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>The requested analysis can't be found.</p>",
      "exception":true
    },
    "AnalysisStatus":{
      "type":"string",
      "enum":[
        "SUCCEEDED",
        "PROCESSING",
        "FAILED"
      ]
    },
    "AnalysisSummary":{
      "type":"structure",
      "members":{
        "EstimatedCompletionTime":{
          "shape":"ZonedDateTime",
          "documentation":"<p>The estimated time for when the analysis will complete.</p>"
        },
        "AnalysisCompletionTime":{
          "shape":"ZonedDateTime",
          "documentation":"<p>The completion time of the analysis.</p>"
        },
        "AnalysisStartedTime":{
          "shape":"ZonedDateTime",
          "documentation":"<p>The start time of the analysis.</p>"
        },
        "AnalysisStatus":{
          "shape":"AnalysisStatus",
          "documentation":"<p>The status of the analysis.</p>"
        },
        "ErrorCode":{
          "shape":"ErrorCode",
          "documentation":"<p>The error code used for the analysis.</p>"
        },
        "AnalysisId":{
          "shape":"AnalysisId",
          "documentation":"<p>The analysis ID that's associated with the commitment purchase analysis.</p>"
        },
        "CommitmentPurchaseAnalysisConfiguration":{
          "shape":"CommitmentPurchaseAnalysisConfiguration",
          "documentation":"<p>The configuration for the commitment purchase analysis.</p>"
        }
      },
      "documentation":"<p>A summary of the analysis.</p>"
    },
    "AnalysisSummaryList":{
      "type":"list",
      "member":{"shape":"AnalysisSummary"}
    },
    "AnalysisType":{
      "type":"string",
      "enum":[
        "MAX_SAVINGS",
        "CUSTOM_COMMITMENT"
      ]
    },
    "Anomalies":{
      "type":"list",
      "member":{"shape":"Anomaly"}
    },
    "Anomaly":{
      "type":"structure",
      "required":[
        "AnomalyId",
        "AnomalyScore",
        "Impact",
        "MonitorArn"
      ],
      "members":{
        "AnomalyId":{
          "shape":"GenericString",
          "documentation":"<p>The unique identifier for the anomaly. </p>"
        },
        "AnomalyStartDate":{
          "shape":"YearMonthDay",
          "documentation":"<p>The first day the anomaly is detected. </p>"
        },
        "AnomalyEndDate":{
          "shape":"YearMonthDay",
          "documentation":"<p>The last day the anomaly is detected. </p>"
        },
        "DimensionValue":{
          "shape":"GenericString",
          "documentation":"<p>The dimension for the anomaly (for example, an Amazon Web Services service in a service monitor). </p>"
        },
        "RootCauses":{
          "shape":"RootCauses",
          "documentation":"<p>The list of identified root causes for the anomaly. </p>"
        },
        "AnomalyScore":{
          "shape":"AnomalyScore",
          "documentation":"<p>The latest and maximum score for the anomaly. </p>"
        },
        "Impact":{
          "shape":"Impact",
          "documentation":"<p>The dollar impact for the anomaly. </p>"
        },
        "MonitorArn":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Resource Name (ARN) for the cost monitor that generated this anomaly. </p>"
        },
        "Feedback":{
          "shape":"AnomalyFeedbackType",
          "documentation":"<p>The feedback value. </p>"
        }
      },
      "documentation":"<p>An unusual cost pattern. This consists of the detailed metadata and the current status of the anomaly object. </p>"
    },
    "AnomalyDateInterval":{
      "type":"structure",
      "required":["StartDate"],
      "members":{
        "StartDate":{
          "shape":"YearMonthDay",
          "documentation":"<p>The first date an anomaly was observed. </p>"
        },
        "EndDate":{
          "shape":"YearMonthDay",
          "documentation":"<p>The last date an anomaly was observed. </p>"
        }
      },
      "documentation":"<p>The time period for an anomaly. </p>"
    },
    "AnomalyFeedbackType":{
      "type":"string",
      "enum":[
        "YES",
        "NO",
        "PLANNED_ACTIVITY"
      ]
    },
    "AnomalyMonitor":{
      "type":"structure",
      "required":[
        "MonitorName",
        "MonitorType"
      ],
      "members":{
        "MonitorArn":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Resource Name (ARN) value. </p>"
        },
        "MonitorName":{
          "shape":"GenericString",
          "documentation":"<p>The name of the monitor. </p>"
        },
        "CreationDate":{
          "shape":"YearMonthDay",
          "documentation":"<p>The date when the monitor was created. </p>"
        },
        "LastUpdatedDate":{
          "shape":"YearMonthDay",
          "documentation":"<p>The date when the monitor was last updated. </p>"
        },
        "LastEvaluatedDate":{
          "shape":"YearMonthDay",
          "documentation":"<p>The date when the monitor last evaluated for anomalies. </p>"
        },
        "MonitorType":{
          "shape":"MonitorType",
          "documentation":"<p>The possible type values. </p>"
        },
        "MonitorDimension":{
          "shape":"MonitorDimension",
          "documentation":"<p>The dimensions to evaluate. </p>"
        },
        "MonitorSpecification":{"shape":"Expression"},
        "DimensionalValueCount":{
          "shape":"NonNegativeInteger",
          "documentation":"<p>The value for evaluated dimensions. </p>"
        }
      },
      "documentation":"<p>This object continuously inspects your account's cost data for anomalies. It's based on <code>MonitorType</code> and <code>MonitorSpecification</code>. The content consists of detailed metadata and the current status of the monitor object. </p>"
    },
    "AnomalyMonitors":{
      "type":"list",
      "member":{"shape":"AnomalyMonitor"}
    },
    "AnomalyScore":{
      "type":"structure",
      "required":[
        "MaxScore",
        "CurrentScore"
      ],
      "members":{
        "MaxScore":{
          "shape":"GenericDouble",
          "documentation":"<p>The maximum score that's observed during the <code>AnomalyDateInterval</code>. </p>"
        },
        "CurrentScore":{
          "shape":"GenericDouble",
          "documentation":"<p>The last observed score. </p>"
        }
      },
      "documentation":"<p>Quantifies the anomaly. The higher score means that it's more anomalous. </p>"
    },
    "AnomalySubscription":{
      "type":"structure",
      "required":[
        "MonitorArnList",
        "Subscribers",
        "Frequency",
        "SubscriptionName"
      ],
      "members":{
        "SubscriptionArn":{
          "shape":"GenericString",
          "documentation":"<p>The <code>AnomalySubscription</code> Amazon Resource Name (ARN). </p>"
        },
        "AccountId":{
          "shape":"GenericString",
          "documentation":"<p>Your unique account identifier. </p>"
        },
        "MonitorArnList":{
          "shape":"MonitorArnList",
          "documentation":"<p>A list of cost anomaly monitors. </p>"
        },
        "Subscribers":{
          "shape":"Subscribers",
          "documentation":"<p>A list of subscribers to notify. </p>"
        },
        "Threshold":{
          "shape":"NullableNonNegativeDouble",
          "documentation":"<p>(deprecated)</p> <p>An absolute dollar value that must be exceeded by the anomaly's total impact (see <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Impact.html\">Impact</a> for more details) for an anomaly notification to be generated.</p> <p>This field has been deprecated. To specify a threshold, use ThresholdExpression. Continued use of Threshold will be treated as shorthand syntax for a ThresholdExpression.</p> <p>One of Threshold or ThresholdExpression is required for this resource. You cannot specify both.</p>",
          "deprecated":true,
          "deprecatedMessage":"Threshold has been deprecated in favor of ThresholdExpression"
        },
        "Frequency":{
          "shape":"AnomalySubscriptionFrequency",
          "documentation":"<p>The frequency that anomaly notifications are sent. Notifications are sent either over email (for DAILY and WEEKLY frequencies) or SNS (for IMMEDIATE frequency). For more information, see <a href=\"https://docs.aws.amazon.com/cost-management/latest/userguide/ad-SNS.html\">Creating an Amazon SNS topic for anomaly notifications</a>.</p>"
        },
        "SubscriptionName":{
          "shape":"GenericString",
          "documentation":"<p>The name for the subscription. </p>"
        },
        "ThresholdExpression":{
          "shape":"Expression",
          "documentation":"<p>An <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a> object used to specify the anomalies that you want to generate alerts for. This supports dimensions and nested expressions. The supported dimensions are <code>ANOMALY_TOTAL_IMPACT_ABSOLUTE</code> and <code>ANOMALY_TOTAL_IMPACT_PERCENTAGE</code>, corresponding to an anomaly’s TotalImpact and TotalImpactPercentage, respectively (see <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Impact.html\">Impact</a> for more details). The supported nested expression types are <code>AND</code> and <code>OR</code>. The match option <code>GREATER_THAN_OR_EQUAL</code> is required. Values must be numbers between 0 and 10,000,000,000 in string format.</p> <p>One of Threshold or ThresholdExpression is required for this resource. You cannot specify both.</p> <p>The following are examples of valid ThresholdExpressions:</p> <ul> <li> <p>Absolute threshold: <code>{ \"Dimensions\": { \"Key\": \"ANOMALY_TOTAL_IMPACT_ABSOLUTE\", \"MatchOptions\": [ \"GREATER_THAN_OR_EQUAL\" ], \"Values\": [ \"100\" ] } }</code> </p> </li> <li> <p>Percentage threshold: <code>{ \"Dimensions\": { \"Key\": \"ANOMALY_TOTAL_IMPACT_PERCENTAGE\", \"MatchOptions\": [ \"GREATER_THAN_OR_EQUAL\" ], \"Values\": [ \"100\" ] } }</code> </p> </li> <li> <p> <code>AND</code> two thresholds together: <code>{ \"And\": [ { \"Dimensions\": { \"Key\": \"ANOMALY_TOTAL_IMPACT_ABSOLUTE\", \"MatchOptions\": [ \"GREATER_THAN_OR_EQUAL\" ], \"Values\": [ \"100\" ] } }, { \"Dimensions\": { \"Key\": \"ANOMALY_TOTAL_IMPACT_PERCENTAGE\", \"MatchOptions\": [ \"GREATER_THAN_OR_EQUAL\" ], \"Values\": [ \"100\" ] } } ] }</code> </p> </li> <li> <p> <code>OR</code> two thresholds together: <code>{ \"Or\": [ { \"Dimensions\": { \"Key\": \"ANOMALY_TOTAL_IMPACT_ABSOLUTE\", \"MatchOptions\": [ \"GREATER_THAN_OR_EQUAL\" ], \"Values\": [ \"100\" ] } }, { \"Dimensions\": { \"Key\": \"ANOMALY_TOTAL_IMPACT_PERCENTAGE\", \"MatchOptions\": [ \"GREATER_THAN_OR_EQUAL\" ], \"Values\": [ \"100\" ] } } ] }</code> </p> </li> </ul>"
        }
      },
      "documentation":"<p>An <code>AnomalySubscription</code> resource (also referred to as an alert subscription) sends notifications about specific anomalies that meet an alerting criteria defined by you.</p> <p>You can specify the frequency of the alerts and the subscribers to notify.</p> <p>Anomaly subscriptions can be associated with one or more <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_AnomalyMonitor.html\"> <code>AnomalyMonitor</code> </a> resources, and they only send notifications about anomalies detected by those associated monitors. You can also configure a threshold to further control which anomalies are included in the notifications.</p> <p>Anomalies that don’t exceed the chosen threshold and therefore don’t trigger notifications from an anomaly subscription will still be available on the console and from the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_GetAnomalies.html\"> <code>GetAnomalies</code> </a> API.</p>"
    },
    "AnomalySubscriptionFrequency":{
      "type":"string",
      "enum":[
        "DAILY",
        "IMMEDIATE",
        "WEEKLY"
      ]
    },
    "AnomalySubscriptions":{
      "type":"list",
      "member":{"shape":"AnomalySubscription"}
    },
    "ApproximateUsageRecordsPerService":{
      "type":"map",
      "key":{"shape":"GenericString"},
      "value":{"shape":"NonNegativeLong"}
    },
    "ApproximationDimension":{
      "type":"string",
      "enum":[
        "SERVICE",
        "RESOURCE"
      ]
    },
    "Arn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"arn:aws[-a-z0-9]*:[a-z0-9]+:[-a-z0-9]*:[0-9]{12}:[-a-zA-Z0-9/:_]+"
    },
    "AttributeType":{"type":"string"},
    "AttributeValue":{"type":"string"},
    "Attributes":{
      "type":"map",
      "key":{"shape":"AttributeType"},
      "value":{"shape":"AttributeValue"}
    },
    "BackfillLimitExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p> A request to backfill is already in progress. Once the previous request is complete, you can create another request. </p>",
      "exception":true
    },
    "BillExpirationException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>The requested report expired. Update the date interval and try again.</p>",
      "exception":true
    },
    "BillingViewArn":{
      "type":"string",
      "max":2048,
      "min":20,
      "pattern":"^arn:aws[a-z-]*:(billing)::[0-9]{12}:billingview/[-a-zA-Z0-9/:_+=.-@]{1,43}$"
    },
    "CommitmentPurchaseAnalysisConfiguration":{
      "type":"structure",
      "members":{
        "SavingsPlansPurchaseAnalysisConfiguration":{
          "shape":"SavingsPlansPurchaseAnalysisConfiguration",
          "documentation":"<p>The configuration for the Savings Plans purchase analysis.</p>"
        }
      },
      "documentation":"<p>The configuration for the commitment purchase analysis.</p>"
    },
    "ComparisonMetricValue":{
      "type":"structure",
      "members":{
        "BaselineTimePeriodAmount":{
          "shape":"GenericString",
          "documentation":"<p>The numeric value for the baseline time period measurement.</p>"
        },
        "ComparisonTimePeriodAmount":{
          "shape":"GenericString",
          "documentation":"<p>The numeric value for the comparison time period measurement.</p>"
        },
        "Difference":{
          "shape":"GenericString",
          "documentation":"<p>The calculated difference between <code>ComparisonTimePeriodAmount</code> and <code>BaselineTimePeriodAmount</code>.</p>"
        },
        "Unit":{
          "shape":"GenericString",
          "documentation":"<p>The unit of measurement applicable to all numeric values in this comparison.</p>"
        }
      },
      "documentation":"<p>Contains cost or usage metric values for comparing two time periods. Each value includes amounts for the baseline and comparison time periods, their difference, and the unit of measurement.</p>"
    },
    "ComparisonMetrics":{
      "type":"map",
      "key":{"shape":"MetricName"},
      "value":{"shape":"ComparisonMetricValue"}
    },
    "Context":{
      "type":"string",
      "enum":[
        "COST_AND_USAGE",
        "RESERVATIONS",
        "SAVINGS_PLANS"
      ]
    },
    "CostAllocationTag":{
      "type":"structure",
      "required":[
        "TagKey",
        "Type",
        "Status"
      ],
      "members":{
        "TagKey":{
          "shape":"TagKey",
          "documentation":"<p>The key for the cost allocation tag. </p>"
        },
        "Type":{
          "shape":"CostAllocationTagType",
          "documentation":"<p>The type of cost allocation tag. You can use <code>AWSGenerated</code> or <code>UserDefined</code> type tags. <code>AWSGenerated</code> type tags are tags that Amazon Web Services defines and applies to support Amazon Web Services resources for cost allocation purposes. <code>UserDefined</code> type tags are tags that you define, create, and apply to resources. </p>"
        },
        "Status":{
          "shape":"CostAllocationTagStatus",
          "documentation":"<p>The status of a cost allocation tag. </p>"
        },
        "LastUpdatedDate":{
          "shape":"ZonedDateTime",
          "documentation":"<p>The last date that the tag was either activated or deactivated.</p>"
        },
        "LastUsedDate":{
          "shape":"ZonedDateTime",
          "documentation":"<p>The last month that the tag was used on an Amazon Web Services resource.</p>"
        }
      },
      "documentation":"<p>The cost allocation tag structure. This includes detailed metadata for the <code>CostAllocationTag</code> object. </p>"
    },
    "CostAllocationTagBackfillRequest":{
      "type":"structure",
      "members":{
        "BackfillFrom":{
          "shape":"ZonedDateTime",
          "documentation":"<p> The date the backfill starts from. </p>"
        },
        "RequestedAt":{
          "shape":"ZonedDateTime",
          "documentation":"<p> The time when the backfill was requested. </p>"
        },
        "CompletedAt":{
          "shape":"ZonedDateTime",
          "documentation":"<p> The backfill completion time. </p>"
        },
        "BackfillStatus":{
          "shape":"CostAllocationTagBackfillStatus",
          "documentation":"<p> The status of the cost allocation tag backfill request. </p>"
        },
        "LastUpdatedAt":{
          "shape":"ZonedDateTime",
          "documentation":"<p> The time when the backfill status was last updated. </p>"
        }
      },
      "documentation":"<p> The cost allocation tag backfill request structure that contains metadata and details of a certain backfill.</p>"
    },
    "CostAllocationTagBackfillRequestList":{
      "type":"list",
      "member":{"shape":"CostAllocationTagBackfillRequest"},
      "max":1000,
      "min":0
    },
    "CostAllocationTagBackfillStatus":{
      "type":"string",
      "enum":[
        "SUCCEEDED",
        "PROCESSING",
        "FAILED"
      ]
    },
    "CostAllocationTagKeyList":{
      "type":"list",
      "member":{"shape":"TagKey"},
      "max":100,
      "min":1
    },
    "CostAllocationTagList":{
      "type":"list",
      "member":{"shape":"CostAllocationTag"},
      "max":100,
      "min":0
    },
    "CostAllocationTagStatus":{
      "type":"string",
      "enum":[
        "Active",
        "Inactive"
      ]
    },
    "CostAllocationTagStatusEntry":{
      "type":"structure",
      "required":[
        "TagKey",
        "Status"
      ],
      "members":{
        "TagKey":{
          "shape":"TagKey",
          "documentation":"<p>The key for the cost allocation tag. </p>"
        },
        "Status":{
          "shape":"CostAllocationTagStatus",
          "documentation":"<p>The status of a cost allocation tag. </p>"
        }
      },
      "documentation":"<p>The cost allocation tag status. The status of a key can either be active or inactive. </p>"
    },
    "CostAllocationTagStatusList":{
      "type":"list",
      "member":{"shape":"CostAllocationTagStatusEntry"},
      "max":20,
      "min":1
    },
    "CostAllocationTagType":{
      "type":"string",
      "enum":[
        "AWSGenerated",
        "UserDefined"
      ]
    },
    "CostAllocationTagsMaxResults":{
      "type":"integer",
      "max":1000,
      "min":1
    },
    "CostAndUsageComparison":{
      "type":"structure",
      "members":{
        "CostAndUsageSelector":{"shape":"Expression"},
        "Metrics":{
          "shape":"ComparisonMetrics",
          "documentation":"<p>A mapping of metric names to their comparison values.</p>"
        }
      },
      "documentation":"<p>Represents a comparison of cost and usage metrics between two time periods.</p>"
    },
    "CostAndUsageComparisons":{
      "type":"list",
      "member":{"shape":"CostAndUsageComparison"}
    },
    "CostAndUsageComparisonsMaxResults":{
      "type":"integer",
      "box":true,
      "max":2000,
      "min":1
    },
    "CostCategory":{
      "type":"structure",
      "required":[
        "CostCategoryArn",
        "EffectiveStart",
        "Name",
        "RuleVersion",
        "Rules"
      ],
      "members":{
        "CostCategoryArn":{
          "shape":"Arn",
          "documentation":"<p>The unique identifier for your Cost Category. </p>"
        },
        "EffectiveStart":{
          "shape":"ZonedDateTime",
          "documentation":"<p>The effective start date of your Cost Category.</p>"
        },
        "EffectiveEnd":{
          "shape":"ZonedDateTime",
          "documentation":"<p>The effective end date of your Cost Category.</p>"
        },
        "Name":{"shape":"CostCategoryName"},
        "RuleVersion":{"shape":"CostCategoryRuleVersion"},
        "Rules":{
          "shape":"CostCategoryRulesList",
          "documentation":"<p>The rules are processed in order. If there are multiple rules that match the line item, then the first rule to match is used to determine that Cost Category value. </p>"
        },
        "SplitChargeRules":{
          "shape":"CostCategorySplitChargeRulesList",
          "documentation":"<p> The split charge rules that are used to allocate your charges between your Cost Category values. </p>"
        },
        "ProcessingStatus":{
          "shape":"CostCategoryProcessingStatusList",
          "documentation":"<p>The list of processing statuses for Cost Management products for a specific cost category. </p>"
        },
        "DefaultValue":{"shape":"CostCategoryValue"}
      },
      "documentation":"<p>The structure of Cost Categories. This includes detailed metadata and the set of rules for the <code>CostCategory</code> object.</p>"
    },
    "CostCategoryInheritedValueDimension":{
      "type":"structure",
      "members":{
        "DimensionName":{
          "shape":"CostCategoryInheritedValueDimensionName",
          "documentation":"<p>The name of the dimension that's used to group costs.</p> <p>If you specify <code>LINKED_ACCOUNT_NAME</code>, the cost category value is based on account name. If you specify <code>TAG</code>, the cost category value is based on the value of the specified tag key.</p>"
        },
        "DimensionKey":{
          "shape":"GenericString",
          "documentation":"<p>The key to extract cost category values.</p>"
        }
      },
      "documentation":"<p>When you create or update a cost category, you can define the <code>CostCategoryRule</code> rule type as <code>INHERITED_VALUE</code>. This rule type adds the flexibility to define a rule that dynamically inherits the cost category value from the dimension value that's defined by <code>CostCategoryInheritedValueDimension</code>. For example, suppose that you want to dynamically group costs that are based on the value of a specific tag key. First, choose an inherited value rule type, and then choose the tag dimension and specify the tag key to use.</p>"
    },
    "CostCategoryInheritedValueDimensionName":{
      "type":"string",
      "enum":[
        "LINKED_ACCOUNT_NAME",
        "TAG"
      ]
    },
    "CostCategoryMaxResults":{
      "type":"integer",
      "max":100,
      "min":1
    },
    "CostCategoryName":{
      "type":"string",
      "documentation":"<p>The unique name of the Cost Category.</p>",
      "max":50,
      "min":1,
      "pattern":"^(?! )[\\p{L}\\p{N}\\p{Z}-_]*(?<! )$"
    },
    "CostCategoryNamesList":{
      "type":"list",
      "member":{"shape":"CostCategoryName"}
    },
    "CostCategoryProcessingStatus":{
      "type":"structure",
      "members":{
        "Component":{
          "shape":"CostCategoryStatusComponent",
          "documentation":"<p>The Cost Management product name of the applied status. </p>"
        },
        "Status":{
          "shape":"CostCategoryStatus",
          "documentation":"<p>The process status for a specific cost category. </p>"
        }
      },
      "documentation":"<p>The list of processing statuses for Cost Management products for a specific cost category. </p>"
    },
    "CostCategoryProcessingStatusList":{
      "type":"list",
      "member":{"shape":"CostCategoryProcessingStatus"}
    },
    "CostCategoryReference":{
      "type":"structure",
      "members":{
        "CostCategoryArn":{
          "shape":"Arn",
          "documentation":"<p>The unique identifier for your Cost Category. </p>"
        },
        "Name":{"shape":"CostCategoryName"},
        "EffectiveStart":{
          "shape":"ZonedDateTime",
          "documentation":"<p>The Cost Category's effective start date.</p>"
        },
        "EffectiveEnd":{
          "shape":"ZonedDateTime",
          "documentation":"<p>The Cost Category's effective end date.</p>"
        },
        "NumberOfRules":{
          "shape":"NonNegativeInteger",
          "documentation":"<p>The number of rules that are associated with a specific Cost Category. </p>"
        },
        "ProcessingStatus":{
          "shape":"CostCategoryProcessingStatusList",
          "documentation":"<p>The list of processing statuses for Cost Management products for a specific cost category. </p>"
        },
        "Values":{
          "shape":"CostCategoryValuesList",
          "documentation":"<p>A list of unique cost category values in a specific cost category. </p>"
        },
        "DefaultValue":{"shape":"CostCategoryValue"}
      },
      "documentation":"<p>A reference to a Cost Category containing only enough information to identify the Cost Category.</p> <p>You can use this information to retrieve the full Cost Category information using <code>DescribeCostCategory</code>.</p>"
    },
    "CostCategoryReferencesList":{
      "type":"list",
      "member":{"shape":"CostCategoryReference"}
    },
    "CostCategoryRule":{
      "type":"structure",
      "members":{
        "Value":{"shape":"CostCategoryValue"},
        "Rule":{
          "shape":"Expression",
          "documentation":"<p>An <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a> object used to categorize costs. This supports dimensions, tags, and nested expressions. Currently the only dimensions supported are <code>LINKED_ACCOUNT</code>, <code>SERVICE_CODE</code>, <code>RECORD_TYPE</code>, <code>LINKED_ACCOUNT_NAME</code>, <code>REGION</code>, and <code>USAGE_TYPE</code>.</p> <p> <code>RECORD_TYPE</code> is a dimension used for Cost Explorer APIs, and is also supported for Cost Category expressions. This dimension uses different terms, depending on whether you're using the console or API/JSON editor. For a detailed comparison, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/manage-cost-categories.html#cost-categories-terms\">Term Comparisons</a> in the <i>Billing and Cost Management User Guide</i>.</p>"
        },
        "InheritedValue":{
          "shape":"CostCategoryInheritedValueDimension",
          "documentation":"<p>The value the line item is categorized as if the line item contains the matched dimension.</p>"
        },
        "Type":{
          "shape":"CostCategoryRuleType",
          "documentation":"<p>You can define the <code>CostCategoryRule</code> rule type as either <code>REGULAR</code> or <code>INHERITED_VALUE</code>. The <code>INHERITED_VALUE</code> rule type adds the flexibility to define a rule that dynamically inherits the cost category value. This value is from the dimension value that's defined by <code>CostCategoryInheritedValueDimension</code>. For example, suppose that you want to costs to be dynamically grouped based on the value of a specific tag key. First, choose an inherited value rule type, and then choose the tag dimension and specify the tag key to use.</p>"
        }
      },
      "documentation":"<p>Rules are processed in order. If there are multiple rules that match the line item, then the first rule to match is used to determine that Cost Category value.</p>"
    },
    "CostCategoryRuleType":{
      "type":"string",
      "enum":[
        "REGULAR",
        "INHERITED_VALUE"
      ]
    },
    "CostCategoryRuleVersion":{
      "type":"string",
      "documentation":"<p>The rule schema version in this particular Cost Category.</p>",
      "enum":["CostCategoryExpression.v1"]
    },
    "CostCategoryRulesList":{
      "type":"list",
      "member":{"shape":"CostCategoryRule"},
      "max":500,
      "min":1
    },
    "CostCategorySplitChargeMethod":{
      "type":"string",
      "enum":[
        "FIXED",
        "PROPORTIONAL",
        "EVEN"
      ]
    },
    "CostCategorySplitChargeRule":{
      "type":"structure",
      "required":[
        "Source",
        "Targets",
        "Method"
      ],
      "members":{
        "Source":{
          "shape":"GenericString",
          "documentation":"<p>The Cost Category value that you want to split. That value can't be used as a source or a target in other split charge rules. To indicate uncategorized costs, you can use an empty string as the source.</p>"
        },
        "Targets":{
          "shape":"CostCategorySplitChargeRuleTargetsList",
          "documentation":"<p>The Cost Category values that you want to split costs across. These values can't be used as a source in other split charge rules. </p>"
        },
        "Method":{
          "shape":"CostCategorySplitChargeMethod",
          "documentation":"<p>The method that's used to define how to split your source costs across your targets. </p> <p> <code>Proportional</code> - Allocates charges across your targets based on the proportional weighted cost of each target.</p> <p> <code>Fixed</code> - Allocates charges across your targets based on your defined allocation percentage.</p> <p>&gt;<code>Even</code> - Allocates costs evenly across all targets.</p>"
        },
        "Parameters":{
          "shape":"CostCategorySplitChargeRuleParametersList",
          "documentation":"<p>The parameters for a split charge method. This is only required for the <code>FIXED</code> method. </p>"
        }
      },
      "documentation":"<p>Use the split charge rule to split the cost of one Cost Category value across several other target values. </p>"
    },
    "CostCategorySplitChargeRuleParameter":{
      "type":"structure",
      "required":[
        "Type",
        "Values"
      ],
      "members":{
        "Type":{
          "shape":"CostCategorySplitChargeRuleParameterType",
          "documentation":"<p>The parameter type. </p>"
        },
        "Values":{
          "shape":"CostCategorySplitChargeRuleParameterValuesList",
          "documentation":"<p>The parameter values. </p>"
        }
      },
      "documentation":"<p>The parameters for a split charge method. </p>"
    },
    "CostCategorySplitChargeRuleParameterType":{
      "type":"string",
      "enum":["ALLOCATION_PERCENTAGES"]
    },
    "CostCategorySplitChargeRuleParameterValuesList":{
      "type":"list",
      "member":{"shape":"GenericString"},
      "max":500,
      "min":1
    },
    "CostCategorySplitChargeRuleParametersList":{
      "type":"list",
      "member":{"shape":"CostCategorySplitChargeRuleParameter"},
      "max":10,
      "min":1
    },
    "CostCategorySplitChargeRuleTargetsList":{
      "type":"list",
      "member":{"shape":"GenericString"},
      "max":500,
      "min":1
    },
    "CostCategorySplitChargeRulesList":{
      "type":"list",
      "member":{"shape":"CostCategorySplitChargeRule"},
      "max":10,
      "min":1
    },
    "CostCategoryStatus":{
      "type":"string",
      "enum":[
        "PROCESSING",
        "APPLIED"
      ]
    },
    "CostCategoryStatusComponent":{
      "type":"string",
      "enum":["COST_EXPLORER"]
    },
    "CostCategoryValue":{
      "type":"string",
      "documentation":"<p>The default value for the cost category.</p>",
      "max":50,
      "min":1,
      "pattern":"^(?! )[\\p{L}\\p{N}\\p{Z}-_]*(?<! )$"
    },
    "CostCategoryValues":{
      "type":"structure",
      "members":{
        "Key":{"shape":"CostCategoryName"},
        "Values":{
          "shape":"Values",
          "documentation":"<p>The specific value of the Cost Category.</p>"
        },
        "MatchOptions":{
          "shape":"MatchOptions",
          "documentation":"<p>The match options that you can use to filter your results. MatchOptions is only applicable for actions related to cost category. The default values for <code>MatchOptions</code> is <code>EQUALS</code> and <code>CASE_SENSITIVE</code>. </p>"
        }
      },
      "documentation":"<p>The Cost Categories values used for filtering the costs.</p> <p>If <code>Values</code> and <code>Key</code> are not specified, the <code>ABSENT</code> <code>MatchOption</code> is applied to all Cost Categories. That is, it filters on resources that aren't mapped to any Cost Categories.</p> <p>If <code>Values</code> is provided and <code>Key</code> isn't specified, the <code>ABSENT</code> <code>MatchOption</code> is applied to the Cost Categories <code>Key</code> only. That is, it filters on resources without the given Cost Categories key.</p>"
    },
    "CostCategoryValuesList":{
      "type":"list",
      "member":{"shape":"CostCategoryValue"}
    },
    "CostComparisonDriver":{
      "type":"structure",
      "members":{
        "CostSelector":{"shape":"Expression"},
        "Metrics":{
          "shape":"ComparisonMetrics",
          "documentation":"<p>A mapping of metric names to their comparison values.</p>"
        },
        "CostDrivers":{
          "shape":"CostDrivers",
          "documentation":"<p>An array of cost drivers, each representing a cost difference between the baseline and comparison time periods. Each entry also includes a metric delta (for example, usage change) that contributed to the cost variance, along with the identifier and type of change.</p>"
        }
      },
      "documentation":"<p>Represents a collection of cost drivers and their associated metrics for cost comparison analysis.</p>"
    },
    "CostComparisonDrivers":{
      "type":"list",
      "member":{"shape":"CostComparisonDriver"}
    },
    "CostComparisonDriversMaxResults":{
      "type":"integer",
      "box":true,
      "max":10,
      "min":1
    },
    "CostDriver":{
      "type":"structure",
      "members":{
        "Type":{
          "shape":"GenericString",
          "documentation":"<p>The category or classification of the cost driver.</p> <p>Values include: BUNDLED_DISCOUNT, CREDIT, OUT_OF_CYCLE_CHARGE, REFUND, RECURRING_RESERVATION_FEE, RESERVATION_USAGE, RI_VOLUME_DISCOUNT, SAVINGS_PLAN_USAGE, SAVINGS_PLAN_RECURRING_FEE, SUPPORT_FEE, TAX, UPFRONT_RESERVATION_FEE, USAGE_CHANGE, COMMITMENT</p>"
        },
        "Name":{
          "shape":"GenericString",
          "documentation":"<p>The specific identifier of the cost driver.</p>"
        },
        "Metrics":{
          "shape":"ComparisonMetrics",
          "documentation":"<p>A mapping of metric names to their comparison values, measuring the impact of this cost driver.</p>"
        }
      },
      "documentation":"<p>Represents factors that contribute to cost variations between the baseline and comparison time periods, including the type of driver, an identifier of the driver, and associated metrics.</p>"
    },
    "CostDrivers":{
      "type":"list",
      "member":{"shape":"CostDriver"}
    },
    "Coverage":{
      "type":"structure",
      "members":{
        "CoverageHours":{
          "shape":"CoverageHours",
          "documentation":"<p>The amount of instance usage that the reservation covered, in hours.</p>"
        },
        "CoverageNormalizedUnits":{
          "shape":"CoverageNormalizedUnits",
          "documentation":"<p>The amount of instance usage that the reservation covered, in normalized units.</p>"
        },
        "CoverageCost":{
          "shape":"CoverageCost",
          "documentation":"<p>The amount of cost that the reservation covered.</p>"
        }
      },
      "documentation":"<p>The amount of instance usage that a reservation covered.</p>"
    },
    "CoverageByTime":{
      "type":"structure",
      "members":{
        "TimePeriod":{
          "shape":"DateInterval",
          "documentation":"<p>The period that this coverage was used over.</p>"
        },
        "Groups":{
          "shape":"ReservationCoverageGroups",
          "documentation":"<p>The groups of instances that the reservation covered.</p>"
        },
        "Total":{
          "shape":"Coverage",
          "documentation":"<p>The total reservation coverage, in hours.</p>"
        }
      },
      "documentation":"<p>Reservation coverage for a specified period, in hours.</p>"
    },
    "CoverageCost":{
      "type":"structure",
      "members":{
        "OnDemandCost":{
          "shape":"OnDemandCost",
          "documentation":"<p>How much an On-Demand Instance costs.</p>"
        }
      },
      "documentation":"<p>How much it costs to run an instance.</p>"
    },
    "CoverageHours":{
      "type":"structure",
      "members":{
        "OnDemandHours":{
          "shape":"OnDemandHours",
          "documentation":"<p>The number of instance running hours that On-Demand Instances covered.</p>"
        },
        "ReservedHours":{
          "shape":"ReservedHours",
          "documentation":"<p>The number of instance running hours that reservations covered.</p>"
        },
        "TotalRunningHours":{
          "shape":"TotalRunningHours",
          "documentation":"<p>The total instance usage, in hours.</p>"
        },
        "CoverageHoursPercentage":{
          "shape":"CoverageHoursPercentage",
          "documentation":"<p>The percentage of instance hours that a reservation covered.</p>"
        }
      },
      "documentation":"<p>How long a running instance either used a reservation or was On-Demand.</p>"
    },
    "CoverageHoursPercentage":{"type":"string"},
    "CoverageNormalizedUnits":{
      "type":"structure",
      "members":{
        "OnDemandNormalizedUnits":{
          "shape":"OnDemandNormalizedUnits",
          "documentation":"<p>The number of normalized units that are covered by On-Demand Instances instead of a reservation.</p>"
        },
        "ReservedNormalizedUnits":{
          "shape":"ReservedNormalizedUnits",
          "documentation":"<p>The number of normalized units that a reservation covers.</p>"
        },
        "TotalRunningNormalizedUnits":{
          "shape":"TotalRunningNormalizedUnits",
          "documentation":"<p>The total number of normalized units that you used.</p>"
        },
        "CoverageNormalizedUnitsPercentage":{
          "shape":"CoverageNormalizedUnitsPercentage",
          "documentation":"<p>The percentage of your used instance normalized units that a reservation covers.</p>"
        }
      },
      "documentation":"<p>The amount of instance usage, in normalized units. You can use normalized units to see your EC2 usage for multiple sizes of instances in a uniform way. For example, suppose that you run an xlarge instance and a 2xlarge instance. If you run both instances for the same amount of time, the 2xlarge instance uses twice as much of your reservation as the xlarge instance, even though both instances show only one instance-hour. When you use normalized units instead of instance-hours, the xlarge instance used 8 normalized units, and the 2xlarge instance used 16 normalized units.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ri-modifying.html\">Modifying Reserved Instances</a> in the <i>Amazon Elastic Compute Cloud User Guide for Linux Instances</i>.</p>"
    },
    "CoverageNormalizedUnitsPercentage":{"type":"string"},
    "CoveragesByTime":{
      "type":"list",
      "member":{"shape":"CoverageByTime"}
    },
    "CreateAnomalyMonitorRequest":{
      "type":"structure",
      "required":["AnomalyMonitor"],
      "members":{
        "AnomalyMonitor":{
          "shape":"AnomalyMonitor",
          "documentation":"<p>The cost anomaly detection monitor object that you want to create.</p>"
        },
        "ResourceTags":{
          "shape":"ResourceTagList",
          "documentation":"<p>An optional list of tags to associate with the specified <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_AnomalyMonitor.html\"> <code>AnomalyMonitor</code> </a>. You can use resource tags to control access to your <code>monitor</code> using IAM policies.</p> <p>Each tag consists of a key and a value, and each key must be unique for the resource. The following restrictions apply to resource tags:</p> <ul> <li> <p>Although the maximum number of array members is 200, you can assign a maximum of 50 user-tags to one resource. The remaining are reserved for Amazon Web Services use</p> </li> <li> <p>The maximum length of a key is 128 characters</p> </li> <li> <p>The maximum length of a value is 256 characters</p> </li> <li> <p>Keys and values can only contain alphanumeric characters, spaces, and any of the following: <code>_.:/=+@-</code> </p> </li> <li> <p>Keys and values are case sensitive</p> </li> <li> <p>Keys and values are trimmed for any leading or trailing whitespaces</p> </li> <li> <p>Don’t use <code>aws:</code> as a prefix for your keys. This prefix is reserved for Amazon Web Services use</p> </li> </ul>"
        }
      }
    },
    "CreateAnomalyMonitorResponse":{
      "type":"structure",
      "required":["MonitorArn"],
      "members":{
        "MonitorArn":{
          "shape":"GenericString",
          "documentation":"<p>The unique identifier of your newly created cost anomaly detection monitor.</p>"
        }
      }
    },
    "CreateAnomalySubscriptionRequest":{
      "type":"structure",
      "required":["AnomalySubscription"],
      "members":{
        "AnomalySubscription":{
          "shape":"AnomalySubscription",
          "documentation":"<p>The cost anomaly subscription object that you want to create. </p>"
        },
        "ResourceTags":{
          "shape":"ResourceTagList",
          "documentation":"<p>An optional list of tags to associate with the specified <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_AnomalySubscription.html\"> <code>AnomalySubscription</code> </a>. You can use resource tags to control access to your <code>subscription</code> using IAM policies.</p> <p>Each tag consists of a key and a value, and each key must be unique for the resource. The following restrictions apply to resource tags:</p> <ul> <li> <p>Although the maximum number of array members is 200, you can assign a maximum of 50 user-tags to one resource. The remaining are reserved for Amazon Web Services use</p> </li> <li> <p>The maximum length of a key is 128 characters</p> </li> <li> <p>The maximum length of a value is 256 characters</p> </li> <li> <p>Keys and values can only contain alphanumeric characters, spaces, and any of the following: <code>_.:/=+@-</code> </p> </li> <li> <p>Keys and values are case sensitive</p> </li> <li> <p>Keys and values are trimmed for any leading or trailing whitespaces</p> </li> <li> <p>Don’t use <code>aws:</code> as a prefix for your keys. This prefix is reserved for Amazon Web Services use</p> </li> </ul>"
        }
      }
    },
    "CreateAnomalySubscriptionResponse":{
      "type":"structure",
      "required":["SubscriptionArn"],
      "members":{
        "SubscriptionArn":{
          "shape":"GenericString",
          "documentation":"<p>The unique identifier of your newly created cost anomaly subscription. </p>"
        }
      }
    },
    "CreateCostCategoryDefinitionRequest":{
      "type":"structure",
      "required":[
        "Name",
        "RuleVersion",
        "Rules"
      ],
      "members":{
        "Name":{"shape":"CostCategoryName"},
        "EffectiveStart":{
          "shape":"ZonedDateTime",
          "documentation":"<p>The Cost Category's effective start date. It can only be a billing start date (first day of the month). If the date isn't provided, it's the first day of the current month. Dates can't be before the previous twelve months, or in the future.</p>"
        },
        "RuleVersion":{"shape":"CostCategoryRuleVersion"},
        "Rules":{
          "shape":"CostCategoryRulesList",
          "documentation":"<p>The Cost Category rules used to categorize costs. For more information, see <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_CostCategoryRule.html\">CostCategoryRule</a>.</p>"
        },
        "DefaultValue":{"shape":"CostCategoryValue"},
        "SplitChargeRules":{
          "shape":"CostCategorySplitChargeRulesList",
          "documentation":"<p> The split charge rules used to allocate your charges between your Cost Category values. </p>"
        },
        "ResourceTags":{
          "shape":"ResourceTagList",
          "documentation":"<p>An optional list of tags to associate with the specified <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_CostCategory.html\"> <code>CostCategory</code> </a>. You can use resource tags to control access to your <code>cost category</code> using IAM policies.</p> <p>Each tag consists of a key and a value, and each key must be unique for the resource. The following restrictions apply to resource tags:</p> <ul> <li> <p>Although the maximum number of array members is 200, you can assign a maximum of 50 user-tags to one resource. The remaining are reserved for Amazon Web Services use</p> </li> <li> <p>The maximum length of a key is 128 characters</p> </li> <li> <p>The maximum length of a value is 256 characters</p> </li> <li> <p>Keys and values can only contain alphanumeric characters, spaces, and any of the following: <code>_.:/=+@-</code> </p> </li> <li> <p>Keys and values are case sensitive</p> </li> <li> <p>Keys and values are trimmed for any leading or trailing whitespaces</p> </li> <li> <p>Don’t use <code>aws:</code> as a prefix for your keys. This prefix is reserved for Amazon Web Services use</p> </li> </ul>"
        }
      }
    },
    "CreateCostCategoryDefinitionResponse":{
      "type":"structure",
      "members":{
        "CostCategoryArn":{
          "shape":"Arn",
          "documentation":"<p>The unique identifier for your newly created Cost Category. </p>"
        },
        "EffectiveStart":{
          "shape":"ZonedDateTime",
          "documentation":"<p>The Cost Category's effective start date. It can only be a billing start date (first day of the month).</p>"
        }
      }
    },
    "CurrentInstance":{
      "type":"structure",
      "members":{
        "ResourceId":{
          "shape":"GenericString",
          "documentation":"<p>Resource ID of the current instance.</p>"
        },
        "InstanceName":{
          "shape":"GenericString",
          "documentation":"<p>The name that you given an instance. This field shows as blank if you haven't given the instance a name.</p>"
        },
        "Tags":{
          "shape":"TagValuesList",
          "documentation":"<p>Cost allocation resource tags that are applied to the instance.</p>"
        },
        "ResourceDetails":{
          "shape":"ResourceDetails",
          "documentation":"<p>Details about the resource and utilization.</p>"
        },
        "ResourceUtilization":{
          "shape":"ResourceUtilization",
          "documentation":"<p>Utilization information of the current instance during the lookback period.</p>"
        },
        "ReservationCoveredHoursInLookbackPeriod":{
          "shape":"GenericString",
          "documentation":"<p>The number of hours during the lookback period that's covered by reservations.</p>"
        },
        "SavingsPlansCoveredHoursInLookbackPeriod":{
          "shape":"GenericString",
          "documentation":"<p>The number of hours during the lookback period that's covered by Savings Plans.</p>"
        },
        "OnDemandHoursInLookbackPeriod":{
          "shape":"GenericString",
          "documentation":"<p>The number of hours during the lookback period that's billed at On-Demand rates.</p>"
        },
        "TotalRunningHoursInLookbackPeriod":{
          "shape":"GenericString",
          "documentation":"<p>The total number of hours that the instance ran during the lookback period.</p>"
        },
        "MonthlyCost":{
          "shape":"GenericString",
          "documentation":"<p>The current On-Demand cost of operating this instance on a monthly basis.</p>"
        },
        "CurrencyCode":{
          "shape":"GenericString",
          "documentation":"<p>The currency code that Amazon Web Services used to calculate the costs for this instance.</p>"
        }
      },
      "documentation":"<p>Context about the current instance.</p>"
    },
    "DataUnavailableException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"ErrorMessage"}
      },
      "documentation":"<p>The requested data is unavailable.</p>",
      "exception":true
    },
    "DateInterval":{
      "type":"structure",
      "required":[
        "Start",
        "End"
      ],
      "members":{
        "Start":{
          "shape":"YearMonthDay",
          "documentation":"<p>The beginning of the time period. The start date is inclusive. For example, if <code>start</code> is <code>2017-01-01</code>, Amazon Web Services retrieves cost and usage data starting at <code>2017-01-01</code> up to the end date. The start date must be equal to or no later than the current date to avoid a validation error.</p>"
        },
        "End":{
          "shape":"YearMonthDay",
          "documentation":"<p>The end of the time period. The end date is exclusive. For example, if <code>end</code> is <code>2017-05-01</code>, Amazon Web Services retrieves cost and usage data from the start date up to, but not including, <code>2017-05-01</code>.</p>"
        }
      },
      "documentation":"<p>The time period of the request. </p>"
    },
    "DeleteAnomalyMonitorRequest":{
      "type":"structure",
      "required":["MonitorArn"],
      "members":{
        "MonitorArn":{
          "shape":"GenericString",
          "documentation":"<p>The unique identifier of the cost anomaly monitor that you want to delete. </p>"
        }
      }
    },
    "DeleteAnomalyMonitorResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteAnomalySubscriptionRequest":{
      "type":"structure",
      "required":["SubscriptionArn"],
      "members":{
        "SubscriptionArn":{
          "shape":"GenericString",
          "documentation":"<p>The unique identifier of the cost anomaly subscription that you want to delete. </p>"
        }
      }
    },
    "DeleteAnomalySubscriptionResponse":{
      "type":"structure",
      "members":{}
    },
    "DeleteCostCategoryDefinitionRequest":{
      "type":"structure",
      "required":["CostCategoryArn"],
      "members":{
        "CostCategoryArn":{
          "shape":"Arn",
          "documentation":"<p>The unique identifier for your Cost Category. </p>"
        }
      }
    },
    "DeleteCostCategoryDefinitionResponse":{
      "type":"structure",
      "members":{
        "CostCategoryArn":{
          "shape":"Arn",
          "documentation":"<p>The unique identifier for your Cost Category. </p>"
        },
        "EffectiveEnd":{
          "shape":"ZonedDateTime",
          "documentation":"<p>The effective end date of the Cost Category as a result of deleting it. No costs after this date is categorized by the deleted Cost Category. </p>"
        }
      }
    },
    "DescribeCostCategoryDefinitionRequest":{
      "type":"structure",
      "required":["CostCategoryArn"],
      "members":{
        "CostCategoryArn":{
          "shape":"Arn",
          "documentation":"<p>The unique identifier for your Cost Category. </p>"
        },
        "EffectiveOn":{
          "shape":"ZonedDateTime",
          "documentation":"<p>The date when the Cost Category was effective. </p>"
        }
      }
    },
    "DescribeCostCategoryDefinitionResponse":{
      "type":"structure",
      "members":{
        "CostCategory":{"shape":"CostCategory"}
      }
    },
    "Dimension":{
      "type":"string",
      "enum":[
        "AZ",
        "INSTANCE_TYPE",
        "LINKED_ACCOUNT",
        "LINKED_ACCOUNT_NAME",
        "OPERATION",
        "PURCHASE_TYPE",
        "REGION",
        "SERVICE",
        "SERVICE_CODE",
        "USAGE_TYPE",
        "USAGE_TYPE_GROUP",
        "RECORD_TYPE",
        "OPERATING_SYSTEM",
        "TENANCY",
        "SCOPE",
        "PLATFORM",
        "SUBSCRIPTION_ID",
        "LEGAL_ENTITY_NAME",
        "DEPLOYMENT_OPTION",
        "DATABASE_ENGINE",
        "CACHE_ENGINE",
        "INSTANCE_TYPE_FAMILY",
        "BILLING_ENTITY",
        "RESERVATION_ID",
        "RESOURCE_ID",
        "RIGHTSIZING_TYPE",
        "SAVINGS_PLANS_TYPE",
        "SAVINGS_PLAN_ARN",
        "PAYMENT_OPTION",
        "AGREEMENT_END_DATE_TIME_AFTER",
        "AGREEMENT_END_DATE_TIME_BEFORE",
        "INVOICING_ENTITY",
        "ANOMALY_TOTAL_IMPACT_ABSOLUTE",
        "ANOMALY_TOTAL_IMPACT_PERCENTAGE"
      ]
    },
    "DimensionValues":{
      "type":"structure",
      "members":{
        "Key":{
          "shape":"Dimension",
          "documentation":"<p>The names of the metadata types that you can use to filter and group your results. For example, <code>AZ</code> returns a list of Availability Zones.</p> <p>Not all dimensions are supported in each API. Refer to the documentation for each specific API to see what is supported.</p> <p> <code>LINKED_ACCOUNT_NAME</code> and <code>SERVICE_CODE</code> can only be used in <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_CostCategoryRule.html\">CostCategoryRule</a>.</p> <p> <code>ANOMALY_TOTAL_IMPACT_ABSOLUTE</code> and <code>ANOMALY_TOTAL_IMPACT_PERCENTAGE</code> can only be used in <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_AnomalySubscription.html\">AnomalySubscriptions</a>.</p>"
        },
        "Values":{
          "shape":"Values",
          "documentation":"<p>The metadata values that you can use to filter and group your results. You can use <code>GetDimensionValues</code> to find specific values.</p>"
        },
        "MatchOptions":{
          "shape":"MatchOptions",
          "documentation":"<p>The match options that you can use to filter your results.</p> <p> <code>MatchOptions</code> is only applicable for actions related to Cost Category and Anomaly Subscriptions. Refer to the documentation for each specific API to see what is supported.</p> <p>The default values for <code>MatchOptions</code> are <code>EQUALS</code> and <code>CASE_SENSITIVE</code>.</p>"
        }
      },
      "documentation":"<p>The metadata that you can use to filter and group your results. You can use <code>GetDimensionValues</code> to find specific values.</p>"
    },
    "DimensionValuesWithAttributes":{
      "type":"structure",
      "members":{
        "Value":{
          "shape":"Value",
          "documentation":"<p>The value of a dimension with a specific attribute.</p>"
        },
        "Attributes":{
          "shape":"Attributes",
          "documentation":"<p>The attribute that applies to a specific <code>Dimension</code>.</p>"
        }
      },
      "documentation":"<p>The metadata of a specific type that you can use to filter and group your results. You can use <code>GetDimensionValues</code> to find specific values.</p>"
    },
    "DimensionValuesWithAttributesList":{
      "type":"list",
      "member":{"shape":"DimensionValuesWithAttributes"}
    },
    "DiskResourceUtilization":{
      "type":"structure",
      "members":{
        "DiskReadOpsPerSecond":{
          "shape":"GenericString",
          "documentation":"<p>The maximum number of read operations per second. </p>"
        },
        "DiskWriteOpsPerSecond":{
          "shape":"GenericString",
          "documentation":"<p>The maximum number of write operations per second. </p>"
        },
        "DiskReadBytesPerSecond":{
          "shape":"GenericString",
          "documentation":"<p>The maximum read throughput operations per second. </p>"
        },
        "DiskWriteBytesPerSecond":{
          "shape":"GenericString",
          "documentation":"<p>The maximum write throughput operations per second. </p>"
        }
      },
      "documentation":"<p>The field that contains a list of disk (local storage) metrics that are associated with the current instance. </p>"
    },
    "DynamoDBCapacityDetails":{
      "type":"structure",
      "members":{
        "CapacityUnits":{
          "shape":"GenericString",
          "documentation":"<p>The capacity unit of the recommended reservation.</p>"
        },
        "Region":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Web Services Region of the recommended reservation.</p>"
        }
      },
      "documentation":"<p>The DynamoDB reservations that Amazon Web Services recommends that you purchase.</p>"
    },
    "EBSResourceUtilization":{
      "type":"structure",
      "members":{
        "EbsReadOpsPerSecond":{
          "shape":"GenericString",
          "documentation":"<p>The maximum number of read operations per second. </p>"
        },
        "EbsWriteOpsPerSecond":{
          "shape":"GenericString",
          "documentation":"<p>The maximum number of write operations per second. </p>"
        },
        "EbsReadBytesPerSecond":{
          "shape":"GenericString",
          "documentation":"<p>The maximum size of read operations per second </p>"
        },
        "EbsWriteBytesPerSecond":{
          "shape":"GenericString",
          "documentation":"<p>The maximum size of write operations per second. </p>"
        }
      },
      "documentation":"<p>The EBS field that contains a list of EBS metrics that are associated with the current instance. </p>"
    },
    "EC2InstanceDetails":{
      "type":"structure",
      "members":{
        "Family":{
          "shape":"GenericString",
          "documentation":"<p>The instance family of the recommended reservation.</p>"
        },
        "InstanceType":{
          "shape":"GenericString",
          "documentation":"<p>The type of instance that Amazon Web Services recommends.</p>"
        },
        "Region":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Web Services Region of the recommended reservation.</p>"
        },
        "AvailabilityZone":{
          "shape":"GenericString",
          "documentation":"<p>The Availability Zone of the recommended reservation.</p>"
        },
        "Platform":{
          "shape":"GenericString",
          "documentation":"<p>The platform of the recommended reservation. The platform is the specific combination of operating system, license model, and software on an instance.</p>"
        },
        "Tenancy":{
          "shape":"GenericString",
          "documentation":"<p>Determines whether the recommended reservation is dedicated or shared.</p>"
        },
        "CurrentGeneration":{
          "shape":"GenericBoolean",
          "documentation":"<p>Determines whether the recommendation is for a current-generation instance. </p>"
        },
        "SizeFlexEligible":{
          "shape":"GenericBoolean",
          "documentation":"<p>Determines whether the recommended reservation is size flexible.</p>"
        }
      },
      "documentation":"<p>Details about the Amazon EC2 reservations that Amazon Web Services recommends that you purchase.</p>"
    },
    "EC2ResourceDetails":{
      "type":"structure",
      "members":{
        "HourlyOnDemandRate":{
          "shape":"GenericString",
          "documentation":"<p>The hourly public On-Demand rate for the instance type.</p>"
        },
        "InstanceType":{
          "shape":"GenericString",
          "documentation":"<p>The type of Amazon Web Services instance.</p>"
        },
        "Platform":{
          "shape":"GenericString",
          "documentation":"<p>The platform of the Amazon Web Services instance. The platform is the specific combination of operating system, license model, and software on an instance.</p>"
        },
        "Region":{
          "shape":"GenericString",
          "documentation":"<p>The Amazon Web Services Region of the instance.</p>"
        },
        "Sku":{
          "shape":"GenericString",
          "documentation":"<p>The SKU of the product.</p>"
        },
        "Memory":{
          "shape":"GenericString",
          "documentation":"<p>The memory capacity of the Amazon Web Services instance.</p>"
        },
        "NetworkPerformance":{
          "shape":"GenericString",
          "documentation":"<p>The network performance capacity of the Amazon Web Services instance.</p>"
        },
        "Storage":{
          "shape":"GenericString",
          "documentation":"<p>The disk storage of the Amazon Web Services instance. This doesn't include EBS storage.</p>"
        },
        "Vcpu":{
          "shape":"GenericString",
          "documentation":"<p>The number of VCPU cores in the Amazon Web Services instance type.</p>"
        }
      },
      "documentation":"<p>Details on the Amazon EC2 Resource.</p>"
    },
    "EC2ResourceUtilization":{
      "type":"structure",
      "members":{
        "MaxCpuUtilizationPercentage":{
          "shape":"GenericString",
          "documentation":"<p>The maximum observed or expected CPU utilization of the instance.</p>"
        },
        "MaxMemoryUtilizationPercentage":{
          "shape":"GenericString",
          "documentation":"<p>The maximum observed or expected memory utilization of the instance.</p>"
        },
        "MaxStorageUtilizationPercentage":{
          "shape":"GenericString",
          "documentation":"<p>The maximum observed or expected storage utilization of the instance. This doesn't include EBS storage.</p>"
        },
        "EBSResourceUtilization":{
          "shape":"EBSResourceUtilization",
          "documentation":"<p>The EBS field that contains a list of EBS metrics that are associated with the current instance. </p>"
        },
        "DiskResourceUtilization":{
          "shape":"DiskResourceUtilization",
          "documentation":"<p>The field that contains a list of disk (local storage) metrics that are associated with the current instance. </p>"
        },
        "NetworkResourceUtilization":{
          "shape":"NetworkResourceUtilization",
          "documentation":"<p>The network field that contains a list of network metrics that are associated with the current instance. </p>"
        }
      },
      "documentation":"<p>Utilization metrics for the instance. </p>"
    },
    "EC2Specification":{
[...]
