{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2015-12-10",
    "endpointPrefix":"servicecatalog",
    "jsonVersion":"1.1",
    "protocol":"json",
    "protocols":["json"],
    "serviceFullName":"AWS Service Catalog",
    "serviceId":"Service Catalog",
    "signatureVersion":"v4",
    "targetPrefix":"AWS242ServiceCatalogService",
    "uid":"servicecatalog-2015-12-10",
    "auth":["aws.auth#sigv4"]
  },
  "operations":{
    "AcceptPortfolioShare":{
      "name":"AcceptPortfolioShare",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AcceptPortfolioShareInput"},
      "output":{"shape":"AcceptPortfolioShareOutput"},
      "errors":[
        {"shape":"InvalidParametersException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Accepts an offer to share the specified portfolio.</p>"
    },
    "AssociateBudgetWithResource":{
      "name":"AssociateBudgetWithResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateBudgetWithResourceInput"},
      "output":{"shape":"AssociateBudgetWithResourceOutput"},
      "errors":[
        {"shape":"InvalidParametersException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"LimitExceededException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Associates the specified budget with the specified resource.</p>"
    },
    "AssociatePrincipalWithPortfolio":{
      "name":"AssociatePrincipalWithPortfolio",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociatePrincipalWithPortfolioInput"},
      "output":{"shape":"AssociatePrincipalWithPortfolioOutput"},
      "errors":[
        {"shape":"InvalidParametersException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Associates the specified principal ARN with the specified portfolio.</p> <p>If you share the portfolio with principal name sharing enabled, the <code>PrincipalARN</code> association is included in the share. </p> <p>The <code>PortfolioID</code>, <code>PrincipalARN</code>, and <code>PrincipalType</code> parameters are required. </p> <p>You can associate a maximum of 10 Principals with a portfolio using <code>PrincipalType</code> as <code>IAM_PATTERN</code>. </p> <note> <p>When you associate a principal with portfolio, a potential privilege escalation path may occur when that portfolio is then shared with other accounts. For a user in a recipient account who is <i>not</i> an Service Catalog Admin, but still has the ability to create Principals (Users/Groups/Roles), that user could create a role that matches a principal name association for the portfolio. Although this user may not know which principal names are associated through Service Catalog, they may be able to guess the user. If this potential escalation path is a concern, then Service Catalog recommends using <code>PrincipalType</code> as <code>IAM</code>. With this configuration, the <code>PrincipalARN</code> must already exist in the recipient account before it can be associated. </p> </note>"
    },
    "AssociateProductWithPortfolio":{
      "name":"AssociateProductWithPortfolio",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateProductWithPortfolioInput"},
      "output":{"shape":"AssociateProductWithPortfolioOutput"},
      "errors":[
        {"shape":"InvalidParametersException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Associates the specified product with the specified portfolio.</p> <p>A delegated admin is authorized to invoke this command.</p>"
    },
    "AssociateServiceActionWithProvisioningArtifact":{
      "name":"AssociateServiceActionWithProvisioningArtifact",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateServiceActionWithProvisioningArtifactInput"},
      "output":{"shape":"AssociateServiceActionWithProvisioningArtifactOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Associates a self-service action with a provisioning artifact.</p>"
    },
    "AssociateTagOptionWithResource":{
      "name":"AssociateTagOptionWithResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateTagOptionWithResourceInput"},
      "output":{"shape":"AssociateTagOptionWithResourceOutput"},
      "errors":[
        {"shape":"TagOptionNotMigratedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"},
        {"shape":"LimitExceededException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"InvalidStateException"}
      ],
      "documentation":"<p>Associate the specified TagOption with the specified portfolio or product.</p>"
    },
    "BatchAssociateServiceActionWithProvisioningArtifact":{
      "name":"BatchAssociateServiceActionWithProvisioningArtifact",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchAssociateServiceActionWithProvisioningArtifactInput"},
      "output":{"shape":"BatchAssociateServiceActionWithProvisioningArtifactOutput"},
      "errors":[
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Associates multiple self-service actions with provisioning artifacts.</p>"
    },
    "BatchDisassociateServiceActionFromProvisioningArtifact":{
      "name":"BatchDisassociateServiceActionFromProvisioningArtifact",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"BatchDisassociateServiceActionFromProvisioningArtifactInput"},
      "output":{"shape":"BatchDisassociateServiceActionFromProvisioningArtifactOutput"},
      "errors":[
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Disassociates a batch of self-service actions from the specified provisioning artifact.</p>"
    },
    "CopyProduct":{
      "name":"CopyProduct",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CopyProductInput"},
      "output":{"shape":"CopyProductOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Copies the specified source product to the specified target product or a new product.</p> <p>You can copy a product to the same account or another account. You can copy a product to the same Region or another Region. If you copy a product to another account, you must first share the product in a portfolio using <a>CreatePortfolioShare</a>.</p> <p>This operation is performed asynchronously. To track the progress of the operation, use <a>DescribeCopyProductStatus</a>.</p>"
    },
    "CreateConstraint":{
      "name":"CreateConstraint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateConstraintInput"},
      "output":{"shape":"CreateConstraintOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"},
        {"shape":"LimitExceededException"},
        {"shape":"DuplicateResourceException"}
      ],
      "documentation":"<p>Creates a constraint.</p> <p>A delegated admin is authorized to invoke this command.</p>"
    },
    "CreatePortfolio":{
      "name":"CreatePortfolio",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePortfolioInput"},
      "output":{"shape":"CreatePortfolioOutput"},
      "errors":[
        {"shape":"InvalidParametersException"},
        {"shape":"LimitExceededException"},
        {"shape":"TagOptionNotMigratedException"}
      ],
      "documentation":"<p>Creates a portfolio.</p> <p>A delegated admin is authorized to invoke this command.</p>"
    },
    "CreatePortfolioShare":{
      "name":"CreatePortfolioShare",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreatePortfolioShareInput"},
      "output":{"shape":"CreatePortfolioShareOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"InvalidParametersException"},
        {"shape":"OperationNotSupportedException"},
        {"shape":"InvalidStateException"}
      ],
      "documentation":"<p>Shares the specified portfolio with the specified account or organization node. Shares to an organization node can only be created by the management account of an organization or by a delegated administrator. You can share portfolios to an organization, an organizational unit, or a specific account.</p> <p>Note that if a delegated admin is de-registered, they can no longer create portfolio shares.</p> <p> <code>AWSOrganizationsAccess</code> must be enabled in order to create a portfolio share to an organization node.</p> <p>You can't share a shared resource, including portfolios that contain a shared product.</p> <p>If the portfolio share with the specified account or organization node already exists, this action will have no effect and will not return an error. To update an existing share, you must use the <code> UpdatePortfolioShare</code> API instead. </p> <note> <p>When you associate a principal with portfolio, a potential privilege escalation path may occur when that portfolio is then shared with other accounts. For a user in a recipient account who is <i>not</i> an Service Catalog Admin, but still has the ability to create Principals (Users/Groups/Roles), that user could create a role that matches a principal name association for the portfolio. Although this user may not know which principal names are associated through Service Catalog, they may be able to guess the user. If this potential escalation path is a concern, then Service Catalog recommends using <code>PrincipalType</code> as <code>IAM</code>. With this configuration, the <code>PrincipalARN</code> must already exist in the recipient account before it can be associated. </p> </note>"
    },
    "CreateProduct":{
      "name":"CreateProduct",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateProductInput"},
      "output":{"shape":"CreateProductOutput"},
      "errors":[
        {"shape":"InvalidParametersException"},
        {"shape":"LimitExceededException"},
        {"shape":"TagOptionNotMigratedException"}
      ],
      "documentation":"<p>Creates a product.</p> <p>A delegated admin is authorized to invoke this command.</p> <p>The user or role that performs this operation must have the <code>cloudformation:GetTemplate</code> IAM policy permission. This policy permission is required when using the <code>ImportFromPhysicalId</code> template source in the information data section.</p>"
    },
    "CreateProvisionedProductPlan":{
      "name":"CreateProvisionedProductPlan",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateProvisionedProductPlanInput"},
      "output":{"shape":"CreateProvisionedProductPlanOutput"},
      "errors":[
        {"shape":"InvalidParametersException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidStateException"}
      ],
      "documentation":"<p>Creates a plan.</p> <p>A plan includes the list of resources to be created (when provisioning a new product) or modified (when updating a provisioned product) when the plan is executed.</p> <p>You can create one plan for each provisioned product. To create a plan for an existing provisioned product, the product status must be AVAILABLE or TAINTED.</p> <p>To view the resource changes in the change set, use <a>DescribeProvisionedProductPlan</a>. To create or modify the provisioned product, use <a>ExecuteProvisionedProductPlan</a>.</p>"
    },
    "CreateProvisioningArtifact":{
      "name":"CreateProvisioningArtifact",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateProvisioningArtifactInput"},
      "output":{"shape":"CreateProvisioningArtifactOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a provisioning artifact (also known as a version) for the specified product.</p> <p>You cannot create a provisioning artifact for a product that was shared with you.</p> <p>The user or role that performs this operation must have the <code>cloudformation:GetTemplate</code> IAM policy permission. This policy permission is required when using the <code>ImportFromPhysicalId</code> template source in the information data section.</p>"
    },
    "CreateServiceAction":{
      "name":"CreateServiceAction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateServiceActionInput"},
      "output":{"shape":"CreateServiceActionOutput"},
      "errors":[
        {"shape":"InvalidParametersException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a self-service action.</p>"
    },
    "CreateTagOption":{
      "name":"CreateTagOption",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateTagOptionInput"},
      "output":{"shape":"CreateTagOptionOutput"},
      "errors":[
        {"shape":"TagOptionNotMigratedException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"LimitExceededException"}
      ],
      "documentation":"<p>Creates a TagOption.</p>"
    },
    "DeleteConstraint":{
      "name":"DeleteConstraint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteConstraintInput"},
      "output":{"shape":"DeleteConstraintOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Deletes the specified constraint.</p> <p>A delegated admin is authorized to invoke this command.</p>"
    },
    "DeletePortfolio":{
      "name":"DeletePortfolio",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePortfolioInput"},
      "output":{"shape":"DeletePortfolioOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"},
        {"shape":"ResourceInUseException"},
        {"shape":"TagOptionNotMigratedException"}
      ],
      "documentation":"<p>Deletes the specified portfolio.</p> <p>You cannot delete a portfolio if it was shared with you or if it has associated products, users, constraints, or shared accounts.</p> <p>A delegated admin is authorized to invoke this command.</p>"
    },
    "DeletePortfolioShare":{
      "name":"DeletePortfolioShare",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeletePortfolioShareInput"},
      "output":{"shape":"DeletePortfolioShareOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"},
        {"shape":"OperationNotSupportedException"},
        {"shape":"InvalidStateException"}
      ],
      "documentation":"<p>Stops sharing the specified portfolio with the specified account or organization node. Shares to an organization node can only be deleted by the management account of an organization or by a delegated administrator.</p> <p>Note that if a delegated admin is de-registered, portfolio shares created from that account are removed.</p>"
    },
    "DeleteProduct":{
      "name":"DeleteProduct",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteProductInput"},
      "output":{"shape":"DeleteProductOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidParametersException"},
        {"shape":"TagOptionNotMigratedException"}
      ],
      "documentation":"<p>Deletes the specified product.</p> <p>You cannot delete a product if it was shared with you or is associated with a portfolio.</p> <p>A delegated admin is authorized to invoke this command.</p>"
    },
    "DeleteProvisionedProductPlan":{
      "name":"DeleteProvisionedProductPlan",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteProvisionedProductPlanInput"},
      "output":{"shape":"DeleteProvisionedProductPlanOutput"},
      "errors":[
        {"shape":"InvalidParametersException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes the specified plan.</p>"
    },
    "DeleteProvisioningArtifact":{
      "name":"DeleteProvisioningArtifact",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteProvisioningArtifactInput"},
      "output":{"shape":"DeleteProvisioningArtifactOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Deletes the specified provisioning artifact (also known as a version) for the specified product.</p> <p>You cannot delete a provisioning artifact associated with a product that was shared with you. You cannot delete the last provisioning artifact for a product, because a product must have at least one provisioning artifact.</p>"
    },
    "DeleteServiceAction":{
      "name":"DeleteServiceAction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteServiceActionInput"},
      "output":{"shape":"DeleteServiceActionOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Deletes a self-service action.</p>"
    },
    "DeleteTagOption":{
      "name":"DeleteTagOption",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteTagOptionInput"},
      "output":{"shape":"DeleteTagOptionOutput"},
      "errors":[
        {"shape":"TagOptionNotMigratedException"},
        {"shape":"ResourceInUseException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Deletes the specified TagOption.</p> <p>You cannot delete a TagOption if it is associated with a product or portfolio.</p>"
    },
    "DescribeConstraint":{
      "name":"DescribeConstraint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeConstraintInput"},
      "output":{"shape":"DescribeConstraintOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets information about the specified constraint.</p>"
    },
    "DescribeCopyProductStatus":{
      "name":"DescribeCopyProductStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCopyProductStatusInput"},
      "output":{"shape":"DescribeCopyProductStatusOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets the status of the specified copy product operation.</p>"
    },
    "DescribePortfolio":{
      "name":"DescribePortfolio",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePortfolioInput"},
      "output":{"shape":"DescribePortfolioOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets information about the specified portfolio.</p> <p>A delegated admin is authorized to invoke this command.</p>"
    },
    "DescribePortfolioShareStatus":{
      "name":"DescribePortfolioShareStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePortfolioShareStatusInput"},
      "output":{"shape":"DescribePortfolioShareStatusOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"},
        {"shape":"OperationNotSupportedException"}
      ],
      "documentation":"<p>Gets the status of the specified portfolio share operation. This API can only be called by the management account in the organization or by a delegated admin.</p>"
    },
    "DescribePortfolioShares":{
      "name":"DescribePortfolioShares",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePortfolioSharesInput"},
      "output":{"shape":"DescribePortfolioSharesOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Returns a summary of each of the portfolio shares that were created for the specified portfolio.</p> <p>You can use this API to determine which accounts or organizational nodes this portfolio have been shared, whether the recipient entity has imported the share, and whether TagOptions are included with the share.</p> <p>The <code>PortfolioId</code> and <code>Type</code> parameters are both required.</p>"
    },
    "DescribeProduct":{
      "name":"DescribeProduct",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeProductInput"},
      "output":{"shape":"DescribeProductOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Gets information about the specified product.</p> <note> <p> Running this operation with administrator access results in a failure. <a>DescribeProductAsAdmin</a> should be used instead. </p> </note>"
    },
    "DescribeProductAsAdmin":{
      "name":"DescribeProductAsAdmin",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeProductAsAdminInput"},
      "output":{"shape":"DescribeProductAsAdminOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Gets information about the specified product. This operation is run with administrator access.</p>"
    },
    "DescribeProductView":{
      "name":"DescribeProductView",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeProductViewInput"},
      "output":{"shape":"DescribeProductViewOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Gets information about the specified product.</p>"
    },
    "DescribeProvisionedProduct":{
      "name":"DescribeProvisionedProduct",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeProvisionedProductInput"},
      "output":{"shape":"DescribeProvisionedProductOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Gets information about the specified provisioned product.</p>"
    },
    "DescribeProvisionedProductPlan":{
      "name":"DescribeProvisionedProductPlan",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeProvisionedProductPlanInput"},
      "output":{"shape":"DescribeProvisionedProductPlanOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Gets information about the resource changes for the specified plan.</p>"
    },
    "DescribeProvisioningArtifact":{
      "name":"DescribeProvisioningArtifact",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeProvisioningArtifactInput"},
      "output":{"shape":"DescribeProvisioningArtifactOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Gets information about the specified provisioning artifact (also known as a version) for the specified product.</p>"
    },
    "DescribeProvisioningParameters":{
      "name":"DescribeProvisioningParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeProvisioningParametersInput"},
      "output":{"shape":"DescribeProvisioningParametersOutput"},
      "errors":[
        {"shape":"InvalidParametersException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets information about the configuration required to provision the specified product using the specified provisioning artifact.</p> <p>If the output contains a TagOption key with an empty list of values, there is a TagOption conflict for that key. The end user cannot take action to fix the conflict, and launch is not blocked. In subsequent calls to <a>ProvisionProduct</a>, do not include conflicted TagOption keys as tags, or this causes the error \"Parameter validation failed: Missing required parameter in Tags[<i>N</i>]:<i>Value</i>\". Tag the provisioned product with the value <code>sc-tagoption-conflict-portfolioId-productId</code>.</p>"
    },
    "DescribeRecord":{
      "name":"DescribeRecord",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRecordInput"},
      "output":{"shape":"DescribeRecordOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets information about the specified request operation.</p> <p>Use this operation after calling a request operation (for example, <a>ProvisionProduct</a>, <a>TerminateProvisionedProduct</a>, or <a>UpdateProvisionedProduct</a>). </p> <note> <p>If a provisioned product was transferred to a new owner using <a>UpdateProvisionedProductProperties</a>, the new owner will be able to describe all past records for that product. The previous owner will no longer be able to describe the records, but will be able to use <a>ListRecordHistory</a> to see the product's history from when he was the owner.</p> </note>"
    },
    "DescribeServiceAction":{
      "name":"DescribeServiceAction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeServiceActionInput"},
      "output":{"shape":"DescribeServiceActionOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Describes a self-service action.</p>"
    },
    "DescribeServiceActionExecutionParameters":{
      "name":"DescribeServiceActionExecutionParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeServiceActionExecutionParametersInput"},
      "output":{"shape":"DescribeServiceActionExecutionParametersOutput"},
      "errors":[
        {"shape":"InvalidParametersException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Finds the default parameters for a specific self-service action on a specific provisioned product and returns a map of the results to the user.</p>"
    },
    "DescribeTagOption":{
      "name":"DescribeTagOption",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTagOptionInput"},
      "output":{"shape":"DescribeTagOptionOutput"},
      "errors":[
        {"shape":"TagOptionNotMigratedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Gets information about the specified TagOption.</p>"
    },
    "DisableAWSOrganizationsAccess":{
      "name":"DisableAWSOrganizationsAccess",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableAWSOrganizationsAccessInput"},
      "output":{"shape":"DisableAWSOrganizationsAccessOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidStateException"},
        {"shape":"OperationNotSupportedException"}
      ],
      "documentation":"<p>Disable portfolio sharing through the Organizations service. This command will not delete your current shares, but prevents you from creating new shares throughout your organization. Current shares are not kept in sync with your organization structure if the structure changes after calling this API. Only the management account in the organization can call this API.</p> <p>You cannot call this API if there are active delegated administrators in the organization.</p> <p>Note that a delegated administrator is not authorized to invoke <code>DisableAWSOrganizationsAccess</code>.</p> <important> <p>If you share an Service Catalog portfolio in an organization within Organizations, and then disable Organizations access for Service Catalog, the portfolio access permissions will not sync with the latest changes to the organization structure. Specifically, accounts that you removed from the organization after disabling Service Catalog access will retain access to the previously shared portfolio.</p> </important>"
    },
    "DisassociateBudgetFromResource":{
      "name":"DisassociateBudgetFromResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateBudgetFromResourceInput"},
      "output":{"shape":"DisassociateBudgetFromResourceOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Disassociates the specified budget from the specified resource.</p>"
    },
    "DisassociatePrincipalFromPortfolio":{
      "name":"DisassociatePrincipalFromPortfolio",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociatePrincipalFromPortfolioInput"},
      "output":{"shape":"DisassociatePrincipalFromPortfolioOutput"},
      "errors":[
        {"shape":"InvalidParametersException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Disassociates a previously associated principal ARN from a specified portfolio.</p> <p>The <code>PrincipalType</code> and <code>PrincipalARN</code> must match the <code>AssociatePrincipalWithPortfolio</code> call request details. For example, to disassociate an association created with a <code>PrincipalARN</code> of <code>PrincipalType</code> IAM you must use the <code>PrincipalType</code> IAM when calling <code>DisassociatePrincipalFromPortfolio</code>. </p> <p>For portfolios that have been shared with principal name sharing enabled: after disassociating a principal, share recipient accounts will no longer be able to provision products in this portfolio using a role matching the name of the associated principal. </p> <p>For more information, review <a href=\"https://docs.aws.amazon.com/cli/latest/reference/servicecatalog/associate-principal-with-portfolio.html#options\">associate-principal-with-portfolio</a> in the Amazon Web Services CLI Command Reference. </p> <note> <p>If you disassociate a principal from a portfolio, with PrincipalType as <code>IAM</code>, the same principal will still have access to the portfolio if it matches one of the associated principals of type <code>IAM_PATTERN</code>. To fully remove access for a principal, verify all the associated Principals of type <code>IAM_PATTERN</code>, and then ensure you disassociate any <code>IAM_PATTERN</code> principals that match the principal whose access you are removing.</p> </note>"
    },
    "DisassociateProductFromPortfolio":{
      "name":"DisassociateProductFromPortfolio",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateProductFromPortfolioInput"},
      "output":{"shape":"DisassociateProductFromPortfolioOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"ResourceInUseException"},
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Disassociates the specified product from the specified portfolio. </p> <p>A delegated admin is authorized to invoke this command.</p>"
    },
    "DisassociateServiceActionFromProvisioningArtifact":{
      "name":"DisassociateServiceActionFromProvisioningArtifact",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateServiceActionFromProvisioningArtifactInput"},
      "output":{"shape":"DisassociateServiceActionFromProvisioningArtifactOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Disassociates the specified self-service action association from the specified provisioning artifact.</p>"
    },
    "DisassociateTagOptionFromResource":{
      "name":"DisassociateTagOptionFromResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateTagOptionFromResourceInput"},
      "output":{"shape":"DisassociateTagOptionFromResourceOutput"},
      "errors":[
        {"shape":"TagOptionNotMigratedException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Disassociates the specified TagOption from the specified resource.</p>"
    },
    "EnableAWSOrganizationsAccess":{
      "name":"EnableAWSOrganizationsAccess",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableAWSOrganizationsAccessInput"},
      "output":{"shape":"EnableAWSOrganizationsAccessOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidStateException"},
        {"shape":"OperationNotSupportedException"}
      ],
      "documentation":"<p>Enable portfolio sharing feature through Organizations. This API will allow Service Catalog to receive updates on your organization in order to sync your shares with the current structure. This API can only be called by the management account in the organization.</p> <p>When you call this API, Service Catalog calls <code>organizations:EnableAWSServiceAccess</code> on your behalf so that your shares stay in sync with any changes in your Organizations structure.</p> <p>Note that a delegated administrator is not authorized to invoke <code>EnableAWSOrganizationsAccess</code>.</p> <important> <p>If you have previously disabled Organizations access for Service Catalog, and then enable access again, the portfolio access permissions might not sync with the latest changes to the organization structure. Specifically, accounts that you removed from the organization after disabling Service Catalog access, and before you enabled access again, can retain access to the previously shared portfolio. As a result, an account that has been removed from the organization might still be able to create or manage Amazon Web Services resources when it is no longer authorized to do so. Amazon Web Services is working to resolve this issue.</p> </important>"
    },
    "ExecuteProvisionedProductPlan":{
      "name":"ExecuteProvisionedProductPlan",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ExecuteProvisionedProductPlanInput"},
      "output":{"shape":"ExecuteProvisionedProductPlanOutput"},
      "errors":[
        {"shape":"InvalidParametersException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidStateException"}
      ],
      "documentation":"<p>Provisions or modifies a product based on the resource changes for the specified plan.</p>"
    },
    "ExecuteProvisionedProductServiceAction":{
      "name":"ExecuteProvisionedProductServiceAction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ExecuteProvisionedProductServiceActionInput"},
      "output":{"shape":"ExecuteProvisionedProductServiceActionOutput"},
      "errors":[
        {"shape":"InvalidParametersException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidStateException"}
      ],
      "documentation":"<p>Executes a self-service action against a provisioned product.</p>"
    },
    "GetAWSOrganizationsAccessStatus":{
      "name":"GetAWSOrganizationsAccessStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAWSOrganizationsAccessStatusInput"},
      "output":{"shape":"GetAWSOrganizationsAccessStatusOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"OperationNotSupportedException"}
      ],
      "documentation":"<p>Get the Access Status for Organizations portfolio share feature. This API can only be called by the management account in the organization or by a delegated admin.</p>"
    },
    "GetProvisionedProductOutputs":{
      "name":"GetProvisionedProductOutputs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetProvisionedProductOutputsInput"},
      "output":{"shape":"GetProvisionedProductOutputsOutput"},
      "errors":[
        {"shape":"InvalidParametersException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>This API takes either a <code>ProvisonedProductId</code> or a <code>ProvisionedProductName</code>, along with a list of one or more output keys, and responds with the key/value pairs of those outputs.</p>"
    },
    "ImportAsProvisionedProduct":{
      "name":"ImportAsProvisionedProduct",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ImportAsProvisionedProductInput"},
      "output":{"shape":"ImportAsProvisionedProductOutput"},
      "errors":[
        {"shape":"DuplicateResourceException"},
        {"shape":"InvalidStateException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p> Requests the import of a resource as an Service Catalog provisioned product that is associated to an Service Catalog product and provisioning artifact. Once imported, all supported governance actions are supported on the provisioned product. </p> <p> Resource import only supports CloudFormation stack ARNs. CloudFormation StackSets, and non-root nested stacks, are not supported. </p> <p> The CloudFormation stack must have one of the following statuses to be imported: <code>CREATE_COMPLETE</code>, <code>UPDATE_COMPLETE</code>, <code>UPDATE_ROLLBACK_COMPLETE</code>, <code>IMPORT_COMPLETE</code>, and <code>IMPORT_ROLLBACK_COMPLETE</code>. </p> <p> Import of the resource requires that the CloudFormation stack template matches the associated Service Catalog product provisioning artifact. </p> <note> <p> When you import an existing CloudFormation stack into a portfolio, Service Catalog does not apply the product's associated constraints during the import process. Service Catalog applies the constraints after you call <code>UpdateProvisionedProduct</code> for the provisioned product. </p> </note> <p> The user or role that performs this operation must have the <code>cloudformation:GetTemplate</code> and <code>cloudformation:DescribeStacks</code> IAM policy permissions. </p> <p>You can only import one provisioned product at a time. The product's CloudFormation stack must have the <code>IMPORT_COMPLETE</code> status before you import another. </p>"
    },
    "ListAcceptedPortfolioShares":{
      "name":"ListAcceptedPortfolioShares",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAcceptedPortfolioSharesInput"},
      "output":{"shape":"ListAcceptedPortfolioSharesOutput"},
      "errors":[
        {"shape":"InvalidParametersException"},
        {"shape":"OperationNotSupportedException"}
      ],
      "documentation":"<p>Lists all imported portfolios for which account-to-account shares were accepted by this account. By specifying the <code>PortfolioShareType</code>, you can list portfolios for which organizational shares were accepted by this account.</p>"
    },
    "ListBudgetsForResource":{
      "name":"ListBudgetsForResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListBudgetsForResourceInput"},
      "output":{"shape":"ListBudgetsForResourceOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Lists all the budgets associated to the specified resource.</p>"
    },
    "ListConstraintsForPortfolio":{
      "name":"ListConstraintsForPortfolio",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListConstraintsForPortfolioInput"},
      "output":{"shape":"ListConstraintsForPortfolioOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Lists the constraints for the specified portfolio and product.</p>"
    },
    "ListLaunchPaths":{
      "name":"ListLaunchPaths",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListLaunchPathsInput"},
      "output":{"shape":"ListLaunchPathsOutput"},
      "errors":[
        {"shape":"InvalidParametersException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Lists the paths to the specified product. A path describes how the user gets access to a specified product and is necessary when provisioning a product. A path also determines the constraints that are put on a product. A path is dependent on a specific product, porfolio, and principal. </p> <note> <p> When provisioning a product that's been added to a portfolio, you must grant your user, group, or role access to the portfolio. For more information, see <a href=\"https://docs.aws.amazon.com/servicecatalog/latest/adminguide/catalogs_portfolios_users.html\">Granting users access</a> in the <i>Service Catalog User Guide</i>. </p> </note>"
    },
    "ListOrganizationPortfolioAccess":{
      "name":"ListOrganizationPortfolioAccess",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListOrganizationPortfolioAccessInput"},
      "output":{"shape":"ListOrganizationPortfolioAccessOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"},
        {"shape":"OperationNotSupportedException"}
      ],
      "documentation":"<p>Lists the organization nodes that have access to the specified portfolio. This API can only be called by the management account in the organization or by a delegated admin.</p> <p>If a delegated admin is de-registered, they can no longer perform this operation.</p>"
    },
    "ListPortfolioAccess":{
      "name":"ListPortfolioAccess",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPortfolioAccessInput"},
      "output":{"shape":"ListPortfolioAccessOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Lists the account IDs that have access to the specified portfolio.</p> <p>A delegated admin can list the accounts that have access to the shared portfolio. Note that if a delegated admin is de-registered, they can no longer perform this operation.</p>"
    },
    "ListPortfolios":{
      "name":"ListPortfolios",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPortfoliosInput"},
      "output":{"shape":"ListPortfoliosOutput"},
      "errors":[
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Lists all portfolios in the catalog.</p>"
    },
    "ListPortfoliosForProduct":{
      "name":"ListPortfoliosForProduct",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPortfoliosForProductInput"},
      "output":{"shape":"ListPortfoliosForProductOutput"},
      "errors":[
        {"shape":"InvalidParametersException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Lists all portfolios that the specified product is associated with.</p>"
    },
    "ListPrincipalsForPortfolio":{
      "name":"ListPrincipalsForPortfolio",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListPrincipalsForPortfolioInput"},
      "output":{"shape":"ListPrincipalsForPortfolioOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Lists all <code>PrincipalARN</code>s and corresponding <code>PrincipalType</code>s associated with the specified portfolio.</p>"
    },
    "ListProvisionedProductPlans":{
      "name":"ListProvisionedProductPlans",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListProvisionedProductPlansInput"},
      "output":{"shape":"ListProvisionedProductPlansOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Lists the plans for the specified provisioned product or all plans to which the user has access.</p>"
    },
    "ListProvisioningArtifacts":{
      "name":"ListProvisioningArtifacts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListProvisioningArtifactsInput"},
      "output":{"shape":"ListProvisioningArtifactsOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Lists all provisioning artifacts (also known as versions) for the specified product.</p>"
    },
    "ListProvisioningArtifactsForServiceAction":{
      "name":"ListProvisioningArtifactsForServiceAction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListProvisioningArtifactsForServiceActionInput"},
      "output":{"shape":"ListProvisioningArtifactsForServiceActionOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Lists all provisioning artifacts (also known as versions) for the specified self-service action.</p>"
    },
    "ListRecordHistory":{
      "name":"ListRecordHistory",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListRecordHistoryInput"},
      "output":{"shape":"ListRecordHistoryOutput"},
      "errors":[
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Lists the specified requests or all performed requests.</p>"
    },
    "ListResourcesForTagOption":{
      "name":"ListResourcesForTagOption",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListResourcesForTagOptionInput"},
      "output":{"shape":"ListResourcesForTagOptionOutput"},
      "errors":[
        {"shape":"TagOptionNotMigratedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Lists the resources associated with the specified TagOption.</p>"
    },
    "ListServiceActions":{
      "name":"ListServiceActions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListServiceActionsInput"},
      "output":{"shape":"ListServiceActionsOutput"},
      "errors":[
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Lists all self-service actions.</p>"
    },
    "ListServiceActionsForProvisioningArtifact":{
      "name":"ListServiceActionsForProvisioningArtifact",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListServiceActionsForProvisioningArtifactInput"},
      "output":{"shape":"ListServiceActionsForProvisioningArtifactOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Returns a paginated list of self-service actions associated with the specified Product ID and Provisioning Artifact ID.</p>"
    },
    "ListStackInstancesForProvisionedProduct":{
      "name":"ListStackInstancesForProvisionedProduct",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListStackInstancesForProvisionedProductInput"},
      "output":{"shape":"ListStackInstancesForProvisionedProductOutput"},
      "errors":[
        {"shape":"InvalidParametersException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Returns summary information about stack instances that are associated with the specified <code>CFN_STACKSET</code> type provisioned product. You can filter for stack instances that are associated with a specific Amazon Web Services account name or Region. </p>"
    },
    "ListTagOptions":{
      "name":"ListTagOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListTagOptionsInput"},
      "output":{"shape":"ListTagOptionsOutput"},
      "errors":[
        {"shape":"TagOptionNotMigratedException"},
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Lists the specified TagOptions or all TagOptions.</p>"
    },
    "NotifyProvisionProductEngineWorkflowResult":{
      "name":"NotifyProvisionProductEngineWorkflowResult",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"NotifyProvisionProductEngineWorkflowResultInput"},
      "output":{"shape":"NotifyProvisionProductEngineWorkflowResultOutput"},
      "errors":[
        {"shape":"InvalidParametersException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Notifies the result of the provisioning engine execution. </p>"
    },
    "NotifyTerminateProvisionedProductEngineWorkflowResult":{
      "name":"NotifyTerminateProvisionedProductEngineWorkflowResult",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"NotifyTerminateProvisionedProductEngineWorkflowResultInput"},
      "output":{"shape":"NotifyTerminateProvisionedProductEngineWorkflowResultOutput"},
      "errors":[
        {"shape":"InvalidParametersException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Notifies the result of the terminate engine execution. </p>"
    },
    "NotifyUpdateProvisionedProductEngineWorkflowResult":{
      "name":"NotifyUpdateProvisionedProductEngineWorkflowResult",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"NotifyUpdateProvisionedProductEngineWorkflowResultInput"},
      "output":{"shape":"NotifyUpdateProvisionedProductEngineWorkflowResultOutput"},
      "errors":[
        {"shape":"InvalidParametersException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p> Notifies the result of the update engine execution. </p>"
    },
    "ProvisionProduct":{
      "name":"ProvisionProduct",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ProvisionProductInput"},
      "output":{"shape":"ProvisionProductOutput"},
      "errors":[
        {"shape":"InvalidParametersException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DuplicateResourceException"}
      ],
      "documentation":"<p> Provisions the specified product. </p> <p> A provisioned product is a resourced instance of a product. For example, provisioning a product that's based on an CloudFormation template launches an CloudFormation stack and its underlying resources. You can check the status of this request using <a>DescribeRecord</a>. </p> <p> If the request contains a tag key with an empty list of values, there's a tag conflict for that key. Don't include conflicted keys as tags, or this will cause the error \"Parameter validation failed: Missing required parameter in Tags[<i>N</i>]:<i>Value</i>\". </p> <note> <p> When provisioning a product that's been added to a portfolio, you must grant your user, group, or role access to the portfolio. For more information, see <a href=\"https://docs.aws.amazon.com/servicecatalog/latest/adminguide/catalogs_portfolios_users.html\">Granting users access</a> in the <i>Service Catalog User Guide</i>. </p> </note>"
    },
    "RejectPortfolioShare":{
      "name":"RejectPortfolioShare",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RejectPortfolioShareInput"},
      "output":{"shape":"RejectPortfolioShareOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Rejects an offer to share the specified portfolio.</p>"
    },
    "ScanProvisionedProducts":{
      "name":"ScanProvisionedProducts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ScanProvisionedProductsInput"},
      "output":{"shape":"ScanProvisionedProductsOutput"},
      "errors":[
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Lists the provisioned products that are available (not terminated).</p> <p>To use additional filtering, see <a>SearchProvisionedProducts</a>.</p>"
    },
    "SearchProducts":{
      "name":"SearchProducts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SearchProductsInput"},
      "output":{"shape":"SearchProductsOutput"},
      "errors":[
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Gets information about the products to which the caller has access.</p>"
    },
    "SearchProductsAsAdmin":{
      "name":"SearchProductsAsAdmin",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SearchProductsAsAdminInput"},
      "output":{"shape":"SearchProductsAsAdminOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Gets information about the products for the specified portfolio or all products.</p>"
    },
    "SearchProvisionedProducts":{
      "name":"SearchProvisionedProducts",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SearchProvisionedProductsInput"},
      "output":{"shape":"SearchProvisionedProductsOutput"},
      "errors":[
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Gets information about the provisioned products that meet the specified criteria.</p>"
    },
    "TerminateProvisionedProduct":{
      "name":"TerminateProvisionedProduct",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"TerminateProvisionedProductInput"},
      "output":{"shape":"TerminateProvisionedProductOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Terminates the specified provisioned product.</p> <p>This operation does not delete any records associated with the provisioned product.</p> <p>You can check the status of this request using <a>DescribeRecord</a>.</p>"
    },
    "UpdateConstraint":{
      "name":"UpdateConstraint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateConstraintInput"},
      "output":{"shape":"UpdateConstraintOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Updates the specified constraint.</p>"
    },
    "UpdatePortfolio":{
      "name":"UpdatePortfolio",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePortfolioInput"},
      "output":{"shape":"UpdatePortfolioOutput"},
      "errors":[
        {"shape":"InvalidParametersException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"LimitExceededException"},
        {"shape":"TagOptionNotMigratedException"}
      ],
      "documentation":"<p>Updates the specified portfolio.</p> <p>You cannot update a product that was shared with you.</p>"
    },
    "UpdatePortfolioShare":{
      "name":"UpdatePortfolioShare",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdatePortfolioShareInput"},
      "output":{"shape":"UpdatePortfolioShareOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"},
        {"shape":"OperationNotSupportedException"},
        {"shape":"InvalidStateException"}
      ],
      "documentation":"<p>Updates the specified portfolio share. You can use this API to enable or disable <code>TagOptions</code> sharing or Principal sharing for an existing portfolio share. </p> <p>The portfolio share cannot be updated if the <code>CreatePortfolioShare</code> operation is <code>IN_PROGRESS</code>, as the share is not available to recipient entities. In this case, you must wait for the portfolio share to be completed.</p> <p>You must provide the <code>accountId</code> or organization node in the input, but not both.</p> <p>If the portfolio is shared to both an external account and an organization node, and both shares need to be updated, you must invoke <code>UpdatePortfolioShare</code> separately for each share type. </p> <p>This API cannot be used for removing the portfolio share. You must use <code>DeletePortfolioShare</code> API for that action. </p> <note> <p>When you associate a principal with portfolio, a potential privilege escalation path may occur when that portfolio is then shared with other accounts. For a user in a recipient account who is <i>not</i> an Service Catalog Admin, but still has the ability to create Principals (Users/Groups/Roles), that user could create a role that matches a principal name association for the portfolio. Although this user may not know which principal names are associated through Service Catalog, they may be able to guess the user. If this potential escalation path is a concern, then Service Catalog recommends using <code>PrincipalType</code> as <code>IAM</code>. With this configuration, the <code>PrincipalARN</code> must already exist in the recipient account before it can be associated. </p> </note>"
    },
    "UpdateProduct":{
      "name":"UpdateProduct",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateProductInput"},
      "output":{"shape":"UpdateProductOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"},
        {"shape":"TagOptionNotMigratedException"}
      ],
      "documentation":"<p>Updates the specified product.</p>"
    },
    "UpdateProvisionedProduct":{
      "name":"UpdateProvisionedProduct",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateProvisionedProductInput"},
      "output":{"shape":"UpdateProvisionedProductOutput"},
      "errors":[
        {"shape":"InvalidParametersException"},
        {"shape":"ResourceNotFoundException"}
      ],
      "documentation":"<p>Requests updates to the configuration of the specified provisioned product.</p> <p>If there are tags associated with the object, they cannot be updated or added. Depending on the specific updates requested, this operation can update with no interruption, with some interruption, or replace the provisioned product entirely.</p> <p>You can check the status of this request using <a>DescribeRecord</a>.</p>"
    },
    "UpdateProvisionedProductProperties":{
      "name":"UpdateProvisionedProductProperties",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateProvisionedProductPropertiesInput"},
      "output":{"shape":"UpdateProvisionedProductPropertiesOutput"},
      "errors":[
        {"shape":"InvalidParametersException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidStateException"}
      ],
      "documentation":"<p>Requests updates to the properties of the specified provisioned product.</p>"
    },
    "UpdateProvisioningArtifact":{
      "name":"UpdateProvisioningArtifact",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateProvisioningArtifactInput"},
      "output":{"shape":"UpdateProvisioningArtifactOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Updates the specified provisioning artifact (also known as a version) for the specified product.</p> <p>You cannot update a provisioning artifact for a product that was shared with you.</p>"
    },
    "UpdateServiceAction":{
      "name":"UpdateServiceAction",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateServiceActionInput"},
      "output":{"shape":"UpdateServiceActionOutput"},
      "errors":[
        {"shape":"ResourceNotFoundException"},
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Updates a self-service action.</p>"
    },
    "UpdateTagOption":{
      "name":"UpdateTagOption",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateTagOptionInput"},
      "output":{"shape":"UpdateTagOptionOutput"},
      "errors":[
        {"shape":"TagOptionNotMigratedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"DuplicateResourceException"},
        {"shape":"InvalidParametersException"}
      ],
      "documentation":"<p>Updates the specified TagOption.</p>"
    }
  },
  "shapes":{
    "AcceptLanguage":{
      "type":"string",
      "max":100
    },
    "AcceptPortfolioShareInput":{
      "type":"structure",
      "required":["PortfolioId"],
      "members":{
        "AcceptLanguage":{
          "shape":"AcceptLanguage",
          "documentation":"<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "PortfolioId":{
          "shape":"Id",
          "documentation":"<p>The portfolio identifier.</p>"
        },
        "PortfolioShareType":{
          "shape":"PortfolioShareType",
          "documentation":"<p>The type of shared portfolios to accept. The default is to accept imported portfolios.</p> <ul> <li> <p> <code>AWS_ORGANIZATIONS</code> - Accept portfolios shared by the management account of your organization.</p> </li> <li> <p> <code>IMPORTED</code> - Accept imported portfolios.</p> </li> <li> <p> <code>AWS_SERVICECATALOG</code> - Not supported. (Throws ResourceNotFoundException.)</p> </li> </ul> <p>For example, <code>aws servicecatalog accept-portfolio-share --portfolio-id \"port-2qwzkwxt3y5fk\" --portfolio-share-type AWS_ORGANIZATIONS</code> </p>"
        }
      }
    },
    "AcceptPortfolioShareOutput":{
      "type":"structure",
      "members":{}
    },
    "AccessLevelFilter":{
      "type":"structure",
      "members":{
        "Key":{
          "shape":"AccessLevelFilterKey",
          "documentation":"<p>The access level.</p> <ul> <li> <p> <code>Account</code> - Filter results based on the account.</p> </li> <li> <p> <code>Role</code> - Filter results based on the federated role of the specified user.</p> </li> <li> <p> <code>User</code> - Filter results based on the specified user.</p> </li> </ul>"
        },
        "Value":{
          "shape":"AccessLevelFilterValue",
          "documentation":"<p>The user to which the access level applies. The only supported value is <code>self</code>.</p>"
        }
      },
      "documentation":"<p>The access level to use to filter results.</p>"
    },
    "AccessLevelFilterKey":{
      "type":"string",
      "enum":[
        "Account",
        "Role",
        "User"
      ]
    },
    "AccessLevelFilterValue":{"type":"string"},
    "AccessStatus":{
      "type":"string",
      "enum":[
        "ENABLED",
        "UNDER_CHANGE",
        "DISABLED"
      ]
    },
    "AccountId":{
      "type":"string",
      "pattern":"^[0-9]{12}$"
    },
    "AccountIds":{
      "type":"list",
      "member":{"shape":"AccountId"}
    },
    "AddTags":{
      "type":"list",
      "member":{"shape":"Tag"},
      "max":20
    },
    "AllowedValues":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "ApproximateCount":{"type":"integer"},
    "AssociateBudgetWithResourceInput":{
      "type":"structure",
      "required":[
        "BudgetName",
        "ResourceId"
      ],
      "members":{
        "BudgetName":{
          "shape":"BudgetName",
          "documentation":"<p>The name of the budget you want to associate.</p>"
        },
        "ResourceId":{
          "shape":"Id",
          "documentation":"<p> The resource identifier. Either a portfolio-id or a product-id.</p>"
        }
      }
    },
    "AssociateBudgetWithResourceOutput":{
      "type":"structure",
      "members":{}
    },
    "AssociatePrincipalWithPortfolioInput":{
      "type":"structure",
      "required":[
        "PortfolioId",
        "PrincipalARN",
        "PrincipalType"
      ],
      "members":{
        "AcceptLanguage":{
          "shape":"AcceptLanguage",
          "documentation":"<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "PortfolioId":{
          "shape":"Id",
          "documentation":"<p>The portfolio identifier.</p>"
        },
        "PrincipalARN":{
          "shape":"PrincipalARN",
          "documentation":"<p>The ARN of the principal (user, role, or group). If the <code>PrincipalType</code> is <code>IAM</code>, the supported value is a fully defined <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_identifiers.html#identifiers-arns\">IAM Amazon Resource Name (ARN)</a>. If the <code>PrincipalType</code> is <code>IAM_PATTERN</code>, the supported value is an <code>IAM</code> ARN <i>without an AccountID</i> in the following format:</p> <p> <i>arn:partition:iam:::resource-type/resource-id</i> </p> <p>The ARN resource-id can be either:</p> <ul> <li> <p>A fully formed resource-id. For example, <i>arn:aws:iam:::role/resource-name</i> or <i>arn:aws:iam:::role/resource-path/resource-name</i> </p> </li> <li> <p>A wildcard ARN. The wildcard ARN accepts <code>IAM_PATTERN</code> values with a \"*\" or \"?\" in the resource-id segment of the ARN. For example <i>arn:partition:service:::resource-type/resource-path/resource-name</i>. The new symbols are exclusive to the <b>resource-path</b> and <b>resource-name</b> and cannot replace the <b>resource-type</b> or other ARN values. </p> <p>The ARN path and principal name allow unlimited wildcard characters.</p> </li> </ul> <p>Examples of an <b>acceptable</b> wildcard ARN:</p> <ul> <li> <p>arn:aws:iam:::role/ResourceName_*</p> </li> <li> <p>arn:aws:iam:::role/*/ResourceName_?</p> </li> </ul> <p>Examples of an <b>unacceptable</b> wildcard ARN:</p> <ul> <li> <p>arn:aws:iam:::*/ResourceName</p> </li> </ul> <p>You can associate multiple <code>IAM_PATTERN</code>s even if the account has no principal with that name. </p> <p>The \"?\" wildcard character matches zero or one of any character. This is similar to \".?\" in regular regex context. The \"*\" wildcard character matches any number of any characters. This is similar to \".*\" in regular regex context.</p> <p>In the IAM Principal ARN format (<i>arn:partition:iam:::resource-type/resource-path/resource-name</i>), valid resource-type values include <b>user/</b>, <b>group/</b>, or <b>role/</b>. The \"?\" and \"*\" characters are allowed only after the resource-type in the resource-id segment. You can use special characters anywhere within the resource-id. </p> <p>The \"*\" character also matches the \"/\" character, allowing paths to be formed <i>within</i> the resource-id. For example, <i>arn:aws:iam:::role/<b>*</b>/ResourceName_?</i> matches both <i>arn:aws:iam:::role/pathA/pathB/ResourceName_1</i> and <i>arn:aws:iam:::role/pathA/ResourceName_1</i>. </p>"
        },
        "PrincipalType":{
          "shape":"PrincipalType",
          "documentation":"<p>The principal type. The supported value is <code>IAM</code> if you use a fully defined Amazon Resource Name (ARN), or <code>IAM_PATTERN</code> if you use an ARN with no <code>accountID</code>, with or without wildcard characters. </p>"
        }
      }
    },
    "AssociatePrincipalWithPortfolioOutput":{
      "type":"structure",
      "members":{}
    },
    "AssociateProductWithPortfolioInput":{
      "type":"structure",
      "required":[
        "ProductId",
        "PortfolioId"
      ],
      "members":{
        "AcceptLanguage":{
          "shape":"AcceptLanguage",
          "documentation":"<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "ProductId":{
          "shape":"Id",
          "documentation":"<p>The product identifier.</p>"
        },
        "PortfolioId":{
          "shape":"Id",
          "documentation":"<p>The portfolio identifier.</p>"
        },
        "SourcePortfolioId":{
          "shape":"Id",
          "documentation":"<p>The identifier of the source portfolio.</p>"
        }
      }
    },
    "AssociateProductWithPortfolioOutput":{
      "type":"structure",
      "members":{}
    },
    "AssociateServiceActionWithProvisioningArtifactInput":{
      "type":"structure",
      "required":[
        "ProductId",
        "ProvisioningArtifactId",
        "ServiceActionId"
      ],
      "members":{
        "ProductId":{
          "shape":"Id",
          "documentation":"<p>The product identifier. For example, <code>prod-abcdzk7xy33qa</code>.</p>"
        },
        "ProvisioningArtifactId":{
          "shape":"Id",
          "documentation":"<p>The identifier of the provisioning artifact. For example, <code>pa-4abcdjnxjj6ne</code>.</p>"
        },
        "ServiceActionId":{
          "shape":"Id",
          "documentation":"<p>The self-service action identifier. For example, <code>act-fs7abcd89wxyz</code>.</p>"
        },
        "AcceptLanguage":{
          "shape":"AcceptLanguage",
          "documentation":"<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "IdempotencyToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique identifier that you provide to ensure idempotency. If multiple requests from the same Amazon Web Services account use the same idempotency token, the same response is returned for each repeated request. </p>",
          "idempotencyToken":true
        }
      }
    },
    "AssociateServiceActionWithProvisioningArtifactOutput":{
      "type":"structure",
      "members":{}
    },
    "AssociateTagOptionWithResourceInput":{
      "type":"structure",
      "required":[
        "ResourceId",
        "TagOptionId"
      ],
      "members":{
        "ResourceId":{
          "shape":"ResourceId",
          "documentation":"<p>The resource identifier.</p>"
        },
        "TagOptionId":{
          "shape":"TagOptionId",
          "documentation":"<p>The TagOption identifier.</p>"
        }
      }
    },
    "AssociateTagOptionWithResourceOutput":{
      "type":"structure",
      "members":{}
    },
    "AttributeValue":{"type":"string"},
    "BatchAssociateServiceActionWithProvisioningArtifactInput":{
      "type":"structure",
      "required":["ServiceActionAssociations"],
      "members":{
        "ServiceActionAssociations":{
          "shape":"ServiceActionAssociations",
          "documentation":"<p>One or more associations, each consisting of the Action ID, the Product ID, and the Provisioning Artifact ID.</p>"
        },
        "AcceptLanguage":{
          "shape":"AcceptLanguage",
          "documentation":"<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        }
      }
    },
    "BatchAssociateServiceActionWithProvisioningArtifactOutput":{
      "type":"structure",
      "members":{
        "FailedServiceActionAssociations":{
          "shape":"FailedServiceActionAssociations",
          "documentation":"<p>An object that contains a list of errors, along with information to help you identify the self-service action.</p>"
        }
      }
    },
    "BatchDisassociateServiceActionFromProvisioningArtifactInput":{
      "type":"structure",
      "required":["ServiceActionAssociations"],
      "members":{
        "ServiceActionAssociations":{
          "shape":"ServiceActionAssociations",
          "documentation":"<p>One or more associations, each consisting of the Action ID, the Product ID, and the Provisioning Artifact ID.</p>"
        },
        "AcceptLanguage":{
          "shape":"AcceptLanguage",
          "documentation":"<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        }
      }
    },
    "BatchDisassociateServiceActionFromProvisioningArtifactOutput":{
      "type":"structure",
      "members":{
        "FailedServiceActionAssociations":{
          "shape":"FailedServiceActionAssociations",
          "documentation":"<p>An object that contains a list of errors, along with information to help you identify the self-service action.</p>"
        }
      }
    },
    "Boolean":{"type":"boolean"},
    "BudgetDetail":{
      "type":"structure",
      "members":{
        "BudgetName":{
          "shape":"BudgetName",
          "documentation":"<p>Name of the associated budget.</p>"
        }
      },
      "documentation":"<p>Information about a budget.</p>"
    },
    "BudgetName":{
      "type":"string",
      "max":100,
      "min":1
    },
    "Budgets":{
      "type":"list",
      "member":{"shape":"BudgetDetail"}
    },
    "CausingEntity":{"type":"string"},
    "ChangeAction":{
      "type":"string",
      "enum":[
        "ADD",
        "MODIFY",
        "REMOVE"
      ]
    },
    "CloudWatchDashboard":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"CloudWatchDashboardName",
          "documentation":"<p>The name of the CloudWatch dashboard.</p>"
        }
      },
      "documentation":"<p>Information about a CloudWatch dashboard.</p>"
    },
    "CloudWatchDashboardName":{"type":"string"},
    "CloudWatchDashboards":{
      "type":"list",
      "member":{"shape":"CloudWatchDashboard"}
    },
    "CodeStarConnectionArn":{
      "type":"string",
      "max":1224,
      "min":1,
      "pattern":"arn:[a-z0-9][-.a-z0-9]{0,62}:codestar-connections:([a-z0-9][-.a-z0-9]{0,62})?:([a-z0-9][-.a-z0-9]{0,62})?:[^/].{0,1023}$"
    },
    "CodeStarParameters":{
      "type":"structure",
      "required":[
        "ConnectionArn",
        "Repository",
        "Branch",
        "ArtifactPath"
      ],
      "members":{
        "ConnectionArn":{
          "shape":"CodeStarConnectionArn",
          "documentation":"<p>The CodeStar ARN, which is the connection between Service Catalog and the external repository.</p>"
        },
        "Repository":{
          "shape":"Repository",
          "documentation":"<p>The specific repository where the product’s artifact-to-be-synced resides, formatted as \"Account/Repo.\" </p>"
        },
        "Branch":{
          "shape":"RepositoryBranch",
          "documentation":"<p>The specific branch where the artifact resides. </p>"
        },
        "ArtifactPath":{
          "shape":"RepositoryArtifactPath",
          "documentation":"<p>The absolute path wehre the artifact resides within the repo and branch, formatted as \"folder/file.json.\" </p>"
        }
      },
      "documentation":"<p>The subtype containing details about the Codestar connection <code>Type</code>. </p>"
    },
    "ConstraintDescription":{
      "type":"string",
      "max":2000
    },
    "ConstraintDetail":{
      "type":"structure",
      "members":{
        "ConstraintId":{
          "shape":"Id",
          "documentation":"<p>The identifier of the constraint.</p>"
        },
        "Type":{
          "shape":"ConstraintType",
          "documentation":"<p>The type of constraint.</p> <ul> <li> <p> <code>LAUNCH</code> </p> </li> <li> <p> <code>NOTIFICATION</code> </p> </li> <li> <p>STACKSET</p> </li> <li> <p> <code>TEMPLATE</code> </p> </li> </ul>"
        },
        "Description":{
          "shape":"ConstraintDescription",
          "documentation":"<p>The description of the constraint.</p>"
        },
        "Owner":{
          "shape":"AccountId",
          "documentation":"<p>The owner of the constraint.</p>"
        },
        "ProductId":{
          "shape":"Id",
          "documentation":"<p>The identifier of the product the constraint applies to. Note that a constraint applies to a specific instance of a product within a certain portfolio.</p>"
        },
        "PortfolioId":{
          "shape":"Id",
          "documentation":"<p>The identifier of the portfolio the product resides in. The constraint applies only to the instance of the product that lives within this portfolio.</p>"
        }
      },
      "documentation":"<p>Information about a constraint.</p>"
    },
    "ConstraintDetails":{
      "type":"list",
      "member":{"shape":"ConstraintDetail"}
    },
    "ConstraintParameters":{"type":"string"},
    "ConstraintSummaries":{
      "type":"list",
      "member":{"shape":"ConstraintSummary"}
    },
    "ConstraintSummary":{
      "type":"structure",
      "members":{
        "Type":{
          "shape":"ConstraintType",
          "documentation":"<p>The type of constraint.</p> <ul> <li> <p> <code>LAUNCH</code> </p> </li> <li> <p> <code>NOTIFICATION</code> </p> </li> <li> <p>STACKSET</p> </li> <li> <p> <code>TEMPLATE</code> </p> </li> </ul>"
        },
        "Description":{
          "shape":"ConstraintDescription",
          "documentation":"<p>The description of the constraint.</p>"
        }
      },
      "documentation":"<p>Summary information about a constraint.</p>"
    },
    "ConstraintType":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "CopyOption":{
      "type":"string",
      "enum":["CopyTags"]
    },
    "CopyOptions":{
      "type":"list",
      "member":{"shape":"CopyOption"}
    },
    "CopyProductInput":{
      "type":"structure",
      "required":[
        "SourceProductArn",
        "IdempotencyToken"
      ],
      "members":{
        "AcceptLanguage":{
          "shape":"AcceptLanguage",
          "documentation":"<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "SourceProductArn":{
          "shape":"ProductArn",
          "documentation":"<p>The Amazon Resource Name (ARN) of the source product.</p>"
        },
        "TargetProductId":{
          "shape":"Id",
          "documentation":"<p>The identifier of the target product. By default, a new product is created.</p>"
        },
        "TargetProductName":{
          "shape":"ProductViewName",
          "documentation":"<p>A name for the target product. The default is the name of the source product.</p>"
        },
        "SourceProvisioningArtifactIdentifiers":{
          "shape":"SourceProvisioningArtifactProperties",
          "documentation":"<p>The identifiers of the provisioning artifacts (also known as versions) of the product to copy. By default, all provisioning artifacts are copied.</p>"
        },
        "CopyOptions":{
          "shape":"CopyOptions",
          "documentation":"<p>The copy options. If the value is <code>CopyTags</code>, the tags from the source product are copied to the target product.</p>"
        },
        "IdempotencyToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p> A unique identifier that you provide to ensure idempotency. If multiple requests differ only by the idempotency token, the same response is returned for each repeated request. </p>",
          "idempotencyToken":true
        }
      }
    },
    "CopyProductOutput":{
      "type":"structure",
      "members":{
        "CopyProductToken":{
          "shape":"Id",
          "documentation":"<p>The token to use to track the progress of the operation.</p>"
        }
      }
    },
    "CopyProductStatus":{
      "type":"string",
      "enum":[
        "SUCCEEDED",
        "IN_PROGRESS",
        "FAILED"
      ]
    },
    "CreateConstraintInput":{
      "type":"structure",
      "required":[
        "PortfolioId",
        "ProductId",
        "Parameters",
        "Type",
        "IdempotencyToken"
      ],
      "members":{
        "AcceptLanguage":{
          "shape":"AcceptLanguage",
          "documentation":"<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "PortfolioId":{
          "shape":"Id",
          "documentation":"<p>The portfolio identifier.</p>"
        },
        "ProductId":{
          "shape":"Id",
          "documentation":"<p>The product identifier.</p>"
        },
        "Parameters":{
          "shape":"ConstraintParameters",
          "documentation":"<p>The constraint parameters, in JSON format. The syntax depends on the constraint type as follows:</p> <dl> <dt>LAUNCH</dt> <dd> <p>You are required to specify either the <code>RoleArn</code> or the <code>LocalRoleName</code> but can't use both.</p> <p>Specify the <code>RoleArn</code> property as follows:</p> <p> <code>{\"RoleArn\" : \"arn:aws:iam::123456789012:role/LaunchRole\"}</code> </p> <p>Specify the <code>LocalRoleName</code> property as follows:</p> <p> <code>{\"LocalRoleName\": \"SCBasicLaunchRole\"}</code> </p> <p>If you specify the <code>LocalRoleName</code> property, when an account uses the launch constraint, the IAM role with that name in the account will be used. This allows launch-role constraints to be account-agnostic so the administrator can create fewer resources per shared account.</p> <note> <p>The given role name must exist in the account used to create the launch constraint and the account of the user who launches a product with this launch constraint.</p> </note> <p>You cannot have both a <code>LAUNCH</code> and a <code>STACKSET</code> constraint.</p> <p>You also cannot have more than one <code>LAUNCH</code> constraint on a product and portfolio.</p> </dd> <dt>NOTIFICATION</dt> <dd> <p>Specify the <code>NotificationArns</code> property as follows:</p> <p> <code>{\"NotificationArns\" : [\"arn:aws:sns:us-east-1:123456789012:Topic\"]}</code> </p> </dd> <dt>RESOURCE_UPDATE</dt> <dd> <p>Specify the <code>TagUpdatesOnProvisionedProduct</code> property as follows:</p> <p> <code>{\"Version\":\"2.0\",\"Properties\":{\"TagUpdateOnProvisionedProduct\":\"String\"}}</code> </p> <p>The <code>TagUpdatesOnProvisionedProduct</code> property accepts a string value of <code>ALLOWED</code> or <code>NOT_ALLOWED</code>.</p> </dd> <dt>STACKSET</dt> <dd> <p>Specify the <code>Parameters</code> property as follows:</p> <p> <code>{\"Version\": \"String\", \"Properties\": {\"AccountList\": [ \"String\" ], \"RegionList\": [ \"String\" ], \"AdminRole\": \"String\", \"ExecutionRole\": \"String\"}}</code> </p> <p>You cannot have both a <code>LAUNCH</code> and a <code>STACKSET</code> constraint.</p> <p>You also cannot have more than one <code>STACKSET</code> constraint on a product and portfolio.</p> <p>Products with a <code>STACKSET</code> constraint will launch an CloudFormation stack set.</p> </dd> <dt>TEMPLATE</dt> <dd> <p>Specify the <code>Rules</code> property. For more information, see <a href=\"http://docs.aws.amazon.com/servicecatalog/latest/adminguide/reference-template_constraint_rules.html\">Template Constraint Rules</a>.</p> </dd> </dl>"
        },
        "Type":{
          "shape":"ConstraintType",
          "documentation":"<p>The type of constraint.</p> <ul> <li> <p> <code>LAUNCH</code> </p> </li> <li> <p> <code>NOTIFICATION</code> </p> </li> <li> <p> <code>RESOURCE_UPDATE</code> </p> </li> <li> <p> <code>STACKSET</code> </p> </li> <li> <p> <code>TEMPLATE</code> </p> </li> </ul>"
        },
        "Description":{
          "shape":"ConstraintDescription",
          "documentation":"<p>The description of the constraint.</p>"
        },
        "IdempotencyToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique identifier that you provide to ensure idempotency. If multiple requests differ only by the idempotency token, the same response is returned for each repeated request.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateConstraintOutput":{
      "type":"structure",
      "members":{
        "ConstraintDetail":{
          "shape":"ConstraintDetail",
          "documentation":"<p>Information about the constraint.</p>"
        },
        "ConstraintParameters":{
          "shape":"ConstraintParameters",
          "documentation":"<p>The constraint parameters.</p>"
        },
        "Status":{
          "shape":"Status",
          "documentation":"<p>The status of the current request.</p>"
        }
      }
    },
    "CreatePortfolioInput":{
      "type":"structure",
      "required":[
        "DisplayName",
        "ProviderName",
        "IdempotencyToken"
      ],
      "members":{
        "AcceptLanguage":{
          "shape":"AcceptLanguage",
          "documentation":"<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "DisplayName":{
          "shape":"PortfolioDisplayName",
          "documentation":"<p>The name to use for display purposes.</p>"
        },
        "Description":{
          "shape":"PortfolioDescription",
          "documentation":"<p>The description of the portfolio.</p>"
        },
        "ProviderName":{
          "shape":"ProviderName",
          "documentation":"<p>The name of the portfolio provider.</p>"
        },
        "Tags":{
          "shape":"AddTags",
          "documentation":"<p>One or more tags.</p>"
        },
        "IdempotencyToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique identifier that you provide to ensure idempotency. If multiple requests differ only by the idempotency token, the same response is returned for each repeated request.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreatePortfolioOutput":{
      "type":"structure",
      "members":{
        "PortfolioDetail":{
          "shape":"PortfolioDetail",
          "documentation":"<p>Information about the portfolio.</p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>Information about the tags associated with the portfolio.</p>"
        }
      }
    },
    "CreatePortfolioShareInput":{
      "type":"structure",
      "required":["PortfolioId"],
      "members":{
        "AcceptLanguage":{
          "shape":"AcceptLanguage",
          "documentation":"<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "PortfolioId":{
          "shape":"Id",
          "documentation":"<p>The portfolio identifier.</p>"
        },
        "AccountId":{
          "shape":"AccountId",
          "documentation":"<p>The Amazon Web Services account ID. For example, <code>123456789012</code>.</p>"
        },
        "OrganizationNode":{
          "shape":"OrganizationNode",
          "documentation":"<p>The organization node to whom you are going to share. When you pass <code>OrganizationNode</code>, it creates <code>PortfolioShare</code> for all of the Amazon Web Services accounts that are associated to the <code>OrganizationNode</code>. The output returns a <code>PortfolioShareToken</code>, which enables the administrator to monitor the status of the <code>PortfolioShare</code> creation process.</p>"
        },
        "ShareTagOptions":{
          "shape":"Boolean",
          "documentation":"<p>Enables or disables <code>TagOptions </code> sharing when creating the portfolio share. If this flag is not provided, TagOptions sharing is disabled.</p>"
        },
        "SharePrincipals":{
          "shape":"Boolean",
          "documentation":"<p>This parameter is only supported for portfolios with an <b>OrganizationalNode</b> Type of <code>ORGANIZATION</code> or <code>ORGANIZATIONAL_UNIT</code>. </p> <p>Enables or disables <code>Principal</code> sharing when creating the portfolio share. If you do <b>not</b> provide this flag, principal sharing is disabled. </p> <p>When you enable Principal Name Sharing for a portfolio share, the share recipient account end users with a principal that matches any of the associated IAM patterns can provision products from the portfolio. Once shared, the share recipient can view associations of <code>PrincipalType</code>: <code>IAM_PATTERN</code> on their portfolio. You can create the principals in the recipient account before or after creating the share. </p>"
        }
      }
    },
    "CreatePortfolioShareOutput":{
      "type":"structure",
      "members":{
        "PortfolioShareToken":{
          "shape":"Id",
          "documentation":"<p>The portfolio shares a unique identifier that only returns if the portfolio is shared to an organization node.</p>"
        }
      }
    },
    "CreateProductInput":{
      "type":"structure",
      "required":[
        "Name",
        "Owner",
        "ProductType",
        "IdempotencyToken"
      ],
      "members":{
        "AcceptLanguage":{
          "shape":"AcceptLanguage",
          "documentation":"<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "Name":{
          "shape":"ProductViewName",
          "documentation":"<p>The name of the product.</p>"
        },
        "Owner":{
          "shape":"ProductViewOwner",
          "documentation":"<p>The owner of the product.</p>"
        },
        "Description":{
          "shape":"ProductViewShortDescription",
          "documentation":"<p>The description of the product.</p>"
        },
        "Distributor":{
          "shape":"ProductViewOwner",
          "documentation":"<p>The distributor of the product.</p>"
        },
        "SupportDescription":{
          "shape":"SupportDescription",
          "documentation":"<p>The support information about the product.</p>"
        },
        "SupportEmail":{
          "shape":"SupportEmail",
          "documentation":"<p>The contact email for product support.</p>"
        },
        "SupportUrl":{
          "shape":"SupportUrl",
          "documentation":"<p>The contact URL for product support.</p> <p> <code>^https?:\\/\\// </code>/ is the pattern used to validate SupportUrl.</p>"
        },
        "ProductType":{
          "shape":"ProductType",
          "documentation":"<p>The type of product.</p>"
        },
        "Tags":{
          "shape":"AddTags",
          "documentation":"<p>One or more tags.</p>"
        },
        "ProvisioningArtifactParameters":{
          "shape":"ProvisioningArtifactProperties",
          "documentation":"<p>The configuration of the provisioning artifact. </p>"
        },
        "IdempotencyToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique identifier that you provide to ensure idempotency. If multiple requests differ only by the idempotency token, the same response is returned for each repeated request.</p>",
          "idempotencyToken":true
        },
        "SourceConnection":{
          "shape":"SourceConnection",
          "documentation":"<p>Specifies connection details for the created product and syncs the product to the connection source artifact. This automatically manages the product's artifacts based on changes to the source. The <code>SourceConnection</code> parameter consists of the following sub-fields.</p> <ul> <li> <p> <code>Type</code> </p> </li> <li> <p> <code>ConnectionParamters</code> </p> </li> </ul>"
        }
      }
    },
    "CreateProductOutput":{
      "type":"structure",
      "members":{
        "ProductViewDetail":{
          "shape":"ProductViewDetail",
          "documentation":"<p>Information about the product view.</p>"
        },
        "ProvisioningArtifactDetail":{
          "shape":"ProvisioningArtifactDetail",
          "documentation":"<p>Information about the provisioning artifact. </p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>Information about the tags associated with the product.</p>"
        }
      }
    },
    "CreateProvisionedProductPlanInput":{
      "type":"structure",
      "required":[
        "PlanName",
        "PlanType",
        "ProductId",
        "ProvisionedProductName",
        "ProvisioningArtifactId",
        "IdempotencyToken"
      ],
      "members":{
        "AcceptLanguage":{
          "shape":"AcceptLanguage",
          "documentation":"<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "PlanName":{
          "shape":"ProvisionedProductPlanName",
          "documentation":"<p>The name of the plan.</p>"
        },
        "PlanType":{
          "shape":"ProvisionedProductPlanType",
          "documentation":"<p>The plan type.</p>"
        },
        "NotificationArns":{
          "shape":"NotificationArns",
          "documentation":"<p>Passed to CloudFormation. The SNS topic ARNs to which to publish stack-related events.</p>"
        },
        "PathId":{
          "shape":"Id",
          "documentation":"<p>The path identifier of the product. This value is optional if the product has a default path, and required if the product has more than one path. To list the paths for a product, use <a>ListLaunchPaths</a>.</p>"
        },
        "ProductId":{
          "shape":"Id",
          "documentation":"<p>The product identifier.</p>"
        },
        "ProvisionedProductName":{
          "shape":"ProvisionedProductName",
          "documentation":"<p>A user-friendly name for the provisioned product. This value must be unique for the Amazon Web Services account and cannot be updated after the product is provisioned.</p>"
        },
        "ProvisioningArtifactId":{
          "shape":"Id",
          "documentation":"<p>The identifier of the provisioning artifact.</p>"
        },
        "ProvisioningParameters":{
          "shape":"UpdateProvisioningParameters",
          "documentation":"<p>Parameters specified by the administrator that are required for provisioning the product.</p>"
        },
        "IdempotencyToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique identifier that you provide to ensure idempotency. If multiple requests differ only by the idempotency token, the same response is returned for each repeated request.</p>",
          "idempotencyToken":true
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>One or more tags.</p> <p>If the plan is for an existing provisioned product, the product must have a <code>RESOURCE_UPDATE</code> constraint with <code>TagUpdatesOnProvisionedProduct</code> set to <code>ALLOWED</code> to allow tag updates.</p>"
        }
      }
    },
    "CreateProvisionedProductPlanOutput":{
      "type":"structure",
      "members":{
        "PlanName":{
          "shape":"ProvisionedProductPlanName",
          "documentation":"<p>The name of the plan.</p>"
        },
        "PlanId":{
          "shape":"Id",
          "documentation":"<p>The plan identifier.</p>"
        },
        "ProvisionProductId":{
          "shape":"Id",
          "documentation":"<p>The product identifier.</p>"
        },
        "ProvisionedProductName":{
          "shape":"ProvisionedProductName",
          "documentation":"<p>The user-friendly name of the provisioned product.</p>"
        },
        "ProvisioningArtifactId":{
          "shape":"Id",
          "documentation":"<p>The identifier of the provisioning artifact.</p>"
        }
      }
    },
    "CreateProvisioningArtifactInput":{
      "type":"structure",
      "required":[
        "ProductId",
        "Parameters",
        "IdempotencyToken"
      ],
      "members":{
        "AcceptLanguage":{
          "shape":"AcceptLanguage",
          "documentation":"<p>The language code.</p> <ul> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>"
        },
        "ProductId":{
          "shape":"Id",
          "documentation":"<p>The product identifier.</p>"
        },
        "Parameters":{
          "shape":"ProvisioningArtifactProperties",
          "documentation":"<p>The configuration for the provisioning artifact.</p>"
        },
        "IdempotencyToken":{
          "shape":"IdempotencyToken",
          "documentation":"<p>A unique identifier that you provide to ensure idempotency. If multiple requests differ only by the idempotency token, the same response is returned for each repeated request.</p>",
          "idempotencyToken":true
        }
      }
    },
    "CreateProvisioningArtifactOutput":{
      "type":"structure",
      "members":{
        "ProvisioningArtifactDetail":{
          "shape":"ProvisioningArtifactDetail",
          "documentation":"<p>Information about the provisioning artifact.</p>"
        },
        "Info":{
          "shape":"ProvisioningArtifactInfo",
          "documentation":"<p>Specify the template source with one of the following options, but not both. Keys accepted: [ <code>LoadTemplateFromURL</code>, <code>ImportFromPhysicalId</code> ].</p> <p>Use the URL of the CloudFormation template in Amazon S3 or GitHub in JSON format. </p> <p> <code>LoadTemplateFromURL</code> </p> <p>Use the URL of the CloudFormation template in Amazon S3 or GitHub in JSON format.</p> <p> <code>ImportFromPhysicalId</code> </p> <p>Use the physical id of the resource that contains the template; currently supports CloudFormation stack ARN.</p>"
        },
        "Status":{
          "shape":"Status",
          "documentation":"<p>The status of the current request.</p>"
        }
      }
    },
    "CreateServiceActionInput":{
      "type":"structure",
      "required":[
        "Name",
        "DefinitionType",
[...]
