//
// Modules: Mixins, variables, and utilities
// --------------------------------------------------

@import "modules/variables";
@import "modules/mixins";
@import "modules/icons";
@import "modules/animations";


//
// Libraries: Code by other Homies
// --------------------------------------------------

@import "../../../../bower_components/normalize-scss/_normalize"; // via Bower
@import "vendor/nprogress";
@import "vendor/codemirror";
@import "vendor/nanoscroller";


//
// Patterns: Groups of Styles
// --------------------------------------------------

@import "patterns/global";
@import "patterns/_shame"; // TODO: Remove
@import "patterns/forms";
@import "patterns/buttons";
@import "patterns/labels";
@import "patterns/tables";
@import "patterns/navlist";


//
// Components: Groups of Patterns
// --------------------------------------------------

@import "components/navigation";
@import "components/modals";
@import "components/notifications";
@import "components/uploader";
@import "components/splitbuttons";
@import "components/dropdowns";
@import "components/pagination";
@import "components/badges";
@import "components/popovers";
@import "components/settings-menu";
@import "components/url-preview";


//
// Layouts: Groups of Components
// --------------------------------------------------

@import "layouts/default";
@import "layouts/setup";
@import "layouts/auth";
@import "layouts/content";
@import "layouts/editor";
@import "layouts/settings";
@import "layouts/users";
@import "layouts/user";
@import "layouts/about";
@import "layouts/tags";
@import "layouts/error";