/* Icon fill colors
/* -------------------------------------------------------- */
.filter-invert      {  filter: invert(100%);  }

.fill-blue path,
.fill-blue g { fill: var(--blue); }
.fill-green path,
.fill-green g { fill: var(--green); }
.fill-purple path,
.fill-purple g { fill: var(--purple); }
.fill-yellow path,
.fill-yellow g { fill: var(--yellow); }
.fill-red path,
.fill-red g { fill: var(--red); }
.fill-pink path,
.fill-pink g { fill: var(--pink); }
.fill-white path,
.fill-white g { fill: var(--white); }

.fill-white-10 path,
.fill-white-10 g { fill: var(--white-10); }
.fill-white-20 path,
.fill-white-20 g { fill: var(--white-20); }
.fill-white-30 path,
.fill-white-30 g { fill: var(--white-30); }
.fill-white-40 path,
.fill-white-40 g { fill: var(--white-40); }
.fill-white-50 path,
.fill-white-50 g { fill: var(--white-50); }
.fill-white-60 path,
.fill-white-60 g { fill: var(--white-60); }
.fill-white-70 path,
.fill-white-70 g { fill: var(--white-70); }
.fill-white-80 path,
.fill-white-80 g { fill: var(--white-80); }
.fill-white-90 path,
.fill-white-90 g { fill: var(--white-90); }

.fill-black-10 path,
.fill-black-10 g { fill: var(--black-10); }
.fill-black-20 path,
.fill-black-20 g { fill: var(--black-20); }
.fill-black-30 path,
.fill-black-30 g { fill: var(--black-30); }
.fill-black-40 path,
.fill-black-40 g { fill: var(--black-40); }
.fill-black-50 path,
.fill-black-50 g { fill: var(--black-50); }
.fill-black-60 path,
.fill-black-60 g { fill: var(--black-60); }
.fill-black-70 path,
.fill-black-70 g { fill: var(--black-70); }
.fill-black-80 path,
.fill-black-80 g { fill: var(--black-80); }
.fill-black-90 path,
.fill-black-90 g { fill: var(--black-90); }

.fill-darkgrey path,
.fill-darkgrey g { fill: var(--darkgrey); }
.fill-middarkgrey path,
.fill-middarkgrey g { fill: var(--middarkgrey); }
.fill-midgrey path,
.fill-midgrey g { fill: var(--midgrey); }
.fill-midlightgrey path,
.fill-midlightgrey g { fill: var(--midlightgrey); }
.fill-lightgrey path,
.fill-lightgrey g { fill: var(--lightgrey); }
.fill-whitegrey path,
.fill-whitegrey g { fill: var(--whitegrey); }

/* Shades */
.fill-blue-p3 path,
.fill-blue-p3 g { fill: var(--blue-p3); }
.fill-blue-p2 path,
.fill-blue-p2 g { fill: var(--blue-p2); }
.fill-blue-p1 path,
.fill-blue-p1 g { fill: var(--blue-p1); }
.fill-blue-m1 path,
.fill-blue-m1 g { fill: var(--blue-m1); }
.fill-blue-m2 path,
.fill-blue-m2 g { fill: var(--blue-m2); }
.fill-blue-m3 path,
.fill-blue-m3 g { fill: var(--blue-m3); }

.fill-green-p3 path,
.fill-green-p3 g { fill: var(--green-p3); }
.fill-green-p2 path,
.fill-green-p2 g { fill: var(--green-p2); }
.fill-green-p1 path,
.fill-green-p1 g { fill: var(--green-p1); }
.fill-green-m1 path,
.fill-green-m1 g { fill: var(--green-m1); }
.fill-green-m2 path,
.fill-green-m2 g { fill: var(--green-m2); }
.fill-green-m3 path,
.fill-green-m3 g { fill: var(--green-m3); }

.fill-purple-p3 path,
.fill-purple-p3 g { fill: var(--purple-p3); }
.fill-purple-p2 path,
.fill-purple-p2 g { fill: var(--purple-p2); }
.fill-purple-p1 path,
.fill-purple-p1 g { fill: var(--purple-p1); }
.fill-purple-m1 path,
.fill-purple-m1 g { fill: var(--purple-m1); }
.fill-purple-m2 path,
.fill-purple-m2 g { fill: var(--purple-m2); }
.fill-purple-m3 path,
.fill-purple-m3 g { fill: var(--purple-m3); }

.fill-yellow-p3 path,
.fill-yellow-p3 g { fill: var(--yellow-p3); }
.fill-yellow-p2 path,
.fill-yellow-p2 g { fill: var(--yellow-p2); }
.fill-yellow-p1 path,
.fill-yellow-p1 g { fill: var(--yellow-p1); }
.fill-yellow-m1 path,
.fill-yellow-m1 g { fill: var(--yellow-m1); }
.fill-yellow-m2 path,
.fill-yellow-m2 g { fill: var(--yellow-m2); }
.fill-yellow-m3 path,
.fill-yellow-m3 g { fill: var(--yellow-m3); }

.fill-red-p3 path,
.fill-red-p3 g { fill: var(--red-p3); }
.fill-red-p2 path,
.fill-red-p2 g { fill: var(--red-p2); }
.fill-red-p1 path,
.fill-red-p1 g { fill: var(--red-p1); }
.fill-red-m1 path,
.fill-red-m1 g { fill: var(--red-m1); }
.fill-red-m2 path,
.fill-red-m2 g { fill: var(--red-m2); }
.fill-red-m3 path,
.fill-red-m3 g { fill: var(--red-m3); }

.fill-pink-p3 path,
.fill-pink-p3 g { fill: var(--pink-p3); }
.fill-pink-p2 path,
.fill-pink-p2 g { fill: var(--pink-p2); }
.fill-pink-p1 path,
.fill-pink-p1 g { fill: var(--pink-p1); }
.fill-pink-m1 path,
.fill-pink-m1 g { fill: var(--pink-m1); }
.fill-pink-m2 path,
.fill-pink-m2 g { fill: var(--pink-m2); }
.fill-pink-m3 path,
.fill-pink-m3 g { fill: var(--pink-m3); }

.fill-darkgrey-p2 path,
.fill-darkgrey-p2 g { fill: var(--darkgrey-p2); }
.fill-darkgrey-p1 path,
.fill-darkgrey-p1 g { fill: var(--darkgrey-p1); }
.fill-darkgrey-m1 path,
.fill-darkgrey-m1 g { fill: var(--darkgrey-m1); }
.fill-darkgrey-m2 path,
.fill-darkgrey-m2 g { fill: var(--darkgrey-m2); }

.fill-middarkgrey-p2 path,
.fill-middarkgrey-p2 g { fill: var(--middarkgrey-p2); }
.fill-middarkgrey-p1 path,
.fill-middarkgrey-p1 g { fill: var(--middarkgrey-p1); }
.fill-middarkgrey-m1 path,
.fill-middarkgrey-m1 g { fill: var(--middarkgrey-m1); }
.fill-middarkgrey-m2 path,
.fill-middarkgrey-m2 g { fill: var(--middarkgrey-m2); }

.fill-midgrey-p2 path,
.fill-midgrey-p2 g { fill: var(--midgrey-p2); }
.fill-midgrey-p1 path,
.fill-midgrey-p1 g { fill: var(--midgrey-p1); }
.fill-midgrey-m1 path,
.fill-midgrey-m1 g { fill: var(--midgrey-m1); }
.fill-midgrey-m2 path,
.fill-midgrey-m2 g { fill: var(--midgrey-m2); }

.fill-midlightgrey-p2 path,
.fill-midlightgrey-p2 g { fill: var(--midlightgrey-p2); }
.fill-midlightgrey-p1 path,
.fill-midlightgrey-p1 g { fill: var(--midlightgrey-p1); }
.fill-midlightgrey-m1 path,
.fill-midlightgrey-m1 g { fill: var(--midlightgrey-m1); }
.fill-midlightgrey-m2 path,
.fill-midlightgrey-m2 g { fill: var(--midlightgrey-m2); }

.fill-lightgrey-p2 path,
.fill-lightgrey-p2 g { fill: var(--lightgrey-p2); }
.fill-lightgrey-p1 path,
.fill-lightgrey-p1 g { fill: var(--lightgrey-p1); }
.fill-lightgrey-m1 path,
.fill-lightgrey-m1 g { fill: var(--lightgrey-m1); }
.fill-lightgrey-m2 path,
.fill-lightgrey-m2 g { fill: var(--lightgrey-m2); }

.fill-whitegrey-p2 path,
.fill-whitegrey-p2 g { fill: var(--whitegrey-p2); }
.fill-whitegrey-p1 path,
.fill-whitegrey-p1 g { fill: var(--whitegrey-p1); }
.fill-whitegrey-m1 path,
.fill-whitegrey-m1 g { fill: var(--whitegrey-m1); }
.fill-whitegrey-m2 path,
.fill-whitegrey-m2 g { fill: var(--whitegrey-m2); }

.fill-color-inherit path,
.fill-color-inherit g { fill: inherit; }

.fill-white path,
.fill-white g       {  fill: var(--white)  }


.stroke-blue path,
.stroke-blue path path,
.stroke-blue g { stroke: var(--blue); }
.stroke-green path,
.stroke-green g { stroke: var(--green); }
.stroke-purple path,
.stroke-purple g { stroke: var(--purple); }
.stroke-yellow path,
.stroke-yellow g { stroke: var(--yellow); }
.stroke-red path,
.stroke-red g { stroke: var(--red); }
.stroke-pink path,
.stroke-pink g { stroke: var(--pink); }
.stroke-white path,
.stroke-white g { stroke: var(--white); }

.stroke-white-10 path,
.stroke-white-10 g { stroke: var(--white-10); }
.stroke-white-20 path,
.stroke-white-20 g { stroke: var(--white-20); }
.stroke-white-30 path,
.stroke-white-30 g { stroke: var(--white-30); }
.stroke-white-40 path,
.stroke-white-40 g { stroke: var(--white-40); }
.stroke-white-50 path,
.stroke-white-50 g { stroke: var(--white-50); }
.stroke-white-60 path,
.stroke-white-60 g { stroke: var(--white-60); }
.stroke-white-70 path,
.stroke-white-70 g { stroke: var(--white-70); }
.stroke-white-80 path,
.stroke-white-80 g { stroke: var(--white-80); }
.stroke-white-90 path,
.stroke-white-90 g { stroke: var(--white-90); }

.stroke-black-10 path,
.stroke-black-10 g { stroke: var(--black-10); }
.stroke-black-20 path,
.stroke-black-20 g { stroke: var(--black-20); }
.stroke-black-30 path,
.stroke-black-30 g { stroke: var(--black-30); }
.stroke-black-40 path,
.stroke-black-40 g { stroke: var(--black-40); }
.stroke-black-50 path,
.stroke-black-50 g { stroke: var(--black-50); }
.stroke-black-60 path,
.stroke-black-60 g { stroke: var(--black-60); }
.stroke-black-70 path,
.stroke-black-70 g { stroke: var(--black-70); }
.stroke-black-80 path,
.stroke-black-80 g { stroke: var(--black-80); }
.stroke-black-90 path,
.stroke-black-90 g { stroke: var(--black-90); }

.stroke-darkgrey path,
.stroke-darkgrey g { stroke: var(--darkgrey); }
.stroke-middarkgrey path,
.stroke-middarkgrey g { stroke: var(--middarkgrey); }
.stroke-midgrey path,
.stroke-midgrey g { stroke: var(--midgrey); }
.stroke-midlightgrey path,
.stroke-midlightgrey g { stroke: var(--midlightgrey); }
.stroke-lightgrey path,
.stroke-lightgrey g { stroke: var(--lightgrey); }
.stroke-whitegrey path,
.stroke-whitegrey g { stroke: var(--whitegrey); }

/* Shades */
.stroke-blue-p3 path,
.stroke-blue-p3 g { stroke: var(--blue-p3); }
.stroke-blue-p2 path,
.stroke-blue-p2 g { stroke: var(--blue-p2); }
.stroke-blue-p1 path,
.stroke-blue-p1 g { stroke: var(--blue-p1); }
.stroke-blue-m1 path,
.stroke-blue-m1 g { stroke: var(--blue-m1); }
.stroke-blue-m2 path,
.stroke-blue-m2 g { stroke: var(--blue-m2); }
.stroke-blue-m3 path,
.stroke-blue-m3 g { stroke: var(--blue-m3); }

.stroke-green-p3 path,
.stroke-green-p3 g { stroke: var(--green-p3); }
.stroke-green-p2 path,
.stroke-green-p2 g { stroke: var(--green-p2); }
.stroke-green-p1 path,
.stroke-green-p1 g { stroke: var(--green-p1); }
.stroke-green-m1 path,
.stroke-green-m1 g { stroke: var(--green-m1); }
.stroke-green-m2 path,
.stroke-green-m2 g { stroke: var(--green-m2); }
.stroke-green-m3 path,
.stroke-green-m3 g { stroke: var(--green-m3); }

.stroke-purple-p3 path,
.stroke-purple-p3 g { stroke: var(--purple-p3); }
.stroke-purple-p2 path,
.stroke-purple-p2 g { stroke: var(--purple-p2); }
.stroke-purple-p1 path,
.stroke-purple-p1 g { stroke: var(--purple-p1); }
.stroke-purple-m1 path,
.stroke-purple-m1 g { stroke: var(--purple-m1); }
.stroke-purple-m2 path,
.stroke-purple-m2 g { stroke: var(--purple-m2); }
.stroke-purple-m3 path,
.stroke-purple-m3 g { stroke: var(--purple-m3); }

.stroke-yellow-p3 path,
.stroke-yellow-p3 g { stroke: var(--yellow-p3); }
.stroke-yellow-p2 path,
.stroke-yellow-p2 g { stroke: var(--yellow-p2); }
.stroke-yellow-p1 path,
.stroke-yellow-p1 g { stroke: var(--yellow-p1); }
.stroke-yellow-m1 path,
.stroke-yellow-m1 g { stroke: var(--yellow-m1); }
.stroke-yellow-m2 path,
.stroke-yellow-m2 g { stroke: var(--yellow-m2); }
.stroke-yellow-m3 path,
.stroke-yellow-m3 g { stroke: var(--yellow-m3); }

.stroke-red-p3 path,
.stroke-red-p3 g { stroke: var(--red-p3); }
.stroke-red-p2 path,
.stroke-red-p2 g { stroke: var(--red-p2); }
.stroke-red-p1 path,
.stroke-red-p1 g { stroke: var(--red-p1); }
.stroke-red-m1 path,
.stroke-red-m1 g { stroke: var(--red-m1); }
.stroke-red-m2 path,
.stroke-red-m2 g { stroke: var(--red-m2); }
.stroke-red-m3 path,
.stroke-red-m3 g { stroke: var(--red-m3); }

.stroke-pink-p3 path,
.stroke-pink-p3 g { stroke: var(--pink-p3); }
.stroke-pink-p2 path,
.stroke-pink-p2 g { stroke: var(--pink-p2); }
.stroke-pink-p1 path,
.stroke-pink-p1 g { stroke: var(--pink-p1); }
.stroke-pink-m1 path,
.stroke-pink-m1 g { stroke: var(--pink-m1); }
.stroke-pink-m2 path,
.stroke-pink-m2 g { stroke: var(--pink-m2); }
.stroke-pink-m3 path,
.stroke-pink-m3 g { stroke: var(--pink-m3); }

.stroke-darkgrey-p2 path,
.stroke-darkgrey-p2 g { stroke: var(--darkgrey-p2); }
.stroke-darkgrey-p1 path,
.stroke-darkgrey-p1 g { stroke: var(--darkgrey-p1); }
.stroke-darkgrey-m1 path,
.stroke-darkgrey-m1 g { stroke: var(--darkgrey-m1); }
.stroke-darkgrey-m2 path,
.stroke-darkgrey-m2 g { stroke: var(--darkgrey-m2); }

.stroke-middarkgrey-p2 path,
.stroke-middarkgrey-p2 g { stroke: var(--middarkgrey-p2); }
.stroke-middarkgrey-p1 path,
.stroke-middarkgrey-p1 g { stroke: var(--middarkgrey-p1); }
.stroke-middarkgrey-m1 path,
.stroke-middarkgrey-m1 g { stroke: var(--middarkgrey-m1); }
.stroke-middarkgrey-m2 path,
.stroke-middarkgrey-m2 g { stroke: var(--middarkgrey-m2); }

.stroke-midgrey-p2 path,
.stroke-midgrey-p2 g { stroke: var(--midgrey-p2); }
.stroke-midgrey-p1 path,
.stroke-midgrey-p1 g { stroke: var(--midgrey-p1); }
.stroke-midgrey-m1 path,
.stroke-midgrey-m1 g { stroke: var(--midgrey-m1); }
.stroke-midgrey-m2 path,
.stroke-midgrey-m2 g { stroke: var(--midgrey-m2); }

.stroke-midlightgrey-p2 path,
.stroke-midlightgrey-p2 g { stroke: var(--midlightgrey-p2); }
.stroke-midlightgrey-p1 path,
.stroke-midlightgrey-p1 g { stroke: var(--midlightgrey-p1); }
.stroke-midlightgrey-m1 path,
.stroke-midlightgrey-m1 g { stroke: var(--midlightgrey-m1); }
.stroke-midlightgrey-m2 path,
.stroke-midlightgrey-m2 g { stroke: var(--midlightgrey-m2); }

.stroke-lightgrey-p2 path,
.stroke-lightgrey-p2 g { stroke: var(--lightgrey-p2); }
.stroke-lightgrey-p1 path,
.stroke-lightgrey-p1 g { stroke: var(--lightgrey-p1); }
.stroke-lightgrey-m1 path,
.stroke-lightgrey-m1 g { stroke: var(--lightgrey-m1); }
.stroke-lightgrey-m2 path,
.stroke-lightgrey-m2 g { stroke: var(--lightgrey-m2); }

.stroke-whitegrey-p2 path,
.stroke-whitegrey-p2 g { stroke: var(--whitegrey-p2); }
.stroke-whitegrey-p1 path,
.stroke-whitegrey-p1 g { stroke: var(--whitegrey-p1); }
.stroke-whitegrey-m1 path,
.stroke-whitegrey-m1 g { stroke: var(--whitegrey-m1); }
.stroke-whitegrey-m2 path,
.stroke-whitegrey-m2 g { stroke: var(--whitegrey-m2); }

.stroke-color-inherit path,
.stroke-color-inherit g { stroke: inherit; }

.stroke-white path,
.stroke-white g       {  stroke: var(--white)  }


/* Custom icon sizes
/* -------------------------------------------------------- */
.ih1 { height: .8rem;  }
.iw1 { width: .8rem;  }
.ih2 { height: 1.2rem;  }
.iw2 { width: 1.2rem;  }
.ih3 { height: 1.6rem;  }
.iw3 { width: 1.6rem;  }
.ih4 { height: 2.0rem;  }
.iw4 { width: 2.0rem;  }
.ih5 { height: 2.4rem;  }
.iw5 { width: 2.4rem;  }
.ih6 { height: 3.2rem;  }
.iw6 { width: 3.2rem;  }


@media (--breakpoint-not-small) {
    .ih1-ns { height: .8rem;  }
    .iw1-ns { width: .8rem;  }
    .ih2-ns { height: 1.2rem;  }
    .iw2-ns { width: 1.2rem;  }
    .ih3-ns { height: 1.6rem;  }
    .iw3-ns { width: 1.6rem;  }
    .ih4-ns { height: 2.0rem;  }
    .iw4-ns { width: 2.0rem;  }
    .ih5-ns { height: 2.4rem;  }
    .iw5-ns { width: 2.4rem;  }
    .ih6-ns { height: 3.2rem;  }
    .iw6-ns { width: 3.2rem;  }
}

@media (--breakpoint-medium) {
    .ih1-m { height: .8rem;  }
    .iw1-m { width: .8rem;  }
    .ih2-m { height: 1.2rem;  }
    .iw2-m { width: 1.2rem;  }
    .ih3-m { height: 1.6rem;  }
    .iw3-m { width: 1.6rem;  }
    .ih4-m { height: 2.0rem;  }
    .iw4-m { width: 2.0rem;  }
    .ih5-m { height: 2.4rem;  }
    .iw5-m { width: 2.4rem;  }
    .ih6-m { height: 3.2rem;  }
    .iw6-m { width: 3.2rem;  }
}

@media (--breakpoint-large) {
    .ih1-l { height: .8rem;  }
    .iw1-l { width: .8rem;  }
    .ih2-l { height: 1.2rem;  }
    .iw2-l { width: 1.2rem;  }
    .ih3-l { height: 1.6rem;  }
    .iw3-l { width: 1.6rem;  }
    .ih4-l { height: 2.0rem;  }
    .iw4-l { width: 2.0rem;  }
    .ih5-l { height: 2.4rem;  }
    .iw5-l { width: 2.4rem;  }
    .ih6-l { height: 3.2rem;  }
    .iw6-l { width: 3.2rem;  }
}
