/*
    Variables

    Remember, these variables are set to work with a 62.5% font-size base on
    the HTML element. That means 1rem = 10px;
*/

:root {
  --spacing-none: 0;
  --spacing-extra-small: .5rem;
  --spacing-small: 1rem;
  --spacing-medium: 2rem;
  --spacing-large: 3rem;
  --spacing-xl: 4rem;
  --spacing-xxl: 5rem;
  --spacing-xxxl: 6rem;
  --spacing-xxxxl: 10rem;
  --spacing-xxxxxl: 16rem;

  --spacing-vw-extra-small: 2vw;
  --spacing-vw-small: 3vw;
  --spacing-vw-medium: 4vw;
  --spacing-vw-large: 6vw;
  --spacing-vw-xl: 8vw;
  --spacing-vw-xxl: 12vw;
  --spacing-vw-xxxl: 15vw;
  --spacing-vw-xxxxl: 20vw;
}

/*


   SPACING
   Docs: http://tachyons.io/docs/layout/spacing/

   An eight step powers of two scale ranging from 0 to 16rem.

   Base:
     p = padding
     m = margin

   Modifiers:
     a = all
     t = top
     r = right
     b = bottom
     l = left

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/


.pa0 { padding: var(--spacing-none); }
.pa1 { padding: var(--spacing-extra-small); }
.pa2 { padding: var(--spacing-small); }
.pa3 { padding: var(--spacing-medium); }
.pa4 { padding: var(--spacing-large); }
.pa5 { padding: var(--spacing-xl); }
.pa6 { padding: var(--spacing-xxl); }
.pa7 { padding: var(--spacing-xxxl); }
.pa8 { padding: var(--spacing-xxxxl); }
.pa9 { padding: var(--spacing-xxxxxl); }

.pa-vw1 { padding: var(--spacing-vw-extra-small); }
.pa-vw2 { padding: var(--spacing-vw-small); }
.pa-vw3 { padding: var(--spacing-vw-medium); }
.pa-vw4 { padding: var(--spacing-vw-large); }
.pa-vw5 { padding: var(--spacing-vw-xl); }
.pa-vw6 { padding: var(--spacing-vw-xxl); }
.pa-vw7 { padding: var(--spacing-vw-xxxl); }
.pa-vw8 { padding: var(--spacing-vw-xxxxl); }

.pl0 { padding-left: var(--spacing-none); }
.pl1 { padding-left: var(--spacing-extra-small); }
.pl2 { padding-left: var(--spacing-small); }
.pl3 { padding-left: var(--spacing-medium); }
.pl4 { padding-left: var(--spacing-large); }
.pl5 { padding-left: var(--spacing-xl); }
.pl6 { padding-left: var(--spacing-xxl); }
.pl7 { padding-left: var(--spacing-xxxl); }
.pl8 { padding-left: var(--spacing-xxxxl); }
.pl9 { padding-left: var(--spacing-xxxxxl); }

.pl-vw1 { padding-left: var(--spacing-vw-extra-small); }
.pl-vw2 { padding-left: var(--spacing-vw-small); }
.pl-vw3 { padding-left: var(--spacing-vw-medium); }
.pl-vw4 { padding-left: var(--spacing-vw-large); }
.pl-vw5 { padding-left: var(--spacing-vw-xl); }
.pl-vw6 { padding-left: var(--spacing-vw-xxl); }
.pl-vw7 { padding-left: var(--spacing-vw-xxxl); }
.pl-vw8 { padding-left: var(--spacing-vw-xxxxl); }

.pr0 { padding-right: var(--spacing-none); }
.pr1 { padding-right: var(--spacing-extra-small); }
.pr2 { padding-right: var(--spacing-small); }
.pr3 { padding-right: var(--spacing-medium); }
.pr4 { padding-right: var(--spacing-large); }
.pr5 { padding-right: var(--spacing-xl); }
.pr6 { padding-right: var(--spacing-xxl); }
.pr7 { padding-right: var(--spacing-xxxl); }
.pr8 { padding-right: var(--spacing-xxxxl); }
.pr9 { padding-right: var(--spacing-xxxxxl); }

.pr-vw1 { padding-right: var(--spacing-vw-extra-small); }
.pr-vw2 { padding-right: var(--spacing-vw-small); }
.pr-vw3 { padding-right: var(--spacing-vw-medium); }
.pr-vw4 { padding-right: var(--spacing-vw-large); }
.pr-vw5 { padding-right: var(--spacing-vw-xl); }
.pr-vw6 { padding-right: var(--spacing-vw-xxl); }
.pr-vw7 { padding-right: var(--spacing-vw-xxxl); }
.pr-vw8 { padding-right: var(--spacing-vw-xxxxl); }

.pb0 { padding-bottom: var(--spacing-none); }
.pb1 { padding-bottom: var(--spacing-extra-small); }
.pb2 { padding-bottom: var(--spacing-small); }
.pb3 { padding-bottom: var(--spacing-medium); }
.pb4 { padding-bottom: var(--spacing-large); }
.pb5 { padding-bottom: var(--spacing-xl); }
.pb6 { padding-bottom: var(--spacing-xxl); }
.pb7 { padding-bottom: var(--spacing-xxxl); }
.pb8 { padding-bottom: var(--spacing-xxxxl); }
.pb9 { padding-bottom: var(--spacing-xxxxxl); }

.pb-vw1 { padding-bottom: var(--spacing-vw-extra-small); }
.pb-vw2 { padding-bottom: var(--spacing-vw-small); }
.pb-vw3 { padding-bottom: var(--spacing-vw-medium); }
.pb-vw4 { padding-bottom: var(--spacing-vw-large); }
.pb-vw5 { padding-bottom: var(--spacing-vw-xl); }
.pb-vw6 { padding-bottom: var(--spacing-vw-xxl); }
.pb-vw7 { padding-bottom: var(--spacing-vw-xxxl); }
.pb-vw8 { padding-bottom: var(--spacing-vw-xxxxl); }

.pt0 { padding-top: var(--spacing-none); }
.pt1 { padding-top: var(--spacing-extra-small); }
.pt2 { padding-top: var(--spacing-small); }
.pt3 { padding-top: var(--spacing-medium); }
.pt4 { padding-top: var(--spacing-large); }
.pt5 { padding-top: var(--spacing-xl); }
.pt6 { padding-top: var(--spacing-xxl); }
.pt7 { padding-top: var(--spacing-xxxl); }
.pt8 { padding-top: var(--spacing-xxxxl); }
.pt9 { padding-top: var(--spacing-xxxxxl); }

.pt-vw1 { padding-top: var(--spacing-vw-extra-small); }
.pt-vw2 { padding-top: var(--spacing-vw-small); }
.pt-vw3 { padding-top: var(--spacing-vw-medium); }
.pt-vw4 { padding-top: var(--spacing-vw-large); }
.pt-vw5 { padding-top: var(--spacing-vw-xl); }
.pt-vw6 { padding-top: var(--spacing-vw-xxl); }
.pt-vw7 { padding-top: var(--spacing-vw-xxxl); }
.pt-vw8 { padding-top: var(--spacing-vw-xxxxl); }

.ma0 {  margin: var(--spacing-none); }
.ma1 {  margin: var(--spacing-extra-small); }
.ma2 {  margin: var(--spacing-small); }
.ma3 {  margin: var(--spacing-medium); }
.ma4 {  margin: var(--spacing-large); }
.ma5 {  margin: var(--spacing-xl); }
.ma6 {  margin: var(--spacing-xxl); }
.ma7 { margin: var(--spacing-xxxl); }
.ma8 {  margin: var(--spacing-xxxxl); }
.ma9 { margin: var(--spacing-xxxxxl); }

.ma-vw1 { margin: var(--spacing-vw-extra-small); }
.ma-vw2 { margin: var(--spacing-vw-small); }
.ma-vw3 { margin: var(--spacing-vw-medium); }
.ma-vw4 { margin: var(--spacing-vw-large); }
.ma-vw5 { margin: var(--spacing-vw-xl); }
.ma-vw6 { margin: var(--spacing-vw-xxl); }
.ma-vw7 { margin: var(--spacing-vw-xxxl); }
.ma-vw8 { margin: var(--spacing-vw-xxxxl); }

.ml0 {  margin-left: var(--spacing-none); }
.ml1 {  margin-left: var(--spacing-extra-small); }
.ml2 {  margin-left: var(--spacing-small); }
.ml3 {  margin-left: var(--spacing-medium); }
.ml4 {  margin-left: var(--spacing-large); }
.ml5 {  margin-left: var(--spacing-xl); }
.ml6 {  margin-left: var(--spacing-xxl); }
.ml7 { margin-left: var(--spacing-xxxl); }
.ml8 {  margin-left: var(--spacing-xxxxl); }
.ml9 { margin-left: var(--spacing-xxxxxl); }

.ml-vw1 { margin-left: var(--spacing-vw-extra-small); }
.ml-vw2 { margin-left: var(--spacing-vw-small); }
.ml-vw3 { margin-left: var(--spacing-vw-medium); }
.ml-vw4 { margin-left: var(--spacing-vw-large); }
.ml-vw5 { margin-left: var(--spacing-vw-xl); }
.ml-vw6 { margin-left: var(--spacing-vw-xxl); }
.ml-vw7 { margin-left: var(--spacing-vw-xxxl); }
.ml-vw8 { margin-left: var(--spacing-vw-xxxxl); }

.mr0 {  margin-right: var(--spacing-none); }
.mr1 {  margin-right: var(--spacing-extra-small); }
.mr2 {  margin-right: var(--spacing-small); }
.mr3 {  margin-right: var(--spacing-medium); }
.mr4 {  margin-right: var(--spacing-large); }
.mr5 {  margin-right: var(--spacing-xl); }
.mr6 {  margin-right: var(--spacing-xxl); }
.mr7 { margin-right: var(--spacing-xxxl); }
.mr8 {  margin-right: var(--spacing-xxxxl); }
.mr9 { margin-right: var(--spacing-xxxxxl); }

.mr-vw1 { margin-right: var(--spacing-vw-extra-small); }
.mr-vw2 { margin-right: var(--spacing-vw-small); }
.mr-vw3 { margin-right: var(--spacing-vw-medium); }
.mr-vw4 { margin-right: var(--spacing-vw-large); }
.mr-vw5 { margin-right: var(--spacing-vw-xl); }
.mr-vw6 { margin-right: var(--spacing-vw-xxl); }
.mr-vw7 { margin-right: var(--spacing-vw-xxxl); }
.mr-vw8 { margin-right: var(--spacing-vw-xxxxl); }

.mb0 {  margin-bottom: var(--spacing-none); }
.mb1 {  margin-bottom: var(--spacing-extra-small); }
.mb2 {  margin-bottom: var(--spacing-small); }
.mb3 {  margin-bottom: var(--spacing-medium); }
.mb4 {  margin-bottom: var(--spacing-large); }
.mb5 {  margin-bottom: var(--spacing-xl); }
.mb6 {  margin-bottom: var(--spacing-xxl); }
.mb7 { margin-bottom: var(--spacing-xxxl); }
.mb8 {  margin-bottom: var(--spacing-xxxxl); }
.mb9 { margin-bottom: var(--spacing-xxxxxl); }

.mb-vw1 { margin-bottom: var(--spacing-vw-extra-small); }
.mb-vw2 { margin-bottom: var(--spacing-vw-small); }
.mb-vw3 { margin-bottom: var(--spacing-vw-medium); }
.mb-vw4 { margin-bottom: var(--spacing-vw-large); }
.mb-vw5 { margin-bottom: var(--spacing-vw-xl); }
.mb-vw6 { margin-bottom: var(--spacing-vw-xxl); }
.mb-vw7 { margin-bottom: var(--spacing-vw-xxxl); }
.mb-vw8 { margin-bottom: var(--spacing-vw-xxxxl); }

.mt0 {  margin-top: var(--spacing-none); }
.mt1 {  margin-top: var(--spacing-extra-small); }
.mt2 {  margin-top: var(--spacing-small); }
.mt3 {  margin-top: var(--spacing-medium); }
.mt4 {  margin-top: var(--spacing-large); }
.mt5 {  margin-top: var(--spacing-xl); }
.mt6 {  margin-top: var(--spacing-xxl); }
.mt7 { margin-top: var(--spacing-xxxl); }
.mt8 {  margin-top: var(--spacing-xxxxl); }
.mt9 { margin-top: var(--spacing-xxxxxl); }

.mt-vw1 { margin-top: var(--spacing-vw-extra-small); }
.mt-vw2 { margin-top: var(--spacing-vw-small); }
.mt-vw3 { margin-top: var(--spacing-vw-medium); }
.mt-vw4 { margin-top: var(--spacing-vw-large); }
.mt-vw5 { margin-top: var(--spacing-vw-xl); }
.mt-vw6 { margin-top: var(--spacing-vw-xxl); }
.mt-vw7 { margin-top: var(--spacing-vw-xxxl); }
.mt-vw8 { margin-top: var(--spacing-vw-xxxxl); }

@media (--breakpoint-not-small) {
    .pa0-ns { padding: var(--spacing-none); }
    .pa1-ns { padding: var(--spacing-extra-small); }
    .pa2-ns { padding: var(--spacing-small); }
    .pa3-ns { padding: var(--spacing-medium); }
    .pa4-ns { padding: var(--spacing-large); }
    .pa5-ns { padding: var(--spacing-xl); }
    .pa6-ns { padding: var(--spacing-xxl); }
    .pa7-ns { padding: var(--spacing-xxxl); }
    .pa8-ns { padding: var(--spacing-xxxxl); }
    .pa9-ns { padding: var(--spacing-xxxxxl); }

    .pr-vw1-ns { padding-right: var(--spacing-vw-extra-small); }
    .pr-vw2-ns { padding-right: var(--spacing-vw-small); }
    .pr-vw3-ns { padding-right: var(--spacing-vw-medium); }
    .pr-vw4-ns { padding-right: var(--spacing-vw-large); }
    .pr-vw5-ns { padding-right: var(--spacing-vw-xl); }
    .pr-vw6-ns { padding-right: var(--spacing-vw-xxl); }
    .pr-vw7-ns { padding-right: var(--spacing-vw-xxxl); }
    .pr-vw8-ns { padding-right: var(--spacing-vw-xxxxl); }

    .pl0-ns { padding-left: var(--spacing-none); }
    .pl1-ns { padding-left: var(--spacing-extra-small); }
    .pl2-ns { padding-left: var(--spacing-small); }
    .pl3-ns { padding-left: var(--spacing-medium); }
    .pl4-ns { padding-left: var(--spacing-large); }
    .pl5-ns { padding-left: var(--spacing-xl); }
    .pl6-ns { padding-left: var(--spacing-xxl); }
    .pl7-ns { padding-left: var(--spacing-xxxl); }
    .pl8-ns { padding-left: var(--spacing-xxxxl); }
    .pl9-ns { padding-left: var(--spacing-xxxxxl); }

    .pl-vw1-ns { padding-left: var(--spacing-vw-extra-small); }
    .pl-vw2-ns { padding-left: var(--spacing-vw-small); }
    .pl-vw3-ns { padding-left: var(--spacing-vw-medium); }
    .pl-vw4-ns { padding-left: var(--spacing-vw-large); }
    .pl-vw5-ns { padding-left: var(--spacing-vw-xl); }
    .pl-vw6-ns { padding-left: var(--spacing-vw-xxl); }
    .pl-vw7-ns { padding-left: var(--spacing-vw-xxxl); }
    .pl-vw8-ns { padding-left: var(--spacing-vw-xxxxl); }

    .pr0-ns { padding-right: var(--spacing-none); }
    .pr1-ns { padding-right: var(--spacing-extra-small); }
    .pr2-ns { padding-right: var(--spacing-small); }
    .pr3-ns { padding-right: var(--spacing-medium); }
    .pr4-ns { padding-right: var(--spacing-large); }
    .pr5-ns { padding-right: var(--spacing-xl); }
    .pr6-ns { padding-right: var(--spacing-xxl); }
    .pr7-ns { padding-right: var(--spacing-xxxl); }
    .pr8-ns { padding-right: var(--spacing-xxxxl); }
    .pr9-ns { padding-right: var(--spacing-xxxxxl); }

    .pr-vw1-ns { padding-right: var(--spacing-vw-extra-small); }
    .pr-vw2-ns { padding-right: var(--spacing-vw-small); }
    .pr-vw3-ns { padding-right: var(--spacing-vw-medium); }
    .pr-vw4-ns { padding-right: var(--spacing-vw-large); }
    .pr-vw5-ns { padding-right: var(--spacing-vw-xl); }
    .pr-vw6-ns { padding-right: var(--spacing-vw-xxl); }
    .pr-vw7-ns { padding-right: var(--spacing-vw-xxxl); }
    .pr-vw8-ns { padding-right: var(--spacing-vw-xxxxl); }

    .pb0-ns { padding-bottom: var(--spacing-none); }
    .pb1-ns { padding-bottom: var(--spacing-extra-small); }
    .pb2-ns { padding-bottom: var(--spacing-small); }
    .pb3-ns { padding-bottom: var(--spacing-medium); }
    .pb4-ns { padding-bottom: var(--spacing-large); }
    .pb5-ns { padding-bottom: var(--spacing-xl); }
    .pb6-ns { padding-bottom: var(--spacing-xxl); }
    .pb7-ns { padding-bottom: var(--spacing-xxxl); }
    .pb8-ns { padding-bottom: var(--spacing-xxxxl); }
    .pb9-ns { padding-bottom: var(--spacing-xxxxxl); }

    .pb-vw1-ns { padding-bottom: var(--spacing-vw-extra-small); }
    .pb-vw2-ns { padding-bottom: var(--spacing-vw-small); }
    .pb-vw3-ns { padding-bottom: var(--spacing-vw-medium); }
    .pb-vw4-ns { padding-bottom: var(--spacing-vw-large); }
    .pb-vw5-ns { padding-bottom: var(--spacing-vw-xl); }
    .pb-vw6-ns { padding-bottom: var(--spacing-vw-xxl); }
    .pb-vw7-ns { padding-bottom: var(--spacing-vw-xxxl); }
    .pb-vw8-ns { padding-bottom: var(--spacing-vw-xxxxl); }

    .pt0-ns { padding-top: var(--spacing-none); }
    .pt1-ns { padding-top: var(--spacing-extra-small); }
    .pt2-ns { padding-top: var(--spacing-small); }
    .pt3-ns { padding-top: var(--spacing-medium); }
    .pt4-ns { padding-top: var(--spacing-large); }
    .pt5-ns { padding-top: var(--spacing-xl); }
    .pt6-ns { padding-top: var(--spacing-xxl); }
    .pt7-ns { padding-top: var(--spacing-xxxl); }
    .pt8-ns { padding-top: var(--spacing-xxxxl); }
    .pt9-ns { padding-top: var(--spacing-xxxxxl); }

    .pt-vw1-ns { padding-top: var(--spacing-vw-extra-small); }
    .pt-vw2-ns { padding-top: var(--spacing-vw-small); }
    .pt-vw3-ns { padding-top: var(--spacing-vw-medium); }
    .pt-vw4-ns { padding-top: var(--spacing-vw-large); }
    .pt-vw5-ns { padding-top: var(--spacing-vw-xl); }
    .pt-vw6-ns { padding-top: var(--spacing-vw-xxl); }
    .pt-vw7-ns { padding-top: var(--spacing-vw-xxxl); }
    .pt-vw8-ns { padding-top: var(--spacing-vw-xxxxl); }

    .ma0-ns {  margin: var(--spacing-none); }
    .ma1-ns {  margin: var(--spacing-extra-small); }
    .ma2-ns {  margin: var(--spacing-small); }
    .ma3-ns {  margin: var(--spacing-medium); }
    .ma4-ns {  margin: var(--spacing-large); }
    .ma5-ns {  margin: var(--spacing-xl); }
    .ma6-ns {  margin: var(--spacing-xxl); }
    .ma7-ns { margin: var(--spacing-xxxl); }
    .ma8-ns {  margin: var(--spacing-xxxxl); }
    .ma9-ns { margin: var(--spacing-xxxxxl); }

    .ma-vw1-ns { margin: var(--spacing-vw-extra-small); }
    .ma-vw2-ns { margin: var(--spacing-vw-small); }
    .ma-vw3-ns { margin: var(--spacing-vw-medium); }
    .ma-vw4-ns { margin: var(--spacing-vw-large); }
    .ma-vw5-ns { margin: var(--spacing-vw-xl); }
    .ma-vw6-ns { margin: var(--spacing-vw-xxl); }
    .ma-vw7-ns { margin: var(--spacing-vw-xxxl); }
    .ma-vw8-ns { margin: var(--spacing-vw-xxxxl); }

    .ml0-ns {  margin-left: var(--spacing-none); }
    .ml1-ns {  margin-left: var(--spacing-extra-small); }
    .ml2-ns {  margin-left: var(--spacing-small); }
    .ml3-ns {  margin-left: var(--spacing-medium); }
    .ml4-ns {  margin-left: var(--spacing-large); }
    .ml5-ns {  margin-left: var(--spacing-xl); }
    .ml6-ns {  margin-left: var(--spacing-xxl); }
    .ml7-ns { margin-left: var(--spacing-xxxl); }
    .ml8-ns {  margin-left: var(--spacing-xxxxl); }
    .ml9-ns { margin-left: var(--spacing-xxxxxl); }

    .ml-vw1-ns { margin-left: var(--spacing-vw-extra-small); }
    .ml-vw2-ns { margin-left: var(--spacing-vw-small); }
    .ml-vw3-ns { margin-left: var(--spacing-vw-medium); }
    .ml-vw4-ns { margin-left: var(--spacing-vw-large); }
    .ml-vw5-ns { margin-left: var(--spacing-vw-xl); }
    .ml-vw6-ns { margin-left: var(--spacing-vw-xxl); }
    .ml-vw7-ns { margin-left: var(--spacing-vw-xxxl); }
    .ml-vw8-ns { margin-left: var(--spacing-vw-xxxxl); }

    .mr0-ns {  margin-right: var(--spacing-none); }
    .mr1-ns {  margin-right: var(--spacing-extra-small); }
    .mr2-ns {  margin-right: var(--spacing-small); }
    .mr3-ns {  margin-right: var(--spacing-medium); }
    .mr4-ns {  margin-right: var(--spacing-large); }
    .mr5-ns {  margin-right: var(--spacing-xl); }
    .mr6-ns {  margin-right: var(--spacing-xxl); }
    .mr7-ns { margin-right: var(--spacing-xxxl); }
    .mr8-ns {  margin-right: var(--spacing-xxxxl); }
    .mr9-ns { margin-right: var(--spacing-xxxxxl); }

    .mr-vw1-ns { margin-right: var(--spacing-vw-extra-small); }
    .mr-vw2-ns { margin-right: var(--spacing-vw-small); }
    .mr-vw3-ns { margin-right: var(--spacing-vw-medium); }
    .mr-vw4-ns { margin-right: var(--spacing-vw-large); }
    .mr-vw5-ns { margin-right: var(--spacing-vw-xl); }
    .mr-vw6-ns { margin-right: var(--spacing-vw-xxl); }
    .mr-vw7-ns { margin-right: var(--spacing-vw-xxxl); }
    .mr-vw8-ns { margin-right: var(--spacing-vw-xxxxl); }

    .mb0-ns {  margin-bottom: var(--spacing-none); }
    .mb1-ns {  margin-bottom: var(--spacing-extra-small); }
    .mb2-ns {  margin-bottom: var(--spacing-small); }
    .mb3-ns {  margin-bottom: var(--spacing-medium); }
    .mb4-ns {  margin-bottom: var(--spacing-large); }
    .mb5-ns {  margin-bottom: var(--spacing-xl); }
    .mb6-ns {  margin-bottom: var(--spacing-xxl); }
    .mb7-ns { margin-bottom: var(--spacing-xxxl); }
    .mb8-ns {  margin-bottom: var(--spacing-xxxxl); }
    .mb9-ns { margin-bottom: var(--spacing-xxxxxl); }

    .mb-vw1-ns { margin-bottom: var(--spacing-vw-extra-small); }
    .mb-vw2-ns { margin-bottom: var(--spacing-vw-small); }
    .mb-vw3-ns { margin-bottom: var(--spacing-vw-medium); }
    .mb-vw4-ns { margin-bottom: var(--spacing-vw-large); }
    .mb-vw5-ns { margin-bottom: var(--spacing-vw-xl); }
    .mb-vw6-ns { margin-bottom: var(--spacing-vw-xxl); }
    .mb-vw7-ns { margin-bottom: var(--spacing-vw-xxxl); }
    .mb-vw8-ns { margin-bottom: var(--spacing-vw-xxxxl); }

    .mt0-ns {  margin-top: var(--spacing-none); }
    .mt1-ns {  margin-top: var(--spacing-extra-small); }
    .mt2-ns {  margin-top: var(--spacing-small); }
    .mt3-ns {  margin-top: var(--spacing-medium); }
    .mt4-ns {  margin-top: var(--spacing-large); }
    .mt5-ns {  margin-top: var(--spacing-xl); }
    .mt6-ns {  margin-top: var(--spacing-xxl); }
    .mt7-ns { margin-top: var(--spacing-xxxl); }
    .mt8-ns {  margin-top: var(--spacing-xxxxl); }
    .mt9-ns { margin-top: var(--spacing-xxxxxl); }

    .mt-vw1-ns { margin-top: var(--spacing-vw-extra-small); }
    .mt-vw2-ns { margin-top: var(--spacing-vw-small); }
    .mt-vw3-ns { margin-top: var(--spacing-vw-medium); }
    .mt-vw4-ns { margin-top: var(--spacing-vw-large); }
    .mt-vw5-ns { margin-top: var(--spacing-vw-xl); }
    .mt-vw6-ns { margin-top: var(--spacing-vw-xxl); }
    .mt-vw7-ns { margin-top: var(--spacing-vw-xxxl); }
    .mt-vw8-ns { margin-top: var(--spacing-vw-xxxxl); }
}

@media (--breakpoint-medium) {
    .pa0-m { padding: var(--spacing-none); }
    .pa1-m { padding: var(--spacing-extra-small); }
    .pa2-m { padding: var(--spacing-small); }
    .pa3-m { padding: var(--spacing-medium); }
    .pa4-m { padding: var(--spacing-large); }
    .pa5-m { padding: var(--spacing-xl); }
    .pa6-m { padding: var(--spacing-xxl); }
    .pa7-m { padding: var(--spacing-xxxl); }
    .pa8-m { padding: var(--spacing-xxxxl); }
    .pa9-m { padding: var(--spacing-xxxxxl); }

    .pr-vw1-m { padding-right: var(--spacing-vw-extra-small); }
    .pr-vw2-m { padding-right: var(--spacing-vw-small); }
    .pr-vw3-m { padding-right: var(--spacing-vw-medium); }
    .pr-vw4-m { padding-right: var(--spacing-vw-large); }
    .pr-vw5-m { padding-right: var(--spacing-vw-xl); }
    .pr-vw6-m { padding-right: var(--spacing-vw-xxl); }
    .pr-vw7-m { padding-right: var(--spacing-vw-xxxl); }
    .pr-vw8-m { padding-right: var(--spacing-vw-xxxxl); }

    .pl0-m { padding-left: var(--spacing-none); }
    .pl1-m { padding-left: var(--spacing-extra-small); }
    .pl2-m { padding-left: var(--spacing-small); }
    .pl3-m { padding-left: var(--spacing-medium); }
    .pl4-m { padding-left: var(--spacing-large); }
    .pl5-m { padding-left: var(--spacing-xl); }
    .pl6-m { padding-left: var(--spacing-xxl); }
    .pl7-m { padding-left: var(--spacing-xxxl); }
    .pl8-m { padding-left: var(--spacing-xxxxl); }
    .pl9-m { padding-left: var(--spacing-xxxxxl); }

    .pl-vw1-m { padding-left: var(--spacing-vw-extra-small); }
    .pl-vw2-m { padding-left: var(--spacing-vw-small); }
    .pl-vw3-m { padding-left: var(--spacing-vw-medium); }
    .pl-vw4-m { padding-left: var(--spacing-vw-large); }
    .pl-vw5-m { padding-left: var(--spacing-vw-xl); }
    .pl-vw6-m { padding-left: var(--spacing-vw-xxl); }
    .pl-vw7-m { padding-left: var(--spacing-vw-xxxl); }
    .pl-vw8-m { padding-left: var(--spacing-vw-xxxxl); }

    .pr0-m { padding-right: var(--spacing-none); }
    .pr1-m { padding-right: var(--spacing-extra-small); }
    .pr2-m { padding-right: var(--spacing-small); }
    .pr3-m { padding-right: var(--spacing-medium); }
    .pr4-m { padding-right: var(--spacing-large); }
    .pr5-m { padding-right: var(--spacing-xl); }
    .pr6-m { padding-right: var(--spacing-xxl); }
    .pr7-m { padding-right: var(--spacing-xxxl); }
    .pr8-m { padding-right: var(--spacing-xxxxl); }
    .pr9-m { padding-right: var(--spacing-xxxxxl); }

    .pr-vw1-m { padding-right: var(--spacing-vw-extra-small); }
    .pr-vw2-m { padding-right: var(--spacing-vw-small); }
    .pr-vw3-m { padding-right: var(--spacing-vw-medium); }
    .pr-vw4-m { padding-right: var(--spacing-vw-large); }
    .pr-vw5-m { padding-right: var(--spacing-vw-xl); }
    .pr-vw6-m { padding-right: var(--spacing-vw-xxl); }
    .pr-vw7-m { padding-right: var(--spacing-vw-xxxl); }
    .pr-vw8-m { padding-right: var(--spacing-vw-xxxxl); }

    .pb0-m { padding-bottom: var(--spacing-none); }
    .pb1-m { padding-bottom: var(--spacing-extra-small); }
    .pb2-m { padding-bottom: var(--spacing-small); }
    .pb3-m { padding-bottom: var(--spacing-medium); }
    .pb4-m { padding-bottom: var(--spacing-large); }
    .pb5-m { padding-bottom: var(--spacing-xl); }
    .pb6-m { padding-bottom: var(--spacing-xxl); }
    .pb7-m { padding-bottom: var(--spacing-xxxl); }
    .pb8-m { padding-bottom: var(--spacing-xxxxl); }
    .pb9-m { padding-bottom: var(--spacing-xxxxxl); }

    .pb-vw1-m { padding-bottom: var(--spacing-vw-extra-small); }
    .pb-vw2-m { padding-bottom: var(--spacing-vw-small); }
    .pb-vw3-m { padding-bottom: var(--spacing-vw-medium); }
    .pb-vw4-m { padding-bottom: var(--spacing-vw-large); }
    .pb-vw5-m { padding-bottom: var(--spacing-vw-xl); }
    .pb-vw6-m { padding-bottom: var(--spacing-vw-xxl); }
    .pb-vw7-m { padding-bottom: var(--spacing-vw-xxxl); }
    .pb-vw8-m { padding-bottom: var(--spacing-vw-xxxxl); }

    .pt0-m { padding-top: var(--spacing-none); }
    .pt1-m { padding-top: var(--spacing-extra-small); }
    .pt2-m { padding-top: var(--spacing-small); }
    .pt3-m { padding-top: var(--spacing-medium); }
    .pt4-m { padding-top: var(--spacing-large); }
    .pt5-m { padding-top: var(--spacing-xl); }
    .pt6-m { padding-top: var(--spacing-xxl); }
    .pt7-m { padding-top: var(--spacing-xxxl); }
    .pt8-m { padding-top: var(--spacing-xxxxl); }
    .pt9-m { padding-top: var(--spacing-xxxxxl); }

    .pt-vw1-m { padding-top: var(--spacing-vw-extra-small); }
    .pt-vw2-m { padding-top: var(--spacing-vw-small); }
    .pt-vw3-m { padding-top: var(--spacing-vw-medium); }
    .pt-vw4-m { padding-top: var(--spacing-vw-large); }
    .pt-vw5-m { padding-top: var(--spacing-vw-xl); }
    .pt-vw6-m { padding-top: var(--spacing-vw-xxl); }
    .pt-vw7-m { padding-top: var(--spacing-vw-xxxl); }
    .pt-vw8-m { padding-top: var(--spacing-vw-xxxxl); }

    .ma0-m {  margin: var(--spacing-none); }
    .ma1-m {  margin: var(--spacing-extra-small); }
    .ma2-m {  margin: var(--spacing-small); }
    .ma3-m {  margin: var(--spacing-medium); }
    .ma4-m {  margin: var(--spacing-large); }
    .ma5-m {  margin: var(--spacing-xl); }
    .ma6-m {  margin: var(--spacing-xxl); }
    .ma7-m { margin: var(--spacing-xxxl); }
    .ma8-m {  margin: var(--spacing-xxxxl); }
    .ma9-m { margin: var(--spacing-xxxxxl); }

    .ma-vw1-m { margin: var(--spacing-vw-extra-small); }
    .ma-vw2-m { margin: var(--spacing-vw-small); }
    .ma-vw3-m { margin: var(--spacing-vw-medium); }
    .ma-vw4-m { margin: var(--spacing-vw-large); }
    .ma-vw5-m { margin: var(--spacing-vw-xl); }
    .ma-vw6-m { margin: var(--spacing-vw-xxl); }
    .ma-vw7-m { margin: var(--spacing-vw-xxxl); }
    .ma-vw8-m { margin: var(--spacing-vw-xxxxl); }

    .ml0-m {  margin-left: var(--spacing-none); }
    .ml1-m {  margin-left: var(--spacing-extra-small); }
    .ml2-m {  margin-left: var(--spacing-small); }
    .ml3-m {  margin-left: var(--spacing-medium); }
    .ml4-m {  margin-left: var(--spacing-large); }
    .ml5-m {  margin-left: var(--spacing-xl); }
    .ml6-m {  margin-left: var(--spacing-xxl); }
    .ml7-m { margin-left: var(--spacing-xxxl); }
    .ml8-m {  margin-left: var(--spacing-xxxxl); }
    .ml9-m { margin-left: var(--spacing-xxxxxl); }

    .ml-vw1-m { margin-left: var(--spacing-vw-extra-small); }
    .ml-vw2-m { margin-left: var(--spacing-vw-small); }
    .ml-vw3-m { margin-left: var(--spacing-vw-medium); }
    .ml-vw4-m { margin-left: var(--spacing-vw-large); }
    .ml-vw5-m { margin-left: var(--spacing-vw-xl); }
    .ml-vw6-m { margin-left: var(--spacing-vw-xxl); }
    .ml-vw7-m { margin-left: var(--spacing-vw-xxxl); }
    .ml-vw8-m { margin-left: var(--spacing-vw-xxxxl); }

    .mr0-m {  margin-right: var(--spacing-none); }
    .mr1-m {  margin-right: var(--spacing-extra-small); }
    .mr2-m {  margin-right: var(--spacing-small); }
    .mr3-m {  margin-right: var(--spacing-medium); }
    .mr4-m {  margin-right: var(--spacing-large); }
    .mr5-m {  margin-right: var(--spacing-xl); }
    .mr6-m {  margin-right: var(--spacing-xxl); }
    .mr7-m { margin-right: var(--spacing-xxxl); }
    .mr8-m {  margin-right: var(--spacing-xxxxl); }
    .mr9-m { margin-right: var(--spacing-xxxxxl); }

    .mr-vw1-m { margin-right: var(--spacing-vw-extra-small); }
    .mr-vw2-m { margin-right: var(--spacing-vw-small); }
    .mr-vw3-m { margin-right: var(--spacing-vw-medium); }
    .mr-vw4-m { margin-right: var(--spacing-vw-large); }
    .mr-vw5-m { margin-right: var(--spacing-vw-xl); }
    .mr-vw6-m { margin-right: var(--spacing-vw-xxl); }
    .mr-vw7-m { margin-right: var(--spacing-vw-xxxl); }
    .mr-vw8-m { margin-right: var(--spacing-vw-xxxxl); }

    .mb0-m {  margin-bottom: var(--spacing-none); }
    .mb1-m {  margin-bottom: var(--spacing-extra-small); }
    .mb2-m {  margin-bottom: var(--spacing-small); }
    .mb3-m {  margin-bottom: var(--spacing-medium); }
    .mb4-m {  margin-bottom: var(--spacing-large); }
    .mb5-m {  margin-bottom: var(--spacing-xl); }
    .mb6-m {  margin-bottom: var(--spacing-xxl); }
    .mb7-m { margin-bottom: var(--spacing-xxxl); }
    .mb8-m {  margin-bottom: var(--spacing-xxxxl); }
    .mb9-m { margin-bottom: var(--spacing-xxxxxl); }

    .mb-vw1-m { margin-bottom: var(--spacing-vw-extra-small); }
    .mb-vw2-m { margin-bottom: var(--spacing-vw-small); }
    .mb-vw3-m { margin-bottom: var(--spacing-vw-medium); }
    .mb-vw4-m { margin-bottom: var(--spacing-vw-large); }
    .mb-vw5-m { margin-bottom: var(--spacing-vw-xl); }
    .mb-vw6-m { margin-bottom: var(--spacing-vw-xxl); }
    .mb-vw7-m { margin-bottom: var(--spacing-vw-xxxl); }
    .mb-vw8-m { margin-bottom: var(--spacing-vw-xxxxl); }

    .mt0-m {  margin-top: var(--spacing-none); }
    .mt1-m {  margin-top: var(--spacing-extra-small); }
    .mt2-m {  margin-top: var(--spacing-small); }
    .mt3-m {  margin-top: var(--spacing-medium); }
    .mt4-m {  margin-top: var(--spacing-large); }
    .mt5-m {  margin-top: var(--spacing-xl); }
    .mt6-m {  margin-top: var(--spacing-xxl); }
    .mt7-m { margin-top: var(--spacing-xxxl); }
    .mt8-m {  margin-top: var(--spacing-xxxxl); }
    .mt9-m { margin-top: var(--spacing-xxxxxl); }

    .mt-vw1-m { margin-top: var(--spacing-vw-extra-small); }
    .mt-vw2-m { margin-top: var(--spacing-vw-small); }
    .mt-vw3-m { margin-top: var(--spacing-vw-medium); }
    .mt-vw4-m { margin-top: var(--spacing-vw-large); }
    .mt-vw5-m { margin-top: var(--spacing-vw-xl); }
    .mt-vw6-m { margin-top: var(--spacing-vw-xxl); }
    .mt-vw7-m { margin-top: var(--spacing-vw-xxxl); }
    .mt-vw8-m { margin-top: var(--spacing-vw-xxxxl); }
}

@media (--breakpoint-large) {
    .pa0-l { padding: var(--spacing-none); }
    .pa1-l { padding: var(--spacing-extra-small); }
    .pa2-l { padding: var(--spacing-small); }
    .pa3-l { padding: var(--spacing-medium); }
    .pa4-l { padding: var(--spacing-large); }
    .pa5-l { padding: var(--spacing-xl); }
    .pa6-l { padding: var(--spacing-xxl); }
    .pa7-l { padding: var(--spacing-xxxl); }
    .pa8-l { padding: var(--spacing-xxxxl); }
    .pa9-l { padding: var(--spacing-xxxxxl); }

    .pr-vw1-l { padding-right: var(--spacing-vw-extra-small); }
    .pr-vw2-l { padding-right: var(--spacing-vw-small); }
    .pr-vw3-l { padding-right: var(--spacing-vw-medium); }
    .pr-vw4-l { padding-right: var(--spacing-vw-large); }
    .pr-vw5-l { padding-right: var(--spacing-vw-xl); }
    .pr-vw6-l { padding-right: var(--spacing-vw-xxl); }
    .pr-vw7-l { padding-right: var(--spacing-vw-xxxl); }
    .pr-vw8-l { padding-right: var(--spacing-vw-xxxxl); }

    .pl0-l { padding-left: var(--spacing-none); }
    .pl1-l { padding-left: var(--spacing-extra-small); }
    .pl2-l { padding-left: var(--spacing-small); }
    .pl3-l { padding-left: var(--spacing-medium); }
    .pl4-l { padding-left: var(--spacing-large); }
    .pl5-l { padding-left: var(--spacing-xl); }
    .pl6-l { padding-left: var(--spacing-xxl); }
    .pl7-l { padding-left: var(--spacing-xxxl); }
    .pl8-l { padding-left: var(--spacing-xxxxl); }
    .pl9-l { padding-left: var(--spacing-xxxxxl); }

    .pl-vw1-l { padding-left: var(--spacing-vw-extra-small); }
    .pl-vw2-l { padding-left: var(--spacing-vw-small); }
    .pl-vw3-l { padding-left: var(--spacing-vw-medium); }
    .pl-vw4-l { padding-left: var(--spacing-vw-large); }
    .pl-vw5-l { padding-left: var(--spacing-vw-xl); }
    .pl-vw6-l { padding-left: var(--spacing-vw-xxl); }
    .pl-vw7-l { padding-left: var(--spacing-vw-xxxl); }
    .pl-vw8-l { padding-left: var(--spacing-vw-xxxxl); }

    .pr0-l { padding-right: var(--spacing-none); }
    .pr1-l { padding-right: var(--spacing-extra-small); }
    .pr2-l { padding-right: var(--spacing-small); }
    .pr3-l { padding-right: var(--spacing-medium); }
    .pr4-l { padding-right: var(--spacing-large); }
    .pr5-l { padding-right: var(--spacing-xl); }
    .pr6-l { padding-right: var(--spacing-xxl); }
    .pr7-l { padding-right: var(--spacing-xxxl); }
    .pr8-l { padding-right: var(--spacing-xxxxl); }
    .pr9-l { padding-right: var(--spacing-xxxxxl); }

    .pr-vw1-l { padding-right: var(--spacing-vw-extra-small); }
    .pr-vw2-l { padding-right: var(--spacing-vw-small); }
    .pr-vw3-l { padding-right: var(--spacing-vw-medium); }
    .pr-vw4-l { padding-right: var(--spacing-vw-large); }
    .pr-vw5-l { padding-right: var(--spacing-vw-xl); }
    .pr-vw6-l { padding-right: var(--spacing-vw-xxl); }
    .pr-vw7-l { padding-right: var(--spacing-vw-xxxl); }
    .pr-vw8-l { padding-right: var(--spacing-vw-xxxxl); }

    .pb0-l { padding-bottom: var(--spacing-none); }
    .pb1-l { padding-bottom: var(--spacing-extra-small); }
    .pb2-l { padding-bottom: var(--spacing-small); }
    .pb3-l { padding-bottom: var(--spacing-medium); }
    .pb4-l { padding-bottom: var(--spacing-large); }
    .pb5-l { padding-bottom: var(--spacing-xl); }
    .pb6-l { padding-bottom: var(--spacing-xxl); }
    .pb7-l { padding-bottom: var(--spacing-xxxl); }
    .pb8-l { padding-bottom: var(--spacing-xxxxl); }
    .pb9-l { padding-bottom: var(--spacing-xxxxxl); }

    .pb-vw1-l { padding-bottom: var(--spacing-vw-extra-small); }
    .pb-vw2-l { padding-bottom: var(--spacing-vw-small); }
    .pb-vw3-l { padding-bottom: var(--spacing-vw-medium); }
    .pb-vw4-l { padding-bottom: var(--spacing-vw-large); }
    .pb-vw5-l { padding-bottom: var(--spacing-vw-xl); }
    .pb-vw6-l { padding-bottom: var(--spacing-vw-xxl); }
    .pb-vw7-l { padding-bottom: var(--spacing-vw-xxxl); }
    .pb-vw8-l { padding-bottom: var(--spacing-vw-xxxxl); }

    .pt0-l { padding-top: var(--spacing-none); }
    .pt1-l { padding-top: var(--spacing-extra-small); }
    .pt2-l { padding-top: var(--spacing-small); }
    .pt3-l { padding-top: var(--spacing-medium); }
    .pt4-l { padding-top: var(--spacing-large); }
    .pt5-l { padding-top: var(--spacing-xl); }
    .pt6-l { padding-top: var(--spacing-xxl); }
    .pt7-l { padding-top: var(--spacing-xxxl); }
    .pt8-l { padding-top: var(--spacing-xxxxl); }
    .pt9-l { padding-top: var(--spacing-xxxxxl); }

    .pt-vw1-l { padding-top: var(--spacing-vw-extra-small); }
    .pt-vw2-l { padding-top: var(--spacing-vw-small); }
    .pt-vw3-l { padding-top: var(--spacing-vw-medium); }
    .pt-vw4-l { padding-top: var(--spacing-vw-large); }
    .pt-vw5-l { padding-top: var(--spacing-vw-xl); }
    .pt-vw6-l { padding-top: var(--spacing-vw-xxl); }
    .pt-vw7-l { padding-top: var(--spacing-vw-xxxl); }
    .pt-vw8-l { padding-top: var(--spacing-vw-xxxxl); }

    .ma0-l {  margin: var(--spacing-none); }
    .ma1-l {  margin: var(--spacing-extra-small); }
    .ma2-l {  margin: var(--spacing-small); }
    .ma3-l {  margin: var(--spacing-medium); }
    .ma4-l {  margin: var(--spacing-large); }
    .ma5-l {  margin: var(--spacing-xl); }
    .ma6-l {  margin: var(--spacing-xxl); }
    .ma7-l { margin: var(--spacing-xxxl); }
    .ma8-l {  margin: var(--spacing-xxxxl); }
    .ma9-l { margin: var(--spacing-xxxxxl); }

    .ma-vw1-l { margin: var(--spacing-vw-extra-small); }
    .ma-vw2-l { margin: var(--spacing-vw-small); }
    .ma-vw3-l { margin: var(--spacing-vw-medium); }
    .ma-vw4-l { margin: var(--spacing-vw-large); }
    .ma-vw5-l { margin: var(--spacing-vw-xl); }
    .ma-vw6-l { margin: var(--spacing-vw-xxl); }
    .ma-vw7-l { margin: var(--spacing-vw-xxxl); }
    .ma-vw8-l { margin: var(--spacing-vw-xxxxl); }

    .ml0-l {  margin-left: var(--spacing-none); }
    .ml1-l {  margin-left: var(--spacing-extra-small); }
    .ml2-l {  margin-left: var(--spacing-small); }
    .ml3-l {  margin-left: var(--spacing-medium); }
    .ml4-l {  margin-left: var(--spacing-large); }
    .ml5-l {  margin-left: var(--spacing-xl); }
    .ml6-l {  margin-left: var(--spacing-xxl); }
    .ml7-l { margin-left: var(--spacing-xxxl); }
    .ml8-l {  margin-left: var(--spacing-xxxxl); }
    .ml9-l { margin-left: var(--spacing-xxxxxl); }

    .ml-vw1-l { margin-left: var(--spacing-vw-extra-small); }
    .ml-vw2-l { margin-left: var(--spacing-vw-small); }
    .ml-vw3-l { margin-left: var(--spacing-vw-medium); }
    .ml-vw4-l { margin-left: var(--spacing-vw-large); }
    .ml-vw5-l { margin-left: var(--spacing-vw-xl); }
    .ml-vw6-l { margin-left: var(--spacing-vw-xxl); }
    .ml-vw7-l { margin-left: var(--spacing-vw-xxxl); }
    .ml-vw8-l { margin-left: var(--spacing-vw-xxxxl); }

    .mr0-l {  margin-right: var(--spacing-none); }
    .mr1-l {  margin-right: var(--spacing-extra-small); }
    .mr2-l {  margin-right: var(--spacing-small); }
    .mr3-l {  margin-right: var(--spacing-medium); }
    .mr4-l {  margin-right: var(--spacing-large); }
    .mr5-l {  margin-right: var(--spacing-xl); }
    .mr6-l {  margin-right: var(--spacing-xxl); }
    .mr7-l { margin-right: var(--spacing-xxxl); }
    .mr8-l {  margin-right: var(--spacing-xxxxl); }
    .mr9-l { margin-right: var(--spacing-xxxxxl); }

    .mr-vw1-l { margin-right: var(--spacing-vw-extra-small); }
    .mr-vw2-l { margin-right: var(--spacing-vw-small); }
    .mr-vw3-l { margin-right: var(--spacing-vw-medium); }
    .mr-vw4-l { margin-right: var(--spacing-vw-large); }
    .mr-vw5-l { margin-right: var(--spacing-vw-xl); }
    .mr-vw6-l { margin-right: var(--spacing-vw-xxl); }
    .mr-vw7-l { margin-right: var(--spacing-vw-xxxl); }
    .mr-vw8-l { margin-right: var(--spacing-vw-xxxxl); }

    .mb0-l {  margin-bottom: var(--spacing-none); }
    .mb1-l {  margin-bottom: var(--spacing-extra-small); }
    .mb2-l {  margin-bottom: var(--spacing-small); }
    .mb3-l {  margin-bottom: var(--spacing-medium); }
    .mb4-l {  margin-bottom: var(--spacing-large); }
    .mb5-l {  margin-bottom: var(--spacing-xl); }
    .mb6-l {  margin-bottom: var(--spacing-xxl); }
    .mb7-l { margin-bottom: var(--spacing-xxxl); }
    .mb8-l {  margin-bottom: var(--spacing-xxxxl); }
    .mb9-l { margin-bottom: var(--spacing-xxxxxl); }

    .mb-vw1-l { margin-bottom: var(--spacing-vw-extra-small); }
    .mb-vw2-l { margin-bottom: var(--spacing-vw-small); }
    .mb-vw3-l { margin-bottom: var(--spacing-vw-medium); }
    .mb-vw4-l { margin-bottom: var(--spacing-vw-large); }
    .mb-vw5-l { margin-bottom: var(--spacing-vw-xl); }
    .mb-vw6-l { margin-bottom: var(--spacing-vw-xxl); }
    .mb-vw7-l { margin-bottom: var(--spacing-vw-xxxl); }
    .mb-vw8-l { margin-bottom: var(--spacing-vw-xxxxl); }

    .mt0-l {  margin-top: var(--spacing-none); }
    .mt1-l {  margin-top: var(--spacing-extra-small); }
    .mt2-l {  margin-top: var(--spacing-small); }
    .mt3-l {  margin-top: var(--spacing-medium); }
    .mt4-l {  margin-top: var(--spacing-large); }
    .mt5-l {  margin-top: var(--spacing-xl); }
    .mt6-l {  margin-top: var(--spacing-xxl); }
    .mt7-l { margin-top: var(--spacing-xxxl); }
    .mt8-l {  margin-top: var(--spacing-xxxxl); }
    .mt9-l { margin-top: var(--spacing-xxxxxl); }

    .mt-vw1-l { margin-top: var(--spacing-vw-extra-small); }
    .mt-vw2-l { margin-top: var(--spacing-vw-small); }
    .mt-vw3-l { margin-top: var(--spacing-vw-medium); }
    .mt-vw4-l { margin-top: var(--spacing-vw-large); }
    .mt-vw5-l { margin-top: var(--spacing-vw-xl); }
    .mt-vw6-l { margin-top: var(--spacing-vw-xxl); }
    .mt-vw7-l { margin-top: var(--spacing-vw-xxxl); }
    .mt-vw8-l { margin-top: var(--spacing-vw-xxxxl); }
}
